[2018-07-09 19:15] ikke-t commented on #1559
Perhaps this discussion should be in the new issue I opened, as this one is closed already.

[2018-07-09 19:23] ikke-t commented on #2046
Somehow there is error in this playbook: https://github.com/ansible/awx/blob/devel/awx/playbooks/project_update.yml#L141

All repos in same ssh server under directory git/ do work from command line ansible-galaxy with the very same key. Within AWX, the ansible-galaxy run happens without the key, I suspect.

[2018-07-09 20:10] ryanpetrello opened #2056 "Introduce a restrictive Content Security Policy"
Add a restrictive Content-Security-Policy (https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) to awx to drastically reduce the surface area for a wide variety of in-browser security issues.

This is **really easy** to do on the backend:

[code]

It's _hard_ on the front-end, because we'd need to identify any place we (or third-party libraries) inject inline JS and CSS.

Current roadblocks **ma

[2018-07-09 20:19] LukeShortCloud opened #2057 "RFE: Provide CSV Format for Job Output"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Job stdout at `api/v2/jobs/$JOB_ID/stdout/` can be exported to text, ansi, html, and json. Job events at `/api/v2/jobs/$JOB_ID/job_events/` are even more limited by only being able to report back as JSON. My client is looking to utilize Ansible Tower as a full replacement for HPSA and is seeking the ability to have

[2018-07-09 20:39] wenottingham commented on #2057
There is no 'CSV' format for the job output from Ansible, and we would not invent a specific one to use; we would not be doing this.

If they are only interested in certain subsets of job data, there are a variety of options;
- use the API for job events; filter only the information they need from that json (converting as necessary)
- use the log streaming for job events; filter only the informati

[2018-07-09 20:39] #2057 closed, assigned to nobody

[2018-07-10 05:03] Ompragash opened #2058 "Option to organize Job Templates hierarchically by groups and tags"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

The Job Templates page should be more user friendly and there should be a way to visually grouping all of them. Currently the `Labels` in job templates can be used as a tags. But an optional and additional hierarchy organization would be helpful.

It would be nice to organize the templates in the following ways:

- Hier

[2018-07-10 07:10] stefanoabbate commented on #2058
I would be happy to provide some test cases!

[2018-07-10 07:24] stefanoabbate commented on #20
I was looking for the same thing! This would be good to retrieve previously data stored by an AWX job.

[2018-07-10 08:50] kefiras commented on #2048
@ryanpetrello Ok thanks for update. For the time being documentation upgrade should be enough I assume :)

[2018-07-10 10:02] akcrisp commented on #2038
Hmmm so what’s not covered by that is the awx logger - is this what was called job_status?

As we now have -

awx, activity_stream, job_events, system_tracking

The doc references -

job_status, activity_stream, job_events, system_tracking

Sent from my iPhone

[2018-07-10 11:37] AlanCoding commented on #2038
yeah, that was a latter addition and the doc just needs to be updated.

the awx logger includes logs that would normally be written to a file. It contains the standard metadata that all logs have, but other than that it only has the message from the log statement.

[2018-07-10 12:41] wenottingham commented on #2058
FYI - Hierarchically - this can be done via the projects tab. Grouping can be done currently by labels.

[2018-07-10 14:39] akcrisp commented on #2038
When you say logged to a file - would that be messages that include security data that might go in /var/log/messages or secure ?

Ultimately I need to know if I want to capture all security related events is it sufficient just to log activity_stream ?

Sent from my iPhone

[2018-07-10 19:04] #686 closed, assigned to nobody

[2018-07-10 20:20] JSkier21 commented on #1861
Seeing this as well with AWX 1.0.6.25 and Asnible 2.6.1.

EDIT: 1.0.6.1 also seems to not work.

Any page requested like this never completely loads and is blank: https://awx/jobs/playbook/8

Playbooks do actually run (and sometimes fail) which works fine for notifications.

[2018-07-10 21:07] mhurron opened #2060 "Attempting to log on with a LDAP user simply logs a 401 error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Attempting to log on with a LDAP user simply logs a 401 error. Logging in with a locally defined user works.

- "POST /api/login/ HTTP/1.1" 401 5879 "https://host.domain.com/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_5) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/11.1.1 Safari/605.1.15"

##### ENVIRONMENT
*

[2018-07-11 07:36] verwilst opened #2061 ""Invalid search term entered. GET returned: -1" when clicking job."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

"Invalid search term entered. GET returned: -1" when clicking on a job title on http://.../#/jobs?job_search=page_size:20;order_by:-finished;not__launch_type:sync

##### ENVIRONMENT
* AWX version: latest docker image, according to https://hub.docker.com/r/ansible/awx_task/tags/, it's version 1.0.6.25.
* AWX install method:

[2018-07-11 17:44] chuegel commented on #631
Same issue here.

[code]

[2018-07-11 23:36] roostercactus commented on #2041
I was getting the same create_host_config() error as well when following the normal install guide.

But if you just 'pip install docker' and not docker-py it seems to work fine.  I guess whatever they need docker-py for is also provided by just docker?  I didn't test much though other than it comes up fine and I can login as admin.  Not sure what the longer term ramifications are from not having d

[2018-07-12 09:35] HSGiGa commented on #2061
Hi.
I've had the same issue.
It happened because my AWS is proxied via nginx.
Here you can read the explanation: https://www.nginx.com/blog/websocket-nginx/.
So I've added two strings to my nginx settings:
[code]
Hope it will help for you.

[2018-07-12 10:31] flynn1973 opened #2063 "standard_init_linux.go:178: exec user process caused "exec format error""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
after install the following comes up in the logs ->

root@lpgaixmgmtlx01:/root/awx>docker logs -f awx_task
standard_init_linux.go:178: exec user process caused "exec format error"
standard_init_linux.go:178: exec user process caused "exec format error"
standard_init_linux.go:178: exec user process caused "exec format

[2018-07-12 13:40] flynn1973 commented on #2063
little update, dont know if this of some importance...

when i kill the rabbitmq container, the ports on the two awx container at least showing up.

[code]

the restart loops are still there anyway...

[2018-07-12 14:06] wenottingham commented on #2063
If you're using the prebuilt images on ppc64le... that's not going to work. (Are you sure you pulled the proper architecture images for the dependencies?). If you built the images yourself... something was broken in your build.

In any case, this doesn't appear to be an AWX issue itself.

[2018-07-12 14:06] #2063 closed, assigned to nobody

[2018-07-12 14:09] flynn1973 commented on #2063
yes i've used the prebuild images, was not aware they are not portable.

[2018-07-12 16:03] ghost commented on #1861
Same behavior, but not seeing any of the errors others. Also, restarting the pod doesn't fix the issue for any amount of time. It looks like I'm just being sent back to the jobs list page.
[code]

AWX 1.0.6.17 Ansible 2.5.5 running on Kubernetes

[2018-07-12 18:17] Hokonoken opened #2064 "TASK [local_docker : Activate postgres container] Failed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
  - Installer

##### SUMMARY
TASK [local_docker : Activate postgres container] Failed

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: docker
* Ansible version:  2.6
* Operating System:CENTOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE
its a fresh installation.
i copy all my clipboard from the begin.

##### EXPECTED RESULTS

#

[2018-07-12 18:20] Hokonoken commented on #2064
i have exactly the same with Fedora 28 Server Up to date.
i do not know why ...
please help me.

regards,

Hoko

[2018-07-12 18:22] Hokonoken commented on #2064
TASK [local_docker : Activate postgres container] *******************************************************************************************************************************************************************************************
task path: /home/vagrant/awx/installer/roles/local_docker/tasks/standalone.yml:2
<localhost> ESTABLISH LOCAL CONNECTION FOR USER: root
<localhost> EXEC /bin/sh -c

[2018-07-12 19:26] RobertGwilliam commented on #1731
I would emphasise the ability to prompt on launch for INVENTORY - This increases the power of workflows significantly.

[2018-07-12 20:04] justnems commented on #989
@Aethylred We're happy to provide you a fully-featured eval license to Tower. AWX is upstream, and not really the thing you'd want to use to eval whether or not you'd want to potentially use Tower. It's great that you're interested in Tower, and we'd love to help you eval it by sending you a license. Just email us at info@ansible.com, and we can send you one.

[2018-07-13 06:26] Unterstrichmoepunterstrich opened #2065 "local Docker issue in postgres (auth_user_username_key)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: last checkout few days ago: commit 07ddfe2c9c15fbec28ce40bb8c91051842a4a0f1 (HEAD -> devel, origin/devel, origin/HEAD)
* AWX install method: docker on linux
* Ansible version:  2.5.1
* Operating System: Ubuntu 18.04
* Web Browser: Chromium

##### STEPS TO REPRODUCE

I installed

[2018-07-13 08:28] ffung commented on #282
+1 for this feature
we have a ci/cd setup for ansible projects.
The Ansible code in a project is checked (basically linting) in CI and released via a tag. We want to trigger a **specific** tag and/or commit-id after the build has run successfully and promote the code across environments.

[2018-07-13 08:31] flynn1973 opened #2066 "Error creating container: 400 Client Error: Bad Request ("invalid reference format")"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
while trying to build image for linux ppc64le the following comes up.

[code]

image is built ok imho

[code]

##### ENVIRONMENT
* AWX version: 1.0.6-339-g07ddfe2
* AWX install method:  docker on linux
* Ansible version:  2.6
* Operating System: RedHat 7.4 ppc64le
* Web Browser: Firefox

##### STEPS TO REPRODUCE

ansi

[2018-07-13 10:10] toninis opened #2067 "Issue with payload on API Job template with list vars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
I have an issue with a job launch template via the API call.
When you cURL a json template with survey **list** variable it is ignored.

##### ENVIRONMENT
* AWX version: 1.0.6.11
* AWX install method: docker
* Ansible version:  2.5.3
* Operating System: Ubuntu 16.04 LTS
* Web Browser: Firefox 61.0.1 (64-bit)

##### STEPS TO

[2018-07-13 10:20] toninis commented on #2067
When I sent the same payload on the build-in API page it works.
Is it something withe the headers or the encoding ?

[2018-07-13 12:19] ypismerov commented on #1980
I am curious when the fix will be finally committed. I can confirm the problem persists.

[2018-07-13 16:47] sumkincpp commented on #556
👍

[2018-07-13 17:44] roostercactus commented on #2041
Also reverting back to ansible 2.5.x on the install host seems to work.  This allows you to use docker-py again as well.  Using ansible 2.5.3-1 to launch the installer runs with no issues (that I can tell).

Since EPEL has already replaced the 2.5.x RPM with 2.6.x you can get the older one here:

ftp://mirror.switch.ch/pool/4/mirror/centos/7.5.1804/virt/x86_64/ovirt-4.2/common/ansible-2.5.3-1.el7.

[2018-07-13 17:53] roostercactus commented on #2064
See issue #2041 for two workarounds.

[2018-07-15 01:18] AlanCoding opened #3829 "Clicking on another project (different page) does not retain pagination context"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Navigating away from one project to another can lose the current page, under certain circumstances

##### STEPS TO REPRODUCE

In my setup, I have 16 pages of projects

 - navigate to page 5, and click on one of the projects on this page
 - without X-ing the current project's edit window, I click on page 6 (the edit window re

[2018-07-15 11:00] freemanlutsk commented on #2041
I've resolved it with:
(on the remote machine)
[code]
[code]

[2018-07-15 21:21] mhurron commented on #2060
After a little digging it appears that the authentication failure is occurring at sso/backends.py https://github.com/mhurron/awx/blob/a98367f4ac8845ff975a910dabdaf666f8e405d5/awx/sso/backends.py#L104-L106

[code]

Logging in as a valid LDAP user is creating the user and profile in Django, but not filling in the ldap_dn property.

[2018-07-16 11:40] flynn1973 commented on #2066
switched on debugging for dockerd and it seems the image name is garbled. should be "Image\":\"awx_sdist_builder:{{awx_version}\" but sowmhow awx_version is not working/defined.
switched to latest in main.yml and it seems to run over the mentioned error.
any hints on this awx_version thing?

[code]

[2018-07-16 13:53] chrismeyersfsu commented on #2066
Architecture not supported.

[2018-07-16 13:53] #2066 closed, assigned to nobody

[2018-07-16 13:55] flynn1973 commented on #2066
are you kidding, this is a official paid redhat product?

[2018-07-16 13:58] chrismeyersfsu commented on #2066
You're thinking of Ansible Tower https://www.ansible.com/products/tower

[2018-07-16 14:05] flynn1973 commented on #2066
it was a  reference to the ppc64el distribution, which is still actively sold by redhat. but i already got it, everthing which is not absolutly mainstream is simply not supported.  Kudos!

[2018-07-16 14:06] matburt commented on #2066
Nothing is supported on AWX, if it doesn't work and it's outside of our resources then you are on your own.

[2018-07-16 14:12] chrismeyersfsu commented on #2065
@Unterstrichmoepunterstrich https://github.com/ansible/awx/blob/devel/DATA_MIGRATION.md Upgrading via Django migrations isn't expected to work. Especially when going to devel vs. a point release.

[2018-07-16 14:12] #2065 closed, assigned to nobody

[2018-07-16 14:16] chrismeyersfsu commented on #2064
@Hokonoken did changing your version of `docker-py` or `docker` work?

[2018-07-16 14:20] #2039 closed, assigned to nobody

[2018-07-16 14:44] jakemcdermott commented on #1890
It's suitable for the purposes of development, testing, and iteration. `postgres_data_dir` (and other) variables are specifically identified in the installation guide for AWX, which recommends that you change these configuration variables for your particular use case. If you intend to use AWX for production you should really be using an external database, at which point you'd still need to update

[2018-07-16 14:44] #1890 closed, assigned to matburt

[2018-07-16 14:48] jakemcdermott commented on #2061
Hello Verwilst, thanks for filing this issue.

Did the above solution work for you? Please give it a try and re-open this issue if it does not resolve the problem. Thank you!

[2018-07-16 14:48] #2061 closed, assigned to nobody

[2018-07-16 14:51] jakemcdermott commented on #2022
Hi nyasu1111, you can get the container image version from within a running container using an `awx-manage` command:

[code]

[2018-07-16 14:51] #2022 closed, assigned to nobody

[2018-07-16 14:53] chrismeyersfsu commented on #1900
@hnagireddygari There is a public ldap server that I use for testing. Visit the tower browsable api via https://your_tower_server/api/v2/settings/ldap/ and patch the following payload. You can then login to tower using `riemann` / `password`. There are other test users associated with this LDAP server also https://www.forumsys.com/tutorials/integration-how-to/ldap/online-ldap-test-server/ Once you

[2018-07-16 14:56] jakemcdermott commented on #1936
hi apremalal,

Thanks for making this issue. As jlozadad pointed out - when using awx you'll want to configure your remote user in awx via the fields on your credential or using extra variables associated with the job template, inventory, host, etc (ex: `ansible_user` variable).

If you give this a try it should work. If you're still having trouble I encourage you to create a message on our awx co

[2018-07-16 14:56] #1936 closed, assigned to nobody

[2018-07-16 15:00] jakemcdermott commented on #1883
Hi glenpekarcsik,

Thanks for creating this issue. I'm closing this as it is a duplicate of the issues mentioned above: #1877 #1855. The status of this will be tracked on those issues.

[2018-07-16 15:00] #1883 closed, assigned to nobody

[2018-07-16 15:03] jakemcdermott commented on #1980
Hey ypismerov - This appears to be an issue with your job template or credential configuration. For community support on issues like these, you should reach out to our awx mailing list or find us on IRC - (see the "where can I find support" section here: https://www.ansible.com/products/awx-project/faq).

[2018-07-16 15:03] #1980 closed, assigned to nobody

[2018-07-16 15:10] jakemcdermott commented on #1990
Hello Najeongho,

Thanks for creating this issue. Since this is a question about configuration and not a bug, you should reach out to our community mailing list or join our IRC channel. (see the 'where can I find support for awx' here: https://www.ansible.com/products/awx-project/faq).

[2018-07-16 15:10] #1990 closed, assigned to nobody

[2018-07-16 15:14] jakemcdermott commented on #1917
Hi doves99 - that variable (and others) can be configured in the `inventory` file used by the installer.

If you have questions, please reach out to our community mailing list or join us on IRC. Thanks!

[2018-07-16 15:14] #1917 closed, assigned to nobody

[2018-07-16 16:09] roostercactus commented on #2041
Is anyone else having issues using the workaround of installing docker instead of docker-py?  It works fine until I reboot the host (docker host)...then AWX won't come up.  The docker containers start...but I can't access the login page.  It just times out.  If I keep rebooting over and over it works every once in a while.

I get the same behavior using the older 2.5 version of ansible with docker

[2018-07-16 17:02] jakemcdermott commented on #2041
@roostercactus What you're describing doesn't sound related to this specific issue. Double-check that you've configured your `postgres_data_dir`installation variable to use a directory that persists on reboot.

[2018-07-16 17:06] jakemcdermott commented on #2041
If I'm following this thread correctly I _think_ this issue is resolved by making sure your docker-ce, docker-py (or, alternatively docker-compose if you're using that method) are up-to-date. I'm closing this issue for now but please re-open if you're still seeing this.

[2018-07-16 17:06] #2041 closed, assigned to nobody

[2018-07-16 18:22] ypismerov commented on #1980
I doubt it is specific to what you said since the very same
template/playbook works just fine in Ansible Tower.

On Mon, Jul 16, 2018 at 11:03 AM Jake McDermott <notifications@github.com>
wrote:

--
   YP

[2018-07-16 20:42] wenottingham opened #2070 "RFE: Consider fronting/wizarding inventory creation from credentials"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

We allow users to enter AWS, GCE, etc. credentials into AWX.

One of the immediate usecases for these credentials is to create an inventory with a source configured with those credentials.

We should automate (ha!) this creation to avoid drudgery.

##### ENVIRONMENT
* AWX version: any

##### ADDITIONAL INFORMATION

[2018-07-16 23:21] racl101 commented on #1798
I had this same issue whereby I kept my AWS credentials (`access_key` and `secret_key`)  in a `vars/secret.yml` file but it wasn't explicity included in my `tasks/main.yml` even though it included my `vars/main.yml` automatically.  To fix this I had to add this task at the beginning of `tasks/main.yml`:

    - name: include secret
      include_vars: ../vars/secret.yml

**And that fixed it.**

[2018-07-17 07:10] juame opened #2071 "Inventory Sync fails when role has no meta/main.yml"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Inventory Sync fails when there's a role in `roles/requirements.yml` without meta information.

##### ENVIRONMENT
* AWX version: 1.0.6.11
* AWX install method: docker on linux
* Ansible version:  2.5.3
* Operating System: Docker on RedHat
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Create role and push it to a git

[2018-07-17 11:30] AlanCoding commented on #2071
could you navigate to `/api/v2/project_updates/904/stdout/` and give the output there? There is supposed to be a clickable link to this in the job details page, but I don't see this link in your case.

[2018-07-17 12:46] ghost commented on #760
@ryanpetrello Just to follow up on this, I fixed our problem with SSH proxying through our jump host by editing /etc/ssh/ssh_config in the AWX task container and adding our Ansible user account to the config file. Thanks!

[2018-07-17 15:30] cesarfn4 opened #2072 "Job scheduled on unreachable Isolated Node is stuck in running state and doesn't fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
When you run a job through an isolated node which is unreachable, it remains in running status indefinitely.

##### ENVIRONMENT
* AWX version: latest

##### STEPS TO REPRODUCE
1. Install Tower + Isolated node
2. On the Isolated node, add the IP address of the Tower node in the "/etc/hosts.deny" file to deny connection

[2018-07-17 16:49] Walther commented on #223
Are there any ways to help getting this closer to completion?

[2018-07-17 16:56] john-westcott-iv opened #2073 "Prevent Tower from pulling from Galaxy"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

We would like to prevent Tower from being able to dynamically pull roles from galaxy.ansible.com. Instead we are going to have an internal review process and hand pick versions of roles which we will allow within our enterprise. As such, we want to have a toggle switch in AWX which would prevent it from auto-polling a r

[2018-07-17 17:45] wenottingham commented on #223
It should work for per-host vars with Ansible 2.6, as far as I know. @AlanCoding can confirm.

[2018-07-17 17:48] wenottingham commented on #2073
This can (functionally) be achieved by not storing roles in roles/.

If the concern is "an authorized SCM user could add a roles/requirements.yml" file, that seems an issue best solved by the use of pull requests, reviews, and protected branches for AWX to pull from.

[2018-07-17 18:16] AlanCoding commented on #223
Yes, that's right. 2.6 is released, if it's not in the task container now, we should rebuild it.

[2018-07-17 20:16] wenottingham commented on #775
This was fixed in a downstream branch and will be merged into AWX in the near future.

[2018-07-17 20:47] ryanpetrello commented on #2072
I'd consider this somewhat debatable - one of the **intentional** design decisions we made with isolated nodes is that they are robust against  _very_ unreliable connections and can continue to work if e.g., you lose the SSH connection for a minute or two.  If you set up `/etc/hosts.deny` and then _restore_ connectivity a minute into the job run, does the playbook finish?  If so, I'd argue that th

[2018-07-18 06:04] juame commented on #2071
@AlanCoding copy & paste of the stdout:
[code]

[2018-07-18 07:13] piroux commented on #2072
I think that whether it is an intentional design to keep the connection opened or to do do otherwise is not the main issue here. Indeed, on the screenshot, you can see that the output on the right side is completely empty although the verbosity level is 3.

At this level, it is legit to expect some information about what is going on and why nothing has started yet, right ?

[2018-07-18 07:18] sysadm1989 opened #2074 "Failed to connect to the host via ssh"
Hello, dev.

After some actions in awx web page job template, errors began to appear on each job:
[code]
After the analysis, it became clear that AWX stopped creating the / tmp / awx_993_FXS3y9 / cp / a616bf55e4 folder before executing the job.

After I made corrections in the module /opt/awx/embedded/lib/python2.7/site-packages/ansible/plugins/connection/ssh.py".

before:
[code]

after:
[code]

*

[2018-07-18 07:40] unkaputtbar112 commented on #2072
Even if you remove the tower from the host.deny of the isolated node few minutes later, it does not retry and it does not run into an timeout:
![image](https://user-images.githubusercontent.com/33267366/42866915-470a53f0-8a6e-11e8-909a-edda22ed2f40.png)
It's running now for 20hours ;-) so if settings.AWX_ISOLATED_LAUNCH_TIMEOUT is by default 10minutes, it doesn't work as intended.

[2018-07-18 08:10] cesarfn4 opened #2075 ""First Name" and "Last Name" fields are limited to 30 characters"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Currently "First Name" and "Last Name" fields are limited to max 30 characters. Its possible to have "first_name" and "last_name" > 30 chars. It should be either increased or at least be configurable to change the max size.

##### ENVIRONMENT
* AWX version: latest

[2018-07-18 08:37] paszczus commented on #1974
I have same problem. I have tried on ansible 2.4 and now 2.6.1.

[2018-07-18 12:07] Gui13 commented on #553
Is this issue worked on ? We too would need the boolean type

[2018-07-18 13:52] ryanpetrello commented on #2072
@piroux the output in the panel is intended to be what the **remote** `ansible-playbook` is printing - since we can't reach the host, there's no recorded output yet.  `/var/log/tower/` _does_ have a log file (`management_playbooks.log`) that shows what _awx_ is doing under the hood synchronization-wise, but that's an implementation detail of awx's isolated execution model, and isn't exposed to the

[2018-07-18 14:45] wenottingham commented on #2075
This is a django limitation.

[2018-07-18 14:55] AlanCoding commented on #2071
The UI issues for failed dependent project updates are known and on the agenda: https://github.com/ansible/awx/issues/1907

It sounds like the main issue is that we need to be clear about surfacing the error from the "fetch galaxy roles", or is there some adjustment that we should make to the playbook to handle these cases?

relevant playbook content:

https://github.com/ansible/awx/blob/f0707ad70

[2018-07-18 17:45] john-westcott-iv opened #2077 "project_update.yml reports skipping even though it runs ansible-galaxy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

When running a job template which launches a project update and the project update is pulling roles down from a requirements.yml file the output in the Tower job reports:
  | 49 | TASK [Write Repository Version] ************************************************ | 16:32:13
  | 50 | changed: [localhost] |  
  | 51 |   |  
 

[2018-07-18 20:00] wenottingham commented on #599
This already exists with the `last_job_run` field.

[2018-07-18 20:00] #599 closed, assigned to nobody

[2018-07-18 21:17] rooftopcellist commented on #2077
it turns out these tasks are "skipped" when the project_update is executed as a "Check" Job Type.  The roles are indeed pulled from SCM to the node executing the job directly before executing a JT in a separate "Run" project_update job.

More information:

[2018-07-18 21:17] #2077 closed, assigned to nobody

[2018-07-19 07:13] olokolo250 opened #2079 "More ssh keys needed for AWX session"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

More ssh  keys available for the user (modification of machine credentials; new type or possibility to add more machine credentials to the job  template).
Currently you can only add  one key for the particular user, would be really great if you could have more of them as in some environments you have more that one bast

[2018-07-19 08:18] oroomans commented on #282
Hi,

we are in the same situation here.

Is this feature request in the roadmap now for short or middle term ?

Thanks.

[2018-07-19 11:26] midekra commented on #1750
Any suggestions? I have the same issue.

[2018-07-19 13:14] midekra commented on #1750
I got it working with the following workaround:

oc adm policy add-scc-to-user anyuid system:serviceaccount:awx-namespace:default

[2018-07-19 14:04] wenottingham commented on #2079
this is https://github.com/ansible/awx/issues/286

[2018-07-19 14:04] #2079 closed, assigned to nobody

[2018-07-19 14:26] olokolo250 commented on #723
Don't understand your reply wenottingham, those two links in #286 provide the basics about the AWX credentials, dont see any possibility to add more ssh keys for one user. If its possible the docs are just not explanatory enough.

[2018-07-19 14:28] olokolo250 commented on #2079
Don't understand your reply wenottingham, those two links in #286 provide the basics about the AWX credentials, dont see any possibility to add more ssh keys for one user. If its possible the docs are just not explanatory enough.

[2018-07-19 14:34] wenottingham commented on #723
To be more clear: this *can not work* with how credentials are currently implemented, period. #286 is about how credentials could be changed in the future... that request may be considered then.

[2018-07-19 14:37] juame commented on #2071
@AlanCoding thanks for your feedback! So, the UI fix will help others to find the reason faster than I did. ;-)
To be honest: Don't know what's the best way to handle errors from the `ansible-galaxy` command.

[2018-07-19 17:20] sonjz commented on #877
Running into same problem...

I think its just space-delimiting the survey, so  `--extra-vars 'os_version=somevalue auth.auth_url=someurl'` wouldn't work.

Logic would have to be nested variable aware, so it could be building a JS Object in the back to execute JSON inline `--extra-vars '{"os_version": "somevalue", "auth": {"auth_url" : "someurl"}'` or create a YAML config that it can run as a temp

[2018-07-19 20:14] Aethylred commented on #989
@justnems as I said before:

This is not a Tower issue that can be resolved with an offer of a trial Tower license. This is an issue with AWX in that it can not be deployed outside of the restrictive docker developer environment.

[2018-07-19 20:31] AlanCoding opened #2080 "Add timeout to email notification configuration"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Django's base class seems to allow for a `timeout` parameter for the email notification class, but AWX doesn't allow making use of it

##### ENVIRONMENT
* AWX version: any
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

[2018-07-20 09:21] TheKangaroo opened #2081 "[kubernetes] split containers in single pods"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
Split awx container into separate pods on kubernetes deployment.

##### ENVIRONMENT
* AWX install method: kubernetes

##### STEPS TO REPRODUCE

We deploy AWX on our in-house kubernetes cluster which we share with other teams separated by namespaces.
Since AWX is one of the biggest apps (6cpu/8GB ram requested) we ea

[2018-07-20 13:49] asir214 opened #2082 "Jobs and updates remain in pending status"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
I was executing jobs and the task was left in a loop, I eliminated the job and after all the jobs I was doing was in a pending state

##### ENVIRONMENT
* AWX install method: docker on linux

##### STEPS TO REPRODUCE
Can't find a way

##### EXPECTED RESULTS
Job should run

##### ACTUAL RESULTS

job staying in pendning

#####

[2018-07-21 09:42] itcrowdsource opened #2083 "AwxTaskError.TaskError(instance, rc) Exception: project_update xxx (failed) encountered an error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

While launching a job an activity tries to retrieve the latest updates from the GIT source repository. This activity fails.

##### ENVIRONMENT
* AWX version: 1.0.6.35
* AWX install method: docker on linux
* Ansible version:  2.6.1
* Operating System: Ubuntu Xenial
* Web Browser: Chrome

##### STEPS TO REPRODUCE

-

[2018-07-23 14:51] RoUS opened #2084 "Add checkboxes for bulk actions"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
1. In the UI, having to individually cancel and then delete multiple [pending] jobs from a runaway/misconfigured template/playbook is a major pain.  Hence, RFE: A checkbox beside each job, and an action pulldown including 'cancel selected items' and 'delete selected items.'

2. In the tower-cli tool, again, it appea

[2018-07-23 15:00] wenottingham commented on #2084
-> #19

[2018-07-23 15:00] #2084 closed, assigned to nobody

[2018-07-23 19:31] chrisandersonbtg opened #2086 "Allow RabbitMQ TLS Authentication instead of cleartext"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
Is it possible to change the RabbitMQ configuration to support TLS and not send connection information via clear text?

##### ENVIRONMENT
* AWX version: All
* AWX install method: N/A
* Ansible version:  2.4.2
* Operating System: RedHat 7.4
* Web Browser:  Chrome

##### STEPS TO REPRODUCE

AWX uses plain text connect

[2018-07-24 05:49] shivam99aa commented on #1494
Yes I am still seeing the same issue, SCM jobs seems to be hanging forever, even management jobs like cleanup activity details are also hanging in pending state forever.

[2018-07-24 06:11] shivam99aa commented on #1494
Started working fine for me after I killed and respawn the docker instances.

[2018-07-24 11:02] cesarfn4 opened #2087 "RFE: Allow users categorized as 'Enterprise' (SAML, RADIUS, TACACS+) can be created through the UI/API"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Ability to create users categorized as 'Enterprise' (SAML, RADIUS, TACACS+) through the UI/API.

##### ENVIRONMENT
* AWX version: latest

[2018-07-24 11:03] khelkun opened #2088 "Sync AWX Project with Git fails with a different "SCM BRANCH/TAG/COMMIT" than the default repository branch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
I use AWX Project synced with a Git repository with SSH source control credential type which uses a private key and a passphrase.
Everything's fine except if I try to sync the AWX Project with a different branch than the default branch of the Git repository e.g: using the "SCM BRANCH/TAG/COMMIT" field in the AWX Proje

[2018-07-24 12:21] machacekondra opened #2089 "RFE: Support FQDN in addition to URL for RHV credentials"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

For RHV credentials it would be nice to either insert FQDN or URL of oVirt API.

##### STEPS TO REPRODUCE

Create RHV credentials, try to insert FQDN instead of URL of the API.

##### EXPECTED RESULTS

Possible.

##### ACTUAL RESULTS

Not possible.

##### ADDITIONAL INFORMATION

It would be nice to check if user has pas

[2018-07-24 12:41] itdependsnetworks commented on #1150
Checking in on status, about to test with latest devel version, but seems as per previous comment may not be done.

[2018-07-24 13:38] rooftopcellist commented on #1348
Resolved downstream.  Closing this now.

[2018-07-24 13:38] #1348 closed, assigned to nobody

[2018-07-24 13:39] #1498 closed, assigned to rooftopcellist

[2018-07-24 13:40] rooftopcellist commented on #1505
resolved and verified downstream.  closing.

[2018-07-24 13:40] #1505 closed, assigned to rooftopcellist

[2018-07-24 15:51] ghost commented on #1861
@Borrelworst
Hey friend, would you be able to paste your entire nginx.conf file? I am having the exact same issue but adding the stanza above did not fix my issue.

This is mine fwiw.
`#user awx;

        worker_processes  1;

        pid        /tmp/nginx.pid;

        events {
            worker_connections  1024;
        }

        http {
            include       /etc/nginx/mime.types;

[2018-07-24 15:53] matburt commented on #2087
Usually these users are created on login by checking the external system... how would you see this working if you create them directly from the api/ui without being able to associate and verify their credentials remotely first?

[2018-07-24 15:54] anthonyloukinas commented on #1861
PSA: If anyone here is using Docker SWARM and having these issues, try to run the same stack just using docker-compose (non-swarm v2), and see if you have the same issues.

The issues in this thread were all symptoms we were seeing whilst running in Swarm mode. Once we switched to local instances (docker-compose), we haven't had any issues running AWX behind an Nginx Proxy (specifically Jwilder's

[2018-07-24 15:56] matburt commented on #2083
Sooo... what was the error in the project update detail view?

Post the reason for the failure and we can reopen as needed.

[2018-07-24 15:56] #2083 closed, assigned to nobody

[2018-07-24 15:57] matburt commented on #2082
If you restart services do the jobs continue?

[2018-07-24 15:58] matburt commented on #2081
This architecture matches the standalone *Tower* deployment architecture where some services are local to the node. This helps simplify deployments overall and makes sure each Tower web/worker has the capability to execute jobs if they are online.

It's possible will adjust this architecture later, but it's not something we're looking at right now.

[2018-07-24 15:58] #2081 closed, assigned to nobody

[2018-07-24 15:59] matburt commented on #2075
We'll probably pick this up when we upgrade django at a later time.

[2018-07-24 16:00] matburt commented on #2074
This looks like an Ansible issue... take it up with that project.

[2018-07-24 16:00] #2074 closed, assigned to nobody

[2018-07-24 16:01] matburt commented on #2073
Fixed in #2078

[2018-07-24 16:01] #2073 closed, assigned to nobody

[2018-07-24 16:03] matburt commented on #2071
Original issue should probably be taken up with the galaxy team... we'll work on better presentation of errors elsewhere.

[2018-07-24 16:03] #2071 closed, assigned to nobody

[2018-07-24 16:05] matburt commented on #2064
dupe of #2041

[2018-07-24 16:05] #2064 closed, assigned to nobody

[2018-07-24 16:06] matburt commented on #2058
As @wenottingham said... labels are our current mechanism for organizing job templates

[2018-07-24 16:09] #2038 closed, assigned to nobody

[2018-07-24 16:11] matburt commented on #2031
Closing, we'll track changes on #1998

[2018-07-24 16:11] #2031 closed, assigned to nobody

[2018-07-24 16:13] shawndwells commented on #1998
Is there an expected release for this? Currently required for a potential customer to use Ansible.

[2018-07-24 16:14] matburt commented on #2012
I'm totally happy to take a PR on it if you want to build it out.

[2018-07-24 16:55] JSkier21 commented on #1861
@anthonyloukinas, I'm not in swam and using docker-compose and it doesn't display job status properly at all.

[2018-07-24 17:25] wenottingham commented on #2087
The idea is that they'd be created so that you could assign permissions (and teams, in the case of radius/tacacs+ that do not have team mappings) to them, but the accounts wouldn't do anything until the user logs in.

[2018-07-24 18:05] wenottingham commented on #2058
reopening for long-term RFE tracking

[2018-07-24 19:27] wenottingham commented on #1963
This should track more things:
- job runs (successful, failed, etc.)
- hosts (and their associated job history)
- job runs x hosts
- tasks x hosts
- job execution time
- task execution time
- module usage
- count of users, teams, by org
- count of projects/JTs/WFJTs/creds/etc
- count of inventory source and projects by type
- possibly others

NO task names, role names, vars, etc.

[2018-07-25 04:31] itdependsnetworks commented on #1150
I am seeing the subtle difference here. It must meet the following conditions:

- "ask_variables_on_launch": true is set
- You actually sent in variables.

You only need one template, but send extra_vars. I have tested with docker latest image and it is still there.

@ryanpetrello @wwitzel3 Can we re-open this?

[2018-07-25 07:08] Borrelworst commented on #1861
@hitmenow  Here bellow is my server block, I left the original congifuration intact, but just created a conf file in conf.d:

       server {
       ssl 	 on;

       listen       443 ssl default_server;
       server_name <servername>;
       ssl_certificate <certfile>;
       ssl_certificate_key <keyfile>;
       proxy_set_header    X-Forwarded-For    $remote_addr;
       include /etc/nginx/defa

[2018-07-25 08:16] asir214 commented on #2082
I tried to restart docker, delete the tasks from the shell but it did not work. I could indicate what would be the steps to follow to solve this problem from your point of view, this is already the third time that the same thing happens to me.

[2018-07-25 12:14] ryanpetrello commented on #1150
@sumkincpp @itdependsnetworks we have a downstream change that will be merging soon that should resolve this - as it currently stands, it's still broken in 1.0.6.

[2018-07-25 12:31] itdependsnetworks commented on #1150
@ryanpetrello any chance you can provide me the patch, or let me know what to refer for my customer to get access on their tower instance?

[2018-07-25 12:46] ryanpetrello commented on #1150
@itdependsnetworks the patch is pretty simple, and is really only applicable to the latest awx and an upcoming version of Tower.  That said, I haven't personally tested it on awx.  If you want to give it a whirl anyways, try changing:

https://github.com/ansible/awx/blob/devel/awx/main/models/workflow.py#L289

from:

[code]

...to...

[code]

[2018-07-25 12:57] itdependsnetworks commented on #1150
Awesome!! Works great. You are a scholar, gentleman, and an acrobat.

[2018-07-25 14:20] strawgate commented on #1861
@anthonyloukinas I'm not sure RedHat provides any support for AWX so it not being supported by RedHat isn't a huge deal -- we are just hoping for some help from the team to figure out what is causing this in the scenarios it's occurring in (with and without swarm) so we can contribute an open-source fix -- nobody seems to be providing any guidance or insight, which is understandable, but in my opi

[2018-07-25 14:38] itcrowdsource commented on #2083
@matburt what information is further needed? I've already provided the details about the error message. I'm currently unable to sync a source. In my case a GIT source. If I go into inventory -> Sources ->Click the sync button I'm getting the following error message in the task details view:
[code]

[2018-07-25 14:46] matburt commented on #2083
Look at the error in the job stdout view for the update itself.

[2018-07-25 14:51] itcrowdsource commented on #2083
The job's stdout view is empty
![awx_update_error](https://user-images.githubusercontent.com/20809792/43208625-20a4ba62-902b-11e8-8aae-5fb599028b82.JPG)

[2018-07-25 14:59] matburt commented on #2083
can you grab the api output for this job?

[2018-07-25 15:19] nhenderson commented on #955
To delete stand-alone jobs, I found this worked for me:
[code]
[code]

[2018-07-25 15:37] nhenderson commented on #888
To delete stand-alone jobs stuck in "Running" status for AWX running on Kubernetes, I found this worked for me:
[code]
[code]

[2018-07-25 16:08] konkolorado commented on #1861
What I've noticed is once websockets stop working, subsequent attempts at the websocket opening handshake never complete. Running tcpdump on the web container on port 8051 shows web never sends out the accept-upgrade response.

I've traced the websocket connect request path and it's kind of messy. A websocket request gets handled by web but web defers responding to the handshake.  Instead what hap

[2018-07-25 17:20] one-t commented on #2047
Rather than uploading the data, being able to define the metadata endpoint of the IdP would be a more scalable solution since it would allow for dynamically refreshing the certificate when it changes.

[2018-07-25 17:29] wenottingham commented on #2047
... I wonder how that would work in a multi-container/server environment, given that that would be done on the backend. You obviously don't want all nodes doing it.

[2018-07-25 17:36] one-t commented on #2047
I was thinking it could probably be handled similarly to the way we do cache timeouts- if a user tries to log in and the metadata timeout has expired, fetch metadata first and update configuration.

[2018-07-25 20:03] #1150 closed, assigned to nobody

[2018-07-25 21:03] mneumarkidg opened #2093 "Issues with Project SCM_Update on Multiple Instances"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
When running an update (scm_update from GIT Repo) on a project. Only the POD/Instance that picks up the job is able to process the request and the remaining PODS/instance wont update, unless i disable all other instances and rerun the job. This is the only way I can get all my PODS/instances to update from scm_update.

[2018-07-25 21:04] mneumarkidg commented on #2093
NOTE: Also, it noticed a small bug on the slider on the instances screen. If you notice the first two instances show CPU/RAM on the slider. The third does not!

[2018-07-25 21:08] wenottingham commented on #2093
This is intentional. See discussion in #289.

[2018-07-25 21:08] #2093 closed, assigned to nobody

[2018-07-25 21:10] itdependsnetworks commented on #1150
@wwitzel3 why close if not fixed? Unless I missed the PR that was associated with it.

[2018-07-25 21:11] mneumarkidg commented on #2093
@wenottingham  This doesn't work. As the SCM_Update is picked up on a different pod or instance than the job itself. There is no way to guarantee that the scm_update happens on the same instance or pod.

[2018-07-25 21:15] wenottingham commented on #2093
A checkout is run before job runs regardless. Again, see the discussion in the linked issue.

[2018-07-25 21:21] mneumarkidg commented on #2093
@wenottingham We have over 100+ templates. This really isn't an answer other than a workaround. I would have to add requirements.txt to over 100+ templates and go through QA with each and every one. I do not see how this answer is a solution by modifying all existing code. Just to try and force a server to run on the same pod/instance. This should be on the server side. Not the code! How else am i

[2018-07-25 21:24] rootchord commented on #1845
I'd be fine with requiring a single inventory for this function. but i think the functionality is greatly needed. At current it requires to run some squirrely looking curl commands(and add functions to make sure each job finishes before the next one goes off) to get the same functionality. It would be cleaner and better for me to be able to call a pre-made workflow.

[2018-07-25 23:54] brad-soileau opened #2094 "Foreman Ini file not being read"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

 Module/plugin

##### SUMMARY

When trying to use /etc/ansible/foreman.ini as documented, it doesn't seem to be read.  Adding a couple simple statements in the INI file as documented do not work.
##### ENVIRONMENT
* AWX version: 1.0.6.5
* AWX install method: docker on linux
* Ansible version:  2.5.2
* Operating System: CentOS 7.5/Docker
* Web B

[2018-07-26 00:35] walkafwalka commented on #1549
My flavor of ice cream is HAProxy over NGINX, however I agree with @cben that if SSL is going to be configured, it should use the web server that is already configured, not layer another application on top.

[2018-07-26 03:43] wenottingham commented on #2093
The code already ensures that the revision desired will be there before any job runs, so I'm really not sure what you're getting at here.

[2018-07-26 03:49] wenottingham commented on #2093
In more detail - there are two types of project updates.

A 'check' job is run when the sync icon is clicked, or as part of 'update on launch' in a job setting. It runs on any node, and updates the AWX database with the revision of source control to use.

Then there is the 'run' type of project update. This happens directly before any job is run, on the same node where the job is run. This ensures

[2018-07-26 05:16] kavink commented on #1870
Were you able to figure out a workaround or something ? Seeing the same issue.

[2018-07-26 06:46] walkafwalka opened #2095 "Error parsing reference: "gcr.io/ansible-tower-engineering/awx_devel:origin/devel" is not a valid repository/tag"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
My build keeps failing to tag gcr.io/ansible-tower-engineering/awx_devel:origin/devel on the make docker-compose-build.

##### ENVIRONMENT
* AWX version: devel
* AWX install method: docker on linux
* Operating System: Ubuntu 16.04.5 LTS
* Docker Version: 17.03.2-ce, build f5ec1e2

##### STEPS TO REPRODUCE

[code]

###

[2018-07-26 09:18] itcrowdsource commented on #2083
API doesn't seem to contain data for this job...
![awx_api_623](https://user-images.githubusercontent.com/20809792/43253606-a39db6f4-90c5-11e8-80df-79eabedfaddf.JPG)

[2018-07-26 10:06] kisamoto opened #2096 "Feature Request: Ability to encrypt values using Vault credentials in AWX"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Working with teams it is often not optimal to share vault encryption keys among developers.

Having a lightweight option in AWX that would allow a developer to select a vault credential and encrypt a given output, returning the encrypted value would allow developers to self-service encrypted secret generation.

####

[2018-07-26 12:56] sidhurana opened #2097 "AWX UI changes not saving"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### ENVIRONMENT
* AWX version:1.0.6.35
* AWX install method: docker
* Ansible version: ansible 2.4.2.0
* Operating System: Centos 7.5
* Web Browser: Chrome/Mozilla

##### SUMMARY
Followed : https://github.com/ansible/awx/blob/devel/INSTALL.md

So, pulled all latest docker images/ ran it. Save and commit it to local nexus repository.

On

[2018-07-26 13:18] AlanCoding commented on #2096
You could also paste it directly into inventory or host variables, a la https://github.com/ansible/awx/issues/223

This is kind of a cool idea.

[2018-07-26 13:47] ghost commented on #1861
Thank you @Borrelworst! I have a different scenario than you I think. I have a load balancer in front of my containers which has SSL termination. And my nginx server is listening on 8052. Will do some more troubleshooting. Thanks again

[2018-07-26 13:50] kisamoto commented on #2096
@AlanCoding I may be able to find some time to start implementing this feature. Would you have any pointers where to start?

[2018-07-26 14:22] onitake opened #2098 "Slack notification ignores name and icon of bot"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Currently, the Slack integration will send notifications to Slack as the user "bot" with a generic avatar icon.
Slack allows configuring the appearance of bot users and it would be very nice if AWX took advantage of this.

##### ENVIRONMENT
* AWX version: 1.0 (also with 1.0.6)
* AWX install method: custom playboo

[2018-07-26 14:48] sightseeker commented on #1861
I resolved when set the `endpoint_mode` of RabbitMQ to `dnsrr` in the Docker Swarm Mode.
The rabbitmq stack in compsoe file is:

[code]

[2018-07-26 14:48] wwitzel3 commented on #1150
Because we have a PR upstream (the diff that @ryanpetrello shared) that fixes the issue. And someone can use the diff here to manually patch in the meantime. So for purposes of tracking work that needs to be done, there is none. The work is done and will land shortly.

[2018-07-26 23:11] walkafwalka commented on #2095
Build failure is only happening in my Jenkins instance.

[2018-07-26 23:11] #2095 closed, assigned to nobody

[2018-07-27 01:07] strawgate commented on #1861
Switching to dnsrr instead of VIP kind of implies that it's an issue with the VIP timing out the idle connection --

https://github.com/moby/moby/issues/37466#issuecomment-405307656
https://success.docker.com/article/ipvs-connection-timeout-issue

This would match with the described behavior where it works initially and then at some undefined later time (relatively quickly) it stops working.

[2018-07-27 03:28] Buddwa opened #2099 "Cannot create a new project"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

There is only project base path and I cannot clicked the save button when I create a project on the web. I have disabled SELinux and the directory /var/lib/awx/projects have directories and files which can be accessed by any Linux users. You can refer to my snapshots below.

##### ENVIRONMENT
* AWX version: 1.0.6.16
* AWX

[2018-07-27 06:41] ysn2233 opened #2100 "Does AWX support local installation without container?"

[2018-07-27 12:48] ryanpetrello commented on #2100
Hey @ysn2233,

Sorry, we don't have any plans to currently.  See: https://github.com/ansible/awx/issues/989

[2018-07-27 12:48] #2100 closed, assigned to nobody

[2018-07-27 13:17] grb247 opened #2101 "with_lines fires before when"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

---
- hosts: localhost
  tasks:
    - action: debug msg={{ foo }}
      when: foo is defined
      with_lines:
        - cat /this/doesnt/exist

Output:

PLAY [localhost] **************************************************************

GATHERING FACTS ***************************************************************
ok: [lo

[2018-07-27 13:33] ryanpetrello commented on #2101
Hey @grb247,

This issue isn't unique to AWX itself, as I'm able to reproduce it with plain old `ansible-playbook`.

[code]

You might consider asking on the Ansible mailing list (
https://groups.google.com/d/forum/ansible-project) or IRC room (#ansible on Freenode) if you need additional assistance with Ansible.

[2018-07-27 13:33] #2101 closed, assigned to nobody

[2018-07-27 13:39] ryanpetrello commented on #2101
@grb247 Also, this looks like an intentional nuance of looping and conditionals in Ansible:

https://docs.ansible.com/ansible/2.5/user_guide/playbooks_conditionals.html?highlight=when#loops-and-conditionals

I'd suggest that what you're encountering is just not a bug - take a look at the documentation above for more details.

[2018-07-27 14:35] samdoran commented on #2101
@grb247 Loops are processed first, then conditionals. Loops in Ansible internally result in individual tasks with a conditional on each task.

The `is defined` check is generally problematic for this reason. The best way to "skip a loop if something is not defined" is to us an empty list as the default for the variable: `when: foo | default([])`. This is explained in the document @ryanpetrello lin

[2018-07-27 15:30] grb247 commented on #2101
But it's not working while using ansible tower
otherwise it's working fine.

[2018-07-27 15:31] ghost commented on #1861
@sightseeker Is there an equivalent that you know of for Kubernetes deployments?

[2018-07-27 15:37] onitake commented on #1407
I think AWX already imports group_vars just fine. At least I can see default variables on the inventory and created groups that definitely come from group_vars.

I'm noticing something else though: Certain groups aren't detected at all, and consequently all the variables from these groups are missing. This could be a bug.

[2018-07-27 15:39] ryanpetrello commented on #2101
@grb247,

See my comment above at
https://github.com/ansible/awx/issues/2101#issuecomment-408419746

I'm able to reproduce your failure instructions _outside_ of AWX/Ansible Tower; your playbook needs to be changed in the way @samdoran described.

[2018-07-27 16:25] matburt commented on #2083
It's not a job... those are playbook runs. It'll be a project update under `/api/v2/project_updates/n/`

[2018-07-27 17:59] itcrowdsource commented on #2083
[code]

[2018-07-27 18:03] tiny-pangolin opened #2102 "data disappears after reboot"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 Installer

##### SUMMARY
configuration clears on reboot.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: docker on linux
* Ansible version:  2.5.1
* Operating System: ubuntu 18.04 KVM
* Web Browser: chrome

##### STEPS TO REPRODUCE

1. install using [the docker guide](https://github.com/ansible/awx/blob/devel/INSTALL.md#docker-or

[2018-07-27 18:11] tiny-pangolin commented on #2102
has been moved to #2103 2103

[2018-07-27 18:11] #2102 closed, assigned to nobody

[2018-07-27 22:37] sonjz commented on #877
For anyone interested, I created a very ugly, verbose, limited hack, that works ... did I mention **ugly**?
I didn't want to rebuild the `awx_web` container, so I decided to go native.

_(I contemplated running a command against node `- command: node some.js {{ dictionary }}`, as Javascript has a really easy way to [build JSON from dot-notation](https://stackoverflow.com/questions/22985676/convert

[2018-07-28 00:08] sightseeker commented on #1861
Thankyou @strawgate !
When I set `tcp_keepalive_timeout` to less than 900 secs and using vip mode, the problem no longer occurs.

@hitmenow I haven't tried yet with K8s.

[2018-07-28 22:48] dnguyen9 opened #2104 "Support RHEL base image"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY
I would like to build AWX and run them using the RHEL7 base image instead of Centos. A lot of the standard redhat product allows selection of base images during the buildout of the docker images such as https://github.com/openshift/jenkins.

##### ENVIRONMENT
* AWX version: latest
* AWX install method: openshift

[2018-07-29 01:23] strawgate commented on #1861
It would also imply that switching the containers to using tasks.rabbitmq to hit rabbitmq would fix the issue as that bypasses the VIP too. Will test and report back

[2018-07-29 21:33] ghost commented on #145
is there any update on this ?
I'm unable to limit hosts due to + uuid added to the host name. It's not very convenient
Can vmware_inventory.py just detect the duplicate values and store them under group rather than appending the UUID to it ?

[2018-07-30 07:48] toninis commented on #2067
Hello I did it.
There was a redirection and I was using curl with the wrong parameters.
You need the --post301 parameter to follow the initial post.
As curl documentation :

if you for example use -L, --location may cause unintended side-effects when curl
doesn't change request method according to the HTTP 30x response codes - and
similar.

`curl -L --post301  "http://awx_host/api/v2/job_templates

[2018-07-30 08:00] #2067 closed, assigned to nobody

[2018-07-30 09:30] onitake commented on #2060
I'm not 100% sure, but it seems like I was hitting the same issue here.

My LDAP group parameters were specified as follows:
[code]
This has worked fine in 1.0. In 1.0.6, it doesn't, but the paramters are no longer required, because these exact values are now the defaults of `PosixUIDGroupType`.
After removing them login will succeed again.

However, if you need custom values for these parameters,

[2018-07-30 13:04] matburt commented on #145
We pull the inventory source from ansible/ansible itself. We haven't made any changes here because it's just not a high priority now. If it is for you then submit a PR and we can review it.

[2018-07-30 13:34] AlanCoding opened #2105 "Pass verbosity to ansible-inventory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Inventory updates have log-based verbosity, `ansible-inventory` has verbosity too, but the latter has no bearing on the former. We should change that.

##### STEPS TO REPRODUCE

run an inventory update and crank the verbosity up as far as it goes

raise an exception in the script it runs

##### EXPECTED RESULTS

traceback

[2018-07-30 16:37] lbrigmanArris opened #2106 "Missing ENV variables for K8s and OpenShift causes startup issues"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY

During installation of AWX in OpenShift, we observe the following errors from the awx-web container:
[code]
================================
Because of these errors the availability of the API and web interfaces are delayed at least 10 minutes

##### ENVIRONMENT
* AWX version: 1.0.6
* AWX install method: openshift
*

[2018-07-30 16:38] kialam commented on #1796
Closing as this is expected behavior. Workflow lists and detail views should not show credentials, however Job templates and playbooks should display the credentials associated with it.

[2018-07-30 16:38] #1796 closed, assigned to nobody

[2018-07-30 16:49] jamesmarshall24 opened #2107 "[RFE] Job Isolation Configuration Per Job Template"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

The ability to disable bubblewrap on a per job template or inventory sync basis.

##### ENVIRONMENT
* AWX version: Latest

[2018-07-30 17:55] rmauc commented on #1668
@wenottingham
Hi, this issue has been open for some time. Is the addition of Org/Teams/username/Custom fields/Labels expected in any upcoming release?
Thanks

[2018-07-30 19:35] chenri2006 opened #2108 "documented ssh jump host setup does not work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

The documented method to use ssh jump host

https://docs.ansible.com/ansible-tower/latest/html/administration/tipsandtricks.html#setting-up-a-jump-host-to-use-with-tower

does not work.

First of all, the recommended directive

Proxycommand ssh -W [jumphostuser]@%h:%p tampa

will not work if you specify [jumphostuser]. It

[2018-07-31 02:36] wenottingham commented on #2107
-> #302

[2018-07-31 02:36] #2107 closed, assigned to nobody

[2018-07-31 04:51] vietthang207 opened #2110 "Cannot add inventory source encrypted with vault"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

I am not sure this is a bug or not, but I cannot add an inventory with source encrypted by vault.

##### ENVIRONMENT
* AWX version: 2.5.4
* AWX install method: docker for mac
* Ansible version:  2.5.4
* Operating System: Mac OS
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

1. Create a playbook project in

[2018-07-31 08:16] stanvarlamov commented on #553
The implications of not having a boolean type are quite significant - we can't use any existing bool variables in Surveys that otherwise work completely fine via other common Ansible var handling methods. E.g., if I build an AWX Workflow from playbooks that use some variables and a boolean one among them - I can place all those variables into the Workflow's Survey - except for the boolean one. So,

[2018-07-31 08:35] ysn2233 opened #2111 "how to change the ui language of awx?"

[2018-07-31 09:05] cmdrrobin opened #2112 "Cannot save authentication settings"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Cannot save authentication settings

##### ENVIRONMENT
* AWX version: 1.0.6 (also tested with 1.0.5 and 1.0.4)
* AWX install method: docker (linux)
* Ansible version:  2.5.4
* Operating System: CentOS 7
* Web Browser: Firefox and Google Chrome

##### STEPS TO REPRODUCE
Goto settings -> Authentication -> Sub Category (LDAP)

[2018-07-31 15:40] wenottingham commented on #2111
It's based off of browser locale (and included translations... you may need to contribute one).

In any case, this is not a bug.

[2018-07-31 15:40] #2111 closed, assigned to nobody

[2018-07-31 18:24] dnguyen9 opened #2114 "OpenShift authentication failed on TLS verification"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
The ansible task 'OpenShift authentication failed on TLS verification]' will always fail if the authentication method to Openshift is token and not username/password.

##### ENVIRONMENT
* AWX version: 1.0.6
* AWX install method: openshift
* Ansible version: 2.5.3
* Operating System: Linux RHEL 7
* Web Browser: n/a

#

[2018-07-31 18:30] dnguyen9 commented on #2114
to fix this:

we just add in  openshift_auth_result.rc is defined and openshift_auth_result.rc != 0 in this task:

[code]

[2018-07-31 20:27] YunfanZhang42 commented on #2088
Hi @khelkun thanks for your feedback on Ansible AWX project. Could you please provide some details on your AWX installation to help us investigate this issue? In particular,

- Are you using a clustered installation for AWX?
- Does your SSH Git server support anonymous access (i.e. you can clone public repositories without setting up a SSH key)

[2018-07-31 20:55] wenottingham opened #2115 "Replace use of boto with boto3 in awx venv (and modify its use getting region listing)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

See https://github.com/ansible/awx/issues/171

When that lands, and we start using the boto3 `aws_ec2` inventory plugin, awx/main/models/inventory.py:get_ec2_region_choices should be updated to properly get regions from boto3 (and we can drop boto from the awx environment).

##### ENVIRONMENT
* AWX version: current

####

[2018-07-31 21:09] sonjz commented on #20
Some variables/lists I'd be interested in templating into a survey:
- Current User in AWX (and less-so User Lists)
- Inventory Host Lists
- Inventory Group Lists

[2018-08-01 00:30] walkafwalka commented on #2095
In case someone else comes across this issue, the problem was with how the environment variables in Jenkins and AWX interacted.

If the environment variable, `COMPOSE_TAG`, is not set, it is set to `GIT_BRANCH`. If `GIT_BRANCH`, is not set, it is automatically detected. In Jenkins `GIT_BRANCH` is set to `origin/devel`, but AWX expects `devel` which causes an issue with tagging.

The solution was t

[2018-08-01 05:27] midekra commented on #706
My apologies for my late reply. But it seems to be fixed.
I'm running 1.0.6.

Thanks a bunch!

[2018-08-01 05:27] #706 closed, assigned to nobody

[2018-08-01 10:22] h4ck3rm1k3 opened #2118 "Compile with 3.7"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Compilation problems with python 3.7

##### ENVIRONMENT
* AWX version: devel
* AWX install method: unsupported
* Operating System: debian unstable

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No error

##### ACTUAL RESULTS

syntax error

##### ADDITIONAL INFORMATION

Python 3 does not support ur'regex' n

[2018-08-01 10:48] stenyjames opened #2120 "Error: Invalid Tower authentication credentials (HTTP 401)."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Tower-CLI Intermittent connectivity issues with Tower-HA.

##### ENVIRONMENT
* Ansible version: 2.4.2
* Ansible Tower HA version: 3.2.4
* Operating System: RED HAT 7

##### STEPS TO REPRODUCE
Trying to trigger the Tower HA job templates resulting in intermittent connectivity issue
tower-cli organization list

#####

[2018-08-01 11:16] 201sandeep commented on #223
Hi all,

So i was trying to figure out the solution around it and i got a workaround to use..

if we do import inventory using the awx-manage command it asks for vault password and allow us importing the encrypted inventory/data files in system.

`/usr/bin/awx-manage inventory_import --inventory-id 2 --overwrite-vars --group-filter ^.+$ --host-filter ^.+$ --exclude-empty-groups --source /var/lib/a

[2018-08-01 11:21] khelkun commented on #2088
@YunfanZhang42

No

No, it's a private gitlab-ce (community edition) installation

The whole output of the project sync job is:
[code]

[2018-08-01 13:39] ryanpetrello commented on #2118
@h4ck3rm1k3 awx currently doesn't support Python3, and there's a _lot_ of work to do before we get there.

[2018-08-01 13:40] ryanpetrello commented on #2120
@stenyjames,

This is an issue tracker for awx, the open source project which Tower is based on.  If you need assistance with Ansible Tower, please reach out to Red Hat.

[2018-08-01 13:40] #2120 closed, assigned to nobody

[2018-08-01 14:23] krisayala commented on #2106
I am seeing the same issues on Kuberentes version Major:"1", Minor:"10", GitVersion:"v1.10.4" and AWX 1.0.6 with the latest web and task images running on centOS 7.

However looking at my deployment file on Kubernetes I am seeing the following env variables under the awx-web container populated with the correct values.

[code]

[code]

[2018-08-01 15:52] h4ck3rm1k3 commented on #2118
There is usage of six in the project so this just another brick in the wall.

[2018-08-01 16:50] lbrigmanArris commented on #2106
If you look closely at the deployment, those variables are associated with the awx-celery container.
There are no env variables associated with the awx-web container.
You can check by kubectl exec -c awx-web <awx_podname> env

[2018-08-01 17:48] wenottingham commented on #284
See also https://github.com/ansible/awx/issues/1845 and https://github.com/ansible/awx/issues/1731

[2018-08-01 17:55] wenottingham opened #2121 "3-legged OAuth support"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Our current OAuth support allows users to generate tokens for themselves.

We should extend our OAuth support such that a user XYZ in a third-party service can 'authenticate' themselves to Tower and allow that service to perform operations on their behalf.

This could also include creating specific service accounts

[2018-08-01 18:28] chrismeyersfsu commented on #306
Chatting with @john-westcott-iv and here is a brain dump
* If we go as far as "sync all users from LDAP to Tower" this could be more than the company wants. Thus, the syncing of ALL users should be a toggle. Other toggles:
  * periodically sync org/team/roles
  * rectify deleted users (if user deleted in LDAP, then delete from Tower)

[2018-08-01 19:46] wenottingham commented on #223
Per https://github.com/ansible/awx/issues/223#issuecomment-405677560, closing. This should work now for individually-encrypted variables.

[2018-08-01 19:46] #223 closed, assigned to AlanCoding

[2018-08-01 20:33] krisayala commented on #2106
You are correct I was looking at the awx-celery container.  I added the above variables to the awx-web container and everything is back to normal.

[code]

[2018-08-01 21:11] Rthur opened #2123 "set_stats fails in callback plugin on isolated node"
##### SUMMARY
When using set_stats, callback is not written. An error is generated, but playbook run successfully. Subsequent playbook in a workflow template does not receive set_stats on execution.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
awx/lib/awx_display_callback/module.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.4 (Maipo)
An

[2018-08-02 01:06] walkafwalka commented on #2098
AWX does not have control over the custom icon for the bot user. It is likely you have the Slack bot user misconfigured which is a very easy thing to do considering the documentation on Slack and Tower are very confusing about this.

Slack has made some changes with how they handle bot users. In the past, a workspace could have a bot user created similarly to custom integrations. However, this has

[2018-08-02 06:27] sidhurana commented on #2097
Any update or suggestions ?

[2018-08-02 07:11] dhajoshi commented on #282
+1 , looking for similar feature to ask for tag/branch while running job and sync project from SCM using that branch/tag

[2018-08-02 10:01] auto-store commented on #1257
Having the same issue as OP. @MrMEEE could you expand on which settings you changed please? thanks.

[2018-08-02 13:34] aoyawale commented on #2104
you can probably do something similar at the moment https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/getting_started_with_containers/using_red_hat_base_container_images_standard_and_minimal and look at the dockerfile at https://github.com/ansible/awx/tree/devel/tools/docker-compose and docker-isolated/

[2018-08-02 15:00] yayefa opened #2127 "Azure_rm_resource"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 3.2.3
* AWX install method: Linux
* Ansible version: 2.6.1
* Operating System: CentOS 7

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
AKS service created

##### ACTUAL RESULTS

`
    "_ansible_parsed": false,
    "exception": "Traceback (most recent call last

[2018-08-02 15:35] wenottingham commented on #2127
This reads as if you did not properly attach a credential to the job.

[2018-08-02 15:38] yayefa commented on #2127
I use Survey for credentials

[2018-08-02 15:46] wenottingham commented on #2127
You can't pass a credential with a survey, and survey variables are passed as extra vars, *not* environment variables.

[2018-08-02 15:52] yayefa commented on #2127
Sorry I didn't get the point.
Which credentials must be attach to the job?

[2018-08-02 16:02] wenottingham commented on #2127
Azure credentials.

[2018-08-02 17:28] #2123 closed, assigned to nobody

[2018-08-02 17:30] ryanpetrello commented on #2123
fixed via #2124

[2018-08-02 17:57] AlanCoding commented on #2110
See https://github.com/ansible/awx/issues/223, if you get this to work, you'll need at least Ansible 2.6, and there could be other nuances to the implementation you're attempting.

[2018-08-02 17:57] #2110 closed, assigned to nobody

[2018-08-02 18:03] AlanCoding opened #2129 "Multi-line verbose events"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Ansible events can be multi-line, but any verbose events (which are not Ansible events) can be only 1 line each

It would be more performant to save multiple lines to a single event, when `write` is called to the standard out buffer in that way.

##### ENVIRONMENT
* AWX version: all
* AWX install method: openshift, minish

[2018-08-02 18:07] yayefa commented on #2127
OH sorry, see my mistakes, . I added the wrong crendentials type in my job configuration.
Thank you.

[2018-08-02 18:07] #2127 closed, assigned to nobody

[2018-08-02 18:37] wenottingham commented on #1325
This was fixed downstream, and will appear in the next week or three.

[2018-08-02 19:38] #2098 closed, assigned to nobody

[2018-08-02 21:38] memotype opened #2130 "AWX sets LC_ALL=en_US.UTF-8, but not all systems will have this locale, causing spurious messages for script module tasks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Playbook execution environment...?

##### SUMMARY

My playbook runs fine on from my laptop, but when running it from AWX, the registered stdout value from one of the script module tasks ends up with extra output of bash complaining about not being able to find a locale set in the LC_ALL environment variable. Even if I run the script module f

[2018-08-02 23:29] redleg26 commented on #2000
Is there an update on this feature idea, it "needed triage" on June 21st?

[2018-08-03 06:12] walkafwalka commented on #353
Why are you attempting to apply the quote jinja filter? It works fine without it.

[awx/playbooks/project_update.yml#L88](https://github.com/ansible/awx/blob/devel/awx/playbooks/project_update.yml#L88) does not use the quote jinja filter so this issue is unrelated to AWX.
If it truly is a bug, then it is an Ansible core issue, not AWX.

[2018-08-03 14:51] strawgate commented on #1861
@hitmenow Kubernetes doesnt use VIP or swarm networking so dnsrr is probably not related to your issue.

[2018-08-03 15:05] jspitzen commented on #1870
Same here, I am also not able to cancel it through the `tower-cli`

[2018-08-03 15:31] wenottingham commented on #173
Alternatively... we're not using supervisor in container installs. We could move away from it entirely for non-container in favor of systemd units.

[2018-08-03 16:28] ryanpetrello commented on #173
We _are_ using supervisor in container installs:

https://github.com/ansible/awx/blob/devel/installer/roles/image_build/files/supervisor.conf
https://github.com/ansible/awx/blob/devel/installer/roles/image_build/files/supervisor_task.conf

![image](https://user-images.githubusercontent.com/214912/43654321-da1c3ddc-9718-11e8-8de3-4fe2da1854a9.png)

![image](https://user-images.githubusercontent.com

[2018-08-03 17:43] gamuniz opened #2132 "RFE: Enable filtering of output returned via RESTful api."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

It is currently possible to filter by specific fields using the API but it would be good to be able to filter out specific fields similar to using jq:
Example:

[code]
##### ENVIRONMENT
* AWX version: latest
* AWX install method: N/A
* Ansible version:  2.6.2
* Operating System: RHEL7
* Web Browser: N/A

##### STEPS TO

[2018-08-03 19:20] carrozzi commented on #20
I'm not sure how I missed this before now, but just stumbled across this.  I would really like this as well.  We are trying to put together almost a wizard like interface to configure network devices.  We already have a playbook that gathers data form devices and uses the REST API to build drop-down lists for surveys, but it would really be nice to have:

- The ability to pick a switch from a list

[2018-08-04 18:35] walkafwalka commented on #1048
This was addressed with #2126 by switching the RTM method to the Web API method.

However, currently the error message raised contains the actual message. Should I update this to include the error message returned from the API call instead? Should it contain both the error message and the Slack message?
https://github.com/ansible/awx/blob/0b9726a3edcabb33acee92774f466b5a35813339/awx/main/notificat

[2018-08-05 16:23] mabashian opened #2137 "Remove unused system tracking code from UI"
##### ISSUE TYPE
 - Task

##### COMPONENT NAME
 - UI

##### SUMMARY
As far as a user is concerned, system tracking was removed from the UI some time ago but the code remains.  This issue tracks the removal of that old code.

[2018-08-06 02:23] willthames opened #2138 "Inventory sync jobs happen in an odd order"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
When a job is run through the API (and likely through the web interface too), it seems that the inventory sync happens first and then the SCM sync (or the two happen in parallel). That means that any inventory changes that happen as part of the SCM update don't get reflected in the job execution

##### ENVIRONMENT
* AWX ver

[2018-08-06 03:52] willthames commented on #2138
This might be expected behaviour. I had inventory source set to "Update on Launch" rather than "Update on Project Change".

[2018-08-06 07:19] hiyokotaisa opened #2139 "RFE: "TCP Keepalive" option on the Splunk external logging aggregator"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

I would like to add TCP Keepalive message option on logging setting to avoid closing idle connection by firewall. If firewall terminate the connection between logging aggregator, These events will be dropped and not recorded on external logging.

##### ADDITIONAL INFORMATION

[2018-08-06 08:54] davidchlup opened #2140 "AWX A server error has occured"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Hi, I am new to AWX and Ansible so I don't have a lot of experience with it. When I try to log in to my AWX server via browser I get a Server error without any explanation of what is causing the error and I can't log in even though it worked fine for a few weeks. This has happened to me a few times, I've solved it by reins

[2018-08-06 14:12] wenottingham commented on #2140
We'd need the logs from the server side to properly diagnose this.

[2018-08-06 14:32] onitake commented on #1904
I'm not 100% sure, but I believe this issue is also causing major problems when nested groups are synced from a project inventory. Initially, the group view (correctly) displays a count for all groups found in the inventory, but when trying to navigate to the next page or searching for one of the nested groups, they are suddenly gone and the 404 error is displayed.

I think there is a general misc

[2018-08-06 18:19] wenottingham opened #2142 "Document stuff in requirements_git.txt and packages.json and why they're forked"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
- UI

##### SUMMARY

We fork some dependencies locally for both the API (requirements_git.txt) and the UI (packages.json).

While that's OK, we should have it documented in the source tree:
- why we forked a package
- what the changes we added were
- if the change was sent upstream/how we would know when we can use the upstream version

#

[2018-08-06 20:36] unlikelyzero opened #2143 "A deleted user should still be displayed on the Job Details view for traceability/auditability"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
If a user runs a job, his/her username is attached to that jobrun. If that user is deleted, the username is no longer displayed with the job. This information may be important for traceability/auditability of job history.

##### ENVIRONMENT
* AWX version: any
* AWX install method: any
* Ansible version:  N/A
* Opera

[2018-08-06 20:58] ghost opened #2144 "Increase size of 'limit' field in job template"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Increase the maximum size of the 'limit' field in the job template from the current maximum of 1024 bytes to 2048 bytes.

##### ENVIRONMENT
* Tower 3.2.5

##### STEPS TO REPRODUCE

This change will allow more complex limit logic in job templates, especially with large inventories.

[2018-08-07 00:01] arnabsen1234 opened #2145 "Getting an error Failed to import docker-py"
TASK [local_docker : Activate postgres container] *******************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import docker-py - No module named requests.exceptions. Try `pip install docker-py`"}

[2018-08-07 00:17] ryanpetrello commented on #2143
@unlikelyzero the activity stream _should_ display this information, and that's the place we generally send people for auditing purposes:

[2018-08-07 08:23] onitake commented on #1861
I'm running AWX in pure docker containers on the same machine (no swarm or k8s) and I was hitting this issue too.

Setting `net.ipv4.tcp_keepalive_time=600` helped me as well, but it needs to be set before daphne runs, so it should be put into `/etc/sysctl.conf` on the host system or similar.

[2018-08-07 09:28] josemgom commented on #1861
I just updated the tcp_keepalive in my staging and production environment. I will check if this solution helps to the issue.

[2018-08-07 11:35] sumkincpp opened #2147 "Workflow Job Template extra_data variables"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Currently :
 -  `extra_vars` are allowed for Nodes within workflows(job_template). Only vars defined in survey can be used here in extra_vars.
 -  `extra_data` variables are allowed for whole job_template/workflow only.

This is a suggestion of adding a support for `extra_data` within workflow on per-workflow node(

[2018-08-07 11:52] sumkincpp commented on #2058
:+1: for prioritizing this.
Organizing workflow within projects tabs isn't possible right now and seems to be not the correct way.

[2018-08-07 12:00] #2143 closed, assigned to nobody

[2018-08-07 12:05] sumkincpp opened #2148 "API bug: integer extra_vars are ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Passing extra_vars with integer values(i.e. via tower-cli --version 3.3.0) results on value not being passed
[code]

[code]
`count_input` becomes empty in workflow :

[code]

##### ENVIRONMENT
* AWX version: 1.0.6.39

[2018-08-07 12:07] sumkincpp commented on #2033
:+1: for prioritizing this, not working on latest 1.0.6.39

This one may be related issue #2148

[2018-08-07 15:55] sumkincpp opened #2149 "Batch inventory sync broken in 1.0.6.*"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
In `inventory variables` of `Inventory` only data from one source is present after batch inventory sync.

##### ENVIRONMENT
* AWX version: 1.0.6.17, 1.0.6.39, 1.0.6.41
* working AWX version: ??

Inventory Sources configured with following options:
  [x] Overwrite
  [ ] Overwrite Variables
  [ ] Update on Launch

##### STEPS

[2018-08-07 16:11] chrismeyersfsu opened #2150 "Password protected network ssh credentials don't work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

##### STEPS TO REPRODUCE
We are going to use a network credential as if it was a machine credential. Network module usage looks like:
[code]

* Create a password protected ssh key
* Add the public key to `authorized_key` on a host accessible by tower
* Create an inventory w/ the host accessible by tower in it
* Create a ne

[2018-08-07 17:06] sumkincpp commented on #2148
Seems to be related to tower-cli, since the type of field is `text`.
This issue is relevant  to [ansible/tower-cli/issues/254](https://github.com/ansible/tower-cli/issues/254)

Value passed in CLI passed as int and not as text from tower-cli.

[2018-08-08 12:05] msilmser opened #2151 "RFE: Add Confirmation on Job Launch"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Ask for the user to be sure to run a job from the jobs' list or allow to block/deny the launch for some templates from the jobs' list.

With some critical templates, it would be useful to check if the operator is sure to run those templates in order to avoid he pressed the run button for mistake.
This is especially

[2018-08-08 14:17] wenottingham commented on #2151
I don't think blocking job runs from the job list is practical - for anything the user could relaunch that way, they could launch with those parameters normally.  Confirming is potentially possible.

[2018-08-08 14:20] klauern commented on #353
@walkafwalka it doesn't work if your password uses characters normally used for password escape sequences.  Unfortunately, I no longer work for the company that this issue was raised for, so I have no way to test this anymore.

[2018-08-08 16:06] itcrowdsource commented on #2083
@matburt not sure if you're still following this issue since it has been closed. But I added some new information a few weeks ago.

[2018-08-08 18:56] wenottingham commented on #1668
This will be updated if/when someone is looking at this for AWX... at the moment, no one is looking at this.

[2018-08-08 19:05] wenottingham commented on #2147
This isn't correct; you can prompt for extra_vars when creating a workflow node.

[2018-08-08 19:05] #2147 closed, assigned to nobody

[2018-08-08 19:32] sumkincpp commented on #2147
@wenottingham What isn't correct? Yes, you can prompt for extra_vars, but you can't use extra_data for template node within workflow.

Won't it be useful to add extra_data for nodes in workflow?

[2018-08-08 19:59] wenottingham opened #2152 "Restrict multiple LDAP configuration by domain"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

We now allow mutliple LDAP configurations.

It should be possible to designate a configuration such that it is only used by a particular domain. i.e., a user would enter foo@bar.baz.com as their user name, and their account would be verified against whatever LDAP configuration desginates that it's for bar.baz.com.

[2018-08-08 20:06] gauravshankarsymcor opened #2153 "SCM Failure prints git synchronization passwords in plain text"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

SCM Failure  prints git synchronization passwords in plain text

##### ENVIRONMENT
* AWX version: 1.0.6.14
* AWX install method: docker
* Ansible version:  2.5.4

* Operating System: RHEL
* Web Browser:  chrome

##### STEPS TO REPRODUCE

Create an SCM update at the project level

ensure that scm fails by putting a wrong u

[2018-08-08 20:09] gauravshankarsymcor commented on #2153
Gitlab is our SCM

[2018-08-08 20:18] wenottingham commented on #2147
extra_data is filled by the prompted extra_vars.

[2018-08-08 23:49] AlanCoding opened #2154 "Checkout-less project updates"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
"check" type project updates check out the full source tree to the file system.

This is not necessary, and it will be done on the pre-JT sync anyway. It would be lazier behavior, and more performant, to avoid this in the updates themselves.

It would also be semantically more easy to understand that a "check" type update

[2018-08-09 10:45] pluto2112 opened #2155 "No job output in awx."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Hello, i have installed AWX 1.0.6.41 but i have no output of the playbooks when i start a job and what went wrong. I already found a bug report but it was for an old version and already closed.

##### ENVIRONMENT
* AWX version: 1.0.6.41
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker

[2018-08-09 12:15] itcrowdsource commented on #2083
@matburt I checked the API stdout of the project update, there was a problem with the requirements.yml file ... some roles are removed from ansible-galaxy .. the update process couldn't retrieve these roles which caused the failure. Would be nice to see the stdout of project updates also in the job output view in the UI. Maybe a proposal for an enhancement?

[2018-08-09 13:44] chrismeyersfsu commented on #2154
@AlanCoding I'm seeing people on the mailing list complaining about playbooks not appearing in the drop-down selector when they expect it to. One person mentioned they had to delete and resync their project. I'm wondering if different version of ansible/git are behaving differently given our parameters. If we recreate, we should make the check type project update behave like the run type project u

[2018-08-09 14:53] kialam opened #2157 "Remove Bootstrap framework"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

This ticket is meant to discuss and log the LOE required to remove the Bootstrap framework library from our build. With the advancement of CSS Grid, flexbox, and custom pattern libraries, Bootstrap is becoming less and less useful for our needs. The idea here would be to remove the framework while preserving the current

[2018-08-09 20:58] wenottingham commented on #2000
The workaround for this case would be to set a fact that changes for each run, either:
- set a fact for the current timestamp
- set a fact for the current job id

[2018-08-10 13:07] computerlyrik opened #2161 "Slack integration is not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

We try to evaluate the AWX and are not able to send slack notifications.
The documentation seems to be outdated.
Some examples how auth tokens look might be useful

##### ENVIRONMENT
* AWX version:
awx-manage --version
3.2.4

* AWX install method: AWS europe central AMI

* Ansible version:  X.Y.Z
ansible --version
ansible

[2018-08-10 14:27] wenottingham commented on #2161
3.2.4 is an Ansible Tower version. If you are having issues with Ansible Tower, please contact your Red Hat support rep.

[2018-08-10 14:27] #2161 closed, assigned to nobody

[2018-08-10 14:48] mabashian opened #2162 "UI can erroneously show Failed to access license information error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
After login, the UI makes a call out to the config endpoint and then does _a number of things_ directly after that.  If any one of those things fails, the UI is currently throwing a generic error message about failing to access license information.  You can see that code [here](https://github.com/ansible/awx/blob/devel/awx/u

[2018-08-10 16:04] ghost commented on #1191
This reports a fix:
https://bugzilla.redhat.com/show_bug.cgi?id=1591646

Do we need to modify the inventory import script to request a network provider?

[2018-08-10 16:08] wenottingham commented on #1191
The ovirt4.py invnentory script has not been changed on the devel branch in Ansible.

[2018-08-10 19:01] AStrangwood commented on #2153
I have seen the same issue when using mercurial.

[2018-08-10 19:29] jakemcdermott opened #2163 "RFE (?) remove spinny from the UI"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Ideally this service shouldn't exist, but in the short term lets replace the implementation of the `Wait` service with something that specifically disables save buttons, form fields, etc. (or whatever problem it's trying to solve) in a more targeted fashion instead of complete and total interruptive disablement of the UI f

[2018-08-10 20:06] jakemcdermott commented on #2163
ideas:

- For requests triggered via job status updates, etc. - if we can specifically identify and isolate them all (something we need to do anyway, because we're removing them in the future) we should consider removing the `working...` spinner entirely,

- For form submissions, modal acknowledgements, list actions, etc. we maybe just disable the buttons and fields until the transaction completes

[2018-08-10 20:24] jakemcdermott commented on #2163
Potential implementation details, which are just ideas that _might_ work, which we can adopt, modify, or throw out when the time comes:

Add two argument flags to the `wait` function:
   1. `showSpinny`: true/false -> default to true
   2. `disableEverything`: true/false -> default to false

- set the `disableEverything` flag to true for form saves, etc.
- set both flags to false for anything rela

[2018-08-12 12:55] sumkincpp commented on #2148
Is it fine that AWX ignores var that expected to be text, but passed as integer?
So, if count_input is expected to be text, the value is ignored in this query :
[code]
But treated fine in this query :
[code]

[2018-08-12 15:22] sumkincpp commented on #2155
Are you using vars_prompt in your playbook?
This might be a reason why you are not seeing any output.

[2018-08-12 21:03] jasweet commented on #371
We've requested this feature as well. Would be nice to see it expedited.

[2018-08-13 09:40] davidchlup commented on #2140
awx_ logs from the server:

`2018-08-06 08:39:19,822 ERROR    django.request Internal Server Error: /
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib/python2.7/site-packages/django/core/handlers/exception.py", line 41, in inner
    response = get_response(request)
  File "/usr/lib/python2.7/site-packages/awx/wsgi.py", line 65, in _legacy_get_response
    return super(AWXWSGIHa

[2018-08-13 11:11] nodje opened #2166 "Project: Clone Git repo over HTTPS fails on Submodules using SSH"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Project

##### SUMMARY
I've got a project under Git that is clonable with HTTPS only, and which references git Submodules using an SSH Url (on Github, not needing any credentials)
And the clone operation fails when trying to init/update submodules.

##### ENVIRONMENT
* AWX 1.0.6.41
* AWX install method: docker on linux
* Ansible version:  2.6.

[2018-08-13 12:55] lion24 opened #2167 "How to call a bootstrap script from jobs template."
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - UI

##### SUMMARY
Call a bootstrap bash script.

##### ENVIRONMENT
* AWX version: 1.0.6.28
* AWX install method: docker on linux
* Ansible version:  2.6.1
* Operating System: Ubuntu linux
* Web Browser: Mozilla

##### STEPS TO REPRODUCE
Hi all,

We are using a setup.sh script that is sourced automatically using direnv. This setup.sh bootst

[2018-08-13 14:46] runtman opened #2168 "Slack Notifier - Adding colour to the alert removes the alert image and name which is set in slack"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
This is more of a FYI (Something I just noticed).

I just added the colour #FF0000 to my slack notifier and I noticed within Slack, the name of the alert and the avatar of the alert vanished.

See the below image:

![bug](https://user-images.githubusercontent.com/6459792/44038951-de70e7a8-9f0f-11e8-881c-7b13dcf7ea63.p

[2018-08-13 14:58] wenottingham commented on #2168
Almost certainly fixed by https://github.com/ansible/awx/pull/2126

[2018-08-13 14:58] #2168 closed, assigned to nobody

[2018-08-13 16:12] wenottingham commented on #2167
AWX is designed to run ansible-playbook; it is not designed to inject commands before that, and likely will not be designed to do so.

You'd have to do this in another way. AWX includes support for custom virtual environments, which likely could be used for your ansible versioning issues. If you're doing SSH config per inventory, that seems better done with inventory variables. Etc.

[2018-08-13 16:12] #2167 closed, assigned to nobody

[2018-08-13 16:34] jbidinger commented on #1674
What happened with this? Did you guys figure it out?

[2018-08-13 16:57] runtman commented on #2168
Interesting, I upgraded AWX today by removing the containers, pulling the latest devel branch and using the installer. Did my upgrade fail?

[2018-08-13 16:58] grahamneville commented on #1914
Hi @jaredevantabor . I see there was a big merge in to the devel branch, is 7610c66 included, if not do you know when we could see it arrive?

[2018-08-13 17:03] wenottingham commented on #2168
The latest even before today's devel merge was 1.0.6.something.

[2018-08-13 17:06] ryanpetrello commented on #1914
Hey @grahamneville, we're currently working on cutting a new release of awx (which will include
https://github.com/ansible/awx/commit/7610c660cb8171c4bd04d426289432dfe77f544b).

[2018-08-13 17:08] runtman commented on #2168
I guess something failed, thanks.

[2018-08-13 17:09] grahamneville commented on #1914
Cool, @ryanpetrello. Will this release have a docker tag of 1.0.7.0? How will I know which release it will be in?

[2018-08-13 17:52] ryanpetrello commented on #1914
@grahamneville @adambirds @hemskgren, we've just released 1.0.7, which you can try out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing issues after installing the latest awx - thanks!

[2018-08-13 17:52] #1914 closed, assigned to nobody

[2018-08-13 17:52] ryanpetrello commented on #2153
@gauravshankarsymcor @AStrangwood we've just released 1.0.7, which we believe resolves this issue.  You can try out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing issues after installing the latest awx - thanks!

[2018-08-13 17:52] #2153 closed, assigned to ryanpetrello

[2018-08-13 17:53] ryanpetrello commented on #2150
@chrismeyersfsu this ready to close?

[2018-08-13 17:54] ryanpetrello commented on #2072
@cesarfn4 @piroux @unkaputtbar112 we've just released 1.0.7, which we believe resolves the underlying issue here. You can try out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 17:54] #2072 closed, assigned to ryanpetrello

[2018-08-13 17:54] ryanpetrello commented on #2048
@kefiras we've just released 1.0.7, which we believe resolves the underlying issue here. You can try out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 17:54] #2048 closed, assigned to ryanpetrello

[2018-08-13 17:55] ryanpetrello commented on #2033
@gnosek @sumkincpp we've just released 1.0.7, which we believe resolves the underlying issue here. You can try out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 17:55] #2033 closed, assigned to nobody

[2018-08-13 17:56] ryanpetrello commented on #2002
@orgito we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 17:56] #2002 closed, assigned to nobody

[2018-08-13 17:56] ryanpetrello commented on #1993
@MuLoT44 we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 17:56] #1993 closed, assigned to nobody

[2018-08-13 17:57] ryanpetrello commented on #1977
@PaulRitzkat we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 17:57] #1977 closed, assigned to ryanpetrello

[2018-08-13 17:57] ryanpetrello commented on #1958
@wturnage we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 17:57] #1958 closed, assigned to nobody

[2018-08-13 17:58] ryanpetrello commented on #1925
@nbruniaux we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 17:58] #1925 closed, assigned to nobody

[2018-08-13 17:59] ryanpetrello commented on #1904
@conft @onitake we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 17:59] #1904 closed, assigned to nobody

[2018-08-13 17:59] ryanpetrello commented on #1870
@ewortzman @kavink @jspitzen we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 17:59] #1870 closed, assigned to nobody

[2018-08-13 18:00] ryanpetrello commented on #1855
@KyleTheAutomator @zhangtiny123 @mprasil we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 18:01] ryanpetrello commented on #1840
@cesan3 we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 18:01] #1840 closed, assigned to ryanpetrello

[2018-08-13 18:01] ryanpetrello commented on #1838
@chestercheng we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 18:01] #1838 closed, assigned to nobody

[2018-08-13 18:02] ryanpetrello commented on #1803
@kedare we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 18:02] #1803 closed, assigned to nobody

[2018-08-13 18:03] #1704 closed, assigned to nobody

[2018-08-13 18:03] #1602 closed, assigned to nobody

[2018-08-13 18:03] #1581 closed, assigned to nobody

[2018-08-13 18:04] ryanpetrello commented on #1478
Fixed downstream.

[2018-08-13 18:04] #1478 closed, assigned to nobody

[2018-08-13 18:05] ryanpetrello commented on #1444
Fixed in 1.0.7.

[2018-08-13 18:05] #1444 closed, assigned to nobody

[2018-08-13 18:05] ryanpetrello commented on #1432
@jimmydavies we've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 18:05] #1432 closed, assigned to nobody

[2018-08-13 18:07] ryanpetrello commented on #1325
Fixed in 1.0.7.

[2018-08-13 18:07] #1325 closed, assigned to Haokun-Chen

[2018-08-13 18:07] ryanpetrello commented on #1238
Fixed in 1.0.7.

[2018-08-13 18:07] #1238 closed, assigned to nobody

[2018-08-13 18:08] ryanpetrello commented on #1226
Fixed in 1.0.7.

[2018-08-13 18:08] #1226 closed, assigned to nobody

[2018-08-13 18:08] ryanpetrello commented on #1173
Fixed in 1.0.7

[2018-08-13 18:08] #1173 closed, assigned to nobody

[2018-08-13 18:09] ryanpetrello commented on #1022
This is caused by your usage of LastPass.  `wontfix`

[2018-08-13 18:09] #1022 closed, assigned to nobody

[2018-08-13 18:10] ryanpetrello commented on #956
We've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 18:10] #956 closed, assigned to nobody

[2018-08-13 18:11] ryanpetrello commented on #888
We've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 18:12] ryanpetrello commented on #775
We've just released 1.0.7, which we believe resolves the underlying issue here. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still seeing this issue after installing the latest awx - thanks!

[2018-08-13 18:12] #775 closed, assigned to nobody

[2018-08-13 18:12] ryanpetrello commented on #719
Fixed in 1.0.7

[2018-08-13 18:12] #719 closed, assigned to nobody

[2018-08-13 18:13] ryanpetrello commented on #703
We've just released 1.0.7, which provides support for this feature. You can try it out here: https://github.com/ansible/awx/releases/tag/1.0.7

Let us know if you're still having problems after installing the latest awx - thanks!

[2018-08-13 18:13] #703 closed, assigned to ryanpetrello

[2018-08-13 18:14] ryanpetrello commented on #701
Resolved in 1.0.7

[2018-08-13 18:14] #701 closed, assigned to nobody

[2018-08-13 18:15] ryanpetrello commented on #671
We decided not to do this due to a lack of support for unicode extra vars in Ansible itself.

[2018-08-13 18:15] #671 closed, assigned to nobody

[2018-08-13 18:15] ryanpetrello commented on #585
This should be fixed in AWX 1.0.7.

[2018-08-13 18:15] #585 closed, assigned to ryanpetrello

[2018-08-13 19:14] ryanpetrello commented on #1914
@grahamneville

https://hub.docker.com/r/ansible/awx_web/tags/
https://hub.docker.com/r/ansible/awx_task/tags/

[2018-08-13 19:33] YunfanZhang42 commented on #2088
Hi @khelkun, we just released awx 1.0.7 today and we were unable to reproduce this bug on this version. Can you try to use awx 1.0.7 and see if this problem persists? Thanks!

[2018-08-13 22:32] jakemcdermott commented on #2155
This should be cleared up as of today - please re-open if you're still seeing this after updating. Thank you!

[2018-08-13 22:32] #2155 closed, assigned to nobody

[2018-08-14 01:06] DrStrangepork opened #2171 "Installing Tower: The 'awx==3.2.6' distribution was not found and is required by the application"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

I am following the instructions https://docs.ansible.com/ansible-tower/latest/html/quickinstall/install_script.html
Eventually, I end up with this error:
[code]

##### ENVIRONMENT
* AWX version: 3.2.6
* AWX install method: Via install of Ansible Tower
* Ansible version:  2.6.2
* Operating System: RHEL 7.5 (Maipo)
*

[2018-08-14 07:58] Colstuwjx opened #2172 "SSH proxy doesn't work in awx"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
I have been using the awx as our job system, and setup an inventory with a list of instances, they are all ssh via a jump host, and inventory ssh config likes below:

[code]
and awx throws error:

![image](https://user-images.githubusercontent.com/3972545/44078895-3d3f17d0-9fda-11e8-8506-d4dcbe6664bf.png)

##### ENVIRONMENT

[2018-08-14 11:29] AStrangwood opened #2173 "Upgrade To 1.0.7 Fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Upgraded to latest version of AWX from 1.0.6.41  is failing

##### ENVIRONMENT
* AWX version: 1.0.7
* AWX install method:docker on linux
* Ansible version:  2.6.2
* Operating System: Ubuntu 18
* Web Browser: N/A

##### STEPS TO REPRODUCE

Remove old containers, run awx installer

##### EXPECTED RESULTS

upgrade works

[2018-08-14 12:39] onitake commented on #2173
It might be that manual Django migrations are required, but this hasn't helped in my case.

After manually running
[code]
inside the awx_web container, I'm still getting errors like
[code]

[2018-08-14 13:01] onitake commented on #2173
This is the output of `makemigrations`:
[code]
No `job_template_admin_role` field there...

[2018-08-14 13:28] onitake commented on #1904
Thanks, I'd love to try it, but I'm runnining into a schema upgrade problem: #2173
I'll report back when that is fixed.

[2018-08-14 13:56] cehovski commented on #2173
I have the same problem with same error in logs.

Also tried doing migrations which unfortunately didn't solve the problem.

I've also tried backing up the database. Doing a clean install and restoring the database. It looks like the database structure has changed since I'm getting errors while restoring onto the newer version.

My current version is 1.0.6.41. And sorry for not pasting any logs. I

[2018-08-14 14:11] krentiken commented on #2029
ok. thanks for the answer

[2018-08-14 14:55] AStrangwood commented on #2173
I had to roll back to 1.0.6.41 to get back up and running.
I just try to upgrade to 1.0.6.49 but im getting the exact same error :(

[2018-08-14 15:14] chrismeyersfsu commented on #2150
@ryanpetrello I'm still shameless poking Daniel on the mailing list to see if this fix works for him. Our QE team tested the fix and passed. https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/awx-project/ce95ooS2sp0/OwEzOmwcDgAJ

[2018-08-14 15:16] ryanpetrello commented on #2150
Okay, sounds good 👍

[2018-08-14 15:37] dfederlein commented on #2171
This is a failed Tower install. Ansible BU/SAs are working with a Red Hat customer on this. This is not appropriate for the AWX repository.

For the record: The Tower installer is not maintained here, and the guess about the missing pip module is incorrect and this action likely created an issue with the python env:

_

_

AWX team please close this. My team will work with the customer.

[2018-08-14 15:41] onitake commented on #2173
The problem with downgrades is that the database schemas don't get rolled back, as the old release doesn't have the schema change scripts. To restore the DB to a working state, I had to upgrade to the latest version again, then run `awx-manage migrate main <last DB state from 1.0.6>` with `0037_v330_remove_legacy_fact_cleanup` as the schema state. This rolled back all the changes that were made fo

[2018-08-14 15:47] #2171 closed, assigned to nobody

[2018-08-14 15:52] AStrangwood commented on #2173
I have tried to do migrations to get up to 1.0.6.49 and these are the results

[code]

[2018-08-14 16:24] matburt commented on #2162
This specifically seems to happen when the API returns a 500 because the projects directory is not readable by AWX.

[2018-08-14 16:40] AStrangwood commented on #2173
I was able to get to 1.0.7 by removing the application i had, but now everything is broken. Almost every page i go to gives me a different  "GET returned status: 500 A server error has occurred".

[2018-08-14 16:47] AStrangwood commented on #2173
![image](https://user-images.githubusercontent.com/5055026/44105553-fb2f1d1c-9fe9-11e8-8fe6-1f8c695c110a.png)

![image](https://user-images.githubusercontent.com/5055026/44105581-0eb68c94-9fea-11e8-8f28-b7b7cd292c26.png)

[2018-08-14 17:29] matburt commented on #2173
as pointed out in my announcement email on the mailing list, direct upgrades are not supported moving to 1.0.7. You'll need to start afresh or use our migration strategy:
https://github.com/ansible/awx/blob/devel/DATA_MIGRATION.md

[2018-08-14 17:29] #2173 closed, assigned to nobody

[2018-08-14 17:53] onitake commented on #2173
This is a joke, right?!?

[2018-08-14 18:50] matburt commented on #2173
Yes, I've updated the link: https://github.com/ansible/awx/blob/devel/DATA_MIGRATION.md

[2018-08-14 20:22] AlanCoding commented on #1283
From conversation with @stoleas @gamuniz and others:

The capacity impact of these jobs will be an interesting thing to figure out. We have a shortcoming of our current logic that if you use a `limit` for a job, the task impact does not take into account the number of hosts the limit would target, and instead counts all the hosts in the inventory.

For this feature, it should be easy to work aroun

[2018-08-14 20:39] shadowink commented on #2112
I am also seeing this behavior on a fresh install of AWX 1.0.7.2 on CentOS 7

[2018-08-15 01:39] AlanCoding opened #2176 "Inventory and variable files are duplicated"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
inventory and vars files are written twice for some reason

##### ENVIRONMENT
* AWX version: 1.0.7.start
* AWX install method: all
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Run a JT that prints files in the private data directory

or use this one

https://github.com/AlanCoding/p

[2018-08-15 02:24] matburt commented on #1283
I think it's probably fine since we're still under `min(forks, numhosts)` this isn't unique to split jobs.

[2018-08-15 02:42] DrStrangepork commented on #2171
Actually @dfederlein, I have confirmed that the problem stemmed from the inclusion of pip 10.0.1 in the site-packages of awx, and running `pip install` outside of the Ansible Tower install process FIXED the problem.

You should think twice before throwing clients under the bus in a public forum.

[2018-08-15 12:19] sumkincpp commented on #1150
Wow, great work, fixed at least in latest **1.0.6.49**

[2018-08-15 13:36] Durburz commented on #941
This is really needed. Because the OpenStack modules are falling back to Identity API version 2 which is deprecated. This could be changed, when there is a option for setting the Identity version in AWX.

[2018-08-15 17:09] wenottingham commented on #1268
This is already in AWX (for job details).

[2018-08-15 17:23] lucacri commented on #2173
The whole point of SEMVER is to avoid situations like this. You can't expect people to know that a 1.0.X change would wreck their system. Breaking changes should be X.0.0.

Also, the kubernetes installer (as of few months ago) had all the images to `:latest` which means that your choice is definitely breaking AWX for anyone that even restarted their K8s. Ridiculous

[2018-08-15 18:02] #1268 closed, assigned to nobody

[2018-08-15 21:53] onitake commented on #2173
@matburt The link was one thing, but my question was more directed at the "Want to upgrade AWX? You're screwed!" statement. And doing a break-everything change on a minor patch level just puts the icing on the cake.

I understand that making the code base of Ansible Tower open source is a major undertaking and breaking changes are to be expected, but telling users who are _seriously_ testing/using

[2018-08-16 06:57] nduyhai opened #2178 "Cannot login in web UI"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.7
* AWX install method:  docker on linux
* Ansible version:  2.6.2
* Operating System: CentOS Linux release 7.2.1511
* Web Browser: Google Chrome Version 68.0.3440.106

##### STEPS TO REPRODUCE

- On remote server, clone awx repository from github, checkout version 1.0.7, install follow

[2018-08-16 07:18] dadudu81 commented on #1861
I have the same issue either

ENVIRONMENT

AWX version: 1.0.7
AWX install method: docker on linux
Ansible version: 2.5.4
Operating System: CentOS 7
Web Browser: Firefox/Chrome

[2018-08-16 10:02] cesarfn4 opened #2179 "RFE: Looking to control user access to the Ansible Tower during a particular time period"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
For example, if operator can execute certain automation task during the greenzone, they would prefer to provide that particular user access to Ansible Tower only during the Greenzone time period and restrict the access to ansible tower for other time period.

[2018-08-16 12:59] rooftopcellist commented on #21
@akcrisp Thanks for the feedback!  I'm sorry I didn't see this earlier.

1. Unfortunately, the underlying library that the `api/o/` endpoints are built on does not have the `description` field natively, that is something we added afterwards, so they don't have any handling for that.  One way around this, is you could issue tokens through a POST to `/api/v2/tokens/` or any of the other token endpoi

[2018-08-16 13:18] grahamneville commented on #1861
I have this issue as well. I was on 1.0.4.50 and that was working fine. I've moved up to 1.0.7.0 and now I just see a spinning 'working' wheel when try to see job history. I've tried different browsers and incognito windows but no change.

I'm running AWX just on normal docker. Not on k8s or openshift.

I was using haproxy in front for SSL offload but I still see the same if I browse to the awx_we

[2018-08-16 13:24] ryanpetrello commented on #2178
@nduyhai can you share the `Response` tab of the red `/api/` request on the right side of your screenshot?

[2018-08-16 13:53] akcrisp commented on #21
@rooftopcellist can you tell me if the oauth2 implementation supports a 3rd party token end point ?

[2018-08-16 14:05] rooftopcellist commented on #21
@akcrisp it sounds like you are referring to a separate Authorization Server -- https://django-oauth-toolkit.readthedocs.io/en/latest/resource_server.html.  To be clear, this is not yet implemented in AWX.

[2018-08-16 14:16] wenottingham commented on #2179
This is #1229, more or less. I assume they are only interested in restricting the ability to run jobs... restricting the ability to view prior jobs by timeframe doesn't make much sense to me at first glance.

[2018-08-16 14:16] #2179 closed, assigned to nobody

[2018-08-16 15:30] runtman commented on #2168
Just installed 1.0.7 and it still just shows "bot" it removes the name and also the icon you assign to the bot.

[2018-08-16 15:32] runtman commented on #2168
![screenshot from 2018-08-16 16-31-03](https://user-images.githubusercontent.com/6459792/44218533-cbf4e200-a171-11e8-9a36-104f45ab5749.png)

[2018-08-16 15:43] runtman commented on #2168
_______________
<  AWX 1.0.7.2  >
 ---------------
        \   ^__^
         \  (oo)\_______
            (__)      A )\/\
                ||----w |
                ||     ||

Ansible 2.6.2

[2018-08-16 16:16] jakemcdermott commented on #1861
grahamneville - do you have any container logs we can take a look at?

[2018-08-16 16:18] nduyhai commented on #2178
@ryanpetrello  There are response of `/api/`
![simulate](https://user-images.githubusercontent.com/15892244/44221028-75f06080-a1aa-11e8-9d99-26b173f56ce7.png)

Note:
- After login failed, i cannot access any `awx` endpoint. For access again, i must manually remove cookies
- Other case, when first time access (and no login) , i can access /api/ normally

[2018-08-16 19:56] ryanpetrello commented on #2178
@nduyhai what is the response code?  `HTTP 401`?  `HTTP 403`?  can you share the `Response` tab in your screenshot?

[2018-08-16 20:43] rob-64 commented on #70
@ryanpetrello is the swagger now being published by chance?

[2018-08-16 21:29] ryanpetrello commented on #70
@rob-64 it's not currently, but it's pretty easy to generate the file from source yourself if you want to view it in a third party Swagger browsing tool (like https://swagger.io/tools/swagger-ui/).

If you set up a local Docker environment: https://github.com/ansible/awx/blob/devel/CONTRIBUTING.md#setting-up-your-development-environment

You can run `make swagger` from inside the container:
[code]

[2018-08-17 02:02] nduyhai commented on #2178
@ryanpetrello `Response` is empty, therefore not have response code (tab `Headers` contain  request and response)

* Response tab
![response](https://user-images.githubusercontent.com/15892244/44244234-21c29c00-a1fd-11e8-8d39-3991fa67284c.png)

* Review tab
![review](https://user-images.githubusercontent.com/15892244/44244240-2b4c0400-a1fd-11e8-80e2-5bf8810ba7da.png)

* Timing tab
![timing](https:

[2018-08-17 02:38] nduyhai commented on #2178
Log of container awx_web when login failed:
[code]

[2018-08-17 05:33] sightseeker commented on #2173
I have also experienced this problem. (
So I recovered PostgreSQL table schema in awx database.
That step is:

[code]

[2018-08-17 07:06] onitake commented on #2173
@sightseeker aside from the other schema changes that already have migrations, is this the only thing needed? Where did you get that default value '9' for job_template_admin_role_id? Is this specific to your installation or hardcoded?

[2018-08-17 07:58] lemmy04 opened #2180 "my AWx is dead"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
When I try to access the dashboard on the AWX web ui I get "Failed to get dashboard job templates list: 500 a server error has occured".
When I try to get the list of templates, i get "Invalid search term entered. 500 a server error has occured", same on "My View"

##### ENVIRONMENT
* AWX version: 1.0.7
* AWX install method

[2018-08-17 08:55] sightseeker commented on #2173
@onitake That value '9' of `job_template_admin_role_id` was setting up the `Default` role of  `main_organization` in new installed AWX database.
But I was mistaken when I lookup the `main_role_rbacs` records of migrated database, and `main_role_rbacs' table records was different between new installed database and migrated database.

That value '9' of `job_template_admin_role_id` was setting `job_t

[2018-08-17 09:45] grahamn-gr commented on #1861
@jakemcdermott

I've tried a few things, listed below, that people have suggested fixed the issue and some more but I've had no luck.

- Hitting AWX_WEB directly and not using any proxy in front
- Multiple Browsers, clearing cache and incognito windows
- Deleting all containers and removing the postgres database storage and doing a fresh install
- Setting `host_port=127.0.0.1:port` in the inventor

[2018-08-17 12:58] mkempster22 commented on #2180
I also get this on a fresh installation of 1.0.7.2 on the dashboard plus all pages in the 'resources' category

[2018-08-17 13:10] nicolaibaralmueller opened #2181 "Azure ansible_module_azure_rm_virtualmachine.py"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
AWX does not handle Azure modules the same as ansible "core"

##### ENVIRONMENT
* AWX version: 1.0.6.41
* AWX install method: docker on linux
* Ansible version:  2.6.2

##### STEPS TO REPRODUCE

`azure_rm_virtualmachine:
    subscription_id: '{{ az_customer_subscription_id }}'
    ad_user: '{{ ad_user_login_var }}'
    pas

[2018-08-17 14:05] wenottingham commented on #2181
We would need the full output, not a truncated version.

[2018-08-17 15:27] cesarfn4 opened #2182 "RFE: Provide survey list of tags for job templates"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Allow the possibility of creating a survey list of tags when running a job template.

[2018-08-17 15:48] wenottingham commented on #2182
This is #1182, closing as a duplicate.

[2018-08-17 15:48] #2182 closed, assigned to nobody

[2018-08-17 16:24] nschhina commented on #2180
https://groups.google.com/forum/#!searchin/awx-project/1.0.7%7Csort:date/awx-project/z_sg_En-XIM/TcE5ECGgCQAJ . According to this, direct migration to 1.0.7 wouldn't work. You basically need to start afresh database and then import all the data You'd need.

[2018-08-17 18:36] micahel71 opened #2183 "Inventoy var ca_trust_dir ignored when var project_data_dir is set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
When you uncomment both variables `project_data_dir` and `ca_trust_dir` in the inventory file only `project_data_dir` will get mounted and `ca_trust_dir` is _ignored_.

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method: docker on linux
* Ansible version:  2.6.2
* Operating System: RHEL Linux
* Web Browser:

[2018-08-17 19:06] lemmy04 commented on #2180
I guess next time I consider upgrading my AWX i'll be thinking "better not."

[2018-08-17 19:06] #2180 closed, assigned to nobody

[2018-08-18 11:22] jmarci opened #2184 "Feature Idea: Add a Limit Option in Template Survey"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Add an overriding limit option to the template survey to be able to select and define (single or multiple) hosts or host groups from the inventory source.

Think a selectable limit option would be nice UI option. This would eliminate having to know and manually define these host(s) or host group(s) in the limit option free

[2018-08-19 14:04] ghost opened #2186 "survey password written on disk for vmware_guest"
- Feature Idea

 - UI

I don't know if this is a security bug, so I open it as feature request. I have a playbook which create a vm from template in vmware and I use the module vmware_guest. I created a project with my playbook which take username and password from awx. In awx there is a survey which ask for username, password for access to vcenter and other informations for create the vm. When I

[2018-08-20 06:46] runtman opened #2187 "Slack Notifier Not Retaining Avatar / Name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Since upgrading to 1.0.7, the Slack notifier ignores the Avatar and name that is set within the Slack configuration

##### ENVIRONMENT
* AWX version:Ansible 2.6.2
* AWX install method: docker on linux
* Ansible version: AWX 1.0.7.2
* Operating System: Ubuntu

##### STEPS TO REPRODUCE

Add a avatar and name to the bot

[2018-08-20 08:44] #2178 closed, assigned to nobody

[2018-08-20 09:06] Herve-ross opened #2188 "Long job output missing tasks names"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Missing tasks name in job output

##### ENVIRONMENT
* AWX version: 1.0.6.46
* AWX install method: openshift
* Ansible version:  2.6.1
* Operating System: 7.5
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Run a playbook with multiple tasks on many nodes (log = 1769 lines)

##### EXPECTED RESULTS

PLAY [Update RHEL Servers

[2018-08-20 11:42] pkaramol commented on #1745
So currently the only way for taking a backup for `awx` is via `tower-cli` and the resources export / import functionality?

Running a `pg_dumpall` against the `postgres` container and restoring by importing this dump should work or not?

[2018-08-20 12:47] matburt commented on #1745
the cli-based backup/restore is meant to aid updgrades and migrations to new versions. Normal backup/restore for same-version will work fine.

[2018-08-20 12:50] grahamneville commented on #1861
Any suggestions on what can be done to troubleshoot this further please?

[2018-08-20 13:13] wenottingham commented on #2186
This is intentional, it's in a temporary directory that lives only for the lifecycle of the ansible-playbook process, isolated from other jobs via both unix permissions and bubblewrap. Any user with sufficient permissions to read the temporary file has sufficient permissions to cause more serious damage by interfering with the AWX process itself.

The alternative is passing them via the commandlin

[2018-08-20 13:13] #2186 closed, assigned to nobody

[2018-08-20 13:14] wenottingham commented on #2184
This is #1179, closing as a duplicate.

[2018-08-20 13:14] #2184 closed, assigned to nobody

[2018-08-20 14:45] chrismeyersfsu commented on #1873
@cesan3 we've merged in many fixes to the task manager in the new 1.0.7 AWX release. Can you give your experiment another try?

[2018-08-20 14:56] pkaramol commented on #1745
@matburt thanks!

However in the [documentation](https://tower-cli.readthedocs.io/en/latest/) there is no mention of a complete system backup/restore process.

Is the only way around this to do this one resource at a time? (i.e. exporting all templates and then importing them and so on?)

[2018-08-20 15:14] decentral1se commented on #1745
For anyone looking for a DIY upgrade path solution, it seems the two best reads are:

  * https://github.com/ansible/tower-cli/pull/479
  * https://groups.google.com/forum/#!topic/awx-project/is60aeikbVs

[2018-08-20 18:23] SamKirsch10 commented on #1861
Also having this problem in k8s. Tried a few things listed here, but still will randomly get closed sockets even when directly connected to the web container. If there are any debugging things to run, I can do so if needed.

[2018-08-20 22:46] jakemcdermott commented on #1861
I'm unclear on what might be causing the closed sockets SamKirsch mentioned, but that sounds like a deeper, different issue and one not entirely constrained to the job details page?

There are some race conditions involving setting up the initial connection to the job details page that have been resolved downstream and will be landing in AWX shortly.

These changes _might_ resolve some of the issu

[2018-08-20 22:52] SamKirsch10 commented on #1861
The closed sockets I am talking about are all in this thread. Closed websockets. I notice closed websockets after an unspecified time (it's not always the same) when I try to view job details and also jobs that are running / have run. This does not mean it never shows, sometimes a full container restart lets everything show again. I hope the upcoming upstream changed will help :)

[2018-08-20 23:15] jakemcdermott commented on #2140
Hello, TheSentinelD.

Thanks for filing this issue. The behavior you've described and logs you've provided almost always indicate errors due to attempting to update between incompatible versions of AWX.

Although there are no _supported_ migration paths for updating between awx versions, there are some community-driven approaches that work well for some: https://github.com/ansible/awx/issues/1745#

[2018-08-20 23:15] #2140 closed, assigned to nobody

[2018-08-21 09:08] nicolaibaralmueller commented on #2181
User error. Closing incident.

[2018-08-21 09:08] #2181 closed, assigned to nobody

[2018-08-21 10:17] mauromedda opened #2190 "Hashicorp Terraform Provider for AWX"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
I'm proud to announce the WIP on a terraform provider for AWX. It's based on the Go SDK https://github.com/Colstuwjx/awx-go that we are extending to satisfy the provider and the AWX/Tower capabilities.
The current provider version permits CRUD operations on the basic inventory resource.

##### ADDITIONAL INFORMATION

http

[2018-08-21 14:50] ryanpetrello commented on #2190
@mauromedda this is awesome 😄.  We generally use Github issues to track feature requests and bugs for awx itself.  You might want to announce this on the awx mailing list to reach a broader audience:

https://groups.google.com/d/forum/awx-project

[2018-08-21 14:50] #2190 closed, assigned to nobody

[2018-08-21 15:02] jmnguye opened #2191 "Allow OAuth2 token creation for LDAP"
##### ISSUE TYPE
AWX 1.0.7.2
While retrieving a token using an ldap account, i'm getting access denied :
(access_denied) OAuth2 Tokens cannot be created by users associated with an external authentication provider (ldap)

##### COMPONENT NAME
Access is denied on both
 - API
 - UI

##### SUMMARY
Not sure why we cannot retrieve an OAuth2 Tokens, there might be some unknown security reason, maybe i g

[2018-08-21 15:14] ryanpetrello commented on #2191
@jmnguye this is a default behavior we've enabled for security reasons:

1.  Log into awx with a user from SAML/LDAP/etc
2. They create an OAuth2 token for their use.
3.  They use their token to do things
4.  They get fired and are no longer in SAML/LDAP/OAuth/etc
5.  They cannot log into awx (we perform the e.g., LDAP search at login time to determine login validity).
6.  ... but they can still u

[2018-08-21 15:14] #2191 closed, assigned to nobody

[2018-08-21 15:46] grahamn-gr commented on #1861
So I've found the reason for my issues and why I couldn't see the job details. It was down to the chrome version I had installed.

`61.0.3163.79` caused issues where the 'working' wheel was just spinning.
Upgrading to `67.0.3396.99` fixed these issues and I can now see the job details.

[2018-08-21 15:50] jmnguye commented on #2191
Thx a lot @ryanpetrello
The setting is available on `/api/v2/settings/all/` on AWX 1.0.7.2

[2018-08-21 15:54] ryanpetrello commented on #2191
Typo on my part!

You can also find it at `/api/v2/settings/authentication/`.

[2018-08-21 16:14] drewburr opened #2192 "Injectors for Red Hat Satellite 6 within playbook job runs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

It would be useful to be able to manage Satellite via playbook tasks. AWX currently does not include injectors for the Satellite 6 credential, meaning they are not usable in a playbook.

When creating a custom credential, these are the injectors used:
[code]

##### ADDITIONAL INFORMATION

[2018-08-21 18:11] rromanchuk commented on #955
Even though it's been said by awx team and others, from personal experience.  *do not upgrade awx ever*,  unless you are 100% positive and comfortable restoring the exact git commit and database schema you are running before attempting to update.

[2018-08-22 07:19] dadudu81 commented on #1861
@grahamn-gr
Thanks for your answer, I updated my chrome to newest version and the problem solved!

[2018-08-22 13:34] ryanpetrello commented on #1861
It sounds like a number of people are having better luck with a newer version of Chrome, though from the variety of comments, it feels like this ticket has become a catch-all for any sort of odd bug related to the job details page.

I'm going to go ahead and close this; if anybody continues to encounter issues in 1.0.7, please let us know by filing a new issue with details.

[2018-08-22 13:46] AlanCoding commented on #2192
Satellite 6 injectors are here

https://github.com/ansible/awx/blob/87235082256e83a6531218771c7a502b91445f69/awx/main/tasks.py#L1903-L1937

However, your claim appears to be true - that these are not applied when such a credential is used in a playbook. These are only used for inventory updates.

The parameters user / url / password are set up in that existing injection logic for inventory updates

[2018-08-22 15:05] ryanpetrello commented on #2187
@runtman we've got a fix coming for this in the near future; it's due to a bug in our usage of the Slack Web API.  In the meantime, if you remove the color you've defined on the Notification Template, the message will use the RTM API (it doesn't exhibit the same bug).

[2018-08-22 15:43] cpatry-poly commented on #2173
Hi !
@sightseeker could you exec this SQL request on your newly installed AWX database ? :-P

```select * from main_rbac_roles where role_field = 'project_admin_role';```

We upgrade from 1.0.6 and for the moment everything works fine.

Here is the SQL Requests we use:

[code]
Then we faked migration 0043

And finally:

[code]

But we would like to this new column in organization with something :-

[2018-08-22 16:10] aperigault commented on #2188
Hi,
This bug seems to be related to serial not to output size.
First serial pool work as expected but when the second pool start tasks names is missing.

[2018-08-22 17:08] orgito commented on #2173
Hi @Tiduster . What do you mean by "we faked migration 0043"?

[2018-08-22 18:24] onitake commented on #2173
@Tiduster That doesn't seem like a terribly good idea, but it's useful to find out what's needed to actually implement the DB migration in Django. If you can collect all the necessary changes, someone (possibly myself) would surely write the migration script.

[2018-08-22 19:12] runtman commented on #2187
Strangely I tested with and without colour, I'll give it another go!

[2018-08-22 19:21] runtman commented on #2187
![feelsbadman](https://user-images.githubusercontent.com/6459792/44485542-d408c200-a648-11e8-9809-3eac10ad0c2c.png)

I deleted it, re added it and it;s still the same I'm afraid.

[2018-08-22 19:24] shawnmason01 commented on #526
Has anyone gotten this working successfully? I am needing to find a way to store my job templates in a git repo.

[2018-08-22 20:07] sumkincpp commented on #1970
:+1: doesn't currently work with workflows on latest build **1.0.6.49**

[2018-08-23 05:19] AIXruth commented on #592
+1

[2018-08-23 07:20] cpatry-poly commented on #2173
@orgito : `awx-manage migrate main 0043 --fake`

Obviously, you have to do manually what the migration does.

@onitake: It won't be possible to collect all necessary changes, because a lot of older migrations have been modified, and each fixes is highly specific to each installation.

[2018-08-23 11:35] onitake commented on #2173
Older migrations have been modified? Are you sure about that?
That sounds pretty wrong to me...

But still, I don't see how it shouldn't be possible to collect all the schema changes. Each should have it's own migration script, after all. Of course there will database contents specific to each installation, but this can be addressed in the migration.

[2018-08-23 12:37] cpatry-poly commented on #2173
@onitake : yes I am sure: https://github.com/ansible/awx/compare/1.0.6...1.0.7#diff-c7234edfcd9bb51e834f00b6cf059127

We had some permission issue with job templates because migration `0021_v330_declare_new_rbac_roles.py` has been modified.

We manage to fix them with this list of SQL requests but:
* That's crappy and wrong
* I am sure we will find eventually there is more issues
* Every number ma

[2018-08-23 15:18] AlanCoding commented on #2192
@drewburr I'm looking, and I can't find what Ansible core modules those injectors could correspond to. There are foreman modules:

https://github.com/ansible/ansible/blob/17fbeeb2f0fea9605479cbb181b00bc444587ee4/lib/ansible/modules/remote_management/foreman/foreman.py

But that wouldn't take the same parameters. Searching the source code, https://github.com/ansible/ansible/search?q=satellite_host&

[2018-08-23 15:42] onitake commented on #2098
So, you're saying I should write a custom Slack app and install it into our workspace?
That sounds a bit like overkill to me... Wouldn't it make a lot more sense if there was an official (or semi-official) Tower app?

[2018-08-23 16:01] ryanpetrello commented on #2098
@onitake you might actually be encountering this bug: https://github.com/ansible/awx/issues/2187

[2018-08-23 16:06] onitake commented on #2098
Looks like the other bug is a duplicate of this one.

Anyway, I followed @walkafwalka 's advice and created a workspace app. This works, but seems like overkill for a few simple notifications....

[2018-08-23 16:12] ryanpetrello commented on #2098
@onitake I'm currently reading Slack docs and debugging this issue, and I think I've got something that _should_ fix this for folks.  If you're feeling adventurous and want to help me test, you could give this small diff a whirl:

[code]

[2018-08-23 16:12] ryanpetrello commented on #2098
Duplicate of https://github.com/ansible/awx/issues/2187

[2018-08-23 16:14] ryanpetrello commented on #2098
It's also worth saying that given the changes to Slack that @walkafwalka described above, and Slack's plans to deprecate some of this, this _may not_ work for much longer without actually making a workspace app :/

[2018-08-23 16:53] sumkincpp opened #2193 "RFE: UI text areas inline resize"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

This enhancement is to allow resize text areas within AWX at
- [x] Inventory variables
- [x] ~Template variables~ not useful
- [x] Workflow variables
- [ ] Textarea in Survey

[2018-08-23 19:38] tvo318 commented on #1387
Resolved with doc PR #[369](https://github.com/ansible/product-docs/pull/369).

[2018-08-24 06:42] 0xceb1d commented on #2087
Would this allow for organisation mapping? Ideally priv_lvl could be supported from the TACACS+ response

[2018-08-24 07:27] 0xceb1d opened #2194 "No logging when debugging AD authentication issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

- No logging when debugging AD authentication issues on Ubuntu 18.04.1 - AWX 1.0.7.2

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method: docker on linux
* Ansible version:  2.6.2
* Operating System: Ubuntu 18.04
* Web Browser: Safari, Firefox

##### STEPS TO REPRODUCE

`/etc/tower/conf.d/ldap.py` created
`LOGG

[2018-08-24 08:30] kerk1v opened #2195 "Issues when /var/lib/awx/projects is on an NFS share"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Docker Containers
- web
- task

##### SUMMARY
AWX is unable to check out the SCM repository of a project if the /var/lib/awx/projects volume is located on an NFS drive

##### ENVIRONMENT
* AWX version: 1.0.7.2 (:latest tag Docker Images)
* AWX install method: Docker Compose (Swarm)
* Ansible version:  2.6.2
* Operating System: Docker Swarm on Ce

[2018-08-24 13:51] cesan3 commented on #1840
Hello @ryanpetrello.  The 1.0.7 release is working nicely. No problems so far.
Thanks,

-Cesar

[2018-08-24 13:53] cesan3 commented on #1873
Hello @chrismeyersfsu.  Capacity is correctly handled in version 1.0.7.0.  The cluster is very stable now.
Thanks.

[2018-08-24 14:34] #1873 closed, assigned to nobody

[2018-08-24 14:39] mjhoffman65 commented on #277
@AlanCoding, anything I can do to help?  If there's any piece of this that is up for grabs, I'd love to work on it

[2018-08-24 17:39] kialam opened #2196 "Make CSS Sourcemapping Work"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Currently source mapping does not work for our CSS. It would be nice to get this working for debugging and dev process enhancement purposes.

NOTE: may be related to this currently open bug in Webpack: https://github.com/webpack/webpack/issues/5491

##### ADDITIONAL INFORMATION

[2018-08-27 06:57] andersharrisson-ess opened #2198 "Job detail and job output not updated"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method: docker on linux
* Ansible version:  2.6.2
* Operating System: Linux
* Web Browser: Firefox 61.0.1

##### STEPS TO REPRODUCE

Run a job template and wait to be redirected to the job output page.

##### EXPECTED RESULTS

The job output console should automatically

[2018-08-27 07:21] jakemcdermott commented on #2198
Hey 	andersharrisson-ess, Thanks for filing this issue. I believe this has been fixed downstream - the fix should be making it to AWX in the next version.

[2018-08-27 07:21] #2198 closed, assigned to nobody

[2018-08-27 10:17] jainnikhil30 opened #2199 "Allow team name to be shown in the permission tab under credentials"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Allow team name to be shown under the permission tab on credentials. Currently when you give a permission to team on a credential, individual users of team are shown under the permission tab (hovering over the team roles does show the team name). But, If there are large number of teams and user, it becomes hard to figure

[2018-08-27 13:56] nicolaibaralmueller opened #2200 "Dynamic survey by url"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Survey Multiple choice does not support dynamic lists from url as described here:
https://github.com/ansible/awx/pull/1408

##### STEPS TO REPRODUCE

Create IIS site with Webdav virtual directory. Point default document to a valid json.
Create a multiple choice survey and enter: "url: http://address/choices"

##### EXPECTED

[2018-08-27 14:24] nschhina commented on #2195
I've had this bug as well, in the end I just didn't use NFS and store files on the ec2 instance. But does need to be fixed

[2018-08-27 14:29] wenottingham commented on #2199
This is a variation of #587

[2018-08-27 14:29] #2199 closed, assigned to nobody

[2018-08-27 14:30] wenottingham commented on #2200
Right, that code was never merged, so it's expected that it doesn't work. If you're running a build with that patch applied, you're on your own, or should perhaps contact the initial author.

[2018-08-27 14:30] #2200 closed, assigned to nobody

[2018-08-27 16:19] krisayala opened #2201 "Rabbitmq container in AWX pod failing to start - Failed to get nodes from k8s with NXDOMAIN"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Rabbitmq fails to start when deploy AWX on Kubernetes.

`Failed to get nodes from k8s - {failed_connect,[{to_address,{"kubernetes.default.svc.cluster.local",443}},
                 {inet,[inet],nxdomain}]}
`

##### ENVIRONMENT
* AWX version: 1.0.7
* AWX install method: Kubernetes 1.10.4
* Ansible version:  2.4.2.0
*

[2018-08-28 01:39] Colstuwjx commented on #2172
Ping @wenottingham , any suggestions?

[2018-08-28 06:24] nicolaibaralmueller commented on #2200
@wenottingham So Tower does have no dynamic survey options what so ever? Hmm

I hope this feature will arrive soon. Hardcoding lists, for example AD groups and user, is not viable for enterprises.

[2018-08-28 13:40] Gui13 opened #2203 "Use semver for AWX version numbers"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY

At multiple points in the life of AWX, you published minor versions that broke the AWX installation of people using your install script.

I'd suggest (as is suggested in the [comments of issues](https://github.com/ansible/awx/issues?q=is%3Aissue+migration+is%3Aclosed) related to the migration) that you at least use

[2018-08-28 14:08] wenottingham commented on #2172
There is not enough information in that failure to really debug.

[2018-08-28 14:17] flynn1973 opened #2204 "1.0.7.3 clean install: sqlite3.InterfaceError: Error binding parameter 0 - probably unsupported type."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.7
* AWX install docker on linux
* Ansible version:  2.6.2
* Operating System: linux
* Web Browser:

##### STEPS TO REPRODUCE

awx-manage migrate

##### EXPECTED RESULTS

running migarations successfully

##### ACTUAL RESULTS

[code]

##### ADDITIONAL INFORMATION

[2018-08-28 14:24] ryanpetrello commented on #2203
@Gui13 I just wanted to chime in and say that we _are_ aware of how painful this has been for open source AWX users, and that we're actively working on ways to make this better in the future.  Thanks for your feedback and suggestions!

[2018-08-28 15:42] wenottingham opened #2205 "hardcoded colors in UI javascript"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

There are hardcoded colors in UI javascript code. These should be in .less/.css themes somewhere.

[code]

##### ENVIRONMENT
* AWX version: devel

##### ADDITIONAL INFORMATION

[2018-08-28 17:29] Gianlu commented on #2188
Also I have a similar issue when serial=1. The first target works fine but the next ones are very confused

[2018-08-28 17:51] ghost commented on #1731
+1 we need this.
I think it would be interesting that Workflows would allow the jobs inside to prompt their content (inventory, surveys, credentials, etc) otherwise is bit limited in many cases.

[2018-08-28 18:38] ghost commented on #284
+ We need this...very useful feature.

[2018-08-28 19:18] RobertGwilliam commented on #1845
I understand the reduction in range of options for WFs by limiting each sub JT to single inventory, specified at WF launch (or schedule). However, I believe there are more valuable use cases for a single inventory per WF.
We'd love to see this implemented.

[2018-08-28 20:38] ghost opened #2206 "Add a playbook editor"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Add a playbook editor to the UI that would allow adjusting Ansible playbook content from inside the UI session

[2018-08-28 20:52] ghost commented on #2206
+1 This will be very useful feature

[2018-08-28 21:10] wenottingham commented on #2206
This is not planned.

There's multiple issues at play here:

1. Technical - The only way to do this with *good* feedback is to a) import ansible code under the hood b) shell out a lot. a) is a licensing issue (ansible is GPL, AWX is Apache), and b) is really ugly.

2. Complexity - Given the sheer number of fringe options for both plays/tasks and modules, populating the UI with all of them brings c

[2018-08-28 21:10] #2206 closed, assigned to nobody

[2018-08-28 23:37] Rthur opened #2207 "notification option: job output as attachment or inline with message body"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Notifications should have option to include job output as attachment (plain/html) or inline with body. I maintain a very clean template UI for users who only need to run workflow templates. I don't grant these users access to the underlying templates. As such these are hidden from the Templates and Jobs tab. These users c

[2018-08-29 00:15] Testicule commented on #1999
What freehck said.

What use are "Smart" Inventories, without groups?
They are useless.

Imagine the outrage if I said: "Oh, hey, I've got a great idea, lets remove groups from normal inventories, and just make them a flat list". People would be appalled. But this is where we are at now with "Smart Inventories".

If it is a large change, to implement, then it's a large change. But it is needed, ur

[2018-08-29 08:42] cmdrrobin commented on #223
Anybody can eleborate how to add vault encrypted passwords per host variable with Ansible Tower/AWX?

[2018-08-29 10:34] NiveditaKumari14 opened #2208 "Can demote last admin to a normal user"
ISSUE TYPE
Feature/ Bug

COMPONENT NAME
UI

SUMMARY
I changed the role of only admin user (default admin) to normal user and now i cant change the role back to System admin neither i can create project or can do anything.
Is there any thing that can be done in this case.

See Screen Shots:
This will work:

[2018-08-29 11:52] AlanCoding commented on #2208
you need to make a new superuser through the management command `awx-manage createsuperuser`

However, the API is supposed to prevent you from demoting the last remaining superuser, if you have steps for how you achieved this state, we will look into it.

[2018-08-29 12:59] orgito commented on #2172
Looks like Host key checking is failing. Can  you try this?

`ansible_ssh_common_args: '-o ProxyCommand="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p -q admin@jumper-01"'`

[2018-08-29 13:10] AlanCoding commented on #223
There are 2 different use-cases people are interested in:

 - in https://github.com/ansible/awx/issues/223#issuecomment-388457636 I described pass-through of vault secrets in inventory import
 - here, I will give up-to-date instructions for the more simple case of manually pasting encrypted secrets into inventory variables (hostvars)

----

You have a host, a secret, and a variable name under whic

[2018-08-29 13:29] wenottingham commented on #2207
This is part of  #79 ... however, this is not at all practical for a large number of notification destinations. Closing as a duplicate.

[2018-08-29 13:29] #2207 closed, assigned to nobody

[2018-08-29 14:19] wenottingham commented on #2208
[code]

You can demote the last superuser to a normal user. Unsure if this is really a bug (as opposed to just a missing guardrail we may or may not want.)

[2018-08-29 14:46] khelkun commented on #2088
Hi @YunfanZhang42 I'll try. I don't see database changes in hte 1.0.7 so I assume I can upgrade from my 1.0.6.2 without any issue with my existing configuration with:
[code]

[2018-08-29 15:40] DrPreobrazhensky opened #2209 "LDAP Authentication test button"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
When Setting up LDAP Authentication it might be useful to test correct settings or not e.g. test button which checks connection with LDAP server and login, pass.

[2018-08-30 01:44] Colstuwjx commented on #2172
I have been successfully setup the proxy configuration according to the [document](https://docs.ansible.com/ansible-tower/latest/html/administration/tipsandtricks.html#setting-up-a-jump-host-to-use-with-tower).

Thanks!

[2018-08-30 01:44] #2172 closed, assigned to nobody

[2018-08-30 07:19] pwe123345 commented on #888
Hello,

I still have the same issue, BUT I can cancel the job via web interface.

    AWX 1.0.7.2
    Ansible 2.6.2

[2018-08-30 07:32] YuriGrigorov opened #2210 "celery does not restore connection to the database after losing it"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - celery

##### SUMMARY
If for some reason connection between celery and database is lost, celery stops running tasks. When connection is restored, celery does not restore the connection to the database. You need to restart celery to solve problem.

##### ENVIRONMENT
* AWX version: 1.0.7.3
* Operating System: CentOS 7

##### STEPS TO REPRODUCE

[2018-08-30 08:03] pete198016 opened #2211 "setting a limit in a job template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

A limit set like below works fine:

isap*:isep*:issp*:&xc-s-zljmp*

However what i want to achieve is something like:

isap*:isep*:issp*:&{{xc-s-zljmp*|xc-s-zwprx*}}

(so select zljmp and zwprx hosts which belong to one of isap,isep or issp groups)

Unfortunately AWX does not understand such limit.

Like below also does no

[2018-08-30 11:37] HarishaAmeen opened #2212 "Restrict virtual environment access per org"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
AWX now populates all the available venvs to all the users, we would like to restrict it based onorganization's assigned venv.

##### ENVIRONMENT
* AWX version: 1.0.4
* AWX install method: openshift
* Ansible version:  2.6.3
* Operating System: CentOS
* Web Browser: google chrome

##### STEPS TO REPRODUCE

1. Create

[2018-08-30 11:47] itdependsnetworks commented on #1407
@onitake can you verify that it does in relation to inventory? I have been unable to replicate.

I see:
 - Working: Group/host vars in relation to project
 - Working: Inventory from inventory from SCM
 - Not Working: group host vars in relation to project

[2018-08-30 12:00] cmdrrobin commented on #223
@AlanCoding thanks for clearing this. For the most it is working fine. Although when using it with a filter (e.g.) `password_hash()` then I get the following error message:

[code]

[2018-08-30 12:14] cmdrrobin commented on #223
Shall I open a new issue for this? (as I just noticed that this one is closed)

[2018-08-30 12:17] AlanCoding commented on #223
My gut reaction is that Ansible core should accept a patch which will string-ify the input to `password_hash` if it is `AnsibleVaultEncryptedUnicode` type. There's a chance that they'll tell you that your playbook should stringify it on its own, but that doesn't seem right to me either. My justification is that this looks like an error from the library used to hash, which obviously can't take the

[2018-08-30 13:23] wenottingham commented on #2212
venvs do not currently have RBAC at all (and in fact, are not really objects in that sense).

[2018-08-30 13:24] wenottingham commented on #2211
Jinja evaluation in limit is not allowed for security reasons.

[2018-08-30 15:21] sonjz opened #2214 "Readonly checkbox for survey items"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Next to REQUIRED checkbox, having a READ-ONLY checkbox would be useful as well.
I understand it could be placed in Extra Variables, but since the Survey is the first thing that pops up on launch, I would like to include it as part of the survey, but as a read-only field, so they are aware of it.

[2018-08-30 17:12] techBeck03 opened #2215 "Can't launch a job template with prompted variables via API"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
API

##### SUMMARY
I have a job template that prompts for inventory, credentials, and extra_vars.  If i launch this template within the web UI everything works as expected.  If however i send the same post via the API (using POSTMAN) with the exact same payload, the job doesn't launch.

##### ENVIRONMENT
* AWX 1.0.7.2
* AWX install method: docke

[2018-08-30 17:29] techBeck03 commented on #2215
Sorry was missing a trailing / on my url :-)

[2018-08-30 17:29] #2215 closed, assigned to nobody

[2018-08-30 18:36] wenottingham commented on #2214
We do show this as part of the launch preview, if it's needed for review as part of launching.

[2018-08-30 20:56] jimmyface commented on #2183
I have this issue on my setup as well.

- AWX version: 1.0.7
- AWX install method: Docker on Linux
- Ansible Version: 2.6.3
- OS: CentOS 7.5.1804 (Core)

I can't have both project_data_dir and ca_trust_dir defined. ca_trust_dir gets completely ignored if that is the case.

[2018-08-31 02:33] IshwarKanse opened #2216 "RFE: Allow adding and linking of Workflows within a Workflow."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Feature to add and link other Workflows from the Workflow Visualizer, similar to adding job templates, project and inventory sync.

[2018-08-31 03:49] HarishaAmeen commented on #2212
Hi @wenottingham Thanks for your quick reply. Do you know what does happen when you assign a particular vnev to an organization? My intention is to prevent users from using the venvs created for other users, with no RBAC any user can install any python modules in any venv. How do we stop this from happening?

Even if you suggest any workaround for the situation I'm facing at the moment, will be he

[2018-08-31 05:36] kavitaag commented on #168
I am facing the same issue.

The only change I did was to comment "dockerhub_base" in inventory file.

TASK [image_build : Build AWX distribution using container]
The full traceback is:
  File "/tmp/ansible_E8thoL/ansible_module_docker_container.py", line 1940, in container_create
    new_container = self.client.create_container(image, **create_parameters)
  File "/usr/lib/python2.6/site-packages/

[2018-08-31 06:05] p-kg opened #2217 "image_build docker install fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Commented the dockerhub_base in inventory

"ansible-playbook -i inventory  install.yml"
...
TASK [image_build : Build AWX distribution using container] ***********************************************************************************
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "failed": true, "msg

[2018-08-31 14:24] bisimrem commented on #2217
Not sure if this will be helpful, but yesterday i've ran into the same issue - invalid reference format - (on Centos 7), because the roles were trying to call `git describe` with `--first-parent` in order to tag the images with the version based on AWX repo tag, which is not a known parameter to the git version that comes with the default yum (1.8.3.1)
Try getting a newer version of GIT or adjust

[2018-08-31 14:34] wenottingham commented on #2212
venv assignment is about use of the venv, not management of the venv. When you assign a venv to an organization, it means it will be used for all jobs in that organization (that do not explicitly pick a different venv).

That's not the case. Any venv modifications have to be done by the sysadmin *on the AWX server*... there's no way to add/remove/modify a venv from AWX itself. So you should not ha

[2018-08-31 14:41] ghost commented on #2216
+1 Useful feature

[2018-08-31 15:44] balonik opened #2218 "awx installation fails when using external postgres due to maintenance_db parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
launch_awx_task.sh and launch_awx.sh (in awx_web docker image) fails when
- using external postresql database and AWX user does not have access to 'postgres' database

This is because of 'maintenance_db' concept of postgresql_db ansible module.
The module first tries to connect to database specified in 'maintenance_d

[2018-08-31 15:46] balonik commented on #2218
So the line in launch_awx_task.sh would look like
[code]
I suppose this gets more tricky when using the postres docker image.

[2018-08-31 16:10] balonik commented on #2218
Raised a bug in ansible to get it fixed in the ansible module as an option https://github.com/ansible/ansible/issues/44978

[2018-08-31 16:36] ghost opened #2219 "docker compose successful but awx throws error"
##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
docker compose successful but awx throws error.
ERROR!
Failed updating job undefined with variables. POST returned: 500 A server error has occurred.

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method: docker for mac
* Ansible version: Ansible 2.6.2
* Operating System: MacOS
* Web Browser: Safari

##### STEPS TO REPRODUCE

I

[2018-08-31 16:37] shanemcd commented on #2219
This sounds like a misconfigured project. For help with troubleshooting, stick to the mailing list or IRC. This is our bug tracking system.

[2018-08-31 16:37] #2219 closed, assigned to nobody

[2018-08-31 16:38] kylix3511 commented on #2219
Attached is yaml file.
[awx.yaml.zip](https://github.com/ansible/awx/files/2340852/awx.yaml.zip)

[2018-08-31 16:39] ghost commented on #2219
No Shane. It is not misconfigured project. It was working fine 3 days back. Same awx.yaml file.

[2018-08-31 16:42] ghost commented on #2219
[awx.yaml 2.zip](https://github.com/ansible/awx/files/2340872/awx.yaml.2.zip)

[2018-08-31 17:22] boris-42 commented on #2198
@jakemcdermott any ideas when the new release is expected?

[2018-08-31 17:22] boris-42 commented on #1861
@ryanpetrello jfyi still facing this issue, version 1.0.7.2

[2018-08-31 17:55] ryanpetrello commented on #1861
@boris-42 can you provide the environment details from https://github.com/ansible/awx/issues/new?template=bug_report.md, including web browser version?

[2018-08-31 18:07] boris-42 commented on #1861
@ryanpetrello

- We are using official image 1.0.7.2
- Web browser is not the problem (we tried on different, on different OS)

Some observation:
- if we curl this "api/v2/jobs/<JOB_ID>/stdout/" it's empty
- After restart of awx web and awx task it gets populated
- In logs of awx task we see  " File "/usr/lib/python2.7/site-packages/awx/main/models/unified_jobs.py", line 1169, in _websocket_emit_s

[2018-08-31 18:12] ryanpetrello commented on #1861
It sounds to me like job events aren't being saved into the database.  This can be caused by a number of things.  Do you see anything when you visit `/api/v2/jobs/N/event/`?

[2018-08-31 18:21] boris-42 commented on #1861
@ryanpetrello I suspect you meant jobs_events.

it returns
[code]

If I restart awx-task and awx-web this information gets populated. And it continues working until we see in awx-task that log message related to rabbitmq

[2018-08-31 18:32] ryanpetrello commented on #1861
Yep, that's exactly what I meant, thanks :)

In your awx task container, can you run:

`supervisorctl -c /supervisor_task.conf status`

[2018-08-31 20:11] boris-42 commented on #1861
@ryanpetrello

[code]

[2018-09-01 03:12] boris-42 commented on #1861
@ryanpetrello

Some more information:
- If I create schedule and run jobs every 3-5 minutes it works perfectly
- If I create schedule and run jobs with gap of 20 minutes it stops working

[2018-09-01 21:16] ghost commented on #1206
This is much needed feature.

The workaround which you are suggesting **wait_for**, cannot be used in our case. Operations users in our company only have UI access and they are not allowed to login into CLI and set some flag in any way.

[2018-09-01 21:28] ghost commented on #2206
@wenottingham

I think you are overcomplicating this. We re simply asking about giving an editor option in Tower UI to view and edit files. That way users are not needed to go in CLI and edit/save files.  That's all. Why is this so much complex?

[2018-09-02 00:06] hiyokotaisa opened #2220 "Delete/Move branch of workflow"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

If we have a huge workflow with multiple branches. Currently, there is no way to move or delete 1 complete branch in one shot. We have to remove all the job nodes 1 by 1.
It is very time-consuming & error prone process.

There should be an option to remove any branch from START in one shot.
Also we should be able to move

[2018-09-02 05:51] boris-42 commented on #1861
@ryanpetrello Some more details. Bug is reproduced on many version of AWX.

If i run /usr/bin/awx-manage run_callback_receiver  in task container

All results get send to database...

More interesting thing is this piece of code:
https://github.com/ansible/awx/blob/devel/awx/main/management/commands/run_callback_receiver.py#L233-L238

If something happens to rabbitmq and we got broken connection i

[2018-09-02 13:23] ghost commented on #2082
Today I had the same problem. New jobs can't start and stay in a pending state, while old jobs I can reschedule.
I dropped db and make new one, my issue is solved with all data lost.

[2018-09-02 19:16] ghost commented on #79
+1 Must needed feature

[2018-09-02 19:19] ghost commented on #2220
+1 very useful feature

[2018-09-03 06:58] pete198016 commented on #2211
Not sure that i can give an example from the command line as i'm working
against an dynamic azure inventory set up in AWX.

General problem is how to achieve more then one include.

For now my workaround is do a workflow template that gathers job workflows
with selected single includes.

czw., 30 sie 2018 o 15:24 Bill Nottingham <notifications@github.com>
napisał(a):

--
pozdrawiam

Banaszczyk Pio

[2018-09-03 11:24] HarishaAmeen commented on #2212
@wenottingham Thanks for your response. Just would like to mention that it is possible to install/uninstall pip modules inside a venv using a playbook (Ansible pip module can be used). An example task can be:

    - name: install bottle
      pip:
        name: bottle
        virtualenv: /var/lib/awx/venv/test

Is there a way I can restrict users from not executing such tasks?

Regards,
Harish

[2018-09-03 11:37] pjmcquade commented on #1845
Adding my voice as well....would love to see this feature.

[2018-09-03 12:10] tedfernandess commented on #888
I think Ansible AWX does not support vars_prompt. I have the same problem.
Can you tell me what the alternative method I can use ??

[2018-09-03 20:42] LeoUfimtsev opened #2221 "Ansible tower is missing azure pip dependencies"
##### SUMMARY
Ansible Tower fails to run azure_rm_* templates due to missing pip dependencies, but customers expect it to work as azure integration appears to be supported out of the box.

Can we add:
pip install (packaging | msrestazure | ansible[azure] ) to Ansible Tower's setup?

If not, can we improve the error message to explain how to overcome the problem inside Ansible Tower? (the complexit

[2018-09-04 09:21] guisea commented on #888
@tedfernandess you are correct it does not support vars_prompt.  However by using the adding a survey to the job template you can prompt the user for vars at job execution time. 

https://docs.ansible.com/ansible-tower/latest/html/userguide/job_templates.html#surveys

On 4/09/2018 12:10:14 AM, tedfernandess <notifications@github.com> wrote:
I think Ansible AWX does not support vars_prompt. I have

[2018-09-04 10:05] ysolan opened #2222 "Cannot use JOB TAGS"
##### ISSUE TYPE
 - Bugs

##### COMPONENT NAME
 - UI

##### SUMMARY
Can't use JOB TAGS in a template.
I always have the message : "No result Found"

##### ENVIRONMENT
AWX version: 1.0.6.8
AWX install method: docker on linux
Ansible version: 2.5.2
Operating System: Redhat 7
Web Browser: Chrome

##### STEPS TO REPRODUCE

In a job template, select a playbook that contain tags.
Then try to use JOB TAG

[2018-09-04 10:15] endejoli opened #2223 "Powershell on linux: Unable to retrieve the specified information about the process or thread. It may have exited or may be privileged"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
##### SUMMARY

while exeucitng powershell script on linux through ansible,  got the below error

 "FailFast: Unable to retrieve the specified information about the process or thread.  It may have exited or may be privileged.",
        "",
        "   at System.Environment.FailFast(System.String, System.Exception)",
        "   at System.

[2018-09-04 13:34] gamuniz opened #2224 "Allow Tower to handle manual projects similarly to SCM style."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

It would be beneficial for those who do not have access to or desire to use a source control management tool to be able to sync projects across clusters.
A utility to rsync and keep all clustered on the same revision.

##### ADDITIONAL INFORMATION

[2018-09-04 13:43] muldertbb commented on #604
awx 1.0.7.2

required groups don´t handle nesed groups. only flat user groups!

[2018-09-04 13:52] wenottingham commented on #1206
wait_for and get_url don't require local CLI accesss, they can check ports on remote machines (`wait_for`) or pretty much any URL state such as a ticket state (`get_url`).

[2018-09-04 13:54] wenottingham commented on #2224
This is not planned. We strongly recommend using source control as part of best Ansible practices.

If someone needs to do this behind the scenes, they can create their own process with rsync.

[2018-09-04 13:54] #2224 closed, assigned to nobody

[2018-09-04 14:13] wenottingham commented on #2212
On the AWX server? Sure, if job isolation is on, they can't do this...

[2018-09-04 14:18] wenottingham commented on #2206
It's an idea that as described is fundamentally a toy that doesn't scale in use and actively works against best practices. It's not overcomplicating things -- it's building tools that make sense both in small and large usage.

[2018-09-04 14:22] wenottingham commented on #2223
Is this running powershell on the local awx server?

[2018-09-04 14:24] wenottingham commented on #2221
If you have an issue with Tower, please contact your Red Hat support rep.

[2018-09-04 14:24] #2221 closed, assigned to nobody

[2018-09-04 14:27] RogerSik opened #2225 "What is the right way to upgrade AWX?"
What is the right way to upgrade AWX? In some comments it was mention to upgrade only the docker images and everything is fine. When I did this the AWX Webinterface was stuck at ,,Upgrading Please Wait". After researching some one mention there is no Upgrade Way. The only way to do is to export the AWX instance data and create a new instance and then import the AWX data.

Every way is for me fine.

[2018-09-04 14:28] wenottingham commented on #2222
This looks like #1182

[2018-09-04 14:28] #2222 closed, assigned to nobody

[2018-09-04 14:31] wenottingham commented on #2211
Still, this reads as an issue with Ansible's limit evaulation... aside from not allowing Jinja, we don't interpret it at all in AWX. This is best filed at https://github.com/ansible/ansible/issues

[2018-09-04 14:31] #2211 closed, assigned to nobody

[2018-09-04 14:36] mkempster22 commented on #2225
Generally the first way you mentioned is usually how it is done, but the minor releases in AWX do have a tendency to break the upgrade path causing the stuck at upgrading issue meaning the only way is to wipe the database (and export import data)

Edit: 'Documentation' is here https://github.com/ansible/awx/blob/devel/DATA_MIGRATION.md

See issues #2173 & #138

[2018-09-04 14:50] ysolan commented on #2222
I have found the way to use JOB TAGS in a template.
just type the name of tags and press ENTER

[2018-09-04 16:48] endejoli commented on #2223
yes, we have powershell core installed on the awx server.  if I execute ansible-playbook directly on the server everything works fine. If the job is invoked through UI/API job fails with above error

[2018-09-04 16:50] wenottingham commented on #2223
This is almost certainly a conflict with the job isolation environment playbooks run under. I assume it works if you disable job isolation?

[2018-09-04 16:58] wenottingham commented on #2223
I would note that 3.2.1 is not an AWX version. If you are having issues with Ansible Tower, please contact your Red Hat support rep.

[2018-09-04 19:02] endejoli commented on #2223
Is there a way to get around this problem without disabling job isolation?

[2018-09-04 19:06] boris-42 commented on #2225
@mkempster22 the only problems with this apporach is that you cant export/import secrets which creates a lot of troubles in process...

[2018-09-04 19:14] wenottingham commented on #2223
I believe this is likely fixed in c1a0e2cd1660d77c984c51f337a75e31e3e6fb10... if you can reproduce this on a current AWX version, please re-open.

[2018-09-04 19:14] #2223 closed, assigned to nobody

[2018-09-05 00:49] LukeDRussell commented on #219
Is there a magic variable name within AWX we could use to limit to failed hosts?

I'm attempting to set up two templates, the second being a clone of the first with limit = "@play.retry", then a workflow template chaining them together. I notice digging into the file system that .retry files aren't being created though.

[2018-09-05 03:03] wenottingham commented on #219
No, there's not a variable, and I'm not sure how it would work in practice, as failed hosts is inherently a thing that is tied to a job, not to a job template.

Imagine a job with prompted limits and `allow_simultaneous` set, where three runs are running concurrently with different limits. A "last failed for this template" that could be passed to a new run is entirely ambiguous in that context.

[2018-09-05 03:52] LukeDRussell commented on #219
Yeh that makes sense, I'm quite new to AWX.

My use case is very much the same as the original post. We're pointing AWX at a bunch of networking devices, and the management connection is not always reliable.

I'm hoping to actually generate slack notifications or log tickets when a job fails, but I would get way too many false positives due to ssh timeouts, authentication foibles and other crud th

[2018-09-05 04:22] ghost commented on #2224
+1 good feature to implement

[2018-09-05 10:45] asir214 commented on #2082
You must change the directory path of postgres_data_dir.
From postgres_data_dir=/tmp/pgdocker
To postgres_data_dir=/anydirectory/pgdocker

All this so you do not lose your data.
/tmp is a temporary directory.

[2018-09-05 12:05] mkempster22 commented on #2225
Yeah there is a lot of issues with it. I'm not defending it, it's an awful way of upgrading especially with the AWX team not using SEMVER correctly

[2018-09-05 14:24] sumkincpp commented on #2216
Will solve great problem about workflow recovery, i.e. if one of the steps failed in workflow that was referenced in our main workflow(no matter what step), we will still be able to use single node(template/workflow) as a recovery.

[2018-09-05 14:40] ryanpetrello commented on #1861
@boris-42 the example you linked is catching `KeyboardInterrupt` - I'd expect the callback receiver to gracefully handle and recover from AMQP unavailability in the way you described (testing this a bit myself).

[2018-09-05 14:47] ryanpetrello commented on #1861
I'm having a hard time reproducing this by stopping RabbitMQ - the callback receiver recovers for me after stopping and starting the message broker:

![image](https://user-images.githubusercontent.com/214912/45101213-03afd380-b0f9-11e8-94d3-ae5614bda2bb.png)

It also seems resilient to me screwing w/ TCP via `tcpkill`:

![image](https://user-images.githubusercontent.com/214912/45101592-d57ec380-b0

[2018-09-05 14:51] ryanpetrello commented on #1861
@boris-42 do you see any logs in the task container for the callback receiver that might provide some hints?

[2018-09-05 18:53] aldobongio opened #2226 "Vault encrypted secrets in the inventory source not working when nested in lists"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Experimenting with #223 I noticed a strange behaviour related to vaulted variables **on lists**, where the decryption is not performed. The behaviour can be observed on AWX only: running the playbook directly on Ansible the decryption works.

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method: docker on linux
* A

[2018-09-06 08:45] RogerSik commented on #1556
What are right wstunnel proxypass directive for the Apache2 configuration?

[2018-09-06 14:44] mouliveera opened #2227 "could not handle archive. Command \"unzip\" not found"
##### ISSUE TYPE
"msg": "Failed to find handler for \"/tmp/ansible_mLT185/consul_1.0.6_linux_amd64.zip\". Make sure the required command to extract the file is installed. Command \"/bin/tar\" could not handle archive. Command \"unzip\" not found."

[2018-09-06 15:32] ryanpetrello commented on #2227
@mouliveera you'll need to provide some additional details about the problem you're encountering.  This includes:

* What you're attempting to do, and how you expect it to work.
* What's _actually_ happening (the problem you're encountering).
* Details about your AWX installation environment.

Please take a look at the template we provide for new issues: https://github.com/ansible/awx/issues/new?t

[2018-09-06 15:32] #2227 closed, assigned to nobody

[2018-09-06 16:31] mouliveera opened #2228 "could not handle archive. Command \"unzip\" not found"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
could not handle archive. Command \"unzip\" not found

##### ENVIRONMENT
* AWX version: 16.04
* AWX install method: ansible, trying to unzip on ubuntu box
* Ansible version:  2.5.8
* Operating System: Ubuntu 16.04
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL

[2018-09-06 16:32] mouliveera commented on #2227
@ryanpetrello Issue [#2228](https://github.com/ansible/awx/issues/2228)

[2018-09-06 16:56] wenottingham commented on #2228
This does not appear to be a bug in AWX. None of the AWX installation playbooks reference unzip or consul, certainly not installing consul directly from Hashicorp..

You may have better luck with the ansible-project mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-09-06 16:56] #2228 closed, assigned to nobody

[2018-09-06 17:26] half-bot opened #2229 "Missing elapsed times in job list in tower-cli"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

I need to gather metrics on my jobs run via a specific template. The tower-cli command below should provide a list of the jobs for the template, along with a fail/succuss status, and the elapsed time the job took to complete.
Some of the elapsed times are missing. Is this a know issue with AWX 1.0.6 and will upgrading to

[2018-09-06 20:04] p-kg commented on #2217
I get the following error message -
TASK [image_build : Build AWX distribution using container] *****************************************************************************************

fatal: [localhost -> localhost]: FAILED! => {"changed": false, "msg": "npm --unsafe-perm --prefix awx/ui install awx/ui\nnpm ERR! git clone --template=/root/.npm/_git-remotes/_templates --mirror git://github.com/a

[2018-09-06 20:18] TwoTwenty opened #2230 "email notification from awx docker images"
I am using the most recent version of awx docker images 1.0.7, the email notifier generates a url

https://awx.url.com/#/jobs/426
when in fact the location is
https://awx.url.com/#/jobz/playbook/426

[2018-09-06 20:26] p-kg commented on #2217
$npm -v
5.6.0
$node -v
v8.11.4

[2018-09-06 20:50] ikke-t commented on #2046
I was digging a bit more into this. It seems it might not obey the user in ssh+git url. Looking from ssh host server, which hosts git repo for user ikke, I see AWX tries to connect there as root. Which it should never do:

[code]

I even modified the git repo url to contain the correct username ikke:
[code]
again, this works when project is refreshed by clicking refresh from project, but not when

[2018-09-07 02:24] sudomateo commented on #2046
+1 AWX does not update git+ssh roles from requirements.yml unless I delete the entire project before every update.

[2018-09-07 15:22] sudomateo commented on #452
+1 on this issue. AWX doesn't seem to be respecting the ansible.cfg or the environment variable `﻿ANSIBLE_HOST_KEY_CHECKING` set in the UI.

[2018-09-07 20:20] shanemcd commented on #2217
Hi. This is our bug tracking system. For help troubleshooting your installation, head over to #ansible-awx on FreeNode or send a message to our mailing list.

[2018-09-07 20:20] #2217 closed, assigned to nobody

[2018-09-07 20:22] shanemcd commented on #2229
I think this issue would be more appropriate in https://github.com/ansible/tower-cli.

[2018-09-07 20:22] #2229 closed, assigned to nobody

[2018-09-07 23:15] towolf commented on #2173
Nearly convinced this is a scheme to shoo people away from the open-source version and into the arms of Sales.

[2018-09-08 10:13] leonzhangit commented on #1082
Hi there just wondered did you find a way to fix this yet? my server has the same issue right now, thanks.

[2018-09-08 13:44] JonathanPaluch commented on #452
+1 on this as well. At the bare minimum, it would be nice to be able to disable host key checking on specific inventories to have a little tighter control.

[2018-09-08 14:05] sudomateo commented on #452
I worked around this by setting `"ANSIBLE_SSH_ARGS": "-C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"` in the environment variables in the AWX GUI.

[2018-09-10 07:02] kakkotetsu opened #2231 ""Invalid search term entered. GET returned: 400 無効な credential_type ID: NaN" when click CREDENTIAL at Templates (LANG Japanese only)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
`Invalid search term entered. GET returned: 400 無効な credential_type ID: NaN` when click `CREDENTIAL` at `Templates`.
This problem occurs only when blowser language setting is `Japanese`.  (When browser language is `English`, not encounter this problem.)

##### ENVIRONMENT
* AWX version: `1.0.7.2`
* AWX install method: `docke

[2018-09-10 08:16] ernst-at-tv2 commented on #2225
@boris-42 @mkempster22 do you know if anyone has been working on a solution to export/import secrets?

[2018-09-10 08:34] mkempster22 commented on #2225
Beyond what has been developed in the tower-cli and awx-manage projects I haven't seen any other tools for exporting, I'm not sure if exporting more data such as secrets is in the pipeline for them.
Best place to keep up to date with those features would be here: https://github.com/ansible/tower-cli

[2018-09-10 12:21] davidchlup commented on #2140
Hi, I have one more question. Does AWX update on its own? Can it even do that? I'm asking because you've said that the error is due to updating but I didn't try to update it.

Thank you

[2018-09-10 12:31] sujiar37 commented on #2140
Mostly it won't, unless your server try fetch  latest images from
dockerhub. If the deployment is based on Kubernetes, then there will be a
higher chance for auto upgrade after restarting Kubernete services

On Mon 10 Sep, 2018, 5:51 PM TheSentinelD, <notifications@github.com> wrote:

[2018-09-10 12:43] davidchlup commented on #2140
And one more actually. I've been digging a little bit and i've noticed something weird. I have more than one server on which I have AWX for testing purposes. In my postgres and awx_task logs I repeatedly get
`FATAL:  could not open file "base/16384/2601": No such file or directory`
When I looked in /tmp/pgdocker/pgdata/base I've found out that more than this file disappeared. Actually a whole bunc

[2018-09-10 13:08] larrybg opened #2232 "Slack notifications are failing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Slack notifications are failing

##### ENVIRONMENT
* AWX  version 1.0.7.2
* AWX install method: docker on linux
* Ansible version:  2.6.s
* Operating System: Centos
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Install AWX with docker. Setup Slack notifications and test it. Error message " Job Notification: Notification

[2018-09-10 14:07] Wolfsharad opened #2233 "Anisble Tower Job fails when size of the extra-vars is more"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

I am having a Job in Ansible Tower. All inputs for the job is passed in the extra-vars (in JSON format)

When the size of extra-vars is small the Job runs fine. But when it is big, say 800KB or 160000 lines of extra-vars, the Job is failing with error.

##### ENVIRONMENT
* AWX version: 2.4.5
* Ansible version:  1.9.

[2018-09-10 14:12] wenottingham commented on #2233
This repo is for issues with AWX. You have filed a traceback/issue for Ansible Tower.

If you are having issues with Ansible Tower, please contact your Red Hat support rep. I would note that the version you are referencing has been out of support for over a year.

[2018-09-10 14:12] #2233 closed, assigned to nobody

[2018-09-10 14:18] matburt commented on #2230
You need to configure the TOWER_URL_BASE in your settings.

[2018-09-10 14:19] matburt commented on #2230
This doesn't seem right... we don't use `jobz` and we *do* want to link to the job itself

[2018-09-10 14:35] sujiar37 commented on #2140
Please go through install.yml file of AWX which mentioned pg database path
as /tmp. So files and folders inside this directory gonna delete after few
days and probably returns internal server error if AWX keep running at /tmp

You can change that path and avoid these kind of errors. Also please note
that these questions are already discussed here & Google groups. So it's
nice to dounle search here

[2018-09-10 14:41] jlaska commented on #2173
@towolf The AWX development team is aware of the pain related to upgrades, and we're committed to making the process much smoother in the near future by versioning appropriately and using migrations to bridge the gap from one version to another whenever possible.

[2018-09-10 16:31] onitake commented on #2173
Thank you, @jlaska ! :clap:

I hope this will also carry over to Ansible Tower (assuming it is sufficiently close to AWX).

[2018-09-10 17:05] khelkun commented on #2088
Hello @YunfanZhang42, sorry for the delay. I've just tested the 1.0.7. I still can reproduce the issue.
The project repository is cloned in `/var/lib/awx/projects/_X__myproject` but the `git ls-remote origin -h refs/heads/mybranch` still fails.
It may not be relevant but I tried this:
[code]
So the git command prompts me for password. Ihmo:
- I use an AWX SCM credential which is a SSH private key

[2018-09-10 21:00] boris-42 commented on #2225
@ernst-at-tv2 I know that there is not going to be such functionality presented, basically the problem is that AWX REST api doesn't return secrets back... And it won't, because AWX team thinks that it's hard to make it secure and that AWX is not secrets management system..

The cleanest, but still ugly solution is to hack tower-cli dump command, let it accept postgres connection string, and secret

[2018-09-10 23:33] ghost opened #2236 "Provide option for org admins to limit maximum verbosity allowed for any job launch"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Add an option in the configuration to limit the maximum verbosity allowed for a job template within the organization.  This will limit the volume of data placed in the database for each run, and therefore, limit the overall size and associated performance and operational impacts.

[2018-09-11 05:19] wenottingham commented on #2236
Someone with the ability to edit a job template would have the ability to choose a different playbook that can produce more output, launch it N more times, etc. Having this just for verbosity feels like the wrong place to make this restriction.

[2018-09-11 08:03] cpatry-poly opened #2237 "500 Error during SAML Login - /api/v2/users/2/admin_of_organizations/ FAILED"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
First time of each day we log to AWX using SAML, the login FAILED with this message : `ERROR! Call to /api/v2/users/2/admin_of_organizations/ failed. GET returned status: 500. A server error has occurred.`

![capture d ecran de 2018-09-11 09-40-13](https://user-images.githubusercontent.com/1652493/45346265-0b63f200-b5

[2018-09-11 10:11] josemgom commented on #1861
IMHO, I don't know why this issue is closed when is still happening, even with the recent versions.

[2018-09-11 11:45] ernst-at-tv2 opened #2238 "Support external secret backends"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

- UI
- API

##### SUMMARY
Given that tower-cli can't export secrets and that storing secrets directly in AWX might not be desirable. We propose that AWX be extended to support external secret stores.

##### ADDITIONAL INFORMATION

Non exhaustive lists of possible backends:
* https://www.vaultproject.io
* https://thycotic.com/products/secret-s

[2018-09-11 11:51] AlanCoding commented on #2226
Would you mind providing more detail on your directory structure? I'm reading that you probably put a host_vars folder next to your playbook. If that's the case, then I don't yet see how anything could behave differently for the Ansible CLI versus AWX, but there are probably some details I'm missing.

[2018-09-11 12:48] aldobongio commented on #2226
Hi Alan, I just managed to create a minimal example able to reproduce the problem.
On AWX (1.0.7.2):

Create a project:

- Name=Bug2226
- SCM Type=Git
- SCM URL=https://github.com/aldobongio/awx-bug-2226.git
- SCM Branch/Tag/Commit=master

Create an inventory:
- Name=Bug 2226

Add an inventory source to the previous inventory:
- Name=Bug2226
- Source=Sourced from a project
- Project=Bug2226
- Inve

[2018-09-11 13:26] ryanpetrello commented on #1861
@josemgom the reason it's closed is that the original reporter described their issue and found a solution to it here:  https://github.com/ansible/awx/issues/1861#issuecomment-388286258

(also, see: https://github.com/ansible/awx/issues/1861#issuecomment-415033350)

The number of people chiming in on this one has generated a lot of noise; it's likely people are encountering a _number_ of issues acr

[2018-09-11 13:46] wenottingham commented on #2238
https://aws.amazon.com/kms/
https://azure.microsoft.com/en-us/services/key-vault/
https://cloud.google.com/kms/

[2018-09-11 14:29] LukeShortCloud commented on #2225
Ansible Engineering is aware of the upgrade complications and is working towards a solution. See:
* https://github.com/ansible/awx/issues/2203#issuecomment-416604807
* https://github.com/ansible/awx/issues/2173#issuecomment-419938076

[2018-09-11 16:41] sravs1993 commented on #1559
Hello,
My requirements.yml file contains a github repo which needs username and password and my awx job fails. Please let me know if there is any way to enter or hardcode the github details to avoid the error.

[2018-09-11 18:32] boris-42 commented on #1861
@ryanpetrello you are back ! =)

Steps to reproduce:
- My production deployment is running on top of k8s and looks like, this:
--  awx-rabbitmq is statefulset with 3 replicas
-- memcahced and postgres are 2 deployments
-- awx-web is coupled with awx-task in the same pod as part of one deployment (there is some bug that we are still debugging that is blocking us from decoupling)
- After deploying e

[2018-09-11 19:04] ryanpetrello commented on #1861
Hey @boris-42,

Do you see any logs in the task container for the callback receiver that might provide some hints?  Errors/exceptions/tracebacks?

[2018-09-11 19:44] AlanCoding commented on #2226
Thank you for that very detailed information. Proposed fix up at:

https://github.com/ansible/ansible/pull/45514

This doesn't necessarily belong in the AWX issue queue, once I dug, I was able to replicate the issue via the command line. The usage difference between your CLI use and AWX use is that AWX goes through a YAML->JSON conversion of the variables. Indeed, when you give this data as JSON,

[2018-09-12 08:21] chen-sun commented on #1731
+1

[2018-09-12 10:12] agatahochor opened #2240 "awx uses wrong host from group (host ordering is inconsistent)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
AWX changes sequence of hosts in group (inventory sourced from project) so when I run job template it runs on wrong host.

##### ENVIRONMENT
* AWX version: 1.0.7
* AWX install method: docker on linux
* Ansible version:  2.0.0.2
* Operating System: ubuntu 16.04

##### STEPS TO REPRODUCE
1. Add inventory from source - sourced

[2018-09-12 11:32] MarkusTeufelberger commented on #2225
It might be possible to store secrets (along with the rest of the tower/awx config) in a playbook that then runs https://docs.ansible.com/ansible/devel/modules/tower_credential_module.html tasks to add them to tower again.

[2018-09-12 15:46] sblackburncgi commented on #1082
Same thing here.   When I remove containers and recreate them using "ansible-playbook -i inventory install.yml", I have a lot of error 500 from the dashboard or projects view, etc.

[pid: 134|app: 0|req: 11/40] 10.x.x.x () {42 vars in 2265 bytes} [Wed Sep 12 15:32:12 2018] GET /api/v2/dashboard/ => generated 41 bytes in 67 msecs (HTTP/1.1 500) 6 headers in 200 bytes (1 switches on core 0)
10.x.x.x

[2018-09-12 20:14] AlanCoding commented on #2240
In my reply in the mailing list, I might have misunderstood what you were describing.

I think you are saying that these hostnames (node01, etc.) and group "docker" are in `containers.yml`, which has already been imported into your inventory.

Could you give me the structure of this inventory file you're using? Just the host/group structure should be all I need, but I want to be sure I test a YAML

[2018-09-13 01:35] LukeDRussell opened #2242 "Option in workflow to rerun a job with only failed hosts"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
We can now rerun a job with either all or just failed hosts. It would be really great to use that in the workflow composer. E.g. If a job fails as part of a workflow, rerun the job on failed hosts only.

Currently you can run a new job from the same template if it fails, but it will execute against every host in th

[2018-09-13 07:07] agatahochor commented on #2240
No, these hostnames and groups are only in hosts file. In my playbook I just map my tasks to specific host, in this case it's docker[0].

My hosts file looks like this:

And here's screen of how it looks in awx inventory:
![image](https://user-images.githubusercontent.com/7538311/45472266-febfd500-b733-11e8-9ce9-7d4c44645dc0.png)

[2018-09-13 07:50] lion24 opened #2243 "Retrieve variables content from the API."
##### ISSUE TYPE
 - Documentation request

##### COMPONENT NAME
 - API

##### SUMMARY

I would like to know from the API, if it is possible to retrieve inventory variables. For example, from one of our inventory, we have a variable defined which is a list of integers. The ultimate goal would be to retrieve that list from the API and expose it in a survey for the user to select existing values..

I

[2018-09-13 09:38] nicolaibaralmueller opened #2244 "Windows remote host fails via public ip but not fqdn"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hosts

##### SUMMARY
Connecting to remote windows host via IP result in an winrm error.

##### ENVIRONMENT
* AWX version: ?
* AWX install method: docker on linux
* Ansible version:  2.6.2

##### STEPS TO REPRODUCE

Build several tower inventories with Azure Resource Manager. Added the ansible winrm variables for connection. Same for all.
winrm_h

[2018-09-13 11:24] nicolaibaralmueller commented on #2244
I've also testet the connection with powershell like this:

Enter-PSSession -ComputerName $ip -Credential $user -UseSSL -SessionOption $test

Enter-PSSession -ComputerName $fqdn -Credential $user -UseSSL -SessionOption $test

Both types are working fine with powershell.

[2018-09-13 11:37] nicolaibaralmueller commented on #2244
Also tried building a inventory without tower and running a fact playbook against the host:

<publicip> ESTABLISH WINRM CONNECTION FOR USER: testuser on PORT 5986 TO publicip
checking if winrm_host publicip is an IPv6 address
fatal: [publicip]: UNREACHABLE! => {
    "changed": false,
    "msg": "ssl: HTTPSConnectionPool(host='publicip', port=5986): Read timed out. (read timeout=30)",
    "unreacha

[2018-09-13 12:04] AlanCoding commented on #1954
Related https://github.com/ansible/awx/issues/2148

[2018-09-13 12:36] nicolaibaralmueller commented on #2244
2 out of our 6 hosts have this issue with ansible... not powershell

[2018-09-13 13:14] computerlyrik opened #2245 "Load Inventory from project source not possible if vault present"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API / UI

##### SUMMARY
Cannot read inventory file from project source if a password proteted vault is present

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method: local docker
* Ansible version:  2.5.1
* Operating System: ubuntu 16.04
* Web Browser: Firefox

##### STEPS TO REPRODUCE

- create a ansible repository
- add something

[2018-09-13 13:51] computerlyrik commented on #2232
may have the same source of error as https://github.com/ansible/awx/issues/2161

[2018-09-13 14:48] wenottingham commented on #2242
Given that a whole workflow could include multiple inventories (where job B with inventory Y that failed is dependent on job A with inventory X that succeeded), I'm not convinced this makes sense as a toggle for the whole workflow.

For an individual job, it may make sense as some sort of 'retry until all successful' knob.