[2018-01-09 13:57] LarsMilland commented on #688
I can confirm the issue on 1.0.2.335.

With credentials configured as show in the attached images AWX comes out with just an error that it is missing the ssh_password.

![image](https://user-images.githubusercontent.com/10956558/34724243-6e6eccc0-f54d-11e7-8244-6faad1516380.png)

![image](https://user-images.githubusercontent.com/10956558/34724128-0f70fa36-f54d-11e7-808c-f218e2bcc995.png)

![image

[2018-01-09 14:03] agaffney opened #936 ""x" button next to existing filter in smart host filters doesn't do anything"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
In the dialog box for creating a smart host filter, clicking the "x" next to an existing filter (just below the search box) doesn't seem to do anything.

##### ENVIRONMENT
* AWX version: 1.0.2.327
* AWX install method: docker on linux
* Ansible version:  2.4.2.0 (from inside `awx_task` Docker container)
* Operating System:

[2018-01-09 14:12] agaffney commented on #399
I noticed this, as well.

[2018-01-09 14:17] akcrisp opened #937 "Add "postgres" hostname to /etc/hosts on database container"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
The postgres docker container is missing the hostname "postgres" from /etc/hosts. It has the ip and docker id, but awx_task and awx_web have their docker alias names as well.

This would make for a slightly neater solution when trying to pg_dump (on the postgres container instance)  the database. I can

[2018-01-09 15:10] AlanCoding commented on #545
Link #808 and closing

[2018-01-09 15:10] #545 closed, assigned to AlanCoding

[2018-01-09 18:12] itcrowdsource commented on #860
Same here. Unable see the facts with version AWX 1.0.2.327

[2018-01-09 19:05] #914 closed, assigned to ryanpetrello

[2018-01-09 19:10] ryanpetrello commented on #230
@naisanza I merged in support for this a few weeks ago:

https://github.com/ansible/awx/commit/c8f4320b5820c43770fb4ab2671965aad54344c4

Let me know how it works for you!

[2018-01-09 21:00] matburt commented on #159
I've posted pr #938 that will add initial support for this.

I went ahead and did this in the same vein as the openshift installer. I could definitely see the value in having a Chart for this but want initial support to follow our current model.

[2018-01-09 21:49] #230 closed, assigned to ryanpetrello

[2018-01-09 22:01] jladdjr opened #939 "Network visualization fails to show hosts missing name hostvar"
### Summary

Network visualization fails to show hosts missing `name` hostvar.

### Environment

Branch network_ui_3_3
AWX 1.0.2-596-g6f9d0b7

### Steps To Reproduce:

1. Create an inventory
2. Add a host. Do not create any hostvars.
3. With the browser console open, return to the inventory list page. Click on the network topology icon for the inventory.

### Expected Results:

Canvas showing gene

[2018-01-09 23:50] jamesmarshall24 opened #941 "RFE: Openstack Credential Expansion"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
Expand UI openstack credential with other os-client-config options available for [clouds.yaml](https://docs.openstack.org/os-client-config/latest/user/configuration.html#config-files). For example `verify` for SSL verification.

##### ENVIRONMENT
* AWX version: 1

[2018-01-10 00:17] #698 closed, assigned to wwitzel3

[2018-01-10 04:10] gripenk opened #944 "no notification (email) when launched job finished"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.2.335
* AWX install method: docker on linux
* Ansible version:  X.Y.Z
* Operating System: CentOS 6.9
* Web Browser:

##### STEPS TO REPRODUCE

Created an "email" notification, "test notification" will show "notification sent" and I got the email
created a job template, witch that email notifi

[2018-01-10 04:34] jladdjr opened #945 "Unable to run project update: `No module named websocket`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
On the current network visualization branch (network_ui_3_3), running a project update fails with `No module named websocket`.

##### ENVIRONMENT
* AWX version: 1.0.2-596-g6f9d0b7
* AWX install method: docker for mac
* Ansible version:  2.4.2.0
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. After deploying the containe

[2018-01-10 04:55] ryanpetrello opened #947 "stdout downloads fail for jobs that contain certain unicode characters"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### STEPS TO REPRODUCE

Run the following adhoc command with the `shell` module:
`printf '\xE2\x98\xA0'`

Next, visit `/api/v2/ad_hoc_commands/N/stdout/`.  You will see a traceback:

[code]

[2018-01-10 05:07] madeinoz67 commented on #892
re-opened my mistake, this issues still appears to be be in 1.0.2.327

[2018-01-10 05:16] matburt commented on #879
do extra vars not always take precedence over those defined in inventory?

http://docs.ansible.com/ansible/latest/playbooks_variables.html

I'm failing to see how this is an issue?

[2018-01-10 05:25] naisanza commented on #230
@ryanpetrello Will do if I run into an issues!

[2018-01-10 05:29] matburt commented on #854
This seems like a problem that needs an ansible core solution? Either the module itself needs to occlude this information or the core provider needs to be fixed. Am I wrong here?

We don't do one-off hiding of this kind of metadata for each module that could possibly be used, that way lies madness.

[2018-01-10 05:29] #854 closed, assigned to nobody

[2018-01-10 05:30] matburt commented on #857
We do also strongly recommend using scm-based playbooks rather than managing them manually. If you need to manage them manually then you are on your own.

[2018-01-10 05:30] #857 closed, assigned to nobody

[2018-01-10 05:36] matburt commented on #859
dupe

[2018-01-10 05:36] #859 closed, assigned to nobody

[2018-01-10 05:39] matburt commented on #862
The vagrant install is not officially supported by the AWX team. We'd need to see a reproducer on our standalone install and like @AlanCoding I'm also not able to reproduce it there.

[2018-01-10 05:39] #862 closed, assigned to nobody

[2018-01-10 05:41] matburt commented on #874
It's not currently in there but it could be added.

Please follow the new issue template when requesting features.

[2018-01-10 05:41] #874 closed, assigned to nobody

[2018-01-10 05:43] matburt commented on #876
While some nice information it might be helpful if it were added in the docs/ section or in the installer help section as a PR rather than in an issue.

[2018-01-10 05:43] #876 closed, assigned to nobody

[2018-01-10 05:49] matburt commented on #886
You can't use ssh keys for http(s) scm authentication.

If you create an scm credential with just the username and password it doesn't work?  Can you try to reproduce this using the standalone `git` module in ansible itself? This is what awx uses under the hood: http://docs.ansible.com/ansible/latest/git_module.html

See our project update playbook here: https://github.com/ansible/awx/blob/devel/a

[2018-01-10 05:51] matburt commented on #889
I don't think anything has changed here regarding this. It could be that tower-cli is out of date? Can you see what the bad request detail that tower-cli is recieving?

[2018-01-10 05:52] matburt commented on #892
Can you grab the error from the browser javascript console?

[2018-01-10 05:54] matburt commented on #895
I think I set this because of issues with standalone Tower installs and self-hosted hipchat servers. I'm open to someone coming up with an elegant fix that supports self-signed certificates AND full certificate verification.

[2018-01-10 05:56] matburt commented on #888
`[Errno 12] Cannot allocate memory 12 fatal`

It seems like you might not have enough memory? Low memory can have pretty dramatically bad effects... how much is allocated to AWX?

[2018-01-10 07:57] sparkacus commented on #888
We have 8GB RAM assigned.

[2018-01-10 09:52] ColmMcBarron opened #948 "13 or more custom credential types breaks template job"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
If an installation has 13 or more custom credential types, the job template UI is broken.

And when I mean broken, there are no credentials in the box, and you can't add/remove any. This applies to any existing templates.

If you click on the search icon for the credentials field you get another error.

##### ENVIRONMENT
* A

[2018-01-10 10:51] LavaToaster commented on #862
I used vagrant as an example of being able reproduce it, I wasn't asking for support on it, it happens on our AWS server which runs AWX, and provisioned using the docker on linux that is provided here.

How would be the best way to get a reproducer for you?

[2018-01-10 11:40] shortsteps commented on #944
Duplicate of #935

[2018-01-10 12:00] shortsteps opened #949 "Git SCM Update sometimes hungs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Git SCM Update sometimes hungs with no apparent reason and get stuck in running.

##### ENVIRONMENT
- AWX version: 1.0.2.327
- AWX install method: docker on linux
- Ansible version: 2.4.2.0
- Operating System: Centos 7
- Web Browser: Chrome/Firefox on Ubuntu

##### STEPS TO REPRODUCE
Launch SCM Update on a Project (both man

[2018-01-10 13:23] grahamn-gr opened #950 "Smart Inventory filters aren't working correctly when using the GUI"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
There is a difference in what filters can be used on the GUI to the API.
The GUI rejects valid options that the API accepts and are valid.

##### ENVIRONMENT
* AWX version: 1.0.1.8
* AWX install method: docker on linux
* Ansible version:  2.4.0.0

##### STEPS TO REPRODUCE

Using the GUI, which fails:
1. Create a new Smart In

[2018-01-10 13:31] madeinoz67 commented on #892
[code]

[2018-01-10 13:41] madeinoz67 commented on #892
just a note that the above error was in 1.0.2.337 docker image

[2018-01-10 13:44] madeinoz67 commented on #922
can also confirm that is working in 1.0.2.337

[2018-01-10 14:19] xoxys commented on #934
1.0.2.0 seems to work now. Fixed by https://github.com/ansible/awx/issues/253 Necessary proxy settings definitely needs better documentation..

[2018-01-10 14:20] xoxys commented on #437
Seems to be fixed in 1.0.2.0, right?

[2018-01-10 14:25] bjrass opened #952 "FEATURE REQUEST: Run playbook after SCM update"
- Feature Idea

 - API
 - UI

##### SUMMARY

I have some requirements that needs to be installed for my playbooks to run. These requirements may change depending on SCM updates. It would be nice to be able to run a playbook to do setup after a SCM update has been completed rather than add an extra task, to make sure all dependencies are installed, to all my playbooks.

It also seems to me that thi

[2018-01-10 14:34] colandre commented on #437
@xoxys, I updated AWX to 1.0.2.0 today and it looks the issue is fixed.

[2018-01-10 14:58] #159 closed, assigned to matburt

[2018-01-10 15:18] ColmMcBarron opened #953 "Auth token header name"
##### ISSUE TYPE
 - Bug Report
 - Documentation

##### COMPONENT NAME
 - API

##### SUMMARY
In the tower docs, the header for authentication is referenced as 'Authorization', when in fact this doesn't work and it requires using the header 'X-Auth-Token'

##### ENVIRONMENT
* AWX version: 1.0.2.315
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: n/a
* Web Browse

[2018-01-10 15:32] wwitzel3 commented on #934
Closing this as it is resolved, please create a new issue for the specific documentation fix you're suggesting.

[2018-01-10 15:32] #934 closed, assigned to nobody

[2018-01-10 15:46] #944 closed, assigned to nobody

[2018-01-10 15:56] akcrisp opened #954 "RFE: add rsync to postgres container"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
I wanted to use the ansible synchronize module to copy db dump off the postgres container. However unlike the task and web containers, rsync isn't installed.

Can we get it added.

##### ENVIRONMENT
* AWX version: 1.0.1.173
* AWX install method: docker on linux
* Ansible version:  X.Y.Z
* Operating System: RHEL 7.4

[2018-01-10 16:06] shortsteps opened #955 "Workflow job hungs and cannot be canceled: Fields set(['extra_vars']) are not allowed as overrides"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
I started a Workflow job, it is in running state and it is hunging. The first job has not yet been spawned. With WJ cancellation nothing happens.
All the following jobs are in queue.

##### ENVIRONMENT
-    AWX version: 1.0.2.327
-    AWX install method: docker on linux
-    Ansible version: 2.4.2.0
-    Operating System: Ce

[2018-01-10 16:15] shanemcd commented on #954
We use the official Postgres container image from Docker Hub, so this would require maintaining our own which we want to avoid doing if possible.

Is there another route you could take? The Postgres client tools (including pg_dump) are installed in both the task and web containers.

You might also want to try the Docker connection plugin, but I have less experience with this.

It's also worth ment

[2018-01-10 16:17] #954 closed, assigned to nobody

[2018-01-10 16:17] shanemcd commented on #953
Can you please tell us the exact error you're seeing?

[2018-01-10 16:24] wwitzel3 commented on #697
The issue here is that the password is being provided in the body of the uri module. There is no way for awx to know what is and is not a password in arbitrary URL parameters. You can use the `password` option of the uri module and that will not be displayed in the job event output.

[2018-01-10 16:24] #697 closed, assigned to nobody

[2018-01-10 16:42] akcrisp commented on #954
Thanks - ok - I will go with one of the other options - didn’t realise actually pg_dump was in the other containers - thanks for heads up

Sent from my iPhone

[2018-01-10 17:23] ryanpetrello commented on #34
Functionality is complete and merged on the API side:

https://github.com/ansible/awx/pull/940/files#diff-015b935452ac22e8799e290bcfa7cb07

[2018-01-10 17:38] ColmMcBarron commented on #953
Generic api authentication error:

`{
  "detail" : "Authentication credentials were not provided"
}`

[2018-01-10 18:12] krispayne opened #956 "LDAP Mapping in GUI not saving"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
I have 44 lines of JSON for my LDAP Team Map, when I go to another area of the interface and come back, there is only the first 7 lines.

##### ENVIRONMENT
* AWX version: 1.0.2.307
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: CentOS 7
* Web Browser: Chrome latest

##### STEPS TO REPRO

[2018-01-10 18:41] krispayne commented on #956
This is also happening in the Organization mapping.

[2018-01-10 18:46] krispayne commented on #956
I think I figured this out.

If I go to /api/v2/settings/ldap and input it myself, it throws an error about "remove_admins": true not being valid. I removed those entires and clicked patch. It shows my mappings in the GUI now. The GUI never showed this error.

[2018-01-10 19:06] #947 closed, assigned to ryanpetrello

[2018-01-10 19:07] mabashian commented on #860
https://github.com/ansible/awx/pull/957 should address this bug - waiting for all the checks to pass before merging.

[2018-01-10 19:13] ryanpetrello commented on #953
I'm having trouble reproducing this, @ColmMcBarron - can you show an example of how you're fetching and using your auth token?

[code]

[2018-01-10 19:57] anderm3 commented on #888
I had this issue start on a machine with 8G and have since migrated it to a system with 16G of RAM. My job has been stuck for 797Hrs so far.

[2018-01-10 20:03] mabashian commented on #860
#957 is now merged.  I'm going to close this issue for now but will re-open if the bug persists.

[2018-01-10 20:03] #860 closed, assigned to mabashian

[2018-01-10 20:23] scottlackey commented on #829
Also having this issue, selecting edit on existing schedules causes the browser tab to lock

[2018-01-10 20:30] jlmitch5 opened #960 "Update projects.edit.templates view"
As part of #279, the controller for dealing with the table-based template list was excised from tower.  This was a dependency of `awx/ui/client/src/projects/projects-templates.route.js` and that view will need to be updated to include the new expanded template list.

[2018-01-10 20:32] anderm3 commented on #889
I do not believe this is on the tower-cli side. My systems are on tower-cli 3.2.0 and those nodes we left untouched during the AWX version upgrade. Which is to say all of the nodes were able to schedule jobs like this until the 1.0.2.0 upgrade and then they all failed.

The fix was to go in and modify all my job templates to re-enable "prompt on launch" for Extra Variables.

[2018-01-10 20:36] gueux opened #961 "Add ability to know which Organization Job is related for"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - Playbooks

##### SUMMARY
It will be nice to have some extra variable passed to job template in order to know which organization this job is related for.

##### STEPS TO REPRODUCE

As for example it might me accessible via extra vars {{ ansible_organization_name }} or via environment variable {{ lookup('env', 'ORGANIZATION_NAME') }}

[2018-01-10 21:55] jladdjr opened #963 "Mouse events sent to Tower continuously via websockets during record mode (behavior only present on feature branch - network_ui_3_3)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

When record-mode is enabled on the network visualization page, a stead stream of mouse events is sent to Tower via websockets:

![repro](https://user-images.githubusercontent.com/4440360/34797367-2d0aafe0-f626-11e7-9ec9-97fbb05ef1b2.gif)

##### ENVIRONMENT
* AWX version: 1.0.2-596-g6f9d0b7
* AWX install method: docker for m

[2018-01-10 23:58] cchurch commented on #961
A job template or job doesn't have an explicit organization, so we'd have to determine that from the project and/or inventory. Perhaps `awx_project_organization_name` and `awx_inventory_organization_name`?

[2018-01-11 05:20] cchurch commented on #949
Are you using SSH or HTTPS, and is your git URL to github or another git server?

You can define a custom setting, `PROJECT_UPDATE_VVV=True` in a Python settings file, restart AWX, and try the project update again. This should run the project update with additional verbosity, which may also help to determine why it's hanging.

[2018-01-11 07:54] ElliotGo opened #964 "Raising NotImplementedError while sending webhook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Failed to send webhook notification, raising NotImplementedError

##### ENVIRONMENT
* AWX version: 1.0.2.356
* AWX install method: docker
* Ansible version:  2.4.10
* Operating System: WIN 10
* Web Browser: Chrome 62.0.3202.94（64 bit）

##### STEPS TO REPRODUCE
1. add webhook notification template
2. enable "on success and o

[2018-01-11 08:19] shortsteps commented on #949
I'm using https and my url is to the company GitLab server.

Where should I put the Python setting file?
Additional verbosity could help, since it is very odd and intermittent.

[2018-01-11 08:55] akcrisp commented on #937
As I now know pg_dump available from awx_task  - this is no longer required - so closing.

[2018-01-11 08:55] #937 closed, assigned to nobody

[2018-01-11 09:11] mkempster22 commented on #138
Just got this issue again upgrading today, I had this a while back and switched to an external postgres to try and avoid the issue. Have we got a way to fix this yet, completely removing the database is a bit drastic

[2018-01-11 09:13] one1zero1one opened #965 "Hipchat notification is not working for job completion (success or failure)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Hipchat notification not working

##### ENVIRONMENT
* AWX version: 1.0.2.322
* AWX install method: docker
* Ansible version:  2.4.2.0
* Operating System: Ubuntu 16.04
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Configure alerting to hipchat, test alert (works OK), setup notification (fail&success) for template, run j

[2018-01-11 10:38] ColmMcBarron commented on #953
Weird, I can't reproduce this now, closing.

[2018-01-11 10:38] #953 closed, assigned to nobody

[2018-01-11 12:43] jeis2497052 opened #966 "Propose a few spelling corrections to the markdown"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

I propose a few spelling corrections listed below

[code]

-  The `database` group remains for specifying an external postgres. If the database host is provisioned seperately this group should be empty
+  The `database` group remains for specifying an external postgres. If the database host is provi

[2018-01-11 15:03] cesarfn4 opened #967 "Multiple logger support"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

Currently Tower only allows a single configurable method for logging data, please allow for multi-server / multi-method logging configuration.

##### ENVIRONMENT

* AWX version: 1.0.0
* Ansible version:  2.4.0

##### EXPECTED RESULTS

Support multiple logger aggregation

[2018-01-11 16:05] alexander-bauer opened #968 "Pause for user input as a step during workflow job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
I have a number of patterns in my environment that are (Automated Step) -> (User Action or Input) -> (Automated Step). Some kinds of machine provisioning, for example, or user onboarding.

I would like to build these patterns as Workflow jobs, with a "Confirmation" or "Input" step in the middle, which waits forever for use

[2018-01-11 16:09] wenottingham commented on #966
Can you send this diff as an actual pull request?

[2018-01-11 16:55] steaksauce- commented on #968
As an alternative, would it be useful for a workflow to present a survey that is attached to a job template when the template is run? I can see that being useful. It might be worth adding a checkbox to the workflow to present the job's surveys or not.

[2018-01-11 17:05] alexander-bauer commented on #968
@steaksauce-
I think workflows should definitely present surveys, probably when the workflow is started. That is a separate problem I currently have, because some multi-step workflows (user onboarding, for example) rely on individual job templates that use surveys to prompt for their variables. Because workflows don't do this, I have to create a survey for that whole workflow that sets all the rig

[2018-01-11 19:51] mabashian commented on #892
This should be fixed by https://github.com/ansible/awx/pull/971

[2018-01-11 19:51] #892 closed, assigned to mabashian

[2018-01-11 20:17] docholiday opened #972 "awx-manage cannot connect to postgres server"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Console
 - awx-manage

##### SUMMARY
When trying to use awx-manage I always receive the error, that it could not connect to the postgres server.

##### ENVIRONMENT
* AWX version: AWX 1.0.2.358
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: CentOS 7
* Web Browser: Firefox 52
* Postgres DB server: Default

[2018-01-11 20:30] ryanpetrello commented on #932
@mabashian I think this is a bug introduced by @AlanCoding's workflow prompted credential support.  Specifically, it looks like when you specify `{'credentials': [2]}`, it's _always_ using the "merge with what's on the JT" behavior that was added for workflow prompting:

https://github.com/ansible/awx/blame/devel/awx/main/models/unified_jobs.py#L385

[2018-01-11 20:36] ryanpetrello commented on #932
@mabashian yea, this is indeed a larger issue unrelated to password prompting, but instead related to how `credentials` are set at JT launch time.  This test summarizes the problem:

[code]

[code]

[2018-01-12 00:10] ryanpetrello commented on #932
I've thought on it some more, and I think I understand _why_ Alan’s merge behavior works this way; the point of the credentials merge is that it allows you “add or modify” what’s on the base JT.  For example:

- If you have a JT with zero credentials, specifying a machine credential at launch time will use it.

- If you have a JT with a machine credential, specifying a _different_ machine credenti

[2018-01-12 00:25] wenottingham commented on #932
There was a long conversation I remember having with @AlanCoding about this; if I recall correctly, having it be a explicit list creates a problem for a) workflow nodes b) JT relaunch where the template can change after you create the node with the explicit list.

[2018-01-12 00:30] ryanpetrello commented on #932
@wenottingham I think the behavior makes sense for credentials you specify on workflow nodes - you **must** provide a diff in that scenario for the reasons you stated.  I think what’s confusing is that manual, vanilla Job Template launches **also** follow this pattern, and that creates a few problems:

* The API isn’t immediately obvious because `credentials` is a list of "additions/changes" (a di

[2018-01-12 01:39] steaksauce- commented on #158
Just found this and updated. As expected, it worked. The Ansible version included in the default Ubuntu repos for Ubuntu 16.04 is 2.0.0.2 as of 01/11/2018.

It's recommended to use the Ansible ppa to install:
[code]

My playbook ran great after doing this!

[2018-01-12 04:59] madeinoz67 opened #975 "Unable to delete any template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Deleting a Template fails to remove template

##### ENVIRONMENT
* AWX version: 1.0.2.370
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: Server: Centos 7, client: MacOS 10.13.2
* Web Browser: Safari 11.0.2

##### STEPS TO REPRODUCE

1. from the template page the delete button (rubbish bi

[2018-01-12 06:04] ElliotGo commented on #897
@tvigers I have the same issue in AWX 1.0.2.356 docker environment.
Schedule for a single job works fine.

[2018-01-12 06:05] ElliotGo commented on #897
@mabashian can you please take a look at this issue?

[2018-01-12 12:57] docholiday commented on #972
Ok, in https://github.com/ansible/awx/blob/devel/CONTRIBUTING.md#post-build-steps I found another way to access the container console:
docker exec -it awx_task bash

Using this, awx-manage works as expected. Maybe you could add this to the install guide at the end?
I hope someone reads this, although I close the issue...

[2018-01-12 12:58] #972 closed, assigned to nobody

[2018-01-12 13:38] AlanCoding commented on #932
If WFJT nodes and direct launch doesn't follow the same logic for prompts (the merge logic here in this discussion), then it's not truly a saved launch configuration.

slightly tangential to this issue -  We do need to support the case where SSH-1 prompts for password, and you launch without providing that password. I can't remember if I specifically addressed that, but I should have, and it does

[2018-01-12 13:40] mkempster22 commented on #138
For info, I'm currently running AWX 1.0.2.327
Running any sort of upgrade forces AWX to get completely stuck in 'AWX is upgrading' with a similar log to switchboardOp

Unfortunately i'm also having the issue of my /var/lib/docker/overlay folder filling up meaning the only way to clean it is to remove containers which will cause them get the latest containers. So I either run out of space and cant

[2018-01-12 13:48] thealexauer commented on #138
I Have the same issue, with the following log (latest version)
https://paste.ee/p/7irxo

[2018-01-12 13:57] #201 closed, assigned to wwitzel3

[2018-01-12 14:08] akcrisp opened #977 "pg_dump included in awx_task/awx_web is old 9.2.23 incompatible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Unable to dump postgres database because of a missing option.

The version of pg_dump on awx_task and awx_web is 9.2.23. There version with the postgres container is 9.6.6.

9.6.6 has a --dbname option which is missing from the 9.2.23

##### ENVIRONMENT
* AWX version: 1.0.1.173
* AWX install method: docker on linux
*

[2018-01-12 14:13] kladiv commented on #688
+1 same bug (i hope high priority)

[2018-01-12 14:20] ryanpetrello commented on #932
I can appreciate wanting this to all work the same way, and I don't think there's anything inherently _wrong_ with this approach as long as everybody understands it and has buy-in with the limitations.  Probably my biggest concern is that (in my opinion) this _is_ a breaking API change for `/api/v2/job_templates/N/launch/` behavior (or at the very least, how we previously described `credentials=[.

[2018-01-12 16:03] shortsteps commented on #955
This issue is making the environment unusable.
If anybody suggests a solution (or at least a way to force the job cancellation), on Monday I'll try to backup the db and rebuild/upgrade containers hoping to have luck.

Thanks

[2018-01-12 17:36] jladdjr commented on #963
Also wanted to note that websocket messages are sent even when record mode is off:

From [/awx/network_ui/static/network_ui/CONTRIBUTING.md](/awx/network_ui/static/network_ui/CONTRIBUTING.md):

[2018-01-12 17:55] lucasreed commented on #975
Getting the same error in chrome. Here's the output from web tools console formatted. First error is a 404 on the api DELETE request, which is strange since it's definitely there. Second is the same javascript error reported by @madeinoz67 :
[code]
[code]

Edit: added the DELETE request failure message
Edit 2: Confirmed it's not properly issuing the DELETE api call because it's still there in the

[2018-01-12 18:24] tvo318 commented on #219
Docs coverage in PR #[295](https://github.com/ansible/product-docs/pull/295).

[2018-01-12 18:42] matburt commented on #963
This currently only affects the network ui implementation branch. It seems like we shouldn't need to send these events unless there is something actually going on... like pointer movement doesn't need to be directly tracked as events (or stored) all the time.

[2018-01-12 18:57] benthomasson commented on #963
This is a feature for development.  Record mode is only for building tests.  This will not be used by the end-user.

This is not correct.  UI events are not stored in the database unless recording a test case during development.

This claim needs to be backed up with performance measurement.    I have found the websocket to be surprisingly performant and has low overhead even over low VPN links.

[2018-01-12 19:18] benthomasson commented on #963
This is expected behavior for development and test and the feature will be removed for production.

[2018-01-12 19:18] #963 closed, assigned to benthomasson

[2018-01-12 19:31] lucasreed commented on #955
I was just about to report this bug as well. Does your workflow include an inventory refresh by chance? I only notice this issue cropping up if the workflow has both a survey as well as an inventory refresh.

I ran the exact same workflow _including_ the inventory refresh but _without_ the survey (`extra_vars`), and it works fine.

I think the expected behavior should be to ignore the extra_vars o

[2018-01-12 19:49] Melachiah commented on #899
I just encountered this same issue after upgrading to 1.0.2.0.
In my case, I initially upgraded to the latest version, and that failed. So I reverted back, found that I would need to upgrade to 1.0.2.0.
In the process I experienced the same exact problem you describe here.

First I noticed that my postresql cluster (I have it segmented from the AWX hosts) was low on disk space.
After cleaning up t

[2018-01-12 20:13] rbobrowicz opened #980 "Callback endpoints always give a 500 server error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Job callbacks result in 500 error, no jobs are triggered. Exception in logs is `Fields set(['launch_type']) are not allowed as overrides.`

##### ENVIRONMENT
* AWX version: 1.0.2.358
* AWX install method: docker on linux
* Ansible version:  2.4.2.0

##### STEPS TO REPRODUCE

1. Create a new job template
2. Check 'Allow Prov

[2018-01-12 20:19] benthomasson commented on #945
I'd like to see this reproduced in another development environment.   I a few more data points to determine if this is a problem with docker reusing old containers or a problem with the building of the containers.

[2018-01-12 20:21] benthomasson commented on #945
The network_ui callback plugin will be replaced at some point with fact processing code that uses the normal method of pushing facts to Tower instead of using a websocket.

[2018-01-12 20:23] benthomasson commented on #945
https://github.com/ansible/awx/blob/network_ui_3_3/awx/plugins/callback/network_ui.py#L22

This dependency was already in Tower added by `97846337 (Ryan Petrello    2017-07-17 11:59:37 -0400 189) websocket-client==0.44.0  # via slackclient`

[2018-01-12 20:32] benthomasson commented on #945
Removed the websocket dependency from the ansible venv.

[2018-01-12 20:32] #945 closed, assigned to nobody

[2018-01-12 21:52] shortsteps commented on #955
No, my workflow has no inventory refresh, but it starts with a SCM update (Project sync).
As you said, the same workflow completed successfully without survey. When I added surveys I encountered the issue.

So any chance to force the cancellation (through api or the db)? The only way is to restore a previous backup?

[2018-01-12 22:01] shortsteps commented on #899
I am sure I had no disk space issues, but thank you for sharing tips and sql statement.
As you said I was trying to jump to 2.xxx, but it failed. Then I read that 2.0 was a mandatory step, so I reverted back, and while upgrading to 2.0 I had the issue.
However I have noe reinstalled from scratch cause I needed the environment quickly, the configurations I did where a few, so I reconfigured them fr

[2018-01-12 22:01] #899 closed, assigned to nobody

[2018-01-13 15:26] AndreasDickow commented on #623
getting the same issue in django

[2018-01-14 07:11] Abukamel commented on #862
I have the same problem on a server deployed using docker.
[code]

![error screen shot](http://storage4.static.itmages.com/i/18/0114/h_1515913876_6774264_2839c9b02a.jpeg)

[2018-01-14 19:33] savealive commented on #955
AWX ver = 1.0.2.0
I have the same problem. My workflow template also has a survey. UI doesn't cancel the job so it's not possible to run new jobs anymore. Tower host is not usable.
Following message is continuously repeating in log:
`[2018-01-14 19:31:33,509: ERROR/ForkPoolWorker-10314] Task awx.main.scheduler.tasks.run_task_manager[1d54d396-b4c2-4a41-a1b6-51e3b980ab0e] raised unexpected: Exceptio

[2018-01-15 09:39] shortsteps commented on #955
I reverted to a previous postgres backup and everything is fine. However this issue blocks the expected behaviour.
I'm at 1.0.2.327, I'll try to upgrade to one of the latest tag to see if something happens.

[2018-01-15 13:25] palmar opened #981 "Issue with Job Templates page under Projects"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Attempting to load the "JOB TEMPLATES" tab under "Projects" fails. The UI displays a "Loading" error message alongside multiple instance of placeholder labels such as:

{{columnLabel \| translate}} | {{columnLabel \| translate}} | {{columnLabel \| translate}} | {{columnLabel \| translate}}

Additionally an error is thrown

[2018-01-15 14:37] wwitzel3 commented on #166
@wenottingham can you expand on: per-org LDAP team mapping creation (create team mappings for an org - this is delegating superuser -> org admin)

I don't full understand what is being asked for there. And is the alternatively line item an alternative to this?

[2018-01-15 16:12] mabashian opened #983 "JT schedule POST throws 400 when new variable included in extra_data"
##### ISSUE TYPE
 - Bug Report (I think?)

##### COMPONENT NAME
 - API

##### SUMMARY
1) Create a Job Template without any extra vars or survey
2) POST to `/api/v2/job_templates/:id/schedules` and include something in `extra_data` like so:

[code]

The api will respond with a 400 error in this case, saying:

`{extra_data: ["Variables foo are not allowed on launch."]}`

I guess I'm looking for clar

[2018-01-15 16:39] wenottingham commented on #166
The idea is such:
- each organization has an LDAP configuration
- the org admin can then make team mappings for that organization from that config

Question is how possible that is in the current framework.

[2018-01-15 16:41] AlanCoding commented on #983
Job template needs `ask_variables_on_launch` to be True to accept user-provided variables.

[2018-01-15 16:43] AlanCoding commented on #983
Suggest making an API issue to expand wording of error message to answer this question

[2018-01-15 16:45] rooftopcellist commented on #983
Thank you for clarifying Alan, I can just put in a PR for that off of this issue.

[2018-01-15 16:53] shortsteps opened #984 "Error upgrading from 1.0.2.337 to 1.0.2.356"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Upgrade from 1.0.2.337 to 1.0.2.356 fails

##### ENVIRONMENT
- AWX version: 1.0.2.337
- AWX install method: docker on linux
- Ansible version: 2.4.2.0
- Operating System: Centos 7
- Web Browser: Chrome/Firefox on Ubuntu

##### STEPS TO REPRODUCE
Remove awx_task and awx_web container. Relaunch inventory installer with

[2018-01-15 17:13] MrMEEE opened #985 "Build under CentOS fails with: unknown option `first-parent'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Build fails with:

error: unknown option `first-parent'
usage: git describe [options] <committish>*
   or: git describe [options] --dirty

    --contains            find the tag that comes after the commit
    --debug               debug search strategy on stderr
    --all                 use any ref
    --tags

[2018-01-15 17:27] ryanpetrello commented on #815
We'll have to brainstorm on this a bit; it may be somewhat tricky.  Two ideas I had:

1.  Find out the value of `library` from `ansible.cfg` so we can compose a `:` delimited value ourselves using the "base" value.  Something like this might work:

[code]

...but `ansible-config` is only available from 2.4+.  Also, this would incur overhead of an additional `subprocess.call()` every time we run a

[2018-01-15 17:30] rooftopcellist commented on #983
@mabashian mentioned that we should hide the `Extra Vars` section in the UI on the Schedules creation/edit page if the `ask_variables_on_launch` flag is False.  I think that would help the UX.

[2018-01-15 18:02] ryanpetrello commented on #815
I think the best solution to this would be to tell users to _not_ use `ansible.cfg`, but instead to do:

[code]

...and that if awx sees a value set there, it won't overwrite it - we'll just append the awx-specific modules to the path so that they're used properly.  This is also more amenable to clustering - you don't have to go stick `ansible.cfg` files everywhere to make this work.

@gamuniz @we

[2018-01-15 18:05] gamuniz commented on #815
tried your solution before logging the ticket. it's hardcoded in tasks.py or someplace so it can't be appended.

[2018-01-15 18:12] ryanpetrello commented on #815
@gamuniz yep, I'll work on a PR to make it work.

[2018-01-15 20:23] worsco commented on #985
+1
Local build fails on CentOS 7.4.1708 (Core). A local build will also fail on RHEL 7.4
git --version returns 1.8.3.1

[2018-01-15 22:57] MrMEEE commented on #985
changing back commit #52e5316 works.... but this should be fixed in some way...

[2018-01-15 23:40] ewithak commented on #955
TL;DR: fixed by deleting some entries in the awx database.

I was having the same issue with the same environment. Anything that shared an inventory with the stuck workflow was pending and would not execute (inventory syncs, schedule jobs, workflows). Unfortunately I don't have a database backup to use. I tried upgrading to 1.0.2.372 but the migration doesn't complete and it looks like the awx_tas

[2018-01-16 00:29] one1zero1one commented on #369
For those ending up here without UI skills but in need for a quick cleanup run (with less than 30 days - e.g. 10),

[code]

[2018-01-16 00:42] ewithak commented on #955
I eventually ended up with the same issue. It looks like workflows with inventory syncs cause the problem. If I cleanup the same way before, delete the inventory sync from the workflow, re-run then the workflows complete. Inventory syncs started through the UI work. It almost looks like the workflow isn't scheduling the sync and then waiting for the non-existent job to complete.

[2018-01-16 01:22] Aethylred opened #989 "Installation without containerisation (no docker, no openshift, no kubernetes)"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - Installer

##### SUMMARY
We run a 'traditional' virtual infrastructure (KVM and VMware) and company policy is to not use containers in production environments. We require an installation method that installs Ansible AWX directly on a host as a web application that does not involve downloading or building a container image.

It is also pref

[2018-01-16 02:07] matburt commented on #989
Sorry, it's just not something we have planned at the moment.

[2018-01-16 02:07] #989 closed, assigned to nobody

[2018-01-16 02:09] matburt commented on #900
We have a plan for adding external libraries in the future. For the moment you'll need to add it to the image and build it on your own.

[2018-01-16 02:09] #900 closed, assigned to nobody

[2018-01-16 02:11] matburt commented on #902
This should fix that up for you: https://github.com/ansible/awx/pull/969

[2018-01-16 02:11] #902 closed, assigned to nobody

[2018-01-16 02:13] matburt commented on #897
This should be fixed here: https://github.com/ansible/awx/pull/979

[2018-01-16 02:13] #897 closed, assigned to nobody

[2018-01-16 02:13] matburt commented on #922
closing as confirmed working

[2018-01-16 02:13] #922 closed, assigned to nobody

[2018-01-16 02:15] matburt commented on #989
You might consider checking out Ansible Tower, which is the downstream of this project especially given this:

[2018-01-16 02:16] matburt commented on #929
This is the kind of thing that you should raise on the ansible core inventory script as we source our own azure script from there: https://github.com/ansible/ansible/blob/devel/contrib/inventory/azure_rm.py

[2018-01-16 02:16] #929 closed, assigned to nobody

[2018-01-16 02:16] Aethylred commented on #989
So, no manual installation process of the application will be given, only pre-packaged black box containers?

[2018-01-16 02:17] matburt commented on #925
This is a dupe of: https://github.com/ansible/awx/issues/443

[2018-01-16 02:17] #925 closed, assigned to nobody

[2018-01-16 02:23] matburt commented on #924
There is a bit more information here: http://docs.ansible.com/ansible/latest/intro_dynamic_inventory.html#example-aws-ec2-external-inventory-script

I'm down for any update to docs/  if you are.

[2018-01-16 02:26] ghjm commented on #989
@Aethylred That is correct.  The containers are the only installer for the AWX project.  Ansible Tower has an installer that works with traditional virtual infrastructure in the way you describe, but AWX does not.

[2018-01-16 02:30] matburt commented on #930
Currently organization admins are the only ones able to create job templates. Our plan is to extend that in the near future so that creation of job templates can be further delegated: https://github.com/ansible/awx/issues/166

[2018-01-16 02:30] #930 closed, assigned to nobody

[2018-01-16 02:53] jaredevantabor commented on #981
@jlmitch5 likely fallout from the expanded list feature merge? seems likely

[2018-01-16 02:57] ryanpetrello commented on #417
Pull request to `pexpect` that would _mostly_ resolve this issue:

https://github.com/pexpect/pexpect/pull/464

[2018-01-16 03:00] jlmitch5 commented on #981
yep!  here's the issue I'm working off of https://github.com/ansible/awx/issues/960

[2018-01-16 03:00] #981 closed, assigned to nobody

[2018-01-16 03:08] jaredevantabor commented on #968
Setting workflow node parameters via surveys is a feature we're currently working on, the discussion is happening in https://github.com/ansible/awx/issues/169. I'm going to close this ticket, and if 169 doesn't address your needs, feel free to ping me and I'll re-open this.

[2018-01-16 03:08] #968 closed, assigned to nobody

[2018-01-16 03:11] jaredevantabor commented on #975
@jlmitch5 is this fallout from the expanded list feature landing?

[2018-01-16 04:17] Aethylred commented on #989
@matburt @ghjm lacking a manual install process also makes it hard to audit/monitor if the containers are doing (and are _only_ doing) the 'things' required to make AWX run.

Thanks for your answers by the way, just because I don't like them, doesn't mean they're not valuable.

I have done the manual install for Tower with a trial licence, however that was too limited for proper evaluation. We wer

[2018-01-16 05:06] tidypete commented on #975
Has this issue been resolved yet? I am getting the same error when trying to delete templates

[2018-01-16 08:46] mkempster22 commented on #989
@Aethylred If you are looking for a standalone install just to build a case for tower you could look at this:
#882
https://github.com/MrMEEE/awx-build/blob/master/installguide

This isn't a supported way of building but if it is only for POC I don't see that being an issue

[2018-01-16 10:40] shortsteps commented on #955
Thanks @ewithak , I can confirm that your sql tips work very well.
I upgraded to 1.0.2.337 but the issue with the combo "workflow+survey (extra_vars)+project sync in first step" persists.
I cannot upgrade to following versions to test them due to #984

[2018-01-16 11:07] mkempster22 commented on #984
This issue is also apparent on other version upgrades #138
Quite a serious issue, Forced into either reverting to a backup and staying on that version indefinitely or wiping the postgres database and upgrading

[2018-01-16 11:11] savealive commented on #955
I was also able to unblock jobs by removal references to stuck job in the DB but unfortunately it caused DB integrity errors in AWX. It started generating err 500 on workflow template which stuck previously, I wasn't able to modify or delete that workflow template.
Edit:
`2018-01-16 10:55:16,155 ERROR    django.request Internal Server Error: /api/v2/workflow_job_templates/9/
Traceback (most recent

[2018-01-16 13:55] wwitzel3 commented on #429
@wenottingham If a user is a member of multiple teams and each of those teams is granting access to the resource, which team should be made owner of the resource?

[2018-01-16 14:21] ryanpetrello commented on #928
@mabashian @matburt this seems like a duplicate (or at least the same problem, but in a different place) of https://github.com/ansible/awx/issues/932, and the solution is probably part of a larger decision we need to come to with @wenottingham and @AlanCoding regarding the "merged credentials" pattern (which I discuss here: https://github.com/ansible/awx/issues/932#issuecomment-357106574)

The mor

[2018-01-16 14:43] ewithak commented on #955
Sorry to hear about your integrity issues, @savealive.

I have tried upgrading to 1.0.2.335, which still has the issue, and 1.0.2.372 which won't upgrade (migration stuck indefinitely, even after clearing the jobs). I will try some of the versions inbetween if I get a chance today.

[2018-01-16 15:13] ghjm commented on #989
@Aethylred We can surely get you a larger Tower evaluation license. Drop me an email (email address is on my profile) and I'll put you in touch with the right people.

[2018-01-16 16:00] gitevanx commented on #964
I am running into the same problem.
ENVIRONMENT
- AWX version: 1.0.2.327
- AWX install method: docker
- Ansible version: 2.4.2.0
- Operating System: CentOS Linux release 7.4.1708
- Web Browser: Chrome 63.0.3239.132 (Official Build) (64-bit)

[2018-01-16 16:08] chrismeyersfsu commented on #166
Chicken and the egg. New user tries to login. We don't know what org that user belongs to, so we don't know which ldap servers to hit. Also, duplicate users, trust/conflict in the ldap org/team mapping.

Hmm, with a single ldap server config and a per-org LDAP mapping this is more feasible. But even with a single list of ldap servers, will there then be a per-server per-org LDAP team/org mapping?

[2018-01-16 16:22] bcbrockway opened #991 "Integer key inside dictionary imported as string when inventory is sourced from a project"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
When you have a dictionary defined in your project which has keys that are integers, AWX imports them as strings when using a project as the inventory source.

##### ENVIRONMENT
* AWX version: 1.0.2-350-gae06cff
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: CentOS 7.4.1708
* Web Brows

[2018-01-16 16:25] xoxys commented on #223
@HalisCz @hassek
You can bypass this issue using a custom inventory script which parse the project inventory file. I use this one https://gist.github.com/sivel/3c0745243787b9899486 For me, this workaround fit my uses.

You can customize the script and use somethin like `ANSIBLE_INVENTORY = "/var/lib/awx/projects/YOUR_PROJECT/inventory` instead of `sys.argv[1]]`

[2018-01-16 17:27] ryanpetrello commented on #417
Marking this as `state:blocked` because _ideally_ we'd mostly solve this via an upstream change to pexpect (so we're waiting on feedback from its maintainers on this PR: https://github.com/pexpect/pexpect/pull/464)

[2018-01-16 20:30] mabashian opened #994 "Update list component empty list text"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Spoke with @trahman73 and the empty list text should read:

Please add items to this list.

Current implementation looks like:

<img width="1302" alt="screen shot 2018-01-16 at 3 18 59 pm" src="https://user-images.githubusercontent.com/9889020/35010804-218c5fe6-fad2-11e7-8050-4bba75edb2c1.png">

[2018-01-16 20:35] wallnerryan commented on #902
@matburt  I have the same issues as @luqmaanki running on stand alone docker host. Installed from `master` and `1.0.2.370` and have same issues. Docker host is behind ELB port 80

[2018-01-16 20:47] wenottingham commented on #429
Good question. I'd say pick the first one, but if that's not a stable sort, could say 'undefined'.

[2018-01-17 15:13] secretbatcave commented on #980
I'm also bumping into this as well. I'm using the playbook `geerlingguy.awx` to got through the versions to see if I can get to one that works. So far I have tried the devel branch(`ccb40c8`) and tags 1.02, 1.0.1 and 1.0.0 (although that required hacking the install scripts. )

[2018-01-17 16:18] cesarfn4 opened #996 "Run a specific task of a playbook from a job template"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

Add a field to a job template that would allow a user to start a playbook at the task specified. This would be analogous to the '--start-at-task' option from the ansible-playbook command.

##### EXPECTED RESULTS

Be able to select in a job template the task of the playbook that you want to launch without having to use

[2018-01-17 16:40] #983 closed, assigned to rooftopcellist

[2018-01-17 16:40] mabashian commented on #983
@rooftopcellist yea I've already made those changes locally to handle extra vars on the UI side 👍

[2018-01-17 16:41] mabashian commented on #975
This issue should be resolved by #990

[2018-01-17 16:41] #975 closed, assigned to mabashian

[2018-01-17 16:45] wenottingham commented on #996
This is not really practical from a UX standpoint as we don't have this information (at a minimum, it would be very prone to error.)

[2018-01-17 16:47] gamuniz opened #999 "Add globally available custom modules for clustered nodes."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Using custom modules becomes cumbersome when trying to use them across nodes in a cluster. There isn't currently a good solution for making sure that these modules are available on all clusters that don't involve manual intervention.

##### ENVIRONMENT
* AWX version: latest
* AWX install method: NA
* Ansible vers

[2018-01-17 16:58] wenottingham commented on #999
For AWX, this is best done by customizing the container image, or potentially the venv; this should not be done within the AWX service.

[2018-01-17 17:01] #999 closed, assigned to nobody

[2018-01-17 17:12] ryanpetrello commented on #980
This should be fixed in `devel` via https://github.com/ansible/awx/pull/998

[2018-01-17 17:12] #980 closed, assigned to ryanpetrello

[2018-01-17 19:27] ryanpetrello commented on #966
related: https://github.com/ansible/awx/pull/997

[2018-01-17 20:14] cchurch commented on #996
The API already supports `start_at_task` for job templates.

[2018-01-17 21:17] stanchan commented on #984
I'm running into a similar issue upgrading from 1.0.2.327 -> 1.0.2.372. It's trying to insert a duplicate record?

django.db.utils.IntegrityError: duplicate key value violates unique constraint "auth_user_username_key"
DETAIL:  Key (username)=(admin) already exists.

[2018-01-17 21:33] jopaik commented on #965
test notification work but the job completion or success doesn't work.  Reconfirming bug

[2018-01-17 21:44] jopaik opened #1002 "Two person confirmation to deploy job or workflow template"
- Feature Idea
##### COMPONENT NAME
 - API
 - UI
##### SUMMARY

With the latest  news about false missle launch alert in Hawaii and Japan.
They are deploying two man confirmation before alert can be sent out.
It would be a good idea to provide an option to have have two person confirmation as an option
before launching ansible jobs or workflow.

##### ENVIRONMENT
* AWX version: X.Y.Z

##### STEPS

[2018-01-17 21:57] wenottingham commented on #1002
this is essentially a form of #968, closing as duplicate.

[2018-01-17 21:57] #1002 closed, assigned to nobody

[2018-01-17 21:59] wenottingham commented on #883
This is changing how playbooks work at a rather fundamental level, and passing complex limits between playbooks that didn't exist before, in ways that may prevent playbooks from working properly. I don't see us doing this.

[2018-01-17 22:29] wallnerryan opened #1004 "allow use of `dns_servers: ` in ansible to set dns server for container"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY
We run AWX on our Foreman Host, which itself acts like a DNS server. By default the AWX WEB and TASK containers can get search domains but this does not allow setting the `--dns` server option

##### ENVIRONMENT
* AWX version: 1.0.2.370
* AWX install method: docker on linux
* Ansible version:  2.4.x
* Operating Sy

[2018-01-18 04:35] tidypete commented on #975
Still unable to delete any templates.

ERROR:

Call to /api/v2/unified_job_templates/24 failed. DELETE returned status: 404. The requested resource could not be found.

ENVIRONMENT

AWX version: 1.0.2.372
AWX install method: docker on linux
Ansible version: 2.4.2.0
Operating System: Server: Centos 7

[2018-01-18 05:41] behconsci commented on #623
any updates?

[2018-01-18 08:32] tianyuan848192 opened #1005 "No handler was ready to ERROR authenticate. 1 handlers were checked. ['HmacAuthV1Handler'] Check your credentials"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

My design is using ansible tower to manage file download to the slave node, and my original file is located is aws s3, so i trying to using ansible cloud mould. however, i trying to maintain my s3 authorization AK & SK in my Playbook, it is successed, however, if i try to use cloud credential which i maintain in the ansib

[2018-01-18 08:48] gripenk opened #1006 "support "delegate_to: localhost""
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.2
* AWX install method: docker on linux
* Ansible version:  X.Y.Z
* Operating System: CetnOS 6.9
* Web Browser:

##### ADDITIONAL INFORMATION

Hi, I already use ansible (CLI, host mode) to minimize my admin work. I have some workable vmware related playbook, and also some work

[2018-01-18 11:19] ketansp commented on #158
@steaksauce- this indeed solved the problem. I had an ansible script which was working fine on another centos machine. When I migrated this deploy process to newer ubuntu machine, it started giving me error `ERROR! no action detected in task`. Upgrading ansible installable from ansible repo solved this problem for me.

Thank you.

[2018-01-18 12:24] FloThinksPi commented on #688
Also seeing this in 1.0.2.0

[2018-01-18 12:51] Yoiro opened #1008 "Custom logo does not show properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When setting a custom logo from the UI, the freshly uploaded image does not show as header neither as favicon.

##### ENVIRONMENT
* AWX version: 1.0.2.337
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: RHEL 7.4 (AWX host), Windows 7 (Client)
* Web Browser: Google Chrome & Firefox

##

[2018-01-18 12:58] Yoiro opened #1009 "Mattermost notification not showing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When asking for AWX sending notifications to mattermost on template execution, it doesn't send anything to it.

##### ENVIRONMENT
* AWX version: 1.0.2.337
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: RHEL7.4 (host), Windows 7 (client)
* Web Browser: Google Chrome

##### STEPS TO RE

[2018-01-18 13:02] st0ne-dot-at commented on #888
I had a similar issue after upgrading to the latest awx version.
Before i did the update i've stopped the all containers while a job was running.
After the update was done, the job was hanging in running state. I was unable to cancel or delete the job via gui or api.

My solution was to delete the job via "awx-manage shell_plus".

    # docker exec -it awx_web bash
    # awx-manage shell_plus

[2018-01-18 13:31] fser opened #1010 "IRC notification does not work without password"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

One cannot add an IRC notification without providing a password to connect the server, whereas the [documentation](http://docs.ansible.com/ansible-tower/latest/html/userguide/notifications.html#irc) states that the field can be left blank. Using the API to create an IRC notification works with blank passwords though.

###

[2018-01-18 13:53] zenire commented on #888
Hmm, I can't get it to work @st0ne-dot-at

[code]

[code]

[2018-01-18 13:54] zenire commented on #888
@st0ne-dot-at
Found it,

`job.delete()` should be `jobs.delete()`

Thanks!

[2018-01-18 13:56] #933 closed, assigned to wwitzel3

[2018-01-18 13:56] #935 closed, assigned to wwitzel3

[2018-01-18 13:56] #965 closed, assigned to wwitzel3

[2018-01-18 13:57] mkempster22 commented on #1008
This isn't a bug. The option in the menu is only meant to change the login logo. Currently the only way to replace the header logo etc. is to go into awx and replace files described here: https://groups.google.com/forum/#!topic/awx-project/AGE_0pN4ViY

[2018-01-18 14:06] Yoiro commented on #1008
Oh ok so, my bad. Thanks for the information :).

[2018-01-18 14:06] #1008 closed, assigned to nobody

[2018-01-18 14:34] sparkacus commented on #888
@st0ne-dot-at thank you, thank you & thank you

[2018-01-18 14:56] wwitzel3 commented on #1009
Can you re-check? This may have been fixed by #1003

[2018-01-18 15:24] FloThinksPi commented on #688
Sooo , to help progress here, i analysed the code a bit and found no issues with

https://github.com/ansible/awx/search?utf8=%E2%9C%93&q=ssh_password_required&type=
![image](https://user-images.githubusercontent.com/5863788/35105376-d36aadcc-fc6b-11e7-8604-9b40092f1557.png)

So i suspect the issue to be related to this:

https://github.com/ansible/awx/blob/cd8a4b46698be41b20ab915c00f19b9ec804e235/

[2018-01-18 15:46] secretbatcave commented on #980
This appears to be still happening for me:
 I've spun up a fresh instance running from devel (fc5c5400cd1f91891ac2a125d24b005abf23e465) and I'm still seeing what appears to be the same error:

[code]
STEPS TO REPRODUCE
1. Create new awx instance with ansible playbook from devel
2. Configure so template can run
3. Check 'Allow Provisioning Callbacks'
4. Add Host Config Key
5. POST to job callback U

[2018-01-18 15:53] ryanpetrello commented on #980
@secretbatcave yep, looks like a _really_ similar issue (your traceback is _slightly_ different) - I'm looking into it.

[2018-01-18 15:58] wwitzel3 commented on #984
Try removing removing the postgres container and re-creating the database.

There is no upgrade path for awx/devel. If you are tracking the HEAD of awx you will never be able to reliably upgrade. Sometimes it might work, sometimes it might now. That is a result of how the devel branch is used.

See: https://groups.google.com/forum/#!topic/awx-project/is60aeikbVs

[2018-01-18 15:58] #984 closed, assigned to nobody

[2018-01-18 16:00] wwitzel3 commented on #985
I've confirmed I'm also seeing this. Taking a look.

[2018-01-18 16:06] wwitzel3 commented on #985
Yeah, looks like the git version needs to be >= 1.8.4

[2018-01-18 16:08] MrMEEE commented on #985
But that makes building on CentOS "impossible" .. Can't we change it to something that will be generic

[2018-01-18 16:28] FloThinksPi commented on #688
Related to - #932 ? @AlanCoding

[2018-01-18 16:37] wwitzel3 commented on #985
Should be fixed with the merging of #1012

[2018-01-18 17:22] chrismeyersfsu opened #1014 "User -> Permissions; Team entries do not link to the resource"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- UI

##### SUMMARY
User -> Permissions; Any Team permissions, when clicked, does nothing. All other permissions entries link to the respective resource.

##### ENVIRONMENT
* AWX version: Tower 3.2.2 and AWX devel

##### STEPS TO REPRODUCE

* Add a user
* Add a team, "Team Blue"
* Add a user to a Team; "Team Blue"
* Go to the Permissions tab of

[2018-01-18 17:56] #1010 closed, assigned to ryanpetrello

[2018-01-18 19:27] ryanpetrello commented on #980
@secretbatcave mind giving it another shot now (`devel`)?

[2018-01-18 20:01] worsco commented on #985
Instead of going with 3rd party "external" repos, has anyone considered utilizing Red Hat Software Collection Library?  CentOS has access to the RHSCL via https://www.softwarecollections.org/en/scls/rhscl/rh-git29/
RH SCL's git for 2.9 is rh-git29-2.3-4.el7.x86_64.rpm (unless RH SCL is a PREMIUM subscription)

[2018-01-18 20:09] cchurch commented on #1006
`delegate_to: localhost` should use `local` instead of `ssh` connection by default, unless you have explicitly added `localhost` to your inventory or set `ansible_connection` for all hosts.

See the comments on https://github.com/ansible/ansible/issues/31420 for some additional things to check and changes between Ansible 2.3 and 2.4 that affect `locahost`.

[2018-01-18 20:12] cchurch commented on #1005
Could you provide a sample playbook to show us what you're trying to do, specifically how you're passing AWS keys explicitly in the playbook?

[2018-01-18 20:16] wwitzel3 commented on #985
Good suggestion, I honestly didn't know about it until you mentioned it. It seems like a better choice for this.

[2018-01-18 20:49] secretbatcave commented on #980
Hmm, Looks like its still erroring out

using devel(073feb74cb824029a1fe0327c13204f2afebbaf1) for one callback request I get the following two exceptions:

[code]

[2018-01-18 20:52] ryanpetrello commented on #980
@secretbatcave are you _certain_ you have the latest code from `devel`?  The line number references in your traceback don't match what I see in `HEAD` of `devel`:

[code]

https://github.com/ansible/awx/blob/43f19cc94b9e6e90111ff153422da2b2a104f379/awx/api/views.py#L3327

[2018-01-18 20:52] worsco commented on #985
One last off topic note, postgresql 9.6 is also part of the RHSCL (for RPM based installs).

[2018-01-18 20:53] ryanpetrello commented on #980
It looks to me like you're running an older version of this code from a few commits back:

https://github.com/ansible/awx/blob/1e8c89f5367c5c4060170a07164600b498fa4159/awx/api/views.py#L3327

[2018-01-18 21:06] secretbatcave commented on #980
Ok, Let me redeploy.

[2018-01-18 21:17] secretbatcave commented on #980
Aha! you are correct, it is the old commit. However I am confused as I'm installing via the built in ansible playbook, using geerlingguy.awx role (it checks out devel, and is on a fresh instance each time). I'm going off line, but I'll have a look tomorrow and _try_ and have a wild stab as to where the problem _might_ be

[2018-01-18 21:47] newlandk opened #1016 "SAML Login Fails With Invalid Response"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
 - API

##### SUMMARY
When logging into AWX with SAML configured the final redirect appears to be to an incorrect port that is of the container and not the web interface.

##### ENVIRONMENT
* AWX version: 1.0.2.370
* AWX install method: official image
* Ansible version:  2.4.1
* Operating System: Centos 7.6
* Web Browser: Chrome/Safari

##

[2018-01-18 21:50] shailigum opened #1017 "AWX local build - could not find or access /dist/awx-.tar.gz"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
When trying to build docker image locally to include additional modules, this error is encountered:

`
TASK [image_build : Stage sdist] *************************************************************************************************************************************************************************************

[2018-01-18 22:55] joethie opened #1018 "Playbooks with provider do not work in AWX"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Playbooks written for ansible cli including a provider do not work in awx. States that ansible_pass is not defined.

##### ENVIRONMENT
* AWX version: Latest
* AWX install method: docker on linux
* Ansible version:  2.4.2
* Operating System: Windows
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Run playbook with followin

[2018-01-19 00:31] tianyuan848192 commented on #1005
scenario 1
when i trying to write the playbook like follow, the job running in tower is successed.
  - name: "download java jdk1.7"
    s3:
      bucket: ******************
      object: /MiddleWare/Language/Java/jdk-7u80-linux-x64.tar.gz
      dest: /tmp/jdk-7u80-linux-x64.tar.gz
      mode: get
      region: cn-north-1
      aws_access_key: *************************
      aws_secret_key: *******

[2018-01-19 02:34] newlandk commented on #1016
I'm not too familiar with social-core or Python, but I've done my best to understand it.
It looks like social-app-django may be using the container to determine port and protocol since it is the source of the SAML request
- [request_port](https://github.com/python-social-auth/social-app-django/blob/master/social_django/compat.py#L29)
- [request_is_secure](https://github.com/python-social-auth/soci

[2018-01-19 12:02] Xiol commented on #857
Sorry for commenting on a closed issue but I don't want to open a potential duplicate.

Would official support be forthcoming for @jmarci's solution at all? I have a need to dynamically write the playbooks that I'm executing as the roles may change depending on what needs to be configured. Having access to the projects directory from the host would massively simplify this, but I'd rather not have

[2018-01-19 13:14] wallnerryan opened #1019 "Failed to get: undefined GET returned: 401 Authentication credentials were not provided."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Clicking nearly any button brings up errors messages. I have deployed being Route 53 and AWS ELB.

##### ENVIRONMENT
* AWX version:  AWX 1.0.2.370
* AWX install method:  docker on linux
* Ansible version:  2.4.2.0
* Operating System: Centos 7.3
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Spin up AWX on Centos 7.3 on

[2018-01-19 13:20] wallnerryan commented on #1019
related to https://github.com/ansible/awx/issues/902

[2018-01-19 13:27] wallnerryan commented on #1019
On AWS, i seemed to fix this for now, will monitor this for a little. But enabling `load balancer generated cookie stickiness` for the classic ELB seems to mitigate this issue. Will close for now and re-open if I see this agian.

[2018-01-19 13:40] wallnerryan commented on #1019
woops, just kidding, still seeing this issue...

[2018-01-19 13:47] matburt commented on #1017
You need to run the build from a checked-out copy of the source tree.

[2018-01-19 13:47] #1017 closed, assigned to nobody

[2018-01-19 13:52] matburt commented on #952
requirements.yml *is* supported for downloading roles/etc: http://docs.ansible.com/ansible-tower/latest/html/userguide/projects.html#ansible-galaxy-support

Is this what you are thinking about?

[2018-01-19 13:56] #1006 closed, assigned to nobody

[2018-01-19 13:58] #1004 closed, assigned to nobody

[2018-01-19 14:01] matburt commented on #966
Submit a PR for improvements. This doesn't need an issue, closing.

[2018-01-19 14:01] #966 closed, assigned to nobody

[2018-01-19 14:06] bjrass commented on #952
No. I need to install/update some packages with pip.

[2018-01-19 14:10] matburt commented on #977
I guess I'm surprised by this because we are installing the 9.6  yum repo here: https://github.com/ansible/awx/blob/devel/installer/image_build/templates/Dockerfile.j2#L32

Are we just not sourcing the right utils from the right repo?

[2018-01-19 14:11] matburt commented on #985
Original issue fixed. Submit PR if there's something better.

[2018-01-19 14:11] #985 closed, assigned to wwitzel3

[2018-01-19 14:54] chrismeyersfsu commented on #557
@jainnikhil30 can you point to any standard LDAP schema that is being used?

https://access.redhat.com/documentation/en-US/Red_Hat_Directory_Server/8.1/html-single/Schema_Reference/index.html

The description seems like a modified Posix schema is being used. Also, this could just be a typo, you mention that on the ldap side `memberID is set as "testuser"`. `memberID` is different then the attribut

[2018-01-19 15:41] b3rgman opened #1020 "win_firewall is not disabling firewall"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

When running the win_firewall module.  status shows ok but firewall is still enabled on system.
##### ENVIRONMENT
* AWX version:
* AWX install method:docker
* Ansible version:  2.4.0.0
* Operating System: CentOS 7.4 (awx) server 2012 r2 (client)
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Added win_firewall module co

[2018-01-19 16:00] secretbatcave commented on #980
I have run from devel, and I can confirm that callbacks work, which is excellent.

Thanks for the fix!

[2018-01-19 16:24] chrismeyersfsu opened #1021 "The controller with the name 'TemplatesListController' is not registered."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Project Job Templates tab doesn't work/load.

##### ENVIRONMENT
* AWX version: devel
* Ansible version:  X.Y.Z
* Web Browser: chrome

##### STEPS TO REPRODUCE

* Create a project and a Job template that uses the project.
* Go to the project edit page and click the job templates tab

##### EXPECTED RESULTS

* for the job temp

[2018-01-19 16:26] chrismeyersfsu opened #1022 "Editing user switcharoo"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- UI

##### ENVIRONMENT
* AWX version: devel

##### SUMMARY
A short time after clicking to edit a user in the UI; the UI switches what user I am editing.

![r4fzgpcwsv](https://user-images.githubusercontent.com/722880/35160588-918fc388-fd0b-11e7-92b3-5d847b28ac9e.gif)

Might be related/duplicate #1025

[2018-01-19 16:34] chrismeyersfsu opened #1023 "Activity Stream linkage not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- UI

##### ENVIRONMENT
* AWX version: devel

##### STEPS TO REPRODUCE

* Create an inventory
* Edit the inventory so that an activity stream entry is created (change the name of the inv)
* Go to the activity stream for inventory
* Click on the blue link to the inventory

##### EXPECTED RESULTS

* To be taken to the inventory edit screen for t

[2018-01-19 16:35] jlmitch5 commented on #1021
dup #960

[2018-01-19 16:35] #1021 closed, assigned to nobody

[2018-01-19 17:06] chrismeyersfsu opened #1025 "New notification template auto fills"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: devel

##### STEPS TO REPRODUCE

* Create a new notification template

##### EXPECTED RESULTS

* For a blank notification template to appear

##### ACTUAL RESULTS

* pre-filled notification template with values from I have no idea.

##### ADDITIONAL INFORMATION

maybe related/duplicate #102

[2018-01-19 17:07] shanemcd opened #1026 "Messed up nav bar"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: awx: 1.0.2.69
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version: N/A
* Operating System: N/A
* Web Browser:

##### STEPS TO REPRODUCE

Pull devel. Look at the UI.
![image](https://user-images.githubusercontent.com/773186/35162372-1e9

[2018-01-19 17:20] chrismeyersfsu opened #1027 "Management job schedule list not refreshed after save"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- UI

##### SUMMARY

List view data not refreshed after editing schedule entry.

##### ENVIRONMENT
* AWX version: devel

##### STEPS TO REPRODUCE

* Create a management job schedule, give it a name and save
* Edit it, change the name and save.
* Note the new name/data is not updated in the list view

##### ADDITIONAL INFORMATION

![jrytyqpg8z]

[2018-01-19 17:40] wenottingham commented on #1020
This reads as an issue with ansible itself. Please file at https://github.com/ansible/ansible/

[2018-01-19 17:40] #1020 closed, assigned to nobody

[2018-01-19 17:55] themeatcrayon opened #1028 "Run job template against a selectable preset of hosts"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
Currently there is no way to run a job template against a subset of hosts in an inventory.
For instance, you can choose which hosts to run an add-hoc command against, But not a playbook.
OR you can run a job template against a predefined inventory - but not select only a portion of that inventories' hosts.
What we would

[2018-01-19 17:57] wenottingham commented on #1028
You can prompt for a limit to run the job with.

[2018-01-19 19:07] themeatcrayon commented on #1028
Hi Bill
Ok - I will give that a try

[2018-01-19 19:40] chrismeyersfsu opened #1030 "Inconsistent host enable/disable feature"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: devel

##### STEPS TO REPRODUCE

* Create a host manually
* Add the host to a smart inventory
* Note that you can toggle the active/inactive on the list view.
* Edit the host through the smart inventory

##### EXPECTED RESULTS

* to be able to enable/disable the host

##### ACTUAL RESULTS

[2018-01-19 21:01] ryanpetrello commented on #1018
@joethie can you share the full playbook you're running (or enough of one to provide a reproducible test case in awx)?

[2018-01-19 21:10] chrismeyersfsu opened #1032 "Ad-Hoc Commands credential list should just be machine creds"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

- UI

##### SUMMARY
To run an Ad-Hoc command you have to select a machine credential. The pop-up to select a Credential includes ALL the credentials with no indication as to which ones are machine credentials.

So why not list machine credentials only?

##### ENVIRONMENT
* AWX version: devel

##### STEPS TO REPRODUCE

* Create a few credentia

[2018-01-19 21:25] chrismeyersfsu opened #1033 "STDOUT JSON parse failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- UI

##### SUMMARY
Ad-Hoc command that results in Ansible barfing, results in Tower JSON parse error. I've created this issue to capture the edge case event data that the UI may need to handle.

##### ENVIRONMENT
* AWX version: devel

##### STEPS TO REPRODUCE

* Run an ad-hoc command, any ad-hoc command
* enter `">` for the arguments to the a

[2018-01-19 22:25] joethie commented on #1018
This is what a playbook would look like if run from the cli. I would like to find a way to make this format work in awx as well so the playbook could be run from either cli or awx
[code]

[2018-01-20 18:17] themeatcrayon commented on #1028
Hi - it seems there is a 1024 character limit on the "Limits" option?

[2018-01-20 19:48] rromanchuk opened #1034 "[help] How to delete thousands of pending jobs?"
I have a situation where something happened with my deploy and thousands of ec2 inventory jobs were scheduled, i'm not going to be able to manually cancel each one. Is there any solution to cancel all these pending jobs, or am i going to have to do this manually through postgres?

Just looking for advice, I will close shortly.

[2018-01-20 20:13] rromanchuk commented on #318
I have a job that is permanently stuck in running ec2 inventory update, with some  6000 pending other inventory updates as the scheduled jobs are now stuck.

[2018-01-20 22:12] ghjm commented on #1034
You could query the API for the job IDs and then use the API to cancel them all. This could be done in Python or any language that supports REST APIs, or even using bash and wget/curl.

[2018-01-20 22:16] rromanchuk commented on #1034
actually turns out it's something a little more nefarious, i think it's related to https://github.com/ansible/awx/issues/318

I'm actually not able to cancel a job that has been running forever. `tower-cli` says the job doesn't even exist. The backlog is from the scheduled ec2 inventory update job.

[2018-01-20 22:38] rromanchuk commented on #955
I'm not using workflows, but I have job templates that require inventory sync. I have a stuck inventory sync that i'm not able to cancel, i can't even find the job id via tower-cli. Does anyone know the proper way of removing this job without orphaning any data?

[2018-01-20 22:41] rromanchuk commented on #1034
you can close, most likely related  https://github.com/ansible/awx/issues/955

[2018-01-21 05:22] JAntF9905 commented on #377
@dwimsey I am running into the same issue on when deploying to Origin 3.6, can you explain the the alternate login method you used?

[2018-01-21 22:19] casdr commented on #960
I cannot find a way to add a Job template at the moment. Is there a workaround for this issue?

[2018-01-21 22:26] jlmitch5 commented on #960
Working on a fix for this one.

I’d reccommend building from one of the releases and not devel.

On Sun, Jan 21, 2018 at 5:19 PM Cas de Reuver <notifications@github.com>
wrote:

--
John Mitchell
Front End Developer
Ansible, Inc.
919-394-6667

[2018-01-22 02:30] jaredevantabor commented on #1026
This was fixed with https://github.com/ansible/awx/pull/1029. moving to QE

[2018-01-22 02:38] #1034 closed, assigned to nobody

[2018-01-22 03:02] jaredevantabor commented on #1028
@prinsb I would recommend checking out the docs on [job templates (specifically the section on limits)](http://docs.ansible.com/ansible-tower/2.2.0/html/userguide/job_templates.html) and [patterns](http://docs.ansible.com/ansible/latest/intro_patterns.html) for various strategies on how to group your hosts and define your host-limits. You could create a group and set the limit in the job template

[2018-01-22 03:02] #1028 closed, assigned to nobody

[2018-01-22 08:09] xoxys commented on #888
Same here, Job not been finished since 64 hours and cant't be cancelled from UI/API. WOrking method provided by @st0ne-dot-at. Any news on this issue? If a job stucks it blocks all other future jobs and makes the environment unusable. Can't understand priority:medium..

[2018-01-22 13:35] anlutro opened #1035 "Give job templates (and other models) a slug"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
When setting up job template callbacks, I'm tightly coupling the curl command with the primary key of the job template I want to run. This is annoying because ideally I'd want to re-create the AWX database from scratch without anything breaking.

It would be nice if I could optionally specify a "slug" for a job template,

[2018-01-22 13:52] ryanpetrello commented on #1035
@anlutro I think what you're looking for might already exist in awx :)

If you visit a Job Template in the API, look for its `named_url` property, which is based on the name you give it:

`https://awx.example.local/api/v2/job_templates/5/`

[code]

`curl --data "host_config_key=..." https://awx.example.local/api/v2/job_templates/Demo Job Template/callback/`

[2018-01-22 13:52] #1035 closed, assigned to nobody

[2018-01-22 14:06] ryanpetrello commented on #955
I'm able to reproduce this.  The simplest way to reproduce it is to create a workflow that has a survey with one question and run it.  The workflow must have an inventory sync in it.  This causes the following traceback:

[code]

...which kills the task scheduler.

Investigating...

[2018-01-22 15:40] ryanpetrello commented on #1018
When you run this playbook from the CLI, how are you _currently_ passing those values in?  awx doesn't pass SSH credentials as extra vars for `ansible_user` and `ansible_password`.  What you _probably_ want here is a "Network" credential:

https://docs.ansible.com/ansible-tower/latest/html/userguide/credentials.html#network

If you use one of these, the environment variables `ANSIBLE_NET_USERNAME`

[2018-01-22 15:40] #1018 closed, assigned to nobody

[2018-01-22 15:52] wenottingham commented on #1030
Aren't hosts supposed to be entirely read-only via smart inventory?

[2018-01-22 15:56] ryanpetrello commented on #955
Sorry this one took so long to nail down - it should now be fixed in `devel` via https://github.com/ansible/awx/commit/ac3f7d0fac886c8c7cac82ccb3c10661b1ad8366

[2018-01-22 15:56] #955 closed, assigned to ryanpetrello

[2018-01-22 16:04] voidspace commented on #351
Works great for me.

[2018-01-22 16:07] matburt commented on #1019
You'll need to add the settings from: https://github.com/ansible/awx/issues/902

To your AWX settings file that's been deployed in the docker container, in order to obey the X-Forwarded-For header.

[2018-01-22 16:07] #1019 closed, assigned to nobody

[2018-01-22 16:08] #996 closed, assigned to nobody

[2018-01-22 18:22] wallnerryan commented on #1019
@matburt not sure what you mean but 'settings file". I dont see anything that looks like `configmap.yml` in the docker deployment

[2018-01-22 19:03] anlutro commented on #1035
Ah, nice, thanks!

[2018-01-22 19:03] defrancesco commented on #608
Hi,

I am finding the table in the DB where all playbook changes and stdout are
stored, can you help me? Which is the table on PostGres where all plybook
stdout are stored?

Thanks
Giuseppe

2017-11-10 16:44 GMT+01:00 Giuseppe De Francesco <defrancescorm@gmail.com>:

[2018-01-22 19:40] krispayne commented on #482
I'm having problems with postgres:9.6 sitting on docker-entrypoint.sh but the logs do not say anything about permission denied. This is on a system that was stable a few days ago. i.e. I have not ran the installer.yml in quite some time, but I am on the latest release version.

[code]

[code]

[2018-01-22 21:00] krispayne commented on #796
This creeped up on me today on an install from January, using the release from December.

[2018-01-22 21:11] dfollereau commented on #138
I have the same issue with openshift origin 3.7.1 and ansible/latest (1.0)- symptom is web page constantly showing "AWX is Upgrading" and stays in this state forever. address: http://awx-web-svc-awx.192.168.99.100.nip.io/. I dont know which infos to give you to help me finding the issue

[2018-01-22 21:40] thealexauer commented on #138
If I recall correctly get the logs from awx-task/awx-celery. Log should be there

[2018-01-23 01:02] spac3-monkey opened #1038 "Failed to read /api. GET status: 502"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

After the default Docker install when accessing login page an [error](https://www.awesomescreenshot.com/image/3119432/32c83ae8bf78cd232633599654fde098) is thrown.

##### ENVIRONMENT
* AWX version: latest
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: Ubuntu
* Web Browser: Chro

[2018-01-23 09:08] shortsteps commented on #955
@ewithak did you get the chance to test again the upgrade to any of the latest tags?
This issue seems fixed and also #935, but I cannot upgrade from where I am without losing all my data.
I opened #984, but devel cannot help, we only have to be lucky :)

[2018-01-23 09:33] hemskgren opened #1039 "awx install old version"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

redeploy existing AWX 1.0.2.372 today with latest get version 1.0.2.72  with clean db.
##### ENVIRONMENT
* AWX version: 1.0.2.372
* AWX install method:  docker on centos7
* Ansible version:  2.4.2
* Operating System: centos7
* Web Browser: n/a

##### STEPS TO REPRODUCE

install AWX 1.0.2.372, delete axw_web and awx

[2018-01-23 10:01] Riccardo1976 opened #1040 "LDAP authentication settings not stored in database"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When setting ldap user/group search in the ldap authentication settings they are not stored in the postgres database (backend).

##### ENVIRONMENT
* AWX version: 1.0.2.70
* AWX install method: docker on linux,
* Ansible version:  2.4.2.0
* Operating System: RedHat
* Web Browser: Chrome (on windows)

##### STEPS TO REPRODU

[2018-01-23 14:36] kwaio commented on #985
It doesn't seem #1012 fixed the issue.
You change the git installed in the build image whereas the git used to compute awx_version is the local one.

I would just add the version requirement to the Install documentation.

[2018-01-23 14:45] ewithak commented on #955
I had two instances (home and work) running the same version, but neither would upgrade past 1.0.2.337. They both hung during the awx migration process, with awx-mange showmigrations showing these two tasks uncompleted:
[code]

[2018-01-23 15:03] shortsteps commented on #955
@ewithak the same for me. I needed that fix so in the end I installed latest version from scratch (1.0.2.72) and reconfigured everything. I confirm that this issue and #935 are fixed.

[2018-01-23 15:28] ewithak commented on #955
@shortsteps Every time I have to blow away AWX and restart (much less now that I moved to standalone postgresql) I realize that it's on me to start configuring AWX using tower-cli and ansible playbooks (if the modules ever catch up to the API) instead of doing it all through the gui. I swear, this time I'll really do it! ;)

[2018-01-23 15:45] savealive commented on #955
I have 100-150 job templates including pretty complex ones. Disappointing that I have to wipe my AWX instance to get bugs fixed.

[2018-01-23 16:13] ewithak commented on #955
Wow. That would suck to have to re-do. I have about 1/5 that and it's pretty tedious to rebuild. All jokes aside, I really am going to try to build the jobs out with scripting of some form so that I can not only re-build quicker, but also to make that part of the overall process. If it's not too late already, you could gather all of the surveys as json files before tearing down your system to aid

[2018-01-23 16:19] savealive commented on #955
Yeah, I’ve already collected setting like ldap config and the most critical jobs.
Guess infra-as-code it’s the only way to keep it alive across updates. Looking into tower-cli too. :)

[2018-01-23 16:20] shortsteps commented on #955
@savealive I agree.. but I understand that this could happen with devel branch and community software, and actually I only have ten templates at the moment.
I'll try to follow @ewithak tip! Please share if you find something useful!
About the json, do you mean something like export through API?

[2018-01-23 16:37] savealive commented on #955
@shortsteps yepp, some things possible to easily export via API.
For example:
/api/v2/settings/ldap/
or even
/api/v2/settings/all/
and then possible to put configs back via API on fresh AWX instance.

[2018-01-23 16:42] saez0pub opened #1042 "Unicode error in ansi job stdout"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
API call on job stdout results on error 500 when there is an unicode caracter

##### ENVIRONMENT
* AWX version: 1.0.2.372
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: Centos 7
* Web Browser: any

##### STEPS TO REPRODUCE

Create a playbook :
[code]
launch it from awx

Get the output

[2018-01-23 17:43] chrismeyersfsu commented on #1030
Smart inventory just points at Hosts. The pointed to host resource can still be modified at `api/v2/hosts/<id>`

Hosts created/sourced from a non-manually created inventory source (dyn inv) we went back and forth at length as to the expected behavior. @wwitzel3 can you chime in.

[2018-01-23 22:55] jakemcdermott commented on #1039
Hello, hemskgren.

By default, the awx installer will pull from the public docker repo using the 'latest' tag. This is expected behavior and not something we intend to change.

If you would like to use an earlier version, you'll need to either override the default `awx_*_image` variables when running the installer or build those images locally with the earlier version checked out.

If you have que

[2018-01-23 22:55] #1039 closed, assigned to nobody

[2018-01-23 22:56] jakemcdermott commented on #1026
resolved by: https://github.com/ansible/awx/pull/1029.

[2018-01-23 23:02] jakemcdermott commented on #952
Hello bjrass,

If you need an scm update to occur prior to a job template run, you can create a workflow job template with an scm/project update block that occurs before running the job template.

If you have any questions please reach out to our mailing list or stop by our irc channel (`#ansible-awx` on freenode)

[2018-01-23 23:02] #952 closed, assigned to nobody

[2018-01-23 23:55] jakemcdermott commented on #747
resolved by: https://github.com/ansible/awx/pull/976

[2018-01-23 23:55] #747 closed, assigned to jaredevantabor, jakemcdermott

[2018-01-24 03:49] ghost commented on #885
I'm encountering the same issue. It works using curl. I'm thinking it should be working in Tower as well.

[2018-01-24 05:14] newlandk commented on #1016
It turns out the issue faced was proxy related and I had to modify the settings.py configuration to allow the use of the X-Forwarded-Port. After this django provides the correct port to social-auth for the complete URL.

Good reference if you run into the same issue:
[Tower Proxy Documentation](http://docs.ansible.com/ansible-tower/latest/html/administration/proxy-support.html)

- the doc has deta

[2018-01-24 05:14] #1016 closed, assigned to nobody

[2018-01-24 07:38] hemskgren commented on #1039
The latest build/tag today look to be 1.0.2.73.
Still we think 1.0.2.372 is a higher number.

[2018-01-24 08:18] indistinctTalk commented on #223
@otdouglasm's workaround doesn't work for me but I suspect that's due to using Ansible's _[best practice](https://docs.ansible.com/ansible/latest/playbooks_best_practices.html#variables-and-vaults)_ of referring to vault encrypted variables from variables 🤦‍♂️.

What's the actual implementation with the `vault_password_file` method? I'm presuming that it means I'll have to locally bake the awx doc

[2018-01-24 08:39] savealive commented on #985
Agree with @kwaio, issue is not resolved. One on Centos/RHEL7 should  do the following steps to install newer git version:
yum install -y https://centos7.iuscommunity.org/ius-release.rpm
yum -y remove git
yum -y install git2u

It doesn't look like a good solution.

[2018-01-24 08:47] Riccardo1976 commented on #1040
As an update and work around, manually adding the settings in the postgres database seems to work.

[2018-01-24 09:01] savealive opened #1045 "Installed fails with git version installed from Centos7 base repo."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Installed needs git version newer than shipped with Centos/RHEL7.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: docker on linux
* Ansible version:  2.4.0.0
* Operating System: Centos 7.4

##### STEPS TO REPRODUCE
Git package from Centos/RHEL repository git-1.8.3.1-12.el7_4 doesn't support "describe

[2018-01-24 09:45] savealive opened #1046 "Database is not created on fresh install"
##### ISSUE TYPE

 - Bug Report
 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY

If I build distribution locally and start it in "local docker" mode it's unable to start due to database error.
In fact, database and user and not created so I have to create user and empty DB manually.

##### ENVIRONMENT
* AWX version: 1.0.2.73
* AWX install method: docker on linux
* Ansible versi

[2018-01-24 10:20] mkempster22 opened #1047 "cannot create directory ‘/var/lib/postgresql/data’: Permission denied"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
AWX web page shows internal server error, postgres container stuck restarting with the message:
mkdir: cannot create directory ‘/var/lib/postgresql/data’: Permission denied

Due to AWX upgrading not being functional I deleted my database and cleaned up /var/lib/docker then installed AWX from the beginning, The only pr

[2018-01-24 10:26] mkempster22 commented on #1047
Noticed #1046 afterwards, Actual database error experienced wasn't put in issue but I assume these are both from the same issue

[2018-01-24 10:36] mkempster22 commented on #1039
@hemskgren  1.02.73 is higher, its a decimal place therefore it is essentially .730 which is higher than .372

[2018-01-24 11:27] shortsteps commented on #949
I upgraded to 1.0.2.72 to fix other issues and this behaviour seems to be disappeared. Maybe it was something hidden and related to older versions.

[2018-01-24 11:27] #949 closed, assigned to nobody

[2018-01-24 14:04] wwitzel3 opened #1048 "Improve Slack Notification Error Handling"
##### ISSUE TYPE
 - Enhancement

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Currently we only surface errors when sending slack notification if a Python exception occurs.
We could do better if we read the event stream after our `rtm_send_message` call to see if there
were any error events waiting.

A common error is when the bot has not been invited to a channel that we are attempting to sen

[2018-01-24 14:14] wwitzel3 commented on #964
Some changes were merged in that fixed some issues with notifications. Can you please confirm if you are still seeing this error with the latest devel branch?

[2018-01-24 14:38] savealive commented on #1047
you must have file permissions issue. Try to create /opt/pgdocker manually.

[2018-01-24 14:43] mkempster22 commented on #1047
Unfortunately that's not the cause :( I had initially created that folder manually and it had been used by the previous install before I wiped it. The installation did actually add files into there successfully

Based upon another person submitting an identical issue with 30 mins of this one there might be some issue with the installer?

[2018-01-24 14:57] Riccardo1976 commented on #1040
So i'm about to close my own bug report. I would want to point out that this issue would not have been created if AWX presented me with an error or in some way the documentation would have pointed out that you cant use "LDAP REQUIRE GROUP" with "LDAP_USER_SEARCH" &| "LDAP_GROUP_SEARCH".

I was helped slightly by the presentation here https://www.ansible.com/resources/webinars-training/ldap-authent

[2018-01-24 14:57] #1040 closed, assigned to nobody

[2018-01-24 15:12] jakemcdermott commented on #1045
Hello savealive.

Based on the information in your bug report, I believe you are correct here.

Git, ansible, and other prerequisites for running the installer must already be in place before using the installer. The awx installer does not install these things for you. This is expected behavior and not something we're planning on changing at the moment.

The installation docs already list git as a

[2018-01-24 15:12] #1045 closed, assigned to nobody

[2018-01-24 16:10] jakemcdermott commented on #948
👋
This should be resolved by https://github.com/ansible/awx/pull/1044

[2018-01-24 16:10] #948 closed, assigned to jakemcdermott

[2018-01-24 17:06] cesarfn4 opened #1050 "Dynamic inventory variables fail with isolated nodes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

When we run a job template though the isolated node with the following variable on inventory level `ansible_connection: '{{ {"W": "winrm", "L": "ssh"}[(inventory_hostname[1] | upper)] | default("ssh") }}'`, Tower shows in the job output the following error (see job_250.txt).

##### ENVIRONMENT

* AWX version: 1.0.0
* Ans

[2018-01-24 17:20] cesarfn4 commented on #1050
I am sorry, this issue should not be here. Can be closed

[2018-01-24 17:20] #1050 closed, assigned to nobody

[2018-01-24 17:56] emailvenkatm opened #1051 "Custom Authentication and Authorization System"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
We have an internal Auth/Autz system which is being used by all our apps for authentication and authorization purpose.  This is kind of centralized system where we manage the user's permissions for a specific application. Our authorization stuff is exposed as a REST API. So wondering if we can integrate our access

[2018-01-24 18:09] jakemcdermott commented on #1051
Hey emailventkatm, thanks for reaching out.

There are no plans to add awx-specific pluggable auth at this time.

If you have questions, please stop by our irc channel (ansible-awx on freenode) or drop us a line on the awx project mailing list.

[2018-01-24 18:09] #1051 closed, assigned to nobody

[2018-01-24 19:15] newlandk commented on #119
@balpert89 If you're still having issues, take a look at my issue #1016. The SAML process is using [django's built-in method](https://docs.djangoproject.com/en/2.0/ref/request-response/#django.http.HttpRequest.get_port) to get port 8052 from the container. As you can see in the documentation that can be manipulated using a x-forwarded-port header with a proxy.

Arguably, there should always be SSL

[2018-01-24 19:54] jakemcdermott commented on #1038
I've seen this from time to time as well, although I have not identified a reliable reproducer.

[2018-01-24 20:02] jakemcdermott commented on #1038
Thanks for the bug report, spac3-monkey. I've seen this from time to time as well, although I have not identified a reliable, deterministic reproducer.

One thing I've noticed is that the `502` seems to occur once and is always the very first request if you're making several from an automation script or other tooling.

If you end up finding a reliable / repeatable sequence of steps to reproduce th

[2018-01-24 20:12] spac3-monkey commented on #1038
@jakemcdermott I'm getting the `502` every time I get to Login page. After closing the popup I try to get in using the default credentials but it just says `working...`
I've tried the installation a couple of times in an __aws EC2__ running __Ubuntu 16.04.3 LTS__ and same results.

[2018-01-24 20:17] cchurch commented on #1051
@emailvenkatm It would be possible to write a [custom Django authentication backend](https://docs.djangoproject.com/en/1.11/topics/auth/customizing/) and add it to `AUTHENTICATION_BACKENDS` in a Python settings file (similar to how the current LDAP and RADIUS backends work). That would only handle the authentication step. You'd be on your own to maintain that backend separately across AWX upgrades

[2018-01-24 23:54] jamesmarshall24 opened #1052 "RFE: Include Created_By Column on Jobs Tab"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
Include created_by username column into the UI "Jobs" tab next to the job the user launched for quick review.

[2018-01-25 11:17] aabuhasna-zz commented on #532
Hi,
I am facing the same issue while using version 2.4.2.0

[2018-01-25 12:43] wallnerryan commented on #1019
for others that are looking

in container: `/etc/tower/setting.py`
in build: `image_build/files/settings.py`

[2018-01-25 12:53] wallnerryan commented on #1019
@matburt unfortunately this doesnt resolve my issue, i get the same errors. Please re-open, or I can submit a new ticket. Still trying to debug whats going on.

[2018-01-25 14:37] gfichera opened #1053 "Boolean type for surveys"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
It would be great if in survey editor if we could choose a boolean formular.

##### ENVIRONMENT
* AWX version: 1.0.2.285
* AWX install method: docker on linux,
* Ansible version:  2.4.2.0
* Operating System: Linux
* Web Browser: chrome

##### STEPS TO REPRODUCE

In job_template > edit_survey > answer_type
adding a

[2018-01-25 14:45] itcrowdsource opened #1054 "Hosts import fails from inventory when "source from project" is being used"
##### ISSUE TYPE
SCM update fails from inventory update process

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
Configured a project to retrieve configurations from a GIT repository. The project is able to sync properly with the GIT repository.
After that an inventory has been configured to retrieve a list of hosts from the GIT repository. Within inventory the option "Source from

[2018-01-25 15:21] wenottingham commented on #1052
covered by https://github.com/ansible/awx/issues/279

[2018-01-25 15:21] #1052 closed, assigned to nobody

[2018-01-25 15:31] tdgroot opened #1056 "Missing rsync in the awx_task container"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY

Missing rsync in the awx_task container. I fixed it by running `yum install rsync -y` within the container, but the synchronize module should work out of the box in AWX.

Please let me know if this is intended behavior, or if I can make a PR regarding this issue.

##### ENVIRONMENT
* AWX version: quite recent (co

[2018-01-25 15:55] wenottingham commented on #1053
covered by https://github.com/ansible/awx/issues/553

[2018-01-25 15:55] #1053 closed, assigned to nobody

[2018-01-25 17:42] emailvenkatm opened #1057 "Build AWX from source and start awx_task & awx_web"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
I am trying build the docker image from the source. I have used the below commands to build and start the containers successfully for awx .

make docker-compose-build
make docker-compose

One difference I found while building the AWX like this it is only starting one container "tools_awx_1" where as

[2018-01-25 20:22] michelleperz opened #1060 "Named URLs for role assignment"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

It would be useful to be able to have Named URLs so that roles can be granted via automation more easily.  For example,

`/api/v2/teams/MyTeam++MyOrg/roles/Admin`

Where you could post an id to that role to assign someone as admin.

[2018-01-25 21:07] ryanpetrello commented on #1042
@saez0pub this should be resolved in `devel` of awx via https://github.com/ansible/awx/pull/1061

[2018-01-25 21:07] #1042 closed, assigned to ryanpetrello

[2018-01-25 22:46] dglinder opened #1062 "Testing external logging fails for udp syslog logging"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When I have configured Tower/AWX logging to use "udp/514" for syslog logging, logging works but the "test" button produces a red "toast" message on the GUI reporting "HTTPConnectionPool(host='syslog.net.west.com', port=514): Read timed out. (read timeout=5)"

##### ENVIRONMENT
* Tower version: 3.2.2
* Tower install method: s

[2018-01-25 22:47] dglinder commented on #1062
I opened ticket #02015569 with RedHat support on this, but it appears that logging via UDP is working, just the Test button is malfunctioning in this case.

[2018-01-25 23:28] ghost opened #1063 "Enhance AWX support for PostgreSQL replication scenarios"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Add support in AWX for a single write-only database instance and read from one of a number of replicated read-only database instances.

##### ENVIRONMENT
* AWX version: 1.0.1

##### STEPS TO REPRODUCE

This change would allow connection of a Tower instance to any one of a number of database instances distributed for perfo

[2018-01-25 23:41] wenottingham commented on #1063
This is not currently planned to be investigated for AWX at any point in the near future; the architecture for use in containerized AWX would likely be very different in any case.

[2018-01-25 23:41] #1063 closed, assigned to nobody

[2018-01-26 02:03] shanemcd commented on #1056
PR would be appreciated.

[2018-01-26 02:08] shanemcd commented on #1057
The make targets you have mentioned are for standing up the AWX development environment. The installer is intended to deploy AWX inside of OpenShift, Kubernetes, or a standalone Docker environment.

See [these](https://github.com/ansible/awx/blob/devel/installer/inventory#L5-L6) lines in the inventory file for the installer for how to build the images locally.

I believe this answers your question

[2018-01-26 02:08] #1057 closed, assigned to nobody

[2018-01-26 02:21] shanemcd commented on #1046
I am unable to recreate this. I've pulled the latest from `devel` and run the standalone Docker path:

[code]

I would recommend removing all containers and images and trying again. If you are still seeing the issue let us know.

[2018-01-26 02:24] shanemcd commented on #1047
You indeed have a permissions issue. My guess is that `/opt/pgdocker/` is owned by root and you are running docker as your personal user account.

Since this is not an issue with AWX, I am going to close this issue. For general help, please see the "WHERE CAN I FIND SUPPORT FOR AWX?" section [here](https://www.ansible.com/products/awx-project/faq)

[2018-01-26 02:24] #1047 closed, assigned to nobody

[2018-01-26 05:43] dillonwelch opened #1064 "Issue with migrate on existing Ansible Tower installation with awx-manage"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

`awx-manage migrate --noinput --fake-initial` gets stuck on `Applying main.0007_v320_data_migrations...`

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
not sure
* Ansible version:  X.Y.Z
* Operating System: Ubuntu
* Web Browser: CLI

[2018-01-26 06:39] emailvenkatm commented on #1057
@shanemcd Thanks for the reply. So once after I make the changes in inventory file, do I have to use ansible-playbook to build the image? are there any options that I can use docker-compose. Please help

[2018-01-26 08:13] ElliotGo commented on #897
@matburt Still getting the same error in AWX 1.0.2.79 docker environment, can you please take a look?

[2018-01-26 08:36] mkempster22 commented on #1047
I'm fairly sure this is an issue with AWX (I may be wrong?) due to multiple other people reporting it all on the same day which seems odd. I am running everything on that server as root currently and it had worked the exact same way the previous day, then the day I got the error there were other people reporting this issue.

#1046
&
https://groups.google.com/forum/#!topic/awx-project/JfIf0D6bBFs

[2018-01-26 09:52] mikeycmccarthy commented on #1060
Just to add a bit more background to this, we are provisioning Tower itself using Puppet (I know, I know!). The idea is that we use Puppet to bring the host up and install Tower, then create a very minimal set of resources - an org, an inventory, a machine cred, a job template, a project, then kick that playbook off for Tower to provision itself with all the job templates etc it needs, also using

[2018-01-26 12:28] sboldt1978 opened #1065 "Instalation: Activate postgres container fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Task "Activate postgres container" fails:
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Error pulling postgres - code: None message: Network timed out while trying to connect to https://index.docker.io/v1/repositories/library/postgres/images. You may want to check your internet connection or if you are beh

[2018-01-26 13:00] akcrisp commented on #467
we are seeing random logouts even when not idle awx version 1.0.1.173,  is it likely to be the same mtu docker setting ?

[2018-01-26 13:36] matburt commented on #1054
Can we see the actual stdout and/or detail from the job run?

[2018-01-26 13:37] savealive commented on #1046
@shanemcd Weird. I have definitely removed all containers and images on host. Will double check and report back.

[2018-01-26 13:40] matburt commented on #1062
I'm going to switch this to an enhancement request to support UDP based logging directly to syslog.

[2018-01-26 13:41] matburt commented on #1064
For Ansible Tower you should contact your Red Hat support rep.

[2018-01-26 13:41] #1064 closed, assigned to nobody

[2018-01-26 13:43] matburt commented on #1065
Seems like it's not an issue with our install playbook then? You'll need to sort out why your network won't allow you to access dockerhub behind the proxy or provide us with more details on how we can help you.

[2018-01-26 13:43] #1065 closed, assigned to nobody

[2018-01-26 13:48] #437 closed, assigned to nobody

[2018-01-26 13:51] matburt commented on #889
Sounds like a good work around. I don't see us tweaking those migrations any.

[2018-01-26 13:51] #889 closed, assigned to nobody

[2018-01-26 14:05] matburt commented on #857
possibly? We are always willing to accept pull requests that implement nice things.

[2018-01-26 14:10] matburt commented on #1009
let us know if this comes back

[2018-01-26 14:10] #1009 closed, assigned to nobody

[2018-01-26 14:13] matburt commented on #608
closing since there is a work around. Other questions not related to this issue should be addressed to IRC or mailing list.

[2018-01-26 14:13] #608 closed, assigned to nobody

[2018-01-26 14:13] #482 closed, assigned to nobody

[2018-01-26 14:56] itcrowdsource commented on #1054
The stdout file in the GUI is empty, even with debugging enabled. Also if I query the API I see no results (I am now querying failed job 69) :

Inventory Update Stdout
GET /api/v2/inventory_updates/69/stdout/
HTTP 200 OK
Allow: GET, HEAD, OPTIONS
Content-Type: text/plain ;utf-8
Vary: Accept
X-API-Node: awx
X-API-Time: 0.036s

I am able to query the inventory update process:

HTTP 200 OK
Allow: GET

[2018-01-26 15:02] sboldt1978 commented on #1065
Just for the records: This is a problem with docker under Centos7. It doesn't honor the http_proxy environment variable. This workaround does the trick: https://github.com/tmatilai/vagrant-proxyconf/issues/138#issuecomment-224016507

The referenced /etc/sysconfig/docker file of course has to contain the proxy server:
export http_proxy="http://myproxy.example.com:8080"
export https_proxy="https://m

[2018-01-26 17:37] simfarm commented on #961
Now that we removed scan jobs, a JT's organization is solely based on its inventory if I'm not mistaken.

[2018-01-26 17:37] wenottingham commented on #1062
Note that 'other' logging is HTTP, not syslog... UDP isn't even valid for that choice.

[2018-01-27 13:26] maccdoog commented on #1038
I've been getting the same error when trying to authenticate from the logon screen in GUI.

Think it may be related to supervisord failing, and a restart of the service resolved temporarily.

[2018-01-27 15:15] #1056 closed, assigned to nobody

[2018-01-27 15:40] dglinder commented on #1062
@matburt  - Thanks, our enterprise systems aren't (yet!) really beyond syslog logging at this time.

@wenottingham - I hadn't delved into the code yet to look (\#PythonNewbie), but it is interesting that there is some data showing up in our syslog recipients files.  And it explains why we get the occasional HTML formatted data showing up.

[2018-01-29 08:04] ITD27M01 opened #1072 "SCM Update options ignored for projects with requirements.yml"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

SCM Update options have ability to select what to do during update. But for projects with requirements.yml files these options ignored because ansible-galaxy runs with --force key.

https://github.com/ansible/awx/blob/1.0.2/awx/playbooks/project_update.yml#L142

<img width="200" alt="image" src="https://user-images

[2018-01-29 09:48] matusb opened #1073 "Login page contain External Authentication Providers that are not enabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Login page of AWX contain "SIGN IN WITH" (Azure AD, Google, Github, Github teams and Github org) after fresh installation.

##### ENVIRONMENT
* AWX version: 1.0.2 and 1.0.1
* AWX install method: docker on linux
* Ansible version:
* Operating System: Ubuntu 16.04
* Web Browser: Not relevant, but tested on Chrome and Firefox

[2018-01-29 14:41] shanemcd commented on #1046
@savealive Any updates?

[2018-01-29 15:48] wenottingham commented on #1072
This is mostly intentional... there's not a good way to ensure you're using the specified version otherwise.

[2018-01-29 17:37] jaredevantabor commented on #1073
@matusb Did you happen to notice if there were any console errors in the web console?

[2018-01-29 17:50] jaredevantabor commented on #1073
These SSO icons show up if the API responds with configurations from `/api/v2/auth/` which is why these are showing up on the UI. I checked my local dev environment and I too have SSO settings defined on this endpoint despite not setting them up intentionally. Pinging @matburt for further API triage.

[2018-01-29 19:34] matburt commented on #276
@mabashian does this take care of that for the UI?

https://github.com/ansible/ansible-tower/pull/4691

[2018-01-29 20:21] matburt commented on #276
Some of my notes from the Oct 30th meeting:

We decided that this wouldn't account for credentials at all. The api side will check what it has access to this can be:

* No project (this means that the project has been deleted)
* No inventory - and no prompt-for-inventory selected

Schedule can also check these properties

[2018-01-29 23:09] sjenning commented on #544
playbook filtering is done here
https://github.com/ansible/awx/blob/devel/awx/main/utils/ansible.py#L42-L57

[2018-01-29 23:53] sjenning commented on #985
Agreed, not resolved @matburt @wwitzel3 @shanemcd

Recap the trail of destruction: https://github.com/ansible/awx/pull/982 https://github.com/ansible/awx/pull/987 https://github.com/ansible/awx/pull/1049 https://github.com/ansible/awx/pull/1037

Another issue was opened and summarily closed, same as this one: https://github.com/ansible/awx/issues/1045

This *breaks* development of AWX on CentOS.

[2018-01-30 01:16] twcurrie opened #1077 "Execute playbooks on single hosts"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI
 - API

##### SUMMARY
It'd be great if the ui was able to execute playbooks on single hosts from inventories (both dynamic and static), not just ad hoc commands.

##### ENVIRONMENT
* AWX version: 1.23
* AWX install method: docker for mac
* Ansible version:  2.4.0
* Operating System: Mac OSX
* Web Browser: Chrome

[2018-01-30 01:42] matburt commented on #985
We totally did not add this flag for no reason.

We're tracking multiple release branches *and* Tower release branches. These follow a different versioning scheme (for good reason) than AWX itself. Since all of changes are coalescing into AWX as the upstream we need to be able to track our version number from the parent branch.

I'm open to other options, but we rely on this to generate version nu

[2018-01-30 02:48] shanemcd commented on #1077
Is this what you're looking for?

<img width="1792" alt="ansible awx demo job template 2018-01-29 21-47-49" src="https://user-images.githubusercontent.com/773186/35545650-21120e8c-053e-11e8-851f-d5288670c1c5.png">

[2018-01-30 03:30] twcurrie commented on #1077
I was looking to specify a specific host from the inventory on job launch, similar to the inventory drop-down.  Alternatively, I was looking to specify a playbook within the host level ad-hoc command input.

[2018-01-30 09:27] cesarfn4 opened #1079 "Split the database user into two users, one for installation,upgarde and restore and one for normal running of Tower"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

- Installer
- API

##### SUMMARY

The enhancement request is to separate the database "schema owner" required for installation, upgrades and restores, from the tower database "operational user" which is required for normal operations.
Eg.   The DB user which creates (and more importantly perhaps) can drop tables should not be the operational

[2018-01-30 09:41] gabrieltokyo commented on #1065
Hi @matburt @sboldt1978 , sorry for posting in a closed thread, I just want to understand the mechanism.

I was worried about some container tasks having (AWX_Web & AWX_Task) or not having (postgres, memcached, rabbitmq) proxy variables at "env" or at "buildargs".

So I tried this (A):
1) OS settings has proxy variables set,
2) inventory file at AWX installer has proxy variables set,
3) Docker has

[2018-01-30 10:02] emailvenkatm commented on #1057
@shanemcd can you please help?

[2018-01-30 10:43] sichumon opened #1081 "root"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### AD

[2018-01-30 10:47] ITD27M01 commented on #1072
@wenottingham I have confused by scm_full_checkout. I want to disable project checkout during job template run, but I cannot do it because full checkout runs every time for job runs.

I think this logic should be reverted:

https://github.com/ansible/awx/blob/1.0.2/awx/main/tasks.py#L1397

Checkout roles only if I want checkout full project but not checkout roles during job run.

The reason of dis

[2018-01-30 11:48] shajay12 opened #1082 "AWX Tower browser Error Failed to read /api. GET status: 500 A server error has occurred."
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

 - API
 - UI
 ##### SUMMARY

##### ENVIRONMENT
* AWX version: Latest
* AWX install method: Github
* Ansible version: 2.4.2.0
* CentOS Linux release 7.4.1708 (Core) :
* Chrome:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

Used this blog for installation of AWX Tower
http://khmel.org/?p=12

[2018-01-30 12:37] gabrieltokyo commented on #1065
Sorry, I see this has many implications at Container (AWX_Task) side environment variables.

So specially when "local_action" are used, you want to have a correct no_proxy, etc variables set.

You better do:
 1- OS settings has proxy variables set,
 2- inventory file at AWX installer has proxy variables set,
 3- Docker has proxy settings

Then (this should be another thread), since tasks are execu

[2018-01-30 14:07] ryanpetrello commented on #1082
@shajay12 the blog post you linked to is an unofficial method for installing awx - it may mostly work, but it's possible you'll run into quirks here and there.  Take a look at the installation documentation we have provided for a more reliable method:

https://github.com/ansible/awx/blob/devel/INSTALL.md

Do you have any additional information on the 500 error from your awx logs?  If you have a tr

[2018-01-30 14:18] ryanpetrello commented on #1079
Doing something like this is going to complicate the code for the installation process considerably.  The only time you need a "schema owner" is for installations and restores (for initial database creation) and upgrades (for schema migrations); for users that are concerned about this, we recommend that they remove schema-related privileges (specifically, `CREATEDB`) post-install and add them back

[2018-01-30 14:24] #1081 closed, assigned to nobody

[2018-01-30 14:26] ryanpetrello commented on #1077
@twcurrie take a look at @shanemcd's screenshot; the limit field (which is available for Job Template and Ad Hoc Command launches) allows you to specify a comma-delimited list of hosts you want to limit the run to.  It works just like the `--limit` argument to `ansible` and `ansible-playbook`.

Take a look at http://docs.ansible.com/ansible/latest/intro_patterns.html for more examples.

[2018-01-30 14:29] #1077 closed, assigned to nobody

[2018-01-30 14:31] ryanpetrello commented on #1062
awx _does_ currently support UDP for logging, but the "Test" button is broken if you select "UDP" as the protocol.  This is a bug and is being fixed in the near future.

[2018-01-30 15:30] shanemcd commented on #1057
@emailvenkatm Please see the documentation here: https://github.com/ansible/awx/blob/devel/INSTALL.md#start-the-build-2

For docker-compose support see: https://github.com/ansible/awx/blob/devel/installer/inventory#L48-L51

GitHub Issues are for reporting bugs. For getting general help please see "WHERE CAN I FIND SUPPORT FOR AWX?" on this page: https://www.ansible.com/products/awx-project/faq

[2018-01-30 16:41] shanemcd commented on #1079
We have no plans of doing this.

[2018-01-30 16:41] #1079 closed, assigned to nobody

[2018-01-30 16:43] matburt commented on #1082
You should seek support from the person who wrote the blog post, we only support our official method.

[2018-01-30 16:43] #1082 closed, assigned to nobody

[2018-01-30 16:45] matburt commented on #1062
I think our udp logging mechanism was intended for logstash-based systems ideally.

[2018-01-30 16:52] ryanpetrello commented on #1062
Yep.  When we implemented this initially, it was to support logstash over udp.  If we wanted to extend awx to provide a syslog formatter, that's an enhancement somebody would have to implement.

[2018-01-30 16:54] ryanpetrello opened #1083 "Add support for syslog for external logging"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
awx allows you to ship logs to external systems via UDP - this feature primarily exists to support logstash via UDP.  As such, UDP messages shipped from awx are in the JSON format that logstash expects.  It would be nice if you could ship syslog-formatted messages over UDP or TCP.

related: https://github.com/ansibl

[2018-01-30 16:57] ryanpetrello commented on #1038
This _might_ be a bug in the version of Django Rest Framework we're using.  This issue in particular looks very similar: https://github.com/encode/django-rest-framework/issues/3260  Searching the issue list for snippets of the traceback that @spac3-monkey provided points to a few other clues.

[2018-01-30 16:59] ryanpetrello commented on #967
Note that if this implemented _in_ awx, it's unlikely to scale well for large amounts of log output with multiple loggers.  I'd argue that this is the type of problem best solved in external log aggregation software like https://www.elastic.co/products/logstash (which awx already integrates with).

[2018-01-30 17:05] wenottingham commented on #1072
Note that the checkout is not guaranteed to exist before job launch, so we need to do the checkout during job runs.

The issue would be the race - that's what should be fixed, not the checkout. What's the race you're seeing?

[2018-01-30 18:28] ryanpetrello commented on #1062
@dglinder for clarity, I'm implementing a change (which will be in awx soon) that fixes _this_ issue for the "Test" button when UDP is in use (which is a bug).

The implementation, however, _will_ work slightly differently than the test for TCP-based endpoints.  We don't really have control over the destination host, so determining UDP "connectivity" with any real certainly likely isn't possible.

[2018-01-30 19:11] ragingpastry commented on #1083
It would be nice to do UDP and TCP

[2018-01-30 19:16] wenottingham opened #1084 "Feature idea: easier review of workflow output"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Right now, if you want to view the output of a workflow beyond success/failure at the job template level, the flow is:

1. Find workflow run in list
2. Click on it
3. Click on individual step
4. Read output
5. Hit back/up
6. Go to step 3
<loop until done>

This is a clunky workflow and requires many clicks to to progress

[2018-01-30 21:35] ryanpetrello commented on #1073
@matusb thanks for reporting!  This should be fixed in `devel` now.

[2018-01-30 21:35] #1073 closed, assigned to ryanpetrello

[2018-01-30 22:17] ryanpetrello commented on #276
@mabashian

Given that we're not factoring in credentials (because in 3.3, it's perfectly valid to have zero credentials) do we _need_ a new key in the API response to determine this validity?  For a JT, you could detect this stale state if either the `inventory` or `project` were `null` (both of which are present on the JT list _and_ detail `GET` request).

The same is true of Schedules - they ha

[2018-01-30 23:37] msilmser opened #1087 "RFE: Template Admins able to modify permissions"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
API

##### SUMMARY
Client would like all users in an Org to be able to see Teams and grant them permissions on Job Templates that they are admins on.

[2018-01-31 00:07] madeinoz67 opened #1088 "Jobs Failing on SCM update"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
when executing new or existing jobs from templates or workflows the first job fails at when updating the SCM

##### ENVIRONMENT
* AWX version:1.0.2.82
* AWX install method:  docker on linux
* Ansible version:  2.4.2
* Operating System: Server Side: Centos 7, Client side MacOS 10.13.2
* Web Browser: Safari 11.0.2, Chr

[2018-01-31 00:13] madeinoz67 commented on #1088
also added to this I've noticed the following.

From the Project Details | Job Templates  page the screen is not correctly rendering, i.e. placeholder labels are showing instead of the actual job templates associated with the project and jsconsole is reporting similar error.

![2018-01-31_08-09-51](https://user-images.githubusercontent.com/4160293/35598389-219db90c-065e-11e8-8bd3-66bebfb09780.png)

[2018-01-31 00:15] madeinoz67 commented on #1088
triggering the project to manually update results in success and the following job output:

[code]

[2018-01-31 00:55] dglinder commented on #1062
@ryanpetrello  For the most part, those of us who still use syslog over UDP understand that it's a best effort message and it'll be understandable that a full three-way handshake confirmation won't be possible.  However, having a true "this is a test message from AWX/Tower" showing up would help when working with the InfoSec team getting this setup.

[2018-01-31 01:41] wenottingham commented on #1087
This is not a UI issue, it's an API issue (and I think it's a bug).

[2018-01-31 06:21] 01000101 commented on #524
Hey, any updates on this? Thanks!

[2018-01-31 07:01] shajay12 commented on #1082
Hi Ryanpetrello, I will follow this https://github.com/ansible/awx/blob/devel/INSTALL.md link for again installing AWX tower.
Though on this link https://github.com/geerlingguy/ansible-vagrant-examples/issues/41 solution is provided but i do not understand what this guy is saying.

also let me know, in which folder can i get the AWX logs ?

and Matburt, i also want to work on the official version.

[2018-01-31 10:55] kwaio commented on #985
Well, Ansible belongs to red hat, Centos is open-source Red Hat and release 7 is the latest to date.
So I suppose Red Hat corp has all cards on hands to solve this.

[2018-01-31 10:56] Yoiro commented on #1009
Yes it works. Sorry for the delay, and thanks for your answer.

[2018-01-31 13:20] defrancesco commented on #608
Hi,

I am finding the table in the DB where all playbook changes and stdout are
stored, can you help me? Which is the table on PostGres where all plybook
stdout are stored? See below image

[image: Immagine incorporata 1]

Thanks
Giuseppe

Thanks
Giuseppe

2017-11-10 16:36 GMT+01:00 Alan Rominger <notifications@github.com>:

[2018-01-31 13:35] ryanpetrello commented on #1062
@dglinder perfect - that’s exactly what my upcoming patch will provide.

[2018-01-31 13:45] ryanpetrello commented on #608
@defrancesco if you're encountering a new problem, please file a new issue with details at: https://github.com/ansible/awx/issues/new

If you've got a more general question about awx and how it works, try the mailing list or our IRC room on freenode: https://github.com/ansible/awx#get-involved

[2018-01-31 13:54] ryanpetrello commented on #524
@ricalenil @01000101 have you given a recent version of awx a try?  Specifically, I'm pretty confident this change should resolve the issues many of you are encountering: https://github.com/ansible/awx/pull/551

[2018-01-31 13:55] ryanpetrello commented on #524
This issue is likely another symptom (duplicate) of the problems described in https://github.com/ansible/awx/issues/546 (which have been resolved).

[2018-01-31 18:56] mabashian opened #1091 "Template job status icons overlap with action buttons on home screen"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Template job status icons overlap with action buttons on home screen:

<img width="626" alt="screen shot 2018-01-31 at 1 53 45 pm" src="https://user-images.githubusercontent.com/9889020/35641486-522c7ee8-068e-11e8-93b5-28d738a4248c.png">

##### STEPS TO REPRODUCE

In order to reproduce you need to run enough jobs to max out

[2018-01-31 22:13] apple4ever commented on #796
@krispayne Did you fix it or is it still happening?

I'm running `1.0.2.327` and after a couple of days of working, I start getting this issue. I usually just restart the entire server and its fine.

[2018-01-31 22:37] krispayne commented on #796
@apple4ever no. We're still in testing for awx, so I didn't have anything but time put into it, so I've ended up starting over to see if maybe I missed some step. Maybe I ran the installer twice or something, I don't know. This is my first dip into docker, too.

Interestingly enough, after deleting everything and starting fresh, docker-entrypoint.sh still has trouble and postgres is constantly res

[2018-01-31 22:44] krispayne commented on #796
Looks like my issue is possibly related to https://github.com/ansible/awx/issues/677

[2018-02-01 01:08] madeinoz67 commented on #1088
Ok Ive found the problem and looks like this original error may be down to a role thats was being used that looks like has since been removed from ansible-galaxy and so was failing to find it when roles were being installed, so there needs to a way to report this error back to the output screen.  Currently all my failed jobs have a blank output screen in the SCM checkout portion.  I was only able

[2018-02-01 01:14] jakemcdermott commented on #1088
@madeinoz67
Thank you for the update - that explanation makes sense and would cause a project update to (expectedly) fail.

The other issues you mentioned are UI related and are currently being worked on.

I'm going to close this out for now.

[2018-02-01 01:14] #1088 closed, assigned to nobody

[2018-02-01 03:28] inawaz123 commented on #496
@dandandanp if i dont have service account and want to use it for all users what is the best way to do ?? can you reply.

[2018-02-01 03:47] gabrieltokyo opened #1098 "ansible_host variable modified to localhost if delegated locally at AWX (not at ansible command)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
ansible_host variable value has targeted host IP even delegating to localhost at Ansible command line execution BUT at AWX execution, ansible_host variable value changes to localhost.

##### ENVIRONMENT
* AWX version: 1.0.2.337
* AWX install method: docker on linux
* Ansible version:  2.4.2
* Operating System: CentOS 7.4 (f

[2018-02-01 05:53] gabrieltokyo commented on #1098
It may be related with how ansible_host variable gets a value when is defined or not defined.
And how AWX creates hosts file based on settings provided through the AWX GUI.

Trying not to set ansible_host, I have been able to simulate the AWX result with ansible command line execution:

New hosts file
[code]

When ansible_host variable is not set (initialized?) at the inventory, it seems to get at

[2018-02-01 09:23] gabrieltokyo commented on #1098
Closing the issue since it is not a bug.

SUMMARY:
1) If you use ansible_host variable in your playbooks definitions,
    BE SURE to define ansible_host variable in your AWX inventory.
2) If you don't set ansible_host variable,
    KNOW that will be set to task execution targeted host
      -> SO in case you delegate the task execution, ansible_host will recieve the delegated host data

Please, pr

[2018-02-01 09:23] #1098 closed, assigned to nobody

[2018-02-01 09:55] ghost commented on #1054
i can reproduce the same behavior with a git project containing only the following files :
- hosts
- roles/requirements.yml

and files filled with the following content:
[code]

[code]

the culprit element being requirements.yml apparently.
Whatever if requirements.yml contains valid content or remains empty.
As soon as requirements.yml is detected by inventory source update mechanism, the tasks r

[2018-02-01 11:58] cesarfn4 opened #1099 ""Prompt on launch" password in Custom credentials configuration"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Add the option "Prompt on launch" in the custom credentials configuration to ask the user for the password at launch time.

[2018-02-01 12:13] j-insan3 opened #1100 "Schedules: Invalid search term entered. GET returned: 500 A server error has occurred."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Just updated my awx environment using docker-compose. Since then it is showing this error when openeing the schema's page.

##### ENVIRONMENT
* AWX version: 1.0.2.92
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: CentOS 7 server, ubuntu 17.10 Desktop
* Web Browser: Firefox / Chro

[2018-02-01 13:46] ITD27M01 commented on #1072
So, what "Update on Launch" checkbox exactly mean ?

http://docs.ansible.com/ansible-tower/latest/html/userguide/projects.html#manage-playbooks-using-source-control

![image](https://user-images.githubusercontent.com/3703483/35681735-5edc9bc8-076f-11e8-8033-6ecdaa259fda.png)

My apologies for such example :)

[2018-02-01 14:01] itcrowdsource commented on #1054
@matburt I can confirm what @flabatut says. It is indeed related to the requirements.yml file.

[2018-02-01 14:01] twhiston opened #1101 "Slack Notifications not sent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - Notifications

##### SUMMARY
I cannot get slack notifications to send from AWX currently. After entering a correct slack configuration and trying the test notification AWX reports that it is successful, however no message arrives in slack. In the logs I can see the job being sent to the task worker, and the job, but it seems to only o

[2018-02-01 14:48] lucasreed commented on #223
@AlanCoding just clarifying that this is being blocked by https://github.com/ansible/ansible/issues/31141

Is that accurate?

[2018-02-01 15:13] wenottingham commented on #1072
Update on launch means "update the revision to be checked out before launching the job".

[2018-02-01 15:19] wenottingham commented on #1099
Prompt on launch for individual password entries are for things that are passed to ansible at run time (--ask-vault-pass, --ask-become-pass, etc); this then passes these prompted items via pexepect() matching on prompts from ansible-playbook itself.

None of the ways you can pass custom credentials fall into this pattern; this would involve making the 'prompt on launch' support do something entire

[2018-02-01 16:02] chrismeyersfsu commented on #309
Test, you can manually invoke a key rollover by using scripts in https://github.com/AzureAD/azure-activedirectory-powershell-tokenkey

[2018-02-01 16:46] wenottingham opened #1108 "Feature request: additional survey validation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI (?)

##### SUMMARY

Request for additional survey validation options:
[ ] alphanum on text types

##### ENVIRONMENT
* AWX version: any

##### ADDITIONAL INFORMATION

Fairly sure 'password strength' validation is not something we would consider for surveys.

[2018-02-01 16:46] wenottingham commented on #1108
May be dependent on https://github.com/ansible/awx/issues/20 for schema.

[2018-02-01 17:06] mabashian commented on #1100
I can confirm that I'm seeing this behavior as well

[2018-02-01 18:39] ryanpetrello commented on #198
Once we merge in the file-based fact cache implementation, something like this (or close to this) would make this work:

[code]

[2018-02-01 18:41] jakemcdermott opened #1110 "code input fields are showing refresh and styling issues"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
This was most likely introduced by recent dependency bumps on devel (jquery-ui, ui-router, etc.). Code input fields on all forms throughout the app are no longer showing the expected syntax highlighting. Many fields (particularly those on the configuration view) are no longer showing their placeholder values or actual value

[2018-02-01 19:45] ghost commented on #1054
surprisingly :

# pwd
/var/lib/awx/projects/_8__test
# awx-manage inventory_import   --inventory-name test --source hosts
2018-02-01 19:41:58,627 INFO     awx.main.commands.inventory_import Updating inventory 3: test
2018-02-01 19:41:59,039 INFO     awx.main.commands.inventory_import Reading Ansible inventory source: /var/lib/awx/projects/_8__test/hosts
2018-02-01 19:42:00,169 INFO     awx.main.co

[2018-02-01 20:48] matburt commented on #897
`1.0.2.79` is very old... update to a new version and try again.

[2018-02-01 22:07] shanemcd opened #1115 "Give migrations-pending page some love (aka Fix matburt's atrocity)"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
No summary needed

##### ENVIRONMENT
* AWX version: 1.0.2.98
* AWX install method: All
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: N/A

##### STEPS TO REPRODUCE

Drop your db, start migrations, view app

##### EXPECTED RESULTS

To see a beautiful page.

##### ACTUAL RESULTS
![35705984-21b

[2018-02-01 22:58] trahman73 commented on #1115
![image](https://user-images.githubusercontent.com/13351591/35707808-39e750d8-0779-11e8-8de3-abb61f525ae8.png)
![image](https://user-images.githubusercontent.com/13351591/35707846-6a6406ac-0779-11e8-87b7-53cc185f4900.png)
![image](https://user-images.githubusercontent.com/13351591/35707859-7823aefa-0779-11e8-88b0-50f8ce38b2ff.png)

[2018-02-02 09:41] ITD27M01 commented on #1072
@wenottingham Can you explain please what is "revision" ? Project is divided to main playbook and roles and main playbook checked out during job run only if  "Update on launch" but roles checked out every time regardless of the "Update on Launch" checkbox ?

[2018-02-02 10:36] sgykfjsm commented on #1019
I am getting the same issue in docker deployment. I added `REMOTE_HOST_HEADERS = ['HTTP_X_FORWARDED_FOR']` in /etc/tower/settings.py in container. But it doesn't work.

My versions:
- AWX 1.0.2.101
- Ansible 2.4.2.0

[2018-02-02 12:14] twhiston opened #1118 "Failing Job produces no output (how to debug this?)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
When running some playbooks they fail with no output

##### ENVIRONMENT
* AWX version:  1.0.2.75
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: RHEL

##### STEPS TO REPRODUCE

In this specific case I am trying to run the openshift byo config.yml playbook, but i'm not sure that this is

[2018-02-02 12:21] wallnerryan commented on #1019
hey @sgykfjsm i found that just adding it to `setting.py` inside the container doesnt work, must be the way django instantiate the setting. If you add it to  `image_build/files/settings.py` and build the image locally it seems to work.

[2018-02-02 13:02] twhiston commented on #1100
I am also seeing this with both schedules, the workflow editor and portal mode

[2018-02-02 13:07] twhiston opened #1119 "Job Templates API endpoint produces error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Visiting the API endpoint /api/v2/job_templates/ results in a server error

##### ENVIRONMENT
AWX version: 1.0.2.75
AWX install method: docker on linux
Ansible version: 2.4.2.0
Operating System: RHEL

##### STEPS TO REPRODUCE

Create a workflow and do not edit it, delete it, in my case it is not removed from the UI, then vi

[2018-02-02 15:24] FloThinksPi opened #1120 "Selfbuild AWX does not Start, daphne has Missing or incorrect metadata for Tower version"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
When Building AWX Tag 1.0.2 the Build produces a awx-0.0.0.tar.gz instead of one with a version number. So one have to do
[code]
and rerun the playbook.

The Container then start and are listening to port 80. Howerver the webserver only responds with a internal server error.

In the Logs there is the cause:
[code]
Whi

[2018-02-02 16:15] deepan10 commented on #735
Thank you @TheBigBear Post manually changed the awx_task docker container,  It worked!. Now able to connect winrm.

[2018-02-02 16:29] ghost opened #1122 "Intermittent logout/authentication failure"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Using the latest build, though this is not unique to this build. After some time, as little as a few seconds, or up to a few minutes, my login session will apparently end, and every page will simply error with "Failed to get config. GET returned status: 401 Authentication credentials were not provided."

Cookie values:
sessi

[2018-02-02 16:39] #349 closed, assigned to jladdjr, rmfitzpatrick

[2018-02-02 17:32] jakemcdermott commented on #1023
see: https://github.com/ansible/awx/pull/1105

[2018-02-02 17:32] #1023 closed, assigned to mabashian

[2018-02-02 17:38] anthonyd-cd commented on #860
hello, sorry kinda new to Ansible/AWX here but I have this issue. The file awx/ui/client/src/inventories-hosts/shared/ansible-facts/ansible-facts.controller.js appears to be updated correctly as I just installed this 7 days ago. When I go to facts it's still empty though on the jobs "playbooks" themselves I can see that it does gather facts like so:

 },
        "facter_hostname": "apache",

[2018-02-02 17:40] jakemcdermott commented on #860
~duplicate / likely~ possibly related to https://github.com/ansible/awx/issues/1110

[2018-02-02 17:58] anthonyd-cd opened #1125 "playbooks only work with IP but not with dns"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Hello, a bit new to Ansible/AWX but I managed to set it up with the documentation provided (docker-composer) and for the most part it works however playbooks only work if the host uses IP, if I use DNS record it fails. It's odd 'cause the actual server Ansible/AWX (inside Ubuntu command line) can ping those hosts just fine.

[2018-02-02 18:27] jakemcdermott commented on #1125
The installer inventory file is only for the installer to use - it is not used in any way by AWX or awx job templates. If you need to add a host by its DNS name you'll need to do so after AWX is installed via its REST API or GUI.

If you have any questions please drop us a line on the AWX mailing list or drop by our irc channel.

[2018-02-02 18:27] #1125 closed, assigned to nobody

[2018-02-02 18:41] anthonyd-cd commented on #1125
@jakemcdermott hey thanks for getting back to me so quickly, well I tried looking for help on the mailing list but this old ticket still has no solution so not sure how those google groups are being monitored: https://groups.google.com/forum/#!searchin/awx-project/DNS%7Csort:date/awx-project/AKGt9BJY36Y/HcklrMCsAQAJ

In the API I only see an Authentication Setting but that seems to be more with th

[2018-02-02 18:49] wenottingham opened #1126 "Feature idea: restrict personal credentials"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Any user currently can create a personal credential and then delegate access to it to other users.

The request is to disable this feature, such that only elevated users can create credentials.

##### ENVIRONMENT
* AWX version: any

##### ADDITIONAL INFORMATION

Alternatively, restrict the ability to delegate acces

[2018-02-02 19:52] wenottingham commented on #1072
How AWX handles SCM is with two different types of jobs:

- an 'Update' job - this is what is controlled by 'Update on Launch', and by clicking the 'update' button on the project. This retrieves the revision that is used by the job (and checks it out on the executing node as a side effect). This revision is translating the configuration of the project (branch name, tag name, etc.) to a specific so

[2018-02-02 20:16] grahamneville commented on #1072
Is it not possible to have the 'Checkout' job optional for each job run and let the user decide?
This would save some seconds between each job and speed things up where a checkout isn't needed each time. You select what playbook to run from a project at creation time so maybe this is possible?

We also have an issue that for each job run it goes off and performs a checkout job, if multiple differe

[2018-02-02 20:40] wenottingham commented on #1072
This amounts to a 'break my job template' checkbox for people to check, and we're not going to add that.

[2018-02-02 20:59] grahamneville commented on #1072
Why does the checkout/update need to happen on every job execution? When a project is added first time it downloads from source control, at that point all the source control files exist on the filesystem. A job template is then created and points to the playbooks on the filesystem. Should we not then be able to choose if we update of the project on each job run? If we choose not to then it just us

[2018-02-02 21:00] wenottingham commented on #1072
This is not guaranteed, as multiple nodes can exist in the AWX cluster, not all of which would be the node that checked the project out.

[2018-02-02 21:05] grahamneville commented on #1072
Could there be a process that tells the other nodes to also download the files from source control whenever a project is added or updated, then it's not up to the job template. This way we could have the option to checkout/update from source per job template?

[2018-02-02 21:06] wenottingham commented on #1072
Maybe. But that's a very different thing, and requires some significant changes to the underpinning of how projects work, how distributed tasks work, and what it means when nodes come and go from the cluster over time where updates happen.

[2018-02-02 21:31] grahamneville opened #1129 "Feature idea: run project checkouts on all nodes"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Have the option to select if a job template performs an SCM checkout/update. This can significantly reduce the amount of time it takes to run each job. It also means that jobs don't need to queue if they are using the same project.

##### ENVIRONMENT
* AWX version: X.Y.Z

##### STEPS TO REPRODUCE

When a project is

[2018-02-02 21:33] grahamneville commented on #1072
I've opened #1129 to request it as a feature.

[2018-02-02 21:45] wenottingham commented on #1129
As noted, we wouldn't make this an option, as it just gives a checkbox that can immediately break execution.

The better avenue, if we go down this road, is to consider fanout of project updates. Updating title accordingly.

[2018-02-02 21:46] wenottingham commented on #1129
Would involve:
- moving project checkout to a fanout task
- distributing it to nodes
- handling individual node failures
- what does this mean for newly provisioned nodes and/or nodes that were offline while updates happened

[2018-02-02 21:46] wenottingham commented on #1072
closing in favor of https://github.com/ansible/awx/issues/1129, as the behavior noted in this issue is currently intentional.

[2018-02-02 21:46] #1072 closed, assigned to nobody

[2018-02-03 05:08] ITD27M01 commented on #1072
@wenottingham

I'm sorry but I have more questions.

If I run 100 jobs, how many tasks to checkout is performed ? If there 100 tasks for checkout (with --force option) нow they compete with each other on the file system?

Here is an example of job fail:

[code]

[2018-02-04 17:55] #1091 closed, assigned to mabashian

[2018-02-05 02:55] ElliotGo opened #1131 "Raise "Field is not allowed for use in workflows" error when creating workflow schedule"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Raise "Field is not allowed for use in workflows" error when creating workflow schedule

##### ENVIRONMENT
* AWX version: 1.0.3.5
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: WIN10
* Web Browser: Chrome  63.0.3239.132（64 bits）

##### STEPS TO REPRODUCE

1. Create a workflow template,

[2018-02-05 03:36] sgykfjsm commented on #1019
@wallnerryan It works! Thank you very much.

[2018-02-05 05:58] dLobatog commented on #57
@ish-xyz Do you still get that error? If so, what's on /var/log/foreman/production.log? Particularly curious about the 500 server error

[2018-02-05 05:58] dLobatog commented on #57
@ish-xyz Do you still get that error? If so, what's on /var/log/foreman/production.log? Particularly curious about the 500 server error

[2018-02-05 09:03] axnk commented on #316
docker-py is required by [docker_image](http://docs.ansible.com/ansible/latest/docker_image_module.html) and [docker_container](http://docs.ansible.com/ansible/latest/docker_container_module.html#docker-container) modules.

[2018-02-05 09:09] twhiston commented on #1119
In the end the only way I could solve this was by deleting the db and starting again, which was a bit of a painful fix! Seems directly related to #1100

[2018-02-05 12:24] LenaHoinkis commented on #1120
This also happened with the 1.0.3 Branch.
I spottet a file called VERSION in the root of the project after the build, with no content in it.

[2018-02-05 12:26] FloThinksPi commented on #1120
This also happened with 1.0.3.
i found a file called VERSION in the root of the repo after building both versions. However the file was always empty.

[2018-02-05 13:57] ITD27M01 commented on #1072
Hi @wenottingham, do you have answer to this ?

[2018-02-05 15:03] FloThinksPi commented on #1120
Ok this is because RHEL7 uses Git 1.8.3. I compiled my own git 2.16.x and it works now.

[2018-02-05 15:03] wenottingham commented on #1072
Yes, the checkout happens on each run. However, the project updates should isolate from each other - there is a filesystem lock for this.

[2018-02-05 15:04] #1120 closed, assigned to nobody

[2018-02-05 17:31] FloThinksPi commented on #849
@terra-nova  i tried to update from 1.0.2.0 to 1.0.3.0, having the same symtoms. So there is no update path for the .0 versions either ?!?!

[2018-02-05 18:02] ITD27M01 commented on #1072
@wenottingham Is there any logic in AWX for "filesystem lock" or it is an operating system things?

[2018-02-05 18:37] orgito opened #1133 "No Upgrade path from 1.0.2.0 to 1.0.3.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.2.0
* AWX install method: docker on linux
* Ansible version:  2.4.0
* Operating System: CentOS 7.4
* Web Browser: Chrome 62

##### STEPS TO REPRODUCE

- Install AWX 1.0.1.X
- Upgrade to AWX 1.0.2.0
- Upgrade to AWX 1.0.3.0

##### EXPECTED RESULTS

Successful upgrade

##### ACTUAL

[2018-02-05 18:57] anlutro opened #1134 "UI improvements to make changes more easy to look for"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
I think that being able to look for changes in your infrastructure is a top priority when it comes to configuration management.

If something's behaving differently today compared to yesterday, it would be very interesting to quickly find out if any scheduled Ansible plays made changes in the last 12-24 hours, for example.

[2018-02-05 19:04] jakemcdermott commented on #1133
Hello orgito,

Thanks for reaching out. What you've described is expected behavior - When working off of the development branch, we frequently have to re-initialize our database and delete data to restore functionality after integrating new changes. There is no explicit expectation that one should be able to smoothly upgrade from one commit to the next on the devel branch.

This is not something t

[2018-02-05 19:04] #1133 closed, assigned to nobody

[2018-02-05 19:21] jakemcdermott commented on #1134
Most of these use cases are covered by the external logging feature and system tracking. Have a look the tower docs to see what these are all about.

If you have any questions please drop us a line on the awx mailing list or stop by the awx irc channel on freenode. Thanks!

[2018-02-05 19:21] #1134 closed, assigned to nobody

[2018-02-05 19:45] wenottingham commented on #1072
Logic is in AWX using OS primitives... see awx/main/tasks.py:acquire_lock/release_lock

[2018-02-05 23:17] greenscar opened #1136 "Creating workflow fails if added template has survey"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

400 error if I try to add a template with a survey to a workflow

I get a popup "ERROR!
Failed to add workflow node. POST returned status: 400"

In logs I see:
`awx_web_1    | 2018-02-05 23:09:34,992 WARNING  awx.api.generics status 400 received by user justme attempting to access /api/v2/workflow_job_templates/40/

[2018-02-06 04:20] ghost commented on #1122
After more testing, it seems the most prevalent on Chrome. I've still not seen it happen on Edge at all.

[2018-02-06 07:42] FloThinksPi commented on #138
@matburt i also got this when updating from 1.0.2.0 to 1.0.3.0. You said there is no (automatic) update path from 1.0.2 to anything later. Is there a manual way we can upgrade ? Database export import or something like that ?

[2018-02-06 10:21] FloThinksPi commented on #688
It seems , that his is not related as i merged #973  into 1.0.3.0 and still got no credential popup on lunch.

![image](https://user-images.githubusercontent.com/5863788/35854067-98f885a6-0b2f-11e8-8b1c-6f623331122f.png)

[2018-02-06 10:44] FloThinksPi commented on #688
As a workaround one can create a survey and replace the ssh_password value. In the credentials save a random pw.

![image](https://user-images.githubusercontent.com/5863788/35855298-11dafb2c-0b33-11e8-95b1-45c27a654eca.png)

[2018-02-06 11:06] jpc2350 opened #1137 "Passing Source Variables to Inventory Script not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When using an Inventory Source (tested on Custom/EC2 Inventory Scripts), providing a custom environment variable through the UI doesn't get used when the script runs. For example:
Using EC2 Inventory Source, set envrionment variables `iam_role: <role_arn>` doesn't actually get passed to the script.

##### ENVIRONMENT
* AW

[2018-02-06 15:03] perzizzle commented on #578
I would be very interested in this feature.

[2018-02-06 15:16] ryanpetrello commented on #1100
This should be resolved via 81bdbef785 on `devel`.

[2018-02-06 15:16] #1100 closed, assigned to nobody

[2018-02-06 16:14] tumluliu opened #1138 "How can I access the temp hosts/groups created by add_host in previous jobs within a workflow?"
##### ISSUE TYPE

 - Usage question

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.3
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Linux 3.10.0-693.2.2.el7.x86_64
* Web Browser: Google Chrome 63

##### STEPS TO REPRODUCE

First, import an existing Ansible project from git, where a couple of playbooks and an inventory

[2018-02-06 16:19] tumluliu commented on #1101
same problem here. can see the green sign, but got no message in slack.

[2018-02-06 16:21] wenottingham commented on #1138
This is intentional.

Either post it to the actual inventory API (see http://docs.ansible.com/ansible/latest/tower_host_module.html), or schedule an inventory sync.

[2018-02-06 16:21] #1138 closed, assigned to nobody

[2018-02-06 16:31] anthonyd-cd commented on #1125
can someone please re-open this? the ticket was not resolved

[2018-02-06 17:24] greenscar commented on #1136
Upgraded to 1.0.3
Issue resolved with 1.0.3

[2018-02-06 17:24] #1136 closed, assigned to nobody

[2018-02-06 19:38] ryanpetrello commented on #70
I've merged in support for generating a Swagger document:

https://github.com/ansible/awx/pull/1124

I'm working with @shanemcd next to get this built nightly and hosted at a public URL.

[2018-02-06 21:55] geerlingguy commented on #1120
Saw the same issue here: https://github.com/geerlingguy/awx-container/issues/28

[2018-02-07 06:30] one-t opened #1144 "Add requests-credssp to the Ansible Virtual Environment"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY
requests-credssp is not installed in the virtual environment by default. This should be added to support this method of Windows authentication without customizing the virtualenv.

##### ENVIRONMENT
* AWX version: 3.2.2
* Ansible version:  2.4.2

[2018-02-07 12:46] AlanCoding commented on #1129
Discussion overlaps with what's in #289

[2018-02-07 12:51] AlanCoding commented on #1126
Permissions to create various things:

 - project: admin of its organization
 - inventory: admin of its organization
 - JT: appropriate access to related project, inventory, etc.

You could go about this just saying that you can't create personal credentials unless you're a superuser, so you trivially have to be an organization admin.

Throwing it out there, as a part of #166 we could have some or

[2018-02-07 13:29] ryanpetrello commented on #1144
This could be accomplished via https://github.com/ansible/awx/issues/34
https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

[2018-02-07 13:58] akcrisp commented on #262
@matburt Can I check something,.... So we are seeing on awx 1.1.173 build, jobs queue.

I have tried some tests, so now need someone to help clarify behaviour...

Host running the awx container has 16 gig ram... So i don't think we are hitting a memory limitation.

We have 2 job templates, both were using the same project and we had update on launch ticked - so thought that was the problem. So I'v

[2018-02-07 14:42] akcrisp commented on #262
Update - I' am now using a completely different stash repo, so the issue is not because of scm or update on launch - seems to be a bug. awx version is 1.0.1.273 not 1.1.173

[2018-02-07 14:48] AlanCoding commented on #223
I don't think that issue, or any other open Ansible core issue, is blocking this.

The real issue is that the work done in #328 is obsolete because of what changed in #595. The inventory source doesn't need any model changes on itself, just needs to surface the related `credentials`, and make a host of supporting API validation changes, and reference the correct vault credential list inside of tas

[2018-02-07 14:51] akcrisp opened #1146 "Unable to run more than one job in awx UI at a time"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
2 users execute jobs in ui - one immediately starts to run, other goes to pending state until first job finishes.

The host holding the docker container has 16 gig of ram (circa 10 gig available).

The job templates are using entirely different git repos (update on launch is not ticked),

First job has 10 hosts in the inve

[2018-02-07 14:53] shajay12 opened #1147 "This document does not contains docker and docker compose, AWX tower installation steps"
##### ISSUE TYPE

  - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: docker on linux
* Ansible version:  X.Y.Z
* Operating System: Centos 7
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2018-02-07 14:56] akcrisp commented on #1146
Update: changing the forks from 200 to default - made by second job run in parrallel. So we need to determine why 200 caused an issue - according to the docs - it should be the limit of what is in the inventory anyway ie 4.
From below referenced  doc -
"The fork number is automatically limited to the number of possible hosts, so this is really a limit of how much network and CPU load you can handl

[2018-02-07 15:20] wenottingham commented on #223
That being said, the 'simple' implementation as described above would lead to vaulted secrets being stored in plaintext in the API after import, which may not be desirable.

[2018-02-07 15:29] geerlingguy opened #1148 "Missing libraries in awx_task container"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

After building the two Dockerfiles using the setup playbook, I ran into two issues with the task container when running it (it would never start the channels-worker):

* `ImportError: No module named coreapi.document` (fixed with `pip install coreapi` inside the container).
* `ImportError: No module named rest_fram

[2018-02-07 15:30] geerlingguy commented on #1148
Hmm, looking through the past two days' commits, there are a number of commits mentioning fixing new imported libraries relating to swagger... I'll sync locally with the latest devel commits and see if I can get things to work just be rebuilding again.

Still, I don't see anything anywhere in the repo that requires `coreapi`...

[2018-02-07 15:35] ryanpetrello commented on #1148
@geerlingguy mind giving this another shot on `devel`?  This came about due to a change I made yesterday, and I believe it's fixed now.

[2018-02-07 15:35] shanemcd commented on #1148
(I'm pushing new images to dockerhub now.)

[2018-02-07 15:36] geerlingguy commented on #1148
@ryanpetrello - Thanks, will rebuild and see what happens.

[2018-02-07 16:03] akcrisp commented on #1146
Ah so I think I've found the limit
node": "awx",
            "heartbeat": "2018-02-07T16:01:45.621128Z",
            "version": "1.0.1.273",
            "capacity": 1025

So is that 1025 being calculated by the above algorithms or is it hard coded ??

Setting forks 100 didn't work, but setting forks 50 did.

[2018-02-07 16:19] AlanCoding commented on #1119
I'm not able to reproduce this.

 - Create a new WFJT with no organization
 - Navigate down in the list, click the delete button

That does produce some strange UI behavior, for example:

![screen shot 2018-02-07 at 11 16 47 am](https://user-images.githubusercontent.com/1385596/35927414-a7229fee-0bf8-11e8-9e21-308fc8de0f6f.png)

But this is because I deleted the workflow while the edit page for th

[2018-02-07 16:29] geerlingguy commented on #1148
Rebuild worked great, new containers start up correctly. Feel free to close this is there are no new issues otherwise.

[2018-02-07 16:29] #1148 closed, assigned to nobody

[2018-02-07 16:29] geerlingguy commented on #1148
Heh, or I just closed it... so feel free to open it back up if needed.

[2018-02-07 16:36] AlanCoding commented on #991
For any questions like these, we have to be extremely careful that the behavior of AWX is congruent with Ansible core, itself. If Ansible core does something wrong, we may actually prefer to pass-through that wrong behavior and ask that Ansible core fixes the issue. I believe this is one of those cases.

Here is a test set inside of my inventory examples.

https://github.com/AlanCoding/Ansible-inv

[2018-02-07 16:46] AlanCoding commented on #283
@jakemcdermott is this clearly on the radar of someone on the UI team? I just hit a bit of fallout from the UI lagging the API in this case:

 - Create a JT with a survey with password-type questions
 - copy that JT in the UI

This results in a bad response code from the API and in the UI

That bug will only be fixed by the UI switching to this new API-driven deep copy mechanism.

[2018-02-07 16:47] ryanpetrello commented on #1144
If we did add this as a default, here are the dependencies:

https://github.com/jborean93/requests-credssp/blob/master/setup.py#L18

[2018-02-07 16:57] jakemcdermott commented on #283
@AlanCoding
Where did we land on RBAC / how clients can know whether or not they have the permission to copy something? This is still needed, I believe.

[2018-02-07 17:07] jakemcdermott commented on #283
I don't think the API implementation for copying has landed yet.. You might be encountering a different bug?

[2018-02-07 17:46] AlanCoding opened #1149 "Error message viewing job template without access to project"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Viewing a JT as a user without access to related project gives unnecessary messages

##### ENVIRONMENT
* AWX version: 1.0.2-561
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

 - Give a non-admin user admin role to a job template
 - Log in as that use

[2018-02-07 17:47] wenottingham commented on #1149
(also it's in all caps)

[2018-02-07 17:48] AlanCoding commented on #905
I have followed the steps to reproduce here, and I cannot reproduce this bug.

I would put my money on this being a duplicate of some other related issues about permission problems with editing job templates. Thank you for the report, please let me know if you still see the issue after pulling new code.

[2018-02-07 17:48] #905 closed, assigned to nobody

[2018-02-07 17:56] greenscar opened #1150 "Relaunch using the same parameters causes multiple executions"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When I rerun a failed Workflow job, it tries to execute each stage twice, in parallel
##### ENVIRONMENT
* AWX version: 1.0.3
* AWX install method: docker
* Ansible version:  2.4.1
* Operating System: Ubuntu
* Web Browser: Chrome, Opera, Safari

##### STEPS TO REPRODUCE

Create 2 jobs. Ensure one of them will fail.
Create

[2018-02-07 20:24] jakemcdermott commented on #1147
Documentation on docker and docker-compose based installation is found here: https://github.com/ansible/awx/blob/devel/INSTALL.md

[2018-02-07 20:24] #1147 closed, assigned to nobody

[2018-02-07 21:42] ninjaplatypus commented on #780
@mattthehearn Would you mind sharing your python script?  I find myself in a similar boat with AWX and spacewalk.

[2018-02-08 02:58] gripenk opened #1155 "fail to run vmware_guest_facts without uuid"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.3.0
* AWX install method: docker on linux
* Ansible version:  2.4.3.3 (bundled in docker image)
* Operating System: centos 6.9
* Web Browser: Chrome

##### STEPS TO REPRODUCE

running the following playbook

- hosts: all
  vars:
    uname: <MASKED>
  tasks:
    - name: getfact

[2018-02-08 05:24] ghost commented on #1122
I figured it out.

awx/awx/main/models/organization.py -> get_request_hash combines secret key and the first header it finds in the list settings.REMOTE_HOST_HEADERS, so if x-forwarded-for is not the first entry and you use a highly available load balancer, you will have this experience, even if x-forwarded-for is being sent and is in the list.

Probably not a bug, but could probably be a better u

[2018-02-08 09:04] akcrisp commented on #683
I just found the amount of logging filled our /var partition on our dev instance. I've just set it to INFO as per above. This really does need addressing.

[2018-02-08 09:26] akcrisp commented on #1146
Actually I guess this is a usage question - so having searched the forums I found someone else asking the same thing - and they pointed at the code -

https://github.com/ansible/awx/blob/devel/awx/main/utils/common.py#L636

So having run the commands by hand - on our host with 16 gig ram and 8 cpus - we get -

138

So the bit that now puzzles me is how the api is reporting 1025.

The other questio

[2018-02-08 11:51] RealLittleSherman opened #1156 "Error pulling image postgres:9.6"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Error when trying to install AWX

##### ENVIRONMENT
* AWX version: Latest (GIT Clone)
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

git clone https://github.com/ansible/awx.git
cd awx/installer
ansible-playbook -i inve

[2018-02-08 12:13] RealLittleSherman commented on #1156
Solved! The problem is executing this command "yum -y install git gettext ansible docker nodejs npm gcc-c++ bzip2 python-docker-py python-pip" without a "reboot" previous to disabling the SELinux

You can close the Issue

[2018-02-08 13:40] Yiadh opened #1158 "No more than 4 jobs running in the same time"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
No more than 4 jobs running in the same time

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.4.3
* Operating System: centos7
* Web Browser: chrome

#####
When I try to run many jobs from different jobs templates and targ

[2018-02-08 14:15] martynfielding commented on #829
Experiencing same issue here when attempting to edit an existing schedule.

[2018-02-08 15:16] chrismeyersfsu commented on #308
This isn't as simply as I had thought. But still doable. This makes sense. The crux of this is, what unique id do we use from the saml process to lookup the user on in ldap? How about an attribute from the saml response that is configurable.

[2018-02-08 15:19] ryanpetrello commented on #932
After speaking in depth with @AlanCoding and @wenottingham about this issue, it sounds like the answer to:

...is *no*, and that's okay.  Our plan is to implement launch-time credentials as they currently exist in `devel` (meaning, they always subscribe to the merging pattern; you can't remove a credential at launch time - you can only add to the list or replace like types).

[2018-02-08 15:19] #932 closed, assigned to ryanpetrello, AlanCoding

[2018-02-08 15:23] ryanpetrello commented on #928
Closing this, as it's a duplicate of https://github.com/ansible/awx/issues/932.

See this comment for more info: https://github.com/ansible/awx/issues/932#issuecomment-364144185

[2018-02-08 15:23] #928 closed, assigned to ryanpetrello, AlanCoding

[2018-02-08 15:24] ryanpetrello commented on #417
My change to pexpect has merged: https://github.com/pexpect/pexpect/pull/464

Once this makes it into a PyPI release, we can update our requirements and this ticket can be closed.

[2018-02-08 16:27] ryanpetrello commented on #73
The way we're doing this _now_ will not scale for awx + Tower; defining special variables in the Python source tree for _every_ API view is simply too much manual work for people to track and curate as the API expands.

I think the best way to power this would be in an automated fashion via our new Swagger doc generation:  https://github.com/ansible/awx/blob/devel/CONTRIBUTING.md#building-api-docu

[2018-02-08 16:49] joshuacherry commented on #138
@matburt

There seems to have been a few people in the past couple of days that have expressed problems with upgrading to 1.0.3 which suggests that some people (myself included) assumed there would be a path to upgrade between versions. I think it would be useful to clarify what AWX users can expect in terms of upgrading so this confusion can be avoided.

As mentioned in #1133 by @jakemcdermott

[2018-02-08 16:52] #1156 closed, assigned to nobody

[2018-02-08 16:57] jakemcdermott commented on #1155
@gripenk
This seems like an issue with the ansible module and not awx itself. You'll probably want to create an issue on the ansible repo for this.

[2018-02-08 16:57] #1155 closed, assigned to nobody

[2018-02-08 17:09] AlanCoding opened #1167 "Show "copy" in user_capabilities"
This is a followup issue for https://github.com/ansible/awx/pull/903

The UI will need "copy" inside of summary_fields -> `user_capabilities` for at least some resources. The resources that have the copy endpoint are the following.

 - job templates
 - projects
 - inventories
 - workflows
 - credentials
 - notification templates
 - inventory scripts

The copy capability is a non-trivial calculatio

[2018-02-08 17:18] jakemcdermott commented on #1167
👍

Although a user capability summary field would be best, checking for the presence or value of an existing field or combination of fields for some of these resources works just fine as well - we'd just need to determine what those fields and corresponding rules are.

[2018-02-08 17:46] Matz13 commented on #1054
Hi,
It turns out ansible-galaxy doesn't like empty requirements.yml

Doing some troubleshooting il the `Job_status` folder, in the failed jobs I found this:
[code]
So I added a small galaxy role, did an SCM update in AWX an the job now runs properly.

My 2 cents: an empty requirement file should not be blocking (even if it's useless) and even less be blocking _silently_.
If someone could add an ex

[2018-02-08 18:57] emailvenkatm opened #1168 "Connecting rabbitmq is failing intermittently"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
I am building the awx from the source code using make targets. When  I start the container using the image that I built from source getting the below error.   Can some please help me to find all the where the rabbitmq connection details are mentioned.  When I check the rabbitmq logs for the same user

[2018-02-08 19:13] ryanpetrello commented on #1131
@AlanCoding this seems in your wheelhouse.

[2018-02-08 19:15] ryanpetrello commented on #1131
@mabashian @jaredevantabor looks like https://github.com/ansible/awx/pull/979 maybe didn't resolve this?

[2018-02-08 19:18] Xiol opened #1169 "Allow direct job launches from v2 API (/api/v2/jobs/)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
f3f10df361884d5060796f467181eeaab0309c51 disabled direct job launching via the v2 API. I'd like to propose this commit is reverted.

Although I guess there was a good reason for disabling this, I've been unable to discover why.

##### ENVIRONMENT
* AWX version: devel (9bc0a0743b608add7cebfe7c976c666a2788a03d)
* AWX instal

[2018-02-08 19:37] ryanpetrello commented on #1054
Great detective work, @Matz13 and @flabatut; it looks like our project update needs to be more resilient to empty `requirements.txt` files here.

[2018-02-08 19:50] jaredevantabor commented on #1131
@ryanpetrello negative, the issue in #979 was that the user couldn't get to the schedules page. The issue in this ticket is that issuing a POST to `workflow_job_templates/N/schedules` gets rejected by the API

[2018-02-08 20:09] jaredevantabor commented on #1137
@jpc2350 to assist in triaging this, could you confirm that the source variables are getting included in the POST to the API? You can find this by opening your web console and going to the Network tab, and scrolling until you find a similar request like the one below:
![image](https://user-images.githubusercontent.com/7010629/35995602-c070aca4-0cc8-11e8-9fd2-511c139c940f.png)

![image](https://use

[2018-02-08 20:10] AlanCoding commented on #1131
That sounds like it might have been fixed by #1153, which landed a day ago, since the issue is 4 days old, this is plausible.

[2018-02-08 20:12] jaredevantabor commented on #1137
@ryanpetrello @matburt does anything in this traceback suggest to you what could have caused this error?

[2018-02-08 20:19] jaredevantabor opened #1172 "Require password to change password"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Standard UI/UX paradigm for non-admin accounts is to require the current password to change a password.

Tower just lets you change your password.

##### ADDITIONAL INFORMATION

ansible-tower issue #3384

[2018-02-08 20:24] jaredevantabor commented on #1150
Tagging API

[2018-02-08 20:27] AlanCoding opened #1173 "Copy related node `credentials` for WFJT copy"
This is a followup issue for #903

The RBAC and other deep-copying logic related to node credentials have not been updated to use the new `credentials` relationship. Workflow copying things related to this relationship need to be tested and updated.

[2018-02-08 20:53] ryanpetrello commented on #1131
@ElliotGo you mind giving `devel` of awx a shot and seeing if you're still encountering this?

[2018-02-08 20:54] matburt commented on #1168
The setup and configuration from the playbook (and the development containers) do a lot of work behind the scenes to make sure authentication is configured on the rabbitmq instance. It looks like you probably got this wrong. I'd recommend coming into the irc channel and chatting about it since you aren't using our installer.

[2018-02-08 20:54] #1168 closed, assigned to nobody

[2018-02-08 21:01] matburt commented on #1146
Tower capacity is a thing. For version 1.0.3.X I have updated the capacity algorithm a bit, see this documentation:  https://github.com/ansible/awx/blob/devel/docs/capacity.md

For 1.0.1 and current Tower releases you might be interested in a presentation I gave at Ansiblefest last year: https://www.youtube.com/watch?v=NiM4xNkauig  I go over capacity planning and algorithm in that video.

Also: ht

[2018-02-08 21:01] #1146 closed, assigned to nobody

[2018-02-08 21:02] matburt commented on #1158
You didn't say how much resources you have given to AWX.

AWX capacity is a thing. For AWX version 1.0.3.X I have updated the capacity algorithm a bit, see this documentation:  https://github.com/ansible/awx/blob/devel/docs/capacity.md

For 1.0.1 and current Tower releases you might be interested in a presentation I gave at Ansiblefest last year: https://www.youtube.com/watch?v=NiM4xNkauig  I go o

[2018-02-08 21:02] #1158 closed, assigned to nobody

[2018-02-08 21:10] ryanpetrello commented on #1054
This looks to me like something that could _arguably_ be a bug in `ansible-galaxy`'s behavior.  I'm hesitant to change this task in awx's project update playbook to be non-critical, because it's entirely possible that you _want_ your project updates to fail if - for example - your galaxy roles fail to fetch for legitimate reasons (like network unavailability).

If `ansible-galaxy` encounters an em

[2018-02-08 21:10] #1054 closed, assigned to ryanpetrello

[2018-02-08 21:12] worsco commented on #829
Try this crazy "magic": After you create that FIRST template, DELETE it.  Then, create another template, and try to edit that template.  I found if I did the the above, I could edit the second created template.  Yes, this is a bug.

[2018-02-08 21:20] jaredevantabor commented on #1129
@wenottingham @AlanCoding are you cool w/ closing this since there is discussion in 289?

[2018-02-08 21:23] wenottingham commented on #1129
Yeah, I just missed that. Closing as duplicate.

[2018-02-08 21:23] #1129 closed, assigned to nobody

[2018-02-08 21:25] jaredevantabor commented on #1122
Hi @Comradephate, thanks for your due diligence, I would recommend pinging @matburt in IRC to discuss any questions you might have about your solution. If you're ok with it, I'm going to close this issue since you figured it out. Ping me if you want me to reopen it. Thanks!

[2018-02-08 21:25] #1122 closed, assigned to nobody

[2018-02-08 21:26] nkal19 commented on #361
TASK [local_docker : Activate postgres container] ******************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import docker-py - No module named requests.exceptions. Try `pip install docker-py`"}
	to retry, use: --limit @/Users/nxxxx/Documents/archive/work/awx/installer/install.retry

PLAY RECAP ****************************************************************

[2018-02-08 21:29] nkal19 commented on #361
pip list | grep docker
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
docker-py (1.10.6)
docker-pycreds (0.2.1)
dockerpty (0.4.1)

still fails

[2018-02-08 21:30] wenottingham commented on #1144
Thinking about this... we could consider this as we do include support for kerberos WinRM and other protocols.

[2018-02-08 21:33] one-t commented on #1144
It is one of the authentication mechanisms we provide documentation for, I figured it would be appropriate. CredSSP can solve major pain points that come up when you use Kerberos in a multiple-domain environment, or if you have to do double-hop authentication.

[2018-02-08 21:34] jaredevantabor commented on #1101
I can confirm I'm seeing this in AWX (API returns "successful") but there is no slack notification. We'll definitely get this straightened out soon.  @matburt

[2018-02-09 00:23] nkal19 commented on #361
Sorry to add details in this closed issue page but may help someone

python path needed  to be changed as

#/opt/ansible/awx/installer/inventory

#localhost ansible_connection=local ansible_python_interpreter="/usr/bin/env python"
localhost ansible_connection=local ansible_python_interpreter="/usr/local/bin/python2.7"

and docker engine restarted.

build success

TASK [local_docker : Start the con

[2018-02-09 06:23] itcrowdsource commented on #1054
My requirements.yml isn't empty and the SCM update still fails if I trigger a SCM update when using "Source from a project" in the Inventory. The SCM update does works properly if I start the job from the project itself. @ryanpetrello  @Matz13 @matburt @flabatut

[2018-02-09 11:28] jpc2350 commented on #1137
Hi @jaredevantabor,

So I can see them getting posted to the API (as below) when saving:

![screen shot 2018-02-09 at 11 14 45 2](https://user-images.githubusercontent.com/23191993/36025418-defd3ad0-0d8a-11e8-948e-4d2313782be2.png)
![screen shot 2018-02-09 at 11 15 01 2](https://user-images.githubusercontent.com/23191993/36025562-654d80cc-0d8b-11e8-98c1-f3cf4dd68819.png)

And when trying to run in

[2018-02-09 11:38] jpc2350 commented on #1137
![screen shot 2018-02-09 at 11 37 20](https://user-images.githubusercontent.com/23191993/36026145-b4ce942c-0d8d-11e8-903f-a2800b517dd5.png)

[2018-02-09 12:36] twhiston opened #1178 "awx.main.tasks Encountered error on initial log configuration"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
I'm having a lot of trouble getting jobs to run consistently. Often they will just hang forever, there doesn't seem to be a specific task that causes this, and it happens randomly, though the bigger the playbook the more likely it seems to happen. When checking the worker container logs I see the following

[code]
This seem

[2018-02-09 14:07] kvaps opened #1179 "Feature: Provide list of hosts for limit option"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
When using "Limit" option, we need to query playbook and inventory file for provide list of hosts (or groups) selection for execution.
Most actual when using  "Prompt on launch" option.

##### ENVIRONMENT
* AWX version: 1.0.3.29
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Ar

[2018-02-09 14:15] kvaps opened #1180 "Can not select inventory directory for "Sourced from a Project" inventory."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Can not select inventory directory for "Sourced from a Project" inventory.

##### ENVIRONMENT
* AWX version: 1.0.3.29
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Archlinux
* Web Browser: Firefox 58.0

##### STEPS TO REPRODUCE

- Create project with directory where you put all invento

[2018-02-09 14:21] Kaskouilles commented on #1118
hello i have same issue, the playbook works in command line but launched from awx it's failed with no output.

[2018-02-09 14:27] kvaps opened #1182 "Feature: Provide list of tags for playbook"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
We need to query playbook for provide list of tags selection for execution.
Most actual when using  "Prompt on launch" option.

##### ENVIRONMENT
* AWX version: 1.0.3.29
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Archlinux
* Web Browser: Firefox 58.0

##### ADDITIONAL INFOR

[2018-02-09 15:12] wenottingham commented on #1182
This would have to be done at SCM update time by running ansible-playbook on everything that looks to be a playbook, parsing the output, and then cross-referencing into the job templates and updating this information in the template.

It's unlikely we'd look at this in the near future, but if someone has a sample implementation it could be reviewed.

[2018-02-09 15:19] kvaps commented on #1182
Wait, why not use `ansible-playbook --list-tags` feature?

[2018-02-09 15:22] wenottingham commented on #1182
That's what you would use... but you can't do that when you open the launch or JT configuration screen because there's no guarantee that anything's checked out at that time.

[2018-02-09 15:22] kvaps commented on #1179
This can be achieved with using `ansible-playbook --list-hosts` feature.

[2018-02-09 15:26] wenottingham commented on #1179
This data is actually already in the database under the related inventory for the job template. (It's obviously not going to be 100% correct and up to date for an update-on-launch inventory, but it can be used for hints).

[2018-02-09 15:27] kvaps commented on #1182
@wenottingham, it's true but main reason for provide selection when run template (eg
"Prompt on launch" option)
Another way is collect this information once when template update and cache it somewhere for not execute it any time.

[2018-02-09 15:32] kvaps commented on #1179
@wenottingham,
My idea is save only patterns from output of this command, but not hosts, because inventory can be upgraded in any time.
But when template is execute, we can find any hosts that match this patterns for provide list for choose.

[2018-02-09 16:08] Matz13 commented on #1054
@itcrowdsource sorry to hear your issue is not solved. I can suggest you to go directly where your task handler stores the job_status files. This is where I found the answer to my issue.
If your run awx with docker, you can find them in the awx_tasks container in `job_status/<jobid+1>_<hash>.out`

@flabatut @matburt @ryanpetrello : I just opened an issue in Ansible git: https://github.com/ansible/

[2018-02-09 17:09] mneumarkidg opened #1188 "Issues with celery work pidbox and connection reset by peer for jobs over 2 minutes run time"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
UI shows job failed status even when worker in background is still running in background. Gives users false status.

##### ENVIRONMENT
See Google Posting for more: https://groups.google.com/forum/#!topic/awx-project/fjKjQa78f_A

##### STEPS TO REPRODUCE

Running a job that takes > than 5 minutes to execute

##### EXPECTED RE

[2018-02-09 18:28] jaredevantabor commented on #1180
@kvaps could you pass along the file names and directory paths that you're expecting/using for your inventory files? If you're able, could you include an example project that reproduces this issue?

[2018-02-09 18:35] ghost opened #1191 "Add filtering to oVirt/RHEV inventory import to allow selection of inventory host IP"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Currently, the inventory import script for oVirt/RHEV always select the IP address of the first network interface as the inventory host ip.  This feature would add filtering to allow the ip address of an alternative interface to be used instead.

##### ENVIRONMENT
* AWX version: 1.0.1

##### STEPS TO REPRODUCE

Import an

[2018-02-09 18:39] wenottingham commented on #1191
Not investigating this until such support exists upstream (and may way for inventory plugin work)

[2018-02-09 18:42] greg-hellings opened #1192 "Dynamic inventory manipulation/add_host tasks do not behave properly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Adding a host during playbook run will not associate that host with the run's variables.

##### ENVIRONMENT
* AWX version: 1.0.3 (also observed in Ansible Tower versions)
* AWX install method: development source docker deployment
* Ansible version:  2.4.2.0
* Operating System: Linux
* Web Browser: n/a

##### STEPS TO REPRODUCE

1. Create a new project,

[2018-02-09 18:44] jaredevantabor commented on #1178
@twhiston I think we would need more detailed information about what specifically causes the error you're seeing to properly debug this issue you're seeing. It might be easier to get real-time assistance by pinging the IRC channel.

[2018-02-09 18:49] greg-hellings commented on #1192
In order to assure that this is not purely because the group being created is new, I've added inventory/partial, which includes a host already in the "testgroup" group, and executed it against playbooks/minimal_add_host.yml. Output from an AWX run properly catches variables for the "bygroup_static" host, but not for the dynamically added "bygroup" host.

[code]

[2018-02-09 20:53] kvaps commented on #1180
@jaredevantabor sure, example use case:

This is my project directory tree:
[code]

My ansible configured to use inventories directory (`ansible.cfg`):
[code]

I have few chassis, and many blade-servers inside each one.
Inside `inventories/core` file I write something like:
[code]
Then, I have playbook that connecting to the chassis console and collecting data about each blade-server:
[code]

All

[2018-02-09 21:21] balu7771 opened #1195 "500 Error When accessing the Dashboard with a new postgres DB."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: docker on linux , deployed as image in kubernetes.
* Ansible version:  2.4.1.0
* Operating System:
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Installed Postgres DB as a docker image on one of the linux nodes. User as awx with no password. Then, deployed AW

[2018-02-09 21:44] balu7771 commented on #1195
This actually got resolved after increasing the cpu allotted to the image. This can be closed.
By any chance, if you have the recommended Cpu & memory (requests/limits) to be set in the yaml files mentioned here: https://github.com/ansible/awx/blob/devel/installer/kubernetes/templates/deployment.yml.j2
That would help a lot instead of doing trial errors as we get kubernetes resources Quota on need

[2018-02-09 22:58] #1195 closed, assigned to nobody

[2018-02-10 01:10] imriss opened #1197 "Error with pip-docker (3.0.1): "Error connecting: load_config() got an unexpected keyword argument 'config_dict'""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

The installer fails if the target machine has `pip-docker` `3.0.1`. It successes when `pip-docker` is downgraded to `3.0.0`.

##### ENVIRONMENT
* AWX version: `master`
* AWX install method: `docker` on `linux`
* Ansible version: `2.4.3.0-1`
* Operating System: Both `Arch Linux` and `Ubuntu`
* Web Browser: NA

#####

[2018-02-10 19:25] itcrowdsource commented on #1054
Just mounted the awx_tasks container but I cant find the .out file ? Could you provide some further information to debug this issue?

[2018-02-11 02:44] kevinzs2048 commented on #1197
confirm. Also downgrading to pip-docker 3.0.0, I still have the error

[2018-02-11 08:06] itcrowdsource commented on #1054
Ok I figured out that there was a small error in the markup of the requirements.yml file. The weird thing is that the same file had worked in previous versions of AWX. I guess it is a good idea to generate a proper error message if the file is missing or if something is wrong with the content of the file.

[2018-02-11 13:25] imriss commented on #1197
@kevin-zhaoshuai
This is how I downgraded to `3.0.0`:
[code]
Also, what is the output of: `pip list | grep docker`, thanks

[2018-02-12 07:51] maksimluzik commented on #796
This is closed, but I am experiencing completely same issue. This is already second time this is happening with AWX + Postgres. First time I nuked the data as it happened when I was playing with AWX, but now it happened with real data. I am just worrying that even if I restore the Postgres data this will happen again. What I learned from this it seems that it is somehow related to the /tmp/pgdocke

[2018-02-12 08:49] themr0c opened #1199 "azure_rm inventory should add "ansible_connection: winrm" in host_vars for windows hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Inventory Plugins

##### SUMMARY

azure_rm inventory should add "ansible_connection: winrm" in host_vars for windows hosts

##### ENVIRONMENT
* AWX version: AWX 1.0.2.327
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: Linux
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Issue initially explained in h

[2018-02-12 09:17] themr0c commented on #1199
I added  the fix in this PR: https://github.com/ansible/awx/pull/1200/

[2018-02-12 10:12] twhiston commented on #1178
@jaredevantabor what time are you guys usually on there? (and timezone?) during European daytime it seems hard to get anyone.

[2018-02-12 10:21] mirakl577 commented on #623
just curious, have someone completed setup on devel branch. i've got the same errors in container logs

[2018-02-12 12:28] yoshinori-hardy opened #1202 "Jobs fail due to underlying ssh connection problems, yet ssh works fine when tested from CLI"
##### ISSUE TYPE
 - Bug Report
or
 - Documentation
not sure if I just missed some config here

##### COMPONENT NAME
 - UI

##### SUMMARY
I've set up a fresh env and I'm attempting to run a job on a host from the inventory.  The job fails with an ssh error.  Investigation suggests to me that awx is attempting to connect as the root user (not the ec2-user configured in the cred).

##### ENVIRONMENT

[2018-02-12 16:07] #417 closed, assigned to ryanpetrello

[2018-02-12 16:08] #70 closed, assigned to ryanpetrello, shanemcd

[2018-02-12 16:54] wenottingham commented on #1032
Since other types aren't supported, marking as bug.

[2018-02-12 16:55] wenottingham commented on #74
@matburt since the branch landed, should this be closed?

[2018-02-12 16:57] wenottingham commented on #280
This happened.

[2018-02-12 16:58] wenottingham commented on #280
actually - doublechecking - @marshmalien can we close this?

[2018-02-12 16:59] wenottingham commented on #590
@jlmitch5 can this be closed?

[2018-02-12 17:01] wenottingham commented on #1199
See comments on PR - we take these fixes from Ansible.

[2018-02-12 17:03] wenottingham commented on #1188
Please retry with https://github.com/ansible/awx/pull/1185, that may fix this.

[2018-02-12 17:05] wenottingham commented on #1118
What is job 38 in your case? Usually the error you see implies a Tower service errored before the playbook ran.

[2018-02-12 17:07] wenottingham commented on #703
Marking as a bug... since this isn't allowed, it should error on save.

[2018-02-12 17:09] wenottingham commented on #1202
Please give the api output for the credential, the job template, and the host.... is ansible_user being overridden in host or group vars?

[2018-02-12 17:12] wenottingham commented on #1169
This was intentional... that's actually been deprecated in `/api/v1` for a while. Essentially, allowing the system admin to construct things on the fly that have no linkage to any template is a problem from an RBAC and auditing perspective.

cc @matburt for more details.

[2018-02-12 17:15] wenottingham commented on #1197
What task fails? This sounds as if it's an issue with the Ansible docker module, not the playbook itself.

[2018-02-12 17:33] mneumarkidg commented on #1188
@wenottingham I just tried #1185 and noticed that if the job is scheduled now it doesn't show that error, if the job is manually executed then it will show that error in the UI. Not sure if this helps?

[2018-02-12 17:34] mneumarkidg commented on #1188
Appears to be manual jobs show failure of celery if running over 5 minutes

[2018-02-12 17:48] jaredevantabor commented on #1178
@twhiston The best time would probably be during the daytime of the EST time zone (US east coast).

[2018-02-12 17:52] AlanCoding commented on #1167
Note:

Logic for copy capability will change with the merge of https://github.com/ansible/awx/pull/1123

Best to hold off of this issue until that is merged.

[2018-02-12 18:02] chrismeyersfsu commented on #1192
This is the expectable behavior given the behavior of `ansible-inventory`, which AWX relies on.

Look at the Makefile here https://github.com/chrismeyersfsu/test-awx-job/tree/moreinfo

The above example is closer to how AWX runs when considering the relative location of the dynamic inventory script. Note that `wrapper.sh` is OUTSIDE of the `inventory` directory. Thus, `ansible-playbook` does not p

[2018-02-12 18:07] wenottingham commented on #1188
Moving to API, all the info in the UI comes from the API.

[2018-02-12 18:16] jaredevantabor commented on #1180
@kvaps Thanks for the info. It looks like the directory structure is setup fine, what file type are you using for your inventory file? Tower will look for `.ini`, among [some other types of files, including files without an extension](https://github.com/ansible/awx/blob/devel/awx/main/utils/ansible.py#L61).

I should mention that in the Tower UI you can type your own relative path into the drop do

[2018-02-12 18:16] greg-hellings commented on #1192
OK, so it looks like the problem is that ansible-inventory is mashing everything into the hostvars segment instead of using the group construction that has been supported since a long time.

[2018-02-12 18:19] wenottingham commented on #1192
@greg-hellings see https://github.com/ansible/ansible/issues/30877