[2019-05-28 21:00] jedelblu commented on #3960
Thanks.

[2019-05-29 09:14] lijok commented on #3945
Ran into the same issue while nuking the test environment, running Inventory.objects.filter(pending_deletion=True).update(pending_deletion=False) worked
The inventory had a source script running every 60s, the inventory script (not the source) was deleted right before i tried to delete the inventory

[2019-05-29 09:57] ssaammoo commented on #3956
Unfortunately didn't work either :-(

[code]
and got multiple dockers

[code]

[2019-05-29 10:43] mrwiora commented on #3945
@ryanpetrello NICE! worked like a charm and I could delete the inventory afterwards without any issues.
In my case I assume, that I've been rebooting the AWX tower host during the pending deletion job as my scripts are doing it automatically. Maybe there would be an option to "cleanup" all stucked jobs which are in pending state on a machine startup.
Thanks!

[2019-05-29 10:43] #3945 closed, assigned to nobody

[2019-05-29 11:56] benapetr opened #3962 "Database trim / cleanup"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now it seems that old data are kept forever in database - that leads to database with tens to hundreds of GB of data from job executions.

There should be some way to clean it up, for example delete data older than N days, etc.

[2019-05-29 13:21] ryanpetrello commented on #3962
Hey Petr,

This is probably what you want:

https://docs.ansible.com/ansible-tower/latest/html/administration/management_jobs.html#removing-old-job-history

[2019-05-29 13:21] #3962 closed, assigned to nobody

[2019-05-29 13:29] ryanpetrello commented on #3960
@jedelblu,

This looks like a bug in the ansible module itself that you're using.

Please post the _entire_ traceback (everything truncated after `in init…`)

[2019-05-29 13:49] ryanpetrello commented on #3004
Closed via https://github.com/ansible/awx/pull/3921

[2019-05-29 13:49] #3004 closed, assigned to nobody

[2019-05-29 14:09] jedelblu commented on #3960
First off Thanks.
Here is the json error
{
    "_ansible_parsed": false,
    "_ansible_no_log": false,
    "module_stderr": "No handlers could be found for logger \"msrestazure.azure_active_directory\"\nTraceback (most recent call last):\n  File \"/root/.ansible/tmp/ansible-tmp-1559074172.33-168348615981483/AnsiballZ_azure_rm_resourcegroup.py\", line 113, in <module>\n    _ansiballz_main()\n  File

[2019-05-29 14:10] jedelblu commented on #3960
Does that help?

[2019-05-29 14:12] ryanpetrello commented on #3960
[code]

Are you specifying `resource_group` or `resource_group_name` in your playbook, or creating a named group using `azure_rm_resourcegroup`?  Based on this error, it sounds like you're using an invalid character.

I'm closing this, because it doesn't seem like an issue w/ AWX to me.

[2019-05-29 14:12] #3960 closed, assigned to nobody

[2019-05-29 14:18] jedelblu commented on #3960
Lets me show you my playbook. Please don' close the ticket.
---
- name: Create Azure RG
  hosts: localhost
  connection: local

  tasks:
    - name: Build RG
      azure_rm_resourcegroup:
        name: Resource Group
        cloud_environment: AzureCloud
        location: westus
        tags:
          testing: testing
          delete: never

[2019-05-29 14:35] ryanpetrello commented on #3960
@jedelblu

As I said, this isn't an AWX issue.  According to what the `azure_rm_resourcegroup ` group considers "valid", your resource group name has an invalid character (a space).  Remove the space from `Resource Group`:

[code]

[2019-05-29 15:58] jakemcdermott commented on #4221
<img width="1439" alt="Screen Shot 2019-06-15 at 8 56 51 AM" src="https://user-images.githubusercontent.com/9753817/59551699-b2682680-8f4b-11e9-8b21-b59b80d48b81.png">

[2019-05-29 16:00] jakemcdermott opened #4236 "Job Results - Output Toolbar and backing API controls"
## Job Results - Output Toolbar

Mockup: https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs-output/

Depends on https://github.com/ansible/awx-pf/issues/219

These are the core pagination controls and api interaction for the static (non-realtime) event data. It's best to do these prior to hooking up the scrollbar, since they'll use the same underlying api calls.

<img width="1428" alt=

[2019-05-29 16:11] jedelblu commented on #3960
Thanks, Ryan you were correct the space in the Name fixed the issue. you rock!

[2019-05-29 16:14] picapdjoe commented on #3956
Regretfully I'm running into the same thing. If you attempt to start the containers using docker-compose or docker directly, you'll get the following:

`Error response from daemon: OCI runtime create failed: container_linux.go:345: starting container process caused "process_linux.go:424: container init caused \"rootfs_linux.go:58: mounting \\\"/tmp/awxcompose/SECRET_KEY\\\" to rootfs \\\"/var/lib/

[2019-05-29 18:05] chrismeyersfsu commented on #3054
@Dagon- @piroux I've written a blog post on how to, effectively, get AND behavior out of a workflow as a stop gap https://www.ansible.com/blog/tower-workflow-convergence Let me know if that meets your needs.

[2019-05-29 18:20] gforster opened #3964 "Failed to parse dynamic inventory script"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Failed to parse a dynamic inventory script. Script works fine in Ansible Engine/CLI. l

##### ENVIRONMENT
* AWX version: Tower 3.4.3
* AWX install method: tower install
* Ansible version:  2.7.9
* Operating System: RHEL 7
* Web Browser: firefox

##### STEPS TO REPRODUCE

Adding inventory to point to custom dynamic script. I have installed subprocess vi

[2019-05-29 18:20] ryanpetrello commented on #3822
Looks like a new `apache-libcloud` is impending: https://github.com/apache/libcloud/commit/51fe8e7564d75a84d06268529855d0d20406ccf8

[2019-05-29 19:44] ryanpetrello commented on #79
### Implementation Notes for "On Start" Notification Templates

Discussed implementation details of this feature w/ @beeankha today.  Here are some highlights of the work to do:

1.  Add a _new_ relationship to `awx.main.models.base.NotificationFieldsModel`.  This field is inherited by `UnifiedJobTemplate` and `Organization`.
2.  Create a new migration (using `awx-manage makemigrations` so that th

[2019-05-29 20:45] unlikelyzero commented on #4235
Adding myself as QE

[2019-05-29 20:50] unlikelyzero commented on #4231
Assigning myself to QE

[2019-05-29 23:53] AlanCoding opened #3968 "Upgrade pip and setuptools in requirements"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This needs to be done, and the sooner the better

https://github.com/ansible/awx/blob/34c3aaee3d96ed5286924ccf4c91e42a5bc055ad/requirements/requirements.in#L51-L52

https://github.com/ansible/awx/blob/34c3aaee3d96ed5286924ccf4c91e42a5bc055ad/requirements/requirements_ansible.in#L53-L54

[2019-05-30 05:45] rageshpillai opened #3969 "Awx code base integration with oracle db"
What all files we need to change for using oracle as backend for the existing awx code base.
We have a requirement to use oracle as backend for the awx application

[2019-05-30 07:13] nlt-vlasov-y opened #3970 "Empty issue. Delete it."
No problem. Found solution later.

[2019-05-30 07:53] #3970 closed, assigned to nobody

[2019-05-30 09:46] MaxCav666 commented on #3950
After 2 days working correctly, resolving FQDN names correctly, the same error happens again.

[2019-05-30 10:56] lijok commented on #3964
In the traceback it says "OSError: [Errno 2] No such file or directory"
Do you have "asset_list" executable in wherever awx is running? If you installed awx on docker by following the installation guide, i believe that will be the awx_task container

[2019-05-30 11:08] gforster commented on #3964
Yes, it is executable and working via cli as the awx user. There are no issues whatsoever running anything (playbooks, dynamic inventory, etc.) from the command line, which is what is so confusing.

[2019-05-30 11:33] tadeas22 opened #3971 "Update awx_task on hub.docker.com"
##### COMPONENT NAME
 - Installer

##### SUMMARY
Please can you update version of ansible to 2.8 (current is 2.7.9) in this two docker images?
https://hub.docker.com/r/ansible/awx_task
https://hub.docker.com/r/ansible/awx_web

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method:  docker on linux
* Ansible version:  2.7.9

##### EXPECTED RESULTS

Ansible 2.8

##### ACTUAL RESULTS

Ansible 2

[2019-05-30 13:42] ahuffman commented on #3167
I was hoping I wouldn't have this issue still on Tower 3.5, but still seem to get it.  I did some investigations by manually creating a new host in one of my inventories via the Tower UI.  When I create host_vars in the UI in yaml format, with dictionaries, I see this in the host's `variables` key: `"variables": "---\ndiscovered_facts:\n  test: 1\n  test2: \"3\"\n  list:\n    - \"1\"\n    - \"2\"\

[2019-05-30 13:43] ryanpetrello commented on #3969
This issue tracker is for tracking enhancements and bugs in AWX itself (and we don't intend to support Oracle DB as a backend for AWX at this time, as noted in the last ticket you filed about this: https://github.com/ansible/awx/issues/3949).

AWX itself makes use of the Django ORM, which *does* support Oracle DB 12.1 and higher, so you _could_ hypothetically hack something together:

https://docs

[2019-05-30 13:43] #3969 closed, assigned to nobody

[2019-05-30 14:05] ahuffman commented on #3167
I was able to hunt down the proper format of the `variables` key.  Which per the API docs state it should be in json or yaml format, but the docs do not state if we need to have this be single-line format or expanded with `\n` characters for "pretty/nice" format.

I'm experimenting with the `tower_host` module now to see if something like this will work and prevent the display issues:
[code]

[2019-05-30 14:34] jakemcdermott opened #3972 "update puppeteer dev / unit test dependency"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This drives our unit tests so its good to keep this _reasonably_ up to date. As of right now, updating this to a more recent version (`1.8.0` -> `1.16.0`) results in errors when running the tests in CI.

It's likely this may come down to just needing a few more libs in our CI container, or perhaps updating a complementary dependency to a newer version

[2019-05-30 14:36] ryanpetrello commented on #3964
What @lijok said - the container which is running this inventory script isn't able to find `asset_list` on the `PATH`.  What is the absolute path to `asset_list`?  Does the executable exist somewhere that's whitelisted by bubblewrap?  You might consider setting `AWX_PROOT_ENABLED = False` at `/api/v2/settings/jobs/` and trying with that.

[2019-05-30 15:11] ryanpetrello opened #3973 "Credential Plugins don't work with adhoc `ansible -u`"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Run an adhoc command that specifies a credential with a username pulled from e.g., HashiCorp Vault.  It **does** work for a Job Template:

<img width="268" alt="image" src="https://user-images.githubusercontent.com/214912/58642049-78035600-82ca-11e9-9d3d-85e3df293870.png">

<img width="1090" alt="image" src="https://user-images.githubusercontent.com/21

[2019-05-30 15:12] ryanpetrello commented on #3973
Should be resolved when this merges:

https://github.com/ansible/awx/pull/3413/files#diff-9d4ea1dd908b35fb92eaede4bd10bb46R2232

[2019-05-30 16:52] ryanpetrello commented on #2866
Addressed via https://github.com/ansible/awx/pull/3965

[2019-05-30 16:52] #2866 closed, assigned to AlexSCorey

[2019-05-30 18:01] ryanpetrello commented on #3950
Given that you're seeing intermittent resolution failures inside the container, this sounds to me like it's probably a DNS issue w/ k8s/flannel itself, not AWX.

[2019-05-30 18:01] #3950 closed, assigned to nobody

[2019-05-30 18:29] #3907 closed, assigned to nobody

[2019-05-30 18:29] ryanpetrello commented on #3907
see: https://github.com/ansible/awx/pull/3604

[2019-05-30 18:34] ryanpetrello commented on #3880
Agreed, this looks like an ssh misconfiguration to me.

[2019-05-30 18:34] #3880 closed, assigned to nobody

[2019-05-30 18:35] ryanpetrello commented on #3971
We'll do this in the next major release of Ansible AWX.

[2019-05-30 18:35] #3971 closed, assigned to nobody

[2019-05-30 18:47] ryanpetrello commented on #3462
@mabashian any thoughts on this one?

[2019-05-30 18:49] ryanpetrello commented on #1765
@megakoresh this ticket is quite old - are you still encountering this on newer versions of AWX?

[2019-05-30 19:19] ryanpetrello commented on #3862
Should be resolved in the next version of AWX via https://github.com/ansible/awx/commit/f524c94bad1a710d152c8539dc1471aa767017bd cc @mabashian

[2019-05-30 19:19] #3862 closed, assigned to nobody

[2019-05-30 19:28] AlanCoding commented on #3934
I'd like to see if I can reproduce to confirm this issue, but I will need more information.

Let me first confirm the obvious - did you update this inventory before you created the smart inventory (from other things you wrote, I think probably so, I want to be sure).

Let me also confirm that the smart inventory is in the same organization as the inventory that ran the script-based update. If they

[2019-05-30 19:31] codebard commented on #631
Encountered the same issue. Subdomain with nginx reverse proxy, awx in docker proxied by nginx, user/password does not work when trying to login.

[2019-05-30 19:48] gforster commented on #3964
I have ensured that `/custom/common/bin` (where asset_list is) is in `$PATH` and `AWX_PROOT_ENABLED = False`. The results are the same.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-30 19:56] ryanpetrello commented on #3964
Is it a matter of the user executing the playbook having an incorrect `PATH`?  What happens if you update your inventory script's `check_output()` invocation to explicitly run `/custom/common/bin/asset_list`?

[2019-05-31 00:53] kaovilai opened #3975 "Highlight selected focus items"
##### ISSUE TYPE
 - Ansible Tower UI should
    - highlight the selected items when using tab key

##### SUMMARY

Currently it is unclear especially for dropdown menus that it is being selected when user is using tab to navigate the forms.
For example, in the `Resources > Templates > New Job Template`
 - When name text input field is selected
    - you can see blinking cursor which is a good visua

[2019-05-31 04:41] tvo318 opened #3977 "Awkward column width in Select Application Wizard"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Left column for name of application looks too narrow/squished:

![image](https://user-images.githubusercontent.com/7514801/58681703-cba58c00-832a-11e9-87d5-e6ef94e560cd.png)

##### ENVIRONMENT
* Tower version: 3.5.0 ([ec2-54-209-180-137.compute-1.amazonaws.com](https://ec2-54-209-180-137.compute-1.amazonaws.com))
* Tower install method: yolo without an

[2019-05-31 09:59] rageshpillai opened #3978 "How to get access to awx google group"
I am not able to access the ur google group
https://groups.google.com/forum/#!forum/awx-project

Getting the below warning
"This group either doesn't exist, or you don't have permission to access it. If you're sure this group exists, contact the owner of the group and ask them to give you access"

Whom should i contact to get access to this group?

[2019-05-31 12:41] ryanpetrello commented on #3978
@matburt @wenottingham,

I'm seeing the same in an incognito window.  Do you think this is some sort of issue w/ Google atm, or do we have something misconfigured permission-wise?

<img width="593" alt="image" src="https://user-images.githubusercontent.com/214912/58706373-de967b80-837f-11e9-8cb6-d27f55c450d7.png">

When I view as a logged in group member:

<img width="693" alt="image" src="https:/

[2019-05-31 12:48] ryanpetrello commented on #3978
@rageshpillai we've changed the group permissions around a bit and I'm able to view the group as an anonymous user - mind giving it a try now?

[2019-05-31 12:49] #3978 closed, assigned to nobody

[2019-05-31 13:21] gforster commented on #3964
Unfortunately, I get

`Traceback (most recent call last): File "/lib/python2.7/site-packages/awx/main/tasks.py", line 934, in run File "/lib/python2.7/site-packages/awx/main/tasks.py", line 2180, in pre_run_hook File "/lib/python2.7/site-packages/awx/main/tasks.py", line 625, in _wrapped File "/lib/python2.7/site-packages/awx/main/tasks.py", line 1078, in run Exception: project_update 1293 (error)

[2019-05-31 17:41] ghjm commented on #2183
Can you test and let us know if this is still a problem in current versions of AWX?

[2019-05-31 17:50] ghjm commented on #3955
Looks like this might be an Ansible Core issue.  Can you reproduce outside of Tower with the same playbooks?

[2019-05-31 17:52] ghjm commented on #3946
This looks like a bug in the playbook, not in AWX.

[2019-05-31 17:52] #3946 closed, assigned to nobody

[2019-05-31 17:53] ryanpetrello commented on #3943
@Spredzy @shanemcd you have any thoughts on this?

[2019-05-31 17:54] shanemcd commented on #3943
ah, yep. ansible has a `| quote` filter we should use

[2019-05-31 17:56] ghjm commented on #3939
What version of AWX is this?

[2019-05-31 17:58] ghjm commented on #3935
Does this happen if you run the same playbooks outside of AWX?

[2019-05-31 17:59] ryanpetrello commented on #3915
@Spredzy @shanemcd any thoughts on this?

[2019-05-31 18:01] shanemcd commented on #3915
Did you set the password either as an extra var or directly in the inventory? If you overrode that variable and it's still reseting to the default value, that's not expected.

[2019-05-31 18:06] ryanpetrello commented on #3646
I'm able to reproduce this:

![image](https://user-images.githubusercontent.com/214912/58725496-5038ee80-83ad-11e9-9074-60eae049bb95.png)

[2019-05-31 18:18] okelet commented on #3915
I think that it doesn't matter if you set the password via extra var or inventory, as the block that resets the password (https://github.com/ansible/awx/blob/devel/installer/roles/kubernetes/tasks/main.yml#L188) doesn't contain a when directive, so is always executed, no matter is the user already exists. Perhaps an additional variable to force password reset would be useful, so that task would on

[2019-05-31 18:21] adpavlov commented on #3955
No, not reproducing.
AWX is running on host with ansible and sourcing inventory and playbooks from host machine.
Same playbooks working fine on physical host.

--
Best regards,
Alexander Pavlov
+7 (968) 6430947
skype: alexander.d.pavlov

[2019-05-31 18:26] wenottingham commented on #3915
It shouldn't reset it to the default; just set it to whatever's in the inventory/var. So when running an upgrade, make sure it has the same password settings.

[2019-05-31 20:07] anshulbehl commented on #3786
Will need adding extra property to tableCell.description-column class, setting the display property to table fixes this issue, not sure where it can cause regressions.

[2019-05-31 20:15] skpy opened #3983 "ssl_certificate defined, but not used"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The `ssl_certificate` value is defined and uncommented in `inventory`, and it gets used correctly in the docker-compose.yml output file, but the awxweb container's `/etc/nginx/nginx.conf` file has no SSL declaration, resulting in HTTP access only.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.10
*

[2019-06-01 09:41] jean-christophe-manciot commented on #3935
It does not happen while running the playbooks. It happens while downloading the roles.

This issue does not happen if I download the roles outside of AWX using the same URL: in the latter case, the folder tree is exactly cloned and matches perfectly the original folder tree.

[2019-06-02 05:27] kylecribbs commented on #3954
@ryanpetrello thanks, just curious why Raw is not whitelisted by default?

[2019-06-03 07:13] pwe123345 opened #3985 "automatically create surveys"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It would be a great enhancement, if imported playbooks to AWX/Tower would create a survey of all variables automatically.

At the moment, you have to import your playbook (or one from galaxy) as a project, create templates and create a survey with every variable you have.

[2019-06-03 07:28] xuyixin1996 opened #3986 "add_host module in awx does not behave the same as in ansible command line"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Ansible moudle "add_host" does not behave as expect in awx

##### ENVIRONMENT
* AWX version: 4.0.0.0
* AWX install method: docker
* Ansible version:  2.7.9
* Operating System: CentOS Linux release 7.6.1810 (Core)
* Web Browser: 74.0.3729.169 (Official Build) (64-bit)

##### STEPS TO REPRODUCE

Here is my playbook, I want to add host to inventory in me

[2019-06-03 12:02] ghost commented on #3939
Hello ghjm

Last version available on officiel github repo.
AWX 4.0.0.0

Thanks

[2019-06-03 12:58] AlanCoding opened #3988 "Jobs canceled before starting should not show a "finished" time"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Confusing UI if you cancel a job while it is still in "pending" state, caused by API behavior.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Launch a job that is blocked by some other

[2019-06-03 14:33] wenottingham commented on #3985
There's not a defined format for vars that provides metadata needed to properly create a survey.

[2019-06-03 14:34] mabashian opened #4237 "Error: <filter> attribute width: Unexpected end of attribute. Expected length, """
This gets thrown to the console on page load/refresh.  Login is not necessary.  This seems to be part of the initial compilation of the app in the browser.

`Error: <filter> attribute width: Unexpected end of attribute. Expected length, ""`

<img width="1680" alt="Screen Shot 2019-06-03 at 10 32 00 AM" src="https://user-images.githubusercontent.com/9889020/58809968-f3c31280-85ea-11e9-8045-4b3045cb

[2019-06-03 14:35] UnknownGnome commented on #2350
In AWX 4.0.0 the addition of the Launch button to the template screen is great. I'll jump on board here to say that some folders or drop-downs would be great for templates. I found this issue when I was going to create one of my own for the same thing.

[2019-06-03 15:23] Ompragash opened #3989 "Group Based Mapping When Using Azure AD Authentication Method In Ansible Tower"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Currently we can only use email(with regular expression) to map AD user with Org and Team when using Azure AD authentication method in Ansible Tower. The purpose of this RFE is to map AD user  using AD groups with Org and Team when using Azure AD method.

[2019-06-03 16:29] falcon78921 opened #3990 "Allow users with Update role on Inventory to add/remove hosts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

- UI

Ansible Tower currently does not have the ability to allow a Normal User to add/remove hosts from an Inventory (unless you're a Tower admin or admin of an Inventory). Per a customer's request, they would like to be able to give a normal user the **Update** role and then have the normal user add/remove hosts from the Inventory (without giving t

[2019-06-03 16:44] wenottingham commented on #3989
To do this, use SAML (which Azure AD also supports) and use the attribute-based mapping there.

OAuth doesn't provide the necessary attributes/bits to do this.

[2019-06-03 16:44] #3989 closed, assigned to nobody

[2019-06-03 16:44] wenottingham commented on #3990
What purpose does the ability to add hosts without admin access serve?

[2019-06-03 16:47] rwagnergit commented on #3990
Bill - exactly that.  It lets a user who is not an admin add hosts, which is something we would like users to be able to do.  If they have admin access, they can do more than just add hosts (e.g., delete the inventory, grant privs on the inventory to others).

I can provide the whole feature request I sent to Red Hat if you'd like.

[2019-06-03 17:07] wenottingham commented on #3990
I think that would have to be a new role; we can't logically piggyback on `use` here.

[2019-06-03 17:09] wenottingham commented on #3990
Functionally, all of our objects generally don't have 'partial' edit access in this way - if you have the ability to change a resource ,you can delete it.

[2019-06-03 17:38] #3943 closed, assigned to Spredzy

[2019-06-03 17:46] rwagnergit commented on #3990
Thanks Bill.  Just to clarify, I'm not asking for "Use" to be extended, but rather "Update" to be extended, which seems more logical.  The "Update" role currently allows a user to update the hosts in an inventory from an inventory list in SCM.  I'm just asking that this role be extended to allow users to update the hosts in an inventory *from within Tower*.  In other words, allow a user to add/rem

[2019-06-03 18:26] wenottingham commented on #3990
It's still not something we can do without changing the semantics of security of the inventory works overall - it changes the option from "can only pull inventory from a third-party source" (which in most cases they can't affect directly) to "can add anything".

[2019-06-03 19:13] elyezer commented on #2426
Window size is defined globally by #3941. We couldn't use a single resolution for all tests so we tweaked some of then to resize on #3979. With those PRs, we can close this issue.

[2019-06-03 19:13] #2426 closed, assigned to elyezer

[2019-06-03 21:38] adpavlov commented on #3955
issue not relevant

[2019-06-03 21:38] #3955 closed, assigned to nobody

[2019-06-04 10:37] OndraLipo opened #3995 "RBAC - New role for creating smart inventories"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We need an option to give permission to team or user to be able to create a smart inventory from already existing inventory.

Nowadays we can assign only Inventory Admin role to the whole Organization, which gives permission to add/edit/delete all inventories in that Organization and we need users/teams to be able to add smart inventory, but not edit

[2019-06-04 13:00] ReinerNippes opened #3996 "TASK [image_build : Build AWX distribution using container] - FAILED!"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
`ansible-playbook -i inventory install.yml` failed building local images

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker
* Ansible version:  2.7.10 & 2.8.0
* Operating System: CentOS Linux release 7.6.1810
* Web Browser:

##### STEPS TO REPRODUCE

remove `dockerhub_base=ansible` from inventory
`ansible-playbook -i inventory install

[2019-06-04 13:02] wenottingham commented on #3995
I'm not sure this is practical for just smart inventories; if we were to add a role that could only create and manage new inventories, it would likely handle both types.

[2019-06-04 13:32] OndraLipo commented on #3995
@wenottingham I agree that both types makes more sense ;-). I also discovered the same issue with projects.

[2019-06-04 13:35] rwagnergit commented on #3990
Understood.  To provide an illustration of why I'm seeking this Feature, here's more context from the original ER I opened w/ Red Hat:

To illustrate our need for this use case, we are a hosting provider, and we use Tower to provision hosts before delivery to our customers.  When a contract is signed, a set of hosts will be provisioned for the customer, and each application team is responsible for

[2019-06-04 14:10] wenottingham opened #3998 "Support RHEL 8 podman in installer"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The build/install playbooks do not run on RHEL 8 out of the box in a way that works with podman.

[2019-06-04 14:44] lijok commented on #3990
similar usecase here
provisioning devices that we add with an inventory script, once provisioned we send them off and remove them from inventory, sometimes some hosts need to be re-added/removed manually by non-admin operators

[2019-06-04 15:15] ghost opened #3999 "Add help text popovers to SSL and TLS options in the notification section"
##### ISSUE TYPE

- UI text
- Documentation

##### SUMMARY

In the notification section of AWX, there are two options:

- Use SSL
- Use TLS

I could find nowhere in the UI or documentation where this is accurately described. After reading the source code, I realized this is actually just passed to the Django library, where there is (some) documentation:

- https://docs.djangoproject.com/en/2.2/ref

[2019-06-04 19:17] marshmalien commented on #4237
It _looks_ like a PF4 bug: https://github.com/patternfly/patternfly-react/issues/2100.
We'll need to upgrade to pull in their fix: https://github.com/patternfly/patternfly-react/pull/2070.

[2019-06-04 19:45] kernelzilla commented on #3956
FWIW I encountered the same error when starting awx-web which wants to listen on port 80, turned out a separate install of nginx was using it (confirm via netstat -anpo | grep 80).  After stopping nginx, the install playbook completed successfully.

[2019-06-04 20:26] kernelzilla commented on #3956
I've opened a pull request (#4002) to check and give the user a clearer message regarding the port conflict instead of having to check awx_web log status for the error.

[2019-06-04 20:53] ryanpetrello commented on #3956
@ssaammoo @picapdjoe any chance either of you are encountering something similar?

[2019-06-04 23:19] kialam commented on #3996
@ReinerNippes what version of npm and node are you running?

[2019-06-04 23:44] jamesmarshall24 opened #4004 "Allow Teams to Share Job Templates with Other Teams"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Create an RBAC role at the team level which allows specific users to share objects (such as job templates) with other teams within an organization.

[2019-06-05 00:00] shanemcd commented on #3996
Are you using the 4.0.0 release / tag or did you clone the repo? We recently updated the NPM and Node requirements on `devel`, so if youre tracking the mainline branch consider pinning to a release from https://github.com/ansible/awx/releases

[2019-06-05 07:33] ReinerNippes commented on #3996
@kialam i don't know. i just want to build and run awx. how to check?
@shanemcd yes. i just cloned the repo. but git checkout 4.0.0 did fix it. just changed the error message.

[code]

[2019-06-05 11:29] shanemcd commented on #3996
@ReinerNippes Ah right. The upstream centos container image changed and added that symlink to the base python3 package. We have fixed this on devel. Right now you have a couple options:

- Cherry-pick this into your 4.0.0 branch: https://github.com/ansible/awx/commit/4821a949445660efa47879ac22222761aa412836
- Wait until https://github.com/ansible/awx/pull/4005 merges later today and keep tracking

[2019-06-05 11:43] fajfer commented on #1227
This is still the case

[2019-06-05 11:57] Spredzy commented on #3957
`ansible/tower-qa` PR that goes with this: https://github.com/ansible/tower-qa/pull/3467

[2019-06-05 12:41] ReinerNippes commented on #3996
OK. Great.
Thanks.

[2019-06-05 12:41] #3957 closed, assigned to Spredzy

[2019-06-05 14:54] wenottingham opened #4008 "Loosen uniqueness on job templates"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[code]
Ideally, it would be unique across an org (or a project?)

[2019-06-05 14:57] wenottingham commented on #4004
This should already work in AWX as of 4.0.0 or so.

[2019-06-05 14:57] #4004 closed, assigned to nobody

[2019-06-05 16:00] abedwardsw opened #4009 "multiple vault credentials with a "period" don't work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using multiple vault credentials with a "period" (.) in the vault-id name AWX fails to find the matching vault to decrypt.

##### ENVIRONMENT
* AWX version: 2.1.2.0
* AWX install method: docker on linux
* Ansible version:  2.7.4
* Operating System: Centos
* Web Browser: chrome

##### STEPS TO REPRODUCE

Using the same playbook [here](https://githu

[2019-06-05 16:02] wenottingham opened #4010 "Not cleaning up after runner properly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

1. start AWX
2. run some jobs
3.
[code]

##### ENVIRONMENT
* AWX version: head of devel
* AWX install method: dev env
* Ansible version:  2.8-ish
* Operating System: F30 (host) CentOS 7 (container)
* Web Browser: doesn't matter

##### STEPS TO REPRODUCE

see above

##### EXPECTED RESULTS

no leftover crud in /tmp

[2019-06-05 16:23] abedwardsw commented on #4009
[vault-success.txt](https://github.com/ansible/awx/files/3258060/vault-success.txt)
[vault-fail.txt](https://github.com/ansible/awx/files/3258061/vault-fail.txt)

[2019-06-05 17:19] AlanCoding commented on #4008
Let's do this with the work item from https://github.com/ansible/awx/issues/282, where the organization field will be added to the JT.

[2019-06-05 17:39] jedelblu opened #4012 "Issue: Can't create a network interface in AWX towers. any help is appreciated."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2019-06-05 17:41] jedelblu commented on #4012
---
- name: Create Azure RG
  hosts: localhost
  connection: local

  tasks:
    - name: Build RG
      azure_rm_resourcegroup:
        name: ResourceGroup1
        cloud_environment: AzureCloud
        location: westus
        tags:
          testing: testing

    - name: Create a network interface
      azure_rm_networkinterface:
        name: uw1testnic
        resource_group: ResourceGroup1

[2019-06-05 17:44] wenottingham commented on #4008
Caveat: if relaxing this changes the `named_url` field, we may need a loud release note.

[2019-06-05 18:23] pagag168 commented on #1855
Still exist in 4

[2019-06-05 18:42] cdeniro commented on #3318
@AlanCoding I can add that today i completely rebuilt all docker images due to the default postgres storage in /tmp and am still having the issue. Also once it fails it will fail every single subsequent sync for a few minutes. Not sure exactly how long

[2019-06-05 20:09] ryanpetrello commented on #4012
@jedelblu we're going to need more details than this.  Are there any errors?  Output?  Does this playbook work outside of AWX?

[2019-06-05 20:20] rooftopcellist opened #4014 "Insights Job counts do not reflect accurate Job counts"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The insights `job_counts.json' are not being updated properly due to a default order_by("id") on the UnifiedJob model, which django's ORM interprets as "group_by id".  We instead want to group by "status" here.

[code]

##### STEPS TO REPRODUCE

1. Run multiple jobs
2. run awx-manage gather_analytics
3. tar xfvz the analytics tar.gz
4. `job_counts.json

[2019-06-05 23:53] cbutler65 opened #4015 "venv for Ansible and Python3 with AWX build 4.0.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
/usr/bin/awx-manage inventory_import in a playbook fails

Cause: AWX 4.0.0 has pre-installed venv for Python3(AWX) and Python2(Ansible), but requires venv for Python3(Ansible).

I have installed the venv for Python3(Ansible) and this fixes the problem but it should be pre-installed to enable std functionality. so I

[2019-06-06 04:22] ryanpetrello commented on #4015
@cbutler65 so I understand, what you're asking is for awx builds to ship by default with a Python3 ansible virtualenv (instead of a Python2 one)?

[2019-06-06 04:27] cbutler65 commented on #4015
No, I think it should come bundled with all 3, Python3(AWX), Python2(Ansible) and Python3(Ansible).
So that all options are covered and We the users can enable functionality by just choosing the  ANSIBLE ENVIRONMENT from within the UI.

[2019-06-06 09:51] OndraLipo opened #4016 "Usage of AND operator in Org,team LDAP mapping"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We are missing the possibility to use AND operator in specification of LDAP TEAM MAPPING.

##### USE CASE
We have 2 AD groups (linuxadmin and restricted) and we would like to give access to team within AWX called "restricted" only to users, who are members of both groups.

LDAP TEAM MAP example:
[code]

AWX version 4.0.0

[2019-06-06 11:05] Spredzy commented on #3822
[code]

Also ran an inventory update with `stable-2.7` to confirm and things are :+1:

[2019-06-06 11:09] mjeco commented on #3983
I'm experiencing the exact same problem.
`ssl_certificate` is set and uncommented in the inventory file but the `nginx.conf` file in the `aws-web` container does not include SSL configuration.

Workaround for now is to enter the container and manually using `docker exec -it aws-web bash` and edit `/etc/nginx/nginx.conf` with the SSL configuration defined in the template `installer/roles/image_buil

[2019-06-06 11:29] ryanpetrello commented on #3983
@mjeco @skpy are you building your own images, or using the official ones (see: )https://github.com/ansible/awx/blob/devel/INSTALL.md#official-vs-building-images?  @jeffbyrnes' contribution in https://github.com/ansible/awx/pull/3604/ _should_ cover this, but if you're still using the official awx 4.0.0 image from dockerhub, you're not going to get the changes here: https://github.com/ansible/awx/

[2019-06-06 11:43] mjeco commented on #3983
@ryanpetrello yes I'm using the official awx images. Thanks for the explanation.

[2019-06-06 11:56] ryanpetrello commented on #3983
If you all are still encountering issues after building your own images (or in the next version of awx), let me know and I'll reopen this so we can investigate.

[2019-06-06 11:56] #3983 closed, assigned to nobody

[2019-06-06 12:55] #3822 closed, assigned to Spredzy

[2019-06-06 13:00] ReinerNippes commented on #3996
@shanemcd
I assumed that #4005 was merged to devel. but now I got:
[code]
ansible 2.8.0 is required.
-------
Cherry-picking 4821a94 into your 4.0.0 branch didn't fix the original problem as well. The error message with python link was gone.

[code]

[2019-06-06 13:18] AlexSCorey opened #4238 "Add Notify on Job Start to notifications list"
A new feature in AWX is a toggle to notify the user on job start.  This same feature needs to be added in:

- [ ] Organizations
- [ ] Templates.

![Screen Shot 2019-06-06 at 9 13 31 AM](https://user-images.githubusercontent.com/39280967/59035756-f8cad080-883b-11e9-8cff-c2f7b153dfb5.png)

[2019-06-06 14:55] jedelblu commented on #4012
Your right here is more information. the code sites in Github I update the project then run the template.  I have successfully created a RG so the connection is good. It seems to not be able to create a Network interface.

ERROR
{
    "_ansible_parsed": true,
    "_ansible_no_log": false,
    "invocation": {
        "module_args": {
            "dns_servers": null,
            "resource_group": "R

[2019-06-06 15:06] ryanpetrello commented on #4012
This isn't a bug in AWX - it looks like an error returned by the Azure API (likely some credential or API permissions misconfiguration on your end).

[2019-06-06 15:06] #4012 closed, assigned to nobody

[2019-06-06 15:48] kdelee commented on #3922
@AlanCoding as we discussed this is not working for me. This is what I get when I use @apitanga 's playbook and a GCE cred for our project:

[code]

Note you need to provide these extra vars:
[code]

[2019-06-06 15:54] skpy commented on #3983
Thanks @ryanpetrello !  I'm building the images now to validate this.

I tried to work around this problem by putting a Traefik proxy in front of AWX, but that rejected *all* logins due to CSRF failures.  I couldn't find anything obvious in the AWX issue history regarding this.  I tried following the directions [here](https://docs.ansible.com/ansible-tower/2.3.0/html/administration/proxy-support.h

[2019-06-06 16:05] AlanCoding commented on #3922
My best guess is that that's coming from:

https://github.com/ansible/ansible/blob/56179ad8ef1927b9fd9dbacbb59186d61a8c6da9/lib/ansible/module_utils/gcp_utils.py#L161

@kdelee did you pass this mentioned as being in the host vars file?

[code]

I figure you could put it in extra_vars as an alternative

[2019-06-06 16:15] mpetrive-rh opened #4020 "Credentials associated with an organization cannot be shared, through RBAC, with other organizations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A Tower credential that is associated with an organization cannot be shared, via RBAC roles, with other users or teams in other organizations.  This occurs even if the user attempting the assignment is `system administrator`.  This seems like a gap in functionality or is perhaps there is security concern here.  Sharing of inventory and projects across

[2019-06-06 16:18] ryanpetrello commented on #3983
Hey @skpy,

We currently don't have great documentation for this in awx.  If you figure out what's up, please open a pull request detailing what you discovered 😄.

Django's CSRF requires strict matching on the referer protocol; I'm betting there's a mismatch regarding what your proxy is forwarding (`https` vs `http`).

I'm betting you're getting a 403 from code somewhere in this area of Django's C

[2019-06-06 16:19] keitalbame commented on #1288
Just caught this issue today.
I was able to import the inventory using the cli `awx-manage inventory_import`

[2019-06-06 16:41] ryanpetrello commented on #4009
I'm able to reproduce this.

[2019-06-06 19:18] ryanpetrello commented on #4009
@abedwardsw thanks for reporting this, it should be resolved in `devel` now.

[2019-06-06 20:01] AlanCoding commented on #282
I have to strike "version" from this requirement, because otherwise it becomes self-contradictory.

Very important to the completion of this feature: We have 2 options. Either `allow_override` (option 1) makes the project always update before running the job template, or (option 2) we cache >1 project revision.

### Option 1: job syncs that update

This sounds like "update on launch" behavior, but

[2019-06-06 20:42] beeankha opened #4022 "Remove the "Any" State from Notifications"
##### ISSUE TYPE
Remove the `any` state from `unifiedjobtemplate_notification_templates` and `organization_notification_templates`.

##### SUMMARY
The `any` state does not apply to _all_ states, it only applies to one of two _finished_ states (`success`/`error`).  This can be confusing.

Removing the `any` state will enable the user to define what they mean by `any`, e.g., it's truly ALL of the st

[2019-06-06 20:55] kdelee commented on #2891
![Screenshot from 2019-06-06 16-50-04](https://user-images.githubusercontent.com/29239279/59065681-474b8f80-887b-11e9-98d7-e4e1a76eccc2.png)
Works for me.

1st item is a project update...which also does not show the credential (maybe will file bug for that)
2nd item is an inventory source update, which shows its credential used...and is clickable
3rd item is a job run which shows its credential us

[2019-06-06 20:55] #2891 closed, assigned to kdelee

[2019-06-06 21:01] kdelee opened #4023 "Project updates do not show credential in list view"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When testing https://github.com/ansible/awx/issues/2891 I noticed that project updates do not show credential in the expanded list view.

![Screenshot from 2019-06-06 16-50-04](https://user-images.githubusercontent.com/29239279/59066123-4ebf6880-887c-11e9-9c19-9da5fbd7ee74.png)

1st item is project update with scm credential
2nd item is inventory with

[2019-06-06 22:15] jedelblu commented on #4012
I had a similar error that looks like that in the past and it was the
naming for the resource group.  Any other clues?

On Thu, Jun 6, 2019 at 9:06 AM Ryan Petrello <notifications@github.com>
wrote:

--
Thank you,
                    Jacob E.

[2019-06-07 12:14] AlanCoding commented on #4023
Although #2891 was fixed with an API change, I suspect this will require a UI change, because the credential for projects is still a singular `credential`, which is reflected in the models, and this field is still in the project (and project update) table, not the unified job template table, and we have no plans of moving it. Ping @ryanpetrello just in case we're not on the same page about any of

[2019-06-07 13:36] ryanpetrello commented on #4023
@AlanCoding nope, that sounds about right to me.

[2019-06-07 14:10] dsesami commented on #3832
Spoke with @wenottingham about the intended behavior here -- current behavior is that only users explicitly marked as `members` are included in the user count. as such, this works as intended and can be closed.

[2019-06-07 14:10] #3832 closed, assigned to dsesami

[2019-06-07 15:50] abedwardsw commented on #4009
thanks @ryanpetrello , not sure of the process.  Do I close the ticket or you?

[2019-06-07 15:55] ryanpetrello commented on #4009
@abedwardsw let's leave it open for now - if you want to try the patch, though, I'd appreciate a 👍 from you on your end if it seems to be working.

[2019-06-07 18:35] the-cat-is-maybe commented on #145
I just changed in the file
/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/plugins/inventory/vmware_inventory.py

The Lines

        if config.has_section('properties'):
            self.guest_props = []
            for prop in config.items('properties'):
                self.guest_props.append(prop[1])

to

        if config.has_option('vmware','prop01'):
            self.guest_props = []

[2019-06-07 21:45] pthall commented on #631
I adapted this for my Apache reverse proxy based on https://stackoverflow.com/a/34371105
Replace http://localhost:80 with the awx_web backend URL.
[code]

[2019-06-10 13:04] jbrt opened #4027 "Feature Idea: survey with contextual combobox"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Surveys are a great feature of AWX and it's very useful when you have to inject some variables/choices by your end users.
But, very often also, the combobox field type are too "simple". I mean, very often, we have to select an option related to another. Example:

- You want to configure a network switch for instance
- You select the desired switchnam

[2019-06-10 13:10] obrienrobert commented on #1992
It'd be great if this was possible.

[2019-06-10 13:33] apigban commented on #1632
What are you guys using before upgrading/using the AWX v4.0.0.0 (ansible 2.7.9)?

I am new to AWX and is experiencing the same. What was the previous version that was working?

[2019-06-10 13:49] tra7nce opened #4028 "Feature: Ability to import disconnected job results into Tower automatically or via an API"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Background:

With an operations manager machine on network 1. That system is a single pane of glass management system for all other networks and machines (BM, VM, etc.). We would like to log into Tower and execute or schedule a job to run against an inventory. So far, nothing special.

However, network 2, network 3, network n, etc., are all on the o

[2019-06-10 14:21] AlanCoding opened #4029 "Inventory status_changed websocket messages clear in-progress creation form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
User is interrupted filling out inventory form if unrelated action happens to some other inventory.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Begin a script running in the backgro

[2019-06-10 15:07] mnhuttner commented on #1281
Having this issue on awx 1.0.4.0 with ansible 2.4.2, using Chrome

[2019-06-10 16:32] smapjb opened #4030 "Ovirt engine sdk in tower venv is too old for installed ansible in openshift image"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running any playbook that uses ovirt module will fail with the following error
```ovirtsdk4 version 4.3.0 or higher is required for this module```

##### ENVIRONMENT
Tower 3.5.0
* AWX install method: openshift
* Ansible version:  2.8.0
* Operating System: OCP 3.11
* Web Browser: Chrome latest

##### STEPS TO REPRODUCE
Use any ovirt module for example

[2019-06-10 17:19] kdelee opened #4031 "Remove old v1 kind semantics from credential and add summary field with CredentialType namespace"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, a Credential has a `kind` field that maps to what used to be known as the `kind` on the CredentialType, but is now known as `namespace` on the CredentialType (whereas `kind` onthe CredentialType is something else).

Additionally, attempting to filter on credential.kind does not work/is broken.

Proposal:
- [ ] Remove `kind` attribute from

[2019-06-10 17:44] kdelee commented on #3001
Works for me, filed https://github.com/ansible/awx/issues/4031 as follow up that https://github.com/ansible/awx/pull/3413 did not address

[2019-06-10 17:44] #3001 closed, assigned to ryanpetrello, unlikelyzero, kdelee

[2019-06-10 17:45] ryanpetrello commented on #4031
I'm thinking about this, and I keep going back and forth.  I think this might be *too aggressive/breaking* of a change without some deprecation period.  The fact that it's called `Credential.kind` *is* confusing, but there's a _lot_ of places this shows up, like:

`/api/v2/credential/N/` as a field
`/api/v2/job_templates/N/` as a summary field:

![image](https://user-images.githubusercontent.com/2

[2019-06-10 20:15] elyezer commented on #3750
I was able to verify this by doing the following:

1. Create 3 credentials of different types.
2. Copied each of the credentials
3. Checked if the owner was copied as well.

I've also tried with different users and checked that the owner was set to the user copying the credential.

[2019-06-10 20:15] #3750 closed, assigned to elyezer

[2019-06-10 20:19] kdelee commented on #4009
Works for me, thanks @ryanpetrello

[2019-06-10 20:19] #4009 closed, assigned to ryanpetrello, kdelee

[2019-06-10 20:26] jtstuedle opened #4034 "Secret Management System Credential Types Missing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Secret Management System Credential Types Missing

##### ENVIRONMENT
* AWX version: 4.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: Ubuntu 18.04
* Web Browser: Version 74.0.3729.169 (Official Build) (64-bit)

##### STEPS TO REPRODUCE
- git clone https://github.com/ansible/awx
- _set awx/installer/inventory va

[2019-06-10 20:29] ry1015 opened #4035 "Ansible-playbook keeps pushing LogConfig even though I've deleted it on my tasks/main"
Hi All,

For some reason, ever since I've added syslog to my docker_container configuration, ansible refuses to delete this configuration even if it's been removed from my main.yml file.

Log:
[code]

main.yml
[code]

previous main.yml
[code]

Why is Ansible forcing my previous config file when I've deleted it from my code? Also, I noticed that I can change the port and other config changes but An

[2019-06-10 20:41] wenottingham commented on #3952
-> #20

[2019-06-10 20:41] #3952 closed, assigned to nobody

[2019-06-10 20:41] wenottingham commented on #4027
-> #20

[2019-06-10 20:41] #4027 closed, assigned to nobody

[2019-06-10 20:53] wenottingham commented on #4028
I think https://github.com/ansible/awx/pull/3422 is what you're looking for.

[2019-06-10 21:37] kdelee commented on #3912
Now I've tested a large number of disabled schedules (minutely) that have a old start date + a large number of enabled schedules that have an old start date (hourly). I create them and then turn off tower for a half an hour or so. Then I timed starting up tower again. Both cases took very reasonable amounts of time.  Going to close this

[2019-06-10 21:37] #3912 closed, assigned to kdelee

[2019-06-11 00:56] xsecops commented on #3888
Can confirm; experienced the same issue. What fixed this for was on Ubuntu: upgrade Ansible to the latest 2.8

`sudo apt-add-repository ppa:ansible/ansible
apt update
apt upgrade`

[2019-06-11 12:31] adurenshi commented on #3396
Authorization: Bearer:<your token>

[2019-06-11 12:31] adurenshi commented on #3396
Authorization: Bearer:<your token>

[2019-06-11 12:32] adurenshi commented on #3396
Authorization: Bearer:$token

[2019-06-11 12:33] adurenshi commented on #3393
Authorization: Bearer:$token

[2019-06-11 13:19] ryanpetrello commented on #3393
@adurenshi you want a space after `Bearer`, not a colon:

`Authorization: Bearer $token`

[2019-06-11 13:25] dsesami opened #4037 "Delete button in credentials list isn't working correctly."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Simply put, the trash icon button isn't working when trying to delete a credential from the credentials list.
![delete_cred_bjork](https://user-images.githubusercontent.com/19942822/59275569-905c6480-8c2a-11e9-8c0d-68d85fca37d3.gif)

##### ENVIRONMENT
* AWX version: latest

##### STEPS TO REPRODUCE
1) Create a credential
2) Attempt to delete it

#####

[2019-06-11 13:31] mabashian commented on #3924
@sdktr are you also accessing the application through Chrome/FF on Ubuntu?

I'm not able to reproduce this with the latest AWX code through Chrome/FF on macOS High Sierra:

<img width="1680" alt="Screen Shot 2019-06-11 at 9 29 10 AM" src="https://user-images.githubusercontent.com/9889020/59276090-a1f23c00-8c2b-11e9-8e1b-65eac27b47ee.png">
<img width="1680" alt="Screen Shot 2019-06-11 at 9 28 12 AM

[2019-06-11 13:33] adurenshi commented on #3393
@ryanpetrello I've tried it. Colon: is OK.

[2019-06-11 13:36] AlanCoding commented on #4031
You're looking at the credential summary_fields right now.

I think it would make plenty of sense to include a "namespace" field for the _credential type_ summary field entry.

As I check `/api/v2/credentials/` right now, however, I see that credential types are not included in summary fields at all currently.

I would go further than @kdelee and say that any credential type details in the credent

[2019-06-11 13:53] jakemcdermott commented on #4037
resolved by https://github.com/ansible/awx/pull/4038

[2019-06-11 14:24] mabashian commented on #3298
~I think this is actually true everywhere - I see the same thing in the WF form~ Actually - I do think this isolated to a few places.  I'll try to clean up as many of them as I can while I'm fixing the launch preview.

[2019-06-11 14:26] mabashian commented on #3378
An important distinction here:  The node form _must be open_ when you click to close the visualizer in order for the save changes modal to be shown.  If you close the node form first, the modal will not be shown.

[2019-06-11 15:06] ryanpetrello commented on #4029
cc @mabashian

[2019-06-11 15:26] #4037 closed, assigned to jakemcdermott, dsesami

[2019-06-11 15:55] rlb2015 commented on #1731
I think there's a bug related as well.   I have a workflow defined with 3 nodes.   The inventory is set to the same on all templates and workflow.   The three attached templates  have inventory set to prompt, as well as limit prompted as well.   Outside of the fact that it would be better to limit at the workflow definition or run, the current solution doesn't seem to work either.

In the visualiz

[2019-06-11 16:18] RobertGwilliam commented on #1731
The issues I had are resolved (3.4.3).
I use API/cli to scrape survey details from JTs, constructing uber survey for a new WF that calls each JT. I create a dummy template (by necessity) to allow the new WF to actually add, and this WF can then be used from TOWER, where the required inventory (and survey vars) can be selected on launch. I also create additional WF with no survey, but populate the

[2019-06-11 16:21] mabashian commented on #4029
Note that the same thing happens on the projects list/form

[2019-06-11 16:23] mabashian commented on #4029
Actually - I think this happens on every list/form combo where the list contents are refreshed via websockets.

[2019-06-11 17:25] alekc commented on #3959
Encountered this as well.
A bit cleaner message:
[code]

[2019-06-11 17:54] mabashian commented on #4029
OK so the original issue is pretty clear: If you are adding/editing an inventory when an inventory is deleted then the UI will basically refresh the page which clears out/resets the form.  I've got a fix queued up for that which I'll link shortly.

While investigating this I thought I was coming across the same behavior on the projects and templates lists.  I had two tabs open (one on the projects

[2019-06-11 18:16] alekc commented on #2482
@ryanpetrello I believe https://github.com/ansible/awx/issues/3959 might be related. Seeing it on 4.0.0 and latest commit as well.

[2019-06-11 18:22] alekc commented on #3959
Some additional details
[code]

[trace.txt](https://github.com/ansible/awx/files/3277923/trace.txt)
[inventory.txt](https://github.com/ansible/awx/files/3277925/inventory.txt)

I'll try to run it on another clean server and see if that changes anything at all.

[2019-06-11 18:26] shanemcd commented on #3959
Are you checking out a specific tag or did you download a release from https://github.com/ansible/awx/releases? We've seen strange errors in the past when people have cloned the repo and tried running from the tip of devel. I have not seen other occurrences of this particular issue recently.

[2019-06-11 18:36] jlmitch5 opened #4239 "Bug: deleting last element on a page does not pop you back to the previous page"
update 2/13: @keithjgrant has a fix incoming (a simple fix is already merged for credential lists), but it's going to take some refactoring to get a general solution. we'll hold off on closing this bug until the generalized solution is there.

Steps to reproduce:

Take a list (say organizations), and go to the last page with only one element on it.  If you have two orgs, you can do this by going t

[2019-06-11 19:22] p1rateg0ld commented on #1965
I'd like to see this happen +1

[2019-06-11 19:23] alekc commented on #3959
I did both, checking out the latest devel tip and checking the fcf6b4ae454304ddb1b4a8a1ef972e377dff6036 (which should be the 4.0.0). On both occasions I encountered this issue.

I've launched a brand new install (dev tip, without touching inventory) on debian stretch and it worked fine. I'll try to run it with my attached inventory to see if the issue comes back, and if it is what part of inventor

[2019-06-11 19:38] mabashian commented on #3298
OK actually I don't think this is a regression.  You _are_ able to click into the preview and it shows a cursor but you can't actually edit anything.  This behavior is expected because completely disabling the codemirror would prevent the user from copying/pasting out of that block which is something we've battled in the past.  I am going to open up a PR to disable some extra var fields that are c

[2019-06-11 19:38] #3298 closed, assigned to nobody

[2019-06-11 20:34] alekc commented on #3959
Ok, I believe I found what's causing my issue.
In my version of inventory file I changed these 2 lines
[code]
to
[code]

after changing it back installation (and user's init) went fine. I suppose somewhere those hostnames are hardcoded and not being updated by the composer script.

[2019-06-11 22:03] larrybg opened #4047 "SAML authentication shows wrong username"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Configured AWX with SAML authentication. I can login to the server but my username is shown as 32 characters string like this one: f7da396ebde947069841feb69f8bed7c

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: Linux
* Web Browser: Chrome, Safari

##### STEPS TO REPRODUCE
Conf

[2019-06-12 04:30] LKS1302 commented on #3621
@karungn1 ,

Hi,

Am getting the same error while performing the same action.
May i know how did you resolve it.

TASK [local_docker : Set DockerHub Image Paths] *************************************************************************************************************
ok: [localhost]

TASK [local_docker : Create /var/lib/awx directory] ***********************************************************

[2019-06-12 05:50] tomoliveri opened #4048 "nginx on awx_web creates PID in wrong location - awx intermittenttly refusing connections"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
/usr/lib/systemd/system/nginx.service
ExecStartPre=/usr/bin/rm -f /run/nginx.pid

/etc/nginx/nginx.conf
pid        /tmp/nginx.pid;

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7
* Operating System: Ubuntu 4.15.0-50-generic
* Web Browser: N/A

##### STEPS TO REPRODUCE
docker-compose up
make multiple

[2019-06-12 08:06] JoaoCastroFerreira opened #4049 "Missing documentation uninstall awx"
##### ISSUE TYPE
 - I would like to uninstall awx

##### SUMMARY
I install with ansible playbook but I don´t find a way to uninstall

[2019-06-12 13:37] ryanpetrello commented on #4049
There are multiple supported installation methods - how did you install it?  Please provide **all** of the details in the bug report issue template at https://github.com/ansible/awx/issues/new?template=bug_report.md

[2019-06-12 13:47] #4049 closed, assigned to nobody

[2019-06-12 13:48] matburt commented on #4049
This isn't the place to seek usage help. The irc channel or mailing list would be more suitable.

[2019-06-12 14:51] larrybg commented on #4047
got it working by removing `User.` from the configuration

[2019-06-12 14:51] #4047 closed, assigned to nobody

[2019-06-12 15:07] michalss commented on #3588
yes im getting this error as well :(

[2019-06-12 15:43] dellarte commented on #3879
Same using Apache2

Docker version 18.09.6
docker-compose version 1.24.0
ansible 2.8.1
Debian 9.9
Browser : Chrome

[2019-06-12 16:01] jhonjcastroh opened #4055 "IOError: [Errno 2] No such file or directory: '/var/lib/awx/.azure/azureProfile.json'"
When run this command it works:
`sudo ansible-playbook -i hosts create-vm-azure.yml --extra-vars "vm_name=test flavor=Standard_D2s_v3 resource_group=nebula user_vm=nebula pass_vm=Password" -vvvv`

But whit run the job at AWX doesn´t works....

**Output:
ansible-playbook 2.7.7
config file = /var/lib/awx/projects/_6__github_jhon/ansible.cfg
configured module search path = [u'/var/lib/awx/.ansible/pl

[2019-06-12 17:17] AlanCoding opened #4057 "Project update detail page in UI could use some more properties"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Here is a project with `scm_type` of hg:

![Screen Shot 2019-06-12 at 1 11 57 PM](https://user-images.githubusercontent.com/1385596/59371709-c45f8480-8d13-11e9-8405-b20f686913a4.png)

It would be nice if the side panel would show at least the scm type, and preferably the label from the options:

[code]

[2019-06-12 18:45] AlanCoding opened #4059 "Inventory source with credential has empty dictionary in summary_fields"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The UI is not showing content in the credential box in the UI for supported sources like gce

This seems to be because the API gives an empty dictionary where it should summarize that credential in `summary_fields`

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible

[2019-06-12 19:00] falcon78921 opened #4061 "Add the ability to lookup last time an Inventory was utilized"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per a customer's request, they would like to be able to review the last time an Inventory was utilized.

Inventories show a modified date/time:
[code]

In the same way an Inventory is modified, they would like to see a "last-utilized" timestamp.

[2019-06-12 19:03] falcon78921 opened #4062 "Add the ability to lookup last time a Credential was utilized"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per a customer's request, they would like to be able to review the last time a Credential was utilized.

Credentials show a modified date/time:
[code]

In the same way a Credential is modified, they would like to see a "last-utilized" timestamp.

[2019-06-12 19:10] kdelee commented on #4059
![Screenshot from 2019-06-12 14-45-30](https://user-images.githubusercontent.com/29239279/59379272-363fca00-8d24-11e9-9424-12dd8ee89966.png)

For example, this inventory source has a credential associated but it is not showing in UI

[2019-06-12 19:17] kdelee commented on #3922
@AlanCoding ... no I did not put that var in. Will try again

[2019-06-12 19:26] kdelee commented on #3922
tried it in extravars, did not work:

[code]

[2019-06-12 19:39] kdelee commented on #3922
Same result when I tried with `gcp_compute_disk_auth_kind: "serviceaccount"` in the host vars

[2019-06-12 19:51] AlanCoding opened #4063 "UI popup on successful token deletion that does not make sense"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Deleting a token in UI gives unwanted and confusing pop up

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Click on the icon in the UI with your user name

go to tokens

delete one

###

[2019-06-12 20:00] kdelee commented on #3922
Ok I think that is failing because of the line:

[code]

because in this module,
https://github.com/ansible/ansible/blob/56179ad8ef1927b9fd9dbacbb59186d61a8c6da9/lib/ansible/module_utils/gcp_utils.py#L196-L199

they are looking for `'GCP_SERVICE_ACCOUNT_FILE'` not `        "GCE_CREDENTIALS_FILE_PATH"`,  which is what we set in the `JOB_ENV`

All keys we set for this job:
[code]

[code]

[2019-06-12 20:16] ryanpetrello commented on #79
### Implementation Notes for Custom HTTP Method + Basic Auth Support

Discussed implementation details of this feature w/ @beeankha today.  Here are some highlights of the work to do:

#### Custom HTTP Method

1.  Add a new `init_parameter` to `awx.main.notifications.webhook_backend.WebhookBackend`.  This field will capture a new "HTTP Method" field that will be configurable from the UI.  Ideally,

[2019-06-12 20:23] mabashian commented on #3302
I think this has been fixed - probably by @keithjgrant.  This is what I see when I try to reproduce:

<img width="800" alt="Screen Shot 2019-06-12 at 4 22 34 PM" src="https://user-images.githubusercontent.com/9889020/59383672-6a1fed00-8d2e-11e9-90a0-7986f03c3704.png">

Which seems reasonable to me.  The user cannot move forward with the launch until they correct the error.

I also don't see any st

[2019-06-12 20:53] jirib opened #4065 "INSTALL.md prerequisites clarification needed for remote deployment and with official images"
##### INSTALL.md could clarify prerequisites for remote deployment and official images
- prerequisites clarification when using official images
- prerequisites clarification for remote deployment

##### SUMMARY
- prerequisites clarification when using official images

When one is going to use official images does she still needs `GNU make`, `nodejs` and `npm`? I don't think so, or am I wrong?

 -

[2019-06-12 20:57] msilmser opened #4066 "RFE: Schedule jobs based on other scheduled job"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add the ability to schedule a job to run based on the run of another job. See the following use case:
[code]
The current ability to use 2nd or 3rd days of the week do not allow the flexibility this model does because in some instances, the 2nd Saturday may come after the 2nd Tuesday.

[2019-06-12 21:00] jdorel opened #4067 "HTTP 302 on OpenShift"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

After initialising AWX on an OpenShift cluster using install.yml, I only get HTTP 302 responses

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift
* Ansible version:  2.8.1 (also tried on 2.5.2)
* Operating System: Linux
* Web Browser: Firefox and Chrome

##### STEPS TO REPRODUCE

1) Create Provisioned Services postgresql

2) Stan

[2019-06-12 21:26] jamesmarshall24 opened #4068 "Add Org/Team Mapping to RADIUS/TACACS"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add organization, team, and RBAC mapping to RADIUS/TACACS auth provider.

[2019-06-12 21:35] wenottingham commented on #4066
This seems better off by creating a workflow that creates and schedules one-offs for jobs 2-4, and schedules that.

[2019-06-12 21:37] wenottingham commented on #4068
We do not map RBAC roles, only organizations and groups, and we restrict those to things that are more traditional enterprise directories. TACACS authorization doesn't really map to Tower objects.

[2019-06-13 02:04] LKS1302 opened #4069 "Error while installing AWX image on Ubuntu : Error connecting: Error while fetching server API version: Timeout value connect was Timeout(connect=10, read=10, total=None), but it must be an int or float."
Error while installing AWX image on Ubuntu

Distributor ID: Ubuntu
Description:    Ubuntu 19.04
Release:        19.04

ANSIBLE INSTALLATION ERROR :
******************************************************
******************************************************
TASK [local_docker : Create Docker Compose Configuration] ************************************************************************************

[2019-06-13 02:29] LKS1302 commented on #4069
Tried plenty of commands.
Docker started and running.
Docker pull hello-world
sudo systemctl status docker
sudo systemctl restart docker

Docker version : Docker version 18.09.5
Struggling with this error from weeks time.

[2019-06-13 07:45] baumber13 commented on #4069
I am getting the exact same issue but using Ubuntu 18.04.2

[2019-06-13 12:55] mabashian commented on #3831
I _think_ I understand why we don't `DELETE` but rather `PATCH` all the visible fields.  Not all of these forms correspond 1:1 with an endpoint:

- Authentication
  - AZURE AD - /api/v2/settings/azuread-oauth2/
  - GITHUB
    - Default - /api/v2/settings/github/
    - Org - /api/v2/settings/github-org/
    - Team - /api/v2/settings/github-team/
  - GOOGLE OAUTH2 - /api/v2/settings/google-oauth2/

[2019-06-13 12:58] SzosszeNET commented on #4066
Can you elaborate this through an example please? Looked at creating workflows, but struggling to see how the T+xdays could be implemented there.

[2019-06-13 13:05] #3302 closed, assigned to unlikelyzero

[2019-06-13 13:11] mabashian commented on #2421
This is probably a non-trivial amount of work on the ui-side.  It's definitely doable but we need to hash out the UX and we'll need to make sure we line up the previous launch data such that the prompt modal knows what to do with it all.  I think we could go a few different ways with this.  One option would be to _always_ show the launch modal when relaunch is clicked and if the user doesn't want

[2019-06-13 14:19] wenottingham commented on #2075
assigning as part of planned django 2.2 update

[2019-06-13 14:32] ryanpetrello commented on #2075
cc @jbradberry

[2019-06-13 15:19] jbradberry commented on #2075
Yep, ok, making a note of it.

[2019-06-13 15:20] wenottingham commented on #4066
You'd need to compute the rrule for 'run once two weeks from now', and post a schedule that does that.

[2019-06-13 16:33] ryanpetrello commented on #2075
It looks like in recent Djangos, `first_name` is still limited to 30 characters, but `last_name` got a bump to 150:

https://github.com/django/django/commit/d5b573d872bbe0d5825efaee2d41cb3cdc75417b

[2019-06-13 16:56] yannalf opened #4071 "awx installation on docker failed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx install with docker failing

##### ENVIRONMENT
* AWX version: devel
* AWX install method:  docker on linux
* Ansible version:  2.8.0
* Operating System: centos-release-7-6.1810.2.el7
* Web Browser: any

##### STEPS TO REPRODUCE

ansible-playbook -i inventory install.yml -vvv

##### EXPECTED RESULTS

success

##### ACTUAL RESULTS

TASK [local_docker

[2019-06-13 17:13] b2sweety commented on #4068
Hi Bill and Team,

The above Feature request was raised by James on my behalf (Case #02396390) after our discussion.
We would like to use either RADIUS or TACACS+  for remote user authentication and authorization. The authentication part exists today but the authorization part will be used to return back to Ansible Tower the User type value (normal user, system auditor, system administrator, etc.)

[2019-06-13 17:21] #2080 closed, assigned to beeankha

[2019-06-13 17:30] ryanpetrello commented on #2971
Closing due to age and no response.  Please retry on a newer version of AWX.

[2019-06-13 17:30] #2971 closed, assigned to nobody

[2019-06-13 17:31] ryanpetrello commented on #2982
@ijmason are you still encountering this issue in newer versions of AWX?

[2019-06-13 17:33] ryanpetrello commented on #3022
@elyezer to your knowledge, is this still an issue in `devel`?

[2019-06-13 17:33] ryanpetrello commented on #3023
@elyezer to your knowledge, is this still an issue in `devel`?

[2019-06-13 17:35] ryanpetrello commented on #3710
Hey @8Peter8,

Sorry for the delayed response - Windows Subsystem for Linux isn't a supported platform.

[2019-06-13 17:35] #3710 closed, assigned to nobody

[2019-06-13 17:37] ryanpetrello commented on #3784
@wenottingham this seems notable enough that it needs attention.

[2019-06-13 17:38] jakemcdermott commented on #3764
resolved by https://github.com/ansible/awx/commit/14045c10179460ec9823c0a3762f2b2227ccb02f

[2019-06-13 17:38] #3764 closed, assigned to nobody

[2019-06-13 17:39] ryanpetrello commented on #3745
Not really a bug, this is just how it works.

[2019-06-13 17:39] #3745 closed, assigned to nobody

[2019-06-13 17:40] #3821 closed, assigned to AlanCoding

[2019-06-13 17:50] #669 closed, assigned to benthomasson

[2019-06-13 17:50] #931 closed, assigned to benthomasson

[2019-06-13 17:50] #926 closed, assigned to nobody

[2019-06-13 17:50] #927 closed, assigned to benthomasson

[2019-06-13 18:11] wenottingham commented on #4068
See above; we don't map roles via directory platfoms, only organizations and groups.

[2019-06-13 18:11] wenottingham commented on #3784
How long has this worked? What permissions are required?

[2019-06-13 18:22] ryanpetrello commented on #3015
Hey @ssamdwii,

I'm closing this, as it's not an issue with AWX itself, but Red Hat Ansible Tower's documentation.

[2019-06-13 18:22] #3015 closed, assigned to nobody

[2019-06-13 18:23] ryanpetrello commented on #3064
This isn't a bug - if you need further assistance, please check out our Google Groups mailing list or the public IRC room on freenode (`#awx-devel`)

[2019-06-13 18:23] #3064 closed, assigned to nobody

[2019-06-13 18:30] ryanpetrello commented on #3445
Closing due to lack of response.

[2019-06-13 18:30] #3445 closed, assigned to nobody

[2019-06-13 18:31] matburt commented on #4010
Given the issue is now one where something is holding a reference to the directory we are trying to delete I'm wondering if I can get someone (@Spredzy ?) to run `lsof +D /path` when the problem crops up to see if we can figure out what's holding the reference.

[2019-06-13 18:31] ryanpetrello commented on #3448
@AlanCoding @kdelee how much do we care about tracking this?  Sounds like "just the way it works"?

[2019-06-13 19:19] AlanCoding commented on #3448
Ansible core fixed this by adding randomization to host names. We removed that randomization in order to get parity with legacy behavior. Users who hit this will have functionality of their inventory impacted.

[2019-06-13 20:43] b2sweety commented on #4068
Ok. What does 'Group' mean here? I could not find anything called 'group' in the tower. Also, if you can explain how the organizations and group mapping is done or share a link to read more on this information?
So we would have to first add all the users and assign them roles in the tower as you suggested there is no way to set access permissions using RADIUS or TACACS with Tower.
We were thinking

[2019-06-13 21:07] ryanpetrello commented on #4059
@AlanCoding @kdelee I'm able to reproduce this on `devel`.

[2019-06-13 21:09] jakemcdermott opened #4240 "add form error handling"
For any error that occurs when the user submits the form:

- show validation errors beneath the field (I think the login page already does this)
- show a message for all other errors in a general location on the form, probably near the action buttons

see taufique for mockups

[2019-06-13 21:12] ryanpetrello commented on #4059
@AlanCoding I figured it out.

I was a bit too liberal in my removal of `TODO`s:

https://github.com/ansible/awx/pull/3413/files#diff-a81324c523b41de7296fdd5ff9063d10L2007

[2019-06-13 21:12] jakemcdermott opened #4241 "content loading enhancements"
Right now we just show "loading". As a next step we probably want to show something a little nicer, like a spinner or skeleton lines.

sync up with taufique for scoping

[2019-06-13 21:16] jakemcdermott opened #4242 "content error enhancements"
For content loading errors we show a basic error message: "Something went wrong, please reload the page". There's a few ways we can make this better. Some ideas that have been discussed in various channels:

- ~display additional information for network errors in an expandable details area on the content error component.~ This was added with https://github.com/ansible/awx/commit/52851c57d8216c8abc

[2019-06-13 21:29] ryanpetrello commented on #3964
@gforster I'm not certain of the exact cause, but this very much seems like a situation where the binary in question `asset_list` can't be found on the `PATH` in the container where the playbook is running.

Given that you've reported:

You may want to consider reaching out to Red Hat for official support.

[2019-06-13 21:29] #3964 closed, assigned to nobody

[2019-06-13 22:30] jakemcdermott opened #4243 "boot user to login page when auth cookie is expired or no longer authenticated"
There's not a lot of great options here as far as I can tell. One approach we've discussed at some length is using one of the request / intercept hooks from `axios`. I don't like that this ties us to a particular http interface object. Plus, it doesn't cover session expiration.

I don't think there are any native event handlers we can tap into for cookie changes that are supported on all browsers.

[2019-06-13 22:39] jakemcdermott opened #4244 "add a generic "not found" page and route for unknown / unmatched routes"
Content errors and their [future enhancements](https://github.com/ansible/awx-pf/issues/259) should have us covered for when the user attempts to access a non-existent or inaccessible resource with a correctly structured url (ex: `/organizations/100` where there is no organization with id `100`)

We _also_ want to add a default "not found" page that the router can use when no matches are found for

[2019-06-13 22:47] apitanga commented on #3922
@kdelee I also found the same in my tests.  One possible path forward is to just create a temp file using the contents of the entire GCP credential file and point the GCP_SERVICE_ACCOUNT_FILE env var to it.  Would the dynamic inventory file also work with this approach?

[2019-06-13 23:07] jamesmarshall24 commented on #4068
Hello @b2sweety,

The way this works with other auth providers is you preemptively map out the permissions at the team level. The RBAC roles which provide certain permissions to objects in Tower (objects such as Teams in this instance) are covered in our [Security: Role Based Access Controls](https://docs.ansible.com/ansible-tower/latest/html/userguide/security.html#role-based-access-controls) doc

[2019-06-14 01:02] sugitk opened #4076 "Incorrect CSS applied to Labels in Job Template Expanded View"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Incorrect CSS applied to Labels in Job Template Expanded View

##### ENVIRONMENT
* AWX version: Tower 3.5.0
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Multiple `LABELS` defined to the Job Template.

##### EXPECTED RESULTS

![After (1)](https://user-images.githubusercontent.com/2234991/59478254-a02ab180-8e93-11e9-9419-ebb4e74723cd.PNG)

![ManyLab

[2019-06-14 02:16] MrBones757 commented on #4076
@j-shade and i will submit a PR to resolve this issue.

[2019-06-14 07:43] BramFr opened #4078 "Build AWX with custom logo"
##### ISSUE TYPE
 - Bug Report / Local issue

##### SUMMARY
Try to build a new awx image with custom logo. But i`ll get potato image :)

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker
* Ansible version:  2.8.1
* Operating System: debian / docker
* Web Browser: chrome latest

##### STEPS TO REPRODUCE

Dir structure
./awx_build/
├── awx (git clone https://github.com/ansible/awx.

[2019-06-14 09:19] dellarte commented on #371
Hello guy, since this feature isn't implemented yet, do you have any idea how can i filter only two hosts (choosed by human) amoung my WMWare dynamic inventory ?

[2019-06-14 09:31] vishal01de commented on #3916
Even I'm facing same problem,  is there anyways to fix it or file where i can change the url

[2019-06-14 11:21] jasweet commented on #371
@dellarte
Your question, as worded, doesn’t seem relevant to this thread. You could use “limit” for what you’ve asked.

[2019-06-14 13:02] AlanCoding commented on #3922
I added `GCE_CREDENTIALS_FILE_PATH` as an env option for the inventory plugin so that it can be used in a way congruent with the modules.

https://docs.ansible.com/ansible/latest/plugins/inventory/gcp_compute.html

Since this is not preferred, I'm totally fine with deprecating it and adding a new alias, but that will leave us in a weird place for cross-version compatibility, having to duplicate th

[2019-06-14 15:06] MathijsVanWilligen commented on #3951
@larrybg, do you have fixed this issue?
My job output will be showing after 2 day's, i'm also running on AWX 4.0.0

[2019-06-14 16:42] okelet commented on #3924
@mabashian I am using AWX 4.0 (and was using also 2.0) with the same issue. Installed with Kubernetes. Tried with Firefox and Chrome in Kubuntu 18.04, with the same result, only a grey circle. But my login screen is different, I don't have that angry peanut, but the AWX logo with wings (see screenshot here https://imgur.com/a/CZGuKMy)

[2019-06-14 17:31] larrybg commented on #3951
No, we didn’t. Our outputs showed up later. Turned out its a server
performance issue.

On Fri, Jun 14, 2019 at 11:06 AM Mathijsvw <notifications@github.com> wrote:

[2019-06-14 19:12] jimmyface commented on #2183
I just checked with version 3.0.0 and it appears to be working fine now.

[2019-06-14 19:31] mabashian opened #4245 "Notification type should be a column rather than badge in the list"
Mockup: https://tower-mockups.testing.ansible.com/patternfly/orgs/orgs-notifications/

We are currently showing it as a badge:

<img width="1415" alt="Screen Shot 2019-06-14 at 3 31 01 PM" src="https://user-images.githubusercontent.com/9889020/59533443-75ebea80-8eb9-11e9-9469-e4730474cc3d.png">

[2019-06-14 20:33] ijmason commented on #2982
@Ryan, unfortunately I haven't had any time to even upgrade at all, let
alone see whether newer versions fix the problem.  I am focused on another
project for the near future, but if time permits I would like to try
upgrading and see if the issue persists.  I'll try to update the thread if
I get around to this.

On Thu, Jun 13, 2019 at 1:31 PM Ryan Petrello <notifications@github.com>
wrote:

--
Jo

[2019-06-14 22:01] jamesmarshall24 opened #4081 "Add Prompt on Launch Checkbox for Machine Credential Username"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add a prompt on launch option for username within machine credentials

[2019-06-14 22:52] unlikelyzero opened #4082 "Smart Inventory Edit Form is not displaying correctly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Smart Inventory Edit Form is not displaying correctly

##### ENVIRONMENT
* AWX version: 4.0+

##### STEPS TO REPRODUCE

1. Create a Smart Inventory
2. Navigate to that Smart Inventory

##### EXPECTED RESULTS

Smart Inventory Form to appear

##### ACTUAL RESULTS

Corrupted view with limited functionality

##### ADDITIONAL INFORMATION
<img width="1049" a

[2019-06-16 03:23] LaurentDumont commented on #3551
Just got bit by this. I'm not sure why the default location would be somewhere that is deleted after a reboot. Seems a bit counterintuitive.

[2019-06-16 18:27] ronnicek opened #4084 "Ansible version should be 2.8.x in latest (4.0.0) container"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Ansible version in docker version is still 2.7.9

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version: 2.7.9
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Ansible version should be updated in image (and all packages in image) and not only when version is released

[2019-06-17 08:36] lijok commented on #4069
Could you post the full traceback? Set verbosity to the highest to get that
Also, please post the output of pip freeze

[2019-06-17 09:33] nicolaibaralmueller commented on #3888
@xsecops I have ansible 2.8 on centos7.3 and the error is still there.

[2019-06-17 10:11] nicolaibaralmueller commented on #4059
We are experiencing the same bug with devel branch installer. We can't add credentials to inventories.

[2019-06-17 10:59] siw36 commented on #452
You probably don't want to disable the host key checking "tower wide".
One approach is to overwrite the ansible.cfg variable in each inventory that contains nodes that may change their SSH key over time.

[code]

[2019-06-17 11:45] mabashian commented on #4082
Came in with https://github.com/ansible/awx/pull/4044

[2019-06-17 14:27] wenottingham commented on #4081
The prompt-on-launch for cred fields is for secrets; the username isn't a secret, and is best done by having a credential that defines the username.

[2019-06-17 14:27] nuriel77 commented on #2240
+1 for this too

[2019-06-17 14:50] mabashian opened #4246 "Notify user that a Template is used in a Workflow before deleting on Templates List"
In the existing application we'll check to see if a JT/WFJT is being used in a WFJT somewhere and alert the user to that fact in the delete confirmation modal.  https://github.com/ansible/awx-pf/issues/242 is not going to provide support for this out of the box so this issue is meant to track that functionality.  It's likely that some UX help will be needed to figure out how this will work with "b

[2019-06-17 14:58] Stan1sl0s opened #4086 "Job scheduled in template part stay in pending state"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hello, when we schedule a job in Job template, job is correctly scheduled but stay in pending state.
Note : on inventory part, when we want to execute a command it works fine.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method : docker on linux
* Ansible version:  2.8.0
* Operating System: RH7
* Web Browser: Firefox 66.04

##### STEPS TO REPR

[2019-06-17 15:13] b2sweety commented on #4081
The creds to login to each network device is using their own username and password. Since tower doesn't have object mapping with TACACS, we would have to create machine credential for each user in the tower and keep changing it in the playbook before launching it. So instead of adding each user details, if the option was to have username field as well on 'prompt launch, a user can provide their re

[2019-06-17 15:24] beeankha commented on #4022
This issue is currently being worked on in PR https://github.com/ansible/awx/pull/3982.

[2019-06-17 15:25] Stan1sl0s commented on #4086
it's OK, problem comes from a parallel config of instance group that I have set to 0.

Thanks,

[2019-06-17 15:25] #4086 closed, assigned to nobody

[2019-06-17 16:27] ghost opened #4087 "How to include pyvcloud?"
##### ISSUE TYPE
 - I would like use pyvcloud with AWX

[2019-06-17 17:21] mrwiora commented on #3551
just created a PR to solve this issue permanently

[2019-06-17 19:00] jamesmarshall24 opened #4089 "Allow Vault Credentials for Project SCM Type Inventories to process encrypted vault files"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Inventories sourced from project SCM do not currently support vault credentials. When using inventory plugins with secrets within the yaml spec files, there is no way to cleanly decrypt the vaulted file to allow the plugin to run its course.

Custom credentials are also not an option as AWX/Tower reserves all environment variables starting with `ANS

[2019-06-17 19:00] wenottingham commented on #4081
You can prompt on launch for the entire credential.

[2019-06-17 19:03] wenottingham commented on #4087
Hi - this is not a bug report. Your query is best handled by reading the documentation (https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md), or reaching out on the mailing list or IRC channel. (https://github.com/ansible/awx/#get-involved)

[2019-06-17 19:03] #4087 closed, assigned to nobody

[2019-06-17 19:15] machoog546 commented on #4069
I think I'm running into the same issue. Here is the output from the VM i'm working on. (Fresh install of 18.04)
pip freeze:
[code]

[2019-06-17 19:15] b2sweety commented on #4081
Right but in that case, we need to have a credential created and stored in the tower which we can select when prompted. We are looking at a  way of running the playbook to provide both username and password on the prompt. Would that be a possibility to be implemented?

[2019-06-17 20:14] rooftopcellist opened #4091 "WFJT Create form greyed out for Admin User"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When logged in as an admin, I cannot create a WFJT in the UI (though I can in the API).  The create form in the UI is greyed out.

![image](https://user-images.githubusercontent.com/11698892/59633645-fa897380-911a-11e9-9f15-188152a124f9.png)

`git bisect` tracked this back to this PR: https://github.com/ansible/awx/pull/4041

It looks like a permission

[2019-06-17 20:38] lijok commented on #4069
@machoog546 your pip freeze doesn't look right, docker-compose is incompatible with docker-py as stated in the installation guide. Having just spun up a brand new ubuntu 18.04 vm and following the installation guide, this is the output of pip freeze you should be getting:
[code]

[2019-06-18 01:08] sugitk opened #4092 "UI Improvement for suppressing `ok` from the result of job output"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When a very huge job output, I would like to see only `changed` and `failed` without `ok` tasks.

In the upper left of the box there is a `+` / `-` icon, how about `changed` button or icon like that?

[2019-06-18 02:23] donateur commented on #4092
Thank you, this would be invaluable for us!

We use Ansible Tower to check/enforce configuration not only to do initial provisioning.  This means there are usually hundreds of tasks for hundreds of managed nodes which do not change.  Most of the time we only want to see the changes, but we sometimes also need to be able to check tasks have run.

[2019-06-18 05:43] liaogx opened #4093 "[Installation Problem] Error starting project Encountered errors while bringing up the project."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I run `ansible-playbook -i inventory install.yml`, I got an error like this
[code]

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method:  docker on linux
* Ansible version:  2.8.1
* Python version: 3.7.2
* Operating System: Red Hat Enterprise Linux Server release 7.3
* Web Browser: Chrome

##### STEPS TO REPRODUCE

I got this error when I

[2019-06-18 06:40] irfanpule opened #4094 "Failed to save settings. Returned status: 504 on change logo"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
`Failed to save settings. Returned status: 504` When I change logo in settings > user interface

##### ENVIRONMENT
* AWX version: 2.1.2
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.7.4
* Operating System: CentosOS 7
* Web Browser: firefox

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

[2019-06-18 07:18] liaogx commented on #4093
Good news! I've solved the problem by myself
`yum -y update`
it looks like caused by the incompatibility of system version.

[2019-06-18 07:18] #4093 closed, assigned to nobody

[2019-06-18 08:23] wenottingham commented on #4092
This is what the filter is for. Example:

![Screenshot from 2019-06-18 10-23-08](https://user-images.githubusercontent.com/5208768/59665410-20faed80-91b3-11e9-98a3-50f872c54caa.png)

[2019-06-18 08:27] LKS1302 opened #4095 "AWX Tower UI is giving different error as compared to AWX core while running any win_ping or any module from Run Command action."
COMPONENT NAME - UI

ENVIRONMENT :
* AWX version: 2.8.1
* AWX install method: docker on linux : Ubuntu
* Ansible version:  2.8.1

Hi,

TOWER RESULT : ERROR  while running basic win_ping module using Run Command on 1 host.
{
    "msg": "pypsrp or dependencies are not installed: cannot import name NtlmContext",
    "_ansible_no_log": false
}
But when we run the same module directly on the core it gi

[2019-06-18 08:27] lovisharma1 commented on #4095
![image](https://user-images.githubusercontent.com/36501381/59665704-ffffc000-91e5-11e9-9d41-2ff26c847803.png)

[2019-06-18 08:30] LKS1302 commented on #4095
![image](https://user-images.githubusercontent.com/36501381/59665925-6a186500-91e6-11e9-8525-37094738a762.png)

[2019-06-18 08:58] wenottingham commented on #4095
To work out of the box, use the winrm connection plugin.

If you want to use the PSRP plugin, you'll need to work on modifying the image and/or using a custom venv. See here: https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

[2019-06-18 08:58] #4095 closed, assigned to nobody

[2019-06-18 11:54] dellarte commented on #371
@jasweet
I probably did not express myself well. I have created a Synchronized Vmware Inventory which lists my virtual machines in "hosts" very well.
I added custom variables directly on choosen host through the "details" page of an host in order to be able to filter this host in a smart inventory.
e.g. If I set a "upgradable: true" variable on 2 of my hosts (still available from vmware inventory)

[2019-06-18 12:56] jasweet commented on #371
You can build your inventory, using a dynamic script or otherwise, and then
create a playbook that caches the desired host variables as ansible facts.
If using a dynamic inventory script, and such a playbook, and you don't
want to run two separate jobs, you can create a workflow and incorporate
each into the workflow. Then you have a single call to kick it off.

On Tue, Jun 18, 2019, 6:54 AM gg <n

[2019-06-18 17:19] chrismeyersfsu opened #4099 "SAML Regression"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Multiple "Invalid Field" responses for various SAML configuration parameters.

##### ENVIRONMENT
* AWX version: devel

##### STEPS TO REPRODUCE

* PATCH to /api/v2/settings/saml
[code]

##### EXPECTED RESULTS

* 200

##### ACTUAL RESULTS

400 BAD Request
[code]

##### ADDITIONAL INFORMATION

Possibly due to Django + package upgrades.

[2019-06-18 17:33] oroomans opened #4100 "Error when composing : manifest for ansible/awx_web:5.0.0 not found"
- Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Installer seems broken since the push https://github.com/ansible/awx/commit/5d49fe2170f34767cb21f7b6ca84269566dad247

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method:  docker on linux,
* Ansible version:  5.0..0
* Operating System: Ubuntu 18.04 LTS
* Web Browser:

##### STEPS TO REPRODUCE

ansible-playbok -i inventory insta

[2019-06-18 17:38] oroomans commented on #4100
Setting back VERSION file to 4.0.0 does solves the issue as workaround

[2019-06-18 17:44] shanemcd commented on #4100
5.0.0 is not released yet. If you want to track devel you'll need to build your own images. Otherwise it's always a good idea to track a specific tag.

[2019-06-18 17:44] #4100 closed, assigned to nobody

[2019-06-18 20:25] MrMEEE opened #4102 "VERSION file and tag doesn't agree on version?"
Hi guys...

The VERSION file and the git tags doesn't agree on the version of AWX.. the Version file says 5.0.0, but the git version is saying: 4.0.0-767-ge3750f541??

[2019-06-18 20:28] #4102 closed, assigned to nobody

[2019-06-18 20:28] MrMEEE commented on #4102
forget it, just me not understanding how git works

[2019-06-18 22:40] donateur commented on #4092
No, just searching for "changed" fails to show the name of the task which changed, forcing you to click in to each to read it.  When dealing with 10s of changes this is tedious.  When there are numerous changes (out of hundreds of tasks) it can also be difficult to keep a track of which line you just clicked on for the task name.
Also searching this way completely hides all playbook load messages,

[2019-06-18 23:06] donateur commented on #4092
We deal with tens of thousands of lines of job output (even with with multiple isolated nodes splitting big jobs).  As we use Ansible to enforce configuration, we'd really like to see a clear summary of what changed as, at worst, it could indicate malicious activity (insider threat).  At best it's a transient problem and we need to improve some tasks.

We start with reading the PLAY RECAP and then

[2019-06-19 00:48] LKS1302 commented on #4069
Hi,

It's got solved for me. Remove all the docker related packages and upgrade the all the python related packages. And install package,
1. Request
2. Docker-compose
3. And then trigger the playbook.

[2019-06-19 00:48] #4069 closed, assigned to nobody

[2019-06-19 02:19] tchellomello commented on #3134
Hitting the same issue.

[2019-06-19 09:03] Spredzy commented on #4022
verified

[2019-06-19 12:38] wenottingham commented on #4092
If this is the default behavior you'd like to see for stdout display for a particular playbook or set of them, this is best set in the ansible.cfg alongside the playbook; it will be respected by the output shown in Tower.

What tasks/hosts/etc are shown when those options are set is determined by logic embedded in the display callback itself that changes what is returned from the event (in this ca

[2019-06-19 12:48] ryanpetrello commented on #4022
@Spredzy did we actually test upgrade/migrations for these relationships on upgrade?  I found a subtle bug while reviewing the PR that would have caused us to lose data on organization-wide any notifications on upgrade:

https://github.com/ansible/awx/pull/3982#discussion_r294885498

I'd really like to see testing that involves setting up "any" relationships on:
- Organizations
- Job Templates
- I

[2019-06-19 13:50] benapetr opened #4108 "Admins of a team's organization show as un-removable ADMIN entry in permissions of resources"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
See this video: https://petr.insw.cz/tmp/awx_bug.mov

You can see that there is a team existing - with 2 users, who are admins in their organization, but not AWX system admins. They are automatically also admins of the team.

Then I open inventory belonging to completely different organization and using permission system I grant their TEAM use and read

[2019-06-19 13:53] shanemcd commented on #4084
Ansible 2.8 came out after 4.0.0. We don't rebuild released images, so you'll need to upgrade to 5.0.0 to get the latest version of Ansible. If that is not something you can swing at the moment, you could always check out the 4.0.0 tag and build the images yourself.

[2019-06-19 13:53] #4084 closed, assigned to nobody

[2019-06-19 13:56] shanemcd commented on #4094
Interesting. I have not seen this before. I see that you are on AWX 2.1.2. Please try upgrading to a more recent release and open another issue if you are still seeing the problem.

[2019-06-19 13:56] #4094 closed, assigned to nobody

[2019-06-19 14:00] shanemcd commented on #4078
You can provide a custom logo via the UI / API. We include the potato image when building the images yourself for trademark reasons.

[2019-06-19 14:00] #4078 closed, assigned to nobody

[2019-06-19 14:00] benapetr commented on #4108
Same problem with other items - such as templates, or anything that you can define permissions for. There seems to be some flaw in whole permission mechanism.

[2019-06-19 14:01] shanemcd commented on #4071
This looks like a problem with your local docker environment and not a bug with AWX itself. For help with general troubleshooting, come visit us on IRC or try the mailing list.

[2019-06-19 14:01] #4071 closed, assigned to nobody

[2019-06-19 14:09] ryanpetrello commented on #4091
@rooftopcellist @mabashian does this affect anything other than `devel`?

[2019-06-19 14:45] mabashian opened #4247 "Make Templates list responsive"
Blocked until #4225 landes so that all the list contents are in place.  This will be similar to the work done for the orgs list.  As the page gets smaller we'll want to stack columns and change alignment.

[2019-06-19 14:49] HariSekhon opened #4109 "Jobs return "Successful" even when host pattern broken and failing to match or run against any hosts"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Host pattern failed to match, AWX job ran against no hosts but returned Successful

##### ENVIRONMENT
* AWX version: 4.0.0.0
* AWX install method:  docker on linux
* Ansible version:  2.7.9
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

I had an AWX job that used to work, someone changed inventory tags which meant the host p

[2019-06-19 14:52] HariSekhon commented on #4109
Turns out my colleague has been working around this "feature" by writing his playbooks with all hosts and then putting the limit in the AWX Limit box of the job template, which seems highly risky as if someone ran the playbook from the command line instead all hell would break loose across servers.

[2019-06-19 14:55] ghost commented on #3705
Just ran into this one, I think the default should not be /tmp

[2019-06-19 15:12] wenottingham commented on #4108
This is a display issue only, they don't actually have those permissions.

[2019-06-19 15:15] LeDOC666 commented on #2944
Hello,
Thanks for your info,
I've seen this $*#ing proxy is running.
I will configure it without it later. I will clise this issue by waiting.
Thanks

[2019-06-19 15:15] #2944 closed, assigned to nobody

[2019-06-19 15:22] wenottingham commented on #4108
It *may* be an API issue in how access_list is populated for the UI to read, given that the user's admin access in org A is showing up in the access list (under `indirect_access`) for the inventory in org B. CC @AlanCoding

[2019-06-19 15:27] wenottingham commented on #4109
This is ansible behavior - see https://github.com/ansible/ansible/issues/14693

[2019-06-19 15:27] #4109 closed, assigned to nobody

[2019-06-19 17:06] Spredzy opened #4110 "Environment in which project_update.yml is run does not inherit from machine environment"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

  - The machine the AWX server is running on has `LC_CTYPE` set and define to a meaningful value for my use case. However when I am running a project sync this value is not part of the environment the playbook is run with, leading to a failure if I use subversion with utf-8 folder/filde names.

##### ENVIRONMENT
* AWX version: devel
* AWX install met

[2019-06-19 17:08] #4110 closed, assigned to nobody

[2019-06-19 17:09] falcon78921 opened #4111 "Set execution rights to custom inventory scripts synced from Git"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When syncing custom inventory scripts from Git, the script may not have the execution bit set (i.e. `chmod +x`).

Users may run into this issue because of execution permissions:
[code]

Per a customer's request, they thought it would be nice if a  `chmod +x` command were executed on custom inventory scripts being pulled down from Git.

[2019-06-19 19:13] otdouglasm commented on #411
Another option is to add a config file with the specific options you want, e.g.:

[code]

This solved the cert verification error on a RH Tower 3.4 instance.  Set ownership and permissions the same as other files in the same directory (root:awx, 640).

[2019-06-19 19:23] mabashian opened #4248 "Delete icon tooltip doesn't list resources that user cannot delete"
<img width="1446" alt="Screen Shot 2019-06-19 at 3 21 37 PM" src="https://user-images.githubusercontent.com/9889020/59794035-06557100-92a6-11e9-9fe5-543dc4529c28.png">

The intended behavior is that the user should see a list of the resources that they don't have permission to delete when they hover over that button.  It looks like an array of divs is being generated but it's not being rendered pr

[2019-06-19 19:36] ryanpetrello commented on #4022
@Spredzy we're merging a fix for this:

https://github.com/ansible/awx/pull/4098

[2019-06-19 19:51] unlikelyzero opened #4113 "Unable to create 'Grafana' Notification Type"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to create 'Grafana' Notification type. I can edit an existing notification to _become_ a Grafana type but cannot make further edits.

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: N/A
* Ansible version:  N/A
* Operating System: macOS 10.14.5
* Web Browser: Firefox  	60.7.0esr

##### STEPS TO REPRODUCE

1. Navigate to the Notificat

[2019-06-19 20:14] fvzwieten opened #4115 "gce dynamic inventory hosts are always disabled"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hosts synced from GCE are all "off" (disabled)

##### ENVIRONMENT
* Tower version 3.5.0
* Tower bundle on RHEL 8.
* Ansible version:  2.8.0
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

- Created GCP credential. I created a key for the "Compute Engine default service account", downloaded the JSON and uploded that into the GCP credential

[2019-06-19 20:38] kdelee commented on #4059
@nicolaibaralmueller I just tested the fix that was merged a few hours ago. It is working for me now.

Please try again and ping me if it is not working for you. Going to close for now.

[2019-06-19 20:38] #4059 closed, assigned to ryanpetrello, kdelee

[2019-06-19 23:13] donateur commented on #4092
Thanks @wenottingham it's helpful for me to understand the complexities of what I ask.

We recently had our main repo restructured by a Red Hat consultant so that it would work with both Engine and Tower, but for reasons I don't understand tower is not reading the relevant ansible.cfg file at job time (there are multiple depending on which network the job is on which I imagine is part of the probl

[2019-06-20 01:37] tchellomello commented on #3134
Hello guys, I've submitted the PR https://github.com/ansible/awx/pull/4116 that takes care of this problem. Thanks!

[2019-06-20 02:19] #3134 closed, assigned to nobody

[2019-06-20 03:57] miyuk opened #4117 "Unable to create Workflow Template."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to create workflow template because I cloud not select name area by grayed-out.
I changed browser language and try it, but result was the same.

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.1
* Operating System: CentOS 7.6
* Web Browser: Chrome 75.0.3770.100

##### STEPS TO REPRODUCE
1. Log

[2019-06-20 06:26] ChinaParrot opened #4119 "代码理解-展示页面在那里？"
django的路由templates页面在那里？

[2019-06-20 06:27] ChinaParrot commented on #4119
中国朋友回答一下，谢谢

[2019-06-20 07:17] drzippit opened #4120 "Azure ad authentication not sending correct base URL"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I've set the base URL to https://awx.myurl.com but when I try to authenticate with Azure AD (which shows the https:// url in the callback url) it sends the callback url as http://

##### ENVIRONMENT
* AWX version: 4.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: Ubuntu 18.04
* Web Browser: Firefox and Vivaldi

[2019-06-20 07:53] jukito commented on #4030
Any workaround?

[2019-06-20 08:02] jukito commented on #4030
Excuse me, stupid question.
I have copied the sdk files directly to the container as workaround and it works perfectly.

[2019-06-20 08:07] smapjb commented on #4030
Sure - you need to add an additional venv to the image - Here are my _notes to self_ using upstream tower - adjust to use AWX images.

---- using buildah and podman to add a venv to the upstream tower container so we can use the latest ovirt modules.

<<< Dockerfile - note need some jiggery with subscription manager.

[code]

Commands to build this dockerfile assuming it is in folder tower_venv.

[2019-06-20 09:17] rbenabbas commented on #3130
Hello,
I had the same issue when I test with latest version of chrome, the problem fixed.

[2019-06-20 10:51] Spredzy commented on #4022
[code]

Load script:

[code]

Verify script:

[code]

[2019-06-20 12:28] #4022 closed, assigned to Spredzy, beeankha

[2019-06-20 13:38] pharriso opened #4121 "ovirt dynamic inventory script in Tower does not work with ovirt 4.3"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

ovirt.py dynamic inventory shipped with Tower 3.5.0.1 fails on inventory sync with RHV/Ovirt 4.3.

The problem related to inventory sync with ovirt 4.3 was fixed in this issue - https://github.com/ansible/ansible/pull/54338/

But this fix is not in the inventory script shipped with Tower.

##### ENVIRONMENT

* Tower Install - 3.5.0.1

* AWX install me

[2019-06-20 14:53] clushie commented on #2540
Hey, @brtknr's commit on https://github.com/ansible/ansible/commit/c6ed5b314dc211684cfd1342577d034b6de20fa3#diff-08a7b15797f6155ec95b515230231ee8 now breaks this even further, making it impossible to use the `os_stack` ansible module with the parameter "tag".

Workaround forme now is to run:

[code]

which might has unexpected side-effects.

This two requirement files need to be updated in order t

[2019-06-20 15:02] brtkwr commented on #2540
@clushie I addressed the problem with the fix in https://github.com/ansible/ansible/pull/56710 which was merged to Ansible version 2.8.1. I tried to get Ansible gatekeepers to back port this fix to 2.7.* but it wasn't deemed `critical`.  See https://github.com/ansible/ansible/pull/57100

cc @abadger

[2019-06-20 15:24] clushie commented on #2540
Hey @brtknr thank you so much for your immediate response and already tackling down the issue with your fixes.

I've also just created a pull-request with the updated openstacksdk version, I don't know if this makes sense or not. I'm scared of that this updated file possible breaks other things that aren't foreseen. Especially I couldn't quickly find a changelog for the openstacksdk https://pypi.o

[2019-06-20 15:25] dsesami commented on #3811
Both successful and failed notifs, as well as the absence of recent notifications appear correctly in popovers now.

[2019-06-20 15:26] #3811 closed, assigned to mabashian, dsesami

[2019-06-20 15:51] dsesami commented on #3929
This appears to still be an issue, it is still bold. changing labels to needs_devel
cc @AlexSCorey

[2019-06-20 16:11] rooftopcellist commented on #4091
It looks like the commit that caused it is not in release_3.5.1, I haven't spun up an instance to test it yet though.

[2019-06-20 16:37] ryanpetrello commented on #4115
Hey @fvzwieten,

This should be resolved in the most recent version of AWX.  It came about due a (subtle) recent change to Google's API:

https://github.com/ansible/awx/pull/4052

[2019-06-20 16:37] #4115 closed, assigned to nobody

[2019-06-20 16:41] ryanpetrello commented on #4113
Moving this to `state:medium`, it's a JS error traceback being thrown.

cc @mabashian

[2019-06-20 17:23] jakemcdermott commented on #4034
@jtstuedle

That feature isn't available on the 4.0.0 images. You'll need to update to a later version than whats on the 4.0.0 container images.

[2019-06-20 17:23] #4034 closed, assigned to nobody

[2019-06-20 17:56] ghost opened #4125 "Can't install psutil when I tried create new virtualenv with python 3 and pyvcloud"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I tried create new virtualenv with python 3.6, ansible 2.8.1 and pyvcloud, but can't install psutil.
I follow this guide https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: docker on linux
* Ansible version: 2.8.1
* Operating System: Centos 7
* Web Browser: Chrome 73

#####

[2019-06-20 18:46] kdelee commented on #3798
This is working for me! Thanks

[2019-06-20 18:46] #3798 closed, assigned to AlanCoding, kdelee

[2019-06-20 19:19] mabashian opened #4249 "Prevent double click on templates list launch button"
#243 will add launch buttons to the job template rows in the templates list.  Something that we've run into in the past is that some users will double click on the launch icon which can inadvertently launch the job twice.  We'll want to prevent this behavior from happening.  I envision disabling the button after it's been clicked until either a) the job has been launched or b) an error has been th

[2019-06-20 20:54] kdelee opened #4127 "Job Event parent not linked in related"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

While verifying that job event children were properly linked to when https://github.com/ansible/awx/issues/3798 was fixed, I noticed that the parent was then not referenced by the children.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operat

[2019-06-20 21:13] chrismeyersfsu opened #4129 "support v2_runner_on_start event that is to be added in Ansible 2.8"
https://github.com/ansible/ansible/pull/47684/files Ansible 2.8 is adding a `v2_runner_on_start` event type. Pre Ansible 2.8 a single event is emitted, `playbook_on_task_start`, when a play begins. Then, an event of the form `runner_on_*` is emitted for _each_ host when it finishes the task. Now, for each `runner_on_*` finish event, there will be a corresponding `v2_runner_on_start` event.

This i

[2019-06-21 02:09] ryanpetrello commented on #4125
[code]

Can you share the _full_ output when you run `/opt/my-envs/custom-venv/bin/pip install psutil`?

[2019-06-21 02:21] strawgate opened #4131 "Inventory Host Name vs Hostname"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently AWX uses the hostname of the host entered as the name of the host in the inventory file. This means that you cannot inventory/manage multiple hosts which share the same IP address or hostname. A particular use-case would be devices exposed behind a NAT where many devices share the same IP address from the perspective of the AWX server but e

[2019-06-21 05:43] donateur commented on #4092
We're sill having issues with ansible.cfg not being read by tower, no matter where we try, but I'll sort those out with Red Hat.

How about this for an easier alternative:
- Add buttons to the coloured line showing successful, changed and failed tasks.

When the user clicks on any of the colours a search is added:
1. Clicking on the green bar adds a "changed:false" and "failed:false" filter (And r

[2019-06-21 06:57] nicolaibaralmueller opened #4132 "Host variables from Microsoft Azure Resource Manager missing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.1
* Operating System: Centos7

##### STEPS TO REPRODUCE

I don't know how to reproduce this issue since I don't know the root cause.

##### EXPECTED RESULTS

Host variables normally show:

resource_group:
image:
public_ip:
public_ip_name:
ansible_conne

[2019-06-21 07:28] fculpo commented on #3113
Would it be possible to pass extra vars to the inventory plugin ?

Like:
[code]
This is doable in Ansible core

[2019-06-21 07:33] daemenseth opened #4133 "Cleanup job details based on job name"
##### ISSUE TYPE
 - Feature Idea
The standard cleanup job schedule clean ups jobs older than x days.
We have some maintenanance jobs which we want to cleanup every 10 days or something.
So I would be fine if you could specify job names with wildcards to cleanup

##### SUMMARY

[2019-06-21 07:35] daemenseth opened #4134 "Cleanup multiple jobs at once"
##### ISSUE TYPE
 - Feature Idea
In the job windows you can filter on jobs.
But it would be nice if you could delete multiple job result at once

##### SUMMARY

[2019-06-21 07:58] sebw opened #4135 "RFE: Add jobs description in workflow visualizer"
My customer would appreciate to see the job description of job templates in the workflow visualizer.

Another idea would be to add the possibility to add notes.

Job description or notes would help a lot understanding what the workflow is all about.

Automagic, an automation app on Android implemented the note feature a while ago.

This is a screenshot of Automagic workflow visualizer. The yellow

[2019-06-21 08:30] r-okui commented on #4117
I got the same situation too.
It was the same whether I logged in with admin or another user that has "Organization/Workflow Admin" permission.

[2019-06-21 12:44] Husker97 commented on #4068
I think this may be quite limiting to adoption for some enterprises.  Within our support group, RADIUS and TACACS+ is the common AAA platform for network infrastructure and is well known/understood/supported.  From a security perspective, it places the authorization responsibility with the AAA platform, which in our case is the security team, and removes authorization from the application owner (e

[2019-06-21 12:49] bkmeneguello commented on #1654
I've tried this on the new 5.0.0 release but I cannot make it work.
I have a valid signed certificate (I can connect using it with ssh) but whenever I try to use in AWX it give me "connection denied". I tested the connectivity adding the public key to "authorized_keys" and, without any credential modification, it worked.
It seems like the AWX ssh client cannot lookup the signed certificate properl

[2019-06-21 13:33] ghost commented on #4125
Hi @ryanpetrello  thanks for your answer.

This is the full output:

[code]

[2019-06-21 13:52] dsesami commented on #4091
Tested WFJT creation as both admins and non-admins. behavior appears to be normal now.

[2019-06-21 13:52] #4091 closed, assigned to mabashian, dsesami

[2019-06-21 13:58] ryanpetrello commented on #4125
The error message at the bottom tells you.  `psutil` uses C extensions and you'll need to install `gcc` to compile them.

Depending on your distribution, you'll also potentially need libraries and header files for Python3 in order for `psutil` to compile:

`yum install python36-devel.x86_64`

[2019-06-21 13:58] #4125 closed, assigned to nobody

[2019-06-21 14:31] dsesami commented on #3886
This appears to still say "Jobs" in the name area where we would expect the instance group name to appear. Moving back to needs_devel
cc @marshmalien let me know if there's anything I can do to help here.

screenshot:
![Screenshot from 2019-06-21 10-30-45](https://user-images.githubusercontent.com/19942822/59929913-c90cf280-940f-11e9-957c-49491630fb36.png)

[2019-06-21 14:33] dsesami commented on #3886
Reread correct behavior -- this is correct, actually and shows the instance group name.

[2019-06-21 14:33] #3886 closed, assigned to marshmalien, dsesami

[2019-06-21 16:09] ryanpetrello commented on #4121
Resolved by https://github.com/ansible/awx/pull/4083

[2019-06-21 16:21] ryanpetrello opened #4138 "ovirt4 integration is broken in recent AWX versions with Ansible 2.8"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Two problems:

- Up until _very_ recently (like, moments ago), the `ovirt4.py` inventory script in Ansible (which we vendor in AWX) didn't work when run under python3 (meaning these inventory updates would fail in certain distributions that ship py3 by default, like RHEL8)

- Due to a bug in the `ovirt4.py` inventory script, Inventory Syncs would fail

[2019-06-21 16:25] ryanpetrello commented on #4030
Hey everyone,

It looks like the 2.8 upgrade broke a few things for us and we need to adjust to make ovirt4 work again.  We're going to track the work necessary to fix this here:

https://github.com/ansible/awx/issues/4138

[2019-06-21 16:25] #4030 closed, assigned to nobody

[2019-06-21 16:26] rmkraus commented on #4138
Also, inventory syncs would fail if any VMs managed by the Ovirt/RHV manager were powered off. Slightly different issue, but same resolution.

[2019-06-21 16:30] bkmeneguello opened #4139 "SSH Machine Credential Signed Certificate not working"
##### ISSUE TYPE
Feature bug

##### SUMMARY
After #3098 I've tested signed certificate login but it didn't worked. The signed certificate is not available when "ssh-add" command is called by "anisble-runner"

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: docker on linux

##### STEPS TO REPRODUCE

* Create a Machine Credential with private key and a signed certificate.
* Try to run a

[2019-06-21 16:30] ghost commented on #4125
It was necesary install gcc, but now not get the custom virtualenv. I will open new issue

[2019-06-21 16:37] ghost opened #4140 "Can't add custom venv"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I tried create new virtualenv with python 3.6, ansible 2.8.1 and pyvcloud, but can't add custom venv.
I follow this guide https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: docker on linux
* Ansible version: 2.8.1
* Operating System: Centos 7
* Web Browser: Chrome 73

#####

[2019-06-21 16:40] ryanpetrello commented on #4140
See:  https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

Ensure that the virtualenv exists at `/opt/my-envs/custom-venv` on the web *and* task containers.  It sounds like it doesn't exist in your web containers.

[2019-06-21 16:40] #4140 closed, assigned to nobody

[2019-06-21 16:50] ryanpetrello commented on #4030
@smapjb @jukito either of you willing to give this PR a try (you'll have to build the image from source, not the official images from Docker Hub):

https://github.com/ansible/awx/pull/4141

[2019-06-21 16:52] geauxvirtual opened #4142 "5.0.0 tag points to a commit not in the devel branch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
5.0.0 tag points to a commit not in the devel branch

##### EXPECTED RESULTS

5.0.0 tag points to a commit in the devel branch

##### ACTUAL RESULTS

5.0.0 tag points to a test commit not in the devel branch.

https://github.com/ansible/awx/commit/34ba862c5ae690bafff822bdd82366ad87b7e78e

[2019-06-21 17:00] michaelhuettermann commented on #2862
Hi @cdvv7788. I'd like to see a webhook function. As a user, I'd like to integrate and run the awx webhook from multiple kind of applications, particularly (but not limited to) version control (e.g. GitHub) and especially above all also from build engines (e.g. Jenkins). Thank you.

[2019-06-21 17:10] shanemcd commented on #4142
Whoops!

[2019-06-21 17:10] shanemcd commented on #4142
I'll fix this now.

[2019-06-21 17:14] shanemcd commented on #4142
Fixed, sorry about that.

[2019-06-21 17:14] #4142 closed, assigned to nobody

[2019-06-21 17:20] rooftopcellist opened #4143 "Disable Basic Auth by default"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
OAuth 2 token authentication should be used instead of basic auth when integrating with the API.  We should disable basic auth by default.

[code]

Users can still enable this by changing the setting to True.  We need to ensure that for upgrades, the existing value is kept so there are no surprises for current users.

[2019-06-21 17:25] ryanpetrello commented on #4134
Duplicate of https://github.com/ansible/awx/issues/19

[2019-06-21 17:25] #4134 closed, assigned to nobody

[2019-06-21 17:27] awithrow9 commented on #4132
@AlanCoding @kdelee Can you take a look at this one?

[2019-06-21 17:31] matburt commented on #4131
This is more about the way Ansible itself handles hosts, and there are ways to work around this. For example using `ansible_ssh_host=...` or `ansible_host=...` where the identifier becomes an alias for the actual system you are connecting to.

[2019-06-21 17:31] #4131 closed, assigned to nobody

[2019-06-21 17:32] ryanpetrello commented on #4120
@drzippit,

Are you running some sort of proxy in front of AWX?  This looks like it could be a misconfiguration on your end.

[2019-06-21 17:32] #4119 closed, assigned to nobody

[2019-06-21 17:35] mabashian commented on #4117
Yea this is a duplicate of https://github.com/ansible/awx/issues/4091 and was fixed by https://github.com/ansible/awx/pull/4096

[2019-06-21 17:35] #4117 closed, assigned to nobody

[2019-06-21 17:35] dsesami commented on #3884
Tried this with a variety of window sizes -- the dropdown works correctly and looks good. :+1:

[2019-06-21 17:35] #3884 closed, assigned to marshmalien, dsesami

[2019-06-21 17:36] ryanpetrello commented on #4111
@falcon78921,

I'm a little uneasy about assuming intent and automatically applying a `+x` from arbitrary source code AWX might pull.  I think is better handled by script authors being explicit in source control.

[2019-06-21 17:36] #4111 closed, assigned to nobody

[2019-06-21 17:38] awithrow9 commented on #4143
@wenottingham can you comment?

[2019-06-21 17:43] ghost commented on #4140
I follow the guide, and create the same venv on both containers.

[code]
[code]

If virtualenv doesn't exist get the follow message when I try create a new virtualenv

[code]

[2019-06-21 17:52] ryanpetrello commented on #4140
`curl -v -X PATCH 'http://admin:password@192.168.61.109/api/v2/settings/system/'     -d '{"CUSTOM_VENV_PATHS": ["/opt/my-envs/test"]}' -H 'Content-Type:application/json'`

https://github.com/ansible/awx/blob/devel/awx/conf/fields.py#L112

The path you're specifying for custom virtualenvs _doesn't exist_ on the web container.

Is `{"CUSTOM_VENV_PATHS": ["/opt/my-envs/"]}` what you want instead?

[2019-06-21 17:56] kfattig opened #4144 "JSON Format for metrics API"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The '/metrics/' API [does not support JSON format](https://github.com/ansible/awx/pull/3672/files).

Metrics are returned as raw text, with comments and inconsistent formatting. This is different than most of the other API endpoints, that return easily consumable JSON.  We would prefer to interact with this API in a similar manner to the others, for

[2019-06-21 18:01] chrismeyersfsu commented on #4010
From my testing of ansible-runner:master it seems like this problem is solved. What am I missing @matburt ?

[2019-06-21 18:14] ryanpetrello commented on #4010
@chrismeyersfsu https://github.com/ansible/ansible-runner/issues/310#issuecomment-499888409

[2019-06-21 18:16] daemenseth commented on #19
Is there some progression on this issue?

[2019-06-21 18:18] ryanpetrello commented on #4144
@kfattig,

The `/api/v2/metrics/` API is intended to be consumed by https://prometheus.io

[2019-06-21 19:22] rooftopcellist commented on #4143
@wenottingham One thing to note is that there is no reliable way to check what the value for this setting was a previous installation during an upgrade, unless it was explicitly set in Tower Settings (CTinT).

[2019-06-21 19:41] drzippit commented on #4120
@ryanpetrello

I am. I have it behind an nginx reverse proxy. How would I go about correcting the config?

[2019-06-21 19:50] ghost commented on #4140
My virtualenv is ``CUSTOM VENV PATHS":` ["/opt/my-envs/custom-venv"]`` and I can add ok via API.
This virtualenv ``CUSTOM VENV PATHS":` ["/opt/my-envs/test"]`` as a test I show you what happens when virtualenv doesn't exist.
So I can add custom virtualenv via API but don't see any custom venv when I get custom venvs, and I created my virtualenv  on both containers.

[2019-06-21 20:01] ryanpetrello commented on #4120
@drzippit

The best answer is "it's complicated" (we don't currently have any official documentation on doing it, and given the number of variables it'll probably come down to just troubleshooting it - _maybe_ there's a bug lurking under the surface somewhere?)

Have you tried seeing if anyone else has encountered this problem in our mailing list or IRC room?

http://webchat.freenode.net/?channels

[2019-06-21 20:04] drzippit commented on #4120
@ryanpetrello I have not checked out the mailing list or IRC. I'll check them out.

It's possible for me to work without a reverse proxy if that enables me to use SSO. Is that answer less complicated?

[2019-06-21 20:05] ryanpetrello commented on #4120
@drzippit,

Here's a similar issue, only with SAML, which might point you in the right direction:

https://github.com/ansible/awx/issues/1016#issuecomment-360023289

I suspect this will _probably_ come down to some mixture of `X-Forwarded-XXXXX` header configuration necessary in nginx.

This Red Hat Ansible Tower documentation might be applicable, too: https://docs.ansible.com/ansible-tower/latest

[2019-06-21 20:31] ryanpetrello opened #4147 "Creating a Schedule with invalid `credentials` key raises 500 Error"
##### SUMMARY
1.  Create a normal user, `peon`, with "admin" access to a Job Template.
2.  As that user, attempt to create a schedule for that Job Template, specifying `credentials`:

[code]

AWX raises an uncaught exception:

[code]

[2019-06-21 20:38] rooftopcellist commented on #4143
@wenottingham pointed out that we should wait until our related tooling uses sessions out of the box, mainly tower-cli and the tower modules in Ansible.  Currently, tower-cli uses basic auth or a token.

[2019-06-21 21:12] ryanpetrello commented on #4147
The example here is an incorrect usage of the API (you're supposed to attach credentials using `/api/v2/job_templates/X/schedules/Y/credentials/`) but we still shouldn't be throwing an HTTP 500.

[2019-06-21 21:13] ryanpetrello commented on #4147
@AlanCoding what do you think is the cleanest way to resolve this?

Here's my Friday afternoon stab at it:

[code]

[2019-06-23 12:15] devops-42 opened #4148 "API parameter vault_credential being ignored for job_template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Tried to create a job template via API using the template mentioned below. The parameter `vault_credential` will not applied after creation. When reviewing the job template in the GUI the according field is empty, but I'm able to add the credential manually in the GUI.
In the official API documentation for Ansible tower the parameter `vault_credential

[2019-06-23 15:46] ryanpetrello commented on #4148
@devops-42,

As you noticed, specifying parameters in this way was deprecated awhile ago as part of our plans to remove `/api/v1/` and its credentials API; it was removed officially as part of AWX 5.0.0.

`/api/v2/` has a new way of attaching credentials to job templates, though you'll have to make a *second* request after you create the new job template:

[code]

[2019-06-23 18:58] okelet commented on #1234
`awx_task_hostname`and `awx_web_hostname` inventory variables are your friends (https://github.com/ansible/awx/blob/devel/installer/inventory#L58), resolved in https://github.com/ansible/awx/pull/2131.

[2019-06-23 20:52] andrewsav-bt commented on #2965
This seems still to be an issue with the current release of awx.

[2019-06-23 21:03] devops-42 commented on #4148
Hi Ryan,

thanks for the info, will try it out and close this issue afterwards.

Cheers

[2019-06-24 00:08] Turgon37 opened #4149 "AWX_ANSIBLE_CALLBACK_PLUGINS settings does not work in ansible_runner"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The AWX settings "AWX_ANSIBLE_CALLBACK_PLUGINS" is not propagated to the ansible-playbook process during job executions

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: CentOS
* Web Browser: Firefox 67

##### STEPS TO REPRODUCE
Add a custom path into the variable AWX_ANSIBLE_CAL

[2019-06-24 05:24] LKS1302 opened #4150 "AWX Tower UI to Splunk Logging issue : Unable to send log data from Ansible AWX UI"
##### ISSUE TYPE
AWX to Splunk Logging issue

##### SUMMARY
Unable to pass the logs from Ansible AWX to Splunk.
Firstly, from Splunk HTTP event collector URL is reachable by using CURL command and we are able to post the payload too.
Secondly, from Ansible AWX Logging screen, am able to get Log Aggregator Successful message and 200 HTTP response while posting the values from AWX Logging API (PUT a

[2019-06-24 08:22] #4148 closed, assigned to nobody

[2019-06-24 08:47] smapjb commented on #4030
Hi Ryan

Sure, i'll try and get this done today.. I am travelling rest of week.

Yours
Phil

On Fri, 21 Jun 2019 at 17:51, Ryan Petrello <notifications@github.com>
wrote:

[2019-06-24 09:40] myo-myint-zaw opened #4151 "Ansible AWX Job Failed"
##### ISSUE TYPE
 - Feature

##### SUMMARY
Can anyone please advise this issue?

{
    "msg": "Traceback (most recent call last):\n  File \"/bin/ansible-connection\", line 335, in <module>\n    main()\n  File \"/bin/ansible-connection\", line 315, in main\n    messages.extend(Connection(socket_path).pop_messages())\n  File \"/opt/awx/embedded/lib/python2.7/site-packages/ansible/module_utils/connec

[2019-06-24 10:33] JulienGrp opened #4153 "RBAC - Disable Job Cancelation on template"
##### ISSUE TYPE
 - Feature Idea
We use AWX to create resources on a VmWare infrastructure. When we're creating a resource, if the Job is cancelled while it's running, the model "breaks" without human intervention.

##### SUMMARY
Is it possible to unauthorised an "Execute" profile to cancel a job ? It could be only done by an "Admin" profile on this Job.

I would appreciate any help you can provid

[2019-06-24 11:54] piwi91 commented on #4120
@drzippit

We're running AWX behind an Nginx reverse proxy with Azure AD enabled. This is working fine after passing some headers to awx_web. This is our configuration to get it working:

[code]

[2019-06-24 12:12] AlanCoding commented on #4127
If providing the link incurs a lookup, then providing the link wouldn't be worth the cost, otherwise you would undermine the previous decision to stop linking them. IIRC, we don't have any kind of named URL for job events. I see two options:

 - give some filtered link like `/api/v2/job_events/uuid=xxxx`, where xxxx comes from the parent_uuid field of the current event
 - add some new kind of name

[2019-06-24 12:26] AlanCoding commented on #3968
Adding @shanemcd to notification list for this issue.

status update: In https://github.com/ansible/awx/pull/4106, an intermediate upgrade to `pip==18.1` was attempted, but that was also reverted.

[2019-06-24 12:59] drzippit commented on #4120
@piwi91 and @ryanpetrello,

Thank you both so much. It was indeed the headers that needed to be forwarded. Login now sends the HTTPS url.

Now I think I just have to map the accounts because I get the error "Your credentials aren't allowed. "

[2019-06-24 13:01] #4120 closed, assigned to nobody

[2019-06-24 13:03] #1234 closed, assigned to nobody

[2019-06-24 13:09] ryanpetrello commented on #4127
Did we break something or regress here?  Is there something the UI needs?  If not, I'd probably say "meh" and move on.

[2019-06-24 13:19] ryanpetrello commented on #4151
@user-david please re-file this and provide _all_ of the information requested at:

https://github.com/ansible/awx/issues/new?template=bug_report.md

(including AWX + Ansible version you're using, what you did to reproduce it, the error you see in its entirety, etc...)

[2019-06-24 13:19] #4151 closed, assigned to nobody

[2019-06-24 13:52] AlanCoding commented on #4108
I have reproduced the reported issue. I will recap the minimal steps to obtain this:

 - Create an organization (I name "alan" here)
 - Create 1 user who is admin of the org (I name "alan_admin" here)
 - Create a clean inventory in another org
 - Create a team in the org
 - Grant the team read_role to the inventory

Reproduction:

![Screen Shot 2019-06-24 at 9 18 00 AM](https://user-images.githubu

[2019-06-24 13:53] loganbest opened #4154 "Netbox Inventory Plugin for AWX/Tower"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

As of Ansible 2.8, Netbox has had a native inventory plugin. Including that as an available inventory source in AWX/Tower would be a welcome addition in the automation world as Netbox's popularity increases.

[2019-06-24 13:57] AlanCoding commented on #4127
no and no.

[2019-06-24 14:01] loganbest commented on #4154
@fragmentedpacket

[2019-06-24 14:04] ghost commented on #4140
I tried re-install awx and created new virtualenv with success!
Now I can execute playbooks with pyvcloud via AWX.
Thanks @ryanpetrello

[2019-06-24 14:07] ryanpetrello commented on #4140
Hey @ivanmpk,

🎉

Glad to hear it's worked out now - I'll bet it was just a small typo somewhere along the way.

[2019-06-24 15:57] Hesse commented on #3985
What about tags?
https://yaml.org/spec/1.2/spec.html#id2761292

[2019-06-24 16:10] elyezer commented on #3023
@ryanpetrello I was stuck on another task and didn't had the time to check this until now. This still an issue in the latest devel, furthermore it is not providing the validation error message anymore. Following the steps to reproduce when trying to save a string as the value for the `Authorization Code Expiration` setting a 400 is being returned:

![Screenshot from 2019-06-24 12-08-41](https://us

[2019-06-24 16:11] AlanCoding commented on #4147
For whatever reason, I can't reproduce this, although the traceback makes perfect sense to me. When I attempt it, it just creates the schedule and doesn't associate any credentials. Anyway, if I could reproduce it, I would test out this fix:

[code]

The key should really only be used for internal purposes, and it's concerning that data the user supplied gets into that logic at all (although in pr

[2019-06-24 16:12] elyezer commented on #3022
@ryanpetrello yes, basically pressing enter does not work in any input field, even when trying to log in.

[2019-06-24 16:17] AlanCoding commented on #3113
Could you give more details on that use case? Do you mean that you have an inventory file in source control with those var1 & var2 templated entries? What Ansible command, specifically, works to accomplish that on the CLI for you?

[2019-06-24 16:29] fculpo commented on #3113
I could not do it in CLI eitheir, i was really thinking this would work.
I want to pass parameters to the .yml inventory config file at inventory launch time, so that my plugin can use them.

I tried something like:

```ansible-playbook -i steve.yml someplaybook.yml -e "var1=anything var2=anything"```

with steve.yml =
[code]

and an inventory plugin named steve.py

But if I output param1 and para

[2019-06-24 16:56] cdeniro opened #4155 "SCM inventory not deleted when SCM changes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hosts which are deleted from SCM inventory are not deleted from AWX

##### ENVIRONMENT
* AWX version: AWX 3.0.1.0
* AWX install method:  docker on linux
* Ansible version:  2.7.7
* Operating System: ubuntu
* Web Browser: firefox

##### STEPS TO REPRODUCE

I have created SCM inventory using Git
Inventory is added and synced correctly.
New hosts added to

[2019-06-24 17:19] AlanCoding commented on #3508
Link https://github.com/ansible/ansible/issues/46727

It's going to be hard to update the script for issues when core is no longer maintaining it.

[2019-06-24 18:03] smapjb commented on #4030
OK - I have built the image from source, bumped the VERSION to 5.0.1 just to confirm I was picking up the right image

[code]
Deployed this to my OCP 4.1 cluster

[code]
I created a RHEV inventory and synchronised it - so that is fixed now

I recently wrote some Ansible to install an OpenShift 4.1 cluster onto RHEV (version 4.3.3)
here -> https://github.com/smapjb/ocp4

I created a JT on the new A

[2019-06-24 18:13] kdelee commented on #4127
Ah ok, thanks for clearing that up

[2019-06-24 18:29] AlanCoding commented on #3113
It's possible that templating logic would need to be added to the inventory plugin code, `steve.py`, because it is not part of the base plugin class. A more interesting question is whether there is any clean way for that code to obtain data from extra_vars. If not, then AWX can't consume something that Ansible core doesn't support. If it is possible, then we could consider adding the logic to the

[2019-06-24 18:46] kdelee opened #4156 "VMWare update does not work in python3 venv"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

VMware updates do not work when inventory update is run in python3.

##### ENVIRONMENT
* AWX version: 6.0.0
* AWX install method: RPM
* Ansible version:  2.8
* Operating System: RHEL8
* Web Browser: n/a

##### STEPS TO REPRODUCE

In a python3 ansible virtualenv, run VMWare inventory update

On RHEL8, AWX 6.0.0 uses a python3 venv by default.

##### EX

[2019-06-24 19:07] AlanCoding commented on #4132
The variables `fqdn`, `public_ip_alloc_method`, and `private_ip_alloc_method` were established to be missing from the inventory plugin, and left out knowingly. There is some discussion here:

https://github.com/ansible/ansible/pull/53046

If you have a specific use case that needs these variables, the details of that that would be important information for us to have.

In addition to those, your d

[2019-06-24 19:29] AlexSCorey opened #4202 "Tooltip for Chips"
When the text of a chip is extra long we want to have a tooltip that shows the entirety of the text on hover.
![Screen Shot 2019-06-24 at 3 25 02 PM](https://user-images.githubusercontent.com/39280967/60046183-b6efb600-9694-11e9-8206-c8438292c97c.png)

[2019-06-24 19:42] AlanCoding commented on #4155
If you change this field to `true`, does it behave the way you want?

[2019-06-24 20:05] cdeniro commented on #4155
@AlanCoding where do I make this change?

[2019-06-24 21:58] dmsimard commented on #4149
@turgon37 this is already tracked in ansible-runner: https://github.com/ansible/ansible-runner/issues/219

[2019-06-24 22:22] Turgon37 commented on #4149
@dmsimard I'm very sorry, I've deeply checked on awx repository but I've forgotten to check on ansible_runner because I was thinking that this issue is only AWX related.

Do I close this issue ? or keep it until the another one is fixed ?

[2019-06-24 23:31] andrewsav-bt commented on #286
Another use case to support is using WinRm and SSH connection in the same playbook / template. Currently both SSH and Winrm credentials represent with the same "Machine" type which makes it impossible to use both in the same run.

[2019-06-25 00:04] sugitk opened #4157 "Logical collection for environment like PROD, DEV to make grouping credentials, playbook and other items"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

For workflow template and survey, a customer often wants to select PROD/DEV.
I propose a new feature like `Environment` under `Organizations` to make a group for those PROD/DEV deployments.

`Environment` has these materials:
- credentials (for example, grouping credentials for each env [PROD_SSH, PROD_A, PROD_B] and [DEV_SSH, DEV_A, DEV_B])
- extra

[2019-06-25 01:07] #4150 closed, assigned to nobody

[2019-06-25 08:26] R-0-Y commented on #1999
Hi, and if instead of the group name, we use the group id ? With groups:N insteand of groups.name:group_name
In this case there wouldn't be any problems regarding group name.

Moreover, in our case, we only want a global inventory from our vmware infrastructure with tagged vm. And smart inventory were supposer to get all inventory needed for us. But without group_vars or group available, like some

[2019-06-25 08:45] Commifreak commented on #2225
Just upgraded AWX 5.0.0 again with no issues using my script mentioned earlier. Remove docker containers, load new zip, configure inventory, run the playbook - all ok.

I still dont know why everybody says its complicated to upgrade. Had no (really NO) issues since 2.1.2 (from where I started using it).

The only thing whats bothering me: No readable changelogs. But wait, I heard of this nice site

[2019-06-25 09:27] benapetr opened #4158 "Inventory icons are shifted in weird way in 5.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: docker on linux
* Ansible version:  X.Y.Z
* Operating System: Debian
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Just open inventory list

##### EXPECTED RESULTS
<img width="633" alt="image" src="https://user-images.githubusercontent.com/1560121/60086891-35536300-973c-11e9-9d78-c6fecc5

[2019-06-25 09:49] MathijsVanWilligen opened #4159 "slow job output AWX 4+"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After upgrade from 2.0.1 to 4.0.0 we had very slow job output, after serveal days we must wait for about 1-2 days to retreive the output.
Also after an upgrade from 4.0.0 to 5.0.0 there was no improvement on this.
After some resource (we used azure psql Paas service) we find out that a local PSQL sever (wich can handle more load) solved this.
At versio

[2019-06-25 10:38] okelet commented on #4155
@cdeniro

![image](https://user-images.githubusercontent.com/108803/60091883-e5799980-9745-11e9-8af4-0965bf4c06a8.png)

[2019-06-25 11:07] ashokdevop opened #4160 "The Scale up deployment task is failing."
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### AD

[2019-06-25 11:08] ashokdevop commented on #4160
Hi Team,

The The Scale up deployment task is failing. getting below error please help me on this.

TASK [kubernetes : Scale up deployment] ******************************************************************************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "kube

[2019-06-25 11:27] ryanpetrello commented on #4160
@capslk,

This issue tracker is for tracking bugs and enhancements to awx itself.  If you need help troubleshooting an awx install, you might have better luck in our IRC room or the mailing list:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-06-25 11:27] #4160 closed, assigned to nobody

[2019-06-25 11:56] ryanpetrello commented on #4158
@benapetr can you share your version of Firefox?

[2019-06-25 11:58] petrdanecek commented on #4154
what is the workaround for now? I mean I tested the ansible netbox plugin and it works like a charm. Do I need to use some kind of custom script in the AWX until it is implemented into AWX?

[2019-06-25 12:00] ryanpetrello commented on #4149
Let's track it over there.

[2019-06-25 12:00] #4149 closed, assigned to nobody

[2019-06-25 12:01] ryanpetrello commented on #4154
@petrdanecek,

AWX supports custom inventory scripts.  This is one way to accomplish this for now: https://docs.ansible.com/ansible-tower/latest/html/administration/custom_inventory_script.html

[2019-06-25 12:03] ryanpetrello commented on #4154
@AlanCoding,

Is there any way to do this with the new plugin architecture?  i.e., have some custom source that - instead of a script - is literally just "use plugin X from Ansible"?

[2019-06-25 12:17] wenottingham commented on #1999
In this case there wouldn't be any problems regarding group name.

Doesn't help - an inventory is manifested as json, with groups containing hosts. You'll still end up with multiple 'groups' with the same name.

[2019-06-25 12:22] wenottingham commented on #3985
Note: this likely would need standardized via Ansible collections and how roles are handled there.

[2019-06-25 13:00] benapetr commented on #4158
67.0.4 (64-bit) on MacOS 10.14.4

[2019-06-25 13:12] wenottingham commented on #4133
This could be done with API scripting today if a workaround is needed in the short term.

[2019-06-25 13:14] lordraw77 opened #4161 "Workflow creation gui has text field disabled."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 5.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.1
* Operating System: centos 7.6.1810
* Web Browser: Google Chrome Versione 75.0.3770.100

##### STEPS TO REPRODUCE
![Cattura](https://user-images.githubusercontent.com/52206027/60101339-df8eb300-975b-11e9-8385-8d15f1d30

[2019-06-25 13:17] OndraLipo commented on #3995
Same issue with workflow templates, why only Organization admins can create and copy the workflow template?

[2019-06-25 13:23] wenottingham commented on #19
Not currently; when it is there will likely be more updates in-ticket.

[2019-06-25 13:26] wenottingham commented on #4154
The short-term way to use an inventory plugin is to place the configuration file for the plugin in source control in an AWX project, and point the inventory source at that.

[2019-06-25 13:35] loganbest commented on #4154
The main blocker to bringing it natively is that the inventory plugin structure is different than with Ansible. The same plugin can be used but just needs to be modified slightly to adhere to the different format. Boggles my mind why all native ansible inventory plugins aren't automatically usable in AWX really.

[2019-06-25 13:43] dsesami commented on #3378
This works correctly now -- the modal does not appear either way when either selecting a node or making any attempts to manipulate the WF (as the user doesn't have permission)

[2019-06-25 13:43] #3378 closed, assigned to mabashian, dsesami

[2019-06-25 13:51] AlanCoding commented on #3472
I believe this issue is now unblocked, although we do not have a specific person assigned to it yet. With the merge of https://github.com/ansible/ansible/pull/41637, the remaining items like `nested_groups` just require some switches on the AWX side.

[2019-06-25 14:20] Mvii7 commented on #4161
I have the same issue. Using system admin account.
Created` another user and added all permissions, didn't change anything.

This ngDisabled is used on the form:
`ngDisabled: '!(workflow_job_template_obj.summary_fields.user_capabilities.edit || canAddWorkflowJobTemplate)'`

I'm using AWX v4.0.0

[2019-06-25 14:33] JamesUoM commented on #1630
I don't understand the workaround; custom credentials can only inject into temporary files (AFAIK), not the specific file required by the ansible.cfg and you are not allowed to set the ANSIBLE_VAULT_PASSWORD_FILE env. If AWX used that instead of --vault-pasword-file wouldn't that fix the issue.

[2019-06-25 14:55] bkmeneguello opened #4162 "Quoted "event_display" breaks "stdout" view"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Quoted "event_display" breaks "stdout" view

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.1
* Operating System: CentOS
* Web Browser: Firefox 67.0.4

##### STEPS TO REPRODUCE

* Create a playbook with tasks having quotes, ex: `Some "task"`
* Run this playbook
* Check Job "stdout" view now have som

[2019-06-25 16:07] cdeniro commented on #4155
@okelet This resolved the issue. The configuration is confusing IMO. Update on launch from a SCM source infers that the hosts will "refresh" each time a job is launched but this only adds hosts and does not actually sync the hosts.

[2019-06-25 16:07] #4155 closed, assigned to nobody

[2019-06-25 16:14] daemenseth commented on #4133
@wenottingham do you have a example how I can do that?

[2019-06-25 19:39] AlexSCorey commented on #4238
I'm not opposed to doing this work, but I removed myself for now so that someone else can pick it up if they want.

[2019-06-25 19:50] AlanCoding opened #4163 "Subversion repos do not update roles, due to nesting under "trunk/""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Pulling roles from galaxy does not work with subversion projects

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create a new project as subversion from https://github.com/AlanCoding/an

[2019-06-25 19:56] dsesami commented on #3829
Page context is now properly maintained when navigating between these lists. I also verified this works on templates and other resources.

[2019-06-25 19:56] #3829 closed, assigned to mabashian, dsesami

[2019-06-26 00:40] ryanpetrello commented on #4162
@bkmeneguello,

Can you share a playbook that exhibits this behavior?

[2019-06-26 01:12] jakemcdermott commented on #4162
confirmed - reproduced with https://github.com/jakemcdermott/ansible-playbooks/blob/master/ping.yml

![Screenshot from 2019-06-25 21-10-43](https://user-images.githubusercontent.com/9753817/60143781-dfa7a680-978d-11e9-93cc-30bcbfc80dcb.png)

introduced in april sometime.

[2019-06-26 08:16] DSoftwareArtist commented on #1248
Any updates about this issue?

[2019-06-26 11:07] nfj25 commented on #604
Just sharing some experiences... I was able to use nested groups in require group with NestedMemberDNGroupType.

[2019-06-26 11:11] AndreMTrindade opened #4166 "Error on Playbook syntax"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Good morning. You have a problem on playbook syntax.

##### ENVIRONMENT
* AWX version: Recent Version

##### ACTUAL RESULTS

ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path.

The error appears to have been in '/home/xubuntu/Downloads/awx/installer/roles/local_docker/tasks/compose.yml': line 25,

[2019-06-26 11:12] AndreMTrindade commented on #4166
Ansible version: 2.5.1

[2019-06-26 11:23] sxnwlfkk commented on #4161
I too have this problem, with the same inputs and outcomes. Fresh install via docker-compose leads to this bug (tested 5 minutes ago), with fresh git clone and docker images purged before install (deleted all docker images and all containers). Running on Ubuntu 18.04.

[2019-06-26 11:31] AndreMTrindade commented on #4166
I changed "docker_compose" to  "docker_service" on "/home/xubuntu/Downloads/awx/installer/roles/local_docker/tasks/compose.yml"

[2019-06-26 11:31] #4166 closed, assigned to nobody

[2019-06-26 11:50] m4logs commented on #4161
Yes, the behaviour can be confirmed. Have you tried to create the "workflow job template" via tower-cli?
It seems to work. After that, the workflow jt is also editidable via GUI.

Anyway this not solve the initial issue.

[2019-06-26 12:15] ryanpetrello commented on #4166
related: https://github.com/ansible/awx/pull/4164

[2019-06-26 13:47] dsesami commented on #4082
No more angular anger :+1: each tab displays correctly as well and we don't get any more console errors. I tried this with a few simple smart inventory selection filters.

[2019-06-26 13:47] #4082 closed, assigned to mabashian, dsesami

[2019-06-26 14:07] lemmy04 commented on #3907
this is getting somewhat ridiculous - AWX 5.0.0 is out by now, still no https.

[2019-06-26 14:15] aubrel commented on #4166
This has probably already been recognized but just to make it explicit, I believe this is due to the Ansible version used here being below 2.8 (version mentioned here is 2.5.1). `docker_service` did not become known as `docker_compose` until v.2.8: https://docs.ansible.com/ansible/latest/modules/docker_compose_module.html#synopsis

[2019-06-26 14:18] neilalexander opened #4168 "AWX Docker image cannot be deployed without install playbook"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The newer `ansible/awx_task` and `ansible/awx_web` Docker images are seemingly impossible to deploy directly from Docker Hub without the `installer` playbook in the this repository due to `SECRET_KEY` problems when starting.

This feels largely like a dupe of #3554 — it was closed because a workaround was found but I feel that this has not really been

[2019-06-26 14:29] philipsd6 commented on #3491
Don't forget that we've been able to use actual YAML and JSON inventories files since 2.5 (2.4?) so it's not simply YAML files with a `plugin` key.

https://docs.ansible.com/ansible/2.5/plugins/inventory/yaml.html

Currently I have a project repo that contains nothing but inventory files (some ini, which show up in the dropdown, but mostly yaml inventory plugin configs, which don't.)

This wouldn'

[2019-06-26 14:41] ryanpetrello commented on #3907
For the sake of anybody viewing this issue in the future, https support *is* possible as shown by the numerous people at https://github.com/ansible/awx/pull/3604 reporting success.

@lemmy04 if you're having trouble getting this to work, there are a number of people that appear open to helping you diagnose the issue over at https://github.com/ansible/awx/pull/3604. As always, the mailing list and

[2019-06-26 15:06] sxnwlfkk commented on #4161
I can confirm, that when creating a workflow with tower-cli, that specific workflow is editable. When trying to add a new one from the browser, it's still greyed out.

[2019-06-26 16:18] fvzwieten opened #4169 "Make machine credentials available in the playbook"
##### ISSUE TYPE
I would like to see that the machine credential is NOT an exception and also provide it's data to the playbook, for example using environment variables.

##### SUMMARY
Example use-case: Create a VM on a public cloud, ie Azure. Part of the VM creation is to specify a credential to be able to log-in into freshly created VM. It would be great if one could use the machine credential d

[2019-06-26 17:52] jakemcdermott commented on #4243
might also be able to slip a `redirect` into the `NetworkErrorDetails` component since we're passing most network error objects and their status codes to that, be they in a modal or part of a content error.

:man_shrugging:

[2019-06-26 18:41] kdelee opened #4170 "Analytics collections throws errors in log when no insights-client present"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Looking through logs to debug another problem, I found a weird traceback.

##### ENVIRONMENT
* AWX version: devel
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

When `insights-client` is not installed on a machine, awx stil

[2019-06-26 19:46] Thulium-Drake commented on #4168
I think the issue is caused by /etc/tower/settings.py missing a line that used to be in there. It was removed here:
https://github.com/ansible/awx/commit/2b6cf971573185a46950c5a8fa3f9de14ede38ae#diff-4fc9fed7c8432c8f554a4eee5e6aab72L9

This change befuddles me, the only way to make it work is to mount a file in the docker container (as /etc/tower/SECRET_KEY). Which means you have to save it somewh

[2019-06-26 20:11] kdelee commented on #4121
Works for me! :stamp:

Synced against internal RHV...imported both disabled and enabled hosts.
![Screenshot from 2019-06-26 16-10-37](https://user-images.githubusercontent.com/29239279/60211434-ffda7280-982c-11e9-916e-e063b865528a.png)

[2019-06-26 20:11] #4121 closed, assigned to ryanpetrello

[2019-06-26 20:11] kdelee commented on #4138
Works for me! :stamp:

Synced against internal RHV...imported both disabled and enabled hosts.
![Screenshot from 2019-06-26 16-10-37](https://user-images.githubusercontent.com/29239279/60211434-ffda7280-982c-11e9-916e-e063b865528a.png)

[2019-06-26 20:11] #4138 closed, assigned to ryanpetrello

[2019-06-26 20:48] Thulium-Drake commented on #3959
The hostname for the awx_task instance seems to be kinda hardcoded in the /etc/tower/settings.py file (in docker terms, as the file is inside the template), currently it mentions 'awx' as the name for the instance.

I have changed the hostname of the docker instance running awx_task to awx and it works like a charm!

[2019-06-26 23:09] AechLyons opened #4172 "add_host module not working with any win_* module in AWX using in memory inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have a playbook that creates a windows VM and then add's the results to an in memory inventory to allow me to execute other commands (in this case I want to join it to the domain and configure IIS settings). I got this working on the Linux templates for CentOS and Ubuntu but for windows I cant get any of the win modules to work. I created a small pla

[2019-06-26 23:50] lukepafford commented on #3838
*Notice* - I'm running Ansible Tower version 3.3.2 and assume the differences between AWX are minimal.

I too have a webhook notification and I was receiving the same error. However the webhook server has a certificate from a custom certificate authority. I do **not** want to disable SSL verification. Instead, we should be able to configure a root CA path in the /etc/tower/settings.py file.

The a

[2019-06-26 23:54] ryanpetrello commented on #3838
Not a reasonable assumption to make 😉  Ansible Tower 3.3.2 is a product built off of AWX _at some point in time_ and was released over six months ago.  AWX is an upstream open source project, and differs _considerably_.

That said, thanks for chiming in on a workaround for those who don't yet have access to https://github.com/ansible/awx/pull/3839  `REQUESTS_CA_BUNDLE` is indeed a clever workaroun

[2019-06-27 09:25] ggiinnoo opened #4173 "Inventory source credentials not saved"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: docker
* Ansible version:  2.8.1
* Operating System: CentOS Linux release 7.6.1810 (Core)
* Web Browser: Google Chrome 75.0.3770.100

##### STEPS TO REPRODUCE

Install awx using the installation guide using docker.
Add openstack credentials.

Add inventory source openstack. When saving the C

[2019-06-27 11:27] ente-trompete opened #4174 "Demo Job Template does not work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Task

##### SUMMARY

If I try to run the Demo Job Template it always fails in "Gathering Facts":
[code]

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version: ansible-2.8.1-1.el7 on host
* Operating System: CentOS Linux release 7.6.1810 (Core)
* Web Browser: Firefox

##### STEPS TO REPRODUCE

#####

[2019-06-27 11:45] ryanpetrello commented on #4174
@ente-trompete this looks to me like an issue with Ansible itself, not AWX:

https://github.com/ansible/ansible/issues/43884

[2019-06-27 11:45] #4174 closed, assigned to nobody

[2019-06-27 11:52] ryanpetrello commented on #4173
I suspect this is a duplicate of https://github.com/ansible/awx/issues/4059 which has been fixed in `devel` (via https://github.com/ansible/awx/pull/4074)

[2019-06-27 13:11] sammybenjamin commented on #1948
The solution turns out to be not accurate as jobs run on AWX command line behave differently as opposed the same playbook run from AWX console which proves it is NOT using the ansible.cfg as in the project being used.

For example, I added a change to the ansible.cfg so messages will be presented as Text as opposed to JSON format. The same playbook runs correctly from AWX command line producing te

[2019-06-27 13:20] AlanCoding commented on #1948
Could you give some specifics of the config syntax you're using? It's very important to us to support custom config files, but there are a certain subset of settings that will interfere with how AWX (via the ansible-runner lib) processes events and displays them to the user in the API and UI, and the server may squash user settings by using environment variables that have higher precedence.

[2019-06-27 13:41] ryanpetrello commented on #4172
@AechLyons,

This issue tracker is used for tracking bugs and feature enhancements to AWX.  Give our mailing list or IRC room a try - there's lots of folks who follow along there and are willing to help troubleshoot:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-06-27 13:41] #4172 closed, assigned to nobody

[2019-06-27 13:52] ryanpetrello opened #4176 "Example Issue"
Ignore Me

[2019-06-27 14:22] ryanpetrello commented on #4159
For optimal performance, we generally recommend a database server with the following specs:

- 20 GB of dedicated hard disk space for nodes containing a database (150 GB+ recommended)
- The storage volume should be rated for a high baseline IOPS (1000 or more.)

Depending on _how much_ output your playbooks have, write I/O *can* be high and storage with lower IOPS _will_ see the type of slow down

[2019-06-27 14:26] ryanpetrello commented on #4156
@kdelee it seems like this change (which merged):

https://github.com/ansible/ansible/pull/47538

...might resolve the issue for us in the next Ansible 2.8.x.

Is that your understanding?

[2019-06-27 14:33] ente-trompete commented on #4174
Hi, I agree with you, that this is an Ansible not AWX bug. But I need a workaround to be able to set globally _gather_subset_ and/or _gather_timeout_ as I would do it in /etc/ansible/ansible.cfg if I use the pur Ansible without GUI. Maybe is this very simple and I search at a wrong place but I'm currently a little bit familiar with Ansible but not yet with AWX.

TIA

[2019-06-27 14:37] ryanpetrello commented on #4174
@ente-trompete,

https://docs.ansible.com/ansible/latest/reference_appendices/config.html#envvar-ANSIBLE_GATHER_TIMEOUT

Are you able to set this here?

https://your-awx-host.example.org/#/settings/jobs

<img width="359" alt="image" src="https://user-images.githubusercontent.com/214912/60275171-7f1c8480-98c7-11e9-8793-81e48a603ff8.png">

[2019-06-27 14:40] ente-trompete commented on #4174
THX

[2019-06-27 14:41] ryanpetrello commented on #4170
cc @rooftopcellist we should fix this

[2019-06-27 14:43] ryanpetrello commented on #4170
@kdelee I think the fact that `insights-agent` is missing is a red herring.  This JSON serialization error looks like something else to me.

[2019-06-27 14:52] ggiinnoo commented on #4173
Looks like it yeah.
The error in the last picture was my own fault :) i forgot to enter a domain name in the openstack credentials page.

If people are using the openstack V3 api. It is necessary to fill this in. You can enter "Default" in the field and all will be fine.

[2019-06-27 14:52] #4173 closed, assigned to nobody

[2019-06-27 14:52] ggiinnoo commented on #4176
/ignore

[2019-06-27 14:53] msilmser opened #4177 "Add Support for SAML Claim URLs in addition to Attributes (Azure AD)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When setting up SAML with AzureAD, if a user has too many group associations, the XML returned will contain a link to the claim in Azure rather than the list of attributes. For example:

[code]

AWX/Tower will not follow the claim links in order to obtain the list of attributes.

[2019-06-27 15:03] rooftopcellist commented on #4161
This is a duplicate of this issue: https://github.com/ansible/awx/issues/4091
This is fixed in devel by this PR: https://github.com/ansible/awx/pull/4096

Please let me know if you are able to reproduce on the devel branch.  Thanks!

[2019-06-27 15:03] #4161 closed, assigned to nobody

[2019-06-27 15:05] konkolorado commented on #4168
Anyone running an Ansible job can see the secrets stored in environment variables that are passed to the containers - creating CVE-2019-3869 and leading to the PR referenced.  I don't think you'd want to go back to relying on env vars, at least on AWX, but you can use a custom compose file that creates and manages the volumes for you. Or better yet, use Swarm secrets.

[2019-06-27 15:21] rooftopcellist commented on #4170
@ryanpetrello here is some more information:

this is how it shows up when I run it as an awx-manage command:

[code]
I agree that the datetime TypeError is separate, and probably an actual bug.  @kdelee saw this on a cluster install (I am guessing with an isolated node configured).

I suspect that the `last_isolated_check` just needs to be forced to be a string. testing now.

[code]

[2019-06-27 15:33] ryanpetrello commented on #4168
Yep, basically what @konkolorado - we moved away from environment variables to avoid leaking credentials to underlying playbooks that run.

See: https://access.redhat.com/security/cve/cve-2019-3869

[2019-06-27 15:33] #4168 closed, assigned to nobody

[2019-06-27 16:41] giovannifl opened #4179 "Can't create a new workflow"
ISSUE TYPE
 - Bug Report

COMPONENT NAME
 - UI

SUMMARY
When I select to create a new workflow job template, all fields are grayed out and I can't insert any value.

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method:  docker on linux
* Ansible version:  2.8.1
* Operating System: Ubuntu 18.04
* Web Browser: Chrome 75.0.3770.100

STEPS TO REPRODUCE
In the Templates section, click on the gr

[2019-06-27 16:45] Thulium-Drake commented on #4168
Thanks for the clarification! That makes a lot of sense :-)

(shame there's no module to manage swarm secrets with Ansible just yet ;-) )

[2019-06-27 16:58] giovannifl opened #4180 "Azure Dynamic Inventory plug-in doesn't work in AWX"
ISSUE TYPE
 - Bug Report

SUMMARY
After adding an Azure Dynamic Dynamic Plugin as source of an Inventory in AWX, when I start  sync process, it fails.

##### ENVIRONMENT
* AWX version: 5.0.0.
* AWX install method: docker on linux
* Ansible version:  2.8.1
* Operating System: Ubuntu 18.04
* Web Browser: Chrome 75.0.3770.100

##### STEPS TO REPRODUCE
1) Add credentials (i.e. a Service principal) wit

[2019-06-27 17:02] ryanpetrello commented on #4179
Duplicate of https://github.com/ansible/awx/issues/4091

[2019-06-27 17:02] #4179 closed, assigned to nobody

[2019-06-27 17:03] #4176 closed, assigned to nobody

[2019-06-27 17:12] ryanpetrello opened #4181 "Enabling External Logging can result in a deadlock that prevents jobs from running"
##### ISSUE TYPE
 - Bug Report

##### ENVIRONMENT
* AWX version: 4.0.0+
* AWX install method: any
* Ansible version:  any

##### STEPS TO REPRODUCE

AWX's task dispatcher manages a pool of worker processes to execute playbooks in the background when jobs are launched.  Much like its predecessor, http://www.celeryproject.org, it forks *new* processes on demand as necessary to scale up when multiple

[2019-06-27 17:13] ryanpetrello commented on #4181
While it's fairly contrived, this code change will cause dispatcher workers to fork and then exit immediately.  This means that if you throw many simultaneous tasks onto the message bus in short bursts, there will be a *lot* of process creation and destruction constantly going on, making the race condition described at https://bugs.python.org/issue37429 much more likely to occur:

[code]

[2019-06-27 17:16] ryanpetrello commented on #4181
The symptoms of this bug range in severity, but they generally mean that _at least one_ process in the dispatcher's worker pool becomes *permanently* hung and unresponsive, and cannot be recovered without forcibly killing the process.

In the *worst* case scenario, the task which becomes hung is the global task manager; when this is hung, no new jobs can launch **at all**, and all launched jobs wi

[2019-06-27 17:19] ryanpetrello commented on #4181
Ultimately, I've got some ideas for a way to _work around_ this bug in Python, but long-term I'd like to rethink how we've implemented the external logging functionality - including potentially moving the log shipping out of band into a separate background daemon so that we can prevent these types of critical language bugs going forward (the bug still appears present for me in a py3.7 I compiled t

[2019-06-27 17:22] codeman65 commented on #4177
This is due to HTTP header size limits.  For more information please see https://github.com/Azure-Samples/active-directory-dotnet-webapp-groupclaims

[2019-06-27 17:22] falcon78921 opened #4182 "Add Inventory source support for Netbox"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per a customer's request, they would like to have Netbox (https://github.com/digitalocean/netbox) as an Inventory source option.

[2019-06-27 17:58] AlexSCorey commented on #4202
I think that Pattern Fly has a prop that solves this problem.  It might be that we just want to use that prop (`isOverflowChip`) for this in places where we use `Chip`. https://patternfly-react.surge.sh/patternfly-4/components/chipgroup/

[2019-06-27 17:59] AlexSCorey commented on #4249
@mabashian should we also check for this in the JTDetails launch button?  If so, seems like this check should occur inside the `LaunchButton` component.  Is that what you were thinking?

[2019-06-27 19:52] ryanpetrello commented on #4182
Duplicate of https://github.com/ansible/awx/issues/4154

[2019-06-27 19:52] #4182 closed, assigned to nobody

[2019-06-27 21:19] kdelee commented on #4156
:thinking: might .... this comment that was from after merge is slightly concerning https://github.com/ansible/ansible/pull/47538#issuecomment-505660986

Also looks like that went into `devel` a.k.a. 2.9, would need to get backported to 2.8 .... and potentially update our vendored copy of it? Feeling confused, will come back to this tomorrow.

[2019-06-28 06:57] mbrother2 opened #4185 "Upgrade to Ansible Tower 3.5.0-1 error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I upgrade Ansible Tower to 3.5.0-1 version, it fails at the step Migrate the Tower database schema.
`TypeError: Unicode-objects must be encoded before hashing`

##### ENVIRONMENT
* AWX version: 3.5.0-1
* AWX install method: Upgrade
* Ansible version:  2.8.1
* Operating System: CentOS 7.6
* Web Browser:

##### STEPS TO REPRODUCE

Upgrade Ansible To

[2019-06-28 07:52] Mikey032 opened #4186 "choose the venv with a custom dynamic inventory script"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We are pulling data from a mysql database to create an inventory. This script uses the mysql-connector to connect to the mysql database. We already have a custom venv mounted inside every container with all our needed python modules and we would also like to use this custom venv in our custom dynamic inventory scripts. This would allow us to not nee

[2019-06-28 09:56] wenottingham commented on #4185
This repo is for issues with AWX. If you are having issues with Ansible Tower, contact your Red Hat support representative.

[2019-06-28 09:56] #4185 closed, assigned to nobody

[2019-06-28 10:47] rsevilla87 commented on #3390
We're using LDAP, using internal groups instead of LDAP groups

[2019-06-28 12:02] gstorme opened #4187 ""ERROR! 'name' is undefined""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Since Ansible 2.8, playbooks stop at random tasks with this error:
`ERROR! 'name' is undefined`

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.1

##### STEPS TO REPRODUCE
Same problem occured on AWX 3.0.1, when I updated ansible to 2.8.0 inside the docker containers using yum.
I reverted to Ansible

[2019-06-28 14:13] nuriel77 commented on #2240
Have been able to work around this problem by providing a custom strategy plugin.

Copied the default strategy file `lib/ansible/plugins/strategy/linear.py` to
the playbook's directory filename `plugins/strategy/hosts_sorted.py` (or mount the file from the host to the container's ansible strategy plugins directory)

[code]

In the new hosts_order.py edit documentation.
Then under the `def run(self

[2019-06-28 17:16] ryanpetrello commented on #4169
We're unlikely to do this for machine credentials as they exist today because it's a pretty notable change to our security model for SSH auth - machine credentials are *intended* to be used for authentication between the Tower host and the managed host(s) where a playbook runs.

cc @matburt @wenottingham

[2019-06-28 17:49] ryanpetrello commented on #3951
@larrybg,

Sounds like you've worked this out, and narrowed it down to a performance issue?  AWX can be fairly write-heavy with the database depending on your usage, sounds like there's some tuning needed here.

[2019-06-28 17:49] #3951 closed, assigned to nobody

[2019-06-28 17:54] awithrow9 commented on #3934
@BenoitCattie can you reply to @AlanCoding 's question above?

[2019-06-28 18:00] #3892 closed, assigned to nobody

[2019-06-29 02:49] ryanpetrello commented on #4187
@gstorme,

Could you share an example playbook that fails in this way?

[2019-06-29 02:50] ryanpetrello commented on #4180
@kdelee @AlanCoding this familiar to either of you?

[2019-06-29 07:29] resmo opened #4191 "FEATURE: Job returns"
##### ISSUE TYPE
feature request

##### SUMMARY
Integrate job custom results (key, values as json) back to the job launcher.

Think of a job creates a VM. There is not integrated way to return the IP of the new created VM back to the job launcher. This would be especially useful when pragmatically launching jobs by the API, e.g. by openshift ansible service broker.

[2019-06-29 09:54] sxnwlfkk commented on #4161
I'm on devel branch.

[2019-06-29 11:26] wenottingham commented on #4169
Yeah, I don't think we'd do this in a general way.

[2019-06-29 11:27] wenottingham commented on #4191
This is what `set_stats` is for. Does this not work for you?

[2019-06-29 11:42] Sreenadh8 commented on #2894
@AlanCoding I tried with 3.0, 4.0 and latest version 5.0, this multiple choice still exist, can you please re-open this issue... I am keep pressing 'Enter' but awx does not take other inputs....

[2019-06-29 11:50] Sreenadh8 opened #4192 "AWX multiple Choice does not work and unable to add options"
##### ISSUE TYPE
 - Bug Report

Component Name

UI

##### SUMMARY

I am not able to add 2 options to the survey when I chose the answer type multiple options single select or multi select..

##### ENVIRONMENT
* AWX version: 3.0.1 , 4.0.0 and 5.0.0
* AWX install method: docker on linux,
* Ansible version:  2.8.1 , 2.7
* Operating System: Ubuntu 18.04
* Web Browser: Chrome, IE

##### STEPS TO REPROD

[2019-06-29 13:19] resmo commented on #4191
Whow, this seems to be the best kept secret! Exactly what I am looking for. Thanks!

[2019-06-29 13:19] #4191 closed, assigned to nobody

[2019-06-29 14:15] gstorme commented on #4187
I was able to pinpoint where the error comes from, it actually comes from another role that is included in the playbook.

Example playbook:
[code]

Inside the "network_interface/handlers/main.yml" there was something that I don't use anymore, but was still there:
[code]

This `name` variable doesn't exist, this is causing the problem.
Somewhere along the way this role was re-written, renaming the

[2019-06-29 14:24] #4187 closed, assigned to nobody

[2019-06-29 19:46] sturgeonson commented on #4180
I have the same issue with slightly different warning:

![awx](https://user-images.githubusercontent.com/19658019/60388838-f0edfd00-9a84-11e9-9d03-90a1c1d9d434.PNG)

[2019-07-01 01:50] #4169 closed, assigned to nobody

[2019-07-01 09:12] BenoitCattie commented on #3934
Hello,

sorry for the late reply.

Yes. I do not know if it can be related, but no host are reachable (it's a LAB environment)

Yes, I only have one Org.

I'm looking for Chrome URL after restarting my lab environment.

Regards
Benoit

[2019-07-01 11:20] AlanCoding commented on #2894
I will leave this closed in favor of https://github.com/ansible/awx/issues/4192

[2019-07-01 11:44] AlanCoding commented on #3934
I can follow those steps in my server and I do not produce the issue. Take a script such as:

https://github.com/AlanCoding/Ansible-inventory-file-examples/blob/master/scripts/foobar.py

I replace "foobar" with "foo1", created an inventory in the "alan" organization, added a source using that script, updated it, confirmed "foo1" in this inventory, created a smart inventory with "name:foo1" and the

[2019-07-01 13:04] AlanCoding commented on #4180
The true error is the "no key" one. The source of this is:

https://github.com/ansible/ansible/blob/v2.8.1/lib/ansible/plugins/inventory/__init__.py#L442

This is due to the inventory file entry which looks like:

https://github.com/ansible/awx/blob/73f16b2bee7af9e6a1f6e32f27661315dd37c7fe/awx/main/tests/data/inventory/plugins/azure_rm/files/azure_rm.yml#L22-L24

In short, we told Ansible to group

[2019-07-01 13:22] ryanpetrello commented on #4186
@Mikey032,

Can you clarify the request a bit here?  Are you wanting to select the custom virtualenv in the custom script editing form?

[2019-07-01 13:24] giovannifl commented on #4180
Hi,
A couple of clarifications:
- "gfvmdev1xans01" is server where AWX containers are running on
- That host has no properties at all

Please could you explain what is a "security_group" ? Is it a shortcut for "Network Security Group" ?

Thanks in advance

[2019-07-01 13:29] Moumoutaru opened #4193 "SSH Connection Timeout after 10 seconds instead of value defined in ansible.cfg"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX frequently times out trying to connect to hosts. This seems to change in relation to how many hosts we are trying to operate on at any given time. Looked into increasing SSH connection time as that should resolve it but the path to doing so isn't clear.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Operating System

[2019-07-01 13:38] Moumoutaru commented on #4193
Seen other people mention this as well:

https://groups.google.com/forum/#!topic/awx-project/hvFM6OOLFB4

[2019-07-01 13:41] AlanCoding commented on #4180
Yes, that is a shortcut for network security group. There is not clear-cut documentation on the returned hostvars from plugins (something I [wanted to work on](https://github.com/ansible/ansible/issues/54175) but have not gotten around to), the reason I can say this is because I read the source code for the azure plugin and see that it gets its value from "networkSecurityGroup" in properties of so

[2019-07-01 13:59] wwolkers commented on #3897
I had the same problem and I can confirm that the loopback_users setting was the problem, it was not in the rabbitmq config file.

[2019-07-01 14:25] Mikey032 commented on #4186
Yes indeed. Choosing a custom virtualenv in the custom script will allow us to not modify the docker images and mount us a custom virtualenv inside the container that the custom script can use.

[2019-07-01 14:25] Moumoutaru commented on #4193
For those still trying to solve this, editing /etc/tower/setting.py and adding the following to the bottom works:

[code]

This should be documented better.

[2019-07-01 14:34] ryanpetrello commented on #4010
Should be resolved by: https://github.com/ansible/awx/pull/4194

[2019-07-01 15:16] giovannifl commented on #4180
I have just deployed an Ubuntu server (18.04) on Azure and followed AWX deployment steps for Local Docker.
Note: I've also deployed an NGINX in front of it
Is there any specific logfile / file that may help the troubleshooting ?

[2019-07-01 15:18] msilmser opened #4195 "Support for AWS IAM Cross Account Roles for Dynamic Inventories"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Some of the challenges we are seeing is the lack of support for AWS IAM Cross Account Roles for Dynamic Inventories as well as playbook credential management for operational tasks. Currently we manage 8 AWS Accounts and are going to grow to over 20 very shortly in the next year.

We have AWS Accounts that share several project teams within the accoun

[2019-07-01 17:05] shark09 opened #4197 "Openstack inventory don't load any group or host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - inventories management

##### SUMMARY
I'm not able to add hosts from openstack source

##### ENVIRONMENT
* AWX version: 5.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.1
* Operating System: Debian9
* Web Browser: Chrome/Safari

##### STEPS TO REPRODUCE

1. Add your openstack credentials to AWX and select type "Openstack"

[2019-07-01 19:22] mabashian commented on #4203
Search is going to be tracked in a different location - closing.

[2019-07-01 19:22] #4203 closed, assigned to nobody

[2019-07-01 19:24] one-t commented on #4099
~Just tried this out with the suggested payload, same error for me. Is this payload correct though? That appears to be an explicit map in the attr setting. (Paging @chrismeyersfsu because @jbradberry is on vacation)~

Disregard, tried on devel. Rerunning on jbradberry:fix-4099

[2019-07-01 20:24] one-t commented on #4099
Confirmed, `jbradberry:fix-4099` corrects the issue. This payload was accepted.

[2019-07-01 20:24] #4099 closed, assigned to jbradberry, one-t

[2019-07-01 21:52] ryanpetrello commented on #1206
Discussed some API implementation with @chrismeyersfsu and @beeankha.

Here are the high level notes, @mabashian @kdelee this may interest you.

1.  Add two *new* models, a `WorkflowApprovalTemplate` and a `WorkflowApproval`.  These are two new `UnifiedJobTemplate` and `UnifiedJob` base classes, respectively.

2.  A `WorkflowJobTemplate` today has a link to a UJT.  Under this new feature, these ca

[2019-07-01 21:59] ryanpetrello commented on #1206
A few things we'll want to consider functionality and verification-wise:

1.  We need to make sure that system restarts don't cause these approval nodes to be "reaped".  Today, the dispatcher has a process where it discovers jobs that were "running" prior to restart, and reaps them.  `WorkflowApproval` should _not_ follow this pattern.  Given that these jobs never really enter "running" (they stay

[2019-07-01 23:01] mabashian commented on #4245
Resolved by https://github.com/ansible/awx/pull/4199

[2019-07-01 23:01] #4245 closed, assigned to mabashian

[2019-07-01 23:08] mabashian commented on #4202
Yea I see that prop listed but in the longchip example I don't see that prop being used and it does show a tooltip.  It would make sense for pf to handle this on their end I think.  I suspect we may get this for free when we next upgrade pf.

[2019-07-02 01:10] donateur commented on #4092
Thank you @wenottingham !

[2019-07-02 04:43] ea-consulting commented on #3897
I will take a look at the loopback_users setting in the next day or two and update the issue with the outcome. Thanks.

[2019-07-02 06:23] MathijsVanWilligen commented on #4159
At first, sorry for the late replay.
Thank you very much for your answer, we will test this out with a higher baseline IOPS, our playbooks has a lot of output.

"Can elaborate on what "HERE" is?", we thought that the logging infrastructure has been changed from awx2 >> awx4.

[2019-07-02 09:42] nicolaibaralmueller commented on #4132
Hi @AlanCoding

I'm using ansible 2.8.1. Yes the VM's are windows boxes.

Should I downgrade to ansible 2.8.0?

[2019-07-02 12:18] nicolaibaralmueller commented on #3888
Using the latest devel branch does not produce this error.

Someone needs to update the official 4.0.0 release!

[2019-07-02 12:36] ryanpetrello commented on #3888
This is resolved in newer versions of AWX.  Please try upgrading to 5.0.0 or 6.0.0 w/ Ansible 2.8.

[2019-07-02 12:36] #3888 closed, assigned to nobody

[2019-07-02 12:56] ryan012880 opened #4253 "Custom Login logo not displaying properly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Uploading custom login logo does not display properly after upgrading from 5.0.0 to 6.0.0

##### ENVIRONMENT
* AWX version: 6.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.1
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Go to settings
2. Go to User Interface
3. Upload a custom image (PNG, JPEG .. any

[2019-07-02 13:15] #4170 closed, assigned to rooftopcellist

[2019-07-02 13:15] Spredzy commented on #4170
verified

[2019-07-02 14:04] mabashian commented on #4253
@ryan012880 out of curiousity - what's the error being thrown in the browser when it tries to fetch that resource?  Is it a 404?  A screenshot of the console may be helpful.  Moving forward, is it possible to revert the custom logo and re-upload?

[2019-07-02 14:39] AlanCoding commented on #4163
I have used the trick suggested to clone directly from trunk. With scm_url of `https://github.com/AlanCoding/ansible-roles-example/trunk`, I was able to get _a_ use case which works. If nothing else, this is important for test coverage.

With that, I'm closing _this_ issue as "won't fix". Ping @wenottingham, if docs ever touch on this subject, they need to reference that workaround.

[2019-07-02 14:39] #4163 closed, assigned to nobody

[2019-07-02 14:46] mabashian commented on #4207
Repurposed to track test coverage gating

[2019-07-02 14:49] geauxvirtual commented on #4158
Seen on 67.0.4 on Windows as well.

[2019-07-02 14:53] geauxvirtual commented on #4158
I've got a Linux jump host with an older version of Firefox, 60.7.1esr (64bit) where the issue **is not** seen.

[2019-07-02 15:00] ryanpetrello commented on #4253
I'm having trouble reproducing this one:

![image](https://user-images.githubusercontent.com/214912/60523331-87563480-9cb8-11e9-8f26-bba823ca455b.png)

![image](https://user-images.githubusercontent.com/214912/60523336-8b825200-9cb8-11e9-8017-584de3c5308d.png)

[2019-07-02 15:06] mabashian opened #4254 "Auto populate lookup fields in add forms when user only has access to one resource"
##### SUMMARY
On certain add forms in the UI lookup fields like Inventory/Project/Organization (that are required) are automatically populated when the user only has access to one of these resources.  Since the field is required and the user only has access to one we can safely assume that that's the resource they'll select.

In order to achieve this, we'll need to identify all of the fields that

[2019-07-02 15:08] mabashian commented on #4206
I think the search tags are going to be included with the search work that's going on right now.  I've peeled the autopopulation portion out into https://github.com/ansible/awx/issues/4254.

[2019-07-02 15:08] #4206 closed, assigned to nobody

[2019-07-02 15:08] mabashian commented on #4254
Link https://github.com/ansible/awx/issues/4206 for original issue.  This is a subset of those proposed changes.

[2019-07-02 15:10] ryanpetrello commented on #4253
Okay, I see what's up.  This is a bug introduced by https://github.com/ansible/awx/pull/4167

@ryan012880 I'm assuming you see an error like this one in your browser console?

![image](https://user-images.githubusercontent.com/214912/60524177-16b01780-9cba-11e9-83de-98abd50e2ff6.png)

[2019-07-02 15:17] famantanantsoaandry opened #4255 "AWX 5.0.0 Install : Database Migration Failure"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: openshift3.7
* Ansible version:  2.0.8
* Operating System: RHEL 7
* Web Browser: N/A

##### STEPS TO REPRODUCE

Install Awx on Dedicated Openshift 3.7 with the playbook , and an external PostgreSQL Database

Command : ansible-playbook -i inventory install.yml -e openshift_token=$(oc whoami -

[2019-07-02 15:20] ryanpetrello commented on #4255
5.0.5 isn't an AWX version.  Did you mean 5.0.0?

https://github.com/ansible/awx/releases

This error suggests to me that you're using an older image combined with newer code.  Please make sure you're using the correct official images from Docker Hub or have built the correct image locally to match the version of AWX you've cloned.

[2019-07-02 15:21] famantanantsoaandry commented on #4255
Excuse me , typo error , it is 5.0.0  the latest version

Of Course I'm using the official latest ansible Image

[2019-07-02 15:22] ryanpetrello commented on #4255
Specifically, it looks like you might have an old settings file laying around from a prior release that *doesn't* have these recent changes:

https://github.com/ansible/awx/pull/3803/

[2019-07-02 15:38] ryanpetrello commented on #4253
Thanks for reporting this @ryan012880, it'll be fixed via https://github.com/ansible/awx/pull/4256

[2019-07-02 16:12] mabashian commented on #4225
Note: once this merges please remove the blocked label from https://github.com/ansible/awx/issues/4247

[2019-07-02 16:29] mabashian commented on #1206
This will definitely be relevant to the UI/UX of this feature.  I was under the impression that if a user was able to create/edit a particular workflow they'd be able to create a pause node.  If we decide to break from that then we'll need to make sure we handle that in the UI.  Would that mean a new key in `user_capabilities`?

@ryanpetrello Are you talking about [this list](https://tower-mockups

[2019-07-02 16:31] mabashian commented on #4210
Actually - I'm going to close this in favor of https://github.com/ansible/awx/issues/4240

[2019-07-02 16:31] #4210 closed, assigned to nobody

[2019-07-02 16:36] mabashian commented on #4212
Note that https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/ContentLoading/ContentLoading.jsx is in place until we come up with a solid plan.

[2019-07-02 16:46] mabashian commented on #4228
Blocked until #4226 lands

[2019-07-02 16:46] mabashian commented on #4227
Blocked until #4226 lands

[2019-07-02 16:47] mabashian commented on #4226
Note that this blocks work on #4228 and #4227.  Once this lands we can remove the blocked label from those issues.

[2019-07-02 16:49] jakemcdermott commented on #4226
closing - resolved by: https://github.com/ansible/awx/commit/d8452e1259347cd9efeb3ae34e936bc3106f24b5, https://github.com/ansible/awx/commit/69426dee0807526e078e88dfa2c70d44a6f68ee5

[2019-07-02 16:49] #4226 closed, assigned to jakemcdermott

[2019-07-02 16:55] mabashian commented on #4224
Blocked until https://github.com/ansible/awx/issues/4236 lands

[2019-07-02 16:56] mabashian commented on #4236
I've marked https://github.com/ansible/awx/issues/4224 as blocked until this gets done.  When this is merged we can unblock that issue.

[2019-07-02 16:58] giovannifl commented on #2225
Just used @Commifreak approach to migrate from AWX 5.0.0 to AWX 6.0.0 and it worked like a charm.
Thanks @Commifreak

[2019-07-02 17:00] mabashian commented on #4235
link https://github.com/ansible/awx/pull/4251

[2019-07-02 17:01] giovannifl commented on #4179
Just upgraded from AWX 5.0.0 to AWX 6.0.0 and now Workflow templates fields are editable.

[2019-07-02 17:01] giovannifl commented on #4091
Just upgraded from AWX 5.0.0 to AWX 6.0.0 and now Workflow templates fields are editable.

[2019-07-02 17:02] giovannifl commented on #4161
Just upgraded from AWX 5.0.0 to AWX 6.0.0 and now Workflow templates fields are editable.

[2019-07-02 17:03] msilmser commented on #4195
After reviewing that linked Ansible issue and the following: ansible/ansible#25718, this could be supported with the EC2 inventory plugin once that is enabled in AWX/Tower

[2019-07-02 17:06] mabashian commented on #4222
Blocked until #4223 is done

[2019-07-02 17:06] mabashian commented on #4223
Marked https://github.com/ansible/awx/issues/4222 as blocked until this lands - when it does we can remove the label from that issue.

[2019-07-02 17:08] mabashian commented on #4220
Note that sort is already hooked up but only with Name, Modified, and Created right now.  We'll need to add the other options.

[2019-07-02 17:10] mabashian commented on #4231
Blocked until https://github.com/ansible/awx/issues/4229 lands

[2019-07-02 17:10] mabashian commented on #4233
Blocked until https://github.com/ansible/awx/issues/4229 lands

[2019-07-02 17:11] mabashian commented on #4232
Blocked until https://github.com/ansible/awx/issues/4229 lands

[2019-07-02 17:14] mabashian commented on #4234
Blocked until all the required form fields are in place.  At a minimum this will be blocked until https://github.com/ansible/awx/issues/4233 and https://github.com/ansible/awx/issues/4232 land.

[2019-07-02 17:14] mabashian commented on #4232
Additionally this blocks https://github.com/ansible/awx/issues/4234

[2019-07-02 17:15] mabashian commented on #4233
Additionally this blocks https://github.com/ansible/awx/issues/4234

[2019-07-02 17:24] ryanpetrello commented on #1206
@mabashian

(cc @beeankha @chrismeyersfsu)

I wonder if we should wire up `/api/v2/workflow_approval_templates/` such that you can *only* create them if you *also* specify a `WorkflowJobTemplateNode` reference.  In other words, when you create it, you're _also_ associating it with a WFJT node at the same time.  It doesn't really _make sense_ to create these templates outside of this context, becau

[2019-07-02 17:28] chrismeyersfsu commented on #1206
yes @ryanpetrello exactly that. Workflow Job Template Node(s) share this same behavior.

[2019-07-02 17:30] ryanpetrello commented on #1206
When a WFJT is deleted, we could also catch that deletion signal and automatically delete the associated `WorkflowApprovalTemplate` (if there is one).

[2019-07-02 17:30] mabashian commented on #1206
https://github.com/ansible/awx/issues/1206#issuecomment-507771028 concur

[2019-07-02 17:32] ryanpetrello commented on #1206
So @mabashian the idea would be that to create/modify one of these nodes, the UI would:

1.  Create the `WorkflowJobTemplateNode`.
2.  `POST /api/v2/workflow_approval_templates/ {"workflow_job_template_node": N}`

...and if you `DELETE` the node, we'll clean up the underlying UJT on the backend if it's an approval config JT.

And the UI wouldn't really _list_ all of these anywhere in the tradition

[2019-07-02 17:34] mabashian commented on #1206
https://github.com/ansible/awx/issues/1206#issuecomment-507774061 - Yea that works for me

[2019-07-02 17:35] ryanpetrello commented on #1206
In terms of RBAC, I suppose we could restrict creating and listing these to people who *only* have access to edit/create workflows?  It doesn't seem like there would be any reason to know about them or list/view detail unless you were actually editing or constructing a workflow.

Seems to me like the RBAC requirements for these are very similar to `WorkflowJob` today.

[2019-07-02 18:02] AlanCoding opened #4258 "Allow cloning from non-head git refs (like PR references)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
With git projects currently, you can checkout a branch, tag, commit hash, or generally any ref that is listed under the git heads.

If you give a ref that is not a head, additional syntax is needed to clone it via the git module. For example:

[code]

Another valid way:

[code]

This means that the contract between AWX and Ansible changes, and it's p

[2019-07-02 20:45] #4253 closed, assigned to nobody

[2019-07-03 08:06] famantanantsoaandry commented on #4255
I'm using the latest code and the latest image from docker hub , but the issue is still persistant

When browsing inside the ansible-tower-managment console , the file /var/log/tower/fact_receiver.log doesn't exist ,

Permission denied: '/var/log/tower/fact_receiver.log

After some investigation , I think the issue is that inside the container awx-task inside the ansible-tower-managment console ,

[2019-07-03 09:09] qk4l commented on #574
Hi, @matburt could you please provide more information about blocker which does not allow to use separate dedicated HA cluster of RabbitMQ?

I can`t get a nut what a difference between connectivity awx-task with RabbitMQ thought  127.0.0.1 versus LAN address example 10.10.0.1 or FQDN.

Thanks.

[2019-07-03 10:00] ghost opened #4261 "API Pagination broken on complex workflow visualizer"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Line 139 on awx/ui/client/src/templates/templates.service.js contains a forward-slash in getWorkflowJobTemplateNodes that is interpreted as part of the pagesize integer (and thereby throwing an exception) when a complex workflow spans multiple pages of workflow nodes.
I think the bug may have been introduced when 'page_size=200' was added to the querys

[2019-07-03 11:22] sergh-one commented on #3760
Same issue, but in my conditions it stuck when some playbook is running on the same project. It hangs on status: pending, when i trying to run other playbook it is also status: pending.
It is normal behavior, when all plays and SCM update running one by one, not simultaneously ?