[2018-09-13 14:50] wenottingham commented on #2243
Yes, it's possible, see /api/v2/inventories/N/variables.

In any case, this isn't a bug report/feature request... this sort of thing is best handled on the awx-project mailing list.

[2018-09-13 14:50] #2243 closed, assigned to nobody

[2018-09-13 14:56] computerlyrik commented on #2232
@larrybg  Managed to make it work:

- Create Slack app "AWX"
- Add permission chat:write:bot
- use oauth token in AWX Notifications settings
- install slack app to your slack workspace

[2018-09-13 16:22] larrybg commented on #2232
@computerlyrik, we already have Slack boat and our existing Tower instance can send notifications to our channel. But AWX cannot send test notifications with the same Notifications settings. I'm using the same channel name and token. It's clearly AWX problem

[2018-09-13 16:28] larrybg commented on #2232
@computerlyrik Found the problem - just added the `#` at the beginning the channel name...
It's clearly stating that `The pound symbol (#) is not required`, but you MUST put it with the channel name

[2018-09-13 16:57] Shackelford-Arden commented on #612
To add a little on this, I'd really love more detailed examples how to properly use modules other than ping from the Ad Hoc section of AWX/Tower. For example, I had to figure out how to properly use the yum module. While very similar to the format from the CLI -e, I still feel it would be helpful to include additional information on this.

[2018-09-13 17:36] computerlyrik commented on #2232
@larrybg Nope. Not on my side. Without ```#``` works good for me.
Just a note: I set up the AWX today, and i used a ```git checkout 1.0.7``` before running the install playbook. Just to make sure i am on the latest release version and not getting some in-between-version-bugs from master :)

[2018-09-13 17:52] jkellerer commented on #1008
The following workaround does the trick with not too much effort & changes (tested in AWX 1.0.7.2):

* Create a new SVG file `custom-logo.svg` with document size 200 x 110 px.
* Place your logo within the rectangle [48 x 55] TO [200 x 105]. Basically start from left at 48px and from top at 55px.
* Update volume bindings in the `awx_web` container to include `custom-logo.svg`:
[code]
  E.g. when us

[2018-09-13 19:42] MarcusCaepio opened #2246 "Need ldap logs"
I try to setup ldap login, but it does not work with my AD user and I don't know why. Where can I find the ldap logs to see what's wrong?

[2018-09-13 19:46] larrybg commented on #2232
@computerlyrik That is the only change I did... hmm.. weird but it's working now

[2018-09-13 19:46] #2232 closed, assigned to nobody

[2018-09-13 20:37] LukeDRussell commented on #2242
I wasn’t thinking failed hosts for the workflow. Just failed hosts for a particular job.

This could be used to rerun the same job with failed, or it could branch off to a different playbook that does some sort of rescue (with the same inventory)

Being able to retry a job with failed hosts “x” times would be great as well.

[2018-09-13 20:50] wenottingham opened #2247 "Consider disabling the search magnifying glass until input has value"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
<img width="626" alt="screen shot 2018-05-17 at 10 29 38 am" src="https://user-images.githubusercontent.com/9889020/40184096-6400bb52-59bd-11e8-936d-c7a6d345f67d.png">

Clicking the magnifying glass without any input in the search bar basically reloads the current search (which could be nothing).  There's no real negative

[2018-09-13 20:52] wenottingham opened #2248 "Consider hiding run commands button when no groups/hosts exist"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
<img width="1381" alt="screen shot 2018-05-17 at 1 51 33 pm" src="https://user-images.githubusercontent.com/9889020/40194753-7b0da4c4-59d9-11e8-9229-c37a14632889.png">
<img width="1370" alt="screen shot 2018-05-17 at 1 51 46 pm" src="https://user-images.githubusercontent.com/9889020/40194754-7b1df540-59d9-11e8-8788-11c2f72

[2018-09-14 07:26] nicolaibaralmueller opened #2249 "AWX Very Poor Performance!"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
AWX performance very poor

##### ENVIRONMENT
* AWX version: 1.0.7
* AWX install method: docker on linux
* Ansible version: 2.6.3
* Web Browser: Chrome, Firefox

##### STEPS TO REPRODUCE

We have roughly 30 templates, 60 inventories, 30 credentials.

##### EXPECTED RESULTS

Normal web interface performance

##### ACTUAL RESU

[2018-09-14 08:27] lemmy04 commented on #631
how should i do this using apache?

[2018-09-14 09:27] nicolaibaralmueller commented on #2245
Vault files are not supported in inventory. You need to encrypt strings and insert into variable content.
The template needs to have the vault password under credentials.

[2018-09-14 09:59] computerlyrik commented on #2245
@nicolaibaralmueller
I even do not want anything from the vault. It just fails if there is a vault present within the best-practice-directory-structure.

I also do not understand what you mean with "vault not supported IN inventory". We are using a inventory source from a simple stupid ini-like file.
Why does it not ignore the vault?

[2018-09-14 10:05] computerlyrik commented on #2245
@nicolaibaralmueller Please tell me how to use AWX if we have a fully running ansible repository according to best practices and just want to have our inventory within the repository as a file. So anybody can change the inventory by a simple commit.
And yes, the playbooks need secrets, so there is a vault which is totally irrellevant for the inventory.

Everything works great on commandline. Just

[2018-09-14 10:14] nicolaibaralmueller commented on #2245
Ok, not completely sure what you mean without a sample of your inventory folder structure.

A file and a string can be encrypted. Only strings are supported by Tower.

Like this:

          $ANSIBLE_VAULT;1.1;AES256
          1209371203710283710283120

We are not using ini files in our environment. Just yaml.

If you have any vaulted strings in your variables you need to add the credentials in the

[2018-09-14 10:19] computerlyrik commented on #2245
@nicolaibaralmueller  I do not want to encrypt anything for the inventory. I just want to read a plain text inventory within an ansible project structure.
Please tell me how to do this with the Source-> Project source option within AWX if there is a vault (completely unused) present.

[2018-09-14 10:21] computerlyrik commented on #2245
If still not knowing where AWX fails, i may create a simple github repo with three files to demonstrate?

[2018-09-14 10:21] nicolaibaralmueller commented on #2245
Well it complain about a vault decrypt failure. Maybe run the job with verbosity debug .

[2018-09-14 10:22] computerlyrik commented on #2245
I want the the vault to be ignored, not used whatever. If AWX wants to parse i file it should do so. And not rely on a vault password

[2018-09-14 10:22] nicolaibaralmueller commented on #2245
You can't ignore the vault. If one exists within the inventory, you need to provide a vault credentials for it.

[2018-09-14 10:23] computerlyrik commented on #2245
What do you mean with "vault within the inventory"???

[2018-09-14 10:24] nicolaibaralmueller commented on #2245
You need to provide examples i order for anybody to help I think.

[2018-09-14 10:27] computerlyrik commented on #2245
Okay. I will show the setup on github-repo right now.

[2018-09-14 10:33] computerlyrik commented on #2245
@nicolaibaralmueller Here is the repository: https://github.com/computerlyrik/AWX-issue-2245

Just try to read the inventory from project source within AWX.

[2018-09-14 10:40] computerlyrik commented on #2245
How to reproduce on AWX:

- Create a project with this repository as SCM
- Create a inventory
- Add a inventory source from the above project and choose file ```inventory```

Resulting in error:
[code]

[2018-09-14 10:43] computerlyrik commented on #2245
on command line this will work with
```ansible-playbook -i inventory playbook.yml```

It is just the roundtrip AWX is going while parsing the inventory.

[2018-09-14 10:45] nicolaibaralmueller commented on #2245
I would do the following:

Your inventory is not setup properly.
Inventory should be folder: /Inventory/somefoldername/hosts
Put server.example.com inside the hosts file.

rename group_vars/all to /Inventory/somefoldername/group_vars/all/vars.yml and insert the encrypted string inside vars.yml
As stated above you are using an encrypted file named all. This is not supported by awx tower. You can ho

[2018-09-14 10:48] computerlyrik commented on #2245
Then what is the alternative for ```ansible-vault edit group_vars/all``` to edit the vault secrets?
I do not want to mess up a working workflow right now. There are other guys who are managing the vault.

[2018-09-14 10:50] nicolaibaralmueller commented on #2245
I don't understand your question. Sorry. Try running the playbook manually with --ask-vault-pass

[2018-09-14 10:50] computerlyrik commented on #2245
Sorry? It works perfectly if you run the playbook as AWX-Job with some other inventory and vault password set up....

[2018-09-14 10:51] computerlyrik commented on #2245
@nicolaibaralmueller Please answer me one question: How do i read the inventory file in AWX as "inventory from project source" from a repository like set up above?

[2018-09-14 11:02] computerlyrik commented on #2245
This is exactly what made it work. Thank a lot.
https://github.com/computerlyrik/AWX-issue-2245/commit/d94ef652b3a27429417de6339ea834418f9111cc

[2018-09-14 11:02] #2245 closed, assigned to nobody

[2018-09-14 11:15] MarcusCaepio opened #2250 "How to run AWX with SSL ?"
As soon as you define LDAP auth, the access should be over https.
How do I run AWX with with SSL in this huge black cloud construct of docker containers?

Thanks in advance

[2018-09-14 12:04] gnosek commented on #1815
I'm absolutely positive that I have a custom venv on both containers. PATCH works for me (I see the custom_virtualenv changed on the organization and project), but there's no custom_virtualenvs setting at all in /api/v2/config (not even an empty list) and even after setting the custom virtualenv the inventory script runs using the default venv.

FWIW,

[code]

[2018-09-14 12:13] ryanpetrello commented on #1815
@gnosek I think we've figured out what's going on here - it's a permission-related bug that's causing certain users to not see the custom venv choices.  I'm currently working on a fix for this.

[2018-09-14 12:13] gnosek commented on #1815
After adding another job template (apart from the demo job template already present), I see custom_virtualenvs in /api/v2/config but still no dropdown in the UI

[2018-09-14 12:13] ryanpetrello commented on #1815
@gnosek are you logged in as a job template admin, or a superuser?

[2018-09-14 12:14] gnosek commented on #1815
superuser (the default user created on install)

[2018-09-14 12:15] gnosek commented on #1815
BTW, is there a known workaround for this? I can create an extra user with whatever permissions required if that helps

[2018-09-14 12:16] ryanpetrello commented on #1815
What version of awx are you using?  We fixed a bug related to this from 1.0.6 -> 1.0.7.

[2018-09-14 12:18] gnosek commented on #1815
[code]

Fresh install, based on these images (plus my venv):

[code]

[2018-09-14 12:20] ryanpetrello commented on #1815
Looks like you're on the latest and that this is indeed a bug.  Even if you hadn't installed virtualenvs on the containers, the API at `/api/v2/config/` should still reply with a *list* of `custom_virtualenvs`.

[2018-09-14 12:26] akcrisp commented on #106
just wondering if there's been any further progress on this. We would like the ability to reference a different requirements.yml file from awx.

We've been heavily using ansible-galaxy as part of our build automation work. That is parsing a parameter to the playbook {{ playbook }}-requirements.yml so that we can pull in specific app team git repos for installing specific application code.

This cu

[2018-09-14 12:27] gnosek commented on #1815
Well, now it does (after I added another job template) but still there's no dropdown in the UI. When I PATCH the project/organization with the right venv it gets saved but it doesn't seem to have any effect.

I have a project with an inventory script that needs a custom venv and an inventory source doesn't seem to have the custom_virtualenv setting. Still, I'd be happy with setting the venv organi

[2018-09-14 12:35] ryanpetrello commented on #1815
Until we can figure out what's up here, in `awx-manage shell_plus`, are you able to do the following (where `N` is the ID of the project):

[code]

[2018-09-14 12:39] gnosek commented on #1815
It's already pointing to my custom venv (after a previous PATCH, I'd expect, or maybe it even got cloned from the organization. I can drop and recreate if you want), but I just reran the inventory sync using a script from this project and it was executed with the default venv.

[2018-09-14 12:45] ryanpetrello commented on #1815
Okay, that sounds like a potential bug, I'll see if I can reproduce.

[2018-09-14 13:27] phermann1988 opened #2251 "Create Users w/ AWX REST API"
i successfully uploaded with the REST API servers to AWX via POST Request.
[http://127.123.45.67:15080/api/v2/hosts/

credendtials as basic auth

body raw as JSON (application/json)

{ "name" : "hostname.fqdn.net",

"inventory" : 2 } ....]

now, i want to add users vi the API.

Required fileds are (https://docs.ansible.com/ansible-tower/latest/html/towerapi/users.html -> the tower/awx documentatio

[2018-09-14 14:03] chrismeyersfsu opened #2252 "Feature: Workflows within Workflows"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
* Allow workflows within workflows

[2018-09-14 14:05] chrismeyersfsu opened #2253 "Feature: Allow ad-hoc commands in workflows"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
* Allow ad-hoc commands in workflows

[2018-09-14 14:07] chrismeyersfsu opened #2254 "Feature: Workflow Convergence Node"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
* Have a convergence step that tracks the completion of multiple workflow jobs before continuing

##### ADDITIONAL INFORMATION

[2018-09-14 14:08] wenottingham commented on #2251
You need a trailing '/ ' on your POST.

[2018-09-14 14:08] #2251 closed, assigned to nobody

[2018-09-14 14:10] chrismeyersfsu opened #2255 "Feature: Workflow always nodes in conjunction with success and failure"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
* Allow use of always nodes in combination with success and failure nodes

##### ADDITIONAL INFORMATION

[2018-09-14 14:31] phermann1988 commented on #2251
brilliant, thank you!!!

[2018-09-14 15:49] AlanCoding commented on #2240
I've confirmed the reported behavior, in that Ansible core will preserve ordering of hosts in script output, but this is not being maintained as the script is generated.

The fix would be minor but I want to hold off until changes to script generation in https://github.com/ansible/awx/pull/2174 land.

[2018-09-14 16:55] chrismeyersfsu opened #2256 "Feature: Workflow level Inventory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
* Set an inventory for a workflow that will then be used by every Job Template in that workflow.

##### ADDITIONAL INFORMATION
Needed to complete workflow callbacks https://github.com/ansible/awx/issues/1845

[2018-09-14 18:58] jakemcdermott commented on #2249
Hey nicolaibaralmueller,

Thanks for filing this issue.

Performance for this view has been significantly improved downstream. These changes will hopefully be landing in awx shortly. Thanks for your patience!

[2018-09-14 18:58] #2249 closed, assigned to nobody

[2018-09-14 21:12] one-t opened #2257 "Wrong message displayed momentarily when deleting an organization"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Intermittently, if you attempt to delete an org without objects after attempting to delete one with objects, the wrong message will be displayed momentarily before the correct one loads.

##### STEPS TO REPRODUCE

* Attempt to delete an organization without objects; observe warning message
* Attempt to delete an organization

[2018-09-14 21:33] JR1994 opened #2258 "postgres will not activate"
I am trying to install AWX via docker in an Ubuntu 18.04 lxc container. When I run the install script I get this error. Trying to understand what I am missing.

Thanks!

-----
TASK [local_docker : Set DockerHub Image Paths] ********************************************************************************************************************************************************************************

[2018-09-17 05:53] NiveditaKumari14 opened #2259 "All user visible to organisation admin not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
I created organisation red and blue and created admin, normal user and system auditor in both the organisation.
I planned to check the option "All user visible to organisation admin" in the Settings option under System.
I turned OFF this, I loggedIn with organisation blue admin and what i understand it should not allow the a

[2018-09-17 09:46] DrPreobrazhensky commented on #2140
The same here. AWX stopped working after weekend. It installed with default settings.

[code]

[2018-09-17 09:47] NiveditaKumari14 commented on #2259
let suppose i created  a normal user and made it a organisation admin, then when i logged in with that credential then it will only show the details of that organisation only, in-spite of regarding weather i set All user visible to organisation admin OFF or ON

[2018-09-17 10:13] runtman commented on #2098
This doesn't appear to have made a difference with my notifier.

[2018-09-17 10:58] gnosek commented on #1815
FWIW, I can see the dropdown now. I literally didn't touch the site at all since my last comment here. Can it be a caching issue?

Still, the inventory script is ran with the wrong venv.

[2018-09-17 11:39] MarcusCaepio commented on #2250
For everyone, who also needs this:
https://www.youtube.com/watch?v=Ulrr9knCc_w

[2018-09-17 11:39] #2250 closed, assigned to nobody

[2018-09-17 11:48] gnosek commented on #1815
Job templates run with the right venv but as it's python 3 based, the whole thing explodes when trying to run a script that looks like `print '{ massive json }'`, still trying to find if it comes from my (inherited) scripts or from awx itself. Though the playbooks have always been run with 3.x, so I wouldn't expect them to require (or even work with) py2.

[2018-09-17 12:02] gnosek commented on #1815
OK, I think this is the one:

https://github.com/ansible/awx/blob/devel/awx/main/tasks.py#L818

I'll patch it and see what happens

[2018-09-17 12:22] ryanpetrello commented on #1815
@gnosek I did some digging, and it looks like custom virtualenvs specified at the organization level don't get used on inventory syncs, so this is just a bug that needs fixing.

[2018-09-17 12:26] davidchlup commented on #2140
Hi, you're getting the same error I am.
`OperationalError: FATAL:  could not open file "base/16384/2601": No such file or directory`
Your database is by default located in /tmp/pgdocker which is (probably) causing it since /tmp files are periodically deleted. It's the kind of thing you'll find out after second or third reinstall. :)
Reinstall your AWX and before installing, change in your install.

[2018-09-17 12:27] gnosek commented on #1447
@BadStreff I hit that as well, unsetting PYTHONPATH (in a wrapper script) worked for me.

[2018-09-17 13:39] gnosek commented on #1815
https://github.com/ansible/awx/pull/2260 submitted.

[2018-09-17 13:40] gnosek commented on #1815
Can I set the venv somewhere else that will take effect? It's already set in the organization and project settings.

[2018-09-17 13:43] ryanpetrello commented on #1815
@gnosek unfortunately no, the code that runs the ansible inventory import current incorrectly assumes the default virtualenv (it doesn't respect any custom venv you may specify at the organization level):

https://github.com/ansible/awx/blob/devel/awx/main/management/commands/inventory_import.py#L84

This is just a bug that needs fixing.

[2018-09-17 13:44] ryanpetrello commented on #1815
If you feel like experimenting, this is a diff I'm currently testing, and am likely to turn into a pull request:

[code]

[2018-09-17 13:51] alexander-bauer opened #2261 "Help text for limit field prompt"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Some people using jobs that prompt for the `Limit` field are unfamiliar with Ansible's `--limit` syntax. A hover-over help tooltip would cut down on confusion for them, and some syntax examples would save them having to look up external documentation.

[2018-09-17 14:40] ghost commented on #2254
+1

[2018-09-17 14:56] AlanCoding opened #2262 "Allow creation from either parent's sublist or global list, consistently"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Some resources can be created via a POST to their list view.

Some resources can be created via a POST to a sublist of another (parent-like) resource.

Some can be created by both methods.

It's impossible to predict which will be the case.

We should change this so clients can create via POST in all global lists and pare

[2018-09-17 16:21] gnosek commented on #1815
I'll give the patch a try tomorrow, thanks!

BTW I'm thinking if this should use the per-project venv, not per-organization (though it's 100% fine for me either way).

[2018-09-17 16:57] ryanpetrello commented on #1815
@gnosek that probably makes sense for inventory sources that sourced from a project clone.

[2018-09-17 17:07] gnosek commented on #1815
yeah, that's exactly what I'm using fwiw

[2018-09-17 21:23] theodotos commented on #1855
I am using "AWX 1.0.7.2". I get the same error when I have:

[code]

in LDAP GROUP TYPE PARAMETERS. After I remove ` "member_attr": "member",` save works as expected.

[2018-09-18 03:43] dreamylch opened #2263 "Different Server for AWX and ansible?"
I would like to install AWX on a different server with the one that Ansible is installed and playbooks are run due to security issue. Is it possible? I have done some googling and can't find what I need. Thanks in advance.

[2018-09-18 09:27] gnosek commented on #1815
I tested the patch right now and it works for me, thanks!

[2018-09-18 10:59] grahamn-gr opened #2264 "Feature Request: Show Custom Virtual Environment used in job details"
##### ISSUE TYPE
- Feature

##### COMPONENT NAME
 - UI

##### SUMMARY
When running a job and if using a custom virtual environment display it in the job details

[2018-09-18 11:51] shanemcd commented on #2263
Hi! Thanks for trying AWX. Given the amount of traffic in this repo, we have to be pretty strict about only tracking issues here.

For troubleshooting and exploration, come hang out in #ansible-awx on freenode, or send an email out to the [AWX mailing list](https://groups.google.com/forum/#!forum/awx-project)

[2018-09-18 11:51] #2263 closed, assigned to nobody

[2018-09-18 12:04] shanemcd commented on #2258
Hi! Thanks for trying AWX. Given the amount of traffic in this repo, we have to be pretty strict about only tracking bugs here.

This issue seems related to your environment, perhaps due to running a privileged Docker inside of LXC. I have never tried this so I won't be much help.

For troubleshooting and exploration, come hang out in #ansible-awx on [freenode](https://webchat.freenode.net), or se

[2018-09-18 12:04] #2258 closed, assigned to nobody

[2018-09-18 13:06] cg-cnu opened #2268 "Ability to get inventory scripts from Source control"
##### ISSUE TYPE
 - Feature Idea

Have a mechanism to get inventory scripts from source control instead of adding it in the UI.

##### SUMMARY

Currently inventory scripts are added in the UI input box, disconnected from the source control.
When ever the script changes we have to manually copy the code and update the inventory script.
It would be very helpful if we have the ability to connect the

[2018-09-18 13:07] kruge002 commented on #1928
The 1000 year lifetime issue of the OAuth2 tokens can be fixed by a PATCH request to /api/v2/settings/authentication/. For more info see https://github.com/ansible/awx/issues/21#issuecomment-392884697

[2018-09-18 13:10] AlanCoding commented on #2268
You can do this by adding an inventory source and selecting the option to source from a project. Then either select or paste in the relative path of the script inside of your project.

[2018-09-18 13:16] mabashian commented on #69
link https://github.com/ansible/awx/pull/2069

[2018-09-18 14:19] mabashian commented on #69
Including some screenshots of what #2069 looks like:

<img width="1286" alt="screen shot 2018-09-18 at 10 18 08 am" src="https://user-images.githubusercontent.com/9889020/45693971-45df0900-bb2c-11e8-99f1-37b154e1b7c4.png">
<img width="1300" alt="screen shot 2018-09-18 at 10 18 02 am" src="https://user-images.githubusercontent.com/9889020/45693972-45df0900-bb2c-11e8-9d8b-af9e69eaa616.png">
<img wid

[2018-09-18 14:37] mabashian commented on #69
The work left to do here is to test and merge the `uiToMergeDevel` branch into devel

[2018-09-18 14:42] mabashian commented on #69
Note that the original issue includes work that was completed when the side-nav was added.  For clarity: this issue specifically tracks changes to the settings page(s) starting [here](https://tower-mockups.testing.ansible.com/mockups/settings/settings/).  You'll note in the mockups that individual settings forms look like:

<img width="1374" alt="screen shot 2018-09-18 at 10 40 22 am" src="https:/

[2018-09-18 14:55] #2268 closed, assigned to nobody

[2018-09-18 14:56] wenottingham commented on #2264
This isn't directly recorded in the job record currently, so it's not a trivial UI addition.

[2018-09-18 15:01] AndreasDavour opened #2269 "How to use awx_user_email to email the initiator of a job?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### SUMMARY

I would like to be able to email the initiator of a job that it finished, not just the hard coded recipients in a notification template.

##### ADDITIONAL INFORMATION

[2018-09-18 15:15] wenottingham commented on #2269
This is covered in https://github.com/ansible/awx/issues/79.

In the meantime, you could write a playbook task that uses `awx_user_email`.

[2018-09-18 15:15] #2269 closed, assigned to nobody

[2018-09-18 15:36] mabashian commented on #2256
@chrismeyersfsu As far as UI changes here - would this simply require the UI to add an optional inventory field to the workflow form?

[2018-09-18 16:18] inhumantsar commented on #223
@AlanCoding I've followed your example here but instead of attempting decryption, AWX is passing `{u'__ansible_vault': '$ANSIBLE_VAULT...'}`. I'm using the official AWX docker containers, AWX v1.0.7.2 and Ansible 2.6.2. Target hosts are running Ansible 2.6.4. The vars are set in the extra_vars of my job template (though I've attempted to use them in the inventory too). See below for an example.

[

[2018-09-18 17:13] ghost opened #2271 "Display YAML comments in prompt on launch job template extra vars"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Display YAML comments stored with the job template extra_vars in the prompt on launch extra_vars dialog.  This would allow some documentation of the vars in the YAML.

##### ADDITIONAL INFORMATION

Tower displayed the complete YAML, as of version 3.2.6

[2018-09-18 17:56] wenottingham commented on #2271
This may not be practical in the context of survey responses without a significant rework.

[2018-09-18 18:02] ryanpetrello commented on #2210
@YuriGrigorov this should be resolved in the latest version of awx (1.0.8).  If you're still encountering problems after upgrading, please let us know and we'll reopen this issue.

[2018-09-18 18:02] #2210 closed, assigned to ryanpetrello

[2018-09-18 18:03] ryanpetrello commented on #2187
@runtman we've merged some changes into the latest version of awx (1.0.8) that we believe resolve this issue. If you're still encountering problems after upgrading, please let us know and we'll reopen this issue.

[2018-09-18 18:03] #2187 closed, assigned to ryanpetrello

[2018-09-18 18:08] ghost commented on #2271
The previous behavior in Tower was to display (not filter out) the YAML comments that are part of the extra_vars YAML stored with the job template in the prompt on launch field as the job is launched.  A survey was not saved with the job template.  Not filtering out the comments in the stored YAML when pre-filling the prompt on launch extra vars field would probably work.

[2018-09-18 20:53] d4rkd0s commented on #704
I'm still having this issue on awx 1.0.8 downloaded and installed today with docker ce on CentOS 7

[2018-09-18 20:55] d4rkd0s commented on #704
Okay oddly, after waiting a few extra minutes. It worked. I waited about 10 minutes, did my first login attempt. No luck got the error `Failed to get job template details. GET returned status: undefined` but then after waiting 1-2 mins and trying to login again, it worked! :confused:

[2018-09-18 22:13] rdkls commented on #2238
AWS SSM Parameter store
Managed
Free (vs KMS)
Can store encrypted strings (uses KMS behind scenes)
https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-paramstore-about.html

[2018-09-18 23:16] ghost opened #2275 "Add option to edit job template settings from workflow editor"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
The addition of an option to adjust job template parameters from the workflow editor would facilitate more direct adjustment of job template details in the context of creating or developing a workflow.

[2018-09-18 23:22] ghost commented on #2206
@wenottingham: You are saying "it's building tools that make sense both in small and large usage." you know this request is coming from large organization who has huge customer base to satisfy.

What I am simply asking is a way to manage ansible playbooks via Ansible Tower. Ansible Tower is supposed to be a GUI version of Ansible. I am not asking you implement it my way. Just fix it the way you th

[2018-09-18 23:29] ghost commented on #2275
+1 must needed

[2018-09-19 07:28] iTraceur opened #2276 "Project update get an import error (ImportError: cannot import name cleanup)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Project update

##### SUMMARY
I was executing project update job, and the output got an import error (ImportError: cannot import name cleanup).

##### ENVIRONMENT
* AWX version: 1.0.8
* AWX install method: native on linux
* Ansible version:  2.6.4
* Operating System: Linux

##### STEPS TO REPRODUCE

Can't find a way

##### EXPECTED RESULTS

Job

[2018-09-19 08:20] kruge002 opened #2277 "Expired OAuth2 tokens are not automatically removed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
OAuth2 tokens having an expiration date in the past should be automatically deleted.
A token listing can be retrieved by a GET request for /api/v2/tokens/
The list of tokens currently contains active and expired tokens but should show active tokens only.

##### ENVIRONMENT
* AWX version: 1.0.6
* AWX install method: docker
*

[2018-09-19 09:58] ghost opened #2278 "Using external Postgresql results in some migrations fail"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME

 - Installer
##### SUMMARY

When using external PostgreSQL awx_web container seems to have some issues while applying migrations on first run.
##### ENVIRONMENT
* AWX version: (Can't determine) VERSION file is empty. make VERSION fails with error: unknown option `first-parent'. Actual clone of repo.
* AWX install method: docker-compose on linux

[2018-09-19 10:52] cg-cnu commented on #2268
Hey @AlanCoding
I didn't exactly got what you meant by

Can you explain a bit more or point me to the respective topic in the documentation. Thanks!

[2018-09-19 11:51] AlanCoding commented on #2268
current docs: https://docs.ansible.com/ansible-tower/latest/html/administration/scm-inv-source.html

[2018-09-19 12:06] RogerSik opened #2279 "AWX with Jump host is not working for me"
Used AWX version 1.0.7.2 with Ansible 2.6.2

From https://docs.ansible.com/ansible-tower/latest/html/administration/tipsandtricks.html#setting-up-a-jump-host-to-use-with-tower

ansible_connection: ssh
ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q <user_name>@<jump_server_name>"'

In the inventory is added
[code]
In this inventory is for testing only one host where the local ip addres

[2018-09-19 12:51] phospi opened #2280 "high cpu load (3.5) with linux on docker with fresh install"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unknown component, docker environment

##### SUMMARY
I installed awx with docker as described in the installation manual.

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method:  docker on linux
* Ansible version: 2.6.2
* Operating System: RHEL 7.5
* Web Browser: irrelevant

##### STEPS TO REPRODUCE

I installed awx with docker as descri

[2018-09-19 14:09] ccremer opened #2282 "AWX does not perform SSH host key check"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Even if "forced" by using the configuration files, the SSH host keys are explicitly not checked

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method: openshift
* Ansible version:  2.6.2
* Web Browser: Firefox 62.0

##### STEPS TO REPRODUCE
- Create a playbook repo with ansible.cfg as shown below and import in AWX

[2018-09-19 15:06] AlanCoding commented on #2282
The settings that AWX defines are applied as environment variables, which take precedence over the values in the ansible.cfg files Thus, if you want to override something being set in AWX, you need to change where AWX is injecting it.

This is defined here:

https://github.com/ansible/awx/blob/5910b8c5627d46ad52a41801c6998322973c650e/awx/settings/defaults.py#L632-L634

Injected into env here:

htt

[2018-09-19 15:12] jlmitch5 commented on #1283
UI implications:
- add new “shading” number to jt form
- launch starts workflow instead of template run
- workflow node within workflow maker
- workflow results shows node as a workflow

[2018-09-19 15:31] jlmitch5 commented on #69
Just a note on the settings reorg.  The extra pane with the settings items has issues displaying when the browser height is smaller than the side nav needs and it has to scroll.  We looked for CSS-only ways of getting this fixed, but unfortunately, we couldn't find one that worked great.  Might need to revisit how we do the position or bring in JS to help somehow.

[2018-09-19 15:39] ccremer commented on #2282
Thanks, I will try that tomorrow

[2018-09-19 15:50] AlanCoding commented on #1283
I don't think any change is necessary here. At the point of WFJT creation, it's just a job template. It's fully indistinguishable, and integration tests are covering this.

Some form of this is a mutual requirement with the workflow enhancements feature, see: https://github.com/ansible/awx/issues/2252, ping @chrismeyersfsu. A more minimal approach might be to label "workflow" on the node and corre

[2018-09-19 15:51] pemcg opened #2283 "Clicking on a run job link in the 'jobs' WebUI page does nothing using Firefox browser"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
In Firefox, if I click on the blue link for a run job on the 'jobs' page to examine the details of a job, nothing happens. I am not taken to the job details, and the 'working...' spinner turns indefinitely. It works fine in Chrome.

##### ENVIRONMENT
* Tower 3.3.0
* AWX install method: VMs (3-node cluster + external PostgreS

[2018-09-19 16:20] e-tienne opened #2284 "RFE: Add Export and Import feature in the UI"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

- It would be nice to have an Export and Import feature in the UI
- The current command line equivalent is receive and send with tower-cli
##### ADDITIONAL INFORMATION

tower-cli send and receive commands to export and import resources:

https://github.com/ansible/tower-cli/tree/v3.3.0/tower_cli/cli/transfer

[2018-09-19 16:28] ryanpetrello commented on #2283
Hey @pemcg,

This issue tracker is used to track issues for the open source awx project. If you are having issues with Ansible Tower, please contact your Red Hat support rep.

[2018-09-19 16:49] #2283 closed, assigned to nobody

[2018-09-19 17:04] ryanpetrello commented on #2283
If case anybody encounters this, it was encountered on FF 52.9.0, which is EOL as of August 2018.  I was able to reproduce this in awx using FF 52.9.0, and confirmed that it went away when I used a newer Firefox (62.0).

[2018-09-19 17:32] ghost commented on #2284
+1

[2018-09-19 18:44] mneumarkidg opened #2285 "AWX Successful Jobs Sending "Failed" notification job templates - false postive"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
When executing a job I've noticed that (sometimes) it will state that the job failed by executing "notification" email stating failure. However, if you login and pull up the job activity it states the job was successful, but shows the following error "Task was marked as running in Tower but was not present in the job

[2018-09-19 18:49] mneumarkidg opened #2286 "Search Feature doesn't seem to work for Firefox 62 on AWX 1.0.7.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Unable to use the search boxes. When I type my search terms in the box and hit "enter" or click the icon for search. Nothing happens

##### ENVIRONMENT
* AWX version: 1.0.7.4
* AWX install method: Kubernetes
* Ansible version:  2.6.4
* Operating System: Kubernetes / Docker
* Web Browser: Firefox 62.0

##### STEPS TO REPRODUC

[2018-09-19 19:06] wenottingham commented on #2286
Is there an error in the browser console?

[2018-09-19 19:21] #2286 closed, assigned to nobody

[2018-09-20 06:42] RogerSik commented on #2279
The problem was that the with the ssh proxy the new host keys weren't accepeted automatically.

Changing from
``ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q ubuntu@example.org"'

to
`ansible_ssh_common_args: '-o ProxyCommand="ssh -o StrictHostKeyChecking=no -W %h:%p -q ubuntu@gateway.basecom.de "''`

fixed it for me.

[2018-09-20 06:42] RogerSik commented on #2279
The problem was that the with the ssh proxy the new host keys weren't accepeted automatically.

Changing from
`ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q ubuntu@example.org"'`

to
`ansible_ssh_common_args: '-o ProxyCommand="ssh -o StrictHostKeyChecking=no -W %h:%p -q ubuntu@example.org"''`

fixed it for me.

[2018-09-20 07:02] ccremer commented on #2282
Setting it to true performs the check as desired. thx

[2018-09-20 07:02] #2282 closed, assigned to nobody

[2018-09-20 09:18] sumkincpp commented on #2256
Would be great to have named InventoryType variable specified on workflow run (i.e. variables like InventoryHosts for HOSTS inventory and InventoryServices for SERVICES inventory) which can be used in template nodes.
For example, for certain template node by default it will use inventory A(or disabled to run without inventory) or implicitly passed inventory value of variable InventoryHosts.

[2018-09-20 09:43] abeeson100 commented on #1845
Does this change also impact being able to pre-select the "prompt on launch" elements when scheduling a job?

[2018-09-20 09:47] danleonard80 commented on #1636
Hi Santizo, could you please elaborate on how you resolved the selinux issue that was preventing the list of playbooks from populating?

[2018-09-20 13:28] wenottingham commented on #1845
That's already included.

[2018-09-20 13:33] mabashian opened #2288 "Update Add/Edit workflow node to allow always to be used in conjunction with success and failure"
##### ISSUE TYPE
 - Feature Task

##### COMPONENT NAME
 - UI

##### SUMMARY
link #2255

This issue tracks the UI work needed to support #2255.  Currently there are restrictions placed on the edge type of a node based on the edge types of it's siblings.  For example, when adding a new node if the parent of the new node has other children with an edge type of `always` then the new node's edge type i

[2018-09-20 13:36] csmartins commented on #2254
+1

[2018-09-20 13:49] mabashian opened #2289 "Remove edge conflict logic from delete workflow node"
##### ISSUE TYPE
 - Feature Task

##### COMPONENT NAME
 - UI

##### SUMMARY
link #2255

This issue tracks the UI work needed to support #2255.  When a user deletes a workflow node, we roll the rest of the branch back into the vacated spot left by the deleted node.  When this happens, there's a chance that sibling edge types could break our rule of mixing `always` and `success`/`failure` edge types

[2018-09-20 14:28] AlanCoding commented on #223
@inhumantsar Thanks for the report. You didn't mention the behavior when you provided a correct vault credential and launched that job template, but my findings are that it is not recognized as vault content, and is not decrypted.

I have filed an enhancement request in Ansible core that would make this work with job templates.

https://github.com/ansible/ansible/issues/45922

The root problem is

[2018-09-20 15:10] kialam opened #2290 "As a workflow user, I want to be able to create workflow nodes"
##### SUMMARY

As a workflow user, I want to be able to create workflow nodes with the following conditions:
- Always
- Success
- Fail

so that I can easily customize my workflows.

##### Acceptance Criteria:
1. Users can successfully create workflow nodes using the following conditions in any order and in any combination thereof:
- Aways
- Success
- Fail

2. Tests pass for this feature (e2e).
3.

[2018-09-20 15:11] kialam opened #2291 "As a workflow user, I want to be able to delete workflow nodes"
##### SUMMARY

As a workflow user, I want to be able to delete workflow nodes with the following conditions:
- Always
- Success
- Fail

so that I can easily customize my workflows.

##### Acceptance Criteria:
1. Users can successfully delete workflow nodes using the following conditions in any order and in any combination thereof:
- Aways
- Success
- Fail

2. All edge conflict styling is removed.

[2018-09-20 15:14] kialam opened #2292 "As a workflow user, I want to be able to edit workflow nodes"
##### SUMMARY

As a workflow user, I want to be able to edit workflow nodes with the following conditions:
- Always
- Success
- Fail

so that I can easily customize my workflows.

##### Acceptance Criteria:
1. Users can successfully edit workflow nodes using the following conditions in any order and in any combination thereof:
- Aways
- Success
- Fail

2. Tests pass for this feature (e2e).
3. Docs

[2018-09-20 15:38] wenottingham commented on #1717
this landed

[2018-09-20 15:38] #1717 closed, assigned to nobody

[2018-09-20 15:45] kialam opened #2293 "As an AWX developer, I want #2255 to be fully tested"
##### SUMMARY

Write tests to ensure #2255 works as intended.
##### ADDITIONAL INFORMATION

[2018-09-20 16:20] phospi opened #2294 "AWX imports hostname with spaces and transfers them to the LIMIT-field."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
I imported some virtual machines from a cloudforms inventory. Import works as expected. Now I choose a node from "Hosts" view and click "Run commands". The node name is now displayed in the "LIMIT" text field. After that I choose credentials and a module in order to launch the command. Command is launched and returns an err

[2018-09-20 17:02] ghjm commented on #2276
Hey @iTraceur - is there any chance you could send me a snapshot or clone or Vagrant box or something like that of the system experiencing this error?

[2018-09-20 17:46] ryanpetrello commented on #2276
@iTraceur another thing you might try that would give us additional debugging data is visiting:

`/api/v2/settings/jobs/`

...and setting:

![image](https://user-images.githubusercontent.com/214912/45836692-8630b980-bcdb-11e8-93c6-1a728bb7f02e.png)

...and relaunching the failing job again.

[2018-09-20 17:52] wenottingham commented on #2206
I said large and small *usage*.  This is true regardless of company size.

No usage of AWX (or its downstream) at scale involves using an UI to enter and edit playbooks, or syncing manual repositories, etc. It's using SCM, pull requests, testing, and so one. Oftentimes it means using the API and not worrying about the UI at all except for a few operators. That's why these are best practices - we k

[2018-09-20 18:40] msilmser opened #2295 "RFE: Move *_enabled_{var,value} to per-source settings"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- Dynamic Inventory

##### SUMMARY
As a writer of a custom dynamic inventory script, I want to be able to decide which host will be activated/deactivated in Tower so that this Host status can be based on information from my inventory source

[2018-09-20 18:52] msilmser opened #2296 "RFE: Easier to Digest Search Filters"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- UI

##### SUMMARY
As an Operator I want to have easier to use filter criteria so that I can more easily create my own without having to study the API pages

##### ADDITIONAL INFORMATION
Filter dropdowns would be a potential solution here.

[2018-09-20 19:25] sumkincpp opened #2299 "UI: use vars_prompt for Template surveys"
##### ISSUE TYPE
 - Feature Idea

Great feature which will help not to worry about Survey creation/synchronization for Templates.

##### COMPONENT NAME
 - UI

##### SUMMARY
Add a checkbox option for templates which will allow to reuse vars_prompt from linked playbooks source.
Implementation: parsing playbook YAML on launch.

[2018-09-20 19:32] wenottingham commented on #2299
The playbook is not (necessarily) present at the time the survey is displayed, and even in the case where it is, it could change before running. That makes this somewhat impractical.

Plus, for license reasons, you'd need to write a playbook parser in AWX without using Ansible code.

[2018-09-20 19:50] sumkincpp commented on #2299
AWX doesn't have "hard locks" for everything right now, so everything can change. If there is no linked playbook - this configuration should not be run.
An additional check should be present that checks that submitted parameters from the form are consistent with parameters in playbook on the scheduled run. This check will solve a problem

If something is missing or inconsistent on run, then there

[2018-09-20 19:52] AlanCoding commented on #2226
Looks like Ansible core devs have have agreed on the solution. Fix should be landing in development Ansible soon.

[2018-09-21 02:08] Cameronwyatt commented on #2294
I have also run into this. Since the CloudForms dynamic inventory uses the VM name as the key, and not something like the hostname, spaces can be present.

[2018-09-21 05:48] willthames opened #2300 "AWX inventory sync merges rather than replaces"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
When reading inventory from a source, the result is a merged inventory rather than a replaced inventory. This can have some subtle edge cases.

##### ENVIRONMENT
* AWX version: 1.0.6
* AWX install method: kubernetes
* Ansible version:  2.6.3
* Operating System: Linux
* Web Browser: any

##### STEPS TO REPRODUCE

Create an i

[2018-09-21 05:53] willthames commented on #2300
Argh, I've just spotted "Overwrite Variables" in the UI. That'll do what I need.

[2018-09-21 05:53] #2300 closed, assigned to nobody

[2018-09-21 06:04] cg-cnu commented on #2268
Thanks for the link. After much debugging I realized that awx only recognizes the files which are executable, from [awx source](https://github.com/ansible/awx/blob/d8c4f118c23fde9f59f38334974381264d22f120/awx/main/utils/ansible.py#L69). I just added the file in the git and hoping it to show up in awx interface. :man_facepalming:
Just in case someone face a similar issue, make sure your scripts are

[2018-09-21 11:46] rmacian commented on #223
Here are some different examples and just to clarify. If I want to import my inventory from the SCM with a vault file on the group_vars dir, I have to remove it from my scm and put the output of the vault file in AWX as a variable ?

[2018-09-21 12:05] AlanCoding commented on #223
Shouldn't be as hard as you're making it.

If you have a group_vars directory that was encrypted via `ansible-vault encrypt`, then that's whole-file encryption, and you can't import it to AWX. To fix this, however, you don't need to _massively_ refactor. Instead, you can take the variables out of that file you need encrypted, and encrypt them via `ansible-vault encrypt_string`, and put those in th

[2018-09-21 12:32] benthomasson commented on #2056
mathjs v4.0.0 removes eval: https://github.com/josdejong/mathjs/issues/682#issuecomment-367286156

[2018-09-21 14:17] AlanCoding opened #2301 "User auth field not documented in OPTIONS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
The user serializer provides the `auth` field but it is not present in OPTIONS

##### ENVIRONMENT
* AWX version: 1.0.8
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

GET `/api/v2/users/`

OPTIONS

[2018-09-21 14:44] sparkacus commented on #278
I would love to see a feature that allows users to save searches and even create a list of their own favourite templates that they can quickly display.

[2018-09-21 14:57] jmnguye commented on #1855
1.0.7.2 also, and also get the same error : Invalid key(s): "member_attr".

If i remove the entry : "member_attr": "member" i can save the configuration, but ldap is not working

[2018-09-21 15:58] ryanpetrello commented on #2276
@iTraceur we have been able to reproduce this in environments where `enum==0.4.6` was installed in the global Python site-packages due to _this_ bug/issue:

https://github.com/pyca/cryptography/issues/4010

Forcibly uninstalling the stray `enum` fixed the issue for us.  I suspect that your:

...has contributed to this in some way.

[2018-09-21 16:44] matburt commented on #2276
also, to be clear on this:

`AWX install method: native on linux`

is unsupported by us.

[2018-09-21 16:49] Cameronwyatt opened #2303 "CloudForms dynamic inventory should use the hostname of the instance, if present, as the name of the host"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - Dynamic inventory

##### SUMMARY
Other inventories, such as the one for Satellite and VMware vCenter, will key the name of the host in the inventory off of the hostname of the VM. The CloudForms inventory, by default, uses the name of the VM. If you have an inventory with multiple sources in it, the CloudForms dynamic inventory using the n

[2018-09-21 20:28] kialam opened #2305 "As an AWX user, I want to be able to create a Split Job Template"
##### SUMMARY

As an AWX user, I want to be able to create a Split Job so that I can automatically break up a job and spread it across multiple hosts and reduce resource consumption when running the job.

##### Acceptance Criteria:
1. Users can create a Job Template via the JT form and enter in a Split value as a number.
2. This value is a new form field in the JT.
3. It is not a required field.
4

[2018-09-21 20:44] kialam opened #2306 "As an AWX user, I want to be able to edit a Split Job Template"
##### SUMMARY

As an AWX user, I want to be able to edit a Split Job so that I can automatically break up a job and spread it across multiple hosts and reduce resource consumption when running the job.

##### Acceptance Criteria:
1. Users can edit a Job Template via the JT form and enter in a Split value as a number.
2. This value is a new form field in the edit JT form.
3. It is not a required fi

[2018-09-22 19:41] realtebo commented on #1636
@santizo Hi ! I have same problem.... what  is the solution you found?

[2018-09-23 11:35] EmadMokhtar commented on #1519
@wenottingham I looked at awx code and it is using DRF, so what about using [django-cors-headers](https://github.com/ottoyiu/django-cors-headers/) package recommended by [DRF](http://www.django-rest-framework.org/topics/ajax-csrf-cors/#cors)

If we agree to use this package I can work on this issue and implement the change.

[2018-09-24 07:14] shanedobson-ibboost opened #2307 "Changing postgres_data_dir to a persistent directory does not prevent configuration being wiped."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI
 - Installer

##### SUMMARY
Changing postgres_data_dir to a persistent directory does not prevent configuration being wiped.

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method:  docker on linux
* Ansible version:  2.6.4
* Operating System: Ubuntu 18.04.1 LTS
* Web Browser: All

##### STEPS TO REPRODUCE

1. Install AWX and conf

[2018-09-24 08:05] #2307 closed, assigned to nobody

[2018-09-24 08:06] shanedobson-ibboost commented on #2307
I didn't realise I had to rebuild the containers.

[2018-09-24 12:59] mo-saeed opened #2308 "AWX installation Fails on Kubernetes 1.8 in Migrate DB step"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Installation on kubernetes 1.8 is stuck in the DB migration step:

ImproperlyConfigured(\"settings.DATABASES is improperly configured. \"", "django.core.exceptions.ImproperlyConfigured: settings.**DATABASES is improperly configured. Please supply the ENGINE value**. Check settings documentation for more details.", "co

[2018-09-24 14:56] edperry commented on #989
I don't see why this issue is being rebuffed by the project. You have to build a container anyway. a container is nothing more then a pre-packaged operating system structure (Give or take minor differences).  Since Ansible its self is supposed to do deployments shouldn't this project embrace the idea regardless where you install it (bare metal, VM's , containers, ... )  the same install and compil

[2018-09-24 15:04] edperry commented on #1549
Any progress on getting this PR merged? I find it horrible that a Password Authenticated GUI is not by default SSL.

[2018-09-24 16:45] jakemcdermott opened #2310 "When a job template has a split number greater than one, I want to launch workflow jobs with it."
##### Summary
 When a split job template exists on awx, I want to launch a workflow job with it from any job templates list in awx.

##### Acceptance Criteria:
1. Split Job Templates can be launched from the job templates list.
2. Split Job Templates without prompt fields redirect to workflow job viewer on successful launch.
3. Split Job Templates with prompt fields and / or extra variables have i

[2018-09-24 17:29] jmnguye commented on #1898
I'm facing the same issue, but i use k8s, and the error message occurs after an upgrade, not sure if it's related but... I've checked my setting.py for the CLUSTER_HOST_ID , and value is awx

Can you provide more details @shivam99aa ?

[2018-09-24 18:35] jakemcdermott opened #2311 "When a split job template is launched, I want to cancel the whole workflow or individual jobs."
##### Summary
When split jobs are running, users should be able to cancel the  workflow job or individual split jobs.

##### Acceptance Criteria:
1. The entire workflow can be cancelled from the jobs list or workflow job details view.
2. Individual split jobs can be cancelled from the jobs list or job details view.
3. Relaunching the workflow job or individual split jobs continues to work as expec

[2018-09-24 18:42] jakemcdermott opened #2312 "When split jobs are finished running, I want to relaunch the whole workflow or individual jobs."
##### Summary
When split jobs are running, users should be able to relaunch the  workflow job or individual split jobs.

##### Acceptance Criteria:
1. The entire workflow can be relaunched from the jobs list or workflow job details view. Relaunching the workflow job reloads the workflow job details page.
2. Individual split jobs can be relaunched from the jobs list or job details view.
3. Relaunch

[2018-09-24 18:51] jakemcdermott opened #2314 "When a split job template is launched, I want to view details about the workflow and split jobs"
##### Summary
When split jobs are running, users should be able to see the workflow and split jobs in all jobs lists as well as view their details individually.

##### Acceptance Criteria:
1. The workflow job view is loaded on launch for job templates with split numbers > 1.
2. The workflow job viewer links to the individual split jobs.
3. Workflow jobs created from launching split job templates a

[2018-09-24 19:36] sudomateo commented on #223
The problem with the `ansible-vault encrypt_string` route is when it comes time to vault key rotation. There should be an ability in AWX to pass a vault ID to the inventory update when sources from a project. Especially when the best practices docs for Ansible mentions using a `vars` file and a `vault` file for secrets within your group_vars.

[2018-09-24 20:34] wenottingham opened #2315 "expand Azure creds to handle all varieties of Azure credential"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

From https://docs.ansible.com/ansible/2.6/scenario_guides/guide_azure.html#providing-credentials-to-azure-modules:

...

Using Environment Variables

To pass service principal credentials via the environment, define the following variables:

    AZURE_CLIENT_ID
    AZURE_SECRET
    AZURE_SUBSCRIPTION_ID
    AZURE_T

[2018-09-24 20:57] henry-zektser-vineti opened #2316 "WorkflowChart-svg needs a width: 100%"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
In Workflow Visualizer, the svg element is horizontally truncated.
<img width="1444" alt="image" src="https://user-images.githubusercontent.com/40836835/45978592-bd280780-c01a-11e8-8bfc-829cd8ae1eff.png">

##### ENVIRONMENT
* AWX version: tip of master branch
* AWX install method: openshift
* Ansible version:  tip of master

[2018-09-24 21:06] dmsimard opened #2317 "AWX Installer: There is no way to prevent preloaded/demo configuration from being created"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
The "regular" Tower installer supports setting ``create_preload_data=False`` to prevent the creation of demonstration configuration.
There is currently no equivalent for the current installer of AWX in OpenShift/k8s: https://github.com/ansible/awx/blob/ae207b5f330b087d29917a5b661d04fa3b0dfc9a/installer/roles/kubernete

[2018-09-25 11:48] AlanCoding commented on #2295
This feature already exists. To use it for either SCM-based inventory or custom scripts, set the corresponding `ENABLED_VAR` in your file-based settings.

https://github.com/ansible/awx/blob/8a66213dbe5e8b90128ef84754d434172c7ed48d/awx/settings/defaults.py#L932-L950

This must correspond to a hostvar returned from the import.

[2018-09-25 12:48] AlanCoding commented on #2226
Fix was merged into development Ansible, and is slated for 2.8 release.

[2018-09-25 12:48] #2226 closed, assigned to nobody

[2018-09-25 14:00] AlanCoding commented on #223
Actually, there have been some changes since the last comments in this thread about the possibilities of decrypting whole-file vault secrets. When Ansible core implemented the ability to specify vault in JSON, https://github.com/ansible/ansible/pull/38759, `ansible-inventory` behavior became:

 - whole-file secrets are decrypted with provided passwords, or else errors
 - variable-based secrets are

[2018-09-25 14:04] AlanCoding commented on #1954
Some feature research has been put in:

https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/vault/parsers

[2018-09-25 14:09] AlanCoding commented on #2148
I filed an issue for this in the tower-cli issue queue. At least I'm fairly certain this isn't a server bug, yes, it will sometimes use the string type for extra_vars, which is dumped JSON and kind of confusing, but the conversion of the count_input to empty string must be CLI related.

[2018-09-25 14:09] #2148 closed, assigned to nobody

[2018-09-25 14:15] wenottingham commented on #2295
That is a global, the goal is to have this as an option that can be sent per-source-configuration.

[2018-09-25 14:59] alexander-bauer opened #2318 "Inventory sync job status indicator in details tab for triggering job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
When I launch a job that triggers a Project sync, the lefthand details tab for my new job includes a status indicator for my project sync job. It would be nice to have a similar job status indicator for Inventory syncs triggered in the same way.

[2018-09-25 15:26] AlanCoding commented on #2318
Could you add some more detail about the resources you set up on AWX? You created an inventory source, did you check "update on launch", or the SCM inventory feature "update on project change".

It's also possible to make a project "update on launch", and we should consider the UI impact of this in this context as well.

[2018-09-25 15:49] wwitzel3 commented on #173
https://circus.readthedocs.io/en/latest/

[2018-09-25 16:57] alexander-bauer commented on #2318
My use-case is with "update on launch." Every time I launch this job, it always launches two other jobs:  the project update, and the inventory update.

I'm not sure how this would or should change the "update on project change" side.

[2018-09-25 17:07] AlanCoding commented on #2318
In this case, there are 2 project updates that happen. The link is to the dependent project sync to update files in the local source tree. There's another (possibly unlinked) project check-type update which updates the revision number, if new commits had landed.

[2018-09-25 17:14] jritorto opened #2319 "AWX Should Support Inline Vaulted Variables During Inventory Sync"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
AWX should work seamlessly with existing inline-vaulted variable inventories in the recommended Ansible Alternative Directory Layout.

##### ADDITIONAL INFORMATION
- When running the inventory sync, despite having entered the vault password in a credential, vault variables for some reason don't work -- i.e. we get "

[2018-09-25 17:54] forprem opened #2320 "How to install isolated node in AWX"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
I'm currently having issues installing isolated nodes. Is there documentation available to do it manually?
Do we install isolated nodes on another host with the Ansible playbook.

I am seeing this one for isolated node but not sure how will i use it.
https://github.com/ansible/awx/blob/devel/.github/ISSUE_TEMPLATE.m

[2018-09-25 18:01] ryanpetrello commented on #2320
@forprem,

Unfortunately, isolated task execution isn't currently implemented in awx.  At this point in time, there's a notable amount of implementation details that have yet to be discussed and implemented, such as:

- support for building an image that deploys the minimal "playbook runner" tooling that runs on isolated nodes
- the process of calling various awx-manage commands to register isolat

[2018-09-25 18:01] #2320 closed, assigned to nobody

[2018-09-25 18:43] kdelee commented on #2256
@AlanCoding I hear that you will be working on this. I've signed up to be the primary test owner for this feature. Let me know when you start thinking about working on it!

[2018-09-25 18:44] kdelee commented on #2254
I'm going to be back up for @jladdjr on testing for this feature

[2018-09-25 19:39] kdelee commented on #2255
@rooftopcellist Sounds like I am going to be on this one for testing, will be relying on @Spredzy and @jladdjr for backup. It looks like you are planning on working on this.

[2018-09-25 19:44] rooftopcellist commented on #2255
@kdelee Ok, great.  I'm looking forward to working with you on this.

[2018-09-25 20:19] walkafwalka commented on #1549
@edperry I have already submitted a PR for this already though it might need to be rebased.
See https://github.com/ansible/awx/pull/2135#issuecomment-424318303.

[2018-09-26 08:15] g3l0l4 opened #2321 "ERROR when trying to select credential in job template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
I`m trying to create a new job template with a credential but when I try to select the credential I get this error -->
![imagen](https://user-images.githubusercontent.com/17069911/46066200-66364580-c174-11e8-9d0f-7cead9d5bdb2.png)

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method: docker on linux
* Ansible versi

[2018-09-26 11:55] MrMEEE opened #2322 "Versioning changed after 1.0.8??"
Hi

Has versioning or the way you are tagging version changed after 1.0.8??

mj@falcon:~/Download$ git clone https://github.com/ansible/awx.git
Cloning into 'awx'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 179555 (delta 0), reused 1 (delta 0), pack-reused 179548
Receiving objects: 100% (179555/17

[2018-09-26 12:02] shanemcd commented on #2322
Sounds like maybe an issue with your git repo. Try to fetch upstream again. We have a lot of tooling that is built around this versioning system and it’s showing up as 1.0.8 everywhere else. If you’re still having issues hit us up on IRC or the mailing list.

[2018-09-26 12:06] MrMEEE commented on #2322
mj@falcon:~/Download$ git clone https://github.com/ansible/awx.git
Cloning into 'awx'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 179555 (delta 0), reused 1 (delta 0), pack-reused 179548
Receiving objects: 100% (179555/179555), 201.52 MiB | 4.99 MiB/s, done.
Resolving deltas: 100% (139134/139134),

[2018-09-26 12:07] MrMEEE commented on #2322
Oh, didn't see the last part of the message, will try to post in the mailing list...

[2018-09-26 13:48] shanemcd commented on #2322
I'm actually going to reopen this. Here's what happening

When we cut `1.0.8`, things were fine. The images reported the right version and life was good.

Then when we merged a PR that was based off of devel @ 1.0.7, `--first-parent` now reports what @MrMEEE is seeing. 😞

We're going to take this opportunity to revisit how versioning works in AWX. I will post updates here and close this out when w

[2018-09-26 14:39] wenottingham commented on #2321
Does it work if you're not running in Spanish? (Just to narrow down the bug.)

[2018-09-26 14:48] wenottingham commented on #2321
In further looking, I'm going to assume this is the same thing as https://github.com/ansible/awx/issues/2231, and close it as a duplicate.

[2018-09-26 14:48] #2321 closed

[2018-09-26 16:13] benjdudas opened #2324 "Unable to filter hosts based on associated group mapping."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

When adding existing groups to a new inventory group, hosts in the existing group cannot be filtered based on the new parent group name.

##### ENVIRONMENT
* AWX version: 3.3.0
* Ansible version:  2.6.4
* Operating System: CentOS Linux 7 (Core)
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1) Create a inventory g

[2018-09-26 16:18] #2324 closed, assigned to nobody

[2018-09-26 16:51] J-SirL commented on #882
Why do they have only Docker junk!, I  wote that we should create a fork to create a proper version of awx.

[2018-09-26 16:55] MrMEEE commented on #882
@J-SirL @mgsreddy @muzzol @dylan0911 You guys are welcome to try my RPM version and join in on the project:

https://github.com/MrMEEE/awx-build/blob/master/installguide.md

[2018-09-26 16:56] shanemcd commented on #882
Hi @J-SirL, we only support running AWX in Docker because it's an open source project and we do not have the resources to support multiple OS distributions or versions. The downstream product, Ansible Tower does have the option of installing on Red Hat-based OSs and Ubuntu via their native packaging systems. I'm sorry if this is frustrating but it's really a matter of support / bandwidth, not that

[2018-09-26 17:41] mabashian opened #2325 "Add WF level inventory to AWX UI"
##### ISSUE TYPE
 - Task

##### COMPONENT NAME
 - UI

##### SUMMARY
link #2256

This work can be split into two different steps:

### Step 1 - Adding support for the new field

**When creating/editing a workflow:**
-  A new lookup field (inventory) will be added to the form.  This field is always present and is optional.  A user can type into the input or click the magnifying glass icon to be pres

[2018-09-26 18:23] jlmitch5 opened #2326 "sub-nav popout pane positioning fixes and syntax updates"
there are a few changes that need to be made to the settings menu reorg work to meet acceptance criteria:

- update pane styling to conform to our suit less naming convention
- fix position of sub-nav popout pane.  the bottom of the pane should be positioned where the bottom of the settings menu item is the same level
- fix issue where if the nav is bigger than the height of the viewport, scrollin

[2018-09-26 18:27] jlmitch5 opened #2327 "auxilary project lists rely on legacy ProjectList object"
Currently, projects lists outside the `/#/projects` route itself rely on the old ProjectList json configuration object.  They should be updated to consume the new list, similar to the way templates/jobs list views work.

The lists that are affected include:
- rbac
- sources-lookup-proejct.route.js (?)
- org projects
- stateDefinitions.factory.js (state generator)
- workflow template

[2018-09-26 18:30] jlmitch5 opened #2328 "follow up on product-docs repo changes necessary once settings menu reorg lands"
this is the relevant product docs issue https://github.com/ansible/product-docs/issues/528

the changes necessary to product docs will probably be minimal, and consist mostly of updating screenshots that are impacted by the change (screenshots that include the configuration/settings screen).  no functionality has changed, so as far as wording goes, the only thing that would need to change would be

[2018-09-26 18:34] jlmitch5 opened #2329 "run/fix any e2e tests related to settings menu reorg/nav changes as well as new project screens"
the uiToMergeDevel branch has two main enhancements: the new settings menu nav work, as well as an updated version of the projects list to our new style.

after the issues are fixed and that branch is merged into awx/devel, this card is about fixing any e2e tests that are impacted by that work.  this sort of issue will not be necessary in the future, as merging will be gated by the e2e tests runni

[2018-09-26 18:39] jlmitch5 commented on #69
While most of this work is complete and currently resides in the uiToMergeDevel branch, follow-up enhancements and the necessary qe and documentation work needed to complete the feature is being tracked in https://github.com/ansible/awx/projects/9

after all those tasks are marked as done, this card can be verified and closed.

[2018-09-26 19:23] ryanpetrello commented on #882
It's also worth mentioning that there's nothing _wrong_ with other open source approaches to installing awx, like the one mentioned above (https://github.com/MrMEEE/awx-build/blob/master/installguide.md).  It's just that if you need support for those install method, and you file an issue in this awx issue tracker, the awx maintainers aren't _as_ open to helping troubleshoot (because we didn't writ

[2018-09-26 19:27] apple4ever commented on #882
@MrMEEE NICE, thought I wish it was in deb format! I'd actually be willing to help get that going.

@dylan0911 any update?

[2018-09-26 19:51] MrMEEE commented on #882
@apple4ever I actually already have the Source build for Ubuntu running, but haven't had the time to do the Debian build files for the package, and the integration for pushing it to launchpad..

[2018-09-26 19:59] dylan8911 commented on #882
All,

I'm sorry for never getting back to this thread. My manager asked me to wait before replying and that they would take a decision on this and let me know if we would make my work public. 9 Months later, I don't think this will ever happen...

In the meantime, with the continuous stream of updates this project has, my team and I ended up reworking the ansible files and docker tasks to make the

[2018-09-27 00:07] riponbanik commented on #735
@mkayontour I have followed the process and configured krb5.conf but still shows the error below -

"kerberos: authGSSClientStep() failed: (('Unspecified GSS failure.  Minor code may provide more information', 851968), ('Server not found in Kerberos database', -1765328377)), plaintext: the specified credentials were rejected by the server",

klist shows my cred that I created using kinit successfu

[2018-09-27 00:45] riponbanik commented on #735
I have resolved the above issue by using host fqdn instead of ip address in the inventory.

[2018-09-27 02:36] mneumarkidg opened #2330 "Show instance name of instance that executed job on list and details for jobs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
When listing the Job List of Completed Jobs and Clicking on the Job Details for a Job. Should quickly identify the instance that executed the job.

This will help for quickly identifying where issues within instance might be.

Example: If you have 5 PODs running on Kubernetes with AWX. You should be able to look at the job

[2018-09-27 08:29] g3l0l4 commented on #2321
Changing firefox language to english solved the problem but... if I want it in spanish i can´t select credential for job template... do you know how to fix that or I have to whait until the solution arrives?

[2018-09-27 09:58] antonvolokha opened #2331 "Add git credential as extra credentials to job template"
##### ISSUE TYPE

 - Help request

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

It`s posible to add git credential as extra credentials to job template???
Because I need to clone project in my tasks and I have error: "Could not read from remote repository.\n\nPlease make sure you have the correct access rights\nand the repository exists"
And I do not understand how to solve this

##### ENVIR

[2018-09-27 14:07] wenottingham commented on #2321
It will require a software fix, there's not a workaround at the moment.

[2018-09-27 14:08] wenottingham commented on #2331
For SSH keys used to access source control, this is likely not practical, as it could lead to unexpected behavior when using SSH to access managed machines.

[2018-09-27 19:14] TwoTwenty commented on #1083
syslog +1

[2018-09-27 21:02] jakemcdermott opened #2333 "When split jobs are created, I want to be able to search for them specifically."
##### Summary
When split jobs are created, I want to be able to search for them.

##### Acceptance Criteria:
1. A search filter can be applied to job lists to show only split jobs
2. A search filter can be applied to job lists to show only parent workflow jobs of split jobs
3. ~A search filter can be applied to job lists to show only split jobs workflow jobs.~  (edit: crossed out as this is just d

[2018-09-28 08:45] couchgott opened #2334 "AWX Inventory import does not work with foreman 1.19"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - dynamic Inventory, inventory source

##### SUMMARY
Since i updated foreman to v1.19 i get an error if i try to import the foreman inventory into my awx instance.

AWX Log shows:
`/usr/lib/python2.7/site-packages/awx/__init__.py:101: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as bei

[2018-09-28 10:03] steefenh opened #2335 "Jobs stuck in status pending - no new Job scheduled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Suddenly Jobs are not startet any more while no SCM or inventory update is running.
Scheduled Jobs are not launched by scheduler
API launched Jobs (from external API call) are stuck in status pending.
restart of docker service fixed the issue

##### ENVIRONMENT
* AWX version: 1.0.6.23
* AWX install method: docker on linux
*

[2018-09-28 13:53] forprem opened #2337 "LDAP setup is not working with AWX"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
LDAP setup is not working, main issue is LDAP Bind DN password value is not saved. After setting up the field I tried ldap id but did not work.
django_auth_ldap Caught LDAPError while authenticating ,<LDAP_ID> OPERATIONS_ERROR({'info': 'SSL connection already established.', 'desc': 'Operations error'},)

##### ENVIRONMENT
*

[2018-09-28 14:17] droopy4096 commented on #1182
I love this idea, and from user perspective the main use-case would be during the launch of the template to aid in tag selection.

Issue with running it at the time of template creation/edit is that perhaps the data will get "stale" after edit due to project update etc. However this is no different from current behavior (and indeed is slightly better) as currently one can list arbitrary tags in fr

[2018-09-28 14:22] krisayala opened #2338 "Unable to ping in a playbook AWX 1.0.8 - Permission Error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.8
* AWX install method: docker on linux on Kubernetes
* Ansible version:  2.6.4
* Operating System: RHEL 7.5
* Web Browser:  Version 68.0.3440.106 (Official Build) (64-bit)

##### STEPS TO REPRODUCE

Have AWX 1.0.8 running
Run a playbook that trys to ping any endpoint

[code]

##

[2018-09-28 14:27] wenottingham commented on #2334
What happens if you run the script by hand?

Regardless, this would need fixed in https://github.com/ansible/ansible first.

[2018-09-28 14:28] wenottingham commented on #2338
Turn off job isolation, or connect via SSH. This is intentional.

[2018-09-28 14:28] #2338 closed, assigned to nobody

[2018-09-28 14:56] krisayala commented on #2338
Turning off job isolation did the trick and its working again.  Thanks!

[2018-09-28 16:06] AlanCoding opened #2339 "Superuser with fresh install gets mis-attributed permission error adding JT"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Superuser trying to add JT get permission error if there are no inventories or projects in system.

##### ENVIRONMENT
* AWX version: 1.0.8
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Do a fresh

[2018-09-28 16:09] mabashian opened #2340 "Decouple wf node link from wf node details"
##### ISSUE TYPE
 - Task

##### COMPONENT NAME
 - UI

##### SUMMARY
link #2254

* Note that for users with read-only access to the workflow the only perceived change will be the removal of the RUN dropdown in the edit node form.  Everything else here applies to users with admin privileges on the WFJT.

Currently in AWX, when a user wants to edit the link between two workflow nodes they click on th

[2018-09-28 16:29] zakstar commented on #490
@lukasmrtvy The following response above you from @kuklis helped me in the workaround.

[2018-09-29 00:58] afraser502 opened #2345 "Openshift Installation SCM pull failing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Installer

##### SUMMARY
Running an Openshift installation results in errors with AWX_Web and AWX_Celery containers. Installation succeeds however errors occur when trying to submit jobs or create projects that talk to SCM. The SCM pull never runs.

##### ENVIRONMENT
* AWX version: 1.0.8
* AWX install method: openshift
* Ansible version:  2.6.

[2018-09-29 08:56] theodotos commented on #1855
I get this in the logs when the "member_attr": "member", line is added:

[code]

@jmnguye your 'LDAP not working' issue is probably unrelated. Try look at the logs with: `docker logs -f awx_web`

[2018-09-29 20:44] mabashian opened #2347 "Add ability to converge workflow nodes"
##### ISSUE TYPE
 - Task

##### COMPONENT NAME
 - UI

##### SUMMARY
link #2254

link #2340 - 2340 is a pre-req for this issue.  Everything listed below _assumes_ that 2340 has been fully completed.  The scenarios below outline what's needed to support workflow node convergence in the UI:

**When adding a WF node:**
-  Users cannot define any convergence while adding a WF node.  They'll need to add

[2018-10-01 07:00] zelenkovsky commented on #2331
@wenottingham As of a problem itself I believe we can agree that git module becomes unusable without an ability to pass SCM credentials: it fails to clone any non-public repo.

As of solution: I support your opinion that it does not make sense to mix up machine connection credentials with SCM deployment keys, that is at least confusing.

We plan to prepare a patch, test it and make sure it works.

[2018-10-01 08:23] couchgott commented on #2334
Hey,
not sure how to run the script manually
Guessing just go into the container and running the mentioned py script? /usr/lib/python2.7/site-packages/awx/plugins/inventory/foreman.py
Creating the usual foreman.ini inventory by hand and place it somewhere in the container ...
am i right? :o)

[2018-10-01 12:46] pranshuverma opened #2349 "Creating Groups/Hosts in Inventory returns - GET returned: 500 A server error has occurred."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
While creating groups/hosts in inventory return GET returned: 500 A server error has occurred in UI.

##### ENVIRONMENT
* AWX version: 1.0.8
* AWX install method: docker compose on linux
* Ansible version:  (N/A)
* Operating System: Centos7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

After creating inventory try addin

[2018-10-01 13:02] vkchadha commented on #2285
We are seeing the same issue while running playbook via rest api or ui.
 job['summary_fields']['inventory']['has_active_failures']  looks to have correct status. But we are not sure this is the correct status field.

[2018-10-01 14:08] nicolaibaralmueller commented on #2244
Anyone?

[2018-10-01 14:48] wenottingham commented on #2331
There would need to be a way to attach a credential such that it could be used only by the git module.

Workaround (non-key case):

[code]

where `user` and `password` are variables from a custom cred, or from a vault file.

Solution:

- extend SCM creds to lay down a key file, and augment `project_update.yml` to use the `key_file` parameter (see https://docs.ansible.com/ansible/latest/modules/git

[2018-10-01 14:49] xding2020 opened #2350 "Category( or folder) for templates/project/inventory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

With too many templates/projects/inventory entries in the Tower, category or folder would help user organzie their work. So user would see the category first when they go to templates/projects/inventory page. Then they could click the category, maybe like a drop-down menu, or jump to another page, only the templates/proj

[2018-10-01 14:52] wenottingham commented on #2349
This looks like a mis-deployment; your container cannot talk to rabbitmq.

[2018-10-01 15:05] pranshuverma commented on #2349
@wenottingham Just to add I was able to create project, add credentials, create org, users etc before this.

I am checking my rabbitmq logs.

[2018-10-01 15:55] ryanpetrello commented on #2285
This generally signifies that the container/VM running the playbook:

1.  Failed to record a heartbeat within two minutes and was marked as "offline".  This can happen as a result of network issues, or if the underlying celery worker unexpectedly hangs or restarts.  When this happens, any running jobs for the node are marked with the `Task was marked as running...` message above and set to `Failed

[2018-10-01 20:15] e-tienne opened #2353 "RFE: export schedule information in tabular format"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
generate schedule report in tabular format for the following:
* Report containing templates, and workflows with schedule, and inventory hosts
*  Report containing jobs, and workflow jobs with schedules as well  as hosts where jobs were executed on
##### ADDITIONAL INFORMATION

Ability to generate a report of what job temp

[2018-10-02 03:10] zelenkovsky commented on #2331
@wenottingham As of a problem itself I believe we can agree that git module becomes unusable without an ability to pass SCM credentials: it fails to clone any non-public repo.

As of solution: I support your opinion that it does not make sense to mix up machine connection credentials with SCM deployment keys, that is at least confusing.

We plan to prepare a patch, test it and make sure it works.

[2018-10-02 13:35] trim777 opened #2354 "Job output not displayed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

After launch job there are no output displayed in job log. Ansible awx started as stack in swarm. If I restart awx-task container - everything becomes OK, I can see output from new started jobs and for previous launches too.
##### ENVIRONMENT
* AWX version: 1.0.8.0
* AWX install method: docker swarm on linux
* Ansible ver

[2018-10-02 13:46] jakemcdermott commented on #2354
Hi trim777, can you provide logs from the task container when the issue occurs?

Also, when it is occurring, is it just job output or all real-time updates? (job statuses on other pages, etc.).

When you're seeing the error, can you see output from previous launches?

This information might help us narrow this down.

[2018-10-02 13:48] jakemcdermott commented on #2354
Also, which AWX installation method (specific playbook and role from the awx repo [installer](https://github.com/ansible/awx/tree/devel/installer) ) are you using?

[2018-10-02 13:55] shanedobson-ibboost opened #2355 "Playbook drop-down in template only displaying some options from Git repo"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I have a project which uses git scm. The repo contains a number of playbooks in various directories.

The first few times, when getting the latest SCM revision, I was then able to select from all of the expected playbooks when creating a template under that project. However now, when I get the latest SCM revision, the dro

[2018-10-02 15:48] jmnguye commented on #1855
@theodotos yeah, you were write, this was due to the fact that i made an export/import with tower-cli for the users, it does import your account object, but it doesn't keep the binding to ldap, so it's like having an "unknown" account, after deleting my account and reconnecting, it went ok.

Regarding the error message you get, i also get the same one :
`2018-10-02 15:42:26,539 WARNING  awx.api.ge

[2018-10-02 16:13] AlanCoding opened #2357 "Badge to show if project update pulled new revision or not"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
There is no way to tell at a glance if a project update actually detected any change in the repo that it syncs. It would be nice to show this information.

##### ADDITIONAL INFORMATION

The API currently doesn't deliver this info on the project update level. Even the playbook output doesn't give this information.

P

[2018-10-02 16:52] AlanCoding opened #2358 "Job relaunch after JT cred changed uses both"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Job relaunch has something weird happening when the JT credentials have changed since the prior launch

##### ENVIRONMENT
* AWX version: 1.0.8
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

 - Cr

[2018-10-02 17:07] AlanCoding opened #2359 "Prevent custom injector env vars that are in the blacklist"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
We should give a 400 message if a user tries to use "ANSIBLE_" environment variables in a custom credential type. See:

https://docs.ansible.com/ansible-tower/latest/html/userguide/credential_types.html

It's not obvious what the actual behavior in this case is, but I believe that they are ignored.

##### ADDITIONAL INFOR

[2018-10-02 20:54] rpural opened #2360 "Two suggested UX updates..."
##### ISSUE TYPE
 - Feature Idea for a better user experience

##### COMPONENT NAME

 - UI

##### SUMMARY
For the Tower interface (actually two):

First, on the Template editing screen, add a launch button within the editor, rather than having to go down in the list and find it again. This would save a huge amount of time while debugging and editing, with little to no cost in space on screen or co

[2018-10-02 21:10] AlanCoding commented on #2360
That is on the agenda, see card https://github.com/ansible/awx/issues/1991

Persisting list filters was also mentioned there, but that would be a separate issue. I think that at some point, someone looked into persisting search filters and other view-related settings, but I can't find anything right now. @jlmitch5 do you know of any such issue?

[2018-10-03 06:19] pranshuverma commented on #2349
@wenottingham thanks, my bad it was a typo in credentials for rabbitmq.

[2018-10-03 06:19] #2349 closed, assigned to nobody

[2018-10-03 09:31] shanedobson-ibboost commented on #2355
Just found [this](https://github.com/ansible/awx/issues/1917) issue which states that a validation test is run on playbooks and any that aren't valid are filtered out, and I believe that was the issue here.

[2018-10-03 09:32] #2355 closed, assigned to nobody

[2018-10-03 10:54] bisimrem opened #2361 "Kubernetes deployment unintentionally self-upgraded and now it's stuck"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer (probably?)

##### SUMMARY
After deploying to Kubernetes (after some struggles) about a month ago,using external Postgres, AWX was working fine. Doing no changes on it whatsoever since then, we did check up on it yesterday and discovered that it's stuck in a wierd permanent upgrade state. Restarting the cluster didn't help, scaling

[2018-10-03 11:49] asoraruf opened #2362 "504 Gateway Time-out on provisioning callback when integrated with Satellite 6.2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
504 Gateway Time-out on provisioning callback when integrated with Satellite 6.2

##### ENVIRONMENT
* AWX version:  1.0.8.0
* AWX install method: docker on linux
* Ansible version:  2.6.4
* Operating System: RHEL 7.5
* Web Browser:

##### STEPS TO REPRODUCE
1) Integrate AWX with Satellite with a dynamic inventory

    Crede

[2018-10-03 14:07] mramirezacr opened #2365 "AWX not updating to show any new files in git repo"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I set up a Git repo under my work email with one .yml file as a playbook.  Set up a new project named 'Test Repo' in AWX.  That file named createfile.yml shows up when I try to create a new job template using that project.  However, any new files added to the Git repo are not showing up in AWX.

##### ENVIRONMENT
* AWX ver

[2018-10-03 14:09] mramirezacr commented on #2365
Have tried rebooting server.
Have tried deleting 'Test Repo' project and creating a whole new project using the same URL for the Git repo.  The new project was created after new files were added to the repo, but still only the first, original createfile.yml appears.

[2018-10-03 15:15] rmacian commented on #223
Thank you. I've been able to import the inventory using the encrypt string . I can see my vaulted variables but I wonder if I must sync manually my inventory each time I change a value from my vault.yml file or if it can be done automatically

[2018-10-03 15:32] AlanCoding commented on #223
It needs to be synced each time, yes. For your case, if you set the inventory source to update on project change, and then set the project to update on launch, then it should do a just-in-time update of both the project and the inventory, both of which are necessary.

[2018-10-03 15:41] jlmitch5 commented on #2360
+1 on your first point.  I agree, it is a UX improvement with very little involved.  You can track progress in 1991.

Persisting searches on lists is roped into this issue https://github.com/ansible/awx/issues/278.  The way we've thought about it before is by persisting the user's preferences to the backend, as well as having an interface where there can be different saved searches, with an interf

[2018-10-03 15:47] ryanpetrello commented on #2362
@asoraruf yea, this one is a known issue.  The problem is that when you run the job template callback, any associated inventory syncs are run *in the HTTP request*:

https://github.com/ansible/awx/blob/f874e55051483045884422e94e7c38209d02aeae/awx/api/views/__init__.py#L3282-L3291

Additionally, uwsgi is configured by default to abandon requests after 120s:

https://github.com/ansible/awx/blob/f874

[2018-10-03 17:01] mneumarkidg opened #2366 "Additonal Monitoring Info on Dashboard, Job List, and My View without need for Filtering"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Would love to see real-time status for the last 24 hours of new, pending, and running jobs in the Dashboard, Jobs List, or My View page. This will allow to monitor (quick glance) from a single panel without having to filter (requiring users to know filter syntax and perm queries to gather counts) jobs list or API.

[2018-10-03 17:25] mneumarkidg commented on #2285
@ryanpetrello
1) How would I detect these heartbeat failures?
2) How would I detect these heartbeat recovery?
3) Where would be the best way to start to debug this issues?

[2018-10-04 11:13] ryanpetrello commented on #2285
@mneumarkidg,

When jobs fail their heartbeat for an extended duration (by default, for two minutes), you'll see a log line about it in `/var/log/tower/tower.log` that looks like this:

`Host ... last checked in at ..., marked as lost.`
https://github.com/ansible/awx/blob/devel/awx/main/tasks.py#L414

Additionally, you can monitor the "last heartbeat" of all instances via `HTTP GET /api/v2/ping/`.

[2018-10-04 14:25] trim777 commented on #2354
Hi! Thank you for response =)

Log from task container:
https://pastebin.com/nRS1LZJG

This issue related to jobs already passed and to jobs which I manually started and would like to see execution progress. And this issue is only about inivisible log, all other things are visible: https://imgur.com/qmIYGPb

Yes, some another launches are visible ( I mean visible their logs), they were created aft

[2018-10-04 14:31] y2kkarthik commented on #2171
@DrStrangepork  I seem to have a similar issue. May I know the resolution please?

[2018-10-04 14:52] asoraruf commented on #2362
@ryanpetrello thanks a lot for you fast response!

There is also "uwsgi_read_timeout" in nginx.conf that has to be tuned.

Waiting for a better solution, I've done a quick and dirty workaround using "docker cp" to push the modified files directly into the container running from official immages:

nginx.conf
[code]

supervisor.conf
[code]

fix.sh
[code]

Thanks

[2018-10-04 16:38] AlanCoding commented on #2360
Right, a design of saved search filters hasn't been completed, but that is exactly what I was looking for.

Since the material from this issue is covered in those 2 other issues, @rpural I will go ahead and close this, but we do take this feedback into account. Thanks for your suggestions.

[2018-10-04 16:38] #2360 closed, assigned to nobody

[2018-10-04 17:03] ryanpetrello commented on #2171
This issue queue is intended for tracking issues in the open source project, AWX.  If you need support assistance with Red Hat Ansible Tower, please contact Red Hat.

[2018-10-04 17:10] seancallaway commented on #1855
Actually, @theodotos, I have (possibly) the same problem. It looks like there's an issue identifying users as members of groups.

[code]

[2018-10-04 18:49] AlanCoding opened #2370 "JT project-related error message needs updating"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Delete the project that a JT uses and then try to edit the JT

error message returned is

But if you check OPTIONS

[code]

There are only 2 types.

The error message is old and needs to be updated to reflect the current options.

##### ENVIRONMENT
* AWX version: 1.0.8
* AWX install method: openshift, minishift, docker on l

[2018-10-04 19:14] AlanCoding opened #2371 "Accept same variable formats in all cases"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
AWX has many fields that contain variables, and is editable by the user. There's no fundamental difference in the type for any of these, but yet, they behave differently.

##### ENVIRONMENT
* AWX version: 1.0.8
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  N/A
*

[2018-10-05 07:56] couchgott commented on #2334
Hey.

running the script manually from inside the awx container or via a non-docker ansible gives the same result.

`ValueError: More than one set of facts returned for '{u'comment': u'', u'build_status': 0, u'environment_id': 1, u'managed': True, u'model_id': 1, u'ip': None, u'provision_method': u'build', u'updated_at': u'2018-10-05 07:41:30 UTC', u'realm_name': None, u'configuration_status': 0,

[2018-10-05 08:54] JamesUoM commented on #2140
OK but why is the default path for the postgresql volume set to /tmp, it's going to catch out a lot of new adopters (including us) and is not mention in the installation docs that this should be changed if doing anything more than a quick test.

BTW The file you need to change is installer/inventory.

[2018-10-05 12:04] nschhina opened #2374 "EFS mount with AWX"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
EFS mount with AWX ec2 instance fails and results in bad file descriptor error in logs

##### ENVIRONMENT
* AWX version: 1.8.0
* AWX install method: docker on linux
* Ansible version:  2.4.0
* Operating System: Amazon Linux
* Web Browser: All

##### STEPS TO REPRODUCE

Try to mount EFS volume on the EC2 instance's dir

[2018-10-05 13:01] mabashian commented on #2316
Fixed with https://github.com/ansible/awx/pull/2348

[2018-10-05 13:01] #2316 closed, assigned to mabashian

[2018-10-05 15:15] wenottingham commented on #2374
I assume this is #2195, marking as duplicate.

[2018-10-05 15:15] #2374 closed, assigned to nobody

[2018-10-05 15:16] nschhina commented on #2195
Any update on this issue? This is still broken

[2018-10-05 17:44] dsesami commented on #2329
this was broken out into two WIP PRs and that uiToMergeDevel will be deleted, the first PR is here: https://github.com/ansible/awx/pull/2356

[2018-10-05 21:02] forprem opened #2376 "AWX unable to connect to external RHEL Postgress9.2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
AWX not able to connect to new external RHEL Postgres 9.2

##### ENVIRONMENT
* AWX version: 2.0.0
* AWX install method: Docker on linux,
* Ansible version:  2.6.5
* Operating System: RHEL7.5
* Web Browser:

##### STEPS TO REPRODUCE

executing ansible-playbook -i inventory install.yml

CREATE USER awx WITH PASSWORD 'a

[2018-10-05 21:08] wenottingham commented on #2376
Postrgres 9.2 is not supported, see the minimum requirements in INSTALL.md.

[2018-10-05 21:08] #2376 closed, assigned to nobody

[2018-10-06 04:06] ryan012880 opened #2377 "Workflow Visualizer UI Broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Workflow visualizer not displaying correctly

##### ENVIRONMENT
* AWX version: 2.0.0
* AWX install method: docker on linux
* Ansible version:  2.6.5
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Templates -> Create Workflow -> Go to Workflow Visualizer

##### EXPECTED RESULTS
<img width="1031" alt

[2018-10-06 04:16] ryan012880 opened #2378 "Job live stream not displaying correctly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Running a playbook with roles input multiple blank lines in the live stream activity display based on number of hosts target

##### ENVIRONMENT
* AWX version: 2.0.0
* AWX install method: docker on linux
* Ansible version:  2.6.5
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Run a job with roles wi

[2018-10-07 05:54] ghost commented on #2275
Any plans to incorporate this?

[2018-10-07 05:56] ghost commented on #2220
Any plans to incorporate this?

[2018-10-08 07:11] ryan012880 opened #2379 "Dashboard Indicator not working correctly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The dashboard indicator does not scroll to the right so it does not display the correct number of job success and failure for that particular time.

##### ENVIRONMENT
* AWX version: 2.0.0
* AWX install method: docker on linux
* Ansible version:  2.6.5
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

[2018-10-08 07:17] ryan012880 commented on #2377
Closing this one I believe its fixed with https://github.com/ansible/awx/pull/2348 , I've tried a new image build and confirmed issue was not there.

[2018-10-08 07:17] #2377 closed, assigned to nobody

[2018-10-08 09:19] teo-chenglim commented on #1974
Just upgrade my ansible version to 2.7 work prefect for me..

[2018-10-08 12:57] jfpucheu commented on #1827
Same probleme:

PLAY [all] *********************************************************************
TASK [detect requirements.yml] *************************************************
skipping: [localhost]
TASK [fetch galaxy roles from requirements.yml] ********************************
skipping: [localhost]
TASK [fetch galaxy roles from requirements.yml (forced update)] ****************
skipping: [local

[2018-10-08 14:09] b0urn3 opened #2380 "RFE: Allow creating directories for manual projects directly from UI"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Today, you can not create projects folder inside /var/lib/awx/projects/ automatically via UI. First somebody has to manually create it and then only he can come back and create project on Tower. It would be more convenient if project folder in server is automatically created either by using name of the project or us

[2018-10-08 14:13] wenottingham commented on #2220
Not in the near term. Dependent on https://github.com/ansible/awx/issues/19

[2018-10-08 14:13] wenottingham commented on #2275
Not in the short term. What are you looking to adjust that isn't already a promptable item?

[2018-10-08 14:16] wenottingham commented on #2380
Given that you cannot populate the project from the UI... what would the point of this be?

[2018-10-08 15:58] cesarfn4 opened #2382 "RFE: Being able to select both `Update on Launch` and `Update on Project Change` for source from SCM inventory sources"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Currently, there is not possible to enable `Update on Launch` and `Update on Project Change` for a SCM-based inventory even disabling `Update Revision on Launch` for the SCM project.

[2018-10-08 17:04] wenottingham commented on #2382
Correct, this is intentional; you use the SCM update-on-launch in combination with update-on-project-change to do an inventory update on launch.

[2018-10-08 17:32] wenottingham commented on #1654
The way this would have to work for in-Tower machine creds is an optional field to hold the signed cert for the key. It would then need templated out when adding to the ssh agent.

[2018-10-08 20:47] benjdudas opened #2384 "DR solution for Tower/AWX"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

Provide a Data Center redundancy configuration option for Tower/AWX cluster.

##### ADDITIONAL INFORMATION

[2018-10-08 20:51] wenottingham commented on #2384
This is not planned for AWX.

[2018-10-08 20:51] #2384 closed, assigned to nobody

[2018-10-08 20:54] wenottingham commented on #2296
Assumption is this would be a la the github search dropdowns.

[2018-10-09 08:14] coom opened #2385 "Partition (/var) keeps growing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Core

##### SUMMARY

Docker container keeps growing in term of disk usage. /var is growing by 1Go every month.

[code]

##### ENVIRONMENT
* AWX version: AWX 1.0.6.23
* AWX install method: docker on linux
* Ansible version:  2.6.0
* Operating System: Debian 9.4 x64
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE
Install a new instance

[2018-10-09 10:19] josemgom opened #2386 "AWX throwing a 502 and job details not loading"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Job details are not showed in the UI. When trying to access to the job details, the browser starts to throw a 502 error when trying to access websocket.

##### ENVIRONMENT
* AWX version: 1.0.6.11
* AWX install method: Docker on Linux
* Ansible version:  2.5.3
* Operating System: CentOS 7
* Web Browser: Firefox / Chrome / Edg

[2018-10-09 12:28] AlanCoding opened #2387 "Schedule limit value not reported in activity stream on creation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
A schedule that provides a limit does not report the value of the limit in the activity stream in the entry for creation of the schedule. Subsequent edits of the limit field do report it.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansibl

[2018-10-09 13:12] ryanpetrello commented on #2386
Likely a duplicate of https://github.com/ansible/awx/issues/1861

[2018-10-09 13:16] josemgom commented on #2386
Yeah, looks similar, but the "solution" proposed by one of the users, is not working for me. My container is not bound to 127.0.0.1, in my case is to 0.0.0.0. The only solution that works for me, is restarting all the containers.

[2018-10-09 13:24] ryanpetrello commented on #2386
Understood - this is an issue that we're still hearing about periodically, and currently looking for more data on.  Can you share any details about your usage of awx when this occurs?  How many active users?  Any notable errors in the files in `/var/log/tower/*.log` around the time you see failures?

[2018-10-09 13:38] josemgom commented on #2386
Of course.

There is no log in /var/log/tower/*.log. But I cannot see something relevant in docker logs.

Active users(concurrent): No more than 2-3 users.
Usage: We are using AWX to restart services, run puppet or upgrade packages.

This can happen with small and big inventories and running a single job template.

[2018-10-09 13:44] rhjhunt opened #2388 "Support an IPv6 only installation"
##### ISSUE TYPE
 - The ability to install Tower in an IPv6 only infrastructure.

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

Our organization is running out of IPv4 network addresses and has made the commitment to be IPv6 only.  We depend on Ansible and need the ability for Tower to run in an IPv6 only environment.

[2018-10-09 14:48] NRDiaz92 commented on #2231
Hi, i'm having the same issue with the browser in spanish language

![image](https://user-images.githubusercontent.com/28863706/46677530-31d17900-cbb9-11e8-968b-894f1dbbdb6e.png)

[2018-10-09 15:39] dsesami opened #2390 "UI Tests for Workflow Always Nodes"
##### ISSUE TYPE
 - Test cases

##### COMPONENT NAME

 - UI

##### SUMMARY
UI Testing for #2373

Test cases:

- [x] Ensure that an “always” node can be be the parent, sibling, or child of a success, failure, or another “always” node, and that the UI displays this correctly.
- [x] Ensure that root nodes are always set to “always”.
- [x] Ensure that without siblings, the UI has all three options sel

[2018-10-09 16:17] wenottingham commented on #2382
Further discussion: the use case is an executable script in source control, where it is desired to run it on launch even if the repo doesn't change.

[2018-10-09 16:27] wenottingham commented on #2388
Development notes:
- as far as known, all components support this at a technical level
- this is a test/fix whack-a-mole scenario
- also includes finding an appropriate IPv6-only cloud environment that can be used as a testbed

[2018-10-09 16:53] ryanpetrello commented on #1861
@boris-42 @strawgate @DBLaci @nmpacheco and others who have encountered the `Connection reset by peer` errors: we _think_ we might have an idea of what's causing this issue.  If any of you are feeling like experimenting, could you give this PR a try in your environments to see if it improves things?

https://github.com/ansible/awx/pull/2391

Alternatively, you could try running something like this

[2018-10-09 17:06] ryanpetrello commented on #2386
Thanks for the feedback.  Would you mind taking a look at this comment and giving it a try?

https://github.com/ansible/awx/issues/1861#issuecomment-428268360

[2018-10-09 18:03] dnguyen9 commented on #1207
@wenottingham  any progress with this Feature?

[2018-10-09 18:15] #2359 closed, assigned to nobody

[2018-10-09 18:19] boris-42 commented on #1861
@ryanpetrello Thanks, I'll try to patch container this weekend!

[2018-10-09 18:20] wenottingham commented on #1207
Progress would appear linked off of here if there was current progress to note... there is not any at this time.

[2018-10-09 18:45] AlanCoding commented on #2333
Just a quick driveby of this, I'm fairly confident that these work in the current branch, but the field names will soon change anyway:

Note that for this, as with most cases, you can filter either on the type (jobs here) or unified_jobs generally

`/api/v2/jobs/?not__internal_limit=`

This is still undocumented, as I was discussing with @kialam, and I'm struggling with what the right thing to do

[2018-10-10 06:36] josemgom commented on #1861
Thanks @ryanpetrello

I just upgraded the package in my development and production envs. I let you know if the users still facing this issue.

[2018-10-10 08:02] trim777 commented on #2354
I updated awx_web and awx_task docker images to latest 2.0 release - that didn't solve the issue and now there is another issue (I think I saw this issue in another bug) with displaying workflows:
https://imgur.com/a/8BRf6XB

[2018-10-10 12:03] zikfriddi opened #2397 "ansible_facts"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### AD

[2018-10-10 12:03] #2397 closed, assigned to nobody

[2018-10-10 12:17] taspotts commented on #1861
Running:
`/var/lib/awx/venv/awx/bin/pip install -U asgi-amqp==1.1.2`  brought in a newer version of kombu `4.2.1` which starts breaking daphne/celery badly.

[code]

Running:
`/var/lib/awx/venv/awx/bin/pip install -U asgi-amqp==1.1.2 kombu==3.0.37` and holding back kombu appears to have worked.  No more `Connection reset by peer` errors and the job details load!

ENVIRONMENT

    AWX version: 2.0.

[2018-10-10 13:09] aido93 opened #2398 "Cannot send test notification to mattermost"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
I cannot send test notification to our mattermost server but real notifications works fine.

##### ENVIRONMENT
* AWX version: 2.0.0
* AWX install method: docker on linux (but doesn't matter)
* Ansible version:  2.6.5
* Operating System: Linux Ubuntu
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1) Create incoming webhook

[2018-10-10 13:18] AlanCoding opened #2399 "For relaunched jobs, show a link to the original job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAM
 - API
 - UI

##### SUMMARY
User should be able to click on a link to navigate to the original job if they are on the page for a relaunched job.

##### ADDITIONAL INFORMATION

needs the API to show the information, and then the UI to display it.

I suggest that this field should be a foreign key on the UnifiedJob model, but turn off the DB inde

[2018-10-10 13:32] couchgott commented on #2334
Hey guys,
sooo.. after trying the new way of importing foreman inventories using the (new) Ansible Inventory Plugin Structure it's working:
https://github.com/ansible/ansible/issues/46523#issuecomment-428565417

sadly this is not the way AWX is doing imports atm.
Are there any plans to change that?
Or do i need to build sth. as a work-a-round? :)

[2018-10-10 14:01] roostercactus opened #2401 "Job Details not displaying in Firefox 52 ESR"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Recently installed AWX v2.0.0.0 and noticed that the Job Details page for any given job will not display in Firefox 52 ESR.  It (Firefox 52 ESR) worked fine in AWX v1.0.6.  So looks like it's related to the older ESR release of Firefox in the latest AWX.

All other pages display fine in ESR 52, just not the Job Details pag

[2018-10-10 14:07] wenottingham commented on #2334
Inventory plugin work is tracked here: https://github.com/ansible/awx/issues/171

[2018-10-10 14:11] wenottingham commented on #2401
Is there an error in the browser console?

[2018-10-10 14:43] roostercactus commented on #2401
Here's what pops up in the console.  I enabled JS errors and warnings.

[code]
I'm using a self-signed SSL cert so I thnk the two security errors are probably related to that.

[2018-10-10 14:50] roostercactus commented on #2401
Closing issue (as per matburt on IRC there will not be a fix).  Will try to get our environment updated to ESR 60.

[2018-10-10 14:50] #2401 closed, assigned to nobody

[2018-10-10 15:04] ryanpetrello commented on #1861
@taspotts thanks for the feedback.  We've merged the `asgi_amqp` update and are planning to release it in a new version of awx in the near future.

[2018-10-10 18:37] AlanCoding commented on #2216
Sorry we missed this card earlier, but it's a duplicate with https://github.com/ansible/awx/issues/2252 and is under active development now. I am closing this issue because we have a bunch of links already pointing to the other card.

[2018-10-10 18:37] #2216 closed, assigned to nobody

[2018-10-10 18:38] AlanCoding opened #2403 "Have task manager reschedule itself if unblocked jobs remain"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
In some cases, we have slowdown due to waiting for the next run of the task manager, particularly with workflows. This should be sped up by adding some special cases to have the task manager reschedule itself once its work is finished.

##### ADDITIONAL INFORMATION

Impacts https://github.com/ansible/awx/issues/2252

[2018-10-11 04:44] oatakan commented on #1821
This issue is resolved by https://github.com/ansible/awx/pull/1298. Thanks.

[2018-10-11 04:44] #1821 closed, assigned to nobody

[2018-10-11 07:18] z1odeypnd opened #2404 "VERSION 2.0.1 for awx_web docker image is incorrect"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Instalation fails with error:
`fatal: [localhost]: FAILED! => {"changed": false, "msg": "Error pulling image ansible/awx_web:2.0.1 - 404 Client Error: Not Found (\"{\"message\":\"manifest for ansible/awx_web:2.0.1 not found\"}\")"}`
Because VERSION file contains version 2.0.1, but docker image awx_web (https://hub.doc

[2018-10-11 08:52] AdrianDutu commented on #2404
I am also getting this error.

[2018-10-11 09:14] AdrianDutu opened #2405 "install.yml inconsistently fails at activating postgres"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
I am trying to update to 2.0.1 from 2.0.0. I have deleted awx_web and awx_task containers and images. All the other containers are still there.
When running install.yml sometimes fails with the error below. The behavior is very inconsistent, i can run the playbook once and it fails, and 1 second later works.

`UNREACH

[2018-10-11 09:14] z1odeypnd commented on #2404
@Darkhan90 , you can edit VERSION file and rewrite version to 2.0.0 or latest

[2018-10-11 09:17] AdrianDutu commented on #2404
@z1odeypnd I did that already. But that didn't bring the bug fixes in 2.0.1, it just installed the outdated version again. I was doing the upgrade because of the [workflow UI bug](https://github.com/ansible/awx/pull/2348#issue-219194846) which has been fixed in 2.0.1, but i still have the bug, so i need the new 2.0.1 images.

[2018-10-11 13:07] unlikelyzero opened #2406 "Activity View links to Setting Pages don't work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The Activity View contains links to the Settings view when an change is made. These links now navigate the user back to the dashboard

##### ENVIRONMENT
* Ansible version:  X.Y.Z
* Operating System: macOS
* Web Browser: Firefox 62

##### STEPS TO REPRODUCE

1. Make any modification on the Settings screen which generates an A

[2018-10-11 14:58] DrPreobrazhensky commented on #1335
Guys please write release notes at least for 1.0.7 to 2.0.0. I have no idea about changes and should I upgrade or not.

[2018-10-11 15:18] jstewart612 opened #2407 "Scheduled Tasks don't fire after a day or two of overall awx_task container runtime"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

We notice that, every day or so, we're having to bounce our AWX instance for it to run scheduled jobs again.
##### ENVIRONMENT
* AWX version: 2.0.0
* AWX install method: docker on linux
* Ansible version:  2.6
* Operating System:  Scientific Linux 7
* Web Browser:  Chrome

##### STEPS TO REPRODUCE

Start AWX using f

[2018-10-11 15:31] mcoakley opened #2408 "Logging to Splunk / Notifications to Splunk"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I have setup AWX to send it's log files to Splunk. The integration is working BUT I am required to disable HTTPS certificate verification. The cert on the Splunk server is signed by an internal CA. Same CA has signed the internal GitHub server as well. I have placed the cert chain certificates in the `/etc/pki/ca-trust/so

[2018-10-11 15:32] aamarques opened #2409 "Using Survey to install yum packages, does not work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

Created a survey to pass variables (pkg name and state) into a playbook that will install packages using yum but doesn't work - it doesn't install.

But if I write another playbook with the values (pkg name and state) hardcoded that package installs.

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method:  docker o

[2018-10-11 15:34] dtardoin commented on #2398
I can reproduce this exception with a slack notification template except that real notifications don't send either.

[2018-10-11 16:08] Numblesix commented on #411
Im also unable to mount ca_trust_dir even though i specified it in the inventory

[2018-10-11 16:55] ryanpetrello commented on #1861
@boris-42 @strawgate @DBLaci @nmpacheco and others who have encountered the `Connection reset by peer errors`:  we've released a new version of awx, 2.0.1, which we believe should resolve this issue.  Please give it a shot and let us know if you continue to encounter issues!

[2018-10-11 16:55] ryanpetrello commented on #2386
Closing as a duplicate:
https://github.com/ansible/awx/issues/1861#issuecomment-429033776

[2018-10-11 16:55] #2386 closed, assigned to nobody

[2018-10-11 18:06] Decstasy commented on #411
I fixed it by myself but the pull request is still open... Look here: https://github.com/ansible/awx/pull/2156/commits/a294a6f06e85c630074ea337b2b9f6c4098a00fb

[2018-10-11 18:09] reallinfo opened #2412 "Logo contribution"
Hello! @ansible

I wanted to design a logo compatible with ansible for this repository. thus this warehouse can provide a more recognizable view.

![1](https://user-images.githubusercontent.com/36298335/46824521-bc70ce80-cd99-11e8-9bc2-fd82bc9faae5.jpg)

Readme file view;

![2](https://user-images.githubusercontent.com/36298335/46824539-cd214480-cd99-11e8-9599-994fb3b13d70.png)

Please give feedba

[2018-10-11 18:41] robynbergeron opened #2413 "Display AWX logo at top of the README.MD page (and/or document existence of logo in a more obvious way)"
##### ISSUE TYPE
 - Display official AWX logo at the top of the README.md page

##### COMPONENT NAME
README.md in github

##### SUMMARY
See #2412  -- a potential logo was contributed and the accompanying PR displayed it on the README.md page. Probably would be useful (and super cool) to display the logo, or at least document the existence of the logo we already have, because (a) the AWX logo is aw

[2018-10-11 18:43] robynbergeron commented on #2412
Hi, @reallinfo  :)

Thanks for taking the time to create this logo and submit a PR for it -- I think it is awesome that you are sharing your skills with our project, and all the other open source projects you have been contributing too.

However, we already have a logo and accompanying guidelines for this project -- which you can see [here](https://github.com/ansible/awx-logos). Which I guess was

[2018-10-11 18:43] #2412 closed, assigned to nobody

[2018-10-11 18:43] AlanCoding commented on #2154
yeah, closing b/c of no real plan to make this work with playbook list.

[2018-10-11 18:43] #2154 closed, assigned to nobody

[2018-10-11 20:26] #2262 closed, assigned to nobody

[2018-10-11 20:54] #2413 closed, assigned to nobody

[2018-10-11 22:16] Numblesix commented on #631
Same here running it on / works perfectly but on /awx the ui is broken :(

[2018-10-12 05:20] ryan012880 opened #2417 "Unable to Activate AWX Web Container"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Installer failed to activate web container

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.0-1.el7.ans
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Clone the awx git repo and build the awx container images

##### EXPECTED RESULTS
Instal

[2018-10-12 05:27] ryan012880 commented on #2417
Manage to fixed it with:

[code]

[2018-10-12 05:52] viper233 opened #2418 "Volumes returns a list instead of dict with defaults"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
`roles/local_docker/tasks/standalone.yml`
volume returns a list when using defauts
[code]
volumes need to be a dictionary, not a list.

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: docker on linuxr
* Ansible version:  2.6.5
* Operating System: Linux3.10.0-862.11.6.el7.x86_64

##### STEPS TO REPRODUCE
[

[2018-10-12 06:48] rharmonson commented on #989
Let me write the installation documentation for the project!

Requiring a party to adopt docker or any specific virtualization or container technology to use, participate, or contribute to a project is not reasonable. As a consequence, you are limiting its adoption and your audience.

I am volunteering to author the non-docker installation documentation but I do need access to a project member to

[2018-10-12 08:55] AdrianDutu commented on #2404
@z1odeypnd the 2.0.1 image is there now.

[2018-10-12 09:16] b0urn3 opened #2419 "RFE: Enable to set predefined lists of promptable items"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Add functionality to manage a predefined list of inventories in a job template.  This would limit the inventories in which a job template can be executed.

##### ADDITIONAL INFORMATION

In a organization/group with a large number of inventories which cannot be more limited by RBAC, this feature would help to speed u

[2018-10-12 10:35] FrederikNJS commented on #286
We're in the process of setting up Ansible for our entire infrastructure in AWS.

We have a number of legacy Ubuntu servers where the default username is `ubuntu`.

We also have a good chunk of newer Debian based servers, where the default username is `admin`.

There's a small number of other legacy servers with various other user setups.

Finally the servers are launched with a plethora of differ

[2018-10-12 11:05] z1odeypnd commented on #2404
@Darkhan90 , ok, I close issue. =)

[2018-10-12 11:05] #2404 closed, assigned to nobody

[2018-10-12 12:16] jolly-green opened #2421 "RFE: Allow to relaunch a job and modify input parameters"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Make relaunching more flexible as sometimes the users want to relaunch the same job with only a few input modifications from the original job.

##### ADDITIONAL INFORMATION

[2018-10-12 12:34] MikeNald opened #2422 "Allow Scale Down of Tower instances from Openshift"
##### ISSUE TYPE
 - Feature Idea
Allow Scale Down of Tower instances from Openshift

##### COMPONENT NAME
 - Installer

##### SUMMARY
Currently Tower 3.3 on Openshift can be scaled editing StateFulSet and setting replica: X inside the yaml or using oc oc scale --replicas=x sts ansible-tower
This change trigger the deployment of a new POD and since the container ansible-tower-web will execute /usr/

[2018-10-12 12:50] levissfuture opened #2423 "Deploying windows app"
##### ISSUE TYPE
Bad argument passed to host

##### SUMMARY
Bad argument passed to host when i use this format of arguments:
win_package:
        path: \\test\test\Skype8.exe
        product_id: Skype_is1
        arguments:
         -/VERYSILENT
         -/SUPPRESSMSGBOXES
         -/LOG
         -/NORESTART

at the host machine it seems like :
"C:\Windows\TEMP\is-SEMMV.tmp\Skype8.tmp" /SL5="$6018

[2018-10-12 14:21] #2390 closed, assigned to dsesami

[2018-10-12 14:26] wenottingham commented on #2419
Genericized title, this is probably useful for other items (credentials, limits, etc.)

[2018-10-12 14:27] wenottingham commented on #2417
see #2420

[2018-10-12 14:28] wenottingham commented on #2418
Is this fixed with #2420?

[2018-10-12 14:29] #2417 closed, assigned to nobody

[2018-10-12 14:30] wenottingham commented on #2423
This appears to be an Ansible issue, not an AWX issue.

Ansible issues should be filed at https://github.com/ansible/ansible/.

[2018-10-12 14:31] wenottingham commented on #2421
This is best done with a normal launch with providing additional prompts. We would not do arbitrary relaunching with changed parameters for RBAC reasons.

[2018-10-12 14:31] dmt commented on #2418
I'd doubt it. I only saw the indentation issue but didn't explore it further.

[2018-10-12 14:33] #2423 closed, assigned to nobody

[2018-10-12 14:39] chrismeyersfsu commented on #2060
Hey @onitake I've been able to recreate your issue and have a fix. If you get a chance, can you see if the fix works for you? Thanks!

https://github.com/ansible/awx/pull/2425

[2018-10-12 14:41] viper233 commented on #2418
I was about to submit a bug about the indentation issue, I fixed that up locally and then came across this bug. Apologies for not mentioning that.

[2018-10-12 14:57] dsesami opened #2426 "Drop window resizing in e2e tests (and possibly other tests) and set this in driver options"
##### ISSUE TYPE
 - Enhancement

##### COMPONENT NAME

 - UI

##### SUMMARY
There's a lot of this in the UI testing code:
```client.resizeWindow(1200,800);```
We should drop these where possible and set this in the driver options on initialization.

[2018-10-12 15:14] AlanCoding commented on #2421
The API has an endpoint that shows what prior prompts the job was launched with. Yes, the UI would go through the normal launch, POST to the JT launch endpoint, just pre-filling the form with those fields.

[2018-10-12 15:25] AlanCoding opened #2427 "Deprecate ask_* fields shown in the job serialization"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Inside of the job serialization, mark these files for eventual removal:

[code]

(9 fields)

The implementation of these looks like:

https://github.com/ansible/awx/blob/5910b8c5627d46ad52a41801c6998322973c650e/awx/main/models/jobs.py#L548-L552

I believe there is a good case to say that these don't provide any real value

[2018-10-12 15:47] itdependsnetworks opened #2428 "WF Template resets ask_variables_on_launch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

You can currently only set `ask_variables_on_launch` via an API. However, once you submit via the UI, it removes that.

##### ENVIRONMENT
* AWX version: AWX 1.0.6.16  >
* AWX install method: docker
* Ansible version:  2.5.5
* Operating System: Ubuntu
* Web Browser: Chrome/Firefox/Safari

##### STEPS TO REPRODUCE

*

[2018-10-12 15:49] itdependsnetworks commented on #1407
@onitake and @wenottingham anything else I can provide?

[2018-10-12 15:57] itdependsnetworks commented on #2427
If you remove them, are you also removing the functionality they provide? If so can you explain how.

[2018-10-12 16:08] AlanCoding commented on #2427
What functionality is being used? If there is any valid use case I would really like to know. The obvious interpretation of the field would be that if you relaunch the job, then `ask_diff_mode_on_launch` being true would set an expectation that the user provides `diff_mode` on relaunch, and that the server uses that value. This might have been true for `variables` a long time ago in the past, but

[2018-10-12 16:10] heywoodlh commented on #2418
Relatively new to Awx and ran into the same issue. Is there a temporary workaround for this that can be used until this is fixed?

[2018-10-12 16:49] dmt commented on #2418
I added a new PR as a follow-up. That just reverts the change on that part. This works for me now but I really didn't look at this in more detail.

/cc @Decstasy because of the work on #2156

[2018-10-12 17:11] onitake commented on #1407
Can you be more specific what you mean with "group host vars in relation to project"?
With an example, perhaps?

[2018-10-12 17:13] onitake commented on #2060
@chrismeyersfsu I'll try, but I'm a bit short on time currently. Still, thanks for the fix!

[2018-10-12 18:11] Raghuveer123 opened #2433 "Cannot activate the AWX Web container"
TASK [local_docker : Activate AWX Web Container] ******************************************************************************************************************************************************************************************************************************
task path: /home/awx/installer/roles/local_docker/tasks/standalone.yml:79
fatal: [localhost]: FAILED! => {"changed": false, "msg

[2018-10-12 18:24] #2406 closed, assigned to jlmitch5

[2018-10-12 19:03] ghost commented on #2433
It looks like the error is in the *installer/roles/local_docker/tasks/standalone.yml* file if you don't specify a project directory the expression concatenating the volumes: for awx_web and awx_task containers.

Specifying *both* *project_data_dir* *and ca_trust_dir* allows you to continue, but still fails on my CentOS.

[2018-10-12 19:42] wenottingham opened #2434 "create a new 'Client Certificate' credential type"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Metadata:
- name: Client Certificate (feel free to come up with something better)
- description: A client certificate and its corresponding private key

inputs:
[code]

injector:
[code]

##### ADDITIONAL INFORMATION

[2018-10-12 21:32] Decstasy commented on #2418
I'm sorry that you have trouble with my fix.
I changed the two lines because the ca_trust_dir was never mounted inside the container when the project_data_dir was mounted in the first place. The update-ca-trust will run in this case but nothing will happen it the ca_trust_dir is not mounted properly. I think that needs some more testing?

[2018-10-12 21:46] Decstasy commented on #2418
I'm sorry that you have trouble with my fix.
I changed the two lines because the ca_trust_dir was never mounted inside the container when the project_data_dir was defined and mounted in the first place. The update-ca-trust will run in this case but nothing will happen if the ca_trust_dir is not mounted properly. I think that needs some more testing?

[2018-10-12 21:57] itdependsnetworks commented on #2427
Q: What functionality is being used?
A. I am using `ask_variables_on_launch`

[2018-10-13 01:02] AlanCoding commented on #2427
That would remain usable on the job template as always, the issue here is that in the API design, those fields are duplicated on the job for no reason, and I would like to schedule those for eventual removal.

[2018-10-13 14:12] reallinfo commented on #2412
You're welcome. you can write me if you need anything else. I hope you can find the logo you wish. Have a nice day!

[2018-10-13 20:17] ghost commented on #2380
Users can only populate project from UI if they are pre-created on CLI. We have abstractions on top Ansible Tower from where we are creating projects automatically using APIs based upon end-user request. This automation is only possible if somebody pre-create projects in advance /var/lib/awx/projects folder. There is no way we can pre-create this as we do not now the name of the project in advance

[2018-10-14 07:56] thulle commented on #2433
Got this on Ubuntu 18.04 too, but differing from gyorgynadabans experience is that specifying both project_data_dir and ca_trust_dir got everything up and running.

[2018-10-15 08:53] dmt commented on #2418
I now was able to test this and updated #2430. I think that should properly fix this now.

[2018-10-15 09:25] gstorme commented on #2433
Same here on Debian 9, local docker install.
Uncommented the project_data_dir & ca_trust_dir in the inventory file, and the playbook continues.

[2018-10-15 12:11] AlanCoding commented on #1999
We are making some changes to the inventory script generation for job slicing, and I think this is a good opportunity to implement this request as well. The particular solution I have in mind I have discussed with @wwitzel3, and it comes down to a customized version of this query:

https://github.com/ansible/awx/blob/5910b8c5627d46ad52a41801c6998322973c650e/awx/main/models/inventory.py#L248

Speci

[2018-10-15 12:27] ghost commented on #2433
@gstorme That solved it for me too.

[2018-10-15 12:52] unlikelyzero opened #2436 "Settings View Auth codemirror doesn't throw Error Popup modals on invalid entry"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Error handling on AuthN codemirror blocks has stopped throwing Popup modals on invalid entry. This is a regression in functionality specifically tied to the updateSettingsNav branch

##### ENVIRONMENT
* AWX version: 2.X
* Operating System: macOS
* Web Browser: Firefox and Chrome

##### STEPS TO REPRODUCE

1. Navigate to the

[2018-10-15 12:58] RoKondo commented on #2433
it solved for me on a CentOS 7 (just had to solve a small conflict with nginx)

[2018-10-15 13:10] matburt commented on #1335
You can see a changelog now on the github releases page: https://github.com/ansible/awx/releases/tag/2.0.1

[2018-10-15 13:10] #1335 closed, assigned to nobody

[2018-10-15 13:14] mcoakley commented on #2408
I've looked into the AWX code and that led me to look into the requests module. I have put my own cacerts.pem file in the /car/lib/awx/venv/awx/lib/python2.7/site-packages/requests folder. (A copy of the known to work /etc/pki/ca-trust/extracted/openssl/ca-bundle.trust.crt file.) While this seems to be one of the recommended path to getting requests to verify self signed certs if doesn't seem to m

[2018-10-15 14:04] aamarques commented on #2409
Hi ? Any ideas ?

[2018-10-15 14:08] jstewart612 commented on #2407
Is there anybody out there?  This makes this product nearly unusable.

[2018-10-15 14:18] wenottingham commented on #173
... also apparently supervisor 4.0 may be a thing in the future.

[2018-10-15 14:19] wenottingham commented on #1999
So it would be a flat hierarchy?

How performant would this be?

[2018-10-15 14:59] AlanCoding commented on #1999
Performance is the main technical issue to be addressed, we already know pretty well what the code change would be. There are some existing large inventory examples that we will need to test with this (and be sure that groups are involved).

[2018-10-15 15:55] chuckyz commented on #1335
@matburt I apologize for responding to a closed issue, but that tag seems to only contain a changelog for the 2.0.1 release.  Did nothing change in the 2.0.0 release aside from a new tag, with nothing in it?

[2018-10-15 16:50] matburt commented on #1335
We *did* cover this in the AWX community summit at Ansiblefest a few weeks ago. For the 2.0.0 release of AWX we're resetting the way that we manage releases of AWX and comitting to a more stable release cadence where direct upgrades are supported between minor versions.

So <=2.0.0, sorry about that.... 2.0.0+ we'll be better.

[2018-10-15 17:00] rahst12 commented on #663
+1

[2018-10-15 17:01] rahst12 commented on #612
+1 - would still really like to see better support of ad-hoc queries.

[2018-10-15 17:59] #2288 closed, assigned to marshmalien

[2018-10-15 18:02] #2289 closed, assigned to marshmalien

[2018-10-15 18:30] #2290 closed, assigned to marshmalien

[2018-10-15 18:30] #2291 closed, assigned to marshmalien

[2018-10-15 18:31] #2292 closed, assigned to marshmalien

[2018-10-15 18:31] #2293 closed, assigned to nobody

[2018-10-15 18:34] wenottingham commented on #2380
But even in this case, since you are presumably talking about manual projects, part of that out-of-band process involves the population of the project itself. Why not just move that before the API call?

[2018-10-15 20:40] kdelee opened #2441 "Enhancement: Validate "choices" for surveys"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

Add validation code when a user/the UI submits a survey to the API
While some validation for survey items has been added, the correct format for `choices` has yet to be set in stone, so correct validation code has yet to land on `devel`

##### Acceptance Criteria:
- [ ] We decide and document exactly what acceptable for

[2018-10-15 20:42] jladdjr commented on #2255
@kdelee - saw that @marshmalien closed this. Are you still testing this, though? If so, seems like we should keep this open to track the state of testing (assuming we're not already using other ticket(s) to do so).

Re-opening for now, just to be on the safe side. @kdelee feel free to close if not needed anymore.

[2018-10-15 20:46] unlikelyzero opened #2442 "Unable to use [enter] key to log in on login page in Firefox"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Unable to use [enter] key to log in on login page in Firefox

##### ENVIRONMENT
* AWX version: 2.0.1
* Operating System: MacOS
* Web Browser: Firefox  	62.0.3

##### STEPS TO REPRODUCE

1. Navigate to the login page
2. Enter credentials and hit [enter]

##### EXPECTED RESULTS

User is logged into awx

##### ACTUAL RESULTS

N

[2018-10-15 20:49] ryanpetrello commented on #2422
@MikeNald this issue tracker is for the open source AWX project; if you need help with Ansible Tower, please contact a Red Hat support representative.

[2018-10-15 20:49] #2422 closed, assigned to nobody

[2018-10-15 21:44] unlikelyzero opened #2443 "Projects view is missing title Badge for total Project count"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Projects view is missing title Badge for total Project count

##### ENVIRONMENT
* AWX version: 2.0.1

##### STEPS TO REPRODUCE

1. Navigate to the Projects Page and note that the title Badge is missing

##### EXPECTED RESULTS

A title badge which contains the total count of projects like is available on templates, credential

[2018-10-15 21:52] unlikelyzero opened #2444 "Deleting the last Project on a paginated Page causes a 404 Error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Deleting the last Project on a paginated Page causes a 404 Error

##### ENVIRONMENT
* AWX version: 2.0.1
* Operating System: macOS
* Web Browser: Firefox and Chrome

##### STEPS TO REPRODUCE

1. Create 101 Projects
2. Set the Pagination view to 100
3. Navigate to the second page of results
4. Delete the 101st Project

#####

[2018-10-15 21:58] unlikelyzero opened #2445 "Unable to filter Projects view by "mercurial" scm_type"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Unable to filter Projects view by "mercurial" scm_type

##### ENVIRONMENT
* AWX version: 2.0.1

##### STEPS TO REPRODUCE

1. Create a Project with a scm_type of mercurial
2. On Projects view, filter with "scm_type:mercurial"

##### EXPECTED RESULTS

Filtered list of projects which returns at least one Project with an scm_typ

[2018-10-15 22:11] #2445 closed, assigned to jlmitch5

[2018-10-15 22:14] jlmitch5 opened #2446 "Terrible API validation response when Dict expected in tower settings"
To reproduce, set this form value to valid json in the settings/auth form and save:

<img width="295" alt="screen shot 2018-10-15 at 6 11 19 pm" src="https://user-images.githubusercontent.com/1342624/46981326-d403cc00-d0a5-11e8-800b-2fe1c296028f.png">

### Expected
* A more details error message

### Actual
* Error message that makes the user thing the json dict they sent somehow contains unicode.

[2018-10-15 22:30] unlikelyzero opened #2447 "[WIP] User receives error modal if attempting to navigate to a Project list before logging in"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
User receives error modal "Failed to get config. GET returned status: status: undefined" if attempting to navigate to a Project list before logging in

##### ENVIRONMENT
* AWX version: 2.0.1
* Operating System: MacOS
* Web Browser: Firefox 62.0.3

##### STEPS TO REPRODUCE

1. Log in to Projects view and wait for session to e

[2018-10-16 00:58] #2137 closed, assigned to mabashian

[2018-10-16 07:45] ryan012880 opened #2448 "RFE: Additional field on user details to be able to choose authentication type."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Be able to convert user authentication method from UI after migrating the user that is authenticating via AD/LDAP from old AWX instance to new AWX instance.

- when you sync a user that is authenticating via AD/LDAP using tower-cli from one instance to another and that user don't exists on the destination instance the user

[2018-10-16 14:48] b3rgman opened #2453 "OperationalError: could not translate host name "postgres" to address: Name or service not known"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

  - UI

##### SUMMARY

When connecting to awx server, I receive a message that states a server error has occured.
##### ENVIRONMENT
* AWX version: 1.0.8
* AWX install method: docker on linux
* Ansible version:
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Access link to server to login
##### EXPECTED RESULTS

Log

[2018-10-16 15:15] n0l0cale commented on #2110
Hi @AlanCoding ,

I am running Ansible 2.6 and struggling with that encrypted vault-topic the same way the colleague @vietthang207 did. In details my exact failure is: https://serverfault.com/questions/878320/how-to-use-existing-vault-files-in-ansible-tower

I've seen many open threads regarding this topic. Is there a documented way how it works with ansible 2.6.5?

n0l0cale

[2018-10-16 15:28] tumluliu commented on #2187
just upgraded from awx 1.0.4.14 to 2.0.1. This issue is happening in our slack bot notifications. Previously in 1.0.4, it worked fine with avatar and Name. Now all gone

[2018-10-16 15:43] jakemcdermott commented on #2378
duplicate of https://github.com/ansible/tower/issues/2986

[2018-10-16 15:43] #2378 closed, assigned to nobody

[2018-10-16 15:44] AlanCoding commented on #2110
I walked through some relevant steps in a comment in #223, but it has gotten a little buried by now. Anyway, I went ahead and replied at serverfault.

[2018-10-16 15:57] #1387 closed, assigned to tvo318

[2018-10-16 16:10] n0l0cale commented on #2110
thanks :)

[2018-10-16 17:23] dsesami opened #2458 "UI Testing for new Organization Permission Views"
##### ISSUE TYPE
 - Test cases for https://github.com/ansible/awx/pull/2351

##### COMPONENT NAME
 - UI

##### SUMMARY
Two new views:
First, the permissions modal on the Teams page now has an “organizations” tab to build resource permissions.
![screen shot 2018-10-04 at 1 14 53 pm](https://user-images.githubusercontent.com/19942822/47034557-b5551200-d145-11e8-8950-686c4148bfbe.png)

Second, the mo

[2018-10-16 17:31] chrismeyersfsu commented on #2446
Upon further investigation, the API _does_ accept json where a dict/json is expected. The confusing part is the crappy error message. If the json is of the expected structure and contains the expected key/values then it is accepted. If not, the unicode error message is returned. Below is an example of an expected payload.

[code]

[2018-10-16 17:31] wenottingham opened #2459 "Add a graceful AWX cluster shutdown"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Currently, if you want to drain a cluster, you need to:
- disable instances
- wait for jobs to drain
- hope new ones don't get submitted
- once done, shut it down (for upgrades, etc.)

Ideally, there is a "one-stop" option for draining a cluster, that *also* involves not letting new jobs be submitted in the interim

[2018-10-16 17:35] dsesami opened #2460 "UI Testing for Job Splitting/Slicing"
##### ISSUE TYPE
 - Test cases

##### COMPONENT NAME
 - UI

##### SUMMARY
UI Test cases for https://github.com/ansible/awx/issues/1283

_When running a job across a large (huge) number of endpoints, an appropriate fork count is issued, and cycling occurs until the job is done. This feature will split a job into different ansible-playbook executions on a subset of inventory that can be scheduled in

[2018-10-16 18:49] dsesami commented on #2460
closing and moving to tower-qa

[2018-10-16 18:49] #2460 closed, assigned to nobody

[2018-10-16 18:49] dsesami commented on #2458
closing and moving to tower-qa

[2018-10-16 18:49] #2458 closed, assigned to dsesami

[2018-10-16 22:22] geauxvirtual opened #2462 "Virtualenv not being used by default for task execution"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Job Execution

##### SUMMARY

The AWX Web and Task containers come configured with an ansible virtualenv in the container. Adding any python modules through pip to this virtualenv are not picked up during a job run unless `ansible_python_interpreter: /var/lib/awx/venv/ansible/bin/python` is set.

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX

[2018-10-16 22:28] n0l0cale commented on #2110
@AlanCoding
I think we should reopen this bug-thread as state in the serverfault thread and continue to handle this as a separate issue.

The clear definition would be that we would like to open vault-protected host_vars/group_vars by defining a yaml - e.g. group_var, which could be itself encrypted by a vault-protected with another passphrase, which then could be defined in the job template

[2018-10-17 01:13] unlikelyzero opened #2463 "Management Jobs and SCM Updates have a 'Slice job undefined/undefined' tag in the Jobs list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Management Jobs and SCM Updates have a 'Slice job undefined/undefined' tag in the Jobs list

##### ENVIRONMENT
* AWX version: 2.0.1

##### STEPS TO REPRODUCE

1. Run a SCM Update for a Project which contains a Sliced Job Template
2. Navigate to the Jobs view list

or Run a Management Jobtype

##### EXPECTED RESULTS

No tag

[2018-10-17 01:34] unlikelyzero opened #2464 "If a SJT is converted from a JT and the JT version is relaunched, it fails semi-gracefully"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
If a SJT is converted from a JT and the JT version is relaunched, it fails with negative index errors

##### ENVIRONMENT
* AWX version:2.0.1

##### STEPS TO REPRODUCE

1. Create a JT with a slice of 1
2. Run job
3. Convert JT to SJT by increasing slice count.
4. Run the original JT from the Jobs List view

##### EXPEC

[2018-10-17 01:45] jbartko commented on #1954
I believe this may be another example of this issue...

Given an inventory variable like:
[code]
and a playbook like:
[code]
**Expected results**:
(executed locally)
[code]
**Actual results**:
(executed via AWX)
[code]
**Environment**:
Affects AWX versions: 1.0.5.32, 1.0.6.x, 1.0.7.2, 1.0.8.0

**Alternative**:
Variables in playbooks with the !unsafe tag appear to work:
[code]

[2018-10-17 02:03] unlikelyzero opened #2465 "If a WFJT contains a SJT, the SJT detail view cannot be opened from the context of the WFJT view"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
If a WFJT contains a SJT, the SJT detail view cannot be opened from the context of the WFJT view

##### ENVIRONMENT
* AWX version: 2.0.1
* Operating System: MacOS
* Web Browser: Firefox 62.0.3

##### STEPS TO REPRODUCE

1. Create a SJT with multiple slices
2. Create a WFJT which contains the SJT from step 1
3. Run the

[2018-10-17 02:11] vikash5507 opened #2466 "Insufficient Page Authorization"
Hi,

I am actively using AWX for non-prod deployment in my team. But few concerns were raised by our security team. Kindly look into these.

An admin user can view pages and UI items that are restricted to other roles such as "System Administrator" and "System Auditor".

- After login, JSON parameters in the body of the server response can be modified to gain access to restricted screens and funct

[2018-10-17 02:22] wenottingham commented on #2466
Just to be clear: you're MITM-ing the server response to the UI?

[2018-10-17 02:39] vikash5507 opened #2467 "Cross Site Websocket Hijacking"
Hi,

This is our third security concern. You can find previous ones here:
https://github.com/ansible/awx/issues/2466
https://github.com/ansible/awx/issues/2468

The application utilizes websockets for bidirectional communication and does not verify the Origin of the HTTP Upgrade request being originated thus resulting in a successful connection from an external domain.

**HTTP Request:**
GET http:

[2018-10-17 02:40] vikash5507 opened #2468 "WebSocket Requires No Authentication"
Hi,

This is our second security concern. You can find previous ones here:
https://github.com/ansible/awx/issues/2466
https://github.com/ansible/awx/issues/2467

Please look into these.

The websocket does not require authentication to initiate a connection. WebSockets do not handle authentication, instead normal application authentication mechanisms apply, such as cookies, HTTP Authentication or

[2018-10-17 08:00] Neurozone opened #2469 "Normal installation of awx"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
How can we have a normal installation of awx ?
I.E without this shitty docker thing.
Maybe rpm or just tarball ?

##### ADDITIONAL INFORMATION
Don't have any docker or kurbernetes at disposition

[2018-10-17 08:31] skunkr opened #2470 "Celery in error loop"
##### ISSUE TYPE
 - Celery Erros

##### COMPONENT NAME

 - Installer

##### SUMMARY
Hi,
After a PgSQL docker non-clean restart , celery conatiner remains in a loop error:

[code]

UI is continuously showing: "AWX is currently upgrading"

I do not have a backup/export of the PgSQL, which by the way it runs as a docker in Openshift too...

Is there a way that I can follow to pass over this error so

[2018-10-17 09:22] wilmardo commented on #2469
See #882 there are no plans to support this for AWX.

PS. Docker is awesome 🐳

[2018-10-17 09:26] Neurozone commented on #2469
Ho ok.
So sad for this project.
It will never be good with only docker image.
Thanks for you answer.

[2018-10-17 09:26] #2469 closed, assigned to nobody

[2018-10-17 11:56] AlanCoding commented on #1954
@jbartko I don't quite have all the information I need to make a determination. In particular, I need to know exactly how you set those inventory variables inside of AWX. You can't save them in the UI, it will error. But there are ways to save them in a converted JSON form.

If you did pull those variables in through the method I am speculating about, then the fix:

https://github.com/ansible/awx/

[2018-10-17 12:56] AlanCoding commented on #2465
This is a hard overlap between job slicing and https://github.com/ansible/awx/issues/2252

Presumably it will be resolve once the two branches are merged together in the main development branch.

Practically, workflows-in-workflows is probably expected to land first, in which case a rebase of job slicing will resolve this.

[2018-10-17 12:57] ramuskay commented on #2433
Ok for me too !

[2018-10-17 13:00] AlanCoding commented on #2464
I'm inclined to return a 400 error in this case @matburt does that sound sufficient to you?

The expected behavior is too non-obvious to me.

[2018-10-17 13:33] itdependsnetworks commented on #1407
@onitake The only other way I can think to explain it is this:
Go to -> `INVENTORIES` -> `{{ your_inventory }}` -> `SOURCES` ->  `CREATE INVENTORY SOURCE`

Then set `SOURCE`, `INVENTORY FILE`, and `PROJECT`.

Then note that from: https://docs.ansible.com/ansible/2.5/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable none of the below will work.

[code]

[2018-10-17 13:45] wenottingham commented on #2466
This is not an issue.

The UI acts based on the return from the API; if it authenticates to the API and recieves a response that claims the user is a superuser, it will act accordingly and show 'edit' screens for items the user has permission to view.

However, these screens, even in this mode, will not show information the user cannot already retrieve from the API, and will not actually commit ch

[2018-10-17 13:45] #2466 closed, assigned to nobody

[2018-10-17 14:20] devops-42 opened #2471 "Missing Python module openshift in image ansible/awx_task:latest"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Installer

##### SUMMARY
I played around with the k8s plugin in Ansible and set up an according project on AWX. The playbook contains a task for creating an OpenShift namespace. My configured job aborted with an error:

`"msg": "This module requires the OpenShift Python client. Try pip install openshift"`

Due to user restrictions in OpenShift

[2018-10-17 14:21] ryanpetrello commented on #2468
@vikash5507

In the future, if you encounter what you perceive to be a security-related bug, **please** follow our guidelines for responsible disclosure of security issues:

![kapture 2018-10-17 at 9 45 46](https://user-images.githubusercontent.com/214912/47090768-84cab200-d1f1-11e8-922c-bc9c213ded72.gif)

It _is_ true that an _unauthenticated_ `Upgrade` request is allowed (even from a third party

[2018-10-17 14:25] ryanpetrello commented on #2467
@vikash5507

In the future, if you encounter what you perceive to be a security-related bug, **please** follow our guidelines for responsible disclosure of security issues:

![kapture 2018-10-17 at 9 45 46](https://user-images.githubusercontent.com/214912/47090768-84cab200-d1f1-11e8-922c-bc9c213ded72.gif)

We believe this is not a valid security issue - please take a look at my comment on the rela

[2018-10-17 14:26] #2467 closed, assigned to nobody

[2018-10-17 14:26] #2468 closed, assigned to nobody

[2018-10-17 14:32] ryanpetrello commented on #2466
@vikash5507

In the future, if you encounter what you perceive to be a security-related bug, **please** follow our guidelines for responsible disclosure of security issues:

![kapture 2018-10-17 at 9 45 46](https://user-images.githubusercontent.com/214912/47090768-84cab200-d1f1-11e8-922c-bc9c213ded72.gif)

[2018-10-17 14:42] fedelemantuano commented on #1932
Hi,

I can see `timeout` parameter in API, but it's not documented (https://docs.ansible.com/ansible-tower/2.3.1/html/towerapi/job_template.html)

Maybe the default it's `0`. What's does it mean? Infinite?

The value is in seconds?

[2018-10-17 14:59] wenottingham commented on #2471
At this time, we do not provide dependencies for the entire set of shipped-with-Ansible modules in the environment. (If I'm recalling right, doing so would actually lead to python conflicts).

The normal way to do this is to create a custom image with a virtual environment that contains the updated python  libraries.

However, in the case of running in OpenShift, it may be considered expected that

[2018-10-17 15:29] dnguyen9 opened #2473 "AWX / Tower Container does not generate UUID file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
UUID is not created for AWX Container deployment when sending the logs. According to the redhat KB (3228651), UUID is generated by python  and stored on  '/etc/tower/conf.d/ha.py' as a SYSTEM_UUID variable.

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: openshift,
* Ansible version:  2.6.5
* Operating S

[2018-10-17 15:31] nightvisi0n commented on #1861
I also had this error and verified that it was fixed in the latest released docker-image.
Thanks for addressing this issue!

[2018-10-17 18:36] kialam commented on #2463
👀 @AlanCoding Do you see in that screenshot a `Slice job 0/15`? That doesn't look right.

[2018-10-17 18:39] AlanCoding commented on #2463
At some time, I did push code that gave the undefined/undefined bug. After some finagling I got it to go away, but that's even before your changes. I would definitely say this needs re-testing.

[2018-10-17 18:44] kialam commented on #2463
@unlikelyzero I am unable to recreate this issue. I'm going to move this back to needs_test.

[2018-10-17 20:56] AlanCoding commented on #2464
Good find, this should be addressed in the PR now. I didn't go out of my way to make it return a 400 error, but an unrelated fix results in it relaunching in a non-split state. That seems good-enough to me.

IMO, sharding shouldn't really be considered with regards to prompting/permissions. There's no _permissions_ problem with someone relaunching a job from the old pre-shard state, and we need to

[2018-10-17 21:24] e-tienne opened #2477 "RFE: Add the status of a scheduled run from the schedules view"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
We would like to see the status, success or failed, of a scheduled run for a template from the schedules view.
##### ADDITIONAL INFORMATION

This would make is easier to identify which scheduled jobs, when there are multiple jobs for the same template with varying parameters, needs attention.

(Customer request)

[2018-10-17 23:52] unlikelyzero commented on #2463
@kialam the 0/15 is what appears when this happens: https://github.com/ansible/awx/issues/2464 It's possible that any SJT which fails to run will appear as 0/slice.

I'll redeploy with the latest feature branch. Assigning this to myself to retest.

[2018-10-18 03:27] jbartko commented on #1954
Hello @AlanCoding ! In the example above, variables are being set in from an AWX project using static inventory files:

[code]

When an AWX job template executes the awx1954.yml playbook, it fails with "template error while templating string: Missing end of comment tag".

[2018-10-18 09:10] jacobgarder commented on #2433
Thats solved it for me too (RHEL 7.5).

[2018-10-18 11:33] AlanCoding opened #2479 "Sliced job badge for workflow jobs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
The API is now providing a field for workflow jobs `is_slicked_job`, which is true/false.

This would make it fairly easy for the UI to implement a badge indicating where a workflow job is a slice-container entity.

For example, here I have a workflow job template, where a job template is aded to it. When ran, the jobs it

[2018-10-18 12:05] franysk opened #2480 "2.0.1 Install on linux from rpm. sqlite3.InterfaceError: Error binding parameter 0 - probably unsupported type."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: no-containers
* Ansible version:   2.7.0
* Operating System: CentOS Linux release 7.5.1804
* Web Browser:

##### STEPS TO REPRODUCE

 sudo -u awx /opt/awx/bin/awx-manage migrate

##### EXPECTED RESULTS

running migarations successfully

##### ACTUAL RESULTS

[2018-10-18 12:22] bspencer168 opened #2481 "Update project when creating a new project sourced inventory"
##### ISSUE TYPE
The option of updating the project when a project based inventory is manually synced (added or otherwise).

##### COMPONENT NAME
 - UI

##### SUMMARY
The current functionality allows for project change -> update inventory, but when adding a new inventory (or updating it), the the sync fails until the project is otherwise updated. Adding the option allows for the add inventory -> u

[2018-10-18 13:02] kialam commented on #2479
I think this is a great idea. Bringing in @trahman73 and @wenottingham to start a discussion on what the badge name should be. I like "Slice Job" and "Slice Job Parent."

[2018-10-18 13:07] ryanpetrello commented on #2480
@franysk whatever install method you're using doesn't sound like it's supported in awx.  Please take a look at the installation docs here:  https://github.com/ansible/awx/blob/devel/INSTALL.md

[2018-10-18 13:07] #2480 closed, assigned to nobody

[2018-10-18 13:34] AlanCoding commented on #1954
Thank you for the info. It took some finagling, but I was able to reproduce the error that you reported.

I will ping you after I distill this into the source bug that causes the problem. I also need to first confirm that it exists with development Ansible, I have only tested 2.7.0 so far. It will be filed as a separate issue.

[2018-10-18 14:03] cbermudez82 opened #2482 "Web Service not working due to missing instance for the host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
After installation of AWX on a new server and migrating the date from an old AWX version to the newest.  The Migration process fails with Creating a new Project.  I have tried to connect the new project manually but I'm getting an error on the UI.  "Failed to create new project. POST returned status: 500 A server error has o

[2018-10-18 14:22] trahman73 commented on #2479
I like "Slice Job" for the parent container and "Slice Job 0/0" for the individual slice jobs.

[2018-10-18 15:05] wenottingham commented on #2479
I'd do 'Job Slice' for the child job; it's a slice of the larger job.

[2018-10-18 15:50] jakemcdermott commented on #2333
🏈 punting for now

[2018-10-18 16:15] #411 closed, assigned to nobody

[2018-10-18 18:45] jaevans opened #2484 "tiller_namespace not passed to helm command in Kubernetes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
Setting tiller_namespace in the inventory is not utilized by helm command in the install playbook to install Postgres. This prevents deploying using a non-global install of helm.

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: Kubernetes 1.11
* Ansible version:  2.7.0
* Operating System: Mac High Sierra

[2018-10-18 20:12] jaevans opened #2488 "No limits set on containers in Kubernetes install"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: Kubernetes
* Ansible version:  2.7.0
* Operating System: Mac OS High Sierra
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Use the install.yml playbook to install to a Kubernetes cluster with low default CPU and memory limits.

##### EXPECTED RESULTS

De

[2018-10-18 21:43] #2327 closed, assigned to jlmitch5

[2018-10-19 06:36] JasonLGuthrie opened #2490 "Unknown error while connecting to vCenter or ESXi API / Name or service not known"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API / UI

##### SUMMARY
When running the following playbook in Ansible, all is fine.  When running from an AWX Job Template, we get an error about having trouble logging into the vCenter or API:

cat vm_create.yml
---
- hosts: localhost
  connection: local
  tasks:
    - name: "VM Creation"
      vmware_guest:
        hostname: vcenter.ourcor

[2018-10-19 08:49] MrMEEE commented on #1815
@gnosek Did you ever figure out what made the dropdown box show up??

I'm having the same issue in my RPM version...

[2018-10-19 09:12] gnosek commented on #1815
@MrMEEE no idea, I just left it running overnight. Maybe some cache had to expire so you might try restarting memcached (just guessing).

[2018-10-19 12:27] coom commented on #2385
@wwitzel3 May I ask you how your pull request will affect this issue ? I see that this issue has been referenced 10 days ago ? Is that a mistake ?

[2018-10-19 13:13] MrMEEE commented on #1815
@gnosek Tried restarting memcached... no luck.. tried logging in and out several times... no luck...

But then I added a second venv... and.. Voila!! there the dropdown appeared...

I'm thinking.. maybe it's meant not to show up if there is only on venv.. but it forgets to count the default one??

[2018-10-19 13:18] ryanpetrello commented on #1815
@MrMEEE as you suggested - the environment selection doesn't appear if there's only one venv available (the base one we ship with awx).  Once you add a second custom one, the dropdown should appear.

Another thing I'll suggest is to make sure you're on the latest awx - we _have_ fixed several issues related to the custom virtualenv selection in the past few months.

[2018-10-19 13:24] MrMEEE commented on #1815
@ryanpetrello The problem is that the menu first appears when the third venv is added..

I can only speak for the RPM install version, but other docker users seem to have had the same issue

[2018-10-19 13:30] ryanpetrello commented on #1815
@MrMEEE which version of awx are you using?

[2018-10-19 13:31] powertim opened #2491 "Versioning for Workflow Template"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI
 - Core

##### SUMMARY
Workflow template is a wonderful feature but it's not possible to track changes in time and offering the possibility to revert to a previous version.
Could it be possible to change the way it is stored (currently in DB if I'm right) ?
I suggest to use YAML files (as most related Ansible files) to permit versioning

[2018-10-19 13:36] MrMEEE commented on #1815
2.0.1

[2018-10-19 13:39] ryanpetrello commented on #1815
@MrMEEE if you create *one* custom virtualenv, you don't see the dropdown on the Job Template add/edit form?  When that's the case, can you share with me what you see at:

`HTTP GET /api/v2/config/`

[2018-10-19 13:57] matburt commented on #2473
This is a bit of a legacy field left over from our old HA system. It looks like you're running in k8s or openshift you should use the cluster_host_id to aid in cluster identification.

[2018-10-19 13:57] #2473 closed, assigned to nobody

[2018-10-19 14:11] AlanCoding commented on #2491
Some attempt to do this was made with the tower-cli workflow "schema" feature, you can see YAML files here.

https://tower-cli.readthedocs.io/en/latest/cli_ref/usage/WORKFLOWS.html

This feature was also integrated with the tower modules, so inside of a playbook you can do a `tower_workflow` task and provide the YAML structure directly inside of your playbook YAML.

I would like to keep the focus

[2018-10-19 14:17] wenottingham commented on #2491
Job templates are *not* imported from projects, so I'm not sure what you mean there.
In any case, this is #578, so marking as a duplicate.

[2018-10-19 14:17] #2491 closed, assigned to nobody

[2018-10-19 14:23] #2326 closed, assigned to jlmitch5

[2018-10-19 14:23] #2329 closed, assigned to jlmitch5, unlikelyzero, dsesami

[2018-10-19 14:24] powertim commented on #2491
Yes, my bad. Job template content, the playbook you play refers to the project.
I was thinking of a way in the UI to permit automatic save of the workflow template content to a project that refers to a Git repo for example.

Btw, I'm glad to see that you already opened a feature request for that.

[2018-10-19 14:24] #2436 closed, assigned to jlmitch5

[2018-10-19 14:25] jlmitch5 commented on #2444
I attempted to reproduce this and was able to delete the first item of the second pagination page with no problem.  moving to needs_test for rechecking

[2018-10-19 14:26] powertim commented on #578
I'm also interested to test this new feature !

[2018-10-19 14:28] jlmitch5 commented on #2447
I was not able to reproduce this on timeout as the reproduction scenario mentions--it just redirects to /#/login as soon as you click enter with /#/projects... in the url.  Moving back over to test to see if the issue can be reliably reproduced.

[2018-10-19 14:28] #2443 closed, assigned to jlmitch5

[2018-10-19 14:44] matburt commented on #2482
It would be super helpful if you could get us the logs from the web container... otherwise we don't have enough information to help you.

[2018-10-19 14:45] matburt commented on #2470
`AWX version: X.Y.Z`

Please provide this information.

[2018-10-19 14:54] jlmitch5 commented on #69
merged into awx https://github.com/ansible/awx/pull/2383

[2018-10-19 14:54] #69 closed, assigned to nobody

[2018-10-19 15:29] Nitradamus commented on #2334
I'm running into the same error, have you got this working yet within AWX @couchgott ?

[2018-10-19 16:32] #2463 closed, assigned to unlikelyzero

[2018-10-19 16:40] mobilesfinks opened #2495 "UI-Project-SCM Credentials: no credentials have been created"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
After add credentials cant add them to project for SCM.
When tap to lens in popup window i see `NO CREDENTIALS HAVE BEEN CREATED`

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.0
* Operating System: CentOS Linux release 7.5.1804 (Core)
* Web Browser: Google Chrome Versio

[2018-10-19 17:16] dsesami opened #2496 "Search filter count for organizations doesn't update"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When using the search bar on the organizations tab, the count of how many orgs are available on the page should update. However, it remains at the "full count". On other tabs, when I search users, for example, the number of users that shows up goes from "20" to "1" when I perform a specific search.
The count below should be

[2018-10-19 20:20] cbermudez82 commented on #2482
Matburt,
    do you specifically know what logs would help out from the web container?  messages, nginx, etc... I can get them pulled and uploaded.

[2018-10-20 06:17] skunkr commented on #2470
Thank you very much for reply !
I am using the "latest" tag of the docker image: "ansible/awx_web:latest", and I am not sure how could I find the running version since it is in a continuous  "upgrading" loop, version not being printed at the moment in the UI.
I have tried to search through inside the docker container for a VERSION file,  but just cant find it.
Any recommendation for fixing this lo

[2018-10-20 09:23] couchgott commented on #2334
hey @nitram2k,
no not working jet.
my plan is to write a little cron job checking in an inventory via vanilla ansible 2.6 into git and then import that project as inventory source into AWX until awx is using the plugin as well.
another way might be to use the custom inventory function in awx .. but not sure how that works yet.
i planned to look deeper into it next week or the week after if i find

[2018-10-21 07:45] ybizeul opened #2500 "API denied when creating new virtualenvs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Trying to follow https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md, I cannot make the PATCH request to create a new environment.

##### ENVIRONMENT
* AWX version: 1.0.6.23
* AWX install method: docker on linux
* Ansible version:  2.5.5
* Operating System: CentOS 7
* Web Browser: Safari / Postman

##### ST

[2018-10-21 07:50] ybizeul commented on #2490
Does it works if you put the IP instead? Looks like a name resolution issue

[2018-10-21 18:53] vielmetti opened #2502 "Dockerfile installs amd64-only version of `tini`, not portable to `arm64`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

When building awx for `arm64`, it is noted that the Dockerfile has a built-in
dependency on the `amd64` version of `tini`.

https://github.com/ansible/awx/blob/devel/tools/docker-compose/Dockerfile#L55

[code]

##### ENVIRONMENT
* AWX version: devel
* Ansible version:  (any)
* Operating System: any on arm64

##### S

[2018-10-21 18:54] vielmetti commented on #2502
attn @chris-short

[2018-10-22 07:56] Nitradamus commented on #2334
@couchgott

Cool, i'll be trying out the other options as well, love to hear what you did to make this work :)

[2018-10-22 13:37] ryanpetrello commented on #2500
@ybizeul can you give this a shot with a newer version of awx?  We've fixed several notable issues related to custom virtualenvs since then.  When I try to reproduce with your steps in the Docker on Linux environment, it works fine for me:

<img width="1195" alt="image" src="https://user-images.githubusercontent.com/214912/47295187-0dc05f80-d5dd-11e8-862f-d5cb31bf832c.png">

<img width="1003" alt=

[2018-10-22 13:49] ryanpetrello opened #2503 "Date picker widget is busted when creating a schedule for a Job Template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
![image](https://user-images.githubusercontent.com/214912/47296254-b1ab0a80-d5df-11e8-8c2a-bfc9c56122a1.png)

##### ENVIRONMENT
* AWX version: latest
* AWX install method: docker on linux

[2018-10-22 14:19] ybizeul commented on #2500
That's what I feared... I tried an upgrade but it broke django's deployment, or something else.
I need some time to figure out how to do an upgrade without losing secrets, etc...

Will keep you posted

[2018-10-22 14:25] unlikelyzero commented on #2503
@ryanpetrello do we know which change caused this regression?

[2018-10-22 14:29] wenottingham commented on #2503
per @kialam - https://github.com/ansible/awx/pull/2141/files#diff-93ced64530afe01c1e00aba523647af4

[2018-10-22 14:29] couchgott commented on #2334
hiho @nitram2k,
so i got something working as a work-a-round. Honestly i did not care so much about the "want_facts" feature as i am not using it here.
Anyway. Here is what i did:

Create a little script running via cron locally on a host (in my case it's running on the host where the awx containers are living but it does not matter ..) using the Vanilla Ansible 2.6
I setup the foreman inventory p

[2018-10-22 14:55] mobilesfinks commented on #2495
Found type: Source Control

[2018-10-22 14:55] #2495 closed, assigned to nobody

[2018-10-22 14:56] kialam commented on #2503
Note _anywhere_ the scheduler template is used is broken, not just Job Template (e.g. Projects, etc.).

[2018-10-22 15:18] angystardust commented on #1815
@ryanpetrello Hi, same problem here: dropdown remains hidden with just one venv. It magically appears when i create a second venv

[2018-10-22 15:41] beeankha opened #2505 "docker-compose Bug on Mac"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - docker compose development environment

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: Docker version 18.06.1-ce, build e68fc7a
* Ansible version:  2.6.0
* Operating System:  MacOS High Sierra 10.13.6
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Followed the instructions listed here:
https://github.com/ansibl

[2018-10-22 17:12] wenottingham commented on #1861
Closing this, please reopen if it persists.

[2018-10-22 17:12] #1861 closed, assigned to nobody

[2018-10-22 17:59] matburt commented on #2482
The actual docker console logs for the container will contain the error.

[2018-10-22 18:03] jwinderWCB opened #2507 "Provisioning callback No matching host could be found"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
I am attempting to setup a provisioning callback. The message being returned is "No matching host could be found!"

I have verified the host was added to the dynamic inventory and has a fact foreman.ip: [correct ip address]

The hostname can not be resolved using a reverse DNS lookup. What other methods does AWX use to look

[2018-10-22 18:51] wenottingham commented on #2505
I don't think this is mac-specific, I've seen similar errors on Linux.

[2018-10-22 18:52] cbermudez82 commented on #2482
Here is the docker log file for the Web container.
[docker-logs-awx-web.log](https://github.com/ansible/awx/files/2502966/docker-logs-awx-web.log)

[2018-10-22 21:24] TwoTwenty commented on #2230
This appears solved in the lates version of AWX. 2.0.1 potentially before.

Thank you Marliana. & Matburt

[2018-10-22 21:24] #2230 closed, assigned to nobody

[2018-10-23 00:57] hiyokotaisa opened #2509 "Expected a dictionary of items but got type "unicode" Error on SAML Team Map"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

When set SAML Team Map with JSON format, there is ` Expected a dictionary of items but got type "unicode" ` and cannot save the configuration.

##### STEPS TO REPRODUCE
 Set SAML Team Map as below.
[code]

##### EXPECTED RESULTS

There is no error and save the configuration correctly.

##### ACTUAL RESULTS
![screenshot from

[2018-10-23 02:19] mattspera commented on #1099
Any updates on this feature request?

[2018-10-23 02:52] matburt commented on #2482
I don't see any exceptions in this log... there are also no 500 errors reported in the response history. Make sure you trigger the error before capturing the logs for the container.

[2018-10-23 10:00] FlorianKuckelkorn commented on #2354
I am experiencing the same issue here, for the workflow display and for the log retrival. Restarting the container does help for a short amount of time, please fix fast :)

[2018-10-23 12:09] dannyhimself commented on #2433
Also solves for Ubuntu 16.04

[2018-10-23 12:27] cbermudez82 commented on #2482
[docker-awx-web-10-23-2018.log](https://github.com/ansible/awx/files/2506063/docker-awx-web-10-23-2018.log)
![post-500-svr-err](https://user-images.githubusercontent.com/38468200/47360293-285a0d80-d69d-11e8-8983-3243a14a6526.png)
Matthew,
   I appreciate the help with this.   I did generate the error before capturing the last log but I've done it again and I've attached a screenshot of the error a

[2018-10-23 13:44] door7302 opened #2511 "Chain workflow"
##### ISSUE TYPE
It will be interesting to be able to chain different Workflow. Variables set in a survey might be shared between several workflow.

[WF 1 + survey with vars ] ----> [WF 2 (knows vars of WF 1) ] ----> [WF 3 (knows vars of WF 1) ]

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ADDITIONAL INFORMATION

[2018-10-23 13:54] wenottingham commented on #2511
-> #2252

[2018-10-23 13:54] #2511 closed, assigned to nobody

[2018-10-23 14:14] mcoakley commented on #2408
This issue was my mistake. I misunderstood that Splunk would apply it's main web certificate to the collectors under the same host. This is apparently not the case and therefore the collectors need their own SSL configuration which once completed SSL verification on the AWX side completes as expected.

I will say that this issue still does point out an issue with AWX in that while you can disable

[2018-10-23 14:14] #2408 closed, assigned to nobody

[2018-10-23 14:16] bduff-sjm commented on #1720
@jlmcknight how did you configure it to send to fluentd?

[2018-10-23 14:30] kialam commented on #2503
@unlikelyzero @dsesami this is ready for testing.

[2018-10-23 15:58] mgvazquez commented on #2231
Same here in spanish.
Awx Version: 3.3.0

[2018-10-23 18:38] hd2212 opened #2515 "Ansible Tower - Servicenow integration Failed"
##### ISSUE TYPE
 - Error dynamic inventory parsing.

##### COMPONENT NAME

 - API

##### SUMMARY

I'm basically following the steps mentioned in ansible servicenow integration official repo to integrate servicenow and get hosts from CMDB. I have all the dependencies installed ( python-configparser) and my ansible version is 2.7.0 and my tower version is 3.3.0 . I have the now.ini file in my /etc/

[2018-10-23 19:21] wenottingham commented on #2515
[code]

You appear to not be passing the host correctly.

[2018-10-23 19:52] hd2212 commented on #2515
you mean the servicenow instance name like your_instance.service-now.com?

[2018-10-23 20:45] otdouglasm commented on #223
This might save someone a little heartache.

TL;DR:  chmod 755 /usr/bin/ansible-inventory

I had been using [my workaround](https://github.com/ansible/awx/issues/223#issuecomment-347926475) with Tower 3.2.2, which was working nicely.  I upgraded to 3.3.0, and the workaround broke with `ERROR! Attempting to decrypt but no vault secrets found` (when trying to update an inventory sourced from a proje

[2018-10-23 23:49] r3d3mpt10n opened #2516 "Allow applying a role as a workflow step"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

When you import roles into AWX, you need to run the playbook that calls each role. The result is that every roles output is displayed in the stdout window.

It would be great if we could take all roles under the `roles:` heading and split them into Workflows. This would provide a more user friendly experience and make tr

[2018-10-24 00:18] wenottingham commented on #2515
Yes - however you're supposed to pass it to that script, it doesn't look like it made it through.

[2018-10-24 08:30] Colstuwjx opened #2518 "Force Limit on launch job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
For current version, if we need to launch a job with limit option, we can set the limit on ui or pass limit param to API, but we don't limit that `You must fillout the limit option, otherwise this job template could NOT be launched`.

For security reason, I think it's indeed needed.
Thanks.

##### ADDITIONAL INFORMATION

[2018-10-24 11:44] AlanCoding opened #2519 "No way to obtain text from extra long inventory update event"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
If an inventory update emits an incredibly long single line (>1000 characters), then the API & UI will show a "..." character. This is fine for the overall standard out page, but it turns out there's no way to obtain the hidden text in the "..."

##### ADDITIONAL INFORMATION

Job events will show full standard out i

[2018-10-24 13:01] wenottingham commented on #2518
Security reasons? Given that no verification of limit is done, I don't think there is a security issue here.

[2018-10-24 13:13] Colstuwjx commented on #2518
If limit is not set yet, all of inventory hosts would be run, it's pretty dangerous! I think we should have this force limit. Or it must be controlled by user side?

[2018-10-24 13:22] matburt commented on #2505
This will be fixed with #2508

[2018-10-24 13:29] #2505 closed, assigned to nobody

[2018-10-24 13:33] hd2212 commented on #2515
I'm using the now.ini file where I placed it in our tower cluster servers in the /etc/ansible/ directory so that it will help the script to pull the instance, username and password from the file. So you think the problem is with the credentials?

[2018-10-24 14:00] skunkr commented on #2470
Hi,
Any thoughts on this issue ?
Thank you,  have a nice day !

[2018-10-24 14:05] aamarques commented on #2409
up

[2018-10-24 14:28] termlen0 commented on #1407
I used the setting described in https://github.com/ansible/awx/issues/1966 to get the `group_vars` to populate from SCM.

[2018-10-24 14:31] machacekondra commented on #1191
Please replace old dynamic ovirt inventory by new ovirt inventory plugin, which supports the fature you ask

 https://github.com/ansible/ansible/pull/47565

[2018-10-24 15:42] AdrianDutu commented on #796
This is still happening in 2.0.1. My POC blew up after 1 month. I'll go with a native db in production but come on guys, one year later this is still an issue and the bug is closed.

[2018-10-24 17:28] AlanCoding commented on #2129
Been testing this and it works fine so far:

https://github.com/ansible/awx/compare/devel...AlanCoding:multi_line_verbose?expand=1

[2018-10-24 17:34] AlanCoding commented on #2129
The new `__init__` kwarg will go in ansible-runner config, and AWX will slurp it from setting `EVENT_STDOUT_MAX_BYTES_DISPLAY`, to match with what we display.

https://github.com/ansible/ansible-runner/blob/ce3c90f97fc7c7e7bdc6a53494503b9a907875c0/ansible_runner/runner_config.py

Next time I look at this, I need to first see about porting those tests over to runner. The "merge" of this might just

[2018-10-24 18:33] ryanpetrello commented on #2129
Given that this is a performance improvement/enhancement, I'd _prefer_ that we change this as an enhancement in runner only instead of putting the change into awx and then having to port it to runner as well.

[2018-10-24 19:23] mabashian opened #2521 "Clicking WF node as a user with read-only access changes text to DELETED, doesn't show node details"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
As a read-only user of a workflow I would expect to be able to click on a workflow node and at a minimum be presented with a read-only view of the template/project/inv source that was selected _and_ any prompt configuration on that node.  Currently, none of that is shown and the text on the node is changed to DELETED when cl

[2018-10-24 19:27] AlanCoding commented on #2129
In the 3.5 switch, the vast majority of

https://github.com/ansible/awx/blob/devel/awx/main/tests/unit/utils/test_event_filter.py

will be removed. We will _probably_ continue to keep the `OutputVerboseFilter` class and tests for it, which become kind of like integration tests. In my diff above, I am trying to reduce the role of the class to strictly managing the remainder text instead of duplicat

[2018-10-25 01:36] wenottingham commented on #2515
If you're not passing the `NOW_INI` env variable, it does not look like it will look in /etc/ansible... only in the current working directory.

[2018-10-25 01:37] wenottingham commented on #2518
If you are letting the user specify a limit, specifying no limit is a reasonable answer to that.

If you want them to only have access to certain hosts, put them in an specific inventory and only delegate access to that.

[2018-10-25 01:37] #2518 closed, assigned to nobody

[2018-10-25 12:16] mjhermanson opened #2524 "Display how variables are assigned to a host, and from where"
##### ISSUE TYPE
- The current UI makes it difficult to track variables set on GROUPS in an INVENTORY. It would be helpful if groups were presented as a tree to visualize group and subgroup relationships.

##### COMPONENT NAME
 - UI

##### SUMMARY
 Ansible Tower allows the user to create groups and associate groups with other groups from the UI. It is difficult to track down a nodes variables when

[2018-10-25 12:29] mjhermanson opened #2525 "Use regex to create more flexible smart inventories"
##### ISSUE TYPE
 - Need the ability to create a smart inventory based on regular expression

##### COMPONENT NAME
 - UI

##### SUMMARY
A common practice is to use a standardized hostname for nodes in an inventory. A regular expression can be used against some attribute (like inventory_hostname) to have dynamically created groups. A use case would be for bootstrapping of a node.

Consider the foll

[2018-10-25 13:23] ryan012880 opened #2526 "Workflow Job UI in extra variable frame (width)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Workflow live job stream does not display properly due to extra variable frame width scale.

##### ENVIRONMENT
* AWX version: <= 2.0.1
* AWX install method: docker on linux
* Ansible version:  <= 2.7.0
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Create a workflow and put a extra variable with lo

[2018-10-25 13:33] hd2212 commented on #2515
Got it! Thanks much!

[2018-10-25 13:38] wenottingham commented on #2515
Sure. Closing this, feel free to reopen if you run across an AWX bug in the process of using it.

[2018-10-25 13:38] #2515 closed, assigned to nobody

[2018-10-25 13:40] wenottingham commented on #2524
I think this is best done via a mechanism that shows how variables are resolved and where they come from: as inventory is not actually a tree, showing it as a tree is likely to cause more issues.

[2018-10-25 13:45] dsesami opened #2527 "Name Validation should be reinforced with a character maximum in AWX"
##### ISSUE TYPE
 - Enhancement

##### COMPONENT NAME
 - UI

##### SUMMARY
Currently, when adding a new user (and across other form fields where character maximums are only passively reinforced), you can flood the text field with characters, but then an error message appears after creating the user fails:
![screenshot from 2018-10-25 09-36-07](https://user-images.githubusercontent.com/19942822/475

[2018-10-25 14:35] Gamoth opened #2528 "No more access to the HMI after login"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.0.0
* AWX install method: docker on linux with docker-compose
* Ansible version:  2.4.2.0
* Operating System: RHEL 7.5
* Web Browser: Firefox 60ESR
* Docker : 18.06-1-ce
* Docker-compose : 1.20.1

##### STEPS TO REPRODUCE

* Install AWX with local docker
* Use it for a few days
* Try to c

[2018-10-25 17:27] AlanCoding commented on #289
After working on https://github.com/ansible/awx/pull/2287, I think I have a fairly good grasp on an implementation that would work.

 - on whatever node it lands on, perform a check type project update
 - in final_run_hook or post_run_hook
    - create "sync" type jobs for all nodes in system
    - submit a broadcast_all task with kwargs of node names & job ids
 - In that task, import `RunProjectU

[2018-10-25 17:58] unlikelyzero opened #2531 "Activity Smart Status represents 10 individual slices instead of overall WF result which masks failure if more than 11 slices are run"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Activity Smart Status represents 10 individual slices instead of overall WF result which masks failure if more than 11 slices are run

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE

1. Create a SJT with 10 slices.
2. Launch the SJT and watch the Activity Smart Status on the Jobs list view.

##### EXPECTED

[2018-10-25 18:39] AlanCoding commented on #2531
We were showing workflow jobs in the recent_jobs list, but then went back on that decision:

https://github.com/ansible/awx/pull/2174/commits/5342c635581a24a83e2e694694125a214f31690c

[2018-10-25 20:01] dsesami opened #2532 "POST to /api/v2/users directly does not associate user with target organization"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI (?)

##### SUMMARY
In the actual UI, the "organizations" field is mandatory, and when you create a user, the user is then associated with the organization requested. However, when making a direct POST, we can't get the organization to associate with the user -- the user is successfully created, but then is not linked to any organiza

[2018-10-25 20:01] dsesami commented on #2532
cc @AlanCoding

[2018-10-25 20:13] wenottingham commented on #2433
Related to #2156  ?

[2018-10-25 20:14] wenottingham commented on #2433
Assumption: dup of #2418 , closing.

[2018-10-25 20:14] #2433 closed, assigned to nobody

[2018-10-25 20:16] wenottingham commented on #2225
See updates here: https://groups.google.com/forum/#!topic/awx-project/FKEZwrO-96k. Closing.

[2018-10-25 20:16] #2225 closed, assigned to nobody

[2018-10-25 20:17] wenottingham commented on #1834
Apologies, but there have been many chances since 1.0.6. Please try a recent release such as 2.0, and reopen if the problem persists.

[2018-10-25 20:17] #1834 closed, assigned to nobody

[2018-10-25 20:18] wenottingham commented on #1974
Closing, then - please reopen if there is a new issue.

[2018-10-25 20:18] #1974 closed, assigned to nobody

[2018-10-25 20:25] wenottingham commented on #2244
If you have issues with Tower, please contact your Red Hat support rep.

I would note that if it behaves the same outside of AWX, it's likely an issue with Ansible regardless, and should be tracked at https://github.com/ansible/ansible/issues/.

[2018-10-25 20:25] #2244 closed, assigned to nobody

[2018-10-25 20:27] wenottingham commented on #1618
Apologies, but there have been many changes since then, and this reads as a generic installation error due to bad settings.

Please try 2.0+, and file a new issue if this persists.

[2018-10-25 20:27] #1618 closed, assigned to nobody

[2018-10-25 20:28] wenottingham commented on #1943
This can be done via an ansible.cfg in the project path; there are other ways to pass custom action plugins. Closing for the initial issue.

[2018-10-25 20:28] #1943 closed, assigned to nobody

[2018-10-25 20:30] wenottingham commented on #1787
Apologies, but there have been many changes since then. Please try 2.0 or later, and open a new issue if this persists.

[2018-10-25 20:30] #1787 closed, assigned to nobody

[2018-10-25 20:32] wenottingham commented on #1989
This is pulled in at the system level for an ansible dependency.  I do not think we would specifically put a new one in the awx/ansible venvs.

[2018-10-25 20:32] #1989 closed, assigned to nobody

[2018-10-25 20:33] #2036 closed, assigned to nobody

[2018-10-25 20:33] unlikelyzero opened #2533 "Dashboard Graph no longer tracks individual job status on hover-over"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Dashboard Graph no longer tracks individual job status on hover-over

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE
1. Navigate to the Dashboard and hover-over the graph
Note: the individual job status for a job is not represented. The actual chart is otherwise accurate.

##### EXPECTED RESULTS

Hover-over

[2018-10-25 20:37] wenottingham commented on #2319
We in general do not want to decrypt vault content on inventory import, as then it is stored in plaintext in the API.

[2018-10-25 20:38] wenottingham commented on #2319
Does this work if variables are not vaulted at the file level?

[2018-10-25 20:39] wenottingham commented on #2353
This is generally not something we would do without building a more generic reporting engine, which is not a near-term item.

This could be done via scripting of API queries.

[2018-10-25 20:39] #2353 closed, assigned to nobody

[2018-10-25 20:43] wenottingham commented on #2357
Presumably this would surface as a toast notification in the UI or similar.

[2018-10-25 20:52] wenottingham commented on #2448
This reads more as a bug/missing functionality on the API side than an UI thing.

[2018-10-25 20:53] #426 closed, assigned to nobody

[2018-10-25 20:53] wenottingham commented on #2453
This reads as you have misinstalled and have not properly configured the database connection.

This is not an AWX issue; you may have better luck on the awx-project email list or ansible-awx IRC channel/.

[2018-10-25 20:53] #2453 closed, assigned to nobody

[2018-10-25 20:56] wenottingham commented on #2516
I think this is better done by just allowing 'roles' as workflow nodes in general - we would not auto-split playbooks.

[2018-10-25 20:56] hd2212 commented on #2515
Hey I have the script running on my unix server and i'm able to fetch the hostnames from the cmdb server when i run the commands ansible -i now.py all -m ping and ./now.py --list, but i'm still facing the same error in the tower even after specifying the "NOW_INI":"/etc/ansible/now.ini" in extra environment variables. What can be possibly going wrong?

[2018-10-25 21:00] wenottingham commented on #2515
Is job isolation enabled?

[2018-10-25 21:40] #2484 closed, assigned to nobody

[2018-10-25 21:47] lukegriffith opened #2534 "Support mazer for roles"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Playbooks

https://github.com/ansible/awx/blob/9bca937fadc110fbde19571cc1341c02032d0a7a/awx/playbooks/project_update.yml#L151

##### SUMMARY
Support Mazer for role restores.

##### ADDITIONAL INFORMATION
This appears to be the new standard, ansible documentation recommends Mazer.

[2018-10-25 22:12] #2418 closed, assigned to nobody

[2018-10-25 22:52] wenottingham commented on #2534
See https://galaxy.ansible.com/docs/mazer/examples.html#with-ansible-versions-that-do-not-support-content-path and following sections. This is not ready yet for a switchover.

[2018-10-26 01:34] matburt commented on #2528
There's no really enough information to go on here, it looks like something is wrong with rabbitmq and other services. I see you are running version 2.0, I'd recommend upgrading and seeing how that goes.

[2018-10-26 01:34] #2528 closed, assigned to nobody

[2018-10-26 01:36] matburt commented on #2509
Dupe of #2446

[2018-10-26 01:36] #2509 closed, assigned to nobody

[2018-10-26 01:38] matburt commented on #2507
It'd be helpful to check the web server / docker console logs to see where AWX thinks the request is coming from... is it the actual host or does the source address differ?

[2018-10-26 01:45] matburt commented on #2462
I'm having some trouble reproducing this, I'll leave this open in a `needs_info` state

[2018-10-26 01:47] matburt commented on #2428
You're running a fairly old version of AWX and I'm unable to reproduce on the latest version. Reopen if found against 2.X+

[2018-10-26 01:53] matburt commented on #2405
This looks like an ssh problem on your end rather than a problem with the installer.

[2018-10-26 01:53] #2405 closed, assigned to nobody

[2018-10-26 02:00] matburt commented on #2385
This issue is a little vague, what in /var is growing that is surprising?

[2018-10-26 02:01] matburt commented on #2380
No comment in 10 days, closing.

[2018-10-26 02:01] #2380 closed, assigned to nobody

[2018-10-26 02:03] matburt commented on #2366
We have a plan to revamp the dashboard in the near future.

[2018-10-26 02:03] #2366 closed, assigned to nobody

[2018-10-26 02:06] matburt commented on #2365
I'm having trouble reproducing this. Are these files playbooks? We *will* only show files that appear to be playbooks (not just any yaml file). Do these files show up in the project directory in the container itself?

[2018-10-26 02:09] matburt commented on #2345
Closing this as it was explained to you in your PR