[2021-09-29 12:43] lucab85 opened #11164 "Inventory with multiple sources: collision host"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-29 13:08] nixocio opened #11165 "Bulk deletion of jobs leads to internal error"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-29 13:22] nixocio commented on #8712
The fix suggested above was added.
<img width="1456" alt="image" src="https://user-images.githubusercontent.com/9053044/135276840-5ea996fd-8881-424b-923d-08577682d41e.png">

[2021-09-29 13:22] #8712 closed, assigned to nobody

[2021-09-29 14:20] #11113 closed, assigned to nixocio

[2021-09-29 15:19] #10745 closed, assigned to beeankha

[2021-09-29 15:25] #11164 closed, assigned to nobody

[2021-09-29 15:32] cnukwas commented on #10115
@wenottingham , I couldn't find any information on building a new execution environment or adding other collections in the above link. Would you please point to any information on how to do that?
BTW, we're already using a custom EE docker image, guessing that we need to add additional Ansible modules/collections there.

Thanks

[2021-09-29 15:40] AlanCoding commented on #10948
Recap of active PRs:

 - awx change: https://github.com/ansible/awx/pull/11160
 - runner change: https://github.com/ansible/ansible-runner/pull/846

[2021-09-29 16:04] AlexSCorey opened #11167 "Logout as User A and Login as User B redirects to User A's last location"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-29 19:00] nixocio opened #11169 "Inventory Source AAP subform not being displayed"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-29 19:10] AlexSCorey opened #11170 "Wrong Instance Group Tool tip"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-29 19:45] ffirg commented on #10115
Hi. Take a look at ansible-builder for building a new EE.

[2021-09-29 20:52] AlexSCorey opened #11172 "Credential Org Can't be removed"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-30 05:52] oehlrich9 commented on #10243
In my opinion, this is not a big change.

A good start would be to value the 'use_token' property from the tower-cli configuration file. This requires to introduce this parameter similar to the verify_ssl parameter.
Then we need to add another way of authentication with the Basic header:

[code]

I'm not sure if we need any updates on other positions (besides from module inputs, as we want to set

[2021-09-30 08:03] financelurker commented on #286
Are there any updates to this?

[2021-09-30 10:18] stefanpinter opened #11174 "REST API call missed because of "Missing a revision to run due to failed project update""
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-30 13:10] stefanpinter commented on #11152
another Job failed with ERROR:
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 1406, in run
    res = receptor_job.run()
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 2935, in run
    return self._run_internal(receptor_ctl)
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/m

[2021-09-30 13:17] tiagodread commented on #11150
fixed with #11156

[2021-09-30 13:17] #11150 closed, assigned to nixocio

[2021-09-30 14:28] AlexSCorey commented on #11172
Same applies for the Org look up in the Execution Environment form

[2021-09-30 15:41] munizal opened #11176 "Add Affected Host Count to Job API Endpoint"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When browsing jobs in the API (/api/v2/jobs/) there is a field called “limit”.  It lists out the hosts that the job was limited to touching based on the inventory selection.  Its listed out as a string, calling out the hosts separated by comma.
It would be very useful if there were a field in this view that called out the total host count based on t

[2021-09-30 15:53] nixocio commented on #11172
Good observation @AlexSCorey. But when we added the feature to type on the lookups, we removed the chip to render the removal.

[2021-09-30 15:53] #11172 closed, assigned to nobody

[2021-09-30 16:17] vsalvipk opened #11177 "o module named azure.cli.__main__; 'azure.cli' is a package and cannot be directly executed"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-30 18:03] atsigr commented on #11159
Same problem. I can confirm. We use ldap from rhel idm IPA.

[2021-09-30 20:07] kdelee commented on #10944
@AlanCoding That PR is still hanging out. I also know we are waiting on a few more PR's going into runner. Whats up with that?

[2021-09-30 22:01] beeankha commented on #10944
@kdelee we are working on getting in-progress Runner PRs merged in by hopefully the middle of next week! The main Runner PR related to this issue (https://github.com/ansible/ansible-runner/pull/817) has been merged; the remaining WIP stuff is not related to this particular "protected EE registries" issue.

[2021-10-01 09:48] vmpr commented on #1288
still have the problem in 19.3.0 :( just closing it is a strange behaviour if it is not fixed :( @shanemcd

[2021-10-01 12:27] zaskan opened #11182 "Create a new workflow role only with "create" permissions"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently we can assign the following roles for workflow users/groups:

- Executor: Users can execute workflows
- Reader: Users can only see the workflows
- Approver: user can approve workflows
- Admin: user can Create, Execute and approve the workflow

For specific use cases, the admins have to be able to create the workflow templates but not to app

[2021-10-01 13:38] AlexSCorey commented on #11182
@zaskan If I understand correctly you want someone to be able to create a workflow but not approve that workflow?  This PR, which we are trying to merge may solve the issues. https://github.com/ansible/awx/pull/10847 It's a slightly different look at the same/similar problem.

[2021-10-01 13:48] MahdiSMIDA commented on #1653
+1 for support with rest api

[2021-10-01 16:10] ffirg commented on #11177
This repo is not a support forum, please head over to https://groups.google.com/g/awx-project and ask there.

[2021-10-01 16:10] #11177 closed, assigned to nobody

[2021-10-01 16:48] #11169 closed, assigned to nixocio

[2021-10-01 17:12] shanemcd commented on #11174
I think this is the intended behavior. Did the associated project's last update fail?

[2021-10-01 17:26] shanemcd commented on #11146
Sorry, isolated nodes are no longer a feature. Container Groups allows for execution on a remote Kubernetes cluster.

[2021-10-01 17:26] #11146 closed, assigned to nobody

[2021-10-01 17:33] shanemcd commented on #11128
Dupe of #20

[2021-10-01 17:33] #11128 closed, assigned to nobody

[2021-10-01 17:43] shanemcd commented on #11121
Related: https://github.com/ansible/awx/issues/286

[2021-10-01 17:46] #11108 closed, assigned to nobody

[2021-10-01 17:56] #11087 closed, assigned to nobody

[2021-10-01 18:03] jamesmarshall24 commented on #11082
@allaboutopensource What environment variables are you passing to the project SCM inventory source? I see its trying to parse as constructed, but if you're using the vmware source from the collection you likely want to set the enabled plugins to "auto" and provided the `plugin: vmware_vm_inventory` in your yml spec file.

[2021-10-01 18:27] AlanCoding opened #11185 "In docker-compose dev environment, tools_receptor_hop should change to run as AWX user"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If you run with `make docker-compose` you get these

[code]

Look at what user you are in those containers:

[code]

The reason for this is the container image being used. The image https://quay.io/repository/ansible/receptor?tab=tags has no reason to do anything with an `awx` user.

The previous (now deprecated) plan was to switch over the execution

[2021-10-01 18:30] arsenicks commented on #6418
Interested to see if we can help moving this forward ? We have the same requirement, we are using webhook but as far as I know it's the same data/vars we can get..

We tested a way filtering the content of job_metadata in a playbook, it worked but we can't use the same filter(from_json) because it's not a "native" jinja filter so it's not available to use in the notification template.. I'll put it

[2021-10-01 18:37] sdigit opened #11186 "Job completion status never updates in output window, however stdout does update."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-01 18:48] #11137 closed, assigned to nobody

[2021-10-01 19:56] sdigit commented on #11186
I tracked this down to a load balancer timeout. This is not a bug in AWX.

[2021-10-01 19:56] #11186 closed, assigned to nobody

[2021-10-03 17:21] brokedba opened #11188 "What are the prerequisites in terms CPU/RAM for AWX to be installed via awx-operator"
##### ISSUE TYPE

 - Installation
 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY

I was trying to install AWX using awx-operator but I hit a blocking issue during the deployment of the awx-demo pods

##### ENVIRONMENT
* AWX version: 18 stable
* AWX install method: operator
* AWX deployment target: kubernetes
* Operating System: Centos7.7/Oracle linux 7

##### STEPS TO REPRODUC

[2021-10-03 17:44] shanemcd commented on #11188
Defaults are listed here, along with the variables you can override: https://github.com/ansible/awx-operator#containers-resource-requirements

[2021-10-03 17:44] #11188 closed, assigned to nobody

[2021-10-03 18:18] brokedba commented on #11188
Thank you @shanemcd for the link .
I see only 3 type of pods though  - task  -web and  EE control plane containers .
 where is the 4rth pods coming from ?
And by the way should the customization be added in the config/default/kustomization.yaml file ?
I see only folder references
[code]
Should the below addition be appended to the same file ?
[code]

<br class="Apple-interchange-newline">
</body>

[2021-10-03 21:32] shanemcd commented on #10883
This should be fixed with AWX 19.4.0

[2021-10-03 21:40] #4463 closed, assigned to nobody

[2021-10-03 21:41] #5632 closed, assigned to nobody

[2021-10-03 21:42] #6775 closed, assigned to nobody

[2021-10-03 21:42] shanemcd commented on #8266
Closing as we no longer use helm for this.

[2021-10-03 21:42] #8266 closed, assigned to nobody

[2021-10-04 04:14] oliverf1 commented on #10366
I have the same issue and as @andrejzelnik I arrived at the same conclusion that's it's due to the amount of logs.
I have a job template which fails 95% of the time when it runs in debug mode, but when it runs in normal mode it always succeeds.
After testing pretty much all the AWX versions and EE combinations I have still the same issue.
I also noticed that if I run a `kubectl logs -f `on the aut

[2021-10-04 04:30] lucabrasi83 commented on #10366
Thanks @oliverf1  for the findings.

Looking at K8S docs regarding logging, it seems there is a default limit log size dictated by Kubelet / CRI : [https://kubernetes.io/docs/concepts/cluster-administration/logging/](url)

For example, that can be set in Docker as per the following doc: https://docs.docker.com/config/containers/logging/local/

[2021-10-04 05:04] oliverf1 commented on #10366
@lucabrasi83 I will check that in more details tomorrow, but I'm not sure it will help. For example if I "cat" the whole log file in one shot, then it works, no hang. Also if I print the log file at a slower pace, like one line per second, then it also works. The only way I found to reproduce the issue is to echo the log at the same pace as the job template is doing.
So it does not look to be a si

[2021-10-04 06:42] stefanpinter commented on #11174
yes, many failed... but this dependency is questionable to me (in this case Ansible-Galaxy/AWS connectiviy) when the job is just for copying files from one local server to another to be honest.
i wonder if there is an option to change/mitigate this

[2021-10-04 08:50] lumarel commented on #10883
I can confirm, it works again, thank you! 👌🏻

[2021-10-04 14:19] zaskan opened #11190 "Provide the option to keep or delete all the child objects on organization deletion"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, we keep org's projects and job templates when we delete a organization. This RFE is for request for an option which could let the user to choose between keeping the child objects or delete them.

[2021-10-04 14:49] AlexSCorey opened #11191 "Organization Delete Message is Missing WOrd"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-04 15:27] brokedba commented on #11188
Any thought ?

[2021-10-04 15:30] #11106 closed, assigned to AlexSCorey

[2021-10-04 15:39] tiagodread commented on #11191
fixed!

[2021-10-04 15:39] #11191 closed, assigned to AlexSCorey

[2021-10-04 18:09] jamesmarshall24 opened #11194 "Add Ability to Grant Permissions for Jobs Created with a Project to the Respective Project Admin"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The request is to add permissions to all jobs created using a particular project to the project admin. This is for environments where project owners have governance over their respective job templates.

[2021-10-04 18:35] #11170 closed, assigned to AlexSCorey

[2021-10-04 20:19] AlanCoding opened #11196 "Inventory updates should show `controller_node` field"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Inventory updates can / will run remote now, so their serializer should surface the `controller_node` field.

[2021-10-04 20:45] AlanCoding opened #11197 "Respect `AWX_CLEANUP_PATHS` on execution nodes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If `settings.AWX_CLEANUP_PATHS` is `False`, then we should not add the `--delete` flag when submitting the remote work unit.

[2021-10-05 05:26] Lee-Kwang commented on #11152
It seems to fail to pull the image. It can happen when image path ( of EE)  is wrong or docker registry secret is wrong.

[2021-10-05 07:38] stefanpinter commented on #11152
why doesnt it just use the existing one? nothing has changed... it worked multiple times before and after that, just minutes apart.
the template is using quay.io/ansible/awx-ee:latest
in the configuration of the EE "Pull" is set to "--------" whatever that means. i suppose it means "only when missing" because it says "missing" in the EE settings prior to click "edit".

ah.. quay.io download are on

[2021-10-05 11:45] Lee-Kwang commented on #11162
after launching a job against the contain group on  remote cluster, I checked receptorclt. It was stuck in this state:

(awx) bash-4.4$ receptorctl --socket=/var/run/receptor/receptor.sock work list
{'2Mr758Mh': {'Detail': 'Pod created',
              'ExtraData': {'Command': '',
                            'Image': '',
                            'KubeConfig': '',
                            'Kub

[2021-10-05 14:12] AlexSCorey commented on #4207
This issue has been open for quite a while. The new UI has >80% coverage on unit tests right now.  I am going to close this, but we can reopen if necessary.

[2021-10-05 14:12] #4207 closed, assigned to nobody

[2021-10-05 14:18] AlexSCorey commented on #2881
@mabashian Is this is valid?

[2021-10-05 14:24] AlexSCorey commented on #791
We should make the Host Name value clickable/navigable and send the user to the details view of the host.
![Screen Shot 2021-10-05 at 10 22 08 AM](https://user-images.githubusercontent.com/39280967/136042212-616e74a0-638d-45f4-b9aa-45b5c1167297.png)

[2021-10-05 14:28] AlanCoding commented on #8839
This page still has no link to the source project update. It just contains a link to the source _project_.

[2021-10-05 14:29] AlexSCorey commented on #1084
There is also a bug in this workflow.  When the user clicks on the node it navigates them to the Job Template Details view when it should navigate Job Template Output page.

[2021-10-05 14:36] kenichimilo commented on #10744
hi guys,
Is there a specific way of manually calling this migration script.. or have it run till the end
No errors in operator when upgrading or deploying..
https://github.com/ansible/awx/blob/0f6e221c14ec60fd6e492e583676511e040f469b/awx/main/migrations/0144_event_partitions.py
Each time i try a new upgrade i get the same
`File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/django/db/backend

[2021-10-05 14:38] AlexSCorey commented on #1230
Idea: Show the failure in the tooltip on the Status label.  This may also require the UI to use a different end point other than the current end point `/update_inventory_sources`

[2021-10-05 14:45] AlexSCorey commented on #4158
This issue is no longer valid n the new UI.

[2021-10-05 14:46] AlexSCorey commented on #4568
This issue is no longer valid n the new UI. Closing.

[2021-10-05 14:46] #4568 closed, assigned to nobody

[2021-10-05 14:48] AlexSCorey commented on #4833
This issue is no longer valid n the new UI.

[2021-10-05 14:48] #4833 closed, assigned to nobody

[2021-10-05 14:58] AlexSCorey commented on #5953
I don't think this is a valid issue any longer.

[2021-10-05 14:58] #5953 closed, assigned to nobody

[2021-10-05 15:01] AlexSCorey commented on #5960
This issue is no longer valid.

[2021-10-05 15:01] #5960 closed, assigned to nobody

[2021-10-05 15:30] AlanCoding opened #11202 "Presence of execution nodes will cause cluster to report as ha environment"
##### ISSUE TYPE
 - Bug

##### SUMMARY

If an install has 1 hybrid or control node, but has 1 or more execution nodes, it will erroneously report as an ha environment.

https://github.com/ansible/awx/blob/a036363e85d5f774140a8f54adb8938011236728/awx/main/ha.py#L8-L15

This takes no account of `node_type`. It should not count execution nodes here, because they offer no contributions to server high-

[2021-10-05 15:41] AlexSCorey opened #11203 "Workflow Visualizer Toolbar Issues"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-05 15:50] AlexSCorey commented on #2881
@tiagodread we now allow aliases on Workflow nodes.  Is that sufficient to resolve this?

[2021-10-05 15:54] AlexSCorey opened #11205 "Implement New Table Item Select from Patternfly"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Consider adopting this feature for our select or expand feature [items](https://www.patternfly.org/v4/components/table#composable-row-click-handler-hoverable--selected-rows).  Doing so, however might require us to implement some different styling in the toolbar

perhaps @trahman73 can jump in here.

[2021-10-05 15:55] AlexSCorey commented on #11205
Added state:blocked because I don't think there is any actionable work right now. Most this is just for discussion.

[2021-10-05 19:53] tiagodread opened #11207 "TypeError: string indices must be integers"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-05 20:45] tiagodread commented on #11207
This is now fixed!

[2021-10-05 20:45] #11207 closed, assigned to nobody

[2021-10-05 20:50] jw-maynard commented on #10961
@chrismeyersfsu I'm not really familiar with the code base at all. I just determined what seemed to be happening based on the responses in the chrome console. If you could give me an idea of where in the code base I should start looking I could take a stab at it.

[2021-10-05 21:33] ganniterix commented on #5428
This is not a bug. You need to set the batch size. You're getting the default number of facts (250) as per documentation.

https://docs.ansible.com/ansible/latest/collections/theforeman/foreman/foreman_inventory.html#parameter-batch_size.

[code]

and then ...
[code]

[2021-10-05 23:51] tuxonfire opened #11210 "[RFE] authentication support for PING Federate via OAuth2"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Ansible Tower currently only supports external OAuth2 authentication for Github and Google as documented in https://docs.ansible.com/ansible-tower/latest/html/administration/ent_auth.html.

It is required to integrate via OAuth2 with the corporate OAuth2 authorization server "PING federate", which follows the OAuth2 standard as documented in https:/

[2021-10-06 03:43] mrwiora opened #11211 "vanilla 19.4.0 awx.main.dispatch.periodic periodic beat crash"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-06 06:42] CWollinger commented on #11159
Same problem with AWX 19.3.0. Issue fixed in AWX 19.4.0. Releated issue: https://github.com/ansible/awx/issues/10883

[2021-10-06 07:32] aquilinux commented on #5428
Hi Jean Paul, awesome!
So i just need a file named xyz.foreman.yml containing:

batch_size: 800

along with foreman.py, right?

On Tue, Oct 5, 2021 at 11:34 PM Jean Paul Gatt ***@***.***>
wrote:

--
"Madness, like small fish, runs in hosts, in vast numbers of instances."

Nessuno mi pettina bene come il vento.

[2021-10-06 13:21] azrdev commented on #11027
@chrismeyersfsu  @Seb0042  on 19.3.0 we still see our long-running jobs' state not correctly synced with AWX, even though its stdout is displayed fully.

The UI-visible error has changed, though: it's not stuck "running" anymore, but fails with status

Is this the same issue as #10211  and #11087 ?

[2021-10-06 14:27] parmstro commented on #6901
I would also like to see kerberos authentication and SSO login to the WebUI for FreeIPA/IdM environments.

[2021-10-06 15:07] ganniterix commented on #5428
I don't even have foreman.py in the folder. I am importing the ansible collection.
[code]

And then my config file (foreman.yaml) looks something like this.

[code]

This is how I call it from ansible cli. Inside awx I set the credential aside, and remove the cache stuff.

[2021-10-06 15:25] JRNC commented on #10489
FYI, this issue appears to be fixed for me with v19.4.0. It appears as though the changes made to instance and container group logic seems to have resolved this issue.

[2021-10-06 16:40] pavel-voinov commented on #20
+100

[2021-10-06 17:43] splk3 commented on #1969
I have the same issue with Tower 3.8.3.  Anybody figure out how to clear the notification templates if there are pending notifications?

[2021-10-06 18:07] tiagodread opened #11214 "Users can try to edit/delete Instance group "default" via UI"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-06 19:15] JustInVTime commented on #10489
Yeah! I've updated our test environment to 9.4.0 this evening. This one contained the test database which had jobs with job id > 9999 in a pending state without doing anything. And they seem to run now.

I will update production soon, the current job ID for production is in the 5k now (had to reset it last week because of this bug), so we will find out soon enough if our production environment kee

[2021-10-06 20:31] #11103 closed, assigned to AlexSCorey

[2021-10-07 03:16] jladdjr commented on #10737
From the description at top:

@thenets - wanted to note that ticket sounds like it is describing the second reaping scenario that you and I talked about today:
https://github.com/ansible/tower/issues/5321

Seems like we can mark one of the two issues as a duplicate after we have a chance to revisit the scenario to see what the current state is.

[2021-10-07 05:50] ghost opened #11215 "Not able to load UI page beyond login page on Ansible AWX"
I have installed AWX using docker-compose after cloning from GitHub. I am trying to run Ansible awx from behind nginx as a reverse proxy but on the web page, after entering the login credentials, it is redirecting itself to /api/login/ and showing error as 405 not allowed see the image for the error.
Can you please suggest if I am doing correctly.
`location /awx/ {
proxy_pass "http://backendawx/";

[2021-10-07 07:11] kladiv commented on #10386
Hello,
any update on this Issue?
Thank you

[2021-10-07 11:03] CWollinger commented on #11211
Same here. Unable to sync projects

[2021-10-07 11:06] fust commented on #11211
+1
The EE containers aren't even created

[2021-10-07 11:52] CWollinger commented on #11211
I think this is because of some changes regarding the receptor.conf and socket:

AWX Operator: https://github.com/ansible/awx-operator/commit/fc9cd6bdb12d2afe4e3918128c48f2a13a1c62a0#diff-ffa438a6fcaf00ccb436a124570d42f6d84ad72078f9a7fd3d9e594f01780b4e & https://github.com/ansible/awx-operator/commit/eb4b5b9b908e3c8582c36d9e1a395bf9d9e45ded#diff-ffa438a6fcaf00ccb436a124570d42f6d84ad72078f9a7fd3d9e

[2021-10-07 12:00] fust commented on #11211
I agree it looks that way. Good find!
That complicates things a bit as the upgrade path to awx-operator 0.14 isn't as straigh-forward but I can live with that.
I hoped to postpone that for a couple of days and do a quick update to AWX 19.4.0 as it contains a fix for LDAP we desperately need.

[2021-10-07 12:15] mrwiora commented on #11211
@fust: try this: https://github.com/ansible/awx-operator/pull/592 - already created a PR, as I was struggling with this too.
I will check in a moment version 0.14 and report back, if we're fine with that version regarding the beat crash topic

[2021-10-07 12:40] fust commented on #11211
If I understand correctly the only difference is specifying the NAMESPACE in the env?
That isn't an issue for us as we use a custom Kustomize build for our Gitlab CI/CD pipelines.

I'll have to admit I haven't really looked into why upgrading to 0.14 didn't "just work" for me, will take a look at upgrading the operator first and then updating AWX tomorrow morning.

[2021-10-07 14:04] aquilinux commented on #5428
Thank you for your feedback, got it working here:

[image: image.png]
and yes, it did the trick as i see facts being populated on hosts that were
problematic.
a bit misleading, though, since batch_size should set the batch PER page..
but looking at the code awx in getting only page 1, so.. it works.
just a side note, using a batch of 800 to retrieve 800 nodes sometimes
triggers 504 Gateway timeout

[2021-10-07 14:49] gauravsuryawanshi0806 commented on #11215
@imkr07 :+1: Kindly do the nginx configuration like below, as i configured the same and it works for me

**nginx configuration:**
upstream backendawx {
      server HOSTNAME:PORTNUMBER;
    }
  location /awx/ {
          proxy_pass "http://backendawx/#/login/";
          proxy_set_header   Host $host;
          proxy_set_header   X-Real-IP $remote_addr;
          proxy_set_header   X-Forwarded-For

[2021-10-07 19:52] ganniterix commented on #5428
You might want to have a look at this ...

https://access.redhat.com/node/4224211/40/0/17083701

although in later versions of Satellite, the document is no longer present.

https://access.redhat.com/documentation/en-us/red_hat_satellite/6.9

[2021-10-08 04:06] cnxieyang opened #11219 "when I sync git project in awx,have some error."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-08 05:11] cnxieyang commented on #11219
![image](https://user-images.githubusercontent.com/19647104/136501868-75983404-3f3b-4b3e-a087-ae5157fb8b9c.png)

[2021-10-08 06:10] bsushant-athena opened #11220 "Please add OCI as a cred-type on awx"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add OCI as a cred type on awx so that it becomes easy for devs who are using awx on oci.
more info regarding cred type: https://blogs.oracle.com/cloud-infrastructure/post/using-oracle-cloud-infrastructure-with-ansible-tower-and-awx

[2021-10-08 07:46] jladdjr commented on #11110
I can confirm that this behavior is still present. I took my test a step forward and killed the receptor process on the control node and noticed that the job was immediately aborted and marked with state `error` and gave the following traceback:

[code]

So it looks like the more likely case (receptor process dies), is handled almost immediately by awx, although it looks like there is room for us

[2021-10-08 08:23] fust commented on #11211
Updating the operator to 0.14 and then updating AWX to 19.4.0 works like a charm.
Additional steps to update the operator are required, multiple PRs have been opened for this.

I followed the steps in this PR: https://github.com/ansible/awx-operator/pull/593/files
Then updated our custom Kustomize deployment pipeline to deploy the new operator and then updated AWX.
Downtime for AWX was around a mi

[2021-10-08 09:34] rsabadoAtSirti opened #11221 "AWX 17.1.0 doesnt apply limits on workflows"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-08 12:13] mick1627 opened #11222 "Set AWX_CONTAINER_GROUP_POD_PENDING_TIMEOUT with setting module of awx collection"
##### ISSUE TYPE
 - Feature Idea

Trying to set  AWX_CONTAINER_GROUP_POD_PENDING_TIMEOUT with settings module of awx collection

[code]

Raised this error :

[code]
##### SUMMARY
In some case, we observed that 5 minutes for AWX_CONTAINER_GROUP_POD_PENDING_TIMEOUT is not enough when pods are waiting the cluster to add new node using autoscaling.
It seems not possible to set this setting using  awx

[2021-10-08 12:33] mrwiora commented on #11211
works as expected - closing case :) thanks to all

[2021-10-08 12:33] #11211 closed, assigned to nobody

[2021-10-08 12:35] nixocio commented on #11105
Reopen this issue. Since upgrade is blocked until https://github.com/patternfly/patternfly-react/issues/6421 is sorted out.

[2021-10-08 12:36] nixocio commented on #11105
Also: https://github.com/ansible/awx/pull/11218

[2021-10-08 12:38] nixocio commented on #11221
@rsabadoAtSirti thanks for filing this issue, could you upgrade to the latest AWX version?

[2021-10-08 12:43] rsabadoAtSirti commented on #11221
hi nixocio , can i deploy the latest version with docker-compose ? im having trouble by setting up the latest AWX  version with minikube

[2021-10-08 12:46] nixocio commented on #11221
I believe so.

[2021-10-08 12:47] rsabadoAtSirti commented on #11221
ok ill try the deploy of the latest AWX and i'll tell you if the problem still remain

[2021-10-08 14:01] #8448 closed, assigned to AlanCoding

[2021-10-08 14:43] tiagodread opened #11223 "Allow job output download the output based on seach/filter applied"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-08 14:46] shanemcd commented on #10868
Closing this as it seems like we achieved the "better error" part of this issue.

[2021-10-08 14:46] #10868 closed, assigned to nobody

[2021-10-08 14:46] shanemcd commented on #10878
Can someone try on 19.4.0 and let us know if the problem is still happening?

[2021-10-08 14:48] #10879 closed, assigned to nobody

[2021-10-08 15:00] shanemcd commented on #11027
Are you using the database provisioned by the operator, or connecting to your own?

[2021-10-08 15:05] shanemcd commented on #11027
A couple more questions:

- Is it possible that some control plane pods are getting evicted and re-launching?
- Are you maybe scaling the control plane up and down around the time this happens?

[2021-10-08 15:09] #11030 closed, assigned to nobody

[2021-10-08 15:15] shanemcd commented on #11071
Should be. Give it a shot.

[2021-10-08 15:15] #11071 closed, assigned to nobody

[2021-10-08 15:28] shanemcd commented on #11082
AWX 17 is pretty old at this point. Can you upgrade and let us know if this is still happening?

[2021-10-08 15:37] shanemcd commented on #11139
I'm unable to reproduce this on devel. Can you try through the UI, look in your browser's dev tools Network tab, and cross check against what youre doing with curl?

[2021-10-08 15:37] akus062381 opened #11224 "WFJT creation- adding labels results in 400"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-08 15:38] shanemcd commented on #11159
As stated in the comment above, this should be fixed with 19.4.0.

[2021-10-08 15:38] #11159 closed, assigned to nobody

[2021-10-08 15:40] shanemcd commented on #11174
Do you have "Update on launch" checked on the project? Unchecking that is probably what you want. If you want us to consider changing the behavior here, please open another issue describing how you think it _should_ work.

[2021-10-08 15:40] #11174 closed, assigned to nobody

[2021-10-08 16:05] AlexSCorey commented on #11224
@akus062381 I believe that this is a patternfly bug.  This [PR](https://github.com/ansible/awx/pull/11218) will revert the recent PF Upgrade that brought in the bug  and here is the bug [filed](https://github.com/patternfly/patternfly-react/issues/6421) with PF.  This bug is probably a good thing to keep around, though, to help us track that bug when we upgrade PF again and ensure it doesn't come

[2021-10-08 16:48] #11214 closed, assigned to AlexSCorey

[2021-10-08 17:01] chrismeyersfsu commented on #11223
From a backend perspective, this is tricky.

[2021-10-08 17:04] chrismeyersfsu commented on #11222
`AWX_CONTAINER_GROUP_POD_PENDING_TIMEOUT` isn't something that can be set via the API.

Can you try the below `awx-operator` feature instead and report back if it worked for you?
https://github.com/ansible/awx-operator#extra-settings

[2021-10-08 17:05] chrismeyersfsu commented on #11222
This card is to track the addition of `AWX_CONTAINER_GROUP_POD_PENDING_TIMEOUT` to the api settings.

[2021-10-08 17:12] chrismeyersfsu commented on #11220
We would be happy to review a PR that adds this support. Are you able to provide the infrastructure needed to verify this issue?

[2021-10-08 17:25] InnocentK commented on #10272
Resolved in #11209

[2021-10-08 17:25] #10272 closed, assigned to kialam, InnocentK

[2021-10-08 18:16] chrismeyersfsu commented on #11101
Can this be closed @fosterseth ?

[2021-10-08 19:23] nixocio commented on #11224
Once we upgrade PF again we should verify this issue and close.

[2021-10-08 19:32] #11101 closed, assigned to amolgautam25

[2021-10-08 19:33] tiagodread opened #11227 "User can try to disassociate control-only instances"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-08 20:50] drinkeroftea7 opened #11228 "[RFE] ability to limit number of job slices"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
* There is currently not a way to set a maximum number of job slices that the user of a job template can request.
* A user can therefore set an unrealistically high number of job slices, degrading the performance of a cluster
* Please provide a way for administrators to limit the number of job slices that can be requested at run time for a job templa

[2021-10-08 21:08] no-12 opened #11229 "Ansible collection - job_template module unable to update survey spec"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-09 03:24] AlanCoding commented on #11051
Much of the implementation of this is in ansible-runner, like the writing to the pipe, which can be seen here:

https://github.com/ansible/ansible-runner/blob/1a8c1c59e010ac87966a552b6d3f9f52aa1abe1e/ansible_runner/config/_base.py#L244

The natural speculation is that the `ssh_key_path` written to there is somehow different from the path that it is read from, so reading hangs.

It jumps out to me

[2021-10-09 10:27] infra-monkey commented on #10878
@shanemcd doesn't work for me in 19.4.0. I still have the same issues
[code]
Note: I am using a custom credential type that sets the environment variables. I don't think it would be an issue anyway as the inventory file is not recognized as yaml.
My inventory file:
[code]

[2021-10-10 07:43] cljcoder commented on #10878
I have also had no joy with 19.4.0.   My first attempt to create the (git) project source would not allow me to select anything except for root as an inventory file, even though there were two inventory files in the project.  A second attempt allowed me to manually enter in an inventory file and attempt to sync it.   The sync job resulted in:

[code]

Manually using these files with a similar vers

[2021-10-10 15:23] easmithdev opened #11232 "Postgres issue with using dynamic inventory, { ERROR: value too long for type character varying(512) }"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
When trying to use a dynamic inventory, I received the error message from Postgres
**ERROR:  value too long for type character varying(512)**
I saw the same error when using AWX version 19.2.1, and decided to do a clean install of AWX version 19.4.0.
I'm still experiencing the same exact error.

I did verify the dynam

[2021-10-10 17:59] easmithdev commented on #11232
This will now be closed.

The reason for the error I was seeing was the related to the children of a group. The children is supposed to be a list of group names. What was happening is I used the actual group dictionary as the reference as a child. As a result, the dictionary was being expanded into the children list instead of just listing the dictionary name. It was thereby creating an entry that

[2021-10-10 17:59] #11232 closed, assigned to nobody

[2021-10-11 02:44] AlanCoding commented on #9967
In the updated images, this should be at `/var/run/awx-receptor/receptor.sock` instead of `/var/run/receptor/receptor.sock`.

I'm attempting to track down a similar issue, but I'm looking for reports of the "Socket path does not exist" error specifically from the most recent AWX release.

[2021-10-11 05:59] bsushant-athena commented on #11220
Yes I followed that document and it works on OCI. I think if we just add the OCI crude type that will reduce one manual step from that doc.

[2021-10-11 07:59] mick1627 commented on #11222
Thanks, It works using extra-settings :

[code]

I had to use simple quote in the value to be sure to have the double quote in the settings.py.

[2021-10-11 08:40] mick1627 commented on #10878
Inventory source from project work for me in version 19.4.0.

I tested auto plugin :

[code]

and  ini plugin

[code]

The dropdown inventory file list is not working.
Using the GUI, the Inventory file dropdown is empty (even if a project snyc is done before), I have to enter the file name manually.

[2021-10-11 08:48] ffirg commented on #11220
As Chris stated, we'll happy accept a PR for that code. As you have a workaround and we don't see a lot of demand for this, closing this issue. Please open a PR with the code and it'll get reviewed.

[2021-10-11 08:48] #11220 closed, assigned to nobody

[2021-10-11 11:24] marekvesely-direct opened #11233 "Project and Inventory update starts at the same time"
### Please confirm the following

- [x] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-11 11:52] marekvesely-direct commented on #11233
19.4.0 version is the same problem

[2021-10-11 16:13] akus062381 opened #11234 "Advanced Search should have a "reset search" option"
When a user is using the advanced search feature, there should be one button for the user to click if they want their search parameters cleared out. There is a 'clear all filters' button, but there is not one to clear all search parameters.

[2021-10-11 17:23] netcho opened #11235 "Job output being truncated"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-11 17:49] AlexSCorey commented on #11234
@akus062381 are you proposing to remove the value in the fields pictured below when the user clicks on the `clear all parameters` button, essentially resetting the advanced search fields?
![Screen Shot 2021-10-11 at 1 45 51 PM](https://user-images.githubusercontent.com/39280967/136832979-53632e34-144d-4aee-abe0-09d2c18d6953.png)

[2021-10-11 18:42] akus062381 commented on #11234
@AlexSCorey yes, as well as putting "Advanced" back to "Name"

[2021-10-11 19:53] nixocio opened #11236 "Add expand/collapse all to Job Output"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

From mockup, see arrow on the left corner.

Add expand/collapse all to Job Output.

Related to: https://github.com/ansible/awx/issues/6613

<img width="1481" alt="image" src="https://user-images.githubusercontent.com/9053044/136847968-271c30b6-85ab-49e0-bdab-360c2a73b969.png">

[2021-10-11 20:28] Kardi5 commented on #10878
Upgrading from 19.2.2 to 19.4, installed using Operator version 0.14 on Kubernetes v1.20, the inventory source works for me.

[2021-10-11 21:14] Kardi5 commented on #10366
@oliverf1 Hi, interesting that you saw the log stopping in the running kubectl aswell. We obeserved that using `kubectl logs -f` actually works for us even when AWX did not. As of now we only have one reliable test case: start a script via task in an Ansible playbook and sleep for more than 3600s (eg. 3800s). After exactly 3600s AWX will error out and the receptorctl status for the job will read "

[2021-10-12 04:50] hungtran84 opened #11237 "LDAP setting doesn't work"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-12 07:29] jladdjr commented on #10948
@thenets - just checking in, do you need any info for testing this?

[2021-10-12 09:47] ktibi commented on #10883
Hello,

Not fix on my AWX 19.4.0.

Ldap User can login only one time.

[2021-10-12 10:01] ktibi commented on #11159
@shanemcd Not fixed in 19.4.0 for me.

[2021-10-12 13:23] stefanpinter commented on #11174
@shanemcd  no, it is NOT checked and never was!

[2021-10-12 18:53] nixocio commented on #11080
@chris93111, I used the API to create a work flow job template.
[code]
limit default value is "",

I was not able to re-create this one.

Can you share a gif what you are seeing?

[2021-10-12 18:58] AlexSCorey commented on #11235
There is a lot of work being done on the job output that is up for PR right now https://github.com/ansible/awx/pull/11193.  If you have some time, check out that branch and see if it resolves your issues.

[2021-10-12 19:31] IPvSean opened #11240 "Default execution environment is not used when EE is not set"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-12 20:12] netcho commented on #11235
I doubt that this PR will fix it. The problem lies in the fact that at a certain point, the awx callback_receiver stops scraping events from the Pod where ansible-runner is executing and storing them in the DB. I came to this conclusion after querying the API directly so I can isolate the UI. The last line numbers stored in the DB and returned by the API weren't the last that ansible-runner produc

[2021-10-12 20:43] nixocio commented on #11240
There is some info about precedence of EEs here https://github.com/ansible/awx/blob/devel/docs/execution_environments.md

[2021-10-12 20:45] vrubiolo commented on #10878
HI there,

Running the same scenario on 19.4, I see the inventory file is now parsed:
[code]

The dropdown menu in the UI still does not work though, I have to enter the path by hand.

This is AWX 19.4 on K3S `v1.19.15+k3s1 (e698d6d8)` deployed via `awx-operator 0.14.0`

[2021-10-12 21:36] jladdjr commented on #11110
In meeting with @ffirg sounded like we do not consider this a pressing issue at the time. @ffirg can you confirm that this work can be defered?

[2021-10-12 23:47] chris93111 commented on #11080
@nixocio Hi i thinks the default value is null, because if you put "" it's erase all children node limit. with collections , the value without change limit is null , i have also compare with awx 15 and the default value is null

[2021-10-13 08:50] ffirg commented on #11110
I think it’s still something we should close off for completeness but a user should not be doing this (or need to) outside of the controller. You can continue to work on it but as the lowest priority case of those you’ve outlined.  If something else comes up more pressing then it can be deferred.

[2021-10-13 13:27] Zokormazo commented on #11019
This is working as expected

[2021-10-13 13:27] #11019 closed, assigned to Zokormazo

[2021-10-13 13:33] tiagodread commented on #7741
This was addressed by #11208

[2021-10-13 13:33] #7741 closed, assigned to AlexSCorey

[2021-10-13 13:42] Zokormazo commented on #11202
@CFSNM could you check this one? Thanks :)

[2021-10-13 14:30] craph opened #11243 "Job status are not displayed correctly in dashboard due to TimeZone"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-13 14:47] Zokormazo commented on #10944
This is working properly now

[2021-10-13 14:47] #10944 closed, assigned to Zokormazo, beeankha

[2021-10-13 15:52] #11202 closed, assigned to CFSNM

[2021-10-13 15:55] derhoeppi commented on #11237
Please update to AWX 19.4.0. Its a know failure That was fixed.
Look at https://github.com/ansible/awx/issues/10883 or https://github.com/ansible/awx/issues/11159

[2021-10-13 17:21] jladdjr commented on #11019
@Zokormazo thanks for confirming!

[2021-10-13 17:40] sarabrajsingh commented on #11112
@beeankha what version are we pinning ansible-runner to? latest is `2.0.2`

https://pypi.org/project/ansible-runner/

[2021-10-13 17:57] rhaddad7 opened #11248 "AWX PostgresDB error on baremetal kubernetes cluster"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-13 18:49] beeankha commented on #11112
@sarabrajsingh it should be `2.1.0` once that's released

[2021-10-13 19:14] infra-monkey commented on #10878
Correction , it works for me.
In fact I had the community.general collection set to 3.3.0 in my requirements going to the latest works.
@cljcoder can you check if you are in the same situation?

[2021-10-14 02:22] sugitk commented on #448
I am trying to implement it but I cannot find a suitable filter to modify the timezone locally.  For example,

[code]

Is there any reference that we can use available filters?

[2021-10-14 07:31] stefanpinter commented on #10151
i also have a project update stuck at running the second time already. it is bad, because it also blocks other jobs (they are on pending)
using awx 19.3.0

Identity added: /tmp/pdd_wrapper_7925_uf780rcs/awx_7925_8hqi355q/artifacts/7925/ssh_key_data (ansible@vpadm002)
PLAY [Update source tree if necessary] *****************************************
TASK [update project using git] *******************

[2021-10-14 08:58] craph commented on #11243
@nixocio Are you aware of this behavior ? is there someone in the AWX team that can give a point of view into this ?
Thank you very much.

[2021-10-14 15:43] sarabrajsingh commented on #11112
related PR - validation of version happening here - https://github.com/ansible/awx/pull/11213

[2021-10-14 17:28] jhampson-dbre commented on #10243
I can't see any reason that awx-cli should not support basic auth. The [awx-cli documentation](https://docs.ansible.com/ansible-tower/latest/html/towercli/authentication.html#session-authentication) states that "awx allows you to specify your username and password on every invocation", but this is not really true since no matter, what awx-cli will attempt to use an OAuth token. As it is now, the u

[2021-10-14 18:51] #11205 closed, assigned to nobody

[2021-10-14 18:56] philipsd6 commented on #5209
@ryanpetrello This would sound more reasonable if AWX didn't support GitLab, which _also_ does **not** support signed webhooks. As of today, `GitlabWebhookReceiver()` simply compares the `HTTP_X_GITLAB_TOKEN` header value (clear text!) with the `webhook_key`. This is doable with Bitbucket.org too.

[2021-10-14 19:31] nixocio commented on #11240
Possible related to: https://github.com/ansible/awx/issues/11006

[2021-10-14 22:10] tiagodread commented on #10830
Verified that:
1- User cannot change instance group membership of control-only type:
[code]
although the user can at lest try to do so via UI

https://user-images.githubusercontent.com/12464858/137398251-22e7836f-25e9-416f-addd-94d37ef5e1b9.mp4

2- Hybrid and control-only are added to controlplane automatically
3- Users are not allowed to remove hybrid/control instances

I'll close this issue and

[2021-10-14 22:10] #10830 closed, assigned to jbradberry, tiagodread

[2021-10-15 07:21] nicovs commented on #10366
@oliverf1, I came to the same conclusion as you: the job failed when the logs get rotated by k3s. So it's indeed not an AWX problem, but k3s.
However, I think I found the solution for this, by changing the log file site for k3s.
As from: [Suse: How to enable container log rotation with k3s or containerd](https://www.suse.com/support/kb/doc/?id=000020071)
I 'updated' and reconfigured my k3s by runn

[2021-10-15 07:29] nicovs commented on #11087
You might try my solution in: https://github.com/ansible/awx/issues/10366#issuecomment-944060894

[2021-10-15 07:30] nicovs commented on #9961
See: https://github.com/ansible/awx/issues/10366#issuecomment-944060894

[2021-10-15 08:22] chrismeyersfsu commented on #11124
@beeankha @sean-m-sullivan can this card be closed since #11135 merged?

[2021-10-15 09:16] chrismeyersfsu commented on #10984
I think the action item here is to pre-create the `/home/runner/.ssh` directory in the container so that `known_hosts` file creation does not fail.

[2021-10-15 09:40] craph commented on #11243
@ryanpetrello , @AlexSCorey ,
Hello, I'm trying to find why the Dashboard Jobs status are not correctly showing the jobs history in the correct timezone.

I saw this  and I think this is not taking Local Timezone unless the variable `dateSecs` contains the correct datetime of the jobs executions https://github.com/ansible/awx/blob/517f1d79913db87c06b2b20958c6893130be30a5/awx/ui/src/screens/Dashboa

[2021-10-15 10:52] chofstede commented on #10878
I can confirm, that Inventory-Sync based from project works fine again in AWX 19.4.0
I think this issue can be closed.

[2021-10-15 10:52] #10878 closed, assigned to nobody

[2021-10-15 12:24] tiagodread commented on #10829
Verified setting `DEFAULT_JOB_IDLE_TIMEOUT` to 10s and running the playbook:
[code]

![image](https://user-images.githubusercontent.com/12464858/137484611-64760ec9-9c79-4229-a236-9bebaea92922.png)

[2021-10-15 12:24] #10829 closed, assigned to sarabrajsingh

[2021-10-15 13:24] sean-m-sullivan commented on #11124
I think its read for needs test, as issues aren't closed till after that is signed off on.

[2021-10-15 13:57] craph commented on #11243
@ryanpetrello Is it possible that the issue is related to that : https://github.com/ansible/awx/blob/517f1d79913db87c06b2b20958c6893130be30a5/awx/main/models/schedules.py#L126

May be when the job list are GET there is no convertion in the correct TZ ?

[2021-10-15 14:24] ryanpetrello commented on #5209
Hey @philipsd6,

I'm less involved with this project than I used to be, and am no longer an active contributor.  @shanemcd @AlanCoding @chrismeyersfsu ☝️

[2021-10-15 14:25] ryanpetrello commented on #11243
Hey @craph,

I'm less involved with this project than I used to be, and am no longer an active contributor.  @shanemcd @AlanCoding @chrismeyersfsu ☝️

[2021-10-15 14:38] philipsd6 commented on #5209
Good to know! Thanks for all your contributions and support in the past!

[2021-10-15 15:21] AlexSCorey commented on #11243
@craph thanks for reaching out to me.  The UI team discussed this bug yesterday and we are tracking it.  I appreciate you tagging the bit of code that may be causing the problem.  Thank you for doing that!

[2021-10-15 15:24] AlexSCorey commented on #10594
I've reassigned this to myself to see about updating React to v17 as discussed yesterday during dev sync.

[2021-10-15 17:07] chrismeyersfsu commented on #11080
@chris93111 can you include the playbook that is running the collection ?

[2021-10-15 17:08] chrismeyersfsu commented on #11082
Closing due to lack of activity.

[2021-10-15 17:08] #11082 closed, assigned to nobody

[2021-10-15 17:14] chrismeyersfsu commented on #11221
@rsabadoAtSirti did you get a chance to try the latest AWX ?

[2021-10-15 17:19] chrismeyersfsu commented on #11229
related to https://github.com/ansible/awx/pull/11230

[2021-10-15 17:31] chrismeyersfsu commented on #11233
@marekvesely-direct can you try checking the "update on project change" in the inventory source?

Currently, this is what is happening:
![image](https://user-images.githubusercontent.com/722880/137528878-5c2ee479-c810-4f1e-86a7-76861c59446f.png)

You want this:
![image](https://user-images.githubusercontent.com/722880/137528956-5dc4ecff-c797-4107-8929-fba0ef796662.png)

We think that "update on pr

[2021-10-15 17:36] jladdjr commented on #11110
Have been looking at https://github.com/ansible/tower/pull/5351 with @beeankha, turning my attention back to this issue.

[2021-10-15 17:38] chrismeyersfsu commented on #11235
@netcho can you get the job events for the job in question, ordered by `counter`? Your conclusion that lines past =~ 3,300 may not be valid, but if you order by `-end_line` then we can better tell if you are missing the tail end of the output.

`/api/v2/jobs/2/job_events/?order_by=-end_line`

[2021-10-15 17:38] #11237 closed, assigned to nobody

[2021-10-15 17:42] AlanCoding commented on #11110
@jladdjr we added a test case `test_receptor_removes_container_on_cancel`. This is what I wrote when originally discovering this issue. Latest information we have on that is that it's passing. This launches a job with a sleep of 600 seconds, and then cancels, and then confirms that the container is not running.

If you're focused on this new variant:

Then it might be good to break it off into a n

[2021-10-15 17:58] shanemcd commented on #11240
Connect https://github.com/ansible/awx/issues/10442

[2021-10-15 18:31] jladdjr commented on #11110
@AlanCoding this is the behavior I saw being discussed in this ticket:

.. and which I confirmed I could [still reproduce](https://github.com/ansible/awx/issues/11110#issuecomment-938421778). That update does talk about 'going a step further..' but ignore that for the moment. Calling `receptorctl work cancel` will still result in the job running indefinitely.

You mentioned [test_receptor_removes_

[2021-10-15 18:46] AlanCoding commented on #11110
When you said "killed the receptor process on the control node", I took it to mean that you killed the receptor service running on the control node. Sounds like I wasn't clear on that.

Agree, simple to add, we should do that. If the job is stuck running, then I don't want the test to be enabled in the first place.

[2021-10-15 18:48] AlexSCorey commented on #10594
related https://github.com/ansible/awx/issues/11105

[2021-10-15 18:56] AlexSCorey commented on #10594
I just attempted to upgrade to react 17, but was not successful due to some PF peer dependencies that need React 16.    It seems like if we could get on their  latest versions we could upgrade react but we can't because of this [issue](https://github.com/patternfly/patternfly-react/issues/6421).

[2021-10-15 20:02] oliverf1 commented on #10366
@nicovs That is a very good catch! I can confirm that indeed kubectl -f logs stops when the log file at the node level are rotated.
So basically the kubernetes API is not aware that the log file has changed and does not switch to the new file.
This is the way kubernetes works as of now, so this can happen on any kubernetes distribution depending on the log file size.
This also line-up with @lucabr

[2021-10-16 00:19] jladdjr commented on #11110
oh, no, meant to say called `work cancel` on the receptor work unit. Sorry, my wording there wasn't right.

[2021-10-16 03:58] oliverf1 commented on #11235
You might be hitting this issue https://github.com/ansible/awx/issues/10366
In a nutshell, when the log files at the container level are rotated, the kubernetes API is not able to get all the logs, so the receptor daemon is not able to get all the logs so it does not send them to the AWX DB and in turn they are not present in AWX.
As a workaround you can increase the size of the log file so all th

[2021-10-16 08:47] netcho commented on #11235
@oliverf1 @chrismeyersfsu I can confirm that ``kubectl logs -f <pod-name>`` stops at exactly the same place as the web GUI, so I tihnk it's best to mark this issue as a duplicate of #10366

[2021-10-16 09:23] jeffpascal commented on #6539
Try this:

docker exec awx_web '/usr/bin/update-ca-trust'
docker exec awx_task '/usr/bin/update-ca-trust'

Worked for me.

[2021-10-17 00:07] rahst12 commented on #612
Any updates on this?

[2021-10-17 08:04] kladiv commented on #9961
Hi @nicovs ,
i tested the suggested changes (in [#10366 comment](https://github.com/ansible/awx/issues/10366#issuecomment-944060894)) in our infrastructure (k3s) but the job still failing after 4:02 hours.

- AWX 19.3.0
- AWX EE (latest) built-in installed by AWX installation

Job is a Workflow Job, and one playbook runs a task like below:
[code]

or like below (i tried a change to check if got sa

[2021-10-17 10:53] macthev opened #11249 "dynamic inventory plugin request"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

A feature to support adding dynamic inventory.

awx 19.4
kube 1.20

I have looked at the following and can run on the cli inside the container but it seems difficult to run or include a dynamic inventory to what seems a common requirement from the GUI? Or am I missing something. The gui doesn't seem to have script options like found in earlier versi

[2021-10-17 14:02] macthev commented on #11249
I found I can run a plugin via the repo in awx  (proxmox in my case)  by including with the project.
Ideally, the plugins would be a seperate repo from the playbooks and perhaps reused.

[2021-10-17 15:37] chris93111 commented on #11080
hii @chrismeyersfsu

[code]

this is the module used for create the workflow, this work, the limit in workflow api is set to null, but after if you change scm branch in ui , this change limit to ""

all children node have limit set , so limit workflow take over with value ""

[2021-10-18 00:24] sarman-tftsr opened #11250 "Unable to ping remote host"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-18 00:36] #6647 closed, assigned to nobody

[2021-10-18 05:55] craph commented on #11243
Hello @AlexSCorey ,
I'm trying to dig in more to find if I can help.
It's really strange because the Jobs list is displayed fine but the Jobs status are not.
Please could you tell me where I can find the API that return the jobs status list ? I'm not sure if I look in the right place
Thank you very much.

[2021-10-18 08:58] marekvesely-direct commented on #11233
Hello, I also tried "update on project change", but I have 23 inventories and it tooks a lot of time. So when I executed 1 playbook, it will update project and then all 23 inventories, after that it starts template. This is not ideal solution. From my perspective it has no sense to execute Inventory update before Project update. It should be as you draw on second picture. Thank you!

[2021-10-18 09:55] unbreakabl3 opened #11256 "GUI bug: add an existing host to the group is not shown properly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When trying to add an existing host to the group, the GUI don't show the host itself. Its there, but the hostname is not visible.

![Screenshot 2021-10-18 at 11 40 56](https://user-images.githubusercontent.com/13556249/137708892-356e55be-7df7-47d5-8bdc-c59ecbc8159c.png)

When click on the check box, you can see its selected and the hostname appears as

[2021-10-18 09:59] Zokormazo commented on #10776
I continue seeing the error on https://docs.ansible.com/ansible/latest/collections/awx/awx/controller_inventory.html#ansible-collections-awx-awx-controller-inventory

@beeankha @tvo318 @IPvSean how should be proceed to update the docs page?

[2021-10-18 12:37] beeankha commented on #10776
@Zokormazo I'll try to push some more fixes to this.

[2021-10-18 13:16] ffirg commented on #11250
Bubblewrap, which does process isolation in this AWX release, is preventing you from accessing files outside certain areas. You may wish to look at turning bubblewrap protection off (in the GUI settings) to get round this, or fix by moving files.

This repo is not for support issues, so closing. Please post such issues in the google groups forum for such issues.

[2021-10-18 13:16] #11250 closed, assigned to nobody

[2021-10-18 13:29] AlexSCorey commented on #11243
@craph To get the status of the individual jobs we hit `/dashboard/graphs/jobs` I hope this helps.

[2021-10-18 13:32] jsalatiel opened #11251 "Can't get to the standard login page ( for local users ) if saml + transparent login is enabled"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-18 13:45] AlexSCorey commented on #11251
This is probably related to https://github.com/ansible/awx/issues/11012
@nixocio

[2021-10-18 14:48] nixocio commented on #11251
It seems to be a duplicated of #11012. Thanks for filing the issue @jsalatiel. You can login using the `/api/v2` as local user - if the local auth was not disabled on the settings page.

[2021-10-18 17:30] #11251 closed, assigned to nobody

[2021-10-18 17:34] jsalatiel commented on #11251
@nixocio What exactly do you mean by login using /api/v2 ?
I tried https://awxurl/api/v2 but I got the api page, not the input for username/password.

[2021-10-18 18:04] nixocio commented on #11251
@jsalatiel you will be able to login there
<img width="1190" alt="image" src="https://user-images.githubusercontent.com/9053044/137783688-2e3bf997-2b8a-4cbc-83e9-a4fe68c09671.png">

[2021-10-18 19:01] tiagodread opened #11254 "Required survey fields (integer and float) not being validated empty value"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-18 21:14] nixocio commented on #10831
There is also an issue with Project lookup on the Job Templates screen.

https://user-images.githubusercontent.com/9053044/137807565-fe5d1be4-85df-4843-98e6-63ec18469b8c.mov

[2021-10-19 07:05] craph commented on #11243
Hi @AlexSCorey I was searching the Py file behind this endpoint to try to compare it with the one for the jobs list

Nevertheless did the UI team found some clues about the root cause of this behavior ?

Another possibility, the mistake can be here (but I'm very confused because in jobs list api I'm unable to find where the TZ is used to have the correct local time in output. It seems it correctly

[2021-10-19 08:36] keliansb commented on #10398
Hi all,

I want to achieve the same thing, load `ansible.cfg` from the playbook directory, but not from the project directory, as it breaks my other playbooks. I want a specific config file for a specific playbook to be able to preserve the type of variables when using Jinja2 (see this [Stack Overflow thread](https://stackoverflow.com/questions/52487396/pass-integer-variable-to-task-without-losing

[2021-10-19 09:36] #10529 closed, assigned to nobody

[2021-10-19 11:53] jsalatiel opened #11257 "ERROR social An account cannot be found for x@y.z"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-19 18:27] tiagodread commented on #11254
This is now fixed

[2021-10-19 18:27] #11254 closed, assigned to AlexSCorey

[2021-10-19 19:06] layer3lv commented on #8998
how to fix this error still in 17.1.0

[2021-10-19 22:09] kdelee opened #11261 "Collection rejects DSTART as a part of an rrule, while API accepts it"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-19 22:15] kdelee commented on #11261
Well now I'm just confused, removing that causes it to error saying that DSTART is required:
[code]

[2021-10-19 22:28] kdelee commented on #11261
:face_with_thermometer: nothing to see here...closing

[2021-10-19 22:28] #11261 closed, assigned to nobody

[2021-10-20 02:08] pauloreloy commented on #3641
This syntax worked for me too...
Thank you so much!

[2021-10-20 02:51] zosmf-Robyn opened #11262 "[AWX 19.3.0] Playbook2 can not find the fetched file by Playbook1"
I want to have a workflow job template which links 2 job templates. Each job template launch a playbook: playbook1 is used to fetch a file from remote host and save it to local path, such as "/tmp/remote_file.txt". playbook2 is used to read the fetched file and do something else.

I have installed AWX v14 on docker and deployed such workflow job template, which always works well. The fetched file

[2021-10-20 05:57] showblue commented on #11027
I have the same issue with a fresh new 19.3.0 and 19.4.0 Kubernetes setup with external Postgres 12 DB.  Every job that runs longer than 5 min will result in the same failed status except that the playbook runs were all successful.

[code]
Job 20 log
[code]

Complete job 20 log -->
[job20-awx.txt](https://github.com/ansible/awx/files/7378404/job20-awx.txt)

[2021-10-20 10:31] Haagy commented on #11139
The UI is doing the job correctly and I get those variables in my job.
I could bypass this issue by using [jenkins ansible tower pluging](https://plugins.jenkins.io/ansible-tower/) and that works as well.

Maybe `curl` losing data when forwarding with `--location` my AWX instance is behind a nginx.
I'll have a look at nginx logs.

[2021-10-20 10:44] olegsidokhmetov commented on #11152
I have similar issue :(

[code]

[2021-10-20 15:12] AlanCoding opened #11264 "In the docker-compose environment, not all credential types are populated"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-20 21:15] jamesmarshall24 opened #11265 "Ability to Replenish Job Event Logs to Logging Server"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Please add the ability to specify a Job ID range or select all available Jobs to ship job_events to the logging server.

The use-case is to replenish logs at the logging server which were not shipped due to issues with the logging server at the time the job was running in the controller.

This would allow users to remove logs from the defined range

[2021-10-21 07:37] casty8 opened #11266 "Can not create a copy of an inventory in a different organization using the same inventory name"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-21 09:03] ffirg commented on #11266
So the module doesn't allow this directly.

The workaround is to copy to a new name, rename and then delete the copy:

[code]

If you want to raise this issue further, then please raise it direct with the author via the collection git repo.

Closing this issue here as it's not an awx problem.

[2021-10-21 11:15] wedobetter commented on #10878
I still have this issue with:

- awx-operator 0.14.0
- awx 19.4.0
- awx-ee 0.6.0

My inventory path is: inventory/dev/inventory.ini

Same symptoms, the inventory sync output shows:

[code]

I have debugged the job container and it looks like the project is never git checked out, that's why complains of that missing directory.

I have tried to use ssh-key and token authentication, which both work f

[2021-10-21 13:51] beeankha commented on #11266
Re-opening this for now since there might be a solution we can apply to the [inventory module](https://github.com/ansible/awx/blob/devel/awx_collection/plugins/modules/inventory.py) directly; thank you for providing a workaround in the meantime, @ffirg !

[2021-10-21 14:17] vrubiolo commented on #10878
@wedobetter : good idea starting this thread up if you still experience the issue.
I am interested in getting more information on how you debugged the job container. Is there a doc on this?

[2021-10-21 15:53] Alestor opened #11268 "Cannot validate Certificates from Custom CA when Job lauched from AWX GUI."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-21 21:20] ghost commented on #10247
Hi, when will this remote node feature be released?

[2021-10-22 01:25] #10701 closed, assigned to thenets

[2021-10-22 07:45] ghost commented on #10877
Can anyone confirm if this still works for version 19.4.0?

[2021-10-22 18:22] Alestor commented on #11268
Fixed by building a Custom EE. Looks like I misunderstood some concepts of the k8s deployment model.

[2021-10-22 18:22] #11268 closed, assigned to nobody

[2021-10-22 19:01] agrisvv commented on #10877
Yes it works.

[2021-10-25 07:09] vipamadi opened #11275 "AWX multiple DNS searchs looking for postgres when postgres container is down"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-25 09:19] ernie18a commented on #9337
You can use the backup and restore roles with doc. in the [awx-operator](https://github.com/ansible/awx-operator) to accomplish this.
[backup](https://github.com/ansible/awx-operator/blob/devel/roles/backup/README.md)
[restore](https://github.com/ansible/awx-operator/blob/devel/roles/restore/README.md)

[2021-10-25 09:50] HOSTED-POWER commented on #9594
Well we migrated to Kubernetes only to see that same problems keep happening. We just see "Error" now , without any extra information.

[2021-10-25 10:28] justinotherguy opened #11276 "nginx not starting due to missing user inside tools_awx_1"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-25 15:21] AlanCoding commented on #11110
We had problems with the patch for this reaping successful jobs, so the change has been backed out for now. We need to think more about how we avoid reaping functioning jobs, and we need to re-triage this issue.

[2021-10-25 19:22] branic commented on #7132
In addition to the requirement in https://github.com/ansible/awx/issues/7132#issue-623492990 the following should also be implemented for securing local accounts. Each item should be a configuration item so the settings can be customized.

* Account Lockout Threshold - this is the number of minutes that must elapse from the time a user fails to log on before the failed logon attempt counter is res

[2021-10-25 20:33] jladdjr commented on #11110
I had a chance to catch up with @AlanCoding about what we saw here. Copying down some notes from our discussion:

**Why the original PR didn't work**

The PR we merged to fix this issue ([here](https://github.com/ansible/tower/pull/5354/files)) worked as follows:
* Periodic task `awx_receptor_workunit_reaper` looks at running jobs and tries to find their associated receptor work unit
* If the work

[2021-10-25 20:34] jladdjr commented on #11110
@ffirg - let us know if you would have any concerns with deferring this work ^

[2021-10-26 05:06] marekvesely-direct commented on #11233
Any news?

[2021-10-26 07:32] mick1627 commented on #10878
Can you try with awx-ee:latest , awx-ee 0.6.0  does not work for me with awx 19.4.0 and awx 19.3.0

[2021-10-26 09:29] PratikKhandelwal17 commented on #3204
I'm testing my ansible playbook on local, and it is giving me the error mentioned in the issue.
Ansible tasks:
1. Create a new ec2 instance and ssh into it
2. Run apt-get on the instance

I've used the following command to run the ansible playbook:
`ansible-playbook --connection=local sparkmaster.yml`

For the solution mentioned above, If I remove the --connection=local, then I get a new error:
`"

[2021-10-26 09:33] ffirg commented on #3204
Please raise such issues using the google mailing list for support. This is not a support forum. Thank you.

[2021-10-26 11:44] Kardi5 commented on #10366
Just wanted to confirm that the same options @nicovs used, also work for us on Azure Kubernetes Service (AKS) to fix truncated log output.
With AKS it's a bit tricky to change the kubelet config (the nice way is in preview). Based on work from NGINX (https://docs.nginx.com/nginx-service-mesh/get-started/kubernetes-platform/aks/) we used a daemon set to configure the container log size on AKS:
[cod

[2021-10-26 12:23] craph commented on #11243
I @AlexSCorey do you have any updates on this issue ?
Thank you very much.
Best regards,

[2021-10-26 12:38] showblue opened #11280 "GUI bug: add an existing group to the host is not shown properly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-26 13:01] nixocio commented on #11280
@showblue thanks for filing this issue. This is a duplicate of https://github.com/ansible/awx/issues/11256. There is an open PR to address that one.

[2021-10-26 13:01] #11280 closed, assigned to nobody

[2021-10-26 14:11] AlexSCorey commented on #11243
@craph I am not sure that anybody has had a moment to address this issue, or look any further. We are aware of it, though!

[2021-10-26 18:30] #10687 closed, assigned to AlanCoding, thenets

[2021-10-26 19:10] lplpmc commented on #8310
@wenottingham

So essentially you're saying we cannot display any of the survey data in approval notification emails?

Thanks,

[2021-10-27 00:18] rezaa1 commented on #8310
Not survey only. we can not access any variables defined in set_stats: task

[2021-10-27 00:32] agilleyrh opened #11283 "RFE: SCM remote archive ability to define the url + an artifact and allow the artifact to be overridden"
##### ISSUE TYPE
- When using a git/bitbucket based project, the branch can be overwritten at runtime, however, short of using an api call to override the whole url prior to invoking a job, there is no option to point to a new build with this approach.

##### SUMMARY
 - The ability to point to specific repositories, i.e defining the url + an artifact and allow the artifact to be overridden, this w

[2021-10-27 03:26] sean-m-sullivan commented on #11266
Relooking at this, I've found that the issue is not in the awx collection itself, but in the API. The only field accepted for copies is 'name', to do this in the collection would require an addition to the following api endpoints, all of which do use organizations in some form, to allow for destination org to be supplied as well.

[code]

[2021-10-27 07:47] Geartwo opened #11284 "Limit of Job inside of a Workflow dont work 19.4.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-27 09:40] azrdev commented on #11027
@shanemcd sorry for the delay after your questions:

We use an external database.
We're currently looking into the possibility that something else (database, firewall,...) drops long-lived (maybe unused) connections, but given there are the two named other tickets + showblue here, I'm not sure it's not a AWX's fault.

no, this is not the case.

[2021-10-27 10:30] muchafel commented on #11257
I have the same Problem, however initially with AWX 19.2.2, upgrading did not help though.
@jsalatiel: "Awx is configured to autocreate the account if it does not exist" --> imho this is the default behavoir of awx, is there a dedicated setting?

[2021-10-27 12:11] nixocio commented on #11221
It seems to be the same issue as: https://github.com/ansible/awx/issues/11221 reported on a newer version.

[2021-10-27 12:33] jsalatiel commented on #11257
It is the default behavior

[2021-10-27 13:07] goldyfruit commented on #9594
Facing the same issue with 19.2.1 running in Docker, not cool with a 4 hours workflow :D

[2021-10-27 13:14] tiagodread commented on #10897
Events are now being displayed when visiting https://localhost:8043/api/v2/activity_stream/?order_by=-timestamp

[code]

[2021-10-27 13:17] Zokormazo commented on #11197
Seems there are some more ongoing developments related to fix this one, moving back to `needs_devel`

[2021-10-27 13:22] Zokormazo commented on #11095
Everything is working and we can't reasonably add more coverage for this, closing it

[2021-10-27 13:22] #11095 closed, assigned to thenets

[2021-10-27 13:23] Zokormazo commented on #11092
Waiting for latest changes on this one, moving back to devel

[2021-10-27 13:29] Zokormazo commented on #10897
This is working, but we want to check some UI problems. @tiagodread will follow up on that on another issue

[2021-10-27 13:29] #10897 closed, assigned to jbradberry, tiagodread

[2021-10-27 13:36] Zokormazo commented on #10776
The error continues being there. Will try to fix the pipeline to update this tomorrow

[2021-10-27 13:43] Zokormazo commented on #10702
Seems fixed now

[2021-10-27 13:43] #10702 closed, assigned to thenets

[2021-10-27 13:53] tiagodread opened #11285 "Instances changes events not showing in activity stream (Instance group) filter"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-27 14:45] thenets commented on #10737
Job reaping is working properly, so I believe that this can be closed.

[2021-10-27 14:45] #10737 closed, assigned to AlanCoding, thenets

[2021-10-27 15:04] tiagodread commented on #10883
This is now fixed

![image](https://user-images.githubusercontent.com/12464858/139093110-2e1dc87f-ff28-47cf-8b2a-f3c04c706dec.png)

[2021-10-27 15:04] #10883 closed, assigned to tiagodread

[2021-10-27 16:40] ghost commented on #1179
+1

[2021-10-27 17:13] jladdjr commented on #11110
Checked back in with @ffirg re: deferring work. Said he would have a chance to look at this tomorrow.

[2021-10-27 17:18] goldyfruit commented on #9594
The worker is killed for no reason _(that I'm aware of)_... Like if `uWSGI` reached a limit or a timeout.
[code]

[2021-10-27 17:43] jladdjr commented on #11110
Setting to medium priority given that:
* the user would need admin access and would need to _deliberately_ put awx into this state via a receptor command
* the steps to remediate are trivial (cancel a job the user notes has been running too long)

[2021-10-27 19:39] goldyfruit commented on #9594
Just happened again with a job that ran for 1 hour and 52 minutes... part of a workflow.
Same exact error in the logs as above.

[code]

[2021-10-27 20:54] #11012 closed, assigned to nixocio

[2021-10-27 21:28] parmstro opened #11287 "check_config_static : Ensure hub and controller are installed on different nodes doesn't actually work"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-27 21:31] parmstro commented on #11287
Also, I was able to recover so I can now do a backup and reinstall. (It was ugly, hence the issue)

[2021-10-27 21:40] ffirg commented on #11110
I’m happy to defer given we shouldn’t expect a user to hit this. Let’s wrap it up into any future reaper work where we can optimise and clean up further.

[2021-10-27 21:47] parmstro commented on #11287
This is the wrong place for this issue. Closing.

[2021-10-27 21:47] #11287 closed, assigned to nobody

[2021-10-28 08:04] stucksam opened #11289 "Docker-compose upgrade fails because of missing docker-auth section in Makefile"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-28 11:29] azrdev commented on #11027
The DB admins told us that indeed the DB closes unused connections after 10 minutes.
Does AWX offer some kind of keepalive for the DB connection, in case we cannot change this on the DB side?

[2021-10-28 14:49] munizal opened #11290 "add ability to hide relaunch button from jobs endpoint"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Requesting a feature which disable re-launch "rocket" icon from Job menu.
It is a great feature but also has potential danger to re-launching job template by accidentally click on it.

We want to hide (or make it now showing) from Job menu.
Another solution is create an option for template which disable "rocket" icon.
Basically, disable by template l

[2021-10-28 16:06] AlexSCorey commented on #10600
This have been resolved in awx devel
![Screen Shot 2021-10-28 at 12 05 38 PM](https://user-images.githubusercontent.com/39280967/139293712-29d5f4f4-038e-4540-b7ec-801c6646152b.png)
![Screen Shot 2021-10-28 at 12 05 15 PM](https://user-images.githubusercontent.com/39280967/139293719-2fdd4ef4-4b3a-44c2-89d5-14dc0aa7e17f.png)
![Screen Shot 2021-10-28 at 12 04 57 PM](https://user-images.githubusercont

[2021-10-28 16:06] #10600 closed, assigned to nobody

[2021-10-28 16:54] #9552 closed, assigned to nobody

[2021-10-28 16:54] #10099 closed, assigned to nobody

[2021-10-28 17:53] federico-manuel-trasande-kyndryl commented on #10252
Hello,
  I'm having a similar issue, there is no way to disable validation for private registry with a self-signed cert? like "--tls-verify=false" ?

[2021-10-28 19:25] justinotherguy commented on #11276
update title; if I'm not mistaken, this is not limited to dev setup

[2021-10-28 21:29] #10948 closed, assigned to AlanCoding, thenets

[2021-10-29 11:30] azrdev opened #11291 "awxkit python API: add example code"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

There are some few examples for using awxkit as a CLI tool in https://github.com/ansible/awx/blob/393369a/awxkit/awxkit/cli/docs/source/examples.rst

What is lacking, however, are examples for importing awxkit into own python code to interface the API. Given the dynamic nature of the library it's not easy to grasp from looking at its source code, ei

[2021-10-29 13:28] navianmik opened #11292 "couldn't resolve bigip modules"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-29 13:46] shenxg13 commented on #9733
hi, i got this issue in 19.4.0, do you have any solutions, thanks.

[2021-10-29 14:48] tonysymbox opened #11293 "Grouping Templates"
##### ISSUE TYPE
 - Group templates into folders

##### SUMMARY

It would be nice if we could group templates into "folders" to help from an organization point of view.

An example is we have multiple customers in one organization, grouping specific templates in a customer folder would really help us organize things better.

Thanks

[2021-10-29 14:59] sadok-f commented on #11289
I have the same issue, any update on it?

[2021-10-29 16:51] InnocentK commented on #11285
Resolved in https://github.com/ansible/tower/pull/5398

Note: This fix introduces new elements that affect activity stream tests. These tests will need to be updated in a future PR.

[2021-10-29 16:51] #11285 closed, assigned to InnocentK, AlexSCorey

[2021-10-29 17:08] shanemcd commented on #11293
This is a duplicate of https://github.com/ansible/awx/issues/2058

[2021-10-29 17:08] #11293 closed, assigned to nobody

[2021-10-29 17:10] shanemcd commented on #11292
Hello. It seems like you are depending on something that used to be provided by a previous version of Ansible. You'll probably want to build your own EE. Please see the docs for ansible-builder, and/or contact the AWX mailing list.

[2021-10-29 17:10] #11292 closed, assigned to nobody

[2021-10-29 17:14] tonysymbox commented on #2058
this one is important! +1

[2021-10-29 17:23] shanemcd commented on #11289
I think this was fixed in devel. We should be doing a new release soon. Sorry for the turbulence.

[2021-10-29 17:33] shanemcd commented on #11276
Hello. This was just fixed by #11288. You can cherry-pick that or wait for the next release. Thanks.

[2021-10-29 17:33] #11276 closed, assigned to nobody

[2021-10-29 17:37] shanemcd commented on #11275
We might want to do some sort of back-off when having problems connecting to Postgres.

[2021-10-29 17:45] #11264 closed, assigned to nobody

[2021-10-29 17:47] chrismeyersfsu commented on #11265
We kind of had this feature as an awx-manage command but it has probably bit rotted. The intent wasn't exactly for what you want. It was written to replay real-workloads are various speeds. It could be brought back and have the option to emit the events to the external logger https://github.com/ansible/awx/blob/devel/awx/main/management/commands/replay_job_events.py

[2021-10-29 17:53] chrismeyersfsu commented on #11262
Hey @zosmf-Robyn this exact flow isn't going to work anymore. Those 2 jobs are running in two different containers that get cleaned up after each run. You have options though. You can use some sort of shared persistent storage that you map into the container at runtime. Or maybe you can push the file to some 3rd party site (i.e. artifactory or a github gist even).

[2021-10-29 18:49] bschaeffer opened #11294 "Google Compute Host metadata fields not accepted in keyed_groups"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-10-29 19:39] AlanCoding commented on #302
This is no longer possible with the introduction of execution environments. We _have_ to run inside a container.

There was an idea thrown around to run without container isolation _per-instance_, under the idea that someone might spin up containers and have them join the mesh (so they are already isolated). So that's another weird route to what container groups do today. But this is all very new

[2021-10-29 19:39] #302 closed, assigned to nobody

[2021-10-29 19:43] AlanCoding commented on #11116
Looks like the related fixes were merged, moving to needs_test

[2021-10-29 19:47] AlanCoding commented on #1487
@chrismeyersfsu didn't you do this? I know it shows it for lack of capacity. What's current status / objectives?

[2021-10-30 18:23] chrismeyersfsu commented on #11257
@jsalatiel and @muchafel I think you are hitting a real bug that we might have fixed in the most recent devel (but unreleased). The good news is you can work around it. Basically, the UI is setting an unexpected default that results in `SOCIAL_AUTH_USER_FIELDS` getting set to `[]` instead of `null`.

When it's set to `null`, hard-coded sane defaults will be used but `[]` conveys not to use those h

[2021-10-31 10:40] muchafel commented on #11257
Hi @chrismeyersfsu,
works!
minor correction, as you had a typo: the endpoint is api/**v2**/settings/all/
Thanks a lot!

[2021-11-01 03:16] zosmf-Robyn commented on #11262
@chrismeyersfsu
Thanks for reply! Could you please help to explain more about how to setup/use shared persistent storage and map into container? I'm new for awx-operator installation and not sure if I have the right setup, below is my yaml file:
[code]

[2021-11-01 06:43] chapai518 commented on #11284
I have the same problem on 19.4.0 deployed in OpenShift, limits work for regular templates, but do not work when set inside a workflow. This was the same problem with earlier versions of AWX.

[2021-11-01 10:48] zaskan opened #11295 "Version is exposed for not-logged clients through the api"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, the awx version is exposed by the api for not-logged clients using the api. (ej. api/v2/ping - X-API-Product-Version).
It would be nice if we can provide options in order to show/hide those variables exposed for not-logged clients.

[code]

[2021-11-01 12:21] tonk opened #11296 "awx cli user gives "The requested resource could not be found.""
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-01 19:53] InnocentK commented on #11256
Resolved

[2021-11-01 19:53] #11256 closed, assigned to nixocio, InnocentK

[2021-11-01 21:07] joshcorr opened #11297 "Hashicorp Vault Secret Lookup returning 404 for known KV v2 path"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-01 21:21] joshcorr commented on #11297
I should also add that switching to a KV v1 secret path works successfully with the same approle, but this is not a viable solution for my work.

[2021-11-02 04:14] suchko opened #11298 "Cancelling updates to an existing NEW survey prompt for a new job template goes back to the Template entry screen instead of the Add Survey screen"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-02 14:11] chrismeyersfsu commented on #11165
This is kind of a larger problem with AWX API. Our API request/response cycle happens in a transaction, so that is good. The bad news is that it really only protects the resource that we are directly acting upon. i.e. `DELETE /api/v2/project_updates/130/` In our request handling, it's "safe" to do all kinds of update/delete to project update 130. It's not "safe" to do things to it's related object

[2021-11-02 14:27] chrismeyersfsu commented on #2362
The root of the problem is as mentioned by @ryanpetrello . The inventory update runs in the request/response cycle. This sucks. But what choices do we have? Given the behavior today, for the host that is calling the callback, we need to know if the host in the inventory. This + the secret is the access control mechanism.

We could:
1. allow the creation of the job even when the host calling the ca

[2021-11-02 14:51] shariqueakbare commented on #9075
Any leads about this issue ? we are still using ansible 15.0.1 and it doesnt work

[2021-11-02 15:33] mikecurrancs commented on #11284
I reported this in 17.0.1(it was only an issue in scheduled workflows then) and this completely breaks all of our workflows. It's almost as if the expectation is you should only run workflows based on all the servers being exactly the same. We provide services to customers and our workflows are built around customer servers as a grouping and not all servers are exactly the same application, but ti

[2021-11-02 15:51] joshcorr commented on #11297
After digging into the code further it looks like the `API Version` needs to be set to `v2`. This was not clear from the documentation. I am now able to test retrieving secrets.

[2021-11-02 15:51] #11297 closed, assigned to nobody

[2021-11-02 19:26] cira-jonathan opened #11299 "Trying to SSH into the pod/container hosting the AWX application"
##### COMPONENT NAME

- Server

##### SUMMARY
I'm trying to access the folder the directory as to where all the job templates and project files are downloaded to when I run jobs on my AWX server.

In my job log I keep seeing this location mentioned  (/runner/project/roles) but when I log into my server it doesn't exist.

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: operator
* AWX

[2021-11-03 05:28] aaronsssya opened #11300 "[feature request] added win_firewall_rule in the image"
please add win_firewall_rule OR community.windows.win_firewall_rule in the awx-ee image

##### SUMMARY
I would like to leverage ansible to apply Windows Firewall

[2021-11-03 05:40] #11300 closed, assigned to nobody

[2021-11-03 08:29] moreiramarti opened #11301 "Jobs in waiting state are blocking other jobs forever"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-03 09:02] joppino commented on #6203
You can specify dots by using the urlencode syntax, so:

ansible_facts.services.docker%2Eservice.state.running

will work and create a filter that will be shown with the dot in the name.

[2021-11-03 11:10] Zokormazo commented on #11116
We need to verify this on a scenario where controlplane does not have hybrid nodes and those are failing on receptor right now. Blocked to verify this fix

[2021-11-03 14:16] federico-manuel-trasande-kyndryl opened #11302 "ERROR! the role ROLE_NAME was not found in PATH when executing template"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-03 14:19] phgogo commented on #8414
I had the same error and spent way to much time debugging it.

The Issue was, that i upgraded the version of my collection, which lead to two changes:

- The login variables previously called `toweer_username`, `tower_password`... needed to be renamed to `controller_username` etc.
- The var `controller_host` expects a bare hostname only. The old var `tower_host` needed the format `http://host:port

[2021-11-03 14:25] federico-manuel-trasande-kyndryl commented on #11299
Hi,
 Did you tried `kubectl exec -it awx-5b58db49c-8d5n9 -c awx-ee -- /bin/bash` ?

By default, for me at least, if I don't specify which container, goes into "redis".

Regards,

[2021-11-03 14:31] shanemcd commented on #11112
I closed this without understanding what the issue was about. It seems like we're still pulling ansible-runner from git: https://github.com/ansible/awx/blob/devel/requirements/requirements_git.txt#L3

I will ping the Executor team about doing the final release of Runner 2.1 so we can move it back into requirements.txt.

[2021-11-03 14:36] shanemcd commented on #11197
@AlanCoding @Zokormazo What's the latest word on this one?

[2021-11-03 14:46] AlanCoding commented on #11197
I rebased https://github.com/ansible/ansible-runner/pull/887 after a few hickups, and CI is passing now. I'll check with Sam about what else he wants to get done.

[2021-11-03 14:47] AlanCoding commented on #11197
Adjusted labels to reflect that there is an unmerged PR for this.

[2021-11-03 15:01] Uquout7o opened #11303 "LDAP username is case-sensitive after first logon"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-03 16:45] sarabrajsingh commented on #11112
thanks @shanemcd. I had this exact conversation with @AlanCoding a couple of weeks ago. Would we also need to maintain the `ansible-runner` version in other build/install processes as well? such as the `awx-ee` container build/publish jobs?

[2021-11-03 16:55] chrismeyersfsu opened #11304 "Reduce dropped metrics"
Controller's management and exposed view of Prometheus metrics is ... special. Hit the /metrics/?subsystem=1 endpoint for ANY Controller node and you get the subsystem metrics for ALL Controller nodes. The snippet below is a response from node `awx_1` BUT it includes metrics for node `awx_2`.

[code]

**How are node metrics propagated to all other nodes?**

A periodic task runs that (1) stores the

[2021-11-03 17:05] chrismeyersfsu commented on #11262
@zosmf-Robyn try asking on the mailing list. They have more experience than I in actually running Tower :) Especially in kubernetes.

[2021-11-03 17:06] #11257 closed, assigned to nobody

[2021-11-03 17:46] chrismeyersfsu commented on #1487
The want is for this information to be surfaced in the UI. To that end we should expose it via the API. I think @wenottingham initial list is pretty good. Users want to know the business logic that causes a job to block & when capacity is the reason for a job not running then what detailed capacity reason.

As @kdelee pointed out, we won't run a job if there isn't enough capacity. Why isn't there

[2021-11-03 18:54] cira-jonathan commented on #11299
I was missing the container flag. Thanks for the help :)

[2021-11-03 18:54] #11299 closed, assigned to nobody

[2021-11-03 19:07] cira-jonathan opened #11305 "Ansible LVM module issue"
##### SUMMARY
I'm having an issue with an ansible module, specifically the LVM module (lvol). When I execute my Ansible code from my local system everythinig works according but when I try it from an AWX job template I get the following error:

"reason": "couldn't resolve module/action 'lvol'. This often indicates a misspelling, missing collection, or incorrect module path.\n\nThe error appears to

[2021-11-03 19:29] chrismeyersfsu opened #11306 "Task Manager Ideas"
This is to capture thoughts about the task manager over the years.

# Small - Optimization - Store Decision(s)

I think this was @fosterseth original idea.

The task manager decides to transition a job from `pending` to `waiting` when two conditions are met.

1. No blocking business logic
2. Capacity available

Today, the task manager checks to see if a job is blocked for business logic reasons, p

[2021-11-03 19:47] ffirg commented on #11305
Please consult the google groups mailing lists for such errors. That is where you can post such queries. Thanks.

[2021-11-03 19:47] #11305 closed, assigned to nobody

[2021-11-03 20:00] chrismeyersfsu commented on #11235
Closing as this seems to be a duplicate. Thanks for the updates people!

[2021-11-03 20:00] #11235 closed, assigned to nobody

[2021-11-03 20:07] AlanCoding commented on #1487
I can't find it now, but wasn't there another issue suggesting that we should expose `preferred_instance_groups` in the API for jobs or job templates?

If we're talking about going beyond what's already been done, I don't think throwing more into a text field is going to cut it. Put yourself in the user's shoes. Why does the message mention anything about `I2`? What relationship does `I2` have to

[2021-11-03 20:20] AlanCoding commented on #6199
I am going to submit this as a technical improvement item to be escalated, because our exception handling in tasks could strongly benefit from some more eyes on it.

We have a small set of internal exception types, but we're apparently not using them right. In this case, we should be specifically catching this `AwxTaskError`. It doesn't make any sense to surface that in a traceback, because the po

[2021-11-03 20:22] AlanCoding commented on #11196
It's likely that we would move this field up to the `UnifiedJobSerializer` from the subclasses, so this would be good opportunity for a bit of refactoring of the serializers. More and more functionality has been promoted up to the unified class as time has gone on.

[2021-11-04 13:05] chrismeyersfsu commented on #1487
I like your idea of helping the user understand why the job isn't scheduled for capacity reasons.

I'd still like some engineer/support level logging that captures the state of capacity when the decision is made. I want to make sure we don't run into "My job isn't being scheduled, and when I look at the capacity status it should be" <-- this could happen if/when we have a bug. Maybe we present the

[2021-11-04 13:14] moreiramarti commented on #11301
I think I found the root cause.
My kubernetes cluster has an auto scaling policy and it happens that some pods were reallocated in order to shutdown some nodes.
Due to that action, if an inventory job is running on that node, it stays in waiting state forever.
Those jobs are a part of a workflow, maybe it has an impact.

[2021-11-04 14:53] jakemcdermott opened #11308 "When the dashboard graph is set to "Past 24 hours", the time axis should be in units of hours"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-04 16:39] duyleomessi commented on #11188
Did you solve the problem? I have the same issue.

[2021-11-04 17:36] nixocio commented on #7380
Closing this one in favor of https://github.com/ansible/awx/issues/10594

[2021-11-04 17:36] #7380 closed, assigned to nobody

[2021-11-04 17:38] nixocio commented on #10594
React router v6 was released. https://reactrouter.com/docs/en/v6
See also upgrading path https://reactrouter.com/docs/en/v6/upgrading/v5

[2021-11-04 18:00] federico-manuel-trasande-kyndryl commented on #11302
Well,

 After try and error, found a solution. Injecting ANSIBLE_ROLES_PATH variable into my custom EE image did the trick.

[2021-11-04 18:00] #11302 closed, assigned to nobody

[2021-11-04 18:28] fosterseth opened #11309 "Jobs page Filtering by status should be OR operator"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-04 18:33] lplpmc opened #11310 "Option to disable portions of approval notification?"
We have the following options:

Needs review
Was approved
Was denied
Timed out

Is it possible to disable 'was approved' or have 'was denied' sent to a different email?

Thanks,

[2021-11-04 18:52] jetxeberria commented on #9235
We also use as hostnames internal codes not meaningful at all. The lack of a short description makes surfing along hosts quite annoying. We would appreciate to recover the previous descriptive view of lists, including at least description or a short label as DanyD suggests.

[2021-11-05 01:33] brokedba commented on #11188
@duyleomessi  , not at all . there was no reply after the issue was closed that's only thing that is fast here .

[2021-11-05 11:54] mikecurrancs commented on #11284
I originally reported this issue in https://github.com/ansible/awx/issues/9377 , and the ONLY solution so far is to execute workflows through an API call? There have been 10 releases (including 17.0.1) and this issue has not been addressed within the UI?

Why are we reporting a bug then?

[2021-11-05 13:54] nixocio commented on #11284
I created an inventory with hosts: foo, bar, localhost, set the limit on the job template to bar, and run the job template.

![image](https://user-images.githubusercontent.com/9053044/140521159-d69b92f2-b971-4b89-bec3-f2cca7b7c3b2.png)
![image](https://user-images.githubusercontent.com/9053044/140521261-d8af3f64-6645-4338-b496-f9bef0dc7db0.png)
![image](https://user-images.githubusercontent.com/90

[2021-11-05 13:58] nixocio commented on #11221
Closing this one as a duplicated of https://github.com/ansible/awx/issues/11284

[2021-11-05 13:58] #11221 closed, assigned to nobody

[2021-11-05 15:35] mikecurrancs commented on #11284
I went as a far as removing the inventory from the workflow template
![image](https://user-images.githubusercontent.com/5721941/140536690-24165e1d-bceb-4a65-8c9c-1442db295c38.png)

Then ran the job template , which has a limit of just a couple specific dev servers

and the full vmware inventory was run through setup on the job template and the limit on the job template was ignored. Even though I d

[2021-11-05 17:42] chrismeyersfsu commented on #11296
@tonk `user` is plural `users`. By specifying `user` I _think_ that will request `/api/v2/users/?username=list` Check the nginx logs to see what request it issues or put a proxy between the client to see, or try with `-v` and include the logs.

[2021-11-05 17:42] #11296 closed, assigned to nobody

[2021-11-05 17:50] chrismeyersfsu commented on #11294
@bschaeffer if you run this outside of AWX, what do you get? i.e. https://docs.ansible.com/ansible/latest/plugins/inventory.html#using-inventory-plugins

[2021-11-06 05:07] acelinkio commented on #11262
If the data being passed between plays is large, consider leveraging a data store.  Mounting files really is not a scalable solution.

[2021-11-06 23:36] chris93111 commented on #11162
Hi @Lee-Kwang, i thinks yes receptor need rules for networking check the docker-compose (port 5555 for the hup receptor), assert always credential is set on group container with kubernetes bearer token

[2021-11-08 02:40] mikecurrancs commented on #11284
Ill be more than happy to setup a screen share in MS Teams and go through a live test.

[2021-11-08 09:55] Zokormazo commented on #11092
Checked again, everything is on-place

[2021-11-08 09:55] #11092 closed, assigned to chrismeyersfsu, Zokormazo

[2021-11-08 09:57] Zokormazo commented on #10582
working as expected

[2021-11-08 09:57] #10582 closed, assigned to Zokormazo

[2021-11-08 11:46] howardjones opened #11313 "Doc: upgrade reference in README is incorrect."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-08 12:41] igormaksimoff commented on #4876
For AWX 19.4.0 it is still and issue.

[2021-11-08 13:32] marcpaulchand opened #11314 "[Translation] French"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-08 14:01] mikecurrancs commented on #11284
This solution from #9377 worked to fix workflows (although it should not be necessary).

Update your workflow through AWX API:
https://docs.ansible.com/ansible-tower/latest/html/towerapi/api_ref.html#/Workflow_Job_Templates/Workflow_Job_Templates_workflow_job_templates_update

PUT http://{your_awx_url}/api/v2/workflow_job_templates/{your_workflow_id}/ HTTP/1.1
Authorization: Basic your_username:yo

[2021-11-08 14:56] AlanCoding commented on #11306
Could you elaborate on what decision you're talking about? I don't quite get it. Blocking decisions are temporary. If J1 is blocked on P1, then that's only true while P1 is running. A decision "J1 is blocked" is transient and has to be re-evaluated every time.

[2021-11-08 15:06] acocalypso opened #11315 "Migration 17.1 -> 18.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [x] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-08 15:17] acocalypso commented on #11315
exporting COMPOSE_TAG was resolving my issue.

[2021-11-08 15:17] #11315 closed, assigned to nobody

[2021-11-08 15:34] AlanCoding opened #11316 "In insufficient capacity case, distinguish between system capacity and user-defined IG capacity"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Why will this job not start?

![Screenshot from 2021-11-08 10-24-27](https://user-images.githubusercontent.com/1385596/140769643-b844c33f-9adc-4079-8ee5-4ef0b145d351.png)

from:
https://github.com/ansible/awx/blob/62e9e7ea80d9b931e33432a3d393bf29be886c2d/awx/main/scheduler/task_manager.py#L554

There's not capacity available, but capacity _of what_?

[2021-11-08 16:33] AlanCoding commented on #11306
Would the job's preferred instance groups and their capacities be part of the decision input?

[2021-11-08 16:35] AlanCoding commented on #11197
The fix should get in the ansible-runner nightly builds tonight.

[2021-11-08 19:09] mikecurrancs commented on #11284
Update: I can confirm the API call works to make the workflow act correctly. However, if you update the workflow in the UI , then it will reset the values from null to ""

Just have to be careful for getting this fixed.

[2021-11-08 19:32] mikecurrancs commented on #11284
I looked at the changes made based on ticket #9377 and the following 2 changes did not seem to carry forward. Could either of these be causing the issue?

This one for the workflowtemplateadd sets the limit to '' instead of null
![image](https://user-images.githubusercontent.com/5721941/140805461-f328c1db-b76f-4274-95a8-d90eef9c5d2c.png)

This one in workflowjobtemplateform also sets limit to '' a

[2021-11-08 19:52] joaodlf opened #11317 ""Webhook previously received, aborting.""
Quick one, I'm getting a `Webhook previously received, aborting.` when running a GitHub webhook for a template , I suspect coming from here:
https://github.com/ansible/awx/blob/eec4f8dcc27428cd1aeb1c251d43052a3ea780e8/awx/api/views/webhooks.py#L130

The AWX gui does not show any jobs being queued/waiting/running, how can I clear this error to allow my webhooks to return to normal?

[2021-11-08 20:02] chrismeyersfsu commented on #11306
Let me edit that for clarity. The decision of "this job is not blocked" should be saved/cached. So when a job is unblocked for business logic reasons but blocked for capacity reasons.

Done editing the original issue text. Let me know if it's unclear or you have other questions.

[2021-11-08 20:07] chrismeyersfsu commented on #11306
Yes. I only include an example `Decision Event` input data for the business logic check. I'd imagine a different data-structure for the Capacity check.

I think our solution has a nice and clear separation between the business logic and the capacity and I'd like to continue with that separation.

[2021-11-08 20:33] #11317 closed, assigned to nobody

[2021-11-08 21:18] akus062381 commented on #10655
Additional spot:

![image](https://user-images.githubusercontent.com/63685497/140819627-0a6f9813-57f5-4c36-86be-f0d2b2c3254e.png)

[2021-11-09 01:22] fosterseth commented on #11306
another consideration -- right now the task manager has to complete a full cycle before any work can begin, because all of the db transactions are set to be atomic.

This leads to a strange behavior where we can never truly maximize the capacity of instances. For example let's say it takes 30 seconds to run the task manager, and in that time the capacity has freed up on the instance groups. But, b

[2021-11-09 01:47] AlanCoding commented on #2784
Any updates here? latest version does a lot to surface the reasons that capacity is zero.

[2021-11-09 01:48] AlanCoding commented on #11306
How often do people really see this in practice? Playbooks that finish fast enough for this to happen are probably doing all local actions. I'm also unclear what the mechanism here is. Because of the lock it uses, dispatching jobs could become the bottleneck if its time exceeds the period at which it is ran. I have never seen evidence of that, and am skeptical that it has ever happened.

And we're

[2021-11-09 10:00] kladiv commented on #553
+1 for boolean type

[2021-11-09 10:34] damluji commented on #11262
Also interested in how this is solved. especially if the volumes are in separate availability zones than the pods.

[2021-11-09 13:49] bonzaii opened #11319 "galaxy awx collection awx.awx.job_template module errors when using Labels parameter"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-09 13:57] craph commented on #11268
Hello @Alestor ,

Please could you give more details how did you fix your issue ?

Thank you very much.
Best regards,

[2021-11-09 14:11] brsanche opened #11320 "Warning message while running job template with a SCM project not in the latest release"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently there is no warning message while running job template with a SCM project not in the latest release.
There is such a feature to `Update Revision on Launch` and/or `Delete on Update` under `SCM UPDATE OPTIONS` but running into an environment with Dev/Admin managing Ansible Tower that could ran out of control and these options being unset.
It

[2021-11-09 14:45] chrismeyersfsu commented on #11262
Personally, I would push any artifacts from one playbook up to s3, an ftp server, a gist or some cloud data store API. Then I would use `set_stats` to pass a url or identifier to the next job template in the workflow.

[2021-11-09 14:47] lucab85 commented on #7362
+1

[2021-11-09 14:56] chrismeyersfsu commented on #11306
The most expensive operation we do _should_ be getting the state of the world from the database. Deciding the business logic and if their is capacity and what node to run on _should_ be cheap operations. I agree @AlanCoding that we can optimize the "state of the world" querie(s). The reality of the problem is ensuring that future developers don't undo those optimizations. We have incrementally ite

[2021-11-09 15:03] cloin opened #11321 "Display tags for imported execution environments"
Within AWX UI, it's not clear which version of the EE has been imported. It would be great to display tag information from the images to ensure the latest or expected image is being used.

##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[2021-11-09 15:15] davidmontoyago commented on #11046
For anyone out there stumbling upon this. When using the awx-operator, `extra_settings` would look like this:

[code]

[2021-11-09 16:31] But4ler commented on #6499
Yes, I solved my problem with that.
I am now in 19.3.0 and I rebuilt the DB to start from a clean base (export / import of the configuration via the cli)

[2021-11-09 16:31] #6499 closed, assigned to nobody

[2021-11-09 16:57] ammygill opened #11322 "RFE: multi-line TextBox for the Limit field in the job Template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

It will be good to have a multi-line text box for the limit Field as the users will be able to add one host per line. Currently its not single line field

[2021-11-09 17:05] AlanCoding commented on #11306
Yes, I really like the programmatic separation of business decisions. The easier it is to understand, the less likely anything is to regress in the future. Having a single list of `jobs` passed to the operations is simple. The main loop of the current code cycles through intermediate constructs of `all_sorted_tasks`, `self.all_inventory_sources`, `running_workflow_tasks`, `finished_wfjs`, `previou

[2021-11-09 17:19] Alestor commented on #11268
Hi craph,

you have to build your own Execution Environment Container, include your private CA Certs and push it to a Container Repository. On AWX you can add it under Administration -> Execution Environment and use it in your Job Templates.
The EE can be build by using Ansible Builder. A good starting point are the [Docs](https://ansible-builder.readthedocs.io/en/latest/). I used the official [AW

[2021-11-09 17:52] chrismeyersfsu opened #11323 "Dev tooling - Updates to ansible-runner propagate through the dev env"
I'm a developer. I need to add a feature to `ansible-runner` and consume it in `awx`. How do I do this? Well, first let's node all the places that the `ansible-runner` code is in the dev environment.

1. dev container `quay.io/awx/awx_devel` `/var/lib/awx/venv/awx/lib/python3.8/site-packages/ansible_runner`
2. The EE `quay.io/ansible/awx-ee` in the dev container `/usr/local/lib/python3.8/site-pack

[2021-11-09 18:25] nixocio opened #11325 "Add details about node on workflow addition"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add details about node on workflow addition. On the old UI we had:
<img width="490" alt="image" src="https://user-images.githubusercontent.com/9053044/140982697-ea613dc9-a3c8-40f4-8efe-9b149bcc9f16.png">

[2021-11-09 18:30] AlanCoding commented on #11306
reviewing the code `finished_wfjs` is a good example where it really means "wfjts that were finished by the last processing step". So that would be a good example of a case where these would be better tracked as generalized "decisions", because there will be followup actions for that type of decision.

[2021-11-09 20:48] chrismeyersfsu commented on #11306
As an example. To decide if a job can run. Has the most recent project update ran and succeeded? Has an update on launch project update kicked off and is it finished?

Same question needs to be asked and answered for the related inventory. But it explodes a bit because it isn't just the related inventory, it's the inventory sources related to the related inventory.

You need to know if another job

[2021-11-09 21:27] mkanoor opened #11326 "In Survey Spec if the choices is an array of strings the UI fails"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-09 21:30] jbradberry commented on #11326
I believe the culprit is here: https://github.com/ansible/awx/blob/6a17e5b65bf9421c2e650d23817c79ce81248c6f/awx/api/views/__init__.py#L2568

If what is passed in is a list instead of a string, as you can do in the API, this block of code that standardizes the input for this entry will be bypassed.

[2021-11-09 22:59] smullenrga commented on #9961
I'm encountering this issue in 19.4 as well (just upgraded from 15) in a few of our jobs.  While I cannot tell you what the true root cause is, I believe I've found what's triggering the issue.  We have many jobs, a couple are failing on every run.  In the GUI log viewer, you get all of the JSON log entries at the top followed by partial log output that just stops.

On a theory I copied all of the

[2021-11-10 05:58] AlekseiSaff opened #11329 "Can't delete host from inventory"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-10 06:10] #11329 closed, assigned to nobody

[2021-11-10 06:10] AlekseiSaff commented on #11329
after running all maintenenace jobs I was able to delete host

[2021-11-10 07:46] backaf commented on #10151
I have the same issue on 19.4.0 where project updates jobs get stuck into "Check content sync settings". It happens randomly. All scheduled jobs are failing because the projects can't be updated. This is a fresh install using the official AWX operator.

[2021-11-10 08:23] brsanche opened #11330 "Add extra_vars to every job event sent over `job_events`"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This issue is related to the following:

[RFE: Add extra_vars for callbacks to the log for external logger like Splunk](https://github.com/ansible/awx/issues/8702)

User wants to use information that exist in `extra_vars` from a job during the processing of `job_events` in Splunk. It would be easier for the user if the `extra_vars` field and value(s)

[2021-11-10 09:58] pythonwood opened #11331 "build docker release for docker-compose and other like"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Use AWX for 1.5 year and it free my hands a lot.

awx is a devops tool and not high available need for me. so i hope to run with docker-compose.yml simple.
althought I am  k8s sre and use minikube easylly and powerfully.

[2021-11-10 10:04] obaranov commented on #11197
Now setting AWX_CLEANUP_PATHS to False works fine and awx stop folders cleanup in that case.

[2021-11-10 11:24] #11197 closed, assigned to AlanCoding, thenets, obaranov

[2021-11-10 11:52] Zokormazo commented on #11116
Verified with @tchellomello 's instructions.

After 5. I had a cache on controlplane02 node. Launched the job and it ended on controlplane3, project came properly here and did not hit the not found issue

[2021-11-10 11:52] #11116 closed, assigned to Zokormazo

[2021-11-10 16:10] AlanCoding commented on #11306
I see 2 inter-related optimizations discussed just now:

1. Efficiency of making a business decision
2. Avoiding the re-computation of business decisions
   - for the case when there isn't _capacity_ to run a job, go straight to looking for capacity next time the task manager is ran, skipping the business decision logic

For (1), we would look to avoid hitting queries for things like:

I believe w

[2021-11-10 18:12] sean-m-sullivan commented on #10855
I just tested this via the docuementation page of an automation hub and this looks fixed, but its not fixed on the web https://docs.ansible.com/ansible/latest/collections/awx/awx/controller_api_lookup.html

[2021-11-10 18:14] smullenrga commented on #9961
A little more info, This may be related to length of event_data in the serialized event log data of a runner_on_ok event.  I've done some testing and if I run a gather_facts minimal I get an event where event_data starts at position 344  of the serialized even data and ends at position 6083, making event_data 5.6K.  In all of our fails, the serialized logs are runner_on_ok events with large event_

[2021-11-10 19:09] sean-m-sullivan commented on #10855
This seems related to #10776

[2021-11-10 22:25] smullenrga commented on #9961
One final note, hoping someone sees this.  It appears that any serialized event log lines greater than 16K have the next line appended to them rather than received as a separate line (as should be the case).  I just ran a test creating events increasing in size by 512 bytes (loop appending 512 byte string to a growing variable).  The last event line that worked as expected (and that displayed in t

[2021-11-11 02:42] tkontogi opened #11333 "set_stats seams to only work when set on first playbook of workflow"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-11 13:34] swathit0717 opened #11334 "Unable to locate tower.log at the location /var/log/tower in awx container"
Hi,

I am using AWX 15.0.0. As part of the documentation we should have all these logs as part of /var/log/tower directory. callback_receiver.log,dispatcher.log,management_playbooks.log,rsyslog.err,task_system.log,tower.log,tower_rbac_migrations.log,tower_system_tracking_migrations.log,wsbroadcast.log.

But I can view only dispatcher.log and wsbroadcast.log.

I want all the logs which I view using

[2021-11-11 14:20] nixocio commented on #11321
Possible related to: https://github.com/ansible/awx/issues/10409

[2021-11-11 15:16] perr063 opened #11335 "White Theme"
##### ISSUE TYPE
 - It's possible to get the white theme back?

##### SUMMARY
The White Theme It is much more clean and user friendly

[2021-11-11 15:17] #11334 closed, assigned to nobody

[2021-11-11 16:29] mw-0 commented on #9961
@smullenrga have you tried the same but change your log sizes.  They are 16k default.

[2021-11-11 16:44] aqua-terra commented on #2958
I think he put in a port number. I had the same issue but was able to get it working when I switched from using https to ssh on the source url.

[2021-11-11 18:29] smullenrga commented on #9961
@mw-0  I'm looking into the options for log sizes, I'm simply a consumer of our k8s cluster so will possibly have to work with the cluster admins to make any global changes. Will update once I've had a chance to change log settings.  Thanks for the reply.

[2021-11-11 19:28] AlanCoding commented on #11323
There are 2 parts to ansible-runner:

 - the python package which is a daemon to ansible jobs
 - the callback plugin which dispatches event data

The python package is not used for any jobs except for container group jobs. If you're addressing container group jobs, nothing you mentioned here will help.

If you're trying to pick up changes to the callback plugin, I will note that the last change (h

[2021-11-11 19:40] AlanCoding commented on #11333
Is the 3rd job template set to prompt for variables on launch? There is hesitancy to pass extra_vars to a job where the user could not otherwise apply arbitrary extra_vars if they launch it manually.

[2021-11-11 19:45] AlanCoding commented on #11319
Looks legitimate

https://github.com/ansible/awx/blob/0ae67edaba5930d91b85e1b0c22c0d82c240f99f/awx_collection/plugins/modules/job_template.py#L540-L541

The `get_one` method seems to clearly allow returning `None`

https://github.com/ansible/awx/blob/0ae67edaba5930d91b85e1b0c22c0d82c240f99f/awx_collection/plugins/module_utils/controller_api.py#L418-L420

which would be in the obvious situation tha

[2021-11-11 19:54] AlanCoding opened #11336 "Inventory updates launched as job's dependency should wait for project updates from project to finish"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Scenario:

 - Create a project with `update_on_launch` set to true
 - Create an inventory and an SCM inventory source (using project from 1st step) with `update_on_launch` set to true
 - Create a job template using project from 1st step and inventory from 2nd step
 - Launch the job template

When this happens, we will have 3 unified jobs. 1 unified j

[2021-11-11 20:01] smullenrga commented on #9961
@mw-0  Our K8S environment logs to ELK, not locally.  Under AWX 15, I get no error and none of the individual job log appear in ELK (I'm guessing this is because the jobs execute within the AWX controller container).  In 19.4, ELK receives individual even logs from the automation-job container.  Interestingly, any messages > 16K are broken into multiple messages.  That said, I have no idea at all

[2021-11-11 20:19] imareporter opened #11337 "Allow OAuth2 Authentication to Azure AD for US Government"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to initiate an OAuth2 authentication flow from `login.microsoftonline.us`, instead of using Azure AD's global service endpoint (i.e. `login.microsoftonline.com`).

See: https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-national-cloud#azure-ad-authentication-endpoints

After configur

[2021-11-11 20:22] AlanCoding commented on #11249
Do you mean you are looking for `community.general.proxmox`? To get even more specific, you mean this:

https://github.com/ansible-collections/community.general/blob/2d6816e11e1672df5b2aa485e8af9eaa45d7c5be/plugins/inventory/proxmox.py

Could you give more info about how you solved this, and what could be improved? Going by what I read here, I'm thinking that you did:

 - add a file like `my.proxm

[2021-11-11 20:26] bonzaii commented on #11319
It shouldn't be a problem since the sole job of the "labels" parameter in the module is to apply list of strings (not references) to the job template. As far as I understand, label, unlike tag, has no function other than organizational aspect. Looking at description of a label in tower:

The way I understand, I could put "ThisIsVeryUnhelpfulLabelThatDoesNotExistAnywhere" in there and this still sh

[2021-11-11 20:27] dbanttari opened #11338 "AWX stops gathering job output if kubernetes starts a new log"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-11 20:41] AlanCoding commented on #11319
IIRC, there is a label module in this collection, so the idea is that you would drop a task in before the job_template task that creates a label with that name.

[2021-11-11 20:56] bonzaii commented on #11319
If you're referring to `awx.awx.label` then I don't believe this module has anything to do with `job_template` `labels`. Also when I discovered this issue, I had plenty of other job_templates configured and using labels `prod` and `snow` already, which were the labels causing my the original pain, before I trimmed this to MVP for bug reproduction purposes.

[2021-11-11 21:10] smullenrga commented on #9961
OK, another update.  We've reverted our DB and downgraded back to version 15 for prod.  Dev is still on version 19.4.  I've added settings to keep automation-job containers and executed the job again.  I then copied all of the log content from the console and am seeing the same thing in the execution environment console as I see in the JSON in the AWX GUI ... lines > 16k have the following line co

[2021-11-11 23:41] TheeMadWhiteHatter commented on #4154
I am having issues getting Netbox to populate the inventory of AWX. I have tried adding collections/requirements.yml listing netbox.netbox and netbox_inventory.yml file and creating a project with the inventory file like @AlanCoding suggested but only getting the same errors as mrevilme was.

  ansible-inventory [core 2.11.6.post0]
  config file = None
  configured module search path = ['/home/run

[2021-11-12 08:01] zedr commented on #4154
@ogowen45 what is `addr2line`? It's being called as the inventory script, but it cannot handle the argument `--list`.

[2021-11-12 11:04] Alffernandez opened #11339 "Role to create workflows and manage only those created workflows"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It would be interesting to have a RBAC role who provides the ability to create workflow job templates and give admin privileges only to those created workflows. Currently, admin users are able to manage all the workflow templates, but there where cases in which you want users to create and become administrators only of the workflow jobs that they cre

[2021-11-12 14:03] nixocio commented on #11017
Related to: https://github.com/ansible/awx/issues/5513

[2021-11-12 14:52] azrdev commented on #11291
I gathered so much from <https://github.com/ansible/awx/issues/4492#issuecomment-522827735>:
[code]

[2021-11-12 15:58] ogowen45 commented on #4154
@zedr First, thank you for your response. I found that when I was calling the inventory source I had a space in the file now it is as follows
![image](https://user-images.githubusercontent.com/73369617/141494874-43c3b86b-bc6e-435c-89f4-27f176bf7f78.png)
 The netbox_inventory.yml just contains (but with token and api_endpoint set)
 ---
plugin: netbox.netbox.nb_inventory
api_endpoint:
token:
group_b

[2021-11-12 16:01] HOSTED-POWER opened #11340 "Allow awx.awx.controller to give back hosts only without any extra data"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hi,

We want to use awx.awx.controller to get all hosts in an inventory and afterwards we want to enrich this data with other inventory sources and the constructed plugin. Unfortunately there is no way to only get the hosts without any host variables.

Because of this, variables will always be returned and there is no way to remove "old" variables no

[2021-11-12 18:09] chrismeyersfsu commented on #11340
@HOSTED-POWER are you wanting something kind of like `ansible-inventory source1 source2` where `source2` would get all the "output" from `source1` ?

[2021-11-12 18:11] TheeMadWhiteHatter commented on #4154
It had to do with there being a space in the file location in the inventory source, as well as there was no ansible.cfg file in the repo.

After, I made an ansible.cfg file for repository that is as follows
![image](https://user-images.githubusercontent.com/73369617/141514365-2926f8a3-16bc-49e5-921a-c0f2125b9a03.png)
 Now getting error
![image](https://user-images.githubusercontent.com/73369617/14

[2021-11-12 18:49] chrismeyersfsu commented on #11331
We only have so many resources and supporting another deployment method uses a lot of those resources. We don't have plans to go back to supporting `docker-compose.yml`

[2021-11-12 18:49] #11331 closed, assigned to nobody

[2021-11-12 18:55] chrismeyersfsu commented on #11330
Let me see if I understand the ask here. When you run the below playbook, today, there is no way, from the ansible output alone, for you to tell that the variable `inventory_hostname` was used to generate the output `echo localhost`. What you want is variable province. Is that right?

[code]

[code]

[2021-11-12 19:14] chrismeyersfsu commented on #11336
Related issue, border line duplicate? https://github.com/ansible/awx/issues/11233

[2021-11-12 19:15] chrismeyersfsu commented on #11233
Possibly related https://github.com/ansible/awx/issues/11336

[2021-11-13 02:00] f0rkz commented on #8164
This would be an amazing feature!

[2021-11-13 14:02] tkontogi commented on #11333
For the records. the problem was found to be a typo.
The task was tagged as "alway**z**" instead of "always".
As a results that wrongly tagged set_stats task was not running and the next workflow node was reporting truthfully that the variable did not exist.

Also for the records, none of the templates/nodes of the workflow have the  "pass extra_vars" flag set but all nodes run as expected, includ

[2021-11-13 21:34] Nihvel commented on #11289
Same issue ):
![image](https://user-images.githubusercontent.com/24250443/141659595-37a6d87a-8636-46c2-8448-6cf7415a3b77.png)

Following the instructions from here https://github.com/ansible/awx/tree/devel/tools/docker-compose using the 19.4.0

[2021-11-14 18:49] macthev commented on #11249
Yes , I wanted to be able to use a plug-in but found I needed to add to the project which means that there is a license problem because the plug-in maybe under one lic and the playbook could be under a different license. Ideally it would be simple as to have seperate plug-in configuration for the inventories.

[2021-11-14 18:52] sean-m-sullivan commented on #11319
@bonzaii The 'awx.awx.labal' has Everything to do with the 'job_template' 'labels'.

Labels are an object in tower. Just like you Cannot add a credential to a job template, where that credential doesn't exist. You cannot add a label to a job template where that label doesn't exist.

I think that the error can be updated to be more clear in that regard, but this is how the underlying tower works.

[2021-11-14 19:26] bonzaii commented on #11319
I see. That makes sense. I guess it would be good idea to update the [documentation](https://docs.ansible.com/ansible/latest/collections/awx/awx/job_template_module.html) to reflect this too.

[2021-11-15 00:17] AlanCoding commented on #11249
I understand your problem, but I don't follow this. Could you elaborate about what you see as the ideal solution to the problem?

[2021-11-15 00:38] AlanCoding commented on #11306
Returning to this, I want to challenge the idea that we need to process the jobs in order. Or at least I need more justification of why order needs to be preserved.

In the case of `allow_simultaneous=false`, then it's higher consequence that we run the jobs in order, because the 2nd or 3rd job could be delayed by an hour (the runtime of the job template). But in this case, wouldn't that best be e

[2021-11-15 08:32] riadhhamdi commented on #10599
Is there any update on this feature ?

[2021-11-15 09:19] rfarajro opened #11343 "AWX Isolated node status check fail when node goes down."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-15 10:05] rwjack commented on #11289
Bumperino. Exact same situation as @Nihvel

Is there a bypass for this?

Update: Just copy pasted the missing part from 19.3.0's makefile.

Update 2: The bypass allowed the containers to startup, but I cannot reach the UI.

[code]

[code]

[2021-11-15 10:19] Rylon commented on #11331
@chrismeyersfsu would you at least consider publishing the Docker images to a registry so others could make use of them via Compose, or other mechanism?

[2021-11-15 13:30] smullenrga commented on #9961
Looking like I'm experiencing side effects of a docker 16K log line limit as described in https://github.com/moby/moby/issues/34855 combined with a possible issue in the JSON-file logging driver that is incorrectly reassembling these lines / dropping a carriage return at the end.

[2021-11-15 13:59] mikecurrancs commented on #11284
@nixocio Is this still being reviewed? I can clearly see the issue in my environment from a clean install of 19.4.0 and having to run an API call to fix the workflows is not an appropriate answer.

Are you suggesting setting a bogus limit on the workflow, instead of letting the save process fill in an empty set for the limit?

[2021-11-15 14:00] AlanCoding commented on #11336
yeah, same issue

[2021-11-15 14:55] smullenrga commented on #9961
Cleaning up/deleting several earlier comments.

We're running Kubernetes and using the GELF driver to log to an ELK stack (configured via /etc/docker/daemon.json).  AWX changed somewhere between 15 (worked fine in our environment) and 19.4 to create separate STDOUT lines for each event.  In 19.4, very long STDOUT lines (>16K) are being generated which are being split up and then improperly reassem

[2021-11-15 15:18] chrismeyersfsu opened #11346 "Websockets Tech Debt"
# Websockets

An `event` is the data artifact of an Ansible callback call. This event flows from Ansible playbooks -> runner -> receptor -> redis -> callback receiver -> (postgres, external logger, websocket)

websocket -> (all other Controller control nodes, all subscribed websocket clients)

All events go to all other Controller nodes & out to all clients that are subscribed to the job. Controll

[2021-11-15 16:58] keithjgrant commented on #11346
I actually did start using this data as I added the expand/collapse behavior (https://github.com/ansible/awx/pull/11312) — but if there are performance reasons to change this, we can revisit that.

However, on the Job Output page, the UI only uses a few pieces of data from job events: the stdout, counter, uuid, and parent_uuid (off the top of my head, there may be a couple other items used) -- we

[2021-11-15 17:30] nixocio opened #11347 "Reduce number of UI requests adding all user profile data under one API endpoint"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Reduce number of HTTP requests being made by the UI adding all data related to user profile data under one API endpoint. Right now, there are several requests being made as part of the Config context in order to know if the user is:

* system admin
* auditor
* org admin
* notification admin
* execution environment admin

It would be ideal to provide

[2021-11-15 18:53] chrismeyersfsu commented on #11306
Hmmmmmm. I don't have a great reason. It always seemed like it made the task manager deterministic. This would be a useful property if we ever had the extra time to create a task manager simulator or verified the state transitions.

Do we unlock something by allowing jobs to start out of order?

Only thing I can think of is that we can, theoretically, get a higher utilization by doing some sort of

[2021-11-15 19:39] shorbachuk commented on #3773
+1 Tower should be able to determine based on the "limit" of a job template if there really is a conflict or not.

[2021-11-15 20:29] chrismeyersfsu commented on #11331
@Rylon the images are built and published here https://quay.io/repository/ansible/awx?tab=tags

[2021-11-16 06:28] macthev commented on #11249
Is there a way to have a dynamic plug-in without putting it in the project src?

[2021-11-16 06:41] pru-anixe commented on #9967
@AlanCoding so here it is from latest release
[code]

[2021-11-16 07:14] shanemcd commented on #10744
I think this might have been fixed by https://github.com/ansible/awx/pull/11241

[2021-11-16 08:21] p4rancesc0 commented on #9953
Hi,

any news on this Issue ?

BR
Francesco

[2021-11-16 12:04] Nitish0292 commented on #10896
how did you fix this issue can you please share details, i am facing the same issue

[2021-11-16 13:52] rwjack commented on #1125
Modifying the docker compose file like this works, but this is not a solution for large scale systems.

[code]

[2021-11-16 14:13] AlanCoding commented on #11306
Along the lines of what you were doing in this issue, break down the task manager into 3 steps:

1. process and spawn dependencies
2. assign IG and node based on capacity
3. submit work to the PG queues

I follow what you're saying about (2), that it could lead to a deadlock if a user built their JTs to rely on processing order. I don't have a solution for that, and as long as we respect that requ

[2021-11-16 14:21] AlanCoding commented on #11336
I have also been wondering, if we cover the important use cases with this improvement, could we remove (or deprecate) the confusing `update_on_project_update` InventorySource field / feature? Ping @ffirg

https://github.com/ansible/awx/blob/be13a11dd53e9097051612eb58150a44158a54f5/awx/main/models/inventory.py#L989-L991

This actually doesn't work with our current capacity model. Project updates wi

[2021-11-16 14:49] mabashian commented on #10721
@ffirg based on https://github.com/ansible/awx/issues/10721#issuecomment-885158741 - is this issue still relevant or can it be closed?

[2021-11-16 15:34] AlanCoding commented on #10721
I understand the UI's navigation flow better now, and this seems like it has come together fine. I would say "close"

[2021-11-16 15:36] AlanCoding commented on #4154
I think you basically need to create an execution environment with the collection and its dependencies (like jsonschema). This is the problem they were intended to solve.

[2021-11-16 15:41] AlanCoding commented on #11333
thank you for the followup

[2021-11-16 15:41] #11333 closed, assigned to nobody

[2021-11-16 19:20] akus062381 opened #11350 "Instance group basic Name search missing __icontains"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-16 19:21] nixocio opened #11351 "Display name or alias of node to be deleted on workflow"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Display name or alias of node to be deleted on workflow. Right now, it is not clear which one was selected.

<img width="1707" alt="image" src="https://user-images.githubusercontent.com/9053044/142051398-666f08d2-a400-49a3-a98a-961af0be0924.png">

[2021-11-16 19:22] akus062381 opened #11352 "Link to instance group from job template details page"
I was doing some instance group testing as it related to job templates. I wanted to click on the name of the associated instance group, to link to that IG, but the name is not a clickable link on the job template details page.

![image](https://user-images.githubusercontent.com/9053044/142062518-b6b6cf67-9f19-421f-a723-e348c4a99293.png)

[2021-11-16 21:04] dbanttari commented on #11338
This seems similar/related?  https://github.com/kubernetes/kubernetes/issues/28369

[2021-11-16 21:26] AlanCoding opened #11356 "Jobs ran on hybrid nodes duplicate artifacts on filesystem"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is a very minor annoyance, but it's something that I feel will make the system behave more sanely if we address it.

Steps:

 - Use a single hybrid node deployment
 - Set `AWX_CLEANUP_PATHS = False` in settings
 - Run the demo job template
 - Shell into that hybrid node and cd into the job private_data_dir, look in artifacts folder

[code]

The

[2021-11-16 21:37] munizal opened #11357 "allow job templates to be ordered by preference"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

add the ability to sort templates and workflows into folders in the UI

[2021-11-17 03:55] AlanCoding commented on #11346
I do not quite understand. Isn't the number of events the `counter`? Could someone elaborate on what exactly the UI is looking for here?

[2021-11-17 07:08] kenichimilo commented on #10744
Thanks @shanemcd  seems like the commit/merge was done after the build 19.4.0>
About when could we expect a new build and if so could we make sure that [10838](https://github.com/ansible/awx/issues/10838), is included..
Becomes a hustle if you are using an external db. As not good practice to use the public schema..

[2021-11-17 09:48] ffirg commented on #10721
We have no current need for this given we do everything through the installer. We might need some sort of functionality like this in the future, but as that's unknown and timescales undefined, we'll close it and re-raise as needed.

[2021-11-17 09:48] #10721 closed, assigned to nobody

[2021-11-17 10:01] ffirg commented on #11336
This seems like a real, validated issue so we should do this. I think we should remove update_on_project_update as there's a fair degree of functional crossover after implementing the logic change. Let's do that unless there's any objections?

[2021-11-17 13:53] AlanCoding commented on #11249
No, there is not, aside from the supported sources like gce, EC2, Azure Resource Manager, etc.

I can easily envision an enhancement to allow this generally (it's almost trivial on the API side), but we would need to clarify scope. Most inventory plugins for cloud sources can work by getting routed to from the "auto" inventory plugin built into Ansible core. These are the ones that put parameters

[2021-11-17 14:21] AbhinitMallick opened #11358 "AWX webhook notification not working as per document"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
The ansible documentation states that for webhook one can fetch the data from the webhook payload
https://docs.ansible.com/ansible-tower/latest/html/installandreference/notification_parameters_supported.html#
job_metadata - (string) job metadata as a JSON string, for example:
{'url': 'https://towerhost/$/jobs/playbook

[2021-11-17 15:03] AlanCoding commented on #11249
@ffirg @chrismeyersfsu right now there's not much to get excited about here, but in the long term, we might be able to make progress towards getting rid of the individual source choices (ec2, gce, etc.). Proper ownership of those are in domain of the execution environment and content maintainers.

[2021-11-17 15:30] AlanCoding commented on #11347
We commonly hit problems with performance when throwing the data needed into the global endpoint. The UI uses `/api/v2/users/` for lots of sub-selection screens, like, adding a user to an organization, or giving that user permission to some single resource.

The notion that "a user is an execution environment admin" also doesn't really jive great with the API world view. Every organization has an

[2021-11-17 16:19] IPvSean opened #11361 "Job Output window is not updating to show play recap"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-17 16:26] nixocio commented on #11361
There is a major re-factoring being done on this screen.  See: https://github.com/ansible/awx/pull/11312

[2021-11-17 20:12] #11350 closed, assigned to nixocio

[2021-11-18 01:28] agilleyrh opened #11362 "RFE: use AD Groups as a means to implement authorization using the LDAP authentication option within Tower."
##### ISSUE TYPE
 - Surface an api which allows a direct call to update specific elements of the authentication scheme i.e. settings/ldap/addteammap?organization=<organization>&users=<ldapdn>&remove=true|false
Handle queuing of requests to update internal to the Tower instance, rather than making it a responsibility of the upstream system i.e. it should not be possible for 2 updates to happen conc

[2021-11-18 01:55] macthev commented on #11249
Thanks for your comments. I do have a workaround so happy with that.

[2021-11-18 07:17] Rocking80 commented on #989
It's sad in 2021 we still cannot install AWX without container. My production server cannot access outside world so cannot download any docker images.

[2021-11-18 09:54] shanemcd commented on #11338
We recently saw this in an AKS deployment. I've verified a workaround by setting `kubelet --container-log-max-size` to a higher number, or using `containerLogMaxSize` in a kubelet config file.

- https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/
- https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/

[2021-11-18 10:38] kladiv commented on #10894
+1
@wenottingham @AlanCoding this feature (in UI) was supported in AWX 17.1.0. It seems disappeared in the newer releases of AWX
Only possible via API/awxkit and Ansible awx collection (<=22.2.0).

In our organization schema it's really important Teams be members of other Teams.

[2021-11-18 10:59] mdujard1 opened #11363 "GCP Credential does not provide extra var"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-18 11:41] debianchim27 commented on #6199
Hi all,

this is currently true, and I find a workaround thanks to [this issue](https://github.com/ansible/awx/issues/2083#issuecomment-724932359)

Just go to `/api/v2/jobs/YOURJOBNUMBER/` and follow the link at "**project_updates**" key

Under **project_updates**, follow "**stdout**" key and you will find the root cause.

[2021-11-18 12:06] muralibaci commented on #11228
Thanks for considering .

[2021-11-18 14:25] colans commented on #989
For what it's worth, I've given up trying to find a simple way to install AWX, and completely switched over to using [Rundeck](https://www.rundeck.com/) instead.  It does everything I need it to do with Ansible so I've never looked back.  (They maintain a Debian package repository.)

[2021-11-18 15:20] AlexSCorey commented on #7173
@mdinwoodie You can modify the notification_cofiguration, in which you can modify the http method

[2021-11-18 16:13] rharmonson commented on #989
Agreed, @Rocking80, it is sad. @colans, I will take a closer look at Rundeck and appreciate you sharing an altrnative.

[2021-11-18 19:56] AlanCoding opened #11365 "Avoid errors in error handling when the receptor socket / sockfile goes missing"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Sometimes when things go really bad we see this:

[code]

We should avoid digging ourselves deeper in the case that the `receptor_ctl._sockfile` is None.

[2021-11-18 19:59] atrawog commented on #11289
That what happens if you read the documentation :) Things work fine in `devel` but if you do a `git clone -b 19.4.0 https://github.com/ansible/awx.git` this issue is the first thing you run across and it would be nice to have a new release that fixes this issue.

[2021-11-18 20:55] jw-maynard commented on #10961
@chrismeyersfsu See PR #11366

[2021-11-18 23:13] syunwei commented on #2215
Hi techBeck03,
Thanks for sharing the problem and solution.
Adding a trailing slash '/' fixed my problem :-)
Thank you!!

[2021-11-19 00:45] shanemcd commented on #9961
Can y'all take a look at https://github.com/ansible/awx/issues/11338#issuecomment-972708525 ? Wondering if this is the same thing.

[2021-11-19 10:15] kenichimilo commented on #10744
https://github.com/ansible/awx/blob/7fdf491c059552eac65b33ca2d106540c3e5f8a6/awx/main/management/commands/cleanup_jobs.py#L108

This is what i was talking about.. unfortunately build went out without it being fixed

[2021-11-19 11:19] daenney commented on #9961
@shanemcd Sure looks like it from my point of view. Unfortunately tweaking kubelet args isn't always an option (it's possible but very annoying with managed node pools etc. in certain clouds) so it would be nice to find a way around it. Ideally whatever is tailing/streaming the log needs to handle file rotation transparently.

[2021-11-19 14:08] zaskan opened #11372 "Expand permissions to manage notifications"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, the notification admin permissions are defined at organization level.

Notification Admin

- Parent: Org admin
- Allow: Assignment of notifications
- Scope: Organization

Creating and managing Notification Templates can only be done by the notification admin, but assigning the notification should be able to do by the template owner. This

[2021-11-19 14:12] smullenrga commented on #9961
@shanemcd This does not look like my issue, perhaps I should open a  new issue.  I get all of the logs from kubectl, and I get the full JSON output at the top of the job output after the job's errored out.  My overall log is only like 700K and that's only because I'm intentionally generating event data's over 16K (which happens naturally with a windows gather facts when the event body contais all

[2021-11-19 15:01] AlanCoding commented on #11363
Is the issue just about environment variables versus extra vars? I you need the value in a playbook variable, then you could `set_fact`, using the env lookup plugin:

https://docs.ansible.com/ansible/latest/collections/ansible/builtin/env_lookup.html

While it is possible to modify the injector to also put them in as extra_vars, this needs a lot of thought and collaboration with the content mainta

[2021-11-19 15:03] AlanCoding commented on #11356
I previously filed https://github.com/ansible/ansible-runner/issues/821 on the ansible-runner side.

I will keep both, that one for the runner patch, and this one for the AWX patch which would make use of it.

[2021-11-19 17:58] #11351 closed, assigned to nixocio

[2021-11-19 18:36] chrismeyersfsu commented on #11358
@AbhinitMallick Can you try asking your question on the mailing list?

[2021-11-19 18:49] chrismeyersfsu commented on #11343
This feature was never designed to be used in the scenario you are using it in i.e. control node in the container platform and iso node outside of the container platform.

[2021-11-19 18:49] #11343 closed, assigned to nobody

[2021-11-19 18:59] chrismeyersfsu commented on #11338
https://github.com/ansible/awx/issues/10366#issuecomment-951852069 @dbanttari this might fix your issue. Note the below modification that is more generic and doesn't rely on the `max-pods` being set to 30. Can you try it and report back?

`if ! $(grep q container-log-max-size /etc/default/kubelet); then sed -E -i 's/max-pods=([0-9]*)/max-pods=\1 --container-log-max-size=500Mi/g' /etc/default/kubel

[2021-11-19 19:59] #11352 closed, assigned to nixocio

[2021-11-20 01:48] ghost commented on #7946
Hi,

We are trying to import a workflow with some approval.
To know the syntax of this part we have tried an export of an existing workflow with some approval but isn't working.

Even if the export wasn't possible related to this issue.
Does anyone have the syntax to do an import?

[code]

In this case I have on the UI of Ansible tower the image bellow.

![Screen Shot 2021-11-19 at 8 42 49 PM](htt

[2021-11-22 10:27] Haagy commented on #11139
I was digging some deeper into this issue but still cant get it work.
Here is all that AWX is producing on logs:
[code]
The only thing I see here is that the initial request commes with `{42 vars in 588 bytes}`, gets forwarded but ends up with `{40 vars in 563 bytes}`.
Maybe the two missing vars are the `extra_vars`.
But how is this happening?
Any ideas @shanemcd?

[2021-11-22 13:52] AbhinitMallick commented on #11358
@chrismeyersfsu  can you please come again , I honestly didnt get you mate , what exactly you mean

[2021-11-22 15:36] AlanCoding opened #11379 "Remove or reduce use of the GitPython dependency"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When doing things with project checkouts, it's a technical debt burden that we do some things with the GitPython dependency, and some things with the `git` module from ansible-core. The bigger principle here is that - **the project_update.yml playbook should be relied on exclusively for management of the project folder**

I would divide up our usage

[2021-11-22 23:11] kladiv commented on #11284
+1
In my opinion this should be high priority. Limits on Workflow jobs are quite important when making *blueprints*

[2021-11-23 10:52] rfarajro opened #11382 "AWX - Missing backend "saml" entry"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-23 11:24] DaveIscodingALot opened #11383 "Azure AD Logout URL Setting"
I have implemented AWX successfully with Azure Ad integration, but when I log off, it will remember the session, log in automatically and never ask for credentials. This can be solved by manually logging off with the URL provided by Azure or by closing the browser window. Would it be possible to have this setting in AWX so that I can insert the log off URL and redirect back to the login page?

Cur

[2021-11-23 14:26] chrismeyersfsu commented on #11330
This can be tricky from a performance point of view. There is limitation on the payload size we can send from AWX to rsyslog due to using unix domain sockets. The addition of `extra_vars` in every `job_event` would need to take this into consideration.

[2021-11-23 14:28] chrismeyersfsu commented on #11358
https://groups.google.com/g/awx-project

It looks like your teams server is responding with a 400. This isn't necessarily an AWX issue. Maybe someone on the mailing list has experienced this integration pain and can point you in the right direction.

[2021-11-23 15:17] AlanCoding commented on #11316
Looking at some more examples of this, I see some other directions we can go in.

If a job fits the described case, then we have we have:

 - some job being processed by the task manager
 - a list of preferred instance groups
 - each instance group in that list has 0 instances with non-zero capacity

Why should this job remain in "pending"? Pending what? Pending the user fixing their cluster confi

[2021-11-23 15:48] cooling75 commented on #329
For us that would be useful too.

[2021-11-23 21:01] felipe4334 commented on #10829
@tiagodread where did you set the timeout? I added it to "Extra Environment Variables" under job settings but it does not work there.
{
  "ANSIBLE_WIN_ASYNC_STARTUP_TIMEOUT": "60",
  "DEFAULT_JOB_IDLE_TIMEOUT": "10"
}
![image](https://user-images.githubusercontent.com/13802820/143122152-156e976d-6e10-4039-bd36-935cb091cae8.png)

[2021-11-23 21:54] thenets commented on #11304
Hey 😄
I would like to follow this one. Let me know if you want some QE eyes on it and I can be assigned to it later on to test it.

[2021-11-24 07:03] mdujard1 commented on #11363
Hello Alan,
That's all I wanted. I found how to fetch the needed values directly in the env of the executing pod.
Thanks a lot !

[2021-11-24 07:03] #11363 closed, assigned to nobody

[2021-11-24 07:11] Nitish0292 opened #11387 "Failed to import the required Python library (zabbix-api) on automation-job"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-24 11:40] eselvam opened #11388 "How to upgrade Awx from 17.x to 19.x operator method in K8"
We use K8 cluster to port awx 17.x.  We plan to upgrade from 17.x to 19.x k8 operator method.  I could not find any proper guide for upgrade.  Could some one help me here with proper document.  Thanks.

[2021-11-24 13:35] TheBlaide commented on #10986
I'm facing the same issue. My inventory that uses git as a source is not updated correctly, it displays the id of the last change on the git repository, but files are not updated.

[2021-11-24 13:50] pawelbialasiewicz commented on #10986
The workaround is to run a NOP job sourced from the repository with inventory. You can use workflows to achieve this. This is the best solution we found to fix this issue.

[2021-11-24 16:34] ffirg commented on #11387
This is not a bug and the repo isn't a support forum. You need to build a custom EE with the required dependencies. Closing.

[2021-11-24 16:34] #11387 closed, assigned to nobody

[2021-11-24 16:42] ghost commented on #11388
https://github.com/ansible/awx-operator/blob/devel/docs/migration.md

[2021-11-24 17:52] ffirg commented on #106
We are not going to do this, primarily for 2 reasons:
1. As Alan states, EEs now supersede the requirement and is the recommended way to include content.
2. ansible-galaxy 2.11 can now install a collection from a git repo - https://docs.ansible.com/ansible/latest/user_guide/collections_using.html#installing-a-collection-from-a-git-repository

[2021-11-24 17:52] #106 closed, assigned to nobody

[2021-11-24 19:21] agrisvv opened #11390 "awx-manage run_dispatcher not starting"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-25 10:12] stucksam commented on #11289
We just upgraded to 19.5.0 and the error has indeed been fixed, just like @shanemcd said. Will close this issue now.

[2021-11-25 10:12] #11289 closed, assigned to nobody

[2021-11-25 10:53] muchafel opened #11391 "django.db.utils.OperationalError: server closed the connection unexpectedly for long jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-25 11:03] kadaj666 commented on #1179
+1

[2021-11-25 11:41] M4XMU3 opened #11392 "[kubernetes] split containers in several pods"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
As already submitted by others in the last years (e.g. in [this issue](https://github.com/ansible/awx/issues/2081)) it would be greatly appreciated if not all containers run in a single pod.
In my company's Openshift cluster for example there are resource limits defined for CPU and RAM per pod. Those could be followed more easily, if not all containe

[2021-11-25 11:49] M4XMU3 opened #11393 "[redis] CPU/RAM limits needed"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Our company's Openshift cluster has resource limits defined per pod concerning CPU and RAM. To me it seems that redis is taking more resources than allowed and therefore my deployment won't work.
It would be awesome to be able to set limits for redis just like [for the other three containers](https://github.com/ansible/awx-operator#containers-resourc

[2021-11-26 10:46] CWollinger commented on #11027
Same here. With AWX version 19.4. Database and AWX launched by the AWX operator in the same k8s namespace

[2021-11-26 17:42] kukacz commented on #10838
This bug has caused us a lot of troubles with external database running out of space frequently. Is anybody working on a fix?

Also I wonder if there is better workaround in awx-operator driven K8s deployment than running manual _Job_ and _UnifiedJob_ object deletions through **awx-manage**?
We do it following the steps: https://tobschall.de/2019/05/07/ansible-tower-cleanup/. It's very slow for th

[2021-11-27 18:05] daemenseth commented on #286
is there any news on this feature request.
Or how do other people here solve this issue?

[2021-11-27 19:26] daemenseth commented on #371
what is the state of this feature

[2021-11-29 13:32] chrismeyersfsu commented on #11027
AWX does not have a feature to explicitly keep the database connection alive. Maybe there is a Django feature you can tweak to do this for you?

[2021-11-29 13:36] chrismeyersfsu commented on #10986
related to https://github.com/ansible/awx/issues/11336

[2021-11-29 14:05] KyMidd commented on #286
I use authentication types to solve it, [paid link](https://faun.pub/lets-do-devops-ansible-awx-tower-authentication-power-user-2d4c3c68ca9e) to article, [unpaid link](https://faun.pub/lets-do-devops-ansible-awx-tower-authentication-power-user-2d4c3c68ca9e?source=friends_link&sk=c409707132cd276a8cd2baae021fa41c) to article.

You end up creating lots of authentication types that are identical, so i

[2021-11-29 14:18] kenichimilo commented on #10878
awx - 19.5
operator - 0.15.0
EE - latest
running on openshift 3.11
@shanemcd is there a way to add extra logging into the worker pod.. we cannot move to any version past 17.1.0.
The project gets updated in the task container and then the inventory sync is passed on to the EE, which i don't know if an extra project pull is done to have the code.
No logging whatsoever when i carry out an oc logs on

[2021-11-29 14:59] TheBlaide commented on #10986
Hello,
@pawelbialasiewicz  What do you mean by a NOP job ?

[2021-11-29 15:11] mabashian commented on #11298
Hello,

This issue tracker is for the open source Ansible AWX project. If you've got questions or a support issue with Ansible Tower, please reach out directly to Red Hat.

As of AWX 16.0 the UI has been overhauled and the flow that you describe is quite different.

[2021-11-29 15:11] #11298 closed, assigned to nobody

[2021-11-29 15:52] mabashian commented on #11052
@opticyclic which version of AWX are you using?  Which Credentials list are you referencing?  The primary list or the list that gets displayed when adding a credential to another resource (like a job template)?

[2021-11-29 16:02] mabashian commented on #11037
As far as I can tell this information is not available via `/api/v2/jobs/:id`.  I'm not sure if that would be simple to include or not.

[2021-11-29 16:46] AlexSCorey commented on #7173
I believe that this issue is resolved as the user can modify the `notification_configuration` including the HTTP method in awx cli.

[2021-11-29 16:46] #7173 closed, assigned to nobody

[2021-11-29 16:51] mabashian commented on #10391
This will be covered in https://github.com/ansible/awx/issues/10496

[2021-11-29 16:51] #10391 closed, assigned to nobody

[2021-11-29 21:49] saurabh02 commented on #286
I got around this issue by storing credential files (SSH keys in my case) on the server and pointing to them using the key `ansible_ssh_private_key_file` in vars.

[2021-11-29 22:49] john-westcott-iv commented on #10137
Could we also add the awx.awx collection for a potential solution for this? If `ansible-playbook` is not in the container we couldn't run the play from there but it could be run from any other host able to run `ansible-playbook` and connect to Tower via the API.

[2021-11-30 07:52] sshedmake opened #11396 "Toggle text 'of', at the Pagination of main lists - Job Templates, Projects, Inventory, Organization, Users, Teams, Notifications, Instance Groups, Execution Environments, etc., needs to be marked for translations"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-30 08:53] pawelbialasiewicz commented on #10986
@TheBlaide a job that does nothing but is sourced from the repository that contains the inventory. This way the inventory gets refreshed. You can run any playbook and simply define a target that is not in the inventory. The job will not run as it does not have any targets, but it will get the inventory refreshed. Silly hack, but it gets the job done.

[2021-11-30 09:45] christiangfeller commented on #9594
The same behavior here on OpenShift. If running multiple jobs at the same time, every single Pod is created and Jobs are running. Suddenly (most when starting one more job), all Pods will unexpected terminate.

Operator: 0.15.0
AWX: 19.5.0

No memory issues on OpenShift Pods.

[code]

[2021-11-30 11:05] sshedmake opened #11397 "With ja google-chrome, unwanted html code <br> is visible at the ~/settings/subscription/edit page, need to remove it"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-30 11:09] Bentoto opened #11398 "Add archive type to AWX collection when creating a project"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

AWX Collection Version: 19.4
AWX Version: 15 and 17

Hi, i've been using the AWX collection, for my use case i need to create a project who needs an "archive" for the "scm_type", but this option is not available according to the documentation (https://docs.ansible.com/ansible/latest/collections/awx/awx/project_module.html#ansible-collections-awx-awx

[2021-11-30 11:25] hacko2 commented on #7447
@tiagodread  How did you test the import? Tried pasting into git and it says "[WARNING]: Skipping 'inventory' as this is not a valid group definition" and nothing imported.

[2021-11-30 11:55] sshedmake opened #11399 "With ja google-chrome, truncation of source string "Dashboard (all activity)" is observed, at the ~/activity_stream page"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-30 12:38] sshedmake opened #11400 "With ja google-chrome, ja translation "ページ" for the source string "pages", has an unwanted trailing char 's', visible at pagination options"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-11-30 12:48] nikat commented on #739
+1 for this feature

[2021-11-30 12:51] k8s4 commented on #739
+1
I agree too

[2021-11-30 13:10] Davidffry commented on #11314
same issue here.

[2021-11-30 14:27] mabashian commented on #8321
We've now got the expanded row view in the jobs list:

<img width="1379" alt="Screen Shot 2021-11-30 at 9 25 56 AM" src="https://user-images.githubusercontent.com/9889020/144065304-0da7b0de-fe5c-41b5-9098-f93b57d91d58.png">

There's no technical blocker to adding this (schedule name) in the expanded row.

[2021-11-30 15:26] nixocio commented on #11383
@DaveIscodingALot, there were some changes on code related to this feature. Right now even when using third party SSO when logging out the user is redirect to the login page. Can you try the latest AWX version?

[2021-11-30 17:01] josem-vexcel commented on #9727
It works for public channels but does not work for private channels.
what do you mean by "permissions issue" @shanemcd?

[2021-11-30 17:28] nrobbins00 commented on #11390
I was able to get past this error by manually pulling quay.io/ansible/awx-ee:latest and killing the running k8s_awx-ee_awx.... container.  My configuration for "Control Plane Execution Environment" was set up to only pull this if it was missing.  I got the hint to try this from https://github.com/ansible/awx/pull/11133.

[2021-12-01 01:01] sugitk commented on #10517
Is it fixed on https://github.com/ansible/awx/issues/8677 ?

[2021-12-01 09:41] janorn opened #11404 "CVE-2020-36242"
**CVE Dictionary Entry**:
CVE-2020-36242
**NVD Published Date**:
02/07/2021
**NVD Last Modified**:
07/21/2021
**Source**:
MITRE

https://nvd.nist.gov/vuln/detail/CVE-2020-36242

https://github.com/ansible/awx/blob/a206d7985124960a4e408a0c647617dbb1776433/requirements/requirements.txt#L64

[2021-12-01 14:57] nikat commented on #5564
+1

[2021-12-01 15:23] akus062381 opened #11405 "Job output screen- search for host- enhance error handling to inform user"
On the job output screen of a completed job,  when the user performs an advanced search for a host and puts a host name instead of a host id, the user is redirected to an error page (the error explains that the name give "is improper id").

Suggestion: instead of this vague error, can we handle this differently? For example, validate user input instead of redirecting to an error page?

![image](ht

[2021-12-01 15:27] akus062381 opened #11406 "Job Output- change the result of downloading searched content"
In the job output screen of any job, there is the option for the user to download the results of the job.
Even if the user performs a search, of any kind, resulting in filtered results on the screen, the result of downloading the output is still the full and complete job results.

Feature idea- when a user performs a search on the job output screen, resulting in filtered results on screen- when th

[2021-12-01 15:32] akus062381 opened #11407 "Job Output- Applying task filters- expand information provided to user"
On the job output screen, when a user clicks Events in the search bar and selects any task related filter, the information displayed on the page is very sparse.
It would be good, if the user is filtering by when the task started, that they were also able to see the details of that task.

Instead, here is the current view:
![image](https://user-images.githubusercontent.com/63685497/144263618-0ce92c

[2021-12-01 18:41] akus062381 opened #11409 "Job Output- search results in no data- blank screen"
On the job output screen, when a user searches for something and no results are found, only a blank screen results. There is nothing to tell the user that no results were found. The blank screen may lead the user to believe that something went wrong.

Adding some sort of message indicating no results found would be helpful here.

https://user-images.githubusercontent.com/63685497/144294236-bcc0170

[2021-12-01 19:07] rpurcelldesj commented on #4539
As @faroukellouze stated it's already in the documentation, how can we fix the doc while this get fixed in the code so other people won't loose time trying to understand why extra_vars isn't usable ?

[2021-12-02 12:08] javadan commented on #11188
I'm also here.
[code]

I've got a dual core up in this b*tch, and nothing is even requesting a full cpu.  Anyone know how to get this thing started?

[2021-12-02 12:17] azrdev commented on #11027
@chrismeyersfsu django has CONN_MAX_AGE and mentions the problem explicitly:

on <https://docs.djangoproject.com/en/3.2/ref/databases/#persistent-connections>

I cannot see where AWX (specifically awx_task, I guess) sets its django config/options, which would also be the place to override CONN_MAX_AGE to something smaller than our external DB has -- by default it's apparently on a high value or `N

[2021-12-02 12:21] kurokobo commented on #11188
To run AWX on a node that does not meet resource requirements, setting empty value as the parameter for each containers is the easiest way.

[code]

The 4th container (redis) has no request value by default.

[2021-12-02 12:28] heizac commented on #11159
I was having the same problem. Upgrading to 19.4.0 fixed the issue.

[2021-12-02 13:22] nixocio commented on #11405
@akus062381 This is not a job output issue. It is a an advanced search issue. If you expand the details it will have an explanation of the reason of the failure. There is another issue tracking similar issue. I will try to find it.

[2021-12-02 15:23] Benvandamme commented on #11121
Any progress here? I would love to see this happen.

[2021-12-02 15:37] ffirg commented on #286
Worth looking into #11121 at the same time.

[2021-12-02 15:47] ffirg commented on #7902
Thank you for the suggestion, but this isn't something we'll be taking forward. Having sub-levels of capabilities for an Admin would horribly complicate the RBAC model.

[2021-12-02 15:47] #7902 closed, assigned to nobody

[2021-12-02 15:51] john-westcott-iv commented on #5303
Development Task List
- [x] Modify SSO pipeline for setting user flags
- [x] Add new SAML setting for flag name, flag value and role names
- [x] Modify code to favor settings
- [x] Modify awx.sso.pipeline logger to respect DEBUG setting in logging aggregator
- [x] Add Org Admins by SAML attribute
- [x] Create unit tests
- [x] Add `KEYCLOAK=True make docker-compose` option to spin up a plumbed IdP

[2021-12-02 15:59] AlanCoding opened #11413 "Set a non-default value for Django's `SESSION_COOKIE_NAME`"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See

https://docs.djangoproject.com/en/3.2/ref/settings/#session-cookie-name

Originally attempted in https://github.com/ansible/awx/pull/11348 and then reverted in https://github.com/ansible/awx/pull/11412. The biggest problem that we have is that something is not persisting right between multiple runs of integration tests, probably related to the a

[2021-12-02 16:00] ffirg commented on #5000
This is not something we're looking to do now that execution environments are a thing and allow certain customisation that addresses some of the request.

[2021-12-02 16:00] #5000 closed, assigned to nobody

[2021-12-02 16:40] ffirg commented on #306
We are not looking at implementing this feature at this time. When intend to move to a SSO solution at some point where such proposals can be considered again.

[2021-12-02 16:40] #306 closed, assigned to nobody

[2021-12-02 20:57] AlanCoding commented on #286
If you look at our current SSH credential, these are our inputs:

https://github.com/ansible/awx/blob/b00e5876d45d6f939d8f792c759b29c16567177a/awx/main/models/credential/__init__.py#L579-L612

But if you look at the implementation of the credential, many of these fields are incompatible with multiple SSH keys. I'll look at `become_username` as an easy example:

https://github.com/ansible/awx/blob/

[2021-12-03 04:39] ledgley commented on #5303
RedHat support referred me to this RFE after raising a case today. RedHat case 03095152.

Our specific requirement is flagging Org Admins by SAML attribute (AD group under 'roles' attribute), so Org can manage their own admins via AD.

[2021-12-03 04:56] garamirseokim opened #11416 "Need to have switch to restrict ability to create local users on Ansible Tower"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

One of the Tower Security Best Practices (https://docs.ansible.com/ansible-tower/latest/html/administration/security_best_practices.html#id6) is to 'minimize local system access'. However there is no way to actually control this. Org admins have control to create new local users with no password complexity requirements.

This feature request is to e

[2021-12-03 16:21] rafabono opened #11418 "Error synchronising vmware inventory"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-03 18:16] swathit0717 opened #11419 "How to enable the httpOnly attribute for current_user Cookie"
Hi,

I am using AWX 15.0.0.
In our Pen testing we found the  vulnerability: HTTPOnly and Secure attributes are not set for Cookies
I was able to enable to Secure attribute by adding these changes in the "settings.py" file.

settings.py
######
CSRF_COOKIE_SECURE= True
SESSION_COOKIE_SECURE= True
#######
Is there a way to enable httpOnly attribute for current_user cookie. Please suggest.

Thanks,
Sw

[2021-12-03 21:09] bitshiftnetau opened #11420 "De-complicating the installation process."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Reading the installation docs made me want to die. It seems so unnecessarily complicated, which is weird as the entire idea is to simplify usage right?

Is there a way this can be built native to a system and I can just run it up as a service?

[2021-12-03 21:26] gen2fish commented on #10080
I'm hitting this issue as well on 19.4 and 19.5

[2021-12-04 15:50] Davidffry commented on #11314
I try to fix it : #11401 wating to review it.

[2021-12-06 08:22] Zeek3000 opened #11421 "base64.py error on project sync"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-06 13:52] apollo13 opened #11422 "Notifications are not sent"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-06 14:14] roxsross commented on #9967
hello , they still have that error?

[2021-12-06 14:30] AlanCoding commented on #9967
I wonder if this is simple problem, where we need to pre-create the directory, because this line in the Dockerfile is creating a directory different from what the awx-operator uses.

https://github.com/ansible/awx/blob/099efb883d2271030308d19e7bdfc07f13a32f08/tools/ansible/roles/dockerfile/templates/Dockerfile.j2#L234

[2021-12-06 16:16] AlanCoding commented on #8801
So in this case you'd prefer for the API to just null out the node's credentials?

[2021-12-06 16:45] exp-hc opened #11423 "Workflow Tags Prompt on Launch"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Workflows could accept parameters like `ask_job_tags_on_launch` and `ask_skip_tags_on_launch`. This would allow you to apply tags (skip tags) at the workflow level during launch without creating 2 separate workflow to use tagging.

[2021-12-06 18:31] apollo13 opened #11424 "Job logs broken when coming in live via websockets"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-06 18:34] apollo13 commented on #11422
I just managed to reproduce this on devel with the standard development setup, every now and then (again not for all jobs), the output looks like this (test env is started via `CONTROL_PLANE_NODE_COUNT=1 EXECUTION_NODE_COUNT=0 COMPOSE_TAG=devel make docker-compose`):
[code]

[2021-12-06 18:43] apollo13 commented on #11422
I found this gem in the code:
https://github.com/ansible/awx/blob/19b4849345ecc7f9b2bd6b8df77e31116d494f62/awx/main/tasks.py#L794-L810

So it seems the race condition is known/expected but the 5 seconds don't seem to cut it. My dev environment is an idle laptop with 16 GB RAM and an Intel(R) Core(TM) i7-8565U CPU. I do not think that system should be to slow -- rather there is probably a systemati