[2019-04-15 22:36] #3713 closed, assigned to nobody

[2019-04-15 22:47] ghost commented on #3832
Link: https://github.com/ansible/awx/pull/3714

[2019-04-15 23:03] ryanpetrello commented on #3267
This _feels like_ an ansible bug on systems that have python3 as the default system Python.

[code]

Here's `example.yml`:

[code]

Maybe there's a gap in my Python/virtualenv/site knowledge here, but it seems _really odd_ that Python/Ansible would attempt to import _anything_ from `/usr/lib64/python3.6/`.

[2019-04-15 23:55] ryanpetrello commented on #3267
Okay.

I think this actually comes down to an ansible limitation related to `connection: local`:

https://docs.ansible.com/ansible/latest/inventory/implicit_localhost.html

In order for this to work in systems with split Python versions (`/usr/bin/python` is py3, the ansible venv is py2), you've got to explicitly specify `ansible_python_interpreter: /path/to/python2` as a hostvar so that local con

[2019-04-16 00:23] ryanpetrello commented on #3267
Also @AdrianDutu if this doesn't work for you, instead of:

`connection: local`

Could you try:

`delegate_to: 127.0.0.1`

[2019-04-16 00:39] hiyokotaisa commented on #3700
@wenottingham I'm sorry I didn’t make it clear enough.
When I set "Prompt On Launch" for the Inventory on the Job Template setting as below:

![jobtemplate-1](https://user-images.githubusercontent.com/4246532/56173901-b69ac500-602a-11e9-9d61-15d06311ef7b.png)

I cannot add the Job Template to the Workflow because the "SELECT" button will be grayed out.
![workflow-1](https://user-images.githubuserc

[2019-04-16 08:46] NiveditaKumari14 opened #3716 "Workflow template execution with sequential jobs"
##### ISSUE TYPE
What is the correct behavior of execution when multiple jobs are assigned to the workflow template sequentially. In my observation time taken by workflow template to execute with 2 jobs is greater than the time taken by workflow template with 5 jobs

##### STEPS TO REPRODUCE
1. Create a workflow template
2. Add 2 and 5 jobs in the workflow template
3. Analyze the time taken for ex

[2019-04-16 11:46] lemmy04 commented on #1549
so ... how do I make https: happen? The documentation doesn't really say anything.

[2019-04-16 13:08] philippwiesner opened #3718 "Kubernetes and OpenShift Management Container conflicts with launch_awx_task script"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Kubernetes and OpenShift installations are using a management container for DB migrations and admin user creation on initial setup.This collides with the launch_awx_task.sh script which starts AWX inside the awx_task container.

In detail:

The awx_task container launches with the launch_awx_task.sh with the following conflicting lines:

[code]

As the

[2019-04-16 13:28] jeffbyrnes commented on #1549
@lemmy04 this is highly unlikely to be merged in, and the standalone Docker is a feature that’s been removed in favor of using Docker Compose.

You might check my PR, #3604, which adds SSL support for docker-compose. It’s yet to merge in, and I’ve been trying to get it working again with current versions of AWX (there’s been changes since I opened the PR).

[2019-04-16 13:46] philippwiesner commented on #3718
Can be closed, as it is already fixed on development branch.

[2019-04-16 13:46] #3718 closed, assigned to nobody

[2019-04-16 14:18] kakawait opened #3719 "Web performance regression since 4.0.0"
##### ISSUE TYPE

- bug report

##### SUMMARY

On same installation with empty database (so empty project) when using 4.0.0 I got 10sec for

[code]

<img width="1017" alt="Screen Shot 2019-04-16 at 10 08 27" src="https://user-images.githubusercontent.com/275609/56216323-84f12080-6061-11e9-863d-61281cc5a8da.png">

Keep in mind that those calls tooks always **10sec or few ms (like in `3.0.1`)**, but

[2019-04-16 14:29] lijok commented on #3719
I've been looking into this for the last two days
Can you do: `sudo docker exec -it awx_web bash -c "echo \"127.0.0.1 None\" >> /etc/hosts"`
go into the web ui and see if it removes the delay

[2019-04-16 14:35] kakawait commented on #3719
@lijok Nice that work! Way better. You saved my day 😽

I just update my `docker-compose.yml` (to persist the tricks)

[code]

---

But this is still an `AWX` issue? I mean should I keep the issue open or close it?

[2019-04-16 14:39] lijok commented on #3719
This is what's causing the lag
![image](https://user-images.githubusercontent.com/28689084/56219337-79502a80-605e-11e9-8c1a-2b9448fbb06e.png)

Now why this is happening, I have no idea, leave this open so someone can take a look at this

[2019-04-16 15:37] tweippert commented on #3719
I also see DNS Requsts for "None" on awx_task container. Adding it there to. I don't see any DNS Query on Google Servers so maybe a local issue on the host?

[2019-04-16 15:38] ryanpetrello commented on #3719
@shanemcd @matburt this sounds like a Python bug to me where some code is making a DNS lookup for `"None"`.

[2019-04-16 15:39] ryanpetrello commented on #3719
@lijok @tweippert any idea which process is making those DNS requests?  Would be good to try to narrow it down and resolve the actual issue here.

[2019-04-16 15:47] shanemcd commented on #3719
Does everyone in this thread use `awx_alternate_dns_servers`? I might have forgotten to test that. I'll take a look.

[2019-04-16 15:51] ryanpetrello commented on #3719
Also, running this (and looking for URIs that contain `None`) might provide some clues:

[code]

[2019-04-16 15:51] shanemcd commented on #3719
Scratch that idea. That option seems to work fine. I'm wondering now about DNS issues w/ Docker itself? Or maybe something changed in our base image?

[2019-04-16 16:00] lijok commented on #3719
@tweippert

Yeah I believe those are the only two containers spamming dns

@ryanpetrello

Nope, my linux beard hasn't grown fullsize yet. I'll try and figure that out today

@shanemcd

Nope it's commented out in my inventory

@ryanpetrello

![image](https://user-images.githubusercontent.com/28689084/56225347-144e0200-6069-11e9-88cb-28cb28b0ac6c.png)

[2019-04-16 16:03] ryanpetrello commented on #3719
That `None:11211` looks like a potential culprit, @lijok.  @shanemcd maybe we've got some installer bug that templates out the memcached connection string wrong?

What does this print?

[code]

[2019-04-16 16:06] lijok commented on #3719
I was thinking memcached as well because of this
![image](https://user-images.githubusercontent.com/28689084/56225723-d9000300-6069-11e9-9df6-0eaa7b5f8136.png)

when I added "192.168.200.49 None" instead of "127.0.0.1 None" to /etc/hosts in awx_web, 192.168.200.49 being the ip from which I connect to the web ui

Installing v3 right now to check

[2019-04-16 16:08] ryanpetrello commented on #3719
@lijok is this a k8s install, or standalone Docker?

[2019-04-16 16:08] lijok commented on #3719
@ryanpetrello

{'default': {'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache', 'LOCATION': 'None:11211'}, 'ephemeral': {'BACKEND': 'django.core.cache.backends.locmem.LocMemCache'}}

it's docker on centos7

[2019-04-16 16:10] ryanpetrello commented on #3719
@lijok that's the issue.  This looks like an installer bug to me.

[2019-04-16 16:10] shanemcd commented on #3719
Yep, this is the issue. In the `settings.py` baked into the image we still try to read that from the environment:

https://github.com/ansible/awx/blob/devel/installer/roles/image_build/files/settings.py#L106-L107

I'll have a PR up shortly and we can cut a release soon.

[2019-04-16 16:18] ryanpetrello commented on #3719
@tweippert @lijok @kakawait so _until_ we have a fix for this merged and a new release, a reasonable way to fix this (instead of your `/etc/hosts` hack, which is gross) would be to update the `settings.CACHES` that @shanemcd referenced to *correctly* be `localhost:11211` (through whatever means you deem necessary).

[2019-04-16 16:28] lijok commented on #3719
Done, can confirm works
Thanks

[2019-04-16 20:35] shanemcd commented on #3719
Issue resolved by the PR above ^ Fix will be included in the next version of AWX.

[2019-04-16 20:35] #3719 closed, assigned to nobody

[2019-04-16 20:38] jpell958 opened #3725 "Replacing credential type detail items should allow to show and hide secret entries"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When editing credential type details, one should be able to "hide" and "show" a secret value.  These options are available when creating the initial credential.  However, only the "replace" or "revert" option is available when editing the credential.  The request is to allow for all four options.

[2019-04-16 23:53] Kickimanjaro commented on #3642
Thank you, @lijok, selinux was set to enforcing. When I changed it to permissive the install worked as documented.

[2019-04-17 05:47] herdsonb01 commented on #3705
Same issue with similar error messages (further below). When I go to /tmp/awxcompose 'environment.sh', 'SECRET_KEY' and  are folders (below)?!?
On Ubuntu 18.04.29.
Only installed it about 2 hours ago. Worked fine directly after install....
It seems this part of the error is correct: Are you trying to mount a directory onto a file (or vice-versa)?

**EDIT:** On reboot it's turning the files in /tmp

[2019-04-17 09:35] nevotheless opened #3726 "AWX Page generation takes a significant amount of time."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Ahoi! I've come to encounter a really annoying performance problem when loading any AWX Page. The awx_web container reports page generating times of couple of seconds.

[code]

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.5.1
* Operating System: Ubuntu 18.04
* Web Browser: Google Chrome 73.0.3683.1

[2019-04-17 10:48] #2632 closed, assigned to AlanCoding

[2019-04-17 11:28] gstorme commented on #3553
We continue to see about a 50s gap between the project_update "finished" time, and the timestamp of the first job_event from job 714.
Timestamps for the project_update & job:

project_update 715:
[code]

job 714:
[code]

job 714 job_events:
[code]

Debug log for the events above:

[code]

[2019-04-17 12:11] AlanCoding commented on #3553
I wonder if this might be a side effect of https://github.com/ansible/awx/issues/3719

[2019-04-17 12:22] vin-c commented on #3705
Same here, did you find a workaround to start the containers ?

[2019-04-17 12:39] AlanCoding commented on #1087
closing as resolved

[2019-04-17 12:39] #1087 closed, assigned to nobody

[2019-04-17 12:45] ryanpetrello commented on #3553
@AlanCoding @gstorme reported AWX version: 3.0.1.0, and I think #3719 is specific to 4.0.0.

[2019-04-17 12:47] ryanpetrello commented on #3267
I've merged in https://github.com/ansible/awx/pull/3715, which should help address the issue for those of you facing this with project updates.

For anybody else here running Python3 as their system Python with a Python2 virtualenv (custom or not), make sure any host with `ansible_connection: local` *also* specifies `ansible_python_interpreter: '{{ ansible_playbook_python }}'`.

See: https://docs.

[2019-04-17 13:08] lijok commented on #3726
When did you install each of the installations?
There was an issue that was patched yesterday #3719
If you installed before then, try to reinstall

[2019-04-17 14:35] fmoghimi commented on #3642
I'm also trying to do this with the command: ansible-playbook -i inventory install.yml with root. Whenever I run this command I also get this PermissionError: [Errno 13] Permission denied: '/etc/tower/conf.d/credentials.py'
I also set selinux to permissive, but nothing is working.
Any help is appreciated.

[2019-04-17 14:38] nevotheless commented on #3726
Thanks for the answer @lijok.

I managed to figure it out. It was related to a misconfigured reverse proxy server which didn't properly delegate web socket requests to the awx_web container.

[2019-04-17 14:38] #3726 closed, assigned to nobody

[2019-04-17 14:47] lijok commented on #3642
@fmoghimi
To confirm, when you type "getenforce", what does it print?
What environment are you running? (see environment section in the first post up top)

[2019-04-17 14:48] zesk06 commented on #3554
I created the file:
/etc/tower/SECRET_KEY
in web and tasks containers, with the secret_key, and restarted my containers

[2019-04-17 14:54] fmoghimi commented on #3642
@lijok When i type getenforce, i get Enforcing.

**Environment**

- AWX version 4.0.0

- Ansible version 2.7.10

- Operating system: CentOS Linux release 7.6.1810 (Core)

[2019-04-17 14:57] lijok commented on #3642
@fmoghimi

That means you haven't set selinux to permissive
If you used "setenforce permissive", after a restart it will go back to enforcing
If you set selinux by modifying /etc/selinux/config, you need to reboot your os for changes to take effect

This is what your /etc/selinux/config should look like
[code]

[2019-04-17 15:38] mhurron opened #3727 "API documentation marks /api/v2/workflow_job_templates/ required field as optional"
##### ISSUE TYPE
The API documentation for /api/v2/workflow_job_templates/ shows only the 'name' field as required but the UI marks both 'name' and 'organization' as required.

##### SUMMARY
The API documentation for /api/v2/workflow_job_templates/ shows only the 'name' field as required. Submitting a requiest with just '{ "name": "Template Name"}' to /api/v2/workflow_job_templates/ returns {"deta

[2019-04-17 15:43] krentiken commented on #3705
I am back on version 3.0.1.  I'm waiting for the developers to answer

[2019-04-17 15:53] Kickimanjaro commented on #3642
To add to what lijok has said, if you wish to modify selinux with an ansible task you would do something like:
[code]

I think we should add a note about this selinux issue/potential conflict in the installation documentation. If I have time later today, or later this week, I will try to add that in.

[2019-04-17 16:24] fmoghimi commented on #3642
Thank you guys for the answers, can't believe I forgot to reboot. I'll try again at work tomorrow and see if it works!

[2019-04-17 17:40] unlikelyzero commented on #407
Here is the behavior which now occurs in the UI:
Job Template Edit View
- If a JT is configured w/ `Job Type` Prompt on Launch, the autofocus does not select the dropdown and mouse needs to be used.
- If a JT is configured w/ `Job Type` and `Inventory` Prompt on Launch, the autofocus does not select the modal and mouse needs to be used.
- If a JT is configured w/ `Survey` with a textfield Prompt o

[2019-04-17 20:07] mabashian opened #4216 "Navigating from org list to org makes GET on org twice"
Steps to reproduce:

1) Navigate to orgs list
2) Click on one of the orgs

Two requests to GET the org are being made because both the `componentDidMount` and `componentDidUpdate` lifecycle methods are firing.

[2019-04-17 20:24] mabashian commented on #4216
Additionally, moving from one tab to another _always_ makes a GET request to `/api/v2/organizations/:id`.  I'm not sure that I understand why that might be necessary.

[2019-04-17 20:32] mabashian opened #4217 "Focus on username input after logging out"
Ping @trahman73 for confirmation but we do this in the existing app and it's quite nice IMO.  Right now when you log out we navigate you back to the login screen but don't focus on the input.

<img width="1328" alt="Screen Shot 2019-04-17 at 4 32 39 PM" src="https://user-images.githubusercontent.com/9889020/56318981-73297f00-612e-11e9-82ab-35f6ab249d5d.png">

[2019-04-17 21:23] trahman73 commented on #4217
I don’t think we meant to be different here. We should support this flow in the new app.

[2019-04-17 23:17] lijok commented on #3705
1. If docker can't find the mount source paths when starting up a container, it will create those paths as directories
2. Files in /tmp get removed automatically after some time depending on which os you're using. On ubuntu, /tmp is cleared on reboot

So what's happening is that you're not changing the postgres_data_dir and docker_compose_dir variables in your awx/installer/inventory file before i

[2019-04-18 07:39] vin-c commented on #3705
default value for `docker_compose_dir` was changed between 3.0.1 and 4.0.0 from `/var/lib/` to `/tmp/` indeed

[2019-04-18 08:23] hiteshshaha opened #3731 "user is not allowed to execute '/bin/sh -c in dzdo privilege escalation"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
I am using privilege escalation (become_method=dzdo) in my playbook to run oracle commands to login to database. I have set dzdo permission to run particular command inside database server but when when i executed playbook ansible is not able to execute dzdo commands even though it has privilege to ex

[2019-04-18 08:39] vin-c commented on #3705
confirm that after setting those values, no more issue after a reboot and no more files in /tmp

[2019-04-18 11:00] yuratux commented on #1447
pls show working example

[2019-04-18 11:20] sayantandas commented on #3731
try setting `executable=/bin/bash` in a custom ansible.cfg and add it to the base of the repository. I faced the same issue and fixed it using this method

[2019-04-18 11:26] GrishaDev opened #3732 "installing custom python module problem"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am trying to install extra python module for awx, in my case pymongo.
I thought going to docker awx_task and activating virtualenv of either ansible or awx in
/var/lib/awx/venv/  and then performing pip install will do the trick, but it didn't.(it worked but when running playbooks in awx it said missing module pymongo, i tried restart docker etc)
so

[2019-04-18 11:56] ryanpetrello commented on #3732
@GrishaDev,

`CUSTOM_VENV_PATHS` is a new feature in AWX 4.0.0

If you don't want to upgrade, just create your custom venv in `/var/lib/awx/venv/` (no settings update necessary).

[2019-04-18 11:56] #3732 closed, assigned to nobody

[2019-04-18 11:58] ryanpetrello commented on #3731
This issue list is for tracking bugs in Ansible AWX, not Ansible itself.

[2019-04-18 11:58] #3731 closed, assigned to nobody

[2019-04-18 12:07] jakemcdermott commented on #4209
Potentially useful for any presentational components that are driven by job statuses (status icons, etc.): https://reactjs.org/docs/hooks-custom.html

[2019-04-18 12:11] GrishaDev commented on #3732
I did that but it still doesnt work, i created custom venv in /var/lib/awx/venv/ ,
switched to the new venv by using source activate  and performed pip install pymongo, it worked succesfuly but when running the playbook in awx, it still says it doesnt find pymongo.

[2019-04-18 12:38] ryanpetrello commented on #3495
Fixed in https://github.com/ansible/awx/pull/3549#event-2285550239

[2019-04-18 12:38] #3495 closed, assigned to nobody

[2019-04-18 13:27] ryanpetrello commented on #3732
@GrishaDev,

I'm not able to reproduce this with a custom virtualenv in `devel` of awx (I didn't actually install mongo, but you can see that the `mongodb_user` module is working):

<img width="1205" alt="image" src="https://user-images.githubusercontent.com/214912/56364231-11175b00-61bc-11e9-9b81-e17e5f89c597.png">

[code]

[2019-04-18 15:18] lijok commented on #3727
I couldn't reproduce this
Could you post screenshots of the following:

[2019-04-18 15:25] ryanpetrello commented on #3727
@mhurron

When you say "The API documentation for /api/v2/workflow_job_templates/", what are you referring to?

[2019-04-18 16:19] wenottingham commented on #3679
Reopening... the fallout request is to be able to re-order the instance groups on an org to effectively re-set priorities without having to remove and recreate them all.

[2019-04-18 16:58] matburt commented on #3679
This is going to require some refactoring of the relationship between instance groups and the resources that contain them rather than a simple m2m relationship.  Since right now you can't really control the ordering of those.

[2019-04-19 04:48] sugitk opened #3741 "RFE: Add 'organization' field to all kind of activity_stream logging output"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

activity_stream logger has the `organization` field, but job_events doesn't have it.

[2019-04-19 06:15] sugitk commented on #3741
Sorry I will close this issue.
I have to hear the customer to elaborate the issue.

[2019-04-19 06:15] #3741 closed, assigned to nobody

[2019-04-19 12:42] bhushanm90 opened #3742 "Ansible Module unarchive is unable to work"
I am unable to extract tar.gz file using unarchive module in Ansible
OS: Centos7
Ansible Version: 2.7
++++++++++++++ Error  +++++++++++
TASK [Extract the JDK file] ************************************************************************************************************
fatal: [3.17.73.46]: FAILED! => {"changed": false, "msg": "Failed to find handler for \"/opt/jdk-9.0.4_linux-x64_bin.tar.gz\".

[2019-04-19 21:57] FEspinha opened #3744 "ansible awx cannot start the containers"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After git clone the repository and run the install.yml playbook the installation encounters an error on the task [local_docker : Start the containers]

Please see actual results below

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: docker on linux
* Ansible version:  2.7.10
* Operating System: Centos 7.5

##### STEPS TO REPRODUCE

ansible

[2019-04-21 09:00] GrishaDev commented on #3732
@ryanpetrello Weird, maybe i am doing something small wrong, if you have some time could you verify i am doing everything correct?

Steps:
* go to awx task docker
* go to /var/lib/awx/venv/
* created new venv here, lets say using python 2.7
* activate the venv with source activate
* pip install pymongo
* restart docker( just in case)
* run the playbook in awx

thanks

[2019-04-22 09:38] RunicBean commented on #419
@matburt
Can you please provide one RPM based solution under official version?

[2019-04-22 10:02] basos9 commented on #2574
Actually it didn't work for me using the repository and playbook from https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/issues/AWX2574

![image](https://user-images.githubusercontent.com/1616441/56495566-cf115080-64fe-11e9-965c-e5786f46019b.png)

as the group1 (parent) group is not imported at all.

![image](https://user-images.githubusercontent.com/1616441/56495683-3039240

[2019-04-22 11:20] basos9 opened #3745 "Variable precedence in ansible.cfg is not preserved"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Variable precedence configuration seems to not apply on ansible awx.

This is a useful behavior to implement inventory specializations for group variables of default group variables as defined in playbook.

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker compose on linux
* Ansible version:  2.7.6
* Operating System: debian 9
* Web

[2019-04-22 11:59] AlanCoding commented on #2574
All of the needed fixes should be in AWX 4.0.0, what version are you on?

[2019-04-22 13:24] ryanpetrello commented on #3732
@GrishaDev,

Can you share the output of this command?

`/var/lib/awx/venv/bin/pip freeze`

Also, you shouldn't need to restart Docker for this to take effect.

[2019-04-22 13:26] ryanpetrello commented on #3744
Can you share the output of:

[code]

[2019-04-22 13:27] ryanpetrello commented on #3744
Can you share:

[code]

This sounds like an incompatibility (either something changed in a newer version, or you're using an older version).

[2019-04-22 13:51] ryanpetrello commented on #3742
Hey @18414,

This issue tracker is for the Ansible AWX project, not Ansible itself.

[2019-04-22 13:51] #3742 closed, assigned to nobody

[2019-04-22 14:03] AlanCoding commented on #3745
It is a known limitation of this two-step process (saving, then loading, inventory) that inventory plugin vars are converted to direct inventory vars.

I would like to know if this ordering would obtain your desired result, and whether there is any other incompatibility with your use case.

[2019-04-22 14:33] FEspinha commented on #3744
Hi Ryan,

Yes of course:
[root@smoke-awx ~]# docker-compose version
docker-compose version 1.24.0, build 0aa5906
docker-py version: 2.4.2
CPython version: 2.7.5
OpenSSL version: OpenSSL 1.0.2k-fips  26 Jan 2017

[2019-04-22 14:34] FEspinha commented on #3744
I'll try to run a new installation and then I'll get back to you again, since celery service was not installed :-S

Thanks!

[2019-04-22 15:24] FEspinha commented on #3744
Hi, same thing after runned a new installation but different error:

The full traceback is:
WARNING: The below traceback may *not* be related to the actual failure.
  File "/tmp/ansible_docker_service_payload_R_hbxQ/ansible_docker_service_payload.zip/ansible/module_utils/docker_common.py", line 228, in __init__
    super(AnsibleDockerClient, self).__init__(**self._connect_params)
  File "/usr/lib/

[2019-04-22 15:30] ryanpetrello commented on #3744
Looks like you also may want to upgrade your Python `docker` library.

[2019-04-22 20:18] elyezer opened #3750 "Copying a credential does not copy all fields"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When copying any credential not all fields are copied, for example the owner. See the additional information for an screenshot.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7
* Operating System: Fedora 29
* Web Browser: Chrome and Firefox

##### STEPS TO REPRODUCE

Copy any credential of any type

[2019-04-22 21:18] bvandermeersch opened #3751 "SSL"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can get SSL working on AWX

Went into in inventory file and changed host_port to 443 and set ssl_certificate to /home/ec2-user/ssl/servername.pem

then I run the ansible install.

doesnt seem to create a volume in the docker-compose or add an entry in the container nginx file

am i doing somthing wrong?

[2019-04-23 07:31] pravindmali opened #3752 "[RFE] Add prompt on launch option when multiple instance groups are set directly on the JT"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

An administrator can assign instance groups to organizations. Once instance groups are assigned, In that organization, single job template with 'prompt on launch' option will be prompted upon launch to choose a 'Instance group' to be selected.

[2019-04-23 07:32] ivantomica opened #3753 "SECRET_KEY not being read from ENV"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
During container runtime SECRET_KEY environment is no longer being read. Failing to save SECRET_KEY value to /etc/tower/SECRET_KEY will result in tower not being able to start up normally.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker-compose - docker on linux
* Ansible version:  2.7.2
* Operating System: Ubuntu 18.04
* Web Brows

[2019-04-23 12:25] kakawait commented on #3719
@ryanpetrello stupid question why should I put `localhost` has `MEMCACHED_HOST` in context of _local docker-compose_? I mean there is a _container_ `memcached`, should I replace `localhost` by `memcached`?

https://github.com/ansible/awx/blob/devel/installer/roles/local_docker/templates/docker-compose.yml.j2#L108

[code]

[2019-04-23 13:12] msilmser commented on #3679
When I attempt to reorder the instance groups to change priority, the Tower group always resets to the front of the line when I save. Is this order dictated somewhere else in Tower that would override the list of IGs in the Org itself?

[2019-04-23 13:33] basos9 commented on #3745
Hi, I tried it and it failed
[code]
Now it totally ignores playbook variables.

ansible.cfg
[code]

[2019-04-23 13:39] AlanCoding commented on #3745
It looks like I miscommunicated, I was trying to zone in on the first part of the setting, and the full setting should be:

You are very probably missing the playbook-adjacent group plugin vars, which is exactly what 'pb_var' is. Sorry, I didn't mean to suggest removing that entry from the list, only rearranging the first 4 items.

[2019-04-23 13:49] basos9 commented on #3745
Ok, I tried also the new suggestion (which is almost the default despite the last groups_plugins_*) and it didn't work.

[code]

ansible.cfg
[code]

[2019-04-23 13:51] ryanpetrello commented on #3719
@kakawait if you're using a local docker compose install, specify `memcached:11211`.

This is the value that the local docker compose install _should_ default to:

https://github.com/ansible/awx/blob/devel/awx/settings/defaults.py#L520

[code]

[2019-04-23 13:58] AlanCoding commented on #3745
It should have saved `new_var: "inventory dev"` to the group in the inventory. Could you check `group1` in the inventory, and see if this shows `new_var` in its variables in the UI or API? This would further disambiguate the bug.

My thinking is that this variable should have changed status from `groups_plugins_inventory` to `groups_inventory`, but you report that it is still losing to `new_var: "

[2019-04-23 14:06] basos9 commented on #3745
the group inventory variables are ok:
![image](https://user-images.githubusercontent.com/1616441/56587252-e11bed80-65e9-11e9-884d-d90186520917.png)

How could I tell the "Status" of a variable ?

I even tried to increase groups_inventory priority over all_plugins_play
[code]

it didn't also work.

[2019-04-23 14:12] wenottingham commented on #3752
What is the use case here? Why/how would the user know what to choose?

[2019-04-23 14:14] AlanCoding commented on #3745
yep, I don't know why that wouldn't work.

I'm pretty sure you specified it correctly

https://github.com/ansible/ansible/blob/devel/lib/ansible/config/base.yml

[code]

the key and section matches.

[2019-04-23 14:44] #3267 closed, assigned to ryanpetrello

[2019-04-23 14:49] basos9 commented on #3745
The config's syntax is ok since I test it always with ansible core, and it works with the desired behavior.

[2019-04-23 15:33] MrMEEE commented on #3542
Hi @matburt

I'm not asking you guys to take on the maintenance perspective at all, I will do that (would be nice with some help from time to time, though)..

I'm just asking if you guys could share some information on your thought and upcoming changes (so that I can get it fixed in advance)

Also just to add a link to my installation guide (or add it to the wiki).. just informing that there is an

[2019-04-23 15:33] MrMEEE commented on #419
https://github.com/ansible/awx/issues/3542

[2019-04-23 17:15] kdelee commented on #2922
Confirmed fixes for deadlocks on hosts and groups, closing.

[2019-04-23 17:15] #2922 closed, assigned to nobody

[2019-04-23 17:15] kdelee commented on #3591
Closing this as @one-t confirmed it works for him

[2019-04-23 17:15] #3591 closed, assigned to chrismeyersfsu

[2019-04-23 17:20] kdelee commented on #3590
Closing this as @Spredzy confirms it works for him

[2019-04-23 17:20] #3590 closed, assigned to chrismeyersfsu

[2019-04-23 17:20] kdelee commented on #3511
Closing this as it works for me

[2019-04-23 17:20] #3511 closed, assigned to nobody

[2019-04-23 17:23] kdelee commented on #3205
Going to close this as @one-t confirms it works for him

[2019-04-23 17:23] #3205 closed, assigned to chrismeyersfsu

[2019-04-23 17:24] kdelee commented on #3506
tested this out and it works for me!

[2019-04-23 17:24] #3506 closed, assigned to AlanCoding

[2019-04-23 17:39] kdelee commented on #1963
@one-t going to close this as I think you are done. Please re-open if need be

[2019-04-23 17:39] #1963 closed, assigned to wwitzel3, rooftopcellist

[2019-04-23 17:39] kdelee commented on #466
@one-t going to close this as I think you are done. Please re-open if need be

[2019-04-23 17:39] #466 closed, assigned to jladdjr, marshmalien, dsesami, one-t

[2019-04-23 18:05] kdelee commented on #3311
@AlanCoding I did the following:

1) Add user to default org
2) Make user admin
3) Log in as user
4) Create a project with default org
5) Create a notification with default org
5) Create job template with project + save
6) attempt to enable notification :fire: (does not work)

[2019-04-23 19:29] shgonzalez opened #3757 "django_auth_ldap search not working properly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
the ldap search is not working properly because the query includes the Distinguished Name instead of the uid only

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.10-1.el7.noarch
* Operating System: centos-release-7-4.1708.el7.centos.x86_64
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Type Group L

[2019-04-23 23:29] sugitk opened #3759 "External Logger needs `organization` information at activity_stream"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We know the organization structure though,  the event of activity_stream needs `organization`.  For example, job template doesn't belong to organization directly, however the customer needs the information about that.

https://docs.ansible.com/ansible-tower/latest/html/userguide/organizations.html#organizations

[2019-04-23 23:38] AlanCoding commented on #3547
implemented

[2019-04-23 23:38] #3547 closed, assigned to AlanCoding

[2019-04-24 00:05] AlanCoding commented on #3311
admin of the default org, right?

[2019-04-24 11:30] pravindmali commented on #3752
Currently to run a job in different instance groups, it's required to create one job per instance group or need to edit the JT everytime to change instance group.

So here scenario is , Once the instance groups(say A,B,C,D) is assigned to organization then users in that organization can choose any of the instance group from A,B,C,D  If we add "prompt on launch" option in Job template. And there is

[2019-04-24 11:43] jperttul opened #3760 "SCM Update gets stucked in AWX Ansible 4.0 (in task update project using git)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
New Ansible AWX environment has been built from scratch. Postgres DB 9.6 runs in separate node. AWX installation is done by cloning the main repo and then running ansible-playbook -i inventory install.yml. After installation a git credential is created and then Project with the created credential. Running the SCM update gets stucked on the [update proj

[2019-04-24 12:19] Deeack commented on #1447
@yuratux

Just ran into this issue myself and found this issue through google, taking what gnosek said I worked around it by doing the following in the inventory scripts:

[code]

It's not pretty but it worked, all it does is:

1. Call bash to write the python 3 script at /tmp/myscript.py
2. Sets the permissions on the script
3. Unsets the PYTHONPATH env variable
4. Executes the script passing wha

[2019-04-24 13:25] devops-42 commented on #3751
Same here, it seems, that the parameter `ssl_certificate` doesn't mount host paths into the `awx_web` container (at least there's not placeholder in the docker-compose template for it)

/edit
PR seems to be pending: https://github.com/ansible/awx/pull/3604/files#submit-review

So there should be a solution (hopefully) soon :)

[2019-04-24 13:44] ryanpetrello commented on #1447
@AlanCoding I'm able to reproduce this still on the latest awx (4.0.0):

<img width="507" alt="image" src="https://user-images.githubusercontent.com/214912/56663877-0e61ad80-6675-11e9-8a15-da8b53dd35be.png">

<img width="966" alt="image" src="https://user-images.githubusercontent.com/214912/56664135-92b43080-6675-11e9-8839-07affe6d3d6d.png">

[2019-04-24 13:45] basos9 commented on #3745
What seemed to work is this
[code]

So the logic is to put the
all play < all inventory < groups_play <  group_inventory

What is the difference between all_inventory and all_plugins_inventory and likewise groups_inventory, groups_plugins_inventory?

[code]

[2019-04-24 13:49] ryanpetrello commented on #1447
@Deeack @badstreff so the issue here is that any time awx runs an inventory update, we activate the ansible virtualenv that comes preinstalled with awx (because it comes with a variety of dependencies to support various cloud providers, like EC2 and GCE).  In *most* environments, this virtualenv defaults to being a Python2 virtualenv.

In _your_ example, you're explicitly using python3, but the vi

[2019-04-24 14:26] AlanCoding commented on #3745
My assumptions up until this point:

 - all_plugins_inventory: a file `group_vars/all.yml` adjacent to the inventory file
 - groups_plugins_inventory: a file `group_vars/group_name.yml` adjacent to the inventory file, you have this
 - groups_inventory: vars defined for the group in the inventory file itself

I see how these could be interpreted differently, so take it with a grain of salt

[2019-04-24 14:29] #1447 closed, assigned to nobody

[2019-04-24 15:12] larrybg opened #3761 "AWX 3.0.1 stopped showing job outputs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

We have AWX 3.0.1 running in the Docker containers. The database is installed on a separate server. Everything worked just fine for a month or so. Starting a few days ago I've noticed job outputs are missing and when I download output, files are 0 bytes.

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker

[2019-04-24 15:34] msilmser opened #3840 "Unable to reorder Instance Groups for Org"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Related to https://github.com/ansible/awx/issues/3679

When trying to reorder instance groups in a JT, Inventory, or Organization to select a "default", saving the reordered group appears to always reorder according to IG id.

##### ENVIRONMENT
* AWX version: 3.4

##### STEPS TO REPRODUCE
1. Create at least 2 instance groups in AWX
2. Navigate to Organ

[2019-04-24 16:27] ryanpetrello commented on #3761
Hey @larrybg,

Please give this a try on the latest version of awx (4.0.0) and reopen this if you're still encountering it - we've fixed a number of issues related to this in the past few months.  I suspect you might be running into this one:

https://github.com/ansible/awx/pull/3424

[2019-04-24 16:27] #3761 closed, assigned to nobody

[2019-04-24 16:35] konkolorado commented on #3753
I think if you see the PR this commit was a part of you'll understand the reasoning and agree the commit is necessary.  In particular, a playbook running locally on AWX could pull any of its environment variables.  So storing secrets in an environment variable was convenient but created a security concern, which the AWX team addressed with the commit you referenced.  I think you should look at rem

[2019-04-24 16:38] ryanpetrello commented on #3753
What @konkolorado said - we removed this functionality because it was insecure.

[2019-04-24 16:38] #3753 closed, assigned to nobody

[2019-04-24 17:08] ryanpetrello opened #3822 "Upgrade apache-libcloud"
We recently removed PyCrypto usage from apache-libcloud (https://github.com/apache/libcloud/commit/c462a6f1b4a3280cb03b0f1528996e1479186445), but we're waiting on a new release on PyPI (in the meantime, we've pinned to our own fork w/ the fix: https://github.com/ansible/awx/commit/b02d9ae282f8368a282efc69a1ef8d0918cee92d#diff-4579cfa0784627e7544dbb3eadca33fe)

Once a new apache-libcloud is out, le

[2019-04-24 17:49] wenottingham commented on #3752
-> #2785

[2019-04-24 17:49] #3752 closed, assigned to nobody

[2019-04-24 17:50] wenottingham commented on #3759
This is not a thing that exists. The activity stream logs the creation and changes of objects in Tower; it is not going to record organization for objects that do not have it.

[2019-04-24 17:50] #3759 closed, assigned to nobody

[2019-04-24 17:59] Harshal-20 commented on #1207
Hi, this feature is long awaited, is there any possibility to expedite this?

[2019-04-24 18:55] ivantomica commented on #3753
Then I might have misunderstood something, but please help me understand the issue further.

As I see it, settings.py file is the file that ends up within docker container. Value of that variable is not being replaced in any way and allows you to set environment variable for docker container (from docker-compose or running docker container) which is automatically sourced by AWX. It doesn't have an

[2019-04-24 20:11] wenottingham opened #3762 "extraneous warnings when posting garbage credentials"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

AWX returns extraneous errors on bad input.

##### ENVIRONMENT
* AWX version: current
##### STEPS TO REPRODUCE

POST https://awx/api/v2/credentials/

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS
[code]

[2019-04-24 20:47] wenottingham opened #3763 "Vault KV config should validate URL"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The vault KV backend should validate the vault URL passed.

##### ENVIRONMENT
* AWX version: current

##### STEPS TO REPRODUCE

enter "host:1234" for a vault server

##### EXPECTED RESULTS

1) accepts it, uses it as http://host:1234/
- or -
2) throws an error on save

##### ACTUAL RESULTS

throws error on use

##### ADDITIONAL INFORMATION

[2019-04-24 20:48] ryanpetrello commented on #3763
What's the error?  What happens when you push the test button?

[2019-04-24 21:08] wenottingham commented on #3763
![hashi](https://user-images.githubusercontent.com/5208768/56693930-95357b00-66b3-11e9-92fe-d871fb9e622b.png)

[2019-04-25 00:00] ansiblejunky commented on #2459
Would be great to have this feature, as many customers would like to schedule a downtime/shutdown for upgrades or maintenance. Similar to how Jenkins does it, it would be great to set the downtime inside the app that would then produce a warning message to be displayed to users if they login to the app before the downtime occurs. The warning message can be displayed on the login screen.

[2019-04-25 10:48] extjperttula commented on #3760
Has the identity recognision somehow changed in playbook run as in the beginning there's:
Identity added: tmp/awx_1_6x19brtz/artifacts/1/ssh_key_data (/tmp/awx_1_6x19brtz/artifacts/1/ssh_key_data? Or is this just a change in the wording.

This used to be Identity added:xxxxxx/credential_4 or something like that.

[2019-04-25 14:47] konkolorado commented on #3753
The problem isn't in the build process, the problem is with the deployment. Environment variables provided to a container when it's initially created persist throughout the container's lifetime, so even if AWX only uses the SECRET_KEY env var at start up, that env var sticks around and can be read by users. Mounting /etc/tower/SECRET_KEY is a just a more secure way of providing the SECRET_KEY to A

[2019-04-25 16:07] matburt commented on #1206
This is most likely going to involve:

* Adding a job state to indicate to the task manager to not process the job
* Adding a job state to indicate approved/rejected
* Updating the task manager to handle not processing the job until it's been approved
* RBAC for delegating approval
* Notification support for alerting approvers
* UI/UX work for approval/rejecting
  * Workflow node to hook approval/

[2019-04-25 17:02] konkolorado opened #3764 "Launching a JT with a Credential that prompts throws status undefined error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using a Job Template that either (a) prompts for a credential at run time or (b) uses a credential that prompts for user input at run time, the job fails to launch and displays the error "Failed to get credential types. GET status: undefined".

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: kubernetes , docker for mac
* Ansible versi

[2019-04-25 19:39] wenottingham commented on #1206
@matburt unless the approval step is an actual task with certain parameters

[2019-04-26 07:10] extjperttula commented on #3760
After running the git clone for two hours it eventually fails with

fatal: [localhost,]: FAILED! => {"changed": false, "cmd": ["/usr/bin/git", "fetch", "origin"], "msg": "Failed to download remote objects and refs:  packet_write_wait: Connection to xx.xx.xx.xx port 22: Broken pipe\r\nfatal: The remote end hung up unexpectedly\nfatal: protocol error: bad pack header\n"}

[2019-04-26 14:40] keithjgrant commented on #4210
Sticking `Needs UX` on this for the error handling. It “works” now, but just says "error" in plain text at the bottom.

[2019-04-26 14:48] kfattig commented on #1697
We have users in multiple timezones and this is a recurring source of confusion, especially on the job details screen.  There's a critical detail not mentioned in the issue description - The output of a job (ansible output) has a fixed timezone. As mentioned in this issue the UI elements surrounding that text don't.  It's confusing to see two timestamps next to each other on the screen that are no

[2019-04-26 14:57] dsesami commented on #2857
at some point, this was repaired.

[2019-04-26 14:57] #2857 closed, assigned to nobody

[2019-04-26 15:15] keithjgrant commented on #4210
I was gonna tackle the spacing issues here, but I realized it probably makes sense to wait until PF gets updated in #174

[2019-04-26 17:00] wenottingham opened #3768 "Expand usage of action buttons in view/edit screen"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We now have `launch` button on the view/edit screen for Job Templates and Workflow Templates.

Ergo, we should have 'Sync' buttons on Inventory sources and Projects in the same way.

[2019-04-26 17:33] wenottingham opened #3769 "Change how multiple inventory sources are synced"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, if you have multiple inventory sources for an inventory, they are synced individually.
This leads to:
- confusing (and potentially deadlock-y) behavior
- a difference to how multiple inventory sources are used when you do it on the command line

We should move to not doing individual inventory source syncs. Instead, we should, when an inv

[2019-04-26 17:36] ryanpetrello commented on #3760
@extjperttula sounds to me like git itself is hanging attempting to clone via ssh?  If that's the case, not a lot we can do about that.

[2019-04-26 17:49] jperttul commented on #3760
I would totally agree but we have AWX Ansible 3.0.1 running simultaneously
to exactly the same repository. Or can that be actually the issue
that this 3.0.1 is holding the gitlab?

Kind regards
Jarkko

pe 26.4.2019 klo 20.37 Ryan Petrello <notifications@github.com> kirjoitti:

[2019-04-26 18:48] ryanpetrello commented on #3691
@NazNAzim can you share the inventory script with us (or at least the portion that's using the requests library)?

[2019-04-26 18:51] ryanpetrello commented on #3063
I'm able to reproduce this:

![image](https://user-images.githubusercontent.com/214912/56829815-bffa0d80-6832-11e9-9213-46203caf189f.png)

![image](https://user-images.githubusercontent.com/214912/56829832-c6888500-6832-11e9-813c-ff3afe5d3fad.png)

[2019-04-26 18:54] ryanpetrello commented on #3063
@kefiras,

Does quoting the value like _this_ work for you?

`groups__name="nonprod15-(nonprod15-a-1)master"`

[2019-04-26 19:52] #3744 closed, assigned to nobody

[2019-04-26 19:53] ryanpetrello commented on #3716
This isn't a bug report.  If you have questions about how AWX works, please try out our mailing list or IRC room on free node (`#ansible-awx`)

[2019-04-26 19:53] #3716 closed, assigned to nobody

[2019-04-26 19:56] ryanpetrello commented on #3725
If you're still encountering problems, please reopen this issue using the template provided at https://github.com/ansible/awx/issues/new?template=bug_report.md (please include all of the details requested).

[2019-04-26 19:57] ryanpetrello commented on #3725
@jpell958,

Which version of AWX are you using, and how is it deployed?  We've recently (in awx 4.0.0) made some notable changes to this UI.

[2019-04-26 19:58] ryanpetrello commented on #3699
We've made notable bug fixes related to stdout consumption in more recent versions of AWX.  Are you encountering this on the latest version (awx 4.0.0)?

[2019-04-26 20:01] #3642 closed, assigned to nobody

[2019-04-26 20:02] ryanpetrello commented on #3588
Are you still encountering this on the latest version of awx (4.0.0)?

[2019-04-26 20:05] ryanpetrello commented on #3512
@sumkincpp,

We've recently moved AWX (4.0.0) over to using ansible runner under the hood.  Are you still encountering this behavior discrepancy in the latest version of AWX?

[2019-04-26 20:09] ryanpetrello commented on #3473
Duplicate of https://github.com/ansible/awx/issues/1212

[2019-04-26 20:09] #3473 closed, assigned to nobody

[2019-04-26 20:11] wenottingham commented on #3476
This is currently intentional behavior; it would be a significant user-facing change at this point, and therefore would be treated/scheduled as n enhancement.

[2019-04-26 20:12] ryanpetrello commented on #3456
@pkaramol does your module behave as expected when run _outside_ of AWX (with plain Ansible)?

[2019-04-26 20:15] ryanpetrello commented on #3705
@lijok's explanation makes sense to me, it sounds like adjusting your inventory to reflect 3.0.1 -> 4.0.0 should be sufficient?

Please feel free to reopen if you're still having issues with your 4.0.0 install.

[2019-04-26 20:15] #3705 closed, assigned to nobody

[2019-04-26 20:18] ryanpetrello commented on #3419
This can be accomplished using a custom virtualenv:

https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

[2019-04-26 20:18] #3419 closed, assigned to nobody

[2019-04-26 20:20] ryanpetrello commented on #3432
@wenottingham if we haven't done this, it should probably be easy to prioritize and accomplish?

[2019-04-26 20:21] ryanpetrello commented on #3418
@batemanst AWX's usage of celery has changed dramatically in recent history (namely, we're not using it as a task queue anymore).

[2019-04-26 20:22] jpell958 commented on #3725
@ryanpetrello,

Thanks for the response.  We just tested the latest version of AWX and saw the functionality we are looking for now exists.  Kudos to all that made this possible.

[2019-04-26 20:23] #3415 closed, assigned to nobody

[2019-04-26 20:24] ryanpetrello commented on #3400
As @impca suggested, this issue tracker is for reporting bugs.  If you have questions about operating AWX, check out our mailing list or IRC room on Freenode (`#ansible-awx`)

[2019-04-26 20:24] #3400 closed, assigned to nobody

[2019-04-26 20:25] wenottingham commented on #3432
it filters down to UJT, so ... maybe?

[2019-04-26 20:31] #3325 closed, assigned to nobody

[2019-04-26 20:32] #3380 closed, assigned to nobody

[2019-04-26 20:32] ryanpetrello commented on #3368
@marshmalien @unlikelyzero is this still an issue, or has it been resolved?

[2019-04-26 20:33] ryanpetrello commented on #3366
@mabashian is this still an issue, or has it been resolved?

[2019-04-26 20:35] #3306 closed, assigned to nobody

[2019-04-26 20:38] ryanpetrello commented on #2409
@aamarques,

Are you still encountering this on the latest version of awx (4.0.0)?

[2019-04-26 20:39] #2884 closed

[2019-04-26 20:40] #3032 closed, assigned to nobody

[2019-04-26 20:40] #2194 closed, assigned to nobody

[2019-04-26 20:42] ryanpetrello commented on #2490
Closing due to age (and no response).

[2019-04-26 20:42] #2490 closed, assigned to nobody

[2019-04-26 20:44] ryanpetrello commented on #2482
Anybody still encountering this issue on the latest AWX (4.0.0)?

[2019-04-26 20:44] ryanpetrello commented on #2482
Anybody still encountering this issue on the latest AWX (4.0.0)?

[2019-04-26 20:46] #2931 closed, assigned to nobody

[2019-04-26 20:48] ryanpetrello commented on #47
Closing due to age and low priority.

[2019-04-26 20:48] #47 closed, assigned to nobody

[2019-04-26 20:49] wenottingham commented on #143
This will be done in the UI rewrite for patternfly.

[2019-04-26 20:49] #143 closed, assigned to nobody

[2019-04-26 20:51] wenottingham commented on #3432
also, the fact that org is merely inherited from a project likely complicates this.

[2019-04-26 20:57] #850 closed, assigned to nobody

[2019-04-26 20:57] ryanpetrello commented on #895
Probably not happening, HipChat is (soon to be) no more.

[2019-04-26 20:57] #895 closed, assigned to nobody

[2019-04-26 20:59] ryanpetrello commented on #1144
https://github.com/ansible/awx/blob/devel/requirements/requirements_ansible.txt#L106

[2019-04-26 20:59] #1144 closed, assigned to nobody

[2019-04-26 21:02] wenottingham commented on #633
For this, I'd suggest adding a passwordstore credential plugin, a la the hashivault and CyberArk ones.
(#3098 )

[2019-04-26 21:02] #633 closed, assigned to nobody

[2019-04-26 21:03] #3725 closed, assigned to nobody

[2019-04-26 21:05] AlanCoding commented on #268
The logic for this has been moved around (not changed), and with Ansible 2.8, we switch to running the inventory plugin. I want to follow through on this conversation, and be clear about what's possible.

`project_name` and `project_id` parameters, as well as some others, are defined by the openstack credential used by the inventory source.

The API version is accounted by the fact that we have an

[2019-04-26 21:05] #268 closed, assigned to nobody

[2019-04-26 21:07] ryanpetrello commented on #2115
👀 @AlanCoding

[2019-04-26 21:08] ryanpetrello commented on #2388
cc @wenottingham what's the official state of this?

[2019-04-26 21:09] #2322 closed, assigned to nobody

[2019-04-26 21:33] #2306 closed, assigned to kialam

[2019-04-26 23:15] jamesmarshall24 opened #3770 "Include Workflow ID Into Job_Events"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Include the workflow job ID within the job_events data. This allows users to track not only the resulting task details from the job, but also the workflow ID that spawned the job.

[2019-04-27 10:55] sinu opened #3771 "task not executing"
##### ISSUE TYPE
 - help wanted

##### SUMMARY
team i am trying to launch a template with list of variable_value but  task is getting executed only in one target host

sample request

`curl -H "Content-Type: application/json" -X POST -s -u admin:admin123 -d '{ "extra_vars": { "domain": "dom-cn-1", "targets": "dev-cn-c1", "targets": "dev-cn-c2", "fwcmd": "fw sam -v  -J src  192.168.10.10" }}' -k ht

[2019-04-27 12:54] flynn1973 opened #3772 "'float' object has no attribute 'iteritems'"
this error appeared out of no reason, no update ,no fiddling around, no nothing. seems it only bails out at fact gathering.

Identity added: /tmp/awx_1139_iC6hIp/credential_3 (/tmp/awx_1139_iC6hIp/credential_3)
1
Identity added: /tmp/awx_1139_iC6hIp/credential_3 (/tmp/awx_1139_iC6hIp/credential_3)
1
Identity added: /tmp/awx_1139_iC6hIp/credential_3 (/tmp/awx_1139_iC6hIp/credential_3)
2
3
PLAY [pre

[2019-04-27 14:54] #3771 closed, assigned to nobody

[2019-04-27 17:09] AlanCoding commented on #2115
It looks like we can at least close https://github.com/ansible/awx/issues/2934 as a duplicate.

We do have boto in our main requirements, which is used for the sole purpose of getting ec2 requirements.

https://github.com/ansible/awx/blob/aaeb2d6fb98681bf7b530e3c769a1d25380bfd8f/requirements/requirements.in#L6

Is this saying that we replace boto in the awx requirements with boto3?

[2019-04-28 10:27] GrishaDev commented on #3732
@ryanpetrello Hey sorry for delayed reply,  /var/lib/awx/venv contains  ansible or awx directories, and each of them are seperate venv that contain bin directory.
I assumed awx is the venv used by awx, so i did  `/var/lib/awx/venv/awx/bin/pip freeze` :

`ansible==2.7.6
Babel==0.9.6
backports.ssl-match-hostname==3.5.0.1
cffi==1.6.0
chardet==2.2.1
cryptography==1.7.2
enum34==1.0.4
idna==2.4
iniparse

[2019-04-29 10:44] SpikeShen opened #3773 "Resource lock on inventory while trying to delete a host."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The lock should be on host instead of the inventory.

##### ENVIRONMENT
* AWX version: 2.1.2.0
* AWX install method: docker on linux
* Ansible version:  2.7.4
* Operating System: CentOS 7.4
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Trying to delete a host in an inventory which has running jobs on **other hosts**, the delete operation fails with

[2019-04-29 13:27] msilmser opened #3774 "Allow cross organization inventories"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Customer request:

We have a customer who would like to have a single Satellite inventory in one organization. They would like to be able to assign inventory admin privileges to that org, to allow them to be able to create a smart inventory using hosts from that org in a separate org. Allowing this will prevent extra syncs and load against the Satell

[2019-04-29 13:58] pmoravec opened #3775 "sos plugin tower.py improvements"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Few improvements of https://github.com/ansible/awx/blob/devel/tools/sosreport/tower.py from a contributor of `sosreport` tool.

##### ENVIRONMENT
upstream code review

##### STEPS TO REPRODUCE
n.a., not much wrong in particular, rather code improvements suggestions.

##### EXPECTED RESULTS
- https://github.com/ansible/awx/blob/devel/tools/sosreport/tow

[2019-04-29 14:40] rmarcandier commented on #2225
@Commifreak what did you put inside /opt/aws-* ?

[2019-04-29 14:44] MarkusTeufelberger commented on #578
Having a role/playbook to interact with AWX using the https://docs.ansible.com/ansible/latest/modules/tower_job_template_module.html is a workaround, but then I'd probably need to lock down user interaction on the server (and/or an easier way to export the current templates into such tasks).

This approach (maintaining AWX config separately from AWX to be able to configure a server from scratch) i

[2019-04-29 14:48] ryanpetrello commented on #3732
Yep, I typo'd something.

What you want is:

`/var/lib/awx/venv/your-custom-venv/bin/pip freeze`

I _suspect_ that you won't see `pymongo` in there, and if that's the case, it sounds like you probably installed `pymongo` in your *global* system site-packages and want to do _this_ instead:

`/var/lib/awx/venv/your-custom-venv/bin/pip install pymongo`

[2019-04-29 14:52] wenottingham commented on #2388
I would like to call it tech preview. At the moment verification is running in a specific config? (cc @Spredzy )

[2019-04-29 14:55] wenottingham commented on #2115
We'd need to rewrite the code that gets regions. AIUI the boto3 API is *not* the same.

[2019-04-29 14:56] matburt opened #3776 "Support Ansible collections as a top level object"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Ansible Collections (see https://github.com/ansible/ansible/projects/30#card-13708579 and specifically https://github.com/ansible/ansible/pull/52194) are a means of gathering Ansible content beyond simple Roles that Galaxy supports today.

On the AWX side, we're likely to implement this at the Project level as it is most analagous to the Collection

[2019-04-29 14:57] wenottingham commented on #3770
This is currently on the job, not the events.

[2019-04-29 14:58] wenottingham commented on #3773
This is intentional, there is not concept of the "host" which has jobs running on it, only the inventory.

[2019-04-29 15:13] Commifreak commented on #2225
This is the awx release .zip file unzipped with settings made to inventory-file prior installing the awx containers. Just leaving this there in case I habe to re-create the containers with the specific version.

[2019-04-29 15:25] rmarcandier commented on #2225
Hello @Commifreak
Thank you for your reply.
I did the same process like you described, however now I am not able to log into my awx using the admin/password.

[root@hs2-inf-v-ans04 ~]# dockerps
-bash: dockerps: command not found
[root@hs2-inf-v-ans04 ~]# docker ps
CONTAINER ID        IMAGE                        COMMAND                  CREATED             STATUS              PORTS

[2019-04-29 15:54] AlanCoding commented on #2115
I changed the title of the issue to reflect this conversation, let me know if I do not have this right.

[2019-04-29 15:55] AlanCoding commented on #2934
Closing because we will track this in https://github.com/ansible/awx/issues/2115

[2019-04-29 15:55] #2934 closed, assigned to nobody

[2019-04-29 15:59] msilmser opened #3777 "Update email notification TLS/SSL options to be check boxes instead of radio buttons"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The TLS/SSL options are enable/disble buttons in the email notification option. At a glance, it looks like this needs to be one or the other because of the radio button view. Since these can be disabled, these should be updated to appear as check boxes.

[2019-04-29 16:39] Commifreak commented on #2225
Did you switched AWX version?

[2019-04-29 16:40] ryanpetrello commented on #3772
@flynn1973,

Please reopen this issue with all of the details requested at https://github.com/ansible/awx/issues/new?template=bug_report.md so that we can attempt to reproduce and help troubleshoot.

[2019-04-29 16:40] #3772 closed, assigned to nobody

[2019-04-29 16:44] rmarcandier commented on #2225
@Commifreak yes, from 3.0.1 to 4.0.0

I was able to log into the UI using my LDAP user, and was able to reset my admin user. I noticed that this proced duplicated my admin user. Not sure why...

It is working on 4.0.0 now. Thank you :)

[2019-04-29 16:48] Commifreak commented on #2225
Interesting. I didnt had this problem. Iam not using LDAP, maybe this is the key difference?

Gruß,
R. Kluth

[2019-04-29 16:49] extjperttula commented on #3760
This can be closed. In my case the issue was with the mtu values of eth0 vs. mtu values in awxcompose_default bridge network. Eth0 needed to be lower than the bridge mtu. Deleting the network once, building it again with docker-compose, changing eth0 mtu and things started to work. (well, in addition one or two reboots here and there).

[2019-04-29 17:10] rmarcandier commented on #2225
I need to investigate further to be able to give you an answer.

[2019-04-29 17:34] matburt opened #3778 "Upgrade to PostgreSQL 10 or 11"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

On the AWX application side nothing will really need to change here but:

* Compose definitions need to be updated
* K8s/Openshift startup playbook needs to be updated to point at the new system
* Dev environment and tools we install into the containers need to be updated

For container based deployments, I *think* postgres startup will upgrade the

[2019-04-29 17:52] unlikelyzero opened #3779 "A JT cannot Launch with Credential 'Prompt on Launch' configured"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A JT cannot Launch with Credential 'Prompt on Launch' configured.

##### ENVIRONMENT
* AWX version: 4.0.0

##### STEPS TO REPRODUCE
1. Create a JT with Credential 'Prompt on Launch' configured.
2. Launch JT from Template List.

##### EXPECTED RESULTS

Job Launch with prompt

##### ACTUAL RESULTS

Job Launch error modal 'Get: Credential not found'

####

[2019-04-29 18:33] matburt opened #3780 "Support Direct Role Execution"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Allow creating and executing Roles (possibly via the ad-hoc interface) and via Workflows.

Where Roles are possibly sourced via Collections.

[2019-04-29 18:50] rooftopcellist opened #3781 "Make Info Metrics more easy to query"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Currently `awx_system_info` and `awx_instance_info` metrics are returned as labels with values, which makes it difficult to query just the value of one key.  As a result, you can't query individual key's for their values in prometheus, for example: `awx_system_info{anisble_version}`.  This has already been fixed for licenses.

We should make the rest

[2019-04-29 18:59] unlikelyzero commented on #3779
closing as dupe of: ansible/awx#3764

[2019-04-29 18:59] #3779 closed, assigned to nobody

[2019-04-29 19:34] unlikelyzero commented on #407
Closing as this meets the AC. Leaving the comment above to document the new keyboard interaction

[2019-04-29 19:34] #407 closed, assigned to keithjgrant, unlikelyzero

[2019-04-30 10:26] GrishaDev commented on #3732
@ryanpetrello I only have 2 venvs in /var/lib/awx/venv,   which are ansible and awx.
Both have pymongo when i did pipfreeze( i installed on both)
By the environment value in playbook, i can see my awx is using the ansible venv.

In any case, it still doesn't work, when running the playbook it throws error:
the python pymongo module is required.

I have a feeling it's something small and dumb ;/

O

[2019-04-30 11:39] AlanCoding commented on #3774
Smart inventories are restricted to pulling hosts from within a single organization for permissions reasons. In this proposal, how would the user grant Org2 admins access to create a smart inventory that sources from Org1?

Have you tried adding the admins from Org2 to the `inventory_admin_role` of Org1? You can also make a team for the purpose of giving this permission.

[2019-04-30 13:08] ryanpetrello commented on #3732
@GrishaDev if you only have two virtualenvs in `/var/lib/awx/venv`, it sounds like you haven't followed the instructions at https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

When playbooks run in AWX, the `/var/lib/awx/venv/ansible` virtualenv is activated (unless you've configured a *custom* virtualenv following the instructions in my link above).

[2019-04-30 13:16] AlanCoding opened #3784 "Possible to move a host from one inventory to another"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using the API, a client can move a host from one inventory to another.

This leaves in place links to groups and inventory sources, pointing to the old inventory. This leaves the server in a very degenerate state.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible v

[2019-04-30 14:29] AlanCoding commented on #3476
USE permission -> execute permission

[2019-04-30 14:32] anthonyloukinas commented on #2173
@jlaska Not meaning to bring up an old issue.. but I've not found any commits/issues related to this issue recently.

Has there been any work done with upgrade paths, aside from moving to an entirely new instance?

[2019-04-30 14:40] ryanpetrello commented on #2173
@AStrangwood @anthonyloukinas @onitake @lucacri (and others)

We've made some tangible changes here, and they've mostly been around process, not specific commits:

1.  We've moved to a versioning model more like semantic versioning (https://semver.org/) to signal when new AWX versions might have breaking API changes.  You've probably noticed that AWX version numbers have been going up more quickly

[2019-04-30 15:52] unlikelyzero opened #3786 "Suboptimal use of column widths on the Activity Stream"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Activity Stream table displays events by timestamp and user. At the moment, it has issues with displaying events with items which exceed 12 characters.

##### ENVIRONMENT
* AWX version: 4.0.0
* Operating System: macOS
* Web Browser: Firefox 60ESR

##### STEPS TO REPRODUCE

1. Generate an activity on the activity Stream page with a resource/item/use

[2019-04-30 16:42] chipselden opened #3787 "Groups without hosts are missing from inventory during job run"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When executing against an inventory that has a group which contains vars but not hosts, the group is missing from the inventory supplied to the ansible playbook. Hosts added to the group do not inherit its variables.

##### ENVIRONMENT
* AWX version: 3.4.3
* AWX install method: docker on linux
* Ansible version: 2.7.10
* Operating System: CentOS 7.6.18

[2019-04-30 17:00] wenottingham commented on #3787
-> https://github.com/ansible/awx/pull/3232

[2019-04-30 17:00] #3787 closed, assigned to nobody

[2019-04-30 17:19] unlikelyzero opened #3788 "[WIP] Error Modal thrown when Copy Credential action performed with 50 or 100 displayed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
An error modal is displayed when performing a Copy Credential action if viewing 50 or 100 credentials at a time. The credential is still copied.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System: macOS
* Web Browser: Firefox 60ESR

[2019-04-30 17:20] mabashian commented on #1206
Thoughts on UI impact:

**Workflow Editor**
We'll need some way of defining or denoting a `wait node`.  I think I would prefer this be it's own node as opposed to being a flag attached to an existing node (with a JT, etc, etc) but am open to discussion there.  I think it would make the graph easier to read/understand at a glance.  If we do go down the path of making `wait` it's own node then we'll

[2019-04-30 17:47] ravitejajyosula opened #3790 "A server error has occurred."
##### ISSUE TYPE
 - Bug Report
    After installation the UI is giving and error on the initial login screen
- COMPONENT NAME
   UI
    When opening the Web interface after the installation I am getting the error
    "A server error has occurred."

##### SUMMARY
My AWS is getting redirected migrations_notran everytime without loading Login page

##### ENVIRONMENT
* AWX version:  AWX 3.0.0-92
* AWX

[2019-04-30 18:51] wenottingham opened #3792 "Investigate SCIM support"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

SCIM allows social-auth users (SAML, etc.) to automatically be provisioned *and deprovisioned* when necessary, allowing for more secure usage of social auth.

django lib here: https://github.com/15five/django-scim2

[2019-04-30 19:00] mruzicka-redhat commented on #371
Bumping to see if there might be any additional movement on this request. Thank you.

[2019-04-30 19:40] mabashian commented on #3776
OK, going to take a stab at what I think the UI changes might look like here:

**If we make collections a part of projects**
1. Update project form to support collections.  This may include adding new fields/modifying existing ones.  It'll be hard to plan this out until the API changes are mapped out.
2. Change JT form to support multiple projects (or multiple collection-projects).  Changing the f

[2019-04-30 19:56] ryanpetrello commented on #3790
Looks like your database is unavailable, or that your AWX web container can't reach it.

[2019-04-30 19:59] chipselden commented on #3787
Could you confirm that #3232 is a duplicate or covers this issue? The point being made here is that groups containing variables (but not hosts) are being omitted from the inventory at runtime. It doesn't seem that #3232 mentions this.

[2019-04-30 20:09] mabashian commented on #282
**UI Implications**

There are several places in the UI where the user can "upload" files but most notably is probably the logo file picker.  I don't see too much issue with using that as a starting point for this feature.  Assumption: If a file is uploaded then the user shouldn't be able to select/prompt for a project.  We may need to build in a mechanism for _removing_ that uploaded playbook if

[2019-04-30 20:28] mabashian commented on #3780
OK so for role execution in a workflow the UI/UX will depend a little bit on https://github.com/ansible/awx/issues/3776.  If we decide to go down the `collections are a subset of projects` then I think this would mean new rows showing up here:

<img width="421" alt="Screen Shot 2019-04-30 at 4 22 37 PM" src="https://user-images.githubusercontent.com/9889020/56990863-32852900-6b64-11e9-8ca2-e670033

[2019-04-30 21:09] wenottingham commented on #282
Whoops, we're not going to do that. We can strike that part of the feature.

[2019-04-30 21:12] wenottingham commented on #3787
empty group == group without hosts. Please try on the latest AWX and see if it resolves your issue.

[2019-04-30 21:19] chipselden commented on #3787
Appreciate it. Wasn't sure if containing variables counted as non-empty.

[2019-05-01 04:02] ryan012880 opened #3793 "Restrict REST API Access based on source IP/Hostname"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Is it possible for API access to be restricted from source IP/Hostname?

[2019-05-01 06:53] GrishaDev commented on #3732
@ryanpetrello but you said earlier on this post that because of my awx version, i don't need to follow this file as its made for awx 4.0.0(and i tried it anyway but it didnt work as why i opened this issue)
I tried manually creating custom venv but it didn't work, unless i need to specify awx to use it somehow without the API?

When i am trying the last option of api:

` PATCH https://awx-host.exa

[2019-05-01 09:53] joseorpa commented on #3778
I would be glad to help with this issue. Can you assign it to me?

[2019-05-01 11:57] unlikelyzero commented on #3788
I cannot reproduce this error

[2019-05-01 12:18] unlikelyzero opened #3794 "Expand and Collapse buttons are inert on Job Result Detail Page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Expand and Collapse buttons are inert on Job Result Detail Page

##### ENVIRONMENT
* AWX version: 4.0.0

##### STEPS TO REPRODUCE
1. Run a job to completion
2. On the Job Result Detail page, use the collapse expand buttons

##### EXPECTED RESULTS

Expand or collapse

##### ACTUAL RESULTS

inert action

[2019-05-01 12:21] #3788 closed, assigned to nobody

[2019-05-01 12:37] ryanpetrello commented on #3793
@ryan012880 this would be pretty difficult to pull off because the UI _itself_ is just a client for the REST API, so you'd need to whitelist the source IP of any browser user.  If you wanted to do something like this, it would probably make the most sense to edit the nginx configuration directly and add directives like:

[code]

[2019-05-01 13:19] Rylon opened #3795 "Add username environment variable when running job templates"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When executing a job template, it would be useful to have the username of the user who triggered the job template, added to the other environment variables set when a playbook is run.

The reason for this, is that we use Ansible to launch and configure VMs on different environments, and it's useful to be able to set some metadata based on which user

[2019-05-01 13:51] ryanpetrello commented on #3795
Hey @Rylon,

We _do_ already expose this data as an extra var (`awx_user_name`).  Is there a reason that wouldn't work?

https://github.com/ansible/awx/blob/devel/awx/main/models/unified_jobs.py#L1407-L1413

[2019-05-01 14:09] dc-jbd commented on #3691
I get these same errors (warnings?) using the devel version of vmware-inventory.py at https://github.com/ansible/ansible/blob/devel/contrib/inventory/vmware_inventory.py
and ansible 2.7.10
  python version = 2.7.5 (default, Oct 30 2018, 23:45:53) [GCC 4.8.5 20150623 (Red Hat 4.8.5-36)]
The inventory run completes though...

[2019-05-01 15:34] AlanCoding opened #3798 "Job Event children not being populated"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
There is supposed to be an accounting of job event children at `/api/v2/job_events/N/children/`, but this list is always coming up 0, even for an event `N` that clearly has its `uuid` field referenced by `parent_uuid` field on other events.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for m

[2019-05-01 15:45] matburt commented on #1206
This is tricky, because in order for this to work on a standard job template the approval/disapproval would have to be associated with the job itself. If we carry that forward into Workflows it would cause the user to have to create a stub job to act as the approval step, but for notifications it would give us something to hang a notification onto.

We could go a different way with this entirely,

[2019-05-01 16:08] wenottingham commented on #1206
Yeah, I'm fine with this being *just* for  a workflow node, and if you want it for a single JT, create a workflow with it.

For RBAC, etc. a MVP would be two choices - '"approve by anyone who can execute", and "approve by org admin or above". We could consider other choices, but I don't think we need them initially.

[2019-05-01 16:09] matburt commented on #1206
Yep. I think Org Admin or higher would work here.

[2019-05-01 16:10] wenottingham commented on #3795
Closing this since there is a feature that provides this (as extra var, not env var); you can set env vars from this if needed.

[2019-05-01 16:10] #3795 closed, assigned to nobody

[2019-05-01 16:13] #3793 closed, assigned to nobody

[2019-05-01 16:19] matburt commented on #3778
I'd say if you can get something up within the next week or two go for it. This is in the critical path for AWX so we'll end up assigning a comitter to look at it, but if you get a PR up then that'll make things a *whole* lot easier.

[2019-05-01 16:19] Rylon commented on #3795
Ahh, no that should work, let me verify and get back to you :) Thanks!

[2019-05-01 16:23] matburt commented on #282
Yeah lets not do that one ;)

The rest of these on the UI side look good. There's some complexity on the backend side of making sure we have the tree indexed for presenting a playbook list. Right now that's based entirely on what's on the filesystem but the files could be different between branches. This might not be fully possible depending on the scm type.

For Git it's important to point out th

[2019-05-01 16:58] ryanpetrello commented on #3732
@GrishaDev,

What does this print?

[code]

I've just run through the instructions in https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md again, installing pymongo into my custom virtualenv, and it works fine for me, so I suspect you're missing a step somewhere.

[2019-05-01 17:12] matburt commented on #3780
My thought here, is that Roles *could* actually come from projects even if we were to decide on a top level collections resources (I'm inclined to think these should all go under Projects, and multi-project job templates need to be a thing anyway).

Role execution I think will look a lot like ad-hoc execution from the inventory screen anyway. Then being able to add ad-hoc and role jobs to a workfl

[2019-05-01 17:38] AlanCoding commented on #3750
Does the same thing happen if the owner does not have implicit access via org admin or system admin?

[2019-05-01 18:14] ryanpetrello commented on #3775
@pmoravec

pull requests welcome 😉

[2019-05-01 20:10] rooftopcellist commented on #3781
I was able to change the info data to be individual line items, but am still unable to query just the value (given that the value is a str).

[code]

[2019-05-01 20:14] rooftopcellist commented on #3781
It looks like we could use `UNTYPED` data type (https://prometheus.io/docs/instrumenting/writing_exporters/#types)

But prometheus_client doesn't seem to support this, and futhermore, when I hardcode it into the metrics endpoint, I can't query it:

[code]

[2019-05-01 23:02] deeco commented on #3554
I'm having same issue on latest docker containers that previously worked ... Internal Serve error on AWX Server

 raise ImproperlyConfigured("The SECRET_KEY setting must not be empty.")
django.core.exceptions.ImproperlyConfigured: The SECRET_KEY setting must not be empty.
2019-05-01 22:59:54,236 INFO exited: daphne (exit status 1; not expected)

[2019-05-02 07:20] ravitejajyosula commented on #3790
hi @ryanpetrello database container is up and running. I am not sure what is stopping it to connect

[2019-05-02 08:20] GrishaDev commented on #3732
@ryanpetrello  I've just run through the instructions in https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md again, installing pymongo into my custom virtualenv, and it works fine for me, so I suspect you're missing a step somewhere.

I am sorry its taking long but this is a bit complicated ;D
/opt/ directory is empty and ~ /opt which is /root/opt doesn't exist.
Do i have to creat

[2019-05-02 09:34] joseorpa commented on #3778
Pull request created #3805
I'm working on Openshift stuff

[2019-05-02 10:07] Mohamed095 opened #3806 "failed : synchronize module in awx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker compose
* Ansible version:  2.7
* Operating System:  centos 7
* Web Browser: firefox

##### STEPS TO REPRODUCE
Hello,

when i run my playbook with awx, the synchronize task take a lot of time without any result, i think that awx has problem with this module, how can i overcame this pr

[2019-05-02 13:15] ryanpetrello commented on #3732
@GrishaDev

The steps are:

1.  Create a virtualenv in the web *and* task container in a location of your choosing using `virtualenv` or `python3 -m venv`.
2.  Install dependencies into that virtualenv: `/path/to/your-venv/bin/pip install pymongo`
3.  Update AWX settings so it knows where to find your virtualenv:

[code]

4.  Assign the virtualenv to a Job Template and run it.

[2019-05-02 13:22] matburt commented on #3806
If you are having trouble with an Ansible module you should check with the Ansible project.

[2019-05-02 13:22] #3806 closed, assigned to nobody

[2019-05-02 13:23] matburt commented on #3790
Looks like a database filesystem permission issue.

[2019-05-02 13:23] #3790 closed, assigned to nobody

[2019-05-02 13:27] ravitejajyosula commented on #3790
@matburt can you help me with troubleshooting steps to resolve the issue ??. Thanks in advance

[2019-05-02 15:00] ghost opened #3807 "Ansible Provisioning Callback error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX provisioning callback not functioning correctly. When I try to use the AWX provisioning callback I get an error of “{"detail":"You do not have permission to perform this action."}

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux,
* Ansible version:  2.7.9
* Operating System: CentOS Linux release 7.6.1810 (Core)
* Web Br

[2019-05-02 15:48] Mohamed095 commented on #3806
I think the problem is related to awx project because when i try to replace the "synchronize" module by "copy" module it's worked, in addition to that when i launched the playbook ( with "synchronize" module ) without awx then it's worked successfully, thanks.

[2019-05-02 18:54] unlikelyzero opened #3811 "Many popovers do not appear including the Recent Notification list"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Recent Notification list does not appear. No network errors. No console log

##### ENVIRONMENT
* AWX version: 4.0.0

##### STEPS TO REPRODUCE
1. Trigger a notification which passes or fails
2. Click on the bulb next to the notification.
Note: no list of notification history

##### EXPECTED RESULTS
1. Notification history

##### ACTUAL RESULTS
1. No not

[2019-05-02 19:17] unlikelyzero opened #3813 "Inventory Hosts Groups view has a busted table layout"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory Hosts Groups view has a busted table layout.

##### ENVIRONMENT
* AWX version: X.Y.Z

##### STEPS TO REPRODUCE
1. Navigate to the Inventory Page -> Select a host -> click on Groups
2. If not a part of group, add a group.
Note: that the table format is busted but the items / links / actions are still functional

##### EXPECTED RESULTS
1. prope

[2019-05-02 19:28] unlikelyzero opened #3814 "Clicking through the Failed Hosts on the Dashboard generates a strange query"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Note: Not a regression. Has been like this for quite some time.

Clicking through the Failed Hosts on the Dashboard generates a strange query.

- Pagesize is 25, not 20.
- UI Renders Pagination toggle for 20 instead of 25.
- Filter `has_active_failures:true` cannot be removed
- Filter should be `has_active_failures__icontains`

##### ENVIRONMENT
AWX 2

[2019-05-02 19:56] rooftopcellist commented on #3811
I can reproduce.  I am thinking that this line may be needed: https://github.com/ansible/awx/commit/9c20e1b4946f05cbb63a616f297dc7da62071385#diff-575afb44c6f45c35abbf843ceaa5c189L28  @mabashian could you give me some more context about this change?

It looks like this is the function that sets the notification status popup in question: https://github.com/ansible/awx/blob/devel/awx/ui/client/src/no

[2019-05-02 20:00] GrishaDev commented on #3732
@ryanpetrello

But you said...

CUSTOM_VENV_PATHS is a new feature in AWX 4.0.0

If you don't want to upgrade, just create your custom venv in /var/lib/awx/venv/ (no settings update necessary).

Again i have awx 3.0.0.

Please read the post again to save time, its running in circles.
Thanks

[2019-05-02 20:03] ryanpetrello commented on #3732
@GrishaDev,

If you're on awx 3.0.0, just put your custom virtualenv in `/var/lib/awx/venv/` and skip the `CUSTOM_VENV_PATHS` step.

Make sure you've run e.g.,

`/var/lib/awx/venv/my-custom-venv-name/bin/pip install pymongo`

[2019-05-02 21:01] kenmaglio opened #3816 "Extend Docker - Python Module - Then errors on Module PIP install in Playbook task"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We have extended the base task image, to allow us to include
1. Custom Env's and Additional 'standard' pip modules.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: kubernetes
* Ansible version:  2.7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Extend the docker image using the [documentation]
(https://github.com/ansible/awx/blob/devel

[2019-05-02 21:09] ryanpetrello commented on #3816
@kenmaglio,

Check out these steps for setting up custom virtualenvs in k8s environments:

https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md#kubernetes-custom-virtualenvs

Alternatively, check out this new feature in 4.0.0 that allows you to pull custom virtualenvs from _other_ (configurable) file system locations:

https://github.com/ansible/awx/issues/3126
https://github.com/a

[2019-05-02 21:09] #3816 closed, assigned to nobody

[2019-05-02 21:19] kenmaglio commented on #3816
@ryanpetrello So you're saying the way we did it - won't work when we deploy with K8s, and we need to refactor now ( we with this new version we moved it all into K8s) to use the K8s method in that doc?

[2019-05-02 21:45] ryanpetrello commented on #3816
You're installing awx with k8s already, right (your issue suggestion suggests so)?

You could _maybe_ make your way work, but the way suggested in our documentation is the recommended approach.

[2019-05-02 22:05] kenmaglio commented on #3816
@ryanpetrello I guess the thing we've noticed from using the OOTB AWX image on the prior version - we had no issues installing pip's from playbook tasks.

Our new method, while we looked at the k8s method, we chose to extend the docker image for speed and dependencies.
* the installs take about 5min to install, so we'd have to wait that long for a pod to "rebuild"
* dependencies

Using the docker

[2019-05-03 07:34] javierg21 commented on #857
Just to get back  on the issue I was refering with the error using   "{{ lookup('env','PWD') }}" I was able to solve it by using {{ playbook_dir }} instead

[2019-05-03 09:03] Mohamed095 opened #3817 "AWX V4.0.0 : Missing job outputs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method:  docker on linux
* Ansible version:  2.7
* Operating System: Centos 7
* Web Browser: Firefox

##### STEPS TO REPRODUCE
 I have AWX 4.0.1 running in the Docker containers, everything worked just fine but the problem is that when i run a job nothing is showing !! thanks.

[2019-05-03 09:50] bluikko commented on #989
I recall seeing somewhere that RH permits forking AWX.
Would there be enough interest to fork it, change branding (required as per RH), and change only to non-containerized deployment?

Edit: I have not looked at the repository, but I presume if only the deployment model is changed (install everything in a single machine without containers) it might not be that big of a task to keep tracking the A

[2019-05-03 12:03] tota45 opened #3819 "Permission error on relaunch job_templates with Execute permissions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A user has Execute permission on a job_template.
This user is permitted to run a job_templates.
This user is not permitted to relaunch this job_templates.

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: centos7
* Web Browser: Chrome v63.0

##### STEPS TO REPRODUCE

Create a use

[2019-05-03 12:27] dyioulos commented on #989
Aren't there already non-containerized editions available?  See https://github.com/MrMEEE/awx-build and https://github.com/subuk/awx-rpm

-------------------------------------------
On Fri, 5/3/19, bluikko <notifications@github.com> wrote:

 Subject: Re: [ansible/awx] Installation without containerisation (no docker, no openshift, no kubernetes) (#989)
 To: "ansible/awx" <awx@noreply.github.com>

[2019-05-03 12:50] Rylon commented on #3795
Hi @ryanpetrello confirmed that's all working as expected, thanks again! 👍

[2019-05-03 14:04] AlanCoding opened #3821 "Upgrade-in-progress middleware stopped working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The page saying that AWX is upgrading is not showing when AWX is not upgrade. 500 error instead.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

[code]

This assumes that the last migrati

[2019-05-03 14:07] AlanCoding commented on #3821
Link https://github.com/ansible/awx/pull/3510

[2019-05-03 14:34] kenmaglio commented on #3816
@ryanpetrello My worry here and why I submitted this  is this new feature...

https://github.com/ansible/awx/releases/tag/4.0.0
---------------
commit ec390b049dd9ff38885f23c53f5d475ea2c4ac82
Author: Vismay Golwala <vgolwala@redhat.com>
Date:   Tue Feb 26 22:09:28 2019 -0500

    Feature: custom virtual environment directories

    Currently, users are allowed to define virtual environments in

[2019-05-03 15:32] GrishaDev commented on #3732
@ryanpetrello  again we are running in circles, you are telling me what you told before, and i told you it didn't work, please re read the posts here.

[2019-05-03 15:52] AlanCoding commented on #2043
My 2 cents:

This should be solved by having the API throw errors when given duplicate keys. Some approaches to modifying the YAML loading logic to accomplish this:

https://gist.github.com/pypt/94d747fe5180851196eb

If someone wanted to dig into that, this seems very actionable to me.

[2019-05-03 16:02] ryanpetrello commented on #3750
Addressed by https://github.com/ansible/awx/pull/3801

[2019-05-03 16:09] ryanpetrello commented on #3840
Closing this in lieu of https://github.com/ansible/awx/issues/3679

[2019-05-03 16:29] ryanpetrello commented on #863
@AlanCoding @jakemcdermott one of you want to verify this and see if we can close it?

[2019-05-03 16:30] ryanpetrello commented on #950
Resolved via https://github.com/ansible/awx/pull/2847

[2019-05-03 16:30] #950 closed, assigned to nobody

[2019-05-03 16:32] ryanpetrello commented on #1256
Believe this is resolved now.  Please reopen if you're still seeing it.

[2019-05-03 16:32] #1256 closed, assigned to nobody

[2019-05-03 16:32] ryanpetrello commented on #1360
We don't show credentials on the JT list anymore - closing.

[2019-05-03 16:32] #1360 closed, assigned to nobody

[2019-05-03 16:33] AlanCoding commented on #863
5/3/2019 confirmed this bug still exists. Example credential - AWS type shows it. Right now I cannot find any credential which does not show these empty fields (only looking on first page).

[2019-05-03 16:37] ryanpetrello commented on #2727
Documented known issue: https://docs.ansible.com/ansible-tower/latest/html/userguide/workflows.html#extra-variables

[2019-05-03 16:37] #2727 closed, assigned to nobody

[2019-05-03 16:37] ryanpetrello commented on #2760
Resolved via https://github.com/ansible/awx/pull/3447

[2019-05-03 16:37] #2760 closed, assigned to nobody

[2019-05-03 16:39] ryanpetrello commented on #2975
Addressed by https://github.com/ansible/awx/pull/3005

[2019-05-03 16:39] #2975 closed, assigned to nobody

[2019-05-03 16:40] ryanpetrello commented on #3105
Addressed via https://github.com/ansible/awx/pull/3678

[2019-05-03 16:40] ryanpetrello commented on #3255
Addressed by https://github.com/ansible/awx/pull/3376

[2019-05-03 16:40] #3255 closed, assigned to nobody

[2019-05-03 16:42] ryanpetrello commented on #3311
Resolved by https://github.com/ansible/awx/pull/3629

[2019-05-03 16:42] #3311 closed, assigned to nobody

[2019-05-03 16:43] ryanpetrello commented on #3485
Addressed by https://github.com/ansible/ansible-runner/pull/256

[2019-05-03 16:43] #3485 closed, assigned to nobody

[2019-05-03 16:44] ryanpetrello commented on #3638
Closing this, as this is just a nuance of how the JSON parsing API works.

[2019-05-03 16:44] #3638 closed, assigned to nobody

[2019-05-03 16:45] ryanpetrello commented on #3763
Resolved.

[2019-05-03 16:45] #3763 closed, assigned to nobody

[2019-05-03 16:46] ryanpetrello commented on #3794
Resolved via https://github.com/ansible/awx/commit/04d22a930d662e4269b5b8337645232bb4de4d3e and https://github.com/ansible/awx/commit/46795cc71ef63135ec097f72e8c82448bedcca8d

[2019-05-03 16:46] #3794 closed, assigned to nobody

[2019-05-03 17:03] ryanpetrello commented on #3732
@GrishaDev I've tried it in my environment using the instructions in the documentation and it works 🤷‍♂

[2019-05-03 17:21] ryanpetrello commented on #3816
@kenmaglio the ownership of awx's directory for virtualenvs _definitely_ changed recently.

The way suggested in our documentation is the recommended approach (as of 4.0.0).

[2019-05-03 17:31] kenmaglio commented on #3816
@ryanpetrello -- So those changes have now BROKEN the ability to install pip modules as a task in a playbook.

So we were utilizing AWX  1.0.6.35  and the Task Pip worked.
Now with 4.0.0   Task Pip  no longer works.

[2019-05-03 17:32] ryanpetrello commented on #3816
@kenmaglio,

You upgraded from 1.0.6.35 to 4.0.0, which is a difference of three major versions.

Software changes.

We have a documented approach to accomplishing what you want, and I've helped explain it to you.

1.  Create a custom location to place your custom virtualenvs.
2.  Create a custom virtualenv there, and make sure it's writable as the appropriate user.
3.  Update `settings.CUSTOM_VEN

[2019-05-03 17:44] wenottingham commented on #1360
we do, but it appears to be working now

[2019-05-03 17:47] kenmaglio commented on #3816
@ryanpetrello

Really trying not to be difficult and appreciate your help on this... but

1. So we have a custom location  ansible2.7  by name
2. Since root appears to now own everything and is the user you log into now in 4.0.1
   Appears it used to be ( in 1.0.6.x at least)   uid 1000  which was assigned root - but now we appear to come in as  uid 0  we can see this on the prompt as well when we

[2019-05-03 17:59] shanemcd commented on #3816
@kenmaglio have you tried building your own image? the process for that is pretty easy. when you're running the installer, uncomment the `dockerhub_base` variable in the inventory file and follow the errors until you have an image built, and push that up to somewhere you can pull it from. Then specify the image with `-e kubernetes_task_image=your_awx_task -e kubernetes_web_image=your_awx_web`. We'

[2019-05-03 18:06] gomker commented on #443
I haven't looked at the code yet but would this not be easy enough to have a field configurable to your Enterprise github Domain and override it trying to go to public github.com ?

[2019-05-03 18:28] AlanCoding commented on #3679
Link https://github.com/ansible/awx/issues/2980

Someone is asking for the ability to order hosts there. We lack an engineering mechanism for satisfying any of these such requests.

[2019-05-03 18:39] matburt commented on #3679
An idea we've discussed with this:
Adjust the m2m associate to allow giving a position `{"associate":..., "id": n, "to_position": x}`

This necessitates a data migration to apply this to the existing association but would maintain backwards compatibility with existing association semantics. The api side would be responsible for recalculating position as things move around.

[2019-05-03 19:25] kenmaglio commented on #3816
@shanemcd  We have not built our own image from scratch and that's not really something we want to entertain. We don't want to fall away from the provided image and changes / enhancements to that image.  However, we simply wanted to add a few extra pip installs as they take a while.

What I'm suggesting we try is to use the OOTB 4.0.0 awx_task image and see what happens.
However, this is as simple

[2019-05-03 19:50] shanemcd commented on #3816
@kenmaglio What you have here looks pretty great to me. I think I might have missed some context. I inferred earlier that you were having permission errors when writing into the containers file system while it was running inside of Kubernetes. Are you seeing permission errors when trying to build the Dockerfile you've provided above?

[2019-05-03 20:00] kenmaglio commented on #3816
@shanemcd  So no not having any issues there.

And here's what's even weirder, OS packages are installing just fine.. it's apparently only pip modules.

Something about that directory... once it's running in K8s is locked down. We are not mounting any persistent storage to that ( no symlinks ) .

From all our K8s configs, nothing is touching that directory.
We're kind of stumped to be honest... an

[2019-05-03 20:01] shanemcd commented on #3816
I think I am starting to understand the problem now. Do you need to switch back to `USER 1000` at the end of your Dockerfile? Also compare the file permissions of the files you created with the files that were already in the container, then `chown -R` and `chmod -R`. Maybe re-run this: https://github.com/ansible/awx/blob/devel/installer/roles/image_build/templates/Dockerfile.j2#L30

[2019-05-03 20:24] kenmaglio commented on #3816
@shanemcd  Thanks for your suggestions we'll try that out!

[2019-05-03 21:53] geauxvirtual opened #3834 "Random failuer with k8s_facts module when job template includes inventory with multiple hosts"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a job template has an inventory with multiple servers, a task using the k8s_facts can fail with error message saying `ValueError: Unterminated string`

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: kubernetes
* Ansible version:  2.7.6

##### STEPS TO REPRODUCE

Playbook that contains a task using the k8s_facts module

[code]

An inv

[2019-05-03 23:12] AlanCoding commented on #3834
Could you click on the event and get the full details in the fatal task?

[2019-05-04 20:10] coreywan commented on #3816
Just for anyone else that may run into the `Read-only` error. It seems to be more of the feature of bubblewrap that is causing that error message. I just want to put this out here incase anyone runs into the same error and this shows up on their google search. 😄

[2019-05-05 09:26] GrishaDev commented on #3732
@ryanpetrello
Well idk, thanks, sorry it took long.
I guees i will just update to awx 4.0.0.

[2019-05-05 14:21] RogerSik opened #3835 "Start Template/Workflow for new created hosts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Current situation: when creating a new host and than starting the all-system workflow it takes up to 20-30 minutes to get it rollout on all machine. An option to run the workflow *once* for only new created hosts would be nice. Current workaround is to copy the workflow and limit it to the new hosts.

[2019-05-06 04:48] Testicule commented on #3429
This issue should be re-opened.

Or I will file another bug.

The way \n is handled in AWX is just completely unacceptable.

[2019-05-06 05:21] Testicule commented on #3429
I would like to point out that none of the suggestions in this thread are of any use whatsoever.

split('\n') - doesnt work.
stdout_lines - doesnt work.

Absolutely nothing i try can convince AWX to display output with proper handling of \n.

I am sick of ever single thing that produces multiline output, resulting in a solid, unreadable block of garbage, littered with visible "\n"'s.

This *CANNOT

[2019-05-06 05:48] Testicule commented on #3429
I've managed to get AWX to display something semi-acceptable, with:

- name: "Dump a log so we can see what was done."
  debug:
     var: _my_balls_ache.stdout_lines

When run in a terminal, ansible prefixes each line with a "-", but in AWX, it doesn't.

When using debug module "msg" mode, there still seems to be absolutely no way to get '\n' handled correctly.

[2019-05-06 07:38] MrBones757 commented on #1632
Is there any update on this issue? I've started seeing similar behavior in Ansible tower since we upgraded to latest a few weeks ago. I believe it could be the same root cause though not 100% sure yet...

[2019-05-06 08:28] yousong commented on #1879
[Release note of ansible tower](https://docs.ansible.com/ansible-tower/latest/html/release-notes/supported_locales.html) indicates that it has support for a large number of locales and many of them is not included in the awx code base here (`awx/locales/`, `awx/ui/po/`).

I am wondering what's the license status of those translation files and is it legal/viable/possible to import those into awx pr

[2019-05-06 09:19] skatsaounis opened #3836 "SAML Login - 502 Bad Gateway - upstream sent too big header"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am trying to login with SAML and although my user logs in successfully I am receiving 502 error. Same thing does not happen with other users.

Logs Sample:
[code]

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.5.1
* Operating System: Ubuntu 18.04
* Web Browser: Firefox, Chromium

##### ADDITIONAL I

[2019-05-06 11:53] szajac01 commented on #576
Also i'd like to know how it's not possible to flag by group some other role like project mananger, inventory manager. The only authorized are is_superused_ is_system_auditor

[2019-05-06 13:11] ryanpetrello commented on #3816
@coreywan that's a good point - @kenmaglio does the pip install work as you expect if you (temporarily) turn off bwrap?

[code]

[2019-05-06 14:25] zicklam opened #3838 "Skip SSL Verification for Webhooks with SelfSigned Certificates on Endpoint"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
 - Notification with type "Webhook" against https services with self-signed certificates will fail with error message:
  ```awx.main.tasks Send Notification Failed ("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')],)",)```

 - This PR will add an addiditonal checkbox to

[2019-05-06 14:27] ryanpetrello commented on #1879
@yousong,

I think this document is referring to support for locale-specific date/time formatting, not _actual_ full language translation.

The languages you see with translation files at https://github.com/ansible/awx/tree/devel/awx/locale are what AWX/Tower support in terms of language translation.

[2019-05-06 15:26] louisfrancoisSO commented on #750
Tested and it worked.
Just I renamed awx_default into ```awxcompose_default``` .

Ansible v2.5.1
AWX v4.0.0

[2019-05-06 15:30] #3813 closed, assigned to AlexSCorey

[2019-05-06 15:31] AlexSCorey commented on #3813
Fixed downstream

[2019-05-06 15:35] chrismeyersfsu commented on #4203
I'm bias, but I would like an "advanced mode" where you can see the API generated query. This way, users can type the UI version of the query and see what comes out after it goes through the meat grinder. Also, an options for users to input the API version of the query themselves in the UI.

[2019-05-06 17:11] ryanpetrello commented on #3679
I've started tinkering with this, and I'm **really** skeptical of the `{"associate":..., "id": n, "to_position": x}` approach because I think it's a really cumbersome API for integrators and could cause problems in a multi-user environment.

Imagine if you had a JT with instance group assignments like this:

`1, 2, 3, 4`

...and you wanted to:

1.  Edit the JT in the AWX UI.
2.  Pop open the `Inst

[2019-05-06 17:30] jakemcdermott commented on #3679
I agree with this.

PUT'ing the entire list in a replace operation is a lot more robust in multi-user situations. Issuing a complex sequence of requests on save is susceptible to all sorts problematic scenarios like the one mentioned above.

These problems can be  helped _somewhat_ by using a few tricks, such as re-requesting the latest state of an object _right_ before saving **[1]** to pick up a

[2019-05-06 18:01] AlanCoding commented on #3679
Let's say I have an inventory with a primary key 12.

This inventory starts with no instance groups attached to it.

Now, to this inventory (with no IGs yet), I make the request:

[code]

What does that do?

The most predictable answer is that it attaches instance groups with ids 2, 4, 3, and 5 to the inventory. This now introduces a bulk-attach operation. This has been suggested before and reject

[2019-05-06 18:09] chrismeyersfsu commented on #3679
@ryanpetrello proposal:
Pointing out the some what obvious, endpoints like `/api/v2/inventories/N/instance_groups` would now accept the `PUT` verb. Previously valid verbs were `POST` and `GET`.

We crack Pandora box an inch with bulk operations. Specifically, we are dealing with N resources on a single endpoint. I'm going to point out the subset of bulk operation issues that apply to this particul

[2019-05-06 18:31] AlanCoding commented on #3600
I've worked out the very basics of an API proposal which we can use to unblock the UI, so they can add this.

Concept:

A endpoint is introduced `/api/v2/roles/N/ancestors/`. This contains all of the role ancestors, with additional information in the summary fields, just like the access list. It is expected that the UI would filter this to `/api/v2/roles/N/ancestors/?members=<id of user of interes

[2019-05-06 18:46] AlanCoding commented on #3679
I thought these were always the same.

[2019-05-06 18:57] ryanpetrello commented on #3679
**So.**

I agree regarding the bulk operations addition - it's a notable change, and has a lot of percussions, so we'd want to make sure we got it right.

What if _today_, we just added the new `position` fields and _didn't_ change the API at all.

In other words, what if we *just* made attach/detach for this interface _actually work_ the way we've _told_ people it does (that it's ordered by the o

[2019-05-06 19:08] ryanpetrello commented on #3679
Next steps forward, and to clarify:

I'm going to continue to treat this issue as an enhancement that addresses what the title suggests ("Allow reordering instance groups without having to remove and re-add them").

As a first step, however, I'm going to open a PR that _actually fixes_ the "remove and re-add them" behavior that's **supposed** to work today (because it doesn't).

[2019-05-06 19:47] AlanCoding commented on #3819
Who was the original job launched by, and is that different from the user relaunching the job? What prompts were provided when originally launching? Also, https://github.com/ansible/awx/pull/3783 may have changed this.

[2019-05-06 20:04] abedwardsw commented on #3769
hi @wenottingham , I just ran into https://github.com/ansible/awx/issues/1997 and was wondering if when this feature is implemented it may also delete the no longer used group_vars/all from the inventory if the `overwrite` flag is set?   I found it quite confusing as I had deleted a variable from my group_vars/all which didn't propogate to the inventory.  It would be nice to add that feature to th

[2019-05-06 20:08] ryanpetrello commented on #3840
@AlanCoding so this may actually be more difficult than we initially thought:

[code]

Looks like this is a limitation of M2M `through=...` in Django < 2:

https://docs.djangoproject.com/en/1.11/topics/db/models/#intermediary-manytomany
![image](https://user-images.githubusercontent.com/214912/57252035-3e1b9880-7019-11e9-8cc7-65753202992f.png)

We make _extensive_ use of `.add()` and `.remove()` i

[2019-05-06 20:20] dsesami opened #3841 "Strange string in activity stream for various resources"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Strings look odd in their current format in activity streams when assigning a role to a resource, whether it is a project, inventory, credential, or job template.

The first string in the row here shows what I mean:

In generic terms:

1. Is admin_role (the role name) supposed to be written out like the way it is in the screenshot?
2. The phrasing is o

[2019-05-06 22:20] wenottingham commented on #576
At a technical implementation level, superuser and system auditor are literal flags on the user; the others are roles that users are associated with.

[2019-05-06 22:23] wenottingham commented on #3835
Is #1845 what you're looking for?

[2019-05-06 22:23] wenottingham commented on #3769
Possibly doable with this, yes.

[2019-05-07 06:21] fvzwieten commented on #3476
The point is that this is information leakage. As a Security Auditor, I would make a point on this.

[2019-05-07 08:16] geauxvirtual commented on #3834
[code]

[2019-05-07 09:54] sdktr commented on #3817
I experience the same problem running AWX 4.0.0 in Kubernetes. I've captures this log from awx_celery container that seems to hint at an issue with the callback?
![image](https://user-images.githubusercontent.com/19833687/57291824-8215a880-70c0-11e9-995c-9d3d964f6a8e.png)

[2019-05-07 10:49] Mohamed095 commented on #3817
I did not encounter this error before, I think your problem does not seem with my problem !!

[2019-05-07 11:25] sdktr commented on #3817
Are your events stored in the first place? They should be at:
https://awx/api/v2/jobs/{ job_id }/job_events/

In my case nothing is recorded there.

[2019-05-07 11:38] AlanCoding commented on #3476
https://github.com/ansible/awx/issues/3668

I could possibly imagine adding an auditor_role for job templates, although this would significantly complicate the querysets.

[2019-05-07 12:51] AlanCoding commented on #3834
This might be a valid issue to file for

https://github.com/ansible/ansible/issues

or

https://github.com/openshift/openshift-restclient-python/issues

Unless you know of something that clearly sets apart successful CLI use from use in AWX.

[2019-05-07 12:55] ryanpetrello commented on #3834
Agreed, this looks to me like an issue in the openshift client library being used by Ansible, not AWX:

[code]

[2019-05-07 12:55] #3834 closed, assigned to nobody

[2019-05-07 13:41] zicklam commented on #3777
Hi @msilmser
but with checkboxes you will be able to select both.
Another solution would be to add an "None" radio selection to visualize the correct behavior.

[2019-05-07 14:36] geauxvirtual commented on #3834
Again, I can run this same module from Ansible on the CLI of the AWX task container, and it does not fail. I ONLY see this error when running this module in AWX.

If I could duplicate this error outside of AWX, I would open the issue with ansible or openshift, but so far, the issue is only seen within AWX.

[2019-05-07 14:39] geauxvirtual commented on #3834
What sets apart operation in AWX from the cli?
Why would this fail in AWX but succeed on the CLI?
Why does the issue not occur when job slicing matches the number of hosts in the inventory?

[2019-05-07 14:55] geauxvirtual opened #3843 "Workflow shows as successful when a job template fails but has a successful task after always or failure branch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A workflow will show as successful when a job template or workflow template fails but runs a successful job template or workflow on a failure or always branch.

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: kubernetes
* Ansible version:  2.7.6

##### STEPS TO REPRODUCE

Create a workflow with a job template that fails. Add a successful j

[2019-05-07 14:59] AlanCoding commented on #3834
From what you're saying about the job slicing, I get that it works with 1 host, doesn't work with more hosts.

I am curious if your job template has the fact cache turned on. That's only of the only connections I could draw to the host count here.

The only surface area is the content being fed in the library's `configuration` (aside from non-obvious places it might look). If you could hack far en

[2019-05-07 15:17] geauxvirtual commented on #3834
Correct. If I run the job with one job slice and 3 hosts, the job fails. When I run the job with 3 job slices and 3 hosts, the job succeeds.

Fact cache is not enabled on the job templates.

[2019-05-07 15:53] AlanCoding commented on #3834
So I thought I would try to poke at the client library to see where these guys come up:

[code]

It seems I found it here:

https://github.com/openshift/openshift-restclient-python/blob/v0.8.4/openshift/dynamic/client.py#L111

Release 0.8.4 is from Jan 11. Not that long ago, but if you scroll through all subsequent versions, all the code around this cache processing experiences a huge amount of ch

[2019-05-07 16:07] mabashian opened #3845 "Basic search not working when defining smart inventory host filter"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
See gif:

![host_filter](https://user-images.githubusercontent.com/9889020/57314808-5bf00880-70c0-11e9-8c5a-555382164d01.gif)

We're making this request: `/api/v2/hosts/?order_by=name&page_size=5&inventory__organization=1&host_filter=local` from the UI when we should be making this request: `/api/v2/hosts/?order_by=name&page_size=5&inventory__organizat

[2019-05-07 16:29] cdvv7788 opened #3846 "Reload workers on code change (or improve documentation)"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY

I followed all the steps at https://github.com/ansible/awx/blob/devel/CONTRIBUTING.md and was able to set up the project locally. That much works.
However, when I started to modify python code, to see the changes I have to restart the whole process (tools_awx_1). I went to the irc (which is not very active) and

[2019-05-07 17:38] mabashian commented on #3845
Looks like this got introduced when we fixed https://github.com/ansible/awx/issues/950

[2019-05-07 18:09] jagibson commented on #371
I'm surprised this doesn't work.  It seems like basic functionality for smart inventories IMHO.

[2019-05-07 20:32] gamuniz opened #3847 "Allow for configurable ciphers for encrypting values in the database."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Some organizations would prefer to use CTR rather than CBC.

[2019-05-07 21:05] jbradberry commented on #3846
@cdvv7788 The Slack notification backend does not delegate to task workers, so the reload of uwsgi should be sufficient.  I am completely puzzled why the reloader would see your changes and reload, but you still have to restart your container to have those changes take effect.

**Edit**: though it may be that notifications are getting issued from within a task, so it might still be that the task w

[2019-05-07 21:16] cdvv7788 commented on #3846
@jbradberry I am running the test notification on the notification screen (the one with the bell icon).
I suspect of the async workers because of this:
![image](https://user-images.githubusercontent.com/5531776/57333765-5fe15200-70e3-11e9-8a61-d9fd3b0057d2.png)
uwsgi workers are logged like:
![image](https://user-images.githubusercontent.com/5531776/57333781-6cfe4100-70e3-11e9-80fa-e888affbfdff.pn

[2019-05-07 21:26] jbradberry commented on #3846
Ok, you are probably correct.  I'll dig into it a bit more tomorrow.

[2019-05-07 22:38] unlikelyzero commented on #3845
Verified by Mike locally:
- foo - search=foo
- foo bar - search=foo and search=bar
- foo or bar - search=foo or search=bar
- name:foo or bar - name__icontains=foo or search=bar
- name:foo bar - name__icontains=foo and search=bar
- foo or name:bar - search=foo or name__icontains=bar
- foo name:bar - search=foo and name__icontains=bar
- name:foo or name:bar - name__icontains=foo or name__icontains=b

[2019-05-08 08:06] Pakbon commented on #1889
If it's the only search result for this problem (close to first result in Google), it means loads of people have issues with this that needs to be addressed.
1. Just closing the thread and providing 0 help leaves them with a sour taste in their mouth.
2. The Google group mentioned above either does not exist or needs special permission to browse.

It seems awx-manage does exist inside one of the d

[2019-05-08 09:21] ente-trompete commented on #989
For me it forces also many additional effort to test AWX because it is  only available as a container install but additionally it is unacceptable that a Red Hat driven project is not installable if podman and podman-docker is installed instead docker on a CentOS 7.6. I have installed python-docker-py instead the docker module via PIP because according Google search exists only a separate podman mo

[2019-05-08 11:36] coudenysj commented on #3553
Any thoughts on things we can improve?

[2019-05-08 13:30] rvdlinden commented on #3774
It is possible to grant full admin rights from an Org1 maintained satellite sync'ed inventory to Org2.
The users in Org2 would be able to see and manage all content of that inventory.

The issue starts when that same inventory (which shows hosts, facts, etc) is used in Org2 within a Smart Inventory. Now the hosts and facts are suddenly not available anymore due to the fact the Smart Inventory and

[2019-05-08 15:15] jbradberry commented on #3846
@cdvv7788 As a faster way of dealing with this before the fix gets in, try starting a shell session in your container and then running `awx-manage run_dispatcher --reload`.

[2019-05-08 16:08] ryanpetrello commented on #1889
@Pakbon,

The google group link above should work just fine publicly.  Here it is for me in a private Chrome window:

https://groups.google.com/forum/#!forum/awx-project

![image](https://user-images.githubusercontent.com/214912/57390073-80fc7e00-7189-11e9-8c96-321c1c0042d5.png)

`awx-manage` is an executable that's available _inside_ awx containers; it's intended to used/run within an awx contain

[2019-05-08 16:31] cdvv7788 commented on #3846
@jbradberry I am seeing the following:
![image](https://user-images.githubusercontent.com/5531776/57391682-9f13af80-7184-11e9-9c52-8757a4c67fb7.png)
However, code changes are still not making it through. I am using a logger.error line inside the slack file and it always prints the original line.
Other than the merge, is there something else required for the change to catch up?

[2019-05-08 16:54] ryanpetrello commented on #3846
I think this just plain doesn’t work because the parent dispatcher process _forks_ its children.
When code changes in the development environment, the parent dispatcher process isn't recreated _itself_, so its children still have the old code.

To really accomplish this we’d need to have some way to restart the *entire* dispatcher process tree.  I don't think honcho has a way to restart processes

[2019-05-08 18:15] marshmalien commented on #4217
Currently, the PatternFly Login component doesn't support the ability to autofocus input fields (without manipulating the DOM directly). Once we're able to obtain a [ref](https://reactjs.org/docs/forwarding-refs.html) to the instance and focus the nested input field through the virtual DOM, this issue will be ready for development.

I've create an issue for the PatternFly React project here: https

[2019-05-08 18:41] AlexSCorey commented on #3841
After further investigation I have found that when the initial credential is created is automatically creates a permission that gives the creator the admin role.  When this happens the api creates an object that looks like this```

description: "associated  <a href="/#/credentials/27/">&nbsp;1&nbsp;</a> admin_role to  <a href="/#/users/1/">&nbsp;admin&nbsp;</a> "
id: 131
object1: "credential"
obje

[2019-05-08 18:53] ryanpetrello commented on #3846
@cdvv7788 thanks for reporting this, it should be resolved when https://github.com/ansible/awx/pull/3855 merges (shortly).

[2019-05-08 18:53] #3846 closed, assigned to nobody

[2019-05-08 19:17] mabashian commented on #3845
Fix coming shortly - closing for now

[2019-05-08 19:17] #3845 closed, assigned to mabashian, unlikelyzero

[2019-05-08 19:24] cdvv7788 commented on #3846
@ryanpetrello got it. Thanks a lot for your quick response.

[2019-05-08 21:14] ghost opened #3857 "Misleading error message "PERMISSION ERROR" when creating template with no project present"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On a freshly installed AWX instance with no projects and templates, when creating a new template the following message is shown:
"YOU DO NOT HAVE PERMISSION TO ADD A JOB TEMPLATE."

After creating a new project the template creation works as expected, so no permission issue.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux

[2019-05-09 00:59] idgdmg commented on #2871
@mhurron - is there any update / solution to this? We are running the AWX in Kubernetes and I see after 4-5 weeks the AWX instances are "dis-apperaring / re-appearing" in the AWX dashboard.

[2019-05-09 06:01] SpikeShen opened #3859 "performance issue while running job on large inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have 28,497 hosts in my inventory. AWX takes 4 mins to prepare for job start.

##### ENVIRONMENT
* AWX version: 2.1.2
* AWX install method: docker on linux
* Ansible version:  2.7.4
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Start a job on an inventory which have 28,497 hosts.

##### EXPECTED RESULTS

Job should sta

[2019-05-09 08:26] SpikeShen commented on #3859
All 28,497 hosts are imported by inventory scripts.

[2019-05-09 09:42] simplehx opened #3860 "how to build ui .po file?"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I want to convert the UI to Chinese，how to build zh-cn.po file in ui in folder?

[2019-05-09 12:48] shanemcd commented on #3859
How big is the host you’re running this on?

[2019-05-09 12:49] chrismeyersfsu commented on #3859
@SpikeShen we fixed that in a newer version of AWX. Try upgrading and let us know either way. Thanks!

[2019-05-09 13:55] ryanpetrello commented on #3859
Duplicate of https://github.com/ansible/awx/issues/3214

[2019-05-09 13:55] #3859 closed, assigned to nobody

[2019-05-09 14:43] HaraldPaterek opened #3862 "smart inventory filter ansible_facts.ansible_distribution_major_version gives no result"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am trying to build a smart inventory with the following filter:

ansible_facts.ansible_distribution_major_version:"6"

This doesn't return any hosts. Looking up a RHEL6 hosts I see the fact:

ansible_distribution_major_version: '6'

Repeating the query with single quotes or no quotes gives the same result.

##### ENVIRONMENT
* AWX version: 4.0.0
* AW

[2019-05-09 15:10] HaraldPaterek commented on #3862
The issue seems to be it doesn't like integers. When searching ansible_facts.ansible_distribution_release:Santiago it delivers valid results.

Searching for ansible_facts.ansible_distribution_version:6.10 gives no results, neither when quoting the 6.10.

But this returns results: ansible_facts.ansible_processor_vcpus:4

[2019-05-09 15:11] shanemcd commented on #3862
Likely https://github.com/ansible/awx/issues/3845

We can keep this open until the code lands upstream.

[2019-05-09 17:37] wenottingham commented on #3843
This is intentional. Workflow failure is defined as "a failure that is not caught/handled by a subsequent node".

If you need to propagate a failure, a final "failed when" step is likely useful.

[2019-05-09 17:37] #3843 closed, assigned to nobody

[2019-05-09 17:38] wenottingham commented on #3847
We currently do not control this; it is inherited from upstream fernet in python-cryptography. Support would need to be added there.

[2019-05-09 21:14] cdeniro commented on #3318
@AlanCoding After adding the HOME key I have not seen this issue. Thanks!

[2019-05-10 03:16] #3860 closed, assigned to nobody

[2019-05-10 05:07] simplehx opened #3867 "I am trying to add a new language to AWX,what should I do?"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I want to localize AWX and I found a .po file in /awx/ui/po/.
What should I do to add a new language?

I tried to modify the existing file and restart the docker container, but the UI language has not changed.
how to make language files valid?

Thanks.

[2019-05-10 11:02] #3867 closed, assigned to nobody

[2019-05-10 13:32] unlikelyzero commented on #3823
Note for future selves: test haproxy+ssl deployment

[2019-05-10 14:33] pjstam commented on #3554
Hello, deeco,

This is what I did to solve this SECRET_KEY issue. You are probally using an old installer/inventory file.

- Copy the original installer/inventory file that was used
- Downloaded the latest version from git
- Update the new inventory file with the changes made in the original one
- Run the installer
[code]
There should be a line near the end
[code]
- This file was not in my docker_

[2019-05-10 14:53] AlanCoding commented on #277
API part of this is up as a PR, but the UI part needs attention.

[2019-05-11 02:34] simplehx opened #3876 "How long does the ‘make docker-compose’ command need to execute?"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hello, everyone. I want to build the environment, but when I execute the `make docker-compose` command and run it all night, I still output this information. What can I do now?

I tried to execute the command `make docker-compose-test`

Output:

[2019-05-11 13:50] #3876 closed, assigned to nobody

[2019-05-11 14:28] joseorpa commented on #2488
It is already done, if you set the variables(management_mem_limit and/or management_cpu_limit) in the inventory the deployment will have limits as shown in the jinja template code:
{% if management_mem_limit is defined or management_cpu_limit is defined %}
        limits:
{% endif %}
{% if management_mem_limit is defined %}
          memory: "{{ management_mem_limit }}Gi"
{% endif %}
{% if managem

[2019-05-12 06:16] simplehx opened #3877 "Add new language is invalid"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I want to add a new language to the AXW project.

I created zh_CN.po in the /awx/ui/po folder.

and set "Language: zh-CN\n" in zh_CN.po

After I run the command
`make clean`
`make ui-release`
`make ui-devel`
`make docker-compose`

But when I use chrome to open https://0.0.0.0:8043, AWX still displays English.

My chrome language is already set to Chin

[2019-05-12 15:13] unlikelyzero commented on #3831
@AlanCoding has it been this way since the dawn of time?

[2019-05-12 15:19] unlikelyzero commented on #3105
https://github.com/ansible/tower/issues/3304#issuecomment-483296189

[2019-05-12 15:22] #3105 closed, assigned to nobody

[2019-05-13 02:46] #3877 closed, assigned to nobody

[2019-05-13 06:41] skatsaounis commented on #3836
Update on the issue:

I tried to increase the buffer size by setting the following values to the `location /` inside `/etc/nginx/ngixn.conf` of the `awx_web` container:

[code]

By doing that I managed to log in to awx with SAML but then, another error occurred: The cookie which stores the user dictionary `current_user` is not set. I tried to debug it and I found out that the serializer of uri `ss

[2019-05-13 07:35] DavidDessertine commented on #631
Hello,

anybody can help ? for information when I go to the login page, all statics are down :
for exemple I have `/static/js/app.bd927cc14dd2d4bf0c9a.js` and no `/awx/static/js/app.bd927cc14dd2d4bf0c9a.js` (and if I put that in my browser it works).
I can't proxy that "static" because I have my main site with "static" too.
I put execpted url in settings.py eg https://myhost/awx/ and restart awx b

[2019-05-13 08:07] DavidDessertine opened #3879 "Web UI not working when running AWX behind reverse proxy on a subdomain"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running AWX behind a reverse proxy on a subdomain, the UI is broken due to wrong URL in links to static assets. The API is working okay.
see #631 but that not resolved me issue.

##### ENVIRONMENT
* AWX version: 4.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: Ubuntu 18.04.2 LTS
* Web Browser:

##### STEP

[2019-05-13 08:32] iyurev commented on #1632
+ 1 -  AWX 3.0.1.0

[2019-05-13 11:37] AlanCoding commented on #3831
Since the introduction of configure-tower-in-tower, yes

[2019-05-13 11:40] AlanCoding commented on #3831
Actually, I might be wrong on one point. Break this into 2 items:

1. UI uses PATCH instead of DELETE
2. reverting a category reverts all settings

I know that 1 has been that way since the introduction of the feature. I am not so sure about 2. In fact, 2 probably needs to be re-tested, and it is a fairly severe bug.

[2019-05-13 12:11] AlanCoding commented on #3831
Ok, re-tested 2nd point, and it doesn't work exactly as originally stated.

The UI gets the defaults of all settings, and then when reverting a category, it does do a PATCH with all the values, but it does this with the user-provided values from the GET. It then replaces with the defaults only for the current category.

So that may be working as designed. In other words, it's not changing values f

[2019-05-13 12:16] AlanCoding commented on #3831
The point 1 is still inherently problematic.

![url_reset](https://user-images.githubusercontent.com/1385596/57620550-1798b880-7557-11e9-9edf-4fe84a5899a7.gif)

In this example, I visit from `http://localhost:8013` and reset to defaults. Then I visit from `https://localhost:8043` and reset to defaults. Resetting to defaults should never change values. It's not a factory default if it does. However

[2019-05-13 13:10] rageshpillai commented on #2279
I tried all the options. ping to the bastion is not working for me from the awx_task container

[2019-05-13 13:27] rageshpillai opened #3880 "Awx with jump host not working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: docker on linux,
* Ansible version:  2.7.5
* Operating System: rhel7
* Web Browser:

##### STEPS TO REPRODUCE

I installed AWX following instructions described here, using the docker-compose method.

I followed the instructions described here to configure the proxycommand on the inventory to

[2019-05-13 15:21] louisfrancoisSO opened #3881 "AWX parser of JT : playbook syntax fail"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hello,
My playbook is working fine on Ansible but fails on AWX.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.10
* Operating System: Ubuntu 18.04
* Web Browser: FF

##### STEPS TO REPRODUCE
My playbook:
[code]
This is from the module aruba_switch_module

And my inventory
[code]

##### EXPECTED RES

[2019-05-13 15:40] 8Peter8 commented on #3710
I am now assuming that Windows Subsystem for Linux is not a supported platform.

[2019-05-13 16:00] konkolorado commented on #3881
It looks like the arubaoss_vlan module might not be installed on AWX.  Can you verify?

[2019-05-13 16:23] tvo318 opened #3884 "Drop-down sort on Projects looks mis-aligned"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

![image](https://user-images.githubusercontent.com/7514801/57636216-f4c1d080-7565-11e9-9a3f-cea28c575943.png)

##### ENVIRONMENT
* Tower version: 3.5.0
* AWX install method: playbook run from tower.ansible.eng.rdu2.redhat.com
* Ansible version:  2.8.0b1.post0
* Operating System: Mac Mojave 10.14.4
* Web Browser: Chrome Version 74.0.3729.131 (Official

[2019-05-13 17:01] jamesmarshall24 opened #3885 "Consolidate Job Sliced View"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
 Currently the sliced portions of the job show as individual objects from the API which require extra queries to determine the overall sliced job result.

Provide an API endpoint which displays the total number of hosts managed, succeeded, and failed in a sliced job.

[2019-05-13 17:19] tvo318 opened #3886 "Missing Instance Group label"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Missing Instance Group Name in the Jobs tab.

##### ENVIRONMENT
* Tower version: 3.5.0
* AWX install method: playbook run from tower.ansible.eng.rdu2.redhat.com
* Ansible version:  2.8.0b1.post0
* Operating System: Mac Mojave 10.14.4
* Web Browser: Chrome Version 74.0.3729.131 (Official Build) (64-bit)

##### STEPS TO REPRODUCE
1. Go to Instance Groups

[2019-05-13 18:25] kenmaglio commented on #3816
@ryanpetrello @coreywan So Corey (works with us) did test this and came up with:

From Corey:

---

With bubblewrap still enabled, I reproduced the same error message with the read-only filesystem error.

I then turned off bubblewrap turned off we got the error message I suggested we would get earlier, access denied because the OOTB container is running as 1000 while the venv’s were built using ro

[2019-05-14 08:48] nicolaibaralmueller opened #3888 "Build sdist builder image task fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Build sdist builder image task fails in repo tag 4.0.0. Error is caused by Dockerfile.sdist.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.10
* Operating System: Ubuntu 18 bionic

##### STEPS TO REPRODUCE

git clone clone https://github.com/ansible/awx.git
git checkout tags/4.0.0
comment/remove d

[2019-05-14 09:16] louisfrancoisSO commented on #3881
Hello,

Thank you @konkolorado . It looks to be the probem. I did not know AWX used its own Ansible.
I installed the module on the container `awx_task`.
Now the error is different so I guess it is unrelated.

Thank you for your help,

[2019-05-14 09:16] #3881 closed, assigned to nobody

[2019-05-14 13:18] flynn1973 opened #3889 "ipaddr filter - ansible_all_ipv4_addresses' is undefined"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
when running a play which uses the ipaddr filter to gather networks i get the following error.
as a side note, this error only comes up when running inside awx, it runs sucessfully on the  command line.

[code]

##### ENVIRONMENT
* AWX version: 4.0.0.503
* AWX install method:  docker on linux,
* Ansible version:  2.8.0rc3
* Operating System: Linux
* We

[2019-05-14 14:03] flynn1973 commented on #3889
ok found out why these happens, for unknown reasons the awx facts cache was empty. until now i thought it uses the settings from ansible.cfg but it does not. however, closed.

[2019-05-14 14:03] #3889 closed, assigned to nobody

[2019-05-14 14:31] AlanCoding opened #3892 "Summary of job lifecycle history"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
For debugging purposes, there should be an easy place to get all status transitions for a job, which nodes in the cluster performed the transition, and why.

This will cover what we have been relying on these log messages for:

https://github.com/ansible/awx/blob/003ec64413bace1a41be117155a3864e9dbd3910/awx/main/scheduler/task_manager.py#L236

https:

[2019-05-14 14:49] ghost commented on #3705
It worked for me by changing the `postgres_data_dir` and `docker_compose_dir` but I'm curious why this is used as the default. It does not look like the logical place to put persistent data.

[2019-05-14 15:42] marcoskv commented on #3879
Same issue here.

- Docker images built from 4.0.0
- Ansible 2.7.10
- CentOS 7.6
- Browser: Firefox

I am using Apache as reverse proxy, and awx is configured to be served from /awx

[2019-05-14 15:54] clushie commented on #3611
Update: Yes you are required to apply this to the docker-compose.yml, but you don't have to place it into the same file. So adding something like `docker_compose_extend` (see [documentation](https://docs.docker.com/compose/extends/)) and then placing the content into a separate file is probably also a solution.

[2019-05-14 17:00] MaxCav666 opened #3894 "Persistent Volume Claim error in kubernetes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
When AWX is deployed in kubernetes, the Persistent Volume Claim that is created by default is not associated with any existing Persistent Volume in the cluster, preventing the "awx-postgresql-postgresql-0" pod from remaining in the "Pending" state indefinitely.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install met

[2019-05-14 17:45] konkolorado commented on #3816
I'm wondering if it would be easier (or even work) if you installed the pip requirements into the awx user's space (User 1000) with the --user flag (or extra_args: --user).  This assumes the user you are during the install is the same user running jobs on AWX which I think is in fact User 1000.

I've typically built the images and installed pip modules before by injecting the installation into the

[2019-05-14 17:48] shanemcd commented on #3894
For vanilla Kubernetes installs, we use `helm` which should take care of creating the PV for you. If that isn't working, you may want to focus your troubleshooting skills in that area. You may find setting the variable [`pg_persistence_storageClass`](https://github.com/ansible/awx/search?q=pg_persistence_storageClass&unscoped_q=pg_persistence_storageClass) to be helpful. Since this is not specific

[2019-05-14 17:48] #3894 closed, assigned to nobody

[2019-05-14 20:13] kenmaglio commented on #3816
We have decided to move forward with pushing any required PIP modules into our docker image build process. However, this breaks the development flow of python Ansible modules and use of them pretty badly vs. how things used to operate before.

[2019-05-15 04:04] ea-consulting opened #3897 "AWX UI returns "500 A server error has occurred", appears to be a RabbitMQ issue"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am able to log into AWX and complete several actions within the UI without issues; however, I am also getting, for example, `Call to /api/v2/.../... failed. DELETE returned status: 500. A server error has occurred.` and `Failed to save settings. Returned status: 500 A server error has occurred.` error messages when completing several actions within t

[2019-05-15 09:48] jean-christophe-manciot opened #3898 "<playbook-dir>/roles/requirements.yml is undetected during playbooks project creation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
```<playbook-dir>/roles/requirements.yml``` is undetected during playbooks project creation.

##### ENVIRONMENT
* AWX version: 3.0.0 --> 4.0.0-547-g6bc185665
* AWX install method: docker on linux
* Ansible version:  2.7.10
* Operating System: Debian buster
* Web Browser: chrome Version 74.0.3729.157 (Official Build) (64-bit)

[2019-05-15 10:09] jean-christophe-manciot commented on #3898
A closer look shows that:
- ```git-awx/awx/playbooks/project_update.yml``` is very different from ```/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/playbooks/project_update.yml```
    Why?
- in particular, the block conditional check in the latter is ```scm_full_checkout|bool and roles_enabled|bool``` instead of ```roles_enabled|bool```
- this brings 2 more possible causes to this issue: ``

[2019-05-15 10:21] jean-christophe-manciot commented on #3898
In ```/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/playbooks/project_update.yml```:
[code]
When the playbooks project is created or synced, is it considered a ```job template run```?

[2019-05-15 12:52] timothybosse commented on #3880
To be clear, this is an ssh/ssh configuration issue, not Ansible or AWX.  Along with the client side ssh debug, it would be good to see what is happening on the target server side.  I usually start /sbin/sshd -D manually on the target to get debug information.  Could you provide that as well?

[2019-05-15 13:24] ryanpetrello opened #3899 "Get rid of celerybeat usage"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We recently removed celery from awx, but we still use celerybeat.  Let's replace celerybeat with something more stable (https://github.com/celery/celery/issues/4777) and with more precision.

[2019-05-15 13:24] ryanpetrello commented on #3899
Options include:

- just take `beat.py` from celery
- use something like https://apscheduler.readthedocs.io/en/latest/
- use something like systemd containers
- write our own thing

[2019-05-15 15:45] wenottingham commented on #3898
Were you comparing current git head to AWX 3.x or 2.x? If so, yes, it's going to be changed....

There are two types of project update runs:
- the 'update' run (to update the revision of the project). This passes `scm_full_checkout: false`
- the 'sync' run, before running a template on the project. This ensures the project is fully checked out so the playbook can run. This runs with `scm_full_chec

[2019-05-15 17:04] cdvv7788 opened #3902 "Run templates with more than 1 credential"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I want to run a playbook to perform some changes on my entire infrastructure. I already have my inventory configured for that.
I want, however, to be able to use different keys for some parts of the infrastructure.
When I select credentials, there is a list with a radio button. I can select a different credential of different types, but not of the sa

[2019-05-15 17:39] matburt commented on #282
Some notes from design meeting:

Model semantics:
* Add field on the Project that informs allowing overriding the branch/version on the Job Template
* Keep existing branch/version field on the Project to act as a default
* adding branch specifier on job template
* Add Organization to Job Template (data migration of project org to job template). Of concern here is if a Job Template's project is nul

[2019-05-15 17:42] jlmitch5 commented on #282
UI notes
- Add allow override to project edit form for allowing branch to be changed at jt/wf level.
- Use inventory file in project select2 box for playbook on jt form (select + type in)
    - UX of current may not be great for users, figure out ideal case w Taufique and then see what’s possible w select2
    - We might need to refretch possible playbook list when branch changes just like when pr

[2019-05-15 17:45] AlanCoding commented on #282
I'm planning to file this as a separate issue after I've gathered more details about the expectation. For now, this is a related card covered by this point: https://github.com/ansible/awx/issues/3432

[2019-05-15 18:02] AlanCoding commented on #3613
this has been merged

[2019-05-15 18:02] #3613 closed, assigned to mabashian

[2019-05-15 18:07] cdeniro commented on #3318
I spoke too soon. The issue is back and I confirmed HOME variable is still set

[2019-05-15 18:24] wenottingham commented on #3902
-> #286

[2019-05-15 18:24] #3902 closed, assigned to nobody

[2019-05-15 18:24] AlanCoding commented on #286
Link https://github.com/ansible/ansible-runner/issues/51

[2019-05-15 19:13] AlanCoding opened #3903 "Make organization a field on job templates"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now, job templates have an implicit organization, based on the organization of its project (and sometimes inventory).

An `organization` field will be added directly to the job template. In a data migration, the JT's project's organization will be used for the default value. From then on, the JT organization will be used instead of the project

[2019-05-15 19:14] AlanCoding commented on #282
Created new issue to handle that point - https://github.com/ansible/awx/issues/3903

[2019-05-15 21:20] ansiblejunky commented on #2949
As of version 3.4.2, it can verify the following:
- user with only Job Template Admin rights can view/edit the JT but cannot see the Notifications button at all
- user with JT Admin and Notification Admin rights can view/edit the JT and can now see the Notifications button, but cannot enable/disable the notifications for that JT
- user with OrgAdmin rights, can view/edit the JT and can see the Not

[2019-05-16 02:07] AlanCoding commented on #3903
Also, I believe that this special case can be removed after this is done:

https://github.com/ansible/awx/blob/20e5d8200e359b6f57dd620fc728ee15d6d9aa86/awx/main/signals.py#L227-L239

We need to very carefully consider whether some other similar signals needs to be implemented after this model change is made. I don't think so, but there are dragons here.

[2019-05-16 02:08] AlanCoding commented on #458
Closing in favor of that 3903 issue, which should resolve this

[2019-05-16 02:08] #458 closed, assigned to nobody

[2019-05-16 02:08] AlanCoding commented on #3432
Closing to be done as part of 3903

[2019-05-16 02:08] #3432 closed, assigned to nobody

[2019-05-16 07:42] stefjakobs commented on #411
AWX has an option _ca_trust_dir_ which injects a directory as pki trust anchor. Unfortunately this doesn't help for ldap, as the openldap version used in AWX is buggy see: [https://bugzilla.redhat.com/show_bug.cgi?id=1270678](https://bugzilla.redhat.com/show_bug.cgi?id=1270678)

The following patch helped to disable the certificate check:
[code]
Tested with
AWX version: 4.0.0
AWX install method: d

[2019-05-16 11:07] joe-speedboat commented on #2951
Hi @jakemcdermott
Thanks for looking at this, would be great to have arrays available in webhooks soon.
but no stress...

cu
chris

[2019-05-16 11:19] jean-christophe-manciot commented on #3898
@wenottingham

I was comparing:
- git-awx/awx/playbooks/project_update.yml from git awx sources tag ```4.0.0-547-g6bc185665``` (way beyond 4.0.0)
- /var/lib/awx/venv/awx/lib/python3.6/site packages/awx/playbooks/project_update.yml from within the container ```docker-compose_task_1``` built from the previous tag.
We can expect that both are identical, can't we?

The issue happens when:
- the projec

[2019-05-16 12:59] AlanCoding commented on #3903
@mabashian @jlmitch5 The major UI item will be to add the organization selector to the job template here. I'm advocating handling this as its own vertical slice work item, which will involved API & UI.

[2019-05-16 13:02] AlanCoding commented on #3903
Another RBAC detail that I want triaged before starting on this:

 - Job templates have a list of "sensitive fields" which require permission to related resources in order to change. If a user modifies the JT `limit` field, they will probably require use_role for the project & inventory. Will any organization-level permissions be needed to perform this action?

[2019-05-16 14:32] lemmy04 opened #3907 "AWX web interface does not support HTTPS"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX web interface does not support HTTPS

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  not relevant
* Operating System: openSUSE Leap 15.0
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Install AWX using local_docker, make sure to put the path to a certificate file in your inventory file in ssl_cer

[2019-05-16 16:01] ryanpetrello commented on #3776
Notes/discussion from planning meeting:

1.  Create a top level resource to represent a Collection.
    - Top-level API endpoints
2.  A Job Template/playbook run can make use of _many_ Collections (unlike a Project).
3.  Collections need some form of RBAC so that you can control their usage.
    - System Administrators can define/whitelist which Collections can be used (globally)
    - Org Adminis

[2019-05-16 16:49] jlmitch5 commented on #3776
UI consideration.

The work will involve:
- CRUD interface for Collections is similar to Applications, it can only be managed by system administrators
    - Add form up in the air, unsure if we'll support scm-based collection/manual etc.
    - In the future, we will potentially be able to grab collections from a certain source without creating the objects in the UI.  they'll just "show up" (think

[2019-05-16 18:11] wenottingham commented on #2534
Plan is to coordinate with ansible team on how they are integrating mazer into Ansible as a non-tech-preview thing, and adjust project_update.yml accordingly.

[2019-05-16 18:53] ryanpetrello opened #3912 "large numbers of schedules cause a delay at dispatcher startup time"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1.  Install AWX with many schedules (100+) with this rrule:
[code]
2.  Start the dispatcher manually with `awx-manage run_dispatcher`.
3.  Observe that the jobs do not run until several minutes later.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker

[2019-05-16 18:54] ryanpetrello commented on #3912
This is happening because at dispatcher startup time, we run this code (which blocks) _before_ we start consuming messages:

https://github.com/ansible/awx/blob/devel/awx/main/tasks.py#L109

[2019-05-16 19:01] cvernooy23 commented on #1284
Another way to do it is to leave it up to users. Select the template to start at and run from there with the understanding that any variables that were set in previous jobs would not exist anymore and that some branches could have already been passed. This way operators of the system can decide which is the better option for the specific workflow, start from the beginning or continue.

[2019-05-16 19:39] AlanCoding commented on #282
Link another related issue: https://github.com/ansible/awx/issues/2357

Projects have conventionally had an `scm_revision` field associated with them. Project updates are the only thing that can modify that field on a "check" type update. Since the JT can pull any number of branches, a single value for this will no longer be sufficient.

My current thinking is that a project with `allow_override=T

[2019-05-17 07:11] gstorme commented on #3907
https://github.com/ansible/awx/pull/3604

[2019-05-17 07:21] okelet opened #3915 "Admin password is always reset during install"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running multiple times the installer, the admin password is always reset. If I have changed the password from the web, after running the installer, the password is reset to the default.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: kubernetes (microk8s)
* Ansible version:  ansible 2.7.10
* Operating System: Ubuntu 18.04 x64
* Web B

[2019-05-17 08:17] bigtob opened #3916 "Incorrect URL being used for Red Had Insights project synchronisation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Incorrect URL endpoint being used for project synchronisation, using an Insights credential.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.0
* Operating System: RHEL 7.4
* Web Browser: Chrome 74

##### STEPS TO REPRODUCE

1) Create an Insights credential
2) Create an Insights project
3) Synchronis

[2019-05-17 10:01] tota45 commented on #3819
The user is an "ldap" user. It is the same user that launches the job then relaunch the job.
I do not test yet with AWX 4.0

[2019-05-17 11:15] lijok commented on #3348
Ran into this yesterday as I was dealing with the same issue
What you can do is set the hostname as whatever, and add a variable "ansible_host" with the actual ip/hostname of the host

[2019-05-17 12:35] lemmy04 commented on #3907
can we please have that merged in?

[2019-05-17 12:39] AlanCoding commented on #3819
Does the UI show that the original job was launched by this user? (API field `created_by` in the job entry)

If that field is wrong, then we would need to address that. It would also be helpful to know if the job template has a survey, and if so, what type of questions are used in the survey.

[2019-05-17 12:59] ryanpetrello commented on #3916
@bigtob,

The instructions you referenced are for integrating with Red Hat Ansible Tower.  If you need assistance integrating with a Red Hat service like Red Hat Insights, please reach out to your Red Hat support representative.

[2019-05-17 12:59] #3916 closed, assigned to nobody

[2019-05-17 13:07] ryanpetrello commented on #3912
As I see it, there are two ways to solve this problem:

1.  Calculate schedules somewhere else, or in a non-blocking way.  I don't _think_ (I could be wrong) we can **actually** do this, because the way that AWX schedules work is that if AWX goes _offline_ and comes back up, we **don't** run the schedules that were _missed_ in the meantime.  That means that we _have to_ calculate the "next run dat

[2019-05-17 13:20] bigtob commented on #3916
@ryanpetrello

Hi Ryan, I don't follow. The URL used for the Insights integration is presumably sourced from within the AWX code and has been set as "https://example.org/r/insights/v3/maintenance?ansible=true". If this integration isn't 'supported' from within AWX then why is an Insights credential type offered?

I am happy to talk to my Red HAT SR for the correct steer, but as the issue doesn't o

[2019-05-17 14:29] ryanpetrello commented on #3912
I think _this_ code is actually the culprit regarding much of the slowness.

https://github.com/ansible/awx/blame/devel/awx/main/models/unified_jobs.py#L254

By commenting out this field computation on a JT with 1000 schedules, I'm seeing `Schedule.update_computed_fields()` go from ~4 minutes to ~10 seconds.

[2019-05-17 14:40] wenottingham commented on #3898
The change was made in March... all I can say is that your build must be stale if it's showing the two-part conditional.

[2019-05-17 15:35] mabashian commented on #3780
Updated UI plan:

- This will not impact projects/project sync nodes in any way
- A new node type will be supported "role execution"
- Creating a role execution node will mirror creating other nodes
- UI for creating nodes in general may need to change from tabs (Templates, Projects, Inventories) to a dropdown now that we'll have a fourth type (and maybe more types to come).
- First step when crea

[2019-05-17 17:39] matburt commented on #1206
`NotificationTemplates` can/should be bound on the `WorkflowJobTemplate` abstraction.

[2019-05-17 17:49] matburt commented on #1206
+ Time outs on these elements as failures

[2019-05-17 18:03] kdelee commented on #1206
From an API perspective there will be some way to get a list of nodes that are awaiting approval
The approval will be sent to the node in question
The approval needs to create an activity stream entry including the user who approved + node
The workflow is in “running” even if all it has is a node awaiting approval

[2019-05-17 18:27] marshmalien opened #4218 "Responsive bug - Datalist toolbar in instance group lookup modal"
#### SUMMARY
The datalist toolbar component should always stretch to fill the full width of the modal.

<img width="1920" alt="Screen Shot 2019-05-17 at 2 10 41 PM" src="https://user-images.githubusercontent.com/15881645/57947795-e2210180-78ad-11e9-8fc9-eb8a9b00cfcc.png">

![ig modal](https://user-images.githubusercontent.com/15881645/57947776-d33a4f00-78ad-11e9-98f2-f1c77caf74ce.gif)

[2019-05-18 22:39] apitanga opened #3922 "GCP credential injector missing needed parameters"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The gce credential injector generates a temporary json file in `GCE_CREDENTIALS_FILE_PATH` but that file is missing needed parameters and has a hard-coded values that are out-of-date

##### ENVIRONMENT
* Ansible version:  2.7.1
* Operating System: Fedora 30
* Web Browser: Firefox

##### STEPS TO REPRODUCE

1. Upload GCP credential file for your GCP ser

[2019-05-19 09:40] zernoff21 opened #3923 "Fatal Build Failed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Hello everyone! I was facing some issues during build.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: n/a
* Ansible version:  2.8.0
* Operating System: n/a
* Web Browser: n/a

##### STEPS TO REPRODUCE

I commended out `dockerhub_base` in `inventory` file and started build.

##### EXPECTED RESULTS

Successful build.

##### ACTUAL RESULTS

[2019-05-19 17:59] jean-christophe-manciot commented on #3898
You're right on this: the upgrade process from 3.0.0 as detailed [here](https://github.com/ansible/awx/blob/devel/INSTALL.md#maintenance-using-docker-compose) somehow did not work as expected. A closer look shows that:
- the containers have been renamed between the 2 releases (the docker-compose folder name has been replaced with 'awx')
- the newly created ```docker-compose/environment.sh``` match

[2019-05-20 09:17] nevotheless commented on #2944
Hey @LeDOC666,

Your issue was the only one on the search for help with our issue, so I'll post our answer here and hopefully, it can help you:

I assume you're behind a proxy server and have `http_proxy`, `https_proxy` and `no_proxy` vars on the awx_task container set.

The Errors you're getting are probably not from the Windows Server you're trying to connect to. The requests are probably sent t

[2019-05-20 12:46] dsesami commented on #3841
Phrasing has been corrected and the links are formatted as expected.

[2019-05-20 12:46] #3841 closed, assigned to dsesami, AlexSCorey

[2019-05-20 12:50] okelet opened #3924 "Azure login icon not displayed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Azure AD login icon is not displayed in login page, only a grey circle.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: kubernetes (microk8s)
* Ansible version:  2.7.10
* Operating System: Ubuntu 18.04
* Web Browser: Firefox/Chrome

##### STEPS TO REPRODUCE

Configured Azure AD Login; the login works fine, but the icon in the login pa

[2019-05-20 12:59] AlanCoding commented on #3922
Looking into it, link related issue

https://github.com/ansible/awx/issues/351

The reason this field was needed was because the code path for the inventory plugin expects email & token_uri, as per:

https://github.com/googleapis/google-auth-library-python/blob/master/google/oauth2/service_account.py#L208-L209

[2019-05-20 15:09] AlanCoding commented on #3922
@apitanga could you give an example playbook that reproduced the failure you mentioned? Interested in the specific module name and the parameter names passed to it. Could you also give the playbook output shown in AWX with high verbosity & a traceback?

[2019-05-20 15:43] patrikbeno opened #3926 ""Bad file descriptor" when trying to lock file on NFS mount"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

File descriptor obtained using `os.open()` cannot be used in `fcntl.flock()` call when the file is on NFS mount.

https://github.com/ansible/awx/blob/4.0.0/awx/main/tasks.py#L1853

`fcntl.flock(os.open())` does not work on NFS mount.
`fcntl.flock(open())` does work, or at least does not fail.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install metho

[2019-05-20 15:45] patrikbeno commented on #3926
Related: #2195

[2019-05-20 18:34] wenottingham opened #3929 "gratuitous bold on notification template screen"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When creating a notification template, the Use SSL/TLS options are randomly bold:

![Screenshot from 2019-05-20 14-32-16](https://user-images.githubusercontent.com/5208768/58043816-36c1b800-7b0c-11e9-9310-f54a62c00ea6.png)

Presumably a minor issue with the less/css.

##### ENVIRONMENT
* AWX version: current

[2019-05-20 21:04] marshmalien commented on #3811
Bootstrap tooltips and popovers use a built-in sanitizer that does not accept the HTML elements we are providing it by default (e.g., `<table>`, `<td>`).

Options to fix this issue:
1) Add HTML elements to the sanitizer whiteList
[code]
2) Build popover content using default [whiteList](https://getbootstrap.com/docs/4.3/getting-started/javascript/#sanitizer)
 3) Use a bootstrap popover alternative

[2019-05-21 00:59] sugitk commented on #3474
@ryanpetrello Should I merge this issue to #2008 ?
The customer needs to raise priority to solve.

[2019-05-21 07:47] Seljuke commented on #3879
Same issue here too, if I use root path (/) it is working properly, but with subpath config (/awx/) it isn't loading static assets.

- Docker-Compose 4.0.0
- Ansible 2.8
- Ubuntu 18.04.2
- Browser: Opera, Chrome

[2019-05-21 09:15] coudenysj commented on #3553
After some further investigation, I see the gap between the project update and the start of the playbook itself is always around 50 seconds.

`0:49.863176 since last line`
[code]

`0:48.842630 since last line`
[code]

`0:49.617920 since last line`:
[code]

Is there something we can change on the workers? Or on RabbitMQ?

[2019-05-21 09:45] BenoitCattie opened #3934 "Hosts not showing in smart inventory when source inventory script is used"
##### ISSUE TYPE
 - Bug Report

##### COMPONANT NAME
 - UI
- API

##### SUMMARY
When using an inventory source script with smart inventory, hosts are not listed on the smart inventory.

##### ENVIRONMENT
* AWX version: 3.0.1 (reproductible on 2.1.2 too)
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: Windows
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Creat

[2019-05-21 10:44] jean-christophe-manciot opened #3935 "An incorrect folder tree is created during roles download"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
A strange folder tree appears once the roles are downloaded..

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.0
* Operating System: Ubuntu eoan/Debian buster
* Web Browser: chrome Version 74.0.3729.157 (Official Build) (64-bit)

##### STEPS TO REPRODUCE
- Settings/Jobs/En

[2019-05-21 11:09] mrwiora commented on #3551
@jakemcdermott I've realized that meanwhile there is another line beside of the postgres-one that causes:
[code]
Is it really a good idea to place the two parts to /tmp? As most of the users will install their environment - luckily use it and afterwards - e.g. after and update or something will reboot the device..... and then will be upset if the data is missing and their containers not running...

[2019-05-21 12:46] AutomateIT1979 opened #3938 "Inventory Issue"
##### ISSUE TYPE
 - Bug Report
ERROR! No inventory was parsed, please check your configuration and options.
##### SUMMARY

I tried to create a dynamic inventory from OpenStack, unfortunately without success and I got the below error message :

**ERROR! No inventory was parsed, please check your configuration and options.**

##### ENVIRONMENT
* AWX version: <  AWX 4.0.0.0  >
* AWX install method:

[2019-05-21 12:58] ghost commented on #857
Hello,

Please someone can help me ? I have the same exact issue, i have done what you have explained but when I reinstall, web GUI doesn't work. I have added lines in local_docker/main.yml

When I comment line to mount volume in local_docker/main.yml and reinstall it's work fine.
I have added in inventory
project_data_dir=/opt/awx_projects But I have still the issue.

When I create folder in /opt

[2019-05-21 12:59] ryanpetrello commented on #3474
@sugitk this seems like a distinct issue worth tracking to me.

[2019-05-21 13:11] coudenysj commented on #3553
Ok, so I think I found the issue.

We have an inventory of 9000 hosts, and before starting the job (for a single host), I see thousands of queries like this:

[code]
followed by a huge amount of:
[code]

So this is probably related to https://github.com/ansible/awx/issues/3214 and https://github.com/ansible/awx/issues/3859.

[2019-05-21 13:24] ghost opened #3939 "Failed to update project: 4. PUT status: 400"
EDIT: I have uncomment this line like it's said and relaunch install and I have the exact same issue
`#project_data_dir=/var/lib/awx/projects`
##### ISSUE TYPE
Cannot save project
##### SUMMARY

I have done what it is explained on issue 857 but it doesn't work

##### ENVIRONMENT
* Ubuntu bionic
* AWX install method:  docker on linux
* Ansible version: ansible 2.8.0
* Operating System:  Ubuntu 18.0

[2019-05-21 13:28] ryanpetrello commented on #3553
Duplicate of https://github.com/ansible/awx/issues/3214

[2019-05-21 13:28] #3553 closed, assigned to nobody

[2019-05-21 13:45] wenottingham commented on #3938
`keystoneauth1.exceptions.http.Unauthorized: The username or password is wrong.
(HTTP 401)`

Check your config.

[2019-05-21 13:45] #3938 closed, assigned to nobody

[2019-05-21 13:46] wenottingham commented on #3935
Is this with 2.8 only, or also with other versions?

[2019-05-21 13:47] jean-christophe-manciot commented on #3935
It is not specific to ansible 2.8.

[2019-05-21 14:12] AutomateIT1979 commented on #3938
@wenottingham
Thank you for your reply. I installed OpenStack client and I created admin-openrc.sh file and I'm able to connect to OpenStack. would you please help me where shall I change/check the login and password in Ansible AWX

Thanking you in advance

[2019-05-21 14:34] konkolorado commented on #3923
This was fixed by #3640. If you want the fix you'll need to pull from that commit onward or wait until a new release gets cut.

[2019-05-21 14:37] #3923 closed, assigned to nobody

[2019-05-21 14:41] AlanCoding commented on #3938
To triage the issue, we would like you to confirm whether it works with your parameters with `ansible-inventory` or `ansible-playbook` locally via the CLI.

[2019-05-21 14:55] unlikelyzero commented on #3811
@marshmalien does this affect that bulb indicator across the entire app?

[2019-05-21 15:19] AutomateIT1979 commented on #3938
@AlanCoding
Unfortunately, all the machines are on the cloud. the PING from Ansible machine to other hosts is working fine. but when I try to create the dynamic inventory I obtained the error message mentioned above, and to be honest I'm not sure where is the issue and how I can solve it

[2019-05-21 16:08] marshmalien commented on #3811
@unlikelyzero This impacts the popover/tooltip on the bulb indicator IF it contains HTML elements that are not included in the bootstrap sanitizer whitelist. The project and job list status indicators work as expected because they display text within a `<div>`. Any bootstrap tooltip/popover that displays a `<table>` could have been affected when we [updated bootstrap](https://github.com/ansible/aw

[2019-05-21 20:58] bkmeneguello commented on #1654
When this new feature will be available?

[2019-05-21 21:01] wenottingham commented on #1654
... as noted, the PR was merged into AWX in April and is available now. If you are asking about something that pulls from AWX such as Ansible Tower, check with your Red Hat rep.

[2019-05-21 21:04] apitanga commented on #3922
@AlanCoding I'm using this playbook:

https://github.com/apitanga/ansible-playground/blob/master/playbooks/cloud.google/gcp_compute_disk.yaml

I'm passing the following variables via a `host_vars` file:
[code]

...and I'm passing the variable pointing at the credential file via "Extra Variables" in the AWX job template definition:

`gcp_compute_disk_service_account_file: '{{ lookup("env", "GCE_CRE

[2019-05-21 21:23] bkmeneguello commented on #1654
I'm asking when this will be available not in "devel" but as a stable tag. Sorry if I didn't make my self clear.
I'm using v4.0.0. I think this will be available in v4.1.0. There is a release date?

[2019-05-22 02:42] soniachan opened #3940 "No job output"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
There is no job output in https://awx/api/v2/jobs/<job_id>/stdout/
Empty job events in https://awx/api/v2/jobs/<job_id>/job_events/
##### ENVIRONMENT
* AWX version: 1.0
* AWX install method: docker on linux
* Ansible version:  2.6.3
* Operating System:
* Web Browser: Google Chrome 74.0.3729.169 (Official Build) (64-bit)

##### STEPS TO REPRODUCE
- run

[2019-05-22 03:56] ecchong commented on #3533
I have the exact same problem, but can't figure out why.  Both OneLogin and Okta have the same result.

[2019-05-22 06:03] soniachan commented on #3940
issue is solved by running the following in awx_task docker

[code]
then restart supervisor
[code]

[2019-05-22 06:42] aneagoe commented on #2382
We've hit the same, having this functionality would be great!

[2019-05-22 07:50] MrMEEE opened #3942 "Adoption of a Potato?"
Hi guys

I would like to adopt "The angry potato", as the official logo of the AWX-RPM.. (RPMs of AWX)..

This would make it easier to differentiate between the upstream and my builds..

Any objections?

![image](https://user-images.githubusercontent.com/768031/58156605-c4211b80-7c76-11e9-8073-2a5809edb2b1.png)

[2019-05-22 07:55] jean-christophe-manciot commented on #3935
I meant it happened with older versions as well, as reported in https://github.com/ansible/awx/issues/1632#issuecomment-458520491

[2019-05-22 09:19] soniachan commented on #3940
Issue started to happen again after some hours..
suspecting this relates to too many jobs are triggered at the same time

[2019-05-22 09:26] extjperttula commented on #3761
Facing exactly the same issue. Started immediately after the date change from 21st May to 22nd May. Re-installation surely would fix this but  something else would be nice to try first in live system.

[2019-05-22 10:07] jean-christophe-manciot opened #3943 "DATABASE_PASSWORD value in <docker-compose-path>/environment.sh must be quoted"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The ```DATABASE_PASSWORD```value is currently not quoted in ```/etc/tower/conf.d/environment.sh``` mapped to ```<docker-compose-path>/environment.sh```.
An error occurs when the ```DATABASE_PASSWORD``` contains a character that can be interpreted by the shell inside the ```awx_web``` container, such as '('.

##### ENVIRONMENT
* AWX version: 4.0.0 (4.0.

[2019-05-22 10:23] #3898 closed, assigned to nobody

[2019-05-22 10:26] #2812 closed, assigned to nobody

[2019-05-22 12:37] ryanpetrello commented on #3940
We've fixed a number of bugs related to stdout streaming since version 1.0 of AWX.  Please let us know if you're seeing the same problems on a modern version of AWX (the version you're running is nearly two years old).

[2019-05-22 12:37] #3940 closed, assigned to nobody

[2019-05-22 13:05] matburt commented on #3942
Go for it, you just need to make sure there aren't any changes otherwise.

[2019-05-22 13:05] #3942 closed, assigned to nobody

[2019-05-22 13:15] MrMEEE commented on #3942
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}  What do you mean by "any changes otherwise"??                                                                                                                                             Sendt fra min BlackBerry - den sikreste mobilenhed

[2019-05-22 13:22] gregdek commented on #3942
It means "don't make changes to the source when you package it."

[2019-05-22 13:41] MrMEEE commented on #3942
Ahhh.. Sure.. Just adding scripts :)

[2019-05-22 13:45] mabashian commented on #1206
Proposed UI changes (this likely isn't the final iteration):

**Creating a pause node in a workflow job template**

- When creating a new node in a workflow a new option `Pause` will be added.  We currently expose 3 different lists in the node form and we use tabs to all the user to toggle between them.  We'll be changing those tabs to a dropdown (default is to show the Templates list) to allow fo

[2019-05-22 15:12] wenottingham commented on #1654
I'm not directly on the eng side, but I believe in the next couple of weeks.

[2019-05-22 16:04] keithjgrant commented on #4211
The SelectedList component certainly looks like this, minus a few text labels. It _might_ be the right tool for this given a couple new props

[2019-05-22 16:32] mrwiora opened #3945 "Pending Delete on Demo Inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I delete all the Demo configured items via towercli:
[code]
but with the deletion of the Demo Inventory something went wrong. It still remains "pending deletion". Surviving server reboots.
Deleting the only existing Host "localhost" in this inventory is denied by the message:
[code]

##### ENVIRONMENT
* AWX version: 4.0.0 - commit dc1bf3ef
* AWX instal

[2019-05-22 17:12] ayaseen opened #3946 "Copy module, file not found"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
Copy module in playbook not works

##### ENVIRONMENT
* AWX version: 4
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2<
* Operating System: el7

##### STEPS TO REPRODUCE

Add a task in the playbook to copy a file from ansible awx controller i

[2019-05-22 18:06] MathijsVanWilligen commented on #3761
Same issue here with awx 4.0.0 on kubernetes, not showing job output and no ouput in https://awx/api/v2/jobs/{ job_id }/job_events/.
Also a reboot or re-installation won't fix this.

[2019-05-22 18:23] mabashian commented on #79
From the UI's perspective we're looking at breaking this work down into three sections:

**Adding templated content with field substitution**
There are still some decisions to be made here.  Do we want to give the user the ability to craft specific messages based on the event (Success, Failure, Job Start)?  To what extent does the UI need to help with syntax?  In some cases, the user may want to o

[2019-05-22 19:13] marshmalien opened #4219 "Templates List - Hookup Add Button"
## Templates List

Mockup: https://tower-mockups.testing.ansible.com/patternfly/templates/templates-add-dropdown/

* Display button if user has the correct RBAC permissions:
  * In current AWX, we check this via [rbacUiControlService.canAdd()](https://github.com/ansible/awx/blob/devel/awx/ui/client/src/shared/rbacUiControl.js)
* On click, show dropdown with two options: Job Template and Workflow T

[2019-05-22 19:28] marshmalien opened #4220 "Templates List - Hookup Sort Functionality"
## Templates List

Mockup: https://tower-mockups.testing.ansible.com/patternfly/templates/templates/

* Hookup sort dropdown options
  * Name (Ascending/Descending)
  * Modified (Ascending/Descending)
  * Last Job Run (Ascending/Descending)
  * Inventory (Ascending/Descending)
  * Project (Ascending/Descending)

* Mark strings for translation

<img width="1409" alt="Screen Shot 2019-05-22 at 3 26

[2019-05-22 19:33] kdelee commented on #3826
Redacted notes from meeting:
* @matburt 's new idea:
  * Performance data stored separate than event data, then we can aggregate data
  * Then we can generate average + highwater mark
  * Separate table, not on job event table
  * If we do this, must deal with it like fact cache data
  * @ryanpetrello 's concern: Do not get the distribution of processing this data that we get for free with the cal

[2019-05-22 20:07] AlanCoding commented on #1761
Let me just throw it out there that I think we should get rid of the activity stream middleware.

https://github.com/ansible/awx/blob/20e5d8200e359b6f57dd620fc728ee15d6d9aa86/awx/main/middleware.py#L68

This is a major complicating factor for this issue. There is way too much unnecessary complexity.

[2019-05-23 02:15] mkim33 commented on #3474
@ryanpetrello Is there a way to raise priority of this issue please? we have strategic customer in Australia wanting to find progress and ETA on this, thank you!

[2019-05-23 13:08] AlanCoding commented on #3912
Implementation details of the merged solution (for testing):

 - no schema changes were made
 - a change _was_ made that `next_run` of a schedule will not be updated if it is disabled
 - the database operations were reduced by efficiency tweaking that should not affect functionality

I believe you should still be able to get the preview endpoint for a disabled schedule, I don't feel like we're los

[2019-05-23 14:08] ryanpetrello commented on #2277
@rooftopcellist is this a distinct issue, or just a duplicate of https://github.com/ansible/awx/issues/2701 at this point?

[2019-05-23 14:10] mabashian opened #4221 "Job Results - Output Header"
## Job Results - Header

Mockup: https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs-output/

The data necessary to populate the header will come from `/api/v2/jobs/:id`.  Note that some of this data will not be available until the job finishes running.  We should display `...` for Plays, Tasks, and Hosts while the job is running.  We should display `00:00:00` for Elapsed Time while the

[2019-05-23 14:15] mabashian opened #4222 "Job Results - Delete"
## Job Results - Delete

Mockup: https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs-detail/

Depends on Job Results Skeleton https://github.com/ansible/awx-pf/issues/219

This delete flow should mirror almost all of our other deletes (see Org delete for initial reference #48).

#### Job Results Tasks
* Add Delete Icon (This should only be shown to users that can actually delete.  This

[2019-05-23 15:07] rooftopcellist commented on #2701
implemented in #3856

[2019-05-23 15:07] #2701 closed, assigned to nobody

[2019-05-23 15:09] mabashian opened #4223 "Job Results - Details"
## Job Results - Details

Mockup: https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs-detail/

Depends on #219

The data for the details comes from `/api/v2/jobs/:id`.  If the header work has already been done then this request will have already been made when the page is loaded.  This issue assumes that displaying extra variables has already been established.  If not, then it is not in

[2019-05-23 15:13] rooftopcellist commented on #2277
@ryanpetrello The difference is this issue also tracks better filtering for expired tokens.  This is not as much of an issue now that expired tokens will be cleaned up periodically with the system job, but we could potentially add a filter here so that users can more easily query for only _valid_ tokens, i.e.:

[code]

[2019-05-23 15:20] mabashian opened #4224 "Job Results - Output"
## Job Results - Output

Mockup: DNE, see yolotower

The work required here will likely be significant but the UI itself is fairly straightforward so I haven't broken it out into a bunch of pieces.  We should look at the existing awx logic in this area and see if we can re-use some of the same code/patterns to cut down on development time and avoid creating the wheel again.

Note that the first ta

[2019-05-23 15:26] ryanpetrello commented on #3761
@MathijsVanWilligen @extjperttula generally if there's *no* output and *no* events, it suggests that the callback receiver process isn't running, or is encountering errors.  Do you see any errors or tracebacks in your container logs?

[2019-05-23 17:03] kdelee commented on #3054
* Want way to support OR as we as AND logic
  * Current behavior is OR (e.g. any parent that WOULD trigger causes convergence node to trigger)
    - [ ] migrate any current WFJT that are convergence nodes (have multiple parents), to be set to have "OR" behavior
       * may have some challenge finding these nodes
   - [ ] New default should be “AND” instead of “OR”
* How to present this to users i

[2019-05-23 18:15] zhixiangjoy commented on #2308
Hello,I meet the same problem whith kuberntes 1.9.0,I use extenal pgsql 9.6.x from aws. I don't what wrong .I going to the pod ansible-tower-management run "awx-manage migrate --noinput" ,the problem is always on.  The error as following :
[code]

[2019-05-23 18:46] jladdjr commented on #3826
@AlanCoding - since it looks like you'll be picking up the API side of this, wanted to mention the branches I had been working on:
https://github.com/jladdjr/awx/tree/perf_stats
https://github.com/jladdjr/ansible-runner/tree/perf_stats

[2019-05-23 18:58] marshmalien opened #4225 "Templates List - Sparkline"
## Templates List

Mockup: https://tower-mockups.testing.ansible.com/patternfly/templates/templates/

<img width="1327" alt="Screen Shot 2019-05-23 at 2 18 15 PM" src="https://user-images.githubusercontent.com/15881645/58276561-c7df9b80-7d65-11e9-9618-a2231337b8e1.png">

This view should duplicate existing AWX behavior and display the status of the last 10 job runs.

#### Tasks
* This will require

[2019-05-23 20:31] mabashian opened #4226 "Jobs List - Create skeleton"
## Jobs List

Mockup: https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs/

This view should duplicate existing AWX behavior and display a list of all (non-sync) jobs. This list should be populated from `/api/v2/unified_jobs/` and filter by `order_by=-finished&not__launch_type=sync`.

#### Initial Skeleton Tasks
* Hookup Route
* Configure Breadcrumb
* Handle Empty State
* Pagination
* S

[2019-05-23 20:37] mabashian opened #4227 "Jobs List - Hookup Sort Functionality"
## Jobs List

Mockup: https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs/

Depends on https://github.com/ansible/awx-pf/issues/225

* Hookup sort dropdown options
  * Name (Ascending/Descending key: name)
  * Finish Time (Ascending/Descending key: finished)
  * Start Time (Ascending/Descending key: started)
  * Launched By (Ascending/Descending key: created_by__id)
  * Project (Ascendi

[2019-05-23 20:40] mabashian opened #4228 "Jobs List - Delete"
## Jobs List - Delete

Mockup: DNE

Depends on https://github.com/ansible/awx-pf/issues/225

This delete flow should mirror almost all of our other deletes (see Org delete for initial reference).

#### Job Results Header Tasks
* Add Delete Icon
  * Note that this should only be shown to users with appropriate permissions
* Show Delete Confirmation Modal when clicked
* Reload list contents after su

[2019-05-23 20:48] sdktr commented on #3761
@ryanpetrello we (@MathijsVanWilligen and I) noticed that the events are shown eventually, after about 36 hours. Analysing the database top queries reveales what seems like a background proces that your're referring to as well that moves logs from some queue to 'main_jobevent' psql table.

Can you point us in the right direction to understand this proces? We seem to have some kind of performance i

[2019-05-23 21:05] sdktr commented on #3761
Additionally: we encountered this since using AWX 4.0.0. We've not upgraded, but only migrated the config of the old 2.1.0 based installation so we didn't carry over the old job logs.
We have however increased the amount of tasks that run periodically so sizing (of the DB/k8s env) could be off. Some help into understanding how events _should_ be handled/archived is still appreciated though.

Login

[2019-05-23 21:09] sdktr commented on #3924
We have the same issue, has been present since at least 2.1.0, I wasn't aware that there should be an icon but that makes sense:-)

[2019-05-23 23:03] apitanga commented on #3922
Hi @AlanCoding, if we create a custom credential and add a multi-line field where users can upload the entire contents of the credentials file then create a tempfile with that and point the ENV variable to it it does work.

The problem seems to be because in the current, standard GCP credentials we are not passing the entire contents of the key, but extracting certain fields and creating a new tem

[2019-05-24 08:37] nicolaibaralmueller commented on #2225
I receive below error when running your command.

`
ERROR:
        Can't find a suitable configuration file in this directory or any
        parent. Are you in the right directory?

        Supported filenames: docker-compose.yml, docker-compose.yaml
`

[2019-05-24 09:35] albeus commented on #2225
Docker compose commands must be run in the proper directory (where is your docker-composer configuration file). So ensure that you run the command after you have entered in that directory.

[2019-05-24 09:40] nicolaibaralmueller commented on #2225
Thanks for the reply. I guess I'm missing some undestanding.

My AWX docker environment is up and running. So I have to go into /tmp/dockercompose where docker-compose.yml is located without editing the file first? FYI: I'm new to docker.

[2019-05-24 09:45] rageshpillai opened #3949 "Will AWX support Oracle Database with the existing code?"
What all changes  required to migrate existing code work with oracle database.

[2019-05-24 10:24] albeus commented on #2225
/tmp/ is not a good choice: at the next reboot you will lose your configurations. Docker-compose directory should be placed in a persistent location (eg. /usr/local/lib/) .

Anyway, yes, you should go into /tmp/dockercompose before running the docker-compose command.

[2019-05-24 11:58] nicolaibaralmueller commented on #2225
Thanks a bunch. I will correct the directory in the future.

I'm trying to find the best awx backup/restore strategy and so far tower-cli receive/send is awefull.
There is git repository awx-migrate which can export credentials with sensitive information (in clear text) but also uses tower-cli.

It would be best to be able to backup the database and restore with a new awx environment BUT what abou

[2019-05-24 12:43] orgito commented on #2225
Why not using docker instead of docker-compose?

`docker exec awx_postgres pg_dumpall -U awx --clean > ~/awx_dump_$(date +%F).sql`

assuming the postgres username is awx.

[2019-05-24 12:44] nicolaibaralmueller commented on #2225
Yes why not. Sound easier. What is the advantage of using docker compose with the command?

[2019-05-24 12:54] MaxCav666 opened #3950 "awx in kubernetes. playbooks only work with IP but not with dns"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I installed AWX in a kubernetes cluster version 1.4.1. From the AWX Web interface, playbooks work with IP address, but not with FQDN. However, interacting with the container does solve the FQDN.

##### ENVIRONMENT
* AWX version: 4.0.0.0
* AWX install method: kubernetes

##### STEPS TO REPRODUCE

[code]

[code]

[code]

![2019-05-24_13-45-27](https://us

[2019-05-24 13:27] nicolaibaralmueller commented on #2225
Sadly following your guide did not work for awx 4.0.0.

Too many errors to count during the psql import.

[2019-05-24 14:33] mabashian opened #4229 "Job Template Add Form - Create skeleton"
## Job Template Add Form

Mockup: https://tower-mockups.testing.ansible.com/patternfly/templates/templates-add/

#### Initial Skeleton Tasks
* Hookup Route
* Configure Breadcrumb
* Build form with the following fields:
  * Name
  * Description
  * Job Type
* Add SAVE/CANCEL buttons
  * Save button functionality is out of scope and will be tracked by https://github.com/ansible/awx-pf/issues/238
* M

[2019-05-24 15:12] kdelee commented on #3840
This works for me, going to close

[2019-05-24 15:13] #3840 closed, assigned to kdelee

[2019-05-24 15:48] flonowa commented on #3879
Same
    Docker-Compose 4.0.0
    Ansible 2.8
    Ubuntu CentOS 7
    Browser: Firefox, Chrome

[2019-05-24 16:44] larrybg commented on #3761
Hi @ryanpetrello !
And here we go again... Version 4.0.0.0 running about a month or so and quitting to show jobs outputs. Looks like this bug wasn't fixed. I'm opening new issue...
<img width="1215" alt="Screen Shot 2019-05-24 at 12 42 12 PM" src="https://user-images.githubusercontent.com/20246246/58343703-b6f46000-7e21-11e9-83f3-66cdf782d87e.png">

[2019-05-24 16:53] larrybg opened #3951 "AWX 4.0.0.0 stopped showing job outputs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX 4.0.0.0 running in the Docker containers. The database is installed on a separate server. New installation is about 1 month old. Stopped showing job outputs

##### ENVIRONMENT
* AWX version: 4.0.0.0
* AWX install method: docker on linux CentOS 7
* Ansible version:  2.7.9
* Operating System: CentOS
* Web Browser: Chrome, Safari

##### STEPS TO REPRO

[2019-05-24 17:03] xarses commented on #3513
Since this is the first search result for `TRANSFORM_INVALID_GROUP_CHARS`, I'm going to link this here https://github.com/ansible/ansible-documentation/issues/89.

[2019-05-24 17:31] wenottingham commented on #3949
This is not planned.

[2019-05-24 17:31] #3949 closed, assigned to nobody

[2019-05-24 18:29] larrybg commented on #3951
UPDATE: looks like it's a performance issue. I have left my browser opened on the job's page and suddenly the output starts loading in the log window...

[2019-05-24 19:15] kdelee commented on #3001
I am picking this issue up and starting by updating dependent tooling.

[2019-05-24 20:41] Spredzy commented on #3775
@ryanpetrello can this be closed as the PR has been merged ?

[2019-05-24 23:32] ea-consulting commented on #3897
Any help would be greatly appreciated! Thanks!

[2019-05-25 18:50] heckrock commented on #1992
I need this as well

[2019-05-27 06:52] ivangonzalezz opened #3952 "Conditional survey"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Let the survey to be dynamic. For example, when you input a question with a value X, then appear another question. But if you input a value Y, the next question does not appear. Implement conditional surveys to use in the UI of Tower.

[2019-05-27 09:31] philipneil commented on #3705
Hey there!

I'm facing this issue too.

What should I be setting the progres_data_dir and docker_compose_dir variables too?

[2019-05-27 09:35] philipneil commented on #3705
OK think I got it.. changed docker_compose_dir to /var/lib/awxcompose

AWX starting after reboot now :)

[2019-05-27 09:50] ghost commented on #3705
@ryanpetrello It seems like yet more people are running into this same problem... In the spirit of "sensible defaults", could we have this issue reopened and fixed please?

[2019-05-27 12:34] SebastiaanvandenBerg commented on #1731
I'm also affected by this bug/issue. when will there be a update?

[2019-05-27 12:50] Mohamed095 opened #3953 "[ERROR] Update project using git"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7
* Operating System: centos 7
* Web Browser: firefox

i'm trying to update my project using git, i got this error [ log of  "awx_task" container ] :

PLAY [all] *********************************************************************

TASK [delete project

[2019-05-27 13:18] ssaammoo commented on #357
can you please tell me where have you done that change ?

[2019-05-27 13:22] ryanpetrello commented on #3953
Your container is unable to reach your git repo:

`Failed connect to 172.30.10.169:80; No route to host`

[2019-05-27 13:22] #3953 closed, assigned to nobody

[2019-05-27 13:24] Mohamed095 commented on #3953
how can i figure out this problem?

[2019-05-27 13:29] Mohamed095 commented on #3953
for information: gitlab and awx_task containers had the same IP address.

[2019-05-27 14:32] ssaammoo commented on #3751
was this bug fixed please ?

[2019-05-28 05:54] kylecribbs opened #3954 "AWX Ansible - Python requirement for endpoint nodes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
running a command job with cat /etc/passwd requires python on the target node

##### ENVIRONMENT
* AWX version: 4.0
* AWX install method: docker on linux

##### STEPS TO REPRODUCE
In web interface select your host and click "Run Command" here you will choose command, and the args will be cat /etc/passwd. Choose your credentials. After clicking launch i

[2019-05-28 06:00] kylecribbs commented on #3954
I did find this [page](https://docs.ansible.com/ansible/latest/reference_appendices/faq.html) where it stated the python interpreter is required. I am a bit confused, why not have ansible spawn a subprocess to ssh into the box and run a bash command?

[2019-05-28 06:08] kylecribbs commented on #3950
What networking are you using for kubernetes? Correct me if I am wrong, but you only tried 1 of the 4 pods to resolve? I have seen weave and calico randomly fail for DNS on random containers..

[2019-05-28 06:10] kylecribbs commented on #3915
Is your postgres server persistent?

[2019-05-28 06:57] okelet commented on #3915
Yes, it's is a deployment in AWS with Aurora Postgres. The block, that should contain a `when`, to only set the password if the installation is new, or is forced to reset:

https://github.com/ansible/awx/blob/devel/installer/roles/kubernetes/tasks/main.yml#L188

[2019-05-28 07:58] MaxCav666 commented on #3950
I am using Flannel.
I entered the awx-web container and did not resolve FQDN.
[code]
However, I tried it again and now it solves well.
[code]

[2019-05-28 08:50] dipeshthakur commented on #3897
Even , i'm facing similar issue . any help would be appreciate

Thanks

[2019-05-28 10:06] adpavlov opened #3955 "local_action Unable to connect to port 22 on 127.0.0.1 or ::1"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

It seems that local_action ignores ansible_connection=local varible and tries to ssh localhost.
At the same time ad-hoc command to localhost works fine.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: RHEL 7.4
* Web Browser: any

##### STEPS TO REPRODUCE

[code]

##### EXPECTE

[2019-05-28 13:27] ryanpetrello commented on #3954
This is a dependency of Ansible itself.  From the link you referenced:

[2019-05-28 13:27] #3954 closed, assigned to nobody

[2019-05-28 13:34] ssaammoo opened #3956 "Error starting project unknown cause"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX Installation failed with unknow error

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.0
* Operating System: CentOS 7.6.1810
* Web Browser: Chrome

##### STEPS TO REPRODUCE

I had AWX 3.0.1 running and then I tried to install AWX 4.0.0 on top, the same procedure worked fine to upgrade AWX 3.0.0.

[2019-05-28 13:42] ryanpetrello commented on #3956
@ssaammoo I've seen errors like this with older `docker-compose` versions.  What version of `docker-compose` are you using?  Try updating to the latest?

[2019-05-28 13:44] #3775 closed, assigned to nobody

[2019-05-28 13:54] ryanpetrello commented on #3751
Should be resolved by https://github.com/ansible/awx/pull/3604

[2019-05-28 13:54] #3751 closed, assigned to nobody

[2019-05-28 13:59] mabashian opened #4230 "Multi-select or add new component (Labels, Tags, etc/Select2)"
This is the Select2 dropdown component that allows the user to select multiple values from an existing list or add new values.

Mockup: https://tower-mockups.testing.ansible.com/patternfly/templates/templates-add/

This is how the component operates in the existing UI:

![labels](https://user-images.githubusercontent.com/9889020/58483530-7b61da80-812e-11e9-8311-77b6b6c2a552.gif)

- User should be

[2019-05-28 14:44] konkolorado commented on #3897
Looks like the loopback_users setting didn't make it into your RabbitMQ configuration.  Can you check that it's set to none or false?
https://www.rabbitmq.com/access-control.html#loopback-users

[2019-05-28 15:12] ssaammoo commented on #3956
@ryanpetrello
here we go:
[code]

[2019-05-28 15:22] mabashian opened #4231 "Job Template Add Form - Credential Lookup"
## Job Template Add Form - Credential Lookup

Mockup: https://tower-mockups.testing.ansible.com/patternfly/templates/templates-edit-creds/

_Current AWX behavior for reference_
<img width="1416" alt="Screen Shot 2019-05-28 at 10 50 26 AM" src="https://user-images.githubusercontent.com/9889020/58488132-d4ce0780-8136-11e9-9f12-689e214076e7.png">

<img width="732" alt="Screen Shot 2019-05-28 at 10 51

[2019-05-28 15:24] kylecribbs commented on #3954
@ryanpetrello I guess my real question is, how do I run a command or ping in AWX without a python dependency?

[2019-05-28 15:46] mabashian opened #4232 "Job Template Add Form - Single Select Lookup Component (Project/Inventory)"
## Job Template Add Form - Single Select Lookup Component (Project/Inventory)

In the Job Template Form (and many others to come) we need to give the user the ability to select a single resource from a list of possible resources.  Specifically in the Job Template Form(s) this refers to Inventory and Project.

Mockup: DNE... reference existing UI for now:

<img width="466" alt="Screen Shot 2019-05-

[2019-05-28 15:50] ryanpetrello commented on #3954
@kylecribbs if you want to use the `command` and `ping` modules _directly_, you don't.

https://docs.ansible.com/ansible/latest/modules/raw_module.html might be more what you're looking for.

If you want to use the `raw` module in AWX, you'll need to whitelist it (it's not enabled by default):

<img width="592" alt="image" src="https://user-images.githubusercontent.com/214912/58492364-c08e0880-813

[2019-05-28 15:55] ryanpetrello commented on #3956
@ssaammoo this version is working for me, maybe give it a shot?

[code]

[2019-05-28 15:55] mabashian opened #4233 "Job Template Add Form - Playbook Field"
## Job Template Add Form - Playbook Field

Mockup: https://tower-mockups.testing.ansible.com/patternfly/templates/templates-add/

<img width="466" alt="Screen Shot 2019-05-28 at 11 51 32 AM" src="https://user-images.githubusercontent.com/9889020/58492498-02b74a00-813f-11e9-8b68-72960bb851b7.png">

#### Tasks
* Add playbook dropdown
  * If there is a default/existing value it should be displayed as

[2019-05-28 16:07] ryanpetrello commented on #3945
@mwiora if I had to guess, something probably interrupted the deletion, and it got stuck in this pending state.

Try running this in the `shell_plus`?

[code]

[2019-05-28 16:34] jakemcdermott commented on #3826
The ask is to show a performance graph for the entire job run.  From a UI _implementation_ standpoint the most important things we need given our current scoping and time estimates are:

**[1]**  It takes one (or at the very least a _deterministic_ number of) http requests to get _all_ of the graph data for a job (i.e: the data points themselves aren't paginated)
**[2]**  There are task ids / coun

[2019-05-28 16:56] ryanpetrello commented on #3926
Should be resolved by https://github.com/ansible/awx/pull/3928

[2019-05-28 16:56] #3926 closed, assigned to nobody

[2019-05-28 16:59] rooftopcellist opened #3957 "Remove OAuth 2 Implicit grant type"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
now that browsers have universally adopted CORS, using the `implicit` grant type for obtaining OAuth 2 tokens is not recommended.  We should remove this grant type as an option for Applications.
https://oauth.net/2/grant-types/implicit/

The RFC has always advocated for using the Authorization code grant type over the implicit grant type anyways sinc

[2019-05-28 17:32] jamesmarshall24 opened #3958 "CRL and OCSP Revocation"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Include the ability to check CRL and OCSP for integrations associated to AWX/Tower. For example, validate based on CRL when connecting to log aggregator endpoints.

[2019-05-28 17:42] mabashian opened #4234 "Job Template Form(s) - Hook Up Save Button"
These two forms won't be ready for saving until all the form fields are in place.  Once we have all those pieces built and placed we should hook up the save button on each of the forms.

[2019-05-28 17:57] mabashian opened #4235 "Job Template Details - Launch Button"
Mockup: https://tower-mockups.testing.ansible.com/patternfly/templates/templates-detail/

Launch button should:
* Be shown to users with the appropriate permissions
* Launch the JT and redirect to job details after successful launch
  * See the launch behavior outlined for the templates list for more info/expected pattern.

[2019-05-28 19:39] nixmomo opened #3959 "No instance found with the current cluster host id Exceptions after clean install with Docker"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX is spaming the logs after clean install

##### ENVIRONMENT
* AWX version: 4.0.0.
* AWX install method: docker on linux
* Ansible version:  2.8.0
* Operating System: Debian Stretch
* Web Browser: Chrome

##### STEPS TO REPRODUCE
after ansible-playbook -i inventory install.yml and a check if all is working like mentioned in the install guide with doc

[2019-05-28 20:14] jedelblu opened #3960 "Can't authenticate to Azure with AWX to create Resource Group"
##### ISSUE TYPE

##### SUMMARY
fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "No handlers could be found for logger \"msrestazure.azure_active_directory\"\nTraceback (most recent call last):\n  File \"/root/.ansible/tmp/ansible-tmp-1559074172.33-168348615981483/AnsiballZ_azure_rm_resourcegroup.py\", line 113, in <module>\n    _ansiballz_main()\n  File \"/root/.ansible/tmp/ans