[2021-06-29 07:08] acelinkio commented on #10539
https://github.com/ansible/awx/blob/19.2.2/awx/ui_next/src/screens/Credential/shared/data.credentialTypes.json#L48-L112

Looks like `Ansible Tower` credential type should still be showing

[2021-06-29 10:50] jovestefanovski opened #10540 "Using ansible.cfg"
##### ENVIRONMENT
* AWX version: 19.2.1
* AWX install method:  fedora server 34 docker
* Operating System: fedora

##### SUMMARY
Hi everyone
I have successfully installed AWX on fedora using docker, created my project and did couple of tests and deployments and everything seems to be good so far.
I'm trying to find a way how can I make use of ansible.cfg inside the project container, since everyti

[2021-06-29 12:38] chrismeyersfsu commented on #10513
We would also need to think about how we want to expose these related items in the API. Currently, the size of `dependent_jobs` is  small (i.e. less than 10). We need to consider this when embedding list views inside of related resources. This is good that it is small. We also need to think about if we will embed the `dependent_jobs` information only on job detail view or in the job list view. The

[2021-06-29 12:44] lucab85 commented on #2240
+1 for this

[2021-06-29 13:37] AlanCoding commented on #10513
This isn't needed for the job output, which will hit the detail view. Also keep in mind that a small related list will still hit 6 or 7 separate database tables because of the number of unified job polymorphic types.

A simple solution would be to have a dependent jobs related endpoint `/api/v2/jobs/N/dependent_jobs/`. This is just updating the views to the model definition that already exists.

T

[2021-06-29 14:21] zyphermonkey commented on #2006
The [splunk callback plugin](https://github.com/ansible-collections/community.general/blob/main/plugins/callback/splunk.py#L115) uses a random uuid as a common field to link together all events from the same job.
Might it be possible to use something like that here?

[2021-06-29 14:53] tiagodread opened #10541 ""Ansible Ansible Automation Platform" in about modal"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
"Ansible Ansible Automation Platform" in about modal

##### STEPS TO REPRODUCE

1. Install tower
2. Login
3. Click on about link on header

##### EXPECTED RESULTS

"Ansible Automation Platform" text

##### ACTUAL RESULTS

"Ansible Ansible Automation Platform"

##### ADDITIONAL INFORMATION

![image](https://user-images.githubusercontent.com/12464858/123

[2021-06-29 15:47] wyzzlord opened #10542 "awx.main.wsbroadcast Connection timed out"
Hello,

I've installed two awx instances using awx-operator in two separate k8s clusters. Both instances are using the same external PG instance. According to the awx-task logs everything is fine but I've noticed some webroadcast error in awx web containers logs on the both instances:

[code]

Looks like webroadcast doesn't work due to lack of network connectivity across the clusters (because all

[2021-06-29 16:33] JustInVTime commented on #10489
Hi @shanemcd

Sorry for my late response, I took a long weekend off.

We did a fresh start with the operatorHello. Did you migrate from a local docker install or did you start fresh with the operator?

Sure ! (I had to replace some hostnames with ***** because of company policy, I hope this is ok?)

[code]

[2021-06-29 16:59] tiagodread commented on #10541
Fixed
![image](https://user-images.githubusercontent.com/12464858/123838312-42cef500-d8e2-11eb-992b-1cc092e0504c.png)

[2021-06-29 16:59] #10541 closed, assigned to mabashian

[2021-06-29 17:43] wenottingham commented on #10539
It should be there as 'Red Hat Ansible Automation Platform' (type: `controller`). Let us know if that doesn't work.

[2021-06-29 17:44] #10539 closed, assigned to nobody

[2021-06-29 18:25] nixocio commented on #10270
I looked at how we dealt with those changes in the previous UI implementation. It is exactly the same. Once we change from Git to Manual the previous `Playbook Directory` value is displayed as a choice.

<img width="1595" alt="image" src="https://user-images.githubusercontent.com/9053044/123847455-9b06f680-d8e4-11eb-9cd8-641014bb7f2c.png">

The main difference from the previous implementation is t

[2021-06-29 18:25] #10270 closed, assigned to nixocio

[2021-06-29 18:49] akus062381 opened #10544 "Job template Edit Form- Max character limit error handling not functioning as intended"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a user goes to the details page of a template and clicks Edit, and changes the name of the template to something that exceeds the max character limit of 512 characters, when they click save, the screen refreshes and brings back the original template name, and no error message appears. If you click on the API error message in the Network tab, and t

[2021-06-29 18:58] olegasdo opened #10545 "Update CyberArk AIM credentials lookup plugin"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Update AIM credentials lookup plugin to allow entering complete URL to the API.
Currently it requires BaseURL and after that adds hard-coded values:
request_url = urljoin(url, '/'.join(['AIMWebService', 'api', 'Accounts']))

If you are using something else than AIMWebService you will not be able to make it work.

Add a descriptions or tool-tip to the

[2021-06-29 19:04] thenets opened #10546 "Notification template webhook validation doesn't indicate HTTP headers needs to be a JSON"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
No indication that something is wrong about JSON format requirement on Notification template for webhook.

##### ENVIRONMENT
* AWX version: devel
* AWX install method: VM
* Operating System: macOS
* Web Browser: Chrome Canary 93.0.4558.0 (oficial) canary (x86_64)

##### STEPS TO REPRODUCE

- Create or edit a webhook
- Add a HTTP header in plain text
-

[2021-06-29 19:08] akus062381 opened #10547 "Advanced Search key field in Run Command Wizard"
When a user triggers a command to run from the Host tab inside of an inventory, and the wizard leads the user to the step where they choose a credential, the advanced search key field does not populate any options.

![image](https://user-images.githubusercontent.com/63685497/123853809-e2dd4c00-d8eb-11eb-8dc8-84956a89a4a8.png)

[2021-06-29 19:24] acelinkio commented on #10539
@wenottingham that worked, thanks.

I see in source code where this changed now.
 https://github.com/ansible/awx/blob/19.2.2/awx/main/models/credential/__init__.py#L1020-L1072

/awx/ui_next/src/screens/Credential/shared/data.credentialTypes.json is confusing

[2021-06-29 19:27] thenets opened #10548 "Dragging and dropping remove items"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If you dragging and dropping an item over a "X" button, this generate a click event on that "X" button.

##### ENVIRONMENT
* AWX version: devel
* AWX install method: VM
* Operating System: macOS
* Web Browser: Chrome Canary 93.0.4558.0 (oficial) canary (x86_64)

##### STEPS TO REPRODUCE

- Open some modal with multi-item selection
- Drag and drop a ite

[2021-06-29 19:46] tiagodread opened #10549 "Auditors can try to associate a Host with a Group"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The Add button is enable to auditors users

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

1. Login as auditor
2. Click on hosts
3. Go to Groups tab

##### EXPECTED RESULTS

Add button

[2021-06-29 19:51] tiagodread opened #10550 "Auditors can create credentials"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
As an auditor user I can successfully create credentials

##### ENVIRONMENT

4.0.0 release branch standalone deployment

##### STEPS TO REPRODUCE

1. Create an Auditor user
2. Login as Auditor
3. Create a credential

##### EXPECTED RESULTS

The Auditor should not be able to create credentials

##### ACTUAL RESULTS

API responds with 201 Created

#####

[2021-06-29 19:56] tiagodread commented on #10550
Actually, this issue is not valid, they can create their own personal creds like any normal user

[2021-06-29 19:56] #10550 closed, assigned to nobody

[2021-06-29 20:32] joaogl commented on #10530
Hey, thanks for the reply and sorry for the delay.
So I went into the logs of the target host and re-ran the playbook from AWX.
The playbook in question updates haproxy configs (successfully) and then tries to restart haproxy which hangs for ever.

Here are the logs:
[code]
To be honest looking at these logs it doesn't tell me anything :/ hopefully does to you.

Let me know if u need any more logs

[2021-06-29 20:58] akus062381 opened #10551 "Patch request for inventory groups- multiple API requests being repeated"
When the user edits a group inside of an inventory, and the PATCH request is made, the API responds with multiple repeated API requests. See 2 different GIFs I recorded.

![api-response (1)](https://user-images.githubusercontent.com/63685497/123866474-1ecbdd80-d8fb-11eb-892b-aac7dc1c11f6.gif)
![api-response](https://user-images.githubusercontent.com/63685497/123866485-225f6480-d8fb-11eb-85db-36d7f

[2021-06-30 06:30] ptrinesh opened #10552 "AWX UI is not accessible when installed on a system in private network which is running behind a proxy_server"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX UI is not accessible when installed on a system in private network which is running behind a proxy_server

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: Kubernetes
* Ansible version:  2.11.2
* Operating System: Centos 8.3
* Web Browser:

##### STEPS TO REPRODUCE

Install awx on private network which is running behind a proxy server

[2021-06-30 08:58] Mr-Philipp commented on #10099
i cherrypicked the bugfix (https://github.com/ansible/awx/pull/10463) but the same problem still occurs.
tested systems:
- debian10
- centos7
- centos8

tetsted version of AWX: 19.2.1

i do not see this line of code after applying the fix so i can not confirm this workaround.

EDIT: Found a "fix":

enter the main container and edit /etc/containers/storage.conf to

[code]
restart container. profit.

[2021-06-30 09:00] joaogl commented on #10530
This is all my playbook does actually.

[code]

Currently I have the stopped and then started due to a test I was doing to see if it worked since restarted wasn't.

[2021-06-30 11:54] duchri66 opened #10553 ""ERROR! Unexpected Exception, this is probably a bug: HTTP Error 400: Bad Request", ????"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: installer
* AWX deployment target: Rhel 7 VM
* Operating System:
* Web Browser: mozilla

##### STEPS TO REPRODUCE

When I start my project to get source from gitlab, they need to fetch the galaxy collection, but I get this error:
{
  "msg": "non-zero return co

[2021-06-30 12:06] JoelKle commented on #3773
+1 for case 02953775

[2021-06-30 13:27] akus062381 opened #10554 "Schedule creation form inside a Source of an Inventory- field validation"
When a user accesses the source tab inside an inventory, and clicks on a specific source, and then accesses the schedules tab inside that source- and clicks the Add button to create a new schedule- I noticed some things:

1) Start date/time allows the user to put a date in the past. If this is intentional, maybe an alert could appear to let the user know, to make sure they intended to put the star

[2021-06-30 13:29] nixocio commented on #4972
We've already added the Copy button in a few different places in the new UI. If we miss something, let's focus on a specific problem - less broad. So I will close this issue.

[2021-06-30 13:29] #4972 closed, assigned to nobody

[2021-06-30 14:05] akus062381 opened #10555 "Org Select Modal inside Notification Creation Form"
The styling for modal is off when the screen is downsized.

User clicks Notifications, and clicks Add.
Click the search button in the Org field.
Downsize screen. See GIF

![org](https://user-images.githubusercontent.com/63685497/123974564-af053380-d98a-11eb-8816-4d4fcc91ab57.gif)

[2021-06-30 14:08] akus062381 opened #10556 "Notification Add Form- Save Error"
![notification](https://user-images.githubusercontent.com/63685497/123975099-1de28c80-d98b-11eb-9597-579085648c3e.gif)

[2021-06-30 14:36] akus062381 opened #10557 "Notification Add/Edit Form Validation Issues"
The form to add a notification has the field validation on the Recipient List field, but the edit form does not have field validation for that same field (and it is required).

This same error happens for the Destination Channels or Users field under the IRC Notification type.
This same error happens for the Destination Channels field under the Slack Notification type.

Type Mattermost- field Targ

[2021-06-30 14:37] bhanush3 commented on #7362
+1.. there are no proper documentation on this. I am looking for this for very long time and dont see any good reference to implement

[2021-06-30 15:04] soy-yo-con-bonete opened #10558 "Job output not loading in UI when launching job template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After launching a job, the UI displays the spinning wheel and stays there forever.

##### ENVIRONMENT
* AWX version: 19.2.2
* AWX install method: minikube (AWX Operator)
* Ansible version:  2.9.21
* Operating System: AWS Linux 2
* Web Browser: Chrome 91.0.4472.114

##### STEPS TO REPRODUCE

Create a job template with an Inventory whose Source is of typ

[2021-06-30 15:52] akus062381 commented on #10556
fixed

[2021-06-30 15:52] #10556 closed, assigned to mabashian

[2021-06-30 16:38] akus062381 opened #10560 "Screen resize causes part of Jobs List to go off screen"
![jobs_list](https://user-images.githubusercontent.com/63685497/123998960-ff3ac080-d99f-11eb-9eb3-d6223dd3a7a5.gif)

[2021-06-30 18:49] wenottingham commented on #10553
The 400 error is from the galaxy server you're talking to; there's nothing we can fix in AWX. It's likely just a service blip on the galaxy side (or possibly incorrect credentials).

[2021-06-30 18:49] #10553 closed, assigned to nobody

[2021-06-30 18:57] wenottingham commented on #10552
Just to understand I'm reading this right - your deployment is setting proxy environment variables that the service will use when connecting to other services. It will not do anything about how your local web browser will access the UI.

You'd need to figure out how to handle your container networking and kubernetes ingress routes; that is not the way to do it.

This issue tracker is for tracking

[2021-06-30 18:57] #10552 closed, assigned to nobody

[2021-06-30 19:55] joaogl commented on #10530
So I 'solved' it by just not using service from ansible and doing it by shell command. Tbh a bit stupid of me to now have thought this before but anyway if you want to keep this issue open I can keep trying to help and provide info about it. If u don't have interest in fixing this I guess the responsible person can close it.

Anyhow, this made it work:
[code]

[2021-06-30 19:57] tiagodread opened #10563 "A11y violations across pages"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This is another round of a11y bugs found by cypress-axe engine, the .json report is attached

##### STEPS TO REPRODUCE

Install Axe Chrome extension, and run analyze for the page in question

##### EXPECTED RESULTS

No a11y violations

Report:
[a11yReport.zip](https://github.com/ansible/awx/files/6743654/a11yReport.zip)

[2021-06-30 20:09] wenottingham commented on #10530
That would point to an issue with ansible itself, which would be filed at https://github.com/ansible/ansible

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

Mailing list: https://groups.google.com/forum/#!forum/awx-project
IRC: ansible-awx on irc.libera.chat

[2021-06-30 20:09] #10530 closed, assigned to nobody

[2021-06-30 20:21] SasBer commented on #1794
+1
I would love to have a official suppored dark mode

[2021-07-01 09:01] lo78cn opened #10565 "GUI settings component broken in 19.2.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
/#/settings shows:
Something went wrong...
There was an error loading this content. Please reload the page. Back to Dashboard.
Error details are empty.

Note: Everything else is working fine.

Browser development tools response reports: SyntaxError: JSON.parse: unterminated string at line 1 column 64792 of the JSON data

#

[2021-07-01 10:24] strollo commented on #10518
Opened a pull request #10566

[2021-07-01 10:24] #10518 closed, assigned to nobody

[2021-07-01 12:52] cts-dev commented on #5738
Hi. I have a few customers that could benefit from this as well. Larger customers that have multiple organizations due to acquisitions, legal reasons etc, should have the ability to use a single (security approved) credential from the parent Companyfor use across all BUs/Organizations inside of Tower.

[2021-07-01 13:29] jakemcdermott commented on #10558
Note:

[code]

^ It should definitely redirect to `jobs/playbook/n/output` instead of staying on `jobs/n/output`. Fixing this might not address the loading problem but it's worth exploring in case it does.

[2021-07-01 13:30] kazigk commented on #9961
1ed170f didn't fix it for me. I'm currently running:
- AWX Operator 0.12.0
- AWX 19.2.2 (which includes said commit)
- AWX EE 0.5.0

Update:
I tried once again on the same playbook and it finished without any error. 115 hosts, 2500 lines of logs (stdout).
Sadly I can't get logs from the previous run as pod is already deleted.
I will post an update if I get any issues in near future.

[2021-07-01 14:15] AlexisDuf opened #10568 "Unable to customize args or image directly from the container group configuration"
On 19.0.0 we were able to customize the image and the args.

And now(on 19.2.2) it's kind of hard coded
[code]
https://github.com/ansible/awx/blob/2afa406b7f16971ea83150c326f8e04717b5c14d/awx/main/tasks.py#L3075

Could we add a `if` condition if image is already set ?

About `args` the default command in the image is `ansible-runner worker --private-data-dir=/runner` (cf https://github.com/ansible

[2021-07-01 14:54] shanemcd commented on #10568
Curious - what do you need to change the command to? Anything else will likely cause AWX not to work properly. I did this to stop people from shooting themselves in the foot.

[2021-07-01 15:24] Tompage1994 opened #10571 "awx_collection: Adding inventory source with duplicated project name fails in 'multi-tenant' like environment"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - awx_collection

##### SUMMARY
Adding an inventory source of type `scm` fails when the source_project has the same name as another project in another organization. This therefore fails in a multi-tenant environment.

##### ENVIRONMENT
* AWX collection version: 19.2.2

##### STEPS TO REPRODUCE

- Create 2 orgs
- Create a project and copy it so

[2021-07-01 19:30] mabashian commented on #1208
<img width="1663" alt="Screen Shot 2021-07-01 at 3 28 18 PM" src="https://user-images.githubusercontent.com/9889020/124179533-fbcb3600-da80-11eb-9774-94f551486803.png">

New UI lets you add a user to multiple teams (as a Member) from the Users -> Teams list

From the Teams -> Access list you can add multiple users with control over the role.

@wenottingham we can close this if the current behavior

[2021-07-01 19:35] mabashian commented on #1265
This is still relevant in the new UI:

<img width="1667" alt="Screen Shot 2021-07-01 at 3 33 29 PM" src="https://user-images.githubusercontent.com/9889020/124180136-c6731800-da81-11eb-9308-298984c8a7b5.png">

The idea here would be to insert an ADD button and have that button pre-load the organization field on the team form _or_ roll a separate form within the org tree that does not have an org fi

[2021-07-01 19:36] mabashian commented on #1400
We show the organization in the expanded view of a project row now:

<img width="1454" alt="Screen Shot 2021-07-01 at 3 35 50 PM" src="https://user-images.githubusercontent.com/9889020/124180379-181ba280-da82-11eb-950d-696222375812.png">

[2021-07-01 19:36] #1400 closed, assigned to nobody

[2021-07-01 19:38] mabashian commented on #1401
We now show `Launched By` in the expanded row view of a job:

<img width="1407" alt="Screen Shot 2021-07-01 at 3 37 51 PM" src="https://user-images.githubusercontent.com/9889020/124180552-5a44e400-da82-11eb-8f6e-81f865c90f67.png">

[2021-07-01 19:38] #1401 closed, assigned to nobody

[2021-07-01 19:42] mabashian commented on #1467
Still relevant in the new UI.  We show the id based url:

<img width="1411" alt="Screen Shot 2021-07-01 at 3 41 59 PM" src="https://user-images.githubusercontent.com/9889020/124180947-e48d4800-da82-11eb-9b8e-7bc3446070b6.png">

[2021-07-01 19:43] mabashian commented on #1506
New UI has the same columns as before - still relevant.

[2021-07-01 19:45] mabashian commented on #1507
New UI makes a request like: `/api/v2/unified_jobs/?job__job_template={id}&not__launch_type=sync&order_by=-finished&page=1&page_size=20` so I think we're good here - closing.

[2021-07-01 19:45] #1507 closed, assigned to nobody

[2021-07-01 21:13] mabashian commented on #1857
Still relevant in the new UI

[2021-07-01 21:16] mabashian commented on #1875
This is still relevant in the new UI (at least for pagination):

![paginate_scroll](https://user-images.githubusercontent.com/9889020/124190331-1658db80-da90-11eb-8ca3-a6dc06658e04.gif)

[2021-07-01 21:17] mabashian commented on #1875
I think that search was more of an issue when we had multiple lists on one page which we don't really do anymore.

[2021-07-01 21:18] mabashian commented on #1907
Dupe of https://github.com/ansible/awx/issues/10216 which has been addressed in the new UI

[2021-07-01 21:18] #1907 closed, assigned to nobody

[2021-07-02 08:13] AlexisDuf commented on #10568
Hi @shanemcd,

Yes, I customized awx-ee by executing some script before running the command `ansible-runner worker --private-data-dir=/runner`.  And yes I noticed that AWX can't start a job properly

As workaround I tried to use an `initContainers` in the pod spec but it's not working too.

And I don't have any output to see what's going wrong

[2021-07-02 09:48] mihai-satmarean commented on #9151
we are using the awx collection to automate the tower configuration, any idea how to do this from the ansible awx module?

[2021-07-02 10:43] kazigk commented on #9961
I'm still facing the issue, but in my case I'm not getting any error nor play recap in automation-job pod logs. The job finishes like it should, but the output is incomplete, so AWX can't even mark hosts as failed, which is very unhelpful. Running the same job on smaller part of inventory (or just splicing it) does solve the issue, but it's less readable (a few different stdout logs to look at isn

[2021-07-02 12:33] daemenseth commented on #5711
We have also the same issue as @blaira89
Is there more information about that or another solution

[2021-07-02 13:35] cazzen2k4 opened #10579 "Migrating data from old docker-installation to AWX (19.2.1 & 19.2.2) fails during migration"
### Summary

I have migrated the postgresql-data from an older AWX docker-installation to a kubernetes-installation. Upgrade to version 19.2.0 (operator 0.10.0) works like a charm. Upgrading to either 19.2.1 or 19.2.2 fails during the data migration. The awx-operator logs prints no errors but browsing to the awx web-ui shows "awx is upgrading" in a forever-loop.

Running the "awx-manage migrate" m

[2021-07-02 15:14] roostercactus commented on #9161
In your vSphere inventory source put this in the Source variables box (as yaml)

hostnames:
  - 'config.name'

this will populate your inventory from vSphere as hostname only...and not hostname+uuid.  no need to edit any python files directly.

the dot shown above should be a dash (i can't make it format correctly)

[2021-07-02 15:29] soy-yo-con-bonete commented on #10558
A bit more info here: I'm not experiencing this issue in Firefox or Safari.

[2021-07-02 17:08] shanemcd commented on #10459
Closing due to lack of response. We can reopen if this is still an issue. Let us know.

[2021-07-02 17:08] #10459 closed, assigned to nobody

[2021-07-02 17:16] shanemcd commented on #10526
Hi - can you try on a more recent version of AWX?

[code]

^ This makes me think you've patched your deployment and missed something.

[2021-07-02 17:18] shanemcd commented on #10527
Are there any helpful logs at the very beginning of the container startup? This smells like a permissions problem. Maybe you have a security policy that is changing the UID?

[2021-07-02 17:25] shanemcd commented on #10531
Hello,

This sounds like a Kubernetes configuration error to me.

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2021-07-02 17:25] #10531 closed, assigned to nobody

[2021-07-02 17:29] shanemcd commented on #10540
https://docs.ansible.com/ansible-tower/latest/html/administration/tipsandtricks.html#locate-and-configure-the-ansible-configuration-file

[2021-07-02 17:29] #10540 closed, assigned to nobody

[2021-07-02 17:29] shanemcd commented on #10542
Please reopen another issue filling out all of the information requested in the form.

[2021-07-02 17:29] #10542 closed, assigned to nobody

[2021-07-02 17:43] shanemcd commented on #10568
I think `initContainers` is probably the more elegant solution here. We'll look into why that isn't working.

[2021-07-02 17:45] shanemcd commented on #10571
Probably just need to add the organization to the query params here.

[2021-07-02 18:59] coolbry95 commented on #10527
Ok I think istio is the problem here.

I have attached two logs one with istio enabled and one without it enabled. With istio enabled it can't connect to the postres database right away. It needs to wait for the sidecar proxy to start up. That does not explain why the collectstatic is not working though.

The output from awx-manage collectstatic is the very first line in the log awx-web.txt. This

[2021-07-02 19:15] coolbry95 commented on #10527
Also if you can run awx-manage collectstatic execing into the container it can't be a permissions issue right? It should have permissions to run that via the CMD?

[2021-07-02 19:35] wenottingham commented on #10527
`awx-manage` requires a connection to the database to function, I believe.

[2021-07-02 19:54] IPvSean opened #10582 "awx.awx collection 19.2.2 using credential module to add a tower/controller credential"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-02 19:54] per-lind commented on #10527
This is a bit of a guess but I would think it is some kind of timing issue (maybe postgres pod isn't ready) . We run a singel pod postgres and a singel awx, deleting the awx pod also solved the issue.

[2021-07-02 20:21] esparen commented on #2421
Any updates on this Feature idea?

[2021-07-03 00:51] #1208 closed, assigned to nobody

[2021-07-03 02:30] coolbry95 commented on #10527
Deleting the awx pod after the Postgres pod is up it still doesn’t work. I agree with @wenottingham that awx-manage requires db access. I will try to take a look soon.

maybe it can not depend on the db or have a retry function.

[2021-07-03 03:08] coolbry95 commented on #10527
I can confirm it needs access to the db. I just ran into a situation where the other containers in the pod like the istio sidecar were able to be pulled first before the awx-web container was able to start so it could connect the db right away. The output showed awx-manage collectstatic running.

[2021-07-03 04:20] coolbry95 commented on #10527
Ok I found the issue.

https://github.com/ansible/awx/blob/bc8e19b51dbb9066318ae49faac3edef4a60ca71/awx/__init__.py#L154

I have made a PR to wait for the database connection because it is not always available right away.

[2021-07-04 10:37] abdel-ops opened #10584 "stdout of job not live updated in awx"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-05 12:48] noah6netguy commented on #1519
Hi there. i am facing same problem.
where is a settings.py..?? and those 2 lines would be these.
- MIDDLEWARE = ['corsheaders.middleware.CorsMiddleware'] + MIDDLEWARE
- CORS_ORIGIN_ALLOW_ALL = True

And Can you explain what you did detailly...? did you restart docker awx_web container ? or install again..?

[2021-07-05 13:26] nmaupu commented on #10568
Same here, I would like to be able to customize the image args to configure stuff before job is ran.
I could do all the stuff using ansible itself but it's not very a nice solution because this ansible task would need to be included in all playbooks...
I need some line of bash to generate a vault access token prior to run all the jobs. `initContainers` is not the best way imho because it makes the

[2021-07-05 13:34] Sispheor opened #10585 "make docker-compose-build behind proxy"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-05 13:48] nmaupu commented on #10568
Ok, the job was not running when I added `initContainers` (without any output logs nor relevant awx-task logs - even in debug) because `name: worker` **has to be specified** in the instance group's custom pod spec...

I don't know if this is documented somewhere but this surely should be. Or at least give somewhere an error that is explicit.

Nevertheless, now that initContainers are working, this

[2021-07-05 14:10] nmaupu commented on #10568
ok, in the current code, container's `args` is replaced but not `command`... So it's possible to specify whatever command I need instead of the default forced value but the job stops 10 secs or so after starting for no reason. This is maybe what you (@shanemcd) were refering to when saying _Anything else will likely cause AWX not to work properly_.

@shanemcd Do you have any clue as to why it's no

[2021-07-05 14:30] nmaupu commented on #10568
After more digging, I manage to extract the logs before pod is deleted from the cluster (for reference, output log is a zip file base64 encoded)

The error is the following:

[code]

This user id is actually existing in the image. I don't get why this crashes when `ansible-runner` is executed from a shell script instead of directly from pod's arguments 🤔

[2021-07-05 15:17] Sispheor commented on #10585
I just added the proxy to the build arguments. And it's ok. Maybe it could be wrapped by the make command.

[code]

[2021-07-05 15:17] #10585 closed, assigned to nobody

[2021-07-06 09:17] rdzielicki opened #10586 "AWX 19.2.0, cant give on a organization the permission to create template jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-06 11:23] AlanCoding commented on #9151
^ the organization module https://github.com/ansible/awx/blob/devel/awx_collection/plugins/modules/organization.py

has a `galaxy_credentials` option.

[2021-07-06 11:36] AlanCoding commented on #10582
The intent is that credential type name would be used, like `credential_type: Red Hat Ansible Automation Platform`.

This `kind` field is not actually a field, it aliases to other things, and I honestly don't know what that processing layer looks like.

https://github.com/ansible/awx/blob/bc8e19b51dbb9066318ae49faac3edef4a60ca71/awx_collection/plugins/modules/credential.py#L77-L81

Granted, we hav

[2021-07-06 11:54] rdzielicki commented on #10586
Nevermind, teams needs projects, that's a dummy one

[2021-07-06 11:54] #10586 closed, assigned to nobody

[2021-07-06 12:28] jakemcdermott commented on #10584
:wave: Hello. This appears to be a duplicate of https://github.com/ansible/awx/issues/9747

Updating from 17.1.0 -> 19.2.2 _may_ help with the bug you're seeing as we recently patched [a bug having to do with websocket reconnects](https://github.com/ansible/awx/pull/10397/files) but you'd need to check

[2021-07-06 12:28] #10584 closed, assigned to nobody

[2021-07-06 12:38] jeff-ndo commented on #4068
This has become quite an issue with our design and deployment for Tower. We use TACACS Attribute mapping to manage authorization for most of our systems. I submitted an RFE with Redhat and they directed me here. Are there any thoughts to include this as a feature?

[2021-07-06 13:21] IPvSean commented on #10582
How do you know the exact credential_type, I don't see that documented?

i.e. what you just said-> credential_type: Red Hat Ansible Automation Platform.

The documentation seems weak here->
![image](https://user-images.githubusercontent.com/6537680/124607108-8625e800-de3b-11eb-882c-7cde65bf98d9.png)

[2021-07-06 13:53] Mr-Philipp commented on #10448
not the exact same error but maybe related:
export works perfectly fine from AWX 7.0 but import into AWX 19.1 fails:
[code]

--verbose shows:

[code]
does somebody has a hint regarding this error?

[2021-07-06 14:27] AlanCoding commented on #10582
The module is complicated to use because the credential type API design is complicated. The philosophy of the collection is to align as closely as possible to the API so that people don't have to learn the same thing twice to use them.

The default behavior for related objects (see `credential_type`) is by name. If you look at `/api/v2/credential_types/`, you can see the `name` field for each cred

[2021-07-06 14:51] AlexSCorey opened #10587 "Scheduled Managed Job Time not saved properly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-06 14:51] nixocio commented on #2188
Reopen this one if not addressed on the new UI.

[2021-07-06 14:51] #2188 closed, assigned to nobody

[2021-07-06 15:00] nixocio commented on #2479
This is possibly relevant to the workflow job details as well.

[2021-07-06 15:06] #2553 closed, assigned to nobody

[2021-07-06 15:09] nixocio commented on #2576
This behavior still valid on the new UI, we need to verify if the API provides enough information about this disassociation.

[2021-07-06 15:11] nixocio commented on #2641
The new UI handles read only access in a different way from the previous one.

[2021-07-06 15:11] #2641 closed, assigned to nobody

[2021-07-06 15:16] nixocio commented on #3288
Reopen if we still see this one on the new UI.

[2021-07-06 15:16] #3288 closed, assigned to nobody

[2021-07-06 15:18] nixocio commented on #3531
Reopen if we see this behavior on the new UI.

[2021-07-06 15:18] #3531 closed, assigned to nobody

[2021-07-06 15:20] nixocio commented on #4438
Reopen if we see this behavior on the new UI.

[2021-07-06 15:20] #4438 closed, assigned to nobody

[2021-07-06 15:27] nixocio commented on #5670
Reopen if we see this behavior on the new UI.

[2021-07-06 15:27] #5670 closed, assigned to nobody

[2021-07-06 15:38] nmaupu commented on #10568
I answer to myself: it's because of the entrypoint of ansible-runner image which create a dummy /etc/passwd and /etc/group file...

The last line executes `exec /usr/local/bin/dumb-init -- "${@}"`
https://github.com/ansible/ansible-runner/blob/devel/utils/entrypoint.sh#L48

So if I create a script which do what I want and finishes by the following, this should work:
[code]

I see that the job star

[2021-07-06 16:02] AlexSCorey commented on #10558
@soy-yo-con-bonete In your current template configuration and inventory sync job must occur before the job template, itself, can run.  I wonder if you are experience the job being "stuck" while the inventory sync is running?  I just tested the behavior out and what I saw was after launching the job template there is nothing happening on the output while the inventory sync is running in the backgro

[2021-07-06 16:19] soy-yo-con-bonete commented on #10558
@AlexSCorey  that's indeed the behavior I see in FF/Safari (job is "stuck" for a few second while the inventory sync occurs, then it auto-updates). However, in Chrome, is just stays stuck forever and the redirect to `jobs/playbook/n/output` never happens.

[2021-07-06 16:54] fosterseth commented on #10587
your selection is in UTC, but the details page will convert the time to your local timezone (note, not the Local Time Zone field on the edit page, but your actual local time)

[2021-07-06 17:07] jakemcdermott commented on #7215
This is done - we now directly import translation functions. We kept the route config as an exported function to handle some RBAC scenarios for navigation controls.

[2021-07-06 17:07] #7215 closed, assigned to nobody

[2021-07-06 17:58] IPvSean commented on #10582
try to run that on Tower not controller (e.g. controller cred on tower)

[2021-07-06 18:11] nixocio opened #10593 "Add sliced job identification for Job List/Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add sliced job identification for Job List/Details.

Related: https://github.com/ansible/awx/issues/2479

[2021-07-06 18:18] AlexSCorey opened #10594 "Dependency upgrade Meta Issue"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-06 18:20] nixocio opened #10595 "Advanced Smart Inventory Search showing half words"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-06 20:02] AlanCoding commented on #10582
Oh alright, now I understand. Can you tell me if https://github.com/ansible/awx/pull/10596 will fix this for you?

I see that kind=tower gives an error from the collection itself

[code]

and I see no harm letting this fallback to an error from the server

[code]

This would be the experience for newer versions (updated server, updated collection), but with old playbooks.

@fosterseth @beeankha Th

[2021-07-07 06:04] aporwal3 commented on #318
I dont see any background job running in my environment, but still the jobs are going to pending state .. can anyone please advise.

GET /api/v2/unified_jobs/?status=running

HTTP 200 OK
Allow: GET, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept
X-API-Node: awx-5ffbfd489c-q5b9x
X-API-Product-Name: AWX
X-API-Product-Version: 15.0.0
X-API-Time: 0.007s

{
    "count": 0,
    "next": null,

[2021-07-07 08:18] craph commented on #10459
@wenottingham Sorry for being late.

The answer to your question is : No.

[2021-07-07 08:19] craph commented on #10459
@shanemcd Always the same issue

[2021-07-07 08:43] riadhhamdi opened #10599 "authentication: manage SAML and LDAP auth source that may overlap"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We configuring two authentication sources of type LDAP and SAML with the same users. Users from these sources end up with the social tag.

Let's suppose we have the users:
- **bob** : LDAP user, can connect to AWX through his login password
-  **bob** : A SAML user

bob can connect through LDAP, but once he connects through SAML it will be tagged as

[2021-07-07 09:22] zaskan commented on #10506
Hi, I have created an easier reproducer.

You need to create a project named "Test" sourcing this repo.

  https://github.com/zaskan/test

Also, you need to create a job template with same name "Test" using previously created project "Test" and `playbook.yaml`. Configure your Automation Hub credentials in order to download the requirements file.

If you run the template you will get the following.

[2021-07-07 09:52] riadhhamdi opened #10600 "Assign user with sechedule"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Schedules launch job templates/workflow templates without assigning them a user.

Can we define the **awx_user_id** or the **tower_user_id** of the job launched by a schedule as the user who creates the schedule

[2021-07-07 10:22] PriyankaSrikanth14 opened #10601 "not able to find /var/lib/awx/projects/ after installing awx new release 19.2.2"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-07 12:03] rdzielicki opened #10602 "AWX 19.2.0 cant map LDAP groups to team"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-07 12:54] nixocio commented on #10409
We could also show that hash value on the UI.

[2021-07-07 13:51] rdzielicki commented on #10602
My AD user which belongs to "CN=Admins,OU=Administration,DC=ad,DC=integration,DC=int,DC=local" is neither belonging to team or organization whuch it should be mapped, it just display as normal user with no relationships

[2021-07-07 14:08] Ladas opened #10603 "API call that returns inventory objects associated with nested workflow templates/jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Catalog needs API call that returns all associated Inventory objects with a workflow, namely:

1. List all inventory objects of job_templates nested under workflow template
2. List all inventory objects of jobs nested under workflow job

We'd need this done in one API call, so this information would have to be most likely pre-computed/cached on Cont

[2021-07-07 14:37] nixocio opened #10605 "Dashboard data not available for certain users profiles"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-07 14:47] wenottingham commented on #10459
The way JT creation works is that it checks the list of playbooks against some previous project update. If it's just an import of job templates, the project needs to be updated. If it's an import of projects *and* job templates, the projects should be updated as part of import.

[2021-07-07 14:57] wenottingham commented on #10601
Playbooks run inside a container, and the project directory would be inside the container, not the host system.

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

Mailing list: https://groups.google.com/forum/#!forum/awx-project
IRC: ansible-awx on irc.libera.chat

[2021-07-07 14:57] #10601 closed, assigned to nobody

[2021-07-07 15:08] wenottingham commented on #10603
Depending on page size, you'll need mutliple calls for pagination.

You can do this today with 2 (+ any pagination) calls for a workflow job template N via:
- /api/v2/workflow_job_templates/N/ (field: inventory)
plus
- /api/v2/workflow_job_templates/N/workflow_job_template_nodes/ (paginated, results->inventory)

Similarly for a workflow job run N:
- /api/v2/workflow_jobs/N/ (field: inventory)
plus

[2021-07-07 15:26] kialam commented on #10192
This seems related to https://github.com/securingsincity/react-ace/issues/275. See my comments [here](https://github.com/securingsincity/react-ace/issues/275#issuecomment-875698952).

[2021-07-07 16:16] rdzielicki commented on #10602
Go a little bit further, AD is user is now part from org and Team but the organization LDAP mapping with admin rights doesnt work

[2021-07-07 16:19] rdzielicki commented on #10602
{
  "Org": {
    "remove_admins": false,
    "admins": "CN=Admins,OU=Administration,DC=ad,DC=integration,DC=int,DC=local",
    "remove_users": false,
    "users": true
  }
}

{
  "Org_Team": {
    "remove": true,
    "users": "CN=Admins,OU=Administration,DC=ad,DC=integration,DC=int,DC=local",
    "organization": "Org"
  }
}

[2021-07-07 16:19] rdzielicki commented on #10602
AD user is still a simple user ( member) not admin org cant figured out why

[2021-07-07 17:00] PriyankaSrikanth14 commented on #10601
Thank you so much Bill for your immediate response.It helped me a lot.You
solved my problem and made my day.

On Wed, Jul 7, 2021 at 8:27 PM Bill Nottingham ***@***.***>
wrote:

--
Thanks,
Vishnu Priyanka,
9741652406

[2021-07-08 09:43] craph commented on #10459
@wenottingham what do you mean by the projects should be updated ?
In my AWX all is fine in the UI so I don't understand why I can't import all with awx-cli.

[2021-07-08 09:49] razerzhang opened #10609 "how to uninstall awx?"
i used playbook install awx.
command like this :

but i want to change default ui language  'en-us' into 'zh' , so i would like to reinstall awx

[2021-07-08 11:33] davidburkhart opened #10610 "Introduce option for WorkflowApprovalTemplates so users cannot approve their own workflow job"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
At the moment the right to allow approvals is only dependent on the approval permission or the super user role. Therefore a user who can start a workflow job and also has the right to approve, can approve their own jobs.

Sometimes teams want to apply something like _"two-man rule"_ or _"4-eye principle"_, where everybody in the team has the right to

[2021-07-08 12:37] jakemcdermott commented on #10609
Hello, I don't think you need to reinstall for this - please try changing the preferred language in your browser's settings.

[2021-07-08 12:37] #10609 closed, assigned to nobody

[2021-07-08 13:58] pkostadinov90 commented on #5209
This is really useful feature. We really need it!

However there seems to be some changes and end of life for the old Server edition bitbucket. So you may no longer need to support 2 different bitbucket workflows, which would make adding back this feature a bit easier.

[2021-07-08 14:21] lucab85 commented on #3769
+1

[2021-07-08 15:36] metabsd commented on #10211
@shanemcd I deployed 19.2.2 with awx-operator 0.12.0. (Fresh Install)

The bug seems to persist.
I noticed that AWX always seems to stop receiving the output of the job after about 2900 lines.
Approximately 15 minutes of running time

If I can do more to help solve this problem, please do not hesitate.

Here are the details of the job from the API point of view.

[code]
Thank you and have a nice d

[2021-07-08 16:12] wenottingham commented on #10459
A project must be updated at least once to populate the list of playbooks in the project, which is used when creating a job template.

[2021-07-08 16:39] AlexSCorey opened #10611 "Audit Advanced Search Dropdowns for cut off list items"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-08 16:58] AlexSCorey commented on #10558
@soy-yo-con-bonete Are you saying that you are launching the template from the template list, or the the details view, and it never navigates to the output view at all?  Or, are you saying that it does navigate to the output view, but it just never renders anything in the output view?

When I tested this out 2 days ago the navigation worked fine (it navigated to the output view for the job templat

[2021-07-08 19:15] tchellomello opened #10612 "Login redirect override URL no longer accepts relative URL paths"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-08 20:25] nixocio opened #10613 "Add modal to confirm update of LOGIN_REDIRECT_OVERRIDE on the settings"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add modal to confirm update of LOGIN_REDIRECT_OVERRIDE on the settings.

![image](https://user-images.githubusercontent.com/9053044/124985927-02b9f180-e009-11eb-955e-77d07df87de3.png)

Giving the user a change to confirm that updated URL is sane.

Similar UX was used here: https://github.com/ansible/awx/pull/10102/commits/3b5641c41b44198ee459f3bd5c43

[2021-07-09 01:37] razerzhang commented on #10609
HI, I had changed the preferred  the setting of the language of the browser ,but the translation in browser is not exact.
so, I want to change the ###

into

In this case, I have to reinstall awx.
Whether there some better ways ？
Thank you！

[2021-07-09 09:54] razerzhang opened #10615 "how to use django.po change ui language?"

[2021-07-09 11:33] CWollinger opened #10616 "AWX 19.2.2 PermissionError: /runner/env/"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-09 11:42] fourstepper commented on #10616
I am getting a very similar error, for one of my templates:

[code]

[2021-07-09 13:47] BugBuster1701 commented on #5682
@wenottingham  We have the problem in AWX 15.0.1.  (variable ansible_become in group_vars)
Just lost 2 hours of time because of this bug.
New variables are added, so why are deleted ones not removed?
I don't understand your answer [here](https://github.com/ansible/awx/issues/5682#issuecomment-575735510)

[2021-07-09 15:42] wenottingham commented on #10615
You don't, the language to show is selected by the browser language settings.

If you'd like to contribute a new translation, that's done by contributing a new po file.

[2021-07-09 15:42] #10615 closed, assigned to nobody

[2021-07-09 15:50] wenottingham commented on #10471
Please try what is suggested. Note that if you're having issues with Red Hat Ansible Automation Platform, contact your Red Hat support representative.

[2021-07-09 15:50] #10471 closed, assigned to nobody

[2021-07-09 17:05] shanemcd commented on #10582
@IPvSean when you get a chance can you test that PR from Alan?

[2021-07-09 17:09] shanemcd commented on #10587
@wenottingham thinks something is up here. Worth investigating.

[2021-07-09 17:29] shanemcd commented on #10616
This should be fixed by the next release of awx-ee that contains https://github.com/ansible/ansible-runner/pull/740

In the meantime you can build your own EE to pull in the patch.

[2021-07-09 17:32] shanemcd commented on #10602
Hello. This seems like a problem with your configuration, and unfortunately we dont have the resources to help you debug this. You may have better luck troubleshooting on IRC or the mailing list.

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2021-07-09 17:32] #10602 closed, assigned to nobody

[2021-07-09 17:33] chrismeyersfsu commented on #10603
https://example.tower.server.com/api/v2/inventories/?jobs__unified_job_node__workflow_job=71293

OR to build on what @wenottingham said

/api/v2/workflow_jobs/N/workflow_nodes/?inventory__isnull=false <-- will filter out some results for you.

[2021-07-09 19:37] nixocio opened #10620 "Modal about Local Authorization does not close when clicking close button"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-11 07:55] SudoNova commented on #553
In my case devs need [boolean](https://github.com/ansible/awx/issues/553#issuecomment-342450117) and [list](https://github.com/ansible/awx/issues/553#issue-270407242) to manage their tests CI/CD environment without passing variables each time. I kindly ask the contributors to increase priority of this issue.

[2021-07-12 01:34] razerzhang commented on #10615
I use chrome as web browser，and I had change language setting as chinese but its still show English
Version: 17.1.0
System: centos
Browser System: mac ox

DON`T kown which step is wrong
Thanks!

[2021-07-12 01:34] razerzhang commented on #10615
I use chrome as web browser，and I had change language setting as chinese but its still show English
Version: 17.1.0
System: centos
Browser System: mac ox

DON`T kown which step is wrong
Thanks!

[2021-07-12 03:29] razerzhang opened #10624 "> You don't, the language to show is selected by the browser language settings."
I use chrome as web browser，and I had change language setting as chinese but its still show English
Version: 17.1.0
System: centos
Browser System: mac ox

DON`T known which step  gets wrong
Thanks!

_Originally posted by @razerzhang in https://github.com/ansible/awx/issues/10615#issuecomment-877907090_

[2021-07-12 10:00] Ladas commented on #10603
@wenottingham @chrismeyersfsu does this return all descendants or just children of the workflow? I remember we needed to do a recursive query (so a query for each children that is a nested workflow), to get all descendants, because the API didn't support his.

[2021-07-12 13:03] HaveFun83 commented on #106
We are facing this issue too. any news here? or some kind of workaround for this limitation?

[2021-07-12 13:40] AlanCoding commented on #106
As of https://github.com/ansible/awx/pull/9945 we are allowing top-level `requirements.yml` file for both roles & collections.

I have not closed this issue because we don't support requirements files in arbitrary locations.

Moving forward, we will be emphasizing putting collections in execution environments, as opposed to this.

[2021-07-12 15:37] AlanCoding opened #10625 "The cleanup_jobs management job now deletes the last project updates of projects"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-12 15:44] AlanCoding commented on #10625
Probably fallout from https://github.com/ansible/awx/pull/6166 or https://github.com/ansible/awx/pull/10023, with the latter being more likely I think, ping @chrismeyersfsu

If we're dropping the tables, then it seems hard to imagine that we're keeping the original / last project updates.

[2021-07-12 17:05] pscudamore opened #10627 "Can't make a path available in job isolation"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-12 17:38] #7668 closed, assigned to mabashian

[2021-07-12 17:58] tiagodread commented on #7524
All Fixed

[2021-07-12 17:58] #7524 closed, assigned to nixocio

[2021-07-12 18:13] chrismeyersfsu commented on #10625
Selectively keeping a project update was an unknown unknown that was **not** taken into account when doing the db partition work. But after looking at the code for a little bit it looks like the logic to skip certain project update when running cleanup is still in tact https://github.com/ansible/awx/blob/c1913b0d44b5cdc8166a9b0a17c0ef03ff04d3c3/awx/main/management/commands/cleanup_jobs.py#L272

Bu

[2021-07-12 18:15] kialam commented on #10192
After days of investigating this issue I've distilled down the following information:

This bug also exists in Notifications when selecting webhooks notification type (it uses the same CodeDetail component).

The `mode` prop set as `javascript` causes Ace Editor to load worker-json.js. Other mode props (`yaml, text, etc`) do not.

Setting `useWorker: false` does not appear to do anything to disabl

[2021-07-12 18:23] wenottingham commented on #10624
Hi, please don't spam the isuse tracker.

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

Mailing list: https://groups.google.com/forum/#!forum/awx-project
IRC: ansible-awx on irc.libera.chat

[2021-07-12 18:23] #10624 closed, assigned to nobody

[2021-07-12 18:27] tiagodread commented on #5236
Done

[2021-07-12 18:27] #5236 closed, assigned to nixocio

[2021-07-12 18:32] #6351 closed, assigned to nixocio

[2021-07-12 18:44] #10332 closed, assigned to nixocio

[2021-07-12 18:55] AlexSCorey commented on #10192
@kialam you've made great strides in understanding the problem and that's awesome.  When I was poking at this issue I was unable to find any negative impact on functionality or performance, aside from the error in the console. Did you find any negative impacts?  Do you think it's worth it to work up a POC for the react-app-rewired to see if that route makes sense for us?

[2021-07-12 19:05] #10533 closed, assigned to nixocio

[2021-07-12 19:34] AlexSCorey opened #10628 "No Convergence Data in Workflow Node Info Modal"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-12 19:37] AlanCoding commented on #10625
I'm not saying we _have_ to fix this.

We should consider the original reason someone wanted this behavior. If you run cleanup jobs and look at the project list, what do you see, and is it acceptable? There might be other workarounds, I'm not sure.

[2021-07-12 20:22] kialam commented on #10192
@AlexSCorey the only negative impact I see is that there is no javascript lint integration whereas other areas of the app have code linting in place - see the JSON to YAML conversion with lint in the Templates section of the app. However, we do expose any server side errors in those form fields so this is not as big of an impact.

<img width="1591" alt="Screen Shot 2021-07-12 at 4 19 10 PM" src="h

[2021-07-13 08:22] pierre-amadio opened #10630 "Email notification for selected Controller Node Admin Operations"
This is a follow up of issue#10276
Loic Avenel (lavenel@redhat.com) invited to re open this issue under a new title.

This is related to Red Hat support ticket#2945448 and to awx's issue#10050 .
As there is no way to deny a local root user from changing the tower admin password with awx-manage changepassword admin , it would be interesting to be able to generate email alert when such an event occu

[2021-07-13 14:17] nixocio commented on #344
We can add info as part of the details page for inventories.

[2021-07-13 14:26] nixocio commented on #3830
Reopen if we see this behavior on the new UI.

[2021-07-13 14:26] #3830 closed, assigned to nobody

[2021-07-13 14:33] nixocio commented on #2151
There are different ways to solve this, possibly changes on the API.

[2021-07-13 14:39] nixocio commented on #2602
Reopen if we see this behavior on the new UI.

[2021-07-13 14:39] #2602 closed, assigned to nobody

[2021-07-13 14:40] #2725 closed, assigned to nobody

[2021-07-13 14:40] nixocio commented on #2833
Reopen if we see this behavior on the new UI.

[2021-07-13 14:40] #2833 closed, assigned to nobody

[2021-07-13 14:41] nixocio commented on #2882
Reopen if we see this behavior on the new UI.

[2021-07-13 14:41] #2882 closed, assigned to nobody

[2021-07-13 14:45] nixocio commented on #3023
Reopen if we see this behavior on the new UI.

[2021-07-13 14:45] #3023 closed, assigned to nobody

[2021-07-13 14:46] #3029 closed, assigned to nobody

[2021-07-13 14:47] nixocio commented on #3224
Reopen if we see this behavior on the new UI.

[2021-07-13 14:47] #3224 closed, assigned to nobody

[2021-07-13 14:47] #3434 closed, assigned to nobody

[2021-07-13 14:53] nixocio commented on #5573
It would be nice if the API exposes a clean way to do this. An unique `POST` request would be ideal.

[2021-07-13 14:57] #6092 closed, assigned to nobody

[2021-07-13 15:03] nixocio commented on #6650
an API endpoint allowing this would be nice way to handle this.

[2021-07-13 15:05] #6869 closed, assigned to nobody

[2021-07-13 15:06] #7841 closed, assigned to nobody

[2021-07-13 15:08] nixocio commented on #8062
There is another issue to track the advanced search for dates. Closing this one.

[2021-07-13 15:08] #8062 closed, assigned to nobody

[2021-07-13 15:10] #8269 closed, assigned to nobody

[2021-07-13 15:17] nixocio commented on #8772
This one is fixed.

[2021-07-13 15:17] #8772 closed, assigned to nobody

[2021-07-13 16:27] wenottingham commented on #10630
As noted in #10276, the recommendation in lieu of any product changes is to get these updates from the activity stream.

[2021-07-13 22:39] jladdjr opened #10637 "Receptor-based capacity checks / auto-discovery"
Questions we're chewing on:
* controller nodes and execution nodes - how to manage heartbeats for different types of nodes?
  * currently, it does look like we're keying off of the work commands advertised by nodes. If the list of commands includes `ansible-runner`, we consider that an execution node.

Our current understanding of how a heartbeat happens:
* awx controller runs heartbeat task
* (fe

[2021-07-13 23:26] jladdjr commented on #10637
Brought up cluster using `make docker-compose-cluster` and can see capacity + mem, cpu, version info on the three receptor execution nodes ✅
![image](https://user-images.githubusercontent.com/4440360/125537649-977c3927-d06f-4dff-a75f-824f190f81f4.png)

The awx_1 node does not have capacity .. even though it has an `ansible-runner` command listed in its receptor conf file ❌
.. and the receptor hop

[2021-07-13 23:41] jladdjr commented on #10637
This looks like something we'll need to dig into:
![Screen Shot 2021-07-13 at 16 39 47](https://user-images.githubusercontent.com/4440360/125538893-f0f305c1-0966-48cb-b560-f1fa32b8521c.png)

[2021-07-13 23:45] jladdjr commented on #10637
Looked through startup logs for my cluster, not seeing an obvious sign why awx_1 specifically would not have received any capacity. I'm also not sure I'm seeing any evidence that there was a check for its capacity in the first place.

[2021-07-14 02:47] AlanCoding commented on #10637
@jladdjr I thought the last commit I pushed addressed the issue about `get_default_execution_environment` not being in imports.

Also, isn't the intent that "awx_1" is a control node? I believe this may have even been the intention in Ryan's PR. The current diff has the existing heartbeat logic removed, and this is something that I don't agree with. Control nodes should update their own capacity I

[2021-07-14 06:09] GitGeshizzle commented on #10610
This would be really great feature as the current setup only works with two separate teams which is kind of the opposite as most „DevOps Teams“ work.

Another approach to solve that problem would be to configure an "approval counter“ where we could configure something like „this template needs at least two approvals“ where obviously the approvers should be unique accounts.

[2021-07-14 13:47] tiagodread commented on #10544
Fixed

[2021-07-14 13:47] #10544 closed, assigned to AlexSCorey

[2021-07-14 14:10] #2961 closed, assigned to nixocio

[2021-07-14 14:38] Shadow2091 commented on #6727
Yep, the same problem. `alias_pattern: "{{ config.name }}"` didn't work.

[2021-07-14 16:01] kialam commented on #10587
Changing the timezone dropdown to anything but `UTC` and changing the start date also causes some weird behavior with displaying the date as well:

![date-timezone](https://user-images.githubusercontent.com/2293210/125652895-53d8a126-7a0f-439a-b4ad-173691329ec5.gif)

Not sure if this is expected behavior, but it looks like we're showing the next scheduled run for the managed job (e.g. 8/2) instead

[2021-07-14 18:33] nixocio commented on #5139
Fixed on the new UI.

<img width="1778" alt="image" src="https://user-images.githubusercontent.com/9053044/125674334-6a71e0c7-cfbd-4e26-ae0f-99cdfff75193.png">

[2021-07-14 18:33] #5139 closed, assigned to nobody

[2021-07-14 18:39] nixocio commented on #6774
Issue still valid on the new UI - it does require a page refresh to update.

<img width="1482" alt="image" src="https://user-images.githubusercontent.com/9053044/125674995-28bf45bf-65d0-4380-a891-c097e8b74e34.png">

[2021-07-14 18:39] jladdjr opened #10641 "Finish scrubbing new POC branch"

[2021-07-14 18:52] nixocio commented on #9630
This one is now fixed on the new UI.

[2021-07-14 18:52] #9630 closed, assigned to nobody

[2021-07-14 19:00] nixocio opened #10642 "Misaligned Icons on Template List"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-14 19:14] fosterseth commented on #10506
In your playbook,
[code]

I see, yeah the module will call
`unified_job_template_id = module.resolve_name_to_id('unified_job_templates', unified_job_template)`

which will return 2 entries, and will fail.

I think ideally we could provide an id for this module option, then you could use the lookup plugin to get the id of the "Test" JT

@AlanCoding in collection do we have a pattern where users can

[2021-07-14 19:21] wenottingham opened #10644 "Rethink ad-hoc commands in an EE context"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
1. Small things

AD_HOC_COMMANDS isn't collectionified, and may have (probably does) defaults that aren't in the stock EE. It's also one global setting

2. Bigger things

We can use indexed content and collections in EEs to build something much better. But... larger thing.

[2021-07-14 19:23] nixocio commented on #10565
@lo78cn, can you provide more details? What are the HTTP requests being made? Responses.

[2021-07-14 19:28] AlanCoding opened #10645 "Deliver a docker-compose environment with 1 control and 1 execution node"

[2021-07-14 19:36] #7206 closed, assigned to nobody

[2021-07-14 19:39] lo78cn commented on #10565
Hi @nixocio,

JSON payload ends on SOCIAL_AUTH

OPTIONS
	/api/v2/settings/all/

Status: 200 OK

Response header: X-API-Total-Time | 0.645s

response error: SyntaxError: JSON.parse: unterminated string at line 1 column 64792 of the JSON data

payload:
{"name":"Setting Detail","description":"# Retrieve a Setting:\n\nMake GET request to this resource to retrieve a single setting\nrecord containing th

[2021-07-14 19:44] AlanCoding opened #10646 "Assure jobs are running successfully on hybrid (execution+control) nodes, and hand over to QE"

[2021-07-14 19:46] AlanCoding commented on #10646
We have fields for `controller_node` and `execution_node`.

In the current PoC, when we select a `controller_node`, we randomly select it from the control type instances. Alternatively, if the `execution_node` is known to be a hybrid node, then we can set `controller_node` to the same node. This is probably preferable, for performance and user experience. So I would like to make this a requirement

[2021-07-15 02:52] pgaijin66 opened #10648 "Running AWX as non-root user"
Running any docker container as a root user is considered to be a security risk. Running container as root invites a lot of security issues with privilege escalation being one of them also this

As highlighted here: Looks like people have raised this issue as well.

Could you provide AWX specifications on running AWX as a non-privileged user or specifications where we can apply the principle of le

[2021-07-15 03:15] tvo318 opened #10649 "Organizations Access tab does not show last name correctly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-15 07:52] ghost commented on #9337
So you still have NO backup/restore procedure or even a documentation on this?
Unbelievable.

[2021-07-15 09:02] davidoiknine opened #10650 "Normal User with admin rights can't add job template"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-15 12:04] nixocio commented on #10649
Hello @tvo318, this issue was fixed on devel. See: https://github.com/ansible/awx/pull/10543

[2021-07-15 12:04] #10649 closed, assigned to nobody

[2021-07-15 12:19] AlexSCorey commented on #10650
Might be related to https://github.com/ansible/awx/issues/10386

[2021-07-15 12:21] AlexSCorey commented on #9285
this has been completed with https://github.com/ansible/awx/pull/9537

[2021-07-15 12:21] #9285 closed, assigned to nobody

[2021-07-15 12:31] davidoiknine commented on #10650
Thank you

[2021-07-15 12:35] davidoiknine commented on #10386
Hello,

I am having a similar problem.

What is curious is that I have AWX installed on two different servers.
On the first one, I manage to add a job template as a normal user.
On the second one, with the same rights, I can't do it.

The configuration of AWX is exactly the same in both servers.

[2021-07-15 12:42] grommir commented on #9716
I have a 19.2.2 version with same issue.

[2021-07-15 13:58] cira-jonathan opened #10652 "AWX and Satellite Integration Not Syncing Properly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-15 14:02] gabyfulchic opened #10653 "/api/v2/metrics using Ansible Tower favicon"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-15 14:05] nixocio opened #10654 "Update SurveyList to use draggable data list as per mock ups"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Mockup:

<img width="1502" alt="image" src="https://user-images.githubusercontent.com/9053044/125801248-3285764c-41f0-4bf1-89c6-de0e1881addc.png">

This patternfly component was added after the first implementation of this screen.

https://www.patternfly.org/v4/components/data-list/#draggable

Current implementation:

<img width="1491" alt="image" s

[2021-07-15 14:28] akus062381 commented on #8660
resolved

[2021-07-15 14:28] #8660 closed, assigned to AlexSCorey

[2021-07-15 14:28] akus062381 commented on #10440
resolved

[2021-07-15 14:28] #10440 closed, assigned to AlexSCorey

[2021-07-15 14:33] #10280 closed, assigned to nobody

[2021-07-15 14:47] akus062381 commented on #10497
resolved

[2021-07-15 14:47] #10497 closed, assigned to nixocio

[2021-07-15 15:07] akus062381 opened #10655 "[Meta] Multiple API Requests being made when unnecessary"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-15 15:08] akus062381 commented on #9550
resolved

[2021-07-15 15:08] #9550 closed, assigned to nixocio

[2021-07-15 15:22] akus062381 commented on #10499
resolved

[2021-07-15 15:22] #10499 closed, assigned to nobody

[2021-07-15 15:25] akus062381 commented on #10547
resolved

[2021-07-15 15:25] #10547 closed, assigned to AlexSCorey

[2021-07-15 15:28] nixocio commented on #10655
Possible related to: https://github.com/ansible/awx/issues/10551

[2021-07-15 15:39] wenottingham commented on #10653
This is what https://github.com/ansible/awx/pull/10578 is for

[2021-07-15 15:43] wenottingham commented on #10652
Did you sent `want_host_groups`, `want_hostcollections` , and `want_organization` in the config?

See https://docs.ansible.com/ansible/latest/collections/theforeman/foreman/foreman_inventory.html#ansible-collections-theforeman-foreman-foreman-inventory for configuration parameters.

[2021-07-15 15:48] cira-jonathan commented on #10652
@wenottingham which config are you referring to? and is it on the awx server or the satellite server?

[2021-07-15 16:05] akus062381 commented on #10593
resolved

[2021-07-15 16:05] #10593 closed, assigned to nixocio

[2021-07-15 16:09] rooftopcellist opened #10657 "OAuth2: Generate okens from Applications page"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[2021-07-15 16:09] #10657 closed, assigned to nobody

[2021-07-15 16:11] akus062381 commented on #2479
resolved

[2021-07-15 16:11] #2479 closed, assigned to nixocio

[2021-07-15 16:25] wenottingham commented on #10652
When configuring the inventory source in AWX, there's a field for entering the plugin configuration - YAML that describes how the plugin should act. Available parameters are in the above liked docs. Otherwise, it will just use whatever the plugin defaults are.

[2021-07-15 16:51] rooftopcellist opened #10659 "OAuth2: Generate Tokens from Applications page"
##### ISSUE TYPE
 - Feature Idea

#### SUMMARY

Currently, in the UI, users can only create tokens from the Tokens tab on their User page.

We should make it possible to create Application Tokens from the Applications page in the UI.  The tricky bit is that every token needs to be associated with a user in order to leverage our RBAC system.  So when creating the token, it must be possible to:

- S

[2021-07-15 17:51] nixocio opened #10661 "Custom icon SAML"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

This will probably require API and UI changes.

Filing a separate issue from https://github.com/ansible/awx/issues/9554

[2021-07-15 18:06] #10432 closed, assigned to nixocio

[2021-07-15 18:06] #10433 closed, assigned to nixocio

[2021-07-15 18:12] nixocio opened #10663 "When creating a new host auto-populate inventory field is not working"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-15 18:58] #10548 closed, assigned to nixocio

[2021-07-15 18:59] #10620 closed, assigned to nixocio

[2021-07-15 18:59] #10612 closed, assigned to nixocio

[2021-07-15 18:59] #10095 closed, assigned to nixocio

[2021-07-15 19:24] #4208 closed, assigned to AlexSCorey

[2021-07-15 20:42] #10595 closed, assigned to nixocio

[2021-07-15 20:42] #5687 closed, assigned to nixocio

[2021-07-15 20:42] #9564 closed, assigned to nixocio

[2021-07-16 00:45] rezaa1 commented on #8310
It worked when I use "{{ job.artifacts }}", but it is always empty!

[2021-07-16 12:36] joubbi commented on #4154
I found this bug report when trying to get Tower use NetBox as an inventory.
I took @zedr (Thank you!) code example from above and made a few improvements to it. It can be found here: https://github.com/joubbi/towerbox
Just in case someone else comes here for the same purpose.

[2021-07-16 12:53] davidoiknine commented on #10650
Hello,

I found the issue. I needed to sync AWX with git first. Its working now.
Closing the case.

Thanks

[2021-07-16 12:53] #10650 closed, assigned to nobody

[2021-07-16 13:30] wenottingham commented on #7399
This should be in AWX as of https://github.com/ansible/awx/pull/9590. Let us know if it works for you!

[2021-07-16 13:31] #7399 closed, assigned to nobody

[2021-07-16 13:31] gabyfulchic commented on #10653
Ok so I can close I guess :+1:
Ty for your response. :smile:

Ps : I should had checked Issues & PR (closed/opened), mybad :+1:

[2021-07-16 13:33] #10653 closed, assigned to nobody

[2021-07-16 14:31] cira-jonathan commented on #10652
@wenottingham can you provide an example/screenshot as to where exactly that configuration would be created when setting up the inventory?

[2021-07-16 16:31] wenottingham commented on #10652
The "source variables box", as shown here: https://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html#ug-source-satellite

[2021-07-16 17:27] cira-jonathan commented on #10652
@wenottingham Ok perfect. So I tried that and it worked. Is there a way to get the lifecycle environment group?

[2021-07-16 17:30] cira-jonathan commented on #10652
@wenottingham I know I can use a host filter but I want to be able to grab the other groups in addition to lifecycle environments.

[2021-07-16 17:37] wenottingham commented on #10652
If it's not something covered by the plugin options here: https://docs.ansible.com/ansible/latest/collections/theforeman/foreman/foreman_inventory.html it would need added to the plugin itself.

We get the plugin from https://github.com/theforeman/foreman-ansible-modules/ - you'd file an RFE there.

Given your above comment, I'm closing this as working - glad it does.

[2021-07-16 17:37] #10652 closed, assigned to nobody

[2021-07-16 21:43] tuxonfire opened #10666 "Email notification authentication that supports sending an oauth token"
##### ISSUE TYPE
 - Feature Idea
 -  Email notification authentication that supports sending an OAuth token.

##### SUMMARY

Email notification authentication that supports sending an [OAuth token](https://docs.microsoft.com/en-us/exchange/client-developer/legacy-protocols/how-to-authenticate-an-imap-pop-smtp-application-by-using-oauth#sasl-xoauth2) when SMTP AUTH is off.

[2021-07-19 02:21] garamirseokim opened #10667 "Suggestions for backup performance enhancements"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

There are some suggestions for backup performance enhancements as below.
Expect below suggestions for reducing required temp disk space and overhead(slow and i/o intensive) for backup(setup.sh -b).

1. gzip database exports on the fly

For example...below is the postgres.yml file of backup(setup.sh)...Can we compress the code below? (...| gzip > tow

[2021-07-19 02:36] garamirseokim commented on #10667
RFE of the installer cannot be supported by this 'ansible/awx'. So, close this RFE.

[2021-07-19 02:36] #10667 closed, assigned to nobody

[2021-07-19 09:02] w4hf commented on #9072
hello @damienreyre
I see you closed this issue. Did you found the root cause ?
I'm having a very similar issue and I'm interested in the solution.
Thanks.

[2021-07-19 11:52] marekvesely-direct opened #10669 "Missing output of executed job"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-19 12:02] marcoatenway opened #10670 "AWX (cli) social logins not working"
##### ISSUE TYPE
 - Logging in using configured "social" accounts (oauth2) is not working or to complicated on the awx cli tool.
 - logging in using e.g. your google account does not work out of the box. it might be possible to manually generate a client ID but this is at least not seamless and to complicated for daily use.

##### SUMMARY
when logging in using an external oauth2 account (in awx ca

[2021-07-19 13:02] nixocio commented on #10669
@marekvesely-direct , thanks for filing this issue.

If you can add more information that will help to sort out this issue.
* Network requests being made on the browser/ Responses
* Can you see the details of job output once the job is finished?

[2021-07-19 14:12] shanemcd commented on #10630
Thank you for the issue, we have been discussing this with other stakeholders and are looking at options for how handling this event type could be improved. Updates will be provided here when they are available.

[2021-07-19 17:03] AlexSCorey commented on #10605
the `/dashboard` end point will be deprecated at some point in a future release
![Screen Shot 2021-07-19 at 11 46 20 AM](https://user-images.githubusercontent.com/39280967/126189875-67aca15b-90f0-49e1-8f47-de80e531f6c3.png)

According to https://github.com/ansible/awx/commit/d6ecb486d24 and @jbradberry we should use `/metrics` to get the count/totals data.  However, a normal user doesn't have acce

[2021-07-19 18:17] beeankha opened #10673 "[UI] Render different varieties of instance group capacities"
Instance Group Capacities

As the controller mesh is being fleshed out we anticipate that a instance group will have several different kinds of capacity that we should display.  Those capacities could be:

1. Total Capacity
2. Control Capacity or Execution Capacity
3. Use Capacity.

There could be some cases where there is both Control Capacity and Execution Capacity.  The list items are already q

[2021-07-19 19:54] jakemcdermott opened #10676 "Move ui_next to non-temporary source location"
requires https://github.com/ansible/awx/pull/10562
* Move `awx/ui_next` to its non-temporary source location `awx/ui`
  * Unify code paths, django config, etc. where needed
  * Update any `ui_next` references in docs
  * Update README.md: `AWX-PF` -> `AWX-UI`, code snippets, examples, etc.
  * `package.json` version should match awx version, or just remove the version
  * Update external testing p

[2021-07-19 19:59] AlanCoding opened #10677 "Error handling for execution node capacity checks"
When doing a remote ansible-runner run, errors can happen at a lot of different levels:

 - streaming errors from ansible-runner, or a runner version mismatch
 - podman errors
 - other receptor mesh problems

Right now, the `check_heartbeat` task (incorrectly named) checks the capacity of an execution-only node as it joins the mesh. It has no error handling.

Jobs, themselves, have very complex ha

[2021-07-19 20:00] jakemcdermott opened #10678 "Reduce test execution time"
We exceed ~20 mins on some CI runs now. It would be good to bring test execution times back down to ~10 minutes or less on average.

Possible avenues to explore (but by no means an exhaustive list):

* Jest CLI options (parallelization, workers, etc.)
* Timeouts for async tests might need tuning
* Convert some tests to shallow rendering
* Remove slow tests that provide wholly redundant coverage
*

[2021-07-19 20:29] jakemcdermott opened #10680 "Add import tests"
Requires https://github.com/ansible/awx/pull/10562

* Add tests to verify:
  * All imports between modules under the _same_ screen are relative
  * Imports between modules under _different_ screens aren't allowed
  * Except for `src/screens` (see above), all imports between modules under the same top-level directory are relative
  * All other imports not mentioned above are absolute
* Show a helpf

[2021-07-19 20:34] aminst commented on #10600
Hi,
I hope you are doing well.
As I have understood so far, Are you suggesting a created-by field in the scheduled jobs?
I assume I will need to add a new field to the `Schedule` model, do the migrations, and update the UI, am I right?
I would like to develop this feature, this is my first open-source contribution and I hope it goes well.

[2021-07-19 20:46] trahman73 commented on #10673
@beeankha I agree with your solution of having an expanded list view as similar to our Jobs list view
https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs-expand/

We would also want to add these to the Instance details view here:
https://tower-mockups.testing.ansible.com/patternfly/instance-groups/instance-groups-detail/

This is the UX flow that we already have in place so I feel this

[2021-07-19 20:46] rooftopcellist opened #10681 "API strings are not being compiled"
### Summary

In our move to ui_next, the `make languages` target was no longer called when compiling the UI.  This means that the API strings (think help_text in OPTIONS requests) are no longer being compiled and thus are not displayed in the client's browser.

### AWX version

devel

### Web browser

Chrome

### Steps to reproduce

1. Start the dev env - `make docker-compose`
2. Change your brows

[2021-07-19 20:59] AlexSCorey opened #10682 "Workflow Approval Minute and Second fields need attention"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-19 21:35] rooftopcellist opened #10683 "Unmarked UI strings on Dashboard graph"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

The dashboard graph's axis are not marked.

![image](https://user-images.githubusercontent.com/11698892/126230279-f80eb35c-f662-48d9-93cf-56734f6f79dc.png)

Strings to mark:
* https://github.com/ansible/awx/blob/devel/awx/ui_next/src/screens/Dashboard/shared/LineChart.jsx#L133
* https://github.com/ansible/awx/blob/devel/a

[2021-07-19 22:04] rooftopcellist commented on #10681
We might want to add a sanity test to make sure API strings get compiled.

[2021-07-19 22:33] #10681 closed, assigned to rooftopcellist

[2021-07-20 01:18] AlanCoding commented on #10637
Really important detail - it only launches the job if a new node is discovered.

That means that right now we don't have any kind of "heartbeat" for the execution-only nodes. That introduces a number of more granular challenges, and my card about handling "lost" instances is intended to cover that.

[2021-07-20 01:20] AlanCoding opened #10685 "Cleanup the remote private_data_dir from execution node capacity calculations"

[2021-07-20 01:23] AlanCoding opened #10686 "Containerize remote execution node capacity checks"
former title:

I have started a WIP that uses the AWX image for execution nodes in the docker-compose-cluster environment - so that the checks can run containerized. Eventually, this is so that jobs can run containerized too.

However, there are snags in doing this. The CPU capacity metric works when ran inside of a container, but the current memory metric does not work. This might be fixable, or

[2021-07-20 02:05] AlanCoding opened #10687 "Cleanup the remote private_data_dir on execution nodes, from jobs ran on those nodes"

[2021-07-20 02:50] AlanCoding commented on #10646
^ note that there may be disagreement on this point.

Also, I should make clear that the intent is that we re-classify the awx node in the docker-compose-cluster environment as a hybrid (not a control) node.

[2021-07-20 05:15] marekvesely-direct commented on #10669
There is api response of this job event.
[code]
There is HAR exported from Firefox: https://directpojistovnaas-my.sharepoint.com/:u:/g/personal/marek_vesely_direct_cz/EYnEosghQUFDlC0qh42Gr3UBX9EXCqWjS49OvfWeVic4hg?e=tbBIHS
Either when job is running i dont see output in AWX.

[2021-07-20 05:42] marekvesely-direct commented on #10669
So when i executed 4 templates at the same time via Scheduler, one of them was without output.

[2021-07-20 12:45] lucas-benedito opened #10690 "Enable usage of vault client script in Ansible Tower"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
From Ansible CLI it is possible to use a vault client script to run playbooks as the example below:
`ansible-playbook --vault-id vaulttest@vaulttest.py my_playbook.yml`

The same cannot be achieved in AWX/Tower when using the Vault credential as it does not have a place to set the vault client script and setting it on the field "Vault identifier" doe

[2021-07-20 13:31] #9399 closed, assigned to AlexSCorey

[2021-07-20 13:45] AlanCoding opened #10691 "Create dedicated image for execution-only nodes in development environment"

[2021-07-20 13:54] AlanCoding commented on #10691
I want some other people to weigh in on this. The execution node needs:

 - podman (and associated hacks to make it work)
 - receptor

That's pretty much it.

If we introduce any control-only nodes, they will _not_ need podman, but will need AWX dependencies. We could use multi-stage builds to split into 3 images - one for control-only nodes, one for hybrid nodes, and one for execution-only nodes

[2021-07-20 14:33] AlanCoding commented on #10673
Users might not really care about control capacity.

There is a specific scenario we were concerned about for control capacity: In a cluster with both control-only nodes and hybrid nodes, the hybrid nodes may be running large jobs. In those cases, jobs will push the nodes over-capacity and we would like to preference the control-only nodes to serve as job controllers because they have more free re

[2021-07-20 15:06] AlanCoding opened #10693 "Develop a more native way to obtain execution node capacity"
As of https://github.com/ansible/awx/pull/10688, capacity checks are running by way of the Ansible `setup` module, and processing the data from that.

This is not, ultimately, how we would like capacity checking of execution nodes to work.

We discussed adding a feature to receptor which would include capacity in the service broadcast, but there was disagreement about that.

There is a constraint

[2021-07-20 15:29] AlanCoding commented on #10685
Closing, assuming this will be covered by https://github.com/ansible/awx/issues/10693

[2021-07-20 15:29] #10685 closed, assigned to nobody

[2021-07-20 15:36] AlanCoding opened #10694 "Consider capacity for controller_node selection"
edited by cmeyers:

Today, we randomly choose an online controller node https://github.com/ansible/awx/blob/b5fac4157df2f8c949361a7ca26452f47fc3baf5/awx/main/models/ha.py#L155

We should do "something better" (see comments below for ideas)

[2021-07-20 15:44] AlanCoding commented on #10693
this may be somewhat duplicated with https://github.com/ansible/awx/issues/10637

[2021-07-20 15:48] AlanCoding commented on #10693
Maybe another option:

[code]

And then implement the capacity check as `ansible-runner capacity`

[2021-07-20 15:54] aminst commented on #10600
I think this feature can be implemented similar to the `by <owner>` field in the job detail.
Like below:
![image](https://user-images.githubusercontent.com/12907963/126355861-de59c678-f00b-497b-b9e5-42fb0662247c.png)

[2021-07-20 17:11] AlanCoding commented on #10691
https://docs.docker.com/develop/develop-images/multistage-build/#stop-at-a-specific-build-stage

[code]

Some syntax like that looks like it might work really well.

[2021-07-20 17:54] AlanCoding commented on #10693
^ that may or may not work

https://github.com/ansible/awx/blob/68e309ee3281eb725f38b88ffa84959e1c007937/awx/main/tasks.py#L3044

Here, we add receptor params on top of the basic work type, but that's only for the traditional install. We don't add `"params"` for OpenShift... I think. How does it get the private_data_dir? Is it using the python interface? I'm not sure how that fits in the receptor

[2021-07-20 18:22] #10637 closed, assigned to nobody

[2021-07-20 18:34] jladdjr opened #10695 "[Docs] Write developer documentation (receptor conf, auto-provisioning instructions)"

[2021-07-20 20:47] jladdjr commented on #10677
yep, seems like we should have heartbeat checks for control nodes
.. but _health_ checks for execution nodes

heartbeat => are you there?
healthcheck => can you do all the things needed in order to run a job?

[2021-07-20 20:56] #9554 closed, assigned to nixocio

[2021-07-20 21:18] jladdjr commented on #10686
Pushed the new auto-merge button on https://github.com/ansible/awx/pull/10688

[2021-07-20 21:19] jladdjr commented on #10686
@AlanCoding we can close this, ya?

[2021-07-20 23:18] dikaye opened #10697 "make docker-compose-build error"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-21 00:50] briantist commented on #10600
Hi @aminst I saw your message on IRC but you had already left. I'm not a contributor or user of AWX so hopefully you'll be able to chat with someone involved in the project (I recommend returning to IRC during European and/or North American daytime hours).

In the meantime, I'd say check out the general contributing advice on the project's README: https://github.com/ansible/awx#contributing

If yo

[2021-07-21 01:48] AlanCoding commented on #10686
still need to figure out how to merge it, but yes

[2021-07-21 01:48] #10686 closed, assigned to nobody

[2021-07-21 08:18] techietubby opened #10699 "TOWER_HOST=https://awx.example.org TOWER_USERNAME=example TOWER_PASSWORD=secret make clean html"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-21 09:41] aminst commented on #10600
Hi @briantist, hope you are doing well.
I would definitely check it out.
Thanks a lot for your response, It really helped. :+1:

[2021-07-21 13:30] nixocio commented on #10682
closing this one as duplicated - https://github.com/ansible/awx/issues/10515

[2021-07-21 13:30] #10682 closed, assigned to nobody

[2021-07-21 13:46] AlanCoding opened #10701 "Cleanup unused images in execution nodes"
We have this task:

https://github.com/ansible/awx/blob/68e309ee3281eb725f38b88ffa84959e1c007937/awx/main/tasks.py#L384-L399

That has a couple of problems when we introduce the control plane / execution plane split.

 - This task should not do anything if it is ran on a control-only node. Depending on installer changes, those nodes may not have podman installed.
 - This won't run at all on execut

[2021-07-21 15:08] nixocio commented on #343
This issue was addressed on the new UI.

[2021-07-21 15:08] #343 closed, assigned to nobody

[2021-07-21 15:23] fosterseth opened #10702 "cleanup unused execution environment images job not working as intended"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-21 15:37] sobedrinker42 opened #10704 "ansible-inventory can't find ansible.cfg"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-21 15:44] AlanCoding commented on #10701
Marking as blocked, because we may hold off pending solution for https://github.com/ansible/awx/issues/10702

[2021-07-21 16:38] aminst commented on #10600
Hello again, @riadhhamdi  I think this feature already exists.
AWX only assigns users to user-created schedules, as you can see in the attached picture I am assigned as the creator of the schedule.
If you mean this functionality, it's already there, please correct me if I understood your feature proposal wrong.

![image](https://user-images.githubusercontent.com/12907963/126525729-53aa481c-b7bb-4d

[2021-07-21 17:15] #10645 closed, assigned to jladdjr, beeankha

[2021-07-21 17:30] AlexSCorey opened #10706 "Settings Field Disappears"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-21 19:18] kialam opened #10708 "Mesh Controller UI work"
Stub only

[2021-07-21 19:45] #8586 closed, assigned to nixocio

[2021-07-21 20:35] #10641 closed, assigned to nobody

[2021-07-21 21:01] kialam commented on #10587
@shanemcd @fosterseth is this intended behavior that the `dtstart` field returns the _next_ scheduled job run? Currently in the UI a user can select a start date that doesn't correspond to the "on days" selection, resulting in some discrepancy. For example, if you select a date that doesn't land on "Monday", a schedule that runs ever Monday will then return a `dtstart` date of the following Monday

[2021-07-21 21:08] kialam commented on #10587
Note that toggling the end date in the UI does not create this issue mentioned above, because we use the `until` param which correctly logs the user selected end date/time. Should we have another field the API returns called `begin` or something similar that logs the user selected start date/time?

[2021-07-22 00:38] jamesmarshall24 opened #10715 "Safely Launch Large Slice Counts to Workers"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When launching a job with a large number of slices, all jobs are queued up immediately to be dispatched and then queued based on capacity. This causes instability in the UI. Based on the available worker count, these newly spawned jobs for dispatch should be processed safely based on the number of available workers and not result in UI issues.

[2021-07-22 06:30] marekvesely-direct commented on #10669
@nixocio is this enough? I dont know what else i should find about this, there is no error ...

[2021-07-22 09:56] x0r3ax3ax commented on #7278
Maybe should write the JobEvent logs to a file and configure RSysLog to send them to the log aggregator? I think this should fix the problem. Or is this a bad idea?

[2021-07-22 11:14] Syntax3rror404 commented on #10135
I also have this problem on a fresh install

[2021-07-22 13:31] KevinBonilla opened #10717 "Runtime Error on winRM task [19.1.0]"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-22 14:25] kialam opened #10718 "Editing a managed job schedule can return null fields"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-22 14:37] washburnjoe commented on #10135
@Syntax3rror404 in my case there was a / being added to the path of the Ingress controller.  Use Lens or something to take a look.  Maybe its the same problem

[2021-07-22 14:43] fosterseth commented on #10587
yes, if the provided rrule is in the future.

dtstart should represent the first valid occurrence from the rrule. This dtstart time may or may not be the next run. For example, if the rrule includes past date like, "every hour starting from July **20**th 3:00 pm", then the dtstart should be July 20th 3:00pm.

next_run should be the first occurrence after `now()`, so it would be July **22** 3:00pm

[2021-07-22 14:56] AlexSCorey opened #10719 "Locate Prompting Components in a central place"
##### ISSUE TYPE
Move components

##### SUMMARY
We have several places throughout the UI where the users goes through a Prompt on Launch Wizard including: Job Templates, Workflow Job Templates, Schedules, and AdHocCommands.  Many of these workflows use the same components.  Currently many of the components live in the LaunchPrompt/steps directory.  Where it makes sense we should relocate those com

[2021-07-22 15:01] AlexSCorey opened #10720 "[UI] Notify users of new instances, with a status that can be changed"
When a new instance comes online we need to be able to notify the user of this event regardless of where they are in the UI.  I am imagining use something very similar to the Workflow Approval notifications that exists at the top of the screen at all times.  We could also consider using some sort of toast as well.

It is likely that we will also need to implement websockets on the  Instance Groups

[2021-07-22 15:04] AlexSCorey commented on #10720
added Blocked until the Mesh Controller API POD (@AlanCoding, @jladdjr, @beeankha) works out what their end will look like

[2021-07-22 15:07] AlexSCorey opened #10721 "Consider Moving the Instances List to a Top Level List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
With the Mesh Code work that is coming in 4.1 there will likely be UI work that will add a feature to notify the user of a new instance, when it comes on line so the user can act on it (See https://github.com/ansible/awx/issues/10720).  In response to that we may also want to consider moving the Instances List into a top level list in the UI.  This i

[2021-07-22 15:16] trahman73 commented on #10673
The rule we are trying to follow for expanded data in the main list view is that it needs to be important enough to be at a glance. Anything else should really be placed or repeated in the individual resource details view.

[2021-07-22 15:55] AlanCoding commented on #10721
We also discussed the idea of having a notification queue, or some sort of queue, for nodes that have been discovered, but not yet put into an instance group. The question seems to be more of an "either" choice. Either a global instance list, or some sort of queue for processing, would solve the problem.

New instances we discussed with need two actions:

1. set the `enabled` flag to True
2. assig

[2021-07-22 18:13] AlexSCorey commented on #10721
IMO, since one of the 2 actions needed to be taken will be to assign the new instance to an instance group, I'd say we leave the list where it is.  When a new instance comes online we can notify the user, and provide a link to the instance group list, or we could perhaps provide some sort of modal that will allow them to assign the new instance to an instance group from the alert.

[2021-07-22 19:00] AlanCoding commented on #10721
We should probably abandon this entirely. Instance group membership will be defined in the inventory, and it was my misunderstanding that it would not be.

[2021-07-22 19:25] AlanCoding commented on #10677
@AlexSCorey new idea:

What if we introduce a new field for instances, like `problem_details` for example, and if we hit one of these scenarios where we set `capacity=0` (meaning you can't run jobs on it), then we will populate this field with something similar to what we write in the logs today.

For example, say the execution node had the wrong version of Ansible runner. This instance should be

[2021-07-22 19:59] HOSTED-POWER commented on #9594
We seem to have the error "Task was marked as running in Tower but was not present in the job queue, so it has been marked as failed."

This happens as soon as we run multiple jobs at the same time, with a single job it never occurs. We use AWX 19.2.2

I only could find this in the supervisor.log after it happened:

2021-07-22 19:48:15,401 INFO waiting for awx-dispatcher to stop
2021-07-22 19:48:1

[2021-07-22 20:13] AlanCoding commented on #10677
I was considering making a new issue

If @AlexSCorey  agrees, I can split that out into a new issue

[2021-07-22 20:22] vinneh opened #10728 "AWX UI not coming up"
Basically the exact same issue as this:
https://github.com/ansible/awx/issues/10016

Except I am not using minikube, i deployed the operator on an existing 3 node kubernetes cluster. Browser returns blank screen, using curl or inspecting the source in browser reveals: "You need to enable JavaScript to run this app."

awx-web logs dont show any errors, this is what gets written when i hit it with c

[2021-07-22 22:11] dnorthup-ums opened #10731 "Support / Consume MFA declarations from IdP"
##### ISSUE TYPE
 - Feature Idea
 - Security Improvement

##### SUMMARY
Perusing through the issues attached to this project it becomes clear that it is the opinion of the project team that 2FA/MFA is the responsibility of the IdP and not something which will itself become part of Ansible AWX. Let's take that as a given and not bother to argue the merits of it, as the decision has clearly been mad

[2021-07-23 00:25] #10057 closed, assigned to nobody

[2021-07-23 01:19] #10527 closed, assigned to nobody

[2021-07-23 01:44] sobedrinker42 commented on #10704
for what it's worth - I also tried setting environment variables in the job settings and had no luck.  the inventory play couldn't find the file I was referencing, even though I verified the location was correct.

[2021-07-23 06:17] bharathak commented on #10243
I have this problem too, with `awx login` and POST on `https://awx-host.domain.com/api/v2/tokens/`

Version 19.2.2

On AWX CLI
[code]

via CURL

[code]

[2021-07-23 07:21] SomePati commented on #10489
ENVIRONMENT
AWX version: 19.2.2
AWX install method: awx-operator
Ansible version: 2.11.2.post0
Operating System: Kubernetes v1.20.7 running on Debian 10 servers with docker engine 20.10.7
Web Browser: Firefox on Windows

I hit the issue after job id 1600.
In my awx_task log there was the same error as in the closed issue #9559.
After redeployment of AWX the issue is gone for now.

[code]

[2021-07-23 07:39] profhase opened #10733 "awx-postgres does not come up"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-23 10:31] lucab85 opened #10734 "[Backport Request] Hashicorp Vault Credential Plugin : Support for namespace"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The issue ( https://github.com/ansible/awx/issues/7399 ) has been fixed upstream as below links and we can use plugin code for the issue.
However, our customer can't use the plugin due to their system limitation. Therefore I would like to open the back port request to use this fix with 3.8.x release.

Upstream issue:
https://github.com/ansible/awx/is

[2021-07-23 11:01] velzend opened #10735 "Unwanted keyctl syscalls from python-ldap -> OpenLDAP -> Cyrus Sasl"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-23 11:04] ghost commented on #9072
Hello @w4hf
I didn't find a solution about its problem.
I used regex for looking for my VMs (Host Filter).

Cheers

[2021-07-23 11:43] ericzolf opened #10736 "collection's license module doesn't fail if manifest file is incorrect"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-23 12:56] AlanCoding opened #10737 "Handle unresponsive instances (when joining, when trying to run a job in that instance, and coming back online)"
I want to note that, as of now, when I test running against a node which has gone off the receptor network, then it gets stuck in the running state.

The dispatcher should never attempt to send a job to a node which `receptorctl status` does not currently recognize. Instead, we should mark the instance as lost and provide details.

[2021-07-23 13:30] AlexSCorey opened #10739 "Convert Survey List to Tables"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This table should not be sortable since the order of the survey questions matter.  The user can manage the question ordering by using the up and down button on the left side of the screen.  Also need to remove the inline labels (ie. Type)

Also consider doing this work too when doing this https://github.com/ansible/awx/issues/10654

[2021-07-23 13:54] nixocio opened #10740 "Add expand all for hosts lists"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add expand all for hosts lists.

<img width="1484" alt="image" src="https://user-images.githubusercontent.com/9053044/126792020-4b0ad09c-1284-49c4-9f68-773a51d569b4.png">

See: https://github.com/ansible/awx/issues/4208

[2021-07-23 16:59] phemmer opened #10742 "Inventory variables being imported as strings"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-23 17:09] shanemcd commented on #10627
Hello. The variables you tried to use are specific to mounting volumes inside the control plane pods. Please look into customizing the pod definition on the default container group. You can use any volume method supported by your Kubernetes.

[2021-07-23 17:09] #10627 closed, assigned to nobody

[2021-07-23 17:20] shanemcd commented on #10648
Are you on the older Docker install? This definitely shouldn't be the case on the newer Operator-based deployments.

[2021-07-23 17:34] shanemcd commented on #10669
This might be another instance of https://github.com/ansible/awx/issues/9961

[2021-07-23 17:53] shanemcd commented on #10690
This maybe belongs as a new credential type / plugin in AWX.

[2021-07-23 17:55] phemmer opened #10744 "no partition of relation "main_projectupdateevent" found"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-23 17:57] shanemcd commented on #10697
It looks like we derive the tag name from the current git branch, and you dont have git installed.

https://github.com/ansible/awx/blob/devel/Makefile#L523

https://github.com/ansible/awx/blob/devel/Makefile#L18

[2021-07-23 17:57] #10697 closed, assigned to nobody

[2021-07-23 18:02] shanemcd commented on #10715
We did a fair amount of work at optimizing web sockets in this past release. This may be 'fixed' now. Can you test on a recent version and report back?

[2021-07-23 18:06] shanemcd commented on #10718
@chrismeyersfsu Thinks this might be expected behavior. We need to look into this more.

[2021-07-23 18:07] beeankha opened #10745 "[Docs] Delete All the Unnecessary Info in awx/docs/clustering.md and awx/docs/tasks.md"
(related to https://github.com/ansible/awx/issues/10695)

- [x] In `tasks.md`, we mention "Reaping Receptor Work Units" but don't explain what Receptor work units are; we should explain this concept before explaining how to reap them
- [x] `clustering.md` needs to be thoroughly updated/have passages be purged
- [x] "Provisioning and Deprovisioning Instances and Groups" section in `clustering.md` n

[2021-07-23 18:08] shanemcd commented on #10728
Do you have JavaScript disabled?

[2021-07-23 18:14] shanemcd commented on #10733
Closing as a dupe of https://github.com/ansible/awx-operator/issues/475

[2021-07-23 18:14] #10733 closed, assigned to nobody

[2021-07-23 18:19] shanemcd commented on #10742
Note: it seems like integers as keys are allowed in YAML, but not JSON:

[code]

[2021-07-23 18:21] vinneh commented on #10728
Yes, it is enabled. This is also the same from different browsers and PC's

[2021-07-23 18:22] shanemcd commented on #10744
This *might* be fixed in the next release of AWX. I'll try to follow up here when it goes live so you can test it out, or you can build your own images from devel.

[2021-07-23 19:10] AlanCoding opened #10746 "Add auto-discovered instances to a (to-be-created) "default" instance group."
The `default` instance group currently only exists on OCP installs.

We will need to add logic to create this `default` instance group on other install types as well.

Any newly discovered execution nodes in the mesh should go into the default group, disabled. (NOTE: the `disabled` state may still need more discussion) There could maybe be a setting that auto-enables the instances by default.

The

[2021-07-23 19:14] AlanCoding commented on #10693
me: What if the node has an older version of ansible-runner installed?

_puts on size:large label_

[2021-07-23 19:41] AlanCoding commented on #10746
Putting on the "small" label, for a near-term focus on these objectives:

 - enabling the "default" group for all install types
 - adding auto-provisioned nodes to this group
 - probably mention this in `docs/receptor_mesh.md`

Discussions and revisions can still happen after that, but these items are clear and relatively easy.

[2021-07-24 04:03] phemmer commented on #10744
Is there any workaround? Right now it's completely stuck. Can't run any jobs.

[2021-07-24 12:41] kladiv commented on #10616
Same error on 19.2.2 with EE awx-ee:0.5.0 on Inventory Sync job (flag Update on project update) automatically invoked by Source Control Update job

@shanemcd are you able to create an EE 0.5.1 image with that patch?

[2021-07-25 22:24] wenottingham commented on #10690
Does it not work if that script is available in the environment where playbooks are executed? If so, how does it fail?

We just recently removed storing of arbitrary script code in the database... we would not bring that back.

[2021-07-26 00:27] wenottingham commented on #10721
There is the future case of standalone nodes connected to a OCP-hosted mesh.

[2021-07-26 00:36] wenottingham commented on #10734
We do not do backports in AWX.

[2021-07-26 00:36] #10734 closed, assigned to nobody

[2021-07-26 00:39] wenottingham commented on #10735
If this is coming from python-ldap. and isn't configurable, that would need to be solved in python-ldap. There is very little we can do on the awx side.

[2021-07-26 01:38] garamirseokim opened #10748 "We want to prevent jobs from being executed on all the hosts from inventory"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We want to restrict Ansible Tower to execute a job template unless users specify ‘ALL’ value in the LIMIT field in Ansible Tower(Tower Dashboard -> TEMPLATES -> LIMIT).
Because our inventory has a huge list of servers. If we don't specify anything in inventory and just launch a job template but it can run it on all the hosts in inventory by mistake.

[2021-07-26 05:11] marekvesely-direct commented on #10669
There is some error output but in my case nothing. I checked also logs of workers and there is everything but probably it wasn't sent to AWX otchestrating machine.

[2021-07-26 07:11] velzend commented on #10735
Hi Bill,

By checking the source code of `python-ldap`, `OpenLDAP` and the `Syrus SASL library` I found that the environment variable should work. So I double checked why the environment variable was not picked up. Moving the variable from our `environment.sh` file to our Python application setting file, did the trick, and the `keyctl` syscalls are no longer performed, and if Kerberos is used the

[2021-07-26 07:56] feuertaenzer opened #10749 "Warning about using the development version of Ansible"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-26 09:11] hiero-nymus commented on #7917
Hi Team,
I have the same situation. Can anyone solve this problem in the meantime?
Is there a project currently underway?
Best regards, H

[2021-07-26 09:27] gRach1997 opened #10750 "Error "Failed to connect to the host via ssh: PLEASE HELP"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-26 09:40] tgdfool2 commented on #10728
Same issue here, AWX 19.2.2 running on a 3-nodes AKS cluster.

[2021-07-26 17:18] nixocio commented on #8613
This behavior is not present on the new UI.

[2021-07-26 17:18] #8613 closed, assigned to nobody

[2021-07-26 17:46] nixocio commented on #8385
Some extra info about SAML. Once the user is using SAML, it can be logged in using social oauth through SAML. Perhaps display `SAML` instead of social oauth. To be explored.

[code]

[2021-07-26 17:59] benjdudas opened #10754 "RFE: Option to set Extra Env Vars at some non-global level"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

A example use case for this would be to set proxy config based on the isolated instance group the job is executing against.

[2021-07-26 18:14] wenottingham commented on #10735
Setting kerberos variables seems like the very wrong answer (and will interfere with playbook usage for winrm.)

[2021-07-26 18:18] wenottingham commented on #10748
This should be done by creating appropriate delegated inventories such that users only have permission to run on hosts that they should.

If you want users to have access to all hosts, but only run on the full inventory with approval, check out creating workflows with approval nodes, and making those workflows with approvals the items that users have access to run. You can also perform these check

[2021-07-26 18:18] #10748 closed, assigned to nobody

[2021-07-26 18:19] wenottingham commented on #10750
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

This looks like an issue with your playbook that you'd need to debug.
If you need help troubleshooting an ansible playbook, try our mailing list or IRC channel:

Mailing list: https://groups.google.com/forum/#!forum/ansible-users
IRC: ansible on irc.libera.chat

[2021-07-26 18:19] #10750 closed, assigned to nobody

[2021-07-26 18:25] wenottingham commented on #10754
As isolated instances have been end of lifed in future releases, this will not be done.

[2021-07-26 18:53] AlanCoding commented on #10695
@tvo318 Heads up, we merged this, it will be kind of a living document through this release:

https://github.com/ansible/awx/blob/mesh_code/docs/receptor_mesh.md

Please feel free to read it, and we can confer, and change anything if needed.

[2021-07-26 18:53] #10695 closed, assigned to nobody

[2021-07-26 18:53] AlanCoding opened #10755 "Make awx_x nodes fully connected in docker-compose environment"

[2021-07-26 18:54] AlanCoding commented on #10755
Pasting in notes I had on this:

 - delete `tools/docker-compose/awx-1-receptor-standalone.conf`
 - move `tools/docker-compose/receptor.conf` into the docker-compose templates, alongside the other 2 receptor config files
 - in the template for `awx_i`, add peers for `i+1` to `N`, or, add peer from `1` to `i-1`

[2021-07-26 18:59] HOSTED-POWER commented on #371
We would love to see this feature as well ... :)

[2021-07-26 19:04] wenottingham commented on #10754
Reopening and retitling. Right now there isn't *any* way to have env vars outside of the global setting (AWX_TASK_ENV). The idea is that at some level, env vars such as HTTP_PROXY could be set so that automation in a particular location/for a particular inventory could pick it up.

[2021-07-26 19:48] jakemcdermott commented on #10728
Are you building your own container image or using the one we publish on quay?

When building a custom container image, you need to remember to run `make ui-devel` _before_ building the image.

[2021-07-26 20:01] vinneh commented on #10728
Using the ones from quay. These are pulled by the awx-operator. Just following the instructions from github to do a basic install.

quay.io/ansible/awx-operator             0.12.0              767fcffb0a57        3 weeks ago         434 MB
quay.io/ansible/awx                      19.2.2              8312f3577f1d        3 weeks ago         1.05 GB
quay.io/ansible/awx-ee                   0.5.0

[2021-07-26 20:14] AlanCoding commented on #10755
Demo command for later reference

[code]

[2021-07-27 00:12] jladdjr commented on #10737
Studied how we run heartbeats, handle reaping etc.

Starting to make some updates here:
https://github.com/ansible/awx/compare/mesh_code...mesh_code_healthchecks?expand=1

[2021-07-27 05:15] tgdfool2 commented on #10728
Also using the official images from quay (for Operator, AWX and EE). Tried to change the Ingress configuration to use the "new" `networking.k8s.io/v1` API instead of `extensions/v1beta1`, but this did not help.

Basically, when the cluster is restarted, the AWX Pod come alive, but the UI is not coming up (blank screen). Deleting the Pod and waiting for it to be recreated solves the issue.

Any ide

[2021-07-27 05:59] kenichimilo commented on #10192
The issue is also present in the latest release.. Inventory sync or job run is just stuck in running with no apparent update..
awx:19.2.2
e.e:0.5.0

[2021-07-27 07:07] kenichimilo commented on #10744
@shanemcd i suppose the fix hasn't been committed yet.. as building the current version does not provide a fix..
Or if there is a workaround for this it would be more than welcome..
thnxs

[2021-07-27 15:02] AlanCoding commented on #10737
Let me just echo that I still hit the case mentioned in this issue. I run against an instance that has a receptor name which is not in the mesh. The job will eventually have:

This might be a pre-existing issue, but it becomes important with execution nodes. It may very well be the case that receptorctl is giving some useful feedback, but we're not recognizing it, so we just keep trying to read fr

[2021-07-27 15:34] AlanCoding commented on #10746
I had a mis-understanding. The installer _will_ run `awx-manage provision_instance` for execution nodes listed in the inventory file. This command can be responsible for making the nodes enabled if they were specified by the user. So add to the work items:

 - Make auto-discovered nodes disabled by default

[2021-07-27 15:49] phemmer opened #10762 "race condition in job events API"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-27 15:51] AlanCoding commented on #10746
We should have a meeting with people in the other pod and a few high-level people to establish expectations about group memberships. Where memberships are set, what expectations of the groups are, and so on. There is a lot more work than what is outlined here that we need to do.

For example, we need to stop using the `controlplane` as a fallback for jobs.

[2021-07-27 16:25] JustInVTime commented on #10489
@shanemcd Today we have hit the 10000 jobs again, and same behaviour. All jobs with JobID 10000+ are stuck.

What do you need from us to debug and fix this issue?

[2021-07-27 16:31] JoelBChapmanII commented on #9594
I am seeing this as well on K8s, AWX version 19.2.2. This occurs when we have multiple jobs launched at the same time like bdoublet91.

[2021-07-27 17:35] phemmer opened #10764 "Allow token auth on websocket"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently the AWX websocket only works with session auth (login cookie). This prevents being able to use it with token auth.

The feature request is to allow token auth to the websocket.

[2021-07-27 17:46] fosterseth opened #10765 "Mesh reload feature Performance Considerations"
- large-scale, expected behavior after a reload

- affect on time saving event to db (emitted from ansible playbook, to writing db)

 - document things we want performance team to test

 - create Jira ticket with Performance "tag"

[2021-07-27 17:47] phemmer commented on #10762
Ok, so it looks like using `status` is the wrong approach here. There's another field, `event_processing_finished`, and that does seem to indicate whether a call to retrieve events will return all events.

[2021-07-27 17:47] #10762 closed, assigned to nobody

[2021-07-27 17:59] AlanCoding opened #10766 "[Mesh code] Make integration tests pass"

[2021-07-27 18:04] #10755 closed, assigned to nobody

[2021-07-27 18:51] AlanCoding opened #10767 "[Mesh code] Report instance group "execution_capacity" (name is TBD) in the API"

[2021-07-27 19:32] HOSTED-POWER commented on #9594
I checked many logs but couldn't find it. It's like something is resetted on certain events and that this also cancels / kills the jobs

[2021-07-27 21:16] wenottingham commented on #10764
What is yout use case for token auth on the websocket interface? What are you using it for?

[2021-07-27 21:17] wenottingham commented on #10764
I ask because the websocket interface is mostly a UI<->API contract, and is not a defined API that we commit to keeping and versioning.

[2021-07-27 21:49] HOSTED-POWER commented on #1999
I was testing new dynamic inventories and was about to combine them in a smart inventory, however without groups they are useless to use for the moment :(

[2021-07-27 23:03] phemmer commented on #10764
Ah. The use case is for streaming the job events. Specifically from a command line utility as part of a CI/CD system as well as for human use

Due to all the issues with awxkit (#10194 #10201 #10264), we wrote our own utility for kicking off jobs and monitoring the output. Currently the only method of streaming the output is by dealing with polling and paging. It's not a huge issue, but it's cumbe

[2021-07-28 00:33] jladdjr commented on #10737
@AlanCoding Reading through `awx.main.tasks.py:AWXReceptorJob._run_internal()` I think I see a spot where awx may be vulnerable to the kind of hanging that you're describing. When we transmit the job, we have a join() that can potentially wait forever. If we're trying to transmit to a node that doesn't exist, perhaps this is where we're hanging.

I'm wondering if we should use a timeout here. Some

[2021-07-28 00:35] sergei-rybakov commented on #10728
All the same things here: awx 19.2.2, minikube, awx-operator 0.12.0 default installation.
All was working fine just before VM reload. After reload AWX UI is blank with such errors:

"You need to enable JavaScript to run this app."

GET http://10.10.22.125:31467/static/js/runtime-main.7202f99a.js [HTTP/1.1 404 Not Found 1ms]
GET http://10.10.22.125:31467/static/js/2.53c634ac.chunk.js [HTTP/1.1 404

[2021-07-28 01:43] AlanCoding commented on #10737
Looks promising. I agree that the timeout value should be something less than infinity. This scenario should be easy to test, and I'll be happy to run the scenario with that branch when you're ready for review.

[2021-07-28 02:34] AlanCoding commented on #10766
Link https://github.com/ansible/awx/pull/10763, which gets us most of the way there

Current failures are probably related to the fact that the `mesh_code` branch removes this:

https://github.com/ansible/awx/blob/41321d8ad5ec4f1fb9a2ebc42fc15b9924b8eac6/awx/api/views/__init__.py#L373-L380

but I do not quite know how it would get added back in.

[2021-07-28 04:35] phemmer commented on #9371
Still experiencing this issue on 19.2.2 commit 41321d8.
Overriding the refspec also addressed the issue for me. However note that there should be some `*`s in there. The markdown in @dkoper's comment ate them. The refspec should be: `+refs/heads/*:refs/remotes/origin/*`.

It might also be worth mentioning that this is the default refspec git uses. I don't know why AWX is using something different.

[2021-07-28 12:25] AlanCoding commented on #10720
I'm going to close this, because per discussions with @chrismeyersfsu and others, there's no use case for adding new nodes to the mesh that would not involve running the installer (or at least a role from the installer) planned for this release. I had some misconceptions about that myself, and I'm sorry for the miscommunications there.

[2021-07-28 12:25] #10720 closed, assigned to nobody

[2021-07-28 12:48] AlanCoding commented on #10737
I'd like to get @fosterseth to look at that diff. I'm worried that we might miss something fundamental. It seems wacky that we would have to _time out_ in the event that the target `node` for the work is not online.

[2021-07-28 13:13] AlanCoding opened #10769 "Rebase and update mesh code logic after `node_type` migration lands"
We have a lot of TODOs in the `mesh_code` branch, and these are things we can resolve after https://github.com/ansible/awx/pull/10757 lands.

[2021-07-28 13:32] tiagodread commented on #10663
PR already merged

[2021-07-28 13:32] #10663 closed, assigned to nixocio

[2021-07-28 14:07] phemmer opened #10770 "Add job output item changed filter"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently we have event filters for:
* Item OK
* Item Failed
* Item Skipped

But no "Item Changed".

![image](https://user-images.githubusercontent.com/1826947/127336828-2a583e1d-4e39-441e-a435-8053facd55c2.png)

I frequently want to skip to (or filter) tasks which changed something to see what they did (or want to do in the case of check mode). So

[2021-07-28 14:18] #10495 closed, assigned to AlexSCorey

[2021-07-28 14:19] vinneh commented on #10728
Thanks for that tip/ workaround, deleting the pod works here also.

[2021-07-28 14:25] msilmser opened #10771 "Add proxy setting for ansible-galaxy"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, we have a handful of customers who require proxy configuration in order to reach out to Galaxy but not local Git repos. Our current workaround is to add the HTTP/HTTPS_PROXY setting to the ENVIRONMENT field in the project_update.yml for the ansible-galaxy tasks. If we had a setting in the UI/API to set proxy config specifically for Galaxy

[2021-07-28 14:46] wenottingham commented on #10771
See also #10754 - there isn't a way to set this in general other than globally (in a non-proxy way), and if we plumb something like this into one place, we need to plug it into more places.

[2021-07-28 15:21] akus062381 commented on #10549
@AlexSCorey - Upon investigation, Tiago and I noticed that the Associate button on the Groups tab inside of a host is no longer present in the DOM, even for an Admin user. I am reopening this so it can be addressed.

[2021-07-28 15:31] fosterseth commented on #10737
in tasks.py, submit_work really just sets up the locally running receptor process to, later on, submit work on a remote node. If you are on nodeA, and do `submit work(node=nodeB)`, it doesn't try to transmit payload directly to nodeB. So receptor doesn't care about the state of nodeB at this point. As long as the local node A receptor is healthy, transmit should work just fine.

Once transmit is f

[2021-07-28 15:48] fosterseth commented on #10737
additionally, a locally running receptor process is fine to receive work that intended for a remote node, whether that remote node is down or up currently. It will just periodically attempt to reach out to that node and start the work there. There is a `ttl` option in the work submit command that, if set, will time out and cancel the work if it never starts after the specified duration.

[2021-07-28 15:51] rdzielicki commented on #10602
Had the same behaviour at another setup with different AD, does someones had succesfully configured Team or admin member automatically with AWX AD configuration?

[2021-07-28 16:53] jladdjr opened #10774 "[mesh code] Support the use of certificates in receptor mesh"
The installer will probably handle most of whats involved with creating / deploying / configuring certificates on execution nodes.

Still, suspect there may be some follow-up needed in the awx codebase.

- [ ] At the very least, we should consider making certificates an option when using `make docker-compose` to deploy the dev environment.

[2021-07-28 16:56] jladdjr commented on #10774
Marked as medium, there's a chance this might end up being a small.

[2021-07-28 17:17] jladdjr commented on #10737
It seems like maybe we should [set the ttl](https://github.com/ansible/receptor/blob/devel/receptorctl/receptorctl/cli.py#L257) when calling submit_work (I don't see us doing this anywhere), and maybe, as an extra precaution, keep a timeout on the `join`.

[2021-07-28 17:18] daemenseth commented on #7362
Has someone find out how to use group claims.
Or have we to change to saml?

[2021-07-28 17:29] jladdjr commented on #10774
already covered by note @AlanCoding created on project board, closing

[2021-07-28 17:29] #10774 closed, assigned to nobody

[2021-07-28 17:35] tiagodread opened #10775 "[object Object] on Settings main page"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-28 17:37] jladdjr commented on #10737
Added ttl, going to kick the tires after I'm through with a couple meetings

[2021-07-28 17:57] IPvSean opened #10776 "doc error with inventory plugin for latest awx.awx inventory plugin"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-28 17:58] fosterseth commented on #10737
yes, and `ttl` will only start counting down after the transmit is complete. So we definitely need separate error handling / timeouts for the transmit thread

To summarize, we could have the following timeouts in task.py

`pod_pending_timeout` - for container groups. If a pod doesn't enter Running phase by this timeout period, the work is canceled and failed.

`ttl` - for remote receptor jobs. If

[2021-07-28 18:29] #10613 closed, assigned to nixocio

[2021-07-28 18:44] gundalow commented on #10776
Please make sure you are running `ansible-test sanity` from `devel`, that should help catch these errors.

[2021-07-28 19:15] tiagodread opened #10778 "{min} displayed in form field validation on Management job node within workflows"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-28 19:16] tiagodread commented on #790
This was added by #10572

[2021-07-28 19:16] #790 closed, assigned to mabashian

[2021-07-28 19:59] logan-wood98 opened #10780 "Source Control Update doesn't read galaxy servers_list in ansible.cfg"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-28 20:11] wenottingham commented on #10780
The way this is intended to be done is for specific Galaxy credentials to be defined on the project and/or organization, which defines which servers are placed in the list.

It is done this way so that organizational controls can be put in so different orgs can be restricted to not pull from arbitrary server content. Having settings in the ansible.cfg override that breaks that control, which is wh

[2021-07-28 20:39] logan-wood98 commented on #10780
Ah, I see how that works. I've got it working now, I'll close the issue.

[2021-07-28 20:39] #10780 closed, assigned to nobody

[2021-07-28 22:57] lotaris-xx opened #10782 "Hand in list of credentials for awx_collection/plugins/modules/schedule.py"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Love the awx.awx.schedule module, but have to the need to pass in different credentials. Currently I have a JT per credential, but that is messy. Seems like API supports this.

[2021-07-29 05:18] silkofix commented on #10099
Yep, it's worked for me. Thx.

[2021-07-29 07:39] azrdev opened #10784 "RFE: Support provisioning callbacks when the node can't reach tower proper"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When managed nodes cannot reach AWX (e.g. due to firewall restrictions), provisioning callbacks cannot be used. The obvious workaround, using the API to launch jobs, requires authorization  hence a user account, which is way more complicated than just a url and a a simple token (host config key)

#1638 already asked about this, but was close with ref

[2021-07-29 12:10] colixxx commented on #10472
@AlekseiSaff Hi, I have the same problem. When I am upgrading from 19.0.0 to 19.1.0 through a version change in the AWX object. I am trying to run migrations manually via awx-tasks container and get this error.
Did you manage to defeat her?

[2021-07-29 16:03] akus062381 opened #10785 "System Settings- Default EE- Revert button missing"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-29 17:16] nixocio opened #10786 "Add job id as part of the job details screen"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add job id as part of the job details screen.

<img width="1505" alt="image" src="https://user-images.githubusercontent.com/9053044/127536060-26cf5324-69c6-4373-bad4-878d52d89b32.png">

[2021-07-29 20:16] wenottingham opened #10787 "Expose host trusted cert store to EEs by default"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Mostly relevant outside of container groups, but we should consider adding
- /etc/pki/ca-trust/
- /usr/share/pki/ca-trust-source
(or whatever the appropriate paths are)

to the default for AWX_ISOLATION_SHOW_PATHS. Not everyone will want to rebuild an EE just to add certs, and inheriting from the host out of the box does make some sense.

[2021-07-30 01:04] wenottingham commented on #10784
Not yet.

[2021-07-30 06:06] feuertaenzer commented on #10749
It was an issue related to awx-eee and was fixed in 0.5.0, see here https://github.com/ansible/awx-ee/issues/72

[2021-07-30 06:06] #10749 closed, assigned to nobody

[2021-07-30 11:08] michaelkebe opened #10792 "After viewing a job output and logging out browser still requests websocket connection"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-07-30 14:54] nixocio commented on #8680
This issue has changed a bit since it was filed. Instead of appending `token` to the application name - to create a token name, right now we are displaying just the name of the application itself. However, when deleting in bulk we do not show the `Personal Access Token` selected to be deleted.

<img width="1412" alt="image" src="https://user-images.githubusercontent.com/9053044/127671519-74dd6d60-

[2021-07-30 15:38] benjdudas opened #10793 "Org level EVENT_STDOUT_MAX_BYTES_DISPLAY"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Customer request to have the `EVENT_STDOUT_MAX_BYTES_DISPLAY` configurable at the Org level.

[2021-07-30 15:41] wenottingham commented on #10793
Other than just 'make it configurable', what is the issue not having it configurable causes them?

[2021-07-30 17:15] wenottingham commented on #10782
Are there other JT promptable fields that you can't set for a schedule?

[2021-07-30 17:26] lotaris-xx commented on #10782
I just did a comparison and don't see any others missing.

[2021-07-30 17:29] wenottingham commented on #10764
For job events, we already do not have the websockets as 100% reliable - we drop websocket events when there are too many to send with the system under high load (at which point the UI refreshes from the API), and there is a maximum limit at which the underlying infrastructure (django channels) drops them. So I don't think we'd support more general access to the websocket API, sorry.

[2021-07-30 17:29] #10764 closed, assigned to nobody

[2021-07-30 17:39] shanemcd commented on #10728
This might have been fixed by https://github.com/ansible/awx/pull/10583

[2021-07-30 17:46] wenottingham commented on #10717
It looks like something happened with the networking reading from the pod on the other end. Can you confirm that when this happens the pod the playbook is running in is still running, and you can get logs from it?

[2021-07-30 17:47] wenottingham commented on #10717
Also, what is your kubernetes platform and version?

[2021-07-30 17:49] wenottingham commented on #10704
ee_extra_volume_mounts is only for the control plane EE. If you want extra mounts for runtime EEs, those should be modified in the podspec.

What sort of inventory are you trying to update?

[2021-07-30 18:01] wenottingham commented on #10793
If we were to do this, this would be part of a larger effort making many/most settings overridable in a per-org manner. That is not planned for the near-term future.

[2021-07-30 18:01] #10793 closed, assigned to nobody

[2021-07-30 18:28] nixocio commented on #10792
hello @michaelkebe, thanks for filing this issue. We fixed a few issues related to websockets on the latest AWX version. Can you see the same errors on the latest https://github.com/ansible/awx/releases/tag/19.2.2?

[2021-07-30 18:39] tiagodread commented on #6800
This is fixed for pagination within modals:
![image](https://user-images.githubusercontent.com/12464858/127690593-45cc54f9-bd10-408b-aa8b-4d5504e2ef35.png)

But not for the main lists i.e Inventory, Projects, Job templates
![image](https://user-images.githubusercontent.com/12464858/127692675-cd06e25d-8d54-4eaf-9678-b6a6da2b3897.png)

![image](https://user-images.githubusercontent.com/12464858/1276

[2021-07-30 20:38] snooyen commented on #7946
I'm running into this as well when using awx.awx collection 16.0.0 (tried via awxkit awx cli 16.0.0 as well)

[2021-07-30 23:56] spsingh1982 commented on #10793
@wenottingham
Our customers are using ARISTA devices. They are running show commands which has huge output which is failing job for them. Is there any work around we can use to increase the output for our customers without impacting overall platform performance?

[2021-08-02 08:21] flisak-robert opened #10799 "Can't clone git project - InvalidSignature: Signature did not match digest"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-02 10:04] #10799 closed, assigned to nobody

[2021-08-02 10:05] flisak-robert commented on #10799
My bad, did not configure postgres_configuration_secret properly.

[2021-08-02 11:28] shew01 opened #10800 "Newbie help for AWX ssh"
##### ISSUE TYPE

 - Bug Report (this is actually more of a configuration issue, but I didn't see a better category to use)

##### COMPONENT NAME

 - UI

##### SUMMARY

I'm new to AWX, and I'm not sure if this is the appropriate place to post an issue like mine or not. Please point me to a better venue, if that is appropriate. I'm thinking that I don't have ssh configured properly somewhere inside

[2021-08-02 14:31] #6800 closed, assigned to nixocio

[2021-08-02 15:29] tiagodread commented on #10775
@nixocio All places where the `${brandName}` is displayed, the value of this variable is not showed properly, look:
I think this may be related to translation in variables, I used an tower ec2 instance from devel.

![image](https://user-images.githubusercontent.com/12464858/127885509-b91a8be1-7a90-45d8-bb24-152c8fce8fb6.png)

![image](https://user-images.githubusercontent.com/12464858/127885686-fa

[2021-08-02 15:36] nixocio commented on #10775
Thanks @tiagodread , I will take a look.

[2021-08-02 16:07] AlanCoding commented on #10776
@gundalow in https://github.com/ansible/awx/pull/10788 @beeankha put up some more fixes after running `ansible-test sanity` with recent `devel`. These don't look related to the docs rendering stuff. Do you think those are related to the docs error? If not, can you point us in some other direction for how to test/fix this?

[2021-08-02 18:32] wenottingham commented on #10800
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

This is better discussed/debugged on the mailing list or IRC channel.

Mailing list: https://groups.google.com/forum/#!forum/awx-project
IRC: ansible-awx on irc.libera.chat

[2021-08-02 18:32] #10800 closed, assigned to nobody

[2021-08-02 19:27] jamesmarshall24 commented on #10715
@shanemcd it does seem to freeze up a bit for me rendering the workflow UI, but everything else seems to be pretty responsive in 4.0. I just opened the job tab in a new tab on a single node Tower w/ slicing set to 1000 and didn't see any slow down. I'm not sure if this covers all use cases.

[2021-08-02 19:32] jamesmarshall24 commented on #10715
@shanemcd nevermind I spoke too soon. The workflow progress for that job is completely unresponsive.

[2021-08-02 19:45] nixocio commented on #7834
This one seems to be related to https://github.com/ansible/awx/issues/9956

[2021-08-02 20:10] rebeccahhh commented on #10769
is this still blocked?

[2021-08-02 20:26] AlexSCorey commented on #10654
After conversation with @trahman73 we think it makes the most sense to re-utilize the preview modal.  Currently that modal shows that same data as the list itself.
With the new functionality we could rename the preview button to be `Edit Order` and the user would click on that to be able to reorder the survey questions using the drag and drop functionality.  This looks better, improves UX, and it

[2021-08-02 20:37] AlanCoding commented on #10769
https://github.com/ansible/awx/pull/10802

[2021-08-02 21:31] trahman73 commented on #10654
Updated flow:
List view - https://tower-mockups.testing.ansible.com/patternfly/templates/templates-survey/
Edit order modal - https://tower-mockups.testing.ansible.com/patternfly/templates/templates-survey-preview/

[2021-08-03 06:10] bibhuti2sol opened #10804 "i am trying to install AWX on my centos machine, but while cloning the git hub link, i am unable to find the installer file inside it, could you please help me?"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-03 12:12] abcqwertz commented on #10804
According to the [Install-Readme](https://github.com/ansible/awx/blob/devel/INSTALL.md) newer versions (since 18.0) of AWX are installed with the awx-operator for Kubernetes, however you can still use the docker installation method (only recommended for testing/development). Look [here](https://github.com/ansible/awx/blob/devel/tools/docker-compose/README.md) for more information.

[2021-08-03 14:15] jghal opened #10806 "Please add support for AWS Secrets Manager (for Credential input source)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[AWS Secrets Manager](https://aws.amazon.com/secrets-manager/) provides similar service to Azure KeyVault, and the AWS collection provides a [lookup plugin](https://docs.ansible.com/ansible-tower/latest/html/userguide/credential_plugins.html#) for it. It would be great to see AWS Secrets Manager supported as a [Credential input source](https://docs.

[2021-08-03 14:19] Elyytscha commented on #223
we have ansible.cfg located in all our ansible repos with:
`vault_identity_list=~/.vault_pass,~/.vault_pass_test`

how to avoid:
[code]

?

[2021-08-03 15:10] tiagodread commented on #10563
Ok, ran the checks locally again and now based on our test coverage they look good.

[2021-08-03 15:10] #10563 closed, assigned to keithjgrant

[2021-08-03 15:13] msilmser opened #10808 "Add worker thread settings to external_logging.py to help combat performance issues"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Some users may run into performance issues shipping logs to external loggers due to default rsyslog settings. Adding worker thread settings in the rsyslog.conf file can help increase that performance which enables the external loggers to receive logs significantly faster. This could be done by making these thread values configurable in the API simila

[2021-08-03 15:59] thestevenbell commented on #10243
I have the same issue. Managing AWX via the the API works because the username and password can be passed instead of relying on a token.  **Is it possible to configure the collection awx.awx module to use the provided username and password if no token can be obtained?**  Enabling this functionality would be preferable to setting the ALLOW_OAUTH2_FOR_EXTERNAL_USERS configuration as outlined in the

[2021-08-03 16:30] phemmer commented on #10507
According to https://github.com/ansible/awx/issues/10764#issuecomment-887841421, the websocket is not supported for external use. Thus requests for documentation would seem to not make sense. Though I might argue in that case, the current documentation should be removed.
In any case, it seems this ticket should be closed.

[2021-08-03 16:30] #10507 closed, assigned to nobody

[2021-08-03 17:23] fosterseth commented on #10765
jira ticket was opened by @wenottingham

[2021-08-03 17:57] jladdjr commented on #10769
(moved over to In Progress column)

[2021-08-03 17:58] wenottingham commented on #10804
Yes, that ^.

[2021-08-03 17:58] #10804 closed, assigned to nobody

[2021-08-03 18:08] felipe4334 opened #10829 "Editing idle_timeout and job_timeout for ansible-runner environment settings"
So currently I'm having an issue were our windows patching playbook is failing because the working Kubernetes Pod gets terminated before the patching is completed. We believe this is because of the idle_timeout set inside ansible-runner environment settings

settings:
---
idle_timeout: 600
job_timeout: 3600
pexpect_timeout: 10

I'm currently building a custom AWX-EE image based out of quay.io/ansi

[2021-08-03 18:09] felipe4334 commented on #10829
Or can I pass it as an argument to ansible-runner like --private-data-dir is being passed?

[2021-08-03 18:36] #10646 closed, assigned to nobody

[2021-08-03 18:51] tiagodread commented on #2032
The aliasing in workflow nodes was added by #10592, closing this ticket.

[2021-08-03 18:51] #2032 closed, assigned to mabashian

[2021-08-03 21:06] afnanqureshi commented on #9594
Check NTP for all your nodes. I faced similar issue and NTP for one of the server nodes for Ansible Tower was our of sync. Re-synching them fixed the issue.

[2021-08-03 21:12] HOSTED-POWER commented on #9594
I just have 1 box with 3 docker containers, unlikely there is a time problem?

[2021-08-04 07:02] lucas-benedito commented on #10690
this fails even if the vaulttest.py is available at the project level as it is not possible to specify the file on the vault identifier

[2021-08-04 08:10] jangel97 opened #10811 "Dynamic AWX Survey"
Hello,

Currently we are using Ansible Tower to offer our customers a IaaS and CaaS approach to deploy cloud resources into AWS. In order to do so, they provide details before the provisioning using a Survey. The survey is created using AT REST API so we can introduce data of available options in a scripted way.

We are facing the following problematic. Let me quote an example, when a user has to

[2021-08-04 08:30] twobombs commented on #1047
<img width="734" alt="Screenshot 2021-08-04 at 10 24 34" src="https://user-images.githubusercontent.com/12692227/128148481-1678c225-6190-4112-bb80-4f3e06efd5c3.png">

saw this thing pop up with awx operator the 0.12.0 tag under k3s.
followed the vanilla install but instead of using minicube I used k3s.

<img width="1406" alt="Screenshot 2021-08-04 at 10 31 07" src="https://user-images.githubuserco

[2021-08-04 08:31] HOSTED-POWER commented on #10366
We also experience really strange issues, it results in

Task was marked as running but was not present in the job queue, so it has been marked as failed.

It seems the receptor gets killed or stops with it somehow

[2021-08-04 08:35] HOSTED-POWER commented on #9594
Found this arround timestamp of job failure:

[code]

awx-uwsgi stdout | running "exec: supervisorctl restart tower-processes:awx-dispatcher tower-processes:awx-receiver" (accepting1)...

Why would it do this? Seems exactly at the moment we experience our lost task.

[2021-08-04 08:43] twobombs opened #10812 "AWX Operator deployment on k3s: cannot create directory ‘/var/lib/postgresql/data’: Permission denied"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-04 08:45] HOSTED-POWER commented on #9920
I has something to do with the user launching the install of the containers, if launching as a non privileged user, all our errors got away

[2021-08-04 10:48] azrdev commented on #2597
related:
* https://github.com/ansible/ansible/issues/58938
  * AIUI this would allow AWX to solve the issue, too
  * money quote:

    (from related PR https://github.com/ansible/ansible/pull/37019#issuecomment-373811193 )
* https://github.com/ansible/ansible/issues/69858
* https://github.com/ansible/ansible/issues/7118

[2021-08-04 10:54] hungpr0 commented on #10200
Just to confirm that I meet this bug with same AWX version 17.1.0 (ansible 2.9.18) as report of @kuznetsovkk
I have variables `inventories/production/group_vars/all/10_prometheus.yml`
`test_variable1: 1`
The inventory is from SCM. Deleting that variable from SCM code. It isn't deleted from AWX GUI (Inventories->Production->Details). Playbook run also confirms the variable isn't removed as well.

P

[2021-08-04 11:13] MalfuncEddie commented on #20
+1
Especially the
Administrator wants to present survey chocies that depend on prior survey choices, such as a choice to select an AWS region based on 'AWS' being a prior survey answer.

maybe reuse the workflow visualizer to create a survey visualizer

[2021-08-04 15:20] bsushant-athena opened #10814 "SSH issue for dynamic inventory hosts"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-04 16:31] imareporter opened #10815 "Add OAuth2 Application Configuration to Import/Export Modules"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to import/export OAuth2 application configurations from the `awx.awx` collection.

Adding an action to the `export` and `import` modules that GET or POST an application's configuration to `/api/v2/applications/`:
[code]

[2021-08-04 17:21] tiagodread commented on #10706
This was fixed by #10722

[2021-08-04 17:21] #10706 closed, assigned to AlexSCorey

[2021-08-04 17:54] nixocio commented on #10515
Issue already addressed.

[2021-08-04 17:54] #10515 closed, assigned to nixocio

[2021-08-04 18:57] wenottingham commented on #10811
-> #20

[2021-08-04 18:57] #10811 closed, assigned to nobody

[2021-08-04 18:58] wenottingham commented on #10812
This looks like a duplicate of https://github.com/ansible/awx-operator/issues/483

[2021-08-04 18:58] #10812 closed, assigned to nobody

[2021-08-04 19:13] KevinBonilla commented on #10717
[code]

So I believe you were right that a network issue interrupted the playbook, and for some reason the win_package module did not like the parameters I had setup. Using win_command seemed to resolve fine and ran the task in success within minutes, so I'll attribute this to a misconfig when I setup my win_package task I guess?

New win_command task for reference:
[code]

With installation takin

[2021-08-04 19:13] #10717 closed, assigned to nobody

[2021-08-04 19:26] wenottingham commented on #10814
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

There's not enough issue here to determine what is going on - it reads as an issue
with either your template setup or your credentials.
If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

Mailing list: https://groups.google.com/forum/#!forum/awx-project
IRC: ansible-awx on irc.libera

[2021-08-04 19:26] #10814 closed, assigned to nobody

[2021-08-04 19:55] nixocio commented on #10770
On the API we have the following items.

https://github.com/ansible/awx/blob/2f0b5fc20a1dd86bb50f219ccfd2cae169b4e27d/awx/main/models/events.py#L176

[code]
We will need the item changed filter as well.

[2021-08-04 20:29] samalv commented on #10489
any one found a solution for this one ? :-)

[2021-08-04 20:44] akus062381 commented on #8593
resolved

[2021-08-04 20:44] #8593 closed, assigned to nixocio, akus062381

[2021-08-04 23:34] id-jim-bach opened #10816 "Bug: The startup is too insensitive to network availability"
### Please confirm the following

- [x] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [x] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-04 23:42] koolfit commented on #10704
Hi, any help is appreciated I'm having the same problem,  I've created and mounted a persistent volume into the awx_ee container in order to use custom ansible.cfg and install custom-made ansible modules I need but no luck, every time I launch a job from the AWX GUI it shows it's using ansible defaults always and no config file is found, I can't even use ansible-galaxy collections, they install on

[2021-08-05 07:34] azrdev opened #10817 "RFE: API: launch Job/WF by ID without knowing whether JT or WFJT"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
JT and WFJT each have API endpoints to launch them. Apparently (at least looking on AWX 15+17) JT and WFJT share a single ID number space, so a given ID will always identify a single JT *or* WFJT. To launch it, one has to know (or ask the api) which type it is, though.

The idea here is to allow API calls to `job_templates/$ID/launch` and `workflow_j

[2021-08-05 09:23] azrdev opened #10818 "RFE: LIMIT from variable/previous node in WF"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I have a "provisioning" JT that creates new managed nodes, and makes them appear in the inventory. I'd like to put this JT into a WF, and add further Job Templates that shall be run on the new nodes only (cannot use provisioning callbacks because of #10784 ).

It is possible to do this by modifying *all* the plays in the further JTs, like `hosts: "{

[2021-08-05 13:33] SomePati commented on #10489
My workaround is to cancel the pending jobs and redeploy the awx. It will work for a while, but it will reoccur.

[2021-08-05 14:14] AlexSCorey commented on #10778
this seems to be fixed
![Screen Shot 2021-08-05 at 10 11 03 AM](https://user-images.githubusercontent.com/39280967/128365108-d4c661d5-ea8e-494a-a3da-817df499a3fb.png)
![Screen Shot 2021-08-05 at 10 11 37 AM](https://user-images.githubusercontent.com/39280967/128365110-56c9d4b6-728d-45e3-8ddf-0b56fda81c8f.png)

[2021-08-05 15:55] AlanCoding commented on #10693
WIP on AWX side:

https://github.com/ansible/awx/compare/mesh_code...AlanCoding:worker_info_integration?expand=1

[2021-08-05 17:43] akus062381 commented on #10786
@nixocio can you please add good locators to the elements in this section of the app?

Examples of good locators:

- data-OUIA-component-ID
- data-cy
- ID

Places they need to be added:

- Each of the <dd> fields in the table with all the information on the Job Details screen
- the Details and Output buttons (data-OUIA would be preferred)

[2021-08-05 17:44] akus062381 commented on #10676
Looks great!

[2021-08-05 17:44] #10676 closed, assigned to nixocio

[2021-08-05 17:46] kimbernator commented on #9594
+1, also seeing this

[2021-08-05 17:51] akus062381 commented on #8680
@nixocio can I please have good locators added here?
Data-OUIA locators are preferred. Data-cy are next best, ID third best.
We are trying to get away from using aria labels wherever possible. Thank you!

The items that need locators added:

- each item listed as selected for deletion
- cancel button
- the elements inside the Alert Modal header
- it would be great to have a data-OUIA for the close

[2021-08-05 18:20] AlexSCorey commented on #10442
Seems like a great decision for @trahman73 to help us with.

[2021-08-05 19:12] trahman73 commented on #10442
One solution could be that we add an additional column to the table (and possibly the filter) to distinguish the different types of EEs.

[2021-08-05 19:12] nixocio commented on #6613
We decide to disable expand/collapse if the job still running.

[2021-08-05 20:56] JRNC commented on #10489
We are experiencing the same thing. We went from a 17.0.1 local docker install to 19.2.2 on kubernetes (k3s) and already had well over 10,000 historical jobs. When we try to run jobs, we receive zero output, even after setting verbosity to level 4. We have tried 19.2.0 and 19.2.1 to no avail. I have noticed that by default we have two instance groups (controlplane and tower) and one container grou

[2021-08-05 20:58] nixocio opened #10822 "Clean up react warnings"
##### SUMMARY
Clean up react warnings.  Go to console.

See:
[code]
[code]

One more - Logged out and see

[code]

[2021-08-06 01:45] DLV1810 commented on #8577
This is critical for us when performing automated creation and testing via CI/CD - an update from Red Hat engineering would be appreciated as I've raised this via your support portal too.

[2021-08-06 03:51] ammygill commented on #286
Will it be possible to include the support for the CyberArk plugin as well to fetch the username/password for multiple hosts?

[2021-08-06 07:13] Mihgo opened #10824 "error 1 - => ERROR [internal] load metadata for quay.io/centos/centos:8"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-06 09:02] azrdev commented on #10817
I just discovered the API (on AWX15 at least) offers the collection `unified_job_templates` containing WFJT and JT, so the mutual-forwarding bit wouldn't even be necessary.

[2021-08-06 10:35] jangel97 commented on #20
+1

[2021-08-06 13:08] JRNC commented on #10489
Following up on my previous post. After changing the instance group to tower or controlpane, below is the message provided while the job is stuck in the pending state:
![image](https://user-images.githubusercontent.com/62308097/128514488-6e57c568-f049-4623-b28a-96e7ba4cffa8.png)
This seems to be erroneous, as I have tried adding additional instances to the instance groups and I have tried doubling

[2021-08-06 13:18] akus062381 commented on #8680
issue resolved

[2021-08-06 13:18] #8680 closed, assigned to nixocio

[2021-08-06 13:48] AlexSCorey commented on #10549
it seems that the auditor can attempt to associate a group, but the api isn't actually allowing it if you try.

[2021-08-06 13:52] AlexSCorey commented on #10549
Filling this as an api bug as it seems that the api is misreporting the permissions.  If I hit `/hosts/id/groups` both super user and system auditor have associate and disassociate permissions and if I hit `/hosts/is/all_groups` neither can associate/disassociate.  However, if I actually try to associate a group as a system auditor  by hitting `/hosts/id/groups` the api will not allow it and sends

[2021-08-06 13:52] jakemcdermott commented on #10728
Possibly related as well? https://github.com/ansible/awx/issues/10816

^ Seems like it could be.

[2021-08-06 14:01] jakemcdermott commented on #10817
Yes - exactly. The `unified_job_templates` should already support this. If an api client needs to launch something by `id`, and its specific `type` isn't known, then it can use the `unified_job_templates` instead of the type-specific endpoints.

Closing as resolved for now.

[2021-08-06 14:01] #10817 closed, assigned to nobody

[2021-08-06 14:25] AlexSCorey opened #10827 "Workflow Node Convergence Doesn't Update Properly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-06 15:09] felipe4334 commented on #10829
Any recommendations?

[2021-08-06 15:22] AlexSCorey commented on #8826
Putting this in needs test because I don't think this is a valid issue any more.

[2021-08-06 16:08] wenottingham commented on #286
This work hasn't even been scoped, so it's too early to discuss design implications such as that. From a use case perspective, it would definitely be the sort of thing we'd want to support.

[2021-08-06 16:12] wenottingham commented on #10824
This looks like either a temporary issue with quay.io, or an issue due to using RHEL 7 as the base, which isn't tested.
See https://github.com/ansible/awx/blob/devel/tools/docker-compose/README.md#tested-operating-systems

This issue tracker is for tracking feature enhancements and bugs to AWX itself - things like this are better
debugged elsewhere.

If you need help troubleshooting an AWX install

[2021-08-06 16:12] #10824 closed, assigned to nobody

[2021-08-06 16:23] wenottingham commented on #10818
Fundamentally, this would require overriding ansible-playbook commandline parameters based on variables and state from prior run. It's not a paradigm we've ever tried to support, and would require some rethinking of the workflow model.

The recommendation in the meantime would remain item 2 in your list above.

[2021-08-06 16:25] wenottingham commented on #10770
... which doesn't exist in the core engine. So there's no way to expose it.

[2021-08-06 17:09] AlexSCorey commented on #10594
We have made really good progress in updating many dependencies that were behind. Some of them were behind by several major releases.  Now, all dependencies have been updated to the latest or are no more than 1 major release behind.  We looked into upgrading React, but with React 18 coming out soon we decided to upgrade react after it is released.

![Screen Shot 2021-08-06 at 1 10 54 PM](https://u

[2021-08-06 17:16] wenottingham commented on #10816
This may be fixed by https://github.com/ansible/awx/pull/10583

[2021-08-06 17:24] wenottingham commented on #10829
The right way in theory would be for awx to pass down a timeout based on settings in AWX, not to override this via podspec.

[2021-08-06 17:26] wenottingham commented on #10829
Moving to the awx repo. The right way for this to work would be for AWX to pass this down via some setting, not via overriden env vars in a podspec or EE.

[2021-08-06 17:42] wenottingham commented on #10704
Closing this issue - as noted above, if you want extra mounts for runtime EEs, those should be modified in the podspec.

[2021-08-06 17:42] #10704 closed, assigned to nobody

[2021-08-06 17:43] wenottingham commented on #10582
*prod* @IPvSean

[2021-08-06 17:49] alexriveraz commented on #10704
Thanks @wenottingham if anyone is still trying to figure out how to do this, note that this will create a pod with a container called worker (in this example) every time a job runs in your defined instance group and once it's completed it will be destroyed:

![image](https://user-images.githubusercontent.com/8902656/128551584-1c8ed93a-9f83-40f3-8e2d-c18aaebfc312.png)

![image](https://user-images.

[2021-08-06 18:13] wenottingham commented on #10704
@koolfit I would also note specifically in your case that for what you're trying to do, you should really be building a new separate EE with your modules/collections, rather than trying to use volume mounts to accomplish it. It's what EEs were designed for - to bring you an environment for your specific content.

[2021-08-06 19:06] AlanCoding opened #10830 "Prevent control-only instances from being added to user-defined instance groups."
Users can now add nodes to the cluster that are not allowed to run jobs (they can still run project updates and some other things).

These instances should be added to the `controlplane` instance group, but they should not be allowed to be added to any other instance group.

---

Jotting down some acceptance criteria:

- control and hybrid instances should automatically be added to `controlplane`

[2021-08-06 19:07] AlanCoding commented on #10767
Closing in favor of alternative https://github.com/ansible/awx/issues/10830, after discussing it with @jladdjr and others. That makes a lot more sense.

[2021-08-06 19:07] #10767 closed, assigned to nobody

[2021-08-06 19:13] AlanCoding commented on #10769
closing as finished

[2021-08-06 19:13] #10769 closed, assigned to nobody

[2021-08-06 19:15] AlanCoding commented on #10737
I wound up using a lot of lessons from this in https://github.com/ansible/awx/pull/10825, but it's the health check, and the mechanics are different from jobs.

[2021-08-06 19:15] nixocio opened #10831 "Inventory Source Project being validated when not necessary"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-07 06:16] pgaijin66 commented on #10648
Sorry for the delayed response. We are using https://hub.docker.com/r/ansible/awx as the base image. AWX is running as part of our docker compose file and not as part of Kubernetes.

[2021-08-07 11:54] amolari opened #10833 "Ability to set a limit from received webhooks query string"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Ability to set a limit from received webhooks query string:

We have many Git repositories that trigger webhooks which, at the moment, have to be matched 1-1 to a job template (in each job template, we set of course the inventory but also a limit).
If we could pass the limit in a Git webhook query string, we could reduce the amount of job templates.

[2021-08-07 20:38] ghost opened #10835 "Survey Multiple Choice - Multiple Select - Breaks jinja2 in nested loop."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-08 21:01] Mihgo commented on #10824
I'm so sorry for comment the wrong place. Thanks a lot for you reply !

[2021-08-09 07:25] msheermo opened #10836 "Ability to link Credential Objects to Inventories"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Credential objects can currently only be linked to Job Templates.

For example in a large (15.000 nodes +) Windows environment with multiple AD forests, you typically have a different credential per forest and/or domain, which means setting up a different Job Template for the same job run (for instance a security baseline that runs periodically) for

[2021-08-09 09:37] nicolaibaralmueller opened #10837 "Using COMPOSE_UP_OPTS results in compose error"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-09 09:55] tobias-oe opened #10838 ""Cleanup Job Schedule" fails with external DB, schema other than public"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-09 10:31] nicolaibaralmueller opened #10839 "AWX not accessible from outside localhost"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-09 10:51] itsmeabhijeet opened #10840 "Support for Github App for server-to-server token"
##### ISSUE TYPE
 - Please add feature to support Github App for server token as described here https://docs.github.com/en/developers/overview/managing-deploy-keys#server-to-server-tokens

Currently we use deploy keys to integrate Github with awx but this concept fails in case of Ansible playbook that depends on multiple ansible roles. As these roles are separate repo, individual deploy key fails

[2021-08-09 10:53] nicolaibaralmueller commented on #10837
Fixed by manually correcting the Makefile

[2021-08-09 13:48] AlexSCorey opened #10841 "System Auditors can check list items"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-09 14:40] mdinwoodie opened #10842 "[RFE] Add a global host limit setting for jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This RFE is to add a global, configurable limit that limits how many hosts a job can run against. For example, if the inventory (or smart inventory) has host over the set limit, the job will be cancelled automatically stating that you exceeded the host limit.

[2021-08-09 14:52] JRNC commented on #10151
This sounds like it could be the same issue that some of us are having in issue #10489

[2021-08-09 16:52] life5ign commented on #10837
I can confirm this bug in a Python 3.9.1 pyenv virtualenv running on Ubuntu 20.04, with `pip install docker docker-compose`. The last two arguments in the docker-compose command are reversed.

[2021-08-09 17:10] kialam commented on #10718
Checked the existing behavior on the old UI - the start date is not tied to `dtstart` but is rather a local variable. We'll have to figure out a way to address/mirror this in the new UI.

[2021-08-09 17:50] tiagodread commented on #8826
@AlexSCorey this is still a valid bug, look:

https://user-images.githubusercontent.com/12464858/128750953-8c996e9a-3905-420f-a627-85c954e3e180.mp4

[2021-08-09 17:54] tiagodread commented on #8020
All fixed, closing this issue.

[2021-08-09 17:54] #8020 closed, assigned to nixocio, tiagodread

[2021-08-09 18:12] AlexSCorey commented on #10442
@AlanCoding are you talking about some sort of indicator, icon, to distinguish the default and the controlplane EEs from other, user created EEs?

[2021-08-09 18:15] jghal opened #10843 "Support MSI authentication for Azure Keyvault secrets management credentials."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We deploy AWX inside subscriptions on a VM with a [Managed Service Identity](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview), so that we don't have to configure service principal client IDs and secrets (along with the necessary rotation policies and process). We would like to use the [Azure Keyvau

[2021-08-09 18:42] #10683 closed, assigned to AlexSCorey

[2021-08-09 18:43] akus062381 opened #10844 "List pages- select boxes, gray out buttons that don't apply"
A thought I had working my way through the app- when a user is on a list page (ie. Host List, Template List, and so forth) where there are check boxes for the user to select, if a user selects one or more of those, the action buttons at the top of the screen (Add, Delete, Edit Order, etc etc) all stay enabled.
My idea: when a user selects an item in a list using its check box, disable any buttons

[2021-08-09 18:53] jghal commented on #10843
Additionally, since our AWX is inside the subscription, we enable the keyvault service endpoint in the subnet, and have NACLs enabled to restrict keyvault access to internal connections. So using the public routed `https://<vault_name>.vault.azure.net` won't work for us either.

[2021-08-09 19:00] ckabalan commented on #10808
This solved our syslog queueing problem. With the defaults we were consistently seeing large jobs take hours to output their logs to Sumo Logic (one of the preset log providers). We monitored this by monitoring the queue file sizes and saw them growing to ~130mb and then stairstep down.

Default behavior (~250k event job):

![image](https://user-images.githubusercontent.com/6820600/128759306-cf310

[2021-08-09 19:19] kialam commented on #10718
PF does have an empty state for the date picker, so I think it's reasonable to display that if the api returns `null` for the `dtstart` value:

<img width="268" alt="Screen Shot 2021-08-09 at 12 17 48 PM" src="https://user-images.githubusercontent.com/2293210/128761982-fdb8736a-6c26-4408-9bdd-1d4857c5e07a.png">

[2021-08-09 19:57] wenottingham commented on #10836
-> #286

[2021-08-09 19:57] #10836 closed, assigned to nobody

[2021-08-09 20:06] wenottingham commented on #10842
This isn't something we'd add to AWX/the controller.

If this is driven by users running automation on hosts they shouldn't, that is best solved via RBAC and delegation.
If this is driven by users using too much capacity, execution capacity can be segmented by org and job to constraint those users (and a user with playbook control could bypass these limits).
This can also be accomplished by the us

[2021-08-09 20:06] #10842 closed, assigned to nobody

[2021-08-09 20:10] wenottingham commented on #10840
Assumption: this is for roles that are pulled from requirements.yml?

If so, there's not much we can do from the AWX side - even if we could pass a token, it would be one token that would be applied to both the initial project checkout and all role (or collection) checkouts - passing a single token that is for a repo with roles would then fail as soon as there are multiple roles in different repos

[2021-08-09 20:13] wenottingham commented on #10839
The developer environment (docker-compose) is not meant for production usage.
If you're trying to use it to serve external content, you'll have to familiarize yourself
with docker networking, exposing ports from a container to the internet, and so on.
Alternatively, you can use the production deployment method (kubernetes).

In any case, this issue tracker is for tracking feature enhancements and

[2021-08-09 20:13] #10839 closed, assigned to nobody

[2021-08-09 23:41] nktech1135 commented on #9552
This works for me, but i'm curious if there are any ramifications to doing this. How is this supposed to work? Or was this fix just something that was missed?

[2021-08-10 01:50] IPvSean commented on #10582
sorry me and @AlanCoding were talking on slack

I am also hitting this odd warning now->
![image](https://user-images.githubusercontent.com/6537680/128795870-d18d93fb-4141-4c01-bc78-b86e27096a80.png)

with this task->
[code]

with the credential...(original ticket) this seems to work with controller->

[code]

I can only get this work to get `kind` ....

is there an example of how I am supposed to

[2021-08-10 03:17] garamirseokim opened #10846 "We want to have an option to make the limit field mandatory when creating a job template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We are currently using ansible tower 3.8.3.  When we create a job template, we want to limit the specified host when we execute the template. Currently the "Prompt on Launch" checkbox is selected.  But if we forget to fill any specific server name in the limit prompt box, the job will execute on all servers of the inventory which is too risky for us.

[2021-08-10 06:11] lemmy04 commented on #10151
looks pretty much like the same thing. Can't really verify though - I've given up on AWX > 17.1 for now, and since the deployment with database migration is also broken I have no way to spin up a latest version AWX in my kubernetes to get enough history for it to trigger.

[2021-08-10 06:12] nicolaibaralmueller commented on #10839
Thanks for clearifying. A lot have changed since version 15.0.1.

[2021-08-10 07:29] HOSTED-POWER commented on #9594
It's really severe on our side, we can hardly use AWX at this moment, as soon as we launch multiple jobs we get in trouble :(

[2021-08-10 08:15] lucab85 commented on #5209
+1

[2021-08-10 08:53] zebra-link opened #10848 "docker-compose-build Error - centos:8 not a valid repository/tag"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-10 12:54] AlanCoding commented on #10677
A lot of this is addressed by https://github.com/ansible/awx/pull/10825

However, we still have an issue with tracking the `modified` times. There's a completely new paradigm for execution nodes, where the `modified` time will reflect the last checkin time from `receptorctl status`, not the last save time.

I left a TODO that we should include execution nodes in our loop where we mark instances as

[2021-08-10 14:21] ericzolf commented on #10736
Similar issue again: Manifest of valid format but actually foreseen for Satellite, hence big (2MB), fails from the WebUI (HTTP 413 return code, Payload Too Large) but is silently ignored by the module (version 19.2.2 in the meantime, against Controller 4.0).

[2021-08-10 16:19] HailsonJunior opened #10850 "GitLab self-signed server certificate issue"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-10 16:58] wenottingham commented on #10850
That's not due to the self-signed cert, that is due to an SSL protocol error and/or dropped connection. That env var won't help - you may need to diagnose something around:
-  the TLS/SSL version.
- proxies in the middle
- other errors you'd pull from  the server log on the other end

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting

[2021-08-10 16:58] #10850 closed, assigned to nobody

[2021-08-10 17:09] HailsonJunior commented on #10850
Ok, thanks @wenottingham

[2021-08-10 17:35] fosterseth opened #10851 "Mesh installer generate keys for signing work"
Mesh installer generate and distribute public and private keys needed to sign work on mesh

installer creates keys somewhere, and make sure the receptor config points to the keys (work_signing_private_key in rfc)

user will need these keys (they will be present on each control node) when standing up new nodes on the mesh

[2021-08-10 17:38] AlanCoding commented on #10442
^ yes

if you'll allow me to be pedantic, some of the other EEs may not be user-created. IIRC, after we change the awx-ee version, then migrations will leave around old versions. This is bound to create confusion, because the name doesn't accurately indicate function.

[2021-08-10 17:49] AlanCoding opened #10852 "[mesh code] Add setting which dictates whether auto-discovered execution nodes are enabled or not"
Current auto-discovery behavior https://github.com/ansible/awx/blob/devel/docs/receptor_mesh.md#auto-discovery-of-execution-nodes

Let's give the setting a name `AWX_EXECUTION_NODES_AUTO_DISCOVER_CREATE_ENABLED = False` and set it to `False` by default.

* When `AWX_EXECUTION_NODES_AUTO_DISCOVER_CREATE_ENABLED = False` new `Instance` records created by auto-discovery will default to `enabled = Fal

[2021-08-10 17:52] trahman73 commented on #10442
We can change the wording, but base EEs are also identified in AH in a similar way.
https://tower-mockups.testing.ansible.com/patternfly/exec-env/exec-env/

[2021-08-10 18:06] akus062381 commented on #10786
PR approved and merged :-)

[2021-08-10 18:06] #10786 closed, assigned to nixocio

[2021-08-10 18:09] AlexSCorey opened #10853 "Disallow delete or edit of Control Instances"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In 4.1 the Mesh code POD will introduce different types of instances to include Controller, Executioner, and Hybrid( which will do both).  Control nodes are automatically added to the controlplane instance group when they come online.  We should not allow them to be deleted or edited.

We will also need API validation.

[2021-08-10 18:10] AlexSCorey commented on #10852
Link https://github.com/ansible/awx/issues/10853

[2021-08-10 18:11] AlexSCorey commented on #10746
Related: https://github.com/ansible/awx/issues/10853

[2021-08-10 18:18] AlanCoding opened #10854 "Fix unit test failures on `mesh_code` branch"

[2021-08-10 18:35] kdelee commented on #10694
We need to:
  - consider the instance capacity when selecting the control node
  - deduct from the instance capacity when we select node as controller
  - release capacity/return capacity to the instance when job is done (when it is done with event processing??)

[2021-08-10 18:41] AlanCoding commented on #10691
An existing image that may work for this:

https://github.com/ansible/receptor/tree/devel/tests/environments/container-dev

[2021-08-10 18:54] AlanCoding commented on #10694
We talked about deducting 1 unit. That should be sufficient for our purposes. We'd need more data on nodes with control-only nodes to further refine this.

This is pretty much automatic. We compute available capacity for the entire cluster based on the state of jobs using the instances. So when the job goes from pending/running to failed/successful, then it will be removed from consideration.

[2021-08-10 18:58] AlanCoding commented on #10852
My only concern here is that this may have implications for the installer, because it doesn't make much sense unless you can give it a value in the install process.

[2021-08-10 19:16] AlanCoding commented on #10673
I believe this issue was a duplicate with https://github.com/ansible/awx/issues/10767.

To recap, as per https://github.com/ansible/awx/issues/10830, it makes more sense to not allow putting control-only nodes inside of user-defined instance group.

yes, it's true that `controlplane` will have a `capacity` number which is not 100% available to jobs in cases. That would be unique to that one instan

[2021-08-10 19:16] #10673 closed, assigned to AlexSCorey

[2021-08-10 19:23] ChandlerSwift opened #10855 "The documentation for the lookup plugin, awx.awx.controller_api, was malformed."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Docs

##### SUMMARY
When visiting https://docs.ansible.com/ansible/latest/collections/awx/awx/controller_api_lookup.html, I see the message

and am told to open an issue here.

[2021-08-10 19:36] nacurtis commented on #5209
+1

[2021-08-10 19:49] beeankha commented on #10855
Hi @ChandlerSwift , there's [a PR](https://github.com/ansible/awx/pull/10807) that _hopefully_ fixes this but I need to dig into how to implement this into the live version of the docs. Another related issue has been filed here: https://github.com/ansible/awx/issues/10776

[2021-08-10 23:58] ksquires opened #10857 "allow for AWS RDS IAM authentication"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I was hoping it would be possible to get AWX to support using AWS IAM authentication to connect to the postgres database.   Right now it's limited to password only (that I could determine).

thanks

[2021-08-11 05:21] hunter86bg commented on #5839
Do we have a progress on this one ?

[2021-08-11 08:18] slowerogue commented on #2338
What if I would like to keep job isolation on. Is there any workaround of doing this instead of turning off job isolation?

[2021-08-11 08:25] DE110283 commented on #8429
In which Tower version this will be available? Just tested in version 3.8.3 and it is still missing... (tower_job_scm_branch and tower_project_scm_branch not available in job run). Please add it in next 3.8.x tower version.

[2021-08-11 08:47] Houssem-Azzouz commented on #5209
+1 for bitbucket webhooks

[2021-08-11 10:46] gruunday commented on #10837
This was already fixed by #10481

[2021-08-11 13:14] HailsonJunior commented on #3318
Any udpate on this? I having the same problem.

I set "GIT_SSL_NO_VERIFY = true", but it keep verifying the certificate:

fatal: [localhost]: FAILED! => {"changed": false, "cmd": ["/usr/bin/git", "fetch", "--tags", "origin"], "msg": "Failed to download remote objects and refs:  fatal: unable to access 'https://gitlab.hst.br/infrastructure1/ansible-qts-h-nonpci.git/': OpenSSL SSL_connect: SSL_ERROR

[2021-08-11 14:32] Nothing4You commented on #5209
please stop commenting +1.

it really just annoys everyone that's watching this issue/repo as they all get an email every time.
you can add reactions to the initial post to indicate your interest.

[2021-08-11 14:54] id-jim-bach commented on #10816
@wenottingham  patched it with this downstream (until a new release) it does indeed fix this and then some. Thank you!

[2021-08-11 14:54] #10816 closed, assigned to nobody

[2021-08-11 15:22] nixocio opened #10860 "Session expiration modal displaying after social auth"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###