[2020-04-10 18:22] rmanibus commented on #6158
yes of course thanks for the clarification, what I'm not sure about is if the token provided after authentication by #5076 can be plugged into anything (acting as a standalone external auth) or if it live inside the signed ssh plugin in which case the only output available would be a signed certificate.

[2020-04-10 18:29] rmanibus commented on #6158
if it's the case I think this can be closed.

[2020-04-10 19:10] stobias123 opened #6672 "RFE: Workflow "On Changed" branch"
##### ISSUE TYPE
Feature Request

##### SUMMARY
I'd like to be able to branch workflow actions only when the previous JT returned "changes".

I have a workflow that looks like this.
[code]

I'm testing for drift with the the check mode, and I'd like to just stop and return success at node 2 if there are no changes.

I only want to continue in the workflow, get approval, and remediate if there are

[2020-04-11 13:11] sinahamedheidari opened #6673 "TASK [local_docker : Start the containers] ************************************* fatal: [localhost]: FAILED! => {"changed": false, "msg": "Error connecting: Error while fetching server API version: ('Connection aborted.', error(2, 'No such file or directory'))"}"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I want to create a Dockerfile for deploying AWX. I put all the commands inside the Dockerfile. Here is my Dockerfile:

##### ENVIRONMENT
* AWX version: devel
* AWX install method: docker-compose inside Dockerfile
[code]

the inventory:
[code]
After run `docker build --force-rm -t myawx:v1 .`
I get the following error:

[code]

Where am i doing wrong?
T

[2020-04-11 15:22] nickjmv commented on #223
Any roadmap for this fix?

[2020-04-12 13:38] sinahamedheidari opened #6674 "Use awx docker-compose on another server"
I created an AWX instance in docker. The docker-compose.yml file and all other necessary files are stored in ```/tmp/awxcompose/``` and database files are stored in ```/tmp/pgdocker/10/data/```. If I do docker-compose up and down on my local machine everything is fine. But if I copy the ```/tmp/awxcompose/``` and change the volume for postgres, I get the database related errors! absent relations a

[2020-04-13 07:57] sshedmake commented on #5636
Screenshot verifying label 'Log In' now, marked as translatable string and browser loading its dummy Japanese translation

![Screenshot from 2020-04-12 19-12-43_1](https://user-images.githubusercontent.com/12151785/79103417-218bf280-7d8a-11ea-8b58-9a65d5ea7e18.png)

[2020-04-13 09:25] domq opened #6675 "Isolated runs choke on rsync's .~tmp~ directories"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

In some circumstances, running an Ansible playbook as an isolated job causes a spurious failure (despite all individual Ansible tasks succeeding), because a stray `.~tmp~` directory pops up in an unexpected place.

##### ENVIRONMENT
* AWX version: AWX 10.0.0
* AWX install method: openshift
* Ansible version:  2.9.5

##### STEPS TO REPRODUCE

- Set `AW

[2020-04-13 09:36] domq commented on #6675
Analysis:

- [`awx/main/isolated/manager.py`](https://github.com/ansible/awx/blob/devel/awx/main/isolated/manager.py) periodically runs the [`awx/playbooks/check_isolated.yml`](https://github.com/ansible/awx/blob/devel/awx/playbooks/check_isolated.yml) playbook, which relies on the [`synchronize`](https://docs.ansible.com/ansible/latest/modules/synchronize_module.html) module
- Said module [forces

[2020-04-13 09:42] domq commented on #6280
Regarding specifically the `IsADirectoryError`, see also #6675

[2020-04-13 11:04] tumbl3w33d commented on #223
I wrote a little summary about an alternative to ansible-vault in combination with running on AWX that might be interesting for some: https://tumbl3w33d.github.io/views/git-crypt-ansible-awx.html

It works for encrypted group_vars, however, what @Timoses wrote about

also applies here, of course. Just saying, in case that matters for those trying it out.

[2020-04-13 13:09] ryanpetrello commented on #6674
Hey @sinahamedheidari,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-04-13 13:09] #6674 closed, assigned to nobody

[2020-04-13 13:10] ryanpetrello commented on #6673
Hey @sinahamedheidari,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-04-13 13:10] #6673 closed, assigned to nobody

[2020-04-13 14:00] viewmithun commented on #6667
Hi Greg,

Thanks for labeling the bug and your future course of action.
Request an assistance in this regards whenever possible.

Thanks,
Mithun

[2020-04-13 14:47] matburt opened #6680 "Need a better way to control job event growth for large jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Large jobs (both in number of managed hosts and number of tasks) can swamp the user with a lot of detail and blow up the size of the job events table. It would seem to be a good idea to have an optional flag that can be enabled on a job template that will restrict the types of events that are recorded. The default would be `all` but it could be furth

[2020-04-13 14:47] matburt commented on #6680
This is currently implemented in #6641

[2020-04-13 15:16] AlanCoding commented on #6680
Put up supporting code change in Ansible core:

https://github.com/ansible/ansible/pull/68914

[2020-04-13 15:18] agilleyrh opened #6682 "RFE: Ability to add multiple hosts at a time in the UI and awx-manage via single API endpoint"
##### ISSUE TYPE
 - When adding a multiple hosts manually you can only do it one at a time. The ability to add hostnames from a list would save time when hosts are manually managed.

##### SUMMARY
Ability to take a list of hostnames and add them all at one time or via a single API call.

[2020-04-13 15:29] ryanpetrello commented on #6682
This is arguably entering the territory of what inventory scripts/plugins are intended to be used for.

[2020-04-13 16:02] wenottingham commented on #6672
Jobs do not return 'changed'. -> https://github.com/ansible/awx/issues/5564

[2020-04-13 16:02] #6672 closed, assigned to nobody

[2020-04-13 16:06] wenottingham commented on #6682
Yeah, I don't know that we'd ever really prioritize this. If you can call awx-manage, you can pass it an inventory file with multiple hosts. If you're doing it in the UI, you really should be using an inventory plugin (or inventory from SCM).

[2020-04-13 16:14] ryanpetrello opened #6683 "rsyslogd: properly respect LOG_AGGREGATOR_TCP_TIMEOUT for TCP logging"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In the new rsyslogd-based logging implementation, we should find a way to properly respect `settings.LOG_AGGREGATOR_TCP_TIMEOUT`.

As I recall, the *main* reason for this setting was to avoid having hung Python processes that never time out on requests.  That said, we should probably still do our best to respect it in our rsyslogd-based new implementat

[2020-04-13 16:14] ryanpetrello commented on #6683
cc @rooftopcellist @elyezer

[2020-04-13 16:14] ryanpetrello commented on #6683
also @wenottingham @gamuniz for general awareness

[2020-04-13 16:19] gamuniz commented on #6683
@ryanpetrello @rooftopcellist currently that setting doesn't do anything in the new rsyslog world right? Would it be better to obfuscate it until it actually does do something?

[2020-04-13 16:19] ryanpetrello commented on #6683
Aaaaaactually, maybe we should configure TCP keepalive intervals:

https://www.rsyslog.com/doc/v8-stable/configuration/modules/omfwd.html#keepalive

[2020-04-13 16:26] rooftopcellist commented on #6683
@gamuniz It didn't, but I just added a commit so that it will. Though this will only apply in the `http/s` context, so we will want to hide it in the UI for tcp and udp.  And if we do something with tcp keepalive intervals, we will want to change the tool tip wording

https://github.com/ansible/awx/pull/6108/commits/84385bc553cda0665179f5dd249caf3830a15b26

[2020-04-13 16:26] wenottingham commented on #6683
How is our logger persisting TCP connections? If it's not persisting, TCP keepalive won't do much.

[2020-04-13 16:28] domq commented on #6675
Upon inspecting this further, I believe I have the root cause wrong; now I am suspecting an `rsync` deadlock — According to the logs of my `awx-task` container on Kubernetes, the error pops up exactly 10 minutes after `rsync` starts

I shall close this issue and reopen a new one if I manage to get to the bottom of this.

[2020-04-13 16:28] #6675 closed, assigned to ryanpetrello

[2020-04-13 16:33] ryanpetrello commented on #6683
/me reading

https://www.rsyslog.com/doc/v8-stable/configuration/modules/omfwd.html#rebindinterval

(default is zero, though I'm unclear from the docs if 0 == always reconnect, or 0 is effectively -1)

We may need to just watch some logs flow and see what the behavior is.

[2020-04-13 16:35] ryanpetrello commented on #6675
Thanks @domq - the traceback you reported *does* look legitimate, though, so I merged the PR I opened.

[2020-04-13 17:10] dsesami commented on #6577
issue fixed alongside #6584

[2020-04-13 17:10] #6577 closed, assigned to unlikelyzero

[2020-04-13 18:35] #5820 closed, assigned to nixocio

[2020-04-13 18:42] chrismeyersfsu commented on #6610
**TL;DR** Instead of the legacy token you need to create an oauth token.

The current slack library continues to work with the new app based authorization in Slack.

1. Go to https://api.slack.com/apps
![image](https://user-images.githubusercontent.com/722880/79148384-61a3a300-7d93-11ea-8ead-7b1387968d94.png)
2. Click "Create New App" at the top right
3. Enter a name for your App and assign it to

[2020-04-13 18:44] ryanpetrello commented on #6517
Hey @atlekberg,

It looks to me like AWX is already equipped to handle this.  Give this comment a look:

https://github.com/ansible/awx/issues/6610#issuecomment-613035465

[2020-04-13 18:45] selvaprakashs opened #6686 "failed to perform operation on queue 'awx private queue' in vhost 'awx' due to timeout"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
When I'm trying to run the template or Project getting the below error, and stuck the screen and showing status is Pending

  File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/amqp/abstract_channel.py", line 145, in dispatch_method
    listener(*args)
  File "/var/lib/awx/venv/awx/lib/python3.6/si

[2020-04-13 22:08] fgierlinger commented on #4736
I’d like to reopen this issue since exactly the error described above happened to me while trying to deploy awx on a fresh centos7. After running the `install.yml` playbook, the message `FATAL:  no pg_hba.conf` appears multiple times in the awx_task container logs.

I could solve the problem by appending manually the following line in `/root/.awx/pgdocker/10/data/pg_hba.conf`:

[code]

This is for

[2020-04-14 01:40] MrBones757 commented on #6647
The implementation here would be:
- add required binaries to containers for kerberos operation
- add required configuration files & scripts to kube deployment scripts (config maps)
- add parameters to inventory file for credentials passthough

with the goal of:
Allowing users to conditionally enable kerberos support as described in the above tower documentation. This includes running the kinit in

[2020-04-14 06:37] MrBones757 commented on #6647
Update: I have implemented and tested a proof of concept.
the solution is based off the 10.0.0 release tag, but there are some changes coming on devel that will make this much better implementation wise (and alittle less hacky).
Would be happy to submit as a PR if you were curious about implementation

[2020-04-14 08:58] EswanthNTS opened #6691 "Github not able to authenticate with AWX containers"
##### ISSUE TYPE
 - Bug Report
![image](https://user-images.githubusercontent.com/43998903/79205636-1b535000-7e36-11ea-93cd-c55c93fe4656.png)

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

I have added Github creden

[2020-04-14 09:03] domq opened #6692 "EAGAIN hazard in isolated runs using rsync + oc rsh"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Because `rsync` and `oc rsh` disagree on whether socket IO should be blocking or nonblocking by default, and [`awx/playbooks/check_isolated.yml`](https://github.com/ansible/awx/blob/devel/awx/playbooks/check_isolated.yml) uses a combination of both to pump the JSON job events out of runner containers running on Kubernetes, there exists a hazard of EAG

[2020-04-14 09:07] domq commented on #6692
Here is some speculation that will need substantiating:

- Because `io.Copy` does not have access to a shareable event loop abstraction that would let it wait and retry on EAGAIN, it likely has no choice but to assume EAGAIN never happens (i.e., blocking I/O)
- The fact that `rsync --blocking-io` [helped](https://github.com/moby/moby/issues/13660#issuecomment-194439266), might indicate that `rsync

[2020-04-14 09:10] domq commented on #6692
In fact it is even debatable whether this is is an `rsync` bug, an `oc` bug, or should somehow be worked around in AWX's own pipework.

[2020-04-14 09:17] domq commented on #6675
I wrote up the proper root cause analysis of my issue in #6692.

[2020-04-14 10:25] domq commented on #6692
[Here](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=209509#c3) is why this issue doesn't show up with “ordinary” rsync over ssh.

[2020-04-14 10:27] rishabhgupta1608 opened #6693 "Unable to copy file at remote location through awx"
##### ISSUE TYPE
FIle is not copying to remote location

Any help will be much appreciated.

I tried ping module for the same host and it is working fine.

##### SUMMARY

I am trying to copy a file to a remote host. However, it seems awx is looking for it in temporary directory which it creates during the processing. I am pulling the playbook from Git.

awx 10
python 3.6
ansible 2.9
linux 7.6
====

[2020-04-14 10:51] atlekberg commented on #6517
@ryanpetrello thanks for the tip! I can confirm that this works. There's one additional step that needs to be done at the end - and that is to add the Bot/App to the channel.

[2020-04-14 10:53] atlekberg commented on #6610
I can confirm that this works for AWX v9.3.0. Only step missing from guide was that we need to, in Slack, add the new App/bot to the channel(s).

[2020-04-14 13:14] ryanpetrello commented on #6693
Hey @rishabhgupta1608,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-04-14 13:14] #6693 closed, assigned to nobody

[2020-04-14 13:22] ryanpetrello commented on #6692
**Wow**.  First, thanks for spending so much time on this one - it's pretty gross 😂 and _very_ complicated.

Having read all of this, *this comment* captures my first impression:

Based on your description, this really sounds like a bug in `oc` itself.  Have you considered reaching out to the OpenShift folks and seeing if they have any ideas?

Also, any chance you've tried and found better results

[2020-04-14 13:27] ryanpetrello commented on #6691
Hey @EswanthNTS,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-04-14 13:27] #6691 closed, assigned to nobody

[2020-04-14 13:45] shanemcd commented on #6692
Yeah, holy shit. Thank you for digging so deep into this. I see you found my `synchronize` + `oc rsh` hack. I knew that it was probably a matter of time before someone found a fatal flaw with it. 😄

If @ryanpetrello's suggestion doesn't work, we might want to move away from using `run_isolated.yml` and `check_isolated.yml` for container groups. Those (as the name implies) were for our Isolated Nod

[2020-04-14 14:08] EswanthNTS commented on #6691
Hey @Ryan

I am not able to authenticate between git hub and AWX its showing some errors.
Could anyone help to fix those issues?

Regards,
Eswanth.N
+919902842524

[2020-04-14 14:16] AlexSCorey opened #6694 "Add webhooks fields to Job Template Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The job template details view does not have fields for webhooks data.  When #6654 merges those missing fields should be added.

https://tower-mockups.testing.ansible.com/patternfly/templates/templates-detail/

[2020-04-14 14:38] EswanthNTS commented on #6691
Adding to it after creating the project is showing the following error.

{
   "stderr_lines": [
       "fatal: repository 'https://github.com/newsuk/Enterprise-Infrastructure-AWS/tree/master/playbooks/CHagent/' not found"
   ],
   "cmd": "/usr/bin/git clone --origin origin https://github.com/newsuk/Enterprise-Infrastructure-AWS/tree/master/playbooks/CHagent /var/lib/awx/projects/_12__git_demo",

[2020-04-14 15:31] ghost opened #6701 "Silence error : django.db.utils.IntegrityError when admin user already exist"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Silence error : django.db.utils.IntegrityError: duplicate key value violates unique constraint "auth_user_username_key" when admin user already exist in database.

This error don't cause any issue, and should be silence like proposed [here](https://github.com/ansible/awx/issues/800)

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker o

[2020-04-14 15:42] mabashian opened #6703 "Add support for dropping a file on key fields so users don't copy/paste"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This feature exists in the old app and we'll want to add support for it here as well.  Fields like `SSH Private Key` and `RSA Private Key` had logic built in to accept file drops in order to populate the field.

It looks like PF is using react-dropzone under the hood for it's file upload/drop functionality.  We could look in to pulling something like

[2020-04-14 15:54] mabashian commented on #6703
https://www.patternfly.org/v4/documentation/react/components/fileupload/#text-file-with-edits-allowed is already available via PF and _should_ be sufficient for our needs.  This UX would actually be better than the old app because users could drop or select their file from the file picker.

[2020-04-14 16:06] ryanpetrello commented on #6428
Spoke w/ @fosterseth, it sounds like this was just a bug in the associated test cc @kdelee

[2020-04-14 16:07] AlanCoding commented on #5145
This takes care of some minor things I mentioned

https://github.com/ansible/awx/pull/6700

[2020-04-14 16:20] appuk commented on #6655
the job now launches successfully, hence closing the issue
<img width="1268" alt="Screen Shot 2020-04-14 at 12 19 17 PM" src="https://user-images.githubusercontent.com/11617351/79248816-53648e00-7e4a-11ea-9d4d-7d88650b2958.png">

[2020-04-14 16:20] #6655 closed, assigned to mabashian, appuk

[2020-04-14 16:59] appuk commented on #4967
Verified the prompt on launch checkbox on the JT Form and verified the new validation for inventory.
Everything works as expected, hence closing the issue

[2020-04-14 16:59] #4967 closed, assigned to mabashian, appuk

[2020-04-14 17:59] marshmalien opened #6705 "Detail Label text alignment"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The detail label text is currently center-aligned, but it should align vertically to the top. This style update would be a sweeping change, so it would be a good idea to run this through Percy.

##### EXPECTED RESULTS
_Options Label aligned to the top_

![image](https://user-images.githubusercontent.com/15881645/79257483-af81df00-7e57-11ea-837d-31a8413

[2020-04-14 18:00] fosterseth commented on #6667
was not able to reproduce this bug

the message is always constructed on the fly, and pulls in `settings.TOWER_URL_BASE`, so I am not sure why in some situations it would be grabbing the older url name.

Are you using a custom notification template that doesn't grab the `{{ url }}` ?

[2020-04-14 18:18] kdelee commented on #5145
@squidboylan I think you are best to say if this is done. AFAIK you've been testing each step of the way, so probably ready to close

[2020-04-14 18:19] squidboylan commented on #5145
is this done even though import/export isnt done? Should we close this and add issues for import/export modules?

[2020-04-14 18:30] kdelee commented on #5145
@wenottingham could use some clarification here.

I'm thinking we can make a new issue for the import/export new implementation based on awx cli and call this issue done.

[2020-04-14 18:34] dsesami opened #6707 "500 error modal contains entire HTML page of error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
500 errors show as a modal, but they spit out the entire HTML page of failure:

![Screenshot_20200414_143348](https://user-images.githubusercontent.com/19942822/79260883-fb835280-7e5c-11ea-9529-1a46a2b37aa1.png)

There should be more focused error-reporting here.

#### STEPS TO REPRODUCE
To create a 500 artificially within a modal:
1) Create a Job Temp

[2020-04-14 18:58] kdelee commented on #5145
linking https://github.com/ansible/awx/issues/5146 ...thats the "implement import/export in awx cli" issue.

[2020-04-14 19:02] wenottingham commented on #5145
Yeah, I'm fine with closing this out and having import/export as a followon issue.

[2020-04-14 19:14] dsesami opened #6708 "500 Error generated when attempting to delete schedules"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This occurred when trying to delete in the `ui_next` project, but am unsure if it's doable elsewhere.
Under certain conditions, deleting multiple schedules from a job template results in a 500 error.

The schedule fails to delete, and still exists. A second attempt to delete the schedule succeeded without issue.

##### STEPS TO REPRODUCE
I have made th

[2020-04-14 19:14] ryanpetrello commented on #6708
Is there a taller traceback than this @dsesami ?

[2020-04-14 19:18] dsesami commented on #6708
@ryanpetrello Fortunately still had the error in the network tab. it's formatted as the entire HTML page so it's a little wonky but here:

edited for copy-paste view:
[code]

[2020-04-14 19:20] dsesami commented on #6708
so it's interesting because now that I'm looking at this, it was the request for ID 12, but the error is about the next id:

Key (next_schedule_id)=(13) is not present in table

This sounds like a race condition.
I _assume_ it works like this:

If you delete the schedule that's going to go off, next_schedule gets reassigned, but if you bulk delete...the reassignment freaks out and fails to delete

[2020-04-14 19:27] dsesami commented on #5905
this applies to all the schedules tabs but putting it in one spot; mass-deletion _might_ be causing API issues: https://github.com/ansible/awx/issues/6708#issuecomment-613632975

[2020-04-14 19:46] ryanpetrello commented on #6708
@dsesami yea, sounds like a race condition between parallel requests.  I'm guessing this has always existed, but we have never noticed before since this is a new UI paradigm.

[2020-04-14 19:47] ryanpetrello commented on #6200
@Ladas I just want to confirm - you've merged everything you need here, right?

[2020-04-14 19:49] ryanpetrello commented on #6201
@Ladas I just want to confirm - you've merged everything you need here, right?

[2020-04-14 19:55] kdelee commented on #5146
additional requirement:

need to update
[code]
to use the awx cli based import/export

[2020-04-14 20:03] jbradberry commented on #5146
@kdelee no, those are being deprecated and new ones based around import/export are going to be written.

[2020-04-14 20:22] #5145 closed, assigned to squidboylan, beeankha

[2020-04-14 20:28] ryanpetrello commented on #6683
@wenottingham,

It looks to me like rsyslog itself maintains a persistent TCP connection:

![image](https://user-images.githubusercontent.com/214912/79270686-8f104f80-7e6c-11ea-9fbe-6cd2fe8e67cd.png)

If I sever the link artificially, it re-connects:

![image](https://user-images.githubusercontent.com/214912/79270898-f0382300-7e6c-11ea-9308-e40fa975322d.png)

[2020-04-14 20:39] ryanpetrello commented on #6683
Yea, I'm not having a lot of luck finding any parameters to `omfwd` that equate to the *intended* behavior of `LOG_AGGREGATOR_TCP_TIMEOUT`.  Given that, I think the best approach here is to just not factor this setting in for TCP-based logging, especially given that the entire point of it was to avoid our Python-based implementation from hanging forever.

[2020-04-14 20:45] ryanpetrello commented on #6683
If I point rsyslog at a port I'm not listening on, I see `SYN` packets every ~30 seconds or so (regardless of a variety of parameters I've tried passing to `omfwd`):

![image](https://user-images.githubusercontent.com/214912/79272195-19f24980-7e6f-11ea-9f57-4795ceb0da99.png)

...which seems like pretty reasonable behavior to me.

And if I leave things lying around like this for a few minutes and s

[2020-04-14 20:56] ryanpetrello commented on #6683
Actually, nevermind,  I figured out a config change that does it:

Five second interval (default):

![image](https://user-images.githubusercontent.com/214912/79273294-c41ea100-7e70-11ea-9099-2e37118d8931.png)

Custom 10 second interval:

![image](https://user-images.githubusercontent.com/214912/79273364-e0224280-7e70-11ea-8967-a105b1acca7c.png)

[2020-04-14 20:58] mbmokgosi commented on #2958
Having the exact same issue, how did you solve it?

[2020-04-14 21:05] AlanCoding commented on #5145
@kdelee I don't want to munge this in with #5146. Jeff was in agreement with me in-principal that we could add those to his branch / PR. But we shouldn't block the import/export work on having AWX collection modules for them, unless someone has them ready to go. Right now I don't have time for that.

Let's make a new issue for the specific and well-defined task of adding new `tower_import` and `to

[2020-04-14 21:06] strawgate opened #6711 "Bulk retrieve host facts"
##### ISSUE TYPE
 - Feature Idea

We'd like the ability to retrieve facts from multiple hosts with a single API call

##### SUMMARY
We have several thousand devices managed with AWX and would like a more performant way of retrieving host facts from AWX.

[2020-04-14 21:35] marshmalien commented on #5977
related pf-react issues:
https://github.com/patternfly/patternfly-react/issues/3829
https://github.com/patternfly/patternfly-react/issues/4084

[2020-04-15 08:05] Ladas commented on #6200
yes, this issue should be fixed now

[2020-04-15 08:06] Ladas commented on #6201
yes, this issue should be fixed now

[2020-04-15 11:45] xavileci opened #6715 "Playbook to instal fails for local docker"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The playbook to install aAWX in local docker fail. it's like the compose it's not right

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: Debian GNU/Linux 10 (buster)
* Web Browser:

##### STEPS TO REPRODUCE

I've followed the steps defined in this URL: https://computingforgeeks

[2020-04-15 12:31] ryanpetrello commented on #6715
https://github.com/ansible/awx/blob/devel/INSTALL.md#prerequisites

[2020-04-15 12:31] #6715 closed, assigned to nobody

[2020-04-15 12:43] ryanpetrello commented on #6357
@one-t @squidboylan @dsesami the relevant Ansible change was merged into the 2.9 branch and this is ready for verification.

[2020-04-15 14:05] ryanpetrello commented on #6075
Here are some more through instructions/examples on writing custom credential plugins:

https://github.com/ansible/awx/pull/6717

[2020-04-15 14:22] mabashian opened #6718 "Add "of" to "Run on" field in schedule form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
![Screenshot_20200415_101505](https://user-images.githubusercontent.com/9889020/79348253-c6314000-7f02-11ea-90f6-e74610f3fb8f.png)

This could be more readable by adding "of" to the "The" option so that it read like:

`The First ___ day of [month]`

[2020-04-15 14:33] sdwru opened #6719 "Add Client Credentials Grant oauth2 authorization type"
##### ISSUE TYPE
 - Add Client Credentials Grant oauth2 authorization

##### SUMMARY
Currently, if I want to connect an application to AWX API for machine to machine connections, I need to use password grant type authentication.  It's probably possible to use authorization code or personal access tokens but they are not designed for machine to machine.

Using Password Grant is not recommended for

[2020-04-15 15:18] ryanpetrello commented on #6630
@sdwru would you like to be acknowledged (in a CVE) for discovering and reporting this?  If so, please reach out to me with the name you'd like to use for attribution (or post it here, if you're comfortable with that).

`rpetrell<at>redhat.com`

[2020-04-15 15:32] sdwru commented on #6630
You can just use @sdwru

[2020-04-15 17:22] rebeccahhh commented on #6636
After a meeting with some folks we have determined this bug is no longer reproducible. The working theory is that the switcheroo around memcached was the cause. Closing as this is no longer on our to do list.

[2020-04-15 17:22] #6636 closed, assigned to rebeccahhh

[2020-04-15 17:53] dsesami commented on #5865
Superseding issues:

- Adding an edit/delete button to the details page itself is covered by #6171
- @mabashian and I agreed on adding a small piece of text to the form for grammar purposes in this issue: #6718

Everything else looks solid.

[2020-04-15 17:54] dsesami commented on #5865
Closed by mistake; should be closed when https://github.com/ansible/awx/pull/6560 merges

[2020-04-15 18:12] chrismeyersfsu commented on #6598
@Cartman25 @wilkis3 Check to see if there is a `credentials.py` file hanging around from previous awx installs in `~/.awx/awxcompose/`. If so, delete it.

[2020-04-15 18:48] unlikelyzero commented on #6333
@AlexSCorey reopening for `needs_test`

[2020-04-15 19:22] fosterseth commented on #6213
my guess is that the job is trying to run on a node that doesn't have that manual project in `/var/lib/awx/projects/`

see the relevant discussions here

https://github.com/ansible/awx/issues/857
https://github.com/ansible/awx/issues/229
https://github.com/ansible/awx/issues/239

so you would need to copy the projects into each container on your own

If using scm isn't an option, some users have h

[2020-04-15 20:06] mvrk69 commented on #6213
Yes, i'm using manual project.

Directory exists on the kubernetes node and was defined as volume to be mounted on the container.

I only have 1 execution node.

Execution Node: awx-0

 kb1  root  ~  kubectl exec -n awx -it awx-0 -- /bin/bash
Defaulting container name to awx-web.
Use 'kubectl describe pod/awx-0 -n awx' to see all of the containers in this pod.
bash-4.4$ ls -l /var/lib/awx/proj

[2020-04-15 21:24] wenottingham opened #6725 "tower_group is really expensive"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

inventory: an ec2 inventory of 12 hosts
playbook that "pushes" an ansible inventory into the API:
[code]

Timing of playbook:
- to process inventory, create inventory, create hosts: ~30 seconds
- to create groups: 7+  additional minutes

##### ENVIRONMENT
* AWX version: 10.0.0

[2020-04-15 21:26] ryanpetrello commented on #6725
![](https://media.giphy.com/media/dCVpQH67jdq2Q/giphy.gif)

[2020-04-15 21:34] wenottingham commented on #6725
[code]

Assuming `module.get_one` is a REST GET each time, yeah, that's going to hurt. (I'm not sure I have an obvious suggestion here)

[2020-04-16 00:25] AlanCoding commented on #6725
What parameters did you use for authentication? Did you use username/password, or a token? Token should be faster.

Also, should that final task have `run_once: true`? I'm not sure, but I am sure that it should run `len(group_names)` times, and not `len(group_names)*len(hostvars)` times.

[2020-04-16 02:51] wenottingham commented on #6725
Yes, username/password.

group_names is the group_names *for that current host*, so the naive playbook implementation needs run for each host, not just once. I'm guessing it's possible to do data manipulation to pass the list of groups to the module, rather than using straight inventory primitives, but it would complicate the playbook.

[2020-04-16 03:34] AlanCoding commented on #6725
Well I messed up the magic vars in my head, and not for the first time.

Something about that still seems suspect to me. I see how you're doing it, but I don't see how the alternatives are worse. In order for this "loop over groups for each host" to make sense, I need to see some parameter that uses information from the host. Otherwise, why do 2 loops as opposed to 1? Do `run_once: true` in combin

[2020-04-16 07:24] domq commented on #6692
I've been distracted by other work lately, but I'll give this a try ASAP.

[2020-04-16 08:42] lniesz commented on #6213
Hi,
We have the same problem. Manual project with a local path mounted from the single worker node.

I've opened terminal on the awx-web container and checked with python console, which works well:

sh-4.4$ ls -ld /var/lib/awx/projects/XXXdemo
drwxr-xr-x. 2 awx root 4096 Apr 15 14:37 /var/lib/awx/projects/XXXdemo
sh-4.4$ python3.6
Python 3.6.8 (default, Nov 21 2019, 19:31:34)
[GCC 8.3.1 20190507 (

[2020-04-16 08:59] anksvault opened #6726 "AWX External logging in AWX 10.0.0 doesn't work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Post migrating AWX 9.2.0 to AWX 10.0.0, Splunk logging which was configured has stopped working. When trying to run test logging in AWX 10.0.0, it gives following error:

![image](https://user-images.githubusercontent.com/42296733/79436492-95c6d000-7fee-11ea-9ac8-6c9a04816ee3.png)

AWX Web Container logs give the following messages when the test is exe

[2020-04-16 09:13] idelsink commented on #5692
We have the same issue, We have an inventory with multiple sources both from AWS and sourced from a project.

When launching the project with a branch, for example `devel` the inventory sync is triggered with the branch configured in the project (for example `master`).

For now we can work around this by configuring the project's branch with the branch we want to target with the inventory, but thi

[2020-04-16 09:14] alexsuppanz opened #6727 "vCenter dynamic inventory imports hostname in format 'name_uuid'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using the VMware vCenter dynamic inventory the host name is imported in the format 'name_uuid'.  For example:
`awx_43374ba9-b3f0-74cb-9ac4-fc4fa55bb14b`

When using the limit parameter the hostname has to be in format `awx_*` , otherwise it does not match any hosts.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* A

[2020-04-16 10:22] lniesz commented on #6213
Hi,

Made some tests, and found that this volumeMode: Filesystem is the default. Sorry for that :-)

But finally I've found the solution:

In the failing system the awx StatefulSet did not have the mount section for the /var/lib/awx/projects volume for the awx-celery container. So it seems that this is the one, which wants to make a copy of the running project when the job is running.

In the work

[2020-04-16 12:28] AlanCoding commented on #6727
Have you tried putting this in source variables, as opposed to modifying the code?

[code]

https://github.com/ansible/ansible/blob/stable-2.9/contrib/inventory/vmware_inventory.ini#L56

source variables are passed through to the config

https://github.com/ansible/awx/blob/00aa1ad295126e5a62f4cd978e9dcba076ffde1e/awx/main/models/inventory.py#L2238-L2239

[2020-04-16 13:08] AlanCoding commented on #3508
Component issue: https://github.com/ansible/awx/issues/6727

Ongoing work in: https://github.com/ansible-collections/vmware/pull/80

In-progress work for this issue is lumped into: https://github.com/ansible/awx/pull/6283

[2020-04-16 13:19] alexsuppanz commented on #6727
This was my first idea, already tried it, but I used `alias_pattern: "{{ config.name }}"` , sine I want the hostname in the inventory, not the uuid.

What's the difference between the vmware_inventory.py of AWX and the vmware_inventory.ini of ansible mentioned by you?

[2020-04-16 13:22] AlanCoding commented on #6727
Are you doing that with a new inventory, or trying again with your existing inventory? The only thing I can think of is that it's tracking the hosts via the instance_id, and not changing the names to the updated ones.

when an inventory import is ran, the server generates a file similar to the example `vmware_inventory.ini`, and the options you put in should be reflected in that.

[2020-04-16 13:33] ryanpetrello commented on #6726
@anksvault,

Any chance you can share the HTTP POST body content for the request your browser is making?

[2020-04-16 13:35] kdelee commented on #5155
@elyezer assigning you as you did bulk of testing, think this might be ready to close

[2020-04-16 13:35] kdelee commented on #5822
@elyezer is this ready to close now that the rsyslog work got merged?

[2020-04-16 13:48] alexsuppanz commented on #6727
Despite the time I spent to identify and reproduce the issue, the solution seems quite simple. I had an quotation mark in `alias_pattern: "{{ config.name }}"` , before the colon. I created a new inventory and fixed the typo, now my hosts are imported with hostnames and without uuid

[2020-04-16 13:54] #5865 closed, assigned to mabashian, dsesami

[2020-04-16 13:54] dsesami commented on #5905
This feature has been merged; follow up issues are in #6708 #6171  #6718

[2020-04-16 13:54] #5905 closed, assigned to mabashian, dsesami

[2020-04-16 13:56] dsesami commented on #5888
The issues this depends on have been merged and the differing endpoint works; follow up issues are in #6708 #6171 #6718

[2020-04-16 13:56] #5888 closed, assigned to mabashian, dsesami

[2020-04-16 15:01] megabreit opened #6731 "AWX deployment on Openshift 4.3 not working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX deployment doesn't create a working installation in Openshift 4.3, neither as update nor as a new installation

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: openshift
* Ansible version:  2.9.6
* Operating System: Openshift 4.3.12
* Web Browser: Linux Firefox 75.0

##### STEPS TO REPRODUCE

ansible-playbook -i inventory install.yml

[2020-04-16 15:03] anksvault commented on #6726
@ryanpetrello
Not sure this is what is required.

![image](https://user-images.githubusercontent.com/42296733/79472485-87de7280-8021-11ea-9ac9-967c45db8e34.png)

[2020-04-16 16:08] ryanpetrello commented on #6726
Hey @anksvault,

Mind giving this a shot on the (just released) 11.0.0?  We actually *just* released this this morning, and it includes an entirely new implementation of AWX's external logging support:

https://github.com/ansible/awx/issues/5155

[2020-04-16 16:10] ryanpetrello commented on #6534
@grahamn-gr we've just released a new version of AWX (11.0.0) that resolves a few issues we spotted related to the move to redis.  I'm not certain that it will address your issue, but are you willing to try it out and report back?

Thanks!

[2020-04-16 17:42] domq commented on #6692
Burn-in test is in progress; looks good so far (3 down, 3 to go).

![rsync-EAGAIN](https://user-images.githubusercontent.com/1629585/79488617-4dbda280-801a-11ea-990f-d92f5266c396.gif)

[2020-04-16 17:51] wenottingham commented on #6731
Your inventory has rabbitmq configuration parameters.

AWX 10.0.0 no longer uses RabbitMQ, and moves away from stateful sets to deployments.

I would first make sure your installer runs match the branch and version of AWX containers that you are pulling.

[2020-04-16 17:52] wenottingham commented on #6731
`2020-04-16 10:58:03,480 INFO spawnerr: can't find command 'rsyslogd'`

If you're getting this error, you're not even pulling 10.0.0 - you're pulling 11.0.0 or devel.

Ensure your installer & container versions match, and try again.

[2020-04-16 17:52] #6731 closed, assigned to nobody

[2020-04-16 18:08] megabreit commented on #6731
@wenottingham Yep. Thanks. My bad. Checking out the wrong tag is always no good idea. Sorry for the noise. 10.0.0 is now working.

[2020-04-16 18:09] chrismeyersfsu commented on #6610
@atlekberg I didn't have to add the App/bot to channels. Maybe I made a mistake and `chat:write.public` is required?

[2020-04-16 18:12] elyezer commented on #5155
Verified this by installing AWX and configuring it to the various external logging systems it supports. Also made sure that we can restart awx services and change all the various external logging configuration without any problem. Finally ensure that logs were sent even if the external logging system was down for a long time.

With all that, we can consider this as being verified.

[2020-04-16 18:12] #5155 closed, assigned to elyezer, jlmitch5, rooftopcellist, kdelee

[2020-04-16 18:17] wenottingham commented on #6725
You're not the only one, I assumed `groups` was ~= `group_names`.

With this instead:
[code]

it's down to ~2.5 minutes to create all the groups (with username/password). Still not great, but much better. I don't see how this improves if we are going to look up each host before adding it.

[2020-04-16 18:19] domq commented on #6692
Indeed, `--blocking-io` helps. Pull request to follow.

[2020-04-16 18:30] dsesami opened #6734 "Redirect on lists is broken if the previous page's items are also deleted"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Essentially, when deleting all items with the select-all toggle, lists should redirect to the lowest number page which contains items. However, if the previous page is also empty, the list 404s.

##### STEPS TO REPRODUCE
I used credentials for this bug.

1. Create 6 credentials.
2. Hit the select-all checkbox.
3. Set the list so that it only shows 5 pe

[2020-04-16 18:32] atlekberg commented on #6610
@chrismeyersfsu I don't know, but it complained about not being in channel so the natural next step, for me at least, was to invite the the app (as I've read elsewhere that this is needed for bots).

I managed to dig up the output from the log as well.
[code]

[2020-04-16 18:52] AlanCoding commented on #6725
Ansible just isn't structured to do this stuff very efficiently. There's no data sharing between each run of the module, so I don't know what options we have there. You _can_ provide ids in the host list instead of names, but that doesn't help, because the module has to validate it... with a request.

If modules could save artifacts to share with subsequent invocations, it could save lookup data /

[2020-04-16 19:14] dsesami commented on #6649
Looking at all of the fields where this might affect things, I don't see any strange regressions; this appears to work well.

[2020-04-16 19:14] #6649 closed, assigned to jlmitch5, dsesami

[2020-04-16 19:17] dsesami commented on #6333
@AlexSCorey I still see the behavior in this comment: https://github.com/ansible/awx/issues/6333#issuecomment-605000604

Do we want to change this?

Everything else looks good.

[2020-04-16 19:35] ryanpetrello commented on #6692
👍 thanks _a ton_ for testing this, @domq - if you want to let it marinate for a day or two, I'll merge your patch early next week after you're feeling confident cc @shanemcd

[2020-04-16 20:41] dnguyen9 commented on #6680
We have just a handful of jobs that would generate about 80% of the job_events on the database due to the sheer amount of verbosity, and had to customize the clean_jobs management job to delete them regularly.

Would love to see this feature implemented!

[2020-04-16 21:25] marshmalien commented on #5997
Splitting this into 2 smaller issues:
- [x] Add WF Node Modal detail views #6530
- [ ] Merge Overridden values and show them in the Prompted Values section

**Top Section:** Basic Details (basic values and default prompt values)
**Bottom Section:** Overridden Prompts

![image](https://user-images.githubusercontent.com/15881645/79508069-d7637500-8006-11ea-9340-191b702cf675.png)

[2020-04-17 11:16] way31415926 commented on #6539
@ldepandis @chrismeyersfsu
I encountered the same problem, and execute the command 'awx-manage migrate --noinput'.
Then,I could not login in the system.And there is no data in the database.
![image](https://user-images.githubusercontent.com/31196437/79563602-ad31b600-80df-11ea-8563-2b2a2fc195a9.png)
![image](https://user-images.githubusercontent.com/31196437/79563632-bc186880-80df-11ea-908e-a7ec6b

[2020-04-17 11:24] ghost commented on #6539
@way31415926 yes, that's right, because this is not a part of the database migration process.

In the awx-web container run
```awx-manage createsuperuser --username admin```

Insert the email and password and you're good to go.

Also, if you want the Demo Inventory or the other demo resources, just run
```awx-manage create_preload_data```

[2020-04-17 11:39] way31415926 commented on #6539
@ldepandis You are right , thanks a lot.

[2020-04-17 12:38] planeturban commented on #6666
+1 I'm having the exact same problems with protocol mismatch:
`Authentication failed: SAML login failed: ['invalid_response'] (The response was received at https://<awx_fqdn>/sso/complete/saml/ instead of http://<awx_fqdn>/sso/complete/saml/).`

@ggambini to fix the port problem you need to add `uwsgi_param HTTP_X_FORWARDED_PORT 443;` to `location /` in your awx_web containers nginx config, there

[2020-04-17 13:08] #6692 closed, assigned to nobody

[2020-04-17 16:08] #5983 closed, assigned to nixocio

[2020-04-17 17:18] ryanpetrello commented on #6686
Hey @selvaprakashs,

This has all changed pretty notably in recent versions of AWX - please give AWX 10 or 11 a try.

[2020-04-17 17:18] #6686 closed, assigned to nobody

[2020-04-17 18:30] AlexSCorey opened #6742 "Use Webhook Fields in WFJT Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We just created a webhook fields subform for JT Form.  That same component could also be used for WFJT form.

The webhook key and the webhook url field need some changes mentioned here https://github.com/ansible/awx/pull/6654#pullrequestreview-395653664

[2020-04-17 18:53] fosterseth commented on #6213
@mvrk69 `/var/lib/awx/projects` needs to exist in the `awx-task` container as well as `awx-web` container, can you check for that?

[2020-04-17 20:01] ryanpetrello opened #6746 "external logger outages can cause AWX to OOM"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1.  Turn on logging and point it at `localhost:8000`
2.  Don't run any TCP services on `localhost:8000`.
3.  Open `awx-manage shell_plus` and do this (and let it run for awhile):

[code]

##### EXPECTED RESULTS

AWX continues to function without `rsyslogd` using gobs of memory, and when `localhost:8000` is properly enabled (minutes, hours) later, logs

[2020-04-17 20:05] ryanpetrello commented on #6746
@elyezer @rooftopcellist could you all check my work here?

[2020-04-18 08:06] akira6592 opened #6748 "The tower_project module scm_allow_override option does not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The tower_project module scm_allow_override option does not work.

##### ENVIRONMENT
* AWX version: 11.0.0
* AWX install method: docker for mac
* Ansible version:  2.9.6
* Operating System: macOS
* Web Browser: Chrome 80

##### STEPS TO REPRODUCE

task
[code]

[code]

##### EXPECTED RESULTS

[code]

![image](https://user-images.githubusercontent.com/1

[2020-04-18 09:28] mvrk69 commented on #6213
I can only see it on awx-web, also there is no container called awx-task:

kubectl describe pod awx-0 -n awx
...
Containers:
  awx-web:
    ...
    Mounts:
      /etc/nginx/nginx.conf from awx-nginx-config (ro,path="nginx.conf")
      /etc/tower/SECRET_KEY from awx-secret-key (ro,path="SECRET_KEY")
      /etc/tower/conf.d/ from awx-application-credentials (ro)
      /etc/tower/settings.py from awx

[2020-04-18 15:32] ryanpetrello commented on #6213
Hey @mvrk69,

On older versions of AWX, look in `awx-celery` (not `awx-task`).

It does indeed look like your `awx-celery` is missing the volume mount for the project directory.

[2020-04-18 15:48] mvrk69 commented on #6213
ok, celery exists but doesn't have the mount as can be seen on the pod describe on my previous post.

Maybe some bug/problem on deployment ?

[2020-04-18 19:23] Hoijima commented on #5496
+
getting net::ERR_CONTENT_LENGTH_MISMATCH 200 (OK)
trying to open:

1. Setting
2. Running jobs
3. Just randomly browsing templates

Tried to include custom nginx config disabling proxy buffer and increasing client body, didn't help.

[2020-04-18 19:26] BrotherLavarius opened #6749 "net::ERR_CONTENT_LENGTH_MISMATCH 200 (OK)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can't selectively use the web UI

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operating System: CentOS 7
* Web Browser: OperaGX,Chrome Latest,Firefox Latest, Microsoft Edge(web kit based)

##### STEPS TO REPRODUCE

Can't really describe how to reproduce because it happened after updating fro

[2020-04-19 06:41] viewmithun commented on #6667
Thanks for looking into the issue.

The Tower URL is set in the AWX Settings > System > "BASE URL OF THE TOWER HOST" section
I am not using custom notification template. My notification configuration is via Slack.
Notification type: Slack
Destination channel: awx

# tower-cli notification_template list
== ========================= =================
id           name            notification_type
==

[2020-04-19 13:33] ryanpetrello commented on #6213
@mvrk69,

Reading back over this, it sounds like you and @Iniesz have encountered similar problems:

I'm not certain what would have caused this, but I expect it could be a bug/oversight in specific versions of AWX that use StatefulSets?  Newer versions (starting in 11.0.0, I believe), no longer use stateful sets, and may not be susceptible to whatever's going on here.

[2020-04-19 14:00] mvrk69 commented on #6213
My version was 9.2.0, i have not yet tried with newer versions.

As soon as i have more time i will do a clean deploy with 11.0.0

[2020-04-19 19:33] ilijamt opened #6750 "tower-processes:dispatcher continuously crashes with psycopg2.errors.UniqueViolation: duplicate key value violates unique constraint "main_instance_ip_address_key"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
process in awx-task container continually crashes with

[code]

Logging into the container and running

[code]

The tower-process:dispatcher continually crashes with the error above

##### ENVIRONMENT
* AWX version: 11.0.0 (upgrade from 10.0.0)
* AWX install method: k8s

##### Additional information

[code]

[code]

Running

[code]

Allows the process

[2020-04-20 04:07] svenstaro opened #6753 "Allow metrics endpoint to be retrieved anonymously"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I think for some monitoring setups it might be helpful to have an option that would allow for retrieving `/api/v2/metrics` without being authenticated. It would be opt-in, though.

[2020-04-20 04:08] vivekmandal opened #6754 "Ansible Tower REST API to add a host to an inventory is not working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Following REST API is not working.
method - POST
/api/v2/inventories/{id}/hosts/

It is giving the exact response as GET method. and not adding the host to an inventory.

##### ENVIRONMENT
* Ansible Tower version: 3.2.5
* Ansible version: 2.9.4

##### STEPS TO REPRODUCE

Tried to execute the REST API through POSTMAN

##### EXPECTED RESULTS

The host sh

[2020-04-20 06:38] ghost commented on #20
We need this feature too. Our case is mostly with communicating MySQL servers.
It should go something like this (just one example, we need it for many other cases):
[code]
It would be very nice and user friendly to have this feature.

[2020-04-20 07:48] nishant2019 opened #6755 "not able to start local containers"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

While installing I am getting error
TASK [local_docker : Start the containers] *****************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "errors": [], "

[2020-04-20 12:18] wbieniek opened #6756 "Dashboard revision"
##### ISSUE TYPE
Dashboard page enhancements

##### SUMMARY
It would be nice to see a button on the Dashboard with currently running and pending  job numbers. How about alerting for longer the expecting running jobs?
Also last few jobs statistics  would be  nice as well.
Even better if there were list of items we could have we could customize our Dashboard to our needs.
I would reduce size of the

[2020-04-20 12:18] ifeelcream commented on #6726
I had the same error and upgrading to 11.0.0 fixed it for me.

[2020-04-20 12:25] nomikh143 opened #6757 "My bug report"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2020-04-20 12:56] ryanpetrello commented on #6754
@vivekmandal

3.2.5 isn't an AWX version.  Can you provide an accurate version number?

[2020-04-20 12:57] #6726 closed, assigned to nobody

[2020-04-20 12:59] ryanpetrello commented on #6755
Whatever's going on here, it looks like a service issue with `docker.io`, not AWX:

I suspect this was just a temporary outage, but if not, it's definitely not an issue with AWX.

[2020-04-20 12:59] #6755 closed, assigned to nobody

[2020-04-20 13:02] benjaminhon commented on #5323
is there anyway to only run the workflow if the action=opened?
the problem i have not is that using the "enable webhook" method, i receive multiple actions from PRs, and i need to do a when condition in the playbook for action=opened for the PR.

This works, but is not ideal since for 1 PR it runs the workflow 4 times, the tasks are skipped for 3 of the times, and only run when the PR action=opene

[2020-04-20 13:03] #6757 closed, assigned to nobody

[2020-04-20 13:05] ghost opened #6758 "Satellite 6.7 Inventory foreman_params remains empty"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When using satellite6(.7) as inventory source, the foreman_params are not populated whereas with satellite6.6 this worked.

##### ENVIRONMENT
* AWX version: 11.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: RHEL 7.7
* Web Browser: Chromium

##### STEPS TO REPRODUCE

- Use satellite6 as inventory and specify a s

[2020-04-20 13:07] ryanpetrello commented on #6750
cc @shanemcd @chrismeyersfsu

(looks like IPs get reused when pods spin down and back up.  Maybe if we find a conflict in the `.register()` method, we should assume the *prior* instance is gone, since obviously they can't *both* have the IP assigned; I _expect_ this is probably just a race between pod spin-up and our deprovisioning grace period)

[2020-04-20 13:29] shanemcd commented on #5323
@benjaminhon - not currently.. an admittedly non-optimal solution right now would be to have a job template that inspects the webhook payload (injected via extra vars) and fails, preventing the workflow from proceeding.

[2020-04-20 13:35] ryanpetrello commented on #5496
Are either of you accessing AWX through some sort of proxy?

[2020-04-20 13:42] ryanpetrello commented on #6749
Are you accessing AWX through some sort of proxy?

[2020-04-20 14:29] dsesami commented on #6333
The above doesn't look like it's happening in devel anymore! :+1:

[2020-04-20 14:29] #6333 closed, assigned to dsesami, AlexSCorey

[2020-04-20 15:22] ryanpetrello commented on #6213
I've just deployed an AWX 11.0.0 on GKE:

<img width="840" alt="image" src="https://user-images.githubusercontent.com/214912/79760418-04a57100-82ee-11ea-976c-6fc9b2989035.png">

<img width="439" alt="image" src="https://user-images.githubusercontent.com/214912/79768363-af229180-82f8-11ea-9684-04f44ca292c2.png">

...but I *don't* see `/var/lib/awx/projects` as a volume mount for the `awx-task` cont

[2020-04-20 15:47] dsesami commented on #6067
Linking with  https://github.com/ansible/awx/issues/6066

[2020-04-20 15:47] dsesami commented on #6066
This should be resolved at the same time as #6067 in one PR.

@kialam's advice:

[2020-04-20 15:56] ryanpetrello commented on #6213
@mvrk69,

Does something like this help?

[code]

[2020-04-20 16:13] ItayZviCohen commented on #5076
Really want this feature to exist. I'm working for a very large corporation and what we did is to store Vault credential as a custom secret.

[2020-04-20 16:19] elyezer commented on #5822
@kdelee will be after I try to reproduce the issue and can confirm it is not there anymore

[2020-04-20 16:52] jlmitch5 commented on #6507
I've been noticing random failures when I run all the tests as `npm run test-watch`.  These clear up when I subsequently run in "failed-only" mode.  They sometimes have different error notes, but a lot of times I see this (on different tests):

[code]

a different run

[code]

[2020-04-20 17:05] ryanpetrello opened #6760 "rsyslogd: log aggregator settings w/ double quote characters break external logging"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![image](https://user-images.githubusercontent.com/214912/79778925-7fc75100-8307-11ea-9fdd-d7d382eca855.png)

![image](https://user-images.githubusercontent.com/214912/79778935-835ad800-8307-11ea-91be-bf692185e882.png)

[2020-04-20 17:06] ryanpetrello commented on #6760
cc @elyezer @rooftopcellist

[2020-04-20 19:14] squidboylan commented on #6357
I just tested this with 3 hosts in an inventory using latest 2.9 and it worked as expected

[2020-04-20 19:14] #6357 closed, assigned to ryanpetrello, chrismeyersfsu, ghjm, squidboylan

[2020-04-20 21:29] elyezer commented on #6746
To verify this I enabled logging to point to an offline server and hile monitoring both memory (`free -mh` and `top -o %MEM`) and disk usage (`df -h`), I ran the following snippet on a `awx-manage shell_plus` session:

[code]

The disk usage grew by 1G as expected and no big changes were observed on the memory usage.

After that to ensure that the right number of messages were delivered I've run a

[2020-04-20 21:29] #6746 closed, assigned to elyezer, ryanpetrello

[2020-04-20 21:59] kdelee commented on #6428
Going to call this verified, thanks for the bug fix!

[2020-04-20 21:59] #6428 closed, assigned to fosterseth, kdelee

[2020-04-20 21:59] kdelee commented on #6428
need to backport this to 3.6.x

[2020-04-20 22:26] tom0010 opened #6767 "Improve slack workflow approval"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When using AWX 10.0 there is the approval process when using workflows.

It seems that for the slack integration there is limited variables for the approval process compared to the message process (success message, error message etc.)

Also, you are unable to add a new line for the approval process (WORKFLOW APPROVED MESSAGE, WORKFLOW DENIED MESSAGE,

[2020-04-20 22:49] kdelee commented on #6201
Tested this manually and added coverage in our test suite. Calling verified and closing

*edit: I tested that workflows and their spawned jobs end up in the unified jobs table csv....missed the part about the PR for the workflow nodes*

[2020-04-20 23:32] wenottingham commented on #6767
Approval via a slack button requires public slack to be able to reach your AWX instance. That's unlikely out of the box.

How are you unable to add a new line?

[2020-04-21 00:20] kdelee commented on #6200
Works for me, adding test coverage for this too. Closing as verified

[2020-04-21 00:20] #6200 closed, assigned to Ladas, kdelee

[2020-04-21 03:42] vivekmandal commented on #6754
Hi, Actually this is the issue with Ansible Tower and not with AWX specifically. The version for ansible tower is 3.2.5. Below I am attaching the scrrenshot for the same.
![ansible_tower_issue](https://user-images.githubusercontent.com/37260650/79823017-3b43c000-83b0-11ea-8eef-fbfefd20d7f3.PNG)

[2020-04-21 07:35] MrBones757 commented on #6647
@wenottingham Does this information provide the detail you were after?
Cheers :)

[2020-04-21 08:55] tom0010 commented on #6767
@wenottingham I'm using a corporate/work slack, why does it require it to be public?

See the screenshot below re: new line:

<img width="1054" alt="Screenshot 2020-04-21 at 09 54 21" src="https://user-images.githubusercontent.com/41154665/79846259-20744a00-83b6-11ea-885f-69a916cc1982.png">

EDIT: FWIW I tried using "'\n" but that did not work either.

[2020-04-21 11:11] zilkanir opened #6770 "git inventory sync stuck after upgrade from 10 to 11"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
after inventory file changes , inventory sync jobs are stuck with awx 11 (it was working on awx 10).

##### ENVIRONMENT
* AWX version: 11.0.0
* AWX install method: docker on linux
* Ansible version: 2.9.5
* Operating System: CentOS 7.5 (docker)
* Web Browser: chrome

##### STEPS TO REPRODUCE

log from job (and the job keep running forever, and i need t

[2020-04-21 11:44] zilkanir commented on #6770
the job finished eventually after 20 minutes (5 minutes after the other running jobs completed. the inventory is with overwrite on)

[2020-04-21 12:34] ryanpetrello commented on #6767
@keithjgrant @jladdjr this restriction only seems to be implemented on the UI side - do you remember why?

[2020-04-21 12:46] ryanpetrello commented on #6754
Hey @vivekmandal,

This is the issue tracker for the open source AWX project; if you need assistance with Red Hat Ansible Tower, please contact Red Hat for support (though I'll note that the version of Ansible Tower you're running is out of date to the point of being beyond EOL - you might just want to consider upgrading to see if your problem goes away).

[2020-04-21 12:46] #6754 closed, assigned to nobody

[2020-04-21 13:30] kdelee commented on #6201
woops, https://github.com/ansible/awx/pull/6204/files is not merged!

Workflows now show up in the unified_jobs_table csv file, but the workflow nodes stuff is not there.

[2020-04-21 13:32] kdelee commented on #6201
@wenottingham @Ladas are you wanting https://github.com/ansible/awx/pull/6204 to be covered by a different issue?

[2020-04-21 13:45] bgkim0420 opened #6771 "The information stored by the host is not visible in the group in awx-ui"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When registering an existing host in Group Management after adding a host the  description appears blank  in awx ui.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method:  docker on linux
* Ansible version:  2.9.5
* Operating System: Centos 7.7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. inventoryries
2. inventory list -> hosts -> add

[2020-04-21 14:05] akira6592 opened #6772 "RFE: ad hoc command for network devices"
### ISSUE TYPE
 - Feature Idea

##### SUMMARY

On the ad hoc command execution screen, I can select several modules (eg command, yum).
However, it looks like nothing is available for network devices.
Neither the ping module nor the setup module works well for network devices.

So I would be happy to be able to use the cli_command module.

![image](https://user-images.githubusercontent.com/16851744

[2020-04-21 14:14] ryanpetrello commented on #6772
You can whitelist the commands available for adhoc here (you'll want to add `cli_command`):

![image](https://user-images.githubusercontent.com/214912/79876358-f1130c80-83b8-11ea-94ad-c9257a29661b.png)

![image](https://user-images.githubusercontent.com/214912/79876232-c7f27c00-83b8-11ea-9a07-415d709adaeb.png)

[2020-04-21 14:14] #6772 closed, assigned to nobody

[2020-04-21 14:26] wenottingham commented on #6767
That's still on the public internet, Slack is SaaS. You'd need it to be able to reach from Slack's servers to wherever your AWX is.

[2020-04-21 14:27] wenottingham commented on #6201
No, we need both for this.

[2020-04-21 14:28] akira6592 commented on #6772
@ryanpetrello Thank you! I was able to achieve what I wanted to do.

[2020-04-21 14:28] wenottingham commented on #6647
This is not the way I'd prefer to support this, unless I'm misunderstanding you. For things like WinRM, there is *per-playbook* kinit, and you generally want to be able to authenticate, depending on what you're running, as multiple principals for different pieces of automation.

[2020-04-21 14:36] MrBones757 commented on #6647
unless i have misunderstood: https://docs.ansible.com/ansible-tower/latest/html/administration/kerberos_auth.html

What i have implemented is the following:
the kinit has 'domain joined' the containers such that they are registered against a kerberos auth provider (active directory - they have a ticket), from there you then use machine credentials to actually complete the auth against a target mac

[2020-04-21 14:55] appuk opened #6774 "Tooltip does not update when a schedule is disabled"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a schedule is disabled, the tooltip for the toggle still says `Schedule is active`

##### STEPS TO REPRODUCE

1. go to a job template
2. go to the schedules tab
3. create a new schedule
4. disable the schedule
5. observe the tooltip for the toggle
##### EXPECTED RESULTS

The tooltip should contain text like `Schedule is stopped`

##### ACTUAL RESU

[2020-04-21 15:08] wenottingham commented on #6647
CC'ing @jborean93 , but as I understand it, the joining of the machine isn't necessarily needed, as long as the kerberos configuration is there.

[2020-04-21 15:23] kdelee commented on #6201
Linking https://github.com/ansible/awx/issues/5931

[2020-04-21 15:24] kdelee commented on #6201
I'm a bit confused. https://github.com/ansible/awx/pull/6204 mentions #5931 but then this issue mentions #6204 .....will #5931 require more work in addition to #6204 ?

[2020-04-21 15:35] shaynecm opened #6775 "Docker Compose v3 update"
##### ISSUE TYPE
Can the docker-compose files be upgraded to v2 or ideally v3 this will stop the install issue being locked to docker-compose v1.9
##### SUMMARY

if the layout is updated to these files it will allow for docker-compose to run on the newer version and make installing on the newer Linux distributions easier.

[2020-04-21 15:40] shaynecm opened #6776 "docker-compose v3 files"
##### ISSUE TYPE
Can the docker-compose files be upgraded to v2 or ideally v3 this will stop the install issue being locked to docker-compose v1.9
##### SUMMARY

if the layout is updated to these files it will allow for docker-compose to run on the newer version and make installing on the newer Linux distributions easier.

[2020-04-21 16:01] AlexSCorey opened #6777 "Add sync functionality to User Source List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add functionality to sync on user list source.  Related to https://github.com/ansible/awx/issues/6573

[2020-04-21 16:04] AlexSCorey commented on #6573
Sync functionality will be addressed in #6777

[2020-04-21 16:14] vin-c commented on #2317
Hi there,

The PR mentionned seems to disable the creation when deploying on k8s, but this does not work for a docker installation (tested with 11.0.0)

Regards

[2020-04-21 16:18] vin-c commented on #2317
Hi there,

The PR mentionned seems to disable the creation when deploying on k8s, but this does not work for a docker installation (tested with 11.0.0)

Regards

[2020-04-21 16:33] wenottingham commented on #6201
#5931 requires #6204 and #6201. The PRs are related.

[2020-04-21 16:36] Yiyito11 opened #6778 "Task: Check if Postgres 9.6 is being used"
##### ISSUE TYPE
 - when running that part of the playbook is getting following error:

[code]
Anyway I connect directly to container with  `kubectl exec -ti awx-postgresql-postgresql-0 -n awx bash` and I check version manually with : `psql --version` which returned newer version: **_(PostgreSQL) 11.5_**. Is it ok If I comment this task and continue? Is version 11.5 ok for this deploment for AWX?

[2020-04-21 16:47] ryanpetrello commented on #6778
@Yiyito11,

We don't generally test AWX on versions other than the version supported at the time we publish, but I wouldn't expect *newer* versions of postgres to cause issues for you (so I'd say, try commenting that task out, but the usual "you break it, you bought it" open source expectations apply here).

The goal of the task you've listed here is to detect 9.6 (older versions of AWX) and perfo

[2020-04-21 16:47] #6778 closed, assigned to nobody

[2020-04-21 17:24] ryanpetrello commented on #6776
duplicate of https://github.com/ansible/awx/issues/6775

[2020-04-21 17:24] #6776 closed, assigned to nobody

[2020-04-21 17:24] ryanpetrello commented on #6775
FYI, we're probably unlikely to tackle this in the near future - we're currently in the midst of exploring a move away from Docker and to podman cc @shanemcd

[2020-04-21 17:52] #6748 closed, assigned to squidboylan

[2020-04-21 17:59] mrmibrown opened #6782 "Modify the current license counting behavior"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
"To Clarify. This is a feature request.

We need to count....
example vs Example vs example.com

as 1 host and not 3 hosts.

This artificially inflates the number of hosts in the inventory, and impacts our licensing negatively."

[2020-04-21 18:01] squidboylan commented on #6748
hi @akira6592 , Thank you for finding and reporting this bug, I implemented a fix and a test for this issue in https://github.com/ansible/awx/pull/6779 which will end up in the next release.

[2020-04-21 18:30] Ladas commented on #6201
Sorry for confusion, so not sending workflows (their records from unified_jobs table) was a bug.

Then it's a separate feature to get all workflow data, which includes workflow nodes. :-o

[2020-04-21 18:35] ryanpetrello commented on #5998
I tested this w/ @AlanCoding's branch which enables collections and it looks like it works to me:

![image](https://user-images.githubusercontent.com/214912/79900416-3137b680-83dc-11ea-814a-d3b3ba923604.png)

Here's a sync I just ran after launching this VM w/ *only* an IPv6 address:

![image](https://user-images.githubusercontent.com/214912/79901081-43662480-83dd-11ea-9537-473e06993b4d.png)

![im

[2020-04-21 18:55] G3ph4z commented on #1794
Any news?

[2020-04-21 18:57] AlexSCorey commented on #6777
blocked until https://github.com/ansible/awx/pull/6740 merges

[2020-04-21 19:04] jborean93 commented on #6647
Yep no need to join it to the domain, even then you may not even need the config if DNS is set up correctly. Your main requirements are

* The krb5 library is installed with the relevant header files
* The relevant Python library that talks to gssapi/krb5 is installed
* DNS is set up to resolve FQDN of hosts in the realm/domain you want to talk to
* Optional but still best to be set - Set up `/etc

[2020-04-21 19:21] AlexSCorey commented on #1794
@G3ph4z we don't have anything in the works right now to add a dark mode in the current ui.  However, the new ui (which we are currently building out in conjunction with Patternfly) does have a dark-er mode and they have an Epic created to track progress in that area.

This is the current ui with the "dark mode":
![Screen Shot 2020-04-21 at 2 59 20 PM](https://user-images.githubusercontent.com/392

[2020-04-21 19:27] wenottingham commented on #6782
Well, AWX doesn't count licenses.

In any case, this is not planned at the level suggested. We do not have the context at the application level to know whether `example` and `example.com` are different hosts, and attempting to introspect something like host variables to compare things like `ansible_host` are not tenable from a performance standpoint.

Using dynamic inventory sources tied to a CMDB

[2020-04-21 20:02] tom0010 commented on #6767
Nevertheless, it is possible to customise more using `webhook`.
You have to change `body` to `text`, or if you want a more customisable experience using the Slack block kit builder.
e.g:
[code]
This does resolve some of the issue actually.

However, it seems that `{{ job }}` & `{{ job_metadata }}` are undefined when using webhook.

It would be really helpful if we were able to access `{{ job_metad

[2020-04-21 20:57] elyezer commented on #5822
I am not able to reproduce it anymore on the current devel version. I tried the reproduction steps tried different browsers and anonymous sessions and in all of them I was able to log back in.

![issue-awx-5822](https://user-images.githubusercontent.com/48132/79913118-158adb00-83f1-11ea-8e08-082b6b45fd78.gif)

[2020-04-21 20:57] #5822 closed, assigned to elyezer

[2020-04-21 22:08] mdinwoodie opened #6789 "RFE: Add AWS S3 as a SCM type"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
"It would be useful if we could use AWS S3 as an alternative SCM Type. The authentication to AWS could be done either with IAM Role or Access/Secret Keys. Functionality would work like git with a manual refresh process to pull in new code."

[2020-04-21 23:35] wenottingham commented on #6789
The key feature we rely on from SCMs is the concept of a revision to lock to; using S3 doesn't do this.

[2020-04-21 23:35] #6789 closed, assigned to nobody

[2020-04-21 23:52] AlanCoding commented on #6727
Putting on needs_test to make sure that it does not regress with https://github.com/ansible/awx/pull/6283

[2020-04-22 00:50] akira6592 commented on #6748
@squidboylan Thank you for fixing!

[2020-04-22 02:15] MrBones757 commented on #6647
Oh thanks for that info - thanks for clearing up that misunderstanding :)

so in that case then all we would really need to add is the krb5.conf file template to the kubernetes scripts to facilitate this, and an override for the keytab location to avoid needing root permissions. i will make this change and remove this section of the code from my test instance and see how i go!

would adding this a

[2020-04-22 06:45] anksvault commented on #6512
Is there any fix for this? I am also facing the same issue in AWX 10.0.0

[2020-04-22 06:54] CWollinger commented on #6512
Fixed with 11.0.0

[2020-04-22 07:46] tangoFoxtrott opened #6791 "AWX11 on OpenShift 3.11 does not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I did a fresh install AWX 11.0 on OpenShift 3.11.188. The playbook runs through but the web container does not start up correctly which results in HTTP502 from nginx

##### ENVIRONMENT
* AWX version: 11.0
* AWX install method: openshift
* Ansible version:  whatever is in AWX 11 Docker images
* Operating System:
* Web Browser: Chrome

##### STEPS TO REP

[2020-04-22 08:28] JG127 opened #6792 "Vanilla install 11.0.0 fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A fresh install of the 11.0.0 release doesn't work, even though the installation instructions are followed. There are sql errors and a recurring error about clustering.

##### ENVIRONMENT

* AWX version: 11.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Python version: 2.7.17
* Operating System: Linux Mint 19.3
* Web Browser: n/a

[2020-04-22 09:23] planeturban opened #6793 "Allow multiple stage workflows where hosts can follow different paths (was: Unified workflow)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
# Unified workflow

**TL;DR**: Possibility to concatenate multiple templates, treating them as one unit. Plus adding support for error handling on per host basis in a workflow.

## Problem

 Todays workflow job templates (WFJT) are not usable in a large scale deployment environment with multiple teams writing their own playbooks for installing differ

[2020-04-22 09:26] Tioborto commented on #5076
+1

[2020-04-22 09:27] roedie commented on #6792
I can confirm this is happening. I just did a clean install as well. Same problem.

[2020-04-22 09:35] Fredki2 commented on #5076
+1

[2020-04-22 11:43] ifeelcream opened #6794 "AWX 11.0.0 Logstash connection refused"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX is not able to send logs to Logstash. The same settings are working in Tower (v.3.6.3 with Ansible 2.9.6). The "Test" Button tells me that the test was sent successfully. In the awx_web Container I can see the following log messages:

[code]

##### ENVIRONMENT
* AWX version: 11.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* O

[2020-04-22 12:24] ryanpetrello commented on #6794
@ifeelcream in the web container, could you run:

[code]

...and also (with any sensitive details redacted):

[code]

[2020-04-22 12:42] ifeelcream commented on #6794
@ryanpetrello Thanks for your answer. Below are the outputs:

`supervisorctl -c /supervisor.conf status`
[code]
`cat /var/lib/awx/rsyslog/rsyslog.conf`
[code]

[2020-04-22 12:44] ryanpetrello commented on #6794
`supervisorctl -c /supervisor.conf restart tower-processes:awx-rsyslogd`

If you run this, do you see any clues in the web container logs?  I'm guessing that rsyslogd is failing to bind to its socket when it comes online (or something similar); could be a permission issue.

[2020-04-22 12:48] ifeelcream commented on #6794
I get the following errors:

[code]

It seems that even though it changes the PID it is already used.

[2020-04-22 12:50] ryanpetrello commented on #6794
Do you already have an rsyslogd daemon running in this container?  What does `ps` say?

[2020-04-22 12:54] ifeelcream commented on #6794
With ps I get no rsyslogd daemon shown:

[code]

Also I didn't manually start or stop something in the container, just ran the install script.

[2020-04-22 13:00] ryanpetrello commented on #6794
Is there a pre-existing `/var/run/awx-rsyslog/rsyslog.pid` after `rsyslogd` goes into fatal?

[2020-04-22 13:00] ryanpetrello commented on #6794
This issue _maybe_ looks related, but I don't see a resolution:

https://github.com/rsyslog/rsyslog/issues/2134

[2020-04-22 13:03] ryanpetrello commented on #6794
Also, can you share `ls -la /var/run/awx-rsyslog/` ?

[2020-04-22 13:10] ifeelcream commented on #6794
There was a rsyslog.pid. I deleted it and restarted the process with `supervisorctl -c /supervisor.conf restart tower-processes:awx-rsyslogd`and all the services are running now:

[code]

`ls -la /var/run/awx-rsyslog/`
[code]

Now it is unfortunately still not working and the log is of no help:
[code]

[2020-04-22 13:13] ryanpetrello commented on #6792
Yep, I'm able to reproduce this.  Looking into it.

[2020-04-22 13:29] ryanpetrello commented on #6792
Actually, I **can't** reproduce this; as the error message above suggested, it was just migrating (which took a minute).

[2020-04-22 13:34] surfer190 opened #6795 "ERROR! No inventory was parsed, please check your configuration and options."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX cannot use my inventory - it see's the yaml inventory as a python script and errors out.

##### ENVIRONMENT
* AWX version: AWX 11.0.0
* AWX install method: docker on linux
* Ansible version: 2.9.5
* Operating System: CentOS Linux release 7.7.1908
* Web Browser: Firefox 75.0

##### STEPS TO REPRODUCE

1. Create this playbook:

[code]

2. Create an i

[2020-04-22 13:39] ryanpetrello commented on #6792
https://asciinema.org/a/4vZ7VJpMWFMx3tpA7CYNCGHZf

<img width="554" alt="image" src="https://user-images.githubusercontent.com/214912/79988909-3731a400-847d-11ea-9cf5-2bcbb76b9b21.png">

[2020-04-22 13:48] ryanpetrello commented on #6794
@ifeelcream let's raise the rsyslogd verbosity a bit and see if we can find any clues.

In the web container, edit `/supervisor.conf`, find the `rsyslogd` block, and change it from:

`command = rsyslogd -n`

...to...

`command = rsyslogd -dn`

Next, find the supervisord pid in your container (using `ps` - your comment above https://github.com/ansible/awx/issues/6794#issuecomment-617761252 suggests

[2020-04-22 13:57] ryanpetrello commented on #6794
Hey @ifeelcream in the *task* container, do you see something like this?

[code]

[2020-04-22 14:03] ryanpetrello commented on #6794
Okay, I think we found a bug specific to rsyslogd in the local docker installer that explains the behavior you're seeing @ifeelcream:

https://github.com/ansible/awx/pull/6796

Trying this out will involve building your own images (or waiting until we've cut a new AWX release).

[2020-04-22 14:05] ifeelcream commented on #6794
Thanks for all your help so far, really appreciate it!

Here is the output when testing the logging part:
[code]

When running the grep command in the task container I have the same output:
[code]

[2020-04-22 14:07] ifeelcream commented on #6794
That is good to hear! Do you have a rough idea how long it would take to get into the new release? Right now I am still testing AWX for production so I am not in a rush.

[2020-04-22 14:09] ryanpetrello commented on #6794
@ifeelcream usually we cut a new release every 4-8 weeks?  It generally depends on the severity of discovered issues.

[2020-04-22 14:13] ifeelcream commented on #6794
@ryanpetrello Alright, thanks for the feedback and all your help :)

[2020-04-22 14:14] ryanpetrello commented on #6794
So your rsyslogd output suggests to me that rsyslogd is getting events from AWX and is shipping them out.  Are you certain that your log aggregator is open and reachable?

You might want to do something like:

`nc -vz <host> 514`
`tcpdump -i eth0 'dst port 514' -s1024 -vvv`

[2020-04-22 14:19] AlanCoding commented on #5474
This was implemented with a warning statement for the cases that cannot be determined. @squidboylan already merged 1 related fix for it.

[2020-04-22 14:27] ifeelcream commented on #6794
ncat tells me it is connected to the host:
[code]
tcpdump:
[code]

The Ansible Tower host is in the same network with the same Firewall Rules and OS and has no problems connecting. If this looks like some network problem I will try and investigate again if there was some misconfiguration.

[2020-04-22 15:21] kdelee commented on #6727
@AlanCoding we have regression tests for this option, I'm going to close

[2020-04-22 15:21] #6727 closed, assigned to AlanCoding, kdelee

[2020-04-22 15:22] kdelee commented on #5998
pending inventory plugins from collections feature merge

[2020-04-22 15:36] kdelee commented on #5947
Going to close this as has been verified by community users and has been out in a released version of AWX for a few weeks now.

[2020-04-22 15:36] #5947 closed, assigned to chrismeyersfsu, kdelee

[2020-04-22 15:39] kdelee commented on #6538
@AlanCoding I see the patch that @ryanpetrello landed to update to "current state" but I think I'm going to leave this open until your `vendoring_collections` PR lands and we can point to the docs appropriate for that state of the world.

https://github.com/ansible/awx/pull/6283 for reference

[2020-04-22 15:48] dojones1 opened #6797 "Authentication - AWS Cognito support"
##### ISSUE TYPE
 - Feature Idea
Add native AWS Cognito support to AWX

##### SUMMARY

Together with other authentication mechanisms it would be useful if AWX could support AWS Cognito.
To get some lightweight support, we are currently having to jerry rig a solution with:
AWX authenticates with Azure AD
Azure AD has AWS Cognito has an identity provider.

This is less than ideal as it requires us t

[2020-04-22 15:49] dsesami commented on #6244
The page size toggle is now consistent. :+1:

[2020-04-22 15:49] #6244 closed, assigned to nixocio, dsesami

[2020-04-22 15:49] dojones1 opened #6798 "Multi-Factor Authentication support"
##### ISSUE TYPE
 - Feature Idea
Add MultiFactor Authentication support

##### SUMMARY

Can AWX provide some level of MultiFactor Authentication support, e.g. to work with authenticator apps?

[2020-04-22 15:55] BrotherLavarius commented on #6749
Was accessing, tried without, still same strange behavior sometimes.

[2020-04-22 16:16] AlexSCorey commented on #6734
blocked until we can decide what we are actually going to delete when someone clicks selectAll.  Do we delete only the items in the list that are rendered? Or do we delete all items, even those on other pages?  How do we handle when the user clicks SelectAll and then navigates to another page?  Should select all be clicked?  What about search, sort and filter?

[2020-04-22 16:38] wenottingham commented on #6797
A quick read of the Cognito docs imply it supports SAML - that would be the preferred integration point.

[2020-04-22 16:39] wenottingham commented on #6798
This is done via SAML (and in some cases, LDAP) authentication connections.

[2020-04-22 16:39] #6798 closed, assigned to nobody

[2020-04-22 16:47] sshedmake opened #6799 "[ui_next] Few DetailName(s) at the ~/credentials 'details' screen, needs to be marked for translations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With Japanese (dummy translation) google-chrome, few DetailName(s) at the ~/credentials 'details' screen, appears in English (instead of Japanese)

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.10.0.dev0
* Operating System: Fedora 31
* Web Browser: google-chrome

##### STEPS TO REPRODUCE
1. Do a suc

[2020-04-22 16:55] sshedmake opened #6800 "[ui_next] Toggle text 'of', at the pagination options/navigation menu, needs to be marked for translations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With Japanese (dummy translation) google-chrome, toggle text 'of', at the Pagination Options menu, appears in English (instead of Japanese)

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.10.0.dev0
* Operating System: Fedora 31
* Web Browser: google-chrome

##### STEPS TO REPRODUCE
1. Do a successful

[2020-04-22 16:59] sshedmake opened #6801 "[ui_next] Button text 'Clear all filters', needs to be marked for translations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With Japanese (dummy translation) google-chrome, button text 'Clear all filters' at all the forms within the Resources/Access nav link, appears in English (instead of Japanese)

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.10.0.dev0
* Operating System: Fedora 31
* Web Browser: google-chrome

#####

[2020-04-22 17:24] pjeanmonod opened #6803 "Invalid search term. 404 error. When trying to view second page of Approval drawer"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
404 invalid search when trying to view second page of notification drawer.

##### ENVIRONMENT
* AWX version: 11.0.0
* AWX install method: docker on linux
* Ansible version: 2.9.5
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Go to second page of Approval notification drawer, get 404 error.

##### EXPECTED RESULTS

the secon

[2020-04-22 17:40] elyezer commented on #5501
I've confirmed that we can install using a 3.11 OpenShift Cluster. The installation has been passing no problem for a while and therefore we can consider this as being verified.

[2020-04-22 17:40] #5501 closed, assigned to elyezer, ryanpetrello

[2020-04-22 17:45] pjeanmonod commented on #6803
![image](https://user-images.githubusercontent.com/54137368/80015296-67069900-84c9-11ea-9753-e92650980612.png)

[2020-04-22 18:05] pjeanmonod commented on #6803
Bug is still unresolved, Closed in error.

[2020-04-22 18:11] squidboylan commented on #5474
As is we cannot test the warning statement, but we have testing around the changed values that I am happy with.

[2020-04-22 18:11] #5474 closed, assigned to squidboylan

[2020-04-22 18:12] #5032 closed, assigned to nobody

[2020-04-22 18:12] #6218 closed, assigned to nobody

[2020-04-22 18:14] dsesami commented on #5901
Cleared this out when I reviewed #6562 . Thanks for all the work on this.

[2020-04-22 18:14] #5901 closed, assigned to dsesami, AlexSCorey

[2020-04-22 18:16] dsesami opened #6805 "[ui_next] Broken Job Templates should be highlighted in the workflow visualizer + currently hide 400 errors"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In the old UI, workflow nodes that were broken -- for example, a job template with a now-deleted project -- had no way of showing that they were broken from the workflow view. It was greyed-out if you went to the details of the node, yes, but no further information was given. Showing the actual details of what is broken is covered by some of the work i

[2020-04-22 18:16] JacobCallahan opened #6806 "[RFE] A method to bubble set_stats up to parent workflows/jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Ansible Tower API RFE

Background:
Our team uses nested workflows. Each of which passes down information from
the other using set_stats. At the end of the execution flows, the information
is accumulated and formatted in our desired format. Our usage of Ansible Tower API is almost entirely for identifying and executing workflows.
This is expected to b

[2020-04-22 18:17] JacobCallahan commented on #6806
Thanks @kdelee for your input on this!

[2020-04-22 18:36] kedark3 commented on #6806
### Another potential solution
Someone on the tower team's slack suggested me that they could think about using `checkboxes` * [ ] to select which workflow nodes do we need to gather artifacts from. That may give us control over what artifacts are gathered.

[2020-04-22 18:38] AlanCoding commented on #3472
being done in https://github.com/ansible/awx/pull/6283

[2020-04-22 18:46] wenottingham opened #6807 "Optimize fact cache for scale"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When the fact cache is utilized in AWX, we query the database for the fact blobs at job start for each host, write them to the execution bundle alongside the project, and send it off for execution.

This can lead to a notable startup penalty when a) the facts for a host are large b) the size of the inventory is large.

We should investigate what can

[2020-04-22 18:51] wenottingham commented on #6680
One of the minor side cases here is that we potentially should consider eliding any returned event data for any `runner_on_ok` fact gathering entirely. This is a large chunk of data that if it is desired to be persisted should be in the fact cache, not in the event database.

[2020-04-22 18:55] wenottingham commented on #6000
reliable reproducer for me: https://awxhost/api/v2/job_events/?task=Gathering%20Facts&event=runner_on_ok (e.g., formatting the returned ansible_facts dict in the result of all the events)

[2020-04-22 18:58] AlanCoding commented on #5149
If done in any sane way, this would be taken care of along with https://github.com/ansible/awx/issues/5150

If we wire things up to take an arbitrary configuration, this system should also allow arbitrary collections / plugins.

If we provide guard rails for the users, that options system should apply to https://github.com/ansible/awx/issues/3780 equally. Metadata is metadata. The schema for optio

[2020-04-22 19:13] wenottingham commented on #5931
-> #6201

[2020-04-22 19:13] AlanCoding commented on #6680
^ title of issue suggests this is about event number and type that is recorded, not event size. I'd prefer to branch that out into a separate conversation.

[2020-04-22 19:30] roedie commented on #6792
Here's my asciinema. This is on a cleanly installed Debian 10 host with docker and ansible.

https://asciinema.org/a/b1jgaeSFWiv6jHkFmPpO8aLTI?t=13

This is the vars.yml:
[code]

[2020-04-22 19:38] kdelee commented on #6201
Ok, everything is now working as expected. Adding some more test coverage downstream

[2020-04-22 19:38] #6201 closed, assigned to Ladas, kdelee

[2020-04-22 19:39] bryanasdev000 commented on #6792
I'm trying to setup AWX using docker-compose, I'm having the same problems as OP, resulting in an infinite loop (30 minutes so far) of Ansible trying to perform the migrations. I will test again from scratch and report as soon as possible.

[2020-04-22 19:46] roedie commented on #6792
It never finishes the migrations on my hosts, at least, not for an hour. I still have it running so I can have a look again tomorrow ;-)

[2020-04-22 19:52] wenottingham commented on #6680
While it's a narrow subset, I would consider returned fact data a type that we'd want to filter.

[2020-04-22 19:55] wenottingham commented on #6806
This is https://github.com/ansible/awx/issues/4481, please add on there

[2020-04-22 19:55] #6806 closed, assigned to nobody

[2020-04-22 20:08] AlanCoding commented on #6680
For what it's worth, I did file https://github.com/ansible/ansible-runner/issues/403. That's a total storage penalty of 2x at most, but can make the UI unusable. I think you're more concerned with modules returning a large amount of data.

For that I wrote https://github.com/AlanCoding/utility-playbooks/blob/master/char_limit.yml, because ansible-runner caps things off, this will hit the maximum r

[2020-04-22 20:19] kdelee commented on #4720
will https://github.com/ansible/awx/pull/6283 resolve this?

[2020-04-22 20:57] gitlab-fork commented on #6791
We have the same problem with our v11.0.0 deployment on Openshift 3.11.  Any solutions?

[2020-04-22 21:02] #6511 closed, assigned to nixocio, dsesami

[2020-04-22 21:04] wenottingham commented on #4720
yes

[2020-04-22 21:05] ryanpetrello commented on #6792
Do you see any errors related to migrations?  What happens if you exec into the web container and run:

`awx-manage migrate`

by hand?

[2020-04-22 21:10] domq commented on #2893
SJT might mean Sliced Job Template.

[2020-04-22 21:10] JacobCallahan commented on #4481
Since #6806 is considered a dupe of this issue, I'll add on our requests from that one.

##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Ansible Tower API RFE

Background:
Our team uses nested workflows. Each of which passes down information from
the other using set_stats. At the end of the execution flows, the information
is accumulated and formatted in our desired format. Our usage of Ansible To

[2020-04-22 21:14] wenottingham commented on #6791
[code]

I'm curious what containers you're pulling. You shouldn't have `scl` anywhere in the environment or as part of the execution.

[2020-04-22 21:18] wenottingham commented on #6791
Try https://github.com/ansible/awx/pull/6809

[2020-04-22 21:27] zilkanir commented on #6770
Now another inventory file changes to remote git (remove hosts - ini file) cause inventory sync to fail. something wrong with the git inventory sync, here is the failed job log:

    7.097 INFO     Updating inventory 2: Linux
    7.777 INFO     Reading Ansible inventory source: /tmp/awx_10917_9x16ocdv/project/hosts
    7.780 INFO     Using VIRTUAL_ENV: /var/lib/awx/venv/ansible
    7.781 INFO

[2020-04-22 22:30] one-t commented on #6760
Tested on devel using a logstash instance on the tower node. This works correctly now.

[2020-04-22 22:30] #6760 closed, assigned to ryanpetrello, one-t

[2020-04-22 22:53] marshmalien opened #6810 "Remove style overrides from lookup inputs"
##### ISSUE TYPE
 - Task

##### SUMMARY
We should remove the style overrides from the lookup component in favor of using default PatternFly styles.

https://www.patternfly.org/v4/documentation/react/components/inputgroup#basic

<img width="450" alt="Screen Shot 2020-04-22 at 6 37 56 PM" src="https://user-images.githubusercontent.com/15881645/80041295-13e11600-84ca-11ea-9003-88d160074ac1.png">

It

[2020-04-23 00:28] wenottingham commented on #6791
#6809 should fix it for you - apply that change locally to your installer and you should be good.

[2020-04-23 00:28] #6791 closed, assigned to nobody

[2020-04-23 01:04] stefanmcshane commented on #6803
Getting a similar error for notifications, that I assume is related. Means we cannot see anything past the first 5 jobs that require approval, which is a bit of a show stopper for production use.

* AWX Version 11.0.0

On opening the notifications drawer, the following is executed:
`GET /api/v2/workflow_approvals/?page=1&page_size=5&order_by=created&status=pending`

On using the pagination buttons

[2020-04-23 02:47] ryan012880 commented on #6357
I can confirm also all is good thank you.

[2020-04-23 05:02] ryan012880 opened #6812 "Project revision not updating"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When doing project sync the revision is not updated, I have observed this behavior as well in 10.x

##### ENVIRONMENT
* AWX version: 11.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: RHEL 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

NOTE: I'm using git SCM type

1. Modify and commit new changes in SCM
2. S

[2020-04-23 05:05] ifeelcream commented on #6794
I looked into Kibana again and now I can see the messages from yesterday! It seems the halted rsyslogd service was the  initial problem and that I looked for a hostname instead of an IP in Kibana. So I guess I have to adjust the name of the docker web container in the inventory file and then all should be fine.

[2020-04-23 05:05] #6794 closed, assigned to nobody

[2020-04-23 05:07] ryanpetrello commented on #6794
@ifeelcream just a heads up, we decided to cut a release *today* (awx 11.1.0) 😄, and it includes the aforementioned bug fix, which I think is what was ailing you originally:

https://github.com/ansible/awx/pull/6796

Thanks for your help digging!

[2020-04-23 05:09] ifeelcream commented on #6794
@ryanpetrello That was much faster than expected, perfect :D Thank you again for all your support!

[2020-04-23 07:00] rnagepalli commented on #4707
Hello,

getting internal server error while I browse using http://[ipv6]

Below are the logs:
[root@localhost ~]# docker logs -f awx_task
Using /etc/ansible/ansible.cfg as config file
127.0.0.1 | SUCCESS => {
    "ansible_facts": {
        "discovered_interpreter_python": "/usr/libexec/platform-python"
    },
    "changed": false,
    "elapsed": 0,
    "match_groupdict": {},
    "match_groups": []

[2020-04-23 07:05] i4o opened #6813 "if awx_server != localhost in local_docker role, db upgrade fails ( not adjusted for non_local )"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Installer suggest to update awx_server from localhost to remote server, if you want to install to remote server. This is how I installed previous ( 7 ) version of AWX.
Now when Upgrading to 10+ it wants to upgrade postgres db.

Problem is, file lookup and db upgrade tasks are looking for **local** files, even if you change inventory to be non-local.

[2020-04-23 07:13] i4o commented on #6813
[code]

[2020-04-23 07:29] i4o commented on #6813
[code]

[2020-04-23 07:46] JG127 commented on #6792
Maybe unrelated to this issue, but release 11.1.0 has the same errors. After about 15' error messages it seems to resume its proper routine.

[2020-04-23 07:57] JG127 commented on #6792
[code]

There must be a difference somewhere. The Python runtime environment perhaps ?

[2020-04-23 08:05] roedie commented on #6792
Hmmm, I get different output than @JG127.

[code]

After this I do get the login prompt, but somehow I cannot log in.

[2020-04-23 08:20] roedie commented on #6792
After the migrations I still get the crashing dispatchter:

[code]

[2020-04-23 08:39] Cartman25 commented on #6598
Hey sorry for he delay.

I try to play with this new version in my Dev environment.

/!\ i just read that RabbitMQ is no more in AWX, i'll upgrade my AWX with REDIS
--> [https://groups.google.com/forum/#!topic/awx-project/lRnm2vB1oEQ](url)

I run AWX with docker and i checked with both awx_web & awx_task containers. I have no awxcompose folder anywhere.

The only file i see is in my custom **awx_c

[2020-04-23 08:52] JG127 commented on #6792
Adding the logs of the installer and the logs of the very first "docker-compose up" command.

[initial_start.log.tar.gz](https://github.com/ansible/awx/files/4521255/initial_start.log.tar.gz)
[ansible_install.log](https://github.com/ansible/awx/files/4521259/ansible_install.log)

I've got the impression the web service is waking up too early. It logs all sorts of errors for as long as the task ser

[2020-04-23 10:15] surfer190 commented on #6795
Whoops, this was my mistake. The custom venv I created didn't have the dependenices installed - psutil and ansible.

After I did install ansible with the custom venv I got this error when running a play:

`Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1481, in run res = ansible_runner.interface.run(**params) File "/var/lib/awx/v

[2020-04-23 11:32] slm0n87 opened #6815 "Skip days in scheduling"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We have scheduled jobs which run periodically but should **not** run on holidays.
Currently we manually disable this job or change the "start time" to a later day.

Specially in highly automated environments I could imagine that issue affects some users.
Greets
Simon

[2020-04-23 11:48] Commifreak opened #6816 "[10.0.0 through 11.1.0] Line numbers doubled"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

While any job is running, the output shows doubled line numbers

##### ENVIRONMENT
* AWX version: 11.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: Ubuntu 18.04 LTS
* Web Browser: Firefox 75

##### STEPS TO REPRODUCE

1. Run a playbook
2. Look at job output console
3. doubled line numbers

##### EXPECTED RESULT

[2020-04-23 11:54] Commifreak commented on #6775
AWX-team is about to drop awx docker support?!

[2020-04-23 11:56] gpiucco commented on #2032
+1. without this I have to pragmatically created thousands of JT just so my users can understand what the workflow is doing

[2020-04-23 12:06] gpiucco commented on #1731
+1 for credentials. makes workflows more re-usable and improves security posture by not having to share credentials

[2020-04-23 13:36] dsesami commented on #6530
Current adjustments we've agreed upon:

- Approval nodes need to not show date created/modified fields before initial save, otherwise they are null
- Job Template itself when viewing node details should be hyperlinked like the other fields so one can get to the page for the JT (if they want to edit it, for example)
- Missing fields, like projects that were deleted, should indicate that they are mi

[2020-04-23 13:55] chrismeyersfsu opened #6817 "fix per-minute stats on awx-manage run_wsbroadcast --status"
`awx-manage run_wsbroadcast --status` events per minute calculate isn't quite correct. Run something that continues to emit events. Let it run a bit and observe it. After about a minute it sort of resets.

[2020-04-23 14:52] wenottingham commented on #6815
This would not be done for 'holidays'; recurrence rules can exclude specific dates, so those would need to be entered in full  Y/M/D for this to be supported.

[2020-04-23 15:04] AlanCoding commented on #6816
Fixed by @ghjm in https://github.com/ansible/ansible/pull/68520

Upgrade to Ansible 2.9.7 and report if issue persists.

[2020-04-23 15:04] #6816 closed, assigned to nobody

[2020-04-23 15:11] zilkanir commented on #6770
I disabled all schedules , and after 1-2 hours i ran again the inventory sync and it succeeded (after ~30min)

    8.787 INFO     Updating inventory 2: Linux
    9.231 INFO     Reading Ansible inventory source: /tmp/awx_11232_vnc7rw7u/project/hosts
    9.235 INFO     Using VIRTUAL_ENV: /var/lib/awx/venv/ansible
    9.235 INFO     Using PATH: /var/lib/awx/venv/ansible/bin:/var/lib/awx/venv/awx/bin:

[2020-04-23 15:25] ryanpetrello commented on #6775
Hey @Commifreak,

Sorry, I did a poor job communicating here, and didn't mean to alarm anyone - we're currently working on adding support for podman as part of a larger initiative to move to a container-based playbook execution model in AWX; in practice, much of this work is likely to actually end up in `ansible-runner` (which is what awx relies on).  Our goal is for runner to work transparently w

[2020-04-23 15:34] ryanpetrello commented on #6792
I agree, @JG127, this *does* sounds like sort of timing issue/race on startup.  I've still been unable to reproduce, so if any of you find any additional clues, please let me know and I'm glad to help dig.

[2020-04-23 15:51] elyezer commented on #6683
To verify this I had `tcpdump -i lo -vv "dst port 9000"` running and checked that the interval was respected as I updated the setting on the UI. I've also checked that the rsyslog configuration file got updated as expected. Here is an example for the 30 and 60 seconds interval that I've set:

[code]

One thing that I've observed is that when having the external logging configured and enabled, chan

[2020-04-23 16:00] rebeccahhh commented on #5064
@craph I'm not able to recreate this issue on my end, but just to clarify, are you attempting to add a new label or one that already exists? If you are trying to have your user create/add a new label that won't be possible, your user won't have those permissions, they can only add existing labels not create new ones.

[2020-04-23 16:10] elyezer commented on #6683
Talked to @ryanpetrello offline and it is fine to rsyslog to pick the new timeout after couple minutes after pressing the save button. If the on/off switch or the test button get any interaction then it will pick the new setting immediately.

[2020-04-23 16:12] ryanpetrello commented on #6683
Yea, I'm fine with the behavior; the goal here was to have a *approximation* of the old behavior so we could actually do something w/ the timeout setting.

[2020-04-23 16:27] elyezer commented on #6683
With all the above we are good to get this closed :tada:

[2020-04-23 16:27] #6683 closed, assigned to elyezer, ryanpetrello

[2020-04-23 16:35] IPvSean opened #6819 "awx.awx.tower_job_template fails when project does not exist on tower"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx.awx.tower_job_template fails when project does not exist on tower.  I am using `state: absent` so in my opinion I should not even have to specify the project or other parameters... I should be able to just delete the job template by name with `state: absent`

##### ENVIRONMENT
* <  Tower 3.6.3  >
* RHEL 8.1 AWS instance
* Ansible version:  2.9.5
*

[2020-04-23 17:22] rmauc commented on #5209
+1 for Bitbucket Server

[2020-04-23 17:27] dsesami commented on #6805
Changing to medium since I realized this obfuscates 400s.

[2020-04-23 17:48] jladdjr opened #6821 "[Foreman Inventory] satellite6_group_patterns"
I have talked with @wtome about this and we have an idea of how this can be done. The solution is gnarly, and there may still be problems with it, so not trivial. Probably a few hours of work to confirm that the approach does in fact work and actually add it in.

[2020-04-23 17:52] jladdjr opened #6822 "[Foreman Inventory] satellite6_want_ansible_ssh_host"
Believe this can be achieved with:
[code]

[2020-04-23 17:55] jladdjr opened #6823 "[Foreman Inventory] satellite6_rich_params"
This appears to be missing from the foreman plugin -- believe it will need to be added.

Here is where rich_params are implemented in the script:
https://github.com/ansible/ansible/blob/stable-2.9/contrib/inventory/foreman.py#L218-L232

It seems like this shouldn't be too tricky to add, but will require a new foreman collection release.

[2020-04-23 18:11] kdelee commented on #6823
This may be currently broken https://github.com/ansible/awx/issues/6758

[2020-04-23 18:43] slm0n87 commented on #6815
Fine for me by excluding days in scheduling.

[2020-04-23 18:50] AlanCoding commented on #6819
I think this should have a short-term specific solution, and a long-term general solution.

For the general solution, I can see it becoming a part of https://github.com/ansible/awx/pull/6430. The related objects should not even be obtained if state=absent, unless it's one of the identity objects.

Since the project is not used to _look up_ the job template, we should do a GET for that project when

[2020-04-23 18:58] kedark3 commented on #4481
### Another potential solution(adding to what @JacobCallahan  said)

Someone on the tower team's slack suggested me that they could think about using checkboxes * [ ] to select which workflow nodes do we need to gather artifacts from. That may give us control over what artifacts are gathered.

I think original comment by the person opening this issue is in line with what Jake and I am looking for.

[2020-04-23 19:10] AlexSCorey commented on #6734
Decisions reached re: SelectAll. Based on conversation with API, UI and Project Manager we decided that SelectAll will only delete those items on the screen.  So, if you select all on page 1, and then move to page 2 and click select all on that page as well only the items on page 2 will be deleted.

We will keep an eye on https://www.patternfly.org/v4/documentation/react/demos/bulkselecttable and

[2020-04-23 19:47] AlanCoding commented on #5998
just merged

[2020-04-23 20:03] ryanpetrello commented on #5064
What @rebeccahhh said - you can only *create* new labels if you have organization access:

https://github.com/ansible/awx/blob/devel/awx/main/access.py#L2483

[2020-04-23 21:37] surfer190 commented on #6795
I ended up using the kubernetes deployment.

[2020-04-23 21:37] #6795 closed, assigned to nobody

[2020-04-24 02:06] jpurcell3 commented on #1125
Thanks for this tip. I was struggling with this for a couple of days with intermittent roles failing, etc.

[2020-04-24 02:16] paramunix commented on #1125
Other related stuff to ponder
- smart inventories
- Base OS as DNS etc.

[2020-04-24 02:58] ryan012880 commented on #6812
Upon observation, this is an intermittent issue since sometimes revision reflects but not immediately, I have to navigate to another menu and go back to the project.

When it does not reflect and you examine to job log it pulls the same revision even though the branch have changed.

[2020-04-24 08:30] idelsink opened #6828 "tower_workflow_job_template is missing the notification_templates_ arguments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
`tower_workflow_template` is missing the `notification_templates_started`, `notification_templates_success` and `notification_templates_error` arguments.
`tower_job_template` does have these arguments.

[2020-04-24 08:36] djuwa4 opened #6829 "Separate installation"
Hello! Our customers decided to complicate our life a little. According to the technical specifications, they want to install AWX Ansible in this form: ansible/awx_task:latest container: latest must be installed in Kubernetes whereas ansible/awx_web:latest, memcached:alpine, rabbitmq:3, postgres:9.6 installed in Docker Compose. All AWX Ansible containers should work as if they were all installed i

[2020-04-24 08:47] idelsink opened #6830 "tower_workflow_template module is missing the scm_branch and ask_scm_branch_on_launch arguments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The `tower_workflow_template` module is missing the `scm_branch` and `ask_scm_branch_on_launch` arguments. I currently use the CLI to set these variables, but I would rather use the `tower_workflow_template` module.

[2020-04-24 09:18] JG127 commented on #6792
The only thing coming to mind is the Python environment used to run the installer and the application. I always use a Virtualenv environment to work in when doing Python projects. Otherwise I'll end up using the libraries of the OS installed software.

This is the elaborate description of what I do to set up the runtime environment:

[code]
I repeat the process with Python3. Since Python2 is depre

[2020-04-24 09:44] adgerth commented on #6758
Hey everyone, just a quick update. I've updated to 11.1 and it works again. I think this issue can be closed.

[2020-04-24 11:23] JG127 commented on #6792
Maybe this will shed some light ...

While the task service is just sitting there it consumes 100% CPU. The processes:
[code]
Is there something I can try to find out what it is doing ?

[2020-04-24 12:10] AlanCoding commented on #6828
`tower_workflow_template` is deprecated in favor of `tower_workflow_job_template`.

However, that is missing these too, and it they should be added.

[2020-04-24 12:17] AlanCoding commented on #6830
`tower_workflow_template` is deprecated with `tower_workflow_job_template` as its replacement (with a different approach to the workflow schema). The newer module has these options, and we don't want to add new stuff to the deprecated module.

[2020-04-24 13:22] #6830 closed, assigned to nobody

[2020-04-24 13:23] ryanpetrello commented on #6792
What do the task logs/stdout say?

Maybe try something like `strace`or `gdb` on that `awe-manage migrate` process to see what its' doing?

[2020-04-24 13:23] shanemcd commented on #6829
Hi @djuwa4, nope this is not real.

[2020-04-24 13:23] #6829 closed, assigned to nobody

[2020-04-24 13:25] chrismeyersfsu commented on #6829
@djuwa4 take a look at the container group feature. https://docs.ansible.com/ansible-tower/latest/html/administration/external_execution_envs.html#container-groups

[2020-04-24 13:53] JG127 commented on #6792
No logging at all. Not in the docker logs nor the log files in /var/log. This means the issue happens very early in the code. Before it logs something.
It might really be stuck on a network connection after all; when the timeout mechanism does not rely on blocking i/o.
Surely it's such a silly problem it doesn't even come to mind :-)

[2020-04-24 14:34] lucasafonsokremer commented on #20
+1

[2020-04-24 14:37] dojones1 commented on #6797
I think that your interpretation is incorrect. To quote the documentation:
_Amazon Cognito supports authentication with identity providers through Security Assertion Markup Language 2.0 (SAML 2.0)._
This is the only context that I have seen SAML referred to in the Cognito documentation.

i.e. when you consider the flow:

awx ----> Cognito ----> Identity Provider

SAML is supported on the link from

[2020-04-24 14:39] schelpa1 commented on #4764
Hi I now might face a very similar issue when running "sudo ansible-playbook -i inventory install.yml":
TASK [local_docker : Create Docker Compose Configuration] ***************************************************************************************************
task path: /home/pschellhaas/awx/installer/roles/local_docker/tasks/compose.yml:19
failed: [localhost] (item=environment.sh) => {"ansible_

[2020-04-24 14:56] Naf3tsR commented on #6792
I'm experiencing the same problem. I' not able to start any release. I've tried 9.3.0 10.0.0 and 11.1.0.
My error looks like this:

[code]

[2020-04-24 15:10] AlanCoding commented on #6812
These steps of 1-3 look like they don't fully cover what happened, and "switching between branches" could mean more than one thing.

If you could give some more detail, then we return to dive into a test case on our side. Thanks.

[2020-04-24 15:42] lewisface opened #6831 "Keystone v3 support for OpenStack Credential"
##### ISSUE TYPE
 - Enhancement

##### SUMMARY
Keystone v3 requires project_domain_name to authenticate, but AWX openstack credential doesn't provide / request those in the credential templating.

Currently when the cloud.yml file is generated it is populated with:

[code]

Instead for v3 this should include "project_domain_name"

[code]

[2020-04-24 16:39] vin-c opened #6835 "awx_task python3 interpreter not discovered with delegate_to: localhost"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx_task python3 interpreter not discovered with delegate_to: localhost

##### ENVIRONMENT
* AWX version: 11.0.0
* AWX install method: docker on linux
* Ansible version: 2.9.5
* Operating System: debian/stretch

##### STEPS TO REPRODUCE

We've got a task like that
[code]

##### EXPECTED RESULTS

Regarding this information : https://docs.ansible.com/ans

[2020-04-24 16:55] wenottingham commented on #6797
So it would have to be using https://python-social-auth.readthedocs.io/en/latest/backends/cognito.html .or similar.

[2020-04-24 17:16] #6782 closed, assigned to nobody

[2020-04-24 17:19] john-westcott-iv commented on #6819
@AlanCoding 100% agree with the long term.
@IPvSean can you see what happens if you just do:
[code]
If the project is not specified it should not attempt to look it up.

[2020-04-24 17:25] blomquisg commented on #6758
@jladdjr can you talk to the Satellite team to see if something may have changed to cause this?

[2020-04-24 17:28] blomquisg commented on #6753
Maybe make this configurable...

[2020-04-24 17:32] #6450 closed, assigned to nobody

[2020-04-24 18:35] IPvSean commented on #6819
i could swear I tried that... that will work for now

i am getting it deleted with project removed.

On Fri, Apr 24, 2020 at 1:20 PM John Westcott IV <notifications@github.com>
wrote:

[2020-04-24 18:48] ryanpetrello commented on #3827
@elyezer @squidboylan @kdelee is this something any of you and yours have bandwidth to test now that we've merged the plugin?

If it doesn't "just work" in the new plugin, we're unlikely to fix it right now.

cc @blomquisg

[2020-04-24 19:01] craph commented on #5064
@rebeccahhh, @ryanpetrello ,

I’m trying to add a label to a job.

As mentionned in my previous comment you have all the steps to reproduce the case.

My user are member of a team and the team is in an organization.

Also my user as the admin permission as you can see.

The only one user that can create labels is the admin or i Have to add my user inside my organization instead of the team.

Pleas

[2020-04-24 19:05] craph commented on #5064
I don’t understand that. And I don’t see it in the documentation.

If I am an admin I can’t create labels if I’m not inside an organization ? Which permissions the organization must have ?

If I’m the admin of a JT I thought that I would have been able to complete all the fields of the JT like labels…

Thanks

[2020-04-24 19:36] smedegaard commented on #223
This issue is 3 years old and still there seems to be something missing. Either documentation or The ability to actually have multiple file encrypted files in AWX.

I have cloned [Confluent's Ansible playbook](https://github.com/confluentinc/cp-ansible) and added a vault file in the `variables_handler` role and loaded the content with
[code]
This works fine. All variables are prefixed with `vault.

[2020-04-25 15:14] novonet opened #6840 "routeros_facts – Collect facts from remote devices running MikroTik RouterOS"
routeros_facts – getting error

Hello I'm experience  trouble when run playbook with  routeros_facts –module;

This is my module:
---
- name: Mikrotik test script
  hosts: mikrotik
  connection: network_cli
  gather_facts: no
  tasks:

  - name: gather facts
    routeros_facts:
      gather_subset: all

This is the error:

SSH password:
PLAY [Mikrotik test script] *********************************

[2020-04-27 05:55] djuwa4 commented on #6829
Thanks for the answers, special thanks for the link!

[2020-04-27 07:03] zaskan opened #6842 ""Playbook not found for project" error when the playbook exist but is invalid"
##### ISSUE TYPE
When a playbook is not valid but its filename is specified using a rest api enpoint, (e.g using job_templates endpoint) the system returns "Playbook not found for project".

##### SUMMARY
Error "Playbook not found for project", suggest users that yaml file doesn't exist at specified playbook path. In this particular situation error message like "Playbook specified doesn't contain

[2020-04-27 07:08] vin-c commented on #6835
Seems related/fixed upstream to https://github.com/ansible/ansible/issues/63180

[2020-04-27 07:08] #6835 closed, assigned to nobody

[2020-04-27 08:39] craph commented on #5064
Another remark, my user is a member of a team and this team is inside an organization so by default if a user is inside a team who is inside an organization normally the user should be member of this organization by inheritence / by default.

[2020-04-27 10:10] slm0n87 opened #6843 "Define approve permissions for each approve instead of the whole workflow"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently I can only define permissions "approve" for a whole "workflow".
But sometimes it is important that different persons or teams can approve multiple approve-steps in one workflow.
For example team1 is responsible to approve the 1st task, team2 is responsible to approve the 2nd task.
So there is the need to have a more detailed permission sche

[2020-04-27 10:52] ItayZviCohen commented on #553
Hey! Would like this feature as well. Currently working for a very large organization that uses AWX heavily.

[2020-04-27 13:25] viewmithun commented on #6667
Hi Seth,

Is there any other way to resolve this issue?
Can you help me with the workaround, if available.

Thanks in advance.

Regards,
Mithun

[2020-04-27 14:19] Tioborto opened #6844 "Possibility to disable new host functionnality"
##### ISSUE TYPE
 - Possibility to disable to add a new host in the inventory
 - Possibility to only add an existing host in inventory groups

##### SUMMARY

I work in a large organization in France.
We want to automatically manage the servers by product and have a synchronization with our repository.
To do this, we want to leave the possibility for users to create groups but only add existing hos

[2020-04-27 15:23] nixocio commented on #6742
Related to: https://github.com/ansible/awx/pull/6654

[2020-04-27 15:27] wenottingham commented on #6844
The only way to restrict host creation in the UI/API is to remove the ability to administer the inventory entirely.

The recommendation is to do this mapping somewhere other than in the API - either via `group_by` in the playbooks, or to pull the inventory from a CMDB or cloud source.

[2020-04-27 15:29] wenottingham commented on #6843
Since the approval role is on the workflow itself (not on any individual node of the workflow) this would require a change in the underlying RBAC.

[2020-04-27 15:32] kdelee commented on #3509
We are now using the plugin and our regression tests are running and passing -- calling this verified.

[2020-04-27 15:32] #3509 closed, assigned to jladdjr

[2020-04-27 15:34] kdelee commented on #3508
We are now using the plugin and our regression tests are running and passing -- calling this verified. Any follow up issues for options or small bugs will be tracked in new issues.

[2020-04-27 15:34] #3508 closed, assigned to AlanCoding

[2020-04-27 15:34] kdelee commented on #3472
We are now using the plugin and our regression tests are running and passing -- calling this verified. Any follow up issues for options or small bugs will be tracked in new issues.

[2020-04-27 15:34] #3472 closed, assigned to AlanCoding, jladdjr

[2020-04-27 15:35] wenottingham commented on #6840
This looks like an issue with your playbook and/or the module itself. Please file this at https://github.com/ansible/ansible/.

This repo is for issues in AWX itself.

[2020-04-27 15:35] #6840 closed, assigned to nobody

[2020-04-27 15:36] #6844 closed, assigned to nobody

[2020-04-27 15:42] kdelee commented on #5998
Can confirm, we are getting the ipv6 addresses w/ updates using the plugin now. Closing

[2020-04-27 15:42] #5998 closed, assigned to jladdjr, kdelee

[2020-04-27 15:42] kdelee commented on #4720
We are now using plugins sourced from collections that are packaged via this mechanism. Calling this verified and closing

[2020-04-27 15:42] #4720 closed, assigned to nobody

[2020-04-27 15:43] chrismeyersfsu commented on #4481
@theansibler your need is interesting. The workflow becomes a function call where the return is based on `set_stats` values. So there are 2 feature requests here.
1. `artifacts` bubble up to `WorkflowJob` object.
2. `artifacts` on `WorkflowJob` are passed to next `UnifiedJob` in the graph (similar to how it already works when there is an `artifact` on a `Job` in a Workflow)

### Feature 2 - `Workf

[2020-04-27 16:37] kdelee commented on #6538
- [x] ec2, updated to link to https://github.com/ansible-collections/community.aws/blob/master/scripts/inventory/ec2.ini
![ec2_source_vars](https://user-images.githubusercontent.com/29239279/80397480-2c637e80-8884-11ea-963e-c3ddd4913bee.png)

- [x] azure updated to link to https://github.com/ansible-collections/community.general/blob/master/scripts/inventory/azure_rm.ini
![azure_source_vars](https

[2020-04-27 16:44] Tompage1994 opened #6845 "Add tower_credential_input_source module to awx_collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
At present there is no way to add credential_input_sources. This functionality is possible via
[code]

At present the only way to achieve this is to use the command module which is undesirable.

[2020-04-27 16:58] kedark3 commented on #4481
@chrismeyersfsu so you think this is a feature that can be implemented in Tower? What would be the next steps for us(as issue reporter) to know if its going to be implemented?

Thanks for your comment.

[2020-04-27 17:35] ryanpetrello commented on #4481
@kedark3,

If it's implemented downstream in Red Hat Ansible Tower, you'd see the work done in AWX first.

The way to track the work is to watch this ticket (if there's no pull request or commentary here, then nobody has started on it).

[2020-04-27 18:37] kdelee commented on #6817
Going to call this good, this tool is mostly for developer/support consumption to diagnose whats going on on this system and I'm  slightly wary of asserting on stats that may be fluctuating and prone to influence of other tests in our regression test suite, so do not plan to add a test at this time. Closing

[2020-04-27 18:37] #6817 closed, assigned to chrismeyersfsu

[2020-04-27 18:42] fosterseth commented on #6667
@viewmithun

can you use `awx-manage dbshell` to get log into the postgres database
[code]

can you copy and paste output from there?

[2020-04-27 19:37] bherrin3 commented on #4481
@chrismeyersfsu

I would like to get a little more real world with the above scenario, if I may.

For your execution graph, please consider the following additions and consideration:

*  `N0` is a start node for the workflow that supplies `extra_vars` to `N1` and `N2`, as is generally the case for workflow graphs.
*  `N1` and `N2` to be identical `job_templates` to abstract and keep `job_templates

[2020-04-27 19:56] jladdjr commented on #6823
Not seeing the connection between rich_params and foreman_params. Happy to look into the foreman_params issue, but doesn't seem like something that will need to be fixed in order for rich_params to work. Let me know if I'm missing anything.

[2020-04-27 20:22] jladdjr commented on #6823
^ that adds support on the awx side, working on getting required changes on the foreman side added. Will post link to foreman PR here once that is up.

[2020-04-27 20:30] vandreykiv opened #6847 "Ingress controller hostname missed for k8s deployment"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When `kubernetes_ingress_hostname` set in inventory it's missed in k8s.

##### ENVIRONMENT
* AWX version: 11.1.0
* AWX install method: kubernetes
* Ansible version:  2.9.6
* Operating System: macOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

- Set `kubernetes_ingress_hostname` and `kubernetes_ingress_tls_secret`.
- Deploy AWX using `ansible-playbo

[2020-04-27 21:15] vandreykiv commented on #6847
Looks like I found root cause of this issue. When `kubernetes_ingress_annotations` not set than `kubernetes_ingress_tls_secret` and `kubernetes_ingress_hostname` are ignored.

[2020-04-28 07:02] JG127 commented on #6792
If this were a Java based system I would dump the threads or do a cpu profile. Python however is a bit new to me. Is there a way to cpu-profile a Python process ?

[2020-04-28 09:06] surajrahel commented on #20
+1

[2020-04-28 10:00] NizarSteria opened #6850 "Redis HA (high availability): Question"
##### ISSUE TYPE
 - Redis HA (high availability)

##### SUMMARY
We have replaced RabbitMQ by Redis. When we make an architecture Awx HA. It is necessary to make Redis HA or with a single redis we can do this architecture ?

If I understand redis is temporary solution and we plan on replacing this with a postgres message broker https://github.com/ansible/awx/pull/5441.

[2020-04-28 10:27] ziouf opened #6851 "[External Logger] No event sent to Splunk HEC"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

AWX not publishing logs to Splunk HEC

##### ENVIRONMENT
* AWX version: 11.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: RHEL
* Web Browser: Firefox 75

##### STEPS TO REPRODUCE

In System settings / logging tab fill setup form with
- logging collector ip/fqdn
- logging collector type : Splunk
- logging col

[2020-04-28 11:03] jean-christophe-manciot commented on #3935
@AlanCoding
There is an [ongoing effort to implement ansible collections as git repositories](https://github.com/ansible/ansible/pull/69154) in 2.10, which should allow us to declare them in ```requirements.yml```. its syntax should look something like this ('|' symbolizes OR):
[code]
However, it is probably not supported by AWX yet (not tested).
Also, I suppose that the location for the ```requir

[2020-04-28 13:02] ryanpetrello commented on #6850
Hey @NizarSteria,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you have questions about an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-04-28 13:02] #6850 closed, assigned to nobody

[2020-04-28 13:04] ryanpetrello commented on #6851
@ziouf,

Mind trying 11.1.0?  We fixed a few issues related to the new logging implementation in that version:

https://github.com/ansible/awx/blob/devel/CHANGELOG.md#1110-apr-22-2020

[2020-04-28 13:06] ziouf commented on #6851
We also tried 11.1.0 , same issue unfortunately

[2020-04-28 13:07] michael-tam opened #6852 "Choose Inventory when creating Ansible Tower Schedules"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
 When creating a schedule for a Job Template, we are held to use the default inventory for the Job Template.  Therefore, we need to create/maintain multiple job templates in order to schedule a job template to execute against different inventory.

We should be able to have a single job template, can create multiple schedules, but within each schedule

[2020-04-28 13:20] ryanpetrello commented on #6851
Any chance you could exec into the web container and share the results of:

`supervisorctl -c /supervisor.conf status`
`cat /var/lib/awx/rsyslogd/rsyslogd.conf`      <--- redact any tokens from this before sharing
`cat /var/log/tower/rsyslog.err`

...and in the task container:

`supervisorctl -c /supervisor.conf status`

[2020-04-28 13:46] ziouf commented on #6851
[code]

[code]

[code]

[code]

[2020-04-28 13:54] ryanpetrello commented on #6851
Yep, all of this looks correct to me.  Have you tried using something like `tcpdump` to verify whether messages are being sent to `<HOST FQDN>`?

One thing you *might* consider is editing `/var/lib/awx/rsyslogd/rsyslogd.conf` in the *web* container and adding this to the top:

`$DebugLevel 2`

...and then restarting it using:

`supervisorctl -c /supervisor.conf restart tower-processes:awx-rsyslogd

[2020-04-28 13:55] ryanpetrello commented on #6851
This looks potentially related (`NULL: curl request failed or no response`):

`{ "request": { "url": "https:\/\/<HOST FQDN>:8088\/services\/collector\/event", "postdata": "{\"event\": {\"@timestamp\": \"2020-04-23T09:49:42.110Z\", \"message\": \"supervisorctl restart awx-rsyslogd succeeded\", \"host\": \"awx\", \"level\": \"DEBUG\", \"logger_name\": \"awx.main.utils.reload\", \"stack_info\": null,

[2020-04-28 14:25] viewmithun commented on #6667
Thanks for the response. Here is the output,

awx=# select * from main_notificationtemplate;

 id |  created  | modified  |  description  |  name | notification_type | notification_configuration | created_by_id | modified_by_id | organization_id | messages
----+-------------------------------+-------------------------------+-----------
------------------------------------+-------------------------

[2020-04-28 14:25] AlexSCorey opened #6853 "Delete Only Items On Screen"
##### ISSUE TYPE
-Enhancement
##### SUMMARY
Currently when we selectAll and then delete items it is unclear as to what is exactly being deleted.  This feature needs to be improved upon so that only the items that are rendered on the screen are deleted. Things to consider:
-Deleting all items on page
-Deleting filter, sorted, searched items
-Navigation after deleting bulk delete.  See #6734
This so

[2020-04-28 14:28] AlexSCorey commented on #6734
Blocked until #6853 lands.  These issues could be worked on together.

[2020-04-28 14:33] ziouf commented on #6851
I tried to increase logging level like this :

[code]

But the result is not obvious ...

[code]

[2020-04-28 14:35] ryanpetrello commented on #6851
Once the log level is increased and you've restarted rsyslogd in supervisord, watch the web container logs w/ `docker logs` and you should see some logs with higher verbosity.

[2020-04-28 14:39] dsesami commented on #6573
@AlexSCorey can you give us a brief overview of the status on this? it has both `in_progress` and `needs_test`, so it's hard to figure out what's done or not. Is there any part that is still in development? If so, we can break that out and put it in `in_progress` etc. as needed, just to make sure there's no confusion. Thanks!

[2020-04-28 14:46] ziouf commented on #6851
Ok, it's better to look at the right place ;-)

[code]

It seems to fail because of SSL self-signed cert.

But I enabled skip cert checking. Maybe the bug is here ...

Do you agree about the root cause ?

[2020-04-28 14:58] wenottingham commented on #6851
Does adding `allowunsignedcerts=on` to the config work? (See #6854)

[2020-04-28 14:58] fosterseth commented on #6667
@viewmithun what I would do is just delete all of your notification templates in the UI

go back into the database like you did, and verify that `select * from main_notificationtemplate;` is empty

add your slack notification template back in the UI, and then try it out

[2020-04-28 15:06] nitinkansal1984 commented on #5209
+1 for bitbucket

[2020-04-28 15:07] ryanpetrello commented on #6851
Yea, I think what @wenottingham has suggested may be the ticket.  Mind giving that config change a try, @ziouf?

[2020-04-28 15:13] wenottingham commented on #6852
If the template has promptable fields, you should already be able to set those prompts when the schedule is created.

[2020-04-28 15:24] ryanpetrello commented on #5571
@elyezer @squidboylan @kdelee is this something any of you and yours have bandwidth to test now that we've merged the plugin?

If it doesn't "just work" in the new plugin, we're unlikely to fix it right now.

cc @blomquisg

[2020-04-28 15:35] ziouf commented on #6851
Ok, it seem to be good with `allowunsignedcerts=on`.

Now I use the followin settings :

[code]

Events are pushed to Splunk without error.

[code]

But I'm literally flooded with the following logs. Certainly because of debug verbosity.

[code]

But after some scrolling I have found those lines

[code]

Seems that TEST button is affected too.

Please correct me if I'm wrong:
In conclusion, we nee

[2020-04-28 15:38] ryanpetrello commented on #6851
Give this a try @ziouf,

`supervisorctl -c /supervisor.conf restart tower-processes:*`

[2020-04-28 15:40] ryanpetrello commented on #6851
The test button *should* just be sending the test message _through_ rsyslogd (it's not implemented in the actual Python API code).  After applying `allowunsignedcerts=on` you'll want to restart rsyslogd again so that the change takes effect:

`supervisorctl -c /supervisor.conf restart tower-processes:awx-rsyslogd`

[2020-04-28 15:49] michael-tam commented on #6852
I did not notice and realize that I had to click the Prompt Button on the schedule but it makes complete sense now.  Thank you!

[2020-04-28 15:49] #6852 closed, assigned to nobody

[2020-04-28 15:53] #6610 closed, assigned to chrismeyersfsu, squidboylan

[2020-04-28 16:29] sshedmake opened #6857 "[ui_next] WF node preview, values for 'Detail__DetailName: Labels, Job Tags, Show Changes', needs to be marked for translations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With Japanese (dummy translation) google-chrome, values for 'Detail__DetailName: Labels, Job Tags, Show Changes' at WorkFlow Node preview screen, appears in English (instead of Japanese)

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.10.0.dev0
* Operating System: Fedora 31
* Web Browser: google-chro

[2020-04-28 16:53] sshedmake opened #6858 "[ui_next] Schedules, values for 'FrequencyDetailSubform__RunEveryLabel' and 'Detail__DetailName: Repeat Frequency', needs to be marked for translations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With Japanese (dummy translation) google-chrome, values for 'FrequencyDetailSubform__RunEveryLabel' and 'Detail__DetailName: Repeat Frequency', at  'Templates > JT > Schedules > {Edit and Schedule} Details' screen, appears in English (instead of Japanese)

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:

[2020-04-28 17:21] kdelee commented on #3827
Yeah I would say we need to check to see if plugin ever got the reports feature ported to it that the script had -- because that was the fix, and then we need to use it.

[2020-04-28 17:39] sshedmake opened #6859 "[ui_next] Survey, check label 'Required' (for the question-required), needs to be marked for translations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With Japanese (dummy translation) google-chrome, check label 'Required' (for the question-required), at 'Templates > Survey' screen, appears in English (instead of Japanese)

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.10.0.dev0
* Operating System: Fedora 31
* Web Browser: google-chrome

##### STE

[2020-04-28 17:57] squidboylan commented on #6819
This is fixed by https://github.com/ansible/awx/pull/6856

[2020-04-28 17:57] #6819 closed, assigned to nobody

[2020-04-28 18:21] sshedmake opened #6861 "[ui_next] Survey, SurveyList button 'Preview' and 2 button(s): 'x more' and 'Show Less' under type 'multiple-choice (multi-select)', needs to be marked for translations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With Japanese (dummy translation) google-chrome, SurveyList button 'Preview' and 2 button(s): 'x more' and 'Show Less' under type 'multiple-choice (multi-select)', at 'Templates > Survey' screen, appears in English (instead of Japanese)

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.10.0.dev0
* Oper

[2020-04-28 18:38] #6847 closed, assigned to nobody

[2020-04-28 19:08] AlexSCorey commented on #4969
Breaking this out into smaller PRs.

[2020-04-28 19:09] AlexSCorey opened #6862 "Add Copy Support for JTs and Credentials"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
see https://github.com/ansible/awx/issues/4969

[2020-04-28 19:11] AlexSCorey opened #6863 "Add Copy Support for Projects and Inventories"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See #4969

[2020-04-28 19:13] AlexSCorey opened #6864 "Add Copy Support for Inventory Scripts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See #4969

[2020-04-28 19:14] AlexSCorey opened #6865 "Add Copy Support for Notifications"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See #4969

[2020-04-28 19:16] unlikelyzero opened #6866 "Activity Stream"
Stub for development

Note: We should rethink default search filtering. 'admin' doesn't return what a user would think to see, for example.

[2020-04-28 21:21] nixocio opened #6869 "WorkFlowJobTemplate should accept variable as Template.jsx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Missing variable from `WorkflowJobTemplate`
See:

https://github.com/ansible/awx/blob/def3114b5bc817999d466920a4c82c33f2167608/awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx#L204

Should accept variable in the Redirect above to be consistent with `Template.jsx`

From `Template.jsx`.

[code]

[2020-04-28 21:30] AlexSCorey commented on #6869
These 2 files should use the same pattern for the routing path.  Template.jsx  has a `:templateType` param and  WorkflowJobTemplate.jsx just hard codes the template type.  We should be consistent between these 2 files because they are so closely related.

[2020-04-28 23:23] JacobCallahan opened #6870 "Unable to install awxkit as a requirement with pip 20.1"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
While attempting to install my project in Fedora 32, and an updated pip 20.1, I see an attribute error during installation.
tl;dr: pip now returns a ParsedRequirement object on this line which does not have a req attribute.
https://github.com/pypa/pip/blob/master/src/pip/_internal/req/req_file.py#L80

##### ENVIRONMENT
* AWX version: 9.3.0 - 11.1.0
* A

[2020-04-29 01:18] benjaminhon commented on #5323
i see that seems the best solution now, thx

[2020-04-29 04:16] JacobCallahan commented on #6870
This installs fine on pip 19.3.1

[2020-04-29 04:39] jladdjr commented on #6823
re: Elijah's comment, confirmed that the two issues are different:
* foreman_params refers to a section of foreman’s _hostvars_ that in the case of #6758 seems to go missing when you use a certain version of satellite
* rich_params (the work item for this issue) refers to a _source_var_ that will tell the inventory plugin to interpret hostvars as json dicts if possible

source_vars and hostvars...

[2020-04-29 06:57] jladdjr commented on #6823
I think these are the only changes we will need on the collection side:
https://github.com/theforeman/foreman-ansible-modules/compare/master...jladdjr:add_support_for_rich_params?expand=1

I found the [original PR](https://github.com/ansible/ansible/pull/26180) for rich_params (which actually shows the use case for the option) and am basically just porting it to the plugin.

Going to take these ch

[2020-04-29 07:58] Tioborto opened #6871 "[Organisational process] Inventories process in large company"
##### ISSUE TYPE
 - Organisational process

##### SUMMARY

I contact you to get information on the processes to have in a large company.

We have a fleet of many machines (more than 12000) in a reference (Service Now).
We want to create them automatically by product via an admin account in the AWX organizations to which they correspond, while allowing normal users to assign them in inventories as

[2020-04-29 08:55] ziouf commented on #6851
After some more tests, you are right , TEST button is OK after rsyslog restart.

The only fix needed is to make the settings form add `allowunsignedcerts=on` in rsyslog.conf file when disabling HTTS certificate validation.

Thank you all

[2020-04-29 09:28] #6851 closed, assigned to nobody

[2020-04-29 09:37] js-max opened #6872 "Feature: Support OAuth on Bitbucket Cloud"
##### ISSUE TYPE
Support OAuth on Bitbucket Cloud

##### SUMMARY
In nowadays platform already supports `Azure AD`, `Github`, `Google Oauth2` and others...

Atlassian products have a wide general adoption among many companies and would be great to have support to use [OAuth with Bitbucket](https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-cloud-238027431.html)

It's a good feature to ad

[2020-04-29 11:17] Jefferson-goxts opened #6873 "Start the containers - Error starting project 404 Client Error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX Install doenst works because containers could not start

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: Debian 10.3
* Web Browser: None

##### STEPS TO REPRODUCE

/home/user/awx# ansible-playbook -i inventory install.yml -v

TASK [local_docker : Start the containers] *****

[2020-04-29 12:30] patchedsoul commented on #6873
I'm seeing the exact same error this morning as well. Ansible 2.9.7 / Debian 10 / docker-compose. Tried using hosted images and building my own, same error.

[2020-04-29 12:55] bouluad opened #6874 "AWX takes 4-5 min to start with external Postgres instance"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

AWX takes 4-5 min to start first time with external Postgres instance. Checked logs nothing strange just waiting (awx_web) and after 5 min, works well. Do you have any ideas? there is a timeout ?
##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.8
* Operating System:

[2020-04-29 13:30] patchedsoul commented on #6873
after digging further, I see it's a syntax bug within the created docker-compose file. The awx_web and awx_task images are specified as "ansible\awx_web:11.2.0" and "ansible\awx_task:11.2.0".
That tag doesn't exist on docker hub.

[2020-04-29 13:53] dsesami commented on #6530
Adjustments listed above were done, this looks great. closing it out.

[2020-04-29 13:53] #6530 closed, assigned to marshmalien, dsesami

[2020-04-29 14:26] Jefferson-goxts commented on #6873
Did you mean?
awx/installer/roles/local_docker/tasks/set_image.yml:
awx_web_docker_actual_image: "{{ dockerhub_base }}/awx_web:{{ dockerhub_version }}"
awx_task_docker_actual_image: "{{ dockerhub_base }}/awx_task:{{ dockerhub_version }}"

The "dockerbase_hub" is set in to "awx/installer/inventory:"
dockerhub_base=ansible

[2020-04-29 14:45] patchedsoul commented on #6873
if you clone the repo, the default branch is "devel". if you build/install using this branch, the docker-compose file is created with docker images specified as "ansible\awx_web:11.2.0" and "ansible\awx_task:11.2.0". These don't exist on Docker hub. I just did another install using the latest tagged release, and everything works just fine, which makes sense since awx version 11.2.0 isn't released

[2020-04-29 14:45] rabievdm commented on #6873
By the looks of it the install wants to install awx_web:11.2.0 however there is no such version on docker hub, there is 11.1.0 and latest.
adding "dockerhub_version=latest" seems to progress the install, it now seems to progress the install a little. It's now stuck at TASK [local_docker : Start the containers]
Doing a 'docker images' still doesn't list awx_task or awx_web:
REPOSITORY          TAG

[2020-04-29 14:47] ryan012880 commented on #6812
Possible duplicate of https://github.com/ansible/awx/issues/6770, the issue occurs when enabling DELETE ON UPDATE or/and UPDATE REVISION ON LAUNCH in SCM UPDATE OPTION

[2020-04-29 14:51] ryanpetrello commented on #6873
The reason these containers don't exist on Dockerhub is that we haven't released 11.2.0 yet (though we're going to later toady).

Please keep in mind that deploying directly from `HEAD` of the AWX source is *highly unstable* and is not intended to work with our official "latest" published images - if you want the bleeding edge of every commit, you need to build your own images:

https://github.com

[2020-04-29 14:51] #6873 closed, assigned to nobody

[2020-04-29 15:13] rabievdm commented on #6873
Hi,

Yeah sorry, noticed as much, busy redoing the install with 11.1.0 tagged release.
Any thoughts on how to 'start fresh'? I have done a "docker (image|volume|network) prune", removed ~/.awx and rm awx. Then wget the tagged release extract and reinstall, but it seems to be going much less than the first time I tried :)

I do see this is closed, I'll figure it out, no worries.

R

[2020-04-29 15:37] Tompage1994 opened #6875 "wait option on tower_project does not work if project already exists"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running the `tower_project` module in the awx_collection, if the project already exists then having the `wait` option set to true (or simply not set as this is default) will not cause a project update (and also will not wait for the project to have updated, or show anything to say it has not updated)

##### ENVIRONMENT
* AWX version: 11.1.0 and aw

[2020-04-29 15:40] fosterseth commented on #6812
sounds similar to this https://github.com/ansible/awx/issues/6535

I wasn't able to reproduce that issue, but the author remedied the situation by doing a hard refresh of the page.

[2020-04-29 16:48] ryanpetrello commented on #6851
@ziouf thanks for reporting this - it'll be in the next version of AWX.

[2020-04-29 17:01] wenottingham commented on #6871
If you're asking whether you can give them administrator access to edit hosts, and group them, without being able to add new hosts, the answer is "you can't". There is only one 'admin' permission on an inventory.

The answer would be to do `group_by` and add variables at the playbook level.

[2020-04-29 17:57] ephracis commented on #3959
I am seeing this error by `awx_task` in version 11.1.0 (saw it in 11.0.0 as well).

I am using Podman instead of Docker. My container are setup just the the Docker Compose file, but they run inside a shared pod.

As far as I can tell #4294 is supposed to be solved already, so this might be something else.

[code]

I does not seem to happen all the time in every CI I run but it occurs fairly often,

[2020-04-29 18:07] kdelee commented on #6822
Works for me, adding some coverage downstream

[2020-04-29 18:07] #6822 closed, assigned to jladdjr, kdelee

[2020-04-29 18:17] kdelee commented on #6750
Is this applicable to an Openshift install as well as awx on k8s?

[2020-04-29 18:23] kdelee opened #6878 "dev environment not able to use inventory plugins from vendored collections"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

In dev environment, if we try and run an inventory update for a source that uses a plugin from one of the vendored collections, it says it cannot find it.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### S

[2020-04-29 18:35] iridian-ks opened #6879 "Custom credential types per organization"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

###### OPTION 1

Right now, the administrator for our AWX instance doesn't want to give out administrator privileges to organization owners. This means I can't create custom credential types. I'd like to be able to set environment variables using credentials, but doesn't seem possible in our current setup.

A fix could be to allow custom credential

[2020-04-29 18:48] dsesami commented on #6694
this was approved and closed out in #6808

[2020-04-29 18:48] #6694 closed, assigned to dsesami, AlexSCorey

[2020-04-29 18:49] dsesami commented on #4962
webhooks are now added to the form and are present in details as of the merging and approval of #6808 . nice work on this.

[2020-04-29 18:49] #4962 closed, assigned to dsesami, AlexSCorey

[2020-04-29 18:52] ryanpetrello commented on #6870
I'm able to reproduce this:

[code]

[2020-04-29 19:09] kdelee commented on #6538
@rebeccahhh @ryanpetrello @AlanCoding taking another look at this I'm actually confused as to why we are linking to the source vars for the scripts if we are now using the plugings

Because, yes, the scripts live in the same collection that the plugins do

:sos:

[2020-04-29 19:25] kdelee commented on #6870
should be fixed by https://github.com/ansible/awx/pull/6880

[2020-04-29 19:38] kdelee commented on #3827
I have not been able to reproduce. Given the age of this issue, and our move to the inventory plugins, I propose that this be closed and if anyone is able to reproduce with the plugin that they file a bug in https://github.com/theforeman/foreman-ansible-modules/  because now we rely on what is in https://github.com/theforeman/foreman-ansible-modules/blob/master/plugins/inventory/foreman.py

[2020-04-29 19:40] JacobCallahan commented on #6870
I agree, thanks

[2020-04-29 19:47] dsesami opened #6881 "Auditors (and users with audit permission) can't view all the parts of schedules"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Despite being able to see the schedule in the list, an auditor is met with a 403 if they try to view details.

This is marked as high priority as it is blocking verification of https://github.com/ansible/awx/pull/6837

##### ENVIRONMENT
Latest, chrome, etc.

##### STEPS TO REPRODUCE
1. As an admin, create a Job Template. Make a normal schedule for it.

[2020-04-29 20:03] #3827 closed, assigned to jladdjr

[2020-04-29 20:30] parasharsingh8086 opened #6882 "After Reboot of Linux VM, unable to login to AWX UI with admin user"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
<! Trying to login to AWX UI as admin user but unable to authenticate. tried changing password of admin user, but still unable to login. Tried creating new Superuser, and tried login, but not able to authenticate

[root@installer]# docker container list
CONTAINER ID

[2020-04-29 20:59] AlanCoding commented on #3935
Yes, a conceivable search chain is discussed at https://github.com/ansible/awx/issues/6270

[2020-04-29 21:06] neerajbaraiud016 opened #6883 "Ansible Tower : Saml attribute mapping with group"
Hi There,

Need assistance on mapping groups to tower Org.

Below code didn't worked, kindly suggest.

"SOCIAL_AUTH_SAML_TEAM_ATTR": {
"saml_attr": "MyGroup",
"remove": true,
"team_org_map": [
{ "team": "MyTeam-A", "organization": "MyOrgA" }

,
{ "team": "MyTeam-B", "organization": "MyOrgB" }

,
{ "team": "MyTeam-C", "organization": "MyOrgC" }

,
{ "team": "MyTeam-D", "organization": "MyOrgD" }

]

[2020-04-29 21:13] ryanpetrello commented on #6870
@JacobCallahan

This should be resolved in the latest version of AWX, 11.2.0 (just published):

[code]

[code]

[code]

[code]

[2020-04-29 21:14] AlanCoding commented on #6538
That is https://github.com/ansible/awx/issues/4306, replaced by https://github.com/ansible/awx/issues/5150

the source variables in these cases take options as they were formatted for the scripts. The server logic looks for those same options, otherwise backward compatibility would be broken.

We should also pull in `ansible-doc` data for each plugin and feed that into a form builder in the UI...

[2020-04-29 21:28] ryanpetrello commented on #6875
@beeankha @AlanCoding @john-westcott-iv any of you have any time to peek at this?

[2020-04-29 21:41] wenottingham commented on #6883
This repository is for tracking bugs and issues in AWX.

If you need help with using/configuring AWX, please try the IRC channel or mailing list.
If you need help with using/configuring Ansible Tower, please contact your Red Hat support representative.

[2020-04-29 21:41] #6883 closed, assigned to nobody

[2020-04-29 21:43] wenottingham commented on #6882
This is likely an issue with your install, probably due to how you configured the database. See #1890 and similar issues.

If you continue to have issues, we suggest starting with the IRC channel and/or the mailing list - https://github.com/ansible/awx/#get-involved

[2020-04-29 21:43] #6882 closed, assigned to nobody

[2020-04-29 22:21] dojones1 opened #6884 "Using AWS SSO with MS AD, After SAML Authentication, AWX redirects to /login: Error social'subject'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Trying to configure AWX with SAML Authentication to work against AWS SSO.
Can log in to the SSO page, but when I select the AWX app, login appears to work, but gets redirected to the login page.

awx_web log indicates: ERROR social 'Subject'
Guidance required regarding the setting of attr_user_permanent_id and mapping in AWS SSO

##### ENVIRONMENT
* AW

[2020-04-30 00:09] kdelee commented on #6538
:grimacing: Ok. well. I guess I accept the way this is...

except this has been merged downstream and I'm not finding this code in awx...so I think we need to port it to awx before we can close this out. looks fine downstream

[2020-04-30 00:11] kdelee commented on #6538
@ryanpetrello what say you

[2020-04-30 06:29] peterloeffler opened #6886 "AWX 11.2.0: create_preload_data seems not to work anymore for openshift setup"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Although I set create_preload_data=False in my inventory demo data is still created.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: openshift
* Ansible version:  2.8.11
* Operating System: Ubuntu 18.04
* Web Browser:

##### STEPS TO REPRODUCE

Just set create_preload_data=False and run ansible-playbook -i YOUR_INVENTORY installer/instal

[2020-04-30 07:28] dojones1 commented on #6884
Fixed by changing the Mapping to User.Subject
[code]

And updating the mappings in AWS SSO:
[code]

It feels like this should be better documented as AWS SSO integration with AWX is probably becoming a popular configuration.
Note; we had to go down this route, as AWX does not support AWS Cognito #6797

[2020-04-30 08:10] ryan012880 commented on #6812
@fosterseth yeah correct thanks, I did some test again and hard-refresh works when not enabling DELETE ON UPDATE, if I have that enabled I always get the below (incomplete job log) every time:

<img width="670" alt="Screen Shot 2020-04-30 at 3 55 14 PM" src="https://user-images.githubusercontent.com/10410660/80686730-c41ed200-8afb-11ea-9885-6b73e18cc643.png">

Doing hard-refresh did not refresh th

[2020-04-30 10:05] sshedmake opened #6887 "[ui_next] Button 'Create' - to create selectable (custom) Labels and Job Tags, at 'Templates > JT > Edit Details' screen, needs to be marked for translations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With Japanese (dummy translation) google-chrome, button 'Create' - to create selectable (custom) Labels and Job Tags, at 'Templates > JT > Edit Details' screen, appears in English (instead of Japanese)

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.10.0.dev0
* Operating System: Fedora 31
* Web Brows

[2020-04-30 10:30] bdietric5 opened #6888 "Internal Server error after installation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 11.1.0
* AWX install method: docker on linux, docker for mac
* Ansible version:  2.9.7
* Operating System: Debian 10
* Web Browser: Firefox

##### STEPS TO REPRODUCE
Commands to execute
     apt-get install git
      git clone -b x.y.z https://github.com/ansible/awx.git
      git clone -b 11.1.0  https://github.com/ans

[2020-04-30 10:40] macau23 opened #6889 "SESSION_COOKIE_AGE is ignored, meaning that the AWX web interface times out too often"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The AWX web interface constantly times out when idle for a short amount of time. This makes it very frustrating to use. The setting to change this does not work.

##### ENVIRONMENT
* AWX version: 11.1.0
* AWX install method: docker on linux using the official ansible installer method
* Ansible version:  ansible-2.9.7-1.el8.noarch
* Operating System: Ce

[2020-04-30 12:37] vin-c opened #6890 "reuse of local built images"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We deploy awx via ansible here and run the installer each time to adapt it to our needs.

When using the official images, the installer reuse the images downloaded earlier and the process is somehow fast.
But when we need to build images, the process always rebuilt images.

It could be good to have an option to reuse the built images if any.

We made

[2020-04-30 12:58] ryanpetrello commented on #6888
Hey @bdietric5,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-04-30 12:58] #6888 closed, assigned to nobody

[2020-04-30 13:02] vin-c opened #6891 "11.2.0 installer : No module named 'docker' on python2 host"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Installer

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: debian10/buster
* Web Browser: N/A

##### STEPS TO REPRODUCE

Run the installer

##### EXPECTED RESULTS

As for the 11.1.0 installer just work the same way with the same options, 11.2.0 should work too.

##### ACTUAL RE

[2020-04-30 13:28] mareckis opened #6892 "Dynamic Inventory of hosts from OpenStack: ansible_ssh_host is private IP and not floating"
##### ISSUE TYPE
 - Documentation
##### COMPONENT NAME
 - API
##### SUMMARY
Hi,
I'm during the synchronization of OpenStack and AWX. I made a dynamic inventory of hosts that are deployed on my OpenStack cloud using the appriopriate credentials. The hosts are detected correctly, and doing job templates manually works, but I will be in need of making an API callbacks and SSH using floating ips of th

[2020-04-30 13:40] JacobCallahan commented on #6870
@ryanpetrello thanks for the quick update!

[2020-04-30 13:40] #6870 closed, assigned to kdelee

[2020-04-30 14:26] AlexSCorey commented on #6853
see the work done https://github.com/ansible/awx/pull/6784 that might be helpful

[2020-04-30 14:30] vin-c opened #6894 "local_docker install `awx_sdist_builder` container not removed after a built"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
local_docker install `awx_sdist_builder` container not removed after a built

##### ENVIRONMENT
* AWX version: 11.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: debian10
* Web Browser: N/A

##### STEPS TO REPRODUCE

launch installer with local build option

##### EXPECTED RESULTS

cleaning of any container neede

[2020-04-30 14:31] AlexSCorey commented on #6546
I believe this has been accomplished at a pretty good level with https://github.com/ansible/awx/pull/6654 and with #6547

[2020-04-30 14:31] #6546 closed, assigned to AlexSCorey

[2020-04-30 14:34] ryanpetrello commented on #6892
@mareckis,

Any chance you could give this a shot on the latest version of AWX, 11.2.0?

We recently merged in a change that moves us to the _newer_ openstack collection (https://galaxy.ansible.com/openstack/cloud) for inventory syncs, and I'm wondering if there's a change there that might address what you're seeing.

@emonty you have any pointers here that might help?  I'm not super familiar with

[2020-04-30 14:40] appuk commented on #5879
verified the GCE portion of the form along with field validation associated with it, everything works as expected 👍
hence removing the issue from needs_test and moving to needs_devel for other credential types

[2020-04-30 15:38] stmorim commented on #6792
I ran into this problem today as well.  I was able to fix it by deleting all of the running docker containers and then running `ansible-playbook -i inventory install.yml` again.  it took less than 2 minutes for the GUI to come up and I was able to log in.

Hope this helps.

[2020-04-30 15:57] djuwa4 opened #6896 "Playbook processing error at the stage: TASK [kubernetes : Migrate database]"
##### ISSUE TYPE
Installation error (when processing a playbook)

##### SUMMARY
Playbook launch fails

##### ENVIRONMENT
* AWX version: 11.0.0
* AWX install method: Kuberenetes (kubespray)
* Ansible version:  ansible 2.9.6
* Operating System: CentOs 7
* Postgresql: 9.2.24 (Manual setting)

##### STEPS TO REPRODUCE

I run: ansible-playbook -i inventory install.yml

##### EXPECTED RESULTS

Installed

[2020-04-30 16:03] ryanpetrello commented on #6896
Looks like the database isn't available:

`django.db.utils.OperationalError: could not translate host name "kub-master- 1" to address: Name or service not known"`

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.goo

[2020-04-30 16:03] #6896 closed, assigned to nobody

[2020-04-30 16:44] emonty commented on #6892
The inventory plugin should be using server.interface_ip for the ansible_ssh_host setting unless private: true has been specified. Can you tell me the values of public_v4, private_v4 and interface_ip on the server record?

[2020-04-30 16:52] bac-w opened #6897 "Add removing the amount of groups and hosts"
SUMMARY

Add removing the amount of groups and hosts

STEPS TO REPRODUCE

Select hosts or groups in inventory and try to remove them

EXPECTED RESULTS

Removing multiple groups or hosts

ACTUAL RESULTS

Its functionality is missing in the Control Panel

[2020-04-30 17:06] wenottingham commented on #6897
See #19

[2020-04-30 17:06] #6897 closed, assigned to nobody

[2020-04-30 17:15] ryanpetrello commented on #6892
https://github.com/ansible/awx/blob/devel/awx/main/models/inventory.py#L2406

@mareckis

Have you tried specifying `private: false` in the inventory source definition?

<img width="414" alt="image" src="https://user-images.githubusercontent.com/214912/80739649-cf1a3800-8ae4-11ea-898b-3795ecc9e6f5.png">

[code]

[2020-04-30 17:19] fosterseth commented on #6812
@ryan012880 the project update job has a successful status though? even in the case where the stdout log is incomplete?

are you launching project updates directly, or are these project updates started by launching a job template?

[2020-04-30 17:50] marshmalien opened #6899 "Support all source types in inventory source forms"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
#6576 and #6575 will add support for "Sourced from a Project"

Source Subforms
- [x] Sourced from a Project
- [x] Amazon EC2
- [x] Google Compute Engine
- [x] Microsoft Azure Resource Manager
- [x] VMware vCenter
- [x] Red Hat Satellite 6
- [x] Red Hat CloudForms
- [x] OpenStack
- [x] Red Hat Virtualization
- [x] Ansible Tower
- [x] Custom Script

[2020-04-30 18:06] bac-w commented on #19
Seems to me the issue has been in place since Sep 2017. When might we reasonably expect the fix?

[2020-04-30 19:08] MTWiley commented on #1083
+1

[2020-04-30 19:20] kdelee commented on #6821
We pass this code to the collection via https://github.com/ansible/awx/blob/devel/awx/main/models/inventory.py#L2530

Should this not be tracked in the foreman collection itself as a bug/RFE and simply consume the new collection when the feature is working?
https://github.com/theforeman/foreman-ansible-modules/issues

[2020-04-30 19:22] kdelee commented on #6823
Have you got a change to put up a PR yet, @jladdjr ?

Also, to give same argument as for some other things, since we DO correctly pass this param to the plugin, https://github.com/ansible/awx/blob/b0ab3fbe10ff67254ca8212be80b975ea75d1520/awx/main/models/inventory.py#L2538 , it seems to me that this bug/rfe should be tracked w/ the foreman or satellite team who maintains the collection https://gith

[2020-04-30 19:26] wenottingham commented on #6886
Probably due to https://github.com/ansible/awx/commit/346b9b9e3ee482210782ee7b486e04ee59aa7eca#diff-0b010d1e6ea4f8ebfd137eb182127804

[2020-04-30 19:33] w7089 commented on #4736
Thanks, it helped

[2020-04-30 19:36] jladdjr commented on #6821
There was some talk about doing this in the plugin, but these days if something can be handled by the _config_ you send to the plugin, we get some push back when trying to make changes to the plugin itself. So, I have a POC that I came up with while talking with @wtome -- in the middle of getting that ported over to awx itself.

[2020-04-30 19:46] wenottingham commented on #6821
So this would turn into `keyed_groups` in the config?

[2020-04-30 19:47] dsesami commented on #6881
I've determined a corrupt docker install (and thus a db that was never properly deleted) might have caused this bug. if it occurs again, i'll point it out, but closing it for now.

[2020-04-30 19:47] #6881 closed, assigned to nobody

[2020-04-30 20:05] jladdjr commented on #6821
yes

[2020-04-30 20:08] #6171 closed, assigned to nixocio

[2020-04-30 20:29] erinn opened #6901 "RFE Kerberos SSO Login to the Web UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I'd like to see kerberos supported as an auth method for the web UI, much like satellite supports kerberos SSO for their web UI.

I realize there is kerberos support for winrm, that is not what I am talking about here. I want as a user, to be able to go to my awx/tower instance in my web browser which is properly configured to expose kerberos credent

[2020-04-30 20:40] wenottingham commented on #6901
This is complex due to their being (approximately) no currently maintained kerberos authentication backends for our authentication stack.

[2020-04-30 21:00] jhutar opened #6902 "firehose.py fails with: UnboundLocalError: local variable 'indexes' referenced before assignment"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
firehose.py fails with: `UnboundLocalError: local variable 'indexes' referenced before assignment`

##### ENVIRONMENT
firehose.py from recent checkout running on ansible-tower-3.6.4-1.el8at.x86_64

[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Should work

##### ACTUAL RESULTS
Traceback

##### ADDITIONAL INFORMATION
None

[2020-04-30 21:09] AlexSCorey opened #6903 "Inventory Source List Sync All Button"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add a button to the toolbar of the Inventory Source List that is a SyncAll button. It should be a secondary PF button after the Delete Button in the toolbar.  RBAC it should come from and OPTIONS request to /inventories/id/inventory_sources and check if the user can POST.

[2020-04-30 21:26] parasharsingh8086 opened #6904 "AWX not working in Openshift after install - 502 Bad Gateway nginx"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: openshift
* Ansible version: 2.6.19
* Operating System: Red Hat Enterprise Linux 7.7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

<!
Installation has no error msg reported:

TASK [local_docker : Update CA

[2020-04-30 21:27] wenottingham commented on #6902
firehose.py talks to the raw database, and is therefore tied to the version of AWX it comes from. It is not intended to be a standalone tool used on arbitrary versions.

[2020-04-30 21:36] #6902 closed, assigned to nobody

[2020-04-30 21:41] wenottingham commented on #6904
Your installer doesn't match your container versions.

Please see https://github.com/ansible/awx/blob/devel/INSTALL.md#clone-the-repo and follow the instructions there.

[2020-04-30 21:41] #6904 closed, assigned to nobody

[2020-05-01 01:43] prbinu opened #6905 "How to get current session user inside credential_plugin backend"
##### ISSUE TYPE
 - Feature Idea (need help!)

##### SUMMARY
I'm currently working on a feature extension that requires current/request session user available in credential_plugin backend. I have tried the following, but didn't work (returns None):

credential_plugin backend:
https://github.com/ansible/awx/blob/f7a8e30d3e5cb3c677618b9306262c6aa927586f/awx/main/credential_plugins/hashivault.py#L92

[2020-05-01 02:30] ryanpetrello commented on #6905
Credential plugin code is invoked in the context of a background process that runs an Ansible playbook via https://github.com/ansible/ansible-runner (**not** inside HTTP requests), so the notion of "the current user/session" when a credential plugin is invoked doesn't really exist/make sense.

The credential plugin system doesn't really have access to any sort of context necessary to introspect HT

[2020-05-01 02:30] #6905 closed, assigned to nobody

[2020-05-01 03:49] ryan012880 commented on #6812
@fosterseth yes the project update job has a successful status.

launching the project updates directly, I've also tested the project updates started by launching a job template in which I enabled both DELETE ON UPDATE and UPDATE REVISION ON LAUNCH in SCM UPDATE OPTION same issue.

[2020-05-01 05:00] prbinu commented on #6905
Thanks Ryan.

Problem:
To run playbooks through AWX, currently we need to fetch the token from Vault and paste it to Vault Signed SSH credential plugin (AWX UI https://docs.ansible.com/ansible-tower/3.5.0/html/administration/credential_plugins.html#hashicorp-vault-signed-ssh). Though this works, the user has to frequently update this token on AWX UI by running vault command (on terminal). IMO, thi

[2020-05-01 05:06] MrBones757 opened #6906 "11.2.0 vmware_vm_inventory source variables not passing through"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Following the upgrade to 11.2.0, the vm_vm_inventory plugin does not seem to be accepting source variables from the UI. Customisation to settings are not reflected in the inventory output.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: kubernetes
* Ansible version:  2.9.7
* Operating System:
* Web Browser: Chrome

##### STEPS TO REPRODU

[2020-05-01 05:10] jladdjr commented on #6823
foreman PR submitted:
https://github.com/theforeman/foreman-ansible-modules/pull/806

[2020-05-01 09:30] stokkie90 opened #6907 "Permission denied error on importer.py after play is done"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After running a job in AWX there is an error appearing in `importer.py` Not sure what is causing it.

##### ENVIRONMENT
* AWX version: 11.1.0
* AWX install method: kubernetes
* Ansible version:  2.9.6
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Run a job and wait to finish it

##### EXPECTED RESULTS

No Error

##### ACTUAL RESULTS

[c

[2020-05-01 13:57] kdelee commented on #6750
After discussion w/ devs, I'm going to say "good 'nuf" because it would require deleting the node itself that a pod is running on, which is not something I want to do to our openshift. thanks @fosterseth

[2020-05-01 13:57] #6750 closed, assigned to fosterseth, kdelee

[2020-05-01 15:44] dsesami commented on #6574
I recommend we add the sync button on this view. Also, since there will be a sync _status_ button available on the main list, that should be visible here as well.

[2020-05-01 16:50] ryanpetrello commented on #6891
@vin-c have you tried this on older/other versions of Ansible?  This does look related to that bug in Ansible to me (as you suggested - related to its discovery of the proper interpreter).  If the `docker` module is not available and discoverable in your path by Ansible, there's not much the AWX installer is going to be able to do.

Have you tried python3?  This change could be related:

https://g

[2020-05-01 17:04] blomquisg commented on #6907
@matburt does this look familiar?

[2020-05-01 17:12] ryanpetrello commented on #6874
@bouluad,

Any chance you could give this at try on a newer AWX?  We recently resolved a bug that sounds suspiciously similar to me:

https://github.com/ansible/awx/pull/6695

[2020-05-01 17:14] ryanpetrello commented on #6812
@ryan012880 would you mind giving `devel` a try?  I think something I just fixed might explain what you're seeing:

https://github.com/ansible/awx/commit/bf65b40241d60e99e49b3109a33c26f26cd418ec

cc @AlanCoding @fosterseth

[2020-05-01 17:15] ryanpetrello commented on #6758
@adgerth,

We've recently moved to collection based inventory syncs in 11.2.0 - would you mind trying to reproduce this in that version?

[2020-05-01 17:21] bandwiches commented on #2495
Ran into this also.  Pretty unclear to the average user on first configuration that there is a difference between GitHub/GitLab/Source Control when creating credentials.

[2020-05-01 17:23] ryanpetrello commented on #6907
This is definitely pretty weird.  Are you running some sort of playbook that's laying down this `importer.py` as a higher privileged user?

[2020-05-01 18:46] AlanCoding commented on #6906
The documentation for this is correct

https://github.com/ansible/awx/blob/d688f7b833bd963b8ecbb01bd6f3c9d8347ee0ab/awx/ui/client/src/inventories-hosts/inventories/related/sources/sources.form.js#L241-L244

It's not expecting the script, not the plugin options. Within the [ini](https://github.com/ansible-collections/vmware/blob/master/scripts/inventory/vmware_inventory.ini) these type of options a

[2020-05-01 18:46] #6906 closed, assigned to AlanCoding

[2020-05-01 19:52] ryanpetrello commented on #6889
@macau23,

Could you verify that `/api/v2/settings/authentication/` shows `SESSION_COOKIE_AGE ` value you anticipate?  If not, could you try setting this value in the API instead and seeing if it works?

[code]

[2020-05-01 21:42] ghost commented on #6758
@ryanpetrello
I tried it and it seems to work. The foreman_params are being synced over.

[2020-05-02 00:31] MrBones757 commented on #6906
Thanks for the reply.
Just to confirm, awx has moved to using the new vmware_vm_inventory plugin from the VMware collection as of awx 11.2.0 but we are still maintaining the use of the old variables from the script rather than the plugin?

This seems alittle odd given the plugin has completely different options to the script - iassume you have an interpretation layer to convert between the two for

[2020-05-02 01:27] wenottingham commented on #6905
As noted, playbooks are run completely outside of the user context. When using things like clustered AWX, or container groups, they're run on entirely different pods or K8S clusters. Not to mention scheduled jobs which are run without being done by a user's session at all.

Trying to use AWX login credentials of any sort with  playbooks isn't going to work.

[2020-05-02 05:23] ryan012880 commented on #6812
@ryanpetrello just tried devel and the sync issue is fixed.

the only remaining minor issue is I think related to cosmetic in which I have to do a hard refresh or navigate to other page and go back again to the project page to see the new revision reflected in the UI, I have a parallel instance running on an earlier version (9.1.1 before redis) in which I didn't have to do that so I don't see this

[2020-05-02 14:06] G3ph4z commented on #1794
@AlexSCorey Thanks for the update, I'll check it. :)

[2020-05-02 14:43] abennani31 opened #6913 "Error in DB config in awx kubernetes installation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: kubernetes
* Ansible version:  2.9
* Operating System: centos7.4
* Web Browser:

##### STEPS TO REPRODUCE

When i launch the installation playbook (ansible-playbook -i inventory install.yml) to install awx in my existing cluster kubernetes, i got the following error.

##### EXPECTED RESULTS

[2020-05-02 17:13] chrismeyersfsu commented on #5137
@BRE-MD what kind of job is the schedule for? (I.e. Job, workflow, inventory, or project)

[2020-05-03 05:03] prbinu commented on #6905
Thank you for explaining the current limitation to support this use case. The only thing we need is to get the identity (say user-id) of the user initiated the task/playbook. No credential info is needed.

Would it be possible to inject the user-id as a env variable or something similar to the credential plugin backend? I'm persistent on this because I believe there is certainly a (security) value

[2020-05-03 20:06] mareckis commented on #6892
Hi,
@emonty  @ryanpetrello
Specified the private parameter in the inventory source definition, run the inventory sync job again after the change. As previously 2 hosts are detected on the OpenStack cloud (Packstack actually) and updated. Still didn't change anything. Below, I attach the part of output of variables from one of the hosts that are synced with AWX:

ansible_ssh_host: 192.168.100.11**

[2020-05-03 20:12] philipsd6 opened #6914 "Include groups from parent inventory in Smart Inventories"
##### ISSUE TYPE
 - Feature Request

##### SUMMARY
Given an inventory with hosts grouped by environment, function, and region, when I create a Smart Inventory that uses `groups.name:prd` `groups.name:west` as the filter, I expect to see _at least_ the resulting hosts grouped by function, but preferably also with all the hosts in the `prd` and `west` filters.

Otherwise, there is no point in having

[2020-05-04 07:43] vin-c commented on #6891
I totally understand the drop of python2 in favor of python3.

But I'll just point you to this issue https://github.com/ansible/awx/issues/2203 as this introduced a breaking change for me that was not expected at all :/

Nevertheless, the goal installing 11.2.0 was to get ansible 2.9.7 (that may have the fix of the python interpreter discovery) in awx ; as 11.1.0 official build images are still on

[2020-05-04 09:00] anme98 commented on #6492
@ryanpetrello Thanks for the info. Worked for me as well!

[2020-05-04 09:29] macau23 commented on #6889
@ryanpetrello the API page shows:

    "SESSION_COOKIE_AGE": 1800,

I can patch it to add a "1":

    "SESSION_COOKIE_AGE": 18100,

[2020-05-04 11:57] AlanCoding commented on #6914
Duplicate of https://github.com/ansible/awx/issues/1999

[2020-05-04 11:58] omidabc commented on #4821
I simply run this and it solved my problem

[2020-05-04 12:17] philipsd6 commented on #6914
Whoa, I didn't see that duplicate issue. I'll close this one.

[2020-05-04 12:17] #6914 closed, assigned to nobody

[2020-05-04 12:26] john-westcott-iv commented on #6875
This particular module is currently working as expected it is not currently designed to allow for project updates. So the wait option is only for waiting for an update if a change to the project itself causes an update. In the future we hope to provide another module or modify this one to allow for project updates specifically.

[2020-05-04 13:33] #6384 closed, assigned to AlexSCorey

[2020-05-04 13:49] AlanCoding commented on #6875
Yeah, that should be a part of https://github.com/ansible/awx/issues/6367. We are still not committed to a particular solution, but I do like the `state=updated` idea, in which case the wait flag is kind like a of modifier on the updated state.

Project and inventory updates should be idempotent, so it makes sense to use things in the way this issue describes. But there's still a cost associated w

[2020-05-04 14:04] AlexSCorey commented on #6887
@sshedmake thank you for bringing this to our attention.  This is an issue with pattern-fly's Select component.  I have filed an issue with them and that can be tracked here https://github.com/patternfly/patternfly-react/issues/4173

[2020-05-04 14:11] AlexSCorey commented on #6861
@sshedmake Thanks for bringing this to our attention.  This also is a problem with a patternfly component. I have filed an issue with them.  It can be tracked here https://github.com/patternfly/patternfly-react/issues/4174

[2020-05-04 15:18] bherrin3 opened #6917 "AWX cannot set two vault credentials to the same job_template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
* A git repo (SCM) has a sub-component repo that each have their own `group_vars/all/credentials.yml` vaults with different `vault_secrets`
* When attempting to add a second vault credential to a `job_template` via awx against Tower 3.6.4, the update fails with
[code]
* This behavior is seen in the GUI where the user cannot add two vault credentials to

[2020-05-04 15:20] abennani31 opened #6918 "install awx ok without npm/node package"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I installed AWX on my centos 7 vm bu following the awx official project. I saw after that i forgot npm and node Prerequisites. However, i got no erros on the installation and i can access to awx server on the UI.

why npm and node are presents in Prerequisites if the are not used/mandatory?

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method:

[2020-05-04 15:26] beeankha commented on #5045
I can no longer recreate this issue, have tested via playbook with every credential type (the problem appears to have been fixed when some other module conversion work got completed).

[2020-05-04 15:31] squidboylan commented on #5045
Looks like we also have a test at https://github.com/ansible/awx/blob/devel/awx_collection/tests/integration/targets/tower_credential/tasks/main.yml#L113

[2020-05-04 15:31] #5045 closed, assigned to nobody

[2020-05-04 15:33] john-westcott-iv commented on #6367
We already have some pattern established for this with job templates. We have tower_job_template to manage a JT and then tower_job_[launch|wait|cancel]. If we need to maintain that pattern for backwards compatibility should that just be our pattern?

So for projects it would be something like: tower_project (to manage a project) and then tower_project_update_[launch|wait].

I like the ideas of sep

[2020-05-04 15:37] AlexSCorey commented on #6597
Breaking this out into smaller issues

[2020-05-04 15:42] AlexSCorey opened #6919 "Users Access List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Access List for users.  This should include the toolbar, but does not have add funtionality.  The links should link out to the appropriate resource details page.

[2020-05-04 15:43] AlexSCorey opened #6920 "Teams Access List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Access List for Teams. This should include the toolbar, but does not have add functionality. The links should link out to the appropriate resource details page.

[2020-05-04 15:45] AlexSCorey opened #6921 "Users/Teams Access Add"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See https://github.com/ansible/awx/issues/6597

[2020-05-04 16:45] shanemcd commented on #6878
This should be fixed by a downstream PR, will land here soon-ish

[2020-05-04 17:43] AlexSCorey commented on #6869
This was filed to help @nixocio with some work he was doing.  We found a different way to do that work.  The work described in this issue should be done at some point, but it doesn't affect performance, or functionality.

[2020-05-04 17:43] Throckmortra commented on #5692
same issue here

[2020-05-04 17:54] Throckmortra opened #6923 "Inventory files cannot be synced from projects based on non-default git branches"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When creating an inventory from a project that is based on a non-default git branch, inventory fails to sync because it only checks out the default branch regardless of the setting in the project

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: Centos8
* Web Browser: Chrome

##

[2020-05-04 19:35] kdelee commented on #6538
OK, it was settled, we DO want to point to the old script files because we are still supporting that interface, we will be updating to New World Order config interface at a later time. Also code is now been merged into devel, so closing

[2020-05-04 19:35] #6538 closed, assigned to rebeccahhh, kdelee

[2020-05-04 19:36] kdelee commented on #6878
this now works downstream, updating the project to track the fact that this fix needs to be ported to devel

[2020-05-04 19:40] kdelee commented on #6812
Closing this as a duplicate of https://github.com/ansible/tower/issues/4270 and because user reports it as fixed

[2020-05-04 19:40] #6812 closed, assigned to ryanpetrello, fosterseth, kdelee

[2020-05-04 19:58] AlanCoding commented on #6917
Could you run this on higher verbosity?

I am extremely interested in this:

That's probably a `KeyError` exception, and these are generally very high priority fixes when they come from the callback plugin. However, this doesn't give enough detail to know where things went wrong. If you run with `-vvv` verbosity or higher it should give a traceback, and I would really like to see that traceback.

[2020-05-04 20:07] AlanCoding opened #6925 "Figure out resource profiling in Ansible 2.10 and higher"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The instructions here:

https://github.com/ansible/awx/blob/devel/docs/performance_data.md

Will break with Ansible 2.10, because it relies on a callback plugin that is moved out of ansible-base.

##### STEPS TO REPRODUCE

follow instructions

##### EXPECTED RESULTS

works

##### ACTUAL RESULTS

does not work

Basically, that folder doesn't get populat

[2020-05-04 20:47] sivel commented on #6925
I believe runner makes use of `cgroup_perf_recap` which lives in [`ansible.posix`](https://github.com/ansible-collections/ansible.posix)

[2020-05-04 22:01] andrew-landsverk-win opened #6927 "11.2.0 - Job Stuck in Running State, no output"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Job never appears to output anything, nor completes.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: kubernetes
* Ansible version:  2.9.7
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Spin up fresh AWX 11.2.0 instance on Kubernetes
2. Create inventory sourced from Git
3. Attempt to run a playbook from

[2020-05-04 22:26] jladdjr commented on #6925
echoing sivel, the routing info shows ansible.posix:
https://github.com/jladdjr/ansible/blob/devel/lib/ansible/config/routing.yml#L8255-L8256

[2020-05-04 22:32] jladdjr commented on #6925
compared the cgroup_perf_recap plugin in ansible-stable-2.9 to the version in ansible.posix:
https://gist.github.com/jladdjr/b96fb91d16922c2aeb4a0832dadc0cf6#file-cgroup_perf_recap_changes-L25

I haven't had a chance to test this theory out, but it looks like those changes would have the effect of turning off the writing of profiling data by default, whereas I'm guessing that it was turned on by d

[2020-05-04 22:45] bherrin3 commented on #6917
## --vvv gitlab-ci.yml job output

[code]

## Source being fed into awx.awx.tower_job_template:

[code]

[2020-05-04 22:57] Fafadji commented on #3745
Hi

I spent some time looking for the answer
Here is the behaviour I found from my tests

[code]

[2020-05-04 23:06] sivel commented on #6925
I don't explicitly remember the change, but it was done in https://github.com/ansible/ansible/pull/64988

[2020-05-04 23:46] AlanCoding commented on #6925
Sorry, gave the wrong collection, got confused by seeing the [memory](https://github.com/ansible-collections/community.general/blob/master/plugins/callback/cgroup_memory_recap.py) module in community. That's not relevant, it's the performance callback which is used, per the `ansible-runner` line I linked.

[2020-05-05 01:38] gammohamed commented on #6891
same error for me ... please help

[2020-05-05 02:03] gammohamed opened #6928 "install AWX"
##### ISSUE TYPE
 - Feature Idea
can i install awx  as package not container ?
##### SUMMARY

[2020-05-05 02:53] AlanCoding commented on #6917
The bit about the callback plugin failure isn't associated with AWX or runner, but a bug in the mail callback plugin, and is probably generic to all loops with that. You could file that in the `community.general` collection issues.

Otherwise this error is looking pretty correct. It's saying that you have more than 1 vault credential without a `vault_id` in the list. Multiple vault credentials nee

[2020-05-05 03:22] bherrin3 commented on #6917
@AlanCoding ack.

Note that the sub-component repo and the calling parent repo will need to use vault ids for this to work appropriately.

Will follow the documentation to re-key.

With that updated and verified, I will re-comment and close if that solves the issue.

Thanks!

## Reference

* https://docs.ansible.com/ansible/latest/user_guide/vault.html?extIdCarryOver=true&sc_cid=701f2000001OH7EAAW

[2020-05-05 08:58] europ opened #6929 "organization definition for job_template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I want to request an **organization definition for each job_template** as it is available in inventory and project.

Tower 3.5.1 does not support the use case *"move a specific job_template to a different organization"* as it is supported for inventory and project in UI as well as via CLI. However, it can be done indirectly through inventory and proj

[2020-05-05 11:35] AlanCoding commented on #6929
job_template organization is derived from its project.

[2020-05-05 11:42] AlanCoding opened #6930 "Vendor collections to make isolated jobs work in Ansible 2.10"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Isolated jobs are made possible by a few [internal playbooks](https://github.com/ansible/awx/tree/devel/awx/playbooks) used to start, check, heartbeat, and cleanup. This is also true for container groups. In Ansible 2.10 those playbooks will no longer work because content used by them has been moved out of ansible-base.

We recently began to vendor i

[2020-05-05 12:45] dsesami commented on #6862
Closing this with the approval and merge of #6846

[2020-05-05 12:45] #6862 closed, assigned to dsesami, AlexSCorey

[2020-05-05 13:36] Benoit-LAGUET opened #6931 "Fresh install doesn't work, but it's OK after a the second install playbook execution"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Fresh install doesn't work, but it's OK after a the second install playbook execution

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: Centos 7.7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

First Install => Playbook ends without error but when accessing to the WEB UI AWX k

[2020-05-05 13:37] ryanpetrello commented on #6928
duplicate of https://github.com/ansible/awx/issues/989

[2020-05-05 13:37] #6928 closed, assigned to nobody

[2020-05-05 13:43] KahelX commented on #6792
We did a fresh install => same problem
Just executing the install playbook a second time w/o doing anything else => **It works**

[2020-05-05 13:46] Naf3tsR commented on #6792
I am getting the same error as @JG127 .

Starting with:
[code]
The fresh install does not work for me, for whatever reason.

In addition to that I get the error I've posted in an earlier post.
There it says that pg_hba.conf is not configured properly and there is
`no entry for host "172.20.0.6"`

Therefore, I've investigated pg_hba.conf. There you can find no allow entry for that host. Then I modi

[2020-05-05 13:46] AlanCoding commented on #6367
There are a _lot_ of "action" endpoints, although it depends on how you count association.

CRUD modules work with the language of Ansible, and I don't see that for "action" modules, which sound like an anti-pattern. Ideally, if something is truly an action, then it shouldn't be supported in the collection. Association is an action, but can be put into the language of desired state by the client.

[2020-05-05 13:52] dsesami commented on #6777
this wasn't updated but is done with the  merge of #6900

[2020-05-05 13:52] #6777 closed, assigned to dsesami, AlexSCorey

[2020-05-05 14:27] wenottingham commented on #6925
https://github.com/ansible/awx/issues/5283 is probably the larger problem anyway.

[2020-05-05 14:28] wenottingham commented on #6929
Closing. If you use a current version of AWX, you will note an organization field on the job template itself (as noted, derived from the project.)

[2020-05-05 14:28] #6929 closed, assigned to nobody

[2020-05-05 14:40] AlanCoding commented on #6930
We apply various Ansible settings here for management playbooks

https://github.com/ansible/awx/blob/eafb751ecc4b73d65feb44218be01b2be409f14f/awx/main/isolated/manager.py#L74

so it doesn't seem crazy at all that we just add collections paths to this

[2020-05-05 14:44] Benoit-LAGUET commented on #6792
@Naf3tsR It works for me too !
Good job and thanks :)

[2020-05-05 14:47] Benoit-LAGUET commented on #6931
Same as : #6792

[2020-05-05 14:47] #6931 closed, assigned to nobody

[2020-05-05 14:50] ryanpetrello opened #6932 "Replace local memcached usage with redis"
Now that every AWX node has a local independent redis server, we can probably just get rid of our memcached usage (and just use redis instead).

In modern versions of AWX, memcached is used specifically for:

- a local cache for AWX settings access (see: `awx.conf.settings`); any time `django.conf.settings` is accessed (e.g., `settings.TOWER_URL_BASE`), we *first* query memcached via Django's cach

[2020-05-05 15:20] fosterseth commented on #6923
I was not able to reproduce this bug on 11.2.0

do you have any more information that might help us recreate this issue?

I pulled from https://github.com/fosterseth/playbooks.git `bark` branch (inventory.ini is the inventory source file) if you want test it on that

[2020-05-05 15:22] JG127 commented on #6792
Yes ! :-) Can this be fixed via Docker (Compose) ? I'd rather not hack my way in.

[2020-05-05 15:26] fvahid opened #6933 "ansible requirements.yml download from private gitlab repo"
##### ISSUE TYPE
 - use credential to access private gitlab repo

##### SUMMARY
We need download galaxy-install download from private repository , I can't find any solution to resolve this issue but I found out add ssh private key to docker file
we use git:// url in requirement and we don't use https:// so need key file auth
so please add this feature , can access git:// repo in requiement by addi

[2020-05-05 15:26] andrew-landsverk-win commented on #6927
I can't seem to reproduce this in our test cluster. Closing for now.

[2020-05-05 15:26] #6927 closed, assigned to nobody

[2020-05-05 15:55] Throckmortra commented on #6923
@fosterseth in my case, the hosts file i'm attempting to use does not exist in the default (master)

might be related to this https://github.com/ansible/awx/issues/5692

[2020-05-05 16:09] robertinohio commented on #1072
what if the source code is off line, but you still want the job to run using local cached version vs fetching?  Doesnt seem to work.

[2020-05-05 16:27] fosterseth commented on #6923
@Throckmortra

That issue is slightly different. You can specify a branch on the job template. In that case, it should launch a project update with that branch (overriding whatever is listed under "branch" on that project). However, their issue is that the inventory source will still be pulled from whatever branch was listed on the project.

From what you described, you aren't seeing this error af

[2020-05-05 16:31] Throckmortra commented on #6923
correct, i can't launch a job template targeting these hosts since the inventory is never synced

I am trying to manually sync. I have created a separate project that specifically looks at this branch containing the host file i want.

[2020-05-05 16:50] ryanpetrello commented on #6889
@macau23,

After you set the value using the API, does it take effect?  If you've done this:

[code]

...and `/api/v2/settings/authentication/` shows `1800` (the default), then your changes likely just aren't taking effect (likely because you haven't restarted services after editing the settings file).

[2020-05-05 16:56] ryanpetrello commented on #6905
Hey @prbinu,

The current interface for credential plugins:

https://github.com/ansible/awx-custom-credential-plugin-example

...doesn't really include any information or metadata *beyond* the fields defined on the credential type itself (i.e., URL and authentication details for connecting to the third party system), and that's sort of by design - the purpose of this interface is *just* to take ra

[2020-05-05 17:02] agilleyrh commented on #4553
This feature would alleviate security concerns in highly regulated environments.

[2020-05-05 17:19] wenottingham commented on #6933
This works if the requirements repos use the same keys as the project repo itself.

Outside of that, even if it was supported, there would be issues when the requirements repo accepts the key but with different access permissions.

We suggest standardizing on a shared deploy key.