[2021-12-06 18:55] tiagodread commented on #10503
@AlexSCorey to add more context, examples, prototypes in this issue.

[2021-12-06 19:02] tiagodread commented on #5867
Closing this issue, since this was worked and added via https://github.com/ansible/awx/issues/5546 and https://github.com/ansible/awx/pull/9345

[2021-12-06 19:20] akus062381 opened #11425 "Control node inside instance group- enable ability for user to do health check from list view"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-07 10:25] francoisv100 opened #11426 "AWX 19.2.2 Grafana Notifications dashboardId and panelId incorrect format"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-07 14:21] jpic commented on #631
This is because AWX has NPM building the index.html domain. AWX declares its static [inside public/static/](https://github.com/ansible/awx/tree/devel/awx/ui/public), this is why the generated `index.html` is compatible with `STATIC_URL=/static/`, and that only.

To support other values for STATIC_URL, AWX should use django-webpack/django-webpack-loader. Basically this will change:

- building the

[2021-12-07 14:49] AlexSCorey commented on #10503
![Screen Shot 2021-12-07 at 9 47 32 AM](https://user-images.githubusercontent.com/39280967/145050939-0b610a4b-dc27-47cd-84fb-3d43cf721153.png)
This is an example of a delete modal that does not use a table view.  It is a list view.  I think that where applicable we should use a table view with column headers etc on modals to better match the list view.
![Screen Shot 2021-12-07 at 9 52 52 AM](https

[2021-12-07 15:23] Jonathan-Caruana commented on #9926
Same issue here, after couple of days i restarded the VM and the Postgres pod enter in state "CrashLoopBackOff" with the same errors as previous explained. :(

[2021-12-07 15:24] jpic commented on #1180
Works here, but I don't see the same UI rendering, maybe upgrade your AWX?

[2021-12-07 15:24] Lejooohn commented on #9926
Same issue here, after couple of days i restarded the VM and the Postgres pod enter in state "CrashLoopBackOff" with the same errors as previous explained :

`initdb: error: directory "/var/lib/postgresql/data/pgdata" exists but is not empty
If you want to create a new database system, either remove or empty
the directory "/var/lib/postgresql/data/pgdata" or run initdb
with an argument other than

[2021-12-07 15:58] keliansb commented on #10787
Another vote for this feature!
Thanks @xx4h for your temporary workaround.
In case someone wants to use your workaround as well, there are just 2 typos :
- It is `quay.io/centos/centos:8` instead of `quai.io/centos/centos:8` in `initContainers` section
- `volumeMounts[1].mountPath` in `containers` section is missing the value `/etc/pki/ca-trust/source/anchors/bundle-ca.crt`

[2021-12-07 20:44] coreydeli commented on #11418
I have this same issue on 19.5.0

[2021-12-07 20:54] coreydeli commented on #7067
Issue persists in 19.5.0

[2021-12-08 00:23] pradeepbbl commented on #11390
@nrobbins00 thanks for the reference +1 had the same issue today in the k8s cluster after upgrade from 19.0.0 manually pulling the `awx-ee` image in each k8s node fixed the issue.

[2021-12-08 07:26] gaojiajung opened #11432 "v17.0.1(docker) Notification Templates-->Type:Email is Failed"
When configuring the Email Notification the Test Notification is failed . What's the reason?.Check that the options are correct.
Where can I see the detailed cause of authentication failure

[2021-12-08 07:45] #8225 closed, assigned to nobody

[2021-12-08 09:59] Lejooohn commented on #9926
any solution @shanemcd  ? Even if i used minikube delete --purge, i got the same error when i tried to deploy again...

[2021-12-08 13:04] rafabono commented on #11418
A new change solved this problem.

[2021-12-08 13:04] #11418 closed, assigned to nobody

[2021-12-08 15:18] coreydeli commented on #11418
What was the change because I have this issue still and can't seem to get around it.

[2021-12-08 16:13] jakemcdermott opened #11433 "Update or remove ui launch button test"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-08 16:38] praetorianguards opened #11434 "[Makefile:504: docker-compose-build] Error 125"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-08 19:11] AlanCoding commented on #7067
FWIW, recent changes did make the inventory errors _more_ brief. We have gotten rid of the "/var/lib/awx/venv/awx/bin/awx-manage" related traceback.

To reduce the rest of the errors, we could

1. narrow down the plugins used or
2. just have some general Ansible core improvement

The option (1) requires changing the plugins which are enabled. We do this when we can, but otherwise, the user has to

[2021-12-08 19:21] ffirg commented on #11434
Your problem is in your output - "write /var/tmp/storage894721938/1: no space left on device"

[2021-12-08 19:21] #11434 closed, assigned to nobody

[2021-12-08 19:44] nixocio commented on #11017
Also: https://github.com/ansible/awx/issues/7850 and https://github.com/ansible/awx/issues/5513

[2021-12-08 20:00] bandwiches commented on #9906
I found the cause of this and it's not exactly related to bad configuration.

When making changes to the LDAP(S) configuration via AWX GUI, the resulting change is not immediate.  The first 3-5 attempts after a change is made will result in this error.  Without making any changes, the error eventually resolves itself and logins began working.

Firewalls show the traffic reaching the LDAP(S) server

[2021-12-08 20:51] bumpy44 commented on #5079
I've attempted this a few times now and what appears to happen is that it does indeed re-key the database secrets but fails to provide the new key and instead errors.  This is from AWX 17.1 on docker.

`bash-4.4# awx-manage regenerate_secret_key
2021-12-08 04:37:29,898 ERROR    awx.main.utils.encryption Failed to decrypt `Setting(pk=22).value`; if you've recently restored from a database backup or

[2021-12-08 23:39] gsfcosta opened #11437 "Add new instance on AWX with k3s"
I implemented ansible awx through k3s (kubectl). But I have other servers that I would like to add as an instance to perform tasks in awx. I've already researched and looked in several places where to make the inclusion and I didn't find it. Can someone help me?

Thanks in advance!

[2021-12-09 00:28] AdamMack2007 commented on #9747
This is affecting Automation Controller 4.1.0 (AAP 2.1) as well in both Firefox 78.15.0esr  and Chrome 96.0.4664.93

Inventory syncs, projects and templates/workflows all hang and will show no activity until I refresh or after a certain duration 2+ minutes.

<img width="561" alt="Screen Shot 2021-12-08 at 5 15 46 PM" src="https://user-images.githubusercontent.com/25601424/145312319-701e7edc-c850-4

[2021-12-09 01:07] dayatto commented on #7294
Hi @ryanpetrello

Can you help me, about my case installation ansible awx.
i have success install ansible, but can't access like a this discuss. Just dispay page not found. Any idea or suggest ?
Thanks a lot

[2021-12-09 05:01] praetorianguards commented on #11434
I indeed missed that
TY

[2021-12-09 07:06] praetorianguards opened #11438 "task Get OS info for sdb failing due to "docker info | grep 'Operating System" is missing"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-09 07:18] praetorianguards commented on #11438
i was able to start after
yum install docker-ce docker-ce-cli containerd.io

[2021-12-09 12:27] ffirg commented on #5151
this issue is outdated and the requirement already delivered so closing

[2021-12-09 12:27] #5151 closed, assigned to nobody

[2021-12-09 19:22] k8s4 commented on #5564
+1

[2021-12-09 19:23] AlanCoding commented on #11347
Here's a really fast demo of the style of query I spitballed with @jakemcdermott .

[code]

I'll talk this out so that someone else could hypothetically run with it:

 - Take all the roles in the system `Role.objects`
 - Remove any ordering that the model defaults set `.order_by()`
 - Filter the list to only those roles that the user `u` has direct or indirect access to `.filter(ancestors__in=u.ro

[2021-12-09 19:36] InnocentK commented on #6613
Resolved

[2021-12-09 19:36] #6613 closed, assigned to keithjgrant, InnocentK, akus062381

[2021-12-09 19:56] akus062381 opened #11442 "Workflow Visualizer making endless API requests with no result"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-10 00:36] zigford opened #11444 "Not able to assign job template access using awx.awx collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We configure our AWX instance 100% with awx.awx collection thus far.
One area that I haven't been able to configure is to assign a team or user access to a specific job.
We use the awx.awx.tower_settings to configure LDAP and teams based on groups. We would like to be able to add a team to a template job that they cannot access by default.

[2021-12-10 05:52] #11432 closed, assigned to nobody

[2021-12-10 10:54] skyangeli opened #11445 "Issue on connecting on inventory host"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-10 10:58] natman commented on #1682
It is impossible to host filter variables from this endpoint:
filter `variables.os_type.icontains:rhel` retuns anything while
           ` "variables": "os_type: rhel_8x64"` because variable type is a string and not a dict
`variables.icontains:rhel` returns some hosts, but this is not what I was expecting.

[2021-12-10 11:35] vrubiolo commented on #10776
Hi there, I am also still seeing the error. Any news on the fix? Thanks much!

[2021-12-10 15:30] #11227 closed, assigned to AlexSCorey

[2021-12-10 15:54] Tioborto commented on #11338
Hello,
We are in the same case with our AWX instance (same version).
We are currently in a GKE cluster so we don't have control over the kubelet configuration.
Do you plan to fix this soon?

[2021-12-10 15:56] nodje commented on #11291
Well done finding some python usage example!

Actually I think the issue title should be "provide Python API documentation" because there's simply none!
And it's really lacking.

[2021-12-10 16:08] kukacz commented on #10838
So workaround seems to be renaming the database schema to "public" after dropping the existing public schema.
[code]

[2021-12-10 16:45] kukacz commented on #10211
Same issue here. We basically cannot run any long jobs with external postgres cluster:
- Limit is 15 minutes. All jobs running longer than that eventually end up in error state with message `Task was marked as running but was not present in the job queue, so it has been marked as failed.` The Ansible task itself ends with success.
- Occurs everytime on all awx deployments configured with external

[2021-12-10 18:17] AlanCoding commented on #11445
That traceback is truncated, can you get the full output from somewhere? We could also use some more details about what task this fails on and what kind of host it's reaching out to (because I assume it gets to some connection-related error, but don't know).

[2021-12-10 18:38] tiagodread commented on #7382
I think this field should be added to expandable row as the old UI

[2021-12-10 18:42] tiagodread commented on #8097
@mabashian would be nice to understande the scope of this issue?!?

[2021-12-10 22:10] akus062381 opened #11449 "Upon clicking browser refresh button- Controller re-logs in and many unnecessary events occurring"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-11 12:43] skyangeli commented on #11445
Hi,
Many thanks for your answer:
Please find whole json output
{
  "module_stdout": "",
  "module_stderr": "Traceback (most recent call last):\n  File \"/usr/lib64/python3.6/urllib/request.py\", line 1349, in do_open\n    encode_chunked=req.has_header('Transfer-encoding'))\n  File \"/usr/lib64/python3.6/http/client.py\", line 1254, in request\n    self._send_request(method, url, body, headers, enc

[2021-12-11 22:21] isweluiz commented on #3956
SOLVED BY MY SIDE.
Hey guys, let me share something with you.
some important points to investigate on your side:

- Do you have enough space on your system to awx download the images?
- Have you checked if you don't have any "trash" from previous installations?
- Have you checked if you have nginx, postgress local running? (stop all to avoid conflict)
- Have you checked all requirements related to

[2021-12-11 22:23] sunnythaper commented on #10787
@CaptAintHere @xx4h I am having trouble with the kubectl commands. Executing the secret name command for example gives me this:

[code]

I have a fairly default install so far as I've basically followed the installation guide and have stopped from progressing cause I can't get my playbooks from GitHub. Any insights?

Edit:

I used the following command but got a blank result:

[code]

[2021-12-12 03:49] hans2520 commented on #10489
I posted a question on stackoverflow which led me here -- https://stackoverflow.com/questions/70320452/awx-5-0-0-all-jobs-stop-processing-and-hang-indefinitely-why

There's a bit of analysis in there -- I don't see a reason why the job ID count hitting 10k would trigger this condition. However, the symptoms are _identical_ to other commenters here -- it's the injection of credentials via the file

[2021-12-12 12:59] sean-m-sullivan commented on #11080
After doing some testing I found that this is NOT the awx.awx module issue. This is an internal awx API issue.
When a workflow is first created the limit field is set to 'null'
When a limit IS set, it is set to that string value.
When the limit is deleted, either through the plugin OR the module, it is set to ""
Ideally it should be reset back to 'null'

[2021-12-12 22:38] Noles opened #11450 "awx_collection - plugins ipv6 support"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-13 05:58] felipe4334 commented on #10829
@tiagodread It looks like #10906 is not working properly

[2021-12-13 08:01] keliansb commented on #10787
`bundle_cacert_secret` is used when you have to trust a custom certificate authority (see [the documentation](https://github.com/ansible/awx-operator#trusting-a-custom-certificate-authority)). I guess you don't need to do this for GitHub, which has a certificate signed by a known certificate autorithy (DigiCert).

[2021-12-13 09:15] doczico opened #11451 "Long job marked as error because logs stop to be retrieved while job continues and complete successfully"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-13 11:18] dommoly commented on #7278
Was there ever a solution found for this? I'm seeing it in v15 and log data is definitely being dropped.

[2021-12-13 14:12] #11442 closed, assigned to nixocio

[2021-12-13 14:34] nixocio commented on #11284
See: https://github.com/ansible/awx/issues/11080#issuecomment-991894100

[2021-12-13 15:14] tiagodread opened #11452 "TypeError: Converting circular structure to JSON trying to relaunch Jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-13 15:42] sunnythaper commented on #10787
@CaptAintHere ah I missed that section of the documentation. I'll be honest, I'm a techy graphic designer so some of this stuff is a bit above my head right now. I managed to get a fully installed and working version of Awx 19.5 running, added my public repo for ansible scripts that has worked with my AWX 8 (yes 8...) installation for years now and got a message around the https. Removed the https

[2021-12-13 16:02] #11105 closed, assigned to AlexSCorey

[2021-12-13 19:59] Raptus1 commented on #11152
Got the same issue here using awx 18 ee:0.1.1 and operator 0.14.0 :
in the awx.spec I have the following details:

`  ee_images:
    - name: AWX EE {{ awx_ee_version }}
      image: {{ custom_image_repo }}{{ awx_ee_image }}:{{ awx_ee_version }}
  control_plane_ee_image: {{ custom_image_repo }}{{ awx_ee_image }}:{{ awx_control_plane_ee_version }}
  task_privileged: true
  extra_settings:
    - sett

[2021-12-13 20:10] keithjgrant commented on #10594
Diving into react-router upgrade now

[2021-12-13 20:42] akus062381 commented on #7853
@tiagodread I am assigning myself to this because I was assigned a related issue to work on.

[2021-12-13 22:02] akus062381 commented on #10655
![image](https://user-images.githubusercontent.com/63685497/145895775-712cee97-2d08-4055-a129-a12509e0bba5.png)

I found another place where this is happening. This is when i disassociated 2 teams at one time. I confirmed that 3 POST requests are happening per each team.

[2021-12-13 22:50] hans2520 opened #11453 "FIFO pipe code will hang indefinitely preventing any logging output"
_Originally posted by @hans2520 in https://github.com/ansible/awx/issues/10489#issuecomment-991830200_

In debugging the above issue, I wrote some code that could lead to better reliability with the [open_fifo_write ](https://github.com/ansible/ansible-runner/blob/83b5d4e688d2563b0fe89e0a184e06879ca73eec/ansible_runner/utils/__init__.py#L392)method as well as debuggability.

This method is critica

[2021-12-13 23:05] hans2520 commented on #10489
As an update to this comment, it turns out in our case the root cause was Crowdstrike -- it had recently deployed script-based execution monitoring and this feature was blocking the FIFO file pipe used by AWX to start up the jobs with the needed SSH key. I opened [a new issue](#11453) for the AWX team to look at improving the FIFO pipe write so as to give users a better indication as to what is ha

[2021-12-14 00:36] Keith-Nowosielski-SJSU opened #11455 "Google Compute Engine Inventory 'has no "gce_id" variable(s)'"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-14 08:37] shanemcd commented on #11420
This issue tracker is intended for bugs and actionable feature requests. If you have any real suggestions or advice, please let us know. Better yet, we'd love if you'd become a contributor. If you just want to vent, please go to the mailing list or IRC.

[2021-12-14 08:37] #11420 closed, assigned to nobody

[2021-12-14 08:40] shanemcd commented on #11416
This was done in https://github.com/ansible/awx/pull/10102

[2021-12-14 08:40] #11416 closed, assigned to nobody

[2021-12-14 08:44] shanemcd commented on #10489
Nice find. Closing this in favor of your new issue.

[2021-12-14 08:44] #10489 closed, assigned to nobody

[2021-12-14 08:46] shanemcd commented on #11437
Hello,

This issue tracker is for tracking feature enhancements and bugs.

If you need help troubleshooting or are looking for help using AWX, try our mailing list or IRC channel:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2021-12-14 08:46] #11437 closed, assigned to nobody

[2021-12-14 08:50] bitshiftnetau commented on #11420
"Is there any way this can be built as a native service"

How much more 'actionable' or 'real' can I get?

[2021-12-14 08:51] shanemcd commented on #11338
I'm not sure how we would fix this without completely rearchitecting things to not rely on the kubernetes logging system. We don't have any plans to do this right now.

[2021-12-14 08:55] bitshiftnetau opened #11456 "Actionable feature request: running awx outside of kubectl as a system service"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It would be much simpler to install, use, and maintain if there was an option to install this system as a native service. As it stands, the installation process is not just overly complicated but also dependant on very specific versions of kubectl.

[2021-12-14 09:47] eviden-simon-hill commented on #11455
I have found the same issue this morning.  I can get it to create hosts with names instead of IP addresses by adding
[code]
to my inventory source vars.  However if I add `- private_ip` to the list it only generates the name not both names and private_ip addresses.

[2021-12-14 11:08] jopaha opened #11457 "CVE-2021-44228 on AWX?"
Hello everyone,

we need an official statement from RedHat if AWX is affected by CVE-2021-44228 (Recent log4j vulnerability) or not?

RedHat announced that Automation Platform is not affected, AWX was not mentioned here:

https://access.redhat.com/security/vulnerabilities/RHSB-2021-009

Does anyone have more insights?

[2021-12-14 12:08] ffirg commented on #11456
This will not be implemented By Red Hat, so I'm closing the request.
There are others that port to other platforms, and as different delivery options if this is not suitable as is.

[2021-12-14 12:08] #11456 closed, assigned to nobody

[2021-12-14 12:32] unbreakabl3 opened #11547 ""Something went wrong..." when trying to execute command on multiple hosts"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We have a smart inventory, which includes all hosts. When we're selecting all of them and wants to execute some command by clicking in `Run Command` button, we're getting the error (screenshot and message below)

##### ENVIRONMENT
* AWX version: 19.5.0
* Operator version: 0.15.0
* Kubernetes version: v1.20.7
* AWX install method: via operator on regula

[2021-12-14 13:00] shanemcd commented on #11457
This is not a dependency of AWX.

[2021-12-14 13:00] #11457 closed, assigned to nobody

[2021-12-14 14:05] bitshiftnetau commented on #11456
Ok cool, could you suggest who those others are?

[2021-12-14 14:32] ffirg commented on #11456
Join https://groups.google.com/g/awx-project and ask there.

[2021-12-14 15:30] AlanCoding opened #11460 "Likely release problem with awx.awx collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The AWX tags

https://github.com/ansible/awx/tags

are up to 19.5.0

But the last-released awx.awx collection is stuck on 19.4.0, from 2 months ago.

https://galaxy.ansible.com/awx/awx

The release pipeline is probably broken

[2021-12-14 15:32] AlanCoding opened #11461 "Unable to cancel system (management) jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-14 15:44] bitshiftnetau commented on #11456
You can't just tell me here? Or do you not know.

[2021-12-14 15:59] akus062381 commented on #11017
@nixocio I just wanted to check in and see what your plan is for this issue? I may need to meet with you to get a bit more context.

[2021-12-14 16:24] jakemcdermott commented on #11347
Acceptance criteria:
Reduce number of api requests needed to load navbar by 50%

(Note: First, we'd need to identify the specific requests made to populate the navbar)

[2021-12-14 16:38] john-westcott-iv commented on #5303
**Acceptance Criteria:**

- [x] SAML users should be able to log into AWX with the is_superuser and is_system_auditor flags set based on SAML attributes and/or roles.
- [x] AWX developers should have documentation on how to setup a SAML provider with their AWX instance (for future development and testing)

[2021-12-14 16:43] nixocio commented on #7561
Acceptance criteria
Email should be the default key for User List.

[2021-12-14 16:44] tiagodread commented on #7561
A few e2e tests around this context may require an update

[2021-12-14 16:50] keithjgrant commented on #10655
As I dug into this, I discovered that the function to update breadcrumbs is setting state, which causes a re-fetch of the inventory, which triggers more updates/re-fetches in the child components. Basically a few hooks activating each other more times than they should between various components. Fixing this will require some re-thinking how we go about updating breadcrumbs and/or looking for a way

[2021-12-14 17:12] ffirg commented on #308
I need to write the PRD for the wider feature and this can then be worked on again

[2021-12-14 18:46] rebeccahhh commented on #11309
Acceptance criteria: in the UI when filtering based on more than one status, both statuses show up in the results

[2021-12-14 19:17] fosterseth commented on #11304
Acceptance Criteria:

1. Subsystem metrics are broadcast using separate redis channels than other types of broadcast (events, notifications). This will probably require manual testing, given the layers of abstractions that hide the redis channels implementation
2. `awx-manage run_wsbroadcast --status` captures runtime stats about data being broadcast, so this should also be tested to reflect chang

[2021-12-14 19:18] marshmalien commented on #10241
Acceptance Criteria:
1. Don't change existing `ouiaId` locators
2. For components without `ouiaId` prop, use `data-cy` instead

[2021-12-14 20:12] henmo009 opened #11463 "there is no cd /awx/installer/ after clonning the repo. neither install.yml"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-14 20:23] tiagodread commented on #5867
Reopening this issue since this was not implemented yet in fact. We do show the resources associated before deleting in a modal but  we don't have Job template tab for Credentials and Inventories yet.

[2021-12-14 21:28] nixocio commented on #11017
Acceptance Criteria:

* User should be able to type a query - text input, and use ansible_facts
* Compound expressions would not be addressed by this issue, such as:
[code]
* Advanced Search remains the same for other keys different of ansible_facts

[2021-12-14 21:30] InnocentK commented on #7561
Resolved: acceptance criteria met

[2021-12-14 21:30] #7561 closed, assigned to nixocio, InnocentK

[2021-12-15 00:03] Keith-Nowosielski-SJSU commented on #11455
Interesting, I don't have an inventory source vars field with "Google Compute Engine" selected as my Source.

[2021-12-15 08:49] rbreekveldt commented on #2350
+1

[2021-12-15 08:58] bpedersen2 commented on #11426
See https://github.com/ansible/awx/pull/11083

[2021-12-15 09:10] ffirg commented on #2350
This would mean a fundamental design across the stack from the IU, API and down into the database. This is not something we're looking at doing at this time. There are labels and advanced searching under Job Templates just for this purpose. With sensible, standard naming conventions, that should suffice.

[2021-12-15 09:10] #2350 closed, assigned to nobody

[2021-12-15 13:04] abcqwertz commented on #11463
I guess you are looking for the install playbooks. Since AWX 18.0.0 the installation is done via the awx-operator. You can still install via AWX via Docker. For more info look here https://github.com/ansible/awx/blob/devel/INSTALL.md

[2021-12-15 13:19] ffirg commented on #11463
thanks @abcqwertz that is correct.

[2021-12-15 13:19] #11463 closed, assigned to nobody

[2021-12-15 13:42] tiagodread opened #11467 "The user cannot move items in Draggable list using keyboard anymore"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-15 13:45] nixocio commented on #11467
See: https://github.com/ansible/awx/pull/11402#pullrequestreview-829224463

 https://www.patternfly.org/v4/components/drag-and-drop

[2021-12-15 13:47] tiagodread commented on #11467
The test case `Can create an org and reorg the credential order on edit` is failing because cypress can't reorder the items using keyboard anymore

[2021-12-15 14:04] Mr-Philipp opened #11468 "AWX shows old Version after Upgrade"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-15 14:59] AlexSCorey commented on #11467
This is currently under development with PF https://github.com/patternfly/patternfly-react/issues/6317

[2021-12-15 15:51] WebSpider commented on #9893
Thanks a bunch, this is part of what I needed!

[2021-12-15 16:20] omicronn88 commented on #10366
I also can confirm that Increasing file size of container logs solves this problem. With on-premise k8s cluster installed with kubeadm you can do it by adding **containerLogMaxSize: 500Mi** to /var/lib/kubelet/config.yaml and then restart kubelet service.

You may want to also decrease number of present files by adjusting containerLogMaxFiles option so that not to run out of space. But keep in min

[2021-12-15 16:39] andrejzelnik commented on #10366
Thank you @Kardi5, I have tried out your proposal and it works now.

[2021-12-15 17:54] akus062381 opened #11469 "Datetime advanced search- datetime format requirement restrictive"
When a user wants to perform an advanced search involving any kind of datetime value, unless the user inputs the search criteria in exactly the right format, the UI throws a 400 error telling the user to add the information in a specific format.

["'12/15/2021' value has an invalid format. It must be in YYYY-MM-DD HH:MM[:ss[.uuuuuu]][TZ] format."]

There are a couple of things about this that woul

[2021-12-15 18:00] nixocio commented on #10594
Create react app can also be upgraded. See: https://github.com/facebook/create-react-app/releases/tag/v5.0.0

[2021-12-15 18:56] AlanCoding commented on #8771
I'm thinking more about this as we've seen notification failures before.

I'd prefer an approach that looks like this:

 - we establish 2 points in code that may be the last time we see the job
   - somewhere in the run method in tasks.py
   - somewhere in the processing of EOF or playbook_on_stats event
  - in each of those places, use `select_for_update`
  - check a special-purpose UnifiedJob fi

[2021-12-15 19:19] nixocio commented on #11469
This one seems like a dupe of https://github.com/ansible/awx/issues/9956

[2021-12-15 19:33] akus062381 commented on #11469
@nixocio it's not exactly the same. but if you "zoom out", the larger issue is related

[2021-12-15 21:26] kotnn opened #11473 "Job running forever and empty output"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-16 16:22] AlanCoding commented on #10776
I still have some friction running [ansible-test sanity](https://github.com/ansible/ansible/issues/66704#issuecomment-995969223) locally and we don't have this hooked up in any automated way for the `devel` Ansible branch.

If I install it, `ansible-doc -t inventory awx.awx.controller` works just fine (again, with Ansible `devel`).

Right now I don't feel like I have enough info to replicate these

[2021-12-16 16:54] ReiNoIkari opened #11475 "Purge old stdout files in error"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-16 17:07] AlanCoding commented on #10690
To clarify what we're talking about here

https://docs.ansible.com/ansible/latest/user_guide/vault.html#managing-multiple-passwords-with-vault-ids

Right now we do the `@prompt` for any vault password with an id.

https://github.com/ansible/awx/blob/3414cae677c7342983d93d84a29ecd699d58b001/awx/main/tasks.py#L1777-L1778

So the thought here is to support files and scripts in source control along-si

[2021-12-16 17:14] AlanCoding commented on #11461
Note for QE:

I was only able to test this by adding a `time.sleep(60)` into the `handle` method of the cleanup jobs management command.

[2021-12-16 19:32] mabashian opened #11476 "[JobOutput doc Umbrella Issue]Add developer documentation for job output"
##### ISSUE TYPE
 - Task

##### SUMMARY
As a team, we've talked about adding documentation around a few key areas of the application where logic is particularly nuanced and not as easy to grok with a glance at the code. The job output panel is one of those places. We already have a precedent for adding architectural documentation to the application (see https://github.com/ansible/awx/blob/devel/aw

[2021-12-16 21:45] #11309 closed, assigned to rebeccahhh, AlexSCorey, akus062381

[2021-12-17 00:52] johnmillertech commented on #11284
There seems to have been a regression of #10195 here: likely the change to WorkflowJobTemplateForm.jsx there did not persist when the /ui and /ui_next dirs were merged.  I just submitted https://github.com/ansible/awx/pull/11477 ; hopefully this can get approved and make it into 19.6.0.

[2021-12-17 09:08] rfarajro commented on #11382
Hi,

 Anyone can help me with this issue?

 Thanks and regards.

[2021-12-17 09:20] jopaha opened #11478 "AWX Tower not detecting role in colection"
I´ve got a collection in my ansible repository installed. Path is

[code]

My ansible.cfg looks like this:

[code]

Now, when I run my playbook on command line:

[code]
it works like a charm. If I run the very same playbook within AWX in the same project I was using on commandline, AWX gives me the following error:

[code]

Why does AWX not find the role in the collection but when I run this on CL

[2021-12-17 09:45] ffirg commented on #11478
This is likely to be to do with your relative paths (./)
This repo is not for support issues so I'm closing this issue.
Please head over to https://groups.google.com/g/awx-project and post it there where someone will hopefully be able to help you.

[2021-12-17 09:45] #11478 closed, assigned to nobody

[2021-12-17 10:13] ffirg commented on #11017
related issue https://github.com/ansible/tower/issues/5279 hopefully fixed with this change as well.

[2021-12-17 10:45] vandanakec opened #11479 "AWX - No httponly flag for CSRF token"
AWX -19.4.x
Minikube 1.23.2

I managed to add the CSRF token as httponly in setting.py file .
But the flag ( httponly) is still off for cookies CSRF userloggedin and currentuser token.
there is no httponly flag set in config js file .

Need to add this as a security feature.

![image](https://user-images.githubusercontent.com/41371948/146532714-acd64040-d642-4de5-b215-4c5327cc5e4e.png)

Can anyone

[2021-12-17 15:04] stefanpinter commented on #11473
oh yes, I am glad I found this thread, although no reply is in here yet.

i have the same problem but with a few differences:

- problem started out of the blue in the night from tuesday to wednesday

- using github repositoy with ssh
(tcpdump isnt showing anything happening related to port 22 when starting a project update-job)

- problem started with awx 19.3.0
project refresh was on "Running" f

[2021-12-17 15:12] stefanpinter commented on #11473
@kotnn
did you try giving the URL like this?
![image](https://user-images.githubusercontent.com/70375226/146565655-9b73e9b3-f6c3-4064-b876-32273bca2b5f.png)

[2021-12-17 15:38] DnaMes opened #11480 "Increasing Projects Connection Timeout"
Hello.

AWX: 19.5.0
K3s: v1.21.7+k3s1

For updating our inventory for the Telekom Cloud we using a remote archive (tgz) via "Projects". Unfortunately, the retrieval of the package takes longer than 10 seconds and we get a "Connection failure: The read operation timed out".

I guess the solution would be to increase the connection timeout to 20 seconds but I can't find anything else regarding to "P

[2021-12-17 18:16] AlanCoding commented on #11479
Looks very similar https://github.com/ansible/awx/issues/11419

[2021-12-17 18:20] AlanCoding commented on #11475
This method `purge_old_stdout_files` is only used when the user downloads the standard out file for a job to my knowledge. Does that match with your usage?

[2021-12-17 18:26] AlanCoding commented on #11473
Did you see any relevant logs when this happened? If it's not too much, maybe you could run strace on a related dispatcher process (find running `awx-manage run_dispatcher --status`) to see if it's stuck on a read?

[2021-12-17 18:30] AlanCoding commented on #11468
It looks like some things related to finding the version were merged in https://github.com/ansible/awx/pull/11199, which made it into 19.5.0, let me ask if @shanemcd thinks this is relevant.

[2021-12-17 18:36] AlanCoding commented on #11547
Could you check if there are any relevant server logs? Depending on what that shows, this may be more appropriate in the AWX issue tracker.

[2021-12-17 18:39] AlanCoding commented on #11455
This version 15.0.1 is very old, and I'm fairly certain things have changed about the inventory source input. Could you check if you see the input box after upgrading?

[2021-12-17 18:41] AlanCoding commented on #10489
I think https://github.com/ansible/awx/issues/11453 is the new issue.

[2021-12-17 18:46] AlanCoding commented on #11451
Do you have the error that the job shows? There is an API field `job_explanation` which may describe the error, or it may show a traceback. Also, are there relevant server logs from when it errored?

[2021-12-20 08:00] marekvesely-direct commented on #10669
Ok, I figured out this issue. This was because of resource limits i added to AWX. After i removed limits it works as expected.

[2021-12-20 08:00] #10669 closed, assigned to nobody

[2021-12-20 08:44] Tioborto commented on #11338
Hello @shanemcd ,
This is a real problem for us. We have users with jobs in "ERROR" status while we have full logs in our external tool.
Why is this not a top priority? This is a regression from previous versions

[2021-12-20 08:47] Tioborto commented on #10366
Hello,

Here we can't modify the kubelet config from GKE cluster. We use official google image and we don't want to manage our own image.

This is a real problem for us. We have users with jobs in "ERROR" status while we have full logs in our external tool.
Why is this not a top priority? This is a regression from previous versions

[2021-12-20 10:17] ffirg commented on #9747
related? #9085

[2021-12-20 11:53] lucas-benedito commented on #10690
@AlanCoding your assumption is correct. The requester expects the vault credential from tower to work as it does in CLI by allowing the vaulttest@vaulttest.py.

[2021-12-20 12:28] unbreakabl3 commented on #11547
There are no any messages in the logs when clicking on the `Run Command` button. Nothing happened not in the `awx-web`. In `awx-task` pod I can see the following:
[code]

I did re-create the container, but even after that the behaviour is exactly the same.

[2021-12-20 14:14] Jonathan-Caruana commented on #9926
Hi,

This error occur also with the latest version of awx-operator : 0.15.0 and awx : 19.5.0

After couple days if you restard your awx server the postgres pod enter in "CrashLoopBackOff" state :

[code]

No changes has been done previously.

Here is the describe output :

[code]

I can't think about put this product in production if this behaviour occur frequently (and as i saw, many users report

[2021-12-20 14:39] felipe4334 opened #11484 "Default Job Idle Timeout not working"
### Please confirm the following

- [x] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-20 15:17] kotnn commented on #11473
I have no time for troubleshooting now, therefore i've set up docker version https://github.com/ansible/awx/blob/17.0.1/INSTALL.md
and it works as expected

[2021-12-20 17:01] kakawait commented on #10489
I've posted a monkey-patch (please read the final **ATTENTION**) to by-pass that limitation if you don't want to disable Crowdstrike or tune configuration at enterprise level.

https://stackoverflow.com/questions/70320452/awx-all-jobs-stop-processing-and-hang-indefinitely-why/70425369#70425369

[2021-12-20 19:32] akus062381 commented on #10655
confirmed as fixed as of 12/20:

Associating a group to a host on the groups tab inside of a host
Associating a team to a user

[2021-12-20 21:10] fosterseth opened #11486 "duplicate websockets on job output page"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-21 06:50] eselvam opened #11487 "Awx 17.1.0 Project sync and template run indefinitely running without logs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-21 06:57] bluikko commented on #7594
On AWX-RPM 9.0.1 (@poulterer how did you get 11?! I cannot see anything newer than 9 available and the website also does not include anything newer than 9) the issue for me is indeed in `common.py` - it does not take into account ansible-core where the version string is like:
[code]
But the OP says he is using Ansible 2.9.9 where the version string is as expected for `common.py` so not sure how th

[2021-12-21 10:19] ffirg commented on #11487
AWX 17.1.0 just released on 10 Mar 2021 and no commits have been made to the code since, so this is likely something in your environment or other tooling. I suggest you post on the https://groups.google.com/g/awx-project list to see if anyone can help further.

[2021-12-21 10:19] #11487 closed, assigned to nobody

[2021-12-21 10:38] daenney opened #11488 "Allow label modificaiton of credential types"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Allow updating **only** the labels of a credential type without having to recreate the credentials.

Updating the label on a credential type currently results in

This means that just to change a label (which as far as I know is only used in the AWX UI) you have to delete any of your credentials from the jobs it's in use, delete the credential, updat

[2021-12-21 13:50] eselvam commented on #11487
It is a problem with Falcon scanner. Once stopped the service it started working. However in awx19.x even with Falcon it is working fine.  Shall we get some information on how it is working in awx19.x with Falcon?

[2021-12-21 14:31] nixocio commented on #11486
Possible related to: https://github.com/ansible/awx/issues/9795

[2021-12-21 18:03] opticyclic commented on #11052
Tower 3.5.2
The primary list when you click on the side bar.
The first record has a list of owners and when I search using one of the ones I can see nothing comes up.
The KEY suggests syntax but owner:johnny doesn't turn up anything either.

The only thing that is matched in a search is text in the NAME column.

[2021-12-21 19:51] nixocio commented on #11346
See also: https://github.com/ansible/awx/issues/11486

We could explore moving the `useWebsocket` to a context, and re-use the same client and connection in different parts of the application.

[2021-12-21 20:54] nixocio commented on #11486
We could explore moving the useWebsocket to a context, and re-use the same client and connection in different parts of the application.

[2021-12-21 22:03] bladedoyle commented on #73
This is still needed.
CVE are using Tower versions, and its a nightmare to try to figure out which version of AWX contains the fixes.

[2021-12-22 07:33] ivantomica opened #11490 "AWX - EC2 dynamic inventory source not grouping properly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-22 13:32] stefanpinter commented on #11473
ok, FINALLY most jobs run fine again... but some jobs do bad stuff.

job starts, no output while running, not even when refreshing via F5, then the job errors with either
- Logs stop in the middle of the run (no summary, stopped in the middle of a task)
or
- Error creating pod: timed out waiting for the condition, ImagePullBackOff
- no log at all

awx-manage run_dispatcher --status
Recorded at: 20

[2021-12-22 22:48] jeffkala commented on #10364
Looks like this would also address the similar issue I'm hitting.  Running 19.2.2 with a custom EE, if I have a container registry credential that has the incorrect password/token, it does seem to have the same issue as this original issue.  The job execution in the UI just hangs and does nothing until you get `Error` result with no further details.  Was only able to figure it out by running `desc

[2021-12-23 00:39] terminalrally opened #11491 "Getting HTTP Basic: Access denied on self-hosted Gitlab"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-23 07:50] stefanpinter commented on #11473
i doubled up CPU count to 4 and RAM to 8GB, but it is still happening...
stops in the middle of a job, goes to "error", an the log just stops:

...
TASK [Test php7.0-fpm] *********************************************************
skipping: [aztjc001]
skipping: [aztjc002]
skipping: [vpadm001]
...

But there should be 30 hosts, not 3

[2021-12-23 09:38] stefanpinter commented on #11473
oh, this is what I experience as well https://github.com/ansible/awx/issues/11451

[2021-12-23 09:43] stefanpinter commented on #11451
my problem from https://github.com/ansible/awx/issues/11473 now is this one here as well (after setting up a new server and upgrading from 19.3.0 to 19.5.0.
"long" running job goes into error.
k3s logs from when it happened at 09:42 (jumped from Running to Error at this same moment)

Dec 23 09:40:45 vpadm002 k3s[915]: I1223 09:40:45.329466     915 topology_manager.go:187] "Topology Admit Handler"

[2021-12-23 09:50] stefanpinter commented on #11451
set up with https://github.com/kurokobo/awx-on-k3s
awx 19.5.0
awx-ee(latest)
tried awx-ee 0.6.0 as well

there are jobs on my instance that run okay that are even longer (> 300 seconds)

"status": "error",
            "execution_environment": 1,
            "failed": true,
            "started": "2021-12-23T09:40:36.129419Z",
            "finished": "2021-12-23T09:42:03.868156Z",
            "canc

[2021-12-23 11:18] ffirg commented on #11491
You might want to try upgrading to ansible 2.11 and try that.

[2021-12-23 13:13] kurokobo commented on #11451
Sometimes the rotation of the logs by kubelet causes similar issue.
I don't know if this is the one you faced but for k3s https://github.com/ansible/awx/issues/10366#issuecomment-944060894 might be helpful (and https://github.com/ansible/awx/issues/10366#issuecomment-994947732 for k8s).

[2021-12-23 13:45] felipe4334 commented on #11484
Any help?

[2021-12-23 15:37] Bitos33 commented on #9926
As mentioned by @AleksejEgorov, the trick is to disable auto cleaning of the temporary directory where data files are stored
I got no more crash since i did this
I agree this is only a workaround and cannot be acceptable for production
The real question is: is it possible to configure the path for database pod and use a safe place ?

[2021-12-24 10:28] gigi1983 commented on #371
any news about this?In my environment I see some weird situations:

- using api I'm able to create a smart inventory based also on a filter like "host_filter": "inventory=xxx and variables__icontains=\"key: value\""

- I can see the smart inventory in tower

- if I look at the filtered hosts here happens the weird:

  - sometimes some machines are retrieved from base inventory.
  - if I add a mach

[2021-12-25 09:22] terminalrally commented on #11491
2.9.25 is the latest version supported on RHEL.

[2021-12-26 06:31] SudoNova commented on #10151
Same here
[code]
Though I don't get the `Error creating pod` part (what pod?), but the `Error updating status file` is common.

[2021-12-27 06:21] hroman1n commented on #10669
@marekvesely-direct Hi, at the moment I am facing exactly the same problem (no output, empty API response). Can you specify which resource limits you removed?

[2021-12-27 10:10] Tioborto opened #11492 "UI - Credential usage"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It would be interesting to identify the job templates using a credential at the credential level
Example : we have the list of job templates of a project at the project level

![awx-ui](https://user-images.githubusercontent.com/29703972/147461432-b75068c6-f2ae-44a9-baff-416680ffc862.png)

[2021-12-27 13:01] gigi1983 commented on #371
I did some further tests and seems that the following works:

-create the inventory via UI or API
-add hosts to the inventory via API
-the circle beside of the inventory name (in the inventory page) becomes green
-via api create smart inventories base on what in the post before so including variables in the filter.

at least now is working...

[2021-12-28 17:19] kimbernator commented on #11392
Would like to encourage the maintainers to look into this as well. Our infrastructure limits our kube nodes to 8GB of memory, which means all of the containers need to fit within that, and AWX can easily push it when a lot of jobs are being managed by the task container.

[2021-12-28 21:13] agrisvv commented on #11491
i can say what works today:
awx 19.4 with awx-ee (latest or 6.0) + gitlab 14.6 + user with username and password over HTTPS.

[2021-12-29 06:19] marekvesely-direct commented on #10669
@Hroman9n I configured this because in history I had 1 node cluster of Kube, but now I have 3 node so I completely removed this and everything works fine now.
[code]

[2021-12-29 06:24] marekvesely-direct commented on #10669
I suppose error is there because it reaches limits of automation_job pod and it is killed by Kubernetes. So there is no output anything in controller machine.

[2021-12-29 13:55] Jonathan-Caruana opened #11493 "awx-operator ImagePullBackOff"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-29 22:55] velzend commented on #11480
Probably my pull request will fix your issue too...
 https://github.com/ansible/awx/pull/11481

[2021-12-30 10:53] FireDrunk opened #11495 "Custom AWX Execution Environment fails when using 'proxmoxer' module"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-30 12:15] rbicker commented on #1519
Hi

If anyone is looking how to set this for an awx-operator based installation - The operator supports extra settings in the manifest spec: https://github.com/ansible/awx-operator#extra-settings

So you can do something like:

[code]

For existing installations, a restart is needed after applying the manifest. This can be done by deleting the awx pod.

I guess for docker-composed based installati

[2021-12-30 15:54] bandwiches opened #11496 "Project Sync Never Finishes"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-30 17:57] iridian-ks commented on #4089
The workaround for this **really** sucks. I took my upstream branch and created a downstream dedicated to awx. This dedicated branch has the password to the Ansible vault file committed in plaintext in the repo and the ansible.cfg has `vault_identity_list` set.

This is really bad as now we've got extremely open credentials _effectively_ in the clear. This feature is a must!

If this feature would

[2021-12-30 18:09] bandwiches commented on #11496
After further testing, I've found that this only happens when using the SSH method versus HTTPS method.

Did you test SSH from the node? Yes, it worked.
Did you test cloning from the node via SSH? Yes, it worked.
Is the same private key used for an AWX credential? Yes
Did sync work? No, spun indefinitely (running)

Creating a credential using username/password and creating a project using the HTTP

[2021-12-31 08:22] hulongjiang1 opened #11497 "launchjob Variables braces does not take effect"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-12-31 18:07] haijeploeg commented on #11493
I ran into this issue as well and found out that the makefile is using `git describe --tags` to determine the version it should pull. You cloned the repository and then did a checkout with the `-b` flag. This means you create a new branch called `0.15.0` locally, but this is not the upstream branch. The command will still return `0.15.0-19-g4a43de5` as the version.

You can fix this by running: `g

[2022-01-03 07:23] Jonathan-Caruana commented on #11493
thank you @haijeploeg i will try your solution in the coming days !

[2022-01-03 09:11] pitman123 commented on #11219
@cnxieyang I have the same problem. Any progress on this?
![image](https://user-images.githubusercontent.com/53664786/147914470-05d7ca78-78cc-4fc3-ad83-10a41cde1199.png)

[2022-01-03 09:17] FireDrunk commented on #11495
After debugging this some more, it looks like this is caused by my:
[code]
entry. I've added this, because I want the code to execute *on* the Execution Environment, but apparently that's not working correctly.
When using a dedicated VM with the `proxmoxer` and `requests` modules installed, and setting the Hosts entry to `all` and using an inventory/hosts from AWX pointing to the dedicated VM it w

[2022-01-03 21:50] Keith-Nowosielski-SJSU commented on #11455
I'm using the docker.io/ansible/awx container images. As far as I know this is the latest working version of this configuration. It was made available 14 months ago via this deployment method. I know there are other configuration methods however all newer versions seem to use an alpha implementation method which isn't ideal for work environments.

I chose this method specifically as it uses a podm

[2022-01-04 08:41] hungtran84 commented on #9075
have you tried `git+https://github.com/ansible-collections/community.network.git` ? It worked for me.

[2022-01-04 14:48] AndreiBanaruTakeda opened #11499 "awx.awx.schedule_rrule generates invalid string which awx.awx.schedule rejects"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-04 15:15] IPvSean opened #11500 "improve workflow editing of sub-job templates (jump to job template edit window from workflow)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The feature idea is to make it easier to get to the job template window (where you can edit things around the job template such as survey, execution environment the JT uses, etc).

**Problem Situation**

1. You start noticing jobs failing in your dashboard or insights.
2. You see that it is a workflow that is scheduled to run every 4 hours
3. You loo

[2022-01-04 19:55] fosterseth commented on #11304
holding off on this for now until we better understand https://github.com/ansible/awx/issues/11346

The solution for dropped metrics would be to setup a new endpoint and broadcast out from there. However, that would mean adding a new websocket connection for the back-plane. That means in a cluster of N control nodes, N-1 more websocket connections.

Depending how we tackle https://github.com/ansib

[2022-01-04 21:43] AlanCoding commented on #10690
Here's the current Credential Type definition:

https://github.com/ansible/awx/blob/3414cae677c7342983d93d84a29ecd699d58b001/awx/main/models/credential/__init__.py#L634-L652

### Option 1

 - Add a new input, "source" or something, which defaults to "prompt", but the user can override
   - explain that if a non-default value is given, it needs to be the location (in the project) of a file or a scr

[2022-01-05 09:47] hulongjiang1 commented on #11497
need set ALLOW_JINJA_IN_EXTRA_VARS=always
i have solved it.

[2022-01-05 09:47] #11497 closed, assigned to nobody

[2022-01-05 12:58] bossi86 opened #11502 "TypeError: super() takes at least 1 argument"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
When using a higher version auf awx.awx then 19.2.0 usage of some moduls fail with a python Error "TypeError: super() takes at least 1 argument (0 given)"

##### ENVIRONMENT
* Ansible Tower version: 3.8.4
* Operating System: RHEL 7.9
* Python Version: 2.7.5

##### STEPS TO REPRODUCE

`- name: "set the license"
  awx.awx.tow

[2022-01-05 15:11] AlanCoding commented on #11051
Any solution to this will probably resolve #11453 as well, even if the original cause is different.

[2022-01-05 19:56] AlanCoding commented on #1236
Log message in question:

https://github.com/ansible/awx/blob/fd99b366c29bf3ebcae713711053eadce160ecc4/awx/api/generics.py#L211

I imagine that this can obviously be accomplished by adding `response.data` in that. That might give long log messages...

[2022-01-05 20:37] ffirg commented on #10690
I definitely agree with Bills July remark of not landing any arbitrary code in the DB. Looks like we're not doing that with either of those 2 options here, so all good on that front. Option 2 sounds the best to me. The onus then remains on the user to ensure sensible security measures around that repo/script etc.

[2022-01-05 20:57] #11452 closed, assigned to nixocio

[2022-01-06 01:14] sean-m-sullivan commented on #11319
@bonzaii I just did a PR to improve the error and documentation to make it so this is more clear in the future.

[2022-01-06 13:58] kitsushadow commented on #378
Also having the same issue day after day. Tower 3.8.3

[2022-01-06 13:59] kitsushadow commented on #378
This really should be reopened.

[2022-01-06 15:02] denniswoot commented on #11424
What do you see with developer tools?

Visit start-page of AWX, open F12 -> Developer Console -> do you see errors?

[2022-01-06 15:06] mabashian opened #11505 "Cannot create manual project in Japanese (possibly all non-English languages)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-06 15:28] AlanCoding commented on #11496
I'm wondering if this might be the same as #11453, because for these SCM SSH credentials, I believe it uses the same logic as job SSH credentials. There might be some helpful hints to asses this in that issue or others linked from it.

[2022-01-06 15:50] ryanpetrello commented on #7294
Hey @dayatto,

I'm no longer an active contributor to AWX.  @shanemcd and @AlanCoding may have some ideas.  Best of luck!

[2022-01-06 15:52] ryanpetrello commented on #1519
Hey @noah6netguy,

I'm no longer an active contributor to AWX.  That said, what @rbicker suggested seems like a reasonable approach for more modern AWX versions that utilize the operator.

[2022-01-06 17:40] shanemcd opened #11507 "Upgrade to Python 3.9"
The next major version of RHEL will only provide Python 3.9.

This ticket is meant to track the work needed to update the development environment and the upstream deployment.

As a part of this work, we may need to move to CentOS Stream.

Before merging anything here, we will need to engage with the productization team to ensure that downstream builds are functional.

[2022-01-06 17:43] shanemcd commented on #11507
I have assigned myself here because I plan to be involved in some here in some capacity as it will affect our development environment. If someone else wants to drive, let me know. Either way, I am happy to pair on this.

[2022-01-06 18:54] nixocio commented on #11505
@mabashian I bumped the priority since with my initial tests any language different than English can not create a manual project. Since the subform is not being rendering.

[2022-01-06 21:48] dsavineau commented on #11507
that's Python 3.9 not 3.10

[2022-01-06 21:49] shanemcd commented on #11507
@dsavineau Yep, seems like you left this comment 4 seconds after I changed the title 😅 Thank you.

[2022-01-07 07:42] apollo13 commented on #11424
Nothing, and given my screenshots it seems like a simple miss calculation rather than an error. Did you try to reproduce the issue?

[2022-01-07 12:32] stefanpinter commented on #11451
a very similar problem with maybe the same cause is now happening with a workflow.
a node ends with succes, but the next node isn't starting at all.
Workflow says "Running" and the next node is just gray and not running at all

[2022-01-07 14:15] hyberdk opened #11510 "Add scheduling of projects/inventory to the awx.awx collection."
##### ISSUE TYPE
 - Feature Idea / missing functionality

##### SUMMARY
There seems to be missing feature parity between what can be done in the AWX GUI and via the awx.awx collection regarding to scheduling updates (sync) on projects and inventory..

I would like to create a schedule to update a project and inventory. I can do it like this from the GUI
![image](https://user-images.githubuserconte

[2022-01-07 14:58] maveleo commented on #9701
I am experiencing the same issue with AWX 19.4.0
I run AWX within a Kubernetes cluster using the AWX operator
looks like this is also tracked in https://github.com/ansible/awx/issues/10878

[2022-01-07 15:37] bschaeffer opened #11511 "automation-job completes successfully but the ops-awx-task and UI show an error and stop producing output"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-07 18:33] shanemcd commented on #11511
Looks like another instance of https://github.com/ansible/awx/issues/11338 and https://github.com/ansible/awx/issues/9961

[2022-01-07 18:44] shanemcd commented on #11502
Hello. This is an issue tracker for the upstream AWX project. If you are a Tower customer, please open up a support issue and they will help you out.

[2022-01-07 18:44] #11502 closed, assigned to nobody

[2022-01-07 18:56] bossi86 commented on #11502
Hello. This issue is not related to AWX or Tower. This is a problem that exists in Ansible regardless of AWX or Tower. Please reopen the issue.

[2022-01-07 19:38] bschaeffer commented on #11338
Running this in kubernetes 1.20+ should be called as strictly unsupported and broken I feel like

[2022-01-09 12:47] eranyo commented on #20
+100

[2022-01-10 10:04] Mr-Philipp commented on #11468
**EDIT: This seems not to be the problem. see at the end of this comment.**

I already stumbled accross this commit and i think there is something wrong int the *MAKEFILE*:

[code]

if i try to run this command it prints me:

[code]

If someone can tell me how to test this or if this is a problem with my specific setup i would try to fix this.

**EDIT:** This problem was due to an old dependency.

[2022-01-10 10:14] lucab85 commented on #6134
+1

[2022-01-10 10:19] ffirg commented on #11491
@johnathonmatczak please try the working combo suggested by @agrisvv. Thanks both.

[2022-01-10 10:31] ffirg commented on #11495
@FireDrunk yes you need to set the ansible_python_interpreter appropriately as localhost is a special case. Using the right python will fix this issue.

[2022-01-10 10:31] #11495 closed, assigned to nobody

[2022-01-10 17:13] maveleo commented on #9704
Same issue is affecting tower quay.io/ansible/awx:19.4.0 and I cannot test in 19.5.0 either as in that version all of my jobs will stay as pending.
As anyone got this working with any 19.x ?

[2022-01-10 18:08] keith6014 opened #11516 "awx with nginx http auth"
Using nginx's http authentication is it possible to single sign on with AWX setup with LDAP? Similar to Grafana https://community.grafana.com/t/grafana-nginx-auth-proxy/215?

[2022-01-10 20:21] akus062381 commented on #10241
@marshmalien has addressed all of these areas. closing this issue

[2022-01-10 20:21] #10241 closed, assigned to tiagodread, marshmalien

[2022-01-11 08:18] craph opened #11518 "Crowdstrike makes unable to sync project from self hosted gitlab via ssh clone"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-11 08:21] craph commented on #11496
@bandwiches Hi,
I have the same issue like you. you can find my issue here #11518
I did all the same test like you.

It's a very weird behavior...

[2022-01-11 08:32] craph commented on #11051
Hello @AlanCoding , @rbicker ,

I have the same issue. I did the migration from local docker installation 17.x to the kubernetes version in 19.2.0 and after that all my projects can't sync anymore and are still in running state forever.

I open an issue for that #11518 and in the private key of my ssh credential I don't have any passphrase. So the issue is happening even if we don't have passphras

[2022-01-11 08:45] craph commented on #11518
Is it possible related with [this issue](https://github.com/ansible/awx-operator/issues/376) ?

[2022-01-11 08:53] craph commented on #11051
@rbicker ,
Please can you tell me how did you proceed to check the credentials with `awx-manage shell_plus` ?

And in the awx-ee container where did you find the log ? I can't find anything about the running job .. and I'm asking if it's possibly linked to https://github.com/ansible/awx-operator/issues/376

Moreover, for me my jobs are at 2791 so I don't think it's linked to #10489

[2022-01-11 09:38] moreiramarti commented on #11301
No one having this issue ?
Maybe it's related to awx-operator ?

[2022-01-11 10:38] craph commented on #11518
I did some other tests and if I try with url in https and login/pwd to clone my repository from my self hosted GitLab server I have the following error :
[code]

why is it not possible to have a project that use ssh credential like it was in AWX 17.x ? @shanemcd @AlanCoding @ryanpetrello

When I use ssh credential and url like this : `ssh://git@your_git_server:your_custom_port/some_group/my_projec

[2022-01-11 14:13] radek-sprta opened #11519 "400 HTTP error when trying to relaunch on failed hosts"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-11 14:37] AlanCoding commented on #11323
I'm coming around to doing a volume mapping _for the stdout callback_. I've been thinking hard on this, and after https://github.com/ansible/ansible-runner/pull/763 is merged, I may opt to combine the 3 modules we have into 1 to make the volume mount viable. This wouldn't be specific to development.

[2022-01-11 14:51] craph commented on #10489
the crowdstrike issue seems fixed with the update 6.32.12905
![A6905A95](https://user-images.githubusercontent.com/14820052/148965267-9a9847e3-81ca-4089-a396-e79b8d6f667d.PNG)

[2022-01-11 15:43] craph commented on #11518
On my k8s worker nodes, if I stop the crowdstrike service I am able to clone and sync my project with ssh credential. After re-enabling crowdstrike the issue appear again...

But on another server where I have AWX 17.0.1 installed on local Docker with crowdstrike installed on the docker host, all the projects with ssh credential can be sync correctly without any issue.

what are the changes betwee

[2022-01-11 16:27] craph commented on #11453
I have a similar issue #11518 and it's seems liked to crowdstrike too but only when AWX is on K8S. With an older version (17.x) installed in local Docker and crowdstrike running too the project update is working.

Do you have any idea of the changes between version 17.x and 19.x about the playbook processing for the project updates ?

[2022-01-11 16:30] hans2520 commented on #11453
This area of code is unchanged from version 5.0.0, where it was originally found

[2022-01-11 16:48] MalfuncEddie commented on #10366
Increasing the log size works but not quite a solution when using a managed k8s service where you cannot access this :-(

[2022-01-11 18:18] felipe4334 commented on #11484
@jakemcdermott @oweel have you guys seen my comment on PR #10906 ?

[2022-01-11 19:34] alisondudiak commented on #11346
This may need to be further broken down....TBD....to do possibly sprint 3?

[2022-01-11 19:35] marshmalien commented on #7678
Acceptance Criteria
* When an inventory has inventory sources, the sync status label should redirect user to pre-filtered list of inventory sync jobs.

[2022-01-11 20:34] craph commented on #11453
Why are you saying it was found in version 5.0.0 ? I don't see this in the referenced issue. It refers version 19.2.1 in #10489

[2022-01-11 22:46] lshake opened #11521 "Async and ansible_connection=local fails using Execution Environments"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-12 00:55] hans2520 commented on #11453
The code in this issue was found in v5.0.0 and is unchanged thru the latest code. It is likely in even an earlier version as well.

On Tue, Jan 11, 2022, 2:34 PM craph ***@***.***> wrote:

[2022-01-12 01:54] mvalsecc opened #11523 "/api/v2/ping is returning wrong value in "heartbeat" field"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-12 03:08] lyutian commented on #11518
I met the project sync issue with self host git server also.
What different from yours, my git source is a simply git server setup as [git offical webpage](https://git-scm.com/book/en/v2/Git-on-the-Server-Setting-Up-the-Server), and I only try the SSH way.

**My awx version:**
`19.5.0`
**My source url in project configure:**
`git@x.x.x.x:/git-server/my_project.git`
**The failed job details shows:*

[2022-01-12 03:19] lyutian commented on #11518
Seems 18.0.0 and later, changed the ansible running environment from virtual env(`/var/lib/awx/venv/`) to container environment which is the new feature 'execution environment' provided.

This change provide a better way to run playbook indeed. But seems it also makes the troubleshooting more difficult.

When the awx used virtual env before, I can troubleshoot by login to awx container (`docker ex

[2022-01-12 03:26] agilleyrh opened #11524 "Add HA database support from Cockroach or citusdata"
##### ISSUE TYPE
 - Add support for additional databases that provide better High Availability

##### SUMMARY
Add support for CockroachDB or Citus for better HA capabilities.

[https://github.com/citusdata/citus](url)

[https://www.cockroachlabs.com](url)

[2022-01-12 06:16] craph commented on #11453
@hans2520 Please can you give me the file where the issue is ?

[2022-01-12 06:34] craph commented on #11243
Any news about this subjects ?

[2022-01-12 06:51] craph commented on #11518
@lyutian thank you for your reply.
How did you installed the AWX 19.5.0 ? is it a local Docker install or on K8S ?

In my case I don't have any output when I run a project sync on AWX 19.2.0 on my K8S cluster. The issue seems to be crowdstrike because when I disable it it works.  BUT on another server with AWX 17.0.1 installed on Docker and crowstrike installed too I don't have the issue.

So that

[2022-01-12 08:12] hans2520 commented on #11453
The file is linked in the issue description

[2022-01-12 08:33] spireob commented on #11484
I have the same problem but in my case job is killed exactly after 60 min if idle. I have some long running jobs and this cause problems as it does not finish properly.

[2022-01-12 09:11] craph commented on #11518
In the K8S cluster, how can I debug what is done when I try to sync a project ? Is it spawning some new pods  or something else ? Where can I find some logs to investigate ?

[2022-01-12 11:04] yohan-b commented on #11330
I work for the user (Red Hat Ansible Tower customer) who is asking for this. The need is to be able to filter job events logs efficiently with Splunk when a generic template/playbook is used (with the role or script to launch passed as an extra var instead of creating hundreds of identical template jobs+playbook just to get a different name to filter on). The first idea was to add extra_vars to ev

[2022-01-12 12:01] craph commented on #11518
After more investigation, in the container `awx-ee` when I ran a project sync I can see in process the `ssh-add` process stuck like this :
[code]
If I try to insert date "for a test" in the pipe file like this :
[code]
The project sync failed (because it wasn't the correct key indeed) but the job is not "block" anymore.

After that if I retry the same thing with the correct private key, the job su

[2022-01-12 15:53] shanemcd opened #11526 "Add support for autoscaling the control plane"
We are able to horizontally scale our workers due to the one-pod-per-job model that came about with the introduction of Execution Environments. However, at some point, the system _will_ fall over when one of the services in the control plane gets overwhelmed. For example, we've received a recent report that Redis starts to OOM if the callback receiver can't keep up with the amount of events that a

[2022-01-12 17:24] bandwiches commented on #11496
@craph looks to be the same to me.  I haven't had the cycles to investigate any further, I just decided to use HTTPS for now instead of SSH and will swap back once it's fixed.  I'm also unable to view any additional logs, the jobs are just blank.

@AlanCoding not sure on that one, that's over my head at the moment.

**Crowdstrike** - this is a recurring noun in all of these tickets, we also have C

[2022-01-12 17:28] maveleo commented on #10878
May I ask why the issue has been closed given that there is not a fix ?
@kenichimilo are you using 17.1.0 with the operation 0.15.0 ?

[2022-01-12 17:40] kdelee commented on #11526
Talking with @gamuniz he mentioned that it even an autoscaler than only ever scales UP (leaving scaling down procedures as manual) would be helpful and help take advantage of several kubernetes-as-a-service offerings that handle autoscaling the kubernetes cluster and help avoid failures like you describe with redis going OOM. Scaling down would be left as a manual task or future enhancement. I cou

[2022-01-12 20:18] craph commented on #11496
@bandwiches as you can see in my issue #11518 I have added extra info and some tests.

I can confirm that when I turn off the service falcon-sensor (crowdstrike) all is working fine.

Moreover, when I ran the command `ps -ef | cat` in the ˋawx-eeˋ I can see the process "ssh-add..." stuck. This process try to create the pipe file to store the ssh credential. Then if you try to echo your credential

[2022-01-12 23:04] natedogith1 opened #11529 "Inventory > Hosts > Run Command breaks if credential needs password"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When Running a command over an inventory (via Inventory > Hosts > Run Command), if the selected credential needs a password (like if the credential is set to prompt for the private key passphrase), it fails without ever prompting.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: don't know
* AWX deployment targ

[2022-01-13 13:35] CWollinger opened #11531 "AWX 19 - Support 24 hours format for timestamps"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently AWX 19 uses 12 hours date format mm/dd/yy, for example: 1/13/2022, 1:43:43 PM

Feature request is to support (configurable) 24 hours date format dd/mm/yy in AWX.

Timestamps are used for job details, scheduler, activity stream etc.
Example fields: Created, Last Modified, Start Time, Next Run etc.

[2022-01-13 14:28] AlexSCorey opened #11532 "Allow Hop Nodes to execute and expose health check data"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hope nodes are being rendered on the Mesh Visualizer, but  there are never any health checks that occur on them.  For consistency and clarity we should execute health checks  on Hop nodes in the event that a hope node does not 'check in', at the same frequency that health checks occur on other node types.  We should also clear errors on hop nodes as

[2022-01-13 19:58] rimkov commented on #11493
Hello
i got the same error, but i did a git checkout without -b flag. i used this documentation https://github.com/ansible/awx-operator
i'm under ubuntu 20.04. In december everything gone fine...

what i did :

[code]

Here is what i found with minikube logs

**ErrImagePull: rpc error: code = Unknown desc = Error response from daemon: manifest for quay.io/ansible/awx-operator:0.15.0-24-gcb9e44f no

[2022-01-13 20:42] rimkov commented on #11493
update : it's ok with git checkout 0.15.0
I will warn you if I find the documentation where I saw the command git switch -c 0.15.0
sorry for the noise. thank you :)

[2022-01-14 10:19] CFSNM commented on #11523
Created PR to add new automated tests for this issue.

Can I get some eyes, please? @nixocio @AlanCoding

[2022-01-14 11:06] maveleo opened #11542 "Inventory source from project does not work anymore in 19.4.0 or 19.5.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-14 12:36] maveleo commented on #9704
I can confirm the issue has not being fixed in 19.4

[2022-01-14 12:43] maveleo commented on #9253
The source sync for an inventory is still happening on the default group in 19.X
Has this been verified in a version > 17.1.0 ?
I filed this in https://github.com/ansible/awx/issues/11542

[2022-01-14 12:45] maveleo commented on #11542
Looks like the source Sync is happening on the default IG only and will remain pending when configured to run on the controlplane IG
Now the problem of the default IG is that it does not have any of the configurations applied to the EE defined for the controlplane IG.

[2022-01-14 13:12] CFSNM commented on #11347
Assigning myself for API QE validation and @akus062381 for UI QE validation

[2022-01-14 14:26] nixocio opened #11543 "Upgrade react-scripts"
##### ISSUE TYPE
 - Feature Idea

Upgrade react-scripts.

In order to upgrade to react-scripts we need to upgrade:

* node, and npm
* eslint
* eslint-plugins
* fix test failures
* analyze and fix lint failures

See: https://github.com/facebook/create-react-app/releases/tag/v5.0.0

[2022-01-14 15:46] smullenrga commented on #11511
Right, I'm pretty certain that I know what's causing the issue but no idea where / how to fix it.  AWX's raw log lines from the worker back to the GUI contain the step UIDs, counter numbers, etc.  Docker 1.13 and higher has a 16k log line limit and splits log lines after 16k and marks them as partial.

If you have a line that has a lot of output (EX: debug hostvars, for example), the log line gets

[2022-01-14 15:58] smullenrga commented on #11511
So, with that note, what I've been trying to get an answer for is ... what's responsible for reassembling the chunked 16k log lines from docker?  Whatever/wherever it is is broken.  For AWX lines, if a chunk ends with '"uuid": "<UID>"}}', that should signal the end of this log line and the next log line from docker should start the following ... line.

@shanemcd  - do you know if there is an AWX c

[2022-01-14 16:19] InnocentK commented on #11505
Resolved

[2022-01-14 16:19] #11505 closed, assigned to nixocio, InnocentK

[2022-01-14 17:55] smullenrga commented on #11511
Quick update as I'm having time to try looking at this today.  This is a quick running job and I was finally able to grab the output from our kubernetes stack for the spawned worker container.  I'm attaching it as well.  In this output, line 37 is also hosed.  I'm assuming that this is the same data that AWX would be receiving from Kubernetes.  In short, it seems as though   the kubernetes stack c

[2022-01-14 18:13] shanemcd commented on #11027
Hello. Based on the few number of folks seeing this, it seems likely that the problem is with your environment. If you need help troubleshooting or are looking for help using AWX, try our mailing list or IRC channel:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

If after further troubleshooting you still think this is a bug in AWX, please open a new iss

[2022-01-14 18:13] #11027 closed, assigned to nobody

[2022-01-14 18:16] shanemcd commented on #11080
Closing as a duplicate of #11284

[2022-01-14 18:16] #11080 closed, assigned to nobody

[2022-01-14 18:18] shanemcd commented on #11139
This makes me think that you are doing something wrong when using the API directly. If you need help troubleshooting or are looking for help using AWX, try our mailing list or IRC channel:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2022-01-14 18:18] #11139 closed, assigned to nobody

[2022-01-14 18:24] shanemcd commented on #11233
Closing this in favor of #11336, as that one has some more details and proposed solution.

[2022-01-14 18:24] #11233 closed, assigned to nobody

[2022-01-14 18:29] shanemcd commented on #11248
Hello,

I haven't seen widespread reports of this. This looks like an issue with your environment. If you need help troubleshooting or are looking for help using AWX, try our mailing list or IRC channel:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2022-01-14 18:29] #11248 closed, assigned to nobody

[2022-01-14 18:33] shanemcd commented on #11294
Closing due to lack of response. To me, this sounds like a problem with the plugin, which is not built-in to AWX. If you get around to doing what we asked for in the last comment and have reason to believe otherwise, please open a new issue.

[2022-01-14 18:33] #11294 closed, assigned to nobody

[2022-01-14 18:39] shanemcd commented on #11313
I think this is the correct link: https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md. If someone wants to open a PR that'd be cool.

[2022-01-14 18:43] shanemcd commented on #11319
The PR above got merged and even includes tests. Going to close this.

[2022-01-14 18:43] #11319 closed, assigned to nobody

[2022-01-14 18:44] shanemcd commented on #11320
After discussing this a bit, this isn't something we're going to do.

[2022-01-14 18:44] #11320 closed, assigned to nobody

[2022-01-14 19:00] shanemcd commented on #11340
Hello. After discussing with the team, this doesn't seem to fit the existing patterns used in the inventory plugin ecosystem. If you need help troubleshooting or are looking for help using AWX, try our mailing list or IRC channel:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2022-01-14 19:00] #11340 closed, assigned to nobody

[2022-01-14 19:06] fewbits commented on #515
Hello, guys.

I'm facing a very similar issue.

I'm using `AWX 19.5.0`, and I have followed the developer's guide (not recommended for production).

In my local notebook, I have one playbook that install all Python PIP packages required for using an Azure Collection. Then, in another playbook, I use the collection's modules without errors;

In AWS, the first playbook (the dependencies one) runs an

[2022-01-14 19:14] bschaeffer commented on #11511
FWIW, this does seem to be related to container runtime. In GKE, we recently upgraded to 1.20 which defaults to `containerd` at the same time we saw this error. When we rolled back to 1.19, it was also broken, but we realised it was still using `containerd://1.4.8`.

When we switched the runtime to `docker://19.3.15`, it actually fixed our problem.

So things are now in a working state, but it wil

[2022-01-14 19:18] ffirg commented on #515
This issue is closed. Please head on over to https://groups.google.com/g/awx-project and ask for help there as this is not a support forum. Thank you.

[2022-01-14 21:16] AlanCoding commented on #11323
I am increasingly convinced that https://github.com/ansible/ansible-runner/pull/957 is the right thing to do, and addresses several points here. So I'm marking this as in-progress.

[2022-01-14 21:18] AlanCoding commented on #11532
Health checks work by running the ansible-runner health check command, and hop nodes do not have that installed. In that comment, I meant to say that we would put errors on those nodes if they went missing from the mesh (more or less).

[2022-01-14 21:24] smullenrga commented on #11511
Thanks for that info, I just tried using Docker Desktop with Kubernetes and AWX 19.2.2 and the job runs fine - FML.  I'm guessing this is something in the Kubernetes stack and unfortunately I'm simply a user in our larger corporate UCP cluster and I don't have much freedom there.

[2022-01-15 10:12] rverhe commented on #11421
Anyone?

[2022-01-16 16:20] jamesregis commented on #7859
Also adding +1

[2022-01-17 11:13] Posti90 opened #11549 "Jobs stuck Pending. DB Connection Error."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-17 12:01] lyutian commented on #7174
More and more oauth2 applications come out...

[2022-01-17 13:24] CFSNM commented on #11523
The PR https://github.com/ansible/tower-qa/pull/7112 is ready to be merged to devel. Once the PR https://github.com/ansible/awx/pull/11539 is merged to devel, I will merge my PR too and will close the issue

[2022-01-17 15:28] moreiramarti opened #11572 "Jobs stuck in waiting state (can block other jobs forever)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a awx-pod (the one with web, task and redis containers) restarts, some jobs are stuck in waiting state.

##### ENVIRONMENT
* AWX version: 19.4.0
* Operator version: 0.14.0
* Kubernetes version: v1.19
* AWX install method: kubernetes

##### STEPS TO REPRODUCE

When a pod restart, the automation pods linked to it are stuck in waiting state and it's

[2022-01-17 17:38] abhishekyadav01 commented on #7779
I am having a similar issue with AWX operator deployed on k8s. The home page does not load after login and gives the below error

`2022-01-17 17:18:58,439 DEBUG    [c8972d5e6e7142dcbc003db8318ec4a1] awx.analytics.performance request: <WSGIRequest: GET '/api/v2/users/2/admin_of_organizations/'>, response_time: 0.087s
2022-01-17 17:18:58,439 WARNING  [c8972d5e6e7142dcbc003db8318ec4a1] django.request

[2022-01-17 20:05] AlanCoding commented on #11051
This looks the same as a large number of issues open right now, and I would like to start consolidating them soon. I would favor https://github.com/ansible/awx/issues/11518 as the primary issue.

[2022-01-17 21:54] jbradberry commented on #10189
The fix for this landed in 19.3.0, from PR #10633.  It looks to me like the underlying problem was introduced in 19.1.0.

[2022-01-17 21:58] jbradberry commented on #10472
The fix for this landed in 19.3.0, from PR #10633.

[2022-01-17 23:40] ShaunBoughey commented on #11421
Getting the same error. Be good to know why!

[2022-01-18 03:29] oliverf1 commented on #10366
Even if you can change the log size, increasing it over and over is not a solution. In my case I have a very large job running on many nodes that is generating about 600Mb of log, so to run it successfully it means my log size should be about 800Mb. So it means that every and each container running in this cluster can write up to 800Mb of log. This is not sustainable. So my solution was to run thi

[2022-01-18 11:12] icdatev commented on #7560
Same issue over here. Setting `action.resumeRetryCount=10` doesn't change anything. rsyslogd stops sending events/logs to splunk. Only a restart of rsyslogd helps. Any further workarounds?

[2022-01-18 13:14] pitman123 opened #11552 "Access to an external network from podman executed container and certyfication (docker-compose installation)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Installation method: docker-compose
AWX version: 19.5.0

After installing AWX and starting the template, executing the configuration on the external machine to which the `tools_awx_1 ` container was accessed, it turned out that it was not possible to connect to this machine via ssh. Podman `awx_ee ` container did not have access to this machine. The

[2022-01-18 13:20] ravindra-bhadti-cko opened #11553 "Caching not working as expecting"
https://github.com/ansible/awx/blob/7fdf491c059552eac65b33ca2d106540c3e5f8a6/awx/main/tasks.py#L2407

It appears here in the post-hook that despite turning on caching the collections are downloaded for each project sync and then moved to a build specific folder (specific by instance.cache_id). After running this on a Kubernetes cluster with EFS, this is not a good solution. As each project sync ta

[2022-01-18 13:29] JSGUYOT opened #11554 "syntax error on extra_setting in spec causes the AWX installation to loop on the migration"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-18 14:01] qiwangrh opened #11555 "Controller UI: the "Elapsed" time keeps unchanged when a job is running"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-18 14:20] bschaeffer commented on #11338
From #11511:

[2022-01-18 14:21] bschaeffer commented on #9961
From #11511:

[2022-01-18 14:34] nixocio commented on #11555
See: https://github.com/ansible/awx/issues/5646

[2022-01-18 14:48] kladiv commented on #9961
Hi,
interesting. Containerd is the default CRI in most Kubernetes distributions
so i hope this issue will be solved soon in AWX side 'cause it could affect
all users in the next future.
Thank you

Best,
Claudio

Il giorno mar 18 gen 2022 alle ore 15:21 Braden Schaeffer <
***@***.***> ha scritto:

--

Ciao,
Claudio

mail @ ***@***.***

[2022-01-18 15:11] AlanCoding opened #11557 "Improve event processing timings by eliminating `-partial.json` event data file writes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Re-do the pull request here:

https://github.com/ansible/ansible-runner/pull/269

Make all tests in ansible-runner pass, verify functionality with AWX, and hand over to be performance tested.

[2022-01-18 18:11] smullenrga commented on #11511
I think I've found the root cause of my issues.  As mentioned above, running in a vanilla docker desktop with kubernetes, the job runs fine.  On our UCP cluster it fails after 30 iterations (3item=30 is the last output line displayed in the GUI).

Our UCP cluster is configured to use the GELF logging driver.  Changing my docker desktop to use GELF, the job that had run fine breaks in the same spot

[2022-01-18 18:49] smullenrga commented on #9961
I think I've found my root cause - the GELF log driver in docker is not updated to handle the 16K log limit.  Our enterprise cluster that AWX is on is configured to use the GELF driver to send logs to ELK and fails as noted above.

AWX on Docker Desktop with default configs works fine, no failure.

As soon as I change Docker Desktop to the GELF driver, I get the same failure.

Looking at the docke

[2022-01-18 20:52] AlanCoding opened #11560 "AWX believes facts are modified even when gather_facts=false"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-18 21:00] AlanCoding commented on #11560
The proposed solution is that we fix: https://github.com/ansible/ansible-runner/issues/964, which @jbradberry went over in general terms.

In addition to this, I believe we should create some dummy files to help us keep track of time stamps. At both the start and finish of `start_job_fact_cache` we should touch a file in the artifacts directory. By doing this, we can compare the host facts files m

[2022-01-18 21:55] InnocentK commented on #11284
Should now be resolved

[2022-01-18 21:55] #11284 closed, assigned to nixocio, InnocentK

[2022-01-18 23:10] rhaddad7 commented on #11248
Shane,
Do you have any reports that this works for a cluster configured with huge
pages?
I would caution about canceling this without a confirmation.

Thanks,
..Rony

On Fri, Jan 14, 2022 at 12:29 PM Shane McDonald ***@***.***>
wrote:

--
..Rony

[2022-01-19 06:24] lyutian commented on #11422
According to the log, the notification began to send at `2021-12-06 18:32:13,897`:
[code]

But, the job finished at `2021-12-06 18:32:17,967`, which is more than 4 seconds(**the timeout is 4 sec, not 5, if you read the code**).
[code]

So , job completed notification sent failed.

---

For the reason why spent so much time, it's not only related to the host performance, but also the communication

[2022-01-19 07:15] apollo13 commented on #11422
@lyutian I agree that is related to more than just host-related. In my case it is the minimal docker setup with a single hybrid control node and no executors; so this is all in the same docker container -- no hops etc…

[2022-01-19 07:26] lyutian commented on #11422
@apollo13 Get into your awx container `docker exec -it tools_awx_1 bash`, modify the `/awx_devel/awx/main/tasks.py` by change the timeout from 5 to bigger, can temporarily resolve this issue.

[2022-01-19 07:27] apollo13 commented on #11422
Thanks, I know that I can do that as workaround; but as you say it is just a workaround.

[2022-01-19 07:54] huanghaiqing1 opened #11563 "make clean html reports an error about [Errno -2] Name or service not known"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-19 11:02] CFSNM commented on #1236
This issue has been validated manually on QE side. Once the PR https://github.com/ansible/awx/pull/11527 is merged, this issue can be closed

[2022-01-19 12:28] francoisv100 commented on #11426
Closing as this is related to pr #11083

[2022-01-19 12:28] #11426 closed, assigned to nobody

[2022-01-19 14:26] bjoydeep opened #11564 "Missing metrics that capture latency of jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In order to be monitoring AAP as an application running on *KS, we need to capture the Golden Signals as per SRE best practices. (https://sre.google/sre-book/monitoring-distributed-systems/)
Out of the metrics that Golden Signals recommend, we have Traffic (awx_status_total), Error (awx_status_total again), Saturation (awx_instance_remaining_capacity

[2022-01-19 14:30] icdatev commented on #7560
@ryanpetrello  Seems to be a problem because of the escaped postdata. If we unescape the postdata everything is fine. No 400 error. Btw.: This error comes out of Splunk.
Is it possible, that not every postdata is escaped? We could not figure this out because even with `$DebugLevel 2` the postdata is not being logged out.
We get this error (because of the escaped postdata) when we do some ldap sear

[2022-01-19 15:37] smullenrga opened #11565 "AWX is incompatible with several docker log drivers including Graylog (GELF) due to Docker 16k log line limit. Results in incorrect job failures in AWX GUI."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-19 15:43] CFSNM commented on #11523
Merged QE PR to devel. Closing

[2022-01-19 15:43] #11523 closed, assigned to nixocio, CFSNM

[2022-01-19 16:27] #1236 closed, assigned to CFSNM, john-westcott-iv

[2022-01-19 17:18] fosterseth commented on #11564
@bjoydeep thanks for opening this feature idea. By latency do you mean job `started` - job `created`?

[2022-01-19 18:40] shanemcd commented on #10787
Was just chatting with @tchellomello about how we are going to handle this for VM-based installs.

The first logical step was to try this:

<img width="422" alt="Screen Shot 2022-01-19 at 1 32 51 PM" src="https://user-images.githubusercontent.com/773186/150192581-db9a63df-7d12-43bf-ac53-176752f114bb.png">

Which generates a command that looks something like this:

[code]

If you try this, you will

[2022-01-19 21:48] john-westcott-iv opened #11567 "UI Text Display FullForm Width"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

On the UI display screens it would be nice if we can make a text field span the entire form so that longer text strings are not severely word wrapped. For example, on the logging edit screen in the `Log Format For API 4XX Errors ` field we can see:
![image](https://user-images.githubusercontent.com/32551173/150218854-5690803e-9dde-44d2-af6b-268ea940

[2022-01-20 14:15] zentavr commented on #11382
I have the same issue with AWX 19.5.0

[2022-01-20 14:36] rfarajro commented on #11382
Hi,

In my case the problem was that I was missing two fields for the SAML module to be activated. The documentation does not specify anything about it.

Missing fields:

SAML Service Provider Technical Contact
SAML Service Provider Support Contact

Remember, other necessary fields are certificate and private key.

 Issue closed.

 Regards.

[2022-01-20 14:36] #11382 closed, assigned to nobody

[2022-01-20 14:59] AlanCoding commented on #11557
I'm putting blocked label on, because I would like to hold off until we get a disposition on https://github.com/ansible/ansible-runner/pull/957

[2022-01-20 15:18] zentavr commented on #11382
@rfarajro Thank you very much for your experience! That helped!

[2022-01-20 15:29] shanemcd commented on #6957
This issue is no longer relevant since we introduced the awx-operator.

[2022-01-20 15:29] #6957 closed, assigned to nobody

[2022-01-20 15:31] shanemcd commented on #7846
Looks like this got added in https://github.com/ansible/awx/pull/9219

[2022-01-20 15:31] #7846 closed, assigned to nobody

[2022-01-20 16:58] AlanCoding commented on #5765
Is this still valid with Redis now?

[2022-01-20 18:07] kdelee commented on #11572
+1 I've experienced this too
But the fix would probably be in the reaper https://github.com/ansible/awx/blob/4f1c6626913f2a9794a5f94724bbeb1b90231db1/awx/main/dispatch/reaper.py#L32-L35

It looks to me that right now instances only reap jobs associated with themselves
We would need to make sure jobs who's instance is no longer present be reaped (or, possibly less safe, re-submitted)

[2022-01-20 18:18] kdelee commented on #11572
Closing this as a duplicate of https://github.com/ansible/awx/issues/11301
-- the bug is in awx, not the operator

[2022-01-20 18:18] #11572 closed, assigned to nobody

[2022-01-20 18:21] kdelee commented on #11301
This is an issue. Some fix needs to happen in https://github.com/ansible/awx/blob/f5c176701b0551e179bb4ef663b57fd3a6ba6f0a/awx/main/scheduler/task_manager.py#L558-L568 to treat orphaned container group jobs correctly
note https://github.com/ansible/awx/blob/f5c176701b0551e179bb4ef663b57fd3a6ba6f0a/awx/main/scheduler/task_manager.py#L566

[2022-01-20 18:45] AlanCoding commented on #11356
Now here's what I get from a hybrid job after the merge:

[code]

This satisfies the objectives I had and QE doesn't directly test any of this, so I'm going to close this myself.

[2022-01-20 18:45] #11356 closed, assigned to AlanCoding

[2022-01-20 19:06] kdelee commented on #10568
@nmaupu you might consider setting `RECEPTOR_RELEASE_WORK`=`False` to be able to (from the task container) query the receptor work status for the `work_unit_id` associated with the job to find out if the receptor work unit is failing what what the detail is for the failure.

On a lower level, you could also experiment in receptor itself with what you are trying to do
https://github.com/ansible/awx

[2022-01-20 20:50] AlanCoding opened #11574 "500 error from /api/v2/inventories/N/update_inventory_sources/"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-20 20:56] AlanCoding opened #11575 "Server error doing a GET to /api/v2/instances/N/"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-21 01:15] jessechoward commented on #6030
I don't think ansible-vault is the correct encryption for on-the-fly encryption like this. ansible-vault is meant for storing secrets/sensitive vars/files at rest in a repo, not in-flight vars. That's what asymmetric encryption/keys are for.

In theory for something like this your user (or small app wrapper in front of the AWX API) would use a public key to encrypt the value of known vars into a b

[2022-01-21 08:40] MalfuncEddie commented on #11338
I agree this is a contanerd/k8s issue. But it also best practice to "limit' logs from filling up filesystems.

But relying on the logging systems of k8s does not seem reliable.

Are te following options valid?
Move to openshift?
Is it possible to move the execution nodes to podman (and does podman have this issue?)

[2022-01-21 09:59] icdatev commented on #7560
Is it possible to modify the rsyslog-template (`template(name="awx" type="string" string="%rawmsg-after-pri%")`), so the double escape disappears again before the event gets send to splunk?

Splunk won't accept an escaped event!!!\
It is no problem if just the message is escaped. But it is a problem when the whole postdata is escaped!

[2022-01-21 11:17] rwjack opened #11578 "Failed to add conmon to cgroupfs sandbox cgroup"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2022-01-21 12:41] icdatev commented on #7560
Here are some news. We have found out, that the problem with Splunk is because of the (unknown? or user defined character) unicode charcters that start with `\udc`.

When we send i.e. just one `\udc00`  we geht `{"text":"Invalid data format","code":6,"invalid-event-number":0}` from Splunk.

[2022-01-21 13:21] rwjack commented on #11578
Rebuilt for the 3rd time and it seems to be working now, pretty strange.

[2022-01-21 13:54] vibinm commented on #10211
From my experience, there are couple of scenarios in which the problem occurs only with awx-web UI.

OPERATOR_VERSION: 0.10.0
AWX_IMAGE: 19.2.0
AWX-EE_IMAGE: 0.3.0
External Database
K8s version: v1.20.2, calico

In any case, all the long running jobs get completed which can be confirmed from the awx-task logs. And, the error is also same for all of them. The weird part is the logs expose the ssh_p

[2022-01-21 15:15] shanemcd commented on #10114
I believe this has now been addressed.

[2022-01-21 15:15] #10114 closed, assigned to Zokormazo

[2022-01-21 15:22] AlanCoding commented on #10941
This probably overlaps with https://github.com/ansible/awx/issues/6199

[2022-01-21 15:37] shanemcd commented on #11051
Closing in favor of https://github.com/ansible/awx/issues/11518

[2022-01-21 15:37] #11051 closed, assigned to nobody

[2022-01-21 15:38] #11112 closed, assigned to sarabrajsingh

[2022-01-21 15:39] #11114 closed, assigned to AlanCoding, beeankha

[2022-01-21 17:11] akus062381 commented on #11574
@kialam @AlexSCorey could this be related to the bug both of you saw?

[2022-01-21 17:21] tiagodread opened #11582 "TypeError: Cannot read properties of null (reading 'contains')"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Trying

[2022-01-21 17:23] akus062381 opened #11583 "Project sync failure dashboard reporting- search params need to be updated"
When a project sync ends in failure, it sometimes show on the dashboard in the Project Sync Failure count. But when the user clicks the count and is redirected to the search results, no results are shown.
This is because the search params are set to Failed and Canceled. But technically, a project sync that ends in Error should be included as a param here to give the user the most accurate informat

[2022-01-21 17:23] akus062381 opened #11584 "Project Sync Error Due to Missing Resource"
I built a new ec2 instance against AWX devel. the initial project sync ended in Error status due to missing resource:
![image](https://user-images.githubusercontent.com/63685497/150571400-c23bef8b-357d-4cbf-851d-56f1ffc555c4.png)
![image](https://user-images.githubusercontent.com/63685497/150571421-8181d0d4-73a1-42f7-82b7-323868cc7891.png)

Subsequent project sync attempts were successful.

Linked

[2022-01-21 18:02] kialam commented on #11575
This is also happening if you are signed in as a system auditor.

[2022-01-21 18:04] kialam commented on #11574
No, however this is the actual bug: https://github.com/ansible/awx/issues/11575

[2022-01-21 18:05] eselvam opened #11585 "the python NetApp-Lib module is required when using netapp collections ontap"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

when ex

[2022-01-21 18:13] shanemcd commented on #7538
I dont think this is relevant anymore now that the operator exists. If you are still having issues with backup and restore, please open an issue on the awx-operator repo.

[2022-01-21 18:13] #7538 closed, assigned to nobody

[2022-01-21 18:17] shanemcd commented on #8584
It looks like this was resolved along with https://github.com/ansible/awx/issues/7400. If you are still seeing this, please open a new issue.

[2022-01-21 18:17] #8584 closed, assigned to nobody

[2022-01-21 18:31] jbradberry commented on #11575
This is 1) my fault I think, and 2) highly relevant for the final bits of the mesh visualizer work.  :frowning_face:

[2022-01-21 18:40] Throckmortra opened #11586 "AWX CLI installation instructions don't work as described"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

followi

[2022-01-21 19:07] Throckmortra commented on #11586
this command works `pip install "git+https://github.com/ansible/awx@19.5.0#egg=awxkit&subdirectory=awxkit"`

[2022-01-21 19:58] kialam opened #11588 "Add top-level Instances List Page"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Similar to how we interpret Hosts and Inventories, we have top level list pages for both views as well as tabbed list views to represent their relationship. We would like to apply this to the Instances Groups and Instances page.

☐ Create top-level instances list page (between Instance Groups and Applications)
  ☐ Add search bar, health check button

[2022-01-21 20:32] keithjgrant commented on #8674
mockup for a page with a similar alert here: https://tower-mockups.testing.ansible.com/patternfly/exec-env/exec-env-detail-test/

[2022-01-22 03:42] tchellomello commented on #10787
Closing since #11566 has merged

[2022-01-22 10:37] ffirg commented on #11585
Closing as posted to the mailing list as this is a bug

[2022-01-22 10:37] #11585 closed, assigned to nobody

[2022-01-23 09:08] azdio-support commented on #11422
@lyutian I am using AWX Operator 19.5 and have the same issue. Do you know how to edit tasks.py inside the container? The file is read-only for awx user and I don't know the password.

[2022-01-23 16:39] Bart97 opened #11593 "Docker install instructions do not mention how to add awx-logos"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I've no

[2022-01-23 21:29] evoncken commented on #6727
The same issue still exists on AWX 19.5.0
Installed via AWX Operator, K3s on AlmaLinux 8.5
[code]
vCenter inventory plugin returns hostnames in the form "awx_42208b61-bfe2-c3a8-ca82-2ae2218402b0". In vmware_inventory.py around line 230, the alias_pattern seems to be with UUID:
[code]

Perhaps I'm misunderstanding - but this default does not make a lot of sense to me?

[2022-01-24 03:28] lyutian commented on #11422
@azdio-support If you use k8s operator to deploy the awx in production mode, only `awx` user you have in the awx container(check `/etc/passwd`, you will find). The operator production deploy is not changeable, you need to use a devel image, please refer: https://github.com/ansible/awx/blob/devel/docs/development/minikube.md#custom-awx-development-image-for-kubernetes

[2022-01-24 06:18] FedorRub opened #11594 "Playbooks running longer than 4 hours are terminated unexpectedly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Playboo

[2022-01-24 06:42] azdio-support commented on #11422
@lyutian Thanks for the information, I was missed that.
I believe that this will be fixed in some of the next releases, so I can wait for it.

[2022-01-24 11:24] DnaMes commented on #2817
+1

[2022-01-24 11:25] DnaMes commented on #9232
+1

[2022-01-24 13:43] maveleo commented on #9733
@shenxg13  do you have a workaround ?

[2022-01-24 14:47] riadhhamdi opened #11595 "Get documentation for AWX KIT"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Write a small quick start guide for AWX KIT: https://github.com/ansible/awx/blob/devel/awxkit/README.md

[2022-01-24 14:51] nixocio commented on #11584
I also started an ec2 instance using awx/devel and got the same error. This is not an UI issue. Same behavior as above.

![image](https://user-images.githubusercontent.com/9053044/150804396-7b62624a-4998-4259-bed0-7a11d406e4ab.png)

EE presents on the system

![image](https://user-images.githubusercontent.com/9053044/150805556-35d7406c-cff2-4e42-8c17-297d069403ba.png)

[2022-01-24 15:34] tchellomello commented on #11584
@shanemcd wasn't this error that we were getting during the `awx-operator` testing our the last PR?

[2022-01-24 15:39] shanemcd commented on #10787
I think what we did in https://github.com/ansible/awx/pull/11566 was great, but this issue is specifically for automatically mounting the system trust (on VMs), which we still need to do.

[2022-01-24 15:42] tchellomello commented on #10787
I'm going to draft a solution for that

[2022-01-24 15:52] nixocio opened #11596 "Replace dagre"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Replace dagre. It was deprecated.

See: https://github.com/dagrejs/dagre

[2022-01-24 15:57] kialam commented on #11596
![Alt Text](https://media.giphy.com/media/6gLyE15StAs3C/giphy.gif)

[2022-01-24 17:03] AlexSCorey opened #11597 "Label Select takes longer than expected to load"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

See htt

[2022-01-24 19:07] InnocentK commented on #10496
Feature successfully added and issue resolved in (https://github.com/ansible/awx/pull/11561#pullrequestreview-861394586).

[2022-01-24 19:07] #10496 closed, assigned to keithjgrant, InnocentK

[2022-01-24 19:09] bjoydeep commented on #11564
@fosterseth I think this is for you guys to decide what is important, the goal being that this should give an hint to the SRE if everything is ok.
In spirit, in that google doc, it is how many requests come in, how many error out and how quickly do requests respond. In Ansible case, probably it is started-created like you said. Because the job itself depends on what is in it - and it could take se

[2022-01-24 20:12] #1741 closed, assigned to nobody

[2022-01-24 20:30] bcoca commented on #10776
`deprecated` is supposed to be a dictionary, not a list of dictionaries

https://github.com/ansible/awx/blob/devel/awx_collection/plugins/doc_fragments/auth_plugin.py#L22

[2022-01-24 20:31] felixfontein commented on #10776
Also `ansible-test sanity` won't help since validate-modules still does not check plugins (see https://github.com/ansible/ansible/pull/71734).

[2022-01-24 21:00] tchellomello opened #11600 "Allow isolated path to be exposed in ocp/k8s as HostPath"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This issue is complimentary of the PR https://github.com/ansible/awx/pull/11566 which allows to user to specify which mount point the isolated path will be mounted.

Currently, there is no such mechanism to expose this path list into k8s/ocp.

[2022-01-24 21:02] felixfontein commented on #10855
The errors are caused by the same docs fragment, and should also be fixed by #11599 + what I mentioned there in the comments.

[2022-01-24 21:14] tchellomello commented on #11600
Started some work on this branch https://github.com/ansible/awx/tree/expose_isolate_path_k8s

Assuming this configuration:

![image](https://user-images.githubusercontent.com/809840/150865522-ca400703-c4a0-416c-8599-0c5756eee260.png)
![image](https://user-images.githubusercontent.com/809840/150865577-ceacd758-6072-4d5d-8ce4-44b7cf7edc73.png)

Then once the playbook runs, we should see a POD spec l

[2022-01-25 01:36] AlanCoding commented on #11323
https://github.com/ansible/automation-platform-collection/pull/333 for a problem I didn't know we had.

Once I get through this muck I intent to look into mounting `/awx_devel` on the execution nodes in the dev environment, which was the original thought of the issue.

[2022-01-25 02:29] tchellomello commented on #11584
@akus062381 @nixocio this issue should be fixed in devel now. Please let know if that still occurs for you guys.

[2022-01-25 02:29] #11584 closed, assigned to tchellomello

[2022-01-25 05:20] aussielunix commented on #11594
@FedorRub Have you seen https://github.com/ansible/awx/issues/11451 ?
and this mail thread https://groups.google.com/g/awx-project/c/qFK-RyLB2Ws ?

https://github.com/ansible/awx/issues/10366#issuecomment-944060894 worked for us as a workaround.

[2022-01-25 07:55] e1ectr0cut1e opened #11603 "LDAP Client Certificate Support"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

It would be nice to support TLS Client Certificates for LDAP authentication mechanism. Google LDAP requires client certificates making it impossible to use AWX with Google LDAP directly.

[2022-01-25 10:55] CFSNM commented on #11574
Validated manually from QE side. Closing the issue

[2022-01-25 10:55] #11574 closed, assigned to CFSNM, john-westcott-iv

[2022-01-25 10:57] CFSNM commented on #10392
Validated manually from QE side. The endpoind /api/v2/adhoc_command_events cannot be found

[2022-01-25 10:57] #10392 closed, assigned to CFSNM

[2022-01-25 11:28] FedorRub commented on #11594
Hi @aussielunix thanks for the comment. As suggested in the threads, I have already increased kubelet log max size, however, it does not appear to have an effect in my case. For the test job the log file is about 165K and is not rotated.

From what I have read my issue is similar to a possible issue with idle_timeout for ansible runner https://github.com/ansible/awx-ee/issues/80

[2022-01-25 12:45] eschek87 commented on #4307
This is a feature that we need, too!

[2022-01-25 14:26] Sergiodcm00 opened #11604 "Can't make a path available in job isolation"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I have

[2022-01-25 15:32] nunziolariviera opened #11605 "preserve_existing_hosts flag in awx.awx.group module, while adding a new host to inventory group, retains only 25 existing hosts"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I have

[2022-01-25 16:16] matburt commented on #5765
Yep I think this is probably still a valid concern. I still maintain we could do some basic memoization and probably mitigate it.

[2022-01-25 16:50] kialam opened #11607 "Filter out hop nodes from associate modal"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

related #11591
Hop nodes now show up in the associate modal within instance groups -> associate button. We should filter them out since they cannot be associated to any instance group.

[2022-01-25 17:29] AlanCoding commented on #11323
Last part of this: https://github.com/ansible/awx/pull/11608

[2022-01-25 17:43] akus062381 commented on #7678
resolved

[2022-01-25 17:43] #7678 closed, assigned to marshmalien

[2022-01-25 18:01] jbradberry commented on #11575
The PR, #11591, has merged.

[2022-01-25 19:04] AlanCoding commented on #11607
"control" nodes also can't be associated with instance groups (they may already be filtered), so both types should be filtered out after this.

[2022-01-25 19:33] kialam commented on #11607
@AlanCoding that was already been [done](https://github.com/ansible/awx/commit/cde0df937f703d85ae5e92540f92f36bf6f5a189) as part of the last release.

[2022-01-25 20:54] akus062381 opened #11610 "Smart Host Filter UX is potentially confusing"
When a user clicks Add Smart Inventory from the Inventories List, and they see the following:
![image](https://user-images.githubusercontent.com/63685497/151057002-f9cd009d-9fa6-438f-afd1-25bcb9abc3e3.png)

This user experience is not easy to follow, due to these reasons:

1) The user is not informed that they need to select an organization in order to define a smart host filter

2) Having an inpu

[2022-01-25 21:14] akus062381 opened #11611 "TypeError when running a command on a host in a smart inventory"
When a user accesses the hosts tab of a smart inventory, selects the host, and clicks Run Command, a type error occurs:

![image](https://user-images.githubusercontent.com/63685497/151060638-1badb545-ad13-456d-93b2-f888abde28ba.png)

![image](https://user-images.githubusercontent.com/63685497/151060666-9825f1f3-979c-468f-93c0-3133bd1dc978.png)

To be considered- does it make sense to have the Run

[2022-01-25 21:32] vrubiolo commented on #11531
I live in France and would also be interested in such a feature (we use the 24h date format)

[2022-01-25 21:40] vrubiolo commented on #3566
@urbinaalex17 : check https://github.com/ansible/awx-operator#exporting-environment-variables-to-containers for how to inject vars into the associated containers

[2022-01-25 22:06] shanemcd commented on #8460
When someone picks this up, we just need to review and merge the PR above, and let QE decide if they want to add tests.

[2022-01-25 22:13] shanemcd commented on #10238
There is a PR for this, but not sure it's the best solution. Instead of doing this as a one-off background task, it would be best to have a reaper like @kdelee mentioned.

[2022-01-26 09:11] Andersson007 opened #11612 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-26 13:54] shanemcd commented on #6175
Since this is not a bug we ourselves can fix, I am going to close this in favor of https://github.com/ansible/awx/issues/11379

[2022-01-26 13:54] #6175 closed, assigned to nobody

[2022-01-26 14:06] shanemcd commented on #11612
I have forwarded this along to our collection maintainers.

[2022-01-26 14:06] #11612 closed, assigned to nobody

[2022-01-26 14:57] Jimbo4794 opened #11613 "Unable to use SSH keys as machine credentials - Job hangs with very little output"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hi

I h

[2022-01-26 15:10] AlexSCorey commented on #11611
We want people to be able to run ad hoc commands on individual hosts, or group of hosts (inventories) so I do think it makes sense to have that functionality here.

[2022-01-26 15:10] AlexSCorey commented on #11611
@akus062381 can you provide details about the configuration of the job you ran to get this error?

[2022-01-26 15:25] BakaKiller commented on #11421
Same error here after installing an EE and trying to run a project on it...

[2022-01-26 15:30] AlexSCorey commented on #11610
@trahman73 can you chime in here?  I agree that this UX could be improved and if we need to add help text to do that I'm all for it, but I also thing some reconfiguring/redesigning might help too.

[2022-01-26 15:47] morla10111 commented on #8953
:(

[2022-01-26 15:49] AlexSCorey commented on #11467
PF has decided the deprecate the BETA component I've used in this [PR](https://github.com/ansible/awx/pull/11402/files) so we may want to revert it, which I think will resolve this issue.

[2022-01-26 15:51] AlexSCorey commented on #11588
related https://github.com/ansible/awx/issues/11425

[2022-01-26 15:56] AlexSCorey commented on #11567
@john-westcott-iv we can do that. Can you help us identify the fields that are likely to have long entires an need the full width?

[2022-01-26 16:01] shanemcd commented on #11507
PR has been merged. Nothing for QE to test here until the downstream packages have been updated to use python3.9 as well.

[2022-01-26 16:01] #11507 closed, assigned to shanemcd

[2022-01-26 16:08] john-westcott-iv commented on #11567
@AlexSCorey I had specifically requested this for the `Log Format For API 4XX Errors` in the screen shot above but I could also see this potentially used on the auth screens as some of the URLs can be lengthy. i.e. maybe make the LDAP/SAML server URL the first standalone line so its easy to see on the display screen which server that connection is talking to. Maybe source control url of a project.

[2022-01-26 17:08] travis-sobeck commented on #7362
Its time to move on to OAuth and Azure AD ... this absolutely needs to be able to map Azure AD groups to Orgs/Teams in AWX.  Its a basic component of SSO

[2022-01-26 18:01] trahman73 commented on #11610
Adding @tiyiprh to the convo...

1) We can potentially disable the smart host filter area until an org is selected. We can include a tooltip or add to the (?) popover explaining that an org must be first selected.

2) The input field for the Smart host filter can be disabled with placeholder text asking the user to click the lookup icon to initiate the filter.

![image](https://user-images.githubu

[2022-01-26 18:48] AlanCoding commented on #11526
I suggest that we need to take care of https://github.com/ansible/awx/issues/10694 first.

[2022-01-26 19:39] akus062381 opened #11615 "Adding Credential to JT- Categories/Types aren't matching up"
In the list of credential types, when you create a credential, you see:
https://user-images.githubusercontent.com/63685497/151233608-02d1f407-443c-44a3-aa3e-568d9c6f3599.mp4

In the Job Template form, when you click the Credential spyglass, the category types only show:
![image](https://user-images.githubusercontent.com/63685497/151234235-cc240468-1008-4d8f-96ff-4a4e96f327b7.png)

Why does the use

[2022-01-26 21:10] #10776 closed, assigned to Zokormazo

[2022-01-26 21:47] akus062381 commented on #11611
@AlexSCorey  sure!

Steps to follow:

1. Access Inventories list. Click Add Smart Inventory and fill in the required fields. When you get to the Smart Host Filter field, type localhost in the search box and click the spyglass. Then click select.
2. Save the inventory you just created
3. Click the host tab of the inventory
4. select localhost and click Run Command
5. See the error

[2022-01-26 22:30] kdelee commented on #11564
@bjoydeep some metrics that that are already available on /api/v2/metrics  (that @fosterseth worked on addeding afaik) are metrics regarding the redis queue on each control plane pod and the callback receiver stats.

The redis queue is where events from jobs are stored in memory until they get processed by the callback receiver and written to the database. A redis queue that grows faster than the

[2022-01-27 09:09] CFSNM commented on #11575
Hop nodes are accesible from the "/api/v2/instances/ endpoint, but they are not part of the "default" group. Is that correct or they should be part of it?

[2022-01-27 13:52] tiagodread opened #11622 "Hop nodes instances can be modified"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

After m

[2022-01-27 14:04] LeDOC666 commented on #1179
+1 for that feature.
currently I have to manually set host for limit.
A list of selection with all host from Inventory (like already exists in Inventory selection) would be easier for single runs !

[2022-01-27 15:17] kzinas-adv opened #11623 "Variable stays in awx inventory even it is deleted in git repo."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Using s

[2022-01-27 15:27] AlanCoding commented on #11560
The ansible-runner PR is merged, unblocking this.

I feel very opinionated about the solution, and this is influenced by some discoveries I made doing the ansible-runner patch. The timestamps are only accurate to within 2 seconds. Yes, it has 2 seconds rounding, due to some standard from decades ago. For short jobs, we can't count on time deltas registering. Because of that, my proposed solution i

[2022-01-27 15:40] AlanCoding commented on #11575
^ That is correct.

 - hybrid and execution nodes can run jobs, inventory updates, and ad hoc commands (user content)
   - instances are valid candidates for `default` IG and all user-created IGs
 - control and hybrid nodes can run project updates and system jobs
   - all of these instances (and no other instances) should be in the `controlplane` IG

So hop nodes should never be in any instance gr

[2022-01-27 15:54] jbradberry commented on #11560
@AlanCoding I don't know about this, any solution starting with the word 'backdate' seems iffy to me.

[2022-01-27 16:29] AlanCoding commented on #11560
@jbradberry facts are written when the gather facts task completes. It is probable that this sometimes occurs less than 2 seconds after the fact_cache is pre-populated by the control machine (particularly for hybrid nodes).

This explained the weird 2 second thing to me:

https://stackoverflow.com/questions/64048499/zipfile-lib-weird-behaviour-with-seconds-in-modified-time

Importantly, we don't h

[2022-01-27 17:20] kzinas-adv commented on #11623
Same issue and with awx 17.1

[2022-01-27 18:40] akus062381 opened #11624 "Missing Resource bug- affected resources- problem"
Normal UI behavior:
When a resource attached to a JT is deleted, the user will see a little warning icon on the screen, like so:
![image](https://user-images.githubusercontent.com/63685497/151422184-2bdffd21-56e0-4b03-86e1-bca31bb5aeea.png)

When a user deletes the organization attached to a project, the project list does not alert the user to the absence of that organization in the same way. Inst

[2022-01-27 18:47] akus062381 opened #11625 "Organization deletion- user behavior- not working properly?"
Fact #1: A user MUST be associated with an organization in order to be created. That organization name will appear both on the user's organization tab, as well as the user's role tab.
Musing: Why is that user not deleted when the organization is deleted?

Fact #2: A user can have role permissions assigned to them within a new organization, and that user's name and role will appear on the Role tab

[2022-01-27 18:51] nixocio commented on #11624
@akus062381, can you, please, list the steps to recreate the bug?

[2022-01-27 18:54] akus062381 opened #11626 "Team Org Admin role- can't be added- should be disabled"
1. Signed in as admin.
2. Add a team.
3. Add self (user) to team as an admin.
4. Click on the Roles tab, click Add.
5. Select Organizations.
6. Select Admin and Save.
7. You will see an error. Other roles can be assigned here, but not admin.
Conclusion: The admin option should be disabled so that a user can't click on it here, because it won't work for any of the organizations available.

![image]

[2022-01-27 18:57] nixocio commented on #11625
@akus062381, the UI reflects the RBAC and resources relationship from the API.  If you can do certain actions using the API and the same action can not be done using the UI - that may indicated an UI issue.  Reading what you reported it seems like a design choice by the API for item 1.

Also, if you can list the steps required to recreate what you are describing that would be very helpful.

[2022-01-27 18:59] akus062381 commented on #11624
@nixocio sure!

1. Create an organization. Create a project with that org associated.
2. Delete the org.
3. Navigate to the project list screen and take note of the line item for that particular project. There is no little red triangle. But when the user expands the hidden line item, they are shown "deleted" next to the org name. I am thinking the little red triangle icon used in the JT list for t

[2022-01-27 19:54] jbradberry commented on #11622
I should point out that editing values on control-only nodes also probably doesn't make sense for a number of fields.

[2022-01-27 22:18] keithjgrant opened #11628 "Job Output ignores source control update events over websockets"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

The Job Output component handles job events from the websocket connection by looking for a group_name of 'job_events', but source control update jobs have events with group_name of 'project_update_events'. These events need to be added to the job output. We should also confirm other job types don't have events that get miss

[2022-01-27 22:45] keithjgrant opened #11629 "[Research] Job Output performance"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
The job output page feels sluggish and could use some performance attention. The virtual scrolling in job output feels sluggish when a job is running, and fetching events while the user scrolls also could probably also be improved.

[2022-01-27 22:48] tvo318 opened #11630 "Tooltip points to old documentation"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

In the

[2022-01-28 03:58] spisakni opened #11631 "Polkit Privilege Escalation - (CVE-2021-4034) - Is AWX vulnerable"
For all security related bugs, email security@ansible.com instead of using this issue tracker and you will receive a prompt response.

For more information on the Ansible community's practices regarding responsible disclosure, see https://www.ansible.com/security

Posting this here and will email... Is AWX vulnerable to Polkit Privilege Escalation - (CVE-2021-4034)

[2022-01-28 10:46] kenichimilo commented on #10838
Hi @shanemcd,
I believe this bug has been present  since moving up from 18.0, any deployment using an external db that is not in the public schema will have this issue.
All the other jobs are perfectly handled i suppose could we get the hardcoded schema adapted and a new build released..
Just upgraded to 19.5.1 and it is still there..
Thanks

[2022-01-28 13:49] tiagodread commented on #11467
@AlexSCorey make sure all feedback Kersom reported in the original PR is working properly in the revert PR.

[2022-01-28 15:31] kurokobo opened #11633 "Double-clicking the "Launch" button creates two Jobs."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

If the

[2022-01-28 15:57] kurokobo opened #11634 "Can't input the name starts with "default" in "Create new container group" screen"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

In the

[2022-01-28 16:52] AlexSCorey commented on #10610
@shanemcd @jakemcdermott @AlanCoding @jbradberry @rebeccahhh
The current PR for this issue takes the approach of allowing the user to set the approval permissions on each node of the workflow.  This has some merit and allows granularity but I do think we should also consider whether we want to take a different approach and allow the user to set this permission at the Organization level or at the s

[2022-01-28 18:00] akus062381 commented on #11625
@nixocio to further expand:

I see in the API that a user can be created and an organization is not required in order to do so, unlike in the UI. I am curious why the UI makes it mandatory to have a user associated with an org when the user is created, if the API doesn't?
Noteworthy: The API allows user creation 2 ways: one is through users, and also through organizations.

For the second issue- s

[2022-01-28 18:45] packe1bb opened #11635 "New playbooks not available in job template dropdown after project sync"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

First o

[2022-01-28 18:46] AlexSCorey commented on #11629
We should definitely look for ways to improve this in the UI, but there might also be ways to improve this in the API so that requests are quicker.  I wonder if there is data in the response that we don't need in the UI?

[2022-01-28 18:48] AlexSCorey commented on #11626
My hunch here is that the options on this screen are coming from an OPTIONS request to the API.

[2022-01-28 18:51] akus062381 opened #11636 "Survey enable/disable toggle is haunted"
Survey enable/disable toggle has a mind of its own. See gif
![vokoscreenNG-2022-01-28_13-46-01](https://user-images.githubusercontent.com/63685497/151604426-d69ae24b-4273-495e-bf24-88d4b781965c.gif)
.

[2022-01-28 18:56] AlexSCorey commented on #11615
There are only certain types of credentials that can be assigned to a JT.  Here are the docs, though I'm not sure these are 100% accurate because I don't know that we support Rackspace credentials any more.

[2022-01-28 19:08] jbradberry commented on #11622
@shanemcd @AlanCoding We've shoehorned control-only nodes and now hop nodes into this model, and are fully exposing these types that cannot run user jobs to the instance api endpoints.  Perhaps it's time to have a discussion about what it means for users to modify values on them and how we want these endpoints to actually work.

[2022-01-28 19:47] keithjgrant opened #11637 "Job output sometimes misses last line of output"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
When a job finishes with the job output page pulled up, the page hits the API to refresh job output data. There is a race condition where this sometimes comes back with the last event missing and/or the final count of events off by one, resulting in the final event (the job summary) not displaying.

Expected result: a

[2022-01-28 22:31] kdelee commented on #9211
@sbenita fwiw, I'm working on this now.
Other issue:
https://github.com/ansible/awx/issues/10694
PR: https://github.com/ansible/awx/pull/11620

I'm going to close this as a duplicate of https://github.com/ansible/awx/issues/10694, please put any updates over there or on the PR.

Also, happy to hear any other observations you have. I'm working a number of issues around container group jobs and the

[2022-01-28 22:31] #9211 closed, assigned to nobody

[2022-01-28 23:10] kdelee opened #11640 "control pods in k8s think they have capacity of whole k8s node"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Control

[2022-01-29 13:22] rwjack commented on #11578
After not using AWX for a week and coming back to it, this keeps happenning, very strange issue. Absolutely no clue how to debug this.

[2022-01-30 23:15] armagankaratosun commented on #11056
same for AWX version 19.5.1

[2022-01-30 23:38] sugitk commented on #7912
My customer also raised the similar request to this RFE.

Now we can specify a configuration in Settings > Jobs > Extra Environment Variables as HTTPS_PROXY and etc., but it is globally enabled to all jobs.  Furthermore, if the proxy needs a credential, we need to specify the username and password as a plaintext in the HTTPS_PROXY url string.

Here is a summary of my request:

- create a new crede

[2022-01-31 01:12] sugitk opened #11644 "Add support for limiting prompt on launch values"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Like a survey on a job template, I request that `prompt on launch` option can be specified a condition in order not to select unintentional inventory.

A customer requested on both of WFJT and JT.

[2022-01-31 01:35] sugitk opened #11645 "RFE: refer to job information in a playbook"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I would like to refer to the variables from the playbook that is launched by a JT or a WFJT.  For example when a controller launch a JT, it will issue a new job ID and we can access the information at /api/v2/jobs/<JOB_ID>/ that includes below JSON.

[code]

A customer requests that they want to refer to these information from their playbook as `"su

[2022-01-31 10:26] CFSNM commented on #11575
Merged PR from QE side with new automated tests that validate this issue. Closing

[2022-01-31 10:26] #11575 closed, assigned to jbradberry, CFSNM

[2022-01-31 11:09] MrBones757 opened #11647 "Upgrade AWX 19.2.2 -> 19.5.1 - UI Job Output Causing Postgres DB to hit 100% CPU - AWX Becomes Unresponsive"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Followi

[2022-01-31 11:11] MrBones757 commented on #11647
Possibly related but this seems like a more extreme issue as it actively breaks the usage of the product:
https://github.com/ansible/awx/issues/11629

[2022-01-31 11:57] Jonathan-Caruana opened #11648 "Invalid syntax"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When a

[2022-01-31 15:30] AlanCoding commented on #11622
I agree with the expectation here. Just give a 400 code and say in the message that editing capacity fields for hop nodes doesn't make any sense.

I don't agree with this. We are not counting control_node selection against instance capacity, but this is currently a very high priority item that we have allocated resources for, and there are no major technical implementation questions about it.

[2022-01-31 15:42] shanemcd commented on #10366
Closing this in favor of https://github.com/ansible/awx/issues/11338

[2022-01-31 15:42] #10366 closed, assigned to nobody

[2022-01-31 15:49] brsanche opened #11650 "Ansible Tower Survey enhancements"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is an issue to request a change to the Ansible Survey options. It would be much more user friendly to have the option to create user friendly variables and then have that translated to variable in the background. E.g. days of the week. I want the number of the day to be presented to my playbook but my user to see the day of the week as a word in

[2022-01-31 15:57] shanemcd commented on #11383
Closing due to lack of response.

[2022-01-31 15:57] #11383 closed, assigned to nobody

[2022-01-31 15:59] shanemcd commented on #11388
Correct, see the doc linked above.

[2022-01-31 15:59] #11388 closed, assigned to nobody

[2022-01-31 16:01] shanemcd commented on #11390
We either need to start pinning to a specific version of awx-ee, or modify the pull policy to always pull.

[2022-01-31 16:19] shanemcd commented on #11404
This was addressed in https://github.com/ansible/awx/pull/11332/files

[2022-01-31 16:19] #11404 closed, assigned to nobody

[2022-01-31 16:21] shanemcd commented on #11405
@nixocio Did you ever find the related issue?

[2022-01-31 16:31] shanemcd commented on #11479
Closing in favor of https://github.com/ansible/awx/issues/11419

[2022-01-31 16:31] #11479 closed, assigned to nobody

[2022-01-31 16:33] shanemcd commented on #11421
Very likely the same underlying problem as https://github.com/ansible/awx/issues/11390

[2022-01-31 16:33] shanemcd commented on #11421
Even though the symptoms are different, I'm going to close this in favor of the other issue.

[2022-01-31 16:33] #11421 closed, assigned to nobody

[2022-01-31 16:45] shanemcd commented on #11637
Closing in favor of https://github.com/ansible/awx/issues/11424

[2022-01-31 16:45] #11637 closed, assigned to keithjgrant

[2022-01-31 16:53] #11438 closed, assigned to nobody

[2022-01-31 16:57] shanemcd commented on #11445
I see you are using AWX 17.1. We do not have the resources to support older versions. If you are seeing this on the latest version, please open a new issue.

[2022-01-31 16:57] #11445 closed, assigned to nobody

[2022-01-31 16:59] shanemcd commented on #11594
You can now configure the idle timeout via the settings page: https://github.com/ansible/awx/pull/10906

[2022-01-31 16:59] #11594 closed, assigned to nobody

[2022-01-31 17:02] shanemcd commented on #11455
We do not have the resources to support older versions of AWX. If you see this on a current release, please open a new issue.

[2022-01-31 17:02] #11455 closed, assigned to nobody

[2022-01-31 17:07] shanemcd commented on #9961
Going to close in favor of https://github.com/ansible/awx/issues/11338 since it pinpoints the underlying issue.

[2022-01-31 17:07] #9961 closed, assigned to nobody

[2022-01-31 17:08] shanemcd commented on #11511
Closing in favor of https://github.com/ansible/awx/issues/11338

[2022-01-31 17:08] #11511 closed, assigned to nobody

[2022-01-31 17:09] shanemcd commented on #11451
This is a duplicate of either https://github.com/ansible/awx/issues/11594#issuecomment-1025997106 or https://github.com/ansible/awx/issues/11338

[2022-01-31 17:09] #11451 closed, assigned to nobody

[2022-01-31 17:11] shanemcd commented on #11549
Dupe of https://github.com/ansible/awx/issues/11391

[2022-01-31 17:11] #11549 closed, assigned to nobody

[2022-01-31 17:11] shanemcd commented on #11086
Dupe of https://github.com/ansible/awx/issues/11391

[2022-01-31 17:11] #11086 closed, assigned to nobody

[2022-01-31 17:12] shanemcd commented on #11547
Dupe of https://github.com/ansible/awx/issues/11547

[2022-01-31 17:12] #11547 closed, assigned to nobody

[2022-01-31 17:53] shanemcd commented on #11475
Hello. We do not have the resources to support older versions of AWX. If you upgrade and see this on the latest release, please open a new issue.

[2022-01-31 17:53] #11475 closed, assigned to nobody

[2022-01-31 18:03] shanemcd commented on #11473
Closing as the original author of this issue says they dont have time to troubleshoot.

If someone is seeing this and can provide the information needed to help us diagnose, please open a new issue.

[2022-01-31 18:03] #11473 closed, assigned to nobody

[2022-01-31 18:09] pxsc437 opened #11652 "Install AWX 2.1.2 on CentOS7.9"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

TASK [l

[2022-01-31 18:10] shanemcd commented on #11484
If you look at `/api/v2/jobs/5210`, is there anything in the `job_explanation` field?

[2022-01-31 18:16] shanemcd commented on #11488
Thank you for the feedback. However, if we relaxed this, it would likely result in folks making changes that inadvertently break their automation. I'll leave this open for further discussion, but this is not something we are going to prioritize right now.

[2022-01-31 18:24] AlanCoding commented on #9222
@sarabrajsingh are you still working on this right now? If now I'd like to keep it in the On Deck issues for anyone to pick up as able.

[2022-01-31 18:26] shanemcd commented on #11491
Going to close this, as it seems like this is working for others. If this is still a problem, please open a new issue.

[2022-01-31 18:26] #11491 closed, assigned to nobody

[2022-01-31 18:27] shanemcd commented on #11492
Dupe of https://github.com/ansible/awx/issues/5867

[2022-01-31 18:27] #11492 closed, assigned to nobody

[2022-01-31 18:27] #11493 closed, assigned to nobody

[2022-01-31 18:29] shanemcd commented on #11496
Closing this in favor of https://github.com/ansible/awx/issues/11518 since the problem has been pinpointed in that issue.

[2022-01-31 18:29] #11496 closed, assigned to nobody

[2022-01-31 18:33] shanemcd commented on #11516
Hello,

This issue tracker is for tracking feature enhancements and bugs.

If you need help troubleshooting or are looking for help using AWX, try our mailing list or IRC channel:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2022-01-31 18:33] #11516 closed, assigned to nobody

[2022-01-31 18:38] shanemcd commented on #11521
What version of Ansible are you using locally, where it's working fine?

[2022-01-31 18:51] shanemcd commented on #11542
@AlanCoding you mind taking a look at this and weighing in with your thoughts or debugging suggestions?

[2022-01-31 18:57] shanemcd commented on #11552
Thank you for the feedback. We _have_ talked about adding a settings option for "podman run" options, and this sounds like a completely valid use case.

[2022-01-31 18:58] shanemcd commented on #11553
@AlanCoding When you have a moment, would appreciate your thoughts here.

[2022-01-31 19:02] shanemcd commented on #11555
It does seem like we could resolve this along with https://github.com/ansible/awx/issues/5646

[2022-01-31 19:03] shanemcd commented on #5646
We are currently tracking this as a parent issue of https://github.com/ansible/awx/issues/11555. If we decide not to do this, we need to pull that one into our project.

[2022-01-31 19:05] shanemcd commented on #11563
`Name or service not known`. Seems like your AWX server is not up / responding.

[2022-01-31 19:05] #11563 closed, assigned to nobody

[2022-01-31 19:06] shanemcd commented on #11564
@bjoydeep When you have a chance, can you look at the information @kdelee has provided? Does that help you?

[2022-01-31 19:16] mabashian commented on #11636
@akus062381 good find - do you mind writing out some reproduction steps for us?  The gif is great but it makes for a lot of clicking back and forth when trying to reproduce.

[2022-01-31 19:21] mabashian commented on #11634
https://github.com/ansible/awx/blob/devel/awx/ui/src/screens/InstanceGroup/shared/ContainerGroupForm.js#L49.  We probably only want to disable this field when the value is `default` and the field is clean (untouched).

@kurokobo easiest workaround until we can get this fixed is to type out the name of your container group somewhere else and then paste it in the field.

[2022-01-31 19:24] mabashian commented on #11633
Interesting - I thought we addressed this last year (see: https://github.com/ansible/awx/issues/4249) but maybe it's crept back in.  Thanks for filing an issue!

[2022-01-31 19:48] nixocio commented on #10282
Possibly dupe of https://github.com/ansible/awx/issues/9956

[2022-01-31 19:49] nixocio commented on #11405
This is the one https://github.com/ansible/awx/issues/9956
See comment: https://github.com/ansible/awx/issues/9956#issuecomment-825785431

The issue is on the advanced search itself - not on the job out screen.

I tested this again, and below it is the error details.

![image](https://user-images.githubusercontent.com/9053044/151861877-a8f19aef-5234-4e95-9200-e4b2b66afbf6.png)

I am closing this o

[2022-01-31 19:49] #11405 closed, assigned to nobody

[2022-01-31 20:21] akus062381 commented on #11636
@mabashian no problem!

1. Create a job template, check a few of the prompt-on-launch boxes, and add a couple of surveys.
2. Enable the surveys using the toggle.
3. Go to the details screen of the job template and click Launch; you will see the prompt on launch wizard pop up.
4. Click Cancel to close the wizard.
5. Click the survey tab of the job template. The surveys had been toggled on a moment

[2022-01-31 20:59] nixocio commented on #9041
I verified how the old UI shows the page title, and it seems to display the value as the last part of the breadcrumb.

For example,

<img width="602" alt="image" src="https://user-images.githubusercontent.com/9053044/151871991-d8efa08c-7c2a-40d3-bbc3-21ae88ce178c.png">

<img width="223" alt="image" src="https://user-images.githubusercontent.com/9053044/151872041-2472cd94-8ff1-428c-b461-17a0e751ab2

[2022-01-31 21:05] AlanCoding commented on #11600
@tchellomello I'm not the best person to review the changes to building pod_definition, but I see your diff and it makes sense to me

https://github.com/ansible/awx/compare/expose_isolate_path_k8s

It looks good. I think you should make a PR and get a few people assigned to review. You have this marked as in progress, but I don't necessarily see any blockers. You mentioned this in your demos and o

[2022-02-01 02:43] AlanCoding commented on #11553
This is not related to the cache timeout (we have no sort of timeout setting for this sort of cache). The cache_id in question here is the id of the last project update for the project in question, not a project sync. So if you re-run a job, it should not re-download Ansible content, but if you re-update a project or set `update_on_launch`, it is intended to re-download Ansible content. The cache

[2022-02-01 05:18] oliverf1 commented on #11338
If this https://github.com/kubernetes/kubernetes/issues/59902 was implemented, would not that help?

I can also confirm is it an issue for us too. For some problematic playbooks with lots of output and multiple hosts, the only solution we found, was to create a playbook that will create a pod which runs the playbook directly on the k8s cluster, so outside of AWX :-( In our case, increasing the log

[2022-02-01 07:59] skbki commented on #11594
We have the same issue, disabling log rotation within kubelet or timeout configuration did not help.

[2022-02-01 10:37] ffirg commented on #11652
Sorry we cannot help you. This is not a support forum and that release is really, really old. Please try the latest release.

[2022-02-01 10:37] #11652 closed, assigned to nobody

[2022-02-01 14:27] sooslaca commented on #11647
+1.  same issue with 19.5.0 -> 19.5.1

[2022-02-01 14:51] dmagyar commented on #11647
I have the same issue after upgrading to 19.5.1 :( When can we expect a fix?

[2022-02-01 15:40] shanemcd commented on #11640
Is this the same as https://github.com/ansible/awx/issues/11036 ?

[2022-02-01 15:52] AlanCoding opened #11656 "Allow providing custom mount points to docker-compose template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Say that someone wants to do an in-place install of a python package on their computer while running docker-compose. They can do this if it's a sub-directory of the awx checkout, but not other places.

We should have some custom setting that will append to the docker-compose.yml template to add volume mounts for the control and execution plane nodes.

[2022-02-01 16:11] InnocentK commented on #11325
Feature has been added and issue resolved.

[2022-02-01 16:11] #11325 closed, assigned to marshmalien, InnocentK

[2022-02-01 16:33] pxsc437 opened #11657 "Non-string value found for env option. Ambiguous env options must be wrapped in quotes to avoid them being interpreted. Key: DATABASE_PORT"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I have

[2022-02-01 16:40] pxsc437 commented on #11657
I found the solution here:
https://github.com/ansible/awx/issues/3033

In inventory file in [all:vars] section
pg_port: 5432
I've change to pg_port="5432" , and this is resolve issue.

[2022-02-01 16:44] #10911 closed, assigned to nobody

[2022-02-01 16:54] mtannertdev commented on #11647
I'm seeing this issue too with 19.5.1. I had to downgrade to make it work because 19.5.1 is unusable.

[2022-02-01 19:17] akus062381 opened #11661 "Survey list check boxes behaving differently with delete modal cancellation"
On the survey list, if a user checks the box next to a survey, clicks the delete button, and then clicks the cancel button on the modal, when the screen refreshes, the box has been unchecked.
This behavior is not in keeping with the checkbox behavior on any of the other lists in the UI.

See GIF:
![vokoscreenNG-2022-02-01_14-12-20](https://user-images.githubusercontent.com/63685497/152035842-c851a

[2022-02-01 19:50] akus062381 commented on #9455
@shanemcd I am verifying that this bug still exists in the UI. Now I am also seeing that trying to give a team access is not resulting in the Team Roles appearing on the access tab. Can we push this up for triage?

[2022-02-01 19:51] akus062381 commented on #9455
@AlexSCorey I am removing the enhancement label for this issue. This is a bug that needs to be fixed. I would be happy to take a look at it with you :-)

[2022-02-01 20:17] AlanCoding commented on #11323
I have merged several things to get everything on the same ansible-runner install. The one open item from discussion on this matter was https://github.com/ansible/awx/issues/11656 so that user's have full flexibility to install in-place from the folder of their choice.

Closing as finished.

[2022-02-01 20:17] #11323 closed, assigned to AlanCoding

[2022-02-01 20:19] nixocio commented on #11224
@tiagodread @akus062381 I believe we merged the fix for this one. Can we close this one?

[2022-02-01 23:34] kdelee commented on #11640
Only difference is https://github.com/ansible/awx/issues/11036 doesn't mention the CPU also being wrong

[2022-02-02 10:32] ffirg commented on #8694
We are not looking to implement this feature, as in real practical situations it's likely to break a lot of workflows, which are designed to be run end-to-end for consistent, reliable and repeatable automation. You can achieve what this is asking for using workflows inside workflows today with some simple logical evaluations/assertions.

[2022-02-02 10:32] #8694 closed, assigned to nobody

[2022-02-02 12:04] Flonka commented on #10243
I am also looking for a way to configure the awx.awx collection to not try and use a token, due to the current default setting to not allow oauth2 for external users (LDAP).

[2022-02-02 14:23] akus062381 commented on #9455
current behavior i am seeing/steps to follow:

1. Create an organization
2. Create a couple of users, add them to that org
3. create a team under that same org
4. add those users to the team
5. create a job template
6. go to the access tab of that job template and add the users you just created as admins and executors
7. still on the access tab, give permissions to the team that the users are on (

[2022-02-02 14:58] nixocio commented on #11582
On a fresh installation visiting the
```https://localhost:3001/#/inventories/inventory/1/details```
sporadically also raises this error.

![image](https://user-images.githubusercontent.com/9053044/152178827-8a5aafc1-3f97-4b00-b116-cdf5c7b10c45.png)

[2022-02-02 15:04] nixocio commented on #11582
I got this error today several time when reviewing a PR, I will work on it.

[2022-02-02 15:38] spireob commented on #11594
We also have the same issue. Modifying idle timeout did not taken effect and job containers are being killed exactly after 4h.

[2022-02-02 16:36] nixocio opened #11666 "Automate release process of awx collection, and awxkit"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Automate the release process of awx collections, and awxkit as part of the release process of awx.

They should be in sync with the current AWX version.

[2022-02-02 16:58] shanemcd commented on #2982
Possibly related to https://github.com/ansible/awx/issues/11422

[2022-02-02 18:52] akus062381 opened #11667 "Advanced search boolean keys- clarity needed for user"
In the schedules list, if a user chooses advanced search, and then enters the search values as follows:
Set type: or    Key: enabled    Lookup type: exact
the API wants the user to pass a boolean in the input box in order to understand how to return the desired resources- but there is no indication for the user that a boolean value is required, except for this:
![image](https://user-images.githubu

[2022-02-02 18:57] AlanCoding opened #11669 "[Tech debt] Stop tracking instance group capacity in the task manager"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When allocating jobs to instance groups in the task manager, we incorrectly dock capacity from instance groups.

This proposal is that we stop bothering trying to track capacity in this way because it's already handled by the instance `remaining_capacity` in-memory field.

https://github.com/ansible/awx/blob/bff49f2a5fd8929808b2890bc2d16279c523cc53/a

[2022-02-02 19:08] AlanCoding opened #11671 "[Tech debt] Task manager fetches resources (instances, jobs, etc.) twice"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Running the task manager, it repeats itself doing the same thing twice. Documenting partial call stack here. Both start with the main call path to the task manager:

https://github.com/ansible/awx/blob/bff49f2a5fd8929808b2890bc2d16279c523cc53/awx/main/scheduler/task_manager.py#L674

Both of these ultimately do the same queries, and the only reason w

[2022-02-02 19:26] tchellomello opened #11672 "kube-dev container images build process breaks due to missing `gettext` rpm package"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

kube-de

[2022-02-02 19:41] tchellomello opened #11674 "Build nightly container images on CI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

 Having fresh nightly build containers (with the same awx version/tag) allows containers to include the latest errata which can minimize some security exposure.

 If we take for instance the current latest container image and run a security scanner `trivy`, we can see some vulnerabilities:

[code]

Now, if I build a new one, we can see the issues du

[2022-02-02 20:08] AlanCoding commented on #11669
We have lost our size label, but I wanted to mark this as a small issue. Compare to its companion issue, https://github.com/ansible/awx/issues/11671, this is much easier and a direct simplification. So this should be done first.

[2022-02-02 20:20] tiagodread commented on #11582
This is now fixed, the E2E test failing because of this issue is now passing.

[2022-02-02 20:20] #11582 closed, assigned to nixocio

[2022-02-02 20:50] AlanCoding commented on #11110
In linked tower-qa PR above, I find that the test is passing, jobs flip to a canceled status. Hope to close this soon.

[2022-02-02 21:42] akus062381 commented on #8474
I am still seeing this happening

Steps to take:
1. run a playbook job
2. go to output page
3. select advanced search and search for a valid host for that job by name
4. once results are shown, click Clear All Filters

You will notice that the filters are cleared, but the Clear All Filters link remains

[2022-02-02 22:15] kdelee commented on #11669
I think after https://github.com/ansible/awx/pull/11665 goes in, there may not be anything actually checking the remaining capacity in the instance group. E.g. we can drop all of the tabulation on the instance group itself.

We can do this and keep the same https://github.com/ansible/awx/blob/15c7a3f85b5e948f011c67111c4433a38c4544e9/awx/main/scheduler/task_manager.py#L89 just drop https://github.c

[2022-02-02 22:15] alex-pimperton commented on #11613
I wonder if this is related to this Ansible bug:

https://github.com/ansible/ansible/issues/76737

[2022-02-02 22:18] kdelee commented on #11669
I would do this BEFORE https://github.com/ansible/awx/issues/11671 because getting rid of the calls to `Instance.remaining_capacity` is going to be a bit trickier.

[2022-02-02 23:00] isuftin commented on #10855
While this is being worked out, is there anywhere we can get a PDF or a working link to this piece of the documentation?

[2022-02-02 23:39] IPvSean commented on #248
this is still an issue as of

```Ansible Automation Platform Controller 4.1.1 ```

for the inventory I have this->
![image](https://user-images.githubusercontent.com/6537680/152255215-dc16564d-cdcb-4b21-b230-efd52c644f1d.png)

specifically you can see that `Update on launch` is checked.

The corresponding Github project also has this set->
![image](https://user-images.githubusercontent.com/6537680

[2022-02-03 00:39] kdelee commented on #11671
looks like we also fetch jobs indirectly with
https://github.com/ansible/awx/blob/bff49f2a5fd8929808b2890bc2d16279c523cc53/awx/main/scheduler/task_manager.py#L80

https://github.com/ansible/awx/blob/bff49f2a5fd8929808b2890bc2d16279c523cc53/awx/main/models/ha.py#L155-L162

[2022-02-03 01:59] AlanCoding commented on #11669
Yes, this is why I didn't make a point of it in that PR. To be perfectly consistent about an "everything we create gets used" rule, that PR would remove all notions of "consumed_control_capacity". But after I realized how useless the capacity tracking was it become apparent that the easier and safer course of action is to delete these methods completely.

Surprisingly, I can't associate a concrete

[2022-02-03 02:48] AlanCoding commented on #248
@IPvSean in your case, do the inventory and the job template use the same project?

If they do, then https://github.com/ansible/awx/issues/11336 would fairly directly articulate what your use case is.

If not, then that would require expanding the scope of what's being talked about there.

[2022-02-03 06:01] felixfontein commented on #10855
If you have the collection installed locally, you can always run `ansible-doc -t lookup awx.awx.controller_api` to look at a text version.

[2022-02-03 08:16] gabhishek627 opened #11677 "[External Logger] event called `session` is missing in `Ansible App` over Splunk GUI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This issue is related to the following:

Event name `session` seems to be missing from Ansible App over Splunk GUI even though all the logging aggregators are defined properly in Tower. However, the other logs from Tower are pushing to splunk but while selecting Ansible App an event named
session is missing. So, it can not generate the dashboard.

Re

[2022-02-03 09:40] ffirg commented on #11677
Hi. We don't maintain or own that app so sorry we are unable to assist here.

[2022-02-03 09:40] #11677 closed, assigned to nobody

[2022-02-03 13:36] nixocio commented on #11667
This is the same issue as https://github.com/ansible/awx/issues/9956

[2022-02-03 15:17] drinkeroftea7 opened #11678 "[rfe] RBAC role to limit job schedule"
##### ISSUE TYPE
 - Currently there is not a way to reliably restrict the ability of users or owners of a job template to schedule jobs. In a large shared environment this means that particular users who aggressively schedule jobs can cause performance problems for the cluster. While admins can modify the schedule, that doesn't prevent the user from re-scheduling the job.

##### SUMMARY
- Please c

[2022-02-03 15:29] akus062381 commented on #11224
@nixocio yes! this is fixed. closing

[2022-02-03 15:29] #11224 closed, assigned to nobody

[2022-02-03 16:37] john-westcott-iv commented on #11413
The session ID is used in 2 places in awxkit: ws and the client.

The client is performing an interactive login and we can set the "default" value to be the old sessionid (in case you are connecting to an older instance) and we can have AWX send a special header to indicate what the cookie name is when the session is first established.

The WS is more of a programatic interface and we can modify t

[2022-02-03 16:59] isuftin commented on #10855
Perfect

[2022-02-03 17:12] kdelee commented on #10694
update on current state of PR:

The capacity "impact" of being a controller node is default 1, but is configurable via a setting
In order to be selected to be a control node for a system job/project update, that means we need a minimum of 2 capacity. If a cluster has less than 2 capacity project updates will never run. But for a node to have less than 2 capacity it would need to have such minuscul

[2022-02-03 19:38] e36Alex opened #11680 "Docker installation doesn't work"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello,

[2022-02-04 04:03] todd commented on #11680
I'm also running into this. I'm trying to run this inside an Ubuntu 20.04 VM.

[2022-02-04 06:07] s-cho-a opened #11682 "Can't send notification to Slack"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When se

[2022-02-04 06:27] dr-duke commented on #11594
@spireob @skbki Confirm. Pod dying after 4 hour. Log rotation is disabled.
Logs:
[code]
Please re-open issue.

[2022-02-04 08:51] kzinas-adv commented on #11594
AWX newest 19.5.1 fresh very basic install, nothing custom with awx "sleep" task: same 4 hour issue
With "containerLogMaxSize: 906Mi" and "Default Job Idle Timeout": 7200 seconds
Task make output every 5 minutes  last output " 3:55:27.994".
I hit same problem earlier and this was specifically <b>reproduced</b> on fresh install of kubernetes.
Please re-open issue:

[code]

[2022-02-04 08:58] s-cho-a opened #11683 "Can't connect GitHub repository"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

After c

[2022-02-04 09:03] eselvam commented on #7917
we have the same req, shall we add this capability please.

[2022-02-04 10:29] chofstede commented on #11647
I'm having the same issue with 19.5.1 on Kubernetes version v1.21.8

[2022-02-04 13:03] jorgemarti commented on #9730
I'm afraid this solution didn't work for me in 17.1.0 or maybe I didn't follow correctly the steps indicated here. If tried creating credentials pointing both to galaxy.ansible.com  and using _Galaxy Server URL_, _AUTH SEVER URL_ and _token_ from Automation Hub , but the project_update.yml playbook always skips the collections/roles sync.

And I have checked that both project and credentials are c

[2022-02-04 15:33] #11630 closed, assigned to AlexSCorey

[2022-02-04 15:57] nixocio commented on #11236
@akus062381, can we close this one?

[2022-02-04 17:51] ghost commented on #11680
Ran into the same problem on a freshly installed Rocky Linux 8.5.
Tried the 19.4.0, 19.5.0 and 19.5.1 but they all use the same image in the `Dockerfile.j2`.

CentOS 8 is still being used and it's EOL. They migrated the "yum URL's mirrorlists" to a vault, which breaks the initial deployment.
Workarround; I changed: https://github.com/ansible/awx/blob/19.5.1/tools/ansible/roles/dockerfile/templates

[2022-02-04 18:09] akus062381 commented on #11236
this is complete! closing

[2022-02-04 18:09] #11236 closed, assigned to akus062381

[2022-02-04 18:15] nixocio commented on #11680
We already update for `centos:stream8`  on awx/devel. It will be part of the next release. In the meantime we can run `make docker-compose-build` on devel.

[2022-02-04 18:15] #11680 closed, assigned to nobody

[2022-02-04 18:16] AlanCoding commented on #11683
@jbradberry correct me if I'm wrong, but I believe the github PAT was introduced in order to use for webhooks. We could (presumably) write injectors to make it usable for project updates, but this is new work which I don't know if we have an issue for anywhere else. If the intent is to plan that, I would like to make it clear. The SCM private key troubleshooting here is a very different topic.

[2022-02-04 18:24] nixocio commented on #11667
Closing in favor https://github.com/ansible/awx/issues/9956

[2022-02-04 18:24] #11667 closed, assigned to nobody

[2022-02-04 18:33] nixocio commented on #11648
Hello,

This  is not a problem with AWX, please, verify the Ansible versions that targeted the OS that you are using.

[2022-02-04 18:33] #11648 closed, assigned to nobody

[2022-02-04 18:43] nixocio commented on #11644
Hey @sugitk,

Can you, please, add more details about the desired outcome of this feature?

[2022-02-04 18:49] nixocio commented on #11635
Hello,

We have not heard of any other report of this issue, if other people on the mail listing are seeing this, we can re-open.

If you need help troubleshooting or are looking for help using AWX, try our mailing list or IRC channel:

#ansible-awx on[ https://libera.chat/](https://libera.chat/)
https://groups.google.com/forum/#!forum/awx-project

[2022-02-04 18:49] #11635 closed, assigned to nobody

[2022-02-04 18:59] Sharnoth commented on #11586
this seems to take more time.
The initial command would work if there was a VERSION file inside awxkit (https://github.com/ansible/awx/tree/devel/awxkit). For some reason it's gone starting from 19.5.0 tag

[2022-02-04 19:50] benjdudas commented on #11645
@sugitk You should be able to do this now using the controller_api lookup plugin in the ansible.controller collection.
https://console.redhat.com/ansible/automation-hub/repo/published/ansible/controller?version=4.1.0

For Example:
[code]
Controller will add the JOB_ID to the job env which you can use with the controler_api plugin to retrieve the full jobs api and then parse through that for the in

[2022-02-04 20:53] e36Alex commented on #11680
Hi again and thanks for the replies and help.

One problem is solved, but now i got the next one:

`
root@awx:/tmp/awx# make docker-compose-build
ansible-playbook tools/ansible/dockerfile.yml -e build_dev=True -e receptor_image=quay.io/ansible/receptor:devel
[WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit localhost does not match 'all'
[WARNING]: An err

[2022-02-04 21:01] mrdigi commented on #5911
Sorry if I'm being naïve here, but couldn't credentials themselves have injector values specified?  It kind of seemed odd to me you're specifying the destination in the credential type, but I'm not sure how some of the internal types were set up.

Edit:  I'm not suggesting getting rid of the injectors in the credential type, just asking if it would be possible to override them with the credential

[2022-02-04 21:07] e36Alex opened #11686 "Docker installation doesn't work - the 2nd"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello a

[2022-02-05 10:06] Sergiodcm00 commented on #11604
Investigating I found a solution to expose paths here:
[https://stackoverflow.com/questions/67747550/how-can-i-expose-local-data-path-to-the-temporary-job-container-awx-job-xxxxx](url)
Now I use functionality "Instance Groups" instead of the setting "Paths to expose to isolated jobs" to achieve my goal. It works perfect.

Perhaps it should be reviewed what exactly "Paths to expose to isolated jobs

[2022-02-06 15:49] RussTech opened #11687 "awx.awx.group fails to create a group if preserve_existing_hosts or preserve_existing_children is true"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

awx.awx

[2022-02-06 21:27] sean-m-sullivan opened #11689 "Execution Enviroments have no object_role to add permisions to."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
the api endpoint api/v2/execution_environments/ has no related object_roles. While all members of an org have read access to the global and organization execution environments, it is either an all or nothing approach when giving admin access to execution environments in an organization. This should behave like job templates, projects, and inventories

[2022-02-07 00:54] sugitk commented on #11645
@benjdudas Thank you very much!

I tested your playbook on your Tower using `ansible.tower.tower_api` lookup plugin and I got the result as expected.

I will close this issue.

[2022-02-07 00:54] #11645 closed, assigned to nobody

[2022-02-07 11:30] tonk commented on #11444
Following, I have the same issue

[2022-02-07 12:40] kTipSSIoYv opened #11690 "How to pass Machine credentials as an extra vars to the job template?"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

The job

[2022-02-07 14:54] shanemcd commented on #11557
@AlanCoding Can this move out of Blocked now?

[2022-02-07 14:55] shanemcd commented on #11532
@AlanCoding Thoughts on installing runner on the hop nodes for the purposes of running the health check?

[2022-02-07 14:56] shanemcd commented on #11532
Maybe for hop nodes we dont care about capacity, but it would be good to know if it is on or off.

[2022-02-07 15:04] muchafel commented on #7946
we are having the same issue with a custom EE
This object does not have a natural key: /api/v2/execution_environments/3/
Unable to construct a natural key for foreign key 'execution_environment' of object /api/v2/job_templates/11

[2022-02-07 15:18] AlanCoding commented on #11557
Yes, agreed, moved.

[2022-02-07 16:39] AlanCoding commented on #11532
^ receptor already does everything we need. The only reason we run the health check is for information related to capacity which is irrelevant for hop nodes.

However, hop nodes _can_ have `errors`, a field we populated in the API. This only matters for AWX mirroring the logic that receptor reports. If a node isn't reachable, then receptor will discover this fact through its own clustering rules.

[2022-02-07 19:05] felipe4334 commented on #11484
@shanemcd
![image](https://user-images.githubusercontent.com/13802820/152854695-bafbfe0a-c11d-42b9-b894-c7a498c2c950.png)
 No its empty

[2022-02-07 20:45] chicoraf commented on #10211
K8s (kubespray)
OPERATOR_VERSION: 0.15.0
AWX_IMAGE: 19.5.0
AWX-EE_IMAGE: 0.6.0
External Postgres 14.1

I´m facing a similar problem. We use a playbook on an inventory with 460 hosts. If we limit the execution to fewer hosts, everything works. If we run on the entire inventory, after a few lines the Output on the AWX interface hangs. It recovers after aprox. 10 min, but when the job finishes, the o

[2022-02-08 02:09] liquidspikes commented on #11682
Hello @s-cho-a,

I was just able to verify that the slack notifications are working on the current AWX 19.5.1, I believe it is by design to not expose the token again once the configuration has been saved.

Here are the steps I used to get slack notifications working:

1. Go to **https://api.slack.com/apps**
2. Click "**Create New App**" in the top right corner
3. Enter a name for your App and ass

[2022-02-08 05:19] bjoydeep commented on #11564
Yes - it does. Sorry, missed this one @shanemcd @fosterseth @kdelee . Additionally @gamuniz has convinced me that time taken by job - to spin up or completion does not make much sense.

[2022-02-08 08:18] s-cho-a commented on #11682
@liquidspikes
Thank you very much for the detailed guide. It works for me!
I will close this issue.

[2022-02-08 08:18] #11682 closed, assigned to nobody

[2022-02-08 08:22] s-cho-a commented on #11683
@AlanCoding
I selected the wrong target. It should be **Source Control** type. If set a webhook should use **GitHub Personal Access Token** type.
This issue can be closed.

[2022-02-08 08:22] #11683 closed, assigned to nobody

[2022-02-08 12:27] yuji-watanabe-jp opened #11695 "Add playbook signature verification in Controller"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

An AWX user prepares the content (playbooks and roles) in SCM repository, and runs a playbook in SCM by launching JobTemplate on Controller. The situation we are addressing in this feature extension is "The playbooks and the roles in SCM repository may be tampered with." If the compromised playbook is exeecuted without notice, it may cause damage to

[2022-02-08 12:28] yuji-watanabe-jp commented on #11695
Detail requirement of this feature and initial design for the solution

https://gist.github.com/yuji-watanabe-jp/76286e0e1505801816c5edfa40cc7a14#integrity-verification-and-enforcement-for-playbooks-and-roles-from-scm-repository

[2022-02-08 13:10] europ commented on #1965
It would be great to have this feature. +1

[2022-02-08 15:21] jbradberry commented on #11683
That's correct.

[2022-02-08 16:31] akus062381 opened #11697 "Add notification template form missing error handling for invalid entries"
When a user is on the add notification template form, and they enter incorrect information into the custom messages ace editors (any of them), the save button won't save the form, BUT, no error message pops up in the UI.

Action steps:
1. Go to add form for notification template
2. enter required information
3. click the customize messages toggle
4. in the first ace editor, delete some brackets
5.

[2022-02-08 16:32] AlexSCorey commented on #11532
@AlanCoding when a hop node becomes unreachable will it be declared on the `errors` field or should we be tracking some other field to show a hop node isn't reachable?  Just seeking clarity here
@kialam just FYI

[2022-02-08 16:44] rebeccahhh commented on #10610
I think a setting like this would be best enabled/disabled at a higher level. I like the feature idea, I think it would be a nice thing to have as a user.

[2022-02-08 16:49] AlanCoding opened #11698 "[tech debt] Overly-aggressive unified job save method errors when another process changes model"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This traceback paints a very complete picture of an error case that we should address.

[code]

At issue here is that `self.task.instance.save(update_fields=['result_traceback'])` should never trigger a call to `_update_parent_instance`, and this causes errors in error processing code... which will result in errors not being reported correctly.

If y

[2022-02-08 18:00] AlanCoding commented on #11532
@AlexSCorey that's right, but we may need to check this in the API to assure we're not skipping the hop nodes. I'm not sure if @jbradberry has covered this or not. It shouldn't be hard to check in the dev environment - start up once with execution nodes, and then start up again with 0 execution nodes, so it won't create the hybrid node either. All the execution plane should show as not working in

[2022-02-08 18:02] AlanCoding commented on #11557
This should be a performance improvement on execution nodes, similar in scope to the performance improvement we get for controller nodes from https://github.com/ansible/awx/issues/11356

[2022-02-08 18:12] e36Alex commented on #11686
Nobody an idea?

I this have (almost) the same error with acutual devel release...
`docker-compose -f tools/docker-compose/_sources/docker-compose.yml  up  --remove-orphans
tools_redis_1 is up-to-date
tools_postgres_1 is up-to-date
Starting tools_awx_1 ... error

ERROR: for tools_awx_1  Cannot start service awx_1: OCI runtime create failed: container_linux.go:367: starting container process caused

[2022-02-08 18:13] #11628 closed, assigned to keithjgrant

[2022-02-08 18:15] AlanCoding opened #11699 "[Performance] Delay per-job of 0.87 seconds due from capturing EE metadata"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
To reproduce:

[code]

[code]

[code]

If you use the `AWX_ISOLATED_DATA_DIR`, then you trigger special bash scripts in the entrypoint:

https://github.com/ansible/ansible-runner/blob/devel/utils/entrypoint.sh

The time delay comes from two commands

[code]

The point of these 2 commands is to save the collection list and the Ansible version. These a

[2022-02-08 18:29] AlanCoding opened #11700 "[Performance] Directly add large folders (project, roles, collections) to ZipArchive before transmit"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is an idea to eliminate a write to disk for a job run. It will affect job runs on execution nodes, but should not apply to job runs on hybrid nodes.

**Proposal**

The job preparation logic builds the ansible-runner private_data_dir at a location like `/tmp/awx_382_iewoiwe/`. From credentials and other information we dynamically build sub-folder

[2022-02-08 18:32] ndelaossar opened #11701 "NISGroupType for LDAP Group type does not exist"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hi,
I'm

[2022-02-08 19:00] robinduerhager commented on #9926
The Workaround of @AleksejEgorov didn't work out for me. My PostgreSQL Container crashed today.
In https://github.com/docker-library/postgres/issues/263 it is stated, that this behavior occurs if the `PGADMIN` environment variable is not set, so Postgres tries to initiate a new Database. When the env variable is set, Postgres will skip this step.

However, a `docker inspect <postgresql container I

[2022-02-08 21:12] akus062381 opened #11703 "Unit test expansion- Expand/Collapse // Pagination"
UI-QE has been sorting through test stubs to see which of them can instead be covered as unit tests. Two components identified:

Expand Collapse
Test cases:

- can expand/collapse the resource row on the dashboard
- can expand/collapse the resource row on the resource list one by one
- can expand/collapse all resource rows on the resource list at one time
- can expand/collapse the resource row on

[2022-02-09 08:15] spireob commented on #11594
We have also deployed new fresh installation and problem still occurs. Please re-open the issue.

[2022-02-09 08:57] nerijus commented on #11594
We have the same issue. Ping @FedorRub @shanemcd - could you please reopen?

[2022-02-09 09:04] kzinas-adv commented on #11594
Checked also with "Default Job Idle Timeout 18000 seconds"  = 5 hours in GUI settings -> Jobs.
Still fails after 4 hours as expected.
Please reopen.