[2020-12-16 13:46] unlikelyzero commented on #8917
@adpavlov thank you for filing this. Please follow https://github.com/ansible/awx/issues/8788 for updates

[2020-12-16 13:46] #8917 closed, assigned to nobody

[2020-12-16 13:48] unlikelyzero commented on #8918
@adpavlov there is now a new way of interacting with Workflow Approvals. Please check out the 'Workflow Approvals' listview. Please follow this ticket to track the implementation of the pending workflow approval count https://github.com/ansible/awx/issues/8918

[2020-12-16 13:51] unlikelyzero commented on #8273
@sugitk please follow https://github.com/ansible/awx/issues/8372 for updates

[2020-12-16 13:52] unlikelyzero commented on #8918
@sugitk filed the same request here https://github.com/ansible/awx/issues/8273#issuecomment-743995148

[2020-12-16 13:53] #8918 closed, assigned to nobody

[2020-12-16 14:13] mabashian opened #8919 "Cannot use modifiers like icontains, startswith, etc on notification templates "type" field"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I _think_ this is a bug (?) but it could also be by design or just a weird quirk.  This field is not useful to search on because it can currently only contain a single value `notification_template`.  The reason why I'm creating an issue is because this field is exposed in the new UI as a search option and this bug was found in testing.  I think it's a

[2020-12-16 14:33] unlikelyzero commented on #8480
Filed with https://github.com/ansible/awx/issues/8919

[2020-12-16 14:40] mabashian opened #8921 "Prevent users from selecting credentials that prompt for passwords on workflow nodes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is residual work from #8399.  If a Job Template references credentials that prompt for passwords then that template cannot be used in a workflow.  Additionally, if the JT prompts for credentials a user should not be able to select a credential that prompts for password(s).  Attempting to save this node will result in an error from the api.

![im

[2020-12-16 14:48] BitProcessor commented on #8902
Experiencing same problem.

[2020-12-16 15:13] mabashian commented on #7516
My vote here would be to simply change the name of the tab from `Completed Jobs` to `Jobs`.  I don't see any harm in listing all the jobs for a particular resource.  Whatever we decide, we should apply the change to all the places where we have `Completed Jobs` tabs.

[2020-12-16 15:31] AlanCoding commented on #8916
We have a provision to allow users to cancel jobs that they, themselves, started.

https://github.com/ansible/awx/blob/d93d0f00ee37e0dbda8d11561c5068c6b8f88a67/awx/main/access.py#L1664-L1665

However, in this case, the user may have `execute_role` to the workflow, but not to the job in the workflow. If this is the case, then maybe this is better as a UI issue to provide the suggestion to cancel th

[2020-12-16 15:37] faroukellouze commented on #4539
@jamesregis Here is an example
[code]

[2020-12-16 15:48] adpavlov commented on #8884
Issue narrowed down to localization. I have system language set to Russian. Changed priority in firefox settings to accept en first and AWX showing everything fine now.
[upd] issue relevant not for Mac only, but windows as well.

![image](https://user-images.githubusercontent.com/51116816/102371355-27983a00-3fcf-11eb-9a6c-5fc8ccd8278a.jpeg)

[2020-12-16 16:02] nickilby commented on #8863
I too had the same issue, after container creation it took 6 minutes before the install playbook was sucessful. v16.0.0 clean install.

[2020-12-16 16:08] mabashian commented on #8910
@natman Can you provide us with a little more information about how the job template was configured so that we can reproduce? I'm mostly interested in what fields are being prompted at launch.  Is inventory prompted at launch and/or is there a default inventory set on the job template?

If possible, can you post a screenshot or gif of the error you're seeing?

[2020-12-16 16:10] mabashian commented on #8848
This is a duplicate of https://github.com/ansible/awx/issues/7657

[2020-12-16 16:13] mabashian commented on #8600
IMO we should do this: https://github.com/ansible/awx/issues/7516#issuecomment-746449855.  In which case this button is fine and this issue could be closed.  If we don't end up doing that then yes, we should remove this button from this list.

[2020-12-16 16:14] mabashian commented on #7657
Closing - this will be tracked in #8848

[2020-12-16 16:15] adpavlov commented on #8848
I would say that this is a bug as it was present in previous versions of awx

[2020-12-16 16:19] kdelee commented on #5283
afaik this has been punted for the time being and we may land after main containerization stuff

[2020-12-16 17:04] wenottingham commented on #8876
You're probably better off looking at the browseable API at /api/v2/settings/all for that info.

[2020-12-16 17:09] wenottingham commented on #8911
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

That looks to be an issue with the yum module in Ansible. Please file that at http://github.com/ansible/ansible, or visit the upstream Ansible google group at:

https://groups.google.com/forum/#!forum/ansible-project

[2020-12-16 17:09] #8911 closed, assigned to nobody

[2020-12-16 17:18] unlikelyzero commented on #8902
Note: this likely affects JT Schedules and Workflow Node Prompts, too

[2020-12-16 17:27] unlikelyzero opened #8923 "JT Prompt Modal obscures pagination controls if resource is selected"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
JT Prompt Modal obscures pagination controls if item is selected. This MIGHT be specific to the Credential step in the wizard, but I'm filing generically.

##### ENVIRONMENT
* AWX version: 12/16

##### STEPS TO REPRODUCE
1. Create a JT with Credential POL with at least 5 available Credentials
2. Launch JT
Note: modal obscures pagination view but is sti

[2020-12-16 17:27] itg-dave opened #8924 "[ui_next] template variable names are shown instead of values if there are no entities to show (Jobs, Templates, etc.)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.16
* Operating System: Debian 10 4.19.0-13-amd64
* Web Browser: Firefox 84

##### STEPS TO REPRODUCE

1. Install awx via docker-compose.
2. Open web-UI.
3. Click through Jobs, Templates etc.

##### EXPECTED RESULTS

The actual values of variables are

[2020-12-16 17:36] ntlartey opened #8925 ""User Details" on gui top far right-hand-side user icon pulldown, missing "#" from URL redirect"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: openshift
* Ansible version:  2.9.15
* Operating System: centOS 8
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

1) do standard install
2) issue shows with admin user or any new user added subsequently

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2020-12-16 17:38] itg-dave opened #8926 "[ui_next] job view variables are printed instead of values."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.16
* Operating System: Debian 10 4.19.0-13-amd64
* Web Browser: Firefox 84

##### STEPS TO REPRODUCE

1. Install awx via docker-compose.
2. Open web-UI.
3. Click on Views -> Jobs

##### EXPECTED RESULTS

The actual values of variables are shown.

####

[2020-12-16 17:42] ntlartey opened #8927 ""User Details" on gui top far right-hand-side user icon pulldown, missing "#" from URL redirect"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

"User Details" on gui top far right-hand-side user icon pulldown, missing "#" from URL redirect

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: openshift
* Ansible version:  2.9.15
* Operating System: centOS 8
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

1) do standard install
2) issue shows with admin user or any new user ad

[2020-12-16 17:47] #5913 closed, assigned to mabashian, tiagodread, AlexSCorey

[2020-12-16 17:53] Keith-Nowosielski-SJSU commented on #8911
Are you sure? I only ask because I'm only experiencing this issue in awx both version 10 and 15. It seems to work fine in ansible 2.9.15.

[2020-12-16 18:26] #8925 closed, assigned to nobody

[2020-12-16 18:26] ntlartey commented on #8925
duplicate bug
#8927

[2020-12-16 18:28] unlikelyzero commented on #8842
closing as a dupe of https://github.com/ansible/awx/issues/7708

[2020-12-16 18:28] #8842 closed, assigned to nobody

[2020-12-16 18:31] teebee commented on #8927
Is there also a broken image (https://mytower.com/static/assets/logo-header.svg) displayed on the incorrectly redirected page?

[2020-12-16 18:35] ntlartey commented on #8927
No, I have customized logos under the media subpath. Why? Does this cause the issue I see? I don't see how logos could affect urls TBH.

[2020-12-16 18:36] unlikelyzero commented on #8926
@dagwieers what language is your browser set to? German?

[2020-12-16 18:37] unlikelyzero commented on #8927
@ntlartey thanks for filing this! This is a known issue. Please follow this ticket for updates https://github.com/ansible/awx/issues/8478

[2020-12-16 18:37] #8927 closed, assigned to nobody

[2020-12-16 18:49] natman commented on #8910
![image](https://user-images.githubusercontent.com/1138093/102392659-aa24f780-3fd7-11eb-81a4-dea85a2bd3b0.png)
![Sélection_012](https://user-images.githubusercontent.com/1138093/102391757-6f6e8f80-3fd6-11eb-85ac-e8b47da4de5d.png)
![Sélection_019](https://user-images.githubusercontent.com/1138093/102392490-68944c80-3fd7-11eb-9c7c-d2c2c2befbb7.png)
![Sélection_014](https://user-images.githubusercont

[2020-12-16 18:51] natman commented on #8910
no prompted inventory set, therefore, I tried with a prompted inventory, with or without it the result is the same.

[2020-12-16 20:27] tstahnke2 opened #8929 "Workflow Prompt on Launch Causes Inventory to be required"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We have workflows that we've been using in previous AWX builds (15.0.1 and earlier) that use Prompt on Launch for variables. As of AWX 16, these prompted launches are failing with unresolved errors. These errors go away if we add an inventory to the workflow.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible versi

[2020-12-16 20:40] #7879 closed, assigned to mabashian

[2020-12-16 20:41] tstahnke2 opened #8930 "Job Output / Time Elapsed not updating until the job finishes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When launching jobs, all websockets appear to be working correctly, but only the indicator for the job running appears to update. The time elapsed and the output from the job does not appear until the job has completed.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: Windows

[2020-12-16 20:50] wenottingham commented on #8914
The vmware inventory source is not using the VMware inventory script as defined in [vmware.ini](https://github.com/ansible-collections/community.vmware/blob/main/scripts/inventory/vmware_inventory.ini).

It uses the VMware inventory plugin, which is configured [in this way](https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_vm_inventory_inventory.html)

You'll need to adju

[2020-12-16 20:50] #8914 closed, assigned to nobody

[2020-12-16 21:08] cnukwas commented on #8537
What changes need to be made for this to work since I tried to add few additional tools to be installed during docker image build by adding lines to Dockerfile.j2 but those don't appear to be picked up during the install/build process?
We need to add custom tools related to Open LDAP, jq, wget and few other utilities to awx-web container image.

Thanks

[2020-12-16 21:08] hjkatz commented on #8876
I figured out the problem, the `/api/v2/settings/all` interface is only browseable as the AWX admin user.

[2020-12-16 21:40] abdel-ops opened #8931 "awx 16.0.0 licence missing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
after awx 16.0.0 installation with local docker method , i got 403 return api when i try to launch any job with message licence is missing .

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method:  docker on linux,
* Ansible version:  2.9.9
* Operating System: centos 7.8
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Install awx 16.0.0 on doc

[2020-12-16 21:46] rcdlinux commented on #8648
Hi team,

We have now [one option](https://github.com/theforeman/foreman-ansible-modules/issues/1070) to configure the hostname in Foreman. Can we have it on next versions of AWX/Tower?

Thank you all!

[2020-12-16 21:52] wenottingham commented on #8648
The change mentioned in that linked PR would need to be in a released collection version before it would be picked up by AWX.

[2020-12-16 21:57] garnser opened #8932 "Websockets defaults to wss when connecting unsecurely"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using AWX in a non-ssl environment with a http URL it still prefers using wss:// rather than ws:/ causing SSL termination issues towards the end-client.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: CentOS 8
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Access th

[2020-12-16 22:00] tstahnke2 opened #8933 "Workflow Prompt on Launch Causes Inventory to be required"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We have workflows that we've been using in previous AWX builds (15.0.1 and earlier) that use Prompt on Launch for variables. As of AWX 16, these prompted launches are failing with unresolved errors. These errors go away if we add an inventory to the workflow.

fyi, recreated it so awxbot properly tags

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX inst

[2020-12-16 22:00] #8929 closed, assigned to nobody

[2020-12-16 22:00] tstahnke2 commented on #8929
closing since I messed up the issue type :(

[2020-12-16 23:15] cnukwas commented on #7384
Tried to install jq, wget and few other utilities by updating the Dockerfile.j2 while building our own images but those are not installed in awx-web docker image?
Is this some kind of bug in the latest version or we can install other tools only when build_dev = true?

Thanks

[2020-12-17 00:46] jakemcdermott commented on #8932
:wave: Hello! Thanks for creating this issue, @garnser

I've merged a [patch](https://github.com/ansible/awx/pull/8877) for this bug to devel and it'll be included with the next awx release.

[2020-12-17 00:46] #8932 closed, assigned to jakemcdermott

[2020-12-17 00:51] jakemcdermott commented on #8926
:wave: Hello, @Dave3o3. Thanks for creating this issue. The bug you're describing appears to be the same one as https://github.com/ansible/awx/issues/8884. Thanks to the great info from you and other community members, we've narrowed down the possible causes and are working on a fix for the next awx release.

We'll continue to track the remaining work for this bug in the other issue: https://githu

[2020-12-17 00:51] #8926 closed, assigned to nobody

[2020-12-17 00:56] jakemcdermott commented on #8924
:wave: Hello, @Dave3o3. Thanks for creating this issue. The bug you're describing appears to be the same one as https://github.com/ansible/awx/issues/8884. Thanks to the great info from you and other community members, we've narrowed down the possible causes and are working on a fix for the next awx release.

We'll continue to track the remaining work for this bug in the other issue: https://githu

[2020-12-17 00:56] #8924 closed, assigned to nobody

[2020-12-17 01:00] jakemcdermott commented on #8930
:wave: Hello, @tstahnke2  Thanks for creating this issue.

The elapsed time display issue is being tracked here: https://github.com/ansible/awx/issues/8931

And the job output update bug you described is caused by https://github.com/ansible/awx/issues/8596.

We'll have fixes for both in an upcoming awx release.

[2020-12-17 01:00] #8930 closed, assigned to nobody

[2020-12-17 01:25] jakemcdermott commented on #8910
possibly related: https://github.com/ansible/awx/issues/8933

[2020-12-17 05:44] VitaliyFedorov commented on #8653
Very sorry for long response.
@wenottingham your suggestion is work like a charm
Looks like problem in documentation and in `Source Variables` field annotation

https://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html#ug-source-azure

So `Source Variables` is **NOT** override variables from azure_rm.ini, they override variables from https://docs.ansible.com/ansible/latest/coll

[2020-12-17 10:43] itg-dave commented on #8926
indeed, after setting to English, the issue disappeared

[2020-12-17 11:17] sysadm1989 commented on #8609
credential plugins are very necessary

[2020-12-17 12:38] jean-christophe-manciot commented on #8455
I have just realized that the permissions of ```/usr/local/etc/redis/redis.conf``` inside ```awx_redis``` container mirror exactly the ones of the ```docker_compose_dir``` (from installer/inventory) local folder where the redis socket is created.
They are "sucked in" the container and used somehow to define the permissions of:
- /usr/local/etc/redis/redis.conf
- /run/redis
- /run/redis/redis.sock

[2020-12-17 12:45] nvg14 opened #8934 "Missing Inventory Script"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Missing inventory script tab

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operating System: Ubuntu
* Web Browser: Chrome

Hi,

I have recently installed the AWX through the docker-compose method.
In version 16.0.0 the functionality of dynamic inventory is unavailable.
In the left pane, the i

[2020-12-17 13:00] nvg14 commented on #8934
I have seen the changelog of 8.0.0 - Deprecated /api/v2/inventory_scripts/ (this endpoint - and the Custom Inventory Script feature - will be removed in a future release of AWX)

Is this the reason?

[2020-12-17 13:12] t-readyroc commented on #7554
I'm running into this issue as well, though, at the same time, the survey is not created. First run attempting to create a new workflow template - template is created, survey is not.

[2020-12-17 13:36] tiagodread opened #8936 "Page crash trying to launch a job template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Page crash trying to launch a job template from different places (list, details, etc)

##### STEPS TO REPRODUCE

1. Create a JT
2. Try to launch

##### ACTUAL RESULTS

![image](https://user-images.githubusercontent.com/12464858/102494258-2577bf00-4053-11eb-98dc-cd7f89b5e257.png)

[2020-12-17 13:46] tiagodread opened #8937 "Infinite http requests under Organization tabs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Infinite http requests under Organization tabs (Details, Access, Teams, Notifications)

##### STEPS TO REPRODUCE

1. Create a organization
2. Open network tab on chrome dev tools
3. Navigate through organization tabs

##### ACTUAL RESULTS

![org](https://user-images.githubusercontent.com/12464858/102495578-00844b80-4055-11eb-8169-75b0fce118c4.gif)

[2020-12-17 14:39] hartman17 opened #8940 "Use the "Latest" tag for releases"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Please utilize tagging the latest release in Github when creating new releases. We are hitting the Github api to gather latest versions for our projects and we cannot use this for ansible/awx since there is no release tagged as "Latest"

[2020-12-17 14:51] timothynfarmer opened #8941 "Credentials Launch on Prompt 400 on starting job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When launching a template with a set of credentials specified for launch on prompt, the system throws an error 400 and doesn't ask for ssh_password or become_password.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Sp

[2020-12-17 14:56] unlikelyzero commented on #8822
duplicate of https://github.com/ansible/awx/issues/8356

[2020-12-17 14:56] #8822 closed, assigned to nobody

[2020-12-17 15:02] unlikelyzero commented on #8272
Need to test as a part of https://github.com/ansible/awx/issues/4205

[2020-12-17 15:19] europ commented on #8863
I had the same problem.

[code]

How to reproduce:
1. create a clean instance of minimal Debian 10
2. follow the instructions available [here](https://www.atlantic.net/vps-hosting/how-to-install-ansible-awx-on-debian-10/)

[2020-12-17 15:27] #8936 closed, assigned to jakemcdermott

[2020-12-17 15:40] wenottingham commented on #8934
Yes.

[2020-12-17 15:40] #8934 closed, assigned to nobody

[2020-12-17 17:05] AlanCoding commented on #8740
We should no longer need `libcurl-devel`, or any other libcurl anywhere, because it's for pycurl, which is in the EE

[2020-12-17 17:32] #8937 closed, assigned to mabashian

[2020-12-17 17:38] tiagodread opened #8942 "Http requests /me and /config been made twice on refresh"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Some pages, when you refresh the page the /me and /config requests are being made twice

##### STEPS TO REPRODUCE

1. Navigate to a page
2. Refresh the page reloading or force reload

##### EXPECTED RESULTS

The request for /me and /config not being executed twice

##### ACTUAL RESULTS

![image](https://user-images.githubusercontent.com/12464858/102522

[2020-12-17 19:32] tiagodread commented on #8605
PR merged, tests in place

[2020-12-17 19:32] #8605 closed, assigned to jakemcdermott

[2020-12-17 19:50] tiagodread opened #8944 "Credential type override default credential type options on credentials form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The credential type select on credentials form show all default options BUT when. you start creating custom credentials types these new credential types override the default options displayed on Credentials form -> credential type select.

##### STEPS TO REPRODUCE

1. Navigate to credential types
2. Create many credential types
3. Navigate to Credenti

[2020-12-17 21:23] mrmibrown opened #8945 "The ansible.tower.tower_workflow_job_template collections module does not create a survey when the spec is provided."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The ansible.tower.tower_workflow_job_template collections module does not create a survey when the spec is provided.

##### ENVIRONMENT
* TOWER version: 3.8.0
* Ansible version:  3.9.15
* Operating System: RHEL v7.7
* Web Browser: Google Chrome v85.0.4183.83 (Official Build) (64-bit)

##### STEPS TO REPRODUCE
1)
Install the ansible-tower collection:

[2020-12-17 22:29] unixfy commented on #8498
I am experiencing this same issue and do not have a load balancer in front of AWX. Deployed using the default config & docker-compose.

[2020-12-18 02:55] AlanCoding commented on #8835
We did not allow adding teams to team roles in the old UI. The other immediate issue is exactly what you say for this form itself

But there's another problem in that the access list of objects the target team has access to will not give sufficient information for users to understand. By "target team" I mean if you have teams A->B, team A's member role becomes a member of team B, and then B->JT, t

[2020-12-18 08:34] chenyulong021 opened #8946 "There is a strange ansible_ssh_pass problem"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

##### ENVIRONMENT
* Ansible version:  2.10.1
* Operating System: CentOS Linux release 7.7.1908 (Core)
* Web Browser:

##### STEPS TO REPRODUCE

my hosts config file is nginxhosts, one line of this file follow:
10.7.13.95 ansible_ssh_host=10.7.13.95 ansible_ssh_user=root  ansible_ssh_pass="7#5OX:~}44Zz"
afterwards I run c

[2020-12-18 08:55] jean-christophe-manciot commented on #8455
As a summary:
------------
- all ```docker_compose_dir``` permissions are sucked into ```awx_redis``` container and used for redis configuration and socket files
- those permissions are not extended to the redis daemon itself
- those permissions are also sucked into the other AWX containers
- this issue happens only when the permissions of the ```docker_compose_dir``` are changed right after AWX i

[2020-12-18 11:25] lemmy04 opened #8947 ""my view" is gone"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
after upgrading to AWX 16.0.0, "my view" is gone.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  n/a
* Operating System: openSUSE Leap 15.2
* Web Browser: Firefox, any other

##### STEPS TO REPRODUCE

AWX used to have this "my view" page, has that been removed from 16.0.0 on purpose?

[2020-12-18 11:29] lemmy04 opened #8948 "templates in AWX pages"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
after installing AWX 16.0.0 I see a lot of jinja2 template variables in the web pages, how do I customize what goes in there? passing the variables to the installer with -e "name=value" didn't do it.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  n/a
* Operating System: openSUSE Leap 15.2
* Web Browse

[2020-12-18 11:34] lemmy04 commented on #8948
duplicate of #8884

[2020-12-18 11:34] #8948 closed, assigned to nobody

[2020-12-18 11:37] lemmy04 commented on #8884
is there any way to get one's browser to do english only for one url, and one's "normal" language for anything else?

[2020-12-18 12:51] jakemcdermott commented on #8947
Hello!

Yes, we've permanently removed "My view" / "Portal mode". There was a lot of functional overlap between it and the dashboard. With the new tabbed lists on the dashboard, you can see a similar dual list view of recent jobs on the dashboard.

[2020-12-18 12:51] #8947 closed, assigned to nobody

[2020-12-18 13:51] lemmy04 commented on #8884
wouldn't the easiest / most logical solution be just to fall back to english if the browser asks for a locale without strings?

[2020-12-18 15:09] iclman commented on #7492
I have the same error message  when trying to monitor a job with  awxkit 14.1.0, 15.0.1 and 16.0.0. However, it was a test on job templates based on ansible 2.1 and ansible 2.4.  Typically, with awxkit 14.1.0, I have no issue when the job template is based on ansible 2.8. This is consistent with the prerequesite described in https://github.com/ansible/awx/blob/devel/INSTALL.md#prerequisites

[2020-12-18 16:21] hjkatz opened #8950 "[BUG] check_isolated.yml private_data_dir is incorrect for artifacts path leading to stacktrace"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I'm using the standard `ansible/ansible-runner` image with ansible version 2.9.
I'm following the guide to test a new container group. The jobs spawn in Kubernetes and there do not appear to be any connection issues, rather, the problem is a configuration issue with the `private_data_dir` that I'm trying to figure out.

When the ping ad-hoc job is lau

[2020-12-18 16:35] hjkatz commented on #8950
One thing I've noticed is that there is no original `artifacts/` directory for `rsync` to copy over from the `awx-task` container's `/tmp/<job-id><suffix>/` directory:

[code]

[2020-12-18 16:37] hjkatz commented on #8950
Running the initial ad-hoc `ansible-runner` command printed in the output of `run_isolated.yml` does not print anything and does not seem to spawn any processes:

This is run in the `awx-job-8` container in the `/tmp/<job-id><suffix>` directory.
[code]

[2020-12-18 16:42] hjkatz commented on #8950
I'm confirming that we're using the correct version of `ansible-runner` in the `awx-job-8` container running the `ansible/ansible-runner:latest` image:

See: https://github.com/ansible/awx/blob/devel/requirements/requirements.txt#L4

Version: 1.4.6

Output from the `awx-job-8` container:
[code]

[2020-12-18 17:24] dellarte commented on #8941
I'm facing the same issue.
I upgraded my AWX yesterday and i'm on the same environment as timothynfarmer.

[2020-12-18 19:03] tiagodread commented on #7522
Verified that:

The user can create and edit a JT survey
Can navigate to survey list using breadcumb links
Can enable survey
Can delete survey
Can launch a JT with survey enabled

Added coverage in 5819

[2020-12-18 19:03] #7522 closed, assigned to mabashian

[2020-12-18 19:38] jakemcdermott commented on #8272
This was carded as a separate issue because it'll be implemented separately in a different PR.

[2020-12-18 20:25] imareporter opened #8953 "Add Custom Notification Attribute for Job Stdout/Stderr"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to have a custom notification attribute for job stdout. They are also requesting the ability to embed stderr as well.

**EXAMPLE:**

/api/v2/jobs/<JOB_ID>/stdout/
[code]

[code]

[code]

[2020-12-18 20:48] wenottingham commented on #8777
/api/v2/workflow_approval_templates - > workflow_approval_templates is the wrong toplevel endpoint (it doesn't exist)

[2020-12-18 20:51] wenottingham commented on #8741
This is fixed with https://github.com/ansible/awx/pull/8908, and should be in the next AWX release.

[2020-12-18 20:54] mamercad opened #8954 "Workflow JT Annotations"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

It would be nice to have the ability to annotate Workflow Job Template (Nodes as well as Links), e.g., to provide a human-friendly description of the purpose of a Node, or, the reason why a link is set to "always".

[2020-12-18 20:55] wenottingham commented on #8953
We will not do this, it is not a good or practical idea from a performance standpoint, and would not be portable to all notification types.

[2020-12-18 20:55] #8953 closed, assigned to nobody

[2020-12-18 20:57] wenottingham commented on #8946
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

This looks like a generic issue with either your playbook or Ansible itself. Try the mailing list or IRC channel for Ansible:

http://webchat.freenode.net/?channels=ansible
https://groups.google.com/forum/#!forum/ansible-project

[2020-12-18 20:57] #8946 closed, assigned to nobody

[2020-12-18 21:01] wenottingham commented on #8941
This looks to be already filed here: https://github.com/ansible/awx/issues/8902. Closing as a duplicate of that issue.

[2020-12-18 21:01] #8941 closed, assigned to nobody

[2020-12-18 21:06] wenottingham commented on #8954
This looks to be more or less https://github.com/ansible/awx/issues/4344 and #2032 .

Closing as duplicate.

[2020-12-18 21:06] #8954 closed, assigned to nobody

[2020-12-18 21:23] wenottingham commented on #8945
That survey spec is invalid.

If I change and reformat your task as:
[code]
it works as expected.

[2020-12-18 21:23] #8945 closed, assigned to nobody

[2020-12-19 08:02] HelloWorDomain commented on #8863
I may get same error for run

pip3 install requests docker docker-compose
ansible-playbook -i inventory install.yml -vvvv

at ansible-awx 16.0.0

the error log is

"stderr": "Traceback (most recent call last):\n  File \"/var/lib/awx/venv/awx/lib/python3.6/site-packages/django/db/backends/utils.py\", line 84, in _execute\n    return self.cursor.execute(sql, params)\npsycopg2.errors.UndefinedColumn:

[2020-12-19 11:50] paul-p commented on #4736
Hi all,
@geerlingguy I have the same issue on Ubuntu 18.04.05. So it is not a MacOs related issue as it is suggested by the #7699 ticket.
I  did 4 installations with docker compose of AWX, each time on a fresh install of the same Ubuntu version.
For 2 of them, AWX server was fully working after the docker compose installation.
For the 2 others, I got the error described here ( `no pg_hba.conf entr

[2020-12-19 12:05] apollo13 commented on #8902
Sorry, the boards view played tricks on me :/

[2020-12-19 21:06] dugs951 opened #8955 "Upgrade to 16.00"
Hi,

how can i upgrade from 15.01 to 16.00?

Thanks

[2020-12-19 21:35] Trackhe opened #8956 "Cannot install installer playbook non-zero return code django/db/backends/utils.py\", line 84"
- Bug Report

##### SUMMARY
Installation with `ansible-playbook -i inventory install.yml` incomplete because an error in installation prozess

##### ENVIRONMENT
* AWX version: commit 6d577fe
* AWX install method: docker on linux
* Ansible version:  2.9.9
* Operating System: ubuntu 20.04 64bit

##### STEPS TO REPRODUCE

Clean new Ubuntu 20.04 64bit installation.

## Install Ansible and AWX

**Requi

[2020-12-19 23:17] Trackhe commented on #8956
after i rerun the installer now it is okey. i hope.

[2020-12-19 23:19] Trackhe commented on #8956
i dont now if this working right. i can see variable names like
![Bildschirmfoto 2020-12-20 um 00 19 16](https://user-images.githubusercontent.com/1494328/102701611-00ed3400-4259-11eb-9c5a-0c862a1f2ebe.png)

[2020-12-20 00:47] chris93111 commented on #5564
+1

[2020-12-20 09:28] jayantkaushalapp commented on #8863
Did we get any update on this. I am facing the same issue. Here is the error.

 {\"changed\": false, \"cmd\": [\"docker\", \"exec\", \"awx_task\", \"bash\", \"-c\", \"/usr/bin/awx-manage create_preload_data\"], \"delta\": \"0:00:11.226940\", \"end\": \"2020-12-20 09:20:38.413263\", \"msg\": \"non-zero return code\", \"rc\": 1, \"start\": \"2020-12-20 09:20:27.186323\", \"stderr\": \"Traceback (mos

[2020-12-20 09:56] adpavlov commented on #8956
WA available here https://github.com/ansible/awx/issues/8884#issuecomment-746511330

[2020-12-20 10:01] #8956 closed, assigned to nobody

[2020-12-20 10:55] europ commented on #8863
You can skip the failing task by changing the default value in configuration.

The failing task in [`awx/installer/roles/local_docker/tasks/compose.yml`](https://github.com/ansible/awx/blob/devel/installer/roles/local_docker/tasks/compose.yml) (line 53):
[code]

Default configuration in [`awx/installer/inventory`](https://github.com/ansible/awx/blob/devel/installer/inventory) (line 121)
[code]

Yo

[2020-12-20 11:39] diegorebolledo commented on #2225
Hey guys!

I've tried to upgrade since 11.2.0 to 16 but doesn't work!! I tried in many ways, backup and restore postgres and tower-cli configuration, just setting the inventory (without preload and with preload) and vars.yml (like the official info says), stopping and deleting the dockers, just running the install and always have the same issue, when tried to launch a job, alerts an ssh_key_unlock

[2020-12-20 11:58] TownGeekAus commented on #8955
Backup you old awx installer  because there is the inventory where you need all the  password need to create the yml file

make  a yaml file  like update.yml  in the same installer directory include the following:
admin_password: 'password'
pg_password: 'awxpass'
secret_key: 'awxsecret'

of course put the correspond value to you admin password pg password and secretkey that comes from your previou

[2020-12-20 12:07] diegorebolledo commented on #8955
Hi @TownGeekAus

do you have to stop the awx containers for doing the upgrade?

when I do the upgrade my awx_postgres container get in an eternal restarting state.

[2020-12-20 12:13] ZEROYXY opened #8957 "make docker-compose-build issue"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Complete!
70 files removed
Removing intermediate container ff8f95d1d472
 ---> 2e02cd216617
Step 28/54 : RUN curl -L -o /usr/bin/kubectl https://storage.googleapis.com/kubernetes-release/release/v1.17.8/bin/linux/amd64/kubectl &&     chmod a+x /usr/bin/kubectl
 ---> Running in 3484cf5b6a67
  % Total    % Received % Xferd  Average Speed   Time    Time

[2020-12-20 13:30] dugs951 commented on #8955
I make what do you say but now i have this Problem:
AWX is installing.

This page will refresh when complete.

What i can do?

[2020-12-20 13:43] stahloss opened #8958 "Have tower_export workflow_job_template export workflow node prompts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
AWX users have the possibility to fill in prompts in the Workflow Visualizer when setting up job templates within the workflow. Initially, say for extra vars, the default values of the job template extra vars are copied to the workflow visualizer prompt, where you can optionally alter them and save.

When awx cli or awx collections are used to export

[2020-12-20 13:59] unlikelyzero commented on #8931
@abdel-ops this looks familiar, however it is not readily reproducible.

Your error message implies that it's a Workflow. Can you give us so more details about the organization, inventory, prompting or credential so that we can reproduce this on our side?

[2020-12-20 22:25] Trackhe commented on #2206
+1

[2020-12-21 00:19] jmhbnz commented on #8933
Running into the same issue. These workflows with prompts for vars ran fine in 15.01.

Edit: Looks like this error includes workflows that prompt for a limit as well.

[2020-12-21 14:47] hjkatz commented on #8950
Today I tried manually running `ansible-runner run` instead of `ansible-runner start` with the same args inside the `awx-job-8` container while the job was still "running" and I got the following output:

[code]

So it looks like `ansible-runner` _does_ work with `run` but not with `start`. Then the `/tmp/<job-id><suffix>/artifacts` directory was populated, the "Copy artifacts from pod" Task worke

[2020-12-21 14:52] jakemcdermott commented on #8884
Yes - In previous versions, the ui would default to a locale with strings (e.g: `en`) if none of the browser's preferred languages have translation strings available in the catalog.

Currently, the ui _always_ tries to use the browser's preferred locale, even if there aren't any translation strings available for that locale in the catalog. This is problematic because if there aren't any strings av

[2020-12-21 14:56] jakemcdermott commented on #8884
:wave: Hello, everyone.

Thanks for all of the helpful information you provided.

We've created a [patch](https://github.com/ansible/awx/pull/8959) for this bug and it will be included in the next AWX release.

[2020-12-21 15:18] lemmy04 commented on #8884
i would like to say at this point that I find the new UI much more pleasing, especially on a phone or similar.

[2020-12-21 15:28] hjkatz commented on #8950
What an adventure... look what I found in `dmesg`

[code]

So I need more memory... how silly.

[2020-12-21 15:28] #8950 closed, assigned to nobody

[2020-12-21 16:46] shanemcd commented on #8950
Wow! Thanks for following up. Nice hunting 😅

[2020-12-21 16:48] hjkatz commented on #8950
I'm like super embarrassed it ended up being a resource limiting problem 🤦

[2020-12-21 17:55] jconallen opened #8960 "How to edit LDAP settings in 16.0.0"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

New 16.0.0 installation via Docker Compose.  Not sure how to configure LDAP.  It says that the form is coming.  Is there a configuration file I can use to specify the LDAP information ?

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: C

[2020-12-21 19:38] tiagodread opened #8961 "User type auditor can try to add roles to a user"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
System auditors can navigate through Add roles wizard flow

##### STEPS TO REPRODUCE

1. Log in as auditor user
2. Navigate to Roles tab for this user
3. Click on Add button

##### EXPECTED RESULTS

The add button shouldn’t appear

##### ACTUAL RESULTS
![image](https://user-images.githubusercontent.com/12464858/102815235-d01d1400-43aa-11eb-81b3-452c3d4

[2020-12-21 20:12] donald-picard-kr commented on #8344
This has been released in v16.0.0
it is working and has been tested with
project_updates, inventory_updates, workflow_jobs against our production Ansible Tower 3.7.2 without any issues. I do not have an awx server to test against but the below integration tests are implemented.

This is in addition to the integration testing completed in the referenced pull request.
this included 'workflow_jobs' a

[2020-12-21 20:12] #8344 closed, assigned to nobody

[2020-12-21 20:13] marshmalien opened #8962 "Job output page broken when navigating directly by URL"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Job output page displays Not Found error when navigating via URL from one job output page to another job output page with a different job type.

![loading broken](https://user-images.githubusercontent.com/15881645/102817273-7bbf6780-439d-11eb-9b66-d5e2e5f3975c.gif)

##### STEPS TO REPRODUCE
1. Navigate to a playbook run job output page `/jobs/playbook/

[2020-12-21 22:17] anolan80 opened #8964 "python module wont install because C++ istn isntalled"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME
 - Installer

##### SUMMARY
get error that there is no c++ when installing pyhelm
ollecting grpcio (from pyhelm) Downloading https://files.pythonhosted.org/packages/35/98/74a430566fdd9d4cc0386322e55306c8928a95da95b1da6fba08641526b5/grpcio-1.34.0.tar.gz (21.0MB) Complete output from command python setup.py egg_in

[2020-12-21 22:45] johnwbyrd commented on #4643
rm -rf /tmp worked better for me than the preferred solution.

[2020-12-22 03:19] TownGeekAus commented on #8955
Sorry mate for the delay in my response until now i saw you message you right i miss that part

Stop all you containers

make docker images
redis               latest              62f1d3402b78        7 weeks ago         104MB
ansible/awx         15.0.1              04558a4dc475        2 months ago        1.29GB
postgres            10                  3cfd168e7b61        2 months ago        200MB

[2020-12-22 10:51] hungpr0 commented on #8960
workaround: you can use the API https://your_tower/api/v2/settings/ldap/

[2020-12-22 11:49] jetxeberria opened #8965 "Workflow template nodes prompts to customize templates are missing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

On AWX 15.0.1 when we created a workflow template we could customize the tags of the nodes when we added them.
On AWX 16.0.0 customizing tags of the nodes is no longer available
Workflow templates defined with AWX 15.0.1 and run with AWX 16.0.0 successfully applies the tags defined on the node.
Customizing nodes on a workflow is extremely useful for u

[2020-12-22 12:54] anolan80 commented on #8964
I think the issue is we need a pip upgrade
pip3 install --upgrade pip

[2020-12-22 13:36] piotrplenik opened #8966 "Error when use EKS policy"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When run task that use AWS IAM roles - receive:

Please see my comment:
https://github.com/ansible/awx/commit/8788c904c8dcd6e83521887b3450b09bf7037ca5#r45341893

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker
* Ansible version:  2.9.15
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Run task that need access to IAM

[2020-12-22 18:02] tiagodread commented on #7816
Verified that the user can see System when summary_fields.resource_name is empty and it’s possible search for System.

Added a e2e test in 5822

[2020-12-22 18:02] #7816 closed, assigned to mabashian

[2020-12-22 19:12] ghost opened #8969 "Extending installer to use buildah instead of docker build"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I am trying to build my own custom image on a RHEL machine and that has an ancient version of Docker installed on it which does not support multi stage builds, which is required to build your own AWX Images. So I thought lets use buildah instead.

I did put a bit of effort into building all that is required into the installer of awx and would want to

[2020-12-22 21:17] virtualboom100 commented on #663
Any progress, or is this still open? Have customers requesting, still.  Thanks.

[2020-12-22 22:08] adpavlov commented on #8916
I have users authorized in LDAP and assigned to group which have following roles.
Am I missing something? At least I can say that user didn't change and there was no such issue in previous AWX UI.

![image](https://user-images.githubusercontent.com/51116816/102937376-0f3a8a80-44bb-11eb-9ad6-71e7d0c6b2e3.jpeg)

[2020-12-22 22:51] lemmy04 opened #8973 "Can't see stdout output of a job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
unable to see stdout output of a running job

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: containers run on openSUSE Leap 15.2
* Web Browser: Firefox on Windows, Linux, Android

##### STEPS TO REPRODUCE

- While a job is running, try opening its output details
-
##### EXPE

[2020-12-23 02:05] jakemcdermott commented on #8973
:wave: hello @lemmy04.

Thanks for creating this issue.

The job output update bug you described is caused by https://github.com/ansible/awx/issues/8596.

We'll have a fix for this in one of the upcoming awx releases.

Closing for now - we're tracking the work for this in the one linked above.

also see: https://github.com/ansible/awx/issues/8930

[2020-12-23 02:05] #8973 closed, assigned to nobody

[2020-12-23 08:46] Lextum commented on #20
+1

[2020-12-23 09:25] netixx commented on #3819
I still see the issue as described by @elyezer with version AWX 13.0.0 (Ansible 2.9.11).

[2020-12-23 09:38] SWADESNA opened #8974 "[RFE] Distribute license based on Organization level."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The Customer needs the license distribution control in Organization level.
As of now if license is available in tower, its automatically available to all organization by default.

Customer is looking for below scenario:
If OrgA buy 10 license then his 10 license should we allowed to used within the OrgA and not to other organizations

[2020-12-23 10:26] nicolaibaralmueller opened #8975 "AWX 16.0.0 unable to launch templates"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

- Output is not shown when launching a template unless window tab is changed
- The prompt is closed when browsing through inventories in the prompt window

The interface is a step up and looking forward to the next releases with bug fixes.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15

[2020-12-23 15:08] rchaud commented on #268
Howdy,

I have come to my own solution using Custom Script and Credential Types since AWX developer have not added this to AWX, even after a couple of years of people reporting this. I created the following script which is my updated version of the official openstack script, this allow the env we need.

[code]

And here is the Custom Credential.

[code]

Use this credential type along with the cus

[2020-12-23 15:11] rchaud commented on #7494
Howdy,

I have come to my own solution using Custom Script and Credential Types since AWX developer have not added this to AWX, even after a couple of years of people reporting this. I created the following script which is my updated version of the official openstack script, this allow the env we need.

[code]

And here is the Custom Credential.

[code]

Use this credential type along with the cus

[2020-12-23 16:49] garnser commented on #8975
The symptoms you're describing sounds similar to #8932.

Have a look in your browser console and see if you're seeing similar failures.

[2020-12-23 19:05] tstahnke2 commented on #8944
@jakemcdermott I've got a fix for this that's working in local, basically all that needs to happen is a QS_CONFIG that specifies page size (I set it to 2000), and pass the params to the .read() on the CredentialTypesAPI. Otherwise the default is used and it only pulls the first page without any params (which happens to be the most recent entries; or some other unsorted list, not sure exactly).

[2020-12-23 20:42] mrmibrown opened #8976 "The ansible.tower.tower_workflow_job_template collections module does not create a survey when the spec includes a textarea parameter."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The ansible.tower.tower_workflow_job_template collections module does not create a survey when the spec includes a textarea parameter.

##### ENVIRONMENT
* TOWER version: 3.8.0
* Ansible version:  3.9.15
* Operating System: RHEL v7.7
* Web Browser: Google Chrome v85.0.4183.83 (Official Build) (64-bit)

##### STEPS TO REPRODUCE
1)
Install the ansible-to

[2020-12-23 21:56] TheSecMaven commented on #286
I would've sold my soul in July, and i'd still sell it now.

[2020-12-23 23:23] al-lac opened #8977 "requirements.yml is ignored on project sync"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
  * AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9
* Operating System: CentOS 8
* Web Browser: -

##### STEPS TO REPRODUCE

* Create a repository with a roles/requirements.yml
* Add the Repository as a Git Project on AWX
* Sync the Project

##### EXPECTED RESULTS

* AWX should sync the dependencies

[2020-12-24 12:15] nv30 commented on #8960
Same here. Any updates or ETA?

[2020-12-24 12:54] supaflyster commented on #8977
just my 5cents, but as far as i remember requirements are synced only on job execution. Sio you have to trigger a job from a template, and then awx will pull the requirements. Syncing project skips it.

[2020-12-24 17:56] dimorozoff opened #8978 "Cant open running job in new tab from workflow view by right click on job block"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Cant open running job in new tab from workflow view by right click on job block
##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method:
* Ansible version:  2.9.15
* Operating System: win 7
* Web Browser: chrome/firefox

##### STEPS TO REPRODUCE
1. Launch workflow
2. move to workflow visualizer
3. right click on running of finished job block
4. "

[2020-12-24 20:16] aekiratli commented on #8863
Same thing happened to me, just give it a few min and run playbook again

[2020-12-25 00:57] al-lac commented on #8977
I think it needs to be synced with the project, otherwise i get the following error when trying to run templates:
[code]

[2020-12-25 03:20] fouram commented on #8960
This pull request adds the functionality to the new UI: https://github.com/ansible/awx/pull/8781
it looks like testing isn't complete yet but this is in the works and should be ready "soon"

EDIT: I should mention I'm not involved with the project in any way and this is just information i found poking around here trying to answer this same question.

[2020-12-25 07:08] ZEROYXY opened #8979 "Development Environment Build - DB Migration issue"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I am working on Building the AWX Development which has process to step "make docker-compose".
Then I found I am stucked by the DB Migration with the information as below:

awx_1       | [ -d "/awx_devel/awx.egg-info" ] || python3 /awx_devel/setup.py egg_info_dev
awx_1       | running egg_info_dev
awx_1       | creating awx.egg-info
awx_1       | writi

[2020-12-25 08:59] ZEROYXY commented on #8957
I found this is a network issue and I have passed this stage and got the images which I need

[2020-12-25 09:00] #8957 closed, assigned to nobody

[2020-12-25 09:24] supaflyster commented on #8977
You have in your role meta https://github.com/al-lac/ansible-role-chrony/blob/master/meta/main.yml
role_name: chrony
and you use it as
roles:
    - ansible-role-chrony

So it can't obviously find it.
You either put ansible-role-chrony in meta or specify name: ansible-role-chrony  in requirements.yml

[2020-12-25 10:58] al-lac commented on #8977
Ah yeah i am not using that repository. I am using my gitlab server for that. I changed both repositories to use my gitlab server now, changed the name in meta and requirements.yml. But still get the same error.
Both repositories available here:
https://gitlab.iamroot.at/al-lac/ansible-role-chrony
https://gitlab.iamroot.at/root/ansible-base-roles

[2020-12-25 15:46] thoben commented on #4438
My Apolgizes! I did forget about checking for any responses in this project. Even after one year.... - Are you still interested in getting the requested console output - if I'm able to reproduce the issue?

Again, my apologies..

Regards,

David

[2020-12-28 06:48] ZEROYXY commented on #8979
I know what this means and this issue can be closed

[2020-12-28 06:48] #8979 closed, assigned to nobody

[2020-12-28 10:05] stahloss opened #8981 "Workflow job template credentials"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We have a situation where we want to deploy a large set of services to a specific namespace on Openshift. Ultimately, this will involve starting a single workflow template will start a large amount of workflow jobs which in turn will start jobs what have default credentials set. This default credential is not the one we need to use at the workflow le

[2020-12-28 14:38] mick1627 opened #8982 "user creation by organisation admin with awx.awx.tower_user"
##### ISSUE TYPE
 - Only system administrator can create user with tower_user module from AWX collection.
 - Organisation admin can't create user that belong to their organisation with tower_user module from AWX collection.

##### SUMMARY
 Tower_user module from AWX collection use /api/v2/users/ endpoint to create user.
 Non system administrator received this error "You don't have permission to PO

[2020-12-28 16:13] KornKalle commented on #8977
Can confirm this behaviour.
Did a clean 16.0.0 install today and both requirements.yml in collections/ and roles/ getting skipped.

It gets skipped on project sync and when starting a job it also will fail with the same error message as shown above.
This leads to an unusable behaviour for us, as we can't even use community.general collection.

[2020-12-29 00:28] al-lac commented on #8977
Hi @KornKalle, what is the last version it worked for you? I also tried it with version 15 and got the same behaviour.

[2020-12-29 00:33] KornKalle commented on #8977
Last working Version for me was 11.1.0

[2020-12-29 09:20] ghost opened #8983 "Problem to display "variables" after migration AWX 16.0.0"
Hello,

Since I migrated to AWX 16.0.0, in differents browsers (Mozilla 84.0.1 / Chrome 87.0.4280.88 / Brave 1.18.75 / Opera 73.0.3856.260), I have a problem for displaying few variables "brandName" "pluralizedItemName" "dateStr" "username" etc...
(See in attachment).

I checked the logs in differents containers (awx_web & awx_task & awx_redis & awx_postgres).
I just find few errors in awx_web lik

[2020-12-29 09:38] ghost commented on #8983
Solution here : https://github.com/ansible/awx/issues/8884

[2020-12-29 09:38] #8983 closed, assigned to nobody

[2020-12-29 09:46] weironz opened #8984 "inventory hostname or alias"
inventory not support this type:

[code]

source import not success

[2020-12-29 09:49] weironz opened #8985 "awx read git inventory file"
support awx Read the inventory file in Git directly

when you create Templates you must choose a inventory, but i want use my git repo inventory directly.

[2020-12-29 10:05] supaflyster commented on #8977
We are using 15.0.1 (started with 1.0) and it was always working. I've just spun up clean 15.0.1 in vagrant, and added https://gitlab.iamroot.at/root/ansible-base-roles/ as a project, and run a template with  ansible-role-chrony.yml playbook, targeting localhost and it downloaded chrony role and started executing it.
<img width="1394" alt="Screenshot 2020-12-29 at 11 02 58" src="https://user-image

[2020-12-29 10:20] al-lac commented on #8977
I just added the project and template exactly like you did on one of our 15.0.1 instances. I still get the error that the role was not found when starting the template. We used the docker compose install method for this server.

[2020-12-29 11:34] alexandrovas commented on #8985
@willzhang You need to use Inventory Source for import inventory from project which stored in your Git.
See docs: https://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html

[2020-12-29 14:18] adrime92 commented on #6039
Hi @mmallet-digipok, i´m facing similar issue.

Any idea what could be happening?

I'm trying to implement your workaround but i'm facing the following error:

There is no root user in awx-web container, how did you manage to do that?

thx in advance!

[2020-12-29 14:57] t-readyroc opened #8986 "Collection: generate error if job template survey is rejected"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When creating a job template (or workflow job template) via the collection, generate an error if the template's associated survey spec is rejected.

Current behavior is to silently pass ("changed") while the survey is not added. Any malformation in the survey spec will result in the survey not being created along with the template, however, no error

[2020-12-29 15:09] t-readyroc opened #8987 "Collection: Job template surveys not created if survey includes multiplechoice with boolean choices"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Creation of a job template (or workflow job template) via the collection will not create the associated survey if the survey spec includes a multiplechoice question type with booleans as choices.

##### ENVIRONMENT
* Tower version 3.7.3
* Collection version: 3.8.0
* AWX install method: Ansible Tower Collection
* Ansible version:  2.10.3 & 2.9.15
* Oper

[2020-12-29 15:10] t-readyroc commented on #8986
See #8987 for what led me to create this issue.

[2020-12-29 15:23] t-readyroc commented on #8987
If I manually create a boolean multiplechoice via the UI, I find the following output in the API - it looks like the choices aren't parsed as a list, unlike the other example:

[code]

[2020-12-29 15:44] t-readyroc commented on #8987
The following survey spec allowed the survey to be created successfully. Quotes were required.

[code]

[2020-12-29 17:07] #8985 closed, assigned to nobody

[2020-12-30 01:11] weironz commented on #8984
can add :
[code]

[2020-12-30 01:11] #8984 closed, assigned to nobody

[2020-12-30 02:00] weironz opened #8988 "There are no available playbook directories in {project_base_dir}"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
There are no available playbook directories in {project_base_dir}

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version: 2.9.13
* Operating System: centos 7.8
* Web Browser: chrome

##### STEPS TO REPRODUCE

install AWX 16.0.0 with docker

##### EXPECTED RESULTS

when create projects support use Manual define

[2020-12-30 03:10] weironz commented on #8988
i know how to resolve

[code]

修改docker-compose.yml ，在web和task容器中挂载相同的卷

[code]

修改inventory配置文件，取消project\_data\_dir注释

[code]

重新部署awx

[code]
在主机/var/lib/awx/projects目录下创建自己的playbooks项目

[code]

[code]

[2020-12-30 03:10] #8988 closed, assigned to nobody

[2020-12-30 12:33] KornKalle commented on #8977
Same still for me. It was still working pre-upgrade on 11.1.0, so I would rather like to get some information how we can reproduce this behavior.
I also used the docker compose install method on Debian Buster with docker 19.03.12

[2020-12-30 13:19] Git-Durgesh opened #8989 "maven_artifacts module artifacts download issue with -bin-tar.gz extension from nexus repository"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
maven_artifacts module artifacts issue- how do we download any artifacts with -bin-tar.gz extension from nexus repository

A small query, how we can use extension for this type of artifacts artifact_name-version-bin.tar.gz while downloading the artifacts from nexus by using maven_artifacts module in ansible playbook
- na

[2020-12-30 14:35] hjkatz commented on #4089
We are affected by this issue as well. Are there any plans for enhancements here?

[2020-12-30 16:56] chicuongha opened #8990 "Selected venv is not applied for project update"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have multiple venv with different ansible versions.
When I select different venv for a project.
Project update doesn't use any venv, only the system one.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: openshift

[2020-12-30 19:16] hjkatz commented on #5720
We are also affected by this issue.

[2020-12-31 18:29] ghost opened #8991 "Expose Extra Var information in Jobs List Search"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Need more columns or options in Jobs to help filter through multiple jobs running the same workflow or template. Currently we have jobs that have failed and not caught for a day or two and then a user has to go through at times pages of Jobs to find their specific failed job. If we could have a column where a specific extr

[2021-01-03 23:27] unlikelyzero commented on #8884
To test:
Update corner-cases.spec.js with a test to switch the browser to russian and load the dashboard or login screen using a test similar to https://github.com/ansible/tower-qa/blob/05ab4b72a5ac2ccae4fcb8a4acaa2b795db88be4/ui-tests/awx-pf-tests/cypress/visualintegration/translation.spec.js#L14-L25

[2021-01-04 04:11] ghost commented on #8977
From 15.0 onwards, there has been a change made to how the sync works (instead of global to per-org), by default an org has no credentials hence it does not honor requirements.yml, you might want to try creating a dummy galaxy credential (it's required even if you don't use galaxy) and associating it to your org via the API as mentioned here https://github.com/ansible/awx/issues/8341

[2021-01-04 07:47] apollo13 commented on #8902
@unlikelyzero Can you move this back to "Backlog" so it gets picked up? I accidentally moved it to "In Progess" via close/open.

[2021-01-04 09:54] pfrayer opened #8993 "Add ability to disable SSL/HTTPS for websocket"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When running AWX with several nodes (instance groups), it could be nice to add the ability to disable SSL/HTTPS for websocket communication between nodes.

Here is an overview of my setup:
![awx](https://user-images.githubusercontent.com/7125014/103521923-dff02a00-4e79-11eb-9e68-a33dc93e60a7.png)

- I run several AWX instances on different nodes, run

[2021-01-04 11:11] noesberger commented on #8572
Hi, did you found a solution? I have the same problem. I have custom collections in a internal git and I can't specify them in the requirements file, because this is a feature of 2.10. I need to find a way to use Ansible 2.10 also for Project syncs.

[2021-01-04 12:01] dimovstanimir opened #8994 "AWX 16.0.0 UI not auto refreshing job output"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Once I launch a template job the output of the job is not refreshing automatically and I need to click multiple times refresh so I can track the status of the job. Even if the job has finished I am not getting a single output line unless I refresh the browser.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: do

[2021-01-04 15:17] al-lac commented on #8977
@constreference thanks a lot! That solved it for me.

I had to create a new (dummy) galaxy credential and associate it with my org via the api.

Get galaxy credential:
[code]

Associate galaxy credential to org (returns 204 on success):
[code]

This change should really be better documented somewhere. An option to do the association via the UI should be implemented soon as well.

[2021-01-04 15:18] hjkatz opened #8995 "Job Failure Explanations `job_explanation` field not shown"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The Job's `job_explanation` field is not shown in any of the following places:
* DEBUG log output of `awx-task` (this is the entire log output of `awx-task` when the Job is launched)
[code]
* Details of failed Job UI page
![image](https://user-images.githubusercontent.com/2234516/103549748-dbc20d80-4e75-11eb-96a5-96794e64e126.png)

* Output of failed

[2021-01-04 15:24] unlikelyzero commented on #8902
@apollo13 thanks for filing this. It turns out that this is already a known gap in the current implementation. You can subscribe to https://github.com/ansible/awx/issues/7015 to see when it's going to be merged and available in devel!

[2021-01-04 15:25] #8902 closed, assigned to nobody

[2021-01-04 15:40] unlikelyzero commented on #8995
@hjkatz thanks for filing this issue. We have an existing issue to cover this missing functionality: https://github.com/ansible/awx/issues/8709 Please subscribe to it for updates and let us know on that ticket if there's any other missing fields!

[2021-01-04 15:40] #8995 closed, assigned to nobody

[2021-01-04 15:43] hjkatz commented on #8995
Thanks! I wasn't sure if the issue was reporting the same UI error, but now I see that it is.

[2021-01-04 15:48] unlikelyzero commented on #8965
@jetxeberria thank you for filing this issue. That functionality was not yet ready for 16.0.0 and is now in devel https://github.com/ansible/awx/commit/20231041e60e83e4e79c6d0811219f0a31acc638 and will be available in the next release!

[2021-01-04 15:48] #8965 closed, assigned to nobody

[2021-01-04 15:51] unlikelyzero commented on #8975
Thanks @nicolaibaralmueller for filing the issue. @garnser is right, you're likely hitting a known issue which will be available in the next release. I'll close this for now. If you find other reproduction steps, please re-open this issue or file another!

[2021-01-04 15:51] #8975 closed, assigned to nobody

[2021-01-04 15:54] unlikelyzero commented on #8978
@dimorozoff Thanks for filing this issue! It sounds like you've encountered an existing issue which is already tested and fixed in devel. https://github.com/ansible/awx/issues/8881 Please look out for the next awx release to see if the problem persists

[2021-01-04 15:57] unlikelyzero commented on #8991
@Griamce0385 that sounds like an excellent usecase for Job Template Advanced Search in the new UI available in 16.0.0! Have you tried creating that query on the jobs list page?

[2021-01-04 15:57] ryanpetrello commented on #8993
@pfrayer,

Do these give you what you want?

[code]

[2021-01-04 15:59] unlikelyzero commented on #8994
@dimovstanimir  Thanks for filing this issue! It sounds like you've encountered an existing issue which is already tested and fixed in devel. #8881 Please look out for the next awx release to see if the problem persists. Feel free to reopen this issue or file another

[2021-01-04 15:59] #8994 closed, assigned to nobody

[2021-01-04 16:02] unlikelyzero commented on #8978
@dimorozoff thank you for filing this issue! This is actually a consequence of a functionality which is under active development. To track that work, please follow and subscribe to this issue! https://github.com/ansible/awx/issues/8374

[2021-01-04 16:02] #8978 closed, assigned to nobody

[2021-01-04 16:04] unlikelyzero commented on #8940
Note: we'd also like to have this in QE

[2021-01-04 16:06] unlikelyzero commented on #8960
@fouram is exactly right! We're testing this as we speak. Tests which required external infrastructure or modify global state seem to take the longest. :)

Hope to see it in the next release! I'm going to close this issue so that we can follow it here https://github.com/ansible/awx/pull/8781, https://github.com/ansible/awx/issues/8291, and on awx releases.

https://github.com/ansible/awx/issues/89

[2021-01-04 16:06] #8960 closed, assigned to nobody

[2021-01-04 16:13] #8955 closed, assigned to nobody

[2021-01-04 16:43] dimovstanimir commented on #8994
Thanks for the fast response John. I'll try with the next release and see if it happens again.

By the way, do you know when is the new release expected?

[2021-01-04 16:51] ryanpetrello commented on #8893
Hey @mporracindie,

Not sure what got your postgres into this state, but it doesn't look like an awx-specific issue; you'll probably have to do some spelunking to figure out how to get your postgres back into a working state (and that's not the type of thing we assist with on this community issue tracker).

[2021-01-04 16:51] #8893 closed, assigned to nobody

[2021-01-04 16:51] unlikelyzero commented on #8994
@dimovstanimir not sure. I'd just subscribe to the github releases subscription service to find out. Are you set up to autodeploy on awx release changes?

[2021-01-04 17:59] wenottingham commented on #8964
Hi - we are actively moving away from custom venvs, so this is unlikely to be changed in current AWX (as this isn't one of our direct dependencies).

[2021-01-04 17:59] #8964 closed, assigned to nobody

[2021-01-04 18:01] wenottingham commented on #8969
That process is mostly correct, but you'd want to do that in a fork on GitHub. See https://opensource.com/article/19/7/create-pull-request-github

I would note that @shanemcd has been doing work on refactoring the image build , so there may be some overlap here.

[2021-01-04 18:02] wenottingham commented on #8974
Hi -
This isn't relevant for AWX itself, and should probably be tracked in a downstream repo.

[2021-01-04 18:02] #8974 closed, assigned to nobody

[2021-01-04 18:02] wenottingham commented on #8976
See https://github.com/ansible/awx/issues/8945#issuecomment-748326229, this isn't a valid survey spec.

[2021-01-04 18:02] #8976 closed, assigned to nobody

[2021-01-04 18:06] wenottingham commented on #8981
-> #7859

[2021-01-04 18:06] #8981 closed, assigned to nobody

[2021-01-04 18:07] shanemcd commented on #8969
We would welcome a PR to add Buildah support, but this would need to be exposed an a configurable (non-default) option. Most folks don't use Buildah, and it is not as widely available as Docker is.

Perhaps you could detect if Docker is installed, if not, then check for Buildah.

I would also encourage you to consider `podman build`, as this is more of a drop-in replacement than calling `buildah b

[2021-01-04 18:07] wenottingham commented on #8989
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

The issue you filed appears to be in an Ansible module itself, and should be filed at https://github.com/ansible-collections/community.general.

[2021-01-04 18:07] #8989 closed, assigned to nobody

[2021-01-04 18:09] wenottingham commented on #8986
This would help with things like https://github.com/ansible/awx/issues/8945 and  https://github.com/ansible/awx/issues/8976

[2021-01-04 18:13] wenottingham commented on #8990
See #8572

[2021-01-04 18:13] #8990 closed, assigned to nobody

[2021-01-04 19:11] ghost commented on #8969
@wenottingham Thanks a lot! This article looks like the sort of explaination I was searching for :-)

@shanemcd I think you are right. And since I am half way there with buildah anyway, I will simply do both. It's not so much of an extra effort.

So my proposed solution would roughly look like this and your feedback is obviously much appreciated:

**Inventory**

1. Add 2 extra Variables, one for t

[2021-01-04 19:16] shanemcd commented on #8969
@it-baschtler In case you didn't see the open PR before it merged this morning, check this out: https://github.com/ansible/awx/pull/8980. It removed a lot of code from the image_build role, and will probably require you to rebase.

Regarding changes to local_docker, this install path will be going away in the not-too-distant future. See this thread for more information: https://groups.google.com/g

[2021-01-04 19:24] ghost commented on #8969
@shanemcd Thanks for the hint, will do. If the local_docker is going byebye anyways, I will not look at this for the moment.

Will try to get the changes in sometime later this week, depending on how time permits.

[2021-01-04 19:37] AlanCoding commented on #8977
@ryanpetrello can you review the solution here and triage this issue? This could go in a couple directions ui_next/installer/etc.

[2021-01-04 19:43] ryanpetrello commented on #8977
@AlanCoding yep, the need to explicitly associate a public Galaxy credential is a change we made in a recent version of awx - and @al-lac's comment is an example of how to do that correctly.

It's explicitly called out as the top line item in the awx changelog for the version where this changed:

https://github.com/ansible/awx/commit/faf0fa904033b59a4b9be02c04efb24d2b36f281
https://github.com/ansi

[2021-01-04 19:44] ryanpetrello commented on #8977
Duplicate of https://github.com/ansible/awx/issues/8341, see https://github.com/ansible/awx/issues/8341#issuecomment-707310633

[2021-01-04 19:44] #8977 closed, assigned to nobody

[2021-01-04 20:52] jeremywinder commented on #8427
I am having the same issue, data/configs wiped, when re-running the 'ansible-playbook -i inventory install.yml -e @vars.yaml' against an existing 15.0.1 install.

[2021-01-04 21:40] elyezer commented on #8741
I was able to verify this by doing the following:

1. Created an inventory and an EC2 inventory source with overwrite option checked (no source vars)
2. Synced the inventory source
3. Synced again and made sure hosts were not removed and added by watching the output and checking that hosts with a given name was added with another ID

See below a sample trimmed output:

[code]

[2021-01-04 21:40] #8741 closed, assigned to elyezer

[2021-01-04 21:50] cnukwas opened #8997 "Changes required for Ansible playbook to use custom AWX docker image"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I see mention of docker_registry_repository to pull and push images to docker or other private registry, but don't see any information on how to pull AWX images from a private registry other than public docker hub registry.

We're setting up AWX but unable to build our own docker images for Kubernetes environment since our network is very restrictiv

[2021-01-05 03:07] anolan80 commented on #8964
sorry I've moved past that and am in a better place.  I dont have a helm
chart for tgis do you?

On Mon, Jan 4, 2021, 12:59 PM Bill Nottingham <notifications@github.com>
wrote:

[2021-01-05 07:07] dimovstanimir commented on #8994
No and I don't know how to setup for the autodeploy of awx release changes.

Can you walk me through it?

[2021-01-05 09:09] pfrayer commented on #8993
Hello @ryanpetrello

Yes it does ! I didn't knew these settings exist. Are they documented somewhere ?

Anyway thanks a lot, websocket broadcast works in my setup now :+1:

[2021-01-05 09:09] #8993 closed, assigned to nobody

[2021-01-05 10:58] aelbarkani commented on #7060
is this evolution still active ?

[2021-01-05 11:09] gmtime opened #8998 "UI: Broken link: Clicking on "User Details" gives 404 Page Not Found"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Clicking on "User Details" in the upper right page corner gives 404 Page Not Found.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Operating System: Linux
* Web Browser: any

##### STEPS TO REPRODUCE

1. login into AWX
2. click on the user name in the top right corner
3. select User Details from the dropdown menu

####

[2021-01-05 11:20] gmtime opened #8999 "UI: Cannot Add/Edit/View Custom Inventory Scripts"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Until 15.0.1 it was possible to add and manage Custom Inventory Scripts. After upgrading to 16.0.0 there seem to be no way to add/view/edit custom scripts.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Operating System: Linux
* Web Browser: any

##### STEPS TO REPRODUCE

1. login into AWX
2. go to Inventories
3. click

[2021-01-05 13:07] #5683 closed, assigned to mabashian

[2021-01-05 13:36] ryanpetrello commented on #8997
Hey @cnukwas,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-01-05 13:36] #8997 closed, assigned to nobody

[2021-01-05 13:41] ThePowershellNinja commented on #8991
@unlikelyzero, I work with @Griamce0385 and we just made the upgrade last night and it isn't quite what we are asking for. We are using AWX to drive our server provisioning process. From the jobs view, we could see hundreds of jobs that all say 'Commission Server'. The ask for us in this specific scenario is to be allowed to select certain data to display on each row of the Jobs view to identify w

[2021-01-05 14:07] AlexSCorey commented on #8999
@gmtime Inventory Scripts was deprecated in the new UI but is still available via the API.  However, we do plan to deprecate them in the API as well.

[2021-01-05 14:08] #8999 closed, assigned to nobody

[2021-01-05 14:10] unlikelyzero commented on #5683
covered in https://github.com/ansible/tower-qa/pull/5829

[2021-01-05 14:13] unlikelyzero commented on #8478
Going to close this in favor of https://github.com/ansible/awx/issues/8998

[2021-01-05 14:13] #8478 closed, assigned to jlmitch5

[2021-01-05 14:14] unlikelyzero commented on #8998
closing https://github.com/ansible/awx/issues/8478 as this ticket is more readily discoverable

[2021-01-05 14:43] ThePowershellNinja commented on #8991
Or if the filtering system could let us search by a variable (in an extra var). Something like 'extravars.computername == "myservername"'.

If this is possible in the UI, is there some documentation somewhere on how we can make it happen?

[2021-01-05 16:10] gmtime opened #9007 "Add HTTP Inventory Source"
##### ISSUE TYPE
 - Since Custom Inventory Scripts are deprecated, it would be nice to be able to fetch a JSON inventory file from a remote URL

##### SUMMARY
 - Custom Inventory Scripts are deprecated. Adding an inventory file into SCM is an option, but it doesn't quite work in fast changing environments (in fact it works, but it's painful)

[2021-01-05 16:57] tiagodread commented on #8603
Tests covered by https://github.com/ansible/tower-qa/pull/5831

[2021-01-05 16:57] #8603 closed, assigned to AlexSCorey

[2021-01-05 18:36] kdelee commented on #4540
Having trouble verifying

I added a `roles/requirements.yaml` file here https://github.com/ansible/test-playbooks/pull/163

Made a project pointed to that branch of a fresh build of devel, but although looks like it is getting the right revision, not seeing the role download:

[code]

[2021-01-05 19:02] unlikelyzero opened #9010 "Elements in a row shift on table sort action"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Elements in a row shift on table sort action

##### ENVIRONMENT
* AWX version: 96a7fe0035427774f4eac93983cbb887ab275a42

##### STEPS TO REPRODUCE
1. Navigate to a page with a table view
2. Click on sort
Note: the tables shifts

##### EXPECTED RESULTS
Table not to shift
##### ACTUAL RESULTS
Elements shift

##### ADDITIONAL INFORMATION
![Screen Recording

[2021-01-05 19:46] kdelee commented on #4540
Ok I figured out what I was doing wrong, I needed to add a galaxy credential to the organization. Now it is working. Closing this as verified. Filed https://github.com/ansible/tower/issues/4775 for docs updates and possibly some debug output or UI tool tip updates to help users find out about this behavior change.

[2021-01-05 19:46] #4540 closed, assigned to thedoubl3j, kdelee

[2021-01-05 20:41] unlikelyzero commented on #8840
create organization & user in the organization
alan - alan
john - john
now create a “john credential” - a credential where you set the organization to “john”
now give alan any role to the “john credential”

[2021-01-05 21:01] cnukwas commented on #8997
Sure, not seeing much traction there, will still give a try or go with a workaround.

[2021-01-05 21:06] kdelee commented on #8459
Working well here with latest collection built from awx
Created an inventory with two groups, one with one host.

inventory file:
[code]

`ansible-inventory -i tower.yml --graph`
[code]

[2021-01-05 21:06] #8459 closed, assigned to nobody

[2021-01-05 21:50] chrismeyersfsu opened #9012 "Observability and metrics - Save to Redis"
TL;DR Store metrics in Redis so they are accessible to the API.

Metrics live in various process spaces but we want to display/view them via other process memory spaces. For example, metrics about the task manager come from a dispatcher process that runs task manager code. The dispatcher processes space may be short lived. We want to present or view, in the API, the metrics that occur in the task

[2021-01-05 22:13] AlexSCorey opened #9013 "Notify user that a sync has started and completed"
On the details view for Inventory Sources the user can click a sync button.  There is no notification to the user of the start, success, or failure of that action.  We should notify the user some how.  Consider adding websockets to this view and rendering the JobCancelButton when syncing is in progress.  https://github.com/ansible/awx/pull/10113

##### ISSUE TYPE
 - Feature Idea

[2021-01-05 23:10] AlexSCorey opened #9014 "User can add multiple Vault Credentials with same Vault ID to job template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A user can end up with a job template that has multiple vault credentials that have the same vault ID.

##### ENVIRONMENT
* AWX version: 14.1
* AWX install method:  docker for mac
* Ansible version:  2.9.16
* Operating System:Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create 2 vault credentials with different vault IDs.  Add them both to a

[2021-01-06 09:22] weixiangkoh commented on #8878
May i know if this has been fixed on the latest update?

[2021-01-06 09:49] ghost opened #9015 "UI: Clicking on "Management Jobs" gives blank page"
ISSUE TYPE
Bug Report
SUMMARY
Clicking on "Management Jobs" in the left corner gives blank page.

ENVIRONMENT
AWX version: 16.0.0
AWX install method: docker on linux
Operating System: Linux
Web Browser: any
STEPS TO REPRODUCE
login into AWX
click on the Management Jobs in the left corner

EXPECTED RESULTS
Management Jobs menu

ACTUAL RESULTS
Empty page

ADDITIONAL INFORMATION

![image](https://use

[2021-01-06 14:47] davidtluong opened #9016 "UI: Timeout for job template reads like ANSIBLE_TIMEOUT but it's for job, not just task"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When clicking on the `?` for TIMEOUT for job template reads like `ANSIBLE_TIMEOUT` but it's for job, not just task.  Can lead to confusion if left alone.

##### ENVIRONMENT
* AWX version: latest

##### STEPS TO REPRODUCE

 Click on the `?` for TIMEOUT for job template and read text

##### EXPECTED RESULTS

The amount of time (in seconds) to run

[2021-01-06 15:00] #9016 closed, assigned to nobody

[2021-01-06 15:10] jakemcdermott commented on #9015
Hello! The code for the management jobs view hasn't been merged into devel yet, but will be soon. It'll be added in one of the upcoming AWX releases.

see: https://github.com/ansible/awx/issues/8488

[2021-01-06 15:10] #9015 closed, assigned to nobody

[2021-01-06 15:18] jakemcdermott commented on #9014
Discussed w/ the api team. Current plan is to make the vault-id non-editable, like we do for credential type.

[2021-01-06 15:19] unlikelyzero commented on #9013
Marking as enhancement instead of feature as this is not required for feature parity

[2021-01-06 15:55] nifr commented on #9007
Inventory scripts themselves are not deprecated.
You can still use inventory scripts stored inside SCM projects as "Sources" in an inventory.

Only the option "Custom Inventory Script" that stores the script content in awx's database - making it editable via REST API / in the UI - was deprecated.
It makes sense to put your inventory scripts under version control in general.

1. create a SCM reposi

[2021-01-06 16:50] alee-cc opened #9018 "Install fails during task "image_build : Build AWX distribution using container""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Install fails during task "image_build : Build AWX distribution using container"

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operating System: Ubuntu 20.04.1
* Web Browser: N/A

##### STEPS TO REPRODUCE

I followed the install steps on https://github.com/ansible/awx/blob/devel/INSTALL.md#do

[2021-01-06 17:09] chrismeyersfsu opened #9019 "Observability and metrics - Surface metrics prometheus friendly"
Websockets contain an [example](https://github.com/ansible/awx/blob/devel/awx/main/analytics/broadcast_websocket.py#L121) of Prometheus data structures serialized, deserialized & [exposed via a Prometheus endpoint](https://github.com/chrismeyersfsu/awx/commit/b58c71bb74bd5f5c836f88daa3d7806ff68cea47#diff-497de0f3f551df8d0333aa7a3d2cae353a08d4e2b500ca122195bafda82f6d3b).  We want to do the same for

[2021-01-06 17:14] hjkatz commented on #8788
I'm not sure if this is related or if it should be reported as a new issue, however, when editing a template for a Project that has SCM branch override enabled, sometimes the SCM branch override input is missing.

Expected UI:
![image](https://user-images.githubusercontent.com/2234516/103798946-6478af00-5018-11eb-851b-cc73368edebb.png)

When I select a playbook:
![image](https://user-images.github

[2021-01-06 17:15] chrismeyersfsu opened #9020 "Observability and metrics - Broadcast metrics to all Tower nodes"
AWX currently exposes Prometheus metrics. Any node in AWX can serve the same set of metrics. It is not required to hit each AWX node in order to get the complete metrics picture. In order to continue with this pattern, every node will need to know every other nodes metric data.

Luckily we already have a mechanism for exchanging data between AWX nodes, the websocket broadcast backplane. https://gi

[2021-01-06 17:26] chrismeyersfsu opened #9021 "Observability and metrics - periodically output metrics to log file"
We'd like to still extract value from the metrics feature when users don't have Prometheus gathering over time. To this end, we can periodically output the metrics to a file using a circular buffer (or python logging log rotation). The metric logs can be exported from the AWX system via SOSReport of manual copying and fed into sosreport-elk for offline analysis of past metric performance data http

[2021-01-06 18:06] chrismeyersfsu opened #9022 "Observability and metrics - sosreport-elk reconstruct metrics"
Take metric(s) files from AWX and feed them into ELK via. elasticsearch filebeat. This will require adding a filebeat module or extending the existing tower module. https://github.com/chrismeyersfsu/sosreport-elk/blob/master/module/tower/tower/ingest/pipeline.yml

By adding support for metrics to sosreport-elk the metrics can be overlayed with the AWX log messages in a time series graph.

https://

[2021-01-06 18:15] chrismeyersfsu opened #9023 "Support - Document & streamline existing tooling"
AWX ships with a set of tools that can aid in debugging production problems. We should document the tools. There is some current documentation here https://github.com/ansible/awx/blob/devel/docs/debugging.md

Tool | Description | Class
-- | -- | --
awx-manage callback_stats | Continuously print the number of events processed in the last minute. | metrics
awx-manage run_wsbroadcast --status | Print

[2021-01-06 18:20] chrismeyersfsu opened #9024 "Support - Enable / Disable all existing tracing without restarting Tower"
`awx-manage profile_sql` is an example where we do not have to restart tower to enable tracing/profiling. Another example is external logging both debug level and enable/disable. `settings.AWX_CALLBACK_PROFILE` is an example of tracing we would like to control without restarting AWX.

`profile_sql` is nice because it emits a message over the message bus to all AWX nodes to enable the feature. This

[2021-01-06 18:21] chrismeyersfsu opened #9025 "Support - Instrument profiling into all Tower subsytems"
`settings.AWX_CALLBACK_PROFILE` is an example of profiling for the callback receiver subsystem. We want to have profiling for other AWX subsystem:
* task manager
* dispatcher
* API
* websockets

The profiling should use the generic on/off method that is decided on as a result of https://github.com/ansible/awx/issues/9024

[2021-01-06 18:24] chrismeyersfsu opened #9026 "Support - Document & streamline gdb experience"
When helping a user debug AWX we sometimes need to invoke gdb to get at the python stack trace. This requires installing system level packages like gcc and magic debug symbols. The minimum we should do is document this process. Ideally, we make the process better (i.e. less steps) by maybe including some of the needed packages.

[2021-01-06 18:58] hjkatz opened #9027 "Exception during Project update triggered from Job launch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When launching a Job that triggers a Project update the Project update (and the original Job) both fail.

There is an exception in the `awx-task` logs:
[code]

The full related output of `awx-task`:
[code]

In this case the original Job is 353 and the Project update Job is 354, however, Job 354 _does not exist_ in the API or in the UI, See:
![image](h

[2021-01-06 19:31] AlanCoding commented on #7060
Yes, covered by https://github.com/ansible/awx/pull/8030

[2021-01-06 19:58] tiagodread commented on #8289
Tests covered by https://github.com/ansible/tower-qa/pull/5833

[2021-01-06 19:58] #8289 closed, assigned to marshmalien

[2021-01-06 21:49] mabashian commented on #8998
Looks like we need to change this line: https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/AppContainer/PageHeaderToolbar.jsx#L93-L95

to:

[code]

@AlexSCorey

[2021-01-06 21:50] mabashian commented on #8933
This will be fixed by https://github.com/ansible/awx/pull/9028

[2021-01-06 22:15] l3ender commented on #2462
We're facing this using Tower version 3.6 and running a job template specifying a virtual environment. The playbook runs on localhost with `connection: local`.

It works if we set `ansible_python_interpreter: /usr/bin/python3` for the inventory, but is there a way to have it infer the python version/path from the virtual environment?

[2021-01-07 07:28] zdriic opened #9029 "Issue on a scheduled job - Error spawning scheduled job."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Job remains pending with the status "NEW"

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: Ubuntu
* Web Browser: Firefox

**External DB on SLES12 and DBaaS**

##### STEPS TO REPRODUCE

From AWX, I scheduled a job to update an inventory (dynamic via python script) but this job so

[2021-01-07 08:22] jean-christophe-manciot opened #9030 "Harden admin login security"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
awx: 16.0.0

Considering that:
1. admin username cannot be changed or removed and replaced by another system administrator with a random username only known to the legitimate system admin
2. admin password can be potentially cracked with a brute-force attack

I propose to harden the security of the admin login process by:
1. limiting the number of un

[2021-01-07 09:00] piotrplenik opened #9031 "Add support for AWS Session Manager"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add AWS Session Manager library to establish connection to EC2 Windows and Linux Instances.

##### Documentation:

 - https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager.html
 - https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-working-with-install-plugin.html

[2021-01-07 10:06] rockandska opened #9033 "[FR][WORKFLOWS] Allow user to see jobs logs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Not sure if it was implemented since i use an old version of AWX, but didn't find any related in awx issues and tower documentation.

I was expecting by give "execution" permission on a workflow to user, to let him only see the workflows he has access.
But unfortunately, event if the workflow seems to works, the user can't see the jobs logs of the w

[2021-01-07 10:31] ericzolf opened #9034 "User guide doesn't list injections offered by standard credential types"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - UI

##### SUMMARY

The [Tower/AWX user guide](https://docs.ansible.com/ansible-tower/latest/html/userguide/credentials.html#credential-types) should describe which variables/environment variables/files are injected for each credential type. This is currently only the case for some of them. It makes it next to impossible to use those cred

[2021-01-07 12:37] tp199314 commented on #8310
Hi there,

at first, thank you very much for this helpful discussion.

I tried your solution @wenottingham this is the result:
"Failed to update notifier. Field 'artifacts' unavailable.

I added to the "Success message body" the following line:
{{ artifacts }}

We are on AWX 12.0.0 and Ansible 2.9.9. Is this an issue?

[2021-01-07 13:50] christian-steinmeyer commented on #8310
@tp199314 AWX 12 does not have the artifacts field yet. We upgraded to 15 (it was introduced somewhere in between) and can now access it. If you upgrade, make sure to make (at least one) backup of your postgres db and read up a little before going through with it. Our update took a couple tries...

[2021-01-07 14:34] mabashian commented on #8915
@adpavlov thanks for reporting this.  https://github.com/ansible/awx/pull/9035 should add this functionality back in to the details view.

[2021-01-07 15:17] hjkatz opened #9036 "Auditors cannot view Instance Groups in UI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Logged in as an admin I can see the following at `/instance_groups`

![image](https://user-images.githubusercontent.com/2234516/103909233-723e3b00-50d1-11eb-8888-c98d820f8c8c.png)

Logged in as an auditor I see the following at `/instance_groups`

![image](https://user-images.githubusercontent.com/2234516/103909260-7b2f0c80-50d1-11eb-84ba-9c9b44ad4531

[2021-01-07 17:31] unlikelyzero commented on #8931
@abel-ops try deleting the web container and tools_awx_1 and redeploy with docker-compose

[2021-01-07 18:09] kdelee commented on #7062
@rebeccahhh is this what you are planning on working on this first sprint?

[2021-01-07 18:30] ryanpetrello opened #9039 "Implement PostgreSQL event partitioning for better performance and manageability"
Users of awx are storing increasingly large amounts of event data (which are emitted any time an Ansible playbook, inventory, or any other automation unit is run).  Currently, events are stored in a set of tables by category, which by default grow in a fairly unbounded way:

[code]

Over time, our largest users have begun to encounter growing pains managing this data.  A number of critical compone

[2021-01-07 18:31] ryanpetrello commented on #5590
I'm going to close this, and replace it with this better description of the problem, and our intended solution:

https://github.com/ansible/awx/issues/9039

[2021-01-07 18:31] #5590 closed, assigned to nobody

[2021-01-07 18:33] ryanpetrello commented on #9039
related issues:

https://github.com/ansible/awx/issues/6680
https://github.com/ansible/tower/issues/4693

[2021-01-07 19:02] wenottingham commented on #9029
Apologies, but AWX 9.x is very old, and we do not fix issues with older releases. Can you reproduce this behavior on AWX 16?

[2021-01-07 19:03] wenottingham commented on #9030
This is what integration into a 3rd-party IDP is for; that way these restrictions (and others) can be set and controlled at an organization level for all users.

[2021-01-07 19:03] #9030 closed, assigned to nobody

[2021-01-07 19:05] wenottingham commented on #9031
Repeating comment from the PR:

We are unlikely to add this to the base image unless https://docs.ansible.com/ansible/latest/collections/community/aws/aws_ssm_connection.html is moved to the core supported set of connection plugins.

In the future, when execution environments are available (https://github.com/ansible/awx/issues/5157), this would be the sort of thing that would go into an execution

[2021-01-07 19:15] ryanpetrello commented on #9039
One open question is "what do we partition on".

There is an upper limit to **total** partitions where we start to lose some of the benefits of partitioning.  So we wouldn't want to e.g., partition by minute, or partition by something that had the potential to grow in a large, unbounded way, like the ID of the job itself.  Partitioning on dates also makes some sense, because many of our operations

[2021-01-07 19:23] wenottingham commented on #9033
I believe this is intentional - this is the only way you can delegate access to run a workflow without delegating some sort of view access on the individual templates. cc @AlanCoding ?

[2021-01-07 19:40] AlanCoding commented on #9033
Correct, these are managed separately. The UI should be savvy to the fact that users viewing a workflow may get 403s following links for templates or jobs therein.

As an enhancement, it's possible that we could add new roles for workflows that give roles to job templates or other things in it, but this would be a many-to-many mapping, which we have never done in any other scenario.

[2021-01-07 19:53] tiagodread commented on #8532
Covered by https://github.com/ansible/tower-qa/pull/5837

[2021-01-07 19:53] #8532 closed, assigned to AlexSCorey

[2021-01-07 21:55] nixocio opened #9041 "Add location to different page titles"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add titles to different pages. Right now all the pages are displaying the same title `Ansible AWX`.

[2021-01-07 22:14] alee-cc commented on #9018
When I got this error, I was building the image and not using Docker Hub. Using Docker Hub, I don't get this error. Not sure if this issue should be left opened or not.

[2021-01-07 22:15] ryanpetrello commented on #9039
cc @psuriset @jhutar

[2021-01-08 06:15] jean-christophe-manciot commented on #9030
One of us is missing something:
- I am fully aware of the 3rd party IDP integration possibility with AWX.
- But how do you control access at the same time to the "Welcome to Ansible AWX! Please Sign In." login page?

[2021-01-08 08:55] zdriic commented on #9029
I'm still using the latest version of AWX 9.3.0 with rabbitmq because as soon as we tested AWX with reddis and an external DBaaS, we had problems running the jobs (see 7253 ) but I don't think this job scheduling issue is due to the rabbitmq (maybe I'm wrong ! :-) )

[2021-01-08 09:47] Ladas commented on #9039
@ryanpetrello

**ad 1)** I am experimenting with declarative partitioning, which should be able to use any timestamps (I am using just dates now)

so something like:
[code]

We can put here any ranges, for analytics I was thinking about making the ranges dynamic, based on introspection. The idea is that for small customer we should have partitions with bigger intervals (or ideally just 1 table rea

[2021-01-08 10:22] zyayun opened #9042 "How to import role tags to awx?"
##### ISSUE TYPE
 - I hava exist some ansible role,I want to import tags of role to awx。Please help me,How to do ？

##### SUMMARY

[2021-01-08 10:50] jhutar commented on #9039
I think we most frequently access the data via `job_id=XY`, so what about partitioning by that?

[2021-01-08 11:17] jhutar commented on #9039
You Ladas and Ryan have much bigger insight into this, but for me, I think we lack some way how to measure a success here (well, this sounds like first chapter of "How to become a PM in 100 easy steps" book). What about defining some benchmark? If we have some, we can help with measuring different variants.

I was thinking about something like:

1. Populate the table with this file and measure tim

[2021-01-08 13:05] ryanpetrello commented on #9039
@jhutar

This would likely result in too many partitions for Postgres to handle (some users run tens or hundreds of millions of jobs over time).

[2021-01-08 13:07] ryanpetrello commented on #9039
@Ladas thanks for your comment, it’s very helpful.  Regarding creating new partitions, one thought I had was maybe we could do partition creation *when a job is created*.  In other words, when we know a job’s creation date, we could use e.g., an advisory lock to make sure the appropriate ranged partition for that hour existed.  In this way, we’d only create partitions we needed; if you ran zero jo

[2021-01-08 13:22] ryanpetrello commented on #9039
@jhutar

Yep, I think we’ll want to set up environments with 1B+ events and measure the timing of some of these outlined use cases as you suggested, and then compare the same operations in the new version with *new* data that’s partitioned hourly e.g.,

1. Prefill 1B+ events with some ~old creation date.
2. Run a new job and measure event write latency, measure API responsive for events associated

[2021-01-08 14:41] gamuniz commented on #9039
@ryanpetrello in my experience users which utilize awx at scale are only interested in current failures with minimal historical dataset. Currently job events captured from ansible itself are very verbose and can turn a 2kb output file into a 10mb job events entry. So they're shipping those logs into an aggregator rather than paying the storage cost twice, they clean up the database regularly(1 or

[2021-01-08 15:00] Ladas commented on #9039
@jhutar yeah, we'll need to benchmark we're making the queries faster. So far @ryanpetrello was just trying to design it the way we think we'll be faster.

The test cases you're mentioning make sense. We should just repeat with 2B, 4B, 8B, etc. And crosscheck with number of partitions existing.

Btw, I was originally looking at this benchmark, seeing how many partitions I should be counting with a

[2021-01-08 15:50] jhutar commented on #9039
Hello @ryanpetrello I did not meant one partition per `job_id`, but range of sat 1k `job_id`s per partition. Something like:

[code]

This should provide important performance boost for queries with `WHERE job_id=XY` compared to partitions partitioned by `created` day.

[2021-01-08 15:54] ryanpetrello commented on #9039
@jhutar that's an interesting idea, too, and worth exploring.  We really have two sets of main queries we do here.

"Show me all events for job X" ---> job output
"Give me recent events on <interval> so I can collect/ship metrics/delete them".  ---> analytics/cleanup

We'd still have to be careful that we sized the ranges properly, though - I've seen users with tens or hundreds of millions of jobs

[2021-01-08 15:55] jakemcdermott opened #9043 "inventory file field should be typable"
![Screenshot from 2021-01-08 10-53-40](https://user-images.githubusercontent.com/9753817/104035302-fb23a800-519f-11eb-8c05-98b50d103d51.png)

[2021-01-08 16:44] ryanpetrello commented on #5080
cc @unlikelyzero I put this in `needs_test` so we can track it

[2021-01-08 17:00] rebeccahhh commented on #7062
@kdelee yep!

[2021-01-08 17:08] ryanpetrello commented on #9039
@jladdjr the last time we looked at the bigint migration, the `ALTER TABLE` operation was prohibitively expensive (https://github.com/ansible/awx/issues/6010#issuecomment-589027945).  @Ladas has pointed me at some new pg11+ features that suggest adding a _new_ column with a default might actually be fairly painless:

https://dataegret.com/2018/03/waiting-for-postgresql-11-pain-free-add-column-with

[2021-01-08 17:34] ntfc commented on #9043
Old 15.0 UI used to be like this: https://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html#sourced-from-a-project

[2021-01-08 18:07] ryanpetrello commented on #9042
Hey @zyayun,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-01-08 18:07] #9042 closed, assigned to nobody

[2021-01-08 18:17] ryanpetrello commented on #9029
What @wenottingham said - give this a whirl on a newer version and let us know if you still encounter issues - thanks!

[2021-01-08 18:17] #9029 closed, assigned to nobody

[2021-01-08 18:19] ryanpetrello commented on #9027
@hjkatz can you show us the output of `/api/v2/project_updates/354/`?  Thanks.

[2021-01-08 18:23] wenottingham commented on #9018
@mabashian can you see if this is a transient error on devel?

[2021-01-08 18:32] wenottingham commented on #9007
The way inventory works is via Ansible inventory plugins - if one existed that fetched inventory via HTTP, it could be added to AWX and utilized. There isn't one at the moment.

[2021-01-08 18:35] wenottingham commented on #8987
Closing per last comment.

[2021-01-08 18:35] #8987 closed, assigned to nobody

[2021-01-08 18:38] wenottingham commented on #8966
Hi -

I'm not sure why this would cause a playbook to fail. Does it persist if you turn off process isolation (bubblewrap)?

cc @shanemcd

[2021-01-08 18:42] hjkatz commented on #9027
[code]

[2021-01-08 18:44] wenottingham commented on #8940
@Spredzy do you know how we'd automate this as part of the GH release process?

[2021-01-08 18:53] ryanpetrello commented on #8883
related: https://github.com/ansible/awx/issues/9039

[2021-01-08 18:54] ryanpetrello commented on #8883
@jplitza do you have some notion of the total number of events in the system e.g.,

[code]

[2021-01-08 18:57] wenottingham commented on #8678
Closing, please reopen if you have the info needed.

[2021-01-08 18:57] #8678 closed, assigned to nobody

[2021-01-08 19:24] silverscreen commented on #2354
I hate to chime in on a closed issue but I can see others have continued to experience this and I don't see any resolution for it. I've only just encountered this problem myself with AWX 16.0.0 within a Kubernetes installation. I have never encountered this issue whenever I've ran it locally in Docker.

The symptoms I'm having is job output is not automatically generated inside my browser unless I

[2021-01-08 19:48] jladdjr commented on #9039
@ryanpetrello - sounds good. Spinning up an environment now to run some tests on the migration scenarios outlined here.

[2021-01-08 20:04] chrismeyersfsu commented on #8919
We treat the `type` field special https://github.com/ansible/awx/blob/devel/awx/api/filters.py#L29 maybe we can extend it to allow for the filters.

[2021-01-08 20:43] unlikelyzero opened #9049 "Table column rows break from toolbar when in responsive resolutions between 600 < x < 1024"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Table column rows break from toolbar when in responsive resolutions between 600 < x < 1024

##### ENVIRONMENT
* AWX version: aa87a99441b595c3760a0950968b64a664382bfd

##### STEPS TO REPRODUCE
1. Open up the inventories list view
2. Narrow the width of the browser window between 600 and 1024 pixels

##### EXPECTED RESULTS

Table to match toolbar width

[2021-01-08 22:09] natman opened #9051 "awx.awx.tower_export returns empty inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Module awx.awx.tower_export returns empty inventory when inventory source are associated.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version: 2.10.4
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE
Create an inventory
Associate some inventory source
Configure playbook with that task:

- tower_ex

[2021-01-08 22:22] ryanpetrello commented on #9039
@jladdjr here's a previous migration that shows some examples for monkeying with the database _without_ explicitly using the ORM (issuing raw queries):

https://github.com/ansible/awx/blob/devel/awx/main/migrations/0113_v370_event_bigint.py#L6

[2021-01-09 00:37] CaptainStealthy commented on #1794
One more vote for this feature, as I work in 'dark mode' applications all day long.

But as a temporary workaround, the [Dark Reader](https://darkreader.org/) extension works pretty well, and supports Chrome, Firefox, Edge, and Safari.

[2021-01-09 00:49] CaptainStealthy commented on #9043
+10000!

I just installed a new instance of AWX to tinker with, before trying the time-limited trial of Tower. And I've been so discouraged by the fact that I can't even do something as simple as import my inventory from Git!

The inventory file dropdown doesn't pick up my inventory files, which had `.yml` extensions. I found #174 and #232 in my searches, which made me think all I had to do was re

[2021-01-09 18:26] jgroom33 commented on #8800
This exists in `16.0.0` as well.

The workaround that worked for me was to uninstall the default ansible 2.9.15 (or your libs) in container `awx_task` on the host and install the latest ansible

[2021-01-10 11:19] ghost opened #9053 "Pin CentOS version in Dockerfile for releases"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

 - Pinning the version enables the local build to run and not to break with changes to the base image
 - I found that locally building the 15.0 breaks now, since the PowerTools repo in CentOS was renamed to powertools
 - It allows us to have a degree of hermetic builds

[2021-01-11 13:01] zehnm commented on #7406
Issue also exists in 16.0.0 on an upgrade from 6.0.0.
I had to use the `chown` workaround as a temporary fix.

[2021-01-11 13:39] Ladas commented on #9039
so I've been checking if the default partition could be good and also what we need to do to attach partition without need of a sequential scan, check section ATTACH for default https://www.postgresql.org/docs/12/sql-altertable.html

so if we would do
 1. rename main_job_event to main_job_event_partition_default
 2. create new parent partition table table main_job_event
 3. add job_created with def

[2021-01-11 16:50] ryanpetrello commented on #8940
We'll address this in the next release of awx, thanks!

[2021-01-11 16:50] #8940 closed, assigned to nobody

[2021-01-11 17:02] ryanpetrello commented on #8940
@hartman17

Latest release currently points at 16.0.0, thanks.

[code]

[2021-01-11 17:08] AndreiBanaru opened #9055 "dialog box doesn't appear for credentials with "Prompt on launch""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We have machine credentials configured with **Prompt on launch** for password.
When executing a template we don't get a dialog box in order to input the password, In turn we receive a 400 error:
![image](https://user-images.githubusercontent.com/38393163/104213621-cc732f00-5436-11eb-86ea-21678db41167.png)

And in developer mode inside Chrome:
![image](

[2021-01-11 17:43] unlikelyzero commented on #9055
Thank you for finding and filing this issue! We are following the development of this functionality in this ticket: https://github.com/ansible/awx/issues/7015 . Please subscribe to that issue to keep up with the fix!

[2021-01-11 17:44] #9055 closed, assigned to nobody

[2021-01-11 17:47] chrismeyersfsu opened #9056 "Observability and metrics - metrics dashboard"
We want to view the metrics we expose. Ideally, we don't require there to be a Prometheus instance gathering the prometheus data that we expose in order to get a basic view of Tower metrics. We want a view of graphs that can display the basic prometheus data types: Counter, Gauge, Histogram over time. Over time means that when the dashboard is opened, the metrics will be gathered either from the e

[2021-01-11 21:34] ghost commented on #8969
So, I figured there seems to be a little bug in the file awx/installer/roles/kubernetes/templates/postgresql-values.yml.j2

It says line 45 and 46:

`  repository: postgresql
  tag: '12.5.0'
`

should really be:
`  repository: postgres
  tag: '12.5'
`
I would fix this with the podman and buildah thing.

![image](https://user-images.githubusercontent.com/76493578/104240932-271f8180-545d-11eb-943d-6

[2021-01-11 21:36] rjosephwright opened #9058 "Jobs with a survey spec do not launch in 16.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Jobs with a survey spec do not launch, browser console throws error.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  Whatever is built into the 16.0.0 docker image
* Operating System: Debian 10
* Web Browser: Chrome 86.0.4240.198

##### STEPS TO REPRODUCE

Create a job template with a survey spec. In

[2021-01-11 21:51] wenottingham commented on #9030
I'm not sure what you mean by that.

For configured IDPs (LDAP, SAML, etc), all the login handing (lockout, password complexity, 2FA, etc) are implemented in the IDP.  For web-based methods (OAuth, SAML) the login page redirects to those IDPs. For password-based methods (LDAP), the password is checked, and the IDP can refuse for whatever reason it wants to.

[2021-01-11 21:52] wenottingham commented on #9051
@jbradberry is this what https://github.com/ansible/awx/pull/9046 is for?

[2021-01-11 22:01] nixocio commented on #9036
hey @hjkatz, thanks for filing this issue.

I got the latest version of devel branch and I could not recreate this one.

Organizations

![image](https://user-images.githubusercontent.com/9053044/104242928-d5abce00-542d-11eb-8707-c6195be50f75.png)

Projects

![image](https://user-images.githubusercontent.com/9053044/104243005-ea886180-542d-11eb-94c4-bb3a0cd29370.png)

Users
![image](https://user-im

[2021-01-11 22:10] jbradberry commented on #9051
Yeah, exactly.  I had thought that the old tool filtered these out, but it seems to not be the case.

[2021-01-11 22:13] rebeccahhh commented on #7062
update, this is moving to a later sprint

[2021-01-11 22:38] hjkatz commented on #9036
Thanks for trying this out. I noticed that you've given the User account a User Role of Auditor, whereas in my setup we have the User account granted a Team Role of Auditor (for the Organization). However, even testing this difference manually (by granting the Org Auditor Role directly to the test User), the problem persists.

As a note we are using AWX 16.0.0 and not the `devel` version.

Briefly

[2021-01-12 07:46] #9051 closed, assigned to nobody

[2021-01-12 13:44] killua-eu commented on #4540
I'm hitting the same issue with awx 16.0.0 .. I have galaxy credentials set up, but roles/requirements(yml/yaml) gets skipped regardless. Any tips or way to troubleshoot this?

[2021-01-12 14:06] john-westcott-iv opened #9060 "Display tags for job execution on job page"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

In the new UI I don't see a way to see the tags that a project update was launched with. This was previously available in the details section.

[2021-01-12 14:09] john-westcott-iv opened #9061 "Status icon on job page inconsistent"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

If I am on the projects page and I click the status icon (the little green/red square) I am taken to the job details of the sync. Clicking the same icon on the jobs page toggles the checkbox next to it.

[2021-01-12 14:12] john-westcott-iv commented on #9013
What if clicking the sync button on the details page took you to the job screen? At least then you would know that Tower is "doing something" once the button is pushed.

[2021-01-12 14:19] bmalynovytch commented on #3915
Related to https://github.com/ansible/awx/issues/231 and extremely dangerous IMHO when you remove the default `admin`  to enforce security.

[2021-01-12 14:38] john-westcott-iv opened #9062 "Stderr screen on job event host details modal displays http encoded characters"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When you go to the job page and then click on a failed step you get the popup. On the popup screen you then click on the standard error page. In the details of the standard error there are html encoded entities such as:
    Cloning into &apos;/var/lib/awx/projects/_6__scm_project&apos;...

[2021-01-12 16:03] nixocio commented on #8244
@unlikelyzero , this work is related to instance groups. This work will be on EE since that branch was rebased against devel, but this work is not related to EE.

[2021-01-12 16:04] Paul-Michel commented on #8863
Same error here, tried on different distro, but facing it every time.

[2021-01-12 16:10] temskiy commented on #8863
Get this error at different OS (ubuntu, centos) Try release 14.0.0, 15.0.0, 15.0.1, 16.0.0 and first run was unsucsessful all times. But... after some number re-run install.yml all work fine.

[2021-01-12 16:23] ryanpetrello opened #9064 "Enabling analytics gathering causes unnecessary activity stream noise"
1.  Turn on analytics gathering, and set a low gather interval.
2.  Every time gather runs successfully, we get a new activity stream record:

<img width="871" alt="image" src="https://user-images.githubusercontent.com/214912/104342130-81096100-54c8-11eb-94f2-4762737ab521.png">

[2021-01-12 16:23] ryanpetrello commented on #9064
see: https://github.com/ansible/awx/pull/9063

[2021-01-12 17:31] rebeccahhh commented on #4540
hi @killua-eu are you getting skip messages for both .yml and .yaml extensions? It would look like the same output from [this](https://github.com/ansible/awx/issues/4540#issuecomment-754820898) earlier comment.

[2021-01-12 18:02] rooftopcellist opened #9066 "Permission Error when upgrading Local Docker"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Problem: The Local Docker installer puts the postgresql data dir in the ~/.awx/pgdocker dir (by default). Since we bind-mount this into the container without any precedent, docker defaults to restricting it to the root user. Unfortunately, this means that the installer (which is not run as root) is not able to read the PG_VERSION or modify anything in

[2021-01-12 18:17] unlikelyzero commented on #8244
Implemented in https://github.com/ansible/awx/pull/8162 moving to needs_test

[2021-01-12 18:41] harrytruman opened #9067 "RFE: Add Inventory Reporting Capability to AWX/Tower/AAP"
##### ISSUE TYPE
AWX/Tower has the ability to store inventory details and cached inventory facts. But given the tendency for new Ansible users to start their automation journey with inventory management, there are limited features that allow those facts/vars to be viewed or exported in any formal capacity.

##### SUMMARY
For anybody who is already managing inventories and caching facts, a basic, c

[2021-01-12 18:54] mabashian commented on #9058
@rjosephwright that error would indicate that you've got a multiple choice survey question with a `null` value for `choices`.  I was able to reproduce this same scenario locally against the head of the devel branch.  Can you confirm that that's what your survey spec looks like as well?  You can find this by using the api browser and navigating to `/api/v2/job_templates/:id_of_your_job_template/sur

[2021-01-12 19:31] wenottingham commented on #9067
What is the goal of this report - what are you looking to see?

There is API based export, that is also available with the CLI and the module collection.h

[2021-01-12 19:35] patrickdeutsch-wk opened #9068 "Update Postgress Helm to Bitnami Chart."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Helm Chart for postgress is not accessible at deprecated location
Updating to bitnami should work
[code]

##### STEPS TO REPRODUCE

Run a clean install via kubernetes. Build should fail on postgres install

##### EXPECTED RESULTS

Postgres Helm Chart is installed to Kube Cluster.

##### ACTUAL RESULTS

TASK [kubernetes : Deploy and Activate Postgres (

[2021-01-12 19:57] rjosephwright commented on #9058
@mabashian I've torn down the instance but I can spin one up later to get that output you requested.

However, I checked through all of my survey specs and I don't think there are any `multiplechoice` questions without `choices` defined.

For example:

[code]

I've been using the same survey specs successfully on 14.0 and didn't make any changes to them before trying them on 16.0.

[2021-01-12 20:02] john-westcott-iv opened #9070 "HTML displayed when viewing details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I attempted to load the project screen while AWX was reload and got an error message with a details section. When I expanded the detail I got the HTTML response for the 502 instead of a just the body of the 502:
![image](https://user-images.githubusercontent.com/32551173/104366241-0f8cdb00-54e7-11eb-80b7-faa1063e8fbf.png)

Not sure if this is as des

[2021-01-12 20:13] wenottingham commented on #6789
Updated to add: a community contributor contributed https://github.com/ansible/awx/issues/7954 - this may help for your use case.

[2021-01-12 20:20] kdelee commented on #9039
@michaeltcoelho @appuk heads up this is supposed to happen slowly over the course of several months. There will be impact on the analytics bundle generated, and we'll want your involvement

[2021-01-12 22:57] frenchtoasters opened #9071 "Async playbook tasks not cleaning up correctly with jumphost"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We a playbook that is using `ansible_ssh_common_args` which proxy the command through a jumphost using ssh keys. The play we are running uses `command` to copy files between hosts, the play also has `async: 600` on it.

The issue is that under the `/home/ansible/.ansible_async` folder leaves files behind that have the output of the single async file co

[2021-01-12 23:42] Chaos-Work commented on #8910
I am experiencing the same issue on 16.0.0; however, I noticed that the "Some of the previous step(s) have errors" error only happens when the previous steps have default values. If I manually select something different then re-select the default values, that error goes away and the play runs just fine.

The inventory deleted message never goes away, though.

[2021-01-13 00:11] rjosephwright commented on #9058
Just to verify, I did a quick iteration over all spec files and determined that all `multiplechoice` questions do have `choices` defined.

[code]

[2021-01-13 06:32] loftwah commented on #8863
Thank you europ, changing that option fixed it all for me.

# Whether or not to create preload data for demonstration purposes
create_preload_data=True

[2021-01-13 07:10] ghost commented on #8969
@shanemcd Now I know what you meant with the buildah vs. podman thing. It seems that I had a bit of a missconception here on what buildah run is doing. I am going for podman now and skip buildah alltogether for the moment.
Since you have done a great job with the installer already, and I am on it anyway I do have a bit of a conceptual question.

So the installer is about building first, pushing th

[2021-01-13 07:11] chillchamp83 commented on #6535
I am also getting the same issue on AWX 15.0.01, unable to pull latest code from branch

AWX version: 15.0.1
AWX install method: docker (install.sh)
Ansible version: 2.9.15
Operating System: Centos 7
Web Browser: Chrome

[2021-01-13 08:43] damienreyre commented on #7052
ISSUE TYPE

- Bug report

SUMMARY

Upon upgrading from 9.0 to 16.00 I no longer able to sync my vcenter dynamic inventory objects within the GUI after creating new VMs on VMware.

ENVIRONMENT

- AWX version: 16.0.0
- AWX install method: docker
- Ansible version: ansible-2.9.15
- VMware : vCenter 6.5
- Operating System: Debian 10
- Web Browser: Chrome, Firefox

STEPS TO REPRODUCE

When running the

[2021-01-13 10:16] ghost opened #9072 "AWX 16.0.0 : Unable to sync my vcenter dynamic inventory"
ISSUE TYPE

- Bug report

SUMMARY

Upon upgrading from 9.0 to 16.00 I no longer able to sync my vcenter dynamic inventory objects within the GUI after creating new VMs on VMware.

ENVIRONMENT

- AWX version: 16.0.0
- AWX install method: docker
- Ansible version: ansible-2.9.15
- VMware : vCenter 6.5
- Operating System: Debian 10
- Web Browser: Chrome, Firefox

STEPS TO REPRODUCE

When running the

[2021-01-13 10:42] OndraLipo commented on #3995
Is there any update on this issue? SMART inventories are a must these days, so it is bit of a shame, that it's not possible for regular users in AWX/Tower. A recommendation for developers: take a look on other automation tools and theirs RBAC.

[2021-01-13 11:15] talvindersingh commented on #8863
Every time in run bash-4.4# /usr/bin/awx-manage create_preload_data gets a new column name --does not exits in main_organization.
OS Centos 8.
Any solution yet?

[2021-01-13 11:18] talvindersingh commented on #8863
Finally after running `/usr/bin/awx-manage create_preload_data` inside awx-task container got it running.

bash-4.4# /usr/bin/awx-manage create_preload_data
An organization is already in the system, exiting.
(changed: False)

UI enabled now.

[2021-01-13 12:27] adrime92 opened #9073 "AWX 9.3.0 Built Local Images Error - Unable to configure handler 'dispatcher'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After building awx_web and awx_tasks images locally using image_build role, awx is not able to start showing `Unable to configure handler 'dispatcher': [Errno 13] Permission denied: '/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/dispatcher.log' `

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: Kubernetes
* Ansible version:  2.9.5

[2021-01-13 13:55] john-westcott-iv opened #9074 "Checkboxes and status boxes look identical at start"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

In the new UI the status box icon (the thing that turns red/green) is very close in size to the checkboxes. If there is any lag between something like a project sync request and its start the status box can appear like a second checkbox. Should we go back to the circles or something else to distinguish them?

[2021-01-13 14:00] #9072 closed, assigned to nobody

[2021-01-13 17:11] fosterseth commented on #8749
@chrismeyersfsu
The task manager (and maybe other pieces) runs in a cycle and processes the same task on each cycle. So a logger-only implementation would need to have a way to prevent duplicate messages. E.g. if job 99 is blocked, it might be blocked for the same reason on the next task manager cycle.

given the above, maybe a centralized, persistent system is best (write task state to db table)

[2021-01-13 17:52] ryanpetrello commented on #9068
Duplicate of https://github.com/ansible/awx/issues/8715

[2021-01-13 17:52] #9068 closed, assigned to nobody

[2021-01-13 18:22] aishvaryaps commented on #8863
wait for UI to come up.
then execute docker exec command

bash-4.4# /usr/bin/awx-manage create_preload_data
Default organization added.
Demo Credential, Inventory, and Job Template added.
(changed: True)

[2021-01-13 18:39] wenottingham commented on #9071
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

The issue you describe looks wholly contained in Ansible - AWX never makes use of or touches .ansible_async.

You'd need to file this at https://github.com/ansible/ansible/

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://

[2021-01-13 18:39] #9071 closed, assigned to nobody

[2021-01-13 18:40] tiagodread commented on #8194
Tests covered by https://github.com/ansible/tower-qa/pull/5786

[2021-01-13 18:40] #8194 closed, assigned to nixocio

[2021-01-13 18:41] wenottingham commented on #9073
At this point we are not actively maintaining or debugging issues with AWX 9.x.

If you can reproduce this error with a current release (AWX 16.x) or the devel branch, please reopen.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-01-13 18:41] #9073 closed, assigned to nobody

[2021-01-13 19:51] frenchtoasters commented on #9071
Thanks for the response @wenottingham I have an issue open there but wanted to make sure it wasnt something specific to AWX first as the jumphost and credentials were in the mix. Leaving the link to the issue on the ansible repo incase someone else comes across this https://github.com/ansible/ansible/issues/73206

[2021-01-13 19:57] haught opened #9075 "project collections from git fail to install"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using a project from git that has collections from git the syncing fails

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker
* Ansible version:  2.9.16, 2.10.4 custom_env
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Have a git project containing
collections/requirements.yml
[code]
manually installing

[2021-01-13 19:59] haught opened #9076 "project collections containing git collections fail to install"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using a project from git that has collections from git the syncing fails

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker
* Ansible version:  2.9.16, 2.10.4 custom_env
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Have a git project containing
collections/requirements.yml
[code]
manually installing

[2021-01-13 20:34] rooftopcellist opened #9077 "Partial Migrations on Local Docker Install"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I seeing migrations only partially run on Local Docker installations.  It seems as those sometimes, the migrations will run in the background and finish, but other times, only 5 migrations are run.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z

[2021-01-13 21:24] #8288 closed, assigned to marshmalien

[2021-01-13 21:27] rooftopcellist commented on #9077
I have also noticed this separate issue where the create preload data step fails because the admin user is not available.  I believe this is because services haven't fully come up yet because the admin user can be in the database already and the error will still occur.

![image](https://user-images.githubusercontent.com/11698892/104512216-dffbd280-55bb-11eb-8be8-fb2218519bfe.png)

Adding a 10 seco

[2021-01-14 03:49] hiyokotaisa opened #9080 "RFE: Add counter that indicates how many messages have been dropped for external logging"
Related: #8576

##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We need some sort of a counter that indicates how many messages have been dropped as described below. This will alert us to immediately check what the issue with rsyslogd or Logstash is happening at that time.

In reviewing the PR for the external logging fix (https://github.com/ansible/awx/pull/7292) I noticed that when there is a Bl

[2021-01-14 05:58] vijeshkk commented on #1999
I think this applies to hosts as well. bcoz if the host is present in multiple inventories, it still pulls that host to smart inventory, and still manages to avoid duplicates. Shouldn't we be able to apply similar logic for groups?

[2021-01-14 06:00] vijeshkk commented on #1999
I think, without having possibility to group hosts and use group_vars, smart inventory doesnt makes sense to most of our production scenarios.

[2021-01-14 08:13] JG127 commented on #6792
Any chance this is fixed in 16.0.0 ?

[2021-01-14 08:56] vijeshkk opened #9081 "Groups and group_vars on smart inventory"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, smart inventory thats been generated doesnt retain the groups & its relationships for the hosts from its parent inventory. This makes our playbooks to fail with `variable not found` error due to unavailability of group level variables.

Please consider implementing feature to have groups & group_vars to be imported to smart inventories fr

[2021-01-14 09:05] kakkotetsu commented on #9043
+100000

[2021-01-14 09:40] olegsidokhmetov commented on #8863
**Hello! Someone solves this problem?**

TASK [local_docker : Create Preload data] ****************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "cmd": ["docker", "exec", "awx_task", "bash", "-c", "/usr/bin/awx-manage create_preload_data"], "delta": "0:00:03.061271", "end": "2021-01-14 09:25:47.089

[2021-01-14 10:04] lkthomas opened #9082 "Private key new line missing cause "invalid format" when playbook trying to use it"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I was trying to follow the setup jump host by creating a new credential type on AWX, but after ran by injector from the new credential type, the private key last went missing, this cause ssh failed and resulting in an "Invalid format" error; I managed to copy the key which created by the job and diff it against my working private key, both key looks th

[2021-01-14 10:35] temskiy commented on #8863
@olegsidokhmetov, just don`t create prload data.
In inventory

`create_preload_data=True`

change to False and try re-run plabook some times.

[2021-01-14 10:45] sc01194 commented on #9043
Same here with release 16.0.0. Inventory files from my gitlab repo cannot be imported, I cannot type or select my inventory files.
Old setup made with former version are still functionnal however and inventories are imported correctly

[2021-01-14 10:54] olegsidokhmetov commented on #8863
Waw! Great, it helped!!!!

[2021-01-14 12:52] tiagodread commented on #8291
Tests covered by https://github.com/ansible/tower-qa/pull/5846

[2021-01-14 12:52] #8291 closed, assigned to marshmalien

[2021-01-14 14:37] rooftopcellist commented on #9077
FYI, this is what happens for me on fresh installs of 16.0.0.

[code]

Migrations never finish (waited 30 min).

15.0.1 works without issue.

[2021-01-14 17:05] jlmitch5 commented on #3521
I've moved this to be an API issue.  The reason there is no link is because there is no data given for us to be able to build it.  For context here is the delete event:

[code]

And here is the create event that contains the id and name of the wfjt so that we can link:

[code]

---

Also note there are **two** create events when a node is created.  Similar to delete, one of these has what we need

[2021-01-14 17:16] tiagodread commented on #7004
This was fixed by https://github.com/ansible/awx/pull/8802, once this PR is merged we can safely close this issue

[2021-01-14 17:22] GerardusKoetje commented on #8290
can i change Isolated Status Check Interval manual somewhere?

[2021-01-14 17:29] jlmitch5 commented on #3828
Not sure how to solve this one.  It is somewhat a unique case because we generate the strings based on pieces of data from the api, basically we take pieces of this data like: `create`, `workflow_job_template_node`, `foo` and create a description like:

"created workflow_job_template_node `<a href="/#/templates/workflow_template/1>foo<a>`"

As such, there's not really any way for us to "mark" this

[2021-01-14 17:30] bimmerkiev commented on #9043
the same problem here( with release 16.0.0
please, fix it ASAP:((

[2021-01-14 17:43] jlmitch5 commented on #5299
Note, I'm not entirely sure if this is fixed, but the strream detail view description line is full width in a much wider modal.  It does still wrap when necessary, but I think that is inevitable.

![Screen Shot 2021-01-14 at 12 41 34 PM](https://user-images.githubusercontent.com/1342624/104628274-08400b80-5666-11eb-93ee-8c89cd6d41a0.png)

[2021-01-14 17:45] jlmitch5 commented on #3786
I belive this is fixed in the new ui activity stream pr:
![Screen Shot 2021-01-14 at 12 45 02 PM](https://user-images.githubusercontent.com/1342624/104628557-5ead4a00-5666-11eb-8d89-8fc10cf0b921.png)

[2021-01-14 18:31] chrismeyersfsu commented on #8749
Generic: `job`, `project-update`, etc.

You hit the nail on the head with needing state to be able to output some of these messages. I'd say to delay that as long as possible and see how much value we get out of the messages that we can support without adding state tracking.

Thinking more on maintaining state. @fosterseth you've shown that the individual job `.save()` are expensive when the task

[2021-01-14 18:44] wenottingham commented on #9082
It's a ssh-add limitation, we can't fix it in AWX. Only happens for certain types of keys. See https://github.com/ansible/ansible-runner/issues/544#issuecomment-719004397

[2021-01-14 18:45] #9082 closed, assigned to nobody

[2021-01-14 18:45] wenottingham commented on #9081
-> #1999

[2021-01-14 18:45] #9081 closed, assigned to nobody

[2021-01-14 19:23] ferjust commented on #1855
i'm facing for the same issue, someone have a workaround or a expected fix?

[2021-01-14 19:24] ryanpetrello opened #9085 "Certain playbook output has unexpected delays"
Run this playbook on an awx install that is doing little or nothing else:

[code]

...observe that none of the events are recorded, nor does any of the stdout show up in the UI *until* the playbook command finishes executing (then everything shows up at the end in a giant burst).

[2021-01-14 19:59] ferjust commented on #1855
now solved, changing "AUTH_LDAP_GROUP_TYPE": "GroupOfNamesType", to "MemberDNGroupType"

If you check django documentation here https://django-auth-ldap.readthedocs.io/en/latest/reference.html

You ll see the possible  parameters for GroupOfNamesType and MemberDNGroupType, then is not possible to use "member_attr" on "GroupOfNamesType"

I tried this bellow  and worked for my ldap use

    "AUTH_LD

[2021-01-14 20:20] areguera commented on #9058
In the UI, I started to receive a message like the following on a job template that was working without any issue in 15.1.0 before the update to 16.0.0:

![image](https://user-images.githubusercontent.com/5214519/104633964-b8217300-567e-11eb-95ba-b45b35121e4b.png)

This message blocks the job template execution in the preview step. The launch button is disabled.

[2021-01-14 21:25] aklyachkin commented on #9018
I've got the same error building from https://github.com/ansible/awx/archive/16.0.0.tar.gz
No problem building from https://github.com/ansible/awx/tree/16.0.0

[2021-01-14 21:51] nixocio opened #9087 "Update EE Add/List/Edit/Details with latest API changes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Update EE Add/List/Edit/Details with latest API changes. There is a field name now, for instance. Evaluate the latest API changes, and update UI accordingly.

[2021-01-14 21:53] nixocio opened #9088 "Add option to select a default global EE on settings"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add option to select default global EE. Evaluate best place to add/edit this feature.

Take RBAC in consideration.

[2021-01-14 23:54] one-t commented on #7015
Just want to check, are we expecting this PR to add prompting for schedules or will that be covered in another one? Currently that functionality does not appear to be implemented.

[2021-01-15 06:08] daemenseth commented on #19
Is there any progress on this issues, or have someone a commandline solution for me

[2021-01-15 09:53] knumskull opened #9090 "Wrong amount of Hosts available shown in License overview after uploading a manifest"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Creating multiple Manifests in Red Hat Customer portal and attaching them to tower instance will show different amount of available hosts than attached entitlements in customer portal.

##### ENVIRONMENT
* AWX version: 3.8.0
* AWX install method: plain
* Ansible version:  2.9.15
* Operating System: RHEL 8.1
* Web Browser: Firefox 84.0.1 (64-bit)

####

[2021-01-15 11:33] GizmoNilpferd opened #9091 "Unable to add or edit some credential types following upgrade to v16.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Following an upgrade from version 15.0.1 to 16.0.0 we are unable to either add or edit some credential types such as, for example, 'machine' or 'source control'.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: Red Hat Enterprise Linux release 8.1
* Web Browser: Chrome 87.0.42

[2021-01-15 12:47] #9090 closed, assigned to nobody

[2021-01-15 13:36] tiagodread commented on #4212
Verified that the loading spinner is displayed across ui next while fetching data, also added a e2e test in https://github.com/ansible/tower-qa/pull/5861

[2021-01-15 13:36] #4212 closed, assigned to AlexSCorey

[2021-01-15 13:36] tiagodread commented on #7004
Fixed

[2021-01-15 13:36] #7004 closed, assigned to nobody

[2021-01-15 13:58] mabashian commented on #7015
@one-t good question.  Schedule prompting will be handled right after this PR merges.  https://github.com/ansible/awx/issues/7692

[2021-01-15 14:10] unlikelyzero commented on #7015
@one-t in this case, we will put a stubbed out test in the schedules folder with a //TBI link to where the test will be implemented

[2021-01-15 14:30] chrismeyersfsu commented on #9080
Our use of rsyslog is fire and forget, from AWX's perspective. You can hook into watching `/var/log/tower/rsyslog.err` to gather external logging failures.

[2021-01-15 15:07] nixocio commented on #9036
hey @hjkatz, I still not able to reproduce this one.

Please, can you rephrase this statement? Or provide more granular steps.

Once you logged in as the auditor that can not see the instance groups.

1 - Share HTTP requests being made when attempting to see the instance groups screen. Something like:

![image](https://user-images.githubusercontent.com/9053044/104742846-f4a1ad00-5718-11eb-93ef-24b

[2021-01-15 15:28] hjkatz commented on #9036
Sure! Let me try and explain the setup we have for Orgs and Teams, because it's a bit complicated :)

## Minimal Org/Team/User Setup

First, I _think_ you should be able to reproduce with 2 Orgs and 1 Team. Let's give them some names and structure:

* First, delete the `default` Org, we don't use it.
* Create an Org called "Shared Org"
* Create an Org called "Personal Org"
* Create a Team in the S

[2021-01-15 15:32] Mercwri opened #9092 "Inventory not passing Source Variables to Inventory Scripts"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running the VMware Inventory script it does not appear to accept Source Variables to define the created hosts.

##### ENVIRONMENT
* AWX version: 16.0.0.
* AWX install method: kubernetes
* Ansible version:  2.9.15
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE
Create Inventory
Add vsphere source
Define source variables eg.
  `alias_pattern

[2021-01-15 15:45] mabashian commented on #9018
I wasn't able to reproduce this using the tarball or by cloning the repo but i am installing locally on MacOS.  Perhaps the OS is playing a role here?

[2021-01-15 18:06] wenottingham commented on #9092
That is an option for the old inventory script, which is not used. The inventory source needs configured as described here: https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_vm_inventory_inventory.html

[2021-01-15 18:06] #9092 closed, assigned to nobody

[2021-01-15 18:15] tiagodread commented on #9091
@mabashian I think this problem can be the same as reported here: https://github.com/ansible/awx/issues/8944

[2021-01-15 18:19] blomquisg commented on #9080
The best we could hope to do here is send an error to stderr.

[2021-01-15 18:24] wenottingham commented on #9076
-> #9075

[2021-01-15 18:24] #9076 closed, assigned to nobody

[2021-01-15 18:28] wenottingham commented on #9075
This isn't a supported feature of ansible 2.9, and we only ever use the base ansible venv for project updates. See https://github.com/ansible/awx/issues/8572#issuecomment-725664459

[2021-01-15 18:28] #9075 closed, assigned to nobody

[2021-01-15 18:30] blomquisg commented on #9018
@ryanpetrello is double checking this one

[2021-01-15 18:33] blomquisg commented on #8702
@swatinarvekar if you get more information, feel free to reopen this one

[2021-01-15 18:33] #8702 closed, assigned to nobody

[2021-01-15 18:37] mabashian commented on #9091
Closing this as a dupe of #8944

[2021-01-15 18:37] #9091 closed, assigned to AlexSCorey

[2021-01-15 19:24] ryanpetrello commented on #9018
I'm having trouble reproducing this on builds of `devel`, I'll give 16.0.0 a whirl.

[2021-01-15 19:27] enscogit opened #9096 "Please document how to install older versions of AWX"
##### ISSUE TYPE
 - Documentation improvement

##### SUMMARY

[2021-01-15 20:19] shanemcd commented on #9096
@enscogit  We don't support installing older versions of AWX. We recommend folks to use the latest version and to upgrade often, as it is a fast-moving project with no long term support.

[2021-01-15 20:19] #9096 closed, assigned to nobody

[2021-01-15 20:36] ryanpetrello opened #9097 "Consider upgrading social-app-django"
The `social-app-django` folks recently merged a bug fix we care about, that may allow us to remove some gross monkey-patching on our end:

https://github.com/python-social-auth/social-app-django/pull/162

cc @rooftopcellist @fosterseth @chrismeyersfsu

[2021-01-15 20:41] ryanpetrello commented on #9097
Specifically, I think we may be able to lose this hack post-upgrade

https://github.com/ansible/awx/blob/devel/awx/sso/middleware.py#L22-L24

[2021-01-15 21:32] hjkatz commented on #8798
We are also wanting this feature. Being able to test with a specific format will help immensely with custom Webhook type Notifications (for services that expect a specific json format for example).

[2021-01-15 22:51] csamarajeewa opened #9100 "Redis/AWX communication"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

AWS Fargate doesn't allow unix socket communication between containers. It would be nice to allow AWX to communicate with Redis using the standard TCP approach.

[2021-01-16 09:04] sspreitzer commented on #419
@matburt Can you please provide a reasoning for the public and opensource community, why the AWX project is not releasing RPMs. Despite, Red Hat as an OpenSource company does provide RPMs of AWX in form of Ansible Tower to its customers?
Why do you or Red Hat not provide the Ansible Tower RPM installer mechanism as OpenSource? Red Hats tenor is OpenSource, yet for this part exists silence. Thank y

[2021-01-16 21:37] Gr4cchus opened #9101 "awx 16.0.0 service module 'service is in unknown state'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When the ansible playbook is run on plain ansible it executes fine. But when run through awx i get a `Service is in unknown state` trying to execute the service module.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: CentOS Stream Linux 4.18.0-259.el8.x86_64
* Web Browser: C

[2021-01-18 11:02] jetxeberria opened #9103 "Allow setting 'latest' as SCM tag"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, and thanks to the development driven [this issue](https://github.com/ansible/awx/issues/282?_pjax=%23js-repo-pjax-container>), we can specify the tag that project must checkout to.

- If we specify nothing, it will checkout to last commit
- If we specify a tag, it will checkout to that tag

In our scenario we require a third option:
- Dep

[2021-01-18 11:34] aklyachkin commented on #9018
I just checked it on a frish installed RHEL 8, the same problem with 16.0.0 tarball:

[code]

[2021-01-18 11:43] tonyhogsten commented on #7406
We had this issue again while upgrading to the new version 16.0.0. The same fix worked

[2021-01-18 13:51] enscogit commented on #9096
I require the ability to use LDAP for authentication. From what I can tell, the current (latest) version does not have the authentication configuration forms portion of the interface completed. How do I configure LDAP auth in the latest version without using the interface?

[2021-01-18 15:01] fidanf commented on #9043
Gotta rollback to 15.0.1 because of this. Our project is based on multiple inventory files which could all be loaded typing the containing folder.

[2021-01-18 16:05] sangeethdba commented on #9043
it would be great if someone reply to this .this is absolute necessary feature where one should be able to chose the inventory file from any path.

[2021-01-18 16:18] wenottingham commented on #9101
<192.168.50.13> Failed to connect to the host via ssh: OpenSSH_8.0p1, OpenSSL 1.1.1g FIPS  21 Apr 2020

Something is happening with the ssh connection when under awx; that's what you'd need to debug.

[2021-01-18 16:19] unlikelyzero commented on #9097
note for ui-qe: this will require real infrastructure to test

[2021-01-18 18:24] keithjgrant commented on #9049
after discussion with @trahman73, we decided to hide the Groups, Hosts, and Sources columns for viewports that are too narrow to accommodate them. This is an approach that some other teams are taking in similar circumstances, and since we have the details view to see this data, it's simply a nice-to-have in the table view.

[2021-01-18 19:02] tiagodread commented on #7700
Tests covered by ansible/tower-qa#5867

[2021-01-18 19:02] #7700 closed, assigned to mabashian

[2021-01-18 19:05] wenottingham commented on #419
You can find the AWX FAQ from the time of the initial release here: https://www.ansible.com/products/awx-project/faq
Supporting an RPM-based installation of AWX is not part of those goals, especially as we move to more container-native deployment and container-first playbook execution (see https://groups.google.com/d/msgid/awx-project/b71a5c96-13f0-4d69-aade-83aaa124b094n%40googlegroups.com).

As

[2021-01-18 19:37] bimmerkiev commented on #106
Is there any updates about this ticket?

[2021-01-18 22:47] momcilo78 opened #9105 "Job output not being updated in awx 16.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Launching Template job results in Output tab not being updated. Switching to different tab (Details) and back results in output to be shown.

Not sure if this is the result of new UI, and if this issue is local just to myself.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.10.4
* Operating System:

[2021-01-19 00:14] ryanpetrello commented on #9105
Hey @momcilo78,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-01-19 00:14] #9105 closed, assigned to nobody

[2021-01-19 04:19] tcd156 commented on #5825
Heads up, I was unaware that this was the case, and after upgrading, our servers were hit with an automated cryptojacking attack.

At the very least, this should be made much more obvious. Having a crypto miner installed on our servers was fortunately much less nefarious than it could have been, but I was pretty surprised to see the default admin user being created again.

[2021-01-19 08:23] momcilo78 commented on #106
As far as know:
awx will look into:
- roles/requirements.yml/yaml
- collections/requirements.yml/yaml

I am not sure if it will lookup relative paths to playbook or obey the ansible.cfg.

If your awx contains ansible 2.10.x it will also be able to fetch the collections stored in git repositories. Note that the default awx image still contains 2.9.16 version, and I believe the 2.9.x branch is missi

[2021-01-19 08:34] momcilo78 commented on #9105
Hey @ryanpetrello. Please reconsider: I am not looking for support for the installation, but as part of the smoke test to prove that awx 16.0.0 and ansible 2.10.4 can work together, I noticed that in all 3 browsers new UI does not work without errors. I gather that you did notice this with 16.0.0 and its stock images based on ansible 2.9.15?

[2021-01-19 08:56] bimmerkiev commented on #106
Hi. Thanks for your reply, but this ticket about allowing different requirements file paths.
We really need it especially in AWX.

[2021-01-19 09:58] momcilo78 commented on #106
@bimmerkiev 15.0.1 does not do this - I did test it since my team originally did not place playbooks on the root. For 16.0.0 I did not check, so best suggestion to you to simply try it.

[2021-01-19 11:45] govbetrieb commented on #8427
Same Problem here

[2021-01-19 12:30] Wolfsrudel commented on #1747
+1 for adding `job_tags`

[2021-01-19 13:09] cl1ent commented on #8863
If you had any issues with websockets after re-running the installation playbook a couple of times, pay attention to [broadcast_websocket_secret](https://github.com/ansible/awx/blob/9bf721665d9ec3a29aa24f209c1b6cfc5554daea/installer/inventory#L131). Fixing that helped me to get websockets up & running again.

[2021-01-19 13:24] eocsx opened #9107 "Permissions on /api/v2/schedules/ for tech user fails tower_schedule in awx.awx ansible collection"
##### ISSUE TYPE

 - Bug report

##### COMPONENT NAME

 - API

##### SUMMARY

Hi guys,

This isn't really a bug but it's the closest thing I got from the selection menu. I'm trying to set up several resources in AWX via its' API and therefor using this awesome awx ansible collection. Trying to set up some scheduled tasks I got:
`You don't have permission to POST to /api/v2/schedules/ (HTTP 403)`

[2021-01-19 13:37] AlanCoding commented on #8245
@shanemcd I'm guessing this issue is out of date?

[2021-01-19 13:39] AlanCoding commented on #7625
The issues we had here have been resolved. The main `execution-environments` branch has not been merged, but otherwise I'm good to close it.

Some of this may still get re-worked as we finalize the OCP solution, which may have a long-lived container, which will have to mount the global projects directory.

[2021-01-19 13:44] shanemcd commented on #8245
Which part? The topology still looks right to me. We need a separate EE in the pod unless we want to install Ansible in the task container (we don't).

[2021-01-19 13:49] AlanCoding commented on #7066
This is looking more and more difficult to me. The `podman` executable on traditional installs is invoked by `ansible-runner worker`. That means that we need to send the credentials over receptor before we can apply them. These credentials are not for the `ansible-playbook` process, so that means it needs to be a part of the ansible-runner interface. It can't just be added onto the environment var

[2021-01-19 13:52] p-avery opened #9108 "Disable ability to save machine credential passwords"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Ability to remove the option for a user to save a machine credential instead force the use of prompt on launch, we a use case where security will not allow stored credentials of certain types when connection to machines and would like instead the ability to prompt on launch but not have the option to save a password.

[2021-01-19 13:54] AlanCoding commented on #8245
Right, this is actively in progress in https://github.com/ansible/awx/pull/8598.

[2021-01-19 14:01] ryanpetrello commented on #9108
Hey @p-avery,

Even when you prompt on launch, the password still gets encrypted and saved to the database until the playbook starts.

[2021-01-19 14:03] AlanCoding opened #9109 "A pull option for execution environments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Scenario:

I have an execution environment that targets some `:latest` image on quay.io. The image has a bug, I run a job, and it fails. The bug is fixed, and someone uploads a new version of that imate.

AWX needs a way for the user to force the worker node to refresh the image from the registry.

Earlier we discussed a `pull` field for the `Executi

[2021-01-19 14:15] aklyachkin commented on #9018
I think the problem is the line 484 in Makefile:

[code]

The tarball doesn't have ```.git``` directory and the command fails. Either the tarball must include .git to build UI, or the command in Makefile must be changed to something else?

[2021-01-19 14:34] p-avery opened #9110 "Ability to limit Email Notifications based on Domain name"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Would like the ability to limit E-Mail notifications on Domain name, this would allow a stricter security to deny users from adding in notifications to emails outside of the trusted domain

[2021-01-19 14:36] p-avery commented on #9108
But it wouldn't allow any future runs to execute with the saved password, we are trying to eliminate an operator who must use there account when running a job template to not be able to store it, which could allow another operator to execute it with no audit trail back to them.

[2021-01-19 16:02] enscogit commented on #9043
I am in the same situation as @sangeethdba ...I am trying to configure a fresh AWX install using the latest version (I don't have an old version to rollback to). This is for the purpose of assessing whether I will be recommending Ansible or Puppet to my company. Ansible was winning until I started trying to get AWX configured to be useful. The authentication forms are not accepting input in the AW

[2021-01-19 16:04] AlanCoding commented on #7066
I would start with quay.io (which may also work the same for dockerhub).

Although tokens would be preferable, https://docs.quay.io/api/ establishes that the pattern may be the same as username/pass, with "$oauthtoken" as the username.

It may be expecting this gets written to `~/.docker/config.json`, and how they can be implemented in the credential type injector, need to get pinned down.

[2021-01-19 16:13] wenottingham commented on #9110
If the concern is where a user with access to jobs can send email information on the job, this should be done in the SMTP infrastructure, not in AWX.  There is nothing that prevents the same user from copying information from the API and emailing it by hand.

[2021-01-19 16:13] #9110 closed, assigned to nobody

[2021-01-19 16:13] wenottingham commented on #9108
This sounds more like #1126

[2021-01-19 16:15] CaptainStealthy commented on #9043
@enscogit I do agree that this is a game-breaking bug that needs to be fixed. FWIW, I was able to rollback to 15.0.2 from 16.0.0.

That said, however, I would say that AWX is "in development" rather than "partially baked" - AWX is not intended to be a production solution, or at least that's what I gather. It's good for playing around with, but if you're looking to evaluate something for commercial

[2021-01-19 16:35] shanemcd commented on #5825
When using a vars file, it appears the default value from the inventory file must take precedence. I've opened up https://github.com/ansible/awx/pull/9111 which completely removes the default value, and forces users to provide it.

[2021-01-19 17:06] shanemcd commented on #5825
PR linked above has been merged. Next version of AWX will be out sometime this week.

[2021-01-19 17:06] #5825 closed, assigned to nobody

[2021-01-19 17:09] tcd156 commented on #5825
Thanks @shanemcd!

[2021-01-19 17:16] zjpeterson commented on #7554
+1, having this issue as well (`awx.awx` 16.0.0)

[2021-01-19 17:35] jakemcdermott commented on #9043
We intend to fix this, which is why it has the `needs_devel` label.

[2021-01-19 17:50] silverscreen opened #9112 "Job output not updating (requires page refresh)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Job output fails to display in real time. The job output only appears with a page refresh.

I have tried the following:
* kubernetes deployment with external postgres db
* default docker installation via ec2 instance
* default docker installation via localhost

I can see the websocket GET requests being repeatedly made with no response. All three envir

[2021-01-19 18:01] jakemcdermott commented on #9112
:wave: hello @silverscreen .

Thanks for creating this issue.

The job output update bug you described is caused by a combination of https://github.com/ansible/awx/issues/8596 and possibly https://github.com/ansible/awx/issues/9085.

We'll have a fix for these bugs in one of the upcoming awx releases.

I'm closing this issue for now - we're tracking the work for this in the issues linked above.

a

[2021-01-19 18:02] #9112 closed, assigned to nobody

[2021-01-19 18:07] jakemcdermott commented on #9062
:wave: Can you provide an example playbook and steps to reproduce, as well as a screenshot?

[2021-01-19 18:18] fosterseth commented on #7972
branch that fixes this

https://github.com/ansible/awx/compare/devel...fosterseth:fix_prefetch_related_instance_group

[2021-01-19 18:22] jakemcdermott commented on #9103
Can you tag your latest checkouts with a `latest` tag instead?

[2021-01-19 22:11] rooftopcellist commented on #9077
This is fixed in https://github.com/ansible/awx/pull/9113

[2021-01-19 22:11] #9077 closed, assigned to rooftopcellist

[2021-01-19 22:14] rooftopcellist commented on #9066
The partial migrations as well as these permission issues were fixed by the follow PR's:
* https://github.com/ansible/awx/pull/9078
* https://github.com/ansible/awx/pull/9113

[2021-01-19 22:16] rooftopcellist commented on #8387
This issue is fixed by the follow PR's:
* https://github.com/ansible/awx/pull/9078
* https://github.com/ansible/awx/pull/9113

The will be available in the next AWX release, but are currently in devel if you want to try it out now.

[2021-01-19 22:16] #8387 closed, assigned to rooftopcellist

[2021-01-19 22:17] #9066 closed, assigned to nobody

[2021-01-19 22:25] one-t commented on #8294
~Hey, @marshmalien - looks like the fields the edit and detail views are missing aria labels for the fields. Can you add those in?~

[2021-01-20 07:43] sugitk commented on #9080
Can we configure `/var/lib/awx/rsyslog/rsyslog.conf` in order to be more stable?
For example, `queue.saveOnShutdown="on"` is effective?

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/configuring_basic_system_settings/configuring-a-remote-logging-solution_configuring-basic-system-settings#configuring-remote-logging-over-tcp_configuring-a-remote-logging-solution

[2021-01-20 09:55] gmtime opened #9115 "SSO login redirect override URL is not working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After upgrading to 16.0.0, SSO Login redirect override URL is no longer working.

"Settings->System->Miscellaneous System settings->Details" correctly shows "Login redirect override URL" setting (for example: /sso/login/saml/?idp=MYIDP), but editing is not possible and users are no longer automatically redirected.

##### ENVIRONMENT
* AWX version: 16.0

[2021-01-20 10:22] jetxeberria commented on #9103
Yes, we could investigate that alternative. But it would require more complex tag management to delete previous latest and create the new latest every time a new tag is created, so I find proposal interesting to avoid that procedure.

[2021-01-20 11:28] bimmerkiev commented on #106
I tried in 16.0.0 and it work the same. You can't define the path to custom requirements.yml file

[2021-01-20 13:19] tiagodread commented on #5030
Verified this issue and we can safely close this after https://github.com/ansible/awx/pull/9083 merges

[2021-01-20 14:27] ryanpetrello commented on #9115
@mabashian @jakemcdermott do you have an issue to track adding this support back into the new UI (if not, we can use this one)?

https://github.com/ansible/awx/issues/1886
https://github.com/ansible/awx/pull/5479

[2021-01-20 15:56] jakemcdermott commented on #9115
:wave: Hello, @gmtime I couldn't reproduce this. I see the redirect override field and can update its value:

![login-redirect-url](https://user-images.githubusercontent.com/9753817/105200482-dfa88d80-5b0d-11eb-9eb0-a9828b85e061.gif)

I used an admin user on a fresh install. Are there any additional set up steps I should do? If you can still reproduce the bug, would you be able to post a screensho

[2021-01-20 16:13] kannurkars opened #9117 "AWX fails to sync Projects and Job output is unavailable."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Everything works well except the cloning/Syncing project from git.
When I execute this from UI PROJECT the **Job-status fails with "No Route to host error"**,but **I see all my playbooks/roles and collections are available/getting updated in /var/lib/awx/project/_15__git_projects directory.**

Even I can see Playbooks in templates but sync status shows

[2021-01-20 16:20] ryanpetrello commented on #9115
@jakemcdermott I think they're suggesting that after successful login, the browser is not _redirecting_ to this URL i.e.,

https://github.com/ansible/awx/pull/5479/files#diff-82df1a8c96813927cf31345d61c02a0f7532cd8880d699ee7b23e041afb0259dR388

[2021-01-20 16:59] gmtime commented on #9115
Correct, it's not redirecting. Also, I don't seem to be able to edit the redirect URL (see screenshots). There is also a question of having really small SSO icon (hard to find).
<img width="1370" alt="Screen Shot 2021-01-20 at 17 51 03" src="https://user-images.githubusercontent.com/13539129/105208541-164fc980-5b49-11eb-84e9-e9471270c106.png">
<img width="1370" alt="Screen Shot 2021-01-20 at 17 51

[2021-01-20 16:59] one-t commented on #8294
~Another aria label thing I have found- all the the revert buttons have the same label~

[2021-01-20 17:04] gmtime commented on #9115
BTW, that's an upgrade from 15.0.1 to 16.0.0 - I did not try with the fresh install.

[2021-01-20 17:21] gmtime commented on #9115
Regarding Login and SSO, it would be great it we could customize SSO label and icon (e.g. "MyCompany SSO Users Log In Here")

[2021-01-20 19:33] unlikelyzero commented on #7015
https://github.com/ansible/awx/pull/9028#pullrequestreview-571571287

[2021-01-20 19:33] #7015 closed, assigned to one-t

[2021-01-20 20:50] unlikelyzero opened #9122 "[ui_next] Activity Stream Settings Page Feature"
##### ISSUE TYPE
 - Feature

##### SUMMARY
The Activity Stream Settings is available but does not function.

[2021-01-20 22:22] one-t commented on #8294
Looks good to me- I have added some open and closed source tests for this. https://github.com/ansible/tower-qa/pull/5874

[2021-01-20 22:38] wenottingham commented on #9103
I'm not sure we'd do this. The last tag (sequentially) may not have a meaning in most cases (especially when there are multiple branches).

[2021-01-21 05:40] vjsaisha commented on #1999
This feature is important one. Give a priority.  This will help in rolling out the new version code in production environment in controlled phase.

[2021-01-21 06:25] vaibhavjaimini commented on #1747
I am using AWX-14.0.0. I also had the requirement of passing tags to workflows. Since the feature is not there yet, I added a quick workaround to support tags in workflows via a special extra variable "tags_to_execute".
I understand it's not the correct solution, but it required very few code changes.
https://github.com/vaibhavjaimini/awx/pull/1/files
I added a survey in my workflow to ask for thi

[2021-01-21 11:20] randy-personal commented on #8863
The workaround that solved it for me was:
1. Edit `awx/installer/inventory` and set `create_preload_data=False`.
2. Launch the install playbook and wait for it to complete.
3. After the playbook successfully completes, go to the Web UI page and wait until "AWX is installing..." changes to the normal login screen.
4. Go into the "awx_task" container and run `/usr/bin/awx-manage create_preload_data`

[2021-01-21 12:19] unlikelyzero commented on #8296
@one-t added coverage in https://github.com/ansible/tower-qa/pull/5874

[2021-01-21 12:19] #8296 closed, assigned to marshmalien

[2021-01-21 12:19] #8294 closed, assigned to marshmalien

[2021-01-21 15:04] rooftopcellist opened #9125 "Consolidate Local Docker & Dev Environment installation methods"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We intend to consolidate the [Local Docker](https://github.com/ansible/awx/blob/devel/INSTALL.md#docker-compose) and our team's [development environment installer](https://github.com/ansible/awx/blob/devel/CONTRIBUTING.md#setting-up-your-development-environment) so that there is only one installer to maintain.  This will make it easier for us to kee

[2021-01-21 15:12] jlmitch5 opened #9126 "login page ui tweaks"
![Screen Shot 2021-01-20 at 12 54 28 PM](https://user-images.githubusercontent.com/1342624/105369911-0380d780-5bd1-11eb-9be8-02855c75ac1e.png)

- We should make sure logo is the white text version (not sure exactly how that branding gets added, may need to be a separate issue)
- We should move "Please sign in." to secondary text (and it should be sentence cased).  like this shows https://www.patte

[2021-01-21 15:13] unlikelyzero opened #9127 "[ui_next] Update AH/Galaxy Credential ordering on Orgs to make it more apparent how it impacts precedence"
##### ISSUE TYPE
 - Feature

##### SUMMARY
In 3.8, we added the ability to specify multiple Galaxy Credentials to an Org so that users could specify precedence of ansible content.

i.e.
[code]

This ticket captures the work to make it more apparent to the users of ui_next without necessarily introducing net new feature work for feature parity.

[2021-01-21 15:36] hjkatz opened #9128 "Allow Teams to be granted Org Admin (or create organization_admin role, or allow SAML configuration for org aliases)"
Hello! We're trying to accomplish the following:
* Create Org Z
* Add Team A to Org Z
* Create Org A
* Allow Team A to administer Org A <-- This is the challenge.

Currently this is not possible, and I would like to discuss potential solutions to this challenge.

## 1. Teams as Org Admins

See PR #6438 which limits the UI from displaying the Admin Role when assigning Team Roles to Organizations.

[2021-01-21 15:46] sezanzeb commented on #6673
@sinahamedheidari did you figure out what the problem was?

[2021-01-21 16:23] sezanzeb commented on #6673
See https://groups.google.com/g/awx-project/c/Sxuyj2H-lUc/m/6I6mHNYKAQAJ

I also needed to install docker.io in ubuntu in order to get the docker service running

[2021-01-21 16:52] cnukwas commented on #411
I was able to configure custom Root CA and make LDAPS connections work with AWX authentication with AWX version 16.0.0, deployed in Kubernetes cluster. See discussion [here](https://groups.google.com/g/awx-project/c/p4sKMYJr6gk).

[2021-01-21 16:58] cnukwas commented on #8997
Found out that it's actually very simple to use a different AWX image. This is what I did and it's working fine in Kubernetes cluster.

Created an image as mentioned below with base AWX image, tag and push that image to internal private registry.

[code]
After that all I had to do was update awx/installer/roles/kubernetes/defaults/main.yml with following changes and leave following inventory entri

[2021-01-21 17:44] kannurkars commented on #8847
looks like this fix broke job output of the failed jobs,
Ref: #9117
even tough api/v2/project_updates/110/stdout has the output of the job it says internel server error in job out page in UI.

[code]

[2021-01-21 20:01] misejoh opened #9132 "Defined variables in Template and deleted after (in launch) are passed anyway to the job(run)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI (?)

##### SUMMARY
Defined (previously configured) variables in Template and deleted after (in the launch phase) are passed to the job(run)

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: Debian 9
* Web Browser: Chrome

##### STEPS TO REPRODUCE

-Created project

[2021-01-21 21:27] gmtime commented on #9115
@ryanpetrello, @jakemcdermott, just a small correction: it's not that after successful login the browser is not _redirecting_, it's the login process itself.

Before 16.0.0, with _Login Redirect Override URL_ users were immediately redirected to SSO page to login - now we always get AWX login page. Clicking on SAML icon will execute SSO process correctly and users will login correctly - that works

[2021-01-21 21:46] gmtime commented on #9128
@hjkatz We have a similar setup (SAML, multiple ORGs, _admins/ users_ teams). We gave up on SOCIAL_AUTH_SAML_ORGANIZATION_ATTR and SOCIAL_AUTH_SAML_TEAM_ATTR since the mapping is not flexible enough.

We ended up extending SOCIAL_AUTH_SAML_PIPELINE so that ORGs and TEAMs are automatically created based on SAML attribute (LDAP feeding group membership into SAML attribute). Permissions are also set

[2021-01-21 21:54] hjkatz commented on #9128
Are you saying you forked AWX and added additional function calls to the [`SOCIAL_AUTH_SAML_PIPELINE`](https://github.com/ansible/awx/blob/devel/awx/settings/defaults.py#L483)? Or did y'all do something else that I'm not groking?

[2021-01-21 21:59] gmtime commented on #9128
In _social_auth.py_ added:
`
SOCIAL_AUTH_SAML_PIPELINE += (
    'awx.settings.production.our_own_social_auth_pipeline_function',
)

def our_own_social_auth_pipeline_function(backend, details, user=None, *args, **kwargs):
    """
    Code goes here
   """
`

[2021-01-21 22:03] gmtime commented on #9128
Example implementation is at https://github.com/ansible/awx/blob/devel/awx/sso/pipeline.py#L197 (as you mentioned)

[2021-01-21 22:45] hjkatz commented on #9128
If the AWX team is amenable to a PR to add this functionality to the [`update_user_orgs_by_saml_attr`](https://github.com/ansible/awx/blob/devel/awx/sso/pipeline.py#L161) function, then I'll gladly submit a PR.

Personally, I think it's a bit silly that there's no `organization_admin` role available for Teams, or that the `admin` role is not available for Teams. So I'm also willing to wait for a f

[2021-01-21 22:52] sandeepsisodiya commented on #5942
Any Update on this? Facing the same issue in awx 15.0.1

   "job_explanation": "Job terminated due to timeout",

Project Update seems to be working fine:
GET /api/v2/project_updates/1/stdout/
HTTP 200 OK
Allow: GET, HEAD, OPTIONS
Content-Type: text/plain ;utf-8
Vary: Accept
X-API-Node: awx
X-API-Product-Name: AWX
X-API-Product-Version: 15.0.1
X-API-Time: 0.020s

PLAY [Update source tree if necessa

[2021-01-21 23:31] unlikelyzero commented on #8811
@ryanpetrello @chrismeyersfsu i'd put this into the bughancement category

[2021-01-21 23:56] domenicbove opened #9134 "Docker pull fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Dockerhub pull fails, can you rebuild the image

[code]

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2021-01-22 00:26] AlanCoding commented on #5942
@sandeepsisodiya is that the same as https://github.com/ansible/awx/issues/8977?

[2021-01-22 00:40] loftwah commented on #8863
![image](https://user-images.githubusercontent.com/19922556/105429998-823b4a80-5c8d-11eb-9e76-87834f07e19c.png)

[2021-01-22 02:56] going2thecloud commented on #2688
I am trying to configure Org using SAML attribute and wondering if following feature is supported as posted in the top of this feature request. I am using Ansible Tower 3.8. I am getting error while saving this setting entered in "SAML Organization Attribute Mapping". My requirement is to add users of group belongs to okta-grp1 (mapped with ansibleOrganizations attribute) as Org Users and add user

[2021-01-22 06:12] ryanpetrello commented on #9134
This will be fixed later today when I tag and release 17.0.0.

[2021-01-22 06:12] #9134 closed, assigned to nobody

[2021-01-22 08:10] mo-saeed opened #9136 "[Question] new UI and upgrade"
Hello, we are using AWX version 15.0.0, version 16.0.0, and 17.0.0 are introducing breaking changes for the UI. we decided to upgrade when the UI is completely ready and all changes are implemented. the question how can I track that? and will it be written on the release notes when the UI is completely ready?

[2021-01-22 08:59] jetxeberria opened #9137 "Display groups hierarchy of an inventory in a tree view"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We use groups hierarchy to different levels of configuration of our devices, up to 5 levels of groups. This provides us high granularity on the configuration generalization as well as customization.

In the inventory, groups tag, all groups are displayed in a list, and there is no visual difference between group levels.

![Screenshot from 2021-01-22

[2021-01-22 10:44] stanislaw55 opened #9138 "AWX does not send Job finish message to awx command line tool"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When running Jobs via `awx` command line tool with `--wait` flag, `awx` process never finishes. Job in AWX is long finished but `awx` tool is still waiting.

This bug was not present on version 13.0.0

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: CentOS 8 Stream
* Web Brow

[2021-01-22 10:48] stanislaw55 commented on #8388
Update to newer version fixed it

[2021-01-22 10:48] #8388 closed, assigned to thedoubl3j

[2021-01-22 11:05] jetxeberria opened #9139 "Inventory variables not loaded until host is found in inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.16
* Operating System: ubuntu 20.04
* Web Browser: Firefox 84.0.2

##### STEPS TO REPRODUCE

- Define a playbook "test.yml" with contents:

[code]

- Define a template in AWX that uses that playbook

![Screenshot from 2021-01-22 11-39-14](https://user

[2021-01-22 12:41] jpronans opened #9140 "AWX 17.0.0 Fresh Install fails on creation of .awx/awxcompose directory"
##### ISSUE TYPE
 - Installation fails.

##### SUMMARY
Running ansible-playbook -i inventory install.yml with defaults fails.

User:
awx@ubuntu:~/awx/installer$ id
uid=1001(awx) gid=1001(awx) groups=1001(awx),27(sudo),117(docker)

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operating System: Ubuntu 20.04.1
* Web Browser: N/A

##### STEP

[2021-01-22 12:46] jean-christophe-manciot commented on #8863
Issue solved by ```17.0.0```.

[2021-01-22 12:46] #8863 closed, assigned to nobody

[2021-01-22 13:56] sspreitzer commented on #5711
Adding "Prompt for Instance Group" in the job templates sounds like a low hanging fruit to me.

[2021-01-22 14:05] jaytradertee opened #9141 "Cannot set LDAP Group Type to values other then NestedMemberDNGroupType and MemberDNGroupType"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When trying to set the LDAP Group Type to ActiveDirectoryGroupType, I get the exception:

"AUTH_LDAP_GROUP_TYPE_PARAMS": ["Invalid key(s): \"member_attr\".""

I tried all the group types as described in https://django-auth-ldap.readthedocs.io/en/stable/groups.html#types-of-groups

NestedMemberDNGroupType and MemberDNGroupType were accepted
.
PosixGroup

[2021-01-22 14:53] ryanpetrello commented on #9136
👋 @mo-saeed the new UI is pretty close, though it doesn't have 100% feature parity with the old UI yet.  I've been using it as a daily driver since 16.0.0 (early December).

I'd suggest setting up a sample install and giving it a whirl and seeing what you think - we don't have an estimate for full feature parity.

@jakemcdermott @mabashian is there a place you all are tracking the major "what's le

[2021-01-22 14:55] jakemcdermott commented on #9136
:wave: Hello!

We track the ui work here: https://github.com/ansible/awx/projects/11

We'll continue to add announcements to the release notes as remaining features are completed.

That said, the AWX project is the location of our upstream development efforts. It's a fast-moving project that changes often. If by "completely ready" you mean "bug-free and production ready" then we won't be making su

[2021-01-22 14:55] #9136 closed, assigned to nobody

[2021-01-22 15:31] mnhan3 commented on #1815
This is still a problem.   I'm using awx-16.0.0.    I've added a custom-venv during the install, setup a custom-venv.  Added to the venv path and add it to the org.    Create a new project and it showed the option to choose custom virtual env, but creating a new template for the project doesn't allow you to choose to which virtual env.   Did the option to choose virtual env per template go away or

[2021-01-22 15:39] AlexSCorey commented on #8921
We need to do something similar for schedules

[2021-01-22 16:16] tiagodread commented on #8913
Verified locally and now is fixed!

[2021-01-22 16:16] #8913 closed, assigned to tiagodread

[2021-01-22 16:19] wenottingham commented on #9139
You can't use inventory variables in the host specifier in this way, only extra variables.

Example from the CLI:
[code]

[2021-01-22 16:19] #9139 closed, assigned to nobody

[2021-01-22 16:25] amolgautam25 commented on #5057
Hi UI team,

I have assigned this issue to myself.

The resolution here seems to be that we need to add another API field ( or key ), in the response, such that the UI will know that the job was launched from a template ,and that template was inside of a schedule.

I was wondering if we all can agree on what should we name the new KEY, in the response that will be sent. Let me know.

[2021-01-22 16:41] jbradberry commented on #5057
@amolgautam25 in my opinion, this calculated value should just be called `launched_by`.  I'm thinking it would probably make sense to do it as a `@property` on the `UnifiedJob` model, and then expose that value in the API serializer.

[2021-01-22 17:08] sean-m-sullivan commented on #9140
I am also experiencing this issue, using github runner to standup an awx for collection testing, and get the following
[code]
when installer run as sudo
[code]

[2021-01-22 17:24] sinahamedheidari commented on #6673
@sezanzeb No I did not! I tried and search a lot but I could not resolve the issue and of course I am sure the docker daemon was running when I build the image! After that we decided to use ansible in command line mode as it was before.

[2021-01-22 18:10] wenottingham commented on #9141
AUTH_LDAP_GROUP_TYPE_PARAMS is dependent on the group type - certain parameters aren't valid for certain group types.

If you are changing GROUP_TYPE, you many need to set GROUP_TYPE_PARAMS at the same time.

[2021-01-22 18:12] blomquisg commented on #9138
Does this happen every time with this job?  Are there any more details you can share about the job?

And, does the job show finished in the web UI?

[2021-01-22 18:15] stanislaw55 commented on #9138
Hi @blomquisg
yes, it happens every time. Not only with one job but with more of them (maybe all but I did not dare to test it).
Job is finished in UI, either as a failed or successful.

[2021-01-22 18:24] wenottingham commented on #9117
Do you have the actual traceback from the 500 in the logs?

[2021-01-22 18:28] chrismeyersfsu commented on #9132
It is a bit confusing. AWX takes the union of the extra vars + the prompt vars (if conflict then prompt vars overwrite). This is not a regression. It has always been like this.

[2021-01-22 18:28] #9132 closed, assigned to nobody

[2021-01-22 18:29] blomquisg commented on #9107
@john-westcott-iv Any chance you could look at this one?

Looks like the collection is trying to manage scheduled from the global schedules endpoint, and maybe shouldn't

[2021-01-22 18:42] chrismeyersfsu commented on #9100
Allowing connections to Redis over TCP would require more strict security. Maybe in the form of a redis password, maybe in the form of kubernetes level access control around what containers are allowed to access the Redis container. For AWX purposes, on the container in the pod with Redis should be allowed.

[2021-01-22 18:49] kannurkars commented on #9117
can you please guide me, which logs will be helpful?

[2021-01-22 19:03] wenottingham commented on #9117
It would be in the container logs themselves

[2021-01-22 19:46] kannurkars commented on #9117
not sure if I am posting the correct logs here; please guide me what exactly can help? as i see everything empty
nothing in /var/log/messages /var/log/tower or nginx.
This is what I get from docker logs -f awx_task
[code]

[2021-01-22 19:56] AlanCoding commented on #9128
It is non-obvious that organization `admin_role` inherits permissions of teams in that organization.

https://github.com/ansible/awx/blob/b8e0d087e5d4a8bbd97132f2e26fc511d0e761dd/awx/main/models/organization.py#L151-L156

The team `member_role` is the vehicle by which permissions to other resources in the system are shared with people in that team. The team `admin_role` blandly grants permission t

[2021-01-22 20:27] wenottingham commented on #9117
That is not far enough back. You'd want the logs from awx_web from when you get the 500 accessing the project_update.

[2021-01-22 20:34] kannurkars commented on #9117
Here we go:
[code]

[2021-01-22 20:41] lcarangelo opened #9144 "Upgrade from AWX GIT VERSION 12 to AWX GIT VERSION 17 Fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
During the installation via : ansible-playbook -i inventory install.yml , it fails during Postgres upgrade (from 10 to 12)

##### ENVIRONMENT
* AWX version: from AWX 12 to latest
* AWX install method: , docker on linux,
* Ansible version:
ansible 2.9.3
  config file = /etc/ansible/ansible.cfg
  configured module searc

[2021-01-22 20:43] kannurkars commented on #9117
Anyways!! What about **No route to Host** Error? Why I am getting this even though contents are available? (screenshot added in original issue)

[2021-01-22 20:57] csamarajeewa opened #9146 "virtual environment python interpreter"
##### ISSUE TYPE
 - Feature Idea

Virtual environment doesn't seem to use the correct python interpreter when activated.

##### SUMMARY

AWX doesn't seem to use the python interpreter from the venv when the environment is activated . I had to manually set  ansible_python_interpreter: path-to-venv-interpreter variable for my job to work successfully.

[2021-01-22 21:08] john-westcott-iv commented on #9062
Below is from a failed project sync, you can see the &apos; entries on line 1.
![image](https://user-images.githubusercontent.com/32551173/105547040-12988000-5ccc-11eb-9120-c0fa82f53e49.png)

[2021-01-22 21:10] wenottingham commented on #9117
Unsure, presumably something off in the container networking. The odder thing is why the project update didn't fail overall.

[2021-01-22 21:18] kannurkars commented on #9117
I checked containers networking thoroughly, before bringing things here. Plus I am getting everything on the local disk; which means my instance is able to reach the repo, able to log in, and fetch the data (including revision update), and write it on the disk still the status says it's failed.

TIA

[2021-01-22 21:52] unlikelyzero opened #9147 "[ui_next] Add Tower Callback URL 'Copy button' to Edit Authentication Forms"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
For Authentication Forms which need the tower callback url, we should make the url visible and copyable.

i.e. Github Enterprise Authorization requires a tower url. This value is https://<url>/sso/complete/github-enterprise-org/ should be copyable from the Github Enterprise Authorization Edit Form

[2021-01-22 23:41] zmbutter commented on #3940
We are having this problem today. Please let me know exactly what information you'd like to see.

[2021-01-23 14:57] #1240 closed, assigned to nobody

[2021-01-23 15:15] #2157 closed, assigned to nobody

[2021-01-23 15:17] unlikelyzero commented on #1973
@msilmser have you had a chance to take a look at the new dashboard?

[2021-01-23 15:18] #2248 closed, assigned to nobody

[2021-01-23 15:20] unlikelyzero commented on #2257
Let's see if this has been fixed

[2021-01-23 15:20] unlikelyzero commented on #2296
Going to assume that this has been solved by the new Advanced Search

[2021-01-23 15:20] #2296 closed, assigned to nobody

[2021-01-23 15:22] unlikelyzero commented on #2357
closing this as dupe of https://github.com/ansible/awx/issues/9013

[2021-01-23 15:23] #2196 closed, assigned to nobody

[2021-01-23 15:23] unlikelyzero commented on #2562
Covered in the new ui

[2021-01-23 15:23] #2562 closed, assigned to nobody

[2021-01-23 15:24] unlikelyzero commented on #2648
This is now solved in the new ui

[2021-01-23 15:24] #2648 closed, assigned to nobody

[2021-01-23 15:25] #2163 closed, assigned to nobody

[2021-01-23 15:26] unlikelyzero commented on #2444
retest

[2021-01-23 15:27] #2903 closed, assigned to nobody

[2021-01-23 15:29] AlanCoding commented on #2357
That's not the same, because a successful sync has no meaning other than the user pushed a button and something ran. Here, I'm talking about point out when the _content_ that a user is running has changed due to a project update.

When someone's automation breaks, then need to find the last _change_ that was made in order to track down the source.

A "successful" project update should be looked at

[2021-01-23 15:30] #3324 closed, assigned to nobody

[2021-01-23 15:31] unlikelyzero commented on #2939
This UX Pattern was solved in the new UI. Let's ensure we have an explicit test for this

[2021-01-23 15:36] #3530 closed, assigned to nobody

[2021-01-23 15:37] unlikelyzero commented on #3700
let's retest this ux

[2021-01-23 15:38] #3437 closed, assigned to nobody

[2021-01-23 15:39] unlikelyzero commented on #2043
let's retest this

[2021-01-23 15:40] #2531 closed, assigned to nobody

[2021-01-23 15:41] unlikelyzero commented on #3167
let's retest these examples

[2021-01-23 15:42] #3463 closed, assigned to nobody

[2021-01-23 15:43] unlikelyzero commented on #4023
retest in new ui

[2021-01-23 15:46] unlikelyzero commented on #3831
@mabashian @marshmalien @AlanCoding we're about halfway through redoing all these forms. Can we sync on this next week?

[2021-01-23 16:11] #5030 closed, assigned to nobody

[2021-01-23 16:13] #2205 closed, assigned to nobody

[2021-01-23 16:38] shanemcd commented on #9140
@rooftopcellist Can you take a look at this on Monday? It seems fresh installs may be broken after one of your recent PRs.

[2021-01-23 16:48] unlikelyzero commented on #2010
closing as dupe of https://github.com/ansible/awx/issues/2032

[2021-01-23 16:48] #2010 closed, assigned to nobody

[2021-01-23 16:48] unlikelyzero commented on #4344
closing as dupe of https://github.com/ansible/awx/issues/2032

[2021-01-23 16:48] #4344 closed, assigned to nobody

[2021-01-23 16:49] unlikelyzero commented on #4135
Please follow the work in https://github.com/ansible/awx/issues/2032

[2021-01-23 16:49] #4135 closed, assigned to nobody

[2021-01-23 16:54] shanemcd commented on #9109
I thought we had this on the EE branch? Did it get removed at some point? I would love to see this in our initial effort.

[2021-01-23 17:04] jbradberry commented on #9109
Uh, you removed it.

[2021-01-23 19:13] AlanCoding commented on #9109
Let's talk about the full implementation.

https://github.com/ansible/ansible-runner/blob/3d4a6c2ac42bdf0669feed19cdd6f9800ec9f57d/ansible_runner/runner_config.py#L846-L847

Maaaybe this would be achieved by the ansible-runner setting `container_options=['--pull']`?

EDIT: this was wrong, keep reading...

[2021-01-23 23:48] Figrol commented on #1179
Is there any update on this issue? Limiting playbooks is very difficult just using groups and having to write out a pattern is not really safe enough for a non-administrator. They may easily automate against the wrong host etc. I can inject variables into the hosts field in the playbook but having the ability for the user to select from a dropdown of groups would be much more useful!

[2021-01-24 21:11] steelcowboy opened #9151 "running a Project Sync skips all role detection/fetching."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Even though roles show to be enabled in the WebUI and Galaxy Credentials are defined, running a Project Sync skips all role detection/fetching.

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: docker on Linux
* Ansible version: 2.9.16
* Operating System: Ubuntu 20.10
* Web Browser: Google Chrome v88

##### STEPS TO REPRODUCE

1. Ensure Ro

[2021-01-25 14:37] rooftopcellist commented on #9140
As mentioned, the issue is that the `.awx` directory's permissions get restricted to root at some point.  @sean-m-sullivan @jpronans As a work-around, you can chown the `.awx` directory (default path is `~/.awx`) to be owned by the non-root user that you run the playbook as.

I will figure out a more permanent fix for this, but that will make the installer run to completion and install AWX 17.0.0.

[2021-01-25 15:46] AlanCoding opened #9153 "[execution-environments] Report receptor unit_id in API for manual debugging"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The API should give the unit_id for a job, or otherwise document how the user can figure out the unit_id from other fields.

If use case is that an error happens and a user or support personnel need to shell into the server and manually run `receptorctl` commands to poke at what happened. Ping @gamuniz

These commands follow the pattern of:

 - `rece

[2021-01-25 15:53] AlanCoding opened #9154 "[execution-environments] In some cases, AWX fails to release job that had error"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Run a job that had an error due to some receptor configuration problem (more detailed specifics TBD).

Make sure there are no jobs running in the system.

Now shell into the server and check `receptorctl work list`

Expected result: nothing listed

Actual result:

[code]

The `result_traceback` in the job reports the error. However, as of https://git

[2021-01-25 16:01] AlanCoding commented on #9151
Same root issue as others ~like https://github.com/ansible/awx/issues/4675~, but a little more specific about the UX. Ping @ryanpetrello

[2021-01-25 16:01] ryanpetrello commented on #9154
Yep, I've experienced this, too.  It's pretty easy to reproduce by just putting in a container group URL that's nonsense (like example.org).

[2021-01-25 16:09] shanemcd commented on #9109
@jbradberry Wasn't it in the wrong place?

Edit: I remember now: your original implementation put it on the mix-in, which we decided against. We still need to add this option at the EE level.

[2021-01-25 16:12] shanemcd commented on #9109
I remember now: your original implementation put it on the mix-in, which we decided against. We still need to add this option at the EE level.

[2021-01-25 16:13] shanemcd commented on #9109
@rebeccahhh This should be pretty easy to add. Can you look into this if you have time this week?

[2021-01-25 16:16] shanemcd commented on #9109
@AlanCoding According to the man pages for podman/docker:

[code]

So I think we would want `--pull=always`.

[2021-01-25 16:24] AlanCoding commented on #9109
wouldn't you want to give all the options? What if someone wanted to populate the cache manually and use "never" for security reasons?

To set expectations of how this operates, I experimented with this locally:

[code]

I started with a stale image.
 - The first one ran in 0.5 seconds
 - Next command ran in 30 seconds
 - every time after that took 1-2 seconds

So it looks like "always" is isn't c

[2021-01-25 16:27] AlanCoding commented on #9154
Ping @yagomarques, I want to start gathering observations like this, and eventually put them in the test plan.

[2021-01-25 17:08] AlanCoding commented on #7061
^ that was done a while ago, this is finished and working rather well in the `execution-environments` branch

[2021-01-25 17:51] pauby commented on #6610
I know this issue is closed but I wanted to update the notes on [this comment](https://github.com/ansible/awx/issues/6610#issuecomment-613035465) to say that `chart:write` was not available for an app we already had installed (it was a Bot app that requires access to the RTM API) so I had to add `chat:write:user` to get it to work.

UPDATE: Actually `chat:write:user` did work, but it ended up post

[2021-01-25 18:10] AlanCoding commented on #9146
This will be solved with execution environments https://github.com/ansible/awx/issues/5157

[2021-01-25 18:18] rebeccahhh commented on #9146
There will be instructions on how to migrate/avoid this once the work with execution environments. Leaving this open until migration instructions are available.

[2021-01-25 18:59] john-westcott-iv opened #9158 "Sync button "box" is offcentered"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When clicking on the sync icon on project screens the selection box put around it is not centered.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.3
* Operating System: Fedora
* Web Browser: Chrome on OS X

##### STEPS TO REPRODUCE

Create a project, click on the sync button

##### EXPECTED RESULT

[2021-01-25 19:20] keithjgrant commented on #7548
Look at #9010 while working on this… it might make sense to address them together

[2021-01-25 19:22] keithjgrant commented on #9010
We decided to punt this and address it alongside #7548 — it might make more sense to hide the column headers while the skeleton loaders display, thus making the shifting columns widths hidden during load and acceptable is is

[2021-01-25 19:55] unlikelyzero opened #9160 "[ui_next] Element icons do not appear centered after selection or interaction"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Turning this into a meta-issue due to the number of impacted pages/elements and the number of duplicate issues filed.

https://github.com/ansible/awx/issues/9158
https://github.com/ansible/awx/issues/8851
https://github.com/ansible/awx/issues/7507

##### ENVIRONMENT
* AWX version: 16.0.0

##### STEPS TO REPRODUCE
1. Create a project, click on the sync

[2021-01-25 19:55] unlikelyzero commented on #9158
@john-westcott-iv thank you for filing this issue. It appears to be a problem across the app. I'm closing the 3 duplicate issues and using your format to file a new generic issue.

https://github.com/ansible/awx/issues/9158
https://github.com/ansible/awx/issues/8851
https://github.com/ansible/awx/issues/7507

[2021-01-25 19:55] #9158 closed, assigned to nobody

[2021-01-25 19:55] #8851 closed, assigned to nobody

[2021-01-25 19:56] #7507 closed, assigned to nobody

[2021-01-25 21:48] Lobout opened #9161 "AWX 17.0.0 VCenter Dynamic Inventory Hostname unable to change format"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using the VMware vCenter dynamic inventory the host name is imported in the format 'name_uuid'. For example: AWX_42338701-e6b6-690c-e553-9405a9a0180c

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: Docker on Linux
* Ansible version:  2.9.16
* Operating System: Centos Stream 8.3
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Add V

[2021-01-25 22:02] kdelee commented on #7061
This is done from QE perspective because all regression tests are passing.

There are a couple items that were not done on alan's checklist:

[code]

but those appear to be internal refactors that would have no user facing component, so I'm going to leave it up to devs to address them later at their own pace.

Thanks!

[2021-01-25 22:02] #7061 closed, assigned to AlanCoding, jladdjr

[2021-01-25 22:13] kdelee commented on #8429
The variable is now available. Put up a PR in the tower docs repo, so not going to close yet, but once the docs are in we can close.

[2021-01-25 22:27] djj106 opened #9162 "Notification Template - workflow_url variable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

The workflow_url variable in a notification template returns a url constructed like: https://example.com/#/workflows/249335

This URL appears to be invalid with the new UI.

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: docker on linux
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### ST

[2021-01-25 22:32] djj106 opened #9163 "Admins cannot access Workflow Approvals page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

After upgrading from 15.0.1 to 17.0.0, admin users cannot access the Workflow Approvals page. Non-admin users can access the page as expected. Relevant error from the browser:

`TypeError: Cannot read property 'username' of undefined
    at dI (WorkflowApprovalStatus.jsx:50)
    at Xo (react-dom.production.min.js:153)
    at vs (react-dom.production.m

[2021-01-25 22:36] jamesmarshall24 opened #9164 "Allow a Team to be Assigned as Team Admin to Another Team"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Similar to assigning a user as a team admin, all a team to be added as a team admin of a different team.

[2021-01-25 23:27] kdelee commented on #9085
fwiw I started to look at this in my local dev environment

I noticed that running something like https://github.com/ansible/test-playbooks/blob/master/chatty_tasks.yml with 1 host and 5000 messages, I did not get any output until the end of the playbook run.

Tried blowing away all my containers and starting fresh, but now I'm having trouble getting ti to run at all (stuck at `Attatching to tools