[2019-08-21 13:57] ryanpetrello commented on #4536
@unlikelyzero to clarify, is this a regression you've noticed in `devel`, or as part of @jladdjr's open PR: https://github.com/ansible/awx/pull/4291 ?

[2019-08-21 14:27] unlikelyzero commented on #4539
@ryanpetrello i think we should have a more descriptive error in that case

[2019-08-21 14:28] unlikelyzero commented on #4536
@ryanpetrello it does not appear on `devel` but is likely related to the custom messages changes

[2019-08-21 15:13] kdelee commented on #4156
@ryanpetrello I hand-vendored the devel version of the vmware script https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/vmware_inventory.py onto a RHEL7 box where python2 is in the `ansible` venv....I was able to run an inventory update against our test VMware simulator...I cannot garuntee that this exercises all code paths, but FWIW seems to work.

Recommended path forward

[2019-08-21 15:58] unlikelyzero commented on #4531
Verified on latest

[2019-08-21 15:58] #4531 closed, assigned to jladdjr

[2019-08-21 16:10] ryanpetrello commented on #4539
@unlikelyzero I do agree with _that_, I think this relates to this comment I made on the PR:

cc @jladdjr @keithjgrant @jakemcdermott

Maybe we didn't get this quite right?

https://github.com/ansible/awx/pull/4291/files#r314498337

![](https://user-images.githubusercontent.com/214912/63126830-cbf31200-bf7e-11e9-9e57-d5db66bdd393.gif)

[2019-08-21 16:34] keithjgrant commented on #4530
Spoke with @trahman73 about this. We're OK with the behavior described here. If you don't customize the message, they toggle is effectively un-checked because the messages are still the default messages.

The 500 server error in the screen capture above does need fixing, which @jladdjr addressed above.

[2019-08-21 16:35] keithjgrant commented on #4538
Should we prohibit newlines in the UI? Or do some notification types support them?

[2019-08-21 16:38] saali2016 opened #4545 "Send Ad-hoc events to log Aggregator"
##### ISSUE TYPE
Currently we have no way to ship ad-hoc command to the log aggregator
/api/v2/ad_hoc_commands/

When a user executes an ad-hoc command, a single activity_stream event is sent representing the creation of the command  but no other information is. None of the 'ad_hoc command events' available in the Tower API are sent.

##### SUMMARY

[2019-08-21 17:01] unlikelyzero commented on #4530
@keithjgrant updating description and title to reflect the issue

[2019-08-21 17:44] unlikelyzero opened #4546 "Error handling for invalid form entry for NT custom messages isn't prescriptive or defensive"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Error handling for invalid form entry for Customized messages in NT isn't prescriptive or defensive. Example https://github.com/ansible/awx/issues/4539

##### STEPS TO REPRODUCE
Repro in https://github.com/ansible/awx/issues/4539

##### EXPECTED RESULTS
Defensive form entry to prevent bad input. OR
Prescriptive feedback on how to correct bad form entry

[2019-08-21 17:45] unlikelyzero commented on #4539
@ryanpetrello filed https://github.com/ansible/awx/issues/4546

[2019-08-21 19:08] themalaikulfi commented on #1519
I am also trying to configure CORS in the settings.py. I installed django-cors-headers and added in setup.py :
INSTALLED_APPS = ['corsheaders' ]
MIDDLEWARE = [
    'corsheaders.middleware.CorsMiddleware',
    'django.middleware.common.CommonMiddleware'
]

CORS_ORIGIN_ALLOW_ALL = True

I am getting all kinds of errors! Running AWX 3.3.7. Any help would be much appreciated from those who have config

[2019-08-21 19:20] benthomasson commented on #4513
I prefer a solution to upload directly to the file upload service  https://cloud.redhat.com/api/ingress/v1/upload.   This would require storing the cloud.redhat.com credentials.  Luckily AWX is very good at storing credentials.   We could use the insights credential type for this.

[2019-08-21 19:29] unlikelyzero commented on #4521
note this is a regression when updating to the latest AWX

[2019-08-21 19:32] vivuu1989 commented on #4518
Tried.. but no luck.. is there any workaround for this... For tower offline
installation. Getting error related to python  only

On Tue, 20 Aug 2019, 19:08 Ryan Petrello, <notifications@github.com> wrote:

[2019-08-21 19:41] themalaikulfi opened #4547 "How to enable CORS on awx-tower? Documentation needed."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I would like to use the AWX API to run jobs from a custom front-end, however I am unable to get past the authentication surrounding it. If I provide credentials in the header, I get no response and if I don't provide any headers I get :
{"detail":"Authentication credentials were not provided. To establish a login session, visit /api/login/."}

Our AWX

[2019-08-21 19:46] unlikelyzero commented on #4533
Verified with latest

[2019-08-21 19:46] #4533 closed, assigned to jladdjr

[2019-08-21 20:20] mabashian opened #4549 "Not Found page shown when navigating from org list to org details"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![not_found](https://user-images.githubusercontent.com/9889020/63465504-65af3900-c42f-11e9-8678-fd66ed740d80.gif)

Clicking on an org link to view the details flashes a `Not Found` page before showing `Loading` and then finally the org details.  I would expect to see `Loading` only unless the org was deleted between the time the list was loaded and whe

[2019-08-21 20:45] mabashian opened #4550 "Search bar gets hidden if there are no results"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![search](https://user-images.githubusercontent.com/9889020/63467278-179c3480-c433-11e9-83f0-6f373ab518e2.gif)

Search bar shouldn't be hidden if there are active filters but no results.

[2019-08-21 21:19] ryanpetrello commented on #4547
@themalaikulfi what errors are you seeing?

[2019-08-21 21:20] ryanpetrello commented on #4547
Since you asked this question over on https://github.com/ansible/awx/issues/1519#issuecomment-523607418, let's track it there.

Also, this issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, you might get a quicker response on our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.goog

[2019-08-21 21:20] #4547 closed, assigned to nobody

[2019-08-21 21:22] ryanpetrello commented on #4518
@vivuu1989

It sounds like you're using Red Hat Ansible Tower, which is a software product supported by Red Hat (not the upstream AWX community, which is what this issue tracker represents) - please reach out directly to Red Hat for support for that product.

[2019-08-21 21:25] ryanpetrello commented on #1519
@themalaikulfi

3.3.7 isn't an AWX version number (https://github.com/ansible/awx/releases), though it is a Red Hat Ansible Tower version number.

I'll note that the CORS functionality you're referring to is likely not _present_ in that version of Ansible Tower (these release notes suggest it was added in Tower 3.5.0: https://docs.ansible.com/ansible-tower/latest/html/release-notes/relnotes.html#a

[2019-08-21 22:41] jladdjr commented on #4536
Bingo:
https://github.com/ansible/awx/blame/devel/awx/main/models/jobs.py#L676

Walked through the code and confirmed we're hitting this repeatedly for 'start' notifications.

I haven't walked through the code w/ success / failure notifications, but at a higher level did confirm that success messages fire with hardly a delay.

[2019-08-21 22:43] jladdjr commented on #4536
cc @matburt @ryanpetrello - saw you all chatting about ^ this this morning. Based on what I read, sounds like there may be some hidden side-effects with pulling the sleep out. Can you provide some context on that?

[2019-08-21 23:00] jladdjr commented on #4536
okay, I think I see why this is only affecting start notifications:

* `run` task calls `self.instance.send_notification_templates("running")`
* .. which calls `self.build_notification_message(nt, status)`
* .. which calls `self.notification_data()` twice
* `notification_data` polls for `self.job_host_summaries.all()` and sleeps (up to 5 seconds by default) until something is returned
* .. _but_,

[2019-08-21 23:11] jladdjr commented on #4536
Added a [small change](https://github.com/jladdjr/awx/commit/b0a89f03a) that tells `notification_data` not to bother with blocking if the job is still running.

With that change:
* job w/ 26 notifications set to fire on job start: 9.863 seconds
* job w/out notifications: 7.0 seconds

[2019-08-22 03:40] ryanpetrello commented on #4536
Oh man @jladdjr, excellent detective work on that one - that would have been a *really* noticeable regression and definitely caused problems for people using start notifications.

[2019-08-22 04:00] jladdjr commented on #4536
Danke! Huge props to @unlikelyzero for finding the nasty regression in the first place! Seriously, good find.

![image](https://user-images.githubusercontent.com/4440360/63485012-9e163d80-c456-11e9-9f92-40aea8534889.png)

[2019-08-22 04:08] jladdjr opened #4552 "It's time to lose some sleep.."
[This sleep](https://github.com/jladdjr/awx/commit/b0a89f03a418a1bdc717722cd15b3c507bf0cd42#commitcomment) got us in trouble [once](https://github.com/ansible/awx/issues/4536#issuecomment-523681467). Making an issue so I don't forget to follow-up on this.

Also creating an issue b/c we're not entirely sure what kind of fallout might happen if we pull this out. (My sense is that the worse case scen

[2019-08-22 08:47] hiyokotaisa opened #4553 "RFE: Add toggle for "Disable Local User Log-in" setting"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When the external authentication (LDAP/SAML/OAuth etc.) is enabled, there is a use-case to turn off the authentication for local users for security reason.

It would be great if there is a toggle switch to turn on/off authentication for local users. When the local auth is disabled, it is not able to log in via local users but Tower can use built-in

[2019-08-22 14:28] mabashian opened #4554 "Management Jobs shown in two columns instead of three"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1558" alt="Screen Shot 2019-08-22 at 10 26 36 AM" src="https://user-images.githubusercontent.com/9889020/63523057-727f6b80-c4c7-11e9-9852-469a677053f9.png">

##### ENVIRONMENT
* AWX version: 6.1.0

##### STEPS TO REPRODUCE
1. Go to Management Jobs
2. Observe

##### EXPECTED RESULTS
3 columns

##### ACTUAL RESULTS
2 columns

[2019-08-22 14:29] themalaikulfi commented on #1519
Hi @ryanpetrello ,

Sorry- It is AWX 6.1.0 which I believe matches Tower 3.3.7

From this thread, I had assumed that Tower 3.0.0+ would have CORS functionality so I am surprised that it is actually in 3.5.0. Would CORS would be present in the 6.1.0 AWX version? And if not, which version should we upgrade to in order to have that feature?

Thank you

[2019-08-22 14:41] msilmser opened #4555 "RFE: Allow `>` and `<` operators with EC2 Source Instance Filters"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Attempting to add an instance filter for `launch-time` in an EC2 source can be done similar to the following:

`launch-time=2019-08*`

This will import all hosts with a launch time in August of 2019, as expected. However, if you want to filter all hosts launched after that:

`launch-time=>2019-08*`

This will import 0 hosts. It seems any formatting w

[2019-08-22 14:43] ryanpetrello commented on #4555
Is this actually supported in the inventory script/plugin under the hood in Ansible?

[2019-08-22 14:48] ryanpetrello commented on #1519
@themalaikulfi,

I'm still a little unclear on what you're running (AWX vs Tower).  If it's Tower, you'll have to reach out to Red Hat for confirmation on what versions of Ansible Tower support which features; it is a downstream product built on AWX, and the AWX community and contributors don't provide support for it here.

If you're running AWX, the CORS functionality should be present in AWX ver

[2019-08-22 14:56] themalaikulfi commented on #1519
Hi @ryanpetrello

We are running AWX 6.1.0.

Hmm, yes so I did try all those steps -- installing django-cors-headers package and updating the setup.py with those variables and INSTALLED_APPS. Maybe the problem was we added those things at the top of setup.py? Because we got lots of errors when we tried that (errors below):

This showed up constantly:
Type 'awx-manage help' for usage.
2019-08-21 18

[2019-08-22 15:03] cwarner-mdsol commented on #4555
What I think is happening is something going on with the filter code because there is nothing that doesn't explicitly NOT support it. So I figure when the instance_filters are being sanitized it sees <>= and considers it an invalid filter and ignores it.

[2019-08-22 15:03] ryanpetrello commented on #1519
@themalaikulfi I'm not sure what's going on with your install, but I've applied *just* these settings in a 6.1.0 I just spun up:

[code]

Note that I did *not* have to add `corsheaders` to `INSTALLED_APPS`, because AWX already does that for you:

https://github.com/ansible/awx/blob/4be65a08797cf68fe8202bee877a9f4d6e375d3f/awx/settings/defaults.py#L272

[code]

...and it works fine for me.

[2019-08-22 15:08] matburt commented on #4513
I think the only problem with this is trusting the upload api service not to change and thus requiring us to ship a code change to fix it if it does.

[2019-08-22 15:29] #4219 closed, assigned to catjones9

[2019-08-22 15:33] kdelee opened #4559 "CLI: awx custom commands do not respond to --help"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

using new CLI by pip installing `awxkit` directory, when I call `awx login --help` with TOWER_USERNAME and TOWER_PASSWORD in my environment, I get the token output.

If I DO NOT provide the above environment variables XOR TOWER_TOKEN, I get the help but I also get an error:

[code]

Expected results:
Calling `awx login --help` under any circumstances

[2019-08-22 15:48] kdelee opened #4560 "CLI: awx users create does not indicate correct required arguments"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Help text only indicates need username, also some strange formatting

##### STEPS TO REPRODUCE

1) Have valid token or username/password in environment
2) `awx users create --help`
##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
diff is:
1)  that all arguments are labeled as `optional arguments`, we could fix this by just saying `argument

[2019-08-22 15:48] themalaikulfi commented on #1519
@ryanpetrello

 Ah! That is very helpful! Updated the setup.py and restarted AWX and now seeing this error. I think this is related to migration and is not caused by CORS.

Using /etc/ansible/ansible.cfg as config file
127.0.0.1 | SUCCESS => {
    "ansible_facts": {
        "discovered_interpreter_python": "/usr/bin/python"
    },
    "changed": false,
    "db": "awx"
}
Operations to perform:
  Ap

[2019-08-22 17:31] kdelee commented on #4559
Changed title because it appears some other commands also do not respond to `--help`
`awx ping --help`
`awx config --help`
`awx metrics --help`
`awx me --help`

[2019-08-22 17:35] kdelee opened #4563 "CLI: list should not include --id because it is confusing and that is what get is for"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

It was discussed that the fact that `awx <resource> list` accepts `--id` as argument is confusing, because most other actions take it as a positional argument.

In help text is shows up like this:
[code]

But this only gets one item, which is the same as `awx <resource> get <id>`.

RESOLUTION:
Remove `--id` from `list` commands

[2019-08-22 17:51] kdelee opened #4565 "CLI: Error returned from API should have newline after it"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Doing something that passes CLI verification and then gets sent to API, but fails there, results in an error message that does not have a newline after it

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### S

[2019-08-22 18:08] kdelee opened #4566 "RFE for CLI: Custom human output for metrics and settings"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

`awx metrics -f human` and `awx settings list -f human` both return nonsense:
[code]

Would be nice if they had some custom logic that had some better defaults for these two endpoints that have a different format that most of the list views.

[2019-08-22 18:18] kdelee opened #4567 "CLI: human output with filter throws error for keys that have complex values (dictionaries, lists)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

These two endpoints serve up slightly different information and both have trouble with passing a filter for the human output. Might consider if we can support it at all (I would be fine if we want to prevent it from these two endpoints until https://github.com/ansible/awx/issues/4566 is handled.)

##### STEPS TO REPRODUCE

[code]

also same error:
[co

[2019-08-22 18:37] dsesami opened #4568 "Small widths cause the sparkline to be overlapped by the launch button on dashboard"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using narrower and narrower widths cause the launch button on the dashboard to start to overlap the sparkline, which looks odd and prevents you from clicking the sparkline. Simply put, this happens:
![Screenshot from 2019-08-22 14-32-46](https://user-images.githubusercontent.com/19942822/63540478-242f9400-c4ea-11e9-9116-5a1491010fe3.png)

##### ENVIRON

[2019-08-22 18:49] kdelee opened #4569 "CLI: several resources have multiple required sections in help text"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

calling `awx teams create -h` gets all the required args.....but they are split in two sections and this is hard to read and weird.

[code]

Instead, should be combined in one section:
[code]
also ``[REQUIRED]` is located in an odd location for `organization`. But I think you are going to get rid of that entirely so this part of bug may be obviated.

[2019-08-22 18:53] kdelee commented on #4567
Going to pile onto this bug that also whitespace is not striped out of the filter keys.

e.g. I expect
[code]
to return same output as
[code]

[2019-08-22 19:06] kdelee opened #4570 "CLI: awx credential create difficulties"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Two issues, could be convinced these are not bugs but would like to have discussion about it.

1) Not clear what to pass for `credential_type`. Now that I've been working with the CLI more I knew I needed to probably provide a credential type id, but reptile brain still wanted to put `--credential_type ssh`. Would like to have it described as `CREDENT

[2019-08-22 19:21] jladdjr commented on #4546
@unlikelyzero - When I run through the steps to reproduce I see `Failed to add new notifier. Field 'extra_vars' unavailable.`:

![image](https://user-images.githubusercontent.com/4440360/63543283-4e2b8b00-c4d7-11e9-9dd6-259444be688e.png)

Does that look okay?

[2019-08-22 19:22] jladdjr commented on #4539
So, what's the verdict for _this_ issue? @ryanpetrello @unlikelyzero et al, should we close?

[2019-08-22 19:24] jladdjr commented on #4539
Added `state:needs_review` - not sure if I'm using that label correctly

[2019-08-22 19:44] kdelee opened #4573 "CLI: Need general solution for dictionary-like inputs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

This is a general problem but I'm going to flesh out one particular use case for now:

Currently, credential type creation does not accept inputs.
New credential types need to have some kind of inputs in order to be of any use.

Currently the CLI and APi have conflicting constraints on the `--inputs` flag so there is no way to pass it....at least not

[2019-08-22 19:51] kdelee commented on #4569
re-writing because found same problem in `credential_input_sources`, hoping there is a general solution:

[code]

[2019-08-22 19:51] kdelee commented on #4569
oops

[2019-08-22 20:04] ryanpetrello commented on #4539
I think we should treat this an additional enhancement in case _at some point_ we want to support actually specifying `extra_vars`.  I'm happy w/ the PR as it is for now.

[2019-08-22 20:15] lukasmrtvy opened #4574 "MEMCACHED_HOST and MEMCACHED_PORT are not used"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

`MEMCACHED_HOST` and `MEMCACHED_PORT` env variables are not used at all. Not possible to specify memcached host other than default.
Probably here: https://github.com/ansible/awx/blob/devel/installer/roles/local_docker/templates/environment.sh.j2#L6-L7

##### ENVIRONMENT
* AWX version: 6.0.1
* AWX install method: docker

##### STEPS TO REPRODUCE
[code]

[2019-08-22 21:12] kdelee opened #4575 "RFE for CLI: Add short description from OPTIONS to "awx <resource> --help""
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Right now there is not much info about WHAT exactly each base resource is.

We have this information available from the `description` on the OPTIONS of the base object.
"description" from OPTIONS is alot of info though.

Perhaps this could be available if you pass
[code]
OR....maybe there is a way we could add a `short_description` to the OPTIONS an

[2019-08-22 21:18] kdelee commented on #4569
https://github.com/ansible/awx/pull/4562/files is for this

[2019-08-22 21:53] jladdjr commented on #4538
Checked up on each of the notification types and I'm not seeing any that would support multilines.

[2019-08-22 22:50] ryanpetrello commented on #4569
Ready to verify @kdelee

[2019-08-23 03:13] sankat447 commented on #4156
I updated my python script with https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/vmware_inventory.py at location /var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/plugins/inventory/vmware_inventory.py script seems to work but Tower inventory source sync throw error.
1.599 INFO     Updating inventory 4: Platform Inventory
    2.011 DEBUG    Using base command: python /u

[2019-08-23 05:52] lukasmrtvy commented on #4574
ping @shanemcd

[2019-08-23 06:29] MikeQ123 commented on #20
I wrote python script to update surveys choices with **tower-cli**.
In my case I need to automate updating backup files list in awx survey. This script can be easily adopted to any other tasks.
Script can be executed by cron.
[code]

[2019-08-23 12:27] unlikelyzero commented on #4546
yes that's perfect

[2019-08-23 12:27] #4546 closed, assigned to unlikelyzero

[2019-08-23 12:28] unlikelyzero commented on #4536
Verified:

Without NT on Start or Success:
0:02
20+ Notification on Start and Success:
0:04
20+ **nonfunctional** NTs on Start and Success
0:04

[2019-08-23 12:28] #4536 closed, assigned to jladdjr

[2019-08-23 13:44] zbenta commented on #3956
I'm having the same issue.
When I do the `docker-compose up -d` I get the following message:

I've added the following rule to my iptables script:
`-A INPUT -s x.x.x.x/xx  -p tcp           --dport 8052              -j ACCEPT
`
But still I can't start the project.

[2019-08-23 14:01] AlanCoding commented on #4573
For informational background, I want to link https://github.com/ansible/awx/issues/2371 (I would be more than happy to make server-side changes for this)

The OPTIONS say that type is "string" in both cases.

Credential types differ from all the fields I mentioned in that issue. From memory, they accept dicts (but perhaps not strings, would make it the exact opposite of `variables`), and OPTIONS g

[2019-08-23 16:40] AndreMTrindade opened #4579 "Cannot execute tasks as sudo"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have using AWX for a while and when i executed tasks as root all worked perfetly but recently i have been forced to changed to use a user with sudo privileges and it is not possible use sudo on awx.

##### ENVIRONMENT
* AWX version: AWX 6.1.0.0
* AWX install method:  docker on linux
* Ansible version: 2.8.2
* Operating System: Cent OS
* Web Browser:

[2019-08-23 16:46] ryanpetrello commented on #3226
Closing this, as it's just a minor to-do and now it's to-_done_.

[2019-08-23 16:46] #3226 closed, assigned to rebeccahhh

[2019-08-23 17:01] kdelee opened #4580 "Tower type inventory update fails with ansible@devel"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Trying to run tower-type inventory sync (like when you use a different tower as an inventory source) fails with ansible@devel.

NOTE: ansible 2.9 feature freeze is August 29 AFAIK.

##### ENVIRONMENT
* AWX version: devel
* Ansible version:  devel

##### STEPS TO REPRODUCE

Create a tower inventory source, attempt to run inventory update

##### EXPECTE

[2019-08-23 17:04] ryanpetrello commented on #4579
Hey @AndreMTrindade,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

It looks as if you've already asked about this elsewhere: https://groups.google.com/forum/#!topic/awx-project/

[2019-08-23 17:04] #4579 closed, assigned to nobody

[2019-08-23 17:19] ryanpetrello commented on #4402
@bkmeneguello in my private testing, I'm unable to reproduce what you're describing.  If you're still encountering this problem after trying the latest code from `devel`, let us know, and I'll reopen this issue.

[2019-08-23 17:19] #4402 closed, assigned to nobody

[2019-08-23 17:20] ryanpetrello commented on #3448
@AlanCoding @awithrow9 closing in favor of tracking #4306

[2019-08-23 17:20] #3448 closed, assigned to nobody

[2019-08-23 17:20] ryanpetrello commented on #3189
Closing due to age.  If you're still encountering issues on the latest AWX, please file a new ticket with details.

[2019-08-23 17:20] #3189 closed, assigned to nobody

[2019-08-23 17:20] ryanpetrello commented on #3299
Closing due to age.  If you're still encountering issues on the latest AWX, please file a new ticket with details.

[2019-08-23 17:20] #3299 closed, assigned to nobody

[2019-08-23 17:21] ryanpetrello commented on #4540
Agreed, it sounds like Ansible itself supports both:

https://docs.ansible.com/ansible/latest/reference_appendices/galaxy.html

[2019-08-23 17:23] ryanpetrello commented on #4540
@AlanCoding @chrismeyersfsu we should probably verify that this also works properly for new collections support in https://github.com/ansible/awx/pull/4265

https://github.com/ansible/awx/pull/4265/files#diff-f069d8ac794ad13606442d2194490282R141

[2019-08-23 17:28] ryanpetrello commented on #4530
@unlikelyzero @jladdjr @keithjgrant what's the state of this?  Is it `state:needs_test` again, or actively being worked on by somebody?

[2019-08-23 17:51] kdelee opened #4581 "CLI: awx inventory_sources create --help does not indicate all required args"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

`awx inventory_sources create --help` only indicates `--name` as required, but it also requires `--inventory` (expecting an inventroy ID)

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
##### ADDITIONAL INFORMATION

`--inventory` shows up in `usage` section but in neither `required arguments` nor `optional arguments` nor in the final lin

[2019-08-23 18:20] jladdjr commented on #4530
TLDR - believe everything has been resolved, motion to close

---

@ryanpetrello - I confirmed that the 500 error has been resolved.

Which I think just leaves the UX question about 1) toggling on 'customize messages' 2) .. but leaving the default messages in place, and 3) returning to the NT detail page and finding the toggle is been off.

Think that concern was addressed by @keithjgrant's commen

[2019-08-23 18:26] kdelee opened #4583 "CLI: awx job_templates create --help does not indicate all required args"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

`awx job_template create --help` is missing several required args

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-08-23 18:32] AlanCoding commented on #4540
Yes, it needs to be addressed in a number of places.

[code]

[code]

This is a perfectly valid request, but I do want to mention that it has always been this way.

[2019-08-23 18:32] unlikelyzero commented on #4538
@keithjgrant @jladdjr @ryanpetrello let's get rid of the ability to enter newlines in that form or provide some sort of error. At the moment, I enter new lines and the NT is not fired

[2019-08-23 18:41] AlanCoding commented on #4580
tl;dr on the linked openstack issue, before, the plugin config parsing did not validate type, and now it does.

https://github.com/ansible/awx/blob/6e6676adb3cfece83313b0a3717abd952e733552/awx/main/models/inventory.py#L2687-L2688

https://github.com/ansible/ansible/blob/bc4ef99533514f0d35c24ddfe0fd4497ceb1ac8c/lib/ansible/plugins/inventory/tower.py#L49-L54

@kdelee Those changes to the config pars

[2019-08-23 18:53] kdelee opened #4584 "sysadmin can make a system_job that does nothing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Discovered this using CLI, but seems like API bug.
As a sysadmin, I can create a system job with no (system) job template, AKA it does nothing.

##### STEPS TO REPRODUCE

`awx system_jobs create --name what`
##### EXPECTED RESULTS

Rejected by API and told to provide a system job template. Not sure how the enforcment on the system job template thing s

[2019-08-23 19:23] kdelee commented on #4580
@AlanCoding I have been seeing problems on YOLO for a while,  I think we were just slow to figure out what was going on because we have not been running the full test suite on devel on all platforms (which is unfortunate and I thought we were doing that :cry: )

[2019-08-23 20:12] unlikelyzero commented on #4530
yea i think everything is addressed and we can close it or send it out to pasture

[2019-08-23 20:20] jladdjr commented on #4530
🐮

[2019-08-23 20:20] #4530 closed, assigned to nobody

[2019-08-23 20:45] #4474 closed, assigned to mabashian

[2019-08-24 13:54] unlikelyzero commented on #4538
Verified that error text appears in line on email and pagerduty.
It's still possible to save with an invalid form and create an invalid NT resource

[2019-08-25 05:39] jladdjr commented on #4538
Updated validation to ensure messages field does not contain newlines (newlines in body field are okay).

![repro](https://user-images.githubusercontent.com/4440360/63646034-e6846400-c6bf-11e9-9bb8-48621b0d88c0.gif)

[2019-08-26 07:23] stephenmorgan commented on #306
Hi, if any large organsaion wants to provide Tower-as-a-Service in an automated way then an automatic sync to an LDAP would be a big advantage.  Is there any method to do this now or could you share how others do this?

[2019-08-26 08:50] zbenta commented on #3956
The Strangest thing happened, I updated my OS, rebooted the machine and it started correctly.
Go figure...

[2019-08-26 10:12] lord-kyron opened #4587 "Help needed: VCenter inventory source properties"
Hi all,
I am struggling to get inventory list from vcenter with 1000+ vms.
I want to use the properties section from the vmware_inventory.ini file but without creating a static ini file - to configure it by default to reduce values parsed by the script and the inventory creation time.
I have also custom host_filters and groupby_attributes which want to use by default. I know they can be added to v

[2019-08-26 10:54] lord-kyron commented on #4587
At the moment I am trying to do this as I am adding those lines in the source variables, but I am not sure it is working as expected. At least the properties part, as the sync is still very slow.
How (where) can I make those to be defaults? It seems nothing happens/changes when I change those values in the defaults part in the vmware_inventory.py

host_filters: "{{ config.guestid == 'ubuntu64Guest

[2019-08-26 10:57] #4228 closed, assigned to mabashian

[2019-08-26 12:42] jladdjr commented on #4521
@unlikelyzero - Did some digging and found that if a user created a NT of type X, then changed the type to Y, we weren't validating the notification configuration. [This change](https://github.com/ansible/awx/compare/2eaf62a62d9efa4a5c69acba3a369db4f15f130a...jladdjr:extend_nt_validation) ensures that we do.

@keithjgrant - when I run awx with the new validation in place ^, I see that the UI is po

[2019-08-26 12:46] jladdjr commented on #4521
@unlikelyzero - are you saying this currently affects the devel branch? If the issue is not introduced by the notification templates feature, I would vote to handle this outside of that feature. The fix involved changing the validation for NT's, which could easily have side-effects. What do you think about handling this after custom NTs merges?

[2019-08-26 13:14] #4587 closed, assigned to nobody

[2019-08-26 13:15] lord-kyron commented on #4587
nevermind, fixed it.

[2019-08-26 13:49] unlikelyzero commented on #4521
@jladdjr woof. Took me a while to understand what I wrote.
This is a regression introduced in devel (3.6.0) and not the notification template PR, itself.

[2019-08-26 14:09] Harshal-20 commented on #286
This is really useful feature in case clients are in multi domain environment so multiple creds can be used in job templates.

[2019-08-26 14:17] bbaassssiiee commented on #4139
It seems that the `hvac` python library is missing, this is required for HashiCorp Vault lookup.

[2019-08-26 14:56] djseiss opened #4588 "Smart Inventory caps at 101 hosts"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using mulitple OpenStack inventories (single source^1 for each), the creation of a smart inventory to filter an inventory with all hosts (from OpenStack inventories) via AWX web ui only allows 101 hosts per smart inventory.

Is this an intended cap? Cannot find any documentation on this.

^1= What I mean by this is a single "Inventory" is made under In

[2019-08-26 16:51] ryanpetrello commented on #4583
_Technically_ `--inventory` is **not** required, because you _could_ specify `--ask_inventory_on_launch`.  Our `OPTIONS` don't really capture these requirements of "*one* of these must be specified", so it's going to be difficult to make the CLI do the same.

[code]

[2019-08-26 18:52] AlanCoding commented on #4580
Hoping it is resolved in https://github.com/ansible/ansible/issues/61333

[2019-08-26 19:30] doves99 commented on #3956
Have you tried, removing the docker images and re-running the install command?.  Hope you backed up the postgres/playbooks.

[2019-08-26 19:52] AlanCoding commented on #4580
With the general rubric of fix suggested here:

https://github.com/ansible/ansible/pull/61335#issuecomment-524998367

I feel like we are confident enough that this can and should be handled specific to Ansible 2.9, and there is no need to track in AWX.

[2019-08-26 19:52] #4580 closed, assigned to AlanCoding

[2019-08-26 19:55] doves99 opened #4598 "AWX_Secret"
##### ISSUE TYPE
 - Encrypting the secret_key off the inventory file on the install files.

##### SUMMARY
 Is there any way to pass an encrypted value to the secret_key="awxsecret".  If so how do to make it happen.  Would like to encrypt the secret_key so that no one has access nor not available on clear text.
--------------------------------------------
# AWX Secret key
# It's *very* important th

[2019-08-26 20:07] wenottingham commented on #4543
What is the use case for this - why do you need them in this order?

[2019-08-26 20:11] wenottingham commented on #4588
Just to be clear: you only see 101 hosts in the preview, or you only get 101 hosts out of the saved smart inventory?

[2019-08-26 20:40] jladdjr commented on #4521
@unlikelyzero - okay, perfect, thanks for clarifying. yeah, when I looked at our NT validation, I didn't see anything in the validation section that was [changed by my PR](https://github.com/jladdjr/awx/blame/templated_messages/awx/api/serializers.py#L4257), so makes sense that this predates notification templates.

[2019-08-26 21:06] diegobritoveiga commented on #286
very interesting on this as well .. we are a large enterprise customer planning to host +100K endpoints thru AT.
This feature is crucial for our project.

[2019-08-26 21:13] #4473 closed, assigned to rooftopcellist

[2019-08-26 21:33] #4233 closed, assigned to marshmalien

[2019-08-26 22:05] omgjlk commented on #1488
I just ran into this myself when attempting to put AWX behind a load balancer. The load balancer was not sending a `Host` header with the health check request which was causing a fall through to the [hard coded server_name](https://github.com/ansible/awx/blob/devel/tools/docker-compose/nginx.vh.default.conf#L20) (also [here](https://github.com/ansible/awx/blob/devel/installer/roles/image_build/tem

[2019-08-26 22:07] rahniwalden opened #4599 "Add the ability to do keyed_groups from for aws EC2 sourced inventories"
Add the ability to do keyed_groups from for aws EC2 sourced inventories

##### SUMMARY
Using the ansible CLI, we currently utilize keyed_groups so that we can ingest a specific tag and get back the proper group names. For example, we have the following tag assigned to an ec2 instance:

[code]

using the "keyed_groups" directive of the aws_ec2 plugin, we can set:
[code]

and we are able to parse in

[2019-08-26 23:22] rahniwalden commented on #4599
It doesn't look like the aws_ec2 plugin is enabled by default. But even when enabled, it does not look like AWX is passing credentials properly, and it's entirely possible this functionality was never added in to be available through the UI?

[2019-08-27 06:45] keliansb commented on #4543
I have a provisioning playbook that interacts with VMware to clone and configure a virtual machine (module [vmware_guest](https://docs.ansible.com/ansible/latest/modules/vmware_guest_module.html)). For network adapters, it expects as parameter a list of networks, and the order you give will be the same on the virtual machine (i.e. A will be the first network adapter, B the second one, etc.). I als

[2019-08-27 07:29] LKS1302 opened #4601 "Retrieving the password using "Cyberark AIM" CREDENTIAL TYPE"
##### ISSUE TYPE
 - General Issue

##### COMPONENT NAME
API
UI

##### SUMMARY
Hi All,

We are trying to retrieve the password from Cyberark AIM Secret Lookup Credential Type by passing the AIM URL, Application ID and Object Query. While running the test its giving us 400 Response Code from Ansible Tower.
Whereas, when we try to access the same API using POSTMAN with POST Method we are getting the

[2019-08-27 09:12] sinu opened #4602 "hide job_template_data from response"
##### ISSUE TYPE
we are using awx for sum automation and consuming awx api as endpoint.  everything is working as expected,But awx response contains all the extra vars. is there any way to hide this or limit?

##### SUMMARY
we are using awx for sum automation and consuming awx api as endpoint. everything is working as expected,But awx response contains all the extra vars. is there any way to hide

[2019-08-27 10:14] djseiss commented on #4588
I only get 101 hosts out of a saved smart inventory. I have tried multiple smart hosts filters and they seem to all cap out at 101.

The preview (I assume you mean when adding a smart host filter?) shows 123 hosts, which is the total hosts I have. But when saving the inventory I only get 101.

[2019-08-27 12:06] AlanCoding opened #4603 "CLI: list commands intermittently allow plural / singular names"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Works:
 - `awx hosts list -f human`
 - `awx inventory list -f human`

Does not work:
 - `awx inventories list -f human`
 - `awx host list -f human`

##### EXPECTED RESULTS

Either `hosts` / `inventories`

or `host` / `inventory`

##### ACTUAL RESULTS

Cannot predict syntax without looking things up

[2019-08-27 12:57] ryanpetrello commented on #4601
Hey @LKS1302,

This issue tracker is for tracking feature enhancements and bugs to AWX itself (the open source project).

If you need help troubleshooting an Ansible Tower install, please reach out to Red Hat for support.

[2019-08-27 12:57] #4601 closed, assigned to nobody

[2019-08-27 13:13] ryanpetrello commented on #4603
Have you tried this in `python3`?  I've got support for aliases there which _should_ work, but `argparse` in `python2` doesn't support aliases, and I haven't figured out how to make it work yet:

https://github.com/ansible/awx/blob/devel/awxkit/awxkit/cli/resource.py#L137

[2019-08-27 13:13] ryanpetrello commented on #4603
I'm going to steal this issue and circumvent it to track resource alias support in py2 (which I'll have to implement myself).

[2019-08-27 13:15] ryanpetrello commented on #4602
@sinu,

Can you give more context on what HTTP request you're making here?

[2019-08-27 13:21] AlanCoding commented on #4603
I was running in python 3.6.5

relevant:

[code]

The alias for hosts is "hosts".

[2019-08-27 13:23] ryanpetrello commented on #4603
@AlanCoding Welp, that's a typo.

[2019-08-27 13:59] ryanpetrello commented on #2371
Should be resolved by the solution to https://github.com/ansible/awx/pull/4600

[2019-08-27 14:18] elyezer commented on #4473
Here are the steps done to verify:

1) Run couple jobs
2) Gathered the analytics
3) Checked that the organization information was available on the report
4) Checked that only one entry per job run was present and it has the right Job Template and Organization information.

[2019-08-27 14:36] #4603 closed, assigned to ryanpetrello

[2019-08-27 14:43] #4599 closed, assigned to nobody

[2019-08-27 14:44] rahniwalden commented on #4599
Looks like you can do this by sourcing GIT with your yaml file, and using "sourced from project" as an inventory source, and setting the environment var: ANSIBLE_INVENTORY_ENABLED: auto

[2019-08-27 14:54] djseiss commented on #4588
Update: I moved my multiple OpenStack inventories (broken down by different endpoints and singled sourced for each endpoint) into a single OpenStack inventory with multiple sources. I created a new Smart Inventory and got all hosts. Going to update original bug report to include this detail. Can anyone else with over 101+ hosts reproduce this?

[2019-08-27 15:29] AndreMTrindade commented on #4579
Good afternoon. For reference the issue is that i was trying to escalate for my user. I removed my username from "Privilege Escalation Username" and it´s working. Thanks.

[2019-08-27 15:53] themalaikulfi commented on #1519
@ryanpetrello

Update: I have spun up my own fresh containers with [AWX installer using docker-compose](https://github.com/ansible/awx/blob/devel/INSTALL.md#docker-compose), updated the awx_web container settings.py with those 2 lines, and now I am able to access the API. Thank you for the troubleshooting!

[2019-08-27 15:56] benjdudas opened #4606 "[RFE] Provide a SCM update option to add `--force` flag to all role updates."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Forced role overwrite is currently dependent on the revision of the parent project. Updating the roles without modifying the parent project can result in stale roles being used for the job run. Setting project options "update on launch + delete on update" is a workaround for a single node install, but when running as a cluster only the execution nod

[2019-08-27 16:09] sinu commented on #4602
the request is to trigger awx job templates and including the extra var which playbook required

[2019-08-27 16:15] wenottingham commented on #4543
OK. So it's less about the presentation order and more about they order they're passed to the API (and then the playbook) in.  Of course, those two orders should probably match for simplicitiy.

[2019-08-27 17:04] ryanpetrello commented on #4602
@sinu can you give an example of an actual HTTP request (with e.g., `curl`) you're running, and what you *expect* (i.e., the "EXPECTED RESULTS" we ask for in the issue filing template) to see in the HTTP response?  I'm guessing what you're seeing here is just what we return in the response (and it's not configurable).

[2019-08-27 17:30] sinu commented on #4602
@ryanpetrello

Please see the request and response. wanted to hide the response because it is sending one of the execution password.

Request:

` curl -H "Content-Type: application/json" -X POST -s -u admom:password -d '{ "extra_vars": {"objects":[{"item":{"ipv4":"ipmask","ipv4addr":"192.168.10.10/32","name":"IP_192.168.10.10","comment": "12345678","color":"6","addm":"om-addm-02"}},{"item":{"ipv4"

[2019-08-27 18:21] jladdjr commented on #79
Added checklist to description so we can mark off progress on the different work items associated with this ticket. Marked 'templated notifications' and 'notifications on job start' as complete. Not sure about the status of the other items.

[2019-08-27 18:25] jladdjr commented on #79
I removed the `in_progress` label and added `needs_review`. To my knowledge, nothing is being actively worked on for this ticket. (If I'm wrong about that, please accept my apologies .. and also leave an update 😄)

[2019-08-27 19:39] fxfitz commented on #3751
@Ernst-LRZ The problem you're having is because you're using the official Ansible-built images. For example, in the generated docker-compose.yml file, you can see it's pulling the image from `ansible/awx_web`.  The nginx conf is set during the build phase, and the official images were simply built without the `ssl_certificate` option.

The quick fix for you would be to simply run the installer pla

[2019-08-27 20:10] kdelee opened #4608 "CLI: JSON/YAML type arguments have confusing UI-specific language in description"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Confusing language showing up in CLI:
[code]
in cli context, "radio button" is ???

You can get this from:
[code]

[2019-08-27 21:37] ryanpetrello commented on #79
@jladdjr @beeankha have we finished everything we agreed on re: notifications in the next release?

If so, @wenottingham maybe we should put this in `state:needs_test` and track any *other* work we *didn't* do as additional issues?

[2019-08-27 21:57] jladdjr commented on #79
@ryanpetrello - I'm still working with @tvo318 on docs, otherwise that's a yes for me

[2019-08-27 22:02] ryanpetrello commented on #79
@wenottingham can you file new distinct issues for these if you still care about tracking them?

![image](https://user-images.githubusercontent.com/214912/63811219-de613a00-c8f4-11e9-8428-5d7e1d91b78b.png)

[2019-08-27 22:05] ryanpetrello commented on #4602
@sinu,

AWX doesn't automatically encrypt `extra_vars` that you define on resources like Job Templates.  If you want encrypted secrets that are injected as extra vars (which *won't* be exposed in API responses), check out Custom Credential Types:

https://docs.ansible.com/ansible-tower/latest/html/userguide/credential_types.html

...or add your secrets like this to `.yml` files in your source cont

[2019-08-27 22:05] #4602 closed, assigned to nobody

[2019-08-28 00:01] wenottingham commented on #79
If they end up being needed, I can; this can be closed when it's done.

[2019-08-28 03:02] sinu commented on #4602
@ryanpetrello
I agreed that we can use custom credentials when you are storing credentials in AWX/Tower but as per our security requirement we cannot store the password anywhere(as encrypted) that is the reason why password is passing in api request as variable . user is inputting the password every time while executing trigger from servicenow. but here awx returning the same in response as well.

[2019-08-28 03:40] ryanpetrello commented on #4602
...then I've got some bad news for you about how AWX works _at a foundational level_.  AWX **must** store these extra vars (and other secrets, like API tokens, SSH private keys, etc...) _in some (albeit, encrypted) way_ so that it can invoke the `ansible-playbook` process _on your behalf_.  This is arguably the _entire point_ of what AWX does, and this entire process relies on storing provided ext

[2019-08-28 07:56] gcecchi commented on #4412
The main problem is that it is not clear from the GUI to understand that the org/team is ldap based and so one can try to modify and/or delete it and the GUI doesn't prevent this operation.
It is not clear in this case what would be the effects.
 Inside documentation (eg for 3.4.2 downstream) here:
https://docs.ansible.com/ansible-tower/3.4.2/html/administration/ldap_auth.html#ag-ldap-org-team-map

[2019-08-28 09:30] wzzrd commented on #306
How about syncing a specific OU or subtree that could be specified from the Tower UI?

[2019-08-28 10:31] boagg commented on #1284
+1

[2019-08-28 12:49] jakemcdermott opened #4612 "lookup search filters unexpectedly persisted between different lookups"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Lookup search is unexpectedly persisted after closing the modal and also between different lookups. We'll want to clear the filter state when the lookup is closed. It might be worthwhile to also use a separate qs namespace for different lookups.

##### STEPS TO REPRODUCE
1. navigate to templates
2. open inventory lookup, search for 'foo'
3. close inven

[2019-08-28 12:55] jakemcdermott opened #4613 "use new / improved pf react component for multiple typeahead select input"
##### ISSUE TYPE
 - Bughancement

##### SUMMARY
Here are some enhancements we'd like to see in our existing multiselect input component:
- tab should close the menu if it is open.
- arrow keys should cycle through the available selections (like it does for a regular multi select widget)
- if using keyboard to make a selection, enter key should add a tag for the  _currently selected item_, which is

[2019-08-28 13:00] jakemcdermott opened #4614 "'loading' placeholder for newly-opened edit details has unexpected border"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When opening the `edit details` page, the `loading...` component shows a border. This looks weird during demos.

It's worth mentioning that these content loading components are placeholders. The goal is to eventually replace them with skeleton lines and / or proper content spinners. That said, the `loading...` display shown when opening edit details lo

[2019-08-28 13:08] jakemcdermott opened #4615 "support typeahead for playbook select"
##### ISSUE TYPE
 - Enhancement

##### SUMMARY
Projects can have a _lot_ of playbooks to choose from. They're also likely to incorporate file naming conventions for playbooks, making them conducive to typeahead / search.

![Screenshot from 2019-08-28 09-02-43](https://user-images.githubusercontent.com/9753817/63858149-02636080-c973-11e9-927b-89b7592fcaac.png)

This issue is for incorporating typea

[2019-08-28 13:10] jakemcdermott opened #4616 "clicking outside the templates add button should close the menu"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On the templates view, clicking on the `+` button opens a menu for choosing the type of template to add (workflow or job template). Once opened, clicking outside of this menu should close it.

[2019-08-28 13:13] jakemcdermott opened #4617 "template inventory should be single-select and required"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
- There's 1 inventory per job template, so we should change the wording, component naming, help text, etc. from `Inventories` to `Inventory`
- Inventory is a required field so we'll want to update the input to reflect this

[2019-08-28 13:36] jakemcdermott opened #4618 "refactor template label handling and state management"
##### ISSUE TYPE
 - Bughancement

##### SUMMARY
Now that we've had some time to exercise our new labels implementation in devel, we've learned some things and there's some refactoring we'd like to see in this area.

To help summarize our discussions from https://github.com/ansible/awx/pull/4511, below are the changes we want to see at a high level:

**state management: label construction**:
  - Ha

[2019-08-28 13:37] jakemcdermott commented on #4613
this blocks https://github.com/ansible/awx/issues/4618 and https://github.com/ansible/awx/issues/4504. Please remove `state:blocked` label from https://github.com/ansible/awx/issues/4618 and https://github.com/ansible/awx/issues/4504 when this is resolved.

[2019-08-28 14:02] jakemcdermott commented on #4613
this is blocked by https://github.com/ansible/awx/issues/4431 because we want to hold off on any significant changes to the template add/edit views until that lands.

[2019-08-28 14:04] jakemcdermott commented on #4431
blocks https://github.com/ansible/awx/issues/4613, please remove blocked label from https://github.com/ansible/awx/issues/4613 when this is resolved.

[2019-08-28 14:07] jakemcdermott commented on #4230
closing this as done - we've made some  issues and added them to the backlog for any remaining work surrounding labels and multiselect, but basic label selection is implemented and functional.

[2019-08-28 14:07] #4230 closed, assigned to AlexSCorey

[2019-08-28 14:15] jakemcdermott commented on #4504
blocked by https://github.com/ansible/awx/issues/4613

note: resolving 4613 might clear this issue up on it's own since 4613 is likely a component replacement. If that ends up being the case please close this.

[2019-08-28 14:48] johannes-cabal commented on #612
Hello all. Seeing if there's any plan to move forward on this UX request? It's been about a year since any updates.

Thanks!

[2019-08-28 16:36] doves99 opened #4620 "AWX_Secret"
##### ISSUE TYPE
 - AWX_Secret

##### SUMMARY
Encrypting the secret_key off the inventory file on the install files.

##### ENVIRONMENT
* AWX version: 6.1.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.2
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

AWX_Secret is visible in clear text at /home_directory/awx/SECRET_KEY.

##### EXPECTED RESULTS

Is the

[2019-08-28 17:23] wenottingham commented on #4620
The key needs to be readable by the service at start. It is only readable by the service user in any case.

[2019-08-28 17:23] #4620 closed, assigned to nobody

[2019-08-28 17:29] dsesami opened #4621 "Workflow pause notification count should update on timeout."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is an enhancement to the current implementation for workflow pause/approve. Currently, if an approval node times out, the upper counter does not update. If a workflow node timed out and completed, the end user goes to click the counter, but does not get any useful information.

There are two approaches to this:
1) Update the notification to indi

[2019-08-28 23:37] rahniwalden commented on #1158
Why was this closed? This is still a problem and I'm running the latest version of AWS (6.1.0.0)

[2019-08-29 08:26] chris93111 commented on #4186
+1

[2019-08-29 12:56] falcon78921 opened #4622 "Allow Project Admins to Configure the Project's Ansible Environment"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per a customer's request, Project Admins should be able to configure which Python virtual environment is used within a Project. Currently, only System/Organization Administrators have this ability.

[2019-08-29 14:24] dsesami commented on #4293
Manipulated a workflow with both JSON and YAML formatted extra vars. Created and edited the workflow with different variables. There does not appear to be any strange output by the application anymore. :+1:

[2019-08-29 14:24] #4293 closed, assigned to mabashian, dsesami

[2019-08-29 15:00] wenottingham commented on #4622
Custom environments currently don't have RBAC, which prevents this.

[2019-08-29 15:09] dsesami commented on #4538
Verified that newline validation in the UI occurs correctly and that I can't introduce newlines now.

[2019-08-29 15:09] #4538 closed, assigned to jladdjr, dsesami

[2019-08-29 15:18] dsesami commented on #1206
This feature has been merged. PR: https://github.com/ansible/awx/pull/4264

[2019-08-29 15:18] #1206 closed, assigned to mabashian, appuk, dsesami, beeankha, kdelee

[2019-08-29 15:19] kdelee commented on #4608
Works for me!

[2019-08-29 15:19] #4608 closed, assigned to ryanpetrello

[2019-08-29 15:20] kdelee commented on #4583
works for me!

[2019-08-29 15:20] #4583 closed, assigned to ryanpetrello

[2019-08-29 15:25] kdelee commented on #4581
works for me!

[2019-08-29 15:25] #4581 closed, assigned to ryanpetrello

[2019-08-29 15:25] kdelee commented on #4573
works for me!

[2019-08-29 15:25] #4573 closed, assigned to ryanpetrello

[2019-08-29 15:26] kdelee commented on #4569
works for me!

[2019-08-29 15:26] #4569 closed, assigned to ryanpetrello

[2019-08-29 15:36] kdelee commented on #4567
works for me!

[2019-08-29 15:36] #4567 closed, assigned to ryanpetrello

[2019-08-29 15:46] kdelee commented on #4565
works for me!

[2019-08-29 15:46] #4565 closed, assigned to ryanpetrello

[2019-08-29 15:47] kdelee commented on #4563
works for me

[2019-08-29 15:47] #4563 closed, assigned to ryanpetrello

[2019-08-29 15:47] kdelee commented on #4560
works for me

[2019-08-29 15:47] #4560 closed, assigned to ryanpetrello

[2019-08-29 15:48] kdelee commented on #4559
works for me

[2019-08-29 15:48] #4559 closed, assigned to ryanpetrello

[2019-08-29 16:52] AlanCoding opened #4623 "Project details does not show that it ran as part of a workflow"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Project updates do not identify the workflow that spawned them

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Launch a workflow with a project update and a JT

##### EXPECTED RESULTS

[2019-08-29 17:18] matburt commented on #612
A lot of UX refreshing is on hold while we build this out: https://github.com/ansible/awx/tree/devel/awx/ui_next

[2019-08-29 17:20] matburt commented on #1158
We haven't seen any information that *actually* demonstrates a problem or point towards a root cause.

[2019-08-29 18:41] elyezer commented on #4354
I was able to verify this by doing the following:

1) Ran couple jobs
2) Gathered analytics 2 times
3) Check if the information provided was as expected.

[2019-08-29 18:42] #4354 closed, assigned to nobody

[2019-08-29 18:43] elyezer commented on #4475
I was able to verify this by doing the following:

1) Ran the gather analytics command
2) Checked if the `manifest.json` file was present on the report
3) Check if there was one entry for every other file on the report and that each of them had a version associated with it.

[2019-08-29 18:57] fxfitz commented on #79
For what it's worth, we're also interested on an `on_changed` notification for a playbook summary. Just like someone suggested above, we really want to know when our `iptables` or our `selinux` playbooks change on any one of our hosts.

While the playbook doesn't have a "changed", you should be able to see if the playbook changed anything by filtering through the hosts/tasks the changed, no?

[2019-08-29 22:00] fxfitz commented on #4192
Some users on our team are experiencing this. Did you happen to find out a fix @Sreenadh8 ??

[2019-08-29 22:08] fxfitz commented on #4343
We have a few members on our team who are experiencing this. Also we noticed that those same affected members are also getting logged out every 30 minutes (the idle timeout) **even though** they are active.

[2019-08-30 07:36] benapetr opened #4629 "UX: hitting enter when modifying fields like user password should hit Save"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now when I hit enter in password field while modifying user account nothing happens, I have to use mouse to click the Save button, I suppose this behaviour is everywhere but didn't test it. Enter should imply confirmation like in most other software. It makes work faster than using mouse to find Save button.

[2019-08-30 13:33] #4429 closed, assigned to mabashian

[2019-08-30 13:33] #4238 closed, assigned to mabashian

[2019-08-30 14:23] wenottingham commented on #4629
I don't think we want to trap enter for this only for specific fields. cc @trahman73

[2019-08-30 14:34] trahman73 commented on #4629
We don't focus on save on enter across the app because we have certain fields that interact with the enter key differently, for example, creation of tags/labels on enter.

[2019-08-30 15:17] wenottingham commented on #4629
Closing. We do want keynav to work where tab can take you to the save key; that is being tackled in https://github.com/ansible/awx/tree/devel/awx/ui_next

[2019-08-30 15:17] #4629 closed, assigned to nobody

[2019-08-30 17:10] ryanpetrello commented on #4606
@AlanCoding you have any thoughts on this in the context of the new branching work?

[2019-08-30 17:11] wenottingham commented on #4598
-> https://github.com/ansible/awx/issues/4620

[2019-08-30 17:11] #4598 closed, assigned to nobody

[2019-08-30 17:14] ryanpetrello commented on #4588
Can you share some details on the filter you're using?  I haven't been able to reproduce this, and can't think of anything that would explain >101 being the limit.

[2019-08-30 17:21] #4475 closed, assigned to nobody

[2019-08-30 17:35] AlanCoding commented on #4606
For 3.6 we are not supporting use of cached roles or collections at all. Although we are not literally using the `--force` flag, we are doing the same thing in effect, because we start with a clean install directory.

We tabled the discussion about a caching mechanism for collections and roles (and got rid of the old way). Firstly, we need a concrete idea of how versioning of collections works (we

[2019-08-30 17:37] AlanCoding commented on #4606
Roles are not cached anymore. We do not use the `--force` flag, but install collections & roles to a clean directory. So this should not be relevant in AWX anymore.

[2019-08-30 17:55] mabashian commented on #4524
This _could_ still be a bug but it might have been fixed when the wf pause/approve branch was merged.  Lets double check the reproduction on this one - we may be able to move to needs_test if it's been addressed.

[2019-08-30 18:38] wenottingham commented on #4606
Closing, then.

[2019-08-30 18:38] #4606 closed, assigned to nobody

[2019-08-30 18:45] ryanpetrello commented on #4545
I'm able to reproduce this.

[2019-08-30 18:50] matburt commented on #79
You can probably get this by just looking at the summary event. I'm not sure if any of this is *super* relevant here. You can take this event as a webhook and then introspect the summary event to know if the host you were talking to `changed` in any way.

[2019-08-30 19:47] falcon78921 commented on #4055
@jhonjcastroh out of curiosity, did you create a **Microsoft Azure Resource Manager** credential in AWX and tie it to the job template?

[2019-08-31 00:06] mrmibrown opened #4633 "Add GitHub Oauth authentication support to SCM credential"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add feature which integrates GitHub OAuth user objects in Tower with a corresponding SCM credential on login for seamless project integration into Tower.

[2019-09-02 07:15] tamirshaul opened #4634 "Parallel job runs on the same inventory"
##### ISSUE TYPE
 - Feature Idea
Add  ```ENABLE CONCURRENT JOBS``` checkbox to inventory like in job templates.

##### SUMMARY
When using ansible to provide a service through a bastion host,
AWX isn't aware of the servers behind the bastion host.
This causes serial run of jobs instead of parallel.

[2019-09-02 08:05] v1dlak opened #4635 "Change ANSIBLE_GATHER_TIMEOUT doesnt work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I changed `ANSIBLE_GATHER_TIMEOUT` in `EXTRA ENVIROMENT VARIABLES` via `/etc/tower/settings.py`, but `gather_timeout` is still in default value `10`.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: Debian 9.8
* Web Browser: Firefox 68.0.1 (64-bit)

##### STEPS TO REPRODUCE

* I

[2019-09-02 11:51] zzsoka opened #4636 "Job template create not associate the Vault credential to job (tower-cli)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Does not associate a credential while creating a job_template with tower-cli.

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: docker on linux,
* Ansible version:  2.8.4
* Operating System: RHEL 7.6
* Web Browser: Firefox

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

Expected result is a job teplate with associated Vault creden

[2019-09-02 12:56] Spredzy commented on #79
The three features that made this card are now tested and merged.

  * Custom message for notification template
  * Basic Auth and custom method for webhook notification
  * Allow notification on job_start and not only on job_end

As suggested above I am closing this one card, and for any new feature a new card should be open.

[2019-09-02 12:56] #79 closed, assigned to keithjgrant, Spredzy, jladdjr, beeankha

[2019-09-02 13:23] Spredzy commented on #2075
Tested and verifeid. last_name has properly be bumped to a 150 limit

[2019-09-02 13:23] #2075 closed, assigned to jbradberry, Spredzy

[2019-09-02 14:25] niso120b opened #4637 "Add awx_task pods automatically in awx on kubernetes"
when i use awx on kubernetes and running more then 1 jobs then the other jobs get into pending how can i enable it to run multiple jobs in parallel and to add dynamicly awx_task pods

[2019-09-02 15:27] daswars commented on #4154
awx only finds the file if it is called hosts.

I tried it with the following hostfile names:
hosts - awx finds the file
hosts.yaml - awx does not find the file
hosts.yml - awx does not find the file
netbox_inventory.yml - awx doesn't find the file
inventories/hosts - awx finds the file
inventories/hosts.yaml - awx doesn't find the file
inventories/hosts.yml - awx does not find the file
inventorie

[2019-09-02 19:29] sandrich commented on #1083
+1

[2019-09-03 07:35] deepti-cloudibility opened #4638 "EKS cluster creation failing error "aws_eks_cluster module requires botocore >= 1.10.32""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Trying to run ansible playbook to create aws eks cluster using aws_eks_cluster module, this I'm trying to run on latest version of awx i.e 6.1.0 having ansible version 2.8.2, this playbook works fine locally but on awx it gives error: "msg": "aws_eks_cluster module requires botocore >= 1.10.32"

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install meth

[2019-09-03 09:30] nicolaibaralmueller opened #4639 "win_get_url fails in awx but not ansible"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: Centos 7.3

##### STEPS TO REPRODUCE

FYI: This has worked in the past.

  win_get_url:
    url: https://github.com/PKISharp/win-acme/releases/download/v1.9.11.2/win-acme.v1.9.11.2.zip
    dest: C:\tmp\win-acme.zip
    timeout: 60

[2019-09-03 11:18] jakemcdermott commented on #4636
Hello - this repo is for tracking issues and work related to AWX.

For tower-cli issues, please create an issue in the [tower-cli repo](https://github.com/ansible/tower-cli).

Please also note that there's a new, supported CLI being worked on: https://github.com/ansible/awx/tree/devel/awxkit

[2019-09-03 11:18] #4636 closed, assigned to nobody

[2019-09-03 12:01] 00Asgaroth00 commented on #106
Hi, new to AWX :)

AWX Version: AWX 6.1.0.0 (docker)
Ansible Version: 2.8.2

I'm encountering this issue as well, and the above suggestion would probably correct it.

An example layout that I'm currently testing is as follows:

[code]

The ansible.cfg defines roles_path as
[code]
The roles_path may not be required, but I tried it to test.

It would be great if AWX was able to scan for requirements

[2019-09-03 12:10] ryanpetrello commented on #4638
@deepti-cloudibility,

The version of botocore we preinstall in the ansible env hasn't been updated in awhile, which is why you're seeing this error:

https://github.com/ansible/awx/blob/devel/requirements/requirements_ansible.txt#L43

There's really two options here:

1. Set up a custom virtualenv with the version of botocore you want (https://github.com/ansible/awx/blob/devel/docs/custom_virtual

[2019-09-03 13:26] matburt commented on #106
This sounds like it would make a great pull request!

[2019-09-03 13:28] jhonjcastroh commented on #4055
@falcon78921 no, in the job template I added the credencials of machine where I have installed the CLI Azure.

[2019-09-03 13:38] beeankha commented on #4621
Closing this issue, due to https://github.com/ansible/awx/pull/4625 being merged.

[2019-09-03 13:38] #4621 closed, assigned to beeankha

[2019-09-03 14:30] wenottingham commented on #4634
What is the issue you're running into? Parallel jobs on inventory is already allowed.

[2019-09-03 15:36] rahniwalden commented on #1158
@matburt what information can I give you? I have AWX running in openshift and we're seeing this same issue. Someone stated above this is due to compute constraints but we're running in OpenShift and the container sees the following:

16 CPU
62 GB Mem

I presume these are from the host machine's compute, but appear to still be available to the container. I checked those job settings in AWX and saw

[2019-09-03 17:01] dvntstph opened #4642 "ec2_transit_gateway fails in AWX but not in ansible"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When trying to manage an AWS Transit Gateway from AWX, the job fails with "msg": "transit gateway module requires boto3 >= 1.9.52"
However if I run the same playbook from the same AWX host on the command line the job is successful.
Strangely the first task in the playbook is succesfull. It uses the 'sts_assume_role' Ansible module to get an STS access

[2019-09-03 17:40] itcrowdsource opened #4643 "fatal: [localhost]: FAILED! => {"changed": false, "msg": "can not use content with a dir as dest"}"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
During the installation process the script throws the following error:
[code]

##### ENVIRONMENT
* AWX version: Latest from repo
* AWX install method: docker on linux
* Ansible version:   2.8.4-1ppa~bionic
* Operating System: Ubuntu 18.04
* Web Browser: Chrome, Firefox

##### STEPS TO REPRODUCE

**Used the latest inventory file template**

cd /<install

[2019-09-03 17:59] itcrowdsource commented on #4643
Just discovered the cause of this issue. Have been using the standard docker install (docker.io) which comes along with Ubuntu 18.04 (Bionic). After installing Docker from the official site the script executed properly. Please follow these instructions if you encounter the same issue:

https://docs.docker.com/install/linux/docker-ce/ubuntu/

[2019-09-03 17:59] #4643 closed, assigned to nobody

[2019-09-03 19:37] #2534 closed, assigned to elyezer, chrismeyersfsu

[2019-09-03 19:39] Danee13 commented on #4349
I ran into a similar if not the same problem. Almost every job template we created prompts for credentials, and when I tried to organize a workflow, the process failed at the third or forth job. The error was: { "msg": "No authentication methods available" }

[2019-09-03 20:13] kdelee commented on #3762
Tested this out, and now I get the proper error message when I provide a garbage key. I can also still can make a valid key

[2019-09-03 20:13] #3762 closed, assigned to rebeccahhh, kdelee

[2019-09-03 20:22] kfattig commented on #4639
I recently encountered this error with another module - in my case it was because:
[code]
was set. But the defaults were used for:
[code]

And obviously those are not valid on Windows.  This is confusing because some modules [set them for you](https://github.com/ansible/ansible/pull/60006), while others don't.

Since sudo.py is in your stack trace, I assume you're in a similar situation. Maybe you

[2019-09-03 20:35] kdelee commented on #4269
Tested this out and it works for me, also it is in the docs now!

[2019-09-03 20:35] #4269 closed, assigned to kdelee

[2019-09-03 21:02] kdelee commented on #4478
works for me!

[2019-09-03 21:02] ryanpetrello commented on #4570
@kdelee I think my PR for name support (https://github.com/ansible/awx/pull/4640) makes this a lot easier now:

[code]

![image](https://user-images.githubusercontent.com/214912/64208358-a87c0280-ce6c-11e9-9c4d-6e90968ac873.png)

[2019-09-03 21:58] kdelee opened #4649 "awx users list -f human does not have correct default filter"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

`awx users list -f human` does not do the right thing

##### EXPECTED RESULTS

Default filter to `id,username`

##### ACTUAL RESULTS
default filter to `id,name` where `name` is None on users.

[code]

[2019-09-04 08:53] nicolaibaralmueller commented on #4639
Hi @kfattig,

Thanks for the reply which actually helped find the problem.

For some unknown reason "Enable privilege escalation" was enabled for this template.

All is good again.

[2019-09-04 08:53] #4639 closed, assigned to nobody

[2019-09-04 09:51] ongsunglau commented on #1008
Nice info, but how about if without docker, I understand that this will using docker but how if without docker the path is same?

[2019-09-04 12:56] falcon78921 opened #4654 "Generate Custom Reports From Job Template Runs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per a customer's request, they would like to generate custom reports based on job template runs via the Tower UI. For example, when patching remote systems, they would like to generate a pie chart where it shows systems that were successful (`ok` in `PLAY RECAP`), systems that failed (`failed` in `PLAY RECAP`), and systems that were missed (`unreach

[2019-09-04 13:14] cpare commented on #438
Did you ever find a solution for this - I am facing the same issue and while it's not a lot of work to recreate, I would prefer to recover.

[2019-09-04 13:19] kdelee commented on #4478
well, I'm confused. Closed this because I tried it out on devel with your playbook @AlanCoding and it worked fo rme. I am not sure why this is in needs_test if nothing was merged.

[2019-09-04 13:25] AlanCoding commented on #4478
Oh sorry, the fix was https://github.com/ansible/ansible-runner/pull/331, which was merged 16 days ago... but the last release was April 25th.

So if you used any sort of default AWX install, you should still be seeing the bug, but then you should be able to install development ansible-runner to see it fixed. If you are not seeing the bug then that's problematic.

This is also highly dependent on

[2019-09-04 14:36] djseiss commented on #4588
Hi Ryan. I was using a pretty basic filter. The smart host filter was "name.icontains:PROJ". Which all Hosts I was pulling from OpenStack has "PROJ" in the Host name.

I am not sure if you saw my update. I was actually able to get past the 101 limit I was hitting by making changes that should have been done from the beginning.

I know Ansible Tower has a license count. We used Tower before and had

[2019-09-04 14:48] ryanpetrello commented on #4588
@FighterD1 it sounds to me like it _could_ be?  Are you running AWX or Red Hat Ansible Tower?  If you're encountering issues with Tower that end up being related to licensing code, you'll need to reach out to Red Hat.

If you're hitting a cap in AWX, it _shouldn't_ have anything to do with licensing code, since AWX doesn't enforce any sort of limits like the ones described at https://docs.ansible.

[2019-09-04 14:51] ryanpetrello commented on #4588
For what it's worth, I'm *not* able to reproduce this behavior with AWX.  I've set up a 6.1.0 install with 251 total hosts in the system, and made a Smart Inventory that filters on the word "Host":

![image](https://user-images.githubusercontent.com/214912/64266032-ed05ad80-cf01-11e9-893d-e8689700a42e.png)

...and I see all 251 hosts:

![image](https://user-images.githubusercontent.com/214912/6426

[2019-09-04 14:53] djseiss commented on #4588
Oh no we have moved away from Ansible Tower and now solely using AWX. Could just be complete coincidence. This AWX is a fresh setup on a whole new machine and has no relationship with our old Tower installation.

[2019-09-04 14:54] ryanpetrello commented on #4588
Just out of curiosity, I edited the AWX licensing code path in my local checkout to return fake data that only provides 50 hosts (similar to what a Red Hat Ansible Tower installation might do):

![image](https://user-images.githubusercontent.com/214912/64266265-4ff74480-cf02-11e9-916c-26111404e52a.png)

...and I'm still seeing all 250+ hosts, so I think what you suggested might just be a coinciden

[2019-09-04 14:57] djseiss commented on #4588
I think it has something to do with the OpenStack setup.

I had 5 individual inventories. Not smart inventories. Just inventories. Each inventory had a single source that used OpenStack as its Type/Source.

Smart inventories could not get over 101 hosts.

Once I switched that to 1 inventory with 5 sources that used OpenStack. I no longer had the 101 host issue.

[2019-09-04 15:00] alex-mnt commented on #2981
Hi guys,

Any progress regarding this feature?
It would be very much appreciated if there is a hotfix?

I would like to run AWX to run during working days (Monday-Friday) and only during business hours (9-17) every 10 min for example. Is there any possibility to do this? Am I missing something in the documentation / API?

Kind regards,
Alex

[2019-09-04 15:07] changsijay commented on #2981
@alex-mnt you can do this from API,
FYI [link](https://www.reddit.com/r/ansible/comments/ae4wba/awx_run_a_playbook_every_30_mins_from_9_am_to_5_pm/edmkfgt?utm_source=share&utm_medium=web2x)

[2019-09-04 19:29] AlanCoding opened #4660 "Unwanted project source tree updates before job run"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Projects are not supposed to update to newer versions when a job is ran, unless the project is set to update on launch.

This appears to be happening when `scm_branch` of the project is blank, and new commits have been added to the repo.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac,

[2019-09-04 21:30] falcon78921 commented on #4055
@jhonjcastroh I highly recommend creating a Microsoft Azure Resource Manager credential instead of explicitly defining `/var/lib/awx/.azure/azureProfile.json`. You shouldn't have to do this in AWX. Creating a manual `credentials` or `azureProfile.json` (Azure CLI) file is only for running Azure playbooks in ad-hoc.

See: https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html

[2019-09-04 22:13] tchiapuziowong commented on #3956
When I try to create the docker images manually I get the following error, I've already killed any existing containers before running:
[code]

[2019-09-05 01:47] tjyang commented on #2209
Hi @wenottingham
Any progress on this RFE goal ?

[2019-09-05 07:38] tamirshaul commented on #4634
Thanks for the response, I double checked the situation and found out there was another problem (non AWX related) that caused non parallel job runs.

[2019-09-05 07:38] #4634 closed, assigned to nobody

[2019-09-05 08:04] ingvaldlorentzen opened #4664 "6.1.0.0 -> 7.0.0 Breaks SAML login due to 'saml_auditor_attr'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Login with SAML fails after upgrade to `7.0.0` due to missing `saml_auditor_attr` in settings.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: openshift manual deployment
* Ansible version:  2.8.4
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE
This should be identical when using docker-compose, as our manual AWX OpenShift in

[2019-09-05 08:12] nakacya opened #4665 "google Hangout chat using webhook results in error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Sending notifications to google Hangout chat using webhook results in error

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: CentOS 7.6,Amazon Linux 2
* Web Browser: Chrome

##### ACTUAL RESULTS

[code]

[2019-09-05 10:02] jpaulovic opened #4666 "Failing to install a role doesn't fail the update job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running a project update for a playbook which depends on roles defined in requirements.yml, the task job finishes successfully even if the roles are not successfully installed

##### ENVIRONMENT
* AWX version: Tower 3.5.1
* AWX install method: openshift
* Ansible version:  2.8.2
* Operating System: Fedora 30
* Web Browser: Firefox 68

##### STEPS

[2019-09-05 12:39] ryanpetrello commented on #4665
@nakacya,

This isn't really a bug in AWX; it's an HTTP response from Google's API telling you it doesn't know what to do with the JSON payload that's being sent (because it would be impossible for AWX to send a _default_ JSON structure that _every_ HTTP service out there understood).

If you want to craft a JSON body in your notification body that adheres to Google's Hangout API, you'll need to s

[2019-09-05 12:40] #4665 closed, assigned to nobody

[2019-09-05 13:23] elyezer commented on #4394
I verified this by doing the following:

1) Started a HTTP server and made it listen to connections
2) Created a Webhook notification and configured it to post to the HTTP server started on 1
3) Created a Job template and associated with the notification created on 2
4) Launched the job template and wait until it completed
5) Check if the POST request was made to the HTTP server and that the `resc

[2019-09-05 13:23] #4394 closed, assigned to elyezer, rebeccahhh

[2019-09-05 14:01] elyezer commented on #3838
Here are the steps done to verify this:

1) Create a self-signed certificate by running:

[code]

2) Created the following Python 2 HTTPS server script and started the HTTPS server:

[code]

3) Created a Webhook notification without checking the `Disable SSL verification` option
4) Ran a Job template configured to send the notification created on 3 and checked that the Notification failed to be se

[2019-09-05 14:01] #3838 closed, assigned to nobody

[2019-09-05 14:05] shanemcd commented on #4463
This happened after I refactored the image out into more layers to make it more readable and cache-friendly. I don't care all that much, but I reckon we would need to either condense back into a mono-layer image (yuck) or use squash.

[2019-09-05 14:13] strawgate commented on #4463
Simply adding yum clean all and rm -rf /root/.cache to each yum install command should go a long way towards fixing this without having to undo all of the layer changes

[2019-09-05 14:40] alancivita opened #4668 "awx 7.0.0 fresh install on kubernetes fails on Check for tower user and create django super user tasks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Installed brand new awx 7.0.0 deployment on kubernetes (on the same env 6.0.0 works fine)
##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: kubernetes
* Ansible version:  2.8.4
* Operating System: Mac OS Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Install from scratch on kubernetes

##### EXPE

[2019-09-05 15:00] ryanpetrello commented on #4668
[code]

[2019-09-05 15:02] ryanpetrello commented on #4668
@jrb could this be related to more recent Django updates?

[2019-09-05 15:16] ryanpetrello commented on #4668
Hrm, this suggests that your database schema for `auth_user` has `last_login` as `NOT NULL`...

![image](https://user-images.githubusercontent.com/214912/64355092-97e39d80-cfce-11e9-8db4-5b137ea94b23.png)

[2019-09-05 15:22] alancivita commented on #4668
Hi thanks, for getting back
attached is what i have:
![Screenshot 2019-09-05 at 17 21 27](https://user-images.githubusercontent.com/23634711/64355563-b911b180-d001-11e9-9a86-0ca1bbe8b174.png)

[2019-09-05 15:26] appuk commented on #2598
The Job template admin can add labels and is not getting stuck in the infinite working gear

##### Steps performed
1. Create a workflow job template
2. Create a normal user and assign it as the Job Template Admin
3. Login as the user and add labels in the Job Template
4. Save the changes

##### Outcome:
The labels are added successsfully,

<img width="1655" alt="Screen Shot 2019-09-05 at 11 18 12

[2019-09-05 15:26] #2598 closed, assigned to nobody

[2019-09-05 15:28] mabashian opened #4669 "Upgrade react-router/react-router-dom to 5.x"
##### ISSUE TYPE
 - Task

##### SUMMARY
At the time I'm writing this the upgrade is not immediately necessary but since I went down this path a bit while upgrading react/react-dom I figured it'd be best to add some notes.  Supposedly the upgrade from 4.3 to 5.0 contains no breaking changes but the UI definitely broke when I made that jump.  I'll break this down into two sections:

1) The applicati

[2019-09-05 15:49] appuk commented on #4443
everything looks good! when using branch override, the user is now able to select the text in the `scm refspec` tooltip that he can further copy/paste and the tooltip does not deactivate while doing that.
<img width="1462" alt="Screen Shot 2019-09-05 at 11 34 35 AM" src="https://user-images.githubusercontent.com/11617351/64357590-f4e15280-cfd2-11e9-961e-431720e961f0.png">

[2019-09-05 15:49] #4443 closed, assigned to jlmitch5, dsesami

[2019-09-05 16:04] wenottingham commented on #2209
If there is progress, it would be noted here.

[2019-09-05 16:50] matburt commented on #4668
This works fine for me on a kubernetes install with 7.0

![image](https://user-images.githubusercontent.com/89544/64362092-e186b500-cfdb-11e9-8e71-f411c3e5e867.png)

[2019-09-05 16:54] shanemcd commented on #4668
I have tested a 5.0.0 -> 7.0.0 upgrade and a fresh install. Both work fine for me. I'm going to close this. If you need help troubleshooting your environment join us on [IRC](http://webchat.freenode.net/?channels=ansible-awx) or our [Google Group](https://groups.google.com/forum/#!forum/awx-project).

[2019-09-05 16:54] #4668 closed, assigned to nobody

[2019-09-05 16:59] grahamneville commented on #1280
Any further thoughts on allowing this as a simple check box when creating inventories?

I'm trying to avoid the need to create multiple inventories each time I may need to do some development testing where I'm changing variables belonging to hosts (either via ini files or yaml files e.g. inventory/SITE/group_vars/all.yaml)

If I could just import the list of hosts and groups they belong to without

[2019-09-05 16:59] alancivita commented on #4668
So, only because it works for you it's not a bug? seriously?
as i said a fresh 6.0.0 works, 7.0.0 no.
Thanks anyway

[2019-09-05 17:02] grahamneville commented on #3163
Is this something that you have on the list to add? Are we likely to get it soon? Would we have to wait for the new UI?

[2019-09-05 17:32] AlanCoding commented on #1280
^ You should be able to use variables sourced from `<playbook dir>/group_vars/all.yml`, which may be different in various project branches used in different jobs. As your use case is currently worded, it seems like this should probably address it. Variables defined in these folders relative to the playbook should take higher precedence than the inventory variables.

[2019-09-05 17:53] grahamneville commented on #1280
So I'm currently using the Alternative dir layout as per the Ansible best practices documentation https://docs.ansible.com/ansible/latest/user_guide/playbooks_best_practices.html

I'm not sure that even if I moved my group vars from `inventory/<SITE>/group_vars/<GROUP>.yml` to `<playbook_dir>/groups_vars/<GROUP>.yml` my problem would be solved.

I'd rather not do this anyway.

Is it a lot of work

[2019-09-05 18:12] tjyang commented on #2209
@wenottingham , thanks for the update.

[2019-09-05 19:48] AlanCoding commented on #1280
Why do you think you need this? I have so-far failed to construct a story in my head where this makes sense as a solution to a problem.

If you need different variables for various hosts for jobs using different source trees, then you have playbook adjacent variables. If you don't, then that's fine.

But I'm reading that you're not trying to apply different playbook-source-dependent variables but

[2019-09-05 20:06] andrewsav-bt commented on #1744
@ryanpetrello The issue raised is about "to pass Custom Credentials to custom inventory script" Could you please point out which part of you answer addresses this?

When you create and Inventory Script there is no UI field provided to pass (or as you put it "inject") your Custom Credentials into that Inventory Script. If you could possibly specify how to do this, it would help a lot.

[2019-09-05 20:22] matburt commented on #4668
What we're saying is that two different people haven't been able to reproduce it. You're going to have to give us more information or perform some more troubleshooting on your own to help us find the problem.

[2019-09-05 21:36] ryanpetrello commented on #1744
What version of AWX are you running?  You specify the credential when you set up an inventory *source*:

![image](https://user-images.githubusercontent.com/214912/64382855-a4361d80-d003-11e9-876c-abaa1d6ec495.png)

[2019-09-05 23:15] nakacya commented on #4665
I understand.
If you wrote the following contents in Customize Messages, you can confirm that you can output the same as slack notification

`` `
{"text": "{{job_friendly_name}} # {{job.id}} '{{job.name}}' {{job.status}}: {{url}}"}
`` `

[2019-09-06 01:17] andrewsav-bt commented on #1744
@ryanpetrello  Right. Thank you for that, it clears this up.

[2019-09-06 10:29] pratibhadeepti commented on #4638
Hi @ryanpetrello Thanks for taking out time and responding, I have updated version in my current setup currently running AWX version 6.1.0 with ansible version 2.8.2 but not sure how I need to run my playbook so that I can resolve the issue without hampering my current setup. And when I tried using this: [https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md](url)
I got 'unable to i

[2019-09-06 10:50] lord-kyron commented on #4501
I can see that my proposal was already included in the lates release, so I will close the issue.

[2019-09-06 12:02] ryanpetrello commented on #4501
@lord-kyron if you don't mind, I'm going to leave this open so we can do some final verification on our end.

[2019-09-06 12:21] infosecwatchman opened #4670 "Migration from awx 6.1 to 7.0?"
Is there a wiki or something on properly migrating to a new version in a production environment?

[2019-09-06 13:49] AlanCoding commented on #4666
The `project_update.yml` playbook does not use the `--ignore-errors` flag.

https://github.com/ansible/awx/blob/43d816b6e4c7ea01c31e42e713101cf51011b534/awx/playbooks/project_update.yml#L129

Have modifications been made to the project update playbook on your server? Could you cat the file and compare the syntax of that task?

[2019-09-06 13:51] mabashian opened #4672 "Login background broken in Firefox"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1678" alt="Screen Shot 2019-09-06 at 9 49 44 AM" src="https://user-images.githubusercontent.com/9889020/64433089-cd9a8c00-d08b-11e9-9236-889089690fbe.png">

Nothing of note in the console

[2019-09-06 14:25] alancivita commented on #4668
FYI the problem resides with python version installed on the worker nodes in kubernetes.
Mine were running python 3.5, so tried to upgrade to python 3.6 and magically everything started working.
But i'm wondering why awx containers do care about the python version installed on the workers.

[2019-09-06 14:45] AlanCoding opened #4673 "Terminal colors not rendered in UI in spite of forcing use of colors"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Colors in Ansible task outputs are not rendered in the UI.

Commands that invoke Ansible commands (such as our project update playbook does) force use of colors.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

#

[2019-09-06 15:38] infestonn opened #4675 "AWX ignores parameters in ansible.cfg"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX seems to read right ansible.cfg file but uses default _roles_path_ value.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: Ubuntu 18.04

##### STEPS TO REPRODUCE
Directory tree:

├── ansible.cfg
├── hosts
├── inventory
├── main.yml
├── playbooks
│   ├── consul
│   │   ├── fi

[2019-09-06 16:48] ryanpetrello commented on #4670
Hey @GregorioSecurity,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

The general approach to upgrading/migrating to new versions depends on how you've deployed AWX, but generall

[2019-09-06 16:48] #4670 closed, assigned to nobody

[2019-09-06 17:08] AlanCoding commented on #4675
This is related to a bunch of stuff going on, see https://github.com/ansible/ansible/issues/61778, as that was raised to document what is a known limitation. Your error mentioned:

ERROR! the role 'brianshumate.consul' was not found in
 - /tmp/awx_1162_3sgq_dhy/project/playbooks/consul/roles
 - /tmp/awx_1162_3sgq_dhy/requirements_roles
 - /tmp/awx_1162_3sgq_dhy/project/playbooks/consul

The Ansibl

[2019-09-06 17:14] wenottingham commented on #4654
This can be easily done by querying the API and then processing that JSON in whatever tool you want.

[2019-09-06 17:17] ryanpetrello commented on #4637
Hey @niso120b,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-09-06 17:17] #4637 closed, assigned to nobody

[2019-09-06 17:17] falcon78921 opened #4676 "Ability to Add Custom Validation for Survey Answers"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to be able to specify their own conditions on acceptable survey answers (i.e. regular expressions).

In the customer's use case, they would like to validate an IP address in the survey answer. This could also extend out to other use cases (e.g. If a customer has a naming convention for assets, systems, etc., th

[2019-09-06 17:19] wenottingham commented on #4633
Is this asking for the user's credentials to GitHub to be forwarded to project checkouts?

[2019-09-06 17:25] wenottingham commented on #4633
In short: projects are an RBACed object that is delegated; we would never use a user's login credential to pull them. We also would not want to auto-create all projects that a user has access to. So I don't think there's actually a use case for this as stated.

[2019-09-06 17:25] #4633 closed, assigned to nobody

[2019-09-06 17:33] wenottingham commented on #4108
addressed in https://github.com/ansible/awx/pull/4529

[2019-09-06 17:54] AlanCoding commented on #4675
Putting the blocked label on this because it is the exact thing that the linked Ansible core issue is looking for. We can also solve it by parsing the config file ourselves, but this would be dicey. We would need to confer about the architecture before embarking on something like that.

[2019-09-06 17:54] wenottingham commented on #4008
Flipping back to needs_devel as #4338 was closed.

[2019-09-06 17:56] wenottingham commented on #3903
Flipping back to needs_devel as #4338 was closed.

[2019-09-06 17:59] elyezer commented on #4359
@tvo318 leaving this open for now. Can you close it when docs are in place? Thank you very much

[2019-09-06 18:21] ryanpetrello commented on #3124
To reproduce this:

1.  Set up a job template that runs this playbook:

https://github.com/ansible/test-playbooks/blob/master/debug_extra_vars.yml

Under the extra_vars, use:

![image](https://user-images.githubusercontent.com/214912/64451028-5677ee80-d0b1-11e9-844b-cb1359220573.png)

2.  Set up a workflow that runs this job template on a schedule (every minute, maybe?)

3.  Wait for the workflow

[2019-09-06 19:32] wenottingham commented on #4642
-> https://github.com/ansible/awx/pull/4678

[2019-09-06 19:59] ryanpetrello commented on #4635
@AlanCoding I suspect this is related to the move to runner, too?

[2019-09-06 20:14] AlanCoding commented on #4635
[code]

Try doing it as

[code]

Instead. By setting `AWX_TASK_ENV`, you're injecting it via a different method. You can see in our defaults file that before a job run we loop over `ANSIBLE_*` settings and apply them to the environment. I also think we didn't allow these via that variable at some point, and you're running an older version. So this syntax has a credible chance of fixing the issue f

[2019-09-06 22:00] rmahroua commented on #1447
I hit the same issue and I did not need to wrap the script  - I simply added this at the top :)
[code]

[2019-09-07 01:06] AlanCoding opened #4680 "Raise error if a group and host is created with the same name"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Create an inventory, inside that inventory create a host with name "foo". Then create a group with name "foo".

This breaks playbooks.

We should prevent the creation of the group with name "foo" because a host by that name exists, and return a 400 error message with details in this case.

Related https://github.com/ansible/awx/issues/3384

[2019-09-07 03:36] jladdjr opened #4681 "Get MVP working: tower job running with ansible runner + perf stats plugin enabled (1-2d)"
tracking progress here..

[2019-09-07 03:42] jladdjr commented on #4681
Running into hairy issue where awx + runner + perf stats = pexpect hanging:

* Ran `strace -f -p 599`
* .. where 599 was the pid reported by `awx-manage run_dispatcher --status`
* .. and `-f` will `Trace child processes as they are created by currently traced processes as a result of the fork(2), vfork(2) and clone(2) system calls.`
* .. so (iiuc) when the dispatcher process forks a new process (t

[2019-09-07 04:41] v1dlak commented on #4635
The option `AWX_TASK_ENV['ANSIBLE_GATHER_TIMEOUT']` was found in [#4193](https://github.com/ansible/awx/issues/4193#issuecomment-507287519)

But I tried option `ANSIBLE_GATHER_TIMEOUT`.

[code]

Changes in webUI.
![Screenshot(39)](https://user-images.githubusercontent.com/15999901/64469817-0e9caa00-d139-11e9-8350-cff6b187ec11.png)

But result is same
![Screenshot(40)](https://user-images.githubuse

[2019-09-07 13:03] jpaulovic commented on #4666
You're onto something, Alan. I'll check with folks if they made any modifications, but I'm more inclined into thinking this is what's actually present in the official Ansible Tower 3.5.1 version...
[code]
Thanks for pointing me to the right place to check the code.

[2019-09-07 13:16] #4666 closed, assigned to nobody

[2019-09-08 17:25] fxfitz opened #4682 "Role Requirements Are Never Downloaded"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In v7.0.0, I'm observing that none of my `roles/requirements.yml` are being downloaded.

This is because `roles_enabled` is always `False` (https://github.com/ansible/awx/blob/7.0.0/awx%2Fplaybooks%2Fproject_update.yml/#L136).

I believe it is being set to False here: https://github.com/ansible/awx/blob/7.0.0/awx%2Fmain%2Ftasks.py/#L1903-L1905

And I b

[2019-09-09 11:31] AlanCoding commented on #4675
On the question, "could we parse the config file?"

https://github.com/ansible/ansible/blob/7b28960ebe435fd4eaea23abe918a28a112843a0/lib/ansible/config/manager.py#L317-L337

I think we could, given the set of what Ansible core currently supports right now. Unlike YAML data, there seem to be no special syntax allowances beyond the python config parser. This still says that it would like to support

[2019-09-09 11:34] AlanCoding commented on #4675
Ping @wenottingham, since https://github.com/ansible/awx/pull/4656 addressed a larger problem (global defaults) whereas this is a narrower limitation, but still related to the same architectural problem with config settings.

[2019-09-09 13:29] ryanpetrello commented on #4682
There's a conversation about this going on over at https://groups.google.com/d/msgid/awx-project/1ea1ca52-0f9a-4193-b58f-1e216d695fd7%40googlegroups.com?utm_medium=email&utm_source=footer, so I'm closing this.

@fxfitz or @AlanCoding if this culminates in a bug, feel free to open a ticket.

[2019-09-09 13:29] #4682 closed, assigned to nobody

[2019-09-09 14:40] wenottingham commented on #4675
I think parsing the config file in Tower/runner is not the road we want to go down.

[2019-09-09 16:05] keithjgrant opened #4684 "JobTemplateForm: cleanup & refactoring"
##### ISSUE TYPE
* Feature idea (refactoring & cleanup)

##### SUMMARY
We've done a lot of work rapidly on the JT form, and that component has grown very large. Here are some of my miscellaneous notes for improvements that can be made:

* JobTemplateForm is entirely too big and should be broken up into smaller components.
  * Create a FieldTooltip component to handle icon rendering, etc. so toolti

[2019-09-09 16:16] AlexSCorey opened #4685 "Look Up Modal has Pluralization Errors"
##### ISSUE TYPE
The AWX-PF look up modal has pluralization errors when it doesn't find the thing the user is looking for.  This was noticed in the JT ---> edit but might occur in other places as well.
![Screen Shot 2019-09-09 at 12 06 55 PM](https://user-images.githubusercontent.com/39280967/64547728-35a2d980-d2fb-11e9-8d57-0ab0d8bab633.png)

##### SUMMARY
Just misspellings.
![Screen Shot 2019-09

[2019-09-09 16:54] ryanpetrello commented on #4642
@dvntstph `devel` of AWX has a newer version of `boto3`, mind giving it a whirl?

[2019-09-09 17:39] #4431 closed, assigned to keithjgrant

[2019-09-09 17:52] marshmalien commented on #4685
https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/PaginatedDataList/PaginatedDataList.jsx#L87
We could pass an `itemNamePlural` value from the parent component to the PaginatedDataList. If `itemNamePlural` evaluates to false, it will get transformed by the pluralize method inside of the string util.

[2019-09-09 21:02] kdelee opened #4691 "CLI: "awx ad_hoc_commands modify" should not exist"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

`awx ad_hoc_commands modify` does not make since because ad_hoc_commands are not re-runnable or editable

This is probably an OPTIONS problem

[2019-09-09 23:37] ryanpetrello commented on #4691
There are actually a number of commands that fit this category, and I need to do a better job filtering them out from `OPTIONS` for the detail-related actions (get, delete, modify):

[code]

[code]

[code]

[code]

[2019-09-10 03:56] nprashiyer opened #4693 "Template doesnt create file when using AWX"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm using a playbook to create a file on my remote server. However, file creation is not happening. When I use the command option within Inventories-->Host, it works. But file creation doest happen when using template/playbook.

##### ENVIRONMENT
* AWX version: 7.0.0.0
* AWX install method: docker on linux,
* Ansible version:  2.8.4

##### STEPS TO REP

[2019-09-10 04:45] ryanpetrello opened #4694 "Slow transactions in requests made with OAuth2 tokens hold open per-request row exclusive locks"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1.  Create an OAuth2.0 token.
2.  Run a request that results in an especially time consuming database transaction.  For example, to simulate a slow query, this code diff makes an HTTP GET request to `/api/` _very_ slow:

[code]

[code]

3.  Observe that step 2 takes 30 seconds.  During this time, an exclusive row lock is held on the row for that OAuth2

[2019-09-10 04:46] ryanpetrello commented on #4694
It looks like this code is responsible for obtaining the row lock at the top of the transaction:

https://github.com/ansible/awx/blob/devel/awx/main/models/oauth.py#L122-L124

[code]

[2019-09-10 06:44] Ompragash opened #4696 "Resizing Custom Logo in Login Screen"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, the only way to resize custom logo is by editing `app.XXXXXXXX.css` file under ~/awx/public/static/css/ but after every upgrade, the resized value is restored to the default one which is expected and the purpose of this RFE is to make sure that that resized vale is not changed even after an upgrade.

[2019-09-10 07:20] nprashiyer commented on #4693
Just realized my mistake.
Job run was incorrectly set to Check instead of Run

[2019-09-10 07:20] #4693 closed, assigned to nobody

[2019-09-10 13:35] #4685 closed, assigned to AlexSCorey

[2019-09-10 13:48] kdelee opened #4698 "[CLI] RFE: associate/dissociate instance groups to objects that use them"
##### ISSUE TYPE
 - Feature Idea

Currently we have associate/dissociate for notifications and credentials on job_templates.
Do not have this for instance groups.

Things that can have instance groups (may be more than this):
[code]

##### MORE INFORMATION

It would show up as an option along side these other options;
[code]

[2019-09-10 14:16] wenottingham commented on #4696
That would not be how we would do that - what we would do is to respect the image size of the custom logo.

[2019-09-10 14:39] james-crowley opened #4700 "Support for s390x"
##### SUMMARY

I wanted to start a discussion about supporting `s390x`. I ported a version of AWX a while back to `s390x`, and it went pretty smooth. There were just a couple small tweaks that needed to be made to get the Docker images to build.

Here are a couple of tweaks that were needed (These are off the top of my head, more might be needed):

-	Template out the base image pulls, CentOS to Cl

[2019-09-10 14:48] AlexSCorey commented on #4524
Looks like this bug is fixed in devel.

[2019-09-10 15:06] matburt commented on #4700
I'll be honest, none of us here have access to s390 systems, so we'd probably be apt to breaking it on a pretty regular basis. We would have no way to validate feature or bugfix branches against those systems.

[2019-09-10 15:28] james-crowley commented on #4700
@matburt Well it’s your lucky day! We have a couple ways we can get you access to `s390x` systems (also ` ppc64le` too, but we can talk more about that later).  We have a couple ways to accomplish this, but it depends on how you want it set up.

One of the ways is to utilize Oregon State University's pipeline resources. Here is a link to check out, https://osuosl.org/services/ibm-z/. You can hear

[2019-09-10 17:30] tamirshaul opened #4703 "Git project that contains submodules with relative paths or authentication is not working"
##### ISSUE TYPE
 - Bug Report
When using a git repo with submodules (both relative submodule path and full path) AWX fails when running a job template that uses the git project.

##### SUMMARY
AWX tries to clone the local repo to ```/tmp``` with this command:
[code]

When using full paths - the problem is that the git credential is not passed to clone the submodules.

When using relative paths (f

[2019-09-10 17:36] wenottingham commented on #4703
Did this work in a prior release?

[2019-09-10 17:45] AlanCoding commented on #4703
The relative paths issue could be https://github.com/gitpython-developers/GitPython/issues/730, I can see how we will probably have to do hacks around this.

[2019-09-10 17:48] tamirshaul commented on #4703
Works in 6.1.0, the issue appears only in 7.0.0

[2019-09-10 18:52] jladdjr commented on #4681
Worked through this issue this a.m. w/ @ryanpetrello. The issue here was that I was
* setting an env. variable (used by perf stats) in awx and the env. var was a float (instead of a string)
* pexpect was attempting to fork, but
* .. python's forking function was throwing an OS error when it saw the float (basically, expects a string)
* pexpect basically assumes that the fork was successful 🤕 (see

[2019-09-10 18:54] keithjgrant opened #4705 "Replace pluralization util with Lingui pluralization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Some pluralization is done with a util function based on English rules. These should be update to use Lingui pluralization for proper internationalization: https://lingui.js.org/tutorials/react.html#plurals

[2019-09-10 19:26] ryanpetrello commented on #4681
We ready to close this issue, or are you using it to track something else @jladdjr ?

[2019-09-10 19:54] saxonww commented on #4434
I just ran into this myself, and it was pointed out to me that we should be able to present a standard config file (.aws/credentials, .boto, etc.) to the task runner and then pass a profile name to our jobs.

[2019-09-10 19:57] jladdjr commented on #4681
@ryanpetrello - Using it to track the actual development of an MVP of awx + runner. Will kick the blocker issue out of the description so that it's cited as an issue and not made out to be the focus of the card.

[2019-09-10 20:00] #4522 closed, assigned to keithjgrant

[2019-09-10 21:02] keithjgrant commented on #4521
In the example given initially (changing from Grafana to Webhook), the UI posts with a notification_configuration.username of `null` (unless one is added by the user—in which the save is successful). When a new Webhook NT is created, this field is omitted entirely. Since this is an optional field, it should either a) not post the value b) post it with an empty string or c) the API should interpret

[2019-09-10 21:19] jladdjr commented on #4521
@keithjgrant - I'm a js n00b, so ignore if this thought is garbage.. is there a way no create a namespace in js (put the config in some kind of dict?) so that you would only need to clear the namespace / dict and not go through a laundry list of variables that need to be cleared?

I realize that would involve a refactor, but sounds like that might help keep the config tidy in general? 🤷‍♂

[2019-09-11 11:08] ashokdevop opened #4707 "Getting Internal Server Error"
Hi Team,

I am trying deploy AWX on kubernetes and deployed all the components successfully but while opening UI getting Internal Server Error

Please help me on this.

Thansk,
Ashok

[2019-09-11 12:30] ryanpetrello commented on #4707
@capslk we can't help without details.  Please refile this issue with **all** of the details requested at https://github.com/ansible/awx/issues/new?template=bug_report.md

Additionally, please share any errors you see in your container logs - they'll provide hints about what's wrong.

If you need help collecting this data for an AWX install, you might also try our mailing list or IRC room:

http:/

[2019-09-11 12:32] #4707 closed, assigned to nobody

[2019-09-11 12:37] ashokdevop commented on #4707
@ryanpetrello
Please find the below awx-web container logs

EXIMR-IM-272:~ ashok.g$ kubectl logs pod/awx-web-75c4459955-f2hrs
/usr/bin/launch_awx.sh: line 8: /etc/tower/conf.d/environment.sh: No such file or directory
Using /etc/ansible/ansible.cfg as config file
127.0.0.1 | SUCCESS => {
    "ansible_facts": {
        "discovered_interpreter_python": "/usr/bin/python"
    },
    "changed": false,

[2019-09-11 12:51] ryanpetrello opened #4708 "dashboard and job list are very slow with larger UnifiedJob counts"
[code]

(on a poorly provisioned laptop with all services running in Docker containers)

Logged in as an org admin and clicked back and forth between the dashboard and jobs list tabs:

Before:

<img width="1279" alt="image" src="https://user-images.githubusercontent.com/214912/64664243-8cec9b00-d41c-11e9-82ac-080315a8063c.png">

[2019-09-11 13:11] kdelee commented on #4691
Works for me! Thanks!

[2019-09-11 13:11] #4691 closed, assigned to ryanpetrello

[2019-09-11 13:19] ryanpetrello commented on #4707
@capslk

Is this a new install?  An upgrade?  How are you deploying it?  What version of AWX?

This error should provide you with a hint: `django.core.exceptions.ImproperlyConfigured: The SECRET_KEY setting must not be empty.`

You're missing the `SECRET_KEY` file laid down at install.  If you're upgrading, you'll need to persist this value across upgrade.

[2019-09-11 13:27] kdelee commented on #4566
Works for me! Thanks

[2019-09-11 13:27] #4566 closed, assigned to ryanpetrello, kdelee

[2019-09-11 13:30] kdelee commented on #4649
Works for me, thank you!

[2019-09-11 13:30] #4649 closed, assigned to ryanpetrello

[2019-09-11 13:33] kdelee commented on #4570
Works for me. Maybe someday we can make it possible to nest file references in files :smiling_imp:

Example:
`awx credentials create --credential_type 'Machine' --name 'My SSH Key' --user 'ryan' --inputs "@my_nested_args.json"`
where my_nested_args.json looked like `{'ssh_key_data': '@~/.ssh/id_rsa', 'ssh_key_unlock': 'example-pass'}`

[2019-09-11 13:33] #4570 closed, assigned to ryanpetrello, kdelee

[2019-09-11 14:17] vrevelas opened #4710 ""Cleanup Expired OAuth 2 Tokens" management job doesn't work for tokens issued with Authorization Code flow"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
#2701 added a "Cleanup Expired OAuth 2 Tokens" management job which runs the awx-manage `cleartokens` command. The [Django OAuth Toolkit docs](https://django-oauth-toolkit.readthedocs.io/en/latest/management_commands.html#cleartokens) for that command note

AWX currently does not have a default value for REFRESH_TOKEN_EXPIRE_SECONDS nor does it provide

[2019-09-11 16:26] ryanpetrello commented on #4708
see: https://github.com/ansible/awx/pull/4706

[2019-09-11 17:10] AlanCoding commented on #106
https://github.com/ansible/awx/pull/3887

[2019-09-11 17:47] keithjgrant commented on #4521
Okay, I found a piece of code already in place to deal with the null value for `username`, but it was only applied to email notifications, not Webhook ones (both use that field). That turned out to be a pretty simple fix...

Before I make the PR, have we seen any other errors stemming from changing types? or was switching to Webhook the only real issue here?

[2019-09-11 17:58] kdelee commented on #4694
@ryanpetrello please help me with this this looks horrible

[2019-09-11 18:07] ryanpetrello commented on #4694
😂 let's chat about it

[2019-09-11 18:18] #4430 closed, assigned to marshmalien

[2019-09-11 19:56] beeankha opened #4712 "Notifications Assigned to Workflows Don't Send Properly When Assigned at Org Level"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Related to a specific comment in this PR: https://github.com/ansible/awx/pull/4657#discussion_r322938082

The `failure`, `success`, and `started` notification templates for Workflows _do not_ inherit from the Organization even though they should.  We have `approval` notifications inherit from the Org (per PR https://github.com/ansible/awx/pull/4657); t

[2019-09-11 20:41] ryanpetrello commented on #4712
follow-on work from @beeankha's WF approval changes

[2019-09-12 07:54] jladdjr commented on #4681
Got this knocked out - closing

[2019-09-12 07:54] #4681 closed, assigned to jladdjr

[2019-09-12 12:11] ryanpetrello commented on #4675
I agree with this statement.

[2019-09-12 12:41] ryanpetrello commented on #4129
@matburt @jakemcdermott @wenottingham is this list of events even used anymore?

https://github.com/ansible/awx/blob/devel/awx/main/models/events.py#L102

I can update it, but the `runner_on_start` event seem to work (and get recorded) just fine in `devel`:

I'm not really sure there's *actually* much we need to do here in terms of event display:

[code]

![image](https://user-images.githubusercon

[2019-09-12 13:49] AlanCoding opened #4720 "Download collections for inventory imports"
##### ISSUE TYPE
 - Feature Idea
 - Future Bug fix

##### SUMMARY
We use inventory plugins for all the native inventory source types. These are vendored with Ansible core. These will move. The locations listed here may not be their final locations, but they will move somewhere:

 - aws_ec2: https://github.com/ansible-collections/ansible_collection_aws/blob/master/plugins/inventory/aws_ec2.py
 - gc

[2019-09-12 14:08] AlanCoding commented on #4673
Technically the use case of calling a playbook inside a playbook still gives ugly colors, but if someone wants to resolve that they can use the `environment:` syntax we now have in our project update playbook. The important case of Galaxy commands showing nicely to users is taken care of.

[2019-09-12 14:29] wenottingham commented on #4720
I think it has to be 1) ; too many issues with 2).

[2019-09-12 14:41] kdelee opened #4721 "[CLI] when tower is upgrading/returning /migrations_notran/ , CLI throws error with bad info"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

If tower is actively upgrading (or busted as it sometimes gets in development environment), running `awx -h` will return a hard to interpret error that does not really help you.

##### STEPS TO REPRODUCE

When tower is in the state that you get the "upgrading screen" instead of normal response, e.g. when normal request ends up redirecting you to `/mig

[2019-09-12 14:58] shoguevara commented on #3551
#3705

[2019-09-12 15:02] kdelee commented on #4694
:smile: Ok it was not that horrible :)

I make a token and applied the suggested diff to make GET to /api very slow

Using the same token in two windows, while
[code]
hung for a long time (by design), I still got very snappy response from
[code]
in a different terminal (same host, same token).

Additionally, while the slow request was running, I did not see the `RowExclusiveLock`, rather I saw
[co

[2019-09-12 15:05] ryanpetrello commented on #4675
@AlanCoding is this new, or has it always been this way?

[2019-09-12 15:07] ryanpetrello commented on #4694
Yep, this looks good @kdelee!

[2019-09-12 15:08] kdelee commented on #4694
sounds good, thanks!

[2019-09-12 15:08] #4694 closed, assigned to matburt, kdelee

[2019-09-12 15:14] rooftopcellist commented on #4513
This is fixed now.

[2019-09-12 15:14] #4513 closed, assigned to rooftopcellist, one-t

[2019-09-12 15:17] kylecurtis-od commented on #3124
That so precisely states what I wanted... Thank you!

[2019-09-12 15:51] kdelee commented on #4461
Tried this out....there is still definitely a delay, but it is under 30 seconds. Would like to reproduce original bug (tried out on current devel that has fix). Also not quite sure how to get the postgres logs in the development environment. Will catch up with you about this @ryanpetrello

[2019-09-12 15:57] AlanCoding commented on #4675
It's not that simple. Both.

It was always the case that Ansible config variables set to AWX / Tower clobbered both the defaults and the user's value.

Whenever we set new config variables (as demanded by feature requests) we clobber a new thing, this was discussed in the original development of [the collections path](https://github.com/ansible/awx/pull/4301#discussion_r301707264). This issue is h

[2019-09-12 16:14] AlexSCorey commented on #4192
I have tried to reproduce this in awx and in Tower 3.3.3 and I have been unsuccessful. I can successfully create a textarea and multiselect survey question from new Job Templates and from existing job templates.

[2019-09-12 16:20] ryanpetrello commented on #4192
Can we move this to `needs_test`?  I've personally experienced this off and on in Google Chrome, and I think it _is_ a real bug in modern versions of AWX.

[2019-09-12 17:00] jakemcdermott opened #4726 "extra vars are not shown on workflow job template schedules with prompted extra vars"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
extra vars are not shown on workflow job template schedules with prompted extra vars

[2019-09-12 17:23] msilmser opened #4728 "RFE: Allow `'` Character in Usernames"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Allow the `'` character in usernames inside of Tower. This is currently a limitation in the underlying django library:

https://docs.djangoproject.com/en/1.11/ref/contrib/auth/

[2019-09-12 18:18] wenottingham commented on #4728
Because this is a limitation of the underlying library (and the underlying OS, for usernames on the box itself), this is unlikely to change before upstream changes.

If these usernames are coming from a third-party source (such as SAML), we suggest using a different value for `attr_username` in the SAML config, e.g.: `"attr_username": "email"`.

[2019-09-12 18:59] dsesami commented on #4192
This is reproducible on AWX 5.0.0 but has been fixed in AWX 7.0.0/latest. leaving next steps to you @AlexSCorey

[2019-09-12 20:40] AlanCoding commented on #4703
reproduced relative submodules with https://github.com/alancoding/has-relative-submodule

[2019-09-12 21:17] ryanpetrello commented on #4721
@kdelee PR here: https://github.com/ansible/awx/pull/4732

[2019-09-13 04:18] javexed opened #4736 "docker-compose install gets "no pg_hba.conf entry""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Standard docker install fails to work.

##### ENVIRONMENT
* AWX version: latest (60fc952)
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: CentOS 3.10.0-957.el7.x86_64
* Web Browser: n/a

##### STEPS TO REPRODUCE

Standard git pull, from awx/installer, run sudo ansible-playbook -i inventory install.yml

##### EXPECTED

[2019-09-13 06:37] IMOKURI opened #4737 "can't install on k8s"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Display following error when clean install on k8s.

[code]

I can install when I've modified inventory as follows.

[code]

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: k8s
* Ansible version:  2.8.4
* Operating System: CentOS 7.6.1810
* Web Browser:

##### STEPS TO REPRODUCE

- setup k8s
- update inventory file
- exec `ansible-playbook

[2019-09-13 08:29] tentator commented on #4449
@wenottingham I think this feature would really be something! +1

[2019-09-13 08:49] mschibli commented on #4449
@wenottingham , Yeah, for me, this feature would be really a great idea! hope this will be implemented. +1

[2019-09-13 12:06] ryanpetrello commented on #4737
@shanemcd @rooftopcellist is this related to https://github.com/ansible/awx/pull/4734 ?

[2019-09-13 13:14] AlexSCorey commented on #4192
@dsesami Thanks for checking into this.  In conversation with @ryanpetrello we are going to see if we get more reports, that offer more details as to the source of the problem, and move from there.

[2019-09-13 14:19] AlanCoding commented on #4703
I put up a proposed patch. The issue I referenced in my prior comment, https://github.com/ansible/awx/issues/4703#issuecomment-530046456, would not resolve this problem if it were fixed.

[2019-09-13 14:27] larrybg commented on #3951
I have to re-open this issue. We've lost job outputs again. No changes were made to the environment. Disk space is not an issue either.

[2019-09-13 14:35] larrybg opened #4738 "AWX 4.0.0.0 stopped showing job outputs(2)"
ISSUE TYPE
Bug Report

SUMMARY
This is not a duplicate of issue #3951 - this is the same ongoing issue. Server performance turnes out is not the problem.

AWX 4.0.0.0 running in the Docker containers. The database is installed on a separate server. New installation is about 1 month old. Stopped showing job outputs

ENVIRONMENT
AWX version: 4.0.0.0
AWX install method: docker on linux CentOS 7
Ansib

[2019-09-13 15:02] nakacya opened #4739 "Azure AD OAUTH2 login error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After configuring Azure AD OAUTH2 and logging in, you will not be able to log in after the second time

##### ENVIRONMENT
* AWX version: 7.0.0(devel)
* AWX install method: docker on linux
* Operating System:CentOS7
* Web Browser:

##### STEPS TO REPRODUCE
・Configure Azure AD OAUTH2 settings
・Log in once with AD authentication
・Log out
・I can't log in d

[2019-09-13 15:06] kdelee commented on #4721
works for me, thanks!

[2019-09-13 15:06] #4721 closed, assigned to ryanpetrello, kdelee

[2019-09-13 15:32] fxfitz commented on #4192
For what it's worth, we observed this on v6.0.0. Haven't upgraded to 7.0.0 yet.

[2019-09-13 16:00] dsesami commented on #4192
@fxfitz ~this was fixed _very_ recently, so I wouldn't be surprised if it was on 6.0.0. If you are able to upgrade, it should resolve it.~ see correction below.

[2019-09-13 16:13] fxfitz commented on #4192
Gotcha. We'd like to upgrade, but right now we're seeing problems with our role requirements downloading, so until that's fixed we won't be able to upgrade.

[2019-09-13 16:43] ryanpetrello commented on #4192
@dsesami what change to AWX do we suspect resolved this?

[2019-09-13 17:12] dsesami commented on #4192
@ryanpetrello @fxfitz after some sanity checks with different instances:

First, I completely misremembered and got this confused with something else. apparently this bug isn't fixed yet. For that miscommunication I apologize. https://github.com/ansible/awx/issues/4343 also exists about this.

Apparently this is something that can affect different textareas in the app, but it happens consistently

[2019-09-13 17:25] ryanpetrello commented on #4739
@nakacya can you provide more details about any errors you might be seeing in your container logs?

[2019-09-13 17:26] awithrow9 commented on #4738
Thanks for reporting this.  Can you please try this with the latest AWX and open an issue if you see it there?

[2019-09-13 17:26] #4738 closed, assigned to nobody

[2019-09-13 17:29] ryanpetrello commented on #4736
@shanemcd @rooftopcellist is this related to the recent postgres10 update?

[2019-09-13 17:35] #4612 closed, assigned to keithjgrant

[2019-09-13 17:56] elyezer commented on #4521
@keithjgrant have you tried converting from email to webhook? I remember running into something similar when trying to do that.

[2019-09-13 18:14] dsesami opened #4744 "Schedules page elements shift off screen when at half width."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If you view the schedules page at half-width, the actions + delete button shift off-screen. This seems to only happen on certain size monitors, but feel free to experiment.

##### ENVIRONMENT
* AWX version: Latest
* Operating System: Fedora 30
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Visit the schedules page, with some schedules populated, then

[2019-09-13 18:27] rebeccahhh opened #4745 "invalid credentials warning appearing below session time out - session timeout warning persisting"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

After a session has timed out and when attempting to re-login if incorrect credentials are entered the warning regarding invalid username and password is appearing below the session timeout warning. Session timeout warning is persisting instead of being replaces, leaving the sign in with 2 warnings.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX instal

[2019-09-13 18:31] keithjgrant commented on #4521
Just checked: Email to Webhook works now. I also changed to each of the other types, filling in any required fields, and saw no errors when saving.

[2019-09-13 18:31] #4521 closed, assigned to keithjgrant, jladdjr

[2019-09-13 19:01] dsesami commented on #4524
I've attempted to delete + reintroduce a new JT on workflows. This appears to function normally now, with differing types of workflows (converged, recursive). closing and marking as fixed.

[2019-09-13 19:01] #4524 closed, assigned to dsesami

[2019-09-13 19:01] krissaine opened #4746 "AWX Job Fails Parsing Inventory using YAML plugin"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have a set of playbooks designed to parse a CSV file to create an inventory file, then run some other plays against the newly created inventory file to deploy some Virtual Servers.

The set of playbooks run perfectly from the command line using the ansible-playbook commands.

I've created jobs in AWX that point to the playbooks and tried to run one o

[2019-09-13 19:02] dsesami commented on #4528
Prompt button does appear when other prompts exist, but does not appear when it is only extra vars that is prompted. Marking as fixed and closing.

[2019-09-13 19:02] #4528 closed, assigned to awithrow9

[2019-09-13 19:07] appuk opened #4747 "Weird tool tip behavior when in modals"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When in an overlay modal, the tool tip appears no matter the position of the mouse pointer(see screenshot)

##### ENVIRONMENT
* AWX version: 3.6

##### STEPS TO REPRODUCE
Reproducible in all modals, for eg:
1. Templates > Specific Template > Permissions > Add
2. Organizations> Specific Organization > Users > Add

##### EXPECTED RESULTS
The tool tip sho

[2019-09-13 19:19] jlmitch5 opened #4748 "Update ui_next search based on TODOs from first pass"
DONE
 - currently handleSearch in Search.jsx always appends the __icontains post-fix to make the filtering ux expected work right. Once we start adding number-based params we will won't to change this behavior. (done in https://github.com/ansible/awx/pull/4742)

TODO
 - utilize new defaultSearchKey prop instead of relying on sort key
 - make access have username as the default key?
- make access h

[2019-09-13 19:32] appuk opened #4749 "Incorrect links in the users list while adding them in an Organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The links in the Users list while adding users in an organization redirect to the Main users page instead of redirecting to the Specific User page

##### ENVIRONMENT
* AWX version: 3.6

##### STEPS TO REPRODUCE
1. Go to any organization
2. Go to users tab
3. Click on add a user
4. Click on any user link
##### EXPECTED RESULTS
It should redirect to the

[2019-09-13 20:33] larrybg commented on #4738
@awithrow9 , why did you close this issue?

[2019-09-13 21:29] elyezer commented on #4446
Reopening so I can test it.

[2019-09-14 02:55] javexed commented on #4736
Ok, got the fix, I think.
Based the solution from here: https://github.com/docker-library/postgres/issues/482
Added the following line to pg_hba.conf
[code]
NOTE: no idea if this is kosher.
Then did a
[code]

[2019-09-14 04:16] javexed commented on #4736
Ok, reading from here: https://github.com/kartoza/docker-postgis/issues/83

It looks like we should be able to fix the issue by adding the following line to
https://github.com/ansible/awx/blob/devel/installer/roles/local_docker/templates/docker-compose.yml.j2
in the postgres section
[code]

However, doing that doesn't seem to fix the issue. Wondering if it is that issue mentioned in that ticket.
T

[2019-09-14 09:36] nakacya commented on #4739
docker ps
[code]

Azure AD user deleted
1st login(awx_web log)
[code]
1st time logout
[code]

2nd login
[code]

[2019-09-14 14:05] aretakisv opened #4750 "Inventory Update using "Sourced from a Project" not working - AWX 7.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: Debian
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Try to sync an inventory using "Sourced from a Project" source.
The job fails with no clear output. When visiting API I find the issue and pin it in specific job running befo

[2019-09-16 15:40] fosterseth commented on #3646
the error occurs if a number is present anywhere in the top-level domain portion of the url, e.g. .so3, s3o, 3so, etc.

the full url is validated using the built-in django URLValidator, which checks against a pre-defined reg expression to make sure the string looks like a valid url
(https://docs.djangoproject.com/en/2.2/ref/validators/#urlvalidator)

one workaround would be to replace any given ur

[2019-09-16 16:53] AlanCoding commented on #4750
does your project have a `roles/requirements.yml` file?

[2019-09-16 17:29] frsauvage commented on #1008
Hi all,
Is it possible to redistribute AWX after changing the logo-header.svg as @ongsunglau said ?
In other words, does Apache 2 license allows to change the AWX logo-header.svg and distribute the modified product ?
Regards,
Francine

[2019-09-16 18:17] james-crowley commented on #4700
@matburt Were you interested in getting `s390x` access? No rush, just wanted to get your thoughts on my last comment.

[2019-09-16 18:25] AlexSCorey commented on #4705
Looked at the docs for https://lingui.js.org/tutorials/react.html#plurals and it seems that their `<Plural>` isn't the right tool for the job.  It requires that we know which word we might want to pluralize ahead of time and then hard code the message with the singular and plural form of the word.  Because so often the words we want to pluralize are variables it's hard to know how to pluralize it.

[2019-09-16 18:48] saxonww commented on #2564
FWIW we are seeing this exact behavior with AWX (July 18 build of ansible/awx_web), following the guide at https://github.com/ansible/awx/blob/devel/docs/auth/oauth.md.

[2019-09-16 19:06] mabashian opened #4754 "Add template button missing when no templates found on initial load"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1680" alt="Screen Shot 2019-09-16 at 3 03 40 PM" src="https://user-images.githubusercontent.com/9889020/64985630-520ebb00-d893-11e9-88e2-ededf34419f8.png">

Add button should be shown even if there are no rows

##### STEPS TO REPRODUCE
Either don't have any JT's saved _or_ create an org, add a new org admin to that org and log in with that

[2019-09-16 19:14] fosterseth commented on #3646
here is the regex is checks against by default https://github.com/django/django/blob/55b68de643b5c2d5f0a8ea7587ab3b2966021ccc/django/core/validators.py#L89

[2019-09-16 19:46] dsesami commented on #2930
this bug doesn't exist anymore, after attempting to reproduce with @AlexSCorey . marking as closed/fixed

[2019-09-16 19:46] #2930 closed, assigned to AlexSCorey

[2019-09-16 20:03] dsesami commented on #4673
colors render correctly as far as I can see, looks good.

[2019-09-16 20:03] #4673 closed, assigned to AlanCoding, squidboylan, dsesami

[2019-09-16 20:55] jborean93 opened #4757 "inventory localhost python"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The inventory script defines the Python interpreter as `/usr/bin/env python` https://github.com/ansible/awx/blob/devel/installer/inventory#L1 which seems wrong to me. If you are calling Ansible and you want to use the Python that invokes Ansible then it should be set to `ansible_python_interpreter={{ansible_playbook_python}}`. Relying on the env vars c

[2019-09-16 21:32] geauxvirtual opened #4759 "AWX docker image builds failing for awx/devel branch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX docker image build failing off of awx/devel branch with error:
Error: pg_config executable not found.
pg_config is required to build psycopg2 from source

##### ENVIRONMENT
* AWX version: awx/devel HEAD

##### STEPS TO REPRODUCE
Build AWX docker image using the included image_build role under installer folder of project.

##### EXPECTED RESULTS
AWX

[2019-09-17 00:09] bhundven commented on #4759
I can confirm this (end of ansible failure):

[code]

[2019-09-17 00:12] bhundven commented on #4759
temporarily fixed it in my workspace with:
[code]

[2019-09-17 07:47] alancivita commented on #4703
Following this one.
Same problem here, works in 6.0.0 and not working in 7.0.0 , my project contains submodules as well.

[2019-09-17 08:44] ablecable commented on #3998
I'm working for a municipality in the Netherlands and we also want to use AWX with RHEL 8 and podman.

[2019-09-17 10:39] philippwiesner opened #4761 "AWX 7.0.0 K8S roles cannot be found during template execution"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running a template fails, with error message the role was not found:

`ERROR! the role 'generic_loadbalancer' was not found in /tmp/awx_34_fl2ueiip/project/playbooks/roles:/tmp/awx_34_fl2ueiip/requirements_roles:/tmp/awx_34_fl2ueiip/project/playbooks
The error appears to be in '/tmp/awx_34_fl2ueiip/project/playbooks/generic_loadbalancer.yml': line 10,

[2019-09-17 12:11] AlanCoding commented on #4757
I want to clarify this.

This couldn't be set in the inventory file. We're not using an inventory script. This is an ini-type inventory. You can't template playbook variables in there. Example:

[code]

Will produce the hostvar `"ansible_python_interpreter": "{{ ansible_playbook_python }}"`. Please correct me if your intention is different, but I think what you're saying would involve removing it

[2019-09-17 12:31] tamirshaul commented on #4294
I'm having the same problem on awx 6.1.0.
Running on Openshift, I need to restart pods in my awx cluster frequently because they can't rejoin the cluster themselves.

[2019-09-17 12:46] Nemental opened #4763 "Users - restrict user view"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The current behavior is, that a normal user can see all other users, even those who are not in the same team. For security reasons it would be better to limit the view to team members.

[2019-09-17 13:46] Lokks opened #4764 "AWX Docker-Compose installation failed with Configuration error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
command
`ansible-playbook -i inventory install.yml`
failed with error:
[code]
inventory is localhost

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.5
* docker-compose version: 1.24.1
* Operating System:  Debian GNU/Linux 9.4 (stretch)

##### STEPS TO REPRODUCE

git clone https://github.com/ansible/

[2019-09-17 14:20] AlexSCorey commented on #4428
These strings are marked for translation and will be translated by when that time comes.  That process is started by @shanemcd

[2019-09-17 14:20] #4428 closed, assigned to AlexSCorey

[2019-09-17 14:34] mabashian commented on #4349
@naren-ambati

Are you sure that you're hitting the `SELECT` button after you select a credential for each node?  If you don't hit `SELECT` after editing each node then your changes will not be applied.

I'm going to create a separate issue for your feature request as tracking feature requests and bugs in the same issue won't be productive.

[2019-09-17 14:36] mabashian commented on #4349
@naren-ambati actually I see that you commented on https://github.com/ansible/awx/issues/1731.  Let's track credential prompting in that issue.

[2019-09-17 14:42] mabashian opened #4765 "Apply role display changes to ui_next"
##### ISSUE TYPE
 - Task

##### SUMMARY
Apply https://github.com/ansible/awx/pull/4529 to ui_next

This issue exists so we don't forget to make this change.

[2019-09-17 15:07] AlexSCorey opened #4766 "ToolBar Check Box Not Checking"
##### ISSUE TYPE
AWX-PF Bug
##### SUMMARY
The tool bar check box, that is used to check all items in a list, does not get checked when the user clicks on it.  The user is also unable to click the box again to uncheck all the boxes in the list.
##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker for mac
* Ansible version:  2.10
* Operating System: Mojave
* Web Browser: Chrome

#####

[2019-09-17 17:04] sumkincpp commented on #4761
Same here with AWX 7.0.0

[2019-09-17 17:26] sumkincpp commented on #4761
Related to #4675

[2019-09-17 17:41] sumkincpp commented on #4675
As a possible workaround, moving all project roles  to `requirements_roles` doesn't help either.

Are `requirements_roles` require some specific role structure, i.e. like for ansible-galaxy?

[2019-09-17 17:42] dsesami opened #4768 "Freeform field in playbook dropdown doesn't filter at all."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The freeform field in the playbooks dropdown (in the job template form) should do some basic filtering. It is no longer doing that basic filtering (like typing the beginning of a phrase, and all the playbooks with that phrase appearing).

Labeling this as medium because the main point of the field is to allow the user to type playbooks that might not e

[2019-09-17 18:50] rebeccahhh commented on #3124
@kylecurtis-od that PR merged yesterday covers this and it should be good to go :smiley:

[2019-09-17 19:09] kdelee commented on #3124
Works for me, thanks!

[2019-09-17 19:14] AlexSCorey commented on #4613
The other issue that I came across with PF Multiselect is that not only did they not have simply chips, but I was also unable to style the chips that component generates to match our existing chips.

[2019-09-17 19:17] AlexSCorey commented on #4246
@trahman73 Got any ideas on the UX for this?

[2019-09-17 20:08] jborean93 commented on #4757
It can be set in an ini inventory file, I also thought it wasn't possible but it can be done

[code]

The key is you don't quote or add a space before/after (I've amended my example) the braces but it definitely works.

[2019-09-17 20:14] appuk commented on #4554
Management Jobs are shown in 3 columns, hence closing the issue
![Screen Shot 2019-09-17 at 4 13 23 PM](https://user-images.githubusercontent.com/11617351/65076061-2c9eb180-d966-11e9-80d7-538580c4da8a.png)

[2019-09-17 20:14] #4554 closed, assigned to mabashian

[2019-09-17 20:19] AlanCoding commented on #4757
That's some impressive debugging. But would that work correctly for this magic variable?

[code]

That shows

[code]

It does template if used in a task like that, but it's not immediately obvious to me that it would be templated at the right time in the Ansible execution order.

[2019-09-17 20:30] jborean93 commented on #4757
Well let's test it then :)

[code]

[code]

So it works and I've testing this for 2.7+ so it's been in Ansible for a while.

[2019-09-17 20:35] kdelee opened #4771 "CLI: Sometimes characters in monitoring stdout get transformed in incorrect ways"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

In certain environments using `monitor` for watching sdtout of adhoc commands leads to characters getting transformed.

##### STEPS TO REPRODUCE

Still unclear on this, have one environment in particular that reproduces it (but not sure how it is different than my local setup)

##### EXPECTED RESULTS

When comparing stdout from `api/v2/ad_hoc_commands

[2019-09-17 20:53] #3124 closed, assigned to rebeccahhh, kdelee

[2019-09-17 21:13] RedPlumpTomato commented on #286
I'd sell my soul to see this feature implemented!!!!

[2019-09-17 21:17] rebeccahhh commented on #4452
Correct template [link](https://github.com/network-automation/tower_workshop/blob/master/network_setup/templates/backup.j2)

[2019-09-17 22:20] rebeccahhh commented on #4452
When posting the API I seem to be getting the same issue as the UI has in #4192 and #4343
The `/n` in the given example is being ignored and when checking in the UI there is only 1 option, the string `"test\ntest2\ntest3"`
update: as stated in the issue linked above, this is intermittent and does not persist.

[2019-09-18 06:24] nakacya opened #4772 "AWX docker image builds failing for awx/devel python3 setup.py sdist"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

AWX docker image build failing off of awx/devel branch with error:
Error: python3 setup.py sdist
Traceback (most recent call last):
File "setup.py", line 9, in <module>
    from setuptools import setup
ImportError: No module named 'setuptools'

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Ope

[2019-09-18 09:06] MrAlci commented on #2240
We have the same issue as well. Is there some workaround?

We can't order the hosts in our playbook with the "order" module . It will be nice if AWX order the hosts on creating time. Ordering from the first host until the last host that has been created on the AWX Web interface.

We are bypassing this sorting methode with the sort filter that we apply on the variable: groups['{{ awx_hostname }}']

[2019-09-18 09:15] ssbarnea commented on #3956
I am facing the same confusing error in a totally unrelated place. This bug is caused by https://github.com/docker/compose/issues/6899 which prevents API users (like ansible module) from getting the real error that caused the failure.

Based on previous experience it will take a lot ok poking to make Docker fix this bug, but the sooner we start the faster we are likely to address it.

[2019-09-18 11:25] ryan012880 commented on #4772
Also not working on the following environment: (was able to build on earlier commits of 7.0.0 but now it is failing)

[code]
Logs:

[code]

[2019-09-18 12:42] itdependsnetworks commented on #1407
I see this working as expected now, and reflected in the tower documentation.

[2019-09-18 12:42] #1407 closed, assigned to nobody

[2019-09-18 15:12] wenottingham commented on #4763
What data is available in seeing other organization members that needs hidden?

[2019-09-18 15:23] appuk commented on #4432
On clicking the revert link, the page saves normally and does not  freeze in a working state. Hence, closing the issue.
![ezgif-3-9ba9da3af148](https://user-images.githubusercontent.com/11617351/65162074-b1410c80-da06-11e9-9de5-bed6a7571329.gif)

[2019-09-18 15:23] #4432 closed, assigned to AlexSCorey

[2019-09-18 15:43] rebeccahhh commented on #4192
Per discussion with @AlexSCorey I'm adding my own two cents.
In addition to the existing bug (not being able to enter/newline in the UI) I seem to be having the newline issue in the API page post as well.
When posting something along the lines of `{"choices": "test\ntest2\ntest3"}` (along with other required/associated JSON variables) on the API page and then returning to the UI, the \n is ignored

[2019-09-18 15:53] nakacya commented on #4759
I didn't understand it well, but I had two problems.

psycopg2 / ?????. so can't find libpq.so.rh-postgresql10-5
pg_config is missing (rh-postgresql10-postgresql-devel is not installed)

[code]

[2019-09-18 16:16] nakacya opened #4775 "Use HTTPS config typo?"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
nginx's HTTPS configuration seems to have Typo?

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux

##### STEPS TO REPRODUCE

Added the following contents to the inventory file
ssl_certificate
ssl_certificate_key

And
ansible-playbook -i inventory install.yml

##### EXPECTED RESULTS

https access is possible

##### ACTUAL RES

[2019-09-18 16:35] nakacya commented on #4772
For the time being, it was as follows. build passed.
Is it right?
change at inventory

[code]

[2019-09-18 16:37] naren-ambati commented on #4349
@mabashian Yes I'm hitting **_select_** for each node. But workflow is saving only for one node. As for me, I resolved this issue in my own way. But, people who are using different credentials for each node will be still facing this issue.

[2019-09-18 16:47] konkolorado commented on #3956
Just ran into this.  I had to remove and deploy from scratch. Why this happens originally, I don't know.
- Stop all AWX containers
`docker stop awx_web awx_task awx_postgres awx_memcached awx_rabbitmq`
- Delete all AWX containers
`docker rm awx_web awx_task awx_postgres awx_memcached awx_rabbitmq`
- Remove the awxcompose directory
`rm -rf /tmp/awxcompose`
- Run the installer
`ansible-playbook -i i

[2019-09-18 17:49] bhundven commented on #4759
The proper way would be to use centos alternatives:
https://blogs.igalia.com/dpino/2011/10/13/configuring-different-jdks-with-alternatives/

[2019-09-18 17:59] mabashian commented on #3924
@okelet @sdktr @AdamMorris23 @Klaas- I've got #4776 in the works to address this issue

[2019-09-18 18:30] bhundven commented on #4759
also, @nakacya , rh-postgresql10-postgresql-devel is installed here already:
https://github.com/ansible/awx/blob/devel/installer/roles/image_build/templates/Dockerfile.j2#L43

[2019-09-18 19:08] kdelee opened #4778 "When approval node is deleted, viewing the completed job shows APPROVED and DELETED superimposed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Viewing a workfow job after an approval node that was in it has been deleted causes states to be superimposed.

##### STEPS TO REPRODUCE

Create a WF with approval node, run it and approve or deny it.
Then delete the approval node and/or workflow
Then look at details of the WF job you ran.

##### EXPECTED RESULTS

Legible UI

##### ACTUAL RESULTS

![S

[2019-09-18 19:52] dsesami commented on #4108
seems that this is related to the fix for indirect access permissions, so I tried out the scenario here. I tried giving the org admin user both read and execute permissions; it displays correctly depending on the level i assign it, and has a tooltip explaining why -- also, removing admin powers moves it to team permissions, if they exist. Marking as closed as this seems correct.

[2019-09-18 19:52] #4108 closed, assigned to dsesami

[2019-09-18 20:50] andrewm659 opened #4780 "AWX 7.0.0 docker image builds failing for using remote postgresql awx/devel"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am trying to build AWX in docker images using a remote postgre SQL server with a awx database already in place from 6.1.0

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker
* Ansible version:  2.8.5
* Operating System: CentOS 7.7.1908
* Web Browser: Firefox and Vivaldi

##### STEPS TO REPRODUCE

Built the inventory the exact same wa

[2019-09-18 23:59] andrewm659 commented on #4780
However I did try this again on centos 7.6 and it worked.

[2019-09-19 07:54] nakacya commented on #4775
I'm sorry, I was able to write this way.
I did not know
[code]

[2019-09-19 07:54] #4775 closed, assigned to nobody

[2019-09-19 08:05] Nemental commented on #4763
Either you lock the user view for all, except admins, or you should only see the users who are in the same team or organization.

[2019-09-19 08:43] garnser opened #4781 "workflow_job_template_nodes POST authentication issuees"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When trying to POST to workflow_job_template_nodes using basic auth and/or token-auth AWX replies with 401 failure.

`awx_web      | 2019-09-19 08:40:32,754 WARNING  awx.api.generics status 401 received by user AnonymousUser attempting to access /api/v2/workflow_job_template_nodes/ from XXX.XXX.XXX.XXX
awx_web      | 2019-09-19 08:40:32,780 WARNING  dj

[2019-09-19 11:07] ryan012880 commented on #4772
@nakacya thanks, that fixed the issue for me.

Encountered some issues after that which were fixed by installing python3 on the docker host and fix mentioned here: https://github.com/ansible/awx/issues/4759

[2019-09-19 13:31] muayyad-alsadi commented on #1182
we can have an editable field called "prompt tags" that defaults to "ansible-playbook --list-tags"
which is used to offer autocomplete for job tags and skip tags.

that's why I suggest making it a human editable field, only calling "ansible-playbook --list-tags" when user clicks some refresh/populate button.

I guess it can be implemented in two phases, one is to have it human only, then make it u

[2019-09-19 14:42] dsesami commented on #3924
Opened up a session in a few different browser types (chrome, ff, edge) on windows. Looks like it functions correctly now.

[2019-09-19 14:42] #3924 closed, assigned to mabashian, dsesami

[2019-09-19 14:54] andrewm659 commented on #4780
I don't think this is 100% and awx issue but maybe a python module version.  I reinstalled CentOS 7.6.1810 and made sure it stayed on that version.  I then installed Ansible 2.8.4 and built the docker images.

[2019-09-19 14:59] shanemcd commented on #4750
I just hit this and the answer is yes from me.

[2019-09-19 15:35] kdelee commented on #4461
Tried out again with https://github.com/ansible/awx/issues/4461#issuecomment-521375966 , still works for me, still seeing the more reasonable delay. Going to close. Thanks!

[2019-09-19 15:35] #4461 closed, assigned to ryanpetrello, kdelee

[2019-09-19 15:42] aretakisv commented on #4750
Busy days.
I have a roles/requirements.yml and also the error comes only if you run an inventory sync manually.

If the inventory sync is triggered by the Project update it seems to work.

[2019-09-19 15:51] kdelee commented on #4708
is https://github.com/ansible/awx/pull/4717 meant to also go in for this issue? or you wanting to punt on that for now and just test this as is?

[2019-09-19 15:52] wenottingham commented on #4763
Still not clear to me - what is the *use* of not being able to see the users? What's being exposed that you're worried about?

[2019-09-19 16:13] dmaple-gci commented on #4772
I found it was installing and using python-3.4, but installing python36-setuptools.  I made this change and it it builds the image fine now:

[code]

[2019-09-19 16:46] jlmitch5 opened #4785 "changing key in search key dropdown causes it to no longer be a dropdown"
On the jobs list if you change the key selector on the left of the search bar from finished to name, it will cease to be a dropdown.

[2019-09-19 17:01] kdelee commented on #4129
Works for me!

[2019-09-19 17:01] #4129 closed, assigned to ryanpetrello

[2019-09-19 17:31] refriedjello opened #4786 "Unable to install AWX using internally signed SSL certificate - ChromeDriver fails"
##### ISSUE TYPE
Cannot build AWX image with internally signed SSL certificate.

##### SUMMARY
Installing without HTTPS support works fine. Specifying which certificate to use via the 'ssl_certificate' option causes image build to fail.

The certificate I am using is a combined cert/key in PEM format. I added my CA's cert to the local keystore, updated with 'update-ca-trust extract' and confirmed

[2019-09-19 17:32] refriedjello commented on #4786
Here is full build output:

[code]

[2019-09-19 17:37] kdelee commented on #4545
I have confirmed that when setting up external logging (I used loggly), and sending `job_events`, that ad_hoc commands end up showing up in external logger.

![Screenshot from 2019-09-19 13-35-53](https://user-images.githubusercontent.com/29239279/65267242-9fcd3280-dae2-11e9-9fe2-f61ba4ef3345.png)

[2019-09-19 17:37] #4545 closed, assigned to ryanpetrello, kdelee

[2019-09-19 18:03] Nemental commented on #4763
If you give an external user access they can see  all names and mail addresses. That’s not so good for privacy.

[2019-09-19 18:45] ghjm commented on #4786
You should not be appending the CA file to the server certificate like this.  The private CA root cert needs to be installed on the device making the trust decision, i.e., the browser client.

[2019-09-19 18:52] refriedjello commented on #4786
The CA certificate file is separate. I am combining the certificate and key for the server via this command:

cat /etc/ssl/certs/server.crt /etc/ssl/certs/server.key > /etc/ssl/certs/server.pem

I then update my inventory file to use:

ssl_certificate=/etc/ssl/certs/server.pem
ca_trust_dir=/etc/pki/ca-trust/source/anchors

Then I am copying the CA certificate to this path:

/etc/pki/ca-trust/sourc

[2019-09-19 18:56] ghjm commented on #4786
Please run `openssl x509 -in ca.crt -noout -text` (where ca.crt is whatever your CA certificate is called) and post the results here (redacted as you see fit).

[2019-09-19 19:02] refriedjello commented on #4786
$ openssl x509 -in /etc/pki/ca-trust/source/anchors/ca.crt -noout -text

[code]

[2019-09-19 19:20] wenottingham opened #4788 "instance group display wordwraps when it shouldn't"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When zoomed in / restricted in width, the Instance Group display starts breaking text before it needs to.

Example:
![squash](https://user-images.githubusercontent.com/5208768/65274258-e7f35180-daf0-11e9-90b1-6293a58f74ff.png)

##### ENVIRONMENT
* AWX version: current

##### STEPS TO REPRODUCE

Create a OCP/K8S instance group.

Zoom in.

[2019-09-19 20:52] refriedjello commented on #4786
I moved past that issue. It was due to improper SSL inspection on the upstream firewall. Looking deeper into the logs showed that fetching chromedriver from the Internet was failing. This was manually confirmed via wget from the local host as well as inside the container. Once SSL inspection was fixed on the firewall, I no longer receive that error. I guess running without HTTPS doesn't require ch

[2019-09-19 20:59] ghjm commented on #4786
Can you run `python -c 'import setuptools'` successfully?

Closing issue since the original problem is resolved.

[2019-09-19 20:59] #4786 closed, assigned to nobody

[2019-09-19 22:10] refriedjello opened #4790 "Cannot build AWX: Error: No module named 'setuptools"
##### ISSUE TYPE
Local AWX build failure.

##### SUMMARY
Cannot build a local AWX image, so that HTTPS support can be enabled. I can use the build image based on the remote repo/whatever, just not a local image.

ENVIRONMENT
AWX version: 7.0.0
AWX install method: docker on linux
Ansible version: 2.8.4
Operating System: CentOS 7.6
Web Browser: chrome

##### STEPS TO REPRODUCE

Edit inventory file t

[2019-09-19 22:20] refriedjello commented on #4790
Here is full play output:

[code]

[2019-09-20 01:52] nakacya commented on #4772
Thank you for information!

I tried to follow your corrections and it started working correctly.
It may have been pulled req and just waited for merge.

[2019-09-20 01:53] nakacya commented on #4790
This seems to be the same problem as #4772

[2019-09-20 02:30] omgjlk opened #4791 "Error trying to create Machine credential with prompted password field and HashiCorp Vault KV backed private key"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm trying to set up a Machine credential. For SSH Private Key I'm sourcing it from an already configured HashiCorp Vault KV credential. I want the user to provide the passphrase at template launch so I check the box. When I do this I get an error stating that `cannot be set unless "SSH Private Key" is set`.

I suspect this is just a by-product of a cr

[2019-09-20 02:43] omgjlk commented on #4791
I just tested again, this time typing in a passphrase to the passphrase box and the same error comes up. It appears that I will not be able to put any data in this box while sourcing the private key from a HashiCorp Machine credential.

[2019-09-20 03:48] nakacya commented on #4759
I confirmed that there is no problem without installing the second `rh-postgresql10-postgresql-devel`.

[2019-09-20 08:26] ciinema commented on #2350
+1

[2019-09-20 12:39] krissaine commented on #4746
Hello,

after looking closely at the error, i noticed that the file trying to be parsed did not contain an extension.  After further troubleshooting and testing.

We added additional hosts to the inventory assigned to the template in AWX and noticed that the output that was trying to be parsed also had the additional hosts.  My assumption is that the temp file that is trying to be parsed is the in

[2019-09-20 12:39] #4746 closed, assigned to nobody

[2019-09-20 15:32] #4790 closed, assigned to nobody

[2019-09-20 15:32] refriedjello commented on #4790
Duplicate of https://github.com/ansible/awx/issues/4772

[2019-09-20 15:45] jakemcdermott commented on #4231
unassigning this and moving this out of in progress for now to reflect reality.

[2019-09-20 16:04] dsesami opened #4793 "Job slicing count changes to 21 under some conditions"
##### ISSUE TYPE
 - Bug Report

Currently unable to recreate, however, opening this for documentation purposes. If no one else sees it, we can close it as unreproducible.

##### SUMMARY
Witnessed this under a new AWX instance, still trying to see if I can get a recreate. Saw this on the branch for the [webhooks feature](https://github.com/ansible/awx/pull/4436).
1. Create a Job template, enabled w

[2019-09-20 16:07] refriedjello commented on #4772
@dmaple-gci Those changes worked for me as well, helping me to get further in the local build process.

[2019-09-20 16:21] refriedjello commented on #4759
~~@nakacya Adding those first two lines resolved this issue for me. Thanks!~~

That resulted in the build succeeding, but the awx_web container wouldn't serve web pages.

Adding these two lines as described above resulted in a functioning container for me, that permits login to the UI.

[code]

[2019-09-20 17:29] awithrow9 commented on #4761
@AlanCoding can you take a look at this one?

[2019-09-20 17:50] AlanCoding commented on #4675
That folder is not inside the project folder (adjacent to it), so I can't imagine any practical means of the user putting content in it.

[2019-09-20 17:56] AlanCoding commented on #4761
What means are you using to install roles? I can't find this role on public Ansible Galaxy. Is it checked into your source control, and if so, where? Do you have anything in your project's root-level `ansible.cfg` that is relevant?

[2019-09-20 17:56] kdelee commented on #3646
Tested out with a variety of different URIs, I'm happy with the unit test coverage that was added. Thanks!

[2019-09-20 17:56] #3646 closed, assigned to fosterseth, kdelee

[2019-09-20 18:47] #4705 closed, assigned to AlexSCorey

[2019-09-20 19:14] wenottingham commented on #3819
Were survey passwords provided by a different user for that survey run?

[2019-09-20 19:30] wenottingham commented on #4664
see https://github.com/ansible/awx/pull/4796

[2019-09-20 20:00] wenottingham opened #4797 "copying a credential with lookup sources ignores the lookups"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. create a credential
2. use the lookup feature to populate assorted fields (username, password, ssh key, whatever)
3. save
4. copy the cred

All the fields that are lookups from a credential vault are blank (no configuration or value) in the copied credential.

##### ENVIRONMENT
* AWX version: since whenever cred lookups were added

[2019-09-20 20:03] wenottingham commented on #4791
Yeah, the validator checks that there's an SSH key if you try and set a passphrase, and since it's a lookup, there's not a ssh key stored in the API yet.

[2019-09-20 20:20] wenottingham commented on #4791
Feel free to give https://github.com/ansible/awx/pull/4798 a try.

[2019-09-21 15:37] ryanpetrello commented on #4708
@kdelee nope, #4717 isn't going in in the near future.

[2019-09-21 15:55] AlexanderStohr opened #4799 "improvements proposals for job details view in Ansible Tower web interface"
improvement proposals for Ansible Tower job details view:

1. change the text in the search box from "[...] still running" to "[...] running"
2. change the text top right of "extra variables" box from "EXPAND" to the same maximize icon as on the right frame. (this unifies the controls of the web UI)
3. add a "raw data download" button for the logged texts

[2019-09-22 03:36] dvntstph commented on #4642
@ryanpetrello sorry took so long to test.

Tore down all my AWX containers, did a git pull on https://github.com/ansible/awx and reran the installer. Now running  AWX 7.0.0.0 but sadly the same problem still exists.

[2019-09-22 05:00] Sreenadh8 opened #4800 "Enable awx connectivity with cloud secrete engines/authentication credentials for AWS/Azure/GCP through 'HashiCorp Vault'..."
##### ISSUE TYPE
environment background
ansible version: 2.8.4
awx version : 7.0 with external postgres rds
secrete management tool : Hashicorp Vault

We have HashiCorp Vault that provides SSH Signed key for Linux machines which is integrated and works fine in AWX too... however, in the same way, we would like to see Cloud Authentication credentials also to be generated from cloud secrete engines

[2019-09-22 18:06] svrraja commented on #4759
Build was success but still unable to login, error as below
Internal Server Error

[2019-09-23 11:05] Ugly-Wan opened #4801 "Host variables not passing to play"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am using the AWX to deploy docker containers, and since we upgraded to 6.1.0

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: docker
* Ansible version:  2.8.2
* Operating System: RedHat 7
* Web Browser: Firefox 69

##### STEPS TO REPRODUCE

host in inventory with DOCKER_HOST: 'tcp://xxx:yyy' set

Run a play using docker_container.

Outpu

[2019-09-23 12:50] dsesami commented on #4793
If this does not appear again by the time the webhooks feature has merged, I will close as unreproducible.

[2019-09-23 13:34] andrewm659 opened #4802 "LDAP Test when configuring Authentication"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Can we get a button to test LDAP search filters or auth when configuring it within AWX/Tower?  Most of the other applications I have used in the past have it.  (Graylog, Atlassian Suite)

[2019-09-23 13:48] tjyang commented on #4802
@andrewm659
This is a duplicated request of https://github.com/ansible/awx/issues/2209

[2019-09-23 13:51] #4802 closed, assigned to nobody

[2019-09-23 13:51] ryanpetrello commented on #4802
Let's track this request over at #2209.

[2019-09-23 14:23] dsesami commented on #4744
Schedules page works right and fits the magic 12-width scheme. :smile: thanks!

[2019-09-23 14:23] #4744 closed, assigned to dsesami, AlexSCorey

[2019-09-23 14:26] jammcder opened #4805 "dashboard job connection monitoring."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
A customer would like the ability to monitor a job for what system it is currently running on and how long it had been running on that system.  They have run into an issue where one system will not do what its supposed to, then "hang" the playbook for an extended period of time before failing and not hitting the remaining systems in the play.

They a

[2019-09-23 14:33] abdul-jabbar01 commented on #3554
It worked in my case. Thanks a lot 👍

[2019-09-23 14:53] #3778 closed, assigned to Spredzy, rooftopcellist

[2019-09-23 17:54] ryanpetrello commented on #4791
@omgjlk mind giving this a shot?

https://github.com/ansible/awx/pull/4807

[2019-09-23 18:38] wenottingham commented on #4805
This is an interesting idea, but the level of introspection this will take of the returned events to debug what constitutes 'hung' makes it nontrivial.

[2019-09-23 18:44] omgjlk commented on #4791
Yeah, as noted in that PR it appears to work in my environment.

[2019-09-23 19:01] kdelee commented on #4660
Works for me, thanks!

[2019-09-23 19:01] #4660 closed, assigned to AlanCoding

[2019-09-23 19:08] jammcder commented on #4805
I don't necessarily know they want to know what is causing it to hang.

Just the ability to look at the job, and see that's its been sitting on server 60 out of 100, for 20 minutes.

like:
Active JOB #
servername ---------------- time its been working on the server

That would at least show that the job is hung up on a specific server.   They could then look at the server for a reason.

[2019-09-23 19:26] kdelee commented on #4501
Created an instance with no public ip with our GCE account, it was imported without problems and the private IP was set as the a`ansible_ssh_host`

[code]

Works for me! Thanks again @AlanCoding

[2019-09-23 19:26] #4501 closed, assigned to kdelee

[2019-09-23 19:39] Spredzy commented on #4642
@dvntstph Could you provide the output of `$AWX_VENV/bin/pip show boto3` ?

[2019-09-23 20:49] omgjlk opened #4809 "Reducing dynamic inventory update locking"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We're running into a situation, wherein we have an inventory of a few thousand hosts. This inventory is dynamic, there is a source script for the inventory inside of a project. This inventory is configured to overwrite variables and hosts, as our infrastructure can change a lot during the day, and all the variables are delivered through this dynamic

[2019-09-23 21:07] tra7nce opened #4810 "Add a YAML and JSON module to Ansible."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add a YAML and JSON module to Ansible. This is critical to securing OpenShift.

https://github.com/kwoodson/ansible-role-yedit can be used for the module.

[2019-09-23 21:35] omgjlk commented on #4809
As a follow up, I can see that AWX also refuses to update a _project_ when there is a job running that uses a template from that project. That's another source of locking that I'd like to see removed.

[2019-09-23 21:51] badstreff commented on #4675
While not really a good solution, a fix is to add the `roles/` path back into the roles_path at the time it is overwritten. We already expect requirements.yml to be in this directory, why not other roles? In my testing this has worked for me.

[2019-09-24 00:56] sugitk opened #4811 "switch to enable/disable adding inventory script"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

A customer complaints that any custom inventory script can be added free form text script from UI.  This may cause a security issue they say.

Can you add a feature for switching enable/disable to add the custom inventory script or access control for that?

[2019-09-24 01:49] ryanpetrello commented on #4810
Hey @tra7nce,

This issue tracker is for the Ansible AWX project, not Ansible itself.

[2019-09-24 01:49] #4810 closed, assigned to nobody

[2019-09-24 02:00] wenottingham commented on #4811
This is #2657

[2019-09-24 02:00] #4811 closed, assigned to nobody

[2019-09-24 07:19] viavokal opened #4812 "Schedules created by API are set up with an initial start date of ~40 days in the future"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Schedules created by API are set up with an initial start date of ~40 days in the future, in an inconsistent manner.

##### ENVIRONMENT
* AWX version: 2.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.2
* Operating System: Ubuntu 16.04
* Web Browser: Chrome Version 76.0.3809.132 (Official Build) (64-bit)

##### STEPS TO REPRODUCE

[2019-09-24 09:00] dasbiswajit commented on #4654
@wenottingham Can we have a referance page please and can this be prioritise please!! It is very important for EDF Engagement.

[2019-09-24 12:56] wilkis3 opened #4813 "Job stops for no reason and won't continue"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The job exection stops execution for no reason. The job status shows "Running" and you have to cancel the job manually.

##### ENVIRONMENT
* AWX version: 7.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: Ubuntu 18.04.3 LTS
* Web Browser: Firefox

##### STEPS TO REPRODUCE

I or AWX itself starts a playbook to ke

[2019-09-24 14:38] srinathman commented on #4761
I believe I'm having a similar issue after updating to 7.0.0.
I have a "roles/requirements.yml" file with a few roles defined (some internal custom roles and other from ansible-galaxy). But when I try to run a template or a project update I get this:

[code]
I seems that "roles_enabled" always resolves to False even when set to True in the UI/DB:

[code]

[2019-09-24 15:41] abdul-jabbar01 opened #4814 "After SAML Authentication, it redirects to /login"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I've integrated the SML Authentication with AWX. It redirects to my IDP (I get 200 OK). Authenticate it there. And then redirects back to the http://localhost:8052/sso/complete/saml/ (here I get 302 Found) But after this, it redirects to the http://localhost:8052/sso/error/ (And here I get 301 Moved Permanently) and then to http://localhost:8052/#/log

[2019-09-24 16:00] AlexSCorey commented on #4231
Removing myself.  Got other things in progress.

[2019-09-24 16:01] DucretJe opened #4815 "Error in playbook (No action detected)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When playing install.yml, ansible returns an error (No action detected in task in check_vars/tasks/main.yml)

##### ENVIRONMENT
* Commit: 3282caf
* AWX install method: docker on linux Debian 9
* Ansible version:  2.2.1.0
* Operating System: Debian 9.11 (stretch)
* Web Browser: irrelevant

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Instal

[2019-09-24 16:19] DucretJe commented on #4815
I need some rest... Upgrading ansible fixes it.

[2019-09-24 16:19] #4815 closed, assigned to nobody

[2019-09-24 17:01] wenottingham commented on #4812
Please try with a current version of AWX (7.0.0 is latest). 2.0.0 is very old, and many fixes have happened since then.

[2019-09-24 18:16] wenottingham commented on #4654
General API docs are here: https://docs.ansible.com/ansible-tower/latest/html/towerapi/index.html. You can also see references on every page of the browsable API at https://your.awx.host/api/v2/.

Specifically for what you're looking for, for job number 1138, you'll want /api/v2/jobs/1138/job_host_summaries/ - this gives you JSON-formatted data on the host summary for each host.

[2019-09-24 20:37] AlanCoding commented on #3935
I see what you mean, in that the `roles/git-Roles/git-Roles` isn't expected. But we need to do more troubleshooting to figure out where the issue lies, and I highly suspect this is something to do with how `ansible-galaxy` processes the contents from the SCM. My best guess as to how this could be fixable is in Ansible core or in how the targeted repo is structured.

If you're using development ver

[2019-09-24 21:28] #4222 closed, assigned to AlexSCorey

[2019-09-24 21:49] AlexSCorey opened #4817 "Update React, React-Router, and React-Router-Dom"
##### ISSUE TYPE
 - Bug

##### SUMMARY
It can be hard to test components that use react hooks if there are asynchronous state updates within the the component.  When doing such tests enzyme wants you to use `act()` however in our current version of react we can't successfully test async code within `act()` as it isn't supported.  It is supported in React 16.9.0 thus we should update to that at lea

[2019-09-25 08:05] yangyingjie1001 commented on #592
Do you have one now?

[2019-09-25 08:54] RogerSik commented on #4813
Difficult to say it it happens with the upgrade to AWX 7.0.0.0. But the issues appeared shortly after upgrade to 7.0.0.0.

[2019-09-25 09:50] llsousa commented on #4750
I was having the same problem but was trying to upgrade with previous data from Ansible AWX 4.0.0. Can't do. See [FAQ](https://www.ansible.com/products/awx-project/faq) for upgrade. Removing docker volumes, that is, doing an empty installation, fixed the problem.

Not using `requirements.yml`. Hope it helps.

[2019-09-25 13:01] daemenseth commented on #3170
what is the state of this issue.
@mabashian @ryanpetrello  @chrismeyersfsu anyone on the Ansiblefest in Atlanta

[2019-09-25 15:10] AlexanderStohr commented on #1992
I am using "Tower 3.4.2" with "Ansible 2.7.9" - and i am having those issue.

using this YAML prefix fails:
[code]
using this YAML prefix works:
[code]
switching the encoding in the working version towards JSON gives this prefix (this i assumed to be working as well):
[code]

As of now the Tower interpreter seems to insist purely on line-folding (see [YAML 1.2 reference from 2009](https://yaml.org

[2019-09-25 17:37] cb241508 commented on #329
even more than just tags, you should be able to build a survey that allows you to set all the configurable run options from the template like run vs check mode, inventory, credentials, tags, limits, etc.  That's the only way that someone who hasn't actually developed the playbook you're trying to run can use this.

[2019-09-25 20:08] rebeccahhh commented on #4307
@jamesmarshall24 are you hoping this built-in to still prompt the user the way a survey with other answer types would?

[2019-09-26 02:47] tsengeagle opened #4820 "docker image builds failing for using local postgresql"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

I am trying to install awx using local docker compose. it failed when using build container with source code.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker for mac
* Ansible version:  2.8.4
* Operating System:  macOS Mojave 10.14.6
* Web Browser: firefox

##### STEPS TO REPRODUCE

follow install guide, run playbook
`ansible-pla

[2019-09-26 02:51] nakacya commented on #4820
see issue #4759

[2019-09-26 03:13] tsengeagle commented on #4820
I found that this line is causing
`RUN cd /tmp && VENV_BASE="/var/lib/awx/venv" make requirements`
in path `installer/roles/image_build/templates/Dockerfile.j2` line 85

with previous version:
`RUN scl enable rh-postgresql10 """cd /tmp && VENV_BASE="/var/lib/awx/venv" make requirements"""`
will success

[2019-09-26 05:54] shemlik opened #4821 "AWX install fails due to libselinux-python error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm trying to install Ansible AWX on my local environment (RHEL 7 Maipo). But during the install run, it fails with the "libselinux-python" error.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux,
* Ansible version:  2.8.5
* Operating System: RHEL 7.5 (Maipo). Kernel 3.10.0-957.27.2.el7.x86_64
* Web Browser: Chrome Version

[2019-09-26 06:07] nakacya commented on #4820
Hello

The build succeeds.
However, this alone will cause an error when starting awx_web.

[code]

I am working fine with the following fixes.

[code]

[2019-09-26 06:54] tsengeagle commented on #4820
Hello

Thank you for your response.

According to your method, I can execute the system.

Should I close this issue?

[2019-09-26 13:16] #4820 closed, assigned to nobody

[2019-09-26 14:28] AlexanderStohr commented on #1992
clarification:
it works in the Ansible Tower web-GUI as an input.

when using such a sequence in a shell script block with a core command like this:
`echo "my_password={{ my_password }}"`
the result looks like this:
`my_password=!vault | ;1.1;AES256`
Evidently the $ANSIBLE_VAULT part from the raw string gets interpreted as an empty bash shell variable. No decoding of the vault data took place.

[2019-09-26 15:35] Freeze commented on #1335
Is there a good resource to reference to figure out if changes were made to the API between 4.0.0 and 7.0.0+?  Googling for an AWX changelog led me to this issue.  😒

[2019-09-26 16:19] gsakkar commented on #3418
So I am looking for same as of now replicaset to 1 by default if i scale up to minimum 5 will it work for postgrep pod

[2019-09-26 16:21] AlanCoding commented on #4761
^ when you run a job, it should still be able to access the role. Can you confirm if it does / does not?

[2019-09-26 16:41] srinathman commented on #4761
It does not, it fails when trying to process the roles.

* For now I reverted back to 6.1.0.

[2019-09-26 16:55] wenottingham commented on #4821
You installed the python2 selinux bindings, and told it to use python3 instead. That will throw that error.

The other errors you post look like a misconfigured local environment as well. This does not look like an AWX issue, and is best discussed on the mailing list or IRC channel.

[2019-09-26 16:55] #4821 closed, assigned to nobody

[2019-09-26 17:50] AlanCoding commented on #4761
Could you help give me any more information about what is different between your case and the following test case?

 - playbook: https://github.com/ansible/test-playbooks/blob/with_requirements/use_debug_role.yml
 - requirements: https://github.com/ansible/test-playbooks/blob/with_collection_requirements/collections/requirements.yml

The function is that the role runs before a confirmation task, a

[2019-09-26 18:13] ryanpetrello commented on #4781
@awithrow9 I suspect this _could_ be related to the recent approval pause node feature work, and would like somebody to take a closer look just to be sure.

[2019-09-26 18:13] ryanpetrello commented on #4781
cc @appuk @beeankha once you wrap up https://github.com/ansible/awx/pull/4657

[2019-09-26 18:29] srinathman commented on #4761
It seems that the main difference is that I have `roles/requirements.yml` and not `collections/requirements.yml`

[2019-09-26 18:33] rebeccahhh commented on #4540
This looks good, we're going to do some testing on our end to make sure everythings squared away before we merge. :smiley:

[2019-09-26 18:38] AlanCoding commented on #4761
Oh I'm so sorry, I linked the wrong thing.

 - playbook: https://github.com/ansible/test-playbooks/blob/with_requirements/use_debug_role.yml
 - requirements: https://github.com/ansible/test-playbooks/blob/with_requirements/roles/requirements.yml

[2019-09-26 20:56] ryanpetrello commented on #3170
@daemenseth this is a pretty complicated one to diagnose - I don't think anybody has had available time to really dig into it yet.

[2019-09-26 20:58] ryanpetrello commented on #4813
@wilkis3 @RogerSik have you tried another version of Ansible itself (we *do* regularly update the default Ansible version in new AWX releases)?  The symptoms described here don't sound related to AWX _to me_, but rather Ansible (at least, the verbose output above looks like the hanging is happening in the SSH connection).

[2019-09-26 21:03] ryanpetrello commented on #4813
Also, if you're seeing playbooks that run, complete some number of tasks, and then just **hang** halfway through - assuming you still see an `ansible-playbook` process running on the underlying host* - this strongly suggests to me that what you're encountering is a problem with Ansible itself, not AWX.

[2019-09-26 21:28] Freeze opened #4826 "Multiple vault credentials no longer allowed on a template?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
As of 7.0.0 we are no longer able to assign multiple vault credentials to a template.  This is a breaking change that will not allow us to upgrade AWX.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: RHEL 7.6
* Web Browser: Safari, Chrome, Fir

[2019-09-27 04:08] ryanpetrello commented on #4826
@Freeze,

You *can* assign multiple Vault credentials to a Job Template, but they must specify **different** Vault identifiers (AWX has behaved this since we introduced support for multiple vault credentials a few years ago):

![Kapture 2019-09-27 at 0 05 32](https://user-images.githubusercontent.com/214912/65741660-e3afd100-e0ba-11e9-9e31-4d5d2c14b5bf.gif)

[code]

https://github.com/ansible/awx/

[2019-09-27 04:08] #4826 closed, assigned to nobody

[2019-09-27 05:01] ryanpetrello commented on #4294
Would you all mind giving this PR a try?

https://github.com/ansible/awx/pull/4828/

[2019-09-27 07:00] shemlik commented on #4821
I already mentioned that I tried to use both Python2 and Python3 and their specific results. I was not able to run the installer in both cases.

While I can understand that this might be an environmental issue, unless it is found what that issue is, it doesn't feel right to ignore the issue and close it. Do you have any suggestions on what could be the environment issue. I have already put in all

[2019-09-27 07:51] AlexanderStohr opened #4830 "vault data syntax not accepted/honored in web gui"
there was an issue but its closed.
i added two comments on it indicating that there might be insufficient justification for this state.
https://github.com/ansible/awx/issues/1992

any thoughts? maybe i am missing something in this respect - can it be the tools version i am using? but i dont think so for now.

[2019-09-27 08:50] AlexanderStohr opened #4831 "templates change dialog states "Credential" instead of plural"
the interface should state "Credentials" as it is possible to select a multitude of credentials.

Checking for a few types:
* Machine -> single selection
* Network -> single selection
* Vault -> multiple selections

As its possible to have at least one of each type (and for Vault even multiple), there is definitely the option to have a multitude of credentials. - My current test setup shows right

[2019-09-27 09:41] 4815162342lost opened #4832 "[Question] How to extract inventory list from AWX?"
How to extract inventory list from AWX?

Hello, we are using AWX version 4.0.0.0 on Kubernetes.  We want to refuse from AWX and use common Ansible from command line (ansible-playbook). Or maybe migrate to AWX with docker-compose later.

How can we extract inventory list from AWX with all custom vars?

I entered to docker container and what i should enter to console? I have found awx-manage utility

[2019-09-27 09:43] AlexanderStohr commented on #1992
maybe this one is explaining a bit:
https://github.com/ansible/ansible/issues/45922

"So, my issue here is that Ansible does not attempt to decrypt vars_secret_funky, and just returns it as-is.

This is the root cause of behavior reported in ansible/awx#223 (comment). While this issue could be addressed on the AWX side, we would prefer not to. The solution would be more simple if done here."

to m

[2019-09-27 09:50] AlexanderStohr commented on #1992
There is a somewhat different explanation elsewhere: https://github.com/ansible/awx/pull/2297

"We don't support the !vault constructor in extra_vars. That would be fine, but we also pass extra_vars to Ansible as YAML. This is so that we can mark things as !unsafe. It was this sin we committed that left users with no option to put vaulted content in extra_vars. If we're doing such highly custom YA

[2019-09-27 09:51] RogerSik commented on #4813
@ryanpetrello when using the AWX Docker Image, where we can change the Ansible Version?

[2019-09-27 09:57] blindrood commented on #4832
https://adam.younglogic.com/2018/08/ansible-tower-inventory-cli/

[2019-09-27 11:38] AlexanderStohr opened #4833 "when format of extra variables will switch to YAML all the time"
when in templates editor view i am editing "EXTRA VARIABLES" in JSON format and saving it i will always end up in anything being displayed in YAML format.

side note:
JSON was selected because i am trying to use ansible vault.
as found out from other bug reports ansible vault syntax will not work with YAML formatted items.
and further (to my understanding) it got told that there is no 100% exact f

[2019-09-27 12:04] RogerSik commented on #4813
Found the issue. Thanks to /var/syslog in the machines (which was many times another machine) it was visible that gather_timeout was running in 10 second timeout.

Setting
`gather_timeout: 30`

solved it.

[2019-09-27 12:11] ryanpetrello commented on #4294
At its core, this issue can be condensed down to a very simple reproduction:

1.  Install single-node AWX (any deployment method).
2. Once everything is running, delete the `Instance` from the database (`Instance.objects.first().delete()`).
3.  Observe tracebacks like this one forever:

[code]

The *practical* scenario where you'll see this (as described in this issue) is in a k8s/OpenShift deploy

[2019-09-27 12:20] ryanpetrello commented on #3959
If anyone is still encountering this issue, I suspect this might be the underlying cause:

https://github.com/ansible/awx/issues/4294#issuecomment-535912978

[2019-09-27 12:20] ryanpetrello commented on #2482
If anyone is still encountering this issue, I suspect this might be the underlying cause:

https://github.com/ansible/awx/issues/4294#issuecomment-535912978

[2019-09-27 12:20] ryanpetrello commented on #2482
Duplicate of https://github.com/ansible/awx/issues/4294

[2019-09-27 12:20] #2482 closed, assigned to matburt

[2019-09-27 12:21] ryanpetrello commented on #3959
Duplicate of https://github.com/ansible/awx/issues/4294

[2019-09-27 12:36] msilmser opened #4834 "RFE: Schedule jobs for time ranges"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Be able to schedule jobs to run only for a certain time range. For example:

Run JobA every 30 minutes between 9 AM to 5 PM EST, Monday through Friday.

Potential workaround is to schedule a Tower job to enable/disable the schedule at the desired times.

[2019-09-27 12:40] RogerSik commented on #4813
Revert it back. It was random completed succesfully. After starting it again multiple times it appears again.

[2019-09-27 12:41] ryanpetrello commented on #4832
Hey @4815162342lost,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-09-27 12:41] #4832 closed, assigned to nobody

[2019-09-27 12:43] AlanCoding commented on #4833
I'm confused by that takeaway. In principle, Ansible has developed a standard for representing their custom types (unsafe, vault) in a way which is convertible between YAML and JSON. That has not been fully adopted in AWX. Adoption involves customization of both python (backend) and frontend libraries.

But the issue here seems mostly unrelated and I believe is UI.

[2019-09-27 12:45] grahamneville commented on #4294
Thanks for fixing this @ryanpetrello, we've been running in to this a lot on our kubernetes cluster.
Any chance of baking and publishing a new awx image once your PR gets merged please?

[2019-09-27 12:47] ryanpetrello commented on #4294
👋 @grahamneville thank @byumov, he figured out what was up and contributed the fix.

We have a few features landing in AWX soon, and we intend to cut a new release at some point after that (which will include this fix).

[2019-09-27 13:09] RogerSik commented on #4813
The issue was now (after testing it multiple times) in the apt: module when using update_cache: true.
After removing them (they were also unnecessaryin our playbooks) it works now after testing it multiple times.  I think its a problem with the current AWX / Ansible version.

I can also recreate the hanging job always when I use update_cache: true

Where would it best to report this?

[2019-09-27 13:11] ryanpetrello commented on #4813
@RogerSik what you're describing sounds like an issue with Ansible to me (not AWX).  I can't speak for @wilkis3, so I'll keep this issue open for now in case they're encountering something different.

[2019-09-27 13:17] ryanpetrello commented on #4831
Thanks for reporting this, @AlexanderStohr, it'll be available in the next release of AWX.

[2019-09-27 13:17] #4831 closed, assigned to nobody

[2019-09-27 13:17] SmartassSkeleton commented on #4668
@alancivita
I am facing the same problem, can you please share what did you do in order to fix this?

[2019-09-27 13:23] RogerSik commented on #4813
Someone else also reported this problem in Ansible https://github.com/ansible/ansible/issues/62807 so we will continue there

[2019-09-27 13:31] alancivita commented on #4668
@SmartassSkeleton i've updated python from 3.5 to 3.6 on all the kube nodes (very likely you have to do it only on the worker ones):
so connect to each node and :( i'm using ubuntu):
sudo add-apt-repository ppa:jonathonf/python-3.6
sudo apt-get update
sudo apt-get install python3.6
sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.5 1
sudo update-alternatives --install /

[2019-09-27 13:31] wilkis3 commented on #4813
@ryanpetrello thanks for help.
@RogerSik and I are working in the same company on the same AWX instance.
It looks like an ansible bug.

[2019-09-27 13:31] #4813 closed, assigned to nobody

[2019-09-27 13:33] ryanpetrello commented on #4813
If you'd like to try to identify this as a regression in newer Ansibles (by testing an older version), check out this document for instructions on running custom versions of Ansible in AWX:

https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

[2019-09-27 13:59] sakbhav commented on #4154
I wrote a small inventory script to use netbox as inventory:

https://github.com/sakbhav/netbox-awx

[2019-09-27 14:00] AlexanderStohr commented on #1992
i have now ticked for this work-around (=works for me):

created my needed bunch of vault-encrypted credentials in group_vars/all

**benefit**: one place to manage them all; easily stored in a repository (critical data wont vanish that easily); definitely works as it should (compared to EXTRA VARIABLES location that mainly wastes your time!)
**downside:** not per-job configuration of credentials m

[2019-09-27 16:49] wenottingham commented on #4821
See above - this repo is specifically for tracking bugs, and discussing configuration is best done on the mailing list or IRC channel.

[2019-09-27 16:50] wenottingham commented on #4834
-> #1229

[2019-09-27 16:50] #4834 closed, assigned to nobody

[2019-09-27 17:10] ryanpetrello commented on #4812
@viavokal if you're still encountering this in more recent versions of AWX, let us know and we'll reopen this.  Thanks!

[2019-09-27 17:10] #4812 closed, assigned to nobody

[2019-09-27 17:10] ryanpetrello commented on #4809
cc @AlanCoding

[2019-09-27 17:12] ryanpetrello commented on #4801
@Ugly-Wan this sounds more like an issue w/ an Ansible module or one of its dependencies.  Could you give this a try in a different version of Ansible?

Do you have any more error context you could share?

[2019-09-27 17:16] ryanpetrello commented on #4793
@dsesami did you manage to find a reproducer for this one?

[2019-09-27 17:18] dsesami commented on #4793
@ryanpetrello never ran into it again -- I'll let it be. closing

[2019-09-27 17:18] #4793 closed, assigned to nobody

[2019-09-27 18:20] gamuniz opened #4840 "Remove 'variables' section from inventories/ api endpoint"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

If using the UI to manage top level inventory variables having a large list of variables can cause performance issues across the network. In some cases the calls are generating 7.2 MB worth of data on every job launch prompt.

This data is already provided in the related section and is extraneous on the inventories/ endpoint

[2019-09-27 20:00] srinathman commented on #4761
I put 7.0.0 again in a test env. and it works with the test playbook you provided.
I'll retry it later on this test env. with our playbooks to see what's going on.

[2019-09-27 22:56] rooftopcellist commented on #4759
@nakacya @bhundven @svrraja @refriedjello @geauxvirtual This should be fixed now. Please pull the latest code and let me know if you are still seeing this issue.  The issue was that psycopg2 could not find the `pg_config` because it was not in the path.

Fixed by: https://github.com/ansible/awx/pull/4824

[2019-09-27 22:56] #4759 closed, assigned to nobody

[2019-09-28 01:59] bhundven commented on #4759
@rooftopcellist thanks!

[2019-09-28 19:52] dvntstph commented on #4642
@Spredzy I hope I did this correctly.
Here's the command from both AWX and Ansible environments in the awx_task container.

[code]

[2019-09-28 20:17] AlexanderStohr commented on #4833
i feel like it has to go here because it was observed (and rooted?) in the web GUI.

[2019-09-28 21:04] pra2012 opened #4841 "localhost awx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
TASK [image_build : Verify awx-logos directory exists for official install] **********************************************************************************************************************
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "failed_when_result": true, "stat": {"exists": false}}
        to retry, use: --limit @/awx-6.1.

[2019-09-29 03:34] jdrew82 commented on #4154
I don't see this script working as it appears you never actually populate the devices list. I see you also have a hosts_list variable that I'm assuming is a duplicate variable? I updated script to use that and it appears to be working now outside of the tenants portion crashing it. Works when commented out though. I do see that facts for the hosts don't appear to be populated though. Good start fo

[2019-09-29 06:15] sakbhav commented on #4154
Thanks for reporting @jdrew82 !  It was my bad.  I weeded out some of my organisation specific code to filter out hosts based on specific tags.  I think this could be useful for everyone, so I have added it back.
I have fixed the code and added some additional checks for null values.  Please let me know if its working for you now or not.

[2019-09-29 11:43] #4841 closed, assigned to nobody

[2019-09-29 11:44] ryanpetrello commented on #4841
@pra2012,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-09-29 12:11] RyanW19 opened #4842 "AWX & Bastion Host - Persistent SSH Keys"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - awx_task Container

##### SUMMARY
To connect to some hosts across our environment we require the use of a Bastion host, after installing the SSH public key of awx_task container to the pre-configured bastion hosts all works as expected and we're able to get to the required environments.

After a reboot of the machine (or simply stop/start of

[2019-09-29 21:37] memelet commented on #3956
I see this error if any containers of the same still exists (ie, docker ps -a). Manually removing the containers gets around the "error".

[2019-09-30 07:59] Spreadcat commented on #20
I'd also like to put in my request to get this feature implemented. There are just many situations where external parameter need to be in a survey and the user has not the capacity to know all available values.
As mentioned above I also see this requirement mostly in bigger enterprise setups.
The workaround with the python script by MikeQ123 is a nice workaround though, which at least implements o

[2019-09-30 09:37] Joffrey54 commented on #4842
It's not a bug, it's a normal docker behaviour.
You must edit the docker-compose file and mount a directory to /root/.ssh to persist and manage keys

[2019-09-30 10:21] RyanW19 commented on #4842
@nORKy54 Mind letting me know where the docker-compose file so I can do as suggested. Had a look in ~/awx/tools/docker-compose.yml and couldn't find anything relating to awx_task container.

[2019-09-30 11:03] #4842 closed, assigned to nobody

[2019-09-30 12:57] jdrew82 commented on #4154
Much better now! I'm able to have everything uncommented and it appears to populate more info than before. I've started tweaking it a bit to pull more information from Netbox for Ansible but it's a good start. Very much appreciated!

[2019-09-30 13:01] ryanpetrello commented on #3956
What most of you are encountering here _does_ look to me like a symptom of a bug in `docker-compose` itself: https://github.com/docker/compose/issues/6899

[2019-09-30 13:26] #4616 closed, assigned to AlexSCorey

[2019-09-30 13:26] #4766 closed, assigned to AlexSCorey

[2019-09-30 13:45] sakbhav commented on #4154
Glad to know it worked for you.  Please feel free to raise a Pull Request if you find something worth adding to this script for general usecase.

[2019-09-30 13:51] mrwiora commented on #4703
Same problem here - I've seen there was a merge on Friday from issue #4735 - so I've tested the new current devel state (commit d2a5af44) and the git submodules authentication issue seems to persist.

[2019-09-30 14:30] Spredzy commented on #4642
@dvntstph You did it correctly. The thing is that the commit mentionned above is not part of `7.0.0` but still `devel` at this time. No new release has been done with it. so you would need either to wait on next release or use it from `devel`.

This is what I have when running the same command in a `devel` built from tree image

[code]

I am gonna go ahead and close this ticket. If when upgrading

[2019-09-30 14:30] #4642 closed, assigned to Spredzy

[2019-09-30 14:46] dsesami opened #4846 "Notifications placeholder on WFJT tab looks strange at smaller widths"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If you make a workflow, go to the notifications tab, and view AWX and shrink your screen width, this happens:
![Screenshot from 2019-09-30 10-43-59](https://user-images.githubusercontent.com/19942822/65889494-5517aa00-e36f-11e9-903c-646447dc29a4.png)

##### ENVIRONMENT
* AWX version: latest
* Operating System: Fedora 30
* Web Browser: Chrome

##### STE

[2019-09-30 14:47] dsesami commented on #4523
Attempted to click the WF editor link in all workflow job template tabs -- the link works correctly on all tabs.

[2019-09-30 14:47] #4523 closed, assigned to dsesami, AlexSCorey

[2019-09-30 14:58] dsesami commented on #4446
Created personal tokens and application tokens for the user and attempted to delete them in succession. The page refreshes appropriately with new information upon deletion and no errors come up. :+1:

[2019-09-30 14:58] #4446 closed, assigned to dsesami

[2019-09-30 15:00] ryanpetrello opened #4847 "Support custom notification content for approval notifications"
Now that https://github.com/ansible/awx/issues/1206 and https://github.com/ansible/awx/issues/79 are done, we need some final housekeeping to tie them together.

cc @beeankha @jladdjr