[2020-10-12 18:48] swiedernix commented on #8366
sry ...  I know that AWX has an metrics API ... which we are already consuming using prometheus.

But our last encounters with Redhat support showed that support is clueless about the cluster status, which
is frustrating ....

therefore an dashboard with all vital metrics would enable support to get a real picture of an AWX/Tower cluster.

One could also think of adding some vital metrics  to the

[2020-10-12 18:55] wbieniek commented on #8357
I was abled to used this code below, but this time was not working. End up restarting pods and resubmitting code below and worked as it should.

from awx.main.models import UnifiedJob
for i in UnifiedJob.objects.filter():
    if(i.status == 'pending'):
      i.delete()

[2020-10-12 18:55] #8357 closed, assigned to nobody

[2020-10-12 19:01] wenottingham commented on #7704
It just seems that per-node stats showing up on all nodes is more complex than we'd want to do (and risks showing out of date data)

[2020-10-12 19:02] nixocio commented on #8083
Since https://github.com/ansible/awx/pull/7960 was merged this issue is no longer blocked.

[2020-10-12 19:26] ryanpetrello commented on #7704
Per-node statistics would *probably* be something mostly useful for debugging and supportability; and having it at-a-glance in the API *would* be notably less effort in terms of quickly analyzing and diagnosing problem spots.

[2020-10-12 19:26] ryanpetrello commented on #8366
I work with folks in Red Hat support pretty regularly, and I definitely wouldn't classify them as "clueless" - they're working with the tooling they have (which is something that's constantly evolving, even upstream).  In any event, this is the public issue tracker for the open source AWX project, not Red Hat's product, so I'm not interested in airing grievances here, because it's not the place fo

[2020-10-12 19:39] ryanpetrello commented on #7704
Spitballing implementation-wise, I'd expect this to be *at least* as up-to-date as the current heartbeat and capacity tracking mechanism, which is a periodic background task.  Maybe that's too infrequent, but I wouldn't imagine that the goal here is track *immediate* issues, but rather endemic callback issues that point to an overall throughput issue.

[2020-10-12 19:42] ryanpetrello commented on #8341
Gotcha.  So one of the changes in 15.0.0 is that organizations now have this new endpoint that requires you to configure _where_ content should be pulled from by default e.g.,

[code]

Because we moved this from a global configuration to a per-Org configuration, there's no longer a default global behavior here.  Additionally, it's now possible to run your own on-premise Galaxy-like service for syn

[2020-10-12 19:45] ryanpetrello commented on #8341
Also, I should mention that the latest collection has support for this, and it's easy to get the old behavior out-of-the-box:

https://github.com/ansible/awx/blob/devel/awx_collection/plugins/modules/tower_organization.py#L99-L100

[2020-10-12 19:52] ryanpetrello commented on #8341
@adgerth here's a PR that should help clarify this in the release notes; thanks for pointing it out:

https://github.com/ansible/awx/pull/8376

[2020-10-12 19:52] #8341 closed, assigned to ryanpetrello

[2020-10-12 19:52] mrmibrown opened #8377 "Expose the host facts for smart inventories in the UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is a request to expose the host facts for smart inventories in the UI.

EXPECTED RESULTS
Host facts can be seen in the UI at: TOWER>INVENTORIES>(SMART_INVENTORY_NAME)>HOSTS>FACTS
There is no 'FACTS' page for smart inventory hosts.

ACTUAL RESULTS
Host facts can only be seen in the UI at: TOWER>INVENTORIES>(INVENTORY_NAME)>HOSTS>FACTS

[2020-10-12 20:18] ryanpetrello commented on #6424
Might want to rope in @kdelee or @elyezer on this, as @nixocio now works full-time on AWX's UI.

[2020-10-13 00:17] jmurriste commented on #4764
worked, thanks

[2020-10-13 03:20] KongNan opened #8378 "I cannot search in the drop-down search box of PlayBook."
##### ISSUE TYPE
 -Bug Report

##### SUMMARY
I tried to enter the full name of the PlayBook file, or part of it, or start from the path. But as soon as you start typing, the PlayBook list below the search box disappears immediately, and no matching PlayBook can be found after pressing Enter.

I was worried whether it was a Chinese character problem, so I changed to a project without Chinese charac

[2020-10-13 05:25] ammygill opened #8379 "configurable max scheduled jobs per template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
 I have a one particular template which i want to run for more than the number of max scheduled  jobs and I can't increase the max schduled jobs considering the requierement. Currently my jobs are failing after the max scheduled jobs. So looking forward for a solution to either ignore the  “maximum scheduled jobs” setting for that one particular temp

[2020-10-13 10:08] w7089 opened #8380 "Building AWX CLI Documentation docs not clear"
[Building AWX CLI Documentation ](https://github.com/ansible/awx/blob/devel/INSTALL.md#building-the-cli-documentation ) states:

Where should the commands run? I tried in cloned awx repo and it didn't work.

[2020-10-13 10:50] nicolaibaralmueller opened #8381 "Failed to import the required Python library (PyVmomi)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

vmware_datastore_info throws the following error: "Failed to import the required Python library (PyVmomi)"

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.14

##### STEPS TO REPRODUCE

Previous AWX version did not produce any python errors. Installed AWX 15.0.0 and executed a playbook.

I also did

[2020-10-13 11:06] nicolaibaralmueller commented on #8381
I added the following to the playbook which resolved the issue.

[code]

[2020-10-13 11:06] #8381 closed, assigned to nobody

[2020-10-13 12:43] nixocio commented on #6424
I was using scripts that are part of upgrade tests to populate tower, idea was to populate tower to be able to export data. I remember that I got in call with @ryanpetrello and we were able to run the script over and over again, and get in the described state. Using scripts was the only way to get this state. Whatever I can help, just let me know.

[2020-10-13 13:01] ryanpetrello commented on #5571
@AlanCoding @jladdjr @elyezer @elyezer I've put this into `needs_test`, and we're merging https://github.com/ansible/awx/pull/7090, which fixes **this issue** and _also_ fixes https://github.com/ansible/tower/issues/4576

[2020-10-13 13:05] ryanpetrello commented on #8380
Hey @w7089,

You're right, these docs are a little unclear - I'll update them.

You'll want to run these commands from the same folder as the CLI source code itself.  I tried a moment ago, and it seems to work for me:

https://github.com/ansible/awx/pull/8382

[2020-10-13 13:05] #8380 closed, assigned to nobody

[2020-10-13 13:08] christian-steinmeyer commented on #8310
May I ask whether there is any other way of accessing the information I need for my use case in a notification? If there isn't, would you consider whitelisting any subset of the extra variables fields that would suffice? I understand that you want to avoid problems, but not being able to do this, when in theory everything is "there" really feels like a limitation that could be avoided.

[2020-10-13 14:35] jbradberry commented on #6424
@kdelee @elyezer can you clarify this?  If we are talking about the test scripts, I can easily believe that the object creation is bypassing validation.  If that's the case, this issue should be closed IMO.

[2020-10-13 15:11] tiagodread commented on #7674
Hey @asohh good idea! would you mind opening a new feature request with your idea and adding more details to it so we can discuss it?

PR already merged, closing this.

[2020-10-13 15:11] #7674 closed, assigned to tiagodread

[2020-10-13 15:14] alexseys commented on #8271
Hm, it appears i forgot to hit comment button, last week, my apologies
Issue is not with variables at all, issue is I do not see names of templates  from vmware inventory.
All VMs are there, none of templates are shown!

Thank you.

[2020-10-13 15:17] nixocio commented on #4204
Social auth is listed here now - https://www.patternfly.org/v4/components/login-page/react/#props

[2020-10-13 15:29] dsesami commented on #7887
assigning john and tiago in case handoff is needed

[2020-10-13 15:37] jean-christophe-manciot opened #8383 "[15.0] Error starting project Encountered errors while bringing up the project"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX fails to start awx_redis container.

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method:  docker compose on linux
* Ansible version: 2.10.0
* Operating System: Ubuntu 20.10
* docker-ce: ```5:19.03.13~3-0~ubuntu-focal```

##### STEPS TO REPRODUCE
0.1. Run inside Python3 virtual env
0.2. Install latest ansible, wheel, docker-compose and red

[2020-10-13 18:35] nixocio opened #8385 "Display what social auth provider was used on User Detail"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Display what social auth provider was used. This enhancement was suggested during the code review of https://github.com/ansible/awx/issues/5685.

As per @mabashian suggestion:

[code]

See: https://github.com/ansible/awx/pull/8369#pullrequestreview-507708083

[2020-10-13 18:36] ryanpetrello commented on #8360
This is working now, so I'm gonna close it:

![image](https://user-images.githubusercontent.com/214912/95901513-77ede400-0d61-11eb-8c95-a1abf774f207.png)

[2020-10-13 18:36] #8360 closed, assigned to nobody

[2020-10-13 18:52] wenottingham commented on #8310
The way you'd have to do it right now is have your playbook do something like:

[code]

and then use the `artifacts` object in your notification, and pull `stuff` out of that.

[2020-10-13 18:53] wenottingham commented on #8271
@Goneri @Akasurde is the vmware inventory designed to pull templates, or hosts only?

[2020-10-13 18:55] wenottingham commented on #8379
Why are you unable to increase SCHEDULE_MAX_JOBS? That's what that configuration parameter is for.

[2020-10-13 19:00] tiagodread commented on #5685
PR already merged, closing this issue

[2020-10-13 19:05] jbradberry commented on #8025
Setting up a project that consists only of the following playbook, test.yml:

    ---
    - hosts: all
      tasks:
        - name: Ping
          ping:
            data: pong

        - name: Gather the package facts
          package_facts:
            manager: apt

I get a successful job run like so using the latest on devel,

![Screenshot_2020-10-13 Ansible AWX 5 - Test Fact Cache](https://use

[2020-10-13 20:51] chiquiff opened #8387 "EXCEPTION DURING MIGRATION - FRESH INSTALL"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer
 - Migrations

##### SUMMARY
I'm doing a fresh install on top of Kubernetes. I'm using an RDS (aws) Postgres DB (Engine version 12.3). I'm stuck in a loop with the following stacktrace:

`
[awx-598d769698-b7ts7 awx-task]     return self.cursor.execute(sql, params)
[awx-598d769698-b7ts7 awx-task] django.db.utils.ProgrammingError: r

[2020-10-13 20:52] chiquiff commented on #8387
Here's the big trace:

Traceback (most recent call last):
[awx-598d769698-b7ts7 awx-task]   File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/django/db/backends/utils.py", line 84, in _execute
[awx-598d769698-b7ts7 awx-task]     return self.cursor.execute(sql, params)
[awx-598d769698-b7ts7 awx-task] psycopg2.errors.UndefinedTable: relation "main_instance" does not exist
[awx-598d769698-b7ts7

[2020-10-13 21:02] chiquiff commented on #8387
I'm looking at the DB and there's nothing in there. No tables at all. Seems that no migration is running.

[2020-10-13 22:16] chiquiff commented on #8387
Managed to run the migrations manually with:

`awx-manage migrate --noinput`

Still not sure why this didn't happen automatically...

[2020-10-14 06:37] stanislaw55 opened #8388 "Project not updated on launch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I have project `A` which has specified Git repository as its source, with branch `master`. SCM Update options which are selected are **Update revision on launch** and **Clean**. After pushing new commit to `master` branch, project `A` is not updated. I have to manually trigger update.

This may look like duplicate of https://github.com/ansible/awx/iss

[2020-10-14 06:41] fxmick opened #8389 "Bitbucket webhook integrations ?"
#####  COMPONENT
(Workflow) Job Templates Webhooks

##### SUMMARY

Bitbucket Server is not able to launch (workflow) job templates using webhooks.

##### STEPS TO REPRODUCE

Enable Webhook (I've tried both Github and GitLab options)  on a Job Template.
Copy and paste URL and Token in the Bitbucket repository.
Test Connection.
Error message :
{"detail":"You do not have permission to perform this ac

[2020-10-14 07:13] fxmick commented on #8389
My bad, RFE already in progress
https://github.com/ansible/awx/issues/5209

[2020-10-14 07:13] #8389 closed, assigned to nobody

[2020-10-14 10:54] gforster opened #8390 "Add ability to call notifications as a workflow node"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Could use the ability to call a notification as a workflow node. e.g. when a particular node step fails but is handled/cleaned up with a subsequent node step and you specifically don't want the notification as part of the failed template. In this type of situation having the notification as part of the worklfow won't work, because the workflow would

[2020-10-14 11:32] felsgaertner opened #8391 "Trigger "SCM Update" via webhook"
##### ISSUE TYPE Feature request

Web hooks can be used to start jobs from templates, but not for internal procedures like updating projects.

As a user, I want GitLab (or any other supported SCM) to automatically trigger an SCM project update using a web hook. E.g. a push or merge to the master branch should request a project update on AWX. (Finally the trigger conditions are defined in the web h

[2020-10-14 12:02] garnser commented on #8391
This is doable, if you have your pipeline request https://ansibletower/api/v2/projects/<PROJECTID>/update/ and it will trigger an SCM update.

[2020-10-14 13:09] ryanpetrello commented on #8383
Hey @jean-christophe-manciot,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, you'll probably get a quicker response on our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-10-14 13:09] #8383 closed, assigned to nobody

[2020-10-14 14:50] chazemery commented on #2284
any update on this feature?
I see it has been a couple of years since last comment

[2020-10-14 14:53] chazemery commented on #2284
would be fantastic for a this or a similar feature to be able to connect with Source Control (GIT, BitBucket, whatever)
in order to treat Tower objects as source controlled code

[2020-10-14 15:15] jean-christophe-manciot commented on #8383
@ryanpetrello

What makes you think this is not a bug related to AWX itself?
I had no such issue with earlier releases.

[2020-10-14 18:11] #8338 closed, assigned to squidboylan, beeankha, john-westcott-iv

[2020-10-14 20:25] wenottingham commented on #8391
You can also point the webhook at a workflow that does the project update (and then anything else that is required).

[2020-10-14 20:38] nixocio commented on #7657
Just to add that we also show the `Cancel job` and `Delete` for completed jobs, for example.

![image](https://user-images.githubusercontent.com/9053044/96042573-99230300-0e3b-11eb-95e3-48d84a0c1330.png)

[2020-10-14 22:57] tiagodread commented on #7721
Tests in place PR already merged

[2020-10-14 22:57] #7721 closed, assigned to nixocio

[2020-10-15 02:45] thisID commented on #7400
Thank you very much. The method you provided is ok.

[2020-10-15 07:48] zaskan commented on #7399
@haribhauhud Can you please follow these steps and confirm if it worked for you?

1. Create you Hashicorp Vault credential in ansible Tower.
2. Create the machine credential and use the username you created previously for Hasicorp's Vault
3. Click on the search icon of "username" (also password and private key should work)
4. Click on metadata
5. Specify the namespace in "NAME OF THE SECRET BACKEN

[2020-10-15 08:29] felsgaertner commented on #8391
@wenottingham , thanks for the hint.

It works, I will close the issue.

[2020-10-15 08:29] #8391 closed, assigned to nobody

[2020-10-15 13:40] ryanpetrello commented on #8383
Hey @jean-christophe-manciot,

It could be, it's just that we generally avoid triaging issues in this bug tracker (especially installation issues) until we have an explicit way to reproduce, and because we're a small team, we lean a lot on the community via IRC and the mailing list to facilitate that process.

I've just spun up an AWX 15.0.0 on a local Fedora box of mine, and it seems to work fine

[2020-10-15 13:48] AlexSCorey commented on #5913
POL bugs reported by QE that should make it into this work if possible.

- [x] Unique IDs for Next, Back and Cancel Buttons

- [ ] Variable field with wrong format like `Foo:Bar` without spacing doesn't display the validation error

- [ ] Trying to launch a JT without enabling the variables POL with survey the variable field doesn't appear on the preview step

[2020-10-15 14:19] dapiced commented on #2518
We have the same concern here! we would like to put a dummy limit by defaut for each tower job template created...

The goal was to avoid someone who did a "adhoc job" for one machine only and forgot to put a limit and spread the modification all around theirs inventories...

we already have rbac for tower....

any idea ?   i can for sure make rest api to fill up all limit field who's empty.... bu

[2020-10-15 14:37] unlikelyzero commented on #7892
PIpelines are borked due to galaxy. Will test next week

[2020-10-15 14:44] nixocio commented on #8073
@unlikelyzero, can we close this one?

[2020-10-15 14:51] unlikelyzero commented on #8073
@nixocio we will not be in the critical path for EE but will still be in the critical path for Container Groups. In this case, Danny didn't link to the tests which covered this functionality nor the PR which was in progress. We will leave this post-merge needs_test issue up to ensure that we had and have adequate coverage.

For now, our priority will remain the open awx pulls and get back to these

[2020-10-15 15:12] nixocio commented on #8073
Thanks @unlikelyzero.

[2020-10-15 15:22] wenottingham commented on #7400
Thanks for the verification!

[2020-10-15 16:50] mabashian commented on #8377
Note that the new UI currently behaves in the same way.  Host facts are not accessible on a smart inventory host but I think this could be easily added.

[2020-10-15 17:46] etsurbkfs commented on #4020
@wenottingham @ryanpetrello Why did you close this (older) issue in favor of a feature idea that was opened in 2020?  This is not the duplicate, #5738 is a duplicate of this issue.

[2020-10-15 17:50] etsurbkfs commented on #5738
@wenottingham @ryanpetrello This issue is a duplicate of #4020 and yet #4020 was closed in favor of this newer-opened issue.  May I ask why?

[2020-10-15 19:23] watsonb commented on #7882
@jbradberry I provisioned a fresh AWX 15.0.0 installation and the export/import worked this time (using awxkit==15.0.0) with respect to this issue.  I consider it closed.

[2020-10-15 19:23] #7882 closed, assigned to jbradberry

[2020-10-15 19:24] watsonb commented on #7881
@jbradberry  I provisioned a fresh AWX 15.0.0 installation and the export/import worked this time (using awxkit==15.0.0) with respect to this issue. I consider it closed.

[2020-10-15 19:24] #7881 closed, assigned to jbradberry

[2020-10-15 19:42] jlmitch5 opened #8400 "Add dashboard to ui_next"
This card tracks adding the dashboard to ui_next.  The big change from ui -> ui_next will be the recently ran jobs and used templates need to be more full featured as they will be replacing portal mode.

[2020-10-15 19:46] jlmitch5 opened #8401 "Add additional filters to dashboard graph"
In the transition from nvd3 to using the graphs based on automation analytics line chart, we've lost the status-based and hour-based (last 24 hours) filters.

This tracks adding those back (which will be done after they are added to automation analytics in order to stay in sync.

[2020-10-15 19:58] jlmitch5 commented on #6756
While it does not feature your requests, we have revamped the AWX dashboard in the new UI.

While we aren't currently planning on including these features, job and template running/viewing/filtering functionality should be massively improved over the legacy dashboard, due to the fact the lists are fully-featured.

We have discussed this a lot over the years and would love to have a configurable wi

[2020-10-15 21:11] tima opened #8405 "Automation Webhook Filters"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Integrated filtering of Automation Webhook events in Job and Workflow Templates

AWX can receive webhook events to launch a Job or Workflow today. While Git service providers such as GitHub have a long list of Webhooks events they can issue some are rather course grain.

Take Pull Requests events in GitHub as is documented.  Repos configured to publ

[2020-10-15 21:14] shanemcd commented on #8405
Dupe of https://github.com/ansible/awx/issues/5323

[2020-10-15 21:18] tima commented on #8405
BAH! I even searched and it came up empty. :(

[2020-10-15 21:18] #8405 closed, assigned to nobody

[2020-10-16 03:53] marcolussetti opened #8407 "Installer missing docker_image command in Ansible 2.10.2"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Installer does not run in my environment complaining that docker_image cannot be found.

##### ENVIRONMENT
* AWX version: 15.0
* AWX install method: docker on linux
* Ansible version:  2.10.2
* Operating System: Centos 8.2
* Web Browser: N/A

##### STEPS TO REPRODUCE
1. Blank CentOS 8.2 install
2. `pip install ansible`
3. Edit inventory as appropriate

[2020-10-16 03:54] marcolussetti commented on #8407
Installing the appropriate collection with `ansible-galaxy collection install community.general` fixes the issue.

[2020-10-16 09:21] dvzuykov opened #8409 "Problems with X-Forwarded-For Header 15.0.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
X-Forwarded-For stops work after upgrade to 15.0.0.
When I submit callback request with header like below:
curl -H "'X-Forwarded-For': '10.91.191.227'" --verbose https://awxhost:443/api/v2/job_templates/9/callback/ --data "host_config_key=388b1d5d-6121-42bd-8259-f74814582e58"
AWX just initiating job for host which send re

[2020-10-16 09:41] dannyvanderaa commented on #4486
Any news on this? Would love to have this feature

[2020-10-16 12:01] amg-web opened #8410 ""Relaunch on failed" starts playbook from the very beginning"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
"Relaunch on failed" starts playbook from the very beginning
##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.13
* Operating System: Ubuntu 18.04
* Web Browser: Opera 71.0.3770.228

##### STEPS TO REPRODUCE

If playbook fails I want to restart from failed task.
press rocket to "Relaunch on" and click

[2020-10-16 14:04] EmmanuelRolland90 commented on #7253
Hello
I've install from scratch a V9.1.0 : all is fine
After I've upgrade with V15 : this issue comes again :-((
Still investigating ...

[2020-10-16 14:23] dmatthewsbnd251 opened #8411 "oVirt inventory bad version check"
##### ISSUE TYPE
 - Inventory Update broken with oVirt inventory

##### SUMMARY
After upgrading to AWX 15.0.0, oVirt inventory source will not update

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker
* Ansible version:  2.10.1
* Operating System: CentOS 7.7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Update oVirt inventory source.

##### EXPECTED RESULTS

oVirt inventory w

[2020-10-16 14:54] preguenga commented on #8411
I had same issue after installing awx.

Resolved by manually installing pycurl in the docker container.

https://groups.google.com/g/awx-project/c/KpWeO9G8KaA/m/HzN66jdwAwAJ

Perhaps it's the same issue.

[2020-10-16 15:22] dmatthewsbnd251 commented on #8411
Unfortunately this did not work for me.

On Fri, Oct 16, 2020 at 10:55 AM Pedro Reguenga <notifications@github.com>
wrote:

[2020-10-16 15:49] dmatthewsbnd251 commented on #8411
However, I did try a couple of things in the custom virtual environment.

This:

"pip install ovirt-engine-sdk-python ansible psutil"

results in this

File
"/opt/my-envs/ovirt9/lib64/python3.6/site-packages/ovirtsdk4/__init__.py",
line 695, in _get_sso_response
69
curl.perform(

but when setting it up like this

export PYCURL_SSL_LIBRARY=nss;pip install ovirt-engine-sdk-python ansible
psutil --co

[2020-10-17 05:25] austinyearlykim commented on #571
@saavi21 the post install instructions got me unstuck; thanks!

[2020-10-18 00:30] Apocrathia commented on #7699
I just ran into this same issue on Ubuntu 20.04.1 using release 15.0.0. So, it's still a persistent issue for Docker Compose installs.

I just added the line `host all all 172.16.0.0/12 trust` to the pg_hba.conf file, restarted the stack, and everything appears to be working. Using 172.16.0.0/12 (126.16.0.1 - 126.31.255.254) rather than 0.0.0.0/0 to make some attempt at restricting traffic to the

[2020-10-18 19:09] jazzdroid opened #8414 "awx.awx.tower_api : Failed to extract token information from login response"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
  - Collection awx.awx

##### SUMMARY
I trying to use awx.awx.tower_api lookup but I get an error related to token auth.
Failed to extract token information from login response: the JSON object must be str, not 'bytes'

I follow the same example in documentation. I pass my vars directly in the lookup but nothing.

##### ENVIRONMENT
* AWX

[2020-10-19 06:42] danielbostock commented on #7854
This also fixed my issue. Thanks.

[2020-10-19 11:40] jean-christophe-manciot commented on #8383
@ryanpetrello

You thought right: forcing ```docker-compose==1.25.4``` instead of the **latest (1.27.4)** is a workaround.
However:
-  1.25.4 is an old version
- it is difficult to conclude that it is a docker-compose issue rather an AWX one given the lack of logging. For instance:
  + the expected format of the docker-compose file may have changed
  + some options may also have changed

[2020-10-19 14:56] ryanpetrello commented on #8410
Hey @amg-web,

This just isn't how this feature works - it doesn't restart from the first failed task, it re-runs the playbook with a subset of the original inventory (only the hosts that were marked as failed).

[2020-10-19 15:17] ryanpetrello commented on #8383
Hey @jean-christophe-manciot,

I tried my test again in the same environment using the latest `docker-compose` available on PyPI:

[code]

...and everything comes up just fine for me:

[code]

![image](https://user-images.githubusercontent.com/214912/96471583-7e66da80-11fd-11eb-9433-d721ffc1a0dc.png)

I'm not exactly sure what's up with your reproduction, but if you find any additional details, or

[2020-10-19 16:39] #8410 closed, assigned to nobody

[2020-10-19 17:24] tiagodread commented on #7751
PR already merged

[2020-10-19 17:59] unlikelyzero commented on #7751
Re-opening to add coverage for https://github.com/ansible/awx/pull/8230

[2020-10-19 20:10] ryanpetrello commented on #8407
Install instructions added at: https://github.com/ansible/awx/pull/8408 (thanks @marcolussetti)

[2020-10-19 20:10] #8407 closed, assigned to nobody

[2020-10-19 20:29] elyezer commented on #7813
@unlikelyzero can we close this?

[2020-10-19 20:32] unlikelyzero commented on #7813
@elyezer the last comment still stands :)

If you don't think we should verify the deployment models before closing this ticket, then it can be closed.

[2020-10-19 21:35] elyezer commented on #7813
@unlikelyzero the deployment models (different types or installation and what not) are being tracked by separate tickets, for example https://github.com/ansible/tower-packaging/issues/898 and https://github.com/ansible/tower/issues/4373. So I think we are good to close this one as this was focusing on the ability of having the AH/Galaxy configuration per Org.

[2020-10-19 21:35] #7813 closed, assigned to elyezer, ryanpetrello, rebeccahhh, unlikelyzero

[2020-10-20 09:27] ammygill commented on #8379
customer is having Project requirements. thats why he can't change the value from 10 to any higher value.

[2020-10-20 11:07] #7892 closed, assigned to jakemcdermott, unlikelyzero

[2020-10-20 11:07] unlikelyzero commented on #7892
Covered in job-template-operations.spec.js

[2020-10-20 12:56] unlikelyzero commented on #7326
Reopening because no test coverage was referenced or added

[2020-10-20 12:59] unlikelyzero commented on #7298
@nixocio i noticed that we had 0 test coverage here. I'm going to open this meta issue to track that work

[2020-10-20 12:59] #7326 closed, assigned to nixocio, dsesami

[2020-10-20 12:59] #7325 closed, assigned to nobody

[2020-10-20 12:59] #7324 closed, assigned to nobody

[2020-10-20 14:50] mabashian commented on #5997
Marking this as blocked until #5913 is done

[2020-10-20 14:56] wenottingham commented on #8379
I'm not sure what you mean by that.

[2020-10-20 15:22] ryanpetrello commented on #8025
I also am having trouble reproducing this on the latest AWX:

![image](https://user-images.githubusercontent.com/214912/96607528-732bb180-12c6-11eb-9c40-62e272fd18f7.png)

![image](https://user-images.githubusercontent.com/214912/96607558-7888fc00-12c6-11eb-8d34-cde7980391cf.png)

![image](https://user-images.githubusercontent.com/214912/96607611-83dc2780-12c6-11eb-9d8e-d287aa738bc1.png)

![image]

[2020-10-20 15:22] #8025 closed, assigned to jbradberry

[2020-10-20 16:34] rajivkamath opened #8418 "Awx 13.x to 15.x upgrade....Data not being migrated"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Upgrading AWX from 13.x to latest 15.x. At first attempt encountered issue with postgres container which remained in "restarting" state. Fixed it by adding "PGDATA: /var/lib/postgresql/data/pgdata" env variable to the xxx/installer/roles/local_docker/templates/docker-compose.yml.j2 file and rexecuting 'ansible-playbook -i inventory install.yml -e @vars

[2020-10-20 16:59] shanemcd commented on #8418
Sounds like https://github.com/ansible/awx/issues/7854.

We added a changelog entry about it: https://github.com/ansible/awx/blob/devel/CHANGELOG.md#1410-aug-25-2020

[2020-10-20 16:59] #8418 closed, assigned to nobody

[2020-10-20 17:16] #5685 closed, assigned to nixocio

[2020-10-20 17:26] rajivkamath commented on #8418
@shanemcd my issue is different from the container not starting up. I did mention the container restart issue on my post just to share details but my original problem is with the data migration not executing or completing on the postgres db.
The container restart issue was resolved as i have described in the original post

[2020-10-20 18:02] unlikelyzero commented on #8401
Marking as enhancement instead of feature in case we want to push past GA

[2020-10-20 18:05] unlikelyzero opened #8420 "Cannot Launch Workflows if POL enabled but left empty"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cannot Launch Workflows if POL enabled but left empty

##### ENVIRONMENT
* AWX version: devel@10/15

##### STEPS TO REPRODUCE
1. Create a Workflow and enable Prompt on Launch for Limit and SCM Branch
2. Launch Workflow but do not fill in Limit and/or SCM Branch
Note: Error

##### EXPECTED RESULTS
If Prompt on Launch enabled, it should not be required

[2020-10-20 18:44] ryanpetrello commented on #8420
Do we know if this is a regression?  If not, it probably doesn't belong in this milestone.

[2020-10-20 18:49] mabashian commented on #7879
Started this work here: https://github.com/mabashian/awx/tree/7879-notif-copy-search.  Going to have to pivot to another bug for a bit but wanted to document the progress so I know where to look when I get back to this.

[2020-10-20 20:05] mabashian commented on #8420
I tried this same thing out with a job template and didn't get an error on launch so that got me looking at what might be different between the two scenarios.

For job templates, here's what the OPTIONS response for each of those fields looks like:

[code]

And for workflow job templates:

[code]

Note that the default value for these fields on a job template is an empty string but on a workflow j

[2020-10-20 20:22] jakemcdermott opened #8421 "Misc. ui_next output work issue"
- [ ] Decide if we're doing the multi-step output loading (ala Travis, GH Actions). This means we load high-level "header" `*` events  on the first pass and load the line-by-line output for those events asynchronously on click. From a UI perspective, this approach is **scalable for arbitrarily large jobs** and will probably have a much simpler implementation **and** a better ux overall. I am very

[2020-10-20 20:36] tiagodread commented on #8237
PR already merged, worked as expected

[2020-10-20 20:38] walterrowe commented on #3556
There is a work-around that I figured out with some help from other online articles. It involves creating dictionaries in real-time.
[code]

This results in a dictionary that is passed back to ansible tower as an artifact. Downstream templates in the workflow will receive it in extra\_vars.

[code]

Downstream templates can access this data as follows:

[code]

[2020-10-20 20:39] tiagodread opened #8422 "Inventory related groups advanced search"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Making an advance search the kebab button and the select all option breaks the line when the menu is opened (the same problem happens on the Inventory Group Host List)

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker for mac
* Ansible version:  2.9.13
* Operating System: Catalina
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1.

[2020-10-20 20:42] tiagodread commented on #8262
While verifying this https://github.com/ansible/awx/pull/8263 I found this:

The select Groups modal has an advance search that enables the kebab button but there’s nothing inside it:

![modal](https://user-images.githubusercontent.com/12464858/96641682-755c3300-12fb-11eb-9078-50e24c6928f6.gif)

[2020-10-20 20:57] ryanpetrello commented on #8420
Talked to @mabashian about this - if there's a simple way to work around it in the UI (i.e., send an empty string, instead of `null`), that's fine, but if not, I'd say 👎 for now.

Also, @wenottingham @jneedle feel free to convince me I'm wrong, but this doesn't belong in this milestone.

[2020-10-20 21:06] mabashian commented on #8420
I did confirm that this same behavior exists in 3.7.4 so we're not looking at a regression in 3.8

[2020-10-20 21:08] #7515 closed, assigned to keithjgrant

[2020-10-20 21:12] jneedle commented on #8420
I'm all for 3.8.1 at this point.

[2020-10-20 22:07] tiagodread opened #8423 "User type auditor can try to delete inventory groups"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
An auditor user type can try to edit or delete an inventory group on the Group details page

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker for mac
* Ansible version:  2.9.13
* Operating System: Catalina
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Log as an auditor user
2. Navigate to Inventories
3. Click on the inventory

[2020-10-21 00:18] unlikelyzero commented on #7015
https://github.com/ansible/awx/pull/7281#issuecomment-691218496 note to cover

[2020-10-21 06:24] dandoetech commented on #4166
just wanted to try out awx shortly in a dev env. Does anyone know why I should need ansible to start a docker container? Seems like someone is really loving ansible a lot ..

[2020-10-21 07:31] jazzdroid commented on #8414
I think it's something about encoding in my test machine or python version or some package version. I tested in another and it works.

In the affected machine I debug the module and it returns in the response of token:  b'{JSON RESPONSE} with a b at the beggining.

[2020-10-21 13:04] ryanpetrello commented on #8414
@jazzdroid are you using python2 on one machine, and python3 on another (could be a bug in python2 only) cc @beeankha @john-westcott-iv

[2020-10-21 13:09] jakemcdermott opened #8425 "Set up dependency bot"
- Bot should open PRs to devel to patch problematic dependencies
- Workflow: PR opened -> Unit & Functional Tests Pass -> QE runs tests -> merge. ex: https://github.com/ansible/awx/pull/8315, https://github.com/ansible/awx/issues/8424

Lots of options to choose. Pick the simplest one.

[2020-10-21 13:09] jakemcdermott commented on #8425
(post 4.0)

[2020-10-21 13:40] YperXristis commented on #4814
@brocc0lee I am facing the same issue, can you be more specific, with the IdP URL that you mention and the attribute mappings? AWX is Deployed in Kubernetes, I used SAML Tracer and I am getting the 302/301 redirects like you

[2020-10-21 14:10] infraengineer-sre commented on #7699
The same for macOS Catalina 10.15.7 (19H2)

`2020-10-21 13:56:18.150 UTC [835] FATAL:  no pg_hba.conf entry for host "172.18.0.4", user "awx", database "awx", SSL off`

**ENVIRONMENT**

**STEPS TO REPRODUCE**

[code]

`django.db.utils.OperationalError: FATAL:  no pg_hba.conf entry for host "172.18.0.4", user "awx", database "awx", SSL off`

[2020-10-21 14:53] #8347 closed, assigned to nobody

[2020-10-21 15:42] AlexSCorey commented on #7517
@unlikelyzero I am unable to reproduce this bug at this time.  Can you test to confirm that it is resolved?

[2020-10-21 16:45] nixocio commented on #7037
Per @trahman73 feedback.

[2020-10-21 17:53] rajivkamath opened #8427 "awx inplace upgrade to v15 using local docker ... Data migration not happening"
Inplace upgrade of  AWX from 13.x to latest 15.x  keeps doing a fresh install and does not retain the data/configs that were present on the existing instance prior to upgrade.

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Used the official github instructions to do an inplace upgrade using docker-compose and below is a summary of what was done for the upgrade

- Downloaded the latest awx artifact

[2020-10-21 18:27] jakemcdermott opened #8428 "Use single source of truth / variable for all doc link-outs in ui next"
This is somewhat of an auditing card as it may already be done in which case we can move this over to test-verification-and-close.

Goal: We want all doc links to stay up-to-date and point to the right version automatically. Preferably this should be done in a way that requires no code changes from release to release but if we need to use a variable, just make sure everything is using the same var

[2020-10-21 18:35] Malizor opened #8429 "Expose the SCM Branch name in the playbook environment"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Today if I launch a job and put `foobar` in the "SCM Branch" field, the corresponding commit hash is exposed as `awx_project_revision` but the proper human readable name of my branch/tag `foobar` remains inaccessible.

A use case to access this information is to put it in configuration files (eg. in a UI to document which version of the platform was

[2020-10-21 20:44] AlexSCorey commented on #6972
Removing my name as I'm not planning on working on this any time soon

[2020-10-21 21:37] kt-pham commented on #8187
I'm also getting this issue. I have a job template that is to slice the inventory in 5, with 50 forks. I'm seeing an issue with 125 hosts in  an inventory.

[2020-10-21 21:53] kt-pham opened #8432 "Python3.6 issue when running job template using AWX-13.0.0"
##### ISSUE TYPE
Job Template fails/not executed due to "project_update failed for production"

##### SUMMARY
Error Message is as follows:
Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1354, in run self.pre_run_hook(self.instance, private_data_dir) File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line

[2020-10-22 01:06] boldandbusted commented on #8300
Just confirming this exact scenario, building in Vagrant with ansible_local, with AWX 15.0.1 and 14.1.0. Is there a reasonable workaround? Thanks. UPDATE: And @nats answer also got the installation past this same point.

[2020-10-22 12:07] preguenga commented on #8411
Sorry, I completely forgot to reply...

I remember that indeed, I had to install other things and somehow even had to create another venv inside the container from scratch for oVirt inventories to work.

I just played with pip alot.

![image](https://user-images.githubusercontent.com/32769070/96869024-3222d100-146f-11eb-8993-4eb1b8381bb6.png)

Hope you find the problem.

[2020-10-22 12:36] jakemcdermott commented on #8429
Thought this was ui related but on second look it isn't.

[2020-10-22 13:46] nixocio commented on #6593
This issue seems to be similar to https://github.com/ansible/awx/issues/7130

[2020-10-22 13:58] nixocio commented on #6603
This issue seems to be related to https://github.com/ansible/awx/issues/612

[2020-10-22 14:13] sebw opened #8435 "Request to /api/v2/credentials/?name=XYZ returned 2 items"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

- Concerns Ansible collection `awx.awx`
- Two credentials with the same name `XYZ` in two different organizations (`org1` and `org2`)
- Create a job template using  `tower_job_template`, in `org1` and credential `XYZ`
- playbook fails with `Request to /api/v2/credentials/?name=XYZ returned 2 items`

##### ENVIRONMENT
* awx.awx collection 15.0.1
* Ansi

[2020-10-22 15:36] bellackn opened #8437 "Inventory variables are not being used in playbook runs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory variables are not being used in templates when inventory source is AWS EC2.

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.14
* Operating System: RHEL 8
* Web Browser: Firefox, Chrome

##### STEPS TO REPRODUCE

1. Add an inventory `foo`
2. Add an AWS EC2 source `foo-ec2-source` to that i

[2020-10-22 16:08] kdelee commented on #8154
1) Have two not logged in browser tabs, one open to api, other open to login page
2) Log in as admin in api
3) Log in as social auth user in UI

In the past:
  - social user logs in, sees that they are admin
  - admin now labeled as "social" user

Now:
  - social user logs in, sees they are themselves
  - they are labeled social
  - tab that was logged in admin, now when navigate to new page is no

[2020-10-22 16:20] brocc0lee commented on #4814
@pkatopodi , the issue was that the actual SAML configuration values I had were not matching the values I set in my provider.
Primarily, ensure the SAML Service Provider Entity ID is **_**exactly**_** the same as your provider as well as your ACS URL being the same on both sides. Additionally, your `url` and `x509cert` inside the SAML ENABLED IDENTITY PROVIDERS is correct as well.

[2020-10-22 16:35] unlikelyzero commented on #8154
We will not be adding automated coverage for this if you'd like to close this out @kdelee

[2020-10-22 16:57] keithjgrant commented on #6189
Patternfly's draft PR on their portion of this work: https://github.com/patternfly/patternfly-react/pull/4950

[2020-10-22 17:11] YperXristis commented on #4814
@brocc0lee Thanks for the Quick Response, I was able to figure it out and it was EXACTLY that, AWX should do a better job of SAML integration documentation at least. The /sso/error suffix is not sufficient to trouble shoot and SAML Tracer doesnt give you much more info either. Thanks Again

[2020-10-22 17:21] tiagodread commented on #8154
After a retest like @kdelee post above this bug doesn’t happen anymore, closing this.

[2020-10-22 17:22] #8154 closed, assigned to jakemcdermott, tiagodread, kdelee

[2020-10-22 17:28] drinkeroftea7 commented on #6682
Several high-volume (20k+ hosts) users are running into similar problems on scaling to manage a thousand or more hosts at a time. At that scale, large consolidated inventories are unworkable. For many common workflows a large number (1000+) servers need to be managed at a time through on-demand request front-ends. This makes it impractical to manage segmented inventories in an efficient fashion, b

[2020-10-22 18:26] boldandbusted commented on #8300
So, if I add this sleep to the code, and create a PR, will it likely be accepted? Of *course* it isn't ideal, but it would mean I can deploy to my users a working installation with Docker Compose. :)

[2020-10-22 18:34] nixocio commented on #7130
Related - https://github.com/ansible/awx/issues/6593

[2020-10-22 18:47] squidboylan commented on #7798
I tested this manually pre-merge so now that the PR is in this should be fixed

[2020-10-22 18:47] #7798 closed, assigned to jbradberry, squidboylan

[2020-10-22 19:26] unlikelyzero opened #8439 "Dashboard card for Inventory Sync Failures does not display correct count"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Dashboard card for Inventory Sync Failures does not display correct count

##### ENVIRONMENT
* AWX version: 3ff1d77c03ed1d5768fa31087a849204c5b0b8d2

##### STEPS TO REPRODUCE
1. Create a Failed Inventory Sync
2. Navigate to Dashboard and note Inventory sync failures card

##### EXPECTED RESULTS
1. Count to match query

##### ACTUAL RESULTS
1. Count doe

[2020-10-22 19:27] unlikelyzero commented on #8400
Closing. Found one bug post-merge https://github.com/ansible/awx/issues/8439

[2020-10-22 19:48] ghost opened #8440 "Custom Python venv does not replace ansible"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX 15.0.1 does not contain Ansible 2.10.x or newer.  This causes the download of collections from git repositories to fail.  In an attempt to get the latest version of Ansible for the project sync I created a virtual environment with Ansible 2.10.2 and attempt a project sync with the custom env.

The ansible-galaxy download of the collections in "coll

[2020-10-22 19:49] #8400 closed, assigned to jlmitch5

[2020-10-22 21:26] wenottingham commented on #6682
If this is a (mostly) arbitrary set of hosts defined as a throwaway inventory, I feel as if meta-smart-inventories with a query on demand/launch is a better solution.

[2020-10-22 21:31] wenottingham commented on #8440
It won't be, most likely.

See https://github.com/ansible/awx/issues/5157

[2020-10-22 21:31] #8440 closed, assigned to nobody

[2020-10-23 10:23] 81Denton commented on #286
I agree with @mkkeffeler, this feature would be extremely useful for Windows environments as well - especially since Kerberos/AD auth is far less flexible than SSH.

[2020-10-23 12:38] christianmarangoni commented on #5209
+1

[2020-10-23 13:28] unlikelyzero commented on #8425
@jakemcdermott we have some similar plans on https://github.com/ansible/tower-qa/issues/3434 . I think dependabot makes more sense. I think we should sync on this

[2020-10-23 13:35] nixocio opened #8443 "Verify accessibility rules that we can enforce during linting time"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We already have the https://www.npmjs.com/package/eslint-plugin-jsx-a11y enabled, we need to verify what rules we can enforce during linting time to reduce common accessibility errors.

[2020-10-23 15:03] shanemcd opened #8445 "Create Ansible module for Execution Environments in AWX collection"
I have created the beginnings of this in https://github.com/ansible/awx/pull/8030. It needs to be rounded out and tested.

[2020-10-23 16:49] Gianlu commented on #2032
Hello,
do you have any news about this issue? It would be very useful.

Thanks

[2020-10-23 17:18] wenottingham commented on #8437
I think what you're doing here doesn't make sense.

When evaluating the `hosts` line, the variables that are in scope are extra vars (which can come from surveys).

Inventory vars are applied to all hosts in the inventory. They can't be used for host specifiers.

[2020-10-23 17:18] #8437 closed, assigned to nobody

[2020-10-23 17:42] wenottingham commented on #8390
This would require major plumbing changes to how notifcations are done.

In the meantime, you can just write a playbook that approximates this functionality.

[2020-10-23 17:42] blomquisg commented on #8388
@beeankha can you try to reproduce this?

[2020-10-23 17:52] wenottingham commented on #8371
-> #8032

[2020-10-23 17:52] #8371 closed, assigned to nobody

[2020-10-23 18:02] blomquisg commented on #8334
@beeankha and @john-westcott-iv, can you take a look at this?

[2020-10-23 18:03] ryanpetrello commented on #8330
I'm a 👎 on this; we've been trying to move away from the special v1 kind keys for awhile now; specific a primary key or a name of a valid type.

[2020-10-23 18:03] #8330 closed, assigned to nobody

[2020-10-23 18:15] wenottingham commented on #8320
Our plans are to have an operator in the future; we do not have plans for a helm chart.

[2020-10-23 18:15] #8320 closed, assigned to nobody

[2020-10-23 18:17] blomquisg commented on #7052
We changed how inventory sources are configured in v15.

[2020-10-23 18:17] #7052 closed

[2020-10-23 19:35] john-westcott-iv commented on #8334
Can you double check your collection installation? If I look at your stack trace it's referencing TowerCLI:
[code]
However, the new AWX collection no longer uses TowerCLI.

As a quick test you can try explicitly telling ansible to use tower_notification from awx.awx by calling tower_notification as `awx.awx.tower_notification`:
[code]

[2020-10-23 20:19] ryanpetrello commented on #8334
Yea, this looks to me like something messed up w/ an older version of the software.  Please make sure you're using the latest version of: https://galaxy.ansible.com/awx/awx

[2020-10-24 19:44] soulbrat commented on #8409
Try this:

"HTTP_X_FORWARDED_FOR, HTTP_TRUE_CLIENT_IP, REMOTE_ADDR, REMOTE_HOST"

$ curl -H "X-Forwarded-For: **node1.example.com**" --data "host_config_key=6e941383-22c0-4aa3-a26f-c69bd2544a21" https://awx.example.com:443/api/v2/job_templates/24/callback/

$ curl -H "True-Client-IP: **10.0.3.3**" --data "host_config_key=6e941383-22c0-4aa3-a26f-c69bd2544a21" https://awx.example.com:443/api/v2/job_

[2020-10-25 07:57] Besstheone opened #8448 "Lock cannot be obtained"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
File lock error

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker
* Ansible version:  2.9.13
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

We executed 4632 jobs and there is one that failed with lock file

##### EXPECTED RESULTS

Normal result ( fail or success)

##### ACTUAL RESULTS
[code]

##### ADDITIONAL INFORMAT

[2020-10-25 14:07] unlikelyzero commented on #6066
Covered in pull/5626

[2020-10-25 14:07] #6066 closed, assigned to marshmalien

[2020-10-25 14:07] unlikelyzero commented on #8140
Covered in pull/5626

[2020-10-25 14:07] #8140 closed, assigned to marshmalien

[2020-10-25 14:08] unlikelyzero commented on #7556
Covered in pull/5626

[2020-10-25 14:08] #7556 closed, assigned to marshmalien

[2020-10-25 14:08] unlikelyzero commented on #6068
Need to add coverage for this one

[2020-10-25 14:09] unlikelyzero commented on #6067
Covered in pull/5626

[2020-10-25 14:09] #6067 closed, assigned to marshmalien

[2020-10-25 14:09] unlikelyzero commented on #6019
Covered in pull/5626

[2020-10-25 14:09] #6019 closed, assigned to marshmalien

[2020-10-25 15:12] unlikelyzero opened #8451 "When editing a resource with labels, clicking 'Show more' option for labels routes the user to details page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Clicking on the 'Show more' option for labels routes the user to the details page. This temporarily expands the other options before routing the user to the details so that a user can see all options and edit individual options.

##### ENVIRONMENT
* AWX version: d550487bc8cbdfd333e5881b9fc6192b63252d3a

##### STEPS TO REPRODUCE
1. Navigate to Job Templ

[2020-10-25 15:20] unlikelyzero commented on #3303
Not applicable in the new UI

[2020-10-25 15:20] #3303 closed, assigned to nobody

[2020-10-25 15:26] unlikelyzero commented on #7822
Need to add visual coverage for this exact spot in credential form

[2020-10-25 15:49] unlikelyzero opened #8452 "[ui_next] On long forms, form validation errors can be hidden and 'Save' action appears inert"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On long forms, form validation can be hidden and 'Save' action appears inert.

##### ENVIRONMENT
* AWX version: d550487bc8cbdfd333e5881b9fc6192b63252d3a

##### STEPS TO REPRODUCE
1. Open up a long form like JT
2. Remove name of JT
3. Attempt to Save

##### EXPECTED RESULTS
Some indication that there is a form validation error on Save. Either scrolling

[2020-10-25 17:23] nixocio opened #8453 "Username is a required field"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Username is a required field by the API.

![Screenshot_2020-10-25 Ansible AWX(1)](https://user-images.githubusercontent.com/9053044/97114170-47913880-16c5-11eb-8e10-621b6b72e1b2.png)

[2020-10-26 01:12] unlikelyzero commented on #8378
@kongnan have you had a chance to use the ui_next project?

@jakemcdermott @wenottingham this does not appear to be a component with https://patternfly-react.surge.sh/components/dropdown

Should we make a new github issue to associate the typeahead/embedded search within a dropdown with ui_next as an enhancement?

[2020-10-26 01:26] unlikelyzero commented on #8356
Before this merges, we should try to measure console log output from cypress between branches

[2020-10-26 01:37] unlikelyzero commented on #8268
retest now that https://github.com/ansible/awx/pull/8339 landed

[2020-10-26 01:40] #8268 closed, assigned to nobody

[2020-10-26 01:45] unlikelyzero commented on #8331
May be a dupe of https://github.com/ansible/awx/issues/8222

[2020-10-26 04:01] KongNan commented on #8378
Oh, I don't know what's "the ui_next" project.   :(

[2020-10-26 06:07] MrGitBlob commented on #3450
come on.
This inability of AWX to handle symlinks is a joke.

"/usr/lib64/python3.6/distutils/dir_util.py", line 163, in copy_tree dry_run=dry_run) File "/usr/lib64/python3.6/distutils/file_util.py", line 105, in copy_file "can't copy '%s': doesn't exist or not a regular file" % src) distutils.errors.DistutilsFileError: can't copy '/var/lib/awx/projects/path/to/somefilewhichisactuallyasymlink.yml'

[2020-10-26 10:50] paulstaffs opened #8454 "Jobs running on container instance groups are stuck in pending state"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Jobs running on container instance groups never start, stuck in pending state. I think this is related to the recent PR #8333.

This appears to be the line that the scheduler is erroring on:
https://github.com/ansible/awx/blob/d550487bc8cbdfd333e5881b9fc6192b63252d3a/awx/main/scheduler/task_manager.py#L287

In the PR an instances argument was added to

[2020-10-26 11:58] jean-christophe-manciot opened #8455 "[15.0.1] awx_redis: Fatal error, can't open config file '/usr/local/etc/redis/redis.conf': Permission denied when docker_compose_dir permissions are changed after AWX installation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX redis container keeps restarting due to the aforementioned error.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method:  docker compose on linux
* Ansible version: 2.10.2
* Operating System: Debian bullseye
* docker-ce: ```5:19.03.13~3-0~debian-buster```
* docker-compose: 1.25.4 or 1.27.3

##### STEPS TO REPRODUCE
0.1. Run inside Python3 v

[2020-10-26 13:27] AlexSCorey commented on #8356
@unlikelyzero I was also thinking that we should do visual regression testing on it as well.

[2020-10-26 13:31] spisakni opened #8456 "tower_inventory_source module in the AWX collection does not have the schedule endpoint implemented"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Taking a look at the awx/tower_inventory_source.py file I see no support for the /api/v2/inventory_sources/${id}/schedules/ endpoint that is available in the Tower API reference guide. This feature request is to formally request to have this endpoint added.

https://github.com/ansible/awx/blob/devel/awx_collection/plugins/modules/tower_inventory_sour

[2020-10-26 13:34] ryanpetrello commented on #8454
Hey @paulstaffs,

This was an oversight on our part from some recent optimizations to the task manager.  It should be addressed in the next release (this PR contains the fix):

https://github.com/ansible/awx/pull/8457
https://github.com/ansible/awx/pull/8457/files#diff-a37220424979b0075fa6e25bf8c309d671f30641e64830c27cd046272c73a703R288

[2020-10-26 13:46] shanemcd commented on #8182
IIRC this can be YAML _or_ JSON.

[2020-10-26 14:07] unlikelyzero opened #8458 "Form Validation for invalid JSON File has changed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Form Validation for invalid JSON File has changed. Let's figure out which one we want to have.

##### ENVIRONMENT
* AWX version: d550487bc8cbdfd333e5881b9fc6192b63252d3a

##### STEPS TO REPRODUCE
1. Create or Edit a GCE Credential Type
2. Upload a JSON file without a client_email
3. Save

##### EXPECTED RESULTS
I'm not sure if we want the API validatio

[2020-10-26 14:10] unlikelyzero commented on #8458
@keithjgrant let's sync on this one when you get a chance

[2020-10-26 14:55] dolgovas opened #8459 "awx.awx.tower not working with null groups"
##### ISSUE TYPE
 - Bug Report

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.13
* Operating System: macOS

##### STEPS TO REPRODUCE
Try parse inventory from cli where some groups has no any hosts
[code]
if remove test_host1 from test_group2
[code]
cat inventory_tower/test_awx_tower.yml
[code]

##### EXPECTED RESULTS
[code]

[2020-10-26 17:40] tiagodread opened #8460 "Job template survey float doesn’t work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Trying to create a job template survey type Float when hit save the API return `{"error":"Default value 2 in survey question 0 expected to be float."}`. This happens on the old and new UI

See more: https://github.com/ansible/awx/pull/8419
Also related: https://github.com/ansible/awx/issues/8222

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install me

[2020-10-26 18:24] tiagodread commented on #8222
This is a duple of #8331 this behaviour was fixed for integer but still happens on type float. Opened a new issue #8460 to fix the Float missing part. I'll close this issue as duple.

[2020-10-26 18:24] #8222 closed, assigned to nobody

[2020-10-26 18:24] unlikelyzero commented on #8460
Adding `component:ui` as it does not function there, either. May not have ever worked so not using `qe:regression`label

[2020-10-26 18:25] tiagodread commented on #8331
PR already merged and tests in place

[2020-10-26 18:25] #8331 closed, assigned to keithjgrant

[2020-10-26 19:42] tiagodread opened #8461 "Notification tab shows wrong link to notification template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inside Projects or Organizations -> notification tab,  the list point to wrong URL `/next/notifications/1` instead of `/next/notification_templates/1`

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker for mac
* Ansible version:  2.9.13
* Operating System: Catalina
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Navigate to Proje

[2020-10-26 20:44] drinkeroftea7 commented on #6682
Can you clarify what you mean by a "meta-smart-inventory"? Would that be a new feature or an existing one?

[2020-10-26 23:20] keithjgrant commented on #8458
@unlikelyzero We're good to close this now, right?

[2020-10-26 23:24] wenottingham commented on #6682
New feature. The idea would be that it would act more or less exactly like a smart inventory, except you'd provide the fitler string at runtime/launchtime rather than when you create the inventory.

[2020-10-26 23:25] #8458 closed, assigned to keithjgrant, unlikelyzero

[2020-10-26 23:26] unlikelyzero commented on #8458
Yes. Thanks!

[2020-10-27 06:43] dvzuykov commented on #8409
I found root cause of issue. It's in kubernetes ingress. It's just moving "x-forwarded-for" to "x-original-forwarded-for" and rewriting "x-forwarded-for" by ip of system which send request (load balancer for example). And AWX just get wrong ip address.

I fixed it by adding new header to AWX config.
Also possible to reconfigure k8s ingress controller.

[2020-10-27 06:43] #8409 closed, assigned to nobody

[2020-10-27 10:36] AnnSopVier opened #8464 "CLI import of surveys does not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 3.7.3.
* AWX install method: docker on linux
* Ansible version:  2.9.14
* Operating System: CentOS
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Install Ansible and AWX and also CLI.  Copy the inventory and the survey.json file in /var/liv/awx/projects/00_NewCustomer of the docker container awx_web.
Enter the follo

[2020-10-27 10:46] timhaak commented on #7100
For anyone else wanting to do this.

The hostname needs to match CLUSTER_HOST_ID in /etc/tower/awx_settings.py (default is 'awx')

If you have already started everything and it's now broken.

Connect to the Postgres DB and change hostname in public.main_instance to whatever you have set the main hostname to which matches the setting above.

[2020-10-27 12:18] JustDevZero commented on #4852
Unluckly I'm able to reproduce it with a brand new installation, no ugprade as #5214 but fresh.

[2020-10-27 12:41] unlikelyzero commented on #8425
@jakemcdermott here's an example in clouddot https://github.com/RedHatInsights/catalog-ui/blob/master/.dependabot/config.yml

[2020-10-27 13:15] tiagodread commented on #8237
More places with button inside kebab:

**Job Templates:**

- [x]  Access tab -> advanced search -> kebab -> Add

![image](https://user-images.githubusercontent.com/12464858/97215814-b6dd5a00-17a3-11eb-811f-cab797505ce6.png)

- [x] Access tab -> Add -> Users or team -> advanced search -> kebab -> empty (same happen in WFJT Node)

![image](https://user-images.githubusercontent.com/12464858/97216158-

[2020-10-27 13:30] tiagodread opened #8465 "Page title with different text size across ui_next"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The dashboard and Management Jobs has a different text size <h2> while in other place usingn <h1>

##### ENVIRONMENT
* AWX version: 3.8.0
* AWX install method: docker for mac
* Ansible version:  2.9.13
* Operating System: Catalina
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Navigate to dashboard or Management jobs

##### EXPECTED RESULTS

Page

[2020-10-27 15:04] bouluad commented on #7253
I had the same issue : Running multi-instances of awx with a external database (i got 500 error when running any job).
The issue come from CLUSTER_HOST_ID (by default is '_awx_') so when you lunch multi-instance, you have the multi-lines data for the same CLUSTER ID (that's why you got: _get() returned more than one ProjectUpdateEvent -- it returned **2!**_ ).
To fix it :

1. you must override the

[2020-10-27 15:25] AlexSCorey commented on #8237
Sweet, thanks for finding and documenting these issues

[2020-10-27 16:11] nixocio opened #8467 "Remove activity for inventory details page"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Remove activity for inventory details page. Currently is stated as `Coming soon`.

<img width="1491" alt="image" src="https://user-images.githubusercontent.com/9053044/97329469-733f2a80-184d-11eb-975e-fd7690a80fa1.png">

This information is already present on the `Completed jobs` tab. It was decided to remove from details page.

[2020-10-27 18:49] keithjgrant commented on #7829
Closing... this appears to have been fixed at some point. The user can now clear the search filter by clicking the "X".

[2020-10-27 18:49] #7829 closed, assigned to keithjgrant

[2020-10-27 19:24] agilleyrh opened #8469 "RFE: Separate different system level actions into different permissions"
##### ISSUE TYPE
 - Adding additional RBAC controls for environments that are heavily regulated.

##### SUMMARY

The request is to have two sets of roles.

- security management: managing settings, managing users & groups (a subset of settings, given IdP integration)

- systems admin: managing objects (projects, templates, etc)

Currently, system admin handles both of these, via inherent access to

[2020-10-27 19:30] tiagodread commented on #8361
PR already merged and test in place

[2020-10-27 19:30] #8361 closed, assigned to AlexSCorey

[2020-10-27 19:31] #8439 closed, assigned to nobody

[2020-10-27 19:31] unlikelyzero opened #8470 "Unable to save a Project"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to save a Project. Offending commit https://github.com/ansible/awx/commit/5a67aa7fffd063b46cd94b166194413174a5f16c

##### ENVIRONMENT
* AWX version: 5a67aa7fffd063b46cd94b166194413174a5f16c

##### STEPS TO REPRODUCE
1. Try to create a basic Project

##### EXPECTED RESULTS
Save, 200

##### ACTUAL RESULTS
Error, 500

##### ADDITIONAL INFORMATION
h

[2020-10-27 19:39] tiagodread commented on #8470
Traceback:

[code]

[2020-10-27 19:43] ryanpetrello commented on #8470
Fix: https://github.com/ansible/awx/pull/8471

[2020-10-27 20:16] kdelee commented on #8359
@elyezer happened to be in the neighborhood and tried this out, I think we can close it

This command:
[code]

makes this error come out:
[code]

[2020-10-27 20:16] #8359 closed, assigned to elyezer

[2020-10-27 20:50] kdelee commented on #8454
Going to close this as our downstream tests are now passing, and fix will go out in next release

[2020-10-27 20:50] #8454 closed, assigned to nobody

[2020-10-27 21:05] keithjgrant commented on #7548
Ideally, I'd like to find a solution that doesn't hide the list while loading a new list, because this can cause the page to jump around and/or generally draw more of the user's attention to the slow load time. I'm inclined to look for a way we could show a loading indicator somewhere while an updated list is loading.

[2020-10-27 21:09] drinkeroftea7 commented on #6682
We would want to make sure that we don't run into the same problems caused by running a filter on a large smart inventory, because that would still leave a strong motivation to work with smaller, on-demand inventories in an environment with tens of thousands of managed hosts.

[2020-10-27 21:12] lotaris-xx commented on #6682
Creating an inventory and adding a list of hosts in a single helper API call would be easiest for the end user.  Using smart filters seems to be expensive against large inventories and requires a somewhat complex syntax.

[2020-10-28 02:01] deveb commented on #1288
Same here. Any updates?

[2020-10-28 11:40] unlikelyzero commented on #8470
Covered by project-crud.spec.js

[2020-10-28 11:40] #8470 closed, assigned to ryanpetrello

[2020-10-28 11:52] unlikelyzero opened #8473 "Update JT Edit form's Playbook component to include typeahead select"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
The current JT Edit form uses a standard dropdown component. In the old ui, typeahead was possible (but not great). There is an available component here:
https://www.patternfly.org/v4/components/select/#custom-filtering

##### ENVIRONMENT
* AWX version: 0d3c9ebc2b748e65e45c9a11bcc1f65f5c8a5b0a

##### ADDITIONAL INFORMATION

[2020-10-28 11:55] unlikelyzero commented on #8378
@KongNan it is the next ui. You can pull it down to test it with these instructions: https://github.com/ansible/awx/tree/devel/awx/ui_next

Adding a link to the RFE https://github.com/ansible/awx/issues/8473

[2020-10-28 11:56] unlikelyzero commented on #8465
@tiagodread does this violate an a11y standard?

[2020-10-28 12:02] unlikelyzero commented on #7741
@jlmitch5 @mabashian @wenottingham removing state:blocked as the upstream pf PR component has merged

[2020-10-28 12:04] unlikelyzero commented on #7837
Putting this back into needs_test

[2020-10-28 12:06] unlikelyzero commented on #7952
@keithjgrant just a FYI, that Clear all filters bug is here: https://github.com/ansible/awx/issues/7830

also: a _while you're in there_ bug https://github.com/ansible/awx/issues/6801

[2020-10-28 12:21] unlikelyzero commented on #7740
@jlmitch5 @mabashian putting this into needs_test since all of the associate PRs have merged

[2020-10-28 14:24] AlexSCorey opened #8474 "Clear All Filters in Search should disappear"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After searching it is expected that Clear all filters should be removed after clearing all of the search chips.

##### ENVIRONMENT
* AWX version: 14.1
* AWX install method:  docker for mac
* Ansible version:  2.9.13
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE
1) Go to a list
2) Search for something on that list that gener

[2020-10-28 15:25] unlikelyzero commented on #7400
Set notification body to {"body": "很好找到-介意尝试此PR吗"}

Received webhook:
{"body": "\u5f88\u597d\u627e\u5230-\u4ecb\u610f\u5c1d\u8bd5\u6b64PR\u5417"}

[2020-10-28 15:32] djuwa4 opened #8475 "Errors at installing awx in kubernetes"
##### ISSUE TYPE
Errors at installing awx in kubernetes
##### SUMMARY
I am trying to deploy awx: ansible-playbook -i inventory install.yml, but I get errors.
Please help in solving them.
I need exactly the awx version: awx-9.0.1, No problem with awx-11.0.0.
##### ENVIRONMENT
* AWX version: awx-9.0.1
* AWX install method: kubernetes
* Ansible version:  ansible 2.9.6
* Operating System: CentOS Linux

[2020-10-28 15:42] jlmitch5 opened #8477 "adding a search tag can cause error"
To reproduce:

On the jobs list, try to add an ID filter using the advanced search interface, like this:

![Screen Shot 2020-10-28 at 11 41 10 AM](https://user-images.githubusercontent.com/1342624/97459908-a39ccc80-1912-11eb-984f-abd5b640d7ab.png)

When you click to add the filter, this traceback is displayed:

![Screen Shot 2020-10-28 at 11 41 21 AM](https://user-images.githubusercontent.com/1342

[2020-10-28 15:54] appuk commented on #8011
@beeankha I was able to create and edit an instance group using this module, but when I tried to delete the object using `state: absent`, it did not delete the instance group, and the task passed as ok

[2020-10-28 15:57] appuk commented on #8010
I used the tower_application module to create, update and delete an application, and everything seems working.

@john-westcott-iv Although while using the module, client_type and authorization_grant_type fields were required, and the docs had no mention of that. do you have any idea why is that and if it needs change in the docs?

[2020-10-28 15:59] shanemcd commented on #8475
Please take the time to properly format your issue. It makes helping you easier for us. https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/basic-writing-and-formatting-syntax#quoting-code

[2020-10-28 16:02] one-t commented on #5571
Verified concurrently with #4576

[2020-10-28 16:02] #5571 closed, assigned to nobody

[2020-10-28 16:10] appuk commented on #7622
Verified that I can choose MemberDNGroupType/ edit Group type when LDAP Group Type Parameters aren't set
hence closing

[2020-10-28 16:10] #7622 closed, assigned to nobody

[2020-10-28 16:25] ryanpetrello commented on #7447
Hey @one-t can you provide some details on what got this kicked back to `needs_test` so @jbradberry can have a look?

[2020-10-28 16:25] ryanpetrello commented on #7400
I'll take a look at this.

[2020-10-28 16:27] ryanpetrello commented on #8011
@beeankha or @john-westcott-iv can one of you take a peek at this as you have available time?

[2020-10-28 16:28] ryanpetrello commented on #8010
@beeankha or @john-westcott-iv can one of you take a peek at this as you have available time?

[2020-10-28 16:35] djuwa4 commented on #8475
Completed

[2020-10-28 16:36] ryanpetrello commented on #7400
@unlikelyzero I'm having trouble reproducing this:

<img width="513" alt="image" src="https://user-images.githubusercontent.com/214912/97466890-ff1e8880-1919-11eb-9178-2ab7332c910b.png">

<img width="569" alt="image" src="https://user-images.githubusercontent.com/214912/97466963-12c9ef00-191a-11eb-8f83-77ffd8e2b462.png">
<img width="812" alt="image" src="https://user-images.githubusercontent.com/2

[2020-10-28 16:37] ryanpetrello commented on #7400
(trying with an actual email server)

[2020-10-28 16:44] ryanpetrello commented on #7400
@unlikelyzero it looks like it worked fine to me:

[code]

[code]

[2020-10-28 16:47] unlikelyzero commented on #7400
@ryanpetrello tried with webhook on webhook.site. It's possible that:
1. This fix does not apply to webhooks
2. This webhook testing site cannot handle chinese characters

[2020-10-28 16:53] unlikelyzero commented on #7400
wait, are you sending chinese characters without the json "body" in the message?

I'm sending "{"body": "很好找到-介意尝试此PR吗"}"

[2020-10-28 16:55] ryanpetrello commented on #7400
This looks like the Python `requests` library we use for web hooks is converting the characters to unicode code points.

[2020-10-28 16:55] ryanpetrello commented on #7400
<img width="746" alt="image" src="https://user-images.githubusercontent.com/214912/97469560-ecf21980-191c-11eb-924e-16b0b7366dd4.png">

[2020-10-28 16:56] shanemcd commented on #8475
[code]

This issue was fixed in a previous version of AWX. Please upgrade.

https://github.com/ansible/awx/issues/5286

[2020-10-28 16:56] #8475 closed, assigned to nobody

[2020-10-28 16:56] unlikelyzero commented on #7400
@ryanpetrello ok so close this and reopen another for webhooks for release.next?

[2020-10-28 17:08] ryanpetrello commented on #7400
Okay @unlikelyzero this is ready for another look for the webhooks case.

[2020-10-28 17:47] unlikelyzero commented on #8422
Dupe of https://github.com/ansible/awx/issues/7825

[2020-10-28 17:47] #8422 closed, assigned to nobody

[2020-10-28 17:52] jlmitch5 opened #8478 "user detail link in toolbar broken"
the link for getting to the currently logged in users details from the top toolbar is malformed.  (Link on top right here):

<img width="1680" alt="Screen Shot 2020-10-28 at 1 51 47 PM" src="https://user-images.githubusercontent.com/1342624/97476455-cafc9500-1924-11eb-95bb-94af514e938f.png">

[2020-10-28 17:54] one-t commented on #7447
Hey! Sorry, meant to comment on this- at this point we'd like to test this post-merge. Once it's been merged just put it back in needs_test and we can verify.

[2020-10-28 17:55] ryanpetrello commented on #7447
Okay @one-t, it's merged.

[2020-10-28 17:55] unlikelyzero opened #8480 "[Meta-issue] Advanced Search Issues and RFEs"
##### ISSUE TYPE
 - Feature

##### SUMMARY
Note: tagging as Feature on this one so that someone can figure out what's required vs an enhancement based off of what I collected into the meta-issue

There are several advanced search bugs floating around and I collected them for my own sanity

- [ ] [The elements in an advanced search are pushed off screen
The Kebab is triggered by is not used
Z-depth

[2020-10-28 18:07] marshmalien commented on #8443
Example of a common issue:
**Location** `/next/templates`
**Axe result** `ARIA attribute element ID does not exist on the page: aria-describedby="pf-tooltip-2114"`
<img width="1710" alt="Screen Shot 2020-10-28 at 2 07 54 PM" src="https://user-images.githubusercontent.com/15881645/97478210-01d3aa80-1927-11eb-8587-d894cc1d0b77.png">

[2020-10-28 18:09] jbradberry commented on #8010
I've just taken a peek at this, and see that those two fields are required fields on the model.

https://github.com/ansible/awx/blob/a7a3609e48eab7faf9e5968f43321234dc1d70fa/awx/main/models/oauth.py#L74-L87

The docs definitely should be updated to reflect that.

[2020-10-28 18:14] unlikelyzero commented on #7400
![asdf](https://user-images.githubusercontent.com/12446869/97478820-ddc49900-1927-11eb-9ac5-4ff6c6d691d5.jpg)

[2020-10-28 18:16] jbradberry commented on #8011
After taking a quick look at the merged PR, it looks to me as if the problem is a minor typo, `if state is 'absent'` instead of `if state == 'absent'`.

[2020-10-28 18:20] #7400 closed, assigned to ryanpetrello

[2020-10-28 18:38] ryanpetrello commented on #8011
@appuk can you give this another try?

[2020-10-28 18:43] keithjgrant commented on #7952
I think this is specifically an issue with the Smart Host lookup, since that lookup is a special case and doesn't use the same sub-component we use for other lookups.

[2020-10-28 18:43] jakemcdermott commented on #8478
:+1: tested. it works!

[2020-10-28 19:03] wenottingham commented on #6682
There are multiple issues with that:
- creating multiple different sorts of objects in single REST call is not the normal paradigm, and introduces a nonzero amount of complexity from a partial creation standpoint (and needing to unroll the transaction)
- creating multiple different objects (inventory, group, hosts) and then deleting them for each job is a much more problematic workflow to optimize

[2020-10-28 19:15] thedavidwhiteside opened #8481 "plugin: inventory config specifies unknown plugin 'amazon.aws.aws_ec2'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: AWX 15.0.0
* AWX install method: docker on linux (k8)
* Ansible version:  2.9.13
* Operating System: CentOS8
* Web Browser: Any

##### STEPS TO REPRODUCE

I installed AWX using awx-operator (https://github.com/ansible/awx-operator) on a k8 cluster.  Tried to setup an inventory source from AWS EC2.  The sync resulted in

[2020-10-28 19:16] ryanpetrello commented on #8010
@jbradberry pointed out that these maybe shouldn't actually be required (what if you pass `state:absent`?)

cc @appuk

[2020-10-28 19:21] kdelee commented on #8010
Thats what we were wondering.

Maybe we could use the `description` field to say they are required for creation.

[2020-10-28 19:30] wenottingham commented on #8469
The first of these is not really a thing. The system administrator has full access, by design.

For the second, there is the user admin/team admin role of org admin. It could be more clearly split out. But generally the best way to control this is via IdM integration.

[2020-10-28 19:31] wenottingham commented on #8469
This likely follows on from #4553, in terms of disabling user/group management.

[2020-10-28 19:37] wenottingham commented on #8481
Are you able to reproduce this with the standard k8s installation? It may be a bug in the operator.

[2020-10-28 19:38] ryanpetrello commented on #8010
@kdelee unless you all feel strongly, I'm gonna vote for "meh".  If you don't specify these args for create, does it give you some reasonable/discernable error message?

[2020-10-28 19:41] ryanpetrello commented on #8010
[code]

Yea, this is a bug 'ol "meh" from me.

[2020-10-28 19:41] #8010 closed, assigned to jbradberry, john-westcott-iv

[2020-10-28 19:41] appuk commented on #8010
@ryanpetrello yes it does give an error message, we can close this out! 👍

[2020-10-28 19:41] ryanpetrello commented on #8010
Thanks @appuk!

[2020-10-28 20:52] unlikelyzero commented on #8478
@jakemcdermott we don't have any coverage for this one in the tests. If you don't mind, i'm going to re-open this for post-merge testing

[2020-10-28 21:05] #8477 closed, assigned to jlmitch5

[2020-10-28 21:07] thedavidwhiteside commented on #8481
I haven't tested a standard k8 install.  I believe your correct and this may be the operator bug https://github.com/ansible/awx-operator/issues/36

- David

[2020-10-28 21:10] mvrk69 commented on #6213
Yup, this fix works perfectly.

Thanks.

[2020-10-28 21:17] appuk commented on #8011
The instance group is deleted on stating `state: absent`, Hence closing!

[2020-10-28 21:17] #8011 closed, assigned to jbradberry

[2020-10-28 21:57] marshmalien commented on #7952
Related PR: https://github.com/ansible/awx/pull/7644

This is not a systemic lookup issue. The smart host filter is a one-off lookup because it behaves very differently from our generic lookup. The generic lookup search component filters a list of items that a user could select from. The smart host lookup filters AND selects the list of hosts by turning the search query into a "host filter string"

[2020-10-28 22:37] wenottingham commented on #8481
Yes, https://github.com/ansible/awx-operator/issues/36 looks like it would cause this exact error. Closing this issue.

[2020-10-28 22:37] #8481 closed, assigned to nobody

[2020-10-28 23:51] mvrk69 opened #8484 "Source variables not working when running vCenter inventory sync"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Source variables to override the ones in vmware_inventory.ini as described in the documentation don't work.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: kubernetes
* Ansible version:  2.9.5
* Operating System: Fedora 31

##### STEPS TO REPRODUCE

I set this 2 variables in the SOURCE VARIABLES field
alias_pattern: config.name
host_patt

[2020-10-29 00:04] wenottingham commented on #8484
You need to enter a config as described here:

https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_vm_inventory_inventory.html

We'll get the tooltip updated.

[2020-10-29 00:36] yeago commented on #5323
A bit hacky since you have to target a host but I did an intermediate template in the workflow that only launches this

[code]

[2020-10-29 01:42] ainaomotayo commented on #3397
This works for my AWX:

Edit or change /etc/python/cert-verification.cfg
verify=disable

[2020-10-29 07:28] djuwa4 commented on #8475
Good afternoon! Unfortunately ((I didn't quite understand what actions I need to take. Are you suggesting that I install a new version of AWX? We just need to install version 9.0.1. This is a 9.0.1 fork specifically designed for us. I would like to understand how to deploy this version with kubernetes versions 1.17.0 and 1.17.4. There is a possibility?

[2020-10-29 08:17] djuwa4 commented on #8475
I try like this:
I change the lines in the deployment.yml.j2 file to these:
[code]
Instead:
[code]

[2020-10-29 08:22] djuwa4 commented on #8475
Remaining errors:
[code]
The error output starts with these lines:
[code]
As I understand it, the error indicates incorrect syntax in the configmap.yml.j2 file. Am I getting it right?
I created a public branch with my error txt file and configmap.yml.j2:
https://github.com/djuwa4/awxerrors

[2020-10-29 09:21] mvrk69 commented on #8484
thanks for the info. doing like described on that document works perfectly.

[2020-10-29 10:55] djuwa4 opened #8485 "Error at installing awx-9.0.1 in kubernetes 1.17.4"
##### ISSUE TYPE
[code]
##### ENVIRONMENT
AWX version: awx-9.0.1
AWX install method: kubernetes
Ansible version: ansible 2.9.6
Operating System: CentOS Linux release 7.7.1908 (Core)
kubernetes version: 1.17.4
Web Browser:

##### STEPS TO REPRODUCE

ansible-playbook -i inventory install.yml

##### EXPECTED RESULTS

installing awx in kubernetes

##### ACTUAL RESULTS

Error:
[code]
The error output s

[2020-10-29 11:19] domq opened #8486 "In Kubernetes container groups, user-supplied .metadata.labels is ignored"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Due to `awx/main/scheduler/kubernetes.py` overriding the `.metadata.labels` of the pods it creates (instead of merging them with the user-supplied `pod_spec_override`), features such as pod anti-affinity between AWX runners cannot work.

##### ENVIRONMENT
* AWX version: 15.0.1 (also present in devel)
* AWX install method: openshift
* Ansible version:

[2020-10-29 12:34] djuwa4 commented on #8485
I edited the file in notepad ++ There really was no indentation on line 72, but I still get the error.

[2020-10-29 12:52] djuwa4 commented on #8485
Strange, but in nano I saw too much indentation on line 72.
In general, I solved this problem. The problem is in version awx-9.0.1 on line 72 of the configmap.yml.j2 file.

[2020-10-29 12:56] unlikelyzero opened #8488 "Implement Management Jobs for AWX PF"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Management Jobs

[2020-10-29 12:56] unlikelyzero commented on #8488
linked to https://github.com/ansible/awx/pull/8103

[2020-10-29 13:11] ilijamt commented on #8327
This does not happen if Redis is extracted outside the deployment.
[code]

[2020-10-29 16:01] AlexSCorey commented on #7691
This is addressed by #8261 and #8262

[2020-10-29 16:02] #7691 closed, assigned to AlexSCorey

[2020-10-29 16:22] MalfuncEddie opened #8490 "ansible_winrm_transport: certificate should get the pub and private key from machine credentials"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
For Linux hosts you can specify the following in the machine credential type.

- username
- password
- SSH private key
- SSH certificate
...

It would be nice if for windows hosts it could use the same input but where de pub/private key is filled in (and mapped to the ansible_winrm_cert_pem , ansible_winrm_cert_key_pem variables.
Although windows cer

[2020-10-29 16:57] tiagodread commented on #8238
Tests covered by:
[code]

[2020-10-29 17:09] #8238 closed, assigned to AlexSCorey

[2020-10-29 17:45] tiagodread commented on #8465
Not necessarily but we need keep the consistency between the importance of that information for the user (reading or listening)

[2020-10-29 18:14] tiagodread commented on #7447
Hey verified that:

- The exported file contains the hosts and groups ✔️
- The user can import this inventory file exported ✔️

Inventory with host and group:

[code]

[2020-10-29 18:22] #7447 closed, assigned to jbradberry, tiagodread

[2020-10-29 18:28] unlikelyzero commented on #8474
This is a dupe of https://github.com/ansible/awx/issues/7830

[2020-10-29 18:41] mabashian commented on #7830
Going to close this in favor of #8474

[2020-10-29 18:41] #7830 closed, assigned to jlmitch5

[2020-10-29 20:46] tiagodread opened #8493 "Add environment variable field for all inventory source types"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This issue is a copy from this [3.8.0 issue ](https://github.com/ansible/tower/issues/4652)
That allow all inventory sources to enable the `Environment Variable` field in the ui_next.

Original PR: https://github.com/ansible/tower/pull/4653

[2020-10-30 00:13] mrmibrown opened #8494 "Dynamic inventory sync from an isolated node"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is a request for a feature to allow a dynamic inventory sync from an isolated node.

RELATED ARTICLE:
https://access.redhat.com/solutions/3825471

We are trying to get a dynamic inventory script to run on an isolated node in the oracle cloud.
I see here in the below article that this is not possible because: "Isolated nodes only have minimal req

[2020-10-30 08:49] howardjones opened #8495 "No option for credential input_source in either awx-cli or awx.awx ansible collection"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

With awx-cli and awx.awx, you can create a credential, but you can't link the fields to input_sources for external vaults.

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: kubernetes
* Ansible version:  2.9.13
* Operating System: CentOS 8 inside the container
* Web Browser: Chrome 86

##### STEPS TO REPRODUCE

* create a credential in th

[2020-10-30 11:44] gazzerman2 commented on #8495
I see the same in 15.0.1 and I had it in 14.0.1 also - this is blocking me.
![Uploading Screenshot 2020-10-30 at 11.43.21.png…]()

[2020-10-30 11:46] gazzerman2 commented on #8495
I see the same in 15.0.1 and it was the same in 14.0.1 also. This is blocking as I can't connect to a github repository.
![Screenshot 2020-10-30 at 11 43 21](https://user-images.githubusercontent.com/56310190/97701559-83e9dd80-1aa5-11eb-9a7b-426b9fa79d77.png)

[2020-10-30 12:55] dasJ commented on #6792
Does it work after applying  #8497 ?

[2020-10-30 12:59] mskender opened #8498 "Jobs not refreshing - websocket 404 error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Jobs not refreshing - websocket 404 error

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: kubernetes 1.18
* Ansible version:  2.9.6
* Operating System: linux
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Run any jobs from the UI.

##### EXPECTED RESULTS

Jobs autoscrolls/refreshes going through various

[2020-10-30 14:18] u849296 opened #8500 "Azure Resource Manager Plugin unknown"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using the Azure Resource Manager plugin I am getting plugin unknown:

File "/usr/lib/python3.6/site-packages/ansible/plugins/inventory/auto.py", line 53, in parse
    raise AnsibleParserError("inventory config '{0}' specifies unknown plugin '{1}'".format(path, plugin_name))

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: openshift
*

[2020-10-30 14:22] wenottingham commented on #8500
Did you install using the AWX operator?

[2020-10-30 14:25] u849296 commented on #8500
Yes I did.

[2020-10-30 14:38] wenottingham commented on #8500
-> https://github.com/ansible/awx-operator/issues/36

[2020-10-30 14:38] #8500 closed, assigned to nobody

[2020-10-30 14:57] howardjones commented on #8495
Also for /api/v2/organizations/2/galaxy_credentials/

[2020-10-30 14:57] wenottingham commented on #8271
The docs specifically say it pulls VMs. See https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_vm_inventory_inventory.html

If you want it to pull templates, that would be an enhancement request to file at https://github.com/ansible-collections/vmware

[2020-10-30 14:57] #8271 closed, assigned to nobody

[2020-10-30 15:13] wenottingham commented on #8494
With the changes we are making to inventory updates (https://github.com/ansible/awx/issues/7061) we are not going to do this directly in this way. We'd have to consider this in that context.

[2020-10-30 15:13] #8494 closed, assigned to nobody

[2020-10-30 15:13] wenottingham commented on #7061
There is a request in https://github.com/ansible/awx/issues/8494 to essentially delegate the inventory update to a node in the execution plane. Hanging off here in case it could be a potential use case.

[2020-10-30 15:16] AlexSCorey commented on #8240
this issue is completed and should be closed. https://github.com/ansible/awx/pull/8263

[2020-10-30 15:16] #8240 closed, assigned to AlexSCorey

[2020-10-30 15:17] wenottingham commented on #8485
awx-9 is *very* old at this point, and is not maintained. Please try the current release (15.0.1) and reopen if you see issues.

[2020-10-30 15:17] #8485 closed, assigned to nobody

[2020-10-30 15:20] mabashian opened #8501 "Attempting to delete a workflow approval template results in 500 error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1148" alt="Screen Shot 2020-10-30 at 11 16 35 AM" src="https://user-images.githubusercontent.com/9889020/97722929-94985480-1aa1-11eb-9f42-21eac7c2003f.png">

See the bottom of the issue for full traceback.

##### STEPS TO REPRODUCE
1. Create a workflow
2. Create a workflow approval node
3. Save workflow
4. Attempt to delete the created work

[2020-10-30 15:27] jakemcdermott commented on #8498
:wave: I just deployed latest devel to gke using the installer and websockets seem to be working fine. Can you share an exact inventory, set of playbook variables, and steps to reproduce this bug from a completely fresh install? Thanks!

[2020-10-30 15:27] Cadjoe opened #8502 "Unable to install AWX - Playbook fails"
##### ISSUE TYPE
 - ERROR! couldn't resolve module/action 'docker_image'. This often indicates a misspelling, missing collection, or incorrect module path.

##### SUMMARY
[code]

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method:  docker on linux
* Ansible version:  2.10.1
* Operating System: Oracle Linux 8
* Web Browser: ---

##### STEPS TO REPRODUCE

I followed the AWX [installation g

[2020-10-30 15:30] ryanpetrello commented on #8502
Hey @Cadjoe,

There's some extra requirements if you're using Ansible 2.10+

You'll want to move to either 15.0.1 or incorporate the changes from this diff:

https://github.com/ansible/awx/commit/9818440d0f91ce4b4fee513fba73dcc99f188271#diff-09b140a43ebfdd8dbec31ce72cafffd15164d2860fd390692a030bcb932b54a0

[2020-10-30 15:30] #8502 closed, assigned to nobody

[2020-10-30 15:35] mskender commented on #8498
Here's the inventory I'm installing from:

[code]

This is the inventory I have used today to reinstall (after dropping namespace first, of course).
Please note that I'm using baremetal MetalLB plugin for implementing LoadBalancer and also self-deployed Nginx Ingress controller.
However, this is the first time I'm actually having trouble with LB/Ingress despite running dozen of namespaces.
AWX run

[2020-10-30 15:37] tiagodread commented on #8453
Tests covered by 5658 and PR already merged

[2020-10-30 15:37] #8453 closed, assigned to nixocio

[2020-10-30 15:49] jakemcdermott commented on #8498
However, this is the first time I'm actually having trouble with LB/Ingress despite running dozen of namespaces.

Hello!

Thanks for the information. This is more than likely a system configuration issue with the added load balancer setup than an actual bug with the installer code provided in this repo.

The best place to look for help with debugging your awx installation or technical assistance w

[2020-10-30 15:49] #8498 closed, assigned to nobody

[2020-10-30 16:47] rcdlinux opened #8504 "No filter need in Logstash for Ansible Tower 3.7.x"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Tower 3.7.x documentation[1] instructs to configure a filter into Logstash configuration file /etc/logstash/conf.d/tower.conf, since the Tower 3.7.x has its own rsyslog package[2], this configuration seems to be causing errors on log files as sample described below [3].

When configuring Logstash without filter on /etc/logstash/conf.d/tower.conf file

[2020-10-30 16:51] jklare commented on #6792
@dasJ I think the patch could still run into the issue where the "while loop" exits because it successfully accesses the instance of the "docker_temp_server" that will be killed directly after. It makes it a lot more unlikely, but i do not see how the patch would completely avoid this case. It think the real fix here is to make the aws-task container completely fail on this error and start fresh (

[2020-10-30 16:54] dasJ commented on #6792
@jklare wdym by "docker_temp_server"? I can neither find it in this repo nor when googeling

[2020-10-30 16:59] jklare commented on #6792
@dasJ in the description of the issue @anxstj gave a couple of post above, it is mentioned. This temp postgres server instance is basically run when starting the postgres container to run initial migrations (https://github.com/docker-library/postgres/blob/master/11/docker-entrypoint.sh#L297-L302). And since this temp server is available and accepting connections and then killed/stopped shortly aft

[2020-10-30 17:05] dasJ commented on #6792
Oof. But I can't think of a way to prevent this issue :/
But it's probably a lot less severe since the second loop only succeeds when connection as the `awx` user succeeds which it only does when the postgres init script was already run (and not while it's runnig).

[2020-10-30 17:12] jklare commented on #6792
Yeah, i think it will be a lot less likely to happen (just running any command will already help here), but i think the real fix would be to make the awx-task container fail hard and exit if the db migration fails for any reason. It will be automatically restarted after exiting, the migration will be retried and will work the second time for sure. I have not had time yet to investigate on where to

[2020-10-30 17:18] dasJ commented on #6792
I was hoping my `set -e` does exactly that. If the processes tend to retry their migrations, I'm honestly too lazy to investigate this ;)

[2020-10-30 17:22] ryanpetrello commented on #8484
The tooltip will be updated in the next version of AWX.

[2020-10-30 17:22] #8484 closed, assigned to nobody

[2020-10-30 18:07] mrmibrown opened #8505 "Log rsyslog failures with a counter"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is a request to log rsyslog failures with a counter to provide more transparency when a message is dropped.

To help avoid the silent dropping of messages it would be good to have metrics keep a counter that is incremented every time a log message is dropped. Maybe have a "dropped external logger message" category that has sub counts for message

[2020-10-30 18:42] AdamWyzgol opened #8507 "deprecated apiVersion for ingress"
### SUMMARY
When installing on Kubernetes 1.19.3 I got an warning:
extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress

[2020-10-30 19:04] jladdjr commented on #7061
Just to give a general update on things here:

With Alan out, I've picked up https://github.com/ansible/awx/pull/8323. We've been testing those changes and I just had a chance to review the results with @shanemcd. We came up with a few remaining todo items:
- [x] need to pull out code that removed proot behavior (don't want there to be a gap period where proot disappear without having containers p

[2020-10-30 19:52] gary1998 commented on #8507
kindly update the extension name from `extensions/v1beta1` to `networking.k8s.io/v1` with an if condition [here](https://github.com/ansible/awx/blob/8206874158ce555381087c47d28306f32f951a40/installer/roles/kubernetes/templates/deployment.yml.j2#L535). This would do the required work.
More clearly, it should look like this:
`apiVersion: {{ 'networking.k8s.io/v1' if kube_api_version is version('1.14

[2020-10-31 11:04] klausfranken opened #8511 "OpenSource AWX Webgui always redirect to AWX Subscription-Page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

It its always a redirection to AWX Subscription page because /var/lib/awx/.tower_version always exists in awx_web container

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.13
* Operating System: Ubuntu 18.04.5 LTS
* Web Browser: Firefox 82.0.2

##### STEPS TO REPRODUCE

awx/installer/inventory
[co

[2020-10-31 15:51] ryanpetrello commented on #8511
Hey @klausfranken,

Thanks for reporting this - I'll take a closer look and get a fix merged on Monday.  In the meantime, I think this should fix the issue if you want to give it a whirl:

https://github.com/ansible/awx/pull/8512

[2020-10-31 17:56] klausfranken commented on #8511
Hi @ryanpetrello,

#8512 / https://github.com/ansible/awx/pull/8512/commits/c64f2552d1b9f18b404cbc756659aa6f53816207  works for me (in case of the OpenSource licence, I don't know what REDHAT_CANDLEPIN_HOST is)

Thanks
Klaus

[2020-11-01 19:42] boldandbusted commented on #8300
Are there other parts of the AWX installer code (playbooks or otherwise) that are good examples of proper dependency chaining between containers and container state that we could mimic here?

[2020-11-01 20:14] unlikelyzero commented on #6302
@mabashian is there a good way to unit test this?

[2020-11-02 07:03] maydayuiui opened #8513 "When run a job template, put the credential prompt in last place."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We use Prompted crendential and Prompted Survey both. But our login method is to use RSA SecureID token which will change in a minute. In currently setting, survey always comes out after crendetial input. If the survey is long, we can't get the ssh connection success. Is it possible to put promted credential in last place? Thanks.

[2020-11-02 13:29] kev-mas opened #8514 "kex_exchange_identification when using Bastion Host"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

We run up our infrastructure with Terraform in AWS, and we have two inventories setup in AWX. One imports two of the instances and their public IPs, while the other imports all the other instances with their private IPs.
After the first import, we were able to use AWX to run playbooks against the public instance, and against the private instances usin

[2020-11-02 14:52] unlikelyzero commented on #8480
@AlexSCorey given your recent work on kebabs, can you take a quick look at this tickets to see which are related or solved by your work?

[2020-11-02 15:11] Tioborto opened #8515 "Possibility to track users using Google analytics"
##### ISSUE TYPE
 - Possibility to track users using Google analytics by adding an ID in the interface

##### SUMMARY
It would be interesting to be able to add the ID provided by Google Analytics within the interface in order to follow the users' adherence to the product.

[2020-11-02 16:19] AlexSCorey commented on #7825
@unlikelyzero this is still a valid issue, however the screen shot above is not quite accurate any longer.  The buttons shown above are not buttons anymore, but instead are drop down items.  Adding a screen show for clarity.
![Screen Shot 2020-11-02 at 11 15 57 AM](https://user-images.githubusercontent.com/39280967/97891459-cce79f00-1cfc-11eb-8a9b-e9a4ef657984.png)

[2020-11-02 16:22] AlexSCorey commented on #7938
Tool bar going off the screen on a list view.
![Screen Shot 2020-11-02 at 11 21 47 AM](https://user-images.githubusercontent.com/39280967/97892142-a5450680-1cfd-11eb-9805-ea817e097bd6.png)

[2020-11-02 16:24] AlexSCorey commented on #8480
@unlikelyzero I updated this issue, and a few other.  My recent work solves the last item in the list above as noted in the issue.

[2020-11-02 16:25] AlexSCorey commented on #8480
Removing myself from this issue as I'm not working on it directly.

[2020-11-02 16:25] AlexSCorey commented on #7773
removing myself to reflect accurate priorities

[2020-11-02 16:49] philipsd6 opened #8517 "Support date ranges with awxkit --created --modified parameters"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently the `--modified` and `--created` options for awxkit are **not useful**, as they require an exact match. I.e. this returns the results of the *one* job modified at exactly this microsecond timestamp:

`awx job list --modified "2020-07-04T03:50:03.895868Z"`

But it is not possible to get a list of jobs created/modified on this _day_. This re

[2020-11-02 18:54] unlikelyzero commented on #8478
Note: this is a dupe of https://github.com/ansible/awx/issues/7526

[2020-11-02 18:54] #7526 closed, assigned to nobody

[2020-11-02 18:54] ryanpetrello commented on #8511
Hey @klausfranken, we ended up fixing this another way via https://github.com/ansible/awx/pull/8516

Thanks for reporting - go ahead and give `devel` another try (keep in mind you'll have to build your own custom image until the next release of AWX is out).

https://github.com/ansible/awx/blob/devel/INSTALL.md#clone-the-repo

[2020-11-02 18:54] #8511 closed, assigned to ryanpetrello

[2020-11-02 18:57] mabashian commented on #5977
I don't think this is blocked by PF anymore

[2020-11-02 18:57] mabashian commented on #6164
It looks like this feature was merged but hasn't been released yet

[2020-11-02 18:58] unlikelyzero commented on #7706
Verified in 5659

[2020-11-02 18:58] #7706 closed, assigned to nixocio

[2020-11-02 18:58] nixocio commented on #8098
In order to recreate this issue.

Go to`Inventories>{anyInventory}Sources>Create new source`.

Create a source inventory which related project contains a file like, `foo.ini`:

[code]

[2020-11-02 18:58] mabashian commented on #4212
See http://patternfly-react.surge.sh/components/skeleton

[2020-11-02 18:59] mabashian commented on #5628
Im not sure that this is still blocked by PF

[2020-11-02 19:49] marshmalien commented on #7825
Status update - There is a fix pending in PatternFly Core:
Issue: patternfly/patternfly#3348
PR: patternfly/patternfly#3629

[2020-11-02 19:55] marshmalien commented on #7777
Status Update:
The Slider component is currently scheduled for PatternFly's 02.17.2021 release date, but we trying to get the Slider pulled into their 01.28.2021 release. Will continue to monitor.

[2020-11-02 20:07] ryanpetrello commented on #8517
Hey, https://en.wikipedia.org/wiki/ISO_8601#Time_intervals is a neat thing I didn't know about.  This is a good idea, thanks for filing it @philipsd6.

[2020-11-02 20:14] marshmalien commented on #7145
PatternFly Status Update:

* They released a beta date picker component upstream - [date picker docs](https://www.patternfly.org/v4/components/date-picker/react)
* Their next priority is the [date component cleanup issue](https://github.com/patternfly/patternfly-react/issues/5057) with target date of 11.18.2020.
* The PF React [time picker issue](https://github.com/patternfly/patternfly-react/issu

[2020-11-02 20:21] marshmalien commented on #6351
PatternFly Status Update:
This [issue](https://github.com/patternfly/patternfly/issues/3087#issuecomment-690734544) was fixed in PF Core v4.40.0

[2020-11-02 20:24] marshmalien commented on #6164
PF Status Update:
* [Action List component issue](https://github.com/patternfly/patternfly-react/issues/4880) is scheduled for the 11.18.2020 release.

[2020-11-02 20:37] jboss4332 commented on #6175
I am having this issue so I would be interested in if anyone has found a solution.

`Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1279, in run self.pre_run_hook(self.instance, private_data_dir) File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1862, in pre_run_hook sync_task.run(local_project_sync

[2020-11-02 20:40] marshmalien commented on #6214
PatternFly Status Update:

* They released a beta date picker component upstream - [date picker docs](https://www.patternfly.org/v4/components/date-picker/react)
* Their next priority is the [date component cleanup issue](https://github.com/patternfly/patternfly-react/issues/5057) with target date of 11.18.2020.
* The PF React [time picker issue](https://github.com/patternfly/patternfly-react/issu

[2020-11-02 20:51] kdelee commented on #5735
fwiw not all modules in the kubernetes collection use the same env vars https://github.com/ansible-collections/community.kubernetes/issues/289

[2020-11-02 21:19] AlexSCorey commented on #8488
Assigned jake because he already has the work ready for PR for this.

[2020-11-02 21:19] klausfranken commented on #8511
Hi @ryanpetrello ,
I built a new image. Works for me.
Thanks,
Klaus

[2020-11-02 21:30] dugs951 opened #8521 "hard drive full"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### AD

[2020-11-02 21:30] #8521 closed, assigned to nobody

[2020-11-02 21:30] dugs951 commented on #8521
Wrong

[2020-11-02 21:33] dugs951 opened #8522 "Can i delete my cache"
Hi,

i have 50GB drive on my AWX Server and all days after Update i have more dates on my AWX drive.
I think he make cache.
How i can delete cache from my awx server?

[2020-11-02 21:33] ryanpetrello commented on #8522
Hey @dugs951,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-11-02 21:33] #8522 closed, assigned to nobody

[2020-11-02 21:35] jladdjr commented on #7061
Restored the proot code on Alan's refactor PR. Confirmed that inv. update jobs create a separate folder for isolation and that sensitive files aren't present. Details [here](https://github.com/ansible/awx/pull/8323/commits/4b021e263a701672b59465d89136947768828346).

[2020-11-02 21:37] jmhbnz opened #8523 "Unable to associate workflow nodes on success / failure with awx cli"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm using AWX cli to automate the configuration of an instance as code and cannot seem to find any functionality to associate a workflow job template node to other workflow job template nodes on success / failure to create the required end to end business process.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX CLI version: 15.0.1
* AWX install method:

[2020-11-02 21:50] wenottingham commented on #8515
I suspect this isn't ever something we would add upstream in this way. For a downstream users, I suspect adding a tracker would be done by hooking into the UI build process to add it there.

[2020-11-03 01:50] jladdjr commented on #7061
Restored venv's for project updates as well:
https://github.com/ansible/awx/pull/8323/commits/0428d2c2467866f86510f97d97ff7023f42dee57

[2020-11-03 07:12] haribhauhud opened #8524 "How to pass tenant's configs.yml vars in AWX with higher precedence"
We are using AWX and Kubespray to deploy Kubernetes cluster.  We have multiple customers(tenants) and each customer has multiple kubernetes environments such as dev, stg, canary and prod. So each  k8s cluster has its own inventory and respective configs.yml file stored in inventory location. Configs.yml has many ansible variables which has customer specific values such as docker_version, etcd_vers

[2020-11-03 08:22] Tioborto commented on #8515
Thank you @wenottingham for your prompt response.
Can you tell me where I can correct the front to add the analysis parameters, please?

[2020-11-03 13:00] tiagodread commented on #8467
PR already merged, we already have a visual test to cover it.

[2020-11-03 13:00] #8467 closed, assigned to nixocio

[2020-11-03 13:48] ryanpetrello commented on #8524
Hey @haribhauhud,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

Your mailing list post is the appropriate place for this sort of conversation: https://groups.google.com/d/msgid/awx-project/c8936367-fe31-4566-9af6-2ed8a8a0b9c7n%40googlegroups.com?utm_medium=email&utm_source=footer

[2020-11-03 13:48] #8524 closed, assigned to nobody

[2020-11-03 14:19] showingtime-devops opened #8525 "Notifications stuck in queue, no way to purge."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have 200 notifications stuck in queue with no way to remove them and I cannot delete the notification template.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: Amazon EKS
* Ansible version:  2.9.14
* Operating System: Linux
* Web Browser: Firefox, Chrome

##### STEPS TO REPRODUCE

N/A

##### EXPECTED RESULTS

Expect to be able to resen

[2020-11-03 14:21] faroukellouze commented on #4539
Hello,
I'm currently sending the hole `{{ job_metadata }}`  in the notification (type rocket.chat) and I can see the field extra vars.
![image](https://user-images.githubusercontent.com/11664152/97995616-05fc3e00-1de7-11eb-94e7-57e9e0daf72d.png)

But when I send `{{ job_metadata.extra_vars }}` the AWX UI give me this error **Failed to update notifier. Field 'extra_vars' unavailable.**.
So as a wor

[2020-11-03 14:54] draghan commented on #6140
Any idea what could happen? We are facing similar issue, where the whole fact cache is gone.

[2020-11-03 15:34] ryanpetrello commented on #8525
Hey @showingtime-devops,

There *might* be some hints in your logs that could explain _why_ these notifications are stuck in pending - I expect it's likely related to some sort of bug or side effect of a service restart.

If anybody wants to take a stab at improving this, there's a few things we could do to address this in terms of cleanup.

1.  Allow you to resend "old" pending notifications (pro

[2020-11-03 15:39] jfugate commented on #8334
Thanks, this helped out actually. I didn't realize the difference between these two:

[code]
and
[code]

[2020-11-03 15:39] #8334 closed, assigned to beeankha

[2020-11-03 15:40] mabashian opened #8527 "Consider having links in summary step of workflow node prompt open in a new tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1169" alt="Screen Shot 2020-11-03 at 10 37 02 AM" src="https://user-images.githubusercontent.com/9889020/98006858-bacf3480-1dc0-11eb-9105-d778167d5c60.png">

While you're creating/editing a workflow node with prompts, if you click on one of these links you get navigated to those resources in the current tab.  This means that any progress

[2020-11-03 15:56] showingtime-devops commented on #8525
Hi @ryanpetrello ,

Option 2 works for me.  I really don't need a job notification from last year :smile:

[2020-11-03 16:08] nstrug commented on #8504
To clarify, all we need to do is remove the filter and it just works, so the reference to the filter needs to be removed in the doc.

[2020-11-03 16:18] #8525 closed, assigned to nobody

[2020-11-03 16:22] ryanpetrello commented on #8504
@rcdlinux do you have a link to which documentation you're referring to?

This?

https://docs.ansible.com/ansible-tower/latest/html/administration/logging.html#elastic-stack-formerly-elk-stack

[2020-11-03 16:48] wenottingham commented on #8515
That would be something you would figure out how to do downstream in your fork/build.

[2020-11-03 16:48] #8515 closed, assigned to nobody

[2020-11-03 17:38] #8486 closed, assigned to nobody

[2020-11-03 17:54] unlikelyzero opened #8530 "Incorrect element ID for instance groups layout"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Instance Group Page has an underscore in the element ID. `#instance_group-list-toolbar` should be `#instance-group-list-toolbar`
##### ENVIRONMENT
* AWX version: 114bcd0349d571a082dc7ca92cb68980cdcec214

##### ADDITIONAL INFORMATION

[2020-11-03 19:45] mabashian opened #8532 "Show vault id in credentials list in JT credential field lookup"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1220" alt="Screen Shot 2020-11-03 at 2 43 04 PM" src="https://user-images.githubusercontent.com/9889020/98033102-00045e00-1de3-11eb-9211-3cd1d04b412d.png">

We indicate to the user that they can only select one vault credential per ID but we don't show them the ID's.

[2020-11-03 22:21] rev3r4nt opened #8533 "Logstash fails to parse event_data from job events logger"
#### ISSUE TYPE
 - Bug Report

##### SUMMARY
Some `event_data` field in the [job event](https://docs.ansible.com/ansible-tower/latest/html/administration/logging.html#job-event-schema) payload, could not be processed by [Logstash json codec filter](https://docs.ansible.com/ansible-tower/latest/html/administration/logging.html#elastic-stack-formerly-elk-stack).

##### ENVIRONMENT
* AWX version: 15.

[2020-11-04 12:42] ylebi commented on #490
I know it's been a while for that issue, but hope it will assist others.

You can add this extra variable in the Jobs Settings via the AWX web interface (http://awx/#/settings/jobs) under "EXTRA ENVIRONMENT VARIABLES"
Additional information in the documentation: https://docs.ansible.com/ansible-tower/latest/html/administration/configure_tower_in_tower.html#jobs

{
 "GIT_SSL_NO_VERIFY": "True"
}

[2020-11-04 14:36] AlexSCorey opened #8535 "Upgrade PF dep"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Upgrade the PF dependency

[2020-11-04 15:57] phospi commented on #8455
ran into the same issue with the following specs:

ENVIRONMENT
- AWX version: 15.0.1
- AWX install method: docker compose on linux
- Ansible version: 2.9
- Operating System: CentOS 7
- docker-ce: 1.13.1, build 64e9980/1.13.1
- docker-compose: 1.26.2, build unknown
- redis docker image version 6.0.5 or 6.0.9

[2020-11-04 16:26] JeromeH27 opened #8536 "Got "IndexError: list index out of range error" with cisco.ios.ios_banner module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Got "IndexError: list index out of range error" with cisco.ios.ios_banner module(from cisco.ios collection version 1.1.0)

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker on linux
* Ansible version:  2.10.1
* Operating System: Linux Centos
* Web Browser: Google Chrome 86.0.4240.111

##### STEPS TO REP

[2020-11-04 16:38] ryanpetrello commented on #8536
Hey @JeromeH27,

[code]

This doesn't look like a bug in AWX.

https://github.com/ansible-collections/cisco.ios/issues

[2020-11-04 16:38] #8536 closed, assigned to nobody

[2020-11-04 16:39] ryanpetrello commented on #8536
https://github.com/ansible-collections/cisco.ios/issues/50

[2020-11-04 17:42] nicolas-g opened #8537 "Permission and support custom OS rpm packages installation"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
People need to have sudo access or be able to install OS packages inside AWX Kubernetes Pod **awx-web** container, right now when you try to install something with yum you get the bellow error due to permissions :
[code]

Most of the Ansible modules require python pip packages which we can install through [custom virtual envs](https://docs.ansible.co

[2020-11-04 18:01] tiagodread opened #8538 "Inventory source type custom script doesn’t load fields"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory source type custom script doesn’t load fields on the `Source details` section

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method:  docker for mac
* Ansible version:  2.9.13
* Operating System: Catalina
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Navigate to inventories
2. Click on inventory
3. Navigate to sources tab and cl

[2020-11-04 18:17] wenottingham commented on #8537
Yea, no. Modifying the system image at runtime is a bad idea.

This will be solved by https://github.com/ansible/awx/issues/7060 / https://github.com/ansible/awx/issues/5157.

[2020-11-04 18:17] #8537 closed, assigned to nobody

[2020-11-04 18:23] tiagodread commented on #8538
Closing this issue because we are going to remove this source type, actually it was [removed from ui_next](https://github.com/ansible/awx/pull/7577) but the option is being displayed because we are still receiving this data from API side.
See:
[code]

[2020-11-04 18:23] #8538 closed, assigned to nobody

[2020-11-04 18:50] tiagodread commented on #8493
PR already merged, stubs in place

[2020-11-04 18:50] #8493 closed, assigned to marshmalien

[2020-11-04 20:19] mabashian opened #8539 "Required fields should be indicated in survey preview"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1051" alt="Screen Shot 2020-11-04 at 3 17 39 PM" src="https://user-images.githubusercontent.com/9889020/98163544-f6e1c280-1eb0-11eb-8f3b-8703976298b8.png">

The purpose of this view is to give the user an idea of what a launching user will see.  We should indicate required fields with the same red asterisk that we use in forms/in the launch

[2020-11-04 20:33] nixocio commented on #8532
Also, we show the vault id as part of the chip of the credential in the old ui.

<img width="514" alt="image" src="https://user-images.githubusercontent.com/9053044/98164913-019d5700-1eb3-11eb-952f-9cc91d57206c.png">

[2020-11-04 21:09] nixocio opened #8541 "Notification list for projects filter by type is not sane"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Notification template filter is not sane - for projects. Verify what fields are supported.

![image](https://user-images.githubusercontent.com/9053044/98168120-15978780-1eb8-11eb-9caa-f520fe75b3e8.png)

[2020-11-04 21:18] tiagodread opened #8542 "User can’t proceed after clicking in a host on the smart inventory host filter modal"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
User can’t proceed after clicking in a host on the smart inventory host filter modal

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker for mac
* Ansible version:  2.9.13
* Operating System: Catalina
* Web Browser: Chrome and Firefox

##### STEPS TO REPRODUCE

1. Navigate to inventories
2. Add smart inventory
3. Fill in organization

[2020-11-04 22:35] MarcusCaepio opened #8543 "AWX 15.0.1 - custom-venv with ansible 2.10 is not working"
Hi all,
Since 2 days I am trying to install ansible 2.10.2 as custom-venv in AWX on a fresh Ubuntu 20.04.1 for a local docker installation, to start migrating my playbooks to the FQCNs based on the docs at
https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md
The custom-venv is mounted into the awx container, but executing ansible in the container leads to

[code]
Here are the steps

[2020-11-05 00:44] unlikelyzero commented on #8542
@tiagodread did this used to work and now it doesn't?

[2020-11-05 03:13] sean-m-sullivan opened #8544 "awx.awx launch modules do not allow survey only variables when ask_variables_on_launch is false"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The following modules:
awx.awx.tower_workflow_launch
awx.awx.tower_job_launch

Do not allow a user to pass survey only vars through the api, as when using the api interface through the uri module or other methods. Believe this is a logic problem in the above modules but not sure on how best to address it.

##### ENVIRONMENT
* AWX version: 15.0.1

#####

[2020-11-05 08:26] phospi commented on #8455
@jean-christophe-manciot I think, I found the problem. Could you check if SELINUX is enabled and then disable it? This should do the trick...

[2020-11-05 12:19] The-Abe commented on #20
+1

[2020-11-05 13:00] kev-mas commented on #8514
Further investigating this, it seems to be caused by the `known_hosts` file within the AWX_Task container (`/root/.ssh/known_hosts`). We've done multiple tests.

We create and destroy our environment with Terraform for Development purposes. Once created, we run playbooks and workflows against the servers. Once that is done, if we destroy the environment and re-create it with Terraform, and try to

[2020-11-05 13:46] tiagodread commented on #7952
PR already merged stubs in:

[code]

[2020-11-05 13:46] #7952 closed, assigned to keithjgrant

[2020-11-05 13:47] tiagodread commented on #6801
This bug was addressed in #8510

[2020-11-05 13:47] #6801 closed, assigned to keithjgrant

[2020-11-05 14:51] AlexSCorey commented on #3224
@krent84 the run commands buttons is now active in ui_next even if no hosts have been selected. is fixed in ui_next

[2020-11-05 16:52] marshmalien commented on #8542
You shouldn't be able to click on the hosts in this modal. Instead of selecting hosts from a list, you create a search tag that contains the hosts you want.

https://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html#add-a-new-inventory

[2020-11-05 17:05] siprav2688 opened #8547 "Microsoft SQL Server Module mssql_db Not Working to create a Database."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY
When I am using the SQL Server Module mssql_db to create a new database on the microsoft SQL Server I am getting the below error. Microsoft SQL Server is on windows server. I am using the below playbook to create the database on SQL Server.

Ansible Playbook :

---
 - hosts: SQLSERVER
   vars:
      ansible_python_inter

[2020-11-05 17:14] ryanpetrello commented on #8547
Hey @siprav2688,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install (or in this case, it looks like your usage of an Ansible module), try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-11-05 17:14] #8547 closed, assigned to nobody

[2020-11-05 17:22] tiagodread commented on #8542
Yeah, I opened this bug wrong, I totally misunderstood the feature, i'm so sorry.

I've some considerations here:

1. Without reading the documentation, the UI wasn’t intuitive enough to provide understanding.
2. This modal list works different from most others
3. The smart inventory form is missing helps popovers especially for the field `Host Filter`
4. The host filter modal contains link to hos

[2020-11-05 17:28] tiagodread opened #8548 "Smart inventory issues"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Opening this bug to address all concerns related to this [issue](https://github.com/ansible/awx/issues/8542)
See: https://github.com/ansible/awx/issues/8542#issuecomment-722519786

- [x] The smart inventory form is missing helps popovers especially for the field `Host Filter`

- [x] The host filter modal contains link to hosts for each item, which can

[2020-11-05 17:29] tiagodread commented on #8542
Opened #8548 to address these items closing this issue

[2020-11-05 17:29] #8542 closed, assigned to nixocio

[2020-11-05 18:17] mihai-satmarean opened #8550 "requirements.yml does not pull roles from gilab.com with token"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
cannot use the requirements.yml to pull roles from gitlab.com using token

##### ENVIRONMENT
* AWX version: 15.0.1 (was same behaviour on 13.0)
* AWX install method: docker on linux
* Ansible version:  2.9.14
* Operating System: Ubuntu 20.04 LTS
* Web Browser: Chrome/Firefox

##### STEPS TO REPRODUCE

place a file called requirements.yml in a folder ca

[2020-11-05 18:24] wenottingham commented on #8550
If you are getting 503 directly from gitlab, that would need to be diagnosed on the gitlab side.

[2020-11-05 18:27] mihai-satmarean commented on #8550
@wenottingham  > If you are getting 503 directly from gitlab, that would need to be diagnosed on the gitlab side.

thanks for looking into this.
actually I am a bit confused.
if I run the same command from the same folder, using the same user, but on the awx container command line it works.
not sure if is the gitlab here.

Anyway, I am in a PoC, anything that gets us further would be really apprec

[2020-11-05 19:02] marshmalien commented on #8175
Duplicate of https://github.com/ansible/awx/issues/8283

[2020-11-05 19:03] #8175 closed, assigned to nobody

[2020-11-05 19:20] tiagodread commented on #8196
PR already merged tests covered by 5679

[2020-11-05 19:20] #8196 closed, assigned to AlexSCorey

[2020-11-05 19:24] keithjgrant commented on #7548
I think skeletons might be the right call here... we need to upgrade PF to the latest version for that, but I have proven it out:

![list-skeleton](https://user-images.githubusercontent.com/410794/98286906-8347c000-1f59-11eb-966a-74c468cfe196.gif)

[2020-11-05 21:09] tiagodread commented on #8261
PR already merged tests covered by 5683

[2020-11-05 21:09] #8261 closed, assigned to AlexSCorey

[2020-11-05 21:21] nicolas-g opened #8551 "Have AWX containers with Helm installed"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Due to access restrictions there is no way to install extra rpm OS packages there fore limiting the use of running Ansible jobs from Tower.

AWX`kubectl` comes with `kubectl` already installed, will be nice to also have `helm` pre-installed so we can run Ansible playbooks that depend on `helm` from AWX as well.

[2020-11-05 21:32] nicolas-g commented on #8537
It is but that should be something for the users to decide, there are tools users need permissions to install for troubleshooting reasons.

[2020-11-05 21:34] rcdlinux commented on #8504
Hi @ryanpetrello,

Yes this is the link suggesting the filter for Tower 3.7!

Thank you!
 https://docs.ansible.com/ansible-tower/3.7.0/html/administration/logging.html#elastic-stack-formerly-elk-stack

[2020-11-05 21:46] wenottingham commented on #8551
On a practical level, due to the move to separate execution environments in the future, this would just need to be redone in a couple of months when #7060 / #5157 land.

The way to do this would be to put it in the same place in the image_build role where kubectl is installed.

[2020-11-05 22:59] nicolas-g commented on #8551
@wenottingham I'v just tested locally with no errors and submitted  PR #8552 .

[2020-11-05 23:06] mrmibrown opened #8553 "Allow prompt on launch for custom credential types"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Create custom credential type to prompt for password on launch

A tower credential can be assigned to the custom credential type, but the password does not prompt since there is not the check box for prompt for password like in the machine credential.  I would like to be able to define a custom credential type that prompts for the password and doesn'

[2020-11-06 01:10] hiyokotaisa opened #8554 "RFE: Allow the users to create folders of favorite templates or ones assigned to them"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

It would be great if AWX has a folder type viewer that would allow the users to create folders of favorite templates or ones assigned to them by the creators or admins of AWX. While the search feature is useful, since it does not save between sessions it would be helpful for the user to choose what playbooks they want to see and use on a regular bas

[2020-11-06 01:46] shanemcd commented on #8554
Dupe of https://github.com/ansible/awx/issues/2350?

[2020-11-06 11:04] awalker125 commented on #8300
I put this in my vagrant file incase it helps anyone else

[code]

[2020-11-06 11:27] AnnSopVier commented on #8464
I just fixed the bug myself. The solution is, that in serializer.py in the class Meta the model JobTemplate has no field 'survey_spec'. After adding 'survey_spec' manually to the two corresponding places in the code the import of surveys via CLI works just fine.

[2020-11-06 12:48] tiagodread commented on #8461
PR already merged tests covered by 5684

[2020-11-06 12:48] #8461 closed, assigned to marshmalien

[2020-11-06 13:20] Gopinath-G opened #8555 "ERROR! Unexpected Exception, this is probably a bug: No module named psutil - While running job on isolated node"
##### SUMMARY

While Running job on isolated node it ends up with below error, Please suggest some fix or workaround.

ERROR! Unexpected Exception, this is probably a bug: No module named psutil

##### ENVIRONMENT
* AWX version: AWX 15.0.1
* AWX install method: docker
* Ansible version:  2.9.14
* Operating System: RHEL 7
* Web Browser: chrome Version 86.0.4240.183

##### STEPS TO REPRODUCE
Install

[2020-11-06 13:29] ryanpetrello commented on #8555
AWX doesn't actually support isolated nodes (it's a feature that existed in Red Hat's Ansible Tower product before we open sourced, and it didn't translate well to AWX's container-based deployment), so I'm not sure how you got into this state.

[2020-11-06 13:35] ryanpetrello commented on #8464
@AnnSopVier sounds like an opportunity for a pull request?

[2020-11-06 13:39] ryanpetrello commented on #8550
I agree with @wenottingham - if GitLab is sporadically returning HTTP 503 errors, there's not much AWX can do about that.

[2020-11-06 13:39] #8550 closed, assigned to nobody

[2020-11-06 14:48] tiagodread commented on #7673
PR already merged, verified that the user can navigate successfully to the organization details from inventories list.

[2020-11-06 14:48] #7673 closed, assigned to AlexSCorey

[2020-11-06 16:17] wenottingham commented on #8554
Yea, this is basically both of #2350 and #2058. Closing a s dup.h

[2020-11-06 16:17] #8554 closed, assigned to nobody

[2020-11-06 16:27] unlikelyzero opened #8556 "Inaccurate error handling on Input Group Integer fields (i.e. Org Max Hosts field)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inaccurate error handling on Input Group Integer fields (i.e. Org Max Hosts field)

##### ENVIRONMENT
* AWX version: 0933a94ae72526d020d2e6425d066e394d338960

##### STEPS TO REPRODUCE
1. Navigate to a form field Input Group. (i.e. Org Edit Max Hosts Field)
2. Put in a -1 Value if not allowed.

##### EXPECTED RESULTS
1. Given an accurate number range th

[2020-11-06 16:30] unlikelyzero commented on #4950
covered in 5673

[2020-11-06 16:30] #4950 closed, assigned to nixocio

[2020-11-06 16:36] unlikelyzero opened #8557 "[ui_next] No tooltips displayed on Organization Details View"
##### ISSUE TYPE
 - Bughancement

##### SUMMARY
I don't know if this is a bug or an enhancement. No tooltips displayed on Organization Details View. This is a problem for confusing fields like Max Hosts. We explain the 0 number on the Edit form

##### ENVIRONMENT
* AWX version: 0933a94ae72526d020d2e6425d066e394d338960

##### ADDITIONAL INFORMATION

<img width="1310" alt="Screen Shot 2020-11-06 at

[2020-11-06 16:39] blomquisg commented on #8543
@MarcusCaepio Please take this to the AWX mailing list https://groups.google.com/g/awx-project.

[2020-11-06 16:39] #8543 closed, assigned to nobody

[2020-11-06 16:44] Gopinath-G commented on #8555
I managed to configure it with traditional procedure of installing ansible tower by defining isolated group and vars in inventory file.

ex:

[isolated_group_DMZ]
Node1

[isolated_group_DMZ:vars]
controller=tower

[2020-11-06 16:49] ryanpetrello commented on #8555
Yep, understood.  If you dig in, there's *probably* some way to hack some of the code together to work on Docker-based installs, but awx doesn't really support it in its current state; isolated nodes just aren't available for container-based deployments in awx. We're working on a more general execution node framework that will allow this type of functionality in the future (which will provide simi

[2020-11-06 16:49] #8555 closed, assigned to nobody

[2020-11-06 16:50] Gopinath-G commented on #8555
Finally, Issue was fixed by changing ansible python_interpreter to /usr/bin/python3..

[2020-11-06 16:51] Gopinath-G commented on #8555
That would be great..!! really looking forward for it.. Thanks :)

[2020-11-06 16:52] ryanpetrello commented on #8555
@Gopinath-G,

I should point out - it _sounds like_ you're using or at some point in the past _have been using_ Red Hat's Tower product.  If that's the case, we don't provide support for that here upstream - in the future you'll want to contact Red Hat directly for this type of support for their product.

[2020-11-06 16:54] unlikelyzero opened #8558 "[Meta-issue] multiple problems with WFJT Surveys"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
There are few problems with WFJT Surveys
1. Cannot launch a WFJT with Survey from the Templates list view. Only JT Details Launch.
2. Cannot launch a WFJT with a Survey.
3. Cannot Delete Surveys if they've been added.

##### ENVIRONMENT
* AWX version: 0933a94ae72526d020d2e6425d066e394d338960

[2020-11-06 17:08] Gopinath-G commented on #8555
@ryanpetrello

Actually I just found the procedure while experimenting isolated node feature with AWX.. but never the less as you mentioned i understand the risk that it is not meant for and either not supported with docker based AWX deployments but at least the  experiment was successful..

Looking forward for the above mentioned new framework..

Thanks..!!!

[2020-11-06 17:55] nixocio commented on #8557
Mockup Organization details link: https://tower-mockups.testing.ansible.com/patternfly/orgs/orgs-detail/

[2020-11-06 17:55] tiagodread commented on #4968
PR already merged

[2020-11-06 17:55] #4968 closed, assigned to nixocio

[2020-11-06 18:01] wenottingham commented on #8505
Where is this expected to count? When rsyslog refuses the message? When rsyslog can't send it to wherever?

I'm skeptical this is practical in the current architecture.

[2020-11-06 18:19] ryanpetrello commented on #8505
I tend to agree; if the rsyslogd daemon is unresponsive over a local domain socket, 🤷

[2020-11-06 18:29] wenottingham commented on #8514
I think this is just ssh + ansible behavior.
AWX sets ANSIBLE_HOST_KEY_CHECKING off by default. This passes '-o StrictHostKeyChecking=no'.

However, that could still cause some failures with respect to known hosts entries existing. From the SSH manpage:

[code]

You may be hitting one of those restrictions. When just testing on the commandline, do you have to set UserKnownHostsFile=/dev/null as we

[2020-11-06 18:32] wenottingham commented on #8553
Why would you do this and not just prompt for the extra vars / use a survey?

It would be functionally identical.

[2020-11-06 20:11] fidanf commented on #7441
Still appears in 15.0.1

[2020-11-06 22:04] deanmax commented on #5346
We had the same issue when upgrading AWX from 10.0.0 to 15.0.1. The new version of AWX installer requires python3, so we took the effort to upgrade both python and ansible(2.8.4 to 2.10.3). Removed all running instances and ran the installer again, boom it worked.

[2020-11-07 05:56] chazzly commented on #1632
Running AWX 15.0.0 / Ansible 2.9.14 and having the same issue with both roles & collections.  The "detect requirement.yml" task gets skipped both on project update & when at template runs (yes, Update revision on launch is ticked).  The previously mentioned fix worked and similarly removed "when: collections_enabled|bool". from the collections block to fix collections download.

[2020-11-08 14:10] skpy opened #8560 "Azure Collection error with AWX 15.0.01"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to use Azure collections.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.14
* AWX Operating System: CentOS 7.8.2003 (Core)
* Client Web Browser: Firefox for MacOS

##### STEPS TO REPRODUCE

We would like to use the Azure Ansible collection to use AWX to interact with Azure.  We have a relat

[2020-11-08 16:51] fourstepper commented on #7051
@agaffney is there something special one has to do to get this working or should it work out of the box? I tried deploying this to my k8s cluster now but got exec format error for awx ansible-tower-management

Thanks

[2020-11-09 12:03] schober307 opened #8561 "AWX workflow_templates ignore job_template LIMIT after LIMIT field in workflow_template has been changed at least once"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX workflow_templates ignore the LIMIT specified in job_templates if, under certain conditions, LIMIT is set in the corresponding job_template as "Prompt on Launch".

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.14
* Operating System: Debian 10.5
* Web Browser: Firefox 82.0 (64-Bit)

##### STEPS

[2020-11-09 15:06] ryanpetrello commented on #8560
Hey @skpy,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-11-09 15:06] #8560 closed, assigned to nobody

[2020-11-09 15:07] ryanpetrello commented on #8560
If this is a new install, you might be running into a change we made to AWX's default behavior for new organizations, which makes syncing from galaxy.ansible.com opt-in:

https://github.com/ansible/awx/blob/devel/CHANGELOG.md#1500-september-30-2020

Specifically, you might want to double-check that your organization is configured to pull content from galaxy.ansible.com e.g.,

<img width="376" alt=

[2020-11-09 15:19] ryanpetrello commented on #1632
@chazzly I think what you're experiencing is a change we made to AWX's default behavior in AWX 15.0.0:

https://github.com/ansible/awx/issues/8560#issuecomment-724071498

[2020-11-09 15:25] faroukellouze opened #8562 "workflow visualizer: Add more metadata to nodes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When you use the workflow visualizer and add multiple nodes with the same job template but with different params(such as inventories, survey values...), or when using it in job slicing, the nodes(or boxes) will look all the same which requires more navigation to know what was executed and where.

![image](https://user-images.githubusercontent.com/11

[2020-11-09 17:50] Nascentes commented on #1632
Honestly, we had so many issues with trying to populate roles via requirements.yml that it just wasn't worth it. The logic for importing/populating/updating roles in AWX is obscenely suboptimal for being the "best practice". We ended up flattening our repos by merging all role repositories into the primary project repo. It's gross and monolithic, but it solved ALL of our issues with AWX pulling ro

[2020-11-09 17:54] wenottingham commented on #7051
You will need to build your own images. The default images are built for x86_64.

[2020-11-09 22:06] AlexSCorey commented on #8562
@faroukellouze If we add additional data what additional data in that node would be helpful

[2020-11-09 22:10] AlexSCorey commented on #8513
@maydayuiui it is possible to do that.  However, in new UI, the Prompt on Launch feature allows the user to navigate to any step in the launch process at any time.  So, you could, feasibly, open the prompt, skip the Credential Step, complete the survey step and then navigate back to the credential step.

[2020-11-09 22:14] AlexSCorey commented on #8378
@KongNan @unlikelyzero linking https://github.com/ansible/awx/issues/8473

[2020-11-09 22:18] AlexSCorey commented on #8473
@unlikelyzero this seems to be a duplicate of https://github.com/ansible/awx/issues/8378.  I'm linking them here, but I think we should close 1 or the other.  Do you have a preference?

[2020-11-10 08:50] faroukellouze commented on #8562
For example, in Job Slicing, you can show on which hosts each slice got executed(maybe top 3 hosts if each slice was executed on a large number of hosts). Also in the case of a JT node(in case of workflow template), you can show what inventory was selected and maybe some of the extra-vars.

[2020-11-10 09:41] faroukellouze opened #8564 "Add checklist of hosts when prompting LIMIT on launching a template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When prompting the LIMIT option on launching templates, you only get to pass the pattern you want as a string, which is very useful when writing complex patterns. However, when you just want to limit the job on some hosts using the pattern `hostname1:hostname2` (which is the basic and simple usage), it will be nice if we have a checklist of all host

[2020-11-10 11:58] unlikelyzero commented on #8558
Before closing this issue, please referenced the //TBI test marker

[2020-11-10 12:05] unlikelyzero commented on #7636
Covered in workflow-prompts-and-surveys.spec

[2020-11-10 12:05] #7636 closed, assigned to AlexSCorey

[2020-11-10 13:20] unlikelyzero commented on #8473
@AlexSCorey i opened this one because the last one was specific to a bug in 3.X 'component:ui' I think we should keep them separate but linked

[2020-11-10 14:11] sean-m-sullivan commented on #8544
adding more info.
When Only a survey is enabled on a template/workflow, not ask extra vars, this should work. When those 3 variables are the survey variables.
[code]

if you add a 4th variable that isn't a survey variable, it will fail.

because ask_extra_vars on launch isn't checked.

[2020-11-10 14:50] AlexSCorey commented on #8237
@tiagodread can this be closed?

[2020-11-10 15:25] wenottingham commented on #8564
-> #1179

[2020-11-10 15:25] #8564 closed, assigned to nobody

[2020-11-10 15:27] JohnLar42 opened #8565 "Feature Request: installer/inventory should offer mounting the plugins directory"
Currently the directories /var/lib/awx/.ansible/plugins  or /usr/share/ansible/plugins  are not mounted or volumes, so any plugins you add are lost if the docker container has to be rerun.  I added it is a variable in my inventory and into my templated docker-compose.
I'm surprised others have not needed this feature yet.

[2020-11-10 15:35] AlexSCorey commented on #7692
after conversation with @trahman73 @mabashian @wenottingham we decided that this issue should utilize a single form that has headers for the Schedule form, and then a sub section for the Promptable fields. Will probably need another sub section to differentiate Surveys from the rest of the Promptable fields.  Mock up to come....

[2020-11-10 16:17] wenottingham commented on #8565
The recommendation is to not to modify the execution image.

This will be even more the case after we move to execution environments (https://github.com/ansible/awx/issues/5157 and https://github.com/ansible/awx/issues/7058)

In the meantime, we recommend plugin configs in source control (with the plugin in that project if needed)

[2020-11-10 16:17] #8565 closed, assigned to nobody

[2020-11-10 16:27] mabashian commented on #8562
Real estate is a bit tight on the nodes themselves.  With our new UI, we have some help text that gets shown in the upper left corner whenever you hover over a node.  The idea is that extra data could be displayed here.

<img width="1109" alt="Screen Shot 2020-11-10 at 11 23 24 AM" src="https://user-images.githubusercontent.com/9889020/98701467-50317200-2347-11eb-91d0-4052091e5971.png">

We've als

[2020-11-10 16:47] JohnLar42 commented on #8565
My issue is that I need a plugin to get a credential from a Vault that is used to login to git  Yes, I can/should source control my AWX config, but I can't put the plugin into a specific project as it is universal.

[2020-11-10 17:30] tiagodread commented on #8237
@AlexSCorey i'm finishing the test to cover this feature, then we can close.

[2020-11-10 18:08] geerlingguy commented on #8387
@chiquiff - I'm finding the same thing with 15.x on Ubuntu and on CentOS installs (not in cluster)—if I run `docker exec awx_task awx-manage migrate --noinput` manually after install, I can finally get the migration to kick off.

Alternatively, if I wait for awx_task to get stuck in it's startup loop (~10-30s), then restart the Docker daemon, that seems to also finally help AWX trigger its initial

[2020-11-10 18:09] geerlingguy commented on #8300
Related: https://github.com/ansible/awx/issues/8387

[2020-11-10 19:57] darthwalsh commented on #2083
If anybody else gets a blank stdout on inventory update job, the TL;DR is:

- if your AWX GUI URL looks like i.e. `/#/jobs/inventory/9135?`
- go to `/api/v2/inventory_updates/9135/`
- you'll see a `source_project_update` field;  follow that link
- then follow resource `stdout/` to see the stdout text.

I'm on 9.2.0 but maybe in a future version AWX will show the stdout directly.

[2020-11-10 22:43] nicolas-g opened #8569 "AWX 15.0.1: AWS EC2 Dynamic Source Inventory is broken"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Using AWS secrets or IAM Roles in AWS and AWX version 14.1.0 (Ansible 2.9.11) we are able to start the sync process and use dynamic inventories.

It seems the exact same setup with AWX version 15.0.1, the dynamic source inventory is broken. The job sync fails and the UI has changed (see the screenshots).

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX

[2020-11-11 08:07] maydayuiui commented on #8513
@AlexSCorey Does Version 15.0.0 use the new UI? I'm using 15.0.0, but I can't navigate to Survey if i don't fill in credential first. I only can navigate back to the credential step after finish all the prompt steps.

[2020-11-11 10:47] thijsvdn commented on #8464
I ran into the same issue, tried adding a survey with both the awx cli tool as well as the job_templates/survey_spec API endpoint. The latter returns a '200 OK', but does not add or update a survey.

I've taken a quick look yesterday evening, I *think* @AnnSopVier is referring to awx/api/serializers.py instead of 'serialyzer.py'. Tried following the provided instructions, which did not fix the pro

[2020-11-11 12:10] AnnSopVier commented on #8464
Hi sorry for the not to clear solution of mine :) So what I did was I added "'survey_spec' ," to the awx/api/serializers.py file at two places (see screenshot attached).
![Unbe1nannt](https://user-images.githubusercontent.com/72564826/98809986-be953380-241e-11eb-896e-14931085dd0b.PNG)
![Unbenannt](https://user-images.githubusercontent.com/72564826/98809988-bfc66080-241e-11eb-8551-def3189282dd.PNG)

[2020-11-11 13:31] tiagodread commented on #8237
PR already merged, tests covered by 5696

[2020-11-11 13:31] #8237 closed, assigned to AlexSCorey

[2020-11-11 13:41] thijsvdn commented on #8464
Thanks @AnnSopVier. Can't speak for the AWX CLI client, but my problem with the API seems to be a PEBCAK.. Used '/survey_spec' instead of '/survey_spec/'..

[2020-11-11 14:30] AlexSCorey commented on #8513
@maydayuiui Yes see the [README](https://github.com/ansible/awx/blob/devel/awx/ui_next/README.md#Development ) for UI_Next

[2020-11-11 14:49] AlexSCorey commented on #7670
@unlikelyzero @tiagodread this appears to be resolved.  Probably when #7636 was resolved as well.  Can you confirm?

[2020-11-11 15:00] imareporter opened #8571 "Add User-Friendly Messaging to Tracebacks (Project Updates)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to see friendlier messaging around tracebacks, specifically in project updates. The user had a scheduled job that ran during a SCM maintenance window. From the information gathered, it appears Tower (AWX) dispatched the project update to a node that did not have a local clone of the project. As expected, Tower

[2020-11-11 15:48] beeankha commented on #8435
Hi @sebw , thank you for filing this issue.

I've dug into this, and it seems like the module is behaving in the expected way.  Job Templates can have multiple Credentials associated with them, even credentials that have the same name (as long as the credential types are different), and the credentials can be associated to Organizations that are _not_ connected to the attached Project.  The main r

[2020-11-11 15:58] AbhinitMallick commented on #3762
Hi team,

I am facing similar issue with the

![issue_with_awx](https://user-images.githubusercontent.com/18643182/98834028-a29d8c00-2436-11eb-86a9-ca6cc8be771c.png)

No where in the documentation it states how to get around this issue and I am using the latest version of AWX and stuff facing the issue
This is stopping us from doing anything in AWX as we use SSH key with passphrase

Regards
V

[2020-11-11 16:46] petracvv opened #8572 "Project requirements installation doesn't use custom virtualenv"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using a custom virtualenv with AWX and setting it as the environment for a project, AWX doesn't use it for running the ansible-galaxy commands to install dependencies. We are running into issues with that because we are using Ansible 2.10 in that virtualenv and are using the meta/requirements.yml method for defining dependencies which is not prese

[2020-11-11 16:50] swatinarvekar opened #8573 "Allow JWT based Authentication for CyberArk vault"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
CyberArk vault currently do not support JWT based authentication.

##### Proposed Feature:
Customer would like to have the JWT based authentication to connect and fetch certificates from CyberArk vault.

##### Customer Explanation:
To secure the access to the CyberArk vault (https://www.cyberark.com) we must use a certificate or JWT (https://jwt.io).

[2020-11-11 17:29] kcskribbl opened #8574 "Ansible tower installation error"
##### ISSUE TYPE
 - Not able to install Ansible tower
##### SUMMARY

##### ENVIRONMENT

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2020-11-11 18:32] ryanpetrello commented on #8574
Hey @tokarthikc,

This issue tracker is for the open source Ansible AWX project, not Red Hat's product.  Please contact Red Hat directly for help with support issues.

[2020-11-11 18:32] #8574 closed, assigned to nobody

[2020-11-11 18:36] ryanpetrello commented on #8574
For what it's worth, it doesn't look like Oracle Linux is a supported platform for the version of Tower you're running (based on these published Red Hat docs):

https://docs.ansible.com/ansible-tower/latest/html/installandreference/requirements_refguide.html

[2020-11-11 18:38] tokarthikc commented on #8574
@ryanpetrello thank you. Does open source Ansible AWX project support Oracle Linux as supported platform?

[2020-11-11 18:38] ryanpetrello commented on #8574
@tokarthikc we don't have any plans to, no.  Also, if you're looking for something that's "supported", AWX isn't it:

https://www.ansible.com/products/awx-project/faq

[2020-11-11 18:58] #8539 closed, assigned to AlexSCorey

[2020-11-11 19:13] unlikelyzero commented on #2945
Adding some retesting for the new ui

[2020-11-11 20:40] wenottingham commented on #8569
Did you install using the AWX operator?

[2020-11-11 21:04] G3ph4z commented on #2225
@mnhan3 I didn't succeed either, I tried to upgrade in so many ways, but no one of them works. I just can't believe this.

[2020-11-11 21:13] wenottingham commented on #8572
Custom env on a project is for "all JTs run from that project", not for the project_update.yml. Given the move to execution environments (https://github.com/ansible/awx/issues/5157 and https://github.com/ansible/awx/issues/7058), I'm not sure that will change - it certainly won't change in that direct way of using the custom venv.

2.10 will likely never be the 'default' version - the above move t

[2020-11-11 22:38] petracvv commented on #8572
OK, I see. Then what execution environment would the project_update.yml run in? Would that be something configurable?
Either way, I guess I'll have to look at alternatives for specifying our dependencies; or start moving to collections.

[2020-11-11 22:56] wenottingham commented on #8572
That will be tracked in https://github.com/ansible/awx/issues/8245

[2020-11-12 00:24] hiyokotaisa opened #8576 "RFE: Enhance the handling of external logging errors when a blocking i/o error is returned"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

In AWX PR #7292  a change was made to drop messages being sent to an external logger if a blocking i/o error is returned.

This RFE is to request an enhancement to the error handling when a blocking i/o error is returned so that messages being sent are not lost.

I can see the following comment on the commit (https://github.com/ansible/awx/pull/7292

[2020-11-12 10:01] faroukellouze commented on #8562
I'm sorry for my late response :(

This modal is brilliant :).

For this feature, I think that the help text still shows the obvious. I mean you are showing the name and type of the node which are very obvious and do not require a help text. I think maybe if the help text, depending on the type of the node, should show more data like the hostname when you're doing sliced jobs, or the inventory nam

[2020-11-12 11:36] ghost commented on #1125
What is the purpose of this line in the inventory file?
`awx_alternate_dns_servers="10.1.1.1,10.1.1.2,10.1.1.3"`
Is this not supposed to populate the /etc/resolv.conf with the nameserver values? The line:
`awx_container_search_domains=example.com,example2.com,example3.com`
populates into the resolv.conf file.

[2020-11-12 13:05] swatinarvekar opened #8577 "Add verify_ssl option for HashiCorp Vault Secret Lookup Credential in Ansible Tower UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently "verify_ssl" option not available in UI for credential type "HashiCorp Vault Secret Lookup" like OpenShift/Kubernetes credentials type.

**Verify SSL** : Optionally you can check this option to allow Tower to verify the server’s SSL certificate is valid and trusted. Environments that use internal or private CA’s should leave this option unc

[2020-11-12 14:03] Seb0042 commented on #2240
Hi, same issue, I see that the dictionary generated by awx is wrong but I don't understand the logic. It's not even sorted, seems random. We use inventory and reverse_inventory.
What we have in inventory  :
[code]
What we have in AWX inventory, in the tmp file:
  "group1": {
    "hosts": [
      "VL069917",
      "VL069712",
      "VL069713",
      "VL069714",
      "VL069715",
      "VL069716",

[2020-11-12 14:39] AlexSCorey commented on #2032
@Gianlu and @gpiucco no news yet.  Discussions about adding this feature to the new ui have started but nothing definitive has been set.    Follow this issue for updates, if you aren't already doing so.

[2020-11-12 15:50] mensler opened #8578 "Error "credential types request failed" when editing template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When opening a template edit page I get the error message "credential types request failed. GET returned status: 500 A server error has occurred." in a popup:
![screenshot-awx nonprod eu2 sofort klarna net-2020 11 12-16_37_29](https://user-images.githubusercontent.com/6129516/98961034-684ef000-2505-11eb-8480-05907a9a8f2f.png

[2020-11-12 16:38] jean-christophe-manciot commented on #8455
- I don't use SELinux, but apparmor.
- SELinux/apparmor offer important security features; you can't disable them just to work around a bug
- the error messages come from within the container; unless I'm missing something here, selinux/apparmor should not have any impact regarding this specific behavior.

[2020-11-12 17:02] nixocio commented on #4212
When deleting/disassociating batch of resources as well it would be nice to display `loading...` or give the user a feedback of the action being executed.

[2020-11-12 17:33] l3ender commented on #2905
This would be a very helpful feature.

Displaying the playbook directly in AWX does introduce complexity with security/RBAC, but adding a link to the file in Git would at least allow people to directly associate the template with the code for it. If the user doesn't have appropriate permissions to view the repo, it'd be outside of AWX's concern.

A link seems like a quick win, and future complexit

[2020-11-12 18:02] zaskan opened #8579 "ansible.tower.tower_group module is having an erratic behavior."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Running the tower_group module, it is erratically removing the existing hosts from the existing groups instead of preserve them there. As I can see, the group IDs are preserved (it is not removing them)

##### ENVIRONMENT
* AWX version: 3.7.2
* AWX install method: Bundle Standalone
* Ansible version:  2.9.1
* Operating System: RHEL 8.2
* Web Browser:

[2020-11-12 18:28] tiagodread commented on #7130
PR already merged and tests in place

[2020-11-12 18:51] nixocio opened #8581 "Add inventory as part of dynamic host filter"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add inventory as part of dynamic host filter.

![image](https://user-images.githubusercontent.com/9053044/98982779-e30c1100-24ed-11eb-826b-db5327144719.png)

![image](https://user-images.githubusercontent.com/9053044/98982949-1cdd1780-24ee-11eb-84cf-30e2bf8f7f8e.png)

[2020-11-12 19:38] rmauc commented on #5209
Is there any update on this RFE?
We are looking for the webhook to Bitbucket Server (on-prem) V7.6.0
Thanks

[2020-11-12 20:02] wenottingham commented on #8578
You need https://github.com/ansible/awx/pull/8567

[2020-11-12 20:02] #8578 closed, assigned to nobody

[2020-11-12 20:33] AlexSCorey commented on #7692
Met with the UI team today to discuss this issue. We decided that for several reasons we will duplicate the workflow on from the old ui.

[2020-11-12 21:39] thedoubl3j commented on #8388
hey @stanislaw55 I was unable to reproduce the bug. Do you have any other context to the bug like errors or anything like that? Below is my working environment.

**Environement**
- AWX version: 15.0.1
- AWX install method: docker
- Ansible version: 2.9.11
- Operating System: Fedora 31
- Web Browser: not relevant

[2020-11-12 22:26] jvandermeulen commented on #5209
+1 for Bitbucket Server

[2020-11-13 04:48] linora opened #8584 "Ansible Email Notification: extra_vars appears as Unicode when Chinese is included"
##### ISSUE TYPE
- Feature Idea

##### SUMMARY

---

### Env：

**【AWX】**
- Version: 15.0.1
- Running in: Docker in CentOS 7 x86_64

**【Ansible】**
- Version: 2.9.14
- Python version: 3.6.8

---

When I provide the Chinese parameters in the extra_vars, the Ansible mail notification shows that this part of the Chinese is Unicode, as follows:

Job #111 had status running, view details at http://192.xx

[2020-11-13 07:00] stanislaw55 commented on #8388
Hey @thedoubl3j
No, unfortunately I have not. Maybe I'll just try to upgrade and see if it works.

[2020-11-13 09:01] jibbajabber commented on #5682
@wenottingham I'm also seeing this issue, just want to clarify if this is the intent?
My usecase:
* inventory source overwrite variables checked
* project update always for each job template run
* set some host var in sourced from project static inventory, say `my_remote: "some_remote_value"` in SCM
* run job template
* remove `my_remote`
* run job template again

Behaviour
* `my_remote` still pre

[2020-11-13 10:56] ghost opened #8585 "DNS servers in docker-compose.yml do not transfer to container /etc/resolv.conf"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After editing the inventory file and adding the values for awx_alternate_dns_servers to the company's DNS servers they populate in the docker-compose.yml

[code]
The search domains appear correctly but the nameserver does not.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.14
* Operating System: C

[2020-11-13 13:55] mabashian commented on #5997
The rest of this should be completed with https://github.com/ansible/awx/pull/8399.  I'll update this issue when appropriate.

[2020-11-13 14:17] mabashian opened #8586 "StatusLabel component text isn't translated"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/StatusLabel/StatusLabel.jsx#L49

If we take this approach of splitting the status string as it comes back via the API then this label will always be in English.

I think we're going to have to build a map of all possible labels that are marked for translation instead.

[2020-11-13 15:41] vhpj commented on #1789
Hello @ryanpetrello, do you know the units of the parameter MAX_EVENT_RES_DATA?

[2020-11-13 15:45] ryanpetrello commented on #1789
Hey @vhpj, it should be bytes.

[2020-11-13 15:57] nixocio commented on #8548
I followed up with @mabashian about those topics.

This one is a general change. Since we re-use this component in different places. We should file a different issue for this one, and explore a solution.

The advanced search in the new ui allows the user to filter those keys. This is a different approach from the current ui.

![image](https://user-images.githubusercontent.com/9053044/99092389-135f

[2020-11-13 15:58] thedoubl3j commented on #8388
sounds good @stanislaw55 if you hit again with an upgrade, drop the steps (as specific as you can make them) here and I will reproduce following those steps. I did this time as well but if it breaks again, I want to get as close to your setup as possible in regards to awx projects etc.

[2020-11-13 16:32] john-westcott-iv commented on #8544
I think this is a limitation in the API itself, not in something the modules are doing. However, you said that the URI module works? Do you have an example of that?

[2020-11-13 17:02] sean-m-sullivan commented on #8544
Using the above URI with Body/Body commented out when Only Survey Vars is No, I came up with the following
| Survey Enabled | Extra vars at launch | only Survey Vars | Result   |
|--------------- | -------------------- |----------------- |--------- |
|       Yes      |          Yes         |       Yes        | Launches |
|       Yes      |          Yes         |       No         | Launches |
|

[2020-11-13 18:09] ryanpetrello commented on #8584
Might be related to https://github.com/ansible/awx/issues/7400

[2020-11-13 18:16] ryanpetrello commented on #8576
AWX's external logging system requires rsyslogd to be running and properly configured to accept and manage logs (and we don't have plans to implement _another_ failsafe).

If something else is needed, it can be accomplished by modifying your AWX's Python-based logging configuration to log via some alternative mechanism (such as a backup copy to the file system):

https://docs.python.org/3/library/

[2020-11-13 18:16] #8576 closed, assigned to nobody

[2020-11-13 18:22] blomquisg commented on #8572
Since Execution Environments and Collections are replacing Virtual Environments, we're gonna close this to be tracked against #8245

[2020-11-13 18:22] #8572 closed, assigned to nobody

[2020-11-13 18:25] ryanpetrello commented on #8571
Hey @imareporter,

If you've got some suggestions for improving error messages, pull requests are welcome!

[2020-11-13 18:30] ryanpetrello commented on #8533
May be related?

https://github.com/ansible/awx/issues/8504

[2020-11-13 18:39] blomquisg commented on #8505
This is essentially a dup of https://github.com/ansible/awx/issues/8576.  We don't see a compelling reason to include this.

[2020-11-13 18:41] blomquisg commented on #8414
@jazzdroid if you're still seeing a problem here, please reopen

[2020-11-13 18:41] #8414 closed, assigned to nobody

[2020-11-13 18:42] #8379 closed, assigned to nobody

[2020-11-13 18:42] wenottingham commented on #8379
Closing, recommendation is to set the global flag

[2020-11-13 21:25] nicolas-g commented on #8569
no, I installed running the `install.yml` Ansible playbook.

[2020-11-13 21:29] wenottingham commented on #8569
You don't have an AWS credential attached. Try creating one with your AWS credentials.
(Inventory updates without credentials only work if you have assigned specific IAM roles to the instance.)

[2020-11-14 06:12] nicolas-g commented on #8569
@wenottingham as described in the issue summary

I can confirm this is still an issue either using AWS secrets or IAM Roles. It works fine in 14.1.0 but it is broken in 15.0.1 .

[2020-11-15 14:50] fferraro87 commented on #2225
I've also try to update from 13 to 15 in many ways but nothing doesn't works

[2020-11-15 15:15] unlikelyzero commented on #4212
@AlexSCorey @tiagodread let's perform a lighthouse performance test with and without this change

[2020-11-15 15:19] unlikelyzero commented on #7130
Hey, I don't see coverage for the dissociate case.
All I see is
user-tabs.spec.js
context.skip('Teams tab', function() {}) //TBI```

[2020-11-16 01:51] garamirseokim opened #8589 "Feature: Remove OPTIONS method from API"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

- AWX version: Ansible Tower 3.7
- If the OPTIONS method is not required for AWX to work, our customer needs to disable OPTIONS method in API according to their security guidelines to pass their security scanner check.

![スクリーンショット 2020-11-16 10 57 31](https://user-images.githubusercontent.com/58404577/99205076-34284780-2803-11eb-8f90-4d4eaa118d35.p

[2020-11-16 02:16] linora opened #8590 "email notification support ms exchange server"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

email notification support MS Exchange mailbox?

[2020-11-16 03:30] GeorgeSheridan commented on #8428
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-11-16 09:23] francoislamiedepain commented on #8577
Hello team,

To add a bit more detail, currently when we try to add HashiCorp Vault Secret Lookup from AT GUI to retrieve credentials from a https Vault, we don't have ability to skip ssl verification as there is no verify_ssl field available:

![Capture d’écran 2020-11-16 à 10 14 40](https://user-images.githubusercontent.com/47870530/99234794-49967500-27f5-11eb-9f9f-7c90108a8b25.png)

The featu

[2020-11-16 09:32] mihai-satmarean commented on #8550
fixed that by adding git+https://

[2020-11-16 13:37] tiagodread commented on #7130
@unlikelyzero this PR covers association and disassociation https://github.com/ansible/tower-qa/pull/5675

[2020-11-16 13:39] tiagodread commented on #7130
PR already merged, tests in place, closing this issue.

[2020-11-16 13:39] #7130 closed, assigned to nixocio

[2020-11-16 13:51] #8327 closed, assigned to nobody

[2020-11-16 14:35] ryanpetrello commented on #8589
AWX will not work without HTTP OPTIONS enabled - notable components of the user interface and the official CLI rely on it to properly function.

[2020-11-16 14:35] #8589 closed, assigned to nobody

[2020-11-16 14:59] unlikelyzero commented on #7548
@AlexSCorey @keithjgrant this ticket will be solved by skeleton loading here https://github.com/ansible/awx/issues/4212

[2020-11-16 15:41] shanemcd opened #8591 "Remove Docker Compose installation path"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY
As [announced this morning](https://groups.google.com/g/awx-project/c/47MjWSUQaOc), we are removing support for the local docker-compose install path.

In addition to removing this code, we need to update our contributing guide to reflect reality.

Open question: Do we want to document / instruct people on how to

[2020-11-16 15:53] jangel97 opened #8592 "AWX won't install, upgrading stuck, python errors"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I am trying to install AWX in Debian 10, docker on linux. The Upgrading process is stucked.
![image](https://user-images.githubusercontent.com/38217290/99275156-71a0cb00-282b-11eb-9b5a-b797bd2c55b5.png)

##### ENVIRONMENT
* AWX version: 15.0.1 (Release: https://github.com/ansible/awx/archive/15.0.1.tar.gz)
* AWX install method: docker on linux
* Ansib

[2020-11-16 17:26] mabashian commented on #7339
@unlikelyzero I think we can close this now?

[2020-11-16 17:26] mabashian commented on #5881
@unlikelyzero If we close #7339, I think we can close this one?

[2020-11-16 17:33] mabashian commented on #7835
@unlikelyzero can we close this one?

[2020-11-16 17:39] wenottingham commented on #8590
The email notification speaks standard SMTP. It is unlikely we will update it for anything specific to MS Exchange.

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-11-16 17:39] #8590 closed, assigned to nobody

[2020-11-16 17:48] mabashian commented on #7683
#6603 and #7806 have both been completed.  @unlikelyzero should this be closed or go back to needs_test?

[2020-11-16 17:54] ryanpetrello commented on #8551
Addressed via https://github.com/ansible/awx/pull/8552, thanks!

[2020-11-16 17:54] #8551 closed, assigned to nobody

[2020-11-16 17:58] mabashian opened #8593 "Filtering group list by Group type -> Show all groups does not show all groups"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
It actually shows all non-root groups (i.e. groups that have at least 1 parent: `parents__isnull=false`.

I'd propose we get rid of this option:

<img width="487" alt="Screen Shot 2020-11-16 at 12 56 39 PM" src="https://user-images.githubusercontent.com/9889020/99289667-40b09e00-280b-11eb-836f-b04fe5967c0b.png">

Since the default behavior of this list

[2020-11-16 17:59] mabashian commented on #7690
@unlikelyzero I tried to reproduce this behavior in devel but was unable to do so.  It appears as if this has been fixed but I don't know which PR to credit.  Either way, going to move this to needs_test for now.

I did file https://github.com/ansible/awx/issues/8593 while confirming this fix.

[2020-11-16 18:09] mabashian commented on #7751
@unlikelyzero looks like this could be closed?

[2020-11-16 18:16] unlikelyzero commented on #7751
needs additional tests added

[2020-11-16 18:17] mabashian commented on #8083
@nixocio you still working on this one?

[2020-11-16 18:36] tiagodread commented on #8539
Tests covered by https://github.com/ansible/tower-qa/pull/5698

[2020-11-16 19:12] mabashian commented on #7915
@unlikelyzero I tested this one out locally and the facts seem to be displaying properly for me.  I'm going to move this to needs_test for now.

[2020-11-16 19:14] keithjgrant commented on #4212
Me in November 2020: 🤣

[2020-11-16 19:28] mabashian commented on #8098
@unlikelyzero moving this to needs_test since #8519 has merged.  Feel free to close if you already have coverage.

[2020-11-16 19:42] mabashian commented on #6452
This won't be necessary when we move to tables

[2020-11-16 19:42] #6452 closed, assigned to nobody

[2020-11-16 19:43] mabashian commented on #6485
This appears to be working to me.  Moving to needs_test.

[2020-11-16 19:44] mabashian commented on #6503
See https://github.com/ansible/awx/issues/6503 for a suggestion on how to proceed.

[2020-11-16 19:45] mabashian commented on #8593
Duplicate of https://github.com/ansible/awx/issues/6503.  Closing

[2020-11-16 19:46] mabashian commented on #6503
Actually - I think this issue should be closed in favor of https://github.com/ansible/awx/issues/8593

[2020-11-16 19:46] #6503 closed, assigned to nobody

[2020-11-16 19:47] mabashian commented on #8593
Actually, this is a bit different from #6503 so going to keep this open.

[2020-11-16 19:56] mabashian commented on #6853
@AlexSCorey  As I understand it, clicking the Select All checkbox selects all the rows currently listed on the page and throws them into state.  If you then filter the list down to a subset and click delete, we'll still delete all of the originally selected rows (?).  Is that the problem we're trying to solve here?  If so, we may want to make the title a bit more specific.

As far as #6734 goes, I

[2020-11-16 19:57] #6947 closed, assigned to beeankha

[2020-11-16 19:57] #8435 closed, assigned to beeankha

[2020-11-16 19:58] mabashian commented on #6734
I actually don't really see this as a very likely problem to run in to as long as we only delete the visible rows.  If anything we could have the list redirect back to page 1 when we detect that a user is attempting to access a page that comes back 404.  Or we could just show this error since it's valid.

[2020-11-16 20:01] mabashian commented on #6972
This looks like it already exists:

<img width="1259" alt="Screen Shot 2020-11-16 at 3 01 14 PM" src="https://user-images.githubusercontent.com/9889020/99301880-9d688480-281c-11eb-938d-194293323659.png">

[2020-11-16 20:07] mabashian commented on #6972
We may have to work with someone on the API to figure out whether this is currently possible.

[2020-11-16 20:08] mabashian commented on #7595
@unlikelyzero looks like this got merged without test.  Applying needs_test now.

[2020-11-16 20:09] mabashian commented on #4977
Marking this as blocked since I don't really know what this means within the context of tables.

[2020-11-16 20:20] mabashian commented on #8200
Same thing applies to workflow nodes and schedules.

[2020-11-16 20:23] mabashian commented on #5862
This could get interesting when we look at cred plugin fields:

<img width="449" alt="Screen Shot 2020-11-16 at 3 22 56 PM" src="https://user-images.githubusercontent.com/9889020/99303925-ab6bd480-281f-11eb-8e2d-2b8013c90fa4.png">

[2020-11-16 20:28] mabashian commented on #5862
Actually, I'm gonna close this.  After looking at the PF docs and using the tab button there I feel like this is working as expected.

[2020-11-16 20:28] #5862 closed, assigned to nobody

[2020-11-16 20:30] mabashian commented on #5893
This got fixed somewhere along the way.

[2020-11-16 20:34] mabashian commented on #6089
I don't think we need this if we do #6073.  I'm going to mark this as blocked until we decide what to do about that other issue.  I think it'd be better UX to be able to type into this field.

[2020-11-16 20:37] mabashian commented on #6214
AFAIK, there are only two places currently where we display date form fields:

https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/Schedule/shared/FrequencyDetailSubform.jsx#L564-L569

https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/Schedule/shared/ScheduleForm.jsx#L114-L120

IIRC, this PF component doesn't support time selection so if/when we do this we may n

[2020-11-16 20:39] mabashian commented on #8247
I fixed this in https://github.com/ansible/awx/pull/8399

[2020-11-16 20:40] mabashian commented on #6302
I'm curious to see how this shakes out when we move to tables.  This problem may go away.

[2020-11-16 20:42] mabashian commented on #6302
I don't think anyone should work on this until tables land.

[2020-11-16 21:10] john-westcott-iv commented on #8579
This is a common issue people run into. In the awx.awx collection things like the host list are descriptive. Meaning that you are telling Ansible exactly what state to put Tower into. As you found in your example above the collection is functioning as designed as you are using Ansible to put Tower into a state where the groups have a single host and you are calling that repeatedly which is causing

[2020-11-16 21:42] mabashian commented on #7522
`Edit Question` should not be a link in this case

[2020-11-16 21:43] mabashian commented on #7509
link #6853 - I think there's some overlap between these two

[2020-11-16 21:47] mabashian commented on #4958
Yea I'm pretty certain this is working as expected.  Moving back to needs_test.

[2020-11-16 21:51] mabashian commented on #7939
<img width="1420" alt="Screen Shot 2020-11-16 at 4 51 35 PM" src="https://user-images.githubusercontent.com/9889020/99312404-01df1000-282c-11eb-9179-ad1cac7264d1.png">

[2020-11-16 21:51] mabashian commented on #7939
@unlikelyzero this looks like it was fixed.

[2020-11-16 21:55] francilioaraujo commented on #8592
@jangel97 the same happened to me. I solved it restarting the awx_task container. It seems the script does not apply all migrations the first time, but restarting the container it completes. I also saw a CRIT log line about supervisord running with root user, but I don't know if this has something related to this bug.

[2020-11-16 23:35] paulthorburn opened #8595 "AWX 15.0.1: AWS EC2 Dynamic Source Inventory warning"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I did fresh install of AWX 15.0.1 and when I try to sync aws inventory the hosts appear but they have no tags or details and the job logs show a warning "has no "ec2_id" variable(s)".  I don't have this issue with my old server which is running 11.1.0

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9

[2020-11-17 08:06] jangel97 commented on #8592
Hello @francilioaraujo, I don't know why but today morning I redeployed release 15.0.1 and it worked from scratch!

In any case thank you!

[2020-11-17 08:06] #8592 closed, assigned to nobody

[2020-11-17 13:40] lemmy04 commented on #8585
you're running awx in a local_docker setup, right?

[2020-11-17 13:51] unlikelyzero opened #8596 "[ui_next] [Meta-issue] Failed to execute 'Send' on Websocket: Still in CONNECTING state."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Multiple ways to trigger Failed to execute 'Send' on Websocket: Still in CONNECTING state.
1. Toggling between Job Output and Detail causes invalidstateerror.
2. Relaunching Jobs

##### ENVIRONMENT
* AWX version: 10664d1931d789c281e2c9d3d2f14c0a69cb9e13

##### STEPS TO REPRODUCE
1. Launch a Job
2. Navigate to the Output Page and toggle between Details

[2020-11-17 14:22] ghost commented on #8585
Yes I am. I will retract this bug since it is not a bug. The docker container uses the DNS server that is a part of the docker installation and is referenced by 129.0.0.11. I rebuilt my machine and was able to ping external machines using the search domains that are placed in the /etc/resolv.conf of all the containers. I guess I had a messed up installation and did not understand the internal Dock

[2020-11-17 14:22] #8585 closed, assigned to nobody

[2020-11-17 15:10] mabashian commented on #8045
Repurposing this issue since the ux has changed a bit.  If you follow these exact same instructions you'll get a 400 from the api but no error is shown.  I believe this is because the field `update_on_launch` is a checkbox and we don't have built in logic to display an error under/around a checkbox.

We may need to look at displaying the error generically again.  If that's the case, the text may s

[2020-11-17 15:15] mabashian commented on #8076
Dupe of https://github.com/ansible/awx/issues/8063

[2020-11-17 15:15] #8076 closed, assigned to nobody

[2020-11-17 15:16] unlikelyzero opened #8597 "[ui_next] Logo appears too small on About modal"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Logo appears too small on About modal

##### ENVIRONMENT
* AWX version: b338da40c534d1b2809b5426b61f13eff7770434
* Operating System: Doesn't seem to matter
* Web Browser: Doesn't seem to matter

##### STEPS TO REPRODUCE
1. Click on About modal

##### EXPECTED RESULTS
Larger logo

##### ACTUAL RESULTS
Small logo

##### ADDITIONAL INFORMATION
![Screen Sh

[2020-11-17 15:20] mabashian commented on #8086
This also gets addressed if/when we move to tables so I'm inclined to mark this as blocked so that it doesn't get worked until tables are situated.

link https://github.com/ansible/awx/issues/6189

[2020-11-17 15:26] mabashian commented on #4615
dupe #8473

[2020-11-17 15:26] #4615 closed, assigned to nobody

[2020-11-17 15:48] mabashian commented on #7563
Marking as blocked pending #6189

[2020-11-17 15:50] mabashian commented on #7678
This is going to replace some existing functionality so I think it's important to consider for an initial release.

[2020-11-17 15:57] unlikelyzero opened #8599 "[ui_next] Launched By sorting doesn't make sense on Jobs lists"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Launched By sorting doesn't make sense on Jobs lists. Nothing is shown.

##### ENVIRONMENT
* AWX version: 10664d1931d789c281e2c9d3d2f14c0a69cb9e13

##### STEPS TO REPRODUCE
1. Go to any Jobs List.
2. Change sort to 'Launched By'

##### EXPECTED RESULTS
Sorted by some attribute present on the rows/columns/list

##### ACTUAL RESULTS
Sorted by an invisibl

[2020-11-17 16:01] unlikelyzero opened #8600 "[ui_next] Cancel Jobs Button is available for completed Jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cancel Jobs Button is available for completed Jobs. Results in inert action

##### ENVIRONMENT
* AWX version: b338da40c534d1b2809b5426b61f13eff7770434

##### STEPS TO REPRODUCE
1. Run a Job
2. Navigate to list view with the completed Job (i.e. /jobs/)
3. Select a completed Job and click Cancel

##### EXPECTED RESULTS
1. Cancel disabled for jobs which a

[2020-11-17 16:11] unlikelyzero opened #8601 "[ui_next] Clickaway from Navbar does not collapse Navbar"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Navbar does not automatically close when a clickaway is performed. This ticket is filed as a ux issue to discuss what the intended implementation will be for NavBar collapse

##### ENVIRONMENT
* AWX version: b338da40c534d1b2809b5426b61f13eff7770434

##### STEPS TO REPRODUCE
1. Expand NavBar
2. Clickaway on a forrm

##### EXPECTED RESULTS
NavBar to

[2020-11-17 16:15] unlikelyzero opened #8602 "[ui_next] JT Schedule form displays an Odd message if JT has Survey"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
JT Schedule form displays an Odd message if JT has Survey

##### ENVIRONMENT
* AWX version: b338da40c534d1b2809b5426b61f13eff7770434

##### STEPS TO REPRODUCE
1. Create a JT with a Survey
2. Attempt to set a schedule for the JT

##### EXPECTED RESULTS
No errors

##### ACTUAL RESULTS
'text' value missing, 'textarea' value missing, 'integer' value missin

[2020-11-17 16:17] unlikelyzero commented on #7740
The Credentials Advanced Search is missing Keys

[2020-11-17 16:21] unlikelyzero opened #8603 "[ui_next] Credentials advanced search is missing Keys in dropdown"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
No Keys shown on advanced Search query for Credentials. Other resources may be affected so marking as high priority.

##### ENVIRONMENT
* AWX version: b338da40c534d1b2809b5426b61f13eff7770434

##### STEPS TO REPRODUCE
1. Navigate to Credentials form
2. Select Advanced Search and Click on Keys dropdown

##### EXPECTED RESULTS
Keys available for query

#

[2020-11-17 16:21] a-dawg opened #8604 "AWX collection: instance_group for projects and templates support"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is needed when using multiple instance group. For now no options is available from the job_templates or inventory objects

[2020-11-17 16:28] mabashian opened #8605 "Attempting to create custom credential throws JS error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE
1. Create a custom credential type with the following Input Configuration:

[code]
2. Attempt to create a new credential by only filling i

[2020-11-17 17:32] rromanchuk commented on #728
I have SSL termination at the load balancer, when i use an nginx proxy,  social oauth stops working with

_Authentication failed: The redirect_uri MUST match the registered callback URL for this application._

Inspecting the redirect_uri  query param,  the proto has been changed to http. Both awx server location and oauth callback configurations are properly configured with https.  If i instead se

[2020-11-17 17:48] mabashian opened #8606 "Credential field missing from adhoc command output details"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Here's the output details:

<img width="1680" alt="Screen Shot 2020-11-17 at 12 46 34 PM" src="https://user-images.githubusercontent.com/9889020/99427155-0d394680-28d3-11eb-83e7-797b0dfb26a4.png">

Here's the object:

<img width="674" alt="Screen Shot 2020-11-17 at 12 46 48 PM" src="https://user-images.githubusercontent.com/9889020/99427179-14605480-28

[2020-11-17 17:50] mabashian commented on #5070
Blocked until #6189 is resolved

[2020-11-17 17:54] wuench commented on #553
Currently trying to find a way to limit extra vars with a survey but allow JSON lists and objects.    i.e. passing "var":["item1", "item2"]  or "var": {"key": "value"}.   Currently allowed by the API, but not in a survey since the survey text fields want a string these values need the quotes escaped.  BTW prompt on launch on extra_vars doesn't limit what variables can be passed like survey.

How a

[2020-11-17 18:14] nixocio commented on #8083
A few notes to be explore by the person working on this issue.

* PF4 FileUpload component accepts the same props as `react-dropzone`. See: https://www.patternfly.org/v4/components/file-upload/react/#restricting-file-size-and-type

We can add new prop `dropzoneProps` to `FileUpload` inside `CredentialInput`.

[code]
We will need to address how `handleIsRejected` sets /passes the error from the `Cr

[2020-11-17 18:15] nixocio commented on #8083
I unassigned myself from this issue for the time being.

[2020-11-17 20:36] wenottingham opened #8609 "Further separate and plugin-ize notifications, credential plugins, etc for maintainability and extensibility"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

With https://github.com/ansible/awx/issues/5157 , we are moving Ansible execution to containerized images, so that if customization of the way Ansible is executed is needed, it is relatively simple to build a new image with those customizations (for both playbook runs and inventory usage).

We still have a few areas where we have 'plugins' that can

[2020-11-17 20:42] rromanchuk commented on #728
I was able to fix this by adding the following set_headers

[code]

The load balancer will only ever deliver terminated https/443, so i just hardcoded these forward headers, upstream awx config must have assumed http/80 causing scheme mismatch in the oauth flow.

[2020-11-17 21:19] tiagodread opened #8610 "Evaluate usage of links in modal"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The host filter modal contains link to hosts for each item, which can easily move the user to host details (the old UI is a list without link)
This issue is a follow up from https://github.com/ansible/awx/issues/8548.
See: https://github.com/ansible/awx/issues/8548#issuecomment-726844266

##### STEPS TO REPRODUCE

1. Navigate to Inventories
2. Create

[2020-11-17 21:20] tiagodread commented on #8548
@nixocio Opened the issue https://github.com/ansible/awx/issues/8610 to track the item:

[2020-11-17 21:48] dsesami commented on #6089
@mabashian I am of the opinion that this is actually a dupe of #6073, which offers a direct solution. :) I'll close it and you can address it there. Making the field type-able is a good idea.

[2020-11-17 21:48] #6089 closed, assigned to nobody

[2020-11-17 21:50] nixocio commented on #8610
I think this is a general issue not just applicable to Smart Inventory modals. Smart inventory is one good example.

[2020-11-17 21:57] mrmibrown opened #8611 "Add AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY parameters to the tower_credential module"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is a request to add AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY parameter support for the tower_credential module.

[2020-11-17 22:05] wenottingham commented on #8611
This is not planned; the existing type-specific fields (such as using "username" and "password" for the access_key and secret_key) are deprecated in favor of using `inputs`.

[2020-11-17 22:05] #8611 closed, assigned to nobody

[2020-11-17 22:34] fosterseth opened #8613 "Cannot add approval node to a previously deleted node"
##### ISSUE TYPE
 - Bug Report

##### ENVIRONMENT
* AWX version: awx: 15.0.1
* Operating System: fedora 32
* Web Browser: chrome

##### STEPS TO REPRODUCE

1. Copy a JT (demo, for example).
2. Create a workflow, add a single node with this JT. Save.
3. Delete this JT.
4. Go to workflow template visualizer and add an approval node for the `Deleted` square. Clicking Save will just hang.

However, yo

[2020-11-18 00:13] t-readyroc commented on #8611
This issue was actually filed on my behalf, but was incorrectly filed. Rather than adding parameter support as listed in the issue above, my request was rather to update [the documentation](https://cloud.redhat.com/ansible/automation-hub/ansible/tower/content/module/tower_credential) to correctly reflect the following paradigm:

- AWS_ACCESS_KEY_ID = the "username" input
- AWS_SECRET_ACCESS_KEY =

[2020-11-18 14:38] ryanpetrello commented on #8613
😶 hang?

Is there an HTTP request made?  Any errors in the browser dev console?

[2020-11-18 15:47] fosterseth commented on #8613
Went back to check, there are errors in the browser console, and no HTTP requests are made

![image](https://user-images.githubusercontent.com/8745776/99552628-387f6c80-298b-11eb-84d2-d90a3b23aa36.png)

[2020-11-18 16:14] unlikelyzero opened #8618 "[ui_next] Favicon is missing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
No favicon!

##### ENVIRONMENT
* AWX version: b338da40c534d1b2809b5426b61f13eff7770434
* AWX install method: `npm install`

##### ADDITIONAL INFORMATION
![Screen Shot 2020-11-18 at 11 14 14 AM](https://user-images.githubusercontent.com/12446869/99556189-361f1180-298f-11eb-8dcc-1df88dbd8f05.png)

[2020-11-18 16:21] nixocio opened #8620 "Hide instance groups when not available on Inventory details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hide instance groups when not available on Inventory details .

![image](https://user-images.githubusercontent.com/9053044/99556934-1fc58580-2990-11eb-8702-4f554aa24fde.png)

[2020-11-18 16:32] unlikelyzero opened #8621 "[ui_next] WF Node Modal renders a resizing window inside a resizing window"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
WF Node Modal renders a resizing window inside a resizing window

##### ENVIRONMENT
* AWX version: https://github.com/ansible/awx/pull/8399 and likely `devel`
* Operating System: Fedora 32
* Web Browser: Chrome 86

##### STEPS TO REPRODUCE
1. Navigate to the WFViz
2. Launch a Node Modal with at least 5 options (like 5 available JTs)
Note the second win

[2020-11-18 16:45] unlikelyzero opened #8623 "[ui_next] Basic search for 'Name' includes the raw API query language"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Basic search for 'Name' includes the raw API query language. Seems very specific and also gets cut off if too long `(Source Control URL (scm...`

##### ENVIRONMENT
* AWX version: b338da40c534d1b2809b5426b61f13eff7770434

##### STEPS TO REPRODUCE
1. Search for something on a list

When not using an advanced search, the specificity of name__icontains see

[2020-11-18 17:40] jbradberry commented on #5209
@rmauc @jvandermeulen https://github.com/ansible/awx/pull/8328#issuecomment-707171773 as noted above.

[2020-11-18 17:47] nicolas-g opened #8625 "AWX Project sync fails to fetch collections when it's from a private git repo"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Installed AWX version **14.1.0** / Ansible **2.9.11**, we have a project in AWX that is failing to sync with our Github repo that using Ansible collections. Our collections are hosted in our private Github repo, we know that support for private collections was added in Ansible **2.10** as per [issue 8257](https://github.com/ansible/awx/issues/8257).

[2020-11-18 18:10] rmauc commented on #5209
Is waiting for the free product really justification to restrict enterprise customers from fully benefiting from the Tower feature set?
Afterall, you can get 10 x Bitbucket Server licenses for $10USD per year. https://www.atlassian.com/licensing/bitbucket#server-licensing

[2020-11-18 19:25] nixocio commented on #5960
Not sure if this issue itself remains valid. Since the time this issue was filed, we removed a few items from the drop down.

![image](https://user-images.githubusercontent.com/9053044/99577773-d1bd7b80-29a9-11eb-83e4-1244a7c4aa1d.png)

[2020-11-18 19:55] marshmalien commented on #5960
There is a PatternFly prop that allows the Select to be appended to a higher DOM element. If we add `menuAppendTo={document.body}` to the Select component, it will allow the Select to break out of the modal's overflow behavior.

https://www.patternfly.org/v4/components/modal#with-dropdown
<img width="873" alt="Screen Shot 2020-11-18 at 2 39 42 PM" src="https://user-images.githubusercontent.com/158

[2020-11-18 20:27] unlikelyzero opened #8627 "[ui_next] Display of Job Timeout is inconsistent"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Prompt On Launch Job Timeout is inconsistent between Add/Edit Form, Detail View, and POL View. In general, I think we should consider showing 'Disabled' if 0 = Disabled. Also Disabled =/= 0 =/= 0m 0s

##### ENVIRONMENT
* AWX version: 10664d1931d789c281e2c9d3d2f14c0a69cb9e13

##### EXPECTED RESULTS
I would expect the Detail View, Add/Edit Form View, and

[2020-11-18 20:59] chrismeyersfsu opened #8629 "Observability and metrics for AWX Job execution pipeline"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
* How many jobs per minute<or some time unit> is my AWX capable of running?
To answer this question you must consider the entire job running pipeline from the API, where jobs are launched or created, to the Task Manager, where jobs are put into waiting, through the Dispatcher, where jobs are put into running & finished, next is the callback receiver

[2020-11-18 21:21] msilmser opened #8632 "Add conditional option to prevent backing up venvs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add an optional conditional for backing up venvs. In some situations, customers may wish to only backup the DB portion of Tower and not all the venvs. Adding a when conditional defaulted to true that can be passed to the include could solve this.

[2020-11-18 22:37] kevincoakley commented on #6175
[code]

AWX 15.0.1 using the ansible/awx:15.0.1 docker image

[2020-11-18 22:43] AkshayAdsul commented on #2495
So I had a similar problem and you should be using the credential type as Source Control . If you have 2fA enabled then in the password field you can mention the github Personal Access Token (PAT) and it works.

[2020-11-18 23:02] smatterchew commented on #8632
This would be handy for us.  We install our virtual environments on shared remote storage using an Ansible play, attaching it to each node that requires it.  For us, backing up these environments is extra time and disk space.

[2020-11-19 01:30] nixocio opened #8634 "Evaluate use singular when deleting only one item"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently all delete modals are displaying the name of resource to be deleted using plural, even when just one item is selected. Evaluate the usage of singular when just one is being selected to be deleted.

![image](https://user-images.githubusercontent.com/9053044/99608848-bc157980-29dc-11eb-80ed-ff979c0da5a1.png)

![image](https://user-images.gith

[2020-11-19 08:16] shahidkarimi commented on #234
What is a solutoin for ansible 2.2 ??

[2020-11-19 08:23] APenketh commented on #234
The requirement for AWX is now ansible version 2.8 as per doc's.
https://github.com/ansible/awx/blob/devel/INSTALL.md#prerequisites
You should not be using 2.2 anymore with AWX

[2020-11-19 14:00] tiagodread opened #8635 "Smart inventory details doesn’t update data after editing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After editing an inventory source, the user is redirected to de details tab, but the data changed isn’t updated, the user needs to refresh the page to see everything updated

##### STEPS TO REPRODUCE

1. Create a smart inventory
2. Edit this smart inventory

##### EXPECTED RESULTS

- After editing all new data should be displayed in the details page
-

[2020-11-19 14:07] unlikelyzero commented on #8635
@mabashian @wenottingham btw, as we start to get closer to release, I think we should redefine priority as severity. Once we get to "hardening", it'll be easier to sort/filter on severity to then drive priority.

In this case, this is a single page (of dozens) and can be fixed with a simple refresh, so 'low'.
If this was app-wide, 'medium'.
If this broke the form entry, 'high'

[2020-11-19 14:08] blaira89 opened #8636 "Job slicing does not interact with limits correctly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using a limits with job template job slicing, the jobs are distributed unevenly.
Job slicing works by splitting the entire inventory by the slice number, which mean if you only mention a subset of the inventory in the limit then it will be distributed unevenly against the limit value

This seems to be mentioned undre "known issues" in the documena

[2020-11-19 14:12] ryanpetrello commented on #8636
@wenottingham don't we have a similar issue to this hanging around somewhere?

[2020-11-19 14:15] AlanCoding commented on #7061
^ yes, that was necessary and I believe you fully finished it.

To my knowledge, we're stuck on just the 1 blocker for #8323, where, for some reason, it leaves around stale settings (for `LICENSE` and `TOWER_URL_BASE`). Both of us have now beaten our heads against that, and it remains a stubborn mystery.

Recap of the plan - assuming that gets resolved, then we merge PR 8323, and then rebase the `

[2020-11-19 14:22] Tioborto opened #8637 "Difference between metrics on interface and API"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We notice a difference between the metrics reported in the "instance groups" tab and what is reported by the API /metrics.

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: kubernetes
* Ansible version:  2.9.13

##### STEPS TO REPRODUCE

Go to `Instance Groups` and show `TOTAL JOBS` key -> **450 jobs**
![image](https://user-images.githubus