[2022-06-08 13:23] #8367 closed, assigned to nobody

[2022-06-08 13:23] #6871 closed, assigned to nobody

[2022-06-08 15:11] fosterseth commented on #12343
We think this bug was fixed in receptor 1.2.3, please make sure this receptor version is present in your awx ee image

[2022-06-08 15:25] mick1627 commented on #12343
I have quay.io/ansible/receptor:devel in my ee repo, and the receptor version is 1.2.0+gce6c620. I will update it to use quay.io/ansible/receptor:latest to have version 1.2.3.

I'm closing this issue and reopen it if I still have this issue with receptor 1.2.3.

[2022-06-08 15:37] #12326 closed, assigned to nobody

[2022-06-08 15:42] tvo318 commented on #12336
Not sure if work is related or can be updated to include this logic: https://github.com/ansible/awx/pull/12340

[2022-06-08 15:50] fosterseth commented on #12321
Hello, your question seems like a good one to ask on our mailing list at https://groups.google.com/g/awx-project. You can also join #ansible-awx on https://libera.chat/ and ask your question there.

[2022-06-08 15:50] #12321 closed, assigned to nobody

[2022-06-08 15:55] fosterseth commented on #12316
Hello, your question seems like a good one to ask on our mailing list at https://groups.google.com/g/awx-project. You can also join #ansible-awx on https://libera.chat/ and ask your question there.

[2022-06-08 16:33] SureshUppelli opened #12347 "ERROR! couldn't resolve module/action 'community.vmware.vmware_content_deploy_ovf_template'. Ansible Tower"
Trying to deploy vm from ovf template from content library in Ansible Tower job

ERROR! couldn't resolve module/action 'community.vmware.vmware_content_deploy_ovf_template'. This often indicates a misspelling, missing collection, or incorrect module path. The error appears to be in '/tmp/bwrap_3_39c7jx5j/awx_3_2vmpzxuh/project/deploy-ova-from-content-library.yml': line 8, column 9, but may be else

[2022-06-08 17:48] ricristian commented on #12060
Problem still persists on 21.1.0 installed from ansible galaxy

[2022-06-08 18:14] john-westcott-iv commented on #12060
This fix unfortunately didn't get merged until after 21.1.0 was released but it should be in the next release. The system auto-closed this issue, I will reopen until we can confirm its working as expected.

[2022-06-08 19:29] #11422 closed, assigned to AlanCoding, jay-steurer

[2022-06-08 20:12] amarbut24 opened #12350 "ERROR! [DEPRECATED]: community.general.docker_service has been removed."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello,

[2022-06-09 01:37] auroraqin commented on #11613
Hi @TheOnion7 , sorry for my late response, it took some time to turn around. Finally, we have solved this issue by upgrading crowdstrike from version 6.33.x to 6.35.x.
Thank you all so much for the information, @TheOnion7 and @nixocio

[2022-06-09 13:15] lutskevich commented on #12117
quay.io/ansible/awx-ee:latest - fixed

[2022-06-09 13:16] #12117 closed, assigned to nobody

[2022-06-09 13:30] moonrail commented on #12297
We can also experience this or at least a similiar issue on AWX 21.1.0.
It happens on Inventory Updates and regular Playbook runs.
It happens with different Ansible Core versions (2.10, 2.11 and 2.12) based completely on the official `ansible-runner` Execution Environments.
We cannot find the common thread on to why though, as these Jobs just fail without any interaction.
API reports for these job

[2022-06-09 14:49] ojc97 opened #12354 "awx.awx.credential module git token missing"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hi guys

[2022-06-09 15:00] moonrail commented on #12297
Found the cause (to our problem at least):
Connections were terminated by the Loadbalancer before the K8s cluster, AWX was launching pods in.
We have AWX run in Cluster A while Jobs are being run in Cluster B.

The Loadbalancer cut the connection, as no data was being transfered.
After increasing the timeouts for client & server to (for our use-case) acceptable values, Jobs were completed.

Anothe

[2022-06-09 19:03] kialam commented on #11596
Research issue updated, see comment [here](https://github.com/ansible/tower/issues/5635#issuecomment-1151491732). Issue is still blocked while we wait for Patternfly.

[2022-06-09 19:42] keithjgrant opened #12357 "Indicate when job output is not collapsible"
Indicate to the user when a job output is not collapsible. This happens under several different circumstances, but we don't want it to appear collapsing is "broken" when it is intentionally disabled

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

[2022-06-09 19:53] john-westcott-iv commented on #12336
#12340 would not address this but @keithjgrant is working on some other schedule page updates and may be able to address this at the same time.

[2022-06-10 00:16] InnocentK commented on #12334
Resolved

[2022-06-10 00:16] #12334 closed, assigned to nixocio, InnocentK

[2022-06-10 00:16] InnocentK commented on #10514
Resolved

[2022-06-10 00:16] #10514 closed, assigned to nixocio, InnocentK

[2022-06-10 07:33] anxstj commented on #12232
I have the same issue, but additionally, the log doesn't update at all if the job runs on another execution node other than the controller node. In that case, I have to switch between the "output" and "details" tabs to see updates (opening the "output" tab causes a reload of the output).

AWX Version: 21.1.0
Install method: local docker

[2022-06-10 07:37] anxstj commented on #11715
I updated to 21.1.0 and the error is gone. Thanks.

[2022-06-10 10:22] john-westcott-iv commented on #12354
For clarification, are you getting an error when using that ansible task or are is it just that the docs do not explicitly call out token as being an option in input?

If it is the former, please send the error as this syntax should be working.
If it is the latter, we don't include all of the options in the documentation. We have some examples in there as to what is allowed in inputs but as creden

[2022-06-10 13:17] AaronJaegerVA commented on #12232
I also see this behavior.

[2022-06-10 15:11] Tioborto commented on #12277
Hello @AlanCoding ,
Sure, we have for this inventory, around 18000 jobs. We provide AWX for our customer and we don't have any idea they use our instance (like a SaaS).

On job_events API endpoint, for a single job, we have around 230 job events.

Have you a workaround to help us to help our customer to continue to use InventoryUpdate (using external source) ?

[2022-06-10 15:20] Tioborto commented on #12277
I launched the same command like you and I found another number

[code]

I don't understand how I can read this result

[2022-06-10 16:09] #12124 closed, assigned to nobody

[2022-06-10 16:16] shanemcd commented on #12350
Hello - we don't have the resources to support older versions of AWX. In more modern versions you would solve this by building your own Execution Environment (see Ansible Builder). If you want help hacking AWX 15, you might get more help on IRC or the mailing list:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2022-06-10 16:16] #12350 closed, assigned to nobody

[2022-06-10 16:17] shanemcd commented on #12347
Hello. This is an issue tracker for the upstream AWX project. If you are a Tower customer, please open up a support issue and they will help you out.

[2022-06-10 16:17] #12347 closed, assigned to nobody

[2022-06-10 16:17] shanemcd commented on #12345
Hello. I think the variable you're setting only applies to the control plane pods. See if you have any luck when modifying the pod spec for the Container Group (under the Instance Groups page).

[2022-06-10 16:53] amarbut24 commented on #12350
Hey @shanemcd

Totally understand being unable to support such an older version. Does your team have any documentation on upgrading from version 15 to a newer (stable) version?

[2022-06-10 17:08] AlanCoding commented on #12297
I know that this `update_model` method used in the cancel callback has an annoying behavior of returning `None` when a database error happens and doesn't recover.

https://github.com/ansible/awx/blob/29d60844a8cee16bcd31657cecc444a692ade689/awx/main/utils/update_model.py#L43

However, I have still usually seen a traceback in the logs that happened as a side effect of this. In `awx.main.tasks.jobs`

[2022-06-10 17:20] fosterseth commented on #12294
This is currently supported, please see this section of the docs https://docs.ansible.com/automation-controller/4.1.0/html/administration/social_auth.html#organization-and-team-mapping

[2022-06-10 17:42] hesmithrh commented on #9967
Hi!

Thank you very much for your submission to AWX. It means a lot to us that you have taken time to contribute.

On this issue, changes were requested but it has been some time since then. At this time we are closing your issue. If you get time to reproduce or revisit you are welcome to open another issue or we can reopen this issue upon request if you contact us by using any of the communicatio

[2022-06-10 17:42] #9967 closed, assigned to nobody

[2022-06-10 17:47] fosterseth commented on #12276
fact caching is supported at the job template level, please see the documentation here to enable fact caching https://docs.ansible.com/automation-controller/4.2.0/html/userguide/job_templates.html#benefits-of-fact-caching

[2022-06-10 17:53] amarbut24 commented on #12350
fwiw (in case someone runs into this issue and lands on this issue)
simply going from 15.0.1 -> 17.0.1 fixed the playbook error

If someone has some time question still stands on the recommended upgrade path from 17.0.1.
I see this doc -> https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md
Which _I think_ is what I would follow

Should I just go to the newest rele

[2022-06-10 17:58] fosterseth commented on #12268
@jbradberry might be interested in this

[2022-06-10 18:04] jbradberry commented on #12268
@fosterseth I've been responding to the attached PR, #12271

[2022-06-10 18:22] fosterseth commented on #12278
it might be worth deleting all of your images / containers (except postgres) and see if the error goes away.

wondering if there are any browsers open somewhere attempting to connect to the app (with stale user session data)?

[2022-06-10 18:29] fosterseth commented on #12273
when a job runs in a pod, it uses a container based on the awx-ee image. This image is generated nightly and pushed to quay.io/ansible/awx-ee:latest, so if your execution environment has pull "always pull container before running", then your k8s cluster is going to pull that image day.

Also k8s has some garbage collection features that you may play around with to remove old images. https://kubern

[2022-06-10 18:30] fosterseth commented on #12272
Hi, would you mind trying this out on the latest version of AWX to see if it is still an issue?

[2022-06-10 19:26] ammygill commented on #20
let's say we have 3 Survey parameters:
According to the first parameter selected it fetches the 2nd parameter in real-time and displays options to select from it and accordingly for the 3rd parameter?
Are we thinking or taking this RFE in the direction of the above-mentioned scenario.

[2022-06-10 20:39] CluelessTechnologist commented on #11879
If it's CentOS fault where is the bug report? I mean KVM is a RedHat sponsored project. I was hoping to find a bug report somewhere so I can track the issue. As stated in this issue discussion it's not really a AWX issue.

Interesting Proxmox thread on the same issue: https://forum.proxmox.com/threads/kernel-panic-when-creating-vms-centos-9-stream-iso.104656/
Changing VM CPU to host will work but

[2022-06-11 02:32] TinajaLabs opened #12362 "Ansible playbook?"
Irony?

I see all these complicated instructions for installing the application in Kubernetes, but wouldn't a playbook do it better?

Can I skip Kubernetes and just install in an instance of centos, or ubuntu?

Thank you.

[2022-06-11 13:50] shanemcd commented on #12362
Hi Chris. Sorry to see you appear to be frustrated. We have a small team and can only afford to maintain a single install path for the upstream community. If you look into how the operator works, it runs Ansible code internally. A lot of folks use it and we get just as many (if not more) contributions to that project as we did for our old install playbook. Give it a shot and maybe you’ll end up li

[2022-06-11 13:50] #12362 closed, assigned to nobody

[2022-06-12 15:12] MalfuncEddie commented on #20
I think a "workflow" editor for surveys could elevate a lot of issues.

Q1: pick option a b or c
Option a goes straight to q 3 option b to question2. Option c ends the survey

Option a/b/c braches to another question/ node. (And have a default branch)

[2022-06-13 05:25] rooso commented on #20
Yes, I would also suggest a workflow like in many survey plattforms.
If user picks "a" go to question 3, if user picks "b" go to question 4, and so on.

The option for real-time data fetch should also be possible with standard survey fields without a workflow. If a workflow is used, it would be awesome to send a value of a previous question within the url to fetch the values.

- Question 1: Pick b

[2022-06-13 08:56] anxstj commented on #12278
The error is meanwhile gone. So, the best explanation is probably a browser with a stale session.

[2022-06-13 08:56] #12278 closed, assigned to nobody

[2022-06-13 09:32] jsalatiel commented on #20
@wenottingham Is this being worked on ? It has been 5 years since the ticket was created.

[2022-06-13 12:38] #10961 closed, assigned to jay-steurer, djyasin

[2022-06-13 15:24] MalfuncEddie commented on #20
I realy like the idea of being able to request a REST API for options. This would fit with netbox for instance:

Eg:
Q1: on What site would you like to run (REST API query sites from netbox)
Q2: On VM? (REST api call to netbox that selects the VM'S from netbox with filter site of Q1)
...

I do think this is a bit of out of scope of AWX.  I am thinking of developing an django app that juist does th

[2022-06-13 15:30] simplyprasu commented on #8334
Hi Friends,
I need some help to create the ansible notification playbook .I am getting some errors while creating the modules.

{
  "module_stdout": "Traceback (most recent call last):\r\n  File \"/home/ansible/.ansible/tmp/ansible-tmp-1655119477.5785654-637-106904318472726/AnsiballZ_notification_template.py\", line 100, in <module>\r\n    _ansiballz_main()\r\n  File \"/home/ansible/.ansible/tmp/a

[2022-06-13 17:09] dacofr opened #12364 "Support of unified requirements.yml file with roles/collections do not work"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Eve

[2022-06-13 18:06] #12092 closed, assigned to nixocio

[2022-06-13 18:16] trahman73 commented on #2685
Updated example of deleted nodes:
https://marvelapp.com/prototype/i9f4d07/screen/87462690

[2022-06-13 18:18] trahman73 commented on #12130
Latest mocks for updating the two views:
https://marvelapp.com/prototype/i9f4d07/screen/87368138

[2022-06-13 18:20] john-westcott-iv commented on #8334
@simplyprasu, this message looks more like a request for help than a bug report. From a quick look it appears like an issue with how you are setting up your task in your playbook. Please reach out to the [AWX mailing list or IRC channel](https://github.com/ansible/awx/tree/devel/#get-involved) for support; it would be helpful if you included the task from your playbook that is failing along with t

[2022-06-13 21:51] chris93111 opened #12371 "lookup hashivault return test error when user is not admin"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hel

[2022-06-14 04:19] TinLe commented on #12211
How are you setting your env var?

I am doing something similar and it works for me.   I store my credentials in Hashicorp Vault.   So I grab it from HC Vault, use ansible.builtin.copy to put the value into a file.  Set the env var to that file and everything just works.  I've been using this since AWX v19.0.0 to now running v21.1.0

e.g.
[code]

[2022-06-14 09:47] anxstj opened #12372 "pg_dump causes AWX to loose jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Our

[2022-06-14 09:48] ojc97 commented on #12354
Hi @john-westcott-iv, where is the documentation that you are referring to?

I am getting an error with the tasks - credential and then project when trying to use the previously made credential.

`fatal: [localhost]: FAILED! => {"changed": false, "msg": "Unable to create project infrastructure: {'credential': [\"Credential kind must be 'scm'.\"]}"}`

[2022-06-14 12:53] AlanCoding commented on #10625
Heads up to @fosterseth, closing as not-a-bug because we merged UI changes to allow a project without a marked last update to display cleanly.

[2022-06-14 12:53] #10625 closed, assigned to nobody

[2022-06-14 14:35] john-westcott-iv commented on #12354
The docs referred to are https://docs.ansible.com/ansible-tower/latest/html/userguide/credentials.html#credential-types.

From the error here and the output above, are you trying to use a GitHub Personal Access type credential with an SCM project? If so, that will not work. An SCM project needs a credential of type [Source Control](https://docs.ansible.com/ansible-tower/latest/html/userguide/crede

[2022-06-14 15:43] hesmithrh commented on #12231
@nixocio will look at this, we may have fixed it

[2022-06-14 15:48] shanemcd commented on #12118
I'm not sure if we can really do anything about this for container groups. This might be helpful: https://medium.com/@j.wahidin/kubernetes-day-2-operation-working-with-self-signed-image-registry-bd3c7ff1498d

[2022-06-14 15:55] nixocio commented on #11167
PR was approved and merged.

[2022-06-14 15:58] fosterseth commented on #12297
@ybucci Hi, did @moonrail 's suggestion help solve this bug for you?

[2022-06-14 16:04] kurokobo opened #12374 "AWX_TASK_ENV in settings.py causes "Something went wrong" on the "Edit" page in "Job settings""
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Aft

[2022-06-14 17:30] #11795 closed, assigned to nixocio, jay-steurer

[2022-06-14 18:10] jbradberry opened #12375 "Invoking setup.py directly is deprecated"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

The

[2022-06-14 18:25] nixocio commented on #12231
This issue was solved by https://github.com/ansible/awx/pull/12247

[2022-06-14 18:25] #12231 closed, assigned to nobody

[2022-06-14 18:34] InnocentK commented on #11167
Resolved

[2022-06-14 18:34] #11167 closed, assigned to nixocio, InnocentK

[2022-06-14 19:21] jbradberry commented on #8464
I think maybe what we should do is add new verbs for operations against the related endpoints: `related_get` or `rget`, `related_create` or `rcreate`, `related_modify` or `rmodify`

[2022-06-14 19:23] #8097 closed, assigned to nixocio, akus062381

[2022-06-14 19:43] #11715 closed, assigned to nobody

[2022-06-14 21:13] jbradberry commented on #12268
The attached PR has been merged.

[2022-06-15 08:01] #12268 closed, assigned to nobody

[2022-06-15 08:34] chrisvanmeer opened #12379 "Project not updating in Template"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-06-15 08:39] chrisvanmeer commented on #12379
Ok found the issue, after changing the project, you need to re-select a playbook and if you don't, you won't get notified that you are missing a required field, but the change is just ignored.

I don't know if this is by design, or is missing a "required field" check.

[2022-06-15 08:53] WoodooTek commented on #7859
\+ 1

[2022-06-15 12:38] adpavlov commented on #12097
@gundalow I was able to WA this behavior by stripping path in [awxkit/awxkit/api/pages/page.py](https://github.com/ansible/awx/blob/b9e67e79726e4052b621a8f1a1aa6eb5e1428a0a/awxkit/awxkit/api/pages/page.py#L91) in `class Page(object):`

After ` value = self.json[name]` I added following code:

[code]

[2022-06-15 12:41] #10093 closed, assigned to kialam, jay-steurer

[2022-06-15 12:44] adpavlov commented on #12297
I think it's related to #11805. In screenshot theres is 4 hours and 7 minutes difference between start and error of playbook

[2022-06-15 14:08] cerberek commented on #11338
For me the same behavior happens when automation-job pod finished and is destroyed.
In pod logs i could see that all happened correctly but AWX jobs have Error with trimmed  log output.

[2022-06-15 15:57] #5012 closed, assigned to nixocio, akus062381

[2022-06-15 16:01] AlexSCorey commented on #12379
You should have gotten a notification after trying to save the job template if you did not select a playbook.

[2022-06-15 16:07] AlexSCorey commented on #12379
![Screen Shot 2022-06-15 at 12 07 35 PM](https://user-images.githubusercontent.com/39280967/173874355-7ec2d3f0-72bb-42d1-b71b-2e1b163d19f3.png)

[2022-06-15 16:18] chrisvanmeer commented on #12379
It did show me the message below the selectbox, but apparently there is no further check if all required fields are filled while pressing the Save button.

[2022-06-15 17:22] AlexSCorey commented on #12379
I'll add that it looks like you are using an old version of Ansible and I recommend that you upgrade to the latest version.

[2022-06-15 17:24] #12379 closed, assigned to nobody

[2022-06-15 17:37] AlanCoding commented on #12364
It sounds like what you want is:

[code]

We didn't used to support requirements at `requirements.yml`, this was added in a (somewhat) recent version. As that was done, it was clear that we were hesitant to install roles from this file, because it might wind up doing _unwated_ installs.

The behavior could be trivially changed with that diff, but should we? I am unwilling to answer that myself. If

[2022-06-15 18:33] jbradberry commented on #12035
The change to the help output was done in https://github.com/ansible/awx/pull/12049, which has merged.  Closing.

[2022-06-15 18:33] #12035 closed, assigned to nobody

[2022-06-15 18:38] #12164 closed, assigned to john-westcott-iv, jay-steurer

[2022-06-15 19:54] jbradberry commented on #4728
Neither Django 3.2 LTS nor the latest 4.1 support this.  This seems extremely unlikely to change, so closing this.

[2022-06-15 19:54] #4728 closed, assigned to nobody

[2022-06-15 20:50] rgl commented on #12060
I'm not sure if this is related, but this warning is not systematic. here are two different runs with two different results:

[code]

[code]

[2022-06-15 20:51] rooftopcellist opened #12387 "Add supported awx-operator version in a release notes"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-16 00:37] kurokobo commented on #12387
For someone who needs this, [here is an _unofficial_ mapping table](https://github.com/kurokobo/awx-on-k3s/blob/main/tips/version-mapping.md) of past versions.

It would be so nice if the supported version is available on the release notes 😃

[2022-06-16 11:06] JG127 commented on #12387
If I may be so bold to ask: can the ansible release version also be included ?

This is for development & test reproducing purposes. Otherwise every developer needs an AWX environment to develop playbooks.

The unofficial mapping is spot on what I was looking for ! :-)

[2022-06-16 11:17] kurokobo commented on #12387
@JG127
In my opinion, the version of Ansible that used to run playbook totally depends on which EE image is used. Therefore, I don't think including the Ansible version in the release notes will help much.

For development and reproducibility purposes, I think it would be more appropriate to run playbook on the same EE that AWX uses. To achieve this you can use Ansible Navigator or Ansible Runner.

[2022-06-16 12:56] sohwaje opened #12388 "Can I add Inventory automatically?"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-16 13:48] nixocio commented on #11987
PR was merged https://github.com/ansible/awx/pull/12348

[2022-06-16 13:48] #11987 closed, assigned to nixocio

[2022-06-16 13:55] AlexSCorey commented on #12388
@sohwaje Thanks for reaching out. I'm not sure what version of awx you are using, but Inventory Scripts was deprecated in  version 3.8.6.  For help with a workaround please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-06-16 13:55] #12388 closed, assigned to nobody

[2022-06-16 14:02] AlexSCorey commented on #12293
I'm putting needs_triage back on because it was removed, but it looks like no action has been taken here.  I think we should either close this issue, or put it some place to indicate next steps.

[2022-06-16 14:04] fosterseth commented on #12294
Let us know if what is described in the docs is helpful to you, if not feel free to open another issue. closing for now

[2022-06-16 14:04] #12294 closed, assigned to nobody

[2022-06-16 14:19] #12194 closed, assigned to keithjgrant, fosterseth, akus062381

[2022-06-16 15:02] sohwaje commented on #12388
@AlexSCorey If Inventory Scripts disappeared, how do I dynamically add inventory in the version of AWX 20.1.0 I am not interested in integrating with Azure or AWS. I want to add my On-premis servers dynamically or automatically. Is there any way?

[2022-06-16 19:10] sooslaca commented on #12194
@akus062381 why this on closed? I'm not sure there was a solution (PR) for this yet. Thanks

[2022-06-16 22:25] trahman73 commented on #11994
We can use the PF empty state to show an error... The wording in the mockup below is just an example that can change to better fit the use case.
![image](https://user-images.githubusercontent.com/13351591/174188176-976e86c8-7d45-419b-bab7-b5c7f0e49f42.png)

[2022-06-17 06:01] mihai-satmarean opened #12394 "aws_ec2 plugin in AWX Unable to assume IAM role"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whi

[2022-06-17 06:36] stefanpinter commented on #11805
same problem with awx 21.1.0 & k3s v1.21.7+k3s1
for now, where I "know" that the last task ends like it should, I re-run the playbook with the remaining tags only

well, I can only assume that the last task ended without error, as I don't see an "ok", "changed" or "failed"....

[2022-06-17 10:03] adpavlov commented on #11805
@meis4h Is there any news from support?

[2022-06-17 12:29] Tioborto opened #12395 "Finished date before started date on API"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hel

[2022-06-17 12:42] Tioborto commented on #12395
Other problem in UI, when the time is negative
![image](https://user-images.githubusercontent.com/29703972/174300425-e1cda597-9996-42e2-aa57-ea229f1af443.png)

[2022-06-17 19:03] mihai-satmarean commented on #12394
maybe is an error or something wrong configured in the AWS, but when using accounts from different organisations, the role assume is not working, our workaround was to create a user in the same organisation, then the assume works. But this is not our main use case.

[2022-06-18 04:11] d3al opened #12396 "Job gets stuck randomly on a random task."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I d

[2022-06-18 05:20] d3al commented on #12396
Poking around a bit.

kubectl exec -ti deploy/awx  -c  awx-task -- /bin/bash

I look at the log /var/log/tower/dispatcher.log

I see two errors.

1.

[code]

2.
[code]

I've checked /var/lib/awx/ and I don't see a job_status directory or file. I created a directory and ran the job again. I will check this log if the job gets stuck again, I have a feeling it's related to this folder not existing an

[2022-06-18 10:56] dacofr commented on #12364
Hello Alan,

thanks for your feedback :)
For my understanding of unified requirements.yml at top level is that :

[code]
use  **ansible-galaxy role install** -r {{ item }}

[code]
use  **ansible-galaxy collection install** -r{{ item }}

[code]
use **ansible-galaxy install** -r {{ item }}

After, maybe they are some constraints to use  **ansible-galaxy install** with AWX that i do not see.

Thanks

[2022-06-18 19:18] d3al commented on #12396
I'm getting this series of logs on the host machine which is directly timed when a job fails.

I've also increased the job slicing from 1 to 3.

When I get these logs, I notice at least one job fails while the other 2 continue to run. I've only checked this twice but more jobs might fail. I've updated this server, rebooted using the latest kernel.

[code]

[2022-06-20 06:20] db0 commented on #3769
I got a behaviour which seems relevant as well. I'm creating about 10 azurerm inventory sources in the same inventory with some conditional groups which will create me one group per OS type (windows/linux). In the windows one, I put the relevant winrm variables to allow the connections to windows host work from the same templates as linux. This inventory typically syncs on each job execution

Rand

[2022-06-20 14:06] hbjydev commented on #1967
Bumping, this would be really useful.

[2022-06-20 22:27] TinajaLabs commented on #12362
Thanks, Shane,

The single install path you recommend is via kubernetes, right?  and to do that it requires AWX Operator?

Before posting I googled and just now get it that "operator" is a automation config model for kubernetes - "Kubernetes operator is an application-specific controller that extends the functionality of the Kubernetes API to create, configure, and manage instances of complex appl

[2022-06-21 14:15] AlexSCorey commented on #12388
@sohwaje The mailing list is really the best place to get this type of help.  See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

However, to get you started: You can use SCM inventory sources that use scripts inside the assigned file to dynamically add inventories.

[2022-06-21 14:49] john-westcott-iv opened #12398 "New warning about timezone being saved as something else not properly translated."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

A w

[2022-06-21 15:16] john-westcott-iv opened #12399 "Add help text to schedules in UI."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-21 15:40] fosterseth commented on #12194
@sooslaca fixed in this PR https://github.com/ansible/awx/pull/12287

[2022-06-21 16:43] kialam commented on #12203
I followed the steps to reproduce and no longer see this error message. It now takes me to the output screen where it displays a `failed` job status for the workflow.
![Screen Shot 2022-06-21 at 9 41 55 AM](https://user-images.githubusercontent.com/2293210/174853444-ce096890-d49b-4cb8-a28b-6781970af37d.png)

Closing, but feel free to reopen if this is still an issue.

[2022-06-21 16:43] #12203 closed, assigned to nobody

[2022-06-21 16:53] tree4125 opened #12400 "awx intermittently reports non-complete playbook as failed and stops outputing log"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Sho

[2022-06-21 19:42] fosterseth opened #12401 "tower in tower setting for start_task_limit"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-21 20:12] kdelee opened #12402 "[Task manager] query UnifiedJob model instead of each job type individually"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-21 20:13] fosterseth commented on #12202
Also potentially spawn workflow jobs from a workflow JT in the same or similar preparation task

[2022-06-21 20:15] kdelee commented on #12202
https://github.com/ansible/awx/blob/923cc671db1e8a76325afc6ed14798bcbc66a64d/awx/main/scheduler/task_manager.py#L151-L212

[2022-06-21 22:41] tuxonfire opened #12405 "Add a awx --conf.custom_ca_cert option to specify the ca cert"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-22 01:01] d3al commented on #12396
I've updated k3s to 1.24.1 which is the latest as of today and still getting stuck jobs.

I ran some jobs and as I was watching the job run through tasks, I was also watching the syslog on the host. When a job got stuck on a task and didn't progress, there was no syslog output. It seems like there is a timeout occurring. Is there a log I should be watching? Anyway to enable debug logging?

[2022-06-22 08:26] #12169 closed, assigned to jbradberry, jay-steurer

[2022-06-22 11:30] kerukulla opened #12409 "Tags are not being assigned to the hosts in the inventories"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-06-22 12:44] Tompage1994 opened #12406 "Having multiple schedules of same name causes schedule module to fail"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Usi

[2022-06-22 12:45] anttiah commented on #12324
Until this gets fixed, one possible workaroud is to manually create workflow job template with the required credential and  copy it to new template using `copy_from` parameter.

[2022-06-22 12:52] AlanCoding commented on #12402
the launch type part may have to be a separate action on the queryset like `.exclude(launch_type="sync")`.

The inventory source file type is not managed by the task manager at all. It appears to be created here.

https://github.com/ansible/awx/blob/5bd4aade0e54a3f5cff08014033fa90568b3b2b1/awx/main/management/commands/inventory_import.py#L864-L866

Reading this code, it may be created in the "pend

[2022-06-22 12:58] AlanCoding commented on #12202
Oof, not only does `bfs_nodes_to_run` make references to `p.job`, where `p` is a parent worthy of considering for whether next node should run, it also references `p.unified_job_template`. This has potential for virtually unlimited performance impact and it applies for every run of the task manager when a workflow is half-finished.

[2022-06-22 14:14] john-westcott-iv commented on #12060
@MallocArray This fix should be published in the latest release. Can you test and confirm?

[2022-06-22 14:15] john-westcott-iv commented on #12060
@rgl, if you are seeing the message inconsistent across runs could you open another issue for that?

[2022-06-22 14:19] jbradberry commented on #11919
Closing as a duplicate issue, for which the PR has merged: https://github.com/ansible/awx/pull/12335

[2022-06-22 14:19] #11919 closed, assigned to nobody

[2022-06-22 15:16] fosterseth commented on #12405
@tuxonfire do you mind explaining a bit more about the use case around this? thanks!

[2022-06-22 15:22] fosterseth commented on #12400
possibly same as https://github.com/ansible/awx/issues/12297

[2022-06-22 15:22] kialam commented on #12400
Possible duplicate of https://github.com/ansible/awx/issues/12297

[2022-06-22 15:26] fosterseth commented on #12400
looks like we want to provide extra error handling when creating the object instead of just returning a None type, @AlanCoding knows the relevant code around this

[2022-06-22 15:42] fosterseth commented on #12395
This has a deeper underlying cause and is a known issue, has to do with reaping jobs that have a waiting status but are in a dispatch queue ready to run.

The team is currently tracking this issue

[2022-06-22 15:49] shanemcd commented on #12394
I don't know of any way to do this given the fact that jobs run inside of a container and we do not have access to the underlying host. We'll leave this open in case there's some way we're not aware of or if a better solution comes along in the future.

[2022-06-22 15:53] #12354 closed, assigned to nobody

[2022-06-22 16:03] akus062381 commented on #12293
This issue should be resolved when the above issue is fixed.

[2022-06-22 16:03] #12293 closed, assigned to nobody

[2022-06-22 16:13] fosterseth commented on #12354
Closing issue due to inactivity. If this is still an issue that needs to be addressed, feel free to open a new issue. Or, it may be a question best suited for our mailing list, https://groups.google.com/g/awx-project

[2022-06-22 16:13] fosterseth commented on #12345
Closing issue due to inactivity. If this is still an issue that needs to be addressed, feel free to open a new issue. Or, it may be a question best suited for our mailing list, https://groups.google.com/g/awx-project

[2022-06-22 16:13] #12345 closed, assigned to nobody

[2022-06-22 16:37] john-westcott-iv commented on #12387
In the AWX release docs we added a task to cross link the releases of AWX and Operator and did this for the last releases.

[2022-06-22 16:37] #12387 closed, assigned to john-westcott-iv

[2022-06-22 17:32] rgl commented on #12060
@john-westcott-iv, with the latest 21.2.0 it no longer shows that message. so I thing its good now. thx!

and the collection version list is also good:

[code]

[2022-06-22 17:43] john-westcott-iv commented on #12060
Thanks for the confirmation!

[2022-06-22 18:03] MallocArray commented on #12060
Confirmed as well

[2022-06-22 18:03] #12060 closed, assigned to john-westcott-iv

[2022-06-22 18:39] AlanCoding commented on #12400
It's a plain method that's causing the trouble. If the `update_model` method fails to `return` here because the retry count has ran out, then it does _nothing_.

https://github.com/ansible/awx/blob/29d60844a8cee16bcd31657cecc444a692ade689/awx/main/utils/update_model.py#L39-L43

That means that the method completes with no return, in other words, returning `None`. This is a very very bad thing to d

[2022-06-22 19:20] AlanCoding opened #12413 "Track `scm_revision` on SCM inventory updates like we do for jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-23 10:42] chris93111 opened #12416 "jobs are poorly distributed between controllers"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hi

[2022-06-23 14:00] justbyBen commented on #12266
Any updates?

[2022-06-23 14:58] jorpilo commented on #5527
I don't believe system admins approval is a solution or just giving more permissions to Org Admins. Organizations allows for a neat isolation of the assets but they don't make much sense if they are not self manage and still depend on a system administrator to manage each of the users. Projects or groups could have been used the same way without the need of organizations.

I understand that Org Ad

[2022-06-23 15:04] justbyBen commented on #12266
@edudobay FYI: I fixed by generating a new cert with open ssl and replaced the default pub and priv key with the new ones.
(On AWX: /opt/awx/tools/docker-compose/_sources/receptor/<work_public_key.pem>/<work_private_key.pem>)

[2022-06-23 19:55] #4481 closed, assigned to AlanCoding

[2022-06-24 07:10] tcsabina opened #12425 "Could the Release Notes of AWX contain the used ansible version?"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-24 08:10] tcsabina opened #12426 "Images at https://quay.io/repository/ansible/awx"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hi!

[2022-06-24 09:23] Ashish1981 commented on #12266
@justbyBen I tried to create as mentioned on task with 4096 bit, but still not worked for me. which exact type key to be created?

[2022-06-24 10:20] justbyBen commented on #12266
OpenSSL rsa 4096 and then converting to pem format

[2022-06-24 11:09] kurokobo commented on #12426
Refer the official installation guide: https://github.com/ansible/awx/blob/devel/INSTALL.md

The image you mentioned is the official image, but it's not designed to run directly and separately using `docker run`. Typically it shoud be used with Kubernetes, OpenShift, or Docker Compose.

If you have any further questions about installation and usage of AWX, the mailing list or IRC channel is the be

[2022-06-24 11:27] kurokobo commented on #12425
The version of Ansible used by AWX totally depends on the Execution Environment used in AWX. Since the EE used in AWX can be determined by the user, therefore the version of Ansible used by AWX is also up to the user.

The default EE for AWX, awx-ee, currently uses Ansible 2.12, but this is not pinned with AWX releases as it also depends on the release cycle of ansible-runner. The release cycle of

[2022-06-24 11:55] #12426 closed, assigned to nobody

[2022-06-24 12:30] shanemcd commented on #12425
@kurokobo is correct. Ansible is not installed within AWX itself, it depends on the EE. The latest image of awx-ee just pulls the latest version of Ansible. If you want to pin to a particular version you'll want to build your own EE. For info on how to do that see [Ansible Builder](http://ansible-builder.readthedocs.io/en/stable/)

[2022-06-24 12:30] #12425 closed, assigned to nobody

[2022-06-24 13:20] mick1627 commented on #12343
I'm reopening this issue, I still have it after the update of AWX and our custom EE :

I'm using AWX 21.1.0
Custom EE with receptor 1.2.3.

[code]

[2022-06-24 13:36] shanemcd commented on #12343
Did you run the above command inside of the control plane EE or inside of a pod for a running job?

[2022-06-24 13:42] mick1627 commented on #12343
I am using the same docker image for the control plane EE and the pod where the job is running

[2022-06-24 13:48] shanemcd commented on #12343
Can you share any information about the workload? How many hosts, how many tasks, how much stdout, are you gathering a lot of facts? Anything you can share might be helpful.

[2022-06-24 15:23] AlexSCorey commented on #12395
@keithjgrant FYI

[2022-06-24 15:29] AlexSCorey commented on #12267
@amg-web   Thanks for reaching out to us.  To use github and gitlab credentials you need to set them up at Credential Type: Source Control.

Should you need more assistance please see https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-06-24 15:29] #12267 closed, assigned to nobody

[2022-06-24 15:35] AlexSCorey commented on #12236
Hello, this issue pertains to an older version of AWX. Try upgrading to the latest version and let us know if that resolves your issue.

[2022-06-24 15:35] #12236 closed, assigned to nobody

[2022-06-24 15:36] amg-web commented on #12267
@AlexSCorey
so where can I put token here ?
![image_2022-06-24_183626099](https://user-images.githubusercontent.com/22151881/175569194-6daa606d-6631-4ee2-be98-40a06c008807.png)

[2022-06-24 18:06] tcsabina commented on #12425
Thanks guys,

All clear!

[2022-06-24 19:59] trahman73 commented on #1084
Initial mockup idea. Need to iterate further...

![image](https://user-images.githubusercontent.com/13351591/175659107-06804ce7-73cb-4e02-b19a-17b3738ec3c9.png)

[2022-06-24 20:20] tvo318 commented on #11615
@AlexSCorey this tooltip is ok except there is no **Credentials** field in the create WF template form. I've updated the JT docs to include the note and removed all references of Rackspace since it was removed since 3.2 😵
See PR https://github.com/ansible/product-docs/pull/1698.

[2022-06-24 20:37] akus062381 opened #12429 "JT Form should automatically feed resource when created from the tab inside that resource"
Credential, inventory, and project resources all recently had a Job Template tab added inside of the individual resources.
Currently, if a user clicks on the Job Templates tab inside of a project, and adds a new Job Template, that particular project is populated in the project field in the new Job Template form.

This is not the case for Inventory or Credential.
I think it would make sense for thi

[2022-06-26 21:32] Ashish1981 commented on #12266
Can you please provide me the commands, I tried various as you mentioned, still no success.

[2022-06-27 01:07] edudobay commented on #12266
Unfortunately that didn't work for me. I ran the following commands and then restarted the `awx` and `receptor` services:
[code]

[2022-06-27 12:28] nicolaibaralmueller opened #12430 "ansible_python_interpreter issue since upgrading to 21.2.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Usi

[2022-06-27 13:38] kdelee commented on #12299
@Zokormazo in needs test now :D

[2022-06-28 05:50] rooso commented on #12254
Got same error, AWX Version 21.1.0 is running on vSphere Tanzu

[2022-06-28 06:39] MichaelPak commented on #12430
Try to use `awx-ee:latest`. There is a one year difference between these versions.
https://quay.io/repository/ansible/awx-ee?tab=tags

[2022-06-28 08:15] marcoatenway opened #12433 "disable no_log globally during job creation and make the template filterable for that no_log setting"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-28 08:41] Ashish1981 commented on #12266
@justbyBen clould you please provide the commands for us, by how you created the keys that worked for you.

[2022-06-28 08:50] lagunary opened #12434 "Execution environment field is updated autmatically into default value"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

The

[2022-06-28 12:08] sobedrinker42 commented on #5692
It seems like this thread has gone stale. Can anyone give a status if this is being looked at or not?

also - just curious how others have gone around this issue

[2022-06-28 18:28] AlexSCorey opened #12436 "Remove update_on_project_update"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-28 23:24] #12406 closed, assigned to jay-steurer

[2022-06-29 04:27] manojkal commented on #11162
Hi @Lee-Kwang

Any update on this issue, are you able to solve it? I am stuck with same error
https://github.com/ansible/awx-operator/issues/970#issue-1288088012

[2022-06-29 08:35] AndreasDavour opened #12438 "Add "nodes" to "Relaunch on" when relaunching jobs after failure - users think it relates to failed tasks and not nodes"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-29 08:38] Lee-Kwang commented on #11162
Hi @manojkal
We have problem with openshift paas running with older version of Kubernetes(v1.11.0+d4cacc0).
I think Go k8s library doesn't work with older version.
With newer version of kubernetes(v1.21.1+6438632), it works well.

[2022-06-29 09:28] nitishmalang commented on #12436
Hey I want to work on this can I get started

[2022-06-29 10:15] nitishmalang commented on #12040
hey I want to work on this can I get started

[2022-06-29 12:38] AlexSCorey commented on #12040
@nitishmalang yes.  Feel free to assign this issue to yourself.

[2022-06-29 12:47] AlexSCorey commented on #12436
@nitishmalang Yes, go for it!

[2022-06-29 14:08] blaisemichel opened #12439 "add the possibility to relaunch a failed job on the failed task"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-29 14:09] blaisemichel commented on #12439
When a job failed we want to have the possibility to relaunch the job on the failed task on the host failed

[2022-06-29 14:23] AlanCoding commented on #4294
The specific traceback given here should have been fixed with https://github.com/ansible/awx/pull/11955

[2022-06-29 14:28] AlanCoding commented on #2481
@fosterseth can this be closed by your recent changes?

[2022-06-29 14:33] manojkal commented on #11162
Thank you @Lee-Kwang
Okay, Looks like I am kind of stuck here, I cannot update the cluster version anytime soon. Hoping if there is any workaround for this issue

[2022-06-29 15:14] fosterseth opened #12440 "[task_manager] loop over instances instead of tasks"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-29 15:40] #11994 closed, assigned to AlexSCorey, akus062381

[2022-06-29 17:33] fosterseth commented on #12430
needs some investigation

[2022-06-29 17:55] fosterseth commented on #12276
closing issue for now @YonatanGolick let us know if that documentation is helpful

[2022-06-29 17:55] #12276 closed, assigned to nobody

[2022-06-29 18:16] fosterseth commented on #12266
docker-compose runs the following command to generate the work signing keys

openssl genrsa -out {{ work_sign_private_keyfile }} {{ receptor_rsa_bits }}

openssl rsa -in {{ work_sign_private_keyfile }} -out {{ work_sign_public_keyfile }} -outform PEM -pubout

should mostly work out of the box, so it is strange you are getting bad PEM files that receptor cannot read.

which OS and openssl version a

[2022-06-29 20:35] fosterseth commented on #12434
the awx-operator might be overriding whatever changes you make in the UI

are you setting the default awx-ee using the `ee_images` field as described here

https://github.com/ansible/awx-operator#deploying-a-specific-version-of-awx ?

[2022-06-29 21:03] kdelee commented on #12402
(Edited because I was mostly repeating alan)

so TODO:
Investigate/ensure that inventory_updates with source file type are created in `running`

[2022-06-30 01:01] AlanCoding commented on #12402
From the code snippet above, it looks like it's not. But you can add `status="running"` to the `_eager_fields` dict. It should really be that easy.

[2022-06-30 04:47] Commifreak opened #12443 "[Job output] clicking a line while running sometimes ends in "Something went wrong..." // `u.summary_fields is undefined`"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Som

[2022-06-30 07:06] lagunary commented on #12434
Yes, you're right.  We tested, and it is fine.
Sorry for missed info.

[2022-06-30 07:06] #12434 closed, assigned to nobody

[2022-06-30 07:14] mick1627 commented on #12343
It happens randomly in different kind of job template. For the last issue, it happens on a job part of a workflow. The job was launch on 1 host, about 15 tasks and no gather facts.

[2022-06-30 11:01] kladiv commented on #6105
+1 (for YAML and JSON format)

[2022-06-30 12:49] CFSNM commented on #11960
Validated from QE side. Closing this item

[2022-06-30 12:49] #11960 closed, assigned to sarabrajsingh, CFSNM

[2022-06-30 14:28] AlanCoding opened #12444 "Role and collection cache not working right after cleanup jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

We

[2022-06-30 14:59] kerukulla commented on #12409
hello team, Can we have an update here please?

[2022-06-30 15:28] Ashish1981 commented on #12266
I am trying with both x86_64(wsl2) and aarch64 with
` OpenSSL 3.0.2 15 Mar 2022 (Library: OpenSSL 3.0.2 15 Mar 2022)
`

[2022-06-30 16:20] edudobay commented on #12266
I can't tell you the exact version because I had launched a temporary instance to experiment with. But it was Ubuntu 22.04 with the latest package upgrades by that date.

Which component/library reads the signing key? I tried to google some parts of this error message, but couldn't find anything:

[code]

[2022-06-30 17:53] fosterseth commented on #12266
@edudobay this is surfacing up from receptor itself https://github.com/ansible/receptor/blob/dba716a031f8ce7547d8e967f57a02f9ce27a197/pkg/workceptor/workceptor.go#L163

[2022-06-30 19:38] edudobay commented on #12266
I have the exact same OpenSSL version. The default key output format for `openssl genrsa` was changed. Running `openssl genrsa -traditional` reverts to the old format, and the health check passes.

[code]

Should this still be fixed or documented somehow?

[2022-06-30 19:50] kdelee opened #12446 "[Task Manager][devel environment] In development environment, expose view that calls task manager(s) for use with debug toolbar"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-06-30 20:42] fosterseth commented on #12266
@edudobay that is helpful info

@Zokormazo @shanemcd do you have a suggestions on solving this, may have downstream implications as well. Wondering if using ansible module would help here https://docs.ansible.com/ansible/2.5/modules/openssl_privatekey_module.html

[2022-07-01 07:04] mick1627 opened #12449 "Be able to set Extra Environment Variables at Instance Groups level"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-01 10:49] amolari opened #12455 "Expose a new special variable awx_instance_group"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-01 12:25] kurokobo commented on #12449
As a workaround, you can add environment variables per Container Group by using custom pod spec:

[code]

You can use this environment variable in your playbook:

[code]

[code]

[2022-07-01 12:29] KALX9 commented on #2784
We are having an issue, wherein no job are running.
Below is the status....

bash-4.4# awx-manage list_instances
[tower capacity=0 policy=100%]
        awx capacity=0 version=17.0.1
![Capture](https://user-images.githubusercontent.com/73586362/176894940-c8728223-fe4f-4426-8fbc-5a858ac1419d.JPG)

[2022-07-01 12:29] kurokobo commented on #12455
As a workaround, you can pass any value through environment variable per Container Group using custom pod spec.

Refer https://github.com/ansible/awx/issues/12449#issuecomment-1172292054, you can use the environment variable you added to determine which Container Group is used (Or add envs for proxy directly).

[2022-07-01 14:21] ivantomica commented on #11490
Has anyone experienced similar issues or have similar use-case as we do? Upgrades to the AWX haven't yet resolved the issue, and I am having hard time pinpointing it.

Any guidance on how to troubleshoot this further would be greatly appreciated.

[2022-07-01 16:36] kdelee commented on #12446
Closing as it has merged into @fosterseth PR that will go into the main task manager refactor branch, and this is just development tooling so no QE needed

[2022-07-01 16:36] #12446 closed, assigned to nobody

[2022-07-01 19:23] kdelee opened #12458 "[TaskManager] WorkflowManager research/refactor"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-01 19:29] kdelee commented on #12202
@fosterseth and @TheRealHaoLiu are thinking it would be ideal of the DependencyManager doesn't "release" jobs to the TaskManager until hard and soft dependencies are resolved. This way the TaskManager could consider that all jobs its acting on are ready to go

"Soft Blocks"
- allow_simultaneous is false, we should probably start in "blocked" and only release if we are unblocked

@AlanCoding what a

[2022-07-01 20:15] kdelee commented on #12202
![Screenshot from 2022-07-01 16-14-32](https://user-images.githubusercontent.com/29239279/176962859-b4fb4453-76e5-4822-b0d4-b1f66930dd5a.png)

[2022-07-01 20:17] kdelee commented on #12201
![Screenshot from 2022-07-01 16-16-18](https://user-images.githubusercontent.com/29239279/176962950-db487b82-e1b6-4afd-bf9e-a0606c1aa601.png)
This picture shows how putting instances in an ordered list and picking "first sufficient capacity or first idle instance" retains same behavior

[2022-07-02 17:03] pratikbin commented on #11490
I'm not facing this issue in awx `0.21.0`

[2022-07-03 13:24] sebypp commented on #9704
I've deleted it.

[2022-07-04 07:26] kladiv opened #12460 "RFE: Add support in advanced search/filter in Jobs page by "limit" field with regexp"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-04 11:34] antwacky opened #12549 "Automation Jobs Killed"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-07-04 13:14] MalfuncEddie commented on #6140
I also am running into this. I got an inventory with several vcenter inventories. Overwrite is on.

But overwrite should  only remove host not longer present but il looks like it deletes and re-adds the host. Result is that the facts cache is empty. I wish it would not do this ;(

[2022-07-04 20:28] cdelgehier opened #12462 "docker-compose-build is failing with a "Couldn't resolve host name""
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I a

[2022-07-04 22:08] Ashish1981 commented on #12266
I installed OpenSSL 1.1.1p  21 Jun 2022 as described on [Open SSL](https://fedingo.com/how-to-install-openssl-in-ubuntu/). Then it worked.

[2022-07-05 11:57] avalou opened #12463 "Get the error "Collection and role syncing disabled" even though related variables are set on"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

AWX

[2022-07-05 12:00] krejcmat opened #12464 "awxkit - success_nodes argument is missing"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hi,

[2022-07-05 13:24] ojc97 opened #12465 "AWX not reading submodule branch from .gitmodules file"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

AWX

[2022-07-05 13:32] shanemcd commented on #12465
Maybe related to https://github.com/ansible/awx/issues/12293

[2022-07-05 13:48] ojc97 commented on #12465
Closing as duplicate of #77978 and #12293

[2022-07-05 13:48] #12465 closed, assigned to nobody

[2022-07-05 16:17] shanemcd commented on #12462
This doesn't seem like an issue with AWX. Have you tried restarting Docker?

[2022-07-05 20:52] akus062381 commented on #6708
it seems like this bug got lost- it wasn't indicated on our current project, and it is still happening on devel. I put it back into needs_triage so we can "find" it again

[2022-07-06 01:28] fnke752f opened #12469 "ERROR! couldn't resolve module/action 'community.general.telegram'"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

![擷

[2022-07-06 08:11] cmatsis commented on #11805
Does this problem occur in the paid version and there is no solution?
There are few people working more than 4 hours?

[2022-07-06 09:25] Zokormazo commented on #12266
`openssl genrsa -traditional -out key.key 4096`

This creates traditional formated keys with openssl 3+

[2022-07-06 11:58] mick1627 opened #12471 "1 replica suddenlty failed with "awx.main.wsbroadcast Unable to return currently active instance: No instance found with the current cluster host id""
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

AWX

[2022-07-06 12:22] Zokormazo commented on #12266
[code]
Same effect as `-traditional`

[2022-07-06 12:56] AlanCoding commented on #12202
That would mean that `DependencyManager` will process the same jobs multiple times. This is the fundamental nature of "soft" dependencies. Other forms of soft dependencies are preventing multiple project updates from running at the same time on the same project, or multiple inventory updates running on the same time on the same inventory. The core logic is mainly hosted here:

https://github.com/a

[2022-07-06 15:10] akus062381 commented on #12469
@fnke752f The awx-ee contains the collections and dependencies needed for supported AWX features to function. Anything beyond that will require you to build your own EE. For information on how to do that, see https://ansible-builder.readthedocs.io/en/stable/

Also just a heads up that the Ansible Community team is looking at building an EE that corresponds to [all of the collections inside the ans

[2022-07-06 15:10] #12469 closed, assigned to nobody

[2022-07-06 15:13] akus062381 commented on #12464
@krejcmat can you please provide a bit more detail concerning your environment? What command are you executing in the CLI?

[2022-07-06 15:28] akus062381 commented on #12549
Hello @pagey101, could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-07-06 15:33] gundalow opened #12472 "Topology View" in the webUI requires access to external https://d3js.org"

[2022-07-06 15:43] akus062381 commented on #12443
@Commifreak does this only happen while the job is running? have you noticed it happening after the completion of a job?

[2022-07-06 15:45] mabashian commented on #12443
@keithjgrant any thoughts on this one?  Not sure what the expected behavior is.  Will clicking a line while a job is running always have all the needed information?  If not, maybe we should disable the line until ready?

[2022-07-06 15:53] AlanCoding commented on #12201
I don't know if that's always true. Our main loop for the search is:

https://github.com/ansible/awx/blob/fd671ecc9d49845f1e0fa09ec178d1d6518061fe/awx/main/scheduler/task_manager.py#L542

So we're here, on item `instance_group` in this list, and we do:

https://github.com/ansible/awx/blob/fd671ecc9d49845f1e0fa09ec178d1d6518061fe/awx/main/scheduler/task_manager.py#L555-L557

For illustration, I wil

[2022-07-06 15:57] AlanCoding commented on #12440
So this isn't the same as https://github.com/ansible/awx/issues/12201, because this seeks to reduce the number of jobs considered in the overall loop.

These aren't the same, but I consider the two solutions as competitors, because I believe they solve mostly the same problem.

[2022-07-06 16:02] fosterseth commented on #12471
this possibly was fixed by https://github.com/ansible/awx-operator/pull/935

awx-web container should not have been running the wsbroadcast services to begin with, on the awx-task container. The error can mostly be ignored.

which operator version are you using? the latest one may fix the problem

[2022-07-06 16:20] john-westcott-iv commented on #12463
Hello, thank you for your report.

The `Collection and role syncing disabled` is generated if both AWX_COLLECTIONS_ENABLED and AWX_ROLES_ENABLED are set too false and the project sync attempts to perform a sync the roles.

Note: this is not an error from the playbook, just a message indicating why the roles were not synced.

In your settings, are those options both False? That should be the only t

[2022-07-06 16:46] kdelee commented on #12402
@fosterseth grabbed changes from Alan's branch and adapted them in https://github.com/ansible/awx/pull/12437/files. Since this is internal, going to close

[2022-07-06 16:46] #12402 closed, assigned to nobody

[2022-07-06 16:51] kdelee commented on #12202
@AlanCoding I think I may be ok with that. This would move the existing TaskManager closer to being the "CapacityManager" e.g. only concerned with "what has capacity to run this job" and less with all these blocking conditions. But I get that it just moves a problem around

[2022-07-06 17:15] Commifreak commented on #12443
I have to test its just while running vut I velieve yes, because:

Job runs, some lines are there. Some new lines appear as the job runs.. click.. no error. But after some time I get a line which causes the error. Reloading the whole page and hit the exact line again (while still running) works perfectly. The error is reproducible as soon as new lines come in.

this was never an issue before, sinc

[2022-07-06 17:28] AlanCoding commented on #12202
If you want separate classes for all of the conditions, a class for hard dependencies, a class for soft dependencies, and a class for capacity management, then that's fine for concept separation. But the current branch has each class run under a global lock specific to itself, and that's particularly unnecessary for hard dependencies.

The general problem of re-processing is solvable, but may not

[2022-07-06 18:20] #11433 closed, assigned to AlexSCorey, akus062381

[2022-07-06 19:02] cdelgehier commented on #12462
Yep sure, on my two computers...

[2022-07-06 19:48] tvo318 commented on #8793
Need to include mention of this variable in this section: https://docs.ansible.com/automation-controller/4.1.0/html/administration/scm-inv-source.html#ag-inv-import

[2022-07-06 22:10] shanemcd commented on #12471
We made a change here that I think was problematic https://github.com/ansible/awx/pull/11955/files#diff-8e61129abecf62afc8b9c155037a95674c6459c25bb298253b9e0d401e37b086R38-R42

At the time, @AlanCoding and I both agreed this was the wrong place to handle this, but it seems like we reintroduced the bug we were trying to fix in https://github.com/ansible/awx/issues/4294.

After some discussion, we t

[2022-07-07 07:14] krejcmat commented on #12464
Hi, I have extended informations in the issue specification.

[2022-07-07 07:58] sylvainle commented on #12462
I have the same issue with docker-compose install https://github.com/ansible/awx/blob/devel/tools/docker-compose/README.md (Ubuntu 22.04 LTS on WSL)

It's an ubuntu 22.04 LTS related issue (cannot access internet from containers)

**iptables-legacy was replaced by iptables-nft in 22.04 LTS** (https://github.com/docker/docker.github.io/issues/14963)

I switched from iptables-nft to iptables-legacy

[2022-07-07 08:28] mick1627 commented on #12471
I am using operator 0.22.0 that contains https://github.com/ansible/awx-operator/pull/935

[2022-07-07 08:42] kerukulla commented on #12409
hello team, Can we have an update here please?

[2022-07-07 10:49] aldobongio opened #12476 "tower-cli workflow schema not supporting approval node"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-07-07 11:24] antwacky commented on #12549
Hello, I have posted this to the group.

A similar issue happens in which the job status is failed and the job output is "No output found for this job".

Apologies if I am misunderstanding, but I would think it is a bug that the jobs are failing without providing a specific reason as to why?

Thanks

[2022-07-07 12:53] Sebastiannnnn opened #12477 "It is not possible to select playbooks from the collection"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

The

[2022-07-07 14:11] mabashian opened #12478 "Change Inventory "Status" column header to "Sync Status""
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-07 17:29] AlanCoding commented on #12199
I'm moving into Unplanned because I abandoned the work on this.

[2022-07-07 18:15] djyasin opened #12481 "Allow user to enable/disable content signature verification in project"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-07 18:17] djyasin opened #12482 "Allow user to see the status of content signature verification"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-07 18:24] djyasin opened #12483 "[UI] Allow user to configure content verification when creating and editing projects"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-07 18:25] djyasin opened #12484 "[UI] Display content verification status for projects"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-07 18:27] djyasin opened #12485 "Perform content integrity validation when syncing project"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-07 18:28] mabashian opened #12486 "Add related groups column to inventory hosts list"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-07 18:29] djyasin opened #12487 "Perform content integrity verification before running playbook"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-07 18:30] #12486 closed, assigned to nobody

[2022-07-07 18:30] djyasin opened #12488 "content signing and verification utility"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-08 07:28] avalou commented on #12463
Hello and thanks for the answer.

I thought it was an error since the two tool boxes, `Enable collection(s) download` and `Enable role download` (in page #/settings/jobs/edit), are checked on. I got that these variables are not to be set in a playbook. And yes when I said I added these variables in the text box `Extra Environment Variables`, I meant in the same page (`#/settings/jobs/edit`). This

[2022-07-08 12:04] nasjomach opened #12491 "AWS EC2 inventory ends in failure"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

AWS

[2022-07-08 16:27] akus062381 opened #12495 "Unit testing needed for manually constructed links"
Devs usually create links manually in the UI. Because of this, it was agreed between UI and QE that these links need testing in the unit tests (example: the links on the details screen of a job template linking to associated resources of that job template).

Kia's idea was to create one common function for generating links and use that function anywhere a link needs to be tested.

This issue is be

[2022-07-08 16:45] akus062381 opened #12496 "Handle character limit for input fields"
Currently, there is no maxlength property for the input fields in the forms of the Controller UI. This issue is being opened as a result of a unit test consultation meeting between UI devs and UI QE.
Assigned dev: please add the maxlength property to all form input fields that currently have a maximum length of characters. This will eliminate the need to have unit tests to test that the character

[2022-07-08 16:57] ghost commented on #12316
this fix worked for me. Thanks!

[2022-07-08 19:07] InnocentK commented on #12399
Resolved

[2022-07-08 19:07] #12399 closed, assigned to InnocentK, vedaperi

[2022-07-08 19:23] john-westcott-iv commented on #12463
If the checkboxes are turned on then downloading should be enabled. If you go to /api/v2/settings/jobs/ can you confirm that you see:
[code]

[2022-07-10 17:28] e36Alex opened #12499 "Can't clone project from self-hosted gitlab instance"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hel

[2022-07-11 00:03] mahesh297 commented on #12100
I'm facing the same issue

Failed to parse source map from '/awx_devel/awx/ui/node_modules/rrule/src/cache.ts' file: Error: ENOENT: no such file or directory, open '/awx_devel/awx/ui/node_modules/rrule/src/cache.ts'

Failed to parse source map from '/awx_devel/awx/ui/node_modules/rrule/src/callbackiterresult.ts' file: Error: ENOENT: no such file or directory, open '/awx_devel/awx/ui/node_modules/r

[2022-07-11 21:15] fosterseth commented on #12202
In order to cut out looping over pending jobs to see if their hard dependencies are done in TaskManager, we can delay updating dependencies_processed to True until the hard dependencies are finished running.

the dependencies have the opportunity to alter the job that spawn that dependency in their final_run_hook. The issue is a given job can have more than 1 dependency (project update, multiple i

[2022-07-12 08:28] muchafel commented on #12400
Hi there,

super helpful for me would be if you also could add a debug message when an attempt fails:
[code]

also is there a way to increase the _max_attempts via configuration?

(I am struggling with this error for quite a while now, imho it is not uncommon that you have unstable connections, if you rely on cheap DAaaS)

[2022-07-12 09:44] anxstj opened #12506 "TypeError: Cannot read properties of undefined (reading 'host')"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Ope

[2022-07-12 14:37] john-westcott-iv opened #12507 "Add PR check to enforce x/y/z wording before merge"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-12 15:29] ffirg commented on #11822
I'd like to see this go into the AAP2 docs as well, to explain the new behaviours in v2.

[2022-07-12 19:08] john-westcott-iv commented on #12211
With the latest release of AWX 21.3.0 the GOOGLE_APPLICATION_CREDENTIALS environment variable is now being set from a Google Compute Engine credential type. Could you all test and provide feedback?

[2022-07-12 20:56] AlexSCorey opened #12512 "Update Approval node toolbar buttons"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-13 06:02] Wonderingkaho opened #12514 "WebSocket connection to xxx failed"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-07-13 11:58] azrdev opened #12515 "host details > jobs don't show pending jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

GUI

[2022-07-13 12:11] azrdev opened #12517 "expose api token in job context, to allow simple API usage from playbooks"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-13 13:21] TheRealHaoLiu commented on #7946
https://github.com/ansible/awx/pull/12513

[2022-07-13 14:24] sevko21 commented on #12345
how can I do this?

[2022-07-13 17:12] RootKaizer opened #12518 "AWX fail when i send files from localhost to remote host using synchronize module and sshpass command"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Gre

[2022-07-13 17:21] sarabrajsingh commented on #12499
Hi @e36Alex - we only support running the development environment as per the instructions in this file - https://github.com/ansible/awx/blob/devel/tools/docker-compose/README.md

This appears to be an environment issue. Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-07-13 17:30] sarabrajsingh commented on #12491
hey @nasjomach can you copy/paste the output of the API details for this inventory update?

endpoint: `/api/v2/inventory_updates/<id>`

where `<id>` is the id number of the job corresponding to the inventory update.

thanks,
AWX Team

[2022-07-13 17:47] sarabrajsingh commented on #12476
hello @aldobongio - `tower-cli` is deprecated and is no longer supported. please refer to the `awxkit` docs - https://docs.ansible.com/automation-controller/4.1.0/html/controllercli/index.html. this tool is the successor to `tower-cli` and will house the functionality that you're seeking.

please note that importing/exporting Workflow Approval Nodes is a feature that is currently in progress. plea

[2022-07-13 17:47] #12476 closed, assigned to nobody

[2022-07-13 17:53] sarabrajsingh commented on #12464
hi @krejcmat - there are some other related tickets in the `awx` backlog that will address this issue. more details to come.

[2022-07-13 18:00] kialam commented on #12506
@anxstj I have been unable to reproduce this issue. Do you have a set of instructions to accurately reproduce the bug you're seeing?

[2022-07-13 18:13] TheRealHaoLiu commented on #12517
hey there, thanks for raising this enhancement request!
I ran into the exact same issue when trying to automate against AWX itself from within.
currently my approach was similar to yours, creating a custom credential type and creating a credential for AWX.

stay tune, we will discuss the feasibility of with the team and community.

[2022-07-13 20:16] fosterseth commented on #6140
@MalfuncEddie which version are you experiencing this on?

[2022-07-13 20:34] john-westcott-iv opened #12519 "Alter SAML adapter to not remove system admin and system auditor flags"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-13 20:37] john-westcott-iv opened #12520 "Alter LDAP adapter to not remove system admin and system auditor flags"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-13 20:44] john-westcott-iv opened #12521 "Allow multiple values in SOCIAL_AUTH_SAML_USER_FLAGS_BY_ATTR.is_*_value"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-13 21:14] keithjgrant commented on #12233
This should be fixed now with #12194 and #12287. If anyone is still seeing this issue, comment here, otherwise we can close this issue

[2022-07-13 21:14] keithjgrant commented on #11424
Comments here relate to a number of separate issues. The initial issue (duplicated output) has been fixed, so I am marking this as closed. Missing play recap has been largely mitigated, but a full fix depends on #12103

[2022-07-13 21:14] #11424 closed, assigned to nobody

[2022-07-13 22:36] jbradberry commented on #12464
The ability to do this has not been implemented yet, except via the somewhat dissimilar import and export commands.  However, it seems like this feature would be a good idea.  I recently proposed new commands to interface with the relational API endpoints for a related problem: https://github.com/ansible/awx/issues/8464#issuecomment-1155623459

[2022-07-13 23:08] #12375 closed, assigned to djyasin

[2022-07-14 04:31] Commifreak commented on #12443
=>
![grafik](https://user-images.githubusercontent.com/87267/178899013-5c5272d5-3031-4503-908a-f5bf982ed647.png)

[2022-07-14 06:49] manoj-maracheea-cko commented on #11291
Thanks to you @azrdev,

I am able to launch a job like the one below. I don't know if this is the best way to go. I am also looking for getting the status of the job and monitor it. so I can decide what the next move depend on the status.

[code]

Anyone can help with monitoring the job status. Thanking you in advance.
I will keep trying, if I have something I will update it here.

[2022-07-14 07:36] MalfuncEddie commented on #6140
AWX 15.0.1
 but I did spin up a 21.0.1 and there I do not have this problem

[2022-07-14 08:54] d-rupp commented on #12549
Could this be related to https://github.com/ansible/awx/issues/11805 ?

[2022-07-14 09:11] kastyle commented on #12463
@avalou
I faced the same issue, AWX ROLES ENABLED and AWX_COLLECTIONS ENABLED = true.
The solution was to add to (Access > Organizations > your organization) the value Galaxy Credentials = Ansible Galaxy

[2022-07-14 09:22] antwacky commented on #12549
Unfortunately not, I have seen that issue.

This is not a long running playbook, and fails before the playbook runs sometimes (during inventory updates).

Sometimes the inventory updates will fail, sometimes they will complete but the playbook will fail. This is due to the pods being killed in quick succession.

As mentioned, there are no CPU/memory pressures when this happens. I have a response f

[2022-07-14 15:19] kdelee commented on #12288
Related to https://github.com/ansible/awx/issues/12019

[2022-07-14 15:54] gearboxscott commented on #1999
Has there been any agreement or movement on this issue?

[2022-07-14 17:07] kdelee commented on #12288
@adpavlov yes, creating jobs in pods puts stress on the k8s api server. @TheRealHaoLiu specifically was just talking about requirements we may want to consider documenting for the k8s master, etcd, etc. to enabe that the k8s api etc can keep up with the load of starting/controlling all of these pods for k8s itself.

Some benefits to using container groups over our previous approach of using bwrap

[2022-07-15 02:10] AlanCoding commented on #3959
Somewhat related https://github.com/ansible/awx/pull/12494, but issue is pretty old and most of the stack traces point to code that has already changed.

[2022-07-15 08:22] AlekseiSaff opened #12524 "Add hostname for failure notifications"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-15 08:36] CFSNM commented on #7946
Validated from QE side. Closing this issue

[2022-07-15 08:36] #7946 closed, assigned to sarabrajsingh, CFSNM

[2022-07-15 08:41] azrdev commented on #11291
@manoj-maracheea-cko you'd look at job_events, either polling or maybe awxkit offers some notification/listening functionality.

btw, could you wrap your whole code block in ~~~ or ```  for readability?

[2022-07-15 10:52] kerukulla commented on #12409
hello team, Can we have an update here please?

[2022-07-15 12:15] gek0 opened #12525 "Unable to enable/force SSL database connections on external PostgreSQL instance"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Can

[2022-07-15 16:11] Moumoutaru commented on #12238
@GR360RY Do you mind sharing your config? I was able to get SAML working when updating the config through the GUI but when I try get it working via `extra_settings` I end up running into:
[code]

My extra settings looks like:
[code]

[2022-07-15 16:31] GR360RY commented on #12238
@Moumoutaru , try dropping the AUTHENTICATION_BACKENDS. At the end decided to go with the manual config, hence I don't have the original configuration I've worked on.

[2022-07-15 16:39] Moumoutaru commented on #12238
Will do thanks for the quick response!

[2022-07-15 16:44] GR360RY commented on #12238
@Moumoutaru,
Found config in git :). Not sure if it is working, but hopefully it will help:
[code]

[2022-07-15 16:44] Moumoutaru commented on #12238
Unfortunately, that didn't work. It's quite puzzling. I'll go ahead and try your config.

[2022-07-15 17:10] keithjgrant opened #12526 "UI logger"
##### ISSUE TYPE
 - New or Enhanced Feature

##### COMPONENT NAME
 - UI

##### SUMMARY

It might be worth building a simple debug log for the UI that users can turn on to help with troubleshooting bugs. This could be as simple as logging to localStorage, with noop behavior until the user enables logging.

[2022-07-15 17:14] keithjgrant commented on #12526
This would be particularly helpful for assessing some of the job output issues we've been seeing

[2022-07-16 11:33] EffectShapiro commented on #9165
Same as @HolmfryWrk using AWX 21.3.0

[2022-07-17 07:27] cmasopust commented on #12345
I'm not a k8s expert, but I'm doing that with simple adding:
[code]
to the pod specification of my container group.

[2022-07-17 07:51] cmasopust opened #12530 "Jobs with long running tasks and Inventory sync terminating after 5 minutes"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

In

[2022-07-17 22:24] jtmelhorn commented on #12462
I got it working on WSL2 after installing Docker Desktop on Windows.

[2022-07-18 06:06] manoj-maracheea-cko commented on #11291
@azrdev thanks I will try the job_events. and update here.

[2022-07-18 07:39] sevko21 commented on #12345
unfortunately no luck. Can you advise how to debug the awx-ee container?

[2022-07-18 08:14] e36Alex commented on #12499
Thanks for your reply.
I could already solve the problem. It was on my docker installation in a lxc.

[2022-07-18 08:14] #12499 closed, assigned to nobody

[2022-07-18 08:59] cmasopust commented on #12530
it's not only the inventory that times out after 5 minutes, any job that has long running tasks (no matter whether they produce output or not, e.g. a simple pause for more than 5 minutes) are killed after 5 minutes.

[2022-07-18 12:25] AlanCoding commented on #12530
Can you find any related logs from around the time it timed out? What information do the API details show at /api/v2/inventory_updates/(id)/?

[2022-07-18 14:11] AlanCoding opened #12532 "Callback receiver worker processes are not restarted if they are killed"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-18 14:29] avalou commented on #12463
@john-westcott-iv : yes both variables are on :
[code]

 @kastyle : it seems that was it. Thanks a lot !

[2022-07-18 14:29] #12463 closed, assigned to nobody

[2022-07-18 16:26] Moumoutaru opened #12535 "Configuring SAML via extra_settings fails with "May not set both `read_only` and `required`.""
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Att

[2022-07-18 18:12] cmasopust commented on #12530
There is nothing in the job logs that shows any error. When running this simple playbook:
`---
- hosts: localhost
  connection: local
  gather_facts: no
  become: no

  tasks:
    - name: Pause for 10 minutes to allow testing of the executor pod
      pause:
        minutes: 10
`
the last message I see is the "Pause for 10 minutes..."    and after 5 minutes the job ends with an error and no messag

[2022-07-18 20:03] djyasin opened #12536 "Credential type for containing GPG public key"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-18 20:23] TheRealHaoLiu commented on #12536
@AlexSCorey can u post a example query from UI

[2022-07-18 21:23] keithjgrant commented on #12336
PR at #12445

[2022-07-18 21:50] keithjgrant opened #12539 "JobOutput: events not sent over websockets from some nodes"
##### ISSUE TYPE
 - Bug

##### COMPONENT NAME
 - API

##### SUMMARY
The JobOutput screen doesn't update as a job runs if the browser is connected to a different node than the node running the job. Most likely caused because websockets are not being sent. Job events display normally if the page is refreshed

See https://github.com/ansible/awx/issues/12232#issuecomment-1152063448

[2022-07-18 21:54] keithjgrant commented on #12232
@anxstj @AaronJaegerVA Thanks for the report! I created an issue to track that problem at https://github.com/ansible/awx/issues/12539

[2022-07-18 22:04] keithjgrant opened #12540 "JobOutput scrolling to bottom doesn't stay at bottom"
##### ISSUE TYPE
 - Bug

##### COMPONENT NAME
 - UI

##### SUMMARY
Scrolling all the way to the bottom (via scrollbar or "scroll to bottom" button) usually doesn't stay at the bottom once the job output loads in. This is due to the fact we don't know the exact length of the job output and are relying on react-virtualized to calculate the expected height of all output.

As a workaround, we might be

[2022-07-18 23:29] jessechoward commented on #1999
I will echo others. Without at least group membership, smart inventories are not useful.

Fundamental to the use of smart inventories is the idea that a single dynamic inventory can be broken down into smaller smart inventories for smaller subsets of work. I will admit my frustration comes from the fact it is IMPLIED that group membership and group_vars are included in smart inventories. https://d

[2022-07-19 01:03] fosterseth commented on #12532
maybe we could make use of the AutoscalePool here

[2022-07-19 01:21] SckyzO commented on #12266
[code]
it solved the same issue, after rebuild awx docker-compose
[code]

[2022-07-19 05:25] cmasopust commented on #12530
Did some further strace of the processes in the execution environment pod and found that the "init process" dumb-init is receiving the SIGTERM signal, so it looks like the pod is terminated from "outside". So the question remains: who's terminating my pod? Is it AWX or is it Kubernetes?

[2022-07-19 10:24] zircon commented on #9062
Just to add another example, I've encountered the same thing with the Output tab in AWX 21.2.0. It can make the output a bit confusing to a non-technical person:
![awx-job-output](https://user-images.githubusercontent.com/453843/179707694-571f75dc-1ac8-4ad9-9bc6-dd6cdf81331f.png)

After digging into it a bit, this seems to be a consequence of `stdOut` being passed through `encode()` inside `proces

[2022-07-19 13:08] AlanCoding commented on #12532
This should be tremendously simple to do. The callback receiver is _not_ an autoscale pool, nor do we want it to be. If you look at `AutoscalePool.cleanup`, it forgets about the workers by doing `self.workers.remove(w)`. In the case of the callback receiver, you don't need to do any of the other stuff it does there. Eventually, the removed worker will be remedied by a natural call to `self.pool.up

[2022-07-19 15:26] keithjgrant opened #12542 "Schedule Form exception dates"
Follow-up to #12445; split off for more granular PRs

Now that the schedules form sends a fule RRuleSet, we can add rows for date exceptions.

[2022-07-19 15:34] hesmithrh commented on #12103
per refinement, "quick fix" idea:

In the short-term can we just poll for the value of processing_finished? It sounds like changing websocket events could be a bigger lift.

[2022-07-19 15:45] mabashian opened #12543 "UI should poll job endpoint to determine exactly when events are done processing"
Peeling this off of https://github.com/ansible/awx/issues/12103

After some discussion, this feels like the best path forward in the short term.  Longer term it would be ideal if the UI got an event via the websocket that indicates that we're done processing events but this requires more discussion.

The work here should include triggering a series of GET requests to the job endpoint looking at th

[2022-07-19 16:03] mabashian commented on #12103
Long-term, we should deep dive on this and discuss a more elegant solution around sending an event back to the UI to indicate that `event_processing_finished` has flipped to true but in the short term we'll do this: https://github.com/ansible/awx/issues/12543

[2022-07-19 16:51] keithjgrant commented on #12543
as I’ve been thinking about it, we may just want to change the strategy. It really only refreshes job events in case the websocket events skipped some (and to enable expand/collapse if relevant) (edited)

so we probably only need to poll for a minute or two, and if it doesn’t finish processing, just leave the UI as is… After a long delay, I don’t think the user will want to see output disappear an

[2022-07-19 18:30] keithjgrant commented on #12087
@chris93111 We fixed a number of job output issues in version 21.0 and 21.2. Are you able to upgrade and see if the problem persists?

[2022-07-19 18:36] AlanCoding commented on #12103
It sounded like there was interest in an API-side deep dive on this topic. I can elaborate in much greater detail about my last comment, and what I consider a must-have before that can be merged. I believe a part of the problem is scope-creep here. A hook for all-events-processed is just too useful of a construct in our app, and there's a lot of unrelated logic out there that this code hook _shoul

[2022-07-19 18:51] keithjgrant commented on #12232
I'm having trouble reproducing this (though I'm fairly certain I've seen it in the past). Is this only happening for certain jobs or under heavy load? Does the problem persist in the most recent version of AWX?

[2022-07-19 20:55] #8793 closed, assigned to tvo318

[2022-07-19 21:17] InnocentK commented on #11786
Resolved

[2022-07-19 21:17] #11786 closed, assigned to InnocentK, vedaperi

[2022-07-20 01:03] hesmithrh commented on #11600
closing this out since Docs has been completed (cc @tvo318 I don't se a link to the docs PR or issue but see that Needs Docs = Done)

[2022-07-20 01:03] #11600 closed, assigned to tchellomello

[2022-07-20 01:16] hesmithrh commented on #11778
@akus062381 @marshmalien @mabashian can we close this issue since we have a separate issue to track the docs work? thanks!

[2022-07-20 01:17] hesmithrh commented on #12206
@fosterseth can we close this since we are tracking the docs work in https://github.com/ansible/product-docs/issues/1722 (linked above) thanks!

[2022-07-20 01:19] hesmithrh commented on #12206
@fosterseth can we close this since we have a separate docs issue? thanks

[2022-07-20 10:45] rudesome commented on #12530
I got the same problem, all plays which take longer as 5 minutes (without posting any output) are stopping with the status: `Error`

Only thing in the log is:
`awx.main.dispatch job 56100 (error) encountered an error (rc=None), please see task stdout for details.`

also tested it with the `pause` module, same result.

Seems if there is no output to AWX from the playbook/pod for 5 minutes, there is

[2022-07-20 11:54] cmasopust commented on #12530
looks like this may be somehow related to AKS, my AWX is also running in AKS. what kubernetes version are you running?
I've now 1.22.6 and, not totally sure, we didn't have this issue with 1.21.7

[2022-07-20 12:03] AlanCoding commented on #11301
I was wrong about everything I said related to "draining" the queue. The items in queue are, in fact, unrecoverable. In some situations when we know for sure the message was lost, we can re-queue the jobs (put back into pending).

[2022-07-20 12:16] AlanCoding commented on #12395
I can explain what happens in this case, because I looked at it fairly deeply.

We have two events, one where the job is reaped, and another that the job is picked up an ran anyway. The reaper code runs first and sets the `finished` time. This is a false-positive reaper case. Then the actual process which runs the job goes and runs the job. At the end of the run, it saves the "successful" status,

[2022-07-20 12:16] #12395 closed, assigned to nobody

[2022-07-20 12:22] rudesome commented on #12530
We are using version 1.23.x, recently upgraded, but before the upgrade we had also this issue, could be this issue started at version 1.22.x ..

I have checked all the settings in AKS. the only timeout settings, i already mentioned and are set way behind the 5 minute threshold.. Maybe you could check your timeout settings of the LB in the AKS resourcegroup, as mentioned here: https://github.com/an

[2022-07-20 14:45] jbradberry commented on #12044
As currently constructed, the only way using the API to delete a label is to unattach it from everything it is attached to.  You could do what you ask for by looping over every object that has this label and doing the unattach operation, but that would not be an atomic operation, nor should we attempt to pretend that it is.  I question, though, whether QE actually needs such a hard constraint.  If

[2022-07-20 15:10] BhaveshAnandpara commented on #10841
Hey @AlexSCorey I am interested in working on this issue is this still open?

[2022-07-20 15:19] jbradberry commented on #12532
@AlanCoding please link that other issue

[2022-07-20 15:23] kurokobo commented on #12530
I was interested in this issue and I decided to set up a single node AKS cluster to try this issue out, and sure enough, the issue reproduced indeed. The automation-job pod will be killed around 5 minutes after its starting.

[code]

In the log of the kubelet on the AKS node, "superfluous" http responses are logged, just before starting the termination for the automation-job pod.

[code]

And by i

[2022-07-20 15:24] AlanCoding commented on #12532
Yes, the related issue I had in mind was https://github.com/ansible/awx/issues/12103

Then _out of the solutions discussed_ for that issue, one was that the API sends a websocket message when all events for a job are processed. The WIP I toyed with for that purpose involved having the callback receiver main process aggregate counts from worker queues.

This is only relevant, because from the devel

[2022-07-20 15:29] kurokobo commented on #12530
F.Y.I. for digging;

To create an interactive shell connection to an AKS node: <https://docs.microsoft.com/en-us/azure/aks/node-access>

[code]

Increasing log level for kubelet on AKS node:

[code]

[2022-07-20 15:29] mabashian commented on #12526
We should go ahead and add general logging around websockets across the app as part of this effort

[2022-07-20 15:36] jbradberry commented on #12524
@AlekseiSaff can you clarify?  Do you mean to include the execution node, or the hosts that are being automated against?

[2022-07-20 15:46] jbradberry commented on #12514
@Wonderingkaho we haven't been seeing many reports like this.  You might have better luck reaching out to the mailing list.

https://github.com/ansible/awx/#get-involved

[2022-07-20 15:47] fosterseth commented on #12515
@azrdev Hi, pending jobs are not yet aware of the hosts that it will eventually run against (inventory can be dynamic), thus hosts are only linked to a job after the job is finished running.

therefore, this UI component is designed to only show completed jobs.

[2022-07-20 15:48] #12515 closed, assigned to nobody

[2022-07-20 15:50] jbradberry commented on #12462
At this point it seems like this is an environment issue.  Closing.

[2022-07-20 15:50] #12462 closed, assigned to nobody

[2022-07-20 15:51] akus062381 commented on #11778
yes @hesmithrh

[2022-07-20 15:51] #11778 closed, assigned to marshmalien, akus062381

[2022-07-20 15:59] jay-steurer commented on #12211
Verified by QE. Closing it.

[2022-07-20 15:59] #12211 closed, assigned to CFSNM, john-westcott-iv, jay-steurer

[2022-07-20 15:59] AlekseiSaff commented on #12524
Sorry for the confusion. Hosts where task was failed

On Wed, Jul 20, 2022, 23:36 Jeff Bradberry ***@***.***> wrote:

[2022-07-20 16:01] shanemcd commented on #12441
Hello. Inventories are managed via the API or UI, not through the operator. You may get more help with usage questions like this on the mailing list or IRC: https://github.com/ansible/awx#get-involved

[2022-07-20 16:01] #12441 closed, assigned to nobody

[2022-07-20 16:21] shanemcd commented on #12254
Does it work if you remove the quotes from the values for `AUTH_LDAP_USER_SEARCH` and `AUTH_LDAP_GROUP_SEARCH`?

[2022-07-20 16:24] shanemcd commented on #12518
Does `/app` actually exist within the container? Or are you trying to access files on the host machine?

[2022-07-20 16:25] shanemcd commented on #12524
This doesnt seem like it would scale very well. What about scenarios where jobs talk to several thousand hosts?

[2022-07-20 16:26] shanemcd commented on #12506
@anxstj Did you clean and rebuild the UI after upgrading? https://github.com/ansible/awx/blob/devel/tools/docker-compose/README.md#clean-and-build-the-ui Will wait to hear back another week or so before closing this.

[2022-07-20 16:36] john-westcott-iv commented on #12518
In newer versions of AWX we use execution environments (containers) to run the automation in. These containers don't have access to the hosts filesystem unless specifically granted through:
  Settings => Job Settings => Paths to expose to isolated jobs
Try exposing your /app directory through that setting and let us know if that works for you or not.

[2022-07-20 16:53] keithjgrant commented on #12232
okay, this seems to occur if you navigate to the job output _after_ the job has begun, and not as often (if at all) when you navigate to the output page before the job begins

[2022-07-20 17:37] anxstj commented on #12539
I experienced this problem with AWX 21.1, but after the upgrade to AWX 21.2, it didn't appear again.

[2022-07-20 17:50] anxstj commented on #12506
Yes, I did that.

Could this be caused by slow database queries?

[2022-07-20 19:06] whitej6 commented on #1967
social-auth-core 4.3.0 now provides a generic OIDC backend and no longer requires a subclass to be implemented. My PR is tested against my development instance of KeyCloak as a generic provider.

[2022-07-20 19:08] azrdev commented on #8793
@tvo318 can you point to the code that extends the docs?

[2022-07-20 19:14] #12436 closed, assigned to vedaperi, jay-steurer

[2022-07-20 19:34] shatteredsword commented on #12232
I'm not sure if the bug I'm encountering even falls under the same scope as this, but for me, as long as I stay on the output page, the job output never appears, and the elapsed time never changes.

[2022-07-20 20:51] AlexSCorey commented on #10841
@BhaveshAnandpara yes. Go for it

[2022-07-20 21:34] keithjgrant commented on #12540
while working on #12232, I realized this can be fixed fairly easily by using the existing "follow output" functionality, so I'll get this in the same PR

[2022-07-20 22:02] keithjgrant commented on #12232
@shatteredsword That sounds like your page isn't receiving websocket events at all. You might want to check out #12539 and #11346

Also, the elapsed time not updating is another known issue: #11555

[2022-07-20 22:38] keithjgrant commented on #11629
With #11944 and #12555, I think we've taken a huge chunk out of this. Closing this for now and if anything else specifically actionable surfaces we can open a relevant issue.

Only possible thing that comes to mind at the moment is perhaps pre-fetching an extra page or two of job events below where the user has scrolled, but we probably don't need to worry about that unless we hear from users in t

[2022-07-20 22:38] #11629 closed, assigned to keithjgrant

[2022-07-20 23:15] keithjgrant opened #12556 "Job output scroll position is off after events refresh"
##### ISSUE TYPE
 - Bug or Docs Fix

##### COMPONENT NAME
 - UI

##### SUMMARY
When a job finishes running, the events on the job output page are refreshed from the API to ensure displayed output is fully in sync. However, after this happens, the output generally doesn't scroll back to the same location the user was viewing beforehand.

We can either:
a) keep better track of the scroll position pr

[2022-07-20 23:17] keithjgrant commented on #12543
see also #12556 — if we re-think the way we refresh events at job completion, we can probably knock out both these issues together

[2022-07-21 01:45] AlekseiSaff commented on #12524
understood that, but it should be an option in message template like
 {{ job_friendly_name }} #{{ job.id }} '{{ job.name }}' {{ job.status }}:
{{ url }} on hosts {{ failed.hosts }}

for some jobs it's really good to see where they were exactly failed from
slack or email without going to AWX

On Thu, Jul 21, 2022 at 12:25 AM Shane McDonald ***@***.***>
wrote:

[2022-07-21 04:09] cmasopust commented on #12530
I've already looked at the kublet logs but I'm not sure if that message is related to our issue because this "superfluous" http response is also logged for successful jobs...

[2022-07-21 05:22] BhaveshAnandpara commented on #10841
@AlexSCorey I need a bit of a context on what is the problem so if there is any image ??

[2022-07-21 06:58] nssensalo commented on #12040
Alex, I have some ideas and would like to work on this issue but I am having trouble assigning myself. I referred to the contributing guidelines/code of conduct but still need help on this. Do you mind explaining how to assign myself ?

[2022-07-21 07:09] rudesome commented on #12530
I guess every playbook in awx will get the http response to kill the automation pod

Question is, what is sending this after the 5 minutes (timeout)? Cause this only happens with AKS, it needs to be something within Azure...?

@kurokobo, thank you for your time, confirmation and investigation! May i ask what version of k8s were you running in AKS?

[2022-07-21 08:32] amolari opened #12557 "AWX CLI with --monitor set should return a different status code than 0 for a cancelled job"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-21 12:22] arodriguezd commented on #10565
Hi,
I have the same problem.

[code]
I have changed my domain that showed by domain.com.

**Environment**

    AWX version: 21.3.0
    AWX install method: k3s with awx-operator (0.25.0 )
    Operating System: Ubuntu 20
    Web Browser: tested latest Firefox and Chrome

Why do I want to edit here, why do I need to change this parameter:

[code]

By my domain to be able to authenticate with Azure AD

[2022-07-21 14:47] kurokobo commented on #12530
@cmasopust @Parkhost
Oh, thanks for letting me know. Sorry for my lack of investigation, you're right, I get the same logs on jobs that succeed. However, still I am a little suspicious of this log, since the order of the logs seems to differ between success and failure.

In successful case, an "superfluous" response is recorded after the termination process for container and pod is initiated.

[co

[2022-07-21 15:52] 0xk4b1r commented on #12040
assign

[2022-07-21 15:53] 0xk4b1r commented on #12040
Am working on this one..

[2022-07-21 18:35] AlanCoding commented on #12202
I think those are all very good ideas @fosterseth. My only concern is that, if you change the meaning of `dependencies_processed` like that, then you lose your means for distinguishing jobs which have _spawned_ dependencies from those that have not. Since spawning is something which only happens once for each job, this is something we really want to keep separate from the other less-deterministic

[2022-07-21 18:37] nssensalo commented on #12040
Do you mean its already assigned to you therefore not available , or you
are looking into helping me get assigned?

Sorry
Thanks for the clarification

- Nansamba

On Thu, Jul 21, 2022 at 8:53 AM Kabir ***@***.***> wrote:

[2022-07-21 18:43] 0xk4b1r commented on #12040
I also don't know to assign ourselves.
Maintainers have access to assign us on the issue.

So I started working on this issue (20 hrs ago).

[2022-07-21 18:58] mabashian commented on #12536
@TheRealHaoLiu is https://github.com/ansible/awx/issues/12483 tracking the UI side of this?  Can we remove the ui label from this issue?

[2022-07-21 19:00] AlexSCorey commented on #12536
@TheRealHaoLiu Here is the query for getting the proper credential type `ttps://192.168.0.2:3001/api/v2/credential_types/?kind=scm` and here is the query for getting the credentials of the type we want `/api/v2/credentials/?credential_type=2&order_by=name&page=1&page_size=5`

[2022-07-21 20:13] kurokobo commented on #12530
It seems that AKS, at least a few years ago, had a behavior that terminates the connection to the API server if no data is sent for a certain period of time, even if it is within a cluster: https://github.com/Azure/AKS/issues/1755
I am not familiar with AKS, but similar restrictions may have been added in recent AKS...?

In fact, running `ansible.builtin.pause` with `minutes: 10` reproduces this i

[2022-07-21 20:24] tvo318 commented on #8793
@azrdev yes, sure it is in the PR indicated above: https://github.com/ansible/product-docs/pull/1715/files#diff-60eede4d18c8e3cd61c67f8cc00d542a65ac7a652b0ec927e3bf973f2d06ab4f

[2022-07-22 06:50] cmasopust commented on #12530
can you show me how you modified the entrypoint?    I tried something similar: just connected to the pod and run the echo command there. but...  it is the exit status of the task that is then incorrect and therefore the whole playbook stops then (have you tried having an additional task following the pause task in the playbook?)

[2022-07-22 08:10] Dherlou commented on #12514
I am facing the same issue. I upgraded/migrated our ancient docker installation yesterday, so I cannot say from which version this problem may stem, but the currently affected installation has the following setup:

OS: Ubuntu 18.04.6 LTS
Ansible: core 2.13.2
AWX: 0.1.dev32048+gc913388.d20220721 (yesterday's version of devel branch)

Installation method: Docker
Docker: 20.10.17
Docker-compose: 1.29

[2022-07-22 09:22] rudesome commented on #12530
Didn't expect to work.. I have created a new AKS cluster with version 1.24, and seems the automation pod doesn't terminate at the 5 minute timeout.. Am skeptic about it, don't think MS even knows this bug exists in version 1.22 en 1.23, and as 1.24 is still in preview (in Azure) am not sure if it is a valid option.. maybe it breaks other things? On the other side; AWX isn't meant to run in product

[2022-07-22 14:10] kurokobo commented on #12530
@cmasopust
It seems that the string that should be `echo`ed must be JSON that can be processed by Runner on awx-task e.g. `{"uuid": "keepalive","counter": 0}`.
Finally, I was able to get a long job (with multiple tasks after `pause`) to work with the following hack.

~~However, I think this is an unreliable workaround. I've not tested enough but this is because if the original output from the Runn

[2022-07-22 14:19] rudesome commented on #12530
I upgraded the 'production' AKS cluster from 1.23.8 to 1.24.0 , but it didn't solved the issue as my newly created cluster (still error after +/- 5 minutes) 😕

[2022-07-22 14:32] damianszczepanik commented on #12117
I have local repository so I have downloaded latest version, put tag ``latest`` to that version and finally modified ``kustomization.yaml``:

[code]

[2022-07-22 14:57] rudesome commented on #12530
Maybe it has something to do with the network profile settings?

My "timeout/failing" cluster is using:
Type (plugin): Azure CNI
Network policy: Azure

While my "success" cluster is using:
Type (plugin): Kubenet
Network policy: None

Going to try it out over the weekend.

[2022-07-22 16:16] ryanmerolle commented on #7362
Just chiming in here.  Other projects tackle this with a "helper/group sync".

Nautobot has a good example for use with the same social auth library used in awx for Azure AD OAuth.

https://github.com/nautobot/nautobot/tree/develop/examples/azure_ad

Credit @jdrew82 & NTC team

[2022-07-22 17:53] isuftin commented on #286
In our AWS org we create EC2 keys that differ by region and by account via CloudFormation, letting CFN create the keypair dynamically. We could also make them differ between tiers within the same account within the same region if needed. However, a template and workflow template can only have a single machine credential so unfortunately for us, in a single account, machines that boot up in any reg

[2022-07-23 08:27] cmasopust commented on #12530
@Parkhost I don't think it's related to the Kubernetes network. We first had a cluster with Azure CNI and Kubernetes version 1.21.x where no timeout happened. Then our Azure team redeployed the cluster with Kubenet and version 1.22.6 and we now have the timeout.

[2022-07-23 08:57] cmasopust commented on #12530
@kurokobo : thanks a lot for providing detailed instructions (for someone who's at the beginning of his Kubernetes journey 😄)

I've implemented your workaround and can confirm that my long running job now succeeds. But.. when looking at the awx-task logs I see the following errors each time the pod sends the 'keep-alive':

`
2022-07-23 08:49:53,444 DEBUG    [-] awx.main.commands.run_callback_recei

[2022-07-23 09:18] cmasopust commented on #12530
Looks like adding "event": "FLUSH" to the json data does no longer produce the errors in awx-task and the playbook still succeeds.

Having a quick look at the AWX code shows that an event of type FLUSH skips any further processing of the received data and therefore produces no exception 😄 (see [awx/main/dispatch/worker/callback.py](https://github.com/ansible/awx/blob/9f8b3948e1aad75620bec818f1965b

[2022-07-23 11:28] cmasopust commented on #12530
Have some bad news:   although the workaround works perfectly well now for playbook runs, it breaks the inventory updates!
So, only half of my problems are solved 😒

[2022-07-23 13:45] kurokobo commented on #12530
@cmasopust
Thanks for updating and good finding for `FLUSH`. Confirmed that the `echo` breaks Inventory Sync, and found appending `"end_line": 0` make it works.

[code]

I've updated my `entrypoint` script in my comment above: https://github.com/ansible/awx/issues/12530#issuecomment-1192616101

Also, for my following concern in my previous comment, removing sleep and allowing as many repeated echo

[2022-07-23 15:46] cmasopust commented on #12530
@kurokobo  you're my hero 😄    can confirm that the inventory update is now working in my AWX too!
Thanks a lot for your great help!!

[2022-07-25 07:41] mick1627 commented on #12491
Here the output of a failed inventory update

[2022-07-25 08:02] PKehnel commented on #3773
+1

[2022-07-25 08:50] EffectShapiro commented on #9165
Here is my inventory variables

[code]

I specified the region name in the matching credentials as well

my inventory source

[code]

Still having the problem

[code]

Thanks

[2022-07-25 08:51] EffectShapiro commented on #10043
@HolmfryWrk FYI https://github.com/ansible/awx/issues/9165#issuecomment-1193767485

Or did you find a solution meanwhile ?

[2022-07-25 08:55] mick1627 commented on #12491
As said recreate the same inventory source makes it ends in success status.

If we try to remove the source in error state, we get a "erreur 504 gateway time-out" (but it is nevertheless deleted) . We can see a lot of I/O, CPU increase in  the database.
Here a screen shot of the DB monitoring, you can see the increase of CPU and the IOPS read and write still high 45 minutes after the source deleti

[2022-07-25 14:04] arodriguezd commented on #9747
Hello everyone,
I also had this problem, but it only happened when I was behind a Haproxy, if I connected directly to the machine it didn't give me that problem. The configuration I made was based on this repo at https://github.com/kurokobo/awx-on-k3s  thanks to kurokobo x his repo is very complete.

- AWX 21.3.0
- AWX-Operator 0.25.0
- Ubuntu 20.X
- K3S

When I wanted to pass it through a Haproxy

[2022-07-25 14:04] HolmfryWrk commented on #9165
@EffectShapiro After I was clearly losing my mind, my colleague did get it working but it involved customizing the pod configuration for awx-ee, and using an alternate openstack plugin.  I'm not sure of all the details, and he's on vacation this week but I've sent him an email asking him to respond when he returns if possible.

[2022-07-25 14:04] MatthieuLeMee commented on #5692
I need this feature too since when have linked AWX on a full CICD git chain.

[2022-07-25 15:19] mabashian opened #12564 "Refine job explanation logic on output details panel"
Currently, the UI will only show the job explanation within the output portion of the details panel.  I think the assumption here was that there would never be any lines of output so we could reuse this space.  There are scenarios where there actually is output though:

<img width="1509" alt="image (3)" src="https://user-images.githubusercontent.com/9889020/180813918-a7931540-2a55-40b9-9ae9-d99ed2

[2022-07-25 15:22] mabashian commented on #12564
@shanemcd dunno if you have a simple playbook that would reproduce this scenario but that may help the devs!

[2022-07-25 15:47] keithjgrant commented on #12564
we might want to do an "info" message rather than "error" since the job_explanation can be all sorts of things, not all of them an error, I think?

[2022-07-25 15:48] EffectShapiro commented on #9165
@HolmfryWrk Oh great ! Thank you very much for asking your colleague, i'll be really glad if he still has a trace of how to fix it 🙏  Sounds messy to customize pod configuration though but if it works.. Cheers

[2022-07-25 17:02] HolmfryWrk commented on #9165
You're very welcome! I tried to solve this for so long so I know how frustrating it is (esp. when all the bug reports about it say 'solved' for some reason..); I know it did seem messy but it can work lol

[2022-07-25 19:42] adpavlov commented on #12549
could you please share a link to the group?

[2022-07-25 20:02] azrdev commented on #8793
I do not see any indication of said PR, so thank you for providing the link explicitly!

Edit: I do not see the repo, so probably it's private which explains the (in)visible reference.

[2022-07-26 07:03] solomonchu30 commented on #12345
@sevko21  > Did you successfully resolved the above issue? I am facing similar issue. Please could provide your solution.

[2022-07-26 07:59] But4ler opened #12570 "[Feature request] Node Type support limit in Workflow_job"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-26 09:14] hsahmed commented on #11056
@mabashian the above issue is still present in the latest version (21.3) and is again fixed by adding the use_fqcn = True as above. Would it help if I send a pull request for the above change?

[2022-07-26 09:27] bartowl opened #12571 "project updates due to scm_branch do not show in UI list under Jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-07-26 11:14] mick1627 commented on #12277
Same issue for me.
Removing a inventory source with about 200 hundreds of hosts and 8220 jobs ran against that inventory ends with AWX unreacheable after about 1 hours.

The following sql request seems to just overload our postgres DB :

[code]

[2022-07-26 11:18] ahatting commented on #12530
We also have this issue on our AKS test (running Kubernetes 1.24) and production (running Kubernetes 1.23.8) cluster. We applied the workaround supplied by @kurokobo and I can also confirm that our jobs are now finishing as expected. Great!
We are running Ansible AWX 21.0.0 with Ansible version core 2.13.1

[2022-07-26 15:47] hesmithrh commented on #11910
please track updates on this issue in #6134, thanks!

[2022-07-26 20:16] john-westcott-iv opened #12575 "Attempting to run an adhoc command results in error"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

The

[2022-07-26 21:01] AlanCoding opened #12576 "UI sometimes gives "waiting" status while job is running"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Lau

[2022-07-26 22:01] berkutcloud opened #12578 "Execution Environment ignores ansible_ssh_common_args"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Dea

[2022-07-27 07:39] Zeek3000 opened #12579 "Socket path does not exist or cannot be found"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Gat

[2022-07-27 12:15] anxstj opened #12580 "uWSGI listen queue of socket "127.0.0.1:8050" full / Database deadlock"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

In

[2022-07-27 14:37] hari-hud opened #12581 "Unable to create organization admin using SAML based SSO Authn and Authz"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Req

[2022-07-27 15:42] anxstj commented on #12580
We found out that our inventory update job has removed one host from the inventory. The dispatcher will now update every jobevent the host was involved in with the following query:
[code]
With no more than 100 ids in $LIST_OF_EVENT_IDS. So these update queries handle not more than 100 events at a time and are executed in serial.
Our main_jobevent table is approx. 140 GB in size and contains 90 day

[2022-07-27 15:57] john-westcott-iv commented on #10571
With the merged PR solving the crash and the ability to look up items with the `lookup` module we are going to close this issue. For reference, as mentioned in the PR, once can lookup objects using the lookup module like:
[code]

[2022-07-27 15:57] #10571 closed, assigned to Tompage1994

[2022-07-27 16:05] andreasbourges commented on #9733
any known solution to this problem ?

[2022-07-27 16:48] rooftopcellist opened #12583 "Do not allow selecting control-only InstanceGroup on Job Template (k8s deployments)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

It

[2022-07-27 17:12] hesmithrh commented on #12583
fyi @shanemcd @ffirg wanted to make sure you both saw this issue in case we need to address in an upcoming sprint/release. thanks!

per christian:
is pretty low in priority, functionality isn't broken, but it may create confusion for the more-curious-than-average user who stumbles upon this issue
definitely a nice to have if we have bandwidth for it though

[2022-07-27 17:16] fosterseth commented on #12580
this PR might be addressing the same / similar issue https://github.com/ansible/awx/pull/12447

[2022-07-27 18:00] fosterseth commented on #12571
Thanks for opening the issue, would you mind providing some screenshots of the UI that demonstrates the issue?

[2022-07-27 18:07] kdelee commented on #12171
closing as this is done

[2022-07-27 18:07] #12171 closed, assigned to rebeccahhh

[2022-07-27 18:09] kdelee commented on #12225
This is now merged, we need to determine if we want to add any tests

Note: may undergo some updates with work on the `task_manager_refactor` branch cc @fosterseth @AlanCoding

[2022-07-27 18:49] kdelee commented on #11338
@AlanCoding to force a reproducer, you could try setting `kubelet --container-log-max-size` to a very small number

[2022-07-27 21:40] john-westcott-iv commented on #12581
According to the latest SAML docs, to add a user as an org admin you need the configuration to include the `admins` field in the organization mapping. See list item 11 and 12 of https://docs.ansible.com/automation-controller/latest/html/administration/ent_auth.html#saml-settings for more details in addition to https://docs.ansible.com/automation-controller/latest/html/administration/social_auth.ht

[2022-07-27 22:26] fosterseth commented on #12579
do you have the same issues running your playbook outside of AWX?

[2022-07-27 23:18] keithjgrant opened #12585 "Extra vars from disabled survey prevents schedule editing"
##### ISSUE TYPE
 - Bug

##### COMPONENT NAME
 - UI (?)

##### SUMMARY

If you create and turn on a survey and create and turn on a schedule, then return to the survey to turn it off, and then return to edit the schedule you cannot edit the schedule without clicking on prompt. This is a problem, because the survey is off and should not impede the ability to save/edit a schedule

[2022-07-28 03:52] amarmh commented on #9390
Any update on this with respect to AAP 2.x?

[2022-07-28 04:07] hari-hud commented on #12581
I have checked `SAML ORGANIZATION MAP` and `SAML TEAM MAP`problem with this configuration is It accepts only a list of email addresses and usernames for `admins` and `users`.

[code]

There is no way to map the AD group or dl as the organization admin/user same for the team. We can't create users under a team from the AD group.  Assume a case where we have 10000 users in an AD group and we want al

[2022-07-28 06:35] maveleo commented on #9733
Please, try adding the security_context

[code]

[2022-07-28 06:52] andreasbourges commented on #9733
Hi,

.thanks for the suggestion! I modified my awx-deploy.yaml and deployed it
again, but:

Every 1.0s: kubectl get pods
net04-mgmt-vm: Thu Jul 28 08:51:50 2022

NAME                                               READY   STATUS
RESTARTS        AGE

awx-postgres-0                                     1/1     Running
2 (22h ago)     13d

awx-7dd9bf96c7-ml7zf                               4/4     Runn

[2022-07-28 12:30] john-westcott-iv commented on #12581
Thanks for the clarification on this.

[2022-07-28 13:05] #12206 closed, assigned to fosterseth

[2022-07-28 16:44] jay-steurer commented on #12519
Verified by QE. Approved.

[2022-07-28 17:50] djyasin commented on #12488
Have not come to a final decision with stakeholders within the organization for where this utility should live.

[2022-07-28 18:38] #12519 closed, assigned to john-westcott-iv, jay-steurer

[2022-07-28 20:00] vedaperi opened #12589 "[UI] Submit project form with content signature credential selected and source control credential empty"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-07-28 20:00] vedaperi opened #12590 "[UI] Disable job launch button on job templates page if content signature verification fails"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-07-28 23:19] C0rn3j commented on #12530
[code]

I got very confused here as I am new both to Kube and AWX and tried creating a hotfix.yaml and applying that via kubectl - that's completely wrong and what's actually needed needed is to set a new Instance Group under AWX Administration tab and make sure the templates/syncs use the new instance group.

Unfortunately for me, that did not resolve my issue, probably because in my case the aut

[2022-07-29 09:40] antwacky commented on #12549
[Group](https://groups.google.com/g/awx-project/c/VmzgmmrP8k8/m/UZZG60OYCAAJ)

[2022-07-29 13:54] mabashian commented on #11822
This looks like it's done, going to close.  @tvo318 do you have what you need to track any changes on your end?  Reach out to me if you do not.

[2022-07-29 13:54] #11822 closed, assigned to AlexSCorey

[2022-07-29 14:34] zendritic commented on #8553
I have a custom credential type that injects environment variables. Although it would still be possible to use survey and a dedicated task to inject the extra vars into the controller's environment, it would be a lot simpler for it to be a feature of custom credentials.

[2022-07-29 16:34] jay-steurer commented on #11560
This issue has been reported on Jira as well:
https://issues.redhat.com/browse/AAP-4585

[2022-07-29 18:16] AlanCoding opened #12591 "Launching an ad-hoc command with default verbosity gives 400 error"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

If

[2022-07-30 02:28] sean-m-sullivan opened #12594 "awx collection job template and execution environment fail to properly lookup some items using organization field."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

awx

[2022-07-30 05:08] kurokobo commented on #12591
The `verbosity` is defaulted to `VERBOSITY()[0]` and this seems to point to a label `0 (Normal)`.

https://github.com/ansible/awx/blob/86a67abbce3d21ccffd61fb576398c7b471a2c23/awx/ui/src/components/AdHocCommands/AdHocCommandsWizard.js#L58-L76

https://github.com/ansible/awx/blob/86a67abbce3d21ccffd61fb576398c7b471a2c23/awx/ui/src/components/VerbositySelectField/VerbositySelectField.js#L9-L16

[2022-07-30 05:32] sean-m-sullivan opened #12596 "Workflow nodes with same unified job template names but different types should be allowed"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

If

[2022-07-30 05:40] kurokobo commented on #12530
@C0rn3j
Hi, according to the image that you've attached before, your Job seems to have a lot of output over 4000 lines, so I guess it is a log size issue.

AWX has an issue with jobs aborting if Kubelet log rotation occurs while the job is running: https://github.com/ansible/awx/issues/10366 and https://github.com/ansible/awx/issues/11338

Kubelet in AKS has a default log size limit of 10 MB, so i

[2022-07-30 19:35] relrod commented on #12485
Current WIP (not yet PR ready): https://github.com/ansible/awx/compare/feature-project-integrity...relrod:awx:integrity-on-update-first-attempt

[2022-07-31 18:16] sean-m-sullivan opened #12598 "update role plugin to provide better error messages"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Cur

[2022-08-01 06:36] tu-doan commented on #12262
@shanemcd   Hi Shane, I have found the root cause for this issue. https://github.com/ansible/awx/blob/21.3.0/awx/api/serializers.py#L4934-L4941

Briefly describe:
- `policy_instance_percentage` of `default` container instance group is 100.
- There are 2 cases that we can do:
1. When we update the pod override spec of this instance group, without params `policy_instance_percentage`:
 Then the value

[2022-08-01 07:25] MalfuncEddie opened #12601 "Inventory not gathered on instance group (execution node)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-08-01 09:24] r0b1ndot commented on #12254
Got same error both tried variants did not work.

var1:

    - setting: AUTH_LDAP_GROUP_TYPE
      value: >-
        '"ActiveDirectoryGroupType"'

var2:

    - setting: AUTH_LDAP_GROUP_TYPE
      value: >-
        "ActiveDirectoryGroupType"

[2022-08-01 09:37] bartowl commented on #12571
sure - those are subsequent runs of a job template, that has Source Control Branch specified:
![image](https://user-images.githubusercontent.com/12292174/182119612-cbc38448-327e-4b12-99f0-74b4902c4776.png)
As you see by the ID sequences, the intermediate project updates are not being shown. When I target particular URL I see that job, but it does not show up in the list:
![image](https://user-imag

[2022-08-01 12:53] om22 opened #12607 "Revert to old survey search mechanism"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-08-01 14:28] 3zAlb commented on #11805
We are also having this issue running the latest AWX, k3s, and docker backend.  Container log size is set to 500mb and allowed to have 4 files.  (Single log file is generated and gets nowhere near 500mb)

This is a pretty big show stopper for long running maintenance playbooks.

Can we get an update on this?  This issue has been open since February and i've seen numerous closed issues with the sam

[2022-08-01 16:03] NadavShani commented on #11805
same here

[2022-08-01 16:15] StefanSpecht commented on #11805
We have exactly the same issue.

[2022-08-01 16:59] #12507 closed, assigned to sarabrajsingh, john-westcott-iv

[2022-08-02 00:25] TheRealHaoLiu opened #12610 "allow control node to peer out to remote execution node"
## Summary
As a user, from an AWX controlplane deployed on a Kubernetes Cluster, I would like the ability to peer out to a remote execution node.

## Acceptance Criteria
- [x] when a execution node (Instance) is added to AWX controlplane, all control node is able to peer out to the new execution node
- [x] communication between control node and remote execution node is secured via mTLS

[2022-08-02 00:41] TheRealHaoLiu commented on #12610
PoC from @shanemcd
**AWX changes**: https://github.com/ansible/awx/compare/mesh-scaling-backend...shanemcd:awx:mesh-scaling-backend
**awx-operator changes**: https://github.com/ansible/awx-operator/compare/devel...shanemcd:awx-operator:external-execution-nodes

[2022-08-02 00:46] TheRealHaoLiu opened #12611 "playbook for provision the new remote execution node"

[2022-08-02 01:00] TheRealHaoLiu opened #12612 "generate install bundle for adding remote execution node"
## Summary
As a user that want to add a remote execution node, I want AWX to generate a bundle of "Ansible goodness" (playbook with all the required variables) that I can use to easily provision a remote execution node and have AWX able to connect to the new remote execution node.

## Acceptance Criteria
- [ ] install bundle must setup the correct TLS certificate for establishing connection betwee

[2022-08-02 08:06] dipanjanmukherjee83 opened #12613 "list servers from smart inventory using awx cli"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-08-02 09:06] adshukla1902 commented on #12040
Hi guys,
Is anyone working on this? Else I would like to work on this.

[2022-08-02 09:09] 0xk4b1r commented on #12040
Yup..

[2022-08-02 13:28] colinrobertmcculloch commented on #9165
(I'm Holmfry's colleague) I got it to work by modifying the awx-ee Containerfile to require a lower version of openstacksdk (it defaults to 0.99 but that's incompatible with older Openstack deployments) and then rebuilt the awx-ee image. The AWX files are available [here](https://github.com/ansible/awx-ee). I added in some additional commands to install pip and included the [openstacksdk](https://

[2022-08-02 14:39] MalfuncEddie commented on #12601
changed https://github.com/ansible/awx/blob/67f1ab2237bc1da453bdacfd848c87e7bfb1371b/awx/main/tasks/jobs.py#L1615
and it works.
[code]

[2022-08-02 15:14] fosterseth commented on #12201
this work has already been merged into the task_manager_refactor branch -- so we can either close this now, or we can close it when task_manager_refactor is merged into devel @hesmithrh

[2022-08-02 17:29] kialam commented on #12258
Closing, duplicate issue.

[2022-08-02 17:29] #12258 closed, assigned to nobody

[2022-08-02 18:03] MalfuncEddie commented on #12601
it was the ansible-runner version (needed to install from git)

[2022-08-02 18:03] #12601 closed, assigned to nobody

[2022-08-02 18:42] InnocentK commented on #12540
Resolved

[2022-08-02 18:42] #12540 closed, assigned to keithjgrant, InnocentK

[2022-08-02 18:42] InnocentK commented on #12232
Resolved

[2022-08-02 18:42] #12232 closed, assigned to keithjgrant, InnocentK

[2022-08-02 19:41] AlexSCorey opened #12615 "Cannot Delete Workflow Approval List item if workflow is still running"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

See

[2022-08-02 19:43] hesmithrh commented on #12201
thanks @fosterseth if we have testing and docs already covered in other issues, we should close (cc @jneedle ). if not, we should keep open to track QE and Docs , FYI: @tvo318 not sure if we 1) need docs here and 2)if you have an issue tracking that

thanks!

[2022-08-02 22:16] kdelee commented on #12199
Closing because we've abandoned this idea for now

[2022-08-02 22:16] #12199 closed, assigned to AlanCoding, kdelee

[2022-08-02 22:17] kdelee commented on #12202
the core work of creating the DependencyManager has already been merged into the task_manager_refactor branch -- going to close this and we can open up follow on issues

[2022-08-02 22:23] #12202 closed, assigned to fosterseth

[2022-08-02 22:26] kdelee commented on #12201
Let's close, this is internal logic

[2022-08-02 22:26] #12201 closed, assigned to fosterseth

[2022-08-02 22:59] adpavlov opened #12617 "Job output Host Details error"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-08-02 23:01] adpavlov commented on #12617
seems like similar to #12443

[2022-08-03 15:06] akus062381 commented on #12617
closing as a duplicate of https://github.com/ansible/awx/issues/12443

[2022-08-03 15:06] #12617 closed, assigned to nobody

[2022-08-03 15:28] #12594 closed, assigned to nobody

[2022-08-03 15:34] akus062381 commented on #12585
related: https://github.com/ansible/awx/issues/11636

[2022-08-03 15:51] akus062381 commented on #12518
Hi @RootKaizer!

Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication me

[2022-08-03 15:51] #12518 closed, assigned to nobody

[2022-08-03 15:52] akus062381 commented on #12514
Hi @Wonderingkaho!

Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication

[2022-08-03 15:52] #12514 closed, assigned to nobody

[2022-08-03 15:54] akus062381 commented on #12506
Hi @anxstj!
Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-08-03 15:54] #12506 closed, assigned to nobody

[2022-08-03 15:56] john-westcott-iv commented on #12591
Closing as dupe of https://github.com/ansible/awx/issues/12575

[2022-08-03 15:56] #12591 closed, assigned to nobody

[2022-08-03 15:57] akus062381 commented on #12549
Closing this in favor of the mailing list discussion.

[2022-08-03 15:57] #12549 closed, assigned to nobody

[2022-08-03 18:08] TheRealHaoLiu commented on #12610
https://github.com/ansible/awx-operator/pull/1012

[2022-08-03 21:27] adpavlov commented on #11805
@meis4h could you please update?

Also lets probably call active developers like @AlanCoding 😅

[2022-08-03 21:33] adpavlov commented on #12430
it seems like EE simply missing required python module?

[2022-08-04 04:50] nachobytes commented on #11291
@manoj-maracheea-cko @azrdev
Your comments helped me get started and I decided to write an article about this. Hope you find it useful. Open to suggestions as well.

https://medium.com/@nachobytes/awxkit-and-python-for-ansible-automation-effe1b637154

[2022-08-04 05:38] meis4h commented on #11805
@adpavlov sadly there is nothing new to report 😕​

[2022-08-04 07:15] manoj-maracheea-cko commented on #11291
Great article @nachobytes, I may add more info here later this might help others as well. Great things you did.

I am happy that this has helped you, and wish we always can share our knowledge with others.
Keep it up.

[2022-08-04 13:48] sbrile commented on #10787
Using @xx4h example is the only way I was able to get WinRM over HTTPS working with Kerberos.  I also had to mount my custom krb5.conf file.

deploy your ca root cert as a secret
[code]

deploy custom krb5.conf with your domains
[code]

create an instance group in the AWX UI

[code]

[2022-08-04 17:13] TheRealHaoLiu commented on #12488
decision has been reached in https://issues.redhat.com/browse/AAP-4954

we will be creating a new utility tentatively named `ansible-sign`
in current release this utility will ONLY handle project signing

[2022-08-04 17:14] mabashian commented on #12484
Marking as blocked until some api changes land

[2022-08-04 17:28] mabashian commented on #12543
@keithjgrant wondering if https://github.com/ansible/awx/pull/12555 addresses this issue as well.  I don't see this issue listed in the PR but they seem sorta kinda related.

[2022-08-04 19:49] TheRealHaoLiu commented on #12612
the command for generating certificate for receptor
[code]

[2022-08-04 19:58] TheRealHaoLiu commented on #12610
https://github.com/ansible/awx/pull/12619

[2022-08-04 20:36] hfuda commented on #12578
I am noticing this also when the ssh connection type gets set to `libssh` it does not honor these settings. It also does not honor changes to /etc/ssh/ssh_config.

_**Not a fix but a workaround is to configure:**_

`
ansible_network_cli_ssh_type: paramiko
`

This seems to work. I do not think it is honoring the above ssh settings either but it does seem to have more liberal defaults.

The presence

[2022-08-04 20:39] fosterseth commented on #12612
@shanemcd to make the certs the awx-web container would need the receptor binary present in the container. Are we okay doing that?

[2022-08-04 23:07] tomascribb10 commented on #9165
Hi colinrobertmcculloch,
Very nice work!!
Could you explain how did you replace the official awx-ee image for the custom one?
I built the image with docker but I'm  not able import to k3s cluster.

[2022-08-05 12:19] colinrobertmcculloch commented on #9165
We have a private container registry that I pushed the image to and changed my AWX resource definition to include the custom image. If your AWX deployment is already running you can add EE images to it but modifying the 'Kind: AWX' resource by adding the image as seen [here.](https://github.com/ansible/awx-operator#deploying-a-specific-version-of-awx)

[2022-08-05 14:39] #12521 closed, assigned to john-westcott-iv, jay-steurer

[2022-08-05 15:27] boagg opened #12628 "Many processes in defunct"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hel

[2022-08-05 21:23] fosterseth opened #12630 "allow instances to be deleted through api"
Currently the only way to delete an instance is through the deprovision_instance command

[2022-08-06 23:14] RemiZOffAlex opened #12631 "Error UI in docker"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Aft

[2022-08-07 16:52] MalfuncEddie commented on #12613
Maybe related but it would be nice if you could filter the inventory given an "ansible limit".

[2022-08-08 07:28] dipanjanmukherjee83 commented on #12613
Yes, we can do limit and even host patterns are working but the main issue is we cannot see the servers list which we want here.

[2022-08-08 09:00] mihai-satmarean commented on #4434
could you provide an example or point to one? thanks!

[2022-08-08 11:06] lals1 commented on #11805
exactly same issue

[2022-08-08 11:44] tonk commented on #11531
I think all over the world would like that.

[2022-08-08 13:25] AlanCoding commented on #12277
The part with

[code]

would probably rule out the possibility that this is fixed by https://github.com/ansible/awx/pull/12447, since that's only dealing with the event -> host relationship, not the job host summary -> host relationship.

From the sequence of queries you have, it's probably the UPDATE that's taking effectively forever, and the other SELECT statements are getting hung up on the loc

[2022-08-08 14:42] mick1627 commented on #12277
Yes, the inventory source was removed in the UI. That's the only thing I did.

I first received this error in the UI :

![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/36628449/183442808-0fa1aed7-5585-47e7-ab36-0e661f49649c.png)

About a hour after I have the issue with the UPDATE/SELECT query still ongoing.
I had to remove this inventory source several time due to an other s

[2022-08-08 20:14] InnocentK commented on #1084
@akus062381 We will need to add some stubs to improve test coverage to include this feature for our E2E tests

[2022-08-08 20:15] InnocentK commented on #1084
Resolved

[2022-08-08 20:15] #1084 closed, assigned to InnocentK, AlexSCorey, akus062381

[2022-08-09 09:53] ingvarrwvw commented on #11056
Hi!
Can you describe in detail how you solved this problem? Thanks in advance!

[2022-08-09 10:15] anxstj opened #12634 "credential admins are not able to manage access"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Use

[2022-08-09 13:29] hsahmed commented on #11056
@ingvarrwvw

On your AWX deployment, in the web container (if your deployment name is awx01 then the container is awx01-web), change the file /var/lib/awx/venv/awx/lib/python3.9/site-packages/awx/main/models/inventory.py with the changes in my comment (only change required is adding `use_fqcn = True` to the rhv class).

How to change this file in the container depends on your setup and deployment

[2022-08-09 15:52] tomascribb10 commented on #9165
Thank you very much @colinrobertmcculloch. I did some tests and finally it work. I share the steps that I did to use Docker external registry in case it helps to someone.

1. Install podman
2. git clone https://github.com/ansible/awx-ee.git
3. vim awx-ee/_build/requirements.yml
`---
collections:
  - name: awx.awx
  - name: azure.azcollection
  - name: amazon.aws
  - name: theforeman.foreman
  - na

[2022-08-09 18:08] akus062381 opened #12636 "workflow approval status tooltip not reporting correctly"
On the workflow approval page, after a user changes the status of a workflow, the tooltip that pops up when the user hovers over the thumbs up / thumbs down / cancel icons is not reporting correctly:

![image](https://user-images.githubusercontent.com/63685497/183727301-298e5259-ab78-4e67-9c48-56ef42fbc9f4.png)

Steps to reproduce:

create a workflow job template
add an approval node
launch the jo

[2022-08-09 18:15] #12512 closed, assigned to AlexSCorey

[2022-08-09 22:13] rebelArtists commented on #5612
i'm seeing the same on my end for github oauth, do not believe this should be closed

[2022-08-10 12:29] aheath1992 opened #12639 "Ability to search Survey fields and have fields in Alphabetical order"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-08-10 14:28] AlexSCorey opened #12640 "Refactor Project Form and sub forms"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Thi

[2022-08-10 17:09] sarabrajsingh commented on #12631
Hi [RemiZOffAlex](https://github.com/RemiZOffAlex),

Please refer to the following documentation to build and generate the UI in the development environment.

https://github.com/ansible/awx/tree/devel/tools/docker-compose#clean-and-build-the-ui

Thanks,
AWX Team

[2022-08-10 17:10] #12631 closed, assigned to nobody

[2022-08-10 17:22] sarabrajsingh commented on #12491
might be a duplicate of - https://github.com/ansible/awx/issues/12530

[2022-08-10 17:33] shanemcd commented on #12254
From reading the docs, what about:

[code]

[2022-08-10 17:45] fosterseth commented on #12634
was able to reproduce

[2022-08-11 08:35] r0b1ndot commented on #12254
@shanemcd also your proposed setting results in:
[code]

[2022-08-11 09:37] d-rupp commented on #12277
I encountered this issue yesterday as we removed two hosts that were featured in a lot of runs from our inventories.

My solution after finding this ticket was to heavily reorganize the job history from 60 down to 10 days and after that the inventory update (mainly the SQL UPDATE statement) took only 25 minutes.

[2022-08-11 10:04] 2and3makes23 opened #12644 "502 Bad Gateway Errors in AWX GUI browsing Jobs, Templates"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-08-11 10:20] fust commented on #12644
+1 We are facing the same problem, I was just about to create a new issue when I saw this one.

I've been digging for a few hours and the TL;DR is that I traced the problem to jobs with a lot of output causing the uWSGI thread to crash. Increasing the memory for the awx-web container to 2GB fixed the job overview not loading correctly but we need to further increase it to be able to load the job o

[2022-08-11 10:42] jangel97 opened #12645 "jobs running indefinitely because of receptor error"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hi,

[2022-08-11 14:41] akus062381 commented on #12336
I see this is in needs_review, but the linked PR doesn't seem to include this change...?

[2022-08-11 17:58] keithjgrant commented on #12336
The pertinent change is at https://github.com/ansible/awx/pull/12445/files#diff-17dca043aaac54c1923ff315e95e8a1845e129f19d846c206906bb1a209b2b15L436

`timezone: schedule.timezone || now.zoneName` instead of 'America/New_York' being hard-coded as default

[2022-08-11 18:03] AlanCoding commented on #11301
Possibly addressed at the root cause by https://github.com/ansible/awx/pull/12573, or by https://github.com/ansible/awx/pull/12592 depending on the specifics of what happened.

[2022-08-11 18:26] kialam commented on #12590
Blocked until API changes land.

[2022-08-11 18:51] #12336 closed, assigned to keithjgrant

[2022-08-11 22:43] RemiZOffAlex commented on #12631
[code]

[2022-08-12 08:52] nscblauensteiner opened #12648 "After upgrade "Kind=PodList err-Index with name field:status.phase does not exist""
##### ISSUE TYPE

Bug report

##### SUMMARY
Attempting to upgrade from AWX 21.3.0 to 21.4.0

##### ENVIRONMENT
* AWX version: 21.3.0
* AWX install method: operator
* AWX deployment target: kubernetes/minikube/cri-o
* Operating System: AlmaLinux 8.6

##### STEPS TO REPRODUCE

Upgrade operator 0.24.0 to 0.26.0 with "make deploy"

##### EXPECTED RESULTS

Upgrade with make deploy successful

##### ACT

[2022-08-12 08:54] mick1627 commented on #12491
In our case, the pods to do the inventory sync start and finished successfully. The pods run about 15 secondes.
Then, the task in AWX stay in "running" mode for about 15 - 20 secondes and finally finished with error.

[2022-08-12 12:02] mick1627 commented on #12491
We observed that if we Uncheck the Update options box "Overwrite" on the source inventory, the inventory sync is working.
Maybe related to https://github.com/ansible/awx/issues/12277
From a new inventory, we tried to stop an instance, re-run the inventory, the instance stopped is removed from the inventory it works well.
We will try the same thing in few days with an host used in several job templ

[2022-08-12 13:44] matburt commented on #5711
My feeling here is that it should remove the preferential instance group logic entirely... so no overflow or rollover, and only allows IGs for which the user has access to. There might not be enough rbac to cover the actual permissions here, though? I'm open to discussion but definitely can't select an instance due to things like Container Groups.

[2022-08-12 16:26] whitej6 opened #12651 "Workflow Template - Convergence reverting to `ANY` on edit of step"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-08-12 23:27] aleyamayab opened #12652 "Problem send mail ansible tower"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I n

[2022-08-15 10:58] ljanatka commented on #5692
I would also appreciate this to be fixed, because my awx automation now requires manual steps to set the tag/branch of inventory. Any update on this issue?

[2022-08-15 11:31] john-westcott-iv commented on #5711
Permissions to "see" an IG are pretty high (I think you have to be an org admin at a minimum) and you are correct in that we don't have RBACs to allow the addition of users to see/use them. So prompt on launch to specify a different set of IGs will be pretty useless to non super users until we add that feature.

However, one advantage in the way we have it currently coded is that you can also use

[2022-08-15 11:57] matburt commented on #5711
https://github.com/ansible/awx/blob/cae2c0619026ff864d24f390c3fe46b506e41f74/awx/main/access.py#L564

This is a pretty minimal set with some room to expand. So something like:

* can_read ... in org... at least job template admin
* can_use ... defaulted to org admin, job template admin can use if IG associated with JT(?)

use is governed by what IG is pre-assigned by the org admin... jt admins can

[2022-08-15 11:57] marcoatenway commented on #12433
up

[2022-08-15 11:58] marcoatenway commented on #10670
up

[2022-08-15 12:35] ingvarrwvw commented on #11056
I added the specified parameter, connected this script as an external volume, but this did not solve the problem - the error is the same

[2022-08-15 12:46] hsahmed commented on #11056
@ingvarrwvw it has to be done on both web and task containers. Below is my config map and deployment file (unchanged sections cropped for clarity):
[code]

And in the deployment file:
[code]

[2022-08-15 13:09] jay-steurer commented on #9222
PR merged. Closing it.

[2022-08-15 13:09] #9222 closed, assigned to relrod

[2022-08-15 14:07] ingvarrwvw commented on #11056
Yes, when adding task_volume - worked now, thanks!
This plugin allow to get the names of ovirt-nodes ?

[2022-08-15 19:48] #12575 closed, assigned to matburt, mabashian

[2022-08-15 22:44] bladedoyle commented on #5692
Please increase priority, this is a critical missing function.

[2022-08-16 12:52] aheath1992 opened #12661 "Jobs leaving artifacts in /tmp directory"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Job

[2022-08-16 13:25] jangel97 opened #12662 "jobs are hanging"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hi,

[2022-08-16 15:56] akus062381 opened #12663 "workflow approval- line item checkbox behavior isn't working correctly"
To reproduce:

Create a workflow job template with an approval node.
Click on the workflow approvals tab.
Locate the approval line item that corresponds to your template and check the box for that line item.
Note that the Delete button stays grayed out because you haven't approved/denied/cancelled the approval.
With that box still checked, deny the workflow using the thumbs down button.
The checkb

[2022-08-16 16:41] venkatasykam opened #12664 "AWX SSO login creating multiple user ids"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

We

[2022-08-16 17:10] SaadOps commented on #11593
Is this issue resolved?

[2022-08-16 17:25] CC-Kuoying opened #12665 "Can Satellite 6.10 and AWX 20.1.0 integration??"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-08-16 17:48] AlanCoding commented on #12471
@CFSNM this is covered in the Kyndryl hotfix stuff. I changed the version in the project to 2.2.1 to reflect that.

[2022-08-16 17:54] akus062381 opened #12666 "workflow approval- details screen cancel button not working properly"
To reproduce:

Create a workflow job template with an approval node.
Launch the job.
Visit the workflow approval tabs. Find the approval from your template and click on it to visit the details tab.
Click Cancel Workflow, and then click Confirm Cancellation.
Notice that the Cancel Workflow button remains enabled, and the user has to repeat the cancellation steps to disable it.

[2022-08-16 17:57] mabashian opened #12667 "Add the team name when showing team roles for a user on a resource"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-08-16 18:34] kdelee commented on #11997
This looks like it is going to bounce this to the future

[2022-08-16 18:38] kdelee commented on #12440
We've decided that we accomplished this in another fashion, so closing this

[2022-08-16 18:38] #12440 closed, assigned to nobody

[2022-08-17 12:48] manoj-maracheea-cko commented on #11291
@nachobytes , find below what I was able to do.

[code]

From here on I think, anyone can do what is needed. as a primary starting point.

[2022-08-17 13:27] mabashian commented on #6815
@keithjgrant this seems like the same thing as: https://github.com/ansible/awx/issues/12542.  If they're duplicates can we close one of them?

[2022-08-17 13:57] mabashian commented on #12607
Yea, we're currently using http://patternfly-react.surge.sh/components/select#typeahead.  What we really want is something like http://patternfly-react.surge.sh/components/select#custom-filtering so that we can be a little more lenient on the filtering.  Looks like this example also uses some custom filtering: http://patternfly-react.surge.sh/components/select#grouped-single-with-filtering.

[2022-08-17 14:26] TheRealHaoLiu opened #12672 "`make bulk-data` broken in docker-compose development environment"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

`ma

[2022-08-17 14:30] TheRealHaoLiu opened #12673 "`make jupyter` broken for docker-compose development environment"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

`ma

[2022-08-17 15:13] akus062381 commented on #12666
linked PR: https://github.com/ansible/awx/pull/12548

[2022-08-17 15:17] akus062381 commented on #12665
hi @CC-Kuoying, this issue pertains to an older version of AWX, which is no longer supported. Please try upgrading to the latest version and let us know if that resolves your issue. Thank you!

[2022-08-17 15:22] akus062381 commented on #12663
linked issue: https://github.com/ansible/awx/issues/12666

[2022-08-17 15:29] TheRealHaoLiu opened #12674 "awx_collection sanity test fail with python3.9"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

att

[2022-08-17 15:31] akus062381 commented on #12661
@aheath1992 did you change any settings? Can you give us a bit more detail concerning the naming of the directories? Is there a common prefix?

Can you also show us the output of this command?

[code]

[2022-08-17 15:31] CC-Kuoying commented on #12665
Hi @akus062381 AWX Version is 20.1.0.

<img width="843" alt="截圖 2022-08-17 下午11 30 10" src="https://user-images.githubusercontent.com/71488933/185180552-b30c79d8-92d9-4444-8d02-fc0ae002131e.png">

[2022-08-17 15:35] aheath1992 commented on #12661
settings.AWX_CLEANUP_PATHS
True

[2022-08-17 15:37] CC-Kuoying commented on #12665
Error message.

[code]

[2022-08-17 15:39] TheRealHaoLiu opened #12675 "`make messages` fail with `invalid locale en-us, did you mean en_us?`"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

[co

[2022-08-17 15:55] shanemcd commented on #12662
Maybe related: https://github.com/ansible/awx/issues/12491

[2022-08-17 15:59] akus062381 commented on #12661
@aheath1992 can you please share the directory naming info? Is there a common prefix?

[2022-08-17 15:59] AlanCoding commented on #12491
This is a rare log for us to see:

https://github.com/ansible/awx/blob/cfc1255812e0dabb49c80e42b99edb2278b8c260/awx/main/dispatch/pool.py#L391

This is very descriptive. The process that was saving the inventory data died.

[2022-08-17 16:06] ffirg commented on #12665
I think you just need to set under the Satellite Inventory source Variables:
[code]

[2022-08-17 16:08] ffirg commented on #12665
If that doesn't work try verify_ssl (can't remember which it is off the top of my head)

[2022-08-17 16:16] aheath1992 commented on #12661
/tmp/<AWX_PRIVATE_DATA_DIR>
/tmp/awx_100542_t6ixwfln

[2022-08-17 16:23] klauserber opened #12677 "Automation jobs are canceled unintentionally"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

We

[2022-08-17 16:26] CC-Kuoying commented on #12665
Hi @ffirg it doesn't work. (BTW, I run AWX on Openshift)

<img width="1038" alt="截圖 2022-08-18 上午12 19 30" src="https://user-images.githubusercontent.com/71488933/185191474-61d9e041-6c97-4d7b-bb70-f742fda2b717.png">

[2022-08-17 17:26] AlexSCorey opened #12678 "Only Hop and and Execution Nodes Should have `links` url in related"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

All

[2022-08-17 17:43] AlanCoding commented on #10337
Closing as @john-westcott-iv's merge appears to address this.

[2022-08-17 17:43] #10337 closed, assigned to nobody

[2022-08-17 17:44] AlanCoding commented on #12277
It seems very likely that https://github.com/ansible/awx/pull/12447 could address this. I would like to get people to try that patch out.

[2022-08-17 18:55] fosterseth commented on #12664
Hi!

This is the expected behavior if user "VENKAT" was already a local user in AWX, and then you tried to use SAML login for an account with the same username. Upon SAML login, a new user will be created with the suffix (VENKATajhdueijdbbxbdh), as you found.

To verify this, you should see that VENKAT exists as a normal (non social) user in AWX.

for example, on the Users page
![image](https://us

[2022-08-18 02:58] m-hoskin-unisa opened #12681 "Error when attempting to connect to Windows hosts on one domain"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

We'

[2022-08-18 03:43] venkatasykam commented on #12664
@fosterseth
Thanks for the explanation. But how the local user already exists ? Because of LDAP ? We use saml login everytime for new user or existing user.

Can you please lets us know how to fix this issue ?

[2022-08-18 09:44] CC-Kuoying commented on #12665
Hi @ffirg yes, it's ok.  Thanks.

[code]

[2022-08-18 09:44] #12665 closed, assigned to nobody

[2022-08-18 10:20] manuel-held opened #12682 "Grafana Notification => ValueError: invalid literal for int() with base 10: ''"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Adm

[2022-08-18 10:31] klauserber opened #12683 "awx.conf.settings Database settings are not available"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hel

[2022-08-18 11:55] AlanCoding commented on #12400
With some recent merges, that method should be raising the exception and give some better error details, which is ultimately probably a database error. I hope we can get this out in a new release soon.

[2022-08-18 12:59] muchafel commented on #12400
maybe some additional observation: I can reliably reproduce the issue, if I go to the server-side and drop all client connections. Issue persist as long as I don't restart awx. In my view there is something wrong with how django handles the connection in its pool.Helpful would be a way to configure `max_conn_age`

[2022-08-18 13:20] DaDenniX opened #12685 "Jobs with a lot of output/hosts stops with status "Error""
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hi

[2022-08-18 13:32] AlanCoding opened #12686 "Ignore events in callback receiver for which uuid already exists in database"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-08-18 13:52] TheRealHaoLiu commented on #12488
https://github.com/ansible/ansible-sign is now functional thanks @relrod
i think we achieved the desire functionality

@relrod u mention that there's additional improvement you want to make can u outline what improvement is needed

[2022-08-18 14:27] djyasin opened #12687 "Remove Content Signing Enable/Disable Fields"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-08-18 14:39] AlanCoding commented on #11555
I put up https://github.com/ansible/awx/pull/12270 to show that it's very trivial to add the started time to the websocket message from the API. Because _this_ issue isn't planned, I'm going to close that now. If the UI picks this up later, you can pretty easily include the diff from that. I don't want to add more data until there is a consumer for that data.

[2022-08-18 14:41] AlanCoding commented on #5646
I showed how the API can add this in https://github.com/ansible/awx/pull/12270, and the UI can make use of that when it needs it. However, I don't want to merge that with the UI work still unplanned. So I'm closing both that PR and this issue. The related UI issue https://github.com/ansible/awx/issues/11555 is unblocked.

[2022-08-18 14:41] #5646 closed, assigned to nobody

[2022-08-18 15:16] TheRealHaoLiu commented on #12612
mocked instance install bundle download endpoint PR merged into feature branch
https://github.com/ansible/awx/pull/12643
behavior revised in
https://github.com/ansible/awx/pull/12679

[2022-08-18 15:31] mtward commented on #5568
+1  Adding order_by would make the awx cli usable to view jobs.  Just upgraded to recent version of AWX and job output is terribly buggy in web interface

[2022-08-18 16:11] aheath1992 opened #12688 "Job output, not recognizing when job is done"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

SCM

[2022-08-18 17:54] TheRealHaoLiu commented on #12482
in project update if the content signature validation fail the project sync will fail and user can see the content signature validation failure in the project sync job log

[2022-08-18 17:54] TheRealHaoLiu commented on #12487
if content signature validation fail during project sync user will not be able to launch the job from the job template

[2022-08-18 17:56] TheRealHaoLiu commented on #12485
https://github.com/ansible/awx/pull/12680 reviewed and merged to the feature branch