[2019-03-07 16:27] cesarfn4 opened #3385 "RFE: Add Isolated nodes without downtime to clustered Tower nodes"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI
 - Installer

##### SUMMARY
Currently, when you want to provision a new isolated node, all Tower services are restarted generating downtime. Please rewrite installer playbook to add isolated nodes without downtime to clustered tower nodes.

[2019-03-07 16:31] #3385 closed, assigned to nobody

[2019-03-07 19:18] kdelee opened #3387 "Allow setting venv for inventory updates on inventory source"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Allow venv to be set on inventory source and use default of the ansible venv we ship.

##### ADDITIONAL INFORMATION
This is my idea to resolve a usability issue that has come to my attention. If users are using the Organization level VENV, we may put them at risk of breaking their inventory updates.

* If they use

[2019-03-07 19:23] RRAlex commented on #1654
In my case, the problem wasn't about integrating another secret engine, but simply being able to insert CA signed keys in the key field to be encrypted and kept as secret within AWX's database.
Vault is nice, but it is a whole other beast that I wouldn't implement simply for this specific need though.
Cheers!

[2019-03-07 20:13] #3297 closed, assigned to AlexSCorey

[2019-03-07 20:30] #2960 closed, assigned to AlexSCorey

[2019-03-07 21:14] unlikelyzero commented on #3317
Verified that the user can set the Org Max Hosts field to empty and it is saved as such.
Verified that a user can set the Org Max Hosts field to "0" and it is saved as such

[2019-03-07 21:14] #3317 closed, assigned to nobody

[2019-03-07 21:17] unlikelyzero commented on #3316
Verified:

- A user can type in a value greater than '2147483647' and the save button is disabled and inline error text informs the user of the value limitation.
- A user can use the form 'input angle up' button to increment the value up to but not above '2147483647'

[2019-03-07 21:17] #3316 closed, assigned to mabashian, unlikelyzero

[2019-03-07 21:27] unlikelyzero commented on #3374
Verified:

- New Application Type can be created with 'Resource owner password-based' 'Redirect URIS' as the local machine's URI, 'Client Type' Public

[2019-03-07 21:27] #3374 closed, assigned to keithjgrant, unlikelyzero

[2019-03-07 21:28] unlikelyzero commented on #3384
@AlanCoding should we have client-side validation in the UI as well?

[2019-03-07 21:34] unlikelyzero opened #3388 "Notify the awx and tower user of new releases in the UI"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Notify the awx and tower user of new releases in the UI. If we notify users of awx and tower of our new releases within the UI:
- We can encourage users to keep up with development
- Increase general awareness of our new release cadence
- Encourage users to migrate away from deprecated versions of Tower

##### ADDITIONAL I

[2019-03-07 21:51] cvernooy23 commented on #553
You can do something like this in your role/playbook to convert a comma or space delimited string into a simple (flat) list:

in the survey:
foo,bar,baz

playbook/role:
with_items: "{{ variable.split(',') }}"

However, I do not know if this would work with a list of lists, IE: item.pass=foo, item.username=bar, item.thing=baz. that's where I am at the moment and I'm trying to figure out a way to pa

[2019-03-08 01:26] AlanCoding commented on #3384
Good question, normally I prefer that the corner cases can just be handled by the API, because it's not likely that the user will hit it and we maintain just 1 message.

However, this is both extremely probable to hit, and is extremely high-profile in terms of its position within the overall app. Existing paradigms would allow for client side validation here.

[2019-03-08 02:14] jakemcdermott commented on #1654
@RRAlex You'll be able to provide a private key and signed cert directly without using an external secrets engine. There will be an additional field on the machine credential form for a signed ssh certificate.

[2019-03-08 07:19] sujiar37 commented on #3019
@AdrianDutu, If you are planning to stick with specific version w/o upgrades / with rebuilds, there is a way we can enable cluster in AWX on Docker Install which I'd mentioned in the [AWX google groups thread](https://groups.google.com/forum/m/?utm_medium=email&utm_source=footer#!msg/awx-project/E6mlcdfED2s/vprvoFH_AwAJ ), this is tested and working under the latest version 3.0.1. Also, I'm gratef

[2019-03-08 13:05] LaurencelleJ commented on #576
Being able to map ldap groups to an auditor role for an organization as b0urn3 documented above would be extremely useful from an auditing and compliance perspective.  Currently we can only do this at a user level.  Having this at a group level is much easier to state who has this role during compliance reviews.  I can't imagine this would be difficult to add.

[2019-03-08 14:07] Ompragash opened #3390 "[RFE] Need Two Separate Options In SETTINGS > SYSTEM for Org Admins To Manage Users And Teams"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Currently if we traverse to SETTINGS > SYSTEM we have a option `ORGANIZATION ADMINS CAN MANAGE USERS AND TEAMS` through which an Org Admin can manage both Users and Teams if turned On. But it'll be nice if we have two separate options `ORGANIZATION ADMINS CAN MANAGE USERS` and `ORGANIZATION ADMINS CAN MANAGE TEAMS

[2019-03-08 14:48] Spredzy opened #3392 "Project fails to synchronize when `/etc/ssh/ssh_config.d/xxx.conf` exists"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

If there is an ssh client config on `/etc/ssh/ssh_config.d/xxx.conf`, playbook will fail to run with the following error message `Bad owner or permissions on /etc/ssh/ssh_config.d/xxx.conf`

##### ENVIRONMENT

  * AWX version: devel

##### STEPS TO REPRODUCE

Note: `openssh-clients >=7.3p` is required for the Include mec

[2019-03-08 15:37] unlikelyzero commented on #2630
I believe that this one may have been merged prematurely

[2019-03-08 15:43] akamalov opened #3393 "Authentication credentials were not provided. To establish a login session, visit /api/login/"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Azure Authentication integrated environment. Trying to authenticate to obtain token. Error: detail:

```Authentication credentials were not provided. To establish a login session, visit /api/login/```

I am referencing document - https://docs.ansible.com/ansible-tower/latest/html/administration/oauth2_token_auth.html#ag-us

[2019-03-08 16:17] foley-j commented on #2271
This would be extremely helpful, as it would allow people who run jobs with extra_vars to be more familiar with what they do instead of drilling down into whatever SCM to view the playbook.

[2019-03-08 16:36] wenottingham commented on #3390
Why is this needed? What is the use case for only managing one or the other?

[2019-03-08 16:48] wenottingham commented on #3387
I don't think setting a venv on the inventory source is really needed beyond a "use system venv instead" checkbox?

[2019-03-08 17:15] JulienPalard commented on #3365
Hi @AlanCoding,

No my inventories are "hidden" in a directory.

At the root of my hierarchy, not near the inventories.

I think so but I'm not sure, relevant parts of my inventory:

[code]

And just in case I was not clear in my previous answers, here is my hiearchy (simplified for readability, bot not that much so you can still understand it):

[code]

[2019-03-08 17:52] ryanpetrello commented on #3393
@akamalov,

Several of AWX's supported enterprise authentication methods (like Azure/Google/Github) don't support direct authentication to AWX via HTTP basic auth (it just isn't how it works) - rather, they're intended to be used via a third party OAuth2.0/OpenID login that directs you to log into your Azure account (generally, in browser, or via some 3rd party SDK) and passes metadata _back_ to A

[2019-03-08 17:52] #3393 closed, assigned to nobody

[2019-03-08 18:25] akamalov commented on #3393
Thanks so much @ryanpetrello!!

[2019-03-08 18:48] #3193 closed, assigned to ryanpetrello, kialam

[2019-03-08 18:52] mabashian commented on #447
Primary work has been completed here - closing

[2019-03-08 18:52] #447 closed, assigned to kialam

[2019-03-08 18:55] AlanCoding commented on #3365
IIRC, the `ansible.cfg` will be read from any parent directory. Even if that's not the case, IIRC, the root of the project is the current working directory for running jobs.

Anyway, this appears to be exactly what I thought.

Your expected behavior is directly at odds with what was being addressed in:

https://github.com/ansible/awx/pull/2313

You, on the other hand, are expecting to set an inven

[2019-03-08 19:39] AlanCoding opened #3395 "Cannot delete group if its name is too long"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
If my group has too many non-space characters, I cannot delete the group in the UI

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker for mac
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

name group 1234567890

copy + paste 10 times

copy + paste result from prior s

[2019-03-08 19:42] jakemcdermott commented on #3395
What's the actual use case here?

[2019-03-08 19:48] jakemcdermott commented on #3395
👍 I can see how this can be a problem. This is not about repeat api-backed copies, which would also explode the character length of a resource name.

[2019-03-08 19:52] akamalov opened #3396 "Receiving 401 Unauthorized when Trying to List Inventory via REST call"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

Trying to list inventory using cURL + token but getting 401 error

```curl: (22) The requested URL returned error: 401 Unauthorized```

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.8
* Operating System: CentOS7.4
* Web Browser: Chrome 70.0.x
* cURL: 7.63.0

##### STE

[2019-03-08 20:16] AlanCoding commented on #3395
I hit it because I was importing inventory and using the inventory plugin constructed groups. Granted, I got it wrong, so it merged the names of many entries into 1 entry. Nonetheless, it shows how someone can _unintentionally_ hit this, because that's exactly what I did.

[2019-03-08 21:00] jlmitch5 commented on #4206
@kialam since this field is more or less complete for instance groups.  I am repurposing this card to just capture the enhancements (autopopulation and type to create tags) part of the feature.

[2019-03-08 21:02] jakemcdermott commented on #3395
yep 👍 makes sense. we should fix it.

[2019-03-09 09:25] JulienPalard commented on #3365
I would appreciate if the long term solution for this issue goes towards "unifying" CLI and AWX behavior. My current user experience of AWX (single day test) is I have to change things that work in CLI so they work in AWX (like "moving my inventory in a sub directory so I can use vaults in group_vars"), which I think is not optimal user experience.

[2019-03-09 16:59] AlanCoding commented on #3365
I should have linked https://github.com/ansible/awx/pull/2713

I understand entirely.

There is not any such proposal that would work for this at the moment. We have a couple of changes to inventory coming that should help, and the whole-file encrypted value issue is now solvable, after we've iterated with Ansible core's implementation.

It would be very cool to change out SCM inventory update-on-

[2019-03-09 21:14] JulienPalard commented on #3365
In the short term, does moving back to an "ini-like" inventory would make my current setup work?

Maybe also document that AWX is not supporting yaml inventories for the moment to avoid some other people being hit by this one?

[2019-03-10 01:55] L1ghtman2k opened #3397 "SSL CERTIFICATE_VERIFY_FAILED ansible AWX"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

panos_zone module, included using library

##### SUMMARY
When attempting to run module that is making a request to a host with self-signed cert, the module fails.

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method:docker
* Ansible version:  Ansible 2.7.7
* Operating System: CENTOS 7

##### STEPS TO REPRODUCE

1) include panos_zone.py

[2019-03-11 10:06] jota2016 opened #3398 "Restrict user from login within GUI"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
 - GUI

##### SUMMARY
Unable to restrict login from UI

##### ENVIRONMENT
* AWX version: 3.0.1
* Ansible version:  2.7.8
* Operating System: CentOS 7.6

##### STEPS TO REPRODUCE
I have created a new regular user with execution permissions over a template. From a Jenkins server, I can launch the playbook of the template succesfully, but I need

[2019-03-11 10:08] tlancemot commented on #1632
Hello
Same here, with 3.0.1 requirements is never used even if i delete & recreate and roles download is enabled in admin section.
issue must be re-opened ?

scm_full_checkout is never setted to True even in task.py  :
`'scm_full_checkout': True if project_update.job_type == 'run' else False,`

Exemple :

Added :
[code]
To project_update.yml and it's ALWAYS false (update / run a job etc)

[2019-03-11 12:34] ryanpetrello commented on #3396
@akamalov,

Try:

`Authorization: Bearer $token`

[2019-03-11 12:52] akamalov commented on #3396
@ryanpetrello, you're awesome, and it's official. Don't deny it... Thank You!!

[2019-03-11 12:52] #3396 closed, assigned to nobody

[2019-03-11 13:26] rooftopcellist opened #3399 "Undefined status on token & app creation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
When creating a resource in the UI that has a pop-up modal after creation, the resource is created, but the modal does not display correctly.  This is an issue for Application and Token creation because the pop up modal shows information that the user will not be able to get later (ie: token value and cl

[2019-03-11 13:29] AlanCoding commented on #3365
For the matter of resolving your specific case, I don't see why you couldn't do:

[code]

In your config file. It is astronomically unlikely that the `script` plugin would have false positives, mistaking yaml-like inventory for script-like inventory. This should make your case work without any regressions. You could even remove the `[inventory]` entry, probably with no ill effects.

This does reve

[2019-03-11 13:31] mmontesi commented on #1188
Confirmed the issue was caused by a corrupted installation.
I've created a fresh instance (v 3.0.1) and migrated the assets with tower-cli, as explained in doc.
Now all works as expected.

[2019-03-11 13:38] unlikelyzero commented on #3399
@rooftopcellist I'm assuming that this is awx/devel?
Does this occur with all application types?
Which browser/OS?

[2019-03-11 14:06] mabashian commented on #3399
@rooftopcellist I'd be curious to see if there are any errors in the developer tools console when this happens.  Did you happen to check the console out when this happens?

[2019-03-11 14:19] rooftopcellist commented on #3399
@mabashian I am seeing this in the console:

![image](https://user-images.githubusercontent.com/11698892/54130519-e7159080-43e6-11e9-95d6-8998ae541040.png)

@unlikelyzero Chrome Version 72.0.3626.109 (Official Build) (64-bit)
It does happen with all application types.

[2019-03-11 14:35] wenottingham commented on #3398
This is what the OAuth token support is for.

[2019-03-11 14:35] #3398 closed, assigned to nobody

[2019-03-11 14:35] wenottingham commented on #3397
This is an issue with the panos module, which needs to be filed at https://github.com/ansible/ansible/. This repo is for AWX issues.

[2019-03-11 14:35] #3397 closed, assigned to nobody

[2019-03-11 14:53] rooftopcellist commented on #3399
It looks like this has been fixed by https://github.com/ansible/awx/pull/3376.  Closing.

[2019-03-11 14:53] #3399 closed, assigned to nobody

[2019-03-11 14:53] rooftopcellist commented on #3374
Duplicate issue: https://github.com/ansible/awx/issues/3399

[2019-03-11 15:34] L1ghtman2k commented on #3397
I am aware of that, the purposed solution by PANOS was to set to PYTHONHTTPSVERIFY=0, however I was not able to do the same in AWX

[2019-03-11 15:58] wenottingham commented on #3397
The panos lib uses requests. Requests doesn't honor that variable, so...

[2019-03-11 16:01] wenottingham commented on #3397
Are you able to get a sample playbook working outside of AWX?

[2019-03-11 16:18] L1ghtman2k commented on #3397
Yes, I was able to run that outside of AWX.
From what it seems like, and I don't know what I did exactly because I tried like a billion of things, my AWX is now able to execute the same way I am executing it outside of AWX too...
I will try to fill in the gaps, once I restart my AWX, since it is not persistent I will have to repeat those steps.

[2019-03-11 17:12] heikocane opened #3400 "(docker-compose) how to add another instance to instance-group?"
Hello,

I have two virtual machines (awx01 and awx02). I have setup awx on awx01 successfully with docker-compose and now I want to add awx02 (also with docker-compose) as an instance so my jobs can also be scheduled on awx02. Is there a way to add the awx02 to my setup? I

Thanks for helping me!

Heiko

[2019-03-11 18:02] unlikelyzero commented on #3120
@msilmser @keithjgrant  i'm not 100% sure what cases I should test for here. Can you confirm that this would suffice:

- JT Prompt Tooltips observe the correct Z-depth when Jobs launch on Templates Page and WFViz
- JT Prompt Tooltips are "correctly" rendered on FFox/ Chrome
- JT Prompt Tooltips are present on JTs and WFJTs Modal Prompts
- JT Prompt Tooltips appear when after navigating between tab

[2019-03-11 20:10] #3238 closed, assigned to AlexSCorey

[2019-03-12 01:22] ghost commented on #3304
Hi @ddobrescu I also had the same issue with a clean install.
But as @turbofx noted pg_sslmode=disable allowed for services to come up.

Currently running:
  CentOS Linux release 7.6.1810
  host ansible 2.4.2.0
  AWX 3.0.1.0

[2019-03-12 05:06] jainnikhil30 opened #3405 "Allow key management and jump host configuration"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
Allow ssh key management and jump host configuration. Currently its all via file system and have to be managed manually. It will be great if its something that can be done via UI.

[2019-03-12 07:51] jota2016 commented on #3398
Thanks **wenottingham**.
I will investigate in that way.

[2019-03-12 10:22] kprerana opened #3406 "unable to install AWX on kubernetes"
##### ISSUE TYPE
 - I am unable to install AWX on kubernetes using https://github.com/ansible/awx

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

PLAY [Build and deploy AWX] **********************************************************************************************************

TASK [check_vars : include_tasks] *******************************************************************

[2019-03-12 13:11] juame commented on #2540
I believe it's the same as #3306. :relaxed:

From [Ansible 2.6 Porting Guide](https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.6.html):

So, Ansible in AWX no longer requires shade. But requires openstacksdk directly:
https://github.com/ansible/awx/blob/3.0.1/requirements/requirements_ansible.in#L54-L55
We also have a lot of troubles with v0.12.0 and would really appreciate i

[2019-03-12 13:24] AlanCoding commented on #2540
This is covered by https://github.com/ansible/awx/pull/3266, see the changes to requirements files there. I was looking at removing shade. We could leave it, but I didn't know of a reason to, it's something I could use feedback on.

[2019-03-12 13:54] unlikelyzero commented on #345
@jlmitch5 please let me know when you're about 24 hours away from a PR

[2019-03-12 14:12] jean-christophe-manciot commented on #1632
@wenottingham
@tlancemot
It should never have been closed in the first place without proper testing.

[2019-03-12 14:15] wenottingham commented on #3405
In general, we want to fix this by expanding how isolated nodes work, not introduce another jump host construct.

[2019-03-12 14:41] juame commented on #2540
Do you know if there's a workaround for AWX 3.0.1 in Docker Containers?

I followed the instructions in [custom_virtualenvs.md](https://github.com/ansible/awx/blob/3.0.1/docs/custom_virtualenvs.md) but get following error in awx_task container:
[code]

When I try to upgrade OpenStack in `venv/ansible`:
[code]

Any hints welcome ☺️

[2019-03-12 14:48] fredgate opened #3407 "Can not login in AWX web UI with french browser"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Error to login in AWX web UI.

##### ENVIRONMENT
* AWX version: 3.0.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: Debian 9
* Web Browser: Firefox, Chrome

##### STEPS TO REPRODUCE
Install AWX with Docker on Linux using playbook from git repository. All is fine. Configuration was suc

[2019-03-12 14:50] ryanpetrello commented on #2540
@juame

Specify `-u0` when you exec into the container:

[code]

[2019-03-12 15:24] jean-christophe-manciot commented on #1632
With the very latest commit 3.0.1-226-g9d0a8d204 (Tue Mar 12 14:09:45 2019), the issue is still there.

[2019-03-12 16:19] juame commented on #2540
@ryanpetrello thank you! That helped for this!

Can I do it like this (`docker commit`) or not a good idea? Because I can't use pip on the server directly (no repo, no connectivity):

[code]

Because then I get on the server:
[code]

**Update**

Found [a hint](https://groups.google.com/d/msg/awx-project/GrYmgJu7cjA/cq1o4N-4CQAJ) for installing the package via Ansible module `pip`:

[code]

Not opt

[2019-03-12 16:47] 514amir commented on #1731
Also an issue for me, all my templates in the workflow have the same inventory and i want to be prompted for the limit so that I can apply the entire workflow to a single machine....

[2019-03-12 18:35] batemanst commented on #2705
@ryanpetrello This is somewhat tangential but is there a way to make AWX aware of Docker/cgroup memory limits? I've run into this issue a lot where the `awx-celery` container oversubscribes to memory and gets restarted by Docker.

` psutil.virtual_memory().total` reports node memory, say 16 GB, and if I'm running on k8s this will not be accurate relative to the 10-12 GB I might have given the `awx

[2019-03-12 18:40] ryanpetrello commented on #2705
@batemanst

Yep, that's exactly what we intended for scenarios like this.  You can adjust `SYSTEM_TASK_ABS_MEM` in your configmap:

https://github.com/ansible/awx/blob/devel/installer/roles/kubernetes/templates/configmap.yml.j2#L19

[2019-03-12 19:45] ryanpetrello commented on #3407
@fredgate any chance your username has any non-ASCII characters?  Trying to replicate this myself, and that might help.

[2019-03-12 19:46] ryanpetrello commented on #3407
Also, it looks like you might be using LDAP.  Any chance you could share your (sanitized) LDAP configuration?

[2019-03-13 09:32] AdrianDutu commented on #3371
Any feedback on this, please?

[2019-03-13 13:20] keithjgrant commented on #3120
Those sound good to me

[2019-03-13 13:28] unlikelyzero commented on #3120
Tested the scenarios above and also:

- JT Prompts collapse before and after interacting with a Promptable dropdown element

[2019-03-13 13:28] #3120 closed, assigned to keithjgrant, unlikelyzero

[2019-03-13 14:33] #3337 closed, assigned to AlexSCorey

[2019-03-13 14:48] keithjgrant opened #4214 "Click to open Tooltips"
Currently, PatternFly tooltips can only be opened with keyboard focus or mouse hover. We would like them to open with mouse click as well. An issue has been filed with PatternFly for this at https://github.com/patternfly/patternfly-react/issues/1564

Follow up with this once they determine their course of action. If they decide to implement it, we can confirm functionality after upgrading. If they

[2019-03-13 15:00] beeankha commented on #2080
Timeout feature has been added to the email notification templates.  The default is 30 seconds, range is from 1 to 120 seconds.

![EmailNotificationForm](https://user-images.githubusercontent.com/28930622/54289265-38588800-457f-11e9-8984-e83e57aa0967.png)

![ToolTip](https://user-images.githubusercontent.com/28930622/54289269-3abae200-457f-11e9-8d75-a4b7009ece59.png)

[2019-03-13 16:32] AlanCoding commented on #3387
A venv setting is what matches the current pattern. There is a very strong precedent set for this.

https://github.com/ansible/awx/blob/928de6127bf360f14f20ec344783f616b4439646/awx/main/models/jobs.py#L583-L593

Job templates get custom venv from itself, then other stuff, then organization, in that precedence order. This is also true for projects, and it is very clearly documented. If inventory so

[2019-03-13 17:20] wenottingham commented on #3387
While I understand that conceptually, this feels like exposing way way too much of the warts of the system, given that custom venv + built-in sources is almost certainly a bad idea.

[2019-03-13 20:40] falencastro commented on #1556
This is still happening on 2.1.0 and it's not the same as [#1861](https://github.com/ansible/awx/issues/1861), as in #1861 the issue was the log was not being written to postgres.

In my case, after exactly 1 day the stdout stops refreshing automatically, I believe this is related to [daphne's default 86400 seconds websocket_timeout](https://github.com/django/daphne/blob/9c574083ff04037cd728bfda35

[2019-03-13 20:41] mabashian commented on #3209
@ahuffman When you say host_vars I want to make sure I understand exactly what you mean.  Are you referring to the extra vars on the host form?

<img width="1539" alt="Screen Shot 2019-03-13 at 4 39 44 PM" src="https://user-images.githubusercontent.com/9889020/54312987-a9636400-45ae-11e9-9e32-70e57f801eb3.png">

@wenottingham I think this same feature would be _really_ useful for host facts which

[2019-03-13 20:56] wenottingham commented on #3209
Yeah, I wonder how many of our codemirror implementations this could apply to.

I could argue for the host case, it almost makes sense to expand *down* and collapse the list that's under the host display... but that's not really something we do.

[2019-03-13 23:47] ahuffman commented on #3209
@mabashian yes, that's what I'm referring to.  It would definitely be useful on the facts tab as well, pretty much the same situation.

[2019-03-13 23:58] ghost commented on #3406
+1

[2019-03-14 02:26] L1ghtman2k commented on #2268
I am not sure what I am doing wrong...
I have "inventory" file located in the root of the project located in github.
After updating the project, and updating it on awx, I am getting this error:

[code]

This is the inventory file:

[code]

I knoe @cg-cnu mentioned it should be executable. Would that mean I have to go into awx docker and set chmod +x ?

[2019-03-14 02:54] sugitk opened #3414 "Schedule job with `None (run once)` but saved as `Day`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I saved the schedule as `None (run once)` but when edit this schedule it is saved as `Day`.

##### ENVIRONMENT
* AWX version: Tower 3.4.2
* Operating System: RHEL 7.6
* Web Browser: Chrome 72.0.3626.121

##### STEPS TO REPRODUCE

1) Add a new schedule for a job template
2) Configure time and Save as `None (run once)`
3) Ed

[2019-03-14 07:05] sugitk opened #3415 "translation of `SCHEDULE DESCRIPTION` is not good in Japanese"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

`説明のスケジュール` is not good translation in Japanese

##### ENVIRONMENT
* AWX version: Tower 3.4.2
* Web Browser: Chrome 73.0.3683.75

##### STEPS TO REPRODUCE

click Job Template -> Schedule tab -> new Schedule

##### EXPECTED RESULTS

スケジュールの詳細

##### ACTUAL RESULTS

説明のスケジュール

##### ADDITIONAL INFORMATION

<img width="1149"

[2019-03-14 07:31] impca commented on #3400
Docker Compose does not span across multiple hosts, you'd have edit your compose configuration on awx01 and make the required ports are accessible from awx02 and then copy the compose configuration over to awx02 and edit the configuration again to start only the task container and connect to awx01. Then it *might* work.

Also, you may be better off asking this question here: https://www.reddit.com

[2019-03-14 09:30] fredgate commented on #3407
Hi.
My username has only ASCII characters : I use the local account `admin`. I do not use a LDAP account.
But effectively I have configured a LDAP provider. Here is my configuration obtained from API endpoint :
[code]

[2019-03-14 11:56] AlanCoding commented on #2268
No, if you're using git, `chmod +x` should change the file in a way that you can commit that change to source control. Then a project update should pick up the executable bit.

It's best to test your file locally by running `./inventory` from the root of your project directory.

[2019-03-14 12:14] AlanCoding commented on #867
The most important use case is the 2nd one here, that's already being addressed in https://github.com/ansible/awx/pull/3280

The 3rd use case is something it's hard to even get to make sense without broader architectural changes. I don't really like the problem framing in this issue, so I'm going to close it, it's mostly replaced by other ones now.

[2019-03-14 12:14] #867 closed, assigned to nobody

[2019-03-14 12:15] ryanpetrello commented on #3415
cc @docschick @sshedmake

[2019-03-14 13:17] AlanCoding commented on #3387
I get better where you're coming from now.

Yikes, to be honest this was completely the intent. That is how we are using it now for our own testing purposes. Beyond that, I don't expect that every Ansible release will have every inventory plugin bug free. I am far too familiar with the process of getting tracebacks from the inventory plugins and then going bug hunting. I fully expect that switchin

[2019-03-14 13:55] L1ghtman2k commented on #2268
Thanks! it worked!

[2019-03-14 15:20] batemanst opened #3418 "Challenges scaling PostgreSQL to higher instance counts"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
I'm running into challenges getting AWX scaled up in Kubernetes to higher instance counts, specifically that it is overwhelming our PostgreSQL 9.6 external database with connections. Our target instance count is 16, and we're seeing PostgreSQL connection counts climbing the hundreds until we hit `max

[2019-03-14 15:30] Dagon- commented on #3258
Seeing the same thing across multiple browsers (vivaldi, firefox, chrome) and systems after update to 3.0.1 from 2.x.

[2019-03-14 15:57] losil opened #3419 "Add python-ldap module to awx images"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - AWX Task

##### SUMMARY
I am using ldap lookups in my playbooks. Like this: https://github.com/quinot/ansible-plugin-lookup_ldap
This method is failing because the python-ldap module is missing.

Can you build the awx docker images with this python-ldap module?

[2019-03-14 16:16] wenottingham commented on #3387
Yeah, I can see that. My concern is that built-in source + inheritied custom venv is an accident waiting to happen.

[2019-03-14 16:21] AlexSCorey opened #3421 "Inventory Groups Columns Aren't Readable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Columns all messed up.  Can't read their contents

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker for mac
* Ansible version:  2.7.5
* Operating System:Mac OS
* Web Browser:Chrome

##### STEPS TO REPRODUCE

In inventories --> click on an inventory then --> Groups.  The columns with the actions, and group

[2019-03-14 16:31] sumkincpp commented on #3421
Isn't this the same as #3158?
The corresponding fix was merged after 3.0.1 release.

[2019-03-14 17:01] wwitzel3 commented on #3387
I agree with what @AlanCoding is proposing above.

[2019-03-14 17:13] fredgate commented on #1855
I have still this issue with awx 3.0.1.0. I can not save LDAP settings if I fill the `member_attr` field of `AUTH_LDAP_GROUP_TYPE_PARAMS`.
The only messages that appear in logs are:

I think that this issue should be reopened.

[2019-03-14 19:25] wenottingham commented on #3415
Please send a new PR if the translation needs corrected.

[2019-03-14 19:26] wenottingham commented on #3414
This is expected behavior with how the rrule parsing library works. Yes, it's a bit weird, but it's not worth us reimplementing the entire stack for this.

[2019-03-14 19:26] #3414 closed, assigned to nobody

[2019-03-14 19:31] unlikelyzero commented on #3255
@jlmitch5 is this ready for a `needs_test` label?

[2019-03-14 19:44] kdelee commented on #3826
@wenottingham @jladdjr and I met today.
One question that came up is:

- How does this get turned on/off? What granularity? On job launch, job template, system wide?
- @one-t also pointed out this could cause significant database bloat of on all the time as it may double size of each job event
- As a user, I would mostly want to see this if I was actively developing or debugging a playbook. It wou

[2019-03-14 20:00] #3395 closed, assigned to AlexSCorey

[2019-03-14 20:02] wenottingham commented on #3826
Initial idea was a global (system-wide).

I could see it at a per-JT level, but it's not required.

[2019-03-14 20:56] kdelee commented on #3826
Talking with @chrismeyersfsu :

1) Setting should be system wide
2) Stats should not show with each task, and this would be extra work to do. "It should just do the right thing"
3) We might need to do UI work to make summary at bottom "pretty"
4) Not concerned about growth in job event size for DB

[2019-03-14 21:02] sivel commented on #3826
The recap output by the `cgroup_perf_recap` plugin can be disabled.  I'd imagine if the data is being collected with `write_files`, and displayed in some nice visual way, that the recap wouldn't be necessary.

[2019-03-14 22:01] jladdjr commented on #3826
👍

@chrismeyersfsu - @matburt and I synced up about this earlier and he had asked for per-task profiling information in the job events. Can you say more about your thoughts on having the stats for the entire playbook run?

As written, the perf callback plugin writes the profiling information to a set of files, but doesn't put any information in job events. Here's how I'm currently handling that:
h

[2019-03-14 23:24] sugitk commented on #3414
Thank you for your review and comment. I understood it.

[2019-03-14 23:30] sugitk commented on #3415
Thank you, I've created a PR

[2019-03-14 23:41] jamesmarshall24 opened #3427 "Include Host_filter OR Logic in Smart Inventory UI"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

[Smart inventory](https://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html#smart-inventories) host_filter is currently set AND. Add ability to allow OR set for host_filter.

[2019-03-15 08:59] fredgate commented on #1914
The commit 7610c66 improve the user interface and user experience. It is fine, but  but it does not solve the problem. We can not save LDAP settings when `AUTH_LDAP_GROUP_TYPE_PARAMS` is defined with a `member_attr` field. If `AUTH_LDAP_GROUP_TYPE_PARAMS` is set to `{}` all works fine.
I still have this issue in AWX version 3.0.1.0.

[2019-03-15 09:29] fvanraem commented on #2905
This will be problematic for access control.

People may have read access to a project in AWX, but not have access to the git repository at all.
Presenting them with the contents of the repository would be a security breach.

[2019-03-15 09:58] benapetr opened #3428 "New option -> relaunch job with different verbosity"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
Make it possible to relaunch job with higher verbosity for debugging purposes. If job fails on few hosts and you need to see more verbose output this would be great thing.

[2019-03-15 10:05] benapetr opened #3429 "Make it possible to replace \n with actual new lines in job output"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
When you launch job with higher verbosity lot of output will have this format:

[code]

This would be far more readable if GUI replaced \n with new lines so that instead of one massive line you can see normal output

[2019-03-15 13:02] AlexSCorey commented on #3348
Host descriptions will be added in future releases.

[2019-03-15 13:12] akamalov opened #3430 "Dynamic Inventory in AWX Using Azure Resource Manager as a Source"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

Trying to configure Dynamic Inventory in AWX against Azure environment

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.8
* Operating System: CentOS7.4
* Web Browser: Chrome 70.0.x
* cURL: 7.63.0

##### STEPS TO REPRODUCE

1. Create Azure Credentials
2. Create Inventory

[2019-03-15 13:13] AlexSCorey commented on #3358
Issue cannot be reproduced.

[2019-03-15 13:13] #3358 closed, assigned to AlexSCorey

[2019-03-15 14:04] AlexSCorey commented on #3421
Updating awx version for this issue as I'm still seeing it.
[code]

[2019-03-15 14:06] wenottingham commented on #2905
How so? If it's a redirect to the source control hosting site, they wouldn't be able to see anything they couldn't already.

[2019-03-15 14:06] unlikelyzero commented on #3421
I spoke with @AlexSCorey and I think this is either directly caused by #3158 or is another symptom of the root cause (bootstrap upgrade).

@mabashian if you don't mind, could we do a root cause? I'm curious to know if it was a regression caused by #3158 or by the bootstrap upgrade itself

[2019-03-15 14:33] ghost opened #3431 "Limit feature for Workflow Templates API endpoint"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
 - Ability to pass `limit`to `/api/v2/workflow_job_templates/{id}/launch/`, like we can when sending a post to `/api/v2/job_templates/{id}/launch/`

##### ADDITIONAL INFORMATION

I've noticed a couple similar, yet not quite identical requests come through before, specifically issues #[501](https://github.com/ansible/awx/is

[2019-03-15 14:49] fvanraem commented on #2905
I'm interpreting the above bit as AWX being in charge of the display part.

Bob does not have access to $GITREPO.
Annie creates a project in AWX pointing to $GITREPO and grants read access to the project for Bob. (or use access - more likely - Bob will be able to create JTs and still does not need to have any access to $GITREPO since the vcs credential takes care of syncing)
If AWX somehow fetches

[2019-03-15 15:01] miroslavKovacPantheon commented on #3406
+1

[2019-03-15 15:39] wenottingham commented on #3431
This is more part of #1731

[2019-03-15 15:39] #3431 closed, assigned to nobody

[2019-03-15 15:55] gamuniz opened #3432 "Allow the use of the same job template name across multiple orgs(multi-tenancy)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Please allow the use of the same job template name across multiple organizations. This should allow for better use of multi tenant environments.

##### ADDITIONAL INFORMATION
Currently the name field is unique across the entire Tower/AWX installation.

[2019-03-15 16:17] mchipana94 commented on #3406
Same problem

[2019-03-15 17:58] batemanst commented on #3418
It's possible my expectations are out of whack based on Celery's stated behavior of opening a DB connection per worker process. Presumably that means AWX would open one DB connection per fork, if I understand correctly. That could mean thousands of connections required for large instances, say 8 cpu/16 GB mem with ~100 fork capacities.

How does Tower scale out to 20 maximum nodes? I feel like tha

[2019-03-15 18:08] matburt commented on #3406
The no_log there is hiding the details of the error, it's likely that you don't have `helm` installed which is required by that step, see:

https://github.com/ansible/awx/blob/devel/INSTALL.md#prerequisites-2

[2019-03-15 18:08] #3406 closed, assigned to nobody

[2019-03-15 18:27] dsesami opened #3434 "Form validation for EC2/custom scripts requires credentials in some situations, despite credentials being optional"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When switching to EC2 after going through form validation for another type of credential, the form validation error check for credentials still persists even though the field
##### ENVIRONMENT
* AWX version: <  AWX 3.0.1-283-g59b551625  >
* AWX install method: docker for mac
* Ansible version:  2.7.8
* Web Browser: Chrome

#

[2019-03-15 18:27] dsesami commented on #3434
Marking low priority as the user can recover from the bug by refreshing.

[2019-03-15 18:45] kdelee commented on #3387
I'm for this most recent proposal!

Sounds like we still need the drop down on the UI

[2019-03-15 18:58] ghost commented on #3406
Hi @matburt ,

Even after installing the helm, we still have issue :

[code]

[code]

[2019-03-15 21:46] rooftopcellist opened #3825 "OAuth2 manage commands don't delete all tokens"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Refresh tokens aren't being cleaned up by the `cleartokens` command after being revoked.

The `awx-manage cleartokens` command does not delete revoked refresh_tokens, letting them pile up in the database.

Possible Solutions
A. Get a patch in for DOT 1.1.3 and see if they can release a patch release.  (this is fixed in 1.2

[2019-03-15 23:37] jladdjr commented on #3826
Update:
(tldr): the way I adopted the perf callback plugin (having it support runner's BaseCallbackModule) is leading to duplicated job events. AWX's serializers only expect one copy of the job events (e.g. [here](https://github.com/ansible/awx/blob/devel/awx/api/serializers.py#L1489)) so that won't work. Think that instead I should go with what was initially discussed on the ticket and have BaseC

[2019-03-15 23:53] jladdjr commented on #3826
@sivel - the perf plugin doesn't [close out the files](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/callback/cgroup_perf_recap.py#L402) with the profiling data until `v2_playbook_on_stats` is called. Is there any reason why the files couldn't be closed out after the task finishes?

We'd like to be able to collect the profiling information for each task as soon as we generate t

[2019-03-16 07:20] coom commented on #2385
Finally found what cause the issue.

There is an AWX logs that keeps growing :

[code]

It contains some stuffs about AWX :

[code]

Why this log is not flushed/rotated correctly ?

[2019-03-16 16:51] L1ghtman2k commented on #248
I have the same issue,
When I click on 'UPDATE ON PROJECT CHANGE', it throws me this error:

[code]
The workaround:
First update the project, then sync the inventory, then launch the template

[2019-03-16 18:12] Dagon- commented on #3380
Sounds like you haven't correctly created the role in postgres.

We're using azure postgres with awx (and a number of other applications). Logging in as role@host works as expected.

[2019-03-17 02:12] AlanCoding commented on #3430
I have tested the group_by, the resource group filter, and using the private IP. All of these work by my testing.

This looks like a hybrid of the config file format (`group_by_location=yes`) and JSON (`"group_by_location": true`). My best shot at troubleshooting your problem would be to assure that the server displays your inventory source source_vars in the latter format. In the UI, you should b

[2019-03-17 11:24] akamalov commented on #3430
Thanks Alan. I will hive it a try.

On Sat, Mar 16, 2019, 10:12 PM Alan Rominger <notifications@github.com>
wrote:

[2019-03-17 19:09] Aylard commented on #3380
@Dagon- thanks for reply.
AWX is starting and working normally, but nevertheless this line in startup log exist and I wonder why :)

[2019-03-18 00:19] pjmcquade commented on #810
Has this been resolved?  I see this occuring for me:

Ansible Tower v3.4.2
Core:
ansible 2.7.8
  config file = /home/a769/.ansible.cfg
  configured module search path = [u'/home/a769/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default,

[2019-03-18 03:13] sugitk commented on #810
@pjmcquade  I also reproduced the issue.

[2019-03-18 11:32] AlanCoding commented on #810
That's not the same error, it is trying to tell you that `--inventory "test-inventory"` is not something you and provide for that job template because it has not set `ask_inventory_on_launch`.

[2019-03-18 11:34] AlanCoding commented on #810
wait, inventory sources cannot do that. So inventory update schedules just never take the inventory parameter. Inventory sources are tired to the inventory they are part of. There is no need to specify that inventory a second time when creating a schedule.

[2019-03-18 12:57] RogerSik opened #3436 "Text field in Groups, etc should be resizable"
Text field in Groups, etc should be resizable

Current situation:
![2019-03-18 13_52_59-Ansible AWX _ AWS](https://user-images.githubusercontent.com/165814/54531455-9fae7780-4985-11e9-8e5a-38bb6dfdecf5.png)

Desired situation:
![2019-03-18 13_53_40-Die besten WordPress-Blogs 2017 · Elbnetz-Blog](https://user-images.githubusercontent.com/165814/54531494-bb198280-4985-11e9-98f2-811215614427.png)

[2019-03-18 13:24] ryanpetrello commented on #3180
related: https://github.com/apache/libcloud/pull/1280

[2019-03-18 13:37] benapetr opened #3437 "Extra variables field should be resizeable"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
Right now you can't resize the text area:
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/1560121/54533795-4cd7be80-498b-11e9-910e-7aa95487de6c.png">

[2019-03-18 13:43] elyezer commented on #3022
@mabashian I find myself pressing enter whenever I change an input field and it is annoying that anything happens.

[2019-03-18 13:45] AlexSCorey commented on #3361
This issue was addressed by PR https://github.com/ansible/awx/pull/3417

[2019-03-18 13:45] #3361 closed, assigned to AlexSCorey

[2019-03-18 14:01] benapetr opened #3438 "UI should display reason for inherited privileges"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
Right now when you open permission tab, you often see mysterious users with some privileges and you have hard times understanding why they have them - it would be epic if UI told you the reason, like some ? icon which if you hovered on, displayed something like "User is admin because they are admin of organization

[2019-03-18 14:05] sivel commented on #3826
@jladdjr that is likely an oversight. The original implementation did not allow for a file per task, that was added later.  If it is only closing in `_on_stats` then that is a bug.  It should likely be happening in `_profile`

[2019-03-18 14:19] sivel commented on #3826
I've opened a PR to address that: https://github.com/ansible/ansible/pull/53961

[2019-03-18 15:42] elyezer commented on #3001
I am assigned as the API Test Owner for this feature.

[2019-03-18 17:02] jladdjr commented on #3826
@sivel - awesome, thx!

[2019-03-18 17:33] wenottingham commented on #3438
I assume this is for non-revokable privleges?

[2019-03-18 17:34] wenottingham commented on #3437
Which specific area are you looking at? (see https://github.com/ansible/awx/issues/1268)

[2019-03-18 18:22] kdelee commented on #466
~@dsesami we are going to want a toggle on the jobs settings page to enable/disable stats collection~

[2019-03-18 19:12] jladdjr commented on #3826
@dsesami - quick note that we're planning on adding a toggle on the jobs settings page to enable/disable playbook profiling (CPU, Mem, PID count)

[2019-03-18 19:12] jladdjr commented on #466
@kdelee - sounds like you're talking about https://github.com/ansible/tower/issues/3223

I re-posted a similar comment on that ticket

[2019-03-18 19:27] akamalov commented on #3430
Hey @AlanCoding , thanks yet again for your reply. Tried it first thing today.

Extra Variables:
[code]
For some reason, Ansible not detecting a tag (already created on each VM instance) - ```zkid```. I am pretty assigning key/value for zookeeper_id. The tag ```zkid``` is defined with VM instance.

[code]

However, when my playbook executes, it has to initialize zookeeper where it references ```zo

[2019-03-18 19:57] jladdjr commented on #3826
On second thought, think there's a way to just collect the profiling information from the files that get created. That sounds a bit simpler, going to give that a shot.

[2019-03-18 20:00] AlanCoding commented on #3430
This isn't quite `devel`, but only a checkbox is different:

![Screen Shot 2019-03-18 at 11 17 10 AM](https://user-images.githubusercontent.com/1385596/54559546-a72a4c80-4996-11e9-8574-8dcdfbc6bc08.png)

It looks like you're trying to set this up for a _job_ run, which will not work right. AWX is designed so that you run an inventory import (by creating an inventory source and updating it), which

[2019-03-18 20:04] benapetr commented on #3438
Of course, explicitly granted privileges are not inherited from anything I suppose

[2019-03-18 20:05] benapetr commented on #3437
Job template definition

[2019-03-18 20:05] benapetr commented on #3437
If you edit any job template

[2019-03-18 20:17] akamalov commented on #3430
Thanks so much @AlanCoding  for quick response. I actually have a source setup with variables defined and 'update-on-launch' configured:

![image](https://user-images.githubusercontent.com/7885257/54560445-c0cc9380-4998-11e9-934f-1b4e361a8645.png)

Again, it correctly identifies resource group,  ```zookeepernodes``` does everything it supposed to do, except, the tag assignment for ```zookeeper_id`

[2019-03-18 20:25] kdelee opened #3444 "Notification templates return BadRequest if no timeout provided"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

Attempting to create notification template through API gets BadRequest if no timeout provided

##### ENVIRONMENT
* AWX version: devel
* AWX install method: docker on linux

##### STEPS TO REPRODUCE

Attempt to create notification without timeout but with all other fields

##### EXPECTED RESULTS
Default timeout is provided

[2019-03-18 20:42] kdelee commented on #3444
@ryanpetrello sounds like we are hemming and hawing about maybe accepting this change.

Last question is, does this require some kind of migration? How will this effect current notifications (e.g. you had one, then you update, what happens?)

[2019-03-19 00:08] AlanCoding commented on #3430
The closest thing we have to documentation for what you're trying to do would be at:

https://github.com/ansible/awx/blob/358ad05e51ac16124e7c960bcf7ceb0a52e0b011/awx/plugins/inventory/azure_rm.ini.example#L9-L10

If you compare to my example:

https://github.com/ansible/awx/blob/358ad05e51ac16124e7c960bcf7ceb0a52e0b011/awx/plugins/inventory/azure_rm.ini.example#L19

[code]

I'm using the same key

[2019-03-19 01:49] sugitk opened #3445 "RFE: Select an inventory when provisioning callback is invoked"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

The customer of Tower has multiple inventories that run the same playbook. They would like to boot a system from any inventory, and have it call back to Tower, and update it's corresponding inventory and provision based on userdata.

##### ADDITIONAL INFORMATION

[2019-03-19 08:17] piroux commented on #1206
I second @ghost, this feature would be really useful.
I do believe that `wait_for` would be imperfect as it will use AWX resources (for a running job template) for polling so that it would not scale well if used for all workflows to run at the same time.

I was thinking that maybe, rather than having this "Approval feature" as a Workflow feature only, having it placed at the Job Template level wou

[2019-03-19 09:35] fredgate commented on #3407
I found the problem.
It occurs when `AUTH_LDAP_GROUP_TYPE` is set to `PosixGroupType` and `AUTH_LDAP_GROUP_TYPE_PARAMS` is not set so initialized by AWX to default value `{"name_attr": "cn", "member_attr": "member"}` which is not valid for this type.
AWX want to prepare a message that it can not format when locale is french.
Since I explicitly set the `AUTH_LDAP_GROUP_TYPE_PARAMS` to `{"name_attr"

[2019-03-19 12:25] ryanpetrello commented on #3407
@fredgate,

I'm struggling to explain why your French locale would matter, as the line where the error occurs isn't a string that we translate:

[code]

https://github.com/ansible/awx/blob/3d9a47f0d90f57e0bf2cafdd1bc421d423e655f3/awx/conf/settings.py#L430-L432

[2019-03-19 13:00] benapetr opened #3446 "Make it possible to specify limit for workflow jobs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
Right now you can only specify inventory that you want a workflow to run with, there is no way to create a limit for subset of servers that workflow is going to run for

##### ADDITIONAL INFORMATION

[2019-03-19 13:18] ryanpetrello commented on #3444
@kdelee @beeankha I think this is a legitimate concern that _probably_ will cause issues at upgrade time, and I think the best way to resolve this is to copy the approach taken by *other* notification backends for *optional* parameters.

Here's a good example:

[code]

Notice that the Slack backend **does not** specify `hex_color` in its `init_parameters`, and as a result, they're not *strictly re

[2019-03-19 13:31] cippaciong commented on #3267
I'm having the same problem described by @AdrianDutu (almost identical setup but I'm using docker-compose instead of Kubernetes).
I don't know if this is a relevant info but the problem comes up on a playbook where I added `127.0.0.1 ansible_python_interpreter='/usr/bin/env python3'` in the inventory

[2019-03-19 14:31] #3155 closed, assigned to kialam

[2019-03-19 14:36] akamalov commented on #3430
Thanks for your response @AlanCoding. Unfortunately, it's not picking up tags. Here are the details:

In AWX, under source, I've defined the following source vars:

[code]

In job template, the following variables have been defined:

[code]

My ZooKeeper init.yml file contains the following:

[code]
Next, running the script yields the following error:

[code]

Regarding prefixing with ```AZURE_```

[2019-03-19 18:03] wenottingham commented on #3445
If the system knows what inventory it's in, why could it not just call the appropriate callback template?

[2019-03-19 18:05] wenottingham commented on #3446
-> #1731

[2019-03-19 18:05] #3446 closed, assigned to nobody

[2019-03-19 18:05] AlanCoding commented on #3430
You should be able to view the hostvars for one of the imported hosts. Why can't you remove `tags: "zookeeper_id:zkid"` from the job template (it confuses the issue) and reference `{{ tags['zookeeper_id'] }}` in the playbook?

Because I can do test imports, I am quite sure of the data structure in hostvars, which is `"tags": {"zookeeper_id": "value"}`. If what you need from this is "value", then t

[2019-03-19 18:13] kdelee opened #3448 "When host and group share name, group steals hostvars from azure_rm inventory update with script"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

If a host and a group share a name and an inventory update is made with a script, the host ends up with no hostvars and the group gets the hostvars that were meant to be associated with  the group.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2doc

[2019-03-19 19:10] #3258 closed, assigned to AlexSCorey

[2019-03-19 19:53] AlanCoding commented on #3448
The error text from this case is

[2019-03-19 20:12] ryanpetrello commented on #3180
FYI libcloud now no longer uses PyCrypto (https://github.com/apache/libcloud/pull/1280); once a new release lands on PyPI, we'll update AWX's dependencies.

[2019-03-19 20:13] AlanCoding commented on #3448
Link https://github.com/ansible/ansible/pull/54060 as a way to restore the requested bug.

[2019-03-19 20:41] ryanpetrello commented on #2385
Because awx doesn't make any decisions about this for you, especially under native Docker.

If you're using native Docker container, look into https://docs.docker.com/config/containers/logging/configure/ to set up log rotation.

Specifically, check out `max-size` in the `log-opts` at https://docs.docker.com/config/containers/logging/json-file/

[2019-03-19 21:57] asaffx commented on #3304
Hi,
I am seeing this problem.  today 3/19/2019 EST, this stopped working.  This was working as of yesterday 3/18/19 EST.

something change?

[2019-03-19 22:22] ghost opened #3450 "Better handling of symlinks in project directory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
We have a project that's shared between all facets of our organization, and looks somewhat like the following

[code]

Ansible core will be able to safely call `ansible-playbook _mpls/shared/pb.provision.yml`, but Ansible AWX does not handle the project's symlink in the same manner, leaving us with the shared playbooks onl

[2019-03-20 03:08] AlanCoding commented on #3141
@wenottingham this issue was filed with the understanding that instance_id would be relied upon as users switched compatibility mode off.

Since we are going in the direction of strict enforcement of host names, it's not a blocker for shipping the inventory plugins, so I will downgrade priority here.

[2019-03-20 12:14] paramunix commented on #1125
The issue is due to Ansible targets not present in /etc/hosts of "awx_task" docker container. As awx is installed within the containers, it cannot see the /etc/host of the host OS.
You can install AWX again with alternate DNS server entries or do the following :-

-- Check awx containers from your base OS
  docker ps

--Login to the "awx_task" container and add all your ansible targets in the /etc

[2019-03-20 12:24] akamalov commented on #3430
@AlanCoding . You were absolutely right! I had to remove that ```tags: "zookeeper_id:zkid"``` completely and just simply reference it as you told (i.e., ```{{ tags['zookeeper_id'] }}```.

Thank You So Much for helping me troubleshoot it!! You rock!!!

[2019-03-20 12:24] #3430 closed, assigned to nobody

[2019-03-20 13:22] keithjgrant commented on #3437
I just finished a lot of prep work for this under #3209: the `<at-code-mirror>` directive supports the popout view with a much larger text area. The next steps will be to figure out how to incorporate the "prompt on launch" checkbox with this directive and change forms with extra variables fields to use the directive.

[2019-03-20 16:15] msilmser opened #3454 "RFE: Allow deeper RBAC LDAP mapping"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Enable enhanced RBAC LDAP mapping for the drilled down org admin roles such as project admin, workflow admin, etc.

[2019-03-20 18:01] wenottingham commented on #3454
-> #576

[2019-03-20 18:01] #3454 closed, assigned to nobody

[2019-03-20 18:08] pkaramol opened #3456 "Custom module fails in async mode succeeds in non-async"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

When running a task in `async` mode it fails with `504` __Gateway Timeout__ error. The same task without `async`, finishes normally.

##### ENVIRONMENT
* AWX version: 3.0.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: Ubuntu 16.04.6 LTS
* Web Browser: N/A

##### STEPS TO REPRODUCE

[2019-03-20 20:07] unlikelyzero commented on #3300
@AlexSCorey usually we put these into `needs_test` after merging the PR

[2019-03-20 20:42] kdelee commented on #466
@jladdjr woopsy, you are right

[2019-03-20 21:15] rooftopcellist opened #3824 "Add Perf Stats Times Stats to Analytics"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

Mainly, we would like insights to be able to answer the question: "Are there anomalies in automation time for certain hosts, or certain playbooks?"

The performance plugin work @jladdjr has been working on will give us insight on how long each task runs for, which should be useful for this.  We need to identify only the

[2019-03-21 13:33] AlanCoding opened #3461 "Fallback instance_id values for inventory imports"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Right now, an inventory source type can only have one instance_id value.

This issue is to allow a list of values for instance_id, where it will find the identifier by looking at the first one, and the falling back to the 2nd, 3rd, etc.

##### ADDITIONAL INFORMATION

The reason is that the inventory plugins have changed t

[2019-03-21 13:52] keithjgrant commented on #4213
I’ve heard good things about date-fns, which is lighter weight and operates on the native Date type. Smaller bundle size (only imports what you use) + better performance by the benchmarks I've seen.

https://date-fns.org/

[2019-03-21 14:00] Geartwo commented on #631
The problem in both cases is that your proxy_pass have no `/` at the end.
It loads `http://localhost:8080static` in background and because of that you get an error.

[2019-03-21 14:05] sumkincpp opened #3462 "UI: Opened survey gets closed when other job is running"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Opened survey gets closed when page gets an update in background about running jobs.

##### ENVIRONMENT
* AWX version: 1.6.49
* AWX install method: docker

##### STEPS TO REPRODUCE

1. Open Survey in 1 Tab
2. Run job in 2 Tab
3. See that after background update of first Tab, survey on this tab gets closed

##### EXPECTED RES

[2019-03-21 14:10] jakemcdermott commented on #4213
I'm also curious to see how much of what we need can be done using the native `Date` type. It's very likely we have some gnarly formatting / TZ problems that we would want to use a library for but we should verify that is true with a little exploration first.

- How many places show dates / times on the organizations view?
- Of those places, what are the formatting differences + timezone considera

[2019-03-21 14:21] kialam commented on #4213
The Scheduler part of the app also formats a set of 'timzoned' dates as [`rrule`](https://github.com/jakubroztocil/rrule) to be sent back to the API.

I am in favor of using moment.js for its ease of use and extensive documentation.

[2019-03-21 14:44] keithjgrant commented on #4212
Relevant: React is expecting to add Suspense for data fetching to their API mid-2019: https://reactjs.org/blog/2018/11/27/react-16-roadmap.html#react-16x-mid-2019-the-one-with-suspense-for-data-fetching

I don't know if we can wait that long before implementing this, but it's worth keeping an eye on

[2019-03-21 14:57] IPvSean opened #3463 "UI: collapsed left-hand menu helper text will not disappear sometimes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
when the hamburger menu is collapsed it is fairly easy to get the helper text to stay (see attached screenshot)

##### ENVIRONMENT
* AWX version: N/A
* Tower 3.4.1
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker N/A
* Tower install method: RHEL 7.4
* Ansible version:  Ansible 2.7.8
*

[2019-03-21 16:33] AlexSCorey commented on #3300
@unlikelyzero oh ok.  So are you going to test it?  What is the process after it passes the tests?  Who closes the issue, am I informed of what needs to be changed/improved upon etc?

[2019-03-21 16:55] fedelemantuano opened #3467 "AWX doesn't run scheduled job"
##### ISSUE TYPE
I can't understand why AWX doesn't start all scheduled jobs.

##### COMPONENT NAME
 - awx.main.tasks

##### SUMMARY
AWX works well, start all job template but sometimes happens that it doesn't spawns jobs from a scheduling.
I don't see errors logs or othor errors around scheduling time.
I can't reproduce the error, but after docker container restart, the scheduling works.

##### E

[2019-03-21 18:08] felipecafu95 commented on #1898
@shivam99aa thanks friend. Worked for me too!

[2019-03-21 18:33] mencarellic opened #3470 "Inventory Sync Job With RDS Instances Fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When syncing an inventory sourced from Amazon with RDS instances, the job fails with a duplicate key error. This only seems to occur for RDS instances when no RDS instances are present in the inventory. EC2 and Elasticache instances work appropriately.

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on l

[2019-03-21 20:19] kdelee opened #3472 "RFE Enable aws_ec2 inventory plugin for ansible 2.9+"
##### ISSUE TYPE
 - Feature Idea

Breaking out final acceptance criteria for aws_ec2 plugin because won't ship with first PR for https://github.com/ansible/awx/issues/171

##### COMPONENT NAME

 - API

##### SUMMARY

We want parity when using Amazon EC2 inventory source between scripts and plugins for:
- hostvars
- default grouping + group names that are generated by it
- group_by options _ group

[2019-03-21 20:37] rooftopcellist commented on #3824
@jladdjr's Perf Feature collects peak CPU, Memory and PID data about each task in a playbook and adds it to the associated JobEvent on a field currently called `resource_profile`.  The JobEvent for the `playbook_on_stats` callback holds a "high watermark" for the peak cpu and mem for the whole playbook run.

For Analytics, this will mean adding this field to the main__jobevents table copy.
[code]

[2019-03-21 22:31] stoleas commented on #2086
@bradynathan

[2019-03-21 22:56] b-t-927 opened #3473 "Postgres regularly corrupts data"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Postgres

##### SUMMARY
Postgres regularly (every week or so) corrupts its database, causing an internal server error in AWX frontend

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.6
* Operating System: Centos 7.5
* Web Browser: Google Chrome
* Docker version: 18.09.3

##### ACTUAL RESULTS

[2019-03-22 01:30] unlikelyzero commented on #3463
I know that this is a dupe but may be so old that it doesn't exist in awx/tower issues

[2019-03-22 01:33] unlikelyzero commented on #345
dun n dusted

[2019-03-22 01:33] #345 closed, assigned to jlmitch5, unlikelyzero

[2019-03-22 01:34] unlikelyzero commented on #345
@tvo318 @jlmitch5 no doc changes are necessary, correct?

[2019-03-22 02:35] sugitk opened #3474 "External logger interferes the live event performance"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

When external logger (like Splunk) is configured, it makes the live event performance be very slow.

##### ENVIRONMENT
* AWX version: Tower 3.4.2
* Operating System:  RHEL 7.6
* Web Browser: Chrome 73

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

A Tower customer re

[2019-03-22 07:09] submah opened #3475 "Unable to create ALB with AWX"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
Hello, I have written a playbook to create ALB on AWS. The playbook is working if i am executing it on directly on a Linux tty, but same playbook with AWX giving error as bellow.

AWX is not taking both the subnets simultaneously, it s taking subnet id one by one. Please suggest me in order to resolve th

[2019-03-22 08:22] fvzwieten commented on #3073
I have experienced the exact same thing. v3.4.1

[2019-03-22 08:32] fvzwieten opened #3476 "User has access to JOBS he has not run"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When user has USE permission on job template, it sees all jobs and thus job logging, survey data, etc, from all other users having access to this job template as well. This is seen as information leakage. Auditors and security officers do not like this. Users should see job info only for jobs it has permission to see. This i

[2019-03-22 09:22] Spredzy opened #3477 "Less friendly error message when requirements is missing from CustomVenv"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

Before commit https://github.com/ansible/awx/commit/8b2fc26219afa37f59260db743b1c275d6c93a94 `chrismeyersfsu/runnerpy3 ` if either `psutil` or `python-memcached` were missing from the custom virtual venv, a friendly message was displayed

  * `psutil is missing; /var/lib/awx/venv/ArtRippO4/bin/pip install psutil`
  * `py

[2019-03-22 09:42] gstorme opened #3478 "project_update waits until job is finished"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

We use a Git repository where we commit playbooks in, this Git repo is defined as a project in AWX.
Jobs are launched, using this project.
The "scm update options" are all disabled in the project settings.

Our flow compares the Git revision with the one of the AWX project, and triggers a project_update when it's differen

[2019-03-22 11:34] fedelemantuano commented on #3467
Hi,

I checked the error in docker logs and I can attach:

[code]

[2019-03-22 11:37] jainshagun opened #3479 "Workflow should allow to select survey question on the fly when that particular template is being started."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Workflow should allow to select survey question on the fly when that particular template is being started.
Currently survey question needs to be predefined/answered while creating a WF.
##### ADDITIONAL INFORMATION

[2019-03-22 11:43] jainshagun opened #3480 "WorkFlow: Child job is still being triggered even parent job is failed."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

In case of multiple parent job, if one is failing still child job is getting triggerd.
##### ENVIRONMENT
* AWX version: 3.0.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: linux
* Web Browser: Crome

##### STEPS TO REPRODUCE

create a workflow with 2 parallel jobs and point both jobs

[2019-03-22 12:21] #3477 closed, assigned to ryanpetrello, chrismeyersfsu

[2019-03-22 13:13] ryanpetrello commented on #3467
Looks like this might be some version of https://github.com/celery/celery/issues/3409

[2019-03-22 13:24] ryanpetrello commented on #3467
@fedelemantuano have you tried this on a more modern version of AWX?  We've since removed a *lot* of our usage of celery (due to problematic bugs like this one).

[2019-03-22 14:57] wenottingham commented on #3480
-> #3054

[2019-03-22 14:57] #3480 closed, assigned to nobody

[2019-03-22 14:59] wenottingham commented on #3475
This error is coming from the module itself; at a glance, it may be because of different boto versions between your commandline run and in AWX.

This is probably best discussed on the ansible-project mailing list.

[2019-03-22 14:59] #3475 closed, assigned to nobody

[2019-03-22 15:00] wenottingham commented on #3479
The goal of workflows is that they are fire and forget; there is not a mechanism for them to wait.

Perhaps this could be considered after #1206, but not before.

[2019-03-22 15:02] wenottingham commented on #3478
Because it's operating out of a single directory, and updating out from under a running job would be bad.

Will link to #282 ... until that is solved, there's nothing to do here.

[2019-03-22 15:02] #3478 closed, assigned to nobody

[2019-03-22 16:03] fedelemantuano commented on #3467
No, I didn't. Do you have best pratice to upgrade to new version without issues?
I know that it's almost impossibile.

[2019-03-22 17:22] awithrow9 commented on #3825
@rooftopcellist was this actually seen in production?

[2019-03-22 17:23] rooftopcellist commented on #3825
@awithrow9 This was seen by @gamuniz on a tower install.

[2019-03-22 17:48] wenottingham commented on #3825
Rephrase: was the fact that they are not deleted an issue that is causing pain, or just something we noticed in passing?

[2019-03-22 17:48] gamuniz commented on #3825
@rooftopcellist @awithrow9  they reported issues with token but i dont think this needs to be worked on now

[2019-03-22 17:50] wenottingham commented on #3825
punting to later where we can do django2.2LTS+django-oauth-toolkit-whatever and it magically(?) works?

[2019-03-22 17:52] gamuniz commented on #3825
wfm

[2019-03-22 18:45] #3180 closed, assigned to nobody

[2019-03-22 20:30] AlanCoding opened #3485 "Regression - inventory update events all created after job almost completely finished"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Inventory update events don't stream as update is running, only pile in one big blog around the time it finishes

##### ENVIRONMENT
* AWX version: devel, not released yet
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

###

[2019-03-25 00:31] spsingh1982 commented on #553
Any update on this? When is it getting delivered.

[2019-03-25 06:58] atotala opened #3486 "Not able to create the schedule with REST API"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

##### ENVIRONMENT
* AWX version: 3.0.0-92-gc79fe458c-4
* AWX install method: docker container
* Ansible version:  2.7.8
* Operating System: centOS
* Web Browser: Aany /POSTMAN

##### STEPS TO REPRODUCE
I am sending below body to create a schedule in AWX but I am not able to create
{
  "description": "Kubernetes Monitor",

[2019-03-25 09:39] jainshagun opened #3487 "Workflow does not allow to relaunch for failed templates."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
Workflow can have an option to re-trigger from the template it failed on. currently in case of failure workflow need to be re-triggered from the start for those templates as well which already ran successfully.

##### ADDITIONAL INFORMATION

[2019-03-25 14:26] wenottingham commented on #3486
Most likely, yes.

This tracker is for filing bugs/RFEs for AWX. This seems like more of a user issue; this is better discussed on the `awx-project` mailing list, or on the `ansible-awx` IRC channel. See https://github.com/ansible/awx/#get-involved for details.

[2019-03-25 14:26] #3486 closed, assigned to nobody

[2019-03-25 14:26] wenottingham commented on #3487
-> #1284

[2019-03-25 14:26] #3487 closed, assigned to nobody

[2019-03-25 14:55] fibbs opened #3489 "External logging (splunk) sends "job_events" only for some of the hosts per task, not for all"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
I am using the splunk external logging. I have noticed, that the "awx.analytics.job_events" events get sent to Splunk HEC only for some of the hosts (containing their results) and not for all of them.

Example, following job output in AWX UI:
[code]

In Splunk, I can do the following search:
[code]
...and I find 4 events:
-

[2019-03-25 15:35] kdelee opened #3491 "Suggested inventories from scm project filter out yml files that could be plugin configs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

Inventory plugins are configured via `.yml` or `.yaml` files. The UI hits the `api/v2/projects/<id>/inventories/` endpoint and this offers a filtered down list of files that could be used for inventories. While in the past it may have made sense to filter out yaml files, now it does not because that is how one uses invent

[2019-03-25 15:45] AlanCoding commented on #3491
Someone should virtually re-do this entire thing:

https://github.com/ansible/awx/blob/a2102c92ec70695b662ff3f1ca60285d5af88677/awx/main/utils/ansible.py#L69

When we wrote that we were very concerned with matching `.ini` files, and that's why we read some lines. We should get rid of that. I would suggest that a filename being _exactly equal to_ "hosts" or "inventories" should be considered a hit.

[2019-03-25 15:52] AlanCoding commented on #3491
Also, let me ping @ryanpetrello and say that this is one of the cases where I would fully endorse the use of the test "data" directory for examples.

We are sure to already have some examples lying around. This feature probably needs some counter-examples as well, but I would like for those to be organized clearly in the file structure.

[2019-03-25 16:19] kdelee commented on #3491
having the `plugin` key is a good idea if we think we will never have but so many files to read, but may end up being costly if we open every yaml file and search for `plugin` in it everytime we do a project update :thinking:

[2019-03-25 17:05] dsesami opened #3492 "Sparkline shows two jobs when there is only one host, on a split job template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
cc @kialam
When a job template is launched, the sparkline on the dashboard  shows a green box blinking. When a split job template is launched, ideally it only shows the generated parent workflow job blinking on the sparkline. This is to avoid the sparkline being confusing for a large split job with several "joblets".

When t

[2019-03-25 17:37] AlanCoding commented on #3491
We have always done this for playbooks. For inventories (again, trying to identify config file formats without the extension), we also did it, but I limited the searching to the first 10 lines. That same argument can't exactly apply for plugins, because it's top-level structure is a dict, so you don't know where the key "plugin" will occur in the file. I would like to think that there's a certain

[2019-03-25 18:20] AlanCoding opened #3493 "Inventory update errors duplicated in stdout"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Inventory update standard out has duplicated content

##### ENVIRONMENT
* AWX version: right after ansible-runner merge
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create an inventory with an

[2019-03-25 18:25] ryanpetrello commented on #3824
Blocked until Analytics PR is merged.

[2019-03-25 19:02] wenottingham opened #3495 "virtual env not verified on launch against current list of virtual environments"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Followon of: https://github.com/ansible/awx/pull/3320

We do not verify the custom venv used on launch is actually a currently configured custom venv.

##### ENVIRONMENT
* AWX version: next (when 3320 is merged)

##### STEPS TO REPRODUCE

1. set a custom venv path
2. put some venvs in it
3. assign those venvs to things
4. r

[2019-03-25 19:06] ryanpetrello commented on #3495
https://github.com/ansible/awx/blob/devel/awx/main/models/unified_jobs.py#L1226 would be a good place in code accomplish this check at launch time.

[2019-03-25 19:11] shen3lu4 opened #3496 "tasks/main.yml pg_hostname setting wrong"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

The installation on Kubernetes failed due to a wrong parameter in roles/kubernetes/tasks/main.yml file.

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: kubernetes
* Ansible version:  2.4.0
* Operating System: Oracle Linux 7.4
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Checkout awx code tag 3.0.1.

[2019-03-25 19:11] wenottingham commented on #3495
Does that cover inventory updates too? (insert other-custom-venv-using places here as well)

[2019-03-25 20:35] ryanpetrello commented on #3495
@wenottingham it should, the `UnifiedJob` code should be shared across all the implementations.

[2019-03-25 22:18] ryanpetrello commented on #3496
cc @shanemcd

[2019-03-25 23:10] Testicule commented on #662
AWX version 3.2.1?? In Nov 2017?

I've just updated from git a few weeks ago, and i got awx 3.0.1.
What the hell?

[2019-03-25 23:30] ryanpetrello commented on #662
3.2.1 isn't an AWX version, it's a Red Hat Ansible Tower version (so this isn't really where this issue belongs).  This issue was filed right after Red Hat open sourced Tower as AWX (Fall 2017), hence the likely confusion over version numbers.

[2019-03-25 23:46] Testicule commented on #662
Ah. Ta for clearing up the confusions Ryan.

[2019-03-26 01:27] cundi commented on #2140
You're right, it missing certain files in direcory `pgdata/base/`

[2019-03-26 01:47] ryanpetrello commented on #173
It looks like there's a good chance a supervisor `4.0.0` (or `4.0.0rc`) will land in the next few weeks with official Python3 support:

https://github.com/Supervisor/supervisor/issues/1060#issuecomment-475972528

So our intention at this point is to *not* replace our usage of supervisor.

[2019-03-26 01:47] #173 closed, assigned to ryanpetrello, shanemcd

[2019-03-26 01:52] ryanpetrello commented on #3371
cc @matburt @rooftopcellist

[2019-03-26 03:51] rooftopcellist commented on #3371
Hi @AdrianDutu, it sounds like you really should be using an application with the `password` grant_type if you don't want to have a user logged in.

If you need to to use the authorization_code flow, but do not want to have to Authorize the token with a user logged in to tower, can set skip_authorization=False on that application.

Can you give me more information about your use case and your HTTP

[2019-03-26 11:25] AlanCoding commented on #3495
Yes, and at the unified job model level, there is an expectation that a property, `ansible_virtualenv_path`, will give the path. Even as we do https://github.com/ansible/awx/issues/3387, the implementation for this should not change.

[2019-03-26 12:27] #3392 closed, assigned to nobody

[2019-03-26 13:58] arnaudsaric commented on #3267
Ran into the issue as well using docker-compose.

There is indeed a weird mix of python 2.7 and 3.6: by default the `/var/lib/awx/venv/ansible` env uses python2.7 (and has the `enum34` package), and `/var/lib/awx/venv/awx` uses python3.6.

Project updates seem to use both environments at the same time: they are launched using `/var/lib/awx/venv/awx/bin/ansible-playbook` (therefore python3.6), but

[2019-03-26 14:05] ryanpetrello commented on #3267
@arnaudsaric @cippaciong @AdrianDutu ultimately, this comes down to an issue where `enum34` incorrectly installs in environments where it's not needed (python3), and pollutes the `enum` namespace with a package that doesn't work in python3 (and we have little control over it).  If this is causing you pain, please see my comment and chime in on this issue:

https://bitbucket.org/stoneleaf/enum34/pu

[2019-03-26 15:19] arnaudsaric commented on #3267
@ryanpetrello I don't think the PR you linked would change anything to the issue. The `enum34` package is installed in the `ansible` venv, which is built using python2.7. This PR only changes stuff for python >= 3.4.

The issue is this venv then gets used with a python3.6 interpreter...

[2019-03-26 18:03] lmfreitas opened #3504 "Changed - Notification"
##### ISSUE TYPE
 - Notification and Graph "Changed"

##### SUMMARY
Is there a way to register Changed in graph and in Notifications?

[2019-03-26 19:23] AlanCoding commented on #3113
This is implemented on our side now. It's waiting on Ansible upstream now.

Closing, since there is nothing else to do, tracked elsewhere.

[2019-03-26 19:23] #3113 closed, assigned to nobody

[2019-03-26 19:26] wenottingham commented on #3504
In graph? There is no graph.

Notification enhancements are mostly tracked here: https://github.com/ansible/awx/issues/79. Closing as a dup.

[2019-03-26 19:26] #3504 closed, assigned to nobody

[2019-03-26 19:52] kdelee commented on #171
Going to file issues for outstanding plugins we have strong intentions of picking up in upcoming release:
- [x] vmware https://github.com/ansible/awx/issues/3508
- [x] foreman/sat6 https://github.com/ansible/awx/issues/3509
- [x] azure (needs PR to enable, but fixes are landing in 2.8 as we speak) https://github.com/ansible/awx/issues/3506
- [x] aws_ec2 https://github.com/ansible/awx/issues/3472

[2019-03-26 19:55] kdelee opened #3506 "RFE Enable azure_rm inventory plugin for ansible 2.8+"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

Usage of azure plugin was not enabled with https://github.com/ansible/awx/pull/3266 because of this blocking issue in core: https://github.com/ansible/ansible/issues/54065

##### ADDITIONAL INFORMATION

This is getting merged ASAP so at this point we only need to wait for that to land and then make a follow up PR to ena

[2019-03-26 19:58] kdelee opened #3508 "RFE enable vmware inventory plugin for ansible 2.9+"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

Usage of vmware inventory plugin was not enabled with https://github.com/ansible/awx/pull/3266

We should work on getting this enabled in the future.

##### ADDITIONAL INFORMATION

We need to do more research about what differences there may be between script and plugin and get any fixes into ansible core before we can

[2019-03-26 19:59] AlanCoding commented on #3506
merged in core

Need

 - azure_rm enabled
 - set in config `plain_host_names: True`

I'll do it, but if someone else wants to instead, I'll walk them through it.

[2019-03-26 20:01] kdelee opened #3509 "RFE enable sat6/foreman inventory plugin for ansible 2.9+"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

Usage of sat6/foreman inventory plugin was not enabled with https://github.com/ansible/awx/pull/3266

We should work on this and enable it in the future

##### ADDITIONAL INFORMATION

We need to do more research about what differences there may be between script and plugin and get any fixes into ansible core before we c

[2019-03-26 20:29] kdelee commented on #3506
Person who implements this should confirm they can customize hostname and close https://github.com/ansible/ansible/issues/54065

[2019-03-26 21:50] ryanpetrello commented on #3267
@arnaudsaric I'll take a look soon and see if I can reproduce something.

[2019-03-27 08:44] MrMEEE opened #3511 "Cloudforms inventory script not updated to python3?"
Hi guys..

Seems like some of the plugin scripts (cloudforms.py for one), are not python3 compatible.. (fails with ConfigParser not being able to import, due to rename to configparser)..

Are these meant to be run in a python2 venv?

Regards

[2019-03-27 09:50] sumkincpp opened #3512 "Ansible runner in JT reports incorrect errors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Ansible runner(AWX 1.0.6.49) reports incorrect errors while running playbook.
Usually this are filter errors (even on ansible core filters).

But the actual error turns out to be in missing dependency in AWX filter/module in project(or in incorrect wrapping of this dependency).

In raw ansible run this is reported
1.

[2019-03-27 12:49] AlanCoding opened #3513 "Provide means of flipping Ansible config TRANSFORM_INVALID_GROUP_CHARS"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
In version 2.10, Ansible will implement a breaking change to group naming. Group names will be automatically renamed by default.

AWX may need some sort of strategy to deal with this.

##### ADDITIONAL INFORMATION

https://github.com/ansible/ansible/blob/d66f3de3dca5d23950c5889858f211da14bc4eb0/lib/ansible/config/base.yml

[2019-03-27 13:47] rsevilla87 commented on #3390
@wenottingham  This RFE is intented to allow an organization admin to manage teams (create/delete teams and associate/disassociate users from teams) but not to give him permissions to create local users in Tower/AWX.

[2019-03-27 14:08] Spredzy opened #3516 "Job cancellation does not work on isolated nodes with ansible-runner"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

When a Job tasked to be run on an isolated node is cancelled, the job keeps processing has if nothing had happen.

##### ENVIRONMENT

* AWX version: devel

##### STEPS TO REPRODUCE

1. Trigger a job (long-running one)
2. Cancel it
3. Run `ps fauxwww` or `ls -l /tmp` on the iso nodes

##### EXPECTED RESULTS

The job to be

[2019-03-27 14:22] #3516 closed, assigned to nobody

[2019-03-27 14:23] AlanCoding commented on #3511
Can confirm, in principle, this is trivially true looking at the code.

Upstream fix is needed:

https://github.com/ansible/ansible/blob/devel/contrib/inventory/cloudforms.py#L25

@kdelee @wenottingham

[2019-03-27 14:43] wenottingham commented on #3405
Use case here is a job that does orchestration across multiple networks - perform a configuration update to some internal service, then connecting to multiple nodes in different networks accessible via isolated nodes.

This can be put into a workflow, but it's very very clunky. Ideally would be able to do just do tasks on hosts and connect however is needed then.

[2019-03-27 14:44] wenottingham commented on #3405
This is also tied to https://github.com/ansible/awx/issues/286

[2019-03-27 14:45] niso120b opened #3517 "Installer on Kubernetes GKE - is Broken!"
- Bug Report

- Installer - the installer don't work on GKE,
**kubernetes : Wait for management pod to start**
Failed!

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: kubernetes
* Ansible version:  2.7.9
* Operating System:
* Web Browser:

[2019-03-27 14:49] kdelee commented on #3511
Ok going to file upstream bug for the script. Updated title to be a bit more clear about what component needs fixed.

[2019-03-27 15:00] unlikelyzero commented on #3421
Verified:
Group can be added
Group can be edited
Group can be sorted
No visual artifacts.
Found this defect: https://github.com/ansible/awx/issues/3522

[2019-03-27 15:03] kdelee commented on #3511
upstream bug: https://github.com/ansible/ansible/issues/54464

[2019-03-27 15:25] 6sossomons commented on #3511
Will also need to work on the urllib3 piece...

    7.638 ERROR    ansible-inventory failed (rc=1) with stdout:
stderr:
 [WARNING]:  * Failed to parse /opt/rh/rh-python36/root/usr/lib/python3.6/site-
packages/awx/plugins/inventory/cloudforms.py with script plugin: Inventory
script (/opt/rh/rh-python36/root/usr/lib/python3.6/site-
packages/awx/plugins/inventory/cloudforms.py) had an execution error

[2019-03-27 15:31] elyezer opened #3521 "Workflow node deletion activity stream does not link to workflow (and other workflow node activity stream weirdness)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
When a node is deleted on a workflow the link to the workflow is not shown on the activity stream, see the screenshot on the additional information section.

This should make https://github.com/ansible/awx/issues/2760 more complete since https://github.com/ansible/awx/pull/3447 is now merged.

##### ADDITIONAL INFORMATION

[2019-03-27 15:40] unlikelyzero opened #3522 "On Inventory Host Group view, sorting by groupname breaks All / Root group toggle"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
If on the Inventory Host Group view, sorting the groupname breaks the All / Root group toggle functionality.

Note: because this feature "barely exists" and this issue has no "consequences", I think that this is a low priority issue which does not need to make the major release.

##### ENVIRONMENT
* AWX version: 3.0.2

#####

[2019-03-27 15:53] wenottingham commented on #3513
We may just need to set it by default.

[2019-03-27 15:56] #3421 closed, assigned to nobody

[2019-03-27 16:02] wenottingham commented on #3390
What account source are you using that you require pulling all users for it but can't map teams/orgs?

[2019-03-27 16:22] Win32Sector opened #3526 "awx_task container doesn't work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
After ansible-playbook ended his job, task container doesn't works properly.

On version 2.1.2 works fine.

[code]

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: CentOS 7.6

##### STEPS TO REPRODUCE

1. Run ansible-playbook -i inventory insta

[2019-03-27 16:50] Win32Sector commented on #3526
When 3.0.0 version installing with ansible-playbook, I see
[code]
May be in 3.0.1 version ansible can't parse this variable?

[2019-03-27 16:52] shanemcd commented on #3526
Are you running the installer from master? If you are, then the issue you're hitting will be addressed by https://github.com/ansible/awx/pull/3525. In the meantime you should check out the git tag that corresponds to the docker tag.

[2019-03-27 17:50] shanemcd commented on #3526
The PR mentioned above has been merged. If you're using code from master you'll have to build your own image until we cut a new release (sometime later today).

[2019-03-27 17:50] #3526 closed, assigned to nobody

[2019-03-27 17:54] unlikelyzero commented on #3209
@ahuffman can you give me an example of the size/type of input you'd like to see? I'm testing this now

[2019-03-27 19:14] ahuffman commented on #3209
@unlikelyzero in some cases I have 10,000+ lines in that view, same for the fact view.  I need to be able to pop that window to full screen or similar to see the data more intuitively.  Right now I literally ctrl+a and ctrl+c the data and paste to a text editor so I can actually see it.

Imagine having something similar to a full `ansible_facts` dump in there and how hard that would be to view in

[2019-03-27 21:46] unlikelyzero opened #3530 "Relaunch JT hover-over text is displayed when prompt modal is displayed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Visual defect with hover-over text being displayed when a prompt modal is displayed

##### ENVIRONMENT
* AWX version: 3.0.1
* Operating System: MacOS 14.04
* Web Browser: Firefox 60ESR

##### STEPS TO REPRODUCE

1. Launch a prompted JT which will fail.
2. On Job Result Detail Screen, Relaunch job
Note: 'Relaunch Job' hover-o

[2019-03-27 21:54] unlikelyzero opened #3531 "On Job Results Detail, Error Detail Text isn't displayed when a JT Errors out until refresh"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Error Detail Text isn't displayed when a JT Errors out until refresh

##### ENVIRONMENT
* AWX version: 3.0.1

##### STEPS TO REPRODUCE
1. Create a JT which will error out (bad machine credentials)
1. Run JT and expect Error state
Note: No error details until refresh

##### EXPECTED RESULTS
Error Detail text after error resul

[2019-03-27 22:31] chanaka-jostle opened #3533 "SAML Authentication"
Hello,

I'm not sure if I can post this here but I assume it also impacts AWX.  I configured Tower to authenticate with OKTA via SAML . When I go to Tower's login page and click "Sign in with SAML" it functions correctly and takes me to Okta to sign in, then allows me into Tower after authenticating. However, If I initiate the process from OKTA by clicking the Tower app I setup, it doesn't work. I

[2019-03-28 00:48] ghost commented on #2462
@geauxvirtual @matburt @ryanpetrello @willthames @chouseknecht @fabianvf @flaper87 @maxamillion

Yes. Still its issue ... I manually created this playbook and try to execute the playbook. The Job runs with the system python in the container, which does not know where the modules are installed. ( Even though I run the AWX job with with ```ansible_python_interpreter: '{{ ansible_playbook_python }}'`

[2019-03-28 01:31] mujeebul76 commented on #3304
i had the same issue. but after trying for 4-5 days deleting and building all the containers fews didn't work but then after doing a #yum update . its all good now and working fine

[2019-03-28 09:57] fedelemantuano commented on #3467
I upgraded in stage environment from `1.0.7.2` to `3.0.1.0`, without issues. So we can close this issue for now.
If I'll have another error I'll open a new issue.

[2019-03-28 10:59] crossbill opened #3536 "Installation using docker compose is broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Installation using docker compose is broken

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: Ubuntu

##### STEPS TO REPRODUCE

ansible-playbook -i inventory install.yml

##### EXPECTED RESULTS

Successful installation

##### ACTUAL RESULTS

[2019-03-28 11:21] ryan012880 opened #3537 "Inventory Source using script in Source From Project not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Fresh install AWX 4.0.0 (pull official container from docker hub)
2. Configure an inventory using inventory source and sourc

[2019-03-28 11:35] crossbill commented on #3536
User error, hanging docker-compose.yml.j2 file from previous installtion.

[2019-03-28 11:35] #3536 closed, assigned to nobody

[2019-03-28 11:44] darviche opened #3538 "AWX does not work when setting a subpath"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.2
* Operating System: Redhat
* Web Browser: Google Chrome 73.0.3683.86 (Official Build) (64-bit)

##### STEPS TO REPRODUCE

Replace "/" location in the default nginx configuration file by :

location /app/ {

[2019-03-28 12:36] ryan012880 commented on #3537
I did a container rebuild and all is good, not sure what is the issue on the official container in docker hub though.

[2019-03-28 12:50] #3467 closed, assigned to nobody

[2019-03-28 13:13] #3537 closed, assigned to nobody

[2019-03-28 14:10] lmfreitas commented on #3504
![image](https://user-images.githubusercontent.com/24903244/55164265-443d7000-5163-11e9-8f16-b60e59f9f649.png)

[2019-03-28 14:18] arshantz opened #3541 "Unable to export job list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

When saving the list of executed jobs as PDF, the output only saves the first three jobs (even though there's 100 listed in the GUI.  I also tried installing tower-cli to do it that way, but I get compilation errors (separate issue).

##### ENVIRONMENT
* AWX version: 3.3.1
* AWX install method: rpm
* Ansible version:  2.7

[2019-03-28 14:18] lmfreitas commented on #79
Hi,
I was talking about this notifications and the graph in the dashboard for job status

![image](https://user-images.githubusercontent.com/24903244/55164392-7a7aef80-5163-11e9-927f-5a2e5abc1d83.png)

Could it be added a Changed Notification?

I use a playbook to update servers YUM plugin returns Changed, Failed and Success, most of notifications are Success so nothing has be looked upon, i have

[2019-03-28 14:40] MrMEEE opened #3542 "RPM Installation... Again"
Hi guys..

It's been over a year now, since I started doing the RPM installation of AWX.. I think it has become pretty stable and there seems to be quite a few people using it..

I'm not saying that the RPM installation is better or worse than the docker one, but each have their advantages..

I would love for us to collaborate on providing both to the community, any chance that we can work togethe

[2019-03-28 14:41] wenottingham commented on #79
Ah. For that, the playbook itself doesn't return an overall 'changed' status.... you'd almost need a per-host notification.

[2019-03-28 14:44] wenottingham commented on #3538
There are some known issues here; the recommendation is mostly "do not do this".

[2019-03-28 14:45] wenottingham commented on #3541
If you are trying to build a report, we recommend using the REST API.

[2019-03-28 14:46] AlanCoding commented on #3513
You have a good point.

I made a PR to do this (it was lost in the feature changes for compatibility mode) for the built-in sources. For built-in sources you cannot apply your own `ansible.cfg`.

This issue is still not resolved, in that users do not have any sort of visible toggle. I'm more concerned with playbook runs than for inventory imports.

[2019-03-28 14:51] arshantz commented on #3541
@wenottingham - using tower-cli?  I can't seem to get it to install on RHEL7.6.  It throws an error about not being able to find a module called ssl_match_hostname, even though backports.ssl_match_hostname is installed:

    ImportError: No module named ssl_match_hostname

I'm happy to use the cli if I can get it to work.

[2019-03-28 14:55] AlanCoding opened #3544 "Custom virtual environments can become links in API browser"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
The custom virtual environment path is mistaken for a hyperlink in API browser.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create a custom virtual env

[2019-03-28 16:12] kdelee opened #3547 "Openstack credential type does not provide OS_CLIENT_CONFIG_FILE to scm based inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

It is expected that the Openstack credential will provide to the environment `OS_CLIENT_CONFIG_FILE` pointing to a temporary file that has been written in the job's temporary directory.

Note, this somewhat related to https://github.com/ansible/awx/issues/941

##### ENVIRONMENT
* AWX version: devel

##### STEPS TO REPRODU

[2019-03-28 16:14] AlanCoding commented on #941
Looks like this was resolved by https://github.com/ansible/awx/pull/3262, @ryanpetrello does that sound right?

[2019-03-28 16:15] #941 closed, assigned to nobody

[2019-03-28 16:50] ryanpetrello commented on #941
Yep, I agree.

[2019-03-28 19:39] unlikelyzero commented on #3531
@wenottingham noted that there might be an existing issue for this

[2019-03-28 20:31] rooftopcellist opened #3823 "Distinguish requests from API/UI for analytics"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
We need to be able to determine if a request to the API is coming from the UI for analytics data.

The UI may be able to add a flag/header with each request which can be checked by the API as a way of definitively knowing the request came from the UI and not an integration like tkit, etc.

Once this is added, we sh

[2019-03-29 00:56] Testicule commented on #3429
For god's sake, please, someone, do this.

Without this "enhancement", the log for every job in AWX is a pile of puke with everything crammed onto one line littered with visible "\n" just to taunt and teast the viewers, to let them know that yeah, whoever wrote the ansible tried, but AWX just DNGAF.

[2019-03-29 00:59] Testicule commented on #3429
ps the job output window in AWX seems to be really workign pretty well these days, it used to lag, and not keep up, and need to be reloaded, but that seems ok.

If someone could fix the newline \n handling, it would be *really* good now, and i would have nothing to grumble about!

Pls.........

[2019-03-29 01:09] mujeebul76 commented on #3304
delete all the containers and then do a yum update on the vm. then run the playbook. it should be good. it worked for me. no need to set pg_sslmode = disable.

[2019-03-29 01:19] Techdox opened #3551 "AWX does not start after reboot using Docker"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Docker Containers
##### SUMMARY

When AWX is installed via docker containers using the install.yaml file AWX is installed and runs fine, but when the server (Ubuntu) is restarted I get the following errors when trying to start up the 2 / 5 docker containers that turned off.
`Error response from daemon: OCI runtime create failed: container_linux

[2019-03-29 01:25] jakemcdermott commented on #3551
@Techdox
Make sure you define a value for `postgres_data_dir` in your install inventory.

https://github.com/ansible/awx/blob/devel/installer/inventory#L54

This is where your database files are supposed to live. We have the default for this and other variables tuned for short-lived development environments that don't stick around for long. It uses `/tmp/pgdocker` which won't persist across reboot

[2019-03-29 01:27] #3551 closed, assigned to nobody

[2019-03-29 01:58] Techdox commented on #3551
@jakemcdermott I have made that change now, but even after the change it still does not launch.

[2019-03-29 02:01] jakemcdermott commented on #3551
you'll need to delete your containers and completely reinstall after changing the config

[2019-03-29 02:03] Techdox commented on #3551
@jakemcdermott Sorry I should of said I did delete the old ones, recreated and then rebooted. No luck

[2019-03-29 02:08] ryan012880 commented on #3551
@Techdox the error is caused by container not able to mount the volume bindings in /tmp/awxcompose so make sure that those files are available. Installer will create docker-compose files by default in /tmp/awxcompose if docker_compose_dir is not defined in your inventory file.

FYI, if you move this directory to another location after installation you need to remove the container first and edit th

[2019-03-29 02:15] jakemcdermott commented on #3551
@ryan012880 makes a great point here - there are probably _other_ inventory variables defaulting to  `/tmp/*` that you'll want to set as well. Have a look at the [inventory](https://github.com/ansible/awx/blob/devel/installer/inventory) and [installer playbooks](https://github.com/ansible/awx/blob/devel/installer) to make sure you have all the settings you need.

[2019-03-29 02:21] Techdox commented on #3551
@ryan012880 Cheers! I made the docker_compose_dir linking to a directory I created and it's surviving a reboot now. Thanks

[2019-03-29 12:45] #2314 closed, assigned to kialam

[2019-03-29 12:45] #2312 closed, assigned to kialam

[2019-03-29 12:45] #2310 closed, assigned to kialam

[2019-03-29 12:45] #2311 closed, assigned to kialam

[2019-03-29 13:14] weeheavy commented on #1335
IMHO still applies for AWX 4.0.0. Apart from https://groups.google.com/forum/#!topic/awx-project/Ixk0VUBA5WA no human-readable changelog exists that would give indication if new features or fixes have been made. The Github release page https://github.com/ansible/awx/releases/tag/4.0.0 is hard to read. Not trying to flame or so, but a good example would be https://docs.stackstorm.com/changelog.html

[2019-03-29 13:23] matburt commented on #3542
Unfortunately it's just not something we can take on from a maintenance perspective right now.

[2019-03-29 13:23] #3542 closed, assigned to nobody

[2019-03-29 14:01] gstorme opened #3553 "delay between "project update finish" and "job start""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

There is a significant delay between the start of a job, and a finished project update.
I got these timestamps from the api of the job & project_update:

job

project_update

**> "finished": "2019-03-29T12:29:27.247293Z",**

job_events

**> "created": "2019-03-29T12:30:17.755991Z"**

There is a gap of 50s between the finis

[2019-03-29 14:01] AnuradhaGangu opened #3554 "The SECRET_KEY setting must not be empty error in awx installation"
##### ISSUE TYPE
 - Bug Report
AWX installation causes SECRET_KEY issue

##### COMPONENT NAME
 - Installer

##### SUMMARY
I am trying to install awx 4.0.0 on RHEL 7.6
I have used docker approach and all the images are pulled from hub while installing.
The playbook runs successfully and I see all 5 containers running.
But in the awx_task log file I see below error and when I hit the UI url .. it sa

[2019-03-29 14:44] bamason14 opened #3556 "set_stats not working with per_host parameter (needs descriptive error)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

I am trying to set and reference set_stats in a workflow. It does not appear that the variable is being set and am unable to reference variable in same and next playbook with the per_host parameter set.

Am I miss understanding on how set_stats is suppose to work or is there a bug or installation issue?

##### ENVIR

[2019-03-29 15:09] AlanCoding commented on #3553
I can't reproduce this. The job _start_ time tends to have the same seconds-place value as the finish time of the project update.

It will take a little while for job events to start being created after the job start time, this is due to our implicit sync job as well as Ansible startup time. I see about a 6 second difference.

In your case, I would like to know the job "started" time, so that we k

[2019-03-29 15:23] coudenysj commented on #3553
The job start and the project_update are within the same second:

[code]

[2019-03-29 15:26] jeffbyrnes commented on #515
@ryanpetrello for those of us who are Python novices, is there any way you might be willing to provide more step-by-step instructions in how to install a custom module using a virtualenv? My colleague @andrew.hadam & I are attempting to get https://github.com/citrix/netscaler-ansible-modules installed into our AWX install.

[2019-03-29 15:48] ryanpetrello commented on #515
Hey @jeffbyrnes,

We've got some docs for this, including step-by-step instructions and commands to run:

https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

The approach can vary depending on how you're deploying AWX, but in general if you're using containers, something like this is what you want:

https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md#kubernetes-c

[2019-03-29 15:51] dsesami opened #3557 "User is immediately logged out if the page redirects to a 404."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Possibly related to https://github.com/ansible/tower/issues/2760
When a user is automatically logged out, they can log back in and land on the page they previously viewed. However, if the page they previously viewed is for a resource that no longer exists (for example, a job template that is now deleted), the page 404s (whic

[2019-03-29 15:55] coudenysj commented on #3553
When I take a look at the AWX system log, I see a lot of activity between 2019-03-29T12:29:27.247293Z and 2019-03-29T12:30:17.704037Z, but I don't find the job_events with the uuids I find there.

[2019-03-29 15:56] wenottingham commented on #3557
Can you test on top of https://github.com/ansible/awx/pull/3510 ?

[2019-03-29 16:24] AlanCoding commented on #3553
thanks, all the interesting stuff is in

[code]

The first gap indicates the the project update is either doing something big, or waiting on something. Questions:

 - do you have other jobs running at the same time that use the same project
 - is this the first time this job has ran on this instance?
 - if you run the job again, multiple times in secession, does this project update get faster?
 -

[2019-03-29 16:50] hypery2k commented on #1963
any chance that this gots implemented? If not I can try doing a PR for this

[2019-03-29 17:03] shanemcd commented on #3554
Hi. The `SECRET_KEY` file should be created by the installer [here](https://github.com/ansible/awx/blob/devel/installer/roles/local_docker/tasks/compose.yml#L18-L22).

I am curious what you see if you try to re-run the installation (with `-v`) and make note of what happens on the task `Render SECRET_KEY file`.

Once that file is created it is then bind-mounted into the containers in [these](https:

[2019-03-29 17:05] dsesami commented on #3557
Tested with #3510, it behaves. @jbradberry ping me when that is merged so i can re-verify and close this as appropriate.

[2019-03-29 17:07] AlanCoding commented on #3556
This is documented to not be allowed, see:

https://github.com/ansible/awx/blob/devel/docs/workflow.md

also

https://docs.ansible.com/ansible-tower/latest/html/userguide/workflows.html

The issue is that these will be re-used in `--extra-vars` for the next workflow job run. There's no per-host keying of data in Ansible extra vars, so the expectations would be unclear in this case.

You probably w

[2019-03-29 17:16] wwitzel3 commented on #1963
@hypery2k this is not currently implemented in master. You are welcome to take a crack at pulling together a PR for this. I'll be happy to review it and guide you along the way. If you don't start working on a PR please take the time to look at https://github.com/ansible/awx/pull/3284 as that has some recent work around analytics and metrics, you may be able to use some of the same code paths to e

[2019-03-29 17:21] wenottingham commented on #3556
reopening, we should at least fix it so:
[code]
either doesn't happen, or is replaced by a more useful message.

[2019-03-29 17:35] awithrow9 commented on #3827
@unxfrek, yes can you also open this up in Ansible.

@AlanCoding, @kdelee are we using the foreman plugin?  If not, why?

[2019-03-29 17:50] unlikelyzero commented on #3209
@ahuffman I just tested it with 10k lines. One more question. Do you usually use json or yaml

[2019-03-29 18:01] AlanCoding commented on #3827
We are not using the foreman inventory plugin because we do not have a satellite6 server for integration testing.

In terms of our readiness to implement it, core merged [this](https://github.com/ansible/ansible/pull/52693) so we can use environment vars for credentials, so we're good for that part of the contract. The [configuration options](https://github.com/ansible/ansible/blob/devel/contrib/i

[2019-03-29 18:03] ryanpetrello commented on #3827
So regardless, we need this fixed upstream in ansible _first_ before we can pull it into AWX.  Do we have any evidence that the upstream foreman plugin fixes this issue?  We should probably track _this_ ticket as _part_ of the work whenever we move to support Sat6 via plugins.

Given timing and that this would potentially need to land in Ansible first, I'd say this should be cut cc @wenottingham

[2019-03-29 18:21] paylocity-sflanders commented on #2688
This really needs to be supported.  tower should have a way to map external saml attributes to team names.   otherwise if a AD group name is changed you may have an enormous amount of changes to make if your are storing the configuration of tower in source

[2019-03-29 18:23] mrmibrown opened #3560 "Allow Org Admins the Ability to Create Credential Types"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

- API
 - UI

##### SUMMARY

Organization admins need the ability to create credential types.

##### ADDITIONAL INFORMATION

[2019-03-29 18:26] mrmibrown opened #3561 "Allow RBAC on Credential_type"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Allow RBAC on Credential_type

##### ADDITIONAL INFORMATION

[2019-03-29 18:30] SylvainMartel commented on #3085
#3177 doesn't fix the problem for me

[2019-03-29 18:43] wenottingham commented on #3560
This needs #3561 to be useful.

[2019-03-29 18:49] jeffbyrnes commented on #515
@ryanpetrello thanks, that “generally means” bit was really what I needed! I think I may open a PR to make the virtualenv doc more explicit for the next person like me who’s coming along 😄

[2019-03-29 18:58] mrmibrown opened #3562 "Allow for Explanation of Required Inputs on Custom Credentials"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Allow for explanation/description of required inputs on Custom Credentials.

##### ADDITIONAL INFORMATION

[2019-03-29 19:09] wenottingham commented on #3562
@mrmibrown is this for custom creds, or something else?

[2019-03-29 19:14] mrmibrown commented on #3562
My apologies @wenottingham.  That is correct.  The RFE has been updated to reflect this change.

[2019-03-29 19:36] ryanpetrello commented on #3562
Is specifying `help_text` on the credential type definition for the appropriate fields enough to accomplish this?

[2019-03-29 19:41] ahuffman commented on #3209
yaml usually

[2019-03-29 19:47] unlikelyzero opened #3565 "During node selection on WFViz, Job Keys don't always display on Job tab"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
In WFViz, if selected node is a Project or Inventory Sync, Job Keys don't display on Job tab.

##### ENVIRONMENT
* AWX version: 3.0.1

##### STEPS TO REPRODUCE
1. Create a WFJT with an Inventory Sync, Job Template, and Project Sync
1. Re-open that WFJT in the Workflow Visualizer
1. Click on the Job Template Node and then cli

[2019-03-29 19:54] wenottingham commented on #3827
The relevant code in the plugin looks pretty much the same.

[2019-03-29 19:57] wenottingham commented on #3321
Plz test on https://github.com/ansible/awx/pull/3510

[2019-03-29 21:24] unlikelyzero commented on #3321
@wenottingham unfortunately, I still don't have accurate reproduction steps.

Is someone able to take a look at the har file to determine if #3510 will fix it?

[2019-03-29 21:29] unlikelyzero commented on #3565
Note: may be a regression introduced by: https://github.com/ansible/tower/issues/3421

[2019-03-30 03:21] urbinaalex17 opened #3566 "Ansible AWX marks some variables as unsafe by default while generating the extra vars file."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

I've got an ansible playbook which makes use of the variable jboss_bind_iface to gather information based on the ansible facts E.g.: ansible_eth0.ipv4.address. I investigated deeper and it turns out that it has to do with unsafe variables, I'm gonna explain this in the additional information section.

##### ENVIRONME

[2019-03-30 03:49] sayantandas commented on #223
These steps worked like a charm.. . Ansible Tower 3.3.1
Now will be testing the playbooks.

[2019-03-30 17:50] ryan012880 opened #3567 "Workflow Node Modification Broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Unable to modify workflow with nodes that has configured with inventory, credentials, job tags and survey prompts.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: RHEL7
* Web Browser: Chrome/Firefox

##### STEPS TO REPRODUCE

1. Create a workf

[2019-03-30 23:27] #3517 closed, assigned to nobody

[2019-03-31 09:02] benapetr commented on #3429
I wouldn't say "whoever wrote the ansible tried, but AWX just DNGAF", if you run Ansible directly without AWX you get similar output. The reason is that Ansible itself has its own output, which is using newlines, and then there is an output of a task, which is typically escaped JSON string.

So what you see in AWX now, "sucks" just as much as what you can see with regular Ansible. Hence I flagged

[2019-03-31 11:14] sumkincpp commented on #3429
Definitely not an AWX issue, since I believe that AWX won't go for reformatting log output.

If needed you have to format the output yourself, i.e.
[code]
Newer ansible versions(2.6+, 2.7+) support conditional `ansible_verbosity` variable.

[2019-04-01 02:02] AlanCoding commented on #2916
This is now ready to be implemented.

[2019-04-01 03:27] ryanpetrello commented on #3429
@Testicule historically, we've actually been **very** intentional about doing our best to ensure that AWX's job output matches the behavior of Ansible as closely as possible.

In particular, we're *especially* sensitive to any type of output filtering or formatting, because some of our users that target playbook runs against _very large_ infrastructure have _very large_ output streams which could

[2019-04-01 07:08] coudenysj commented on #3553
Thanks for the feedback @AlanCoding, but I don't think the biggest problem lies in the project update. If I look at the events, I see that "fetch galaxy roles from requirements.yml" takes the biggest chunk of the time (which is understandable).

The biggest question is the 50s gap between the project update and the job:

[code]

[2019-04-01 07:22] AnuradhaGangu commented on #3554
@ shanemcd, Thanks for your reply.

I checked on the info you mentioned.
I see below when I run playbook with -v option
I don't see `Render SECRET_KEY file`task getting executed. I am pasting last tasks status from playbook run.

[code]

I did check docker_decompose_dir and see below files / dirs

[code]
For the ca_trust proprty in inventory, I just have it uncommented as below :
ca_trust_dir=/etc

[2019-04-01 07:40] benapetr commented on #3429
It would be very nice to have this as optional feature though.

I don't think there would be any performance issues, you have to transmit the whole line anyway. If you have two bytes there '\n' or 1 byte (actual LF 0x0A), you actually have to transmit 1 byte less for each line.

There could also be some sort of JS button to reformat the output that would do that for you. I was hoping that goal of

[2019-04-01 09:30] BramFr opened #3568 "Import Inventory failed trough Github File. Local CLI works"
##### ISSUE TYPE
- Import from github file failed

##### COMPONENT NAME
 - Github
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.1.2.0
* AWX install method: docker on linux (ansible/awx_task:2.1.2 Image: sha256:5e3665e23839a90dff9e14eca38eb60fb7e599c81984f846e565d22687eedf87)
* Ansible version:  2.7.4
* Operating System: Linux Debian 10

##### STEPS TO REPRODUCE
Create a file on github a

[2019-04-01 09:45] BramFr commented on #3568
typo within requirements.yml file.
[code]

[2019-04-01 09:45] #3568 closed, assigned to nobody

[2019-04-01 11:18] AlanCoding commented on #3553
Events are processed asynchronously, a likely explanation for this 50s gap is that the job event processing queue starts out full, and the events from some other jobs are getting processed before it can get to the first event of this job. You said that you see a lot of activity in the logs during this gap, what kind of activity? If you can get debug-level logs, we might hope to get information abo

[2019-04-01 12:18] #41 closed, assigned to nobody

[2019-04-01 12:19] #208 closed, assigned to nobody

[2019-04-01 12:23] AlanCoding commented on #1225
Several related enhancements landed since this was filed:

https://github.com/ansible/awx/pull/763

https://github.com/ansible/awx/pull/2899

closing as resolved

[2019-04-01 12:23] #1225 closed, assigned to nobody

[2019-04-01 12:26] AlanCoding commented on #808
the NAME entry is no longer present, and looking at the entire UI for this page, the link confusion is now resolved.

[2019-04-01 12:26] #808 closed, assigned to nobody

[2019-04-01 12:28] AlanCoding commented on #1216
The current UI now links this

![Screen Shot 2019-04-01 at 8 00 11 AM](https://user-images.githubusercontent.com/1385596/55327366-f3c25d00-5457-11e9-90d5-6b7fffe6ae01.png)

Closing as resolved, FYI @mabashian because there were no UI people linked on this issue before.

[2019-04-01 12:28] #1216 closed, assigned to nobody

[2019-04-01 12:30] AlanCoding commented on #863
4/1/2019 still a bug, ping @jakemcdermott, suspect this is related to `__getattr__`, we should re-test issue after https://github.com/ansible/awx/pull/3098

[2019-04-01 12:32] shanemcd commented on #3554
Hi @AnuradhaGangu, that's really strange. I'm wondering if you are re-running an old installer that does not have this latest code? Can you please try to download the latest release (4.0.0), re-populate the new inventory file, and run the installer then? I'm fairly confident this will resolve your issue.

[2019-04-01 12:53] AlanCoding commented on #1149
4/1/2019 re-tested, and found that this was resolved

[2019-04-01 12:53] #1149 closed, assigned to nobody

[2019-04-01 12:55] testlaben opened #3571 "Log out icon should be an exit sign, not a power sign"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

To avoid confusion, the top right icons should preferably have an infobox when hovering over them, much like the activity stream button below. And in addition to this, the logout icon should be an exit sign and not a power sign.

##### ADDITIONAL INFORMATION

[2019-04-01 12:59] AlanCoding commented on #1727
resolved in c064195025c37269e204f771bebeba7b77d7d828

[2019-04-01 12:59] #1727 closed, assigned to nobody

[2019-04-01 13:01] #3429 closed, assigned to nobody

[2019-04-01 13:03] AlanCoding commented on #1375
I see a `o_auth2_access_token` entry in the related links now. Closing this issue as resolved.

[2019-04-01 13:03] #1375 closed, assigned to nobody

[2019-04-01 13:05] AlanCoding commented on #1960
closing as not fixing

[2019-04-01 13:05] #1960 closed, assigned to nobody

[2019-04-01 13:34] AlanCoding commented on #2782
I tested this, got:

[code]

[2019-04-01 13:34] #2782 closed, assigned to chrismeyersfsu

[2019-04-01 13:38] AlanCoding commented on #2879
@unlikelyzero @rooftopcellist I'm fairly sure we would have heard some noise about this by now if this issue had not been resolved with the linked fix. Closing.

[2019-04-01 13:38] #2879 closed, assigned to AlanCoding

[2019-04-01 13:39] #2403 closed, assigned to chrismeyersfsu, AlanCoding

[2019-04-01 13:39] AlanCoding commented on #2403
closing as implementation detail

[2019-04-01 13:43] AlanCoding commented on #2479
![Screen Shot 2019-04-01 at 9 42 43 AM](https://user-images.githubusercontent.com/1385596/55332038-87992680-5462-11e9-8d3c-bf4a50e17daf.png)

4/1/2019, confirmed this was not implemented, so this is still a valid work item.

[2019-04-01 13:46] AlanCoding commented on #2176
resolved with

https://github.com/ansible/awx/pull/3041

and

https://github.com/ansible/awx/pull/3266

[2019-04-01 13:46] #2176 closed, assigned to nobody

[2019-04-01 13:50] AlanCoding commented on #2129
🚚 https://github.com/ansible/ansible-runner/issues/242

[2019-04-01 13:50] #2129 closed, assigned to nobody

[2019-04-01 13:53] kialam commented on #2479
@AlanCoding are you simply meaning that the badge copy should read "Job Slice x/y" instead of what it reads currently?

[2019-04-01 13:54] AlexSCorey commented on #3300
To test:

- I created a sys admin and with no templates and logged in and was able to click on the link the create a template.
- Created a normal user and logged in and was not presented the link to create templates.

[2019-04-01 14:09] AnuradhaGangu commented on #3554
Thank you ...!!! I downloaded the latest one when I started trying awx. But I don't see the task `Render SECRET_KEY file` in compose.yml.
I will download the latest and let you know.

Thank you so much for the support.

[2019-04-01 14:10] #3554 closed, assigned to nobody

[2019-04-01 14:19] AlanCoding commented on #3566
You can change the setting `ALLOW_JINJA_IN_EXTRA_VARS` to allow unsafe variables generally.

Or, you can leave that setting as the default, and set this variable in the job template extra_vars instead of getting from the prompts or wherever it comes from now.

[2019-04-01 14:40] AlanCoding commented on #2479
The badges that read "Slice Job 1/2" and "Slice Job 2/2" look great. This issue pertains to the job which has the badge "Workflow Job". This is a workflow job that came from a slice JT, and there's no way (at a glance) to tell it apart from a workflow job that came from a WFJT.

[2019-04-01 16:42] jeffbyrnes commented on #1549
Seems like this can be closed with #3322 having made it in to v4.0.0, though that release does drop the standalone Docker install method.

[2019-04-01 16:52] lemmy04 commented on #1549
...wtf? what do you mean, 4.0.0 drops the standalone docker? Guess it'll be back to puppet for me if that's true.

edit: it only means that you have to have docker-compose. phew. now if i could only figure out how to actually make https: happen instead of http...

[2019-04-01 17:59] AlanCoding opened #3577 "Unwanted inventory warning messages on all project updates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Project update output has some new warning messages related to inventory parsing

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.7.9
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Run a project update and vi

[2019-04-01 18:23] jeffbyrnes commented on #1549
@lemmy04 right, it doesn’t drop Docker entirely, just the standalone version, in favor of focusing entirely on using Docker Compose. You can check the [v4 release notes here on the Google Group](https://groups.google.com/forum/#!searchin/awx-project/changelog|sort:date/awx-project/Ixk0VUBA5WA/nSh0pRhpAQAJ).

Sorry for the panic!

[2019-04-01 18:35] grahamneville opened #3578 "uwsgi memory leak"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- API
- UI

##### SUMMARY
When running AWX on K8s or a standalone docker host there is a constant memory increase seen on the awx-web container and after a certain amount of jobs run, or even page clicks, the uwsgi processes start to be killed due to the container hitting the resource limits set. These tie up with HTTP 500 and 502 errors.

#####

[2019-04-01 20:14] urbinaalex17 commented on #3566
Hi Alan,
I did it that way, in the job template extra_vars (screenshot below)

![image](https://user-images.githubusercontent.com/42731074/55356513-1cfae180-5488-11e9-92e6-7c2f51826e5b.png)

I gathered the files (inventory, extra_vars files) while executing the template in AWX.

[2019-04-01 23:46] Testicule commented on #3429
I just don't see how you can possibly assert this:
"> @Testicule historically, we've actually been **very** intentional about doing our best to ensure that AWX's job output matches the behavior of Ansible as closely as possible."

When i run ansible in a shell, newlines are handled one way, in the AWX job display, they're handled differently. I know i can format the output so it looks OK in AWX. B

[2019-04-02 03:55] rooftopcellist commented on #3371
Closing this.  Let me know here if you still have an issue and we can re-open this.

[2019-04-02 03:55] #3371 closed, assigned to nobody

[2019-04-02 05:20] sujiar37 opened #3582 "SSO broken Azure AD - "ERROR social Your credentials aren't allowed""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
SSO return error as "**ERROR    social Your credentials aren't allowed**"

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: Linux
* Web Browser: Chrome / Firefox

##### STEPS TO REPRODUCE
Try single sign on after configuring Azure AD authentica

[2019-04-02 05:23] sujiar37 commented on #3582
@ryanpetrello / @rooftopcellist  Could you please look into this and see if it is reproducible. thanks.

[2019-04-02 05:53] grahamneville commented on #3578
Overnight I ran a python script to continually hit AWX and setup valgrind to monitor for memory leaks.

At the start it looked like the valgrind wrapped uwsgi pid was 149

[code]

This ended up dying and coming 208

[code]

I saw a couple of processes die:

[code]

Here's the logs from valgrind:

https://raw.githubusercontent.com/grahamneville/valgrind-awx/master/log

[2019-04-02 07:01] sugitk commented on #3556
From the customer, I received a case about this issue.

They found the good solution but I think it is very complex, for example like this:
[code]

The workflow function is very useful of AWX/Tower, so I think it should be more easier to pass variable between playbooks in a workflow.

Is there any good alternative idea?

[2019-04-02 09:03] kumy commented on #1855
Still exists in 4.0.0

[2019-04-02 09:44] grahamn-gr commented on #3578
So I first spotted this issue when running AWX in K8s for the first time, migrating away from standalone docker.
We set resource limits for the containers and gave awx-web 2GB.

I see that by default uwsgi workers get reloaded after they serve 1000 requests, however within K8s we was hitting the containers memory limits before the workers hit the 1000 requests. The OOM killer was killing the uwsgi

[2019-04-02 10:04] sumkincpp commented on #3462
Just to note - on installation where lots of jobs are running in background(and they are obviously block each other from parallel execution) prompting and filling Surveys is completely impossible.

[2019-04-02 10:13] sumkincpp commented on #2193
Just to update that something similar is being developed - #3451

[2019-04-02 11:18] NiveditaKumari14 opened #3584 "How to use inventory script"
##### ISSUE TYPE
I am new to the AWX. Please tell me that how to use inventory script in details.

##### SUMMARY
There is no proper documentation is available to create or use inventory script in ansible documentation.

[2019-04-02 11:57] AlanCoding commented on #3493
Resolved by @jbradberry in https://github.com/ansible/awx/pull/3174/commits/046385d72ebd0050d0cdffa38099dfca6e53e363 and ansible/awx#3532

[2019-04-02 11:57] #3493 closed, assigned to nobody

[2019-04-02 12:12] AlanCoding commented on #3566
Let me re-state what you're telling us here, in your job template extra_vars you have:

[code]

But it generates an extra_vars file with

[code]

And you have `ALLOW_JINJA_IN_EXTRA_VARS` set to the default of "template".

Is that accurate?

[2019-04-02 12:52] bamason14 commented on #3556
Am I missing something? From the documentation you provided it appears that set_stats should be able to be set and passed to the next job template in a workflow. Also set_facts is documented as having a per_host option. I'm just really confused on how I am supposed to set a variable in one job template and pass it to the next in a workflow on a per host basis.

"If you use the set_stats module in

[2019-04-02 13:09] AlanCoding commented on #3556
We don't have a concrete use case for per-host stats in workflows.

The point of `set_stats` in workflows is to have a vehicle to pass data via `--extra-vars` to the next job template. If you set a stat for a host, then what how would you reference that in the subsequent playbook? What would the specific jinja2 template syntax be in such a case, given the variable name and the host name, and what

[2019-04-02 13:10] anksvault opened #3585 "Error while installing AWX with Kubernetes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: Kubernetes on Linux
* Ansible version:  2.7.9
* Operating System: RHEL 7.6

##### STEPS TO REPRODUCE

Install pre-requisites, update inventory parameters and run ansible-playbook -i inventory install.yml

##### EXPECTED RESULTS

The installation should be s

[2019-04-02 13:12] ryanpetrello commented on #2462
Anybody encountering this in more recent versions of AWX (e.g., 3.0.x, 4.0.0)?  We've made some notable changes here in the recent past.

You might also consider checking out this document, which outlines the way we _recommend_ managing custom Python dependencies in AWX:

https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

[2019-04-02 13:16] Win32Sector commented on #496
When you use Active directory, you can to try LDAP Group Type "ActiveDirectoryGroupType".

In my case, MemberDNSGroupType doesn't work.

[2019-04-02 13:28] anksvault commented on #3585
Ok, i disabled the no_log and could see the following:

fatal: [localhost]: FAILED! => {"changed": true, "cmd": "helm repo update --tiller-namespace=kube-system\n helm upgrade awx-postgresql --install --namespace awx --set postgresqlUsername=awx --set postgresqlPassword=awxpass767 --set postgresqlDatabase=awx --set persistence.size=5Gi --version=\"2.0.0\" --tiller-namespace=kube-system       stabl

[2019-04-02 13:36] bamason14 commented on #3556
Documentation implies a per_host is supported. Maybe documentation needs to be clarified.

I don't want to get stuck on set_stats but I just need a vehicle that can pass a fact on a per host basis. Maybe this is a feature request. My thought would be if I can set a fact/variable on a host then be able to pass it to the next template in the workflow and reference it via hostvars[inventory_hostname]

[2019-04-02 14:06] AlanCoding commented on #3556
related https://github.com/ansible/ansible/pull/54725

[2019-04-02 14:14] wenottingham commented on #3584
This would need to be done in the ansible documentation first - https://github.com/ansible/ansible/

I would start here: https://docs.ansible.com/ansible/latest/dev_guide/developing_inventory.html

[2019-04-02 14:14] #3584 closed, assigned to nobody

[2019-04-02 14:14] matburt commented on #3585
You *have* to follow our install instructions which tells you that you need to have Tiller installed.

[2019-04-02 14:14] #3585 closed, assigned to nobody

[2019-04-02 14:25] geauxvirtual commented on #2462
We're currently using a 3.0.x+ version of the AWX task container, and we still need to add the ansible_python_interpreter to all our jobs for it to pick up modules added to the ansible virtual environment in the task container.

[2019-04-02 14:39] #3387 closed, assigned to nobody

[2019-04-02 15:32] ghost opened #3588 "ModuleNotFoundError: No module named 'corsheaders'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Receiving tracebacks within the awx_task container's awx venv regarding corsheaders missing. forcing `django-cors-headers` into the requirements files for the venv do not resolve the issue

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on nomad
* Ansible version:  2.6.11
* Operating System: linux
* Web

[2019-04-02 15:39] chrismeyersfsu opened #3590 "Insights project update doesn't include user-agent headers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Tower API issues proxy request to Insights. In each request it includes a User-Agent header that lets us know information about the requester (i.e. tower version, license type). That header is *not* included in the request to download the remediation playbooks.

##### ENVIRONMENT
* AWX version: Tower

##### STEPS TO REPRODU

[2019-04-02 15:48] chrismeyersfsu opened #3591 "Pickup insights id from ansible facts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Insights lays down the machine/system id in ansible facts directory. This way, playbooks that run `gather_facts` w/ fact caching turned on will automatically recognize the machine as an insights host.

The insights install role lays down the fact file https://github.com/RedHatInsights/insights-client-role/blob/master/tasks/

[2019-04-02 15:49] mabashian commented on #3823
If we do go down the route of adding a custom header to every request [this would be the place to do it](https://github.com/ansible/awx/blob/devel/awx/ui/client/src/rest/interceptors.service.js#L18).  Pretty straightforward, this interceptor hooks in on _every_ request afaik.

[2019-04-02 17:16] AdrianDutu commented on #3371
Hi @rooftopcellist

Sorry, was on holiday. My use case is that I have different 3rd party clients (java, scripts etc) that need to trigger jobs in AWX. I do not want these to be linked to any user in AWX since the users all come from LDAP and are actual people that have access to AWX through some specific groups.  I want to use the client id and client secret of the application I define in AWX for

[2019-04-02 17:36] benapetr commented on #3429
I fail to see why this issue is closed, so are you really saying that this unusable output is actually a feature and final solution?

We are going to have to read this scrambled unreadable output in AWX logs with hundreds of thousands characters long lines?

That's another "feature" that makes AWX worse than actual stand-alone Ansible. Makes me glad we never decided to buy Tower...

[2019-04-02 17:54] #2668 closed, assigned to nobody

[2019-04-02 18:48] freaker2k7 commented on #3496
Happened to me as well on Ubuntu 16.04

[2019-04-02 18:59] jakemcdermott commented on #2238
resolved by https://github.com/ansible/awx/pull/3098

[2019-04-02 18:59] #2238 closed, assigned to ryanpetrello, jakemcdermott

[2019-04-02 18:59] jakemcdermott commented on #1654
resolved by https://github.com/ansible/awx/pull/3098

[2019-04-02 18:59] #1654 closed, assigned to nobody

[2019-04-02 19:00] jakemcdermott commented on #2834
resolved by https://github.com/ansible/awx/issues/2834

[2019-04-02 19:00] #2834 closed, assigned to jakemcdermott

[2019-04-02 20:14] urbinaalex17 commented on #3566
That's accurate... I'm sure the variable is set to the default. Where should I change that value?

[2019-04-02 20:41] wenottingham commented on #2863
2.2 LTS is here: https://docs.djangoproject.com/en/2.2/releases/2.2/

[2019-04-02 21:03] rooftopcellist commented on #3371
@AdrianDutu It sounds like you are looking for client_credentials grant_type, which allows tokens to be created without linking them to a user.  This is not compatible with the permissions system in AWX today as those role based access control is centered around the user.  Because of this, we aren't currently planning to add the client_credentials grant type.

I would suggest making an AWX user in

[2019-04-02 21:09] ryanpetrello commented on #3556
@bamason14,

I think the `Failure using method (v2_playbook_on_stats) in callback plugin` message is actually an ansible bug in py3 (which should be addressed in 2.8):

ansible/ansible#49895

[2019-04-02 21:09] #3556 closed, assigned to nobody

[2019-04-02 22:08] ryanpetrello commented on #3429
@benapetr sorry, I closed this one by default - it was unintentional when I left my last comment.

[2019-04-03 01:37] sujiar37 commented on #3582
My bad, the secret key [ Azure AD Oauth2 ] which I had updated was wrong. I corrected that and now SSO is working.

[2019-04-03 01:37] #3582 closed, assigned to nobody

[2019-04-03 07:20] anjan-tummalapalli opened #3599 "Unable to generate token for SAML Authentication enabled instance"
As you already know, for SAML based authentication mechanism we don't provide username and password to login

Here is the command provided in documentation to generate token
https://docs.ansible.com/ansible-tower/latest/html/administration/oauth2_token_auth.html#application-using-password-grant-type

curl -X POST -d "grant_type=password&username=<username>&password=<password>&scope=read" -u "<clie

[2019-04-03 07:41] AnuradhaGangu commented on #3554
@shanemcd, It worked finally...!!! I am able to see AWX login page. I just got latest awx and changed the inventory attributes and ran playbook.

Thanks a ton for the support. It helped me to close the task.

[2019-04-03 07:53] Commifreak commented on #2225
Worked again with upgrade to 4.0.0

No negative points so far. I dont know why upgrading is that bad documented (same as the changelogs for awx ;) ). There are several tools that export awx data and import it in a new instance. Never had to use this.

I always prune the system and save the pg_datadir.

[code]

Download new awx zip, adapt inventory, run the playbook. Done.

[2019-04-03 12:14] chrismeyersfsu commented on #3556
@bamason14 you can construct a dict where the key is your hostname and the value is the value of what you want to pass along.

[2019-04-03 12:19] bamason14 commented on #3556
How would I pass that to the next job template in the workflow?

Sent from my iPhone

On Apr 3, 2019, at 8:14 AM, Chris Meyers <notifications@github.com<mailto:notifications@github.com>> wrote:

@bamason14<https://github.com/bamason14> you can construct a dict where the key is your hostname and the value is the value of what you want to pass along.

—
You are receiving this because you were mentio

[2019-04-03 15:00] gamuniz opened #3600 "Add team assignable team permissions to UI"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Currently team read access is only accessible via the api and assignable the same way. Please allow for adding a team read permission assignment via the UI(to teams and users).
##### ADDITIONAL INFORMATION

[2019-04-03 16:43] SylvainMartel commented on #2238
so, no thycotic secret server support in the initial version I take it?

[2019-04-03 18:10] ryanpetrello commented on #2238
@kinwolfqc nope, not currently:

https://github.com/ansible/awx/issues/2238#issuecomment-452395837

That said, we implemented this as a plugin-based system, so it's pretty simple to add support via a pull request if it's something you're interested in:

https://github.com/ansible/awx/blob/devel/docs/credential_plugins.md

[2019-04-03 18:11] jlmitch5 commented on #3600
To clarify, this is about adding a Teams tab to these add permission modals on the user and teams detail pages.  It is not about changing the "add existing users to teams" flow.

![Screen Shot 2019-04-03 at 1 57 47 PM](https://user-images.githubusercontent.com/1342624/55502344-5c593780-561a-11e9-9e60-d179c0e63b58.png)
![Screen Shot 2019-04-03 at 1 58 15 PM](https://user-images.githubusercontent.co

[2019-04-03 18:57] AlanCoding commented on #2105
implemented

[2019-04-03 18:57] #2105 closed, assigned to nobody

[2019-04-03 19:06] mrmibrown opened #3605 "Endpoint Needed For Failed Hosts in a Workflow Job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

There is a need for an endpoint for failed hosts in a workflow job.  At the moment, only failed/successful job templates are tracked.

##### ADDITIONAL INFORMATION

[2019-04-03 20:10] unlikelyzero opened #3606 "Search filter expressions are limited to 30 characters on firefox"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Search filter expressions are limited to 30 characters on firefox

##### ENVIRONMENT
* AWX version: 3.0.1
* Operating System: macOS
* Web Browser: Firefox 60ESR

##### STEPS TO REPRODUCE
1. Go to a page with a search filter and create a filter > 30 characters. i.e /inventories?inventory_search=inventory_sources_with_failures

[2019-04-03 20:17] unlikelyzero opened #3607 "On the Dashboard, Inventory Sync failures can return null and will not render"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
On the Dashboard, Inventory Sync failures can return null and will not render. Note: the API returns null on the request.

##### ENVIRONMENT
* AWX version: 4.0.0

##### STEPS TO REPRODUCE
1. Create a new organization and a new user associated with that user
2. Log in as that user and land on dashboard
Note: the dashbo

[2019-04-03 20:23] unlikelyzero commented on #3300
@wenottingham is this correct?

- A user with Organization Admin Permission does see Create JT option (and it works)
- A user with JT Admin Permissions on an Org **does not** see Create JT option

[2019-04-03 20:43] #3300 closed, assigned to AlexSCorey

[2019-04-04 06:06] arani007 opened #3610 "unable to pull ansible roles from open repo"
##### ISSUE TYPE
 - Pulling ansible roles like https://github.com/geerlingguy/ansible-role-kubernetes
   into a project and use in jobs is not possible.

   any idea how can i do that?

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ADDITIONAL INFORMATION

[2019-04-04 06:52] arani007 commented on #1299
Still the issue of restart host is not resolved , I am facing this right now,
The web ui is not accessible , at-least  provide some documentation regarding how to take local backup of all configurations

[2019-04-04 09:51] clushie opened #3611 "Make docker-compose.yml more configurable"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- Installer

##### SUMMARY
At the moment it is not easily possible to add additional configurations to the [`docker-compose.yml`](https://github.com/ansible/awx/blob/1f1cb2bdacfdb59a839eab00bfddabe9ed7e51e9/installer/roles/local_docker/templates/docker-compose.yml.j2).
This is sometimes needed, for example when you need to configure a network

[2019-04-04 09:57] SpikeShen opened #3612 "Project update optimization"
##### ISSUE TYPE
When a project update triggered, all instances should update the playbooks.

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
The current situation is when a job started, the related instance will update the project which used my the job first and then start to finish the job events.

In my env, the project update will take 7-10 seconds which means every job will spend so much ti

[2019-04-04 11:24] ryanpetrello commented on #3610
@arani007,

This issue tracker is for tracking bugs and enhancements to awx.  If you have questions on how to use awx, check out our IRC room (`#ansible-awx` on freenode) or our mailing list (https://groups.google.com/forum/#!forum/awx-project).

[2019-04-04 11:24] #3610 closed, assigned to nobody

[2019-04-04 12:11] clotted commented on #2225
@Commifreak For the uninitiated can you elaborate on "adapt inventory"?

[2019-04-04 12:15] Commifreak commented on #2225
I just mean to check the `installer/inventory` file. Some options may changed. I always have to change the pg_datadir as an example. (Default is still `/tmp/`).

[2019-04-04 12:24] dieterdm opened #3613 "An organization's admin cannot enable notifications on a job template via the UI."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
An organization's admin cannot enable notifications on a job template from the GUI. However, he can using tower-cli.

##### ENVIRONMENT
* AWX version: 4.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: Fedora 29
* Web Browser: Chrome
==> Also reproduced with Ansible Tower 3.4.2-1 on R

[2019-04-04 13:10] #265 closed, assigned to AlexSCorey

[2019-04-04 13:52] AlanCoding commented on #3613
Fix is up at https://github.com/ansible/awx/pull/3589 ping @mabashian

[2019-04-04 14:24] wenottingham commented on #3612
Instances may not be online at the time of a project update, so you can't just do this. In any case, it's already in the issue tracker. -> #289

[2019-04-04 15:43] ryanpetrello commented on #2264
@grahamn-gr we've implemented this as of awx 4.0.0:

![image](https://user-images.githubusercontent.com/214912/55569004-c9c6a000-56ce-11e9-92c8-687ae284e1d8.png)

[2019-04-04 15:43] #2264 closed, assigned to ryanpetrello, mabashian

[2019-04-04 15:47] ghost commented on #3126
Closing the issue in favor of https://github.com/ansible/awx/pull/3320

[2019-04-04 15:47] #3126 closed, assigned to kdelee

[2019-04-04 15:56] wenottingham commented on #3605
Hosts don't have a concept of workflow jobs run on them (only jobs). Workflow jobs don't have a unified concept of 'hosts' applied to them (as it could be 20 different inventories across a workflow).

[2019-04-04 15:56] wenottingham commented on #3605
What's the use case for this?

[2019-04-04 17:03] ryanpetrello commented on #3827
@wenottingham I vote we kick this out and work on it as part of "Finish up inventory plugins for all sources" later(do we have a ticket for that?)

[2019-04-04 17:33] kdelee commented on #3126
:+1:

[2019-04-04 17:41] karungn1 opened #3621 "Install Ansible on Ubuntu 18.04 With AWX is failing at TASK [local_docker : Start the containers]"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
When Running
 ansible-playbook -i inventory install.yml

Gives below error:

TASK [local_docker : Start the containers] *****************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Error connecting: Error while fetching server API version: ('Co

[2019-04-04 17:47] sujiar37 commented on #3621
Please make sure the docker daemon already in started state and active.

On Thu, 4 Apr, 2019, 11:11 PM karungn1, <notifications@github.com> wrote:

[2019-04-04 18:20] wenottingham commented on #3827
No ticket yet, but I can concur if we don't have a test nor fix.

[2019-04-04 19:53] AlanCoding commented on #3461
Prototype branch: https://github.com/ansible/awx/compare/devel...AlanCoding:instance_id_fallbacks?expand=1

[2019-04-04 20:38] wenottingham commented on #3823
OK.

[2019-04-04 21:34] ryanpetrello commented on #3599
Hey @anjan-tummalapalli,

Third party authentication and basic auth don't work together when creating OAuth2 tokens in this way.  Here's an explanation of _why_ that's the case for a different authentication provider (Windows Azure).  Have a look:

https://github.com/ansible/awx/issues/3393#issuecomment-471016949

To solve this, you'll have to automate the process of logging in (using something li

[2019-04-04 21:34] #3599 closed, assigned to nobody

[2019-04-04 22:38] sujiar37 commented on #3400
I have published the code for building AWX V4.0.0 with Instance Group
functionality . You may please find it here :
https://github.com/sujiar37/AWX-HA-InstanceGroup

Regards,
Sujith

On Thu, 14 Mar, 2019, 1:01 PM impca, <notifications@github.com> wrote:

[2019-04-05 05:39] karungn1 commented on #3621
@sujiar37 Thanks for the response. I am completely new to Linux, can you please give me command to start the docker daemon and active.

[2019-04-05 10:59] sujiar37 opened #3627 "AWX - HA - Instance Group"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
AWX HA - Docker Compose Stand-alone Installation

##### ADDITIONAL INFORMATION

I have been following this project since from the version `1.X` to the current latest one which is `4.0`. I have huge respect towards this community and the contributors for their efforts. I am checking the possibility of contribution to

[2019-04-05 12:07] ryanpetrello commented on #3627
Hey @sujiar37,

Neat!  At the moment, I'd be a little hesitant to merge in _official_ support for HA/Swarm in Docker deployments - not because it's a bad idea, but because we already _have_ an official supported deployment mechanism for scaling out clustered instance groups in awx (using kubernetes), and we're already spread pretty thin on people to maintain *another* official supported install me

[2019-04-05 12:09] #3627 closed, assigned to nobody

[2019-04-05 12:16] MrBones757 commented on #429
Hi all, is there any update on this feature? My organisation holds an ansible tower licence and this functionality would be great. I was referred to this by red hat support.

As far as the issue of multiple team inheritance goes, I would prompt the user to select one or more teams if they are a member of more than one. This would seem like the most logical solution to avoid setting the object into

[2019-04-05 13:56] dsesami commented on #3492
After following up with @AlanCoding and @AlexSCorey we've determined this is an API bug -- the case of 1 host but a > 1 split shouldn't make the parent workflow job at all.

[2019-04-05 14:35] rezelh opened #3630 "awx_task & awx_web containers doesn't start after reboot"
##### SUMMARY
awx_task & awx_web containers doesn't start after reboot. After flawless installation and import my datas with awx_cli. All works as a expected but break after reboot. I already have changed /tmp dirs.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.2
* Operating System:
* Web Browser:

##### ACTUAL RESULTS

Containers never start

[2019-04-05 14:55] jbradberry commented on #3557
@dsesami this has just merged.

[2019-04-05 15:00] ryanpetrello commented on #3630
Hey @rezelh, we're going to need more than this to go on if you want some help troubleshooting - the full template we provide for bug reports at https://github.com/ansible/awx/issues/new?template=bug_report.md exists for a reason, after all.  You might have better luck having a conversation in #ansible-dev on freenode IRC or on our mailing list (https://groups.google.com/forum/#!forum/awx-project)

[2019-04-05 15:00] #3630 closed, assigned to nobody

[2019-04-05 15:09] dsesami commented on #3557
Verified that this behaves as intended now, the user is no longer redirected around.

[2019-04-05 15:09] #3557 closed, assigned to nobody

[2019-04-05 15:14] Cizin commented on #3621
@karungn1
systemctl enable docker
systemctl start docker

But it's more docker related than AWX...

[2019-04-05 15:15] mabashian commented on #3160
Should be fixed by #3608

[2019-04-05 15:15] #3160 closed, assigned to mabashian

[2019-04-05 15:59] unlikelyzero commented on #3349
Verified that the Launch and Cancel buttons appear for a user with limited permissions
Veirifed that the Launch, save and cancel buttons continue to operate per normal

[2019-04-05 15:59] #3349 closed, assigned to jlmitch5

[2019-04-05 16:00] unlikelyzero commented on #3355
assigning to @elyezer to close out as it is his 3.5 Feature

[2019-04-05 16:01] unlikelyzero commented on #171
@kdelee what UI Testing remains for this feature?

[2019-04-05 18:08] ryanpetrello commented on #3607
Fixed by: https://github.com/ansible/tower/issues/3456

[2019-04-05 18:42] dsesami commented on #3607
Created a user and org and verified that at varying levels of permissions, the inventory sync failure count displays correctly.

[2019-04-05 18:42] #3607 closed, assigned to dsesami

[2019-04-05 18:53] cdeniro commented on #3318
Any udpate on this. I am seeing this failure quite frequently. Thanks

[2019-04-05 19:10] thechitowncubs commented on #58
You can goto /tmp/awxcompose and docker-compose down from there.

[2019-04-05 19:11] unlikelyzero opened #4215 "[awx-pf] Empty state helper text should be inclusive for users without ability to CRUD"
Instead of creating a new pattern in awx, we might want to establish the new pattern in `awx-pf`. If the user does not have capability to add a new user for example, we shouldn't show something like `PLEASE ADD ITEMS TO THIS LIST` (which is what we currently do). Instead of doing a permission check on every page, we might consider making a generic response.

[2019-04-05 19:17] wenottingham commented on #3621
This repo is for reporting bugs, not "getting started" support.

This is best discussed on the mailling list or IRC channel, see https://github.com/ansible/awx/#get-involved.

[2019-04-05 19:17] #3621 closed, assigned to nobody

[2019-04-05 20:09] AlanCoding commented on #3318
I attempted to replicate this myself - I set AWX_TASK_ENV to {"GIT_SSL_NO_VERIFY": "True"} and ran project updates. I found that the key _is_ present in job_env. This doesn't necessarily contradict what you said, because you mentioned that sometimes it is there and sometimes it isn't.

Some of what you say also looks a little bit like comments here: https://github.com/ansible/awx/issues/490

Since

[2019-04-05 21:13] unlikelyzero opened #3638 "Duplicate Entry Syntax validation does not apply on codemirror when using JSON"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Duplicate Entry Syntax validation does not apply on codemirror when using JSON

##### ENVIRONMENT
* AWX version: 4.0.0
* Operating System: macos
* Web Browser: firefox, chrome

##### STEPS TO REPRODUCE

1. Open up a codemirror form (i.e. host variable) and toggle to JSON
2. Make a duplicate entry (i.e. ```{ "host": "local",

[2019-04-05 21:14] unlikelyzero commented on #3638
@keithjgrant notes that this issue is likely a problem with our json parsing library

[2019-04-05 21:27] unlikelyzero commented on #3209
Verified:

- 10k lines
- Add new line in expanded view.  Appears on collapsed view and can be saved.
- Copypasta 10k lines in expanded view
- Delete new line in expanded view. Appears on collapsed view and can be saved.
- YAML/JSON toggle works on expanded view
- error validation sorta works on json mode https://github.com/ansible/awx/issues/3638
- error validation works on yaml mode https://githu

[2019-04-05 21:39] unlikelyzero opened #3639 "When using expanded view of a pop out, YAML -> JSON breaks modal"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When using expanded view of a pop out, YAML -> JSON breaks modal

##### ENVIRONMENT
* AWX version: 4.0.0
* Operating System: macOS
* Web Browser: Firefox and Chrome

##### STEPS TO REPRODUCE
1. Open an expanded pop out modal (i.e. Host Vars)
2. Enter an incorrect field (dupe values) to generate an validation modal
Note: 'spl

[2019-04-05 21:40] unlikelyzero commented on #3209
@dsesami once https://github.com/ansible/awx/issues/3639 is closed, we can close this ticket

[2019-04-06 00:38] Wicaeed commented on #2240
+1 for this, royally screwed my Friday :(

[2019-04-06 19:35] mnaberez commented on #173
[Supervisor 4.0.0](https://pypi.org/project/supervisor/) (PyPI package; supports Python 3.4+ and 2.7)

[2019-04-07 22:05] py-t opened #3641 "Cannot sync project from scm with different port"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

UI

##### SUMMARY
When I try to clone from my online git repository with a nonstandard ssh port and pubkey authentication, I am getting various errors.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: Compose
* Ansible version: 2.7.1
* Operating System: Ubuntu
* Web Browser: Irrelvant

##### STEPS TO REPRODUCE
Try to clone repo fro

[2019-04-08 02:28] dglinder commented on #2462
For what it's worth, I encountered this in our Tower installation too, Ansible 2.7.7, Python 2.7.5, except Tower 3.3.4: https://github.com/ansible/ansible/issues/50529#issuecomment-477309583) and none of the workarounds in that thread worked for us (e.g. using `ansible_python_interpreter`, etc).

Due to the size of our deployment, I needed to use the virutalenv settings and we finally found a (ugl

[2019-04-08 08:19] benapetr commented on #2949
This is also an issue in tower v 4.0.0

[2019-04-08 08:21] benapetr commented on #587
still broken in 4.0.0

[2019-04-08 13:46] J00MZ commented on #58
minor correction for those running with default [`docker-compose`](https://github.com/ansible/awx/blob/devel/INSTALL.md#docker-compose) setup:
`sudo docker stop  awx_task awx_web awx_memcached awx_rabbitmq awx_postgres`

[2019-04-08 14:34] kdelee commented on #3444
@Spredzy verified this with @beeankha , going to close

[2019-04-08 14:34] #3444 closed, assigned to beeankha, kdelee

[2019-04-08 14:46] kdelee commented on #171
@unlikelyzero UI elements were actually removed. I think we can close this issue now.

Ping me if you have more questions

[2019-04-08 14:46] #171 closed, assigned to chrismeyersfsu, AlanCoding, marshmalien, kdelee

[2019-04-08 15:01] wenottingham commented on #3641
What is the final URL passed to the git module?

[2019-04-08 16:16] Kickimanjaro opened #3642 "Docker Installation: permission error with credentials.py in awx_web"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

After running the install.yml playbook as a regular user, it will progress a bit then fail. When we run immediately following this failure with sudo it succeeds. If we just run with sudo in the first place it fails with an error in the awx_web logs: `PermissionError: [Errno 13] Permission denied: '/etc/tower/conf.d/

[2019-04-08 17:18] elyezer commented on #3355
I've checked all lists that the sorting feature was added and they are working as expected.

Thank you

[2019-04-08 17:19] #3355 closed, assigned to elyezer, marshmalien

[2019-04-08 17:19] dsesami commented on #3492
this is now resolved in devel.

[2019-04-08 17:19] #3492 closed, assigned to AlanCoding

[2019-04-08 17:20] Kickimanjaro commented on #3642
Issue appears to be related to how I called the install.yml playbook within my playbook. When run manually on the system, it works. My apologies.

If anyone wants to chime in to help out, though, this is the task that I had that seems to be the issue:
[code]

[2019-04-08 18:20] Spredzy opened #3644 "Find credential type given a credential"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

Given a credential `/api/v2/credentials/N`, with v1 we used to be able to find the accurate type by querying `credential.kind` which could be `aws`.

Now with v2, `credential.get_related('credential_type').kind` returns `cloud` and credential.get_related('credential_type').name` return `Amazon Web Services`. But there is

[2019-04-08 19:05] AlanCoding commented on #3644
You want to list all AWS credentials - `/api/v2/credentials/?credential_type__namespace=aws`

[2019-04-08 19:29] ryanpetrello commented on #3644
Yes, I think what @Spredzy is asking for is just a summary field on credential that tells you so you don't have to list everything and build the mapping (which I think is fair).  I'll tinker on this as it will be helpful to people migrating to `/api/v2/` in the near future.

[2019-04-08 19:31] SylvainMartel opened #3646 "Cannot save LDAP settings if Server URI ends with custom domain(i.e. not ending with com, net, org, etc)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: Centos 7
* Web Browser: chrome

##### STEPS TO REPRODUCE

1. Go to Settings -> AUTHENTICATION.
2. In the Sub Category drop-down, select LDAP.
3.  In the LDAP Server URI field, attempt to add a URI that

[2019-04-08 19:47] chrismeyersfsu commented on #3578
@grahamn-gr why the concern over virt mem rather than resident mem?
@grahamneville valgrind is going to have a large memory usage overhead. 230MB per-uwsgi process isn't abnormal. Are you able to get it to go much higher?

[2019-04-08 21:03] ryanpetrello commented on #3824
Blocked until performance plugin work lands.

[2019-04-08 21:04] Kickimanjaro commented on #3642
I was wrong that the problem was only with my playbook. I believe I have narrowed down the symptoms, at least, and updated the original post with reproducible steps that do not require my playbook which illustrate the problem.

[2019-04-08 21:19] grahamneville commented on #3578
Without Valgrind on our standard alone docker host we was able to get each of the uwsgi process (of which there are 5) up to 700MB of Res memory before they then restarted (I believe this is due to the max requests being set to 100 before reloading).

I don't understand why every click of the page the memory just continues to climb, that doesn't seem right.

With the K8s setup, we need to set memo

[2019-04-08 23:03] ryanpetrello commented on #3644
@Spredzy this work?

https://github.com/ansible/awx/pull/3647

[2019-04-08 23:25] mrmibrown opened #3648 "Configurable project_root for Each Project"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

The PROJECT_ROOT should be configurable for each project.  This includes SCM TYPE Git as well.

##### ADDITIONAL INFORMATION

[2019-04-09 13:25] jammcder opened #3650 "Limit inventories that a template can use"
##### ISSUE TYPE
 - Ability to be able to limit a subset of inventories that a template can run against.

##### COMPONENT NAME

 - UI

##### SUMMARY

Compensating security controls.
We have templates where we allow a user with a lesser level of privilege to launch things as a higher privileged user, even root, as long as we can ensure they can only do what we allow against the servers we allow.  T

[2019-04-09 13:27] jammcder opened #3651 "Create a smart inventory from another teams inventory"
##### ISSUE TYPE
 - Create a smart inventory from another teams inventory

##### COMPONENT NAME

 - UI

##### SUMMARY

Currently we can not create a smart inventory from another teams inventory even though we have the ability to view it.  It would be nice if we could do this.

##### ADDITIONAL INFORMATION

[2019-04-09 14:10] wenottingham commented on #3648
Why would PROJECT_ROOT need configured for SCM?

[2019-04-09 14:41] larsmaes opened #3654 "WARNING about json not serializable when using vaulted include_vars"
I have a playbook the includes a vaulted var and when running this task it show this warning:

[WARNING]: Failure using method (v2_runner_on_ok) in callback plugin
(<awx_display_callback.module.AWXDefaultCallbackModule object at
0x7f6cc3b97210>): u'dCMYn3s2rjew5j4Yf2FredPs3zPshbDg' is not JSON serializable

[2019-04-09 15:29] sujiar37 opened #3655 "Authentication - Azure AD - Org / Team Mapping"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
Is it possible to disable case sensitive for org / team mapping while the user is authenticated?

The email address needs to be exactly match. For example, once the user information has created after SSO and if the email address [ abc.def@test.com / ghi.jkl@test.com ] and mapping are like this, then it is failing t

[2019-04-09 16:29] wenottingham commented on #3651
Do you mean organization?

[2019-04-09 16:31] wenottingham commented on #3650
This is usually done with RBAC and promptable inventories. In any case, #2419 is the specific RFE.

[2019-04-09 16:31] #3650 closed, assigned to nobody

[2019-04-09 16:41] ryanpetrello commented on #3654
@larsmaes please edit or re-open this ticket using the template provided for AWX bug reports (the more details the better):

https://github.com/ansible/awx/issues/new?template=bug_report.md

[2019-04-09 16:41] #3654 closed, assigned to nobody

[2019-04-09 16:48] jammcder commented on #3651
Yes sorry for the confusion.  Here is the breakdown of the conversation that should make it more clear.

Our department is divided into two organizations, Engineering and UNIX, under the UNIX org is a team breakdown for the various groups we have.
Our Engineering org owns the "master" inventories and the UNIX ORG has the ability to view and execute against the inventories.
We want to maintain cont

[2019-04-09 17:34] chrismeyersfsu commented on #3578
@grahamneville I tried to reproduce a run-away memory leak and wasn't able to. It grew very slow.

* set `--max-requests=1000000`
* 2 browser tabs open; 1 on jobs page; 1 on a specific job
* Schedule job template to run every minute & curl the job template launch endpoint in a loop x 2 processes
* ` top -c -p $(pgrep -d',' -f uwsgi)` <-- =~ 150 max resident memory
[code]

* After 56,000 web reques

[2019-04-09 17:34] #3578 closed, assigned to nobody

[2019-04-09 17:52] ryanpetrello commented on #3824
@wenottingham do you think we actually want to target this given that our guidance will be “don’t leave profiling turned on”?

[2019-04-09 17:59] wenottingham commented on #3824
Given we are pulling from the event table, we have to make the grab-or-not decision explicitly anyway. Do we get it by accident now, or is it being excluded?

[2019-04-09 18:01] wenottingham commented on #3651
OK. Shortest workaround would be to precreate the smart inventory and delegate access to that, and let the team set their own host filter.

[2019-04-09 18:35] chrismeyersfsu commented on #3170
I don't think I get the full picture of what's going on here @daemenseth My gut tells me that Loop 4 should not print before Loop 5. But why are there Loop 4 prints? Is your playbook also doing an internal loop? Can you elaborate on the steps to recreate?

* How many hosts in your inventory
* Ansible fork value
* More of the playbook that is running
* It _looks_ like you are filtering the events f

[2019-04-09 18:39] kfattig commented on #3562
We have custom credential types injecting extra & env vars, and we need some way to display to users the name of the injected values.

We've tried using labels for this purpose, but they are capitalized by the UI.

This definition:
[code]

[code]

Leads to this in the UI:
![image](https://user-images.githubusercontent.com/23063964/55825833-61136500-5acc-11e9-9844-65f9e575e48a.png)

Allowing for a

[2019-04-09 18:50] ryanpetrello commented on #3562
@kfattig,

Is this what you're looking for?

[code]

![image](https://user-images.githubusercontent.com/214912/55826906-fca9d300-5ad6-11e9-801b-198299a79987.png)

[2019-04-09 18:50] #3562 closed, assigned to nobody

[2019-04-09 18:53] ryanpetrello commented on #3824
@wenottingham it's not _currently_ in the list today because the new `profiling_data` column won't be on `main_jobevent` until *after* @jladdjr's change merges.  Every column we export for `main_unifiedjob` and `main_jobevent` CSV is explicit:

https://github.com/ansible/awx/blob/devel/awx/main/analytics/collectors.py#L211

[2019-04-09 19:05] kfattig commented on #3562
@ryanpetrello Yep that covers us - wasn't aware it was already supported.

Thanks

[2019-04-09 19:12] wenottingham commented on #3824
Then I'd leave it out for now.

[2019-04-09 19:16] ryanpetrello commented on #3824
Let's come back and re-evaluate this w/ our Insights work later (I don't want to lose it in the unsorted bucket).

[2019-04-09 19:22] msilmser opened #3660 "RFE: Enhanced Webhook Notifications"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Customer would like to be able to configure more of the webhook notification:

- configure the HTTP method (most likely POST or PUT)
- body of the outgoing request
- configure authentication (basic auth being the most likely).

Currently, the ServiceNow API, it expects HTTP requests to be in a certain format with certain fields. Customer would like i

[2019-04-09 19:41] wenottingham commented on #3660
closing as a dup of #79

[2019-04-09 19:41] #3660 closed, assigned to nobody

[2019-04-09 19:48] perzizzle commented on #79
I would be interested in being able to control the http method, http body via a template, and authentication methods. Support submitted https://github.com/ansible/awx/issues/3660 for me.

[2019-04-09 19:50] #2526 closed, assigned to keithjgrant

[2019-04-09 21:03] one-t commented on #1963
Just wanted to mention, OPTIONS on the `/api/v2/metrics` endpoint indicates json is available, but it is not.

[2019-04-10 00:33] AlanCoding commented on #3141
https://github.com/ansible/awx/pull/3620

[2019-04-10 00:33] #3141 closed, assigned to nobody

[2019-04-10 00:34] AlanCoding commented on #3506
Sorry, I missed switching this issue to test when I merged that.

[2019-04-10 07:56] benapetr opened #3665 "When you add team to permission tab, team members are added instead of team itself"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When you add a team via permission tab after you grant some permissions instead of the team its members are added to permission list. This is very inpractical.

##### ENVIRONMENT
* AWX version: 4.0.0
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE
Click permissions for a template, add a team there, instead of team

[2019-04-10 10:58] Saurabh-Thakre opened #3666 "RFE: Add SNMP notification type in Ansible Tower"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Got a request from a customer for adding snmp notification type in Ansible Tower

[2019-04-10 11:17] javierg21 commented on #857
Hi. I am following this issue and after making the changes, AWX works. I am able to create job templates within my existing playbooks. However I am running them, I am not able to load the var files. See error:

PLAY [1.0 Will tell specific versions for cm] **********************************
TASK [1.0.1 Include Pre-Tasks] *************************************************
included: /var/lib/awx/proj

[2019-04-10 12:13] #3639 closed, assigned to keithjgrant

[2019-04-10 14:10] AlanCoding commented on #3665
The list will be updated, assuming you refresh the page.

[2019-04-10 14:24] AlanCoding opened #3668 "Add auditor_role for projects and inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Users with admin_role to a project do not have permission to see all the job templates that employ that project. Yet, organization auditor_role will get permission to view those templates.

If we were to add `auditor_role` to projects, then we would be able to surface this mechanism to users.

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method

[2019-04-10 14:31] jgarijo21 commented on #3304
If is a fresh install, just wait 5 minutes. Just refresh your browser. This happened to me in all test installations that I did (arround 5). I guess it needs some time to start all the containers

[2019-04-10 14:47] AlanCoding commented on #3600
There's more to it than just adding a menu which allows doing it. The display of permissions is not capable of representing these relationships in a meaningful way.

![Screen Shot 2019-04-10 at 9 29 16 AM](https://user-images.githubusercontent.com/1385596/55888705-dee37900-5b7d-11e9-8fdc-0d6aa267412d.png)

You can see the entry there which just reads "Member". This does not give any indication of

[2019-04-10 15:00] AlanCoding commented on #3577
Oddly, I'm not seeing this anymore. I will close this issue, and will re-open if they reappear again for some reason.

[2019-04-10 15:00] #3577 closed, assigned to nobody

[2019-04-10 15:19] jlmitch5 commented on #4205
As part of https://github.com/ansible/awx-pf/pull/156 401 authentication is checked based on an api response returning a 401 (instead of checking the cookie).  This works, but it does cause the UI to show the route before loading the login page for a split second.  There are a couple ways we can handle this:

- moving back to checking the cookie
- block rendering of the UI until the first api resp

[2019-04-10 15:27] keithjgrant commented on #3638
Not our library: this is the behavior of the native JSON parsing API in the browser. It’s unlikely we'll be able to do anything here to change this.

[2019-04-10 15:33] unlikelyzero commented on #3638
Note: not a regression and does not affect functionality (as far as I can tell)

[2019-04-10 15:34] #3209 closed, assigned to keithjgrant

[2019-04-10 18:24] kdelee commented on #3826
So far issues to address:

- [ ] `"profiling_data": {},` showing up in list view, should only see it in detail view
- [ ] `"profiling_data": {},` showing up for events other than `runner_on_ok`, `runner_item_on_ok`, `runner_on_failed`, `runner_item_on_failed`
- [ ] examine performance on jobs that run longer than 10 min + compare to w/o performance stats
- [ ] examine performance with many jobs ru

[2019-04-10 18:25] SylvainMartel commented on #2238
@ryanpetrello I'm more dabbler than dev, but I'll give it a look.

[2019-04-10 18:58] rooftopcellist commented on #1963
@one-t I have addressed that in this PR: https://github.com/ansible/awx/pull/3672/files  Thanks for pointing it out.

[2019-04-10 19:53] mabashian commented on #3567
Should be resolved by #3669

[2019-04-10 19:53] #3567 closed, assigned to mabashian

[2019-04-10 20:08] jladdjr commented on #3826
@kdelee - have a patch that should get the `profiling_data` field to show up when we want to and omit it otherwise. Tested locally and confirmed it fixes your first two points ^
https://github.com/jladdjr/awx/commit/5663599d08a8f06d83b930c4fd53462550e48fc5

[2019-04-10 20:21] #3644 closed, assigned to ryanpetrello

[2019-04-10 20:22] gamuniz opened #3677 "Add ability to prevent normal user's permission to create credentials."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

It would be nice to have the ability to toggle normal users ability to create credentials. Currently any normal user can create their own credentials.

[2019-04-10 21:01] wenottingham commented on #3665
This is expected behavior; it shows the list, and shows them as having access via their team (under team roles).

[2019-04-10 21:01] #3665 closed, assigned to nobody

[2019-04-10 21:01] wenottingham commented on #3666
Not planned.

[2019-04-10 21:01] #3666 closed, assigned to nobody

[2019-04-10 21:22] kdelee commented on #3826
Discussion with @ryanpetrello around what the use cases for this data are and how to use it yielded these points:

Comparing data from run to run of a playbook is highly subjective, because of the idempotent nature of (well) written playbooks running on live infra, tasks that may take a long time or use many resources in one run will not in another. Additionally, while CPU + memory usage may not b

[2019-04-10 21:32] msilmser opened #3679 "RFE: Allow reordering instance groups without having to remove and re-add them"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
- Customer request

- Customer would like to be able to set a "Default" IG for job template runs rather than individually specifying specific IGs to be available for job templates.
- This would set a "preferred" IG for job template runs, and only get distributed to a different instance group if the default was at max capacity.
- This comes from a job

[2019-04-10 21:37] jladdjr commented on #3826
Agree with @kdelee. While the feature does surface the data reported from the perf stats plugin (the original scope of the feature), as it stands the customer would have to go to pretty great lengths to actually take the raw data and make it actionable. I also think it's worth spending some more time thinking about how to we can take the data that's currently being returned and find a way to make

[2019-04-10 21:39] sivel commented on #3826
While we have many uses for this, the `cgroup_perf_callback` was written as a tool to diagnose customer performance issues.

[2019-04-10 21:40] jladdjr commented on #3826
Also, big +1 on note about tooling. Being able to easily source ansible-runner from a branch during standalone / cluster builds would really speed up the development cycle.

[2019-04-11 00:39] tvo318 opened #3680 "Text and link on license page needs updating"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The text and hotlink on the license page is awkward.

##### ENVIRONMENT
* Tower version: 3.5.0
* Tower install method: Eng GCE playbook (see: https://tower.ansible.eng.rdu2.redhat.com/#/jobs/playbook/37953?job_search=page_size:20;order_by:-finished;not__launch_type:sync)
* Ansible version: 2.7.10
* Operating System: Mac
* Web Browser: Chrome

##### STE

[2019-04-11 02:06] harrytruman commented on #1083
+1

[2019-04-11 10:20] AlKult commented on #3267
Hi,

New to this thread. I built a brand new docker-compose awx image (official) just earlier this week, and been banging my head against the wall ever since. Having read this thread, I seem to have the exact same issue and tried similar troubleshooting techniques, so I don't really have anything to contribute in terms of logs or troubleshooting. Therefore, just wondering if devs have made any fur

[2019-04-11 12:04] benapetr opened #3681 "Since 4.0.0 every result seems to increment "successful" jobs counter, even if it's failed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I start a 3 jobs and they all fail, counters for "successfull" jobs will increment by 3 as well as counter for failed jobs

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE
Launch any

[2019-04-11 12:05] benapetr commented on #3665
And how do you remove whole team from access list if you can only see its members and never the team? How do you change the team privileges? This as much not intuitive as it possibly could be.

[2019-04-11 13:29] DavidDessertine commented on #631
Hi same problem with sub-domain
I have many application behind nginx so I can't access my awx, have to tunnel.
[code]

[code]
Good if you have any workarround

[2019-04-11 13:30] AlanCoding commented on #3681
I cannot reproduce this. Did you set the projects for those job templates to update on launch?

[2019-04-11 13:53] ryan012880 commented on #3567
@mabashian thanks, just tested and it works!!

[2019-04-11 14:40] AlanCoding commented on #1421
I've been digging through some history, and it looks like the git requirements are not needed anymore, because of how this problem was resolved:

https://github.com/ansible/awx/commit/e5195032f697cb1fc538a5d8adec041a0bd2806d

[2019-04-11 15:28] unlikelyzero commented on #3606
Verified on your pr @keithjgrant . Do you wanna merge it?

[2019-04-11 15:34] jean-christophe-manciot opened #3684 "Creating awx containers with 3.0.1 or 4.0.0 prevents initial login with default admin/password"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
- **Creating** AWX containers with docker compose enabled at tag ```3.0.1``` or ```4.0.0``` prevents the initial AWX login (which appears fine) with default admin_user (admin) and admin_password (password); this means that all access is forbidden from the GUI.
- No such issue when **creating** awx containers with tags earlier than ```3.0.1``` with the

[2019-04-11 17:19] benapetr commented on #3681
yes, but there is 60 sec cache timeout and I don't see any extra scm jobs, for example today it shows 26 failed and 26 succeeded jobs:

<img width="354" alt="image" src="https://user-images.githubusercontent.com/1560121/55976962-ed20ba80-5c8d-11e9-8fd4-4e6d057856ce.png">

Here you can see minimized screenshot of all jobs I can see in jobs page (I made 2 screenshots because I don't know how to make

[2019-04-11 17:21] benapetr commented on #3681
Also I count about 30 jobs on that page, despite UI showing 26 success and 26 failed

[2019-04-11 17:21] benapetr commented on #3681
lots of these jobs are "cancelled" not sure if cancelled now count as successful?

[2019-04-11 17:39] kdelee commented on #3826
Note to future QE:
Should think about the implications for logging integration since the performance stats can generate a lot of lines of measurements for long running tasks, and we've seen evidence that some logging aggregators (Splunk) may have trouble with this.

[2019-04-11 18:43] #3680 closed, assigned to nobody

[2019-04-11 18:52] wenottingham commented on #3648
For manual projects, there could conceptually be a use case for "I want to attach a volume for automation", which might require some other mount point, although that doesn't seem like best practice. For SCM projects... this isn't likely to ever be configurable.

[2019-04-11 19:59] wenottingham commented on #3665
Clicking on the 'X' on a team role will tell you it's removing the role from the team. You can grant permissions to/from a team in batch on the team view.

[2019-04-11 20:09] wenottingham commented on #3826
Jumping on from a product standpoint - the goal in a later release is to find a way to visualize this data such that a user can make use of it, and use that to guide how it's stored in the API.

[2019-04-11 20:10] wenottingham commented on #3679
This is best done by setting the fallback IG as the first IG on the organization.

[2019-04-11 20:22] matburt commented on #3679
Ideally what you would do here is define an Instance Group at the Org level and then only override it on job templates that need to be targeted at something different. You can also set the IG at the inventory level.

The thing about this is that IF you override it at the job template it will *not* fallback to the Org or inventory group. This is by design... picking the wrong group here from an ove

[2019-04-11 20:24] matburt commented on #3679
You can see more details in the top section here: https://docs.ansible.com/ansible-tower/latest/html/administration/clustering.html

[2019-04-11 23:50] jamesmarshall24 opened #3687 "Clear Failed Host Status"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add a decay setting to host status or all admins to overwrite hosts marked as failed in inventory overview.

Currently the only way to clear the status is to either run a job where the host succeeds or delete the failed job.

[2019-04-12 02:20] wenottingham commented on #3687
This feature is (very nearly) deprecated and more likely to be removed than enhanced.

[2019-04-12 05:42] fredt34 commented on #857
Note to users landing on this page: the issue was **closed**, now you **just** have to uncomment this line in ./installer/inventory:

    ;project_data_dir=/var/lib/awx/projects

Then re-run ````ansible-playbook -i inventory install.yml ```` and you're done.

[2019-04-12 05:56] fredt34 commented on #778
Fixed, but the documentation is quite poor...

Now we just have to uncomment ````;project_data_dir=/var/lib/awx/projects```` in ````inventory```` and run ````ansible-playbook -i inventory install.yml```` again.

_This is probably obvious for those-who-know, but helpful for newcomers to Docker:_
If your system is already up and running, go to your docker_compose_dir, run ````docker-compose stop````

[2019-04-12 08:47] wagnewal commented on #1914
The same issue still exists in AWX version 4.0.0.0 !
Is there a chance that this issue get solved within next time?

[2019-04-12 09:12] jbrt opened #3688 "When did you plan to merge runnerpy3 branch ?"
##### ISSUE TYPE
 - Even with AWX 4.0.0, playbook execution based on fully python3 modules still fail
 - We need a runner fully compatible with Python 3

##### SUMMARY
I've tried an AWX installation with runnerpy3 branch and execution of 100% python3 module works perfectly. So, I'm wondering when did you plan to merge this branch into the core project ?

Regards,

[2019-04-12 09:16] wagnewal commented on #1914
By try and error I found out the error only happens if I select "...ActiveDirectoryGroupType" as LDAP GROUP TYPE.
I finally used "NestedMemberDNGroupType" against MS-AD and found out this works for me.

[2019-04-12 09:48] AnuradhaGangu opened #3689 ""pkg_resources.DistributionNotFound: The 'awx==3.2.8' distribution was not found and is required by the application""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to install Ansible Tower.
Followed the instructions at below link 👍 https://docs.ansible.com/ansible-tower/latest/html/quickinstall/install_script.html

Using the bundled download for tower ( free version)

##### ENVIRONMENT
* AWX Tower Version: 3.2.8-1.el7  (ansible-tower-setup-bundle-3.2.8-1.el7)
* Ansible version:  2.7.5
* Operating System: R

[2019-04-12 09:50] fculpo commented on #3345
Exact same issue here
Is there a way to configure the tz we want to use with db connection ?

[2019-04-12 09:59] daemenseth commented on #3170
* More then 100 hosts
* 50 forks
* yes we have this problem with the hole playbook but we just show you a bit of it
* Thats true. I hope that make this issue easyer to read.
* Full output is little bit difficult because there a lot of custumer server names in it. And custumers respects his privacy.
* With host_pinned and with Free strategy. We dont use the default strategy.

If you can see in the

[2019-04-12 10:43] nicolaibaralmueller opened #3690 "Microsoft Azure Resource Manager - Inventory bug"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Microsoft Azure Resource Manager inventory source cannot sync.
This has worked recently.

##### ENVIRONMENT
* Ansible version:  2.7.10
* Operating System: CentOS

##### STEPS TO REPRODUCE

Create Microsoft Azure Resource Manager credential.
Fill out subscription ID, username and password.
Create Microsoft Azure Resource Manager inventory source.
Selec

[2019-04-12 13:10] ryanpetrello commented on #3689
@AnuradhaGangu,

This repo is for reporting issues with the open source AWX project.  If you need assistance installing Ansible Tower, please reach out to your Red Hat support.

It's also worth mentioning that the Tower version you're attempting to install (3.2.8) is past EOL support, so you may want to try something newer.

[2019-04-12 13:10] #3689 closed, assigned to nobody

[2019-04-12 13:13] ryanpetrello commented on #3688
@jbrt,

Can you elaborate on what failures you're seeing?  The `runnerpy3` branch is old, `level` has our latest code.

[2019-04-12 13:20] NazNAzim opened #3691 "InsecureRequestWarning when update inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
 When I update inventories by my own script, all hosts are added but I have an error appearing : [ERROR]: /var/lib/awx/venv/ansible/lib/python2.7/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/

[2019-04-12 13:22] jbrt commented on #3688
@ryanpetrello

Sure: I made a couple of custom modules written in full Python3. With the stable release of AWX the main runner is only compatible with Python2 code (Python 3 specific syntax throwed a syntax error).
By using the code present on runnerpy3, this issue doesn't appear anymore.
So, I'm wondering when the main runner of AWX will can handle Python3 natively (or maybe I missed a tricks for

[2019-04-12 13:29] jbrt commented on #3688
Here is an example of AWX traceback (as you can see I used a custom virtualenv):

[code]

[2019-04-12 13:48] ryanpetrello commented on #3688
@jbrt the problem is that you're running your playbooks using a Python 2.7 virtualenv.  AWX itself runs under python3, but when it executes playbooks, it forks a process that uses a _separate_ py2.7 virtualenv by default (we made this decision because a lot of Ansible community content isn't quite _ready_ for py3 yet).

Have you set up a custom virtualenv with Python3 as described here?

https://g

[2019-04-12 14:09] jbrt commented on #3688
My bad ! My installation of psutil was not done successfully.
Sorry for this inconvenient.

Regards,

[2019-04-12 14:09] #3688 closed, assigned to nobody

[2019-04-12 16:03] msilmser opened #3693 "RFE: canceled_by field in activity stream"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add a `canceled_by` field in the activity stream to identify the user who canceled a job.

[2019-04-12 17:01] #3565 closed, assigned to nobody

[2019-04-12 17:05] wenottingham commented on #3691
Is it a self-signed cert? If so, this is expected.

[2019-04-12 17:55] ryanpetrello commented on #3691
@NazNAzim,

Also, are you running a custom inventory script that uses the Python requests library?  Are you using a custom virtualenv, or the default one provided by AWX?  Depending on your setup, you may need to follow the instructions at the link above to ensure that you've enabled certification verification:

https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl

[2019-04-12 22:39] jamesmarshall24 commented on #3311
@AlanCoding @mabashian I'm also seeing the same behavior with org admin and job templates. The toggle shows as disabled with the following:
- Notification template owned by Default org
- Project owned by Default org
- Inventory owned by Default org
- Credentials owned by Default org
- Job Template using the above owned objects
- "testuser" is set to org admin of Default

When you login as "testuse

[2019-04-13 00:20] AlanCoding commented on #3311
Resolved by https://github.com/ansible/awx/pull/3629

[2019-04-14 10:48] iturovsky opened #3699 "Job output is displayed with significant delay"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I start Job against significant number of hosts (4K), job output is displayed after delay (~ 2 hours).

##### ENVIRONMENT
* AWX version: 2.1.2.0
* AWX install method: docker on linux, SQL database is on separate host.
* Ansible version:  2.7.4
* Operating System: Debian 9.5
* Web Browser:
Chrome

##### STEPS TO REPRODUCE

Run playbooks against 4k

[2019-04-14 22:17] hiyokotaisa opened #3700 "RFE: Allow adding Job Template to Workflow Job Template Visualizer without prompt setting"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

In the Workflow Job Template Visualizer, we need to set prompt setting in advance when "Prompt on Launch" is enabled on Inventory for Job Template.

But those prompt setting will be ignored when specified Inventory setting on Workflow Job Template.

I'm also reffering the issue: #1731 but I cannot see the similar request on there.
It would be great

[2019-04-15 07:01] NazNAzim commented on #3691
@wenottingham No it is not. It is signed by my company's CA.

@ryanpetrello It is a python script using the requests library. I use the default venv provided by AWX. I did the modifications adviced by this doc and re-installed awx and restarted the dockers but I still have the error.

[2019-04-15 09:48] nicolaibaralmueller commented on #3690
This was fixed by updating ansible[azure] on the web task node in docker.

[2019-04-15 09:48] #3690 closed, assigned to nobody

[2019-04-15 14:01] #3606 closed, assigned to keithjgrant

[2019-04-15 14:02] unlikelyzero commented on #3606
Closing as it has been merged

[2019-04-15 14:19] lijok commented on #3642
Have you set selinux to permissive? (sudo setenforce permissive)

[2019-04-15 14:34] wenottingham commented on #3700
Apologies, this isn't clear to me. Are you saying you want to have a promptable configured inventory on a JT that is *not* overridden by the workflow-level inventory?

That's not currently in the plans, if so.

[2019-04-15 14:50] krentiken opened #3705 "awx_web and awx_task not running"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Error response from daemon: Cannot start container awx_web and awx_task
##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.5
* Operating System: RHEL 7.6
* Web Browser: Google Chrome 73

##### STEPS TO REPRODUCE

1) container start fails:

[code]

[code]

##### EXPECTED RESULTS

starting docker containe

[2019-04-15 15:25] kkniffin commented on #3267
Similar error when trying to run the inventory script from: https://gist.github.com/tkjaer/6d606b14d4413f7101b6eb6cc28c9e22

[2019-04-15 17:37] mabashian commented on #4205
Adding onto this issue something currently in awx-pf.  The `logged out` text on the login screen seems to be shown inconsistently.  I believe the expected behavior is that it should be shown after logout.  Currently it's being shown on load/refresh but not after logging out:

![logout](https://user-images.githubusercontent.com/9889020/56153186-8f3ced00-5f83-11e9-8b28-f2f0922753e5.gif)

@jlmitch5 i

[2019-04-15 18:50] 8Peter8 opened #3710 "awx_task failing to start: AWX_SETTINGS_FILE environment variable seems missing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx_task failing to start: AWX_SETTINGS_FILE environment variable seems missing

##### ENVIRONMENT
* AWX version: 4.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.10
* Operating System: Ubuntu 18.04.02 LTS on Windows Subsystem for Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE
ansible-playbook -i inventory install.yml
Wait for

[2019-04-15 19:14] sujiar37 commented on #3655
Are there any plans to implement this?

[2019-04-15 19:58] wenottingham commented on #3655
We're not looking at this currently, but we may in the future.

I would note that email addresses *are* generally case-sensitive, so turning off that part of the comparison could cause issues if it were done globally.

[2019-04-15 21:14] gamuniz opened #3713 "Organization based logging aggregation."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

In some cases it would be optimal to send specific organizations logging data to a specific splunk instance. This would be especially useful if logstash is unavailable as a logging method.

[2019-04-15 21:23] ryanpetrello commented on #3267
I'm able to reproduce a version of this with project updates in the dev environment by setting the default system as Python3:

[code]

![image](https://user-images.githubusercontent.com/214912/56166231-0b92f880-5fa3-11e9-89ea-f8ca592f03ff.png)

It seems to have something to do with the usage of `ansible_connection: local` and ansible using the _incorrect_ Python interpreter when `/usr/bin/python`

[2019-04-15 21:29] ryanpetrello commented on #3267
I _think_ this might be a symptom of https://github.com/ansible/ansible/issues/44173.  Digging...

[2019-04-15 22:36] wenottingham commented on #3713
Organization is not something that is tracked at the level of where logging is set, so this would require significant architectural changes that are not planned in the short or medium term future.