[2020-05-05 17:20] wenottingham commented on #4553
The simplest way to do this is (right now, without code changes) to remove the local users.

[2020-05-05 17:25] beeankha opened #6934 "In tower_job_template Module, Some Params Overridden with Null Values if Not Specified in Each Task"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Credentials, labels, and notifications (on start, success, error) get overridden with null values if stated in separate tasks when using `tower_job_template` module.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker for mac

##### STEPS TO REPRODUCE

Try to assign `credentials`, `labels`, `notification_templates_success`, `notificat

[2020-05-05 17:59] jlmitch5 commented on #6423
this has been tested and merged, closing (cc @dsesami just for a heads up)

[2020-05-05 17:59] #6423 closed, assigned to jlmitch5

[2020-05-05 18:00] jlmitch5 commented on #6111
this has been tested and merged, closing (cc @dsesami just for a heads up)

[2020-05-05 18:00] #6111 closed, assigned to jlmitch5

[2020-05-05 18:49] fvahid commented on #6933
@wenottingham project key and requiremnet repo key is same but still I have problem

[2020-05-05 19:34] dsesami commented on #6442
#6937 resolves this, as there is now an explicit way to search by description.

[2020-05-05 19:37] dsesami opened #6939 "Toggle visibility of descriptions in the Template List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
https://github.com/ansible/awx/issues/6442 was about being able to search by template description (which is functionality that was available in the old UI). This is about trying to figure out the UX behind displaying the descriptions for templates in the JT list itself, whether through a visibility toggle or otherwise. It's something that should at l

[2020-05-05 19:55] neb14 opened #6941 "Allow for docker logging drivers"
##### ISSUE TYPE
 - Currently the local install using docker compose always defaults to jsonlog.  This will allow for other docker logging drivers to be utilized

##### SUMMARY
I created https://github.com/ansible/awx/pull/6938 to allow for this functionality.

[2020-05-05 22:10] elyezer commented on #5484
I was able that the reported issue is now fixed. Did the following to verify it:

1) Created a Project that synced https://github.com/RedHatInsights/insights-client-role.git
2) Created a JT that was linked to the project created on 1 and specified `tests/example-insights-client-playbook.yml` as the playbook to run
3) Launched the job and the role was properly run. The job has failed since the user

[2020-05-05 22:10] #5484 closed, assigned to elyezer

[2020-05-05 22:17] keith6014 commented on #3879
would be great if it worked without the subdomain.

[2020-05-05 22:22] AlanCoding commented on #6878
this should be ready for verification after next downstream merge finishes

[2020-05-06 00:14] jladdjr commented on #6823
Closing per https://github.com/ansible/tower/pull/4269#issuecomment-624326378

[2020-05-06 00:14] #6823 closed, assigned to jladdjr

[2020-05-06 02:45] geerlingguy commented on #578
I have been bumping into this feature's necessity more often, as I'm trying to do more CI work around testing my Tower content. I'd really like to be able to test job templates in one environment, then promote them to another, ideally via source control.

I've followed that pattern using Jenkins pipelines with `Jenkinsfile`s, and it would be really awesome if I could do something similar, but with

[2020-05-06 04:15] luckylittle commented on #1632
Please note few points about this issue:
* When you just go to **Projects** - **[Project]** - **Get latest SCM revision**, it actually skips detection of `roles/requirements.yml` and as mentioned by @wenottingham it is expected behavior.
* However when you have a **Template** that uses this **Project**, it detects the requirements and downloads them if you run that job (and when **Update revision

[2020-05-06 05:51] macau23 commented on #6889
I didn't actually test this, I only tested if the API saw the change. I will check.

Doesn't the ansible playbook do this when I re-run it?

[2020-05-06 07:11] bushvin commented on #6478
Hi @ryanpetrello @nitzmahone @jborean93
Is there any progress on this?

[2020-05-06 07:35] jladdjr commented on #6821
Added in https://github.com/ansible/tower/pull/4298

[2020-05-06 07:44] #6758 closed, assigned to jladdjr

[2020-05-06 10:15] benapetr opened #6944 "Progress bar for task"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It would be great if AWX could show some kind of progress bar for how many tasks out of expected tasks were executed. This may not be easy to implement as many ansible playbooks don't have predetermined set of tasks, but they vary based on some variables, but still would be cool.

Example:
You run some task on 20 servers, AWX calculates this task wil

[2020-05-06 11:09] viewmithun commented on #6667
Thanks for the response.
I deleted all the Notification templates and configured a new Notification Template.
I am still facing same issue.

Here is the slack notification I got,
Project Update #42 'Deploy GitHub Playbooks' successful:
https://**examp.com**/#/jobs/project/42

Logs:
awx=# select * from main_notificationtemplate;
 id | created | modified | description | name | notification_type | no

[2020-05-06 11:36] benapetr opened #6945 "Ignore warnings option for job templates"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Toggle that allow you to suppress all or certain warnings that Ansible normally generates, easily available from job template so that user is not required to mess up with ansible.cfg to suppress them

[2020-05-06 11:44] benapetr commented on #2350
Just a hint for developers - I've seen another project solved this in a very elegant way that didn't require so much coding, they simply allowed slash to be part of item name, so internally all items were all stored in one place, but UI was grouping them according to their prefix. So that in database you would have items called

folder1/task
folder1/b
folder2/c
test

And UI would build the hierarc

[2020-05-06 12:31] AlanCoding commented on #6945
Seems like we would prefer to just expose the whole set of config options as a documented menu in the UI

https://github.com/ansible/ansible/blob/devel/lib/ansible/config/base.yml

Would still need RBAC, in the sense a JT admin should be able to change all settings

[2020-05-06 13:29] elyezer commented on #5137
I've tried to reproduce this with changes added by https://github.com/ansible/awx/pull/6943 and I was not able to reproduce, here is what I've done:

Created two schedules one for a JT and another for a WFJT. Both schedules were configured to run every minute and I waited at least 5 minutes to get them to run at least 5 times. Then I tried to delete the schedules, one via the schedules page and an

[2020-05-06 13:29] #5137 closed, assigned to elyezer, AlanCoding

[2020-05-06 13:37] unlikelyzero commented on #6442
@dsesami can we just add a test for search by name and a separate test for search by description?

[2020-05-06 13:38] dsesami opened #6946 "Some combinations of default values for multi-select surveys fail validation in the UI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With multi-select survey questions, there's validation done to ensure that the default values are valid (that they are in fact options in the list of choices available). Certain combinations fail this validation, even though they are valid. Example:

Options list:
[code]

If you use default values of:
[code]

the validation passes. However,

[code]
fai

[2020-05-06 13:41] dsesami commented on #6442
@unlikelyzero absolutely; they should be separate tests.

[2020-05-06 14:26] lerminou opened #6947 "AWX cannot send mail to smtp office 365"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker
* Ansible version:  2.9
* Operating System: Centos 8
* Web Browser: any

##### STEPS TO REPRODUCE

Create a new mail notification
 check the option TLS
fill smtp.office365.com port 587 and set a username and password
   anonymous login is forbidden
try testing it

##### EXPECTED RESUL

[2020-05-06 14:52] beeankha commented on #6934
Closing this issue, due to PR https://github.com/ansible/awx/pull/6942 getting merged.

[2020-05-06 14:52] #6934 closed, assigned to beeankha

[2020-05-06 17:17] kedark3 commented on #578
@wenottingham @geerlingguy I have been using https://github.com/kedark3/ATCasC - Ansible Tower Configuration as code within my Team (Satellite) to keep version controlled Job/Workflows, and using GitLab CI pipeline to promote them to test Tower->prod Tower. Ping me if you're interested to learn more about our process.

[2020-05-06 18:06] gforster opened #6951 "Unable to run `git describe` on localhost for current running template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

git commands for currently used repo are unavailable. Unable to run `git describe` on localhost for current running template

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: openshift
* Ansible version:  2.9.1
* Operating System: RHEL 7.6
* Web Browser: firefox

##### STEPS TO REPRODUCE

Run the following tasks:
  - name: get last git tag

[2020-05-06 18:41] wenottingham commented on #6951
We make a copy of the repo for playbook execution; it may not be able to be treated as a live repo.

What automation decisions/tasks are you using this information to inform?

[2020-05-06 18:42] jladdjr commented on #5571
Got side-tracked, poking at this now.

[2020-05-06 19:06] fosterseth commented on #6923
sometimes the inventory source file will show a file that doesn't exist in that project and branch -- which gives the error you posted

e.g.

inv1 source file selected
change filename from inv1 to inv2 in git branch and run project update
go back to inventory source and click drop down menu. It will show inv2, but also inv1 (even though inv1 no longer exists in this project branch)

if you click i

[2020-05-06 19:42] ryanpetrello commented on #6889
If you mean the install playbook, I'd expect it to.

What stands out to me is that your API endpoint was reporting `1800`, which doesn't match what you put in `awx/awx/settings/local_settings.py`, so I suspect there's just some slight mistake or misconfig here.  Just updating the API directly is really the most foolproof way of adjusting this value.

[2020-05-06 19:49] dsesami commented on #6573
since sync functionality is covered elsewhere, closing this one out officially and wrapping up testing there + the add form once that is ready.

[2020-05-06 19:49] #6573 closed, assigned to dsesami, AlexSCorey

[2020-05-06 19:57] kdelee commented on #6821
working on adding a test using the example:

[code]

[2020-05-06 20:05] kdelee commented on #6821
This is working as expected and I've got a PR up for regression testing. Closing

[2020-05-06 20:05] #6821 closed, assigned to jladdjr, kdelee

[2020-05-06 20:28] gforster commented on #6951
In doing a server build, I need to create a set of local facts, the most important being the version of the build, which is equal to the git tag. This allows me to treat servers appropriately based on the version of the Ansible playbook that provisioned them. This works wonderfully well in Ansible engine.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-06 20:43] jladdjr commented on #5571
I believe I'm able to reproduce this. Followed steps given in description and found that an inv source with  59 hosts and another one with 971 yielded an inventory that reported a total of 1023 hosts (instead of 1030).

I got a list of hosts from each inv. source and, sure enough, found seven ids present in both list. When I look for the associated hostnames of the instances, I can only find them

[2020-05-06 20:48] jladdjr commented on #5571
While I haven't confirmed this, my guess would be that this is not foreman-specific.

[2020-05-06 20:59] ryanpetrello commented on #5571
cc @blomquisg for your awareness, we *suspect* this isn't actually related to the Satellite plugin at all, but may actually just be indicative of a long-standing bug that's likely unrelated to any _recent_ AWX change.  I'm gonna dig into this a bit w/ @jladdjr and see if we find any clues.

[2020-05-06 23:14] radioactive73 opened #6956 "Decouple serialization for SCM and Inventory updates"
ISSUE TYPE
 - Feature Idea

SUMMARY
Decouple serialization for SCM and Inventory updates - I have so many jobs running from AWX now and some are long running (up to 2 hours), that an SCM or Inventory update can cause significant bottlenecks.

The SCM / Inventory update itself doesn't take long but if it get's kicked off while a long running job is active then it get's queued, and because it get's

[2020-05-07 02:31] vlours opened #6957 "Missing run of "update-ca-trust extract" when the variable "ca_trust_dir" is setup in the installer"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I've been facing the error "_SSL certificate problem: unable to get local issuer certificate_" when adding a custom certificate used by a GIT (bitbucket) repository.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: openshift
* Ansible version:  2.9.5
* Operating System: awx-task is running `CentOS Linux release 8.1.1911 (Core)`
* Web Brow

[2020-05-07 02:35] wenottingham commented on #6956
What version of AWX are you on? Both of these have been decoupled in more recent versions.

[2020-05-07 04:07] imlight opened #6958 "Test option in the credential section"
##### ISSUE TYPE
 Test option in the credential section

##### SUMMARY
I think having a test option when we add credentials of any type in Ansible AWX/Tower will be very handy .

For example , If one adds Azure creentials or AWS credentials , having a option to test if those credentials work fine will be very handy.

I am thinking something similar on this line

https://octopus.com/docs/infrastruc

[2020-05-07 07:11] prbinu commented on #6905
Hi @ryanpetrello,

My knowledge about AWX is limited, so I would rely on the AWX team. The way I see this is similar to a CICD system where the jobs are initiated by - (a) users (CLI or WebUI), (b) triggered by a Git commit, (c) by a cron job etc. This also includes job pipelines. All I'm saying is there should be a way to propagate who initiated the job, and it doesn't have to a user. The ability

[2020-05-07 07:21] macau23 commented on #6889
I should use the web interface to update the value rather than using Ansible? 😲

[2020-05-07 08:45] michalss opened #6959 "Add prompt to all credential types"
##### ISSUE TYPE
Problem with awx is security. I dont understand why prompt is only on machine credentials.

##### SUMMARY
Please add prompt possibility on all credential types like it is on machine type. I don't get the point why this is only on machine type and not on all of them. Most of the time i need it for vmware but it would be very usefull for any kind of credential, for sure.

[2020-05-07 08:48] michalss commented on #6959
or at least to add this option to custom credential types.

[2020-05-07 09:03] daniego commented on #885
Also here are some useful custom message examples that would be great have in the documentation

HTTP HEADERS
[code]

Start Message Body
[code]

Success Message Body
[code]

Error Message Body
[code]

[2020-05-07 11:16] mareckis commented on #6892
@blomquisg @emonty @ryanpetrello
Any solutions that would make it happen to work?

[2020-05-07 11:30] mareckis opened #6961 "Provisioning Callback API, POST message without the application/json header"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have a network device that I would like to provisiong from which I would like to push the POST message to the job which has a callback URL to trigger the job. The device in fact has a curltool which doesn't have a lot of features/parameter to define:

         -r Request     : Send a GET or POST request
         -u URI : Uniform Resource Identifier (

[2020-05-07 13:15] ryanpetrello commented on #6889
@macau23

I suspect there's something wrong the inventory/install path.  I'm trying to determine if the issue is properly *setting* the config value, **or** whether or not AWX is *respecting it*.  Based on your comments, it seems clear that setting it via the API *actually* changes the value, so I'm trying to figure out if you still see the issue if you set it via the API.

[2020-05-07 13:22] emonty commented on #6892
So - that looks like ``private: true`` is being set somewhere. If you look at the things you highlighted, you see that we did detect ``public_v4: 10.0.0.147``. But ``interface_ip`` and ``accessIPv4`` are both set to ``192.168.100.11``. The only thing that causes that is for ``private: true`` to be set in the cloud definition. This is the relvant sdk code:

[code]

I'm not sure where all to tell yo

[2020-05-07 13:24] ryanpetrello commented on #6892
@mareckis,

Can you try on the latest version of AWX?

When I tried this last week and set the `private: false` as a source var on the inventory source, it was properly respected and generated the `clouds.yaml` in the way @emonty described:

https://github.com/ansible/awx/issues/6892#issuecomment-621988063

[2020-05-07 13:29] ryanpetrello commented on #6913
Hey @abennani31,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-05-07 13:29] #6913 closed, assigned to nobody

[2020-05-07 13:51] ryanpetrello commented on #5571
I can _also_ reproduce this, and I agree that this probably isn't specific to the sat6 inventory plugin, but is likely a pre-existing bug in AWX itself related to simultaneous inventory syncs.  I tried to reproduce this by making two *distinct* inventories, each pointed at the two sources that @jladdjr has.  Then I ran the distinct syncs individually:

[code]

Next, I created an inventory that use

[2020-05-07 14:32] imareporter opened #6962 "Check External PostgreSQL Server Version Before Proceeding with Install/Upgrade"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When installing/upgrading AWX, an user is requesting that a check be done on external PostgreSQL servers to ensure that the system requirements are being followed. In later releases of AWX, PostgreSQL 10 is now required (https://github.com/ansible/awx/blob/devel/INSTALL.md#system-requirements), instead of PostgreSQL 9.6, which was used up to 11.0.0

[2020-05-07 15:24] wenottingham commented on #6959
Prompt for manually entered values is only for things that are passed via expect to the playbook launch.

You can prompt for any predefined whole credential.

[2020-05-07 15:43] pythonwood opened #6963 "hang on ** TASK [local_docker : Start the containers] **"
##### ISSUE TYPE
 - Bug Report

[code]

##### SUMMARY

no any output   untill <crlt + C> . ( I had waited for  1 hour)

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method:  ocker on linux (local)
* Ansible version:  2.9.7      python 3.6.8
* Operating System:  ubuntu 18.04
* Web Browser: None

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory install.yml -vvvv`

##### EXPECTED RES

[2020-05-07 16:03] ableischwitz commented on #371
Bumping, is there still any activity for this RFE?

This would greatly improve the usability within bigger environments with lots of hosts reported by a smart-inventory.

[2020-05-07 17:02] pvik opened #6966 "Allow Host Description to be populated on Inventory Import"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently when inventory is being populated from a custom script, the Host description is always 'imported'.

![description always imported](https://i.imgur.com/Rsds4DP.png)

It would be nice to specify this to something else, during the import process itself.

Say, if there is a `description` field present in the JSON payload, use that to populated

[2020-05-07 17:33] joreast commented on #20
+1

[2020-05-07 18:45] wenottingham commented on #371
If/when work starts, you'll see it here.

[2020-05-07 18:47] wenottingham commented on #6966
See https://github.com/ansible/awx/pull/6265

[2020-05-07 18:54] pvik commented on #6966
thanks!
Closing this issue.

[2020-05-07 20:13] wenottingham commented on #6793
Updated title to aid searching.

[2020-05-07 21:51] beeankha commented on #6828
Closing this issue, due to PR https://github.com/ansible/awx/pull/6964 getting merged.

[2020-05-07 21:51] #6828 closed, assigned to beeankha

[2020-05-08 01:56] pythonwood commented on #6963
solved.

[code]

as the inventory file say

[code]

ansible-playbook -i ./inventory install.yml

again ok

[2020-05-08 01:56] #6963 closed, assigned to nobody

[2020-05-08 07:19] wilkis3 commented on #6598
@chrismeyersfsu @Cartman25
We didn't find any awxcompose directory. And we're also use RabbitMQ currently.
An AWX upgrade to the version 10.0.0, 11.0.0 or 11.2.0 won't solved the problem.

[2020-05-08 07:39] Cartman25 commented on #6598
@wilkis3

/!\ RabbitMQ is no more in AWX, i made the upgrade to AWX with REDIS and it worked well
--> https://groups.google.com/forum/#!topic/awx-project/lRnm2vB1oEQ

[2020-05-08 08:21] angystardust commented on #553
as AWX/Tower doesn't support boolean in surveys yet, do I need to convert my variable to a string and evaluate for a matching string, right?

[2020-05-08 13:21] ryanpetrello commented on #6961
Do you know the actual HTTP server error returned (I assume an HTTP 400?)

It's worth noting that if a job is successfully launched, you'll get back an HTTP 201, not a 200.  I've tried this with curl without explicitly specifying a `Content-Type` header, and it seems to work fine for me:

[code]

[2020-05-08 14:24] bandwiches opened #6970 "Assert Evaluating False, Should be True"
##### ISSUE TYPE
 - Assert module evaluating incorrectly.

##### SUMMARY

[code]

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker
* Ansible version:  2.9
* Operating System: Ubuntu/Docker
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Register variable
2. Use assert module
3. See error

##### EXPECTED RESULTS

Expected the assert module to evaluate to true.

##### ACTUAL

[2020-05-08 14:28] ryanpetrello commented on #6970
Hey @bandwiches,

This is the issue track for the AWX project, not Ansible itself.  You might want to reach out on the Ansible mailing list or IRC room for issues with Ansible.

[2020-05-08 14:28] #6970 closed, assigned to nobody

[2020-05-08 14:30] bandwiches commented on #6970
Thank you sir!

[2020-05-08 15:47] nixocio opened #6971 "Raising warnings when deleting Workflow Job template using Details page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Deletion of `Workflow Job Template` or `Job Template`  in details page is raising the following warning:

[code]
##### STEPS TO REPRODUCE
Go to `Workflow Job Template` and delete a template. Look the console logs.

##### EXPECTED RESULTS
No warnings to be raised.

Possible solution:

https://github.com/ansible/awx/blob/602f2951b9fcecc668ee6d9d009b33eb9

[2020-05-08 16:21] AlexSCorey opened #6972 "Support searches for resource name/type on User -> Roles tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There is a PR #6968 up for User Access List, which allows the user to search by Resource role.  However, it would also be good to allow the user to search by Resource Type and Resource Name.

[2020-05-08 16:34] AlexSCorey commented on #4969
#6864 and #6865 are blocked until those lists get put in.

[2020-05-08 16:34] AlexSCorey commented on #6864
Blocked until Inventory Scripts list goes in.

[2020-05-08 16:35] AlexSCorey commented on #6865
blocked until Notifications list goes in.

[2020-05-08 17:16] wenottingham commented on #6933
What do you mean by "add ssh private key to docker file"? That's not how this is done; you need the key to be the SCM credential used for the project.

[2020-05-08 17:21] ryanpetrello commented on #6918
Perhaps our docs are unclear?

If you're just using our official builds, you don't need npm/node on your host machine.

It sounds like you got everything installed and working?

[2020-05-08 17:34] dsesami opened #6973 "Saving a new JT with webhooks enabled in certain conditions causes incorrect behavior"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Visit a new JT form. If you fill it out and enable webhooks, but don't choose a service (github or gitlab), then saving the form will 200, but the page won't redirect and will show an error about an 'id' of 'undefined'. Because the 200 went through, a second click will say that the JT already exists.

This bug should be fixed by either defaulting to gi

[2020-05-08 17:49] #6742 closed, assigned to nixocio, dsesami

[2020-05-08 18:38] wenottingham commented on #553
Correct.

[2020-05-08 19:08] tessier-marc opened #6976 "Missing external logging deactivation message with actor"
##### ISSUE TYPE
 - Forensics data in external logging is incomplete, as the disabling of external logging doesn't send a message with the actor and timestamp of the action that disabled external logging

##### SUMMARY
When disabling External Logging, no message is logged on the activity stream log.  While it is easy to notice that logging is disabled from a lack of message in the external logging

[2020-05-08 19:24] ryanpetrello commented on #6976
@tessier-marc this is almost certainly going to be a race condition related to how logs actually get shipped - the way that the external log aggregation works is that when you turn it *off*, the background service (`rysyslogd`) that ships logs exits and stops running.  It's likely that it's being terminated *before* rsyslogd actually ships the message representing the disablement.

If you want to

[2020-05-08 19:24] #6976 closed, assigned to nobody

[2020-05-08 19:33] tessier-marc commented on #6976
This is not a current possibility of our SIEM system and while possible for our Ansible tower team, will not be available to our security incident response team.

[2020-05-08 19:36] marshmalien opened #6977 "Project lookup shows a required error message when field has a value"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Project field displays error message "Select a value for this field" when the field has a project value. The project field validation runs and the error message disappears only after firing an onBlur event by clicking on the page.

Note: The validation behavior is correct on the Inventory lookup.

![proj bug](https://user-images.githubusercontent.com/1

[2020-05-08 19:57] radioactive73 commented on #6956
I missed that in the release notes, I'll test the latest version (next week hopefully) and see if it's still an issue but based on the descriptions it looks like both issues were resolved. Actually, I only found the inventory sync in the release notes but found an issue that was merged for SCM.

[2020-05-08 20:04] wenottingham commented on #6956
OK, closing. Reopen/file a new issue if you hit something.

[2020-05-08 20:04] #6956 closed, assigned to nobody

[2020-05-08 20:07] ryanpetrello commented on #6976
@tessier-marc are you running AWX or Ansible Tower?  This issue tracker is for the upstream AWX open source project, not Red Hat's product.

[2020-05-08 20:26] Warkdev opened #6978 "[Disabling host from imported inventory]"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hello, when working out with manually created inventories in Ansible Tower, we're able to disable hosts by using the mini-slider on-off. I was wondering if there was any syntax which would allow the same behavior when importing an inventory from any Source control repository ?

Thanks.

[2020-05-08 20:39] wenottingham commented on #6978
SCM_ENABLED_VAR/SCM_ENABLED_VALUE in settings. You may have to do this via a python file in the container.

[2020-05-08 20:39] #6978 closed, assigned to nobody

[2020-05-08 22:05] tessier-marc commented on #6976
Ansible Tower, I was refered here to open a feature request by Redhat following a case as they say this behavior came from upstream in the AWX project.

[2020-05-09 12:16] fvahid commented on #6933
@wenottingham thank you for reply, I mean we can create ssh private key inside /root/.ssh/id_rsa inside awx_task container ,, so it's no good idea to do that . so I added key into SCM credential section but my problem not resolve. as you know for pull and clone project git repo I used SCM git credential type and use ssh private key because for clone project I use git://reponame url , but for clone

[2020-05-09 12:25] fvahid commented on #6933
Here is error when ansible awx can't download requrirements.yml
Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/main/tasks.py", line 1227, in run self.pre_run_hook(self.instance, private_data_dir) File "/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/main/tasks.py", line 1797, in pre_run_hook sync_task.run(local_project_sync.id) File "/var/l

[2020-05-09 13:11] abennani31 commented on #6918
Hello,
Yes every thinks is working. I saw later that npm/node are marked in https://github.com/ansible/awx/blob/devel/INSTALL.md#prerequisites

Perhaps, you have to remove it from prerequisites?

Regards,

[2020-05-09 15:54] xyker opened #6981 "'Kubernetes: Migrate Database' Fails with Permissions Errors"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using the Openshift install method with an external Postgresql 10 database, the "Migrate database" step fails within the Kubernetes role with a permissions denied error: "ValueError: Unable to configure handler 'dispatcher': [Errno 13] Permission denied: '/var/log/tower/dispatcher.log'", "command terminated with exit code 1"]"

##### ENVIRONMENT
* AWX

[2020-05-09 16:10] angystardust commented on #553
Thanks @wenottingham. Anyway, if I filter the extra-variable passed by the awx survery with the bool filter, my playbook should be able to evaluate it correctly, isn't it? :thinking:

[2020-05-10 12:51] sangrealest commented on #6792
@Naf3tsR  Thanks, it works for me. I'm using the 11.2.0 version, still has the issue.

[2020-05-11 00:18] prbinu commented on #6905
Does it help to keep this as a feature request?

[2020-05-11 04:37] YakShavingCatHerder opened #6982 "UI - 500 error on Recent Job Runs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Clicking on any job from `Recent Job Runs` returns a 500

##### ENVIRONMENT
* AWX version: `10.0.0`, `11.0.0`, `11.1.0`, `11.2.0`
* AWX install method: `docker on linux`
* Ansible version:  `2.9.7`
* Operating System: `Ubuntu 18.04`
* Web Browser: `Chrome 81.0.4044.138 (Official Build) (64-bit)`

##### STEPS TO REPRODUCE
- Fresh install via README meth

[2020-05-11 07:44] dolgovas opened #6983 "awx.awx.tower_host trouble use from NOT awx server (where pyyaml not installed)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

awx.awx collection does not work correctly
##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: macos
* Web Browser: Firefox

##### STEPS TO REPRODUCE

add hosts via playbook through awx.awx.tower_host
tower_cli config
[code]
inventory
[code]
playbook adding hosts
[code]
##### EXPE

[2020-05-11 07:58] craph commented on #5064
@ryanpetrello @rebeccahhh any news about this subject ?

[2020-05-11 08:33] benapetr opened #6984 "AWX login implementation never triggers "Save this password" event in Firefox"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When you login to AWX it's done via some kind of JS hack I guess, that is completely invisible to  firefox and the browser doesn't even know that you triggered the login event (despite it recognizes the login form and allows you to re-use credentials from other websites). However it never ask you to  remember or update the password, making it necessary

[2020-05-11 12:54] viewmithun commented on #6667
@fosterseth,
Please let me know, if you have any other workaround in this regards.

Thanks,
Mithun

[2020-05-11 13:09] rupeshrvk opened #6985 "Uninstall windows package script is running perfect but not installing the package"
ansible --version 2.9.7
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.17 (default, Apr 15 2020, 17:20:14) [GCC 7.5.0]

- name: Uninstall  packages
  hosts:

[2020-05-11 13:13] AlanCoding commented on #6983
When you ran the command `cat ~/tower_cli.cfg`, where did you run that? From your own machine, or from the "awx" server?

From the looks of what you're doing, maybe the task should be `delegate_to: localhost`. That makes sense if your networking allows your computer access to the server via the normal ports for the API and UI to work.

The config is read from wherever the task is ran. It looks lik

[2020-05-11 13:19] dolgovas commented on #6983
from my own machine, which has tcp access to awx server

some later i'll try play this things again with `local_action`

[2020-05-11 13:26] dolgovas commented on #6983
file on my machine
[code]
playbook
[code]
result
[code]

[2020-05-11 13:56] sub6as commented on #1284
damn, I was hoping this was a thing already, nevermind.

+1

[2020-05-11 13:57] mgperry1 opened #6986 "Credential CyberArk AIM with certs Timeout, Non-Cert works"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Credential CyberArk AIM with certs Timeout, Non-Cert works.
We are able to use CuberArk AIm credentials and pull password, however when we try to add Key Cert to the call the process hangs and times out.

##### ENVIRONMENT
* AWX version: 9.2
* AWX install method:  docker on linux
* Ansible version:  2.9.3
* Operating System: Red-Hat 7.7
* Web Browser:

[2020-05-11 13:57] AlanCoding commented on #6983
Could you try `~/.tower_cli.cfg` instead of `~/tower_cli.cfg`? The former is what we have in the README.md.

[2020-05-11 14:53] falcon78921 opened #6987 "job"

[2020-05-11 14:53] #6987 closed, assigned to nobody

[2020-05-11 14:55] dolgovas commented on #6983
[code]
something interesting ))
[code]

[2020-05-11 15:08] AlanCoding commented on #6983
https://github.com/ansible/awx/blob/6b21f2042b6b47edb10c694282a0345818ca2f25/awx_collection/plugins/module_utils/tower_api.py#L152

Yeah, looks like the error handling catches things in the wrong order

[2020-05-11 15:42] wenottingham commented on #6933
You can't do this. It needs to be ssh for both, using the same key.

[2020-05-11 15:42] #6933 closed, assigned to nobody

[2020-05-11 16:10] xyker commented on #6981
I can also confirm that the same permissions error occurs when using the included containerized postgresql database.

[2020-05-11 17:47] DanielFarrarCO opened #6990 "Windows 2016 Openssh - xml.etree.ElementTree.ParseError: not well-formed (invalid token)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running Windows native modules on Win2016 server with OpenSSH (key or password auth) (cmd or powershell types) AWX reports an error: "Unexpected failure during module execution...  The error was: xml.etree.ElementTree.ParseError: not well-formed (invalid token)".  When I run the command directly from the docker container awx_task using ansible-pla

[2020-05-11 17:53] wenottingham commented on #6985
This repo is for issues with awx itself; this looks to be an issue with your playbook. You're best off talking to the ansible project itself via IRC or the mailing lists as noted here: https://docs.ansible.com/ansible/latest/community/index.html

[2020-05-11 17:53] #6985 closed, assigned to nobody

[2020-05-11 18:04] andy812 commented on #6982
I've got the same error. I think, i found some problems in database. My job id is 145:
`select * from main_jobevent where job_id=145 and event='playbook_on_start';`
2 records in result.  Is it ok? I don't think so. 1 job = 1 start event.
In this table we can see the column "playbook".
`select * from main_jobtemplate;`
I've got 2 resords with the same playbook (because i use 2 inventories). Maybe t

[2020-05-11 18:30] #589 closed, assigned to jlmitch5

[2020-05-11 18:34] unlikelyzero commented on #5908
Update: this is waiting on me to update with tests

[2020-05-11 18:35] jlmitch5 commented on #6113
I believe this is now merged in PF-react so can be done, though I'm not sure if we want to tackle this after we move to the more generator based cred form creation or not.

[2020-05-11 18:50] jlmitch5 commented on #5628
just updated and checked on how these things are going:

this seems like it is in prioritized backlog

last part of this is the tooltip for the value, which is assigned, but no fix merged yet.  probably will be fixed soon.

this should be fixed.  not sure if it's in the vesion we have installed for ui_next or not.

looks like they are still marked beta

[2020-05-11 18:59] Throckmortra commented on #6923
@fosterseth sorry, turns out my SCM credential was broken and scm syncs were silently failing (despite showing green in the UI)

I'll close this. Thanks for your help

[2020-05-11 18:59] #6923 closed, assigned to nobody

[2020-05-11 18:59] Throckmortra commented on #5858
updated to AWX 11 and no longer see this problem.

[2020-05-11 18:59] #5858 closed, assigned to nobody

[2020-05-11 19:12] rebeccahhh commented on #5064
yes, @craph
I followed your steps absolutely save being on CentOS and was unable to recreate the same behavior.

Also, the way that inheritance in Tower actually works doesn't give a user any particular permissions from an organization just because they are part of it. Being a member of an organization just associates them with said organization.

@ryanpetrello can correct me if I'm wrong on any o

[2020-05-11 19:40] rebeccahhh commented on #5064
Another thing as I am looking back at your commentss @craph
Is your user a member of the organization or just the team? based on your reproduction steps and this comment: https://github.com/ansible/awx/issues/5064#issuecomment-619825008 it looks like you added your member to the team but not the organization. I know it seems like you don't have to add the user to the organiztion too because they'r

[2020-05-11 20:04] ryanpetrello opened #6991 "Host summary generation for large inventories is too slow"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Generate an inventory with 5000 hosts, and run a playbook.
Observe that the `playbook_on_stats` event takes a **very** long time (depending on total hosts, and how your inventory is structured, several minutes+) to show up.

This code is super duper crazy slow (mostly because it generates *lots* of insert and update queries for large inventories):

htt

[2020-05-11 20:17] AlanCoding commented on #6991
Sound like a rinse-and-repeat of what https://github.com/ansible/awx/pull/6290 did, just for all the other non-notification playbook_on_stats processing.

[2020-05-11 20:41] ryanpetrello commented on #6991
@AlanCoding yep, exactly.

[2020-05-11 20:42] ryanpetrello commented on #6991
This probably isn't incredibly urgent/pressing, because this code has existed in this slow state for quite some time as far as I can tell.

[2020-05-11 21:02] xyker commented on #6981
Resolved my issue.  I basically had a custom SCC with a higher priority than the default, causing the UID and GUID to be set differently than expected.

[2020-05-11 21:02] #6981 closed, assigned to nobody

[2020-05-11 21:11] ryanpetrello commented on #6991
Here's a `playbook_on_stats` event with 5000 hosts:

![image](https://user-images.githubusercontent.com/214912/81612203-71ba9c80-93aa-11ea-8105-09f1531db4a2.png)

Almost an entire minute to process this event.

[2020-05-11 21:15] ryanpetrello commented on #6991
Here's a `playbook_on_stats` event with 5000 hosts After my PR:

![image](https://user-images.githubusercontent.com/214912/81612589-12a95780-93ab-11ea-93dc-6d737dd6b9f7.png)

[2020-05-11 21:51] bherrin3 commented on #6917
## Update

Thanks for the information, @AlanCoding .

Finally finished the project move / refactor and I was able to add two vault-ids to the same `tower-job_template.yml` job to enable to secrets.

This worked once I got an IaC Ansible Tower deployed. However, for initial deploy using `gitlab-ci.yml`, I had to solve the `chicken or the egg` problem with credentials by not including the `vault-ids

[2020-05-11 21:51] #6917 closed, assigned to nobody

[2020-05-12 08:26] DidierTHEILLAC opened #6995 "aruba_command fails from awx but not from ansible-playbook and just for some aruba switch devices"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The same playbook fails on some aruba switch models if launched from AWX but works perfectly if launched from the command line by ansible-playbook.
##### ENVIRONMENT
* AWX version: 11.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: RedHat
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Launch the playbook below

[2020-05-12 08:39] nbruniaux opened #6996 "Link inventory scripts with multiple organizations"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hello,

In my instance of awx, I use a custom inventory script which extracts my hosts from my cmdb and classifies them by group according to various parameters. I also have several organizations defined.

The problem is when a user from organization A wants to create an inventory using the dynamic script attached to organization B, the script is not

[2020-05-12 12:47] rkatta22 commented on #5443
Hi I got same error when I am upgrading ansible tower from 7.0.0 to 11.0.0 through Docker-Compose file, now when I run the docker-compose up command, I am getting below error. please help me what is the mistake I am doing hear in the configuration.

 ValueError: Redis URL must specify one of the followingschemes (redis://, rediss://, unix://)
task_1       | 2020-05-09 11:00:41,341 INFO exited: cal

[2020-05-12 12:47] rkatta22 commented on #5443
ValueError: Redis URL must specify one of the followingschemes (redis://, rediss://, unix://)
task_1       | 2020-05-09 11:00:41,341 INFO exited: callback-receiver (exit status 1; not expected)
task_1       | 2020-05-09 11:00:42,344 INFO spawned: 'callback-receiver' with pid 1276
task_1       | 2020-05-09 11:00:43,345 INFO success: callback-receiver entered RUNNING state, process has stayed up for

[2020-05-12 14:07] wenottingham commented on #6996
This feature is actually deprecated (in favor of inventory plugins from collections and inventory from projects), so this is not going to happen.

[2020-05-12 14:07] #6996 closed, assigned to nobody

[2020-05-12 14:13] unlikelyzero commented on #6803
Notification Tray Tests:

- Verify that WFJT Approval details are accurate
- Verify that WFJT Link navigates user to correct JT
- User can click Approve button to approve a WFJT
- User can click Deny button to deny a WFJT.
- User can sort Approvals by Created Date
- User can Use Pagination controls to find the 21st Approval WFJT and approve

[2020-05-12 14:13] #6803 closed, assigned to nobody

[2020-05-12 14:16] jakemcdermott opened #6997 "Convergence setting could allow for faster progression through workflows"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The `ANY`/`ALL` convergence setting doesn't change the behavior of approval nodes

##### STEPS TO REPRODUCE
- create a workflow that has successful job templates feeding into an approval node:
![Screenshot from 2020-05-12 10-04-55](https://user-images.githubusercontent.com/9753817/81701486-146d2c80-9438-11ea-9c1f-d392c6680148.png)
- create a second wor

[2020-05-12 14:16] jakemcdermott opened #6998 "ANY/ALL convergence setting doesn't save sometimes for approval nodes"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
- Create and save workflow that looks like this:
![Screenshot from 2020-05-12 10-12-06](https://user-images.githubusercontent.com/9753817/81702291-12579d80-9439-11ea-9e3a-1039c131bc5c.png)
- Open the workflow visualizer for the workflow, change the convergence setting of the approval node to `ALL` and save.

##### EXPECTED RESULTS
- The new

[2020-05-12 14:32] ryanpetrello commented on #6951
Hey @gforster,

I'm guessing the way that AWX copies the repo for playbook execution probably isn't persisting tags.  Would something like `git rev-parse --short HEAD` meet your needs, or do you *actually* need the git tag?

[2020-05-12 14:37] agilleyrh opened #6999 "RFE: Make installer able to check for users coming from AD, LDAP, etc."
##### ISSUE TYPE
 - Add support for the installer to check for rabbitmq, PostgreSQL, or other services that are defined in AD or other sources.

##### SUMMARY
The installer will fail with nontrivial errors when service user accounts come from sources like AD, LDAP, etc...

Having the installer do a `getent` or something would likely help here. With some large companies when these users are stored

[2020-05-12 15:00] ryanpetrello commented on #6995
Hey @DidierTHEILLAC,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

Given that you're seeing intermittent:

`ansible.module_utils.connection.ConnectionError: Failed to authenticate: Authentication timeout.`

I _suspect_ there's something up w/ your setup, not AWX itself (since in the end, AWX is just forking an `ansible-playbook` process).

If you need help troub

[2020-05-12 15:07] wenottingham opened #7000 "local docker: awx_web ws_broadcast doesn't wait for awx_task migrations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When doing a fresh local docker install, awx_web startup doesn't wait for awx_task to finish migrations. This leads to an extreme amount of error messages, a la:

[code]
until migrations finish. It's just a lot of noise.

##### ENVIRONMENT
* AWX version: 11.2
* AWX install method: docker on linux

[2020-05-12 15:32] abenokraitis commented on #6995
Yeah this should be posted to the ansible community not AWX, and the module used above is primarily used for Aruba wireless devices (not switches). You probably want to use the aruba switch collection: https://galaxy.ansible.com/arubanetworks/aoscx

[2020-05-12 15:33] #6995 closed, assigned to nobody

[2020-05-12 15:56] dsesami commented on #6997
Some test cases we'll want to check:
EDIT: Some of these permutations may be wrong based on comments from @rebeccahhh. Whoever runs tests on these should double check that the premise is correct for each situation.

- [ ] Ensure that `ANY` convergence **does trigger** when one of the jobs completes
- [ ] Ensure that `ANY` convergence **does not** trigger if a converging node that would only progre

[2020-05-12 16:33] kdelee commented on #6997
Wait I think I disagree with the statement `as soon as one of the leading jobs finishes`.

the ANY/ALL changes the logic of whether all or at least one of the parent jobs has to trigger.

I guess what I'm trying to say is ANY/ALL setting should change IF the node should be triggered -- not "WHEN".

e.g. in both cases I believe it will wait until all possibly triggering parents completes

Like to g

[2020-05-12 17:04] AlanCoding opened #7002 "Errors due to having % characters in password in config file"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Some config files seems to cause the tower modules to error. Exact details still not completely uncelar.

##### STEPS TO REPRODUCE

Seems to be specific to installing Ansible in a python3 / RHEL8 environment from pip. It looks like it happens when using the config file without the `[general]` header.

##### EXPECTED RESULTS

Parses config file.

#####

[2020-05-12 17:32] wenottingham commented on #6999
... what requires modification? All the service RPMs should check for the user before adding it.

[2020-05-12 17:32] wenottingham commented on #6999
Also, this isn't relevant for the AWX container installer.

[2020-05-12 17:33] #6999 closed, assigned to nobody

[2020-05-12 18:20] rebeccahhh commented on #6997
So this is actually expected behavior, _but_ we could consider changing this to an enhancement.

[2020-05-12 18:23] rebeccahhh commented on #6997
The basics of this is that we have _always_ waited for all the parent to finish, ANY/ALL just allows the node to control its run on the status outcomes of it's parents.
Also, just to clarify, an enhancement would apply to any `ANY` node in a workflow, not just approval nodes

[2020-05-12 18:27] unlikelyzero commented on #5909
Adding needs test as a component of this feature card is being merged

[2020-05-12 18:46] beeankha commented on #6947
Hi @lerminou.  Using a different SMTP server (we do not have a `smtp.office365.com` account), I could not recreate this issue.  Here are the configurations I used:
![Screenshot from 2020-05-12 13-54-03](https://user-images.githubusercontent.com/28930622/81730648-d8e45980-945b-11ea-880b-c33a7f15b96a.png)

Test notification showing as successful:
![Screen Shot 2020-05-12 at 2 03 16 PM](https://user-

[2020-05-12 19:26] jbradberry commented on #6997
The beginnings of the change needed to change the behavior can be found here: https://github.com/ansible/awx/compare/devel...jbradberry:any-nodes-start-early?expand=1

[2020-05-12 20:10] lerminou commented on #6947
thanks for you answer, unfortunately, I don't have access to my office organization parameters.
But i tried with this simple script using the same login in AWX and it works:
https://stackoverflow.com/a/56181943/4667411

[2020-05-12 22:35] appuk opened #7004 "Empty state appears briefly after adding a survey"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After adding a Survey, the Empty state page appears briefly before the survey list actually populates with the newly added survey

##### STEPS TO REPRODUCE
1. Create a JT
2. Go to the surveys tab
3. Add a new survey
4. click save

##### EXPECTED RESULTS
The page should be directed to the Survey list page and the newly added survey should be present

##

[2020-05-12 22:45] tima commented on #5443
@rkatta22 making comments on a closed ticket is not going to receive a reply. You need to file a _new_ issue if you think you've encountered a bug.

[2020-05-12 23:43] ryanpetrello commented on #5443
@rkatta22 you haven't encountered a bug - you just have old configuration of some sort laying around pointed at an old AMQP connection string from a prior install (which is no longer valid):

`('Unsupported URI scheme', 'amqp')`

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#

[2020-05-13 04:24] jainnikhil30 opened #7005 "Allow associating host to inventory/group using awx cli"
##### ISSUE TYPE
Feature Request

##### SUMMARY
There should be a way to associate host to inventory/group. Something like following:

awx host associate --host my.host.com --inventory test --group test

[2020-05-13 09:36] chbmckeown commented on #6803
Having the same issue, to confirm was this issue identified and fixed by update?
Unsure from labels/comments...
Thanks

[2020-05-13 09:53] GabboPenna opened #7006 "Openstack inventory update does not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Openstack inventory update does not work

##### ENVIRONMENT
* AWX version: 11.1 e 11.2
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: CentOS Linux release 8.1.1911
* Web Browser: Firefox 76.0.1

##### STEPS TO REPRODUCE
- Install awx
- Create Openstack Credentials
- Create Inventories
- Create Sources Inventories
-

[2020-05-13 11:01] Grekkor commented on #2862
Is it possible to do project updates using webhooks. I simply cannot find how to do it. Job executions work fine but how can I trigger awx project updates?

[2020-05-13 11:08] virtualboom100 commented on #612
Hi -
Just checking in for progress updates.
Thanks!

[2020-05-13 11:31] sumkincpp commented on #2973
Issue is still relevant to latest AWX 11.2.0

[2020-05-13 11:39] virtualboom100 commented on #663
Updates?

[2020-05-13 11:57] AlanCoding commented on #7005
Duplicate of https://github.com/ansible/awx/issues/6056?

[2020-05-13 12:01] fxmick opened #7008 "Add copy option to awx collection modules"
##### ISSUE TYPE
 - AWX collection modules  only support from scratch creation

##### SUMMARY
Add an option in the module parameters :
from: existingItemName

This feature already exists for all kind of items using REST API :
POST
/api/v2/job_templates/{id}/copy/

Fail if "from item" does not exist

[2020-05-13 12:47] jakemcdermott commented on #6918
@abennani31 We will not be removing node and npm from the prereqs for installing because they're still required under some circumstances. Instead, I've added a note next to these items explaining that the requirement is conditional based on how you've configured the installer:

![Screenshot from 2020-05-13 08-44-10](https://user-images.githubusercontent.com/9753817/81814051-3f1dba80-94f6-11ea-8835

[2020-05-13 12:47] #6918 closed, assigned to jakemcdermott

[2020-05-13 12:50] jakemcdermott commented on #6997
This isn't nearly as big a deal as I initially thought.. After talking about this with @rebeccahhh, she explained how the default behavior for convergence nodes is to _always_ wait for all prior jobs to finish. I had incorrectly thought the default behavior to be the opposite of this when I created the issue - sorry!

With all this in mind, doing this enhancement would actually make the behavior _

[2020-05-13 13:04] #7005 closed, assigned to nobody

[2020-05-13 13:07] rkatta22 commented on #5443
Hi Team I am working on ansible tower upgrade from 7 to 10, I can see the containers are up but in awx web contaner log I see below error, could some one please help me.

task_1       | Traceback (most recent call last):
task_1       |   File "/usr/bin/awx-manage", line 8, in <module>
task_1       |     sys.exit(manage())
task_1       |   File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx

[2020-05-13 13:25] ryanpetrello commented on #5443
@rkatta22,

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-05-13 13:43] ryanpetrello commented on #7006
Seems like your AWX environment can't reach your OpenStack environment:

`Failure: Unable to establish connection to http://192.168.93.133:9696/v2.0/networks.json: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))`

[2020-05-13 14:01] GabboPenna commented on #7006
@ryanpetrello Thanks. but, the curl from container awx to openstack work properly:

[code]
So there are no connectivity issues.

[2020-05-13 14:27] ryanpetrello commented on #7006
@GabboPenna the error you reported is a different port and path than what you tried in `curl`:

`http://192.168.93.133:9696/v2.0/networks.json`

[2020-05-13 14:28] ryanpetrello commented on #7006
Also, do you have some sort of proxy in the middle?

You'll also want to verify that you're testing connectivity from your task container, not the web one (as that's where inventory imports actually run); what you're encountering here is almost certainly some type of network connectivity issue between your Docker container(s) and your OpenStack cluster.

[2020-05-13 14:38] ryanpetrello commented on #6947
Hey @lerminou,

We don't have an Office 365 account available to test this.  If you find any other clues or have some idea of a workaround, pull requests are welcome!

[2020-05-13 15:16] fxmick opened #7010 "awx collection tower_group: append to existing host list"
**SUMMARY**
When using hosts parameter to add hosts to a group, all existing hosts are deleted.

**ISSUE TYPE**
Enhancement

**COMPONENT NAME**
tower_group

**ADDITIONAL INFORMATION**
Add an overwrite parameter to prevent deletion of existing hosts.

[2020-05-13 15:23] GabboPenna commented on #7006
@ryanpetrello No proxy, but we noticed that from the container the GET to openstacks do not always come back OK. On the base OS, it's always ok.. i think it's a problem on docker

[2020-05-13 15:48] nixocio opened #7011 "Source Control Branch missing from Prompt on launch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
`Source Control Branch` missing from `Prompt on launch`

##### STEPS TO REPRODUCE
1 - Select `Allow Branch Override` in a project.
2 - Select `Prompt on launch` for the  Source Control Branch field in a job template associated to the project above.
3 - Launch the job template.

##### EXPECTED RESULTS
To Source Control Branch to be present on Prompt on

[2020-05-13 15:58] ryanpetrello commented on #7006
@GabboPenna yea, this really does sound like something specific to your Docker networking.

[2020-05-13 16:01] lanceofwhichwedream opened #7012 "AWX SCM Project not actually updating."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
SCM Project inventory update completes, but template created for newly created playbook fails to find playbook.

I have an awx instance on docker that I upgraded from version 9.0.0 to version 11.1.0. The project is an SCM type that links to gitlab. After I upgraded to 11.1.0, I made a new playbook, updated the project and created a new template for tha

[2020-05-13 16:36] clopnis commented on #4067
Almost same here, the point is adding a certificate in inventory looks relative only to nginx configuration. https://github.com/ansible/awx/blob/11.2.0/installer/inventory#L68-L70

In https://github.com/ansible/awx/blob/11.2.0/installer/roles/kubernetes/templates/deployment.yml.j2#L484 there is only a route for HTTP. We should add a capability to use ssl_certificate from inventory to create a HTTP

[2020-05-13 17:45] jladdjr commented on #5571
I've been off dueling other satellite issues. Picking this back up.

[2020-05-13 19:14] AlanCoding commented on #7012
Think this was resolved in bf65b40241d60e99e49b3109a33c26f26cd418ec

Not yet out in a release, will be soon.

Also see #6812

[2020-05-13 19:14] #7012 closed, assigned to nobody

[2020-05-13 21:32] keithjgrant opened #7015 "JT Launch prompts: Credential Passwords step"
Follow-up for #5909

##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is the final step that needs to be coded up for the JT Launch prompt. Criteria:

- This should be the third step, immediately following the Credentials step
- This step can be shown in one of two situations:
    - Firstly, it should be shown if passwords_needed_to_start is _not_ an empty array _and_ ask_credential_on_launch

[2020-05-13 21:37] keithjgrant opened #7016 "JT Launch prompts: Error feedback in Preview Step"
Follow-up for #5909

##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
After reaching the final step of JT Launch prompts (the preview step), the other steps validate their form data and show errors in the navigation menu on the left. HOWEVER, there is no explicit feedback to the user that there are errors.

At the top of the Preview Step, above the details, some sort of error message should appear

[2020-05-13 21:39] keithjgrant opened #7018 "JT Launch prompts: credential validation improvements"
Follow-up for #5909

##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In the Credentials step of the JT launch prompt, the following behavior should be enforced:

Default credentials can be removed but they must be replaced with another credential of the same type. This is enforced by the api. For example, if there is a default machine credential on the JT then I can replace it with another machine

[2020-05-13 21:43] keithjgrant commented on #5909
This issue is largely complete. I have outlined remaining work in additional follow-up issues:

* Credential passwords step is not yet implemented (#7015)
* More explicit user feedback in the preview step (#7016)
* There is some specific logic about when certain credentials are required based on the default credentials of the JT (#7018)

At this point, everything else is ready to be tested.

[2020-05-14 00:08] AlanCoding commented on #6930
This is done now, @kdelee just want to put it on your radar, verifying isn't urgent.

Also, this loses support for Ansible 2.7, haven't tested 2.8. This could be mitigated after the tombstoning PR in Ansible core is merged, but I don't want to assume it's a problem until we have a specific reason to believe it is.

[2020-05-14 00:45] rezaa1 opened #7019 "web interface doesn't refresh automatically to show the status of ruuning/stopped jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When we submit a job for workflow or project update, there is a grren circle which blinks when job is in progress and it turns to green when the job is successful and turn to red when job fails.

When you submit a job it web page doesn't show the status until we refresh the page, this is feature used to work perfectly on a older releases, but i am not

[2020-05-14 01:25] rezaa1 commented on #7019
I did some research and found that this issue is related to my config on nginx load balance.
I added these lines in nginx and it wi now working.

proxy_set_header Upgrade $http_upgrade;
proxy_set_header Connection $connection_upgrade;

[2020-05-14 01:25] #7019 closed, assigned to nobody

[2020-05-14 02:38] Jamsgrove commented on #4764
I also came accross the same problem as yourself, to resolve i had to manually create the directory /root/.awx/awxcompose, i then ran the playbook again and it created each of the files in the directory i created (docker-compose.yml, redis.conf ect) but then the following task failed:
TASK [local_docker : Set redis config to other group readable to satisfy redis-server] ***************************

[2020-05-14 04:37] JosephJHCho commented on #7005
#6056 is about "awx-cli" but the request is about "awx" which is installed by"pip3 install https://github.com/ansible/awx/archive/11.2.0.tar.gz#egg=awxkit&subdirectory=awxkit".  For my understanding it seems  different issue.

[2020-05-14 06:46] mo-saeed opened #7021 "Support multiple replicas in the installer"
##### ISSUE TYPE
 - add new variable "replicas" to define more than one replica for awx pod during installation time

##### SUMMARY
we need to have multiple replicas of awx pod running on Kubernetes for high availability, is it possible to have this configurable during installation time?

[2020-05-14 07:17] GabboPenna commented on #7006
@ryanpetrello The installation of awx on docker is located in a vm on an openstack environment.. do you have any advice?

[2020-05-14 07:30] jainnikhil30 commented on #3777
fixed with https://github.com/ansible/awx/pull/6389 ?

[2020-05-14 08:09] JulianMa commented on #5496
I think this is a duplicate of #5230.
There is also a workaround for this issue in the comments section.

[2020-05-14 09:05] tamil93-ss opened #7022 "Ansible Network automation Status always throws Changed=1"
Hi guys,

Below is my code and output

I have one router and executed the code but the status of the changed=1 remains same, kindly help on this

---

- name: Ospf Config
  hosts: router
  gather_facts: true
  connection: local

  tasks:
    - name: Router ospf config
      ios_config:
        lines:
          - network 1.1.1.1 255.255.255.255 area 0
        parents: router ospf 2

      register:

[2020-05-14 09:23] cbuquet commented on #6931
Same problem (and solution) for me.
- AWX version: 11.2.0
- AWX install method: docker on linux
- Ansible version: 2.9.7
- Operating System: RHEL 7.8
- Web Browser: Firefox

[2020-05-14 13:05] unlikelyzero commented on #7018
@keithjgrant added enhancement instead of feature as this seems like it may not be 100% critical for launch. Is that correct?

[2020-05-14 14:38] ryanpetrello commented on #5496
Hey @r3sist3nt - which comment specifically?

[2020-05-14 14:54] LohitashwaIBM commented on #6177
Clarification: Is this getting delivered as part of any release ?

[2020-05-14 15:34] euterklaas commented on #5839
+1 I would love to see this feature in AWX. I'm not keen on switching to Gitlab.

[2020-05-14 15:47] wenottingham commented on #6177
If you are asking about the Ansible Tower roadmap, you should discuss with your support representative.

[2020-05-14 16:01] AlexSCorey opened #7024 "Inventory Groups Host List Alert Modal"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Alerts are not rendering properly.
##### ENVIRONMENT
* AWX version:11.02
* AWX install method: docker for mac
* Ansible version:  2.10
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Force errors to be thrown on the associate and disassociate api calls( I passed in strings for id instead of integers).  The click on associate,

[2020-05-14 16:04] LohitashwaIBM commented on #6177
No, i was looking at this particular feature.. I saw some status changing on Apr 3 and a statement indicating Successfully merging a pull request may close this issue. Hence the ask on when will the support for windows edge browser will be available

[2020-05-14 16:09] pjeanmonod commented on #6803
The issue still persists and seems to be common... Has a fix been identified?

[2020-05-14 16:22] wenottingham commented on #7022
This repo is for issues in the AWX application/execution framework.

This appears to be an issue with your playbook, we suggest looking into the Ansible community resources here: https://docs.ansible.com/ansible/latest/community/communication.html#communication

[2020-05-14 16:22] #7022 closed, assigned to nobody

[2020-05-14 20:31] jladdjr opened #7031 "satellite custom group_prefix not getting applied to all groups"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The `satellite6_group_prefix` satellite source vars should replace the default `foreman_` prefix with a custom one when creating host groups. This prefix is not being applied to all groups. Namely, it is missing from the groups we create here:

https://github.com/ansible/awx/blob/devel/awx/main/models/inventory.py#L2605-L2622

##### ENVIRONMENT
* AWX v

[2020-05-15 01:35] agilleyrh commented on #6682
Another part of this would be the ability to copy and paste a list of hosts all at once in the UI that gets added to an inventory. This is being requested by multiple people now.

[2020-05-15 01:58] agilleyrh opened #7033 "RFE: Disable ability to add dynamic inventory scripts at Org level"
##### ISSUE TYPE
 - Add the ability to disable adding dynamic inventory scripts from the UI at an organizational level.

[2020-05-15 06:29] tchellomello commented on #3010
Hello, I'm hitting a similar issue (also relates to #5704). So basically when we mount the certificate using the official images (kubernetes role), it does not work. Check it out:

* The directory gets mounted on all 3 containers
[code]

* The if we look at the `awx_web` and the `awx_task` we can reproduce the problem:

[code]

* when we pass the right certificate
[code]

We could use the variable

[2020-05-15 10:06] GabboPenna commented on #7006
Solved, the problem was the mtu of the docker network.
Before redploying awx we modified the docker-compose template:

/installer/roles/local_docker/templates/docker-compose.yml.j2

[code]

[2020-05-15 10:06] #7006 closed, assigned to nobody

[2020-05-15 10:20] schmandforke commented on #4292
+1

[2020-05-15 13:45] ryanpetrello commented on #7006
Glad you all got it worked out @GabboPenna 👍

[2020-05-15 13:55] dsesami commented on #6939
superseded by #6442 which also resulted in the merging of #6937, which effectively covers this by adding a custom search filter option using descriptions.

[2020-05-15 13:55] #6939 closed, assigned to nobody

[2020-05-15 14:20] nixocio opened #7036 "POC - Serve ui_next with same port as old_ui and different paths"
##### ISSUE TYPE
 - Modify the current docker environment to serve both SPA in the same port and different paths.

##### SUMMARY
- Things to take in consideration:
Routing in both SPA and Django
Static Files Collection

This is the starting point:
https://github.com/jakemcdermott/awx/tree/ui-next-integration

##### GOALS
Create a POC to show in the planning meeting with API team.

[2020-05-15 14:46] wenottingham commented on #7033
This feature is deprecated, we are unlikley to add this before we remove it.

[2020-05-15 14:55] mgperry1 commented on #6986
Bump

[2020-05-15 14:56] dsesami commented on #6442
Closing this out as stubs were created and merged a while back, but this issue wasn't closed.

[2020-05-15 14:56] #6442 closed, assigned to jlmitch5, dsesami

[2020-05-15 15:33] agilleyrh commented on #7033
👍 closing this.

[2020-05-15 15:33] #7033 closed, assigned to nobody

[2020-05-15 15:40] marshmalien opened #7037 "Inconsistent capitalization across ui-next"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Capitalization is inconsistent throughout ui-next. The end goal is CONSISTENCY. This will require an audit across the UI. Feel free to break this up into multiple issues or address it all in this issue.
cc @trahman73

PatternFly Guideline: https://www.patternfly.org/v4/ux-writing/capitalization

##### Capitalization Types
**Title case** capitalizes onl

[2020-05-15 15:43] marshmalien commented on #7037
![](https://media.giphy.com/media/B37cYPCruqwwg/giphy.gif)

[2020-05-15 15:48] trahman73 commented on #7037
![image](https://user-images.githubusercontent.com/13351591/82069917-002c6800-96a2-11ea-876d-7f75fb9666b6.png)

[2020-05-15 16:02] dsesami commented on #6574
- When you view "Sourced From a Project" sources, it says "Sourced From a Project" in the list view, but the details view just says "scm" in lowercase. Can we have it be the same way the list does? It'll look a bit cleaner, IMO

- Enabled options are listed, and that's really useful. However, we should include the tooltip that's next to them on the add form, so information about what a specific op

[2020-05-15 17:06] ryanpetrello commented on #7010
@AlanCoding is this always how the old module worked, or is this a regression in the new collection?

[2020-05-15 17:10] ryanpetrello commented on #6990
@jborean93 you have any thoughts/pointers on this?

[2020-05-15 17:11] ryanpetrello commented on #6990
@DanielFarrarCO this looks to be something specific to Ansible's PowerShell plugin, not AWX itself.

[2020-05-15 17:11] #6990 closed, assigned to nobody

[2020-05-15 17:13] ryanpetrello commented on #6986
Hey @mgperry1,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-05-15 17:19] ryanpetrello commented on #6982
`select * from main_jobevent where job_id=145 and event='playbook_on_start';`

I'm not sure what would cause you to have _duplicate_ `playbook_on_start` events here, but the reason you're encountering 500 errors is because you've got bad data (and will have to clean it up).

[2020-05-15 17:24] AlanCoding commented on #7010
the old module never supported group hosts at all. This is all new territory. We need to take our time and carefully discuss any implications of the interface design. My initial feeling is that we should allow "magic" words in the list like:

[code]

That would still be idempotent, so I'm not against the general concept.

This would incur a some validation burden, but I would prefer it to new para

[2020-05-15 17:26] dsesami commented on #6863
Some feedback:
- A copied project in the project list is missing Git revision info in the list (the sequence of characters and numbers that tells you the latest commit). However, copying the copy makes the Git revision appear, but then that second copy is missing the Git revision afterwards. Sorting also seems to fix it, so I guess the Git info is there, it's just not being rendered for some reaso

[2020-05-15 17:57] marshmalien opened #7040 "Fix cancel button styles across ui-next"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cancel button should be styled with the "link" variant. This will be a sweeping update across all forms and modals.

PatternFly button variations: https://www.patternfly.org/v4/documentation/react/components/button#variations
cc @trahman73

##### STEPS TO REPRODUCE
* Navigate to a form
* View form action buttons

##### EXPECTED RESULTS
* Cancel button

[2020-05-15 18:10] marshmalien opened #7041 "Fix delete button styles across ui-next"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Delete buttons should only use the "danger" variant on the delete confirmation screen (delete modal). In other words, if the delete action button triggers a destructive and impossible to undo action, use the "danger" variant. Delete buttons that trigger the delete modal confirmation screen should use the "secondary" variant.

This is a sweeping update

[2020-05-15 18:36] marshmalien opened #7043 "Add pagination controls to the datalist toolbar"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add pagination controls to the top of ALL paginated list views. This feature will give the user an instant overview of how many pages exist and allows the user to the navigate through pages without scrolling down. The top and bottom pagination controls should be identical.

https://www.patternfly.org/v4/documentation/react/components/pagination

<img

[2020-05-15 18:49] dsesami commented on #5405
Closing out this issue since tvo has finished up docs. 👍

[2020-05-15 18:49] #5405 closed, assigned to dsesami

[2020-05-15 19:25] dsesami commented on #6903
This one is strange because I might have to go back to it after websockets merge. but the appropriate API calls seem to work. approving the relevant PR.

[2020-05-15 19:33] mgperry1 commented on #6986
Thanks, so basically your point  is I'm wasting time with what I think issue maybe and you assume I'm too stupid to have maybe have found some issue with the code base that uses SSL certs and Cyberark AIM creds.. which I assumed was part of AWX , I  was just trying to get this feature working and though I might be one of the few people who are using it and could help troubleshoot , I get it not im

[2020-05-15 19:49] jladdjr commented on #7031
Have a fix up at https://github.com/ansible/awx/pull/7044. Verified locally and is looking good. Looks like we may be running into some gating issues w/ PRs atm.

[2020-05-15 20:57] jborean93 commented on #6990
I'm only able to replicate this problem when changing the code to disable pipeling on Windows. You can see in your output that it's putting the `setup.ps1` file using SFTP which should not happen for a Windows connection as it supports pipelining just fine. It's running the module just fine but when it goes to process the result's stderr it contains a nested CLIXML message which the code is failin

[2020-05-15 21:07] pisceno commented on #3751
Have to modify all in to the inventory file and then run the playbook

[2020-05-15 21:52] DanielFarrarCO commented on #6990
AH!  @jborean93 you're a wizard, we have that set for our Linux boxes and it's being inherited. Odd that it doesn't impact Windows 2008 or 2012, but does 2016.  I will test a fresh repo tomorrow and confirm back.  Thanks!

[2020-05-15 21:53] jborean93 commented on #6990
It's a problem on hosts that have PowerShell v5 (2016 has by default) as it always outputs a progress record to stderr. This process record is output in the CLIXML form and because 2 powershell instances are being run in the non-pipelines case it causes the nested CLIXML string.

[2020-05-16 16:17] nickjmv commented on #20
+1

[2020-05-16 21:04] ntlzthm8 opened #7049 "After restart docker, awx not avalible"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After succesful build and start awx in docker container, then i restart docker service, or docker-compose, or system, web page awx is not avalible, Internal server error 500

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.7.8
* Operating System: centos 7
* Web Browser:

docker-compose version 1.25.4,

[2020-05-17 02:14] guliaka opened #7050 "Building local images fail"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running install with local image building fails

##### ENVIRONMENT
* AWX version: 11.2
* AWX install method:  docker on linux,
* Ansible version:  2.9.7
* Operating System: Centos 8.1 / RHEL 8.1/ RHEL 8.2
* Web Browser:

##### STEPS TO REPRODUCE

Installing according to documentation. Server base is minimal install. Prep by following script:
[code]

He

[2020-05-17 02:33] kevindurb opened #7051 "ARM64/Aarch64 Support (Raspberry Pi4)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I would love to be able to run awx on a raspberry pi 4. The latest raspberry pi with its stats should be plenty to run the full awx stack, and it would be so useful for people like me who run home labs of just raspberry pis. Ive attempted to run install with `dockerhub_base` commented out in inventory to make the playbooks build the images on the pi

[2020-05-17 02:52] kevindurb commented on #7051
Actually after reading through the new install.js on master of chromedriver it seems like it now supports arm64. Maybe we just need to use the latest version.

[2020-05-17 13:12] kevindurb commented on #7051
This morning I updated chromedriver (`npm i -s -d chromedriver@^77.0.0`) and the build got quite a bit further! now i have a new error:
[code]

[2020-05-17 14:16] kevindurb commented on #7051
Ok so looks like rpms.adiscon.com doesnt have a repo for aarch64, only x86...

[2020-05-17 14:20] kevindurb commented on #7051
Looks like the latest master isnt using the adiscon repo anymore. Ill try running the build on a newer branch of the awx repo (ive been using 11.2.0)

[2020-05-17 14:29] kevindurb commented on #7051
Ok so attempted a build on the latest devel branch. and i got further. Now getting this error:
[code]
`Unable to find a match: libstdc++.so.6` seems to be the error

[2020-05-17 14:46] lgrullon-gilead opened #7052 "awx 11.2 : unable to sync vmware vcenter inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Upon upgrading from 11 to 11.2 I no longer able to sync my vcenter dynamic inventory objects within the GUI.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker
* Ansible version:  ansible-2.9.7-1.el8.noarch
* Operating System: RHEL 8
* Web Browser: Chrome, Firefox, IE

##### STEPS TO REPRODUCE

When running the job for vmware invento

[2020-05-18 02:25] bharathvenkatrajan opened #7053 "Openshift AWX installer does not work with oc version 4.2"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am following the documentation to install awx in openshift https://github.com/ansible/awx/blob/devel/INSTALL.md. The steps are under `Openshift install steps`.

When I update the inventory file and run `ansible-playbook -i inventory install.yml` I get the following error in Task `TASK [kubernetes : Use correct cli option for kubeconfig]` (please refe

[2020-05-18 06:08] zigaSRC commented on #7052
We are experiencing the same problem. The error only occurs on one inventory though and is consistent (the inventory hasn't successfully synced since the update).

The main problem seems to be:
[code]

Here's the contents of the /tmp/awx_6730_ke6qpmjv directory during execution if it's of any help:
[tmp.zip](https://github.com/ansible/awx/files/4642283/tmp.zip)

[2020-05-18 08:38] viewmithun commented on #6667
@fosterseth
Let me know, if we have any workaround this please

Thanks,
Mithun

[2020-05-18 08:45] JulianMa commented on #5496
@ryanpetrello The File-Owner of the nginx folder ist wrong, changing it manually back to nginx:nginx has fixed this behavior in #5230. As you can see in the comment of @MichaelPak, his file-permissions are also broken (systemd-coredump:render is owning the files).

[2020-05-18 08:49] JulianMa commented on #5496
@wenottingham i think this can be marked as duplicate of #5230. Can you confirm?

[2020-05-18 09:35] idH64 opened #7054 "Deploying multiple instances of AWX"
##### ISSUE TYPE

 - Bug Report/Assistance

##### COMPONENT NAME

 - Installer

##### SUMMARY

Hello, I'm trying to set up a multi instance deployment of AWX. I've got two Centos8 hosts for AWX (I know the recommendation is 3 boxes) and a pair of Centos 8 boxes running Postgres12 in streaming replication.

The two AWX boxes have all the required software and modules installed and if I deploy them

[2020-05-18 10:49] mYzk commented on #7052
I'm experiencing the same issue, but for us if we setup a new vmWare inventory it does give the same error, does not matter which vmWare cluster we try or host it's always the same error:
`  File "/usr/lib/python3.6/site-packages/ansible/inventory/data.py", line 230, in add_host
    raise AnsibleError("Invalid empty host name provided: %s" % host)
[WARNING]: Unable to parse /tmp/awx_5681_bhruamm_/

[2020-05-18 13:40] DanielFarrarCO commented on #6990
Found the root cause of my problem, setting "pipelining=true" at any level was not actually enabling pipelining.  I found "keep_remote_files=true" was set, which was disabling pipelining entirely.  Fix was to disable "keep_remote_files" and enable "pipelining".

Thanks for pointing me in the right direction!  Not sure if a warning message would be useful if Ansible detects PowerShell v5 while "kee

[2020-05-18 13:40] lgrullon-gilead commented on #7052
I am spinning around trying to find the answer for this one, I had this working flawlessly and suddenly the new update appears to be incompatible with the existing vmwa_vm_inventory script. I follow the instruction from the docs at ansible.com, but still unable to get it working. Clues?

[2020-05-18 13:42] lgrullon-gilead commented on #7052
This is the only inventory that I am having issues with, I also run a separate inventory for Satellite and Foreman and those are working fine....if someone can please provide some assistance for the vmware inventory it would be very helpful. Thanks.

[2020-05-18 13:56] Ragulb89 opened #7056 "AWX with ecs fargate support"
##### ISSUE TYPE
 - Feature Idea
    - create a service discovery names for awx_task and awx_web so it can be communicated outside the VM and discover each other, this will be useful to launch awx in fargate ecs.
##### SUMMARY

  - unable to launch awx in fargate because awx_task and awx_web is unable to discover each other.

[2020-05-18 14:13] rchaud commented on #7000
I see the same issue in 11.2.0 deploying in Kubernetes.

[2020-05-18 15:40] ryanpetrello commented on #5496
Duplicate of https://github.com/ansible/awx/issues/5230

[2020-05-18 15:40] #5496 closed, assigned to nobody

[2020-05-18 15:40] ryanpetrello commented on #5496
Thanks for digging into this and helping troubleshoot, @r3sist3nt 🏅

[2020-05-18 16:03] rebeccahhh commented on #6997
I'm closing this based on team discussions. This would not be an asset to our existing workflow structure and I don't think it merits much further discussion on here.

[2020-05-18 16:03] #6997 closed, assigned to jbradberry

[2020-05-18 16:06] wenottingham commented on #7054
What you're suggesting won't work. The only way to scale containerized AWX is in a container platform such as Kubernetes or OpenShift... you can't just deploy local docker on multiple hosts.

This repo is for bugs in AWX itself; for things like this you're best off asking on the mailing list or IRC channel: https://github.com/ansible/awx#get-involved

[2020-05-18 16:06] #7054 closed, assigned to nobody

[2020-05-18 16:08] wenottingham commented on #7052
We no longer use the vmware inventory script, we now use the inventory plugin from the VMware collection.
[code]

This is definitely the issue. CC @AlanCoding @Akasurde

[2020-05-18 16:11] lgrullon-gilead commented on #7052
wenottingham, please provide further guidance on this transition....some of us are struggling trying to get our VMware inventory back in sync mode. Thank you for your input.

[2020-05-18 16:17] ryanpetrello opened #7057 "Define a schema for execution environments"
This is a subtask of a larger enhancement/initiative surrounding execution environments: https://github.com/ansible/awx/issues/5157

AWX needs to expand to provision and manage execution environments, including how they get to execution nodes.

**What is an execution environment?**

An execution environment definition consists of:
- an ansible version
- a python version (defaults to system python)

[2020-05-18 16:17] ryanpetrello commented on #7057
Experimental implementation work has begun on this for defining this schema definition and the tooling used to build actual execution environments:

https://github.com/ansible/ansible-builder/tree/devel/ansible_builder

[2020-05-18 16:26] ryanpetrello opened #7058 "Build and publish official default execution environments"
This is a subtask of a larger enhancement/initiative surrounding execution environments: https://github.com/ansible/awx/issues/5157

Automate the process of building and shipping a set of default execution environments using the schemas and tooling defined in:  https://github.com/ansible/awx/issues/7057

This work involves shipping a set of default execution environments for all supported AWX plat

[2020-05-18 16:29] ryanpetrello opened #7059 "Produce and document a process for AWX users to produce custom execution environments"
This is a subtask of a larger enhancement/initiative surrounding execution environments: https://github.com/ansible/awx/issues/5157

AWX users should be able to utilize the schema definition and tooling defined in https://github.com/ansible/awx/issues/7057 to build custom execution environments.  The output of this tooling is a `Dockerfile/Containerfile`.

[2020-05-18 16:30] ryanpetrello commented on #7059
Open question: to what extent should this process attempt to identify and resolve dependency conflicts when building custom execution environments?  One thought that has been tossed around is to utilize the poetry library to aid in conflict discovery and resolution, but it sounds like certain types of conflicts will always require some form of human intervention.

[2020-05-18 16:34] ryanpetrello commented on #5283
Additionally, we'll have to solve how we package the actual performance plugin in the 2.10 world (likely as part of https://github.com/ansible/awx/issues/7058).

[2020-05-18 16:45] ryanpetrello opened #7060 "Replace bubblewrap-based task execution in AWX with container-based execution"
This is a subtask of a larger enhancement/initiative surrounding execution environments: https://github.com/ansible/awx/issues/5157

AWX's current execution system is limited to executing jobs under [bubblewrap](https://github.com/containers/bubblewrap) for process isolation. For OpenShift and Kubernetes based deployments, this requires any container running jobs to run in privileged mode.

In a f

[2020-05-18 16:48] ryanpetrello opened #7061 "Run inventory updates using containerized execution"
This is a subtask of a larger enhancement/initiative surrounding execution environments: #5157

Specifically, it is a component of the work described in https://github.com/ansible/awx/issues/7060

Today, inventory updates operate by spawning an `awx-manage` command that:

1.  Uses `bubblewrap` and `subprocess.Popen` to fork an `ansible-inventory` invocation.
2.  Parses the JSON result of the `ansi

[2020-05-18 16:54] ryanpetrello opened #7062 "Replace custom virtual environments with custom execution environments"
To support custom SDKs/libraries in playbook execution, AWX supports the notion of "custom virtual environments" today, whereby users:

1.  Build and deploy Python virtualenvs across their AWX infrastructure (in particular, on all `awx_task` nodes)
2.  AWX code _discovers_ these virtualenvs on the file system and exposes them as "options" for selection.
3.  Users associate these virtualenvs at the

[2020-05-18 17:00] mabashian opened #7063 "POSTing to create workflow approval node (node without UJT) ignores all_parents_must_converge"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![all_parents](https://user-images.githubusercontent.com/9889020/82239367-abd5f200-9906-11ea-8c60-39ef86625ff8.gif)

Relates to https://github.com/ansible/awx/issues/6998

##### STEPS TO REPRODUCE
1. Create an empty workflow
2. Attempt to POST to `/api/v2/workflow_job_templates/:id/workflow_nodes/` with the following payload:

[code]

##### EXPECTED RE

[2020-05-18 17:02] mabashian commented on #7063
I'm marking this as `priority:high` since https://github.com/ansible/awx/issues/6998 was marked `priority:high`.

[2020-05-18 17:05] ryanpetrello commented on #7058
Specifically, we'll need to identify a set of requirements to have continuity in the behavior of AWX _today_.  At a very minimum, we'll need:

- A "kitchen-sink" like environment that includes effectively what represents Ansible 2.9 (today) - all of the content users are likely to want to continue to have for their playbooks to run as they do today.
- An execution environments specifically for inv

[2020-05-18 17:11] ryanpetrello opened #7064 "Implement AWX support for a data model and APIs to represent and manage Execution Environments"
This is a subtask of a larger enhancement/initiative surrounding execution environments: https://github.com/ansible/awx/issues/5157

Implement APIs for defining execution environment and their sources (registries).

- A model and API for defining, interacting with, and authenticating to one or more execution environments (e.g., name, URL, any necessary credential data).
  - A name
   - Credentials

[2020-05-18 18:05] ryanpetrello commented on #7058
Additionally, what will be the distribution mechanism for these default environments (e.g., Quay)?  What will that look like when you install AWX (will it be seamless?)

[2020-05-18 18:24] AlanCoding commented on #7061
I can see this having several pre-requisites.

See #6911. Because in the containerized model, we don't have the inventory scripts folder, but we do have collections. While collections do have inventory scripts, several don't work right now, and we would rather not make adjustments to get them working.

[2020-05-18 18:44] shanemcd opened #7066 "Determine how to handle registry authentication for execution environments"
This is a subtask of a larger enhancement/initiative surrounding execution environments: #5157

Execution Environments may require a credential to pull from a protected registry. Different execution environments may come from different registries. We need a way to handle the authentication process that does not involve a shared global config. Whatever we do should be secure in terms of file permis

[2020-05-18 18:48] ryanpetrello commented on #7066
This work will likely encompass new data model and API work to define credential types for interacting with registries, and associating the necessary credentials to defined execution environments (see: https://github.com/ansible/awx/issues/7064)

[2020-05-18 18:51] wenottingham opened #7067 "Better inventory errors"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See an example in #7052
An inventory update failed, producing the following output:
[code]

Every part of that error before:
[code]

could be elided without losing context.

This may require ansible changes.

[2020-05-18 19:11] AlanCoding commented on #6270
Ansible core PR merged

[2020-05-18 19:13] AlanCoding commented on #7067
What if you reduce the verbosity on the inventory source?

[2020-05-18 19:49] unlikelyzero commented on #6984
@blomquisg are you asking us to test that this works in pf?

[2020-05-18 19:50] AlanCoding commented on #7057
Some basic sense of how the format is shaping up can be found in the tests:

https://github.com/ansible/ansible-builder/blob/devel/test/test_main.py#L25

I really want to hit the ground running by hooking this into real collections.

[2020-05-18 19:52] kdelee commented on #7057
For testing: this will be for testing https://github.com/ansible/ansible-builder/ . We could build simple on repo testing of the YAML files just making sure it can consume it and has sane error messages and validates that it generates a valide ContainerFile -- but if you are missing some dependencies, that's on you. Will test building our OWN execution environments in a later step. Does not includ

[2020-05-18 20:03] ryanpetrello commented on #7064
Additionally, we'll want to support this in our various SDK/CLI toolkit i.e., adding support creating and associating these in both the AWX collection and CLI.

[2020-05-18 20:27] lgrullon-gilead commented on #7067
Hi AlanCoding,
This one is impacting many of us trying to sync the vcenter inventory...I know wenottingham mentioned the vmware script is out the window and the plugin system is more supported on this scope. If possible, can you please provide guidance on how to get the inventory sync from vcenter.

I have opened this issue in the following thread: https://github.com/ansible/awx/issues/7052

[2020-05-18 20:36] ryanpetrello commented on #6984
(I'll answer for him) Yes.

[2020-05-18 21:11] stfnifllr commented on #2061
I have this problem too, but the proxy_set_header values suggested do not solve it. Any other suggestions?

[2020-05-19 00:10] wenottingham commented on #5283
Between http://docs.podman.io/en/latest/markdown/podman-stats.1.html and native OCP features, we may be able to do this without a plugin.

[2020-05-19 05:43] alishahrestani commented on #6792
Hi, I have same problem, it was resolved with using Postgresql 12.

[2020-05-19 06:07] Akasurde commented on #7052
@lgrullon-gilead I am able to gather inventory using the given `vmware_vm_inventory.yml`.

[code]

After looking at error it seems that inventory plugin is failing to generate hostname and generating `None` which is being passed to the core engine and the core engine is generating this error.

Could you please provide `strict: True` and re-run the inventory, this will give us more information abou

[2020-05-19 06:41] mdecalf commented on #5496
I confirm, the workaround of #5230 works

Thank you @r3sist3nt

[2020-05-19 08:31] JG127 opened #7072 "Tune the Docker image size"
##### ISSUE TYPE
 - Improvement request

##### SUMMARY
The default AWX images are huge. As a consequence they have a long download time and a long extraction time. These days the former is especially a problem for people working from home using VPN, due to the Covid virus.

The images amount to 2.5GB each. Although Docker caching will reduce the downloaded volume.

##### ENVIRONMENT
* AWX version:

[2020-05-19 08:32] JG127 commented on #7072
Suppose I'd like to give it go myself, by rewriting the Docker files, what files should I look to ?

[2020-05-19 08:35] JG127 commented on #6792
Upgrade to Postgresql 12 didn't help for me.

[2020-05-19 10:34] IshwarKanse opened #7073 "Cache collections based on requirements.yml"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Feature request for caching collections based on requirements.yml instead of pulling them every time for each job run.

[2020-05-19 10:34] IshwarKanse commented on #7073
Related to #5518

[2020-05-19 12:48] mabashian opened #7074 "Unable to toggle host on/off as superuser"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1490" alt="Screen Shot 2020-05-19 at 8 46 14 AM" src="https://user-images.githubusercontent.com/9889020/82327971-396c1d00-99ad-11ea-8857-e12a5f598f8c.png">
<img width="1434" alt="Screen Shot 2020-05-19 at 8 46 06 AM" src="https://user-images.githubusercontent.com/9889020/82327974-3a9d4a00-99ad-11ea-9330-c1aa1a3b2f89.png">

##### STEPS TO RE

[2020-05-19 13:40] dsesami commented on #6621
https://github.com/ansible/awx/issues/6903 will need to be retested when this lands.

[2020-05-19 13:40] dsesami commented on #6903
Linked this issue to be retested when inventory source list websockets are active. For now, the requirements have been fulfilled, so closing it out.

[2020-05-19 13:40] #6903 closed, assigned to dsesami, AlexSCorey

[2020-05-19 13:42] ryanpetrello commented on #7072
@JG127 we've _actually_ recently made a change to move to two-stage container builds, which we think will drastically help here, but it won't be out until the next major version of AWX is available:

https://github.com/ansible/awx/pull/7017

[2020-05-19 13:42] #7072 closed, assigned to nobody

[2020-05-19 14:51] wenottingham commented on #7073
closing as duplicate

[2020-05-19 14:51] #7073 closed, assigned to nobody

[2020-05-19 15:37] AlanCoding commented on #5461
Implemented in https://github.com/ansible/awx/pull/6733

[2020-05-19 15:41] lgrullon-gilead commented on #7052
Hi Akasurde, it looks like in this new released something changed resulting in this outcome on vmware plugin sync. Perhaps Alan or alternate team resource can provide guidance on a fix. Thank you.

[2020-05-19 16:16] AlanCoding commented on #7052
@lgrullon-gilead The suggestion above is that you try again after applying this diff to your source.

[code]

The issue, as I read it, is that it fails to template the `hostname` entry to the inventory plugin. So that leads to questions:

 - do the source vars for your vmware inventory source have `groupby_patterns` in it? If it does, what is it?
 - If not, is there an obvious reason that the defa

[2020-05-19 16:23] keithjgrant commented on #6640
After discussion with @jakemcdermott and @trahman73, we decided the ideal experience for this would be to show "skeleton" elements for the form inputs while they load. Hopefully PF can provide these at some point, but if not, we'll have to build them out.

In the meantime, we’ll do a quick fix by disabling the inputs as they load, to help us get to 4.0. Later we can circle back and add some better

[2020-05-19 16:26] lgrullon-gilead commented on #7052
Hi Alan,
Thank you for your response....we did work in those value changes with akasurde via IRC but it seems the effect is the same....we worked with a few others testing in the channel but they all appear to be having the same result....hope you can help us dig this one out soon. Thanks

[2020-05-19 16:31] jlmitch5 commented on #7064
UI work for execution environments:
- There will be a new credential type (container registry credential type).  Hopefully this will just work based on the credential type coming from the api once we build that (no UI config)
- New CRUD view for execution environments (i.e. images).  Detail view will have RBAC...would also need to add to the RBAC adder at the user level.  Fields are:  Fields are

[2020-05-19 16:37] mabashian opened #7083 "Several lists show loading screen instead of empty list screen when initial request has no results"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I haven't exhaustively looked but if you have no Projects/Teams/Credentials in your DB then the list indefinitely looks like:

<img width="1437" alt="Screen Shot 2020-05-19 at 8 32 13 AM" src="https://user-images.githubusercontent.com/9889020/82353325-44cf4080-99cd-11ea-9b82-e132eab6f569.png">
<img width="1425" alt="Screen Shot 2020-05-19 at 8 32 02 AM

[2020-05-19 18:31] davidtluong opened #7086 "Survey to properly escape trailing backslash"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, AWX does not escape a trailing backslash when used with surveys.  Desired functionality would be to allow the character `\` to be at the end without needing a manual escape from the user.

[2020-05-19 19:30] jladdjr commented on #5571
It looks like we've known this was possible for a while - [here](https://github.com/ansible/awx/blob/devel/awx/main/management/commands/inventory_import.py#L384-L385)'s a comment from forever ago:

I've been poking at inventory_import with @AlanCoding and noticed that we're:
* reading the current state of the inventory (https://github.com/ansible/awx/blob/devel/awx/main/management/commands/invento

[2020-05-19 19:37] jladdjr commented on #5571
When we added the advisory lock, we needed to make sure that we read in the current state of the inventory _after_ we got the lock:
https://github.com/ansible/awx/pull/3529

[2020-05-19 21:42] #6971 closed, assigned to nixocio

[2020-05-19 22:05] jladdjr commented on #5571
Thought https://github.com/ansible/awx/pull/7090 might fix the issue, but I'm still seeing missing hosts even when we force inv. updates to happen serially. Doing some more digging.

[2020-05-19 23:42] wenottingham opened #7091 "move inventory source configuration to `credentials` list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The current UI uses the unitary `credential` field when configuring inventory sources.

The UI rewrite should use the `credentials` list and associate credential(s), if it doesn't already.

[2020-05-19 23:44] AlanCoding commented on #7091
In order to make this work, the API will need to relax some validation rules for some source types.

[2020-05-19 23:49] wenottingham commented on #7050
`Failed to download metadata for repo 'AppStream'`

This looks like a transient error?

[2020-05-19 23:54] wenottingham commented on #6306
This is an upstream issue, not much we can do in awx. See https://bugzilla.redhat.com/show_bug.cgi?id=1680124

[2020-05-20 00:42] guliaka commented on #7050
No. This is problem in code build. Because I can run failed command on the host itself and it completes successfully.

[2020-05-20 00:44] guliaka commented on #7050
Meaning the command fails from inside of container.

[2020-05-20 01:06] MrBones757 commented on #7052
I have also starting seeing this issue.

For me, i seem to be seeing this when an inventory update is run immediately following a new VM being created / powered on in vmware. I have tried adding host name defaulting to prevent it from being none:
host_pattern: "{{ ( guest.ipAddress if (guest.hostName is defined and 'vmt' in guest.hostName) else (guest.hostName | default(guest.ipAddress | default('

[2020-05-20 02:09] hiyokotaisa opened #7092 "RFE: Add "started" and "finished" time of WFJT to the log for external logger like Splunk"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I can see the status of WFJT from Activity Stream logging as below. However, I cannot see `started` and `finished` time in there. So it would be great we can see those from Splunk.

[code]

I can see `started` , `finished` and `elapsed` time in `/api/v2/workflow_jobs/<JOB_ID>` so I would like to see it on Splunk.

[code]

[2020-05-20 02:51] lgrullon-gilead commented on #7052
We hope someone can provide further guidance on this one soon, this appear to be impacting a series of folks and many of them are joining the #ansible-vmware channel in freenode. Alan, if possible, can we ask someone from the team to help out on this issue? Thanks.

[2020-05-20 07:20] MarcoV-git commented on #6878
Guys, any idea when a new image will be release to hub.docker with this fix included in the image?

[2020-05-20 07:40] fxmick commented on #7010
This "magic" word trick would be great !
I currently managed this with a mix of api calls to get the the current list of hosts and add new one(s) with the collection.

[2020-05-20 10:01] samascience opened #7093 "docker awx unable to access"
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/bin/daphne", line 8, in <module>
    sys.exit(CommandLineInterface.entrypoint())
  File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/daphne/cli.py", line 191, in entrypoint
    cls().run(sys.argv[1:])
  File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/daphne/cli.py", line 252, in run
    application = import_by_path(args

[2020-05-20 11:50] JJCella opened #7094 "Approval workflow notification fails to be sent to PagerDuty"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Approval workflow job notification fails to be sent to PagerDuty (all others notif backends are working for approval notifications) No issues with Start /  Success / Failure notifications.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: Ubuntu 18.04 LTS
* Web Browser: Firefox

[2020-05-20 12:15] anxstj opened #7095 "Job events gone after upgrade to 11.2.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

After upgrade from 9.3.0 to 11.2.0, all job events are deleted. The jobs itself are listed, but there is no output shown.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker
* Ansible version:  2.9.7
* Operating System: Debian 9
* Web Browser: Firefox 76

##### STEPS TO REPRODUCE

* Have a running 9.3.0 AWX running
* `git fetch`
* `g

[2020-05-20 12:33] mabashian opened #7096 "Unable to select single credential row for deletion"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to click on these boxes:

<img width="1150" alt="Screen Shot 2020-05-20 at 8 31 13 AM" src="https://user-images.githubusercontent.com/9889020/82446276-5b7ca280-9a74-11ea-962b-838957865b0b.png">

Select all still works

##### STEPS TO REPRODUCE
1. Go to credentials list
2. Attempt to click on a row checkbox

##### EXPECTED RESULTS
Checkbox is che

[2020-05-20 12:38] mabashian commented on #7096
Disregard - this was an issue with my local installation

[2020-05-20 12:38] #7096 closed, assigned to nobody

[2020-05-20 12:41] Akasurde commented on #7052
With the help of @mYzk, I was able to find out several issues with inventory plugin

- Keyed groups are not working
- `customValue` is not working
- `parentVApp` is not working
- config contains `vmxConfigChecksum` has binary data which is parsed as Unicode

Here is working VMware inventory YAML -

[code]

[2020-05-20 12:41] awscloudarch87 opened #7097 "Integrate with Windows"
I would like to integrate my existing AWX with Windows server and do some automation, can anyone please help me with guidelines.

P.S. Automation in the sense in this scenario, start/restart/stop a service, start/restart/stop a server.

Thanks in advance for your suggestions!

[2020-05-20 12:43] cr0cdev commented on #7093
Hi!

Have you defined SECRET_KEY in inventory when deploying?
The error you are getting seems to be because the secret is unset:
`File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/django/conf/init.py", line 176, in init
raise ImproperlyConfigured("The SECRET_KEY setting must not be empty.")
django.core.exceptions.ImproperlyConfigured: The SECRET_KEY setting must not be empty.`

[2020-05-20 12:53] cr0cdev commented on #7097
Hi!

This can be done via AWX, but understand that AWX is just a GUI for Ansible. You have to write the Ansible playbooks and roles for Windows servers.
You can find more information from here:
https://docs.ansible.com/ansible/latest/user_guide/windows_setup.html

From there you need to check the Ansible documentation to create the playbook and then setup a job in AWX to run that playbook.

[2020-05-20 13:03] awscloudarch87 commented on #7097
Ok, Thank you very much for your quick response! I will give a try.

[2020-05-20 13:06] mabashian commented on #7083
Closing - this was an issue with my local branch

[2020-05-20 13:06] #7083 closed, assigned to nobody

[2020-05-20 13:23] #7097 closed, assigned to nobody

[2020-05-20 13:24] ryanpetrello commented on #7093
Hey @samascience,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-05-20 13:24] #7093 closed, assigned to nobody

[2020-05-20 13:33] ryanpetrello commented on #7095
Hey @anxstj,

A recent change we made to AWX was to move the events table to a _new_ table that has a `bigint` as its primary key, because users with billions of events were overflowing the old 4-byte integer primary key:

https://github.com/ansible/awx/issues/6010
https://github.com/ansible/awx/pull/6032

As part of this migration we:

1.  Rename the *old* table (which has all your events)
2. Cre

[2020-05-20 13:41] anxstj commented on #7095
Hi @ryanpetrello,

thank you for your fast reply.

[code]

[code]

[code]

[2020-05-20 13:41] mYzk commented on #7052
I will update this with a temporary fix. Remember this is not a verified fix to this issue, but this fix populates the inventory again and the sync is working.
You need to edit **inventory.yml** file inside the docker container and after editing it you need to restart the container with command **_docker container restart awx_task_**.
Inventory file is located in: _/var/lib/awx/venv/awx/lib/python

[2020-05-20 14:04] ryanpetrello commented on #7095
Yep, your data is there, it just wasn't migrated (I'm unclear why, though your logs may provide some hints):

[code]

If you want to kick off the migration process again, try something like this in the `awx_task` container:

[code]

[2020-05-20 14:05] fsdrw08 commented on #20
I need similar feature to get user's client IP and resolve the hostname then run playbook to install software into their client computer.
If AWX do not provide such feature, I had to learn some front-end programing to build a front-end web site to let user finish their request there.

[2020-05-20 14:23] wilkis3 commented on #6598
@Cartman25 @chrismeyersfsu
Yes, we have used RabbitMQ and not Redis, that was the problem. Now it works with Redis.

[2020-05-20 14:23] #6598 closed, assigned to chrismeyersfsu

[2020-05-20 14:30] kevindurb commented on #7051
Would love to get some ideas for this! Not sure the next steps for this error...

[2020-05-20 14:34] anxstj commented on #7095
So starting the dispatcher seems to work:

[code]
But I still get the logging error:

[code]
And that's all I see in the container logs. But I updated AWX over a week ago and the relevant logs have been rotated away. I recognized the missing data just today.

And the old events are still missing.

[2020-05-20 14:37] ryanpetrello commented on #7095
@rooftopcellist @wenottingham is the above traceback ^ a symptom of https://github.com/ansible/awx/pull/7088 ?

[2020-05-20 14:43] ryanpetrello commented on #7095
Reading back over your instructions:

`git merge 11.2.0`

Er, this probably is *not* what you want.

Can you:

`git fetch && git reset --hard origin/11.2.0`

Also, can you share the output of `docker image ls` ?

[2020-05-20 15:01] anxstj commented on #7095
I use some custom environments and build the containers myself. The changes are kept in the git repo and that's why the merge is necessary.
Except from the custom environments this is a default AWX with an external Postgresql 9.6 database.

[code]

[2020-05-20 15:03] rchaud opened #7100 "No instance found with the current cluster host id"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am currently running AWX 9.3.0 without issues. I have tried to install 10.0.0 , 11.0.0 , 11.1.0 , 11.2.0, but they are all buggy with the same error message "No instance found with the current cluster host id "

There are many reports of this error without a solid solution. Is there a solution to that error message in AWX versions 10.0.0 , 11.0.0 , 1

[2020-05-20 15:05] lgrullon-gilead commented on #7052
I have validated this work around and it works....hopefully Alan and the team can review this one and merge into the upcoming code release. Thank you so much team, inventory is back and working for VMware.

[2020-05-20 15:38] wenottingham commented on #7095
I don't thik so, that manifests more as a rsyslog error before you get anywhere (and is dev env only).

[2020-05-20 15:58] linuxman1 commented on #5601
Hi, I had this issue on centos 8 and found a workaround and it worked although it may cause security issues, this fix is,
sudo update-crypto-policies --set LEGACY

[2020-05-20 17:01] AlexSCorey opened #7102 "User/Team Access List Item"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
 ~On the User/Team -> Access list if a user has multiple permission on a single resource, all of those permissions should be shown in a chip, on the list.~ It was decided not to do this 1 because of complications it would add to pagination, search etc.

- [x] There should be spacing between the label on the list item and the data
![Screen Shot 2020-0

[2020-05-20 17:03] #6920 closed, assigned to AlexSCorey

[2020-05-20 17:03] #6919 closed, assigned to AlexSCorey

[2020-05-20 17:04] #6946 closed, assigned to AlexSCorey

[2020-05-20 18:15] marshmalien commented on #7074
I'm not able to reproduce this on devel. I logged in as a super_user and was able to toggle a host in an inventory host list and inventory host detail view.
![host](https://user-images.githubusercontent.com/15881645/82482062-44ee3f80-9aa4-11ea-9976-e1352d3f098d.gif)

[2020-05-20 18:40] foreverdante commented on #5051
I am wondering if this is a feature that could be or is planned to be included in future releases

[2020-05-20 18:53] AlexSCorey opened #7104 "User/Teams Access Disassociate"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Support disassociate functionality for User Access and Teams Access
See https://github.com/ansible/awx/issues/6597

[2020-05-20 19:31] nixocio opened #7105 "Replace usage of `handleDelete` async function by `useRequest`"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
There are a few async functions used to delete items, mainly in details components that can raise a warning such as:

[code]
##### STEPS TO REPRODUCE

1. Go to Projects
2. Select a Project
3. Go to Project Details page
4. Delete the selected project
5. Verify logs

##### EXPECTED RESULTS
No warnings to be raised.

##### ADDITIONAL INFORMATION

This wor

[2020-05-20 19:51] AlanCoding commented on #7052
The effective diff from that

[code]

You set it strict=true, of course, and unsurprisingly you had to comment out the keyed_groups when you did that.

I think a better solution for the customValue and other one should be cooked up. It's better if an `if else` in the jinja2 expression in the `compose` option than to have the non-strictness error and then exclude it. But this still doesn't get to t

[2020-05-20 20:37] mabashian commented on #7074
@marshmalien thanks for looking in to this.  I'm going to close.  This was an issue with a change I made locally colliding with something that came in devel while I was gone.  I should have more thoroughly checked devel.

[2020-05-20 20:37] #7074 closed, assigned to nobody

[2020-05-20 21:00] dsesami opened #7107 "awxkit install fails on local clones"
Note: i heard of another issue about this, but i couldn't find it. please link them together if you know the issue.

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
`pip` does not honor symlinks in local clones. It got merged three weeks ago and they're going to have to revert it: https://github.com/pypa/pip/issues/7555

The issue has been somewhat existent since 2016: https://github.com/pypa/pip/is

[2020-05-20 21:02] ryanpetrello commented on #7095
@anxstj

Aside from the noisy logs you've mentioned, did your events get processed after restarting the dispatcher process?

[2020-05-21 04:10] ryan012880 opened #7109 "Unable to Sync Inventory Source - Ansible Tower"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
An inventory configured with inventory source Ansible Tower is unable to sync

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.9
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

NOTE: need to have an existing AWX node that hosts the inventory data

1. Pull the latest commit

[2020-05-21 07:01] mYzk commented on #7052
Hi, Alan

Thank you for explaining that setting strict=true is messing with the groups. Changed it to false and uncommented the groups and it works.
Regarding `config` on the other hand if I add it to with `config.uuid` and `config.name` it gives me a error on composing `config.name + "_" + config.uuid` as hostnames.
[code]
There might be a fix to this, but not sure exactly where.

[2020-05-21 10:19] eharley94 commented on #5692
We are also hitting the same issue. It mean we have to update the project to the specific branch, which can cause issues for all of the scheduled jobs that are running if that branch is a development branch we are testing for something else.

[2020-05-21 12:48] john-westcott-iv commented on #7010
Will this "existing" pattern apply to all parameters that accept multiple things? i.e. `extra vars` in job_templates, notification fields, labels, etc. (I'd like to think yes)

From an implementation perspective it might be easier to have a a flag like `keep_existing_hosts: True` otherwise we will have to modify any resolution loops which are attempting to lookup IDs by name to handle the case of

[2020-05-21 12:57] SebastianThorn opened #7111 "Change favicon depinding on job-status"
##### ISSUE TYPE
 - Change the favicon depending on job-status.

##### SUMMARY
This is a feature existing in Rundeck.

When a job is done, the favicon get changed to a green icon,
indicating that the job went fine, this would be a nice addition to awx.

I'm guessing many of us live in a world of to many tabs, and the only thing we see is the favicon.

[2020-05-21 13:11] AlanCoding commented on #7010
There are many problems with dict-like fields. The API inconsistently accepts YAML strings, JSON strings, or dict objects. Right now the collection only has to worry about the type that it _gives to_ the API, and if you added logic to combine with existing, then you would have to worry about the type that the API _gives back_.

Not every string is a valid hostname, see #3384. Provided that the key

[2020-05-21 13:15] wenottingham opened #7112 "Add a 'details' view for a completed approval node"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Including who approved (or denied) it and when, or whether it timed out.

[2020-05-21 13:21] dsesami commented on #7107
the commit that it's related to is https://github.com/ansible/awx/commit/296995e8bd62ff716223f352c2bbb96b55db7217

FileNotFoundError: Command "python setup.py egg_info" can't find (long temp path with VERSION at the end)

[2020-05-21 13:40] dsesami commented on #6977
This is resolved within #7028. you can close it when that merges.

[2020-05-21 16:27] bryanasdev000 commented on #4470
+1 for this functionality, I have a use case very similar to @strawgate and being able to import an `.ini` directly from the web interface would come in handy.

[2020-05-21 16:36] #7011 closed, assigned to nixocio

[2020-05-21 17:31] mabashian commented on #7112
Idea is that the user would access this interface through the workflow results.  Clicking on the approval node (or some link on the node) would either A) Open up a modal with these details in it or B) Navigate the user to a dedicated details view or C) Some other solution which would satisfy the feature

[2020-05-21 18:05] givaldolins commented on #877
I am using AWX 11.0.0 and I am also getting the same error. Is there any fix in the road map for this?

[2020-05-21 18:14] #6977 closed, assigned to nobody

[2020-05-21 18:30] AlanCoding commented on #7052
Thanks for trying that.

Did the error text from that paste have an "original message" with it? I expected something formatted along the lines of:

Did you have any other things defined under source variables for this inventory source, aside from `alias_pattern` you mentioned earlier?

[2020-05-21 18:35] #5461 closed, assigned to squidboylan

[2020-05-21 21:43] bryanasdev000 commented on #6792
I'm having the same problem in version 11.2.0, using the docker compose, however, in the second attempt it always works. I'm using PostgresSQL in compose as well. My logs are similar to @roedie.

Out of curiosity, did anyone have the problem using OpenShift or Kubernetes?

[2020-05-21 21:57] bryanasdev000 commented on #7049
Hello @TidalPoo!

I tried to reproduce the error 3 times on a VM using Vagrant (running Debian 10, Ansible 2.9.9, AWX 11.2.0, Docker Compose 1.21.0 and Docker 19.03.9). I shut down and restarted the machine, also docker-compose down && docker-compose up -d, all OK (except for problem #6792).

Can you please try with Ansible 2.8+ and AWX 11+?

Quickly reading your log, for some reason the AWX setti

[2020-05-21 22:06] bryanasdev000 commented on #7051
Tactical dot, I would also like to see AWX running on my PI's. I'll take a look at the weekend.

[2020-05-22 07:59] nwerker commented on #2350
+1

[2020-05-22 08:18] mYzk commented on #7052
Hi @AlanCoding

No it did not give me a "original message", the only error I got was the one that I pasted.
On that test I did not have any `alias_pattern` defined or filters. The inventory was as basic as it can be.

[2020-05-22 09:15] Sergiodcm00 commented on #3995
I think its interesting to have a role for only admin smart inventory.
You can avoid users modify "master inventory" (for example when inventory comes from git) but you want users can create smart inventory from the "master inventory".

[2020-05-22 11:19] sugitk opened #7122 "manually project update doesn't synchronize galaxy roles"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When `project update` manually, it doesn't synchronize galaxy roles using requirements.yml.

##### ENVIRONMENT
* AWX version: Tower 3.7.0
* Ansible version:  2.9.9
* Operating System: RHEL 7.8

##### STEPS TO REPRODUCE

1) Create a new project using `SCM URL` as https://github.com/sugitk/project_update_sample.git
2) Click synchronization icon
3) Check

[2020-05-22 13:55] mabashian opened #7126 "Hook up credential plugin wizard Test button"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1362" alt="Screen Shot 2020-05-22 at 9 50 07 AM" src="https://user-images.githubusercontent.com/9889020/82674720-bd264380-9c11-11ea-8310-4d238d5ddee4.png">

Clicking this button should POST to `/api/v2/credentials/:id/test/`.  We currently show the results in a toast message like so:

<img width="1239" alt="Screen Shot 2020-05-22 at 9 53

[2020-05-22 14:01] mabashian opened #7127 "Update credential details to display fields configured using cred plugins"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Credential details needs to be updated to display fields that are configured to be pulled from an external source (credential plugins).  I'm not sure that the UX has been worked out for this but we'd want to show:

1) Field name
2) Selected credential
3) Metadata (this could be multiple fields)

To set this scenario up you'd first need to create a cr

[2020-05-22 16:15] YakShavingCatHerder commented on #6982
Confirmed this was bad data; thanks for the help guys!

[2020-05-22 16:15] #6982 closed, assigned to nobody

[2020-05-22 16:27] momcilo78 opened #7128 "How to create the custom virtualenv with awx.awx collection included"
##### ISSUE TYPE
 - awx.awx collection not available in custom environment

##### SUMMARY
I prefer to keep the default venv environment in the original state, and create a custom venv environment where we can install our own dependencies. The awx.awx contains the patched version of the original tower_job_launch.py (from awx.awx collection) which uses dict instead of list. This works in default env

[2020-05-22 16:38] wenottingham commented on #7122
Yes, we pull at runtime, not project revision update time.

[2020-05-22 16:38] #7122 closed, assigned to nobody

[2020-05-22 16:42] fabioharry commented on #6213
I had the same problem, however using the compose docker.

I solved this probleme mounting the same volume in the two awx_task and awx_web containers.

Example:
`  task:
    image: ansible/awx_task:11.2.0
    container_name: awx_task
    depends_on:
      - redis
      - memcached
      - web
      - postgres
    hostname: awx
    user: root
    restart: unless-stopped
    volumes:
      - supervi

[2020-05-22 17:19] kevindurb commented on #7051
I did a `docker run -it centos:8` on my pi and searched dnf and found `libstdc++.aarch64` im way out of my knowlege here but im gonna try to swap that out in the Dockerfile.j2 and see if that works!

[2020-05-22 17:30] momcilo78 commented on #7128
1 hour later...
I think I found workaround/solution.
Adding  collections_paths inside ansible.cfg local to the git project made it resolve awx.awx.
e.g.
[code]
Can you please confirm if this location is safe to be referenced, or it is recommended to install own collections?

[2020-05-22 17:35] wenottingham commented on #7128
It's definitely recommended to install your own collection for the project that is using it. That collection path is for AWX's own use for inventory updates (and other internal uses) and will be updated with new releases as AWX needs new feature... which could break playbooks that rely on older versions of a collection.

[2020-05-22 18:04] momcilo78 commented on #7128
@wenottingham thanks, I will close the issue.

[2020-05-22 18:04] #7128 closed, assigned to nobody

[2020-05-22 18:12] keithjgrant opened #7130 "Users Team view: add to team"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
On the User Teams page, implement an "Add" button to add the user to teams. Mockup: https://tower-mockups.testing.ansible.com/patternfly/users/users-teams-add/

This is broken out from #6594

[2020-05-22 18:12] keithjgrant commented on #6594
I didn’t implement Add, so I'm breaking that out into a separate enhancement: #7130

I also agree deletion is a complicated feature here, too. Does it delete the team, or does it just disassociate the user from the team? If the latter, the UI of "Delete" and the trash can icon seem misleading/confusing and might need a little more thought.

[2020-05-22 20:23] jklasd8899 opened #7131 "AWX upgrade v6.0.0 to v10.0.0 - Permission denied postgres/pgdata/PG_VERSION"
##### ISSUE TYPE
 - Bug Report

AWX upgrade v6.0.0 to v10.0.0 - Permission denied postgres/pgdata/PG_VERSION

##### SUMMARY
Trying to upgrade AWX from v6.0.0 to v10.0.0.
Receiving an error at this step - TASK [local_docker : Check for existing Postgres data]

fatal: [localhost]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "checksum_algorithm": "sha1"

[2020-05-22 21:49] mdinwoodie opened #7132 "Lock local user accounts after multiple failed login attempts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is a request to implement an account lock-out threshold so that after X number of failed login attempts the account would be locked. Enabling a lockout threshold would help to ensure that local user account passwords cannot be guessed using brute force attacks.

[2020-05-22 21:57] davidtluong opened #7133 "Enforce password policy for users"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The request is for the ability to set password policies for users for both the UI and REST API that can be set and enforced for local users.  Currently, there is no ability to define password complexity requirements for locally created users.

[2020-05-22 22:19] kevindurb commented on #7051
Ok so swapping out libstdc++.so.6 with libstdc++.aarch64 worked! Now its getting stuck on this line: `dnf -y install https://github.com/krallin/tini/releases/download/v0.18.0/tini_0.18.0.rpm && \`

I looked up tini and it has arm images... so im not sure why its not able to install it... heres the error:
[code]

And i found an issue on tini talking about the arm support https://github.com/krallin/

[2020-05-22 22:30] wenottingham commented on #7132
The recommendation is that this should be done in the configured auth provider.

[2020-05-22 22:41] branic commented on #7132
The problem is that even with an auth provider configured it is still possible to create local user accounts. As local user accounts can be created they need to be able to be secured.

[2020-05-22 22:47] mstrent commented on #6792
Ran in to this with 11.2.0 today myself. As reported by others, deleted all the containers and ran the Ansible installer again and it worked.

[2020-05-23 07:45] momcilo78 opened #7136 "Launching jobs based on job_templates through API is slow"
##### ISSUE TYPE
 - Bug Report
 - Performance problem
 - Configuration problem?

##### SUMMARY
Job launching through job_template API is slow. Initially I have observed this when using awx.awx.tower_job_launch. It appears that the job launching rate is ~ 1 job/second.
Initially I attributed this to the initial slowness of ansible when it comes to execution of single tasks due to the overhead.

How

[2020-05-23 16:55] lgrullon-gilead commented on #7052
Thank you team for working around the clock on fixing this issue, hope we can merge these changes in the next 11.3 release.

[2020-05-24 13:17] viewmithun commented on #6667
Any update on this please?

Regards,
Mithun

[2020-05-24 14:05] codesupremo opened #7137 "How can I install and use NAPALM-ANSIBLE in AWX?"
##### ISSUE TYPE
 - How can I install and use NAPALM-ANSIBLE in AWX?

##### SUMMARY

Is it possible to install and use NAPALM-ANSIBLE in AWX?

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Unable to reproduce

##### EXPECTED RESULTS

To be able to use napalm_valid

[2020-05-24 19:49] chris93111 opened #7138 "uri module need to set the interpreter with virtualenv"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

jobs with uri module need to set the interpreter with virtualenv
virtualenv = python2.7 ansible 2.7.5
connection = local

{
    "_ansible_parsed": false,
    "_ansible_no_log": false,
    "module_stderr": "/bin/sh: /usr/bin/python: No such file or directory\n",
    "changed": false,
    "module_stdout": "",
    "rc": 127,
    "msg": "The module failed

[2020-05-24 21:53] ryanpetrello commented on #7137
Hey @codesupremo,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-05-24 21:53] #7137 closed, assigned to nobody

[2020-05-25 05:36] luckylittle opened #7139 "SumoLogic external logging in Ansible Tower 3.7 does not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
SumoLogic collector is typically URL with token in base64 format ending with two equal signs `==`. When this is saved in Tower, the incorrect URL will be stored in `/var/lib/awx/rsyslog/rsyslog.conf` where it automatically replaces those signs with `%3D%3D`. Underlying curl used by `rsyslogd` will further try to encode it and ends up with `%253D%253D`.

[2020-05-25 07:32] anxstj commented on #7095
New events get processed and show up in the job view. But the old events are still not migrated.

[2020-05-25 08:33] luckylittle commented on #7139
@stoolrossa confirmed for me that this works like a charm in Tower `3.6.4`, so it must be related to the new robust implementation based on rsyslogd...

[2020-05-25 15:52] imareporter opened #7140 "Add Webhook Support for Gogs/Gitea"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add webhook support for Gogs/Gitea. Gitea is a fork of the Gogs project.

See: https://gogs.io/docs/features/webhook
See: https://docs.gitea.io/en-us/webhooks/

[2020-05-25 16:12] gael-fuhs2 commented on #6986
Hi @ryanpetrello

We have the same issues that  @mgperry1 on our AWX server. The AIM creds works when we use the authentication by certificate on CyberArk from AWX 9.0.0. But after upgrade to upper version AWX to 11.2.0 . We have an error on AWX and the AIM feature don't work anymore.
On the logs of CyberArk, we see an error on the request run by AWX which don't send the certificate for authentifi

[2020-05-25 16:32] chris93111 commented on #7138
Hi with ansible_python_interpreter: /usr/bin/python2.7 it's work , but i don't know if is best solution

[2020-05-26 01:28] jonnymccullagh commented on #4764
Responding here in case it helps anyone else as I was having problems, it seems caused because I had logged in as an unprivileged user then used 'su' rather than 'su -' before beginning installation. As a result the first few config files were created under /home/jonny/.awx/awxcompose but the later stages of the installation used /root/.awx/awxcompose The result was that important files under /etc

[2020-05-26 06:49] BhavanaMS commented on #20
Is this feature being implemented ?Can we expect it any time soon?

[2020-05-26 10:25] awscloudarch87 opened #7141 "Couldnt able to connect Windows host from AWX"
While trying to connect windows host from my AWX, I'm getting below error, can anyone please suggest/help. TIA

Its my EC2 instance and I have installed winrm from that windows machine and opend 5985 port at SG level.

{
    "unreachable": true,
    "msg": "plaintext: HTTPConnectionPool(host='X.X.X.X', port=5985): Max retries exceeded with url: /wsman (Caused by ConnectTimeoutError(<urllib3.connec

[2020-05-26 11:34] momcilo78 commented on #106
What is the present state of this issue?
With AWX 11.2 I can not get it to to download the roles even when placed in: roles/requirements.yml
If I got it right I should see this being downloaded with SCMUpdate job, but it looks like this every time:
[code]

[2020-05-26 12:04] anxstj commented on #7095
I just checked a local test environment that uses the same container images, but also a postgresql container instead of a dedicated postgresql node. The test environment has all job events, including all the ones before the update. The awx database doesn't have a table _old_main_jobevent. This seems to indicate that the jobevent table migration was successful.

And the logs show:
[code]
Is it poss

[2020-05-26 12:08] FrederikSuijs commented on #20
+1

[2020-05-26 13:05] ryanpetrello commented on #7095
@anxstj,

Try running this in the `awx_task` container:

`~ awx-manage shell_plus`

...then, at the Python prompt:

[code]

[2020-05-26 13:14] dsesami commented on #6574
since #7085 merged this is now closed out, thanks!

[2020-05-26 13:14] #6574 closed, assigned to marshmalien, dsesami

[2020-05-26 13:15] dsesami commented on #6576
this was closed out with the merging of #7028

[2020-05-26 13:15] #6576 closed, assigned to marshmalien, dsesami

[2020-05-26 13:17] ryanpetrello commented on #7138
Yep, that's what you want.

https://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html#local-playbooks

[2020-05-26 13:17] #7138 closed, assigned to nobody

[2020-05-26 14:07] ryanpetrello commented on #7063
@mabashian did a fix for this get merged upstream that needs a back port, or are we still actually in `needs_devel`?

[2020-05-26 14:09] ryanpetrello commented on #7052
@AlanCoding do you anticipate AWX changes here beyond "get the latest fixes in the new collection version" ?

[2020-05-26 14:17] ryanpetrello commented on #6986
Thanks for the report @gael-fuhs2 @mgperry1,

We'll take a look.

[2020-05-26 14:26] ryanpetrello commented on #6986
What's odd about this is that the AIM plugin hasn't really changed in a notable way in recent history:

[code]

[2020-05-26 14:33] nixocio opened #7142 "Missing extra variable from the preview on prompt on launch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Missing extra variable from the preview on prompt on launch.

![preview_missing_extra_variable](https://user-images.githubusercontent.com/9053044/82911541-017b5180-9f3a-11ea-855b-eb96824b9fe4.gif)

##### STEPS TO REPRODUCE

1 - Create a Job Template with an extra variable
![image](https://user-images.githubusercontent.com/9053044/82912601-494ea880-9f3b

[2020-05-26 14:48] ryanpetrello commented on #6986
Given that you all have described that you're encountering a hang, this is the likely path of code you're stuck in:

https://github.com/ansible/awx/blob/devel/awx/main/credential_plugins/aim.py#L93-L98

That said, there isn't much exciting here - we're just writing a cert file and handing it off to the requests library to make an HTTP request.

If you can reliably encounter a hang, it would be hel

[2020-05-26 14:54] wenottingham commented on #20
When there is a an update on progress, it will appear here.

[2020-05-26 14:58] ryanpetrello commented on #6986
@mgperry1

Is the CyberArk server up and responsive for you from *within* the `awx_task` container e.g.,

[code]

[2020-05-26 15:00] wenottingham commented on #7141
This repository is for issues in AWX itself. This looks like an issue with your playbook and/or networking. You're best off talking the overall Ansible community here: https://docs.ansible.com/ansible/latest/community/communication.html#communication

[2020-05-26 15:00] #7141 closed, assigned to nobody

[2020-05-26 15:39] AlanCoding commented on #7052
Yes, I anticipate #7124 is necessary. It may not be necessary in all cases, but may be involved in the specific imports here, and are probably changes we want. I'm still trying to finish all the testing I have against the 2 linked PRs.

[2020-05-26 15:42] AlanCoding commented on #106
The roles should be installed before a job run that uses that project, this is a UX headache, but issue for that is https://github.com/ansible/awx/issues/5518

[2020-05-26 15:52] pradyunvalluri opened #7144 "Upgrade ansible awx to 11.2.0"
Hi

I am trying to upgrade current awx(web & task) 7.0.0 to 11.2.0 .
However after the upgrade awx web UI is not accessible.
I learned that, starting from v9.0.3 , rabbitmq has been replaced with redis..
I tried to replace rabbitmq with redis in the docker stack. However awx task is throwing following exceptions.
**"File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/redis/connection.py", line

[2020-05-26 15:57] ryanpetrello commented on #7144
Hey @pradyunvalluri,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-05-26 15:57] #7144 closed, assigned to nobody

[2020-05-26 16:03] masbahnana opened #7145 "Editing a schedule results in a NaN error on the start date"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Editing a schedule
![Screenshot_2020-05-26 Ansible AWX](https://user-images.githubusercontent.com/35573203/82923003-3dcaa400-9f72-11ea-90f2-42672d873b3a.png)

##### ENVIRONMENT
* AWX version: latest
* Operating System: mac
* Web Browser: chrome

##### STEPS TO REPRODUCE
1 - I create a job template
2 - I try to editing

##### EXPECTED RESULTS
Save the s

[2020-05-26 16:56] wenottingham commented on #7140
-> #6529

[2020-05-26 16:57] #7140 closed, assigned to nobody

[2020-05-26 16:59] unlikelyzero commented on #7145
@NatOps would you mind filling in your browser and OS version more specifically? The functionality surround the startdate takes into account the browser's date IIRC

[2020-05-26 17:10] ryanpetrello commented on #7109
@AlanCoding @kdelee is this a duplicate of https://github.com/ansible/awx/issues/6878?

[2020-05-26 17:35] erpadmin commented on #7140
https://github.com/go-gitea/gitea/issues/7788

[2020-05-26 17:37] erpadmin commented on #6529
https://github.com/go-gitea/gitea/issues/7788

[2020-05-26 17:37] mabashian commented on #7145
We're going to need more information about how the schedule was created initially so that we can reproduce locally

[2020-05-26 17:56] dsesami commented on #7107
this got fixed. local clones work now.

[2020-05-26 17:56] #7107 closed, assigned to ryanpetrello

[2020-05-26 17:59] mgperry1 commented on #6986
Hi ,
Yes I have actually setup a  different Cred to the Same Serve(Cyberark) without a Cert file and I can do the TEST credential and have a password return,  so yep its working.  I have access to the awx_task container.   Using Chrome I was able to  to find the API  URL call made when I press the TEST cred button, you can copy it to a Bash shell .   If I run the Curls in the container I get the T

[2020-05-26 19:45] AlanCoding commented on #7109
probably, we have a few similar reports right now

[2020-05-26 19:46] dsesami commented on #6575
Moving this to needs_devel since the first requirement was finished, but the next step is supporting all types of inventory sources.

[2020-05-26 19:47] dsesami commented on #6575
after further reading, #6899 covers other types. that means this particular issue is closed.

[2020-05-26 19:47] #6575 closed, assigned to marshmalien, dsesami

[2020-05-26 19:48] anxstj commented on #7095
Running `enforce_bigint_pk_migration()` exits immediately. But the container logs the following:

[code]

What does the last message mean? Has the job finished or is it still running?

I run the `enforce_bigint_pk_migration()` command a second time, and got this output:
[code]
The row count is the same.

[2020-05-26 19:51] ryanpetrello commented on #7095
It means it's migrating them in the background, and you'll need to wait while it does so (it may take a minute to migrate your 10M rows to the new table) 😄

[code]

I'm not really sure why this is happening - maybe it's an underlying permissions issue with the socket for rsyslogd?  What happens if you run this in the task container:

[code]

Also, if you run:

[code]

...and run this at the Python

[2020-05-26 19:55] chrismeyersfsu commented on #1258
Postgres `LTREE` column type could be leveraged to represent the Ansible inventory group structure. With this, I think we could provide the kinds of queries that we want here like "is `HostA` a member of group `us-east`".

[2020-05-26 19:59] dsesami commented on #7024
Approved PR -- when @marshmalien merges it this can be closed.

[2020-05-26 20:26] sumkincpp commented on #4424
This is important feature. Correct capacity usage calculation allows correctly to use forks a not bother about their calculation, thus allows to have in Job Template number of forks initially to be a big number.

With existing behavior Job Template that sometimes is used with many forks and with few forks requires the number of forks to be small. Otherwise, parallel runs of this JT will eat all of

[2020-05-26 20:30] sumkincpp commented on #3512
@ryanpetrello hadn't faced with the problem recently, closing the issue.

[2020-05-26 20:30] #3512 closed, assigned to nobody

[2020-05-26 20:36] sumkincpp commented on #2193
Everything is implemented in latest AWX version.
Extra vars in JT/WF_JT cannot be resized, but this is not very useful.
Resizable TextArea in Survey is a "nice to have", but the current issue can be closed.

[2020-05-26 21:04] nixocio opened #7148 "Improve Search UserAccessList"
This issue is a place-holder to be explored, related to the comment below:

https://github.com/ansible/awx/blob/d42f57d726c74d1f74c7114f522e15fc72d706a4/awx/ui_next/src/screens/User/UserAccess/UserAccessList.jsx#L19

[2020-05-26 21:10] nixocio opened #7150 "Add nextButtonText to Internationalization"
This issue is a place-holder to be explored, related to the comment below:

https://github.com/ansible/awx/blob/d42f57d726c74d1f74c7114f522e15fc72d706a4/awx/ui_next/src/components/AddRole/AddResourceRole.jsx#L303

[2020-05-26 21:16] nixocio opened #7151 "Improve Loading state for ContentLoading"
This issue is a place-holder to be explored, related to the comment below:

https://github.com/ansible/awx/blob/d42f57d726c74d1f74c7114f522e15fc72d706a4/awx/ui_next/src/components/ContentLoading/ContentLoading.jsx#L14

[2020-05-26 21:17] nixocio opened #7152 "Rename component ExpandCollapse"
This issue is a place-holder to be explored, related to the comment below:

https://github.com/ansible/awx/blob/d42f57d726c74d1f74c7114f522e15fc72d706a4/awx/ui_next/src/components/ExpandCollapse/ExpandCollapse.jsx#L32

[2020-05-26 21:22] nixocio opened #7153 "Restructure Component launch LaunchButton"
This issue is a place-holder to be explored,  related to the comment below:

https://github.com/ansible/awx/blob/d42f57d726c74d1f74c7114f522e15fc72d706a4/awx/ui_next/src/components/LaunchButton/LaunchButton.jsx#L141

[2020-05-26 21:26] nixocio opened #7154 "Replace Credential Type Search"
This issue is a place-holder to be explored,  related to the comment below:

https://github.com/ansible/awx/blob/d42f57d726c74d1f74c7114f522e15fc72d706a4/awx/ui_next/src/components/Lookup/CredentialLookup.jsx#L68

[2020-05-26 21:28] nixocio opened #7155 "Add support for dates - Search"
This issue is a place-holder to be explored,  related to the comment below:

https://github.com/ansible/awx/blob/d42f57d726c74d1f74c7114f522e15fc72d706a4/awx/ui_next/src/components/Search/Search.jsx#L287

[2020-05-26 21:30] jonnymccullagh commented on #2495
Agree with bandwiches. Once you know how to use it it is obvious. For new users though this workflow is a fail - more guidance needed. At the very least a link from the 'Select Credential' model to the create new credential page, possibly with the correct credential type already selected?

[2020-05-26 21:32] nixocio opened #7156 "Add load loading state to JobTypeRedirect"
This issue is a place-holder to be explored,  related to the comment below:

https://github.com/ansible/awx/blob/d42f57d726c74d1f74c7114f522e15fc72d706a4/awx/ui_next/src/screens/Job/JobTypeRedirect.jsx#L70

[2020-05-26 21:35] nixocio opened #7157 "Add status from the websockets for JobDetail"
This issue is a place-holder to be explored,  related to the comment below:

https://github.com/ansible/awx/blob/d42f57d726c74d1f74c7114f522e15fc72d706a4/awx/ui_next/src/screens/Job/JobDetail/JobDetail.jsx#L126

[2020-05-26 21:38] nixocio opened #7158 "Improve parse of response for WebhookSubForm"
This issue is a place-holder to be explored,  related to the comment below:

https://github.com/ansible/awx/blob/d42f57d726c74d1f74c7114f522e15fc72d706a4/awx/ui_next/src/screens/Template/shared/WebhookSubForm.jsx#L63

[2020-05-26 21:52] ryanpetrello commented on #6986
Okay, I've dug some more, and I've produced something similar that I think is *actually* a limitation of `urllib3` or cpython's `ssl` module itself.  Here are some details:

https://github.com/urllib3/urllib3/issues/1880

cc @jakemcdermott this *probably* means we can't rely on a fifo here, and we may just have to write these files to tmp space, appropriately owned by the awx user.

[2020-05-26 22:37] ryanpetrello commented on #6986
It seems to me that _at some point in time_, this just worked, but it looks like perhaps something changed in a newer/different version of cpython?  Could be related to the move to CentOS8.  Either way, it looks like we can't rely on this to work this way, so we'll probably need to remove the usage of named pipes here.

@mgperry1,

Just to confirm, does a diff like this make the issue go away for

[2020-05-27 03:33] rooftopcellist commented on #7139
@luckylittle As you said, this is definitely a bug with how the the rsyslog.conf gets gets written.  Thank you for the detailed information.  I will have a patch up shortly.

[2020-05-27 06:16] Saurabh-Thakre commented on #4876
Able to reproduce this issue. Here are the steps.

* Create a ssh key pair with passphrase.

`ssh-keygen -f ~/mykey
`
* Create a machine credential in Tower and add the private key.
* Select the passphrase password from one of the secret management like vault.
* Try to save the credential. The credential will not be saved and we get the below error for private key passphrase.

`must be set when SS

[2020-05-27 06:29] anxstj commented on #7095
It worked! The _old_main_jobevent table is gone and the old events show up again in the job view.

For the sake of completeness:
[code]
So this took approx. 40 minutes to migrate.

And here's the output of the requested commands:
[code]
[code]

Thank you a lot for your ongoing help.

[2020-05-27 10:29] masbahnana commented on #7145
@unlikelyzero I use MacOs Catalina version 10.15.4 and the browse is Firefox version 76.0.1.

[2020-05-27 10:33] masbahnana commented on #7145
@mabashian I followed:
1) Views -> Schedules: I create the schedule.
2) Views -> Schedules -> Click on my schedule and click in edit e the NaN error appears in Start date/time*

[2020-05-27 11:26] martinm82 commented on #3986
We have a similar issue when using the `add_host` module. We use it to dynamically add a host to a new group that is defined in our inventory group_vars.
AWX is adding the host to the group but the inventory group vars are not loaded dynamically.

This is how our setup looks like:
[code]
When running a playbook we are prompted (or passed as an extra-var) for the environment (eg. staging)  and `add

[2020-05-27 12:46] nixocio opened #7160 "Improve error handling for AddResourceRole"
This issue is a place-holder to be explored, related to the comment below:

https://github.com/ansible/awx/blob/1b1a93dd4bd473670f46f134938dc67daf998946/awx/ui_next/src/components/AddRole/AddResourceRole.jsx#L131

[2020-05-27 12:51] nixocio opened #7161 "Verify i18n is working as expected on workflowReducer"
This issue is a place-holder to be explored, related to the comment below:

https://github.com/ansible/awx/blob/1b1a93dd4bd473670f46f134938dc67daf998946/awx/ui_next/src/components/Workflow/workflowReducer.js#L434

[2020-05-27 12:54] nixocio opened #7162 "Parse dateFields into date format"
This issue is a place-holder to be explored, related to the comment below:

https://github.com/ansible/awx/blob/1b1a93dd4bd473670f46f134938dc67daf998946/awx/ui_next/src/util/qs.js#L78

[2020-05-27 12:55] nixocio opened #7163 "Switch to using Lingui i18n for articles"
This issue is a place-holder to be explored, related to the comment below:

https://github.com/ansible/awx/blob/1b1a93dd4bd473670f46f134938dc67daf998946/awx/ui_next/src/util/strings.js#L1

[2020-05-27 13:10] nixocio opened #7164 "Improve error handling for useSteps"
This issue is a place-holder to be explored, related to the comment below:
https://github.com/ansible/awx/blob/1b1a93dd4bd473670f46f134938dc67daf998946/awx/ui_next/src/components/LaunchPrompt/useSteps.js#L21

[2020-05-27 13:33] unlikelyzero opened #7165 "1/1000 login attempts from the ui_next server returns HTTP 400 from /api/login"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

1/1000 Login attempts fails on the ui_next dev server. The /api/login/ returns HTTP 400 The error from our testrunner is included under ADDITIONAL INFORMATION.

##### ENVIRONMENT
* AWX version: 10+
* AWX install method: docker on linux, ui_next dev server

##### STEPS TO REPRODUCE

Our UI Tests fail to log in 1/1000

[2020-05-27 14:15] unlikelyzero commented on #6861
@jakemcdermott @nixocio this is ready for test?

[2020-05-27 14:37] #7095 closed, assigned to nobody

[2020-05-27 14:59] ryanpetrello commented on #7139
I'm having trouble reproducing this in certain environments, see comment here:

https://github.com/ansible/awx/pull/7159#issuecomment-634718764

[2020-05-27 15:23] ryanpetrello commented on #7139
So in my testing, I *am* seeing that sumologic is replying with an HTTP 401, but I don't see evidence that rsyslogd or libcurl are sending a "double-escaped" `%253D` for an `=`.

Here's AWX pointed at a local TCP server with a URL path from a sumologic account @rooftopcellist and I signed up for:

[code]

[code]

[2020-05-27 15:28] anxstj commented on #7095
I guess I found the logging problem.

I have external logging configured:

https://awx.example.com/api/v2/settings/logging/
[code]

After disabling the logging, I got the following logs:
[code]

pid 1072 didn't exist?! Executing `rm /var/run/awx-rsyslog/rsyslog.pid` inside the awx_web container and enabling the external logging (or running `supervisorctl restart awx-rsyslogd`) again fixed the logg

[2020-05-27 15:32] ryanpetrello commented on #7139
Okay, dug into this a bit with @rooftopcellist and did some RFC reading, and I think this bug report is correct - we're too aggressive in our escaping of `=` as a component of the URL path.  I *don't*, however, think this issue is specific to sumologic.  @luckylittle does a diff like this resolve the issue for you?

[code]

[2020-05-27 16:26] #7024 closed, assigned to marshmalien, dsesami

[2020-05-27 16:44] rooftopcellist commented on #7139
I have updated the PR to follow this approach and it is working correctly.

In the rsyslog.conf, I now see:
[code]

and I am seeing logs in Sumologic now:

![image](https://user-images.githubusercontent.com/11698892/83048583-d109e500-a017-11ea-8204-8da462e5ae99.png)

[2020-05-27 17:27] sshedmake opened #7170 "[ui_next] Template with ask-variables-on-launch opens up the 'Prompts' modal dialog, however, 3 modal footer buttons: 'Next', 'Back' and 'Cancel', needs to be marked for translations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With Japanese (dummy translation) google-chrome, Template with ask-variables-on-launch opens up the 'Prompts' modal dialog/wizard, however, 3 modal footer buttons: 'Next', 'Back' and 'Cancel', appears in English (instead of Japanese)

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.10.0.dev0
* Operati

[2020-05-27 17:32] zendritic commented on #4675
I just ran into this in AWX 7.0.0 for the first time. We're a bit slow to upgrade. Is there some problem I'm not seeing with fixing this by adding an environmental variable in AWX jobs settings?  "ANSIBLE_ROLES_PATH": "roles" seems to work for me so far in my test environment.

[2020-05-27 17:35] sumkincpp commented on #4675
I am no more facing this issue with AWX 9.0.0, 10.0.0 and 11.2.0.

[2020-05-27 18:43] mdinwoodie opened #7173 "awx-cli: add support to modify http_method for webhook notification_templates"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, the http_method field for webhook notification_templates isn't an option to modify using awx-cli. This RFE is to add support for modifying this field with awx-cli.

[2020-05-27 18:53] lucasafonsokremer commented on #2058
+1

[2020-05-27 19:29] mrmibrown opened #7174 "Add Oauth2 authentication option to webhook notifications"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
A request to add an Oauth2 authentication option to webhook notifications.

Customer explanation:
"The configuration options for Tower's webhook notification only supports Basic Authorization, providing input fields for a user and password, to go along with the url and headers prompts.   To connect to an endpoint which requires oauth2 authentication,

[2020-05-27 19:40] mgperry1 commented on #6986
@ryanpetrello

Yes I'm a bit of noob so I wasn't sure where to make the change so I updated the aim.py with your code changes int the awx_task and awx_web containers.  I then restarted the containers and tried the test and the whole thing works with the cert and key file.

I do see an excpetion in the awx_web container popping up:

[code]
Code Change: /var/lib/awx/venv/awx/lib/python3.6/site-packa

[2020-05-27 19:51] sshedmake commented on #6861
With Japanese dummy (not actual) translations, the said strings, now, looks marked as translatable strings:

![output](https://user-images.githubusercontent.com/12151785/83065557-507fce80-a081-11ea-9f5e-4d3219d4cf0e.gif)

[2020-05-27 19:52] dsesami commented on #5909
Some feedback:
- Enabling pretty much all of the prompt on launch fields for the JT and setting default values for ALL of them gives me this error in the console when I hit launch and enter the launch wizard. I am unsure what the error is about, but if you need me to dig I can. here's the traceback:
[code]
[code]

[2020-05-27 19:53] ryanpetrello commented on #6986
Hey @mgperry1 thanks for the feedback - I can clean something up in my diff to address that error, but I don't expect it to break anything (more of a warning).

Were you able to fetch CyberArk AIM secrets using this patch?  If so, I'll open a PR.

[2020-05-27 19:53] ryanpetrello commented on #6986
Ah, I should've read more closely.  I'll open a PR.  Thanks for reporting this and helping test it.

[2020-05-27 20:15] keithjgrant commented on #5909
@dsesami That’s a known issue filed with patternfly: https://github.com/patternfly/patternfly-react/issues/4134

[2020-05-27 22:23] ryanpetrello commented on #6986
Hey @mgperry1,

I've put up a pull request that should address this, and I'm currently testing it out (you're welcome to give it a whirl too, if you have some free time):

https://github.com/ansible/awx/pull/7175

Once this goes in, the fix will be available in the next major version of AWX.

[2020-05-28 01:06] ryan012880 commented on #7109
btw I've tried up to the below commit only and it is working:

commit 1ca3d1fe3bb5bd6c30d49ac50c7ee134064c8edd
Merge: 6b8359f 8cdffd0
Author: softwarefactory-project-zuul[bot] <33884098+softwarefactory-project-zuul[bot]@users.noreply.github.com>
Date:   Mon May 11 15:33:07 2020 +0000

[2020-05-28 01:54] AlanCoding commented on #7052
not closing, moving to needs_test

[2020-05-28 07:43] stephle opened #7179 "Is it possible to add a subpath to awx url ?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
Is it possible to add a subpath to awx url ?

##### ENVIRONMENT
* AWX version: 2.9.7
* AWX install method: docker on linux
* Ansible version:  2.9.9-1
* Operating System: centos8
* Web Browser: firefox

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION
Is it possibl

[2020-05-28 08:03] LukWe99 opened #7180 "Add option to make job execution directories created in /tmp world readable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

AWX creates a job execution directory inside the awx_task container located in /tmp for every single job execution. These directories named /tmp/awx_<job_id>_xxxxxxxx are created with 0700 and root:root permissions. Therefore only the root user can read the playbook contents inside this directory. This causes issues when

[2020-05-28 09:24] ArjonBu commented on #4736
Why is this issue closed? This is happening again all the time. Tested on the latest version.

[2020-05-28 12:07] AlanCoding commented on #4675
For future information, my final regression test case was:

https://github.com/ansible/test-playbooks/pull/124/files

[2020-05-28 12:11] msilmser opened #7181 "RFE: Customize payload for Test Notification"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Some customers restrict the endpoint for webhook notifications to only allow specific payloads. Allowing for custom payloads will allow customers to get around this potentially failing due to that restriction when they would see a failure with a test, but a success when the actual notification fires.

An alternative to allowing users to customize thi

[2020-05-28 12:48] ryanpetrello commented on #7179
Hey @stephle,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

You could *probably* do something like this by monkeying around with AWX's nginx configuration, but it's not somet

[2020-05-28 12:48] #7179 closed, assigned to nobody

[2020-05-28 13:18] sumkincpp commented on #3462
I was not right initially, when tracing the issue. It is local to one browser session.

As of 11.2.0 survey window is getting closed in one session, other browser/users sessions are not affected, they still have opened Survey window.

Issue can be closed.

[2020-05-28 13:35] #3462 closed, assigned to nobody

[2020-05-28 13:36] wenottingham commented on #7180
I'm not 100% sure what you're trying to do, but this isn't the right solution. We use process isolation to isolate playbooks from each other; if you're trying to peek in the runtime playbook repo from outside while in the container, that's not a supported feature.

[2020-05-28 13:36] #7180 closed, assigned to nobody

[2020-05-28 14:05] dsesami commented on #5909
Haven't tracked down other issues in this one. Given the follow-up issues are outlined, closing this out.

[2020-05-28 14:05] #5909 closed, assigned to dsesami

[2020-05-28 15:06] #6718 closed, assigned to nixocio

[2020-05-28 15:35] Juludut commented on #6199
Hello, same problem here, jobs failed with a traceback and no notification, because of a requirements.yml containing a repository which is not accessible. (thanks for the bug report, btw, which helped us find the issue).

[2020-05-28 17:37] appuk commented on #6640
Although the form is still shown before all the network requests are resolved, as mentioned in the comments above, the inputs are disabled while the page is loading

![jt-form](https://user-images.githubusercontent.com/11617351/83174179-0251e600-a0e8-11ea-95d1-30ae982b94b1.gif)

hence, marking this as verified

[2020-05-28 17:47] #6640 closed, assigned to keithjgrant, appuk

[2020-05-28 19:53] javexed commented on #4736
I closed it because I was asked to restest... .and it worked at that time.
:)

Let me try again.

On Thu, May 28, 2020 at 5:24 AM Arjon Bujupi <notifications@github.com>
wrote:

[2020-05-28 21:42] xding2020 opened #7187 "AWX HA: deployment across openshift/kubernate clusters"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It might be nice if awx supports deployment across different openshift/kubernate clusters.
For example, some awx instances are deployed on ocp cluster A and some on cluster B, both connected to the same standalone database. When cluster A breaks we could use load balancer or else to direct user to the nodes on cluster B.

I did try awx (latest versio

[2020-05-29 11:58] dsesami commented on #7142
This is resolved by #7172 and can be closed when that merges.

[2020-05-29 12:45] #7142 closed, assigned to keithjgrant, dsesami

[2020-05-29 13:10] bendwyer commented on #2982
I am having a similar issue as @chey, where manual Job run will properly generate a webhook notification, but a **Scheduled Job** will not. I noticed the issue in 9.3.0, and am still seeing it in 11.2.0. The output below is from the 11.2.0 release.

Each job run should generate two notifications - a "start of job" notification and a "job successful" or "job failed" notification.

I've included the

[2020-05-29 13:27] chey commented on #2982
@bendwyer We are on AWX 10.0 now. A colleague of mine managed to get this working using Jinja templating in the different message body fields in the Notifaction settings. Since some of the variables don't exist in workflow/scheduled jobs you have to use `if ... else ...` statements to check for their existence before using them. Hope that helps.

[2020-05-29 16:47] AlexSCorey commented on #6863
A newly copied Project needs to be syned before the revision will apear

Sys Auditors cannot see the copy button any more based on the ui in devel.

The time stamp has also been fixed and is working properly in devel.
@dsesami

[2020-05-29 16:47] #6921 closed, assigned to dsesami, AlexSCorey

[2020-05-29 17:07] ryanpetrello commented on #7181
I think we're unlikely to build a custom thing for this - it might be better to just document *what* the default payload is.

[2020-05-29 17:11] shanemcd commented on #7053
Ugh, sorry about that. I assumed since the 3.11 client matches the formatting in 4.3 and 4.4 that 4.2 would work too. That said, I'm inclined not to fix this since 4.2 EOL'd back in February.

[2020-05-29 17:19] wenottingham commented on #7132
This allows anyone with access to the web server to DoS any account. I'm not sure that makes it "more secure", exactly.

[2020-05-29 17:22] ryanpetrello commented on #7131
Hey @jklasd8899,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-05-29 17:22] #7131 closed, assigned to nobody

[2020-05-29 17:23] ryanpetrello commented on #7131
You might have better luck with this type of version jump just backing up your database and deploying a new version - I'd also recommend moving to the latest support version, 11.2.0.

[2020-05-29 17:28] ryanpetrello commented on #7100
@chinochao do you have any logs you can share here?

[2020-05-29 17:28] ryanpetrello commented on #7100
I wonder if you're encountering some version of this:

https://github.com/ansible/awx/issues/7000

[2020-05-29 17:31] wenottingham commented on #7092
The activity stream you see is sent when the workflow job is created in the database, before it's run.

You're not going to get a started or finished time here because it hasn't happened yet. This is probably better done with notifications.

[2020-05-29 17:32] wenottingham commented on #7092
What are you trying to accomplish here?

[2020-05-29 17:34] wenottingham commented on #7086
Please provide more details on the desired use case here, I'm not parsing where you want this to happen.

[2020-05-29 17:35] wenottingham commented on #7086
We pass values literally, we do not have context on what the playbook might need to interpret escapes.

[2020-05-29 17:35] #7086 closed, assigned to nobody

[2020-05-29 17:38] wenottingham commented on #7056
For scalable installs, our target is kubernetes/openshift. We are not investigating other container deployments at this time outside of local docker-compose for testing.

[2020-05-29 17:38] #7056 closed, assigned to nobody

[2020-05-29 17:48] mabashian commented on #7091
I'm gonna mark this as `medium` by default - feel free to change as needed.

[2020-05-29 19:02] AndrewCopeland opened #7191 "Invalid HTTP request when Conjur credential secret has a space in the name"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Invalid HTTP request when Conjur credential secret has a space in the name

##### STEPS TO REPRODUCE

Create a conjur credential containing a space.
When retrieving the credential a 404 is returned from conjur.
The reason for this is because the conjur credential plugin url encodes the secretID with a `+` however conjur is expecting a `%20`.

##### EXP

[2020-05-29 20:16] momcilo78 commented on #7128
Well for those that like me did not get it  by means RTFM:
awx will install collections specified in: collections/requirements.yml
So no need for configuring this through ansible.cfg

[2020-05-29 20:32] momcilo78 opened #7193 "Built in collection awx.awx looks outdated"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Bundled awx.awx collection inside /var/lib/awx/vendor/inventory_collections looks outdated.
I have noticed that module tower_workflow_launch depends on ansible-tower-cli
You may want to consider update it, since this collection will be visible to anyone working with Default environment, and they may attempt at using it launch workflows.

##### ENVIRONM

[2020-05-29 23:28] shanemcd commented on #7053
Actually... fixed by https://github.com/ansible/awx/pull/7189

[2020-05-29 23:28] #7053 closed, assigned to nobody

[2020-05-30 00:07] bharathvenkatrajan commented on #7053
Thank you!

[2020-05-30 03:08] AlanCoding commented on #7193
is the version 9.3.0? Because that was updated in 961c5589c1fbe72ede89bcf69f0c909c9a0fa6f8, but there's a bit of a lag here. The AWX image won't be updated until the next AWX release.

[2020-05-30 09:10] renepardon commented on #4309
sadly this didn't do the trick so far :/

[code]

[2020-05-30 16:11] thekoma commented on #3508
The plugin works but I cannot get the tags to work. Also would be useful to group bt folder but the documentation is missing a lot of examples..

[2020-05-31 06:02] Sreenadh8 commented on #5453
+1 , same issue here, even awx 9.1.1 , does someone has any workaround or resolution.?

[2020-05-31 10:34] Sreenadh8 opened #7195 "BUG: Azure CLI commands doesn't work in AWX virtenv,"
##### ISSUE TYPE
 Azure CLI commands doesn't work in AWX virtual environment

##### SUMMARY

Considering the fact that Ansible doesn't have all the module for Azure, we need to run few Azure CLI commands, hence CLI installed in AWX task container. But unable to execute the playbooks from awx 9.3.0 web and gets the following described error.

sample playbook:

              - name: Determine whethe

[2020-06-01 10:25] Saurabh-Thakre opened #7197 "Add an option for SCM to get last known working revision version"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add an option as checkbox/option for **Projects** to select **last known working version**. It will give flexibility as to have an option If the SCM is failing for any sort of reason and we're not able to launch the Job. Because Job will fail as well with an error `project_update failed for..`

[2020-06-01 10:48] sumkincpp opened #7198 "RFE: WF Branching Strategy + Explicit Stop Node"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

**Branching Strategy**
"Branching Strategy" will allow more flexible control over further workflow steps execution. Beyond `always`, `success` and `failure`  there might be "named" branches, which will correspond to other specific Job Nodes linked to current Node within Workflow.

One of the named branches may be "stop" branch. With that, there is n

[2020-06-01 10:54] awscloudarch87 opened #7199 "AWX Project is not updating automatically new file from GitHub"
Today I have already one YAML file in my GitHub by referring that I have created a new Project and then while creating a new template I can see that first YAML as playbook.

Now I have created my second YAML file in same GitHub and when I try to create a new template the second YAML file is not visible which is unexpected.

As a workaround, after 2nd file creation when I create a fresh project and

[2020-06-01 13:17] kitos9112 commented on #7133
Hi team,

Are there plans around this feature request?

[2020-06-01 13:42] ryanpetrello commented on #5453
In order for this to work, you'll either need to install `azure-cli` *into* the Ansible virtualenv, _or_ (this is probably preferable) create a custom virtualenv as described at:

https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

[code]

<img width="495" alt="image" src="https://user-images.githubusercontent.com/214912/83414879-32510000-a3ec-11ea-8d2f-138729988f50.png">

<img w

[2020-06-01 13:42] #5453 closed, assigned to nobody

[2020-06-01 13:49] ryanpetrello commented on #7191
Hey @AndrewCopeland,

Mind giving this PR at try?

https://github.com/ansible/awx/pull/7200

[2020-06-01 14:26] davidtluong opened #7201 "Smart Host Filter field "inventory" isn't working as expected"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When searching for inventory:example in Tower, it returns the following:

[code]

The below is the network debug:

[code]

##### ENVIRONMENT
* Tower version: 3.6 and 3.7
* AWX install method: Tower package installer
* Ansible version:  2.9.9
* Operating System: Fedora
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Try to search for a key in smart ho

[2020-06-01 16:05] #5064 closed, assigned to rebeccahhh

[2020-06-01 16:06] rebeccahhh commented on #5064
closing for now since things looked to be cleared up, can be reopened if needed.

[2020-06-01 16:38] wenottingham commented on #7197
This isn't really practical.

Any node may not have a version checked out, so 'last known working' cannot be a global known state. Plus then you have to get into the semantics of what the last known state is working for - is it that it's able to be checked out? That the job ran? If multiple jobs exist in the project, which jobs results drive this?

[2020-06-01 16:38] #7197 closed, assigned to nobody

[2020-06-01 16:42] wenottingham commented on #7198
cc @chrismeyersfsu , but overloading set_stats even more, and having the task manager change workflow behavior based on it, feels like complication we'd want to avoid.

We're already overloading set_stats to pass data between jobs, and could encounter playbooks in the wild where they're using that module for something else and are confused by it. If a random invocation changes in the playbook, hav

[2020-06-01 16:44] wenottingham commented on #7199
You need to update the project, either on a scheduled basis, on launch, or by clicking the update button. See https://docs.ansible.com/ansible-tower/latest/html/userguide/projects.html for downstream documentation.

In any case, this repo is for bug reports with AWX itself. Usage questions are best discussed on the awx-project list or ansible-awx IRC channels. See https://github.com/ansible/awx/#g

[2020-06-01 16:44] #7199 closed, assigned to nobody

[2020-06-01 17:13] Sreenadh8 commented on #5453
Hi @ryanpetrello ,

thank you so much for quick update, i just did install azure-cli on 'Ansible' virtenv , unfortunately i am still facing the same error, i am using awx 9.3.0... below is the cli installation on Ansible virtenv, any other thought please...

--------------------------------------------------------------------------------------------------------
![image](https://user-images.githubu

[2020-06-01 17:19] ryanpetrello commented on #5453
Hey @Sreenadh8,

Have you tried on a newer version of AWX?  I'm not encountering this on 11.2.0.

[2020-06-01 17:35] tgates81 commented on #6534
I'm also experiencing this. It's always reproducible when observing the SCM revision not change after clicking update (though it really is when you click on job details or refresh the page). I noticed it in 9.2.0, currently on 11.2.0.
This is a very helpful feature, would be nice to get this figured out. Please advise.

[2020-06-01 18:08] mdinwoodie opened #7203 "Add ability to disable local account creation if org admins are allowed to manage users and teams"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, if the "Organization admins can manage users and teams" setting is enabled, then org admins can create local user accounts. This RFE is to add a setting that disables local account creation.

[2020-06-01 18:24] Sreenadh8 commented on #5453
Hi @ryanpetrello ,

I wish i could try it on newer version, but 9.3.0 runs on RabbitMq and our AWX active-active HA cluster working well and its serving a production work for us now, hence we couldn't upgrade to latest as rabbitmq replaced it with redis...

Further i installed "pip3 install azure.cli" separately in Ansible virtenv itself, now above mentioned is gone...
but it's not able to log-in

[2020-06-01 18:27] sairohitdasa commented on #780
@mattthehearn Would you mind sharing your python script for Spacewalk API, it would be very helpful as I am in struck in between the process of fetching inventory

[2020-06-01 19:13] gamuniz opened #7206 "Update warning on Organization delete to include a stronger warning."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently deleting an organization only warns that the credentials associated will be deleted. Warn that credentials and inventories will be irrecoverable and job templates and projects will become disassociated.

[2020-06-01 19:25] wenottingham commented on #5453
That's fine, but that's not within the goals of the AWX project as it currently stands.  See the ![FAQ](https://www.ansible.com/products/awx-project/faq ) for details.

If you are interested in a longer-term supported product, that provides maintenance and potential fixes, we suggest contacting your Red Hat rep.

[2020-06-01 19:43] jlmitch5 commented on #6866
Things that need new activity stream entries (API and UI): -
-  (no issue yet) - possibly need to add as entries for execution environments api model(s) (and display in UI)?
- https://github.com/ansible/awx/issues/5011 Ad Hoc Commands as entries links (need to be added to api and UI)

Outstanding UI-only issues:
- https://github.com/ansible/awx/issues/3521 - buggy workflow node deletion as entry l

[2020-06-01 19:48] AlexSCorey commented on #4745
@rebeccahhh is this an issue in the current ui? or in the new ui?

[2020-06-01 20:05] rooftopcellist commented on #6866
@jlmitch5 for https://github.com/ansible/awx/issues/3828, that requires marking those strings for translation before the go in the db (saved on the activity stream object) as well as when they are pulled from the db.

Here is another example of where we had to do this: https://github.com/ansible/awx/pull/7045/files

Though performance may be a consideration here because there are so many activity

[2020-06-01 20:36] davidtluong opened #7207 "Restrict the ability to have same named credentials of the same type in same org"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Restrict the ability to have two credentials in an organization with the same name and of the same type as there is no way to distinguish the 2 when choosing for job template

[2020-06-01 20:41] jongoneok opened #7209 "awx cli prompt for password"
##### ISSUE TYPE
 - Awx cli tool should have the option to prompt a user for their password to avoid entering a password in plain visible text on the command line.

##### SUMMARY
The awx cli tool can take a password as a command line argument or an environment variable. Both options require a user to enter and possibly store their password in plain text.
This not only poses a security concern, it

[2020-06-01 20:55] nixocio opened #7210 "Error due to session time out"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
An error is raised due to a session time out.

![error_time_out](https://user-images.githubusercontent.com/9053044/83453277-33a01e00-a428-11ea-979d-2ed07d232dfa.png)

##### ENVIRONMENT
* AWX version: devel
* AWX install method: docker on linux
* Web Browser: firefox-76.0.1-7.fc32.x86_64

##### STEPS TO REPRODUCE
1 - Login
2 - Let the session time out
3

[2020-06-01 21:02] AlanCoding commented on #5518
support for collections from SCM just merged

https://github.com/ansible/ansible/pull/69154

trying to think of how that could impact any solution here.

[2020-06-01 21:02] rooftopcellist commented on #3828
@unlikelyzero there is UI and API work required here.

I put together a quick POC [here](https://github.com/ansible/awx/compare/devel...rooftopcellist:activity_stream_translations?expand=1) for the API side.  But the PR still doesn't cover many cases.  The process of convertiong the `operation` to past tense that @mabashian mentioned is the tricky part that I don't have a solution for yet.

In Eng

[2020-06-02 01:31] hiyokotaisa opened #7211 "RFE: Allow specifying variables (inventory_hostname) in "PATH TO SECRET" in Machine Credential with External Vault Credential"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When creating a machine credential using a HashiCorp Vault Secret Lookup a `PATH TO SECRET` and a `KEY NAME` must be specified. These values cannot contain variables (such as inventory_hostname). This means that every machine would need to have a credential defined within Tower which is not scalable when there are hundreds or thousands of machines b

[2020-06-02 02:21] wenottingham commented on #7211
The credential is not looked up per machine, that is not how this works.

A credential plugin is used to pass a single credential to the playbook, used for all machines.

[2020-06-02 02:21] #7211 closed, assigned to nobody

[2020-06-02 02:24] wenottingham commented on #7211
See #286

[2020-06-02 03:39] garamirseokim opened #7212 "Adding for function "disable entering a password from users and force them to only use 'Prompt on launch'""
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Ansible Tower users do not want to store their passwords in Ansible Tower database and adding for function "For Machine credentials, disable entering a password from users and force them to only use 'Prompt on launch'".

![credential](https://user-images.githubusercontent.com/58404577/83477454-9ea82e00-a4d6-11ea-9c66-271242da78c5.png)

[2020-06-02 10:24] Sreenadh8 commented on #5453
Hi @ryanpetrello @wenottingham ,

thanks for your response and update, just to update that, on 9.3.0, created a new brand venv and installed azure-cli in it... but still same error even in 'venv', any workaround until we upgrade latest version.

![image](https://user-images.githubusercontent.com/41424639/83509460-18491780-a4e9-11ea-9839-f1bf08752967.png)

[2020-06-02 11:26] momcilo78 commented on #7193
@AlanCoding not its 11.2.0/2.9.7, tower_job_launch is new implementation, but tower_workflow_launch is still based on the old library (it breaks due to it not being available).  The big functional difference is also there: old ones requires extra_vars as str to be passed, new one requires dict.
It does not bother me much, since I moved to collections/requirements.yml to get the latest.

[2020-06-02 11:29] ryanpetrello commented on #7212
Even when passwords are prompted at launch time, they're still encrypted and temporarily stored in the database - given that AWX is responsible for scheduling the job run and starting it (potentially on a different server), there's not really any alternative here - we've got to keep the password _somewhere_ between the HTTP request and the eventual forking of the `ansible-playbook` process.

[2020-06-02 11:37] sbuvaneshkumar opened #7213 "Support for following stdout"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I am able to view the existing job stdout using following command
[code]
The above command doesn't follow the stdout, but it just exit after displaying the current stdout.
It would be better if we can follow the stdout, adding option like `--follow` would be helpful.

[2020-06-02 11:48] ryanpetrello commented on #7213
What you want is probably something like `--monitor` (which exists for the launch commands in the CLI).

[2020-06-02 11:57] ryanpetrello commented on #6165
link: https://github.com/ansible/awx/pull/6790

[2020-06-02 11:57] ryanpetrello commented on #7213
Duplicate of https://github.com/ansible/awx/issues/6165

You can already do this, instructions at:
https://github.com/ansible/awx/pull/6790

[2020-06-02 11:57] #7213 closed, assigned to nobody

[2020-06-02 12:30] AlanCoding commented on #7207
What exactly do you mean? The uniqueness rule for credentials is:

https://github.com/ansible/awx/blob/7e0dc41bf70403f498b5dc09951f823e0227b2d9/awx/main/models/credential/__init__.py#L86

Comparing the 2 credentials that you see as duplicates in the UI, what fields are the same, and what fields are different?

[2020-06-02 12:45] unlikelyzero commented on #3828
@rooftopcellist @ryanpetrello @mabashian can I moved this to 4.0 and `component:ui_next` ?

[2020-06-02 12:47] ryanpetrello commented on #3828
Yep.

[2020-06-02 12:48] zdriic commented on #6792
Hi,
In my inventory file I have set two hosts to deploy AWX 11.2.0 on two nodes (local_docker mode) but I have this below error in web container AFTER I have change the /etc/tower/settings.py file in the web and task containers from myHost2 only (param : CLUSTER_HOST_ID = "awx" changed with "myHost2" ) :

In myHost1 this param is set to "awx" by default

### > inventory file :

[tower]
myHost1 ans

[2020-06-02 13:07] bryanasdev000 commented on #6792
The container doesnt have DNS to resolve to the other container, thats your problem and its a lot different from the other here, if you want to cluster AWX you can go to https://github.com/sujiar37/AWX-HA-InstanceGroup/issues/26.

[2020-06-02 13:25] gamuniz commented on #7207
@AlanCoding I believe the ask here not to allow differing credential types with the same name. Or same named credential independent of Org.

Example: having vault, machine, network credential all called Foo(as any user with access to Tower currently has the ability to create their own credential.

[2020-06-02 13:32] zdriic commented on #6792
So we can't add two hosts in the inventory file ??
I thought we could...

[2020-06-02 13:33] AlanCoding commented on #7207
I completely understand that the credential type uniqueness rule is problematic

https://github.com/ansible/awx/blob/7e0dc41bf70403f498b5dc09951f823e0227b2d9/awx/main/models/credential/__init__.py#L322

I'm surprised this hasn't been brought up before, I looked for other issues and can't find any related at the moment.

[2020-06-02 13:43] bryanasdev000 commented on #6792
AFAIK, you can, but I'm not sure that will cluster itself, besides you are editing manually the  /etc/tower/settings.py. Without using a orchestration tool, the containers will not see the others beyond its own compose.

[2020-06-02 14:22] jakemcdermott opened #7215 "Replace route config function with exported array"
## SUMMARY
When the next major version of lingui is released and we upgrade to it, change [`src/routeConfig.js`](https://github.com/ansible/awx/blob/devel/awx/ui_next/src/routeConfig.js) so that it imports the `i18n` /  translation helper directly and exports an array instead of a function.

## Additional Information
[When lingui3 lands, we'll be able to import the translation util directly](https

[2020-06-02 15:07] jakemcdermott commented on #7210
accidentally fixed w/ https://github.com/ansible/awx/pull/7186

[2020-06-02 15:12] jakemcdermott commented on #7210
The `ContentError` redirects on `401` errors: https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/ContentError/ContentError.jsx#L34

This problem is unique to the api request for configuration data in the `App` component. This is because we don't use a `ContentError` component there on failed data load.

[2020-06-02 15:12] jakemcdermott commented on #7210
I accidentally fixed this bug during code cleanup w/ https://github.com/ansible/awx/pull/7186

[2020-06-02 15:55] wenottingham commented on #7212
This sounds more like #1126, to be honest.

[2020-06-02 16:38] devcon6 opened #7217 "API Endpoint or Module to operate on Synchronize inventory source button"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Is there any way that we could trigger inventory source to synchronize besides:

- the explicit button click
- the project being refreshed if we allowed update when project is updated

Maybe an API endpoint that could trigger that or Tower module to call in a Playbook ?

[2020-06-02 16:56] wenottingham commented on #7217
This has always been part of the API, if you open the browser console and watch the REST requests when you click the button you can see what's going on.

As a usage question, this is better targeted for the mailing list or IRC channel - see https://github.com/ansible/awx#get-involved for details.

[2020-06-02 16:56] #7217 closed, assigned to nobody

[2020-06-02 16:59] agilleyrh opened #7218 "RFE: Ability to add multiple external logging systems"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add the ability to set up multiple external log aggregators in the UI. Currently, you can only set up one.

There is a desire to do this per-category.

[2020-06-02 17:51] dsesami opened #7220 "Clicking directly on text in Permissions modal doesn't work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![Screenshot_20200602_134825](https://user-images.githubusercontent.com/19942822/83552467-d5cb0f00-a4d7-11ea-8515-aaec528a1c33.png)

If I try to click anywhere else in the "Demo Job Template" box, it works mostly normally.
However, clicking the text itself (see mouse position in screenshot) doesn't check/uncheck the box for some reason.

##### ENVIRONM

[2020-06-02 18:40] keithjgrant commented on #4205
Some miscellaneous thoughts while discussing #7210 (copied from slack):

[2020-06-02 18:46] dsesami commented on #7104
feel free to close when #7183 is merged.

[2020-06-02 19:07] dsesami commented on #6594
closing with the merging of #7129

[2020-06-02 19:07] #6594 closed, assigned to keithjgrant, dsesami

[2020-06-02 19:07] jadestorm opened #7225 "[Foreman] (Satellite 6) source host_filters no longer working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In upgrading from 11.0.0 to 11.2.0, I found that my inventory source host_filters were no longer being honored.  Instead, they were pulling the entire list of hosts from Foreman as if no filter was applied.  (for example host_filters: 'os = windows'  should only pull windows hosts)

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker o

[2020-06-02 19:09] jadestorm commented on #7225
(BTW I looked at "blame" on the foreman.py inventory plugin and I see nothing that has changed recently that seems related)

[2020-06-02 19:15] jadestorm commented on #7225
Also rolling back to 11.0.0 immediately fixed the issue.

[2020-06-02 22:22] dzinek opened #7227 "OpsGenie notification proposal"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I am trying to find a way, how to integrate AWX notifications with OpsGenie using API.
It can be done using https://docs.opsgenie.com/docs/alert-api, I have to only find a way how to create a payload.

But anyway if AWX has already PagerDuty notification type, it would be also nice to have the same with OpsGenie with a native notification type.

[2020-06-02 22:39] outcast commented on #885
Stealing this!

[2020-06-03 02:40] geerlingguy commented on #6878
I'm trying to demo this on a local environment for an Ansible 101 episode tomorrow, but it seems the current version of the AWX image doesn't have the fix, so I'm getting the same error:

[code]

[2020-06-03 03:24] viewmithun commented on #6667
Hi Team,
Could you assist with a workaround in this regards please
~Mithun

[2020-06-03 09:47] devcon6 commented on #7217
Thank you for the help.
I've proceeded as you suggested by calling this endpoint **/api/v2/inventory_sources/{id}/update/** with **POST** method (empty content) and I've managed to trigger the execution of the Synchronize button.
Many thanks.

[2020-06-03 10:29] jainnikhil30 commented on #7225
@jadestorm this is a known issue in the foreman plugin that awx uses. Already fixed in the plugin

https://github.com/theforeman/foreman-ansible-modules/pull/823

Waiting for the release of respective collection, so that it can be used in awx.

[2020-06-03 11:13] benapetr commented on #6984
@unlikelyzero  what is "pf"?

[2020-06-03 12:36] AlanCoding commented on #6878
If you are absolutely desperate, I can walk you through how to fix it with your local settings. Otherwise, I don't have a date for the next AWX release.

[2020-06-03 12:52] geerlingguy commented on #6878
@AlanCoding its okay, I have enough other things to cover, I'll be mentioning this feature and how to use it if you have Tower, just won't show it today.

[2020-06-03 13:00] philipsd6 commented on #7207
I use distinguishing names as best practice: user@auth, user@service, user@vault@dev, etc... but I agree this should be enforced, and I should have opened an issue a long time ago, as this issue is why I developed that practice in the first place. :)

[2020-06-03 13:10] AlanCoding commented on #7002
I don't seem to be able to replicate this anymore, but need to give it a better shot

[2020-06-03 13:37] branic commented on #7207
The problem is that when creating a credential the Organization is not a required field. If the user doesn't select an Org then it is possible to create a credential of the same type with the same name.

This then becomes an issue when selecting the credential as there is no way to tell the difference between the two credentials.

[2020-06-03 13:45] AlanCoding commented on #7207
^ not the same issue in terms of behavior or priority as the credential type duplicate name.

The organization _does_ show up in the "owners" column in the UI if you do this.

[2020-06-03 13:51] peternerd commented on #1636
@santizo Could you please share how you solved this issue?

[2020-06-03 14:02] jadestorm commented on #7225
Fantastic!  Thank you!

[2020-06-03 14:06] branic commented on #7207
@AlanCoding to reproduce the problem that this issue was opened for follow these steps:

1.     Create two organizations (Org1 and Org2)
2.     Create a user in each organization that has organization administrator privileges (org1_admin and org2_admin)
3.     Login as one of the organization admins (org1_admin)
4.     Create a credential (test_cred) of some type (machine). Just set the name and t

[2020-06-03 14:07] gamuniz commented on #7207
@branic the credential selector does allow searching by related fields.  Maybe something like
created_by:$MYUSER

[2020-06-03 14:08] branic commented on #7207
but in the example from my last comment they were both created by the same user

[2020-06-03 14:32] momcilo78 commented on #106
So, if I got it right, placing collections/roles inside git repository would actually yield a faster job startup time?

[2020-06-03 14:37] geerlingguy commented on #106
@momcilo78 - Technically, yes. Additionally, you would not have a dependency on Galaxy/Automation Hub being up and responsive during your job runs if you committed your dependencies.

However, there are caveats to doing that (for example developers getting lazy about updating the dependencies), and you have to make sure you have a good process for managing the committed dependencies—and not being

[2020-06-03 14:38] #7104 closed, assigned to dsesami, AlexSCorey

[2020-06-03 14:49] davidtluong opened #7230 "Allow search for actions performed by user in activity stream"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now there's no way to search for actions performed by a certain user in activity stream.  The request is for there to be a field that you can search for by username and return the actions performed by the user.

[2020-06-03 15:07] dsesami commented on #6863
@AlexSCorey and I are discussing a placeholder for the git commit when a project hasn't been synced yet.

[2020-06-03 15:19] therealrobopablo commented on #6982
Hi I just ran into this issue, seeing to stem from API calls. How did you clean the data?

[2020-06-03 15:23] wenottingham commented on #7207
@branic https://github.com/ansible/awx/issues/1126 may be a better solution for this case, if your org does not have a use for personal credentials.

[2020-06-03 15:32] wenottingham commented on #7230
You can tack `actor__username:<username>` into the URL bar and this will work.

This should be fixed in the UI rewrite to be supported in the search widget.

[2020-06-03 16:07] Aokigahara23 opened #7231 "Inventory does not provide actual information for the job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory sync  does not provide the running job with actual information.
##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: boot2docker
* Ansible version:  2.9.7

##### STEPS TO REPRODUCE

1. Inventory is populated through vmware_vcenter plugin (tried custom script - same result)

2. I have a playbook with VM cloning via **vmware_guest** mo

[2020-06-03 16:58] AlexSCorey opened #7232 "Application Routing Stub"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Stub out the routing and the needed components for Application

[2020-06-03 16:59] AlexSCorey opened #7233 "Applications List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add support for Applications List

[2020-06-03 17:00] AlexSCorey opened #7234 "Application Delete"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add Support for Application Delete

[2020-06-03 17:00] AlexSCorey opened #7235 "Application Add"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add support for adding an Application

[2020-06-03 17:01] AlexSCorey opened #7236 "Applications Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add support for Applications Details

[2020-06-03 17:01] AlexSCorey opened #7237 "Add Support for Applications"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

- [x] Stub Routing https://github.com/ansible/awx/issues/7232

- [x] Applications List https://github.com/ansible/awx/issues/7233

- [x] Applications Delete https://github.com/ansible/awx/issues/7234

- [x] Application Add https://github.com/ansible/awx/issues/7235

- [x] Application Related Tabs https://github.com/ansible/awx/issues/7236

[2020-06-03 17:04] AlexSCorey opened #7238 "Teams Users"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

- [x] Add List &  Add Disassociate Functionality (https://github.com/ansible/awx/issues/7728)

- [x] Add Add Functionality (https://github.com/ansible/awx/issues/7729)

Add support for Users Tabs in the Teams section
https://tower-mockups.testing.ansible.com/patternfly/teams/teams-users/

[2020-06-03 19:21] dsesami commented on #5996
This looks really good and handles all variations of selecting and unselecting prompt on launch for inventories.

[2020-06-03 19:21] #5996 closed, assigned to keithjgrant, dsesami

[2020-06-03 19:36] dsesami commented on #7210
Looks like it boots you to the login page. Nice 👍

[2020-06-03 19:36] #7210 closed, assigned to dsesami

[2020-06-03 19:40] rebeccahhh commented on #4745
@AlexSCorey current, I haven't validated if it is present or not in the new UI (I would assume it is not).

[2020-06-03 19:57] bile0026 opened #7241 "Install of AWX 11.2.0 Broken"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Installation playbook is broken. Appears to have updated to be using docker images that don't exist or are unavailable. Prior method was to use ansible/awx_task and ansible/awx_web. Now playbook is referencing ansible/awx image which doesn't seem to exist on docker hub.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* An

[2020-06-03 20:09] sumkincpp commented on #7241
Use 11.2.0 Tag release and not devel, so this works :
[code]

AWX 12.0.0 is currently in pre-release process.
Recent changes that introduced new awx images are https://github.com/ansible/awx/commit/64e31357544223bdd9f70f78c9472f7e4323c176

[2020-06-03 20:11] wenottingham commented on #7241
See https://github.com/ansible/awx/blob/devel/INSTALL.md#clone-the-repo:
[code]

HEAD has changes that are not reflected in the 11.2 images.

[2020-06-03 20:11] #7241 closed, assigned to nobody

[2020-06-03 20:14] bile0026 commented on #7241
Shoot, thanks I'll give this a look. Didn't notice I was on devel!

[2020-06-03 20:53] #6590 closed, assigned to AlexSCorey

[2020-06-03 23:12] jakemcdermott opened #7243 "500 error on unauthenticated HTTP GET to nested workflow endpoint"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Not a huge deal, just something I noticed while debugging some unrelated test failures: If you make a GET request to ` api/v2/workflow_job_template_nodes/n/create_approval_template/` when unauthenticated, you'll get a 500 instead of a 401. It seems to work fine if you're logged in.

##### STEPS TO REPRODUCE
- make a workflow with nodes
- log out
- open

[2020-06-04 04:33] ryanpetrello commented on #6667
Hey @viewmithun,

We're unable to reproduce this, and we don't know what's causing it for you.

[2020-06-04 05:20] Tovli commented on #7191
Hi,
Can you say when will this fix be released? what version could we see it in?

[2020-06-04 09:20] hiyokotaisa commented on #7092
@wenottingham this is intended to confirm `started` and `finished` time for WFJT from Splunk.  Currently there is no way to know those stats from external logging as far as I can see.

[2020-06-04 11:50] eeepmb opened #7246 "Cannot start Docker containers (Error starting project 404 Client Error: access denied for ansible/awx)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running the AWX installer with the basic config ends in the error below. A few days ago everything was just working fine with the same setup.

`Error starting project 404 Client Error: Not Found (\"b\"pull access denied for ansible/awx, repository does not exist or may require 'docker login': denied: requested access to the resource is denied\"\")`

##

[2020-06-04 12:34] ilijamt commented on #7021
This should be possible now with #7247

[2020-06-04 14:00] AndrewCopeland opened #7248 "URL Encoding secret id for Conjur credential plugin"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
devl branch is not url encoding '/' for conjur credential plugin.

##### ENVIRONMENT

##### STEPS TO REPRODUCE
Create a secret with '/'. Then '/' will not be url encoded.

##### EXPECTED RESULTS
To retrieve the secret value

##### ACTUAL RESULTS
Failed to find secret

##### ADDITIONAL INFORMATION

[2020-06-04 14:01] Sheathan commented on #7246
I'm running into the same issue since yesterday. Changes were pushed 23 hours ago, claiming to merge all containers into one AWX image, but now this docker image 404s.