[2021-01-26 01:52] unlikelyzero commented on #8613
@wenottingham this edgecase looks like a great issue to ignore in the classic experience

[2021-01-26 07:43] dossjjx commented on #2354
Now seeing this on 17.0.0, though output is shown **after** the job completes. Recently upgraded from 9.3.0 to 17.0.0 and seeing this issue after upgrade.

[2021-01-26 12:45] stanislaw55 commented on #9138
Recently I've seen that really fast jobs (~3 minutes) are sending events to awx commandline tool. It may be something related to my environment, I'll investigate further.

[2021-01-26 13:53] bdoublet91 opened #9165 "Cant sync ovh inventory on AWX 16.0.0 and 17.0.0 with region name"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Try to configure openstack synchronisation with new AWX version 17.0.0. My region is GRA7 but only download servers from UK1 like version and get error 401 in logs
Same behavior with version 16.0.0

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.16
* Operating System: Ubuntu (Awx official docker im

[2021-01-26 14:16] john-westcott-iv commented on #9107
@ruv-donita  Is the tooluser able to add a schedule to the job template via the UI?
 What permissions does the tooluser have on "Demo Job Template"?

 I just checked on AWX 17 with a user who is only part of an org and, so long as they have execute or greater permissions on the job template, I was able to add a schedule to the job template (via the UI or the module). If the user only has read perm

[2021-01-26 14:27] ghost opened #9166 "Custom Credential Types are not displayed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX 17.0.0

Custom credential types are not displaying in list when clicking 'Add' in credentials. I have also seen that if a credential is not displayed in list, any previously created credential is not editable

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: docker on linux, kubernetes
* Ansible version:  2.9
* Operating System: Centos

[2021-01-26 15:06] AlexSCorey commented on #9166
@csdozier This PR should fix this issue https://github.com/ansible/awx/pull/9116.

This seems to be duplicate of https://github.com/ansible/awx/issues/8944

[2021-01-26 15:06] #9166 closed, assigned to nobody

[2021-01-26 15:39] hjkatz opened #9168 "Empty Body for Custom Webhook Notifications on Project Sync"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I have configured a Webhook Notification template with custom bodies for each message. The webhook is a slack webhook and the body is a slack message (because the implemented Slack notifications is _extremely_ limited). The notification works properly with a Job Template.

Where is the body? I think it's missing.

##### ENVIRONMENT
* AWX version: 16.0

[2021-01-26 15:43] hjkatz commented on #7278
We are also getting these stacktraces and error messages in our logs. I'm worried that some logging information and job events are being dropped because of this. We receive this message when syncing our shared ansible repo project which involves a full delete/clone of the git repo and many _many_ files.

[code]

I'm dubious that "Event data saved" actually happened 😬

[2021-01-26 16:04] hjkatz commented on #9168
The same thing occurs when the Organization has the Notification enabled and then an Inventory Sync is initiated:

[code]

[2021-01-26 16:06] hjkatz commented on #9168
The same thing occurs when the Inventory Source has the Notification enabled and then an Inventory Source Sync is initiated:

[code]

[2021-01-26 16:20] AlanCoding commented on #9164
The problems with doing this are the same as https://github.com/ansible/awx/issues/3600

Without some new permissions view in the UI, circular (or non-circular and complex) permissions like this would be unmanageable in the UI.

[2021-01-26 16:22] kdelee commented on #8677
Tests added downstream verify this change. thanks!

[2021-01-26 16:22] #8677 closed, assigned to nobody

[2021-01-26 16:34] kdelee commented on #2056
@ryanpetrello @jakemcdermott  do you have any particular suggestions for testing this, either from an API or UI perspective? This has been in a while and has not caused any problems for our API regression testing, so I'm happy with the way it is.

[2021-01-26 16:41] kdelee commented on #9162
taking off api label, api has been updated to use correct route in UI

Thanks!

[2021-01-26 16:43] kdelee commented on #5080
api tests were added with the PR that are more than sufficient to test the api changes related to this PR. Going to call this good from the API perspective.

[2021-01-26 16:44] wenottingham commented on #9161
`alias_pattern` is a configuration value for the old VMware inventory source.

You need to configure it as provided here: https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_vm_inventory_inventory.html

[2021-01-26 16:44] #9161 closed, assigned to nobody

[2021-01-26 16:48] wenottingham commented on #2056
I would think if both API regression testing and UI functional testing works... it works.

[2021-01-26 16:49] rooftopcellist commented on #9140
The fix for this is merged and will be in AWX 17.0.1.

[2021-01-26 16:49] #9140 closed, assigned to nobody

[2021-01-26 16:54] kdelee commented on #8155
@unlikelyzero @ryanpetrello I'm confused why this is in needs_test, are we wanting to confirm if this IS a bug, or has some change been made?

[2021-01-26 16:55] kdelee commented on #9064
We are NOT recording this any more -- works for me. Thanks

[2021-01-26 16:55] #9064 closed, assigned to nobody

[2021-01-26 17:06] ryanpetrello commented on #2056
We could *try* to come up with some testing that did something you weren't allowed to do (like ran JavaScript on the fly).

[2021-01-26 17:19] Malizor commented on #8429
[This page](https://docs.ansible.com/ansible-tower/latest/html/userguide/job_templates.html) seems to be the best candidate for adding the new variables documentation, but I can't find the related repository I should send a PR to.
Could someone point it to me?

[2021-01-26 17:37] ryanpetrello commented on #2056
But what @wenottingham said is mostly correct - we're looking for outliers where we (or some awx user) notices front-end failures that result in CSP warnings in the browser.  I don't think we've seen any of those since we released this change.

[2021-01-26 17:41] kdelee commented on #9085
@ryanpetrello I'm still seeing some weird behavior when I try also on an ec2 instance

here's a gif trying to capture what I'm seeing.

Essentially a little bit of stdout will show when launching the job, but then it just does not update until I do a hard refresh

![events_not_streaming](https://user-images.githubusercontent.com/29239279/105882457-a7a0bf00-5fd3-11eb-80f6-316e40caa54b.gif)

not say

[2021-01-26 17:57] ryanpetrello commented on #9085
@kdelee for what it's worth, the new UI may make this hard to troubleshoot/verify - @jakemcdermott suggested to me that there may still be some streaming stdout warts?

@kdelee if you open the websocket tab in a browser console, are you able to see messages come in?

[2021-01-26 19:28] Lobout opened #9171 "AWX 17.0.0 unable to run workflow with system generated surveys"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
unable to run any templates, or workflows when you have a survey that is created using the awx.tower_workflow_job_template module

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: Docker on Linux
* Ansible version:  2.9.16
* Operating System: Redhat 7
* Web Browser: Firefox/Chrome/Edge

##### STEPS TO REPRODUCE

create a playbook/workflow

[2021-01-26 19:32] warriorsoul15 commented on #9171
Any template or workflow with a survey renders a blank page when you launch it.

Also in workflow vizualizer if you try to add a node with a survey attached it also give you a blank rendered screen.

17.0.0  docker
Testing firefox, chrome, edge

[2021-01-26 20:31] kannurkars commented on #7253
Is there any way we can make these changes before 1st launch? I mean via inventory file or while using default images?

[2021-01-26 20:32] kannurkars commented on #9117
after some more digging, it tuned out the culprit is  `get_host_status_counts()`. I had accidentally installed a second instance for the same DB. Thanks to #7253. lets see if this works for me.

[2021-01-26 20:50] AlanCoding commented on #9154
We have added a test for this, but still leaving on needs_test to allow for QE review.

We might want to check that after our runs have finished there's no unreleased work. Just a thought.

[2021-01-26 22:01] sean-m-sullivan commented on #9140
Wanted to follow up, was able to test this and has solved the problem, thanks for getting it done!

[2021-01-26 22:41] MaartenMol commented on #9171
Running AWX 17.0.1 with Ansible 2.9.17 on Docker. Can't reproduce the problem. Maybe it's fixed in this version? Tested in Edge Chromium.

[2021-01-27 00:32] kapouer opened #9173 "awx 17.0.1 adding a job schedule won't prompt for "limit""
Adding a schedule from an existing job template with a "prompt for limit" option, does not prompt for limit.
Existing schedules don't show the limit they have limit either.

[2021-01-27 01:12] louise-zhang commented on #6610
`Mattermost` works for me as mentioned by @pauby

[2021-01-27 08:27] ronik010 commented on #2354
I confirm the problem. Updated from 2.0.1 to 16, and then to 17 and the problem appeared

[2021-01-27 09:19] lcarangelo commented on #9173
This happen also in templates that are present in a workflow.
It's a CRITICAL issue.
In my case, workflow does not not have INVENTORY and Limits populated or set to prompt on launch , instead node/templates in it have different inventory and limits configured per each template (template configured as prompt on launch).
When I start the WF, each template run on all the inventory associate to it and

[2021-01-27 10:26] abdel-ops commented on #2354
hello ,
i confirm i face the same issue since i've upgraded to 17 , the job output is not displayed , i suspect an issue with the websocket connection.

[2021-01-27 11:10] Syntax3rror404 opened #9174 "Proxy error on new installation on project scm update"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: docker
* Ansible version:  2.9
* Operating System: CentOS 7
* Web Browser: Chrome latest

##### STEPS TO REPRODUCE

DNS added to the Compose, otherwise the GIT server cannot be reached via DNS names.

##### EXPECTED RESULTS

Git projects can be pulled from awx.

##### ACTUAL RESULTS

Git se

[2021-01-27 13:28] ryanpetrello commented on #9174
Hey @Syntax3rror404,

Based on the description, I suspect this is probably something specific to your Docker or networking setup.  This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-01-27 13:28] #9174 closed, assigned to nobody

[2021-01-27 13:36] anxstj opened #9175 "[ui_next] Ansible environment is missing in Job Template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

After upgrading AWX to 17.0.1 existing and new job templates are missing the "Ansible environment" section. It's present via API but not in the UI.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: local docker
* Ansible version:  2.9.17
* Operating System: Debian 10
* Web Browser: Firefox 84

##### STEPS TO REPRODUCE

* Install AWX 17.0.

[2021-01-27 14:25] coasterbBoy76 commented on #2561
I definitely can see the benefit in a management job to clean up obsolete schedules. Especially, for one time scheduled jobs.

[2021-01-27 14:28] hockeygoonnorm commented on #5303
RedHat Support referred me to this RFE after opening a case asking how to map SAML users/groups to Tower superusers and auditors. This really is a critical component for any organization that requires single sign-on for all apps.

[2021-01-27 14:34] djj106 opened #9176 "Optional textarea survey fields not optional when min length > 0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Text area survey fields that are optional (required checkbox unchecked) are not optional if the minimum length is greater than zero. Upon launching, an error message displays saying the field must be X characters. In versions <= 15.0.1, an optional field with a min length of one could be left blank and the variable would not be defined or set. In 17.0.

[2021-01-27 15:12] Lobout commented on #9171
Upgraded to 17.0.1 and that did not fix the issue.

[2021-01-27 15:15] jakemcdermott commented on #9164
@AlanCoding @jamesmarshall24 Since this appears to be a duplicate of https://github.com/ansible/awx/issues/3600, I'm closing this issue and adding a reference to it in  https://github.com/ansible/awx/issues/3600.

[2021-01-27 15:15] #9164 closed, assigned to nobody

[2021-01-27 15:15] jakemcdermott commented on #3600
also see: https://github.com/ansible/awx/issues/9164

[2021-01-27 15:18] Lobout commented on #9171
If i delete the survey and create it manually it seems to work fine, but if i create/update the survey with my script, the survey is updated, and I can see the details in the API, but when i try and launch the job it does not open the survey and produces a blank screen.

[2021-01-27 15:48] #8986 closed, assigned to nobody

[2021-01-27 15:59] dangoncalves commented on #223
This issue is closed and all works as explained: don't use vault encrypted files, you should use vault encrypted variables instead (as explained [here](https://docs.ansible.com/ansible/latest/user_guide/vault.html#creating-encrypted-variables)).

The documentation may be more explicit on this topic.

[2021-01-27 16:00] jainnikhil30 opened #9177 "In continuation of being inclusive update django-cors-headers"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

This is in continuation to this commit:
https://github.com/ansible/awx/commit/78229f58715fbfbf88177e54031f532543b57acc

django-cors-headers have updated certain environment variables as part of being inclusive:

https://github.com/adamchainz/django-cors-headers/blob/master/HISTORY.rst#350-2020-08-25

We have been using django-cors-headers==3.2.1 for

[2021-01-27 16:11] AlanCoding commented on #7884
It looks like this only covers the listing / editing of the execution environments themselves (and related credentials). Additionally, people need to be able to add them to other objects so they can be used in jobs. @jbradberry can correct me

 - organization
   - `default_environment` field
 - project
   - `default_environment` field
 - inventory source
   - `execution_environment` field
 - job t

[2021-01-27 16:21] nixocio commented on #7884
ok, I will file issues to reflect those other requirements.

What about adding the default global EE? Is it going to be part of `settings` endpoint? This issue here https://github.com/ansible/awx/issues/9088

[2021-01-27 16:47] maksym-bordun-ynd commented on #8878
@jakemcdermott the issue can still be reproduced even after upgrading from 16.0.0 to 17.0.1.

Repro steps:

1. Launch a template, which prompts for credentials on launch
2. Select first credential of custom credential type
3. Select second credential of another custom credential type
4. Observe that a credential selected in step 2 is replaced by credential from step 3

[2021-01-27 17:01] AlanCoding commented on #7884
Yeah, that also needs to be in there and that issue for the global default looks fine to me.

[2021-01-27 19:03] hjkatz opened #9178 "Auditors cannot view all Credentials"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

As a User in a Team where the Team role is granted `auditor` for all Organizations in AWX, I cannot see Credentials for other Users.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: kubernetes

##### STEPS TO REPRODUCE

* As Admin:
    * Create Org Z
    * Create Org A
    * Create Team A in Org Z
    * Create Team B in Org Z
    * Add U

[2021-01-27 19:10] #6424 closed, assigned to jbradberry

[2021-01-27 19:17] hjkatz commented on #9128
@AlanCoding Wow! Thanks for the thorough response. That was some great context and insight!

I think this bolded part is the source of all of this confusion:

That seems like a shim in the RBAC system to me. Rather, I think it would be better to split the org `admin_role` and team `admin_role` from their parent/child relationship, then increase the scope/capabilities of the team `admin_role` to be

[2021-01-27 19:25] wenottingham commented on #9128
I don't think you can split them in this way - an org admin is inherently "admin of all things in the org" (including teams). To define it more narrow means things can get left out.

By increase the scope of team admin, that implies that there are some other objects that have an explicit "team" attachment that would enable them to be managed by a team admin. That mapping does not exist.

[2021-01-27 19:30] wenottingham commented on #9178
That is a 'personal' credential owned by User B, and not part of any organization. It's a specific RBAC knob for credentials.

[2021-01-27 20:10] jbradberry commented on #7884
Should they show up on the job detail page?  Shows which EE was used to execute them.

[2021-01-27 20:20] hjkatz commented on #9178
How can we grant full auditor access to a Team?

[2021-01-27 20:37] jaytradertee commented on #9141
I removed AWX's default value and it accepted that. What's strange is all other values (LDAP User Search, LDAP Group Search, LDAP User Attribute Map, etc) are all blank except for LDAP Group Type Parameters. Switching it to blank made me able to accept the values for the other GROUP_TYPES.

{
  "member_attr": "member",
  "name_attr": "cn"
}

According to the Ansible Tower documentation all LDAP Gr

[2021-01-27 20:41] nixocio commented on #7884
I can add an issue to track this, and I will probably need to follow up with you all later when implementing this.

[2021-01-27 20:43] wenottingham commented on #9141
cc @tvo - I think we need to change that docs paragraph - not all group types take member_attr.

[2021-01-27 20:52] jaytradertee commented on #9141
Thank you for your help, I very much appreciate it.

[2021-01-27 21:21] aklyachkin commented on #9018
the same error is with 17.0.1 tarball.

[2021-01-27 21:34] Valien commented on #7459
The cloud version of Jira, now called JSM (Jira Service Management), has support for posting to an external webhook. Would love to see AWX/Tower have a **generic webhook configuration** or something so that it could listen for JSM posts.

Previously I built a JSD to Tower integration leveraging Groovy, native RESTful API's of Tower, and the Ansible Jira module. But that was only for on-prem (serve

[2021-01-27 23:08] dsmaugy commented on #8878
Have you tried downgrading to 17.0.0? I'm on that version and it works for me

[2021-01-28 00:18] #9141 closed, assigned to nobody

[2021-01-28 06:33] dossjjx commented on #2354
Below is console output from the developer tools in Chrome and the useWebsocket.js file that seems to error out. Same issue occurring on Firefox as well. AWX 17.0

![image](https://user-images.githubusercontent.com/35515947/106099115-c7cd9c80-60ff-11eb-88c3-7baccc777433.png)

![image](https://user-images.githubusercontent.com/35515947/106099546-78d43700-6100-11eb-839c-19392a4a4b61.png)

[2021-01-28 06:42] dossjjx opened #9183 "Job output not displayed while running - AWX 17.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.16
* Operating System: ubuntu server 20.04
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Run any Job Template and navigate to Job Output screen.

##### EXPECTED RESULTS

View Ansible job output in real time while job is running.

##### ACTUAL RESUL

[2021-01-28 06:44] dossjjx commented on #9183
Below is console output from the developer tools in Chrome and the useWebsocket.js file that seems to error out. Same issue occurring on Firefox as well. AWX 17.0

![image](https://user-images.githubusercontent.com/35515947/106100367-dc129900-6101-11eb-9961-ea1fd565e905.png)

![image](https://user-images.githubusercontent.com/35515947/106100400-e7fe5b00-6101-11eb-937b-9277bb87f809.png)

[2021-01-28 06:59] suryarao67 commented on #9080
May I know what information is/will be logged to /var/log/tower/rsyslog.err when messages are dropped and is logged as what log category?

[2021-01-28 09:09] maksym-bordun-ynd commented on #8878
@dsmaugy hmm, haven't tried that yet. Are you sure you are actually launching a template, not just editing it's settings?

[2021-01-28 09:20] nicosalvadore commented on #9183
Hello,
I reported the same issue on the mailing list :
https://groups.google.com/g/awx-project/c/BqLZzkzUKmo/m/UUmkCsPMCAAJ

I have this issue on v16.0.0, I haven't upgraded to 17.0.0 or 17.0.1 yet.

[2021-01-28 11:17] killua-eu opened #9184 "AWX fails with: lxc command not found in PATH"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Awx jobs fail to run against hosts with `ansible_connection: lxd` failing with

[code]

##### ENVIRONMENT
* AWX version: 15.0.0.1
* AWX install method: docker on linux
* Ansible version: 2.9.14
* Operating System: Ubuntu
* Web Browser: Any

##### STEPS TO REPRODUCE

- install ansible
- connect to a host via lxd

##### EXPECTED RESULTS

No failure

####

[2021-01-28 13:18] Speedy1985 commented on #9183
Yes same issue here after upgrading from AWX 10.0.0 to 17.0.1.

[2021-01-28 13:29] sean-m-sullivan commented on #8456
Looking at this, is this not already handled by the tower_schedule module? since inventory sources are part of unified job templates? Doing testing later today to be sure, but believe this to be the case. From the looks of it, we are not doing schedules in workflows/templates and other places, but instead using the tower_schedule module to do this function.

[2021-01-28 13:48] tiagodread commented on #6189
Jobs list covered here ansible/tower-qa#5909

[2021-01-28 14:26] AlanCoding commented on #9128
^ I think I'm of the same mind here.

In broad terms, breaking the chain somewhere from organization `admin_role` to team `member_role` is a possibility. To me, it seems more workable to de-parent team `admin_role` from team `member_role`. IIRC, we had it like that once and changed it, maybe because the presentation was confusing.

In any version of this, either the team or organization `admin_rol

[2021-01-28 14:30] AlanCoding commented on #7884
Good point @jbradberry, all the fields I listed in the above comment https://github.com/ansible/awx/issues/7884#issuecomment-768394443 are strictly editable fields. It's non-obvious what EE a job used. The API should report that, and it should be in the UI jobs page just like custom venv used to be.

Ping @yagomarques, in integration tests, after we do `job = jt.launch()`, where the job uses an EE

[2021-01-28 15:13] hjkatz commented on #9128
I just happened to notice this yesterday in the AWX UI. Would showing these permissions or some sort of chain of permissions be in-scope for #3600?

[2021-01-28 15:26] ryanpetrello commented on #9080
@chrismeyersfsu @suryarao67

`/var/log/tower/rsyslog.err` is specific to the `omhttp` module if you're shipping logs via http/s (it doesn't support tcp/udp).

It generally logs connection issues and HTTP-level errors rsyslogd may encounter while attempting to ship logs to e.g., ELK, Splunk, etc...  If rsyslogd _isn't running_, you're not going to see errors in `/var/log/tower/rsyslog.err`.

[2021-01-28 15:34] tiagodread opened #9187 "The user can try to delete a running job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Follow up bug from https://github.com/ansible/awx/pull/8970#issuecomment-767863581
The user can select a running job and the delete button appears enabled

##### STEPS TO REPRODUCE

1. Select a running job on Job list
2. Click on delete button

##### EXPECTED RESULTS

The delete button shouldn’t be enabled

##### ACTUAL RESULTS

![image](https://user-i

[2021-01-28 15:58] dsmaugy commented on #8878
@maksym-bordun-ynd Oh nevermind ;), I misread your first comment. This issue is still present on 17.0.0 when selecting credentials upon launch

[2021-01-28 16:09] kdelee commented on #9085
not that I can tell, but maybe I'm not reading this right.

Also worth mentioning that the "elapsed" timer does not update until the end of the job either

Here is a video. Wait for it -- it looks static but thats because nothing updates until after the job is done (is about 1 min and change)
![events_delayed](https://user-images.githubusercontent.com/29239279/106165489-2a9f5200-6159-11eb-81f3-1d7

[2021-01-28 16:40] jbradberry commented on #7884
Are we tracking the need to remove the custom venv fields from the UI?

[2021-01-28 16:50] jbradberry commented on #8740
@AlanCoding note, we should _not_ remove the `custom_virtualenv` fields for 4.0.  We want to be able to detect the need for users to transition their templates away from using custom venvs.  This issue was raised in today's Support/Engineering Sync meeting.

[2021-01-28 16:55] AlanCoding commented on #8740
That was written before we had an outline of how the migration solution was going to work. My speculative picture was that someone would write a migration tool, which would run to migrate the fields, and then delete the custom venv fields. I don't have a link for the specific form of that solution right now, but discussions have been to keep the field for the initial release. @rebeccahhh is the au

[2021-01-28 16:56] rebeccahhh commented on #8740
yes we're keeping them. @shanemcd and I discussed this yesterday as well, we want to keep the custom venvs for 4.0 and given support agrees I think it's decided.

[2021-01-28 17:09] AlanCoding commented on #8740
I did a once-over of the things in this issue, and the mentions of `custom_virtualenv` still look valid.

We are keeping the fields, but purely for informative purposes. The AWX code should not retain any of the logic to use them. We shouldn't report the available paths in the config endpoint. We shouldn't leave them as editable fields, except to delete them. We shouldn't keep any methods to add t

[2021-01-28 17:42] unlikelyzero commented on #7884
@jbradberry @AlanCoding is there a good list of changes which will impact the settings pages?

[2021-01-28 18:07] jakemcdermott commented on #9183
:wave: hello @dossjj  .

Thanks for creating this issue.

The job output update bug you described is caused by a combination of https://github.com/ansible/awx/issues/8596 and possibly https://github.com/ansible/awx/issues/9085.

We'll have a fix for these bugs in one of the upcoming awx releases.

I'm closing this issue for now - we're tracking the work for this in the issues linked above.

also s

[2021-01-28 18:07] #9183 closed, assigned to nobody

[2021-01-28 18:13] jakemcdermott commented on #9184
You'll need to make sure `lxc` is installed and reachable on the PATH for the `awx` user. I'm not sure this is available by default with the official images.

Note that awx is running on a container and generally doesn't have access to any commands or binaries that are on the host machine running the container.

If you have any questions about customizing or configuring your awx install, please re

[2021-01-28 18:13] #9184 closed, assigned to nobody

[2021-01-28 19:00] Victor-D commented on #2973
This issue is still relevant to latest AWX 14.1.0 and the workaround is not documented anywhere. Well to be precise there is a tiny and wrong documentation about doing a PATCH request on a dict with a typo in its name (it"s AWX not AWS).

I just discovered after PATCHING using the settings route of the AWX API with
    "AWX_TASK_ENV": {
        "HOME": "/var/lib/awx",
        "ANSIBLE_LIBRARY": "l

[2021-01-28 20:26] nixocio opened #9189 "Add execution environment field to a few screens"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add execution environment field to a few screens.

    organization
        default_environment field
    project
        default_environment field
    inventory source
        execution_environment field
    job template
        execution_environment field
    workflows job template
        execution_environment field

It was also decided to add exe

[2021-01-28 20:35] nixocio opened #9190 "Remove the custom venv fields from the UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Remove the custom venv fields from the UI. Every place that shows a custom virtual env should display the execution environment. For instance, Job Details output.

[2021-01-28 20:35] nixocio commented on #7884
I filed an issue. https://github.com/ansible/awx/issues/9190

[2021-01-28 20:41] jakemcdermott opened #9191 "Job detail container group links to wrong page"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
- create a container group
- create a job template that uses that container group
- launch the job template
- navigate to details page of launched job and click the instance group link

##### EXPECTED RESULTS
- link label says "Container group"
- link routes to container group details

##### ACTUAL RESULTS
- link label says "Instance group"

[2021-01-28 21:00] tiagodread commented on #8998
Fixed.
Covered by https://github.com/ansible/tower-qa/pull/5914

[2021-01-28 21:00] #8998 closed, assigned to tiagodread, AlexSCorey

[2021-01-28 21:48] djj106 commented on #9162
resolved in 17.0.1

[2021-01-28 21:48] #9162 closed, assigned to djj106

[2021-01-28 21:54] djj106 commented on #9163
I believe i've narrowed down the issue. It would appear that the UI is attempting to display a username that has been deleted, but the workflow approval record still exists tied to the deleted user. Since admins see all approval records, they would run into the issue where a non-admin user may not.

[2021-01-29 00:32] killua-eu commented on #9184
Yeah, the problem is the containers are rhel8 based which redhat doesnt build the lxc binary so either

- lxc gets built properly upstream
- lxc gets build correctly on docker compose
- a bindmount will be required.
- the corresponding ansible module won't depend on a binary but rather a python library.

Lovely. Since this relates to https://github.com/ansible/ansible/issues/66597 , maybe @hnakamu

[2021-01-29 02:57] colans commented on #989
For those of you in the Debian family, I did some research and came up with some options that I posted as [an Ask Ubuntu answer](https://askubuntu.com/questions/1190875/awx-without-docker).

[2021-01-29 05:21] eocsx commented on #9107
@john-westcott-iv
Hi John.

Sorry for my late reply. To my shame, I'm not able to replicate the issue anymore. I reached some further steps in my project and granted the user template admin role over the organization, as I need him to create new templates as well via the API. Everything seems to be running smoothly, so it was most likely that I was doing something wrong, missing some permission, a

[2021-01-29 08:51] nicolaibaralmueller opened #9193 "AWX 17.0.1 Output is only shown when reloading the page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Output is only shown when reloading the page

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.17

##### EXPECTED RESULTS

Output should update automatically in browser

[2021-01-29 10:33] hellcry37 commented on #9193
up, this plague my awx also

[2021-01-29 11:46] fullgore commented on #9193
Same:

**Environment** :
AWX version: 17.0.1
AWX install method: docker on linux
Ansible version: 2.10.3

[2021-01-29 13:12] ryanpetrello commented on #9193
@jakemcdermott do you think this is related to https://github.com/ansible/awx/issues/8596, or another distinct issue?

[2021-01-29 13:17] ryanpetrello commented on #2354
@jakemcdermott does @dossjj's comment look like it's related to https://github.com/ansible/awx/issues/8596 ?

[2021-01-29 13:38] AlanCoding commented on #2973
With version 15.0.0 @ryanpetrello merged https://github.com/ansible/awx/pull/8084, see my comment

Closing as resolved.

[2021-01-29 13:38] #2973 closed, assigned to nobody

[2021-01-29 13:56] silviud commented on #1532
When using the outbound proxy for the ec2 inventory (either setup into the job's setting or global[added to the initial ansible-playbook as extra variables - see inventory]). It fails due to  the fact that boto doesn't parse a str and expects bytes.

stderr:
ansible-inventory 2.9.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/var/lib/awx/.ansible/plugins/modules',

[2021-01-29 14:48] natman opened #9194 "Add project update to the awx.awx.tower_project ansible module"
##### ISSUE TYPE
Add project update to the awx.awx.tower_project ansible module

##### SUMMARY
We are able to launch a project update with awxkit but not with the pendant ansible module in 16.0.0

[2021-01-29 15:01] AlanCoding commented on #9190
Ping @rebeccahhh and @shanemcd, there was talk of having some placeholder tooltips (this may not be the right word) for how to migrate these fields. I want to get you in the loop for that discussion.

[2021-01-29 15:27] lcarangelo commented on #9173
https://docs.ansible.com/ansible-tower/latest/html/userguide/workflow_templates.html
PARAGRAPH 7
_If a job template used in the workflow has Prompt on Launch selected for any of its parameters, a Prompt button appears, allowing you to change those values at the node level. Use the wizard to change the value(s) in each of the tabs and click Confirm in the Preview tab._

This does not work for LIMIT

[2021-01-29 16:44] mabashian commented on #9193
Yea this sounds like a busted socket.  It could be #8596 or something slightly different.

[2021-01-29 16:47] mabashian commented on #9193
I've got some work in flight for https://github.com/ansible/awx/issues/5906 and https://github.com/ansible/awx/issues/6612 that may impact this.  I'd prefer to let that land and see if it resolves this issue.  I expect to open up the PR early next week.

[2021-01-29 17:08] hjkatz opened #9195 "User cannot change password"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I asked around a bit in irc first, but we were unable to figure this out.

How can a user account (normal, non-ldap, regular plain user account) change their own password?

I want the user to change their password, not the admin to change it for them.

I do not see any option in the UI (AWX 16.0.0).

The API allows for `/api/v2/me` but only `GET` requ

[2021-01-29 17:14] ryanpetrello commented on #9195
I'm not able to reproduce this on a recent awx install (`17.0.1`):

[code]

I also tried this on a non-superuser (just a Normal User with access to one Organization) and it works for me as well.

[2021-01-29 17:16] jakemcdermott commented on #9193
:wave: hello

Thanks for creating this issue.

The job output update bug you described is caused by a combination of https://github.com/ansible/awx/issues/8596 and possibly https://github.com/ansible/awx/issues/9085.

We'll have a fix for these bugs in one of the upcoming awx releases.

I'm closing this issue for now - we're tracking the work for this in the issues linked above.

also see:
  - htt

[2021-01-29 17:16] #9193 closed, assigned to nobody

[2021-01-29 17:24] hjkatz commented on #9195
I'm going to try upgrading to 17.0.1 and test again. I get the same error `{"detail":"You do not have permission to perform this action."}` when trying the steps above for 16.0.0.

Do y'all know of any changes to this API path or permissions from 16 -> 17?

[2021-01-29 17:29] ramzcode commented on #1636
@15ramky  I did the same mistake on my first test playbook on AWX.. Thank you so much for the input.

[2021-01-29 17:54] wenottingham commented on #9178
You want to grant system auditor to a team? It would be a singleton role mapping like system admin.

[2021-01-29 18:03] wenottingham commented on #9194
See #8686, etc

[2021-01-29 18:03] #9194 closed, assigned to nobody

[2021-01-29 18:05] hjkatz commented on #9178
Yes. We have a team of auditors and they would like to be able to audit AWX. Members of the auditor team are pulled from ldap information (SAML and Okta) so the membership to the team is flexible.

[2021-01-29 18:13] blomquisg commented on #9171
@Lobout do you have any errors in the browser javascript console?  can you include that?

[2021-01-29 18:14] wenottingham commented on #9178
You'd set that with SOCIAL_AUTH_SAML_ORGANIZATION_ATTR or AUTH_LDAP{}_USER_FLAGS_BY_GROUP today.

To do that based on teams and similar things, there is also the https://github.com/ansible/awx/issues/5303 RFE - marking as duplicate of that.

[2021-01-29 18:14] #9178 closed, assigned to nobody

[2021-01-29 18:26] blomquisg commented on #9151
@AlanCoding how is this related to #4675?  Can you add some more about what you're thinking here?

[2021-01-29 18:26] hjkatz commented on #9178
The use of `SOCIAL_AUTH_SAML_ORGANIZATION_ATTR` is broken, see: https://github.com/ansible/awx/issues/9128

Perhaps there are multiple issues that are reporting the same underlying problem?

[2021-01-29 18:31] #9107 closed, assigned to nobody

[2021-01-29 18:34] blomquisg commented on #9067
@harrytruman if you have more details, feel free to re-open this request.

[2021-01-29 18:34] #9067 closed, assigned to nobody

[2021-01-29 19:16] AlanCoding commented on #9151
Oops, I did link the wrong issue. See https://github.com/ansible/awx/issues/8765 or https://github.com/ansible/awx/issues/8341

A Galaxy credential must be associated with the organization of the project, or else the `roles_enabled` setting will be set to False and no `ansible-galaxy` commands will be ran. This was an intentional change.

[2021-01-29 19:24] tiagodread commented on #9049
worked as expected, we have already a visual test to cover this list in /visualintegration/inventory.spec.js

[2021-01-29 19:24] #9049 closed, assigned to keithjgrant, tiagodread, akus062381

[2021-01-29 19:56] fosterseth commented on #5057
Given elsewhere this either points to a schedule or a user, `launched_by` should point to the schedule that launched the workflow, that launched the job.

[2021-01-29 20:03] jbradberry commented on #5057
There are also jobs launched by webhook, which should probably be a distinct case.  Also host callbacks, which I admit I don't know much about.

[2021-01-29 20:06] hjkatz commented on #9195
Ok! Took me a bit to update, but I still have the same problem:

[code]

[2021-01-29 20:08] hjkatz commented on #9195
@ryanpetrello I see that you're editing the admin user as the admin user. `is_super_user: true` and `edit: true` in the `/users/1` response.

I'm trying to change the password of a user _as that user_. I see `edit: false`. What's this flag?

[2021-01-29 20:11] jbradberry commented on #5057
I think that these `LAUNCH_TYPE_CHOICES` are probably important for this use case, and should probably be part of what is conveyed to the UI.

https://github.com/ansible/awx/blob/09a0448c3e29d8be5c662cc78e58f05cff77026f/awx/main/models/unified_jobs.py#L537-L547

[2021-01-29 21:03] tiagodread commented on #8290
Closing this with the merge of https://github.com/ansible/awx/pull/8661
covered by https://github.com/ansible/tower-qa/pull/5918

[2021-01-29 21:03] #8290 closed, assigned to nobody

[2021-01-29 21:06] ryanpetrello commented on #9195
Hey @hjkatz,

I'm not totally sure what's up - my examples were with an admin user, but I'm also able to make a `PATCH` request with a random user (`is_super_user: false`) I created, and change the password just fine and get an `HTTP 200` 🤔

[2021-01-29 21:08] ryanpetrello commented on #9195
Do you see any errors in the awx logs that might point to some clues?

[2021-01-29 21:25] hjkatz commented on #9195
No, I don't see anything in the `awx-task` logs.

I see the following in the `awx-web` logs:

[code]

[2021-01-29 21:52] wenottingham commented on #4983
I think with the changes already made this is baked enough. Closing.

[2021-01-29 21:52] wenottingham commented on #4983
Reopening for testing.

[2021-01-29 22:00] wenottingham commented on #4623
@jbradberry @marshmalien will what we do for https://github.com/ansible/awx/issues/5057 also solve this?

[2021-01-29 22:22] hjkatz commented on #9195
I think I found the bug. See this section of access code: https://github.com/ansible/awx/blob/devel/awx/main/access.py#L599-L611

The order of checking is as follows:
* super user and auditor stuff (not applicable in this case)
* am I myself a super user? (no)
* is org auth allowed? (no) <-- bug is here
* is this _my_ user account (yes)

The ordering should be checking if the user is managing thei

[2021-01-29 22:25] wenottingham commented on #5149
Putting in needs_test... once exec envs are live, this should be  a verification-only issue.

[2021-01-29 22:26] wenottingham commented on #5083
Closing this given #6134

[2021-01-29 22:26] #5083 closed, assigned to nobody

[2021-01-29 22:27] wenottingham commented on #3823
Folding into a different issue.

[2021-01-29 22:27] #3823 closed, assigned to nobody

[2021-01-29 22:42] hjkatz commented on #9195
To confirm that this is the source of the behaviour we're seeing I think you should be able to reproduce the above problem by setting `MANAGE_ORGANIZATION_AUTH = false` in the settings.

When I set `MANAGE_ORGANIZATION_AUTH = true` and then run the above tests I get strange results. When running `curl -X PATCH -d '{"password":"changed"}' -L https://example:test@awx-sandbox.example.com/api/v2/users

[2021-01-30 03:18] AlanCoding commented on #5149
So then we're limiting the scope to SCM ~collections~ inventory with references to a collection in an execution environment.

@yagomarques is collecting test cases and this is one that I can outline specifically.

[2021-01-30 14:19] hnakamur commented on #9184
The lxc command is not needed by the lxd_container module, but is needed by the lxd connection plugin.
https://github.com/ansible-collections/community.general/blob/9c648c8e3acedf0881c9fbeb08b353230457c945/plugins/connection/lxd.py#L64.

The lxd connection plugin is used when you use `ansible_connection: lxd`.

[2021-01-30 14:38] killua-eu commented on #9184
Hey @hnakamur , yep thats exactly what I'm using - `ansible_connection: lxd` .. thats why things fail on me.

[2021-01-30 17:00] steelcowboy commented on #9151
I didn't show it in my screenshot, but I just confirmed that the credential and the project are part of the same organization

[2021-01-31 23:02] YSEBAOUI commented on #8550
thank you , i had a same problem

[2021-02-01 03:11] dossjjx commented on #2354
Yes looks like it. Created a new issue for this and it was closed because #8596 is actively working on it. Devs mentioned this should be fixed in the next release.

[2021-02-01 07:09] lemmy04 opened #9197 "AWX 17.0.1: have to log in twice"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Sometimes I have to log in twice to AWX

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.17
* Operating System: openSUSE Leap 15.2
* Web Browser: Firefox on linux and windows.

##### STEPS TO REPRODUCE

Sometimes when I log in to AWX I get a popup that i can't read because it disappears too fast, an

[2021-02-01 10:33] stahloss commented on #7859
Any news on this? We would be helped so much by this feature.

[2021-02-01 12:42] ajitkumartanwade commented on #6499
Facing the same issue, want to rebuild the index for Postgres database issue, but not able to do that.

Will this workaround work?

[2021-02-01 14:17] jakemcdermott commented on #9197
I've observed this as well. There's a scenario where we need to clear some session state after it expires.

[2021-02-01 14:20] jakemcdermott commented on #8878
Thanks, I'll take a look. IIRC I fixed this specifically for the job template form. It's likely a similar variant of the bug exists for the launch prompt.

[2021-02-01 15:22] xding2020 opened #9200 "awx.awx.tower_job_template will update the limit to none if the parameter is not set"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

tower_job_template ansible module will update the limit of job template to none if the parameter is not set, instead of keeping it unchanged

##### ENVIRONMENT
* Ansible version:  2.9.4

##### STEPS TO REPRODUCE
1. Assuming ansible tower is ready and there is a job template with limit parameter set
2. Run an ansible playbook that contains a task updat

[2021-02-01 15:31] RylandDeGregory commented on #7362
Any traction on this? I know there are a lot of changes taking place in AWX right now, but with more and more orgs moving from AD to Azure AD, this is going to be an increasingly necessary feature.

[2021-02-01 16:07] Lobout commented on #9171
![image](https://user-images.githubusercontent.com/20486738/106484314-80d40400-647d-11eb-93d8-62596a309a32.png)
![image](https://user-images.githubusercontent.com/20486738/106484532-b2e56600-647d-11eb-87f9-3541014957a3.png)

[2021-02-01 16:13] marshmalien commented on #4623
@wenottingham This looks like it was addressed by https://github.com/ansible/awx/pull/9035. Instead showing a (w) icon, we show "Source Workflow Job" with a link to the workflow job.

<img width="493" alt="Screen Shot 2021-02-01 at 11 11 58 AM" src="https://user-images.githubusercontent.com/15881645/106485257-66e6f100-647e-11eb-86a5-e4e149558290.png">

[2021-02-01 16:16] marshmalien commented on #4623
Related: https://github.com/ansible/awx/issues/8915

[2021-02-01 16:59] minsis commented on #7100
I was running into similar issues today with this. Looking in the code by default the Instance object is supposed to get settings.CLUSTER_HOST_ID if no hostname argument was passed in. But for some reason somewhere along the line when starting up a fresh container the register process is registering the task's container's hostname instead.

The reason I needed to change the hostname is because of

[2021-02-01 18:11] adrianovieira opened #9202 "inventory file field doesn't show yaml file type"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Drop down list doesn't show `.yml` files

![image](https://user-images.githubusercontent.com/5561794/106498247-dfa97580-649d-11eb-8243-f7479344ac28.png)

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.16+
* Operating System: centos-7 also tried on centos-8
* Web Browser: firefox-85 or chromiun-87

[2021-02-01 18:30] wenottingham commented on #5149
SCM *configuration files* with references to a collection in an exec env, yes.

[2021-02-01 18:35] AlanCoding commented on #5149
Good catch, I wrote that wrong.

The inventory file is in SCM. The collection is in the execution environment.

[2021-02-01 19:44] wenottingham commented on #9195
All requests must have a trailing `/`, that's what the 302 is for.

[2021-02-01 20:00] chrismeyersfsu commented on #7253
Multiple tower nodes supported in kubernetes only.

[2021-02-01 20:00] #7253 closed, assigned to nobody

[2021-02-01 20:40] chrismeyersfsu commented on #7521
Sorry @AlanCoding , fixed.

[2021-02-01 21:51] wenottingham commented on #8664
Moving to backlog unless @trahman73 wants to do this now.

[2021-02-01 22:04] wenottingham commented on #8523
-> https://github.com/ansible/awx/issues/7414

[2021-02-01 22:04] #8523 closed, assigned to nobody

[2021-02-01 22:04] wenottingham commented on #7254
@trahman73 is this in the design for this iteration?

[2021-02-01 22:08] trahman73 commented on #8664
@wenottingham Other apps on the RH cloud platform are using text only buttons as recommended by PatternFly If we want to pursue this, I agree with @mabashian that we should apply it to the complete set of action buttons. I think this is fine to move to the backlog until I can get further clarification from PF in the use of icons in buttons.

[2021-02-01 22:11] wenottingham commented on #7487
@trahman73 do we have a design for this in the new UI?

[2021-02-01 22:13] wenottingham commented on #7704
Closing as duplicate of #8629

[2021-02-01 22:13] #7704 closed, assigned to nobody

[2021-02-01 22:16] wenottingham commented on #8009
This has shipped for a while.

[2021-02-01 22:16] #8009 closed, assigned to nobody

[2021-02-01 22:19] trahman73 commented on #7254
@wenottingham This is a nice to have for 4.0... The idea is to show a launch preview as the design is here:
https://tower-mockups.testing.ansible.com/patternfly/templates/templates-prompt/

[2021-02-01 22:26] wenottingham commented on #5660
@trahman73 is this in the current design?

[2021-02-01 22:27] trahman73 commented on #7487
@wenottingham @jlmitch5 We can take the Instance Group list view (mockup below) and apply the PatternFly draggable list component (link below). We would need some explanation text to tell the user that the selected order sets the execution precedence.

IG List View: https://tower-mockups.testing.ansible.com/patternfly/instance-groups/instance-groups-instances/
PF Draggable List: https://www.patter

[2021-02-01 22:32] trahman73 commented on #5660
@wenottingham This can be covered by our new PatternFly status labels (mockup below). We can denote error types using the label text itself.

Status label example: https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs-relaunch-dropdown/

[2021-02-02 02:34] andrewsav-bt commented on #9015
@jakemcdermott it appears that is' not just the view, those jobs do not seem to run at all after upgrade to 17.0.1. Could you please confirm?
![chrome_PKK5eQSDBu](https://user-images.githubusercontent.com/27190911/106544520-8bb99200-656c-11eb-8e4f-cf49ab0146cc.png)

No "Next run" value to be seen.

[2021-02-02 07:06] dolgovas commented on #8670
very-very need feature

[2021-02-02 08:03] 1121437613 opened #9204 "Does the new version of AWX support Chinese?"
Does the new version of AWX support Chinese?
I deployed the latest version of AWX and the UI is in English. How can I change it to Chinese?

[2021-02-02 13:39] unlikelyzero commented on #7467
note: this was discovered https://github.com/ansible/awx/issues/9191

[2021-02-02 14:28] AlexSCorey commented on #9204
@1121437613 none of our strings have been translated yet.  We are still working on that.  Check back soon!

[2021-02-02 14:43] jakemcdermott commented on #9204
:wave:

Yes - The new ui will have translations for all of the same languages that are available with the old ui. They'll be added in a future release of awx.

If you have any questions, please reach out to our community mailing list or join our `#ansible-awx` irc channel on freenode.

Thanks and happy automating!

[2021-02-02 14:43] #9204 closed, assigned to nobody

[2021-02-02 14:57] jakemcdermott commented on #9202
I think the file _detection and display_ is a known issue for some types of project configurations and inventory files: https://github.com/ansible/awx/issues/232#issuecomment-331244508 we don't have a fix planned for this any time soon.

cc @AlanCoding / @ryanpetrello / @chrismeyersfsu can confirm

That said, my understanding is that you should still be able to manually _type in_ any valid invento

[2021-02-02 15:17] jakemcdermott commented on #9202
Closing - see https://github.com/ansible/awx/issues/9202#issuecomment-771692815

Looks like file detection and display is a known issue https://github.com/ansible/awx/issues/232#issuecomment-331244508 / wontfix and we'll have a patch merged into devel soon for manual type-in of inventory file names: https://github.com/ansible/awx/pull/9120

[2021-02-02 15:17] #9202 closed, assigned to nobody

[2021-02-02 16:32] unlikelyzero commented on #6189
@tiagodread did you test these https://github.com/ansible/awx/issues/6189#issuecomment-744424028

[2021-02-02 17:05] kunaludapi opened #9206 "No output or result is empty in the Jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I have freshly setup my AWX server multiple time, whenever I execute template there is no Output and status is red in the jobs as attached screenshot,

I have followed these blogs to install and configure Ansible AWX.
http://vcloud-lab.com/entries/devops/install-ansible-awx-tower-on-ubuntu-linux
http://vcloud-lab.com/entries/devops/getting-started-ans

[2021-02-02 17:06] unlikelyzero commented on #443
This is in test as we add ui coverage. @yagomarques and @shebangbash are leading the api testing

[2021-02-02 17:10] jakemcdermott opened #9207 "[ExecEnvs] Surface missing-resource warnings on list items for UJTs that were using custom virtualenvs"
##### SUMMARY
After upgrade, job templates that were using virtualenvs will need to be linked to an execution environment. We should show a "missing resource" warning (like we do for deleted projects, etc.) on list items to help inform the user about the actions they need to take in order to make the template runnable.

Potential implementation details: We can add a new api field to indicate warni

[2021-02-02 17:38] jakemcdermott commented on #9206
:wave: Hello @kunaludapi .

We'll need to surface the error and traceback information in the output panel for you to see what's going on. This information comes from a different source than the regular output so some code updates were needed.

We're tracking the work here: https://github.com/ansible/awx/issues/8709

I've [opened a PR to devel](https://github.com/ansible/awx/pull/8726) to address t

[2021-02-02 17:38] #9206 closed, assigned to nobody

[2021-02-02 17:55] AlanCoding commented on #9207
Related to other EE migration issues https://github.com/ansible/awx/issues/7062 that @rebeccahhh has been working on

and less-so https://github.com/ansible/awx/issues/9146

[2021-02-02 17:55] tiagodread commented on #6300
All sort-able information now are present on the tables model
![image](https://user-images.githubusercontent.com/12464858/106642105-b6a0e780-6566-11eb-97d5-f2311f44dc54.png)

[2021-02-02 18:52] bijenkins opened #9209 "Permissions on Surveys for Different options between Teams/Roles"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently you have create two different jobs, and setup different surveys and set permissions on the project/template in

The ability to have multiple surveys on a job template, that are based off permissions defined via Team membership would cut down overhead of managing reused playbooks. A team/role of "Admin", shouldn't have the same options as a

[2021-02-02 19:09] tiagodread commented on #7626
Closing this issue because all these items are being addressed on https://github.com/ansible/awx/issues/6189

[2021-02-02 19:09] #7626 closed, assigned to keithjgrant

[2021-02-02 19:17] tiagodread commented on #7563
@keithjgrant I realised that this list `User -> Organization Tab` is not using the new tables list component like the `Organizations` list is. I don't know if we have a specific issue to keep track on all this remaining lists or not.

[2021-02-02 19:44] kdelee commented on #9019
- add testing for filtering in tower-qa
- add new attributes to existing tests for existence/correctness
  - basic correctness,example: num events monotonically increasing
- in cluster installs, verify data is propagated across cluster
  - example, if job is run on other node, show on other node that job count increased on job running node, and that event count increased
- add baseline pass/fail A

[2021-02-02 20:00] sbenita opened #9211 "Job distribution on awx-task is not even"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using K8S container group only, the process of the pending tasks assigns the task mostly to the first host in the tower group.
https://github.com/ansible/awx/blob/7d432e484cbdc6393d0b04e65bd8beef30a75ed6/awx/main/scheduler/task_manager.py#L288
The selection of a host as controller node does not "cost" it with capacity even it have impact on the no

[2021-02-02 20:28] AlanCoding opened #9212 "[execution-environments] Image cleanup"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Steps:

 - User creates a new EE that references a new custom image
 - Runs jobs with this EE
 - Deletes the EE through the API

Over time, the user accumulates bulky images, on the scale of 100s of Gb.

The API needs to provide some means of deleting both

 - Images no longer referenced by an execution environment in the API
 - Dangling images

If n

[2021-02-02 20:31] jjbaumgartner opened #9213 "AWX 17.0.0 - Email notification cannot unselect Email Options to disable SSL/TLS"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Email notifications in AWX 17 require TLS/SSL email options to be set.  There is no way in the web interface to unselect the SSL/TLS options completely.

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.16
* Operating System:  Debian Buster
* Web Browser:  Chrome 88.0.4324.104

##### STEPS TO REPRODU

[2021-02-02 20:36] AlanCoding commented on #9212
Locally, I find that the podman prune command isn't thorough enough, I get by that running

[code]

and I have to run this multiple times, unfortunately. I don't know what to tell you for the AWX solution here.

[2021-02-02 21:07] #8961 closed, assigned to AlexSCorey

[2021-02-02 21:07] mabashian commented on #8961
This was resolved by #9048

[2021-02-02 21:10] mabashian commented on #8853
@AlexSCorey you still working on this?  If so feel free to re-assign and update the labels.

[2021-02-02 21:12] mabashian commented on #8840
@AlexSCorey you still working on this?  If so feel free to re-apply the label.

[2021-02-02 21:13] #8530 closed, assigned to mabashian

[2021-02-02 21:17] mabashian commented on #8356
https://lingui.js.org/releases/migration-3.html

[2021-02-02 21:18] mabashian commented on #8273
Closing this issue since the work has already been split into smaller issues.

[2021-02-02 21:18] #8273 closed, assigned to mabashian

[2021-02-02 21:20] mabashian commented on #7708
@nixocio @one-t I believe this can be closed now.  If I'm mistaken please re-open.

[2021-02-02 21:20] #7708 closed, assigned to nixocio

[2021-02-02 21:21] mabashian commented on #6866
@tiagodread I'm going to close this since it looks like tests have merged.  Feel free to re-open if needed.

[2021-02-02 21:21] #6866 closed, assigned to jlmitch5

[2021-02-02 21:27] mabashian commented on #9013
Before anyone works on this lets discuss with Bill/Taufique

[2021-02-02 21:28] sean-m-sullivan commented on #8544
The logic has been updated in the tower_job_launch and tower_workflow_launch to reflect the above table and allow extra vars to be passed as survey variables.

[2021-02-02 21:28] #8544 closed, assigned to sean-m-sullivan

[2021-02-02 21:29] ProfileAdmin opened #9214 "Cannot type inventory file for synced from project"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Not able to type in inventory file for inventory that is synced from project?

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.17
* Operating System: Ubuntu 18.04 LTS
* Web Browser: Chrome Enterprise

##### STEPS TO REPRODUCE

Create inventory sourced from project

##### EXPECTED RESULTS

Be able to

[2021-02-02 21:31] mabashian commented on #8824
This sounds much more like a bug than an enhancement

[2021-02-02 21:33] mabashian commented on #8823
This will be covered by #6073

[2021-02-02 21:33] #8823 closed, assigned to nobody

[2021-02-02 21:35] mabashian commented on #8820
I'm not sure that we can really do anything about that.  We _have_ to hit the launch endpoint to see whether or not there's any promptable fields or passwords needed on the template.

In general if we're making duplicate requests where something _could_ be cached then I guess that's something to explore but this issue feels nebulous.  I'm not sure what the action item actually is.

[2021-02-02 21:38] mabashian commented on #8819
Ping @keithjgrant - I feel like we've talked about this before and came to the conclusion that we didn't want to actively validate until the user hits the save button?  I think this is working exactly as expected.

[2021-02-02 21:42] mabashian commented on #8795
I'm not sure that we need to do a bunch of requests and show counts in this scenario.  It could suffice to just tell the user in the modal that all resources associated with this org will also be deleted.

[2021-02-02 21:45] mabashian commented on #8601
This is how the PF component works.  We can open an issue against the lib but I don't think we want to deviate from the base behavior.  cc @trahman73 if you feel differently feel free to re-open.

[2021-02-02 21:45] #8601 closed, assigned to nobody

[2021-02-02 21:48] mabashian commented on #8597
Patternfly has a max height of 40px on that image.  cc @trahman73 if you feel like we should override this feel free to re-open.

[2021-02-02 21:48] #8597 closed, assigned to nobody

[2021-02-02 21:50] mabashian commented on #8557
I think this would be better suited for a general issue.  There are _lots_ of details that don't have help text.

[2021-02-02 21:50] #8557 closed, assigned to nobody

[2021-02-02 21:55] mabashian opened #9215 "Add help text popovers to resource details that may be confusing without context"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I closed https://github.com/ansible/awx/issues/8557 in favor of a more generic issue.

The idea here is that we show help text on some form fields:

<img width="1344" alt="Screen Shot 2021-02-02 at 4 53 19 PM" src="https://user-images.githubusercontent.com/9889020/106667790-64b48d80-6577-11eb-9a89-56c571a242a0.png">

but not on the details:

<img wid

[2021-02-02 21:57] mabashian commented on #8452
Ideally, I think we should scroll to the top-most error in the form.  If that's not possible we could explore scrolling to the top of the form if there was an error.

[2021-02-02 21:59] mabashian commented on #8401
I'm marking this as `high` but also `blocked`.  @jlmitch5 when you get back lets touch base on this one.

[2021-02-02 22:04] wenottingham commented on #9209
This reads as a side feature of #20, more or less - I think it's best to tackle this use case in that context. Closing as duplicate.

[2021-02-02 22:04] #9209 closed, assigned to nobody

[2021-02-02 22:59] jakemcdermott commented on #9214
:wave: Hi  @ProfileAdmin. Thanks for the issue. We're tracking work for this here: https://github.com/ansible/awx/issues/9043

There's a PR open with a patch for this bug and it will be merged into devel soon: https://github.com/ansible/awx/pull/9120. It will be fixed in an upcoming awx release.

Thanks and happy automating.

[2021-02-02 22:59] #9214 closed, assigned to nobody

[2021-02-03 01:43] marshmalien commented on #7777
Slider added to PF-React here: https://github.com/patternfly/patternfly-react/pull/5358

[2021-02-03 01:48] hakan458 opened #9217 "Inventory Script Behaves Differently as Custom Script vs. Sourced From Project"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using an inventory script as the source for an inventory, there is different behavior when getting the script from a git project versus a "custom script" through the UI.

I had to write a custom inventory script in order to sync inventory from a git project, due to some of the host vars being encrypted. There is no way to pass the vault key / vaul

[2021-02-03 02:23] jakemcdermott commented on #9217
:wave: Hello. We've actually removed `custom inventory scripts` entirely from the awx in the latest version. It's no longer a feature we support. Moving forward, you'll need to make sure that any inventory script you use works with the `ansble-inventory` command used by project-sourced inventories.

Thanks and happy automating.

[2021-02-03 02:23] #9217 closed, assigned to nobody

[2021-02-03 07:38] jitteryjuice opened #9218 "[ui_next] Paging credentials closes the launch popup"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After upgrading AWX from 14.1.0 (to 15.0.1 to 16.0.0) to 17.0.1 it has been noticed that if you launch a job template from the templates menu (that has been found via filtering, or via pagination) using the "Launch Template" button, and paginating the credential list results in the Modal popup closing and the URL that was filtered returning to the root

[2021-02-03 07:40] MrBones757 commented on #9218
I will also be able to provide info here in addition to @j-shade as we have access to the same instance / environment

[2021-02-03 08:35] al-lac commented on #5209
Please consider providing this for the on-premise server / datacenter versions. I know a lot of companies that would benefit from this integration.

[2021-02-03 11:47] kunaludapi commented on #9206
Is there any ETA for this?

[2021-02-03 13:00] aquilinux commented on #5428
After upgrading to Foreman 1.24 and AWX 17.0.0.1 i observe the same behavior.
@ares can you better expain your previous comment? Any chance we get this working?

Thanks!

[2021-02-03 14:06] mabashian commented on #9115
This smells like ui-specific issue to me so I'm going to remove the api label.

[2021-02-03 14:12] mabashian commented on #8854
This is tracked at a higher level in https://github.com/ansible/awx/issues/6853

[2021-02-03 14:12] #8854 closed, assigned to nobody

[2021-02-03 14:14] mabashian commented on #8838
https://github.com/ansible/awx/blob/devel/awx/ui_next/src/screens/Job/JobOutput/JobOutput.jsx#L364 should be InventoryUpdatesAPI

[2021-02-03 14:23] amolari opened #9220 "new job environment variable: awx_workflow_launch_type"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The job environment provides the variable `awx_job_launch_type`

(tower_ replaced by awx_ works)
ref: https://docs.ansible.com/ansible-tower/latest/html/userguide/job_templates.html

Could we have a variable `awx_workflow_launch_type` too, as the indication of how the workflow job was started might be of interest?

[2021-02-03 14:42] mabashian commented on #8831
Based on the error in the screenshot it looks like someone was trying to create a schedule for a WF that had a survey.  This is/was not yet supported and is being tracked here: https://github.com/ansible/awx/issues/7692.

I tested out a generic case where no prompts were necessary and I was able to create a schedule.

[2021-02-03 14:42] #8831 closed, assigned to nobody

[2021-02-03 14:46] mabashian commented on #8830
<img width="1454" alt="Screen Shot 2021-02-03 at 9 45 25 AM" src="https://user-images.githubusercontent.com/9889020/106763166-91fb4d00-6604-11eb-979f-08d65c3dace8.png">

I created an inv, user, and team.
Added the user to the team
Gave the team admin permissions on the inv

Going to throw this back to needs_info.  Will need more info in order to recreate or can be closed if no longer able to repro

[2021-02-03 14:51] mabashian commented on #9173
This is being tracked here: https://github.com/ansible/awx/issues/7692

[2021-02-03 14:51] #9173 closed, assigned to nobody

[2021-02-03 14:51] mabashian commented on #8692
This is being tracked here: https://github.com/ansible/awx/issues/7692

[2021-02-03 14:51] #8692 closed, assigned to nobody

[2021-02-03 14:53] mabashian commented on #8647
@jakemcdermott It looks like you've got something cooking for this.  If I'm mistaken feel free to undo my label/assignment changes.

[2021-02-03 14:54] mabashian commented on #8602
Being tracked by https://github.com/ansible/awx/issues/7692

[2021-02-03 14:54] #8602 closed, assigned to nobody

[2021-02-03 14:56] mabashian commented on #8465
I believe that @jlmitch5 addressed this with #9083

[2021-02-03 14:59] #8421 closed, assigned to nobody

[2021-02-03 16:02] unlikelyzero commented on #9190
@mabashian this is required for EE environments

[2021-02-03 16:15] #1419 closed, assigned to nobody

[2021-02-03 16:17] unlikelyzero commented on #1479
worth retesting in the new ui. Maybe be a duplicate at this point

[2021-02-03 16:18] unlikelyzero commented on #1611
@mabashian was this addressed in our rewrite?

[2021-02-03 16:18] #2652 closed, assigned to nobody

[2021-02-03 16:21] unlikelyzero commented on #2521
Since workflow Viz was one of the few components which was migrated to ui_next is likely using the same codebase, let's retest this in the new UI

[2021-02-03 16:24] unlikelyzero commented on #2949
Adding this to 4.0 to verify that a user with limited permissions can see the notifications tab

[2021-02-03 16:26] #2955 closed, assigned to nobody

[2021-02-03 16:28] unlikelyzero commented on #3073
adding to retest in the new ui. This testcase does not exist

[2021-02-03 16:29] #3125 closed, assigned to nobody

[2021-02-03 16:31] unlikelyzero commented on #3366
We need to know if this is still a problem with the new workflow visualizer

[2021-02-03 16:32] #3368 closed, assigned to nobody

[2021-02-03 16:34] unlikelyzero commented on #3777
we need to make sure this user experience is improved in the new ui

[2021-02-03 16:36] #8284 closed, assigned to marshmalien

[2021-02-03 16:37] unlikelyzero commented on #3934
Retest with https://github.com/ansible/awx/issues/3934#issuecomment-507230680

[2021-02-03 16:39] unlikelyzero commented on #4063
We've reimplemented this popup in the new ui. Let's verify that it makes sense

[2021-02-03 16:56] mabashian commented on #8195
Clicking save actually wipes this error.  Clicking save again allows the user to save the form so bumping this down to `medium` as there's a fairly straightforward work around.

[2021-02-03 17:06] mabashian commented on #8062
I don't consider this to be a bug at all.  The filter works as long as the user provides the string as it's represented in the db:

<img width="1478" alt="Screen Shot 2021-02-03 at 12 04 53 PM" src="https://user-images.githubusercontent.com/9889020/106782428-24591c00-6618-11eb-8558-3d39ef46fe7c.png">

I think what Danny was asking for was a more user friendly way to provide a date in the search.

[2021-02-03 17:11] mabashian commented on #8053
A _lot_ has changed since this issue was opened.  #9208 includes a refactor under the hood from a class based component to a functional component.  It's possible this issue still exists but I think this should be re-tested as there's a very good chance it's been fixed.

[2021-02-03 17:26] mabashian commented on #7834
The enhancement that @jlmitch5 outlines is definitely worthwhile so I think we should keep this issue open.

The fact that we can trigger a 500 by doing this is not great so I'm going to open up an api issue to see if they can return a 4xx error instead to give the user a little better message.

[2021-02-03 17:28] unlikelyzero commented on #9056
@chrismeyersfsu can you help me understand when work might begin on the ui component

[2021-02-03 17:30] unlikelyzero commented on #9012
@kdelee has some testing notes and will add here

[2021-02-03 17:31] mabashian opened #9222 "Passing a bad lookup type modifier in api request triggers 500 error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Send a request like `/api/v2/jobs/?id__iexact=1`

<img width="1680" alt="Screen Shot 2021-02-03 at 12 28 26 PM" src="https://user-images.githubusercontent.com/9889020/106785392-56b84880-661b-11eb-9288-fa50845636f7.png">

`iexact` isn't supported on the `id` field.  What I'm hoping for is a nice 4xx error that says that modifier is not supported.

The i

[2021-02-03 17:31] mabashian commented on #7834
Link https://github.com/ansible/awx/issues/9222

[2021-02-03 17:41] mabashian commented on #7653
We can close this now that we display the status' like so:

<img width="614" alt="Screen Shot 2021-02-03 at 12 40 49 PM" src="https://user-images.githubusercontent.com/9889020/106786906-135ed980-661d-11eb-9dbd-a03bbc3b56f6.png">

[2021-02-03 17:41] #7653 closed, assigned to nixocio

[2021-02-03 17:44] mabashian commented on #7520
Duplicate of https://github.com/ansible/awx/issues/8840

[2021-02-03 17:44] #7520 closed, assigned to nobody

[2021-02-03 17:47] mabashian commented on #7395
We should probably treat this issue as a general reminder to click through FF and make sure we don't have breakage.

[2021-02-03 17:51] mabashian commented on #7279
This got fixed somewhere along the way

![schedule_sort](https://user-images.githubusercontent.com/9889020/106788042-7604a500-661e-11eb-9754-cb72e44a5f29.gif)

[2021-02-03 17:59] mabashian commented on #6973
In this case, that checkbox doesn't actually correspond to a field expected by the api.  That checkbox just exposes the optional fields that could be provided.  I agree this UX isn't great but the page no longer errors:

![enable_webhooks_jt](https://user-images.githubusercontent.com/9889020/106788731-54f08400-661f-11eb-8575-3878fb82508a.gif)

I would want to look at how the old UI behaves but thi

[2021-02-03 18:04] mabashian commented on #6865
This exists in devel now:

<img width="1479" alt="Screen Shot 2021-02-03 at 1 03 41 PM" src="https://user-images.githubusercontent.com/9889020/106789443-46ef3300-6620-11eb-9d99-6b9453aa97b5.png">

[2021-02-03 18:05] mabashian commented on #6805
I think this was just unimplemented in the new ui.  Needs to be added back in.

[2021-02-03 18:06] mabashian commented on #6632
It's been a looooooong time since this was filed.  If this pops back up we can reopen.

[2021-02-03 18:06] #6632 closed, assigned to nobody

[2021-02-03 18:07] mabashian commented on #6614
Dupe of #5906

[2021-02-03 18:07] #6614 closed, assigned to nobody

[2021-02-03 18:17] mabashian commented on #4904
@unlikelyzero can we close this?

[2021-02-03 18:24] mabashian commented on #4532
I followed these exact steps:

[code]

and wasn't able to repro:

<img width="1492" alt="Screen Shot 2021-02-03 at 1 23 39 PM" src="https://user-images.githubusercontent.com/9889020/106791544-0b099d00-6623-11eb-87b5-1540804978ce.png">

`otheruser` is a user in the other team.  Other team has admin role on the inventory.

[2021-02-03 19:00] unlikelyzero commented on #4904
It still persists. We worked around it by logging in twice. I think we should leave it open as low/awx/triaged

[2021-02-03 19:10] mabashian commented on #9218
Here's the bug in action

![cred_page](https://user-images.githubusercontent.com/9889020/106796630-9b4ae080-6629-11eb-89a6-d0e9a50e40c9.gif)

[2021-02-03 19:13] kdelee commented on #9012
we will end up testing this once it is served to the metrics endpoint https://github.com/ansible/awx/issues/9019#issuecomment-771926550

[2021-02-03 19:17] mabashian commented on #9213
<img width="496" alt="Screen Shot 2021-02-03 at 2 15 58 PM" src="https://user-images.githubusercontent.com/9889020/106797236-5b382d80-662a-11eb-8112-eade6548fdf8.png">

There should be two checkboxes here instead of a dropdown.

[2021-02-03 19:34] mabashian commented on #9175
This field is going to be replaced very soon by https://github.com/ansible/awx/issues/9189.  Stay tuned.  I'm going to close this issue in favor of 9189.

[2021-02-03 19:34] #9175 closed, assigned to nobody

[2021-02-03 19:46] mabashian commented on #9127
I'm moving this to high but I honestly can't remember how this worked in the old UI.  I don't _think_ we had some kind of "ordering" of credentials but I'd have to spin it up to confirm.

@unlikelyzero have you laid eyes on the old modal?  Does it have some help text or something that we're missing in the new UI?

[2021-02-03 19:48] unlikelyzero commented on #9127
@mabashian it was implicit and we intentionally skipped a good implementation to cover it in ui_next

[2021-02-03 19:58] mabashian commented on #9061
This issue actually goes away with our new list tables.  The old list rows had the behavior where if you clicked somewhere on the row where there wasn't a link it would check the checkbox.  Since the status on the jobs list wasn't a link, clicking it would check the checkbox.

That work is being tracked here #6189

[2021-02-03 19:58] #9061 closed, assigned to nobody

[2021-02-03 20:05] mabashian commented on #9056
@unlikelyzero I'll try to explain as best as I understand it.  @chrismeyersfsu can probably provide more color.  The basic idea is that there will be a `metrics` endpoint that the UI can periodically query.  The ask here is for us to build a single page that displays a graph.  The data used to populate that graph will come from polling that metrics endpoint on some interval.  It'll be our responsi

[2021-02-03 20:23] mabashian opened #9223 "Testing notifications should show response in a toast"
##### SUMMARY
In the old UI, when you tested a notification template we'd show the eventual response in a toast message.  IIRC the toast would be green when the test was successful and red when it failed.

See the logic here: https://github.com/ansible/tower/blob/release_3.8.2/awx/ui/client/src/notifications/notification-templates-list/list.controller.js#L150-L174

There could be some overlap with

[2021-02-03 20:28] mabashian commented on #8853
I think https://github.com/ansible/awx/issues/9223 is what we need for feature parity.  What you're describing here is a good enhancement _but_ it requires an extra request for every row on the page.  It would be really nice to be able to show a tooltip with the error in it but that value comes from `/api/v2/notifications/:id` whereas the list is populated via `/api/v2/notification_templates/:id`.

[2021-02-03 20:34] mabashian commented on #8828
_yes_

[2021-02-03 20:40] mabashian commented on #8824
@unlikelyzero this definitely sounds like two separate issues.  I'm not able to reproduce the first issue but it does sound concerning.

This part is a bit confusing to me.  Do you have concrete steps to repro?

[2021-02-03 20:43] mabashian commented on #8816
I'm fairly confident this is a dupe of https://github.com/ansible/awx/issues/8898

[2021-02-03 20:43] #8816 closed, assigned to nobody

[2021-02-03 20:49] mabashian commented on #8784
We don't show the finished field while it's running anymore so I don't think this is an issue.

<img width="1399" alt="Screen Shot 2021-02-03 at 3 47 38 PM" src="https://user-images.githubusercontent.com/9889020/106807630-5af25f00-6637-11eb-83b4-a2db06939d15.png">

[2021-02-03 20:54] mabashian commented on #8767
Users can be removed from a team like so:

![remove_user_team](https://user-images.githubusercontent.com/9889020/106808019-d94f0100-6637-11eb-908b-8b2d0a3ac1d4.gif)

so I don't think this is an issue anymore?

[2021-02-03 20:58] mabashian commented on #8767
cc @unlikelyzero i'd definitely consider this feature parity so bumping to high but let me know if I'm misunderstanding the reproducing steps because i think this can be retested/maybe closed.

[2021-02-03 21:04] mabashian commented on #8689
Confirmed this is still a thing after the loading state changes.

[2021-02-03 21:11] mabashian commented on #8610
I'm assuming the way they think this works is that they need to select hosts by clicking on them instead of creating a filter?

I think we have a few options here with varying degrees of difficulty to implement:

1) We could remove the links for this modal in particular.
2) We could change the way the links work so that they always open in a new tab (this is what I would prefer because I do think

[2021-02-03 21:13] mabashian commented on #8600
Closing in favor of #7516 (comment)

[2021-02-03 21:13] #8600 closed, assigned to nobody

[2021-02-03 21:14] mabashian commented on #8599
Since the jobs list has been converted this is no longer an issue.  Can only sort by the columns present in the form.

<img width="1426" alt="Screen Shot 2021-02-03 at 4 13 42 PM" src="https://user-images.githubusercontent.com/9889020/106810375-dacdf880-663a-11eb-9703-ea73511e77e1.png">

[2021-02-03 21:14] #8599 closed, assigned to nobody

[2021-02-03 21:27] mabashian commented on #8372
Alternatively this could go in the side nav

<img width="284" alt="Screen Shot 2021-02-03 at 4 26 01 PM" src="https://user-images.githubusercontent.com/9889020/106811609-95aac600-663c-11eb-859d-a6c3714f7e78.png">

and we wouldn't have to add anything to the top nav

[2021-02-03 21:30] mabashian commented on #7679
Repurposed this ticket to make the behavior match up with the old UI

[2021-02-03 21:32] mabashian commented on #7662
This already exists with the new tables:

<img width="1488" alt="Screen Shot 2021-02-03 at 4 31 36 PM" src="https://user-images.githubusercontent.com/9889020/106812223-59c43080-663d-11eb-811b-8deba632fef5.png">

[2021-02-03 21:34] mabashian commented on #7603
@jakemcdermott bumping this up to high as it seems like something we supported in the old UI.  If you think differently feel free to readjust.

[2021-02-03 21:36] mabashian commented on #7154
I'm not sure that I know what this comment means

[2021-02-03 21:40] mabashian commented on #5073
This is not on the api team's radar so I don't see this being implemented anytime soon.

[2021-02-03 21:42] mabashian commented on #4977
This was implemented with tables:

<img width="1391" alt="Screen Shot 2021-02-03 at 4 41 38 PM" src="https://user-images.githubusercontent.com/9889020/106813239-b7a54800-663e-11eb-891e-7fd05108f82a.png">

[2021-02-03 21:53] wenottingham commented on #9127
Yes, we didn't do anything here before and just had in the docs that you essentially you had to "add in the order you want" - if you needed to reorder, you may have needed to deselect everything and start from scratch. CC @ryanpetrello

[2021-02-03 21:54] wenottingham commented on #9127
Instance group ordering had the same issue.

[2021-02-03 22:54] djj106 opened #9226 "Inventory host search using equals rather than contains"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Searching for a host in inventory looks for an exact match rather than using contains. Searching for other things (job templates, etc) use the contains method. I'm assuming they should all be using contains to be consistent.

Url example when searching for a host in inventory:
https://awx.company.net/#/inventories/inventory/2/hosts?host.name=demo

####

[2021-02-03 23:55] gaia commented on #9144
same here while attempting an upgrade.
also failed for a new install in the same way, even though I pruned all docker CTs, removed awx/, then cloned again:

![image](https://user-images.githubusercontent.com/87547/106826562-030a2700-663c-11eb-904c-8f0c1f7396d6.png)

[2021-02-04 00:52] sean-m-sullivan commented on #9194
@natman Pulled that in, and tested it, please follow the old issue and the PR.

[2021-02-04 01:20] sean-m-sullivan commented on #8958
I believe this is covered under extra data in the tower_export module currently, here is the model for a export from a job template where I turned on and used every available prompt option. Here is my result
[code]
I made sue that the following fields are used for prompts in the workflow nodes section, and that it exported them correctly.
extra_data ( which is extra vars )
job tags
skip tags
job_t

[2021-02-04 01:45] sean-m-sullivan commented on #7010
With the advent of the tower_api lookup module, is this still a feature we want to implement, or rely on users doing the smart thing and using the lookup module to resolve things like this.

[2021-02-04 01:47] sean-m-sullivan commented on #7008
Been mulling this over as a feature for most modules, since usually they lookup existing item, we add a field for copy_from_existing, and have them give the name/id of the object in tower they want to copy and just like now we do an existing item lookup and maybe use the fields from that? we'd need to remove the id field, but it may be an elegant way of implementing this.

[2021-02-04 01:52] derekleegh opened #9228 "Inventories Variable text box does not pop out or expand"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: docker on linux
* Ansible version: 2.9.16
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

The inventory variable box does not expand anymore like it used to be.
![image](https://user-images.githubusercontent.com/32130581/106833943-568e7a80-66f9-11eb-810e-999ebeec6

[2021-02-04 02:11] jakemcdermott commented on #9228
Hi @guohaolee

This is on our radar and will be added to the new ui in an upcoming awx release.

See: https://github.com/ansible/awx/issues/8031

Thanks and happy automating.

[2021-02-04 02:11] #9228 closed, assigned to nobody

[2021-02-04 02:30] MrBones757 commented on #7662
Hello!
Appreciate the improvement!
Is the idea here is to replicate the old "Expanded" view from the old ui to ui_next?
If possible also showing credentials, and a list of labels in line with the previous ui would be awesome to see! (as shown in the mockup)
If this is not in scope for this PR, id be happy to look at adding this as a separate PR but would need some guidance / advice.

[2021-02-04 02:31] jitteryjuice opened #9229 "[ui_next][security] Plain text passwords appearing in URL address bar for SSH credentials with user input"
##### ISSUE TYPE
 - Bug Report
 - Security Bug Report

##### SUMMARY
Launching a template that requires the user entering a password and the user hitting the enter key after typing in their password (without hitting next) will close the modal popup, and provide the credential name and user password in the URL bar in plain text.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: Kuberne

[2021-02-04 02:55] jitteryjuice opened #9230 "[ui_next] Template launch prompt can only utilize one custom credential at a time"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Launching a template with custom credentials (or a template without and adding one), then selecting a secondary custom credential replaces the first. Custom credentials are showing as "cloud" credentials, despite being a different custom credential type in the credential list.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: Kubernetes
*

[2021-02-04 03:18] jakemcdermott commented on #9230
Thanks @j-shade - good find. Each custom credential type should be it's own category in the dropdown and you should be able to select at least one of each.

[2021-02-04 03:25] jakemcdermott commented on #9229
Thank you, @j-shade.

[2021-02-04 04:07] jakemcdermott commented on #9229
@j-shade

I've opened a pull request to fix this. https://github.com/ansible/awx/pull/9231

It will be fixed in the next community release of awx.

[2021-02-04 06:04] jitteryjuice commented on #9229
Perfect! thanks for the prompt reply @jakemcdermott :)

[2021-02-04 06:22] tgoehler opened #9232 "AXW Smart Inventory advanced host filter not working at GUI"
##### COMPONENT NAME
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux,
* Ansible version:  2.9.17
* Operating System: CentOS7
* Web Browser: Firefox 84.0.2

##### STEPS TO REPRODUCE
tried to create a smart inventory with advanced type  host filter like:
name__exact=localhost or name__regex=b[12]-worker

when defining the filter the host are select

[2021-02-04 06:25] tgoehler commented on #9232
**Issue Type:**
- Bug

[2021-02-04 06:27] tgoehler commented on #9232
sorry, the correct Json looks like this
{
"name": "testinventory",
"description": "",
"organization": 2,
"kind": "smart",
"host_filter": "name__regex=b[12]-worker or name__exact=localhost",
"variables": "",
"insights_credential": null
}

[2021-02-04 08:50] jheinitz opened #9233 "Unable to launch two instances of AWX on same host in parallel"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Moin!

Before upgrading my production instance of AWX, I tried to bring up a second instance of AWX on the same server to validate the upgrade process. I ran the install.yml playbook and specified a different compose directory and pgdocker directory. Finally the install.yml playbook was unable to bring up the second instance of AWX because the containe

[2021-02-04 10:11] ronik010 opened #9234 "Сhange font color or return white theme"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We are using awx 17.0.0.
Is there any way to customize the font color in the job output or return the white theme?

[2021-02-04 10:47] DanyD opened #9235 "Re-Add Description to Hosts List (17.x)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The new theme doesn't display the host description field in the table view. As we are using an internal network for managing the AWX instances the hostnames are meaningless local IPs (e.g. 192.168.x.x) (we are using no local DNS) which makes the list very unhandy. If the description is too long for some cases introducing an optional "Host Label"  wou

[2021-02-04 10:57] DanyD opened #9236 "Execute Job for Host"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
As user we have very often the case that we need to trigger a job for a specific host. This is not always the full inventory and many times a manual selection. To make this step easier I am missing two different navigation / ux scenarios:

**Lookup of hosts in "LIMIT" field**
In this case we are using the Templates and launch a template. After we sel

[2021-02-04 11:26] DanyD opened #9237 "UX - Wizard Button Order"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

![image](https://user-images.githubusercontent.com/2473614/106886068-bf6af800-66e3-11eb-83ad-9de39575f364.png)

Just a small subjective suggestion, but I felt that the order of the buttons in the Wizard is a bit strange at least compared to the typical wizard interfaces. I would suggest to place the Cancel link on the left hand side and place the ne

[2021-02-04 12:10] unlikelyzero commented on #7662
Putting this back into parity and devel so that we can track the missing fields

[2021-02-04 12:50] tiagodread commented on #8465
Yeah, we can close this issue.

[2021-02-04 12:50] #8465 closed, assigned to jlmitch5

[2021-02-04 13:23] tiagodread commented on #8724
All URLs was fixed, all e2e tests are 🟢

[2021-02-04 13:23] #8724 closed, assigned to nobody

[2021-02-04 14:28] benapetr opened #9238 "Clicking User details shows Not Found (probably missing DB update?)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After upgrading from AWX 11 to 17.0.1 it seems that there are some updates to DB schemas missing, when I click user details in top menu, it throws me to "old skin" AWX error, see screenshot

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  X.Y.Z
* Operating System: CentOS 7
* Web Browser: Firefox

#####

[2021-02-04 14:47] AlexSCorey commented on #9237
@DanyD Thanks for reaching out to us.  We always want to hear from our users. You are touching on something that we also had a conversation about but came the decision about button placement with the help of patternfly, our component library.  You can read a bit more [here](https://www.patternfly.org/v4/components/button/design-guidelines#button-placement ) and on the patternfly [blog](https://med

[2021-02-04 14:47] #9237 closed, assigned to nobody

[2021-02-04 15:43] mabashian commented on #8181
Dupe of #8906

[2021-02-04 15:43] #8181 closed, assigned to nobody

[2021-02-04 15:46] jakemcdermott commented on #9234
:wave: Hello. There isn't a way to customize the color scheme at the moment. A prerequisite for this is a user-preferences system - this is a new feature that we hope to get to in the future, and you can read about it here: https://github.com/ansible/awx/issues/278

[2021-02-04 15:46] #9234 closed, assigned to nobody

[2021-02-04 16:00] jakemcdermott commented on #9238
I agree. That said, I tried to reproduce this but was unsuccessful:

![user-link](https://user-images.githubusercontent.com/9753817/106919037-c12ebe80-66d7-11eb-9d86-4b13499f4d22.gif)

It could be a sign that the 11->17 upgrade, data migration, etc. didn't finish successfully like you say but without more information it isn't really something we can troubleshoot over github.

Have you tried the li

[2021-02-04 16:09] mabashian commented on #7914
So much has changed with launch prompting.  I tried this out by forcing an error and this is what it looks like now:

<img width="1666" alt="Screen Shot 2021-02-04 at 11 07 19 AM" src="https://user-images.githubusercontent.com/9889020/106920584-3d75d180-66d9-11eb-9753-b80d5261c953.png">

[2021-02-04 16:24] mabashian commented on #7254
Link #8249.  If the PF Wizard component supported a custom header then we could display the description under the resource name.  Alas, that component only supports a string in the title so we'd have to come up with a different solution.  The launch prompt is tricky because the first step _could_ be one of many different steps depending on whats prompted.  We could add a dedicated step for the des

[2021-02-04 16:25] nicosalvadore commented on #9176
This is also an issue for a `text` input type in a survey.
I have a minimal size of 2, and get an error when launching the template.

survey question editor
![image](https://user-images.githubusercontent.com/12870725/106923027-f2c27c80-670d-11eb-9b2d-01e4bcd2e21b.png)

error
![image](https://user-images.githubusercontent.com/12870725/106922969-e0e0d980-670d-11eb-8e8e-96b438e2c73d.png)

[2021-02-04 16:27] mabashian commented on #7230
This was addressed in #9083

<img width="1503" alt="Screen Shot 2021-02-04 at 11 27 04 AM" src="https://user-images.githubusercontent.com/9889020/106923341-f50be300-66db-11eb-8b1b-077d33fa2a7f.png">

[2021-02-04 16:28] mabashian commented on #7215
blocked by #8356

[2021-02-04 16:28] mabashian commented on #7164
Yea this has been addressed.  Closing

[2021-02-04 16:31] mabashian commented on #7156
Closing - this has been addressed

[2021-02-04 16:34] mabashian commented on #7151
We can close this.  We now have a spinner

[2021-02-04 16:34] #7151 closed, assigned to nobody

[2021-02-04 16:40] mabashian commented on #9070
Duplicate of https://github.com/ansible/awx/issues/6707.  Under the hood these scenarios are the same and when we fix it it should satisfy both scenarios.

[2021-02-04 16:40] #9070 closed, assigned to nobody

[2021-02-04 16:41] mabashian commented on #6669
Dupe of https://github.com/ansible/awx/issues/8452

[2021-02-04 16:42] #6669 closed, assigned to nobody

[2021-02-04 16:42] mabashian commented on #6507
We can close this

[2021-02-04 16:42] #6507 closed, assigned to nobody

[2021-02-04 16:47] mabashian commented on #6302
Just checked this out in tables:

<img width="1516" alt="Screen Shot 2021-02-04 at 11 44 28 AM" src="https://user-images.githubusercontent.com/9889020/106925964-985df780-66de-11eb-81db-ec0d47ebf1ba.png">

There doesn't seem to be any word breaking so you can make the table really wide requiring horizontal scrolling.

I think this still needs to remain open

[2021-02-04 17:24] amulheirn commented on #8991
I'd just like to add my support to this idea - I've got 500 firewalls to manage, pushing configurations out to bunches of them using AWX.  I could really use the ability to display extra information in the job list page - in my case, seeing what 'limit' had been applied would be very useful, rather than clicking into each job to see if I picked the right one.

In AWX 15 (which I upgrade from to 17

[2021-02-04 17:24] trahman73 commented on #7254
@mabashian We can redesign the mockup to not pass the title in the header, but add it as the 1st item in the body details as "Name" if that helps.

[2021-02-04 18:12] sean-m-sullivan commented on #8604
Note for myself as looking at this. Instance group should be part of
tower_inventory
tower_organization
tower_job_template

[2021-02-04 19:41] wenottingham commented on #9236
This is https://github.com/ansible/awx/issues/1179, closing as duplicate

[2021-02-04 19:41] #9236 closed, assigned to nobody

[2021-02-04 20:03] wenottingham commented on #9233
The docker-compose installer is being removed. See https://github.com/ansible/awx/issues/9125 and https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/1-Jh0fy3AgAJ.

Because  of that, this isn't something we'll work on.

[2021-02-04 20:03] #9233 closed, assigned to nobody

[2021-02-04 20:17] nixocio commented on #7156
@mabashian, Thanks for looking those issues with `TODO` I will send a PR to remove the `TODO` from the code basis.

[2021-02-04 20:33] jmhbnz commented on #8798
Microsoft Teams also rejects the default webhook notification test payload with a 400 error so it would be great if the test notification function could perhaps attempt to send one or all of the custom message payloads defined.

[2021-02-04 21:52] lcarangelo opened #9241 "Limits are not applied in templates of a workflow"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

https://docs.ansible.com/ansible-tower/latest/html/userguide/workflow_templates.html
PARAGRAPH 7
If a job template used in the workflow has Prompt on Launch selected for any of its parameters, a Prompt button appears, allowing you to change those values at the node level. Use the wizard to change the value(s) in each of the tabs and click Confirm in t

[2021-02-04 22:39] nicosalvadore commented on #7666
Totally interested by this too.

[2021-02-05 00:16] MrBones757 commented on #9238
I saw this issue with my user account sourced from LDAP/AD in the instance i have access to after the 17.0.1 upgrade when navigating from a job history details page and clicking on the launch user (We upgraded 14.1.0 -> 15.0.1 -> 16.0.0 -> 17.0.1 on kubernetes) however i saw this issue only once and it seems to have resolve its self. I have not been able to replicate this issue again (perhaps it f

[2021-02-05 05:22] chendelin1982 commented on #8455
I have solved this problem by add a line `unixsocketperm 750` at redis.conf
[code]

[2021-02-05 06:49] janviudapi opened #9242 "No Job output on any Template launch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Any template/job I launch there is no output on newly deployed Ansible AWX

There is no job output in http://<awx>/#/jobs/playbook/<job_id>/output
Empty job events in https://<awx>/api/v2/jobs/<job_id>/job_events/

##### ENVIRONMENT
AWX version: 17.0.1
AWX install method: Docker containers
Ansible version: 2.9.17
Operating System: Ubuntu 20
Web Browse

[2021-02-05 07:31] MrBones757 commented on #9218
@j-shade and I attempted to have a look at this issue today locally, but our lack of react experience wasn't particularly helpful and we didn't get very far.

[2021-02-05 08:58] DanyD commented on #9242
As a hotfix I figured out you can switch to the details tab and back to output which forces a reload and then shows the log. Seems to be a JS issue not triggering a periodic update.

[2021-02-05 09:08] uejo commented on #9238
same issue here,
migrated from 14 -> 17.0.1
when i click on user details, i get directed to localhost/users/5/details
to correctly display the user details i can manually enter localhost/#/users/5/details.

[2021-02-05 11:00] dimovstanimir commented on #9242
The same issue here. There is no update in the template output until the playbook has finished. I only get updates if I refresh manually the page in the browser by hitting F5 every 1-2 seconds or I wait till the template has finished and it dumps all the information regarding the status of the template execution at once.

My configuration is the same as the poster of this bug:

AWX version: 17.0.1

[2021-02-05 11:11] dimovstanimir commented on #8994
Guys the same issue is also present in AMX version 17.0.1.

Just wanted to let you know that.

There are even other issue opened related to the newest release - check here https://github.com/ansible/awx/issues/9242 .

[2021-02-05 12:46] janviudapi commented on #9242
Jut to update, I tried with your fix but still there Output window is **Empty** #9242

[2021-02-05 14:05] fatimazahrae2104 opened #9243 "Unable to make custom update on my playbook (sudo rights)"
Hi,

I Installed AWX on my Openshift Cluster, and it works fine with the project suggested on https://github.com/ansible/ansible-tower-samples, but when I tried to make a simple modification on the playbook as mentioned bellow, I got this message error.

  "module_stdout": "",
  "module_stderr": "Password: su: Authentication failure\n",
  "msg": "MODULE FAILURE\nSee stdout/stderr for the exact err

[2021-02-05 14:37] lcondliffe commented on #2271
+1

[2021-02-05 14:37] akus062381 opened #9244 "Instance Group Details View: Credential name box responsivity needs fixing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Details screen credentials box wanders off the right side of the screen when window is downsized.

##### STEPS TO REPRODUCE

Navigate to Instance Groups.
Click on one of the groups to view.
Click on Details.
Slowly shrink screen.

##### EXPECTED RESULTS

All elements on screen would resize appropriately and keep  the design proportions in tact.

#####

[2021-02-05 14:39] weiminmei opened #9245 "Possible bug when job fails in tower with syntax error, no notification is generated"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

A job shows failed in AWX, but no notification was received for its failure.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: awx-rpm
* Ansible version:  2.9.6
* Operating System: CENTOS7
* Web Browser: CHROME

##### STEPS TO REPRODUCE

Scheduled job runs, notification of job start is received.
Job fails due to syntax error as indicated

[2021-02-05 14:58] akus062381 opened #9246 "Navigating back from the job template launch page from the Job Launch Details page will result in critical failure"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When navigating to container group description by going through the details page of a job template, and then clicking the back button, the app has a critical error only visible in development and not production.

##### STEPS TO REPRODUCE

Click on the Templates menu button on left side of screen.
Navigate to the third screen of job template options.
Fi

[2021-02-05 15:10] hjkatz opened #9247 "Allow Instance Groups to be attached to Projects"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

According to the [instance group docs](https://docs.ansible.com/ansible-tower/3.8.1/html/administration/external_execution_envs.html#instance-groups) an Instance Group can be assigned to the following:
* Job Template
* Inventory
* Organization (by way of Project)

What's up with that last one? Why can't we attach Instance Groups directly to Projects

[2021-02-05 17:59] jacobwoffenden opened #9248 "Unable to Clone SCM on Kubernetes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Initial source control update fails

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: Kubernetes
* Ansible version:  2.9.16
* Operating System: n/a
* Web Browser: n/a

##### STEPS TO REPRODUCE

Deploy AWX 17.0.0 to Kubernetes with `task_security_context_privileged: 'false'`
Configure SCM redential
Configure git project

##### EXPECTED RESU

[2021-02-05 18:08] wenottingham commented on #9243
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

You look like you're trying to install RPMs inside the task container where the playbook is running - why would you want to do that?
In any case, if you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!fo

[2021-02-05 18:08] #9243 closed, assigned to nobody

[2021-02-05 18:12] jacobwoffenden commented on #9248
Looks like a duplicate of https://github.com/ansible/awx/issues/5224. Unfortunately I am unable to run privileged containers

[2021-02-05 18:20] wenottingham commented on #9248
Yes, it is. We're getting past that soon, but not in 17.x. Closing as a duplicate.

[2021-02-05 18:20] #9248 closed, assigned to nobody

[2021-02-05 18:27] wenottingham commented on #9245
Hi -

AWX 11.2 is very old. We've fixed multiple issues surrounding notifications since then, including https://github.com/ansible/awx/pull/8403 and https://github.com/ansible/awx/pull/8221.

Can you try with a recent version (17.x) and let us know if this is solved there?

[2021-02-05 18:35] jacobwoffenden commented on #9248
Thanks, @wenottingham. Have implemented https://github.com/ansible/awx/issues/7916#issuecomment-676564985 for now.

[2021-02-05 18:36] wenottingham commented on #9247
Yes, that makes sense. But as we're moving the content/plugins/python/etc to execution environments, that's what we'd want to potentially attach to a project, not an instance group.

Closing this, as this will be solved at the EE layer, not the IG layer.

[2021-02-05 18:36] #9247 closed, assigned to nobody

[2021-02-05 18:40] hjkatz commented on #9247
@wenottingham What do you mean by "execution environments"? For the case of Instance Groups we're using Container Groups. Perhaps I'm reading the wrong documentation, could you point me in the correct direction?

[2021-02-05 18:41] fatimazahrae2104 commented on #9243
Hi @wenottingham, I already successfully installed AWX, but Actually my problem is in the usage of AWX on Openshift cluster not in the installation.

Normally the AWX Interface comes by default with a template created "Demo Job Template" which uses a project from https://github.com/ansible/ansible-tower-samples, this project contain a very basic playbook which runs successfully without any problem

[2021-02-05 18:57] wenottingham commented on #9247
See https://github.com/ansible/awx/issues/5157 - all execution is moving to containerized execution in what are called 'execution environments' (ansible + collections).

As a side effect of that overall move, we'll have a new iteration of container groups that is enhanced to run with an aribitrary execution environment (and not require the definition on the container group).

[2021-02-05 18:59] hjkatz commented on #9247
Beautiful, thank you! I look forward to that feature :)

[2021-02-05 20:35] cnukwas opened #9249 "Typo in postgresql template for docker hub hosted docker image"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Postgresql pod deployment has been failing with Image pull errors with 17.0.1 AWX.

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method: Kubernetes
* Ansible version:  2.9.15
* Operating System: RHEL
* Web Browser: N/A

##### STEPS TO REPRODUCE

clone latest AWX Git repo and try to run playbook with docker hub hosted images for AWX and Postgre

[2021-02-05 20:45] jakemcdermott commented on #9242
:wave: hello

Thanks for creating this issue.

The job output update bug you described is caused by a combination of https://github.com/ansible/awx/issues/8596 and possibly https://github.com/ansible/awx/issues/9085.

We'll have a fix for it in the upcoming awx release: https://github.com/ansible/awx/pull/9208#issuecomment-773754460

I'm closing this issue for now - we're tracking the work for thi

[2021-02-05 20:46] jakemcdermott commented on #9242
The ETA is: When it's done.

[2021-02-05 20:46] #9242 closed, assigned to nobody

[2021-02-05 21:15] ProfileAdmin commented on #9214
Thank You!

[2021-02-05 21:36] nixocio opened #9250 "User should not modify EE managed by tower"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
User should not modify EE managed by tower

[2021-02-05 21:57] Platou commented on #1999
Same feature request here

[2021-02-06 04:07] artainis commented on #9043
As a neat hack/workaround, you can edit the html source in the current page to add an option or edit an existing option for the file that's not listed. This worked for me and I didn't have to roll back!
![image](https://user-images.githubusercontent.com/12302696/107108545-6774e400-67fe-11eb-8dfb-2aa1f4012271.png)

[2021-02-06 14:24] unlikelyzero commented on #9238
Hey all, this is a duplicate of https://github.com/ansible/awx/issues/8998 which was not included in the 17.0.1 release. Please stay on the lookout for the next release of awx!

[2021-02-06 14:24] #9238 closed, assigned to nobody

[2021-02-06 15:16] unlikelyzero opened #9252 "[ui_next] Custom Credential Types do not appear on Credentials List Page"

[2021-02-06 15:16] unlikelyzero commented on #9252
I'm not 100% sure if this is a regression. It's possible that this never worked

[2021-02-06 19:02] nixocio commented on #9252
I think it is a regression. I will take a look.

[2021-02-06 21:07] #9252 closed, assigned to nobody

[2021-02-06 21:08] unlikelyzero commented on #9252
I had two instances up. User error

[2021-02-07 00:43] EStork09 opened #9253 "Run Inventory Sync Jobs on Instance/Container Groups"
##### ISSUE TYPE
 - Ability to run Inventory Sync jobs for Inventory Sources on Instance or Container Groups

##### SUMMARY
Currently today when you run an inventory sync job despite having an instance group selected the job will always run on the tower awx-task container. If there is an instance group or container group in the environment, you cannot use that to pull the inventory source, resulti

[2021-02-07 14:33] lcarangelo commented on #7050
Did you fix it ?

[2021-02-07 18:06] dertom opened #9254 "Relax client-side email validation rules"
I want to setup the email address awx@ser02.anti.design for notification, but awx said "invalid email address".

[2021-02-07 19:36] guliaka commented on #7050
Problem fixed in tag 17.0.1. Problem was that in CentOS 8 repo "PowerTools" was renamed to "powertools". As result build process could not enable that repo and fails installing dependencies.

[2021-02-07 19:40] #7050 closed, assigned to nobody

[2021-02-07 19:41] guliaka commented on #7050
Fixed in tag 17.0.1, maybe earlier but I did not test.

[2021-02-07 23:30] unlikelyzero commented on #9232
@jakemcdermott I'm going to attach this to our Advanced Search Meta Issue https://github.com/ansible/awx/issues/8480

[2021-02-07 23:43] unlikelyzero commented on #8610
@mabashian number 2 should use the popout link

[2021-02-07 23:44] unlikelyzero commented on #8767
@mabashian let's sync on this when you have a chance

[2021-02-08 00:16] MrBones757 commented on #9176
i can confirm that i am seeing this issue also.

[2021-02-08 05:17] nifr commented on #9165
This issue might be caused by the [`openstack.cloud.openstack`](https://docs.ansible.com/ansible/latest/collections/openstack/cloud/openstack_inventory.html#ansible-collections-openstack-cloud-openstack-inventory) inventory plugin itself - not awx.

Can you reproduce the issue (locally) with the  `ansible-inventory` command?

Procedure would be somewhat as follows (untested).

* Create an openstac

[2021-02-08 06:56] gruselglatz opened #9255 "Logging to Elasticsearch produces Mapping error"
##### ISSUE TYPE
 - Logging

##### SUMMARY
When using the Logstash output or other output some messages cant be indexed because of this error:

`mapping for [event_data.res.diff.before] tried to parse field [before] as object, but found a concrete value`

I think its because when nothing changes it doesn't send null, but an empty string. --> see example

##### ENVIRONMENT
* AWX version: 17.0.1

##

[2021-02-08 17:13] tgoehler opened #9256 "applying group_vars by group_by"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
not sure if its a bug or conceptual change when migration a working Ansible CLI project into AWX.

I have a project pulled from a git source.
Usually for applying group vars I put the host into a group depending on certain host charcteristics or host_vars.
I.e. the host name has a certain pattern or os type or a certain var set in its individual host_v

[2021-02-08 18:29] ryanpetrello commented on #9254
Hey @dertom,

Can you update or refile this issue with the details requested in the New Issue template (including awx version, etc)?

https://github.com/ansible/awx/issues/new?assignees=&labels=&template=bug_report.md

[2021-02-08 18:39] jladdjr opened #9257 "[db_partitioning] implementing bigint-style migration"
Current migration is a simple / naive `insert` that dumps all rows. Want to handle this instead the same way that we did here:

https://github.com/ansible/awx/blob/devel/awx/main/migrations/0113_v370_event_bigint.py

[2021-02-08 18:41] jladdjr opened #9258 "[db_partitioning] partition _all_ tables, not just main_jobevent"
Take the pattern developed for main_jobevent and apply it to the other jobevent tables

[2021-02-08 18:43] wenottingham commented on #9253
See https://github.com/ansible/awx/issues/9247#issuecomment-774224343 ; this is in the process of changing, and the instance group isn't quite the right model here.

[2021-02-08 18:45] jladdjr opened #9259 "[db_partitioning] adapt job runs to use new partitioned tables"
In order to create partitions, the job_event tables will need to have a new, denormalized column. Update job runs to ensure that when we're saving events, our saves / inserts take the new column into account.

[2021-02-08 18:47] jladdjr opened #9260 "[db_partitioning] adapt job clean-up system job to drop partitions"
Instead of dropping rows, we should clean-up jobs by dropping partitions.

[2021-02-08 19:07] jladdjr opened #9261 "[db_partitioning] perfscale testing"

[2021-02-08 19:08] #9261 closed, assigned to nobody

[2021-02-08 19:10] mabashian commented on #9226
Yea, it should be `__icontains` by default to match the UX of the other lists.

[2021-02-08 19:15] akus062381 commented on #9122
We have implemented the activity stream page but not the activity stream settings

[2021-02-08 19:20] akus062381 commented on #8915
The test PR has not merged, here is the link
https://github.com/ansible/tower-qa/pull/5905

[2021-02-08 19:21] akus062381 commented on #8906
waiting on implementation
https://github.com/ansible/awx/issues/8905

[2021-02-08 19:24] akus062381 commented on #8848
Still in needs test status

[2021-02-08 19:26] akus062381 commented on #8789
a stub needs to be added

[2021-02-08 19:31] akus062381 commented on #8767
https://github.com/ansible/tower-qa/blob/6cccd957dbc744dd7a13ab9a12728eb959fecf11/ui-tests/awx-pf-tests/cypress/integration/teams/team-operations.spec.js#L52

We have coverage.

[2021-02-08 19:31] #8767 closed, assigned to nobody

[2021-02-08 19:36] akus062381 commented on #8355
QE needs to add coverage here.

[2021-02-08 19:37] akus062381 commented on #8297
QE to add custom logo test

[2021-02-08 19:39] akus062381 commented on #8295
covered by https://github.com/ansible/tower-qa/pull/5890

[2021-02-08 19:39] #8295 closed, assigned to marshmalien

[2021-02-08 19:40] jladdjr commented on #9259
I _thought_ that what I was doing [here](https://github.com/jladdjr/awx/blob/1ed34380bb4c1e7354e0431a3371be789d04a08a/awx/main/migrations/0124_event_partitions.py#L43) would work, but after doing the raw sql update to add a new column, Django is left in the dark about the new column's existence.

![image](https://user-images.githubusercontent.com/4440360/107272193-31a04d00-6a02-11eb-9019-d851a4520

[2021-02-08 19:44] akus062381 commented on #8244
related to isolated nodes, which are being removed
see this link: https://github.com/ansible/tower-qa/pull/5957

[2021-02-08 19:44] #8244 closed, assigned to nixocio

[2021-02-08 19:49] akus062381 commented on #8200
coverage added in
https://github.com/ansible/tower-qa/pull/5871

[2021-02-08 19:49] #8200 closed, assigned to nobody

[2021-02-08 19:52] akus062381 commented on #8130
Still in development

[2021-02-08 19:54] akus062381 commented on #8031
still waiting for development

[2021-02-08 19:58] akus062381 commented on #7835
We have test coverage with the exception of what is contained in the following link

https://github.com/ansible/awx/issues/9127

[2021-02-08 19:58] #7835 closed, assigned to mabashian, unlikelyzero

[2021-02-08 20:09] blomquisg commented on #9255
@tchellomello just pinging you into this issue

[2021-02-08 20:11] blomquisg commented on #9253
@shanemcd do we already have a plan for this in our Execution Environment model?

[2021-02-08 20:12] blomquisg commented on #9249
@Spredzy can you take a look at this?

[2021-02-08 20:14] shanemcd commented on #9253
Yes, under the new model, Inventory Syncs will no longer happen on the control plane. They will effectively behave the way that's described here.

[2021-02-08 20:17] tchellomello commented on #9254
@ryanpetrello  It happens on AWX 17.0.1

![image](https://user-images.githubusercontent.com/809840/107276160-a2566200-6a20-11eb-9737-c18cac765e00.png)

[2021-02-08 20:17] blomquisg commented on #9211
Good issue for a spike for someone to deep dive on the scheduler

[2021-02-08 20:19] blomquisg commented on #9200
@john-westcott-iv I think you've seen this type of issue before.  Can you give some feedback here, or point to another issue where you've talked about this?

[2021-02-08 20:25] tchellomello commented on #9249
It seems the image has been uploaded 18hrs ago.

![image](https://user-images.githubusercontent.com/809840/107276924-b3ec3980-6a21-11eb-9701-296618e54968.png)

[code]

@cnukwas can you please try it again and report the results?  Thanks

[2021-02-08 20:25] john-westcott-iv commented on #9200
In this case we have a legitimate bug. We have a default of '' on the field (there are a couple) and later we are checking to see if the field is not pythons `None`. This will never be the case because we gave a default of ''. So, if you don't specify limit (or one of the other fields) the module will kindly set the limit as '' instead of leaving it alone.

[2021-02-08 20:27] blomquisg commented on #9117
Reopen if that didn't fix your issue.

[2021-02-08 20:27] #9117 closed, assigned to nobody

[2021-02-08 20:28] #9101 closed, assigned to nobody

[2021-02-08 20:47] jladdjr commented on #9257
The bigint style migration uses [FakeAlterField](https://github.com/jladdjr/awx/blob/db_partition/awx/main/migrations/0113_v370_event_bigint.py#L93) which allows us to:
* use raw sql to make changes
* while still letting django know about the model changes

That is clever.

[2021-02-08 20:51] ryanpetrello commented on #9257
<img src="https://www.reactiongifs.us/wp-content/uploads/2013/03/oh_i_get_it_fight_club.gif">

[2021-02-08 20:53] jladdjr commented on #9257
oh, gosh, now I'm going to have to rewatch that

[2021-02-08 20:56] jladdjr commented on #9257
This just in from @jbradberry:
https://django-postgres-extra.readthedocs.io/en/master/table_partitioning.html#table-partitioning

Digesting that now.

[2021-02-08 20:59] ryanpetrello commented on #9257
Hey, that's a great find!

[2021-02-08 21:00] jladdjr commented on #9257
yeah, seriously, this could be a game-changer

[2021-02-08 21:03] ryanpetrello commented on #9257
I think my biggest question is what migration from a normal table to partitions *looks like* with this (just to make sure it's not slow/imperformant for our scale).

[2021-02-08 21:04] jladdjr commented on #9257
right, was just wondering the same thing. the example seems to create something from scratch, haven't seen a migration to something partitioned

[2021-02-08 21:06] jladdjr commented on #9257
@jbradberry also just pointed out that this is a 3rd party library. In response, I asked him how "wild west-y" 3rd party django libs can be. Trying to dig into that a bit.

https://github.com/SectorLabs/django-postgres-extra

![image](https://user-images.githubusercontent.com/4440360/107281462-8fd32d00-6a0e-11eb-94d0-581a30914bfb.png)

What has our experience with 3rd party django libs been like t

[2021-02-08 21:19] jladdjr commented on #9257
Having read through django-postgres-extra's overview, I'm wondering if it's worth adopting this 3rd party library. They mention "an experimental helper class that can be called periodically to automatically create new partitions". If this weren't experimental and we could outsource partition creation to something stable I think I'd be more sold on this. As it stands, though, while I was reading th

[2021-02-08 21:25] jladdjr commented on #9259
yep, I need this:
https://github.com/jladdjr/awx/blob/db_partition/awx/main/migrations/0113_v370_event_bigint.py#L77-L82

[2021-02-08 21:33] tiagodread commented on #7040
covered by https://github.com/ansible/tower-qa/pull/5956

[2021-02-08 21:33] #7040 closed, assigned to marshmalien

[2021-02-08 21:51] jladdjr commented on #9259
think we want something like this:

![image](https://user-images.githubusercontent.com/4440360/107285895-a8464600-6a14-11eb-8c9c-fcf99c4695d3.png)

Using FakeAdd instead of FakeAlter. Tweaked the model's args to what I think should be the appropriate values.

[2021-02-08 21:52] jladdjr commented on #9259
This tells Django about the field's existence, but doesn't actually insert the job_created value when we're defining events. That will be the next thing to figure out if this works.

[2021-02-08 22:47] jladdjr commented on #9259
reverting awx to test changes - rough notes:

![image](https://user-images.githubusercontent.com/4440360/107291143-8bae0c00-6a1c-11eb-914f-cdd27396a7ab.png)

---

.. as [script](https://gist.github.com/jladdjr/f0a842a7e24ac63cda87f461a8f13fae)

[2021-02-08 22:51] mdinwoodie opened #9266 "[RFE] Display security-related login details upon successful login"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Upon successful login, display a message of the last successful login and the number of unsuccessful login attempts to use the account. The purpose of this message is to warn the user of potential or unauthorized access to their account.

[2021-02-08 23:05] jladdjr commented on #9259
Looks like after doing a partition I can still see events from an old job:

![image](https://user-images.githubusercontent.com/4440360/107292541-e21c4a00-6a1e-11eb-9091-25291bff6a53.png)

![image](https://user-images.githubusercontent.com/4440360/107292623-02e49f80-6a1f-11eb-9f24-792465d7ba16.png)

Still need to update other job things, I'm sure, but that's nice to see

[2021-02-08 23:08] jladdjr commented on #9259
Ran a regular job, fails so save events because of our new column:

![image](https://user-images.githubusercontent.com/4440360/107292895-7090cb80-6a1f-11eb-979d-ebf78836a839.png)

`psycopg2.errors.NotNullViolation: null value in column "id" violates not-null constraint`.

Not surprising, time to fix this.

[2021-02-08 23:37] jladdjr commented on #9259
minor changes pushed earlier to get new main_jobevent column registered with Django. One key thing that I verified here is that [by default model fields are not allowed to be null](https://docs.djangoproject.com/en/3.1/ref/models/fields/#blank), which will be important with the column that we're keying off of to determine which partition a given row belongs to:

https://github.com/jladdjr/awx/comm

[2021-02-09 01:11] jladdjr commented on #9259
have been poking around [CallbackBrokerWorker -> perform_work()](https://github.com/jladdjr/awx/blob/db_partition/awx/main/dispatch/worker/callback.py#L128):

* .. running sdb to better understand how events are created and saved
* .. seeing how we can access the associated unified job
* .. thinking about how we could look up the UJ's creation date and cache it (to avoid adding 1 DB lookup per eve

[2021-02-09 02:37] mattthehearn opened #9267 "Inventory source "Custom Script" has no source detail fields"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When I try to add a source to an inventory, I want to try and create a custom script to replace the Dynamic Inventory Scripts that seem to no longer be supported.  However, when I select "Custom Script" in the dropdown, it offers no fields under "Source Detail", and can't be saved.

##### ENVIRONMENT
* AWX version: 17.0.1

[2021-02-09 05:28] sbenita commented on #9211
We currently changed the code to use random choice, it solved the issue for us.
It should be different solution, utilizing the capacity of each node.

[2021-02-09 06:02] jladdjr commented on #9259
Continuing to poke around. After making some test changes to set a dummy date for `job_created`, I'm getting:
![image](https://user-images.githubusercontent.com/4440360/107322459-5f64b080-6a59-11eb-8855-0b9889bda1f7.png)

.. so I think I broke an index for id.

[2021-02-09 06:14] jladdjr commented on #9259
Things _seem_ okay..

![image](https://user-images.githubusercontent.com/4440360/107323365-fc741900-6a5a-11eb-855d-a13af49e4561.png)

nope, I think I dropped the sequence somehow:
![image](https://user-images.githubusercontent.com/4440360/107323801-c6836480-6a5b-11eb-88b8-98b97f311a82.png)

[2021-02-09 06:25] jladdjr commented on #9259
Got it - when copying the table I needed to _at least_ use `INCLUDING DEFAULTS` (setting the next value of a column using a sequence is a kind of default, apparently, which makes sense). I say 'at least' because now I'm seeing that I didn't use `INCLUDING ALL` which is [what the bigint migration did](https://github.com/jladdjr/awx/blob/db_partition/awx/main/migrations/0113_v370_event_bigint.py#L34

[2021-02-09 06:28] jladdjr commented on #9259
[Pushed](https://github.com/jladdjr/awx/commit/011c7dcd206366a80d1cdeb7728f698842de1ca3). Turning the crank (resetting the db) to see if that fixed things.

[2021-02-09 06:35] jladdjr commented on #9259
![image](https://user-images.githubusercontent.com/4440360/107324967-cab08180-6a5d-11eb-9fd8-266f46057faf.png)

![image](https://user-images.githubusercontent.com/4440360/107324998-d603ad00-6a5d-11eb-89f7-67116ef362df.png)

Constraint violated. Seems like bringing in main_jobevent's metadata and trying to create a partitioned table at the same time crossed the streams. Need to find out why.

This

[2021-02-09 06:52] jladdjr commented on #9259
https://www.postgresql.org/docs/current/ddl-partitioning.html provides some background on what's happening here (under the Limitations section):

![image](https://user-images.githubusercontent.com/4440360/107325901-6989ad80-6a5f-11eb-99b7-c618c593e9e2.png)

looking at the original (pre-partioning) schema for main_jobevent (from a pg_dump):

![image](https://user-images.githubusercontent.com/444036

[2021-02-09 07:01] dertom commented on #9254
##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.17

I hope thats anything you need. Thank you!

[2021-02-09 10:05] ntlartey opened #9269 "What happened to the forks/cpu slider tool in Instance Group->Tower->Instances ?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

The forks/cpu slider seems to be missing in the 17.0.x UI as compared to 15.x or earlier.
Is this intentional or a job still to be done?

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: openshift OCP3.x
* Ansible version:  2.9.17
* Operating System: centos 8
* Web Browser: chrome

##### STEPS TO REPRODUCE

B

[2021-02-09 10:09] ntlartey commented on #9269
![forkcpuslider](https://user-images.githubusercontent.com/6302910/107348348-2ebb6000-6ac7-11eb-8bda-b7fb58d12c23.png)
![missing slider](https://user-images.githubusercontent.com/6302910/107348385-3844c800-6ac7-11eb-8cf8-47c489825a52.png)

[2021-02-09 11:47] ghost opened #9270 "Multi select in credential form not showing all credential types"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When having 5 or more custom credential types there is a second credential type page that doesn't get called when calling the api. The current credential form only seems to work correctly when there is one page. When trying to edit a credential with a credential type on the second page this creates a exception and the webpage goes blank.

##### ENVIRON

[2021-02-09 12:11] tonyhogsten commented on #9267
Have the same issue. We have installed AWX the same way as described above.

[2021-02-09 12:29] bdoublet91 commented on #9165
HI,

Thanks for your answer.

I did your test. Created clouds.yml and openstack.yml

[code]

Install openstack.cloud.openstack with ansible galaxy and openstacksdk with pip3
[code]

[code]

clouds_yaml_path should be a list: https://github.com/ansible/ansible/issues/59442
[code]

 Expecting to find domain in user.
 The server could not comply with the request since it is either malformed or otherw

[2021-02-09 13:04] fvzwieten opened #9271 "Accept vars in requirements.yml"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This has already been discussed in an issue for the ansible project. See https://github.com/ansible/ansible/issues/44374
Although that issue is closed, the larger issue is still open and in need for a good solution. AFAICT Galaxy / Automation Hub doesn't provide for this.

user-story:
As a company, i want to use a separate gitlab repo to store all my

[2021-02-09 13:31] DanyD commented on #9236
I would suggest to keep the "Start a job coming from the host list"as a separate issue as this reflects a slightly different use case. What do you think?

[2021-02-09 13:40] USUTL opened #9272 "AWX 17.0.1 Create new schedule missing promt button for surveys"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The "promt"-button is missing in "Create New Schedule" window, so it's not possible to answer survey questions.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.17
* Operating System: CentOS 7
* Web Browser: Firefox, Chrome

##### STEPS TO REPRODUCE

1. Add a survey to a job template with at least o

[2021-02-09 14:46] jakemcdermott commented on #9087
Addressed in this PR: https://github.com/ansible/awx/pull/9179 via https://github.com/ansible/awx/pull/9179/commits/7d7a1e5095652e928f91eb5fe418db38f8ce304c

[2021-02-09 14:48] ghost commented on #9218
I am also seeing this issue on 17.0.0 either by paging through credentials in wizard or doing a search.  Sometimes if you paginate slowly (i have more than 2 pages of credentials), it does not close.

[2021-02-09 15:01] AlexSCorey commented on #9270
@arnecovensarx check out this PR to solve the issue https://github.com/ansible/awx/pull/9116

[2021-02-09 15:02] #9270 closed, assigned to nobody

[2021-02-09 15:07] ghost opened #9273 "Missing symlinks to /usr/bin for awx-manage"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: devel
* AWX install method: docker on linux
* Ansible version:  2.10
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Running migrations in task container fails citing awx-manage not found

##### EXPECTED RESULTS

Migrations to complete successfully

##### ACTUAL RESULTS

`fatal: [localhost]:

[2021-02-09 15:11] ghost commented on #9273
CC @shanemcd, I have a PR for the same, could you review it please, https://github.com/ansible/awx/pull/9274

[2021-02-09 15:15] mabashian commented on #9272
This is being implemented now.  See #7692 and #9210

[2021-02-09 15:15] #9272 closed, assigned to nobody

[2021-02-09 15:19] ryanpetrello commented on #9273
Thanks for the PR @constreference!

[2021-02-09 15:19] #9273 closed, assigned to nobody

[2021-02-09 15:21] AlexSCorey commented on #9269
@ntlartey thanks for reach out to use. The good news is that the slider is coming but we were trying to wait for patternfly to release a stable version (https://www.patternfly.org/v4/components/slider).  Follow #7777  for this work.

[2021-02-09 15:21] #9269 closed, assigned to nobody

[2021-02-09 15:32] ryanpetrello commented on #9257
Yea, I have the same read.  I'd recommend getting something basic implemented w/ SQL before involving additional third-party Django plugins. If we want to refactor or improve our approach later, we can.

[2021-02-09 16:33] cnukwas commented on #9249
Sorry, I didn't make it clear above, I was referring to postgres images hosted [here](https://hub.docker.com/_/postgres) not the [bitnami](https://hub.docker.com/r/bitnami/postgresql) images.

The inventory entry refers to below, not the bitnami image.

`pg_image_registry=docker.io`

[code]

[2021-02-09 16:35] mdinwoodie opened #9276 "[RFE] Load balance jobs for multiple instance groups"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Ansible Tower calculates job distribution based on isolated nodes' capacity and dispatches jobs among isolated nodes, but does not dispatch jobs equally among 'instance groups". This RFE is to have load balancing which could be configured equally among instances groups.

For example 25% for 4 instances groups (instance group A, B, C, D)
Or manually c

[2021-02-09 20:25] ghost commented on #7362
+1 on this, definitely needed

[2021-02-09 21:13] wenottingham commented on #9276
Instance groups are defined to have 'spill-over' behavior. This is not currently configurable.

[2021-02-09 21:14] wenottingham commented on #9271
If it's not being done in ansible-galaxy, it's not being done here. Sorry.

[2021-02-09 21:14] #9271 closed, assigned to nobody

[2021-02-09 21:15] wenottingham commented on #9266
Last login is shown on the user's screen (and is therefore available to admins to see that for any user).

Unsuccessful logins are not tracked beyond being logged, and I don't know that we'd do that.

[2021-02-09 21:20] fvzwieten commented on #9271
So how would users of awx solve this, then?

[2021-02-09 22:20] wenottingham commented on #9271
awx only calls ansible-galaxy, and does not attempt to read or otherwise interpret the requirements file in any way other than "it's present". That is unlikely to ever change.

If you want a particular branch of content assembled and used for execution, that is planned to be solved with execution environments. See https://github.com/ansible/awx/issues/5157

[2021-02-09 22:25] mrmibrown opened #9280 "Add free strategy support to the builtin add_host module"
This is a request to add free strategy support to the builtin add_host module

##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When the add_host module is used in free mode the following error is received:
"ERROR! The 'add_host' module bypasses the host loop, which is currently not supported in the free strategy and would instead execute for every host in the inventory list."

##### Playbook used:

[2021-02-09 22:40] wenottingham commented on #9280
This needs to go in https://github.com/ansible/ansible - this isn't done in AWX.

[2021-02-09 22:40] #9280 closed, assigned to nobody

[2021-02-09 23:18] jladdjr commented on #9259
where were we? that's right, I broke an index, let's see about that

[2021-02-09 23:47] jladdjr commented on #9259
https://www.postgresql.org/docs/current/sql-createtable.html

![image](https://user-images.githubusercontent.com/4440360/107441912-f594e700-6aea-11eb-87de-96efade60b65.png)

[2021-02-09 23:54] jladdjr commented on #9259
I think this is the key (no pun intended):
* Because postgres can't enforce uniqueness for an entire partitioned table
* .. but instead can only enforce this inside of each partition
* .. any existing unique constraints that we had (which would include `primary key`, since [`primary key => unique not rull`](https://www.postgresql.org/docs/12/ddl-constraints.html#DDL-CONSTRAINTS-PRIMARY-KEYS)) _hav

[2021-02-10 00:49] jladdjr commented on #9259
Seems like maybe I only need to worry about the PRIMARY KEY constraint for `id`. Giving this a shot:

* copy over primary key constraint (don't want to have to drop a whole bunch of things with `EXCLUDE INDEXS`)
* then drop / recreate primary key constraint specifically

![image](https://user-images.githubusercontent.com/4440360/107448504-a3f25980-6af6-11eb-9d12-29374fed57ff.png)

restoring db and

[2021-02-10 00:51] jladdjr commented on #9259
`DETAIL:  PRIMARY KEY constraint on table "main_jobevent" lacks column "job_created" which is part of the partition key.`

nope, really just can't create the old primary key constraint on the new parent partition at all

[2021-02-10 00:53] jladdjr commented on #9259
Trying this instead:

![image](https://user-images.githubusercontent.com/4440360/107448843-4f031300-6af7-11eb-8d6e-fc0510470f4f.png)

Migration went through - can see the new primary key!

![image](https://user-images.githubusercontent.com/4440360/107449042-b4ef9a80-6af7-11eb-8d28-15cf30589fed.png)

...

and here are the indexes:
![image](https://user-images.githubusercontent.com/4440360/107449148

[2021-02-10 01:02] jladdjr commented on #9259
on second thought, I should be able to drop the primary key constraint on the old table - I think that's what I was intending to do, just got the order of statements mixed up:

![image](https://user-images.githubusercontent.com/4440360/107449324-38a98700-6af8-11eb-9ee2-61f0974c8b48.png)

result:
`psycopg2.errors.DependentObjectsStillExist: cannot drop index main_jobevent_pkey1 because constraint m

[2021-02-10 01:03] jladdjr commented on #9259
will need to put a bookmark in things here - up next: figure out how to drop not just the pkey index, but the constraint itself - maybe all I need to do is drop the constraint

[2021-02-10 07:21] nifr commented on #9165
@bdoublet91 - do I understand this correctly?

There are basically 2 issues here:

* awx doesn't write the `region_name` credential entered in the UI into the generated `clouds.yml` configuration
* the openstack inventory plugin does not return **any** hosts if `region_name` is not set

btw you can limit the inventory plugins used with the `ANSIBLE_INVENTORY_ENABLED` environment variable.
That way

[2021-02-10 07:24] nifr commented on #8427
The same happened to me recently with an awx version `16.0.0` docker-compose installation.

The whole database with all users, configuration etc. was wiped.

[2021-02-10 07:39] planeturban commented on #7010
But even with `tower_api` it doesn't solve the problem? It's like I said when comparing with `lineinfile`; the whole file but the line souldn't be wiped.

[2021-02-10 11:19] Thomastouma opened #9282 "Postgres upgrade failed, upgrading awx 16.0.0 > 17.0.1"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Problem: The Local Docker installer fails to upgrade the postgres data in a temporary spun up container based on image tianon/postgres-upgrade:10-to-12.  I've made sure that the postgres data dir has the correct permissions corresponding to the user running the playbook.

Result:  Rendered our awx-environment in a bricked state as playbook failed mid u

[2021-02-10 11:43] bdoublet91 commented on #9165
* awx doesn't write the region_name credential entered in the UI into the generated clouds.yml configuration
Yeah the configuration has no entry region_name with awx 17
May I test it with awx inventory cli and my configuration file already created with region name ?
https://docs.ansible.com/ansible-tower/latest/html/towercli/index.html

* the openstack inventory plugin does not return any hosts if

[2021-02-10 12:21] rtacconi commented on #6812
I really cannot see that the job is using the latest revision from the master branch, it is driving me crazy

[2021-02-10 12:54] arizon-dread commented on #1179
definitely +1 on this.

[2021-02-10 13:27] etoosamoe opened #9283 "No correct inventory files when it sourced from git project"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I have a Git repo with a lot of files, playbooks, roles, templates, tasks, etc. They store in directories in root dir e.g. hosts (for inventory files, about 10 files), host_vars, group_vars, roles

![image](https://user-images.githubusercontent.com/38806450/107514887-50960f00-6bbb-11eb-9300-d87a497dea69.png)

I added a project sourced from Git repo. S

[2021-02-10 14:44] ryanpetrello commented on #9259
@jladdjr

I perused over your comment history, and it's looking like you're making some good progress on the schema changes.

Regarding:

https://github.com/ansible/awx/issues/9259#issuecomment-775577491

In terms of "how do I actually set `job_created` on the event, I'd suggest putting this data into the event dict **before** it actually goes into redis (and then on to the callback receiver to be

[2021-02-10 15:00] unlikelyzero opened #9285 "[ui_next] Add Pseudo-localization to our dev builds"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Most of our 11th-hour z-stream bugs are due to missing or corrupted i18n components in the UI. In an effort to remove this class of bug from our release and development process, we should implement some type of pseudolocalization development process. Not necessarily automated testing. Not necessarily required lintin

[2021-02-10 15:16] sean-m-sullivan commented on #7010
Right now extra vars, survey, all of those are wiped when a competing field is introduced, its the way the api currently works, it doesn't merge, We could either make the API do a merge, or figure it out in the module, Was saying the tower_api lookup would allow you to merge a list with a given list to Then feed the module the newly merged data.

[2021-02-10 15:52] mbutton77 opened #9286 "AWX seems to lose job events"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
AWX seems to lose job events.

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.11
* Operating System: Red Hat Enterprise Linux Server release 7.3 (Maipo)
* Web Browser: Not relevant

##### STEPS TO REPRODUCE

Very hard to reproduce indeed. We encoutered the problem twice

[2021-02-10 16:29] john-westcott-iv commented on #7010
@planeturban while I see your point on the `lineinfile` with `state: present` I personally don't think it is a good comparison in this situration. This module is `tower_group` which describes a group in its entirety like how the `copy` module would describe a file in its entirety. And there is no good way to add a single line in a file from the `copy` module. `lineinfile` would be a better compari

[2021-02-10 17:10] mabashian commented on #9060
Note that this comes from the `job_tags` attribute on unified jobs.

[2021-02-10 17:31] lgrullon-gilead commented on #9282
I performed an upgrade from 16 to 17.1 and my entire DB got wipe out.

Can someone shine some light as to why this is happening, perhaps a bug that needs to be review, I had to roll it back to 16 against until issue is fix.

[2021-02-10 18:03] jladdjr commented on #9259
@ryanpetrello this is all super-helpful. Thanks for reading through the state of things and weighing in 👍

What you've pointed out has helped me realize a misconception that I think I had about `BaseTask.event_handler`. I had been thinking that this was a method that serviced any events that our callback receiver happened to receiver _throughout its lifetime_. But, after looking at how you've used

[2021-02-10 18:13] masbahnana commented on #9154
The tests have already been verified and validated, let's wait for the branch to be merge in the devel.

[2021-02-10 18:34] ryanpetrello commented on #9259
Yep, getting this right is all about how the data flows through the system and where it makes sense to inject new metadata into the event payload.  The answer to that is generally "inject it at the moment in time where you've already got what you need in-memory; don't look it up later, because every additional bit of latency per-event adds up to lot of extra time".  So:

1.  `ansible-playbook` run

[2021-02-10 19:17] mabashian commented on #7678
<img width="1441" alt="Screen Shot 2021-02-10 at 2 13 22 PM" src="https://user-images.githubusercontent.com/9889020/107559495-2b4cd500-6baa-11eb-80ce-c5cf440b1dd1.png">

The inventory list has changed with the move to tables.  The expectation here would be to click on the sync status (when available) and have that direct the user to the filtered jobs list.

[2021-02-10 21:10] jladdjr commented on #9259
Just pushed https://github.com/jladdjr/awx/commit/7838ee6153a901f6cf459e805d4aa82218bdb153

Migration went through! And I can see the new pkey constraint:
![image](https://user-images.githubusercontent.com/4440360/107572603-57178d00-6ba1-11eb-8493-90edeaa9d78b.png)

[2021-02-10 21:20] jladdjr commented on #9259
Verified that job detail pages for existing jobs are still working.

So. Now I can get back to updating job event processing to handle the partition key. To do this, I'll be "keying off of" https://github.com/ansible/awx/issues/9259#issuecomment-776755537 🥁

[2021-02-10 22:16] jladdjr commented on #9257
The bigint migration -- as in, the literal migration itself -- seems to be only a part of what's needed in order to migrate events asynchronously / in the background.

Full bigint context here:
https://github.com/ansible/awx/pull/6032/files

In particular there's:
* https://github.com/ansible/awx/pull/6032/files#diff-260d2b10b9e9600fbed330085498bd672c178a823afd195a0bf61cd8941bd05fR83, and
* https:

[2021-02-10 22:22] wenottingham commented on #9165
I think https://github.com/ansible/awx/pull/8880/files is broken.

The PR defines the field name as `region_name` on the model, but refers to it as `project_region_name` in the injector and tests.

CC @vguillard who contributed that change.

[2021-02-10 22:29] wenottingham commented on #9283
-> #9043

[2021-02-10 22:29] #9283 closed, assigned to nobody

[2021-02-10 22:36] jheinitz commented on #9043
Hello,

we have the same situation after upgrading from 15.01 to 17.0.1. This issue is linked to #9214 which is closed and to be fixed in one of the next releases. Do you have a roadmap for new releases especially for 17.0.2?

Kind regards

Jens

[2021-02-10 23:05] tiagodread commented on #7676
PR already merged, tests in place,  we can safely close this issue after merging https://github.com/ansible/tower-qa/pull/5967

[2021-02-11 00:05] jladdjr commented on #9259
Okay, let's break down what needs to happen here:

Step 1: Update our callback receiver so that we append events with job creation data
* BaseTask.__init__ needs to support a new attribute, `job_created`, because as @ryanpetrello points out this is when we have the data and can record it with minimal cost
* BaseTask.event_handler needs to set event_data['job_created']

Steph 2: Update our Event mo

[2021-02-11 00:21] tiagodread commented on #9060
PR already merged, we can safely close this issue when https://github.com/ansible/tower-qa/pull/5968 was merged.

[2021-02-11 00:36] jladdjr commented on #9259
Took a stab at ^, running into:

![image](https://user-images.githubusercontent.com/4440360/107590605-5db3fd80-6bbd-11eb-8de9-c3c552ca744b.png)

we're in the event handler..
[code]

.. which, at this point, is calling the dispatcher..
[code]

.. which looks like it is wanting to send / serialize it..
[code]

.. but:
`awx_1       | TypeError: Object of type 'datetime' is not JSON serializable`

[2021-02-11 00:38] jladdjr commented on #9259
~redis~ json is not very excited about serializing datetime objects before we hand them over to redis. `self.connection` here is a redis connection object.

![image](https://user-images.githubusercontent.com/4440360/107590930-52150680-6bbe-11eb-809a-a995a93d0663.png)

[2021-02-11 00:56] jladdjr commented on #9259
what about using https://docs.python.org/3/library/datetime.html#datetime.datetime.timestamp to serialize?

.. that would convert the datetime to (number of seconds since unix epoch in UTC)
.. we could then convert that back to a datetime using `datetime.fromtimestamp(timestamp, tz)`

bookmarking things here for now

[2021-02-11 02:44] jladdjr commented on #9259
back at it - looking into ^

[2021-02-11 02:47] jladdjr commented on #9259
looks like we're already in the business of handling special cases when it comes to serialization:
![image](https://user-images.githubusercontent.com/4440360/107597750-682bc280-6bd0-11eb-99dd-454dab6f77c9.png)

https://docs.python.org/3.6/library/json.html#json.dump basically says to do what we're already doing. `default` refers to the default serialization method (not to be confused with the _def

[2021-02-11 03:07] jladdjr commented on #9259
If we convert the datetime to a unix epoch timestamp (that will be relative to UTC), it looks like it will then get received at:

`awx/main/dispatch/worker/callback.py::read()`

![image](https://user-images.githubusercontent.com/4440360/107598495-cce81c80-6bd2-11eb-8936-150939f90bbc.png)

[2021-02-11 03:09] jladdjr commented on #9259
I was going to take things a step further and say that we should create a json deserializer to convert the serialized time back into a datetime, when I saw this:

https://github.com/ansible/awx/blob/devel/awx/main/models/events.py#L416

There's already a pattern here for handling datetime objects. This handles datetime at the point where the event objects are being created / persisted. How are tho

[2021-02-11 03:22] jladdjr commented on #9259
Look at that - the display callback for AnsibleRunner converts the datetime:
https://github.com/ansible/ansible-runner/blob/devel/ansible_runner/display_callback/events.py#L158

![image](https://user-images.githubusercontent.com/4440360/107599413-43861980-6bd5-11eb-9256-79e821089420.png)

I'm not sure that we want to take that approach, though. So, maybe we go back to the earlier thought with crea

[2021-02-11 04:02] #8944 closed, assigned to tiagodread, AlexSCorey

[2021-02-11 04:25] jladdjr commented on #9259
Wait, nope, we don't want the special json deserializer, that doesn't follow the pattern I spotted. Instead of using `timestamp`, I'll follow the existing pattern and:
* use str(<datetime>) to serialize `job_created`
* .. and [django's parse_datetime](https://docs.djangoproject.com/en/2.2/ref/utils/#django.utils.dateparse.parse_datetime) to deserialize, like we're doing [here](https://github.com/a

[2021-02-11 04:44] jladdjr commented on #9259
hopefully this wraps up the job_created serialization issue:
https://github.com/jladdjr/awx/commit/07fe0c4f266b16904d13af87775077bc0cea3cc5

[2021-02-11 05:07] jladdjr commented on #9259
![image](https://user-images.githubusercontent.com/4440360/107603322-29eacf00-6be1-11eb-955e-38ef8442a874.png)

posted a tweak so that we're just posted `job_created` for regular JobEvent models at this point (since the migration we have in place is only migrating main_jobevent and not the other job event tables). That seems to fix this issue afaict.

[2021-02-11 05:11] jladdjr commented on #9259
Ran a job.. it passed!

`select id, created, modified, event, play, task, job_created from main_jobevent_part1;`

![image](https://user-images.githubusercontent.com/4440360/107604192-1e4cd780-6be4-11eb-85f1-1f7c6b54141b.png)

![image](https://user-images.githubusercontent.com/4440360/107604239-5b18ce80-6be4-11eb-959a-19221178fe46.png)

The events have the `job_created` field populated
.. they all

[2021-02-11 05:16] jladdjr commented on #9259
Will close this for now. Will need to revisit parts of this when we flip on migrations for other job event tables, but for now think I can dig into other things.

[2021-02-11 05:16] #9259 closed, assigned to jladdjr

[2021-02-11 05:19] jladdjr opened #9291 "[db_partitioning] auto-create partitions as needed"
Replace [this hack](https://github.com/jladdjr/awx/blob/8cf081f03b02a74899dae56baba4540f71e259cf/awx/main/migrations/0124_event_partitions.py#L62-L72) with a mechanism that automatically creates partitions as needed / on-demand.

[2021-02-11 06:02] planeturban commented on #7010
In that case it's just a matter of documentation for the collection. I'm fine with either.

I'm Switzerland in this question. :)

[2021-02-11 06:18] sean-m-sullivan commented on #7010
A 3rd way would be if this feature were ever developed #7008 , where you essentially copied from itself and we added merge on some fields. It would essentially be like using the tower_api module, but would require the merge by default. Either way, its using api to grab existing info and merging.

[2021-02-11 08:30] egmar opened #9292 "Support for read-only database replicas"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It's a common practice to have read-only replicas for databases. This brings benefits in splitting the write operations from read operations, as well giving option for a clever routing of various database operations, e.g. long running analytical queries would be done against read-only replica.

![image](https://user-images.githubusercontent.com/24389

[2021-02-11 10:21] coudenysj commented on #2172
If I'm ready the document [correctly](https://docs.ansible.com/ansible-tower/latest/html/administration/tipsandtricks.html#setting-up-a-jump-host-to-use-with-tower), I can only use 1 static jump host?

I'm trying to use kubespray directly into AWX, so through the ansible_ssh_common_args I can configure the jump host, but not the credentials for the jump host.

So for every jump host, I should add

[2021-02-11 12:07] fbsoares commented on #8991
This is a must have imo.
In my case I have a job with a survey and, for instance, I use an extra_var for "version" and another for "projectCodeName". If I want to replay the job with same vars, I can't search the job.

[2021-02-11 12:11] unlikelyzero commented on #8991
@fbsoares @Griamce0385 does the new title sound actionable?

[2021-02-11 12:51] #7676 closed, assigned to nixocio

[2021-02-11 14:06] unlikelyzero commented on #7775
@AlexSCorey @mabashian This was on the list of todo's for feature parity. Do we want to keep this ticket https://github.com/ansible/awx/issues/9267 open?

[2021-02-11 14:09] unlikelyzero commented on #9267
@AlexSCorey as a part of this, I think we might want to add a note in the tooltip users for folks who are learning that this is being removed

[2021-02-11 15:29] Gopinath-G opened #9293 "Failed to update job template - Error: "Failed to update job template. PATCH returned status: 503""
##### ISSUE TYPE
 - Bug Report

##### Component
- UI

##### SUMMARY
- Unable to update exiting template in UI, getting below error while I hit Save button
- Error: "Failed to update job template. PATCH returned status: 503"

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method:  docker on linux
* Ansible version:  2.9.14
* Operating System: RHEL 7
* Web Browser: Google Chrome Version 88.0.

[2021-02-11 15:40] friendlypenguin commented on #1999
This is an important feature for us as well.

[2021-02-11 16:45] chrismeyersfsu commented on #9019
Current thoughts below. Will add other subsystems to this table.

Similar to the job lifecycle feature, some of these metrics are going to be harder to capture and may require extra state code. Use your judgement, if you hit those hard cases, skip it and come back.

### Derivable Metrics

| Higher Level Metric                         | Formula                                                      |

[2021-02-11 16:46] #9060 closed, assigned to mabashian, tiagodread

[2021-02-11 17:24] hydroxy commented on #377
For me the issue was only 3 out of the 4 required docker containers were running due to an incorrect install of docker-compose. I reinstalled docker-compose correctly, repeated the install from scratch and I was able to log in no bother.

[2021-02-11 17:35] mabashian commented on #9254
link https://github.com/ansible/awx/pull/9290

[2021-02-11 17:53] ryanpetrello commented on #9286
@mbutton77 I'd highly recommend upgrading to a new AWX and seeing if you still encounter this issue - in the past year we've made a lot of notable improvements to our event processing, including a number of stability improvements.

[2021-02-11 18:36] wenottingham commented on #9292
This is something we've thought about architecturally, but it involves significant changes to how we deploy the database (with added complexity), and adds some restrictions on how that can work.

It's probably not something we'll look at in the very short term.

[2021-02-11 19:15] tiagodread commented on #9087
@nixocio note that the field Pull has `No pull option has been selected` as a valid selection, is this the expected behaviour or this option is only the "label" for this field?

![image](https://user-images.githubusercontent.com/12464858/107686646-43912280-6c84-11eb-9d2d-59a95ec2b008.png)
![image](https://user-images.githubusercontent.com/12464858/107686674-4ab83080-6c84-11eb-9120-726299f4f872.png

[2021-02-11 19:56] AlexSCorey opened #9294 "Warn user about changes to a job template that could cause schedules to fail."
There are cases where a user can make changes to a job template that will cause schedules for that job templates, or for associated workflows to fail.  We should attempt to inform the user before they save these changes about schedules and workflows that rely on them.
See https://github.com/ansible/awx/pull/9210#issuecomment-776682415 for more reference
##### ISSUE TYPE
 - Feature Idea

##### SUMM

[2021-02-11 20:12] maksym-bordun-ynd commented on #9230
The issue was already described in https://github.com/ansible/awx/issues/8878, but no news since then.

[2021-02-11 20:29] jladdjr commented on #9291
Things to think about (gathered from other threads):

* potential issues with multiple sources trying to create a new partition at the same time
    * use advisory lock?
    * .. also, would the partition creation happen in the context of a single row insertion or some kind of _batch_ update?
    * since we would create this when a _job_ is starting, seems like this would be infrequent
        * w

[2021-02-11 20:58] jladdjr commented on #9291
Calling this case out specifically, since we haven't talked about testing this scenario:

1. WF job is kicked off at time H, some jobs are spawned at this time
2. WF job takes _a long time_ and some other jobs are kicked off at time H + 1 (hours)
3. admin runs clean-up script that runs up through hour H, but leaves the history for H + 1 in place
4. user goes to look back at history of jobs - what

[2021-02-11 20:59] jladdjr commented on #9291
Calling this out as well from my notes, since it seems like another important testing consideration:

If a user schedules a job
.. that schedule will almost certainly set the job creation to an hour boundary
.. which means that what we may have considered to be an 'edge case' up to this point, should actually be regarded as _the norm_ for users who have _any_ scheduled jobs. ❗

[2021-02-11 21:21] kdelee commented on #8749
We've been running integration and because @fosterseth did a great job of getting the tests green before merging, have no regressions since the merge of this feature.

Additionally, in any SOS report from a test run we can see that we now have the new log file with the logs:
[code]

Finally, while working on the logrotate feature, we've confirmed that this plays well with all the log rotation logi

[2021-02-11 21:21] #8749 closed, assigned to fosterseth, kdelee

[2021-02-11 23:31] jladdjr commented on #9291
The consensus this morning seemed to fall on:
* just-in-time partition creation
* .. using the task manager
* .. using a (cluster-wide) lock

So that:
* we don't have needlessly created partitions
* we create locks in one place (the task manager) instead of having locks created in multiple places, potentially for each job type (eek)
* we insert the partition creation in a place that necessarily pr

[2021-02-11 23:33] jladdjr commented on #9291
In order to actually implement this, I need to:
- [x] drop the hacky creation of a dummy catch-all partition in the migration I wrote
- [x] learn how to programmatically run a sql command to create the partition
- [x] read up on the task manager
- [x] .. find a place to do the just-in-time check / partition creation

and then do some testing to verify everything works

[2021-02-12 00:04] jladdjr commented on #9291
Just realized - we will have two special partitions, each with special ranges:
* the old partition's range will be: `(long time ago) -> (this very moment)`
* and then we need to create another special partition for `(this very moment) -> (the end of this hour)`

In other words, the first partition that can potentially receive new events should:
* be created in advance - otherwise we will need to t

[2021-02-12 04:27] saurabh02 commented on #223
Hi @AlanCoding , anyone,

I'm running into this issue with a little different architecture of my Ansible repo, and I'm afraid the solution you proposed for using vaulted host variables, as I understand, does not work in my situation. We are using an inventory plugin that fetches hosts from a database upon run time. The architecture is shown below, where each site pipeline inventory `site{x}/{dev/p

[2021-02-12 04:37] sean-m-sullivan commented on #8731
Should this be added to other modules as well, and should we add a diff/check mode integration test for the collection.

[2021-02-12 09:14] vieiradaniel92 commented on #7521
I'm also hitting this issue, running AWX 14.0.0.

[2021-02-12 09:29] ste-snape commented on #20
some that would be useful in our environment as well, with ability to call Vmware for cluster datastore to them populate survey with dropdown

[2021-02-12 10:36] bdoublet91 commented on #9165
May I test it with awx inventory cli and my configuration file already created with region name ?
https://docs.ansible.com/ansible-tower/latest/html/towercli/index.html ?

Did it work in version 16 ?

[2021-02-12 11:47] tiagodread commented on #9294
Some examples of these problematics scenarios

**JT:**

1. Create a jt with schedule without prompt, modify this JT adding prompt for inventory, then nothing is displayed to the user saying that the schedule needs to be updated and the JT starts failing

2. Create a jt with schedule without survey, modify this JT adding a survey without default answer, then nothing is displayed to the user saying

[2021-02-12 12:53] hacko2 opened #9296 "What year is it ?!"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Update year version

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.17
* Operating System: Ubuntu 20.04
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Info --> About

##### EXPECTED RESULTS

Change from 2019 to 2021

##### ACTUAL RESULTS

2019

##### ADDITIONAL INFORMATION

[2021-02-12 13:35] mattthehearn commented on #9267
Out of curiosity, what's being removed?  All means of using inventory scripts?  Will there be no way to have dynamic inventories going forward other than the ones built-in that connect to various cloud providers?

[2021-02-12 13:35] Tioborto commented on #5076
Hi @wenottingham, @ryanpetrello  , any idea about the resolution of this topic ?  please

[2021-02-12 14:05] unixsysadmin opened #9297 "Add button for new inventory source not appearing for inventory admin users"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Add button for new inventory source not appearing for inventory admin users

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.17
* Operating System: CentOS 8.3
* Web Browser: Firefox

##### STEPS TO REPRODUCE

- Create an organization
- Add a user to that organization
- Make that user an Inventory Ad

[2021-02-12 14:42] nixocio commented on #9041
It does require further evaluation, but based on a quick research this package seems to be most used to solve this issue https://github.com/nfl/react-helmet.

[2021-02-12 15:01] darrenjones24 opened #9298 "custom_venvs fails in kubernetes due to cryptography dependency"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using custom_venvs in kubernetes, the initcontainer fails to install ansible. This is because pip cannot install the cryptography module which is due to a change in the cryptography module requiring rust. (see https://github.com/pyca/cryptography/issues/5771)

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: Kubernetes
* Ansible versi

[2021-02-12 15:17] unlikelyzero commented on #4205
To close:
- Visual Test to cover this modal
- Network intercept to trigger this with a cy.clock
- Settings which modify this behavior are tested
- Tested manually
- Stubs added to closedsourcetests

Note: there is also a global config setting which would allow us to reduce the timeout from the default 5 minutes down to 61 seconds to make this test faster (please reapply old timeout when done :) )

[2021-02-12 15:22] unlikelyzero commented on #4958
@akus062381 will be taking this ticket for testing.
1. Find every other example of Access Tab tests and list and compare them. If any other Resources are missing acces tab tests, list them.
2. Find other examples to "borrow from" Access tab testsuites like Org or Project Access.
3. If no test stubs for JT Access exist, add them based on the access tab tests from Org or Project
4. Execute the stubs

[2021-02-12 15:29] uDuCkV commented on #20
+1

Poppis Evangelos

[2021-02-12 15:31] unlikelyzero commented on #5070
Note: ensure that all data is shown in mockup

[2021-02-12 15:33] unlikelyzero commented on #4977
@mabashian there are missing fields like in:
https://github.com/ansible/awx/issues/5070
and
https://github.com/ansible/awx/issues/7662

[2021-02-12 15:37] unlikelyzero commented on #6593
@akus062381
1. check that we have coverage in the form of stubs for Teams Access.
2. Update stubs if coverage is missing
3. Execute stubs
4. Add a single working test

[2021-02-12 15:40] unlikelyzero commented on #6865
@akus062381 will be taking this.
I believe that stubs or test coverage should be in /notifications/notification-templates-CRUD.spec.js
1. Execute stubs in this area
2. Add a real test

[2021-02-12 15:47] unlikelyzero commented on #8848
@akus062381 will be taking this one.
1. Verify that a job in running status can be cancelled from the output view manually
2. Verify that when clicking on the cancel button after a job has already completed does not error. Launch a job, stay on output view, after job completes and in the same view, attempt to interact with the cancel job button.
3. Verify that the cancel button is disabled on prev

[2021-02-12 16:12] ryanpetrello commented on #9298
Hey @darrenjones24,

Sounds like an opportunity for a pull request 😄

[2021-02-12 16:15] stefanjarina opened #9299 "Ansible Environment no longer appears as an option in job templates"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Missing option to choose our custom virtual environment from Job Template screen.
It is visible for Organization and Project screens.

We are now planning to migrate from 15.x to 17.x and it was working in version 15, so this seems to be a bug, unless something changed.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* An

[2021-02-12 16:24] sean-m-sullivan commented on #7008
Wanted to note here, in case I or someone else develops this, that ansible has a combine vars function
[code]

[2021-02-12 16:30] ryanpetrello commented on #9296
![image](https://user-images.githubusercontent.com/214912/107794700-bdc5b380-6d25-11eb-8997-f7a1af5dc61a.png)

@marshmalien @jakemcdermott @mabashian is this a simple thing to template out to `$currentYear` ?

[2021-02-12 16:36] unlikelyzero commented on #9043
https://github.com/ansible/awx/pull/9120

[2021-02-12 16:44] stefanjarina commented on #9299
OK, after searching a bit more thoroughly, it looks like that field will be replaced by https://github.com/ansible/awx/issues/9189

So looks like we need to stay on version 15.x for now

[2021-02-12 16:51] ryanpetrello commented on #9298
addressed via: https://github.com/ansible/awx/pull/9300

[2021-02-12 16:51] #9298 closed, assigned to nobody

[2021-02-12 17:38] wenottingham commented on #5076
The prior comment stands - part of the subject of this issue had a pull request that was merged (AppRole)... there has been no changes for LDAP auth, so it remains open.

[2021-02-12 17:39] wenottingham commented on #9165
There was no support for specifying region at all in AWX before... so I doubt it ever worked.

[2021-02-12 17:40] wenottingham commented on #9267
The ability to store scripts in the database for use... you can still use any inventory source from a custom collection or a script that is in a SCM repo.

[2021-02-12 17:42] wenottingham commented on #9299
Yes, this won't be back in the UI going forwards.

[2021-02-12 17:42] #9299 closed, assigned to nobody

[2021-02-12 18:08] blomquisg commented on #9293
Can you try to reproduce in AWX 17?

Also check if supervisord is running.

[2021-02-12 18:13] blomquisg commented on #9266
As @wenottingham pointed out, this info is in the logs, and we have no plans to track this in the DB (or display it in the UI).

[2021-02-12 18:13] #9266 closed, assigned to nobody

[2021-02-12 18:13] ryanpetrello commented on #9282
Hey @lgrullon-gilead,

I'm unaware of any endemic issues related to database loss on 16 -> 17 upgrades.  It's possible that it's a bug related to the link you posted, though (https://github.com/tianon/docker-postgres-upgrade/issues/31)?

That said, this issue tracker is for tracking feature enhancements and bugs to AWX itself - you might have luck troubleshooting this on the mailing list or IRC ch

[2021-02-12 19:13] ghost commented on #7666
Much needed

[2021-02-12 19:23] chrismeyersfsu commented on #9245
I suspect this issue is one of the cases here https://github.com/ansible/awx/issues/8771 and will be resolved when #8771 is fixed properly.

[2021-02-12 19:36] tchellomello commented on #9249
Hello @cnukwas,

So here are the steps that I followed while investigating this issue.

1. Cloning the repo
[code]

2. Modified the inventory file to meet k8s environment requirements
[code]

3. Ran the installer and got a fatal error:
[code]

Digging into the issue, we can see the following information:

a. Upon execution, the Helm values used were:
[code]
Running steps manually as noted in the p

[2021-02-12 19:49] kdelee commented on #5149
@yagomarques @shebangbash assigning you because we should add coverage for this in the execution-environments branch

[2021-02-12 19:52] kdelee commented on #2939
Until any changes to the API have been made, I'm removing the `component:api` label -- because right now there is no clear change/fix to verify from the api side

[2021-02-12 19:52] kdelee commented on #3366
Until any changes to the API have been made, I'm removing the component:api label -- because right now there is no clear change/fix to verify from the api side

[2021-02-12 19:54] Thomastouma commented on #9282
@ryanpetrello

The link I posted is a link to an issue on the main repository for the Docker image that is being used in the current AWX installer playbook since AWX version 17.0 , used to perform  an in place upgrade on the Postgres data to conform with Postgres version 12.
I understand that my troubles are not a bug in AWX as an automation plattform itself, though i do belive that this is someth

[2021-02-12 19:56] mattthehearn commented on #9267
Interesting.  The python script that I was using as an inventory source with AWX 1.0.6 isn't working with any AWX version I've tested after 15, even after updating it for python3, and the Tower documentation seemed to imply that inventory scripts were removed as of 3.8.1.  I'll keep playing with that and open a separate issue if I can't get it working.

[2021-02-12 19:56] kdelee commented on #5236
Unit tests added for this attribute in the api are sufficient for future regression testing, going to call this verified from the API perspective and remove the `component:api` label
tests: https://github.com/ansible/awx/pull/7611/files#diff-c967e9f6369e046cb79c1676024a5187a3f25f37f6d154320594b6ba3479b0cdR38

[2021-02-12 19:58] kdelee commented on #8894
@Zokormazo this is an easy `needs_test` issue we can tackle next week when we talk about that

[2021-02-13 12:31] unlikelyzero commented on #9297
We will need to add a regression test in this area

[2021-02-13 12:55] al-lac commented on #8107
@blomquisg I think this is fixed. Since version 16.0 releases are being created which also notify users. The only thing that would still be great, is if a changelog was also attached.

[2021-02-13 13:24] unlikelyzero opened #9305 "Workflow for modifying many User Roles on a Resource could be improved"
##### ISSUE TYPE
 - Bughancement?

##### SUMMARY
The current workflow for adding or modifying user roles on a resource seems biased towards adding/modifying a single role at a time for _many_ users. The number of available roles is increasing with Execution Environments and so it might be a good time to reassess the experience for adding or modifying _many_ user roles.

When modifying a user's exi

[2021-02-13 22:03] nixocio opened #9307 "Add copy functionality to EE"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add copy functionality to EE. See API related work here: https://github.com/ansible/awx/pull/9303

See: https://github.com/ansible/awx/pull/9303#issuecomment-784489624

[2021-02-13 22:05] nixocio opened #9308 "Add EE to Activity Stream"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add EE to Activity Stream.

[2021-02-14 13:35] unlikelyzero commented on #9254
Covered in unit tests added to attached PR:

https://github.com/ansible/awx/pull/9290

[2021-02-14 13:35] #9254 closed, assigned to nobody

[2021-02-14 14:28] unlikelyzero opened #9310 "[ui_next] On Credential Edit Form, input values are not populated"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Previously, when editing a Cred Type Edit Form, the user would see their previous edits. This is no longer the case.

https://dashboard.cypress.io/projects/ui2mq7/runs/4411/test-results/6dbc5299-7a10-4b0d-b1ec-61756cadd307/video?utm_source=Dashboard&utm_medium=Share+URL&utm_campaign=Video

##### STEPS TO REPRODUCE
1. Create a GCE Credential with by upl

[2021-02-14 14:31] unlikelyzero commented on #9229
No unit tests were added as a part of the PR.

I believe that this https://github.com/ansible/awx/issues/9310 issue is a result of the current implementation. Although I can't be sure. I'm putting this back into devel

[2021-02-14 14:40] unlikelyzero commented on #8962
No Unit Tests were added in the PR.

QE Coverage will need to be added for this route and the WFJT routes for completed jobs and jobs which are currently running

[2021-02-14 14:41] unlikelyzero commented on #8933
covered in https://github.com/ansible/awx/pull/9028#pullrequestreview-571571287

[2021-02-14 14:41] #8933 closed, assigned to mabashian

[2021-02-14 14:47] unlikelyzero commented on #8856
Covered by unit test

[2021-02-14 14:47] #8856 closed, assigned to nobody

[2021-02-14 14:49] unlikelyzero commented on #8847
https://github.com/ansible/awx/pull/9003#issuecomment-755752991

[2021-02-14 14:49] #8847 closed, assigned to AlexSCorey

[2021-02-14 14:51] unlikelyzero commented on #8797
@cbois we've done a considerable amount of work to ensure that we have followed the WCAG rulesets. Please let us know when you pull this down to give it a try!

[2021-02-14 14:54] unlikelyzero commented on #8817
No unit tests added to PR

Will need to verify with a functional test

[2021-02-14 14:57] unlikelyzero commented on #8784
No unit test added.

Need to add functional tests for this test

[2021-02-14 14:59] unlikelyzero commented on #8709
https://github.com/ansible/awx/pull/8726#issuecomment-772746083

[2021-02-14 14:59] #8709 closed, assigned to one-t

[2021-02-14 19:00] unlikelyzero commented on #8669
No unit tests added.

We should add a unit test or simple e2e test

[2021-02-14 19:03] unlikelyzero commented on #8262
Quite a few things were discovered in testing (5 bugs?). Whoever picks up this ticket, please ensure that we have stubs for the bugs and at least one test here.

[2021-02-14 19:05] unlikelyzero commented on #8247
covered in https://github.com/ansible/awx/pull/8399#pullrequestreview-553909542

[2021-02-14 19:05] #8247 closed, assigned to nobody

[2021-02-14 19:09] unlikelyzero commented on #8848
https://github.com/ansible/awx/issues/8207 is a dupe of this functionality

[2021-02-14 19:09] #8207 closed, assigned to mabashian

[2021-02-14 19:10] unlikelyzero commented on #8207
this is a dupe of https://github.com/ansible/awx/issues/8207

[2021-02-14 19:11] unlikelyzero commented on #8155
@kdelee @ryanpetrello removing needs_test

[2021-02-14 19:20] unlikelyzero commented on #8098
closing with https://github.com/ansible/awx/pull/8519#pullrequestreview-530295121

[2021-02-14 19:20] #8098 closed, assigned to nixocio

[2021-02-14 19:23] unlikelyzero commented on #8053
This will need to be tested within https://github.com/ansible/awx/pull/9208

[2021-02-14 19:25] unlikelyzero commented on #7939
this is covered in https://github.com/ansible/tower-qa/blob/devel/ui-tests/awx-pf-tests/cypress/visualintegration/credentials.spec.js

[2021-02-14 19:25] #7939 closed, assigned to nobody

[2021-02-14 19:28] unlikelyzero commented on #7915
Since we're about to reimplement codemirror, let's retest this at that time.

[2021-02-14 19:40] unlikelyzero opened #9311 "[ui_next] Direct Links to awx do not reroute the user after authentication"
##### ISSUE TYPE
 - Feature

##### SUMMARY
I might be wrong, but i _believe_ that _some point_ in the classic experience, if a user had a direct link to a resource, (like a from a slack notification) and they had not authenticated, we would reroute the user to the original requested page i.e. https://localhost:3001/#/credentials/1/details.

Note: https://github.com/ansible/awx/issues/8155 is an ex

[2021-02-14 19:43] unlikelyzero commented on #7914
No unit test coverage added.

QE will add coverage for this case as 'medium' priority

[2021-02-14 19:44] unlikelyzero commented on #7751
https://github.com/ansible/tower-qa/pull/5626

[2021-02-14 19:44] #7751 closed, assigned to nobody

[2021-02-14 19:46] unlikelyzero commented on #7727
https://github.com/ansible/awx/pull/9083#issuecomment-765005073

[2021-02-14 19:46] #7727 closed, assigned to nobody

[2021-02-14 19:49] unlikelyzero commented on #7595
Adding @akus062381 to this to cover as a part of the access list testing on JT forms

[2021-02-14 19:51] unlikelyzero commented on #4958
@akus062381 this happened at some point without QE https://github.com/ansible/awx/issues/7595 . While looking for Access list stubs note that you'll run into examples of Teams and Users tabs. They should all be merged into Access

[2021-02-14 19:52] unlikelyzero commented on #7740
@mabashian putting back into devel based on https://github.com/ansible/awx/issues/7740#issuecomment-729036891

[2021-02-14 19:57] unlikelyzero opened #9312 "[ui_next] Direct links (and bookmarks) do not route user to correct url after login"
##### ISSUE TYPE
 - Feature

##### SUMMARY
I might be wrong, but i _believe_ that _some point_ in the classic experience, if a user had a direct link to a resource, (like a from a slack notification) and they had not authenticated, we would reroute the user to the original requested page i.e. /#/credentials/1/details -> /login -> /#/credentials/1/details

Note: https://github.com/ansible/awx/issue

[2021-02-14 19:57] unlikelyzero commented on #9312
@mabashian i'm 99% sure this qualifies as feature parity

[2021-02-14 19:58] #7230 closed, assigned to jlmitch5

[2021-02-14 19:59] unlikelyzero commented on #7298
@one-t this is our second biggest blind spot. Can you take some time to ensure we have adequate functional testing in this area?

[2021-02-14 20:00] #7417 closed, assigned to nobody

[2021-02-14 20:01] unlikelyzero commented on #7279
QE will add a test case for sort of job templates list

[2021-02-14 20:02] #7170 closed, assigned to nixocio, rooftopcellist, sshedmake

[2021-02-14 20:02] #7164 closed, assigned to nobody

[2021-02-14 20:03] unlikelyzero commented on #7157
https://github.com/ansible/awx/pull/8726#issuecomment-772746083

[2021-02-14 20:03] #7157 closed, assigned to mabashian, unlikelyzero

[2021-02-14 20:04] unlikelyzero commented on #7156
@nixocio assigning to you to close

[2021-02-14 20:05] unlikelyzero commented on #7127
Needs coverage

[2021-02-14 20:08] unlikelyzero commented on #6857
Putting into needs test to verify once pseudolocalization is available or real translations have arrived

[2021-02-14 20:10] unlikelyzero commented on #6584
https://github.com/ansible/awx/issues/6577#issuecomment-612993588

[2021-02-14 20:10] #6584 closed, assigned to unlikelyzero

[2021-02-14 20:12] unlikelyzero commented on #6485
covered in https://github.com/ansible/tower-qa/pull/5907

[2021-02-14 20:12] #6485 closed, assigned to nobody

[2021-02-14 20:14] #6544 closed, assigned to nobody

[2021-02-14 20:14] unlikelyzero commented on #6549
Needs retesting and a functional test for the scenario above

[2021-02-14 20:15] unlikelyzero commented on #5997
https://github.com/ansible/awx/pull/8399#pullrequestreview-553909542

[2021-02-14 20:15] #5997 closed, assigned to marshmalien

[2021-02-14 20:17] unlikelyzero commented on #6068
low closing

[2021-02-14 20:17] #6068 closed, assigned to nobody

[2021-02-14 20:18] unlikelyzero commented on #6504
https://github.com/ansible/awx/issues/6504#issuecomment-744046505 still applies

[2021-02-14 20:20] #5893 closed, assigned to nobody

[2021-02-14 20:21] unlikelyzero commented on #5881
covered in credentials-mock.spec.js

[2021-02-14 20:21] #5881 closed, assigned to mabashian, dsesami

[2021-02-14 20:33] unlikelyzero commented on #5236
Note: We can cover this feature by simply adding a feature test here https://github.com/ansible/awx/issues/5236#issuecomment-549558786

[2021-02-14 21:30] sean-m-sullivan commented on #9305
Agree with you on the UI front, In the meantime something that may help some of this is to define team/user permisions through the awx.awx.tower role. It allows you to give it a list of teams, and lists of different objects, and set permission on them or revoke.

[2021-02-14 23:22] sean-m-sullivan commented on #9200
I found the same behaviour happening within other modules and fields, Submitted PR to fix bug
[code]

[2021-02-15 08:42] delamart commented on #5692
Same issue here, we would like to trigger a job on a specific commit/tag/branch with a built-in inventory for CI/CD and the inventory doesn't follow the override.

Any news on this issue ?

[2021-02-15 09:01] LuixyToledo commented on #3249
Hi @AlanCoding,

We are using latest version of Ansible Tower for a customer. And it looks like this default behavior still remains. The values of variables setted with set_stats module are not hidden even with the no_log: True parameter at task or play level.

This feature or "issue" will br solved on future Ansible Tower releases?

Thanks a lot.

[2021-02-15 10:07] doryanmzr opened #9314 "Can't find extra vars in schedule level"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When I try to add extra vars in the schedule level, I can't see the extra vars field.
the "Prompt on launch" of the variables in the template level is checked.

##### ENVIRONMENT
* AWX version:16.0.0
* AWX install method: docker compose
* Ansible version: 2.9.15
* Operating System: centos 7
* Web Browser: chrome

##### STEPS TO REPRODUCE

once the tem

[2021-02-15 11:04] danielo515 commented on #5415
Cancelling and relauncing seems to work on AWX 17.0.1, but it does not fix it definitely (at least not so far)

[2021-02-15 12:29] unlikelyzero commented on #9312
GitHub double post?

[2021-02-15 12:29] #9312 closed, assigned to nobody

[2021-02-15 14:03] msilmser commented on #1973
@unlikelyzero i have not, ill spin up an awx instance today and check it out.

[2021-02-15 14:05] mabashian commented on #9311
I thought we had an issue tracking this but I can't find it.  Along the same lines, I _think_ we used to track the page that a user was viewing before their session timed out but this will need to be confirmed.

Steps:

1) Navigate to a random page
2) Let the tab time out (kicked back to login)
3) Log back in

IIRC the expectation would be the user is taken back to the page they were last viewing

[2021-02-15 14:06] IshwarKanse opened #9315 "RFE: Extend Gitlab,Github webhook integration to trigger project updates."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently our webhook integration works with Gitlab, Github to trigger job template runs.

https://docs.ansible.com/ansible-tower/latest/html/userguide/webhooks.html

We need to extend this to trigger project sync job. Thus a project will be updated with the webhook. A job template using this project doesn't have to use update revision on launch for

[2021-02-15 15:06] mbutton77 commented on #9286
@ryanpetrello, ok, we were expecting this answer, which is logical :)
We are to upgrade to AWX 16.0 in a few weeks, I will keep you posted.
Thanks.

[2021-02-15 15:14] jakemcdermott commented on #9229
They're not related. Credential form code wasn't modified in that pr.

[2021-02-15 15:14] #9229 closed, assigned to nobody

[2021-02-15 16:29] kdelee commented on #9019
@chrismeyersfsu I'm not understanding

callback receiver | events_insert_db_time | Counter Time spent saving events to DB events_insert_db / events_insert_db_time = average time to insert | If this is high, database slowdown suspected. Or maybe our batch size isn't optimal or batching isn't being used at all. Check events_batch_insert_size
-- | -- | -- | --

are you saying that `events_insert_db_t

[2021-02-15 16:52] #8731 closed, assigned to nobody

[2021-02-15 17:25] mabashian commented on #7679
@tiagodread I merged the PR for this issue.  Looks like you've got an open PR for some new tests.  Should this issue be closed or left open?

[2021-02-15 17:30] chrismeyersfsu commented on #9019
Correct @kdelee But we don't want to compute averages in our raw metrics. That should be computed outside, in Prometheus or Grafana. By doing this outside the system we don't have to pick a single time window. We can compute the average for the last 5 seconds, 10 minutes, or hour.

[2021-02-15 18:06] danielo515 commented on #2206
Maybe you don't want to add an editor, I don't agree with I understand it. But what about adding at least a viewer with syntax highlight? It is a simple addition of a Javascript library

[2021-02-15 19:32] bratiacharya opened #9317 "botocore.exceptions.NoCredentialsError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

##### ENVIRONMENT
Gitlab+ AWS Elastic Beanstalk

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

Deploy successful

##### ACTUAL RESULTS

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: botocore.exceptions.NoCredentialsError: Unable to locate credentials
fatal: [localhos

[2021-02-15 20:55] mattthehearn opened #9319 "Job type incorrect for "check" jobs on AWX17.0.1"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
All jobs have a "job type" of "Playbook Run," even if they were run in "check" mode.  There is no other indication in the job details that the job was a "check" job.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.17
* Operating System: Ubuntu 18
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Run

[2021-02-15 22:11] donnangeric commented on #1917
Hello,

I got the same issue with AWX 17.0.1.
Impossible to choice playbook while Git project, but playbook are display when manual project.
Please would you help me???

![image](https://user-images.githubusercontent.com/5146262/107997468-19709500-6fe3-11eb-8816-5eaa8a219147.png)

[2021-02-15 22:28] ryanpetrello commented on #9317
Hey @bratiacharya,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-02-15 22:28] #9317 closed, assigned to nobody

[2021-02-15 22:44] nixocio commented on #7156
@unlikelyzero, I verified the code, and `TODO`  was already removed. Closing this one.

[2021-02-15 22:44] #7156 closed, assigned to nixocio

[2021-02-16 00:08] #8962 closed, assigned to one-t

[2021-02-16 00:12] one-t commented on #8962
These items are already stubbed out and present in the backlog.

[2021-02-16 00:20] one-t commented on #8784
This is correct, I've verified we don't show this field on currently running jobs.

[2021-02-16 00:20] #8784 closed, assigned to one-t

[2021-02-16 00:21] one-t commented on #2257
Closed- old UI.

[2021-02-16 00:26] one-t commented on #8670
Unit test coverage looks great on this one and I've verified this functionality works as expected.

[2021-02-16 02:43] fosterseth commented on #9019
`events_size_bytes`

trying to decide a way to measure this. maybe `len(event.stdout)`?

[2021-02-16 05:40] tnqv commented on #7362
+1 too, this function would be convenient for the enterprise though IMO.

[2021-02-16 06:53] danielo515 commented on #1180
Is that the same for latest version of AWX? I can not type anything

[2021-02-16 07:22] Gopinath-G commented on #9293
I faced the same issue after upgrading to AWX17..

Yes, supervisord is running.

bash-4.4# ps -ef | grep -i supervisord
root         69      6  0 Feb12 ?        00:01:32 /usr/bin/python3.6 /usr/local/bin/supervisord -c /etc/supervisord.conf

[2021-02-16 08:10] danielo515 commented on #9043
This is happening on 17.0.1 using docker-compose install. Luckly I can just hack the html and select the proper file

[2021-02-16 08:17] danielo515 opened #9321 "Requirements are skipped but then plugins listed there are not recognised"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX skips installing the collection requirements but then it fails because it finds plugins that it does not recognise

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker-compose
* Ansible version:  2.9.17
* Operating System: Ubuntu 18
* Web Browser: chrome

##### STEPS TO REPRODUCE

This is my requirements file:

[code]

And here is

[2021-02-16 08:27] danielo515 commented on #9321
This is probably the same problem as #6878

[2021-02-16 08:28] danielo515 commented on #6878
Looks like this problem is coming back, please see  #9321

[2021-02-16 12:37] unlikelyzero commented on #8670
Re-opening for stubs and a functional test. This feature was only discovered for feature parity due to our test automation backlog. Unit test coverage is essential, but the value of e2e testing is that we discover the user impact that _unrelated changes_ have on this functionality.

https://github.com/ansible/awx/issues/3155
https://github.com/ansible/awx/issues/3319
https://github.com/ansible/awx

[2021-02-16 12:42] unlikelyzero commented on #2257
@one-t we have the same patterns to follow and have used these issues to help discover feature parity. I believe this is related to the feature work being worked on this sprint, but cannot be sure without checking

[2021-02-16 13:20] unlikelyzero commented on #9319
Note: we're seeing similar problems with Prompt on launch defaults for Job Type not being respected. Looks like it was unrelated to POL.

[2021-02-16 13:25] unlikelyzero commented on #9314
@doryanmzr thanks for filing this issue, we're tracking this functionality in this issue here: https://github.com/ansible/awx/issues/7692

Please subscribe to the updates to see when it lands in the next available release!

[2021-02-16 13:28] #9314 closed, assigned to nobody

[2021-02-16 13:50] chrismeyersfsu commented on #9019
The [`CallbackWorker`](https://github.com/ansible/awx/blob/devel/awx/main/dispatch/worker/callback.py#L30) inherits from [`BaseWorker`](https://github.com/ansible/awx/blob/devel/awx/main/dispatch/worker/base.py#L164) `work_loop` is what it sounds like, basically the `while True:` loop. It calls `read()` then `perform_work()`. Both of these functions are overridden by `CallbackWorker`. `read()` pop

[2021-02-16 14:29] wenottingham commented on #9315
This can be done via a workflow today if required.

[2021-02-16 14:29] djj106 commented on #9311
@unlikelyzero - that is correct. In 15.0.1, the user would be routed to the page in the link after authentication rather than to the dashboard.

[2021-02-16 14:30] unlikelyzero commented on #8708
https://github.com/ansible/awx/pull/8640#issuecomment-778638936 is the manifestation of this bughancement. Moving to priority high and attaching to a release milestone

[2021-02-16 14:32] wenottingham commented on #9321
The task looks for collections/requirements.yml - your requirements.yml looks like it's a generic one that isn't in that location?

[2021-02-16 14:32] nixocio opened #9323 "StatusLabel displays empty tooltip"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
StatusLabel displays empty tooltip.

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/9053044/108076698-b6f6b380-7039-11eb-90f7-1914ee1efaae.png">

[2021-02-16 14:36] Zokormazo commented on #8894
There was already a test for this downstream.

Fixed

[2021-02-16 14:36] #8894 closed, assigned to Zokormazo

[2021-02-16 14:49] mattthehearn commented on #9319
I should note, it does seem to run the job in check mode as requested; I just ran a test, and it made no actual changes.  So it seems to be a simple UI bug.  A check of the job in the API reports "job_type": "check".

[2021-02-16 15:34] metabsd commented on #1855
I have the same problem when I select LDAP Group Types `ActiveDirectoryGroupType` or `NestedActiveDirectoryGroupType`

[2021-02-16 15:52] metabsd commented on #1855
This is how I use it right now. Any advice ?
I can't use `"member_attr": "uniqueMember"`
[code]

[2021-02-16 16:07] JonasKs opened #9329 "Log correlation IDs for requests"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Implement [`django-guid`](https://github.com/snok/django-guid) to attach a correlation ID for all logs related to a request.
I think it's best described in the README of the package, but attaching a Correlation ID to every log message makes debugging easier. We implement it manually for our running AWX container, but I think everyone would benefit f

[2021-02-16 16:20] azrdev opened #9330 "improve CUSTOM_VENV_PATH documentation"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There is support and documentation for configuring a path containing additional virtualenvs, which can be used to run Jobs with python dependencies differing from the default installation.
However, the documentation appears to me inconsistent and incomplete:

* https://github.com/ansible/awx/blob/9d53bab/INSTALL.md#inventory-variables  (at current HE

[2021-02-16 16:42] ryanpetrello commented on #9329
Hey @JonasKs - this sounds really interesting - if you've got an idea of what a PR would look like, I'd be very interested in looking it over and trying it out.

[2021-02-16 17:22] ryanpetrello commented on #9329
@JonasKs I'm curious what your approach would look like, but I've managed to get something minimal working (that I could turn into a PR) by tinkering a bit - including integrating w/ our task management code:

![image](https://user-images.githubusercontent.com/214912/108098701-ad794580-7051-11eb-99c2-13b1f9227d64.png)

[2021-02-16 17:23] unlikelyzero opened #9331 "[ui_next] Update chip group labels to match best practices pattern"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The information within the chip groups has been extremely difficult to locate in our tests. With @AlexSCorey 's [PR](https://github.com/ansible/awx/blob/06c35e7cd27e32bdbb35c9fe7434b8946aa225de/awx/ui_next/src/components/ResourceAccessList/ResourceAccessListItem.jsx#L59-L60), we've established a pattern I think will be worth repeating throughout the re

[2021-02-16 17:34] JonasKs commented on #9329
Thanks @ryanpetrello! I'll submit a draft this weekend/early next week and tag you in it. 😊

[2021-02-16 17:36] ryanpetrello commented on #9329
@JonasKs I'd love your feedback on this (still testing a bit and making sure it works w/ our external logging aggregator support):

https://github.com/ansible/awx/pull/9332

[2021-02-16 17:37] JonasKs commented on #9329
Hey that's awesome @ryanpetrello ! Sorry I didn't see the last reply from you - I forgot to refresh before I wrote a reply.

I don't really have anything in mind, so you're welcome to implement a PR yourself!

[2021-02-16 17:42] ryanpetrello commented on #9329
Hey @JonasKs, this is a good idea, and this library is really simple to integrate with 😄, so I gave it a stab.

I'd love your feedback on the approach in that PR.

[2021-02-16 17:46] jakemcdermott commented on #9319
There's two types of types for jobs:

[code]

We disambiguate "Check" vs "Run" jobs in the old ui through the displayed "Job Type" field. The only way to tell what `job.type` you were viewing was by inspecting the url. In the new UI, we (perhaps incorrectly) show the `job.type` instead of `job.job_type` for "Job Type".

Having recently addressed another issue where users didn't know what `job.type

[2021-02-16 17:50] JonasKs commented on #9329
I'll have a look first thing in the morning when I'm on a computer again! Thanks for the kind feedback. 🎉

I recommend checking out this [integration](https://django-guid.readthedocs.io/en/latest/integrations.html#integration-settings) setting if you haven't already. 😄

[2021-02-16 18:03] hexsel commented on #4321
The installation scripts require the tmp folders (/tmp and /var/tmp) be mounted with EXEC permissions (i.e. with the ability to copy files there and execute them from these partitions).

CIS guidelines (which a lot of financial enterprises are required to follow) mandate no shared-writable folder should be mounted with EXEC permissions, to avoid malware from an unpriviledged account from dropping

[2021-02-16 18:09] hexsel commented on #4321
The installation scripts require the tmp folders (/tmp and /var/tmp) be mounted with EXEC permissions (i.e. with the ability to copy files there and execute them from these partitions).

CIS guidelines (which a lot of financial enterprises are required to follow) mandate no shared-writable folder should be mounted with EXEC permissions, to avoid malware from an unpriviledged account from dropping

[2021-02-16 18:35] ryanpetrello commented on #9319
@jakemcdermott

![](https://media.giphy.com/media/oGO1MPNUVbbk4/giphy.gif)

[2021-02-16 20:03] gitjon2015 commented on #9213
I agree that this update/version should not force SSL or TLS only for email.

In case it helps others to get simple email notifications working again while a fix is being worked on, I had to update my Notification template via api to set the following:

http://<your_url>/api/v2/notification_templates/<your_template_id/
under     "notification_configuration":
 "use_ssl": false,
 "use_tls": false

[2021-02-16 21:13] wenottingham commented on #9330
Hi -

I do understand what you're saying here, but that feature is going to be removed soon. See https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/1-Jh0fy3AgAJ for a description of where we're going, and https://github.com/ansible/awx/issues/5157 for more details..

[2021-02-16 21:13] #9330 closed, assigned to nobody

[2021-02-16 21:16] wenottingham commented on #4321
There is no `setup.sh` in awx. If you are having an issue with  a downstream distribution that includes AWX (such as the Ansible Automation Platform)... you should talk with your support rep.

AWX_PROOT_BASE_PATH is a setting, it's configured in /api/v2/settings

[2021-02-17 00:49] #354 closed, assigned to nobody

[2021-02-17 00:51] #1228 closed, assigned to nobody

[2021-02-17 00:52] #2247 closed, assigned to nobody

[2021-02-17 00:53] #2610 closed, assigned to nobody

[2021-02-17 00:54] #3195 closed, assigned to nobody

[2021-02-17 00:55] #4215 closed, assigned to nobody

[2021-02-17 00:56] unlikelyzero commented on #3339
@jakemcdermott was this done as a part of the latest job result output work?

[2021-02-17 00:58] unlikelyzero commented on #3786
covered in activity-stream.spec.js

[2021-02-17 00:58] #3786 closed, assigned to nobody

[2021-02-17 01:00] unlikelyzero commented on #5087
I believe that this is already possible in ui_next

[2021-02-17 01:02] unlikelyzero commented on #4947
@marshmalien i think this is no longer an issue and we have several pages covered in the visual tests

[2021-02-17 01:04] unlikelyzero commented on #6414
@nixocio was this included in the recent patternfly update you did?

[2021-02-17 01:10] unlikelyzero commented on #8828
@wenottingham i think we should prioritize this for the next release so that we can dramatically reduce the complexity in testing this