[2018-03-07 10:16] MrMEEE opened #1464 "Invalid key names: REFRESH_TOKEN_EXPIRE_SECONDS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
There seems to be something missing in the newly implemented OAuth.. I'm having problems with websockets.. Daphne is not working correctly:

mar 06 22:20:04 akiva.outerrim.lan daphne[10618]: 2018-03-06 22:20:04,844 WARNING  The current value "{u'ACCESS_TOKEN_EXPIRE_SECONDS': 31536000000, u'REFRESH_TOKEN_EXPIRE_SECONDS': 315

[2018-03-07 11:26] jffz opened #1465 "Dns settings not taken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
DNS settings set within the inventory file are not applied to the containers

##### ENVIRONMENT
* AWX version: 1.0.4.43
* AWX install method: docker on linux,
* Ansible version:  2.4.3.0
* Compose version: 1.19.0
* Operating System: CentOS 7.4
* Web Browser: any

##### STEPS TO REPRODUCE
Set desired DNS settings in `a

[2018-03-07 13:46] AlanCoding commented on #1038
Probably related to #1418

[2018-03-07 14:07] shanemcd commented on #1452
Hmmm.... I don't think I've ever seen this. I noticed you are running `1.0.4.0`, and a lot of bugs have been squashed since then. Would you mind trying with a fresh system running the latest code from devel?

[2018-03-07 14:20] rooftopcellist commented on #1464
link: (https://github.com/ansible/awx/pull/1458

@MrMEEE Thanks for bringing this up.  I merged a fix this morning.  If you still see this after pulling down the new code, I'll re-open this.

[2018-03-07 14:20] #1464 closed, assigned to nobody

[2018-03-07 14:26] matburt commented on #1452
@aperigault I'm okay with you submitting a PR to this effect.

[2018-03-07 14:33] MrMEEE commented on #1464
I can confirm that it's fixed :)

[2018-03-07 14:35] MrMEEE commented on #1257
I have the same issue.. SELinux has been set en permissive mode for the time being.. still same issue..

Any way to debug what files it can't access??

[2018-03-07 15:09] jkhelil commented on #1297
I have the same error here using 1.03
   Listening on endpoint tcp:port=8051:interface=127.0.0.1
WSGI app 0 (mountpoint='') ready in 3 seconds on interpreter 0x15c0bb0 pid: 32 (default app)
WSGI app 0 (mountpoint='') ready in 3 seconds on interpreter 0x15c0bb0 pid: 35 (default app)
WSGI app 0 (mountpoint='') ready in 3 seconds on interpreter 0x15c0bb0 pid: 31 (default app)
2018-03-07 14:50:09,108

[2018-03-07 15:19] wenottingham commented on #1461
-> https://github.com/ansible/awx/issues/775

[2018-03-07 15:19] #1461 closed, assigned to nobody

[2018-03-07 15:28] mpostument commented on #885
@falencastro I am using ansible tower not awx and looks like it does not have Mattermost as the notification type.

[2018-03-07 15:34] ricalenil commented on #1461
@wenottingham thanks

[2018-03-07 15:41] ricalenil commented on #775
@SpeedRacerrr I'm looking for this feature too. I work in operations team, and I need to give read-only permissions for job runs to some users (developers) to let them see the execution log of some migrations that they are running through a CI/CD workflow, and I don't want to give them execute permissions for obvious reasons. If there is a work arround to do this, let us know.

In the meantime, I'

[2018-03-07 15:46] shanemcd commented on #1297
Are you all running k8s in GKE? If so I'm curious if you see the problem if you create a new cluster with the "Legacy Authorization" dropdown set to "Enabled". Not a long term solution, but we need to narrow down the cause before we can give you a solution.

[2018-03-07 15:48] tcheronneau commented on #1297
For me it's my own k8s setup on bare metal server.

[2018-03-07 15:53] shanemcd commented on #1297
Hmmm I just noticed that GKE has now rolled back the default version when creating a new cluster to 1.8.7. 1.9.0 isnt even an option. I'll try with 1.9.3 and report back.

[2018-03-07 15:58] akcrisp opened #1466 "Install fails when trying to build new image - git error --first-parent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
Trying to install awx, creating new image fails with -

TASK [image_build : Build AWX distribution using container] ************************************************************************************************************************************
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "msg":

[2018-03-07 16:03] MrMEEE commented on #1464
And I fixed the other issue as well:

I think I fixed it.. added a line to the configuration (/etc/awx/settings.py):

ANSIBLE_VENV_PATH = '/opt/awx/embedded'

and created folder

mkdir /var/lib/awx/venv && chown awx:awx /var/lib/awx/venv

and

yum install bubblewrap

[2018-03-07 16:04] wenottingham commented on #885
AWX is the upstream of Tower, so it may and will have a newer feature set at any particular point in time.

[2018-03-07 16:17] shanemcd commented on #1297
Confirmed, am seeing the same errors on k8s 1.9.x. 1.8.7 is working fine. Will dig deeper.

[2018-03-07 16:42] shanemcd commented on #1297
I still don't fully understand what's going on but this will at least get nginx to boot:

[code]

Going to look into this more when I have the time.

[2018-03-07 16:45] ghost commented on #885
So then it is best to report this issue with Tower directly to RedHat?

Sent from mobile

On Mar 7, 2018 8:04 AM, "Bill Nottingham" <notifications@github.com> wrote:

[2018-03-07 16:51] wenottingham commented on #885
As always, if you are having issues with Tower, contact your Red Hat support rep.

[2018-03-07 16:57] wenottingham opened #1467 "Show named URL for provisioning callbacks"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Provisioning callbacks can be accessed via their `named_url`. However, we don't show this in the UI when configuring them.

##### ENVIRONMENT
* AWX version: any

##### ADDITIONAL INFORMATION

Unlike the ID-based URL for the callback, the named URL can change if the job template name changes. So we likely don't want to sho

[2018-03-07 17:09] matburt commented on #1466
Yep, you'll need to have a version of git that supports that flag.

[2018-03-07 17:09] #1466 closed, assigned to nobody

[2018-03-07 17:57] matburt commented on #1465
Something doesn't quite look right with the way it's implemented in the compose file:

https://github.com/ansible/awx/blob/devel/installer/local_docker/templates/docker-compose.yml.j2#L21-L23

I don't use this mechanism so if it's something that bothers you I'd appreciate debug help. Does this work okay if you omit using docker_compose and install using standalone docker?

[2018-03-07 18:01] matburt commented on #1463
This is a dupe and there are a few issues already tracking this:

https://github.com/ansible/awx/issues/531
https://github.com/ansible/awx/issues/416
https://github.com/ansible/awx/issues/411

[2018-03-07 18:01] #1463 closed, assigned to nobody

[2018-03-07 18:03] matburt commented on #1462
Looks like you have problems with the shared directory specified in the inventory file where postgres is going to store it's database: https://github.com/ansible/awx/blob/devel/installer/inventory#L35

[2018-03-07 18:03] #1462 closed, assigned to nobody

[2018-03-07 18:10] matburt commented on #1435
Something is definitely strange with your setup if you run into this: `Error creating container: 404 Client Error: Not Found (\"No such image: rabbitmq:3\")`

That means your setup can't see this: https://hub.docker.com/r/library/rabbitmq/tags/3/

Which is pretty well guaranteed to be there.

[2018-03-07 18:10] matburt commented on #1435
It seems like your tools have an issue contact dockerhub?

[2018-03-07 18:19] shanemcd commented on #1435
I would recommend deleting everything and trying again:

[code]

Edit:

After running the commands above a `systemctl restart docker` might be a good idea.

[2018-03-07 18:33] tomammon commented on #1017
@matburt I am running in to the same issue. I've cloned the devel branch, is this what you mean by a copy of the source tree? It looks like there is a mismatch between the version that is being requested by the build process (awx-1.0.4.151.tar.gz) and what is available at the location it's looking in (awx-1.0.4.56.tar.gz), see output below.

My end goal is to build a custom container because I wan

[2018-03-07 20:27] mabashian commented on #276
@marshmalien does #1441 wrap up all the work for this feature?  I was going to close it but wanted to double check with you before doing so.

[2018-03-07 22:26] rooftopcellist commented on #1464
Great!  Thanks for following up on that @MrMEEE

[2018-03-08 03:32] shanemcd commented on #1297
@tcheronneau What is your underlying host OS?

[2018-03-08 04:09] mzeier opened #1468 "LDAP UI missing LDAP GROUP SEARCH"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Configuring LDAP auth in the UI but "LDAP GROUP SEARCH" is missing (it's present in Tower but not in AWX 1.0.4.53).

This generates the following error when trying to authenticate:
[code]

##### ENVIRONMENT
* AWX version: 1.0.4.53
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Ubuntu 16

[2018-03-08 04:38] jakemcdermott commented on #1468
@mzeier which version of tower is the screenshot from?

On tower 3.2 and latest awx I'm seeing the ldap group search field here:
<img width="1190" alt="screen shot 2018-03-07 at 11 35 46 pm" src="https://user-images.githubusercontent.com/9753817/37133311-88affdd0-2260-11e8-9570-8c11c13b9275.png">

[2018-03-08 04:45] mzeier commented on #1468
Tower 3.1.2. Never saw it there in AWX :/

[2018-03-08 04:47] jakemcdermott commented on #1468
No worries, we did move the field after all. With the new location of the field in mind are you able to check your instance and see if it is there?

[2018-03-08 04:49] mzeier commented on #1468
It's there. Now I need to figure out the syntax for what we had in Tower.

(which is something like)
[code]

[2018-03-08 04:53] matburt commented on #1468
seems like this can close?

[2018-03-08 04:53] jakemcdermott commented on #1468
Excellent! Happy to hear you've located it. I'm going to go ahead and close this issue out as resolved.

If you have any questions please drop us a line on the awx mailing list or join our irc channel on freenode.

[2018-03-08 04:53] #1468 closed, assigned to nobody

[2018-03-08 06:43] cchurch commented on #1388
@psy-q This example has been fixed in our docs repo for 3.2.x and 3.3, will be live the next time we push docs.

[2018-03-08 06:43] #1388 closed, assigned to cchurch

[2018-03-08 07:29] tcheronneau commented on #1297
It's Ubuntu (Xenial) for all hosts.

[2018-03-08 08:50] jkhelil commented on #1297
On my side, I am using k8s 1.8.7 on openstack vms.
Ubuntu is used on vms with apparmor enabled
No Pod securityPolicy is set on the cluster(it is new on 1.9)
Looking inside the centos image; it is not enabling selinux,

[2018-03-08 09:10] akcrisp commented on #1466
Matt so which version of git ? as per my comment I can't see any mention of this on the versions from rhel ?

[2018-03-08 09:11] akcrisp commented on #1466
Also the build failed to build - getting load more errors, which seems to be related to not being able to get to github and npm - which is very odd in deed - having set the proxy in /etc/sysconfig/docker and in the inventory file.

[2018-03-08 09:43] Gaby033 commented on #1435
Thank you for the commands, I executed the 4 of them, and then the `ansible-playbook -i inventory install.yml` : no error and AWX started correctly.

Then I wanted to try `docker-compose pull` still the same error. After that I launched again the `install.yml` (which gave me the `No such image: rabbitmq:3` during my upgrade attempt) and this time no error, AWX started correctly.

So I don't know i

[2018-03-08 12:01] christoph-kluge commented on #1178
Hey guys :) I have the same error message but a little bit different stack-trace.

**ENVIRONMENT**

- AWX version: 1.0.4.57
- AWX install method: docker-compose on linux
- Ansible version: 2.4.3.0
- Operating System: Debian Stretch

**Message**

[code]

[2018-03-08 12:22] rndmh3ro opened #1469 "Ansible-playbook run seems to use old data"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Ansible run seems to use old data

##### ENVIRONMENT
* AWX version: 1.0.4.14
* AWX install method: docker on linux
* Ansible version: 2.4.3.0
* Operating System: rhel7
* Web Browser: firefox

##### STEPS TO REPRODUCE

I have a playbook that creates users on the target-servers. There's user `foo`. This user had id `500` some

[2018-03-08 14:23] shanemcd commented on #1297
Spent a _while_ on this last night. It is AppArmor causing the permission denied errors. I still don't fully understand why only the nginx directories are having this problem. If someone has any insight I'd appreciate the knowledge drop. I will have a PR up shortly.

[2018-03-08 15:03] marshmalien commented on #276
@mabashian Yes. That wraps it up!

[2018-03-08 15:03] #276 closed, assigned to jakemcdermott

[2018-03-08 15:18] shanemcd commented on #1297
Updated images will be on Dockerhub sometime today. We're working through some fallout from a dependency upgrade that landed this morning.

[2018-03-08 15:38] AlanCoding opened #1473 "Replace use of deprecated decorator method"
code:

https://github.com/ansible/awx/blob/953850a0d7875b7a6d18f79ded5059a3083d52c5/awx/main/utils/common.py#L150

http://decorator.readthedocs.io/en/latest/tests.documentation.html#what-s-new-in-version-4

Sounds like it's not urgent, but we could get bitten by it later.

I'm not yet entirely clear on how to replace our use pattern from the release notes wording.

[2018-03-08 15:56] one-t opened #1474 "Allow Configuration of SSH Args for isolated instance groups"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - Installer

##### SUMMARY
Occasionally, clients have asked about connecting to isolated nodes through bastion hosts. Can we expose the ssh args for isolated groups as group vars during installation?

##### ENVIRONMENT
* Tower Version - 3.2+

##### EXPECTED RESULTS
[code]

##### ADDITIONAL INFORMATION
Other considerations would include

[2018-03-08 16:45] coolcps commented on #818
I can only save workflows that contain nothing more than inventory/project sync.

1.  Trying to add a job with a credential that needs to be selected fails.  It allows me to select the credential and place the node, but when I click save, nothing happens.

2. Trying to add a job without a credential lets me place the node, but when I try to save, I get the error: Failed to add workflow node. POST

[2018-03-08 17:44] marafa opened #1476 "inventory "update on project change" causing error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

#/inventories/inventory/3/inventory_sources/edit/7?inventory_search=page_size:20;order_by:name

##### ENVIRONMENT
* AWX version: mar 8 18
* AWX install method: docker on linux
* Ansible version:  mar 8 18
* Operating System: rhel7.4
* Web Browser: firefox 52.6 esr

##### STEPS TO REPRODUCE

go to  INVENTORIES myfirst_inve

[2018-03-08 19:38] rooftopcellist commented on #1358
Auth Token is removed from all places as best as I can tell (besides old migrations, where it needs to stay).

[2018-03-08 19:38] #1358 closed, assigned to rooftopcellist

[2018-03-08 20:04] shanemcd commented on #1393
Closing this since we haven't heard back. If the problem persists let us know and we'll reopen.

[2018-03-08 20:04] #1393 closed, assigned to nobody

[2018-03-08 20:04] chrismeyersfsu opened #1477 "Console traceback; 'replace' undefined when launching prompt for extra vars JT"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Console traceback when launching JT with prompt for extra vars.

##### STEPS TO REPRODUCE

* Create a JT with prompt for extra vars on launch
* click the Rocket !!!!

##### EXPECTED RESULTS

* No Traceback in the console

##### ACTUAL RESULTS

traceback in the console

##### ADDITIONAL INFORMATION

[code]

[2018-03-08 20:08] christoph-kluge commented on #1178
Some notes to my previous comment which I found out during the day (because like this AWX is not usable for us):

* I'm not really able to reproduce it on a specific task. But sometimes it happens directly after restarting the awx_task container when it picks up the first job and then the container fixes himself after some hundred revoked tasks...
* We're using a dedicated Amazon RDS Instance with

[2018-03-08 20:10] shanemcd commented on #1297
Please pull the latest installer code and redeploy the latest images from dockerhub. I've verified it works on GKE running 1.9.3. If someone is still having issues let me know and I'll reopen.

[2018-03-08 20:10] #1297 closed, assigned to nobody

[2018-03-08 20:11] shanemcd commented on #1469
Did you check "Update Revision on Launch" on the Project?

[2018-03-08 20:13] chrismeyersfsu opened #1478 "Invalid YAML or JSON not handled well in prompt for extra vars"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Invalid YAML or JSON not handled well in prompt for extra vars.

##### STEPS TO REPRODUCE

* Create a job template with prompt for extra vars.

##### EXPECTED RESULTS

* Not being allowed to proceed to the next step until valid yaml or json

##### ACTUAL RESULTS

* console error and pop-up error

##### ADDITIONAL INFORMATI

[2018-03-08 20:30] chrismeyersfsu opened #1479 "Erratic quoting of survey prompt mult-choice values"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- UI

##### SUMMARY
Some values get wrapped in `'quotes'`. Some don't.

##### STEPS TO REPRODUCE

* Create a JT survey prompt w/ a multichoice field with values:
[code]
* Launch the JT
* Select all the values for the multichoice

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS
[code]

[2018-03-08 20:36] chrismeyersfsu opened #1480 "Workflow Editor does not save."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- UI

##### SUMMARY
Workflow editor traceback when doing normal things to the workflow editor.

##### STEPS TO REPRODUCE

* Create a workflow
* Add a Job Template as the first node
* save

##### EXPECTED RESULTS

* To save and close the workflow editor

##### ACTUAL RESULTS

* Traceback

##### ADDITIONAL INFORMATION

*  Seems to be related to t

[2018-03-08 20:39] mabashian opened #1481 "Credentials removed when workflow node when edge type changed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
`/api/v2/workflow_job_template_nodes/:id/credentials` gets reverted back to an empty array when the user changes the node from failure->success.  I suspect that this happens no matter what you change the edge type to but I haven't tested all the cases.

##### ENVIRONMENT
* AWX version: 1.0.4.64

##### STEPS TO REPRODUCE

1)

[2018-03-08 20:44] pkennedymwg opened #1482 "VirtualEnvironment not a valid python environment"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I pulled from devel on March 6th and everything installed fine.  Using the virtual env throws an error:

RuntimeError: a valid Python virtualenv does not exist at /var/lib/awx/venv/mwg/

##### ENVIRONMENT
* AWX version: 1.0.4.43
* AWX install method: docker on linux,
* Ansible version:  2.4.3.0
* Operating System:
* Web B

[2018-03-08 20:47] chrismeyersfsu opened #1483 "Workflow Editor, tab elements don't disapear"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
In the workflow editor. Job prompt fields carry over into the project list.

##### STEPS TO REPRODUCE

* Create a JT with lots of prompt things checked (Limit, Job Tags, Skip Tags)
* Click to add a node to the workflow
* Select the JT with prompts
* Now select the Project Sync tab

##### EXPECTED RESULTS

* For the Job Pro

[2018-03-08 21:04] chrismeyersfsu opened #1484 "workflow status doesn't change from pending to running in UI"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
* workflow status doesn't change from pending to running. It jumps straight to "successful"

##### STEPS TO REPRODUCE

* Create a workflow with a node or two
* Launch the workflow

##### EXPECTED RESULTS

* While watching the job results page for the workflow. I expect the job status to move from pending -> running -> succ

[2018-03-08 21:24] wenottingham opened #1485 "Feature: Autoscaling, isolated, containerized job running"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Followon of https://github.com/ansible/awx/issues/1207

Essentially, once we can register an isolated node (or something like it) on demand, there's no reason how AWX runs jobs can't change to a simple:

- create job
- spin up a per-job-run container
- run job
- kill container

This has many followon questions:
- d

[2018-03-08 21:25] chrismeyersfsu opened #1486 "Can't create system auditor user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

##### STEPS TO REPRODUCE

* Create a system auditor user via the UI OR
* POST to `/api/v2/organization/1/users/`

[code]

##### EXPECTED RESULTS

* For a system auditor user to be created

##### ACTUAL RESULTS

500

##### ADDITIONAL INFORMATION

[code]

[2018-03-08 21:27] mabashian commented on #1478
I think this might need to be an app-wide improvement.  I think you can get a similar error on the job template form if you put in some bad json and hit save.

[2018-03-08 21:31] wenottingham opened #1487 "Expose why jobs are in "pending""
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Jobs can be queued for a variety of reasons:

- waiting on dependent SCM update
- waiting on dependent inventory update
- blocked due to another instance of the same job
- blocked to another job which has the inventory locked (see above 'dependent inventory update')
- waiting on spare job running capacity
- pending

[2018-03-08 22:15] soumikgh opened #1488 "Upstream `uwsgi` does not respond"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
Upstream `uwsgi` does not respond. The web interface intermittently gives 502 errors and awx_web says `no live upstreams while connecting to upstream, client: X.X.X.X, server: _, request: "GET /", upstream: "uwsgi://uwsgi`. This is on a fresh install using docker-compose.

##### ENVIRONMENT
* AWX version: 1.0.4.62
*

[2018-03-09 01:12] paihu opened #1490 "Feature: Slack color notification"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
I want to receive color notification in Slack as Hipchat notification.
To use color is more user friendly.

To send attatchments is not supported with RTM API , but supported with Web API.

##### ENVIRONMENT
* AWX version: 1.0.4.48
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System:

[2018-03-09 01:46] matburt commented on #1178
What's the sizing of your single ec2 instance? what about the rds instance?

Usually we'll see this when there are issues staying connected to postgres. I'm not sure about your situation but sometimes it can manifest if there is a firewall between postgres and the AWX that closes idle connections.

You might can check the postgres logs themselves and see if there is an explanation for it and check

[2018-03-09 01:55] christoph-kluge commented on #1178
Hi @matburt, thank you for the answer!

It's a "t2.medium" (2 vCPUs, 4G RAM) instance and we're using a "db.t2.micro" (1 vCPU, 1G ram) for the RDS postgres database, also the CloudWatch-Logs are showing that the RDS instance is idling all the time.

RDS is not really logging anything except of wal_checkpoints.. besides that all looks good.

Do you know which setting it is? I've found a couple time

[2018-03-09 02:34] matburt commented on #1178
I will say that the awx system is right at the bottom of our minimum requirements and we've been seeing issues lately out of systems in this range.

The database is dramatically undersized it really wouldn't surprise me that any sort of non trivial activity might completely wipe out whatever cpu credits you would accrue unless you have crazy small/trivial workloads. Given that this is happening du

[2018-03-09 04:00] jainnikhil30 opened #1491 "Prompt on launch option for playbook in a job template"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

The option 'Prompt on launch' should be available additionally in the configuration of the job template in the 'Playbook' field. Quite reasonably, the to-be-selected playbook should be selectable from the list of the executable playbooks of the project during the execution of the job template.

##### ENVIRONMENT

[2018-03-09 04:02] wenottingham commented on #1491
As a workaround, this can be done by passing a playbook file name as an extra variable to a playbook that uses `include` to include it.

[2018-03-09 08:45] icsm2017 opened #1492 "No more than 4 jobs running in the same time despite an important RAM addition"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
No more than 4 jobs running in the same time despite an important RAM addition.

##### ENVIRONMENT
* AWX version: 1.0.4.48
* AWX install method: docker on linux
* Ansible version: 2.4.3
* Operating System: Red Hat 7.4
* Web Browser: chrome

##### STEPS TO REPRODUCE
Upgrade RAM from 4 to 25Gb and CPU from 2 to 4. Launch mult

[2018-03-09 10:26] ewjoachim commented on #1418
Seing the same in 1.4.0.64 with github and I do have the `You have multiple authentication backends configured` logs

[2018-03-09 10:47] aperigault commented on #635
Hi,
We have the same bug. Any idea to quick fix that ?

[2018-03-09 12:59] AlanCoding commented on #1481
I believe I've reproduced. It's because of the PUT, and the code for managing the deprecated `credential` field. It looks like it's removing the related credential even when you give a pk value for it inside of the PUT.

Could you tell me what type of credentials you attached? I think I see where the breakdown is happening.

The prior behavior of the `credential` field was that it only accepted SS

[2018-03-09 13:18] jpc2350 commented on #1137
Hi @matburt, I'm just circling back around to this myself - How would I find where the INI file for the job is?

[2018-03-09 13:34] itcrowdsource opened #1494 "SCM update keeps pending infinitely"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
SCM update keeps pending infinitely

##### ENVIRONMENT
* AWX version: 1.0.4.64
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Ubuntu 16.04 Xenial
* Web Browser: Chrome, Firefox, Edge

##### STEPS TO REPRODUCE

Projects > Get latest SCM version > Stuck in pending mode infinitely
Templa

[2018-03-09 14:22] matburt commented on #1494
if you refresh the page does it update? are there any logs from the containers specifically the task container?

[2018-03-09 14:23] matburt commented on #1492
can you show me the output of `/api/v2/instancees`... specifically I'm looking for what  the instance capacities and capabilities are... especially *while* jobs are running.

[2018-03-09 14:28] matburt commented on #1488
I'm trying to figure out what this is about:

[code]

Do you have an upstream proxy or load balancer that's setting something wonky? Have you made any changes to the nginx configuration?

[2018-03-09 14:33] matburt commented on #1469
How do you have your inventory set up?  Is it coming from the project via scm inventory? What options have you selected on the inventory source for how we treat variables during the inventory sync?

[2018-03-09 14:34] ryanpetrello commented on #1482
@pkennedymwg have you replicated the `virtualenv` creation steps on _all_ containers - particularly the task container where jobs actually run?

What happens if you run this adhoc command?

`ls -ls /var/lib/awx/venv/`

See: https://github.com/ansible/awx/pull/940/files#diff-015b935452ac22e8799e290bcfa7cb07R43

[2018-03-09 14:35] themeatcrayon commented on #1028
@jaredevantabor - thank you - i found extra vars which also works.

[2018-03-09 14:47] icsm2017 commented on #1492
With 9 jobs launch (4 running, 5 pending), we have the following result :
[code]

[2018-03-09 14:52] soumikgh commented on #1488
Everything is behind a F5 load balancer, but even without that, when accessed from within the internal network, it still gives 502s.

No changes in nginx config, I've done fresh pulls and `--force-recreate` multiple times.

[2018-03-09 15:05] wwitzel3 opened #1496 "RBAC - Notification admin can toggle for all read access resources."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

Allow Notification Admin for an organization to toggle notifications for any resource they have read access to. Currently you must have change access.

[2018-03-09 15:21] matburt commented on #1488
Not sure what's up then, and I can't reproduce that. We'd need more information on how `HTTP_HOST` is getting set to something that doesn't look like a remote address.

[2018-03-09 15:27] pkennedymwg commented on #1482
ugh.  i did not run it on the task server.  I just did and am getting a new error, but beyond the scope of this report.  Thanks.

received exception: <urlopen error [Errno -2] Name or service not known

[2018-03-09 15:33] #1376 closed, assigned to rooftopcellist

[2018-03-09 15:33] dhartford commented on #223
Just want to make sure the 'vaulted files' versus the vaulted values do not get lost --
For our usecase, 'vaulted files' in the inventory/group_vars/all/ is critical need as we deploy the same application with the same keys to multiple target locations, each target location needing different vaulted key-values (username/password) per inventory/target location. The key is the same, but the 20+ valu

[2018-03-09 15:51] rooftopcellist opened #1498 "Support Application Organization Permissions"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Shift OAuth2 permissions scheme by relying on a FK on the Application model to Organization rather than to User (as is currently the case and is default for DOT).

##### ENVIRONMENT
* AWX version: 1.0.4.31
* AWX install method: docker on linux
* Ansible version: 2.4.0.3

##### EXPECTED RESULTS

An Application should

####

[2018-03-09 15:55] itcrowdsource commented on #1494
A refresh doesn't work. Also after recreating the containers the running job comes back in the same pending state. It seems that the pending state of the job is stored in the database.

Could you let me know what specific logs you need?

This is a dump of the awx_task console log, which might show some relevant information. I initated a SCM update and got this back:

[code]

[2018-03-09 15:57] AlanCoding commented on #223
@dhartford I'm not sure why your example necessitates the use of "vaulted files" (I will use this term for consistency now) as opposed to vaulted variables. Your project may contain `inventory/group_vars/all.yml`.

Here, I made an example and will push it to my examples repo

[code]

https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/scripts/vault/file_value

Support for "va

[2018-03-09 16:04] itcrowdsource commented on #1494
postgres log, probably not related to this issue?

[code]

[2018-03-09 16:27] ghost commented on #1418
I am also getting the "multiple authentication backends configured "log. But I do see more than one in my settings/all. I am not sure how to remove the TACACSPlus, as I never configured that.

 "AUTHENTICATION_BACKENDS": [
        "awx.sso.backends.TACACSPlusBackend",
        "awx.sso.backends.SAMLAuth",
        "django.contrib.auth.backends.ModelBackend"
    ],

[2018-03-09 16:38] christoph-kluge commented on #1178
@matburt I have some more info for debugging purposes! I've updated the instances to

* ec2: m5.large (2 vCPUs, 8G ram)
* rds: db.m4.large (2 vCPUs, 8G ram)

but the error is still happening. After changing RDS logging to INFO (default: WARN) I found the following message:

After this error-message appears the task-container goes crazy and is not able to connect to the database anymore until I res

[2018-03-09 16:48] #1115 closed, assigned to jaredevantabor, marshmalien

[2018-03-09 16:59] ryanpetrello commented on #1482
At first glance, looks to me like a connectivity issue from the task container.  I'm going to go ahead and close out this issue since it relates to custom virtualenvs.

[2018-03-09 16:59] #1482 closed, assigned to nobody

[2018-03-09 17:49] shanemcd commented on #1494
Please take the time to properly format your logs using markdown. Surround them using 3 backticks.

[code]
    Like this
[code]

[2018-03-09 18:25] AlanCoding commented on #1421
The segfault seems to be pretty easy to create inside the tools_awx container

[code]

[2018-03-09 18:33] matburt commented on #214
Can you try this with the latest AWX version?

[2018-03-09 18:35] matburt commented on #312
I'm going to close this because the django upgrade hash appened. If this is still an issue let us know.

[2018-03-09 18:35] #312 closed, assigned to nobody

[2018-03-09 18:37] christoph-kluge commented on #1178
It seems that according to #709 it was enough for me to set the following `settings.py`. For me there was no need to update the SSL certificate. I will monitor this for some hours to see if the error occurs again and will let you guys know if this fixes the problem for us.

[code]

**Edit 1**

The issue is still existing. It seems that the worker fixes himself now and continues to work.

**Edit 2*

[2018-03-09 18:38] matburt commented on #335
No comment in 3 months, closing. Please provide more detail if you have it.

[2018-03-09 18:38] #335 closed, assigned to nobody

[2018-03-09 18:43] matburt commented on #477
Closing this issue since it doesn't have a direct solution from us.

[2018-03-09 18:43] #477 closed, assigned to nobody

[2018-03-09 18:44] matburt commented on #500
We did this with set_stats we need to do it here

[2018-03-09 18:45] matburt commented on #524
closing since no feedback and we think it's fixed

[2018-03-09 18:45] #524 closed, assigned to nobody

[2018-03-09 18:48] matburt commented on #533
ping did you ever try this?

[2018-03-09 18:52] matburt commented on #603
No comment in months, closing

[2018-03-09 18:52] #603 closed, assigned to nobody

[2018-03-09 18:53] #628 closed, assigned to nobody

[2018-03-09 18:56] #652 closed, assigned to nobody

[2018-03-09 19:02] AlanCoding commented on #558
I am still able to reproduce this.

[2018-03-09 19:22] ghost commented on #1418
I can get rid of the TACACS backend by adding this to my settings.py

AUTHENTICATION_BACKENDS = (
    'awx.sso.backends.SAMLAuth',
    'django.contrib.auth.backends.ModelBackend',
)
---
However with only those two backends, I am still getting the error:

2018-03-09 19:08:35,981 ERROR    django.request Internal Server Error: /sso/complete/
Traceback (most recent call last):
  File "/var/lib/awx/ven

[2018-03-09 19:29] wenottingham opened #1500 "RFE: coalesce activity stream entries into fewer entries"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

The activity stream is currently very fine-grained. While this allows detailed look at changes, this does lead to verbosity.

Many edits in AWX are a series of related changes - adding a user + associating it with an org/team. Adding a job template + adding a survey + adding permissions + adding notifications. An invento

[2018-03-09 19:55] AlanCoding commented on #1500
The activity stream does not show any activity related to creating hosts from inventory updates, nor would I expect it to.

I will see about confirming this, but if host-group entries are being generated from inventory updates, then those should simply be removed as a separate issue IMO.

EDIT: I cannot confirm that host-group associations from inventory updates show up, and I tend to think they d

[2018-03-09 19:58] wenottingham opened #1501 "Invalid JT warning misaligned"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

Create a JT.
Delete its project.

The warning market is misaligned.

![screenshot from 2018-03-09 14-55-44](https://user-images.githubusercontent.com/5208768/37227131-2dcbf126-23aa-11e8-81ee-14b7984b3544.png)

##### ENVIRONMENT
* AWX version: 1.0.4.64
* AWX install method: docker on linux
* Browser: Firefox 58.0.2

##### AD

[2018-03-09 20:00] wenottingham opened #1502 "Show 'invalid' marker on broken workflows"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

We have the new 'invalid' marker on job templates with missing components.

It should also show for:
- workflows with missing nodes (deleted JT, or deleted project/inventory that there was a sync node for)
- workflows with invalid JTs (as denoted by the existing invalid marker)

##### ENVIRONMENT
* AWX version: 1.0

[2018-03-09 20:04] matburt commented on #1494
fyi, The task container is the one that usually will have details on running jobs. The logs you showed most likely came from the web container logs.

[2018-03-09 20:07] wenottingham opened #1503 "Launch icon shown for invalid job templates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

![screenshot from 2018-03-09 15-05-32](https://user-images.githubusercontent.com/5208768/37227490-6f7d4b5a-23ab-11e8-975d-c5baf097d896.png)

The launch icon shouldn't be there. (It doesn't do anything if clicked.)

##### ENVIRONMENT
* AWX version: 1.0.4.64
* Web Browser: Firefox 58.0.2

##### ADDITIONAL INFORMATION

[2018-03-09 20:08] AlanCoding opened #1505 "Every single request with a token makes an activity stream entry"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Making a request using a PAT as authentication leaves an activity stream entry in its wake.

##### ENVIRONMENT
* AWX version: 1.0.4-171
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version: N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Use the branch

[2018-03-09 20:11] matburt commented on #1505
Sooo... probably shouldn't be *every* request.

[2018-03-09 20:15] wenottingham opened #1506 "Be able to sort projects by last updated"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

The 'Last updated' field of the project list isn't sortable. It should be.

![screenshot from 2018-03-09 15-13-52](https://user-images.githubusercontent.com/5208768/37227831-8b0ff1b4-23ac-11e8-9933-d1af4c9fb7c4.png)

##### ENVIRONMENT
* AWX version: 1.0.4.64

##### ADDITIONAL INFORMATION

Having it be sortable by revision

[2018-03-09 20:16] wenottingham opened #1507 "'Completed job' list is sorted by ID, not completed date"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

The 'completed jobs' list for a job template by default is sorted by ID. Sorting by 'completed date (newest first)' would be more useful with how people usually use it.

##### ENVIRONMENT
* AWX version: 1.0.4.64

##### ADDITIONAL INFORMATION

[2018-03-09 20:22] wenottingham opened #1508 "Workflow editor is not responsive"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

The workflow editor is not very responsive to all display sizes. It should be!

Sample mockup:

![image](https://user-images.githubusercontent.com/13351591/28885808-266cd05c-7785-11e7-9947-c46c1cc0580e.png)

##### ENVIRONMENT
* AWX version: 1.0.4.64
##### ADDITIONAL INFORMATION

[2018-03-09 20:25] wenottingham opened #1509 "'Jobs' view should have an activity stream link"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

When viewing the activity stream, you can click 'Jobs' on the filter to show job related entries.

Hence, the jobs panel should have an activity stream link that goes there (a la other pages).

##### ENVIRONMENT
* AWX version: 1.0.4.64

##### ADDITIONAL INFORMATION

[2018-03-09 20:34] simfarm commented on #1492
@matburt I'm seeing this too on Tower. I reproduced by launching a JT with `allow_simultaneous` fifteen times.

[2018-03-09 20:37] simfarm commented on #1492
We have excess IG capacity:
[code]

[2018-03-09 20:41] rooftopcellist commented on #1505
After talking with Alan, the issue seems to be that the "last_used" field is being updated, and as a result, that update is being added to the ActivitySerializer for that token.  I will look into removing this.  It is likely in the `activity_stream_update` in `signals.py`.

[2018-03-09 20:42] simfarm commented on #1492
Let me take a deeper dive.

[2018-03-09 20:52] itcrowdsource commented on #1494
Sorry, my mistake.. I chose the wrong container. Here is the log of the task container:

[code]

[2018-03-09 21:01] AlanCoding commented on #1505
I would process this special-case here

https://github.com/ansible/awx/blob/953850a0d7875b7a6d18f79ded5059a3083d52c5/awx/main/utils/common.py#L337

[2018-03-09 21:20] simfarm commented on #1492
@matburt This is what I've seen.
* Get Tower on OpenShift. Get five Tower pods.
* Create new instance group. Give this IG one of your Tower pods.
* Create JT with `allow_simultaneous` that sources this IG.
* Launch JT twenty times in rapid succession.

If you do this....
* I don't see more than four running jobs at any given point in time.
* Instance capacity isn't an issue (in my test case, perce

[2018-03-09 22:20] wenottingham opened #1513 "Provide fuller summary fields in activity stream for related job items"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

Consider the job activity stream entry:

[code]

Even through this is a `create` action, the job template is listed in the summary_fields.

Now consider groups, workflow nodes, and labels. These all objects which have a tight-coupling to a parent object. Consider WFJT node:

[code]

It puts the unified job template id in

[2018-03-09 22:27] wenottingham opened #1515 "Pass full AWX user as extra var"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

We pass `*_user_name` and `*_user_id` to jobs launched by a user. It could be useful to pass other
user fields (email, etc.) or perhaps the whole user structure.

##### ENVIRONMENT
* AWX version: any

##### ADDITIONAL INFORMATION

This should come with the understanding that fields beyond username/id are mutable by the u

[2018-03-09 22:31] wenottingham opened #1516 "Use select/prefetch_related for inherited models if it ever exists"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

Someday, django-polymorphic might implement https://github.com/django-polymorphic/django-polymorphic/issues/198.

If that glorious future comes to pass, we should use it.

##### ENVIRONMENT
* AWX version: any

##### ADDITIONAL INFORMATION

[2018-03-09 22:34] wenottingham opened #1517 "Figure out how to translate credential help text"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

The `help_text` of a credential type field is defined inside of the JSON definition of the fields in the database, getting translations for this is different from ordinary fields and will take extra work to solve.

This is only a problem for managed_by_tower credential types. Users will write help text for their custom t

[2018-03-09 22:37] wenottingham opened #1518 "Do credential validation for dependent fields in the UI"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Many credential types for built-in credentials have fields that are only valid if other fields are set (key passphrases for SSH keys, for example.)

Right now we validate on submission to the backend. The UI should do this validation in the UI where possible.

##### ENVIRONMENT
* AWX version: current
##### ADDITIONAL INFO

[2018-03-09 22:42] wenottingham opened #1519 "RFE: add support for a CORS policy"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

AWX currently sets no CORS policy. This means that all cross-origin requests from a browser are denied.

While secure (fail-closed), a user may want to build a frontend that talks to the API, and therefore conditionally allow some domain requests. This would require AWX to have a CORS policy that allows some user-configu

[2018-03-09 22:55] wenottingham opened #1520 "Smart search: add ability to edit query"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Right now when applying a search query, we remove the text from the search bar and add it to a tag. This makes it difficult to modify the search. A user currently has to:

- Copy the text from the tags
- Paste into search bar
- Modify the search
- Remove the currently applied tags

##### ENVIRONMENT
* AWX version: any

##

[2018-03-10 10:06] ewjoachim commented on #1418
The traceback points to:
[code]

My initial guess would be to extract the backend from the informations on the request and add it as `backend=` in the call ..?

Are you already on it, would it be useful if someone gave a look ?

Could it be related to 1c2621cd60d0e9c986c57236a6e9711d3ee2099f ?

[2018-03-11 12:45] rndmh3ro commented on #1469
Yes, via git scm.

This was the problem. There was no inventory source anymore. I guess when I deleted and recreated the project, the inventory source disappeared, too.
However before deleting the project the problem was also there. So I guess I did not have "Update on Launch" checked before.
Now with "Update on Launch" checked, it works.

I'm not sure about the behaviour that when deleting the pr

[2018-03-11 12:45] #1469 closed, assigned to nobody

[2018-03-11 15:14] GProst opened #1521 "TLS handshake timeout - TASK [local_docker : Activate AWX Task Container]"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
From time to time installation fails with the error (sometimes it installs successfully):
[code]

##### ENVIRONMENT
* AWX version: cloned from `devel` branch
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: RHEL

##### STEPS TO REPRODUCE
Running `ansible-playbook -i inventory insta

[2018-03-11 15:32] GProst commented on #1521
Noticed, that error can be different, this time it is:
[code]

[2018-03-11 15:52] GProst commented on #1521
Not sure if it is true in 100% cases, but if I clone AWX repo from `7984bd2824ddb5e77e13cddca13b94b54f591976` commit it seams to always install it successfully.

[2018-03-11 20:11] GProst commented on #1521
And also:
[code]

[2018-03-12 00:06] ricalenil commented on #885
This is working with mattermost option, but it would be more clean to add a teams option. Someone of Awx here?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-12 02:35] ghost commented on #1487
This would be really useful for troubleshooting, as I've been running into an issue where if the awx service is relaunched at an inopportune time, the new task host will never pick up jobs, but will show as active in the pool, causing everything to sit in pending indefinitely, with no obvious explanation.

I've not been able to narrow the exact cause, but I assume there must be some sort of lockin

[2018-03-12 06:25] Ompragash opened #1524 "RFE: Increase the pixel size to set up a custom logo in tower"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

  - UI

##### SUMMARY

Whenever custom logo is used, it is shrink-ed in Ansible Tower log-in window than the original size.

##### ENVIRONMENT
* AWX version: 1.0.0

##### STEPS TO REPRODUCE

Increase the pixel size for this variable `LoginModal-logoImage{max-width:` to 550px in this path
/var/lib/awx/public/static/css/app.css.

[2018-03-12 10:50] mrtsniper commented on #704
Hi
I encountered this issue and fix it by changing the awx_web and awx_tasks volumes  from
{{ project_data_dir }}:/var/lib/awx/projects:rw
to
{{ project_data_dir }}:/var/lib/awx/projects:z

[2018-03-12 11:35] akcrisp opened #1526 "RFE: - Finer RBAC Rules, Prevent Org admins from creating users in tower"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
We want to prevent Org admins being able to create local users within tower. All our controls are based around ldap groups. We want to prevent teams with their own orgs being able to create local users in awx, as this breaks our standard. We therefore need finer grained RBAC rules.

##### ENVIRONMENT
* AWX version:

[2018-03-12 11:59] youam commented on #1494
I think I do have the same error, and can reproduce it. I wasn't abled to get this going again, but I've got a backup of this instance, and so went back to my database backup from 2018-02-24 and tried restoring it onto awx 1.0.2. There, I was abled to run maintenance tasks and project updates, which did not succeed with today's database and latest awx. After I verified this database snapshot to be

[2018-03-12 13:43] #1354 closed, assigned to rooftopcellist

[2018-03-12 14:11] #462 closed, assigned to wwitzel3

[2018-03-12 14:11] #964 closed, assigned to wwitzel3

[2018-03-12 14:41] AlanCoding commented on #864
That was not the correct env var, we need

[code]

[2018-03-12 15:28] icsm2017 commented on #1492
@matburt So, It looks like it's a bug (critical for us). Is there a workaround in development ?

[2018-03-12 15:34] wenottingham commented on #1526
Pulling some things out of https://github.com/ansible/awx/issues/166 here:

Additional restrictions on the user model that would land here:

- prohibit manual team mapping adjustments at the org admin level
- and/or have a mapping just for an org

The idea is that:
- each organization has an LDAP configuration
- the org admin can then make team mappings for that organization from that config

[2018-03-12 15:35] wenottingham commented on #1526
Related comment: https://github.com/ansible/awx/issues/166#issuecomment-358012997

[2018-03-12 15:35] wenottingham commented on #166
@chrismeyersfsu @wwitzel3 think these last bits (LDAP mappings/user management) are better handled separately, tacked on to https://github.com/ansible/awx/issues/1526.

[2018-03-12 15:46] akcrisp commented on #1526
Ok but I don’t see that preventing an org admin from still creating local accounts in awx ?

As for each org having their own ldap mapping - again it would be useful if we can lock this down so that orgs admins can’t change it. We want the ability to be able to configure ldap for awx instances on behalf of app teams (each with their own orgs) and then prevent them from being able to change it. Whi

[2018-03-12 15:49] akcrisp commented on #1526
Hmmm #166 this send to relate to rfe I raised for tower where I pointed out it the ldap integration is far to reactive ie groups don’t appear until someone logs in.

Sent from my iPhone

[2018-03-12 15:53] rooftopcellist commented on #1367
This was fixed with https://github.com/ansible/awx/pull/1427

[2018-03-12 15:53] #1367 closed, assigned to rooftopcellist

[2018-03-12 18:13] awithrow9 commented on #706
@midekra can you tell us if you still see this with a more recent version?

[2018-03-12 18:14] #710 closed, assigned to ryanpetrello, marshmalien

[2018-03-12 18:22] awithrow9 commented on #728
I think we should then update documentation to require HTTPS

[2018-03-12 18:24] awithrow9 commented on #737
@koutido  can you let us know if you're still seeing this?

[2018-03-12 18:39] mcoakley opened #1532 "AWX Access to Git behind Proxy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
When setting up a project from a repo on GitHub (private or public) the sync of the repo fails. I believe this is due to the fact that the AWX is required to go through a proxy to get to the outside world.

##### ENVIRONMENT
* AWX version: 1.0.4.3.70
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Opera

[2018-03-12 18:47] wenottingham commented on #1118
Yes, if you're using a manual project it needs to be in both places.

[2018-03-12 18:47] #1118 closed, assigned to nobody

[2018-03-12 18:51] wenottingham commented on #756
see #1149

[2018-03-12 18:51] #756 closed, assigned to nobody

[2018-03-12 18:54] wenottingham commented on #1192
Fixed with https://github.com/ansible/ansible/issues/30877 + https://github.com/ansible/awx/pull/1253

[2018-03-12 18:54] #1192 closed, assigned to nobody

[2018-03-12 18:57] AlanCoding commented on #1192
The OP also mentioned a different bug from the group_vars, related to inheriting group vars from groups that are initially empty.

I touched base with Ansible core, current state of affairs is that there are no plans of fixing that.

[2018-03-12 19:03] ewjoachim commented on #728
Any solution will do as long as people like me don't get to spend hours manually editing the code inside their docker to understand what's wrong. Documentation, a proper error log, or explicitely disabling social auth on HTTP, any means will do :)

[2018-03-12 19:39] wenottingham commented on #1206
Note that the best workaround for this case is using `wait_for` or `get_url` tasks in Ansible waiting for a flag/port to be available that is set by your approval process.

[2018-03-12 20:14] wenottingham commented on #1532
Do you have a proxy configured with AWX_TASK_ENV? See 'Outbound proxy', here: https://www.ansible.com/blog/getting-started-adding-proxy-support

[2018-03-12 21:33] mcoakley commented on #1532
I did not have that set. The instructions provided via that blog are for an older version of Tower (I believe) as the method suggested is not accurate with AWX 1.0.4.3.70. I used this procedure:

In the lower left hand corner I clicked on the gear icon. I then selected the Jobs radio button under the Configure AWX heading. On that settings page I entered the suggested values into the Extra Environ

[2018-03-12 23:33] Labutin opened #1537 "Pagination problem in Hosts tab in Inventories"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Pagination problem in HOSTS tab in Inventories

##### ENVIRONMENT
* AWX version: 1.0.4.70
* AWX install method: docker on linux

##### STEPS TO REPRODUCE

1. Create 2 inventories
1. Add just one host to first inventory
1. Add hosts to second inventory enough to see pagination
1. Click to the second page
1. Return to first in

[2018-03-13 03:28] dkarakas1 commented on #286
Maybe we're doing this wrong but we find ourselves writing playbooks that talk to multiple platforms requiring different credentials to log in.  For example, I have a backup playbook that logs into the BIG-IPs in production and creates a backup.   Then either that playbook needs to scp from BIG-IP to the backup server, or in a separate play or role, the backup server needs to log into the BIG-IP t

[2018-03-13 05:05] sunithanair09 commented on #1462
This issue fixed after manually bringing up each of the docker container.
Basically  my awx_task  container was coming up even before the postgress container could be active. I'm not sure if this was the actual reason behind the issue but when i gave enough time and started each of the container it worked.

[2018-03-13 05:10] sunithanair09 commented on #1462
### However now I get a different issue.
I cant attach the awx_task container as I get the below error.

$ sudo docker attach 7c6ce469fdb1

2018-03-09 11:24:00,897 ERRO pool awx-config-watcher event buffer overflowed, discarding event 39

logs show the below o/p

[code]

[2018-03-13 07:07] rfabbris commented on #1294
We are facing the same issue, even with version 1.0.4. @Yiadh you managed to fix the problem?

[2018-03-13 08:48] itcrowdsource commented on #1494
@youam Not sure if that is the same problem. Your problem seems to be related to an upgrade that fails.

[2018-03-13 08:54] cesarfn4 opened #1538 "Launch the same or different job template based on one SCM project simultaneously"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
When the 'Delete on Update' and 'Update on Launch' options are activated in an SCM project, it should be possible to execute several different or the same playbook within one project.

The background is, that in our case each project is executed on 3 to 4 inventories. However, when I have only one inventory and start seve

[2018-03-13 09:09] Ompragash opened #1539 "RFE: Dynamically specify a tag version in the SCM project when executing the job template"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

We require a new feature which enables us to select a certain tag of the specified branch or a random tag (if no branch was specified) from all branches in the job template. This field must contain the "Prompt on Launch" option.

##### ENVIRONMENT
* AWX version: 1.0.0

[2018-03-13 09:09] aoyawale commented on #1524
tried to test this change but, it looks like increasing the size to 550px is too big and makes the page unable to scroll up & down. There might be something else that might need to be changed also.

[2018-03-13 13:49] AlanCoding commented on #497
Closing issue, as current implementation is the accepted behavior. Schedules (mentioned in title) are already addressed.

[2018-03-13 13:49] #497 closed, assigned to AlanCoding

[2018-03-13 13:58] wenottingham commented on #710
This should be fixed if you update to the latest build. Please try that out.

[2018-03-13 14:01] wenottingham commented on #1539
This is covered by https://github.com/ansible/awx/issues/282, there is actually no distinction between branch or tag.

[2018-03-13 14:01] #1539 closed, assigned to nobody

[2018-03-13 14:02] wenottingham commented on #1538
This is covered under https://github.com/ansible/awx/issues/282.

[2018-03-13 14:02] #1538 closed, assigned to nobody

[2018-03-13 14:04] wenottingham commented on #286
... how is this different than the existing custom credential type support? See https://www.ansible.com/blog/ansible-tower-feature-spotlight-custom-credentials and http://docs.ansible.com/ansible-tower/latest/html/userguide/credential_types.html

[2018-03-13 14:20] AlanCoding commented on #991
From what I was finding, there's no way this will work without some other substantial concessions made by Ansible core, and there's nothing on the horizon for this.

The YAML inventory format would give the correct types, but the structure would destroy the performance of our imports to make many large inventories unusable, even assuming the importing algorithm is updated correctly.

[2018-03-13 14:20] #991 closed, assigned to AlanCoding

[2018-03-13 14:59] doronshai opened #1540 "Console Output lines are in wrong order when there is more than 1000 lines"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When I run playbook with long log output, the lines order is getting wrong and it is not usable which is SEVERE issue as I do not able to know what was done and what is the exact result.

##### ENVIRONMENT
* AWX version: 1.0.1.81
* AWX install method: docker on linux
* Ansible version:  Ansible 2.4.0.0
* Operating System: Ub

[2018-03-13 15:14] beloniki commented on #606
Version AWX 1.0.3.41 still wipes database.
STEPS TO REPRODUCE: reboot machine.
Docker on linux.
Operating System: debian.
Ansible 2.4.3.0.

[2018-03-13 16:06] AlanCoding commented on #1290
solved with https://github.com/ansible/awx/pull/1330

[2018-03-13 16:06] #1290 closed, assigned to nobody

[2018-03-13 16:07] #1167 closed, assigned to AlanCoding

[2018-03-13 16:37] krispayne commented on #116
Before I attach the ad nauseum logs from awx_task repeating the celery failure every 10 seconds, is there some sort of persistent data directory for the database that should be removed/moved during a re-install even if you're not using the postgres docker container? I rebuilt my setup because the postgres container would constantly restart and setup a separate host for postgres and when I install

[2018-03-13 17:29] matburt commented on #1532
can you try setting these when installing?

https://github.com/ansible/awx/blob/devel/installer/inventory#L84-L87

[2018-03-13 17:50] matburt commented on #1492
closing since #1534 merged

[2018-03-13 17:50] #1492 closed, assigned to chrismeyersfsu

[2018-03-13 17:51] matburt commented on #1294
This should be fixed with #1534

[2018-03-13 17:51] #1294 closed, assigned to matburt

[2018-03-13 17:52] matburt commented on #196
This was implemented with the clustering merges.

[2018-03-13 17:52] #196 closed, assigned to matburt

[2018-03-13 18:42] mcoakley commented on #1532
I had http_proxy and https_proxy defined originally. I just added settings for no_proxy. I stopped all of the awx containers and then re-ran the install steps. The issue still persists.

[2018-03-13 19:48] jakemcdermott opened #1545 "500 error when attempting to open the workflow editor"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
- attempting to open the workflow editor in the UI results in a 500 error being displayed to the user.

##### STEPS TO REPRODUCE
- create a workflow job template
- open the edit panel for the workflow job template
- click the "workflow editor button"

##### EXPECTED RESULTS
- the workflow editor becomes visible

##### ACTUA

[2018-03-13 19:52] jakemcdermott opened #1546 "500 error when attempting to delete an inventory script"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
- attempting to delete an inventory script through the UI results in a 500 error being displayed to the user.

##### STEPS TO REPRODUCE
- create an inventory script
- attempt to delete the inventory script by clicking the trashcan delete icon

##### EXPECTED RESULTS
- the inventory script is deleted or the delete prompt is

[2018-03-13 19:53] matburt commented on #1462
That's not actually an error, fwiw... I mean it is, but it won't prevent you from attaching and it doesn't look like it is preventing you from attaching if you see the output from it there.

[2018-03-13 19:55] matburt commented on #116
If you are managing the database externally then you'll need to drop and re-create the database and let AWX run the migrations... otherwise you're just using the same data.

[2018-03-13 19:57] matburt commented on #1532
Not sure what's up then. I don't have access to a proxy offhand so if you can dig up some more information that'll be helpful.

[2018-03-13 19:58] krispayne commented on #116
Yes I do that in place of removing the postgres container. Each time I run the installer.yml I am starting with a brand new database. I remove the docker images with `docker rmi $(docker kill $(docker ps -aq))`

I've just downloaded a fresh copy of 1.0.4 (instead of cloning the repo). We'll see how it goes!

[2018-03-13 20:03] krispayne commented on #116
- I did nothing different, except instead of cloning the repo (per install.md) I downloaded the 1.0.4 tarball and untarred it. I am able to reach the login screen now, instead of migrating. -

Actually, I failed to list my external hostname, so it created a postgres docker :-/.

When I'm setting up the external one (with another freshly dropped/created database) I get the celery errors repeating a

[2018-03-13 20:07] matburt commented on #116
What tarball are you talking about?

[2018-03-13 20:17] krispayne commented on #116
The 1.0.4 tar from https://github.com/ansible/awx/releases

[2018-03-13 20:46] ghost commented on #1418
Thank you. It looks like that commit is what adds the troublesome line in views.py. I thought I had seen other users that are able to use SSO. I would be interested in having someone take a look if possible.

[2018-03-13 21:37] bsclark opened #1547 "WebUI User variable not available in Job runs."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
WebUI User variable not available in Job runs.

##### ENVIRONMENT
* AWX version: 1.0.2.327
* AWX install method: docker on linux
* Ansible version:  2.4.2.0

##### ADDITIONAL INFORMATION
Email to Forum resulted in the following exchange, prompting me to open an issue. Transcript:

Matthew Jones <majones@redhat.com>

At one t

[2018-03-13 21:43] jalphonso opened #1548 "docker-compose initial install issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
During initial install when using Docker Compose, the awx_web container starts too early and the UI doesn't load properly.

##### ENVIRONMENT
* AWX version: master
* AWX install method: docker for linux
* Ansible version:  2.4
* Operating System: Ubuntu/CentOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

docker-c

[2018-03-13 21:59] jalphonso opened #1549 "Add SSL Termination to standalone docker deployment"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY
Add support for SSL

##### ENVIRONMENT
* AWX version: Master
* AWX install method: docker for linux
* Ansible version:  Master
* Operating System: Linux
* Web Browser: Any

##### STEPS TO REPRODUCE
Use HAProxy for SSL Termination
Add HAProxy container to docker-compose.j2
https://github.com/jalphonso/awx/blob/7f3b

[2018-03-14 00:58] ghost commented on #1418
Hey Thanks again for the tip. I changed that line to

and it's logging me into Okta. It's just taking me back to the login page so I think I have another problem... But that solved this issue.

[2018-03-14 00:59] matburt commented on #1515
implemented in #1542

[2018-03-14 00:59] #1515 closed, assigned to matburt

[2018-03-14 01:02] matburt commented on #322
Implemented in #1544

[2018-03-14 01:02] #322 closed, assigned to matburt

[2018-03-14 04:16] cchurch commented on #1500
Inventory updates *should* only show in activity stream when `ACTIVITY_STREAM_ENABLED_FOR_INVENTORY_SYNC` is true, default is false.

[2018-03-14 07:49] ewjoachim commented on #1418
Yes but it only works if your backend was SAML. My backend is GitHub, so setting it to SAML won't do :)

[2018-03-14 08:47] jffz opened #1550 "Relaunch task is not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

Restarting a task by clicking the 'rocket' ask to chose beteen 'fail' and 'all'.
Doesn't matter which one we pick, it end saying <choice> is not a correct choice.
##### ENVIRONMENT
* AWX version: 1.0.4.70
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: CentOS 7.4
* Web Browser: Chrome /

[2018-03-14 10:14] Yiadh opened #1551 "Unable to create inventory source based on custom script"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
I am unable to create inventory source based on custom script.
For previous versions (<=1.0.4.0), it is working fine. Now I am facing the following error while using the version 1.0.4.83

![image](https://user-images.githubusercontent.com/30578850/37396035-079db102-2778-11e8-90d8-5baac97b9297.png)

##### ENVIRONMENT

[2018-03-14 10:39] FloThinksPi commented on #1120
I got behind my error here. I included the awx repo as submodule in my deployment wrapper. However the awx folder gets included in the sdist builder image. But when using a submodule, the .git folder is in the main repo, not in the submodule folder. this resultet in the sdist container saying, /awx was not a git repo and failing to determen the awx version via git commits. so i cahanged my setup s

[2018-03-14 10:49] pandino opened #1553 "Unable to login when password contains an ampersand"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

  - UI

##### SUMMARY

When creating an user, her password can contain any character. However if it contains an ampersand (&) she is unable to login. I initially found this problem because I had LDAP login issues but I think the issue is in the login form that sends the password unescaped:

`username=test&password=change&me&csrfmiddlewaretoken

[2018-03-14 11:24] #864 closed, assigned to AlanCoding

[2018-03-14 12:31] AlanCoding commented on #1551
Likely duplicate of #1545

[2018-03-14 12:45] mkempster22 commented on #1553
I think this may be apparent with other characters as well. I had set a user password with these characters in it:  ,#];[  And one of these caused the same issue you were having, interestingly the same user on my production awx server, which is on an older version of awx, had that password and could log in

[2018-03-14 12:52] #1305 closed, assigned to matburt

[2018-03-14 13:11] #1545 closed, assigned to AlanCoding

[2018-03-14 13:11] #1546 closed, assigned to AlanCoding

[2018-03-14 13:56] marshmalien opened #1555 "Multiselect checkboxes won't uncheck in permissions modal"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### STEPS TO REPRODUCE
* Navigate to Users tab
* Select a user
* Click `Add Permissions` button
* Under any resource tab, select checkboxes to add resources
* Deselect checkboxes

##### EXPECTED RESULTS
* Checkbox is deselected

##### ACTUAL RESULTS
* Checkbox stays selected

##### SUMMARY
![2018-03-14 09_24_33](https://user-images.gith

[2018-03-14 14:16] #352 closed, assigned to ryanpetrello, jakemcdermott

[2018-03-14 14:41] seafoodbuffet opened #1556 "AWX UI no longer appears to refresh automatically"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The AWX UI doesn't appear to refresh for on-going tasks. For example, starting a job, the job always remains at pending unless you manually refresh the page.

##### ENVIRONMENT
* AWX version: 1.0.4.70
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: RHEL7 Docker
* Web Browser: Chrome and

[2018-03-14 14:55] ryanpetrello commented on #1553
I'm able to reproduce this in the UI login, but not with basic auth.

[code]

OAuth2 personal token acquisition also seems to work fine; this looks like it's strictly a UI issue to me.

[2018-03-14 14:56] ryanpetrello commented on #1553
![screen shot 2018-03-14 at 10 56 19 am](https://user-images.githubusercontent.com/214912/37410143-56e8b416-2776-11e8-9939-fc19eb689086.png)

The request sent by the UI is building the form-encoded data string unescaped.

[2018-03-14 15:29] #1553 closed, assigned to jlmitch5

[2018-03-14 15:30] jlmitch5 commented on #1553
@Pandino fixed in devel, thanks for bringing to our attention!

[2018-03-14 15:40] seafoodbuffet opened #1559 "AWX doesn't appear to be updating roles based on requirements.yml"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
AWX never seems to recognize our custom requirements.yml no matter where we place it.

##### ENVIRONMENT
* AWX version: 1.0.4.70
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: RHEL 7
* Web Browser: Firefox and Chrome

##### STEPS TO REPRODUCE
Place a requirements.yml file in <project_ro

[2018-03-14 16:18] brace01 opened #1561 "Non-Required Multiple Choice (single select) field blocks survey from being submitted"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
We have many surveys with Multiple Choice (single select) fields.  On every one of these surveys the 'Next' button is greyed out (disabled) and we cannot submit the survey to run the play.  If a value is selected within these Multiple Choice (single select) fields (even though they are not marked as required) the drop down

[2018-03-14 16:19] brace01 commented on #1561
OS:  CentOS 7

[2018-03-14 16:21] brace01 commented on #1561
Might be related to https://access.redhat.com/solutions/2991531 ?

[2018-03-14 16:25] wenottingham commented on #1559
This is known and expected behavior.

Because of clusters, we have a two-stage SCM process.

1. The 'update' job, which updates the revision for the configured branch. This runs once, on whatever node it gets assigned to. It is done manually, or triggered by update-on-launch

2. The 'checkout' or 'run' job, which actually checks out the SCM before running the job. This happens on whatever node the

[2018-03-14 16:25] #1559 closed, assigned to nobody

[2018-03-14 16:26] wenottingham commented on #1559
For 'roles outside of the root directory', see https://github.com/ansible/awx/issues/106

[2018-03-14 16:44] qsnyder commented on #1532
@mcoakley -- when adding the `no_proxy` flag -- how are you defining the exemptions?  I've been digging (personally) as I require an outbound proxy support.  However, I need to exempt large CIDR blocks and I'm worried that the proxy exemption is done using standard `/etc/environment` using individual IP address exemptions (which won't scale in my environment).

[2018-03-14 16:53] brace01 commented on #1561
We noticed there was a small blank value in the drop down without an ID (see the top `<li>` node):

[code]

[2018-03-14 17:13] wenottingham commented on #1561
Is there a traceback in the browser console?

[2018-03-14 17:59] mcoakley commented on #1532
@qsnyder unfortunately for your question I don't have any insight. I am currently only listing internal domains and not using any IP address exemptions.

[2018-03-14 18:11] qsnyder commented on #1532
@mcoakley -- no worries.  It was more of a comment on how your exceptions were being defined.  By domain (in theory) should work.  To get around this (its super hacky) is a Vagrant machine running AWX that relies on the global proxy settings for the host in NAT networking, but my use-case is completely different.

[2018-03-14 18:46] brace01 commented on #1561
Here's my console output from the developer tools within FireFox.  Let me know if you need more data.

[code]

[2018-03-14 18:48] brace01 commented on #1561
The specific dropdown (non required field and doesn't have a *) goes from this:

First load, untouched:
[code]

And after selecting a field:
[code]

[2018-03-14 18:58] rooftopcellist commented on #1421
The segfault can also be reproduced by running `awx-manage`, which also explains why this botches the whole app.  Also, the segfault is sticky, once it happens once, you have to clear the container completely and start it again.

Adding the `-DXMLSEC_NO_SIZE_T` flag to `the_flags` variable in  `/usr/bin/xmlsec1-config` fixes this in CentOS.  This will allow us to update to python-saml 2.4.0.

[2018-03-14 19:40] krispayne opened #1564 "Installing from 1.0.4 tar doesn't install awx 1.0.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY

When trying to troubleshoot why every install either fails with a task constantly restarting for several hours (841, 116, 679, 623, 1188) or dies after a week or so (677, 1299) I decided to start completely fresh and install from a github release tar: https://github.com/ansible/awx/releases/tag/1.0.4. After I install

[2018-03-14 20:12] krispayne commented on #1564
This also occurs if you git clone, move out of the default devel branch, checkout the 1.0.4 branch and install from there, too.

[code]

About on the AWX web interface shows AWX 1.0.2.307

[2018-03-14 20:16] luisico commented on #1548
I'm seeing exactly the same behavior when trying to install with docker-compose.

Although @jalphonso solution works, conditions on `depends_on` have been removed in version 3 and this solution might need revisiting later on. I found this nice explanation about treating startup "disorders" in containers (see https://docs.docker.com/compose/startup-order/) and started looking at the examples mentio

[2018-03-14 20:52] soumikgh commented on #1488
From what I can fathom, the nginx catch-all server name is _, and it's binding to port 8052, and somehow this is getting passed as the HTTP_HOST. I did a tcpdump and nothing seems out of the ordinary.

[2018-03-14 20:58] #1477 closed, assigned to mabashian

[2018-03-14 21:58] #1421 closed, assigned to nobody

[2018-03-15 00:36] Zoulf666 opened #1565 "How to get a native SQL statement？"
How to get the native SQL statement？

[2018-03-15 08:45] AMHAnsible9 opened #1566 "AWX throws templating error when using a template to set a variable value under set_fact method"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

When using the set_fact method and the variable to set involves using a template, AWX intermittently throws the following templating error:

`"msg": "Unexpected templating type error occurred on ({{ ((dir_output.stdout_lines[0])[-1] | regex_search(regexp,'\\\\g<fs>') | list)[0] | int }}): 'NoneType' object is not i

[2018-03-15 10:33] ewjoachim opened #1567 "Possible memory leak in uwsgi ?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
My machine running AWX has 4GB. When process start, everything is well. After a few hours/days, the web docker is filling up the RAM and random processes OOM (usually tasks because celery creates and deletes workers all the time)

If I restart the `web` docker, I'm good again for a few hours.

##### ENVIRONMENT
* AWX vers

[2018-03-15 10:58] themr0c opened #1568 "installer/kubernetes/templates/deployment.yml.j2 cpu and memory mismatch + limit supported only with apiVersion: extensions/v1beta2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY

in installer/kubernetes/templates/deployment.yml.j2

issues introduced with following commit https://github.com/ansible/awx/commit/b0cf4de07224902992de5ad9bb957cd94855f759#diff-d975205ae64de1b20726919b50ffcc75

- limits are only supported since apiVersion: extensions/v1beta2
- cpu and memory mismatch on lines 55-59

[2018-03-15 11:07] AlanCoding commented on #1421
Is the monkey patch still needed?

[2018-03-15 11:18] arjunnambiartc commented on #1156
@RealLittleSherman ..I encountered the same error..how did you fix it..

[2018-03-15 11:36] themr0c commented on #1568
in installer/kubernetes/templates/configmap.yml.j2 also this:

[code]

[2018-03-15 11:37] senselt commented on #989
@ghjm as someone who has a tower license already; i'd also like to see AWX opened up for install without containerization. It seems, based upon this thread at least, my fears about AWX were not unfounded. I realize your company needs to make a profit, of course, we all do. But, if you're going to use AWX as a marketing tool to push tower on people; can you at least be a little more forthcoming abo

[2018-03-15 11:50] #1551 closed, assigned to nobody

[2018-03-15 13:05] shanemcd commented on #1568
We'd appreciate a PR with the changes you've suggested.

[2018-03-15 13:44] themr0c commented on #1568
Sorry my intention was not to be condescending. Installer was working yesterday, it is broken today. After fixing it, an awx instance that was running yesterday on a kubernetes cluster with small nodes with 2 cpus and 4 Gi of memory cannot start anymore today, it is quite frustrating. I spent the morning to search for solutions to get it working again, and I try to help by pushing back my findings

[2018-03-15 14:15] themr0c commented on #1568
wrong analyse from me, the issue with limt is not apiVersion, but that it should be limits (with an s).

[2018-03-15 15:27] aoyawale commented on #1524
if the pic is bigger than 379 x 432 after changing `LoginModal-logoImage{max-width:` to 550 it breaks scrolling on the page.

[2018-03-15 16:54] ryanpetrello commented on #1565
@Zoulf666 if you've got questions about working with or debugging awx, please check out the #ansible-awx IRC channel on Freenode or the awx mailing list: https://groups.google.com/forum/#!forum/awx-project

[2018-03-15 16:54] #1565 closed, assigned to nobody

[2018-03-15 17:20] wenottingham commented on #1566
This appears to be an issue with Ansible, not Tower. Please file at https://github.com/ansible/ansible, or reopen if it's something specific to Tower.

[2018-03-15 17:20] #1566 closed, assigned to nobody

[2018-03-15 17:44] wenottingham commented on #989
AWX is absolutely not a marketing tool for Tower any more than Rawhide is a marketing tool for Red Hat Enterprise Linux... it's just the upstream development repository.

[2018-03-15 18:21] matburt commented on #1568
alrighty I think I have this fixed up in #1571 ... check it out and let me know what you think.

[2018-03-15 18:21] #1568 closed, assigned to matburt

[2018-03-15 18:34] kfox1111 opened #1578 "upgrade etcd"
https://github.com/ansible/awx/blob/devel/installer/kubernetes/templates/etcd.yml.j2
Points to:
elcolio/etcd

This is a very old version of etcd. Can it be templated so you can specify your own value? Should it default to:
https://quay.io/repository/coreos/etcd?tag=latest&tab=tags

Does it work with etcd3?

Also it looks like its not maintaining state. Is it just used for locking? Is it safe to de

[2018-03-15 18:44] kfox1111 opened #1579 "add more flexibility to kubernetes service definitions"
The awx service is hardcoded to to be of type NodePort. In my case I would like to export it through ingress. Can service.type be made a variable so nodeport can be disabled when not desired?

Ingress is also not configurable. I have multiple ingress controllers at one of my sites and need to specify annotations to bind it to a particular one.

The deployment also needs support for specifying a no

[2018-03-15 18:46] kfox1111 commented on #1579
Oh. a toleration section would be useful too. That would let you land it on controller nodes.

[2018-03-15 19:27] rooftopcellist opened #1581 "RefreshToken created for Implicit App"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
When an access token is made for an implicit grant, a refresh token should not be made.  This may be done correctly at the `api/o/token` endpoint, but needs to be fixed at the `api/v2/tokens`, `api/v2/applications/N/tokens`, and `api/v2/users/N/authorized-tokens`.

Based on: https://docs.microsoft.com/en-us/azure/active-d

[2018-03-15 19:35] shen3lu4 opened #1582 "SCM update in Demo Project failed with "permission denied" error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Installed AWX in kubernetes successfully. Tried to run SCM Update with the out-of-box Demo Project and received a Permission denied error.

##### ENVIRONMENT
* AWX version: dockerhub version 1.0.3
* AWX install method: kubernetes
* Ansible version: 2.4.0.0
* Operating System: Oracle Enterprise Linux 7.4
* Web Brows

[2018-03-15 19:37] rooftopcellist opened #1583 "Implicit Public Apps can't create tokens on Curl"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Token creation for Applications with the implicit grant type that are public type form the `api/o/tokens` endpoint currently does not work.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Br

[2018-03-15 19:53] AlanCoding opened #1584 "UI badly represents API active jobs error message"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Resources deleted while jobs are running throw an error

the UI shows this badly

##### ENVIRONMENT
* AWX version: 1.0.4-258-g2640ef8b1c
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create an inventory source that runs a script that sleeps for 5 mi

[2018-03-15 19:56] rooftopcellist commented on #1583
It turns out this functions properly, it is just done at the authorize endpoint.
 I will make this clear in the docs with an example:

Example:
[code]

[2018-03-15 19:56] #1583 closed, assigned to rooftopcellist

[2018-03-15 19:56] chrismeyersfsu commented on #1584
As a result of this change https://github.com/ansible/awx/pull/1536

UI folks, the return payload for resources that have running jobs has changed. We will return 409, but the payload `conflict` key has changed to `error` to be more in line with our normal error returns.

[2018-03-15 20:53] badstreff commented on #1556
seeing this issue as well

[2018-03-15 20:57] tmidi commented on #1532
@mcoakley did you try to disable Selinux:
`setenforce 0`
If this resolve your issue, then you need to change SELinux context on /var/lib/awx :
` chcon -R -t svirt_sandbox_file_t /var/lib/awx/`

[2018-03-16 08:05] tobgen commented on #1494
I have a similar issue, but, all my jobs are stuck in a pending state:
Running in docker, the latest images as todays date.
[code]

[2018-03-16 09:16] stephan2012 commented on #1434
There seems to be a [suitable module available](https://github.com/stnoonan/spnego-http-auth-nginx-module) for Nginx and it is mentioned as [3rd party module](https://www.nginx.com/resources/wiki/modules/) by Nginx but unfortunately it isn't shipped by Nginx and RHEL7/CentOS 7.

[2018-03-16 09:18] kasuke5 commented on #1564
same here, on ubuntu VM 17.02, I tried re install but it keep doing the same. I let the ``docker logs -f awx_task`` for days now... Don't work at all. All I have is the favicon when I access the webpage, not the angry potato

[2018-03-16 09:56] techwavedev commented on #1582
It also doesn't work on docker deployment

[2018-03-16 11:34] lukasmrtvy opened #1585 "Demo Project cannot be deleted. Official Docker images - 1.0.4.97"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Demo project can not be deleted from Projects on fresh deploy of AWX  1.0.4.97 from Docker hub official images.

Logs from awx_web container:
https://pastebin.com/9QDS84Sf

##### ENVIRONMENT
* AWX version: 1.0.4.97
* AWX install method: docker linux
* Operating System: Docker

##### STEPS TO REPRODUCE

1. run awx s

[2018-03-16 11:42] tobgen commented on #1585
Same issue in AWX 1.0.4.96

[2018-03-16 11:48] wwitzel3 commented on #1585
Looks like one of the model classes didn't receive the new mixin `RelatedJobsMixin`

[2018-03-16 12:32] wwitzel3 commented on #1585
I was wrong, mixins were properly applied, the view logic looks for the `get_active_jobs` method on the Project itself, so we need to collect that information from the project_updates related to it. PR up with fix.

[2018-03-16 12:42] ryanpetrello commented on #1567
Thanks for reporting this; could we see the `top` output?

[2018-03-16 12:46] ewjoachim commented on #1567
Yep. In the meantime, I've modified the supervisor configuration to only spawn 3 processes instead of 5 and limit their max requests to 100 instead of 1000 so the problem may be harder to see, but I'll let you know.

[2018-03-16 12:53] Glutexo commented on #1585
Just to clarify for further readers, this applies to any project, not just the Demo one.

[2018-03-16 13:12] ryanpetrello commented on #1567
@ewjoachim could you share what you specifically changed in the supervisord config file?  Thanks!

[2018-03-16 13:50] shanemcd commented on #1564
Did you set `dockerhub_version` in the inventory file? If you just left it at `latest`, that's likely your problem. You'll need to delete your images so the installer re-pulls them or pull them manually.

[2018-03-16 13:58] #1585 closed, assigned to wwitzel3

[2018-03-16 14:05] krispayne commented on #1564
Why not have a tagged release version not set to latest `dockerhub_version` and set to the tagged release instead?

If I set that, I get different results. Instead of a working web interface with an old version, I get an endless ‘migrating’ stream.

Each time, it is installed fresh, no prior data. (outside of the one time I tested an upgrade)

[2018-03-16 14:33] soumikgh commented on #1488
I fixed this by hardcoding the server_name to the hostname.

[2018-03-16 14:33] #1488 closed, assigned to nobody

[2018-03-16 14:34] ewjoachim commented on #1567
Yep. I'm deploying with (ansible and) Docker Compose.
I've written a copy of `supervisor.conf` as a template in my deployment script, which I've modified this way:

[code]

I've added
[code]

And in my inventory:
[code]

And finally, in my docker-compose.yml.j2
[code]

[2018-03-16 14:44] shanemcd commented on #1564
Apologies for the confusion. We'll look into handling this better.

re: Migrations. You'll need to delete your database and start over. It's not the data causing the issue, it's changes to the underlying models. This has been discussed in other issues and on the awx mailing list.

[2018-03-16 14:44] #1564 closed, assigned to nobody

[2018-03-16 14:48] soumikgh opened #1588 "Github Team/Organisation authentication gives a 502"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Github Team/Organisation authentication gives a 502 with Django error - "You have multiple authentication backends configured and therefore must provide the `backend` argument or set the `backend` attribute on the user." The user is authenticated, but isn't able to log in to AWX.

##### ENVIRONMENT
* AWX version: 1.0.4.62

[2018-03-16 15:38] eviln1 commented on #79
Hi,
It would be awesome if there was a support for Grafana Annotations (http://docs.grafana.org/http_api/annotations/)

The easiest form would be basically a webhook with more features: allow selection the http method, and a field where I could write the POST payload as a Jinja template, and substitute some variables.

[2018-03-16 15:39] ryanpetrello commented on #1567
Perfect - thanks!  Some folks on the awx core team are attempting to reproduce this.

[2018-03-16 15:58] 01100010011001010110010101110000 opened #1589 "Azure dynamic inventory breaks for VMs with win_rm listeners set"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - `azure_rm.py` dynamic inventory

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.4
* AWX install method: docker
* Ansible version:  2.4.2
* Operating System: CentOS 7.4
* Web Browser: Chrome

##### STEPS TO REPRODUCE
 Run Azure inventory against a subscription containing a VM with a `win_rm` listener set

##### EXPECTED RESULTS
A JSON d

[2018-03-16 16:09] wenottingham opened #1590 "radio buttons are googly eyes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

![screenshot from 2018-03-16 12-04-15](https://user-images.githubusercontent.com/5208768/37531479-adb5e960-2912-11e8-9442-540943cf30f2.png)

##### ENVIRONMENT
* AWX version: 1.0.4.97
* AWX install method: docker-compose
* Web Browser: Firefox 59.0

##### ADDITIONAL INFORMATION

[2018-03-16 16:10] jaredevantabor commented on #1556
@seafoodbuffet @BadStreff Can you try clearing your cookies and trying again?

[2018-03-16 16:10] wenottingham commented on #1434
We don't use the web server for authentication.

[2018-03-16 16:25] matburt commented on #1578
I'd be fine trying out the upgrade to the latest coreos etcd2... I'm not sure if etcd3 works.

We use etcd2 to drive rabbitmq autoclustering so it's pretty important. If you remove the etcd2 pod entirely then the rabbitmq services will not be able to cluster together and things will break in fantastic ways.

[2018-03-16 16:27] matburt commented on #1579
This sounds like a good idea, and I'm fine with a PR that extends the service definitions to support these things.

[2018-03-16 16:35] kfox1111 commented on #1578
Is rabbit the only user of etcd?
If thats the case, how about:
https://www.rabbitmq.com/cluster-formation.html#peer-discovery-k8s?

It would completely eliminate a source of redundant state.

[2018-03-16 16:41] wenottingham commented on #1590
Appears to be browser-specific (here's Chrome):

![screenshot from 2018-03-16 12-40-47](https://user-images.githubusercontent.com/5208768/37533106-5a4a9bd6-2917-11e8-95f2-608b39b17575.png)

[2018-03-16 17:07] tuxcrafter commented on #223
I am using AWX 1.0.4.97 and I am new to AWX.

I am trying to use AWX to run my playbook that is is fully in an mercurial version repository (playbooks, inventory, roles etc)

I have a vault file ansible/group_vars/all/vault.yml with "$ANSIBLE_VAULT;1.1;AES256"

I configured a vault credential with the password, a machine credential with ssh private key.

When I try to run an template that has the

[2018-03-16 17:19] matburt commented on #1578
Yes! This is interesting... we'll have a look. Whatever we do would need to work for both Openshift and Kubernetes

[2018-03-16 17:21] AlanCoding commented on #277
current direction - leaving vault out

[2018-03-16 17:22] ewjoachim commented on #1567
Just to be clear, the OOM problem was *before* I changed the `supervisor.conf`. Now that it's changed, the problem is most probably still there, but less visible (of course, the server is capable of handling a lot less requests now)

[2018-03-16 17:26] matburt commented on #1578
We'll need to upgrade our rabbitmq image since this relies on 3.7 rabbitmq clustering.

[2018-03-16 18:25] tvo318 opened #1592 "Help Text not rendering correctly"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Help text in Key doesn't render correctly:
![image](https://user-images.githubusercontent.com/7514801/37536505-57a5580a-2910-11e8-85ec-694e7b8ecd1a.png)

##### ENVIRONMENT
* AWX version: Tower 3.3.0.435
* AWX install method: spun dev instance from engineering gce job template
* Ansible version: Ansible 2.4.2.0
* Operating Syste

[2018-03-16 18:54] #1452 closed, assigned to nobody

[2018-03-16 19:12] awithrow9 commented on #1246
@maerlynn Can you retest with the latest?

[2018-03-16 19:14] AlanCoding opened #1594 "Cannot delete token"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### STEPS TO REPRODUCE

DELETE `/api/v2/tokens/N/`

##### EXPECTED RESULTS

204

##### ACTUAL RESULTS

[code]

##### ADDITIONAL INFORMATION

[2018-03-16 19:17] awithrow9 commented on #1256
Let's double check that this is properly marked for translation.

[2018-03-16 19:18] soloman747 opened #1595 ""&" symbol in password"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Passwords that have the "&" symbol fail.

##### ENVIRONMENT
* AWX version: 1.0.4
* AWX install method: docker on linux
* Ansible version:  2.4.3
* Operating System: Centos
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create an administrator password with ampersand "&" symbol and try to log into the UI

##### EXPECTED

[2018-03-16 19:19] rooftopcellist commented on #1594
I don't see bug this on the latest devel. This should go away if you clear out your db and restart your container.  It is occurring as a result of some migrations I did when OAuth2 merged.

[2018-03-16 19:19] wenottingham commented on #1595
-> https://github.com/ansible/awx/issues/1553

[2018-03-16 19:19] #1595 closed, assigned to nobody

[2018-03-16 19:20] aoyawale commented on #1256
i'll start fixing this once we have the system we are going to use for translation.

[2018-03-16 19:24] #1594 closed, assigned to nobody

[2018-03-16 19:25] wenottingham commented on #1273
I think you should be able to use https://github.com/ansible/awx/pull/1552 to solve this instead. Let us know if that doesn't work for you.

[2018-03-16 19:25] #1273 closed, assigned to chrismeyersfsu

[2018-03-16 19:45] ghjm commented on #1416
@rooftopcellist If the fix is merged, should this be closed now?

[2018-03-16 19:48] ghjm commented on #1419
We don't have docs for AWX versions, so I guess docs links always needs to go to latest when running in AWX.

[2018-03-16 19:52] rooftopcellist commented on #1416
@ghjm It is not, that was a preliminary PR to hide the client_secret in the serializer, it does not yet encrypt it in the db.  This needs to remain open.

[2018-03-16 19:54] wenottingham commented on #1584
-> https://github.com/ansible/awx/issues/1295

[2018-03-16 19:54] #1584 closed, assigned to nobody

[2018-03-16 19:54] awithrow9 commented on #1476
Looks like a dupe of #1295

[2018-03-16 19:54] #1476 closed, assigned to nobody

[2018-03-16 19:59] awithrow9 commented on #1483
please retest :-)

[2018-03-16 20:02] wenottingham commented on #1521
This sounds like an issue with your local docker setup; this is working for us. Please reopen if you have more details.

[2018-03-16 20:02] #1521 closed, assigned to nobody

[2018-03-16 20:08] AlanCoding commented on #1584
That might not be the exact same bug, because this is the inventory source list page, and that one was the inventory source edit page.

[2018-03-16 20:50] wenottingham opened #1600 "Update rabbitmq and use k8s plugin for clustering"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - Installer

##### SUMMARY

We currently pull RMQ 3.6.14 into the K8S/OpenShift install, and use etcd2 for handling autoclustering.

RabbitMQ 3.7 supports a K8S autodiscovery mechanism: http://www.rabbitmq.com/cluster-formation.html#peer-discovery-k8s. This sounds better than maintaining our own etcd container.

Work is approximately:

[2018-03-18 00:34] matburt opened #1602 "Fair job distribution seems to not work in a clustered setup"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - Installer

##### SUMMARY
Prefetching behavior seems to not be working right all jobs launched around the same time tend to flood one entire node instead of being fairly distributed.

[2018-03-18 10:34] keithw1305 opened #1603 "Playbooks in Projects with Manual SCM are not shown"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Project

##### SUMMARY
I configured AWX to support Manual SCM. I am able to create Projects with Manual SCM by selecting folders created under /opt/awx_projects (mounted to /var/lib/awx/projects).

When creating a template, I can select the project but the playbooks within the folder are not shown in the Playbook selection field.

##### ENVIR

[2018-03-18 10:42] keithw1305 commented on #1603
Just create a new project using Git as SCM. Download works and the playbook is downloaded to /opt/awx_projects.

`drwxr-xr-x 3 root      root      63 Mar 18 10:36 _13__azure`

`-rw-r--r-- 1 root root 109 Mar 18 10:36 azure-vm.poweron.yml`
`-rw-r--r-- 1 root root  11 Mar 18 10:36 README.md`

When creating a template, the playbook cannot be selected.

Both containers (awx_web, awx_task) can access t

[2018-03-18 10:48] keithw1305 commented on #1603
I added another playbook to a Git Project that worked (playbook could be selected) and downloaded it again. The playbook is available under /opt/awx_projects/_7__keith_git

Now I tried to select a different playbook from that project but it is not displayed.

[2018-03-18 13:00] kma617 opened #1604 "API filter doesn't work for roles endpoint with fields 'name' and 'description'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
API filter doesn't work for roles endpoint with fields name and description

##### ENVIRONMENT
* AWX version: 1.0.4.80
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: ubuntu 16.04
* Web Browser: Firefox 59.0

##### STEPS TO REPRODUCE
Send GET request to
https://your-awx.com/api/v2/roles

[2018-03-18 23:52] riponbanik opened #1605 "SSH Error - data could not be sent to remote host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Cannot connect to an ec2 instance using the private key while running the playbook using job template.

##### ENVIRONMENT
* AWX version: 1.0.4
* AWX install method: docker on linux
* Ansible version: 2.4.3.0
* Operating System: Red Hat Enterprise Linux Server release 7.4 (Maipo)
* Web Browser: Chrome

##### STEPS TO REPRODUC

[2018-03-19 11:16] MarkJB commented on #482
Was this resolved?

I'm seeing the `initdb: directory "/var/lib/postgresql/data/pgdata" exists but is not empty` issue with a clean install and the latest installer.

[2018-03-19 12:09] wwitzel3 commented on #1582
Please try again with latest devel. Some bug fixes were merged that should resolve this.

[2018-03-19 12:36] keithw1305 commented on #1603
The awx postgres db shows no playbooks for additionally projects:

awx=# select local_path, playbook_files from main_project;
    local_path    |   playbook_files
------------------+---------------------
 windows          | []
 _21__keith_git   | []
 _4__demo_project | ["hello_world.yml"]
(3 rows)

[2018-03-19 15:03] keithw1305 commented on #1603
The awx postgres db shows no playbooks for additionally projects:

awx=# select local_path, playbook_files from main_project;
local_path | playbook_files
------------------+---------------------
windows | []
_21__keith_git | []
_4__demo_project | ["hello_world.yml"]
(3 rows)

[2018-03-19 15:06] AlanCoding commented on #1604
try `/api/v2/roles/?role_field=use_role`

extremely detailed hackery for filtering roles is demonstrated with tower-cli

[2018-03-19 15:06] #1604 closed, assigned to nobody

[2018-03-19 16:40] shen3lu4 commented on #1582
Used the latest devel and also the latest dockerhub images (instead of 1.0.3), this issue has been resolved.

[2018-03-19 16:43] MBcom commented on #79
Is it possible to get the output of the debug module/ stdout into the e-mail notfications?
We have a playbook which shows us hosts who need updates and it would be great if we could get an email containing the complete ansible output for all hosts. The mail module sends us a mail for every host  and this is not the behaviour we want. And the debug module output is not shown in the notification mai

[2018-03-19 18:06] wenottingham commented on #79
This is highly unlikely to ever happen, just due to the scaling problem it causes if you're trying to schlep a 10MB log file around.

[2018-03-19 18:06] wenottingham commented on #1582
Thanks for the update!

[2018-03-19 18:06] #1582 closed, assigned to nobody

[2018-03-19 18:49] wenottingham opened #1611 "Drive job and list updates via websockets, not REST calls"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Many places in the UI we trigger UI updates via websockets... that are done by making REST calls back to the API.

Examples:
- dashboard
- templates list
- jobs list

This is due to not having sufficient information in the socket message itself to do the UI update.

We should fix that.

(Imagine the case where you

[2018-03-19 18:50] badstreff commented on #1556
Still no luck after clearing cookies, tried clearing everything from the browser and that didn't help either.

[2018-03-19 21:01] mgsreddy commented on #882
@dylan0911 , Would you like to share your playbook on this?

[2018-03-20 00:10] dantheta commented on #706
I saw this with version 1.0.4.

[2018-03-20 00:54] matburt commented on #1603
playbooks are indexed on-demand: https://github.com/ansible/awx/blob/devel/awx/main/models/projects.py#L191

Your playbooks need to look like playbooks, see here: https://github.com/ansible/awx/blob/devel/awx/main/utils/ansible.py#L38

See the regular expression here: https://github.com/ansible/awx/blob/devel/awx/main/utils/ansible.py#L16

Can you verify that your plalybooks look like what is expe

[2018-03-20 00:58] matburt commented on #1605
Connections seem to work okay for me, but I don't have access to a proxy to test so if you can gather some more information that would certainly be helpful. There are some suggestions here: https://github.com/ansible/awx/issues/1532 that might help you.

[2018-03-20 01:05] #1490 closed, assigned to nobody

[2018-03-20 02:21] zhangtiny123 opened #1614 "The Application resources could not show [description] and [organization] information correctly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I've deployed the latest code by building image myself, and create a new application, and filled in all informations, then I go to the other page, and  click the resource link to view the details, but there is no **DESCRIPTION** and **ORGANIZATION** information.

##### ENVIRONMENT
* AWX version: 1.0.4.106
* AWX install me

[2018-03-20 07:13] keithw1305 commented on #1603
Thank you for the hint. It is working now.

[2018-03-20 07:13] #1603 closed, assigned to nobody

[2018-03-20 10:27] MBcom commented on #79
@wenottingham ok your are right generally it is not a good idea but it would be nice if there were checkbox to enable this feature anyhow - because not every environment contains thousands of servers
 Or could you tell me the code position where the notifactions are generated - so I could change it on my own for our company?

[2018-03-20 10:51] yuliy-m opened #1615 "awx transmits wrong password in ldap"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
auth with password that contains special chars using ldap

##### ENVIRONMENT
* AWX version: 1.0.4
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.4.3.0
* Operating System: CentOS 7
* Web Browser: any browser

##### STEPS TO REPRODUCE
We have configured l

[2018-03-20 11:14] #1386 closed, assigned to AlanCoding

[2018-03-20 11:41] wwitzel3 opened #1616 "Feature: Per-Org LDAP Settings"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Breaking this out from #166

Ability to configure LDAP settings per organization.

[2018-03-20 11:57] #1615 closed, assigned to nobody

[2018-03-20 11:58] yuliy-m commented on #1615
https://github.com/ansible/awx/issues/1553

[2018-03-20 13:47] matburt commented on #79
You can find the notification backends here:

https://github.com/ansible/awx/tree/devel/awx/main/notifications

If you have any other questions related to this specific topic it'd be best to take it up on the mailing list or IRC.

[2018-03-20 15:05] mcoakley commented on #1532
Just an update... I will be setting up a new environment either later this week or early next week to provide more information and try out the suggestion made by @tmidi

[2018-03-20 15:51] awxbot opened #2652 ""DAYS TO KEEP" field has two scroll widgets"
### Steps to Reproduce
* In the UI, navigate to the stock schedule for either cleanup activity stream or cleanup jobs.
* Inspect the two scrolling widgets that we have for the "DAYS TO KEEP" field.

![test6](https://user-images.githubusercontent.com/5964417/28276028-bcec79a0-6ae3-11e7-9297-204ed8e6fb84.gif)

[2018-03-20 16:04] jean-christophe-manciot opened #1618 ""relation "conf_setting" does not exist at character 158" & "relation "django_migrations" does not exist at character 124" errors in postgres container"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - awx_web

##### SUMMARY
Browsing to the localhost URL yields the "This site can’t be reached" error.
I see ```Starting server at tcp:port=8051:interface=127.0.0.1, channel layer awx.asgi:channel_layer.``` in dockercompose_web_1 logs, yet the container redirects 0.0.0.0:80->8052/tcp.  This may explain the issue. Or maybe I'm missing something.

[2018-03-20 16:09] seafoodbuffet commented on #1556
Same here, I've tried without cookies and in private browsing mode, both with the same result.

[2018-03-20 21:13] jjjbushjjj commented on #1556
If you are using reverse proxy in front of awx, make shure that your proxy can process websocket connections correctly. In case of nginx, put this into your config:
proxy_set_header Upgrade $http_upgrade;
proxy_set_header Connection $connection_upgrade;

this helps for my case.

[2018-03-20 21:20] wwitzel3 commented on #1526
#1608 introduced a system configuration that allows you to disable awx management of users and teams.

[2018-03-20 21:29] tculp commented on #313
I'm encountering this same issue.

Edit for those coming here from the future:
It turns out that sometime in my LDAP settings tinkering, I had successfully logged in far enough with my LDAP user (but not enough to see the login page) for an account to have been created in the users tab using the same username. I assume this was not considered to be an LDAP account, hence AWX not falling back to LD

[2018-03-20 21:45] mabashian opened #1621 "Credential password structure different for launch/relaunch endpoints"
##### ISSUE TYPE
 - Bug Report (I think)

##### COMPONENT NAME
 - API

##### SUMMARY
When launching a job template with credentials that require passwords at run time, the api accepts the following format in the POST:

[code]

When hitting the relaunch endpoint for the same job, the api throws a 400 if the passwords are formatted like they are above.  I think the api is expecting them to come in l

[2018-03-20 21:49] seafoodbuffet commented on #1556
I'm using the standard docker-compose setup, which runs awx_web directly without a proxy. Also, this exact same setup worked on previous versions of the awx_web image

[2018-03-20 21:54] akcrisp commented on #1526
Why is this closed ?

Sent from my iPhone

[2018-03-20 21:55] akcrisp commented on #1526
Just seen The follow up. Ok

Sent from my iPhone

[2018-03-20 21:58] akcrisp commented on #1526
Is there any more detail on how this works ? I can’t see anything in the thread which explains how you actually configure this.

Andy

Sent from my iPhone

[2018-03-20 22:02] wenottingham commented on #1621
cc @AlanCoding

[2018-03-20 22:44] wwitzel3 commented on #1526
There is a toggle under the AWX System Settings or you can set `MANAGE_ORGANIZATION_AUTH=False` in your settings.

[2018-03-20 22:56] wwitzel3 commented on #1526
Probably helps if I reference the correct PR

[2018-03-21 05:48] yuwzho commented on #1589
bug_resolved_by 37499

@01100010011001010110010101110000 Could you please close it?

[2018-03-21 06:11] akcrisp commented on #1526
Which is ?

Sent from my iPhone

[2018-03-21 07:18] akcrisp commented on #1526
Can we also confirm which build this feature is in.

Thanks

Andy

Sent from my iPhone

[2018-03-21 09:26] zsythink opened #1625 "The bug of module replace"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

When using ad-hoc of replace module .
Bugs that can occur with after or before parameters.

##### ENVIRONMENT
* Ansible version:  ansible-2.4.2.0-1.el7.noarch
* Operating System: CentOS Linux release 7.4.1708 (Core)

##### STEPS TO REPRODUCE
Create a test file on the test70 host as follows.
[root@test7

[2018-03-21 09:46] zsythink commented on #1625
In the wrong place

[2018-03-21 09:46] #1625 closed, assigned to nobody

[2018-03-21 10:52] maerlynn commented on #1246
Testing this today.

[2018-03-21 10:59] maerlynn commented on #1246
AWX Version : 1.0.4.91

Still not saving the job when using credentials and inventory with Prompt on launch.

[2018-03-21 12:01] vqw commented on #1524
@jlozadad there is some solution that we implemented:
`max-width: calc(100% - 40px)`
40px is based on left/right margin being 20px

[2018-03-21 12:15] wwitzel3 commented on #166
We now have #1616 and #1126 and #429 broken out to their own bodies of work. Do you want to keep this open or can we close it out? @wenottingham

[2018-03-21 13:23] anonfriese opened #1630 "AWX doesn't use supplied Vault Password"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
AWX doesn't use supplied Vault Password if vault_password_file is set in ansible.cfg

##### ENVIRONMENT
* AWX version: 1.0.4.91
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: CentOS 7
* Web Browser: Opera 51.0.2830.55

##### STEPS TO REPRODUCE

1. Create a new Project which syncs a repo

[2018-03-21 14:08] wenottingham commented on #166
Yes, I think we can close this out.

[2018-03-21 14:08] #166 closed, assigned to wwitzel3

[2018-03-21 14:35] wwitzel3 opened #1632 "Updates in Roles are not consistently brought into awx"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Updates in Roles are not consistently brought in to awx

##### STEPS TO REPRODUCE

Primary Repo:  Junk repo with only playbook calling one test role.  It also contained (2) naming variations of the rolesfile with (3) roles declared in it (files where identical bases the name, but didn't have to be).
Roles:  (2) random roles

[2018-03-21 14:36] #1279 closed, assigned to mabashian

[2018-03-21 14:36] mattcrossm opened #1633 "URI module is logging the password task argument to job_events in plaintext"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Passwords used within the "password" option of the URI module are being logged in plain text to the "task_args" field of the job_event

##### ENVIRONMENT
* AWX version: 1.0.4.109
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Ubuntu 16
* Web Browser: Chrome

##### STEPS TO REPRODUCE

R

[2018-03-21 14:42] wenottingham commented on #1632
Are any of the tasks running in parallel?

[2018-03-21 14:44] wenottingham commented on #1589
Still need to merge this into AWX.

[2018-03-21 14:57] badstreff commented on #1556
I have the exact same setup as listed above. Also using RHEL7 as the host.

[2018-03-21 15:10] wwitzel3 commented on #1526
I updated https://github.com/ansible/awx/issues/1526#issuecomment-374760820 with the correct PR.

[2018-03-21 15:19] jleach8 commented on #1556
+1. Same issue, was working prior to upgrade. No changes to nginx proxy. Version 1.0.4.109

[2018-03-21 15:41] akcrisp commented on #1526
Thanks

Sent from my iPhone

[2018-03-21 16:44] santizo opened #1636 "Playbooks aren’t showing up in the “Job Template” drop-down"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
##### SUMMARY
When running through the basic helloworld example template the "PLAYBOOK: Choose a playbook" dropdown doesn't not populate any playbooks. I can add the project but cant see any playbooks inside of it. I am using the helloworld project from https://github.com/ansible/tower-example . I double-checked permissions and /var/lib/aw

[2018-03-21 17:02] ryanpetrello commented on #1636
@santizo has an update been run for the project?

![screen shot 2018-03-21 at 1 02 29 pm](https://user-images.githubusercontent.com/214912/37724892-20f032b6-2d08-11e8-924d-6208b61d6f4b.png)

[2018-03-21 17:04] ryanpetrello commented on #1633
@mattcrossm have you tried adding `no_log: true` to your task?  awx records what Ansible passes it via the callback plugin, so if sensitive data is sent in plaintext, awx would have to guess at what needs censoring.

[2018-03-21 17:20] santizo commented on #1636
I ran one manually for the git helloworld project. The manual project with the same helloworld.yml does the same thing though.

I found issue: https://github.com/ansible/awx/issues/1603 which looks similar to mine, the regex pointed out should match my playbook on line 3.
[code]

[2018-03-21 17:35] Chekov2k commented on #1588
I am seeing the same for a fresh install and using AzureAD

[code]

[2018-03-21 17:45] santizo commented on #1636
I apologize, it was an selinux issue. Both manual  and git based projects are working now.

[2018-03-21 17:45] #1636 closed, assigned to nobody

[2018-03-21 17:56] benjdudas opened #1638 "RFE: Support provisioning callbacks via isolated nodes when the node can't reach tower proper"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

For isolated nodes have a default option that could be used by hosts in the isolated networks to make callbacks.

One option would be to configure the isolated node as a SSL proxy for those hosts to reach the control nodes.

##### ENVIRONMENT
* AWX version: any

[2018-03-21 18:04] badstreff commented on #1556
So I ended up deleting my docker containers, updating the repo (git pull), and running the install.yml file again. The pages appear to be refreshing as expected now.

[2018-03-21 18:13] wenottingham commented on #1589
... and now closing.

[2018-03-21 18:13] #1589 closed, assigned to nobody

[2018-03-21 18:45] #1370 closed, assigned to AlanCoding

[2018-03-21 18:55] AlanCoding opened #1639 "Inventory Update Events are all created after finish time"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Inventory updates should be something that the client can continuously monitor, but it appears that events are getting stuck in some buffer until the update is fully finished.

##### ENVIRONMENT
* AWX version: 1.0.4-318
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### ST

[2018-03-21 19:15] AlanCoding opened #1641 "Computed fields suffers from same scaling problems with dense groups"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Inventory script with 500 hosts, 27 groups, and 351 group-group relationships reaches scaling limit of AWX.

##### ENVIRONMENT
* AWX version: 1.0.4-318
* AWX install method: docker for mac
* Ansible version:  relevant for 2.6/2.7
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Ansible core cannot yet handle th

[2018-03-21 20:24] cchurch commented on #1639
With events emitted via callback plugin, we capture the time of that event in the event data (https://github.com/ansible/awx/blob/devel/awx/lib/awx_display_callback/events.py#L132), whereas with stdout from anything else, the created timestamp would be set when the event is inserted into the database. This would likely show up on system jobs too, and even in normal jobs for stdout emitted outside

[2018-03-21 21:22] cjworden opened #1647 "SCM group_vars not added to non-SCM additional hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

Additional hosts added to an inventory sourced from SCM don't get group_vars applied to them after being associated with said group.

##### ENVIRONMENT
* AWX version: 1.0.4.109
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Debian 9
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1

[2018-03-21 21:35] arnarg opened #1648 "Schedule page still broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When I try to create a schedule the page renders incorrectly.
I have seen this issue numerous times before (#204, #164, #123, #401) and the conclusion is always that it's fixed but it has never worked in my attempts.

##### ENVIRONMENT
* AWX version: 1.0.4.114
* AWX install method: docker on linux
* Ansible version:  2.4.3.0

[2018-03-22 01:13] marcosgeorgopoulos opened #1650 "Job Output is out of order when serial is set to 1."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
As soon as the standard output for a job goes over 100 lines the output in the job UI gets out of order.

##### ENVIRONMENT
* AWX version: 1.0.4.93
* AWX install method: , docker on linux
* Ansible version:  2.4.3.0
* Operating System: RHEL
* Web Browser: Safari

##### STEPS TO REPRODUCE

Run a job with output longer than 10

[2018-03-22 03:29] riponbanik commented on #1605
@matburt Thanks for looking at it. Proxy was specified in docker-compose to launch and is being used by Docker Daemon to use Internet. Please see the excerpt below.

web:
    image: ansible/awx_web:latest
    depends_on:
      - rabbitmq
      - memcached
      - postgres
    ports:
      - "80:8052"
    hostname: awxweb
    user: root
    restart: unless-stopped
    dns_search: "example.com"

[2018-03-22 03:33] riponbanik commented on #1532
I used docker-compose with settings below to build awx and did not have any issue to pull git http repo:

web:
image: ansible/awx_web:latest
depends_on:
- rabbitmq
- memcached
- postgres
ports:
- "80:8052"
hostname: awxweb
user: root
restart: unless-stopped
dns_search: "example.com"
dns: "10.70.x.x,10.70.x.x"
environment:
http_proxy: http://example.com:80
https_proxy: http://example.com:80
no_prox

[2018-03-22 04:07] marcosgeorgopoulos commented on #1650
ok I have done some more testing and this issue seems to occur when serial is set to 1 in the playbook.
i.e  serial: 1

I haven't had a chance to look through the code but perhaps its getting confused with the repeating TASK titles?

[2018-03-22 08:02] Chekov2k commented on #1588
I see the same thing for the AzureAD provider

[2018-03-22 08:37] Chekov2k commented on #1588
So far I tried 1.0.4 and 1.0.3.58 and both are affected

[2018-03-22 08:47] ewjoachim commented on #1588
As far as I can tell, it's a duplicate of https://github.com/ansible/awx/issues/1418 (title says "SAML", but in the ticket, it was made clear that it affects other SSO backends too)

[2018-03-22 08:49] ewjoachim commented on #1588
That being said, I have the same bug on 1.0.4.x with GitHub, but on 1.0.3.58, I don't have it. Are you 100% sure 1.0.3.58 is affected ? (you can click on "About" in the footer to know what version of AWX really is running)

[2018-03-22 09:01] seafoodbuffet commented on #1556
Like @BadStreff I basically restarted all the docker containers (except in my case it was because I was an idiot and forgot to exclude docker from an automatic yum update). After all the awx containers auto-restarted (after docker engine restarted) everything is auto-refreshing for me once more. No changes, didn't clear cookies or anything.

[2018-03-22 10:00] Caidran opened #1651 "Login fails after setting activity timeout too high"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
No login possible

##### ENVIRONMENT
* AWX version: latest
* AWX install method: docker on linux
* Ansible version:  2.4
* Operating System: RHEL 7.4
* Web Browser: Chrome/Firefox

##### STEPS TO REPRODUCE

Attempt to login after setting timeout expiry to > 1212121212121211

##### EXPECTED RESULTS

Log in

##### ACTUAL RESU

[2018-03-22 10:05] Chekov2k commented on #1588
I thought I did a clean docker-compose on the same host, I will re-check that

[2018-03-22 10:24] Chekov2k commented on #1588
Just checked and it does work, I just get an error the first time (presumably because the Orga is not created in time) and then it works

[2018-03-22 12:48] AlanCoding commented on #1647
Checked Ansible version 2.4.3.0, and the `--export` is not present. The bug you hit has been fixed, but you may need development version of Ansible. It might be in some release candidates, I have not checked.

[2018-03-22 12:48] #1647 closed, assigned to nobody

[2018-03-22 12:50] AlanCoding commented on #1639
But what might be causing them to not get saved until the job is finished in the first place? This means that updates in the UI mid-run are impossible, since the API itself doesn't show the data until after finish. Is there any blocking logic within the callback that might be causing them to get held up?

[2018-03-22 12:55] AlanCoding commented on #1651
What is the full variable name of the setting in question?

[2018-03-22 13:00] Caidran commented on #1651
'Idle time force log out' in the 'edit configuration' section.
web log output when updating the field;

2018-03-22 12:59:00,024 DEBUG    awx.api.authentication User admin performed a PATCH to /api/v2/settings/all/ through the API

[2018-03-22 13:37] AlanCoding commented on #1651
Thanks, that translates to `SESSION_COOKIE_AGE`, ping @rooftopcellist, this came in with the OAuth2 material.

We have some piping in place to do validation of the configure-in-tower variables, which this one is.

[2018-03-22 13:43] rooftopcellist opened #1653 "Allow Token Creation for other Users in the REST API"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY
Currently, users can only create tokens for themselves (for app tokens and PAT's).  It seems desirable that admins and org admins should have the capability to create tokens for other users within their jurisdiction.

##### ENVIRONMENT
awx: 1.0.4.102

##### ADDITIONAL INFORMATION

Steps to support this:
1. Change logic

[2018-03-22 15:05] wenottingham commented on #1650
This is essentially #200 and #1540.

[2018-03-22 15:05] #1650 closed, assigned to nobody

[2018-03-22 15:32] ryanpetrello commented on #1567
@ewjoachim outside of:

...what sort of usage do you have with this install?  Would you be willing to share some of your nginx request logs before/around the time of an OOM?

I tried to reproduce this by **raising** `--max-requests=1000000` and throwing lots of requests at it, launching scores of jobs, etc... but haven't had much luck observing memory footprint growth in the uwsgi processes - I wo

[2018-03-22 15:35] astraios opened #1654 "Enable signed SSH certificates as Machine credentials"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- awx_tasks

##### SUMMARY

This idea is to use signed SSH certificates, provided by Hashicorp Vault.
You can check https://www.vaultproject.io/docs/secrets/ssh/signed-ssh-certificates.html.

I want to stop deploying public keys, and use short-lived signed certificates provided.

[2018-03-22 16:14] jean-christophe-manciot commented on #1618
upgrading to stable ```18.03.0~ce-0~ubuntu``` leads to some similar logs for the **[web container](https://github.com/ansible/awx/files/1838292/dockercompose_web_1.logs.txt)**:
[code]
Checking that the postgres container lives at the expected IP address and port:
[code]

and the logs for **[postgres container](https://github.com/ansible/awx/files/1838298/dockercompose_postgres_1.logs.txt)** show:

[2018-03-22 17:21] MichaelAicher commented on #1630
I have the same issue with the same setup. I also expected from AWX to take the credentials that I provide in the Job template.

[2018-03-22 17:41] ewjoachim commented on #1567
Hm, no, ~10 inventories, all sourced from the project...

I've reset values to the original ones, and I4ll try to reproduce and get you data.

[2018-03-22 18:52] ghjm commented on #1632
"Enable concurrent jobs" is not checked in their JT.

[2018-03-22 21:42] ghjm opened #1656 "Allow job templates to have no credential at all"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Currently, the credential field is required in the UI.  However, there are scenarios where it makes sense to have a job template with no credentials at all.

For example, Tower running in AWS may be installed on an EC2 instance with an IAM role assigned that grants it privileges to manage other parts of the AWS infr

[2018-03-23 00:18] soloman747 opened #1658 "Exception: Unrecognized launch config field survey_passwords"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
When trying to launch a unified workflow job using passwords, the workflow hangs on the inventory sync job. When running a 'docker log awx_task' command, it looks like I'm receiving the following exception:

[2018-03-23 00:11:33,187: ERROR/MainProcess] Task awx.main.scheduler.tasks.run_task_manager[5479bcab-2aec-4be

[2018-03-23 12:56] cesan3 opened #1660 "UI doesn't refresh JOB TEMPLATE pages when the number is greater than 20 and the default 20 items per page is used."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Have more than 20 JOB TEMPLATES configured, and use the default 20 items to view per page. If you hit the second page or next, it doesn't refresh, nor show the next page.

##### ENVIRONMENT
* AWX version: 1.0.4.125
* AWX install method: kubernetes
* Ansible version:  2.4.3.0
* Operating System: Linux
* Web Browser: Chrome /

[2018-03-23 13:16] mkempster22 opened #1661 "Unable to use machine credential in custom inventory source"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
A custom inventory source is unable to use a machine credential as it is filtered out of the available options. If the custom inventory is made to go off to a selection of servers, e.g. Solaris zones, then scan for hosts the machine credential would be needed

##### ENVIRONMENT
* AWX version: 1.0.4.114
* AWX install method

[2018-03-23 13:32] #1561 closed, assigned to mabashian

[2018-03-23 14:52] ryanpetrello commented on #500
@Menduist I've just merged a fix which _should_ resolve this issue - thanks for reporting it!

https://github.com/ansible/awx/pull/1652

[2018-03-23 14:52] #500 closed, assigned to ryanpetrello

[2018-03-23 15:05] ryanpetrello commented on #1656
@ghjm this _should be_ supported by the new multicred support in awx: https://github.com/ansible/awx/pull/595

If it's not working, it may be a bug in the UI.

[2018-03-23 15:09] AlanCoding commented on #1658
Related to https://github.com/ansible/awx/pull/1036

[2018-03-23 15:44] acesaro opened #1664 "Inventory sources are not editable with LDAP-managed Organization Admin AWX users"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
After creating an inventory source (EC2 type is the problem, but the issue occurs with other types as well) with an LDAP-managed AWX user (that is an Organization admin), an error appears when attempting to edit that inventory source.  The inventory source _can_ be edited by the local "admin" AWX user after that poi

[2018-03-23 16:00] keithw1305 opened #1665 "Receiving error message ansible-tower-cli required for this module when running an AWX job"
##### ISSUE TYPE
 - Question

##### COMPONENT NAME
 - Job

##### SUMMARY
I am trying to add an IP address of a newly created VM, so that I can login to that VM and do configurations via AWX.

I am using AWX on top of Ansible 2.4.2. I installed tower-cli 3.2.1

When I am trying to run a playbook with tower_host I get the error message that "ansible-tower-cli required for this module"

When I am run

[2018-03-23 16:07] soloman747 commented on #1658
To anyone else experiencing this problem, I've fabricated a workaround:

1) If you have a stuck unified workflow job, follow the advice from https://github.com/ansible/awx/issues/888

"
![image](https://user-images.githubusercontent.com/29128098/37839944-c98373fc-2e89-11e8-98f7-8f935187cbc2.png)"

2) Do remove all inventory sync or project SCM update steps from your workflow. Instead, add steps in

[2018-03-23 16:08] kladiv commented on #950
+1
the same for:
`/api/v2/hosts/?order_by=name&page_size=5&inventory__organization=2&host_filter=(search=HOSTNAME1%20or%20search=HOSTNAME2)`

[2018-03-23 16:21] acesaro commented on #1664
I was able to workaround this by mapping an LDAP group that the user is part of to be a superuser (with `AUTH_LDAP_USER_FLAGS_BY_GROUP = { 'is_superuser': '<group DN>'}`).  Obviously this is still not working, as this user is an Organizational admin and originally created the inventory source but can no longer edit it.

[2018-03-23 16:59] Pectojin commented on #250
For anyone curious. The `i` does indeed seem to be for case-insensitive.

[2018-03-23 17:06] gamuniz opened #1668 "Add 'labels' field to activity_stream api and logging output."
##### ISSUE TYPE

  - Feature Idea

##### COMPONENT NAME

 - API
 - UI
##### SUMMARY

It would be good to inject the labels field from the Job template into the api for the /api/v2/activity_stream/ endpoint. This could be used to create a custom filter for reporting via external logging aggregators.

##### ENVIRONMENT
* AWX version: devel
* AWX install method: openshift, minishift, docker on linux

[2018-03-23 22:46] keithw1305 commented on #1665
I had to install ansible-tower-cli on the docker image awx_task.

[2018-03-23 22:46] #1665 closed, assigned to nobody

[2018-03-23 23:44] wenottingham commented on #1661
How are you expecting that to work... are you writing a script that calls SSH under the hood?

[2018-03-23 23:52] raqqun commented on #1494
Any news on this ? I am stack on the same problem. SCM Updates are pending for ever. I use docker on mac and i upgrade awx regularly using `docker-compose pull && docker-compose up -d --force-recreate`.

[2018-03-24 11:40] guilhemmarchand opened #1672 "Running workflow fails if workflow has survey with message Failed to get credential types. GET status: undefined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Running workflow systematically fails if the workflow has any survey activated, with a popup message "Failed to get credential types. GET status: undefined"

Workflows calling job templates with survey activated will fail with the same issue.

##### ENVIRONMENT
* AWX version: 1.0.4.130
* AWX install method: docker on

[2018-03-24 17:47] MBcom commented on #79
@matburt  thank you for your fast reply
Can you tell me where the json body is generated? I am new in python and I could not find the concrete code position...

I changed in /usr/lib/python2.7/site-packages/awx/main/models/jobs (in docker containers) (https://github.com/ansible/awx/blob/07680dd7c07af3e6cd8e11a49fbb1d3422d9377f/awx/main/models/jobs.py#L685-L692) to
[code]
but this does not put the

[2018-03-26 07:07] d-malko opened #1674 "Using job tags in AWX"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME

 - UI

##### SUMMARY
Please help! I don`t know where to ask!
How to import tags from ansible roles into a tower? I add tags in the ansible roles.
Checkin in pure Ansible:
`ansible-playbook -i stage rsyslog.yml --list-tags`
And I get list of all of my tags.
`play # 1 (rsyslog): rsyslog TAGS: []
 TASK TAGS: [rsyslog_config, rsyslog_install, up

[2018-03-26 10:34] ewjoachim commented on #1567
Output from `ps auxf`
[top.txt](https://github.com/ansible/awx/files/1847407/top.txt)

Nginx logs
[nginx.txt](https://github.com/ansible/awx/files/1847430/nginx.txt)

[2018-03-26 11:38] innocode-devops commented on #1549
Leaving it here in case someone could use an example.
I know it's not HAProxy related, but using NGINX as a proxy with Letsencrypt provided SSL, here's my config:

[code]
Then I use ACME certbot to install SSL and listen directives.

[2018-03-26 11:52] raqqun commented on #1494
Please is there any solution for this ? If this is due to a failed migrations process can we force downgrade migrations and re-execute them ? is there any other cli tool to investigate the problem from the container itself ?

[2018-03-26 13:41] d-malko commented on #1674
Sorry, my mistake! For some reason thought that the field is the same as playbook field in AWX templates.

[2018-03-26 13:41] #1674 closed, assigned to nobody

[2018-03-26 13:52] piotron commented on #1418
I'm seeing the same in 1.0.4.130, but using GoogleOAuth instead of SAML, when changed defaults.py to use only one backend it returns to login screen, then I need to pass any(including totally wrong) credentials and I'm logged in via google account.

[2018-03-26 15:16] AlanCoding commented on #1621
both new / old request data structure supported now

[2018-03-26 15:16] #1621 closed, assigned to AlanCoding

[2018-03-26 15:17] #1658 closed, assigned to AlanCoding

[2018-03-26 15:24] AlanCoding commented on #1630
I believe I reproduced your expectation here

https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/issues/AWX1630

Have you considered using a custom credential type? Make it inject your vault pass into the file `vault_pass.txt`.

I think that should work and solve your issue. As to the broader question of revoking a setting defined in `settings.cfg`, that would take more thou

[2018-03-26 15:46] #1481 closed, assigned to AlanCoding

[2018-03-26 16:06] #1664 closed, assigned to AlanCoding

[2018-03-26 17:01] ryanpetrello commented on #79
@MBcom stdout for the job is not stored in a host-specific manner in the way you're attempting to access it; if you wanted to include the stdout for the entire job, you'd need to add it here:

https://github.com/ansible/awx/blob/07680dd7c07af3e6cd8e11a49fbb1d3422d9377f/awx/main/models/jobs.py#L699

e.g.,

[code]

Keep in mind that these interfaces _are_ subject to change (future upgrades of awx li

[2018-03-26 17:01] asvirdi commented on #1668
Tower Job_event should contain Org/Teams/username/Custom fields/Labels and should also allow Include/Exclude Fields/Patterns. Right now it's very difficult to analyze and plot against some of key fields.

[2018-03-26 17:12] AlanCoding commented on #1639
Confirmed on a real deployment

inventory update fields:

[code]

first event

[code]

This script sleeps for 5 minutes.

[2018-03-26 18:43] ryanpetrello commented on #1567
[code]

This seems like a _surprisingly_ low number of API requests to trigger the type of memory consumption you're seeing (I count 58).

Even less of them are actually non-`GET`:

[code]

[2018-03-26 18:47] ryanpetrello commented on #1567
It looks like there's a noticeable gap in usage over the weekend:

[code]

Do you have any evidence that suggests memory footprint growth over _that_ time period (a leak, as you've suggested)?  Or did you just notice high growth e.g., once the install was used on Monday the 26th?

[2018-03-26 18:49] ryanpetrello commented on #1567
Also, do you have an idea of the scope/total count of job events for these playbooks you're running?  For example, what is the `count` value if you visit:

`/api/v2/jobs/1129/job_events/`

[2018-03-26 18:57] ryanpetrello commented on #1567
@ewjoachim thanks for all your help diagnosing this; would you be willing to run uwsgi behind valgrind over a period of low usage (because it will negatively affect awx performance) to see if we can detect a slow leak?  Something like this should work if you install valgrind first:

[code]

[2018-03-27 05:53] karthikm57 commented on #269
Am facing same issue, Postgresql container is going into restart mode and not starting.
How to setup, external postgrepsql for AWX tower?
Please suggest

[2018-03-27 07:30] mvanrompuy commented on #1618
Seeing the same issue on v1.5.0.

[2018-03-27 08:43] jean-christophe-manciot opened #1680 "Upgrading from 1.0.4 to 1.0.5 erases the whole admin configuration"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - memcached_1
- rabbitmq_1
- postgres_1

##### SUMMARY
Upgrading from 1.0.4 to 1.0.5 fails due to multiple errors..

##### ENVIRONMENT
* AWX version: tag 1.0.5
* AWX 1.0.4 install method: docker/docker-compose on linux
* Ansible version: v2.5.0 (from official ansible PPA)
* Operating System: Ubuntu 17.10
* docker-ce ```18.03.0~ce-0~ubuntu``` (f

[2018-03-27 09:23] jean-christophe-manciot commented on #1618
@mvanrompuy
Yes, same issue with latest awx with a fresh install using the following parts:
* AWX version: tag 1.0.5
* AWX install method: docker/docker-compose on linux
* Ansible version: v2.5.0 (from official ansible PPA)
* Operating System: Ubuntu 17.10
* docker-ce ```18.03.0~ce-0~ubuntu``` (from official docker PPA)
* docker==3.1.4
* docker-compose==1.20.1
* requests==2.18.1

[2018-03-27 10:31] jean-christophe-manciot commented on #1618
If awx is installed from sources as non root user with ```$ ansible-playbook -i inventory install.yml```, postgres container fails with:
[code]

[2018-03-27 13:06] mkayontour commented on #1494
Having the same issues running AWX 1.0.5 and all jobs are pending.

[2018-03-27 13:33] aperigault opened #1681 "Credential password prompts not always updated properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Only one credential is prompted if two fields are mark as "prompt at lauch" except if it is configured as default in job template.
This bug was already present in 1.0.4 version.
See STEPS TO REPRODUCE screen.

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version: 2.5.0
* Operating Sy

[2018-03-27 13:59] mattcrossm commented on #1633
I have used no_log for cases where sensitive data is passed within the body, but I was told in a similar request (https://github.com/ansible/awx/issues/697) that the password should be censored as long as it was passed to the "password" task argument instead of the body argument.

[2018-03-27 14:31] aperigault commented on #635
The issue is still present in AWX 1.0.5.
Nobody available to fix this old bug ?

[2018-03-27 14:50] BenJuan26 opened #1682 "Host Variable Data endpoint deprecated without alternative"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - API

##### SUMMARY
The Host Variable Data endpoint at `/api/v1/hosts/<host_number>/variable_data/` is listed as deprecated, but there is no listed alternative. Once it is deprecated, how can host variables be set/updated from the API?

##### ENVIRONMENT
* AWX version: 3.2.0
* AWX install method: docker on linux
* Ansible version:  2.4.3
*

[2018-03-27 15:15] ryanpetrello commented on #1633
Hey @mattcrossm - a fix for this is coming in the near future.  In the meantime, try using `no_log` on your task.

[2018-03-27 15:24] itewk opened #1684 "When using workflows if a template has a survey should be able to pre-fill out that survey as part of including that template in the workflow"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
When using workflows if a template has a survey should be able to pre-fill out that survey as part of including that template in the workflow

##### ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
1. create a template with a survey
2. create a workflow
3. add the template with the survey to the workflow

##### EXPECTED RESULTS
S

[2018-03-27 15:27] dantheta opened #1685 "installer inventory specified /tmp/pgdocker as a PG database location"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

When using the install.yml playbook for a local docker install, the postgres database is placed in /tmp/pgdocker.  On CentOS/RedHat machines, tmpclean will remove these files within a few weeks, rendering the database inoperable.

##### ENVIRONMENT
* AWX version: 1.0.4
* AWX install method: docker on linux
* Ansibl

[2018-03-27 15:27] itewk opened #1686 "When using workflows if a template has extra vars set for prompt on launch then should be able to pre-specify as part of workflow creation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
When using workflows if a template has extra vars set for prompt on launch then should be able to pre-specify as part of workflow creation

##### ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
1. create a template and mark the extra vars as "prompt on launch"
2. create a workflow template
3. add the template with the "prompt on

[2018-03-27 15:32] sentania opened #1687 "Results Page not properly displaying output on 1.0.5.0/11"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The Results page for a job provides no standard output and fields in the results Column appear to be unresolved variable names

##### ENVIRONMENT
* AWX version: 1.0.5.11 (and 1.0.5.0)
* AWX install method:  docker on linux
* Ansible version:  2.5.0
* Operating System: CentOS 7.4
* Web Browser: Chrome

##### STEPS TO REPRODUC

[2018-03-27 16:22] jakemcdermott commented on #1687
<img width="1414" alt="screen shot 2018-03-27 at 12 21 53 pm" src="https://user-images.githubusercontent.com/9753817/37980596-766cf91c-31b9-11e8-8db2-27a66e351928.png">

[2018-03-27 16:42] sentania commented on #1687
This appears to apply to inventory updates as well, but standard job templates appear to be unaffected:
![image](https://user-images.githubusercontent.com/2688043/37981573-a7ba1776-31b3-11e8-881a-04f53eb96bd7.png)

![image](https://user-images.githubusercontent.com/2688043/37981664-e77d3104-31b3-11e8-9aa3-ee67ad9c354b.png)

[2018-03-27 18:59] mabashian commented on #1681
Steps to reproduce:

1) Create a Machine credential where Password prompt on launch is checked
2) Create a Machine credential where Password prompt on launch and Privilege Escalation Password prompt are both checked
3) Create a Job Template and select the credential from step 1 as the default Machine cred.  Also select PROMPT ON LAUNCH for credentials
4) Launch the job template
5) The password fie

[2018-03-27 19:18] matburt commented on #1680
Something looks to be a bit out of sorts on the memcached, rabbitmq, and postgres containers... @ewjoachim do you think you could take a look at this?

[2018-03-27 19:25] daurrutia commented on #886
Per the documentation listed above and a discussion with @agaffney on IRC, I have come to the conclusion that one cannot authenticate to a git SCM via SSH using simply username and password SCM Credentials (ssh://username@gitserver.example.com/var/www/git/myRepo.git).
An SSH key must be used (ssh://git@gitserver.example.com/var/www/git/myRepo.git).

[2018-03-27 20:24] shanemcd commented on #1680
Can you try re-running the installer?

I'm not able to recreate on Fedora 27.

[2018-03-27 22:05] shen3lu4 opened #1692 "Previously completed SCM Update jobs show blank standard output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

The Standard Out section for a completed job isn't displaying any logs.

##### ENVIRONMENT
* AWX version: 1.0.4.130
* AWX install method: kubernetes
* Ansible version:  2.4.0.0
* Operating System: Oracle Enterprise Linux 7.4
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Go to Jobs -> click on a completed job of SCM Upd

[2018-03-27 23:08] danlowe commented on #849
Is it true that there are still no upgrade paths from 1.0.2.0 to 1.0.3.0?

[2018-03-28 00:31] kbrady-cognizant commented on #452
Also experiencing this in a VMWare private cloud. Does Tower not take in to account the project's ansible.cfg? I ask because I have the following in it:

`[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no`

I was under the impression ` StrictHostKeyChecking=no` means it doesn't matter what the host key is, so ip's **can** be recycled?

[2018-03-28 07:41] alancivita commented on #956
is there any progress on this bug..on the latest version is still there and ldap credentials still cannot be saved

[2018-03-28 08:32] Glutexo commented on #200
Just wondering, is there now a way (some workaround until this gets fixed) to get `stdout` of a `project_update`, which now has only `stdout capture is missing`? We are encountering this quite often.

[2018-03-28 08:48] daviarpfc commented on #888
Hi everybody.

I'm having a similar problem: new jobs are not running in AWX. However, according to the task manager and to the API, no jobs are running at the moment, so I cannot apply the work around posted by @st0ne-dot-at.

The startup of the awx_task node does not report any error or failure. However, no job can be executed in AWX.

Does anybody have the same problem?

Below it can be found t

[2018-03-28 10:19] OsirisS13 commented on #1692
Hi @shen3lu4 is your output on SCM update similar to this, with placeholders been shown under results instead of any actual information, and does your SCM update job fail?:

![image](https://user-images.githubusercontent.com/2848618/38023276-be719f18-3279-11e8-8be9-2dd2c47d1b08.png)

If so the exact same thing is happening to me, I've just installed AWX for the first time yesterday and have been r

[2018-03-28 10:27] OsirisS13 commented on #1687
Can confirm I'm seeing this in SCM update as well, seems to be the same problem as https://github.com/ansible/awx/issues/1692

[2018-03-28 10:48] Chennait06 opened #1694 "Vault Issue on AWX 1.0.4.130 version"
ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
I have created template and pointed one of my playbook which is vault encrypted ,

Created new credential with following details:

Credential type : Vault
Vault Password  : password given at the time of creating vault file
Vault Identifier  : Vault file name

Mapped this user to template.

But playbook fails

##### ENVIRO

[2018-03-28 10:54] jean-christophe-manciot opened #1695 "/tmp/pgdocker/pgdata is owned by an unknown user "999""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- postgres_1

##### SUMMARY
Running the installer from scratch as a **non-root user** creates by default a ```/tmp/pgdocker/pgdata``` folder which is owned by an unknown ```999``` user and the permissions are limited to that user.

##### ENVIRONMENT
* AWX version: tag 1.0.5
* AWX 1.0.4 install method: docker/docker-compose on linux
* Ansible ver

[2018-03-28 11:05] jean-christophe-manciot commented on #1695
I have noticed that this alien 999 UID happens to be my UID minus 1.

[2018-03-28 11:15] changsijay opened #1696 "sidebar looks wrong on firefox"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
the side bar width is wrong as below
![screen shot 2018-03-28 at 6 13 07 pm](https://user-images.githubusercontent.com/245306/38025760-b908bf68-32b3-11e8-85b2-3577e324e219.png)

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker
* Ansible version:  2.5.0
* Operating System: CentOS 7
* Web Browser: firefox 60

[2018-03-28 11:38] AlanCoding commented on #200
That sounds like https://github.com/ansible/awx/issues/1687. The UI is planned to switch to consuming event-based project update output, but clients using the old way of retrieving stdout still work, so there's no imminent usability problem from this.

[2018-03-28 11:45] Glutexo commented on #200
@AlanCoding I guess this is not a UI problem. I’m seeing this not only in Tower UI on a `/scm_update/#{id}` page as `stdout capture is missing`, but also in the API:

* `/api/v1/project_updates/#{id}/stdout/` returns `stdout capture is missing` too
* `/api/v1/project_updates/#{id}/stdout/?format=txt_download` returns `{'error': "Error generating stdout download file: [Errno 2] No such file or dire

[2018-03-28 12:06] bwearp commented on #1433
ansible/ansible#36125 appears to be a different issue:

Error with pip-docker (3.0.1): "Error connecting: load_config() got an **unexpected keyword argument** 'config_dict'" (Moved from AWX to Ansible) #36125

[2018-03-28 12:12] AlanCoding commented on #200
interesting, I cannot reproduce that.

[2018-03-28 13:07] astraios commented on #452
I think it should be combined with another option:

[code]

As a workaround, I mount /dev/null like this in my docker-compose for the `awx_task` container:

[code]

[2018-03-28 13:07] ryanpetrello commented on #200
@Glutexo it is fixed; what version of awx are you running?  If you're still seeing `stdout capture is missing` for a project update, you're likely running an older version of awx and need to upgrade to resolve this issue.

[2018-03-28 13:10] aoyawale commented on #1685
I believe this was discuss in IRC and the answer was that if you want to save your db then use an external db.

[2018-03-28 13:53] shen3lu4 commented on #1692
No, mine was not like yours. First of all the SCM update was successful.
For a currently running job everything looked fine. It only had issue for a
previous job that the Standard Out section was blank. The Results section
was ok (no placeholders).

Suggest you try an older image like 1.0.4.109 and see what happens. Based
on my experience, newer images are error prone.

On Wed, Mar 28, 2018 at 5:1

[2018-03-28 15:12] b0urn3 opened #1697 "RFE: Possibility to override timezone used in UI"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Possibility to always present job timestamp with GMT+0 timezone. Currently jobs are presented with __local timezone__ to logged in user.

##### ENVIRONMENT
* AWX version: N/A
* Ansible version:  N/A
* Operating System: any
* Web Browser: any

##### STEPS TO REPRODUCE

* Job timestamp is for example 10:00 AM (UTC)

##### E

[2018-03-28 15:19] mkrish004c opened #1698 "AWX slack notification fails"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY
The slack client fix for larger workspace (probably more than 10K members) has to be incorporated in awx backend code. It fails to deliver the slack notification with in the defined time out,  throws error on the GUI "
Call to test notifications failed." and the notification left undelivered inconsistently

[2018-03-28 15:47] matburt commented on #1532
Closing since no further detail provided, let us know if you continue to have issues.

[2018-03-28 15:47] #1532 closed, assigned to nobody

[2018-03-28 15:54] #1687 closed, assigned to jaredevantabor

[2018-03-28 16:05] matburt commented on #886
That makes sense and jives with our internal documentation.

[2018-03-28 16:05] #886 closed, assigned to nobody

[2018-03-28 16:08] matburt commented on #200
Is this issue still pending UI changes?

[2018-03-28 16:31] wcom939 opened #1700 "Job results pane shows no results and only unfilled angular keys, Console shows angular error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

On a fresh install, when running a command, there is no output on successful or unsuccessful commands,

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: Centos 7 x64
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. install a fresh CENTOS 7 mini

[2018-03-28 16:52] ewjoachim commented on #1680
(Sorry for the delay) Sure, I'll have a look asap :)

[2018-03-28 16:52] ryanpetrello commented on #200
@matburt yes, I believe so.  I think @jakemcdermott is still working on it?  Specifically, the views for Inventory Updates, Adhoc, and System Jobs need to be changed to use the new event model (instead of stdout download polling).

It currently _works_ in a backwards compatible way (because the `/stdout/` endpoint _composes_ the content on-the-fly via job event data), but we want to actually updat

[2018-03-28 16:57] ewjoachim commented on #1567
If I'm not mistaken, valgrind would also work with the modified 3 uwsgi workers ? If so, I'll try to add it :) It's ok if AWX is slow as long as it works :)

[2018-03-28 16:58] ewjoachim commented on #1567
![screenshot from 2018-03-28 18-58-02](https://user-images.githubusercontent.com/1457576/38044422-fbfebbaa-32b9-11e8-9a8b-86b8d5de683c.png)

[2018-03-28 17:03] ewjoachim commented on #1567
I have limited evidence whatsoever :/ I just noticed that after starting and warming it by logging in visiting views throughout the site, launching jobs etc, the RAM was significantly lower than what I got the next day (or there were OOMs). That lead me to **think** there is a possible memory leak, and looking at processes in htop **seems** toin point towards uwsgi as one of the most growing proce

[2018-03-28 17:08] ryanpetrello commented on #1567
4GB _is_ within the bounds of what we regularly test for awx installs; it should run just fine within a server of that size.  At least, if things were OOM'ing, I wouldn't expect it to be in the uwsgi workers; we've had issues recently where the celery workers were auto-scaling past system capacity and causing OOM, but that's different than what you're describing.

Let me know if you see any meanin

[2018-03-28 17:50] jaredevantabor commented on #1700
This should be fixed with #1691

[2018-03-28 17:50] #1700 closed, assigned to nobody

[2018-03-28 18:06] jakemcdermott commented on #200
Yes.

[2018-03-28 18:16] matburt commented on #1695
Sooo... what's the problem? This is likely just happening through user mappings within the actual docker postgres container, see: https://github.com/docker-library/postgres/blob/7f18547f3779e8593e2bb35f21eba5baadc47290/9.6/Dockerfile#L15

If this doesn't work for you then you'll need to set up an external postgres server.

[2018-03-28 18:16] #1695 closed, assigned to nobody

[2018-03-28 18:20] mabashian commented on #1480
I'm not able to reproduce this currently.  I suspect that one of my workflow-related PRs over the past couple weeks addressed this issue.

[2018-03-28 18:21] ryanpetrello commented on #1062
Hey @dglinder, this should be resolved in awx as of https://github.com/ansible/awx/commit/982539f4442b3003ba741af9dd30d0ef711a86f4

[2018-03-28 18:21] #1062 closed, assigned to nobody

[2018-03-28 18:21] matburt commented on #1661
No response in 5 days, closing.

[2018-03-28 18:21] #1661 closed, assigned to nobody

[2018-03-28 18:21] matburt commented on #1685
or just modify the directory in the inventory file to put it in another location.

[2018-03-28 18:21] #1685 closed, assigned to nobody

[2018-03-28 18:27] #1131 closed, assigned to nobody

[2018-03-28 18:27] ryanpetrello commented on #1131
@ElliotGo let us know if you're still having issues and I'll re-open this for investigation.

[2018-03-28 18:36] AlanCoding commented on #1682
PATCH `/api/v2/hosts/N/`

[code]

[2018-03-28 18:36] #1682 closed, assigned to nobody

[2018-03-28 19:31] ryanpetrello commented on #1390
@stefan-wegener thanks for reporting this; there's a bug fix coming for it in the near-ish future - stay tuned!

[2018-03-28 20:05] jaredevantabor commented on #1698
`AWX version: 3.2.1` is not a version of AWX. If you are using Tower  I would recommend you reach out to your support representative.

[2018-03-28 20:05] #1698 closed, assigned to nobody

[2018-03-28 20:18] jaredevantabor commented on #1696
linking to #590

[2018-03-28 20:36] jaredevantabor commented on #1660
I am seeing this too

[2018-03-28 20:39] akcrisp commented on #1526
Why has this been reopened ? As per earlier update there is a option to prevent orgs creating users and teams in 1.0.5 release

Andy

[2018-03-28 20:52] jaredevantabor commented on #1648
@arnarg I am not able to reproduce this on `AWX 1.0.5.18`, could you try again after upgrading?

[2018-03-28 21:07] mkrish004c commented on #1698
yes, i checked with the RH and slack support team, we suspect that the slack notification backend has to modified to adopt this limitation, slack has the know caveat that `rtm.connect` is a lighter version and only this works normal on the larger workspace (more than 10K members).

[slack client note](https://github.com/slackapi/python-slackclient/blob/master/slackclient/client.py#L42)

Note - Tow

[2018-03-28 21:17] mabashian commented on #1686
@itewk this functionality was added with https://github.com/ansible/awx/pull/1489.  There have been some bugs fixed/reported since that initial feature landed but we're working to get all that cleaned up.  The original issue is https://github.com/ansible/awx/issues/169.  I'm going to close this as a duplicate.

[2018-03-28 21:17] #1686 closed, assigned to nobody

[2018-03-28 21:18] mabashian commented on #1684
See https://github.com/ansible/awx/issues/1686#issuecomment-377040089 - I think this is also a duplicate of https://github.com/ansible/awx/issues/169

[2018-03-28 21:18] #1684 closed, assigned to nobody

[2018-03-28 21:20] kbrady-cognizant commented on #452
ok will try adding `-o UserKnownHostsFile=/dev/null` as well @notuscloud

[2018-03-28 21:26] mkrish004c commented on #1698
Corrected AWX version to 1.0

[2018-03-28 21:27] jakemcdermott commented on #1692
Hello @shen3lu4,

Thanks for reaching out. This seems to be the same issue described here: https://github.com/ansible/awx/issues/1687 and here: https://github.com/ansible/awx/issues/1700 so I am closing.

You should see that this is resolved in the latest 1.0.5 container image

[2018-03-28 21:27] #1692 closed, assigned to nobody

[2018-03-28 23:07] dantheta commented on #1685
I hope you'll reconsider.  A user that doesn't read through all of the install vars or accepts that setting at face value will have a non-functioning install within a couple of weeks because of systemd-tmpfiles.service (on CentOS/RHEL 7, at least).

[2018-03-28 23:20] jakemcdermott commented on #1685
Hello dantheta,

Thanks for reaching out.

We absolutely expect users to read the `INSTALL.md` in its entirety before installing awx. The `INSTALL.md` deliberately instructs the reader to review the inventory file and its variables before building or installing awx for exactly this purpose.

[2018-03-29 05:35] Erkak opened #1703 "Job details are not available"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Job is successfull but results are not available.

##### ENVIRONMENT
* AWX version: 1.0.5.13
* AWX install method: docker on linux
* Ansible version:  2.5.0
* Operating System: Centos 7
* Web Browser: Firefox 52.6

##### STEPS TO REPRODUCE

Run any ad-hoc commands for any host from inventory

##### EXPECTED RESULTS

Jobs

[2018-03-29 07:04] ykisialevich commented on #631
Reproduced the same issue by setting up AWX behind reverse proxy in IIS and can confirm UI is broken

[2018-03-29 07:19] jean-christophe-manciot commented on #1680
@shanemcd  @ewjoachim
I have rerun the 1.0.4 build && 1.0.5 upgrade by modifying 2 things:
- with a non-root user instead of root
- without modifying the ```postgres_data_dir``` in ```installer/inventory```

I have also modified the admin configuration in 1.0.4.

Now, the issue has mutated into a string of other non-blocking errors:
- ```web_1        | django.db.utils.OperationalError: could not c

[2018-03-29 07:20] cello86 opened #1704 "LDAP configuration failed (/api/v2/settings/all/ 500 error)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
We tried to configure the LDAP endpoint from web UI but after the change if we click to save and we switch to another tab, the old configurations were missing. We noticed an HTTP 500 error on call /api/v2/settings/all/. We added the stackt race generated during the save action.

##### ENVIRONMENT
* AWX version: 1.0.5.13
* AW

[2018-03-29 07:32] ewjoachim commented on #1680
Ah, I was just going to suggest this :)

Regarding `/tmp/pgdocker` belonging to 999, it's "normal" (as in, it's standard docker stuff, when using bind-mount volumes permissions are hell to set up)

Regarding "connection is tried too early", yes, the whole docker state could (IMHO) be largly improved by splitting to more atomic containers (uwsgi, daphne, nginx, celery, ...), getting rid of software

[2018-03-29 07:46] GProst commented on #1521
Sorry, it wasn't Fedora, it was RHEL...😅
Still get this error occasionally, not every time.
I install latest stable docker from scratch using base AWS AMI of RHEL.
Is it possible that this issue is because of absence of Google DNS servers in `/etc/resolv.conf`?

[2018-03-29 08:07] jean-christophe-manciot commented on #1680
@ewjoachim

when running from a clean DB

yes: I use the default one;

During the 1.0.4 build & 1.0.5 upgrade processes, I made no other modifications to ```installer/inventory``` than:
- ```docker_compose_dir=/var/lib/awx/docker-compose```
- ```use_docker_compose=true```

[2018-03-29 08:33] jean-christophe-manciot commented on #1695
@matburt
I've discovered afterwards that the issue happens during the build process run as a non-root user when modifying ```postgres_data_dir``` in ```installer/inventory```: **if the new target folder is not world-writable, then the postgres container fails completely**. This "detail" is not mentioned anywhere in the [official install doc](https://github.com/ansible/awx/blob/devel/INSTALL.md#doc

[2018-03-29 09:01] GProst commented on #1521
Ok, probably we found the cause.
`packer` used t2.micro type of EC2 instance to build AMI and I guess it couldn't handle pulling AWX image fast enough.

[2018-03-29 09:13] beloniki commented on #606
[excellent](https://github.com/ansible/awx/pull/535#issuecomment-343338875) idea to store database in tmp directory

[2018-03-29 11:31] anlutro opened #1705 "Warning: Failure using method (v2_playbook_on_notify) in callback plugin"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- UI (not sure)

##### SUMMARY
Running a playbook and following the output live, one of the tasks generated this warning:

[code]

This is the task, I don't know what's special about it to cause this warning - everything other task ran fine.

[code]

##### ENVIRONMENT
* AWX version: AWX 1.0.5.13
* AWX install method: docker on linux
* Ansible ve

[2018-03-29 12:13] arnarg commented on #1648
@jaredevantabor It's still happening to me on `1.0.5.18` and `latest` as of today. I'm still using the default inventory file. Do you have any idea where I should look to find out what's happening?

[2018-03-29 12:36] ericrochow commented on #1494
Just out of curiosity, do you see this only after an upgrade? During an upgrade of the awx_task container (possibly the web container too, but I'm not sure), I find that the the task container removes itself from the celery queue. I'm guessing this is by design for clustered environments, but it is a bit annoying for simple environments. I get around this with the following:

[code]

Alternatively

[2018-03-29 13:33] ryanpetrello commented on #1703
Hey @Erkak, this is a duplicate of https://github.com/ansible/awx/issues/1700, and it should be fixed now via https://github.com/ansible/awx/pull/1691

[2018-03-29 13:33] #1703 closed, assigned to nobody

[2018-03-29 14:06] ewjoachim commented on #1680
I'll need to try this locally and tell you :/

[2018-03-29 14:13] shen3lu4 opened #1706 "Ansible version selection"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY

Currently the Ansible version in the AWX is 2.4.3.0. Is there a way to choose a different version like 2.5 during installation? I am not able to find any documentation about setting the Ansible version.

##### ENVIRONMENT
* AWX version: 1.0.4.109
* AWX install method: Kubernetes
* Ansible version:  2.4.3.0
* Ope

[2018-03-29 14:40] ryanpetrello commented on #1706
Hey @shen3lu4 - check out this new feature recently added to awx:  https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

[2018-03-29 14:40] #1706 closed, assigned to nobody

[2018-03-29 14:50] wenottingham commented on #1668
That is not planned; that codepath is too performance critical to do significant manipulation of the structures returned from Ansible. We may consider some of the enhancements in the initial report.

[2018-03-29 14:50] awithrow9 commented on #1656
This should be fixed.  Closing.

[2018-03-29 14:50] #1656 closed, assigned to nobody

[2018-03-29 16:24] jean-christophe-manciot commented on #1695
Also, I have one comment about the postgres docker container you're using:
it's based on a very old image ```debian:jessie```. Many people consider -for good reasons - debian stable -currently stretch - as prehistoric  How would consider a version which is 2 years older?

[2018-03-29 16:36] AlanCoding commented on #685
fixed in https://github.com/ansible/awx/pull/1659

[2018-03-29 16:36] #685 closed, assigned to nobody

[2018-03-29 17:43] marshmalien commented on #1526
This was reopened because the UI needed to add related work to this issue. We included a warning message to inform org admins that they can not manage users and teams.

[2018-03-29 17:43] #1526 closed, assigned to nobody

[2018-03-29 19:20] greenscar opened #1707 "1.0.4 - 1.0.5 upgrade killed my workers & errors db upgrade Key (username)=(admin) already exists."
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

- UI
 - Installer

##### SUMMARY

Upgraded  1.0.4 to 1.0.5
No jobs were running.
Now I have an instance group but it has no instances.
Jobs all hang waiting to execute

https://awx.xxx.xxx.com/api/v2/ping/
`
{
    "instance_groups": [
        {
            "instances": [],
            "capacity": 0,

[2018-03-29 19:46] matburt commented on #1707
In general we don't support major version upgrades, you'll likely need to redeploy.

[2018-03-29 19:46] #1707 closed, assigned to nobody

[2018-03-29 19:55] matburt commented on #1695
We're just using the default docker library container for dockerhub... you can take that up with them if you need it a newer version or.... install and configure your own postgres service.

[2018-03-29 19:58] marshmalien commented on #1436
Fixed via https://github.com/ansible/awx/pull/1574

[2018-03-29 19:58] #1436 closed, assigned to marshmalien

[2018-03-29 20:08] steefenh commented on #1672
@guilhemmarchand 👍  good analysis and description.
Can confirm this behaviour.

[2018-03-29 20:34] wenottingham commented on #69
example mockups: https://tower-mockups.testing.ansible.com/mockups/settings/
https://tower-mockups.testing.ansible.com/mockups/settings/settings-auth/

[2018-03-30 01:57] marcosgeorgopoulos opened #1708 "AWX build errors following contri"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Following the Contributing guide the 'make docker-compose' section fails.  I have raised this on the google groups for AWX. https://groups.google.com/forum/#!topic/awx-project/v6nTvqRLTHY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: contributing guide
* Ansible version:  2.4.3.0
* Operating System: M

[2018-03-30 01:58] marcosgeorgopoulos opened #1709 "AWX Build Error following Contributing Guide."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Following the Contributing guide the 'make docker-compose' section fails.  I have raised this on the google groups for AWX. https://groups.google.com/forum/#!topic/awx-project/v6nTvqRLTHY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: contributing guide
* Ansible version:  2.4.3.0
* Operating System: M

[2018-03-30 01:59] #1708 closed, assigned to nobody

[2018-03-30 05:38] itcrowdsource commented on #1494
@matburt  I think @ericrochow is right. After recreating the tower instance the queue starts working again. This seems to be a bug.

[2018-03-30 08:10] Riccardo1976 commented on #1704
The issue reads a lot like one i ran into a while ago. Can you check https://github.com/ansible/awx/issues/1040 and see if you have the same results ?

[2018-03-30 09:24] christopheduchenoy opened #1710 "yaml error in file docker-compose.yml when setting awx_alternate_dns_servers in inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
"Configuration error - yaml.parser.ParserError" when variable "awx_alternate_dns_servers" is set

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: SLES 12 SP 3
* Web Browser: any

##### STEPS TO REPRODUCE
Modifications made in inventory file :

[2018-03-30 15:40] msilmser opened #1711 "RFE: Allow for ssh private key passphrase in custom credentials"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Customer would like to implement ssh private key passphrases into custom credentials, similar to the way machine credentials allow for this:

"We would like to use the ssh private key (from custom credential injectors) and to get the ssh passphrase (by a request to the vault) to connect to the guests."

[2018-03-30 16:24] ericrochow commented on #1494
I'm not sure it's a big so much as an undocumented procedure. My guess is the manual step is a design decision to avoid unpredictable behavior in multi-node setups due to differing versions of Ansible, AWX, etc. Since I run a single now setup for now, that doesn't apply to me so I just use the above script and live with it. A documented upgrade procedure and/or a Boolean in the install playbook on

[2018-03-30 18:07] greenscar commented on #1707
If this was a major version upgrade, why did the 3rd digit in the version change?
major.minor.off_cycle.emergency is standard version numbering.
If this was major, it should have gone to 2.x

[2018-03-31 02:43] IshwarKanse opened #1712 "RFE: Add 'doas' in the drop down list of privilege escalation methods in Credential."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### ENVIRONMENT

* Ansible Tower / AWX latest release

##### SUMMARY
Currently 'doas' is missing in the drop down list of privilege escalation methods in credential. Since the method is already supported in core. It can be also added in AWX.

##### ACTUAL RESULTS
![screenshot from 2018-03-31 08-40-34](https://user-images.githubusercon

[2018-03-31 10:25] tjyang opened #1713 "AWX 1.0.5 Not able to save LDAP config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Not able to save LDAP configuration

##### ENVIRONMENT
* [About ScreenShot](https://user-images.githubusercontent.com/378638/38162388-f9b2527e-34a5-11e8-9e71-7fb6540e21dc.png)

* AWX version: 1.0.5
* AWX install method: rpm install from https://github.com/MrMEEE/awx-build/blob/master/installguide
* Ansible version:  2.4.3

[2018-03-31 23:37] jakemcdermott commented on #1713
👋
Hello tjyang. Thanks for reaching out. The steps to reproduce you provided use an installation method that we do not support, so I'm closing this issue.

Please feel free to stop by the official awx mailing list or our irc channel on freenode if you have any questions.

[2018-03-31 23:37] #1713 closed, assigned to nobody

[2018-04-01 10:21] tjyang commented on #1713
Just for the record.
https://github.com/ansible/awx/issues/1040 could be the fix, I haven't tried yet.

[2018-04-02 02:57] matburt commented on #1711
This would probably be a part of a larger extension of the custom credential system

[2018-04-02 03:01] matburt commented on #1630
I think this probably comes down to ansible's preference in the matter and I don't see us being able to actually override this.

@AlanCoding provided you with a workaround

[2018-04-02 03:01] #1630 closed, assigned to nobody

[2018-04-02 06:22] raghavs1108 opened #1714 "401 Authentication credentials were not provided."
Issue:  - Documentation
Component Name: API

Summary:

ENVIRONMENT:
AWX Version: 1.0.5.19
AWX Install Method: Docker on linux
Ansible version: 2.5.0
OS: Centos 7
Request Source: POSTMAN

STEPS TO REPRODUCE:
1. Fire a request from Postman to the awx server, requesting a job template: http://server-ip/api/v2/job_templates/8/launch/

EXPECTED RESULTS: template details
ACTUAL RESULTS
403 Forbidden:
{

[2018-04-02 07:08] sshedmake opened #1715 "[RFE] Please enable language switcher at login page"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Language switcher is currently missing from login page. Adding it could offer better UX, while using localized interface of AWX in preferred LANG (say:  ja, fr, es, nl).

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version:  ansible-2.4.3.0-1
* Operating System: Fedora 27
* Web

[2018-04-02 07:41] raghavs1108 opened #1716 "AWX Admin Application doesn't have permission to launch template from REST API"
ISSUE TYPE: Bug
COMPONENT NAME: API

SUMMARY:
POST request to http://<server-ip>/api/v2/job_templates/<template_id>/launch/
responds with
{
    "detail": "You do not have permission to perform this action."
}, but
GET request to http://<server-ip>/api/v2/job_templates/<template_id>/launch/
Succeeds, and responds back with the template details.

ENVIRONMENT
* AWX version: 1.0.5.19
* AWX install met

[2018-04-02 09:16] aabuhasna commented on #532
Hi, the issue is not fixed yet completely. now its buggy (sometimes it work). this is Ansible information I have

[2018-04-02 11:20] AlanCoding commented on #1694
The vault identifier doesn't have anything to do with the filename for the vault content. We need more information about the credential you created, and about how you included your vault secrets in source control. For the credential, either a UI screenshot or the payload sent to the API would give us something to work off of.

[2018-04-02 11:40] RichNahra commented on #1588
confirmed 1.0.3.58 works but a complete wipe is required.  Noticed Azure doesn't pull in email attribute and if you manually update email address in the UI, the user cannot login.  Google Auth doesn't have this problem.  Edit: email attribute is not an issue with Azure.  I'm not sure why it didn't work previously.

[2018-04-02 12:45] wwitzel3 opened #1717 "RFE: Allow Teams to be assigned to Organization roles."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY
Allow the assignment of some Organization roles to Teams.

##### ADDITIONAL INFORMATION
Currently you cannot assign a Team any Organization level roles, this is due to nature of how role assignments are implemented and how parent/children hieachies are caclutated. With the addition of the new focused admin roles for Orga

[2018-04-02 14:16] wenottingham commented on #1715
This is done by the browser locale.

[2018-04-02 14:16] #1715 closed, assigned to nobody

[2018-04-02 17:25] matburt commented on #1714
Please refrain from using the AWX issue tracker to seek help in how to do something. Instead use our mailing list or IRC channel.

[2018-04-02 17:25] #1714 closed, assigned to nobody

[2018-04-02 17:33] jaredevantabor commented on #1648
@arnarg has this page ever worked for you? I'm curious, what timezone are you in?

[2018-04-02 17:37] jlmitch5 commented on #1648
also @arnarg do you have selinux or any sort of special file permissions-type stuff for docker?  I can't really think of a specific scenario in which you would have an issue just with the schedules page, but figured I'd mention it.

[2018-04-02 19:42] ryanpetrello commented on #1705
@anlutro thanks for reporting this!

It looks like the `v2_on_playbook_notify` function was actually **never called** prior to Ansible 2.5 (this was fixed in https://github.com/ansible/ansible/pull/32633).  It also looks like our current implementation of `v2_on_playbook_notify` is _wrong_, because it was copied from the upstream callback plugin reference implementation years ago (which was _also_

[2018-04-02 21:04] JSkier21 commented on #1556
I've noticed this keeps popping up occasionally. On 1.0.5.19 it's now back to not updating. On 1.0.4.105 it's fine, 1.0.4.106 it's not updating.

[2018-04-02 21:13] badstreff commented on #1556
Yep, mine are back to not updating again. I haven't cared enough to refresh the containers again as it is only a minor annoyance at first. After a few days though...

[2018-04-02 22:39] aviam commented on #1672
same bug on my env too,
AWX version: latest
AWX install method: docker on linux
Ansible version: 2.5.0
Operating System: Ubuntu
Web Browser: Chrome / Firefox

[2018-04-02 22:39] aviam commented on #1672
any estimation when this bug will solved?

[2018-04-03 03:29] shaneholloman opened #1719 "Ubuntu `do-release-upgrade -d` to new LTS wiped database to defaults"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Updating from Ubuntu 16.04 to 18.04 reset the entire AWX environment to fresh default settings
Wiped all inventories/groups/organizations etc
Reset users to the initial install

##### ENVIRONMENT
* AWX version: 1.04
* AWX install method: docker on linux,
* Ansible version:  2.5
* Operating System: Ubuntu 18.04
* Web Brows

[2018-04-03 06:27] RasimKalimullin commented on #1704
LDAP USER DN TEMPLATE  is a required field, without it I get a 500 error.  But if this field is filled in, authentication does not work. I had to remove the value of AUTH_LDAP_USER_DN_TEMPLATE from the database, then everything worked

[2018-04-03 08:56] grahamn-gr commented on #1704
I've been using AWX 1.0.1.8 and LDAP has been working fine, but when using the same settings on 1.0.5.18 I get the same issues as reported in this ticket.

Filling in "LDAP USER DN TEMPLATE" field didn't work for me.

In the end I followed what was in #1040 and this resolved my issues.
The key difference being that I had to change the "LDAP GROUP TYPE" from "MemberDNGroupType" to "GroupOfNamesType

[2018-04-03 08:58] mkempster22 commented on #1661
Hello, Apologies for the late replay, I've been on holiday.

Essentially yes, we're trying to get a list of our Solaris hosts dynamically by going to the physical hosts and using a script, this requires using ssh keys. The other way that we're using currently means running that script from the server that has the containers on it then putting it in a database then using the inventory script to get

[2018-04-03 09:03] aabuhasna-zz commented on #532
Thanks. everything is working fine. now

[2018-04-03 09:21] mkayontour commented on #735
as I had troubles updating awx on the customer side, I started with a fresh installation on 1.0.4 and tried the kerberos connection again without using **privileged** containers. And it worked out!

We still wondering why because all those options where set before..
The only things we need to setup after an update will be installing dependencies and setup the configfile.

@matburt do you think it

[2018-04-03 09:25] cello86 commented on #1704
@Riccardo1976 I tested the same configuration reported into #1040 and it works fine.

[2018-04-03 09:34] grahamn-gr opened #1720 "Enabling External Logging Breaks SCM Updates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
After configuring external logging settings SCM updates no longer work.

##### ENVIRONMENT
* AWX version: 1.0.5.18
* AWX install method: docker on linux
* Ansible version:  2.5.0.0

##### STEPS TO REPRODUCE

1) Setup a new project (I used git as an SCM source) and confirm an SCM update works
2) Configure external logg

[2018-04-03 10:03] FRoGbis commented on #1295
Hello,

This error is blocking our implementation of awx. Is anyone on the subject ?

Best regards,

Franck

[2018-04-03 10:14] Glutexo commented on #200
@ryanpetrello I am encountering this with Ansible Tower 3.0.1, which is kind of older by now. I’ll come back in case I reproduce this issue with a newer version.

[2018-04-03 10:20] Glutexo commented on #200
@ryanpetrello Still – is there some workaround for the older versions? Like some property that could be received from the API, either for the update job or for the whole project, that would point to the fact that the stdout won’t be captured? This would allow us to postpone the update a little bit in favor of being sure to have the stdout capture.

[2018-04-03 10:26] #1709 closed, assigned to nobody

[2018-04-03 12:26] AlanCoding opened #1721 "API fields not the same in /instance_groups/N/jobs/ and /unified_jobs/"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
The unified job serializer changes from list view to detail view

but some unified job list views use the detail view serializer

##### ENVIRONMENT
* AWX version:
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS

[2018-04-03 12:46] megakoresh commented on #1197
Same here. Doubt it's related to awx though. Seems like a problem with the module.

UPDATE:
If I manually go to the machine after the playbook fails and type
`docker-compose up`
in the directory where the compose file is placed, it run just fine with the most recent version of docker-py, but it fails with the downgraded one. Playbook also fails with the downgraded version with the following error

[2018-04-03 12:55] arnarg commented on #1648
@jaredevantabor No it hasn't. I also get the same results in Safari so I can't blame it on a browser extension either. The server is in UTC.
`/etc/localtime -> ../usr/share/zoneinfo/UTC`

[2018-04-03 12:56] arnarg commented on #1648
@jlmitch5 I tried setting selinux in permissive mode and it still happens.

[2018-04-03 13:03] ryanpetrello commented on #200
@Glutexo this comment thread is for the open source awx project, and Tower 3.0.1 is _quite_ old (in fact, it's EOL and no longer supported by Red Hat as of last month).  Could you reach out to me or @ghjm privately so we can discuss this further?

[2018-04-03 13:25] arnarg commented on #1648
I tried setting it up on a Ubuntu ec2 instance and got the same thing in Firefox, Chrome and Safari so I thought it might be client side. I tried setting my time zone to New York time and it worked fine.
I live in Iceland and we don't have daylight savings so we have a pretty special time zone file.
On Mac OS: `/etc/localtime -> /var/db/timezone/zoneinfo/Atlantic/Reykjavik`
On my Linux desktop (ii

[2018-04-03 13:37] ryanpetrello commented on #1661
To @wenottingham's point:

If the answer to this is "yes":

awx's inventory updates don't _currently_ support SSH authentication, but you might be able to implement something similar by using custom Credential Types:

https://docs.ansible.com/ansible-tower/latest/html/userguide/credential_types.html#create-a-new-credential-type

1.  Create a custom credential type that defines a field for the SSH

[2018-04-03 13:40] mkempster22 commented on #1661
@ryanpetrello Thank you! I will try this method out and see how it goes

Is there a specific reason the normal machine credentials are filtered out of the ones you can use in custom inventories?

[2018-04-03 13:46] ryanpetrello commented on #1661
@mkempster22 mostly because there isn't any defined behavior for what a Machine/SSH credential _means/would do_ when used with an inventory script (hence @wenottingham's question https://github.com/ansible/awx/issues/1661#issuecomment-375826340).  Given that it's a _custom_ inventory script that's just some binary somewhere, we don't really have any way of knowing what the user's expectation is.

[2018-04-03 14:53] GraemeCrawford commented on #1197
I was having this issue on a centos 7 machine, solved with the help of this thread and also https://github.com/docker/compose/issues/1567

The module was only part of the issue for me, the other issue was docker-compose. I uninstalled any instances of docker-compose on the target machine and then reinstalled it using:

[code]

And then in the ansible role just don't use the module. Change the foll

[2018-04-03 15:46] megakoresh commented on #1197
@GraemeCrawford It is an elegant workaround, thanks, but it's not a resolution.

[2018-04-03 17:00] ryanpetrello commented on #1648
@arnarg if you visit `https://your-tower.example.org/api/v2/schedules/zoneinfo/` do you see an entry with:

[code]

The UI _should be_ composing the dropdown list from the zoneinfo provided by that API endpoint (which is based on zoneinfo configured **on the server** where AWX is running, _not_ the client/browser).

[2018-04-03 17:23] w7089 commented on #1197
@yuanfm @GraemeCrawford @megakoresh @iamcomet The issue is [fixed](https://github.com/docker/docker-py/issues/1916) in _docker-py 3.1.3_

[2018-04-03 17:27] arnarg commented on #1648
@ryanpetrello The array does include UTC. I can even see `Iceland` and `Atlantic/Reykjavik` in that list.

[2018-04-03 19:27] balu7771 opened #1723 "Job stays in pending 'Waiting' State."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

After adding a new project, the project pull job stays with status 'Pending'.

##### ENVIRONMENT
* AWX version: Code taken from opensource late in Nov 2016 and built locally.
* AWX install method: docker-compose and deployed to kubernetes.
* Ansible version:  2.4.2.0
* Operating System: Windows 7
* Web Browser: Chrome

##

[2018-04-03 22:09] seansabour opened #1724 "No Standard Out being displayed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When I execute a template, ad-hoc command or even sync a project with SCM the standard out is blank with a spinning indicator saying "working...." even though the job has failed or completed successfully.  If I refresh I can download the logs, but still does not show in the UI.

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX i

[2018-04-03 23:00] jaredevantabor commented on #1648
@arnarg I think I was able to figure out what was happening here. We added UTC as an option on the front end in Tower 3.2.2 and that change hadn't been ported over to AWX yet. My PR should hopefully do the trick. If you're on a dev environment, you'll likely need to blow away your UI deps using `make clean-ui` and then rebuild the UI (using `make ui` or `make ui-docker`).

[2018-04-03 23:01] jaredevantabor commented on #1648
I'm going to close this, but please let me know if you still experience issues and I'll reopen it

[2018-04-03 23:01] #1648 closed, assigned to jaredevantabor

[2018-04-04 01:20] sonjz commented on #1704
I had a similar issue, but I think its just user error and erroneous syntax not being reported on the front-end.

When I had curly braces instead of round braces, I got a javascript error on save (which also produced the web log error above)

On LDAP USER DN TEMPLATE:
`sAMAccountName=%{user}s,OU=Group,DC=company,DC=local`

Same problem for LDAP USER SEARCH:
[code]

In both scenarios, when I change

[2018-04-04 10:34] ykisialevich commented on #1648
I had similar issue (Schedule page was broken), but in my case this fix helped me:
1. set SELINUX=disabled in /etc/selinux/config
2. setenforce 0
3. reboot

[2018-04-04 10:34] ykisialevich commented on #204
I had similar issue in version 1.0.5 (Schedule page was broken), but in my case this fix helped me:
1. set SELINUX=disabled in /etc/selinux/config
2. setenforce 0
3. reboot

[2018-04-04 10:37] ykisialevich commented on #401
I had similar issue (Schedule page was broken), but it my case this fix helped me:
1. set SELINUX=disabled in /etc/selinux/config
2. setenforce 0
3. reboot

[2018-04-04 10:57] JulianKriel commented on #679
"This can happen if you interrupt the container during a migration... remove your postgres container and fire it back up. We're tracking this elsewhere."

Do not feel that is correct at all,

Brand new install of AWX, first use produces this error

[2018-04-04 11:40] prashanthrajagopal opened #1726 "Job Results display variables - {{ inventory_scope_name }}"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
All job results(the left pane) display the variable names and not values for variables(screenshot attached).
Stdout also does not come up.
[https://github.com/ansible/awx/issues/1724](url)
<img width="640" alt="screen shot 2018-04-04 at 4 54 27 pm" src="https://user-images.githubusercontent.com/1052771/38305249-d554191c-38

[2018-04-04 11:47] ryanpetrello commented on #1726
Hey @prashanthrajagopal,

This is a known issue that was recently fixed in awx: https://github.com/ansible/awx/issues/1700
Please try upgrading.

[2018-04-04 11:47] #1726 closed, assigned to nobody

[2018-04-04 12:37] prashanthrajagopal commented on #1726
Thanks. That works..
The STDOUT is still not visible.. I see that has been raised in another issue.

[2018-04-04 13:02] ryanpetrello commented on #1720
@grahamn-gr do you have any additional details on how you have external logging configured?

[2018-04-04 14:02] grahamn-gr commented on #1720
@ryanpetrello , This is the config used:

[code]

[2018-04-04 14:31] AlanCoding opened #1727 "Remove TOWER_HOST from job environment variables"
This conflicts with the same name used by the tower credential type

https://github.com/ansible/awx/blob/d685815478b813d669dd55c248392a8eecb97923/awx/main/models/credential/__init__.py#L1194

We will be asking all playbook authors to change any environment var reference from `TOWER_HOST` to `AWX_HOST`, which has the same value.

[2018-04-04 14:43] khelkun opened #1728 "Review Project and Inventory Sync in Workflow template versus Project & Inventory source "Update on Launch""
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
I use the "Update Revision on Launch" on my Project configuration so a Job Template, using a playbook of this Project, updates the Project revision before the job is launched.
However I use Job Templates in Workflow Templates. So if I use 3 Job Templates (that use distinct playbooks of the same Project) in the same

[2018-04-04 14:48] wenottingham commented on #1728
This is what cache_timeout is for. Please see the documentation.

[2018-04-04 14:48] #1728 closed, assigned to nobody

[2018-04-04 15:08] khelkun commented on #1728
@wenottingham indeed thanks, I didn't consider Project cache timeout could do the trick.
However, for the Project "Update revision on launch" to occur only at the start of the workflow (using PROJECT SYNC node), I guess that the cache timeout of the project has to be superior to the maximum execution time of the whole workflow minus the the maximum execution time of the last job.
Still considering

[2018-04-04 16:09] wenottingham commented on #1728
Correct... that being said, this isn't a bug/software issue. This is best targeted at the mailing list/IRC channel.

[2018-04-04 16:25] khelkun commented on #1728
ok I'll check in IRC or the mailing list before posting a feature request

[2018-04-04 17:18] grahamneville commented on #1704
Actually, with more testing. Changing to "GroupOfNamesType" from "MemberDNGroupType" breaks my team mappings. Therefore I still see this as a bug as it worked before on 1.0.4.50.

[2018-04-04 17:51] bedcruncher commented on #315
@alexander-bauer Thank you for posting this in your original problem. I was looking at how to lock the port down for the initial creation of the AWX instance. Thankfully using the '127.0.0.1:8052' for host_port has blocked it from external access.

[2018-04-04 18:19] alexander-bauer opened #1729 "Job log should be clearer about censored output via no_log"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Currently, when an Ansible task specifies `no_log`, the summary output in AWX is not as explicit about this as it should be. Particularly with tasks with multiple items, we see output like
[code]
When clicked, it explains as follows:
[code]

It would be clearer if the summary log added `<CENSORED>` or a similar marker for

[2018-04-04 18:54] jaredevantabor commented on #1723
This might be a duplicate of #1724. Though I was no able to reproduce this locally on dev.

[2018-04-04 18:55] jaredevantabor commented on #1724
likely a duplicate of 1723

[2018-04-04 19:46] matburt commented on #1712
Should just need to add it here: https://github.com/ansible/awx/blob/devel/awx/main/constants.py#L16-L18

[2018-04-04 19:47] matburt commented on #1712
Potential unit tests here: https://github.com/ansible/awx/blob/devel/awx/main/tests/functional/test_credential.py

[2018-04-04 20:44] tvo318 commented on #1387
@psy-q, the references to the email attribute is referenced in step 15. However, I will make it more clear in the docs to prevent confusion.

[2018-04-04 21:00] parinapatel opened #1730 "Editable Slack Notification Template"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Currently Slack notification just contain Ansible Template name ,job id and information regarding job result. I would like an ability to manipulate slack message or notification .
We just have single template which can run thing according to variables and I would really like to get information regarding those var

[2018-04-04 21:07] psy-q commented on #1387
Yes, it's true that email is used further up, but that map in step 15 only specifies which LDAP attributes are mapped to which field in AWX.

Section 15.3, where the quote is from, is about something else: the section explains how you can map users to organizations based on their CN, so neither username nor e-mail address is used. That's why I thought the introduction sentence isn't correct. Unles

[2018-04-04 23:03] balu7771 commented on #1723
I don't think they are duplicate. I then analyzed and added the new changes to my kubernetes deployment and config files. Specially line 17 in config appeared to fix part of my issue.

https://github.com/ansible/awx/tree/1.0.5/installer/roles/kubernetes/templates
https://github.com/ansible/awx/blob/1.0.5/installer/roles/kubernetes/templates/configmap.yml.j2#L17

But still see this error in logs an

[2018-04-04 23:04] balu7771 commented on #1723
Please see if the pic of my ping api gives any good detail:

_This ping was showing 57 (even the old pods without line 17 in https://github.com/ansible/awx/blob/1.0.5/installer/roles/kubernetes/templates/configmap.yml.j2#L17 )_
![image](https://user-images.githubusercontent.com/26941146/38339189-98e964ba-3832-11e8-803e-14448f14e2e1.png)

[2018-04-04 23:10] wenottingham commented on #1730
see #79

[2018-04-04 23:10] #1730 closed, assigned to nobody

[2018-04-04 23:12] balu7771 commented on #1723
FYI, my postgres DB runs externally on a linux node. We connect to the kubernetes awx image (awx-web-devel) using the DB params. And our kubernetes deployment platform has load balancer with multiple worker nodes.

[2018-04-04 23:34] scottlackey commented on #1716
@raghavs1108 You might just be using a read token instead of a write token, which you will need in order to call those templates.
If you create an application with "password" grant type in the API console, and
If you generate a token on that application that has "password" grant type with something like:

`curl -sX POST -d "grant_type=password&username=admin&password=<password>&scope=write" -u "<s

[2018-04-05 00:40] seansabour opened #1731 "RFE: more workflow prompting (individual templates, global overrides)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
When creating a workflow with several templates that have prompt on launch enabled for extra-vars it will not prompt when starting your workflow.

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version:  2.5.0
* Operating System: Linux
* Web Browser: Firefox 59.0.2

##### STEPS TO R

[2018-04-05 00:50] seansabour opened #1732 "Workflow template with survey throwing error."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Adding a Survey to a Workflow throws an undefined error

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method:  docker on linux,
* Ansible version:  2.5.0
* Operating System: Centos 7.4
* Web Browser: Firefox 59.0.2

##### STEPS TO REPRODUCE

1. Create a workflow template with > 1 job template.
2. Add survey
3. Add

[2018-04-05 01:00] wenottingham commented on #1731
This is intentional behavior currently; launch-time prompts for individual job templates are not automatically used when used in a workflow. To do this automatically would negate the ability for the workflow creator to set values and not allow overriding them; there would need to be a larger feature to configure individual prompts to be left to the user.

[2018-04-05 08:04] Glutexo commented on #200
@ryanpetrello I just thought that this issue has the same cause both in Tower and AWX. But as we talked in the BZ, it does not happen in newer versions. Furthermore, the issue happens because of not so smart project update triggering. I believe that fixing this on our side would make this issue disappear even for the legacy Tower versions. Thanks for your help! I’ll reach to you personally in case

[2018-04-05 10:06] MansM commented on #1582
Currently encountering this again
using 1.0.5.20

[code]
unfortunately I cant add some v's to the scm job

[2018-04-05 10:11] MansM opened #1733 "Cant update any SCM"
Might be duplicate of: https://github.com/ansible/awx/issues/1582 but that one mentioned it should already be fixed (and is in different step)
[code]
unfortunately I cant add some v's to the scm job

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
UI ( I guess...)

##### SUMMARY
Cant update any git repo

##### ENVIRONMENT
* AWX version: 1.0.5.20 (2018-04-05)
* AWX install method: openshift
*

[2018-04-05 10:58] igorescobar commented on #1197
For me, even installing docker 3.1.3 resulted in errors. What I had to do was:
[code]
And the error stopped.

[code]

[2018-04-05 14:29] aperigault commented on #1418
Hi,
Same bug in 1.0.5.20. We located the issue between 1.0.4.14 and 1.0.4.29 (docker version). It seems that commit 1c2621c is the root cause.

[2018-04-05 14:37] chrismeyersfsu commented on #1387
@psy-q What do you think about the wording above?

[2018-04-05 14:39] jlmitch5 commented on #590
additional changes:

<img width="721" alt="screen shot 2018-04-05 at 10 39 16 am" src="https://user-images.githubusercontent.com/1342624/38372780-a01daeea-38bd-11e8-8869-283eb24540f0.png">

[2018-04-05 14:40] jlmitch5 commented on #590
https://github.com/ansible/awx/issues/590

[2018-04-05 16:25] tc-jhall opened #1734 "Error 500 When Trying to Re-Launch Failed Job"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When trying to relaunch a failed job an error pops up but another user can re-launch the job even though we have the same permissions.
##### ENVIRONMENT
* AWX version: 1.0.4.124
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Ubuntu 16.04
* Web Browser: Chrome 65.0.3325.181 (Official