[2018-11-28 07:45] ssaammoo commented on #2586
in my case the DB row is added, but it is still not working:

 20 | 2018-11-28 07:37:12.842487+00 | 2018-11-28 07:37:12.842487+00 | AUTH_LDAP_GROUP_TYPE          | "ActiveDirectoryGroupType"

I restarted then all dockers but still the field is empty

[2018-11-28 07:57] ryan012880 commented on #2586
@ssaammoo if you are using the official container image yes that would still be empty but AD authentication should work using the workaround. you don't need the workaround if you use the latest merge and build the awx containers yourself. tnx

[2018-11-28 08:00] sugitk opened #2818 "RFE: logging aggregator through HTTP/HTTPS proxy"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

We cannot set HTTP/HTTPS proxy to configure logging aggregator.

##### ADDITIONAL INFORMATION

I set proxy settings to below configuration files, but it doesn't go well.

- /etc/profile.d/proxy.sh
- /var/lib/awx/.bashrc
- /etc/supervisord.d/tower.ini (we use Ansible Tower 3.3.1)

Also I push the "Test" button, UI sh

[2018-11-28 09:04] ssaammoo commented on #2586
Thanks a lot ... it is working now with the workaround =)

[2018-11-28 13:54] dmsimard commented on #1737
@wenottingham @ryanpetrello I took a fresh look at this and I still can't figure it out.

Despite installing ARA (and it's dependencies) inside /var/lib/awx/venv/ansible, ARA isn't able to import any of it's dependencies:

![rrg5q78](https://user-images.githubusercontent.com/1291204/49156004-53fa9400-f2ea-11e8-8d4c-78bdf81f49cf.png)

The dependencies I need are all installed and they've been insta

[2018-11-28 14:06] wenottingham commented on #2785
Why not build a smart inventory filtered based on target facts that is then tied to the instance group?

[2018-11-28 14:06] mabashian commented on #2340
Implemented here: https://github.com/ansible/awx/commit/a9c51b737c64bce0175c3dfdf4c488c629552a54

[2018-11-28 14:06] #2340 closed, assigned to mabashian

[2018-11-28 14:06] mabashian commented on #2347
Implemented here: https://github.com/ansible/awx/commit/a9c51b737c64bce0175c3dfdf4c488c629552a54

[2018-11-28 14:06] #2347 closed, assigned to mabashian

[2018-11-28 14:12] ryanpetrello commented on #2521
We ready to close this one?

[2018-11-28 14:24] AlanCoding opened #2820 "Encrypted hashes show up in activity stream when deleting WFJT node"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Deleting a WFJT node that has answers to password-type question creates activity stream entries that contain the encrypted form of the value

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Bro

[2018-11-28 15:31] stenwt commented on #2446
This is present in AWX 2.1.0 deployed on OpenShift, using SAML auth. If I use the "Example SAML Team Map" verbatim from https://docs.ansible.com/ansible-tower/latest/html/administration/ent_auth.html#saml-authentication-settings I get the same error, likewise with { "foo" : "bar" }

[2018-11-28 15:31] mihoos commented on #2789
SMOG!!!
Thank You @ryanpetrello for sharing this screenshot. I realized that in text field Extra Variables I was writing variables with wrong way.
Like this:
**vars: IP=10.170.10.16 ISO=1.1.34.iso HD=H**
Instead like this:
**IP: 10.170.10.16
ISO: 1.1.34.iso
HD: H**

My issue is now fixed. From my side you can mark this issue as Resolved.

[2018-11-28 15:44] mabashian commented on #2817
I spent a few moments looking into this one.  I don't think that operators other than `equal` are supported by the api when specifying a host filter on a smart inventory.  Additionally, the UI doesn't currently support any keys that come before the field in any capacity.  For example, in a regular (non host filter) search something like `not.name:foo` is not currently supported by the UI.  In this

[2018-11-28 16:23] ryanpetrello commented on #2789
Thanks for the reply @mihoos!

[2018-11-28 16:23] #2789 closed, assigned to nobody

[2018-11-28 18:40] chrismeyersfsu commented on #2446
@stenwt Tower docs are for tower. docs/* are for awx. We've updated awx/docs/auth/saml.md with a more cohesive example. Can you tell us if the saml.md example works for you?

[2018-11-28 19:13] #2820 closed, assigned to AlanCoding

[2018-11-28 19:49] dsesami commented on #2797
Verified in devel.

[2018-11-28 19:49] #2797 closed, assigned to jlmitch5

[2018-11-28 19:51] dsesami commented on #2712
Verified that this says "total nodes" now in devel.

[2018-11-28 19:51] #2712 closed, assigned to nobody

[2018-11-28 20:31] dsesami commented on #2552
Followed reproduction steps above on a few job templates and verified that this is resolved in the devel branch. (Chrome/Firefox)

[2018-11-28 20:31] #2552 closed, assigned to kialam

[2018-11-28 20:37] dsesami commented on #2603
Verified that scrolling when clicking a job template now works on chrome/firefox latest on both fedora and windows machines in the devel branch.

[2018-11-28 20:37] #2603 closed, assigned to jlmitch5

[2018-11-28 20:50] dsesami commented on #2584
Verified in chrome and firefox that a chained workflow resizes correctly with the sidenav now, in devel.

[2018-11-28 20:50] #2584 closed, assigned to unlikelyzero

[2018-11-28 20:52] dsesami commented on #2551
Confirmed that this correctly routes to the workflow view in both chrome and firefox.

[2018-11-28 20:52] #2551 closed, assigned to kialam

[2018-11-28 20:59] dsesami commented on #2465
This works normally now in devel for SJTs in workflows in chrome and firefox.

[2018-11-28 20:59] #2465 closed, assigned to kialam

[2018-11-29 03:07] Testicule commented on #2058
COME ON.
Some way to organise job templates is required.

[2018-11-29 06:25] sshedmake opened #3828 "Activity Stream descriptions not translated"
As per https://github.com/ansible/tower/issues/2061#issuecomment-416343623 , https://github.com/ansible/tower/issues/2061#issuecomment-417378475, https://github.com/ansible/tower/issues/2061#issuecomment-417419818 opening remaining issue as separate ticket.

i.e.

Post second round of translations, tested this bug report with Japanese google-chrome.

Now, most of the bullets (as listed in comment

[2018-11-29 08:05] penoux opened #2827 "Missing hvac python module for hashi_vault lookup filter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Ansible

##### SUMMARY

The HashiCorp Vault external credential type is not working, despite a correct configuration, complaining for a missing python dependency : `hvac`.

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.2
* Operating System: CentOS 7
* Web Browser: Firefox

##### STEPS TO

[2018-11-29 08:24] cesarfn4 opened #2828 "Include "Status of the job" and "Start and End time of job" in "activity_stream""
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Currently, We are not sending the following fields to the "awx.analytics.activity_stream" logger:

 - Start and End time of job.
 - Status of the job.

[2018-11-29 09:35] Stavros commented on #1731
+1

[2018-11-29 09:47] simonkulessa opened #2829 "SSH Connection Error - unix_listener: cannot bind to path"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
- AWX Task / SSH

##### SUMMARY
Unable to connect via SSH -
debug1: setting up multiplex master socket
debug3: muxserver_listen: temporary control path /tmp/awx_44_Az14QF/cp/82f4833e8d.HTKW1ISmDPdB4fUc
bind: No such file or directory
unix_listener: cannot bind to path: /tmp/awx_44_Az14QF/cp/82f4833e8d.HTKW1ISmDPdB4fUc

##### ENVIRONMENT
*

[2018-11-29 10:10] ChengalReddy opened #2830 "Mail Module is not working in AWX but working in ansible CLI"
##### ISSUE TYPE
 - Bug Report - Mail Module from AWX

##### COMPONENT NAME
Mail Module is not working when the playbook is triggered from AWX

##### SUMMARY
Kindly help us if someone resolved this issue.

Playbook:
cat helloworld.yml
---
- hosts: 127.0.0.1
  tasks:
    - name: Print the Message
      shell: echo "Welcome to Ansible AWX"
      register: printout

    - debug:
        msg: "Printed

[2018-11-29 10:43] ryan012880 commented on #2830
@ChengalReddy can you show the output of this command ```docker exec -it <AWX CONTAINER ID> rpm -q ansible```  you might be hitting this issue https://github.com/ansible/ansible/pull/49016

[2018-11-29 10:58] FleischKarussel commented on #2586
minor typo:
**p**sql -U awx (Connect to Postgres database)

and the following example from @worked for me, the example in your post did not:
`
INSERT INTO conf_setting (id, created, modified, key, value) VALUES (next ID No, NOW(), NOW(), 'AUTH_LDAP_GROUP_TYPE', ‘”GroupOfNamesType”’);
ERROR:  syntax error at or near "ID"
LINE 1: ... (id, created, modified, key, value) VALUES (next ID No, NOW...
`

[2018-11-29 11:14] ChengalReddy commented on #2830
Here is the output of docker exec -it c2f045e20a2b rpm -q ansible
ansible-2.7.1-1.el7.ans.noarch

[2018-11-29 12:06] ryan012880 commented on #2830
@ChengalReddy ok that could be different i was hitting https://github.com/ansible/ansible/pull/49016 so downgrading ansible from 2.7.2 to ansible-2.7.1-1.el7.ans.noarch did a fixed for me, can you specify a ```host: <not localhost>``` parameter in the mail module on your playbook see if that would help. If you do not specify any host parameter default will be localhost and that will try to connect

[2018-11-29 13:17] ChengalReddy commented on #2830
@ryan012880 - I have performed the steps but still the issue is same. The problem here is it works when I execute the playbook from CLI but not from AWX.  Kindly help

sudo docker exec -it c2f045e20a2b rpm -q ansible
   ansible-2.7.1-1.el7.ans.noarch
ansible --version

ansible 2.7.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/test/.ansible/plugins/modules',

[2018-11-29 13:49] ryan012880 commented on #2830
check if ```temphost.abc.com``` can be resolve from the container if yes check if ```temphost.abc.com``` is accepting external connection on port 25, if you have a mail relay server in your network you can probably try using that server.

What's the output of this command ```ss -ltnp | grep :25``` from ```temphost.abc.com``` ?

[2018-11-29 13:53] ChengalReddy commented on #2830
Hi
How to check the if the external connection  is accepting using port 25 in container. Below is the output of
ss -ltnp | grep :25
LISTEN     0      100    127.0.0.1:25                       *:*
LISTEN     0      100        ::1:25                      :::*

[2018-11-29 14:09] ryan012880 commented on #2830
so it seems that ```temphost.abc.com``` port 25 is only listening on 127.0.0.1, you can either reconfigure your mail service on ```temphost.abc.com``` to bind on 0.0.0.0 which will make it accept connections from other network segments or like I've said use a mail relay server in your network if you have one as the value for ```host``` parameter. tnx

[2018-11-29 14:30] ChengalReddy commented on #2830
Hi
I have smtp server for mailing. Can I know where can i set this parameter to allow this connections

[2018-11-29 15:11] mabashian opened #2833 "Lines coming from start node are longer than others"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
![screen shot 2018-11-29 at 9 44 25 am](https://user-images.githubusercontent.com/9889020/49230998-fd12be80-f3be-11e8-9260-4977e1ec052c.png)

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS
All lines should be the same length

##### ACTUAL RESULTS
Lines coming from the artificial start node are longer

[2018-11-29 15:18] wenottingham opened #2834 "Ability to 'show' entered passphrase is lost when editing credential"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
1. Create a credential
2. You can click 'SHOW' on the passphrase button to show what you're typing in.
3. Go to edit that credential
4. Hit 'replace' so you can enter a new/correct passphrase
5. You can no longer 'SHOW' it; the button is just 'REVERT' to cancel changes

##### ENVIRONMENT
* AWX version: 2.1 (and probably olde

[2018-11-29 15:28] chrismeyersfsu commented on #2254
People of the internet who want this feature. Can you help me out and give me a concrete example as to your use case/need for this feature?

[2018-11-29 15:34] chrismeyersfsu commented on #284
@gdubicki  Can you help me out and give me a concrete example as to your use case/need for the convergence feature?

FYI, the convergence feature has landed in the devel branch of AWX.

[2018-11-29 15:43] AlanCoding opened #2835 ""sync" type project updates mark their project as failed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Pre-run project syncs are not supposed to ordinarily make changes to the project they use.

Thus, a failure in a project sync should not cause the project to be marked failed, just as how it does not update its last update link usually.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, dock

[2018-11-29 15:46] gdubicki commented on #284
Sure, @chrismeyersfsu . If we have a deployment pipeline with multiple components updated in parallel, then we want to continue to the next component(s) only if all of the previous ones have been updated succesfully, as subsequent components may depend on them.

[2018-11-29 16:23] wenottingham commented on #2828
The activity stream currently records the creation of the 'job' object... this is before it is picked up by a node and ran (as it could be queued).

In general, this is better done by pulling the actual job events.

[2018-11-29 16:46] unlikelyzero commented on #2554
Verify:

- Error modal appears and properly describes the issue from Jobs List, Dashboard, and anywhere else the Relaunch job is used

[2018-11-29 18:53] unlikelyzero opened #2837 "Auto-logout behavior now generates two logout messages"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Auto-logout behavior now generates two logout messages

##### ENVIRONMENT
* AWX version: 3.4.0-devel

##### STEPS TO REPRODUCE
1. Navigate to a page which receives events (like the dashboard)
2. Wait until session is logged out

##### EXPECTED RESULTS
1 error message

##### ADDITIONAL INFORMATION

<img width="634" alt="scree

[2018-11-29 19:18] wenottingham opened #2838 "wrong message on JT PATCH failure"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

1. Have a JT
2. Do something so the PATCH will fail (delete a valid slice count entirely, as an example)
3. Error message:
[code]

But we sent a PATCH, not a PUT.

##### ENVIRONMENT
* AWX version: 2.1ish
##### ADDITIONAL INFORMATION

This is very nitpicky.

[2018-11-29 19:22] mabashian opened #2839 "Change key icon in workflow view(s) to compass"
##### ISSUE TYPE
 - Bughancement

##### COMPONENT NAME
 - UI

##### SUMMARY
The key icon is already used within the context of credentials so we want to swap it out for `fa-compass`:

<img width="408" alt="screen shot 2018-11-29 at 2 21 38 pm" src="https://user-images.githubusercontent.com/9889020/49246170-3c9ed200-f3e2-11e8-93f1-db0460160f25.png">

[2018-11-29 20:41] unlikelyzero commented on #2447
I saw this once more but have been unable to reproduce. Closing as cannot reproduce for now

[2018-11-29 20:41] #2447 closed, assigned to jlmitch5, unlikelyzero

[2018-11-29 22:28] dmsimard commented on #1737
Spent some more time on this but I haven't been able to get to the bottom of it ...

What I found out is that it doesn't work if the virtual environment is inheriting from the system's site packages.
If I create a new virtual environment without ``--system-site-packages`` (requires installing ``psutils`` and ``python-memcached`` manually), install ARA and Ansible in it, it works.

I don't know why

[2018-11-29 22:57] jladdjr commented on #2254
@kdelee - with the feature merged / tests merged seems like we can close this out, what do you think?

[2018-11-30 00:14] unlikelyzero commented on #2442
Cannot Reproduce

[2018-11-30 00:14] #2442 closed, assigned to nobody

[2018-11-30 02:43] jakemcdermott commented on #2827
Hey penoux, thanks for creating this issue.

At this time, we do not provide dependencies for the entire set of shipped-with-Ansible modules in the environment.

The normal way to do this is to create a custom image that contains the updated libraries, system dependencies, etc.

You can also try mounting a [custom virtualenv](https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md) in

[2018-11-30 02:43] #2827 closed, assigned to nobody

[2018-11-30 02:55] jakemcdermott commented on #2829
hey simonkulessa, thanks for making this issue.

Updating the ssh args would be the typical approach here - you can provide these values in the form of a custom ansible cfg in the project itself, a system-level configuration (as you have already done), or by setting these values as extra vars on the job template or inventory being used.

Give any of these attempts a try - if you're still seeing di

[2018-11-30 02:55] #2829 closed, assigned to nobody

[2018-11-30 03:15] jakemcdermott commented on #2145
hey arnabsen,

One typically sees this error when the `docker` or `docker-py` python dependency isn't installed to the environment running the installer.

If you haven't installed the required python docker dependencies mentioned in the [install docs](https://github.com/ansible/awx/blob/devel/INSTALL.md), please do that.

If you've installed the dependencies to a virtualenv and are still seeing th

[2018-11-30 03:15] #2145 closed, assigned to nobody

[2018-11-30 03:43] boris-42 commented on #284
@chrismeyersfsu we have case where we perform multiple env upgrades in parallel after they are all finished we perform testing... Another case is CI, where you would like to run first multiple unittest test kind of jobs & build packages (images), if everything is successful, perform integration testing..

[2018-11-30 07:58] penoux commented on #2827
Hello Jake,

I perfectly understand that the aim of AWX is not to provide all set of Ansible modules dependencies.

In this case though, I raised the issue because the feature and its setup (with example) are fully documented in Tower official doc: https://www.ansible.com/blog/ansible-tower-feature-spotlight-custom-credentials.

Our AWX instance is a mutualized one (over dozens of teams), the team

[2018-11-30 11:25] ChengalReddy commented on #2830
Can some one assist here?

[2018-11-30 14:48] mabashian opened #2844 "User token list doesn't paginate, only shows 5 rows"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
`/#/users/:id/tokens` view should list all tokens associated with that user.  It currently shows a maximum of 5 tokens and doesn't show any pagination.

##### ENVIRONMENT
* AWX version: head of devel

##### STEPS TO REPRODUCE
1. Log in as a superuser
1. Create an application
2. Create an arbitrary user
3. Navigate to the tok

[2018-11-30 15:05] wenottingham commented on #2827
This would likely be addressed when we tackle #2238

[2018-11-30 16:42] #2150 closed, assigned to chrismeyersfsu

[2018-11-30 20:14] wenottingham commented on #2798
Fixed in #2848.

[2018-11-30 20:14] #2798 closed, assigned to nobody

[2018-11-30 20:30] chrismeyersfsu opened #2851 "Can not add member role to a user from the organizations page."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Could previously add user via member to an org. Can't do that now.

##### ENVIRONMENT
* AWX version: 2.1.1

##### STEPS TO REPRODUCE

* Create an org and user
* Go to org and add a user
* Try to add the user via the member role

##### EXPECTED RESULTS

* For the member role to be in the list

##### ACTUAL RESULTS

* not in

[2018-12-01 23:14] byount opened #2854 "Ansible Tower doesn't let browser save password upon login"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
After typing in the username and password on the login screen on Tower 3.3.1 and clicking "Sign In", the browser doesn't prompt the user if they want to save their password.

##### ENVIRONMENT
* AWX version: 3.3.1
* AWX install method: bundled
* Ansible version:  2.7.2
* Operating System: RHEL 7.6
* Web Browser: Firefox 63.0

[2018-12-03 07:09] Testicule commented on #1731
"This is intentional behavior currently; launch-time prompts for individual job templates are not automatically used when used in a workflow. To do this automatically would negate the ability for the workflow creator to set values and not allow overriding them; there would need to be a larger feature to configure individual prompts to be left to the user."

What the?
Negate the ability of workflow

[2018-12-03 07:12] Testicule commented on #1731
"negate the ability for the workflow creator to set values and not allow overriding them"
LOL. That's a good one.
Please, if you really believe that, then just take away the ability for Job Templates to Prompt on Launch. Disable it completely in the next release of AWX/Tower, and see how much people like that.

[2018-12-03 07:16] ghost commented on #1731
100% agreed to previous users comments, my whole point drom the beginning.
If admin wants to disable or enable, he will. Dont try to be admin for
everyone. Give us capability and leave at users to use for their use cases.

On Mon, Dec 3, 2018 at 1:13 AM Testicule <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-12-03 09:32] christianmarangoni commented on #2785
Our provisioning, application deployment & configuration interact with Customer Change Management and parse\start from a file ( yaml ).
In this automation scenario, we want to achieve a flexible way that not required more variable ( inventory ) external from customer provisioning.

The Above scenario is a scenario where a customer wants automation and integration with the other tools flow.
Build a

[2018-12-03 09:51] oekotaco commented on #2806
Have tested here in my Environment (as reported in the initial Bug-Report) and works like a charm.

[2018-12-03 13:35] kdelee commented on #2806
Works for me!

[2018-12-03 13:35] #2806 closed, assigned to AlanCoding

[2018-12-03 14:35] mabashian commented on #444
Closing since #2117 was merged

[2018-12-03 14:35] #444 closed, assigned to nobody

[2018-12-03 14:39] mabashian commented on #2854
@byount I would encourage you to reach out to your Red Hat rep with Ansible Tower specific feedback in the future rather than creating an issue here in the upstream project.  That being said, I think this is a duplicate of https://github.com/ansible/awx/issues/444 which should be addressed by https://github.com/ansible/awx/pull/2117

[2018-12-03 14:39] #2854 closed, assigned to nobody

[2018-12-03 14:59] bigjerv55 opened #2855 "LDAP Group Type drop down does not show up"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The LDAP Group Type drop down does not show options to choose from.  I have tried multiple other ticket fixes with no luck so starting my own thread.

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.2
* Operating System: Linux Cent OS 7
* Web Browser: Chrome, Firefox,

###

[2018-12-03 15:29] mabashian opened #4204 "Add support for social auth on login"
AWX currently supports social auth options such as Google and Github (there may be others).  You can see the documentation for that [here](https://docs.ansible.com/ansible-tower/latest/html/administration/social_auth.html).  Note that when these social auth options are enabled/configured a logo appears on the login modal.  Clicking that logo should redirect the user to the platform in question whe

[2018-12-03 15:34] mabashian opened #4205 "Track session timeout and prompt user to continue session when it's about to expire"
I'd be happy to discuss other UX designs to solve this problem but I do think we want to give the user the ability to extend their session when it's about to expire.  This would require the UI to do a couple of things:

1) We'll need to probably keep a timer running that gets updated with each api response to track how much time is left on a particular session.
2) When that timer gets down to some

[2018-12-03 15:47] dsesami opened #2857 "Sorting buttons not working correctly in the modal for adding users to organizations"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When sorting a list of users in the "Add Users" model for an organization, the sorting buttons for "First name" and "Last name" do not work at all. Sorting by "username" works the first time, but does not reverse order when clicking a second time. However, the order is then reversed if you try to click the first and last nam

[2018-12-03 15:50] wenottingham commented on #2785
My concerns are:
- one of the use cases of Instance Groups is for the administrator to segment capacity. Prompting for instance groups on launch can subvert that. (It would need to, at a minimum, be restricted to instance groups attached to the organization)
- The suggested flow requires the user to know what Instance Group to select based on some knowledge they have on the host. Finding a way to

[2018-12-03 16:10] jakemcdermott commented on #2855
@bigjerv55 we fixed a bug like this recently. Are you certain you're on the latest AWX? Can you verify the version you're running?

![ldapgroup](https://user-images.githubusercontent.com/9753817/49385724-15027f00-f6ec-11e8-8e23-252e5799ddfa.gif)

[2018-12-03 16:15] jakemcdermott commented on #2855
@bigjerv55 going by the information in your bug report, it looks like you're running `2.1.0`. You'll need to update to `2.1.1` to get the fix for this bug.

[2018-12-03 16:15] #2855 closed, assigned to nobody

[2018-12-03 16:50] jlmitch5 opened #4206 "ux enhancements of lookups"
mockups for instance groups (basic case implemented): https://tower-mockups.testing.ansible.com/patternfly/orgs/orgs-edit-instances/

![screen shot 2018-12-03 at 11 51 53 am](https://user-images.githubusercontent.com/1342624/49388398-dcfe3a80-f6f1-11e8-878a-69c5af8cdecd.png)

there are some particular tricky things about lookups that will need to be supported (if not in this particular case, elsew

[2018-12-03 17:23] jean-christophe-manciot commented on #2812
@AlanCoding
There is a discrepancy here:
- the project is correctly cloned from a user-defined (non cloud-type) git repository with a **Source Control** type credential
- the inventory is defined as being sourced from the aforementioned project

Yet, you're saying that inventory sources do not take "Source Control" type credentials.
I'm assuming that by cloud-type you mean AWS, GCP, Azure, .... an

[2018-12-03 18:02] jlmitch5 opened #4207 "Gate CI on unit test coverage based on threshold"
- ~change --watchAll to --watch in npm test script~ (edit: "test": "jest --coverage" & "test-watch": "jest --watch" are currently available.)
- update CI to check coverage

[2018-12-03 18:13] jakemcdermott commented on #4207
for the CI portion, we'd like the job to fail if the coverage drops beneath a certain threshold. For determining where that threshold would be, I think we can probably decide on a reasonable number when we do https://github.com/ansible/awx-pf/issues/25. We can get the coverage as high as possible for https://github.com/ansible/awx-pf/issues/25 and then set the threshold to something slightly lower

[2018-12-03 18:33] earchibald-lv opened #2858 "Add UI elements for job launch, project sync, etc to edit screens"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
Currently, when clicking on a job template, or project, or anything really, one is taken to the edit screen, which is all well and good - but what I would really like is not to have to filter/navigate the job templates, or projects, or <*> to perform actions: launch job, update SCM, etc.

Ideally, for the actively focused

[2018-12-03 18:37] wenottingham commented on #2858
Mostly covered here: https://github.com/ansible/awx/issues/1991

The biggest issue is that performing operations on edited-but-unsaved content is likely to be confusing.

[2018-12-03 18:37] #2858 closed, assigned to nobody

[2018-12-03 19:14] dsesami opened #2859 "Docs: tooltip is incorrect for Slack notification templates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
When you set up slack notifications in Tower from the notification templates, you give it a list of channels to notify, like:
[code]
The tooltip next to the list of channels explicitly says you don't need the starting hash sign (#) in the list. However, slack notifications fail otherwise; the hash sign is mandatory.

#####

[2018-12-03 19:19] wenottingham commented on #1731
There is a very clear usage case of:
- person X creates a template that prompts for X, Y, and Z
- person Y creates a workflow that supplies values for X, Y, and Z that are not to be overridden when that workflow is run

That's what the current design accomplishes.

Expanding it beyond that to forward some and/or all prompts to the later person the workflow is delegated to is not out of scope; it's

[2018-12-03 19:56] kdelee commented on #2835
Another reproducing scenario:

1) Create JT with necessary project, etc
2) Launch job
3) Wait until "running" (actually we have just entered the pre-run hook) but BEFORE job events actually coming in
4) Kill dispatcher or rabbit
5) Wait 60 seconds
6) Bring services back up
7) Attempt to launch new job from JT
8) See that you get failure message that revision is unkown because project got marked as

[2018-12-03 20:33] AlanCoding commented on #2812
True. You should only need use role to the project, and you should be able to create and sync the inventory source without adding credentials.

Correct, the inventory may be syncing content from AWS, GCP, etc.

[2018-12-03 21:08] wenottingham opened #2862 "Add webhooks for integration with SCM"
##### ISSUE TYPE
 - Feature Request

##### COMPONENT NAME
 - API
 - UI (?)

##### SUMMARY

AWX should support webhooks such that events in a webhookable SCM system such as Github can:
- force a project update
- launch a job template/workflow

This should, at a minimum, support:
- GitHub
- Gitlab
- Bitbucket
with pluggability to support other SCM platforms.

This should track items such as:
- repos

[2018-12-03 21:31] wenottingham opened #2863 "move to Django 2.x LTS"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

There will be a Django 2.2 LTS in approximately April 2019. At some point after that date, we should move to using it.

##### ADDITIONAL INFORMATION

This work will be done in at least 3 pieces:

- [x] Upgrade Django REST Framework
- [x] ~~Remove django-jsonfield and jsonbfield in favor of Django's built-in JSONField~~
-

[2018-12-03 21:59] unlikelyzero opened #2864 "Job Result Detail Doc link routes to 3.3.0 docs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Job Result Detail Doc link routes to 3.3.0 docs. This is unlike the rest of the doc links.

##### ENVIRONMENT
* AWX version: 3.3.0+

##### STEPS TO REPRODUCE
1. Open up the doc link on the Job Result Page under 'Key'
2. Routed to 3.3.0 docs

##### EXPECTED RESULTS
Expect to be routed to latest or statically set determined fo

[2018-12-03 22:02] unlikelyzero commented on #2864
@docschick we aren't doing this the same way as the rest (determining doc link version dynamically with an API call) because we want to have one fewer API calls on this particular page to improve performance

[2018-12-03 22:14] jakemcdermott commented on #2864
👍 see linked pr - as mentioned above we avoid the extra api request as longer page loads increase the likelihood of missing a socket event.

Longer page loads _shouldn't_ matter, but we'd need to make some significant changes to how our shared `SocketService` establishes connections and channel subscriptions for that to actually be the case.

[2018-12-03 22:35] trahman73 commented on #4204
@mabashian The React login component doesn't currently support social auth logins, but the PF4 core module does.

https://pf-next.com/components/login/examples-full/?component=Login

We can request the PF4 React Login dev to include support for social auths or we can build our own following the design from the above link. The latter might be more difficult as the login is a single page component.

[2018-12-03 23:26] ansiblejunky opened #2866 "Forks option on Job Template has a text tip that makes user think the default forks is 0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Navigate to a Job Template.
Click on the `?` icon next to `Forks` option. The text reads that the default value is 0 when nothing is set on this option. This leads users to believe the default is 0 when in fact it should state that if nothing is set, then it will use the default value of 5 or whatever is set on the `ansible

[2018-12-03 23:32] mabashian commented on #2866
Should say something like: `An empty value, or a value less than 1 will use the Ansible default which is usually 5.  The default number of forks can be overwritten with a change to ansible.cfg.` instead of `Value defaults to 0.`  I think the rest can stay the same.

[2018-12-04 00:02] mabashian opened #4203 "Search implementation mega issue"
Search is one of the biggest pain points in the UI of classic AWX both from a developers pov and from a users pov.  The approach that we took there was to try to expose as much of power of django's query language to the user as possible.  This approach might be nice for a very small number of our users bug I suspect that it's too complicated for most.  I'd like to identify a list of minimum requir

[2018-12-04 05:36] wenottingham commented on #2859
Fixed in #2861

[2018-12-04 05:36] #2859 closed, assigned to nobody

[2018-12-04 12:26] ChengalReddy opened #2868 "command not found when running the job template in AWX or ansible tower"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
When I trigger the sqlplus to update the database in AWX, it throughs the error as below

sqlplus: command not found",

changed: [127.0.0.1] => {
    "changed": true,
    "cmd": "sh Integration_TEST.sh get_server CHG111111 India Test_Sys Test",
    "delta": "0:00:00.602746",
    "end": "2018-12-04 12:24:

[2018-12-04 12:32] ChengalReddy commented on #2830
This was solved after adding the host: <smtp server>.

[2018-12-04 12:32] #2830 closed, assigned to nobody

[2018-12-04 13:16] ChengalReddy commented on #2868
Can I know If some one can assist on how to set the environment variables or path to the docker containers in AWX? Probably this might be the cause

[2018-12-04 14:41] mabashian commented on #4203
Some potentially relevant awx issues:

https://github.com/ansible/awx/issues/2817
https://github.com/ansible/awx/issues/2247
https://github.com/ansible/awx/issues/1520
https://github.com/ansible/awx/issues/1419
https://github.com/ansible/awx/issues/1351
https://github.com/ansible/awx/issues/589
https://github.com/ansible/awx/issues/402 (this is the "improve smart search" issue)
https://github.com/

[2018-12-04 14:44] mabashian commented on #4203
@wenottingham this is likely relevant to your interests.  Search is easily one of the biggest question marks with this new project and I think it's going to require a lot of discussion to lock down what the requirements are.  If you have strong feelings about what the minimum requirements would be I'd be curious to hear about that.

[2018-12-04 15:23] wenottingham commented on #2868
This sounds more like a user configuration issue than a bug, please bring this up on IRC (#ansible-awx on freenode) or on the mailing list (https://groups.google.com/forum/#!forum/awx-project)

[2018-12-04 15:23] #2868 closed, assigned to nobody

[2018-12-04 16:06] zraider7 commented on #2615
We updated the 2.1.0 yesterday and are encountering this exactly. Would you like me to open up a new ticket?

[2018-12-04 17:06] jean-christophe-manciot commented on #2812
In order to figure out what is happening, I deleted the project & the inventory, including all groups & hosts.
- I recreated the project from scratch with the same settings:
   + SCM type: git
   + SCM URL:non public cloud git repository on the local host
   + SCM credential: source control
   + SCM Update option: Clean & Update revision on launch
- after its creation, the project is correctly clo

[2018-12-04 17:18] AlanCoding commented on #2812
This is very interesting behavior to me. It sounds like the project job_type=check runs are successful, but job_type=run are not successful.

From the error messages, both project updates 3 and 7 were pre-run syncs (job_type=run) and failed for a yet-unknown reason. Could you have a peek at relative URLs `/api/v2/project_updates/3/stdout/` and `/api/v2/project_updates/7/stdout/`, and share whateve

[2018-12-04 18:42] jean-christophe-manciot commented on #2812
```http://172.22.0.1/api/v2/project_updates/3/stdout/```:
--------------------------------------------------------------------
[code]
It appears that the current issue is linked to the roles sync issue I mentioned earlier: in the root of the ```git_project_playbooks```, there is a roles folder containing the following ```requirements.yml``` file:
[code]
There is nothing special about the folder th

[2018-12-04 19:27] AlanCoding commented on #2812
The playbook that the project updates are running is here:

https://github.com/ansible/awx/blob/74123647fedb204ec86aa4b9d68d566f35d51ea4/awx/playbooks/project_update.yml#L142-L154

And, indeed, there are some cases where `--force` is used.

As to why it used the non-forcing task...

This case (the job_type=run) that we're looking at is the former. So we can assume that variable is true. That proba

[2018-12-04 19:34] mhurron opened #2871 "Instance Group members show 'Unavalable'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
API/UI

##### SUMMARY
When adding multiple awx_task/rabbitmq containers to a cluster/instance group, all new nodes appear offline, however still pick up jobs.

##### ENVIRONMENT
* AWX version: 2.1.1 (first seen in 2.1.0)
* AWX install method: docker on linux
* Ansible version:  Included in docker container
* Operating System: RHEL7
* Web Browser

[2018-12-04 19:49] kdelee opened #2872 "If two users open workflow visualizer and make edits and save, Frankenstein workflow may result"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Given a workflow, if User A and user B both open the workflow visualizer and make edits, and user A saves, then user B saves, the UI blindly sends the requests from User B and does not check to see if the workflow is what it thinks it is. The requests are fired off one after another, and if it hits a 404, the applic

[2018-12-04 20:01] mhurron commented on #2806
I deleted the workflow that was causing the error and created a new one. The old job was created on awx < 2.0, the new one on awx 2.1.0.

I first created the workflow without the inventory sync at the end - this worked.
I added the inventory sync to the workflow - this worked.

It would appear that workflows created on awx 2.0 do not have whatever was causing the issue before.

[2018-12-04 20:10] #2835 closed, assigned to AlanCoding

[2018-12-04 20:48] kdelee opened #2874 "Set capacity of protected group to zero when all controller nodes are down."
##### ISSUE TYPE
 - Feature Idea / Bughancement

##### COMPONENT NAME

 - API

##### SUMMARY

If all controller nodes for an isolated node or group of isolated nodes are down, we cannot communicate with the isolated nodes nor run jobs on them. Therefore, we should set the capacity to 0 of the isolated nodes while the controller nodes are down.

[2018-12-05 04:10] 44int opened #2876 "Version 2.1.1 tag has VERSION file written as version 2.1.0."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Version 2.1.1 tag has VERSION file written as version 2.1.0.
So version 2.1.0 for that is installed.

https://github.com/ansible/awx/blob/2.1.1/VERSION

##### ENVIRONMENT
* AWX version: 2.1.1
* AWX install method: docker on linux
* Ansible version:  2.7.4
* Operating System: CentOS 7.3
* Web Browser: Google Chrome 70.

[2018-12-05 09:51] vfauth commented on #2769
I have the same issue. When using a serial, all tasks executed on the second host keep the name of the last task executed on the first host.

Like that:

[2018-12-05 11:44] jean-christophe-manciot commented on #2812
@AlanCoding
There are multiple issues here:
1) the **inventory source** git clone stops at ````interfaces.yml~``` for an unknown reason (what I called a "killer" extension)
2) the next **inventory source** sync run is confused and requests a ```--force``` to start over, but I don't know how to trigger that --force from AWX GUI/settings
3) syncing the **project** again with the ```Delete on update

[2018-12-05 11:59] ChengalReddy commented on #2868
@wenottingham But I made all settings as per requirement but not working. Would like to know what is the solution for this

[2018-12-05 17:54] jakemcdermott commented on #2769
@vfauth thanks for the info - do you see the same issue with the downloadable output text file? (one of the buttons on the top right menu). This will help us know where to start looking.

[2018-12-05 18:06] roostercactus opened #2878 "custom_virtualenvs and alternate versions of python"
##### ISSUE TYPE
 - Able to use an alternate version of python to setup a custom virtualenv.

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

We are using the HPE Oneview ansible modules (https://github.com/HewlettPackard/oneview-ansible) which require python 2.7.9 or higher.  The default python version in the AWX container (centos 7) is python 2.7.5.

So to use the Oneview modules I installed

[2018-12-05 18:21] wenottingham commented on #2878
This is the problem. I'd suggest running them on the included python until such point it is proven they do not work, given that the SSL changes in 2.7.9 have been backported to the python used in the virtual environment.

[2018-12-05 20:17] roostercactus commented on #2878
Hi, yes they (oneview modules) do seem to work with python 2.7.5.  At least in the capacity it's not giving me symbol errors anymore.  I'll have to run my playbooks to verify all the functions I need are working properly.  Hopefully they all just work.  I'll report back later.

[2018-12-05 21:05] dsesami commented on #2496
I tried a few different searches with different count results on organizations to ensure that the badge consistently updated in a devel build. verified

[2018-12-05 21:05] #2496 closed, assigned to jlmitch5

[2018-12-05 21:21] TwoTwenty commented on #2689
Thanks!

[2018-12-06 08:40] Mikey032 commented on #2615
This is resolved by version 2.1.1.

[2018-12-06 09:26] vfauth commented on #2769
Yes, the downloadable output text file has the same issue. Also, if another role follows in the same playbook, it has the right tasks names. It is only in the serial.

[2018-12-06 13:13] AlanCoding opened #2879 "Activity Stream v1 version server error with token entries"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Versioning problem - tokens cause server errors in `/api/v1/activity_stream/` or similar

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create a token

###

[2018-12-06 14:53] #2664 closed, assigned to mabashian

[2018-12-06 15:40] mabashian opened #2881 "Support workflow e2e tests with nodes that use duplicate resource names"
##### ISSUE TYPE
 - Task more so than a feature

##### COMPONENT NAME
 - API (maybe)
 - UI

##### SUMMARY
The problem that we're running into here is that the UI isn't applying ID's to workflow nodes in a deterministic way.  The UI currently iterates over the array of all the nodes and applies unique ID's to each in an arbitrary order.  The order of the ID's doesn't actually matter to us we just n

[2018-12-06 15:48] dsesami commented on #2881
If maintenance on the second option is manageable, it definitely is the simplest way (in terms of minimal process of people involved).

[2018-12-06 16:20] t-readyroc commented on #2225
@wenottingham - that post refers to Ansiblefest session topics? Was upgrading covered?

[2018-12-06 16:28] wenottingham commented on #2225
Yes, changes to how migrations are pushed to AWX so that sets of upgrades work was covered there.

[2018-12-06 16:51] elyezer commented on #2844
I was able to verify this by following the steps mentioned on the steps to reproduce. But while doing that I found a related bug, see https://github.com/ansible/awx/issues/2882.

[2018-12-06 17:06] elyezer opened #2882 "User token list pagination shows wrong items count number"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
`/#/users/:id/tokens` view pagination's items count show wrong information when playing with the per page option.

##### ENVIRONMENT
* AWX version: head of devel

##### STEPS TO REPRODUCE

1. Log in as a superuser
2. Create an application
3. Create an arbitrary user
4. Navigate to the tokens tab for that user
5. Create 21+ p

[2018-12-06 17:31] ericzolf commented on #531
It would be a good first step if Tower/AWX respectively Ansible and its modules could use the default system CACERT bundle, which the admins (should) know how to manage, instead of using an unmanageable bundle coming with a blackbox Python library. Searching through some of the (Python) modules, though, it seems each has its own way to handle CACERT bundles, e.g.:

- SSL_CERT_FILE for libcloud
- R

[2018-12-06 18:02] dsesami commented on #2444
This still occurs in `devel` @jlmitch5

I used towerkit to produce 101 projects, then set the view to view 100 per page, then tried to delete the second page project. Let me know if you need help reproducing.

This is with latest awx:
![screenshot from 2018-12-06 12-58-24](https://user-images.githubusercontent.com/19942822/49602711-226f7180-f957-11e8-89e7-dace097b78f0.png)

[2018-12-06 18:15] dsesami commented on #2808
Clicking the + sign while a node is highlighted was tested and verified.
Other scenarios verified:
- Clicking the convergence link while another node is selected
- Canceling a convergence link after the above test, without selecting a RUN condition.
- Clicking to delete another node while a node is selected.

[2018-12-06 18:15] #2808 closed, assigned to dsesami

[2018-12-06 18:19] secta-bertrandf commented on #1556
Hello,

I have this problem. The job progress don't refresh and I need to refresh manually my browser.

AWX: 2.1.0
Ansible: 2.7.2

I have installed with your guidelines here: https://github.com/ansible/awx/blob/devel/INSTALL.md

Already tried to stop docker and restart it.

[2018-12-06 18:21] jakemcdermott commented on #1556
What browser and version are you using?

[2018-12-06 18:22] secta-bertrandf commented on #1556
Safari Version 12.0 (14606.1.36.1.9)
Chrome Version 70.0.3538.110 (Official Build) (64-bit)

[2018-12-06 18:29] jakemcdermott commented on #1556
Do you see any tracebacks in the chrome console? Do you see any tracebacks in the container logs for the task or web containers?

[2018-12-06 18:40] secta-bertrandf commented on #1556
I saw nothing on the browser console.

On awx task from the beginning and the end of the job execution:

[code]

Same from aux_web:

[code]

10.100.21.213 is my computer private ip.
10.42.20.167 is one IP of the container host.
127.0.0.1 is obviously awx in the container.

[2018-12-06 18:55] #2844 closed, assigned to elyezer

[2018-12-06 19:22] tvo318 commented on #2279
If this issue is related to https://github.com/ansible/tower/issues/3090, I will close this well. Otherwise, it is not clear to me what there is left to document.

[2018-12-06 19:38] #2621 closed, assigned to tvo318

[2018-12-06 19:50] mabashian commented on #4206
Note: We decided to only show 5 results per page

[2018-12-06 19:53] unlikelyzero commented on #2882
@wenottingham can we sneak this into 3.4?

[2018-12-06 22:01] mabashian opened #4208 "Expand/collapse all rows v. single row"
There are some lists (Jobs and Job Templates in particular) where it may not make a lot of sense for the user to expand/collapse all of the rows at the same time.  It may make more sense to allow the user to expand/collapse a single row.  I'm thinking that this could be a feature _in addition to_ the list level expand/collapse.  Ping @trahman73 for thoughts.  Ping @jakemcdermott because you mentio

[2018-12-07 02:19] wenottingham commented on #2882
already in upstream, so it's there...

[2018-12-07 03:38] saurabhchandrapatel opened #2883 "make ui-devel failed with error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System: Ubuntu Bash on window 10
* Web Browser:
Eage
##### STEPS TO REPRODUCE

run commond -

 make ui-devel

##### EXPECTED RESULTS

succ

[2018-12-07 04:44] jakemcdermott commented on #2883
as [our documentation](https://github.com/ansible/awx/blob/devel/CONTRIBUTING.md#setting-up-your-development-environment) indicates, you'll need to use node 8. Please do that.

[2018-12-07 04:44] #2883 closed, assigned to nobody

[2018-12-07 05:56] Testicule commented on #2209
"might" be useful?

Has anyone ever tried to get LDAP auth working on AWX. I did have it working on 1.0.6.17, and now I've upgraded to 2.1.1 I cannot get it to work.

I suspect LDAP auth is utterly broken in 2.1.1, but, with no real logging, I've got absolutely zero chance of being certain.

This is all the logging we get:

2018-12-07 05:44:02,150 DEBUG    django_auth_ldap search_s('OU=Service Man

[2018-12-07 06:02] Testicule commented on #2246
You can't Markus. You can't.
There are none.
Well, there are, but they're not necessarily going to be very useful.
If you use "docker logs --follow" to dump the awx_web logs to a file, and then "tail -f" the file, you may see a few django errors relating to ldap, so try this, and good luck.

You'll need it, i'm sorry to say:
docker logs --follow awx_web_container_id > /tmp/awx/logs/awx_web.log 2>&

[2018-12-07 06:03] Testicule commented on #2194
If you use "docker logs --follow" to dump the awx_web logs to a file, and then "tail -f" the file, you may see a few django errors relating to ldap, so try this, and good luck.

You'll need it, i'm sorry to say:
docker logs --follow awx_web_container_id > /tmp/awx/logs/awx_web.log 2>&1 &
tail -n 100 -f /tmp/awx/logs/awx_web.log

[2018-12-07 06:05] Testicule commented on #2163
kill it, the spinny needs to DIE.

[2018-12-07 06:09] Testicule commented on #2152
Why would anyone work on multiple LDAP configurations, when it's still practically impossible to get *one* LDAP connection configured properly?

How about a method to test your LDAP connection?
Improved logging for LDAP configuration errors?
Updating the documentation to actually specify, correctly, how to configure, instead of expecting people to piece together tips and tricks from a dozen AWX is

[2018-12-07 07:20] Testicule opened #2884 "Cannot successfully re-configure LDAP Auth. after upgrade to 2.1.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
Cannot configure LDAP connection to AD.

##### ENVIRONMENT
* AWX version: 2.1.1
* AWX install method: docker on linux
* Ansible version:  2.7.2
* Operating System: CentOS 7.5
* Web Browser: Chrome & Firefox & tower-cli

##### STEPS TO REPRODUCE
Configure LDAP connection
LDAP Bind DN: CN=adm_blah,OU=BLAH,DC=BLAH,DC=co

[2018-12-07 09:45] ryan012880 commented on #2526
the issue still there in 2.1.1, tnx

[2018-12-07 10:40] saurabhchandrapatel opened #2885 ""Error connecting: Error while fetching server API version: - RabbitMQ"
##### ISSUE TYPE
 - Bug Report
When running this command

ansible-playbook -i inventory install.yml

then Issues with rabbitmq

##### COMPONENT NAME

 - Installer

##### SUMMARY

TASK [local_docker : Activate rabbitmq container] **********************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "m

[2018-12-07 10:49] saurabhchandrapatel opened #2886 "there should be an easy setup for development django environment for Ubuntu to contribute without docker and vm"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Development envirment

##### SUMMARY

there should be an easy setup for  development django environment for Ubuntu  to contribute without docker and vm

currently, a few blogs which you can find for Ubuntu setup

[2018-12-07 12:32] sdirbach commented on #531
@ericzolf AFAIR WinRM uses the request lib, which itself uses the certifi lib

[2018-12-07 12:39] ryan012880 opened #2887 "Workflow doesn't save properly if JT has credential prompt enabled."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.1.1
* AWX install method: docker on linux
* Ansible version:  2.7.1
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. create a JT configured with credential prompt enabled
2. create a workflow and attach the JT (supply credential prompt then confirm and select)

[2018-12-07 13:54] e2-team commented on #553
Have the same request. I would need to upload file to the survey, I'm now doing a 2 step flow (first upload a file via SFTP manually, and then request in the survey the url from that file). Would be great to have all integrated in the same survey. If not we would need to create a parallel website to upload files and execute the playbook via api.

[2018-12-07 15:48] kialam commented on #2770
@ryanpetrello seems to be isolated to my local environment so closing this ticket.

[2018-12-07 15:48] #2770 closed, assigned to nobody

[2018-12-07 15:48] wenottingham commented on #2886
Non-container development environment is not currently planned. Adjustments to the current container-based one for easier use on Ubuntu may be accepted as PRs, but we're not currently looking at it.

[2018-12-07 15:48] #2886 closed, assigned to nobody

[2018-12-07 15:49] wenottingham commented on #2885
This is an issue with either the distro docker python bindings, or docker under WSL; it does not appear to be an installer issue.

[2018-12-07 15:49] #2885 closed, assigned to nobody

[2018-12-07 15:59] AlanCoding commented on #2464
Link fix https://github.com/ansible/awx/pull/2792

[2018-12-07 16:16] AlanCoding commented on #2879
Link fix https://github.com/ansible/awx/pull/2880

[2018-12-07 16:19] unlikelyzero commented on #2464
Verified the following cases:

- Launch a JT which was converted from a SJT on the SJT Job Result view. Receive appropriate error
- Launch a JT which was converted from a SJT on the Jobs List view. Receive appropriate error
- Launch a joblet which was part of a SJT which was converted to a SJT on the Jobs List view to success
- Launch a SJT which was converted from a JT which was converted from a

[2018-12-07 18:13] wenottingham commented on #2864
Fixed in the referenced PR.

[2018-12-07 18:13] #2864 closed, assigned to elyezer

[2018-12-07 20:09] elyezer commented on #2882
What is in upstream handles https://github.com/ansible/awx/issues/2844. This issue is when the pagination is already added but the `items` count does not provide the right value when the user is on a page other than 1 and changes the `per page` option.

I retried the steps and the items count still showing wrong values like `ITEMS  21 - 6 OF 6`, that is telling that it is showing items from 21 to

[2018-12-07 20:19] mabashian commented on #2887
This should be addressed by #2889, closing

[2018-12-07 20:19] #2887 closed, assigned to nobody

[2018-12-07 20:26] AlanCoding opened #2891 "Inventory updates do not show credential in list view"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Inventory updates in the UI only show the credential if you click on the detail view, this is unlike what jobs do.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRO

[2018-12-07 21:31] linuxphone commented on #2884
I am having the same issue, can someone help on this regard.

[2018-12-08 07:21] lingfish commented on #2295
I'd love to see this as an option too.

We use Docker for our install, and having to rebuild images to even set this globally is a large hammer.

[2018-12-08 19:29] xyker opened #2892 "conditional check 'kubernetes_task_image is not defined' failed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
I am trying to create a customized image to be pushed out to my OpenShift registry.  The images successfully gets created and is seen in my registry.  However it fails at the following task:

##### ENVIRONMENT
* AWX version: 2.1
* AWX install method: openshift
* Ansible version:  X.Y.Z
* Operating System: RHEL 7.4
* W

[2018-12-08 21:43] Ompragash opened #2893 "Sliced Job Template creates number of jobs as per the slicing count for the limited host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

SJT creates number of jobs as per the slicing count for the limited hosts.

##### ENVIRONMENT

* AWX version: X.Y.Z
* AWX install method: docker on linux
* Ansible version:  2.7.1
* Operating System: CentOS
* Web Browser: Google Chrome(Latest)

##### STEPS TO REPRODUCE

Create a Inventory with multiple hosts
Create

[2018-12-09 05:05] lingfish commented on #1271
Hi, did this ever proceed?  Seems not?

To clarify; I'd like to store/merge vars in AWX, yet use an Infoblox inventory script, source from SCM.  Currently, this blows away anything stored "locally".

[2018-12-09 23:04] lingfish commented on #1556
Not sure if the same issue, but I'm seeing this as well.  I get this in the console (10 times usually before it seems to give up):

[code]

And this in awx_web (matching the above):

[code]

[2018-12-10 00:59] Testicule commented on #2884
I was able to get it to work by deleting (from AWX) the AD users who had logged in in the past, prior to the upgrade. These users were obviously not exported and re-imported correctly by tower-cli. Although the import seemed to be successful, there was obviously something that got left behind. Perhaps AWX saves a kerberos ticket or something in the user profile, and this was not exported/reimporte

[2018-12-10 03:29] nanisyako opened #2894 "AWX Survey Issue with MultipleChoice(Single Select)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I am not able to add 2 options to the survey when I chose the answer type multiple options single select.

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.0
* Operating System: RHEL 7.3
* Web Browser: safari/chrome/firefox

##### STEPS TO REPRODUCE

Add one question to s

[2018-12-10 03:44] lingfish commented on #2225
I'm sorry, but I'm still confused here as to the current state; I didn't see/find much in the above link.

Can we now upgrade easily (and it uses migrations?)  Can we just bump the docker image version and off we go?

[2018-12-10 12:24] ryan012880 opened #2896 "Variables - tower_user* / awx_user* not inherited in workflow over workflow"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
The variables tower_user* / awx_user* does not appear as part of ```hostvars[inventory_hostname]``` when the JT is launch from workflow over workflow.

1. workflow --> workflow --> jt (not ok)
2. workflow --> jt (ok)

##### ENVIRONMENT
* AWX version: 2.1.1
* AWX install method: docker on linux
* Ansible version:  2.7

[2018-12-10 12:26] AlanCoding commented on #1271
For your purposes, you could change it in the API browser as a workaround. I put up a PR to allow it in the UI.

[2018-12-10 12:31] AlanCoding commented on #2896
What would be the expected contents of these variables? The user who launched the workflow?

Also, a related fact to note is that JTs launched via schedules do not provide these variables either, and for those there is no singular user to reference.

[2018-12-10 12:46] lingfish commented on #1271
Nice one, thanks Alan!

[2018-12-10 12:51] ryan012880 commented on #2896
@AlanCoding Yes, the user who launched the workflow should be the content of those variables but it didn't have any or I didn't see those variables present as per my testing.

[2018-12-10 13:04] AlanCoding commented on #2896
The root issue is that we do not propagate the workflow job's `created_by` field to jobs that they spawn. I don't know if simply propagating the field would be the preferred approach, or if some more granular information tracking of "indirectly launched by" would be better, but this does seem like a reasonable request to me.

[2018-12-10 13:10] AlanCoding commented on #2894
I tried with 2.1.1 and Chrome.

I could not reproduce the described behavior, either for the case of creating a new question, or editing the existing one. In each case I was able to add 2, 3 on new lines in the multiple choice options.

Let us know if you still have the problem after upgrading to latest, or have any more information.

[2018-12-10 13:10] #2894 closed, assigned to nobody

[2018-12-10 15:51] samcarpentier commented on #2279
I an running into the same exact issue.

Ansible 2.7.4
AWX 2.1.0

Using arguments:
`ansible_ssh_common_args: '-o ProxyCommand="ssh -o StrictHostKeyChecking=no -o PasswordAuthentication=no -W %h:%p -q <user>@<my_ip>"'`

The same configuration works when running `ansible-playbook` from the command line and from an older AWX instance (1.0.5) as well.

[2018-12-10 16:13] dsesami commented on #2606
Reopening for verification by @unlikelyzero

[2018-12-10 17:12] jakemcdermott opened #4209 "websockets client / wrapper"
This is for adding a basic ws module to the client:

- global subscriptions / global states
- view-specific / per-job subscriptions

[2018-12-10 17:23] #2851 closed, assigned to kialam

[2018-12-10 17:33] elyezer commented on #2864
The link now directs the user to the latest docs, as intended. This is now verified.

[2018-12-10 19:13] #2464 closed, assigned to unlikelyzero

[2018-12-10 20:51] jakemcdermott commented on #4209
some notes:

when we launch a job in AWX, the following things happen sequentially:

1. client makes an http request to `/api/v2/item/n/launch`
2. api responds with a job id
3. client uses job id to subscribe to a channel with the shared socket service, which delivers the job-specific ws events over that channel.

Ideally we want to eliminate the possibility for race conditions and missed job even

[2018-12-10 21:37] jakemcdermott commented on #4209
more notes:

* The implementation should be framework-agnostic and testable in isolation. For example, it should be straightforward to write a functional test or debugging script that imports this module by itself to test important behavior (connect / disconnect, subscribing, unsubscribing, etc.) with a real or mocked backend.

* The [api design](https://github.com/ansible/awx/blob/devel/docs/webs

[2018-12-11 02:57] Testicule commented on #174
"inventory_linux"
no good eh.
great.

[2018-12-11 05:53] trahman73 commented on #4208
Spoke to @jakemcdermott about possible solutions and landed with the following:

Compact view with additional expand/collapse arrow for workflows.
https://tower-mockups.testing.ansible.com/mockups/jobs/jobs/
https://tower-mockups.testing.ansible.com/mockups/jobs/jobs-expand/

Expanded view of the above.
https://tower-mockups.testing.ansible.com/mockups/jobs/jobs-table-expand/
https://tower-mockups

[2018-12-11 07:12] jainnikhil30 opened #2900 "Pass tower_user_* / awx_user_* to the dynamic inventory update"
##### ISSUE TYPE
Pass tower_user_* / awx_user_* to the dynamic inventory update, like we do for normal job template, so that those can be used in a custom script if needed.

##### COMPONENT NAME

 - API

##### SUMMARY

Pass tower_user_* / awx_user_* to the dynamic inventory update, like we do for normal job template, so that those can be used in the custom script if needed.

##### ADDITIONAL INFOR

[2018-12-11 10:20] ssiril commented on #2642
I might be wrong... but I think this bug ain't solved.

As soon as I had a variable to extra_vars section of a workflow template it crashes on any Project or Inventory sync.

As soon as I remove the extra_vars field content it runs flawlessly.

[2018-12-11 12:45] pierre8778 opened #2901 "Enabling Fact Caching overwrite the custom module path and breaks ability to use custom modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- API
- UI

##### SUMMARY
When facts caching is enabled on a template, module search path is overwritten at runtime.
Jobs from this template won't run with the module search path set from parameter "library" in /etc/ansible/ansible.cfg, but with "/usr/lib/python2.7/site-packages/awx/plugins/library"

##### ENVIRONMENT
* AWX version: 1.0.8.0
* AW

[2018-12-11 13:16] tabletick opened #2902 "Schedule linking back to template"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Tower: v3.3.0

When listing the schedules of future job runs, the schedules are listed by their assigned, uniq name (menu: Schedules). Hovering the mouse pointer over the name will reveal the configured template that will run.
When entering the schedule, the template is not visible any more. Neither any option to open the

[2018-12-11 14:01] dminca commented on #2225
@lingfish I've managed to upgrade from `1.0.1.176` to `2.1.0` but I had the following configuration on a single Node (server):

- running PostgreSQL DB locally
- Kept the old configurations (`inventory`, role variables et. al.)
- just ran the Ansible playbook that executed the `local_docker` role and raised all those containers: `awx_task`, `awx_web`, `memcached` and `rabbitmq`

Now I'm struggling

[2018-12-11 15:32] dsesami opened #2903 "Docs link for credential types should open in a new tab"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Going to the credential types page, when creating a credential, there is a tooltip next to the textbox that says `INPUT CONFIGURATION`. Inside is a link to a Getting Started guide. This link currently opens in the current tab, but should open in a new tab, like the primary docs link.

![screenshot from 2018-12-11 10-34-19]

[2018-12-11 15:45] wenottingham commented on #2900
@AlanCoding can confirm, but this may be tricky, as I don't know that the update-on-launch inventory update is actually launched in the context of that user.

[2018-12-11 15:54] AlanCoding commented on #2900
Inventory updates don't accept extra_vars. But if we put that aside, what @wenottingham mentioned is also an issue, which is related to https://github.com/ansible/awx/issues/2896

[2018-12-11 16:00] efenex opened #2904 "High-available configuration job distribution"
##### ISSUE TYPE
 - Documentation / Configuration issue

##### COMPONENT NAME
 - Celery

##### SUMMARY
All jobs go to the primary AWX server in a cluster

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: RPM
* Operating System: CentOS 7

##### STEPS TO REPRODUCE

Setup multi-node AWX cluster and schedule jobs.

##### EXPECTED RESULTS

Jobs are distributed fairly across all AWX nodes in

[2018-12-11 16:01] wenottingham commented on #2902
This repo is for AWX issues, for Tower issues please contact your RH support rep. This was fixed in AWX in  https://github.com/ansible/awx/pull/2638

[2018-12-11 16:01] #2902 closed, assigned to nobody

[2018-12-11 16:11] wenottingham commented on #2904
The celery-based backend was removed in 2.1, please try 2.1 or later; I believe this is fixed there.

[2018-12-11 16:11] #2904 closed, assigned to nobody

[2018-12-11 16:40] wenottingham opened #2905 "View playbooks in AWX"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

While playbooks should live in source control and not be edited from AWX, it could be useful to *view* them, especially when trying to determine what playbook a job template should use just from a filename.

Likely has some conflict with https://github.com/ansible/awx/issues/282.

##### ADDITIONAL INFORMATION

[2018-12-11 17:31] Raghuveer123 opened #2906 "awx is not coming up on browser"
8fe29dc3c25c        ansible/awx_task:2.1.0       "/tini -- /bin/sh -c…"   31 minutes ago      Up 31 minutes       8052/tcp                                              awx_task
0f72c042c2f0        ansible/awx_web:2.1.0        "/tini -- /bin/sh -c…"   31 minutes ago      Up 16 minutes       0.0.0.0:80->8052/tcp                                  awx_web
02e80e21b92f        memcached:alpine

[2018-12-11 17:52] wenottingham opened #2908 "Have backlinks on inventory script page"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

When viewing/editing an inventory script, there should be a tab that links to the sources where that inventory script is used.

##### ADDITIONAL INFORMATION

[2018-12-11 17:54] ryanpetrello commented on #2901
Hey @pierre8778,

If you want to set a custom library parameter, you can do so using the `ANSIBLE_LIBRARY` environment variable.  See this issue and the related discussion for details:

https://github.com/ansible/awx/issues/815#issuecomment-357753056

[2018-12-11 17:54] #2901 closed, assigned to nobody

[2018-12-11 21:07] AlanCoding commented on #2176
I believe I've found the source - `build_safe_args` re-creates everything that goes into the arguments.

[2018-12-11 21:30] AlanCoding commented on #2176
Incidentally dealing with the inventory update issue as a part of tangentially related work

https://github.com/ansible/awx/compare/devel...AlanCoding:plugin_testing?expand=1

https://github.com/ansible/awx/commit/0fbf0673da13d1882d4b55225c70cc8f01055f67

[2018-12-11 22:51] magick93 opened #2909 "How to uninstall awx?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer / uninstaller

##### SUMMARY

Its very easy to install. However I mistakenly installed AWX on my local, rather than in Kubernetes. Now I would like to be able to easily uninstall.

##### ADDITIONAL INFORMATION

There are several running awx docker containers, eg, rabbit, awx_tasks, awx_web etc - how best/easiest to remove this?

[2018-12-12 01:24] matburt commented on #2904
This also uses the RPM install method, nothing about that install method is supported in this repository.

[2018-12-12 02:02] AlanCoding opened #2910 "Help text of instance_filters is wrong"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Instance filters help text claims that it only applies to EC2 sources. The code disagrees.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

OPTIONS for inven

[2018-12-12 02:08] AlanCoding commented on #2910
same for `group_by`

[2018-12-12 02:22] mhurron commented on #2871
This actually causes a bigger issue than just cosmetic issues. In this state, the web UI/API in the web container will crash hard, background tasks will continue to function. nginx will return 499 errors and no amount of restarting the services under supervisord will bring it back.

The core issue appears to be caused by the fact there is no way to update two settings in /etc/tower/settings.py in

[2018-12-12 02:28] AlanCoding commented on #2910
additionally, `source_regions` has no help text, although its function may be obvious.

[2018-12-12 06:02] cg-cnu opened #2912 "Pre-fill playbook if only one is available for a selected project"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

In NEW JOB TEMPLATE prefill INVENTORY & PLAYBOOK if only one option is available in the list.

##### ADDITIONAL INFORMATION
 AWX Version: 1.0.8.0

While creating NEW JOB TEMPLATE, in case the user has access to only one project, the PROJECT is prefilled with the project name. It would be helpful if we can replicate the s

[2018-12-12 09:34] cg-cnu commented on #2905
Added to it or in place of the above, is it possible to have a view button :eye: which will open the playbook in the actual source control interface in a new tab (github/gitlab web interface)? Just a thought! :slightly_smiling_face:

[2018-12-12 09:50] shlomita opened #2913 "Installing AWX - error “Is the server running on host ”postgres“ and accepting”"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

problem install AWX  - could not connect to progress

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method:  docker on linux
* Ansible version:  2.7.0
* Operating System: Red Hat Linux 7.6
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS
...
 File "/var/lib/awx/venv/awx/

[2018-12-12 10:02] gforster commented on #1886
This is actually a very important need for me. What can I do to help?

[2018-12-12 11:33] tobiasjohanssonsdnit opened #2914 "dynamic inventory fail to match host pattern"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Having problems with dynamic inventory (custom scripts) and the matching of groups inside playbooks, doesn't work as expected for groups

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.2
* Operating System: Centos 7
* Web Browser: Chrome Version 71.0.3578.80

##### STEP

[2018-12-12 12:40] AlanCoding commented on #2914
If you're using 2.1.0, this is likely to be the previously-reported bug of grandparent groups being excluded, and should be fixed. Let us know if you still see issues after upgrading. Thanks.

https://github.com/ansible/awx/issues/2574

[2018-12-12 12:40] #2914 closed, assigned to nobody

[2018-12-12 12:59] ryanpetrello commented on #2909
@magick93,

This issue tracker is for reporting bugs and issues in awx - questions like this one are best suited for our mailing list (https://groups.google.com/forum/#!forum/awx-project)

Are you running a _local_ (e.g., minishift) Kubernetes cluster, or have you just accidentally created some Docker containers in a local Docker you're running?

If it's the former, consult https://kubernetes.io/d

[2018-12-12 12:59] #2909 closed, assigned to nobody

[2018-12-12 13:24] elyezer commented on #2617
I verified this on both Chrome and Firefox by checking the details of a Workflow within a workflow and a Job within a workflow, in both cases the source workflow were properly presented, see below:

Workflow details:

![screenshot from 2018-12-12 11-23-35](https://user-images.githubusercontent.com/48132/49872495-669fbd80-fe00-11e8-985c-dd15d487242d.png)

Job details

![screenshot from 2018-12-12 1

[2018-12-12 13:24] #2617 closed, assigned to elyezer

[2018-12-12 13:40] elyezer commented on #2606
I tried to reproduce on a fresh install and the details links are working as expected, here are the scenarios I tried on both Firefox and Chrome:

1) Workflow with a single job
2) Workflow with 3 job running in parallel
3) Workflow with 3 jobs running in parallel, then after all 3 being completed another job.
4) The same as 3 but having a parent workflow to call the above's workflow.

This is now

[2018-12-12 13:40] #2606 closed, assigned to elyezer

[2018-12-12 16:06] dsesami commented on #2444
this is broken for credentials as well w/ the 21st credential which causes pagination. It was also broken for groups in the past, though that was fixed. It seems like this is a bit of copy/pasted code, which needs to be identified and fixed for all relevant resources in AWX.

[2018-12-12 16:17] daniel-lynch opened #2915 "'PyVmomiHelper' object has no attribute 'module' - Not able to run playbooks that use vmware_guest"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI
 - Core

##### SUMMARY
When running a playbook that uses the vmware_guest Ansible module to create Virtual Machines the Web UI stdout is blank as well as the the API shows no activity for that job. The job runs indefinitely and cannot be killed through the web. When running the playbook on the awx_task container command line Ansible

[2018-12-12 16:28] wenottingham commented on #2915
`vars_prompt` is not supported under AWX, that is why it is hanging.

[2018-12-12 16:58] daniel-lynch commented on #2915
@wenottingham That is correct but if you have AWX import those variables through a survey or set them in Extra Variables playbooks will run no problem, we do this with other playbooks. And after looking at it it looks like we are missing a question in the survey. I should have looked at that more carefully. Thanks! I'll add that and see if the error displays in the UI.

and It actually appears to

[2018-12-12 17:03] kdelee opened #2916 "foreman inventory script does not properly detect IP addresses when satellite6_want_ssh_ansible_host=True"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

We updated the foreman.py script and got https://github.com/ansible/ansible/pull/34169
According to docs, I get to override vars in `foreman.ini` by providing them in extra vars on source with `satellite6_` prepended to front of var: https://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html#red-hat-sat

[2018-12-12 17:07] daniel-lynch commented on #2915
After more digging there is not an issue. When the template was created a prompt was not inserted into the survey and I did not verify the survey was correct while troubleshooting.

[2018-12-12 17:07] #2915 closed, assigned to nobody

[2018-12-12 17:08] wenottingham commented on #2916
It would need special handling, see how other vars are handled (it goes in the other section)

[2018-12-12 18:12] mabashian commented on #4208
@trahman73 I'm having some trouble following exactly what's proposed here.  Is the proposal for the user to click on a row and then click on the expand/collapse button to control it on the individual row level?

[2018-12-12 18:40] trahman73 commented on #4208
@mabashian The expand/compact toggles in the list header is still an all or nothing for the entire list. Only workflows will have an individual row level carat to show/hide it's nested jobs.

[2018-12-12 21:22] magick93 commented on #2909
HI @ryanpetrello

This isnt a question, but a feature request.

I just think it would be nice to tell people how they can uninstall - or at the vary least, tell people what needs to be uninstalled.

[2018-12-12 22:23] rhjhunt opened #3827 "foreman.py will only import 250 systems when using host_filters"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

When using Satellite 6 as a dynamic inventory, and with the source varibles set as the following.

Only 250 of my systems out of 1000 will be imported into the inventory.  If I don't set the want hostcollections and host_filters all 1000 systems are imported.

##### ENVIRONMENT
* AWX version: 3.3.2
* Ansible version

[2018-12-13 03:17] lingfish commented on #2225
@wenottingham I realise devs don't comment on closed tickets, but could you make an exception here please and let us know?

[2018-12-13 03:19] lingfish commented on #2225
@dminca Interesting info.  I'm merely trying to go from 2.1.0 to 2.1.2, and no Kuber.  Single node, but external Postgres.

Are you saying you just bumped your versions, and used their playbook to redeploy, migrations happened and all good?

[2018-12-13 08:06] jgibbarduk commented on #1556
@lingfish +1

I'm getting the exact same websocket issues. Any updates on getting a fix?
[code]

[2018-12-13 08:40] dminca commented on #2225
@lingfish yes ofc. The most important bit from the whole picture is your PostgreSQL dump. Have that backed up and you can upgrade it easily.

Destroy the old cluster after you got your DB dump, then raise a new one (latest) and import the PostgreSQL dump before the migrations are being done. It's just a Django app after all...

[2018-12-13 09:27] saurabhchandrapatel opened #2920 "Is possible to use mysql for awx ?"
##### ISSUE TYPE
 - Bug Report
working fine for PostgreSQL  but for mysql DB: -

 main.JobTemplate.project: (models.E006) The field 'project' clashes with the field 'project' from model 'main.unifiedjobtemplate'.

##### COMPONENT NAME

 - Installer

##### SUMMARY

working fine for PostgreSQL but for mysql DB getting an error
##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, m

[2018-12-13 11:21] FleischKarussel commented on #2774
I am experiencing the same issue with Rancher 2.1.0 and latest repo checkout.

[2018-12-13 11:39] adrianlzt commented on #1632
I am having the problem reported on #1559.

We have a roles/requirements.yml file but roles are not being updated.

Looking at the [playbook](https://github.com/ansible/awx/blob/74123647fedb204ec86aa4b9d68d566f35d51ea4/awx/playbooks/project_update.yml) that handles this update I see a strange logi when the cluster has only one worker.

Some Project has "Update on Launch" checked and branch configu

[2018-12-13 12:58] ryanpetrello commented on #2920
@saurabhaec,

AWX is built and tested to work with postgres, and uses a number of features that are _specific_ to postgres.  MySQL support is not planned.

[2018-12-13 12:58] #2920 closed, assigned to nobody

[2018-12-13 13:02] sdktr commented on #2225
@dminca so you didn't reuse the database? merely build out a complete new setup and imported your backup psql dump before AWX started the db migrations?

I'm in the same boat as @lingfish , using k8s already with an external psql database. My upgrade scenario is from 2.0.1 to 2.1.2 however.
Should 'just bumping the container versions' take care of dbmigrations when the new containers start?

Still

[2018-12-13 13:08] dminca commented on #2225
@sdktr it's _almost_ the same situation. Given that you're already having a running PostgreSQL on another host, destroying everything (except the DB of course), bumping the version to latest, and starting them back up again should do the trick.

[2018-12-13 13:51] b0urn3 opened #2922 "Deadlock on single inventory update with multiple sources"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Having an AWS dynamic inventory configured with

  - multiple inventory sources pointing to distinct AWS accounts
  - set `overwrite: true`
  - set `overwrite_vars: true`
  - set `update_on_launch: null`

Can result when updating all sources at once in a deadlock. For example when the update of all inventory source is

[2018-12-13 15:49] christianmarangoni commented on #2785
About First concern:

Agree for the start of think instance as "load Worker".
Instance, an isolated moreover, are the best scenario for manage network segmentation, not all time is possible to create a specific inventory for instance or a smart inventory from a filter.
Selection to point only to the network segment or remote branch is the best Have

Knowledge is not synonymous of automation, autom

[2018-12-13 16:16] dsesami commented on #2857
this applies to any page that has a modal to add permissions or user roles and looks like above, which is probably the same chunk of code. cc @mabashian just so we're aware of it.

[2018-12-13 18:43] sharkcus opened #2925 "Openshift deploy fails with read-only filesystem error."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Using provided openshift role/playbook + vanilla setup, "awx-web" and "awx-celery" containers fail to start with the following error:
`mkdir /var/lib/docker/devicemapper/mnt/<ID>/rootfs/etc/tower/conf.d: read-only file system`
In my opinion, this directly relates to this issue: https://access.redhat.com/solutions/3397

[2018-12-13 19:59] nikkyjha opened #2926 "Vulnerable jQuery"
We are actively using AWX and we have one new security concern: -

We have already reported few in past:
      https://github.com/ansible/awx/issues/2466
      https://github.com/ansible/awx/issues/2467
      https://github.com/ansible/awx/issues/2468

**Summary**

The application is running a vulnerable version of jQuery v2.2.4, which was released on May 20, 2016. The noted version of the product

[2018-12-13 20:04] magick93 opened #2927 "Relationship between hosts and credentials"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Currently AWX does not have anyway of associating credentials with a inventory host, only with an inventory (in a job template).

It is very common for each host to require unique credentials. But awx assumes that all hosts use the same credentials.

## User story

[2018-12-13 21:04] magick93 commented on #2927
Related to https://github.com/ansible/awx/issues/286

[2018-12-13 21:33] wenottingham commented on #2927
Yes, closing this to track in #286.

[2018-12-13 21:33] #2927 closed, assigned to nobody

[2018-12-14 01:40] saito-hideki opened #2928 "[RFE] Limitations for the execution date and time setting range for the scheduled job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Customer wants to make limitation that certain jobs to only run at certain times of the day so they don't affect other operations like a large scale job execution.
Currently, when users create a schedule, there is no features to limit the execution date and time range for job templates.

If it is possible, It would

[2018-12-14 04:42] lingfish commented on #2225
Right, as this is exactly what database migrations are for... I'd just still love a dev to chime in here and confirm the process.

[2018-12-14 06:04] 44int commented on #2876
fixed in  https://github.com/ansible/awx/pull/2875
close.

[2018-12-14 06:04] #2876 closed, assigned to nobody

[2018-12-14 14:27] ryanpetrello opened #2929 "OpenShift installs do not set a meaningful RabbitMQ HA policy"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
![image](https://user-images.githubusercontent.com/214912/50008534-7c3cf080-ff82-11e8-8017-1b22f636df99.png)

For these durable queues, we need to mirror them using a policy like this one:

`rabbitmqctl set_policy ha-all \".*\" '{\"ha-mode\":\"all\", \"ha-sync-mode\":\"automatic\"}' -p awx

##### ENVIRONMENT
* AWX ver

[2018-12-14 14:28] dsesami opened #2930 "Console error thrown when selecting a credential type on a different page."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
A console error is raised (with no noticeable impact to UI) when selecting a credential type that isn't on the currently selected page in pagination. To explain further...click the magnifying glass in the box for "Credential Type":
![screenshot from 2018-12-14 09-22-03](https://user-images.githubusercontent.com/19942822/5000

[2018-12-14 14:30] ryanpetrello commented on #2929
cc @matburt @shanemcd

[2018-12-14 15:02] yoanncrenn opened #2931 "URL absolute instead of relative"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

Some links are absolute instead of relative.

##### ENVIRONMENT
* AWX version: 2.1.1
* AWX install method: docker on linux
* Ansible version: 2.7.2
* Operating System: CentOS 7
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Connect to AWX. At home page, links in dashboard-list for jobs, dashboard-count and activity-strea

[2018-12-14 15:28] kdelee commented on #3827
@wenottingham do we want to file a bug in the ansible repo?

[2018-12-14 16:19] computerlyrik commented on #2245
Probably references:
https://github.com/ansible/awx/issues/223
https://github.com/ansible/awx/issues/514
https://github.com/ansible/awx/issues/2110

[2018-12-14 16:25] dsesami opened #2932 "Can't schedule a job that has a mix of mandatory and optional prompted variables in a survey."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
I had a job template with a survey with four prompted variables.
1st: Optional
2nd: Required
3rd: Optional
4th: Optional

When trying to schedule this job, I have to fill in the required variable for the survey. When I hit save to actually confirm the scheduled job, the spinny hangs indefinitely and a console error appears:

[2018-12-14 16:40] dsesami commented on #2932
probably related to https://github.com/ansible/tower/issues/3198

[2018-12-14 17:02] unlikelyzero commented on #2932
@dsesami can you see if this occurs on an older tower version (3.3.0)

[2018-12-14 17:10] radioactive73 commented on #2928
It would be even better if there was a schedule option in the template survey so the end user could pick from the available schedule options defined in the survey.

Ex:
START DATE - Selectable from survey prompt on launch
START TIME (HH24:MM:SS) - Configurable in the survey configuration (set to 01:00:00) but hidden from survey prompt on launch
LOCAL TIME ZONE - also configurable but hidden on sur

[2018-12-14 17:40] ellagan opened #2934 "Eu-West-3 unavailable for Amazon inventories"
Amazon inventories don't support new AWS region.
Could you please add EU West 3 region ((EU) Paris) in available fields when defining a inventory source ?

[2018-12-14 17:48] albeus commented on #2225
I've managed to upgrade from 2.1.0 to 2.2.1. I use docker compose setup method.

I confirm that creating a new cluster and dumping the old posgres db works.

1. Back up old db using this compose command:
   ``
docker-compose exec  postgres pg_dumpall -U postgres --clean > ~/awx_pgdumpall_2018-12-14.sql
``

1. Stop and clean old cluster.

1. Create a new awx cluster using the installer.

1. Copy th

[2018-12-14 18:10] ryanpetrello commented on #3827
Yep, this looks like it might be a bug upstream in Ansible.

[2018-12-14 18:19] wenottingham opened #2935 "404 when accessing SJT details from a workflow while SJT is running"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
1. Create a workflow "foo"
2. Add a SJT "bar" to the workflow
3. Launch the workflow
4. Wait for "bar" to start
5. Click on the 'details' link for bar *while it is still running*

You get:

"Invalid search term entered. GET returned: 404 Not found."

It works properly once the SJT "bar" finishes.

##### ENVIRONMENT
* AWX ver

[2018-12-14 18:24] wenottingham opened #2936 "Allow workflow node details to open in new tab"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

When viewing a workflow output, each node has a "DETAILS" link.

I should be able to control-click/right-click/middle-click to open these details in a new tab.

##### ENVIRONMENT
* AWX version: current

##### ADDITIONAL INFORMATION

Filing as 'bughancement'.

[2018-12-14 18:27] ryanpetrello commented on #2922
@b0urn3,

Could you share the exact version of awx you're encountering this problem with?

[2018-12-14 18:53] jakemcdermott commented on #2931
Does this impact the behavior of the app or its links in any way?

[2018-12-14 20:00] tvo318 commented on #2936
Which release is this going into?

[2018-12-14 20:10] #2932 closed, assigned to nobody

[2018-12-14 20:36] wenottingham commented on #2934
We use boto2, there has not been a boto2 release that includes this region as of yet.

[2018-12-14 21:02] #2929 closed, assigned to nobody

[2018-12-15 20:17] linuxcube commented on #2334
couchgott, can you provide more update in details as to how to get this working...I am using foreman 1.20 and need something like this to import my dynamic inventory. Thank you.

[2018-12-15 22:55] couchgott commented on #2334
@linuxphone just create an account at your foreman instance and add the creds and url of your foreman instance as "RH Sattelite 6" inventory source into your awx. works this way also with foreman 1.20
Hope this helps.

[2018-12-15 22:55] #2334 closed, assigned to nobody

[2018-12-16 06:09] ellagan commented on #2934
Ok, but using "use_endpoint_heuristics" in boto config or using "BOTO_USE_HEURISTICS" environment variable allows guessing endpoint which are not built-in.
We currently use Ansible with boto2 and it works like a charm for manually executed playbooks. I can deploy Ansible and set the BOTO_USE_HEURISTICS in the docker envs, but I can't display eu-west-3 in the available regions.

[2018-12-16 19:07] b0urn3 commented on #2922
@ryanpetrello this issue is happening on Ansible Tower 3.3.2.

[2018-12-17 02:51] lingfish commented on #1556
This seems to start occurring x +y days after containers are started.  At least 1 day after.  Makes no difference if I go via my haproxy, or direct.

[2018-12-17 08:11] srgvg commented on #2354
I still experience this issue on 2.x

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/awx-project/3CLj0HUFoR4

I recently migrated to AWX 2.1.0, but this problem has been showing itself intermittently before, too (running 1.7.something).

Occasionally, jobs run, but show no output in the web interface. At some time, while it was running, I checked the process list in the

[2018-12-17 10:03] Commifreak commented on #860
Same here (AWX 2.1.2.0) - Facts are gathered but not showed on host-page. The tick-box `Use Fact Cache` is OFF. Should it be enabled?

[2018-12-17 12:31] chrismeyersfsu commented on #860
Yes it should be turned on (ticked) for facts too be gathered

On Mon, Dec 17, 2018, 5:03 AM Robin Kluth <notifications@github.com wrote:

[2018-12-17 15:15] dsesami opened #2939 "Application dropdown error should be improved"
##### ISSUE TYPE
Feature idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Failing to fill a required field in the UI for creating applications should show a more useful error than just kicking back the API error. Here's a screenshot of the current behavior if you try to use the Authorization code option then don't fill in a field.

![screenshot from 2018-12-12 09-42-43](https://user-images.githubus

[2018-12-17 15:31] wenottingham commented on #2934
Unless I'm misunderstanding, `BOTO_USE_HEURISTICS` allows you to use unknown regions you specify... it doesn't help for the case of discovering those new regions (which is what would be needed for the dropdown).

[2018-12-17 15:34] ellagan commented on #2934
You are right. That's the method we use because eu-west-3 is not (and maybe won't be) available in the endpoints.json file for boto2

[2018-12-17 15:37] mabashian opened #2940 "Add job type to job status websocket channel messages"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
In working on https://github.com/ansible/awx/pull/2938 we on the UI team realized that it would be tremendously convenient for the job type to be present in job status socket messages.  It's particularly useful for the workflow results view where we need to build a static DETAILS link that would take the user out to the d

[2018-12-17 15:52] flavored-soda commented on #1212
So, this was actually a major headache for me today and now I get to go out how to uninstall these docker containers due to this wonderful impediment to my workflow.. was hoping to be productive today -- would have done this much different if the auto-break "feature" wasn't here. Whenever you guys fix this, you need to write a fix and migrate script, because being new enough to NOT know this would

[2018-12-17 16:09] cavamagie commented on #465
@srinivasakp thanks!!!
but for me is necessary to add for example an option
acceptkey: yes

[2018-12-17 16:16] awithrow9 commented on #3827
@unxfrek is this coming from a customer?

[2018-12-17 17:44] wenottingham opened #2941 "Enhanced options for sliced jobs; use sliced jobs to handle multiple inventories"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
1. Slice by number of hosts or percentage of hosts, rather than by number of slices
1. Select multiple inventories, and slice by inventory
1. Prompt on launch for slicing/slice parameter

##### ADDITIONAL INFORMATION

[2018-12-17 17:52] wenottingham opened #3826 "Collect Ansible performance stats"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
@sivel has a perf callback plugin: https://github.com/ansible/ansible/pull/46346

We should integrate/merge this into ours to collect perf stats.

##### ADDITIONAL INFORMATION

This is for collection only. Visualization would be other issues/initiatives.

Tasks:

- [x] Collect perf stats data in `Runner.event_callback`
-

[2018-12-17 18:14] rhjhunt commented on #3827
@awithrow9 yes I was working with a customer on this and I was able to reproduce.

[2018-12-17 18:39] unlikelyzero commented on #2936
@tvo318 likely 3.4.0. Testing now. I have an instance up if you wanna take a 👁 .

@wenottingham @mabashian seeing some unanticipated behavior here:

The new page is opened up in a tab, but the mouse is hooked onto the 'DETAILS' link and isn't released until the user mouse event is fired... which opens up the details link in the current tab... which is counter-productive to this change. Even hittin

[2018-12-17 18:50] kialam opened #4210 "Add proper error handling to Org Form(s)"
- [ ] Add error handling for our API requests.
- [x] Redirect user to the Details view of the newly created org if Save is successful.
- [x] UX feedback from [here](https://github.com/ansible/awx-pf/pull/53#issuecomment-447382451):

Example: https://tower-mockups.testing.ansible.com/patternfly/orgs/orgs-add/

[2018-12-17 18:55] unlikelyzero commented on #2936
Also, details links aren't rendering if firefox

[2018-12-17 18:57] matburt commented on #2913
you need to make sure that you're configured in such a way that AWX containers can connect to the postgres container.

[2018-12-17 18:57] #2913 closed, assigned to nobody

[2018-12-17 22:25] unlikelyzero commented on #2936
https://github.com/ansible/awx/pull/2938#issuecomment-448022145

[2018-12-17 22:25] #2936 closed, assigned to nobody

[2018-12-17 22:26] unlikelyzero commented on #2935
https://github.com/ansible/awx/pull/2938#issuecomment-448022145

[2018-12-17 22:26] #2935 closed, assigned to jakemcdermott

[2018-12-17 23:16] linuxcube commented on #1549
it would be great if this item gets added as this is a show stopper for those of us testing.

[2018-12-18 05:46] shlomita commented on #2913
Is the default configuration of AWX not set to work this way?
I'm beginner with container,  what I need to change?

[2018-12-18 12:11] LeDOC666 opened #2944 "kerberos: Unable to authenticate <Response [302]>, ssl: Bad HTTP response returned from server. Code 403"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Ansible

##### SUMMARY

After done a fresh install, I quick configured all awx objects, and configure krb5.conf in 2 awx containers. But, I'm unable to connect to Windows client.
Another ansible runtime can connect with same method on that Windows client.

##### ENVIRONMENT
* AWX version: 2.1.2
* AWX install method: docker-compose
* Ansible

[2018-12-18 14:55] albeus commented on #2225
I reproduced this problem.

The responsible is the [entry point of docker image awx_task](https://github.com/ansible/awx/blob/2.1.2/installer/roles/image_build/files/launch_awx_task.sh). To be precise this is the command that in my case produce the error in postgres: [launch_awx_task.sh - line 21](https://github.com/ansible/awx/blob/2.1.2/installer/roles/image_build/files/launch_awx_task.sh#L21).

[2018-12-18 15:13] wenottingham commented on #2944
Why are you using a custom credential injectors rather than just host vars?

[2018-12-18 15:21] LeDOC666 commented on #2944
I tryed with host var too, and same problem.
I prefer use custom credential for specify this credential for my Windows Inventory

[2018-12-18 16:35] dminca commented on #2225
You got a ` duplicate key` error because you either
- had data in the PosgreSQL DB before importing the dump
- imported the dump with an unprivileged user

I had that error also when importing the dump after doing the migration.

[2018-12-18 20:43] mabashian opened #2945 "UI only fetches first 25 success/failure notification templates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
* Note that this bug only applies to the toggles on the notification list.  The UI will appropriately fetch all the notification templates.

Lets use the Org notification list as an example.  In order to construct that view, the UI needs to make 3 requests:

1) A request to `/api/v2/organizations/:id/notification_templates`

[2018-12-18 20:54] medberry opened #2946 "credential typo credenital"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Noticed that in the gui, sometimes credential (in tooltips) is misspelled.

##### ENVIRONMENT
* AWX version: 3.3.1 and later (maybe earlier)

##### STEPS TO REPRODUCE

git clone $AWX; cd awx; grep -rIn -e credenital . ; echo Yep, there's a bug

##### EXPECTED RESULTS

No typos returned

##### ACTUAL RESULTS

original error p

[2018-12-18 21:33] BDworak commented on #2152
In the Active Directory flavor of LDAP, you can login to an LDAP service with an @domain.com but that account can be housed in a different AD forrest in the back end, eg. FORREST1/username or FORREST2/username or FORREST3/username.

[2018-12-19 04:10] lingfish commented on #288
Hi, confused here.  I see this commit done over a year ago, but it doesn't seem to be in 2.1.0?

[2018-12-19 05:21] cg-cnu opened #2949 "Ability for AWX user with limited permission to edit notifications settings on templates"
##### ISSUE TYPE
 - Bug Report or missing feature

##### COMPONENT NAME

 - UI

##### SUMMARY
Couldn't find a way to assign a person with admin permission on a project to give access to edit success/failure notifications settings on templates.

##### ENVIRONMENT
*  AWX version: 1.0.8.0
* AWX install method: docker on linux
* Ansible version:  2.6.4
* Operating System: Cent6
* Web Browser: Chrome

[2018-12-19 06:09] nikkyjha opened #2950 "Frameable Responses"
We have been actively using AWX and blocked on the below security finding.

**Summary** The application does not set a suitable X-Frame-Options header in the responses to prevent framing.

**Impact** It is possible for a malicious user to frame content of the application on a malicious website. This may be used in a clickjacking attack, where the attacker's page overlays a hidden, framed version o

[2018-12-19 13:00] joe-speedboat opened #2951 "Webhook Json validation does not work with arrays"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.1.2
* AWX install method: docker
* Ansible version:  2.7.5
* Operating System: CentOS 7.6.1810
* Web Browser: Firefox 64.0

##### STEPS TO REPRODUCE
* Log into AWX Web
* Notifications > New
* Type Webhook
* Fill the json box with
[code]

##### EXPECTED RESULTS
Save button should be availab

[2018-12-19 14:06] wenottingham commented on #2949
This is a known issue where the notification tab does not show up. You should be able to toggle them via the API.

[2018-12-19 17:32] wenottingham commented on #2657
To followup from a side conversation: playbooks can execute shell code on the host itself.
(A trivial example is a `shell` task with `connection: local`). Hence, this is not considered an additional security risk, as the administrative permission to add inventory scripts is explicitly granted.

Long-term, container environments will likely change such that all task execution is outside of the web

[2018-12-19 23:24] orgito commented on #2225
Since 2.1.0 simply running the playbook again have been working for me.  No need to export with tower-cli or dump and restoring the database.

[2018-12-19 23:25] saito-hideki opened #2952 "[RFE] "order: inventory" and "reverse_inventory" does not effect in AWX / Tower"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Inventory

##### SUMMARY
In order to H/A cluster system configuration, Customer have been using "order: inventory" and "order: reverse_inventory" in their playbook. It works fine with ansible core, but does not effect when they launched their playbook as a job from AWX/Tower.

##### ADDITIONAL INFORMATION
The background of this request as f

[2018-12-20 15:09] skylinetux opened #2953 "AWX ignore inventory variables when hosts in group"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
AWX ignore inventory variables when hosts in group.

`$ cat test_vault/main.yml
- name: Check template
  hosts: all
  tasks:
    - name: Copy
      copy:
        content: '{{ vault_data }}'
        dest: "/tmp/vault.data"
`
[https://i.imgur.com/L7XIaHX.png](url)
[https://i.imgur.com/PpUaBQL.png](url)
[https://i.imgur.com/PpU

[2018-12-20 15:54] linuxcube opened #2954 "AWX - Unable to configure only HTTPS/SSL"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
New installation, trying to get https/SSL connection working...I am not sure why AWX only permits http connection in particular when it involves username/password credentials.

##### ENVIRONMENT
* AWX version: 2.1.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.4
* Operating System: Red

[2018-12-20 16:38] sharkcus commented on #2925
Alright. How about a compromise. None of you need to get me a Christmas present this year if you can help me out with this issue.

[2018-12-20 18:33] medberry opened #2955 "confusing "inventory script""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
The "inventory scripts" selection does NOT allow you to specify a project and an inventory script. Yes, you can do this directly under inventory but not with the "inventory script" selection (which is what a novice is more likely to choose). It does allow you to "pasted" in an inventory script but that's full of fail. I sho

[2018-12-20 18:57] matburt commented on #2954
This is not how that works... if you aren't sure how to configure nginx to use https on the right port and modify your docker configuration accordingly then you should use a load balancer in front of AWX (like HAProxy).

[2018-12-20 18:57] #2954 closed, assigned to nobody

[2018-12-20 20:09] linuxcube commented on #2954
Why is this topic getting close without any sort of recommendation on configuring nginx with SSL?

[2018-12-20 20:32] hlarsen opened #2957 "allow passing job_type to job template callback api"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Currently it appears if a Job Template has a job type of check, it cannot be overridden when using the callback API. Because of this to actually have the template run from a callback job type must be set to run. I'd like to be able to keep the Job Template set to check in AWX but override it with run when calling the API.

[2018-12-20 20:44] wenottingham commented on #2953
Should be fixed in 2.1.1.

[2018-12-20 20:44] #2953 closed, assigned to nobody

[2018-12-20 20:44] wenottingham commented on #2946
Fixed in #2947

[2018-12-20 20:44] #2946 closed, assigned to nobody

[2018-12-20 20:45] wenottingham commented on #2955
This is different things for different use cases... I agree that it's confusing, but we wouldn't use the project picker here.

[2018-12-21 12:40] cavamagie opened #2958 "error with requirements.yml ssh on gitlab"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
hi i usi a scm with scm privare key
to download project no problem

when i use a requirement.yml
like this

- src: git@anacard.com/AnsibleGalaxy/Common.git
  scm: git
  version: master

 i receive this error
i see in the manual that the configuration for github is correct
example

# from GitLab or other git-based scm
- src:

[2018-12-21 16:09] wenottingham opened #2960 "add template title to prompt dialog"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
1. Hit launch on something
2. See prompt dialog
3. Go grab a coffee
4. Forget what you were launching

![screenshot from 2018-12-21 11-07-43](https://user-images.githubusercontent.com/5208768/50351638-d6086200-0510-11e9-85ea-8ace44668d63.png)

Adding the template title to the prompt dialog (e.g., PROMPT - MY TEMPLATE HERE)

[2018-12-21 16:19] wenottingham opened #2961 "inventory prompt string for workflows not 100% correct"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

1. have a workflow with inventory prompt on launch

The note is "  This inventory is applied to all job template nodes that prompt for an inventory. ".

However, it's also applied to child workflow nodes as well. Maybe "all workflow nodes" is better wording.

##### ENVIRONMENT
* AWX version: current

[2018-12-21 17:06] jamesmarshall24 opened #2962 "RFE: Allow Job Template Creator or Create User Role to Add Any User for Job Template Roles"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Add the ability to allow job template authors full admin to a created job template. This would include the ability for the job template author to add use/admin access to any job template they authored. Not just team members.

##### ADDITIONAL INFORMATION

A team member can currently share their playbook with a tea

[2018-12-21 21:34] perzizzle commented on #2769
I am also able to reproduce this issue in ansible tower 3.3.2 with any playbook with serial defined.

[2018-12-22 01:20] walkafwalka commented on #1886
@gforster, you could create a pull request.

[2018-12-22 06:30] rharmonson commented on #2886
They don't care.

Folks have been asking for non-docker installation instructions since its release. I know for I have been monitor and originally I figured it was just a matter of time so I would check back once a month. Silly me assumed no open source project would require the adoption of docker to participate unless it was "Docker" but it is clear they just don't care that they are excluding a

[2018-12-23 11:04] rhjhunt commented on #3827
@awithrow9 should I open this issue against ansible rather than AWX?

Also as a workaround, would it be viable to edit `/var/lib/awx/venv/awx/lib/python2.7/site-packages/awx/plugins/inventory/foreman.py` and change the '250' to the amount in their inventory? (e.g. 1000).  That setting would need to be modified on each tower node if they are clustered correct?

[2018-12-24 04:40] sandeepdharembra commented on #1674
I have the same issue. Here is the playbook -

`---
- hosts: all
  remote_user: xxxx

  tasks:
    - name: pinging the hosts
      ping:
      tags: pinging
    - name: checking free memory
      command: free -m
      tags: [ 'mem', 'sys' ]
    - name: checking tmp disk space
      command: du -sh /home/nextag
      tags: [ 'disk', 'sys' ]`

and here is the command line output -

ansible-playbook

[2018-12-24 05:17] sandeepdharembra commented on #1674
Similar issues #2222 and #1182

@d-malko, @rsmoorthy  Actually #1182 is a feature request for seeing a list of tags on UI and selecting one of those. The workaround option I was able to find was at https://github.com/ansible/awx/issues/2222#issuecomment-418396509 where you have to type the name of the tag manually and press enter

[2018-12-26 18:31] rcextreme opened #2963 "How to remove old logs"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - UI

##### SUMMARY
How do I delete old log files.  I did the docker installation method.  After a new months running my file system is full.  I can see the pgdocker dir and /var/lib/docker are the biggest offenders.  I had scheduled the "Clean Up Job Schedule" and "Clean up activity schedule" it doesn't seem like this cleared logs.

##### E

[2018-12-27 06:21] lucabrasi83 commented on #553
On top of boolean which is highly desirable, it would be a nice to have a Regular Expression type so we can validate specific patterns directly from the user inputs (eg: IP Address).

[2018-12-27 15:37] jaykumar-jnpr commented on #2906
Please provide container logs (awx_web)

also, this would help

curl -vv <url to AWX>

[2018-12-27 15:43] inhumantsar opened #2964 "DEPRECATION: Google+ OAuth APIs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
Google will be shutting down the G+ OAuth APIs, which AWX uses for Google authentication, on March 7 2019. Information on its replacement can be found here: https://developers.google.com/identity/

##### ENVIRONMENT
* AWX version: current
* AWX install method: docker on linux
* Ansible version:  2.7.x
* Operating Sys

[2018-12-27 16:13] drwahl opened #2965 "Slack notifications with color fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When using the slack notifier, if a color is defined, the notification will fail with an error from the slack APIs saying "not_in_channel".

##### ENVIRONMENT
* AWX version: 2.7.4
* AWX install method: docker on linux

##### STEPS TO REPRODUCE
Create a slack notification (including the bot user as directed by the AWX/Tower d

[2018-12-27 16:18] #2958 closed, assigned to nobody

[2018-12-27 16:18] cavamagie commented on #2958
solved changing url with :

[2018-12-27 16:59] nmartinez-nimeops opened #2967 "Migrations_Notran never finished"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Migrations_Notran never finished...

##### ENVIRONMENT
dockerhub_version: "2.1.2"
rabbitmq_version: "3.7.4"
rabbitmq_image: "ansible/awx_rabbitmq:{{rabbitmq_version}}"
rabbitmq_default_vhost: "awx"
rabbitmq_erlang_cookie: "{{ rabbitmq_erlang_cookie }}"
rabbitmq_port: "5672"
rabbitmq_default_username: "awx"
rabbitmq_de

[2018-12-27 19:08] nmartinez-nimeops commented on #2967
Working perfect with dockerhub_version: "2.1.1"

[2018-12-30 21:01] arthur-c commented on #159
I bumped this thread as I upgraded the previoud chart I made last year - if anyone interested : https://github.com/arthur-c/ansible-awx-helm-chart

It's not perfect but it's already a lot cleaner and up to date.

[2018-12-31 01:28] ghost opened #2968 "Saved prompt on launch extra variables / survey answers for Workflow nodes are shown in the API even after removal of JT survey / prompt on launch option."
##### ISSUE TYPE

 - Documentation/Issue

##### COMPONENT NAME

 - API

##### SUMMARY

All the nodes of the received workflow is showing additional entries called extra_data with 2 variables. There is no survey or extra variables in associated nodes. Survey only exist at workflow level and that survey does not have these 2 variables. Any idea where this data could be coming from ?

Sample Below

[2018-12-31 14:28] ghost commented on #2275
Basically change requested is not during run time, it is during design time, within Workflow Visualiser.
Usually our workflows are complex and more than 100+ nodes. Let's say I want to rename 20 of the job templates. We have to make a note of those 20 job templates and search them 1 by 1 in templates and then edit and save them individually. This is very painful process for end user. Editing the j

[2018-12-31 14:31] ghost commented on #578
+1

[2018-12-31 20:57] rootchord commented on #1845
Any updates on this?

[2019-01-02 02:40] odg0318 commented on #1992
@dglinder Did you resolve this issue? If resolved, what version ansible are you using?

@AlanCoding  I am using AWX 2.1.2.0 and Ansible 2.7.4. I tried a way in comment, https://github.com/ansible/awx/issues/1992#issuecomment-398424839, but an undecrypted variable was still shown on debugging.
[code]

I also tried to launch job template via the following API, POST `/api/v2/job_templates/[ID]/launch

[2019-01-02 12:03] ssaammoo commented on #796
Hi everyone and happy new year ...
it is happening to me too and for 2nd time ... I left AWX working before holidays and now it is not working and postgres keep restarting

CONTAINER ID        IMAGE                        COMMAND                  CREATED             STATUS                          PORTS                                                 NAMES
3536b5be34a9        ansible/awx_web:2.1.0

[2019-01-02 12:37] AlanCoding commented on #1992
For use in JT extra_vars mentioned in the last comment, there is a proposed patch at https://github.com/ansible/awx/pull/2297

[2019-01-02 12:53] ryanpetrello commented on #796
@ssaammoo could you share any errors in:

[code]

[2019-01-02 13:42] odg0318 commented on #1992
As I understand, there is currently no solution, right?

[2019-01-02 14:07] AlanCoding commented on #1992
correct. They work if put in inventory variables (host or group as well), but not JT extra_vars.

[2019-01-02 15:30] AlanCoding commented on #2968
Are you sure about that? Given what you shared, I would expect that the job template "Checkout_Feature_ATLAS-Automated-Service" has a survey that takes those 2 variables, or that it has `ask_variables_on_launch` set to true. The workflow _node_ is allowed to answer the job template survey if one is enabled.

[2019-01-02 15:51] ghost commented on #2968
It seems to be bug in tower-cli. Had a ticket opened and team has
acknowleded that already. Basically i had survey in job template and
workflow. Later we removed survey from job templates and left only at
workflow level. On UI, it does not show any problem but when you try to
recieve the workflow using tower-cli or via API, you will still see
extra_data with old fields attached to job templates

O

[2019-01-02 15:53] rocklob commented on #2952
The issue is NOT that `order: inventory` and `order: reverse_inventory` do not work.  The main issue is that hosts added to an inventory in Ansible Tower are automatically sorted by hostname.  When the order of the hosts matters (such as when using the `order:` keyword), this is a problem. Contrast this to Ansible Core where hosts in inventory files exist in the order specified by the author of th

[2019-01-02 15:59] rocklob commented on #2952
Here is some additional background to a specific use case to help explain this issue better:

We have a set of servers; let's call them hq1, hq2, dr1, and dr2.  They run proprietary software and the high availability (HA) works such that the flow of replication is hq1 -> hq2 -> dr1 -> dr2.  In order to perform some maintenance operations, the HA needs to be disabled in reverse order (dr2, dr1, hq2

[2019-01-02 16:11] AlanCoding commented on #2968
The behavior you have an issue with is server-side, not CLI-side, to me.

By deleting or disabling the survey at the JT level, you changed the functionality of the workflow run. When the workflow attempts to apply those variables, it should issue a WARNING in the server logs that it cannot accept the previously-set variables.

It is true that this creates a problem for clients, because the _existi

[2019-01-02 16:39] abedwardsw commented on #1271
I am running into this issue as well, I want to combine a satellite6 and scm inventory, but due to not being able to uncheck the flag, the SCM overwrites.   Would be great to see this feature merged.   thanks for your effort @AlanCoding  ([related forum post](https://groups.google.com/forum/#!topic/awx-project/Ruk3j-eyWQo))

[2019-01-02 19:08] Stargator opened #2970 "When activating postgres container, encounter "no such directory""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Unable to go through Activate postgres container task.

Executed `ansible-playbook -i inventory install.yml`

[code]

##### ENVIRONMENT
* AWX version: 4641056829e136fd97cd93a1f1ad44eed5024ac2
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.4.6.0-1.amzn2.0.

[2019-01-02 19:23] #2254 closed, assigned to chrismeyersfsu, jladdjr, kdelee

[2019-01-02 19:50] ghost commented on #2968
It is also causing problem in tower-cli send

On Wed, Jan 2, 2019 at 10:11 AM Alan Rominger <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-01-02 21:32] codeby-sreddy opened #2971 "AWX is failing to do SCM pull after openshift upgrade to 3.9 from 3.7"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- Installer

##### SUMMARY
Awx is failing to to SCM update after the openshift upgrade to 3.9. ( one of the issue )

we have awx installed on openshift version 3.6 with awx images that were pushed to our own registry ( to avoid accidental upgrades ). these images were working fine with version openshift 3.7 and when we upgrade the openshift to v

[2019-01-03 03:57] ghost commented on #1845
+1

[2019-01-03 04:02] ghost commented on #1845
Hi, for your first comment about allowed machine. This is something users will take care and you shoulld not be concerned about allowed machine. Whole point of calling provisioning callback is without passwords for trusted machines. We are making sure only trusted machines are calling this. So, whether JTs refer to same inventory or different, should not be on any concern in providing the feature.

[2019-01-03 08:13] ssaammoo commented on #269
it is bit worrying ... it happened now 3 -4 times ... the AWX is working fine and suddenly postgres docker keep restarting .. did anyone figured out the root cause please ?

[2019-01-03 08:50] ssaammoo commented on #1212
If I understand correctly .. then postgres will break any time if I reboot the host where AWX is installed on ?

[2019-01-03 15:59] AerialRoots opened #2973 "ansible not loading library configuration from ansible.cfg"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Ansible

##### SUMMARY
According to the logs in AWX the ansible.cfg for our project is being picked up and read,
but it is not loaded some of the defined configuration values like library or module_utils

##### ENVIRONMENT
* AWX version: 2.1.2
* AWX install method: openshift
* Ansible version: 2.7.4
* Operating System: centos7
* Web Browser:

[2019-01-03 17:15] AlanCoding commented on #2973
First question: did you click to use fact cache on the job template you're using? That seems like a re-appearance of issue https://github.com/ansible/awx/issues/815 at first glance, @ryanpetrello does that sound correct to you, given the code:

https://github.com/ansible/awx/blob/4955fc8bc422f653b42134bb0a18f7d319ef1a58/awx/main/tasks.py#L1199-L1205

Second question / observation: in the API from

[2019-01-03 17:38] ryanpetrello commented on #2973
Yes, it would be nice if you could set a higher verbosity, relaunch your job template, and provide us with the full output of `/api/v2/jobs/N/`.

Also, @tsuff231 give this a try: https://github.com/ansible/awx/issues/815#issuecomment-357753056

[2019-01-03 18:21] AlanCoding opened #2974 "No option to use multiple inventory files (and thus constructed inventories)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Runner sees inventory as a singular parameter:

https://github.com/ansible/ansible-runner/blob/94f58c7c3667102dbafbf3b2349322c594deeccc/ansible_runner/runner_config.py#L249-L250

To be consistent with how Ansible core has operated since 2.4, it needs some way to process a list of inventory sources.

##### ADDITIONAL INFOR

[2019-01-03 18:24] AlanCoding commented on #2974
sorry wrong repo

[2019-01-03 18:24] #2974 closed, assigned to nobody

[2019-01-03 20:09] AerialRoots commented on #2973
@AlanCoding:
1. Yes, I had fact cache enabled for this particular job template. I just tried rerunning it with fact cache disabled and the library loaded correctly and the playbook completed as expected.
2. As for the second question, I don't see any `-v`'s on the `job_args` for the job in the API browser, but I had it set to level 3 (DEBUG) in the AWX UI.

@ryanpetrello:
I would have to scrub som

[2019-01-03 20:59] steaksauce- commented on #1212
Unless you change the directory that it lies in.

[2019-01-03 21:01] ryanpetrello commented on #2973
@tsuff231 currently, the only way to set a custom `ANSIBLE_LIBRARY` (when fact caching is enabled) is to use the global `AWX_TASK_ENV`.  The reason is that Tower _itself_ sets `ANSIBLE_LIBRARY` for custom plugins it uses (for fact caching); this overrides what's in your `ansible.cfg`.  We also don't _currently_ have a way to parse the contents of your `ansible.cfg` for the appropriate `library` va

[2019-01-03 22:59] rootameen commented on #269
@ssaammoo the only workaround that's working for me is to set `postgres_data_dir` property in installer/inventory file to force it from setting up in tmp.

[2019-01-04 03:11] #2967 closed, assigned to nobody

[2019-01-04 11:31] b0urn3 opened #2975 "Bug: SCHEDULE_MAX_JOBS is ignored for scheduled Workflow Job Templates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

The setting `SCHEDULE_MAX_JOBS` is ignored for WFTJs but works correctly for JTs.

##### ENVIRONMENT
* AWX version: devel branch
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: N/A

##### STEPS TO REPRODUCE

The Job Temp

[2019-01-04 13:11] grahamn-gr opened #2976 "AWX secret_key in K8s should be treated as a secret"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
The SECRET_KEY used for postgres encryption/decryption is stored and comes from a configMap rather than a secret.

##### ENVIRONMENT
* AWX version: 2.1.2
* AWX install method: openshift
* Ansible version:  2.7.2
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

As seen here: https://github.com

[2019-01-06 17:32] nmartinez-nimeops commented on #2967
So it's ok in 2.1.2 or not?? Why closed?

[2019-01-07 07:12] jyothscupid opened #2978 "Workflow template issue - Workflow got stuck even after successful completion of a failed job template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
I have workflow template with 9 job templates (JT), it has failed at JT-6. So I clicked on details on failed JT-6 due to a timeout in executing a task, so I relaunch the JT-6 by going into details and click relaunch button. It was successful after relaunch, however Ansible did not resume the workflow even after the f

[2019-01-07 11:17] jayasuryapitchuka commented on #2926
Hi awx team,

Currently we are blocked on this issue. Can we know your remedy for this vulnerability?

[2019-01-07 16:03] gamuniz opened #2979 "Allow Org Admins to remove users in their own Org."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

The ability to remove a user that was created by the Org admin by the same user should be possible if the user only belongs to the Org to which the admin has permissions.

##### ENVIRONMENT
* AWX version: latest
* AWX install method: installer
* Ansible version:  2.7.5
* Operating System: RHEL7
* Web Browser: Chr

[2019-01-07 18:08] AlanCoding commented on #2979
It looks like this is how it worked in 2.4.5, but then in 3.3.0, it changed such that only superuser could delete.

https://github.com/ansible/tower/commit/eae73496650a92fac033349bcd85635893928830#diff-c14c9d695bfbeb70889f2b42b18ed42dL259

Given that our logic for editing a user is now more conservative, I would not have a problem with allowing org admins to delete a user (criteria is that they ar

[2019-01-07 18:12] AlanCoding commented on #2630
Looks like Ansible PR moved to ~https://github.com/ansible/ansible/pull/50421~

Still not merged.

EDIT: it moved again, keep reading.

[2019-01-07 18:22] matburt commented on #1963
Some other things:

* Hosts in inventory (relative to license)
* num toplevel resources
* cpu and memory usage of instances
* jobs and queue length per-instance and overall

We'll want to make sure we support `text-plain` on the endpoint and can generate stats that look like this: https://prometheus.io/docs/instrumenting/exposition_formats/#text-format-example

An easy prometheus container can be

[2019-01-07 19:11] wenottingham commented on #2963
Hi -

This is not a bug with AWX. Please see the mailing list (https://groups.google.com/forum/#!forum/awx-project) or the IRC channel (#ansible-awx on irc.freenode.net).

[2019-01-07 19:11] #2963 closed, assigned to nobody

[2019-01-07 19:19] abedwardsw commented on #578
+1 I think this is a really good idea, I was searching for something similar.  In general I find we end up with too much manual configuration of jobs in AWX, having it sourced from Git would provide much needed version control (rollback capabilities) and simplify the process of moving between awx instances.

@wenottingham have you given much more thought to this feature?  Is the implementation sig

[2019-01-07 19:24] wenottingham commented on #2964
https://github.com/python-social-auth/social-core/issues/300

[2019-01-07 19:54] wenottingham commented on #578
What do you mean by significant? I suspect there's a decent amount of design that needs to go into it to make sure it's sufficiently future proof, and doesn't clash horribly with tower-cli and other things.

[2019-01-07 19:57] abedwardsw commented on #578
by significant I was wondering if this is a large change requiring weeks of effort.  it sounds like it is. ;-) .  Would be a great feature if/when someone has time to implement.

[2019-01-07 20:12] wenottingham commented on #1845
While I understand that you may be blocking the API in your environment to ensure only trusted machines are calling it, we still need to do that verification on the AWX side to avoid issues in general deployments.

[2019-01-07 22:26] rocklob opened #2980 "Allow users to specify order of hosts in an inventory in Tower"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI
 - Inventory

##### SUMMARY

This request was sort of posted under #2952, but was not properly described by the original poster (the RedHat support person who was trying to address my support case).  I'm reposting it here for clarity.

Hosts added to an inventory in Ansible Tower are automatically sorted by hostname.  When the or

[2019-01-08 15:40] AlanCoding commented on #2980
Seems like what you want is described in:

https://github.com/ansible/awx/issues/2240

That issue needs a better name.

I would qualify that Ansible, itself, has a bug in maintaining host ordering (which I introduced, and a patch for is still an open PR) with particular kinds of nesting. The ordering problem in AWX, however, is much more basic, and I agree needs fixing.

If you agree you're seeing

[2019-01-08 15:41] AlanCoding commented on #2952
Seems to be a duplicate issue with linked issue?

[2019-01-08 15:55] jdh239 commented on #2058
Labels is a crutch.  I think you should be able to restrict the view by teams, individuals, groups, etc.  It is a jumbled mess of job templates otherwise.

[2019-01-08 16:26] wenottingham commented on #189
I think this is not going to be done as specified here.

[2019-01-08 16:26] #189 closed, assigned to nobody

[2019-01-08 16:27] wenottingham commented on #292
-> #1508

[2019-01-08 16:27] #292 closed, assigned to nobody

[2019-01-08 16:51] rocklob commented on #2980
It is not clear to me that these are the same issue.  Ansible itself does have an issue with the `order` keyword not working properly.  I opened a separate issue for that (https://github.com/ansible/ansible/issues/49846) and a PR has been submitted for its resolution.
However, that feature is still crippled by Tower's inability to allow a user to specify the order of the hosts in an inventory.  I

[2019-01-08 18:07] matburt commented on #2238
We'll focus on:

* Hashi Vault
* CyberArk
* Azure KV

The key part of this implementation is:

* Adding credential types for the credential management systems that we'll support
* Adding a layer on top of the existing credentials that
** Allows you to assign a credential management system's credential
** Populate the settings necessary to look up the necessary credential values in that system
* Cr

[2019-01-08 18:44] matburt commented on #2630
Generate list of become plugins from ansible command (cached) and use that to present what is available (if ansible 2.8)

[2019-01-08 19:01] matburt commented on #1963
Add overall healthy status (are any instances *down*)

[2019-01-08 19:21] AlanCoding commented on #3826
@matburt you mentioned that we would probably subclass the existing AWX callback plugin from this new perf plugin. Alternatively, I think it makes more sense to not inherit one from the other, but just have both enabled. This should involve no changes to the existing callback plugin. One more reason for this is that they are both different plugin types, the perf callback module has `CALLBACK_TYPE

[2019-01-08 19:22] matburt commented on #3826
The problem I was worried about is that we need to be able to get the data *in* our plugin in order to send it along with the rest of the event data.

[2019-01-08 19:28] mabashian commented on #345
Note that as part of planning we'll want to run through the app and identify the lists/lookups.  Adding a host to a group comes to mind

[2019-01-08 20:52] AlanCoding commented on #2980
Some hosts come from inventory sources, and I don't think it would ever make sense to allow re-ordering of them. For manually added hosts, I can understand what you're requesting, setting aside the related blocking bugs for now.

[2019-01-09 11:51] changsijay opened #2981 "schedule UI cannot make some rrule"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
make it possible to make rrule such as `rrule(MINUTELY, interval=30,byhour=range(9,17), byminute=(0,30),dtstart=parse("20190110T090000"))`
which runs every `30` minutes, every day from `9AM` to `5PM`

##### ADDITIONAL INFORMATION

[2019-01-09 12:21] IAMShashankk commented on #1773
@wenottingham How can I allow Normal user to create/copy the new/exiting inventories.

[2019-01-09 15:02] ijmason opened #2982 "Webhook notifications not triggered for some job template runs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

We are triggering many concurrent jobs via a job template in AWX, using the API.  The job template includes a webhook notification to post the results back to the application that triggers the jobs.
However, some jobs' webhook notifications don't fire, despite the job completing (successfully or otherwise).  There is nothi

[2019-01-09 15:28] jakemcdermott commented on #2926
Hey there - thanks for creating this issue. We will be updating jquery and a few other dependencies in the coming weeks.

[2019-01-09 17:02] wenottingham commented on #1773
Assign them the 'Inventory admin' permission for their organization.

[2019-01-09 17:27] IAMShashankk commented on #1773
I tried that but after admin permission they are only allowed to edit the
inventory.
Still they are not able to copy/create new inventory.

I assigned admin roles for the users by adding them in team.

On Jan 9, 2019 10:50 PM, "Bill Nottingham" <notifications@github.com> wrote:

[2019-01-09 17:48] kialam opened #2984 "UX Enhancement: Add Ability to Collapse Jobs List"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Add ability to expand/collapse the Jobs List. Below are the following changes proposed:

1. Default view for the Jobs List view is collapsed with Job Status, Job Name, Job Type Label, and Relaunch Icon.
<img width="1420" alt="screen shot 2019-01-09 at 12 45 49 pm" src="https://user-images.githubusercontent.com/2293210/50

[2019-01-09 18:21] unlikelyzero commented on #447
QE Questions and Concerns:

- Will this only be available on the jobs details page?
- How would this be represented if a job is currently being run? How would this work of the job result output is lagging behind the completion of the job?
- Is there a funcional limit to how large the stat can be?
- Test responsivity with the scroll bar.
- Does Bill have any concerns with different character format

[2019-01-09 18:49] unlikelyzero commented on #1991
QE Questions and Concerns:

- Potentially have a permission case to check where you have write but no execute role.
- Edit one and launch another
- WFJT, SJT, JT converted and launched
- Edit but undo and still has the dirty flag
- Save and launch with launch type errors (missing project or org)
- Save and launch with form type errors (duplicate name, missing field, etc)
- How is the user is notif

[2019-01-09 18:59] unlikelyzero commented on #345
QE Questions or Concerns:

- Two cases: lookups and existing org and users
- Projects, Credentials, Instance Groups,
- Add users to org. Not from the Permissions page
- We need to discover and test all the list/lookups.
- Multi-select case

[2019-01-09 19:08] kialam opened #2985 "UX Enhancement: Add Ability to Collapse Templates List"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Add ability to expand/collapse the Templates List. Below are the following changes proposed:

1. Default view for the Templates List view is collapsed with Template Name, Template Type Label, Activity Stream, and Relaunch and Copy Icons.
<img width="1386" alt="screen shot 2019-01-09 at 2 04 46 pm" src="https://user-image

[2019-01-09 19:18] kialam opened #2986 "UX Enhancement: Add Ability to Collapse Projects List"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Add ability to expand/collapse the Projects List. Below are the following changes proposed:

1. Default view for the Projects List view is collapsed with Project Sync Status, Project Name,Project Type Label, Sync, Copy, and Delete Icons.
<img width="1382" alt="screen shot 2019-01-09 at 2 10 51 pm" src="https://user-image

[2019-01-09 19:55] wenottingham opened #2987 "UX: better space usage on wide screens"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Our current UX for the new-style detailed lists has a *lot* of whitespace on wide screens.

![screenshot from 2019-01-09 14-53-00](https://user-images.githubusercontent.com/5208768/50924752-7cfc6180-141e-11e9-93c7-9e046142fef5.png)

![screenshot from 2019-01-09 14-53-19](https://user-images.githubusercontent.com/5208768/5

[2019-01-09 20:11] trahman73 commented on #2987
We will try a 3 column approach that would scale down when the browser is resized.

![tower-jobs-table-expand](https://user-images.githubusercontent.com/13351591/50925573-c188fc80-1420-11e9-8fce-65a273a71227.png)

[2019-01-09 20:15] trahman73 commented on #2984
Updated image for Step 3 above...

![tower-jobs-table-expand](https://user-images.githubusercontent.com/13351591/50925805-67d50200-1421-11e9-973e-5a21562ee646.png)

[2019-01-09 20:39] marshmalien opened #2988 "UX Enhancement: Collapse My View lists"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Mockup: https://tower-mockups.testing.ansible.com/mockups/misc/portal/

As part of the "collapse/expand" list work, we want to condense the content within My View to display a brief view of the Job Template and Job list.

**Current My View:**
<img width="1413" alt="screen shot 2019-01-09 at 3 04 16 pm" src="https://user-im

[2019-01-09 21:03] ms-harmonic commented on #1773
Hi @wenottingham ,

Assigning 'Inventory admin' permission allows a normal user to create/edit/delete the inventories in their organization.
But is there a way we can assign this permission to the LDAP user by default i.e. by setting some configuration in the LDAP server settings like "LDAP Organization Map" or "LDAP Team Map". Otherwise, it is not feasible to assign the "Inventory Admin" to all t

[2019-01-09 21:25] wenottingham commented on #447
First stab at answers?

Yes

I suspect the initial implementation only needs to show it when materialized on the job in the API.

No (it's similar to extra vars).

Follows the same format as extra_vars, presumably has the same limitations.

[2019-01-09 21:28] wenottingham commented on #1991
Initial assumptions:

Would be handled by normal can_XYZ permission checking (do not show in this case.)

How would you get here?

If save fails, no launch is done.

We do have toast notifications, I don't know if from a UX perspective expanding our use of them is  good.
(We could do something like have the launch option *in* the toast notification for a save.)

[2019-01-09 21:37] kladiv commented on #1992
+1

[2019-01-09 21:38] ms-harmonic commented on #2949
@wenottingham What is the plan and timeline for fixing this issue? Is there any workaround apart from using the API?

[2019-01-09 21:49] wenottingham commented on #1773
Inventory Admin can be assigned to a team, which can come from an LDAP map.

[2019-01-09 22:01] abedwardsw commented on #2949
I think you might be able to use the tower-cli as another workaround,
[code]

[2019-01-09 22:08] marshmalien commented on #2330
### UI
~~#### Jobs List~~
~~GET: [/api/v2/unified_jobs/]~~
~~Retrieve instance name from the "execution_node" field~~

~~* Add RowItem component with label and value~~
    ~~* Currently, an instance detail view does not exist, therefore we aren't providing a link~~
No plans to add an execution node field to the job list view until we implement configurable lists.

#### Jobs Details
GET: [/api/v2/j

[2019-01-09 22:24] ms-harmonic commented on #1773
@wenottingham
Could you please let know how can we do that? Which parameter should be added to make this happen?

e.g.
LDAP Team Map:

{
 "Team1": {
  "organization": "org1",
  "users": true
 }
}

[2019-01-10 06:50] IAMShashankk commented on #576
@wenottingham any updates on this? Is it completed?

[2019-01-10 08:45] sumkincpp opened #2989 "RFE: Inventory/Hosts distributed locks"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Currently it's possible to run simultaneously different jobs on single device which may cause problems.

This feature will forbid execution of 1 or more job on a single host/inventory.
* When inventory is specified whole inventory should locked for execution for execution of other jobs
* When hosts are specified sep

[2019-01-10 08:46] sumkincpp commented on #2989
Similar to #2541

[2019-01-10 09:00] sumkincpp opened #2990 "RFE: Schedule job after other job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Similar to #1756, but in a simpler way.

Feature that will allow to schedule a job after completion of other scheduled job.
Many jobs can be scheduled after a certain job is completed. Scheduling can be done starting at some time.

Will help gluing many scheduled "environment dependent" workflows/jobs together .

Be

[2019-01-10 10:38] MarvinLind commented on #2482
Hi,
I have the same issue with both self built and docker hub images.

My inventory file:
[code]

[2019-01-10 14:36] dsesami commented on #2984
@kialam @trahman73 I asked a few people what they thought the expand and collapse buttons did (without knowing ahead of time) and it wasn't the most intuitive thing for them -- do you think perhaps we can make it a single toggle button? and even explicitly have "expand all/collapse all" text?

It also feels like it might be better to have it on the left side, since per-row toggles tend to rest on

[2019-01-10 14:40] ijmason commented on #2982
I was able to do a little more investigation here.  I added some logging in awx/main/dispatch/worker/callback.py in a couple of points where it looked like notifications would silently not trigger, and found that the this is indeed the case in these scenarios:

* The unified job object does not have the 'send_notification_templates' attribute (I'm not sure why this would sometimes happen)
* The jo

[2019-01-10 15:12] shanemcd commented on #2984
Was thinking about this while looking at @dsesami's screen earlier and I wasn't immediately clear on what that icon is supposed to do. What do y'all think about some variation on this concept?

<img width="199" alt="screen shot 2019-01-10 at 10 11 36 am" src="https://user-images.githubusercontent.com/773186/50977370-25aecd80-14c0-11e9-831c-12d24bf39541.png">

[2019-01-10 15:25] wenottingham commented on #1773
You map the team as above, and apply the role to the team once it exists.

[2019-01-10 15:31] matburt commented on #1963
Materialize data into a table containing singletons where possible.

Write a module that defines collection for all details, so things are collected and can be re-materialized at a time.

[2019-01-10 15:44] matburt commented on #1963
Two types of data:

* moment, roll up, overall resource summarization/counts
* deep analytics of jobs/events

This card should cover the first one.

[2019-01-10 15:48] matburt commented on #1963
document granularity of updates

[2019-01-10 16:13] themr0c opened #2991 "Helm creation of postgreql fails when installing multiple AWX on different namespaces on same kubernetes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

The name of the postgresql installed by helm is defined by `kubernetes_deployment_name`, which is not necessarly changed when you change the namespace.

[code]
As a result, if AWX is already deployed on a first namespace, deployment on a second namespace will fail at this step:

[code]

##### ENVIRONMENT
* AWX versi

[2019-01-10 17:55] elyezer commented on #2988
Verification list:

- [x] Check if the same information is being presented.
- [x] Check some different resolutions for any inconsistency.
- [x] Check if the expand/collapse works on Chrome and Firefox on both Windows and Linux
- [x] Check if the default state is compact
- [x] Check if pagination is working as expected: the state persists when navigating (if it is expanded then navigating to anothe

[2019-01-10 17:55] elyezer commented on #2986
Verification list:

- [x] Check if the same information is being presented.
- [x] Check some different resolutions for any inconsistency.
- [ ] Check if the expand/collapse works on Chrome and Firefox on both Windows and Linux
- [x] Check if the default state is compact
- [x] Check if pagination is working as expected: the state persists when navigating (if it is expanded then navigating to anothe

[2019-01-10 17:55] elyezer commented on #2985
Verification list:

- [x] Check if the same information is being presented.
- [x] Check some different resolutions for any inconsistency.
- [ ] Check if the expand/collapse works on Chrome and Firefox on both Windows and Linux
- [x] Check if the default state is compact
- [x] Check if pagination is working as expected: the state persists when navigating (if it is expanded then navigating to anothe

[2019-01-10 17:55] elyezer commented on #2984
Verification list:

- [x] Check if the same information is being presented.
- [x] Check some different resolutions for any inconsistency.
- [x] Check if the expand/collapse works on Chrome and Firefox on both Windows and Linux
- [x] Check if the default state is compact
- [x] Check if pagination is working as expected: the state persists when navigating (if it is expanded then navigating to anothe

[2019-01-10 18:02] wenottingham commented on #576
No, updates would be here if there were updates to have.

[2019-01-10 18:05] wenottingham commented on #2989
Closing in favor of #2541.

[2019-01-10 18:05] #2989 closed, assigned to nobody

[2019-01-10 18:05] wenottingham commented on #2990
I strongly believe that if you have dependent jobs, workflows is the best way to accomplish that.

Otherwise, use the API to kick them off on finish.

[2019-01-10 18:36] dsesami commented on #2330
Verification checklist:
- [ ] Ensure that the instance name correctly renders and links given the constraints of possible instance names on ~the Jobs List page, as well as~ the Jobs Details page.
- [ ] Ensure appropriate behavior if the instance name information is blank for some reason (probably just a blank field)

[2019-01-10 18:37] sumkincpp commented on #2990
From Operator perspective this may be destructive and will result in many single purpose workflows have been used only once.

[2019-01-10 18:46] dsesami commented on #1932
Verification plan:
- [x] Ensure that the timeout field renders appropriately and in a similar fashion to the rest of the job template options.
- [x] Ensure that the field accepts and passes appropriate values, and that form validation behaves correctly.

[2019-01-10 19:35] matburt commented on #2991
This is a good report, not such a high priority for us so I'll mark it as help-wanted. If you get a chance to submit a PR we'll review it.

[2019-01-10 19:43] matburt commented on #2971
hmm, we'll need to look and see why permission is now failing on that file. The image should provide that file as a way for us to assign a username to the userid. Have you changed the way openshift behaves here? Normally it will generate a random uid for the user at container launch time.

[2019-01-10 19:44] matburt commented on #2970
Sorry, we don't support the rpm installer... you'll need to contact the maintainer of that project.

[2019-01-10 19:44] #2970 closed, assigned to nobody

[2019-01-10 19:48] matburt commented on #2965
Is the user actually in the channel? You have to invite the user to the channel you want to receive notifications in.

[2019-01-10 19:53] trahman73 commented on #2984
Here is an updated screen based on the feedback from above. I think we should still provide tooltips to this example to further explain the options.

![tower-jobs-table-expand](https://user-images.githubusercontent.com/13351591/50993359-7ab20a00-14e7-11e9-9a5d-f1f339adf7c0.png)

[2019-01-10 19:59] wenottingham commented on #1283
This is pretty much done.

[2019-01-10 19:59] #1283 closed, assigned to matburt, AlanCoding, kialam, jakemcdermott

[2019-01-10 21:08] Stargator commented on #2970
@matburt Thanks, I got the same error when running the installation from the aws repo. I tried several different ways to get it installed. I'll just shelve this for another time.

[2019-01-11 15:20] kialam opened #4211 "Component: Active Filters List"
Create an Active Filters list based on mockup below:
![active_filters_list](https://user-images.githubusercontent.com/2293210/51042453-59eec080-158a-11e9-8e72-7d187821f3fe.png)

1. Number of results that match the current set of filter criteria
2. Clear All Filters button removes all current filters; Active Filters List disappears and the results count reverts to original count.
3. Clicking on X n

[2019-01-11 17:27] jlmitch5 commented on #1932
From api options:

[code]

[2019-01-11 17:33] jlmitch5 commented on #1932
This is how options is passed back for these two fields:

[code]

[2019-01-11 18:23] inhumantsar commented on #1212
@matburt This is not reasonable for a variable that's essentially undocumented. No one is going to know/think to change it until they've already been burned by this problem.

It's not OK to use unsafe defaults. Especially considering that there are plenty of safe alternatives.

[2019-01-11 19:06] wenottingham commented on #1963
Ideally, this data should have a configurable setting that sends this data over a configured logging integration every N seconds|minutes. It can default to 'off'. Depending on complexity/use, not all metrics may be sent this way.

[2019-01-11 19:18] ntman4real commented on #2970
Had the same issue as well.  Using AMZ Linux 2.  Got it to work with the follwing, as "ec2-user".

sudo yum install -y ansible docker
sudo usermod -a -G docker ec2-user #must logout of session for this to work
sudo service docker start
curl -O https://bootstrap.pypa.io/get-pip.py
python get-pip.py --user
pip install docker --user
git clone https://github.com/ansible/awx.git
#logout of session to m

[2019-01-11 20:26] mabashian commented on #4211
Blocked until https://github.com/ansible/awx-pf/pull/87 is merged

[2019-01-11 21:04] mabashian commented on #4211
This _could_ be built without knowledge of the search implementation details (input would be an array of... strings?) or something like that but moving to icebox for now.

[2019-01-12 05:27] drwahl commented on #2965
Yes, the user is actually in the channel. This seems to have to do with inconsistencies in Slack's APIs.

[2019-01-12 08:29] marvinpan8 opened #2997 "How to close awx ? such as systemctl stop awx."
How to close awx ? such as systemctl stop awx.

[2019-01-14 00:05] MrBones757 commented on #1966
Apologies for reviving a closed thread,
I came across this issue using Ansible Tower and modifying these settings did not appear to affect from a Tower (AWX) Inventory source.
The context of this is that we have a 'Windows' group that contains the requisite winrm connection details. When no hosts are populated in this group; the variables do not propagate when adding a host using the add_host modu

[2019-01-14 02:04] joshuaclausen commented on #1966
Have you tried manually adding a never-used var to the ‘Windows’ group?  That seems to keep the group around no matter what.  In my case, I had to enable the verbose logging in the inventory refresh job and then step through where AWX decided to clobber the group (because there were no hosts in it).  However, if I had a manually-specified inventory file that was sourced from my SCM project, it doe

[2019-01-14 06:19] sugitk opened #2998 ""ADD A TEMPLATE" wording is ambiguous in the WF visualizer"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I agreed with the modification #2712, but I propose `ADD A TEMPLATE` should be `ADD A NODE` according to this `TOTAL NODES` in the workflow visualizer.

##### ENVIRONMENT
* AWX version: Tower 3.4.0

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

<img width="596" alt="2

[2019-01-14 09:02] themr0c commented on #2991
Very fine for me.

I had some afterthoughts with the 2 solutions that I proposed. I see unwanted side effects in both options.

The most generic solution that i would propose is following:

[code]

If you agree, I will propose a PR with that change.

For our installation, without changing the playbook, I  finally came to following workaround:  give `kubernetes_deployment_name` and `kubernetes_name

[2019-01-14 13:54] AlanCoding commented on #1991
I want to report that the same difficulty of navigation is felt for updating projects. Let me outline the steps to reproduce this scenario specifically:

 - I have 156 projects in my server, for 8 pages in the UI
 - I have ran a job and am on the job details page
   - I just pushed a commit that changes the playbook
   - I need to update the project and relaunch (just once manually, I don't want t

[2019-01-14 14:32] AdrianDutu opened #3000 "AWX won't start with external PostgreSQL"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
I have installed AWX with an external PostgreSQL DB (9.6).
I have commented postgres_data_dir in inventory and filled pg_hostname, pg_username, pg_password,
pg_database, pg_port.
I have created the awx db and user on PostgreSQL. I've setup the pg_hba.conf file so it can accept connections. Psql connection from awx_ta

[2019-01-14 15:15] wenottingham commented on #2997
This is not a bug report; this repo is for bug reports.

For the standard container-based deployment, you would stop it at the container or pod level.

[2019-01-14 15:15] #2997 closed, assigned to nobody

[2019-01-14 15:37] omab commented on #2964
@inhumantsar, @wenottingham, linked issue https://github.com/python-social-auth/social-core/issues/300 is clsoed now that the related PR https://github.com/python-social-auth/social-core/pull/301 was merged.

[2019-01-14 15:46] wenottingham commented on #2964
@omab am I reading it right that this is in the 3.0.0 that was just released?

ETA: never mind, yes I see it.

[2019-01-14 16:04] wenottingham opened #3001 "Removal of /api/v1"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

`/api/v2` has been available for quite a while, and `/api/v1` has been deprecated for quite a while as well.

`/api/v1` should eventually be removed (as it's complicating some credential work).

##### ADDITIONAL INFORMATION

[2019-01-14 16:24] matburt commented on #3000
The error you received is normal to see early during a first start before migrations run. How long did you wait? I'd like to see the logs from the running container (not just the logfile).

[2019-01-14 16:45] AdrianDutu commented on #3000
Hi Matthew,

It's been 6h already.

[awx_task-json.log](https://github.com/ansible/awx/files/2756233/awx_task-json.log)

I've uploaded as much as the 10mb limit will allow.

On Mon, Jan 14, 2019 at 5:25 PM Matthew Jones <notifications@github.com>
wrote:

[2019-01-14 16:52] omab commented on #2964
@wenottingham, yes, that's correct

[2019-01-14 16:53] mabashian commented on #2056
OK so I took a look at `ng-csp` and I think I understand what it does.  By adding that directive to the dom (body) it lets angular know that it should not make use of `eval()` or inline styles/resources _internally_.  The UI will need to import `angular-csp.css` to get things like ng-cloak/ng-show/ng-hide to work since they'll no longer be able to depend on inline styles.

UI will need to make sur

[2019-01-14 17:43] matburt commented on #3000
I probably need to see more of the top of the log. I'd reset everything and capture it from the task container startup until after the migration check.

[2019-01-14 18:43] mabashian commented on #1611
Attempt at an exhaustive list of places where the UI leverages sockets to update a view:

1) Jobs List
2) Templates Jobs List
3) My View Jobs
4) Inventory Jobs List
5) Dashboard Jobs List
6) Instance Groups Jobs List
7) Templates List
8) Project Templates List
9) Dashboard Templates List
10) Org Templates List
11) Inventories List
12) Inventory Sources List
13) Job Results
14) Workflow Results
15)

[2019-01-14 18:48] mabashian commented on #1611
Note that making these changes will most likely allow us to remove the `working...` spinner from these lists (since we won't need GET requests anymore).  The e2e tests rely on these spinners in some places so we might have to spend some time cleaning up a few tests as a result of these changes.

[2019-01-14 20:00] mabashian commented on #4208
We'll be in a holding pattern here until we get to the templates list

[2019-01-14 20:41] ryanpetrello commented on #2950
Something like:

`add_header X-Frame-Options "DENY";`

...here:

https://github.com/ansible/awx/blob/devel/installer/roles/image_build/templates/nginx.conf#L46

...would likely resolve this.

[2019-01-14 22:16] dbowling commented on #269
The fact that this defaults to a location in /tmp for local docker install makes it really prone to lose data. Is there a reason that this is the default value rather than something like "{ docker_compose_dir }}/postgresql"?

Would this be something that could be switched to a safer default value, or would a preferred way to help this issue be a documentation PR to help guide new adopters towards

[2019-01-14 22:47] FossilBlade opened #3004 "Proxy Support for Pulling Postgres,Rabbit and Memcached images"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
When running the installer with local docker behind a corporate proxy, the task is failing to download the docker images from the hub for postgres, rabbitmq and memcached.

The reason for this is because there is no http_proxy, https_proxy and no_proxy variable defined under the env in the file 'installer/roles/local_

[2019-01-14 22:52] jdhayes commented on #796
This is also my issue. The postgres container is in boot loop, and the errors clearly state that an init script is attempting to initialize the data directory, however it cannot proceed due to that directory is not empty.

`initdb: directory "/var/lib/postgresql/data/pgdata" exists but is not empty`

I can move the directory out of the way and create an empty one here:
`/tmp/pgdocker/pgdata`
Howev

[2019-01-15 01:20] AdrianDutu commented on #796
You should not use the /tmp/pgdocker/pgdata location. The tmp folder is
regularly cleaned by the OS. If you had your data there, it's gone now.
When the container now sees the empty directory is thinks it's a fresh
installation and starts the migration process (which it does every time for
a fresh installation). It should finish, it definitely doesn't take hours.
If it's stuck, check the awx_task

[2019-01-15 12:20] AdrianDutu commented on #3000
I figured it out. I am using instance groups. For some reason, one of the hosts in the group did not start. Once I started it the migration completed and I can log in. Thanks for the support, Matt.

[2019-01-15 12:20] #3000 closed, assigned to nobody

[2019-01-15 14:58] mabashian commented on #2926
https://github.com/ansible/awx/pull/2983 brings jquery up to 3.3.1

[2019-01-15 14:58] #2926 closed, assigned to nobody

[2019-01-15 15:45] mabashian commented on #2151
A couple of thoughts here:

1) I'm not sure if this is necessary for launching templates that have prompts so I'd argue if prompting is involved we probably don't need to change anything.
2) When prompts are involved with a launch we have a summary/preview page that looks like:
<img width="804" alt="screen shot 2019-01-15 at 10 40 17 am" src="https://user-images.githubusercontent.com/9889020/51191

[2019-01-15 16:01] mabashian commented on #587
As it currently stands, the UI uses the `access_list` related endpoint on a resource to populate the permissions tab.  This endpoint gives back and array of users, what their roles are and where those roles come from (team for example).  AFAIK there's the api doesn't expose a list of teams with roles on a particular resource.  In order to gather that information we'd have to come at it from the te

[2019-01-15 16:19] mabashian commented on #2630
Proposed UI changes for this feature:

The Privilege Escalation Method field is exposed when the user is adding/editing a machine credential.  This field is currently a dropdown with a number of hard-coded options that the user can choose from.  With this feature we'll be opening this field up to support more than just our hard-coded list of options.

Option 1:
Make Privilege Escalation Method a t

[2019-01-15 16:26] AlanCoding commented on #1420
@wenottingham this issue will soon be made obsolete by https://github.com/ansible/awx/issues/2630.

Feel free to close.

[2019-01-15 16:33] #1420 closed, assigned to nobody

[2019-01-15 16:37] mabashian commented on #1845
Thoughts on the UI work needed to get this done:

1) Add ALLOW PROVISIONING CALLBACKS checkbox to workflow form.  Should this checkbox only be shown when the user has a wf level inventory set and/or prompt for inv on launch?  What if all of their JT's already use the same inventory?  Might be best to just always show it.
2) When the user toggles the above checkbox on, two more fields are exposed:

[2019-01-15 17:12] trahman73 commented on #2630
@mabashian The Select2 example in Option 2 seems fine to me. Option 1 can be a backup if needed.

[2019-01-15 17:14] LeDOC666 commented on #2944
Hello, do you have any news for this problem ? Im completly blocked to deploy awx.

[2019-01-15 18:01] jdhayes commented on #796
There were some errors in the awx_task logs, so I just redeployed everything.
Also I changed the pgdata location under opt, thanks for the help.

[2019-01-15 18:51] wenottingham commented on #2630
I'd agree with option 2.

[2019-01-15 19:19] mabashian commented on #1502
@wenottingham I talked with @ryanpetrello about this one and I think that gathering this information on the unified_job_templates endpoint is just going to be too expensive for the api to do.  The UI could still implement this feature but it would require us to make an extra request for each workflow listed to see if it's missing templates.  We already do this on the details view:

<img width="146

[2019-01-15 19:56] AlanCoding commented on #858
This would be simplified by https://github.com/ansible/awx/pull/3008

[2019-01-15 19:58] trahman73 commented on #2330
Updated Job Details panel to include EXECUTION NODE and rename INSTANCES to INSTANCE GROUP.

![image](https://user-images.githubusercontent.com/13351591/51206387-ee805800-18d5-11e9-928e-5ce93f39b0b9.png)

[2019-01-15 20:26] sumkincpp opened #3009 "RFE: AWX maintenance mode"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Allow enabling/disabling AWX instance by administrator moving in into "Maintenance mode".
As a result running and scheduling jobs by users should not be permitted.

[2019-01-15 20:34] wenottingham commented on #3009
Instances can already be disabled, see the 'enabled' flag.

[2019-01-15 20:34] #3009 closed, assigned to nobody

[2019-01-15 21:00] lparkes opened #3010 "ca_trust_dir only works for awx_web container and not awx_task container"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY

The installer at installer/roles/local_docker/tasks/standalone.yml creates volume mounts for ca_trust_dir in both the awx_web and awx_task containers, but the tasks clearly only run /usr/bin/update-ca-trust in the awx_web container. This results in the updated CA cert not being available for jobs run by AWX.

Skip to

[2019-01-15 21:02] matburt commented on #3004
Sounds like your workaround would make a good pull request.

[2019-01-15 21:04] #2990 closed, assigned to nobody

[2019-01-16 02:36] ryanpetrello commented on #2630
@mabashian @wenottingham I'm fine with Option 2 as long as it's understood that the API _won't_ be doing any automatic discovery (e.g., we won't be able to know that you've got a special become plugin in SCM called `please.py`)  We can present a list of common values support by Ansible core, but it should only be a list of _type-ahead suggestions_ - what your installed Ansible supports in practice

[2019-01-16 03:06] wenottingham commented on #2630
Yes. (We could dump the current system ansible set, but that's about it.)

[2019-01-16 12:07] sumkincpp commented on #3009
@wenottingham AWX instance which have been disabled and maintenance modes are different things.
With current disabled mode you can still schedule scenarios and even run them(Though, if you run task it is moved to pending state).  Also non-admin users can edit and perform tasks in disabled mode.
I believe that in maintenance mode all tasks by non-admin users should be forbidden.

[2019-01-16 18:17] Stargator opened #3011 "Support for the Amazon (Karoo) Operating System"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
I tried to install on Amazon (Karoo) OS and I got a response that it was not supported. I'd like to request that support would be implemented or at least evaluated for possible support.

##### ADDITIONAL INFORMATION

Amazon (Karoo) is very similar, if not a forked, to CentOS. It utilizes yum for the package manageme

[2019-01-16 18:48] ryanpetrello commented on #3011
Hey @Stargator,

Thanks for the request - it's pretty unlikely that we'll support this as a supported platform for AWX in the near future due to the potential for additional maintenance burden.

[2019-01-16 18:48] #3011 closed, assigned to nobody

[2019-01-16 21:21] one-t commented on #2238
Question: If a user does not have access to the credential management system credential, but they have been granted access to a credential that makes use of it, will they be able to retrieve the secret?

For example,
1. An org admin creates a credential for access to HashiCorp Vault
2. The admin creates a credential that uses the Vault access credential
3. The admin shares it with a regular user

[2019-01-16 21:56] jakemcdermott commented on #2238
My initial take on this:

~The _actual_ permission to a credential, as experienced by a user, should be the lower of the two credentials should the one they intend to use be linked to a SM credential.~ (update: this is over-conservative - see @matburt 's response below)

There is probably an edge case / usability issue that I'm missing here, so I'd very much like to continue this discussion. It is

[2019-01-17 01:40] ssamdwii opened #3015 "Request additional description in API guide"
##### ISSUE TYPE
 - Feature Idea
(I'm sorry but I wanted to request the additional description in API guide but I don't choose a type for the guide.
So I register it as Feature Idea.
Please let me know if you have to make a different type.)

##### COMPONENT NAME

 - API

##### SUMMARY

- There is no description of the parameter (paramater : dark)
Is it only an unreachable state?
Or can it include

[2019-01-17 09:46] beanallergy commented on #2482
Any update? I had the same issue when installing on Kubernetes, AWX version 2.1.2

[2019-01-17 10:21] Ivheror opened #3016 "Change body text in e-mail sent by AWX"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ADDITIONAL INFORMATION

It would be nice to change the body message of notification zone in awx, by default it sends a JSON which if u had some password on it, someone is free to watch

[2019-01-17 10:51] daczka92 commented on #1846
does it really work? still normal users can create users. I think this is to allow superusers to create users for any organisation.

btw anything changed with this? how to change policy about creating users or to require more complex passwords?

[2019-01-17 13:08] bmillemathias commented on #2482
We faced the same issue on Openshift, and we were able to reproduce it when we recreated the awx deployment
The version of awx used is 2.1.2.

The log entries from the container would be
[code]
I found the code is using the table `awx.main_instance` for the datastore, and coincidentally the table was empty.
[code]

After running the command `awx-manager provision_instance --hostname $HOSTNAME` on

[2019-01-17 13:43] beanallergy commented on #2482
Thanks @bmillemathias ! I followed your steps and problems resolved as well. The command is actually

[2019-01-17 14:05] qjcg commented on #3016
This looks like a dupe of #79.

[2019-01-17 14:46] Stargator commented on #3011
Again, I'm not familiar with Amazon Linux 2, but it seems to be a fork of CentOS or a very close cousin. I can't imagine it would add much of a burden. But okay.

[2019-01-17 15:20] bmillemathias commented on #2482
Indeed

@cbermudez82 Could you replace the title with something more relevant to the problem like "_Web Service not working due to missing instance for the host_"

[2019-01-17 15:26] cbermudez82 commented on #2482
I have changed the name of this issue to reflect Web Service.  I will try this solution and see if it works sometime this week.  Thanks for the help!

[2019-01-17 15:47] mabashian opened #3018 "Save button not enabled after deleting currently selected workflow node"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The workflow save button is disabled while adding/editing a node.  If you delete the node you are editing the save button does not become enabled:

![delete_node](https://user-images.githubusercontent.com/9889020/51330271-32459f80-1a45-11e9-95ee-4236ae8fd9b4.gif)

Deleting a node without first clicking on it works fine:

![d

[2019-01-17 16:52] AdrianDutu opened #3019 "Installer combined 2 instances into 1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
I am not sure if this issue is with the installer or something with something else, but looks like it.
 I have an environment with 2 awx hosts.
The DB is external, it resides on the first node.
I want to have 2 hosts in the same instance group. In the inventory I added the 2 hosts under the tower group like so:
[tower

[2019-01-18 01:11] wenottingham commented on #3016
Yes, closing.

[2019-01-18 01:11] #3016 closed, assigned to nobody

[2019-01-18 09:23] remys89 commented on #1287
@matburt What is the status of this? I tried to run it on Docker Swarm, and replicas: 1 works fine, but as soon as more replicas are used jobs will hang...

[2019-01-18 10:31] beanallergy commented on #2482
Has anyone else tried this and proceeded with your task @bmillemathias ? I found out that even though response code 500 disappeared, the projects/jobs were still hanging afterwards with response code 504, awx_task gave "Connection refused" until I added it to the "tower" instance group. After that, awx_task stopped reporting error, but the jobs still don't work...

[2019-01-18 14:21] AdrianDutu commented on #3019
Update: the CLUSTER_HOST_ID in /etc/tower/settings.py, inside the containers awx_web and awx_task, was set to 'awx' and i guess that's why it was seeing only one instance.
I manually changed them and now i see 2 instances in the UI. Although the CPU count is still incorrect, it shows 8 (maybe it's 2x4 because it sees 2 CPUs for each container? that would be very silly though).
Anyway, the issue de

[2019-01-18 14:36] elyezer opened #3022 "Pressing enter on an input field of a option settings does not save it"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Pressing enter on an input field when editing settings does not save the settings but flips the first switch option on the page. For example editing any input on the system settings and then pressing enter will update the `Enable Administrator Alerts` switch instead of saving the options (expected behavior for any form on a

[2019-01-18 14:45] elyezer opened #3023 "Entering the proper value of a settings option does not clear the red color from the label"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Inputting an invalid value for any settings option will proper highlight the label in red and display a validation erro message. If a valid value is entered after the validation error only the validation error message will be cleared but the label will continue in red.

##### ENVIRONMENT
* AWX version: devel
* AWX install me

[2019-01-18 15:53] mabashian commented on #1502
Thoughts on an api-driven solution:

Rather than attempting to calculate this on the fly, the api could attempt to maintain a state (broken v. not broken) as resources are deleted.  So, when a JT is deleted for example, we'd need to go out and check to see if that JT was used in a workflow somewhere.  If it was, we'd flip the `state` switch over to broken until the user comes in and replaces that

[2019-01-18 16:24] rooftopcellist commented on #2277
There _is_ a management command to clear expired oauth2 tokens:

[code]

Still need to:
- [x] make a schedule job to periodically `cleartokens`
- [ ] fix token filters

[2019-01-18 19:02] matburt commented on #1287
Nobody has done any work towards this and it's not a priority for our roadmap. If it's something you are interested in then you'll have implement it and submit a PR.

[2019-01-18 19:07] matburt commented on #1846
Not yet which is why this issue is still open.

[2019-01-18 19:09] matburt commented on #2238
This behaves the same way as credentials do right now... you can be delegated usage of a credential without owning it in any way. Thus, if an admin has delegated a Machine credential which utilizes a CM credential to a user but the user doesn't have access to *use* the CM credential they'd still be able to use the one they've been delegated.

We use this same pattern with user who are delegated to

[2019-01-18 19:57] boris-42 opened #3028 "Add support to filter all data in menus for specific organization"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
It would be nice to have organization dropdown  (probably position in top right corner, similar to AWS regions), by default it can be "All" which means that resources of all organizations are showed, user can specify any of organization from dropdown, after that every page of UI shows only resource from selected organizati

[2019-01-18 20:26] AlanCoding opened #3029 "After deleting a custom virtualenv, UI shows "Use Default Environment""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Deleted custom virtualenvs lead to jobs that error, with no good way to debug in the UI

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE
Create a virtualenv

c

[2019-01-18 20:49] ryanpetrello commented on #3029
It might be nice for the UI to detect this state by comparing the custom virtualenv defined on the JT, and if it's not in the list returned by the config endpoint, show an error and disallow save.

[2019-01-18 21:46] themr0c commented on #2991
fixed Merge pull request #2999

[2019-01-18 21:46] #2991 closed, assigned to nobody

[2019-01-18 22:01] TLMcNulty opened #3031 "Failed to parse JSON string. Parser returned: Unexpected token ' in JSON at position 4 | Variations"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
When adding an LDAP Group Type Parameter with other fields already defined you receive a JSON formatting error that seems to be well known with Angular.

##### ENVIRONMENT
* AWX version: 2.1.2.0
* AWX install method: docker on linux
* Ansible version:  2.7.4
* Operating System: macOS 10.14.2
* Web Browser: Chrome Version 7

[2019-01-18 22:02] TLMcNulty commented on #3031
Additionally if anyone is willing to help me set up LDAP I'd appreciate it. My schema is a bit complex.

[2019-01-19 02:53] shen3lu4 opened #3032 "Issues with the latest AWX install"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Did a new install of AWX using the latest installation script and the images defaulted in the script on Kubernetes. The only changes made were the Kubernetes context and namespace in inventory file. After the installation, AWX homepage is showing "503 Service Temporarily Unavailable" error. And there are lot of errors

[2019-01-20 16:18] rfcoutinho opened #3033 "Error to Activate AWX Web Container"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Attempted to try AWX running local and got error using default settings

##### ENVIRONMENT
* AWX version: 2.1.1
* AWX install method: docker for mac
* Ansible version:  ansible 2.8.0.dev0
* Operating System: MacOS 10.14.2
* Web Browser: Firefox Quantum

##### STEPS TO REPRODUCE

git clone https://github.com/ansible/aw

[2019-01-21 02:09] sugitk commented on #2446
https://github.com/ansible/tower/blob/devel/awx/sso/conf.py#L1175-L1186

I think `SocialTeamMapField` should be `SAMLTeamAttrField`?

[2019-01-21 03:01] takuan-osho commented on #2769
I also have the same issue when using Ansible AWX 3.1.2 and `serial` and a playbook in `serial` keyword.

[2019-01-21 06:35] muhlba91 commented on #888
@ryanpetrello @matburt AWX version: `2.1.2`

I am also still facing the same issue: I have created a new project (Git) and used its inventory file (.ini) as the source for an inventory. Now, after starting the inventory sync the sync jobs is stuck (stays as `Running`) after producing the output:
[code]
However, it doesn't seem to have synced the inventory because cancelling the sync and running an

[2019-01-21 09:24] megakoresh opened #3036 "Output Container logs in JSON format"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - Logging

##### SUMMARY
External logging is quite limited right now, for example I can't send logs to fluentd running on container on same host as awx (localhost:port = connection refused). It is trivial enough to configure docker log driver to send logs to fluentd, but those are container logs, which are not in machine-readable format. I w

[2019-01-21 10:14] christopherhans commented on #2862
Would love to see a webhook integration.

[2019-01-21 10:43] zzlInGitHub opened #3037 "Failed to connect to the host via ssh when running AWX job ssh fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- UI

##### SUMMARY
I used command ansible-playbook to run a job succcessfully,but it can't be successful by used awx.

##### ENVIRONMENT
* AWX version: 2.1.2
* AWX install method: docker on linux
* Ansible version:  2.7.5
* Operating System:  CentOS7.2
* Web Browser:  chrome

##### STEPS TO REPRODUCE
I installed awx for test,then created a pro

[2019-01-21 15:06] matburt commented on #3037
Looks like it succeeded on both hosts?

[2019-01-21 15:11] matburt commented on #3033
What do you have defined for pg_port in your inventory file?

[2019-01-21 15:16] matburt commented on #3019
There isn't a `tower` group in the installer inventory and the docker compose installation method does not support installing an AWX cluster, that's only supported if you are installing on Kubernetes or Openshift. Are you sure you aren't using the Tower installer?

[2019-01-21 15:16] #3019 closed, assigned to nobody

[2019-01-21 15:18] matburt commented on #3031
That error typically means you are using single quotes instead of double quotes (required by json).

[2019-01-21 15:18] #3031 closed, assigned to nobody

[2019-01-21 15:30] TLMcNulty commented on #3031
Any chance you guys can do anything about the single quotes in the official documentation?

https://docs.ansible.com/ansible-tower/latest/html/administration/ldap_auth.html

[2019-01-21 15:32] AdrianDutu commented on #3019
I am using the awx installer and I was following the tower instance group documentation since I didn't find any for awx. I managed to get awx_web and awx_task working in a cluster by fiddling with docker, so now I can see 2 instances in the UI. I found out later that this is not supported with docker. Theoretically, if I fiddle with the rabbitmq containers also and manage to get them join the same

[2019-01-21 15:48] rfcoutinho commented on #3033
Hi @matburt
I'm using all default inventory settings, which in this case is
pg_port=5432

[2019-01-21 16:53] matburt commented on #3019
I'd probably suggest going the k8s/openshift route or it'll just fail to work at some point in the future if you want to upgrade.

When we make changes and consider upgrade paths we'll assume things are in-spec. You are certainly free to go it on your own but you should expect us to close issues or ask that you try our recommended install configuration.

[2019-01-22 01:41] zzlInGitHub commented on #3037
no,It's unreachable when run by awx.

[2019-01-22 01:45] zzlInGitHub commented on #3037
The problem is that I changed the ControlPath in /etc/ansible/ansible.cfg ,then I used command to run it,It's   useful,but not useful by used awx .

[2019-01-22 03:04] zzlInGitHub commented on #3037
It is OK after I update the kernel version from 3.10.0-327 to 3.10.0-957

[2019-01-22 03:04] #3037 closed, assigned to nobody

[2019-01-22 09:39] mmallet-digipok opened #3043 "NPM & relaxed dependencies leading to regressions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
 - Installer

##### SUMMARY
Context: In the company I work for, I forked AWX and the latter is deployed in-house with custom deployment scripts (basically one additional playbook with vaults to hold our AWX servers credentials and certificates and an additional nginx front-end docker image with SSL configuration).

Upon a new AWX release (

[2019-01-22 09:43] Spredzy commented on #2950
Closed-by: https://github.com/ansible/awx/pull/3038

[2019-01-22 09:43] #2950 closed, assigned to nobody

[2019-01-22 11:30] rfcoutinho commented on #3033
I was able to finally run it locally, had to edit the DATABASE_PORT settings on both tasks in
awx/installer/roles/local_docker/tasks/standalone.yml

#DATABASE_PORT: "{{ pg_port }}"
DATABASE_PORT: "5432"

Executed the playbook again and ran successfully

[2019-01-22 13:21] shanemcd commented on #3043
Hi @mmallet-digipok. You are using an upstream project, which by nature moves quickly and is not guaranteed the same level of stability as a downstream product. I understand what you are saying and do not disagree on a fundamental level, but we are never going to lock ourselves down like this on our devel branch, which is what this repository is. We try our best to not break things between version

[2019-01-22 13:21] #3043 closed, assigned to nobody

[2019-01-22 13:29] jakemcdermott commented on #3043
@mmallet-digipok
We don't recommend AWX for production.

[2019-01-22 14:05] matburt commented on #3033
That would seem to suggest that pg_port was not defined in your inventory. I can't seem to reproduce this and we haven't heard it anywhere else so I'll close.

[2019-01-22 14:05] #3033 closed, assigned to nobody

[2019-01-22 14:06] matburt commented on #3037
We strongly recommend not to muck with ansible.cfg for this reason.

[2019-01-22 15:25] ryanpetrello commented on #2118
FYI, we've just released a new version of awx (https://github.com/ansible/awx/releases/tag/3.0.0) which runs under python3.6.  This version of awx also supports python2 _and_ python3 virtualenvs when running Ansible playbooks.

[2019-01-22 15:28] ryanpetrello commented on #2964
We've just released a new version of awx (https://github.com/ansible/awx/releases/tag/3.0.0) which should resolve this issue with an update to the latest version of the `social-core` library.

[2019-01-22 15:28] #2964 closed, assigned to nobody

[2019-01-22 15:29] ryanpetrello commented on #1271
We've just released a new version of awx (https://github.com/ansible/awx/releases/tag/3.0.0) which should resolve this issue.

[2019-01-22 15:29] #1271 closed, assigned to nobody

[2019-01-22 15:31] ryanpetrello commented on #79
FYI, we've just released a new version of awx (https://github.com/ansible/awx/releases/tag/3.0.0) which includes support for notifications using the Grafana annotations API.

[2019-01-22 15:37] ryanpetrello commented on #1519
We've just released a new version of awx (https://github.com/ansible/awx/releases/tag/3.0.0) which adds support for the Django CORS middleware.

[2019-01-22 15:37] #1519 closed, assigned to nobody

[2019-01-22 15:38] ryanpetrello commented on #2735
FYI,

We've just released a new version of awx (https://github.com/ansible/awx/releases/tag/3.0.0) which includes support for custom virtualenvs that use python36+.

[2019-01-22 15:54] bmillemathias commented on #3032
does doing these following commands in a container shell fixes the problem
[code]

[2019-01-22 16:29] shen3lu4 commented on #3032
@bmillemathias Thanks for your reply. I ran the commands in awx-celery container and it showed the following output:
bash-4.2$ awx-manage migrate --noinput
Operations to perform:
  Apply all migrations: auth, conf, contenttypes, main, oauth2_provider, sessions, sites, social_django, sso, taggit
Running migrations:
  No migrations to apply.
bash-4.2$ awx-manage provision_instance --hostname=$(hostn

[2019-01-22 16:44] bmillemathias commented on #3032
I thought it could be an issue I ran into lately, sorry I can't help.

[2019-01-22 16:52] ryanpetrello commented on #709
Resolved via https://github.com/ansible/awx/pull/3040

[2019-01-22 16:52] #709 closed, assigned to matburt

[2019-01-22 17:06] bmillemathias commented on #2482
I found the root cause of the problem lies between the file `awx/installer/roles/image_build/files/launch_awx_task.sh` and the template `/installer/roles/kubernetes/templates/deployment.yml.j2` used for the kubernetes installation.

When the launcher is called, it checks if the variable `$AWX_SKIP_MIGRATION` is empty to perform the schema migration

https://github.com/ansible/awx/blob/2e6a7205e79f

[2019-01-22 17:26] ryanpetrello commented on #2978
@jyothscupid can you try a newer version of awx?  The version you're on is about a year old at this point, and we've fixed a number of bugs related to workflows since then.

[2019-01-22 17:29] ryanpetrello commented on #2952
Duplicate of https://github.com/ansible/awx/issues/2980

[2019-01-22 17:29] #2952 closed, assigned to nobody

[2019-01-22 17:33] ryanpetrello commented on #2900
What @AlanCoding said, inventory updates don't accept `extra_vars`.

[2019-01-22 17:33] #2900 closed, assigned to nobody

[2019-01-22 17:36] ryanpetrello commented on #2878
@roostercactus we've recently (in awx 3.0.0) merged in support for more flexibility in regards to the Python version in custom virtualenvs: https://github.com/ansible/awx/commit/65641c7edd909527bfa0ec88908f10888aa1ed3f.  Mind giving this another shot?

[2019-01-22 17:37] ryanpetrello commented on #2892
@xyker can you give this another shot w/ the latest release of awx (3.0.0)?  We think we may have fixed this in the past few weeks.

[2019-01-22 17:38] ryanpetrello commented on #2784
@AbhiJram would you mind giving this another shot on the latest version of awx (3.0.0)?  Thanks.

[2019-01-22 17:40] ryanpetrello commented on #2470
@skunkr we've made some notable changes to how we run playbooks in the background in newer awx versions (including no longer using the celery library).  Please give the latest awx (3.0.0) a shot and reopen if you're still having issues.

[2019-01-22 17:40] #2470 closed, assigned to nobody

[2019-01-22 17:42] ryanpetrello commented on #2112
@rgruyters we think we may have resolved this in a newer version of awx.  Could you try the latest (3.0.0) and reopen if you're still seeing problems?

[2019-01-22 17:42] #2112 closed, assigned to nobody

[2019-01-22 17:43] ryanpetrello commented on #1750
This should be resolved in newer versions of awx - let us know you're still encountering issues and we'll reopen this.

[2019-01-22 17:43] #1750 closed, assigned to nobody

[2019-01-22 17:55] AbhiJram commented on #2784
Hi Ryan,

We did manage to get the capacity reflected in settings.py once we changed the units of memory from Gi to Mi, so the instance is added now, not sure if this was documented somewhere, we took a while to fix the same.

And we will test the 3.0.0 soon, looks good👍

Thanks,
Abhishek

[2019-01-22 18:01] lintonam commented on #1125
I'm also seeing this behavior. I'm not modifying the install.yml at all. Hosts are reachable via ping from the server by fqdn, however, they are not reachable from AWX, unil modifying them to be just IP addresses.

[2019-01-22 18:15] ryanpetrello commented on #173
I'm currently testing, but there's a lot of evidence that suggests that `supervisor==4.0.0.dev` _just works_ in py3 for our purposes.  At least, I've got one building and passing tests:

[code]

[2019-01-22 18:29] skunkr commented on #2470
Thank you very much Ryan !

On Tue, Jan 22, 2019, 19:40 Ryan Petrello <notifications@github.com wrote:

[2019-01-22 19:07] ryanpetrello commented on #173
Looks like there's a lot of people who are also having good luck with supervisor in py3 here:

https://github.com/Supervisor/supervisor/issues/1060

I can't say I understand why they haven't just released a `4.0.0dev` to PyPI at this point, though.

[2019-01-22 19:21] cmdrrobin commented on #2112
@ryanpetrello unfortunately my project has finished at the company where I have implement this. Also in the end we moved to the enterprise version, Tower.

[2019-01-22 20:16] sumkincpp commented on #2087
:+1: for this, would be great to assign existing default Teams for RADIUS/TACACS+ authentication

[2019-01-22 21:22] ryanpetrello commented on #173
Okay, on a first pass, integration results look promising w/ supervisor on py3.  This issue title + description is somewhat inaccurate now - our plan _going forward_ is to just run supervisor under python3 on distributions that don't provide a python2 and test/verify stability in those environments.

[2019-01-22 21:27] mabashian commented on #3828
The event column is actually tremendously complicated for translation.  The UI takes these disparate pieces from the api:

<img width="1297" alt="screen shot 2019-01-22 at 4 24 53 pm" src="https://user-images.githubusercontent.com/9889020/51566386-64e70200-1e62-11e9-8294-a63e068d293e.png">

and cobbles them together into a string while attempting to convert the first word to past-tense.  I'm not r

[2019-01-23 06:05] girishramnani commented on #2838
@wenottingham I can work on this

[2019-01-23 06:29] girishramnani commented on #2838
Opened a PR https://github.com/ansible/awx/pull/3053 to resolve this issue

[2019-01-23 08:47] beanallergy commented on #3032
I had the same errors in my logs, I think there are a lot of unsynchronized changes for the upcoming 3.0.0 release (latest Docker tag for ansible/awx_task and awx_web). I reverted back to the installer version from a month ago and it works fine.

[2019-01-23 10:26] cesarfn4 opened #3054 "RFE: Workflow convergence based on status of all the previous jobs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Currently, if you have two jobs in a Workflow converging in one with RUN condition "On success", Tower runs the job if one of the previous one finishes successfully and not if both finish successfully. It would be great if you could set a RUN condition like "Run this convergent job just if these previous jobs finish succe

[2019-01-23 13:41] girishramnani commented on #2838
PR has been merged, this issue can be closed

[2019-01-23 13:55] #2838 closed, assigned to nobody

[2019-01-23 14:14] jakemcdermott commented on #2951
Hey there. Thanks for creating this issue. I've reproduced this one with the steps you've provided.

Note for when this gets worked on:

I looked into this for a moment. We'd need to do some testing (and also a bit of digging into whether or not we had a reason for preventing this in the first place) but I think we might be able to resolve this one by relaxing the [input validation for nested keys

[2019-01-23 15:06] mabashian opened #4212 "Establish and implement loading state"
In yolotower we use the `Loading...` spinner down in the bottom right corner to indicate that we're interacting with the api.  We also slap a transparent div over the entire application to prevent the user from clicking on anything while we're making our requests.

We'll want to establish a ux flow around "loading" when:

a) Initially loading a list
b) Navigating from one page to another
c) Sortin

[2019-01-23 15:27] AlanCoding opened #3055 "Source custom virtualenv for inventory updates from more logical places"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
With https://github.com/ansible/awx/pull/3039 we have custom virtual environments working with inventory updates.

However, this only uses the related inventory's organization's custom virtualenvironment. We should consider implementing sourcing from:

 - [definitely] SCM inventory source's `source_project`
 - [unsure] a fi

[2019-01-23 15:31] matburt commented on #3054
The way to expand on this would be to add a conditional on the convergence point to decide on whether a condition should be applied based on the state of previous jobs leading to the converged node.

[2019-01-23 16:28] roman-vynar opened #3056 "Custom env with python 3.6 on AWX 3.0.0"
AWX 3.0.0.
Running in Docker.

Trying to create a custom venv:
[code]

Running Inventory sync and gettting:
[code]

Trying to fix this manually by removing `metaclass=`.
Getting another error:
[code]

For some reason it takes 2.7 file while using 3.6 venv. Checked venv itself, it correctly imports "re" from the right file but AWX is messing with libs.

Thanks,
Roman

[2019-01-23 16:41] ryanpetrello commented on #3056
cc @AlanCoding looks like there might be an issue with https://github.com/ansible/awx/pull/3039 ?

This report makes it sound like the `ansible-inventory` being run is mistakenly using `/usr/bin/ansible-inventory` instead of the py3 `ansible-inventory` executable.

[2019-01-23 17:20] AlanCoding commented on #2105
Note that there is a strong tie-in between this issue and an issue related to the openstack plugin, which we're going to have to solve either way:

https://github.com/ansible/ansible/issues/50100

Basically, we will have to strip off plain text lines before and after `{` and `}` characters for the JSON content. Since we're going to have to maintain this logic anyway for openstack, and since `ansib

[2019-01-23 17:52] AlanCoding commented on #3056
Inventory updates have been tested with python2 virtual environments. They have not been tested with python3 virtual environments. I know that @ryanpetrello has tested playbook runs with python3, but I have not gotten around to that for any job type just yet.

I appreciate you filing this issue, and I assure you it is on our agenda. I also want @jladdjr to be aware of this.

[2019-01-23 17:59] ryanpetrello commented on #3056
Sounds to me like this just isn't quite there yet, and needs some more work, I'll investigate.

[2019-01-23 18:29] shen3lu4 commented on #3032
Thanks. I went back to tag 2.1.2 and the installation now works. Usually
how do I find out which installer version I should use? Is there any
documentation indicating which awx image version should go with which
installer version?

On Wed, Jan 23, 2019 at 8:48 AM beanallergy <notifications@github.com>
wrote:

[2019-01-23 18:37] ryanpetrello commented on #3056
Yep, I'm able to reproduce this issue in the latest `devel`:

![image](https://user-images.githubusercontent.com/214912/51628796-f6fb1300-1f13-11e9-9347-18ac39a6ebff.png)

Thanks for reporting, @roman-vynar I'll see if I can come up with a patch.

[2019-01-23 18:44] ryanpetrello commented on #3056
@roman-vynar are you able to give this PR a shot?  It resolves the issue for me.

https://github.com/ansible/awx/pull/3058

[2019-01-23 18:52] kdelee opened #3059 "Provide environment details on inventory updates (to indicate venv used)"
##### ISSUE TYPE
With #3039 we have custom virtual environments working with inventory updates, but it is not eminently clear from the inventory update view what venv was used at the time.

We should add the venv detail to the inventory update view like it is available for jobs <insert example here>

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Provide same info provided on jobs regarding en

[2019-01-23 18:53] kdelee commented on #3059
@jladdjr will help with inventory_plugins move + customers debugging issues related to what venv to choose

Will circle back with example from jobs detail

[2019-01-23 18:53] roman-vynar commented on #3056
Sure, let me edit the files straight in the docker containers :D and check.

[2019-01-23 19:03] roman-vynar commented on #3056
Currently I am getting
[code]
I have seen this earlier today, not sure how to bypass that.

[2019-01-23 19:05] ryanpetrello commented on #3056
Looks like a bug in the `inventory_import` command such that it doesn't support py3.  Let me update the PR.

[2019-01-23 19:08] ryanpetrello commented on #3056
@roman-vynar I've just uploaded a new version of the PR, give it another shot?

[2019-01-23 19:16] roman-vynar commented on #3056
Perfect 🎉

@ryanpetrello Thank you so much for such fast fixes!
Finally, I have run my playbook fully with python3.

P.S. I have also added `ansible_python_interpreter: python3` to the vars of my template so it calls python3 on remote host instead of python which is 2 there.

[2019-01-23 19:16] ryanpetrello commented on #3056
@roman-vynar thanks a bunch for helping test out, I'm going to merge that PR.

[2019-01-23 19:46] kdelee commented on #3059
Woops, it is in the detail view but not the list view :scream:

So
[code]
has `job_env` info but
[code]
DOES NOT

[2019-01-23 19:46] #3059 closed, assigned to nobody

[2019-01-23 19:47] ryanpetrello commented on #3056
Merged.  Thanks for reporting, @roman-vynar.  Let me know if you see any additional issues w/ this.