[2019-10-25 12:58] ghost commented on #5077
Confirm this!

I'm trying to deploy AWX 8.0 on OKD 3.11, and the deployment of the StatefulSet awx cannot be completed due the missing awx_rabbitmq image.

EDIT: Added a screenshot
![immagine](https://user-images.githubusercontent.com/13005894/67573277-40dd8780-f738-11e9-98e9-2ddf3ba4536d.png)

[2019-10-25 13:14] #5054 closed, assigned to mabashian

[2019-10-25 13:19] AlanCoding commented on #5110
I can not reproduce this. I see that you prompt for inventory as well, so I tried all the combinations I could think of, using the default inventory vs. a different one.

![Screen Shot 2019-10-25 at 9 18 13 AM](https://user-images.githubusercontent.com/1385596/67574448-78344000-f708-11e9-865d-d87a78abc40b.png)

The tags & skip tags take effect in the job.

[2019-10-25 13:46] mattch3wie commented on #5110
Interesting! We have a test instance (Running the same OS and AWX  version but running Ansible version 2.8.6) and we experience the same issue.

Is there any log, debug option, or etc that might expose more information to go on vs just workflow and screenshots?

[2019-10-25 13:47] ansibleguy13 opened #5111 "AWX python error after Ansible run success"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am trying to run an AWX workflow template made up of 3 simple templates.  The first template completes with "Success" and the workflow moves on to the second template.  The second template completes with "Success", briefly, then throws the following error in the job pane on the left:

Error
STARTED
10/25/2019 9:25:44 AM
FINISHED
10/25/2019 9:29:40 AM

[2019-10-25 13:54] apollo13 commented on #5110
I am also seeing this and it is a regression in 8.0.0. @AlanCoding which info can we provide? All I can say is that entering the that results in no tag on the run screen.

[2019-10-25 13:57] AlanCoding commented on #5110
In your screenshots, the tags did not show up in the "preview" window. This suggests that it's a UI bug. It would be helpful to confirm that if you could open up the Right Click->Inspect->network in Chrome, and then confirm that the data submitted to the `/launch/` endpoint as a POST did not contain the tags or skip_tags (probably didn't).

Also check if you see any errors in the UI console. Those

[2019-10-25 14:16] rooftopcellist commented on #4736
@treyd @javexed This looks to be fixed now.  I just did a fresh install of Local AWX and was unable to reproduce this.  (`ansible-playbook -i inventory install.yml`)

@treyd can you try with the latest code, and share any tracebacks you of seeing in the logs?

@javexed are you still seeing this issue?

[2019-10-25 14:16] ansibleguy13 commented on #5111
I initially thought this was a workflow issue, but then realized it happens when I run some templates, and not others.  The one that is working is not a simple ansible job, but one of the ones that is failing, all I did was print out a debug message for testing.  It fails consistently though, and the other succeeds consistently.  Any help is greatly appreciated.

[2019-10-25 14:22] devops-42 opened #5112 "Project source in WFJT launch using custom scm_branch not working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When launching a workflow with `ask_scm_branch_on_launch` checked the AWX GUI asks for the SCM branch to use. In the job nodes the given branch name seems to be ignored.

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.10
* Operating System: macOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

**Pr

[2019-10-25 14:29] ryanpetrello commented on #5111
This is a bug in `ansible-runner` itself, which we're currently working on addressing:

https://github.com/ansible/ansible-runner/issues/374

[2019-10-25 14:34] ryanpetrello commented on #4485
@elyezer I'd be curious to see what the timing was if you rolled back @AlanCoding's change and compared with the same data.  I think @wenottingham was reporting things in the neighborhood of a minute+

[2019-10-25 14:39] 6sossomons commented on #5111
Newest version fixes it for a few of us already..

[2019-10-25 14:40] rooftopcellist commented on #4852
@lunarthegrey @PuppetNinja I was able to reproduce this on 7.0.0, but cannot reproduce on 8.0.0.  As far as I can tell, this has been fixed.  I installed with the `install.yml` playbook as shown below with the inventory file unchanged (so it was using the Dockerhub provided images).

[code]

Thank you for all of the information you have provided.  Do you mind trying a fresh install with the latest

[2019-10-25 14:44] lunarthegrey commented on #4852
Thanks for looking into this @rooftopcellist. I will give it another try via my Ansible role which runs the `install.yml` when I get a chance. Didn't see 8.0.0 was released.

[2019-10-25 14:46] ryanpetrello commented on #5111
Yep, we're working on a new release of `ansible-runner` shortly to address this.

[2019-10-25 15:09] jean-christophe-manciot commented on #3935
According to the documentation you point to:
[code]
As pointed out in my first post, I use a git based repository which is not hosted by GitHub, but this detail shouldn't matter at all.
As described in the first post, the **repository root folder layout** is straightforward, but as you asked, here is a typical structure: each role is created with ```ansible-galaxy init <role-name>``` (each sub-fol

[2019-10-25 15:29] rooftopcellist opened #5113 "More Collection metadata to track lost due to network issues"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

For one of our SLIs (service level indicators) we should measure how much data has been lost due to networking errors or processing errors.

We'll need some data from tower to measure this:
* Counts of event, unified_job, and job_template tables

They would need to be added to the bundle along with the span of time that they cover.  This should go b

[2019-10-25 15:30] treyd commented on #4736
Yes, I am still having this problem.  I am on the latest `devel` branch, and I also tried building locally with the `ansible-playbook -i inventory build.yml` command.

Here is the traceback in the `awx_task` logs:

[code]

[2019-10-25 15:47] apollo13 commented on #5110
@AlanCoding This was the data sent to the server:
[code]

js console shows no errors.

[2019-10-25 15:48] elyezer commented on #4485
Since the script with more groups had the worst performance, I've used it to generate 1000 groups with one host on each:

[code]

Have patched the instance to rever changes added by #3817 and collected the times for deleting groups and hosts respectively:

[code]

With that we can confirm that #3817 changes are making a huge performance improvement, specially on the hosts deletion, and we can clos

[2019-10-25 15:48] #4485 closed, assigned to elyezer, AlanCoding

[2019-10-25 15:55] treyd commented on #4736
Also, when I edit `pg_hba.conf` to allow connections from `0.0.0.0/0` I get the following in the logs:

[code]

[2019-10-25 16:26] AlanCoding commented on #3935
I've replicated your bug using this:

https://github.com/ansible/test-playbooks/compare/master...AlanCoding:role_meta

Installing `ansible-galaxy install -r roles/requirements.yml` gives this following folder tree. This matches your results.

https://gist.github.com/AlanCoding/b3efeb27332ebeba94ac9437f8cc299b

You can see that `yatesr.timezone` (from Galaxy, for reference) has the correct level of

[2019-10-25 16:39] appuk commented on #5062
Verified this issue, the job is launched successfully now. Hence, closing the issue

[2019-10-25 16:39] #5062 closed, assigned to ryanpetrello, appuk

[2019-10-25 16:45] ryanpetrello commented on #5111
This should be resolved for new installs once https://github.com/ansible/awx/pull/5117 is merged.

[2019-10-25 17:10] wenottingham commented on #5112
This isn't how you want to do this. A Project Update node is checking the SCM repo for a new revision; it's not intended to honor a prompt on launch in this way. The promptable branching is for a playbook run to use that revision..

[2019-10-25 17:10] #5112 closed, assigned to nobody

[2019-10-25 17:11] krleitch commented on #5107
Fixed!
Issue was the
[code]
command was being ran with sudo. It must have been running into a permissions error somewhere. Granting user privileges to ~/.ansible worked. Curious if anyone has any info on why this was happening though.

[2019-10-25 17:11] #5107 closed, assigned to nobody

[2019-10-25 17:14] benjdudas opened #5118 "[RFE] Add description to Job Template expanded view"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Feature request to add the JT description to the expanded view of Templates.

[2019-10-25 17:20] mattch3wie commented on #5110
I did a quick check job; here is the submission data for /launch/ as requested @AlanCoding ( I believe I got the correct stage of /launch/ :P)

`{job: 257, ignored_fields: {}, id: 257, type: "job", url: "/api/v2/jobs/257/",…}
allow_simultaneous: false
artifacts: {}
controller_node: ""
created: "2019-10-25T16:48:36.639609Z"
description: "DO NOT USE - STILL IN PLANNING/CONFIG STAGE"
diff_mode: false

[2019-10-25 17:24] ryanpetrello commented on #5081
@fosterseth you mind taking a look at this?  I'll bet it's similar to the LDAP bug you recently fixed.

[2019-10-25 17:25] ryanpetrello commented on #5077
@shanemcd you have any idea what's up here?

[2019-10-25 17:29] ryanpetrello commented on #5052
@brennus390  for some reason git thinks your clone URL is a file reference.  Try removing the trailing slash in your project URL?

[2019-10-25 17:59] shanemcd commented on #5077
Oops. We updated this downstream but forgot to push to dockerhub. Should be fixed. Can you give it a try?

[2019-10-25 19:32] #5089 closed, assigned to nobody

[2019-10-25 20:02] hkassaoui commented on #857
@gabrieltokyo Just edit the /root/.awx/awxcompose/docker-compose.yml file and restart the awx container. It will mount your volumes without reinstalling.

[2019-10-25 20:02] AlanCoding commented on #5118
Duplicate of https://github.com/ansible/awx/issues/4359

[2019-10-25 20:08] AlanCoding commented on #3935
My summary wasn't 100% correct there. I pushed a commit, adding a 2nd role to illustrate the point better.

The issue isn't that the role contents are nested (there are tasks and meta folders at the right level), but that the role name is the name of the repo `test-playbooks`, as opposed to the name of the role, `test_tag_role`. With 2 roles present, it only saves 1 of them, which makes no sense.

[2019-10-25 20:09] #5118 closed, assigned to nobody

[2019-10-25 20:30] #4231 closed, assigned to unlikelyzero, AlexSCorey

[2019-10-25 20:35] rooftopcellist commented on #4736
@treyd Is this a fresh install? If it is in an upgrade scenario, my hunch is that this could be the culprit: https://github.com/ansible/awx/blob/70057bc0f26318cd516f5c05aa1d36f0570c577d/installer/roles/local_docker/tasks/main.yml#L42

Some of the settings from postgresql9.6 may not be compatible with postgres10 as is.

I am trying to reproduce this locally.  If it is possible for you to share your

[2019-10-25 20:39] jlmitch5 opened #5121 "Instance Group Form doclink should be on the right of the form"
![Screen Shot 2019-10-25 at 3 39 10 PM](https://user-images.githubusercontent.com/1342624/67603079-f6fb9e00-f745-11e9-9bed-fe783ff3eba2.png)

This should be right-justified, on the far right side of the form.

[2019-10-25 20:40] treyd commented on #4736
This is a fresh install.  I have also tried running the install after checking out tags `8.0.0` and `7.0.0`.  All seem to use postgres:10 and exhibit the same behavior.

Here is my `pg_hba.conf`:

[code]

[2019-10-25 20:51] ghost commented on #5077
@shanemcd Yes, now it's working properly.
Thank you!

![immagine](https://user-images.githubusercontent.com/13005894/67603689-dfd6a380-f779-11e9-825e-a854cf9434f3.png)

[2019-10-25 20:59] shanemcd commented on #5077
yay 😄

[2019-10-25 20:59] #5077 closed, assigned to nobody

[2019-10-25 21:00] rooftopcellist commented on #4736
I just did a fresh install and built images locally as you did (build.yml, then install.yml with the dockerhub line commented out in the inventory file) and it was successful.

I should mention that I deleted all old awx containers before doing so (since you are seeing postgresql10, this is probably not your issue, but it doesn't hurt).

This is the `pg_hba.conf` in the resulting awx_postgres cont

[2019-10-25 21:32] fosterseth commented on #5081
@ryanpetrello yes it's same issue as the LDAP bug.

We can either make a new `TowerURLBaseField` class that subclasses `URLField`, and then feed in a custom regex pattern to the `URLValidator` to allow numbers in the top level domain. This is how it is done in the case of `LDAPServerURIField`.

Or more generally we can change some logic in class [URLField](https://github.com/ansible/awx/blob/9a70a

[2019-10-25 21:43] unlikelyzero opened #5122 "MacOS+Chrome Users cannot access traditional cluster deployments if configured with invalid self-signed cert"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
MacOS+Chrome Users cannot access traditional cluster deployments if configured with a self-signed cert.

Note: tested the following via browserstack:

- Windows 10 with Firefox 68 & 70
- Windows 10 with Chrome 75-79
- MacOS High Sierra with Firefox 68 & 70
- MacOS High Sierra with Chrome 65-80
- MacOS High Sierra with Safari latest
- MacOS Mojave with

[2019-10-25 21:44] unlikelyzero commented on #5122
We need to understand how yolo cluster installs differ from customer installs

[2019-10-26 03:12] insan1k commented on #989
Hello, @rharmonson I think there is no more need, someone is packaging it for RPM, I'll try soon https://awx.wiki/ I feel like there is no need for containers for AWX, for me it is simple enough to deploy and maintain bare metal.

[2019-10-26 08:52] MirLach commented on #989
@rharmonson I really would like to see documentation for AWX without Docker or RPM to install and maintain it on non-Linux platforms. Please let me know if you write something. I will test it on our FreeBSD machines.

[2019-10-26 14:40] jean-christophe-manciot commented on #3935
Actually, I've just discovered a [~ 2 years old discussion about the exact same topic](https://github.com/ansible/ansible/issues/16804).
As a summary:
- this **multi-roles in a git repositor**y feature is not supported yet by **ansible-galaxy**, although some people manage to make it work by accident with some tricks; I've tried the so-called ```dummy meta file```, but it's unsuccessful in this co

[2019-10-26 21:30] angystardust commented on #989
everybody here who wants to help documenting "awx without containers", please go to https://github.com/MrMEEE/awx-build and offer your help there ;)

[2019-10-27 09:06] brbrow commented on #3956
I was facing the same problem.
Started from scrath and isntalled ansible using PIP to force it to use python3
I created this [tutorial](https://techexpert.tips/ansible/ansible-awx-installation-ubuntu-linux/).

[2019-10-27 09:07] brbrow commented on #4093
I Started from scratch and installed ansible using PIP to force it to use python3
I created this [tutorial](https://techexpert.tips/ansible/ansible-awx-installation-ubuntu-linux/).

[2019-10-27 14:04] #5111 closed, assigned to nobody

[2019-10-28 09:37] vCra commented on #5080
I might just be using the wrong variable - I've also just tried source_regions as referenced in awx/ui/client/src/inventories-hosts/inventories/related/sources/add/sources-add.controller.js, but again no luck. I noticed that openstack isn't referenced, but GCE, AWS, Azure etc are, so this might be an easy fix.

[2019-10-28 12:07] spsingh1982 commented on #5091
Current way of using fail module to achieve this is not intuitive at all and also it makes flow very confusing and lot of extra work is needed to design and maintain such flows. Is there a way to increase priority of this issue?

[2019-10-28 12:08] spsingh1982 commented on #1284
When is this getting released?

[2019-10-28 13:39] jakemcdermott commented on #4359
I think I moved this over to `needs_test` by mistake. Sorry.

[2019-10-28 13:40] ryanpetrello commented on #1284
@spsingh1982 whenever somebody writes the code 😉

[2019-10-28 13:42] jakemcdermott commented on #4359
whoops, maybe not. @AlanCoding and are I still taking a look..

[2019-10-28 13:43] jakemcdermott commented on #4359
state is exactly as @elyezer described. Issue is resolved by devel and tested by qe, but looks like there may be a docs component to this that needs to be addressed before closing?

cc @tvo318 @AlanCoding

[2019-10-28 13:46] ryanpetrello commented on #5081
I think this is probably a better idea going forward, and it probably makes sense to default `allow_number_in_top_level_domain` to `True`, given that numbers in TLDs is totally a thing.

[2019-10-28 14:06] rooftopcellist commented on #4852
I am going to close this out, but if you are able to reproduce this, drop a comment here and I'll open it again.

[2019-10-28 14:06] #4852 closed, assigned to nobody

[2019-10-28 14:20] tvo318 commented on #4359
All the screen captures are done in the end to accommodate views like this. See doc issue https://github.com/ansible/product-docs/issues/757.

[2019-10-28 14:24] jakemcdermott commented on #4359
:+1: sgtm @tvo318, thanks!

[2019-10-28 14:24] #4359 closed, assigned to appuk

[2019-10-28 15:22] kdelee commented on #4771
this is still showing up for me in python3 environments :/

[2019-10-28 15:57] appuk commented on #4568
Another issue on the dashboard page, where the summary of Inventories and Inventory Sync Failures is not getting wrapped properly on small widths
![Screen Shot 2019-10-24 at 1 27 22 PM](https://user-images.githubusercontent.com/11617351/67694679-2397fb80-f97a-11e9-8a16-563a74d7078e.png)

[2019-10-28 16:30] squidboylan commented on #4892
I tested this locally by running `make test_collection_sanity` with latest tower release_3.6.0 and it passes.

[2019-10-28 16:30] #4892 closed, assigned to AlanCoding

[2019-10-28 16:45] trabacct commented on #4934
Issue resolved (Not AWX related).  Was dropped packets in vmware environment due to bad versions of open-vm-tools (bad vmxnet3 driver).  Compiled open-vm-tools 11.0.0 because vmware vmxnet3 driver drops packets in 10.2.5-3.el7 and 10.3.0-2.el7 in CentOS base repo.   E1000 driver also resolves packet drop issue.  Perhaps AWX can be improved to better recover from occasional dropped packets.  Would

[2019-10-28 17:55] squidboylan commented on #5003
I tested this locally by following the instructions at https://github.com/ansible/tower/blob/release_3.6.0/awx_collection/README.md to run the awx_collection tests in the docker container. Everything passed

[2019-10-28 17:55] #5003 closed, assigned to AlanCoding, jladdjr

[2019-10-28 18:12] AlexSCorey commented on #4940
Backing out for now.

[2019-10-28 21:33] unlikelyzero commented on #5122
In this case, we were deploying instances with invalid self signed certs.

When you run it with AWX_USE_TLS=no, the installer will run the self-sign certificate generation. So any thing you change in the installer will reflect here.
When you run it with AWX_USE_TLS=yes, generates_tls_certs will generate the certs and then the installerr will take the certs that are passed to it and lay them down o

[2019-10-28 21:33] #5122 closed, assigned to jakemcdermott

[2019-10-28 21:53] ansibleguy13 commented on #5111
will there be a new AWX rpm released, or do I just have to grab the ansible-runner from somewhere?  Thanks!

[2019-10-28 22:09] #5036 closed, assigned to craph

[2019-10-29 00:26] ryanpetrello commented on #5111
Hey @ansibleguy13,

We don't build or publish RPMs for AWX.  In the coming weeks, we'll likely release another version of AWX that pins to the latest version of runner.

In the meantime, you can do so yourself via something like `/var/lib/awx/venv/awx/bin/pip install -U ansible-runner`.

[2019-10-29 03:06] svenstaro opened #5133 "Remember last active view type (Compact/Expanded) in all lists"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The Compact / Expanded selection in the Jobs tab/view resets after leaving the page. I'd like it to be saved for each user as per last preference.

[2019-10-29 06:27] PLaakso opened #5135 "AWX can't find roles in project scm folder"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
During the template execution, playbooks, containing roles, fails on an an error:
ERROR! the role 'xxxx' was not found in /tmp/awx_30_6iibp1en/project/playbooks/roles:/tmp/awx_30_6iibp1en/requirements_roles:/var/lib/awx/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:/tmp/awx_30_6iibp1en/project/playbooks

Roles are visible in container file

[2019-10-29 07:02] alexsuppanz opened #5136 "Support for CentOS/RHEL 8"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Are there any news about the support for CenOS/RHEL 8? Since Red Hat replaced docker with  cri-o/podman, is it still possible to deploy AWX using the Ansible Playbook or should we just install the docker engine?

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method:  docker on linux
* Operating System: CentOS / RHEL 8

Thanks
Alex

[2019-10-29 08:11] PLaakso commented on #5135
Started working when placing roles -folder inside /playbooks -folder.

[2019-10-29 12:37] #5135 closed, assigned to nobody

[2019-10-29 12:38] PLaakso commented on #5135
found the solution

[2019-10-29 13:01] nu11ptr commented on #3318
Is this still unfixed? I seem to be experiencing this on 6.1. When I do SCM updates on my projects in integration tests, they seem to almost always pass just fine, but the same operation when integrated with a job launch (I have update on launch set) seems to fail about 75% of the time. Using the API, I was able to validate 'GIT_SSL_NO_VERIFY' is correctly set to 'True' on the successful updates a

[2019-10-29 13:19] 6sossomons commented on #5111
MrMeee has already updated to the newest version of the RPMs using the newest runner.

[2019-10-29 13:30] BRE-MD opened #5137 "Delete a schedule isn't possible"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If I want delete a schedule I get an error, no matter if I use the GUI or the API.
Other schedules can be deleted, only this one can't.
It's possible to change the schedule with PATCH and PUT, only DELETE isn't possible.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: Windows
*

[2019-10-29 14:00] russelljftw opened #5138 "support for azure government keyvault integration"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The azure keyvault credentials plugin found here:
awx/awx/main/credential_plugins/azure_kv.py

Is hard coded to use the azure commercial cloud vault URL:
[code]
It would be great to either have a second plugin for azure government or a field in the plugin to select AzureCloud or AzureUSGovernment similar to the credential type "Microsoft Azure Resour

[2019-10-29 14:14] rmkraus commented on #2916
This seems to be stale since March. What is the status on this one? Can I help with this in any way?

For anyone that stumbles upon this trying to find out the issue: All of the relevant configuration for the dynamic inventory plugin goes into the [ansible] section. When Tower creates the configuration file when running the inventory script, it puts everything into the [foreman] section.  Most dyn

[2019-10-29 14:43] cdeniro commented on #3318
This is still an issue for me even with valid certs on my gitlab server. It
fails about 10% of the time for me

On Tue, Oct 29, 2019 at 7:02 AM Scott Meeuwsen <notifications@github.com>
wrote:

--
_______________
Cody DeNiro

[2019-10-29 15:07] kdelee opened #5139 "ui does not show detail error on invalid org map (github auth)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When providing an invalid key in the org mapping, the API responds with a 400 and a detail message about what key was wrong, but the UI does not expose this.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

####

[2019-10-29 15:09] AlanCoding commented on #2916
Some information goes into `[ansible]` and some goes into `[foreman]`. You have to go by the example config file.

Let's identify the exact syntax expected for this issue. The example config is:

https://github.com/keithresar/ansible/blob/devel/contrib/inventory/foreman.ini

this contains

[code]

But the parameter needs to get passed through the inventory logic.

This new parameter is identical i

[2019-10-29 15:10] kdelee commented on #4771
There is an upstream fix that is working for me, so taking out of `needs_test` for now...now just waiting on backport

[2019-10-29 15:26] ansibleguy13 commented on #5111
Thank you all so much for your help.  It is very much appreciated.

[2019-10-29 15:30] rooftopcellist commented on #5137
@BRE-MD I just tried to reproduce this with the latest code on a fresh install and am able to successfully delete a schedule in the UI and API.  I also checked tried making a schedule for a job template, then deleting that job template to ensure that the schedule cascade deletes with it, which it does.

It looks like you may have a migration issue or something else causing this misleading tracebac

[2019-10-29 15:32] rmkraus commented on #2916
I see, thanks for pointing me in that direction. That works.

What do you think is the best approach for documenting this?

[2019-10-29 15:35] rmkraus commented on #2916
Also, what are your thoughts on enabling control of the rich_params variable as well?

[2019-10-29 15:36] AlanCoding commented on #3318
Specifically what changes? I'm not sure. @ghjm can you think of anything that would affect project updates here?

[2019-10-29 15:38] AlanCoding commented on #2916
it's in `foreman.ini`, so 👍 to adding that in this pattern too.

[2019-10-29 15:45] anxstj opened #5141 "HashiCorp Vault Secret Lookup: Test requires Sysadmin permissions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The "HashiCorp Vault Secret Lookup" and "Hashicorp Vault Signed SSH" Credential Types provide both a test option which check if the parameters are working. In both cases the running the test case requires sysadmin permissions.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.11
* Operating System: De

[2019-10-29 15:47] ryanpetrello commented on #5141
related: https://github.com/ansible/awx/pull/5095

[2019-10-29 15:48] ghjm commented on #3318
The SSL changes I made are all related to communication with internal services (RabbitMQ, PostgreSQL), and I don't see any way they could affect project updates.

[2019-10-29 15:49] nu11ptr commented on #3318
I was glancing over 8.x release notes when I saw "standardize TLS connection options" and took that for heavy refactoring, but on 2nd glance I think it was just a rename to unify naming, so maybe I was looking at it wrong. Also, I don't think the SSL cert verification is even part of that, so probably a false lead.

If I get more time later today I'll try to see if I can find any more patterns on

[2019-10-29 16:28] anxstj opened #5142 "set a maximum limit for the forks per job"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

In small environments (one node setups) a job may increase the maximum capacity in terms of forks which might crash the system.
Therefore I suggest a  global options (maybe per instance) which sets a limit for the number of forks per job. If a job increases this limit it should be prevented from running or saving the job template should result in an

[2019-10-29 16:48] wenottingham commented on #5142
This is actualy needed in larger setups more often.

[2019-10-29 17:07] vincentkersten commented on #3956
@zbenta thanks: When I do the `docker-compose up -d`
helped me to determine the issue:

    ERROR: for awx_web  Cannot create container for service web: b'invalid volume specification:
     \'/Users/vincent/Desktop/AWX/opt/my-envs:~/Desktop/AWX/opt/my-envs:rw\': invalid mount
    config for type "bind": invalid mount path: \'~/Desktop/AWX/opt/my-envs\' mount path must be
    absolute'

setting the

[2019-10-29 17:42] unlikelyzero opened #5144 "Any tower install done without specifying a macOS catalina-compatible cert at runtime will block macOS + Chrome users from accessing the web UI after July 1st, 2019"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
MacOS Catalina users might be impacted by increased requirements for ca certs. If the user does not provide a cert at installtime, our tower-packaging playbook will generate a CA Cert which does not meet the requirements here https://support.apple.com/en-us/HT210176.

This means that all fresh installs of ansible tower after July 1st will generate a CA

[2019-10-29 17:44] unlikelyzero commented on #5144
@elyezer @wenottingham @dsesami @mabashian this is not technically a release blocker but will need to be researched asap in case tower-packaging changes apply.

It's a continuation of this ticket https://github.com/ansible/awx/issues/5122

[2019-10-29 17:52] wenottingham opened #5145 "port awx modules to something that is not tower-cli"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
awxkit? plain requests? Options abound!

[2019-10-29 17:59] wenottingham opened #5146 "Implement import/export functionality"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

tower-cli has send/receive, for exporting subsets of AWX assets for import into another AWX instance. This is commonly used as a mechanism of "promoting" automation from a dev instance to a production instance.

It dumps full json structure, including dereferincing linked inventories/projects/etc by name, instead of ID, for portability.

We should f

[2019-10-29 18:19] ryanpetrello commented on #4750
@elyezer (and others in this thread) a fix for this is present in `devel` now:

https://github.com/ansible/awx/pull/5140

Anybody here who's been encountering this issue mind giving awx `devel` a shot?

[2019-10-29 18:19] ryanpetrello commented on #4771
@kdelee the fix for this is present in `devel` now: https://github.com/ansible/awx/pull/5140

[2019-10-29 18:22] sumkincpp commented on #5146
:+1: for that, also would be great to cover in identical way for awxkit and awx (i.e. through tower_send module). In awx this might be a management playbook, which internally uses tower_* modules.

https://github.com/ansible/awx/blob/devel/awxkit/awxkit/cli/docs/source/examples.rst#backuprestore

[2019-10-29 18:34] ffirg opened #5147 "Does ansible/ansible-runner need oc installed when using localhost container group host?"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX - running Demo Job Template against a localhost based container group fails, when run_isolated.yml calls synchronize (line 21) to run an rsync. It's expecting the oc client to be there but is missing from the ansible/ansible-runner image?

##### ENVIRONMENT
* AWX version: 8.0.0.0.0
* AWX install method: CRC version: 1.0.0+575079b OpenShift version:

[2019-10-29 18:49] wenottingham commented on #4209
tangentially: https://github.com/ansible/awx/issues/1611

[2019-10-29 18:49] wenottingham commented on #4209
Also tangentially: as part of this we should revisit moving to a daphne/channels version from this century

[2019-10-29 19:04] wenottingham opened #5149 "Support inventory plugins that live in a collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Followon of https://github.com/ansible/awx/issues/3776.

Once collections can be exposed in some way (imagine handwaving here), however they are exposed needs to work such that an custom inventory plugin can be sourced from a collection (as opposed to requiring it be in source control only).

[2019-10-29 19:05] craph commented on #5036
Hi @shanemcd,

When my code will be available in the official awx container image ?

Where can I found the release plan ?

Thank you very much.

Best regards.

[2019-10-29 19:06] wenottingham opened #5150 "Support arbitrary custom inventory plugin configuration"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Followon of https://github.com/ansible/awx/issues/5149 (and its predecessors).

Given the ability to expose a custom inventory plugin via a collection for use as an inventory source, we should allow configuring a generic custom inventory source where the configuration data is merely "a plugin configuration file".

From a related (duplicate) issue fi

[2019-10-29 19:56] wenottingham opened #5151 "Move all execution to execution nodes managed via receptor network"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Enable users to have a distributed network of execution nodes, where the only requirement is that the nodes have ansible-runner, ansible, and [receptor](https://github.com/project-receptor/receptor) installed. This node can then self register or be registered to the receptor network of which AWX control plane nodes will be receptor controllers (or a

[2019-10-29 20:12] wenottingham commented on #5151
As part of this, execution nodes should be able to register and deregister dynamically as needed.

[2019-10-29 20:21] #4978 closed, assigned to keithjgrant

[2019-10-29 20:21] #4614 closed, assigned to keithjgrant

[2019-10-29 20:22] wenottingham opened #5153 "Reduce project update locking"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
https://github.com/ansible/awx/issues/4809, but for project updates.

Since playbook runs get their own fresh checkout (and could be on another branch anyway), this should be doable.

[2019-10-29 20:23] wenottingham opened #5154 "Rethink task manager dependency graph logic"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Corollary of #5153 and #4809

Rethink the way we manage the dependency graph. This hurts us at a large volume of jobs and cross project/inv dependencies

[2019-10-29 20:27] wenottingham opened #5155 "Rework how logging is done"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, external logging is done in-process in a logging.logger handler, even for event processing.

This causes many assorted problems:
- when threads and forks are involved, deadlocks ensue due to CPython bugs
- logging directly impacts event processing (and therefore anything to do with job output)
- logging is difficult to debug
- ~some users

[2019-10-29 20:31] ryanpetrello commented on #5155
proof of concept implementation: https://github.com/ansible/awx/pull/5092

[2019-10-29 20:32] wenottingham commented on #1500
closing old issue

[2019-10-29 20:32] #1500 closed, assigned to nobody

[2019-10-29 20:33] ryanpetrello commented on #5093
@devops-42 thanks for reporting this.

Would you mind giving this PR a try?

https://github.com/ansible/awx/pull/5156/

[2019-10-29 20:49] #4956 closed, assigned to mabashian

[2019-10-29 20:49] #5066 closed, assigned to mabashian

[2019-10-29 20:49] #5067 closed, assigned to mabashian

[2019-10-29 20:49] #5068 closed, assigned to mabashian

[2019-10-29 20:49] #5069 closed, assigned to mabashian

[2019-10-29 20:50] wenottingham opened #5157 "Execution environment definition, creation, and management"
##### ISSUE TYPE
 - Feature Idea

(I expect subtasks will live off of here.)

##### SUMMARY

Ansible is moving to collections. Collections have dependencies. Dependencies complicate providing coherent execution of playbooks. We have historically hidden this complexity for cloud modules, but it seeps in occasionally (especially with Azure), and we leave custom venv creation entirely to our users. T

[2019-10-29 21:01] wenottingham opened #5158 "Improved insights integration"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When the insights integration for AWX was written, plans were a thing, and the insights API and UI were very different.

We should walkthrough what is currently available and make something better.

[2019-10-29 21:01] wenottingham commented on #413
closing in favor of more generic https://github.com/ansible/awx/issues/5158

[2019-10-29 21:01] #413 closed, assigned to nobody

[2019-10-30 09:57] ffirg commented on #5147
Also just tested against an external OCP 4.2.0 cluster running in AWS. Same error.

Actually, is it that the oc binary needs to be on the AWX pods? I guess it's running an oc rsync from there over to the remote cluster via the synchronize module?

[2019-10-30 10:32] saiprasad169 commented on #975
in Inventory file please don't edit the rabbitmq password keep it as default

[2019-10-30 10:33] saiprasad169 commented on #975
This issue basically happen for rabbitmq container where it throws error credentials

[2019-10-30 10:34] saiprasad169 commented on #975
you can keep the default password for rabbitmq it will work fine and please re-deploy the container or restart it

[2019-10-30 11:32] BRE-MD commented on #5137
Yes, only one schedule is affected, other schedules can be deleted.

awx-manage showmigrations seems to be okay, here is the output:

auth
 [X] 0001_initial
 [X] 0002_alter_permission_name_max_length
 [X] 0003_alter_user_email_max_length
 [X] 0004_alter_user_username_opts
 [X] 0005_alter_user_last_login_null
 [X] 0006_require_contenttypes_0002
 [X] 0007_alter_validators_add_error_messages
 [X] 000

[2019-10-30 13:08] ryanpetrello commented on #4771
I'm going to close this one @kdelee; let me know if that's wrong.

[2019-10-30 13:08] #4771 closed, assigned to jbradberry, kdelee

[2019-10-30 13:49] falcon78921 opened #5160 "Improve Diff Output When Specifying Show Changes in Job Template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to see an improved output when specifying Show Changes in a job template.

For example, if a job has thousands of lines of output, they would like to be able to filter for just the diff changes (i.e. For reporting purposes).

[2019-10-30 14:14] shanemcd commented on #5147
I believe you found a bug. It seems like we forgot to install these clients in our upstream AWX images. I'll work on a fix today.

[2019-10-30 14:18] ffirg commented on #5147
Nice, thanks Shane! Happy to test again when it's ready.

[2019-10-30 14:28] sinu opened #5162 "Data flow in awx"
Hello Team,

I am using awx with container, can someone help me to understand the requestflow/dataflow in this case, want to understand how the containers are linked and how the data flowing between these containers

[2019-10-30 14:35] javexed commented on #4736
Will try again and let you know.

[2019-10-30 15:59] wenottingham commented on #5162
This issue is for reporting issues in AWX, this sort of question belongs on the mailing list or IRC channel.

[2019-10-30 15:59] #5162 closed, assigned to nobody

[2019-10-30 16:00] wenottingham commented on #5160
I think this should be doable now with a sufficient query on the job output display.

[2019-10-30 16:17] shanemcd commented on #5147
Fixed in https://github.com/ansible/awx/pull/5164. We will cut another release within the next day or so.

[2019-10-30 16:33] AlanCoding opened #5165 "Many AWX collection modules deletion not idempotent"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
For most `tower_*` modules in the collection, `state: absent` is not idempotent and will error

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: any
* Ansible version:  2.10
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

https://github.com/ansible/ansible/issues/47915

...and more modules

[code]

##### EXPECTED RESULTS

Alwa

[2019-10-30 16:41] AlanCoding opened #5166 "Module tower_project has no means of waiting for update to finish"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There is no way to use `tower_project` in a playbook and have it poll until the project finishes updating.

So to create a job template this is necessary:

https://github.com/ansible/test-playbooks/blob/d4b39fe0c010cf8dc9c4e6e60113664cd4bf1bbd/tower_modules/tower_job_template/tasks/main.yml#L17

[code]

A simple parameter like `wait: True` should be

[2019-10-30 16:46] AlanCoding opened #5167 "Add parameter to tower_job_template to take extra_vars directly"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now this module has parameter `extra_vars_path`, and users would obviously prefer direct input of variables.

A proposed fix was put up at https://github.com/ansible/ansible/pull/57225, and needs to be moved over here. There's still a lot of content in that we don't need, and maybe it should be done from scratch.

[2019-10-30 16:47] AlanCoding commented on #5167
It also needs to have a type defined, and the prior attempt made a dict (which is probably reasonable).

[2019-10-30 17:06] ffirg commented on #5147
I noticed you’ve used oc client from v3.9.0. Will that work with v4 as well? I believe they are different clients.

[2019-10-30 17:13] wenottingham commented on #5166
https://github.com/ansible/ansible/pull/51302 ?

[2019-10-30 17:43] pbhandaru opened #5169 "Awx-Postgresql deployment using Helm Chart"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

Hi,

I am not sure if this is the right forum . I am trying to deploy awx-postgresql pod using helm chart stable/postgresql by setting up a local repo since the K8 cluster we are using does not have access to the open source docker hub to pull the bitnami Images.

Have

[2019-10-30 18:02] AlanCoding commented on #5166
I don't know if the associated test is the only way to use it, but that gave 2 tasks for doing this

[code]

I also don't know concretely if this creates an _additional_ update, which would certainly be unwanted. It could be that passing `state: updated` to the fist task with that diff will work correctly, but I don't know.

That PR also breaks the precedent set by https://github.com/ansible/awx/b

[2019-10-30 18:14] #3826 closed, assigned to jladdjr, one-t

[2019-10-30 18:23] AlanCoding opened #5171 "Support multiple credentials in tower_job_template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The AWX collection module `tower_job_template` should take a list in parameter `credentials` to allow for use of multiple credentials.

[2019-10-30 18:24] dhoer commented on #4764
Just saw this.  Sounds like you might have a different issue.

[2019-10-30 18:54] matburt commented on #1886
This also covers the scenario where SAML/SSO authentication was already completed at some prior time and the user has a valid login. Rather than requiring the user to click the saml login button we should be able to just redirect to the dashboard via the 2-legged mechanism that would normally take them to the SSO login screen.

[2019-10-30 19:40] ghjm commented on #5144
The difficulty here is that we don't necessarily know, at install time, what hostname users will be using to access Tower.  We could kinda-sorta guess that it's probably the ansible_hostname, but users with a load balancer or complex DNS, or just who decided to use IP addresses in their Tower inventory file, won't have a hostname we can parse out to put into this certificate.

Currently, we're usi

[2019-10-30 19:46] AlanCoding opened #5177 "Add ability to add host to groups and groups as children via AWX collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Replacing old issue https://github.com/ansible/ansible/issues/29149

The modules provide the ability to create groups, hosts, and inventories, but there's no way to add hosts to groups. It's pointless to have `tower_group` if you cannot actually group hosts inside of it.

got 11 👍 in old issue, so putting priority high.

There might have been some pr

[2019-10-30 19:52] markandrewj commented on #1845
I just wanted to add some feedback to say this would be very useful. We were looking into this for the same reason as the referenced use case, splitting up our provisioning playbook into smaller chunks. It would be a helpful feature to have.

[2019-10-30 20:16] elyezer commented on #5110
I was able to verify that this is working now. Did the following:

1) Created a Project to sync https://github.com/ansible/test-playbooks
2) Created a Job Template to run the `test_tags.yml` playbook and prompt on launch for tags and skip tags.
3) Run the job template and had the following as the input:

![Screenshot from 2019-10-30 16-05-04](https://user-images.githubusercontent.com/48132/6789508

[2019-10-30 20:16] #5110 closed, assigned to elyezer

[2019-10-30 20:21] mabashian opened #5181 "Toggles not rendering after recent PF upgrade"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1465" alt="Screen Shot 2019-10-30 at 4 07 57 PM" src="https://user-images.githubusercontent.com/9889020/67895607-343ea200-fb31-11e9-88a5-33717cbd96eb.png">

Just need to create some notifs through the api browser or old awx app ui and then navigate to the notifs tab of a job template to reproduce.

[2019-10-30 21:05] #5010 closed, assigned to mabashian

[2019-10-30 21:06] apollo13 commented on #5110
@elyezer What's the corresponding commit id in the devel branch?

[2019-10-30 21:13] ryanpetrello commented on #5110
https://github.com/ansible/awx/commit/841975d72bd61a4b918d9a7becb7d7a04488ac0b

[2019-10-30 21:14] apollo13 commented on #5110
Thank you!

[2019-10-31 00:30] AlanCoding commented on #5145
Commenting to put @john-westcott-iv on the conversation. There's also some more background on this.

A pull request https://github.com/ansible/ansible/pull/48649 was raised as a WIP to do exactly this, but it was never fully finished.

[2019-10-31 01:27] nu11ptr commented on #3318
The problems seems to be with the updating of the playbook project specifically on launch I believe. However, I realized on closer inspection that my intended behavior was likely in error (it doesn't seem like job launch will update inventory projects from SCM or perhaps i had somethign wrong). Regardless, since my playbook project was trying to update but my inventory project wasn't, I refactored

[2019-10-31 02:36] AlanCoding commented on #5032
Typo? By using the `tower_notification` module?

[2019-10-31 02:43] vaishnavi1993 opened #5187 "Want to install AWX high availability on centos 7."
##### ISSUE TYPE
 Want to install AWX high availability  on centos 7.

##### SUMMARY
I have installed AWX with localhost on centos 7, which was done successfully.But I also want to install AWX with high availability.
So I have placed 3 clustered servers in inventory file and then ran the install.yml. It has installed AWX in all three servers, but when I check for API ping for example https:// <ser

[2019-10-31 09:19] Dodofox opened #5188 "Dynamic forms"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
On worfklow and job template we can add form. It could be very convenient to add dynamic question.

For exemple, i have a worflow to deploy new VM on our vmware infrastructure. On the forms it ask for some feature and the final, it ask if the user want to add one more virtual disk on the VM. If  yes, the user can specify mout point and size of the di

[2019-10-31 09:29] Dodofox opened #5189 "New menu dedicated for manual job/worfklow"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There are some workflow/job that we want to be launch manually only  (for exemple new vm deployment).
Today we have to go on the modele job/workflow menu and launch it.
It could be more ergonomic to create a new menu for these kind of job with spécific ACL. This menu could permit only to launch workflow/job define as a manually.

[2019-10-31 09:52] tib-kpl commented on #4197
I work with @shark09, we tested with awx v6.1.0 but we have the same error.
For the Openstack environment we use OVH's.

[2019-10-31 09:52] idelsink commented on #5032
Yup, I've updated the issue.

[2019-10-31 11:15] kevit opened #5190 "AWX_Task container do not processing correctly Git cookieFile option"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have an enviroment with Git 2FA based on 3rd party issued cookie. Usually I am updating my .gitconfig file to place a right path to cookie there, but in awx_task 8.0.0 it does not work

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: docker on linux

##### STEPS TO REPRODUCE

1. Write a section in .gitconfig as

[code]

2. start GIT_TRAC

[2019-10-31 12:07] AlanCoding opened #5193 "In tower_inventory_source, take organization parameter for inventory org"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If you create an inventory source like this:

[code]

It will fail if there are 2 versions of "openstack-test-inventory" in different organizations.

This module should have the organization parameter added, and filter the inventory according to that.

Basically this is to track cherry-picking https://github.com/ansible/ansible/pull/63100

[2019-10-31 12:42] jakemcdermott commented on #5144
moving this issue to a different repo

[2019-10-31 12:42] #5144 closed, assigned to ghjm, jakemcdermott

[2019-10-31 13:14] sinu commented on #5162
@wenottingham no one is responding in group as well as in irc please help i am unable to find any document regarding this

[2019-10-31 13:50] kevit commented on #5190
I did not check with the new Centos 8 container

[2019-10-31 14:25] wenottingham commented on #5188
-> #20

[2019-10-31 14:25] #5188 closed, assigned to nobody

[2019-10-31 14:26] wenottingham commented on #5187
This is a bug tracker for AWX. Your question seems more appropriate for the mailing lists or the IRC channel; please ask it there.

[2019-10-31 14:26] #5187 closed, assigned to nobody

[2019-10-31 14:27] wenottingham commented on #5189
This is what the portal/my view is for. See #1240.

[2019-10-31 14:27] #5189 closed, assigned to nobody

[2019-10-31 14:38] Dodofox commented on #20
THAT is really what all my clients need !

[2019-10-31 14:44] kevit commented on #5190
I tried the official upgrade without much success

[code]

There is still old version, probably because last image was updated 10 days ago and still contain centos 7

`https://hub.docker.com/layers/ansible/awx_task/latest/images/sha256-745ac9b36095650fc41497121803c5dfba93e6dec3f2420fe1eb39997d4cfb38
`

[2019-10-31 15:19] ryanpetrello commented on #5190
@kevit

Does the problem go away if you disable bubblewrap?

https://docs.ansible.com/ansible-tower/latest/html/administration/proot_func_variables.html#bubblewrap-functionality-and-variables

If so, you'll need to add `/tmp/` to `AWX_PROOT_SHOW_PATHS` at `https://your-awx.example.org/api/v2/settings/jobs/`.

[2019-10-31 15:30] mabashian commented on #4213
As far as I'm concerned https://github.com/ansible/awx/pull/4913 addresses this specific issue.  We'll still need to discuss dates at length when we go to build the scheduler.

[2019-10-31 15:30] #4213 closed, assigned to AlexSCorey

[2019-10-31 16:20] cdeniro commented on #3318
Order of operations shouldn’t matter. This is clearly a bug in that a
setting to ignore certificates doesn’t work reliably.

On Wed, Oct 30, 2019 at 7:27 PM Scott Meeuwsen <notifications@github.com>
wrote:

--
_______________
Cody DeNiro

[2019-10-31 16:23] kevit commented on #5190
@ryanpetrello as I understood the problem is not related to AWX directly, but to particular setup of docker container (old curl version)

[2019-10-31 16:56] ryanpetrello commented on #5190
Okay, gotcha.  It's possible that the issue might go away with the latest version of AWX that has moved to CentOS 8 - https://github.com/ansible/awx/releases/tag/9.0.0

We're currently in the process of cutting this new release - mind giving it a try in an hour or two?

[2019-10-31 17:21] ryanpetrello commented on #4750
@aretakisv (and others here)

We believe we've finally squashed this issue in the just-released version of AWX, 9.0.0.

I'm going to close this - if anybody else is still encountering this issue on the latest version of AWX, please let us know and we'll re-open and investigate.

[2019-10-31 17:21] #4750 closed, assigned to elyezer, AlanCoding, squidboylan

[2019-10-31 17:46] treyd commented on #4736
@rooftopcellist I am still getting the below error. This after completely blowing away my repo checkout, making sure there is no `~/.awx/`, deleting all local images and commenting out `dockerhub_base`, I completely rebuilt all the images with `build.yml` and then did an install using `install.yml'.  The `pg_hba.conf` does have the `host all all all md5` so that is a change, but I still can't laun

[2019-10-31 22:26] ghost opened #5205 "nginx fails to start on OKD 3.11"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When AWX is deployed on OKD, it seems like its nginx web server can't start due to permissions denied error on port 80.
The StatefulSet-dedicated pod is still marked as running, yet you cannot reach the login mask through the route as OpenShift returns the "Application not available" error.
I attached the log of awx-web container where you can see the

[2019-11-01 12:56] bkmeneguello opened #5209 "Add Support for BitBucket webhooks"
##### ISSUE TYPE
- Feature Request

##### SUMMARY
Restore commit 885841caeaea0f7c86d39d6e7a66b960124289c2 to add support for BitBucket webhooks, since Server edition supports signed payloads and Cloud edition suggests IP Whitelists ([manage webhooks](https://confluence.atlassian.com/bitbucket/manage-webhooks-735643732.html) and [ip whitelist](https://confluence.atlassian.com/bitbucket/what-are-the

[2019-11-01 13:14] ingvaldlorentzen commented on #5205
I'm experiencing the same issue with AWX `9.0.0` in OpenShift `3.11.16`

Was not an issue with AWX `8.0.0` and `7.0.0` in the exact same environment.

##### ENVIRONMENT
* AWX version: 9.0.0
* AWX install method: OpenShift manual deployment

[code]

[2019-11-01 15:16] nu11ptr commented on #3318
Order of operations MIGHT matter esp. for frequency - after all, this is an unsolved bug, so we shouldn't speculate what it is or isn't. I'm just reporting data as I discover it.

In human real world testing, this has not been a problem since my refactor, but I also am doing very little real world testing. In my CI integration tests, the Ansible stuff is failing fairly regularly and the culprit te

[2019-11-01 17:13] ryanpetrello commented on #5205
@shanemcd do you think this is related to our CentOS 8 move or @wenottingham's recent nginx config change?

[2019-11-01 17:14] ryanpetrello commented on #5190
@kevit mind giving this a shot in 9.0.0?

[2019-11-01 17:16] ryanpetrello commented on #5169
Hey @pbhandaru,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-11-01 17:16] #5169 closed, assigned to nobody

[2019-11-01 17:20] ryanpetrello commented on #5147
This should be resolved in awx 9.0.0.

[2019-11-01 17:20] #5147 closed, assigned to nobody

[2019-11-01 17:28] ryanpetrello commented on #5108
Hey @alancivita,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-11-01 17:28] #5108 closed, assigned to nobody

[2019-11-01 17:42] alancivita commented on #5108
Hi Ryan, indeed i think is a bug.

[2019-11-01 18:05] wenottingham commented on #5108
The migrations are run and completed two tasks before setting the superuser, so something is off in your environment - that is why we suggest the mailing list.

[2019-11-01 18:13] alancivita commented on #5108
thanks for the reply.
I will share the logs on the mailing list then - with the timings, where it can be seen that the migrations are still going on.
Cheers

[2019-11-01 19:10] mabashian opened #5211 "Remove Switch style override when display bug fixed upstream"
##### ISSUE TYPE
 - Task

##### SUMMARY
Remove `--pf-c-switch__toggle-icon--Offset: 0.125rem;` from Switch component(s) when PF fixes bug upstream.

[2019-11-01 19:14] ffirg commented on #5205
Snap, same issue when using CRC
$ crc version
crc version: 1.0.0+575079b
OpenShift version: 4.2.0 (embedded in binary)

[2019-11-01 20:44] ffirg commented on #5205
This is an /etc/nginx/nginx.conf problem.

8.0.0 has the default server using port 8052
9.0.0 has port 80 hence the permission denied running as awx

[2019-11-01 23:42] d-cui opened #5213 "awx_task container throws ValueError in awx-manage, invalid port literal"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I've compiled the AWX application using the installer. When I run `docker logs -f awx_task`, I perpetually get the following error

[code]

Any idea what's going on? Am I missing an environment variable?

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.0
* Operating System: Ubuntu 18.04
* Web Browse

[2019-11-02 00:08] ryanpetrello commented on #5213
@d-cui are you using a RabbitMQ password that has an unescaped colon in it (that's my guess, based on the error).

[2019-11-02 03:34] nkiraly commented on #5205
Best I can tell, this change
https://github.com/ansible/awx/commit/712b07c136ea31a14c035378a439c9b7a6712054#diff-a2ef2d6347894a92a6b882e3793fb06c

has resulted in published awx_web 9.0.0 image having the default nginx.conf instead of the awx repository's nginx.conf.

[2019-11-02 03:39] nkiraly commented on #5205
AWX web gets served as expected for me in my kubernetes cluster if take the awx_web:9.0.0 release image and copy in an `nginx.conf` based on the template `installer/roles/local_docker/templates/nginx.conf.j2` which was renamed from `installer/roles/image_build/templates/nginx.conf.j2` transitioning from release 8.0.0 to 9.0.0

[2019-11-02 20:17] kevit commented on #5190
@ryanpetrello yup, I'll do Monday morning

[2019-11-02 21:52] dmaple-gci commented on #5205
Yes, I agree. The nginx.conf was taken out of the image_build role and only put in the local_docker and docker-compose.  This leaves image build for k8s and OKD with default nginx.conf and an unusable awx_web container.

[2019-11-02 22:21] ybizeul opened #5214 "AWX fails to upgrade DB when upgrading to 8.0.0+"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX fails to upgrade DB when upgrading to 8.0.0

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: docker
* Ansible version:  2.8.5
* Operating System: CentOS 7.7
* Web Browser: Safari

##### STEPS TO REPRODUCE

I have a pre-existing version of AWX, installed around 1.x, and upgraded to each major release from 2.x to 7.x

Now when upgrading

[2019-11-02 22:23] ybizeul commented on #2225
Upgrade doesn't work for me with @Commifreak method.

Maybe my database has been created in a very early version of AWX and that's causing an issue, but playbook fails to upgrade PostgreSQL database.

[code]

Opened https://github.com/ansible/awx/issues/5214

[2019-11-03 03:07] AlanCoding opened #5216 "Several job fields do not show up when created_by is null"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Not all jobs that are created by the API have a launching user associated with them.

For these jobs, not all fields are displayed in the UI.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPROD

[2019-11-03 03:19] AlanCoding commented on #5216
never mind me

resolved by 2b6cfd7b3d7260329a0dd49163a9c1da73fe0b83

[2019-11-03 03:19] #5216 closed, assigned to nobody

[2019-11-03 09:33] Commifreak commented on #5214
What is the „install user“ on your machine? Root?

It seems, that database user has to equal the system user, which installs awx.

This requirement seem to come from the pgsql image and not from the awx installer.

Correct me if Iam wrong

[2019-11-03 11:22] ybizeul commented on #5214
It has always been installed as container, so in the end it has to be an awx issue in the packaging. Unfortunately I'm no expert in PostgreSQL, but I was able to check that in version 9, user `awx` is one of the superuser of the database. I'm almost sure that `initdb` during the upgrade is performed with `awx` so I'm not sure what to do now.

[2019-11-03 11:24] ybizeul commented on #2225
Re-reading the comments I just realized no one here seem to have upgraded to 8.0. Could you please let the thread know when you do it ?

[2019-11-03 11:37] Commifreak commented on #2225
You are right, me neither. I‘ll try it asap and let you know what happens

[2019-11-03 11:42] Commifreak commented on #5214
The Errors are from the running postgre container not from AWX. At least as far as I can see.

The main issue is the upgrade from PGSql 9.6 to 10 which needs an awx-db upgrade as well and the consistency check of pgsql raises this error.

https://stackoverflow.com/questions/41854387/database-user-postgres-is-not-the-install-user

The best is to wait until the awx team provides a fix as the run com

[2019-11-03 14:06] Spredzy opened #5217 "Buildling awkit cli HTML doc does not work anymore."
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

When trying to build the `awxkit-cli` HTML documentation (via `make clean html`) the process fails with the following issue:

[code]

This is the arg value it fails on

[code]

`git bisect` indicates that https://github.com/ansible/tower/commit/c882cda58678e9509cdb398ea8ed46a4d33b8efd is the commit responsible for the breakage

##### ENVIRONMENT

  -

[2019-11-03 16:13] shanemcd commented on #5205
Oops, apologies for not catching this. Going to work on a patch today or tomorrow.

[2019-11-03 17:40] Spredzy opened #5219 "awxkit: name__in filter returns empty when key contains whitespaces even though value is present"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

When a key specified in a `name__in` filter contains whitespace, then nothing is returned even though the key exists.

##### ENVIRONMENT

  - N/A

##### STEPS TO REPRODUCE

Example: `inv_source.get_related('groups', name__in='foo bar').results` will fail even though `foo bar` is present.

##### EXPECTED RESULTS

  - Proper value to be returned when `

[2019-11-03 22:51] Quantas opened #5221 "K8S Install Fails in AWX 9.0.0 (postgresql version check fails)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With a fresh copy of the awx repository, on a brand new K8S cluster, with only helm/tiller installed. The installer fails at the "Check if Postgres 9.6 is being used" step with 2 separate failures. The first is that it cannot find the pod because of the wrong label being used. The second is once the label check issue is resolved it cannot connect to po

[2019-11-03 23:01] Quantas opened #5222 "K8S Install Fails in AWX 8.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: kubernetes
* Ansible version:  2.5.1
* Operating System: Windows with WSL2 to use kubectl/helm/ansible
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Setup a brand new Kubernetes cluster (GKE, Rancher, etc.)
2. Clone a fresh copy of the `8.0.0` tag
3. Ensure Helm is installed on cluster

[2019-11-04 02:14] calvinbui commented on #5221
I was able to fix this by changing the task to:

[code]

[2019-11-04 03:57] Quantas commented on #5221
@calvinbui Were you able to then have AWX start successfully? I noticed that even after I changed these values, the dashboard was still inaccessible.

[2019-11-04 03:59] calvinbui commented on #5221
No, it will fail due to https://github.com/ansible/awx/pull/5218/files

[2019-11-04 08:18] balaramr opened #5223 "Organizations admin is unable to add users to organizations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to add users to organizations with Admin access to organizations. Only system administrator is able to add users to organizations.

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: docker
* Ansible version: 2.8.5
* Operating System: RHEL 7
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

I was able to a

[2019-11-04 10:37] kevit commented on #5190
git-tools package missed in 9.0.0 image, some credentials helpers not there, f.e netrc
Moreover, 9.0.0 does not improve my situation, because another curl bug version 7.61* in https://github.com/curl/curl/issues/3299 , which was fixed in 7.63 https://curl.haxx.se/mail/lib-2018-12/0036.html
I am looking now for possible workaround

[2019-11-04 13:59] dmaple-gci opened #5224 "AWX 9.0.0 bubblewrap needs setuid permission"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Error when running jobs.  "bwrap: Creating new namespace failed, likely because the kernel does not support user namespaces.  bwrap must be installed setuid on such systems."

##### ENVIRONMENT
* AWX version: 9.0.0
* AWX install method: openshift
* Ansible version:  2.8.5
* Operating System: CentOS 8.0.1905
* Web Browser: Any

##### STEPS TO REPRODUCE

[2019-11-04 14:07] #5181 closed, assigned to keithjgrant

[2019-11-04 14:21] AlanCoding commented on #5137
Could we get a count of how many jobs reference this schedule? This should be available at `/api/v2/schedules/20/jobs/`, or via shell_plus by `UnifiedJob.objects.filter(schedule=20).count()`?

What I'm trying to diagnose is if this is a problem that arises with the number of jobs involved.

[2019-11-04 14:31] dmaple-gci commented on #5221
This check also fails if the postgressql database is external to AWX.  That task should have a conditional to check if pg_hostname is defined.  I worked around this with a patch like this:

diff --git a/installer/roles/kubernetes/tasks/main.yml b/installer/roles/kubernetes/tasks/main.yml
index 8f03022..6f72b17 100644
--- a/installer/roles/kubernetes/tasks/main.yml
+++ b/installer/roles/kubernetes/

[2019-11-04 14:40] eusebium opened #5228 "Upgrading AWX on remote from 7.0.0 to 8.0.0 or 9.0.0 is failing with lookup error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

command:
[code]

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Centos 7.7

##### STEPS TO REPRODUCE

Install awx 7.0.0 on remote host
installer/inventory
[code]
Install awx 8.0.0 on remote host
installer/inventory
[code]

##### EXPECTED RESULTS

AWX upgrade from 7.0.0 with po

[2019-11-04 14:43] nfj25 commented on #3474
Hello,
I had a issue with an AWX 6.1.0 sending logs to a logstash. I started having jobs without any output whatsoever, even after the jobs finished.
After some investigation, I found some exceptions in a part of the AWX that looked like to be related with log shipping:

[code]

After some straces to the run_callback_receiver processes I notice that the processes were stalling for a few secconds i

[2019-11-04 14:44] shanemcd commented on #5221
Will be fixed by https://github.com/ansible/awx/pull/5227

[2019-11-04 14:48] #4986 closed, assigned to marshmalien

[2019-11-04 15:14] shanemcd commented on #5224
Thanks for reporting this. I am not sure what changed that would have broken this. Perhaps something upstream with bwrap itself. I've reproduced the error, and I am going to apply and test your patch now.

[2019-11-04 15:22] dmaple-gci commented on #5224
It does appear to be a change in the way the bubblewrap package installs on CentOS 8 and RHEL 8.

[2019-11-04 15:56] ryanpetrello commented on #3474
@nfj25,

We've got some plans to drastically change the architecture of our external logging aggregation (in the near future):

https://github.com/ansible/awx/issues/5155

[2019-11-04 16:00] AlanCoding commented on #5157
I was going to try to post a bunch of links here from Ansible core. The [roadmap](https://docs.ansible.com/ansible/devel/roadmap/ROADMAP_2_10.html) for 2.10 isn't enlightening for me. Maybe there's a longer-term roadmap somewhere? Some requests, like https://github.com/ansible/ansible/issues/58266, are counter-productive.

There are some surprising formats used for Ansible module python requiremen

[2019-11-04 16:14] jon-rei opened #5230 "Invalid search term entered. GET returned: -1 when trying to access Jobs list."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Clicking on web ui elements after remaining idle on the current page for around 2 minutes, produces `Invalid search term entered. GET returned: -1`.

Docker container awx_web shows the following error message:

[code]

It seems to only happen when you are on the job template page and you want to navigate to the job list afterwards.
A full refresh of th

[2019-11-04 16:42] wenottingham commented on #5223
What's the error?

[2019-11-04 16:42] AlanCoding commented on #5157
Another link https://github.com/ansible/awx/pull/4844

(expect this to be closed)

[2019-11-04 16:56] shanemcd commented on #5224
Fix will be included in AWX 9.0.1 which I'm pushing out now.

[2019-11-04 16:56] #5224 closed, assigned to nobody

[2019-11-04 16:56] shanemcd commented on #5221
Fix will be included in AWX 9.0.1 which I'm pushing out now.

[2019-11-04 16:56] #5221 closed, assigned to nobody

[2019-11-04 17:02] rcarbajal01 opened #5232 "VERISON 9.0.1 for awx_web docker image not found"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Error starting project manifest for docker.io/ansible/awx_web:9.0.1 not found

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.5
* Operating System: RHEL 7
* Web Browser:

##### STEPS TO REPRODUCE

sudo ansible-playbook -i inventory install.yml

##### EXPECTED RESULTS

Start container successfully

#

[2019-11-04 17:22] shanemcd commented on #5232
I think you were too quick and tried to run the installer before the image push finished. Try again now.

[2019-11-04 17:22] #5232 closed, assigned to nobody

[2019-11-04 17:28] shanemcd commented on #5228
We changed where the default data directory is located in AWX 8.0.0. It does appear that we forgot to include that in the announcement email, apologies for that. See https://github.com/ansible/awx/pull/4843 for more info. Please note that the local docker installation method is community supported, and we would appreciate a PR if you'd like to contribute a fix. Thank you.

[2019-11-04 17:28] #5228 closed, assigned to nobody

[2019-11-04 17:31] shanemcd commented on #5222
I just pushed up AWX 9.0.1. Can you try now? Please ensure you download the correct version from the releases page (https://github.com/ansible/awx/releases) and repopulate the inventory file.

[2019-11-04 17:33] shanemcd commented on #5214
Did you specify a different user for ` pg_username` between versions? I dont believe the default value has ever changed. It is possible this is a bug that we haven't seen before, but this is the first time we are hearing about it.

[2019-11-04 17:42] shanemcd commented on #5205
This should be fixed in 9.0.1.

[2019-11-04 17:42] #5205 closed, assigned to nobody

[2019-11-04 17:44] shanemcd commented on #5230
Couple of questions:

- Are you using social auth of any kind?
- After a hard refresh are you throw back to the login page?

[2019-11-04 17:48] jon-rei commented on #5230
1. I'm currently using LDAP Auth for all users
2. No, AWX doesn't throw me back to the login page. I'm remaining logged in. But some of my colleagues are reporting that they are being logged out.

[2019-11-04 17:52] Quantas commented on #5222
I’ll give it a shot this afternoon and report back, thank you for the fast responses on the tickets I filed this weekend!

[2019-11-04 18:57] mabashian opened #5234 "Fix intermittent failing test in JobTemplateForm.test.jsx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Seen this error on several PR builds now:

[code]

I tested this out locally and wasn't able to reproduce.

[2019-11-04 19:08] ghost commented on #5205
Yes, I can confirm that now it's working properly.

Thanks @ryanpetrello and @shanemcd for your support!

[2019-11-04 20:08] mabashian opened #5235 "Refactor VariablesField to handle variables stored as JSON"
##### ISSUE TYPE
 - Bug

##### SUMMARY

If you use the `VariablesField` in a form and create a resource with variables formatted as JSON, the edit form field will be toggled to `YAML` by default.

https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/CodeMirrorInput/VariablesField.jsx#L19 defaults to `yaml` even if the stored value is JSON.  `VariablesInput` is configured a bit diff

[2019-11-04 21:34] mabashian opened #5236 "Add sparkline of recent jobs to expanded host row"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The awx-pf interface for hosts exposes recent jobs in a sparkline (like templates) but the one piece of information that we're missing is the job `type`.  The `type` is important because it allows us to navigate directly to the correct output page for the job in question without having to make an extra request.

I tried this chunk:

[code]

in `def g

[2019-11-04 21:35] mabashian commented on #5236
If this isn't possible - there are some ways we can get around it.  We can set up a generic job endpoint that acts as a router and redirects to the correct output page after a GET request to the job (to get the type).

[2019-11-04 21:36] Quantas commented on #5222
@shanemcd 9.0.1 works perfect on a fresh install! Thank you for the extremely quick turn around!

[2019-11-04 21:37] #5222 closed, assigned to nobody

[2019-11-04 21:38] mabashian commented on #5236
Note that these links:

<img width="1485" alt="Screen Shot 2019-11-04 at 4 37 22 PM" src="https://user-images.githubusercontent.com/9889020/68160292-7432ca00-ff21-11e9-9c09-ba9a89d6be16.png">

will be broken until we come up with a solution

[2019-11-04 22:02] jschilen opened #5237 "Satellite 6 inventory source unable to update after upgrade from 7.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After upgrading I am unable to sync my inventory from satellite.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: RHEL 7.7
* Web Browser: Chrome 78.0.3904.87

##### STEPS TO REPRODUCE

Clicked refresh for "Red Hat Satellite 6" source.

##### EXPECTED RESULTS

Expected the invent

[2019-11-05 00:58] nakacya opened #5238 "AWX 9.0.1 Image Build Error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Image build fails

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: CentOS Linux release 7.7.1908 (Core)
* npm 6.12.0 (/bin/npm)
* node.js v13.0.1 (/bin/node)

##### STEPS TO REPRODUCE

git clone https://github.com/ansible/awx.git
cd awx/install/
vi inventory
-dockerhub_base=ans

[2019-11-05 01:21] ryanpetrello commented on #5217
@Spredzy @kdelee this is ready for another look, I think it's been fixed in `devel`.

[2019-11-05 08:22] rafis commented on #1947
[code]

[2019-11-05 10:10] thibveni commented on #5214
i have exactly the same issue, using awx in docker container mode since more than 1 year, classic installation on centos 7.

[2019-11-05 10:39] Mohamed70 opened #5240 "No such file or directory: '/tmp/pip-install-9in3wr7t/awxkit/awxkit/setup.py'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I try to install the package such as indicate, using this command:
pip install "https://github.com/ansible/awx/archive/3.0.0.tar.gz#egg=awxkit&subdirectory=awxkit"
But I get this error:
Collecting awxkit
  Downloading https://github.com/ansible/awx/archive/3.0.0.tar.gz
     - 12.9MB 7.3MB/s
    ERROR: Command errored out with exit status 1:
     comman

[2019-11-05 10:55] jamesfreeman959 opened #5241 "AWX 9.0.0 cannot handle "£" in SSH credentials"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 9.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Ubuntu Server 18.04
* Web Browser: Chrome on Windows 10

##### STEPS TO REPRODUCE

1. Define a project, inventory, and template in the normal manner.
2. Define a machine credential to enable access to any machine to run the templa

[2019-11-05 12:42] Spredzy commented on #5217
Working.

[2019-11-05 12:42] #5217 closed, assigned to ryanpetrello

[2019-11-05 12:44] stephenk-gr opened #5242 "Inventory update fails with Python script source due to missing /usr/bin/python in AWX 9.0.x"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a python inventory script within a project attempts to update it fails with the error:
`([Errno 2] No such file or directory`
It appears that when the script is run the environment expects /usr/bin/python to exist and this is missing in AWX 9.0.0 & 9.0.1
Creating a symlink within the awx_task container allows this to run successfully.
```ln --symb

[2019-11-05 13:49] ryanpetrello commented on #5240
The official AWX CLI was introduced in version 7.0.0 of AWX (not prior versions, like 3.0.0 in your URL above).

[2019-11-05 13:49] #5240 closed, assigned to nobody

[2019-11-05 14:36] nakacya commented on #5238
Reget a git repository.
Rerun to build.

This time it was created successfully.
It is unknown what caused the problem, but the problem was avoided, so close it.

[2019-11-05 14:36] #5238 closed, assigned to nobody

[2019-11-05 14:53] kdelee commented on #5241
can you run `locale` on the tower task container?

Should have output something like this:
[code]

[2019-11-05 14:59] sivassrr opened #5243 "awx available for linuxonpower systems"
##### ISSUE TYPE
 - awx for linuxonpower based systems

##### SUMMARY
<!Is awx available for linuxonpower based systems? is anyone tried?>

[2019-11-05 15:01] ryanpetrello commented on #5241
I've attempted to reproduce this myself with an SSH password of `££££££` and am having trouble reproducing.

<img width="747" alt="image" src="https://user-images.githubusercontent.com/214912/68218980-37afae80-ffb3-11e9-8f17-b0be94adec1d.png">

[2019-11-05 15:08] ramesh-gundelli opened #5244 "This site can’t be reached"
##### ISSUE TYPE
 - This site can’t be reached

##### SUMMARY
Unabl;e to login to ansible tower as i am getting this site cant be reached error messag everytime. Please look into this or suggest me anything. Thanks

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: docker on linux,
* Ansible version:  X.Y.Z
* Operating System: Red Hat 7
* Web Browser:

##### STEPS TO REPRODUCE

Please s

[2019-11-05 15:15] mabashian opened #5245 "Support for PUT'ing a list of related ids to a related endpoint"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I'll use Job Templates as an example because that resource probably has the most related resources hanging off of it where this would be helpful.

Scenario:  Edit a job template and add 5 new instance groups.  Right now, the UI has to make 6 different REST calls to achieve this.  The first is a GET request on the instance groups to get the latest lis

[2019-11-05 15:20] AlanCoding opened #5246 "[draft proposal] Module to wait for ALL jobs to finish"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now we have `tower_job_wait` that will take a job id and wait for that job to finish.

This proposal suggests that `job_id` could be made optional. If not provided, it should wait until all jobs have finished before continuing.

It should also accept a type parameter to wait for a certain type. For instance, wait for all projects to finish upda

[2019-11-05 15:28] rcarbajal01 opened #5247 "Error starting project failed to register layer: Error processing tar file(exit status 1)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
"Error starting project failed to register layer: Error processing tar file(exit status 1): write /usr/lib64/python2.7/nntplib.py: no space left on device"

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker compose
* Ansible version:  2.7.5
* Operating System: RHEL 7
* Web Browser:

##### STEPS TO REPRODUCE

sudo ansible-playbook -i i

[2019-11-05 15:28] jakemcdermott commented on #5245
An "all or nothing" approach would be good from a UI perspective - either all of the ids are valid and are successfully saved or nothing is updated. This would help avoid partially saved state and make the error conditions much easier to handle.

[2019-11-05 15:31] ryanpetrello commented on #5247
You're out of disk space.
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-11-05 15:31] #5247 closed, assigned to nobody

[2019-11-05 15:35] alancivita opened #5248 "Job templates not parsing roles inside nested git subrepos"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I have some playbooks with roles, something like this:

- hosts: all
  remote_user: root
  roles:
    - common-apps
    - users

if i run this playbook from the web interface, the playbook just completes without executing the roles and the job is marked as successfully completed
- it was working fine prior to version 8.0.0

if i run the same playbook

[2019-11-05 15:36] mabashian commented on #5245
I mention PUT in the original issue but if PATCH is more appropriate for this type of request then that works for me.

[2019-11-05 15:39] ybizeul commented on #5214
When I open the database from a 9.6 container and execute a few commands I feel might be useful, here is what I get :

[code]

That's the very same database that wouldn't upgrade with the method packaged in AWX.

[2019-11-05 15:53] shanemcd commented on #5244
Hi, a couple of things:

- If you're using Tower, contact support.
- This sounds like an issue with your environment rather than the app itself. We use GitHub issues for tracking bugs. For help troubleshooting, please go to the [Google Group](https://groups.google.com/forum/#!forum/awx-project) or join [ansible-awx](http://webchat.freenode.net/?channels=ansible-awx) on freenode.

[2019-11-05 15:53] #5244 closed, assigned to nobody

[2019-11-05 16:06] wenottingham commented on #5243
No, this isn't currently available.

[2019-11-05 16:06] #5243 closed, assigned to nobody

[2019-11-05 16:07] shanemcd commented on #5241
We released 9.0.1 yesterday and this might be fixed now. Can you give it a shot?

[2019-11-05 16:24] jamesfreeman959 commented on #5241
I think I may have a problem with my awx_task container - I built it from scratch because I wanted to use specify an SSL cert for the awx_web container (ref: https://github.com/ansible/awx/issues/3751)

When I log into the awx_task container and run ```locale```, I see the following:

[code]

Is there something I have done wrong during the build process? Perhaps something in the build environment

[2019-11-05 16:29] jon-rei commented on #5230
I think I have found a fix for this issue.

As you can see from the logs the access to a subfolder under `/var/lib/nginx/...` is forbidden.
```[crit] 126#0: *1416 open() "/var/lib/nginx/tmp/uwsgi/2/03/0000000032" failed (13: Permission denied) while reading upstream```

I just went into the docker container and changed the file and group ownership from the whole folder structure under `/var/lib/ng

[2019-11-05 16:50] wenottingham commented on #5241
You probably need glibc-all-langpacks (or, at least, gllibc-minimal-langpack)

[2019-11-05 16:53] mabashian commented on #4477
Closing in favor of moving straight into a socket based implementation -> https://github.com/ansible/awx/pull/5215.

[2019-11-05 16:53] #4477 closed, assigned to marshmalien

[2019-11-05 17:41] chriswolske commented on #4321
per @wenottingham , I tried setting AWX_PROOT_BASE_PATH prior to installing Tower, but this didn't take (which makes sense, I think, because that variable would affect AWX and the Tower Installer is really just using Ansible Core, not Tower).

Is there an equivalent way to change the TMP directory for Ansible? (I would keep this issue in AWX though, since it's an AWX install issue)

[2019-11-05 17:56] wenottingham commented on #4321
I'm not sure what you're actually asking for.

[2019-11-05 20:34] #4987 closed, assigned to marshmalien

[2019-11-05 21:47] marshyonline commented on #5230
I was seeing the same issue but the ownership was systemd-coredump
The folders seemed to have changed permissions back overnight and I'm no longer seeing any issues in the UI
- AWX 9.0.1

[code]

[2019-11-06 02:15] marshyonline commented on #5230
The error cropped back up for me today.
Any page load would throw the error.

[code]
I have re-deployed the container's and shall test if the issue happens again

Extra info:
Using LDAP
No users are logged out when the error shows

Fresh perms should be
[code]

[2019-11-06 08:07] sivassrr opened #5256 "AWX installation not working fine on ppc64le"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

<Install AWX using the command ansible-playbook -i inventory install.yml in Red Hat Enterprise Linux of ppc64le -->

##### EXPECTED RESUL

[2019-11-06 08:15] sivassrr commented on #5256
Is it due to ppc64le compatible issue? Looks like it is..?  Anyidea on how to confirm the same?

[2019-11-06 09:06] BRE-MD commented on #5137
Hi,
`/api/v2/schedules/22/jobs/` says:  `"count": 24`

[2019-11-06 10:26] sivassrr commented on #5256
[code]

[2019-11-06 10:27] jamesfreeman959 commented on #5241
Would they be installed on the host machine where the containers were built? I saw no errors during the build process, but I agree it looks like something has been left out of the container. Should this not be in the Dockerfile that builds the awx_task container, or am I misunderstanding how this gets built.

[2019-11-06 10:30] shanemcd commented on #5256
We only build on x86 at this point in time. Feel free to open a RFE issue or a PR, but there’s no point in troubleshooting why x86 images aren’t working on ppc64le.

[2019-11-06 10:30] #5256 closed, assigned to nobody

[2019-11-06 10:33] shanemcd commented on #5241
Did you ever end up trying 9.0.1? We added the glibc-langpack-en package there.

[2019-11-06 10:35] jamesfreeman959 commented on #5241
Aha - no sorry - I'm on site with the client that requires this functionality next Monday so will test then and report back. Is it ok if we leave this issue open for a few more days so we can complete the test?

[2019-11-06 11:03] europ opened #5257 "Search while typing"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Real-time search while typing for templates, credentials, projects, inventories, etc.

The current implementation of the searching works as type->submit->search, which may be changed to search while typing. Finding something specific would be faster and more comfortable for the user.

It is known as "*Incremental search*".

[2019-11-06 11:51] lemmy04 opened #5258 "unable to install 9.0.1"
##### ISSUE TYPE
I'm trying to upgrade my AWX installation to 9.0.1

##### SUMMARY
I'm trying to ugrade an existing AWX which has been installed in a local docker from self built images (to have https), and the process fails with this error:

TASK [local_docker : Stop AWX before upgrading postgres] *********************************************************************************************
[DEPRE

[2019-11-06 13:08] shanemcd commented on #5258
That's weird. I have not seen this before. Why is it trying to pull images on that task? (rhetorical question). See [here](https://github.com/ansible/awx/blob/70057bc0f26318cd516f5c05aa1d36f0570c577d/installer/roles/local_docker/tasks/main.yml#L25-L29). As a workaround try to manually stop your containers and see if that helps. If not, just comment out that task and see what happens.

[2019-11-06 13:41] mabashian opened #5259 "Inventory Add Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockup: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-add/

Fields:
**Name** - required text
**Description** - text
**Organization** - required single select lookup (see project add form for example)
**Insights Credential** - single select lookup (If you look at the existing app this is a two step process.  We first get

[2019-11-06 13:43] mabashian opened #5260 "Inventory Edit Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See https://github.com/ansible/awx/issues/5259

[2019-11-06 13:51] mabashian opened #5261 "Inventory Detail"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockup: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-detail/

Notes:
1) **Activity** will not be possible until we get api support for recent jobs on inventories so skip that for now.
2) Edit button should be hidden for users without `summary_fields.user_capabilities.edit`
3) Delete button should be hidden for users wi

[2019-11-06 14:18] mabashian opened #5262 "Inventory Host List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockups: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-hosts/

Columns:
**Name**: Should link to `#/inventories/:id/hosts/:id/details`
**Sparkline**: Use `summary_fields.recent_jobs`.  Note that the links will be broken until https://github.com/ansible/awx/issues/5236 is addressed.
**Related Groups**: Chips that expose

[2019-11-06 14:30] jakemcdermott commented on #5234
https://github.com/ansible/awx/pull/5250

[2019-11-06 14:30] #5234 closed, assigned to jakemcdermott

[2019-11-06 14:33] mabashian opened #5263 "Inventory Host Add Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockup: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-hosts-add/

Fields:
**Name**: required text
**Description**: text
**Variables**: codemirror

A version of this form has already been built and it lives at `/#/hosts/add` with one caveat - it has an inventory field.  This version of the form won't need to expose the i

[2019-11-06 14:41] mabashian opened #5264 "Inventory Host Edit Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See: https://github.com/ansible/awx/issues/5263

Mockup: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-hosts-edit/

Note that the network request for updating a host will have to hit `/api/v2/hosts`

[2019-11-06 14:46] shanemcd opened #5265 "Settings page resets when websocket events occur"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When on a tab on the settings page and a websocket event occurs, user is thrown back to the first tab, losing any unsaved changes.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: any
* Ansible version:  N/A
* Operating System: macOS 10.14.6
* Web Browser: Safari

##### STEPS TO REPRODUCE

- Go to Settings -> Authentication -> GitHub tab.

[2019-11-06 15:06] mabashian opened #5266 "Inventory Host Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockup: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-hosts-detail/
See `/#/hosts/:id/details` for reference.

Note that the existing host details component is missing the **Activity** section which is the Sparkline component displaying jobs from `summary_fields.recent_jobs`.  When added to this details view please add

[2019-11-06 15:18] keithjgrant commented on #4672
Fixed with the recent Patternfly upgrade (https://github.com/patternfly/patternfly-react/issues/2693) and confirmed working now in awx-pf in devel

[2019-11-06 15:18] #4672 closed, assigned to nobody

[2019-11-06 15:25] mabashian opened #5267 "Inventory Groups List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockups: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-hosts/

Columns:
**Status**: This requires some discussion.
**Name**: Should link to `#/inventories/:id/groups/:id/details`
**Actions**: Includes the edit button (only visible if user_capabilities.edit)

Notes:
1) ALL GROUPS/ROOT GROUPS toggle should be included as

[2019-11-06 15:47] mabashian opened #5268 "Inventory Group Add Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockup: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-groups-add/

Fields:
**Name**: Required, text
**Description**: text
**Variables**: codemirror (See host form for example)

[2019-11-06 15:49] mabashian opened #5269 "Inventory Group Edit Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockups: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-groups-edit/
See: https://github.com/ansible/awx/issues/5268

[2019-11-06 15:51] AlexSCorey opened #5270 "Inventories Add dropdown should not show blue text/link"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory and Smar Inventory buttons look like links. instead of just plain text.

##### ENVIRONMENT
* AWX version: 9.0
* AWX install method:  docker for mac
* Ansible version:  2.10
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Go to awx-pf ---> Inventories ---> Add.  See blue text.

##### EXPECTED RESULTS

<img width="44

[2019-11-06 15:57] mabashian opened #5271 "Inventory Group Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockup: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-groups-detail/

Fields:
**Name**
**Description**
**Variables**
**Created**
**Last Modified**

Notes:
1) Edit button should be hidden for users without `user_capabilities.edit`
2) Delete button should be hidden for users without `user_capabilities.delete`
3) Extra not

[2019-11-06 16:25] mabashian opened #5273 "Credential List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockups: https://tower-mockups.testing.ansible.com/patternfly/creds/creds/

Columns:
**Name**: Link to `/#/credentials/:id/details`
**Kind**: This column is a little bit tricky.  Kind name actually comes from `/api/v2/credential_types`.  All we have on the credential is a `credential_type` id.  In order to populate this list we currently make a targe

[2019-11-06 16:40] gtie commented on #4736
To get around the connection failure error:
[code]

This still leaves you with a missing database (or any initialization whatsoever) inside the postgres container, which is the error @treyd reported just above. Trying to work that one out.

[2019-11-06 16:46] mabashian opened #5274 "Credential Add Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockups: to come

Fields for all credential types:
**Name**: Required, text
**Description**: text
**Organization**: single select lookup
**Credential Type**: Required, single select lookup (this triggers the subform)

Notes:
1) For this iteration of the form we're only going to support two credential types
- Machine
  - Subform Fields:
<img width="14

[2019-11-06 16:47] mabashian opened #5275 "Credential Edit Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockup: to come

See https://github.com/ansible/awx/issues/5274 for most of the details

[2019-11-06 16:52] mabashian opened #5276 "Credential Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockups: to come

All credentials will have the potential for name/description/org/type fields.  After that the fields vary based on the type of credential.  It'll be best to reference the form fields when trying to figure out what should be shown in the details view.

Notes:
1) Edit button should be hidden for users without summary_fields.user_capab

[2019-11-06 16:55] #4980 closed, assigned to mabashian

[2019-11-06 16:55] #4948 closed, assigned to mabashian

[2019-11-06 16:55] #4985 closed, assigned to mabashian

[2019-11-06 17:09] Kassec commented on #1632
I'm currently testing awx 9.0.1, I first had the roles_enabled issue. Adding a debug statement shows :
TASK [debug] *******************************************************************
task path: /var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/playbooks/project_update.yml:125
ok: [localhost,] => {
    "msg": "roles_enabled: False"
}
Even if set in the configuration. One needs to remove the al

[2019-11-06 18:22] gtie commented on #4736
So, in addition to the above `pg_hba.conf` modification, what I had to do extra to get the DB initialized was:
[code]

[2019-11-06 19:04] jlmitch5 opened #5277 "selecting multiple vault credentials with the same description fails"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
Create two vault creds with the same description.  Try to assign both to a job template in UI and save

##### EXPECTED RESULTS

It works!

##### ACTUAL RESULTS

It doesn't work, api has failure

---

@AlexSCorey has more info

[2019-11-06 19:10] treyd commented on #4736
@gtie this worked for me, thanks!

Sounds like the install.yml playbook needs to do this?  Or maybe this is something that should be done from the docker-compose context?

[2019-11-06 19:42] marshmalien opened #5278 "Most Detail views don't update when URL changes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Navigation via URL doesn't work. When the URL changes the component should fire an api request to update the Details panel.

![url](https://user-images.githubusercontent.com/15881645/68331689-660cb700-00a3-11ea-8cc8-2613317ff047.gif)

##### STEPS TO REPRODUCE
* Navigate to Details view of a resource
* Update URL with `:id` of a different resource

####

[2019-11-06 21:17] marshyonline commented on #5230
A Rebuild of the containers has resolved this issue for me

[2019-11-07 04:32] sivassrr opened #5279 "Need AWX support for ppc64le (linuxonpower) systems"
##### ISSUE TYPE
 - Need AWX support for ppc64le (linuxonpower) systems - RHEL, SUSE, Ubuntu

##### SUMMARY
< Based on the discussion in following issue
https://github.com/ansible/awx/issues/5256 found out no AWX support available for AWX on linuxonpower systems. Linux on power is one of the popular platform where linux runs and it is getting accepted by more customers. For more details please che

[2019-11-07 07:20] lemmy04 commented on #5258
oh by the way (unrelated), ever since I've started to run the local docker install in the way that builds local images (https requried) I noticed that that installation "path" fails at some clean up stage early on, unless you run it as root. I'm pretty sure that isnt supposed to be like that - should I open an issue?

[2019-11-07 07:41] lemmy04 commented on #5258
I did run the install on a dfferent computer that did not have AWX installed on it before, and that worked, so maybe there's something to your idea.

Still, I don't really see any reason why a task that is supposed to stop a service is actually trying to pull an image, unless there's a typo in the docker-compose file in the image name, and it doesn't recognize the running service, and so it tries

[2019-11-07 07:51] lemmy04 commented on #5258
ok, even with awx stopped the install dies at the same stage.

[2019-11-07 08:34] lemmy04 opened #5280 "self-buildign awx images should not require running as root"
##### ISSUE TYPE
Privilege issue

##### SUMMARY
I'm installing AWX with self built images, and the clean distribution step fails unless the playbook is run as root, if you run it on a computer that has already been used for this.

##### ENVIRONMENT
* AWX version: any, pretty much
* AWX install method: docker on linux with self built images
* Ansible version:  2.8
* Operating System: openSUSE Leap

[2019-11-07 08:34] lemmy04 commented on #5258
https://github.com/ansible/awx/issues/5280

[2019-11-07 08:35] lemmy04 commented on #5258
whatever the reason for this problem is, it happens with 8.0.0 as well.

[2019-11-07 08:51] jon-rei commented on #5230
@marshyonline Did you rebuild the containers based on the latest devel branch? Or did you used the newest version from docker hub?

[2019-11-07 09:12] gtie commented on #4736
The pg_hba line is conditional on the usage of docker-compose. So, that file needs to be templetized, rather than copied (as it is now), and the extra line needs to be made conditional on the type of installation.

The DB initialization needs more debugging to see how to best fix it. The commands above are a hack.

[2019-11-07 09:41] sivassrr commented on #5279
Let know if this feature available and I can help in testing. if there is anything that needed let know.

[2019-11-07 09:56] marshyonline commented on #5230
Sorry, I should have supplyed more information.
Running local-docker/Docker Compose.

The below steps are what I did.

- Removed All containers
- Checked out 9.0.1 from git
- Re-created installer/inventory with the same options as the orginal install
-  re-ran installer/install.yml

[2019-11-07 10:06] roman-vynar opened #5281 "awx_web:9.0.1 docker image - forgotten nginx config"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Upgraded AWX from 7.0.0 to 9.0.1.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker

##### ACTUAL RESULTS

[code]
There are no other nginx vhost config mentioning port 8050-8052 in the image.

So it was forgotten to put the correct nginx.conf into the image.

##### ADDITIONAL INFORMATION

What I did is - just copied the content of ng

[2019-11-07 11:09] ingvaldlorentzen commented on #5281
I'm experiencing the same issue with AWX `9.0.1` in OpenShift `3.11.16`

Was not an issue with AWX `8.0.0` and `7.0.0` in the exact same environment.

##### ENVIRONMENT
* AWX version: 9.0.0
* AWX install method: OpenShift manual deployment

[2019-11-07 11:58] peterducai opened #5282 "please provide msg of debug module on standard output without whole json"
##### ISSUE TYPE
 - Feature Idea

please provide msg of debug module on standard output without whole json

ISSUE TYPE
Feature Idea
when calling
[code]
I want to see only msg on standard output, not whole json of item. Currently in Tower I can see only json

ADDITIONAL INFORMATION

with several playbooks we getting huge json, where msg: is somewhere in the middle. this is completely anti-user-frie

[2019-11-07 12:09] craph commented on #5064
Up on this subject ?

[2019-11-07 12:16] fadimki commented on #593
This still does not work. I keep receiving 'docker command not found in PATH' even though docker command exists in /usr/bin and running a normal task with 'docker ps' works fine.

[2019-11-07 12:27] shanemcd commented on #5281
Please ensure that you're using the version of the installer that corresponds to the image you are trying to run. Both local docker and OpenShift now render this out on the host and bind-mount it inside of the web container.

[2019-11-07 12:28] roman-vynar commented on #5281
Installer?
I was just stopping and starting a new container using the newer image as I was always doing since version 1.0.0 and I had no problems with that.

[2019-11-07 13:14] shanemcd commented on #5281
You seem to be having problems now. Try reading the docs: https://github.com/ansible/awx/blob/devel/INSTALL.md#docker-compose

[2019-11-07 13:14] #5281 closed, assigned to nobody

[2019-11-07 13:51] wenottingham commented on #5279
This is not planned at this time in AWX; we distribute docker images for x86_64 only.

[2019-11-07 13:54] #5279 closed, assigned to nobody

[2019-11-07 14:30] wenottingham opened #5283 "Perf stats gathering doesn't work in containerized execution"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Due to the way that it uses cgroups, it doesn't work in containers (nested cgroups with different Linux versions) We need to solve this in a proper manner.

##### ENVIRONMENT
* AWX version: current

[2019-11-07 14:58] roman-vynar commented on #5281
I am not building my own image, I am using your pre-built images
[code]
Why do I need to build an image as you pointed me to?

Again, there was no problem with upgrades between 1.0.0 > 2.0.0 > 3.0.0 > 4.0.0 > 5.0.0 > 6.0.0 > 7.0.0 and now you are saying to read the docs which haven't been changed since that?

DB migrations are run ok by the way automatically.

Please re-open this issue and provide

[2019-11-07 14:58] falcon78921 opened #5284 "Allow IBM DB2 as a Database Option"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per a customer's request, instead of using PostgreSQL, they would like to have IBM DB2 as a configurable database option.

[2019-11-07 15:08] #5106 closed, assigned to AlexSCorey

[2019-11-07 15:36] wenottingham commented on #5284
Not planned.

[2019-11-07 15:36] #5284 closed, assigned to nobody

[2019-11-07 16:18] AlanCoding commented on #5277
do you mean the same vault id? the vault id is mutually exclusive.

[2019-11-07 16:23] shanemcd commented on #5281
The process is not different and I did not link you to docs that say you need to build your own image. Those docs would be [here](https://github.com/ansible/awx/blob/devel/INSTALL.md#official-vs-building-images). If you got lucky up until now that's cool, but have always needed to re-run the install.yml playbook to upgrade between versions.

[2019-11-07 17:43] falcon78921 opened #5285 "Add an Organizational "Use" Role"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like the addition of an "Use" role on an organizational level. The organizational "Use" role should give access to all of the resources within the configured organization.

[2019-11-07 18:05] wenottingham commented on #5285
Inventories only, or everything?

[2019-11-07 21:51] ursetto commented on #1987
Agreed, this has a bad interaction with dynamic inventory and update on launch. A single long-running job (even just a single rogue node) which exceeds the inventory cache time causes every subsequent job on that inventory to hang. Perhaps this is documented somewhere, but it wasn't obvious to me.

The only workaround I can think of is to have 2 identical dynamic inventories with one dedicated to

[2019-11-07 23:53] ilijamt opened #5286 "Deployment on K8S 1.16.x"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running the installer to deploy to K8S doesn't work for creating the apps as apps/v1beta1 has been deprecated in 1.16

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: `ansible-playbook -i inventory install.yml`
* Ansible version:  latest

##### STEPS TO REPRODUCE

Inventory
[code]
Run the installer on a blank K8S v1.16.2 built with Rancher

[2019-11-08 02:26] AlanCoding commented on #1987
Thanks for bumping this issue, by my reading, it matches exactly with https://github.com/ansible/awx/issues/4809. That is scoped and on the agenda.

Closing this because it is a duplicate. I give you credit for being first, but we have stuff linked to the new issue.

[2019-11-08 02:26] #1987 closed, assigned to nobody

[2019-11-08 11:06] ilijamt commented on #5286
After applying this diff the deployment work successfully.

[code]

Would there be any issues with this modification?

[2019-11-08 11:43] alancivita commented on #5248
i was able to reproduce the bug on a docker-compose deployment. Same issue:
roles are not parsed when templates are launched via GUI

[2019-11-08 12:14] shanemcd commented on #5286
Hello. Thanks for digging into this. We still want to support older versions, so we probably need to query the k8s api prior to running `apply` and add a conditional in the deployment template based on the version we discover.

[2019-11-08 14:37] thibveni commented on #5214
i still have the same issue when trying to upgrade to 9.0.1 release

Here is my error:
` "stdout_lines": [
    "The files belonging to this database system will be owned by user \"postgres\".",
    "This user must also own the server process.",
    "",
    "The database cluster will be initialized with locale \"en_US.utf8\".",
    "The default database encoding has accordingly been set to \"UTF8\"

[2019-11-08 20:54] agilleyrh opened #5289 "implement management.csp.policy into Ansible Tower's implementation of RabbitMQ"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
port 15672 (RabbitMQ management port) can be viewed as vulnerable due to missing http header security.  This could be addressed by adding " management.csp.policy = frame-ancestors 'none' "

[2019-11-08 22:44] jamesmarshall24 opened #5290 "Add Underlying Python Version to About Section"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add the python version used to run the underlying AWX/Tower environment

[2019-11-09 13:45] ryanpetrello commented on #5289
Sounds like a good opportunity for a pull request :)

[2019-11-09 15:05] nu11ptr commented on #3318
This is definitely still an issue. The symptom for me is mostly that my end to end tests are failing. I didn't notice it right away because it is due to "timeout" which I thought I just wasn't allowing enough time for. However, on closer inspection, the reason for the timeout is that the job is often trying over and over again (I use an exponential backoff before the next retry).

When looking on

[2019-11-10 08:24] ybizeul commented on #5214
Just to be thorough, you're not upgrading to 9.x but to 10.x right ?

[2019-11-11 13:48] AlanCoding commented on #3318
So we potentially have some flaky issue with applying the user's custom environment. I would like to get a consistent reproducer for that.

Are there any other figures that might impact this (since it is intermittent)? Are there a lot of jobs queued up when the failures happen or anything like that? Also curious if there are any logs around the time of the failures that it failed to access databas

[2019-11-11 13:59] nu11ptr commented on #3318
Since it fails in both my integration and end to end tests - I'm effectively pumping AWX as fast as I get back confirmations of completions. In every batch, I suspect there are multiple requests, so at minimum, when I ask for a project to be updated it is with 2 to 3 at a time.

I also took a quick glance at the code the other day. The move of the custom env. into the job is like a single line of

[2019-11-11 15:44] wenottingham commented on #5290
What's the use case here - it should be fairly constant? (either the system 3.x from EL8, or the scl 3.x from EL7).

[2019-11-11 15:57] rayterrill opened #5291 "Can't get virtualenvs working (PATCH has no effect)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can't get virtualenvs picked up by the API. No errors reported, but also doesn't appear to do anything (GET on /api/v2/settings/system returns no changes). Confirmed both containers contain the custom virtualenv

##### ENVIRONMENT
* AWX version: 9.0.1.0
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Ubuntu
* Web Bro

[2019-11-11 16:04] wenottingham opened #5292 "Add instance data to prometheus metrics"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Our `/api/v2/metrics` shows statistics on running jobs, but not *where* they are running. It would be useful to have the data from `/api/v2/instances` merged into it, so the user can have a more clear perspective on what's going on across the cluster.

[2019-11-11 16:18] jamesfreeman959 opened #5293 "Limit applied to Workflow is not inherited by Templates"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I add a Template with no Limit set to a Workflow. I define a Limit of one valid host in the Workflow Limit field. When I launch the workflow, the template is run against all hosts in the inventory.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Ubuntu Server 18.04.3 LTS
* Web

[2019-11-11 16:19] jamesfreeman959 commented on #5241
Fixed by 9.0.1 - closing. Thank you all for your help!

[2019-11-11 16:19] #5241 closed, assigned to nobody

[2019-11-11 16:53] wenottingham commented on #5293
Was "prompt on launch" set for the limit on the job template? Limit is only overriden where prompt on launch for limit is set on the template (in the same way that inventory is only overriden when prompt on launch is set on the inventory.)

[2019-11-11 17:06] rooftopcellist opened #5294 "Set User-Agent on Analytics Upload POST"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The User-Agent header is set on each request to inform the server about what type of client it is communicating with.  In this case, we are not yet setting User-Agent for analytics upload requests yet.

We should do, and it should look something like the following:

[code]

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minish

[2019-11-11 17:27] rayterrill commented on #5291
I tracked this down - this seems like a documentation bug perhaps?

I tracked down this doc (https://docs.ansible.com/ansible-tower/latest/html/administration/tipsandtricks.html), which shows the custom virtual env configuration, and the URL for the API has a trailing slash "/api/v2/settings/system/". The AWX documentation does not (https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs

[2019-11-11 17:47] ryanpetrello commented on #5291
@rayterrill sounds like a PR to https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md that explicitly mentions this might be helpful 👍

[2019-11-11 17:47] #5291 closed, assigned to nobody

[2019-11-11 20:04] #5270 closed, assigned to AlexSCorey

[2019-11-11 21:41] john-westcott-iv opened #5298 "tower_credential module does not support custom credential types"
##### ISSUE TYPE
 - Feature Idea
The tower_credential module does not allow for the creation of credentials from custom credential types.

##### SUMMARY

You can only build a credential from one of the built in Tower credential types. This module should also support custom credential types.

[2019-11-11 21:46] #5298 closed, assigned to nobody

[2019-11-11 22:31] tvo318 opened #5299 "Lacking line wrap in Events detailed view"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Action description in Event details window does not wrap correctly.

##### ENVIRONMENT
* Tower version: 3.6.0
* AWX install method: yolo #6631: Instance URL - https://ec2-34-238-249-200.compute-1.amazonaws.com
* Ansible version:  2.10.0.dev0
* Operating System: Mac Mojave 10.14.6
* Web Browser: Version 78.0.3904.87 (Official Build) (64-bit)

##### STEP

[2019-11-12 02:29] markatdxb opened #5300 "Unable to authenticate via AD in multi domain env"
##### ISSUE TYPE
 - Feature Idea
Hello,
apparently there is no possibility to authenticate to AWX via LDAP in multi domain environment when the same account exists in more than 1 domain.
example we have :
domain1/awx_admin
domain2/awx_admin

unfortunately for some specific reasons we need to have some users having multiple accounts in more than 1 domain
Any plans to improve this in future release

[2019-11-12 04:14] AlanCoding opened #5302 "Clicking on links in UI during active session doesn't redirect to migration page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If AWX goes into a migrating state, the UI doesn't take me there.

##### ENVIRONMENT
* AWX version: 9.0.1
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Login and go to the jobs page, keep tab open

do `awx-manage migrate N-1` in terminal

click on job in jobs page

##### EXPECTED RESULTS

Redirected to the migration polling page.

##### ACTUAL RESUL

[2019-11-12 04:22] IshwarKanse opened #5303 "RFE: Flagging users as superusers and auditors in SAML integration"
##### ISSUE TYPE
Feature request for flagging users as superusers and auditors in SAML integration, similar to LDAP implementation.

[2019-11-12 08:19] zdriic commented on #3627
Hello @ryanpetrello
Could you give me the procedure to install AWX in a cluster mode with Kubernetes ?
I can't install it with the official doc (https://github.com/ansible/awx/blob/devel/INSTALL.md#kubernetes).
Should I configure Kubectl config file before run install.yml with my personnalized inventory file ?

I have these errors :

TASK [kubernetes : Get Namespace Detail] ***********************

[2019-11-12 08:22] darrenjones24 opened #5304 "400 Bad Request when using curl callback"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Following an upgrade, I'm having difficulty using provisioning callback receiving a 400 error/

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: kubernetes
* Ansible version:  2.8.5
* Operating System: Coreos
* Web Browser:

##### STEPS TO REPRODUCE
 curl -vv -k -f -H 'Content-Type: application/json' -XPOST -d '{"host_config_key": "6b81525c

[2019-11-12 08:25] alancivita commented on #5248
i've also moved the playbook and the roles outside the submodule directory and it worked fine, definitely it's a GUI bug with submodules.
I think it's quite important, can . anyone advise on it please?

[2019-11-12 08:55] rvdlinden commented on #5292
I would really like this to be implemented asap as the instances endpoint information is IMHO required to properly monitor Tower (clusters). Tools like Prometheus can easily scrape the contents of /metrics, but the /instances content with json data is hard and requires custom code to do. Integrating /instances into the metrics would make things so much easier.

[2019-11-12 09:17] blindrood opened #5305 "Can't go to Settings page. Nothing happens"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can't go to Settings page, or any subpage of Settings

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker
* Ansible version:  X.Y.Z
* Operating System: Win
* Web Browser: FF, Edge

##### STEPS TO REPRODUCE

Log in as account with full privileges. Click on settings or subpage of settings

##### EXPECTED RESULTS

I should reach settings

[2019-11-12 11:04] ffirg opened #5306 "AWX installer fails when using CRC 1.1.0 (SCC privileges failure)"
##### ISSUE TYPE

Can't install AWX 9.0.1 using a non-kubeadmin account despite having cluster-admin rights.

##### SUMMARY

I've raised this has a potential bug against CRC as well :
https://github.com/code-ready/crc/issues/804

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: CRC 1.1.0 (local Mac install)
* Ansible version:  2.9.0
* Operating System: Mac OS X 10.14.6 BuildVersion:18G

[2019-11-12 11:56] praveenkumar commented on #5306
As a workaround from crc side make sure use `--as system:admin` for all the commands when using the `developer` user.

[2019-11-12 13:35] ryanpetrello commented on #5305
@blindrood do you see any errors in your browser console?

[2019-11-12 14:16] #4132 closed, assigned to nobody

[2019-11-12 14:16] nicolaibaralmueller commented on #4132
depricated

[2019-11-12 14:26] matburt commented on #3627
You've got bigger problems. What version of kubernetes is this?

[2019-11-12 15:02] thibveni commented on #5214
i'm talking about 9.0.1 release from https://github.com/ansible/awx/releases
still having the issue after doing a git pull from this release

[2019-11-12 16:01] wenottingham commented on #5303
This would probably be an addition to the attribute mapping.

[2019-11-12 18:58] marshmalien commented on #4217
Resolved with PF upgrade https://github.com/patternfly/patternfly-react/pull/2659

[2019-11-12 18:58] #4217 closed, assigned to marshmalien

[2019-11-12 20:56] ybizeul commented on #5214
What is your current version ?

[2019-11-13 04:13] tvo318 opened #5310 "Window appears to not fill up entire page width"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Settings Jobs page appears compressed

##### ENVIRONMENT

- Tower version: 3.6.0
- AWX install method: yolo #6631: Instance URL - https://ec2-34-238-249-200.compute-1.amazonaws.com
- Ansible version: 2.10.0.dev0
- Operating System: Mac Mojave 10.14.6
- Web Browser: Version 78.0.3904.87 (Official Build) (64-bit)

##### STEPS TO REPRODUCE
Go to Setti

[2019-11-13 04:38] tvo318 commented on #5310
Does not appear this way on a larger external monitor. Closing.

[2019-11-13 04:38] #5310 closed, assigned to nobody

[2019-11-13 08:12] ubaid-ansari21 opened #5311 "unable to open web interface"
##### COMPONENT NAME

 - Installer

##### SUMMARY
Not be able to open AWX web interface. using this command to see logs>> docker logs -f awx_task getting following error.
##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Centos 7
* Web Browser: Chrome 77.0

##### STEPS TO REPRODUCE

using this command to see logs>> docker log

[2019-11-13 09:04] blindrood commented on #5305
![image](https://user-images.githubusercontent.com/48821393/68748478-c9936900-05fc-11ea-8794-616ae24a5bce.png)
This appears upon login. No errors in console, when clicking 'Settings'

[2019-11-13 09:50] jamesfreeman959 commented on #5293
Oops - now working - thank you! I'll close this but as an end user I can say that I'd love a mouse-over tooltip or something on the Workflow setup page to remind me about this - I think when you know AWX it's fine, but when you're in and out of it, it's easy to forget.

[2019-11-13 09:50] #5293 closed, assigned to nobody

[2019-11-13 10:57] thibveni commented on #5214
AWX 7.0.0

[2019-11-13 12:37] liborburda commented on #3995
Bump.
I have similar problem, I need to give user "create job template" permission, without permission to see other job templates in organization.

The only way is to give him "Organization admin" rights. Same problem with workflow templates, projects...

Or is there any other way how to do that?

[2019-11-13 13:00] shanemcd commented on #5306
This is not an AWX bug.

[code]

[2019-11-13 13:00] #5306 closed, assigned to nobody

[2019-11-13 13:02] ffirg commented on #5306
Agreed not an AWX bug but stops it installing potentially, hence why it was raised on here for others information. I referenced the CRC/OCP bug issue as well so people know what the problem is.

[2019-11-13 13:04] shanemcd commented on #5311
I don't see an error here. This is what the logs are expected to look like. For help troubleshooting go to the [IRC channel](http://webchat.freenode.net/?channels=ansible-awx) or the [mailing list](https://groups.google.com/forum/#!forum/awx-project).

[2019-11-13 13:04] #5311 closed, assigned to nobody

[2019-11-13 13:26] craph commented on #5064
Hello all,

Any news about this issue ?

[2019-11-13 13:33] shanemcd commented on #5305
Are there any hints in the logs for the web container? Can you also confirmed that you are logged in as an admin? I just installed a fresh 9.0.1 and I cannot reproduce.

[2019-11-13 15:18] blindrood commented on #5305
I can go to api/v2/settings/system/ and update values so yeah, I confirm I'm admin.
My installation is an upgrade from 9.0.0. I'm not sure if this worked in 8.0.0 or 9.0.0 as there was no need to look at that page.
but yeah.. looking at logs in container...

[code]
I can see data in api/v2/settings/all/ and can't edit
But I think that's only display of all, right? I still can edit via API subeleme

[2019-11-13 16:31] kevit commented on #5190
Thank you for participating, fortunately problem was related to cookie file format, for internal reason our internal software started to produce cookie file with spaces rather than tabs. I got few more gray hairs, but it resolved yet.

[2019-11-13 16:31] #5190 closed, assigned to nobody

[2019-11-13 17:55] grahamn-gr opened #5314 "force_boot rabbitmq if mnesia database exists"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We have PVCs attached to our rabbitMQ containers in Kubernetes for the mnesia database.
We ran in to this issue https://github.com/helm/charts/issues/13485 (with the provided AWX RabbitMQ 3.7.15 image).
Fix is to force_boot rabbitMQ if a PVC is already present

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: openshift
* Ansible version:  2

[2019-11-13 22:16] agilleyrh opened #5318 "Make Tower/AWX installable on IBM Z"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Some corporations would like to have a whole Ansible Tower environment on IBM Z. Currently, only engine is supported.

[2019-11-13 22:54] 6sossomons commented on #1874
Has there been any forward movement on this?  Part of my issue currently is that I need to beef up the logs just to debug why I can't see my run logs being written to /tmp/ansible_run.log when defined in the settings.py nor when defined as an extra_var in the job runs.

[2019-11-14 03:56] wenottingham commented on #5318
This is not planned for AWX.

[2019-11-14 03:56] #5318 closed, assigned to nobody

[2019-11-14 08:12] jon-rei commented on #5305
Regarding the permission denied error I have faced a similar issue in #5230
Setting the permission to nginx:nginx for `/var/lib/nginx` or rebuilding the container fixed the issue.

[2019-11-14 08:47] alancivita commented on #5248
@ryanpetrello Hi Ryan, any chance to have a look at this?
Regards

[2019-11-14 10:20] blindrood commented on #5305
I can confirm that executing below in awx_web container
[code]
resolved issue

PS. Next I did rebuild containers from scratch and issue did not come back
I suspect some upgrade step might caused this

[2019-11-14 12:30] ravitejajyosula commented on #1284
+1

[2019-11-14 13:18] AlanCoding opened #5321 "tower_credential_type gives incorrect changed status"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The module `tower_credential_type` appears to be useless for any practical playbook, because `state: present` will fail every time if the credential type already exists and a credential that uses the credential type is present (which is, after all, the point of credential types).

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: openshift,

[2019-11-14 13:27] AdrianDutu opened #5322 "Can't authenticate with pubkey to remote hosts"
##### ISSUE TYPE
 - Bug Report
- Feature Idea

##### SUMMARY
I have upgraded from 6.1.0 to 9.0.1. Now I can't authenticate to my remote hosts with a DSA key. After troubleshooting, I discovered that the ssh-client in the new awx-celery image was upgraded to 7.8 from 6.x. This version doesn't like DSA keys. I went inside the container and edited the ssh_config file and added:

`Host *
User s.a.awx

[2019-11-14 13:49] shanemcd opened #5323 "Implement some kind of webhook filtering"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

While trying to make use of our initial webhook implementation, I am struggling with getting GitHub's events to do the Expected Thing™ in AWX.

There is the option to "Send me everything." or "Let me select individual events.", but unfortunately the latter option does not behave intuitively in a(t least one) key way: Checking "Pull requests" will se

[2019-11-14 14:34] AdrianDutu opened #5324 "LDAP auth fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After upgrading from 6.1.0 to 9.0.1 the LDAP auth fails with the following error:

2019-11-14 14:01:39,835 WARNING  django_auth_ldap Caught LDAPError while authenticating a.addu01: SERVER_DOWN({'desc': "Can't contact LDAP server", 'info': 'error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed (self signed certificate in c

[2019-11-14 14:34] ryanpetrello commented on #5322
You should stop using DSA keys:

http://www.openssh.com/legacy.html

That said, this _can_ be pretty tricky to get right:

/etc/ansible/ansible.cfg
/var/lib/awx/projects/_10__automation_ansible/ansible.cfg (_10_automation_ansible is my project name so I assumed this would be a cfg just for that project).

Are you managing manual projects, or pulling your playbooks from SCM (i.e., GitHub)?  If it's

[2019-11-14 14:39] AdrianDutu commented on #5322
We plan to change that key but it is very widely used so it will take some time.
We do use SCM but I can't put an ansible.cfg in the playbook dir since the same repo is used outside of AWX.

[2019-11-14 14:45] vegardtorvund commented on #2495
@mobilesfinks Could you please elaborate on what you did to fix this ? :)

[2019-11-14 14:52] AlanCoding commented on #5321
Root problem:

The value the API stores automatically adds `'type': 'string'` for cases where it is not specified.

[2019-11-14 14:58] ryanpetrello commented on #5322
Have you tried adding `ANSIBLE_SSH_ARGS` to `AWX_TASK_ENV` in `/api/v2/settings/jobs/`?  That might be the easiest path instead of managing config files across containers.

[2019-11-14 15:38] prg318 commented on #3641
I'm also running into this issue and can provide additional details if necessary

[2019-11-14 17:31] ryanpetrello opened #5326 "Container group execution throws an exception certificate authority data is omitted."
<img width="931" alt="image" src="https://user-images.githubusercontent.com/214912/68881287-dd150180-06da-11ea-9a14-fdef299b8906.png">

[code]

[2019-11-14 20:48] L1ghtman2k commented on #4791
Seems like I am unable to set the Kerberos credentials:

![Screenshot_3](https://user-images.githubusercontent.com/35672535/68894855-24f55200-06f6-11ea-9bb6-823e2019e7dd.png)

[2019-11-14 21:22] wenottingham commented on #4791
There are no 'kerberos' machine credentials, beyond WinRM implicit kinit using 'username' and 'password' from a machine credential.

[2019-11-14 21:57] Ashraf-Hassan opened #5330 "Job fails with ImportError: cannot import name _remove_dead_weakref"
I have Ansible tower with 3.5 on RHEL 7.6 with the following setup:
`#` python -V
Python 2.7.5
`#` ansible --version
ansible 2.7.6
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible

[2019-11-14 22:07] jakemcdermott commented on #5277
cc @AlexSCorey Any thoughts on Alan's questions above?

[2019-11-14 22:19] ryanpetrello commented on #5330
@Ashraf-Hassan if you need assistance with an Ansible Tower install, please reach out to Red Hat support.  This issue tracker is for the upstream open source AWX project.

[2019-11-14 22:19] #5330 closed, assigned to nobody

[2019-11-14 22:22] ryanpetrello commented on #4809
@omgjlk any chance you're interested in trying out this PR: https://github.com/ansible/awx/pull/5328

[2019-11-14 22:37] omgjlk commented on #4809
Yeah I should be able to set something up today or tomorrow.

[2019-11-15 09:03] tamilbabuece opened #5331 "AWX installation error on 9.0.1 and 9.0.0 versions on centos 7"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

error i am getting while installing awx on centos:
failed: [localhost] (item=environment.sh) => {
    "changed": false,
    "item": "environment.sh",
    "msg": "AnsibleError: Unexpected templating type error occurred on (DATABASE_USER={{ pg_username|quote }}\nDATABASE_NAME={{ pg_database|quote }}\nDATABASE_HOST={{

[2019-11-15 16:11] zx1986 commented on #5281
I am using the "official" image for our helm chart, what v9.0.0 (and v9.0.1) did were so unfriendly for Kubernetes.
Why I need to run install.yml or re-build if there was a working "official" image?

[2019-11-15 16:24] zbenta commented on #5331
I also had that issue, I updated to ansible 2.9.0 and solved it.

[2019-11-15 17:34] jagibson opened #5334 "Publish breaking changes"
##### ISSUE TYPE
Reporting system for breaking changes.

##### SUMMARY
Example: Previously updating AWX was a simple as updating the Ansible version in your Dockerfile.  With versions 9 and 9.0.1 this method of upgrade no longer works.  #5281 initially reported this but was closed and discussion was abruptly locked with no reason given.

It would be nice if breaking changes were published in some

[2019-11-15 17:42] zx1986 commented on #1223
We have roles/requirements.yml, and every launch will run the roles update again, life wasting ...

[2019-11-15 18:14] wenottingham commented on #5314
Closing per https://github.com/ansible/awx-rabbitmq/pull/13

[2019-11-15 18:14] #5314 closed, assigned to nobody

[2019-11-15 18:16] zbenta opened #5335 "Unable to access AWX web interface."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Unable to access the web interface of AWX, i get "This connection was reset".

##### ENVIRONMENT
* AWX version: latest
* AWX install method: docker on linux
* Ansible version:  2.9.1
* Operating System: centos7
* Web Browser: firefox/lynx

##### STEPS TO REPRODUCE

Installed nodejs, updated ansible and installed gnu make.
I cloned the repo. altered th

[2019-11-15 18:18] ryanpetrello commented on #5304
Hey @darrenjones24,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-11-15 18:18] #5304 closed, assigned to nobody

[2019-11-15 18:21] wenottingham commented on #5302
We don't intend to address this at this time.

[2019-11-15 18:21] #5302 closed, assigned to nobody

[2019-11-15 18:22] wenottingham commented on #5300
This would require significant changes to how we do LDAP authentication with the libraries that we use, it is unlikely to happen.

[2019-11-15 18:23] wenottingham commented on #5299
We'll look at this after/during the awx-pf rewrite.

[2019-11-15 18:24] wenottingham commented on #5290
Closing this - there is not a real usage case for this.

[2019-11-15 18:24] #5290 closed, assigned to nobody

[2019-11-15 18:25] ryanpetrello commented on #5335
Hey @zbenta,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-11-15 18:25] #5335 closed, assigned to nobody

[2019-11-15 18:25] wenottingham commented on #5289
I would note that we do not recommend turning this on in general except for specific debugging, and it may go away in the future.

[2019-11-15 18:27] zbenta commented on #5335
Thanks, sorry for the inconvinience.

[2019-11-15 18:29] wenottingham commented on #5282
Can you give an example of what you're seeing?

[2019-11-15 18:33] wenottingham commented on #5257
We'll look at this after/during the awx-pf rewrite.

[2019-11-15 18:37] wenottingham commented on #5237
` Server Error: Internal Server Error for url: https:///api/v2/hosts/840/facts?per_page=250&page=1`

It looks like your host to connect to got lost? Is your credential correct?

[2019-11-16 00:17] markatdxb commented on #5300
Thanks for info

[2019-11-16 00:17] #5300 closed, assigned to nobody

[2019-11-16 04:31] AlanCoding commented on #5321
Now this module no longer errors, but in the case of the given playbook, it reports changed=True, even though it has not changed.

[2019-11-16 09:36] ybizeul commented on #5214
Ok Makes sense then. I suppose you'd have the same issue going to just 8.x

Anyways, it doesn't seem that one is getting any attention, I guess AWX 7 is just fine !

[2019-11-18 12:05] jordips opened #5338 "Can't edit inventory on workflow_job_template once configured"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When we create a Workflow and we save it, field Inventory can be edited. Once we configure a certain inventory and we click on save, this field becomes disabled and we can't edit anymore.

As far as we can see, ng-disabled is set to:

`ng-disabled="!(workflow_job_template_obj.summary_fields.user_capabilities.edit || canAddOrEdit) || !canEditInventory"`

[2019-11-18 12:06] ikkaro commented on #5338
Same issue in my environment.

[2019-11-18 12:58] AdrianDutu commented on #5322
I tried it after you've recommended it. Doesn't work. First, it tells me that "Host directive not supported as a command-line option", then if I remove that it says "Bad configuration option: hostkeyalrogithms". If I remove that then it says "Bad configuration option: pubkeyacceptedtypes".

[2019-11-18 13:38] ryanpetrello commented on #5322
You have a typo.

[2019-11-18 14:38] AdrianDutu commented on #5322
Oops, my bad. Anyways, PubkeyAcceptedTypes and Host are still not accepted. And just with HostKeyAlgorithms it's not working. It looks like it tries to find private keys id_rsa, id_dsa etc in /var/lib/awx/.ssh and does not find them. Isn't the key stored in the db? Why is it looking for it on the disk?

[2019-11-18 15:08] ryanpetrello commented on #5322
AWX doesn't place SSH keys in `/var/lib/awx/.ssh/`.  When jobs are launched, they're pulled from the database and written to `ssh-agent`.

If you're seeing `No more authentication methods` I suspect you might have something misconfigured.

Can you share `AWX_TASK_ENV` value at `/api/v2/settings/jobs/`?

[2019-11-18 15:16] AdrianDutu commented on #5324
Did anything change regarding the way authentication works?
As mentioned a previous version works and also if I run ldapsearch on the host machine I get back results:

`ldapsearch -b "dc=bwin,dc=adam" -D "CN=s.a.awx,OU=users,DC=bwin,DC=adam" -H ldaps://xxx.xxx.com -W '(memberOf=CN=awx.access,OU=groups,DC=bwin,DC=adam)'`

If I run the same command in the awx_web container, with debug on, I get:

co

[2019-11-18 16:24] #4966 closed, assigned to keithjgrant

[2019-11-18 16:46] zaskan opened #5341 "RFE: Allow sourced inventories to pull remote sourced inventory project on launch"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We have a case in that the customer is using inventories sourced from projects. He is trying to update the inventory from the remote repo on the template launch. We shared with him the KCS below to clarify how to do that.

https://access.redhat.com/solutions/3805061

He followed the steps successfully, but he wants to suggest the idea of add an optio

[2019-11-18 16:57] falcon78921 opened #5342 "Add Ability to Set Default View Type for Jobs, Job Templates, and Projects"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per a customer's request, they would like the ability to set the View type for Jobs, Job Templates, and Projects (i.e. Compact or Expanded).

This functionality is also filed here: https://github.com/ansible/awx/issues/5133. However, this RFE builds on https://github.com/ansible/awx/issues/5133 to include Job Templates and Projects.

[2019-11-18 20:20] javexed commented on #4736
Ok, redid my steps and the error is gone and AWX is installed correctly without the need for the additional hacks. Thank you!

[2019-11-18 20:20] #4736 closed, assigned to nobody

[2019-11-18 20:31] shanemcd commented on #5334
Thanks for the feedback. We'll work on doing a better job of this.

[2019-11-18 20:31] #5334 closed, assigned to nobody

[2019-11-18 21:26] ghost opened #5345 "Tags for hosts in playbook"
##### ISSUE TYPE
 - Tags for Inventory AWS in playbook.

##### ENVIRONMENT
* AWX version: 6.0.0
* AWX install method: AWS
* Ansible version:  2.8

##### STEPS TO REPRODUCE
I have an inventory on AWX with all tags of my ec2 hosts, I would like use a tags for my inventory inside my playbooks. I could use a lot of inventorys with each tag but I don't like it. I want one inventory and use hosts tags o

[2019-11-18 21:27] cpare opened #5346 "unable to get local issuer certificate error (Custom Root and intermediate CA)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When attempting to authenticate against Active Directory (AD) we are getting the error
`WARNING  django_auth_ldap Caught LDAPError while authenticating cpare: SERVER_DOWN({'desc': "Can't contact LDAP server", 'info': 'error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed (unable to get local issuer certificate)'},)`

####

[2019-11-18 21:35] #5346 closed, assigned to nobody

[2019-11-18 21:35] cpare commented on #5346
re-ran installer - working as expected.

[2019-11-18 22:06] Aech1977 commented on #2250
That video is kinda old and makes some assumptions (like your docker container is not read only).

[2019-11-18 22:14] wenottingham commented on #5345
This sounds like an issue with the playbook - grouping by tags is fully supported in the AWS inventory source. It's probably best discussed on the mailing list/IRC channel, as I do not believe this is a bug in awx.

[2019-11-18 22:14] #5345 closed, assigned to nobody

[2019-11-18 23:42] andrew-kurin commented on #5205
I'm experiencing the same issue with an image ansible/awx_web:9.0.1 from DockerHub

[2019-11-19 00:29] svenstaro opened #5347 "Allow showing additional information based on variables in list of Jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The Jobs page currently lists all Job executions but you're unable to see which particular extra variables a Job was executed with. For instance, imagine you have a deployment Job that's just called `Deployment` but there's also a survey associated with the Job that allows users to specify which application they want to deploy.

It would be nice to s

[2019-11-19 07:04] peshalav opened #5348 "AWX performance very poor"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

AWX performance very poor

##### ENVIRONMENT
* AWX version: 6.1.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.2
* Operating System: CentOS Linux release 7.6.1810 (Core)
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

run the jobs smoothly.

##### ACTUAL RESULTS

When job history exceeds about 50 the web interface

[2019-11-19 09:55] itblaked commented on #1731
Thankyou! @ryanpetrello

[2019-11-19 11:09] basos9 commented on #2240
Any updates on this?

Also another fix for playbooks that you run seperate plays for the first and other servers (like build something on first server and restart and only restart on other servers) is to create two addition groups like the example

hosts
[code]

Then modify playbook.yml
from
[code]

to
[code]

[2019-11-19 12:11] sugitk opened #5349 "Tuesday is not Tueday in selection"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

At schedule creation screen, Tuesday is `Tueday` in selection.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker for mac

##### STEPS TO REPRODUCE

Select a job template -> go to `SCHEDULES` tab -> press `+` button -> select `REPEAT FREQUENCY` to `Month` -> select `ON THE` Tuesday

##### EXPECTED RESULTS

Tuesday

##### ACTUAL RESUL

[2019-11-19 12:31] AdrianDutu commented on #5324
I found the issue. The CentOS version changed from 7 to 8. Running update-ca-trust fixed the issue.
@ryanpetrello maybe you can do something to run this in the installer playbook as cert auth will not work by default in awx.

[2019-11-19 12:31] #5324 closed, assigned to nobody

[2019-11-19 12:33] AdrianDutu commented on #5322
Yes, I knew it should be taken from the DB. That's why I was very confused when that error popped up.

        "HOME": "/var/lib/awx",
        "ANSIBLE_SSH_ARGS": "-C -o ControlMaster=auto -o ControlPersist=60s -o User=s.a.awx -o HostKeyAlgorithms=+ssh-dss"
    }

[2019-11-19 12:52] ryanpetrello commented on #5322
Have you tried running a job with higher verbosity (2 or 3)?  When you do so, can you see the ssh args specified properly in the output?

[2019-11-19 13:02] ryanpetrello commented on #5349
Maybe this is a bug in momentjs?

cc @mabashian

[2019-11-19 13:23] twobombs opened #5351 "Error starting project a bytes-like object is required, not 'str'""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Starting AWX in a Docker container fails

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: Docker in Docker
* Ansible version:  2.9.1
* Operating System: Ubuntu 18.04
* Web Browser: -

##### STEPS TO REPRODUCE

Build, Ship & Run AWX via Dockerfile ( eg: https://hub.docker.com/r/twobombs/ansibleawx )

##### EXPECTED RESULTS

AWX login UI

##

[2019-11-19 13:33] ryanpetrello commented on #5322
Yep, that looks right to me 😞

There must be some sort of configuration missing here that's preventing SSH from trying the DSA key that AWX writes into ssh-agent.

Any way you can share the entire job output with verbosity at 3?

[2019-11-19 13:42] AdrianDutu commented on #5322
[code]

[2019-11-19 13:50] ryanpetrello commented on #5322
@AdrianDutu are you certain your key is correct?

[code]

You can see where it's attempted to use the key:

[code]

[2019-11-19 14:26] DomFilteau commented on #4081
We would need this too,
maybe a new credential type like "Generic login password", that would prompt for both username and password and not be remembered like using a survey does.
Machine credential already does this for password field ans such, but not login.

[2019-11-19 14:39] dsesami commented on #4299
The spacing bug appears to have been resolved. Opening and closing modals at different window sizes on a few different pages kept the margin consistent.

[2019-11-19 14:39] #4299 closed, assigned to marshmalien, dsesami

[2019-11-19 14:56] gamuniz opened #5353 "Allow for exportable version of Workflow Visualizer."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

It would be nice to be able to export the images to be used in reports, wiki pages, or documentation of specific workflows.

eg. as a Graphviz dot, NROFF pic or SVG

[2019-11-19 15:34] wenottingham commented on #5353
This is unlikely to happen anytime soon, and certainly not before the pending UI rewrite.

[2019-11-19 15:41] wenottingham commented on #5351
That error is from your docker-compose build, you probably want to post this upstream to them (e.g., https://github.com/docker/compose/issues/6998)

[2019-11-19 15:41] #5351 closed, assigned to nobody

[2019-11-19 17:15] nerratt commented on #2495
@vegardtorvund I assume what he ended up doing was to create a credential with the type Source Control and use an email/password combination.  This is what I've had to do but imo this bug should still be open.  If there is support for github personal access tokens they should be able to be used to access repos.

[2019-11-19 20:54] jschilen commented on #5237
I redacted the server name for security in the post.

[2019-11-19 21:29] wenottingham commented on #5237
OK. The 500 error comes from the Sat/Foreman server, so you'd need to figure out what error it's throwing there and why.

[2019-11-19 23:43] phillipstr opened #5355 "Jobs Error After Upgrade to AWX 9.0.1"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
SCM updates from GitHub result in error -
Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/main/tasks.py", line 1235, in run raise RuntimeError('not starting %s task' % self.instance.status)

Template Jobs status error -
Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib64/python3.6/site-p

[2019-11-19 23:45] geauxvirtual commented on #5286
`apps/v1` has existed since Kubernetes 1.9. https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2019-11-20 02:41] bmc1412 opened #5356 "Unable to Install AWX"
##### ISSUE TYPE
Installation problem
##### SUMMARY
 I am new to Ansible and want to install AWX, I installed Ansible, Docker-compose using pip and tried to install AWX but ansible-playbook -i inventory install.yml -vv faling with

TASK [local_docker : Start the containers] *****************************************************************************************************************************

[2019-11-20 03:23] zx1986 commented on #1072
If I run 100 jobs with requirement.yml and `--force`, then it will update 100 times?
If each time take about 2 mins, so it will be take 200 mins?
meaningless ...

[2019-11-20 03:30] ryanpetrello commented on #5356
Hey @bmc1412,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-11-20 03:30] #5356 closed, assigned to nobody

[2019-11-20 07:56] vegardtorvund commented on #2495
Yes, ended up using username/password. I agree that this should be open until we are able to use tokens.

[2019-11-20 08:30] alancivita commented on #4703
is there a possibility that this fix generated the bug i've described on issue #5248 ?
https://github.com/ansible/awx/issues/5248

i had to roll back to 6.1.0 to have a usable environment
thanks

[2019-11-20 08:34] pottom commented on #5355
I had same issue.

After some investigation I found this error.

fatal: [localhost, -> localhost]: FAILED! => {"changed": true, "cmd": ["ansible-galaxy", "install", "-r", "requirements.yml", "-p", "/tmp/awx_297_g1trc62j/requirements_roles", "-v"], "delta": "0:00:01.752895", "end": "2019-11-20 08:29:36.046102", "msg": "non-zero return code", "rc": 1, "start": "2019-11-20 08:29:34.293207", "stderr":

[2019-11-20 10:41] dineshtng commented on #5221
Removing # from the pg_hostname in Inventory file works for me.

Inventory file shall have following:

pg_hostname=postgresql

[2019-11-20 11:00] nicolaibaralmueller commented on #5214
I am a bit confused. How come the AWX team did not think about people upgrading from previous versions?

AWX 9.0.1 | /opt/pgdocker/10/data
AWX 6.1 | /opt/pgdocker/pgdata

Previously we could just restore the pgdata folder on the new AWX installation and an upgrade would start. This doesn't happen anymore.

Is it possible to migrate the AWX database from Postgres 9 to Postgres 10?

tower-cli does n

[2019-11-20 11:11] ffirg opened #5357 "Tower 3.6 install re-run fails when postgres10 is already setup (fires 9.6 upgrade play)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If you re-run the setup.sh installer after it's already done a fresh new external install of the DB on postgres10, the installer will fail as it's calling the roles/packages_el/tasks/upgrade_postgres.yml role to upgrade Postgres.

It's also referring to 9.6 when clearly doing 10.x DB tasks (see output below)

##### ENVIRONMENT
* Tower version: 3.6.0
*

[2019-11-20 12:14] ybizeul commented on #5214
That's the heart of the issue. AWX 9+ has a mechanism in place to upgrade to PostgreSQL 10, but it doesn't work. That's what we're trying to get a fix for in this thread...

[2019-11-20 12:16] shanemcd commented on #5357
Hi. This is an issue tracker for the upstream project AWX, not Tower. Please contact support in the future. The issue you found here will be fixed in 3.6.1, out very soon.

[2019-11-20 12:16] #5357 closed, assigned to nobody

[2019-11-20 13:15] AlanCoding commented on #5248
Just to get environment parity, could you report what version of Ansible you hit this with?

[2019-11-20 13:21] AlanCoding commented on #5248
Could you give more information about the directory structure you used? For instance, was the submodule a sub-directory inside of the `roles/` folder? Or was the submodule the entire `roles/` folder? Was it somewhere else pointed by to `ansible.cfg`? Was the playbook at the top-level of the project or somewhere else? When you got a success by moving the role folder outside the submodule, what fold

[2019-11-20 13:22] alancivita commented on #5248
Hi Alan,  thanks for getting back to me.
will be back shortly with all the details

[2019-11-20 13:34] AdrianDutu commented on #5322
Yes, the key is correct.

[2019-11-20 13:47] alancivita commented on #5248
a recap:
the issue is NOT present on awx 6.1.0
i can't test on 7 because of this issue
it's present in awx 8.0.0 - 9.0.0 and 9.0.1

the ansible version is the one provided by awx:

Directory structure:
there's a git repo structured in this way:
a main directory called
platform with a subdirectory called test:
inside the test subdirectory there's the ansbile submodule dir with roles inside

└── tes

[2019-11-20 13:52] AlanCoding commented on #5355
Other than seeing that https://github.com/ansible/ansible/blob/3a7b77a94ce534c502828ebd2959f6fdf9d183f5/lib/ansible/galaxy/role.py#L280 is being hit, I don't think there's much I can say without testing the specific `roles/requirements.yml` file.

[2019-11-20 13:56] AlanCoding commented on #5248
To be sure I'm reading it right, your job template would reference the playbook `platform/test/ansible/run-once-site.yaml`, is that correct? Or is platform just the name of your repo, suggesting `test/ansible/run-once-site.yaml` in the JT?

[2019-11-20 14:02] alancivita commented on #5248
that's correct
platform/test/ansible/run-once-site.yaml

[2019-11-20 14:08] bmc1412 opened #5360 "AWX installation issue"
ISSUE TYPE
Installation problem

SUMMARY
I am new to Ansible and want to install AWX, I installed Ansible, Docker-compose using pip and tried to install AWX but ansible-playbook -i inventory install.yml -vv faling with

task path: /ILMT/AWX/awx/installer/roles/local_docker/tasks/compose.yml:26
fatal: [localhost]: FAILED! => {"changed": false, "errors": [], "module_stderr": "Creating awx_rabbitmq .

[2019-11-20 14:13] nicolaibaralmueller commented on #5360
If you are new to AWX I suggest going simple and just install base stuff.

This inventory works for me:

[code]

[2019-11-20 14:25] bmc1412 commented on #5360
but I want to execute playbooks using AWX
can it is possible using gui?

[2019-11-20 14:28] nicolaibaralmueller commented on #5360
I don't understand the question. That is the purpose of AWX.

[2019-11-20 14:30] bmc1412 commented on #5360
okay,
will take a try

[2019-11-20 15:27] bmc1412 commented on #5360
I am still getting similar error eith inventory file suggested by you
TASK [local_docker : Start the containers] ********************************************************************************************************************************************************************
task path: /ILMT/awx/installer/roles/local_docker/tasks/compose.yml:26
fatal: [localhost]: FAILED! => {"changed": false, "

[2019-11-20 15:27] phillipstr commented on #5355
As far as I can tell all roles have a meta/main.yml file. I'll do some more digging. Thanks to the both of you.

[2019-11-20 16:57] shanemcd commented on #5286
OpenShift did not include Kubernetes 1.9 until version 3.9. We currently have customers on older versions and are not going to drop support for this, since adding a conditional here is trivial.

[2019-11-20 17:57] AlanCoding commented on #5245
I would argue that PUT should replace all items, but PATCH should only add items. For replacement, the API should report what fields were removed, ideally.

[2019-11-20 18:06] ghost opened #5364 "AWX install on Fargate AWS"
Hello,

I'm trying install AWX on Fargate and I have a task definition with 4 containers(rabbitmq, memcached, awx_task, awx_web).
I have an issue with SECRET KEY because AWX can't read environment variable and the implementation on docker use a volume for SECRET KEY.
I can mount a volume on task definition(fargate), but I can't put data before task deployment.
How to add SECRET KEY on AWX for inst

[2019-11-20 18:11] ilijamt commented on #5286
Will add a conditional that will change the deployment based on a flag, is that an acceptable solution @shanemcd ?

[2019-11-20 18:14] msilmser opened #5365 "[ RFE ] Additional Job Filters"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Customer request to allow for additional search filters in the Jobs menu such as `limit` and `launched_by`.

[2019-11-20 19:41] AlanCoding commented on #5248
After looking into the details, this came awfully close to what is already in https://github.com/ansible/test-playbooks/pull/85, but to avoid any false positives in the bug, I made the branch https://github.com/ansible/test-playbooks/compare/master...AlanCoding:submodules_roles?expand=1 to be sure that I don't incorrectly use the role from the parent repo (as opposed to the sub-repo). The job temp

[2019-11-20 19:46] marshmalien commented on #5262
We aren't going to show a related groups tab in this view. To view the related groups a user can navigate to the host detail view and click on the groups sub tab.

Mockup: https://tower-mockups.testing.ansible.com/patternfly/hosts/hosts-groups/

<img width="673" alt="Screen Shot 2019-11-20 at 2 46 16 PM" src="https://user-images.githubusercontent.com/15881645/69272377-8d37ae00-0ba4-11ea-914c-e33c6

[2019-11-20 20:06] tvo318 opened #5367 "Link to Instance Group docs incorrect"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Create and Edit Instance Group forms have a pop-up that links incorrectly to the Clustering chapter.

##### ENVIRONMENT

- Tower version: 3.6.0
- AWX install method: yolo #6631: Instance URL - https://ec2-34-238-249-200.compute-1.amazonaws.com
- Ansible version: 2.10.0.dev0
- Operating System: Mac Mojave 10.14.6
- Web Browser: Version 78.0.3904.87

[2019-11-20 22:18] richardmosquera opened #5368 "Increase psql pv size in kubernetes?"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY
Is there any way to set the size of the postgres partition > 5gb? The installer creates a 5gb PV but it's not possible to increase after the install.

##### ENVIRONMENT
* AWX version: 6.1.0.0
* AWX install method: kubernetes
* Ansible version:  2.8.2
* Operating System: CentOS 7

[2019-11-21 01:55] Uttam92477 opened #5369 "Beautify workflow node links in workflow visualiser"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
As an AWX user I should be seeing cleaner looking links between the nodes in workflow visualiser when I have a workflow with higher number of nodes

##### ENVIRONMENT
* AWX version: 3.5.2

##### STEPS TO REPRODUCE

Create a workflow which has multiple branches and is long enough to make it ugly

##### EXPECTED RESULTS

M

[2019-11-21 02:34] Nokoyohei commented on #5223
I have got same bug. Error message don't appear.

Occurs the following situations.
* The user to add is not system administrator.
* The user to add is Organization administrator.
* The added user belong to some organizations.

other infomation
* use LDAP integration
* enable "Organization admins can manange users and teams" option

[2019-11-21 07:18] nicolaibaralmueller commented on #5360
Then I think the problem is the docker python module.
[code]

Create a file filename.sh and copy/paste this:

[code]

[code]

Should work for Centos.

[2019-11-21 07:59] AechLyons commented on #2225
Maybe I'm just docker stupid or postgres retarded but I fluked getting a upgrade and restore without loosing any information (including ldap) a few months ago.......Now I have burned 3 days trying to get another ansible host with the same info from the DB.  In the last few days I have wasted I have also tried to get awx deployment to work with an external PGDB....the closest I got was either the s

[2019-11-21 08:03] Commifreak commented on #2225
Which version do you try to update to? There is currently another issue upgrading to AWX 8+ because it requires PostGres10 and the builtin upgrade script for the db fails.

I still have no LDAP connected but this is indeed my next step after updating to 10.

Gruß,
R. Kluth

[2019-11-21 08:38] bmc1412 commented on #5360
Tried above thing, but still not working, I am using Redhat 7.7 x86_64

[2019-11-21 10:38] ryanpetrello commented on #5364
Hey @ivanmpk,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-11-21 10:38] #5364 closed, assigned to nobody

[2019-11-21 10:41] alancivita commented on #5248
Hi Alan thanks for the effort!
i just realise that the info i provided are not correct 100% sorry:
so our roles are subrepos as well, so each =indivdual role in the ansible submodule, is a submodule repo itself.
Sorry about that

[2019-11-21 11:43] nicolaibaralmueller commented on #5214
I tried to upgrade the database manually but did not succeed. Maybe someone else has some corrections for the below commands that makes it work?

AWX shows "Upgrading AWX" forever and docker logs awx_postgres -f show many db errors.

Waiting for AWX team to fix the upgrade process.

[code]

[2019-11-21 12:34] ryanpetrello commented on #5368
Hey @richardmosquera,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you have general questions/need help managing or troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

If you do figure out how to accomplish this with the installer, we appreci

[2019-11-21 12:34] #5368 closed, assigned to nobody

[2019-11-21 12:53] nicolaibaralmueller commented on #5214
Notes:

/awx/installer/roles/local_docker/tasks/main.yml

[code]

Link to upgrade code: [https://github.com/tianon/docker-postgres-upgrade/tree/master/9.6-to-10](url)

[2019-11-21 12:56] shanemcd commented on #5360
Hello, this issue tracker is for bugs. It seems like you need help troubleshooting a problem with your environment. For that, please try [IRC](http://webchat.freenode.net/?channels=ansible-awx) or the [AWX mailing list](https://groups.google.com/forum/#!forum/awx-project).

[2019-11-21 12:56] #5360 closed, assigned to nobody

[2019-11-21 13:30] tamilbabuece commented on #5331
Thanks for the reply @wenottingham.

Would it be possible to share the commands which used to install AWX

[2019-11-21 13:30] #5331 closed, assigned to nobody

[2019-11-21 14:01] madhan-dc opened #5370 "ansible tower is not maintaining order in which inventory files gets played"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

I have a playbook that has a task like this
  ` - template:
        src: ../files/kfhost.j2
        dest: /app/bin/kafka/server.properties
        owner: kafka
        group: kafka
        mode: 0755
   `
the jinga file has a line like this
`broker.id={{ play_hosts.index(inventory_hostname)+1 }}`

I have an inventory fil

[2019-11-21 14:01] shanemcd opened #5371 "Vanilla k8s install doesn't work with helm 3.x.x"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
From @one-t

##### ENVIRONMENT
* AWX version: N/A
* AWX install method: Kubernetes
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: N/A

##### STEPS TO REPRODUCE

Attempt an install of AWX on a vanilla Kubernetes cluster, using the included Helm database option.

##### EXPECTED RESULTS

It should work.

##### ACTUAL RESULTS

It does not w

[2019-11-21 14:04] unlikelyzero commented on #5367
@ryanpetrello why is this a medium? Why is this being added to 3.7.0 before we've hit the other pf milestones?

[2019-11-21 14:05] shanemcd commented on #5370
Are you using Tower or AWX? If you are using Tower, please contact support. If you are on AWX, version 1.0.8 is over a year old at this point. Are you able to reproduce on a more recent version?

[2019-11-21 14:43] prairiewolf-by commented on #4764
Sorry, @dhoer said - `set line to when: false`
That means:
You go to line 29
Delete all in a line after `when:`
Type `<spacebar_key>false`
Save file
Restart your AWX setup\upgrade.

Always remember YAML file format and pay attention on space indentations!!

That worked for me from scratch.
Thanks again @dhoer !!!

[2019-11-21 15:41] orgito commented on #2225
I recently upgrade from 4 to 7 and from 7 to 9.0.1 without any issues.

[2019-11-21 15:42] orgito commented on #2225
probably skipping the 8 upgrade avoided the DB script migration issue.

[2019-11-21 15:43] shanemcd commented on #2225
This won't help the issue you're experiencing, but for others who find this issue via a search in the future, I recently added [a note](https://github.com/ansible/awx/blob/devel/INSTALL.md#upgrading-from-previous-versions) to the install docs about upgrading.

[2019-11-21 16:49] AlanCoding commented on #5248
okay, that is a known limitation. I will re-label this issue.

[2019-11-21 17:09] mattschwen commented on #5303
This is something I am unable to get working and need to do as well.

[2019-11-21 17:11] AechLyons commented on #2225
@Commifreak I'm on 8 trying to upgrade to 9.0.1

[2019-11-21 17:11] AechLyons commented on #2225
and i can confirm that the docker container that houses postgres is PG10

[2019-11-21 17:22] mattschwen opened #5374 "SAML Auth Username is Auto-Generated UID Instead of Username"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using SAML authentication to communicate with KeyCloak. I can get everything working using this guide: https://www.ansible.com/blog/red-hat-single-sign-on-integration-with-ansible-tower

Once re-direct is completed, the username shows up as an auto-generated UID instead of the username.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: Kube

[2019-11-21 17:41] #5374 closed, assigned to nobody

[2019-11-21 17:42] mattschwen commented on #5374
My mistake, after hours I found:

Had `attr_user_name: username` changed it to `attr_username: username`

[2019-11-21 19:25] AlanCoding commented on #5370
Looks like a duplicate of https://github.com/ansible/awx/issues/2240, let me know if I have that wrong.

[2019-11-21 19:25] #5370 closed, assigned to nobody

[2019-11-21 19:25] #5355 closed, assigned to nobody

[2019-11-21 19:37] #5166 closed, assigned to squidboylan, beeankha

[2019-11-21 20:19] calimerosolo opened #5375 "Dockerized AWX issue with LDAP authentication"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

I am able to query the AD server from the command line and I can pull all the users:
`ldapsearch -x -H ldap://192.168.1.125:389 -D "CN=Acme Brick,OU=Users-DEV,DC=DEV,DC=ACME,DC=LOCAL" -b "DC=DEV,DC=ACME,DC=LOCAL" -w <PASSWORD>
`
But from the Web GUI Login page it fails (same issue when using FreeIPA IdM)

##### ENVIRONMENT

[2019-11-21 20:35] kdelee opened #5376 "RFE: make "is_containerized" a filterable field on instance group list page"
##### ISSUE TYPE
 - Feature Idea
Right now we cannot filter the instance groups list based on `is_containerized`

e.g. when I do `https://127.0.0.1:8043/api/v2/instance_groups/?is_containerized=false` I get this error:
[code]

##### SUMMARY

Allow API clients to filter results of `GET` to `api/v2/instance_groups` based upon the `is_containerized` field.

@appuk noticed this

[2019-11-21 20:58] ilijamt commented on #5286
This can be closed, PR #5358 merged

[2019-11-21 20:58] #5286 closed, assigned to nobody

[2019-11-22 01:08] AlanCoding opened #5380 "Playbooks ran as command inside other playbooks give garbage stdout characters"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Extremely strange behavior is observed in event stdout for a task that runs an ansible-playbook command

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.9
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Run a job using this playbook

http

[2019-11-22 02:08] wenottingham commented on #5365
We are not likely to expand on search until landing the pending UI rewrite.

[2019-11-22 02:26] AlanCoding commented on #4092
We made a change somewhat recently that the shared job environment setting can be used for Ansible config settings. For this, try setting `ANSIBLE_DISPLAY_SKIPPED_HOSTS` to False in that. That would apply to _all_ jobs, but as an experiment it would at least help show what's possible.

I agree that setting it via that method or `ansible.cfg` (top-level in the project) should be expected to take ef

[2019-11-22 04:57] LKS1302 commented on #515
@jeffbyrnes , was just wondering. Is it solved for you guyz. Am facing the same issue while adding the module. Followed the complete documentation provided but could not get it. Could you please help me with step by step process.
Have got 2 files Ansible and AWX inside /var/lib/awx/venv/.

sudo /var/lib/awx/venv/ansible/bin/pip freeze | grep pypsrp
pypsrp==0.4.0

[2019-11-22 07:41] martinm82 commented on #2245
I am experiencing the same with problem. My ansible project structure looks like this:

[code]

Locally I am running the playbook this way:

[code]

It works perfectly fine but when configuring this in AWX I get an error when the inventory source `inventory/teamA` is evaluated it throws the following error:

[code]

Unfortunately I cannot define any vault credential for this particular inventory.

[2019-11-22 07:50] nicolaibaralmueller commented on #2245
@martinm82 AWX doesn't support vault files. You have to an encrypted string inside the all.yml inventory files.

[2019-11-22 07:59] martinm82 commented on #2245
Thanks @nicolaibaralmueller for the quick reply. That is really unfortunate as that means I cannot use AWX at all.
I could potentially fix the problem with `vault.yml` but we as well encrypt private ssh keys that are used by Ansible during the ssh connection. Changing this would mean we need to store the content of those files in strings and unnecessary store it back to a file.

Are there no plans

[2019-11-22 08:07] nicolaibaralmueller commented on #2245
@martinm82 No you encrypt a string with below command.

```ansible-vault encrypt_string <secret> --ask-vault-pass```

Use that output and insert as a variable inside your inventory file. Example:

[code]

You have to add a vault credential with the decrypt secret in AWX and add it to the template. You can then just make a reference to the variable vault_user_ssh_key where you need it.

[2019-11-22 08:51] deepy commented on #2115
With boto 2.46.0 there's a [BOTO_USE_ENDPOINT_HEURISTICS](http://boto.cloudhackers.com/en/latest/releasenotes/2.46.0.html) setting which might be worth looking at before this.

[2019-11-22 09:19] martinm82 commented on #2245
I understand it but that means I have to encrypt whole files as strings now. Would be great if AWX supports the same features as Ansible.

But will try to migrate all vault files to vault strings

[2019-11-22 09:33] nicolaibaralmueller opened #5381 ""Stop AWX before upgrading postgres" fails with docker.io/awx_web not found"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Task "Stop AWX before upgrading postgres" fails before attempting to upgrade. This happens both with local docker image build and docker hub images.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install docker on linux
* Ansible version:  2.9
* Operating System: Centos 7

##### STEPS TO REPRODUCE

Upgrade existing AWX 7.0.0 with data to AWX 9.0.1

###

[2019-11-22 09:43] nicolaibaralmueller commented on #2245
@martinm82 We had to do the same here. On the positive side, it is actually more simple to maintain as you have an overview of encrypted vars in the inventory instead of one big encrypted file.

[2019-11-22 09:43] nicolaibaralmueller commented on #5381
Closing for now. Testing if this is a user mistake.

[2019-11-22 09:43] #5381 closed, assigned to nobody

[2019-11-22 09:48] alancivita commented on #5248
is a fix planned in the short term?

[2019-11-22 11:58] prairiewolf-by commented on #4750
@ryanpetrello

Have the same issue after upgrading to 8.0.0
Workaround didn't work and inventory update job works in no way - either manual or automaic upon job launch.
Maybe anything else I can do with that?

N.B. I can't update to later version/s now (9.0.X) due to several reasons, but if there will be no other way...

[2019-11-22 13:32] AlanCoding commented on #4750
Narrowing down @ryanpetrello's link, the fix is in the commit:

acba5306c69edc2493826b0bfad891702ff3ce53

github will helpfully show you what tags a commit is in. Here, that is 9.0.1 9.0.0.

[2019-11-22 13:38] Xiol commented on #4750
Is there an official upgrade pathbetween versions yet?

[2019-11-22 15:40] #5260 closed, assigned to AlexSCorey

[2019-11-22 15:40] #5259 closed, assigned to AlexSCorey

[2019-11-22 15:43] ryanpetrello commented on #5375
Hey @calimerosolo,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install or AWX feature, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-11-22 15:43] #5375 closed, assigned to nobody

[2019-11-22 15:47] wenottingham commented on #2245
A whole vault file for an inventory would need to either be:
a) decrypted and stored as plaintext in the API/UI
b) decrypted, processed, and arbitrarily re-encrypted in the API/UI with <something>.
c) stored as a blob and actually re-templated to the filesystem along with the inventory definition to hopefully be processed by ansible right at runtime

a) is very bad from a security perspective. b)

[2019-11-22 16:50] AlanCoding opened #5383 "Actually support check mode in AWX collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Check mode allows a user to see what changes would be made.

The AWX collection "supports" check mode by testing the connection.

https://github.com/ansible/awx/blob/8cb7b388dc122859756645f39f16a609c97d23e5/awx_collection/plugins/module_utils/ansible_tower.py#L80-L87

@john-westcott-iv started on doing this right in https://github.com/ansible/awx/pul

[2019-11-22 17:17] ryanpetrello commented on #5367
@unlikelyzero because it's an obvious (and confusing) documentation bug in a product we ship today (and the fix is easy).

[2019-11-22 17:30] inhumantsar opened #5384 "AWX starts and runs but returns 502"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Containerized AWX install running under Docker Swarm was running fine until yesterday. Users started getting 502s, none of the containers were returning errors. rebuilt the stack, reusing existing DB files. issue remains.

after a subsequent rebuild, postgres started to throw database errors matching reports in #1618 (see logs below).

##### ENVIRONMEN

[2019-11-22 17:40] ryanpetrello opened #5385 "[3.6.2] Link to Instance Group docs incorrect"
backport https://github.com/ansible/awx/issues/5367

[2019-11-22 17:40] #5385 closed

[2019-11-22 17:43] ryanpetrello commented on #5384
@inhumantsar,

This isn't _generally_ something we test extensively or provide help with unless an explicit bug can be identified.  You might have better luck with the latest official release of AWX.

Also, this issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/

[2019-11-22 17:43] #5384 closed, assigned to nobody

[2019-11-22 18:08] wenottingham commented on #5369
We are currently reworking the user interface in general , this would not be tackled until after that.

[2019-11-22 18:10] ryanpetrello commented on #5348
Hey @peshalav,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-11-22 18:10] #5348 closed, assigned to nobody

[2019-11-22 18:10] wenottingham commented on #5347
We are currently reworking the user interface, and will not tackle this until that has landed.

[2019-11-22 18:12] wenottingham commented on #5342
closed as a duplicate, will extend #5133

[2019-11-22 18:16] #5342 closed, assigned to nobody

[2019-11-22 18:16] #5277 closed, assigned to nobody

[2019-11-22 18:16] wenottingham commented on #5277
Closing per bug scrub comments.

[2019-11-22 18:21] wenottingham commented on #5052
Please try the solution in the above comment, and re-open if the error persists.

[2019-11-22 18:21] #5052 closed, assigned to nobody

[2019-11-22 18:22] ryanpetrello commented on #5376
It seems like you could get the same information by constructing a filter like "has a GKE cred" ?

We _do_ have a number of materialized properties like this already.

[2019-11-22 18:53] jeffbyrnes commented on #515
@LKS1302 unfortunately, we ended up not using AWX, so I don’t recall how I solved this (or even if I did).

[2019-11-22 22:46] tvo318 opened #5386 "Help text in Host Name field appears to be missing examples"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Host name field in inventory create host form has help text that begins with "Examples include: " but does actually provide any examples.

![image](https://user-images.githubusercontent.com/7514801/69465377-44b3f800-0d3e-11ea-9072-f6a5523c6f98.png)

##### ENVIRONMENT
- Tower version: 3.6.0
- AWX install method: yolo #6631: Instance URL - https://ec2-34

[2019-11-24 22:21] binlialfie commented on #5258
Same here

Tried in MacOS 10.15.1 and CentOS 7.

[2019-11-25 10:03] kazim1838 opened #5387 "import mysql.connector ImportError: No module named mysql.connector"
Hi
I am facing issue while syncing Ansible AWX inventory-script

import
mysql.connector ImportError: No module named mysql.connector

[2019-11-25 11:58] src386 opened #5388 "Get Kubernetes API version fails on oc 3.11, 'unknown shorthand flag'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Installation on Openshift fails on the "Get Kubernetes API version".

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: openshift
* Ansible version:  2.8.3
* Operating System: Debian Buster
* oc version: v3.11.0+0cbc58b

##### STEPS TO REPRODUCE

- oc v3.11.0+0cbc58b
- Run the installer

##### EXPECTED RESULTS

- Installation success ?

####

[2019-11-25 12:18] AlanCoding commented on #5386
what it was supposed to have:

https://github.com/ansible/awx/blob/dbcc3c5733336d28a70065dd22f21adb9166d8b8/awx/ui/client/src/inventories-hosts/inventories/related/groups/related/nested-hosts/group-nested-hosts.form.js#L48-L54

[2019-11-25 14:19] msilmser opened #5389 "[ RFE ] - Relaunch Job with all settings option"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
- Customer request per the changed behavior here: ansible/tower#3970

- Update the Job details page to include a launch button next to the Job Template link but retain the relaunch button that retains all the settings in the original Job launch.

[2019-11-25 15:41] wenottingham commented on #5387
That looks like you're using a custom inventory script that uses mysql, but you haven't installed the necessary dependencies in your container. In any case, this isn't a bug in AWX, which is what this repo is for. This is better suited for the upstream mailing list and/or IRC channel where user questions are discussed.

[2019-11-25 15:41] #5387 closed, assigned to nobody

[2019-11-25 15:42] wenottingham commented on #5389
this sounds more like #2421?

[2019-11-25 15:42] #5389 closed, assigned to nobody

[2019-11-25 18:15] #5262 closed, assigned to marshmalien, dsesami

[2019-11-25 18:58] marshmalien commented on #5267
Proposed Inventory Groups UX-Flow
![Groups WireFlow@1 5x](https://user-images.githubusercontent.com/15881645/69569430-a3ba7c80-0f8b-11ea-969a-1a5a1eebf219.png)

[2019-11-25 19:16] beeankha commented on #5165
Could not reproduce this error in the current version, closing this issue.

[2019-11-25 19:16] #5165 closed, assigned to nobody

[2019-11-26 03:20] bhavyanshu commented on #5322
I am having the same issue. We recently wanted to try out awx. So I cloned the current master. Set it up using docker-compose. We use vault signed certificate (RSA SHA256). The signed cert works via SSH command line. I am able to ssh but not able to do it with AWX Machine type credential. I do see the identity added and certificate lines at the beginning when the job is executed. I noticed it says

[2019-11-26 03:39] rahst12 commented on #612
What's ui_next going to entail?  Sounds like a refresh of the GUI - any screenshots?

[2019-11-26 09:19] vampywiz17 opened #5399 "Error if i try to install AWX with Docker"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Try to install AWX witch Docker

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux,
* Ansible version:  2.9.1
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

sudo ansible-playbook -vvv -i inventory install.yml

##### EXPECTED RESULTS

Start Docker Container

##### ACTUAL RESULTS

[code]

[2019-11-26 10:13] nicolaibaralmueller opened #5400 "AWX Upgrade (postgres 9.6 to 10) 7.0.0 to 9.0.1 fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The following part in /awx/installer/roles/local_docker/main/tasks/main.yml fails:

[code]

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.9

##### STEPS TO REPRODUCE

Upgrading from AWX 7.0.0 to AWX 9.0.1.

Folder permissions (auto generated).
[code]

##### ACTUAL RESULTS

1. First error shown below

[2019-11-26 11:49] jainnikhil30 opened #5401 "Custom email notification for workflow approval/deny doesn't work"
##### ISSUE TYPE
Custom email notification for workflow approval/deny doesnt work

##### SUMMARY
Custom email notification for workflow approval/deny doesnt work. It sends a blank email with no subject and body.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version: 2.8.5
* Operating System: RHEL 7.6
* Web Browser: Google Chrome 78

##### STEPS TO REPRODUC

[2019-11-26 11:53] ryan012880 opened #5402 "Stuck in: AWX is Upgrading Page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After container image rebuild to latest commit of 9.0.1, AWX is stuck in the upgrading page once AWX stack starts. Note that AWX has existing data that is already running in version 9.0.1 before Merged: #5390

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: RHEL7 (docker host)
*

[2019-11-26 12:23] jainnikhil30 commented on #5401
Also, after the actual notification is approved/denied. There is no email which is being sent. But if I setup a slack notification. I see following notifications:

[code]

[2019-11-26 12:46] tdavison784 commented on #5094
Had the same issue here with V9.0.1.0 of AWX. I reset the password to not contain special chars and was able to login with the default admin account after that.

[2019-11-26 13:15] ryanpetrello commented on #5399
@vampywiz17 it looks like you're running this under python2; you'll need to use an `ansible-playbook` and `docker-compose` using python3.

[2019-11-26 13:15] #5399 closed, assigned to nobody

[2019-11-26 13:42] AdrianDutu commented on #5322
@bhavyanshu run update-ca-certs in the container, might work. I had some issues with certificates but seems different than yours. Worth a try though.

[2019-11-26 14:22] ryanpetrello commented on #5402
Hey @ryan012880,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-11-26 14:22] #5402 closed, assigned to nobody

[2019-11-26 15:06] mdinwoodie opened #5404 "Remove credential field when inventory is sourcing from a project"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When creating an inventory that sources from a project, the credential attached to the project is used to connect and the credential field in the inventory source details is unnecessary. Removing this field entirely would clear up any confusion on if the field is required or not.

[2019-11-26 15:35] AlanCoding commented on #5404
It's a completely valid use case to apply credentials to inventory sources from SCM. What if your inventory file is `awx_ec2.yml`? Then you either need to attach a credential of the built-in AWS type, or go make your own type with whatever injectors you need for your particular task. This is completely separate from the SCM credentials (for projects), which will not be applied to inventory updates

[2019-11-26 15:43] bhavyanshu commented on #5322
@AdrianDutu Hi, thanks for the tip. I tried it and sadly, it didn't work. However, I noticed a bug related to openssh 7.8 : https://bugs.launchpad.net/ubuntu/+source/openssh/+bug/1790963

I manually upgraded to OpenSSH 8.0 in the awx_task container. Basically getting this https://cdn.openbsd.org/pub/OpenBSD/OpenSSH/portable/openssh-8.0p1.tar.gz and installing all the deps using yum. Restarted the

[2019-11-26 16:00] AdrianDutu commented on #5322
@bhavyanshu I read the bug. It's not the same issue. But that's a nasty bug, maybe they will upgrade to OpenSSH 8 with the next AWX version.

[2019-11-26 16:06] #5404 closed, assigned to nobody

[2019-11-26 16:16] wenottingham commented on #5155
As this is a feature heavily used, we should have test cases to ensure before/after data stream parity.

[2019-11-26 16:38] wenottingham commented on #5033
This will not be addressed until the search updates that are coming with ui-next.

[2019-11-26 17:30] axeljacobs commented on #3897
I just installed v 9.0.1 I had the same issue. I indeed had an exclamation point in the rabbitmq_password and in pg_password. I did remove the exclamation point '!' from both password an re ran the instalation playbook. Now it's running without issue.

[2019-11-26 19:06] beeankha opened #5405 "Change Wording for Templated Notification"
##### SUMMARY

Currently, the label for the templated notification for "approval nodes needing approval" is `WORKFLOW RUNNING MESSAGE`:

<img width="517" alt="Screen Shot 2019-11-26 at 10 40 29 AM" src="https://user-images.githubusercontent.com/28930622/69664011-7a662300-1055-11ea-9bb2-c191182decf4.png">

If this could instead be changed to something like `WORKFLOW PENDING APPROVAL MESSAGE`, it wo

[2019-11-26 19:53] ryanpetrello commented on #5388
@src386 does changing it to `--output` work?

[2019-11-27 04:20] ryanpetrello commented on #5338
@mabashian you or somebody on UI have time to take a peek at this one?

[2019-11-27 12:07] ryan012880 commented on #5402
@ryanpetrello noted, thanks

[2019-11-27 16:32] zaskan opened #5410 "Admin rights to install in openshift"
##### ISSUE TYPE
Suggestion

##### SUMMARY
One of our customers suggest to avoid high privileges escalation in order to install Tower over Openshift. He desisted to install Tower for this reason.

[2019-11-27 18:00] ryanpetrello commented on #5410
Hey @zaskan,

This issue tracker is for tracking feature enhancements and bugs to the open source AWX project itself (not Red Hat Ansible Tower).

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-11-27 18:00] #5410 closed, assigned to nobody

[2019-11-27 18:33] ryanpetrello commented on #5338
devel PR: https://github.com/ansible/awx/pull/5411

[2019-11-27 19:03] sigismund commented on #2225
@orgito and how you managed to do this? Did you use [this method](https://github.com/ansible/awx/issues/2225#issuecomment-447400523)?

[2019-11-28 12:14] MathiasDidier commented on #465
I am struggling with something similar. I want to have one repo with the playbooks and one with vars. How can I use a awx-job (playbook repo) and use vars from the vars repo? Both repos are on a on premise gitlab server and awx should use the same credentials over https.

[2019-11-28 12:14] nuriel77 commented on #2240
Another observation:
using `awx_task:4.0.0`
check the file `/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/main/management/commands/inventory_import.py`

line 860 and 869:

`self._batch_add_m2m(db_group.hosts, db_host)`
I've modified to:
`self._batch_add_m2m(db_group.hosts, db_host, flush=True)`

From what I understand is, the flush to DB is done once all are added to the batch (for effic

[2019-11-28 12:39] velzend opened #5414 "Replacement of RabbitMQ to eliminate complexity"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

**Replace RabbitMQ with Receptor**

To eliminate the complexity of RabbitMQ, Receptor was introduced and pushed forward as the replacement during [The Future of Ansible Tower talk, at Ansible Fest 2019 in Atlanta](https://www.ansible.com/hubfs//AnsibleFest%20ATL%20Slide%20Decks/Ansible%20Futures%20-%20Ansiblefest%20Atlanta%202019.pdf).

[Receptor Gi

[2019-11-28 14:37] orgito commented on #2225
No, I just followed the upgrade procedure. Adjusted the variables in the inventory file and ran the install playbook. I also made a backup, just in case. But it was not necessary. The install playbook took care of the migrations.

I went directly to from 4 to 7 and from 7 to 9.0.1.

[2019-11-28 15:10] alex-peyrard opened #5415 "SCM update stuck on TASK [detect requirements.yml]"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On a newly installed awx with docker compose, when launching a job with a git SCM, the SCM Update job hangs on the TASK [detect requirements.yml] step indefinitely

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.1
* Operating System: Centos7
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Install

[2019-11-28 17:27] src386 commented on #5388
@ryanpetrello it does not:

[code]

As a workarround, I have edited `installer/roles/kubernetes/tasks/main.yml` and commented these steps:

[code]

Then I ran the playbook with an additional argument to manually specify the kubernetes version : `-e "kube_api_version=1.11"`

[2019-11-29 08:13] kirill-ratkin opened #5416 "Performance issue with many hosts in inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When any job starts in AWX it spends about one minute doing many requests to PGSQL
It happens if inventory filled up (1 inventory, 79809 hosts, 6 groups).
But if inventory is small job works well.

##### ENVIRONMENT
* AWX version: 7.0.0.
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: CentOS 7.6.1810 (x86_64)
* Web B

[2019-11-29 10:47] Emusp opened #5417 "Mark templates as favorite, display them on dashboard."
##### Feature Request
 - Mark templates as favorite, and show them on the dashboard page.

##### SUMMARY

It would be nice if there was a feature where you could mark a template as a favorite.
Favored templates should be displayed on the dashboard.
I think it would be a better view to have instead of the Recently Used Templates box, where all sorts of templates show up.

The implementation could b

[2019-11-29 11:41] metasikander commented on #3879
would a simple rewrite rule in nginx fix this?
i'm not fluent enough in nginx myself to do this, but it could be a workaround?

[2019-11-29 13:34] megabreit commented on #5388
The problem is that kubectl can deal with "version -o json" but oc can't... at least in Openshift 3.11.
My hotfix is to hardcode the variable:
[code]
Another hotfix would be to use oc 4.x (tested with 4.2.9)

[2019-11-29 15:32] shanemcd commented on #5388
Oops. Thank you for reporting this. I'll work on getting a fix in place on Monday.

[2019-11-30 04:27] nu11ptr commented on #3318
I've started to do more interactive testing where I'm watching the jobs as they run. One thing I noticed (at least tonight), is that the errors only occur after a job run fails. The sequence looks like this:

All done via API:
1. Update all projects (inventory and playbook) and wait for completion
1. Synchronize inventory with project (inventory has source of project)
1. Run job templates and wait

[2019-11-30 15:11] nu11ptr commented on #3318
More observations today. I don't think it is related to a previously failed job because it happens sometimes without one. I think it is a time related bug - possibly time since last SCM update operation? (or maybe any operation at all?) When I do another SCM update within 10 seconds (my first backoff time on failure) it seems to always fail. When it backs off 100 seconds (my 2nd backoff time on 2n

[2019-11-30 22:21] humzam96 commented on #4867
I wasn't able to see the expected results- logging in as the second user shows the team since that user is an admin of the org. Are there other steps to reproduce the results?

[2019-12-02 08:41] pschmitt opened #5419 "Playbooks stored in directories that start with `.` do not show up in the interface"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Playbooks stored in hidden directories do not show up in the interface.

##### ENVIRONMENT
* AWX version: 9.0.1.0
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Place a playbook in a directory that starts with `.`. It won't show up in the Playbook select widget.

[2019-12-02 09:52] chbmckeown commented on #1299
@apple4ever - thanks for your investigation on this, has been very helpful. Any chance you could point towards any docs on the Rackspace error?

[2019-12-02 11:56] ture-karlsson commented on #5171
Hello!

I have run into a problem regarding the tower_job_template module and credentials. Since 3.6.0, credentials are not populated at all with tower_job_template. I can easily replicate this problem by running the following task on a fresh Tower install:

[code]

The credentials field is configured properly on an old 3.5.3 installation, but not on 3.6.0.

I suspect it is related to the followin

[2019-12-02 12:55] ryanpetrello commented on #5415
@alex-peyrard,

Have you done any debugging on the underlying host to see if the `ansible-playbook` process seems to be stuck/hung?  Any screenshots you could share?

This seems fairly innocuous:

https://github.com/ansible/awx/blob/devel/awx/playbooks/project_update.yml#L133

[2019-12-02 12:57] ryanpetrello commented on #5414
Hey @velzend,

This is on our radar and something we intend to track as part of https://github.com/ansible/awx/issues/5151

[2019-12-02 12:57] #5414 closed, assigned to nobody

[2019-12-02 13:10] ryanpetrello commented on #5419
This looks like intentional behavior:

https://github.com/ansible/awx/blob/devel/awx/main/utils/ansible.py#L34

@AlanCoding @matburt you have any opinions about relaxing this?

[2019-12-02 13:35] AlanCoding commented on #5419
including hidden _directories_ could result in a lot more in the listing. I don't think we have a limit on the playbook file listing anymore, so this is a viable change to make. But we don't have a good solution for picking out playbooks from a large list.

[2019-12-02 13:49] AlanCoding commented on #5171
That was supposed to be fixed with https://github.com/ansible/tower-cli/pull/741, are you using tower-cli 3.3.7?

[2019-12-02 13:56] famantanantsoaandry opened #5421 "The job Console not refreshed automatically when launching template , need to refresh the browser in order to see it"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The job Console  not refreshed automatically when launching template , need to refresh the browser in order to see it

##### ENVIRONMENT
* AWX version: 6.0.0 , 9.0.0
* AWX install method: docker/openshift
* Ansible version:  2.8.5
* Operating System: Any OS
* Web Browser: Any browser

##### STEPS TO REPRODUCE

Just Launch any template , or a job, norm

[2019-12-02 14:22] alex-peyrard commented on #5415
Here's some screenshots,

This job has been running for about an hour.
![stuck_job](https://user-images.githubusercontent.com/58302318/69966163-b85bbf00-150d-11ea-85a3-40f5368025e7.png)

The project:
![project](https://user-images.githubusercontent.com/58302318/69966203-d32e3380-150d-11ea-9fda-2fc8fb8a015b.png)

The job template:
![job_template](https://user-images.githubusercontent.com/58302318/6

[2019-12-02 14:42] alex-peyrard commented on #5415
After increasing my hosts memory, the tasks now finishes successfully.

Thank you

[2019-12-02 14:42] #5415 closed, assigned to nobody

[2019-12-02 15:10] dsesami commented on #4867
@humzam96 there is a `teams.forms.js` which has a logic line that says:

```ngShow: 'isOrgAdmin && !canEdit'```

That triggers this dialog. I think that there is something wonky there with permissions, maybe they might be an org admin but not a member of that team? @mabashian might have an idea?

[2019-12-02 15:15] hahnn commented on #1632
Using awx 7.x.x and hitting this issue.
Here below is how I changed the project_update.yml file:

BEFORE:
`

    - block:
      - name: detect requirements.yml
        stat: path={{project_path|quote}}/roles/requirements.yml
        register: doesRequirementsExist

      - name: fetch galaxy roles from requirements.yml
        command: ansible-galaxy install -r requirements.yml -p {{roles_destinat

[2019-12-02 15:57] aqua-terra commented on #5108
I had the same error during the deployment, Can you share the resolution to this, @alancivita  ?

[2019-12-02 16:02] alancivita commented on #5108
Hi, the only way i've found to fix it is this:
run the playbook with the --step flag and move forward by pressing Y..
wait for the Migrate database task to complete (it can be seen looking at the awx-celery container logs)..or just wait a couple of minutes (5 for example) before pressing Y after me Migrate Database task..
 after that you can move forward and you should be able to complete the inst

[2019-12-02 16:09] wenottingham commented on #5416
Do you have 'use fact cache' enabled on the template?

[2019-12-02 17:42] aqua-terra commented on #5108
Thanks, @alancivita. It works!

[2019-12-02 17:45] kirill-ratkin commented on #5416
Hi Bill,

Yes. I use this flag. Fact Cache is way how I pass parameters from one “box” to another.

[2019-12-02 17:52] shanemcd commented on #5388
Resolved by #5422.

[2019-12-02 17:52] #5388 closed, assigned to nobody

[2019-12-02 18:19] AlexSCorey commented on #5266
This issue was addressed by https://github.com/ansible/awx/pull/5180

[2019-12-02 23:14] ryanpetrello commented on #5421
Hey @famantanantsoaandry,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-12-02 23:14] #5421 closed, assigned to nobody

[2019-12-03 10:04] ture-karlsson commented on #5171
No I use python2-ansible-tower-cli-3.3.0-2.el7.noarch.rpm

It is the latest version available as RPM through EPEL: https://dl.fedoraproject.org/pub/epel/7/x86_64/Packages/p/python2-ansible-tower-cli-3.3.0-2.el7.noarch.rpm

Is 3.3.7 available as RPM somewhere else?

[2019-12-03 14:38] aquilinux opened #5428 "Some facts missing from foreman_facts when importing inventory (Satellite/Foreman)"
##### ISSUE TYPE
- Bug

##### SUMMARY
- When running Inventory Sync with Satellite/Foreman plugin via foreman.py script some foreman_facts are missing on some hosts.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: awx-rpm
* Ansible version:  2.8.6
* Operating System: CentOS 7.7.1908
* Web Browser: Chromium
* Foreman verision: 1.22.0

##### STEPS TO REPRODUCE
1) Run inventory sync via

[2019-12-03 15:20] AlanCoding commented on #5171
No, it's only on PyPI

[2019-12-03 15:20] dansou901 commented on #5400
seems to be a duplicate of #5214

[2019-12-03 18:11] dsesami commented on #5338
Verified this as an admin and a regular user that has admin permissions over the related inventory. Both are able to edit the inventory now.

[2019-12-03 18:11] #5338 closed, assigned to mabashian, marshmalien, dsesami

[2019-12-03 19:37] sammybenjamin opened #5432 "What is the file vendor.*.js in my AWX web container?"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

  - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.7.9
* AWX install method: docker on linux
* Ansible version:  2.7.9
* Operating System: Redhat Linux v7.7
* Web Browser: Chrome Version 78.0.3904.10

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2019-12-03 19:40] sammybenjamin commented on #5432
Additional details not captured while opening the case.

##### SUMMARY

What is the file vendor.8778ab7be905d20927b3.js in my AWX web container and how to upgrade its bootstrap to 4.4.1 ?

##### STEPS TO REPRODUCE
 N/A

##### EXPECTED RESULTS
 N/A

##### ACTUAL RESULTS
 N/A

##### ADDITIONAL INFORMATION

File in docker container awx_web :
    /var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/u

[2019-12-03 19:51] ryanpetrello commented on #5432
Hey @sammybenjamin,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project