[2020-08-04 17:56] isuftin commented on #7699
I'm seeing the same issues from within a CentOS 7 VM in VirtualBox using 13.0.0 (on a MacOS host, if that matters).

[2020-08-04 18:02] isuftin commented on #7699
Interestingly, as root in the VM, `cd ~/.awx/awxcompose/ && docker-compose down && docker-compose up -d` seems to allow the process to continue and finish :/

[2020-08-04 18:09] anxstj opened #7818 "Credentials: Add a permission overlay is not visible"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

In the credentials, permissions tab it is not possible to add permissions. Clicking the plus-sign does not work.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker
* Ansible version:  2.9.9
* Operating System: Debian 10
* Web Browser: Firefox 79, Chromium 84.0.4147.89

##### STEPS TO REPRODUCE

* Goto credentials
* Choose a credenti

[2020-08-04 18:16] wenottingham commented on #1808
Thanks, will do.

[2020-08-04 18:16] #1808 closed, assigned to nobody

[2020-08-04 18:19] chrismeyersfsu opened #7819 "InventorySource new fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
UI work related to https://github.com/ansible/awx/issues/5150

`InventorySource` will have fields `enabled_var, enabled_value, host_filter` The meaning of which are described below.

| **Field**     | **Type** | Description                                                  |
| ------------- | -------- | ------------------------------------------------

[2020-08-04 18:30] unlikelyzero opened #7820 "[ui_next] npm install has to be run twice in certain scenarios"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On my machine, I regularly have to run `npm install` twice to get around an error thrown on the first `npm install`. Note: a second npm install will properly install the dev environment

##### ENVIRONMENT
* AWX version: ui_next
* AWX install method: dev local?
* Ansible version:  2.9
* Operating System: MacOS 10.15.5 (19F101)
* NVM: v10.22.0

##### STE

[2020-08-04 18:47] AlexSCorey commented on #7729
This was addressed in #7728

[2020-08-04 18:47] #7729 closed, assigned to AlexSCorey

[2020-08-04 18:47] AlexSCorey commented on #7238
Both issues were addressed in #7728

[2020-08-04 18:47] #7238 closed, assigned to AlexSCorey

[2020-08-04 18:48] AlexSCorey commented on #7728
This was addressed in #7732

[2020-08-04 18:48] #7728 closed, assigned to AlexSCorey

[2020-08-04 18:58] unlikelyzero commented on #7517
Assigning to myself to test

[2020-08-04 19:32] elyezer commented on #5146
This has been verified and it doing what is supposed to. There are couple more entities that I will be verifying but overall I have not found anything that would block getting this verified.

[2020-08-04 19:32] #5146 closed, assigned to elyezer, jbradberry

[2020-08-04 19:44] mabashian opened #7822 "Form error strings from API look unstyled, mismatch other form errors"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Check out this error string:
<img width="1097" alt="Screen Shot 2020-08-04 at 3 36 39 PM" src="https://user-images.githubusercontent.com/9889020/89337111-6fde3d80-d668-11ea-99aa-e45b05619532.png">

compared to this one:
<img width="483" alt="Screen Shot 2020-08-04 at 3 36 50 PM" src="https://user-images.githubusercontent.com/9889020/89337131-75d41e80-d

[2020-08-04 20:36] mabashian commented on #7822
Link to upstream PF issue: https://github.com/patternfly/patternfly-react/issues/4653 (in case they're interested in supporting this).

[2020-08-04 22:18] jakemcdermott commented on #7819
This is done & ready for testing once the related api changes land: https://github.com/ansible/awx/pull/7763

[2020-08-04 22:51] unlikelyzero opened #7825 "[ui_next] Select All checkbox is out of alignment on lists when the Advanced Search selector is enabled"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Select All checkbox is out of alignment on lists when the Advanced Search selector is enabled.

##### ENVIRONMENT
* AWX version: ui_next

##### STEPS TO REPRODUCE
1. Navigate to a list (like Organizations)
2. Select the 'Advanced Search' Dropdown element.
Note: Select All checkbox is out of alignment but is still functional

##### EXPECTED RESULTS
I wo

[2020-08-04 22:53] unlikelyzero commented on #7825
Note: there is no associated PF issue filed. @trahman73 should I file one?

[2020-08-04 23:56] trahman73 commented on #7825
@unlikelyzero Yes please! I know they are aware of the issue as we brought it up last week, but it would be nice to track it.

[2020-08-05 00:53] amtilghman opened #7826 "HashiCorp Vault Secret Lookup: Unable to create Machine credential with HashiCorp Vault Secret Lookup as Input Source"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to create Machine credential with HashiCorp Vault Secret Lookup as Input Source

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: CentOS Linux release 7.8.2003 (Core)
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Add a new credential
type: “HashiCorp Vault Secret Loo

[2020-08-05 07:12] mkayontour commented on #7809
Yes it's standard git project, without requirements.yml in the roles directory. The roles are hardcoded into the roles folder.
No submodules are used and no tags.

We are using a few branches, but only for users to test some new features. The branch to run on is the master branch.

[2020-08-05 08:15] zedr commented on #7793
OK. I have a working solution for this. See: https://github.com/zedr/awx/commit/6b528cb900dee82eb05c9c40a3f81c02cf314571 The fix attempts to patch resources that have been exported from AWX instances prior to version 10.0.0, specifically, by creating identifier fields or adding organizations by their natural key. This is not final, and I'm looking for feedback on how best to engineer this solution

[2020-08-05 09:25] phospi opened #7827 "working with localhost has unexpected behaviour."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Setting 'localhost' is not usable via job template limit.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux, docker for mac
* Ansible version:  2.9.10
* Operating System: CentOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE
 - Create a Job Template
 - Select any inventory (which does not contain a host called 'localhost')

[2020-08-05 11:10] sarvanivadali commented on #1947
so did you end up using the http://10.190.101.31/api/v2/auth for 3.7 version and were you able login and receive tokens?

[2020-08-05 12:54] Seb0042 commented on #7310
Hello, could be fine for us as we already have other applications using redis on our k8s cluster. It will also give us the possibility to have a smaller awx pod (our worker nodes have only 2 cpu).

[2020-08-05 13:12] Beeez commented on #1179
+1
Lots of groups and its hard to keep track of them all or even memorize them.

[2020-08-05 13:29] Saurabh-Thakre opened #7828 "Add a feature for health checks (readiness and liveness) for Ansible Tower"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Many applications running for long periods of time eventually transition to broken states, and cannot recover except by being restarted. Kubernetes provides liveness probes to detect and remedy such situations. [1]

Here the ask is to provide this to avoid manual operation task such as restart the containers/pods. The current tarball [2] only provid

[2020-08-05 13:55] jlmitch5 opened #7829 "Lists get 400 response after entering an invalid search"
We will need to update all lists to use the "useDismissableError" to update contentError so that you don't have to refresh to fix this state.

[2020-08-05 13:57] jlmitch5 opened #7830 "Clear all filters doesn't go away when all search filters are cleared"
...something to do with the internal state of the pf component.

[2020-08-05 14:02] jlmitch5 opened #7831 "Collapse toolbar additionalControls when advancedSearch is displayed"
Currrently there is not enough room for these elements to be displayed as they are...we'll move to a kebab.

[2020-08-05 14:51] unlikelyzero commented on #7831
Note: this will require require a retest. Please make sure that all e2e tests are passing

[2020-08-05 15:31] marshmalien commented on #6771
Thank you for reporting this issue. I'm closing this for now because we plan on removing the host description from table views in the future.

[2020-08-05 15:31] #6771 closed, assigned to nobody

[2020-08-05 17:14] milodanlso opened #7832 "inventory script ok with awx 11 / ko with awx 13"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I have an inventory script that works fine with awx 11. After migrating to awx 13 it no longer works

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: kubernetes
* Ansible version:  2.9.10
* Operating System: Centos 8
* Web Browser: Chrome

##### STEPS TO REPRODUCE

I have uploaded custom inventory script

[script.txt](https://github.com/

[2020-08-05 17:36] jmctune opened #7833 "Error: Invalid License when updating /api/v2/config"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When making a call to `/api/v2/config` to update the `custom_virtualenvs` paths, I am receiving the following error:

[code]

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: Kubernetes
* Ansible version:  2.9.10
* Operating System: -
* Web Browser: Chrome 84.0.4147.105

##### STEPS TO REPRODUCE

- Browse to https://host/api/v2/config
- C

[2020-08-05 17:37] one-t commented on #5076
Putting this back in needs_devel, there are unmerged PRs - https://github.com/ansible/awx/issues/6158 https://github.com/ansible/awx/pull/6159

[2020-08-05 17:44] jmctune commented on #7833
I've been looking at this for hours, but just found my issue after posting this.

You don't actually update this endpoint, but rather make a call to `https://host/api/v2/settings/system/` with your call (no need to specify the `accept_eula` key) and `/api/v2/config/` gets updated with the path automatically.

Closing.

[2020-08-05 17:44] #7833 closed, assigned to nobody

[2020-08-05 17:56] jlmitch5 commented on #7740
DONE: As part of the follow up to this, we want to slightly tweak the logic of the options calls to get search keys in all the existing places

![Screen Shot 2020-08-05 at 1 49 15 PM](https://user-images.githubusercontent.com/1342624/89447125-7aa9d880-d723-11ea-91d2-f4be8dee200d.png)

[2020-08-05 17:57] jlmitch5 commented on #7740
DONE: Another issue we want to fix is grabbing the UJT (not JT options) for the template list (as it was returning keys that were causing invalid searches)

[2020-08-05 18:03] jlmitch5 opened #7834 "Advanced search: certain lookups (suffixes) invalid for certain types of keys."
![89440610-de2f0880-d719-11ea-8b09-d29297428d2e](https://user-images.githubusercontent.com/1342624/89447526-16d3df80-d724-11ea-880e-e8bbaffeed39.png)

In the above example, iexact is invalid for the "id" key, because id expects a number.  This enhancement would filter the list of lookups based on the key selected's type.

my guess is that it's doable...we could probably filter that list based on w

[2020-08-05 18:25] mabashian opened #7835 "Support Galaxy Credentials field on Organization"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
As part of https://github.com/ansible/awx/pull/7817 we added a credential field to the org form that lets a user select credentials of kind=galaxy.  This field behaves like the instance groups lookup where the user can select N number of credentials and the order that they select them is the order that we should save them.

[2020-08-05 18:52] wenottingham commented on #7828
A future operator may cover this, it's unlikely to be handled before that.

[2020-08-05 18:54] danielsouzasp commented on #885
In my case it only worked after changing from "Webhook" to "Mattermost"
![image](https://user-images.githubusercontent.com/11806399/89451870-3c1c1a00-d733-11ea-830e-f75e3860c7fb.png)

[2020-08-05 18:56] wenottingham commented on #7827
This behavior is consistent with ansible, as far as I can tell.
[code]

[2020-08-05 18:57] #7827 closed, assigned to nobody

[2020-08-05 19:02] wenottingham commented on #7826
dup of #7530

[2020-08-05 19:02] #7826 closed, assigned to nobody

[2020-08-05 19:11] dsesami opened #7837 "Smart Inventory should be a sort option / filter option in the inventory list"
Currently, with the addition of smart inventory forms, we need more than just the ability to sort by name in the inventory list. We should also add a "Type" or similar sort that allows inventories and smart inventories to be organized separately.

[2020-08-05 20:42] chrismeyersfsu commented on #5150
#### Vanilla Inventory Source Plugins source_vars

In an effort to maintain backwards compatibility we've gone through great lengths to ensure the new inventory plugins output looks the same as the old inventory scripts. We have also maintained backwards compatibility for the input side of inventory scripts. Under the hood, Tower translates the legacy inventory script input into the newer inventor

[2020-08-05 20:46] felixfontein opened #7839 "Inclusion of awx.awx in Ansible 2.10"
This collection will be included in Ansible 2.10 because it contains modules and/or plugins that were included in Ansible 2.9. Please review:

* The list of requirements for inclusion in Ansible: https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst
* The roadmap with all important dates for Ansible 2.10: https://github.com/ansible/ansible/blob/devel/docs/docsite/

[2020-08-05 21:39] nixocio opened #7841 "Hide delete button for user who doesn't have permission to delete anything on the list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
As per group discussion and feedback from @trahman73. It was decided to hide the delete button for system auditor user type.

Currently:

![image](https://user-images.githubusercontent.com/9053044/89466852-8d7fd580-d742-11ea-993a-08da577f94c0.png)

[2020-08-05 22:12] danilomendes commented on #5214
Today I had some of those issues blocking my upgrade (in my case it was from 3.0 to 13). It was failing me at the postgres upgrade. Thanks to some clues I've seen here I found the main issue: when I installed awx for the first time, the postgres folder pattern seems to be different from what it should be now.

In fact I had something like this:
`{{ postgres_data_dir }}/pgdata/`

And the postgres u

[2020-08-06 01:55] AlanCoding commented on #7839
I'm actually happy to see that they bumped the version between alphas.

https://github.com/ansible-community/ansible-build-data/blob/main/2.10/ansible-2.10.0a7.deps#L8

13.0.0 has a lot of good fixes. 14.0.0 will have the lookup plugin, which is a big enhancement, but it's not ready yet. Everything looks good as far as I'm concerned.

[2020-08-06 02:03] sugitk commented on #3072
The another customer desired this feature.  Their network is very huge and the `no_proxy` cannot accept subnet notation, hence they need to specify all of their internal nodes into `no_proxy` individually however it is not realistic solution.

If AWX/Tower can specify a proxy setting for notifications, it may be easier to solve this situation.  And the customer kindly investigated the source codes

[2020-08-06 02:56] yasny commented on #3072
I'm working with @sugitk to solve this problem for our environment. As he mentioned, I'm planning on modifying the `slack_backend.py` to pass our proxy server to the `SlackClient` in the `proxies` option. I know it's not a very good solution, but until there is a separate method to define proxy servers for the notification backends, it seems like the only option...

[2020-08-06 03:47] Throckmortra commented on #3113
Hey @AlanCoding I'm unable to get your example to work here. It seems that AWX just can't load my custom plugins regardless of where I place them relative to the working directory or specifying them with that ansible.cfg hack. Is there any documentation available for getting dynamic inventory plugins working in AWX? It still claims they're "unknown"

[2020-08-06 05:42] schen1 commented on #7828
Should it then be created for the [awx-operator](https://github.com/ansible/awx-operator) project?

[2020-08-06 06:05] milodanlso commented on #7832
Hello, for information i have no error if run directly my script on awx-task pod with /usr/bin/python3 script.txt or /usr/bin/python3.6 script.txt. Thanks for your help.

[2020-08-06 07:14] phospi commented on #7827
The behaviour 'cannot resolve undefined "ansible_limit" in ansible engine' might be consistent.

But funny enough if you stay with 'hosts: "{{ ansible_limit }}"' for any limit in awx that is not 'localhost', it works. AWX fills variable 'ansible_limit' automatically. It does work with every host from an AWX inventory. But the special case of 'localhost' which should be available all the time, is n

[2020-08-06 08:43] planeturban opened #7843 "Add possibility to map AttributeValue to team and other mappings."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

As things are right now the AttributeValue set in the `SAML team map` has to map to the team name in AWX. This poses a problem when the access groups from the SAML provider are numerical or just plain gibberish (GServAWXAnsiblePaaS) due to company wide naming conventions, aka "reasons".

**Proposal**: add attribute_value in map. Left blank, it maps

[2020-08-06 10:16] tesseract-rh opened #7844 "RFE: Add Tower-managed PostgreSQL replication"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
[Ansible Tower Administration Guide v3.7.2](https://docs.ansible.com/ansible-tower/latest/html/administration/clustering.html#setup-considerations) (i.e. `latest` at the moment of writing):

This is a request for adding PostgreSQL replication management to Tower.

##### Justification:

PostgreSQL replication is a must for eliminating SPOF (Single Poi

[2020-08-06 11:32] AlanCoding commented on #3113
Do you mean https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/plugins/config_path/inventory_dir specifically? I can re-test that if it has actually regressed.

[2020-08-06 12:05] philipp-winterle commented on #179
Install Docker - Debian e.g.:
https://docs.docker.com/engine/install/debian/

[2020-08-06 12:57] AlanCoding commented on #7793
Using import/export to migrate from <10.0.0 is going to be hard.

I don't have any problem with what you're doing in that diff, in terms of implicitly grabbing the JT organization, or making up a workflow node identifier in older versions.

The most likely issue may be dealing with the method of applying the patch, and I would like to ping @jbradberry to weigh in on that. Verifying and regression

[2020-08-06 13:31] EzraBrooks opened #7846 "Add track_submodules option for Git projects"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
With the advent of Git submodules supporting branch specifiers in the `.gitmodules` file, and being able to use `git submodule update --remote` to update the reference easily, it's become feasible to use submodules as a living reference to other repositories instead of just a snapshot of those repos in time. Other deployment tools i.e. Jenkins often

[2020-08-06 14:16] john-westcott-iv opened #7848 "Dispatcher unable to handle absent nodes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

To start, we are backing up a cluster and restoring to servers in a different data center which may have different names. In the database the main_instance table has entries with the same UUIDs but different hostnames. When this happens the dispatcher for running jobs becomes unreachable and you can no longer cancel jobs.

PR https://github.com/ansibl

[2020-08-06 14:19] mkayontour commented on #7809
I've updated the containers to Version 13.0.0 and the issue still exists. It happens regularly but mostly unexpected. Sometimes the template will fail, sometimes not.

[2020-08-06 14:33] Vadims06 commented on #4309
Hi @renepardon
did you solve the issue? Pls share

[2020-08-06 14:52] Throckmortra commented on #3113
@AlanCoding yes

[2020-08-06 14:59] Throckmortra commented on #3113
my directory looks like this
[code]

contents of ansible.cfg:
[code]

[2020-08-06 16:44] marshmalien opened #7850 "Add smart inventory host filter lookup text input"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Expose a simple text input that a user could opt in to when creating a smart inventory host filter where a complete host_filter string could be supplied. This would serve 2 purposes:
1. Users wanting to specify complex/non-ui supported host filter strings could do so in the UI and wouldn't have to go through the API browser
2. If the UI detects a str

[2020-08-06 17:39] wenottingham commented on #7848
`with the same UUIDs but different hostnames`

How???

[2020-08-06 18:08] beeankha commented on #7619
The fix in PR https://github.com/ansible/awx/pull/7840 has been merged, closing this issue!

[2020-08-06 18:08] #7619 closed, assigned to beeankha

[2020-08-06 18:10] marshmalien opened #7853 "Show more host information in host filter lookup list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spinoff idea from initial host filter lookup PR: https://github.com/ansible/awx/pull/7644#issuecomment-669441224
Also related: https://github.com/ansible/awx/issues/7850 https://github.com/ansible/awx/issues/4208

The host filter modal only displays a list of host "names". Since the purpose of this modal is to help the user filter hosts, we could pro

[2020-08-06 19:37] linuxcube opened #7854 "upgrade from awx 13 to 14, postgres failed to restart"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
postgres failed to restart from upgrade of awx v13 to v14

##### ENVIRONMENT
* AWX version: 14
* AWX install method: docker
* Ansible version:  2.8.3-1
* Operating System: RHEL 8.2
* Web Browser: Chrome/Firefox

##### STEPS TO REPRODUCE

docker stop ansible/awx:14.0.0 ansible/awx:14.0.0  redis postgres:10
rm rf /root/awx
git clone https://github.com/an

[2020-08-06 19:45] ryanpetrello commented on #7854
`docker logs 8dd7063400a8` ?

[2020-08-06 19:47] shanemcd commented on #7854
Did you copy over your old inventory file with your passwords?

[2020-08-06 19:50] ryanpetrello commented on #7854
What @shanemcd said:

https://github.com/ansible/awx/blob/devel/INSTALL.md#upgrading-from-previous-versions

If you blew away your inventory file, upgrading is unlikely to work.

[2020-08-06 20:11] agrisvv commented on #7854
centos 8 from awx  13 to 14 after upgrade as usual with old inventory settings.
postgres docker restarting..

[code]

[2020-08-06 20:14] one-t commented on #7064
Just mentioning it here, there's currently no `create` method in awxkit for EEs

[2020-08-06 20:15] linuxcube commented on #7854
I did both, with and without old inventoy file....the outcome was the same.
Postgres not starting.

On Thu, Aug 6, 2020, 12:47 PM Shane McDonald <notifications@github.com>
wrote:

[2020-08-06 20:16] linuxcube commented on #7854
Hi agris....looks like some of us are in the same boat as you after
upgrade.

On Thu, Aug 6, 2020, 1:11 PM Agris <notifications@github.com> wrote:

[2020-08-06 20:24] egmar commented on #7854
@linuxphone see this change https://github.com/ansible/awx/commit/06fd1316371c9a1e6482c8e38a6bf7bfc6b6e7f4 , perhaps its the cause

[2020-08-06 20:52] Beeez commented on #3318
This issue is driving me nuts. I have certs in my containers as well as having this parameter added into my settings.py.

It so hit or miss when it can run SCM updates.

[2020-08-06 21:01] agrisvv commented on #7854
modified installer reverted changes as in commit and installed again, but now it started with empty db.. will try to check where it gone..

[2020-08-06 21:35] linuxcube commented on #7854
Hi Agris,

That entry is already committed to the latest code, so this is not the solution….the issue remains.

From: Agris <notifications@github.com>
Sent: Thursday, August 6, 2020 2:02 PM
To: ansible/awx <awx@noreply.github.com>
Cc: linuxphone <lgrullonbb@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [ansible/awx] upgrade from awx 13 to 14, postgres failed to restart (#7854)

@li

[2020-08-06 22:56] amtilghman commented on #7854
I tested a devel build 2 days ago and had the same issue, was thinking it would be fixed before 14.0.0 (or i would have made an issue :) )

Just tried 12.0.0 > 14.0.0

Error was identical to person above:

initdb: directory "/var/lib/postgresql/data" exists but is not empty
If you want to create a new database system, either remove or empty
the directory "/var/lib/postgresql/data" or run initdb
wi

[2020-08-06 22:59] linuxcube commented on #7854
Hi Amtilghman,

It looks like  we need a small patch for this….hopefully not too many users start upgrading and face the same issue.

From: amtilghman <notifications@github.com>
Sent: Thursday, August 6, 2020 3:57 PM
To: ansible/awx <awx@noreply.github.com>
Cc: linuxphone <lgrullonbb@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [ansible/awx] upgrade from awx 13 to 14, postgres fai

[2020-08-06 23:28] SebastianSlaby opened #7855 "Database is not created on fresh install"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Setting up PostgreSQL fails when using a NFS share. The 1st created postgresql container fails the readiness and liveness checks and when the 2nd container is created the user specified in the inventory is not present:
Role "awx" does not exist.

The NFS PV are provisioned by a nfs-provisioner and are bound and mounted correctly to the PVC, files are

[2020-08-07 09:16] ekinof commented on #7854
Same with me, I just tried to upgrade from 12.0.0 to 14.0.0, my postgres container doesn't work. I downgrade to 13.0.0 and now it works.

[2020-08-07 09:56] kenchrcum commented on #7534
Fix in version 14.0.0 verified. Thank you everybody :)

[2020-08-07 09:56] #7534 closed, assigned to jakemcdermott

[2020-08-07 09:59] kenchrcum commented on #7854
Hello,
I had the same issue, I solved it by using
`docker-compose down && docker-compose up -d`
It seemed to me the problem happened because the old AWX was still running when I started the installer.

[2020-08-07 10:07] Luke239847 commented on #7854
had the same issue and to change this file to the old version solved it for me

[2020-08-07 11:06] dotslashcmd commented on #7854
It seems that in the docker-compose generated by the V14 installer, the env variable PGDATA for the postgres container is missing.

Docker-compose v 13 :
[code]

Docker-compose v 14  :

[code]

[2020-08-07 13:05] watsonb opened #7857 "AWXKit export/import - workflow job templates"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When exporting job templates and workflow templates from one AWX instance and importing them into another new instance, workflow templates have no nodes in them, such as other job templates, project syncs, inventory syncs, etc.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: U

[2020-08-07 13:06] SebastianSlaby commented on #7855
Using the mount option vers=2 and bg solved it for me. Not sure of the cause

[2020-08-07 13:06] linuxcube commented on #7854
This didnt fix it for me, I tried putting back the old entries and reinstalling....same issue with postgress...it wont restart normally.

[2020-08-07 13:10] linuxcube commented on #7854
Putting the old entries back, appears to fix it....I will try again in my VAL environment.....for those having the issues, ensure you put back the old entries from released v13 and rerun the installer. Will report back shortly with my VAL results.

[2020-08-07 13:14] linuxcube commented on #7854
Team, I was able to fix this under my VAL environment...its working as expected....thank you all for the support.

[2020-08-07 13:18] watsonb commented on #7857
I performed some additional review of this problem.  My existing/old AWX installation has 75 total templates: 60 job_templates and 15 workflow_job_templates.

In the new instance that just received all of the imports, all but one of the workflow_job_templates have an "empty" Workflow Visualizer (only a Start node).  Moreover, the single workflow_job_template that has nodes present in the Workflow

[2020-08-07 14:35] blomquisg commented on #7857
@ryanpetrello what AWX version included the new import/export functionality?

[2020-08-07 14:46] blomquisg commented on #7832
@AlanCoding what's the status of inventory scripts in general in AWX 13?  Can you take a look at this?

[2020-08-07 14:53] blomquisg commented on #7857
Related to #7793

[2020-08-07 14:53] #7857 closed, assigned to nobody

[2020-08-07 14:55] blomquisg commented on #7758
@ryanpetrello any ideas on this one?

[2020-08-07 14:57] blomquisg commented on #7566
@chris93111 can you try this in AWX 14.0?

[2020-08-07 15:38] watsonb commented on #7857
also, on the machine running `awx` is using awxkit==14.0.0

[2020-08-07 16:16] #7814 closed, assigned to mabashian

[2020-08-07 17:55] Throckmortra commented on #3113
@AlanCoding interestingly, this ansible.cfg hack works locally - I don't have to use `--playbook-dir=./` when running ansible-inventory from root. AWX doesn't seem to recognize it though

[2020-08-07 19:11] ryanpetrello commented on #7758
Nope.

[2020-08-07 19:40] chris93111 commented on #7566
Ok i try thanks

[2020-08-07 20:20] chris93111 commented on #7566
@blomquisg it's work thanks

[2020-08-07 20:26] wenottingham commented on #7566
Thanks for checking.

[2020-08-07 20:26] #7566 closed, assigned to jakemcdermott

[2020-08-07 22:01] jamesmarshall24 opened #7858 "Add Editor Only Role"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add an organization role for users/teams which has the following:
- create jobs, templates and workflows
- edit jobs, templates and workflows
- read jobs, templates and workflows

This role does not have execute permissions.

[2020-08-07 22:07] saali2016 opened #7859 "[RFE] Allow selection of credential on the workflow level."
##### ISSUE TYPE
Can we have an option on workflow "prompt on launch" for credential

##### SUMMARY
This would be similar to the following issue and pull, except it would be for workflow:

https://github.com/ansible/awx/issues/2256
https://github.com/ansible/awx/pull/2342

[2020-08-07 22:44] dkraklan commented on #3318
Running into this as well. Seeing the same as above, except i'd said 9/10 of my updates fail. On all failures I do not see  `"GIT_SSL_NO_VERIFY": "True",` and on success I do.

AWX 13.0.0

[2020-08-10 09:45] thibveni commented on #6119
I still have this issue :( , like 4 times a week

[2020-08-10 11:42] phospi commented on #7827
@wenottingham I request re-opening this issue.

[2020-08-10 12:15] AlanCoding commented on #7841
It is possible to have system auditor permission, but still have other types of admin permission (which allows deleting). I just want to be sure we're on the same page about that.

[2020-08-10 12:20] AlanCoding commented on #7839
Oh, it was updated to 14.0.0 in the latest alpha.

Now that I read this again, we should migrate our changes to this changelog format... but I don't know quite how that will work. We will have complications.

[2020-08-10 12:40] nixocio commented on #7841
@AlanCoding, AFAIK that is the end goal. Hiding the delete button for `system auditor` is already implemented in the current UI, we will basically mimic same feature in the new UI.

[2020-08-10 13:30] AlanCoding commented on #6119
Well it won't get fixed if the fix is never applied https://github.com/ansible/awx/pull/7860

[2020-08-10 13:36] ryanpetrello commented on #7809
It might be worth trying this out after we upgrade `git-python`; it's possible it's the result of a known issue that got fixed:

https://github.com/ansible/awx/pull/7860

[2020-08-10 13:37] ryanpetrello commented on #7809
Actually I'm almost certain this is a duplicate of https://github.com/ansible/awx/issues/6119; what do you think @AlanCoding ?

[2020-08-10 13:37] #7809 closed, assigned to nobody

[2020-08-10 13:47] AlanCoding commented on #7809
A `FileExistsError` from a `makedirs` call in `assure_directory_exists`? Yeah, that's way too specific to be anything else.

[2020-08-10 13:51] bile0026 commented on #7854
Same issue here upgrading from 12.0.0 > 14.0.0. Postgres won't start.

cd into ```~/.awx/awxcompose``` and running ```docker-compose down && docker-compose up -d``` did solve the issue though, so looks like I'm back in business.

[2020-08-10 14:41] Beeez commented on #3318
I am on 13.0.0 as well.

I do _not_ see the `GIT_SSL_NO_VERIFY` in the job_env in the rest api for when they fail. I see it when they do succeed though.

Possibly something I could add into my project_updates.yml so it just runs with the pull every time? https://github.com/ansible/awx/blob/devel/awx/playbooks/project_update.yml

[2020-08-10 14:57] shanemcd commented on #7854
Hi folks. Apologies for this, the breakage was not intentional. It does seem like this broke in https://github.com/ansible/awx/commit/06fd1316371c9a1e6482c8e38a6bf7bfc6b6e7f4. Since fixing this would lead to more complications for future upgrades, I am inclined to roll forward and direct people towards the workarounds [described above](https://github.com/ansible/awx/issues/7854#issuecomment-671366

[2020-08-10 14:57] #7854 closed, assigned to nobody

[2020-08-10 15:38] wenottingham opened #7862 "Some level of reporting"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Not all users who want information on what's going on in the automation have the ability to script the API. Common queries
include:
- Inventory usage per organization (list of hosts, groups, inventories)
- List of executed jobs per organization, per user, per inventory or host
- RBAC report per organization: admin and members list, teams with member

[2020-08-10 15:38] wenottingham commented on #7862
Standing recommendation until this is implemented is to query the API and parse the json into whatever format you desire.

[2020-08-10 15:56] wenottingham commented on #7827
This would need changed in ansible itself; that is tracked at https://github.com/ansible/ansible. AWX isn't going to interpret this differently than Ansible itself does.

[2020-08-10 17:35] wenottingham commented on #7858
"create/edit" jobs/templates/workflows == can assign roles to jobs/templates/workflows == can assign execute role to yourself.

This requires far more serious changes to plumbing than what is implied.

[2020-08-10 20:13] jbradberry commented on #7793
@zedr instead of this new patches module, I think it would be preferable to override `get_natural_key()` for the relevant `Page` types, much like how `Role` is currently done.

[2020-08-10 20:14] mnhan3 opened #7865 "awx 9.3.0 to 10.0/13.0 migration fail (awx-manage)"
AWX:9.3.0
platform: openshift 3.11
postgres version: 10 (external database)
awx_user: awx
schema: awx
owner: awx

Previous migrated from 9.0.1 to 9.3.0 no issue.

attempting to migrate to 10.0 or 13.0 errors at

Appreciate any help to migrate to 13.0 if possible without loosing data.

[2020-08-10 20:21] ryanpetrello commented on #7865
Hey @mnhan3,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install or upgrade, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-08-10 20:21] #7865 closed, assigned to nobody

[2020-08-10 20:26] dsesami commented on #7473
closed with the merge of #7644

[2020-08-10 20:26] #7473 closed, assigned to marshmalien, dsesami

[2020-08-10 20:26] dsesami commented on #7472
closed with the merge of #7644

[2020-08-10 20:26] #7472 closed, assigned to marshmalien, dsesami

[2020-08-11 00:23] SebastianSlaby commented on #7855
The solution mentioned above works fine until a node crashes and kubernetes fails to terminate the pod because the data directory has still files in it despite the nfs share being already unmounted.

Though it was an NFS issue so I tried with Gluster but getting the same error. Database doesn't get created. Container doesn't even fail HC
![image](https://user-images.githubusercontent.com/31596203/

[2020-08-11 04:20] wenottingham commented on #7758
This is likely https://github.com/ansible/ansible/issues/71103?

[2020-08-11 04:20] wenottingham commented on #7758
cc @jborean93

[2020-08-11 04:47] jborean93 commented on #7758
Yep it was 71103, has since been fixed in devel and was just backported to stable-2.9 for the upcoming 2.9 release.

[2020-08-11 04:51] jborean93 commented on #7758
It does seem similar, not the exact same issue but it could be related. 71103 was caused by `ansible_password` not being set when it was passed through `-k` and you were delegated the host. The error here is saying

This would indicate that a password was present it just wasn't the correct one. Maybe it's a precedence variable where `ansible_password` was set globally but you were relying on the v

[2020-08-11 05:00] bit4man opened #7868 "LDAP authentication error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When authenticating against FreeIPA/LDAP the debug log shows it finds the user record, but this is followed by a dump that ends up with: ```TypeError: not all arguments converted during string formatting```

##### ENVIRONMENT
* AWX version: 3.7.0.4
* AWX install method: ansible (setup.sh)
* Ansible version:  2.9.7
* Operating System: RHEL8
* Web Browse

[2020-08-11 06:07] mkayontour commented on #7758
How do I test in AWX against stable-2.9?  I guess stable is v 2.9.10 - thats what I tested against.
I tested on my Ansible host (without AWX) with 2.9.10 installed and I tested in AWX with the same version.

[2020-08-11 06:57] jborean93 commented on #7758
Ansible 2.9.12 was just released which contains that fix, upgrading the Ansible there is one way of testing it.

[2020-08-11 07:46] tmanninger opened #7869 "Job with rescued tasks marked as failed"
##### ISSUE TYPE
 - If a job have rescued tasks, but no failed tasks, AWX marks the job as failed:

[code]

##### SUMMARY

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker
* Operating System: Debian 9

##### EXPECTED RESULTS

The job should me marked as successful by AWX (and not failed)

[2020-08-11 10:43] milodanlso commented on #7832
no answer? I am very disappointed ... I know that my English is very bad but I am making efforts ...
FYI 1: I put version 11.2 on my development platform and the inventory is working again. Moreover it works since version 9
FYI 2: it doesn't work in version 14 either (with same error message)
FYI 3; since version 13, the first start of containers under kubernetes goes to CrashLoopBackOff ... after

[2020-08-11 10:59] kenchrcum opened #7870 "awx.awx collection 14.0.0 build with wrong version number"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx.awx collection version 14.0.0 was built with version 0.0.1-devel so every time connecting to an AWX instance we get the warning `[WARNING]: You are running collection version 0.0.1-devel` connecting to tower version 14.0.0

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.11

##### STEPS TO REPRO

[2020-08-11 13:14] ryanpetrello commented on #7832
Hey @milodanlso,

AWX is an open source project that we make available free of charge. While we do our best to address reported issues in a timely manner, it’s simply impossible for us to provide immediate hands-on support for every issue.  It may take awhile before somebody has free time to help troubleshoot.

In the meantime, if you're looking for more direct assistance, you might try our mailin

[2020-08-11 13:23] ryanpetrello commented on #7870
@AlanCoding @beeankha @squidboylan you all have any idea what's up here?

[2020-08-11 13:26] ryanpetrello commented on #7868
This is a bug in the `python-ldap` library that AWX relies on:

https://github.com/python-ldap/python-ldap/issues/270

[2020-08-11 14:38] AlanCoding commented on #7869
I attempted to reproduce with content at https://github.com/ansible/test-playbooks/pull/152

I found that the AWX job was marked as successful, as expected.

If you can give me a playbook that will replicate the behavior, I will test it. Right now, with the simple rescued task, I can't see any bugs.

[2020-08-11 14:40] anxstj commented on #7818
This seems to be fixed with 14.0.0. I will close the issue.

[2020-08-11 14:40] #7818 closed, assigned to nobody

[2020-08-11 14:53] mnhan3 commented on #2225
anyone successfully upgrade from 9.3 to 10.0 or 13.0 using this method.  I was successful in going from 6 -> 9.3  but have had no luck upgrading to 10 or higher.   Attempting to so do fails in the awx-manage migrate step and it throws a python trc running

On a fresh installs of 6.0 -> 13.0 it works fine as there is no data to migrate.  But I need to migrate my existing db.  attempting to export a

[2020-08-11 14:59] milodanlso commented on #7832
Hello @ryanpetrello
Thanks for your reply... I will open a topic on groups.google...

[2020-08-11 15:41] AlanCoding commented on #7832
The error that matters is:

[code]

Your script ran, but the output could not be parsed as JSON content.

That still won't use the python used by AWX, and that seems likely related to the root cause. Could you try running again in the container after activating that virtual environment? To do that, you want to run a command like `/var/lib/awx/venv/ansible/bin/activate` (going from memory, it may b

[2020-08-11 16:11] justinokay commented on #5303
I just opened a case with RedHat and they directed me to this RFE. As of today here is their latest response. The solutions link requires a RH customer account.

Unfortunately, we do not have a timeline for when this feature will be implemented. We encourage you to comment on that issue and engage with our engineering team to provide any additional use-case or information you or they may find pert

[2020-08-11 16:29] #7868 closed, assigned to nobody

[2020-08-11 16:33] ryanpetrello commented on #7868
Hey @bit4man,

This bug in `python-ldap` will be addressed in the next released version of Ansible AWX.

I suspect that the bug is *actually* disguising a legitimate LDAP configuration issue that you have, but it's hard to say for sure what that might be without functional error messaging.

[2020-08-11 17:54] keithjgrant opened #7876 "Notification Templates add/edit form"
Follow-up on #7867

##### ISSUE TYPE
 - Feature Idea

[2020-08-11 17:55] keithjgrant opened #7877 "Notification Details: Display custom notification messages"
Follow-up on #7867

Display the custom notification text, if different than the default messages.

##### ISSUE TYPE
 - Feature Idea

[2020-08-11 17:56] keithjgrant opened #7878 "Notifications List: websocket support"
Follow-up on #7867

Update status labels beside notifications as they change via websocket messages.

##### ISSUE TYPE
 - Feature Idea

[2020-08-11 17:57] keithjgrant opened #7879 "Notifications: Copy & advanced search"
Follow-up on #7867

Add ability to copy notifications and flush out advanced search

##### ISSUE TYPE
 - Feature Idea

[2020-08-11 18:39] Throckmortra commented on #3113
Hey other people who find yourself here,

My (unfortunate) workaround for this issue was to create an installer playbook for AWX that I can run to "install" my inventory plugins

[code]

You can continue to keep your inventory plugins in the correct "magic" directory in the root of your project for Ansible CLI use. I think after researching this, AWX just doesn't have decent support for magic dire

[2020-08-11 19:13] watsonb opened #7881 "AWXKit export/import - Job Template Credentials"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After exporting artifacts from an existing AWX instance and importing into a new instance, job templates don't have any credentials associated with them.

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker on linux
* Ansible version:  2.911
* Operating System: Ubuntu 18.04
* Web Browser: Chrome

The above is for the new instance. The

[2020-08-11 19:21] watsonb opened #7882 "AWXKit export/import - job template surveys"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When exporting job templates from once AWX instance and importing them into another new instance, job templates lose associated surveys.

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.11
* Operating System: Ubuntu 18.04
* Web Browser: Chrome

The above is for the new instance. The old instance is

[2020-08-11 19:27] sowmian opened #7883 "Ansible Playbook sending multiple mails when it gets executed"
Hi All,

I've been writing a new Playbook to gather some information about one agent to see whether it is installed / Updated on all the dev servers where the list of Dev servers are mentioned in an /etc/ansible/hosts under dev_servers group. If I execute the below playbook it is executing well but when it completes and try to send the information in the mail it is sending a bunch of emails, Inste

[2020-08-11 19:48] nixocio opened #7884 "[UI] Execution environments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Issue to track the progress of UI work related to execution environments.

~1 - Update navigation bar and routing system to add execution environments. https://github.com/ansible/awx/issues/7885~
~2 - List execution environments - https://github.com/ansible/awx/issues/7886~
~3 - Add/Edit execution environments - https://github.com/ansible/awx/issues/

[2020-08-11 19:49] nixocio opened #7885 "Update navigation bar and routing system to add execution environments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Update navigation bar and routing system to add execution environments.

[2020-08-11 19:50] nixocio opened #7886 "List execution environments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
List execution environments

[2020-08-11 19:51] nixocio opened #7887 "Add/Edit execution environments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add/Edit execution environments

[2020-08-11 19:57] ryanpetrello commented on #7883
Hey @sowmian,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-08-11 19:57] #7883 closed, assigned to nobody

[2020-08-11 23:37] jerryhwg opened #7889 "Whitelist a callback plugin"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

https://docs.ansible.com/ansible/latest/plugins/callback.html

In ansible-playbook command line, I can choose which callback plugin to whitelist(enable) in a playbook run.
e.g. a custom callback plugin : notify_me
[code]
It's not possible to do so with AWX.

[2020-08-12 06:13] milodanlso commented on #7832
Hello @AlanCoding , if i run /var/lib/awx/venv/ansible/bin/activate in the container (awx-task or awx-web) i have this :
_**sh: /var/lib/awx/venv/ansible/bin/activate: Permission denied**_

[2020-08-12 07:32] milodanlso commented on #7832
@AlanCoding, this new script work well in 11.2 but not in 14 (or 13 i suppose). This is a simulation of what the initial script does except I have a lot more objects. It should allow you to reproduce.
[script_to_reproduce.txt](https://github.com/ansible/awx/files/5061239/script_to_reproduce.txt)

[2020-08-12 09:22] dhikrahashim opened #7890 "Ansible Tower working with AWS services"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

I am trying to run a playbook from ansible tower to fetch all the listed host zone from the aws r53. We are using assume role and we have allowed ansible tower instance to fetch data from other AWS accounts.

 statement = {
    sid    = "AnsibleInventoryPermissions"
    effect = "Allow"

    actions

[2020-08-12 12:33] Kiviby opened #7892 "missed button save when select webhook credential"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

when setting up a new webhook and selecting a credential there is no way to confirm the credential selection

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.11
* Operating System: RHEL 7.8
* Web Browser: Chrome, Firefox

##### STEPS TO REPRODUCE

create new gitlab personal access token credential

[2020-08-12 13:21] ryanpetrello commented on #7890
Hey @dhikrahashim,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-08-12 13:21] #7890 closed, assigned to nobody

[2020-08-12 13:29] unlikelyzero commented on #7831
One test is currently failing due to a previous merge. This is good to merge!

[2020-08-12 13:29] jlmitch5 commented on #6288
whoops never got moved to needs_test

[2020-08-12 13:30] jlmitch5 commented on #5907
I'm removing my assignment on this...we can take a look at this codemirror display issue at some point

[2020-08-12 13:34] jlmitch5 commented on #5628
all fixed except for the padding one

[2020-08-12 13:35] jlmitch5 commented on #6503
I'm removing my assignment on this as it was stalled.  we'll need to figure out something different here

[2020-08-12 14:12] jakemcdermott commented on #7892
most likely related to latest version bump of jquery & other dependencies. See fixes for similar issues: https://github.com/ansible/awx/pull/7553

[2020-08-12 14:23] dhikrahashim commented on #7890
If the question related to Tower then where I need to ?

[2020-08-12 14:30] ryanpetrello commented on #7890
Hey @dhikrahashim,

If you have questions about how to use and operate Ansible Tower, you'll have to reach out to Red Hat support services - this issue tracker is for the upstream open source AWX project.

[2020-08-12 14:32] Kiviby commented on #7892
in awx 13.0.0.  same problem  #7441

[2020-08-12 14:39] wenottingham commented on #7889
See AWX_ANSIBLE_CALLBACK_PLUGINS in settings. We cannot directly do an override via ANSIBLE_CALLBACK_WHITELIST due to how AWX needs to run its own callback.

[2020-08-12 14:39] #7889 closed, assigned to nobody

[2020-08-12 14:46] jakemcdermott commented on #7892
Note to anyone who works on this: removing any self-closing tags found in the following code will probably fix this bug so try that first:

[workflow-add.controller.js#L129-L158](https://github.com/ansible/awx/blob/devel/awx/ui/client/src/templates/workflows/add-workflow/workflow-add.controller.js#L129-L158)
[workflow-edit.controller.js#L168-L197](https://github.com/ansible/awx/blob/devel/awx/ui/c

[2020-08-12 19:55] ryanpetrello commented on #7720
In addition to the general leak described in Daphne, I've found another way to get Daphne to grow memory in an unbounded way.

Internally, as `channels_redis` consumes messages from Redis, it stores per-local-channel copies in an in-memory receive buffer for other consumers on the same topic.  In this way, if multiple consumers are subscribed to the same topic (i.e., the stdout for a job, or the g

[2020-08-12 20:28] gerbz commented on #4665
@nakacya @tobufckr same here, any luck?

[2020-08-12 20:30] tobsome commented on #4665
@gerbz, nope, unfortunately not.

[2020-08-12 20:45] dsesami opened #7896 "[ui_next] User Tokens Edit"
b##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Follow-up to https://github.com/ansible/awx/issues/7789

Since we have a details view for user tokens now, we'd like to add an edit page as well. We probably want this to be similar to other resource edits, where we have an edit button in the main user tokens list, as well as an edit button on the details page (the button on the details page exists

[2020-08-12 20:46] dsesami commented on #7789
This can be closed with the merge of #7800

[2020-08-12 21:00] #7789 closed, assigned to AlexSCorey

[2020-08-13 01:11] DySprozin opened #7897 "Not working disabling job isolation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Not working disabling job isolation

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method:  docker on linux
* Ansible version:  2.9.11
* Operating System: Ubuntu 16.04
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

set AWX_PROOT_ENABLED to False
set AWX_PROOT_BASE_PATH to "/tmp2" (any non-existent path)

##### EXPECTED RESULTS

job wor

[2020-08-13 07:58] DySprozin commented on #7897
"Starting in AWX versions above 6.0.0, the project folder will be copied for each job run. "
https://github.com/ansible/awx/blob/fcfd59ebe26d0051a838ea395d05665dba0db15d/docs/process_isolation.md

Is any way to disable it?

[2020-08-13 08:07] Jochem22 commented on #7897
I also would like to disable this. I have local changes in the ansible.cfg for a project in /var/lib/awx/projects. This will be ignored when the project folder will be copied. Looks like the project folder will be copied from the source and not the local "/var/lib/awx/projects" folder?

[2020-08-13 08:20] DySprozin opened #7898 ".gitignore-list files not found"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Not found files from git project, which added manualy

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method:  docker on linux
* Ansible version:  2.9.11
* Operating System: Ubuntu 16.04
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

Create gitlab project. Git pull. Create manualy file in the .gitignore directory (ex. /data/awx/projects

[2020-08-13 11:11] jibbajabber commented on #6539
I can reliable reproduce this symptom for docker compose install method for all releases I've tried (`11.0.0`, `12.0.0`, `13.0.0` and `14.0.0`)
What is odd, is that I was happy deploying `11.0.0` for the past week without issues, however now despite restoring my environment to a clean fresh CentOS 7 install with a snapshot, the installer hangs waiting for migrations that never happen.

This is res

[2020-08-13 12:08] RootMePLS commented on #2058
+1

[2020-08-13 12:20] xTrekStorex opened #7899 "vmware inventory plugin ignores filters"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Ever since the vmware inventory plugin is used, starting with AWX 11.2.0, our host filters or rather all source vars are being ignored in the vCenter inventory source.
I already looked into the code that generates the YAML for the auto plugin and adjusted my source vars accordingly but that did not help.
I'm currently keeping our production AWX environ

[2020-08-13 14:00] Idanatcox commented on #2354
We are seeing this issue on 9.1.1 happens intermittently

[2020-08-13 15:06] digifuchsi opened #7900 "Inventory sourced from project with git submodules"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When sourcing an inventory from a project using git submodules only top git repository submodules are loaded.
If a git submodule includes another git submodule this is ignored.

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.11
* Operating System: CentOS7
* Web Browser: Chrome

##### STEPS TO REPRO

[2020-08-13 16:11] domq commented on #2893
The reason this happens is that ansible-playbook doesn't like being told to run for zero hosts; ansible-runner doesn't detect that situation (and [is unwilling to change that behavior](https://github.com/ansible/ansible-runner/pull/445#issuecomment-621213501)) and passes the failure upwards.

Possible approaches for a fix include
- ask awx-runner team to reconsider
- make it so the circumstance do

[2020-08-13 18:10] wenottingham commented on #7897
No, this is intentional for a few reasons.

- Repeatability/auditability:  For SCM projects, if it's defined to run with a particular revision, it needs to run with that revision, not "that revision plus a local change".
- Parallelism: by each job run having its own checkout, it allows parallel job runs without potential interference with each other

[2020-08-13 18:10] #7897 closed, assigned to nobody

[2020-08-13 18:19] wenottingham commented on #7898
This is (generally) a consequence of what you see in https://github.com/ansible/awx/issues/7897.

If it's about the roles thesmelves, I would use roles from git, or collections from galaxy/hub.
If it's about data files the roles use, I would use some sort of artifact/file storage and pull them as needed in the playbook.

AWX is designed so playbook runs are as stateless as possible, as they could

[2020-08-13 18:19] #7898 closed, assigned to nobody

[2020-08-13 18:22] jamesmarshall24 opened #7901 "Add Controls to SAML Organization Mapping"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add the ability to disable automatic organization creation when a user logs into AWX/Tower and add controls regarding what organizations can be created through SAML authentication.

If an attribute is mistakenly updated to contain a large number of values, the next time a user logs into AWX/Tower, all of those erroneously added organizations will be

[2020-08-13 19:05] wenottingham commented on #7901
The control to disable automatic organization creation is just not setting the SOCIAL_AUTH_SAML_ORGANIZATION_ATTR fields/maps - it already exists.

What I think may help in this scenario is better test functionality. Even if there were to be guardrails, you'd need a better idea of what will be created to set what the guardrails would be.

(This also isn't unique to SAML - a complex LDAP forest cou

[2020-08-13 19:20] davidtluong opened #7902 "Configure Organization Admins to not be able to rename organizations"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, organization admins can rename an organization.  However, if the organization was created by an LDAP or SAML configuration, this leads to the proliferation of organizations.  Organization Admins should NOT be able to rename organizations, or this should at least be configurable.

[2020-08-13 19:33] nixocio commented on #6092
As per feedback from @trahman73.

[2020-08-13 21:58] blaira89 commented on #5303
My TAM customer would like to add to this request that this get serviced in a release soon. Thanks.

[2020-08-14 07:37] JoelKle opened #7906 "docker-compose upgrading from previous versions to 14.0.0 is broken (awx_postgres container)"
The PR #7698 broke the ability to do a seamless upgrade. I've tried to upgrade from AWX version 13.0.0 to 14.0.0 following the docs:
https://github.com/ansible/awx/blob/devel/INSTALL.md#upgrading-from-previous-versions

After I rerun the installer playbook in version 14.0.0, my `awx_postgres` Container reported the following error:
[code]

Looks like the `docker-compose` command don't use to the n

[2020-08-14 12:29] Scorpslay commented on #7906
I too have been getting this error.  I tried changing my `postgres_data_dir` to a clean directory and I get the same issue.  The `awx_postgres` container is in a continual loop restarting itself with the error mentioned in this issue.

[2020-08-14 15:10] jmaughmer commented on #7906
I also had the same issue.

This was addressed under the following thread:  https://github.com/ansible/awx/issues/7854

[2020-08-14 15:36] zyphermonkey commented on #2004
I'm also having this issue.
I suggest updating `host:` to `host_id:`, but anything other than the `host` will work.

[2020-08-14 16:21] jsalatiel commented on #7715
Is there currently any way to group by tags since we can not use with_tags: True ?

[2020-08-14 19:39] Mclovin2423 opened #7907 "AWX v14.0 VMware Tags not importing"
VMware dynamic inventory isn't pulling the tags from vcenter

Ansible Version 2.9.12
AWX Version 14.0
Installed Pyvmomi
Installed the VMware SDK for python

[2020-08-14 20:01] AlanCoding commented on #3113
Okay, I see. This is because the working directory is set to the project folder root. As such, anything run out of the project will use the `ansible.cfg` for the project generally.

https://github.com/ansible/awx/blob/ddb8c93f1790a9f72db25a241bd57b2eb645fafb/awx/main/tasks.py#L2646-L2647

Yeah, that's painful for modifying the configuration, but jobs work this way, so people wouldn't expect that i

[2020-08-14 20:42] AlanCoding commented on #7832
Thanks for the reproducer, I ran that in the Ansible venv, and got a similar error from `ansible-inventory`. But it does look like if parses correctly if I just remove the YAML stuff from this:

[code]

changing it to:

[code]

Then the command `ansible-inventory -i script.py --list --export` echos back something that looks correct. The format the `ansible-inventory` [expects is JSON](https://docs

[2020-08-14 23:33] Vacant0mens commented on #4286
@matburt how do you go about disabling bubblewrap for the kubernetes setup?
I'd like to run this in a local cluster as non-privileged, but I can't seem to get the install working properly.

[2020-08-16 02:55] xsaitox commented on #7699
I have a similar problem:

AWX version: 14.0.0 or devel
AWX install method: docker for mac
Ansible version: 2.9.2
Python version: 3.8.0
Operating System: macOS (10.15.6)
Web Browser: google-chrome

Previews steps
1) pip3 install docker
2) pip3 install docker-compose
3) git clone https://github.com/ansible/awx.git
4) cd awx/installer
5) ansible-playbook -i inventory install.yml
6) cd ~/.awx/awxcomp

[2020-08-16 20:04] cardinal83 commented on #7715
Here https://github.com/ansible-collections/vmware/issues/160#issuecomment-627041751 is possible solution, but not works for me on AWX 14.0.0.
Anyone this solution works?

[2020-08-17 06:35] stanislaw55 opened #7912 "Aloow setting proxy for only project update phase"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

It would be very beneficial to have ability to set proxy setting for only 'Project Update' phase of running Job. Example use case:
AWX is placed in network A which is completely isolated from external network. All machines that has to be configured are also placed in this network. However, Git server (Gitea, GitLab) is placed in network B which is i

[2020-08-17 09:29] milodanlso commented on #7832
@AlanCoding I modified my script as indicated and it works ... I don't remember why I put yaml (at least in version 9) but obviously it doesn't work anymore. It doesn't bother me since I work in JSON. Thanks a lot for your help. I can go on vacation in peace :-)

[2020-08-17 10:47] TheKangaroo commented on #4286
@Vacant0mens I'm not 100% sure since I configured it for a colleague and it's been a while, but IIRC you have to run the app and disable bubblewrap from the settings page on AWX GUI

[2020-08-17 12:41] tmanninger commented on #7869
Hi @AlanCoding,

Now i can reproduce the issue with a simple playbook, but i think it's an ansible bug, see this new created issue:
https://github.com/ansible/ansible/issues/71306

[2020-08-17 13:05] IlyaNakhaichuk opened #7913 "Why is the variable not defined when passing variables in source variables for a dynamic inventory?"
i add parameter "with_tags: True" to awx ui in source variables, but when looking at host parameters, i don't see tags showing up.

You can achieve the appearance of tags only by changing the file /var/lib/awx/vendor/inventory_collections/ansible_collections/community/vmware/plugins/inventory/vmware_vm_inventory.py, replacing with_tags = self.get_option ('with_tags') with with_tags ="True".

Why c

[2020-08-17 13:45] ryanpetrello commented on #7907
Duplicate: https://github.com/ansible/awx/issues/7715

[2020-08-17 13:45] #7907 closed, assigned to nobody

[2020-08-17 13:47] ryanpetrello commented on #7906
Duplicate of https://github.com/ansible/awx/issues/7854

[2020-08-17 13:47] #7906 closed, assigned to nobody

[2020-08-17 14:10] mabashian commented on #4254
Adding machine credential in the adhoc command wizard to this issue

[2020-08-17 14:21] AlexSCorey opened #7914 "Error Handling for Prompt on Launch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a user lauches a template that uses Prompt on Launch, and that action throws a content error.

##### ENVIRONMENT
* AWX version: 11.2
* AWX install method:docker for mac
* Ansible version:  2.9.10
* Operating System:Mojave
* Web Browser:Chrome

##### STEPS TO REPRODUCE
Find a job template that has a Prompt on Launch item.  Click the launch button b

[2020-08-17 14:52] mabashian opened #7915 "Host facts do not render properly when viewed unless interacted with"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
See https://github.com/ansible/awx/issues/5907#issuecomment-607394959

Decided to make this issue to track this specific bug so that we can close #5907

[2020-08-17 14:53] mabashian commented on #5907
Closing this, created https://github.com/ansible/awx/issues/7915 instead.

[2020-08-17 14:53] #5907 closed, assigned to dsesami

[2020-08-17 14:54] mabashian commented on #5913
WFJT prompting hasn't been merged yet but the PR is quite small and I don't think it will impact this work at all so I removed the `blocked` label.

[2020-08-17 14:56] mabashian commented on #6602
I feel like we can close this now that https://github.com/ansible/awx/pull/7739 has merged.  Remaining features/bugs can be tracked in individual issues.

[2020-08-17 14:56] #6602 closed, assigned to nobody

[2020-08-17 14:58] mabashian commented on #5957
@jakemcdermott should we close this issue now that #6954 has landed? Or do we have remaining work items that need to be tracked?

[2020-08-17 15:00] mabashian commented on #5997
@marshmalien are we keeping this open until workflow prompting is in place or is this ready to be closed?

[2020-08-17 15:01] mabashian commented on #7557
@nixocio I see that #7633 has merged, does that mean that this issue should be closed?

[2020-08-17 15:02] mabashian commented on #7640
@nixocio I see that #7742 has merged, does that mean we can close this issue?

[2020-08-17 15:02] mabashian commented on #7744
@nixocio I see that #7776 has merged, does that mean we can close this issue?

[2020-08-17 15:03] mabashian commented on #7746
@marshmalien I see that #7747 has merged, does that mean we can close this issue?

[2020-08-17 15:04] #7564 closed, assigned to mabashian

[2020-08-17 15:06] mabashian commented on #5908
@unlikelyzero is this still in the needs_test queue or can we close it?  Seems like it's been open for a while.

[2020-08-17 15:11] mabashian commented on #4958
@dsesami

Just tried this out on latest devel and you can assign team-level permissions via the wizard.  Not sure if that was added after your comment or what (too long ago to remember).  There is a caveat though - the list won't show any changes unless there are users _in_ the team.  The access list ultimately shows users with roles.

Also tested this out and it seems like it's working to me.

So

[2020-08-17 15:41] wenottingham commented on #7913
-> #7715

[2020-08-17 15:41] #7913 closed, assigned to nobody

[2020-08-17 16:11] Vacant0mens opened #7916 "Run AWX in non-privileged mode in Kubernetes"
##### ISSUE TYPE

 - Feature Request

##### COMPONENT NAME

 - Installer

##### SUMMARY

The kubernetes environment I'm working with doesn't allow privileged pods/containers, so I'm trying to find a way to make the AWX installer work. I have tried different configuration changes. ~~but hit a wall with the Postgres server/service (I assume it's there for Django?). It was suggested in other issues t

[2020-08-17 16:12] ryanpetrello commented on #7916
related: https://github.com/ansible/awx/issues/7060

[2020-08-17 18:27] jpell958 opened #7917 "Expand the "LDAP Require Group field" under Settings/Authentication/LDAP to allow for a list of LDAP groups"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Under the Settings page for **Authentication/LDAP** it appears that the **LDAP Require Group** field is limited to a single group.  We would like to see this function expanded to a list of groups.

We would like to list multiple LDAP groups, which we already have in place today, instead of creating and having to populate a new LDAP group specifically

[2020-08-17 18:46] Vacant0mens commented on #7060
@ryanpetrello if container-based execution is what you're going for, within Kubernetes (if you're running un-privileged) the runner wouldn't be able to create containers on the Kubernetes cluster that AWX/ansible is running on. You would need an extra pod/container that runs Docker or some other container engine within the container that you would communicate to via an Api, or have the engine incl

[2020-08-17 18:46] wenottingham commented on #7901
Is the idea here to precreate the orgs/teams and prevent creation of new ones? That may be possible, but does seem to be a workaround, and would require manual process any time you'd want to onboard a new group.

[2020-08-17 20:05] cdggcali commented on #5711
Just an example of a use case:

We have a job template to patch servers, on the inventory this template uses, we have some of the servers that can only be accessed by some of the node on the ansible tower instance group.

For example, if I have the following instance groups:
[tower]
server1
server2
server3

[WEST]
server1

[EAST]
server2

By default, we use the tower instance group, but let's say

[2020-08-18 04:34] ghost opened #7923 "LDAPError while authenticating user"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Ansible AWX won't connect to LDAP server over port 389.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version: 2.9.10
* Operating System: 8.2.2004
* Web Browser: Firefox 79.0

##### STEPS TO REPRODUCE

Settings > Authentication > LDAP

LDAP SERVER URI
ldap://fqdn.company.com:389

LDAP BIND DN
`CN=<snip>,OU=<sn

[2020-08-18 05:36] smaksimus commented on #7923
Just to add Ansible AWX had HTTPS (SSL from CA) enabled during installation. Could that be having an impact?

[2020-08-18 06:28] DLV111 opened #7924 "tower_project should not check for credentials on state=absent"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx.awx.tower_project checks for credential on state == absent, and it shouldn't care if we're removing it (eg credential gets removed before this is called)

##### ENVIRONMENT
* AWX version: 3.7.1
* AWX install method: Ansible Tower 3.7.1 - setup.sh
* Ansible version:  2.9.1
* Operating System: Red Hat 7.9
* Web Browser: Chrome

##### STEPS TO REPRODU

[2020-08-18 11:57] unlikelyzero commented on #5908
@mabashian yes still needs to be left open. We just recently (July) came up with a way of testing this. It's been on our backburner and `needs_test` ensures that we don't lose sight of our backlog of tech debt.

[2020-08-18 11:59] unlikelyzero commented on #7557
@mabashian we're leaving this open to link back to the test stubs or net new functional tests

[2020-08-18 12:06] hdjur opened #7926 "git and manual scm project type integration"
When people work, they try to keep their history free from committing mistakes, ie junk versions of code that they know is defective from the start, that is I guess the motivation for using "Manual SCM Type" projects with awx, so that they can test things before they decide to push them to scm repository, such as git, or whatever they use. However, is there a possibility to create the manual direc

[2020-08-18 12:20] nixocio commented on #7557
@unlikelyzero, I just closed 2 issues related to instance groups yesterday. I will re-open them.

[2020-08-18 13:10] AlanCoding commented on #7869
Nice, I left a detailed reply in that issue. I believe you found a real bug.

Closing this, as there is nothing to do on the AWX side.

[2020-08-18 13:10] #7869 closed, assigned to nobody

[2020-08-18 13:29] kdelee commented on #7870
did `make build_collection` and then installed, it is now correctly versioned. Thanks!

[code]

[2020-08-18 13:32] kdelee commented on #7769
This is done, now collections will only be installed if ansible running the project update is >= 2.9

[2020-08-18 13:32] #7769 closed, assigned to kdelee

[2020-08-18 13:37] kdelee commented on #6930
Moved this to 4.0.0 because we have no plans to make ansible 2.10+ work as system ansible for 3.8.0

[2020-08-18 13:39] kdelee commented on #5735
@unlikelyzero ping this is now in y'alls court

[2020-08-18 13:45] kdelee commented on #7795
Tests passing with patch merged, also verified manually locally using `awx me -f yaml` as well as ` awx workflow_job_templates list -f yaml` going to call this verified, thanks for the patch!

[2020-08-18 13:45] #7795 closed, assigned to kdelee

[2020-08-18 14:16] AlanCoding commented on #7870
That's good, but I think this is still waiting for 14.1.0 to go out the door until it's fixed in the released version.

https://github.com/ansible/awx/blob/devel/CHANGELOG.md

That's still marked as TBD, but when it does happen, we should still be sure to have a look at what it produces.

[2020-08-18 14:26] AlanCoding commented on #7769
We might also want to change some conditional skips in tower-qa, because the reason we saw this was because some tests were failing unexpectedly in 2.8. Best approach may be just to run tests with 2.8 and see what happens.

[2020-08-18 14:41] kdelee commented on #7766
tested this out making an inventory source w/ module from the collection built from devel, then running playbook several times switching values from true to false and back again, the values were respected and did get `changed` when expected. Closing as verified

[2020-08-18 14:41] #7766 closed, assigned to AlanCoding

[2020-08-18 14:47] kdelee commented on #7870
oops yeah you are right the released version still not doing the right thing, will re-open til what we get from ansible galaxy reports right version

[code]

[2020-08-18 14:47] kdelee commented on #7870
can't verify til next release gets pushed to ansible galaxy

[2020-08-18 14:49] wenottingham commented on #7926
The point of manual projects is that they are entirely manually handled - we don't know (or care) whether it's a local git checkout, a shared filesystem, or something else.

Since we recommend and want people to use source control natively via source control projects, I don't think we'd ever add features to 'upload' a project in this manner. We want the service to be resilient in case of server fa

[2020-08-18 14:49] #7926 closed, assigned to nobody

[2020-08-18 14:50] wenottingham commented on #7923
Yes, it's likely something to do with how it's verifying the cert for your LDAP server.

You'll want to configure it with AUTH_LDAP_GLOBAL_OPTIONS and similar items.  https://django-auth-ldap.readthedocs.io/en/latest/reference.html#auth-ldap-global-options

[2020-08-18 16:13] Orabig commented on #6610
Yes, it looks like it's necessary but... how will you do that ? I can't find where in any slack menu it can be done...

[2020-08-18 16:18] rcdlinux opened #7927 "Identify Tower/Awx node on login screen"
##### ISSUE TYPE
 - When using a Load balancer and a Tower/Awx cluster with VIP we are redirected to login screen but we can't know what node we will doing the login.

##### SUMMARY

In case of using a Load balancer and a VIP as a front end of Tower for example. It will be very helpful to have an option of show the hostname or other info which identify the node into login screen.

[2020-08-18 17:59] wenottingham commented on #7927
What do you need the end node information for - what are you intending to use that info for?

[2020-08-18 18:02] christianeiselt commented on #7597
I also can reproduce this on CentOS 7 (1810) and with your help I was able to get the container running by adding `,z` to the relevant lines. After that the playbook ran just fine and the container keeps running. Still no AWX web site though, but this seems to be a different issue...

![Bildschirmfoto 2020-08-18 um 20 01 34](https://user-images.githubusercontent.com/21975779/90548721-ab5f2880-e18d

[2020-08-18 18:43] Aniket-Utekar opened #7928 "AnsibleTower integration with 3rd party ITSM tool"
##### ISSUE TYPE
 - Feature Idea
-- AWX to ITSM Tools integration using oAUTH Token Base

##### SUMMARY

1.  How we can integrate ITSM tools like serviceNow with AWX tower.
-- I am able to integrate servicenow to AWX via oAUTH.
-- But through AWX to serviceNow i am not able to integrate with oAUTH .. Only able to use basic authencation mechanism to integrate.

So is it possible to integrate AWX To

[2020-08-18 19:03] wenottingham commented on #7928
Hi -

This repository is specifically for bug reports with AWX. This looks like a usage question, and is therefore better targeted at the mailing list or IRC channel. Please see https://github.com/ansible/awx#get-involved for details.

[2020-08-18 19:03] #7928 closed, assigned to nobody

[2020-08-18 19:54] nixocio opened #7930 "List jobs related to a certain instance group"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
List jobs related to a certain instance group.

See: https://tower-mockups.testing.ansible.com/patternfly/instance-groups/instance-groups-jobs/

[2020-08-18 19:54] murrahjm opened #7931 "Credential Type definitions in the REST API do not show injector config"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When browsing credential type data via the REST API, i.e. /api/v2/credential_types/, the injector configuration is blank on many ( but not all) credential types. This appears to be inconsistent with the documentation for these credential types

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: rancher
* Ansible version:  2.9
* Operating Syst

[2020-08-18 20:14] wenottingham commented on #7931
Injectors are a concept introduced when custom credential types were added. Credential types that existed before this generally don't have injectors defined as they just haven't been migrated to that framework.

[2020-08-18 20:32] murrahjm commented on #7931
I was wondering if it was something like that.  So is there another method to see the complete configuration of a given credential type?  Basically I was looking for a way to create some internal documentation of all credential types, both built-in and custom, in one place, that would list the inputs and the outputs, so people could know how to use the various credential objects in playbooks.

[2020-08-18 20:54] #7386 closed, assigned to nobody

[2020-08-18 20:57] wenottingham commented on #7931
Not really, it's read the docs and/or code for now.

[2020-08-19 00:01] Toucan-Sam commented on #7201
**TLDR:** inventory.name.icontains:"name of your inventory"

I'm also experiencing this and just making some observations.
AWX: 13.0.0 w/ Ansible 2.9.10

It looks like the 'inventory' field is both a 'field' and a 'related field'.

[code]

`ERROR: Related Field got invalid lookup: icontains `

Might be related to icontains working on 'fields' but not 'related fields'? Appears to be the only duplic

[2020-08-19 04:12] smaksimus commented on #7923
I've re-installed my instance of Ansible and without HTTPS and the LDAP issue still persists.

[2020-08-19 11:25] mkayontour commented on #7758
thanks, I upgraded the ansible version on the AWX hosts and it works. I still wonder why the same ansible version worked on the dedicated management host. But as long as it works - I really don't care so much.

Thanks for the help. I'll close the issue.

[2020-08-19 11:25] #7758 closed, assigned to nobody

[2020-08-19 12:49] dsesami commented on #6288
Confirmed that jobs list search by ID works correctly now.

[2020-08-19 12:49] #6288 closed, assigned to jlmitch5, dsesami

[2020-08-19 13:28] wenottingham commented on #7923
It's not about HTTPS, it's about the SSL/TLS connection from AWX to LDAP.

See https://github.com/ansible/awx/issues/411 for some examples (either setting LDAP options, or passing a cert bundle into the deployment.

At this point I do not think this is an issue with AWX itself - if you have issues with the solutions above, it's probably best to start on the mailing list or IRC channel - see https:

[2020-08-19 13:28] #7923 closed, assigned to nobody

[2020-08-19 14:00] mtward commented on #5177
The functionality of adding hosts to groups is really needed.  Can this be re-opened?

[2020-08-19 14:24] kdelee opened #7932 "Deprecate mercurial support"
##### ISSUE TYPE
 - Deprecation

Mark mercurial project updates as deprecated, to be removed in a future release

##### SUMMARY

Warning should probably be displayed during project updates of mercurial sourced projects, not sure where else

[2020-08-19 14:30] AlanCoding commented on #7932
Just add 1 task here to warn:

https://github.com/ansible/awx/blob/devel/awx/playbooks/project_update_hg_tasks.yml

I'm not sure exactly what task to use for this... but presumably anything could work.

[2020-08-19 14:55] nixocio commented on #7744
@unlikelyzero, I am re-opening this one. Based on your feedback.

[2020-08-19 14:56] nixocio commented on #7640
@unlikelyzero, I am re-opening this one. Based on your feedback.

[2020-08-19 14:57] AlanCoding commented on #5177
This was added, try this syntax from the tests:

https://github.com/ansible/awx/blob/devel/awx_collection/tests/integration/targets/tower_group/tasks/main.yml

[code]

[2020-08-19 15:25] AlexSCorey opened #7935 "Credential Look up won't fetch data"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Credential Look Up won't fetch data.
##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Load a form that has a credential look up
##### EXPECTED RESULTS

That I don't see:
![Screen Shot 202

[2020-08-19 16:12] ryanpetrello commented on #7932
cc @tvo318

[2020-08-19 16:19] ryanpetrello commented on #7403
Hey @ssaammoo,

Do you have any updates on this?  How many entries do you have in the activity stream when you encounter this issue?

[2020-08-19 16:21] jakemcdermott commented on #5957
@mabashian we can close

[2020-08-19 16:21] #5957 closed, assigned to jakemcdermott

[2020-08-19 16:52] unlikelyzero opened #7938 "[ui next] Advanced Search on modals have a few issues"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If an Advanced Search option is available on modals, it does not render well with the narrow width of the modal.
1. The elements in an advanced search are pushed off screen
2. The Kebab is triggered by is not used
3. Z-depth of dropdown for keyfields is not observed. Obscured by modal footer

##### ENVIRONMENT
* Operating System: MacOS 10.15.5
* Web Br

[2020-08-19 16:57] unlikelyzero opened #7939 "[ui next] Double error text if attempting to edit credential type"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When attempting to edit a credential type, the form error handling will display two errors.

##### STEPS TO REPRODUCE
1. Create a 'Machine' type credential "A"
2. Create a custom credential type "Custom"
3. Modify the credential type of "A" to use "Custom"

##### EXPECTED RESULTS
A single error messages
Error text in Red

##### ACTUAL RESULTS
Two error

[2020-08-19 17:10] jlmitch5 opened #7941 "responsiveness of toolbar in modals with advanced search doesn't work great"
this should probably wrap in a pretty way

![Screen Shot 2020-08-19 at 12 44 13 PM](https://user-images.githubusercontent.com/1342624/90667948-4fdc7b80-e21d-11ea-8f93-0c4b444430b6.png)

[2020-08-19 17:38] Vacant0mens commented on #7916
Things that need to change for un-privileged to work properly:
[code]

I was mistaken about postgres being the problem. I had it running on an external server and forgot where it was. I will update the initial post.

I wonder if instead of changing these settings, we could add a variable to the inventory that would make those changes for you?

[2020-08-19 17:40] unlikelyzero commented on #7941
closing as a dupe of https://github.com/ansible/awx/issues/7938

[2020-08-19 17:40] #7941 closed, assigned to nobody

[2020-08-19 17:53] dsesami commented on #4532
This isn't implemented and needs development. A few issues I've identified following the flow from the initial issue:

1. Team permissions are not shown. I go to the Team > Roles page for the team, and it has Read/Update permissions on the inventory. However, the inventory access tab does not display these permissions.
2. Small note, clicking the name of a team when adding permissions to that team

[2020-08-19 17:59] dsesami commented on #7756
fixed with the merge of #7933

[2020-08-19 17:59] #7756 closed, assigned to nobody

[2020-08-19 18:00] dsesami commented on #4765
This is semi-redundant with https://github.com/ansible/awx/issues/4532 -- do we want to close this one and leave the other open @mabashian ?

[2020-08-19 19:23] wenottingham commented on #7916
This shouldn't be an installer variable because it's wildly insecure until work such as https://github.com/ansible/awx/issues/7060 is done.

[2020-08-19 19:29] ryanpetrello commented on #7916
Yep - the main reason we disabled this is because running without some form of process isolation (what bubblewrap currently provides) is woefully insecure.

[2020-08-19 19:39] AlanCoding opened #7944 "Allow custom credential type injectors to apply extra vars to inventory imports"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This has merged in Ansible core:

https://github.com/ansible/ansible/pull/70970

Starting with Ansible 2.11 it will be possible to supply `--extra-vars` to `ansible-inventory`, so credential types that define extra vars in their injector configuration should apply those to inventory updates. That is avoided now via:

https://github.com/ansible/awx/bl

[2020-08-19 20:43] kdelee commented on #7932
LGTM, thanks!

[2020-08-19 20:43] #7932 closed, assigned to ryanpetrello, kdelee

[2020-08-19 21:20] jakemcdermott commented on #4765
closing as duplicate of https://github.com/ansible/awx/issues/4532

[2020-08-19 21:20] #4765 closed, assigned to nobody

[2020-08-19 22:07] #7051 closed, assigned to nobody

[2020-08-20 03:21] smaksimus commented on #7923
Except SSL/TLS has not been configured anywhere. Same exact issue on fresh installation on CentOS 7.8.2003, identical configuration without certs/SSL/TLS/etc.

[2020-08-20 07:09] etamminga commented on #1967
Indeed, this would be very welcome

[2020-08-20 11:38] atlekberg commented on #6610
@Orabig it's been a while while since I did this, but I believe you have to create a bot for your workspace and then invite that bot to the channel(s):
https://slack.com/intl/en-no/help/articles/115005265703-Create-a-bot-for-your-workspace

Hope that points you in the right direction.

[2020-08-20 12:56] zedr opened #7946 "Workflow Approval Templates are currently unexportable"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The CLI command `export` cannot serialize any Approval Template nodes belonging to a Workflow Job Template. The reason given is that the command is "unable to construct a natural key for foreign key 'unified_job_template'". The Workflow is exported but lacks the node, leading to an incomplete workflow.

Perhaps it is due to a missing `identifier` attri

[2020-08-20 13:22] AlanCoding commented on #6367
Link https://github.com/ansible/awx/pull/7873

[2020-08-20 13:42] #7935 closed, assigned to unlikelyzero, AlexSCorey

[2020-08-20 13:59] dsesami commented on #7683
This requires two more
adhoc command button - https://github.com/ansible/awx/issues/6603
detail view - https://github.com/ansible/awx/issues/7806

moving to in_progress as part of that.

[2020-08-20 16:00] mpetrive-rh commented on #7901
@wenottingham I think most users are ok with somewhat manual, purposeful steps when onboarding new groups.  If you take the way the LDAP integration, which is what most users are using, requires an update every time you want to onboard a new group.  This can of course be streamlined by creating automation to update the LDAP org/team mapping.

[2020-08-20 16:04] dsesami opened #7952 "[ui-next] Smart host filtering search issues"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Implementation of advanced search filtering appears to have slightly messed with some basic searches. It is worth exploring other parts of search (modals, specifically) to see if this is a systemic issue or not.

##### STEPS TO REPRODUCE
1. Inventories > Create new Smart Inventory
2. Fill in the name and use the Default organization. For my example, I

[2020-08-20 16:09] dsesami commented on #7806
confirmed with @marshmalien that we're removing the toggle in this host details PR -- once that's applied, i'll do a final pass and then we can merge.

[2020-08-20 16:59] gforster opened #7953 "Strip out failed hosts/allow successful hosts to proceed between workflow node steps"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Would benefit greatly from the ability to "split" the current inventory to allow successful hosts to proceed and send failed hosts in their own direction. Currently, if one host fails on a single task, all hosts fail during that step. The best current workaround (that I can figure) is to add an approval node on failure and either manually remediate

[2020-08-20 17:05] dsesami commented on #7746
This looks really good. :+1:

[2020-08-20 17:05] #7746 closed, assigned to marshmalien, dsesami

[2020-08-20 17:06] philipsd6 opened #7954 "Add Remote Archive SCM Type to support using artifacts and releases as projects"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Our development teams use a software development lifecycle process that builds a versioned artifact for the final product. This process has been extended to the development of Ansible projects, which include the roles, modules, plugins, and playbooks required for the project's goals. The build process produces an immutable artifact in [Artifactory](

[2020-08-20 17:09] nixocio commented on #7930
As per feedback from @trahman73, the user should be able to delete jobs in this screen as well. Mock ups will be updated to add this change.

~I will update this screen also.~ Already done.

[2020-08-20 17:44] dsesami commented on #7557
This is looking really good, stubs are open and can track this, so this can be closed.

[2020-08-20 17:44] #7557 closed, assigned to nixocio, dsesami

[2020-08-20 17:47] dsesami commented on #7767
This feature was merged, stubs are written. :100:

[2020-08-20 17:47] #7767 closed, assigned to nixocio, dsesami

[2020-08-20 18:03] nixocio opened #7955 "Add/Edit container group"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add/Edit container group.

See: https://tower-mockups.testing.ansible.com/patternfly/instance-groups/instance-groups-container-add/

[2020-08-20 18:37] aorfanos commented on #223
You can use vaulted values and files in inventory by doing the following (instructions for docker-based installation, should work elsewhere too):

- Create a `vault_file` in the `awx_task` container (no comments or anything else, just the vault pass)
- In the inventory source within AWX, create an env var `ANSIBLE_VAULT_PASSWORD_FILE` and point it to `vault_file`, like:
[code]

Inventory sync will

[2020-08-20 19:03] dsesami commented on #6425
Stubs exist, so this can be closed with the merge of #7803

[2020-08-20 19:29] rcdlinux commented on #7927
Hi Bill,
A customer using Tower Cluster behind a F5 load balance requested that, there are many teams working and sometimes many of them are logged into one Tower node and they don't know what node is (before doing login into the node). He asked for this feature just to identify the Tower node that users will login in, it will help him to know if the load balancer is distributing the load correctl

[2020-08-20 19:58] wenottingham commented on #7953
-> #7198

[2020-08-20 19:58] #7953 closed, assigned to nobody

[2020-08-20 20:09] #7329 closed, assigned to nobody

[2020-08-20 20:18] wenottingham commented on #7927
OK.

I feel that if the goal is to debug how the load balancer is working/check where it's being forwarded to, there should be a better way to do this than embedding the data on the login page.

Hitting /api/v2/ping and pulling `active_node` (or really, pulling *any* API endpoint and checking the `X-API-Node` header) would accomplish this from a debugging perspective.

[2020-08-20 20:23] #6425 closed, assigned to mabashian, dsesami

[2020-08-20 20:35] rcdlinux commented on #7927
The advanced admins already doing the approach via API, this feature will be very useful for purpose of Web Ui end users to know the node with an easy approach.
Thank you for accept it!

[2020-08-20 20:59] gforster commented on #2893
Another possible idea is to allow the number to be selected with "prompt on launch." Of course that would only help with known quantities.

[2020-08-20 21:01] donateur commented on #2893
It would also require unnecessary manual action on behalf of the user.

EDIT and as to say if a user just clicks to re run on failed hosts they may not even be aware of how many there are.

[2020-08-20 21:24] gforster commented on #2893
Sure, I'm thinking in the case where you might normally want it split across 3 nodes, but then need to override for 1. Seems silly to have separate workflows to control that single variable. or change/saving each time. Or in the middle of a workflow where you know you only want it on less than the normal. Not the full solution for sure, but would be handy.

[2020-08-21 10:21] moonrail commented on #7655
Any updates? We are still experiencing this with 14.0.0.

[2020-08-21 10:21] moonrail commented on #7659
Any updates? We are still experiencing this with 14.0.0.

[2020-08-21 11:41] venu-devannagari commented on #7546
Hi did it resolved..

[2020-08-21 16:55] wenottingham commented on #7899
This looks the same as #7347  ?

[2020-08-21 17:06] wenottingham commented on #7944
Is there a use case for this beyond the source vars we have that we're mapping into the plugin config file?

[2020-08-21 17:08] wenottingham commented on #7916
Closing as a duplicate of #7060

[2020-08-21 17:08] #7916 closed, assigned to nobody

[2020-08-21 17:14] blomquisg commented on #7900
@AlanCoding are nested submodules something you'd expect to work with the current implementation?  Or something that would have to be added?

[2020-08-21 17:16] blomquisg commented on #7899
Closing as a dup of #7347

[2020-08-21 17:16] #7899 closed, assigned to nobody

[2020-08-21 17:22] stasonspb commented on #7546
For me issue is resolved in the latest version(14.0.0)

[2020-08-21 17:33] blomquisg commented on #7832
Let us know if you have any further issues with this.  Closing for now.

[2020-08-21 17:33] #7832 closed, assigned to nobody

[2020-08-21 17:35] Vacant0mens commented on #7916
@wenottingham This is not a duplicate. This feature request is for being able to run AWX in non-privileged containers. Issue 7060 is about changing from BubbleWrap to Container-based execution. While the two are related, they are not the same.

[2020-08-21 17:37] Vacant0mens commented on #7060
@ryanpetrello  replying to your comment [here](https://github.com/ansible/awx/issues/7916) So what's the problem with having some kind of BubbleWrap service running in a pod/container alongside AWX? That could potentially save a rewrite of the entire task management structure.
Containers in the same pod can share information potentially even down to system-level process calls. But couldn't BubbleW

[2020-08-21 17:43] ryanpetrello commented on #7060
The main problem is that in the near future, we're planning to reimplement how all of this works (and get rid of bubblewrap entirely), so I'm not interested in building and supporting an interim solution.

(if it's not clear, our intention in rewriting all of this isn't **just** to get rid of bubblewrap: https://github.com/ansible/awx/issues/5157)

[2020-08-21 18:01] Vacant0mens commented on #7060
Okay, well I guess the only question then is, How will container-based execution be implemented in an unprivileged environment? or will the assumption be that it will always be privileged and everything will be coded/documented around that assumption?

[2020-08-21 18:13] nixocio commented on #7041
See: https://github.com/ansible/awx/issues/7722

[2020-08-21 18:29] kpanus commented on #20
Actually this is one of very useful ansible playbook features. It's an essential feature for awx (and downstream tower) to be accepted by broader users. Currently we have headache with Tower deployment for some of our client use cases, due to lacking of this feature.

[2020-08-21 18:42] nixocio commented on #7041
Part of this work was already covered here https://github.com/ansible/awx/pull/7733

The same styling should be applicable to `dissociate` button per @trahman73  feedback.

See: https://tower-mockups.testing.ansible.com/patternfly/instance-groups/instance-groups-instances/

[2020-08-21 18:43] nixocio commented on #7722
Close this one as a dupe for https://github.com/ansible/awx/issues/7041

[2020-08-21 18:43] #7722 closed, assigned to nixocio

[2020-08-21 18:46] wenottingham commented on #20
I'm not sure what you mean by this, because playbooks don't have surveys, dynamic, or otherwise. It's just a blob of extra variables.

[2020-08-21 18:47] wenottingham commented on #7546
Closing as fixed.

[2020-08-21 18:47] #7546 closed, assigned to nobody

[2020-08-21 18:48] wenottingham commented on #7916
We have no plans to tackle this outside of that.

[2020-08-21 19:39] bandwiches commented on #5400
Upgraded AWX from 10.0.0 to 14.0.0, awx_postgres container cannot boot.

[code]

[2020-08-21 20:16] ryanpetrello commented on #7848
To reproduce something like this in a fairly contrived way:

1.  Launch a job and let it finish.
2.  `Job.objects.filter(pk=N).update(status='running', execution_node='some-nonsense.example.org')`
3. Even if you restart services, this just stays in `running` forever.

[2020-08-21 20:50] chriswolske commented on #7927
Another reason we would find this useful: we are mandated to have separate Tower instances for PRODUCTION network vs Development networks. Having the Tower server name, or possibly a different/configurable color scheme, would be another visual cue for everyone to be sure they are operating on the right environment.

[2020-08-21 20:54] kdelee commented on #7655
@moonrail was just talking to @fosterseth about this ...think we should have update early next week.

[2020-08-21 20:58] wenottingham commented on #7927
Separate instance of the platform (clusters) entirely is covered by the custom logo/login info setting.

[2020-08-22 22:29] johntellsall commented on #4736
Why is this issue closed? The project doesn't start!

The fixes described by `gtie` look nice... but AWX now shows Server Error and the docker logs are filled with errors, like:
`awx_task    | psycopg2.OperationalError: FATAL:  no pg_hba.conf entry for host "172.21.0.5", user "awx", database "awx", SSL off`

Docker-compose method, on macOS 10.15.5, AWX version 14.0.0

[2020-08-22 22:40] geerlingguy commented on #4736
@johntellsall - please see https://github.com/ansible/awx/issues/7699

[2020-08-23 01:17] garbled1 commented on #3986
I'm having the same problem with AWX 13.0.0.  While it appears to work, what is actually happening is it's connecting to localhost, and showing the name of the new host.  But if you inspect the gather_facts, you see it's actually talking to localhost:

[code]

It's worth noting, this works in Tower 3.5.2 just fine.

[2020-08-23 08:00] binbinhui opened #7968 "limiting the jobs running on the same host"
How can I limit the jobs running on the same host?  I have two templates running on the different jobs and both running on the same host. Both templates are trigger by the pull requests from the git repo, if template A is running,  someone do a pull request in git repo for templates B. Both templates will run at the same time in the same host. Templates A will get fail because template B overwrite

[2020-08-24 02:46] sangqt commented on #318
I have similar issue and solve it by stopping the process related to running play-book. You can identify running process with below command.

[2020-08-24 08:45] CWollinger opened #7970 "Activity Stream - viewer restriction"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Able to restrict the view permission for the activity stream. Only an administration can see the complete activity stream. Other users can see actions from their team, but not from other teams, orgs or admins.

[2020-08-24 13:38] dsesami commented on #7884
@nixocio me and john would like to follow up with you on the progress of this ticket to understand where everything is at, what is testable, and what we should be looking out for next.

update -- this is a general issue that also exists with the main jobs list, and will be handled in another issue.

[2020-08-24 15:00] fosterseth commented on #7655
@moonrail thanks for running the tests and the detailed response

A while back we had an issue with a cpython bug that was causing task manager hangs, so we put some code in place to reap the task manager after it runs for 5 minutes.
https://github.com/ansible/awx/pull/6071

In your case the task manager is not hanging, it's just that the loop for starting jobs is taking > 5 minutes. Our transacti

[2020-08-24 15:34] AlexSCorey commented on #7797
In a dev sync we decided that a user token should not require an application

[2020-08-24 15:34] #7797 closed, assigned to nobody

[2020-08-24 15:40] fosterseth opened #7972 ".prefetch_related('instance_groups') not working"
Not an issue with current awx, as I don't believe we attempt to prefetch `instance_groups` anywhere in the codebase, but I wanted to document my findings for this as prefetching is used heavily in general.

**why it's needed**
.prefetch_related() is important for reducing database hits. In this case, if we want to grab instance_groups associated with organization _per job_, and there are thousands

[2020-08-24 15:43] AlexSCorey opened #7973 "Disable Template Workflow Template Form Fields"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory, Project, Playbook fields should be disabled for users that do not have access to those types of resources
##### ENVIRONMENT
* AWX version: 14.1
* AWX install method:  docker for mac
* Ansible version:  X2.9.11
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1) Create a user that can edit a JT or WFJT but that does

[2020-08-24 16:01] wenottingham commented on #7968
This is not a feature of AWX. If you have conflicts in resources used in different playbooks, you will need to reorganize your playbooks in order to avoid the conflict.

For a single template, disabling `allow_simultaneous` will handle this.

[2020-08-24 16:01] #7968 closed, assigned to nobody

[2020-08-24 16:10] AlanCoding commented on #7058
Link https://github.com/ansible/awx/pull/7971

several points made here should be ready to get incorporated into that.

[2020-08-24 16:24] AlanCoding commented on #7058
Picking up from prior comments here:

Lately we have been trending toward a model where we just have 1 execution environment that replaces the current Ansible virtual environment. In addition to this, we still have the base image, that is built from:

https://github.com/ansible/ansible-runner/blob/devel/Dockerfile

I think that @shanemcd has sufficiently made the case that this is non-trivial to m

[2020-08-24 16:54] jakemcdermott opened #7977 "Inventory Host Facts display strange loading behavior"
**expected behavior**
The details should appear loading until the data request resolves.

**actual behavior**
The fact component displays momentarily, disappears, then shows again when the request resolves.

**additional information**
![host_facts_load1](https://user-images.githubusercontent.com/9753817/91073160-a0cae600-e608-11ea-8936-a4d7d110413f.gif)

[2020-08-24 17:08] mabashian commented on #6561
@AlexSCorey it looks like this is now in progress?  I'm going go update the tags - if that's not correct then let me know.

[2020-08-24 17:33] jakemcdermott opened #7979 "Initialize variable fields to yaml"
* show `variables` details fields as yaml by default.

rationale:
  * classic ui works this way
  * yaml is more readable than json so it is a good choice as the default display format
  * we  :heart: yaml at ansible

[2020-08-24 17:41] philipsd6 commented on #7954
@jakemcdermott if you let me know where I can add documentation for this new feature, I will be happy to write it up.

[2020-08-24 18:38] ryanpetrello commented on #7655
I'm still a _little_ nervous about removing that - if the task manager takes 5+ minutes to start jobs, it makes me wonder when/if it would ever recover.  I *do* like the failsafe that it gives us to prevent deadlocks.

[2020-08-24 18:44] bwahmed opened #7981 "AWX is not pushing logs to datadog"
I have deployed AWX tower and configured log aggregator. When I press test button. It says success but logs are not pushed. I'm not seeing any logs in datadog.

AWX version I'm using is: 6.1.0.0

![Screenshot_2020-08-19 Ansible AWX SYSTEM](https://user-images.githubusercontent.com/45651587/91083430-ef5b9d00-e667-11ea-99ed-9415e83babd3.png)

[2020-08-24 18:50] ryanpetrello commented on #7981
Hey @bwahmed,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel.

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

I'd suggest first trying an upgrade to a newer version of AWX - the version you're using is pretty old at this poi

[2020-08-24 18:50] #7981 closed, assigned to nobody

[2020-08-24 19:53] bandwiches opened #7982 "Containers Not Listening"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Tried to upgrade to 10.x and postgres 9 -> 10 failed so I had to do some troubleshooting.  Eventually I blew away ~/.awx and the pgdata & awxcompose directories because nothing worked.  It didn't like my SECRET_KEY even though it was the same.

Next step was to just blow it all away and build a fresh 14.0.0 instance, needless to say I ran into more iss

[2020-08-24 19:53] dsesami commented on #7819
adjustments and comments here: https://github.com/ansible/awx/pull/7763#pullrequestreview-473813458

[2020-08-24 20:51] tiagodread opened #7984 "Fix Delete button styles on Survey's list"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

According to #7041 the danger button styles should only be applied to destructive final actions and trying to select a survey inside a job template, the danger delete button is shown instead of secondary variant.

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method:  docker for mac
* Ansible version:  2.9.11
* Operating System: MacOs
* Web Br

[2020-08-24 21:37] shanemcd commented on #7060
@Vacant0mens There are some pretty big changes coming in this area over the next couple months. We'll be announcing it in a more formal manner, probably via the mailing list, as things start to materialize in the near future. But the high-level answer is: we'll be rearchitecting how AWX runs on top of Kubernetes and utilizing [Receptor](https://github.com/project-receptor/receptor) as a backplane

[2020-08-24 21:38] tiagodread commented on #7984
The same problem happens when you try to select a inventory group on the inventory list:

![image](https://user-images.githubusercontent.com/12464858/91098643-3893f880-e638-11ea-8d5b-2ff2803acf38.png)

And also when you try to edit this group:

![image](https://user-images.githubusercontent.com/12464858/91099015-eacbc000-e638-11ea-8391-ccab9d578cc4.png)

[2020-08-25 14:01] AlexSCorey commented on #6561
@mabashian yes I that is right.

[2020-08-25 14:12] wdrury-uk commented on #4131
@matburt thanks for the response, but this is my challenge also.  In cmdline ansible-playbook, this is how I use my hosts, but now migrating into awx/tower seem to only be able to provide hostname/ip.

As per original feature request, is it not possible to provide _alias_ field in awx/tower for hosts to mirror the offering when using standalone inventory/hosts files?

[2020-08-25 14:18] matburt commented on #4131
The reason it works the way it does is because Tower/AWX doesn't do anything extra to the hosts that are in inventory. So whatever you are doing in standalone ansible would work the same way in Tower.

You can import inventory files from a project directly into a Tower inventory and it'll just pick up whatever vars are associated with it.

I'm not sure I understand what you are doing different on

[2020-08-25 14:28] dsesami commented on #7806
This will close with the merge of #7919

[2020-08-25 14:47] #7806 closed, assigned to marshmalien, dsesami

[2020-08-25 14:59] tiagodread opened #7989 "User type auditor can try delete/edit a inventory group"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

As an auditor user I can try to delete a group inside `Inventory > Group` tab when I select a specific Inventory group.

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker for mac
* Ansible version:  2.9.11
* Operating System: MacOs
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Logged in as an Auditor User:
1. Navigate to Inventor

[2020-08-25 16:38] ryanpetrello commented on #7870
I think this is done, @kdelee @AlanCoding:

[code]

[2020-08-25 16:42] ryanpetrello commented on #7982
Hey @bandwiches,

This *sounds like* some sort of Docker networking issue to me.  `docker ps -a` might provide some clues?

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-08-25 16:42] #7982 closed, assigned to nobody

[2020-08-25 16:43] shanemcd commented on #7982
This could also be docker networking gone sideways. What happens if you restart the docker daemon?

[2020-08-25 18:03] beeankha commented on #7498
The current `devel` module_utils favors name over ID when multiple objects are found. While this particular issue was being worked on, it became clear that we actually want to do the _opposite_ and favor the ID over name. This new default behavior would result in a much more precise lookup Collections-wide.

[2020-08-25 19:25] dsesami commented on #7930
bit of feedback here -- there is no way to identify if the timestamp in the list is the start time or the finish time. This could be confusing to users, so it should either be labeled, or both values should be visible in an obvious way. Everything else seems solid.

edit: this will be handled in a future issue.

[2020-08-25 19:34] tiagodread opened #7994 "/api/v2/hosts/:id/groups returns POST action to system auditor"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

As an auditor user I can try to associate a host to a group inside `Hosts > foo > Groups`

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker for mac
* Ansible version: 2.9.11
* Operating System: macOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Logged in as an Auditor User:

1. Navigate to Hosts
2. Select a host
3. Click on Gro

[2020-08-25 19:40] dsesami opened #7995 "[ui_next] Jobs list does not indicate whether or not the timestamp is a start time or end time"
This is notably present in both the main jobs list and the Instance Groups -> Jobs tab, but is likely present everywhere the jobs list is reused. Originally identified within https://github.com/ansible/awx/issues/7930

![Screenshot from 2020-08-25 15-38-48](https://user-images.githubusercontent.com/19942822/91219712-160de800-e6e9-11ea-834e-55ac0b31bddf.png)

The timestamp used on these jobs (examp

[2020-08-25 19:40] #7930 closed, assigned to nixocio, dsesami

[2020-08-25 19:46] tiagodread opened #7996 "User type auditor can't see Job template details"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
As an auditor user I can't see the details from a specific job template because I don't have permission for that

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker for mac
* Ansible version:  2.9.11
* Operating System: macOs
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Logged in as an Auditor User:

1. Navigate to templates
2. Se

[2020-08-25 20:00] bandwiches commented on #7982
**I'm leaving this here because I hate unresolved issues**

*Edit* - more context, the only services running on this host are docker, ansible, and python.  The only containers running are ansible/awx in docker.

@shanemcd restarting the service - no dice.  I also rebooted the server twice - no dice.

hey @ryanpetrello appreciate the response and links but freenode is basically a ghost town for the

[2020-08-25 22:42] misilot commented on #5720
Is there a work around for this?

[2020-08-26 08:50] lemmy04 commented on #7550
Updating to 14.0.0, same thing happened... I wish i could get rid of python2 alltogether

[2020-08-26 09:08] kenchrcum commented on #7870
No warnings on 14.1.0. Thank you all for working on this!

[2020-08-26 09:54] lemmy04 opened #7998 "ansible "virt" module is missing dependencies in awx_web"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
ansible comes with the "virt" module by default, but it is not usable in awx because the awx_task container does not have the libvirt python module installed.

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.12
* Operating System: openSUSE Leap 15.2

* Web Browser:

##### STEPS TO REPRODUCE

clone t

[2020-08-26 09:59] xstasi opened #7999 "RFE: Allow creation of only smart inventories by non-admins"
##### ISSUE TYPE

 - Feature Idea

##### SUMMARY

A customer would like to give individual technical teams the ability to create smart inventories, limiting the source pool to the hosts that they are supposed to see. A simplified example could be "team windows manages all the windows hosts and should not see any linux or aix".

The only permission currently available to unprivileged user is "inven

[2020-08-26 10:42] zedr commented on #4154
I've written a new example script from scratch, if anyone needs it: https://gist.github.com/zedr/6979ab2fc49fe13e752a9896d6195c4d

[2020-08-26 11:25] lemmy04 commented on #7998
oh for the love of god - this wasn't because of the libvirt module missing inside AWX at all.

something had switched from python3 to python2 on the target host, and the python2-libvirt package is not available on Leap 15.2...

[2020-08-26 11:25] #7998 closed, assigned to nobody

[2020-08-26 11:50] cermegno opened #8000 "REST API call to create a job template schedule does not create schedule"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When sending REST API call ( _POST /api/v2/job_templates/{id}/schedules/_ ) the schedule is not created and no error is returned. The same schedule can be successfully created from the Web UI and then retrieved via REST API ( _GET /api/v2/job_templates/{id}/schedules/_ )

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* A

[2020-08-26 12:27] #7870 closed, assigned to kdelee

[2020-08-26 12:28] ryanpetrello commented on #7550
@lemmy04 is this a duplicate of https://github.com/ansible/awx/issues/7998, or something else?

[2020-08-26 13:10] cermegno commented on #8000
The URL was missing a '/' at the end

[2020-08-26 13:10] #8000 closed, assigned to nobody

[2020-08-26 14:11] dsesami opened #8002 "Schedule Add form crashes when selecting a run frequency"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. Visit a schedules page. In my example, I went to a Job Template > Schedules Tab > Add
2. Select a run frequency from the dropdown (once, daily, monthly)

#### EXPECTED RESULTS
The page loads normally.

##### ACTUAL RESULTS
The page crashes with the following error:

`TypeError: t.plural is not a function`

[2020-08-26 14:11] dsesami commented on #8002
This partially blocks https://github.com/ansible/awx/issues/6172

[2020-08-26 14:22] dsesami commented on #7977
This appears to simply no longer flicker. :100:

[2020-08-26 14:22] #7977 closed, assigned to jakemcdermott, dsesami

[2020-08-26 14:23] ppodgorsek commented on #7253
I had a similar issue, the AWX Task logs helped identifying the problem as they were showing many occurrences of a specific message like below:

If this can help anyone, I managed to solve it by increasing the max number of connections on the database side.
Using PostgreSQL, it was by default set at 100 but this was insufficient. (see https://stackoverflow.com/questions/30778015/how-to-increase-th

[2020-08-26 14:34] dsesami commented on #8002
I suspect this is related to running in production mode; see discussion in https://github.com/lingui/js-lingui/issues/437

[2020-08-26 14:42] unlikelyzero commented on #8002
@dsesami @mabashian before you close this, please do a brief look at the e2e tests to understand how we missed this in our automated coverage

[2020-08-26 14:50] #7984 closed, assigned to nixocio

[2020-08-26 14:53] tumluliu commented on #6792
ran into the same `UndefinedTable: relation "main_instance" does not exist` problem with `14.1.0` installed with `docker-compose` and vanilla settings. Fixed by

1. running `awx-manage migrate` within `awx_task` container
2. restarting `awx_task` container

as mentioned by @johnrkriter (thanks a lot!)
But could not understand what is the major difficulty to resolve this

[2020-08-26 14:57] tiagodread commented on #7984
The stubs created looking for this feature: https://github.com/ansible/tower-qa/pull/5453

[2020-08-26 16:20] bmwant opened #8005 "Cannot find host when launching job template via provisioning callback"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
[code]
when launching job template with provisioning callback url

[code]

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: Ubuntu 18.04.3 LTS
* Web Browser: Chrome / does not apply

##### STEPS TO REPRODUCE

1. ssh into EC2 instance on AWS
2. call curl command `curl --data "ho

[2020-08-26 16:29] bmwant commented on #8005
Duplicate of https://github.com/ansible/awx/issues/2507.
Resolved by adding extra setting for https://docs.ansible.com/ansible-tower/3.2.6/html/administration/proxy-support.html

`Setting` -> `System` -> `Remote Host Headers` --> `HTTP_X_FORWARDED_FOR`
![Screen Shot 2020-08-26 at 7 28 44 PM](https://user-images.githubusercontent.com/3602533/91330680-70cf3e80-e7d2-11ea-811d-19b7763f0bd7.png)

[2020-08-26 16:29] #8005 closed, assigned to nobody

[2020-08-26 17:18] ryanpetrello opened #8006 "using set_stats with large amounts of data slows down UI and API endpoints"
1.  Create an inventory w/ 25+ (local connection) hosts.
2.  Run this playbook w/ a 100MB artifact file for `set_stats`:

[code]

[code]

3.  Go to `/api/v2/inventories/N/hosts/`
4.  Become very, very sad:

<img width="372" alt="image" src="https://user-images.githubusercontent.com/214912/91335777-e15c6800-e79e-11ea-8d52-f29c2efdbcf4.png">

[2020-08-26 17:34] john-westcott-iv opened #8009 "Create ad-hoc command module"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per PR #7963 we are missing a module to interact with the ad_hoc_commands endpoint

[2020-08-26 17:34] john-westcott-iv opened #8010 "Create tower_application module"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per PR #7963 we are missing a module to interact with the applications endpoint

[2020-08-26 17:35] john-westcott-iv opened #8011 "Create a tower_instance_group module"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per PR #7963 we are missing a module to interact with the instance_groups endpoint

[2020-08-26 17:35] john-westcott-iv opened #8012 "Create a tower_inventory_script module"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per PR #7963 we are missing a module to interact with the inventory_scripts endpoint

[2020-08-26 17:36] john-westcott-iv opened #8013 "Create a tower_workflow_approval module"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per PR #7963 we are missing a module to interact with the workflow_approvals endpoint

[2020-08-26 17:36] john-westcott-iv opened #8014 "Add instance_id to tower_host module"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per PR #7963 tower_host is missing support for the instance_id API parameter.

[2020-08-26 17:37] mabashian commented on #8002
@unlikelyzero @dsesami I _think_ that this would only be triggered by running the command to compile the strings.  It's been a looooong time since we did that and pushed to devel (mostly because we didn't think it would have any impact on the app).  Obviously that's wrong.  We should probably get in the habit of compiling and committing the strings to the repo on some cadence to make sure things l

[2020-08-26 17:37] john-westcott-iv opened #8015 "Add insignts_credential paramter to tower_inventory"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per PR #7963 tower_inventory is missing support for the insights_credential API parameter.

[2020-08-26 17:37] #7041 closed, assigned to nixocio, tiagodread

[2020-08-26 17:39] AlanCoding commented on #8014
Is this field really editable? And should it be?

[2020-08-26 18:11] #8002 closed, assigned to mabashian

[2020-08-26 18:35] wenottingham commented on #8012
Deprecated feature, I would not add this.

[2020-08-26 19:04] tiagodread opened #8017 "Delete button inside kebab doesn’t works when trying delete on or more items"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Trying to delete some resource like Credentials, Organization etc using "Delete" option inside a kebab nothing happens.
See: https://github.com/ansible/awx/issues/7831

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker for mac
* Ansible version:  2.9.11
* Operating System: MacOs
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Na

[2020-08-26 19:24] john-westcott-iv commented on #8014
@AlanCoding It is editable via the API, not sure if it should be or not.

[2020-08-26 19:26] AnishAnil opened #8018 "AWX not updating or showing the new playbooks added to the git repository"
##### ISSUE TYPE
 AWX not updating or showing the new playbooks added to the git repository

##### SUMMARY

AWX not updating or showing the new playbooks added to the git repository.

I have AWX installed on Ubuntu using a docker compose on AWS EC2 Instance and is working as expected and able to login to AWX. Initially we started saving the playbooks on instances using the "machine" option but the

[2020-08-26 19:30] AlanCoding commented on #8014
In recent memory, the UI actually had some issues with this. I think that was #7591

[2020-08-26 19:36] beeankha commented on #7353
PR https://github.com/ansible/awx/pull/7963 has been merged, closing this issue!

[2020-08-26 19:36] #7353 closed, assigned to john-westcott-iv

[2020-08-26 20:02] dsesami commented on #6172
Looks great!

[2020-08-26 20:02] #6172 closed, assigned to mabashian, dsesami

[2020-08-26 20:06] wenottingham commented on #8018
You need to update the project after adding new playbooks to the repo. You can do this on a schedule if you like

In any case, this is a usage issue. This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/

[2020-08-26 20:06] #8018 closed, assigned to nobody

[2020-08-26 20:10] mabashian commented on #5966
This was fixed somewhere along the way:

<img width="1426" alt="Screen Shot 2020-08-26 at 4 10 04 PM" src="https://user-images.githubusercontent.com/9889020/91351649-a0704d80-e7b6-11ea-82ab-523bb6780658.png">

Moving to needs_test

[2020-08-26 20:29] tiagodread commented on #7938
The same problem happens outside a modal if your screen resolution is less than `1723px`:

![image](https://user-images.githubusercontent.com/12464858/91353472-b1728c00-e7c1-11ea-908e-8bcbacc46c22.png)

[2020-08-26 20:51] wdrury-uk commented on #4131
For example extract of _inventory_ file of hosts looks like:
[code]

But in tower/awx when adding a host, you can only provide Host Name and Description.  But if I treat Description like Alias in inventory file the play will fail.

I was expecting Name/Alias, Host therefore being the equivalent of Alias and ansible_host value in the inventory example above.

Does that make sense, am I missing some

[2020-08-26 20:58] wenottingham commented on #4131
There's a variables section for a host, that's where `ansible_host=x.y.z` goes. In your inventory example above, what you're doing is declaring a host named `twrapp1` with variables of `ansible_host=192.168.1.100` (and any other key=value pairs you have after it).

[2020-08-26 21:46] tiagodread opened #8020 "Items inside kebab has visual inconsistencies across ui_next"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The style of the items inside kebab is different across different resources (Organizations, Inventories etc..)
See: https://github.com/ansible/awx/issues/7831

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker for mac
* Ansible version:  2.9.11
* Operating System: MacOs
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Navigate to

[2020-08-26 22:05] krisvoegele commented on #1125
@jpurcell3 I'm currently experiencing this issue. I'm a bit confused regarding the answer you said helped you. Did you have to re-install awx with the proper DNS config in the install inventory? Any help would be greatly appreciated.

[2020-08-26 23:57] sentient commented on #2934
Is this still an issue in August-2020 with AWX 14.0.0
I am trying to get the inventory for us-gov-east but I cannot figure out any work-around to get this working
Running the docker-compose runtime

I did see Tower had issues https://access.redhat.com/discussions/4854041
but where do we change this for awx?

[2020-08-27 00:06] sentient opened #8021 "inventory from us-gov-east-1"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to set region of GovCloud us east;
us-gov-east-1

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.11
* Operating System: Ubuntu
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Click \ Inventories \ sources \ Amazon EC2 \ Regions drop down does not have a US-EAST (GovCloud)

##### EXPECTED RE

[2020-08-27 03:02] AlanCoding commented on #7944
Because you want to use the credential's value, as opposed to hard-coding the value in the config? The use case I have in mind is someone who doesn't have easy access to modify either the inventory plugin or the credential type injector definition (which is probably reasonable/common). This would just be one more thing to help them make it do what they're trying to do.

Also... the CLI lets you.

[2020-08-27 04:03] jamielennox commented on #5323
I was really surprised to not find this, it basically implies we should go github -> some ci -> AWX because it's the only way to control the triggers. For people in future, the really simple version of this i've done in my repo is:

[code]

Our job history is pretty much destroyed because there are a lot of job runs that basically end up with the whole play skipped. It also means i have a seperate

[2020-08-27 12:00] jpurcell3 commented on #1125
Hi krisvoegele, the issue is that the Linux VM and the AWX are using different local /etc/hosts files, as paramunix described in his post. AWX is a docker container and it does not have visibility into the Linux VM /etc/hosts file, so if you don't set a valid, accessible DNS server you get the name resolution errors that you are seeing.  The resolution is to use the docker commands that paramunix

[2020-08-27 12:17] gforster opened #8025 "Update Facts with package_facts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

running the `package_facts` module on a given host does not update the facts for that host.

Unsure, but this might be applicable to other `*_facts` modules like `ios_facts` as well.

[2020-08-27 12:51] sean-m-sullivan commented on #6875
If the on_continue function is approved for #7491 , we can implement it here.
Idea would be to add these 3 paramaters to the module
project update - bool - update project if this is true.
interval - int - interval time to wait between checks
timeout - int - time to wait to timeout update.

Then when project update is true, on_continue would be true, and we could invoke the project update, and the

[2020-08-27 13:25] AlanCoding commented on #7900
Sorry for the delay in issue triage lately. I'm going to close this as a duplicate of #5248

There have been some new ideas lately, but I will put further comments in that issue.

[2020-08-27 13:26] #7900 closed, assigned to nobody

[2020-08-27 13:29] AlanCoding commented on #5248
I put up #7367 as a possibility, but it would still need some more work.

[2020-08-27 14:22] gp185132-ncr opened #8026 "AWX Email Notification Not Working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Hi ,

Iam new to AWX , and iam trying to send an Email Notification on state success of my Job Template which takes Backup of Configuration in a Device .
The Job template is running fine with success but the Email Notification is not being generated on success .
I would like to confirm on below Necessary parameters (*) while

[2020-08-27 14:57] krisvoegele commented on #1125
@jpurcell3 thanks for the response! As far as I'm aware the /etc/hosts file is for hostname to IP mapping which is not practical when you have ~300 hosts. What's more is the VM's /etc/hosts file does not specify any hostname to IP mappings, however, hostname resolution works (VM checks hosts file then if there is no match, performs DNS query) . Currently, the container (awx_task) is able to ping t

[2020-08-27 15:46] dsesami opened #8027 "Workflow JT sparkline does not link to job correctly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The sparkline on `/next/templates/workflow_job_template/XYZ/details` does not link to the proper output. It tries to link to `/next/jobs/playbook/22/output`, but should link to `/next/jobs/workflow/22/output`

##### STEPS TO REPRODUCE
1. Launch a workflow.
2. Visit the WFJT details page, and click the green/red sparkline to link to a recent job. This r

[2020-08-27 16:14] #8015 closed, assigned to nobody

[2020-08-27 16:29] #8027 closed, assigned to nobody

[2020-08-27 19:12] john-westcott-iv commented on #8010
Started in https://github.com/ansible/awx/pull/7845

[2020-08-27 19:29] wenottingham commented on #8026
This is a user question about how to set up the notifications (you need to set details for your mail server).

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-08-27 19:29] #8026 closed, assigned to nobody

[2020-08-27 19:44] nixocio opened #8031 "Add expand to variable fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add feature to expand variables fields.

As an example, in the classic ui.

![expand](https://user-images.githubusercontent.com/9053044/91487714-30c49600-e87c-11ea-844d-475204355895.gif)

[2020-08-27 19:45] nixocio commented on #8031
Not sure if copy data should be added as well.

[2020-08-27 21:11] jamesmarshall24 opened #8032 "Per Job Template Job Retention for Cleanup Management Jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The feature should allow all jobs related to specified job template be exempt from the removal of job history in Ansible Tower.

[2020-08-27 22:15] bandwiches commented on #7982
Fixed.

@ryanpetrello it was the certificate, not sure when it changed or what changed it but it was related to nginx & the cert.

Notably, the last two lines when logging `awx_web`:

[code]

I actually found this when I decided to try a fresh install of 9.3.0.  The difference being that in 9.3.0 the logs are much cleaner and in 14.0.0/14.1.0 it looks like a monstrous combination of all the logs f

[2020-08-28 10:18] AlexisEgger opened #8034 "Adding a Workflow job trace in Job Events"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add a workflow_job_id_trace array in job events.

Related to issue  #3770

Reason:
There is currently no way of eficiently keeping tracks of job events emitted within nested workflows (workflow_job_id is replaced by last workflow).

Description:
The idea is to define an array within job events in which each workflow will append its ID so that down t

[2020-08-28 13:04] adpavlov commented on #5146
there is also workflow schema key, but it still not recognizes workflow_approval node:

[code]

[2020-08-28 14:28] #7480 closed, assigned to mabashian, tiagodread

[2020-08-28 15:02] wenottingham commented on #8034
cc @Ladas as to whether this would be useful for other reasons

[2020-08-28 15:14] koleo opened #8036 "tower_role fails to grant credential access"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using awx collection, granting credential access (read, use or admin) to a user, using awx.tower_role module fails.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.12
* Operating System: Debian 10.5
* Web Browser: N/A

##### STEPS TO REPRODUCE

Here is my test playbook:

[code]

Run playbook with:

[2020-08-28 16:49] wenottingham commented on #8014
I think this is the internal field used by source-imported hosts. I don't know if it has a use for manual hosts.

[2020-08-28 16:52] #8012 closed, assigned to nobody

[2020-08-28 16:54] AlanCoding commented on #8036
There are some related PRs recently, thinking of https://github.com/ansible/awx/pull/7945, I believe that fixes the KeyError, moving to needs_test

[2020-08-28 17:06] wenottingham commented on #8025
When you mean 'the facts for that host', do you mean the fact cache when fact caching is enabled, or just variables/facts used by the playbook?

[2020-08-28 17:08] wenottingham commented on #8021
@chrismeyersfsu how would your plugin change affect this?

We are in the process of changing how this region would be passed, but we do want to ensure that it works.

[2020-08-28 19:11] dsesami commented on #5910
Update: I suspect this has something to do with the current containers and not the WFJT form.

~I try to enable all of the workflow job template fields within the UI on devel, and a 500 error is generated when I try to save (usually on edit, not initial creation).~

Confirmed the above was due to a messed up DB.

[2020-08-28 19:11] p-avery opened #8042 "Ability to create a Custom Credential script"
##### ISSUE TYPE
 - Feature Idea
Ability to create a Custom Credential Script

##### SUMMARY

Just as we have the ability to create a custom inventory script, it would be beneficial have the ability to create custom credential plugin scripts, then we can add credential plugins to other credential stores that are not in the pre packaged list.

[2020-08-28 19:28] unlikelyzero opened #8044 "Inventory Source form's 'Inventory file' dropdown is deselected during Edit"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory Source form's 'Inventory file' dropdown is deselected during Edit. Previous option is not selected and form cannot be saved.

##### ENVIRONMENT
* AWX version: 40603c213af13ed40b7268aa6bd7f660fab3c112

##### STEPS TO REPRODUCE
1. Navigate to Inventory Source page
2. Edit existing Inventory Source
Note: 'Inventory file' select dropdown is desel

[2020-08-28 19:32] unlikelyzero opened #8045 "Error hidden on Inventory Source Edit page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Error text is squished on Inventory Source Edit page

##### ENVIRONMENT
* AWX version: 40603c213af13ed40b7268aa6bd7f660fab3c112

##### STEPS TO REPRODUCE
1. Create an Inventory with 'Update on launch' and 'Update on project update' enabled.
2. Save
Note error text is squished

##### EXPECTED RESULTS
Error text to take up entire span of form

##### ACTU

[2020-08-28 19:41] wenottingham commented on #8042
This wouldn't be done in this way - storing code in a database is the wrong way to go (and completely fails in case of it having dependencies).

We've already deprecated custom inventory scripts in the db, and that feature will be removed. For custom credential types, just install the plugin alongside the others. See https://github.com/ansible/awx-custom-credential-plugin-example#awx-custom-creden

[2020-08-28 19:41] #8042 closed, assigned to nobody

[2020-08-28 19:44] #5910 closed, assigned to mabashian, dsesami

[2020-08-29 14:10] SasBer commented on #20
+1
Another example where Tower is too slow in standard features to be implemented. Especially considering the date when the case has been opened.

[2020-08-31 01:25] nixocio commented on #7105
All cases that could be updated were already updated. No more warnings being generated. Closing this one.

See: https://github.com/ansible/awx/pull/7108

[2020-08-31 01:25] #7105 closed, assigned to nixocio

[2020-08-31 06:56] Ladas commented on #8034
@wenottingham right now we're passing the workflow hierarchy to rollup the stats (e.g. number of failed hosts under root workflow). Not sure if this would help us to get the computation faster.

Also we might have usecase of showing all the workflow parents or nested schema, but that would focus on hierarchy of jobs, rather than events.

[2020-08-31 11:02] mikemci commented on #1179
I would like this feature implemented as described below for both groups and hosts. We are using Ansible Tower 3.7
Prompt on Launch for LIMIT in Ansible Tower job template is set.
Currently you have to input values for group(s) or host(s) in LIMIT.

Launch of job template should have choice to select by group or select by host for LIMIT.

If select by group
Launch of job template should show list

[2020-08-31 13:51] mabashian commented on #7816
At first I was thinking that we should put something like `User Type` in the first column for this particular row but now idk...  Since the role can be removed it would seem odd to label it as `User Type`.  @wenottingham any thoughts on this one?  The first column displays the resources name in link form, the second column shows the resource type.  In the case of the system auditor role we don't h

[2020-08-31 15:58] wenottingham commented on #8034
I would note that due to performance considerations, doing *any* modification/injection into the event processing is frowned upon.

[2020-08-31 16:30] wenottingham commented on #7816
I assume System Admin has the same issue.

If we're describing what the resource they have access to is, options are probably:
- leave it blank
- have a hardcoded 'System' tag there (that isn't a link)

[2020-08-31 17:03] wenottingham opened #8050 "Support Azure DevOps webhooks"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Azure DevOps has code hosting, with its own webhook mechanism. It would be useful if AWX et al supported this.

https://docs.microsoft.com/en-us/azure/devops/service-hooks/services/webhooks?view=azure-devops

[2020-08-31 18:52] samalv commented on #1747
I can't add tags to workflow :-(

[2020-08-31 19:10] mvebe commented on #7715
You can manually adjust this with:

vi /var/lib/awx/vendor/awx_ansible_collections/ansible_collections/community/vmware/plugins/inventory/vmware_vm_inventory.py
    289         self.with_tags = True #with_tags
which i've just tested as working.

Also,

in AWX GUI -> source vmware vsphere -> question mark at source variables:
Override variables found in vmware.ini and used by the inventory update s

[2020-08-31 19:27] mabashian commented on #7835
I've got this mostly working here: https://github.com/mabashian/awx/tree/7835-galaxy-cred-org

I'm going to wait for https://github.com/ansible/awx/pull/7817 to merge though before opening up a PR so as not to muddy the waters on that original PR.

[2020-08-31 21:50] jpell958 commented on #7619
I have tested the PR #7840 and the behavior has not changed.  Issuing a call to tower_credentials without inputs continues to wipe-out existing inputs (i.e. username and password)

Here is an example of my test:
[code]
notice: no inputs - I am requesting to make no further changes to inputs  (current values should remain in place but they are wiped in current PR)

Please test and let me know your

[2020-08-31 23:06] one-t commented on #8036
Verified on devel using the following playbook:

[code]

[2020-08-31 23:06] #8036 closed, assigned to nobody

[2020-09-01 02:38] AlanCoding commented on #7619
I was able to run your tasks in a playbook

[code]

At the end of that, I find that the Joe_test credential still has the inputs. In the API:

[code]

It looks like that example is working to me.

[2020-09-01 08:07] hhenkel commented on #2362
Hello all,

this issue is open for almost two years and we recently started to use callbacks and experience this issue as well. As the company I'm working for is using the commercial version of AWX,  ansible tower with support, we opened a case there.

In the cases we found out, that the sync user needs to have administration rights on satellite, as otherwise the sync times takes ages. This is doc

[2020-09-01 10:53] hellracer commented on #5720
The workaround would be remove this in your ansible.cfg then create a credential with vault as a type on the UI then attach this credential to your job template that need this credential, a bit annoying but not really a big deal to say the least

[2020-09-01 10:57] hellracer commented on #5720
i'm about to file this as the same bug, but i stumble upon this and i think as long as some workaround exist it's ok and this is very a subtle bug imho

[2020-09-01 12:07] misilot commented on #5720
@hellracer, so I would need to maintain two repos of playbooks one for running directly as a user and another for use with AWX?

[2020-09-01 12:30] hhenkel commented on #2362
Just as a follow up regarding the inventory sync times from satellite. I looked into the issue and it seems that due to the used config  in ansible tower, the inventory sync script is responsible for the slow sync. The initial fetching of the data what hosts are available is quite fast (those 19 seconds from above) for a satellite / foreman installation, but once the script did fetch that informat

[2020-09-01 13:18] jpell958 commented on #7619
@AlanCoding - I figured out what was happening on my end.  The controller I was using to target my AWX 14.0 environment was running collections version 13.0.  I move over to the machine that had collections 14.0 installed and it worked as you noted - Thank you for the reply and the verification script.  I am good to go now.

Thank you @beeankha for fixing this!

[2020-09-01 13:37] SteveKeller opened #8051 "Ansible Roles not found"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hi Together,

I have installed a working AWX and tried to import a new project with existing ansible git repo.
The git repo contains several playbooks and roles creates by myself.
The playbook and roles are working great with the plain ansible engine.
Now i try to migrate to AWX.

The repo is structured as follow:
[code]
##### ENVIRONMENT
* AWX version

[2020-09-01 14:04] jpell958 commented on #7766
Verified!
Thanks @AlanCoding for fixing this!!!

[2020-09-01 14:09] AlanCoding commented on #8051
You list an `ansible.cfg` in your project, what did you put in that? I would think you should _want_ to put in

[code]

I get that this doesn't work for every situation.

The very important implied knowledge that AWX relies on here is that the working directory will be the root of the project. That plays out in a very particular way with how Ansible config file preference goes:

https://docs.ansib

[2020-09-01 14:14] tiagodread opened #8052 "User type auditor can try to edit a Workflow template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
As an auditor user I can try to edit a workflow template on visualizer graph
See: https://github.com/ansible/awx/issues/7663

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: docker for mac
* Ansible version:  2.9.11
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Logged in as an Auditor User:

1. Navigate to Te

[2020-09-01 14:33] tiagodread commented on #7663
This feature was merged, tests are written. 👍🏽

[2020-09-01 14:33] #7663 closed, assigned to mabashian, tiagodread

[2020-09-01 14:44] SteveKeller commented on #8051
Yes, thats the solution, relatives path in ansible.cfg!

`
roles_path=roles/folder1:roles/folder2
`

AWX will get it inside the /tmp/awx_.... running folder :)

I didn't thought of it, because I was migrating an existing repo with absolute paths to /etc/ansible/roles/folder1 and 2.

Answering my own questions:
1. Yes
2. Yes with relative paths
3. Split up in separatly repos

@AlanCoding Thanks a l

[2020-09-01 15:08] ryanpetrello commented on #7982
@bandwiches,

Thanks for the follow-up - glad you got it squared away.

[2020-09-01 15:21] mabashian commented on #7145
OK I know I've seen this bug before but now I can't reproduce.  Also, the datetime-local input isn't supported in FF currently: https://bugzilla.mozilla.org/show_bug.cgi?id=1306217.  As a result, the field is just a text input in FF.  I'm inclined to leave this be until PF implements a date/time picker: https://github.com/patternfly/patternfly-react/issues/4504

At that point, this will probably g

[2020-09-01 15:30] dsesami opened #8053 "Websocket output page doesn't always properly update"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I don't know if this only happens with "problematic" adhoc jobs or for all jobs (I tried this with an ad hoc command on @AlexSCorey 's branch with a malformed command, but sometimes the websocket updates don't seem to come through properly. I also don't think this is related to that PR.

Try these steps:
1. Launch a job that's going to fail for some re

[2020-09-01 16:08] #8051 closed, assigned to nobody

[2020-09-01 16:38] jakemcdermott commented on #8053
related & possibly overlaps w/ some work done for: https://github.com/ansible/awx/pull/7940

[2020-09-01 17:17] unlikelyzero commented on #7831
@jlmitch5 @wenottingham @mabashian there are enough issues that I think we should move this back into `needs_devel`
https://github.com/ansible/awx/issues/8020
https://github.com/ansible/awx/issues/8017
https://github.com/ansible/awx/issues/7938

[2020-09-01 17:23] one-t commented on #8006
Tested using a slightly modified example playbook on a local k8s install.

[code]
This is now working as expected, response times were around 0.05 seconds, which is normal for this installation.

[2020-09-01 17:23] #8006 closed, assigned to one-t

[2020-09-01 17:26] ghost commented on #7854
@shanemcd Why is this not specified in the upgrade documentation or at least the release notes?

If the upgrade is no longer seamless it needs to be mentioned somewhere that going from < v14 to v14 or higher requires additional manual intervention.

[2020-09-01 17:31] ryanpetrello commented on #7854
@nvonwolf this isn't an issue we noticed until users reported it on upgrade (which is after we created the changelog/release notes)

Does this seem reasonable cc @shanemcd?

https://github.com/ansible/awx/pull/8054

[2020-09-01 17:35] ghost commented on #7854
Thanks for the quick response.  Issue is solved for me after finding this thread but other may not be so lucky.

[2020-09-01 17:37] mabashian commented on #8052
Note that the user actually shouldn't see a START button in the above GIF.  I've fixed that in #8055.

[2020-09-01 17:42] ryanpetrello commented on #5735
@unlikelyzero you have any updates on this one?

[2020-09-01 17:46] unlikelyzero commented on #5735
@ryanpetrello I lumped it into a general credential test refactor which kept creeping in scope. Let me short circuit the coverage and link back to this PR to close it out

[2020-09-01 19:28] one-t commented on #5744
Verified on 3.8.0- this now returns the clean error message

[2020-09-01 19:28] #5744 closed, assigned to one-t

[2020-09-01 19:44] elyezer commented on #5150
Verification steps from the API perspective:

* Tried all the inventory sources with the shared plugin source_vars configuration and they are keeping the same behavior as before.
* Tried the new fields and checked that the are working as expected
* Went trough an upgrade process and made sure the source_vars was updated as expected

For tower inventory source the following source_vars are needed:

[2020-09-01 20:52] unlikelyzero commented on #5150
tested in PR #5464

[2020-09-01 20:52] #5150 closed, assigned to elyezer, chrismeyersfsu

[2020-09-02 08:55] zaskan opened #8059 "Additional modify permissions for objects"
##### ISSUE TYPE
 - RFE

##### SUMMARY

Tower lacks of some intermediate modify role between read and admin and this is applicable for all kind of objects in tower - projects, credentials, inventories.

Next higher level after read role is an admin. Admin has rights to grant permissions to other users up to admin level. Admin must be so powerful for sure, but current RBAC model really lacks modify

[2020-09-02 08:57] zaskan commented on #8059
Related with #7858

[2020-09-02 13:29] gforster commented on #8025
Sorry for the confusion, @wenottingham . I do mean the fact cache when fact caching is enabled (persistent beyond the playbook run).

[2020-09-02 14:13] zaskan opened #8060 "Ability to tag logs from UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, Tower doesn't provide the ability to tag logs from the UI as syslog does.

https://www.rsyslog.com/doc/v8-stable/configuration/templates.html#generating-json

It could be great to have this possibility from the logger configuration screen.

[2020-09-02 16:06] wenottingham commented on #8060
What is meant by 'tag logs from the UI'?

[2020-09-02 17:47] dsesami opened #8062 "Advanced search on tokens does not function"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The user is presented a localized version of the time of expiration when visiting the Tokens tab for a specific user.

For example, the UI might display this information:

But the API provides this information:

This is converted by the UI using `Date().toLocaleString()`. If the user provides a localized string, like 1/4/3020, the advanced search retur

[2020-09-02 18:37] zaskan commented on #8060
Using the OS syslog, is possible to send syslog messages using a tag type. For example, is possible to send messages from `/var/log/tower/tower.log` of type `INFO` with tag **"ANSIBLETOWER-TOWER-LOG"**
[code]
However, using the built in logging in Ansible Tower, there is no option in "**Settings>  System > Logging**, using "**Other**" aggregator to set a tag.

[2020-09-02 18:38] unlikelyzero opened #8063 "Inventory Sync websocket event does not update workflow node status indicator when finished"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory Sync websocket event does not update sparkline element when finished.

##### ENVIRONMENT
* AWX version: 77b1afe6fd7299c9fa764cd04f62a1afd73159f9

##### STEPS TO REPRODUCE
1. Create an Inventory Sync
2. Launch Inventory Sync via WFJT or within Inventories Relaunch Job tab
Note: Job status ends but sparkline element never finishes

##### EXPECT

[2020-09-02 19:44] ryanpetrello commented on #8060
This would involve adding a new logging setting specific to configuring rsyslogd tags.

[2020-09-02 19:54] wenottingham commented on #8060
I'm not sure we'd do it that way, to be honest - we already tag (effectively) with the *logger* that we're sending, and they should be able to filter on host + that.

What do they want to use the tags for?

[2020-09-02 20:13] nixocio commented on #7955
I ended up working in adding/editing a container group at the same time, since they are highly coupled - sharing the same form.

[2020-09-02 21:05] bandwiches commented on #7982
Thanks!

Part of this issue was actually related to `openssl `not adding the key to the `.pem` container.  It was only adding the certificate.  Without the key, NGINX can't verify anything, thus, kaboom.  **I ended up manually combining the key and cert into a single pem and magick!**

[2020-09-02 22:06] fosterseth commented on #7655
@ryanpetrello

one quick fix could be to limit the number of jobs a task manager can start on a given run. When it reaches that limit, it won't start any more `pending` jobs until the next run.

a quick implementation
https://github.com/ansible/awx/compare/devel...fosterseth:fix-7655_task_manager_times_out

If this limit is reached, we can immediately schedule a task_manager to run right after the

[2020-09-03 07:47] thisID opened #8066 "can you add web ui import"
Importing the host can only be done by file and manual import, which is too much trouble.
When several hosts of the list need to be closed to perform tasks, clicking one by one is too cumbersome,
want to be able to close and open  host  in bulk, or open and close them in groups.

Thank you for your efforts. I wish you good health

[2020-09-03 08:05] zaskan commented on #8060
The ability to log using tags would enable the remote logger system to draw up rules on the tagged logs to report on activity within Ansible Tower more effectively.

[2020-09-03 09:32] keilr opened #8067 "PRoot inside container"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Is this comment still valid?
https://github.com/ansible/awx/blob/77b1afe6fd7299c9fa764cd04f62a1afd73159f9/installer/roles/image_build/files/settings.py#L25-L26

Is there a way to activate PRoot inside containers in the meantime?

cc @matburt

[2020-09-03 12:15] ryanpetrello commented on #7655
@fosterseth yea I've thought on it some, and I think I like this idea - could you turn it into a PR?

[2020-09-03 12:27] cr00836 opened #8068 "tower_workflow_launch problem with extra_vars"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
WX 11.2.0  >
 --------------
        \   ^__^
         \  (oo)\_______
            (__)      A )\/\
                ||----w |
                ||     ||

Ansible 2.9.7
Copyright © 2019 Red Hat, Inc.
Visit Ansible.com for more information.

ALLOW_WORLD_READABLE_TMPFILES(/home/ansible/AWX.Cedacri.Provisioning-OS/ansible.cfg) = True
COMM

[2020-09-03 12:28] unlikelyzero commented on #8066
@thisID do you think this ticket https://github.com/ansible/awx/issues/4470 captures the same request?

[2020-09-03 12:38] ryanpetrello commented on #8068
@cr00836,

Does this work if you temporarily disable bubblewrap?

https://docs.ansible.com/ansible-tower/latest/html/administration/proot_func_variables.html

If so, you might want to whitelist `/tmp` if you want to reference files located there from within your playbooks.

[2020-09-03 12:50] cr00836 commented on #8068
Thank you for your help

Unfortunately it’s not working

My code is the simplest for testing purpose. Probably i don’t understand how to let it work

- name: Launch a workflow
  tower_workflow_launch:
    workflow_template: "WKF - Test"
    extra_vars: "@/tmp/var_file.yml"
  delegate_to: localhost
  run_once: true
  register: workflow_results

fatal: [localhost -> localhost]: FAILED! => changed=fa

[2020-09-03 13:06] matburt commented on #8067
This is a legacy property that comes from how Tower/AWX uses process isolation. At one time it used proot before switching to bwrap. The property here is still used even if its name doesn't identify the correct technology that it uses.

[2020-09-03 13:06] #8067 closed, assigned to nobody

[2020-09-03 13:28] keilr commented on #8067
@matburt thank you for the answer. Why not enabling it for the docker compose install scenario? Bubblewrap seems to work after enabling privileged mode for the awx_task container.

[2020-09-03 14:31] aklyachkin opened #8071 "Schedule is executed just once"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Frish installed AWX 14.1.0 with demo project. The Demo Project is synchronized, the Demo Job Template runs without any problem. A schedule is created which should start Demo Job Template every minute 5 times. The job is started just once.

I can't find any information in the logs. It looks like it starts once and that's ok.

##### ENVIRONMENT
* AWX ver

[2020-09-03 14:46] AlanCoding commented on #7064
Most of those look good, a few questions:

What does this mean? I thought the user is expected to use an image registry. Yes, there is some time required to download the images on a new machine (somewhat similar to how project syncs work), and timeout in some tests have to be relaxed for this reason, particularly as image size grows. But I don't know where you're going with this idea of bundled EE

[2020-09-03 14:48] cr00836 commented on #8068
just for clarification:
if i try a simple lookup it's work

TASK [role-wkf-win-start-bulk-deploy : debug msg={{lookup('file', '/tmp/isdeploying.yml')}}] *****************************************************************************************************************
Thursday 03 September 2020  16:45:46 +0200 (0:00:02.194)       0:00:02.220 ****
Thursday 03 September 2020  16:45:46 +0200 (0:00:02.1

[2020-09-03 15:07] ryanpetrello commented on #8068
@cr00836 it's possible this is just a bug in the older module (which is now deprecated).

Any chance you could give the new collection a try?

https://galaxy.ansible.com/awx/awx

cc @AlanCoding @beeankha @john-westcott-iv

[2020-09-03 15:24] nixocio opened #8073 "Add details page for container groups"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add details page for container groups

[2020-09-03 17:07] AlexSCorey commented on #6162
@dsesami I think this has been resolved in devel, but I'm not entirely sure that I understand what the issue is here.  Can you check the new ui to confirm?

[2020-09-03 18:02] jbradberry commented on #7064
Sure, but the reverse is not true.  Any given EE will wind up with many jobs that were run using it.

To be clear, I'm squishy as to whether this is an actually useful API endpoint, which is why I kicked the can down the road.

[2020-09-03 18:05] jbradberry commented on #7064
There is supposed to be an EE model instance that will be associated with and installed by any given version of AWX, that will have the reference to the image in the registry that is the expected default container EE that will be used.

[2020-09-03 18:12] unlikelyzero opened #8076 "[ui_next] Inventory Sync Job Status does not finalize via websocket"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory Sync Job Status does not finalize via websocket

##### ENVIRONMENT
* AWX version: cce66e366fb1f8c866d89f8551e5909c2888fbf5

##### STEPS TO REPRODUCE
1. Launch an Inventory sync job via Workflow Job Visualizer or Jobs List
2. Wait for Job to complete in success or failure
Note: Inventory Sync job never completes without refresh

##### EXPECTED

[2020-09-03 19:31] AlanCoding commented on #7064
Oh right, carry on. Something like `/api/v2/execution_environments/4/unified_jobs/`. I don't have a use, but it's a coherent idea.

I want to know a little more about the reasons here. @kdelee has done a lot to try and clarification expectations for the image version. Yes, we need to produce tags specific to AWX version, so you might have `:15.0.0` at the end of the image URL. But you could also h

[2020-09-03 20:26] AlexSCorey opened #8077 "Webhook Service RBAC"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

See: https://github.com/ansible/awx/pull/7975

A user that does not have permissions on an Inventory or Project or Credential should not be able to select a webhook service.  Additionally, if a user does not have edit permissions or add permissions should be not able to select a webhook service.  See https://github.com/ansible/awx/blob/devel/awx/ui/

[2020-09-04 03:16] jerryhwg opened #8079 "LIMIT value as input for callback plugin"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

https://docs.ansible.com/ansible/latest/plugins/callback.html

In ansible-playbook command line, run like
[code]
I can make a callback plugin to retrieve a variable like this way and use the returned value.
[code]
We prefer to use **LIMIT** option for the ansible target hosts in AWX.

A callback plugin can retrieve the value of LIMIT and use the ret

[2020-09-04 07:16] thisID commented on #8066
Have your considered adding this feature

[2020-09-04 07:44] zdriic opened #8080 "Job remains pending then waiting few minutes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
- task runner

##### SUMMARY

I have installed AWX 14.1.0 successfully but when I run the default project , the job is in "pending" mode then "waiting" before running but I have to wait a lot of time (several minutes). Why ??
There are no scheduled tasks and AWX is empty (project/templates/etc...) I haven't added anything

##### ENVIRONMEN

[2020-09-04 09:51] kakkotetsu commented on #6792
I had same problem , and it was resolved with same way...
(`Ubuntu 20.04.1` + `AWX 14.1.0` + `docker-compose` clean install)

[2020-09-04 10:44] evgeni commented on #2192
follow up on this topic is in https://github.com/theforeman/foreman-ansible-modules/pull/943 with slightly differently named variables to match the module parameter naming.

@wenottingham so far we've been trying to brand things correctly downstream, so "maybe"?
@sean797 might have a better answer here

[2020-09-04 11:37] AndrewSav opened #8081 "Please provide a better alternative to Custom Inventory Scripts that are being deprecated"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[Custom Inventory Scripts](https://docs.ansible.com/ansible-tower/latest/html/administration/custom_inventory_script.html) are being deprecated in favour of [inventory file importing from source control](https://docs.ansible.com/ansible-tower/latest/html/administration/scm-inv-source.html#ag-inv-import). However I feel this is throwing away the baby

[2020-09-04 11:56] ryanpetrello commented on #8080
Does this mean you're using a cloud-based external database, or postgres in a local container?

[2020-09-04 11:57] ryanpetrello commented on #8079
Hey @jerryhwg,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, the best place is the mailing list:

https://groups.google.com/d/msgid/awx-project/6842913a-d6ef-4582-a42d-d4217b14dcccn%40googlegroups.com?utm_medium=email&utm_source=footer

[2020-09-04 11:57] #8079 closed, assigned to nobody

[2020-09-04 12:11] AndrewSav commented on #8081
It seems that either I'm missing something, or situation is even worse, you can no longer use scripts at all, you have to put your _inventory_ in scm and the ability to run a custom script is completely removed - SCM or not.

Is this right?

[2020-09-04 12:15] AndrewSav commented on #7528
Is there any documentation how to plug in a custom inventory plug in in tower/awx? Or how to _write_ a custom inventory plug  for that matter?

[2020-09-04 12:27] AndrewSav commented on #4154
@zedr what's the plan with regards to this when custom scripts are removed in the next version of awx?

[2020-09-04 12:34] AndrewSav commented on #8081
Okay, I've been searching the issues / PRs in this repo:

- https://github.com/ansible/awx/pull/7763
- https://github.com/ansible/awx/issues/7528
- https://github.com/ansible/awx/pull/7577

It appears that there is some mysterious inventory plugin system is coming.

Concerns:

- At this point there is no documentation but the Custom Inventory Scripts is [already being removed](https://github.com/a

[2020-09-04 13:20] cr00836 commented on #8068
Thank you!
Its work!

Da: Ryan Petrello <notifications@github.com>
Inviato: giovedì 3 settembre 2020 17:07
A: ansible/awx <awx@noreply.github.com>
Cc: Damiano Marletta <Damiano.Marletta@Cedacri.it>; Mention <mention@noreply.github.com>
Oggetto: Re: [ansible/awx] tower_workflow_launch problem with extra_vars (#8068)

@cr00836<https://github.com/cr00836> it's possible this is just a bug in the older

[2020-09-04 13:21] #8068 closed, assigned to nobody

[2020-09-04 13:22] cr00836 commented on #8068
Solved by using the awx.awx 14.1.0

[2020-09-04 13:33] AlanCoding commented on #4154
The forward-looking way to use the netbox inventory would be to use https://galaxy.ansible.com/netbox/netbox

You can create a project with your inventory file and put a file `collections/requirements.yml` that lists `netbox.netbox` in a way that `ansible-galaxy` CLI can understand. That should work now.

With execution environments, #8030, we could talk about an additional feature to allow direct

[2020-09-04 14:03] unlikelyzero opened #8082 "[ui_next] File uploads on awx-pf do not restrict filesize"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
File uploads on awx-pf do not restrict filesize. Bad things happen

##### ENVIRONMENT
* AWX version: cce66e366fb1f8c866d89f8551e5909c2888fbf5

##### STEPS TO REPRODUCE
1. Find a file upload component like RSA Key upload
2. Upload a large file (200 MB+)

##### EXPECTED RESULTS
Clientside feedback to limit upload size

##### ACTUAL RESULTS
Browser crashe

[2020-09-04 14:03] mabashian opened #8083 "Add a size limit to credential field file uploads"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
https://github.com/ansible/awx/pull/7960 will add the ability to upload key files to some credential form fields.  Right now there is no upper limit on the size of the upload which can cause the UI to freeze if the file is quite large.  The files uploaded to this form _should_ be quite small.  If we select a sufficiently large upper limit I would hop

[2020-09-04 14:06] unlikelyzero commented on #8082
Duplicate of https://github.com/ansible/awx/issues/8083

[2020-09-04 14:06] #8082 closed, assigned to nobody

[2020-09-04 15:09] msilmser opened #8085 "increase verbosity in workflow approval window"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Customer request:

Adding additional information to the approval window itself would help alleviate this hurdle where approval nodes are heavily utilized.

[2020-09-04 15:10] nixocio opened #8086 "Align details in User List"
- Bug Report

##### SUMMARY
User list page is displaying data in the following format.

<img width="1480" alt="image" src="https://user-images.githubusercontent.com/9053044/92254563-15badd00-ee9f-11ea-8690-2f3e82b633da.png">

[2020-09-04 15:18] jerryhwg commented on #8079
Okay, btw, do you mean it's possible, so I need to find a way how to do it thru troubleshooting?

[2020-09-04 16:03] wenottingham commented on #8060
I guess I'm still not quite understanding it - what tag would you apply to all logs coming from a Tower, to filter with,  that is not already determinable by the fact that it's all logs coming from that Tower?

[2020-09-04 16:28] wenottingham commented on #8085
What version? We added additional details in AWX 11.2.

[2020-09-04 17:03] wenottingham commented on #8081
@AlanCoding can you provide the explanation here for what we're doing?

[2020-09-04 17:07] wenottingham commented on #8066
CLosing as a duplicate of #4470

[2020-09-04 17:07] #8066 closed, assigned to nobody

[2020-09-04 17:25] tiagodread opened #8088 "JT Options are available for users who doesn’t have permission to edit these information"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

See: https://github.com/ansible/awx/pull/7975
Also: https://github.com/ansible/awx/issues/8077

Users who doesn’t have permission on an Inventory or Project or Credential should be able to select the options `Privilege Escalation Provisioning Callbacks Enable Webhook Concurrently` but trying to save the error message "You do not have permission to per

[2020-09-04 18:04] AlanCoding commented on #8081
No, you can use scripts in SCM. I expect that inventory scripts will be around indefinitely, and the way we suggest using them now is to put them in SCM. I probably have 100s of examples of this, but here is one inventory script in source control that we are testing continuously:

https://github.com/ansible/test-playbooks/blob/master/inventories/dyn_inventory.py

To use this, you make a project fr

[2020-09-04 20:11] nixocio opened #8091 "List jobs related to container groups"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
List Jobs related to container groups.

[2020-09-04 20:16] #6561 closed, assigned to AlexSCorey

[2020-09-04 20:49] unlikelyzero commented on #6561
Covered by 5488

[2020-09-04 21:08] AndrewSav commented on #8081
@AlanCoding  This way:

[code]

The inventory is file is generated by terraform from a [template](https://github.com/AndrewSav/terraform_vsphere_vm_cluster/blob/master/templates/ansible_hosts.tpl).

This is a very low friction solution. What would be an analogue for that when you remove Custom Inventory Scripts?

[2020-09-04 21:27] AndrewSav commented on #8081
Thank you for that I can see that now. It is not very well documented, so I had to dig through code to understand how it works:

- awx calls awx-manage and passes whatever you put into the "Inventory File" script.
- awx-manage passes that as is to ansible-inventory
- ansible-inventory has internal [plugins](https://github.com/ansible/ansible/tree/bbd4ec13f1a2ceba493054fa6e846d749d9a875e/lib/ansibl

[2020-09-05 00:13] iabughosh commented on #3267
Same problem for me when using module 'docker_volume' in awx docker-compose version.

[2020-09-05 02:55] AlanCoding commented on #8081
Your terraform example goes through a lot data conversions. SCM inventory allows all types of Ansible inventory, so you could cut out the conversion to script and just put the ini-type file in source control instead.

You could even cut out the _templating_ process, but this gets into developing actual Ansible content. Getting the AWX inventory source closer to the ultimate source of truth makes l

[2020-09-06 22:57] AndrewSav commented on #8081
So this is the problem, the ini file is generated. I do not think that it belongs to SCM, especially knowing that the cluster is not gonna last beyond few days. It will clutter the commit history with something that is not relevant for the repository.

I understand what you are saying. And it is possible. It just becomes more complicated because you are removing a feature that was useful, and do n

[2020-09-07 07:15] zdriic commented on #8080
Yes I'm using a cloud-based external database.
But it worked well with awx-9.3.0.

Can it be related to this default setting "Isolated Launch Timeout:600" ?

[2020-09-07 12:55] clem13960 commented on #7052
Hello,

We are experiencing a similar issue with dynamic VMware inventory.
It happens only with vSphere 7 with workload management enabled (Kubernetes).

"version": "v0.7.2_vmware.1", "type": "inline"}
  File "/usr/lib/python3.6/site-packages/ansible/inventory/manager.py", line 280, in parse_source
    plugin.parse(self._inventory, self._loader, source, cache=cache)
  File "/usr/lib/python3.6/site

[2020-09-07 13:47] lbourgeois76 commented on #7492
Hello , I have the same trouble with : awx --version ==> 14.1.0

awx job monitor 748976   -k
------Starting Standard Out Stream------
{"detail": "JobEvent has no field named 'no_truncate'"}

[2020-09-07 15:40] digitole commented on #7699
I had the same problem on Docker for Mac, also got it working with the steps loquitoslack described.

Would be great to @geerlingguy 's  PR merged 👍

[2020-09-07 15:42] zedr commented on #4154
I've refashioned the Inventory Script into a proper Ansible Inventory Plugin: https://github.com/zedr/simple_netbox_inventory_plugin

[2020-09-08 09:24] lerminou opened #8093 "Keep comment in inventory during import"
#### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We have in out company some inventories with some variables per host / group.
When our build team comment some variables in inventories, these comments are skipped during the import to AWX,
So it's hard to track some changes about the variables for the exploitation team

Is it possible to keep the comment when the import is performed
![Capture d’écran

[2020-09-08 12:03] vguillard commented on #5080
I've got the same issue whith AWX 13.0.0 and my OVH Public Cloud

[2020-09-08 12:59] AlanCoding commented on #8081
It does more than that. The data model for inventory includes:

 - Host objects
 - Group objects
 - Memberships of hosts inside groups
 - Memberships of groups inside of other groups

The playbook in the issue is an incomplete work. It did hosts, groups, and host-group memberships. However, it can be written to cover all 4 things in the data model, and thus be a complete way to copying a local inv

[2020-09-08 14:23] AlanCoding commented on #7486
https://github.com/ansible/awx/blob/6e6aa1fdabf712c4469b6651474f027b321c06df/awx_collection/plugins/modules/tower_job_template.py#L133

This has been around for a little while in the `awx.awx` collection now. So I'm going to close as resolved.

[2020-09-08 14:23] #7486 closed, assigned to nobody

[2020-09-08 14:31] ryanpetrello commented on #5080
@chrismeyersfsu @elyezer seems like this should be cleared up by your recent changes?

https://github.com/ansible/awx/issues/5150
https://github.com/ansible/awx/pull/7763

[2020-09-08 14:35] beeankha commented on #5193
https://github.com/ansible/awx/pull/8033 is now merged, closing this issue!

[2020-09-08 14:35] #5193 closed, assigned to squidboylan, beeankha

[2020-09-08 14:57] stewardb commented on #5692
I am also experiencing this issue.  Looking to have the project shared with developers using their own branch and we need to be able to have it schedule jobs and use the inventory files from that specific branch.  They only way I can think of now is to create a new project for each scheduled run?

[2020-09-08 15:01] haribhauhud opened #8095 "tower_credential module does not support hashivault_ssh"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Ansible tower_credential module does not support "HashiCorp Vault Signed SSH" credential.
![image](https://user-images.githubusercontent.com/55002070/92494154-fa3f3180-f212-11ea-883c-80c56da3458a.png)

[2020-09-08 15:12] haribhauhud opened #8096 "HashiCorp Vault Signed SSH type credential to support passing vault namespace from UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Few organisation manages there credential using namespace, we should support that feature. Currently awx code/ui does not have option to pass namespace name, I did try. to fix locally on on env and it works!

[2020-09-08 15:21] sean-m-sullivan commented on #6875
This module should now provide what was desired
https://github.com/ansible/awx/blob/devel/awx_collection/plugins/modules/tower_project_update.py

[2020-09-08 15:58] termlen0 opened #8097 "Text matching for surveys"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

For use cases that need to select one among many choices, it will be great to be able to start typing the choice and get the match from the selection.
Eg: Reboot 1 device out of 1000. Add 1000 devices as a multiple choice survey element. When the user launches the playbook, they can start typing the name and the selection match will show up.

[2020-09-08 16:05] dsesami opened #8098 "Inventory does not update host list if sources are deleted"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Essentially, if you launch a template with an inventory that was synced with a source, and then delete that source, the inventory then cannot be synced and becomes "stale".

It should be noted that deleting an inventory source deletes its respective hosts automatically in the old UI.

##### STEPS TO REPRODUCE
1. Create a job template, WFJT, whatever ca

[2020-09-08 17:12] ravigawade opened #8099 "AWX v7.0.0 local build images not working"
##### ISSUE TYPE
 - Bug report

##### SUMMARY
Have been using AWX for 2+ yrs with official images and v7.0.0 for last 10months in which it uses Ansible 2.8.4 and python 2.7 within the containers venv and everything workd perfectly.  This time I build the images locally using my company's base images centos7. After few hiccups was able to build images successfully, upon deploying they AWX doesnt wo

[2020-09-08 17:22] chrismeyersfsu commented on #8021
Inventory plugins will now take data directly from `source_vars` and should be of the form documented in ansible https://docs.ansible.com/ansible/latest/plugins/inventory/aws_ec2.html#parameter-regions

[code]

[2020-09-08 17:23] stahloss opened #8100 "Support for composite variables in Workflow Surveys"
##### ISSUE TYPE
 - Add support for composite variables in Workflow Surveys

##### SUMMARY
It would be really nice to create composite variables when calling Workflows from other Workflows.
In the example below, OMGEVING is a variable defined in the parent Workflow, that should be usable in variable values of child flows.
This is a feature that is supported by Azure DevOps and proves to be very co

[2020-09-08 17:44] chrismeyersfsu commented on #5080
Looks like the Ansible OpenStack inventory plugin configuration doesn't support region as a parameter https://docs.ansible.com/ansible/latest/plugins/inventory/openstack.html Thus, our transition to inventory plugins will not solve your problem. All hosts in all regions will be returned. However, I think you can still accomplish the end goal of filtering or grouping by region using inventory plugi

[2020-09-08 18:15] ryanpetrello commented on #2115
@chrismeyersfsu similar to https://github.com/ansible/awx/issues/8021#issuecomment-689023564, is this something that should just work now that we've moved to a model where users can define explicit regions themselves?

[2020-09-08 18:20] ryanpetrello commented on #8099
Hey @ravigawade,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.  Given its age, it's possible that something about the 7.0.0 image has suffered some bitrot, but I can't say what without some digging.

If you need help troubleshooting an AWX install, you might have better luck on our mailing list or IRC channel; we generally reserve this issue tracker for tracking

[2020-09-08 18:20] #8099 closed, assigned to nobody

[2020-09-08 18:24] vCra commented on #5080
It's been a while since I last looked at this, but IIRC it did only use the default region at the time. We're no longer using OpenStack, so it's not too practical for me to test. But if all regions are returned, and regions are groupable, that seems like a good compromise. @vguillard are all vm's in all regions getting returned for you, or just for the default region?

[2020-09-08 19:39] wenottingham commented on #8093
How are you importing?

[2020-09-08 19:40] AlanCoding commented on #2115
With the inventory plugin config changes, we removed the region listing. That means we're not using the `boto` library to produce the region listing. As far as I can see, we're not using `boto` anywhere else, but it's still in the requirements.

https://github.com/ansible/awx/blob/cd8c74e28f3370f0c0690cce376e32d1be7f86ad/requirements/requirements.in#L5

So we may be able to remove this library wit

[2020-09-08 19:47] dsesami commented on #7640
This is closed out, but https://github.com/ansible/awx/pull/7929#pullrequestreview-476936979 needs to be addressed (separately). I am following up with @nixocio to see if there is an issue for it.

[2020-09-08 19:47] #7640 closed, assigned to nixocio, dsesami

[2020-09-08 19:47] #7801 closed, assigned to nixocio, dsesami

[2020-09-08 19:48] wenottingham commented on #8100
See the ALLOW_JINJA_IN_EXTRA_VARS setting; there are some complexities to allowing templating here as you need to avoid security issues.

At a practical level, you'd need to interpret and template these variables in a place that is currently unaware of their content at all. It's a larger change than it looks.

[2020-09-08 20:31] mabashian commented on #4254
OK here's my best effort on all of the places where this should happen:

1) User Form
   - Organization Lookup
2) Application Form
   -  Organization Lookup
3) Inventory Form
   - Organization Lookup
4) Smart Inventory Form
   - Organization Lookup
5) Project Form
   - Organization Lookup
   - Red Hat Insights -> Credential Lookup
6) Team Form
   - Organization Lookup
7) Job Template Form
   - Pro

[2020-09-08 20:38] unlikelyzero commented on #7877
@keithjgrant , @tiagodread and @unlikelyzero will be testing this when it's first available for `state:needs_review`. We've got most of the tests already written

[2020-09-08 20:39] lerminou commented on #8093
I have a inventory  with some vars defined per group/host defined in bitbucket
In Awx I just set the inventory source as external with the link to my repository and the checkbox "update when the project updates"
I also tried the checkboxes "override variables"  to perform a full replace but nothing change

[2020-09-08 21:14] tiagodread commented on #7876
Test and stubs are written and the PR was merged

[2020-09-08 21:14] #7876 closed, assigned to keithjgrant

[2020-09-08 21:16] ryanpetrello commented on #8080
@zdriic I don't think so.

`Not running scheduler, another task holds lock`

This suggests to me that AWX's periodic task manager is busy scheduling other work.  Do you have any details on the specs of your postgres server?  You might want to investigate slow queries on your postgres server - generally speaking, with cloud-based databases you're sort of at the mercy of their postgres tuning, and i

[2020-09-08 23:31] Vacant0mens opened #8106 "AzureAD SSO getting incorrect protocol when behind Kubernetes Ingress"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When AWX is set up in a k8s cluster with an Ingress that handles TLS termination, the callback/reply URL that comes from AWX says it's using `http` instead of `https`. AzureAD then rejects the login request because the URL it has stored doesn't match the URL in the request.

##### ENVIRONMENT
* AWX version: 2.9.11
* AWX install method: kubernetes with

[2020-09-08 23:33] wenottingham commented on #8093
I defer to @AlanCoding, but I believe the ansible-inventory procedure procesess ini/YAML  inventory in a way that comments do not survive; there's not much we can do about it.

Variables in general can be posted as either JSON or YAML, and any saving as JSON will eliminate any comments as well.

[2020-09-09 01:49] KodinLanewave commented on #5738
This is kind of a deal-breaker for my company to be able to use Organizations.  Commenting here to gain some traction on this, especially since it's gone un-touched since January.

[2020-09-09 05:43] eliranw commented on #8100
I work in a very large enterprise company, and we also need a solution for this problem. We tried adding Jinja templating in the extra_vars section of the workflow, and the workflow couldn't parse them as well.
Our only solution was to add another text field in the workflow's survey, and manually input another variable, or add logic into the playbooks themselves - both solutions which obviously ar

[2020-09-09 05:51] rfedida commented on #8100
It's super important feature to have user friendly workflows

[2020-09-09 07:27] stahloss commented on #8100
@wenottingham Maybe Jinja is overkill for this.

We just need to be able to reference other variables that are defined in parent Workflows.
In Azure DevOps you do this as follows `$(SomeVariable)-$(SomeOtherVariable)`.

[2020-09-09 08:11] vguillard commented on #5080
Inspired by https://github.com/openstack/ansible-collections-openstack/blob/master/scripts/inventory/openstack.yml, here is my necessary file:
[code]

**region_name** is not written by AWX.

I've hardcoded 'region_name' in [awx/main/models/credential/injectors.py](https://github.com/ansible/awx/blob/devel/awx/main/models/credential/injectors.py#L85) (in devel branch):
[code]

It works, my instance

[2020-09-09 11:41] al-lac opened #8107 "Create GitHub Releases to get notifications for new versions"
##### ISSUE TYPE
 - Create GitHub Releases

##### SUMMARY
Currently only tags are being created when a new version is out. GitHub releases would notify users about new versions and could also include a changelog.

This would keep users more informed about new releases and they will probably update faster.

[2020-09-09 12:20] cmasopust commented on #5428
Same issue here with Foreman 2.1.2 and AWX 14.1.0, lots of facts are missing

[2020-09-09 13:49] mabashian commented on #5913
@AlexSCorey moving this into in_progress since I know you've done a lot of work on it already

[2020-09-09 14:36] john-westcott-iv commented on #7277
The module should only be patching the settings endpoint with the new values you provide to it, not a full post so it should act like a merge. Is this not the behavior you are seeing? If not, can you send some sample playbooks?

[2020-09-09 15:20] AlanCoding commented on #8093
Maybe you meant that you put variables in `host_vars/` and `group_vars/` folders. That takes simple YAML and so I understand this expectation.

But we use `ansible-inventory` as an intermediary, and get JSON. I don't even know how one might go about passing through comments. Yes, it has a YAML option, but we can't use it because it's not the same data structure and the YAML data structure doesn't

[2020-09-09 16:42] AlexSCorey commented on #5913
@mabashian good call, thanks

[2020-09-09 17:55] snooyen opened #8108 "Running awx.awx.tower_export module as an AWX job does not support job_templates parameter."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I can run a playbook that uses the awx.awx.tower_export module locally, but this fails when being run as an AWX job.

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: K8s
* Ansible version:  2.9.11
* Operating System: Mac OSX
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Install the awx.awx collection version 14.1.0.
2. Run the provi

[2020-09-09 17:58] unlikelyzero commented on #7825
@trahman73 🔗  https://github.com/patternfly/patternfly/issues/3344

[2020-09-09 18:04] snooyen commented on #8108
https://github.com/ansible/awx/blob/caa7b43fe00d290c4ef01f9b8ca18fd26122ce2e/awx_collection/plugins/modules/tower_export.py#L108

@john-westcott-iv

Shouldn't the module define `job_templates` in the argument spec?

[2020-09-09 18:27] dsesami opened #8110 "Translation block fails with syntax error when running make ui-devel-next"
`CustomMessagesSubform.jsx` fails lingui compilation when using `make ui-devel-next`. To get around this temporarily, the PR for #6603 is going to include a temporary hotfix to remove the `<Trans>` tag, but this issue is about adding the <Trans> or i18n component back to this file, with proper syntax that passes `make ui-devel-next`.

The code block to fix is as follows. It used to be surrounded b

[2020-09-09 19:37] dsesami commented on #6603
This can be closed with the merge of #7905 and also the opening of a stubs PR. I will close it when that is ready.

[2020-09-09 19:50] AlanCoding commented on #8108
That is added as it loops over `EXPORTABLE_RESOURCES`.

See example:

[code]

I don't know how this worked for you locally, maybe you have an old version of the collection or something?

[2020-09-09 20:24] wenottingham commented on #8093
Closing; we cannot consider this due to the reasons above.

[2020-09-09 20:24] #8093 closed, assigned to nobody

[2020-09-09 20:26] snooyen commented on #8108
@AlanCoding

My local copy of the collection is `14.1.0` which according to the galaxy page is the latest.

[code]

In the `14.1.0` release of the `awx.awx` collection, the documentation string matches my original call against the `tower_export` module.  https://github.com/ansible/awx/blob/48f00587f878d519d2d3a48d74c254f0c2df8816/awx_collection/plugins/modules/tower_export.py#L66

Modifying my pla

[2020-09-09 20:46] mabashian commented on #8017
OK so I spent some time looking in to this issue and I think I generally know what's going on.  Rendering the `ToolbarDeleteButton` _inside_ a `Dropdown` component means that the confirmation `Modal` that we show on delete is also being rendered _inside_ the `Dropdown`.  The modal does pop up (as seen in the gif) but when you click on it (anywhere on the screen actually), the modal gets hidden and

[2020-09-09 20:52] AlanCoding commented on #8108
Ah, that looks like a bug in the example. The constant it's using uses the value "job_templates".

https://github.com/ansible/awx/blob/ccdb2b4ca3f3ed24f03652f0b3368bd9dc184eeb/awxkit/awxkit/api/pages/api.py#L24

So something needs a patch. I'm not completely sure what.

[2020-09-09 21:08] elyezer commented on #7813
Now that https://github.com/ansible/awx/pull/7817 is merged we can consider this as being verified from the API perspective. All verification was done before merging.

[2020-09-09 21:16] john-westcott-iv commented on #8108
Notice the output in the original post:
```fatal: [localhost]: FAILED! => {"changed": false, "msg": "Unsupported parameters for (awx.awx.tower_export) module: job_templates Supported parameters include: all, job_template, tower_config_file, tower_host, tower_oauthtoken, tower_password, tower_username, validate_certs"}```

Indicating that the supported params (not including standard connection) onl

[2020-09-09 22:23] snooyen commented on #8108
@john-westcott-iv
@AlanCoding

Thanks.  The default venv does not include awxkit as a pre-installed package.  Sounds like I'll have to prepare a custom venv to get this working.

FYI `job_template` was only listed as a valid module parameter because I had manually edited my scm-local copy of the awx collection to hardcode `job_template` into the argspec for `tower_export`.

Not sure if the omissio

[2020-09-10 00:38] sentient opened #8114 "dynamic group creation with yaml inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I use an ec2 dynamic inventory plugin (called from a repository resource), combined with a yaml inventory plugin.

I try to create dynamic parent group . e.g. a monitoring group that is the parent of the elastic group and kibana group.
Described as in https://docs.ansible.com/ansible/latest/plugins/inventory/yaml.html#examples

[code]
It has the 'empty

[2020-09-10 00:58] AlanCoding commented on #8108
The latter, it is expected that the user install what they need into a custom venv. The default venv pre-populates a single list of python libraries defined in:

https://github.com/ansible/awx/blob/devel/requirements/requirements_ansible.in

We have a solution to the dependency problem in-progress, and it comes along with running all jobs inside containers. To provide a dependency, you build an im

[2020-09-10 01:06] ryanpetrello commented on #7835
Hey @mabashian heads up, #7817 merged today.

[2020-09-10 02:13] john-westcott-iv commented on #8108
@snooyen Well, that may be a different bug then. The module should pickup the fact that awxkit is not installed and throw an error. There is actually two checks, 1 that awxkit is not there and one that awxkit has import/export functionality.

[2020-09-10 06:06] gp185132-ncr opened #8115 "CA provided certificate not working."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Iam trying to run AWX as https for which our CA has provided .cer file which I put in my inventory file for awx along with .key file in below two parameters
ssl_certificate=/u000/awx/certs/rpc12639.cer
ssl_certificate_key=/u000/awx/certs/rpc12639.key

Post saving and try running installation again of awx , when i can see port mapping being formed as be

[2020-09-10 06:11] guhilling commented on #8071
We got a similar problem here. It seems that after the first run the schedule is recomputed and the execution times (including "last run") are 1 week in the past. So it's done. No clue why this happens.

[2020-09-10 07:42] sugitk opened #8116 "`REVERT` link on all of configuration screen in Setting reflects immediately without a confirmation dialog"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

`REVERT` link on all of configuration screen in Setting reflects immediately without a confirmation dialog.

##### ENVIRONMENT
* AWX version: Tower 3.7.2
* AWX install method:
* Ansible version:  2.9.13
* Operating System: RHEL 7.8
* Web Browser: Chrome 85.0.4183.83

##### STEPS TO REPRODUCE

Open Settings -> Authentication -> LDAP and click a `REVERT

[2020-09-10 07:55] thisID opened #8117 "The work template is scheduled according to the week, and problems can occur"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I created a working template and set it up for execution every Monday night at 23:00。
The work template is scheduled according to the week, and problems can occur，
If according to the time, day, month, year, then there is no problem。
##### ENVIRONMENT
* AWX version: 13
* AWX install method:  docker on linux
* Ansible version:  2.9.10
* Operating Syste

[2020-09-10 10:40] brlin-tw commented on #7623
For drone CI it is possible to specify a map of private HTTPS repo URLs <--> private SSH repo URLs to workaround the problem, is that feasible in AWX?

[2020-09-10 12:32] aklyachkin commented on #8071
@guhilling Thank you Gunnar for your comment! I really didn't notice it, but you are right. It is the same problem. I created the schedule on Sep 03, 2020, but both dtstart and dtend in the schedule are Aug 27:

[code]

[2020-09-10 13:21] tiagodread commented on #7973
Test and stubs are written and the PR was merged

[2020-09-10 13:21] #7973 closed, assigned to tiagodread, AlexSCorey

[2020-09-10 13:21] dsesami opened #8120 "Websocket updates on Instance Group view"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Instance Groups have a series of fields that might benefit from live page updates.
- Running Jobs
- Total Jobs
- Instance Count
- Total Capacity (%)

[2020-09-10 13:22] ryanpetrello commented on #8117
@mabashian @jakemcdermott any ideas here?

[2020-09-10 13:43] guhilling commented on #8071
Lets See if that changes when we return to CET...
We should also check if this behaviour occurs in the US timezones (-x
instead of +x)
Kind regards,
Gunnar

Andrey Klyachkin <notifications@github.com> schrieb am Do. 10. Sept. 2020
um 14:32:

Mit freundlichen Grüßen,

Gunnar Hilling

Dipl.-Phys.
Geschäftsführer

<https://www.redhat.com/rhtapps/services/certifications/badge/verify/KTMH22TWUMNSRZ6EOB

[2020-09-10 14:09] dsesami commented on #6603
This was prematurely closed as only Inventory -> Groups was verified. Work needs to be done to hook up the rest of them, as #7905 was mostly a PoC to ensure that it worked on one field first.

[2020-09-10 14:48] dsesami commented on #6113
@unlikelyzero is this good to close as we tested file upload?

[2020-09-10 14:50] lucas-benedito opened #8122 "Expose the value of "Execution Node" as a variable when running a job from Ansible Tower."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Expose the value of "Execution Node" as a variable when running a job from Ansible Tower.

**Example use-case:** Secret lookup which provides access token based on the execution node ip address

[2020-09-10 15:25] dsesami commented on #7694
Project status locale has been updated properly :+1:

[2020-09-10 15:25] #7694 closed, assigned to nixocio, dsesami

[2020-09-10 15:39] Klaas- commented on #6556
I am having the same issue, but I don't think it's mapped to NameSurname, it is mapped to whatever is in your "Name" field with removal of not allowed chars.
https://github.com/python-social-auth/social-core/blob/master/social_core/backends/azuread.py#L68

I think you can set it to be the e-mail through your settings.py . This seems sufficient for my usage, I have not tried it yet though.
https://

[2020-09-10 16:01] koki-sato opened #8123 "Support approval nodes in awx.awx.tower_workflow_job_template_node"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I want `awx.awx.tower_workflow_job_template_node` to support approval nodes.

Looking at [awx_collection/plugins/modules/tower_workflow_job_template_node.py#L94](https://github.com/ansible/awx/blob/14.1.0/awx_collection/plugins/modules/tower_workflow_job_template_node.py#L94), unfortunately it looks like `not yet implemented` now.

[2020-09-10 16:04] unlikelyzero commented on #7157
Can close alongside the merge of 5501

[2020-09-10 16:12] elyezer commented on #5735
I will go ahead and close this one as verified. There are some refactoring happening for credentials test for the ui_next that includes a larger scope than this specific feature, that can be tracked separately on a specific issue.

[2020-09-10 16:18] dsesami opened #8124 "WFJT Details link is broken"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The OPTIONS call on workflow job templates is broken, so you cannot view the details of any WFJT.

##### STEPS TO REPRODUCE
1. Make a WFJT and try to view it.

##### EXPECTED RESULTS
You can see it.
##### ACTUAL RESULTS

There is a double slash in the OPTIONS call, resulting in a 404.
``` OPTIONS /api/v2/workflow_job_templates//8/ 404```

We should mak

[2020-09-10 16:20] dsesami commented on #5966
This is blocked by https://github.com/ansible/awx/issues/8124

[2020-09-10 16:31] unlikelyzero commented on #5735
@elyezer this was not fully verified in the existing UI

[2020-09-10 16:43] unlikelyzero commented on #6113
🎉

[2020-09-10 16:43] #6113 closed, assigned to mabashian

[2020-09-10 17:16] dsesami commented on #8091
see https://github.com/ansible/awx/pull/8070#issuecomment-690260512 -- this will be followed up on soon.

[2020-09-10 17:44] dsesami commented on #8124
https://github.com/ansible/awx/pull/8125

[2020-09-10 18:16] elyezer commented on #5735
@unlikelyzero according to https://github.com/ansible/awx/issues/5735#issuecomment-685027485 I thought it was missing just the tests refactor for the new UI. It is a surprise to me that this hasn't been checked on the current UI, thanks for the heads up.

[2020-09-10 18:46] wenottingham commented on #8114
Can you describe what you mean by 'combined'? What are your inventory source settings?

[2020-09-10 18:47] wenottingham commented on #8117
Is this fixed with the jquery update in 14?

[2020-09-10 18:49] wenottingham commented on #8122
Hm. I get the idea, but basing it off the IP of the execution node is going to get very messy in the context of execution environments and container groups.

[2020-09-10 18:55] sentient commented on #8114
locally I run
[code]

In awx I have the inventory source to 'Sourced from a Project'
and pass on the aws_ec2 plugin configuration
I had to do this as a workaround to set the Us GovCloud EAST region (what does not show up in the UI)

I create keyed_groups from tags and add instances to groups based on names
[code]

this all works fine. and I see in the verbose inventory log, the groups created.

It

[2020-09-10 19:34] mabashian commented on #8017
I've included a fix for this in https://github.com/ansible/awx/pull/7993

[2020-09-10 19:57] sugitk commented on #8116
I will close the case.  Thank you.

[2020-09-10 19:57] #8116 closed, assigned to nobody

[2020-09-10 20:08] dsesami commented on #5684
This column appears normally now. :+1: and is already stubbed in users-crud-spec

[2020-09-10 20:08] #5684 closed, assigned to nixocio, dsesami

[2020-09-10 20:52] snooyen commented on #8108
@john-westcott-iv I'll open a new issue for these bugs and close this one to avoid confusion.

@AlanCoding Thanks for the info.  Personally very excited for execution environments and container groups in general.  Currently we're using Ansible / AWX to orchestrate terraform & k8 cluster builds which require us to build custom AWX Docker images with certain binary dependencies included.  Do you kno

[2020-09-10 20:52] #8108 closed, assigned to nobody

[2020-09-10 21:02] snooyen opened #8127 "awx.awx collection modules should check for compatible version of awxkit"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Caused by #8108
@john-westcott-iv

awx.awx.tower_* modules should:

1. Fail with error if `awxkit` is not installed
2. Fail with error if awxkit does not include export/import functionality

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: K8s
* Ansible version:  2.9.11
* Operating System: Mac OSX
* Web Browser: Chrome

##### STEPS TO REPR