[2017-08-25 19:47] wwitzel3 opened #7 "Configure and deploy ansibullbot for ansible/awx. (AWXbot)"
### Summary

The awx project will be using [ansible/ansibullbot](https://github.com/ansible/ansibullbot) to help triage and manage issues and pull requests. We will initially deploy a very limited subset of the bot that is currently being used over on [ansible/ansible](https://github.com/ansible/ansible) and slowly extend it to meet the needs of awx.

### Tasks

- [x] Configure and deploy ansibull

[2017-08-28 13:32] AlanCoding opened #8 "deprecate the "new" status for unified jobs (v1 API)"
### Summary

The "new" status of jobs was only used for the old method of launching jobs.

During the process of removing v1 API content, we should also remove this as an option for job status.

[2017-09-06 20:03] wenottingham opened #19 "Feature: Select All/Batch Operations"
AWX Feature Spec - Select All/Batch Operations
==============================================

User Persona
------------
AWX admin/org admin

Use cases
---------
In prior releases, complex filtering and sorting was added throughout AWX,
allowing users to easily see the 5/10/100 items they want to operate on. We
should allow them to easily select some or all of these filtered items at
once, and ope

[2017-09-06 20:05] wenottingham opened #20 "Feature: Programmable surveys"
AWX Feature Spec - Programmable Surveys
=======================================

User Persona
------------
Administrator delegating jobs to user
Delegated automation user

Usage Cases
-----------
High-level:

* Administrator wants to present to the user a list of builds to choose to deploy.
* Administrator wants to present to the user a verified list of configuration parameters to push to the chos

[2017-09-06 20:08] wenottingham opened #21 "Feature: Token-based authentication to AWX"
AWX Feature Spec - Token-based authentication to AWX
====================================================

User Persona
------------
AWX administrator configuring AWX integrations with other services

Usage Cases
-----------
Administrator is used to Slack/Trello/etc.  and other services that
use authentication tokens rather than a user/password combo to authenticate
to API services.  AWX should su

[2017-09-06 22:25] matburt opened #23 "Production Install seems to fail before migrations have run"
### Summary

When AWX is first deployed it will start running migrations, this isn't obvious from the user interface and causes errors to be displayed as though something had gone wrong with the deployment when in actuality, we're still waiting for the migrations to run.

### Environment

* AWX version: 1.0.0.263

### Steps To Reproduce:

Install a fresh AWX container set

### Expected Results:

A

[2017-09-07 09:30] spathare21 opened #27 "Settings icon/option from left menu panel is not visible in small browser windows as well as in 100% zoom."
### Summary

Settings icon from left menu panel is not visible on 100 % zoom, as well as on small windows size. it get visible if we zoom out to 90%.

### Branch:
Devel

### Environment
* AWX version: 1.0.0.269
* Ansible version:  2.3.1.0
* Operating System: Fedora 25
* Web Browser: Chrome 60 , Firefox 55 64 bit.

### Steps To Reproduce:
* Clone this project and do setup/installation.
* Open the A

[2017-09-07 11:15] sspreitzer opened #28 "Nature of license"
Hello

I try to identify the nature of license and if it is one of the FLOSS license models commonly known as well as admissable by the Fedora Project?

References:
* https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#SoftwareLicenses
* http://www.gnu.org/philosophy/license-list.html#GPLCompatibleLicenses
* https://opensource.org/licenses/

Would you consider a popular license for this pro

[2017-09-07 13:17] mpdehaan opened #31 "Restore previous release tags"
### Summary

It appears this repo served as the upstream for historical releases of Ansible Tower.  It would be great if this release preserved the tags of the original repo for code reference and comparison, such as easy diffs.

My purpose of this is mostly to give students (or random developers starting a Django project again) starting out with single-page-js + Django REST Framework an example o

[2017-09-07 13:29] wwitzel3 commented on #28
We are using Apache License 2.0
https://github.com/ansible/awx/blob/devel/LICENSE.md

[2017-09-07 13:42] sspreitzer commented on #28
Thank you!

There is also https://github.com/ansible/awx/blob/devel/COPYING, could that be removed then?

[2017-09-07 14:26] jlmitch5 commented on #27
thanks @spathare21 for the report!

The plan was to follow up with a second PR follow-up to fix some things with this new navigation structure, and I'll make sure we take a look at this for that.

I'm not entirely sure how to "triage" this in terms of labeling the issue and such, so I just wanted to let you know this is noted, thanks!

[2017-09-07 14:33] knechtionscoding opened #33 "Issue with Self-Signed Certificates"
### Summary

Despite setting NPM to use the HTTP registry, git config http.sslVerify false, and trying to set NPM ca to null it doesn't seem to be respecting the use of a corporate self-signed certificate.

### Environment

### Steps To Reproduce:
Use Enterprise self-signed certificate and add it to the CentOS server using:

cp foo.crt /etc/pki/ca-source/source/anchors
update-ca-trust extract

the

[2017-09-07 14:33] matburt commented on #31
Hey, sorry about that. We're not going to expose the old or current Tower release tags here.

[2017-09-07 14:33] #31 closed, assigned to nobody

[2017-09-07 14:37] jlmitch5 commented on #27
Was able to reproduce (just resizing the height of the browser to be shorter than the menu items shows the issue).

The fix here probably revolves around setting a height or max-height on the side nav element (the scrolling container), so that it doesn't go past the bottom of the screen.

[2017-09-07 14:38] matburt commented on #31
We believe full history is sufficient for now, we may revisit at some point.

[2017-09-07 14:46] wenottingham commented on #28
Sure, done.

[2017-09-07 14:46] #28 closed, assigned to nobody

[2017-09-07 15:04] jlmitch5 commented on #33
@KnechtionsCoding can you ping github from inside your server?

I'm not the most familiar with certs so I can do some digging into what exactly your setup is to see if I can try to reproduce, but first, just making sure you have a connection to github seems like the most simple problem based on the `"Connection timed out"` errors.

[2017-09-07 16:43] dagwieers opened #34 "Support multiple Ansible versions, per playbook, user or group"
##### SUMMARY
With another major version on the horizon it's going to be essential to be able to select the Ansible version to work with, so you can migrate playbooks, users or groups on your own schedule, rather than a big bang upgrade.

Since Ansible AWX is already using virtualenvs, it shouldn't be that hard to hook into this to support different versions.

##### ISSUE TYPE
- Feature Idea

[2017-09-07 16:45] wenottingham commented on #34
This is best done via isolated nodes (or groups of isolated nodes) with the needed Ansible setup on them. See docs/clustering.md.

[2017-09-07 16:51] dagwieers commented on #34
@wenottingham Are you providing me a quick workaround with the existing code-base, or rather telling me: "We are not going to pursue this in a future release as you can already achieve something similar using isolated nodes" ?

PS I am not looking for a quick fix :-)

[2017-09-07 17:07] wenottingham commented on #34
If I'm looking at how someone would need a 'custom ansible' for a set of playbooks or organization, this could range form ansible version, to custom modules, to custom libraries used by those modules (and/or customized ssh, etc.).

Hence, selecting the full execution environment makes more sense to me than picking an Ansible version. That's doable right now with isolated node customization, and in

[2017-09-07 17:14] dagwieers commented on #34
@wenottingham I'd be picking the virtualenv really, but thanks for clarifying.

[2017-09-07 17:19] wenottingham commented on #34
Yep, no problem - not against providing the idea, just think it's better off as an isolated execution node/container rather than multiple ansible venvs on random cluster nodes.... especially if it starts expanding into 'supporting multiple versions of Azure/shade/boto/etc at once'

[2017-09-07 17:46] sspreitzer commented on #28
:+1:

[2017-09-07 19:06] ghjm commented on #34
In Tower, the ansible venv only holds additional Python packages that will be used by Ansible. Ansible itself comes in from distro packaging. If you create another virtualenv and install a different Ansible version into it, you probably can't use `--system-site-packages`, meaning you would lose distro-level dependencies that you maybe want (like the selinux python bindings).

If this isn't importa

[2017-09-07 19:50] sokoow opened #35 "Provide prebuilt docker images (install/build process is a pain)"
### Summary
I can't build on fresh image of ubuntu 16.04 with node 6.x. Could you provide prebuilt docker images? Getting error like below:

[code]

### Environment

[2017-09-07 19:57] sokoow commented on #35
Oh, so it's missing msgfmt?

[code]

apt-get install gettext fixes the issue, but you should include that in your install doc

[2017-09-07 20:01] aoyawale commented on #35
@sokoow requiring to install gettext is on the installation doc.

[2017-09-07 20:12] justinclift opened #37 "Wiki link on GH repo non-functional"
Just noticed a minor weirdness.  The AWX GitHub repo has the `Wiki` tab showing up, but clicking on it just bounces to the code page.

Probably just something minor needing a setting change. :smile:

[2017-09-07 20:29] matburt commented on #37
Thanks!

[2017-09-07 20:29] #37 closed, assigned to nobody

[2017-09-07 20:30] matburt commented on #35
This is something we are considering for the future

[2017-09-07 20:30] #35 closed, assigned to nobody

[2017-09-07 21:00] MartinTerp opened #40 "Error doing install - Makefile:520: recipe for target 'dist/awx-1.0.0.280.tar.gz'"
Creating this issue if others end up in the same situation.

Running this on Debian 8 (jessie)

When running the install playbook, when it hit this task: **image_build : Build AWX distribution**
I was getting this error:

and if i ran: **make sdist**
it would display:

 File "/usr/local/lib/python2.7/dist-packages/docutils/utils/__init__.py", line 20, in <module>
    import docutils.io
  File "/us

[2017-09-07 21:00] #40 closed, assigned to nobody

[2017-09-07 21:06] AlanCoding opened #41 "Ability to configure entire system for DataDog Ansible integration"
DataDog has an integration that saves and visualizes metrics from playbook runs:

https://docs.datadoghq.com/integrations/ansible/

This works via a callback plugin, details here:

https://github.com/DataDog/ansible-datadog-callback

See Installation section

We should have a way to enable this for all playbook runs inside of AWX, instead of a one-off configuration for every playbook directory.

[2017-09-07 21:36] mis4s opened #44 "Missing which"
### Summary

Hi, I wanted to add inventory sourced from a project. When I start sync, it returns the error below.
When I installed `which` on docker container awx_tasks, synchronization was successful.

### Environment

* AWX version: latest
* Ansible version:  latest from epel
* Operating System: Centos latest
* Web Browser: Chrome

### Steps To Reproduce:

1. Build images
2. Add project
3. Add i

[2017-09-07 21:51] swills opened #47 "Makefiles should perhaps be renamed to GNUMakefile"
### Summary

The Makefile's included with the project are not compatible with non-GNU versions of make(1). Therefore, according to the GNU Make docs, they should be called GNUMakefile:

https://www.gnu.org/software/make/manual/make.html#Makefile-Names

[code]

### Environment

* AWX version: devel
* Ansible version:  2.3.2.0
* Operating System: FreeBSD
* Web Browser: Firefox

### Steps To Reproduc

[2017-09-07 22:01] jlmitch5 commented on #44
Disregard PR linkage, `install.md` is about build deps of the tower server, and these seems to be about adding a dependency to hosts Ansible will be ran against (as far as I understand).

CC @AlanCoding, you probably know what the thing to do here would be.

[2017-09-07 22:17] LukeShortCloud opened #48 "Allow configurable requestedAuthnContext to allow two-factor authentication in SAML"
### Summary

I have a client that requires two-factor authentication. This is one of the features that the SAML service provides. However, Ansible Tower (AWX) (and, more specifically, the OneLogin SAML authentication library) defaults to setting the "AuthnContext" to "PasswordProtectedTransport" (password authentication). It is required for that variable to not be enforced. Two-factor authenticati

[2017-09-07 23:45] AlanCoding commented on #44
An upstream exists for the backport code - and here is what we're talking about https://github.com/ansible/ansible-inventory-backport/blob/master/backport.py#L323

We should prefer to use something more durable along the lines of python's `disutils.find` to find the Ansible location.

Good bug, thanks for raising it.

[2017-09-08 00:33] puiterwijk commented on #48
I can look at this later today or tomorrow probably.

[2017-09-08 03:06] #44 closed, assigned to nobody

[2017-09-08 03:33] spathare21 opened #52 "Footer is blocking items from being visible/actionable in the ui"
### Summary

Pagniate controls to move on next page and number of items view per page drop down  are not visible in Activity Stream.

### Branch
Devel

### Environment
* AWX version: 1.0.0.269
* Ansible version:  2.3.1.0
* Operating System: Fedora 25
* Web Browser: Chrome 60 , Firefox 55 64 bit.

### Steps To Reproduce:
- Setup new instance using docker.
- Open the AWX-Ansible instance on chrome/f

[2017-09-08 03:48] rossedman opened #53 "No Route To Host / Connection Issues"
### Summary

It appears awx_task runner can't connect to anything. I am assuming this has something to do with docker bridge networking or some other networking component. The node this is deployed to has public internet access as well as private network access.

### Environment

Ubuntu 16.04
AWX Deployment Script Used

[code]

### Steps To Reproduce:

When running a template job in containers eve

[2017-09-08 06:26] kakawait opened #54 "Push awx web and task to docker hub"
What do you think about pushing (not manually) both images awx_task and awx_web on docker hub. In order to allow anybody deploy awx on docker stack without performing pre-install phase

[2017-09-08 07:11] hanjh1986 opened #55 "Fail to start build"
I installed all Prerequisites, and then try to your follow installation

Ansible
gettext package for your platform (See Installing gettext)
Docker
docker-py Python module
Node 6.x LTS version
NPM 3.x LTS

...
Start the build

If you are not pushing images to a Docker registry, start the build by running the following:

# Set the working director to installer
$ cd installer

# Run the Ansible playb

[2017-09-08 07:32] uriinf commented on #55
Same for Fedora26 and Ubuntu
$ node -v
v6.11.2
$ npm -v
3.10.10

[2017-09-08 08:08] hanjh1986 commented on #55
I found something.
This error like this

.....git://github.com/ansible/angular-codemirror....
...git://github.com/ansible/angular-drag-and-drop-lists.git...

git?? I tried this url to my chrome and fail.
but, chang git to https, success

git://github.com/ansible/angular-drag-and-drop-lists.git -> https://github.com/ansible/angular-drag-and-drop-lists.git

maybe there *.git has dependency, but, tha

[2017-09-08 08:26] MartinTerp commented on #54
They stated in another issue:

And i think alot of people will build the images themself, rather than pulling images from non-ansible repo, since there is alot of sensitive info on awx ( or can be )

But yes, hopefully there will be official docker hub images from RedHat

[2017-09-08 09:57] Caidran opened #57 "AWX Inventory - Satellite 6"
### Summary

Unable to import inventory from Satellite 6

### Environment

* AWX version: devel
* Ansible version:  2.3.1
* Operating System: RHEL 7.3

### Steps To Reproduce:

Attempt to add a Satellite 6 inventory source.

### Expected Results:

AWX should import hosts from Satellite.

### Actual Results:

2017-09-08 09:30:12,250 INFO     awx.main.commands.inventory_import Updating inventory 2:

[2017-09-08 10:23] viktorsmari opened #58 "How to stop the awx docker containers? Please add it to the readme."
### Summary

You start the containers with:
`ansible-playbook -i inventory install.yml`

How do you stop them?

### Environment

### Steps To Reproduce:

### Expected Results:

All containers should be stopped.

### Actual Results:

### Additional Information:

[2017-09-08 10:24] jains99 commented on #55
I am also facing issues in same step,but in my case errors are different. I am running it as root user.

`TASK [image_build : Build AWX distribution] **********************************************************************************************************
fatal: [localhost -> localhost]: FAILED! => {"changed": true, "cmd": "make sdist", "delta": "0:00:12.254391", "end": "2017-09-08 15:53:47.65303

[2017-09-08 10:33] szibis commented on #55
I have this error

[code]

[2017-09-08 11:32] ghost opened #59 "Build Step fails without Docker started"
https://github.com/ansible/awx/blob/37bbb0758c7b25631c93d7079c3fb78f3150c359/installer/image_build/tasks/main.yml#L143

Create PR to ensure that docker is running otherwise ansible fails with
[code]

[2017-09-08 12:10] fsidnenko commented on #55
@jains99
It seems that the version of npm is not 3.x
Try to do so: npm install npm@3.0 -g

[2017-09-08 12:58] jains99 commented on #55
@fsidnenko yes it was 5.4.1 , later I tried with 3.0 but getting below error -

`TASK [image_build : Build AWX distribution] **********************************************************************************************************
fatal: [localhost -> localhost]: FAILED! => {"changed": true, "cmd": "make sdist", "delta": "0:00:48.794235", "end": "2017-09-08 18:26:21.591053", "failed": true, "rc":

[2017-09-08 13:11] jaredledvina opened #62 "External Auth Provider Support"
### Summary

I'd love to see AWX natively support external authentication providers. Specifically, SAML and LDAP auth. I've been going through the WebUI and can't seem to find anything. I have found the Tower documentation stating it's available for that.

### Environment

* AWX version: 1.0.0.286
* Ansible version:  2.3.1.0
* Operating System: macOS (local dev environment)
* Web Browser: Google C

[2017-09-08 13:18] Caidran commented on #62
Hi Jared,

If you're logged in as the admin account try zooming out on your browser, the 'settings' button appears to be hidden at the bottom of the panel on the left. Once you have that you can setup authentication methods like Azure, LDAP etc. At least this is the case in Chrome on Windows.

[2017-09-08 13:34] #59 closed, assigned to matburt

[2017-09-08 13:41] jaredledvina commented on #62
\o/ YES! The settings button was just hidden. This is wonderful! Thanks for the tip!

[2017-09-08 13:41] #62 closed, assigned to nobody

[2017-09-08 13:46] kakawait commented on #23
In addition migrations is really slow (around 5 min) with fresh new database...

[2017-09-08 14:04] BluGeni opened #64 "Error while running docker as sudo on ubuntu server."
### Summary

If you run docker have to run docker as sudo you get this error:

`"Error connecting: Error while fetching server API version: ('Connection aborted.', error(13, 'Permission denied'))`

### Environment

* Operating System: Ubuntu 16.04

### Additional Information:

Followed this guide to fix the issue:
https://askubuntu.com/questions/477551/how-can-i-use-docker-without-sudo

Not sure i

[2017-09-08 14:10] pfremm opened #65 "Separate vault credential from machine credential"
### Summary

Separate vault credential from machine credential
### Environment

* AWX version: Any
* Ansible version:  Any

It would be nice to have the vault credential to be defined separately from the machine credential.  This would allow separate vault credentials to be created in Ansible Tower, and then projects or job templates would be able to specify which vault credential to use.

[2017-09-08 14:23] vittico opened #66 "Not building on Ubuntu 16"
### Summary

There seems to be an error or a missing dependency when building

### Environment

* Ubuntu 16.LTs

....
u001b[35mTotal 616ms\u001b[39m", "", "    \u001b[4mRunning \"newer:copy:icons\" (newer) task\u001b[24m", "", "    \u001b[4mRunning \"copy:icons\" (copy) task\u001b[24m", "    Copied \u001b[36m6\u001b[39m files", "", "    \u001b[4mRunning \"newer-postrun:copy:icons:1:/home/vmedina/t

[2017-09-08 14:27] ghost commented on #55
Some things I've found:

- For CentOS 7 minimal install you need to install bzip2
- If you get `contextify@0.1.15 install: node-gyp rebuild` error during `image_build : Build AWX distribution`, remove $HOME/.node-gyp

[2017-09-08 14:32] wwitzel3 commented on #64
Thanks @BluGeni. This is a general docker configuration issue, but I think making a note of this is good as others will probably run in to the same problem as they start using awx.

[2017-09-08 14:32] #64 closed, assigned to nobody

[2017-09-08 14:46] wwitzel3 commented on #54
Hi @kakawait as mentioned by @MartinTerp we are considering this in the future. Cheers!

link #35

[2017-09-08 14:46] #54 closed, assigned to nobody

[2017-09-08 15:00] gconsidine commented on #66
@vittico, I run Ubuntu 16 LTS as well. The bulk of that output is from the UI build and it looks like you're all good on that front -- the last bit here `"running check", "Makefile:520: recipe for target 'dist/awx-1.0.0.292.tar.gz' failed"` -- maybe @shanemcd can chime in on this?  In the mean time, can you share what command you used to start the build?

[2017-09-08 15:02] pfremm commented on #65
I would be interested in contributing this feature if we can get agreement a PR would be accepted.

[2017-09-08 15:14] gconsidine commented on #55
For issues fetching npm packages via GitHub, you might try setting this configuration option as a short-term solution: `git config --global url."https://".insteadOf git://`

I'm going to experiment with changing dependencies in `package.json` from this format:

`"angular-breadcrumb": "github:ansible/angular-breadcrumb#0.4.1"`

to:

`"angular-breadcrumb":"git+https://git@github.com:ansible/angular-

[2017-09-08 15:17] geerlingguy commented on #66
I have a passing build in Ubuntu 16.04 here: https://travis-ci.org/geerlingguy/ansible-role-awx — and I also did a little testing locally in both CentOS 7 and Ubuntu 16.04. I'm guessing there's a variable incorrectly set somewhere that could be causing this issue, or maybe something else in the environment (e.g. git?) throwing off the build.

[2017-09-08 15:27] inmylo opened #67 "Installation on Arch Linux fails"
### Summary

Trying to install AWX locally on Arch Linux. Ansible script fails at the task `local_docker : Activate AWX Web Container`:

    fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Error starting
    container 9678e6be283aa929a6aac1a7d22cdf95731b10614fd2ecb1673447788e5204f6:
    500 Server Error: Internal Server Error (\"driver failed programming external connecti

[2017-09-08 15:46] gconsidine commented on #55
Can anyone verify #68 as a fix for this issue? Thanks!

As a note, the correct versions of npm and Node.js to build the UI are:

* Node.js 6.x LTS (currently v6.11.3)
* npm 3.x (currently v3.10.10 -- comes bundled with Node.js v6.11.3)

[2017-09-08 15:46] jlmitch5 commented on #33
@gconsidine I think the git+https solution in package.json may have an effect on this as well.  I'm gonna assign you to issue so that we can ping on this one once that's done.

[2017-09-08 15:46] wenottingham commented on #65
Should already be there (it's in AWX, and will be in a future Tower release)

[2017-09-08 15:46] #65 closed, assigned to nobody

[2017-09-08 15:49] jlmitch5 commented on #52
@jaredevantabor I believe you had worked on this a few weeks back, assigning you to take a look.

Thanks for filing the issue, @spathare21!

[2017-09-08 16:11] vittico commented on #66
Hello guys!

I just followed the build instructions.

Git cloned
Dependencies:
docker-py
gettext
make
node

Then just: ansible-playbook -i inventory install.yml

This is my inventory file:
`  localhost ansible_connection=local

  [all:vars]

  # Build AWX with official logos
  # Requires cloning awx-logos repo into the project root.
  # Review the trademark guidelines at https://github.com/ansible

[2017-09-08 16:45] wenottingham opened #69 "Feature: Settings menu reorganization"
AWX Feature Spec - Settings menu re-org
=======================================

User Persona
------------
Administrator
Org admin
Automation user

Usage Cases
-----------

We have a bit of a conceptual and place mishmash between:
* top-row menu items
* assorted cards under settings
* the actual 'Configure AWX' card and its tabs

The goal is to audit and rearrange to properly sort out:
* items for

[2017-09-08 17:10] wenottingham opened #70 "Feature: Automatic API docs generation"
AWX Feature Spec - Automatic API docs generation
=======================================

User Persona
------------
Person writing API integrations

Usage Cases
-----------

We have a lovely, browseable, API with docs. However, people want to be able
to browse the API docs (or historical API docs) without standing up Tower.
Ergo, we should automatically generate them.

API Considerations
---------

[2017-09-08 17:32] knechtionscoding commented on #33
@jlmitch5 I've got a connection to github on that server. This was the last error that I couldn't solve. Turning off the NPM http check and the git check solved the first two.

[2017-09-08 17:41] wenottingham opened #72 "Feature: Project-based navigation"
AWX Feature Spec - Project-based navigation
=======================================

User Persona
------------
Automation user

Usage Cases
-----------
We already have links in the API to easily show all job templates that go to
a project.

This should be surfaced in the UI for Projects as another tab in the project
view. Arguably it should be the default tab.

API Considerations
-----------------

[2017-09-08 17:47] jlmitch5 commented on #33
@KnechtionsCoding if you want to try to apply the change in PR #68 linked above manually (or just wait til it goes in), I wonder if it will fix things for you?  involves changing the protocol part of the github urls for those node packages.

Note that you should be able to try the npm install to the same affect by doing `cd awx/ui; npm install`, that might be helpful as we try to get to the bottom

[2017-09-08 17:50] knechtionscoding commented on #33
Sure. I'll try those out now.

[2017-09-08 18:02] geerlingguy opened #73 "Versioning strategy for AWX vs. Tower?"
### Summary

Using the Fedora:Red Hat Enterprise Linux analogy mentioned in the AWX FAQ, versioning seems like it will not (according to the response in #31) be 1:1 between AWX and Tower.

So, Fedora can release 23, 24, 25, 26, etc. while Red Hat stays on 7, then eventually 8.

In a similar way, AWX can go 1.0.0, 1.1.0, 2.0.0, etc. while Tower is following it's own separate release cycle/tagging c

[2017-09-08 18:04] wenottingham opened #74 "Feature: Full podification/dynamic clustering"
AWX Feature Spec - Podification w/dynamic clustering
====================================================

User Persona
------------
AWX administrator

Usage Cases
-----------
AWX has a container-based deployment system. However, this system does not
currently support joining clusters and instance groups, and there is not an
isolated node container OOTB.

AWX should be able to be spun up as a pod

[2017-09-08 18:17] pchauncey opened #75 "Web UI: Footer obscures buttons on some screens"
### Summary

Web UI: Footer obscures buttons on some screens

### Environment

* AWX version: devel
* Ansible version:  2.3
* Operating System: Centos 7.3
* Web Browser: Firefox 55.0.2 on Fedora 26

### Steps To Reproduce:

Use Firefox, browse to Settings and select LDAP from the Subcategory menu

### Expected Results:

Should see Cancel and Save buttons when scrolled to the bottom.

### Actual Re

[2017-09-08 18:20] cchurch commented on #23
We can probably add middleware that does a check like the following:

[code]

[2017-09-08 18:33] jakemcdermott commented on #75
Thanks for creating this. I think this might be a duplicate of ~https://github.com/ansible/awx/issues/75~ https://github.com/ansible/awx/issues/52

[2017-09-08 18:36] pchauncey commented on #75
Yep, this is the same issue.  Killing #75 then

[2017-09-08 18:37] #75 closed, assigned to nobody

[2017-09-08 18:40] pchauncey commented on #52
This issue also causes buttons to be obscured on some pages (Settings -> LDAP for example):

![screenshot from 2017-09-08 13-12-41](https://user-images.githubusercontent.com/908819/30226308-2d43b61a-949b-11e7-865b-82e68cf9fff1.png)

[2017-09-08 18:46] jlmitch5 commented on #52
@pchauncey yep--should be a fix at the footer styling level and it's fixed everywhere.  I'm going to update the issue title so that's clear.

[2017-09-08 19:26] rarodrigo commented on #66
I am getting a error when is building AWX distribution inside Ubuntu 16.04LTS
TASK [image_build : Build AWX distribution] ************************************************************************************
fatal: [localhost -> localhost]: FAILED! => {"changed": true, "cmd": "make sdist", "delta": "0:00:00.060852", "end": "2017-09-08 15:46:24.548218", "failed": true, "rc": 2, "start": "2017-09-08

[2017-09-08 19:28] geerlingguy commented on #66
@rarodrigo - `make: npm: Command not found` means Node.js / NPM isn't installed. Make sure you install it first (use Node.js 6.x).

[2017-09-08 19:39] matburt commented on #73
Yep we can totally rework this to support the parallel version strategy, just need to take a look at the best way to do it.

[2017-09-08 19:44] JSkier21 commented on #67
What version of npm and nodejs are you running? I can't seem to get it to go as far as you (ansible script doesn't even finish running without several errors).

[2017-09-08 19:45] matburt commented on #67
This doesn't seem like a bug in awx so much as an issue with docker on arch linux. Having said that I just ran through the install with Arch and kernel `4.12.8-1-ARCH #1 SMP PREEMPT`

[2017-09-08 19:45] matburt commented on #67
@JSkier21 the node/npm requirements are in the CONTRIBUTING.md file.

[2017-09-08 19:49] matburt commented on #58
https://docs.docker.com/engine/reference/commandline/stop/

[2017-09-08 19:49] #58 closed, assigned to nobody

[2017-09-08 19:51] gconsidine commented on #33
Fixed in #49

[2017-09-08 19:51] #33 closed, assigned to gconsidine

[2017-09-08 19:51] gconsidine commented on #55
Fixed in #49

[2017-09-08 19:51] #55 closed, assigned to gconsidine

[2017-09-08 19:51] MyDigitalLife opened #78 "Error installing on ubuntu 16.04"
### Summary

I tried installing awx on a digital ocean ubuntu droplet and ran into a error when installing. Anybody know how to fix this?

### Environment

* AWX version: 1.0.0
* Ansible version:  2.3.2.0
* Operating System: Ubuntu 16.04.3

### Steps To Reproduce:

Create

1. a ubuntu droplet and login
2. curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
3. sudo add-apt-

[2017-09-08 19:51] wenottingham opened #79 "Feature: Expanded notification support"
AWX Feature Spec -  Expanded notifications
=======================================

User Persona
------------
Automation user

Usage Cases
-----------
There are a variety of ways that notifications could be made more useful for users. Among them:

- [x] Allow for notification on job start, not just job end
- [x] Allow for templated notification content with substitutable fields based on job parame

[2017-09-08 20:02] gconsidine commented on #78
We're using npm v3.10.10 since that's what comes bundled with Node.js LTS (v6). You'll need to run `npm i -g npm@3.10.10` and I _think_ that should resolve your issue.

[2017-09-08 20:18] knechtionscoding commented on #33
@jlmitch5 I made the changes manually and ran it again. I'm getting a different issue now unrelated to certificates. So this issue should be considered resolved.

[2017-09-08 20:22] MyDigitalLife commented on #78
@gconsidine Thanks for the help. It fixed the error i mentioned but added a new one i'm afraid:

[code]
I tried running `npm update -g minimatch@3.0.2` but i still got the same error.

[2017-09-08 20:27] shanemcd opened #83 "Builder image for sdist creation"
### Summary

After witnessing the majority of issues that people have been experiencing yesterday and today, we should create a builder image that handles the creation of the sdist. Supporting every OS is probably untenable.

We'll want to bind-mount the project root and dump out the artifact(s) in the appropriate location(s).

### Additional Information:

Base image should be `FROM centos:7` and

[2017-09-08 20:32] NeilHanlon commented on #78
I'm seeing the same on Debian 8.

[code]

[2017-09-08 20:39] mabashian commented on #72
This would be interesting from a UI implementation standpoint.  AFAIK we always show the details tab as the default tab and then all the other related tabs are actually substates of the details state.  If this is simply a new related tab in the project view, that will be pretty straightforward.  Making this new tab the default view when you click on a project will require a little bit more work wi

[2017-09-08 21:16] wenottingham opened #84 "Feature: update Django to 1.11 and Celery 4.0"
### Summary

django-1.8 goes EOL in April 2018. We should upgade to Django-1.11, the latest LTS.

This probably involves fixing a large variety of minor things.

### Environment

* AWX version: now

### Additional Information:

[2017-09-08 22:03] gconsidine commented on #78
Can you share the output of `node -v` and `npm -v`? Also, try removing the `awx/ui/node_modules` directory before rebuilding.

[2017-09-08 22:37] MyDigitalLife commented on #78
[code]

I deleted the `awx/ui/node_modules` folder and rerun the install command and am still getting the same error:
[code]

[2017-09-08 22:39] rossedman opened #86 "Cluster Host ID Error"
### Summary

Trying to run this as a distributed deployment in kubernetes. Most endpoints work but some come back with a 500 server error that states there is `no instance found with the current cluster host id`.

### Environment

Kubernetes, latest container build from awx

### Steps To Reproduce:

- Deploy this repo to a k8s cluster: http://github.com/rossedman/ansible-awx-kubernetes
- Wait for

[2017-09-08 22:53] matburt commented on #86
multiple container instances in a cluster is not currently supported in awx... I'm working on it though see: https://github.com/ansible/awx/issues/74

[2017-09-08 22:53] #86 closed, assigned to nobody

[2017-09-08 22:54] rossedman commented on #86
@matburt I am running exactly what is being run in docker compose though. I guess I'm having a hard time understanding where the difference would lie. Everything else seems to work so far.

[2017-09-08 22:55] matburt commented on #86
There are about 5 or 6 things that I need to tweak and make better in order for this to work... starting with automatic provisioning and deprovisioning. As well as better dynamic work queue configuration ... that's why you are running into strange errors.

Get in touch with me directly on irc and we can talk more. I built out the Openshift/minishift work as a starting point.

[2017-09-08 22:55] rossedman commented on #86
@matburt cool sounds good. thanks for the reply. would love to chat about it more. if i can help i would be interested too.

[2017-09-08 23:32] aoyawale opened #87 "issue running the install playbook on fedora 26"
### Summary
While the running the install playbook, it fails because it cannot find docker-py.
`
fatal: [localhost -> localhost]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "api_version": null,
            "archive_path": null,
            "buildargs": null,
            "cacert_path": null,
            "cert_path": null,

[2017-09-09 01:23] hiddenicon opened #88 "External AUTH Providers - Can't Save configuration form without changing the dropdown"
The external AUTH providers for LDAP, RADIUS, SAML, and TACACS+ all have the Save button grayed out and disabled. I cannot save their config. I know the footer UI is in the way, but if you zoom out you can access the buttons. The other external providers like OAuth2 and Github work just fine.

I didn't think there were any dependencies for those services?

* AWX version: 1.0.0.312
* Ansible versio

[2017-09-09 01:34] troykoenig commented on #78
Check that bzip2 is installed. Error seems to be related to the installer trying to extract that package.

https://github.com/Medium/phantomjs#troubleshooting

Ran into this same error, same node and npm version, on a minimal install of centOS7.

[2017-09-09 01:49] aoyawale commented on #88
only saves if you choose another option from the drop down then it will ask "save changes?" besides that I get it greyed out also.

[2017-09-09 01:56] geerlingguy opened #89 "On Docker for Mac, playbook runs fail with 'uid not found: 1000'"
### Summary

I'm still trying to see exactly what's going wrong, but basically on my Mac, when I run the awx_web and awx_task containers as built by the installer playbook, something with the USER Docker uses seems to be confusing AWX, because all playbook runs fail immediately (on their first task) with `KeyError: 'getpwuid(): uid not found: 1000'`.

### Environment

* AWX version: 1.0.0-[somethi

[2017-09-09 01:56] mrjoshuap opened #90 "Error during SCM Update - getpwuid(): uid not found: 1000"
### Summary

I've performed an installation of AWX on OpenShift (specifically using minishift w/CDK & DevSuite) following the installation guide.  I am able to successfully login, add credentials, create projects and navigation seems to work properly.

However, when I attempt to update the SCM for a project, it fails with an error about uid 1000 not found.

I've not tried any other tasks -- primar

[2017-09-09 01:57] geerlingguy commented on #89
I'm going to run the same Docker Compose file inside a CentOS 7 VM to see if I get the same result; I wonder if it might work since the uid would be used on Ubuntu at least (and I think other standard Linux OSes as well...).

I'm uid `501` on my Macs, and there is no uid `1000`, so it seems like that could be the issue.

[2017-09-09 02:01] hiddenicon commented on #88
In the awx/sso/backends.py there are checks for those features to be enabled.
if not feature_enabled('ldap'):

In tower, you need a license to active those features. I didn't think that'd be needed for AWX?

[2017-09-09 02:04] mrjoshuap commented on #89
I get this same error!  I think we were both reporting this issue at the same time... #90

Anyhow, I am getting this same error when running in OpenShift (from the Red Hat DevSuite / CDK) on both a Mac and Windows system (using VMs).

[2017-09-09 02:05] wwitzel3 commented on #7
Currently testing behavior against  [wwitzel3/awx](https://github.com/wwitzel3/awx)

[2017-09-09 02:07] geerlingguy commented on #89
If I explicitly set `user: root` in my `docker-compose.yml`, then `whoami` doesn't error out at least:

[code]

But other things seem to break—none of the frontend resourcess (css, js, etc.) load if the container is run with `user: root`.

@mrjoshuap - I would imagine it could be the same problem... but I wouldn't rule out the problem being slightly different between the two use cases either.

[2017-09-09 02:15] matburt commented on #90
That's interesting. Minishift/OpenShift will usually randomize the uid and I was accounting for that in the OpenShift role

[2017-09-09 02:21] mrjoshuap commented on #89
@geerlingguy I noticed `installer/image_build/files/launch_awx.sh` and `installer/image_build/files/launch_awx_task.sh` only updated the /etc/passwd appropriately if the uid is > 10,000:

[code]

I'm going to try setting the 10000 to 500, and see how it goes.

[2017-09-09 02:27] geerlingguy commented on #89
Ah yes, now I remember, @matburt had mentioned that script earlier today, and I even had it open in a window behind this one. I'm guessing we need to adapt that script to work with other systems. I think it is set like that to work with OpenShift?

[2017-09-09 02:31] mrjoshuap commented on #89
well, I suspect the `awx` user needs to exist (or at least resolve with `getpwuid()`) for all systems, and I think the spirit of that check was "if not running as root", but I think we might be better served to ensure an `awx` entry in `/etc/passwd` exists.

[2017-09-09 02:34] mrjoshuap commented on #90
@matburt I will add that this is a duplicate of #89 so if we want to close this one, @geerlingguy has done more investigation.

[2017-09-09 02:36] #90 closed, assigned to nobody

[2017-09-09 03:34] cchurch commented on #88
The [`StubLicense`](https://github.com/ansible/awx/blob/devel/awx/main/utils/common.py#L166) should enable those authentication types. Check to see whether you can save those settings via the API (e.g. `/api/v2/settings/radius/`).

[2017-09-09 04:37] mrjoshuap commented on #89
I confirmed that at least for my case, changing the 10000 to 500 solved my problem in OpenShift, and I suspect it will solve yours as well.  I didn't fork or setup a branch, and there might be a better way of doing it.

I'm effectively just checking to ensure the `awx` passwd entry exists instead of a high `uid` number:

[code]

[2017-09-09 09:01] Zokormazo commented on #87
I had the same issue with docker-py on fedora.

Uninstall docker-py and install docker from pip

[2017-09-09 09:11] Zokormazo commented on #52
The footer has an absolute positioning and 40px height. Giving the main container a bottom-padding of 40px should fix this.

[2017-09-09 10:05] viktorsmari commented on #58
So @matburt,  is this the only way to stop it:
`docker stop awx_task awx_web memcached rabbitmq postgres`
?

I was hoping for something easier like
`docker-compose up`
`docker-compose down`

[2017-09-09 12:08] zochamx opened #92 "Install failed on Build base web image"
### Summary

All prerequisites installed, yum works normally behind proxy all env proxy variables has been set correctly (os, yum, npm, docker). Though installation failed on:

TASK [image_build : Build base web image]

### Environment

* Ansible version:  2.3.1.0
* Operating System: centos 7.3
* npm: 3.10.10
* node: 6.11.1

### Error:

TASK [image_build : Build base web image] *******************

[2017-09-09 12:28] aoyawale commented on #92
`
u'Loaded plugins: fastestmirror, ovl\n', u'\x1b[91m\n\n One of the configured repositories failed (Unknown),\n and yum doesn\'t have enough cached data to continue. At this point the only\n safe thing yum can do is fail. There are a few ways to work "fix" this:\n\n 1. Contact the upstream for the repository and get them to fix the problem.\n\n 2. Reconfigure the baseurl/etc. for the repository,

[2017-09-09 12:32] zochamx commented on #92
yes this is what I understood too, but this is happening only in specific task, otherwise yum can reach anything. I can perform `yum update` or `yum install <anything>`. The only way I was able to reproduce the error was via this playbook!

[2017-09-09 12:44] aoyawale commented on #92
do you have any repo broken in /etc/yum.repos.d/ ? can you reach `http://download.postgresql.org/pub/repos/yum/9.6/redhat/rhel-7-x86_64/pgdg-centos96-9.6-3.noarch.rpm`
and this
`
Cannot find a valid baseurl for repo: base/7/x86_64\n\x1b[0m', u'Could not retrieve mirrorlist http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=os&infra=container
`

[2017-09-09 12:48] zochamx commented on #92
Yes I can reach every repo I have, now I notice that it's trying to execute that, in a docker container so I added in `aws/installer/image_build/templates/Dockerfile.j2` my proxy as an ENV variable and I am waiting the build.

By adding the above in Dockerfile.j2 template the installation worked perfectly.

[2017-09-09 12:52] aoyawale opened #93 "Translating the project"
### Summary

I noticed in the CONTRIBUTING.md mentioning translating. Is that something that is going to be done using PR's? or a external system?

[2017-09-09 12:54] MyDigitalLife commented on #78
Installing bzip2 didn't fix the problem i'm afraid. I did some research on the error i was getting and found that i could fix the error about `minimatch` by upgrading  `babel-istanbul` to `^0.12.0`. But as expected i got the next error 😞. Atm this is the error that i'm getting:
[code]
I checked out the dependency of coffee-script and it originates from grunt. There is a [pull request ](https://git

[2017-09-09 13:01] kakawait opened #94 "Gitlab (self-hosted) SSO"
### Summary

AWX offers Github & Github Enterprise authentication, however I would be able to connect with other OAuth2 system like GitLab (Gitlab.com and self-hosted instances).

You can:

1. Add Gitlab.com and self-hosted gitlab instances but further request for others systems can comes in futur
2. Maybe create a generic OAuth2 auth that can work with any OAuth2 base auth external system

[2017-09-09 13:06] #92 closed, assigned to nobody

[2017-09-09 13:15] aoyawale commented on #94
I believe django uses https://github.com/python-social-auth/social-app-django for that part and it looks like they have an initial part for gitlab https://python-social-auth.readthedocs.io/en/latest/backends/gitlab.html

[2017-09-09 13:24] Zokormazo commented on #93
I'm interested on it too.

Are you going to use an external service to manage translations or we have to PR directly here?

[2017-09-09 15:04] gconsidine commented on #78
Hey @MyDigitalLife -- looking more closely at the last bit of your output, I'm not so sure the issue is node/npm related at this point since npm finishes installing and I'm seeing Grunt tasks run and finish.

`python tools/scripts/compilemessages.py", "processing file django.po in /root/awx/awx/locale/nl/LC_MESSAGES", "", "Makefile:457: recipe for target '.i18n_built' failed"]}`

Can you check to

[2017-09-09 15:25] MyDigitalLife commented on #78
@gconsidine The files in awx/ui/client/languages exist and have json data in them.

[2017-09-09 17:17] hiddenicon commented on #88
Yes looks good via the API.

![image](https://user-images.githubusercontent.com/10273594/30242257-0581b318-9561-11e7-9534-7dc3e1fd5a5f.png)

Also, when on the LDAP page, if I fill out the form, and then hit cancel you get the modal popup to confirm discarding the settings. The "Save Changes" button is enabled and green. If I hit "Save Changes" there, it works and settings are saved.

I am having i

[2017-09-09 17:18] AlexGluck commented on #93
I'm interested on it too.

[2017-09-09 17:24] hiddenicon commented on #88
I am seeing this error in the Dev console when I go to the LDAP settings page.

![image](https://user-images.githubusercontent.com/10273594/30242317-261a34d2-9562-11e7-8f50-67861d15a59e.png)

[2017-09-09 17:30] AlexGluck commented on #94
I'm interested on it too.

[2017-09-09 17:30] wenottingham commented on #93
Yes, there will be something, it's just not set up yet. More soon.

[2017-09-09 17:32] mhogerheijde opened #96 "When using awx_official and a remote host; synchronize task wil fail"
### Summary

During install; when using the official branding – by setting awx_official=true – there will be [a task](https://github.com/ansible/awx/blob/2fb9b6cf25140c143ba38951b2195a7eb738e36a/installer/image_build/tasks/main.yml#L22) making use of the module synchronize. When also running the playbook against a remote host; this taks will fail, where a password is asked to authenticate against

[2017-09-09 17:33] wenottingham commented on #94
This is correct - we'd need to work with that.

[2017-09-09 17:45] AlexGluck opened #97 "issue running the install playbook on fedora 26"
### Summary
Selinux error when install playbook on fedora 26.
SELinux is preventing chown from 'read' accesses on the directory pgdocker.

### Environment

* Operating System: Fedora 26 workstation

### Steps To Reproduce:
1. Install fedora 26 workstation
2. `dnf install -y docker git`
3. Enable selinux enforcing active
4.
[code]
### Expected Results:
Installed Ansible AWX

### Actual Results:
SEL

[2017-09-09 18:47] JSkier21 commented on #67
@matburt, thanks, I'll try compiling the LTS version of npm. I originally installed the LTS package for node (Arch separates it from npm) and an older package of npm (LTS not available in Arch for that).

[2017-09-09 18:48] matburt commented on #87
Looks like there's a solution, closing.

[2017-09-09 18:48] #87 closed, assigned to nobody

[2017-09-09 18:55] matburt commented on #97
Hi @AlexGluck ... if that directory doesn't work for you then you can select another directory for postgres docker persistence. The installer inventory file is meant to be an example and modified to suit your system.

[2017-09-09 18:55] #97 closed, assigned to nobody

[2017-09-09 19:26] BastienM commented on #78
Hi guys, got the same problem as OP but with Debian Stretch (fresh install).

[code]

[code]

Sadly, `awx/ui/client/languages` does not exist.

[2017-09-09 19:36] AlexGluck commented on #97
@matburt another directory in /home/$USER or /var/lib/ too not working. For testing i look into playbook task after that disable selinux, reboot laptop, install awx normally. On fedora your playbook does not working properly.

[2017-09-09 19:40] matburt commented on #94
This would also have a UI component for the SSO link and any relevant update to the tower api config endpoint.

[2017-09-09 19:48] matburt commented on #89
It's interesting that your openshift behaves a little different for me @mrjoshuap. Doesn't openshift/minishift always select an id over 10k?

I suspect this will be the solution, basically always forcing us to create the awx user, but I'm also curious why the playbook's `docker run` doesn't force the container to start up as root in the standalone docker install case.

[2017-09-09 19:51] matburt commented on #67
Lacking any further details, I'm going to close this. If more details come up then let us know.

[2017-09-09 19:51] #67 closed, assigned to nobody

[2017-09-09 19:52] matburt commented on #66
I'm going to close this one as an overall dupe of #78 which is better formatted and contains more detail on what's been tried.

[2017-09-09 19:52] #66 closed, assigned to nobody

[2017-09-09 20:04] geerlingguy commented on #89
@matburt - It seems that if I set `user: root` in the `docker-compose.yml` file, it _does_, in fact, fix this issue at least when running either on Docker for Mac or Docker for CentOS7/Linux...

I'm still working on one other weird issue—it seems the ui static assets folder gets screwed up somewhere in the container build, so I had to add some custom tasks via an ansible-container role (see: https

[2017-09-09 20:12] JohnHouwer opened #99 "/etc/tower/SECRET_KEY is hardcoded in Docker Image"
### Summary

/etc/tower/SECRET_KEY is hard-coded in Dockerfile
https://github.com/ansible/awx/blob/devel/installer/image_build/templates/Dockerfile.j2#L42
https://github.com/ansible/awx/blob/devel/installer/image_build/files/settings.py#L6
See: https://docs.djangoproject.com/en/1.11/ref/settings/#std:setting-SECRET_KEY

### Environment

* AWX version: DEVEL - Today
* Ansible version:  2.3.2.0
* Op

[2017-09-09 20:24] mrjoshuap commented on #89
@matburt, I'm using the CDK and I suspect that the default SCC value there is `Run As User Strategy: RunAsAny`, where the default for a normal installation is probably NOT `Run As User Strategy: RunAsAny`.

I don't have access to a full OpenShift environment to compare and contrast at the moment, so I'll need to verify when I get back in the office next week.

[2017-09-10 00:22] kareiva commented on #53
Are you behind multiple network layers? I had similar issues with deploying to OpenStack instances. Just a wild-ass guess, but try reducing the MTU in the docker daemon systemd configuration.

https://rahulait.wordpress.com/2016/02/28/modifying-default-mtu-for-docker-containers/

[2017-09-10 01:02] dagwieers commented on #34
@ghjm Some of the concerns you mention are identical to docker images or isolated nodes. People can f*ck up and that can lead to problems. Main thing is, on the command-line we use different Ansible versions without even the need for virtualenvs, containers or isolated nodes.

Secondly, if you only require a different Ansible version (which IMO is the largest use-case) the virtualenvs could be man

[2017-09-10 02:57] qq390722 opened #101 "Please explain the installation steps on the RHEL 7.3,thanks."
### Please explain the installation steps on the RHEL 7.3,thanks.

[2017-09-10 04:00] #101 closed, assigned to nobody

[2017-09-10 04:32] AlexCallejas opened #102 "Issue running the playbook on fedora 26"
### Summary
While running the install playbook, it fails because it cannot build image:

`TASK [image_build : Build AWX distribution] **************************************************************************************************************
fatal: [localhost -> localhost]: FAILED! => {"changed": true, "cmd": "make sdist", "delta": "0:46:25.292094", "end": "2017-09-10 01:19:01.122102", "failed"

[2017-09-10 08:30] qq390722 commented on #102
`npm install npm -g`
and try again

[2017-09-10 10:59] Zokormazo commented on #102
you need make & gcc-c++ to build native npm modules

[2017-09-10 12:29] kakawait commented on #23
@cchurch We could think adding your test on _docker healthcheck_ feature with `docker-compose >= 2.1` in combinaison to `depends_on`

[2017-09-10 20:24] inmylo commented on #67
@matburt , what other details do you need?

[2017-09-10 23:55] juan-ruiz commented on #78
im getting the same thing as OP on amazon linux, same node and npm versions

[code]

i have bzip2 installed as well as all the other prerrequisites on the awx install page

  `awx/ui/client/languages` doesnt exists

[2017-09-11 00:25] AlexCallejas commented on #102
Thanks a lot @Zokormazo !

After installing gcc-c++, the installation sends me another dependency error:
`# dnf -y install gcc-c++`
`# ansible-playbook -i inventory install.yml`
`...`
`TASK [image_build : Stage sdist] ******************************************************************** `
`fatal: [localhost -> localhost]: FAILED! => {"changed": false, "checksum": "03e1c699b3f5dd0c3200355a3ead210184

[2017-09-11 01:16] matburt commented on #23
Unfortunately migrations are going to be slow until we've upgraded to Django 1.10+ which we are looking to do pretty soonish.

[2017-09-11 02:13] matburt commented on #58
If you use the development environment then you have more options for stopping. For the production container, it's deployed to run under the docker daemon on your server and there are multiple ways to manage running containers in that situation.

Managing production services is up to the user and out of the scope of the AWX project.

[2017-09-11 02:19] matburt commented on #89
@geerlingguy that's interesting... that symlink shouldn't be required, I would think the `collectstatic` that we run during the `awx_web` container startup would take of that? At least it does locally for me.

@mrjoshuap keep me posted!

I'm totally okay with dropping the uid conditional down... it might(?) allow us to drop the always-use-root under standalone docker. I think I did that for a reas

[2017-09-11 02:24] matburt commented on #102
This will be covered here: https://github.com/ansible/awx/pull/30

[2017-09-11 02:24] #102 closed, assigned to nobody

[2017-09-11 02:27] matburt commented on #99
Need to refactor the standalone image build a bit... this is going to be tricky because folks who already have encrypted secrets could get locked out of them if we change it. I'll probably look at changing the default inventory variable to what we put in there in the process of changing this.

[2017-09-11 02:44] hanjh1986 opened #105 "issue related to "coffee-script", "contextify""
I try to install again, after refer git config, git:// to https:// change..
and then, put in,

#ansible-playbook -i inventory install.yml

fatal: [localhost -> localhost]: FAILED! => {
    "changed": true,
    "cmd": "make sdist",
    "delta": "0:08:00.144181",
    "end": "2017-09-11 11:30:07.105423",
    "failed": true,
    "invocation": {
        "module_args": {
            "_raw_params": "make

[2017-09-11 02:50] hiddenicon commented on #105
What OS version and distro? Is this the only error you're getting during install?

[2017-09-11 03:38] jagadeeshv16 commented on #105
I am facing the same issue in centos 7.3

[2017-09-11 03:50] geerlingguy commented on #89
@matburt - yeah, the symlink was a false flag... it seems that it's not necessary after some more testing. User `user: root` was enough to fix the main issue (see https://github.com/geerlingguy/awx-container/issues/7). The other issue I'm working on has to do with the container link / webserver hostname (`awxweb` vs. `awx_web`), and I hope it will be a simple fix to the docker compose file again:

[2017-09-11 04:05] rootameen commented on #105
I'm facing this, but with a lot more errors. Centos 7.3 Minimal:

Node: v6.11.3
NPM: 3.10.10
Centos: 7.3 Minimal

fatal: [localhost -> localhost]: FAILED! => {"changed": true, "cmd": "make sdist", "delta": "0:02:01.990273", "end": "2017-09-11 07:03:28.879473", "failed": true, "rc": 2, "start": "2017-09-11 07:01:26.889200", "stderr": "npm WARN prefer global coffee-script@1.10.0 should be installed

[2017-09-11 04:12] geerlingguy opened #106 "Allow for different role requirements file names/locations"
### Summary

I was trying to figure out a way for AWX to automatically install role requirements from Ansible Galaxy prior to running my playbook in a new Project Template, but didn't see any way to do it.

My current project structure is:

[code]

But it looks like [according to the documentation](http://docs.ansible.com/ansible-tower/latest/html/userguide/projects.html#ansible-galaxy-support), A

[2017-09-11 04:21] matburt commented on #106
We have definitely been opinionated in the past about where things like this get picked up. I'm fine with someone tackling this but it's not a priority for us.

We do see some *extremely* large directory trees in projects on user's systems so an exhaustive traversal of the entire project hierarchy will be rejected.

[2017-09-11 04:23] matburt commented on #105
Please provide the version of node and npm used.

[2017-09-11 04:27] hanjh1986 commented on #105
My OS is ubuntu16.04

and node, npm version is below

root@ubuntu:~/awx_0908/awx/awx/ui/node_modules# node -v
v6.11.3
root@ubuntu:~/awx_0908/awx/awx/ui/node_modules# npm -v
3.10.10

root@ubuntu:~/awx_0908/awx/awx/ui/node_modules# uname -a
Linux ubuntu 4.4.0-62-generic #83-Ubuntu SMP Wed Jan 18 14:10:15 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2017-09-11 04:29] rootameen commented on #105
Node: v6.11.3
NPM: 3.10.10
Centos: 7.3 Minimal

[2017-09-11 07:48] alancivita commented on #88
i don't have such option, where did you find the external AUTH providers menu in GUI?
thanks

[2017-09-11 08:06] inmylo commented on #67
Probably it was a problem on my side, after OS update and PC restart installation script has finished normally

[2017-09-11 08:21] jains99 opened #107 "Error in "Activate AWX Web Container""
### I am getting below error, can someone please help in this.

TASK [local_docker : Activate AWX Web Container] *****************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Error starting container e1aafa9640be17735e06a62d849f162c8f37a4ecb313120cd15c648801443349: 500 Server Error: In

[2017-09-11 08:49] hogarth-sv commented on #34
Just to add a specific use case onto this ...

We're in the process of a 1.7 (yes, really) to 2.3 migration at present.

I'd like to make the process to get to 2.4 much simpler for the team here.

One of the issues we have is an isolated and secure environment with a strict policy on importing packages/data/source/etc

The approach I've taken to mitigate this is custom packages that install isolat

[2017-09-11 08:50] jains99 commented on #107
I changed the port to 8080 and executed ansible playbook again. It is working fine now.

[2017-09-11 08:50] #107 closed, assigned to nobody

[2017-09-11 10:22] MyDigitalLife commented on #78
@juan-ruiz @BastienM Could you guys update `babel-istanbul` in `awx/ui/package.json` to `^0.12.0` and run it again and see if that fixes it or at least gives you another error?

[2017-09-11 10:59] hogarth-sv commented on #73
It would be useful to have something showing a rough mapping at least so that users referring to http://docs.ansible.com/ can have an idea of what is upstream here right now and what they can translate to their commercially supported install... and for contributors to get a better idea when their code in AWX has filtered down to their commercially supported installs.

[2017-09-11 12:26] trondhindenes opened #108 "Build and Install documentation is mingled"
### Summary

The docs don't clearly separate build and deploy documentation

### Additional Information:

The included documentation mixes the build and deploy documentation - start with the "installer" directory and end up with a set of running Docker containers. This requires a significant amount of reverse-engineering if deploying elsewhere than the scenarios specified.

I think everyone would

[2017-09-11 12:31] matburt commented on #108
This is by-design right now. In the future we're likely to provide pre-baked images but beyond that we have no specific plans.

[2017-09-11 12:31] #108 closed, assigned to nobody

[2017-09-11 12:47] mjrsnyder opened #110 "Feature: Associate vault password with an inventory source"
### Summary

Syncing an inventory source with a vault file fails because AWX cannot decrypt the vault.

### Environment

* AWX version: 1.0.0.333
* Ansible version:  2.3.1.0
* Operating System: CentOS 7
* Web Browser: Firefox

### Steps To Reproduce:

When configuring an inventory source from a project allow a Vault Credential to be specified and used to decrypt vault files.

### Actual Results:

[2017-09-11 13:07] BastienM commented on #78
No more `minimatch` related errors but the build still results in a failure :

[code]

No `awx/ui/client/languages` folder as well :

[code]

**Edit :** Installing `coffee-script@1.10.0` by hand only worsen the situation.

[code]

**Edit 2 :** Got past the `Build AWX distribution` task with the latest code pushed. Now building the web image.

[2017-09-11 13:30] #27 closed, assigned to marshmalien

[2017-09-11 13:34] matburt commented on #110
This is actually on our roadmap and is specced but we have to wait until Ansible Core finishes updating the way they invoke inventory in 2.4+ (the move towards a module-based system).

The reason we can't/don't invoke vault currently is because our inventory import doesn't actually involve `ansible` at all. We just parse the output of the script and pass it through a minimal tool to convert it to

[2017-09-11 13:34] #110 closed, assigned to nobody

[2017-09-11 13:41] mjrsnyder commented on #110
Thanks @matburt, is the roadmap available somewhere so we can get an idea of what's in the pipe?

[2017-09-11 13:50] hellhond commented on #105
@rootAmeen from the output it seems you do not have bzip2 installed.

`bzip2: Cannot exec: No such file or directory`

Try to install bzip and retry the AWX install.

I also received some npm warnings regarding coffeescript, but these are just warnings, and aren't technically a cause to stop the Ansible install playbook.

It is possible that after installing bzip, the install will work.

But, ymmv

[2017-09-11 13:56] rossedman commented on #53
@kareiva I think this may have something to do with docker bridge network. I believe the task runner is the service doing the configuring. So while I can access AWX and save things to the database, there still needs to be a way to expose the task runner.

[2017-09-11 14:04] BastienM commented on #105
@hanjh1986, @jagadeeshv16 & @rootAmeen :  You guys can go take a look at #78, same issue but with a better background about what have been tried to resolve the matter.

I guess there is indeed a problem with how the ui is actually package and compiled.

[2017-09-11 14:48] wenottingham commented on #73
I can understand that. I will note that currently AWX is "later" than Tower 3.2

[2017-09-11 14:51] wenottingham commented on #106
To be fair, extremely large project directory trees are going to break with isolated nodes anyway.

[2017-09-11 14:52] wenottingham commented on #110
At the moment, it's not. Issues are in the process of being migrated to this repo.

[2017-09-11 14:53] geerlingguy commented on #106
To avoid the large directory tree issue, it would be nice to maybe add a directive to `ansible.cfg` for 'role_requirements_file' or something like that, or to add a field in the template form to allow setting a specific path. Automatically discovering it would definitely be a pain.

[2017-09-11 15:18] marvin0815 opened #114 "LDAP configuration should be more flexible"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT

 - API
 - UI

##### SUMMARY

The LDAP-Configuration should be able to get configured which _member_attr_ should be looked up.
member_attr='member' is hardcoded but some people use uniqueMember instead.

##### ENVIRONMENT

* AWX version: 1.0.0.317
* Ansible version:  any
* Operating System: any
* Web Browser: any

##### STEPS TO REPRODUCE

Logging i

[2017-09-11 15:19] wenottingham commented on #106
If you do need the naive version of this, it's something like this:

[code]

[2017-09-11 15:20] wenottingham commented on #106
The non-naive version of this likely involves only pulling from where the playbook for the current JT that's being checked out. That may require API support.

[2017-09-11 15:48] knechtionscoding opened #115 "Install fails on image-build due to UI dependencies"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT
 - Installer

##### SUMMARY
After doing a clean install of Centos 7.3.1, cloning the newest version of AWX, installing dependencies, and running the local_docker installer the following error occurs on image_build : Build AWX Distribution:

`fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "npm --unsafe-perm --prefix awx/ui in

[2017-09-11 15:50] fortinj66 commented on #89
I can validate that running this under Openshift works fine when NOT using scc anyuid.  It does fail for scc anyuid due to the script described above

[2017-09-11 16:09] knechtionscoding opened #116 "During AWS_Task Setup Django failing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT
- Installer

##### SUMMARY
After successful completion of the local docker installation on Centos 7.3.1611 docker properly has 5 containers running. When looking at the logs for the AWS Task container however the celery process keeps dying due to anissue in the Django python code.

##### ENVIRONMENT

##### STEPS TO REPRODUCE

Run installation on Cen

[2017-09-11 16:23] matburt commented on #116
This is pretty similar to this issue: https://github.com/ansible/awx/issues/23 for which I have a PR available.

Basically, when migrations are running (and they can take a while) the interface will just return errors.

However, the task container is the one that should be running the migrations. The log seems clipped though... did it generate an error when attempting to run the migrations?

[2017-09-11 16:25] matburt commented on #115
Does the install hang or fail?

[2017-09-11 16:27] knechtionscoding commented on #116
@matburt I'm getting the logs from the "docker logs -f awx_task"  command.

During the install.yml run it returned no errors, as far as I could see. The output is gone because I've been trying to watch the docker logs to see if there was any change in them.

[2017-09-11 16:27] BastienM commented on #115
See #78 for solutions.

[2017-09-11 16:28] knechtionscoding commented on #115
@matburt It hard failed out.

@BastienM I'll read through that now.

[2017-09-11 16:33] matburt commented on #114
This is a pretty well tested code path for AWX/Tower you may want to walk through this bit of the Tower docs:

http://docs.ansible.com/ansible-tower/latest/html/administration/ldap_auth.html#ag-ldap-org-team-maps

You didn't mention any settings you may have provided in the Tower Configuration interface but Org/Team mappings run through daily validations against an openldap system, so I'll mark th

[2017-09-11 16:36] matburt commented on #115
can you re-pull and try the installer after this PR https://github.com/ansible/awx/pull/104 ?

This is an attempt to simplify local dependencies from those that we actually need to build AWX.

[2017-09-11 16:36] BastienM commented on #83
A better solution would be to have a CI building the images then distribute them via Docker Hub or Quay.

Most the settings that are available could be integrated into the entrypoints to leverage Docker's environment variables in order to opt in/out features or specify options value.

[2017-09-11 16:41] knechtionscoding commented on #115
@matburt This was cloned this morning. I got it after 109 was merged, I believe, so I've got 104 in here already. Running a git pull tells me I'm up to date. I'm testing the changes mentioned in #78 (Specifically updating babel-istanbul) and seeing if that resolves it.

[2017-09-11 16:44] knechtionscoding commented on #115
After running the suggested fixes in #78 the error still occurs:

`*
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "npm --unsafe-perm --prefix awx/ui install awx/ui\nnpm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue\nmake: *** [awx/ui/.deps_built] Killed\nnpm --unsafe-perm --prefix awx/ui install awx/ui\nnpm WARN

[2017-09-11 16:48] matburt commented on #116
One of the first things the task container will do is attempt to run migrations so if you can grab the output of that when it experiences the problem that'd be super helpful.

[2017-09-11 16:50] matburt commented on #115
The `Killed` line leads me to believe you may be running into an out-of-memory scenario? Most of the npm errors there are just warnings and I'm not seeing the error stanzas out of npm either, but the `Killed` line is definitely something you'll see if the OS kills the process for OOM.

Note that building the UI is going to be a pretty memory/cpu intensive process.

[2017-09-11 16:52] knechtionscoding commented on #115
Okay. I'll up the memory here and see if that resolves it.

[2017-09-11 16:54] knechtionscoding commented on #116
@matburt Is there a recommended way for me to grab those?

[2017-09-11 17:00] BastienM commented on #115
[code]

I guess I will have to give my VM more ram ... damn it consumes even more than Chrome.

[2017-09-11 17:09] knechtionscoding commented on #115
@matburt Bumping the Droplet up to 16GB of ram fixed the issue. I have a feeling that #78 is also resolved by increasing the base specs on the host.

I assume that the hardware requirements are the same as tower?

[2017-09-11 17:20] shanemcd commented on #115
@KnechtionsCoding What were the specs of your droplet before bumping to 16 GB?

[2017-09-11 17:22] knechtionscoding commented on #115
@shanemcd 1gb and 1 CPU.

@matburt I added a Hardware Recommendation Section to the Install.md because I couldn't find any outside of the Tower Documentation, which I only looked at after you mentioned RAM amount.

[2017-09-11 17:44] matburt commented on #115
well 1gb is probably too low but 16G is a bit overkill. Note that *building* is more expensive than running AWX... I think I have successfully built in something running in the 2g - 4g range.

[2017-09-11 17:44] #115 closed, assigned to nobody

[2017-09-11 17:48] matburt commented on #116
just get to the log output early I'd reckon?

1) Stop all containers
2) remove pg data dir
3) start postgres and let it refresh that dir
3.5) wait a brief time for pg to start up
4) start awx_ containers and immediately start pulling the logs for awx_task

[2017-09-11 17:55] ghost opened #118 "Build sdist builder image fails due to Proxy"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT
 - Installer

##### SUMMARY
Build fails due to proxy

##### ENVIRONMENT
* AWX version: devel
* Ansible version:  2.3.2.0
* Operating System: RHEL 7.4

##### STEPS TO REPRODUCE

Install Server behind a Proxy and try to run the ansible playbook to create a Docker Environment.
Build of sdist builder image will fail due to proxy settings that arent prese

[2017-09-11 17:57] ghost commented on #83
Yes i agree @BastienM.
Is there a valid reason why there isnt an official Dockerimage available on the hub and just a docker-compose.yaml for the DB etc. ? Would be interesting :)

[2017-09-11 18:00] phandolin commented on #116
I can second having this issue, the error messages have been repeating for about 10 minutes.

The other thing I'm noticing which may be related is when I navigate to http://localhost a pop up box says "ERROR Failed to read/api. GET status: 500 A server error has occured". I can close the box, and when I attempt to login, it just hangs with the 'Working' gear spinning in the bottom corner.

[2017-09-11 18:27] geerlingguy commented on #83
@Numblesix - there is an image available, but no, it's not official:

    curl -O https://raw.githubusercontent.com/geerlingguy/awx-container/master/docker-compose.yml
    docker-compose up -d

I'm working on it in this project: https://github.com/geerlingguy/awx-container — for now I hope it's a good stopgap until AWX has a more official prebuilt image.

(And it's two images, corresponding to the

[2017-09-11 18:45] ghost commented on #83
@geerlingguy Nice to see that :)
ive you need some help you let me know :+1:

[2017-09-11 18:50] BastienM commented on #83
@geerlingguy : Had a quick look at your docker-compose, you should probably drop the `links` for `depends_on`.
The former has been deprecated since v1.12 or v1.13 (when networking went live).

The rest is looking good :)

[2017-09-11 18:58] balpert89 opened #119 "SAML Login fails with invalid endpoint"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT
 - Installer

##### SUMMARY
I configured awx to utilize our SSO with the SAML protocol. The login works in principle, but awx receives the response at the wrong port.

Message received:
[code]

I deployed AWX on an OpenShift 3.4 cluster.

##### ENVIRONMENT

##### STEPS TO REPRODUCE

Configure AWX with a SAML Identity Provider. We are using Redhat SSO

[2017-09-11 19:01] knechtionscoding commented on #116
@matburt Following Steps taken:

1. Stop each container in descending order:
* awx_task
* awx_web
* memcached
* rabbitmq
* postgres

2. Remove /tmp/pgdocker/

3. Re-run install.yml with no other changes.

migrations finished and everything seemed to be happy.

Curious if there is an issue on the wait time, or something similar?

Here are the migration logs from the second run.

[code]

[2017-09-11 19:24] MyDigitalLife commented on #78
Looks like #115 fixed the issue! Thank you for you help @gconsidine.

[2017-09-11 19:24] #78 closed, assigned to gconsidine

[2017-09-11 19:34] phandolin commented on #116
@KnechtionsCoding @matburt I followed those steps and it's also working here now. Thanks!

[2017-09-11 19:38] knechtionscoding commented on #116
@phandolin Good to hear.

[2017-09-11 19:52] matburt commented on #116
blah, part of me hoped you would run into it again so I could see what the error was :/ I'll close this and if you have any other information feel free to open it with more logs.

[2017-09-11 19:52] #116 closed, assigned to nobody

[2017-09-11 19:55] TemperingPick opened #121 "When configuring LDAP settings Save button never becomes active."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT

 - UI

##### SUMMARY

When trying to configure LDAP settings the Save button never becomes active preventing me from saving the settings. All boxes are filled out.

##### ENVIRONMENT

* AWX version: 1.0.0
* Ansible version:  2.3.2.0
* Operating System: RHEL7
* Web Browser: Chrome 60.0.3112.113

##### STEPS TO REPRODUCE

Enter information needed to

[2017-09-11 19:59] gconsidine commented on #105
I'm going to close this one assuming it ties into #78 and #115 -- I'll reopen if that's not the case.

[2017-09-11 19:59] #105 closed, assigned to nobody

[2017-09-11 19:59] aoyawale commented on #121
hello,

This is currently the same issue reported in https://github.com/ansible/awx/issues/88

[2017-09-11 20:04] TemperingPick commented on #121
Clearly my searching skills aren't great.

[2017-09-11 20:04] #121 closed, assigned to nobody

[2017-09-11 20:21] leifmadsen commented on #99
Running into a similar problem with the hostname, so this is really a larger task than just the SECRETs. The `settings.py` being a static file causes some issues when deploying. Is there an idea around how this should be refactored?

[2017-09-11 20:25] leifmadsen commented on #53
I ran into this, and basically, you need to connect via the hard coded `awxweb` hostname (add to your `/etc/hosts` file) and then nginx tends to route things properly. This is what I ended up doing after opening port 80 in a security group in my OpenStack deployment.

Probably related to #99 partially. The whole `settings.py` needs to be templated so that we can adjust the ports and hostnames wher

[2017-09-11 21:02] leifmadsen opened #123 "Source update schedule web template does not render properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT
 - UI

##### SUMMARY
When trying to add a schedule to update the sources hosts, the HTML template renders incorrectly.

##### ENVIRONMENT
* AWX version: master branch (Sept 11, 2017)
* Operating System: CentOS 7.3
* Web Browser: Google Chrome Unstable (latest, Fedora 26)

##### STEPS TO REPRODUCE

* Add a new inventory, save
* Click on SOURCES
* Add

[2017-09-11 21:04] rossedman commented on #53
@leifmadsen will give this a shot thanks!

[2017-09-11 21:48] matburt opened #124 "Some minishift installs broken"
With the recent change to use a container to build the python sdist we've broken some minishift installs that can't bind the local volume when running the sdist.

I suspect we'll need to conditionally build that or provide some other alternative for those minishift users.

[2017-09-11 21:54] shanemcd commented on #124
Curious what people think about using `oc cluster up` instead of `minishift`: https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md

I really don't like how using the minishift installer requires hijacking your docker environment, and running docker inside of a VM seems unnecessary since we specify Docker as a prerequisite in the Install Guide. There are a few hoops to jump throu

[2017-09-11 22:20] jdoss commented on #124
I actually prefer to use `minishift` when running Openshift locally because it keeps itself contained in it's own little world and it just works :tm: in most cases.

It looks like you can use https://docs.openshift.org/latest/minishift/using/host-folders.html#sshfs-folder-mount to mount your home dir into the VM. I manually set it up but the build dies with

[code]

I will see if I can move past t

[2017-09-11 22:22] geerlingguy commented on #89
So... should we close this (since there are known workarounds and it seems like it's not as high priority/necessary as it was when first found) or leave it open for some change to make the uid scripting a little more robust?

[2017-09-11 22:56] matburt commented on #23
implemented in #113

[2017-09-11 22:56] #23 closed

[2017-09-11 23:01] matburt commented on #89
I think a really simple PR that lowers the uid by which we perform the passwd file rewrite, and some light testing on the docker containers would totally solve this issue.

I can do it in a few days if no one gets around to it.

[2017-09-12 03:58] matburt commented on #99
Yes, though the hostname is fine I just think it's mis-typed in a particular location.

The secret key just needs to be populated from the environment given at container start time, but care must be taken because it will lock folks out of their credentials if it all of a sudden starts giving people a different value.

[2017-09-12 06:22] gripenk opened #126 "svn command is missed in the awx_task image"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT

 - Installer

##### SUMMARY

No svn command included in the docker image

##### ENVIRONMENT

##### STEPS TO REPRODUCE

Under "New Project" -> "choose an SCM Type" -> select "Subverion", input the correct URL, credential. But it failed to do "SCM update"

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

Although we can use

[2017-09-12 07:14] marvin0815 commented on #114
Sorry for the lack of information.

This is our LDAP configuration:
[code]
This is the expample group:
[code]

If i modify https://github.com/ansible/awx/blob/devel/awx/sso/fields.py#L326 from:
[code]
to
[code]

users get assigned to the Company and Teams.
I hope this clearifies out issue.

[2017-09-12 09:39] aizuddin85 opened #127 "Build AWX Failed due to SELinux context unchecked for volume mapping."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT
 - Installer

##### SUMMARY
Mounting ../awx:awx caused permission denied due to SELinux during ansible task:
TASK [image_build : Build AWX distribution]

##### ENVIRONMENT

* AWX version:1.0.0.333
* Ansible version:  2.3.1.0-1.el7.noarch
* Operating System: CentOS 7.3.1611

##### STEPS TO REPRODUCE

1. git clone devel branch
2. ansible-playbook -i in

[2017-09-12 10:41] daswars commented on #99
Do any of you know how to manually decrypt the passwords and SSH keys from the awx database with openssl?

I have the SECRET_KEY: cat /etc/tower/SECRET_KEY

and also all data from the database -> main_credential

Didn't get decrypted with the command:
openssl enc -e -aes-128-ecb -in encrypted. data -out decrypt. txt

[2017-09-12 11:54] matburt commented on #127
This is already fixed here https://github.com/ansible/awx/pull/120

[2017-09-12 11:54] #127 closed, assigned to nobody

[2017-09-12 11:55] matburt commented on #126
Can you show me the output of the project update run?

[2017-09-12 12:04] aizuddin85 commented on #127
@matburt, dont you think that using ansible sefcontext is possible in the playbook instead manual set context?

[2017-09-12 12:06] aizuddin85 commented on #127
Apologize, did not see the Z flag previously. All good to me.

[2017-09-12 12:15] matburt commented on #99
@daswars this is out of scope for discussing this issue. Having said that... you can't use openssl to decrypt the credentials stored in the database.

[2017-09-12 12:36] stephenpc opened #128 "AWX Web Container activation fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

AWX Web Container activation fails

##### ENVIRONMENT
* AWX version: devel
* Ansible version:  2.3.1
* Operating System: CentOS 7.x
* Web Browser: N/A

##### STEPS TO REPRODUCE

* Run the installer.
[code]

##### EXPECTED RESULTS

An installation with no errors

##### ACTUAL RESULTS

[code]

##### ADDITIONAL INFORM

[2017-09-12 13:04] knechtionscoding opened #130 "When Running AWX Job SSH Fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Jobs

##### SUMMARY
After putting a basic YUM Update playbook into AWX, configuring inventory, running the playbook returns a "connection refused failed to connect to new control master.

##### ENVIRONMENT

##### STEPS TO REPRODUCE

Add yum job to new AWX install. Run job based on template.

##### EXPECTED RESULTS
Yum update.

##### ACTUAL RESUL

[2017-09-12 13:39] theasp opened #131 "Can't reorder "survey" items in Chrome"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The drop zone does not appear in Chrome when re-ordering survey items.  Works fine in FireFox.

##### ENVIRONMENT
* AWX version: 1.0.0.312
* Ansible version:  2.3.1.0
* Operating System: Docker/CentOS
* Web Browser: Chrome 61.0.3163.79

##### STEPS TO REPRODUCE
1. Create two or more survey items in a task template.
2. Attemp

[2017-09-12 13:42] mabashian commented on #123
@leifmadsen thanks for filing this!  This is a known issue and we've got a fix coming that we hope will land in the next week or so.  I'm going to close this issue for now.  We can always re-open if the problem persists after the fix lands.

[2017-09-12 13:42] #123 closed, assigned to nobody

[2017-09-12 14:35] leifmadsen commented on #123
@mabashian I'm personally not a big fan of that workflow. It would be better that whatever fixes are going to fix this would reference and result in a `Closes #123` when the commit lands, which would tell me when the fix was completed, and when I should start testing again.

Also, closing this ahead of time could easily result in someone else taking a look at open issues, and then noticing their i

[2017-09-12 14:52] kakawait opened #133 "Custom email template for notification"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
May I miss something, but I didn't find a way to customize email template used by built)

##### EXPECTED RESULTS

Be able to pass raw or HTML email template with some variable substitution system.

[2017-09-12 14:52] wenottingham commented on #133
dup of #79

[2017-09-12 14:52] #133 closed, assigned to nobody

[2017-09-12 14:53] kakawait commented on #133
Erf I didn't find it issue using search... Sorry! I will track it

[2017-09-12 15:38] TemperingPick opened #135 "awxweb:8052 not found when running job."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

404 Error when running a job against an inventory, hostname not found.

##### ENVIRONMENT

* AWX version: devel
* Ansible version:  2.3.2
* Operating System: RHEL7
* Web Browser: Chrome 60.x

##### STEPS TO REPRODUCE

Run job with known up host.

##### EXPECTED RESULTS

Job should run.

##### ACTUAL RESULTS

ERROR! Attem

[2017-09-12 15:51] fortinj66 opened #136 "Unable to setup LDAP config. Save button is never enabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When I attempt to configure LDAP, even after setting all fields, the save button is never enabled so I cannot save/test the configuration.

##### ENVIRONMENT

##### STEPS TO REPRODUCE

go to the configure LDAP screens and enter LDAP configuration data

##### EXPECTED RESULTS

Be able to save/test LDAP config

##### ACTUAL RE

[2017-09-12 15:55] wenottingham commented on #135
Are you running in local docker, minishift, openshift, or....?

[2017-09-12 16:00] fortinj66 commented on #136
Looks like this is the same as https://github.com/ansible/awx/issues/88.  I'll close this one

[2017-09-12 16:00] #136 closed, assigned to nobody

[2017-09-12 16:11] fchiacchiaretta opened #137 "Error with inline vault password"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
When I try to setup and sync an inventory source (type Sourced from a project) which includes a group variable with an inline vault encrypted value, sync fails.

##### ENVIRONMENT
* AWX version: 1.0.0.338
* Ansible version:  2.3.1.0
* Operating System: CentOS 7.3

##### STEPS TO REPRODUCE
1. Create an empty inventory
2. Mov

[2017-09-12 16:15] TemperingPick commented on #135
Local docker.

On Tue, Sep 12, 2017 at 12:04 PM Bill Nottingham <notifications@github.com>
wrote:

[2017-09-12 16:20] allen00se opened #138 "Migration fails and leaves AWX install in a bad state"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

AWX install seemed to complete without error, however it appears to be hung in the migration phase. The web interface shows AWX is upgrading and tailing the log files shows a traceback error repeatedly.

##### ENVIRONMENT

##### STEPS TO REPRODUCE

Install AWX per guide

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2017-09-12 16:22] wenottingham commented on #138
Full error, please.

[2017-09-12 16:44] allen00se commented on #138
https://paste.ee/p/A4zGi

[2017-09-12 16:52] balpert89 opened #139 "Task output is cut when the output is too long"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

When a failed task is sufficiently long it is cut out from the ansible task output pane. This way it is hard to determine the error as seen here:

![image](https://user-images.githubusercontent.com/28100685/30338178-fe17e214-97ea-11e7-8dbe-b69ad826b94a.png)

##### ENVIRONMENT

##### STEPS TO REPRODUCE

Create a task that -

[2017-09-12 17:28] theasp commented on #135
There appears to be a hard requirement that the web container have the hostname `awxweb` and the task container `awx`.  If you built yours using different container names, you will have to adjust your links so that `awxweb` on your task container resolves to your web container, even if you have them on the same docker network.  Note that hostnames don't get added to `/etc/hosts` without links.

[2017-09-12 17:39] TemperingPick commented on #135
I built mine from the playbook and it called the images awx_web and awx_task. I didn't rename them.

[2017-09-12 17:43] theasp commented on #135
Right, but it wants `awxweb` to resolve, not `awx_web`.  I'm not saying the playbook is right or wrong, but your error message would indicate that it can't resolve that name.

[2017-09-12 17:55] jlmitch5 commented on #139
@balpert89 thanks for filing this issue!

Standard out output is capped by the API for storage and performance reasons.  We probably won't change the fact that lines are capped at a certain number of characters because of these reasons.

That being said, you bring up a valid point that line 36 of your output is not useful in and of itself.  If you click the line of output you _should_ be able to g

[2017-09-12 17:55] TemperingPick commented on #135
What all do I need to rename to fix the issue? I've renamed the docker containers to awx from awx_tasks and awxweb from awx_web.

[2017-09-12 18:00] jlmitch5 commented on #137
thanks for filing. At a glance, this seems to be an api issue based on the python traceback.

[2017-09-12 18:00] fortinj66 commented on #88
A slightly different but related issue...

If you try to edit a setting (in my case in LDAP) the save button does not get enabled (as expected with the current bug...)  However, if you try the workarounds such as hitting cancel or going to a different option you are not prompted with a discard or save changes popup as you are during initial configuration.   At this point it seems impossible to upd

[2017-09-12 18:08] hiddenicon commented on #88
I've just experienced that same thing. My initial config saved (with the 'work around'), however my LDAP isn't working so I wanted to make changes. I don't get any modal's now or anyway to save it just like you saw.

[2017-09-12 18:10] matburt commented on #139
Dramatic improvements are also planned for our next major Tower release, so you'll see those changes in awx first. I'm going to close this one given @jlmitch5's comment and that this is going to be an active area of development.

[2017-09-12 18:10] #139 closed, assigned to nobody

[2017-09-12 18:11] matburt commented on #138
I've been hearing about this for a little while from various folks... is there any way you can run this again and see if it happens again grabbing more of the output the occurred above this as this isn't the totality of the `awx_task` container log.

Basically... in some situations migrations seem to be failing but no one has been able to show me a log that shows the actual migrations failing at t

[2017-09-12 18:12] matburt commented on #137
Unfortunately we don't currently support unvaulting for scm-based inventory files, but it's something on our roadmap.

Reason being that we aren't currently invoking ansible to get this inventory which obviates the ability to handle vaulted information.  Ansible is currently working on modularizing their inventory scripts which will be required for us to do this.

[2017-09-12 18:12] #137 closed, assigned to nobody

[2017-09-12 18:13] knechtionscoding commented on #138
@matburt This is the same error I encountered yesterday. #116.

@allen00se The solution that worked for me and @phandolin was the following:

1. Stop each container in descending order:
* awx_task
* awx_web
* memcached
* rabbitmq
* postgres

2. Remove /tmp/pgdocker/

3. Re-run install.yml with no other changes.

Not sure what the cause was, I couldn't grab the logs yesterday before they were overw

[2017-09-12 18:15] allen00se commented on #138
@matburt

Youre in luck bc I have it from the start...

https://paste.ee/p/i1buQ

[2017-09-12 18:18] allen00se commented on #138
@KnechtionsCoding

Thanks man, that looks to be working, further along than the first try already.

[2017-09-12 18:19] matburt commented on #135
@TemperingPick what does the `awx_web` container think its hostname is?

[2017-09-12 18:19] matburt commented on #135
I totally could see that this *could* be a problem... and I've heard it a few times now, I'm just trying to track down how we could find ourselves int his scenario.

[2017-09-12 18:24] matburt commented on #130
I'll be honest, I'm not sure... if you exec into the container can you connect directly from the shell there?

[2017-09-12 18:29] jlmitch5 commented on #94
if someone is interested in working on a pr for this, feel free to @ me on the UI side of things, I did the initial implementation of the third-party auth work.

[2017-09-12 18:30] fortinj66 commented on #88
Here is an error I am seeing in the logs...  Not sure if its related:

[code]

[2017-09-12 18:34] matburt commented on #138
The important thing from @KnechtionsCoding was this bit:

2. Remove /tmp/pgdocker

Here's the line from you @allen00se that's relevant

[code]

Had tried to start it up once before and it failed and then went further the next time?

Maybe two parallel installs?

[2017-09-12 18:35] matburt commented on #138
We need to find a way to make sure this kind of error starting up awx_task can't happen.

[2017-09-12 18:36] knechtionscoding commented on #138
@matburt When I had the issue I had previously run the playbook and had to fix a different error. I didn't even think about that.

Run a check for /tmp/pgdocker? Is that the storage of postgres permanently? Could it be removed on run of script?

Because if it can be removed on script run then the ansible can be a simple as something like this:

[code]
If /tmp/pgdocker is permanent storage for the

[2017-09-12 18:46] TemperingPick commented on #135
@matburt right now it says awxweb after I changed it.

[2017-09-12 18:49] matburt commented on #128
Looks like it's fixed up

[2017-09-12 18:49] #128 closed, assigned to nobody

[2017-09-12 18:51] allen00se commented on #138
@matburt @KnechtionsCoding
Same here I had the flag set for the AWX branding logos, but didn't have them in the correct location which caused the install to fail. I put the logos where they belonged and then ran the install again. Im sure at that is what caused the /pgdocker folder to exist already.

[2017-09-12 19:24] knechtionscoding commented on #130
Yes. Inside of the aws_task container I can ssh to all the servers correctly.

[2017-09-12 19:33] wenottingham opened #143 "Feature: migrate app to the form paradigm used in credentials"
##### ISSUE TYPE

There was a large refactoring of the UI done in the credential add/edit forms in AWX.

We should use this refactor elsewhere:
- [ ] organizations
- [ ] users
- [ ] teams
- [ ] projects
- [ ] inventories
- [ ] job templates
- [ ] workflow templates
- [ ] notifications
- [ ] other stuff I'm forgetting

##### COMPONENT NAME
 - UI

##### ADDITIONAL INFORMATION

cc @gconsidine

[2017-09-12 19:34] phandolin commented on #138
@matburt @KnechtionsCoding @allen00se Yes, I had also run the playbook once, had to stop it and update the server, then ran again and that's when it happened here as well.

[2017-09-12 19:38] leifmadsen commented on #99
@matburt I think if the intention is for the value of the hostname to be hardcoded is fine, then yes, it is. My issue is that this whole file should be a template that allows you to override values, such as hostname, secret key, etc.

[2017-09-12 19:39] leifmadsen commented on #99
So while part of the issue here is that one particular field is hard coded, I would prefer to see this whole file made into a template so that all the values are dynamic, and thus increases the original scope of this issue.

[2017-09-12 19:41] leifmadsen commented on #135
This is related to #99 and #53 where I state that the file of hard coded values should be migrated to a template that allows you to specify things like a hostname that you expect.

The work around is to place `awxweb` into your `/etc/hosts` file pointing at the IP address of your server hosting AWX.

[2017-09-12 19:43] leifmadsen commented on #135
@TemperingPick see #53 and my note above, but the name of the container isn't an issue at all here. The `/etc/tower/settings.py` file has several hard coded arguments, including the hostname, so you'll need to adjust your `/etc/hosts` file to point at the server IP address, and access the AWX service via `http://awxweb` in your browser.

[2017-09-12 19:46] leifmadsen commented on #135
Specifically here:  https://github.com/ansible/awx/blob/devel/installer/image_build/files/settings.py#L24

I had to modify the value as well to remove the port address, since by default port 80 on the `awx_web` already forward to the `awx_task` container over the docker network (so you don't really have direct access to port 5062).

[2017-09-12 19:53] theasp commented on #135
The hostname is only visible inside the same container, but container names are resolvable on their own.    You can have an entry added to `/etc/hosts` for you by setting up a link with a hostname.

@leifmadsen solved the problem by changing `settings.py`, I solved the problem by providing the names that settings.py is expecting.  Both should work, and it goes without saying that the hard coded na

[2017-09-12 20:18] wwitzel3 opened #144 "Move to asgi_rabbitmq from asgi_amqp"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY
We need to move away from asgi_amqp and on to asgi_rabbitmq now that it is officially supported and part of the channels family. Initial testing with a single instance has been completed and works well.

This will also allow us to upgrade to the following versions:

    daphne == 1.3.0
    channels == 1.1.6
    asgi_rabb

[2017-09-12 20:22] hiddenicon commented on #88
Were those logs in the awx_web container? What path?

[2017-09-12 20:45] matburt commented on #130
That's pretty strange stuff. It all seems to be working here with our default settings. If you can find more information to help us reproduce it then that'd be helpful.

[2017-09-12 20:48] matburt commented on #138
We definitely don't want to remove the database directory otherwise everyone would lose their data but this is super helpful to know. Usually these things are protected by transactions to keep from running into partial migrations.

I'll look at this a little closer.

[2017-09-12 20:51] matburt commented on #99
https://github.com/ansible/awx/blob/devel/installer/image_build/files/settings.py

As you can see, a lot of stuff is templated out to the environment. Secret key *should* be which is what I'd focus on here.

You can totally expand on that if you want to but I'd probably resist customization for customization sake without providing a lot of real value.

Most of the specific application configuratio

[2017-09-12 20:53] matburt commented on #135
I definitely prefer your solution here @theasp ... if you have a chance then submit a PR for a generalized case.

[2017-09-12 20:59] fortinj66 commented on #88
Yes, this was from awx_web...  Here is an entire log segment
[code]

[2017-09-12 21:34] jlmitch5 commented on #88
Thanks for filing this issue!

I'm in the middle of investigating this and haven't _completely_ figured it out, but I believe enabling the save button should be a simple fix (we're referencing a javascript value to disable the button, that seems to be undefined).

The issue is present downstream (i.e.: Tower), so I'll be fixing it there and it should be picked up when we merge that code back into

[2017-09-12 21:54] hiddenicon commented on #88
Thanks for the update and I'll be looking forward for the fix.

[2017-09-12 21:59] jlmitch5 commented on #88
@hiddenicon and just a heads up, if this is blocking you, you can most likely get around the disabled button issue by opening up the chrome debugger (just right click and "inspect the element" on the greyed-out save button...make sure you have dev tools enabled).

Then you can delete this disabled key and it should turn green (and be clickable):

<img width="511" alt="screen shot 2017-09-12 at 5 5

[2017-09-12 22:01] Wicaeed opened #145 "Cannot pass VM Properties to filter on when using VMware Inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
When using source variables for the VMware Inventory type, it should be possible to decrease the number of discovered properties of each VM in order to decrease the inventory processing time. Currently for ~800 VMs the discovery time is around 25 minutes, and each discovered host has 150+ items associated with it.

##### EN

[2017-09-12 22:36] matburt commented on #145
That's definitely not a UI thing. Will mark this as a backend enhancement.

[2017-09-12 22:44] hiddenicon commented on #88
yes that workaround works editing it in the DOM. I was able to save changes as well. Now if I can get LDAP working. Do you know where LDAP logs to now? Different than Tower I assume. Sorry for being off-topic.

[2017-09-12 23:43] fortinj66 commented on #88
I saw them in the awx_web container container logs when I had to debug my config.

--John

Sent from my iPhone

[2017-09-13 00:13] senorsmile opened #146 "Ad-hoc jobs missing events/stdout"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
stdout capture is missing on nearly all jobs

##### ENVIRONMENT
* AWX version: awx_task:1.0.0.339
* Ansible version:  2.3.2
* Operating System: ubuntu 16.04
* Web Browser: chrome for mac

##### STEPS TO REPRODUCE

Using geerlingguy's role to deploy to a remote node:
https://github.com/geerlingguy/ansible-role-awx

But with o

[2017-09-13 01:04] stewartshea opened #147 "Install fails with missing docker-py issue on OCP 3.5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Installing into a proper OCP cluster (ie. not a local install such as minishift, oc cluster up, or cdk) fails with:

[code]

##### ENVIRONMENT
* AWX version: devel branch
* Ansible version:  2.2.1
* Operating System: Mac OS 10.12.5 & RHEL 7.3
* Web Browser: NA.

##### STEPS TO REPRODUCE

- git clone https://github.com

[2017-09-13 01:07] matburt commented on #21
This seems very much in line with a direct oauth2 integration.

An administrator would be able to define "apps" (aka providers) and users would be able to authenticate using those given the provider key and secret as well as their username and password (or something else depending on the grant type).  This returns a token to the user that they could use in place of their username and password when

[2017-09-13 01:10] matburt commented on #146
Our job detail UI is driven by callback event data (even though it looks like stdout). The stdout .out files are there mainly for when you click the download button.

It seems like the callback receiver may be having issues in your awx_task container... would it be possible to grab some logs from the container so we could see what's going on?

[2017-09-13 01:11] matburt commented on #147
Have you tried installing docker-py then?

[2017-09-13 01:16] stewartshea commented on #147
Yes on the macos - same result. Testing on the RHEL host now.

[2017-09-13 01:19] matburt commented on #135
@TemperingPick the hostname is not the same thing as the name of the container...

you can see here https://github.com/ansible/awx/blob/devel/installer/local_docker/tasks/main.yml#L174

When we launch the container we tell it to have that hostname and then we provide the link to the awx_task container and (hopefully? most of the time...) it can resolve the web container from the task container.

T

[2017-09-13 01:20] matburt commented on #147
You might also try just installing `docker`:

`pip install docker` and see if that works.

[2017-09-13 01:22] TemperingPick commented on #135
@matburt Sorry if I didn't make it clear enough but I did exec into the container and the hostname was awxweb for the awx_web container, and awx for the awx_task container.

[2017-09-13 01:28] hiddenicon opened #148 "LDAP Organization Mapping Trailing Whitespace"
- Bug Report

* AWX 1.0.0.350
* Ansible version:  2.3.1

When configuring the LDAP Organization Map under the LDAP settings, any trailing whitespaces will be taken and used. Example screenshot below will create an organization of "Network Team " when a "Network Team" is already in place. Whitespace characters are used in this case.

This string should be trimmed before committing to the settings/D

[2017-09-13 01:28] gdahlm commented on #147
Are you using python virtual environments, or a brew installed version of python?

The local connection will use the system python by default which may not have the package installed.

`-e "ansible_python_interpreter=python"`

Or you can add it to `~/.ansible.cfg` in the `[defaults]` section

[code]
I would highly encourage the use of some form of virtual env when working with this project as `doc

[2017-09-13 01:45] matburt commented on #135
Well that's good at least! Now to figure out why the task container can't reference it under some circumstances.

[2017-09-13 01:48] stewartshea commented on #147
Thanks @gdahlm  - that was a big help. Used a virtalenv and have made progress (currently building).

[2017-09-13 01:48] #147 closed, assigned to nobody

[2017-09-13 01:58] TemperingPick commented on #135
I can ping awx from awx_web and vice versa while in the container. Now when I run a job, it does give me my company's 404 page so is it possible it's trying to route outside of the container?

[2017-09-13 01:59] theasp commented on #135
@matburt I'm not sure my solution is a good idea!  It would be much cleaner to just get the name of the other container from an environment variable.  No need to use links or worry about having the right name.

[2017-09-13 02:40] matburt commented on #148
We don't currently perform any validation on inputs in this field, because it's kind-of a complex input. We'll pass this down into django-ldap/python-ldap and let the library handle anything of that nature.

I'm thinking we don't really want to be in the business of sanitizing strings like that.

[2017-09-13 02:40] #148 closed, assigned to nobody

[2017-09-13 03:26] gripenk commented on #126
image version is  awx_task:1.0.0.312

OUTPUT of SCM Update

Using /etc/ansible/ansible.cfg as config file

PLAY [all] *********************************************************************

TASK [delete project directory before update] **********************************
skipping: [localhost]

TASK [update project using git and accept hostkey] *****************************
skipping: [localhost]

TAS

[2017-09-13 07:40] gripenk opened #150 "pls has configuration to set baseURL"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- configuration

##### SUMMARY

the email / notification generated includes an URL to the job report but the domain name / baseURL is not corrected.

##### ENVIRONMENT

##### STEPS TO REPRODUCE

configure a valid email notification
add and enable such notification to the job templates
launch the job template.

##### EXPECTED RESULTS

##### ACT

[2017-09-13 08:37] fchiacchiaretta commented on #150
You can find it in Settings -> System -> Base URL of the tower host.

[2017-09-13 09:31] gripenk commented on #150
no such "Setting" / "System" item for image  awx_task 1.0.0.312

[2017-09-13 09:51] fchiacchiaretta commented on #150
Maybe the version you are running is still affected by the side navigation panel bug (fixed now), try to zoom out the page to show the Settings menu entry in the side panel.
![screenshot from 2017-09-13 11-42-24](https://user-images.githubusercontent.com/23556082/30370910-450d288a-9879-11e7-946e-d226225c7305.png)

[2017-09-13 09:56] calston opened #151 "200MB repository"
Abandoning the template, makes no sense in this instance.

Checking out the repository is 200MB for a total of 20MB worth of actual content. I guess there was massive churn on a binary object somewhere or something and that ref should probably be dropped from the repo to save people time. Might not seem important but bandwidth isn't great everywhere on earth.

[2017-09-13 10:33] #150 closed, assigned to nobody

[2017-09-13 12:05] matburt commented on #151
okay

[2017-09-13 12:05] #151 closed, assigned to nobody

[2017-09-13 12:08] calston commented on #151
You're okay with a broken repo?@matburt

[2017-09-13 12:08] knechtionscoding commented on #130
I'll try rebuilding on a new machine with the latest version and see if that fixes it. Closing this for now.

[2017-09-13 12:08] #130 closed, assigned to nobody

[2017-09-13 12:54] matburt commented on #135
I may try just adding that link in that you have
[code]

[2017-09-13 13:06] matburt commented on #151
There's no churn on any binary objects. Any old images have been removed, old branches have been purged, and the repository has been GCed. I'm sorry if that doesn't work for you, but it works fine here.

[2017-09-13 13:28] matburt commented on #126
Fixed in #155

[2017-09-13 13:28] #126 closed, assigned to matburt

[2017-09-13 15:03] ethackal opened #157 "Normal users unable to view/edit/use Job Template Surveys"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
When attempting to launch a job using a template containing a survey, normal users receive a modal with no form controls and are unable to launch.

##### ENVIRONMENT
* AWX version: 1.0.0

##### STEPS TO REPRODUCE
Create a new template with a survey for required variables. Attempt to launch the job as a normal user.

#

[2017-09-13 15:14] gordonmurray opened #158 "ERROR! no action detected in task"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
From the installer folder, performing: ansible-playbook -i inventory install.yml

Results in:

ERROR! no action detected in task
The offending line appears to be:

- name: Build AWX distribution
  ^ here

##### ENVIRONMENT

* AWX version: 2dda863baf72282ddff6c45cb1f4d7f3175ea733
* Ansible version:  2.0.0.2
* Operating

[2017-09-13 15:31] ajvn commented on #158
Affected by this as well.

[2017-09-13 15:34] matburt commented on #158
This Ansible version is too old, please try with a newer version of Ansible.

[2017-09-13 15:34] #158 closed, assigned to nobody

[2017-09-13 15:38] matburt commented on #157
This looks related to this recent change: https://github.com/ansible/awx/commit/41940687f1648ff1865d5ea9b677ddacbb42dbfe

[2017-09-13 15:39] ajvn commented on #158
@matburt Thank you Mathew.

[2017-09-13 15:52] gordonmurray commented on #158
Thank you @matburt Confirmed, I updated to Ansible 2.3.2.0 and it has started installing smoothly.

[2017-09-13 15:55] ethackal commented on #157
Adding ParentMixin to the JobTemplateSurveySpec definition seems to resolve it. Might pop up in other places though.

[2017-09-13 16:09] jlmitch5 commented on #131
@theasp I wasn't able to reproduce on latest devel in Chrome.

I'm curious if it has to do with specific question types (like multi-selects), or number of elements or something like that.  Could you investigate to see if you can isolate the behavior?

EDIT: thanks for filing this, btw!

[2017-09-13 19:37] #118 closed, assigned to nobody

[2017-09-13 22:04] balpert89 commented on #119
Just a question, does somebody got SAML authentication working with AWX?

[2017-09-14 00:06] matburt commented on #119
There are quite a few folks running this in production on Tower. I have not had a chance to investigate why this is not working.

[2017-09-14 00:07] matburt commented on #119
alrighty, looks like we are handing the wrong port over for SSO redirect. I'll see if I can get a fix in for this.

[2017-09-14 00:53] chadswen opened #159 "Support Kubernetes along with Openshift"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY
Create an installer that will deploy to a (non-OpenShift) Kubernetes cluster. Since the Dockerfile and OpenShift templates already exist this could be a relatively easy win.

[2017-09-14 01:19] matburt commented on #119
Could I get you to try #160

After some spelunking it looks like social-auth isn't getting the right value necessary for python-saml to realize the correct incoming port.

At the moment I don't have a SAML service to test this against with openshift. It might take me until next week until I can fully verify this, so if you can do it that would be super helpful!

[2017-09-14 01:30] matburt commented on #157
cc @AlanCoding who last touched

[2017-09-14 01:34] matburt commented on #159
This is an excellent idea... a lot of the current openshift role can be a guide for this.

[2017-09-14 02:19] matburt commented on #119
#161 is better, lets go with that.

[2017-09-14 03:59] matburt commented on #94
Unfortunately we're going to be blocked on this one until we upgrade our python-social-auth core version. Good news is that we are planning on doing that with the next set of features/mass upgrades.

[2017-09-14 11:17] iyurev opened #164 "Unable to Add Schedule to Job Template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI
##### SUMMARY

When I try add sheduler to job template don't working
interctive buttons **START DATE, LOCAL TIME ZONE, REPEATE FREQUENCY**
LOCAL TIME ZONE and  REPEATE FREQUENCY  - not responce, click on   START DATE  refresh page.

##### ENVIRONMENT

##### STEPS TO REPRODUCE

Add  shedule to template.

##### EXPECTED RESULTS

Normal  sh

[2017-09-14 12:05] AlanCoding commented on #157
That's a good observation, and it really shows the problem the assumption that I incorrectly made, which was that `parent_model` implies the existence of `get_parent_object`.

It makes a lot of sense to have the ParentMixin correspond with the use of parent_model. My only nitpick about that approach is that we should switch the view's logic to also use get_parent_object if we go this route, just t

[2017-09-14 12:33] matburt commented on #135
hopefully fixed in #162

[2017-09-14 12:33] #135 closed, assigned to matburt

[2017-09-14 12:35] matburt commented on #164
Please provide a screenshot and any errors from your browser's javascript console

[2017-09-14 13:05] iyurev commented on #164
Below error from my javascript console when I click on calendar icon located under **START DATE**  item:

[code]

[2017-09-14 13:13] matburt commented on #164
I edited your comment to apply markdown formatting. Just keep formatting in mind in the future, it helps the brain parse it!  This is also a good candidate for pastebin or gist.

We'll take a look at this asap.

[2017-09-14 14:51] elnappo commented on #159
This could be done as a Kubernetes [Helm](https://github.com/kubernetes/helm) package.

[2017-09-14 15:11] chadswen commented on #159
@elnappo It could, but not every cluster runs Helm Tiller, nor should every cluster. There are still some [authorization growing pains](https://github.com/kubernetes/helm/issues/1918) that prevent Helm from being operationalized in some environments.

Besides, the OpenShift templates already exist and could be reused. While using the Helm chart/release lifecycle to manage would be convenient, Ansi

[2017-09-14 15:28] towolf opened #165 "Change playbook selection from select to lookup in both job template and inventory source form."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

There are a lot of fields in the AWX UI which have a nifty search UI. But the entry field with the longest list of items for us is the "Choose a Playbook" dropdown.

Since we have a strcutured tree of hundreds of playbooks, selecting the desired item is pretty awkward. Cf. screenshot.

##### ENVIRONMENT

- awx-1.0.0.365.tar

[2017-09-14 15:31] towolf commented on #165
![image](https://user-images.githubusercontent.com/345210/30438843-8c70c8c2-9972-11e7-9a1f-e63a81a5d470.png)

[2017-09-14 17:44] jaredevantabor commented on #165
Thanks for the card @towolf, I spoke with our UX designer, and we are looking to revamp this field in the coming release, most likely to change it to a lookup field, which includes search capability. For reference, the inventory and project fields on the job template form use a lookup field.

[2017-09-14 17:50] senorsmile commented on #146
I unfortunately trashed the original VM.  I rebuilt it using the exact same playbook and tested that the problem is in fact still happening.  I have a feeling this was not happening on a previous build.

I have downgraded from
```1.0.0-339-gd9e50ab6d```
to
```1.0.0-331-g3118092e5 ```
to test further.

I'll grab some logs from within the container once this build is done and db migrations have comp

[2017-09-14 17:58] #52 closed, assigned to nobody

[2017-09-14 18:29] towolf commented on #165
Yes, a lookup field would likely solve this.

[2017-09-14 18:29] theasp commented on #131
@jlmitch5 What OS are you running Chrome on?  I've only tried it in Linux.  I was able to reproduce it with Chromium 59 in a brand new account, I will give it a try in a different desktop environment.  I'm open to it being something stupid on my part. ;)

[2017-09-14 18:40] wenottingham opened #166 "Feature: more granular permission types"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Right now, a large number of permissions are lumped into "org admin". These should be separate permissions that an org admin (optionally) inherits, but can also be separately delegated.

Among the requests:
- [x] project creation
- [x] inventory creation
- [x] workflow creation
- [x] notification creation/assigning

[2017-09-14 18:48] Anthonyjmartin opened #168 "Initial Docker install fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
When performing docker install of AWX the ansible-playbook fails on the following:

TASK [image_build : Build AWX distribution] *************************************************************
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Error creating container: 500 Server Error

[2017-09-14 19:11] senorsmile commented on #146
same with v331.

also tried deploying from geerlingguy's master and got the exact same thing.

The only interesting logs I found were supervisord.log in the container and the docker logs itself.  Anything else I should be looking for?

[code]

[code]

[2017-09-14 19:15] wenottingham opened #169 "Feature: prompting to save a launch configuration for scheduled & workflow nodes"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Currently, we allow prompting for many things at job launch time. Any of the following could be blank and need to be supplied:

- extra_vars (in general)
- extra_vars (via surveys)
- tags/skip_tags
- inventory
- credential

etc.

We should be able to have this launch configuration saved for schedule definitions and

[2017-09-14 19:16] matburt commented on #168
What version of docker are you using?

[2017-09-14 19:23] Anthonyjmartin commented on #168
On the linux box Docker version 17.07.0-ce, build 87847530f7
on OSX Docker version 17.06.2-ce, build cec0b72

[2017-09-14 19:24] wenottingham opened #170 "Feature: move notification hooks & logging hooks to a defined plugin model"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Right now both notification types and logging hooks are defined in AWX directly; the set cannot be extended without modifications to core AWX code and models.

It may be preferable to have them be more pluggable, such that the set can be extended without that level of surgery.

We'd likely need AWX Settings to be ex

[2017-09-14 19:30] wenottingham opened #171 "Feature: move to Ansible 2.7+ (2.8?) inventory plugins"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Ansible 2.4 laid down the framework for 'inventory plugins' (as opposed to inventory scripts).
As the existing inventory scripts are moved to plugins, AWX should move to them as well.

##### ADDITIONAL INFORMATION

[2017-09-14 19:32] matburt commented on #168
Can you show me the rest of the playbook run? It looks like your playbook run didn't pick up the tag from the scm checkout perhaps.

[2017-09-14 19:33] silver8ack opened #172 "ProgrammingError: relation "celery_taskmeta" does not exist in awx_task"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Database migrations not completing.  Relation 'celery_taskmeta' is missing and the awx_task container will not complete initialization.

##### ENVIRONMENT

* AWX version: 1.0.0.365
* Ansible version:  2.3.1.0
* Operating System: Ansible/Local OS: MacOS Sierra.  Target OS: Red Hat Enterprise Linux Server release 7.3
*

[2017-09-14 19:34] matburt commented on #172
I believe this is likely a dupe of https://github.com/ansible/awx/issues/138

Remove the directory that we mapped to postgres (and is defined in the inventory file) and re-run and it should straighten itself out.

[2017-09-14 19:34] #172 closed, assigned to nobody

[2017-09-14 19:36] wenottingham opened #173 "Feature: REPLACE supervisor"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

Right now, we pull supervisor at build time from the repo for the OS that we're building on/for.
supervisor is pure python and we can pull it into our requirements system.
This will involve building init scripts and other ancillary things.

Getting this done will include getting the following items checked:

- [ ] Find a

[2017-09-14 19:43] matburt commented on #146
It looks like the celery worker is not able to actually pick up jobs submitted to it. This seems like it's probably an issue with the linked rabbitmq container.

I don't see a broker connection stanza either... is your rabbitmq container running? are there any errors from it?

[2017-09-14 20:30] silver8ack commented on #172
Thanks for the feedback.  I'm using a pg_hostname variable, and an existing postgresql server.  It looks like I'm having a few issues however, that may be causing this one.

FYI, I stopped all containers, deleted the images and rebuilt with the postgres_data_dir commented out.  I don't have a data directory at the path in the inventory file.  Same issue.  Below is the full log after the awx_task c

[2017-09-14 20:36] matburt commented on #172
Looks like this right here is your problem:

`unable to connect to database: FATAL:  no pg_hba.conf entry for host \"<IPADDR>\", user \"awxpguser\", database \"postgres\", SSL off`

[2017-09-14 20:39] silver8ack commented on #172
Yep, I'll look into it.  I'm just not sure why the app needs access to the postgres database.  That's not the database name I'm using when running the build.  Also, I see the tables created on the proper database 'awx_development'.

I can alter the postgres config to allow that connection for now, but I'm just not sure why it needs access to the postgres database.  That's not something that I thin

[2017-09-14 20:51] senorsmile commented on #146
Rabbitmq is up.

docker logs:
https://pastebin.com/tB8BUqkY

In the previously pasted log, wouldn't this be the rabbitmq connection:

[code]

I should repeat that there are in fact a couple of jobs that DO output stdout as expected:
- the "Demo Project" SCM Update
- the "Demo Job Template" hello world playbook

However, all other jobs get the error, including running an ad_hoc command or ping agai

[2017-09-14 21:20] senorsmile commented on #146
I just tried a completely different installation method, using geerlingguy's prebuilt container images.  I used docker-compose and brought them up on a completely different machine.

Direction here:
https://www.jeffgeerling.com/blog/2017/get-started-using-ansible-awx-open-source-tower-version-one-minute

I am getting the EXACT same problems.  All ad_hoc commands to localhost or any other hosts I a

[2017-09-14 21:53] senorsmile commented on #146
Correction... now all playbooks are displaying properly.     I cannot reproduce playbooks giving any errors.  It's only the ad hoc "Run Commands" jobs that display the error.

I had a colleague who is running awx on Fedora try, and ad hoc commands are doing the same thing for him.

[2017-09-14 22:01] matburt commented on #146
I'm definitely having trouble reproducing this... are the awx containers having trouble getting to the rabbitmq container?

[2017-09-14 22:06] Anthonyjmartin commented on #168
Here is the full output:
https://pastebin.com/JJ7mDtLU

[2017-09-14 22:20] matburt commented on #168
Here's your problem:

[code]

We take the version of the git tree and tag the image with it during the image build, since that doesn't exist for you it's not able to apply the right tag.

[2017-09-14 22:20] #168 closed, assigned to nobody

[2017-09-14 22:21] matburt commented on #168
you want to make sure you are executing the installer from the install directory also, as per the INSTALL.md instructions.

[2017-09-14 22:23] senorsmile commented on #146
The containers are definitely able to contact each other.

Here are the directions I sent to my colleague who reproduced the error:

- go to inventories
- click Demo Inventory
- click Hosts button towards the top
- put a check mark to the node
- click run commands
- select command module
- set arguments to anything (e.g. ls -alh)
- click launch

[2017-09-14 22:59] matburt commented on #146
Is it just ad-hoc commands? Normal jobs run okay?

[2017-09-14 23:01] senorsmile commented on #146
In my original build it was both (although I now think I may have broken something else in the first build that I wiped).

In my last 5 builds, with geerlingguy's prebuilt docker images normal jobs do run okay.  So it is just ad-hoc commands that seem to be consistently an issue.

[2017-09-14 23:13] moralloki commented on #146
Just adding my data to this.  I see the same results; stdout capture is missing.  This is only happening for ad-hoc commands.

ENVIRONMENT
- AWX version: awx_task:1.0.0.282
- Ansible version: 2.3.1.0
- Operating System: Fedora 26
- Web Browser: chrome for fedora

[2017-09-15 01:36] matburt commented on #146
Okay, so this is one of the architectural gaps between how we deploy AWX and Tower itself, there are some major changes coming to how stdout is displayed for ad-hoc jobs to make it event driven like normal jobs.

In the meantime, you can get the details of the ad-hoc command by looking at the API endpoint for the ad-hoc command: `/api/v2/ad_hoc_commands/7/events/`

This will show you the actual an

[2017-09-15 12:54] kustodian opened #174 "Selecting an inventory file from a project only lists yml files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When selecting an inventory file for a `Source from Project` inventory, the file selector only displays `*.yml` files and no other files. Check out the picture:
![image](https://user-images.githubusercontent.com/1949229/30482852-fa78146c-9a24-11e7-806f-fa841d36d4e1.png)
You can type the full path of the filename in the textb

[2017-09-15 13:04] matburt commented on #174
I'm trying to remember if this was a thing we consciously decided on, but it does seem a little wrong. I'm going to cc @AlanCoding who implemented this feature on the Tower side and we'll see what we can do.

There is a limitation to how many files we can process to try to determine what an inventory file/dir/script is.

[2017-09-15 14:38] kiranos opened #175 "awx current ansible version."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
AWX seems to rely upon epel to provide ansible version which is currently 2.3.1
There is an important bugfix in 2.3.2 which was released 2017-08-04 but epel has not gotten this release yet. So I've fixed it with "backporting the module from 2.3.2 to a local library/"

It would be nice if AWX could get the current re

[2017-09-15 15:06] matburt commented on #175
My thought here is that we could include the ansible repo in the installer instead of relying on epel.

[2017-09-15 16:08] jaredevantabor opened #176 "Test, document, and refine new patterns established in awx/ui/lib/ and awx/ui/features/"
### Summary

**Testing**

1. Test runner configuration (for fast unit tests)
2. At minimum, a well-tested example of a model, a directive, and a controller. This will help serve as a reference for additional test coverage over time.

**Linting**

Fully-linted source based on agreed upon eslint configuration.

**Documentation**

At minimum, documentation of `BaseModel` and the interface for each co

[2017-09-15 18:31] matburt commented on #53
This is probably fixed in  #162

[2017-09-15 18:31] #53 closed, assigned to nobody

[2017-09-15 18:31] matburt commented on #57
Were you ever able to get any more information about this?

[2017-09-15 18:34] matburt commented on #131
I noticed this too... it's possible but kinda difficult to do, so I'll leave this open.

[2017-09-15 19:54] naisanza opened #179 "Simple install - Error while fetching server API version"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

When installing AWX from the documentation, it stops at an error: Error while fetching server API version

Following the install guide found here: https://github.com/ansible/awx/blob/devel/INSTALL.md

Installed the requirements:
[code]

Ran the ansible playbook
[code]

##### ENVIRONMENT

##### STEPS TO REPRODUCE

1

[2017-09-15 20:31] naisanza commented on #179
Missed inventory tag `ansible-playbook -i inventory install.yml`

[2017-09-15 21:08] balpert89 commented on #119
I finally got back to this one, but now it seems I cannot bring AWX to generate the needed metadata, browsing to the metadata endpoint provides the following: `Invalid dict settings: sp_acs_url_invalid`

Log from the awx-web container:
[code]
This error is risen because of this (/var/lib/awx/venv/awx/lib/python2.7/site-packages/social/backends/saml.py):

[code]

The dummy class (/var/lib/awx/venv/

[2017-09-15 22:20] lucaslan opened #181 "Prompt password on launch doesn't work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Prompt password on launch doesn't work

##### ENVIRONMENT

##### STEPS TO REPRODUCE

1-Configure a simple project, like this:
[code]
2-Configure a credential, using credential tipe "Machine" and "Prompt on launch" selected.

3-Configure a simple repository with a machine

4-Configure a template job using all that you've cr

[2017-09-16 00:12] naisanza commented on #179
Looks like the issue is related to docker service not starting, but docker can't run inside lxc

[2017-09-16 00:12] #179 closed, assigned to nobody

[2017-09-16 03:11] matburt commented on #124
I've reworked the installer a bit to not specifically require the dist build container, check it out here: #182

This works for me on my local minishift install on macos and arch linux. I'll merge this sometime this weekend.

[2017-09-16 03:32] matburt commented on #175
alrighty!  check out #183 if you get a chance.

[2017-09-16 13:49] gconsidine commented on #181
Thanks for filing this issue, @Zokormazo. Since `includes` is valid (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes) but not fully adopted across browsers, I want to add a polyfill at the build level as a fix.

What version of Firefox are you using? The MDN link above indicates `includes` is supported in Firefox versions >= 43.

[2017-09-16 16:04] Zokormazo commented on #181
Oh, then my PR has no sense, better going with the polyfill

[2017-09-16 18:52] gconsidine commented on #181
The release date of Firefox 42 (the version just before `includes` was implemented) was 2015-11-03, so definitely recent enough for it to be an issue.

If you're looking to try it out sooner, it could be as simple as adding [babel-polyfill](https://babeljs.io/docs/usage/polyfill/) as a dev dependency and including it as the first require in the [vendor entry file](https://github.com/ansible/awx/bl

[2017-09-17 02:29] AlanCoding commented on #174
`*.ini` files should show up. We cap the list at 50 entries, so overly-broad criteria are only a problem in that they may crowd out other valid files.

You can also type in the relative path if you need an immediate practical resolution.

[2017-09-17 10:24] Zokormazo commented on #181
I tried your suggestion

[code]

but it didn't work:

![console](https://user-images.githubusercontent.com/1447328/30519721-8566a56a-9b9d-11e7-862a-a4533ec40f67.png)

I moved babel-polyfill to dependency instead of dev dependency as suggested in https://babeljs.io/docs/usage/polyfill/ and moved babel-polyfill to last entry on vendor.js to not interfere with other requirements and now it works.

I

[2017-09-17 12:15] #124 closed, assigned to matburt

[2017-09-17 12:16] #175 closed, assigned to matburt

[2017-09-17 15:35] ghost opened #187 "Support proxy during image build"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Building awx behind a web proxy.
Although proxy support has recently implemented [(153)](https://github.com/ansible/awx/pull/153), building base web image fails when trying to download tini executable.

##### ENVIRONMENT

##### STEPS TO REPRODUCE

prerequisites:
 - using an environment where access to web external res

[2017-09-17 16:56] gconsidine commented on #181
Nicely done, @Zokormazo! I'll check this out tomorrow morning.

[2017-09-17 19:42] victorock commented on #159
What about creating this based on ansible-container?

[2017-09-17 19:52] victorock opened #188 "Feature: Open Service Broker API"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Extend API to Support Open Service Broker API and Ansible Playbooks Bundle.

Ref:
https://github.com/openshift/ansible-service-broker/blob/master/README.md

[2017-09-17 20:17] victorock opened #189 "Feature: Refactor of containers"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
Refactoring of containers / build to ansible-container and have content published in Galaxy.

[2017-09-18 00:21] matburt commented on #159
From what I understand AC still lacks support for ConfigMap and maybe Secrets, both of which would be crucial.

[2017-09-18 00:28] matburt commented on #188
This seems like something the openshift team should do

[2017-09-18 00:29] matburt commented on #189
ansible-container still lacks a lot of the features that we would need to deploy our current pod specification so this would be heavily blocked on that.

[2017-09-18 01:33] Cerebus opened #190 "Invoke inventory script with '--host' when '_meta' key is absent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI
 - Installer

##### SUMMARY
Ansible's scripting convention is to use the _meta key to hold host_vars when invoked with --list, but when _meta isn't present, ansible calls the inventory script for each host.  AWX does not; as a result, host_vars in the dynamic inventory are lost.

##### ENVIRONMENT
* AWX version:  1.0.0.395
* Ansible

[2017-09-18 01:48] Cerebus commented on #190
By way of reference, see [http://docs.ansible.com/ansible/latest/dev_guide/developing_inventory.html#tuning-the-external-inventory-script](http://docs.ansible.com/ansible/latest/dev_guide/developing_inventory.html#tuning-the-external-inventory-script)

[2017-09-18 02:34] matburt commented on #83
This is done in #104

[2017-09-18 02:34] #83 closed, assigned to nobody

[2017-09-18 02:49] matburt commented on #174
I was talking to @rmfitzpatrick about this one last week and he had some great suggestions.

I definitely think we need to deprioritize the .yml files, I don't think I've met anyone who uses yml files for inventory. In fact, a lot of folks will *literally* use a file called `inventory`. So we could almost just list all of the files and directories that are *not* yml files... maybe up to one subdir

[2017-09-18 12:25] AlanCoding commented on #157
After digging, I decided I didn't like that approach. Alternative:

https://github.com/ansible/awx/compare/devel...AlanCoding:step_parent?expand=1

I think the right way to fix this is to remove the pattern of declaring both `model` and `parent_model`. We may also adjust the `permissions.py` to only do the check if the view is of the sublist type.

The big missing piece is that we should have some

[2017-09-18 13:04] AlanCoding commented on #174
@matburt do you just mean putting it in the help text? Because such a suggestion is already in there.

![screen shot 2017-09-18 at 9 02 56 am](https://user-images.githubusercontent.com/1385596/30543216-3987ebfa-9c50-11e7-8fcc-557693925cf7.png)

[2017-09-18 13:07] AlanCoding commented on #174
@kustodian Could you share with us a repository that reproduces the scenario you observed? I have `*.ini` files in a repo here:

https://github.com/AlanCoding/Ansible-inventory-file-examples

Those show up in the suggestions for me. Some cases that will cause them to _not_ show up include:

 - putting them inside a dot directory, like `.git`
 - putting them inside a directory named `group_vars` or

[2017-09-18 13:13] matburt commented on #174
I mean putting some help text in the text entry line... it's not immediately obvious what that's for and folks don't always read the tooltip

[2017-09-18 13:15] silver8ack commented on #172
FYI, after allowing access to the postgres database, I also had to upgrade postgres(that was throwing the jsonb error).  Everything's working now.  Thanks for the help.

[2017-09-18 13:30] trahman73 commented on #174
@matburt @AlanCoding I agree with having some placeholder on the field itself and only showing the most commonly used file types capped at 50.  We can also turn this field into a lookup similar to how we pick credentials so the user can search/filter through all available files.

[2017-09-18 13:34] matburt commented on #190
This is how it used to work, at least. We recently moved to using `ansible-inventory` which may work differently?  What do you think @AlanCoding

[2017-09-18 13:43] AlanCoding commented on #190
`ansible-inventory` will use the `--host` option and call it repeatedly if _meta/hostvars are not given.

However, this case is not using `ansible-inventory` because Ansible version is <2.4. This is telling me that we may have a new, unanticipated, bug inside of the backport script.

Thanks for the issue, the steps to reproduce are clear, because this is a well-known legacy case with inventory imp

[2017-09-18 14:00] chouseknecht commented on #189
@matburt

You've thrown down the gauntlet, sir!

I suspect you're correct, and there may yet be a feature or two missing. I'll poke at it this week, and see if I can make some progress. We do have support for multi-container pods, and secrets. We are missing config maps, however. Need to figure out where that fits in our container.yml.

Will work in totally separate repo, and see if we can create

[2017-09-18 14:08] matburt commented on #189
![gauntlet](https://user-images.githubusercontent.com/89544/30545957-44840fb2-9c59-11e7-9ea8-706f0c8450c7.gif)

[2017-09-18 14:40] AlanCoding commented on #157
This should be working in `devel` again. Thanks again for raising the issue.

[2017-09-18 14:40] #157 closed, assigned to AlanCoding

[2017-09-18 15:00] j00bar commented on #188
I think it need to be clarified to a _large_ extent what "support" means in the report's mind.

[2017-09-18 15:01] wenottingham commented on #188
Yeah - this isn't something we would do outside of conjunction with the OpenShift team. It's not clear this makes sense to be in AWX itself.

[2017-09-18 15:03] j00bar commented on #188
I mean, I'm all for it and we should totally work together on how to better support each other's efforts - just... what does "extend" and "support" look like? @victorock, thoughts? @matburt, probably should be `needs_info`.

[2017-09-18 15:03] wwitzel3 commented on #84
We should consider setting this to `False`
https://docs.djangoproject.com/en/1.11/ref/settings/#std:setting-DATABASE-DISABLE_SERVER_SIDE_CURSORS

The documentation for https://docs.djangoproject.com/en/1.11/ref/models/querysets/#django.db.models.query.QuerySet.iterator makes me think we might need to explicitly set it even though the default value for this is `False`. My point is, we want server s

[2017-09-18 15:10] falencastro commented on #119
The source of this issue, which appears to be the redirection to port 8052, is also preventing access to /api. When I go to http://towerurl/api it redirects me to http://towerurl:8052/api and this port isn't exposed.

[2017-09-18 15:12] aoyawale opened #192 "install fails during Build AWX distribution using container"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Installation fails on `TASK [image_build : Build AWX distribution using container]`

##### ENVIRONMENT

##### STEPS TO REPRODUCE
install minishift and the required rpms
configure the inventory file like mentioned in the docs for minishift
run the install playbook
##### EXPECTED RESULTS
successfully build.

##### AC

[2017-09-18 15:15] matburt commented on #119
@falencastro Add a trailing slash:   `http://towerurl/api/` until I get the rewrite rules down.

[2017-09-18 15:22] shanemcd commented on #192
Please have a look at https://github.com/ansible/awx/blob/devel/installer/inventory#L5-L14 and let us know if this resolves your issue.

[2017-09-18 15:41] gconsidine commented on #181
Looks like it's not going to be as straightforward as I'd hoped. babel-polyfill uses a function called `define` which conflicts with the build setting `define` to false to avoid modules from being imported AMD style. I'll spend some more time on this today.

[2017-09-18 15:43] AlanCoding commented on #190
@Cerebus we have attempted to replicate this issue, but have failed to do so. Here are some details on my environment:

[code]

I'm using the following testing example:

https://github.com/jlaska/ansible-playbooks/blob/master/inventories/metaless_dyn_inventory.py

The expectation is that host `group_one_host_01` has the variable `group_one_host_01_has_this_var`. This variable can only be obtained

[2017-09-18 15:55] matburt commented on #188
Going to close this one for the time being, we'll file follow up enhancements when we've decided more on the interaction points between the two projects.

[2017-09-18 15:55] #188 closed, assigned to nobody

[2017-09-18 16:07] AlanCoding commented on #174
After reviewing our existing code and examples, I'm going to put this in `needs_info`. For reference:

 - Our code intends to include all `.ini` files in the list, see https://github.com/ansible/awx/blob/devel/awx/main/utils/ansible.py#L65-L67
 - My examples show that this is working, see folder https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/test_batch

![screen shot 201

[2017-09-18 16:25] #192 closed, assigned to nobody

[2017-09-18 16:42] jangsutsr opened #193 "Tower configuration creates a separate db entry for each modification"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
The current modify logic is creating a new db entry, even if the entry with the same key but old value exists. It could burst the database if we modify configurations very often.

##### ENVIRONMENT
* AWX version: N/A
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: N/A

##### STEPS TO REPRODUCE

* Modify any T

[2017-09-18 17:21] tima commented on #159
That is my understanding @matburt based on what @chouseknecht said in #189. Pull request accepted.

[2017-09-18 17:23] tima commented on #145
Would this be helped by #171?

[2017-09-18 17:23] Tamharpreet opened #194 "ANSIBLE all - ping -vvv ISSUES"
Hi Everyone,

I am new to ANSIBLE!
I just installed it on my AWS instance.
I am able to ssh into remote guests and ssh keys are in the authorized_keys folder.
I am trying to Ansible ping all my remote guests. I am facing these issues since last week. But it gives me error as follows:

 ubuntu@ip-172-31-30-138:~$ ansible all -m ping -vvv

The host file looks like this:

[code]

Your help will be mu

[2017-09-18 17:28] tima commented on #96
I'm pretty sure this is a core engine issue that's already been resolved and will be released in v2.4: https://github.com/ansible/ansible/pull/23991

[2017-09-18 17:33] ryanpetrello commented on #194
@Tamharpreet is looks like your question might be specific to Ansible itself, not the awx project.  Try posing your question on the Ansible mailing list:

http://groups.google.com/group/ansible-project

...or `#ansible` on irc.freenode.net

[2017-09-18 17:34] #194 closed, assigned to nobody

[2017-09-18 17:41] matburt commented on #145
Yep that's entirely possible

[2017-09-18 17:50] Zokormazo commented on #181
For just includes() we could maintain own polyfill function file, but it will be a nightmare if we have to support more polyfills

[2017-09-18 18:04] AlanCoding commented on #174
Proposal from aggregating the related discussions:

(API)
 - Do not include YAML files in the file suggestions list (few people use them as inventory)
 - Always include any file with the filename of "hosts" or "inventory"

(UI)
 - New placeholder to suggest that typing into the field is possible
 - Implement a search-while-typing feature for the entry box

[2017-09-18 18:15] kustodian commented on #174
We have some very long paths to inventory files (don't ask why for now) which looks like this:
[code]
I changed the name of files a little bit but this is how they look like and they are not displayed in the list of files. But also if I type `.ini` I would expect the box to display only ini files, but it doesn't display these files. I also tried typing e.g. `environment` or `inventories` expect it

[2017-09-18 18:25] matburt commented on #174
@kustodian this might not work in the near term for you. We're only going to index the first 50 files we find.

The input box on that drop down will take anything, though... it doesn't have to match a search pattern. Since you already know the name of inventory you'd just type it in directly there and it will pick it up and work.

[2017-09-18 19:04] gconsidine commented on #181
Hey @Zokormazo, it's looking like we might only target what [browserlist](https://github.com/ai/browserslist) refers to as the 'last 2 versions'.  `babel-preset-env`'s options in Webpack will add the necessary polyfills for us. I'm making some tweaks to the Webpack configuration now.

[2017-09-18 19:10] wenottingham opened #196 "Revise capacity units to be in terms of more things (CPU + RAM)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Our current capacity units and recommendations are based solely on RAM - 4GB of RAM per 100 forks.

However, actual capacity is far more complex. Examples of theoretical capacity bits:

- RAM: 4GB RAM per 100 forks
- CPU: N CPU cores per 100 forks (dunno what N would be)
- Disk space: not relevant for AWX capacity

[2017-09-18 19:13] fortinj66 commented on #88
@jlmitch5   Any idea when this fix will be available?

Thanks!
--John

UPDATE: This save button seems to be fixed in the latest code.  I rebuilt tower and the save button seems to work as the settings are saved and retrievable.

However, I'm not certain that the changes are applied.  As a test I created a new organization and a new team in LDAP and changed the LDAP config to show this.  The change

[2017-09-18 19:21] kustodian commented on #174
@matburt I know it works like that, just saying that it isn't the best UX in the world :P

If you removed displaying `.yml` by default and only display `.ini`, `inventory`, `hosts`,... it would at least suggest better files.

[2017-09-18 19:28] wenottingham opened #198 "Feature: allow fact caching for isolated jobs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

Currently, isolated jobs work by:
- gather inventory
- gather SCM repo
- gather credentials
- bundle up, encrypt, etc. and ship it over
- unpack on isolated node & execute it

This does not support fact caching currently, due to how the fact cache is implemented.

We should figure out what may be possible to do here, whe

[2017-09-18 19:32] AlanCoding commented on #174
Thank you for the feedback, the inclusion criteria for that list is strictly based on user utility, and I agree your use case is the most representative of what most users will have.

[2017-09-18 19:34] wenottingham opened #200 "Feature: move all tasks to event-based output"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

AWX currently displays job runs in an events-based manner - the stdout is reconstructed from the actual Ansible job events from the callback.

This should be done for all tasks:
- [ ] ad-hoc commands
- [ ] inventory updates
- [ ] project updates
- [ ] system jobs

ad-hoc commands already have events, the UI just ne

[2017-09-18 19:36] wenottingham commented on #200
As part of this, the stdout for these tasks will likely no longer be stored in the database directly.

[2017-09-18 19:38] ryanpetrello commented on #200
Probably system jobs, too.

[2017-09-18 19:39] wenottingham commented on #200
Added system jobs to initial spec above.

[2017-09-18 20:07] wenottingham opened #201 "Feature: update python-social-auth"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

We use python-social-auth. That is an older release, and it's been split into `social-core` and `social-app-django`. We should upgrade to current code.

This includes:
- [x] audit for changed configuation items
- [x] audit for new settings needed in AWX configuration
- [x] perform the upgrade
- [x] test it

##### A

[2017-09-18 21:36] lucaslan commented on #181
Hello, Only for documentation:

I tested on firefox 39.0.3, google chrome 60.0.3112.113 and IE 11.0.9600.18763 running on windows 8 and I had this issue in all of them.

[2017-09-18 21:37] mbrost opened #202 "SELinux set to "enforcing" will not allow login."
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - UI
 - Installer

##### SUMMARY

Having set SELinux to permissive during the installation everything worked as expected (docker method). Now when I set SELinux to enforcing, AWX shows this:
![sever_error](https://user-images.githubusercontent.com/25187669/30564991-7bdbdaf4-9c62-11e7-9ca4-639781e22908.png)

I am new to SELinux, I know it g

[2017-09-19 01:31] Cerebus commented on #190
I coded metaless_dyn_inventory.py as a reclass model.  See [https://github.com/Cerebus/reclass_metaless_dyn_inventory](https://github.com/Cerebus/reclass_metaless_dyn_inventory)

I pip install reclass on the awx_task container & copy the model directory to /home/cerebus.  I paste the contents of AWX_script.sh as a custom script (adjusting the -b path appropriately).  The inventory syncs cleanly wi

[2017-09-19 01:59] Cerebus commented on #190
Also pushed up reclass-ansible --list and --host group_one_host_01 output for reference.

[2017-09-19 02:04] matburt commented on #202
This totally does need to be expanded in the containers and I haven't managed to get around to that just yet!

[2017-09-19 08:10] kiranos commented on #189
would be nice with a docker_swarm_service support aswell, is it underway for docker_container?

[2017-09-19 10:37] subuk opened #204 "Schedule page broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Schedule edit page has javascript errors.

##### ENVIRONMENT

* AWX version: 1.0.0.484, 1.0.0.352
* Ansible version:  2.3.1.0
* Operating System:
      client: macOS Sierra
      server: Amazon Linux 2017.3
* Web Browser: Google chrome 60.0.3112.113

##### STEPS TO REPRODUCE

Just open any schedule page, for example http:

[2017-09-19 10:38] jarkomes opened #205 "Unexpected Exception: 'NoneType' object has no attribute 'get'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running my project, the first run always fails with:
TASK [detect requirements.yml] *************************************************
ok: [localhost]

TASK [fetch galaxy roles from requirements.yml] ********************************
Username for 'http://$encrypted$:$encrypted$': Password for 'http://$encrypted$@gitlabSNIP...':
fatal: [localhost]: F

[2017-09-19 11:34] #205 closed, assigned to nobody

[2017-09-19 12:01] giordyb opened #206 "Connection to Windows host doesn't work via AWX"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Connection to Windows server doesn't work using AWX but works fine with ansible from the same command host

##### ENVIRONMENT
* AWX version: 1.0.0.487
* Ansible version:  2.4.0.0
* Operating System: Centos 7.3
* Web Browser: Chrome

Centos 7 server command server joined to a domain
Windows 2016 Hyper-v host joined to

[2017-09-19 12:25] giordyb commented on #206
quick update, the same job running as local administrator of the windows server runs fine

[2017-09-19 12:33] iyurev commented on #204
Hi, I already wrote about this https://github.com/ansible/awx/issues/164

[2017-09-19 12:37] subuk commented on #204
Okay, haven't seen it, lets close this issue as duplicated.

[2017-09-19 12:37] #204 closed, assigned to nobody

[2017-09-19 12:41] AlanCoding commented on #174
Changes made, if you pick up current `devel`, it should be giving a better list according to the changes agreed on here.

Some UI work is still remaining, so issue will remain open.

[2017-09-19 12:41] giordyb commented on #206
it looks like the awx_tasks docker image is missing the kerberos packages, thus it's failing when trying to do the kinit command.

I was able to get it to work by logging into the container and running "yum install krb5-workstation krb5-libs krb5-devel"

[2017-09-19 12:58] AlanCoding commented on #174
@trahman73 leaving issue open for items you mentioned:

[2017-09-19 13:03] matburt commented on #206
Is krb5-devel strictly necessary?

[2017-09-19 13:05] giordyb commented on #206
Probably not, I just added the packages mentioned in the Ansible Tower docs (http://docs.ansible.com/ansible-tower/latest/html/administration/kerberos_auth.html)

[2017-09-19 13:08] matburt commented on #206
So you also needed to `pip install kerberos` ?

[2017-09-19 13:13] giordyb commented on #206
well, I did try to run `pip install kerberos` as per the docs but since the container image is missing some dependencies so it failed.  At that point I gave up and tried to run the win_ping anyways...lo and behold it started working!

[2017-09-19 13:14] matburt commented on #206
I only ask because I think we already have that bit covered:

https://github.com/ansible/awx/blob/devel/requirements/requirements_ansible.in#L24

[2017-09-19 13:17] matburt commented on #146
I'm going to close this issue as we'll be covering it here:

https://github.com/ansible/awx/issues/200

[2017-09-19 13:36] #146 closed, assigned to matburt

[2017-09-19 13:37] matburt commented on #99
fixed in #197

[2017-09-19 13:37] #99 closed, assigned to matburt

[2017-09-19 13:56] matburt commented on #206
Done in #207

[2017-09-19 13:56] #206 closed, assigned to matburt

[2017-09-19 13:58] AlanCoding opened #208 "Allow creating a project that does not auto-update"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Clients using the API directly should have the ability to create a project that will not automatically update itself on creation. This would be exclusively an API feature, and its benefit would be to allow standing up data in Tower without requiring project updates to happen.

The existing create_demo_data awx-manage comm

[2017-09-19 13:59] welsh opened #209 "ECONNRESET on Chromedriver Installation RHEL 7.3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
 - Installer

##### SUMMARY
When performing the installation it fails on `image_build : Build AWX distribution using container` specifically the `npm --unsafe-perm --prefix awx/ui install awx/ui` task while installing `chromedriver@2.32.3`.

##### ENVIRONMENT
* AWX version: devel (710aaaa2c84ce20da5b1e906024c80ab1c8c040d)
* Ansible version

[2017-09-19 14:09] gconsidine commented on #181
Cool, thanks for relaying that info @lucaslan. I'll link to a PR I'm about to open that includes support for the "last 2 versions" I mentioned in an earlier comment. IE 10 and Chrome should be all good afterward, but Firefox 39 will probably stay wonky.

[2017-09-19 14:35] ghost commented on #164
Any workaround to suggest in the meantime ?
If I'm not mistaken, schedules aren't configurable from the API ? (no POST method available), although tower-cli offers the option (Tower CLI 3.1.7) .
Cheers

[2017-09-19 14:36] matburt commented on #209
That galaxy role is unsupported by this team, our docker packaging uses a build container to handle this. can you try going that route first? Not sure why your system would have an issue with the googleapis.com ssl handshake.

[2017-09-19 15:07] mwasilew2 opened #210 "auto restart containers"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
containers created after following: https://github.com/ansible/awx/blob/devel/INSTALL.md will not come back online if the docker daemon dies/host reboots

this issue is about changing restart_policy on the docker_containers in: https://github.com/ansible/awx/blob/devel/installer/local_docker/tasks/main.yml

##### EN

[2017-09-19 16:12] matburt commented on #164
*everything* is available through the api but not at the top level schedules endpoints, you'll need to create it on the thing you are wanting to schedule: `/api/v1/job_templates/<id>/schedules/`

[2017-09-19 16:16] matburt commented on #210
Yep this is definitely how we want this to behave.

Edit... fixing this bug, I mean. We definitely want the containers to come back up after restart.

[2017-09-19 16:36] daoustc commented on #210
How we can restart projet after reboot ?

[2017-09-19 16:50] matburt commented on #119
it seems like we are good here? I'm going to close this ... comment if there are still issues.

[2017-09-19 16:50] #119 closed, assigned to wwitzel3, matburt

[2017-09-19 16:54] balpert89 commented on #119
still got this issue: https://github.com/ansible/awx/issues/119#issuecomment-329902765

[2017-09-19 16:59] matburt commented on #119
can you open that one as a new one?

[2017-09-19 17:23] balpert89 opened #214 "SAML XML metadata endpoint produces "sp_acs_url_invalid" error no matter which value is provided"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
SAML metadata produces error although the ACS address is created automatically.

##### ENVIRONMENT

##### STEPS TO REPRODUCE
Configure AWX with a SAML provider. It does not matter which values to provide, the metadata endpoint still reports a `Invalid dict settings: sp_acs_url_invalid`

##### EXPECTED RESULTS

The correct

[2017-09-19 17:30] jangsutsr commented on #114
Move back to devel for UI as a new LDAP configuration 'AUTH_LDAP_GROUP_TYPE_MEMBER_ATTR' is introduced.

[2017-09-19 18:37] cchurch commented on #114
There's a `GroupOfUniqueNamesType` that uses the `uniqueMember` attribute instead of `member`.

[2017-09-19 19:24] welsh commented on #209
@matburt understood that the galaxy role isn't supported by this team but it does call the `awx/installer/install.yml` playbook which is the piece that is failing. Is that the docker packaging you are referring to?

I too am not sure why its not working to connect to the googleapis.com, as I can make a successful telnet connection but when attempting to grab the file I'm always met with the same C

[2017-09-19 19:24] AlanCoding commented on #190
Took me a little bit to come up to speed on all those steps, but that works for me.

![screen shot 2017-09-19 at 3 06 19 pm](https://user-images.githubusercontent.com/1385596/30610513-5cf383b8-9d4c-11e7-8f2a-2fbb3de4c6d4.png)

You can see the reclass metadata, which seems to be intended, which I confirm by testing locally to get the variables from a single host.

[code]

Now, I had to make a commi

[2017-09-19 19:28] matburt commented on #209
you could certainly add that on to your local image build. I'm just not sure it's needed for a wider audience

[2017-09-19 20:45] welsh commented on #209
Agree'd that its probably not required for a wider audience.

What worked for me was adjusting the `env` option for the `Build AWX distribution using container` task in [`installer/image_build/tasks/main.yml`](https://github.com/ansible/awx/blob/6b7126ab6b423c63aed1bb20fb762d5dd7f856ff/installer/image_build/tasks/main.yml#L66) to be:
[code]
I'll close this issue and hopefully if anyone else runs i

[2017-09-19 20:45] #209 closed, assigned to nobody

[2017-09-19 20:47] matburt commented on #88
Excellent, closing.

[2017-09-19 20:47] #88 closed, assigned to jlmitch5

[2017-09-19 23:32] Cerebus commented on #190
OK, I think I see the difference between our setup; I've *prepositioned* the inventory on the host, and used a custom script (the contents of AWX_script.sh with paths adjusted).  You've configured it as a project.

When I do that, I get an execution error:
[code]
This is just an error in working directories; for whatever reason AWX_script.sh's working dir isn't being set to the project directory.

[2017-09-19 23:36] Cerebus commented on #190
My attempt to fix the $CWD error above results in `stdout capture is missing`.  Ideas?

[2017-09-19 23:38] senorsmile commented on #190
Sounds like my issue now: https://github.com/ansible/awx/issues/146  ?

[2017-09-19 23:47] Cerebus commented on #190
Personally I'm wondering why @AlanCoding 's config works, but mine doesn't.

There's still a bug in here, though--if I load the reclass model to the awx_task container filesystem by hand (rather than pull from git) and use the UI custom inventory script paste-up to invoke `reclass-ansible -b <path-to-model> $@` AWX imports the hosts but not the vars.

[2017-09-20 00:21] jamesmarshall24 opened #217 "Add support for Org/Team/Superuser mapping via groups through a predefined SAML attribute"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Currently, Tower does not natively support any kind of real mapping from SAML into Orgs, Teams, or Super Users. End users are currently limited to supplying a set list of email or regex-for-email patterns which is painful.

##### ENVIRONMENT
n/a

##### EXPECTED RESULTS

Mapping functionality similar to what is se

[2017-09-20 01:00] AlanCoding commented on #190
I'm not clear about exactly what this means. Ansible takes an inventory via the `-i` option. There's no way to provide additional options (`-b <path-to-model>` in this case), but you know that, because you added the wrapper called `AWX_script.sh` in your repo, which I think exists for the purpose of adding that extra option. So when you created the inventory source in the UI, does that mean you ga

[2017-09-20 01:45] Cerebus commented on #190
I think we keep talking past one another.  So, in more detail:

In the context of the task engine (e.g., inside the awx_task container):
1. Clone the reclass project to somewhere on the filesystem--e.g., /home/reclass
2. In the UI, create an inventory script that invokes reclass-ansible pointing at the reclass data, which passes along it's own arguments to reclass-ansible:
[code]
3. Add a source t

[2017-09-20 06:40] truestory1 commented on #187
I've done the deployment this way

[code]

[2017-09-20 10:17] dzeban commented on #164
This is the same as #123 but the last one was closed without any reason.

[2017-09-20 11:39] mwasilew2 commented on #210
@daoustc you can restart it by reapplying the install playbook (or applying the fix manually and running the install playbook)

I forked devel and I'm getting python errors on: `(container)/awx_devel$ make test`  (haven't touched anything yet)

first error in a row:
[code]

debug info (inside the awx_devel container):
[code]

the image was built from the latest centos:7 (released 5 days ago):
[cod

[2017-09-20 11:45] AlanCoding commented on #190
Sorry, I did miss that it was a custom script, as opposed to an SCM-based script.

I seem to have confirmed the bug you referenced, using the above `metaless_dyn_inventory.py` contents directly. Hosts wind up with no variables.

I will look into a fix for this.

[2017-09-20 12:42] Cerebus commented on #190
@AlanCoding Excellent, thx.

Now, any ideas on the $CWD issue w/ using reclass as a Project custom inventory?

[2017-09-20 13:08] fredleger commented on #106
that is definitely something we are looking to also. to make it efficient i don't see any problem to precise the path or the requirements.yml in the UI.

[2017-09-20 13:50] jangsutsr commented on #114
@marvin0815 Could you try the workaround provided by @cchurch ^ to see if it works so that we can revert the related PR if it does? Thanks!

[2017-09-20 14:34] LukeShortCloud opened #219 "Rerun Jobs on Failed Hosts"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
It would be great to see AWX Jobs be able to re-run a Template only on hosts that failed. This would be similar to how Ansible handles it via using "--limit @site.retry" for failed hosts. In the UI, this could be another button similar to the existing rocket ship that denotes launching the entire Job on all hosts ag

[2017-09-20 14:46] fredleger opened #220 "API: no matching hosts found inconsistency"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
"No matching hosts found" reported by callbacks when run is ok from UI.

##### ENVIRONMENT
* AWX version: 1.0.0.312
* Ansible version:  2.3.1.0
* Operating System: docker
* Web Browser: chrome
-->

##### STEPS TO REPRODUCE
- setup openstack based inventory
- setup a job using sample hello-world.yml
- enable callbacks in the

[2017-09-20 14:57] wenottingham commented on #220
What's your host that the request is coming from? Does reverse DNS match to get the inventory hostname entry?

[2017-09-20 15:04] fredleger opened #221 "Environment Variables injection"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
sometimes we need to have access to the shell environments variables to run the job.
one good exemple of that is when using os_server_* tasks which could rely on OS_* vars.

This could prevent users to switch from local ansible scripts to AWX/Tower

##### ENVIRONMENT
* AWX version: next one ?
* Ansible version:  any

[2017-09-20 15:07] fredleger commented on #220
currently from my laptop where awx is running a gueerlinguy/awx stack. I don't get the point here does the callbacks are supposed to be called from the host that need provisionning ?

The idea here was to trigger the job from my laptop to provision 2 openstack servers in the cloud

[2017-09-20 15:17] matburt commented on #210
I repulled my image and refreshed all of my dev containers and tests are all passing for me? I did have some issues before that though.

[2017-09-20 15:18] wenottingham commented on #221
This is settable globally in AWX settings.

Having this on a per org/JT level would be an enhancement.

[2017-09-20 15:20] wenottingham commented on #220
Yes, provisioning callbacks are called from the host that requires configuration, and are limited to that host. See http://docs.ansible.com/ansible-tower/latest/html/userguide/job_templates.html#provisioning-callbacks for an example.

If you just want to launch jobs locally via the API, see `/api/v2/job_templates/N/launch`.

[2017-09-20 15:20] #220 closed, assigned to nobody

[2017-09-20 15:38] fredleger commented on #220
ok thanks, good to know

[2017-09-20 15:39] gconsidine commented on #181
Polyfills added to support the last 2 releases of browsers in #212. Thanks for the help @lucaslan and @Zokormazo!

[2017-09-20 15:39] #181 closed, assigned to gconsidine

[2017-09-20 15:55] moenka opened #222 "Creating tar archive fails with error "Error writing image archive /tmp/awx_web_<version>.tar - write() argument must be str, not bytes""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Trying to deploy awx to a remote docker host ansible fails when trying to create the tar archive.
[code]

##### ENVIRONMENT
* AWX version: 1.0.0.503
* Ansible version:  2.3.2.0 (also tested with 2.3.0.0, older versions will fail due to the `block` statement using the `name` attribute)
* Operating System: Ubuntu 16.04

[2017-09-20 16:00] moenka commented on #222
Hey, I just noticed there is a newer ansible version 2.4.0.0. Unfortunately the error keeps popping up.

[2017-09-20 16:09] jlmitch5 commented on #164
@leifmadsen @dzeban @flabatut @badeveloper

Just wanted to provide some clarification here as things have been a bit confusing, and I apologize about that!

A few days ago @mabashian tested this issue in our Tower release branch to see if he could see this issue.  He did not see it, so the assumption was that this fix would land when that code was merged back into the devel branch.

Unfortunately,

[2017-09-20 16:14] matburt commented on #222
In you rlast comment, that task is not twice, those are seperate tasks for our two different containers.

[2017-09-20 16:14] matburt commented on #222
What version of python are you using here?

[2017-09-20 16:18] fredleger commented on #221
in the case of openstack variables, having them available globally is not an option, it can be different by customers / projects.

And also very sensitive information.

[2017-09-20 16:19] matburt commented on #210
I'll typically just run pytest on awx/main/tests/{functional,unit} I may update the make target to do that.

[2017-09-20 16:26] dzeban commented on #164
@jlmitch5 Thanks for the clarification! I'll gladly test the fix in my environment!

[2017-09-20 16:26] wenottingham commented on #221
Note that per-*task* can be done via the environment task (http://docs.ansible.com/ansible/latest/playbooks_environment.html) which can be fed by extra vars, vaulted vars, etc.

[2017-09-20 16:48] leifmadsen commented on #164
Yep will test once available. Now you know why I didn't like the workflow of closing my issue #123 :)

[2017-09-20 17:05] dzeban opened #223 "Support vault encrypted secrets in the inventory source"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

AWX inventory source can't handle Vault encrypted secrets for the simple ini-like inventory ("Sourced from the project" in the UI).

For example, I have an ini-like inventory and a few variables in the `group_vars` that are encrypted with Ansible Vault (like in [this example repo](https://github.com/dzeban/example-ansible

[2017-09-20 17:07] wenottingham commented on #223
This is https://github.com/ansible/awx/issues/137. The issue is that the ansible-inventory tool doesn't support prompting... until a variant of that does, we can't do much here.

[2017-09-20 17:09] tupcakes commented on #210
Honest question. Why is this? I would think you'd want the application to come back up after a server restart.

[2017-09-20 17:14] dzeban commented on #223
@wenottingham Thanks, it's related! What's good is that ansible-inventory tool understands Vault password files:

[code]

Isn't there a way to generate a vault password file and supply it to the ansible-inventory tool? As I saw in the sources there is a private data dir that is created on the inventory update job run. Maybe we can render vault password file there and pass it to the ansible-invento

[2017-09-20 17:16] wenottingham commented on #223
Vault passwords are (currently) passed in AWX by prompting via pexpect, not by the commandline... which means that `--ask-vault-pass` may work.

[2017-09-20 17:20] wenottingham commented on #223
So if that does work, you'd then:
- change the inventory source to allow vault credentials (adjusting UI accordingly if needed)
- pass `--ask-vault-pass` if the source has one, and pexpect over the password when required (crib off of playbook runs for this)

[2017-09-20 17:33] AlanCoding commented on #190
will put up PR for the 1st bug mentioned soon.

As for the CWD, I don't have a complete answer to your question yet, but I'll put some technical notes here. The `awx-manage inventory_import` command should respect the CWD that it is called from, because we intend to allow CLI use on the AWX server. That means that the CWD for performing the import should be dictated by `awx/main/tasks.py` when it

[2017-09-20 17:36] dzeban commented on #223
Indeed, `--ask-vault-pass` could've worked, but when I set `ANSIBLE_ASK_VAULT_PASS` env var in the inventory source, sync job hangs on the prompt indefinitely:

[code]
I can't find a way to pass the vault password to the prompt. "Credential" field in the UI can't find my vault credential and even if I type its name by hand it's still not passed. I can verify in the API that my inventory source has

[2017-09-20 17:45] wenottingham commented on #223
Sorry, I wasn't clear above in https://github.com/ansible/awx/issues/223#issuecomment-330921091 - this is changes to awx itself that would need to be done in the code.

[2017-09-20 17:49] matburt commented on #210
I might not have been clear, I meant to suggest that we *do* want the containers to come back up after restart. Meaning, the fixing of this bug is how we want it to behave (I updated my original comment)

[2017-09-20 18:04] daoustc commented on #210
For me a restart in automatic or a script like tower's project.

ansible-tower-service
http://docs.ansible.com/ansible-tower/latest/html/administration/init_script.html

[2017-09-20 18:07] dzeban commented on #223
I've checked this with the newest versions (non-backport version of ansible-inventory), here is how it's looking:

[code]

AWX version: 1.0.0.513
Ansible version: 2.4.0.0

[2017-09-20 18:19] tupcakes commented on #210
Ok gotcha. Need more coffee.

[2017-09-20 18:48] cchurch commented on #151
@calston You can use the `--depth` or `--shallow-since` options to `git clone` to avoid retrieving the full history.

[2017-09-20 19:40] naisanza opened #227 "AWX not started after reboot"
##### ISSUE TYPE

 - Documentation Report?

##### COMPONENT NAME

 - Installer

##### SUMMARY

AWX starts after it's built. But after restarting the server, AWX is not started; there are no docker containers running

Is there documentation how to start AWX?

##### ENVIRONMENT

* AWX version: ece93c45c9c932cfbfba2b44e217e99a6bb6a752
* Ansible version:  2.4.0.0
* Operating System: Proxmox Ubuntu 16.

[2017-09-20 19:42] AlanCoding commented on #190
So I tried to check what the actual CWD was for the imports, and I was wrong, I believe it gets passed into the inventory import command via the private data directory. From experimentation:

 - custom: /tmp/awx_inventory_K_zoMO
 - scm: /projects/_95__inventory_cases/scripts

This is correct. The custom script is placed into a new file, inside an isolated context. The working directory of the SCM

[2017-09-20 19:45] sparkacus commented on #227
Not sure if this is the right way to do it, but I just run the install.yml and it'll start everything for you. You may need to make sure services like docker are enabled to start on boot.

[2017-09-20 20:17] xjohnyknox commented on #138
Thanks, it works!

[2017-09-20 20:52] naisanza commented on #227
@sparkacus you mean rebuild AWX each time?

[2017-09-20 21:01] mwasilew2 commented on #227
I believe this is a duplicate of #210

[2017-09-20 21:12] naisanza commented on #227
@mwasilew2 oh look at that timing. I guess AWX is still early in its development?

[2017-09-20 22:11] LukeShortCloud commented on #227
@naisanza For clarification, AWX is the upstream version of the Red Hat Ansible Tower. Ansible Tower itself is the tried, tested, and trusted downstream version that is recommended for production workloads. AWX serves as Red Hat's way to push out and test updates quicker before eventually making their way into Ansible Tower. As part of the continual development, running this product in containers

[2017-09-20 23:09] dougfultz commented on #164
For me the page refreshes, then the above is shown in the browser console.  When the page refreshes it removes anything previously entered into the fields and shows this error:
[code]

[2017-09-20 23:16] #227 closed, assigned to nobody

[2017-09-20 23:48] naisanza commented on #227
@ekultails I'm usually pretty late to the game with things, and usually assume I'm doing something wrong when something doesn't work as expected. But glad to be a part of seeing what's coming out

[2017-09-21 00:09] naisanza opened #229 "Ansible Playbooks missing in AWX"
##### ISSUE TYPE

 - Documentation Report?

##### COMPONENT NAME

 - AWX New Projects

##### SUMMARY

Ansible playbooks in /var/lib/awx/projects, are not showing up in AWX when creating a new project

![screenshot from 2017-09-20 17-08-24](https://user-images.githubusercontent.com/1614425/30673227-67fc1632-9e26-11e7-9389-aba64dc721d0.png)

[code]
After reading the comment in https://github.com/ans

[2017-09-21 02:24] matburt commented on #229
If you are trying to manage projects manually (which we don't recomment, btw). You'll need to make sure you load the projects onto both containers and in the same location.

[2017-09-21 02:24] #229 closed, assigned to nobody

[2017-09-21 05:44] jamm1985 commented on #200
I have the same issue with ad-hoc commands and `stdout capture is missing` #146

![image](https://user-images.githubusercontent.com/3518847/30680574-15c97046-9eec-11e7-9161-da7201ae806a.png)

[code]

[2017-09-21 05:55] naisanza opened #230 "Changing Credential Type, when not used anywhere else"
##### ISSUE TYPE

 - Feature request

##### COMPONENT NAME

 - Edit Credentials

##### SUMMARY

Editing a credential type, when it's not used anywhere else, gives an error

![screenshot from 2017-09-20 22-46-01](https://user-images.githubusercontent.com/1614425/30680744-2d288556-9e56-11e7-9bb9-659b46ac225d.png)

Error:
[code]

##### ENVIRONMENT

* AWX version: ece93c45c9c932cfbfba2b44e217e99a6bb6a

[2017-09-21 05:56] jamm1985 opened #231 "Update and default admin"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

In case of rename `admin` to `someuser` and do performing update process the `admin` user will be created with default login and password next to existing renamed admin account.

##### ENVIRONMENT

* AWX version: 1.0.0.505
* Ansible version:  2.3.2.0
* Operating System: Ubuntu 16.04.3 LTS
* Web Browser: 60.0.3112.1

[2017-09-21 06:19] naisanza opened #232 "Inventory Source, does not show yaml inventory files in root and subdirectories"
##### ISSUE TYPE

 - Feature request

##### COMPONENT NAME

 - Inventory Source

##### SUMMARY

When selecting an inventory file, yaml files and files within subdirectories are not shown. For example, there should be inventory files at `all.yml` and `hosts/all.yml`

![screenshot from 2017-09-21 04-23-04](https://user-images.githubusercontent.com/1614425/30693475-9d942bc8-9e84-11e7-8ab8-67b7948966e

[2017-09-21 06:31] naisanza opened #233 "Trigger Synchronizations Remotely with Token, like Jenkins"
##### ISSUE TYPE

 - Feature request

##### COMPONENT NAME

 - Scheduler

##### SUMMARY

Allow synchronizations to git servers to be started by a token when git hooks are used

This way AWX will always have the most up-to-date information, rather than retrieving the information on a scheduled interval. If the interval is too long, AWX isn't updated in time. And if the interval is very short, it wo

[2017-09-21 06:39] APenketh opened #234 "Installation Fail's Due To - ERROR! 'name' is not a valid attribute for a Block"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Upon trying to perform a fresh installation of AWX tower the installer fails with the error message:
ERROR! 'name' is not a valid attribute for a Block

##### ENVIRONMENT

##### STEPS TO REPRODUCE

Upon downloading a fresh copy of the AWX repository, edited the appropriate fields in the inventory file and then run the

[2017-09-21 06:49] APenketh commented on #234
As per the documentation: http://docs.ansible.com/ansible/latest/playbooks_blocks.html

"New in version 2.3: The name: keyword for blocks: was added in Ansible 2.3."

Looks like I might be able to fix this by upgrading to Ansible 2.3.
It does not say anywhere in the installation documents that there is a minimum requirement of Ansible 2.3 though - https://github.com/ansible/awx/blob/devel/INSTALL.

[2017-09-21 07:32] APenketh commented on #234
Using Ansible version 2.3.X solved this issue.

[2017-09-21 07:32] #234 closed, assigned to nobody

[2017-09-21 07:43] naisanza opened #235 "Create Schedule, page display issues?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Is the page not rendering correctly?

[code]

[code]

![screenshot from 2017-09-21 00-32-43](https://user-images.githubusercontent.com/1614425/30684110-d229b21a-9e64-11e7-8dbd-d0eaaecb1302.png)

##### ENVIRONMENT

* AWX version: ece93c45c9c932cfbfba2b44e217e99a6bb6a752
* Ansible version:  2.4.0.0
* Operating System: Proxm

[2017-09-21 11:30] naisanza opened #236 "Deleting multiple hosts"
##### ISSUE TYPE

 - Feature Request

##### COMPONENT NAME

 - UI

##### SUMMARY

Multiselecting, selecting all hosts

If an erroneous inventory file is imported, the current UI requires you to individually delete each host one by one

##### ENVIRONMENT

* AWX version: ece93c45c9c932cfbfba2b44e217e99a6bb6a752
* Ansible version:  2.4.0.0
* Operating System: Proxmox Ubuntu 16.04 server
* Web Browser

[2017-09-21 12:50] AlanCoding commented on #232
Related recent issue #174

We were providing yaml files as suggestions, but the problem is that this has a crowding-out effect, which is made particularly acute by users storing their playbooks in the same repository. You can still manually paste in the relative path of your yaml inventory file (and it will still work), but the inventory file suggestions are a tradeoff to make it easiest to use fo

[2017-09-21 12:57] matburt commented on #232
I guess I'm wondering how prevelant this is for folks... my impression has always been that .yml inventories were less used than other types.

[2017-09-21 12:58] AlanCoding opened #237 "Provide workflow ID, schedule ID, username, etc. automatically in extra_vars"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

Current behavior:

Jobs all have the following automatically added to the variables passed in as `--extra-vars`.

 - tower_job_id
 - tower_job_launch_type
 - tower_job_template_id
 - tower_job_template_name
 - tower_user_name

When you launch a job template manually, the `tower_user_id` variable is also provided.

Howeve

[2017-09-21 12:59] matburt commented on #233
This will likely be covered by this work effort: https://github.com/ansible/awx/issues/21

[2017-09-21 12:59] #233 closed, assigned to nobody

[2017-09-21 13:00] matburt commented on #235
dupe of https://github.com/ansible/awx/issues/164

[2017-09-21 13:00] #235 closed, assigned to nobody

[2017-09-21 13:00] matburt commented on #236
This work will be covered here: https://github.com/ansible/awx/issues/19

[2017-09-21 13:00] #236 closed, assigned to nobody

[2017-09-21 13:01] AlanCoding commented on #232
When we check for the playbook file listing, we do some introspection of the file (looking for "hosts" or "include" words).

For inventory files, we could selectively add the file if it did _not_ fit the criteria we use for playbooks. That could help limit the noise.

[2017-09-21 13:43] hsolomon commented on #115
I can confirm that I was able to build it with a minimum of 2GB RAM. Note that it also requires about 4G disk space under /var/lib/docker for the initial images.  One of the images is a postgres databse so add enough room  for growth.

[2017-09-21 14:11] ryanpetrello commented on #230
@naisanza I've got a fix coming for this soon

[2017-09-21 14:15] matburt commented on #222
Looks like python3... you'll probably need to use python2 for these modules. Let me know if this isn't correct.

[2017-09-21 14:15] #222 closed, assigned to nobody

[2017-09-21 14:50] mtxd opened #239 "Local project not visible in Tower"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

After creating a local project in `/var/lib/awx/projects/custom_project` I am unable to initialize it via web. Getting
[code]

Content of `/var/lib/awx/projects/custom_project`
[code]
awx_manage is running in a docker container as root (default setup from the manual)

A project with 'git' SCM type from https://github.com/

[2017-09-21 14:56] matburt commented on #239
See https://github.com/ansible/awx/issues/229

[2017-09-21 14:56] #239 closed, assigned to nobody

[2017-09-21 15:14] Glandos opened #240 "Fail to build sdist builder image with ansible/docker (Stale file handle)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

I tried to install AWX using the installer with Docker, and it fails

##### ENVIRONMENT

##### STEPS TO REPRODUCE

Simply run the installer with ansible-playbook -vvvv -i inventory install.yml

##### EXPECTED RESULTS

The task "Build sdist builder images" should succeed

##### ACTUAL RESULTS

This is the output:

[

[2017-09-21 15:35] matburt commented on #240
I've not seen that error after building quite a bit. Is this being done on an NFS filesystem mount?

[2017-09-21 17:12] switchboardOp opened #241 "Postgres service makes persistent volume claim during OpenShift install"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Documentation and inventory file state that "a new ephemeral postgres service will be created", but after running the install playbook the postgres service tries to mount a persistent volume claim.

##### ENVIRONMENT
AWX Version: 1.0.0
Ansible Version: 2.3
Operating System: RHEL 7.3
OpenShift Origin Version: 1.5

####

[2017-09-21 17:31] LukeShortCloud commented on #48
This workaround works perfectly for the web UI's login page. A SAML button appears on the front page that can be selected and then the client is taken to their external two-factor authentication page.

One problem we did find is that this does not seem to work for directly accessing the API endpoint from a web browser. For example, going to `https:://ansible.tower.tld/api/v1/settings/system/` prom

[2017-09-21 18:37] naisanza commented on #232
@AlanCoding it's funny, because mine only shows non-yaml files, and https://github.com/ansible/awx/issues/174 only shows yaml files

@matburt which is probably why yaml was depreciated once, before being brought back into the code? I had read on some Ansible documentation (maybe?), that to import an inventory it needed to be in yaml, so I reluctantly figured out yaml. But once I had, it wasn't too

[2017-09-21 19:01] jariley opened #242 "Can't Access AWX with SSL Configured"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

I have been able to successfully install and access AWX via http. I wanted to implement SSL for the application and so I created my private key and certificate, then configured the nginx.conf file, and forwarded port 443 from the host to the container. I have the cert files and the nginx.conf mounted into the awx_w

[2017-09-21 19:05] naisanza commented on #236
@matburt in the meantime.. is there a command-line tool to get rid of these hosts?

[2017-09-21 19:19] matburt commented on #242
Greetings!  See this message on the mailing list: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/awx-project/p5oWivyuGPA/V8vQvWaiAQAJ

[2017-09-21 19:19] #242 closed, assigned to nobody

[2017-09-21 19:20] Glandos commented on #240
Well, I don't think so. Even if my computer (with openSuse Tumbleweed) has some NFS mounts for sharing work with team mates, I used standard local path for everything else.

I have to admit that I am also puzzled by that. Of course I ran this multiple times. I even deleted the centos image from docker before a new try, just in case…

[2017-09-21 19:34] naisanza commented on #236
Edit: Yes it does remove all the hosts, horay

@matburt if I delete the inventory file from where the host came from, will it remove the hosts?

[2017-09-21 19:48] naisanza opened #243 "Text in boxes cut off"
##### ISSUE TYPE

 - Bug?

##### COMPONENT NAME

 - UI

##### SUMMARY

"Days" is cut off at the bottom of the dropdown menu

![screenshot from 2017-09-21 12-45-20](https://user-images.githubusercontent.com/1614425/30715393-062165c0-9ecb-11e7-8aa8-e956d9f37473.png)

##### ENVIRONMENT

* AWX version: ece93c45c9c932cfbfba2b44e217e99a6bb6a752
* Ansible version:  2.4.0.0
* Operating System: Proxmox Ubu

[2017-09-21 20:19] naisanza opened #245 "Opening Template, does nothing anymore"
##### ISSUE TYPE

 - Bug?

##### COMPONENT NAME

 - UI

##### SUMMARY

After successfully adding an Inventory Source, and having the hosts from my yaml file imported. Running a previously made Template worked perfectly fine.

Then I went to edit the template, but it won't open the editing dialog boxes. Opening the Template in a new tab just displays a blank area where the editing boxes would be. B

[2017-09-21 20:33] matburt commented on #232
We don't currently do live searching, so I think we'll stick with where we are now as it covers the common inventory file use case while allowing folks to input things that aren't shown.

[2017-09-21 20:33] #232 closed, assigned to nobody

[2017-09-21 20:33] matburt commented on #236
You can delete the inventory and recreate it.

[2017-09-21 21:21] hudecof opened #246 "changes in inventory are ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
template job did not relect changes in invenotry
 - hosts
 - groups
 - hostvars

##### ENVIRONMENT
* AWX version: e6777577b6b75e1f3e1b064c12432af3101c1f53
* Ansible version:  2.4.0
* Operating System: CentOS 7
* Web Browser: Firefox

##### STEPS TO REPRODUCE
- create inventory
- add 1 host (v1)
- create template
- run templa

[2017-09-21 21:28] Zokormazo commented on #131
I'm not able to fully reproduce this bug, but after talking to @jlmitch5 we found that droping the dragged row on the last position was difficult due to the small drop zone there. PR fixes this expanding the last drop position.

Need more info if the issue was bigger than that

[2017-09-21 22:27] mtxd commented on #239
What do you mean by "both containers in the same location" ? Playbooks are resided in the awx-task container.

[2017-09-21 23:37] naisanza opened #248 "Running Inventory Source sync, doesn't update connected Project"
##### ISSUE TYPE

 - Bug?

##### COMPONENT NAME

 - UI

##### SUMMARY

I have the Project set to update

![screenshot from 2017-09-21 16-34-19](https://user-images.githubusercontent.com/1614425/30723238-c10a7650-9eea-11e7-91cb-8f49c9598a99.png)

And the Inventory Source is set to refresh it's inventory from the selected Project

![screenshot from 2017-09-21 16-35-25](https://user-images.githubuser

[2017-09-22 00:27] AlanCoding commented on #248
"Update on Project Change" will automatically update the inventory source as a side effect of updating the project. However, this isn't triggered by updating the inventory, the update needs to start with the project.

[2017-09-22 01:21] matburt commented on #239
yep, but manual projects need to be available in the web container also to show up in the list results.

OR, manage them in a source control system and the project fetch operation will index them for you.

Manual projects are a bit of a leftover concept from our current non-container based install and we've been phasing out direct support of them for a while.

[2017-09-22 01:23] matburt commented on #240
What version of docker are you using? Where is it sourced from?

[2017-09-22 01:42] matburt commented on #246
I can't reproduce this. I followed your steps and launching the job template again after adding another host will show it run against both hosts.

Are you sure your playbook is not targeting only one host?

[2017-09-22 01:42] matburt commented on #248
working as designed

[2017-09-22 01:42] #248 closed, assigned to nobody

[2017-09-22 01:45] matburt commented on #210
done in #228

[2017-09-22 01:45] #210 closed, assigned to nobody

[2017-09-22 02:20] matburt commented on #241
Documentation updated: https://github.com/ansible/awx/commit/55259b4445c1a45d620aa692ece154f0fcde0087

[2017-09-22 02:20] #241 closed, assigned to nobody

[2017-09-22 03:35] naisanza opened #250 "Smart Inventory, unable to search by related fields"
##### ISSUE TYPE

 - Feature Request

##### COMPONENT NAME

 - UI

##### SUMMARY

Searching for things like `groups:dev` doesn't work

And the documentation doesn't explain how to search by the `RELATED FIELDS`

![screenshot from 2017-09-21 20-32-32](https://user-images.githubusercontent.com/1614425/30728335-0b109830-9f0c-11e7-838a-a75e8c147557.png)

![screenshot from 2017-09-21 20-46-27](https://

[2017-09-22 04:22] naisanza commented on #248
@AlanCoding @matburt in that case, the Inventory Source isn't updated when the Project is updated.

I just tried updating the Project several times, and the Inventory Source never updates.

After manually syncing the inventory Source, the hosts list updates.

[2017-09-22 07:31] hanjh1986 opened #251 "what is pkg_resources.DistributionNotFound error ??"
I just want to only run awx's django application, so
downloaded awx-repo(through git clone~) and try to run manage.py in awx directory

$ cd awx
$ python manage.py runserver

but, I found this error

D:\dev\AWX_0920\awx>python manage.py runserver
Traceback (most recent call last):
  File "manage.py", line 7, in <module>
    from awx import manage
  File "D:\dev\AWX_0920\awx\awx\__init__.py", line

[2017-09-22 07:31] Glandos commented on #240
[code]

[2017-09-22 08:05] mtxd commented on #239
I see, thanks for explanation. Where should I put them on awx_web container?

[2017-09-22 08:24] hudecof commented on #246
very simple playbook
[code]

[2017-09-22 08:40] hudecof commented on #246
log from inventory sync
[code]

[2017-09-22 08:43] hudecof commented on #246
log from template, there is not ** diplcm01** in inventory
[code]

[2017-09-22 09:01] Glandos commented on #240
I have manually tested it:
[code]

Then, within the container itself:

[code]

If I try to run the command again, it goes further:

[code]

But then the package is successfully installed. However, for each installed package, the verify phase fail with the same error on `checksum_type.tmp`. It seems that Docker is failing somewhere.

[2017-09-22 09:04] hudecof commented on #246
I will try to create new inventory

[2017-09-22 10:43] matburt commented on #248
In the above image you'll need to make sure `Update on Project Change" is checked. Was that the case? Otherwise it will not update immediately when the project is updated.

[2017-09-22 10:44] matburt commented on #239
In the same place

On Fri, Sep 22, 2017 at 4:05 AM, mtxd <notifications@github.com> wrote:

[2017-09-22 10:45] matburt commented on #240
So it seems like this may be something specific to your system. I'm not sure how to help you, maybe the Docker folks know something ? :frowning:

[2017-09-22 10:45] #240 closed, assigned to nobody

[2017-09-22 10:45] AlanCoding commented on #248
"Update on Project Change" also only runs the inventory update if the project revision has changed, so if you're updating the project when no new commits have landed, the inventory will not update. This is designed for static content that you want to remain synced to the project's revision.

[2017-09-22 10:49] hudecof commented on #246
I created new inventorybesed on the project and replaced the old one with new for a temaple job. It runs the role on all servers.

After that I added new server to the inventory. I see job syncing the inventory and also the server is added into inventory. So I run the template job again, but this new server is missing on the list ;(

So seems that any change in inventory after it was assigned to t

[2017-09-22 10:58] hudecof opened #252 "sort inventory variable imported from source"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
When importing invetroy from source, in my case project source, the host variables are in random order. It eould be nice to sort then.
If you obey the rule for roles variables with prefix, al role variables then would be in one place of the list.

##### ENVIRONMENT
* AWX version: e6777577b6b75e1f3e1b064c12432af3101c1f53
*

[2017-09-22 10:59] marvin0815 commented on #114
We changed the group type to GroupOfUniqueNamesType and everything works as expected.

I read the django-auth-ldap reference over and over again to make sure this not a configuration error. I must have missed that.
Sorry for the extra work you guys did.

[2017-09-22 11:12] hudecof commented on #219
+1

[2017-09-22 11:54] Glandos commented on #240
I don't want to be rude, but even if it's the first time I'm using Docker, I've experienced exactly what its haters are saying: this is not reliable. It should be reproducible, and instead, it raises rare return code from simple `unlink` call.
I was just thinking that I could use Docker as a developer to test AWX installation before deploying it in another way. Now, I know that will try to avoid i

[2017-09-22 12:31] matburt commented on #246
I've been through this process a few times and just can't reproduce it. What type of inventory is this and how did you create it? Is it sourced from a particular location?

In one of your previous messages you said: `there is not ** diplcm01** in inventory` but it still looks like it showed up in the playbook run, was that true?

[2017-09-22 12:31] matburt commented on #114
np, glad it worked out

[2017-09-22 12:31] #114 closed, assigned to jangsutsr

[2017-09-22 12:36] matburt commented on #240
It is currently the only accepted installation method for AWX. I'm sorry you're having trouble. I'm not on the Docker team nor do I know the intricacies of the packaging and setup for your distro and platform. I suspect someone there may be able to help you if it's more systemic. I'd certainly prefer you to be able to use AWX if you wanted.

[2017-09-22 12:41] balpert89 opened #253 "Ansible play output not interactively showing up in output panel"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
When launching a Job Template usually the ansible output is shown and updated interactively.
After two days of not using the system (pod was running) I came back to awx.

Now the output has stopped showing when launching a Job Template and only after reloading the web page shows the ansible output.

Restarting the pod does