[2017-11-20 14:34] AlanCoding opened #686 "Attempting to delete "new" job does not surface error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
If I try to delete a job with "new" status, the dialog is wrong, and the API error is not passed through to a UI user.

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System: Mac
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Use the v1 API to create an un-lau

[2017-11-20 14:47] philippwiesner commented on #683
Thanks, that helped reducing the logging mass a bit. In general it would be good if even in the container setup the log messages would be split apart in multiple files like already present in this file:
https://github.com/ansible/awx/blob/3118092e51ff037bbccd48b22cf8dabfda53516b/awx/settings/production.py#L53-L59

Because with the standard setup of local docker everything will the directed to jour

[2017-11-20 14:50] wenottingham commented on #684
Not being able to set ansible_connection to 'local' is intentional.... granting access to run ad-hoc commands on a set of inventory machines shouldn't grant access to run them on the AWX/Tower server.

[2017-11-20 14:50] #684 closed, assigned to nobody

[2017-11-20 15:47] arthur-c commented on #592
Hi @matburt,
Is there a draft of the kubernetes deployment ? I you have any plan/recommandations I'll be glad to hear them as I will start soon to deploy AWX on my cluster

[2017-11-20 16:19] sparunakian commented on #633
I don't think Ansible should be the one managing everything. In my opinion Ansible should be the one commiting and pulling/pushing new modifications and AWX should be the one managing the GPG key and the setup of the git repository.

[2017-11-20 17:09] aagl opened #688 "No prompt is shown for credentials"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI?

##### SUMMARY
After upgrading to the latest image version i am no longer able to enter password for credentials on template run

##### ENVIRONMENT
* AWX version: 1.0.1.223
* AWX install method: openshift, docker on linux
* Ansible version:  2.4.1.0
* Operating System: Fedora 26, Win 10
* Web Browser: Chrome Version 62.0.3202.94 (Official

[2017-11-20 20:07] tchia04 commented on #682
Hi wenottingham,
Are you saying AWX will not support perforce until there is a perforce source control module listed on this page?
http://docs.ansible.com/ansible/latest/list_of_source_control_modules.html

[2017-11-20 20:15] tchia04 commented on #682
I have opened an issue from the ansible git repo at https://github.com/ansible/ansible/issues/33106

[2017-11-20 20:24] wenottingham commented on #682
That is a necessary but not sufficient prerequisite. To be frank, we're not really that interested in supporting source control systems we can't test or verify against, and this is the first time anyone's ever asked for it.

[2017-11-20 20:36] cchurch commented on #682
Someone did ask about it once, and nothing ever came of it: https://groups.google.com/d/topic/ansible-project/_a4Fi32fdso/discussion

[2017-11-21 03:08] silverskysoft opened #689 "Connection reset by peer errors"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

 - UI
 - Installer

##### SUMMARY

Connection reset by peer message in logs during fresh install. Eventually this same message shows up before during Job execution

##### ENVIRONMENT
* AWX version: 1.0.1.223
* AWX install method:  docker on linux
* Ansible version:  2.4.1
* Operating System: Centos 7.3
* Web Browser:  Chrome 62

##### STEPS TO

[2017-11-21 09:38] vysakhv90 opened #690 "An error with main.yml file while installing AWX"
I am new to AWX and just tried to install in a docker EC2 instance on AWS. When I tried to build AWX as mentioned in the GitHub page, I received the below error:

[ec2-user@ip-172-31-4x-xxx awx]$ cd installer/
[ec2-user@ip-172-31-4x-xxx installer]$ ansible-playbook -i inventory install.yml
ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path.

[2017-11-21 10:02] mkempster22 commented on #690
I had this issue on a RHEL6 box that was on Ansible 2.3, AWX Technically requires 2.4+ which has a slightly updated syntax to 2.3, If you can only use 2.3 and cannot upgrade edit that file and change it to the previous syntax.

From memory i think it was just 'include:' rather than 'include_tasks:'

But keep in mind Ansible 2.3 isn't actually supported, You should include the questions it asks you

[2017-11-21 10:15] yangliang003 opened #691 "Crendential: ssh private key don't work"
##### ISSUE TYPE

 - Bug Report
 - Document

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

I use the ssh public key authentication, it works well when I run the task with ansible.And when I set an wrong private key in awx,it works well too. So what does the ssh private key used for?
##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker on linux
* Ansible version:  2.4.0.0
* Oper

[2017-11-21 11:47] vysakhv90 commented on #690
That worked, thanks. But the installation is now completed and when I check the localhost, it is showing AWX is upgrading. I believe this is because of the DB migration, but how long it could take? Its been like almost an hour I am facing the same screen, even if I reload the page. May I restart the EC2 instance, would that work in any way?

[2017-11-21 11:49] mkempster22 commented on #690
The upgrading part has never taken more than 10 minutes for me

Check the logs (docker logs _containerid_) of the various containers mainly the 2 AWX ones and the Postgresql one

[2017-11-21 11:56] mkempster22 commented on #690
Also in regards to restarting the AWX instance, I doubt it would be a good idea to restart it in the middle of it upgrading, but i've never tried. May work fine, may end up needing to be wiped so it can start the process again.
Best to find why it is stuck first

[2017-11-21 14:03] jainnikhil30 opened #693 "Username field is limited to 30 characters"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Currently username field is limited to max 30 characters. Its possible to have username >30 chars, especially in case where email id is used as the username. It should be either increased or at least  be configurable to change the max size.

##### ENVIRONMENT
* AWX version: 1.0

[2017-11-21 14:41] vysakhv90 commented on #690
But I don't get to see anything when I do docker logs -f container-name, after maybe 10 minutes of time. It looks like the system is very slow, but not sure. Only once I was able to see that there are 5 containers running when I executed docker ps. My EC2 instance size is 1CPU with 1 GB ram and 30 GB SSD, would this be sufficient? Or is there any specific specs required?

[2017-11-21 14:53] mkempster22 commented on #690
That is very low spec,
Unfortunately the INSTALL.md in this GitHub isn't very clear on a lot of things but you can check the tower requirements here: http://docs.ansible.com/ansible-tower/2.2.2/html/installandreference/requirements_refguide.html

There's a good chance that's whats causing the containers to hang

[2017-11-21 14:59] awithrow9 opened #695 "Operational Error: Deadlock detected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
This is an old issue, ~Tower 3.0, moving this to AWX.

##### STEPS TO REPRODUCE

Run the following integration test ...

[code]

##### ACTUAL RESULTS

[code]

##### ADDITIONAL INFORMATION

Postgres log:

[code]

"Assuming I'm understanding correctly, this error happens because a DELETE request is issued while asynchronous w

[2017-11-21 15:02] mkempster22 commented on #690
I would recommend trying AWX out on an instance that meets all the requirements

Ansible 2.4+
2CPU
4GB RAM
64bit OS like CentOS7 or similar

[2017-11-21 15:27] wenottingham commented on #693
should be fixed by https://github.com/ansible/awx/issues/84

[2017-11-21 15:27] #693 closed, assigned to nobody

[2017-11-21 15:55] orgito commented on #684
So it is not possible to run network modules as ad-hoc commands?

[2017-11-21 17:16] wenottingham commented on #684
It is not possible to set 'ansible_connection' on an ad-hoc command. You can always edit the available list of ad-hoc commands to allow for network modules, but it would need to take that into account.

Ad-hoc commands may be updated to take other kinds of credentials in the future... that's an engineering item.

[2017-11-21 19:14] savealive commented on #615
any update on this?

[2017-11-21 19:22] proofit404 commented on #615
Hi @savealive,

I'm happy to fix related asgi-rabbitmq library as soon as I get tracer output.

Regards, Artem.

[2017-11-21 19:31] daoustc commented on #679
I have this issue after an upgrade.

[2017-11-21 20:08] danielchristenson01 commented on #679
Was there a fix that you were able to find?

[2017-11-21 21:00] mattcrossm opened #697 "URI module will write password as plaintext to job_events within the API"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
uri module will output the password argument in plaintext to the event_data.task_args field within the job_events list

##### ENVIRONMENT
* AWX version: 1.0.1.50
* AWX install method: docker on linux
* Ansible version:  2.4.0.0
* Operating System: Red Hat Enterprise Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

exa

[2017-11-21 22:17] daoustc commented on #679
I don't find a fix. I rebuild from scratch. sorry!

[2017-11-22 05:51] vysakhv90 commented on #690
Okay, so this is the new instance which I created just now. The same has been configured with docker-py, make, git and i have checkedout ansible 2.4 from git. Now when I try to do
make install (with sudo as well), I am getting an error like this:

[code]
Ansible is not installed, i verified by checking the version number. Any solution for this?

Update: I have installed gcc as well as installed py

[2017-11-22 08:04] mkempster22 commented on #690
What OS are you using? Is it possible to get Ansible 2.4 from a repo with yum or apt?

[2017-11-22 08:12] vysakhv90 commented on #690
I believe I am using Amazon Linux, which is CentOS based. I am not sure if I can get it using yum, yesterday I tried to get it from epel, but version 2.4 didnt get installed. But is there a way I can get this specific version for Ansible from EPEL repos?

[2017-11-22 08:18] mkempster22 commented on #690
Ah right unfortunately I haven't used Amazon Linux, I just installed off of the RHEL7 Repos using yum. Best option would be to try googling your issue.
do you have python-dev installed?

[2017-11-22 08:31] vysakhv90 commented on #690
Ok.. This is an update:

I installed Ansible from yum as you mentioned by making use of epel. This was the command I used and it gave me output Ansible 2.4 is installed.

`sudo yum install ansible-2.4.1.0-2.el6
Retrieving key from file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-6
Importing GPG key 0x0608B895:
 Userid     : "EPEL (6) <epel@fedoraproject.org>"
 Fingerprint: 8c3b e96a f230 9184 da5c 0dae 3b

[2017-11-22 08:47] mkempster22 commented on #690
By the looks of things (Referring to EPEL6 repo) your OS is based off Centos6, I upgraded to 7 from 6 as 6 wouldn't let me install the newest versions of docker and ansible.
I don't really know much about running off amazon linux so hopefully someone else can help

[2017-11-22 08:49] vysakhv90 commented on #690
Ok, tell me this: Is this error because of that I messed up with the cryptographic things before by trying make install?

Is there any possibility for that?

[2017-11-22 08:51] mkempster22 commented on #690
I'm not sure at all, I don't really understand the full process of the way of installing, googling the last line of that error got me this:
https://github.com/ansible/ansible/issues/15565
the last comment looks hopefull

[2017-11-22 09:13] vysakhv90 commented on #690
You're really awesome :) That worked. Installed ansible 2.4 and started the containers. Waiting for the migration and further config to be done, fingers crossed.. Thanks a lot.

[2017-11-22 18:27] grahamneville commented on #697
I've seen similar issues with the network modules having their passwords in cleartext when being passed to the log aggregator and also being logged in the Postgres database, dispite the fact they have no_log: true within the modules.

[2017-11-22 18:43] Labutin opened #698 "websockets stop working after rabbitmq container restart"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
AWX task and was stop working after restart container with RabbitMQ

##### ENVIRONMENT
* AWX version: 1.0.1.167
* AWX install method: docker on linux
* Web Browser: FireFox

##### STEPS TO REPRODUCE

Just restart container with RabbitMQ. Web and Task containers will lost connection.

##### EXPECTED RESULTS

Continue working.

[2017-11-22 19:31] lucaslan opened #699 "No job output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When you start a job there is no output and when you go to JOBS and check the output from a job it only shows the output if the job was successfull

##### ENVIRONMENT
* AWX version: 1.0.1.225
* AWX install method: Docker
* Ansible version:  2.4.1.0
* Operating System: RHEL7
* Web Browser: Firefox 39.0.3 / Google Chrome 62

[2017-11-22 23:36] superky13 opened #700 "Ansible Tower (3.2.1) Scheduled Jobs Revert to Los Angeles Time Regardless"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI
 -

##### SUMMARY

Ansible Tower (3.2.1) Scheduled Jobs Revert to Los Angeles Time Regardless; changing to another timezone (ie. New York/EST) in the schedule drop down is not respected after a save; it's always changed back to Los Angeles.  This leaves us having to account for the time difference when choosing a time for the scheduled t

[2017-11-23 00:23] ghost opened #701 "The capacity percentage for an instance can be negative when work is assigned beyond capacity"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
If an instance in an instance group is at or over capacity, but the instance group is not over capacity, that instance can still get more jobs and, when the capacity is exceeded, the percentage will become negative for the instance.

##### ENVIRONMENT
* AWX version: 1.0.1

##### STEPS TO REPRODUCE

Launch several jobs again

[2017-11-23 01:44] wenottingham commented on #700
For Ansible Tower issues, please contact your Red Hat support rep.

[2017-11-23 09:45] rladigital commented on #677
I have been having this exact issue. However whenever I get everything setup as I want, I get an issue with the Postgres database and I lose my entire setup. As I cannot bring the Postgres database back up with the data that is stored in /tmp/pgdocker. Any ideas how I can maintain this data persistently as currently I cannot make AWX work if I am concerned that the setup will break at anytime.

[2017-11-23 09:56] rladigital opened #702 "Postgres container issues, stuck in a loop of restarting. Data not persisting."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Installs correctly and runs fine. However after some time the Postgres database stops working and gets stuck restarting. I can fix this by removing all containers and rerunning setup playbook but the data does not seem to persist and I have repeatedly lost everything.

How can I ensure the data remains persistent?

[2017-11-23 11:11] savealive commented on #615
@wwitzel3 Seem you are the only who may provide the trace? Could you please? :)

[2017-11-23 11:53] philippwiesner commented on #702
We had a similar issue in our environment. The issue was related to SystemD cleaning up the /tmp directory and deleting the persistent postgres data dir files. Best way would be to change the persistent data directory to some other place than /tmp .

[2017-11-23 12:49] fsidnenko commented on #699
Is it a duplicate issue of https://github.com/ansible/awx/issues/654 and then https://github.com/ansible/awx/issues/615 ?

[2017-11-23 13:44] mkempster22 commented on #702
Is this linked to #438 & #535 ?

[2017-11-23 14:25] cgrimm-redhat commented on #700
@wenottingham FYI @KWRitchie is a RH Consultant on-site.  Recommendations other than opening up the issue here?

[2017-11-23 16:03] ghost commented on #677
@rladigital just change the following value in installer/inventory.yml

# Standalone Docker Install
postgres_data_dir=/tmp/pgdocker

Stop your postgres container, rsync on your host from old path to new, docker rm the postgres container, re-run installer, happy days :D

[2017-11-23 17:01] mprasil opened #703 "LDAP User Flags by Group doesn't allow providing a list for a flag"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
I'd like to attach superuser role to two groups, AWX interface will allow saving such configuration, but it silently ignores the second group provided.

##### ENVIRONMENT
* AWX version: 1.0.1.111
* AWX install method: docker on linux
* Ansible version:  2.4.0.0
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

I'

[2017-11-23 17:17] lucaslan commented on #699
Yes!! sorry

[2017-11-23 17:31] lucaslan opened #704 "Failed to get job template details. GET returned status: undefined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When using a machine credential on a template this error apears:
Failed to get job template details. GET returned status: undefined

My machine credential prompts password on launch and I only receive this error if "ask on launch" box is checked!

##### ENVIRONMENT
* AWX version: from 1.0.1.215 to 1.0.1.229
* AWX install

[2017-11-23 21:30] rbywater opened #705 "CloudForms inventory import fails with django.core.exceptions.ValidationError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

CloudForms inventory import fails with django.core.exceptions.ValidationError. Have tried with both a "normal" Cloudforms user credential and an "admin" one but same result both times.

##### ENVIRONMENT
* AWX version: 1.0.1.225
* AWX install method: docker for mac
* Ansible version:  2.4.1
* Operating System: MacOS 10.1

[2017-11-24 10:22] midekra opened #706 "When variables are added in the edit screen of a group, the text area clears and is empty after save."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Within the edit of a group in the inventory edited variables clears and is empty after 'save'

##### ENVIRONMENT
* AWX version 1.0.1.157
* AWX install method: openshift
* Ansible version 2.4.1.0
* Operating System: centos 7
* Web Browser: Google Chrome / Firefox

##### STEPS TO REPRODUCE
Create Inventory -> Add Group -> Ed

[2017-11-24 13:17] imoes opened #707 "PG_PORT variable doesn't fit"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - Docker_Container
/usr/bin/launch_awx_task.sh
##### SUMMARY
in /usr/bin/launch_awx_task.sh
line 18 the port option is missing :
fixed line: ANSIBLE_REMOTE_TEMP=/tmp ANSIBLE_LOCAL_TEMP=/tmp ansible -i "127.0.0.1," -c local -v -m postgresql_db -U $DATABASE_USER -a "name=$DATABASE_NAME owner=$DATABASE_USER login_user=$DATABASE_USER login_host=$D

[2017-11-24 14:26] imoes commented on #705
it seems that it is a performance problem with the database (Timeout).
For a local SSD, it looks like to work. In an external database, it works only partially.

[2017-11-24 14:28] imoes commented on #702
Not the Standard port? pg_port=5432

[2017-11-24 14:32] imoes commented on #705
same issue with OpenStack.py:
Traceback (most recent call last): File "/usr/bin/awx-manage", line 9, in <module> load_entry_point('awx==1.0.1.229', 'console_scripts', 'awx-manage')() File "/usr/lib/python2.7/site-packages/awx/__init__.py", line 109, in manage execute_from_command_line(sys.argv) File "/var/lib/awx/venv/awx/lib/python2.7/site-packages/django/core/management/__init__.py", line 364, i

[2017-11-24 20:20] batemanst opened #709 "Support SSL connections to external PostgreSQL database"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
It would be good to support SSL connections to an external PostgreSQL database as available parameters in the installer inventory file. Currently we work around this by changing `DATABASES` in settings.py, then copying settings.py into the official containers along with our certs and pushing the image back up to our

[2017-11-24 20:48] batemanst opened #710 "End Date & Time in Schedule is incorrectly inserted as UTC"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
- API

##### SUMMARY
End Date & Time in a Schedule is incorrectly inserted into the database as UTC without timezone conversion, which puts the schedule end date/time at a different time than intended.

Our current workaround is to specify the date/time already converted to UTC, i.e.:

Bug:

Start date: 11/21/17 - 12:00:00 CST
End date: 11

[2017-11-25 02:25] #699 closed, assigned to nobody

[2017-11-25 02:30] wenottingham commented on #700
As stated - for Tower things, go through support.

[2017-11-25 02:30] #700 closed, assigned to nobody

[2017-11-25 12:54] jmarci opened #711 "Notifications Revert to Success (Off) and Failure (On)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Notifications revert to success (Off) and failure (On) on both templates and projects.

##### ENVIRONMENT

* AWX version: 1.0.1.229
* AWX install method: docker on linux
* Ansible version:  2.4.1.0
* Operating System: CentOS7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1) Create notification(s)
2) Toggle success and/

[2017-11-25 20:53] 01000101 commented on #524
@AlanCoding I've attached the (partially redacted) inventory list you requested. This is for the Cloudforms one that I'm working with, not the OPs VMware one. Same problem.
[awx-miq-inventory.json.zip](https://github.com/ansible/awx/files/1503392/awx-miq-inventory.json.zip)

[2017-11-27 03:09] jakemcdermott commented on #351
👋 Hey guys - This issue should be resolved by: https://github.com/ansible/awx/pull/712. Let me know if you have any questions.

[2017-11-27 03:26] matburt commented on #94
The core social auth system was updated week before last, so if it's something you need then please submit a PR.

[2017-11-27 03:31] matburt commented on #495
The original issue was against Openshift 3.2 which is not going to be supported. I don't have any issues deploying to 3.6 or 3.7 so if you are experiencing trouble there then you should open a new issue and provide enough detail for us to figure out what's going on.

Taking a shot in the dark, if your PG is missing readiness probes I'd check your available PVs and see if the PG pod is not able to

[2017-11-27 03:32] matburt commented on #631
I'd be skeptical that would work without some more modifications to our internal routing/web server configuration.

[2017-11-27 03:34] matburt commented on #640
I'd caution that `created_by` might not always be an actual user and might actually be null. So both sides should make sure this case is handled.

[2017-11-27 03:37] matburt commented on #145
It's a low-priority enhancement because it implements some newer capabilities from the core modules and it's not high on our priority of things to deal with right at this moment. If it's higher priority for you then you can take it up and submit a PR.

[2017-11-27 03:40] matburt commented on #661
At the moment the `devel` branch is under heavy development for new features. We can't ever really guarantee anything is *stable* per-se :)

[2017-11-27 03:47] matburt commented on #677
Alternatively, follow the instructions in the install guide for pointing at a persistent postgres service managed by you: https://github.com/ansible/awx/blob/devel/INSTALL.md#postgresql-1

[2017-11-27 12:31] traittinen opened #714 "awx_* variables not working in workflow child jobs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

awx_* & tower_* variables (e.g. awx_user_name & awx_job_id) are not passed to workflow job templates. For single jobs they work as planned.

##### ENVIRONMENT
* AWX version: 1.0.1.223
* AWX install method: docker on linux
* Ansible version:  2.4.1.0
* Operating System: CentOS7
* Web Browser: Chrome

##### STEPS TO REPRODU

[2017-11-27 14:34] AlanCoding commented on #714
This is duplicate with #237, so I'm going to close so we're not tracking it in 2 places, but I'll go over the points you made here and make sure to comment or edit the other issue with those.

[2017-11-27 14:34] #714 closed, assigned to nobody

[2017-11-27 14:35] AlanCoding commented on #237
Note that the variables are also passed in the `awx_*` format. Some more details are in the linked closed issue.

Also editing title to reflect more of the variables.

[2017-11-27 14:49] matburt commented on #679
This can happen if you interrupt the container during a migration... remove your postgres container and fire it back up. We're tracking this elsewhere.

[2017-11-27 14:49] #679 closed, assigned to nobody

[2017-11-27 14:50] matburt commented on #689
I think this occurred due to us working out some kinks on integrating new dependencies, can you try again with the latest code?

[2017-11-27 14:50] AlanCoding commented on #704
possible fallout related to #352, where API work has been done, but UI has not updated.

[2017-11-27 14:51] matburt commented on #691
Sounds like you may have the private key loaded in awx? The private key is used during the connection as is normally required by ssh-agent.

It seems like this is better targeted at a mailing list post or irc question.

[2017-11-27 14:51] #691 closed, assigned to nobody

[2017-11-27 14:53] #690 closed, assigned to nobody

[2017-11-27 15:03] AlanCoding commented on #705
https://github.com/django/django/blob/stable/1.11.x/django/db/models/fields/__init__.py#L1036

My first glance at this would suggest to me that we just put a value in `params` for a boolean field that was really an object. (problem is, I don't know which field yet)

Is there any good reason to suspect this is related to the drive performance? I can't see how this would be connected to timing issue

[2017-11-27 15:11] xokamix opened #715 "SAML auth: Missing backend "saml" entry"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

After SAML configured, got 502 from django on metadata page.
Seems like it cant find saml backend.

##### ENVIRONMENT
* AWX version: AWX 1.0.1.229
* AWX install method: docker for linux
* Ansible version: 2.4.1.0
* Operating System: centos7-core 3.10.0-327.22.2.el7.x86_64
* Web Browser: Firefox 56.0 / Chromium 62.0 (Linu

[2017-11-27 15:26] AlanCoding commented on #705
Speculatively, I can make a good guess as to where this came from.

first call: https://github.com/ansible/awx/blob/33ff10728dbe5c2ddfac8dcc62bd07566acd9b00/awx/main/management/commands/inventory_import.py#L798

but this is where I suspect the trouble might be caused:

https://github.com/ansible/awx/blob/33ff10728dbe5c2ddfac8dcc62bd07566acd9b00/awx/main/management/commands/inventory_import.py#L337

[2017-11-27 15:44] awithrow9 opened #716 "Deadlock on /inventory_sources/pk/hosts deletion"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
While  deleting an ec2 inventory source the following was observed:

[code]

##### ENVIRONMENT
* AWX version: 3.2.2

##### STEPS TO REPRODUCE

1) Create and sync an ec2 inventory source
2) Send delete requests to the inventory source's related hosts and groups endpoints.

##### EXPECTED RESULTS

Successful, performant delet

[2017-11-27 15:56] AlanCoding commented on #710
Thanks for the report. This is on the agenda within the current development cycle.

[2017-11-27 16:15] AlanCoding opened #718 "Upgrade pytest to latest when python-ldap==3.0.0 is out"
The library `python-ldap` has fixed a bug that blocked us from upgrading pytest here:

https://github.com/python-ldap/python-ldap/pull/35

When that is released, we can upgrade pytest to >3.0.

[2017-11-27 16:25] AlanCoding commented on #711
I can not reproduce this by creating a notification template, and then toggling the buttons for a job template. It saves these new states, as I would expect. Could you open the Chrome debugger (right click, "inspect") and tell us what you see in the console and network tabs as you reproduce this?

[2017-11-27 17:31] AlanCoding opened #719 "Confusing JT activity stream entry when canceling a job"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Canceling a job results in an activity stream entry for its related job template, although the user was not editing the JT.

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Launch a job template. Cancel t

[2017-11-27 18:16] ewjoachim commented on #689
I've got the same traceback with 1.0.1.229, and it seems I have tasks stopping in the middle, not updating. Should I open a new ticket ?

[2017-11-27 20:35] wwitzel3 commented on #615
Fixed by #720

[2017-11-27 20:35] #615 closed, assigned to nobody

[2017-11-27 20:36] wwitzel3 commented on #144
Not doing for now. Not needed at #720

[2017-11-27 20:36] #144 closed, assigned to wwitzel3

[2017-11-27 20:49] ryanpetrello commented on #654
Should now be fixed via https://github.com/ansible/awx/pull/720

[2017-11-27 20:49] ryanpetrello commented on #699
Should now be fixed via https://github.com/ansible/awx/pull/720

[2017-11-28 00:42] rbywater commented on #705
That seems to fit with what I'm seeing. @AlanCoding is there any workaround in the config that could potentially make it work or am I pretty much stuck until a code change can be identified and released?

[2017-11-28 07:29] saez0pub opened #723 "Adding personnal credentials"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
When I run a tasks, I want to be prompted for the user running the playbook

##### ENVIRONMENT
* AWX version: 1.0.1.225
* AWX install method: docker on linux
* Ansible version:  2.4.1.0
* Operating System: Linux
* Web Browser: Firefox, Chromium

##### STEPS TO REPRODUCE

* When I create a credential entry
* At the username

[2017-11-28 07:47] soloman747 opened #724 "Slack notification and slack task "delegate_to: localhost" fail in awx docker container"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Cannot send slack notifications or use the slack ansible module in playbooks.

##### ENVIRONMENT
* AWX version: 1.0.1.231
* AWX install method: docker on linux
* Ansible version:  2.4.1.0
* Operating System: Ubuntu
* Web Browser: Firefox

##### STEPS TO REPRODUCE
Simply create a slack channel, create a webhook integra

[2017-11-28 08:55] akcrisp commented on #21
Hi do we have an eta for when we expect this to be available ?

Thanks

Andy

[2017-11-28 10:49] jmarci commented on #711
Hi Alan,

Just did fresh default install of latest build and getting same thing, reverting back to success (Off) and failure (On).

![image](https://user-images.githubusercontent.com/20398085/33315574-4cd39148-d3ee-11e7-92c2-7dbdc77362d5.png)

![image](https://user-images.githubusercontent.com/20398085/33315592-57e5d492-d3ee-11e7-8fbc-b8356b662e7e.png)
![image](https://user-images.githubuserconten

[2017-11-28 12:40] harkanwalSingh opened #725 "Registered variable value not available when running on isolated node"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

I am not able to use the registered task value when executed playbook using isolated node functionality.
##### ENVIRONMENT
* AWX version: 3.4.1
* AWX install method:  docker on linux,
* Ansible version:  2.4
* Operating System: Oracle Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

---
- hosts: all
  connection: l

[2017-11-28 13:11] AlanCoding commented on #705
You might be able to workaround this by nulling-out or deleting the *_ENABLED_VAR in settings for the particular inventory source your using. For cloudforms:

https://github.com/ansible/awx/blob/33ff10728dbe5c2ddfac8dcc62bd07566acd9b00/awx/settings/defaults.py#L837

If there's nothing in that variable, then it shouldn't do anything in the loop which problematically sets `enabled` to an object.

Bu

[2017-11-28 13:13] apollo13 commented on #688
Can we push the priority to high here? it massively limits the usefulness and might give people a bad idea ala saving the passwords in awx itself…

[2017-11-28 13:15] iserov opened #726 "Internal Server Error 500 on requesting inventory sync status under user other then global system administrator."
![awx_tower_error](https://user-images.githubusercontent.com/34062219/33321663-8443713e-d457-11e7-9e44-4e63609ebcd3.png)
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Getting HTTP code 500 error when trying to get inventory source sync status while logged in as any user other then global system administartor (default admin)

##### ENVIRONMENT
* AWX version: 1.0.1.225

[2017-11-28 14:30] benapetr opened #727 "ansible-inventory crashes out-of-memory for large inventories"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ansible-inventory

##### SUMMARY
Importing 3500 servers causes ansible-inventory to allocate over 2GB of ram in 10 minutes and then crash:

Plugin script failed: problem running /tmp/awx_inventory_Q31G4Q/tmpSb_Zdb --host de02-pdccz1.cz.prod ([Errno 12] Cannot allocate memory)

##### ENVIRONMENT
* AWX version: 1.0.1.231
* AWX install method:

[2017-11-28 14:32] benapetr commented on #727
Another bug I probably found, copy paste from output window give 1 line of text only, download fails with "not found."

[code]

[2017-11-28 14:58] boagg commented on #711
Hi Alan,

Same problem for me, choices are never saved

Version : <  AWX 1.0.1.229  >

[2017-11-28 15:46] ryanpetrello commented on #200
@ruben-herold what you're seeing is the old mechanism for caching stdout data on the local disk (which is what we'll be replacing with the feature described in this PR, because as you've seen it's unreliable).  A big reason for the work described in this issue relates to the fact that this caching doesn't work in clustered environments (because every awx node has a different disk).  The workaround

[2017-11-28 15:49] ryanpetrello commented on #200
@ruben-herold out of curiosity, if you change this line:

[code]

...to this:

[code]

...does the download button start working?

[2017-11-28 15:55] wenottingham commented on #21
Like most open source things - when it's done. If you are concerned about it from a release schedule of Red Hat supported products... contact your support rep/TAM/etc.

[2017-11-28 15:58] wenottingham commented on #723
This is a fundamental restriction on how Tower's credentials are implemented; sorry.

May be considered as part of https://github.com/ansible/awx/issues/286

[2017-11-28 15:58] #723 closed, assigned to nobody

[2017-11-28 16:01] akcrisp commented on #21
[edited for code of conduct]

[2017-11-28 16:02] wenottingham commented on #725
Please upload the full playbook log.

[2017-11-28 16:16] wenottingham commented on #725
Also, what AWX version? `3.4.1` is only a version if you're a time traveler here from the future.

[2017-11-28 17:22] khobbits commented on #200
Just thought I'd drop this here, in a clear way, as a potential work around for people running the currently published docker containers:

If you get the "stdout capture is missing" as the result of an ad-hoc job run, you should be able to click the download button, and get forwarded to a URL like:
http://awx/api/v2/ad_hoc_commands/18/stdout/?format=txt_download

This will likely give you the outp

[2017-11-28 17:39] ryanpetrello commented on #200
Thanks @khobbits, that's another option.  In fact, the download button I suggested is _actually_ doing the same thing under the hood (parsing the stdout components from the event JSON: https://github.com/ansible/awx/blob/c723ba52893b136eb210dc175af317d4a4e3d484/awx/api/views.py#L4436

It just seems like it's broken due to the bug that @ruben-herold is currently encountering.

[2017-11-28 18:03] AlanCoding commented on #640
@jlmitch5 you can already get the timestamp from the existing summary fields, so can we just conclusively remove that from scope here and the title of this issue?

[2017-11-28 18:20] ewjoachim opened #728 "When using AWX on plain HTTP, Social Auth is failing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
When user AWX without HTTPS (plain HTTP), logging in with the GitHub OAuth button fails.

##### ENVIRONMENT
* AWX version: 1.0.1.229
* AWX install method: docker on linux
* Ansible version:  2.4.1.0
* Operating System: debian stretch
* Web Browser: firefox

##### STEPS TO REPRODUCE

* Setup AWX, access through port 80 (de

[2017-11-28 19:03] AlanCoding opened #729 "Templates list show empty `credential` in summary fields"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Job template machine credential shows as an empty dictionary for `credential` in summary fields

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser: Chome

##### STEPS TO REPRODUCE

 - create a job template
 - associate a machine credential w

[2017-11-28 20:49] hassek commented on #223
Is there any possible work around if you currently have vaulted variables in your sourced inventory?

As of now, I was able to configure the `vault_password_file` in the _ansible.cfg_ file but it's quite an ugly hack, at least it works for the moment.

[2017-11-28 21:27] switchboardOp commented on #705
Having the same issue using these versions:

    AWX version: 1.0.1.231
    AWX install method: docker for CentOS
    Ansible version: 2.4.1
    Cloudforms: 4.5 (Management engine Version 5.8.0.17.20170525183055_6317a22)

The changes to inventory_import.py in #731 fixed the issue for me.

[2017-11-28 23:42] AlanCoding commented on #726
Thanks for the report.

[2017-11-28 23:42] #726 closed, assigned to AlanCoding

[2017-11-29 01:57] rbywater commented on #705
I made a temporary change to the code to match what was in the PR and this made it stop falling over but the default (False in the case of the current PR) was always used rather than the value coming out of Cloudforms.

Investigating further it appears that the underlying cause of this issue is actually that the CLOUDFORMS_ENABLED_VAR and CLOUDFORMS_INSTANCE_ID_VAR are wrong and should be `cloudfo

[2017-11-29 07:42] lemmy04 opened #734 "Can't pull sample project from git - name resolution from inside the AWX containers is broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - Installer

##### SUMMARY
I've installed the latest AWX, i.E. a fresh git pull, in a standalone docker setup. When I try to clone the ansible samples into the preconfigured demo project it failes with the following output:

TASK [update project using git] ************************************************ fatal: [localhost]: FAILED! => {"

[2017-11-29 07:56] mkayontour opened #735 "Kerberos Setup on Task Container needs to be privileged"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Container
- Installer

##### SUMMARY
As I tried to setup kerberos on the docker container I came across this error:
[code]
In result I needed to give the tasks container privileged access to make it work.

Question: How would be it the right way to do it? I had to modify the installer and so I have troubles updating the environment.

##### ENV

[2017-11-29 11:19] lemmy04 commented on #734
Turns out that all my containers have the same DNS issue, seems to be a docker issue, containers cannot use a DNS on the same host as the containers.
Pointing all my containers at a different nameserver solved.

[2017-11-29 11:19] #734 closed, assigned to nobody

[2017-11-29 11:39] benapetr commented on #727
I can confirm that with smaller inventory (each less than 400 servers) using same inventory script import succeeds with no issues.

The JSON of 3000+ servers inventory is valid and can be imported using much older RHEL supported Ansible Tower, but trying the same on AWX, which is newer, doesn't work and crashes with the unexpected error, possibly bug error

[2017-11-29 12:55] AlanCoding commented on #705
Sounds like a good find there. Best approach is to make a PR with that change and link to this issue.

I tried to verify this change by looking at the dynamic inventory script for cloudforms:

https://github.com/ansible/ansible/blob/devel/contrib/inventory/cloudforms.py

But it looks like that won't have the answer. `_get_hosts` works by doing a request to the cloudforms server, so the data struct

[2017-11-29 14:26] matburt commented on #727
Get more memory ;)

ansible-inventory comes from the ansible core project: https://github.com/ansible/ansible

[2017-11-29 14:26] #727 closed, assigned to nobody

[2017-11-29 14:30] koutido opened #737 "Unable to launch task template when using a vcenter credential"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

While launching a task, I couldn't go to next step when I chose a vmware vcenter credential.

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker on linux
* Ansible version:  2.4.0
* Operating System: CentOS 7
* Web Browser: Firefox 56

##### STEPS TO REPRODUCE

- Create project with a playbooks whi

[2017-11-29 15:34] Gamoth commented on #711
Hi,
Same problem for me, choices are never saved. This is a docker install also.

Version : < AWX 1.0.1.240 >

[2017-11-29 16:56] mrhockeymonkey opened #739 "Custom job name when launching a job_template"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Allow jobs to be named when launching them from a template

##### ENVIRONMENT
* AWX version: 1.0.1.8
* AWX install method: docker on linux
* Ansible version:  2.4.0.0
* Operating System: rhel-7
* Web Browser: chrome

##### ADDITIONAL INFORMATION
I used to have the ability with api/v1/ to create a job with a given name bas

[2017-11-29 17:01] otdouglasm commented on #223
@hassek  As you pointed out, there are ways to provide Tower with the vault password so that it can decrypt vaulted variables during synchronization.  Another method is to set ANSIBLE_VAULT_PASSWORD_FILE in the inventory source's environment variables.

But the problem with any of these methods is that the decrypted variables will show up in plain text in host vars, which we don't want (otherwise,

[2017-11-29 17:10] #641 closed, assigned to AlanCoding

[2017-11-29 17:11] AlanCoding commented on #729
should be fixed

[2017-11-29 17:11] #729 closed, assigned to AlanCoding

[2017-11-29 18:04] AlanCoding commented on #478
@MichalTaratuta I'm still not clear on how your use case wouldn't be resolved by providing survey variables to the WFJT launch. Could you sketch out some basics of your workflow, for instance, if you have the same JT used more than once, needing different variables with every use?

[2017-11-29 19:49] #705 closed, assigned to AlanCoding

[2017-11-29 19:56] chrismeyersfsu commented on #678
The API code has landed. https://github.com/ansible/awx/pull/721

There are 3 new fields that need exposing in the UI:

[code]

[2017-11-29 21:06] pkennedymwg commented on #496
How do i do this in the UI.  I cloned the lasted today, and I dont see where to set it.  I tried changing default settings in ./awx/sso/conf.py but i still cannot log in.

[2017-11-29 22:11] AlanCoding opened #742 "encrypted ask-on-launch credential passwords are saved in database with job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
The AWX server never lets you launch a job with a credential password marked to ASK.

This leads to a user expectation that the server doesn't know the passwords in these cases. That is not true. For job relaunch, the previously-inputted passwords remain stored in `start_args`, they are just not used, and the requirement

[2017-11-29 23:55] #351 closed, assigned to chrismeyersfsu, jakemcdermott

[2017-11-30 10:54] DBLaci opened #744 "stdout capture is missing - sometimes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
I run a template and sometimes the stdout is empty. I open the stdout link: /api/v2/jobs/192/stdout/?format=txt_download (which is not working, but deleting the format part:) /api/v2/jobs/192/stdout/ and it shows:

[code]

##### ENVIRONMENT
* AWX version: 1.0.1.203 - 1.0.1.268 (at least)
* AWX install method: docker on linu

[2017-11-30 12:41] dantheta commented on #706
I've seen this too.

Switching between details and groups tabs reloads the variables text field, and can allow you to confirm that the values were saved.

[2017-11-30 13:03] AlanCoding opened #745 "Relaunch endpoint contains job serialization"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
The job relaunch endpoint has become extremely noisy for no apparent reason.

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: N/A

##### STEPS TO REPRODUCE

Launch a job

GET `/api/v2/jobs/N/relaunch/`

##### EXPECTED RESULTS

Nice cl

[2017-11-30 13:46] benthomasson opened #747 "Allow networking credentials to be used to configure a template alone."
Networking credentials should be sufficient to configure a template without an SSH credential.

<img width="357" alt="screen shot 2017-11-30 at 8 44 21 am" src="https://user-images.githubusercontent.com/44381/33433831-2e5f0828-d5ab-11e7-9aac-844b8fca19b7.png">

[2017-11-30 14:13] ryanpetrello commented on #747
This is a situation where the UI hasn't caught up w/ the API changes in https://github.com/ansible/awx/pull/595.

https://github.com/ansible/awx/blob/bfea00f6dc6af0fb01057ce38e9d0337e6c589aa/awx/ui/client/src/templates/job_templates/multi-credential/multi-credential.directive.js#L43

This SSH requirements is specific to the UI, and can just be removed now - the API won't complain if you only send

[2017-11-30 14:17] ryanpetrello commented on #744
Hey @DBLaci,

This is an issue we've know about, and we're actively working on a fix.  Stay tuned!

[2017-11-30 14:58] #745 closed, assigned to AlanCoding

[2017-11-30 15:34] arthur-c commented on #159
I built an helm package for myself (a single deployment with awx_task and awx_web from the docker hub in a pod), and I am using stable charts for postgresql, memcached and rabbitmq.

It is still in alpha/beta but if someone is interested let me know.

[2017-11-30 18:31] benthomasson commented on #747
I have a work-around for this that uses machine credentials and there is a new network_cli credential type that is coming and it is compatible with machine credentials.

[2017-11-30 18:33] jaredevantabor commented on #352
connecting this card related to networking credentials on the JT form: https://github.com/ansible/awx/issues/747

[2017-11-30 19:06] jrosengren commented on #159
@arthur-c, I'd be interested in taking a look at what you've come up with.

[2017-11-30 19:18] pkennedymwg opened #750 "How do I change the IP addresses and three subnets that get created for the docker containers"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY
How do I change the IP addresses and three subnets that get created?
I took down my installation, and then edited ./awx/main/tests/functional/ansible.json to be in a 172.21.0.0 ranged, but when i ran install again i sitll have the 172.17.0.0, 172.18.0.0 and 172.19.0.0 routes.

##### ENVIRONMENT
* AWX version: lat

[2017-11-30 20:00] cesan3 opened #751 "Painful process to assign permissions for a Team when the list of inventories and credentials are considerable big."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

We currently have around 1000 inventories and 1000 credentials.
We want to assign permissions to certain team to a subset of inventories and credentials, (250 or 500).

Currently, the list of those objects only displays 5 elements per page and we currently don't have a select all checkbox, to make this process ea

[2017-11-30 20:03] wenottingham commented on #751
`tower-cli role grant --team<TEAM>  <resource>` works on the API side, and should be easily scriptable if you want to automate it.

[2017-11-30 20:55] jakemcdermott commented on #352
connecting this card related to credential prompting on the launch view: https://github.com/ansible/awx/issues/737

[2017-11-30 21:12] dw-ec commented on #200
Hypothetically†, as a kludge of a work-around, if I were to mount a docker volume at /var/lib/awx/job_status on awx_task, and then mount the same volume read-only at the same path on awx_web, what's the worst that could happen?

†Because I've just done that, and I can now see the stdout of ad_hoc & other jobs from the command line and in the web interface, which I couldn't before:

[code]

Same qu

[2017-11-30 21:17] ryanpetrello commented on #200
@id-ec

You could be ashamed of yourself 😉 Points for ingenuity 😄

Seriously, though, there are definitely creative ways to just "make this work" for now, and what you've mentioned _would_ technically work with a _single_ `awx_task` container and an explicit volume mount.  But as you said, it's definitely a kludge.  In the future, `awx` is moving towards a model where this content just doesn't liv

[2017-11-30 23:43] tima commented on #159
@arthur-c: If this is a module (assuming that’s what you mean by package) I’d suggest you mention your work over in the Ansible project for more visibility and feedback.

[2017-12-01 01:51] tchia04 opened #753 "Slack notification is not working for job completion (success or failure) but works fine for workflow job"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Slack notification is not working for job completion (success or failure) but works fine for workflow job

##### ENVIRONMENT
* AWX version: 1.0.1.234
* AWX install method: docker on linux,
* Ansible version:  2.4.1.0
* Operating System: Redhat 7
* Web Browser: chrome

##### STEPS TO REPRODUCE

I created a slack chat

[2017-12-01 10:03] arthur-c commented on #159
@jrosengren here it is: https://github.com/arthur-c/ansible-awx-helm-chart
It is still a draft, I would like to use internal Helm requirements to install postgresql, rabbitmq and memcached and enhance the package.
The interesting part is the configmap template in awx-web-task/template. I added the latest changes from the awx devel branch but it might break soon as the project is moving fast.

@tim

[2017-12-01 11:07] DBLaci opened #754 "Template save permission denied but user/team has Admin permission"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
One template from a project playbook with 1 inventory and 2 credentials. If i grant a team Admin permission on this template it cannot be saved: operation not permitted.

##### ENVIRONMENT
* AWX version: 1.0.1.268
* AWX install method: docker swarm
* Ansible version:  2.4.x
* Operating System: Ubuntu 16.04
* Web Brows

[2017-12-01 12:42] AlanCoding commented on #754
This is an intentional decision, so that someone can't change things that will affect an inventory that they don't have permission to. Nonetheless, I agree that it's a user pain point, and my suggestion is that we should return a specific message that makes clear what rule is violated.

[2017-12-01 13:02] matburt commented on #753
hmm, I can't reproduce this... everything seems to work fine for me. Are there any errors in the console?

[2017-12-01 13:03] #751 closed, assigned to nobody

[2017-12-01 13:04] matburt commented on #751
You can also just interface with the api roles directly to do that...  see `towerhost.tld/api/v2/`

[2017-12-01 13:05] matburt commented on #750
https://docs.docker.com/engine/userguide/networking/

[2017-12-01 13:05] #750 closed, assigned to nobody

[2017-12-01 13:06] matburt commented on #744
This will be fixed here: https://github.com/ansible/awx/issues/200

[2017-12-01 13:06] #744 closed, assigned to ryanpetrello

[2017-12-01 13:33] DBLaci commented on #754
1.: I agree a specific error would be great. It is not trivial to descide which asset the user needs permission.
2.: The problem occurs saving template WITHOUT any modification. No inventory change, nothing. In fact in my case the user wants to update variables.

AND it works if the user has use access for the inventory, but for executing this is not needed. I think this is not reasonable.

[2017-12-01 13:36] matburt commented on #689
No lets reopen this one.

[2017-12-01 13:41] matburt commented on #21
^ What does that even mean?

[2017-12-01 13:43] AlanCoding commented on #754
This could be some mis-communication between the API and UI. Non-sensitive fields like name and description should be editable to job template admins. I'll try to attempt reproducing later.

[2017-12-01 13:43] akcrisp commented on #21
It means I have to go log a ticket on red hat so that the support staff can the approach the relevant engineers to ask for an eta. Rather than me just getting a direct answer to my question.

[2017-12-01 13:53] matburt commented on #159
I think this is excellent... it's probably a bit incompatible with my `scalable_clusters` branch. I feel like I'd probably take this idea and change it up a little bit. Nice work :)

[2017-12-01 14:15] DBLaci commented on #754
Thank you. Meanwhile I tested and can confirm the user doesn't need access to inventories/credentials to run the template, so I think editing any aspect of the template (not affecting inventory/credential) should be allowed with ADMIN permission to the template (and no permission to the credentials/inventories).

I don't know if I am doing some rare practice or not so I tell you this playbook is f

[2017-12-01 14:20] arthur-c commented on #159
Ideally the chart should be splitted in two. I first tried to make 1 chart for the web part and 1 for the task part but I had some trouble to figure out how the two parts talk to each other.

[2017-12-01 14:28] AlanCoding commented on #754
You're right, I'm replicating this. The action is a PUT, I hit this editing the description.

Looking at the payload, I suspect that this is fallout from the multi-credential changes, since the payload includes key like `vault_credential`.

This is an API issue, but it will probably only happen for the old credential pattern. On that theory, I'll reopen this.

The flow in the UI, however, is likel

[2017-12-01 14:29] Tioborto opened #755 "The Tower server sent back a server error with AWX API v2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
I realize a POC on AWX and when i use the API v2 i get an error. This error is an internal server error when i attempt to add a tower credential via an Ansible playbook.
I don't have this error on API v1 but i don't have all attributes that i want.

##### ENVIRONMENT
* AWX version: 1.0.1.223
* AWX install method: docker on

[2017-12-01 14:30] Tioborto commented on #755
@AlanCoding thank you in advance

[2017-12-01 14:31] AlanCoding opened #756 "Job Template admin gets erroneous errors without project permission"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
User with job template admin but not project admin has bad UX.

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

 - Create a new user
 - Give user admin role to a job template
 - as that user, navigate to the job

[2017-12-01 14:36] AlanCoding commented on #755
you mention creating a credential, but the task you give creates an organization.

Could you get into the AWX server and find the logs that correspond to this event? The 500 error indicates that there should be a traceback that will have hints about what happened.

[2017-12-01 14:43] Tioborto commented on #755
Yes sorry, i add an organization, not a credential.
I don't found this error in any log file:
  - docker logs awx_task : nothing
  - /var/log/tower/tower.log : not existing

[2017-12-01 14:44] DBLaci commented on #754
I confirm this particular template uses 2 credentials (ssh + vault password) - I didn't tested with only one or without vault credentials. Thank you!

[2017-12-01 14:50] AlanCoding commented on #754
You can reproduce this by navigating to `/api/v2/job_templates/22/` and issuing a PUT without changing any of the data. That makes this clearly an API bug.

[2017-12-01 14:56] hassek commented on #223
@otdouglasm I didn't knew about them showing up in plain text on _host_vars_, thanks for pointing that out.

I do own many complex inventories already for production, qa and dev and _links_ have proven to be a bad way to _switch_ between environments (that's why I am so excited about ansible tower supporting them now). But I get the point is to let the inventory sync succeed and then use vaulted f

[2017-12-01 15:04] gregdek commented on #21
@akcrisp edited your previous comment. feel free to reach out to me for reasoning, gdk@redhat.com, thanks.

[2017-12-01 15:25] rahst12 commented on #452
Giant pain in Ansible Tower.  Anytime an IP is recycled, we've got manually clear it from the known_hosts.

This is my +1 to hopefully help the merge pull request here.

[2017-12-01 15:32] wenottingham commented on #452
Maybe I'm missing something... I don't see a PR?

[2017-12-01 15:39] rahst12 commented on #452
Is there one from ryanpetrello 452?.. I could be totally mis-reading GitHub here.. https://github.com/matburt/awx/commit/4510cd11dbd65eb86cd3f5235168e76c42506360

[2017-12-01 15:42] ewjoachim commented on #689
It's interesting to note that we realised the server was low in terms of RAM, we resized it, restarted everything and it seems we don't have the problem anymore. I don't know if the problem was because of an OOM, or if it was simply a problem that was solved by restarting the server. (it could be interesting to note that AWX with local docker needs at least 3 to 4 Gb)

[2017-12-01 16:01] wenottingham commented on #452
Unrelated PR tagged into issue due to naive github matching of the number "452".

[2017-12-01 16:52] ryanpetrello commented on #352
Next steps for this issue are to support https://github.com/ansible/awx/issues/352#issuecomment-337995178 and modify the API validation to actually allow multi-vault assignment on JTs (@AlanCoding's PR https://github.com/ansible/awx/pull/740 does some of this already)

[2017-12-01 17:05] AlanCoding commented on #352
yes, noting lines here:

https://github.com/AlanCoding/awx-1/blob/fa9606a75efabcee6f516c17d22473a8eedc4e2c/awx/api/views.py#L610-L637

https://github.com/AlanCoding/awx-1/blob/fa9606a75efabcee6f516c17d22473a8eedc4e2c/awx/api/views.py#L3063-L3068

The condition for the latter would just need to change to be the condition of the former, and then I think there's 1 duplicate condition.

[2017-12-01 17:42] rahst12 commented on #452
Dang, alright, well my moral support is provided!  A little more background - I (we) use openstack and when we terminate a server, then recycle the IP, this issue hits.  Depends on what were doing is how frequent this hits.  We try to create Ansible Playbooks for all new server components (expand disks, install certs, etc), that run nightly to make sure things are up to date.

[2017-12-01 18:37] #518 closed, assigned to nobody

[2017-12-01 19:43] jamesmarshall24 opened #758 "RabbitMQ Should Only Listen to Nodes Designated in Inventory"
##### ISSUE TYPE

 - Bug

##### COMPONENT NAME

 - Installer

##### SUMMARY
Configure RabbitMQ on install to listen only to nodes defined in the [tower] group as discussed in the [https://www.rabbitmq.com/networking.html](RabbitMQ networking) documentation.

##### ENVIRONMENT
* AWX version: 1+

##### ADDITIONAL INFORMATION

An example of the configs for a single node install:

[code]
[code]

[2017-12-01 20:14] matburt commented on #689
Yep that fits in with the Tower system requirements also.

[2017-12-01 23:32] inequity commented on #682
I am also interested in this, but if necessary will just mirror my ansible code into git.

[2017-12-03 13:15] truki commented on #711
Hi Alan, same problem for me with latest build installed over docker.

[2017-12-03 16:17] ewjoachim commented on #689
Oh, I just saw it. Could be interesting to link to [this page](http://docs.ansible.com/ansible-tower/latest/html/installandreference/requirements_refguide.html) in the AWX installation guide, because if you follow the AWX requirements, you don't know you've failed the Tower requirements :/

Note : the Tower reqs say "2GB minimum, 4GB recommended". Given that with 2GB, and a single project, 2 inven

[2017-12-03 16:35] ewjoachim commented on #689
A bit of data in my case: this is my AWX installation with a single [everything]. No celery job and no web requests are being processed at the moment, the system is ready but idle.
[code]

As you can see, 1.8 GB are already used. Given the OS itself and the docker daemon need a little bit too, 2GB seems really like hovering a gun above our feet.

[2017-12-04 08:15] ElliotGo opened #760 "Job failed to run in isolated instance"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Preparations:
1>Tried to install "Isolated Instance" through tower's installation playbook(https://releases.ansible.com/ansible-tower/setup/ansible-tower-setup-latest.tar.gz );
"awx-manage generate_isolated_key" and copy to "authorized_keys" file;
Confirmed that web node can SSH to this isolated instance without using passwo

[2017-12-04 08:33] Tioborto commented on #755
During the weekend, the launch is passed but i've found a new error when i would adding a new credential..

    "changed": false,
    "failed": true,
    "module_stderr": "*** DETAILS: Getting the record. **********************************************\nGET http://10.11.176.196/api/v2/organizations/\nParams: {'name': 'Pyxis'}\n\n*** DETAILS: Checking for an existing record. ************************

[2017-12-04 10:25] alexist opened #761 "Inventory group vars are not loaded"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
With AWX/Tower, group_vars are not loaded when the group_vars folder is inside the inventory.

 Sample project structure :

    my_project/
      inventory_folder/
        dev/
          hosts.ini
           group_vars/
             my_group.yml
             all.yml
        playbooks/
          playbook.yml
          roles/

[2017-12-04 12:57] matburt commented on #689
I've added some basic system requirements here: https://github.com/ansible/awx/commit/cf0cc2e2f2db8446c1f80538a0e504fb0a877efc

We'll keep this open to investigate. I worry we'll run into this when the system is under heavy load.

[2017-12-04 12:58] AlanCoding commented on #755
Credential type not being in parameters is because the modules haven't been updated to the latest AWX and tower_cli, and that change will need to happen in https://github.com/ansible/ansible.

[2017-12-04 13:00] matburt commented on #761
3.2.0 is not an AWX version and the minimum version of Ansible we install in the deployment is 2.4

Can you re-verify with a latest AWX image?

[2017-12-04 13:00] #761 closed, assigned to nobody

[2017-12-04 13:04] matburt commented on #760
AWX doesn't currently support installing isolated instances and will not work when attempting to join an AWX instance to a Tower cluster.

If you have a Tower install and you are looking for support then please contact your Red Hat support rep.

[2017-12-04 13:04] #760 closed, assigned to nobody

[2017-12-04 13:09] matburt commented on #755
Since we don't see an actual server error in these logs and this is a request to support a feature on the Ansible side... we'll close this issue.

[2017-12-04 13:09] #755 closed, assigned to nobody

[2017-12-04 13:09] ElliotGo commented on #760
@matburt thank you!
I'm trying to build a isolated instance and join AWX cluster, is it possible? Any related documents / guidance?

[2017-12-04 13:13] matburt commented on #728
I guess I could go either way on this. If one needs social auth we could just require the use of an ssl terminator.

[2017-12-04 13:14] matburt commented on #724
It sounds like perhaps the service inside the container can't access the slack services? I can't seem to reproduce this and things are working fine here.

Can you provide some more details on whether services running in your containers are able to access the internet?

[2017-12-04 13:16] matburt commented on #715
Can you show us a saml config put into AWX that can recreate t his scenario?

[2017-12-04 13:59] ewjoachim commented on #728
I think if HTTPS was explicitely noted as a requirement in the doc when using social auth (which is, I think, important to secure the token), I wouldn't have had the problem. But it would be even better to actually disable the oauth buttons when using raw HTTP.

Note : when I put my nginx front, I also lost some time because of a missing `proxy_set_header X-Forwarded-Proto $scheme;` directive, and

[2017-12-04 14:01] soloman747 commented on #724
Services running inside the container are able to access the internet just fine. I tested by performing curl requests from the web and the task containers to multiple internet urls, and they all work. Another test I performed was temporarily changing the hosts file entry for localhost to the ip of the host, rather than the 127.0.0.1 loopback of the container. That works as well. I also attempted c

[2017-12-04 14:53] mrhockeymonkey commented on #739
After a little more digging I have found a solution but it feels like a bit of a workaround (Script Below). In api/v2 the POST method was removed from api/v2/jobs/ but it is still present at api/v2/job_templates/<template_id>/jobs

However calling this has some issues:

* The Job doesn't start, Instead i need to POST to api/v2/jobs/<job_id>/relaunch. This however creates another new instance of th

[2017-12-04 16:21] matburt commented on #702
We'll have a fix for #535 in soon... #438 was resolved a while ago and might have an impact on you (or systemd as mentioned earlier).

For more permanence you may want to set up an external postgres and point the awx install at that, see: https://github.com/ansible/awx/blob/devel/INSTALL.md#postgresql-1

[2017-12-04 16:21] #702 closed, assigned to nobody

[2017-12-04 16:27] AlanCoding commented on #705
Notes for verification:

Two distinct things went wrong here that should both need to be checked.

 - the enabled_var was not working with the dot notation (like `cloudforms.power_state`)
 - cloudforms changed its enabled variable

[2017-12-04 16:36] matburt commented on #698
I reproduced this... sort-of. Does refreshing your page show the jobs having run? What I notice is that everything seems to work except for websockets.

[2017-12-04 17:10] Labutin commented on #698
Yes, if you refresh web page manually you will see playbook progress. But even after the manual refresh, it will not start an automatic update.

[2017-12-04 17:10] matburt commented on #604
No further comments, so closing.

[2017-12-04 17:10] #604 closed, assigned to nobody

[2017-12-04 19:16] matburt commented on #707
Fixed in #762

[2017-12-04 19:16] #707 closed, assigned to matburt

[2017-12-04 20:44] matburt commented on #760
The current `devel` branch doesn't really support clustering per-se... if you check out the `scalable_clusters` branch it offers the kind of clustering you'd expect targeting Openshift.

[2017-12-04 20:52] #237 closed, assigned to AlanCoding

[2017-12-04 21:02] AlanCoding commented on #754
Should be fixed in `devel` branch now. Thanks for the report, that was very helpful.

[2017-12-04 21:02] #754 closed, assigned to AlanCoding

[2017-12-04 21:46] ghost opened #764 "Error Message Issue when creating duplicate host in an inventory."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
When you try to add a host to an inventory and the host already exists then you get a cryptic error message.

![update_awx_task_awx_web2](https://user-images.githubusercontent.com/6487265/33577820-20de9884-d8f9-11e7-9cb0-a32fb6ccc189.png)

Here is the console:

![update_awx_task_awx_web_error](https://user-images.githubuse

[2017-12-04 22:12] sdwallinga opened #766 "OpenStack dynamic inventory fails to sync"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Cannot use built-in OpenStack dynamic inventory plugin, script fails with unhelpful errors.

##### ENVIRONMENT
* AWX version: 1.0.1.10
* AWX install method: docker on linux
* Ansible version:  2.4.0

##### STEPS TO REPRODUCE

Create OpenStack credential with project details
Create new inventory
Create OpenStack source using

[2017-12-04 23:01] matthiasdoering opened #767 "ERROR on install with docker"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY

I get the whole error again and again after install out of the installer directory with `ansible-playbook -i inventory install.yml`

##### ENVIRONMENT
* AWX version:
`git log`
commit cf0cc2e2f2db8446c1f80538a0e504fb0a877efc
Author: Matthew Jones <matburt@redhat.com>
Date:   Mon Dec 4 07:56:34 2017 -0500

    Add syst

[2017-12-04 23:25] jaredevantabor commented on #764
moving to testing.

[2017-12-05 12:34] benapetr commented on #727
@matburt you don't understand, I already tried to add more memory, then the script crashes with some python exception without even utilizing all of available memory. It's a bug in code. Closing the issue won't fix it. Try to import 3000+ servers from json dynamic inventory yourself and you will see.

[2017-12-05 12:36] benapetr commented on #727
This is the log I am getting from job including exception, the fact that it's on 1 line is also a bug in AWX:

[code]

[2017-12-05 12:37] benapetr commented on #727
Using download button gives me this: {"detail":"Not found."}

[2017-12-05 13:22] AlanCoding commented on #766
Although the error is wrapped several times, it still returned a kernel of the real error.

I can replicate your scenario, simply by taking my valid openstack credentials, and replacing the host used in the credential with a `.invalid` address. It gives the same error about fetching the server list on devstack.

The layers of wrapping on going on:

 - AWX runs its own task execution environment
 -

[2017-12-05 13:22] #766 closed, assigned to nobody

[2017-12-05 14:17] worsco commented on #767
+1
Issue persists in 1.0.1.283, docker container deployment.
I'm exporting logs to loggly and this error gets logged every 6 minutes, or so.

{"cluster_host_id": "awx", "level": "ERROR", "@timestamp": "2017-12-05T14:13:27.539Z", "host": "awx", "logger_name": "awx.main.scheduler", "message": "Failed to retrieve active tasks from celery", "type": "loggly"}
{"cluster_host_id": "awx", "level": "ERROR"

[2017-12-05 14:52] AlanCoding opened #770 "Cannot edit credential secret fields in UI"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Can not edit secret fields for credentials, like password.

Creating new credentials is not a problem.

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System: Mac
* Web Browser: both Firefox and Chrome

##### STEPS TO REPRODUCE

Create a machine credential with

[2017-12-05 14:55] mabashian commented on #770
I believe that the function being called when _REPLACE_ is being clicked is defined here:

https://github.com/ansible/awx/blob/devel/awx/ui/client/lib/components/input/secret.directive.js#L34

As best as I can tell `toggleRevertReplace` is not defined anywhere so nothing is happening.  That's consistent with the report of no errors in the console.  I'll have to look and see if this logic was remov

[2017-12-05 17:13] sdwallinga commented on #766
Really appreciate the detailed response -- I was able to solve the issue thanks to your clarification about the separate task execution environment. The credential was correct and functioning properly. I was poking around to glean some information from the `awx_task` environment and ended up rebuilding both containers. Turns out, our OpenStack catalog had a simple hostname as the internal URL for

[2017-12-05 17:53] ghost commented on #315
can we see your nginx configuration, I have mine setup but its lacking since auto refresh of the screen seems broken ? This is mine (not sure if this is the right place to paste it)

[code]

[2017-12-05 18:58] reecewebb opened #772 "Unable to authenticate via AD/LDAP"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Fresh install of AWX, login via AD/LDAP authentication isn't working. There aren't any issues that I can see, I do see an LDAPError warning while tailing the awx_web log. I'm banging my head against the wall so hoping there's something obvious that I'm missing.

##### ENVIRONMENT
* AWX version: 1.0.1.272
* AWX install metho

[2017-12-05 19:14] jakemcdermott commented on #770
should be resolved by https://github.com/ansible/awx/pull/771

[2017-12-05 19:14] #770 closed, assigned to nobody

[2017-12-05 19:24] #764 closed, assigned to jaredevantabor

[2017-12-05 19:35] ghost commented on #764
![update_awx_task_awx_web_error1](https://user-images.githubusercontent.com/6487265/33626761-64db81b6-d9b0-11e7-9ad1-365f8f17aea1.png)

This bug has been resolved. The above is the new result.

[2017-12-05 20:56] MogiePete commented on #772
Use the settings listed by @dandandanp here: [Configuring AWX to connect to Active Directory](https://github.com/ansible/awx/issues/496) for configuring LDAP Sync to Active Directory. His settings worked for me.

Also, to trust our internal LDAPS server I had to import our Root CA Chain into aws_web for LDAPS to work properly.

[2017-12-05 22:12] alexander-bauer commented on #315
@twotwenty I think this is solved by these options, which helps websockets behave.

[code]

[2017-12-05 22:46] reecewebb commented on #772
Thanks, I actually did try those settings during my testing, same result. Also, I have "OPT_X_TLS_REQUIRE_CERT=0", which I believe disables cert validation?

[2017-12-06 05:07] matburt commented on #727
You said you gave 2G of RAM... this is *way* to little memory. Our install docs list a minimum of 4G... how much have you given it where you still see it crash?

[2017-12-06 10:56] jmarci commented on #753
Appears to be same issue as #711, Success or failure notification settings not being saved and also not functioning.
Appears to be database related, something missing in database field/table missing. Maybe docker installer is broken?

[2017-12-06 11:59] benapetr commented on #727
8GB of RAM in second run

[2017-12-06 12:00] benapetr commented on #727
I tried it multiple times, with 8GB, according to htop the ram was used max from 60% when it crashed. The crash reason while having more RAM was different:

[code]

[2017-12-06 12:01] peterducai commented on #361
Still got this issue on Ubuntu 16.04.3 and Fedora 27..
[code]

and fails also with -e "ansible_python_interpreter=python"

using ansible 2.4.2 (installed through PIP), Docker version 1.13.1, build 092cba3 (on Ubuntu), docker running (and docker pull postgres downloads image without problems)

[code]
sudo is with NOPASSWD, no permission denied for anything else.

BTW same error even if switching to

[2017-12-06 12:12] iyurev commented on #715
Good day!
 I'am was try configured SAML with ADFS and got same error.

**AWX 1.0.1.268**

[2017-12-06 16:02] #772 closed, assigned to nobody

[2017-12-06 16:03] reecewebb commented on #772
Doh, there was an unrelated change made by one of our AD admins, I have this working now.

[2017-12-06 19:19] worsco commented on #767
Issue persists in 1.0.1.290, docker container deployment.  Logs error about every 6 minutes 30 seconds.

[2017-12-06 21:51] kkolk commented on #223
So I fixed it so it could decrypt it, accepting it would show up in host_vars and it's decrypting but still not working.  Mine every time it hits one of my encrypted values, throws this message in the logs:

`ERROR! Unexpected Exception, this is probably a bug: Cannot json serialize SECRETPASS `

With SECRETPASS being the decrypted value.

[2017-12-06 22:21] jamesmarshall24 opened #775 "RFE: Read RBAC role should be assignable through the UI"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
It is possible through the API to assign READ roles to users/teams for AWX objects, but READ role does not appear in the drop down when selecting roles within the UI. The only available option for READ through the UI is via an org auditor which garners READ for all organization owned objects.

##### ENVIRONMENT
* AWX ver

[2017-12-06 22:27] SpeedRacerrr commented on #775
Also noteworthy, READ roles (permissions) was available through the UI in previous versions.

[2017-12-07 06:37] iyurev commented on #715
My AWX  worked in docker containers, and HTTPS configured on separate container with nginx which do reverce proxy on awx_web http://:8052.
This is json from my ENABLED IDENTITY PROVAIDER section, may be this will helpful:

{
"saml_ms_adfs":{
    "entity_id": "http://somedomain.foo/adfs/services/trust",
	"url": "https://somedomain.foo/adfs/ls",
    "x509cert": "some_certificate_in_one_string",

[2017-12-07 11:31] shortsteps commented on #766
@sdwallinga, I have the same issue you posted. Could you please help me with further clarification on how you solved?

I've just installed AWX (1.0.1.272), with Docker installation method and Ansible 2.4.0.
First of all, I would like to reproduce the successfull sync from inside awx_task container, but running `openstack.py --list` manually gets me to this error:

[code]
What am I missing? Did you

[2017-12-07 13:08] HalisCz commented on #223
Is there any conclusion or roadmap so far? I need central machine running ansible playbooks till end of January, and I prefer ansible awx, but vault_pass unsupport is a no-go for my use case, so I want to know if I should wait or switch to Jenkins

[2017-12-07 14:36] wenottingham commented on #775
Yes, it was removed because for a large subset of resources, 'read' role is mostly useless, even if it exists in the model.

It may have a use solely for inventory and projects, and possibly job templates. I'm still curious the use case for assigning read-only access to individual items - what are they trying to enable for their users?

[2017-12-07 16:17] Aletor93 commented on #767
Hi,

I followed given steps by @matburt & @KnechtionsCoding (https://github.com/ansible/awx/issues/116) but I'm still having the same issue :

  •awx_task
  •awx_web
  •memcached
  •rabbitmq
  •postgres
2.Remove /tmp/pgdocker/
3.Re-run install.yml with no other changes.

**ENVIRONMENT**
- OS : RHEL 7.3
- Docker : 1.12.6-32
- Python Docker : 1.10.6-1
- Ansible version : 2.4.1.0-1
- AWX commit : 7fc

[2017-12-07 16:43] mkempster22 commented on #361
@peterducai Permission denied is a different issue to what I had, Mine was no such file or directory. I'd suggest making a new issue if you cant resolve it with google

[2017-12-07 18:30] SpeedRacerrr commented on #775
You are correct.  There is a need solely for inventory, projects and job templates.  Cross functional teams within large organizations hoping to collaborate without infringing on each others duties while complying to segregation of duties becomes very challenging.  READ is a great way to share work without adding risk.  And the auditor role does it at an Organization level, but there are times we

[2017-12-07 18:59] wenottingham opened #776 "500 error on malformed search query"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

https://awxhost/api/v2/job_events/?event=playbook_on_task_start&order_by=event_data.task_action

yields a 500 error.

[code]

##### ENVIRONMENT
* AWX version: recent

[2017-12-07 19:25] AlanCoding commented on #776
Can reproduce in shell.

[code]

[2017-12-07 19:46] lucaslan opened #777 "CWE-352: Cross-Site Request Forgery (CSRF)"
##### ISSUE TYPE

 - Bug Report
 - Security report ?

##### COMPONENT NAME

 - UI
 - API

##### SUMMARY

Hi all, I made a vulnerability assessment and this vulnerability apeared (CWE-352) I searched in issues and I found nothing about that or an issue type related to security.
I tryed the same vulnerability test on all versions available until today (last 1.0.1.290) and all versions have this vuln

[2017-12-07 20:25] wenottingham commented on #777
Sorry, need details as to the actual vulnerability here.

[2017-12-07 21:04] lucaslan commented on #777
**Description**
CSRF is an attack that tricks the victim into submitting a malicious request. It inherits the identity and privileges of the victim to perform an undesired function on the victim's behalf. For most sites, browser requests automatically include any credentials associated with the site, such as the user's session cookie, IP address, Windows domain credentials, and so forth. Therefore

[2017-12-07 21:07] wenottingham commented on #777
Sorry, I wasn't clear.

What endpoint in AWX do you think has the issue, and why?

As you note, modern web browsers do not execute these requests due to the same-origin policy - since we do not set a CORS header, AWX will never have these requests sent to it.

What we've seen in the past is test suites that raise an issue merely due to the lack of the `Access-Control-Allow-Origin` header, without

[2017-12-07 21:21] lucaslan commented on #777
@wenottingham I just have this output:
![ansible-scan](https://user-images.githubusercontent.com/24614153/33739274-98af44c6-db83-11e7-9321-8a373b554b1a.jpg)

apparently the login page

[2017-12-07 21:45] wenottingham commented on #777
We'd need to see the details of what it thinks you can do on the login page, given that your screenshot isn't actually showing the HTTP GET API request.

[2017-12-08 10:57] Aletor93 commented on #767
I tried to remove all docker's images, volumes and rerun the whole playbook from scratch with a dedicated user (not root, but I had to run the playbook with sudo) and I'm having the exact same issue.

Regards,

[2017-12-08 13:31] mkayontour opened #778 "Container dont share /var/lib/awx problem with local files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
The container Tasks and Web can't access the same /var/lib/awx directory. This gives troubles if you wan't to use local playbooks without a remote source or remote version control system.

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker on linux
* Ansible version:  2.4.x
* Operating System: Debian

[2017-12-08 15:48] aizuddin85 commented on #200
@ryanpetrello  I have the same bugs encountered by @ruben-herold.

using `os.fdopen` still not fix anything for me. I notice that awx_web container does not see what is in the awx_task job_status folder, hence,  as the workaround, I did volume bind on both awx_task and awx_web container to the same shared NFS.

As I`m using local_docker, I did intrusive reconfiguration on installer/local_docker/ta

[2017-12-08 16:27] ghost opened #779 "Add management jobs to workflow selection options"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Add AWX management jobs as options that can be selected as workflow nodes.

##### ENVIRONMENT
* AWX version: 1.0.1

##### STEPS TO REPRODUCE

The option of incorporating AWX management jobs into an AWX workflow would enhance the ability to use AWX to automate management of the AWX machine by allowing the coordination f int

[2017-12-08 17:01] lucaslan commented on #777
hi @wenottingham

I have this result clicking on the "eye" I hope it helps

In form with inputs keep_amount granularity_keep_amount keep_unit granularity_keep_unit using GET at http://awx.example.com/ pointing to http://awx.example.com/ .

[code]

And this:

In form with inputs login_username login_password using GET at http://awx.example.com/ pointing to http://awx.example.com/ .

[code]

[2017-12-08 17:29] wenottingham commented on #779
As I understand it, system jobs aren't exactly launched in the same way, so there's an amount of plumbing that would be required to make this practical if desired.

[2017-12-08 18:20] ryanpetrello commented on #200
@aizuddin85 thanks for the reply.  Glad to hear you've got a workaround for now - we're working on accomplishing this in a better way in the near future!

[2017-12-08 19:11] wenottingham commented on #777
I really don't see any issues here - notably, neither of those forms are processed on that page, nor is any processing done via a GET. I'd be inclined to say it s a false positive from a tool that's attempting to naively parse the HTML looking for CSRF token usage.

[2017-12-08 19:26] wenottingham commented on #777
Closing this out - if you or the tool is more able to show an actual exploitable vulnerability, please reopen.

[2017-12-08 19:26] #777 closed, assigned to nobody

[2017-12-08 19:41] mattthehearn opened #780 "Support for Spacewalk?"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY
I've been doing some finagling to try and set up credentials to allow AWX to pull an inventory from my Spacewalk environment.  Spacewalk is essentially Satellite 5.6; at this time, AWX only works with Satellite 6, and the APIs don't seem to line up.  I poked at the foreman.py code and can see it's looking for API calls

[2017-12-08 19:42] tchia04 opened #782 "Run Command is not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
When I perform an ad-hoc Run command, I got "stdout capture is missing"

##### ENVIRONMENT
* AWX version: AWX 1.0.1.231  >
* AWX install method: docker on linux
* Ansible version:  Ansible 2.4.1.0
* Operating System: Redhat 7
* Web Browser: chrome on Windows

##### STEPS TO REPRODUCE

1) select an inventory such as

[2017-12-08 19:42] tchia04 commented on #782
I perform the same steps on ansible tower and it worked perfectly.

[2017-12-08 19:43] wenottingham commented on #780
I think you're looking for https://github.com/ansible/ansible/blob/devel/contrib/inventory/spacewalk.py?

[2017-12-08 20:01] mattthehearn commented on #780
That's pretty handy, but 1) seems to require that ansible and spacewalk are running on the same server, which isn't necessarily the case in a given environment (it isn't in mine, for one), and 2) it's unclear how that ties in to AWX.  Though I guess I can leverage that code into AWX somehow.

[2017-12-08 20:05] ryanpetrello commented on #782
Hey @tchia04, this is a known issue we're working on resolving: https://github.com/ansible/awx/issues/200

Thanks!

[2017-12-08 20:05] #782 closed, assigned to nobody

[2017-12-08 20:34] AlanCoding commented on #780
You can make an inventory source, sourced from a project that points to the core Ansible repo. That'll allow you to start running that script from AWX right away, and then you'll get into the problems with dependencies and the actual script expectations.

[2017-12-08 21:02] matburt commented on #753
We'll close this as a dupe of #711 then

[2017-12-08 21:02] #753 closed, assigned to nobody

[2017-12-08 21:06] matburt commented on #715
Thanks @badeveloper

Given that this seems to work for others I'm going to close this one out. If you can provide more detail we can take another look.

[2017-12-08 22:24] tchia04 commented on #778
duplicate of https://github.com/ansible/awx/issues/675

[2017-12-08 22:28] #778 closed, assigned to nobody

[2017-12-08 23:19] jaredevantabor commented on #711
Minor issue here was caused by some fallout from the AngularJS upgrade to 1.6.

[2017-12-09 20:17] silverskysoft commented on #767
This seems like the issue reported in https://github.com/ansible/awx/issues/689.  Have you gotten a chance to ensure the minimum requirements as discussed there?

[2017-12-09 22:11] matthiasdoering commented on #767
Yes, let us link this issue to #689

[2017-12-09 22:11] #767 closed, assigned to nobody

[2017-12-10 13:41] promogekko opened #784 "Failed to install awx on openshift"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
When running installer that's failed

##### ENVIRONMENT
latest version of AWX
docker 	17.12.0-ce-rc1
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

##### STEPS TO REPRODUCE
change inventory to set up the openshift environment

##### EXPECTED RESULTS

ansible ok

##### ACTUAL RESULTS
TASK [openshift

[2017-12-11 08:47] peterducai opened #786 "Install.yml - Activate postgres container, Error while fetching API, permission denied (Ubuntu 16.04)"
Got this issue on Ubuntu 16.04.3 and also 17.10..  (it works on fedora 26 with docker-ce 17.09)
[code]
then getting
[code]

and fails also with -e "ansible_python_interpreter=python"

using ansible 2.4.2 (installed through PIP), Docker version 1.13.1, build 092cba3 (on Ubuntu), docker running (and docker pull postgres downloads image without problems)

[code]
sudo is with NOPASSWD, no permission d

[2017-12-11 11:20] xokamix commented on #715
Sorry for delay,
 @matburt what details do you need?

I've looked into auth setting via API and seems that there are no SAML backend.
Reinstalled AWX, now it's **1.0.1.290**

[code]

Thats what i got there.

As for SAML settings:

[code]

[2017-12-11 11:34] iyurev commented on #715
Today I try update awx_web image to **1.0.1.307**, and get same error .  In container log sees  explicit error related with missing salm backend:

`Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib/python2.7/site-packages/django/core/handlers/exception.py", line 41, in inner
    response = get_response(request)
  File "/var/lib/awx/venv/awx/lib/python2.7/site-packages/django/cor

[2017-12-11 13:08] #742 closed, assigned to AlanCoding

[2017-12-11 13:11] #555 closed, assigned to AlanCoding

[2017-12-11 13:13] #478 closed, assigned to AlanCoding

[2017-12-11 14:30] AlanCoding commented on #8
On second look, this is still used as a bridge status between `create_unified_job` and `signal_start`. Since signal_start makes changes to the model with an additional save, we need to avoid having the task manager pick it up... still. I don't see an easy route to accomplish this.

[2017-12-11 14:30] #8 closed

[2017-12-11 14:31] AlanCoding commented on #138
Is anyone still hitting this error? I see #116 is a related issue that seems to have resolve itself.

[2017-12-11 14:33] AlanCoding commented on #219
I've tested this in the UI. Looks like it has been fully implemented.

[2017-12-11 14:33] #219 closed, assigned to marshmalien

[2017-12-11 14:54] AlanCoding commented on #383
Agreed, this will be swept up by #283

[2017-12-11 15:48] xokamix commented on #715
Error seems to be there on images builded localy too.

[2017-12-11 16:22] matburt commented on #780
^ That's probably the best we are going to be able to offer right now. You can take it on yourself to modify the foreman script.

[2017-12-11 16:22] #780 closed, assigned to nobody

[2017-12-11 16:26] matburt commented on #784
hmm I wonder what part of the templated `deployment.yml` it's having trouble with. Could you show me what the post-templated version of that file looks like?

[2017-12-11 16:33] matburt commented on #786
Either docker isn't running or (more likely) you don't have permission to access the service. Make sure the user you are connecting as can connect to the docker service.

[2017-12-11 16:33] #786 closed, assigned to nobody

[2017-12-11 18:00] ryanpetrello commented on #352
I added a playbook that makes testing this a bit easier:

https://github.com/jlaska/ansible-playbooks/commit/33b81c8c2355ee40cda03694a441ba9cec95e21f

[2017-12-11 18:25] AlanCoding opened #790 "Add UI support for management jobs in workflows"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
The UI allows 3 types of templates in workflows, this issue is to add the option to add system job templates.

##### ADDITIONAL INFORMATION

Creating a break-off issue from #779.

The API for doing this works fine. You can add a System Job Template to a workflow, and also specify `extra_vars`, which are needed for many of

[2017-12-11 18:25] AlanCoding commented on #779
Closing this, I made https://github.com/ansible/awx/issues/790 just to have a clear separation between API and UI.

[2017-12-11 18:27] #779 closed, assigned to AlanCoding

[2017-12-11 19:00] AlanCoding commented on #352
Nice example to have!

I cloned the jlaska repo and replicated the steps mentioned, but giving the 2 vault credentials static passwords (not asking on launch), and the playbook runs, producing the decrypted strings "First!" and "Second!". So everything is working well by my testing.

[2017-12-11 19:34] ghost opened #791 "Making Host name clickable for more info in Job output modal."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Making the Host name clickable on the job output modal for a host would be very convenient.

##### ENVIRONMENT
* AWX version: ?
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  ?
* Operating System: ?
* Web Browser: ?

##### STEPS TO REPRODUCE
Run a Job and cli

[2017-12-11 19:45] AlanCoding commented on #656
This is working via the API now. The UI is still being updated for multi-vault.

[2017-12-11 19:45] #656 closed, assigned to nobody

[2017-12-11 20:48] AlanCoding opened #792 "New placeholder for successful inventory updates with verbosity=0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Successful inventory updates with verbosity at WARNING will not issue any stdout, and this presents to the user in an undesirable way

##### ENVIRONMENT
* AWX version: 1.0.1.0 and on
* AWX install method: docker for mac
* Ansible version:  2.4+
* Operating System: Mac
* Web Browser: Chrome

##### STEPS TO REPRODUCE

R

[2017-12-11 20:49] jangsutsr opened #793 "Expose `Authentication` sub category in UI"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
`/api/v2/settings/authentication/` is a valid API endpoint for general authentication settings like auth token timeout, and will be the place for the coming session and OAuth settings. It would be better that UI exposes them.

[2017-12-11 22:35] pedroclopes93 commented on #784
i'm facing the same issue.

[2017-12-11 23:15] madhakish commented on #784
Missing () around the {{}} for pg_host, it's escaping the double-quotes passed by the inventory. The error is complaining about a missing double quote around an integer value. Fixed in my local fork and it is working again.

This indeed breaks when attempting to deploy to OSE using the deployment.yml.j2 template.

[deployment.yml.j2.zip](https://github.com/ansible/awx/files/1549697/deployment.yml.

[2017-12-12 09:41] benapetr opened #796 "Internal Server Error with no explanation of what is wrong"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
When opening the website I get only text: Internal Server Error

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker on linux
* Ansible version:  2.3.2.0
* Operating System: RedHat 7.4
* Web Browser: Firefox

##### STEPS TO REPRODUCE
Open a website

##### EXPECTED RESULTS
I expect at least some verbo

[2017-12-12 09:57] damhau opened #797 "Missing requests-credssp pyhton module in awx docker container"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Credssp

##### SUMMARY
Missing requests-credssp pyhton module in awx docker container

##### ENVIRONMENT
* AWX version: 1.0.1 (not sure)
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: CentOS Linux release 7.4.1708
* Web Browser: Google Chrome Version 62.0.3202.94 (Official Build) (64-bit)

##### STEPS TO RE

[2017-12-12 11:08] kozmaz87 opened #798 "Azure RM inventory script fails to sync"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Azure RM fails inventory connection because ARM API URL does not seem to have been specified. Is it missing https:// from the front?

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker on linux
* Ansible version:  ?.?.?
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Add Azure c

[2017-12-12 11:30] kozmaz87 commented on #798
Sorry it was user error of proxy settings playing with me.

[2017-12-12 11:30] #798 closed, assigned to nobody

[2017-12-12 12:44] benapetr opened #799 "Make it possible to automate AWX deployment"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY
It would be really nice to make it possible to add more steps to installation that could be automated, right now I can preconfigure admin password etc but I would like to automate more steps in AWX installation:

* Preconfigure organization
* Preconfigure inventory scripts and inventories
* Preconfigure authentica

[2017-12-12 13:06] DBLaci opened #800 "Migration failure after upgrading image version"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.1.316
* AWX install method: docker swarm
* Ansible version:  2.4.x
* Operating System:
* Web Browser: Chromium

##### STEPS TO REPRODUCE

Changed image version for both awx_web and awx_tasks from 1.0.1.307 to 1.0.1.316

##### EXPECTED RESULTS

Web to work

##### ACTUAL RESU

[2017-12-12 13:35] DBLaci commented on #800
I "solved" the problem by entering in the postgres container with

[code]

At this point I restarted the awx_tasks container and now it is running without the key constraint error.

After this (in the postgres container continuing the above:)
[code]
And now I can login and everything seems to be fine. I have an additional admin I will delete in the future.

I hope this helps someone. I don't know

[2017-12-12 13:58] Aletor93 commented on #689
As mentionned on #767, I'm matching requisites and still have the same issue :
**ISSUE**
Error loop (multiples installs / reinstalls, from scratch or not, multiple different commits), UI isn't available but I've awx_web favicon when I reach server's IP over HTTP.

**SPECS**
Host running docker :
<pre>
Hostname	Dist	CPU	Cores	vCPUs	RAM (Gio)
tcblora0484b	RedHat 7.3	2	8	32	251.7
</pre>

Docker stats

[2017-12-12 15:09] wenottingham commented on #799
That is what https://github.com/ansible/tower-cli (and the corresponding ansible modules) are for.

[2017-12-12 15:09] #799 closed, assigned to nobody

[2017-12-12 15:19] matburt commented on #796
It'd be super helpful if you could grab the error messages from the console logs of the `awx_web` container.

[2017-12-12 15:20] matburt commented on #800
fwiw this error is innocuous and doesn't cause issues... at some point we probably should silence it, though.

[2017-12-12 15:20] #800 closed, assigned to nobody

[2017-12-12 15:20] matburt commented on #797
glad you could work it out.

[2017-12-12 15:20] #797 closed, assigned to nobody

[2017-12-12 15:52] matburt commented on #784
Fixed in: https://github.com/ansible/awx/commit/282290e151897a4c48d8cda455a397b733c90db4

[2017-12-12 15:52] #784 closed, assigned to nobody

[2017-12-12 16:06] jdhollander opened #802 "Internal Server Error: /api/v2/schedules - more than one row returned by a subquery used as an expression"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
I recieve a 500 Server error whenever I visit the schedules page.

##### ENVIRONMENT
* AWX version: 1.0.1 - installed from commit 1bc2d83
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.4.2.0
* Operating System: Ubuntu 16.04.3 LTS
* Web Browser: Firefox

##### S

[2017-12-12 16:24] matburt commented on #689
You'll have to excuse us a bit as we're working through some of these issues after upgrading some dependencies. From my experience the `connection reset` doesn't seem to functionally be a problem. it seems to reconnect after the fact anyway.

[2017-12-12 16:27] AlanCoding commented on #802
I cannot reproduce this by simply navigating to `/api/v2/schedules/`.

I will drop my database and re-run the migrations to see if that will cause it. I can also dive into the SQL and see what subquery may be causing the trouble.

Could you give us any more information about the background of your database? Was this a completely fresh install?

[2017-12-12 18:08] lucaslan commented on #777
Hello @wenottingham I have some news I think it might be useful

HTTP request:

Raw HTTP request used to retrieve the page.
---------------------------------------------
[code]

HTTP response

Raw HTTP response used as the page basis. (Binary bodies will not be displayed.)

[code]
Browser-evaluated body

This is the browser-evaluated body, as a result of the listed transitions.

[code]

HTTP respo

[2017-12-12 18:17] AlanCoding commented on #802
Looking at the queries, I suspect that this was _not_ caused by the count of the schedules. If you are viewing as superuser, that wouldn't really produce any subqueries, even if you had >25 schedules, which is very unlikely to begin with. However, this looks like a good candidate:

[code]

This is triggered from

[code]

[2017-12-12 19:13] AlanCoding commented on #802
So the query is picking up a lot of things that it doesn't need to be. We could add `.only('name')` (for `self.only('name').order_by('name').distinct('name').count()`) to the manager, that gives:

[code]

But even this shouldn't be necessary. If we just changed the active count to `self.values('name').distinct().count()`, that gives

[code]

Even if this is the error you hit, I can't guarantee tha

[2017-12-12 19:32] jaredevantabor commented on #711
moving to test

EDIT: already was moved to test...

[2017-12-12 19:44] mattelphick commented on #335
I think I am experiencing the same/similar issue.  I can see test log messages in Splunk and also messages that look like they are coming from the main awx service_logs but I don't think I'm seeing anything from activity_stream, job_events or system_tracking.

Not sure if it's relevant but when I click "REVERT" on the "LOGGERS SENDING DATA TO LOG AGGREGATOR FORM" field it removes all the spaces.

[2017-12-12 19:49] AlanCoding commented on #335
^ I could not replicate the UI thing on that specific "revert" button, but clicking around other places I got it to hang.

I saw this in the JS logs:

[code]

This should be a new UI issue. Are these logs the same as what you can see?

[2017-12-12 20:03] mattelphick commented on #335
Sorry, I'm fairly new to AWX.  Where would I find those logs.

[2017-12-12 20:09] mattelphick commented on #335
I have also noticed that I am getting debug messages through to Splunk even though AWX is only configured for INFO messages.

I had changed the level to DEBUG as part of my testing but I have changed it back through the GUI.

{	[-]
  	 @timestamp:	 2017-12-12T19:22:21.687Z
  	 cluster_host_id:	 awx
  	 host:	 awx
  	 level:	 DEBUG
  	 logger_name:	 awx.main.tasks
  	 message:	 Cluster node heartbe

[2017-12-12 20:42] AlanCoding commented on #335
The JavaScript logs like the one I pasted can be recorded in Chrome by right clicking -> inspect -> Console

[2017-12-12 20:51] mattelphick commented on #335
Here's what I see...

[code]

[2017-12-12 21:00] jariley opened #806 "Ansible v2.5 with cdrom support in vmware_guest support in AWX?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

I did a fresh install of AWX on 12/7/17 and I am receiving "Unsupported parameters for (vmware_guest) module: cdrom" when I attempt to utilize this new parameter that was supposed to be implemented in Ansible 2.5 via the ansible fix #21112. Is Ansible 2.5 not getting bundled into the AWX container, or is there an i

[2017-12-12 21:01] wenottingham commented on #806
Ansible 2.5 has not been released yet, it would not be pulled in before it's released.

[2017-12-12 21:01] #806 closed, assigned to nobody

[2017-12-12 21:10] chrismeyersfsu commented on #308
Seems straight forward. LDAP users "fully" import into tower. SAML, radius, tacacs+ do not fully import. There is no password involved for these types of logins. The 3rd party service must always be contacted to login. With LDAP it's an import. Tower implements extra logic to prevent 3rd party user login services from overwriting same named users.

* Create a Tower setting to toggle the enable/dis

[2017-12-12 21:13] b0r1sp commented on #592
+1

[2017-12-12 21:24] AlanCoding opened #808 "Clarify inventory vs. inventory source in inventory update detail view"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
The UI for inventory update page is confusing regarding its source inventory & inventory source

##### STEPS TO REPRODUCE

Navigate to inventory update detail page in the UI, like

`http://myserver.invalid:8013/#/inventory_sync/1083`

##### EXPECTED RESULTS

Coherent links to the inventory, as well as the inv

[2017-12-12 21:37] lsantiag86 opened #809 "LDAP authentication not attempted on accounts with the same username that initially logged in via SAML"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
When I would log in first via SAML to Ansible Tower, it would not let me log in with the same username via LDAP. LDAP authentication was not even attempted on the LDAP servers.
If I would put a fake username and password, I would see the LDAP authentication at least try.
I deleted my user, then logged in with LDAP fir

[2017-12-12 22:42] AlanCoding opened #810 "Inventory sources cannot be scheduled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
inventory sources cannot be scheduled

##### ENVIRONMENT
* AWX version: 1.0.1-319
* AWX install method: docker for mac
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

POST to `/api/v2/inventory_sources/N/schedules/`

[code]

##### EXPECTED RESULTS

creates schedule

##### ACTUAL RESUL

[2017-12-13 00:08] jakemcdermott commented on #810
👍

[2017-12-13 00:08] #810 closed, assigned to AlanCoding

[2017-12-13 03:09] batemanst commented on #715
I'm seeing the same thing, fwiw.

Image: 1.0.1.323

Enabled backends:

[code]

Traceback when hitting `/sso/metadata/saml` and returns `502`:

[code]

[2017-12-13 03:59] markandrewj commented on #315
@alexander-bauer is correct, you need to use upgrade for websocket proxying.

[http://nginx.org/en/docs/http/websocket.html](http://nginx.org/en/docs/http/websocket.html)

I did it like this, which is pretty basic, but does work.

[code]

[2017-12-13 05:32] oguzy commented on #335
Mine is working with luck.

​

On Tue, Dec 12, 2017 at 11:51 PM, mattelphick <notifications@github.com>
wrote:

--
Oğuz Yarımtepe
http://about.me/oguzy

[2017-12-13 09:35] Aletor93 commented on #689
No problem, thank you for your time, I'll wait for the updates but I want to make more tests.

As a reminder I'm not able to use webui after running the playbook not matter what I'm trying to do or by editing proxy parameters.
Issue's author seems to have access to the web UI because he is mention that he also see python error during job execution. Not my exact same case.

I'll try to run playbook

[2017-12-13 09:46] muayyad-alsadi commented on #491
this was closed by mistake.

here is a sample [docker-compose.yml](https://github.com/geerlingguy/awx-container/blob/master/docker-compose.yml)

please include it and change images to official awx images on docker hub.

[2017-12-13 10:48] hemskgren commented on #578
Very good point!

[2017-12-13 11:18] MrMEEE commented on #623
I still have this issue on my RPM builds... have tried both build 323 and 314.. Can anyone explain what the problem was???

[2017-12-13 11:19] benapetr opened #812 "Downloading the log of job result in "Not found.""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
When you click download icon for log you are redirected to some JSON document that only say:

{"detail":"Not found."}

##### ENVIRONMENT
* AWX version: 1.0.1 (master has same problem)
* AWX install method:  docker on linux
* Ansible version:  X.Y.Z
* Operating System: RedHat
* Web Browser: firefox

##### STEPS TO RE

[2017-12-13 11:20] benapetr commented on #796
@matburt how do I do it?

[2017-12-13 11:27] benapetr opened #813 "Output is not visible until job is finished"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
When you start any job there is no output visible until job finishes

##### ENVIRONMENT
* AWX version: 1.0.1 - head as well
* AWX install method: docker on linux
* Operating System: RedHat
* Web Browser: firefox

##### STEPS TO REPRODUCE
Run any job see nothing in output

##### EXPECTED RESULTS

Output should be displayed

[2017-12-13 11:30] benapetr commented on #799
@wenottingham how about mentioning this somewhere, so that people don't have to create similar issues?

It's nowhere to find in documentation for AWX (which pretty much boils down to its readme right now)

[2017-12-13 12:04] sekozzi commented on #813
Hello,

You can follow to below steps that issues fix .

open install.yml
vi installer/local_docker/tasks/main.yml

and you add following line;
- name: Activate AWX Web Container
  docker_container:
    name: awx_web
    state: started
    restart_policy: unless-stopped
    image: "{{ awx_web_docker_actual_image }}"
    volumes:
      **- /awx_shared:/var/lib/awx/job_status:ro**

...
...
...

- na

[2017-12-13 12:54] goranvrbaski commented on #812
I can confirm this issue. Same behaviour on my instance of awx.

[2017-12-13 13:06] benapetr commented on #813
hmm I will try but why there is no official patch?

[2017-12-13 13:21] sekozzi commented on #813
I don't know. I am waiting for the offical patch.

[2017-12-13 13:52] xokamix commented on #715
@matburt Hello,
 could you please reopen this issues,a as it seems it bothering not me alone.

[2017-12-13 14:09] xoxys opened #814 "Build AWX on RHEL7 Docker Image"
##### SUMMARY
I try to build AWX based on a RHEL7 Docker Image. Building the sdist image works well but i get some strange errors while building web image.

##### ENVIRONMENT
* AWX version: master
* AWX install method: linux
* Ansible version:  2.4.0
* Operating System: RHEL7
* Web Browser:

##### ACTUAL RESULTS
npm-debug.log
...
161795 error Linux 3.10.0-693.2.2.el7.x86_64
161796 error argv "/usr

[2017-12-13 14:31] ryanpetrello commented on #813
The official solution to this is actively being worked on:

Duplicate of https://github.com/ansible/awx/issues/200

[2017-12-13 14:34] #813 closed, assigned to nobody

[2017-12-13 15:32] vkovalchuk commented on #796
The same symptoms. Command (at the host)

prints
[code]
* It's hard to debug postgres; logs say
[code]
* and it says "Restarting" constantly (I can't exec bash in it, Container so-and-so is restarting, wait until the container is running);
* I guess mysql might be more robust on docker;
* I still believe there is architecture error that awx_web does not request awx_task what's wrong with it.

[2017-12-13 15:32] wenottingham commented on #799
It's mentioned in the Tower documentation (while admittedly not the AWX documentation, it's what we do point to currently from a user's guide standpoint).  We're looking in the next few months to update the Ansible modules to more clearly state they're for both AWX and Tower.

[2017-12-13 17:05] gamuniz opened #815 "Enabling Fact Caching breaks the ability to use custom module paths"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
##### SUMMARY

If you've got fact caching enabled AWX will ignore custom library paths.
##### ENVIRONMENT
* AWX version: Latest
* AWX install method: Tower Installer
* Ansible version:  2.4.2
* Operating System: RHEL 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Create a custom module and a non default library path /usr/share/an

[2017-12-13 17:34] shortsteps commented on #766
So sorry guys, I solved. I confused Project Id with Project Name creating credential from UI.

[2017-12-13 17:57] gueux opened #818 "Failed to add workflow node."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Can't create save any Workflow Template in Editor

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker on linux
* Ansible version:  2.4.2
* Operating System: Ubuntu
* Web Browser: Chrome 62.0

##### STEPS TO REPRODUCE

- create new Workflow Template
- go to Workflow Editor
- add new node with some job
- click

[2017-12-13 19:43] mkayontour commented on #778
Sorry, please don't close the issue yet without additional information, I know how to manually fix the problem. But we need to know if the AWX Team will do something about this issue in future?

I don't want to fix this issue with every update, any thoughts?

[2017-12-13 19:49] lsantiag86 opened #828 "RFE for better documentation on authentication type mix and match with best practices"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Documentation needs to be more clear on what types of auth you can mix and match and what results to expect

##### ENVIRONMENT
* Ansible Tower 3.2.1
* Ansible Version 2.4.0
* Red Hat Enterprise Linux Server release 7.4
* Web Browser: Firefox

##### STEPS TO REPRODUCE

n/a

##### EXPECTED RESULTS
more clear understa

[2017-12-13 19:52] AlanCoding commented on #818
I'm pretty sure this is because of the lag in UI feature implementation, but it depends on the actual data being passed.

[2017-12-13 19:57] wenottingham commented on #828
Hi, we do not track the Tower documentation fixes directly in this repo; closing this.

[2017-12-13 19:57] #828 closed, assigned to nobody

[2017-12-13 19:59] mabashian opened #829 "Refreshing certain schedule lists can lock up the browser tab"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
I believe this is a direct result of the ui-router upgrade several weeks back.  Template/Workflow/Project schedule states are actually standalone states and not part of any state tree (ex: templates).  As a result of this, when the user refreshes the page, the ancestor breadcrumb states are not actually being generated and t

[2017-12-13 20:06] wenottingham commented on #809
This behavior isn't intentional.... this should be handled by https://github.com/ansible/awx/issues/308.

[2017-12-13 21:38] ssarkarnetip opened #830 "Workflow GUI issue"
This is with the workflow editor.  I create a new workflow.  I put in the details.  Added the permissions and sent a notification.  Went to job flow editor.  It would not come up.

I found that issue is that if you just click details and go to the job flow editor is that it works.

[AWX Bug.docx](https://github.com/ansible/awx/files/1557158/AWX.Bug.docx)

[2017-12-13 23:15] mattthehearn commented on #780
In the end I wrote a simple Python script to interface directly with the Spacewalk API and used that to pull in the data.  Works a treat.  Thanks all!

[2017-12-14 03:26] jamesmarshall24 opened #836 "RFE: Add configurable verbosity for all log aggregator handlers"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Some log handlers like activity stream might cause issues with logging servers due to the sheer volume of events sent from AWX/Tower. This request is to add configurable fields to switch off certain events from being sent through the log aggregator to the logging server without having to filter on the logging ser

[2017-12-14 04:23] matburt commented on #814
There's not really enough information here to help you. I think there is an npm log that's populated as part of the build.

Having said that, the official image is based on CentOS 7 and I don't see changing that here.

[2017-12-14 04:23] #814 closed, assigned to nobody

[2017-12-14 04:24] matburt commented on #812
This will be covered here: https://github.com/ansible/awx/issues/200

[2017-12-14 04:24] #812 closed, assigned to nobody

[2017-12-14 04:25] matburt commented on #809
Closing since we'll handle this elsewhere

[2017-12-14 04:25] #809 closed, assigned to nobody

[2017-12-14 04:32] matburt commented on #796
This looks like something I fixed a little while ago:

https://github.com/ansible/awx/pull/535

which fixed:

https://github.com/ansible/awx/issues/438

[2017-12-14 04:32] #796 closed, assigned to nobody

[2017-12-14 05:22] wenottingham commented on #836
activity streams don't have any concept that could conceivably be treated as verbosity to filter on. If activity stream is creating such a volume (compared to thing like job events), that is likely a bug that should be tracked and fixed in that context.

[2017-12-14 05:22] #836 closed, assigned to nobody

[2017-12-14 08:43] jdhollander commented on #802
Thanks for looking at this @AlanCoding.

It is a relatively fresh install, but I had set up LDAP auth and I've been trying to look at the schedules as an admin, rather than super user. Turns out that the super user can see the schedules without error.

I've added a scheduled task to a job template as a non-superuser, which I can see as superuser, but not otherwise. I can see the scheduled task fro

[2017-12-14 09:55] oscartcy commented on #715
Hi,

Same issue here after configuring SAML settings through AWX UI and access /sso/metadata/saml/, it returns 502 bad gateway.

AWX 1.0.1.316

[2017-12-14 10:43] iyurev commented on #715
From  /api/v2/settings/all/ :

[code]

   SAML backends hasn't in  this list...

   Some one can explain saml backend must be there by default  after run container  or it  be enabled     only after correct setting through web interface???

[2017-12-14 11:40] AlanCoding commented on #802
Thanks, I'll run back through this as an organization admin and see if that turns up anything.

[2017-12-14 14:36] Aletor93 commented on #689
Ok sorry, a colleague tried Web UI on Google Chrome and it worked. I tried on IE11 & FF40 in before. I'm so angry...

[2017-12-14 14:41] naltun opened #840 "Docs: ansible-tower-service not installed in /usr/bin as mentioned"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - Installer

##### SUMMARY

The [Ansible Tower Administration Guide docs](https://docs.ansible.com/ansible-tower/latest/html/administration/init_script.html) say, regarding the `ansible-tower-service` script: `The services script resides in /usr/bin/ansible-tower-service`. My instance of AWX does not have the service script in `/usr/bin` lik

[2017-12-14 14:49] worsco opened #841 ""AWX is Upgrading" forever after building 1.0.2.285 and upgrading from 1.0.1.231 on Docker"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Browser constantly loops page that "AWX is Upgrading" when  upgrading from 1.0.1.231 to 1.0.2.285
##### ENVIRONMENT
* AWX version: 1.0.2.285
* AWX install method: docker on linux
* Ansible version:  2.4.1.0
* Operating System: CentOS Linux release 7.4.1708 (core)
* Web Browser:
Firefox Quantum 57.0.2
##### STEPS TO

[2017-12-14 15:02] mikecurrancs commented on #711
We installed the latest versions of Docker 2 days ago, and looking over the source code, I see the changes you committed for test. However I still see the same behavior inside the running docker images. Do I need to redeploy from source instead of pulling the latest image?

[2017-12-14 15:05] worsco commented on #841
awx_task container logs from after new container build/deployment
[awx_task_container_log.txt](https://github.com/ansible/awx/files/1559680/awx_task_container_log.txt)

awx_web container lgos from after new container build/deployment
[awx_web_container_log.txt](https://github.com/ansible/awx/files/1559681/awx_web_container_log.txt)

[2017-12-14 15:17] matburt commented on #841
Please see: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/awx-project/PQLxKl5Rj9s/UGy-3VaCCQAJ

[2017-12-14 15:17] #841 closed, assigned to nobody

[2017-12-14 15:18] matburt commented on #840
This utility is just not included in the AWX distribution because, at the moment anyway, it's just a different layout since the containers are more distributed.

I'd advise, if you need to restart service that you restart the relevant containers.

[2017-12-14 15:18] #840 closed, assigned to nobody

[2017-12-14 15:22] worsco commented on #841
acknowledged, thank you, understood ... no simple migration from 1.0.1 to anything higher than 1.0.2.0.

[2017-12-14 18:16] jaredevantabor commented on #620
This is done, I'm gonna close this since there isn't anything to test here.

[2017-12-14 18:33] #620 closed, assigned to jaredevantabor

[2017-12-14 18:41] matburt commented on #715
Thanks for the details, we'll open this back up to take a look.

[2017-12-14 22:06] batemanst commented on #715
My issue ended up being a missing field in the SAML config, didn't have the cert and private key configured. The Tower documentation was unclear about whether that was required when already doing SSL termination at the load balancer.

After all of the fields are populated, including an X509 cert and private key, then the SAML backend is activated.

[2017-12-14 23:39] alizsyed commented on #796
This is exactly what was happening to me @matburt, I had emailed you about it. You had mentioned that my porting was wrong... the postgres container is just constantly looping and restarting.

[2017-12-15 08:47] mattelphick commented on #335
Does anyone have any further insight into what the issue might be?  Is there an underlying config file that I can check to see what's happening?  Thanks.

[2017-12-15 10:17] iyurev commented on #715
Yes, Backend activated after I added cert and private key from nginx that do HTTPS . @batemanst

[2017-12-15 10:22] iyurev commented on #715
@matburt   So, I think it more  flaw of documentation that code.

[2017-12-15 10:52] FloThinksPi commented on #335
Hi Together,

I also experience this. AWX 1.0.1.240

![image](https://user-images.githubusercontent.com/5863788/34037959-e87acf86-e18a-11e7-8ec6-b40d5bdca5f6.png)

When clicking revert:

![image](https://user-images.githubusercontent.com/5863788/34037974-f11beabc-e18a-11e7-8cd2-7632dbcd28a9.png)

When clicking revert it requests:
`https://awx.xxxx.com/api/v2/settings/all/`
and in the respose there

[2017-12-15 14:26] mkempster22 opened #848 "Job Schedule with configurable limit"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
When setting a schedule for a job (for example a template that performs a reboot with its inventory set to 'dev servers') be able to set a limit in the schedule to have that scheduled run to only reboot the limited server, this way you could have 3 different schedules run the same jobs against different servers at differen

[2017-12-15 15:03] matburt commented on #796
@alizsyed gotcha... you didn't say that in your emails.

[2017-12-15 15:04] matburt commented on #715
Sounds good. We definitely do accept PRs

[2017-12-15 15:04] #715 closed, assigned to nobody

[2017-12-15 15:13] terra-nova opened #849 "Trouble updating from 1.0.1.x to 1.0.2.291"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Today I tried to upgrade AWX from 1.0.1.something to latest. The Ansible Installer script reported no errors, but from looking at the output of `docker logs -f awx_task` it seems there is some issue with the database schema.

The following message is repeated over and over again:

[code]

The main_schedule table is

[2017-12-15 17:25] aizuddin85 commented on #849
Can you login to the awx_task and execute `awx-manage showmigrations` and `git describe` on the awx clone?

Best shot, is to try run `awx-manage makemigrations` and then `awx-manage migrate`.

[2017-12-15 18:30] benthomasson opened #850 "Edit device or group properties in SVG or modal - Jared, Sprint 4"
Device and group properties, host_vars and group_vars respectively, should be able to be viewed and edited from the network UI.

Provide a way to view the properties on the network UI device detail mode and on the inventory mode.

Provide a way to edit, add, and remove properties on the device detail mode and on the inventory mode.

There are two ways I could see this being implemented.   The firs

[2017-12-15 18:33] grahamneville opened #851 "Notification integration with Hipchat shows incorrect Host in URL"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Once Hipchat integration is setup on AWX for job notifications and a message is posted to a Hipchat channel the URL shown is http://towerhost. The hostname needs to be configurable so it can actually be a hostname that is reachable.

##### ENVIRONMENT
* AWX version: 1.0.1.8
* AWX install method: docker on linux
* Ansible ver

[2017-12-15 18:40] grahamneville opened #852 "Job Template scheduling with different inventories"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
It should be possible to schedule a job template to run against different inventories rather than having to have a copy of a template with a different Inventory in each. This way I can schedule jobs to run at different times against different inventories using the same job template.

##### ENVIRONMENT
* AWX version:

[2017-12-15 18:40] wenottingham commented on #851
See the TOWER_URL_BASE configuration setting.

[2017-12-15 18:41] wenottingham commented on #851
Please reopen if that doesn't work for you.

[2017-12-15 18:41] #851 closed, assigned to nobody

[2017-12-15 18:46] wenottingham commented on #852
this is https://github.com/ansible/awx/issues/169

[2017-12-15 18:46] #852 closed, assigned to nobody

[2017-12-15 22:39] grahamneville opened #854 "Passwords are exposed via job_events for Network modules (*_command)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
When using the network modules, for example eos_command, passwords that are provided via a network credential in AWX can be seen in cleartext in job_events. The password can then be picked up via Postgres, the API and also when using a HTTP log aggregator.
This happens despite the network modules having no_log: true s

[2017-12-15 22:46] wenottingham commented on #854
Your playbook (and events) show no_log is False.

[2017-12-15 22:59] grahamneville commented on #854
I believe that the no_log is applied to just the password key inside the provider dict on the network modules directly as seen by ""password": "VALUE_SPECIFIED_IN_NO_LOG_PARAMETER"" therefore I don't believe I require no_log on the actual task.

[2017-12-16 06:45] aizuddin85 commented on #849
Tested procedure for upgrade from 1.0.1 to 1.0.2.

1. git checkout tags/1.0.2
2. Edit `installer/inventory` file for your customization, especially postgres if using local.
3. Re-run the playbook.

With above procedure I`m able to upgrade 1.0.1 to 1.0.2 successfully. It is necessary to checkout correct tag, with wrong tag, I`m able to reproduce the issue.

[2017-12-16 11:46] aizuddin85 opened #855 "PGDATA env on 1.0.2 causing AWX upgrade from 1.0.1 to 1.0.2 result in fresh database initialized."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Notice that commit bf281f6ea9e4e6c6725cd6467a0a64e4bc73a3c1 introduced new `env` called `PGDATA`.
Prior to this postgres will create data folder based on the inventory without creating additional `pgdata` folder.

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: local_docker
* Ansible version:  2.4.2.0
* O

[2017-12-16 11:47] aizuddin85 commented on #855
@matburt was this intended behaviour ? or shall we maintain the backward compatibility?

[2017-12-16 11:57] aizuddin85 commented on #855
probably related: #849

[2017-12-16 13:12] ewjoachim commented on #491
I'm starting to work on a PR for this.

[2017-12-16 14:28] aizuddin85 commented on #855
The PR https://github.com/ansible/awx/pull/535 has given the explanation closing this issue.

[2017-12-16 14:28] #855 closed, assigned to nobody

[2017-12-16 14:28] aizuddin85 commented on #849
Refer to this PR https://github.com/ansible/awx/pull/535 on how to get it done for upgrade.

[2017-12-16 23:52] summitflier opened #857 "No /var/lib/awx/projects folder"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI
 - Installer

##### SUMMARY

The /var/lib/awx/projects folder does not created.
Because of this, no projects can be created.
But the demo project (SCM update) appears to run with no errors.
After this, I see a _4__demo_project folder in the pull down, but when I try to save
the project, I get a "Failed to update project: 4. PUT status: 4

[2017-12-17 13:42] jmarci commented on #854
Remove the "provider: "{{ eos }}"" in your AWX playbook, it does not need to be there when executing playbooks via AWX.

---
- hosts: "all"
  gather_facts: no
  connection: local

  tasks:
  - name: Show version
    eos_command:
      authorize: yes
      commands:
         - show version
    register: showver

[2017-12-17 13:48] grahamneville commented on #854
Isn't provider the only way to set things such as timeout values and transport methods? Sometimes I need to increase the timeout to 2mins on some network modules when I'm performing a "show run" to backup config. I may also wish to connect via eapi and would have to specify transport: eapi.

[2017-12-17 14:23] jmarci commented on #854
Set them as individual variables either in playbook or extra vars in AWX.
---
- hosts: "all"
  gather_facts: no
  connection: local

  tasks:
  - name: Show version
    eos_command:
      authorize: yes
      commands:
         - show version
      timeout: 300
      validate_certs: no
    register: showver

[2017-12-17 16:20] jmarci commented on #857
A shared docker volume need to be setup for both the awx_web and awx_task containers, then you can manage your playbooks/projects from single location on the docker host.

You can do this before executing the installer.

Edit/update the inventory file and set a path.

\# AWX Project Data Folder
project_data_dir=/opt/awx_projects

Then edit awx/installer/local_docker/tasks/main.yml and set the volu

[2017-12-18 01:58] summitflier commented on #857
It looks like that fixes it.

[2017-12-18 10:36] orgito commented on #849
May I suggest a Changelog or other file documenting any special procedures before the upgrades? I've been using AWX since 1.0.0 and is not the first time that there are issues with upgrades. Sometimes I find the answer on a closed issue or PR or in the forum. A Changelog or a specific document would be very convenient.

[2017-12-18 12:53] orgito commented on #849
I tried upgrading from 1.0.2.0 to 1.0.2.293. AWX was again stuck on the upgrading screen. So I checked the migration states with the commands suggested by @aizuddin85
An exception happens during 0011_v322_encrypt_survey_passwords.
django.db.utils.ProgrammingError: column main_jobtemplate.credential_id does not exist

Here is the output of the commands:
[code]

[2017-12-18 13:00] aizuddin85 commented on #849
@ortigo, unfortunately you only able to go from 1.0.1.x to 1.0.2. Direct migration from 1.0.1 to 1.0.2.293 is not possible without fixing database. Refer to #535.

[2017-12-18 14:08] AlanCoding commented on #497
Opening again until linked PR is merged.

[2017-12-18 14:49] grahamneville commented on #854
So removing the provider, and network credential, in AWX does stop the password from being exposed as there is no longer a provider dict. However this only works if you wish to SSH on to a network device. I'm unable to get eapi working without setting it in a provider dict at which point the password is exposed again.

[code]

If I try and move transport and validate_certs to the same level as eos

[2017-12-18 15:15] AlanCoding opened #858 "Inventory imports should use local venv ansible-inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
The inventory import searches for an `ansible-inventory` executable in a way that makes assumptions, which will probably lead it to not picking up the correct executable from the relevant virtual environment.

##### ADDITIONAL INFORMATION

The current behavior is that it searches by the system PATH.

https://github.com/ansi

[2017-12-18 15:37] mkempster22 commented on #848
Just noticed #169 appears to be very similar but minus having a limit not just separate inventories. Maybe just include limits on that feature idea

[2017-12-18 15:40] wenottingham commented on #848
Should be handled by #169.

[2017-12-18 15:40] #848 closed, assigned to nobody

[2017-12-18 16:16] mabashian commented on #446
I took a quick look at what this would take this morning since #829 is currently outstanding.  Theres some non-trivial work needed here.  I was hoping that we could just add schedules to the related object in the form config and let the boilerplate state generator logic kick in but its going to need more massaging than that.  I think we've got a couple of options here - 1) Add some custom logic to

[2017-12-18 16:33] b0r1sp opened #859 "Prepopulate surveys with values from yaml / ini"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Would be nice to propulate a survey by reading in data from e.g. an .ini or .yaml file. Thus, these config files can be tracked in a git-repo.

##### ADDITIONAL INFORMATION

Examples for configuration YAML or INI style:

##### YAML:

[code]

##### INI:

[code]

[2017-12-18 16:40] wenottingham commented on #859
This has multiple complications.

Most importantly, the current flow is: 1) launch job 2) check out SCM 3) run job. Putting the survey in SCM inverts this order and actually requires running a job before asking the user for parameters.

Outside of that
- surveys can be many-to-one playbook (because of different job templates). Can't assume based on name
- allowing this for surveys and not the temp

[2017-12-18 17:04] b0r1sp commented on #859
I'd say it's related to issue #20 and maybe duplicate. What's the intended way of configuring a "Programmable survey"?

[2017-12-18 18:10] mdbv opened #860 "Hosts not showing facts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I can view a host's facts from the api, but not from the UI.

##### ENVIRONMENT
* AWX version: 1.0.2
* AWX install method: docker on linux
* Ansible version:  2.4.1.0
* Operating System: CentOS Linux release 7.4.1708 (Core)
* Web Browser: Chrome 63.0.3239.84

##### STEPS TO REPRODUCE

fresh install, only localhost in host

[2017-12-18 18:50] orgito commented on #849
@aizuddin85. The problem is when I'm upgrading from 1.0.2.0 to 1.0.2.293. The upgrade from 1.0.1x to 1.0.2.0 worked fine.

[2017-12-18 21:05] ragingpastry commented on #202
It appears that a default installation of AWX in local docker containers will fail if SELinux is enabled due to this issue. Has this gotten any more notice?

[2017-12-18 21:11] hiddenicon commented on #688
I'm seeing the same issue eve on the latest 1.0.2.293 fresh install. No prompt for credentials on template run.

Added: Same issue with 1.0.2.301 as well.

[2017-12-19 05:45] aizuddin85 commented on #849
@jakemcdermott I can confirm @ortigo observation that 1.0.2.0 fresh installation then upgrade to 1.0.2.293 thrown below error as well:

[code]

Showmigrations output:
[code]

Seems like 1.0.2 to 1.0.2.293 is broken due to django model issue?

[2017-12-19 07:19] oscartcy commented on #119
Still got this issue in AWX 1.0.2.301 docker deployment

awx_web log:
[code]

Also tested with 1.0.1.316 docker deployment, same issue.

[2017-12-19 08:03] aizuddin85 commented on #849
Here is the summary of the tested scenario:

- 1.0.1.0 to 1.0.2.0 - OK
- 1.0.1.0 to 1.0.2.293 - FAIL UPGRADE
- 1.0.2.0  to 1.0.2.293 - FAIL UPGRADE

[2017-12-19 09:25] shortsteps opened #861 "Notification sender email not shown"
Hi all,
I've just installed AWX and configured a Notification template.
I use Gmail smtp server, I correctly authenticate and send test email with admin@mydomain user/pass. I set the "Sender mail" to awx@mydomain (this account doesn't exist), however the mail arrives as "admin@mydomain" sender.

Any help? Maybe I'm not correctly undestanding that field.

Thanks a lot.

[2017-12-19 12:00] LavaToaster opened #862 "AWX Crashes when it encounters a 404"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
AWX Crashes when it encounters a 404.

##### ENVIRONMENT
* AWX version: 1.0.2 (also tested on latest devel)
* AWX install method: docker on linux
* Ansible version:  Unsure, not really relevant though.
* Operating System: Linux
* Web Browser: Not relevant as long as it can send a HTTP request.

##### STEPS TO REPRODUCE

[2017-12-19 14:22] AlanCoding commented on #862
I can't directly reproduce this. I just get `2017-12-19 14:21:34,400 WARNING  django.request Not Found: /crash/`

[2017-12-19 14:43] AlanCoding opened #863 "Credentials have unexpected summary_fields host, project"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Unexpected fields in credential summary fields

##### ENVIRONMENT
* AWX version: 1.0.2-301
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: N/A

##### STEPS TO REPRODUCE
GET /api/v2/credentials/

inspect summary_fields

##### EXPECTED RESULTS
no related host or project, the

[2017-12-19 15:37] AlanCoding opened #864 "Fail jobs & updates in event of inventory plugin failures"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
If something goes wrong with the script content, a job may still be marked as successful.

##### ENVIRONMENT
* AWX version: 1.0.2-301
* AWX install method: docker for mac
* Ansible version:  2.4 and 2.5
* Operating System: N/A
* Web Browser: N/A

##### STEPS TO REPRODUCE
Only matters when some kind of AWX / Ansible internal

[2017-12-19 15:38] LavaToaster commented on #862
@AlanCoding Alrighty, I just did the following test as I had posted this issue from seeing it on our server here and after confirming if someone else saw it in IRC.

To reproduce on my "local" machine - I did the following:
- Full AWX setup in Vagrant via: https://github.com/geerlingguy/ansible-vagrant-examples/tree/master/awx
- Waited for AWX to finish setting up.
- Whilst this was going on I wen

[2017-12-19 16:04] AlanCoding opened #865 "Javascript console errors navigating to project"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Console errors clicking on the link to edit a project

##### ENVIRONMENT
* AWX version: just rebuilt the UI on 1.0.2-301, error did not surface right before this
* AWX install method: docker for mac
* Operating System: mac
* Web Browser:Chrome

##### STEPS TO REPRODUCE
open up AWX, navigate to an existing project

##### EXPE

[2017-12-19 16:08] AlanCoding commented on #865
also happens navigating to job template

[2017-12-19 18:43] mabashian commented on #865
Took a quick peek - any form with a field where the attribute `spinner` is set to `true` seems to throw this error.

[2017-12-19 19:26] AlanCoding opened #867 "Allow specifying inventory plugin in custom inventory sources"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### STEPS TO REPRODUCE
Feature proposal, some user stories:

 - I have a `.ini` file in source control
 - I don't want Ansible to guess which format this is, in case it is picked up by another parser, like yaml
 - I want to select ini out of a dropdown as I create my SCM-based inventory source

Another user story:

 - I have an Ansib

[2017-12-19 19:35] AlanCoding commented on #171
I created a project in Github for this

https://github.com/ansible/awx/projects/3

Also, this FYI, this is my work-in-progress branch for the goal of doing openstack

https://github.com/ansible/awx/compare/devel...AlanCoding:pluginification?expand=1

I still don't yet know how I'm going to connect the credential `clouds.yml` file to the inventory file, but I'm getting there.

[2017-12-20 08:05] Foxsa commented on #818
AWX version: 1.0.1.325
In my case status 400 returns if node's job has a survey. Without it everything is OK

[2017-12-20 08:27] FloThinksPi opened #868 "Installer Playbook Error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Installer Playbook has error in release 1.0.2 and Master branch. 1.0.1 works fine.
This occured when trying to upgrade from AWX 1.0.1.X to 1.0.2.0

The install was aborted.

##### ENVIRONMENT
* AWX version: 1.0.1.X
* AWX install method: docker
* Ansible version:  2.1.x
* Operating System: RHEL 7
* Web Browser: Chrome

[2017-12-20 08:45] mkempster22 commented on #868
This is because you are using an ansible version below the requirement of 2.4, If you can't upgrade to 2.4 then you can change the syntax of that file from 'include_tasks' to the old way (i think it was just 'include:')

Duplicate of #690 ?

[2017-12-20 08:51] gabrieltokyo commented on #857
Is there a method to achieve the same without re-installing?

@summitflier: The explained method didn't work for me in a fresh VM following this [GitHub Install manual Docker version](https://github.com/ansible/awx/blob/devel/INSTALL.md). Did you do anything else besides the explanation from @jmarci?
Like re-running in same VM or creating folders manually later, etc?

Thank you.

Related issues: #

[2017-12-20 09:13] FloThinksPi commented on #868
@mkempster22 Thank you for your response, you are completely right.
As for RHEL7, the ansible package is now at 2.4.1.0 and with this version, all worked fine.
[code]

[2017-12-20 09:13] #868 closed, assigned to nobody

[2017-12-20 09:51] mhutter opened #869 "Openshift Installer requires plaintext password"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
During OpenShift installation, the plaintext password of OpenShift is required. This has several issues:
- I have to provide my plaintext password
- There is an alternative mechanism for that: Tokens
- The password is required even though I am already logged in to the cluster
- The playbook breaks if the password cont

[2017-12-20 10:59] mkempster22 commented on #818
AWX 1.0.2.289 also noticing it only fails with nodes that have surveys configured.

(I tried updating to .325 and ran into a whole load of bugs including the workflow editor not opening and JSON output of tasks not showing correctly and not being able to close the output.)

[2017-12-20 12:47] AlanCoding commented on #818
I believe some survey-related bugs were fixed by #846 - specifically, surveys with required questions raised 400 errors. That was reversed, because the questions could be answered either by the workflow node, or the workflow variables themselves.

That fix was new as-of 1.0.2-293, so it's probably worth upgrading to get some fixes in.

[2017-12-20 12:50] mkempster22 commented on #818
Ah right okay, i'll try updating once I can fully test it as I had to recover to a backup this morning due to the upgrade breaking too many things to be usable

[2017-12-20 13:04] FloThinksPi commented on #335
Quite frankly, my external logger now seems to work. I did an update to 1.0.2 , still the external logger was not working and only printing my Test calls. Than i flipped the External Logger Switch:
![image](https://user-images.githubusercontent.com/5863788/34208331-5fa223f0-e58e-11e7-94a1-51108224c80f.png)
ON->OFF->ON

Strange 😃 , @oguzy & @mattelphick  can you confirm this for Splunk ?

[2017-12-20 14:07] mattelphick commented on #335
I am still on 1.0.1.153.  I toggled the External Logger Switch and clicked save.  However I don't think I am seeing the logs for "job_events" still.

That said, having never seen what successful logging looks like maybe I am interpreting the output incorrectly.

I do see a message that looks like this...

![search___splunk_7_0_0](https://user-images.githubusercontent.com/34488595/34210712-bd95ef78

[2017-12-20 15:58] LavaToaster commented on #862
Hey @AlanCoding, is there any more information you need from me?

This bug causes our AWX server to go down daily due to an internal automated security (via AL Cloud Insight) scan which tries out unknown paths.

[2017-12-20 17:01] batemanst commented on #849
@aizuddin85 I'm seeing the same thing in my testing with the same failed migration.

1.0.1.323 to 1.0.2.0 - Success
1.0.2.0 to 1.0.2.285 - Failure with `django.db.utils.ProgrammingError: column main_jobtemplate.credential_id does not exist`

Edit: Referencing #841:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/awx-project/PQLxKl5Rj9s/UGy-3VaCCQAJ

[2017-12-20 21:00] hemskgren commented on #849
Still the same issue from 1.0.2.0 to 1.0.2.301.

[2017-12-21 02:29] gabrieltokyo commented on #857
(Let me separate it for better understandig)

Thanks @jmarci !
The explained method by @jmarci worked also for me!

(MY) SOLUTION:
Being able to understand the implications of the solution explained by @jmarci .

As @jmarci wrote:
 1.- "/opt/awx_projects" directory is created at host side.
 2.- "/opt/awx_projects" is mounted inside both containers (awx_task and awx_web) at "/var/lib/awx/projects".

[2017-12-21 04:35] cchurch commented on #861
You'll need to add awx@mydomain as an alias to the admin@mydomain account (https://support.google.com/a/answer/33327?hl=en), and then setup admin@mydomain to be able to send as awx@mydomain (https://support.google.com/mail/answer/22370). Google's SMTP servers will rewrite the `From:` header if it's not from a known address.

[2017-12-21 08:14] shortsteps commented on #861
@cchurch , thanks a lot. It worked.

[2017-12-21 08:14] #861 closed, assigned to nobody

[2017-12-21 10:37] valerio-gr opened #873 "Projects start SCM update even when they should not."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - awx_task(?)

##### SUMMARY
A template based on a project with all the SCM UPDATE OPTIONS unflagged still triggers an SCM update when launched.

##### ENVIRONMENT
* AWX version: 1.0.1.8

##### STEPS TO REPRODUCE
Create a project based on git scm. Leave the SCM UPDATE OPTIONS unflagged.
Create a template based on the project that runs the follo

[2017-12-21 12:43] gueux opened #874 "Use Organization name in playbooks"
Is there any way to use Organization name as a variable in playbook?
As example it might be like "{{ organization_name }}" or env variable ORGANIZATION_NAME.

[2017-12-21 13:16] tidypete commented on #704
have you resolved this? I am having the same issue on AWX 1.0.2.301

[2017-12-21 13:42] mkempster22 opened #875 "Surveys break upgrading from .289 to .301"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI / API ?

##### SUMMARY
After upgrading from 1.0.2.289 to .301 trying to launch any job with a survey or edit the survey receives an error: "Failed to get job template details. GET returned status: undefined"

Possible relation to #704

##### ENVIRONMENT
* AWX version: 1.0.2.301
* AWX install method: docker on linux
* Ansible version:  2.4.

[2017-12-21 15:06] wenottingham commented on #873
A checkout is always done before job runs; this is intentional behavior. (On cluster nodes, the checkout may not be present before the job runs.)

[2017-12-21 15:06] #873 closed, assigned to nobody

[2017-12-21 15:48] michaelsmoody opened #876 "LDAP Settings for a FreeIPA (iDM) Backend"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

- Authentication

##### SUMMARY
I felt that this information might be helpful for others attempting this, so here are the relevant settings for LDAP for a FreeIPA backend (so far, I'll update if anything else changes). Note that {{ }} mean you need to substitute for your details.

##### ENVIRONMENT
* AWX version: 1.0.2
* AWX install method:

[2017-12-21 16:26] v1k0d3n opened #877 "awx surveys and valid nested yaml variables don't appear to work as expected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI (I guess?)

##### SUMMARY

We're currently exploring AWX, and in our existing playbooks we have nested yaml declarations in `group_vars` that look like this:

[code]

...and so on. This is valid yaml syntax, and when used in the playbooks, they're declared like the following just fine (without AWX):

[code]

This works as expected when r

[2017-12-21 16:38] mattthehearn opened #878 "Inventory sync seems to be treating python script as yaml file instead of actually running the script"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
I wrote a simple python script to talk to Spacewalk's API and generate an inventory.  However, it seems like AWX is treating the script as a yaml file instead of actually running the script and generating the output, because I get a bunch of errors like these:

ERROR! Could not parse inventory source /tmp/awx_inventory_Glh

[2017-12-21 17:47] TheBigBear commented on #735
@mkayontour thank you so much for this. I have added this manually to my local docker deploy and all I had to to now, was (also manually) edit the /etc/krb5.conf file in the awx_tasks docker container and voila I can use ms ad and winrm kerberos transport. thank you so much fro finding this. Now there is hoping that it will get merged quickly, so we can all use ansible windows automation in AWX.

[2017-12-21 19:33] TheBigBear opened #879 "installer inventory should allow 'cmd line'/'run time' over-rides for its playbook default values"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
the hard coded values for secrets, passwords, ports, directories etc should only use defaults if nothing else has been passed as an argument

##### ENVIRONMENT
* AWX version: 1.0.2
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.4.2

##### STEPS TO REPRO

[2017-12-21 20:41] AlanCoding commented on #878
Ansible doesn't know what format of inventory you're providing it in advance. It tries enabled plugins one-by-one, and uses the first one that is successful.

The script plugin doesn't _just_ execute the script. It also parses the output. It looks like it's parsing it as YAML (which is a superset of JSON, so okay).

Looks like you discovered a new Ansible bug!

I have reproduced a similar situatio

[2017-12-21 20:41] #878 closed, assigned to nobody

[2017-12-21 20:54] AlanCoding commented on #878
issue filed in Ansible core (linked)

[2017-12-22 11:03] cesarfn4 opened #881 "Allow Custom Credentials on prompt with Workflows"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

With the introduction of custom credential it is now possible to add several sets of credentials to a job template.

However, it is not possible to add custom credentials during Workflow edition, on top of machine credentials, because we can only select one. The custom credentials do appear in the list but they overwrit

[2017-12-22 13:24] AlanCoding commented on #881
This should now be possible in the API. You are probably looking at the `credential` field on the workflow nodes, but this is only left there for backward-compatibility with clients that have are using the old schema.

Given you have already created your node, go to `/api/v2/workflow_job_template_nodes/N/credentials/` and POST `{"id": M}` to associate credentials by id there.

Note that the job te

[2017-12-22 13:24] #881 closed, assigned to nobody

[2017-12-22 16:53] dylan8911 opened #882 "Standalone AWX"
##### ISSUE TYPE

 - Feature Idea
 - Issues

##### COMPONENT NAME

 - Installer

##### SUMMARY

I was able to get AWX out of docker and make it work, depending on the version that's being pulled, on both Centos and Ubuntu. However, I keep on running into small annoying issues. For example:

 - On version 1.0.3.301, the scm tasks never pull our custom roles.
 - On version 1.0.3.303, we get an inter

[2017-12-22 21:22] worsco commented on #860
I went back to 1.0.0.557 (a Docker deployment of AWX) to check that facts display in the web UI.  I can confirm that FACTS do display in AWX 1.0.0.577 in the web UI and in the API.

FACTS do not display in the web UI in any current version (up to today) of 1.0.2.x. However, FACTS do show up in the API (as this issue reports).

[2017-12-22 22:12] apple4ever commented on #882
I'd love that as well. You'd think setting up AWX using Ansible via a playbook would be relatively easy, or they'd provide the playbook for that (since that's the whole point of Ansible & AWX). I'm not a fan of Docker, so hopefully this is added.

BTW, if you could share your setup, that would be awesome.

[2017-12-22 23:40] ghost opened #883 "Allow per host independent execution of workflow"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Allow execution of a workflow on a per host basis, where a particular host may take either a success path or a failure path depending on task outcomes for only that host.

##### ENVIRONMENT
* AWX version: 1.0.1

##### STEPS TO REPRODUCE

This enhancement would allow finer-grained control of the path that particular hosts

[2017-12-23 19:12] savealive commented on #857
I believe this should be only mounted into awx_task container, not awx_web. There's nothing related to Ansible or SCM projects run inside awx_web.

[2017-12-23 20:26] ricalenil commented on #138
Greetings,

I'm having this error when upgrading from 1.0.2.0 to 1.0.2.289

django.db.utils.ProgrammingError: column main_jobtemplate.credential_id does not exist
LINE 1: ...urvey_enabled", "main_jobtemplate"."survey_spec", "main_jobt...
                                                             ^
I'm falling back to 1.0.2.0, but this needs to be corrected/fixed.

[2017-12-23 20:44] ricalenil opened #884 "Error when upgrading AWX from 1.0.2.0 to 1.0.2.289+"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
When upgrading AWX from version 1.0.2.0, it fails with this error in awx_task container.

[code]

##### ENVIRONMENT
* AWX version: 1.0.2.0
* AWX install method: docker on linux
* Ansible version: 2.4.2.0
* Operating System: Ubuntu
* Web Browser: firefox

##### STEPS TO REPRODUCE

- Delete all images and containers.
-

[2017-12-24 18:28] ricalenil opened #885 "Integrated notifications with Microsoft Teams"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
I'm trying to setup webhooks notifications with Microsoft Teams, but i'm getting errors. Maybe a misconfiguration, but there is no documentation about how to do it.

Maybe someone already achieved this by webhooks, but it would be great to add an option to do it like slack.

##### ENVIRONMENT
* AWX version: 1.0.2.303
* AWX

[2017-12-26 13:04] cwegener commented on #875
I just noticed some problems with adding new surveys to job templates.

Adding new surveys to job templates doesn't appear to work.

[2017-12-26 22:36] kuklis commented on #490
To turn off certificate verification completely add `AWX_TASK_ENV['GIT_SSL_NO_VERIFY'] = 'True'` to `/etc/tower/settings.py` within the awx_task container and restart it.
A nicer solution is to copy the self-signed certificate (not the key) to /etc/pki/ca-trust/source/anchors/ on awx_task container and run `update-ca-trust extract` within. Make sure to configure AWX with the correct hostname of th

[2017-12-27 00:38] ricalenil commented on #849
Still the same issue from 1.0.2.0 to 1.0.2.303. I opened the issue #884 for reference.

[2017-12-27 07:22] arikbidny opened #886 "AWX connection to gitlab server - error"
##### ISSUE TYPE
- help wanted

##### COMPONENT NAME
 - UI

##### SUMMARY
In my organization we working with gitlab server, i want to pull a project from my gitlab server,
Im creating a credetials with my gitlab username and password, I get an error:
"Could not read from remote repository, Please make sure you have the correct access rights and
the repository exist"

##### ENVIRONMENT
* AWX versio

[2017-12-27 10:47] gabrieltokyo commented on #857
Hi @savealive,
I set the volume only at the AWX task container and I can say that it doesn't work.

It needs, both, AWX container and AWX task.

It is also explained at Related issues: #229, #239.

[2017-12-27 10:53] gabrieltokyo commented on #857
In addition, I was concerned on loosing data already created just to be able to allow Manual SCM but,
following @jmarci comments it happens that already created volumes (memcached, postgres and rabbitmq) are not modified. Ansible just adds the volume for AWX Web and Task containers and does nothing else.

So, in this case, just re-installing kept the data already created and only added the volumes

[2017-12-27 11:33] sparkacus commented on #318
I also have a similar issue which is causing me problems.

A job is stuck on pending and no matter what I do (container restart, job cancellation, awx update etc) it will not remove itself.

I believe the issue is with the inventory the job template is using. All job templates assigned to the same inventory are being queued. If I try to force an inventory sync (aws) it just states 'Waiting for res

[2017-12-27 11:37] shortsteps commented on #886
Hi, how did you configure SCM Url in your project?
I'm currently using an https endpoint so in my case username/password in Credential is enough and I don't need a private key.

Maybe looking at awx_task container logs may help you in troubleshooting.

[2017-12-27 11:40] arikbidny commented on #886
@shortsteps thanks for your help,
I tried without ssh key its not working, get same error
Its connecting the server threw ssh but not to the repository .

[2017-12-27 11:47] shortsteps commented on #886
Sorry @arikbidny if I ask you again, but how did you configure SCM Url in the "Source Details" section of your Project?
Thanks

[2017-12-27 11:51] arikbidny commented on #886
@shortsteps
https://servername:port/groupName/projectName

[2017-12-27 11:54] shortsteps commented on #886
I guess you also have .git at the end (something like https://github.com/ansible/ansible.git), isn't it?
Does it happen with all repos or only with that one?

[2017-12-27 11:58] arikbidny commented on #886
@shortsteps
I tried with .git not works, It happen with all the repos ..

[2017-12-27 12:27] shortsteps opened #887 "SSH connection issue from inside awx_task, but telnet works"
##### SUMMARY
I cannot execute jobs towards a subset of hosts because ssh connection hangs, although telnet successfully connects.

##### ENVIRONMENT
* AWX version: 1.0.1.272
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: CentOS Linux release 7.4.1708 (Core)
* Web Browser: Chrome, Firefox

##### STEPS TO REPRODUCE

Connect to awx_task container and try ssh co

[2017-12-27 13:35] sparkacus opened #888 "Job stuck - inventory sync stuck - jobs queued/blocked from running"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI
 - Installer

##### SUMMARY
Job stuck and cannot be cancelled. When cancelling the job, nothing happens and the job is still running.

Other job templates that use the same inventory are held in a queue and blocked from running.

I'm unable to sync the inventory in question either, it just hangs with no output.

To work around this

[2017-12-27 14:42] shortsteps commented on #887
It seems it was a MTU issue.
The Openstack External Network has MTU = 1496, the target host has a MTU = 1500. I lowered it down on target VMs to 1496 and now AWX can execute jobs on that hosts.

`ip link set ens192 mtu 1496`

Hope it helps someone else.

[2017-12-27 14:42] #887 closed, assigned to nobody

[2017-12-27 17:26] anderm3 commented on #888
👍 This is also happening to me. I also created a second project because updating the project was blocked by this. I had been running on awx 1.0.1.0 and this issue persisted across an upgrade to 1.0.2.0 for me.

[2017-12-27 17:40] anderm3 opened #889 "tower-cli fails after awx upgrade"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
After updating from 1.0.1.0 to 1.0.2.0 several of my job templates had their settings adjusted. Parameters that previously were set to "prompt on launch" were disabled.

##### ENVIRONMENT
* AWX version: 1.0.2.0
* AWX install method: docker on linux
* Ansible version:  2.4.0.0
* Operating System: Amazon Linux
* Web Bro

[2017-12-27 19:26] zenire commented on #888
Also happening here. When I try to cancel a task it wont cancel. Also tried via tower-cli and via the API. Can't Cancel or Delete.

I think it got stuck because of too less memory available:

`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: OSError: [Errno 12] Cannot allocate memory
12
fatal: [hostname]: FAILED! => {"failed": true, "msg": "Unexpecte

[2017-12-27 20:54] pkennedymwg opened #890 "Wont connect to azure private IP"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - UI

##### SUMMARY

I cant make my templates use Azure private IP.  I found docs on how to do with AWS.  The private IP is listed on the hosts, but adding variables such as:

vpc_destination_variable: private_ip_address

Doesn't work

What is the proper way to do with Azure?

##### ENVIRONMENT
* AWX version: latest devel
* AWX install met

[2017-12-27 21:06] pkennedymwg commented on #890
ansible_host: "{{ private_ip }}"

[2017-12-27 21:06] #890 closed, assigned to nobody

[2017-12-28 04:41] ElliotGo commented on #830
I have the same issue @ssarkarnetip

**ISSUE TYPE**
Bug Report

**COMPONENT NAME**
UI

**SUMMARY**
Workflow Editor will not popup when clicking "WORKFLOW EDITOR" button...

**ENVIRONMENT**
AWX Version: AWX 1.0.2.303
AWX install method: docker on linux
Operating System: WIN10
Ansible version: 2.4.1.0
Browser: Chrome 62.0.3202.94 64bit

**steps to reproduce**
1. create a workflow template and save
2

[2017-12-28 04:47] ElliotGo opened #891 "TypeError when clicking Workflow Editor button"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Workflow Editor will not popup when clicking "WORKFLOW EDITOR" button...

##### ENVIRONMENT
* AWX version: 1.0.2.303
* AWX install method: docker on linux
* Ansible version:  2.4.1.0
* Operating System: WIN10
* Web Browser: Chrome 62.0.3202.94 64bit

##### STEPS TO REPRODUCE

1. create a workflow template and save
2. click "

[2017-12-28 04:48] ElliotGo commented on #830
link with this issue: https://github.com/ansible/awx/issues/891

[2017-12-28 05:18] tvigers commented on #891
Was just about to post this same error.

Seems to be from 1.0.2.301 onwards, can confirm the error doesn't appear in 1.0.2.298.

Browsers:
* Firefox ESR 52.5.1 (64-bit)
* Google Chrome Version 63.0.3239.84 (Official Build) (64-bit)

After clicking "Workflow Editor" button the path at the top changes to "templates.editWorkflowJobTemplate.workflowMaker"
![image](https://user-images.githubusercontent

[2017-12-28 06:24] innossh commented on #711
I tried the latest docker images `1.0.2.303` and this issue was fixed, I guess. 👍
However, the Slack notification is still not working for job completion (success or failure). I'm not sure the reason, but I think this issue is related to not only UI.
@matburt Could you reopen this one? https://github.com/ansible/awx/issues/753 or I'll create the new issue if it's needed.

[2017-12-28 08:33] sparkacus commented on #711
I also have what I think is the same issue.

Originally before upgrading to the latest version I couldn't enable notifications on templates in the UI (I could adjust the on/off toggle but the changes were not saved). That issue is now fixed but template success/failure hipchat notifications aren't working for me.

I know the hipchat notification setup is correct because the notification tests work

[2017-12-28 09:15] apollo13 commented on #711
Same here, SCM notifications work though, but job notifications still do not send anything.

[2017-12-28 09:24] madeinoz67 opened #892 "waiting... indefinitely when deleting inventory source"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When trying to delete an inventory source the spinning gear icon is displayed and no UI elements works, i.e. cant click on anything.

Only way out is browser back button, however source is not deleted.  Only way to remove is to remove the inventory

##### ENVIRONMENT
* AWX version: 1.0.2.303
* AWX install method: docker o

[2017-12-28 09:34] madeinoz67 opened #893 "waiting.. indefinitely when running adhoc command from inventory group or hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When trying to run an adhoc command from within an inventory the spinning gear icon is displayed and no UI elements works, i.e. cant click on anything.

Only way out is browser back button

##### ENVIRONMENT
* AWX version: 1.0.2.303
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System:

[2017-12-28 09:34] madeinoz67 commented on #893
seems related to https://github.com/ansible/awx/issues/892

[2017-12-28 09:44] madeinoz67 opened #894 "waiting... indefinitely when adding survey to template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When trying to add a survey to any template the spinning gear icon is displayed and no UI elements works, i.e. cant click on anything.

Only way out is browser back button, however source is not deleted.

##### ENVIRONMENT
* AWX version: 1.0.2.303
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operati

[2017-12-28 09:45] madeinoz67 commented on #894
seems similar issue to https://github.com/ansible/awx/issues/892 and https://github.com/ansible/awx/issues/893

[2017-12-28 09:47] btarraso opened #895 "Hipchat certificate verification is ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Hipchat plugin (notifications)

##### SUMMARY
Hipchat is a way to create notificatons to the Tower Rest API. By not verifying that certificate, this could lead in a MiTM attack or most probably in an information leak.

##### ENVIRONMENT
* AWX 3.2.2
* AWX 3.3.X (development)

##### STEPS TO REPRODUCE
Ideally, this line should actually verify t

[2017-12-28 09:50] terra-nova opened #896 "Cannot run job template on fresh install"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

On a fresh install to local docker, I get an error when attempting to run a job on a newly created job template.

Error message in AWX UI:

[code]

awx_web log:

[code]

Editing the job template through the web UI works.

The issue may be related to #875 (same error message).

##### ENVIRONMENT
* AWX version: 1.0.2

[2017-12-28 09:50] madeinoz67 commented on #891
I receiving same as you @tvigers on a new AWX install

Browsers:
  safari 11.0.2 (13604.4.7.1.3
  Chrome Version 63.0.3239.84

 MacOS 10.13.2

[2017-12-28 09:57] terra-nova commented on #849
Ok, from the referenced issues I learned that there is no update path from 1.0.1.x to 1.0.2.y with y>0. I will reinstall from scratch.

[2017-12-28 09:57] #849 closed, assigned to nobody

[2017-12-28 09:58] madeinoz67 commented on #886
@abenokraitis
I'm using gitlab internally here.  This is what I do that works for me

I'm using ssh authentication for my gitlab projects not https

Added "ansible" user to gitlab, make sure it has read access to projects you require.

on AWX I added SCM git credentials for ansible user.  This user was already provisioned on a centos server.  I copied the ~/.ssh/id_rsa to the private key in awx cr

[2017-12-28 13:12] oguzy commented on #704
Already installed the current version, build locally, using awx-1.0.2.303.tar.gz and choosing prompt at the limit part, causing the same error.

[2017-12-28 16:27] bcbrockway commented on #892
Also getting this using v1.0.2.

[2017-12-29 01:15] madeinoz67 commented on #896
same error being experienced.

Further to the above:

Job template will fail if any "prompt at launch" options are selected.

If all "prompt at launch" options are unselected job will run.

AWX version: 1.0.2.303
AWX install method: docker on linux
Ansible version: 2.4.2.0
Operating System:
Client - macOS
server - centos-release-7-4.1708.el7.centos.x86_64
Web Browser:
safari 11.0.2 (13604.4.7.1.3

[2017-12-29 04:29] tvigers opened #897 "Unable to create schedule for Workflow Job Template."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Unable to create schedule for Workflow Job Template. "Field is not allowed for use in workflows."

##### ENVIRONMENT
* AWX version: 1.0.2.285-1.0.2.298
* AWX install method: docker on linux
* Ansible version:  2.4.2
* Operating System: RHEL7.4
* Web Browser:
    - Google Chrome 63.0.3239.84 (Official Build) (64-bit)
    -

[2017-12-29 16:11] challett commented on #888
+1 Happening to me too

[2017-12-29 16:23] batemanst commented on #119
@matburt Can we open this back up?

Also running into the same issue on 1.0.2.289.

[code]

[2017-12-29 17:12] hemskgren commented on #886
I see the same with 1.0.2.303. It worked fine before.

[2017-12-29 18:40] ewithak commented on #876
Thanks for this! I was able to use it and get freeipa authentication working in AWX.
I also added a user account search option as I use it for all my other freeipa authenticated systems:

[
 "cn=groups,dc=example,dc=com",
 "SCOPE_SUBTREE",
 "(uid=%(user)s)"
]

[2017-12-31 18:39] ewjoachim commented on #491
@artemkamolodets @muayyad-alsadi While waiting for an official approval, feel free to give a go to the pull request referenced above (#856) and tell me if you see something wrong :)

[2018-01-01 17:29] muayyad-alsadi commented on #491
no, it's does not look like what I wanted.
I want a section with a simple `curl` and simple `docker-compose up`

I'll continue on your PR.

[2018-01-01 18:00] muayyad-alsadi commented on #491
@ewjoachim  please merge my PR, then add a similar yaml for openshift

```oc create -f awx.yml```

[2018-01-01 23:07] ewjoachim commented on #491
But... Your suggestion completely bypasses all the idea that the installation parameters are defined in the inventory .ini file, which is the way of the 2 other existing installation method, why create more special cases when we can achieve a reasonable solution with the general case ?

[2018-01-02 07:17] muayyad-alsadi commented on #491
Because I want to reduce entry barrier and learning curve for people who are curious and want to test it in an all-in-one non production setup without cloning such large project.

A kind note that this is a quick n dirty all in one setup with a pointer to the production setup.

[2018-01-02 08:28] madeinoz67 commented on #886
I'm using 1.0.2.303 myself and is working with ssh, looks like https is broken

[2018-01-02 08:30] mkempster22 commented on #875
Tested on:

.301
.303
.307
.315
.322

Same issues with Job templates and the work flow editor not launching ( #891 )

[2018-01-02 11:25] shortsteps opened #899 "Upgrade issue : IntegrityError: null value in column "setting" violates not-null constraint"
##### ISSUE TYPE
Issue after upgrading

##### SUMMARY
After upgrading from 1.0.1.272 to 1.0.2.0 schedules and running jobs are broken due to db issues.

##### ENVIRONMENT
* AWX version: 1.0.2.0
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: Centos 7
* Web Browser: Firefox

##### STEPS TO REPRODUCE

- I dumped Postgres db (just to be sure)
- I downloaded 1.0.2

[2018-01-02 14:04] akcrisp opened #900 "Add python-etcd library to official build"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
Using etcd as a inventory source errored (python-etcd library not found) until I pip installed python-etcd into the awx task (also added it to web) containers.

##### ENVIRONMENT
* AWX version: 1.0.1
* AWX install method: docker on linux
* Ansible version:  2.4.1.0-1
* Operating System: RHEL 7.4
* Web Browser: Chrom

[2018-01-02 14:12] akcrisp opened #901 "Ability to include openssl certs for things like ldaps"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI
 - Installer

##### SUMMARY
In order to use ldaps - we need to install custom certs in the awx web container. It would be good if the installer provided a documented method for allowing this either via loopback mount to underlying docker host or being able to specify files in the inventory for inclusion.

##### ENVIRONMENT
* AWX v

[2018-01-02 14:46] blasrodriguez opened #902 "401 Authentication credentials were not provided."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
After succesful login with default credentials, when browsing the UI we are getting this error:
_01 Authentication credentials were not provided._

It seems that some objects are getting 401:
![screenshot from 2018-01-02 15-43-09](https://user-images.githubusercontent.com/13176638/34487367-52108e66-efd4-11e7-8fbb-f5eb5a47301

[2018-01-02 15:22] dribedev commented on #891
The issue comes from how jquery-ui is imported.
v1.12 needs requires of every different components one by one.
as a quick fix, you can add:
`require('jquery-ui/ui/widgets/dialog');
require('jquery-ui/ui/widgets/slider');
require('jquery-ui/ui/widgets/spinner');
`
right after the require('jquery-ui') in awx/ui/client/src/vendor.js  and rebuild the frontend

[2018-01-02 16:39] grahamn-gr opened #905 "Unable to edit survey as admin of job_template after it's created by the admin user"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
When a job_template is created by the admin user and the admin user creates a survey no other users with admin perms on the job_template can edit the survey.

##### ENVIRONMENT
* AWX version: 1.0.1.8
* AWX install method: docker on linux

##### STEPS TO REPRODUCE

1. log in as admin
2. create a new job_template
3. sav

[2018-01-02 18:19] mabashian commented on #865
This should be addressed by #872

[2018-01-02 18:19] #865 closed, assigned to nobody

[2018-01-02 18:49] wenottingham commented on #891
See https://github.com/ansible/awx/pull/872

[2018-01-02 20:42] mabashian commented on #891
#872 should address this - closing

[2018-01-02 20:42] #891 closed, assigned to nobody

[2018-01-02 22:27] ewjoachim commented on #491
I really think this belongs to another ticket. This ticket is for a new installation method, not a trial. I'm not saying it's not a good idea, but it's a different idea.

And while I see the appeal of having a quick start solution, I'd be more confident to make it secure by default. How about a "curl && ansible-playbook" that would essentially do the same as your "curl && docker-compose", but in a

[2018-01-02 22:51] seniormuffinman commented on #882
You can try this one, not official though.

[AWX RPM ](https://github.com/subuk/awx-rpm)

[2018-01-02 23:19] ghost opened #908 "Allow hosts sourced from dynamic inventory to be manually disabled"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Add functionality to allow the on/off host enabled flag to be set manually in the Tower inventory hosts display for hosts that were sourced from an external dynamic inventory, overriding the flag set in the inventory sync.

##### ENVIRONMENT

* AWX version: 1.0.1

##### STEPS TO REPRODUCE

This change would allow ho

[2018-01-03 03:09] ElliotGo commented on #891
@mabashian
Same issue still exists in AWX 1.0.2.307, can you please take a look?
![image](https://user-images.githubusercontent.com/28291313/34508010-755f6e4e-f076-11e7-9552-d8e101a71d59.png)

[2018-01-03 07:31] xoxys opened #910 "Syntax error in 1.0.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
I try to build AWX from 1.0.1.0 tag checkout and get an error while running `"/usr/bin/node" "/usr/bin/npm" "--prefix" "awx/ui" "run" "build-release"`. The error occures due to an syntax error in `awx/ui/client/lib/components/components.strings.js`.

File looks like:
[code]

File should looks like:
[code]

Is ist possible to

[2018-01-03 09:02] MrMEEE commented on #419
@stokkie90 I have created a RPM repository, that I think works pretty well, if anyone is interested

https://github.com/MrMEEE/awx-build/blob/master/installguide

[2018-01-03 10:51] mkempster22 commented on #875
Been looking into all the issues getting similar issues. Looks like there were some big changes to .300+ (API related) that has broken a lot of functionality around the WebUI such as launching jobs with any sort of prompts, jobs getting stuck at pending and the workflow editor not launching.

[2018-01-03 10:59] mkempster22 opened #911 "Job stdout broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
stdout on job runs not showing properly. Only shows some weird json and you can't close the output, the only way to get rid of the dialogue is to delete the last part of the URL in your browser to go back to just having the job run e.g: go from http://awx_server/#/jobs/872/host-event/10640/json --> http://awx_server/#/jobs/8

[2018-01-03 11:37] mattelphick commented on #335
Can anyone help with the question above?  Thanks

[2018-01-03 11:37] mkempster22 commented on #891
Update 1.0.2.307 doesn't fix this for me either

[2018-01-03 13:13] Smuggla opened #912 "WSUS Dynamic Inventory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- Inventory

##### SUMMARY

WSUS Dynamic Inventory

Would be awesome to use WSUS as a Dynamic Inventory for Patching and upgrades!

Didn't know if anyone had tried this?

I experimented with some IronPython when I had some cycles.

[code]

[2018-01-03 15:20] wenottingham commented on #910
Not planned, AWX is a forward-moving stream.

[2018-01-03 15:20] #910 closed, assigned to nobody

[2018-01-03 15:22] wenottingham commented on #912
We pull all dynamic inventory support from upstream Ansible, see https://github.com/ansible/ansible/tree/devel/contrib/inventory and https://github.com/ansible/ansible/tree/devel/lib/ansible/plugins/inventory. It would need to be something that exists there first.

[2018-01-03 15:22] #912 closed, assigned to nobody

[2018-01-03 16:17] shortsteps commented on #875
I guess #891 and #894 are related, I experience the same on 1.0.2.303

[2018-01-03 17:32] steaksauce- commented on #892
I have the same issue on AWX 1.0.2.307 using the docker installation method.

Additionally, I cannot use GUI to add playbooks to a workflow template

[2018-01-03 17:48] steaksauce- commented on #891
As per the others, 1.0.2.307 seems to still has this issue.

Edit:
Using the docker option to pull from source, I was able to get this working. The reported version is AWX 1.0.2.301

To pursue this option, I simply commended out two lines in my inventory.yml in my install directory:
`dockerhub_base=ansible
dokcerhub_version=latest`

Afterwards, I stopped and removed my docker containers:
`docker s

[2018-01-03 19:56] mabashian opened #914 "Add vault_id to launch endpoints default vault credentials"
##### ISSUE TYPE
 - API Enhancement

##### COMPONENT NAME
 - API

##### SUMMARY
When launching a job template we want the user to be able to select N number of vault credentials with the stipulation that the user can only select one vault credential per vault_id.  Initially, the UI uses data from `/api/v2/job_templates/:id/launch/` to populate the default selected credentials.  The object that we

[2018-01-03 21:54] wwitzel3 commented on #884
See https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/awx-project/PQLxKl5Rj9s/UGy-3VaCCQAJ

[2018-01-03 21:54] #884 closed, assigned to nobody

[2018-01-03 22:01] wwitzel3 commented on #908
You could make a Smart Inventory for the job run that would exclude the undesired hosts.

[2018-01-03 22:12] steaksauce- commented on #884
What the above article means in plain English for those of us who aren't familiar with how to set things up from the default:
modify the inventory file in the installer directory:
Change line
`dockerhub_version=latest`
to
`dockerhub_version=1.0.2.0`

Edit: fixed the file as per @shortsteps comment below -- thanks!

[2018-01-04 05:17] wwitzel3 commented on #882
There are currently no plans to do this.

[2018-01-04 05:17] #882 closed, assigned to nobody

[2018-01-04 10:07] blasrodriguez commented on #902
We have discovered something.
Our environment is:
Azure Load Balancer ->  openshift router with 2 replicas
When router is scaled to 1 replica, AWX UI works without problem.

[2018-01-04 10:24] mkempster22 commented on #891
I reverted back to 301 and couldn't seem to get it working. I can get it to work by going to 289 though

[2018-01-04 10:54] MrMEEE commented on #882
Repository and installguide (unofficial):
https://github.com/MrMEEE/awx-build/blob/master/installguide

[2018-01-04 10:58] muzzol commented on #882
@wwitzel3 so the only way to officially install AWX is through the playbook install with docker?

[2018-01-04 11:01] mkempster22 commented on #882
@muzzol Only official ways are listed here: https://github.com/ansible/awx/blob/devel/INSTALL.md
Docker and Openshift

[2018-01-04 14:20] steaksauce- commented on #891
I didn't revert back to 301. I used the option to build the docker containers instead of pull. With that being said, the _reported_ version is 301 (which seems odd). Regardless, this method worked for me.

Also, the dockerhub images were updated yesterday. May be worth trying again

[2018-01-04 14:29] mkempster22 commented on #891
Ah yes I see what you mean, That's weird that it reports as .301 in the end as my upgrade process includes deleting all containers, maybe commenting out those lines causes it to not pull the latest version?

[2018-01-04 14:56] steaksauce- commented on #891
A general glance at some of the output looked like it was pulling from Github.. With that being said, it may not have been the latest branch.

[2018-01-04 16:30] ryanpetrello commented on #200
@jaredevantabor @gconsidine API changes for this are merged and should have everything necessary for UI work.

[2018-01-04 17:10] derekmwright commented on #901
+1

I've also gotten around this by using a Dockerfile that builds from the awx_web/task containers on Docker Hub and moves the CA Trust into place, example:

[code]

Then build and push this image to a local registry (OpenShift) instead

[2018-01-04 17:15] mattelphick commented on #335
We have upgraded to version 1.0.2.303.  However I am still not clear on whether the loggers are sending data externally.

This is the list of logger_names that I see.  How do the logger_names in the log output relate to the four loggers in the configuration section (awx, activity_stream, job_events, system_tracking)?

![image](https://user-images.githubusercontent.com/34488595/34575392-87d25ad0-f1

[2018-01-04 17:41] PDRMAN commented on #888
same here

[2018-01-04 17:42] PDRMAN commented on #888
same here, can you please extend the tower-cli to allow interface with inventory sync jobs ?

[2018-01-04 18:12] brhersh commented on #902
Reducing to one replica of the router on openshift (3.6) worked for us as well.

[2018-01-04 21:12] kuklis commented on #704
I just noticed this problem on a new install of 1.0.2-307
I recall some weird behavior on 1.0.2-293 but mostly it works. Starting to downgrade...

[2018-01-04 22:34] shortsteps commented on #894
Still the same in 1.0.2.319

[2018-01-04 22:59] shortsteps commented on #884
@steaksauce- great job to explain that, but maybe you meant the `inventory` file not install.yml.
Sorry if I correct you but it's just to avoid future confusion :)

[2018-01-04 23:06] hemskgren opened #922 "Unable to add survey as any user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

"add survey" hangs browser tab. F5 works to get back but not in to survey.
##### ENVIRONMENT
* AWX version: 1.0.2.319
* AWX install method: docker on linux
* Ansible version:  2.4.2
* Operating System: linux
* Web Browser:  Firefox and chrome

##### STEPS TO REPRODUCE

fresh install of latest awx. add template,  save temp

[2018-01-04 23:34] shortsteps commented on #891
I'm at 1.0.2.303, here you are my tests.

- Revert to 1.0.2.289, survey and workflow buttons work
- Upgrade to 1.0.2.293, survey and workflow buttons work
- Upgrade to 1.0.2.298, survey and workflow buttons work
- Upgrade to 1.0.2.301, exposed issues (survey and workflow buttons doesn't work)
- (1.0.2.303, exposed issues)
- (1.0.2.307, exposed issues, tested by @ElliotGo, @steaksauce- and @mkempst

[2018-01-05 01:27] steaksauce- commented on #922
Similar to other issues I have been browsing around in.
When's the last time you upgraded? They pushed a fix in this week, and updated the docker containers sometime yesterday it seems.

If upgrading doesn't do the trick, I've had luck doing the following (pulled directly from my response in #891 ):

Using the docker option to pull from source, I was able to get this working. The reported version

[2018-01-05 02:28] dylan8911 commented on #882
Sorry for the delay.

I got this fully working outside of docker or openshift. Thanks for the effort tho!

@apple4ever I'm waiting on our management team for the authorization to share my playbook. If I can, i'll get back to you.

[2018-01-05 08:23] mkempster22 commented on #922
Related to #875

[2018-01-05 08:28] mkempster22 commented on #875
Same issue on .322

[2018-01-05 09:39] luqmaanki commented on #902
I have the same issue. Running awx on docker. I'm getting the same error 401. I'm not sure about replicas since I'm running it locally on my test machine. What is the underlying cause for the error?
Update: after some poking around and not finding anything, I spotted "power" button in the top right corner. I clicked it and was taken to the log in screen again. That solved it for me.

[2018-01-05 11:56] ColmMcBarron opened #924 "Documentation for IAM EC2 inventory"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - UI

##### SUMMARY

IAM permissions for EC2 inventory plugin

##### ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

When using EC2 to lookup hosts available, there is no reference to what permissions the IAM role should have, giving the role extensive permissions is not ideal.

The error message also does not give us any detailed information.

C

[2018-01-05 13:06] sadoMasupilami commented on #882
@dylan0911 I would really love to see that too!

[2018-01-05 15:40] quenck commented on #911
The same on my Box:

**ENVIRONMENT**

- AWX version: AWX 1.0.2.322
- AWX install method: docker on linux
- Ansible version: 2.4.2.0
- Operating System: Debian 9
- Web Browser: Chrome

[2018-01-05 15:41] quenck commented on #875
The same on my Box:

**ENVIRONMENT**

- AWX version: AWX 1.0.2.322
- AWX install method: docker on linux
- Ansible version: 2.4.2.0
- Operating System: Debian 9
- Web Browser: Chrome

[2018-01-05 16:44] jakemcdermott commented on #830
👋
This should be resolved by https://github.com/ansible/awx/pull/919

[2018-01-05 16:44] #830 closed, assigned to nobody

[2018-01-05 18:20] ewithak commented on #875
Looks like it's finally working in 1.0.2.327! Workflow editing is also working

[2018-01-05 18:23] devopsdata opened #925 "AWX Github(private github) Organization Integration Issue for authentication"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI /API

##### SUMMARY
AWX Github Organization Integration Issue
We have private github (enterprise version) - (not public github) . I am trying to integrate with private github orgazniation auth to login to awx.  i have followed the documentation to setup auth, but when i tried to login , (Sign in with github) - takes to github.com - instead

[2018-01-05 18:36] benthomasson opened #926 "SVG context-menu for actions on a device or group"

[2018-01-05 18:38] benthomasson opened #927 "Link the awx inventory to network UI topologies"
Inventory and Topology are not linked in the network UI.  Create one entry for an inventory and link it to the topology if it does not already exist.   Pass the inventory id to the network UI.

[2018-01-05 19:17] hemskgren commented on #922
This is fixed and work as expected in 1.0.2.327.

[2018-01-05 20:24] mabashian opened #928 "Unhandled scenario for JT Schedule prompt credentials"
##### ISSUE TYPE
 - API Bug/Enhancement

##### COMPONENT NAME
 - API

##### SUMMARY
When scheduling a job template run where the credentials are promptable, the current implementation requires the UI to POST to `/api/v2/schedules/:id/credentials` to provide a non-default credential selection.  As far as I can tell this implementation is a bit restricting.  Take the following example: Create a Job

[2018-01-05 20:38] chrismeyersfsu commented on #689
@silverskysoft PR #921 should fix the `handle_work_error` problem. Can you verify?

[2018-01-05 20:44] quenck commented on #875
Confirmed, working on 1.0.2.327

[2018-01-05 20:45] quenck commented on #911
It seems to be fixed in 1.0.2.327...

[2018-01-05 20:47] quenck commented on #896
It seems to be fixed in 1.0.2.327

[2018-01-05 20:56] #48 closed, assigned to chrismeyersfsu

[2018-01-05 21:17] #309 closed, assigned to chrismeyersfsu

[2018-01-05 21:21] chrismeyersfsu commented on #217
Note to UI. Two fields in the tower settings need to be exposed `SOCIAL_AUTH_SAML_TEAM_ATTR` and `SOCIAL_AUTH_SAML_ORGANIZATION_ATTR`

[2018-01-05 23:35] ghost opened #929 "Add ability to import Azure hosts by private IP address"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Add functionality to Azure inventory import similar to the AWS `vpc_destination_variable: private_ip_address' source variable setting, that would allow the importing of Azure hosts by private IP address.

##### ENVIRONMENT
* AWX version: 1.0.1

##### STEPS TO REPRODUCE

Currently, if a default public IP address is n

[2018-01-06 09:02] emailvenkatm opened #930 "Place to control the user permission for job template?"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - API

##### SUMMARY
Can anyone please tell me where is the place to control the user permissions to create a new job template. I was overwriting the authorization part integrating with our internal api.  I tried changing the few classes in api/permissions.py, main/access.py but none of them worked for creating a Job template. Not really s

[2018-01-06 12:51] FloThinksPi commented on #335
Hi @mattelphick

I can look it up at the company on Monday but as far as i remember i have simmilar logs in ELK. Mainly it was important for us to log changes by users on templates, projects etc. which gets correctly written to the external logger aswell as what the specific user changed. I dont know if the actual output of a playbook gets logged. You can search in your logs for `User`, there shou

[2018-01-06 20:10] worsco commented on #860
Issue persists (no facts in web UI) in AWX 1.0.2.327, Docker edition.  I can view facts through "http://my.example.local/api/v2/hosts/1/ansible_facts", but not in "http://my.example.local/#/hosts/1/ansible_facts?host_search=page_size:20;order_by:name"

[2018-01-08 06:25] madeinoz67 commented on #891
can confirm this is fixed in 1.0.2.327 version of docker image for me

[2018-01-08 06:26] madeinoz67 commented on #892
can confirm that this is fixed in 1.0.2.327 version of docker image for me

[2018-01-08 06:27] madeinoz67 commented on #893
can confirm that this is fixed in version 1.0.2.327 of the docker image for me

[2018-01-08 06:27] #893 closed, assigned to nobody

[2018-01-08 06:29] madeinoz67 commented on #894
can confirm that this has been fixed in v1.0.2.327 docker image and is working for me

[2018-01-08 06:29] #894 closed, assigned to nobody

[2018-01-08 06:30] madeinoz67 commented on #896
can confirm that is is now working for me in 1.0.2.327 docker image

[2018-01-08 08:15] #875 closed, assigned to nobody

[2018-01-08 08:22] #911 closed, assigned to nobody

[2018-01-08 08:47] mkempster22 commented on #704
Fixed in .327

[2018-01-08 13:20] bcbrockway commented on #761
@matburt Is there a specific file layout we should be using for AWX to import group_vars and host_vars?
 I'm using version (tag) 1.0.2 and can confirm I'm having this problem although my layout is different:
[code]

[2018-01-08 13:59] agaffney commented on #704
I've updated my `awx_task` and `awx_web` containers to `1.0.2.327` (well, `latest`, which Docker tells me was updated 18 hours ago), and this issue still seems to be present.

[code]

[2018-01-08 14:02] mkempster22 commented on #704
@agaffney  How did you update?

This is my way (Not sure this is the best way so be aware, also I have a locally installed postgres rather than a container)

./upgradeawx.sh
[code]

[2018-01-08 14:04] agaffney commented on #704
I did an explicit `docker pull` on the `ansible/awx_task` and `ansible/awx_web` images and then re-ran the install playbook. The running containers match the images with the tag `1.0.2.327`.

[code]

[2018-01-08 14:06] mkempster22 commented on #704
Not sure how important it is but did you do a git pull on your repo before running the playbook again?

Previously I couldnt launch jobs etc. without getting the error but now all seems to be fixed

[2018-01-08 14:09] agaffney commented on #704
After doing a `git pull`, an explicit `docker stop/rm` on the `awx_task` and `awx_web` containers, and re-running the installer playbook, it now seems to be working properly. I have no idea why that would actually work, since I'm using the public images and the git update didn't change anything with the installer playbook.

[2018-01-08 14:11] mkempster22 commented on #704
Yeah i don't know all that much when it comes to how docker containers work but I've had issues doing stuff with them and have usually found completely removing them (assuming you have persistent data) and remaking them fixes most issues

[2018-01-08 15:28] andrewhowdencom commented on #159
Incidentally, the current advise is to run an instance of helm per namespace, or in a `${namespace}-system` namespace. This allows limiting of access.

[2018-01-08 15:41] matburt commented on #202
I haven't been able to circle back to this yet so feel free to pick it up and work on it if you want.

I'd also like to see the container errors that pop up during this put in this issue.

[2018-01-08 15:41] #689 closed, assigned to chrismeyersfsu

[2018-01-08 15:44] matburt commented on #138
@ricalenil sorry, but there's no direct upgrade path from 1.0.2.0 to anything later. See: https://groups.google.com/d/msg/awx-project/PQLxKl5Rj9s/UGy-3VaCCQAJ

[2018-01-08 15:45] matburt commented on #318
Is the inventory update getting stuck in that situation?

[2018-01-08 15:46] matburt commented on #711
These seem like new issues and not related to the original issue.

[2018-01-08 15:46] #711 closed, assigned to jaredevantabor

[2018-01-08 16:12] agaffney commented on #704
It's possible that my problem was cached Javascript. After the second attempt to "upgrade", I also used Ctrl-Shift-R to clear the cache and refresh.

[2018-01-08 16:16] matburt commented on #735
I think I'd like to figure out a way to do this without privileged mode.

[2018-01-08 16:28] koutido commented on #737
Hello,

Someone could find the solution for this issue ?

Best regard

[2018-01-08 16:29] sparkacus commented on #318
Yes - For me the associated Inventory AND project both get stuck.

[2018-01-08 16:34] batemanst commented on #119
@matburt @wwitzel3 Any update? I'd be glad to submit a new bug report if that is warranted.

[2018-01-08 17:06] jakemcdermott commented on #896
I believe this is resolved - thanks for confirming, quenck and madeinoz67

[2018-01-08 17:06] #896 closed, assigned to nobody

[2018-01-08 18:55] benthomasson opened #931 "Add API endpoints for the network UI data models - Ben, Sprint 3"
The network UI will add new API endpoints for:

* Topology
* Device
* Interface
* Link
* NetworkGroup

[2018-01-08 21:03] mabashian opened #932 "passwords_needed_to_start isn't properly updated after replacing default vault credential on launch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
1) Create a vault credential with vault_id: `foo` and check the box to ask password on launch. (lets say this is ID: 1)
2) Create a second vault credential with vault_id: `bar` and also check the box to ask password on launch. (lets say this is ID: 2)
3) Create a job template and select the vault credential from step one as

[2018-01-09 04:52] tvigers commented on #897
Still unable to get this working in 1.0.2.327, tested after upgrading to 1.0.2.327 to fix the issue in #891.

[2018-01-09 05:15] andekaputra commented on #358
anyone has figured out what caused the issue? Apparently it happens also with Debian 9.

[2018-01-09 05:23] innossh opened #933 "Slack notification is not working for job completion (success or failure)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

Slack notification is not working for job completion (success or failure) even though testing notification works well.

##### ENVIRONMENT

* AWX version: 1.0.2.303
* AWX install method: docker on linux
* Ansible version: 2.4.2.0
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

I confirmed the

[2018-01-09 07:11] xoxys opened #934 "Is there any working release?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Is there any release of awx that is usable? Cant't run any Job with 1.0.2.0 or 1.0.2.327

With 1.0.2.0:
![2018-01-09 07_32_56-ansible awx _ about_1](https://user-images.githubusercontent.com/3391958/34708723-4e1aac84-f514-11e7-961b-72116d61c11f.png)

![2018-01-09 07_33_29-ansible awx _ sit-linux_1](https://user-images

[2018-01-09 08:57] muzzol commented on #882
@wwitzel3 is there any problem leaving this issue open as a feature request?

I think is obvious there's interest in AWX beyond docker (ex: lxc, openvz, solaris zones), so even if it takes some time for a dev to take over it, I would like to get some centralized (and official) feedback.

[2018-01-09 09:18] shortsteps commented on #934
Any additional info in container logs?
`docker logs -f awx_task`

I'm currently using that release with no issues.

[2018-01-09 09:50] xoxys commented on #934
@shortsteps sure, but (for me) not helpful..
[code]

[2018-01-09 10:35] xoxys commented on #934
There are also tons of errors in Firefox Debug Console:
[code]

[2018-01-09 11:23] shortsteps opened #935 "Email notification is not working for template job completion (success or failure)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Email notification is not working for job completion (success or failure) even though testing notification works.
It seems the same as #933

##### ENVIRONMENT
* AWX version: 1.0.2.327
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: Centos 7
* Web Browser: Chrome/Firefox on Ubuntu

#####

[2018-01-09 13:22] surian commented on #688
Same issue on 1.0.2.335.

No prompt to type password/passphrase is shown when "ask on execution" is enabled on a credentials when running a template. There is only a blank pop-up and we can't continue to enter execution parameters as we can't enter the password/passphrase (next or launch button is unusable).

If credentials to use is also asked on execution, we can select the credentials but there