[2021-02-17 03:46] jladdjr commented on #9291
https://github.com/jladdjr/awx/commit/9907b1b9e21ce2a0d086e992a413f3ead6dd7bb6 dynamically creates:
* partition to hold all old job events
* .. and first partition which is a bit unique (see previous comment), picking up where first partition leaves off and runs through remainder of current hour

[2021-02-17 09:07] azrdev commented on #2284
is this issue the same as #5109 ?

[2021-02-17 09:17] azrdev opened #9337 "Document Backup/Restore procedure"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
How to backup all data (assets?) created in AWX, like Projects, Users, Credentials, Job Templates, etc ?
There seems to be no documentation about it:

* It seems to be possible: #5109 #5469 #3062
* https://github.com/ansible/awx/blob/4cb0366/INSTALL.md (current HEAD) does not mention it. There is DATA_MIGRATION.md which [used to](https://github.com/a

[2021-02-17 12:41] jakemcdermott commented on #9296
Yep - using `new Date().getFullYear()` [here](https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/About/About.jsx#L40) should do it.

[2021-02-17 13:35] danielo515 commented on #9321
My requirements.yml is at the root of the repository. I had no idea that having it under collections was a requirement. Can you point me to the docs so I can bookmark it?

[2021-02-17 14:25] danielo515 commented on #9321
The task is showing that it recognized the requirements.yml file at the root of the repository and consciously skips the install.
In any case, I also tried moving the file to a subfolder called collections and the result is exactly the same.

[2021-02-17 15:37] kladiv commented on #371
+1

[2021-02-17 16:02] #9310 closed, assigned to mabashian

[2021-02-17 16:07] mabashian commented on #7740
@unlikelyzero it looks like the credentials list advanced search has keys now:

<img width="1677" alt="Screen Shot 2021-02-17 at 11 06 15 AM" src="https://user-images.githubusercontent.com/9889020/108231888-38207a00-7110-11eb-84b6-f3f470d27b98.png">

I checked the credential lookup as well:

<img width="1195" alt="Screen Shot 2021-02-17 at 11 07 20 AM" src="https://user-images.githubusercontent.co

[2021-02-17 16:14] mabashian commented on #9127
OK, just looked at the new UI and the order that you select the credentials does not match the order in which we supply them to the API so regardless of whether we add some sort of re-ordering feature to this modal we need to fix the request(s) so that the order is preserved.

[2021-02-17 16:21] mabashian commented on #9122
@unlikelyzero @akus062381 this looks like's it's implemented in devel to me?

![activity_settings](https://user-images.githubusercontent.com/9889020/108233930-4079b480-7112-11eb-91dc-7a1692b8330d.gif)

Here's what it looked like in the old ui:

<img width="1524" alt="Screen Shot 2021-02-17 at 11 19 15 AM" src="https://user-images.githubusercontent.com/9889020/108233954-47a0c280-7112-11eb-9cfb-d3fd

[2021-02-17 16:32] msilmser opened #9339 "RFE: Add an activity stream button from the Schedules View"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add a shortcut to the activity stream when at the Schedules view. A schedules filter exists in the drop down but in order to get to the stream from that view you need to navigate away from it first.

[2021-02-17 18:31] ryanpetrello commented on #9296
also:
![](http://gifrific.com/wp-content/uploads/2014/01/Robin-Williams-What-Year-Is-It-Jumanji.gif)

[2021-02-17 19:17] metabsd opened #9342 "awx.awx.tower_export missing Galaxy Credential in organizations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
`awx.awx.tower_export` is not exporting Galaxy Credential with the Organization

##### ENVIRONMENT
* AWX version: 15.0.0, 15.0.1, 17.0.1
* AWX install method: AWX Operator
* Ansible version:  2.9.17
* Operating System:  docker.io/ansible/awx:{VERSIONS}
* Web Browser: Edge, Chrome, Firefox

##### STEPS TO REPRODUCE

[code]

My organization have a Galaxy

[2021-02-17 19:54] jladdjr commented on #9291
created a [draft PR](https://github.com/ansible/awx/pull/9341) so there's a go-to place to leave comments

following up on @ryanpetrello's comments

[2021-02-17 20:11] unlikelyzero commented on #9122
@mabashian the toggles _work_ but IIRC they're not wired up

[2021-02-17 20:45] wenottingham commented on #9321
Downstream documentation is here: https://docs.ansible.com/ansible-tower/latest/html/userguide/projects.html#collections-support

AWX behaves the same way. What does it show when the requirements.yml file is in collections/ ?

[2021-02-17 20:48] wenottingham commented on #9339
@mabashian is this in ui-next already?

[2021-02-17 22:18] sean-m-sullivan commented on #9342
I just tested this using awxkit 17.0.1 , awx, 17.0.1 and tower 3.8.1. and the galaxy credential does not show up.
It should show up under related, as it does on the awx api.
[code]

[2021-02-17 22:56] mattthehearn commented on #9319
Out of curiosity, what strings can "job.type" contain, other than "playbook"?  Seems odd to have both "job.type" and "job.job_type", though I'd be lying if I said there weren't a billion similarly confusing variables in my own code. :)

[2021-02-18 02:52] agilleyrh opened #9350 "RFE: Enhance user RBAC controls"
##### ISSUE TYPE
 - RFE to set permissions at a more granular level per user.

##### SUMMARY
Ability to give users very specific permissions such as Inventory create/Inventory delete/Smart inventory create/Regular inventory create/Template create/Template delete etc...

This would also prevent users to be able to do anything with what other users create in the same group/team.

[2021-02-18 02:55] agilleyrh opened #9351 "RFE: Ability to bulk delete unused templates/inventories"
##### ISSUE TYPE
 - Manually or by a schedule be able to delete a large amount of unused/unwanted inventories

##### SUMMARY
After a specified amount of time have inventories that haven't been used in X days to be deleted automatically, the same for templates. Also the ability to do this manually if needed.

[2021-02-18 03:07] agilleyrh opened #9352 "RFE: send full job output logs via email on fail"
##### ISSUE TYPE
 - RFE to send full logs via email when a job fails.

##### SUMMARY
When a job fails, instead of having to log in to Tower and get the logs, enhance the notification function and have the ability to send the logs via email as an attachment for easier viewing.

[2021-02-18 07:15] seaman25 commented on #9267
Hi folks, I'm facing the same issue. Could anyone please help double confirm if this is actually considered a bug? Does the comment from @unlikelyzero mean that the `Custom Script` option will be removed from the source list soon?

Btw, I tried to select `Sourced from a Project` as the type of my source, but from the drop-down list of `Inventory file` I didn't see my python scripts (the shell scri

[2021-02-18 08:40] anujbansal31 opened #9353 "Running AWX as Hot-Hot in Primary and Secondary Site"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We are using AWX application and setup in both Primary and Secondary Site. But at one time only one Site is active and AWX runs there. We are using external PostgreSQL database which has been setup on other host.  If there are any issue in our Primary site, we have to manually start the application in secondary site after data replication completed.

[2021-02-18 09:13] tassin76 opened #9354 "Problem when migrating from 15.0.1 to 17.01"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Migrate from 15.0.1 to 17.0.1 (without applying version 16.0.0)

##### EXPECTED RESULTS

Got AWX up and running and so got the login page

##### ACTUAL RESULTS

When migration is comp

[2021-02-18 10:50] CvH opened #9355 "RFE: Inventory prompt for a single host"
##### ISSUE TYPE
 - add an option to prompt for the target IP at template start
##### SUMMARY

A typical usecase is deployment of a new server or similar that is not yet at the inventory or should not be included at the inventory for reasons.

Currently there is no easy way (at least I am not aware) to run a playbook against a single ip/host.
Current workaround is to create a Inventory and add a s

[2021-02-18 13:01] unlikelyzero commented on #9331
Example on Cred Edit Form for Organization Chips

[2021-02-18 13:58] Commifreak commented on #3348
Since my upgrade to 17.0.1 this is gone again:

![grafik](https://user-images.githubusercontent.com/87267/108367360-ac831800-71f9-11eb-96f2-f59d4b891933.png)

Any config option here?

[2021-02-18 14:36] tonyhogsten opened #9357 "UI_NEXT - Cannot access Management Jobs or Cleanup jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We cannot access the page Management Jobs or Cleanup Jobs. We are met with an empty page:

![image](https://user-images.githubusercontent.com/20438742/108371255-dc341f00-71fd-11eb-8c83-16eb65f26efb.png)

And if we try to access these through schedules -> click on any of the cleanup jobs, the page is empty as well.

![image](https://user-images.githubus

[2021-02-18 15:19] unlikelyzero commented on #8480
@mabashian @jlmitch5 tagging Feature on this one so that someone can figure out what's required vs enhancement based off of what I collected into the meta-issue

[2021-02-18 16:02] mabashian commented on #5070
Fields in the old UI:

https://github.com/ansible/tower/blob/release_3.8.2/awx/ui/client/features/projects/projectsList.view.html#L38-L101

[2021-02-18 16:02] mabashian commented on #4977
Fields that were present in the old UI:

https://github.com/ansible/tower/blob/release_3.8.2/awx/ui/client/features/jobs/jobsList.view.html#L31-L103

[2021-02-18 16:03] mabashian commented on #5070
Fields in the old ui:

[code]

[2021-02-18 16:04] mabashian commented on #4977
Fields in the old UI:

[code]

[2021-02-18 16:06] mabashian commented on #7662
Fields in the old UI:

[code]

[2021-02-18 16:32] tiagodread commented on #8921
scenario from https://github.com/ansible/awx/pull/9210

- The credential password prompt is not being required on the schedule modal wizard:
1. Create a machine credential OR a vault credential with prompt enabled for password
2. Create a JT and mark Credentials as prompt
2. Create a schedule for this JT
3. On the Credentials step choose the credential created before (with prompt)

The step `Crede

[2021-02-18 16:58] mabashian commented on #7256
OK so after looking at the old UI, I think this is how the button works.

1) When the page is initially loaded and the user hasn't interacted with the field the tooltip on the button says `Replace`.
2) Clicking the button when it says `Replace` sets the value of the field to an empty string
3) The button now says `Revert`
4) Clicking the button when it says `Revert` sets the value of the field bac

[2021-02-18 18:14] hjkatz commented on #9178
This is still a problem, could we reopen this ticket please? @wenottingham

I think this same problem is related to this issue too: https://github.com/ansible/awx/issues/9036

[2021-02-18 18:15] hjkatz commented on #9036
I think this is still a problem and I think it's related to the Team RBAC and permissions setup. Here's some related issues:
* https://github.com/ansible/awx/issues/9178
* https://github.com/ansible/awx/issues/9128

[2021-02-18 18:24] mabashian commented on #9250
This could be blocked - need to verify

[2021-02-18 18:37] mabashian commented on #8031
@keithjgrant

[2021-02-18 18:43] mabashian commented on #7777
Lets hold off on this for a bit

[2021-02-18 19:21] jakemcdermott commented on #9357
:wave: Hello, @tonyhogsten! This feature is under development. It will be included in one of the upcoming AWX community releases.

see: https://github.com/ansible/awx/issues/8488 -> https://github.com/ansible/awx/pull/9224

[2021-02-18 19:21] #9357 closed, assigned to nobody

[2021-02-18 19:59] tiagodread commented on #9122
Double checked this issue, this is working on devel. Toggling the toogle will not trigger the request, the form is saved hitting the `Save` button on the bottom.
cc @mabashian @unlikelyzero

[2021-02-18 19:59] #9122 closed, assigned to nobody

[2021-02-18 20:13] mabashian commented on #9122
thanks @tiagodread !

[2021-02-18 20:14] mabashian commented on #8827
link https://github.com/ansible/awx/pull/9281 which may address this

[2021-02-18 20:22] wenottingham commented on #9056
Copying some discussion from the meeting:
- This needs to be somewhere in the UI, and RBAC'd so only system admins see it (it's not part of any other user persona)
- Logically, this is part of managing the cluster. The other part of the UI that fits here is Instance Groups, so it fits alongside/with that.

cc @trahman73 for ideas on how to organize this, as either another menu item or a new combo

[2021-02-18 20:32] trahman73 commented on #9056
This makes sense to live under the Admin menu subset as a stand alone page. The page can contain a filter toolbar component with the graph component underneath.

[2021-02-18 20:42] shanemcd opened #9359 "Prevent users from modifying or deleting EEs that are managed_by_tower"
This will be needed in order to enable https://github.com/ansible/awx/issues/9250

[2021-02-19 00:31] ghjm opened #9361 "Custom credential file injector writes literal "\n" instead of newline"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After creating a custom credential type with `multiline: true` and using a file injector to write it to a file, the resulting file is a single line of text with the literal characters "\n" where the line breaks should be.

##### ENVIRONMENT
* Tower 3.8.1
* Ansible 2.9.15
* Operating System: RHEL 8.3

##### STEPS TO REPRODUCE

Create a custom credential

[2021-02-19 01:02] ghjm commented on #9361
If you go to the credential in the API and PATCH the private key (with \n characters in the JSON), it gets injected correctly, with a file containing newlines.  The problem only seems to happen if you use the UI to set the private key.

[2021-02-19 02:43] wenottingham commented on #9352
No, we are not going to try to email potential multi-megabyte attachments.

[2021-02-19 02:43] #9352 closed, assigned to nobody

[2021-02-19 02:48] wenottingham commented on #9355
You can use variable-provided aliases in the `hosts` line, such as `hosts: {{ some_extra_variable }}`. See also 'prompt for limit', if it's an existing host.

[2021-02-19 02:48] #9355 closed, assigned to nobody

[2021-02-19 02:49] wenottingham commented on #9353
This is not a feature we plan to add in AWX.

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-02-19 02:49] #9353 closed, assigned to nobody

[2021-02-19 02:51] wenottingham commented on #9351
This is best accomplished by API scripting.

[2021-02-19 02:51] wenottingham commented on #9350
This involves concepts that do not exist in the current RBAC - inventories (as an example) belong to an organization, and there's no concept of a "user's" inventory that they could create.

[2021-02-19 02:54] wenottingham commented on #9267
The custom inventory script *is* going away - it's not in the new UI in general, and it only shows up as an option as it's not removed from the API yet.

What you want to do is what you suggest - run it from a project. As to what you can select, I think you're running into https://github.com/ansible/awx/issues/9043

[2021-02-19 05:56] Commifreak opened #9363 "Show host description attribute on more places"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Please add the Host description attribute to at least one (or all?) places:

* Job output: There, ansible only shows the IP address (if no real hostname given) - maybe not possible here but:
* Show the host description inside the host task result modal, next to its name:

![grafik](https://user-images.githubusercontent.com/87267/108463917-899b4700-72

[2021-02-19 06:26] hans2520 commented on #223
Spent about 4 hours wasted on this issue.

In my case, with our directory structure as we had it, the `awx-manage inventory_import` was working fine at first. The issue is we introduced a secure password lookup to give our devs global playbook ability from any environment (and not just AWX), this was done by developing a script that used the `vault_password_file` of the `ansible.cfg`. When we put

[2021-02-19 08:53] Thomastouma commented on #9282
### Problem resolved
The problem on our behalf was that the LV on our host machine representing the postgresql data dir path became 100% full when trying to upgrade the DB, so the solution for us was to increase the disk space.

### Feedback
I think it would be worth mentioning in upcoming Changelog that the postgresql upgrade requires a temporary 100% increase on the space available in the postgr

[2021-02-19 08:53] #9282 closed, assigned to nobody

[2021-02-19 09:22] nicosalvadore commented on #9176
I'm facing another issue that I think can be related to this one.

I have a job template with a survey that contains optional questions : `required` field not checked.
When I start a new job from this template and this optional field has not been filled, AWX is still passing an empty extra variable to the job process.
I don't think this was the behaviour I experienced in the previous AWX versions.

[2021-02-19 11:39] joaogl opened #9364 "Inventory sync stuck with git projects"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I have an inventory sourced from a project with git, the inventory update is stuck and never completes.

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: awx-operator
* Ansible version:  2.9.13
Server:
* Operating System: K8s on top of rancherOS
Client:
* Operating System: PopOS 20.10
* Web Browser: Chrome 87.0.4280.88

##### STEPS TO

[2021-02-19 12:14] flynnjs commented on #8553
I guess because you need to add a survey for each template which uses this credential type. This is what I'm doing right now and it tedious when it could just be part of the credential setup.

[2021-02-19 13:26] pvvanilkumar commented on #1288
any updates.?

[2021-02-19 13:43] mattthehearn commented on #9267
@seaman25 For some reason, I couldn't get python scripts to work as inventory sources; the inventory parser never was able to run it.  It was able to run a simple bash script, however.  I'm not sure if that's a bug or something broken with my code (the python scripts I have work fine outside of AWX, and worked with a much older version of AWX).  You might try testing to see if a bash script will d

[2021-02-19 13:55] chrismeyersfsu commented on #9361
Thanks @ghjm this might explain a 1-off that I witnessed when configuring the SAML public/private key via the UI.

[2021-02-19 14:17] sean-m-sullivan commented on #9200
@ryanpetrello with the above PR This is fixed and can be closed.

[2021-02-19 14:19] lgrullon-gilead commented on #9282
Hi Thomastouma,
Thank you for providing those details, very helpful for those of us that got impacted.

From: Thomastouma <notifications@github.com>
Sent: Friday, February 19, 2021 12:54 AM
To: ansible/awx <awx@noreply.github.com>
Cc: Lisandro Grullon <Lisandro.Grullon@gilead.com>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [ansible/awx] Postgres upgrade failed, upgrading awx 16.

[2021-02-19 14:21] sean-m-sullivan commented on #8686
@wenottingham This feature has been added and merged, this can now be closed.

[2021-02-19 14:24] sean-m-sullivan commented on #8013
@john-westcott-iv were you meaning just adding them like the above PR, or a module to actually approve a workflow via module?
If the former we can close this, if the later it still needs work.

[2021-02-19 15:18] joaogl commented on #9364
I tried to upgrade awx and got the same issue:

ENVIRONMENT
AWX version: 17.0.1
AWX install method: awx-operator
Ansible version: 2.9.17
Server:
Operating System: K8s on top of rancherOS
Client:
Operating System: PopOS 20.10
Web Browser: Chrome 87.0.4280.88

[2021-02-19 15:27] sean-m-sullivan commented on #8495
As for galaxy credentials, the following works
[code]

And for credential input sources via awx.awx, given the credentials have been created
[code]

However at the moment awxkit awx import/export does not do credential input sources, but does credential types and credentials.

[2021-02-19 15:43] chrismeyersfsu commented on #9056
@mabashian On top of basic plotting. It's looking like we are going to need at least a `division` operator. For example, we have two related metrics `events_inserted` and `time_to_insert_events_total`. We want to be able to visualize events inserted per second over time, which would be `events_inserted` / `time_to_insert_events_total`.

Another useful feature would be aggregating the same metric a

[2021-02-19 16:28] mabashian commented on #9339
Yep

<img width="1680" alt="Screen Shot 2021-02-19 at 11 27 13 AM" src="https://user-images.githubusercontent.com/9889020/108532152-8c109780-72a5-11eb-9bab-7654901afcb1.png">

[2021-02-19 16:29] mabashian commented on #9323
Yea I noticed this as well.  I don't think that all instances of StatusLabel need a tooltip so we may want to make this optional.

[2021-02-19 17:05] wenottingham commented on #9363
The first of these cannot happen - it would be making an extra REST request for every line of playbook output, which really isn't practical.

The second of these could potentially be possible (although it's still an extra request when loading the event details.)

[2021-02-19 17:11] tiagodread opened #9366 "Toggle schedule for JT not working properly with surveys"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The user can not toggle the Schedule On/Off on a schedule for a particular JT when the JT has survey with default answer

##### STEPS TO REPRODUCE

1. Create a JT
2. Create a schedule
3. Create a survey without default answer
4. Edit this survey adding a default answer
5. Try to toggle the schedule On/Off

##### EXPECTED RESULTS

After adding a default

[2021-02-19 17:50] wenottingham commented on #9056
This is where I'm stuck.

If this is only useful for "people who understand the metrics as much as API engineering does to determine what's good/bad and what's going on", it doesn't go in the UI - it goes in an awx-manage command that can be run and dumped somewhere.

[2021-02-19 17:51] tiagodread opened #9367 "Toggle schedule for JT not working properly after deleting survey prompted before"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The user can not toggle the schedule for a particular JT when the JT had a survey prompted before after deleting the survey

##### STEPS TO REPRODUCE

1. Create a JT
3. Create a survey without default answer
4. Create a schedule adding the answer as prompt
5. Delete the survey
6. Try to toggle the schedule On/Off

##### EXPECTED RESULTS

After deletin

[2021-02-19 18:13] wenottingham commented on #9364
Can you install not using the operator and see if this persists?

[2021-02-19 20:31] jakemcdermott commented on #8618
There's a good chance this is addressed by: https://github.com/ansible/awx/pull/9369#issue-576684262

[2021-02-19 20:57] hjkatz opened #9370 "Can't create survey questions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: kubernetes
* Operating System: macOS Catalina 10.15.7
* Web Browser: Versión 88.0.4324.182 (Build oficial) (x86_64)

##### STEPS TO REPRODUCE

* Create a Job Template
* Add a new Survey question
* Try to save

##### EXPECTED RESULTS

The survey question is saved.

##### ACTUAL RESULTS

Java

[2021-02-19 21:17] hjkatz commented on #8788
What's the status of this issue?

[2021-02-19 21:36] hjkatz commented on #9245
We're experiencing the exact same problem with AWX 17.0.1 running on Kubernetes with 3 Pods running `awx-task` containers.

Job's Notification toggles:
![image](https://user-images.githubusercontent.com/2234516/108563907-487f5300-72d0-11eb-9e5e-0c6bbf0bf01c.png)

Syntax error in the Job Output:
![image](https://user-images.githubusercontent.com/2234516/108563952-5634d880-72d0-11eb-9125-1d21b28a4fc

[2021-02-19 21:41] djdanielsson commented on #20
+1

[2021-02-19 22:12] hjkatz opened #9371 "Project Update fails with no output"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: kubernetes
* Ansible version:  2.9

##### STEPS TO REPRODUCE

Launch a Job Template with a custom SCM branch. Have that SCM branch been recently updated via a `git commit --amend` and `git push --force`, therefore forcing a rebase or a `git pull --force` to take place.

##### EXPECTED RESUL

[2021-02-19 22:34] hjkatz commented on #9371
I think this is happening when the playbook has a syntax error and nothing is reported.

When I run the playbook locally I see the following:

[code]

And my playbook _does_ have a syntax error in `vars_prompt`

[code]

Since `ldap_user` does not yet exist for the `ldap_password` prompt, `ansible-playbook` throws an error.

Nonetheless, AWX should report this.

[2021-02-19 23:01] jakemcdermott commented on #9361
There's a good chance this is addressed on devel - moving to test for verification.

[2021-02-20 01:07] jladdjr commented on #9291
ba143d503a, by itself, was enough to get the auto-creation of partitions to work. Was expecting something way more involved.

![image](https://user-images.githubusercontent.com/4440360/108577156-e07f3b80-72d4-11eb-96e0-9df31fb82347.png)

[2021-02-20 01:10] jladdjr commented on #9291
976840f73f adds the ability to create partitions that only span a single minute. This will make it much easier to test boundary conditions. (cc @elyezer @tiagodread). Could hook this up to a file-based settings change only. The screenshot in the previous comment shows the minute-long partitions being created.

Verified that:
- [x] old job details pages still load
- [x] partitions are only created

[2021-02-20 01:10] #9291 closed, assigned to jladdjr

[2021-02-20 01:11] jladdjr commented on #9260
Picking up with this on Monday..

[2021-02-20 10:47] danielo515 commented on #9321
It skips them because it says they have not changed
I attach the log

<details>

[code]
</details>

[2021-02-20 12:37] sean-m-sullivan commented on #7356
Was looking at this, and if you are an admin, in the gui and the api, you can create job templates, organization credentials and other items that cross organizations.
Theoretically you could have a
job template that is from a project in Org 1, so designated part of Org 1,
that uses a credential from org 2,
and a notification from org 3

Most any solution we come up with that isn't a parameter dict

[2021-02-21 12:49] dugs951 opened #9372 "Auto Job"
Hi,

i have AWX Ansible 17.1
I try to make Auto Job and when i look Management Jobs it nothing there.

How i can make Auto Schedules?

Regreds

[2021-02-21 12:50] #9372 closed, assigned to nobody

[2021-02-21 14:51] unlikelyzero commented on #9371
@hjkatz I think you're running into this issue: https://github.com/ansible/awx/issues/8788. Can you confirm?

[2021-02-21 15:36] unlikelyzero commented on #9367
@tiagodread i think this is a manifestation of https://github.com/ansible/awx/issues/7670. Can you verify and close this issue if it's a dupe?

[2021-02-21 16:06] unlikelyzero opened #9373 "[ui_next] Silent error when creating or editing an inventory source to 'Update on launch' and 'Update on project update'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When creating or editing an inventory which is sourced from a project, if the 'Update on launch' and 'Update on project update' options are selected, the form does not save and the API's error response does not get displayed in the UI.
[code]

I think the fix for this should be two parts:
1. Update the tooltips for both toggles to note that they cannot

[2021-02-21 16:07] unlikelyzero commented on #9373
@mabashian @wenottingham  Filing as 'high' because it's possible that the entire error handling on save component is broken

[2021-02-22 08:10] afucat opened #9375 "In AWX, I want to execute 8 jobs at the same time, but only 2 jobs are running at the same time. How should I set this limit to be turned on?"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - API

##### ENVIRONMENT
* AWX version: 17.0.0
* AWX install method:  docker on linux
* Ansible version:  2.9
* Operating System: CentOS7.6
* Web Browser:

[2021-02-22 10:43] kladiv commented on #9043
+1 Inventory scripts in SCM with .py extension does not appear in drop-down list and not typable.
At the moment i set it via awx CLI/API

[2021-02-22 11:00] lucas-benedito opened #9376 "Disable fields name, surname and email due to GDPR requirements"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
As per GDPR requirement the data name, surname and email cannot be stored in the systems but those fields cannot be disabled in Ansible Tower UI at the moment.
Suggestions:
- Create toggle option for GDPR where you can disable specific fields
- Create user role in order to disable those fields if not system administrator

[2021-02-22 11:56] fourstepper commented on #106
It would be nice to at least have the path relative to the playbook that is chosen - right now I have a project with the code in `foo` and ansible content in `bar`

I can choose the playbook per template (`bar/playbook.yml`), but the requirements pull still fails as it expects the roles folder in the root of the project. I could solve this by adding a roles folder in the project folder and symlink

[2021-02-22 12:02] xstasi commented on #9376
FWIW I'm not entirely convinced that this is not a bug: if a system is not GDPR compliant when it holds personal data that users may not be able to retain control of, it should not be possible for unprivileged users to "force" the system out of compliance.

This is even more true when authentication is done externally, so tower should be holding virtually no user data.

Rather than disabling speci

[2021-02-22 12:55] tiagodread commented on #7679
@mabashian we can safely close this one

[2021-02-22 12:55] #7679 closed, assigned to mabashian, tiagodread

[2021-02-22 13:34] mikecurrancs opened #9377 "Workflow only uses toplevel limit"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Since workflows make use of job templates, I would expect that the individual job template has the master limit for each job being run through the workflow. Instead the limit at the top level of the workflow is the only one that is being honored. If we leave that top-level blank, then the job run against every machine in our inventory instead of the on

[2021-02-22 14:04] ryanpetrello commented on #9375
Hey @zhengyionline,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-02-22 14:04] #9375 closed, assigned to nobody

[2021-02-22 14:46] hjkatz commented on #9371
No, if anything it's still related to this: https://github.com/ansible/awx/issues/8709

This output is still not shown in AWX 17.0.1

[2021-02-22 14:48] #8372 closed, assigned to mabashian, tiagodread

[2021-02-22 16:59] Floflobel opened #9379 "No inventory was parsed, please check your configuration and options"
DELETED

[2021-02-22 17:07] florian-bellencontre opened #9380 "No inventory was parsed, please check your configuration and options"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I've just started installing Ansible AWX and I've imported a fairly simple playbook that I'll join you later. Once all my configuration was done, I tried to launch this playbook in check mode. But it returned an error because it can't parse my inventory.

Yet this inventory is a simple INI file, containing a single host. I tried to explain my problem o

[2021-02-22 17:07] #9379 closed, assigned to nobody

[2021-02-22 17:27] #9220 closed, assigned to nobody

[2021-02-22 18:03] uDuCkV commented on #9018
+1 the same error is with 17.0.1 tarball.

[2021-02-22 18:30] wenottingham commented on #9376
While I don't want to speak for their auditor, on the face of it that's either an overly restrictive corporate policy that goes well above and beyond, or an incorrect reading of the standard.

For a deployment with internal users only to that company, it's *definitely* incorrect - all of the username fields are already covered under the normal legal basis for data collection. Even with external us

[2021-02-22 18:44] chrismeyersfsu commented on #6807
The meat of the implementation is in [start_job_fact_cache](https://github.com/ansible/awx/blob/devel/awx/main/models/jobs.py#L830) and [finish_job_fact_cache](https://github.com/ansible/awx/blob/devel/awx/main/models/jobs.py#L855) To populate the Ansible fact cache we pull the per-host fact records out of the database and write them to individual `.json` files. AWX then enables the Ansible [jsonf

[2021-02-22 18:54] wenottingham commented on #9380
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

While I realize you  may have not gotten an immediate response there, that is the proper place.

[2021-02-22 18:54] #9380 closed, assigned to nobody

[2021-02-22 18:56] wenottingham commented on #9377
As noted in the docs, the workflow limit "provide[s] a host pattern to further constrain the list of hosts that will be managed or affected by the workflow. This limit is applied to all job template nodes that prompt for a limit."

Do your job templates allow prompting for a limit? If so, they'll use whatever limit is set on the workflow.

[2021-02-22 19:25] wenottingham commented on #9321
No, it's skipping the install because the requirements file does not exist where it is looking for it.

[2021-02-22 20:00] kdelee commented on #7059
@beeankha can you keep @yagomarques and @shebangbash up to date on anything you produce, so they can read it and bring questions/comments?

[2021-02-22 21:40] wenottingham commented on #9056
Chatted with @chrismeyersfsu - I think for the first iteration of this we'll have it as a non-default route that can be accessed by knowing the proper URL (not linked).

For the division, I think instead we'll just have the derived metrics here https://github.com/ansible/awx/issues/9019#issuecomment-777632056 directly graphable (rather than having the user choose to derive them).

[2021-02-22 22:47] jakemcdermott commented on #9371
:wave: Some failed jobs just don't have any stdout events to show. Can you check the api to see that there actually _is_ output to show?

You can verify by visiting `/api/v2/project_updates/:id`

There's also information sometimes available, separate from the output or tracebacks, on the details panel next to the status.

[2021-02-23 05:44] danielo515 commented on #9321
How so? On this line of the log it lists the existing requirements.yml file

[code]

[2021-02-23 07:06] ReneCamu opened #9389 "Smart Inventory host-filter (advanced search) UI produce search failure"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Smart inventory host filter "**advanced**" is not working in the UI after saving.

The selected "**or**" is changed to "**and**" after the host filter creation is selected.

Error: Invalid query groups__search=ubuntu and groups__search=centos

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker
* Ansible version:  2.9.17
* Operating Sy

[2021-02-23 12:04] mboehm21 commented on #1179
another +1

[2021-02-23 12:18] bdoublet91 commented on #9043
Rollback to 15.0.1 to make it works. If u don't need feature of version 16 and 17, use 15.0.1.
I could import project from github, import inventory by type in and create job template with schedule, all  I wanted.
You ll have to use postgres 10

[2021-02-23 12:42] unlikelyzero commented on #9389
@ReneCamu thanks for finding and filing this issue. We're tracking the failure here: https://github.com/ansible/awx/issues/9389

I've included your description in the issue before better discoverability

[2021-02-23 12:45] bdoublet91 commented on #8080
Hi,
I would reopen this issue.
I read the #7253 but I don't thinks it's the same problem.
First time I have installed awx, I did it with docker-compose and external psql 11 with awx 16.0.
awx and awx_task was launched without errors but jobs was still in pending and awx doesnt schedule task to awx_task.
Tried version 17.0, 15.0.1 with external postgresDB but the only way to make it works was to us

[2021-02-23 12:47] unlikelyzero commented on #9232
From a duplicate issue:

Prequisites: one inventory with one group "centos" and a second group "ubuntu" server

1. Create a smart inventory based upon existing groups (ie. "centos" or "ubuntu")
2. Create a host filter advanced search with an "or" selection
   1. Name --> advanced
   2. Key --> groups
   3. LookupType --> icontains --> centos --> search
   4. LookupType --> icontains --> ubuntu -->

[2021-02-23 12:47] #9389 closed, assigned to nobody

[2021-02-23 12:56] IshwarKanse opened #9390 "RFE: Resource limit for job or fork."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add configurable resource limits for jobs or forks. If the job reaches the limit during executions, kill the fork or job itself to protect other jobs running on the same Ansible Tower instance. If the limits were to be set on the jobs or forks, this will also help the scheduler in addition to the capacity to determine on which instance to run the job

[2021-02-23 13:56] ReneCamu commented on #9389
Refering to issue: https://github.com/ansible/awx/issues/9232

[2021-02-23 13:57] ReneCamu commented on #9389
@unlikelyzero Refering to https://github.com/ansible/awx/issues/9232

[2021-02-23 14:37] mikecurrancs commented on #9377
This becomes problematic with our customer/server models and now we have to potentially duplicate every set of job templates to create individual workflows to ensure someone doesn't miss properly updating the limit in the job template. Defeats the idea of generic job templates that can be run against a multitude of servers just by asking for a limit. Now you have to always edit the limit and if so

[2021-02-23 14:57] hjkatz commented on #9371
Oh! There is something at `/api/v2/project_updates/3341/stdout/` here it is:

[code]

I dug into this in the past when originally setting up AWX and this problem actually exists for our main project too: When the project has a rebase on the tip of a branch such as `master` or some branch name, then AWX's playbook to update the repo doesn't work at all due to the `(non-fast-forward)` problem. A fix

[2021-02-23 16:03] wenottingham commented on #9321
`'stat': {'exists': False}` - the file isn't there, so it skips the task.

[2021-02-23 16:23] kdelee commented on #5057
@shebangbash @yagomarques  I think this will be a good issue for y'all, get in touch with @amolgautam25 about the feature and then I can help you find where to add coverage for this if necessary

[2021-02-23 16:38] kdelee commented on #4553
@one-t hoping you can take lead on testing this one

[2021-02-23 16:39] aem12f commented on #9193
This is plaguing me as well running AWX 17.0.1

[2021-02-23 16:48] one-t commented on #4553
Just a UI note, we can't take away the username and password entry with LDAP and RADIUS.

[2021-02-23 17:02] #8915 closed, assigned to one-t

[2021-02-23 17:07] wenottingham commented on #9390
This is not something we currently have control over in general.

Pod specs for container group do allow for some of this.

[2021-02-23 17:25] jakemcdermott commented on #9371
Thanks @hjkatz! We'll take a look.

[2021-02-23 17:59] matburt commented on #9390
I think we could probably do this in the future with jobs directly with podman... I don't think I'd like the UX around *killing* the job specifically. Rather just setting upper limits on how much resources can be consumed... the processes inside of the pods could decide to die or bog down.

[2021-02-23 18:09] cic-hc opened #9393 "unable to deploy awx on Ubuntu 20.04 since commit "af6af052d010240ed8a505e914d685bb2acb7283""
- ##### SUMMARY
with the current source, i am not able to install awx anymore on Ubuntu 20.04. It worked perfectly since the last commit "af6af052d010240ed8a505e914d685bb2acb7283".

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operating System: Ubuntu 20.4
* Web Browser: firefox

##### STEPS TO REPRODUCE

sudo ansible-playbook -i invento

[2021-02-23 19:49] kdelee commented on #8609
:pray: :bow:

[2021-02-23 20:51] akus062381 opened #9396 "Organizations- Tabs include Teams view, should be removed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When accessing the detail view of an organization, one of the tabs allows access to Teams. The Teams tab should be removed.

##### STEPS TO REPRODUCE

Click on the organizations resource tab on the left side of the screen.
Click on one of the individual organizations.
Note the presence of "Teams" as one of the available tabs.

![image](https://user-ima

[2021-02-23 21:31] wenottingham commented on #9393
Yes, this is intentional.

See https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/1-Jh0fy3AgAJ

[2021-02-23 21:31] #9393 closed, assigned to nobody

[2021-02-23 21:34] rooftopcellist commented on #9393
@cslinuxfr Please see these docs for getting the development environment set up - https://github.com/ansible/awx/blob/devel/tools/docker-compose/README.md

[2021-02-23 22:01] wenottingham commented on #9377
If you look at the workflow in the API, is the limit `""`, or `null`?

If you PATCH it to be `null`, does it work like you expect?

[2021-02-23 22:03] wenottingham commented on #9377
I think this is a bug in the new UI, where if no limit is specified on workflow creation, it sets a blank limit (`""`), instead of no limit, and that is interpreted differently.

[2021-02-23 22:05] mabashian commented on #6805
OK, I was mistaken about this issue.  I thought this behavior existed in the old app but it does not:

`In the old UI, workflow nodes that were broken -- for example, a job template with a now-deleted project -- had no way of showing that they were broken from the workflow view`

The api doesn't give us any information about the project/inventory in the summary fields on a node.  Here are two node

[2021-02-23 22:08] mikecurrancs commented on #9377
I will test and report back my findings. Thanks for the idea.

[2021-02-23 22:10] mabashian commented on #8921
Yea @tiagodread the credential password step shouldn't be shown in that case because the user shouldn't be able to select a credential that prompts for passwords on a schedule/workflow node.  We'll make sure to address that when working this issue.

[2021-02-23 22:16] wenottingham opened #9399 "ad-hoc commands don't show what they'll run on before hitting 'launch'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. Go to an inventory
2. Click 'Groups'
3. Click 'Run command'
4. Start filling out wizard
5. Go to credential page

You now have a 'Launch' button that only shows you what credential you've selected, not:
- the command and args
- the inventory
- any limit

This probably needs a review/preview step.

##### ENVIRONMENT
* AWX version: devel

[2021-02-23 22:52] danukefl opened #9401 "Redis Dump Permissions Error Cause AWX Exceptions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On a fresh install of AWX 17.0.1, Redis returns an exception preventing most functionality, including job execution after an uptime of a few minutes.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: Ansible playbook into Kubernetes cluster
* Ansible version:  2.9.17
* Operating System: Debian Linux
* Web Browser: Firefox

##### STEPS TO R

[2021-02-24 02:27] Gabisonfire commented on #9401
Having the same issue on 17.0.1.
Downgrading redis to `6.0.10` seems to fix the issue.

Upddate: The issue came back after a restart at some point

[2021-02-24 05:19] danukefl commented on #9401
I was able to do this, but I also tried adding `stop-writes-on-bgsave-error no` to the redis.conf configmap template, redeployed, and appears to also work. The errors are still present in the log but is no longer stopping AWX from functioning. I had an older test Docker-compose instance of AWX that was using 6.0.10 and looking at the logs, it was not running the snapshot/backup job . I upgraded th

[2021-02-24 05:54] danielo515 commented on #9321
OK. Today I realized that I didn't commited the file rename (moving it to
the collections subfolder). I'll try again and report

El mar., 23 feb. 2021 17:03, Bill Nottingham <notifications@github.com>
escribió:

[2021-02-24 08:32] EmmanuelROLLAND commented on #9151
hello
in your awx/main/tasks.py, if you update it in the container replacing:
            'roles_enabled': galaxy_creds_are_defined and settings.AWX_ROLES_ENABLED,
by
            'roles_enabled': settings.AWX_ROLES_ENABLED,
and do a docker-compose restart
Does running a Project Sync agin still skips all role detection/fetching ?
I test yesterday with •AWX version: 17.0.1 and both tasks.py works fi

[2021-02-24 11:38] zaskan opened #9403 "RFE - Implement fact cache filtering in job template options"
CUSTOMER CASE

We experience regular performance issues in form of out-of-memory situations caused by use of fact cache on large jobs (>100 endpoints), which we can easily reproduce in an isolated environment.

**Steps to reproduce:**

1. Create an inventory from the linked file [inventory.ini.txt](https://github.com/ansible/awx/files/6035570/inventory.ini.txt)
2. Create a job template using the p

[2021-02-24 12:06] hurdigurdi opened #9404 "Container Group Pods terminating - Exception occurred while running task"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Container Group Pods terminating - Exception occurred while running task

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.17
* Operating System: MacOs (frontent)
* Web Browser: Chrome

##### STEPS TO REPRODUCE

* Define Container Groups in K8s
* schedule job with large inventory (~1000-2000 hosts)

[2021-02-24 13:25] kapilkumartrivedi opened #9405 "AWX Installation on Kubernetes with External PostgreSQL"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I am trying to install AWX on Kubernetes(new to ansible/awx). Installation fails on task migrate database.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: Kubernetes
* Ansible version:  2.9.17
* Operating System: CentOS 7
* Web Browser: NA

##### STEPS TO REPRODUCE

1. Clone the Repo
2. Make the following changes to installer/inventory

[2021-02-24 13:53] ryanpetrello commented on #9405
@kapilkumartrivedi,

Make sure you're actually using the 17.0.1 tag, and not `devel` (it sounds like you're running into a bug in `devel` that was fixed the other day: https://github.com/ansible/awx/pull/9378)

[2021-02-24 13:53] #9405 closed, assigned to nobody

[2021-02-24 13:56] shanemcd commented on #9401
Hi folks. Are you by chance using [this option](https://github.com/ansible/awx/blob/3b520cdeee8f471250234d4632cffa0e0d64db73/installer/roles/kubernetes/templates/deployment.yml.j2#L351-L353)? Or maybe your Kubernetes clusters are forcing running containers as a non-root user? I noticed that the [entrypoint for redis](https://github.com/docker-library/redis/blob/231905d0841f52ee4f3a5b8b42d62cd6d14a

[2021-02-24 14:07] tiagodread commented on #2257
Closing this as a duple of https://github.com/ansible/awx/issues/5546 current work related to this.

[2021-02-24 14:07] #2257 closed, assigned to nobody

[2021-02-24 15:02] rchincholkar opened #9407 "add feature to save rsyslogd queue content when external logging is misconfigured"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
rsyslog does not save the queue content when external logging is misconfigured.
In case of a 404 error on the external logging service, a buffer will not be kept and any log events will be lost.
For example, one time 404 error from an external logging server, we lost log events until the external logging service is fixed.

Additionally, rsyslogd does

[2021-02-24 15:18] xstasi commented on #9376
@wenottingham the customer's use case is to address users with "self-harming" behaviour, who go and input their personal data in their Tower account. By doing so, the users turn the tower node to a "GDPR-relevant" machine which it would otherwise not be.

That is why they would like users to not be able to self edit, and I believe it makes sense: it should not be obvious that users are in charge o

[2021-02-24 15:33] msilmser opened #9408 "RFE: Add flag to skip firewall role during install"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Not all environments utilize iptables or firewalld. Adding an option to skip this as part of the installer would remove this extra step when not necessary.

[2021-02-24 15:53] wenottingham commented on #9376
By default, fields that come from an IDP (LDAP, etc) are replaced by the IDP data on every login; beyond that, there are service accounts and tokens if they are not interested in having user accounts tied to individuals.

[2021-02-24 16:03] wenottingham commented on #9408
... is the issue that the role is loaded and a set of tasks are then skipped? Is there any functionality loss that is caused by this?

[2021-02-24 16:11] wenottingham commented on #9403
The recommendation is to filter the facts on import, by using `gather_subset`; this is under the playbook user's control already, and they should be able to therfore use what is the minimum they need.

Using extra_vars makes the playbook operate differently inside and outside of the platform, especially if varialbes are remapped as is described above.

[2021-02-24 16:12] #9403 closed, assigned to nobody

[2021-02-24 16:17] wenottingham commented on #9080
See https://github.com/ansible/awx/issues/8505, this is a duplicate.

[2021-02-24 16:17] #9080 closed, assigned to nobody

[2021-02-24 16:22] wenottingham commented on #9407
Is it worth having the `save` do a test message and 400 if it fails?

[2021-02-24 16:30] Tioborto commented on #9401
Same error for us after a restart.
Fixed by adding `redis_security_context_enabled=False` to the inventory.
By disable this option, image will be run using user 999 (redis) instead of 1001

[2021-02-24 17:33] wenottingham commented on #9408
There's no firewall role in the awx installer.

[2021-02-24 17:33] #9408 closed, assigned to nobody

[2021-02-24 17:42] wenottingham opened #9409 "Logger test button doesn't function (and may not make sense)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The 'test' button for logging aggregations is currently inactive by default:
![Screenshot from 2021-02-24 12-40-04](https://user-images.githubusercontent.com/5208768/109041873-83510480-769d-11eb-83b3-da4120f9527d.png)

However, since it only appears on the 'Edit' view, that means it never functions right away - once you save, you don't see the button,

[2021-02-24 17:42] suryarao67 commented on #8505
Hello,

If there is no counter and no messages indicating messages are dropped, how do support teams even become aware of this? Bear in mind that these logs often may contain critical data which cannot be lost. Silent dropping is not good. There must be an indication when messages are being dropped..somewhere.

[2021-02-24 17:50] wenottingham commented on #8505
That would be in the rsyslog error log in /var/log/tower.

[2021-02-24 17:53] wenottingham commented on #8505
That would be in the rsyslog error log inside the container.

[2021-02-24 18:05] mabashian opened #9410 "Prevent users from selecting job templates that are missing a project or inventory when creating workflow node"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In the old UI we would disable rows that were missing a project/inv and didn't prompt for inventory:

<img width="1673" alt="Screen Shot 2021-02-24 at 1 00 46 PM" src="https://user-images.githubusercontent.com/9889020/109044677-ad57f600-76a0-11eb-90cc-b89735c86d58.png">

We should do something similar in the new UI since selecting a JT like this will

[2021-02-24 18:08] gamethis opened #9411 "Add prompt on launch to username of credentials"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

add option to prompt on launch for credential object username field.
Use case:
Multiple OS's managed with same ssh key but different user names on different platforms for managing the various platforms.
Add option to prompt on launch to credential item so it can leverage the key while being flexible about the username. Which reduces the number of cr

[2021-02-24 18:12] mabashian commented on #8789
<img width="845" alt="Screen Shot 2021-02-24 at 1 12 05 PM" src="https://user-images.githubusercontent.com/9889020/109045749-f65c7a00-76a1-11eb-8f48-1e73b5f60e04.png">

[2021-02-24 18:15] mabashian commented on #8921
The UX in the old UI is pretty poor here:

<img width="1664" alt="Screen Shot 2021-02-24 at 1 13 34 PM" src="https://user-images.githubusercontent.com/9889020/109045918-29067280-76a2-11eb-962c-21fdf30d9ed0.png">

The row is selectable but the button stays disabled giving no indication as to why.

I think we should disable the row and add a tooltip explaining that JT's that have credentials that pr

[2021-02-24 18:16] mabashian commented on #8921
Note that the described case above is slightly different but related to credential password prompting.  We should fix both.

[2021-02-24 18:57] wenottingham commented on #9411
ansible_user can be set at the host/group level as well, if that simplifies it. That should override what is passed in the credential.

[2021-02-24 19:27] gamethis commented on #9411
thank you I will test that out.

[2021-02-24 22:19] danukefl commented on #9401
The entrypoint for redis is the same between 6.0 and 6.2 but nothing stands out in the change log to me of what changed to cause it unless its tied to one of the security updates. I'm no Redis expert though.

I was able to replicate the issue using the same redis.conf in a bare redis container by setting the run-as user to anything other than "999" on all three versions that I tested. 6.0.10, 6.0.

[2021-02-24 22:35] jladdjr opened #9412 "[db_partitioning] Ensure that when tower searches for job events, it searches *specific partitions* and not the parent job event tables"

[2021-02-24 22:51] jladdjr commented on #9258
@ryanpetrello mentioned this would be good to get in before QE spins up an instance - working on this now

[2021-02-24 23:07] jladdjr commented on #9258
I wrote up some draft code for this, tried to run the migration and am ironing out some details now. Looks like this won't be a simple "flip on a loop for all tables" kind of thing.

To be more specific:
* Existing SQL commands for creating the new parent partition tables for each job type does seem to just work as is
* .. but insertion commands (specifically how we do the INNER JOIN) is not happy

[2021-02-25 00:30] mattschwen commented on #9354
Looks like it might be because on version 16 you move from `Postgres 9.6` to `Postgres 10` and you cannot do a database migration between major versions.

[2021-02-25 00:35] suryarao67 commented on #8505
If rsyslog itself was unresponsive, the Tower process would drop the external log messages being sent to rsyslog to avoid blocking. In that case I don't think there will be anything inside rsyslog error log. Please confirm?

[2021-02-25 00:36] jladdjr commented on #9258
Okay, maybe this is not too bad:

Sample join with project events:
![image](https://user-images.githubusercontent.com/4440360/109085156-fc605400-76bd-11eb-85eb-e4bc59696caa.png)

Every <job_type> job event table just has a different column name for referencing the unified_job_id. Kind of wish they all just had a `unified_job_id` field instead of `inventory_update_id`, `project_update_id`, `ad_hoc_

[2021-02-25 00:52] jladdjr commented on #9258
Taking https://github.com/jladdjr/awx/commit/255c3efd76526e1e3b92a859d34f9eac9b0fd320 for a spin

[2021-02-25 00:53] jladdjr commented on #9258
Migration went through!

![image](https://user-images.githubusercontent.com/4440360/109086623-c96b8f80-76c0-11eb-8eda-6246c5b79ebb.png)

[2021-02-25 00:58] jladdjr commented on #9258
Partitioned job tables.. for all job event types! In each screenshot you can see the partitions listed at the bottom of the picture.

`main_jobevent` (we already had this one, but this shows it working with the new-ish `create_partition` helper):
![image](https://user-images.githubusercontent.com/4440360/109086929-557db700-76c1-11eb-9fd0-cbab74df7803.png)

`main_inventoryupdateevent`
![image](http

[2021-02-25 01:01] jladdjr commented on #9258
Looks like everything's getting partitioned. I'll need to verify the tables are working as expected, but I'll fold that work in with the next ticket:

https://github.com/ansible/awx/issues/9412

[2021-02-25 01:01] #9258 closed, assigned to jladdjr

[2021-02-25 01:03] jladdjr commented on #9412
About to hop off to help with kids, but wanted to put a bookmark in this ticket before hopping off:

I can load regular jobs fine ✅
.. but loading projects is hitting an issue:

![image](https://user-images.githubusercontent.com/4440360/109087368-2f0c4b80-76c2-11eb-9e2a-95bca5905611.png)

.. will need to dig into this a little later.

[2021-02-25 05:10] jladdjr commented on #9412
Got it! Forgot to update the `FakeAddField` section of the migration; to briefly recap why we have this section in the first place, when you make raw sql updates you have to clue django into the migrations. So, we sub-class migrations.AddField and set `database_forwards` to be a no-op.

This is what we need to update - currently it's just updating the JobEvent model:
![image](https://user-images.g

[2021-02-25 05:38] jladdjr commented on #9412
added https://github.com/jladdjr/awx/commit/c0c097358dd9871faacefbf3d552540ab06d59ce to shore up the missing job event model fields

[2021-02-25 05:39] jladdjr commented on #9412
Rewound the database, bringing awx up - migrations went through, good sign:

![image](https://user-images.githubusercontent.com/4440360/109108637-c5ebfe80-76e8-11eb-9cf0-3c6b91f6dff0.png)

[2021-02-25 05:42] jladdjr commented on #9412
Project details page renders!

![image](https://user-images.githubusercontent.com/4440360/109108908-3e52bf80-76e9-11eb-8d29-85302b9de108.png)

[2021-02-25 05:50] danukefl commented on #9401
@Tioborto I modified the setting and ran it on a new install but by only changing `redis_security_context_enabled=false` I received permission denied errors connecting to redis.sock. Sounds like you may have some other configuration differences?

[2021-02-25 05:51] jladdjr commented on #9412
Inventory update:
![image](https://user-images.githubusercontent.com/4440360/109109385-16179080-76ea-11eb-9675-38cbda4eac73.png)

[2021-02-25 05:51] jladdjr commented on #9412
Ad Hoc Command is less than happy - when I switch to the API browser, seeing:

![image](https://user-images.githubusercontent.com/4440360/109109606-7575a080-76ea-11eb-938b-269f270b7f2d.png)

[2021-02-25 05:58] jladdjr commented on #9412
I'm able to hop into an sdb session:

![image](https://user-images.githubusercontent.com/4440360/109110118-5aeff700-76eb-11eb-9889-7c999c8b1d04.png)

[2021-02-25 06:03] jladdjr commented on #9412
`job.job_events` isn't defined
.. but `ad_hoc_command_events` is..

And with that change - things are looking better!

![image](https://user-images.githubusercontent.com/4440360/109110462-0e58eb80-76ec-11eb-8e11-4d7a6bac9314.png)

[2021-02-25 06:13] jladdjr commented on #9412
System jobs running into a similar problem that just came up with the ad hoc command job - set breakpoint:

![image](https://user-images.githubusercontent.com/4440360/109111336-9390d000-76ed-11eb-92a8-bc43fc5ae140.png)

[2021-02-25 06:49] jladdjr commented on #9412
We don't have `job.job_events`
.. but I do see a `job.system_job_events`

[2021-02-25 06:50] jladdjr commented on #9412
uh-oh, doesn't look like the task manager has been updated to create partitions for _all_ of the different table types - will need to handle that tomorrow.

[2021-02-25 07:04] rdzielicki opened #9413 "Installation of AWX skip all tasks even if they are met ( Centos7.9 Docker 20.X Python >3.6)"
##### ISSUE TYPE
 - Bug Report all Playbook installation are skipped

##### SUMMARY
-After preparing a new Centos 7.9 with Docker 20.X, Python 3.6, all tasks of installation are skipped
In the installation guide, requierement are met ( recent version of Docker Python 3.6 ..)

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: Docker
* Ansible version:  2.9
* Operating System: Centos7.9

[2021-02-25 07:14] rdzielicki commented on #9413
tried an AWX N-2 version, worked perfectly the first time, seems like it may concern only this version

[2021-02-25 08:15] tassin76 commented on #9354
No ... my v15.0.1 instance already used a Postgres 10 container created by the AWX installer

[2021-02-25 08:16] Tioborto commented on #9401
Hello @danukefl,
We have only change this parameter.  For your information, we are in 15.0.0 of AWX.
After that, in our deployment we have this for redis container :
[code]

[2021-02-25 09:13] xstasi commented on #9376
They want to have individual accounts tied to each users, they just don't want any personal data other than the login to be recorded.

Their "threat model" is a user that goes and inputs their personal data on their account page against the admin's will. Even if all personal data were to be wiped at the next login that does not change the fact that the data was there for a while and that would mak

[2021-02-25 10:00] coudenysj commented on #739
@AlanCoding Is this something the project would be interested in? If so, how can I help to make it happen?

[2021-02-25 12:41] ArievdB commented on #7362
Any update on this?

[2021-02-25 13:00] egmar commented on #9403
Hi Bill,

we know about `gather_subset` and we use it, though there are cases when users want to collect everything (can't stop them doing this). Some even make their custom facts and telling them not to use facts would be rather strange.

The main idea here was to have a similar mechanism, but as part of `JobOptions`. Currently only `use_fact_cache` exists, and it would be nice to have an additio

[2021-02-25 13:14] Gabisonfire commented on #9401
For me @danukefl 's solution works so far, adding `stop-writes-on-bgsave-error no` to redis.conf. (In the awx-config configmap). Still having the errors in the logs but AWX works fine.

[2021-02-25 13:47] benjdudas opened #9414 "RFE: Remove blocker on job launch when "Update Revision on Launch" is configured on the project"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

A previously failed project update would require a manual sync in order to remove the blocker to launch the job. This RFE is to allow a job to launch if the project is in a failed state when "Update Revision on Launch" is configured on the project. The current behavior will break workflows in environments with unstable connections to source control

[2021-02-25 13:50] anemyte commented on #739
+1 for the feature. It is really hard to find logs from some specific run using only job ID.

[2021-02-25 14:41] Gopinath-G commented on #9293
Seems issue with RHEL OS, Issue resolved after recent OS patching RHEL 7.9

[2021-02-25 14:41] #9293 closed, assigned to nobody

[2021-02-25 14:41] kladiv commented on #9232
+1
In my opinion it's an high priority issue

[2021-02-25 15:16] jomach commented on #7362
I think no one is working on this

[2021-02-25 15:42] cinpol commented on #9354
I upgraded from 6.1.0 to 9.3.0 (Postgres 9 to 10), so a major database upgrade does work. However, I was not able to upgrade from 9.3.0 to 15.0.1, while I was able to upgrade from 9.3.0 to 17.0.1 (Postgres 10 to 12).

Above is on docker-compose.

[2021-02-25 16:47] pipinstallyogi opened #9415 "Getting skipping: [localhost] error & almost all tasks are skipped."
Hallo Everyone,

**After every configuration when I am running the following command:
#  ansible-playbook -i inventory install.yml
I am getting the following error :**

PLAY [Build and deploy AWX] **********************************************************************************************************************************

TASK [Gathering Facts] ************************************************

[2021-02-25 17:21] nixocio opened #9416 "Re-evaluate RBAC for EE as per latest API changes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Re-evaluate RBAC for EE as per latest API changes. Since the last time RBAC was evaluated on the UI side, the API RBAC has been updated. Evaluate those changes and apply to the UI.

See: https://github.com/ansible/awx/issues/9518

[2021-02-25 18:34] wenottingham commented on #8505
rsyslog has not been unresponsive in our testing - if this is a continuous issue in some environment, that is something that we would need details about the AWX deployment.

As for logging failures, I don't know that it makes sense to log a failure when you can't log, but perhaps we can expose a count of failed logs via our prometheus metrics that are being enhanced to store some per-node metrics

[2021-02-25 19:25] jladdjr commented on #9257
@ryanpetrello spun up a pre-4.0 instance, loaded it with a reasonable amount of data, attempted a migration to partition tables and the result was a never ending migration

.. plus he pointed out that the naive migration duplicates all the rows, _then_ removes the original batch, which will double the disk space.

Both of those won't work in the perfscale env, so he's looking into getting this wor

[2021-02-25 19:26] jladdjr commented on #9257
@ryanpetrello pointed out how we've had a table-to-table async migration lying dormant, that we can maybe re-purpose and flip on:
https://github.com/ansible/awx/commit/16848e9154b5a15e1051439c491d20d6feb03e23#diff-6fb7bd98930ec6a05c1ae9296b41b63921e1813dcee53895f16769f910917c38

@ryanpetrello also pointed out that the 3.8 bigint migration is no longer needed because of deprecated tower versions.

[2021-02-25 20:24] msilmser opened #9418 "RFE: Re-introduce Fact Cleanup Job"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The fact cleanup job was deprecated in 3.3 and removed in 3.5. Currently, the only way to purge facts on a host is to run the clean_facts meta task in a playbook:

- hosts: all
  gather_facts: false
  tasks:
    - name: Clear gathered facts from all currently targeted hosts
      meta: clear_facts

There should be a quick method in the UI to clean fa

[2021-02-25 21:44] keithjgrant commented on #7506
Behavior may have changed slightly here... I can only reproduce this now by toggling the variables to JSON and back to YAML. This makes sense on some level, since JSON doesn't support some of the expressions that YAML does (like &/* repeated nodes). @chrismeyersfsu are you still able to produce this bug without clicking the JSON toggle?

Regarding the toggle: Should we take steps to prevent this b

[2021-02-25 22:10] ryanpetrello commented on #9415
Hey @pipinstallyogi,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-02-25 22:10] #9415 closed, assigned to nobody

[2021-02-26 07:01] beny18241 opened #9419 "'Kubernetes: Migrate Database' Fails with 'ValueError: Unable to configure handler 'console''"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using the Kubernetes install method, the "Migrate database" step fails within the error: "ValueError: Unable to configure handler 'console': Unable to add filter 'guid': 'guid'", "command terminated with exit code 1"]"

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: kubernetes
* Ansible version:  2.9.18
* Operating System: SMP Debian 4.1

[2021-02-26 07:12] 0xbentang opened #9420 "Unable to copy job templates with Normal User"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A normal user can't copy job templates.

The user already has admin permission on the inventory and project (the template doesn't need credentials)

I can create a new template with exactly the same inventory and project, but there isn't even a copy button for the new template.

This has been asked in below but still no concrete answers.

https://githu

[2021-02-26 07:26] 0xbentang commented on #9420
More testing:

Initially the user only has `Member` role in the organization.

After adding `workflow admin` now I can copy

I think this is very likely a bug

[2021-02-26 10:18] samalv commented on #7403
so sorry guys ... I have just missed to reply, I don't know how many entries I have in my activity stream but the last job number I have  is 67988

[2021-02-26 10:22] samalv commented on #7403
I have 31,849 job :-)

[2021-02-26 13:40] sangdrax8 commented on #9241
I believe I am seeing this as well.

To be clear, in my case if there is a Template, that is then used in a single Workflow.  Limits are applied.

The following limit is passed into the template from the workflow
- Delete VM Template
- - Limit set to prompt
- Delete Workflow using Delete VM Template
- - Limit set on launch and passed to the template in question

What doesn't work, is then using TH

[2021-02-26 14:03] sangdrax8 commented on #9241
I stand corrected.  I thought this was working partially, however it seems it is worse than I expected.  The only limit I seem to get working is if a Workflow prompts and sets the limit for all templates in the workflow.

If I don't prompt at the workflow level, and try and pick a limit per template in the workflow directly, those templates do not get the limit applied.

I am testing version 15, a

[2021-02-26 14:57] laschalkh commented on #9043
what is the path to edit this manually?

[2021-02-26 15:01] yigitpolat commented on #9413
it seems like they have moved the docker-compose installation steps to https://github.com/ansible/awx/tree/devel/tools/docker-compose
But couldn't make it work. What you mean with N-2 version by the way, let me give a try to that one.

[2021-02-26 15:06] rdzielicki commented on #9413
in fact more than n-2 version, AWX 14.0.1 works perfectly in my environnement
Also a big warning regarding 17.X version: AWX interface configuration is not implemented yet ( showing screen coming soon), so if you need extra vars global vars, you cant use them with AWX 17.X ( ie SSL verify disable)

[2021-02-26 15:06] RosarioVinoth commented on #9419
I ran into the same problem when deploying awx (v17.0.1) in kubernetes.

bash-4.4$ awx-manage migrate --noinput
Traceback (most recent call last):
  File "/usr/lib64/python3.6/logging/config.py", line 692, in add_filters
    filterer.addFilter(self.config['filters'][f])
  File "/usr/lib64/python3.6/logging/config.py", line 326, in __getitem__
    value = dict.__getitem__(self, key)
KeyError: 'guid

[2021-02-26 17:17] hseitz-unwired commented on #5079
Forgot to change awx_secret_key on deployment - found this and works like a charm 👍 thanks!

[2021-02-26 17:18] haydenseitz commented on #5079
Forgot to change awx_secret_key on deployment - found this and works like a charm 👍 thanks!

[2021-02-26 18:33] mlowery84 opened #9421 "Migrate Database fails because of guid filter"
Running awx on microk8s

running microk8s with config filled out. expected to complete and site to run  however migration fails on the last step.   not sure if this is related to the most recent commit for guid filter or not.

TASK [kubernetes : Migrate database] ****************************************************************************************************************************************

[2021-02-26 19:12] ElTimablo commented on #1125
This is still an issue. I'm running into it without even using awx.

[2021-02-26 20:44] AleksandrKls opened #9422 "Installation without kubernetes or openshift (no openshift, no kubernetes)"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
- Installer

##### ENVIRONMENT
- AWX version: 17.0.1
- AWX install method: without kubernetes or openshift
- Operating System: Debian

##### QUESTION
We do not use system for automating deployment. How can we deploy an application without using Kubernetes or OpenShift?

[2021-02-27 10:17] LokiOfNorse commented on #9415
@pipinstallyogi
Same here. I installed version 17.0.0 I stead. Worked but didn't find the version that stabile.
I had to create the admin user afterwords from within the docker.

[2021-02-27 10:20] LokiOfNorse commented on #9413
@rdzielicki @yigitpolat i have been trying this myself for a few days with different versions.
Latest is to be compiled in docker compose as a dev environment or use Kubernetes for prod.

I found that installing v17.0.0 and migrate db and create admin user within the web docker itself worked. There is absolute a lack of documentation.

[2021-02-27 10:21] LokiOfNorse commented on #9393
@cslinuxfr you can install v17.0.0.0 and it works fine. If your user credentials doesn't follow in the build, create the admin user manually within the web container cli.

[2021-02-27 13:51] pipinstallyogi commented on #9415
@LokiOfNorse So when you created admin user from within the Docker, did it work as expected? Thanks

[2021-02-27 16:42] kladiv commented on #9422
+1 why no more local_docker (from 17.0.1)?

[2021-02-27 22:05] LokiOfNorse commented on #9415
@pipinstallyogi
Yes, for some reason the build would not take my user creds with it and installation halted in the last task. So I had to migrate db and create user in the web container manually after some hours of searching in forums.

I can now login, but I have not yet to test AWX to see if its works with any playbooks but, I hope to have time tomorrow. Let me note that im new to both DevOps an

[2021-02-27 22:44] yigitpolat commented on #9413
@LokiOfNorse It seems they have just took docker-compose documentation from main README.md file to tools/docker-compose/README.md. Probably it will be more clear in the following days.

Besides, I followed the documentation and executed the make docker-compose build, make docker-compose, created admin user, however still cannot connect to the frontend.

On the left hand-side make docker-compose is

[2021-02-27 22:45] yigitpolat commented on #9422
take a look at https://github.com/ansible/awx/tree/devel/tools/docker-compose

[2021-02-28 00:16] kladiv commented on #9422
Hi,
i'm not talking about build Ansible development docker images but standard installation of AWX (there was a role local_docker in the installer dir). It uses images from DockerHub

[2021-02-28 05:50] yigitpolat commented on #9422
You can follow 'Run AWX - start the containers' subtopic inside that readme.

[2021-02-28 07:06] NebraskaCoder commented on #9364
For me, no change. I'm on Ubuntu 20.04.2 with it installed in Docker. In my project, I unchecked Update Revision on Launch.

[2021-02-28 07:59] NebraskaCoder commented on #9364
I also see these errors in the Redis image:

27:C 28 Feb 2021 07:58:18.043 # Failed opening the RDB file dump.rdb (in server root dir /data) for saving: Permission denied
1:M 28 Feb 2021 07:58:18.143 # Background saving error
1:M 28 Feb 2021 07:58:24.056 * 100 changes in 300 seconds. Saving...
1:M 28 Feb 2021 07:58:24.056 * Background saving started by pid 28
28:C 28 Feb 2021 07:58:24.057 # Failed

[2021-02-28 08:04] NebraskaCoder commented on #9364
When I issue a `docker restart awx_redis` - No errors appear, the playbooks run, and everything is happening but then dies after so long (I didn't watch how long it took the first time, waiting on the second time). When I say die, the errors in my last comment appear over and over and jobs running have a 500 error. If jobs were pending before, they stay pending.

The server's RAM is showing 2.59G/

[2021-02-28 08:14] NebraskaCoder commented on #9364
Looks like my issue is related to Issue #9401 with a workaround at https://github.com/ansible/awx/issues/9401#issuecomment-785886272

[2021-02-28 08:36] LokiOfNorse commented on #9413
@yigitpolat Hi,
Follow this guide until the git clone (don't do that) https://computingforgeeks.com/how-to-install-ansible-awx-on-ubuntu-linux/ . (next steps as sudo)
`wget https://github.com/ansible/awx/releases/tag/17.0.0`
`tar -xvzf 17.0.0.tar.gz`
`mv awx-17.0.0 awx`
cd into awx/installer and run the playbook. If it stops at the last step: migrate task container or what it was. hit ctrl - c.
Ch

[2021-02-28 09:08] yigitpolat commented on #9413
Yes, this definitely works, Thanks! My problem is with 17.0.1 release. Been working on it but couldn't make it run.

[2021-02-28 09:11] LokiOfNorse commented on #9413
@yigitpolat  no problem.
Im now having some issues with "Sync for Revision" when trying to connect to local hosted gitlab.
Is there any stable version of this that is working? hehe

[2021-02-28 10:01] LokiOfNorse commented on #9413
Jobs is stuck at pending and I can't see any containers named "Task". Only web, Postgress and rediss.

[2021-02-28 10:03] yigitpolat commented on #9413
Let me know if you give a chance to https://github.com/ansible/awx/tree/devel/tools/docker-compose

[2021-02-28 11:35] LokiOfNorse commented on #9413
@yigitpolat  i have followed the steps in that url very carefully but it doesn't work. I only get stuck in the dubbed lines and it can run forever (multiple hours) until I stop it.

[2021-02-28 12:09] LokiOfNorse commented on #9413
@yigitpolat
What I figured out was that the debug start when it can't start the one container. Hit ctrl + c and you will see an error" can't kill ´container ID´because ´container ID´ is not running.
Run `docker start 'container id' ` (of the container that can't start) and awx_tools is good.

Then run: docker exec tools_awx_1 make clean-ui ui-devel
The awx will then run in the localhost as documen

[2021-02-28 12:25] yigitpolat commented on #9413
@LokiOfNorse

What is says here (https://github.com/ansible/awx/tree/devel/tools/docker-compose) is after running `docker exec tools_awx_1 make clean-ui ui-devel`, the UI can be reached in your browser at https://localhost:8043/#/home

Checkout my screenshot above. After I run `docker exec tools_awx_1 make clean-ui ui-devel`, I show the running containers with docker ps and then try to curl localh

[2021-02-28 12:29] LokiOfNorse commented on #9413
@yigitpolat The line I wrote is for development.

Im in this process now: https://github.com/ansible/awx/blob/devel/awx/ui_next/README.md#building-for-production building for production and changes the ip address all the way down.

Im not sure if it will work but the build for production is out of date and this needs a new guide I guess? I don't understand the documentation rules or guides here.

[2021-02-28 12:33] yigitpolat commented on #9413
Nice idea. Lets see if that works.

I will later on try to deployment to Kubernetes or OpenShift. Hope those will be run as expected.

[2021-02-28 12:34] LokiOfNorse commented on #9413
@yigitpolat  well as I understand awx documentation after a week of working with it from every angle.
Docker deployments are for development, and you can build for production but you need to secure it and configure it your self first.

Kubernetes is for prod.

[2021-02-28 12:39] yigitpolat commented on #9413
@LokiOfNorse yep that is what I thought as well. But at the same time I thought development environment will be enough for me as I will use that just for learning and trying stuff. So docker-compose up is really simplified and fast method. However, I still wonder why I couldnt make it work.

[2021-02-28 12:45] LokiOfNorse commented on #9413
@yigitpolat followed the dev guides to the point. didn't work.
I guess cabernets cluster there is since the other guides doesn't work.

[2021-02-28 16:47] jon4hz commented on #9422
Yeah it's a bummer that they removed the local_docker installation...

[2021-02-28 20:04] mlowery84 commented on #9419
copy of another issue 9419

[2021-02-28 20:05] mlowery84 commented on #9421
9419 copy of another issue

[2021-02-28 20:05] #9421 closed, assigned to nobody

[2021-02-28 20:05] mlowery84 commented on #9419
Getting the same issues with my install on microk8s.   wondering if its related to the most recent pull request about guids ?

[2021-02-28 21:37] flyboyjon commented on #7600
Was this feature intentionally not moved to the 'new' UI ?   In v17.0.1 HTML tags are now just rendered as plain text.

[2021-02-28 22:09] anthonyd-cd commented on #1125
Honestly man I gave up on this a longgggg time ago. I came to the conclusion that the console doesn't offer all that much than if you do it in the console. It's been a few years now and honestly I couldn't live without the CLI now so if I were you I would just forget about this thing lol

[2021-03-01 05:38] suryarao67 commented on #8505
If rsyslog has never been observed to be unresponsive, then I am confused as to why the need arose to drop messages as part of PR# [7292](https://github.com/ansible/awx/pull/7292)

If rsyslog was responding but the external log aggregator was unresponsive, then rsyslog has a mechanism to queue messages locally on disk and retry ( if I am not mistaken ). Our observation was that Tower processes blo

[2021-03-01 06:47] Julieeeen commented on #9419
I have the same issue when I try to install on AKS

[2021-03-01 08:12] yangzhang-ibm-au commented on #9267
@wenottingham Thanks for your confirmation! Yes, I will use a script in my project instead.

[2021-03-01 08:15] yangzhang-ibm-au commented on #9267
Yeah, my python script worked with AWX 15.0.1. I will check if a bash script can do the job anyway. Thanks for your suggestion!

[2021-03-01 08:43] seaman25 commented on #9267
@wenottingham Thanks for your confirmation! Yes, I will use a script in my project instead.

[2021-03-01 08:43] seaman25 commented on #9267
Yeah, my python script worked with AWX 15.0.1. I will check if a bash script can do the job anyway. Thanks for your suggestion!

[2021-03-01 08:46] yangzhang-ibm-au commented on #9267
Btw, I got from a colleague that the issue will be fixed in a future version which contains this https://github.com/ansible/awx/pull/9120.

[2021-03-01 08:47] seaman25 commented on #9267
Btw, I got from a colleague that the issue will be fixed in a future version which contains this #9120.

[2021-03-01 10:29] jean-christophe-manciot opened #9428 "Cannot build images due to multiple issues"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Building manually the images instead of pulling them from docker hub fails.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method:  docker compose on Linux
* Ansible version: 3.0.0
* Operating System: Ubuntu 21.04
* docker-ce: ```5:20.10.4~3-0~ubuntu-groovy```
* docker-compose: 1.28.5

##### STEPS TO REPRODUCE
0.1. Run inside Python3 virtual en

[2021-03-01 13:36] mo-saeed opened #9429 "ansible awx redis permission issue"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx-redis produces this error in our kubernetes cluster:
[code]
and this causes awx-task error
[code]
The issue is related to wrong configuration [here](https://github.com/ansible/awx/blob/15.0.1/installer/roles/kubernetes/defaults/main.yml#L33) the user with `1001` id doesn't exist, the actual redis user is with id `999`

here's /etc/passwd from the p

[2021-03-01 13:44] uvu9Ba opened #9430 "dispatcher (exit status 1; not expected) - returned more than one InstanceGroup -- it returned 2!"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

After importing postgres dump task container reports following error:
[code]

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: kubernetes
* Ansible version:  3.0.0
* Operating System: Fedora 33
* Web Browser: Vivaldi

##### STEPS TO REPRODUCE

[code]
Then remove the double entry like in https://github.com/ansible/awx/issues/4419 explaied.

[2021-03-01 13:48] uvu9Ba commented on #9430
I even try to delete the other entry as well - nothing changed :(
[code]

[2021-03-01 13:59] emulanob opened #9431 "[17.0.1] UI: Broken link: Clicking on "User Details" gives 404 Page Not Found"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Clicking on "User Details" in the upper right page corner gives 404 Page Not Found.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker (deployment on Nomad)
* Ansible version:  2.9.17
* Operating System: ubuntu 20.04
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. login into AWX
1. click on the user

[2021-03-01 14:16] uvu9Ba commented on #9430
Repated the steps but this time I set the replicas to 0 before I imported the sql dump.
Then I removed the imported schedule_last_run. And then set the replicas back to 1.

Now it works

[2021-03-01 14:16] #9430 closed, assigned to nobody

[2021-03-01 14:43] tiagodread opened #9432 "Execution environment details view missing organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The `Organization` information is not present on details view for an Execution Environment

##### STEPS TO REPRODUCE

1. Create an EE with organization
2. Navigate to details view

##### EXPECTED RESULTS

The organization assosiated should be displayed

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

![image](https://user-images.githubusercontent.c

[2021-03-01 14:44] tiagodread commented on #7884
Related: https://github.com/ansible/awx/issues/9432, https://github.com/ansible/awx/issues/9441

[2021-03-01 14:48] nixocio opened #9433 "Checkbox misaligned with items on final build Organization Lookup"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Checkbox misaligned with items on final build Organization Lookup. This misalignment is not noticeable on devel environment, but as part of the final build. `make ui-devel`.

![image (7)](https://user-images.githubusercontent.com/9053044/109513547-38573880-7a73-11eb-8485-834c645d2e7d.png)

[2021-03-01 14:51] jbradberry commented on #9416
Related #9346

[2021-03-01 14:53] lucab85 opened #9434 "request_tower_configuration.ps1 problem windows 2012 and 2016"
We have to limit this because of limited volunteer time to respond to issues! -->

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
`request_tower_configuration.ps1` doesn't run on windows 2012 and 2016

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: ansible tower
* Ansible version:  2.9.15
* Operating System: Red Hat Enterprise Linux release 8.3 (Ootpa)
* Web Browser: Firefox 85.0.1

[2021-03-01 14:54] jbradberry commented on #9250
Related #9346

@mabashian I think that the merge of the above PR unblocks this.

[2021-03-01 15:42] rockandska opened #9436 "[LDAP] No unbind after credentials verification"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using LDAP connection, AWX doesn't send an `unbind` command to the LDAP server after checking the credentials.

##### ENVIRONMENT
* AWX version: 3.0.1.0
* AWX install method: docker
* Ansible version:  2.7.7
* Operating System: centos 7
* Web Browser: firefox

##### STEPS TO REPRODUCE

Configure ldap authentication and use it

##### EXPECTED RESUL

[2021-03-01 16:25] akus062381 commented on #8830
Changing back to needs_devel- I just reproduced this bug.

[2021-03-01 16:29] akus062381 commented on #4958
1. There is no record of this being tested and there are no stubs.
2. We are missing access tab links for notifications and projects as well.
3. Some of the best examples so far: tabs.spec for Organizations. The context is Access Tab - List Operations. ALSO- Workflows test suite- see the tabs.spec file.

[2021-03-01 16:36] akus062381 commented on #8830
Similar to https://github.com/ansible/awx/issues/8708

[2021-03-01 16:49] unlikelyzero commented on #2056
Note: we will need to worry about packaging and non-production builds outside the scope of this ticket

[2021-03-01 16:49] #2056 closed, assigned to nobody

[2021-03-01 16:53] papapillon opened #9440 "Project does not use the latest commit on auto refresh"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
 - UI
##### SUMMARY
When the inventory project does not use on the latest commit when the resync is raised by a job. The resync on the last commit is possible only when you request it manually.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version: 2.9.17
* Operating System: centos 8
* Web Browser: 85.0.

[2021-03-01 16:57] unlikelyzero commented on #3321
retest as a part of https://github.com/ansible/awx/pull/8168

[2021-03-01 16:58] unlikelyzero commented on #3321
Implicitly tested as a part of https://github.com/ansible/awx/pull/8168

[2021-03-01 16:58] #3321 closed, assigned to nobody

[2021-03-01 16:59] #3777 closed, assigned to nobody

[2021-03-01 17:02] unlikelyzero commented on #4532
assigning to @akus062381 to retest

[2021-03-01 17:04] ryanpetrello commented on #9422
👋

I want to chime in - 17.0.1 still definitely supports the current "local Docker" install method.  If it's not working, or you're having trouble, make sure you've actually cloned the appropriate 17.0.1 tag (or downloaded the proper release tarball: https://github.com/ansible/awx/releases/tag/17.0.1).

In the near future (the next major release), we're making changes to how you deploy AWX on Dock

[2021-03-01 17:04] #9422 closed, assigned to nobody

[2021-03-01 17:05] unlikelyzero commented on #4983
@mabashian please adjust labels

[2021-03-01 17:34] kladiv commented on #9422
@ryanpetrello in next release (major too) will you still update the AWX docker images in Docker Hub?

[2021-03-01 17:36] mabashian commented on #8921
Here's what we need to do here:

1) Prevent users from _selecting_ credentials that prompt for passwords on workflow nodes/schedules where credential is promptable
2) If a JT prompts for credentials and a default credential prompts for passwords then the credential must be replaced with one that does not prompt for password(s) in the schedule/wf node before it can be saved.
3) Prevent users from _

[2021-03-01 17:53] rguhr commented on #9429
Same issue: https://github.com/ansible/awx/issues/9401

[2021-03-01 17:56] ryanpetrello commented on #9429
Duplicate of https://github.com/ansible/awx/issues/9401

[2021-03-01 17:56] #9429 closed, assigned to nobody

[2021-03-01 18:05] shanemcd commented on #9422
@kladiv The images on Docker Hub will not work for the development environment.

The next major release we will also remove the existing Kubernetes installer in favor of https://github.com/ansible/awx-operator. The images for this Operator will live on quay.io.

[2021-03-01 18:12] phordee commented on #2941
+1 for being able to prompt on launch. I'd like to have the additional flexibility to configure how many splices a job can run on depending on the criticality of the window we're running in. For example, if the template is in  a workflow then it may be necessary to execute the job quicker with a higher number of splices vs running the job on its own where we don't care about the runtime.

[2021-03-01 18:26] mo-saeed commented on #9429
Are you sure it’s the same issue? my issue fixed when I Changed the default Value of runAsUser to 999 coz 1001 is the wrong user ID

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ryan Petrello <notifications@github.com>
Sent: Monday, March 1, 2021 6:57:00 PM
To: ansible/awx <awx@noreply.github.com>
Cc: Mohamed Saeed <mohamed.saeed@akelius.de>; Author <author@nor

[2021-03-01 18:39] mabashian commented on #6528
OK so, this issue was addressed by [this commit](https://github.com/ansible/awx/commit/ca1e597a4dec9f9ef70dbe7a198bca4601b0cd8d) of [this PR](https://github.com/ansible/awx/pull/8399).

We didn't seem to add a lot of unit test coverage though so I'm going to add some in a separate PR.

This is being tracked by https://github.com/ansible/awx/issues/6805

Soon this will not be possible with https://

[2021-03-01 19:00] tiagodread opened #9441 "Advanced search for type returns 400"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Trying to do an advanced search by `type` the results are always `ExecutionEnvironment has no field named 'type'`:

![image](https://user-images.githubusercontent.com/12464858/109544586-83d70a00-7aa6-11eb-994c-dedcbce8801a.png)

[2021-03-01 19:10] ryanpetrello commented on #8883
@jplitza it's been awhile, but we're working on merging in support for table partitioning for this data in an upcoming release of AWX, and I expect you to see notable performance improvements when that work lands: https://github.com/ansible/awx/issues/9039

[2021-03-01 19:10] #8883 closed, assigned to nobody

[2021-03-01 19:48] wenottingham commented on #9364
Closing as a duplicate of #9401.

[2021-03-01 19:48] #9364 closed, assigned to nobody

[2021-03-01 20:02] wenottingham commented on #9419
You're installing with a mismatched installer version (devel) and image version (17.0.x).

Make sure you check out the tag for the version you want to install.

[2021-03-01 20:02] #9419 closed, assigned to nobody

[2021-03-01 20:12] wenottingham commented on #9403
`extra_vars` vs a specific model field isn't the distinction here - it's still a user configuration item that causes the playbook to run differetly inside and outside of AWX, in a way that can't be replicated outside (as opposed to, say, passing a limit).

I'd be against solving this in AWX just because of the coordination that's required - for each template, the template author would need to expl

[2021-03-01 20:21] wenottingham commented on #8505
That PR was fixing it to not break when rsyslog is misconfigured by the user. We have not seen issues in AWX beyond that.

If you have an issue with a downstream distribution of AWX that requires debugging and support, please talk to Red Hat support; this is not the place for that.

[2021-03-02 06:59] hurdigurdi commented on #9404
Update to this issue:

it appears this is being caused by a resource bottleneck on the K8s Cluster, which leads to the rsyncs exceeding the AWX_ISOLATED_CHECK_INTERVAL.

We applied following changes:
* migrate K8s nodes running Container Groups to nodes with more available vCPUs
* extend AWX_ISOLATED_CHECK_INTERVAL to 60 seconds
* introduce CPU resource limits in Container Group Pod definition (li

[2021-03-02 08:07] rdzielicki commented on #9413
hope the support with Docker will be still maintained, in the requierements it should be still supported

[2021-03-02 09:41] kristofre commented on #9401
I am also having success with @danukefl's solution.

[2021-03-02 12:35] vamsidvk09 opened #9444 "s3 object decryption doesn't work with aws-encryption-sdk-cli/2.1.0 using shell module in AWX"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
As part of the playbook execution , Playbook downloads s3 objects (basically acm certificates stored in s3 bucket with customer master key encryption enabled)  and decrypts using aws-encryption-cli (shell module used). Decryption operation is working fine in the task container where as AWX UI somehow fails the operation.
##### ENVIRONMENT
* AWX version

[2021-03-02 12:37] sangdrax8 opened #9445 "SCM Branch missing Job Details"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The SCM Branch does not show up in job Details.  As branches can be overridden as a selection when launching a template, being able to confirm the branch is important to understanding  a job.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.17
* Operating System: Windows 10
* Web Browser: Chrome

##

[2021-03-02 12:41] sangdrax8 opened #9446 "SCM Branch missing from Template Edits"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
SCM Branch only available when creating a template.  After selecting a project for a template, the SCM Branch option will be available, as well as the check box for allowing override.  Once saved, the Source Control Branch shows up but is missing the "Prompt on Launch) indication.  When the job is edited, the SCM filed is missing completely from the ed

[2021-03-02 13:38] unlikelyzero commented on #8839
@one-t looks like it failed to merge. Leaving this open until it merges

[2021-03-02 14:02] IPvSean opened #9447 "awx/tower module to shut"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

in Ansible Workshops we setup Ansible Tower clusters in bulk and we have to issue SSL certs and turn tower on/off depending on what we are doing.

Right now we have a lot of tasks like this->

[code]

it would be ideal to have a module to do this.... I am not sure if it would be ok to just use `ansible.builtin.service` or if there is a certain order

[2021-03-02 14:07] unlikelyzero commented on #9445
@sangdrax8 thanks for filing this issue, we're tracking this functionality in this issue here: #8788

Please subscribe to the updates to see when it lands in the next available release!

[2021-03-02 14:07] #9445 closed, assigned to nobody

[2021-03-02 14:08] unlikelyzero commented on #9446
@sangdrax8  thanks for filing this issue, we're tracking this functionality in this issue here: #8788

Please subscribe to the updates to see when it lands in the next available release!

[2021-03-02 14:08] #9446 closed, assigned to nobody

[2021-03-02 14:28] tiagodread opened #9448 "Execution Environments - Activity Stream"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Clicking on the right top button for Execution Environment Activity Stream the option displayed on select component, isn't following the actual pattern (sub items)

##### STEPS TO REPRODUCE

1. Click on Activity stream button
2. Open the Activity Stream type select

##### EXPECTED RESULTS

The item Execution Environment should be present inside of `Adm

[2021-03-02 14:29] tiagodread commented on #7884
Related: https://github.com/ansible/awx/issues/9448

[2021-03-02 14:47] msilmser opened #9449 "RFE: Add retries to combat connection issues with credential plugins"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When there are intermittent connection issues, failing to reach out to a credential vault will fail the entire playbook. Adding any amount of retries to the plugin will help complete these jobs successfully in the event of a connection failure.

https://github.com/ansible/awx/tree/devel/awx/main/credential_plugins

[2021-03-02 14:56] Here-Be-Dragons commented on #9171
I am experiencing the same issue with any surveys that are created using the `awx.awx.tower_job_template` resource from collection awx.awx 17.0.1.

[2021-03-02 15:22] Here-Be-Dragons commented on #9171
[The API Documentation](https://docs.ansible.com/ansible-tower/latest/html/towerapi/api_ref.html#/Job_Templates/Job_Templates_job_templates_survey_spec_create) for survey creation claims that you need to pass an array for multiple choice option types, however when I look at working (via Web GUI creation) and non-working (via API creation), a GET returns different results:

**Not Working, Created v

[2021-03-02 15:32] jlmitch5 opened #9451 "Instead of hiding "Add job template", disable and give tooltip as to why."
We are currently hiding the "Add job template option" in the template add dropdown element when the use has not created/has access to all the resources needed to save a JT.

![Screen Shot 2021-03-02 at 9 57 05 AM](https://user-images.githubusercontent.com/1342624/109671540-2c867780-7b42-11eb-9e90-bb68267cc541.png)

We would like to revise this to still show "Add job template", but disable it and g

[2021-03-02 15:35] akus062381 commented on #8830
Also- when testing, make sure you verify that the team names will be visible on the access tab next to associated user name

[2021-03-02 15:37] jakemcdermott commented on #9449
I like this idea but I have concerns. We'll need to keep in mind that there's potentially one of these requests for _each_ field on a credential. Job templates can have an arbitrary number of credentials and credentials themselves can have an arbitrary number of fields, so we'll want to think about how to handle timeouts for the timeouts and surface those errors to the user in a meaningful way.

[2021-03-02 15:44] jakemcdermott commented on #9449
Advisable to listen to this on repeat if/when this is implemented: https://www.youtube.com/watch?v=BDww1S1GLvE

[2021-03-02 15:44] ryanpetrello commented on #9449
What @jakemcdermott said - sufficient latency to one of these third party systems could result in *very drastic* bottlenecks at job launch time.  Imagine 5 retries w/ a timeout of 5 seconds.  Now imagine you have 5 secret fields.  That's 2+ minutes of waiting on your secret provider to fail.

[2021-03-02 16:45] nixocio commented on #9448
This work has not been done yet - https://github.com/ansible/awx/issues/9308

[2021-03-02 16:51] tiagodread commented on #9448
@nixocio sorry for the confusion, closing this as a duple

[2021-03-02 16:51] #9448 closed, assigned to nobody

[2021-03-02 17:00] akus062381 opened #9455 "Multiple Admin Permissions Appear for Team Roles on Resource Access List"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When viewing users on Access tab for resources, the admin role can appear more than once.

##### ENVIRONMENT
* AWX version: Devel 3/2/2021

##### STEPS TO REPRODUCE

Create a user in the user tab.
Create a team in the team tab. Add this team to the same organization that the user is in that you just created. Add the user you just made to that team and

[2021-03-02 17:19] john-westcott-redhat commented on #9447
As of, roughly, 3.7 the ansible-tower-service script is really just wrapping systemctl. Because of this you could just use the service module for start/stop/restarts like so:
[code]

[2021-03-02 17:21] egmar commented on #9403
@wenottingham it can be replicated outside of AWX by using same method proposed in RFE. e.g. `jq`/`yq` to filter into a temporary location, run playbook with custom `ansible.cfg`, re-merge facts back into origin again with `jq`/`yq`.

In our case, developers are talking to users and vice-versa, or even better have automations which pre-configure job templates as required, as such I do not see this

[2021-03-02 17:27] akus062381 opened #9456 "Adding a User or Team to the Access tab of a Credential Can't be Saved"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When attempting to give access to a user or a team inside of a credential, the check boxes behave strangely and the Save button does nothing when clicked.

##### ENVIRONMENT
* AWX version: Devel 3/2/2021

##### STEPS TO REPRODUCE

Click on Credentials.
Click on a single credential and navigate to its access tab.
Click Add, and select either User or Tea

[2021-03-02 17:29] ryanpetrello commented on #9447
Yep, ☝️ is what you want.

[2021-03-02 17:29] #9447 closed, assigned to nobody

[2021-03-02 18:05] IPvSean commented on #9447
perfect! keep it closed

[2021-03-02 18:32] keithjgrant commented on #8906
Our normal tactic is to wait until the first onBlur event to begin validating a field. Is there a reason that approach wouldn't work here?

[2021-03-02 18:55] akus062381 commented on #4958
PR: https://github.com/ansible/tower-qa/pull/6041

[2021-03-02 19:13] mabashian opened #9458 "Edit node credentials shows overwritten credential as selected"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1376" alt="Screen Shot 2021-03-02 at 2 09 32 PM" src="https://user-images.githubusercontent.com/9889020/109701528-205de280-7b61-11eb-8ea2-4d781444e8b2.png">

In this scenario, I created a node that overrides the default machine credential on a JT.  After saving the workflow and coming back in, the above screenshot is what I saw when editing

[2021-03-02 19:33] mabashian commented on #6528
cc @unlikelyzero @tiagodread @one-t @akus062381

Here's a PR with unit tests to cover the different scenarios where we want to show an error on workflow save:

https://github.com/ansible/awx/pull/9460

Feel free to add to those cases as you see fit.

Otherwise, I believe the development work here is done.

[2021-03-02 19:38] rooftopcellist commented on #8356
This will also allow us to run `lingui extract-template` to create `messages.pot` for the UI strings.  This is needed for translations.

I have tested this out with `@lingui/cli@3.4.0`.  There are other changes needed to get the build/complile targets working, but it worked for running `extract-template`.

In case it is useful to whoever works on this feature, my diff was:
[code]

Then I installed

[2021-03-02 20:12] shanemcd commented on #6807
Maybe helpful: https://docs.ansible.com/ansible/latest/dev_guide/developing_plugins.html#cache-plugins

[2021-03-02 20:55] rooftopcellist commented on #8356
These `lingui` [configuration docs](https://lingui.js.org/ref/conf.html#locales) will probably be useful as well.  We will need to add the following to `ui_next/.linguirc`

[code]

[2021-03-02 21:39] chrismeyersfsu commented on #6807
https://github.com/ansible/awx/blob/devel/docs/debugging.md#code-instrumentation-timing Tooling that you can use to help you time various pieces of the fact cache process in AWX. Maybe you can stay in AWX without going into Ansible to know things about Ansible. For example, `playbook_on_start` is sort of the first event that is emitted from Ansible. Maybe you can rely on the `created` timestamp of

[2021-03-02 22:15] chrisbalmer commented on #9151
If you edit the organization (not the credential), there is a special field in there to associate a specific Galaxy Credential with the organization. This is different than the credential's own organization mapping. So there are two spots where the credential is linked to the org.

It took me a while to catch that second spot but it fixed the problem for me.

It's mentioned [here in #2](https://do

[2021-03-02 23:27] jonathan2324 commented on #9413
Hi Everyone,

Did anyone on here end up figuring out how to make this work? I am trying to install awx on Ubuntu but it is not working correctly. I see the skipping on all tasks as well and I even tried to use the docker guide in the repo with no success.

[2021-03-03 00:32] jladdjr commented on #9257
Knocked this out with a ton of help from @ryanpetrello - thank you!

[2021-03-03 00:32] #9257 closed, assigned to jladdjr

[2021-03-03 07:45] yigitpolat commented on #9413
I later realized the devel branch is the master and get the latest commits. So many documentations on the web outdated. The best way to work with the awx version is releases https://github.com/ansible/awx/releases
However, I couldn't make it work with the latest versions since I am facing with awx_task container created but never running. The release version 12.0.0 works fine.

[2021-03-03 08:42] mem- opened #9463 "Login using PassFF plugin, AWX reveals password in URL"
I use "pass" (http://www.passwordstore.org/) as password manager together with the PassFF plugin in Firefox (https://github.com/passff/passff). When PassFF fills the login form I'm "redirected" with both username and password in the URL and not logged in to AWX. If I manually cut'n'paste my password I get in, so my password is correct.

Except the inconvenience to not get in, the main bug is that

[2021-03-03 08:43] LokiOfNorse commented on #9413
@yigitpolat Anything you miss in the 12 version? Do you deploy it regular way or do you have any guide on this?

[2021-03-03 08:45] yigitpolat commented on #9413
@LokiOfNorse Follow this https://medium.com/wxit/install-ansible-awx-on-centos-8-62c12b39890

[2021-03-03 08:47] LokiOfNorse commented on #9413
@yigitpolat its cents. well I guess I need to learn that one day also :) Thank you

[2021-03-03 08:48] yigitpolat commented on #9413
@LokiOfNorse Sorry, yes I was using cents. Probably very familiar with similar packages on ubuntu.

[2021-03-03 09:22] Vagrantin commented on #9419
Hello
I'm experiencing the same issue and I have cloned AWX (devel) and AWX latest image ( no version specified )
I'm installing AWX within minikub based on virtualbox hypervisor

ISSUE TYPE

    Bug Report

SUMMARY

Using the Kubernetes install method, the "Migrate database" step fails within the error: "ValueError: Unable to configure handler 'console': Unable to add filter 'guid': 'guid'", "com

[2021-03-03 13:49] jnemeiksis commented on #1179
raise hand for this. +1

[2021-03-03 14:14] akus062381 commented on #4958
All set

[2021-03-03 14:14] #4958 closed, assigned to akus062381

[2021-03-03 14:16] mabashian commented on #9396
I'd like to discuss this a little more before anyone works this one.  I think this tab is actually quite useful and can't be wholesale replaced by the access tab.

Here's an example:

<img width="1473" alt="Screen Shot 2021-03-03 at 9 11 10 AM" src="https://user-images.githubusercontent.com/9889020/109818326-dfb5a600-7c00-11eb-9af6-3bdde558ba7f.png">
<img width="1468" alt="Screen Shot 2021-03-03 a

[2021-03-03 14:16] mabashian commented on #9396
Marking as blocked until we figure out how to proceed

[2021-03-03 15:20] akus062381 opened #9466 "Teams access tab- Selection of Roles when adding user to team is malfunctioning"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In the Teams Access tab, when adding a user and setting permissions, the check boxes checking function is not working properly, so the person setting the permissions can check certain boxes and those permissions may or may not be set when the Save button is clicked. Please view both GIFs attached to get a better sense of what is happening.

##### ENVIR

[2021-03-03 16:22] jonathan2324 commented on #9413
@yigitpolat Do you have an example of the commands you are using with the releases? I am trying to use the version 16.0.0 but for some reason I cannot figure out how to do this.

[2021-03-03 16:47] akus062381 opened #9467 "[UX] Teams Access tab- removing a single team role removes all team roles in an unexpected way"
##### ISSUE TYPE
 - Bug Report- I thought this was a bug at first. Upon reinvestigation, I see that it was an intended thing, but from a user perspective, I wanted to suggest possible adjustments to the particulars of the design.

##### SUMMARY

When removing a team role from one user, the listed team roles for all other users disappear from view.

##### ENVIRONMENT
* AWX version: Devel 3/3/21

##

[2021-03-03 16:47] akus062381 commented on #6593
Related issues:
https://github.com/ansible/awx/issues/9467
https://github.com/ansible/awx/issues/9466

[2021-03-03 18:21] unlikelyzero commented on #8839
closing now that #8992 merged

[2021-03-03 18:21] #8839 closed, assigned to nobody

[2021-03-03 18:57] akus062381 commented on #9467
I labeled this as a 'medium' priority because I don't necessarily think this needs to be addressed before release, but I do think it could be designed better for the improvement of the user experience.

[2021-03-03 19:00] ghost opened #9469 "can not start awx_redis [Error response from daemon: OCI runtime]"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

After a patch install can not start awx_redis container

Error response from daemon: OCI runtime create failed: container_linux.go:370: starting container process caused: process_linux.go:459: container init caused: rootfs_linux.go:59: mounting "/tmp/awxcompose/redis.conf" to rootfs at "/var/lib/docker/overlay2/8b87878234d9f806633c4e714fea086459ba04f3

[2021-03-03 19:05] akus062381 commented on #6593
Stubs have been added, locators checked, manually tested.

[2021-03-03 19:05] #6593 closed, assigned to akus062381

[2021-03-03 19:24] akus062381 commented on #6865
This is going to be on the notifications-crud.spec.js doc. Should see what other copy resource tests exist and base off those.

[2021-03-03 19:40] LokiOfNorse commented on #9413
@yigitpolat finally!!! :D After soon two weeks your guide did the job with ease!
So running Proxmox (brand new to it, love it) and awx in a container deployment.

Writing jobs on my Mac, pushing the code to my local gitlab server, connected local gitlab server to AWX and it works like a dream! Thank you so much :)

[2021-03-03 19:58] akus062381 opened #9470 "Updated Locators Needed: Teams Access Tab- Add Teams Modal"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When reviewing coverage and adding stubs for the Teams Access tab, and checking to see if I would have the locators I need- I notice that the Add User/Team modal is missing some critical locators for me to be able to add coverage later. Please add these locators, thank you!

##### ENVIRONMENT
* AWX version: Devel 3/3/21

[2021-03-03 20:28] wenottingham commented on #5522
This isn't something we'd plan to do in AWX.

[2021-03-03 20:28] #5522 closed, assigned to nobody

[2021-03-03 20:29] mabashian commented on #5764
Will add this to #8249

[2021-03-03 20:29] #5764 closed, assigned to nobody

[2021-03-03 20:31] mabashian commented on #8249
Please make sure that entities are working when this is implemented.  See #5764

[2021-03-03 20:42] elyezer opened #9472 "awx.main.utils.common.get_ansible_version breaks with ansible-core"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The `awx.main.utils.common.get_ansible_version` helper breaks with new `ansible --version` when ansible-core is installed. This also changes the format the `api/v2/config` returns for the `ansible_version` field. What breaks tools that relies on this field to check the current ansible version used by AWX.

##### ENVIRONMENT
* AWX version: devel
* AWX

[2021-03-03 20:46] mabashian commented on #6082
Old UI disabled the save button until the form is valid

[2021-03-03 20:48] mabashian commented on #6082
Need to check with PF for guidance on this issue.  If they have a pattern we should follow it.

Also, when checking this we need to make sure that we're consistent with forms that include a codemirror/ace editor type thing.

[2021-03-03 20:57] mabashian commented on #6094
The idea here is to make sure that the lookup component gets highlighted when there's an error.

[2021-03-03 21:16] wenottingham opened #9473 "Add ansible version to collected EE data"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
https://github.com/ansible/awx/pull/9335 adds support for pulling collections and their versions from an EE.

This should be enhanced to also pass the ansible (core) version somehow.

[2021-03-03 22:07] wenottingham commented on #9469
Closing as a duplicate of https://github.com/ansible/awx/issues/9401

[2021-03-03 22:07] #9469 closed, assigned to nobody

[2021-03-03 22:09] wenottingham commented on #9463
The only way you'd be redirected is if the plugin is passing that as form items; the application is passing the form items that's passed to it.

You'd have to figure out what's going on in PassFF that's causing it to try and send the login info as form parameters that way.

[2021-03-03 22:09] #9463 closed, assigned to nobody

[2021-03-03 22:11] CatchKarthik opened #9475 "Specifying nodeselector during installation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

While trying to install Ansible AWX in kubernetes, I am trying to specify the node_selector variable in the below format

`node_selector="purpose: awx"`

I am getting the below error while installing
`
stderr": "error: error validating \"STDIN\": error validating data: ValidationError(Deployment.spec.template.spec.

[2021-03-03 22:22] wenottingham commented on #9396
In the old UI, this was a route (/organizations/N/teams) that you could get to from the org card, but wasn't a tab. I think keeping it as a tab makes more sense - otherwise there's no easy way to get a list of teams in an org other than by listing all teams and filtering.

[2021-03-03 22:26] dburns-vistra opened #9476 "Upgrade AWX"
##### ISSUE TYPE
 - AWX upgrade documentation

##### SUMMARY
In the last version I updated to excluding 17.0.1, the install doc had a straight forward upgrade section.  Is this intention not to update?  Also I was able to use a file called vars.yml preceeded by and @ sign, when I tried it on 17.0.1, I got an error message, so I made sure that the inventory file had all the entries that were sugges

[2021-03-03 22:36] dburns-vistra opened #9477 "AWX Project using SCM, limit to a specific branch name"
##### ISSUE TYPE
 - Feature Idea - Limit AWX Project to use a specific branch name

##### SUMMARY
I have Ansible AWX in both DEV (non-PROD) and PROD.  I am building a pipeline to mimic a previous configuration mgmt tool.  It has a concept of housing config "playbooks" on the server and supermarket.  With that, only code that passes the pipeline is promoted to PROD.  With Ansible AWX, using the SCM

[2021-03-03 22:44] wenottingham commented on #4983
Actually, closing this - we changed this behavior in the prior release.

[2021-03-03 22:44] #4983 closed, assigned to nobody

[2021-03-03 22:45] wenottingham commented on #5488
This is #4953

[2021-03-03 22:45] #5488 closed, assigned to nobody

[2021-03-03 22:46] wenottingham commented on #6020
Moving to backlog.

[2021-03-03 22:47] wenottingham commented on #6094
See: https://www.patternfly.org/v4/components/form/design-guidelines/#validation-on-submission

[2021-03-04 03:07] wenottingham commented on #6519
Implemented via advanced search, moving to needs_test

[2021-03-04 03:10] wenottingham commented on #6160
Looks to be implemented in current devel (cc @keithjgrant)

[2021-03-04 06:23] Vagrantin opened #9478 "Kubernetes AWX devel install failure"
Hello
I'm experiencing the same issue as #9419 and I have cloned AWX (devel) and AWX latest image ( no version specified )
I'm installing AWX within minikube based on virtualbox hypervisor

ISSUE TYPE

    Bug Report

SUMMARY

Using the Kubernetes install method, the "Migrate database" step fails within the error: "ValueError: Unable to configure handler 'console': Unable to add filter 'guid': 'gu

[2021-03-04 07:38] alexandrovas commented on #9321
I have same problem. File `requirements.yml` is existing in root directory `collections`, but it skipped:
[code]

[2021-03-04 10:48] dimaslv commented on #3267
Had same problem, when trying to run pip3 from under the awx, running on python2.
The cause appeared to be because of the PYTHONPATH environment variable, which was set by awx to first include python2.7/site-packages (which contains enum34, needed for python2) and after that python3.6/site-packages.
Workaround is to run "pyton3 -E -m pip" to ignore environment variable or to reset same variable in

[2021-03-04 11:23] mem- commented on #9463
I have 200+ passwords in "pass"/PassFF. AWX is the first and only site acted in this way. If PassFF had problems handling login forms the problem should show up on other sites, too.

I will file a bug report for pass/PassFF but I doubt that it is a PassFF problem.

[2021-03-04 11:26] Hetti commented on #9043
I can add some more Info to this:

My setup: ansible/awx:17.0.1 via Docker

I took me some time to figure out the broken logic:

So what currently is shown in the drop down dialogue (in the specified inventory folder):
- empty files with no content and no extension
- files with .ini extension (empty or with content - doesn't matter)

What should also work
- files with content and without an .ini e

[2021-03-04 13:41] tiagodread commented on #8618
@jakemcdermott  This is not fixed yet on development environment (3001) and production build (8043)

![image](https://user-images.githubusercontent.com/12464858/109864592-c97c0a00-7c41-11eb-8775-dda312c6390c.png)

[2021-03-04 13:41] ryanpetrello commented on #9478
Hey @Vagrantin,

https://github.com/ansible/awx/issues/9419#issuecomment-788231935

This is mostly likely that you're deploying from `devel`, but using the latest image, which is older (17.0.1).

You'll need to either `git clone -b 17.0.1` or build the `devel` image yourself:

https://github.com/ansible/awx/blob/devel/INSTALL.md#official-vs-building-images

If you need further assistance troublesh

[2021-03-04 13:41] #9478 closed, assigned to nobody

[2021-03-04 13:45] ryanpetrello commented on #9476
Hey @dburns-vistra,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-03-04 13:45] #9476 closed, assigned to nobody

[2021-03-04 13:50] tiagodread commented on #8817
The only change here was a simple label/text change, it seems to me that was firstly added wrong, but now it's fixed, also, this label text is not something that will regress because isn’t a functional change, we don't need an extra e2e test to cover it, we do have the suite `notification-crud.spec.js` that is testing the webbook option as well.

![image](https://user-images.githubusercontent.com/

[2021-03-04 13:50] #8817 closed, assigned to akus062381

[2021-03-04 14:01] tiagodread commented on #9339
This already exists in the new UI:

![schedule](https://user-images.githubusercontent.com/12464858/109974996-e6175100-7cd8-11eb-8c11-cce2065cdafd.gif)

[2021-03-04 14:01] #9339 closed, assigned to nobody

[2021-03-04 14:42] dburns-vistra commented on #9476
This is not a support issue.  Here on this site, it points to a place in the documents about upgrades.. https://www.ansible.com/products/awx-project/faq and says this...To migrate between different instances of AWX, please follow the instructions at https://github.com/ansible/awx/blob/devel/DATA_MIGRATION.md.  Which then following the links it says this... Users who wish to upgrade modern AWX inst

[2021-03-04 15:11] nixocio opened #9479 "Job Template loads twice if autopopulate is triggered"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Job Template loads twice if the project auto populate is triggered.

Right now, if there is just one project available - the auto populate will be triggered on the the Job Template Add screen, and the page will load twice.

This issue is being sorted out.

[2021-03-04 15:15] ryanpetrello commented on #9476
@rooftopcellist,

Can you add back in a short blurb like this one:

https://github.com/ansible/awx/blob/17.0.1/INSTALL.md#upgrading-from-previous-versions

...specific to the process for upgrading?  It looks like this was accidentally removed as part of https://github.com/ansible/awx/commit/9672e7283404f608abcf9f2a1489db7867d672a4

[2021-03-04 15:19] dburns-vistra commented on #9476
Thank you... I don't want to be a pain.

[2021-03-04 15:21] dburns-vistra commented on #9476
Thank you.  Given that will come back into the documents, why did the command:
ansible-playbook -i inventory install.yml -e @vars.yml - the @vars.yml not work?  Do I need to open a new issue?

[2021-03-04 15:29] ryanpetrello commented on #9476
@dburns-vistra we're changing the way the docker-compose based installation works in the next major version of AWX.

https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/bCjSDn0eBQAJ

...but this isn't released yet.  If you're deploying/upgrading to the unstable `devel` build, there's instructions here, but we haven't announced this and fully finished documenting it yet (which is why details ar

[2021-03-04 15:41] dburns-vistra commented on #9476
No, I am only moving up to the stable releases.  My company went with Chef open-source in 2017, since they changed their charging model, we are moving to Ansible AWX.  I was in the group that went with Chef in 2017, I was moved out of the group to work on ServiceNow and JavaScript, I came back to a different infrastructure group, however, they are giving me all of the "CI/CD" or "Devops" tools and

[2021-03-04 16:58] nixocio commented on #9441
This is not just an issue with EE.  It seems like we will need to re-evaluate the `type` search for other resources as well. See Organization.

<img width="1451" alt="image" src="https://user-images.githubusercontent.com/9053044/109999983-cc7a0780-7ce0-11eb-8666-9433085a2d2b.png">

[2021-03-04 17:33] tiagodread opened #9484 "Job template form being loaded twice"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Job template form is now being loaded twice because of extra requests

##### ENVIRONMENT
Devel https://github.com/ansible/awx/commit/eb131f64ccdf3fb5750528ef41cc8941efba5118

##### STEPS TO REPRODUCE

1. Navigate to job template form
2. change the network throttling to fast 3g
3. refresh the page

##### EXPECTED RESULTS

The page should be displayed af

[2021-03-04 17:33] tiagodread commented on #9189
Related: https://github.com/ansible/awx/issues/9479

[2021-03-04 17:44] tiagodread opened #9485 "Job template form - Project field validation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After selecting a project, another request is made to fetch EE information but the error `Select a value for this field` still being displayed and only disappear when filling in another field

##### ENVIRONMENT
Devel https://github.com/ansible/awx/commit/eb131f64ccdf3fb5750528ef41cc8941efba5118

##### STEPS TO REPRODUCE

1. Navigate to Job template for

[2021-03-04 17:45] tiagodread commented on #9189
Related: https://github.com/ansible/awx/issues/9485

[2021-03-04 17:45] nixocio commented on #9484
Closing this one as duplicated. See https://github.com/ansible/awx/issues/9479

[2021-03-04 17:45] #9484 closed, assigned to nobody

[2021-03-04 18:04] nixocio commented on #9485
This is probably related to https://github.com/ansible/awx/issues/9479

[2021-03-04 18:04] rooftopcellist commented on #7602
@nixocio This PR will remove the `messages.js` files, the are git-ignored, so they will no longer be an issue when the ui is built.
https://github.com/ansible/awx/pull/9483

[2021-03-04 18:45] rooftopcellist commented on #9476
Hi @dburns-vistra if you are wanting to use stable releases, the docs for that specific release will be more useful to you.  In this case, the 17.0.1 install docs can be found here: https://github.com/ansible/awx/blob/17.0.1/INSTALL.md

As @ryanpetrello mentioned, there are currently major changes to the installation paths underway.  Specifically, the k8s/openshift install playbooks will use an op

[2021-03-04 19:05] dburns-vistra commented on #9476
Oh, I get it, I am just doing a web search for Ansible AWX so it takes me to https://github.com/ansible/awx, which is showing the dev branch, but I am doing the git pull from here:   "and clone the latest stable release, e.g.,

git clone -b x.y.z https://github.com/ansible/awx.git" which is stable.  So I need to read the docs in the same location.  So in the dev branch the upgrade is gone, in the

[2021-03-04 20:04] akus062381 commented on #6865
Tests exist in notifications-operations.spec.js for the copy function. Should be all set here.

[2021-03-04 20:04] #6865 closed, assigned to akus062381

[2021-03-04 20:37] mabashian commented on #9441
Lets look and see if this is a dupe

[2021-03-04 20:41] tiagodread commented on #9441
Related: https://github.com/ansible/awx/issues/8480

[2021-03-04 21:01] mabashian commented on #8907
@keithjgrant you think this is covered by the ace editor PR?  If so can we retest?

[2021-03-04 21:01] unlikelyzero commented on #9479
Note: this is showing up in the visual tests

[2021-03-04 21:03] mabashian commented on #8878
@jakemcdermott whats the status of this?  Does it need to be tested?

[2021-03-04 21:37] tiagodread opened #9487 "EE can not be disassociated from a Job template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The user can not remove an Execution Environment from the Job template
##### ENVIRONMENT
Devel

##### STEPS TO REPRODUCE

1. Create an Execution Environment
2. Create a JT using this EE
3. Edit the JT to remove the EE

##### EXPECTED RESULTS

The EE to be removed from the JT

##### ACTUAL RESULTS

The JT still have the EE associated
##### ADDITIONAL I

[2021-03-04 21:37] tiagodread commented on #9189
Related: https://github.com/ansible/awx/issues/9487

[2021-03-04 22:08] wenottingham commented on #9463
I would also note that AWX 14.1 is an older version, and the UI has been entirely replaced since then. You may want to try on 17.x.

[2021-03-04 22:12] wenottingham commented on #9477
This isn't something we'd really add to have a sysadmin-only field on the project. The way we'd recommend this is to just set the value on the project branch/tag/rev field, and ensure that only the proper people have access to that project via RBAC.

[2021-03-04 22:12] #9477 closed, assigned to nobody

[2021-03-05 07:31] yigitpolat commented on #9413
Nice to hear that mate. Cheers !

[2021-03-05 08:18] jean-christophe-manciot commented on #9428
No such issue with the exact same parameters (except of course for ```dockerhub_base=ansible``` and ```dockerhub_version=latest```) when skipping the "build" phase and pulling the containers from dockerhub with:
```ansible-playbook -i inventory install.yml```

[2021-03-05 08:27] PiotrM-22 commented on #2240
On AWX (version 9.2.0) the bug still exists.
Is there any update on this?
When is it going to be fixed?

[2021-03-05 13:29] unlikelyzero commented on #2521
We need to verify that the WFViz supports Read Only Mode

[2021-03-05 13:33] unlikelyzero commented on #2939
@akus062381 can you check to see how we're handling this error case in the tests?

[2021-03-05 13:36] unlikelyzero commented on #2949
@akus062381 Please check our user-journey test suites to see if the notification admin has the ability to edit notifications on a JT and update the stubs

[2021-03-05 13:37] unlikelyzero commented on #2951
@akus062381 can you please retest this manually, this does not require a stub

[2021-03-05 13:41] unlikelyzero commented on #3366
@akus062381 please retest this and note if we're missing any testability.

[2021-03-05 13:42] unlikelyzero commented on #3934
@akus062381 to retest this using https://github.com/ansible/awx/issues/3934#issuecomment-507230680

[2021-03-05 13:43] unlikelyzero commented on #4063
@akus062381 please add a test here if we don't have one already

[2021-03-05 13:44] unlikelyzero commented on #4623
@akus062381 this functionality should exist, please make sure we have a stub for this case

[2021-03-05 13:49] unlikelyzero commented on #5011
@akus062381 please verify that we have a stub for ad hoc commands in the activity stream tests

[2021-03-05 13:51] unlikelyzero commented on #5033
This filter exists on _some_ lists, we care about Jobs/ List and Dashboard's Recent Jobs list

[2021-03-05 13:56] unlikelyzero commented on #5080
@akus062381 can you just check to see if the field appears in the UI? Not tests needed

[2021-03-05 13:57] unlikelyzero commented on #5236
I'll keep this one and explain the reasoning in the tower-qa PR

[2021-03-05 13:58] unlikelyzero commented on #5513
@tiagodread to test this area and update the associated tests

[2021-03-05 14:02] #6160 closed, assigned to tiagodread

[2021-03-05 14:03] unlikelyzero commented on #6160
Closing as this was tested in the tables rewrite. Remaining work can be tracked here https://github.com/ansible/awx/issues/6189

[2021-03-05 14:13] unlikelyzero commented on #6504
we have visual coverage

[2021-03-05 14:13] #6504 closed, assigned to nobody

[2021-03-05 14:15] mlowery84 commented on #9478
Having the same issue myself but i am running from 17.0.1 and have set   dockerhub_base=ansible/awx:17.0.1  in my inventory file

[2021-03-05 16:43] ryanpetrello commented on #9476
Hey @dburns-vistra,

We've just revamped the `devel` install instructions to reflect these upcoming changes (https://github.com/ansible/awx/pull/9490), and I've also added a note hopefully point people in the right direction for current stable releases:

https://github.com/ansible/awx/pull/9494

Thanks for the feedback!

[2021-03-05 16:48] tiagodread commented on #9479
Verified manually and all e2e tests are green

[2021-03-05 16:48] #9479 closed, assigned to nixocio

[2021-03-05 16:58] akus062381 commented on #8596
**Important Note: this same error is appearing when you click the Relaunch button from the job output screen.**

[2021-03-05 17:06] akus062381 opened #9495 "Updated Locators on Job Output Tab"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When reviewing coverage and adding stubs for the Job Output tab, and checking to see if I would have the locators I need- I notice that the Relaunch, Download, Delete, and Cancel buttons are missing some critical locators for me to be able to add coverage later. Please add these locators, thank you!

##### ENVIRONMENT
* AWX version: Devel 3/5/21

![ima

[2021-03-05 17:21] akus062381 commented on #8848
stubs in place, manually checked.
Cancel button is not accessible from the output view after the job has completed- it is only viewable while job is running.

[2021-03-05 17:21] #8848 closed, assigned to akus062381

[2021-03-05 17:37] ryanpetrello commented on #8505
Recent versions of AWX actually *should* print a verbose failure to stderr.  I've got a PR that makes them a bit _less_ verbose:

https://github.com/ansible/awx/pull/9452#issuecomment-791558081

I think a counter is the wrong approach here, because it doesn't actually communicate the context of the failure.

[2021-03-05 18:07] blomquisg commented on #9475
@shanemcd does this look like a bug?  Or, just passing in a badly formatted parameter?  And, does this change with the operator?

[2021-03-05 18:18] ryanpetrello commented on #9436
Hey @rockandska,

This might be a good thing to report to the folks that write https://github.com/django-auth-ldap/django-auth-ldap (AWX just makes use of this library).

If you see any movement upstream, or if a newer version already does this, let me know and when can update AWX to make use of it.

[2021-03-05 18:18] #9436 closed, assigned to nobody

[2021-03-05 18:19] blomquisg commented on #9434
@jborean93 Can you take a look at this from a powershell perspective?

[2021-03-05 18:22] blomquisg commented on #9420
@btck30351 can you try in AWX 17.0?  It's possible this was fixed since 15.

[2021-03-05 18:30] ryanpetrello commented on #9407
Hey @rchincholkar,

By default, we configure rsyslogd to spool to a disk-backed queue if the configured log aggregator (e.g., Splunk, ELK) cannot be reached.

https://github.com/ansible/awx/blob/devel/awx/main/utils/external_logging.py#L33

`main_queue(queue.spoolDirectory="{spool_directory}" queue.maxdiskspace="{max_disk_space}g" queue.type="Disk" queue.filename="awx-external-logger-backlog")`

I

[2021-03-05 21:25] tvo318 commented on #8504
Per @rooftopcellist and @gamuniz that filter can be dropped, now that we have rsyslog, there is no need for the filter at all, in fact it throws an error (it's because the structure of the log messages we send now via rsyslog is slightly different).

[2021-03-05 22:36] rebeccahhh commented on #9359
I think we can close this 👍🏻

[2021-03-05 22:36] #9359 closed, assigned to rebeccahhh

[2021-03-05 22:51] k-y commented on #9043
There's no path, per se, this workaround is suggesting using the "Inspect" (Ctrl+Shift+I in Chrome) feature in your browser to edit the HTML to allow you enter an arbitrary value in the form and then save it.

We had to use this workaround in 17.0.1 as well since we use a monorepo and the drop-down seems to have a limit on how many files it will populate.

It would be nice if there was a user-defi

[2021-03-06 00:15] jladdjr commented on #9260
A `JobEvent` object has a foreign key reference to a job
.. and in that foreign key field, `on_delete` is set to `models.CASCADE`
https://github.com/ansible/awx/blob/devel/awx/main/models/events.py#L467

When we go to cleanup jobs, we build up a queryset of _jobs_
.. and delete them:
https://github.com/ansible/awx/blob/devel/awx/main/management/commands/cleanup_jobs.py#L70

So, our whole approach

[2021-03-06 00:20] jladdjr commented on #9260
The idea of "just drop the partition" is a bit of a simplification given our current approach. If we get in the business of _explicitly_ removing job events, it seems like there are some new potential issues that we have to look out for:

because we would need to drop the cascade delete (after all, we will need to handle this ourselves):
* what if we don't clean-up all of the job events and leave

[2021-03-06 00:21] jladdjr commented on #9260
I think it's fine for us to drop partitions.. I think we'll just need to be pretty careful.

[2021-03-06 01:04] jladdjr commented on #9260
Dropped cascade delete, made it okay for job_events to have a null foreign key reference to a job:

https://github.com/jladdjr/awx/commit/fe9487f7b0d88e285ceef787377485b6030538e1

main_jobevent table is looking good

![image](https://user-images.githubusercontent.com/4440360/110189630-87370200-7dd4-11eb-800d-db9f5fba545f.png)

[2021-03-06 01:09] jladdjr commented on #9260
bookmarking the next step (see comment at bottom) - this is in the cleanup_jobs mgmt command:

![image](https://user-images.githubusercontent.com/4440360/110189832-6e7b1c00-7dd5-11eb-9821-8bf0d30517e9.png)

[2021-03-06 11:01] vperilla opened #9501 "Fresh install "awx-admin-password" not found"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Hey community,

I have followed the install documentation, with success, but when I run this command:
minikube kubectl -- get secret awx-admin-password -o jsonpath='{.data.password}' | base64 --decode

I get this error:
Error from server (NotFound): secrets "awx-admin-password" not found

For that reason I can't login on AWX web interface,  have looke

[2021-03-06 15:43] unlikelyzero opened #9502 "Update locators on the Dashboard"
##### ISSUE TYPE
 - Task

##### SUMMARY
The tables and tabs on the Dashboard view need to be updated with new locators.

<img width="1190" alt="Screen Shot 2021-03-06 at 10 43 19 AM" src="https://user-images.githubusercontent.com/12446869/110212308-c9118800-7e68-11eb-9900-38b4b6721a69.png">

[2021-03-06 15:43] shanemcd commented on #9501
H @vperilla. We haven't yet published a version of the operator that works with the upcoming version of AWX.

The devel branch is currently going through a period of instability. Please use the latest tagged release.

These docs will work by the time AWX 18 is released.

[2021-03-06 15:43] #9501 closed, assigned to nobody

[2021-03-06 15:52] unlikelyzero opened #9503 "Update locators on Instance Group List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We need updated locators for the Add and Delete buttons on the Instance Groups list

[2021-03-06 16:23] shanemcd opened #9504 "Update awx-manage inventory_import to use an Execution Environment"
This is one of the things we missed in https://github.com/ansible/awx/pull/8030.

I originally thought this was going to be easy to resolve, but I was wrong.

My first intuition was to use ansible-runner's ability to execute arbitrary commands. There are multiple problems with this idea:

- Ansible Runner [sends stderr to stdout](https://github.com/ansible/ansible-runner/issues/96)
  - We parse js

[2021-03-06 16:23] shanemcd commented on #9504
Ping @wenottingham @ryanpetrello

[2021-03-06 16:26] shanemcd commented on #9504
Option 2 has been implemented in https://github.com/ansible/awx/pull/9505

[2021-03-06 20:05] rockandska commented on #9436
Seems there is a PR on its way django-auth-ldap/django-auth-ldap/pull/174

[2021-03-06 21:13] unlikelyzero opened #9506 "Update locators on Inventories page for testability"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There are several components on the Inventories page which need to have defined ouiaId attributes applied

[2021-03-06 22:10] hs-hub-world opened #9507 "Template search not working as expected"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When searching for templates with an underscore (i.e. _validate) we are also seeing the ones that do not start with an underscore.
![image](https://user-images.githubusercontent.com/20629911/110222233-9fb32500-7e85-11eb-86ee-1c9a4a3c647d.png)

##### ENVIRONMENT
![image](https://user-images.githubusercontent.com/20629911/110222165-2a475480-7e85-11eb-8ef

[2021-03-06 23:11] unlikelyzero opened #9508 "[ui_next] Possible to create a JT without selecting a playbook"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Possible to create a JT without selecting a playbook and leaves Add Form in a corrupted sate

##### ENVIRONMENT
* AWX version: devel 3/6/21

##### STEPS TO REPRODUCE
1. Create a JT by selecting the minimum required fields _except_ Playbook Select
2. Save button
Note: JT created without Playbook

##### EXPECTED RESULTS
1. No JT Created without required

[2021-03-06 23:12] unlikelyzero commented on #9507
@hs-hub-world this is fixed in the latest version of AWX (17.0.1). Please give it a shot!

[2021-03-06 23:12] #9507 closed, assigned to nobody

[2021-03-06 23:15] unlikelyzero opened #9509 "[ui_next] Add locators on JT Lookup Modal for testability"
##### ISSUE TYPE
 - Feature Request

##### SUMMARY
The JT Lookup Modals need OUIA IDs added for testability

[2021-03-06 23:29] unlikelyzero opened #9510 "[ui_next] Add ouiaID to JT Save and Cancel buttons for testability"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The Save and Cancel buttons on the JT Add/Edit form need ouiaIDs for testability

[2021-03-07 16:47] unlikelyzero opened #9511 "[ui_next] Add testability to host page attributes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The host list page need testability added in the form of IDs on at least the Add and Delete buttons

[2021-03-07 17:47] unlikelyzero opened #9512 "[ui_next] Add testability to Teams List"
##### ISSUE TYPE
 - Feature request

##### SUMMARY
This task ticket tracks the work to add testability to items on the Teams List

[2021-03-07 17:49] unlikelyzero opened #9513 "[ui_next] Add testability to Add Roles Wizard"
##### ISSUE TYPE
 - Task

##### SUMMARY
This task ticket tracks the work to add testability to the Add Roles Wizard

[2021-03-07 18:49] nixocio commented on #9487
Same issue was also present on WFJT, and addressed as part of this issue.

[2021-03-08 01:07] ghost commented on #9296
If you want `2019 - 2021`, might as well add this:
[code]

If you just want `2019`, this should do it:
[code]

[2021-03-08 07:30] thorian93 opened #9514 "Job output not updating in UI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When starting a job in the Web UI from any template the job only outputs some lines and stops there, or it does not output anything at all. Selecting the **Details** tab and going back to **Output** fixes that for a moment but it gets stuck again soon after.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible versio

[2021-03-08 10:38] AWegner1 opened #9515 "Inventory sync fails with UnboundLocalError when using NetBox Inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When using the NetBox inventory plugin, the inventory script fails with an `UnboundLocalError: local variable 'failures' referenced before assignment`
This has been tested with ansible-base 2.10.6, works well in 2.10.5

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on Linux (Debian 10 Buster)
* Ansible version:  2.10.6
* Operati

[2021-03-08 14:16] mabashian commented on #8428
Closing in favor of https://github.com/ansible/awx/issues/8428

[2021-03-08 14:23] tiagodread opened #9516 "Job template details reordering data after updating a Job template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This is a follow up issue from https://github.com/ansible/awx/pull/9489#issuecomment-791591959

##### ENVIRONMENT
Devel

##### STEPS TO REPRODUCE

1. Create a Job template assigning an execution environment
2. Edit this JT and remove the EE

##### EXPECTED RESULTS

The details view should not reorder the details of this JT
##### ACTUAL RESULTS

![jt3](

[2021-03-08 14:31] mabashian commented on #8830
@akus062381 you reproduced this using the exact same steps originally outlined?

Did your team have any users in it?  If it does not then no rows will appear because this list shows **users** who have a role on this particular resource.  If that role comes via a team then that should be denoted but without a user it will appear as if the team role is not listed.

If your team did have a user in it

[2021-03-08 16:10] unlikelyzero commented on #5157
@shanemcd moved this to needs_test, putting this onto folks for visibility. @kdelee @tiagodread @yagomarques

[2021-03-08 16:14] unlikelyzero commented on #6519
@wenottingham we definitely cannot search for datetime in advanced search. I'll leave this in needs_test so that @akus062381 can determine what we can and cannot query on the /schedules/ page and JT/schedule page

Schedules Page
- Maybe enabled/disabled searches
- searching on the various dates (created, edited, start datetime, etc).
- It may also be helpful to give them a quick filter to show sch

[2021-03-08 16:18] akus062381 opened #9517 "[ui_next] Add Testability to Job Output Details- Link to Associated Job Template"
ISSUE TYPE

Task

SUMMARY

When accessing the details tab of a completed job, the link to the associated job template does not have a good locator.

[2021-03-08 16:21] unlikelyzero commented on #7127
@akus062381 there should be enough in our existing codebase to quickly add a test to verify the Credentials/Details page's use of External Credential references

Also, need to add a visual test or visual test stub

[2021-03-08 16:23] unlikelyzero commented on #7279
@akus062381 since this is a high severity regression, it should be worth adding a basic test for sort on JT Schedules (if one doesn't yet exist) and update stubs on resource schedule tabs

[2021-03-08 16:26] unlikelyzero commented on #7298
@akus062381 Can you go through our stubs to verify that we have outlined all of the acceptance criteria of these linked issues?

[2021-03-08 16:28] unlikelyzero commented on #7548
@akus062381 can you see if we had a test for this scenario that was set to skipped?

[2021-03-08 16:31] unlikelyzero commented on #7740
@akus062381 please verify this case with a few stubs on this Select Credential Modal
- Can search for Machine credentials by 'Name'
- Can search for Custom Credenials by 'ID'
- Can search for Non-tower-managed keys with an explicit query

[2021-03-08 16:33] unlikelyzero commented on #7914
@AlexSCorey @mabashian can you give us a working example of how to reproduce this problem?

[2021-03-08 16:35] unlikelyzero commented on #7915
@keithjgrant assigning to you to address in the ace editor work

[2021-03-08 16:41] unlikelyzero commented on #8355
This feature was not tested by QE pre-merge so we will need regular feature testing to occur before it's closed

[2021-03-08 16:41] unlikelyzero commented on #8473
We have coverage here

[2021-03-08 16:41] #8473 closed, assigned to AlexSCorey

[2021-03-08 16:43] unlikelyzero commented on #8669
@akus062381 please perform manual verification and ensure testability on this details page

[2021-03-08 16:45] unlikelyzero commented on #8707
@akus062381 please perform manual verification and check for testability

[2021-03-08 16:46] unlikelyzero commented on #8878
This was tested without QE and we will need to verify:
1. Unit test coverage
2. Testability
3. Stubs
4. Visual test for Many Credentials added to a JT

[2021-03-08 16:46] unlikelyzero commented on #8884
Coverage added

[2021-03-08 16:46] #8884 closed, assigned to nobody

[2021-03-08 16:46] akus062381 commented on #5080
The region field appears in the details screen for the credential. Verified manually.

[2021-03-08 16:46] #5080 closed, assigned to akus062381

[2021-03-08 16:48] unlikelyzero commented on #9043
Covered in https://github.com/ansible/awx/pull/9120

[2021-03-08 16:48] #9043 closed, assigned to nobody

[2021-03-08 16:49] unlikelyzero commented on #9191
@akus062381 can you double check that you added coverage here?

[2021-03-08 16:51] unlikelyzero commented on #9230
Need to add a stub for this one and retest

[2021-03-08 16:52] unlikelyzero commented on #9361
@akus062381 can you perform manually verification? If you have questions, you can always ask @ghjm :)

[2021-03-08 16:52] unlikelyzero commented on #9376
Test drift was addressed

[2021-03-08 16:52] akus062381 commented on #9191
This is all set, coverage added

[2021-03-08 16:52] #9191 closed, assigned to akus062381

[2021-03-08 17:02] xstasi commented on #9376
@unlikelyzero sorry, what was the resolution for this issue?

[2021-03-08 17:12] unlikelyzero commented on #9376
@xstasi sorry! The issue has been addressed as a part of https://github.com/ansible/awx/pull/9381 and will be available in the next release of AWX!

[2021-03-08 17:32] yagomarques opened #9518 "The org admin is able to create a job template using an execution environment from other organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
- associate an execution_environment in a job template in which the Execution Environment is no longer global and has been linked to an other organization than the organization related to the job template.

##### STEPS TO REPRODUCE
reproducing by API

1. create an `organization A`
2. create an `organization B`
3. create a `global execution environment

[2021-03-08 19:00] jamesmarshall24 commented on #7399
The above instructions work for testing the query, but clicking save results in the following tower.log entry:
[code]

[2021-03-08 19:25] jbradberry commented on #9518
@yagomarques you should distinguish between the cases of 1) trying to create a JT with the EE already attached, and 2) creating a JT then after creation trying to attach the EE.

[2021-03-08 19:34] cnukwas commented on #9249
Thank you very much for the patch. Finally got time to test the changes and it's working fine with AWX 17.0.1 tag and adding changes made in [9302](https://github.com/ansible/awx/pull/9302).

Here is my vars.yml with all custom changes, to avoid making changes to the inventory, deployment, and other YAMLs. This way we can easily upgrade to a newer version of AWX configuration/code.

[code]

[2021-03-08 19:45] jladdjr opened #9520 "[db_partition] job event migration fails due to missing index"
* The current job event migration was based on the previous bigint migration.
* One notable change was made in the job event migration, though - the `id` primary key was dropped (postgres requires all uniqueness constraints to include the partition key)
* When an upgrade is performed w/ a database filled with billions of job events, the migration stalls because of the missing index

[2021-03-08 19:46] jladdjr commented on #9520
@Ladas provided some thoughts for how to address this here:
https://github.com/ansible/awx/pull/9341#discussion_r589687501

[2021-03-08 19:49] wenottingham commented on #9515
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

This issue looks to be in ansible itself, and needs filed at https://github.com/ansible/ansible.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-03-08 19:49] #9515 closed, assigned to nobody

[2021-03-08 19:50] kdelee opened #9521 "Unable to save inventory source form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When creating an inventory source from project,  I click the "save" button but nothing happens

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Try and create an inventory source

I cho

[2021-03-08 19:51] wenottingham commented on #9504
Assuming that it worked (as you said, it doesn't), is there a coherent way to get into the pod to run `awx-manage inventory_import` on K8S-based installs to begin with?

[2021-03-08 19:52] jladdjr commented on #9520
Grabbed bits of info from off-post chat:

[code]

[2021-03-08 21:19] WhoBrokeTheBuild opened #9522 "roles/requirements.yml ignored during project update"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When doing a Project Update from the AWX web portal, it ignores my roles/requirements.yml

I checked the code for project_update.yml and found that the block was being skipped because `roles_enabled|bool` is evaluating as false. I checked to make sure that `Enable Role Download` was On, and it was. I edited the `project_update.yml` file inside the `awx

[2021-03-08 22:04] jladdjr commented on #9520
https://github.com/jladdjr/awx/commit/91b08176884690ef6f3ec69a3cfada884f597571 creates a tmp table that we modify / use as a basis for the partitioned table's schema

[2021-03-09 00:15] jonathan2324 commented on #9267
@mattthehearn @wenottingham Did yall ever get your dynamic python inventory files working? I am currently on 16.0.0 release and my python script shows up from sourced from project but when I try to sync I get errors. Did you have any success with 15.0.1 version?

[2021-03-09 05:44] rchincholkar commented on #9407
yeah, it is not working if we get any 404 error from the external log aggregator, even if the rsyslogd is running.

I came across rsyslog options like `$MainMsgQueueSaveOnShutdown on` and `$ActionQueueSaveOnShutdown on` that could save queue, but never tested them. may be a good idea to add to rsyslog config, if this works.

[2021-03-09 07:49] jladdjr commented on #9520
Okay, have some results on the migration tweaks:
* Spun up a 3.8 instance
* Ran jobs every minute, where each job created ~6k job events, until I had a total of 1.2 million job events. Not huge, but was enough to actually exercise the migration in a non-trivial way

The results looked really good:
- migrations finished in a matter of minutes
- verified all job events made their way to the new part

[2021-03-09 07:51] jladdjr commented on #9520
Plus, the metrics for retrieving api/v2/jobs and api/v2/job/N/job_events are looking good (this may not mean much given this is only 1.2M job events, but at least it shows that at this number things are snappy, and hopefully with 1B events they stay that way):

Getting job events for one job - `0.041s`:
![image](https://user-images.githubusercontent.com/4440360/110436395-08a6c280-8069-11eb-869c-e0

[2021-03-09 07:56] jladdjr commented on #9520
That was an m5.large instance:
2 CPU, 8 GB Memory
Not sure what the iops are, but guessing that - like the other specs - they’re modest

[2021-03-09 08:20] kladiv commented on #7453
+1 similar error, with an ad-hoc ping command. Container Group seems unusable.

**SUMMARY**
Job runs in AWX UI, then failed with no stdout/stderr output. Empty Output tab.
Via "kubectl get pods" i see the awx-job containers starts then terminating after a while.

**ENVIRONMENT**
Kubernetes OS: Ubuntu 20.04 + k3s v1.20.0+k3s2
AWX version: 17.0.1
AWX install method: AWX Operator
Ansible version: 2.9

[2021-03-09 08:59] Commifreak commented on #3348
@mabashian @dsesami Can you confirm, that this issue is back since AWX 17? Thanks in advance!

[2021-03-09 09:08] kladiv commented on #7453
**UPDATE using ad-hoc commands**
Using default Pod spec (with no Customize pod specification) or default "image: ansible/ansible-runner"
- seems work with ad-hoc command on localhost (connection: local)
- still not work on remote host using Machine Credentials with RSA privkey + passphrase + ad-hoc command ping
   https://pastebin.com/Zn0wLLvk
- still not work on remote host using Machine Credenti

[2021-03-09 09:28] emulanob opened #9525 "Variables requested via survey always overwrite template defaults"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

_This issue was first discussed here: https://groups.google.com/g/awx-project/c/ABjOJ9uKVvY/m/Iw2JuUI5AQAJ_

I'm running AWX 17.0.1, recently upgraded from 15.x.

Now, suppose you have a template whose default extra_vars are
[code]

Now consider that this template has a survey to read the user's input to the username variable. The survey doesn't have

[2021-03-09 09:29] emulanob commented on #9525
Similar behavior reported here https://github.com/ansible/awx/issues/9176#issuecomment-781948806

[2021-03-09 09:58] andreasscherbaum commented on #5323
Had to implement a similar workaround with the assert. My use case: we have a branch where only certain people can merge into, after review. AWX/Tower is then supposed to pick up the changes, triggered by a Webhook, and deploy the Playbook.
Certainly not interested in running the Playbook every single time someone updates a PR, because the main branch is not updated. But it doesn't seem to be poss

[2021-03-09 11:53] swatinarvekar opened #9526 "Extend Audit Trail For Running Plays On Endpoints"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently an Activity Stream shows all changes for a particular object. For each change, the Activity Stream shows the time of the event, the user that initiated the event, and the action.

But there is a missing link in an audit trail from the controller to the remote.  No actual audit trail that links the Ansible Job Id with the ssh session ID foun

[2021-03-09 12:46] xstasi commented on #9376
@unlikelyzero thank you for the reply :) I understand that that commit is relevant for this issue, but that alone is not enough to consider it solved.

The problem at hand is that users can modify their own data and there is no way to prevent them from doing so, email being mandatory was just tangential to it.

[2021-03-09 12:58] unlikelyzero commented on #9376
@xstasi I see. In that case, I can re-open this issue, but I'd ask that you update the title and description to be a bit more specific about desired implementation.

Re-reading this issue makes me think that you're ultimately asking for three things:
1. The ability for a non-privileged-user to delete records of their activity
2. The ability for a non-privileged-user to delete records of their opti

[2021-03-09 13:27] xstasi commented on #9376
@unlikelyzero let me try to rephrase the requirement: the customer needs a way to make it impossible for users to edit their own fields, optional or otherwise.

Currently any user that can log in can also enter their first name / last name / etc in their profile. There needs to be a way to forbid them to do so. Removing the data after some time is not enough.

[2021-03-09 14:21] ghost commented on #2058
+1

[2021-03-09 14:47] unlikelyzero commented on #9521
@kdelee  thanks for filing this issue, we're tracking this functionality in this issue here: https://github.com/ansible/awx/issues/9373

Please subscribe to the updates to see when it lands in the next available release!

[2021-03-09 14:47] #9521 closed, assigned to nobody

[2021-03-09 14:58] tiagodread opened #9527 "Update locators for toolbar across pages (search fields, Add/Delete buttons)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The search fields needs OUIA ID for testability across lists

![image](https://user-images.githubusercontent.com/12464858/110489966-9963b980-80ce-11eb-82ba-0c94e1b84620.png)

and

![image](https://user-images.githubusercontent.com/12464858/110490031-a84a6c00-80ce-11eb-98f4-77cb235a3aa4.png)

[2021-03-09 15:07] akus062381 commented on #4623
Coverage added.

[2021-03-09 15:07] #4623 closed, assigned to akus062381

[2021-03-09 15:41] AlexSCorey commented on #3348
This is an issue in the new UI.  Reopening

[2021-03-09 16:02] rdzielicki opened #9529 "Minikube deploy fail to get secret"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: latest
* AWX install method: MiniKube

##### STEPS TO REPRODUCE
Follow tutorial: https://github.com/ansible/awx/blob/devel/INSTALL.md
minikube kubectl -- get secret awx-admin-password -o jsonpath='{.data.password}' | base64 --decode
Error from server (NotFound): secrets "awx-admin-password" not found

##### EXPECTED RE

[2021-03-09 16:05] rdzielicki commented on #9529
Got weird pods  ( upgrade check)with status failed:

k get pods
NAME                                READY   STATUS      RESTARTS   AGE
awx-5ffbfd489c-g88k2                3/3     Running     0          90m
awx-operator-7c78bfbfd-qnr2g        1/1     Running     12         99m
awx-postgres-0                      1/1     Running     0          91m
gitlab-gitlab-upgrade-check-9nxrh   0/1     Error

[2021-03-09 16:11] rdzielicki commented on #9529
also here the secret on the system:

xxxx@awx:~$ k get secrets|grep awx
awx-operator-token-w6khr              kubernetes.io/service-account-token   3      107m
awx-postgres-configuration            Opaque                                5      99m
awx-secret-key                        Opaque                                1      98m
awx-secrets                           Opaque

[2021-03-09 16:32] rdzielicki commented on #9529
for i in `k get secret  --no-headers --output=jsonpath={.items..metadata.name}`;do k get secret $i -o yaml;done|grep -i awx-admin-password  --> returns nothing

[2021-03-09 16:37] akus062381 commented on #5908
https://github.com/ansible/tower-qa/pull/6062

Taken care of. closing issue.

[2021-03-09 16:37] #5908 closed, assigned to akus062381

[2021-03-09 16:44] ryanpetrello commented on #9401
👋 Hey everyone, this should be resolved in the latest version of AWX (17.1.0).

[2021-03-09 16:44] #9401 closed, assigned to ryanpetrello

[2021-03-09 17:06] tiagodread commented on #9223
Tests covered by 6059 we can close this issue once the test PR is merged.

[2021-03-09 17:14] ryanpetrello commented on #9529
Hey @rdzielicki,

`devel` is unstable, try the latest released version of AWX:

https://github.com/ansible/awx/releases/tag/17.1.0
https://github.com/ansible/awx/blob/17.1.0/INSTALL.md

An official release of the operator-based deployment is coming soon, but it's not ready yet.

[2021-03-09 17:14] #9529 closed, assigned to nobody

[2021-03-09 17:15] ryanpetrello commented on #9529
Duplicate of https://github.com/ansible/awx/issues/9501

[2021-03-09 17:49] unlikelyzero opened #9531 "[RFE] Allow Notification Templates to reference credentials stored in external credential managers"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Allow Notification Templates to reference credentials stored in external credential managers. This would be useful if a team wanted to reference a slack API credential stored in Cyberark

[2021-03-09 18:09] jladdjr commented on #9520
Going to try testing these changes at scale today - to begin with, will need to re-introduce the main_jobevent id index that was dropped. That will take a while (hopefully no more than a day). To speed things up, will try giving the background tasks as many resources as we can.

[2021-03-09 18:10] jladdjr commented on #9520
cc @ryanpetrello @kdelee @mcharanrm ^

[2021-03-09 18:15] wenottingham opened #9532 "loosen collection version check"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
https://github.com/ansible/awx/blob/devel/awx_collection/plugins/module_utils/tower_api.py
[code]

This is too strict - we should not warn when using 17.0 to connect to 17.1, or in other places where there are sub-minor version updates that do not change the API.

##### ENVIRONMENT
* AWX version: current

[2021-03-09 18:24] jladdjr commented on #9520
Action items:

- [x] bump `maintenance_work_mem` on the PG server config to couple of GBs
- [x] `max_parallel_maintenance_workers` - we think PG12 creates index in parallel, so more workers, the better (but workers <= # cores)
- [x] we can do `maintenance_work_mem * max_parallel_maintenance_workers < 70-80% MAX mem`, then revert it back after index creation

[2021-03-09 19:19] jlmitch5 commented on #6756
We've now implemented the new dashboard.  Closing this.

[2021-03-09 19:19] #6756 closed, assigned to jlmitch5

[2021-03-09 19:40] wenottingham commented on #9376
I don't think that is particularly relevant for AWX.

A user that has the ability to create any object (inventory, job template, etc) has the same ability to maliciously 'store' names/emails/phone numbers in a way that they are tracked. A user that can only launch jobs, but can provide survey parameters or extra_vars, can do the same.

The only case where restricting this could actually cause a re

[2021-03-09 19:40] #9376 closed, assigned to unlikelyzero

[2021-03-09 19:57] wenottingham commented on #9526
This is not something that can be done consistently and reliably. Ansible, as an automation framework, automates different devices through different methods - SSH (not just on Linux, but also on network operating systems such as Cisco IOS), Windows (remote powershell), APIs (talking to Azure or Amazon APIs, or things like Cisco ACI). In most all of these situations, we do not control how the endpo

[2021-03-09 19:57] #9526 closed, assigned to nobody

[2021-03-09 20:34] jladdjr commented on #9520
Given these machine specs:
* 8 cores
* 64 GB memory

Setting:
* maintenance_work_mem = 7GB
* max_parallel_maintenance_workers = 8

So that `maintenance_work_mem` * `max_parallel_maintenance_workers` = 56GB < 64GB available memory (leaving some headroom)

config file:
/var/lib/pgsql/data/postgresql.conf

---

Background info on settings:

maintenance_work_mem
* https://www.postgresql.org/docs/12/ru

[2021-03-09 20:35] unlikelyzero opened #9534 "[ui_next] Many XHR Network Requests are sent/received when visiting JT Edit Form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Many XHR Network Requests are sent/received when visiting JT Edit Form. At the time of this filing, I count 58. This has been growing over time and would be worth auditing for duplicate or unnecessary requests.

Note: elements are disabled until the response is received from the API

##### ENVIRONMENT
* AWX version: devel 03/09/21

##### ADDITIONAL INF

[2021-03-09 20:37] jladdjr commented on #9520
Reloading config:
[code]

[2021-03-09 20:47] #1611 closed, assigned to nobody

[2021-03-09 20:50] mabashian commented on #1855
I believe that this has been addressed in the new UI but lets check to make sure that this error is shown in the UI.

[2021-03-09 20:52] mabashian commented on #4476
@jakemcdermott is this still valid?  I can't tell if this was opened against the new UI or the old UI.  If it's not valid, go ahead and close.

[2021-03-09 20:58] jladdjr commented on #9520
Running:
`ALTER TABLE ONLY _unpartitioned_main_jobevent ADD CONSTRAINT main_jobevent_pkey1 PRIMARY KEY (id);`

^ threw that in a screen session since I'll almost certainly have my connection to the VPN reset while this runs

[2021-03-09 21:05] akus062381 commented on #8262
@unlikelyzero we are covered here. See inventory-group-tabs.spec.js.
I also verified good locators. Closing this issue

[2021-03-09 21:05] #8262 closed, assigned to unlikelyzero

[2021-03-09 21:11] mabashian commented on #5800
This option is available in the most recent version of AWX

[2021-03-09 21:11] #5800 closed, assigned to nobody

[2021-03-09 21:22] jladdjr commented on #9520
`top` doesn't seem to show as much activity as I would have expected on the machine.

Running the `show all;` pg command:
* confirms that `maintenance_work_mem` is set to `7GB`
* .. but I'm not seeing `max_parallel_maintenance_workers` listed anywhere

`max_parallel_maintenance_workers = 8` is definitely in /var/lib/pgsql/data/postgresql.conf

looks like if I ask what that setting's value is expli

[2021-03-09 21:24] mabashian commented on #6097
This also appears in the launch summary view

[2021-03-09 21:31] unlikelyzero commented on #6528
@mabashian we were unable to reproduce the save errors identified in the unit tests.

We will have to add an e2e test for:
Error shown when user selects JT which is deleted before Save action occurs. @akus062381 please reach out to me for an explanation

[2021-03-09 21:47] jladdjr commented on #9520
I can at least confirm that postgres is busy working on the index:

[code]

[2021-03-09 23:16] jladdjr commented on #9520
https://www.postgresql.org/docs/12/progress-reporting.html

[code]

About a third of the way done after 2 hours. So we've got about four more to go (assuming this stage represents the main index creation stage [1]). Should be done around 7pm PT / 10pm PT.

[1] Slide 12 of [this deck](https://wiki.postgresql.org/images/3/38/Progress-report.pdf) suggests that it probably is the last major step in th

[2021-03-10 00:28] sugitk commented on #2151
Another customer submitted an issue regarding this feature.

`PROMPT ON LAUNCH` in a JT/WFJT is effective though, it cannot be prompted when we relaunch a job in `JOBS` history screen.

[2021-03-10 01:09] jladdjr commented on #9520
58% done

[code]

[2021-03-10 03:41] jladdjr commented on #9520
6.5 hours, 95%

[code]

[2021-03-10 03:53] gaia opened #9538 "Cannot Checkout Latest Release (17.1.0)"
![image](https://user-images.githubusercontent.com/87547/110573994-20398600-8111-11eb-9e83-be9a6c33caab.png)

[2021-03-10 05:05] jladdjr commented on #9520
We have an index \o/

![image](https://user-images.githubusercontent.com/4440360/110579222-2d5b7280-811b-11eb-9946-5c2abd463893.png)

[2021-03-10 05:07] jladdjr commented on #9520
Restored old postgres.conf file (to restore memory / maintenance worker settings):
`[postgres@gprfs047 ~]$ pg_ctl reload`

[2021-03-10 05:12] jladdjr commented on #9520
Restarted tower services, confirmed services were running:
[code]

[2021-03-10 05:15] jladdjr commented on #9520
seeing first report of rows being migrate:
[code]

[2021-03-10 05:16] jladdjr commented on #9520
postgres is showing the migration query:
[code]

Looks like we're moving 1,000,000 rows at a time.

[2021-03-10 05:26] jladdjr commented on #9520
Seeing second log line for migration. This means that the first migration setup completed!
[code]

Estimated how long this will take based on those two data points (just to get a ballpark sense for how long this will run):

1775685315 total rows * (200.278 seconds / 10^6 rows) = 355,630 seconds
.. which is 98.8 hours
.. which is 4 days 3 hours

So this should end at Sunday 3am ET.

@Ladas @ryanpet

[2021-03-10 05:37] jladdjr commented on #9520
Job Details page from a page run before the migration:
![image](https://user-images.githubusercontent.com/4440360/110581426-58e05c00-811f-11eb-90ec-09e55520919e.png)

Corresponding /api/v2/jobs/17427/job_events page loads in `0.5 seconds`:
![image](https://user-images.githubusercontent.com/4440360/110581458-731a3a00-811f-11eb-833a-aa3e36d8fde2.png)

Jobs page is loading in `1.5 seconds`:
![image](

[2021-03-10 05:57] jladdjr commented on #9520
Ran a fresh job and it was successful!

![image](https://user-images.githubusercontent.com/4440360/110583275-4e739180-8122-11eb-8dfd-02dd62af28a1.png)

.. and the job events get loaded!

![image](https://user-images.githubusercontent.com/4440360/110583350-68ad6f80-8122-11eb-9f45-36fa331af050.png)

[2021-03-10 05:59] jladdjr commented on #9520
.. and look, a new partition!

![image](https://user-images.githubusercontent.com/4440360/110583425-867ad480-8122-11eb-94ea-bfc1adfecd79.png)

with just the right number of events for the job I just ran!

[code]

[2021-03-10 06:00] jladdjr commented on #9520
Got to call it a night, but this is all looking really good as far as I can tell.

Closing.

[2021-03-10 06:00] #9520 closed, assigned to jladdjr

[2021-03-10 06:06] jladdjr commented on #9520
Updated estimate of how long migration will take base on 45 minutes of migrations - looks like it will take a few more hours. That may be because I've been running jobs and poking around.

1775685315 total rows * (2742 seconds / 13*10^6 rows) = 355,630 seconds
.. which is 104 hours (up from 98.8 hours)

[2021-03-10 07:23] lemmy04 commented on #9197
this still exists in 17.1.0 - and since standalone docker deployments aren't supported after (from what i understand from the devel repo) I won't be able to update any further...

[2021-03-10 07:52] beenje commented on #9538
When looking at https://github.com/ansible/awx/commit/9c573abaefd4ea60dddbbc20ab2bd1e18313cc0d (Bump version to 17.1.0), I get this warning:

[2021-03-10 09:17] rdzielicki commented on #7422
Got same problem with K8s cluster, cat inventory |grep postgres_data_dir with awx 14.0.1
postgres_data_dir="~/.awx/pgdocker"
probably installer tries Docker event if K8s section are uncommented

[2021-03-10 09:54] alexandrovas opened #9539 "Can not use custom directory as inventory source"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can not choose custom directory as inventory source. In previous versions it was possible.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Operating System: Ubuntu 18
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Create inventory source
2. Try to input path to inventory directory to **Inventory file** fied

#####

[2021-03-10 09:59] dR3b commented on #9431
This Bug is also present in v17.1.0

[2021-03-10 11:19] stefanpinter opened #9540 "Migrating Data from Local Docker - Not connecting to awx:8013"
##### ISSUE TYPE
 - Not able to connect to "awx:8013" after issuing command "make docker-compose"

##### SUMMARY
While going through https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md I entered the command "make docker-compose" but then it keeps repeating errors - please see below

##### ENVIRONMENT
* AWX version: 17.0.1 (trying to upgrade to 17.1/18)
* AWX insta

[2021-03-10 11:20] stefanpinter commented on #9540
CONTAINER ID   IMAGE                                              COMMAND                  CREATED          STATUS                     PORTS                                                                                                                                                              NAMES
d513f4ff5b58   gcr.io/ansible-tower-engineering/awx_devel:devel   "/entrypoint.sh laun…"   13 mi

[2021-03-10 11:20] stefanpinter commented on #9540
ansible@vpadm001 ~ (master)> nc -vz 127.0.0.1 8013
Connection to 127.0.0.1 8013 port [tcp/*] succeeded!

[2021-03-10 11:25] rdzielicki commented on #7422
corrected, make sure you are using the right context with the right role now troubleshooting FAILED! => {"changed": true, "cmd": "kubectl get deployment awx -n default -o=jsonpath='{.status.replicas}'", "delta": "0:00:00.136495", "end": "2021-03-10 12:22:55.604525", "msg": "non-zero return code", "rc": 1, "start": "2021-03-10 12:22:55.468030", "stderr": "Error from server (N

[2021-03-10 13:55] ryanpetrello commented on #9538
@gaia @beenje mind giving this another whirl?  I've just republished this tag.

[2021-03-10 14:06] #9538 closed, assigned to nobody

[2021-03-10 14:07] ryanpetrello commented on #9538
[code]

[2021-03-10 14:08] beenje commented on #9538
Looks OK now. Thanks!

[2021-03-10 14:09] mabashian commented on #6352
@wenottingham circling back to this one.  We had a question about whether the disassociate(s) were actually happening and the list data was just stale.  Looks like @marshmalien answered that in the description, I just didn't read closely enough:

[2021-03-10 14:12] ryanpetrello commented on #9540
Hey @stefanpinter,

It sounds like you're trying to move to `devel/18.0`, which isn't released yet.  `devel` is unstable, try the latest released version of AWX:

https://github.com/ansible/awx/releases/tag/17.1.0
https://github.com/ansible/awx/blob/17.1.0/INSTALL.md#clone-the-repo

[2021-03-10 14:14] ryanpetrello commented on #9540
`awx_1_1 | 2021-03-10 11:14:25,125 WARNING [-] awx.main.wsbroadcast Connection from awx_1 to awx failed: 'Cannot connect to host awx:8013 ssl:False [Connect call failed ('127.0.0.1', 8013)]'.`

(For some reason or another), you likely have an older instance record in your database, and the container name has probably changed on you.  If you exec into a working container, and run:

[code]

and run:

[2021-03-10 14:15] ryanpetrello commented on #9197
@lemmy04,

Just a heads up, you can still run AWX on Docker (though you'll have to build your own images), but the install method is changing in the next major release.  See:

https://github.com/ansible/awx/tree/devel/tools/docker-compose
https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md

[2021-03-10 14:24] ryanpetrello commented on #9532
cc @beeankha @john-westcott-iv

[2021-03-10 14:26] lemmy04 commented on #9197
So I won't be able to update to an actual RELEASE anymore, unless I use locally built images, which is NOT an official release, or I build myself a local kubernetes cluster?

[2021-03-10 14:31] ryanpetrello commented on #9197
@lemmy04,

Our releases are not published images, though historically we've provided these as a nicety to the community (there are several third-party distributions of AWX that are not container image-based).  Our official releases are source distributions which have been and will continue to be published here:

https://github.com/ansible/awx/releases

Starting in 18.0.0, you can still deploy thes

[2021-03-10 14:36] stefanpinter commented on #9540
actually I DID clone 17.1 (i didn't even find 18.0)

i get this:

[code]

[2021-03-10 14:39] ryanpetrello commented on #9540
Do you have multiple awx containers running?  What does `docker ps -a` show?

[2021-03-10 14:40] ryanpetrello commented on #9540
I should note if you ran the steps outlined in https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md, that wasn't necessary - it's only something that's need for 17.x ---> 18.0 (18.0 will be released in the coming weeks).

[2021-03-10 14:49] stefanpinter commented on #9540
oh...
I am unsure about how to install 17.1 then. your .md only says something about 17.0.1 and 18 but not 17.1 and because 17.1 isn't explicitly mentioned. i assumed I need to change something because 17.1.0 doesn't have the "installer" directory in the root.
no I don't have multiple awx containers.

I just read the changelog to 17.0.1 to 17.1 and it doesn't seem to fix stuff I experience with 17

[2021-03-10 14:50] #9223 closed, assigned to mabashian, unlikelyzero

[2021-03-10 15:01] Mariushrek commented on #3879
@lukepafford - your solution is not a solution... ;)
In some environments you are not able to create subdomains in an easy way however, the subpath - yes ;)

Ansible Team - is there any chance you will look at this problem?

Thanks,
Mariusz

[2021-03-10 15:07] brskq commented on #9267
@seaman25 @mattthehearn @jonathan2324 I had initially created an inventory plugin which worked well with Ansible, but was incompatible with AWX. I digged quite a lot and then came across the following guide which works well:
[Jeff Geerling - Creating custom dynamic inventories for Ansible](https://www.jeffgeerling.com/blog/creating-custom-dynamic-inventories-ansible)

I'm using the _Sourced from a

[2021-03-10 15:23] akus062381 commented on #6519
FINDINGS:

- if I set the key to modified (as in date) and I choose exact as the lookup type
           and I grab the value from the API- for example, 2021-03-08T15:14:22.621151Z
           it returns that specific value to me.
           BUT
           if I leave the key as modified and change the Lookup type to icontains
           and enter search value 2021-03-08, it finds nothing

[2021-03-10 15:27] gaia commented on #9538
`git pull` didn't do it. had to `git clone -b 17.1.0 git@github.com:ansible/awx.git`

ran the upgrade, help>about still shows 17.0.1

PS: it would be helpful to show version on the login screen.

[2021-03-10 16:21] mabashian opened #9541 "Editing a credential that prompts for password shows ASK in input instead of checking checkbox"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![cred_that_prompts](https://user-images.githubusercontent.com/9889020/110661345-7995c980-8192-11eb-8124-9c8e7cc131e9.gif)

##### STEPS TO REPRODUCE
1. Create a machine credential that prompts for password on launch
2. Go to the edit form for this credential

##### EXPECTED RESULTS
Prompt checkbox to be checked and field disabled

##### ACTUAL RESULTS

[2021-03-10 16:43] AlexSCorey commented on #9539
@alexandrovas this issue was resolved with https://github.com/ansible/awx/pull/9120. Feel free to pull down the latest devel branch, or that PR and see if it fixes your issue.

[2021-03-10 16:43] #9539 closed, assigned to nobody

[2021-03-10 17:39] ITAutomationNLS opened #9543 "Git With Ansible 2.9.6 is Getting error regardless of what we do"
##### ISSUE TYPE

 - Bug Report: Git is getting Error! Git is not a valid attribute for a play
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
Using git or ansible.builtin.git, I get the same error that it is not a valid attribute for a play even though I have even copied and pasted examples into the yaml file from the website and it is still giving

[2021-03-10 18:24] ndelaossar opened #9545 "Dropdown input for the inventory section does not allow typing anything."
##### ISSUE TYPE
 - Bug Report: UI Issue

##### SUMMARY
Starting version 16.0.0 I'm having some issues with the dropdown inputs located in the inventory section.
Basically, when I'm trying to input a file path for my inventory the dropdown doesn't allow me to write any text.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method:  docker on linux
* Ansible version:  2.10.6
* Operating Syste

[2021-03-10 18:39] kladiv commented on #7453
**UPDATE 2 using playbooks**
Using default Pod spec (with no Customize pod specification) or default "image: ansible/ansible-runner"
- works on remote host using Machine Credentials with password authentication
- works on remote host using Machine Credentials with RSA privkey (without passphrase)
- still not work on remote host using Machine Credentials with RSA privkey + passphrase

[2021-03-10 19:08] nixocio commented on #9516
On the `Template.jsx` there was an extra prop being passed to `JobTemplateDetails.jsx` but it is not being used.

https://github.com/ansible/awx/blob/e8b2072ea591c94f9fa52b79add67e0c08c69240/awx/ui_next/src/screens/Template/Template.jsx#L199

[code]

[2021-03-10 19:13] AlexSCorey commented on #9267
There may be a few lists in the new UI that have Inventory Scripts or Custom Scripts in the list.  Those list items are generated from the API. Once the API removes what they have for Inventory Scripts, those list should render the correct options.  As such I am moving this from a UI bug to an API bug

[2021-03-10 19:21] gpillaca91 opened #9546 "I can't see the awx / ansible interface"
### SUMMARY

##### CONTEXT
install awx on a server with proxies that has ips x.x.x.x
trouble:
-I followed the guide "https://github.com/ansible/awx/blob/devel/INSTALL.md" and it gives me a minikube IP of 200.23.32.5, for example I would expect to be able to enter with 200.23 .32.5: <PORT> from my machine without

##### PROBLEMS

-When the listening ports are ready, the delivery does not appear in

[2021-03-10 19:23] jladdjr opened #9547 "[db_partitioning] investigate job_event partition migration optimizations"
follow up on some ideas @Ladas and @ryanpetrello discussed that may make the db partition migration more efficient:

![image](https://user-images.githubusercontent.com/4440360/110685662-5ddef300-8193-11eb-8b85-25836d605b62.png)

![image](https://user-images.githubusercontent.com/4440360/110685689-6800f180-8193-11eb-94de-293317a335f1.png)

cc @kdelee @mcharanrm

[2021-03-10 19:42] akus062381 opened #9548 "Deleting multiple schedules inside of a job template results in error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When you have multiple schedules added in the schedules tab of a particular job template (I added 3 for testing purposes), and you click the check boxes next to every single one, and click delete, about 50% of the time you get an error (see GIF) and the first schedule in the sequence will not delete. After you "x" the error out, you can check the box n

[2021-03-10 19:45] ryanpetrello commented on #9407
If there's some configuration option you can find that provides what you want, it's fairly simple to modify what AWX writes out (the code for `omhttp` config lives here: https://github.com/ansible/awx/blob/devel/awx/main/utils/external_logging.py#L47-L105)

If you discover something, pull requests are welcome 😄

[2021-03-10 19:49] ryanpetrello commented on #9546
Hey @gpillaca91,

It sounds like you're trying to install from`devel`, which is unstable.  Try the latest released version of AWX:

https://github.com/ansible/awx/releases/tag/17.1.0
https://github.com/ansible/awx/blob/17.1.0/INSTALL.md#clone-the-repo

[2021-03-10 19:49] #9546 closed, assigned to nobody

[2021-03-10 20:02] akus062381 opened #9549 "Advanced Search by key: Type results in a drop-down menu error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When performing an advanced search in the Schedules tab of a Job Template, and searching by the Type key, when search results are not successfully returned, the Key drop down menu shows no values (see screenshot). When filters are cleared, the menu items reappear.

##### ENVIRONMENT
* AWX version: Devel 3-10-21

##### STEPS TO REPRODUCE

Click on templ

[2021-03-10 20:21] mabashian commented on #9458
Working on this as part of #8921

[2021-03-10 20:29] akus062381 opened #9550 "Clicking "Back" after Schedule deletion causes page reload error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Immediately after deleting one or more schedules from the schedules tab of a job template, clicking the back button results in a reload error where the page will not load, but stays blank and displays a spinning circIe indefinitely. Clicking refresh doesn't work. Only clicking one of the links in the app, in order to navigate elsewhere, works.

##### E

[2021-03-10 21:38] akus062381 commented on #7740
All set. Closing this issue.

[2021-03-10 21:38] #7740 closed, assigned to akus062381

[2021-03-10 21:56] jladdjr commented on #9547
common table expressions:
https://www.postgresql.org/docs/12/queries-with.html

[2021-03-10 22:16] jladdjr commented on #9547
@ryanpetrello trying to grok the ideas from this morning. One of the main ideas I saw mentioned was to wait to delete `_unpartitioned_main_jobevents` until the very end. If we do that, though, then customers will need to be able to temporarily double their storage, right? I thought we said this wasn’t an option at one point, iirc. I'm wondering if we can just assume customers will have that kind o

[2021-03-10 22:20] jladdjr commented on #9547
The other idea I'm seeing involves various ways to avoid having to do [this](https://github.com/jladdjr/awx/blob/47af250c33cca4f75500ec56de2a616b1f27c317/awx/main/tasks.py#L758):
![image](https://user-images.githubusercontent.com/4440360/110708532-ae644980-81af-11eb-9bf0-ad96110e6aaf.png)

That does seem like something we can do - looking into this.

[2021-03-10 22:41] jladdjr commented on #9547
Approaches mentioned this morning for not having to retrieve `MAX(id) FROM _old_{tblname}`:

## Approach 1: get last ID from CTE

we can do the insert inside of CTE and just grab the last ID there
(the RETURNING id for 1M records is also very expensive)

something like (pseudo sql):
[code]

Documentation on the use of `RETURNING`:
https://www.postgresql.org/docs/12/dml-returning.html

## Approach

[2021-03-10 22:43] jladdjr commented on #9547
Suggestion for how to test this in our current scale environment:

Then we can create more tables like job events and just EXPLAIN ANALYZE the 3 queries
we used before, vs. 1 or 2 queries like ^ (given the final drop is quick)

(we can test this by copying from 1970-01-01 partition directly, since we're deleting from the original table)
(removing the DELETE and RETURNING, I'd expect it should be a

[2021-03-10 22:58] jladdjr commented on #9547
Getting some datapoints:

cost of our current method of getting the MAX(id):
[code]

[2021-03-10 22:59] jladdjr commented on #9547
Stopped all tower instances so I can poke around the db, copy tables, experiment, etc.

[2021-03-10 23:12] jladdjr commented on #9547
Getting some datapoints (note: these were executed on a silent db, with tower services shut down)

cost of our current method of getting the MAX(id):

[code]

[2021-03-10 23:20] jladdjr commented on #9547
Creating `test_main_jobevent` table that can we use for measuring cost of inserting rows using different methods we're talking about:

[code]

[2021-03-10 23:52] saurabh02 commented on #286
So, if I have a 1000 hosts that I want to manage, I need to create a 1000 different custom credential types? That's quite unreasonable. Is there any other work-around for this issue?

It really defeats the purpose of using Ansible Tower/AWX at scale.

[2021-03-10 23:54] jladdjr commented on #9547
@Ladas @ryanpetrello we’re talking about reducing the cost of `SELECT MAX(id) from _unpartitioned_main_jobevent`, but it looks like that query is only taking three seconds [1]. When I looked at the migrations yesterday, the task manager was running the `migrate_legacy_event_data` something like 17 times an hour [2]. So, based on what `EXPLAIN ANALYZE` is showing, that only accounts for about a min

[2021-03-11 00:21] jladdjr commented on #9547
I'd like to get a better sense of where the migrate function is actually spending its time. I have two ideas:

1. Turn on [auto-explain](https://www.postgresql.org/docs/12/auto-explain.html) on the database
2. Add some logging to migrate_legacy_event_data that prints some basic time deltas for each query we're running in that method

Working on that first item now.

[2021-03-11 01:02] jladdjr commented on #9547
Just got auto-explain turned on
.. started tower services
.. and I'm starting to see EXPLAIN ANALYZE results dropped in `/var/lib/pgsql/data/pg_log/postgresql-Thu.log`.

I need to hop off for now, but I'm curious about what kind of log info will see after tower has a chance to run through some of the jobevent migration a few times.

[2021-03-11 01:07] jladdjr commented on #9547
Looks like first migration since restart is going through - these EXPLAIN ANALYZE logs just popped up:

[code]

[code]

[code]

[code]

[2021-03-11 01:10] AleksandrKls opened #9552 "Docker-compose installer, Run AWX, result - [Makefile:263: nginx] Error 1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Installer

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: docker-compose
* Ansible version: 2.5.1
* Docker version: 19.03.6, build 369ce74a3c
* Operating System: Ubuntu 18.04

##### STEPS TO REPRODUCE

Installation according to [instructions](https://github.com/ansible/awx/tree/devel/tools/docker-compose)

Var **broadcast_websoc

[2021-03-11 01:12] jladdjr commented on #9547
Pulling out some highlights from those logs:
* `SELECT MAX(id) FROM _unpartitioned_main_jobevent` => 28 seconds (ouch)
* `INSERT INTO main_jobevent SELECT *, '1970-01-01' as job_created FROM _unpartitioned_main_jobevent ORDER BY id DESC LIMIT 1000000 RETURNING id;` => 4 min, 25 seconds
* `DELETE FROM _unpartitioned_main_jobevent WHERE id IN (SELECT id FROM _unpartitioned_main_jobevent ORDER BY id

[2021-03-11 01:13] AlexanderKls commented on #9422
One more question. Why are so many connections created?
![image](https://user-images.githubusercontent.com/79723362/110720629-f7ec7d00-821f-11eb-8b34-977bab8a9815.png)

[2021-03-11 01:13] jladdjr commented on #9547
The insert is by far where we spend most of our time. So we _can_ optimize the `select MAX(id)`, but at best we're going to shave 8.5 hours off of a 4 day 3 hour long migration. Same story for the delete statement.

[2021-03-11 01:14] AleksandrKls commented on #9552
One more question. Why created so many connections?
![image](https://user-images.githubusercontent.com/79723362/110720754-2b2f0c00-8220-11eb-9496-808a0a00f63e.png)

[2021-03-11 01:14] jladdjr commented on #9547
@Ladas - I thought this log entry was interesting - could this be causing any kind of performance hit?
[code]

[2021-03-11 01:19] jladdjr commented on #9547
Turning off auto-explain, otherwise this log file is going to get massive. Also, going to put a bookmark in things for now. 👋

[2021-03-11 01:22] jladdjr commented on #9547
Another thought that just came to mind. Could db vacuuming be killing us while we're doing the migration? Wondering if turning it off (possibly just for some tables) would help us at all (cc @Ladas, @ryanpetrello ).

[2021-03-11 02:04] wenottingham commented on #9543
This issue tracker is for tracking feature enhancements and bugs to AWX itself, not with Ansible.

This looks like an issue with your playbook in ansible itself.
Try the mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible
https://groups.google.com/forum/#!forum/ansible-project

[2021-03-11 02:04] #9543 closed, assigned to nobody

[2021-03-11 06:37] hypery2k opened #9553 "Build Docker containers within AWX"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Would be great if it's possible to build docker images within AWX using the docker module. Therefore DinD is needed.
Any plans to add support for that?

[2021-03-11 09:33] Ladas commented on #9547
summary from slack:

@jladdjr re: `max_wal_size`, yes. We should always do at least basic tuning based on the DB specs, e.g. with https://www.pgconfig.org/#/tuning?max_connections=100&pg_version=13&environment_name=WEB&total_ram=4&cpus=2&drive_type=SSD&arch=x86-64&os_type=linux  (fill in your DB specs)

--------------

@jladdjr if we'd disable vacuuming, the migration would take 2x space on disk.

[2021-03-11 09:34] Ladas commented on #9547
summary from slack:

@jladdjr btw. we should always to at least basic tuning based on the DB specs, e.g. with https://www.pgconfig.org/#/tuning?max_connections=100&pg_version=13&environment_name=WEB&total_ram=4&cpus=2&drive_type=SSD&arch=x86-64&os_type=linux  (fill in your DB specs)

--------------

@jladdjr if we'd disable vacuuming, the migration would take 2x space on disk. (DELETE query doesn'

[2021-03-11 10:13] balonik opened #9554 "login page - bigger Single Sign-on icons in Next UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Please make the Single Sign-on/SAML/Azure AD icons bigger (much bigger!) in the Next UI.
If enabled, other login options should take at least 50% of the Login form/screen.

It is really hard to instruct users to click the smallest Login icon that is easily missed.

![image](https://user-images.githubusercontent.com/17492066/110771357-b1684400-825a-11

[2021-03-11 10:24] balonik commented on #9115
AWX 17.1.0 has the same issue with Login redirect override URL.

And I have raised another issue for the Login icons https://github.com/ansible/awx/issues/9554

[2021-03-11 10:58] endriu0 opened #9555 "Sourcing inventory from EC2 hangs with 'overwrite' due to host being in use"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX Inventory Sourcing from EC2 hangs on refresh because a node appears to be in use by another playbook and cannot be deleted when "Overwrite" is chosen.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: k8s
* Ansible version:  2.9.17
* Operating System: MacOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Cause AWX to think a playbo

[2021-03-11 11:26] thorian93 commented on #9514
Duplicate of #8994, although it persists in Version 17.0.1.

[2021-03-11 11:26] #9514 closed, assigned to nobody

[2021-03-11 11:26] thorian93 commented on #8881
@tstahnke2 any news? I see the same errors in my log in Version 17.0.1 and I also have the issue, that the job output is not updating as described in #8994.

[2021-03-11 13:08] gmtime commented on #9554
Since SAML login is usually corporate, it would be really good to have an option to replace this nondescript icon with company logo - that way it would be much easier to explain to users where they need to click to login

[2021-03-11 13:34] yagomarques opened #9556 "It is not possible to delete an execution_environment if the same ee have already used in a job_template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
- during an Explore Test session  @tiagodread and me, detected this problem around the scenario - `EE association between organization and execution environments trying to DELETE
`

##### STEPS TO REPRODUCE
1. Create an EE
2. Create organization and associate with the EE created on step 1.
3. Create a project using the organization created on step 2.
4

[2021-03-11 13:42] nixocio commented on #9549
Closing this one as a duplicated. See: https://github.com/ansible/awx/issues/9441

[2021-03-11 13:42] #9549 closed, assigned to nobody

[2021-03-11 15:04] akus062381 commented on #7298
@unlikelyzero I checked all around and it seems like coverage is existing for these issues. I am closing this.

[2021-03-11 15:04] #7298 closed, assigned to akus062381

[2021-03-11 15:33] beeankha opened #9559 "Projects Unable to Sync Properly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When attempting to sync/update a Project, the following error is output in the logs:
[code]

When I remove the changes that were made in [this PR](https://github.com/ansible/awx/pull/8580), Projects return to being able to get synced with no errors.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Operating System: Fedo

[2021-03-11 15:41] ryanpetrello commented on #9559
😢 cc @gamuniz

[2021-03-11 15:58] jbradberry commented on #9212
cc @unlikelyzero

[2021-03-11 16:05] jbradberry opened #9560 "Allow WFJT execution_environment to be used as a fallback for node jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
`WorkflowJobTemplate`s have an `execution_environment` field since they derive from `UnifiedJobTemplate`.  However, the current execution environment resolving code doesn't make use of this.  We should add logic to the resolver that allows this value to be used as a fallback if a job hanging off of a workflow node fails to have an explicitly set EE.

[2021-03-11 16:12] jbradberry commented on #9556
All of the reference fields to EEs (Org.default_environment, Project.default_environment, JT/WFJT/Job/WFJ.execution_environment) all have `on_delete=models.SET_NULL` set.  This is part of Django's machinery for dealing with this scenario, and it is somewhat surprising that it is failing in this manner.

[2021-03-11 16:14] wenottingham commented on #9553
No, we don't have plans for this. See https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/1-Jh0fy3AgAJ for some architectural discussion here on how we're  moving to a more K8S-native deployment.

[2021-03-11 16:14] #9553 closed, assigned to nobody

[2021-03-11 16:21] jbradberry commented on #9556
... It has been brought to my attention that there is a separate `polymorphic.SET_NULL`.  My bad.

[2021-03-11 16:32] akus062381 commented on #9230
All set.

[2021-03-11 16:32] #9230 closed, assigned to akus062381

[2021-03-11 17:36] AndreasFrangopoulos commented on #9545
Anyone know a way to hack in the filename with the cli or API?

[2021-03-11 17:56] unlikelyzero opened #9564 "[ui_next] Last and First Name fields appear on Users table even though there is column title for each"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Last and First Name fields appear on Users table even though there is column title for each

##### ENVIRONMENT
* AWX version: devel 03/11

##### ADDITIONAL INFORMATION

<img width="1433" alt="Screen Shot 2021-03-11 at 12 54 57 PM" src="https://user-images.githubusercontent.com/12446869/110832231-1034ba00-8269-11eb-9aff-788a730a11c3.png">

[2021-03-11 18:29] akus062381 commented on #5033
see if this was implemented
add stubs if not
manually test
look for testability

[2021-03-11 18:30] sbuvaneshkumar commented on #2058
It would be even better if we have the ability to organize the templates in a folder view.