[2018-04-05 17:12] jlmitch5 commented on #590
also #1331

[2018-04-06 08:47] ssergeby commented on #1197
- pip:
    name: docker
    version: '3.1.4'
- pip:
    name: docker-compose
    version: '1.20.1'

[2018-04-06 14:21] #200 closed, assigned to ryanpetrello, jakemcdermott

[2018-04-06 14:51] amapi commented on #1672
As workflow are broken witth survey, can we have some kind of ETA  ?

[2018-04-06 17:08] jakemcdermott commented on #200
We've addressed this issue (and others!) downstream so we've closed this issue as resolved - hang tight and the changes will be arriving in AWX in the future.

[2018-04-06 17:45] equick commented on #1532
I believe I also have this issue trying to add outbound proxy support for Slack notifications. We are using Tower 3.2.1
I am guessing that this is the correct configuration for the extra environment variables:
[code]

After saving this I can see the following warning logged:

`2018-04-06 17:26:12,777 WARNING  awx.main.tasks Processing cache changes, task args: [[u'AWX_TASK_ENV']] kwargs: {}`

Afte

[2018-04-06 18:47] guilhemmarchand commented on #1672
Yes this bug is very annoying and breaks any workflow with survey, would be nice to have some visibility ?

[2018-04-06 18:58] ryanpetrello commented on #525
@terra-nova @temazelikin I'm having trouble reproducing this on the latest version of awx - are you all still seeing this issue on `awx 1.0.5+`?

[2018-04-06 18:59] ryanpetrello commented on #525
If so, could you visit any host at: `https://awx.example.org/api/v2/hosts/N/` and share the `variables` data?  This is what I have when I fill out YAML hostvars in the UI:

[code]

<img width="352" alt="screen shot 2018-04-06 at 2 58 55 pm" src="https://user-images.githubusercontent.com/214912/38439274-0d479c2c-39ab-11e8-8a73-d25d4fd1db0f.png">

[2018-04-06 19:32] ryanpetrello commented on #525
Here's the inventory file that will be written by awx for `ansible-playbook` to actually _use_ in my example:

[code]

I'm pretty sure this is equivalent to what your YAML-based hostvars should be doing.

Specifically, _this_ is the inventory file that was generated by awx in this example:

[code]

[2018-04-06 19:58] ryanpetrello commented on #525
Here's what I get if I run an example playbook + template w/ the JSON inventory version:

[code]

[code]

[2018-04-06 19:59] dmsimard commented on #612
+1, I couldn't find how to run adhoc commands until someone told me how.

Running adhoc commands are very useful and should not be buried deep within what would probably be the last place I'd look.

I don't have anything very constructive ideas about where it should be as I'm not very familiar with AWX/Tower to begin with.
I would personally expect that to be somewhere under the "Jobs" menu instea

[2018-04-06 19:59] ryanpetrello commented on #525
Here's an equivalent YAML version:

[code]

[code]

[2018-04-06 20:01] BenJuan26 commented on #1016
Can you explain a little about how you mounted settings.py as a volume? I tried changing `awx/installer/roles/image_build/files/settings.py` but even after rebuilding all containers, my version of the settings was not located at `/etc/tower/settings.py` inside the container.

I'm getting the same error you've provided here.

[2018-04-06 20:07] AlanCoding commented on #1734
Could you get us the logs from when the server error happened, which should contain a traceback?

[2018-04-06 20:43] ryanpetrello commented on #1416
Resolved downstream.

[2018-04-06 20:43] #1416 closed, assigned to ryanpetrello, rooftopcellist

[2018-04-06 20:57] #1026 closed, assigned to nobody

[2018-04-06 20:59] bedcruncher opened #1736 "AWX LDAP Configuration Issues"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
 - Installer

##### SUMMARY
I've created a brand new dockerized AWX configuration and I cannot get it to perform LDAP authentication in any shape or form. I used the steps at the following [URL](http://guyheckman.me/installing-awx-on-centos7.html).

##### ENVIRONMENT
* AWX version: Most Recent Github Version
* AWX install method: docker on

[2018-04-06 21:15] dmsimard opened #1737 "Expected /var/lib/awx/venv/ansible to be used and it's not"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- UI
- Installer

##### SUMMARY
There are references in the documentation that AWX should be using ansible as installed in ``/var/lib/awx/venv/ansible`` but it's actually using ``/usr/bin/ansible-playbook`` with the ``/usr/bin/python2`` interpreter.

##### ENVIRONMENT
* AWX version: awx==1.0.5.22
* AWX install method: ``docker-compose up`` from [

[2018-04-06 21:18] ryanpetrello commented on #1737
@dmsimard are you seeing the same behavior using one of awx's officially supported installation methods?

https://github.com/ansible/awx/blob/devel/INSTALL.md

[2018-04-06 21:23] dmsimard commented on #1737
@ryanpetrello I'll try and report back AFAIK the ``awx_task`` container (that I reproduced this on) comes straight from Ansible: https://github.com/geerlingguy/awx-container/blob/3800cd13a24bbc9e55bd149e44d9065efa3ee779/docker-compose.yml#L46

[2018-04-06 21:55] dmsimard commented on #1737
@ryanpetrello same thing with the official docker installation:

[code]

See screenshot:

![alt text](https://i.imgur.com/dQIUqIr.png)

Here's some sort of reproducer on the ``awx_task`` container itself:

[code]

[2018-04-06 23:11] newlandk commented on #1016
@BenJuan26 we just mount a modified settings.py outside the container and mount it in the container as a volume for the time being.

When you run your docker-compose add arguments similar to this for awx_web:

[code]

More information here on volumes/mounts: https://docs.docker.com/storage/volumes/#start-a-container-with-a-volume

[2018-04-07 09:01] psy-q commented on #1387
Absolutely fantastic, cheers :)

[2018-04-07 15:05] tjyang commented on #1736
Hi @bedcruncher

* Please look at https://github.com/ansible/awx/issues/1040
[code]
* I haven't try above tip from Riccardo1976 myself yet.

[2018-04-09 08:53] amapi commented on #1731
This use to work at least in 1.0.2.x So , juste a simple question, how to use a Workflow with surrvey prompted on lauch ? An Idea ?

[2018-04-09 09:15] abatista75 commented on #939
What could be the workaround?

[2018-04-09 09:19] apollo13 commented on #688
This seems to be fixed on the devel branch:
![image](https://user-images.githubusercontent.com/81547/38489849-d446fcbc-3be7-11e8-86e2-573d50f44f01.png)

[2018-04-09 09:33] FloThinksPi commented on #688
Uh Nice to her that. It would bei interresting to know which Commit or commits fixed that as i am backporting fixes Into a own Version because we cannot Upgrade Major Versions due to Database incompatibillity :) . I went quickly over The Last commits but didnt find a responsible one

[2018-04-09 12:58] tjyang opened #1738 "RFE: Drill down to see actual failed jobs in JOB STATS trending chart"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
By moving mouse cursor, currently we can see failed/successful jobs at particular day.
This is a feature request if awx UI can display failed jobs or successful job list when user left click on the failed red/green circular icons.

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible vers

[2018-04-09 12:59] bedcruncher commented on #1040
@Riccardo1976 Can you send me the commands that you used to manually insert it into the DB? I've never worked with Postgres and want to make sure I get it correct. Thanks

[2018-04-09 13:06] bedcruncher commented on #1736
I saw that @tjyang but I have not ever messed with Postgres and am not 100% sure of the proper command to insert it like @riccardo1976. I've reached out to him in the original thread to see if he can paste the commands that he used. Do you perhaps know that information, or can you point me in the right direction?

[2018-04-09 13:38] Riccardo1976 commented on #1040
@bedcruncher Unfortunately i dont have them and would have to reproduce them. But it is besides the point because checking the details in AWX would then overwrite them again.

The issue was that by selecting the ldap require group you cant/couldnt use ldap user search and ldap group search. So basically you would have to figure out the right settings to use.

I've posted an example of what worked

[2018-04-09 14:14] jesusvazquez commented on #223
I'm going to push this a little too! It would be nice to have this feature running.

I was thinking that a possible workaround could be setting up an inventory script that iterates through the inventory and the variables decripting each one of them and then override the inventory on each project update.

Have anyone attempted anything like this? Would it make any sense?

Regards.

[2018-04-09 14:48] wenottingham commented on #1737
I'm a little confused here as to what's requested.

ansible is installed as a system RPM, ergo the `#!/usr/bin/python2` comes from Ansible itself. Activating the venv isn't going to rewrite the Ansible binary.

We use the venv via setting PYTHONPATH, hence it will use newer things from the venv even with that python.... we support adding new python libs to the venv, not changing the python interpr

[2018-04-09 14:50] ryanpetrello commented on #1737
@dmsimard Can you point us where you see this?  If there are docs that suggest this, we should probably correct them.  The docs I've found (https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md) suggest that the _virtualenv_ at `/var/lib/awx/venv/ansible` will be activated (which is true), not that the `python2` _binary_ in that venv will necessarily be used.

I _can_ confirm the be

[2018-04-09 14:56] ryanpetrello commented on #1737
@dmsimard if you're seeing evidence that the venv at `/var/lib/awx/venv/awx/` is _not_ activated or is _not_ in use for job runs, let me know and I'll re-open this.

[2018-04-09 14:56] #1737 closed, assigned to nobody

[2018-04-09 15:12] chrismeyersfsu opened #1739 "Delete Instance Group without selecting an Instance Group - Infinite gear icon"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- UI

##### SUMMARY
On the Instance Group list, clicking the trash can without selecting any Instance Groups results in the gear icon showing without ever disappearing.

Note: After this happens, you can "recover" by simply refreshing the page.

[2018-04-09 15:36] BenJuan26 commented on #1418
Seeing this error with 1.0.5.22. The logs are basically identical to the OP.

[2018-04-09 15:36] bedcruncher commented on #1040
@Riccardo1976 I went back through and methodically verified what I had against yours and I was able to get logged in with my AD Creds. So this is working, it just seems very as you stated before Odd and janky...

[2018-04-09 15:45] bedcruncher commented on #1040
For completionist sake, here are the settings from the Postgres DB server that get added once it successfully accepts your user auth.

` AUTH_LDAP_1_START_TLS | true
 AUTH_LDAP_SERVER_URI          | "ldap://fqdn:389"
 AUTH_LDAP_BIND_DN             | "CN=Ansible,OU=Service_Accounts,DC=SOMENAME,DC=FINAL PART OF DOMAIN"
 AUTH_LDAP_BIND_PASSWORD       | "REMOVED"
 AUTH_LDAP_START_TLS           | false

[2018-04-09 15:46] bedcruncher commented on #1736
Here are the settings from the DB that get stored if you follow @riccardo1976, so if for some reason you have to manually input them, this is what will be stored in your DB.

 AUTH_LDAP_SERVER_URI          | "ldap://fqdn:389"
 AUTH_LDAP_BIND_DN             | "CN=Ansible,OU=Service_Accounts,DC=SOMENAME,DC=FINAL PART OF DOMAIN"
 AUTH_LDAP_BIND_PASSWORD       | "REMOVED"
 AUTH_LDAP_START_TLS

[2018-04-09 17:33] asc-me opened #1740 "UI freezes bottom lines on job task reader"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: AWX 1.0.5.20
* AWX install method: docker compose on linux
* Ansible version:  2.5.0
* Operating System: centos 7 3.10
* Web Browser: chrome

##### STEPS TO REPRODUCE

in a longer running play, if you sit and watch the template run, lock your computer, then turn it back on while its still ru

[2018-04-09 17:37] jakemcdermott commented on #1740
Hello Twistedsixty4,

Thanks for filing this bug report. This issue has been resolved downstream and so you'll be seeing the fixes for this issue once the code changes are merged back into AWX.

[2018-04-09 17:37] #1740 closed, assigned to nobody

[2018-04-09 17:38] #1724 closed, assigned to nobody

[2018-04-09 17:39] sujiar37 commented on #1588
@ewjoachim  @ryanpetrello are there any work around available to fix this SSO issue ? SSO  [ azure AD ] breaks after upgrading awx version 1.0.3 to 1.0.4.130 through docker-compose. And, is it possible to downgrade awx version to previous through docker compose
( assume that we use external postgre db ) ?  any help would be appreciated

[2018-04-09 18:04] traytonwhite opened #1741 "Add option to have Slack notifications reply to a thread, rather than the whole channel"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Offer option for Slack notifications to include a thread timestamp so that notifications can reply to a specific thread. More details on Slack threaded messages/replies [here](https://api.slack.com/docs/message-threading)

##### ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
When setting up a Destination Channel, user wi

[2018-04-09 18:35] terra-nova commented on #525
@ryanpetrello Sorry, I had totally forgotten about this issue... I haven't encountered this issue since updating to 1.0.2.0 I think.

[2018-04-09 18:36] tc-jhall commented on #1734
Yes, I will get some logs in the next day or so when I can re-create the failure.

[2018-04-09 18:40] ryanpetrello commented on #525
@terra-nova no problem - thanks for letting me know!

I'm going to go ahead and close this one.

[2018-04-09 18:40] #525 closed, assigned to nobody

[2018-04-10 06:04] ChuckPerry opened #1743 "RuntimeError: project local_path ntpdate cannot be found in /var/lib/awx/projects"
ISSUE TYPE
-- Bug Report

COMPONENT NAME
-- UI

SUMMARY
After creating my project and job_template  without any issue.when I ran the job,It told me the messages below.
--- message ---
Traceback (most recent call last):
File "/usr/lib/python2.7/site-packages/awx/main/tasks.py", line 897, in run
cwd = self.build_cwd(instance, **kwargs)
File "/usr/lib/python2.7/site-packages/awx/main/tasks.py", line

[2018-04-10 07:59] temazelikin commented on #525
Yes, it seems to go away after we upgraded to 1.0.5.20.

[2018-04-10 10:15] jamestutton opened #1744 "Custom Inventory Script Credentials"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Ability to pass Custom Credentials to custom inventory script.

Some of the cloud inventories allow passing credentials but there isn't a suitable option when using a custom script.  In my case pulling data from an asset management system.  As the script is displayed in RAW form in the AWX UI and the environment variables a

[2018-04-10 11:32] calston commented on #1418
@jangsutsr

[2018-04-10 11:33] vab2048 opened #1745 "Backing up and restoring AWX"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - API
 - Installer

##### SUMMARY
Currently the [documentation](http://docs.ansible.com/ansible-tower/latest/html/administration/backup_restore.html) for tower's backup and restore feature says to use a script `setup.sh` but it is not clear where that script when using AWX.

Please can documentation be provided for backing up and restoring a

[2018-04-10 12:21] bmalynovytch commented on #223
I worked around this issue using some evil trick: I let AWX load all variable files except those that are vaulted, which are moved away in a different directory structure, when syncing inventory, and load the vaulted files in the playbook.

Here's my directory structure:
[code]
Task file is loaded in playbook with:
[code]
Task file contains:
[code]

[2018-04-10 12:42] dragon2611 opened #1746 "Venv Docker"
##### ISSUE TYPE
 - Bug Report
 - Documentation

##### COMPONENT NAME
- UI
 - Installer

##### SUMMARY
Virtual Environments don't appear to be exposed outside of the docker containers
Could just be user error but wouldn't this lead to loss of the venv on an update to the container?

##### ENVIRONMENT
* AWX version: AWX 1.0.5.22
* AWX install method: docker on linux
* Ansible version:  2.50
* Opera

[2018-04-10 13:07] ryanpetrello commented on #1746
Hey @dragon2611,

Take a look at https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md#preparing-a-new-custom-virtualenv, specifically the part that starts with:

It's possible that we could expose some sort of volume mapping to the host for this in the future, but for now, the supported way to do this w/ the installer is to build your own image that bakes in your custom dependencie

[2018-04-10 13:12] msilmser opened #1747 "RFE: Add Tags in Workflow Editor"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- UI
- API

##### SUMMARY
Customer would like to be able to add/skip tags in the workflow editor in addition to individual job templates

[2018-04-10 13:14] ryanpetrello commented on #1745
@vab2048 the documentation you're referencing is specific to Tower, which is not currently container based like awx; the `setup.sh` script referenced in the documentation does not exist in the awx source because it just plain _doesn't work_ with awx due to differences in deployment strategy.

A new feature recently landed in https://github.com/ansible/tower-cli which might interest you.  It allows

[2018-04-10 13:14] #1745 closed, assigned to nobody

[2018-04-10 13:20] ryanpetrello commented on #1744
Hi @jamestutton,

awx has support for custom credential types, which allow you to define your own custom fields (e.g., username, password, API key) and also define how those field values are injected into the `ansible-playbook` runtime environment (e.g., setting specific extra vars, setting environment variables, writing out templated data to a file).  Take a look at this Ansible Tower documentati

[2018-04-10 13:20] #1744 closed, assigned to nobody

[2018-04-10 13:23] akcrisp opened #1748 "awx-manage print_settings traceback with awx_1.0.5.11 build"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

 - Installer

##### SUMMARY
running the command  (in awx_task container) -  "awx-manage print_settings"

crashes out with errors -

2018-04-10 13:09:00,615 WARNING  awx.conf.settings The current value "u'MemberDNGroupType'" for setting "AUTH_LDAP_1_GROUP_TYPE" is invalid.
Traceback (most recent call last):
  File "/usr/lib/python2.7/si

[2018-04-10 13:25] ryanpetrello commented on #1743
@ChuckPerry,

Are you managing your project manually, or via a git/hg/subversion/ clone?

My guess as to what's happening here is that you've set up a manual project and haven't placed the playbooks on _every_ file system at `/var/lib/awx/projects/`

[2018-04-10 13:28] ryanpetrello commented on #1741
Hey @traytonwhite,

PRs are welcome 😄 - I took a look at your branch and while I'd probably have some feedback on it, I'd say this sounds like a neat idea in general and worth proposing as a patch.  If you'll open a PR, folks on the awx core team will chime in w/ comments.

[2018-04-10 13:29] ryanpetrello commented on #1741
Bah, didn't mean to close this.  If you do open a PR, please reference this issue number in the commit message, e.g.,

`see: https://github.com/ansible/awx/issues/1741`

[2018-04-10 13:37] dragon2611 commented on #1746
@ryanpetrello Aren't all supported deployments container based?

The only reason I even started down the path of venv is because I needed netaddr for a jina2 IP filter.

[2018-04-10 13:39] ryanpetrello commented on #1746
@dragon2611 awx shares it source code with Ansible Tower, which is currently _not_ container based - you'll find that much of the awx docs are ambiguous in this regard to describe all possible types of deployment for features.

[2018-04-10 13:46] ryanpetrello commented on #1746
@dragon2611 if you're just adding a single dependency, _another_ option is that you can build your own dependencies into the base ansible virtualenv by adding to:

https://github.com/ansible/awx/blob/devel/requirements/requirements_ansible.txt

...and following the instructions to build your own image:

https://github.com/ansible/awx/blob/devel/INSTALL.md#official-vs-building-images

[2018-04-10 13:47] #1746 closed, assigned to nobody

[2018-04-10 13:53] ryanpetrello commented on #1694
Please re-open if you've got some more details to share.

[2018-04-10 13:53] #1694 closed, assigned to nobody

[2018-04-10 13:57] ryanpetrello commented on #1732
Hi @seansabour,

Does your web browser's developer console provide any clues about the request that's failing (I'm assuming you're getting an `HTTP 404` based on this error message).

Any Javascript errors in the console?
If you `~ docker log awx_web` do you see any tracebacks/HTTP errors that might point at a culprit?

[2018-04-10 14:20] ryanpetrello commented on #1710
@christopheduchenoy can you share the generated `docker-compose.yml` file?  It might help us debug.

[2018-04-10 14:23] ryanpetrello commented on #1614
Hey @zhangtiny123,

Thanks for reporting this - I'm able to see the same behavior.

[2018-04-10 14:31] ryanpetrello commented on #1588
@sujiar37 (and others),

Sorry for letting this one linger - I'm taking a look and trying to reproduce now.

[2018-04-10 14:41] BenJuan26 commented on #1418
@hitmenow I tried editing `awx/sso/views.py` the same way you did and I was also redirected to the login page with no error, neither on the screen nor in the logs. So either we're doing the same things wrong or the one-liner isn't an actual fix for the issue.

[2018-04-10 14:44] christopheduchenoy commented on #1710
# file docker-compose.yml (anonymized) :
http://bit.ly/2Hfj0bx

[2018-04-10 14:47] cpatry-poly commented on #1418
@BenJuan26 : @piotron explained earlier the next step :

It really works this way !

So when we "fix" the auth.login function to remove the "multiple authentication backends" error, we are **correctly** logged (it seems) but **wrongly** redirected to the login page :-) .

[2018-04-10 15:07] BenJuan26 commented on #1418
@Tiduster Thanks, I missed that comment. I'm curious whether the wrongful login page redirection existed prior to the multiple backends error, or was introduced in 1c2621c with the rest of the changes.

[2018-04-10 16:42] ewjoachim commented on #1588
@sujiar37 it seems there's a workaround outlined at https://github.com/ansible/awx/issues/1418

[2018-04-10 17:17] seansabour commented on #1732
@ryanpetrello.
Only get a vague warning from console, might help you though.:
[code]

this is from docker log awx_web:
[code]

[2018-04-10 17:28] wenottingham commented on #1729
This is just duplicating the message that comes from Ansible; we would not change this in AWX.

[2018-04-10 17:28] #1729 closed, assigned to nobody

[2018-04-10 17:31] wenottingham commented on #1733
Do you have any AVC messages from SELinux?

[2018-04-10 17:41] wenottingham commented on #1719
Did you set up persistent storage for your database container?

[2018-04-10 17:43] jakemcdermott commented on #283
This has been handled downstream and will be resolved in AWX when the associated code changes are merged into AWX.

[2018-04-10 17:53] tjyang commented on #1736
Hi @bedcruncher

I finally got a chance to test out AWX LDAP binding with my office MS AD server.

Using same LDAP setting(ie, Leave "LDAP REQUIRE GROUP" blank when LDAP USER/GROUP SEARCH are configured).

ansible01: AWX 1.0.2 using [rpm install approach(not supported by AWX team)](https://github.com/MrMEEE/awx-build/blob/master/installguide)
ansible03: AWX 1.0.5 using supported docker install app

[2018-04-10 18:04] ryanpetrello commented on #1710
@christopheduchenoy Sorry, any chance you could paste it in a preformatted block in the comment?  I think Github is eating up spaces in your paste (which matter):

[code]
[code]

[2018-04-10 19:31] AlanCoding commented on #1747
This is presently in the API, and I believe it's in progress for the UI. @mabashian if you agree I believe we should close this because it's covered by other issues.

[2018-04-11 01:10] ChuckPerry commented on #1743
yes,first,I got this package from git clone.
and I wrote a local yaml on my /var/lib/awx/projects/
this‘s my file:

[root@node04 ~]# docker ps -a
CONTAINER ID        IMAGE                        COMMAND                  CREATED             STATUS              PORTS                                                 NAMES
ec218f40a1f3        ansible/awx_task:latest      "/tini -- /bin/sh -c…"   2 week

[2018-04-11 01:45] ChuckPerry commented on #1743
Oh,I see.
I put it in a wrong place.
I need create yaml in awx_task container.
Sorry for my misunderstand.

[2018-04-11 03:21] jangsutsr commented on #1418
Nice catch on this bug 👍 According to [django source](https://github.com/django/django/blob/1.11.11/django/contrib/auth/__init__.py#L143), `user.backend` is supposed to be populated, otherwise the exception block beneath it would try iterate over `settings.AUTHENTICATION_BACKENDS`, which is most likely longer than 1, and throw multiple backend error.

@rooftopcellist I believe this was originally

[2018-04-11 08:07] akcrisp commented on #1748
Just bit more background - I am using this to get the settings so I can backup the db. Therefore its a fairly important...

[2018-04-11 10:49] leetecarey commented on #1040
Confirmed wouldnt save config but following @Riccardo1976 procedure and entering it on single line rather than indented, worked

[2018-04-11 11:06] s19n commented on #1707
Shall we agree that the documentation is dangerously incomplete then?
https://github.com/ansible/awx/blob/devel/INSTALL.md#maintenance-using-docker-compose

[2018-04-11 11:59] niso120b commented on #592
Hi @matburt, there is any updates about it?

[2018-04-11 12:09] s19n commented on #849
It seems that's not the case: https://github.com/ansible/awx/issues/1707#issuecomment-377351025

[2018-04-11 12:15] Baefisch opened #1749 "SAML Authentication not working. Wrong location in AssertionConsumerService Binding"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - SAML Authentication

##### SUMMARY
Not able to authenticate. Got localhost in SAML configuration.
configured addresse in Webui:
https://ansible-tower-xy.com/sso/metadata/saml/

get the following back:
<md:SPSSODescriptor AuthnRequestsSigned="false" WantAssertionsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol

[2018-04-11 13:00] qi-teq commented on #269
Double-check that you are opening ports on your server / VM configuration for PostgreSQL database; this just happened to me because docker capsules use their names as hostnames to communicate locally, but odoo app and postgreSQL are (technically) not aware of such compartementalization.

So after reboot for some unknown (yet) reason containers cannot resolve hostnames locally wich is solved by res

[2018-04-11 13:18] Volkimd opened #1750 "AWX on Openshift installation failed with rabbitmq container error: "su-exec: setgroups: Operation not permitted""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

I try to install AWX in Openshift from this repo and have a problem with rabbitmq Container.
It crashes and put the message
`su-exec: setgroups: Operation not permitted`

##### ENVIRONMENT
* AWX version: latest
* AWX install method: openshift
* Ansible version:  2.4.2.0
* Operating System: Red Hat Enterprise Linux

[2018-04-11 13:38] dragon2611 opened #1751 "Manual maintiance cleanup Ignores user input."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Values entered during prompt "Set how many days of data should be retained" during manual maintenance job run are ignored.

##### ENVIRONMENT
* AWX version: AWX 1.0.5.22
* AWX install method: , docker on linux,
* Ansible version:  2.50
* Operating System: Docker-host Centos7 - Client machine Mint 18.3
* Web Browser: Firefo

[2018-04-11 13:47] dragon2611 commented on #1751
Chrome 65.0.3325.181 has the same problem.

[code]

[2018-04-11 14:14] ahotzler opened #1752 "Extra Environment Variables from global settings not passed to playbook run"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Variables, defined in AWX-Webinterface->Settings->Jobs->"Extra Environment Variables" are not passed to a playbook run

##### ENVIRONMENT
* AWX version: 1.0.5.22
* AWX install method: docker
* Ansible version:  ansible 2.5.0
* Operating System: CentOS Linux release 7.4.1708 (Core)
* Web Browser: Chrome

##### STEPS TO REPR

[2018-04-11 14:18] ryanpetrello commented on #1588
Yep, this looks like a duplicate of #1418 - I'm going to close this so we can track the bug fix over there.

[2018-04-11 14:18] #1588 closed, assigned to nobody

[2018-04-11 14:25] christopheduchenoy commented on #1710
I have uploaded the file in paste.org and modified the previous comment ;)

[2018-04-11 14:35] ryanpetrello commented on #1710
Okay I see what you're saying now - it looks like that `dns` key isn't being properly indented when we generate it.

[2018-04-11 14:37] LukeShortCloud commented on #1752
The environment variables are added to the shell environment, not the Ansible facts/variables. Try using a Jinja environment lookup instead.

[code]

http://docs.ansible.com/ansible/2.5/plugins/lookup/env.html#examples

[2018-04-11 14:43] s19n opened #1753 "Unable to clone mercurial repositories hosted on servers using SNI"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - AWX "web" docker image

##### SUMMARY
Mercurial projects cannot be cloned when the remote server is hosting multiple SSL certificates via SNI. All certificates are LetsEncrypt signed and currently valid.

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version:  2.5.0
* Operating System: Ubuntu 16.04
* W

[2018-04-11 15:15] FloThinksPi commented on #1707
Never Endig Story , The  Missing Update paths. Is towercli already working for data Export Import ?

[2018-04-11 15:38] AlanCoding commented on #1751
Duplicate of https://github.com/ansible/awx/issues/369

[2018-04-11 15:38] #1751 closed, assigned to nobody

[2018-04-11 15:41] AlanCoding commented on #1752
Let us know if the solution from @ekultails does not solve your issue.

[2018-04-11 15:41] #1752 closed, assigned to nobody

[2018-04-11 16:00] Arlion opened #1755 "API Post to AWX does not check if content-type is a valid type."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
POST Requests to AWX API do not check the Connect-Type of an incoming request to ensure it's type is "application/json"

When post requests are not a valid json POST request, the API returns a 500.

##### ENVIRONMENT
* AWX version: 1.0.4.130
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating Syste

[2018-04-11 16:21] xordoquy commented on #1418
`user.backend` is populated by calling `authenticate` ([Django documentation](https://docs.djangoproject.com/en/2.0/topics/auth/default/#selecting-the-authentication-backend)) before `login`.
Does any other auth backend redirects to the `sso_complete` ?
If not, it should be fixed by adding the backend argument while calling `login`.

[2018-04-11 16:44] ryanpetrello commented on #1710
Hey @christopheduchenoy, a change has been merged which should address this.  Thanks for reporting this.

[2018-04-11 16:44] #1710 closed, assigned to nobody

[2018-04-11 18:05] wenottingham commented on #1753
While true, the container image is built from EL-7 and pulls its packages from there. I don't know that we'd specifically pick this up unless EL-7 does.

[2018-04-11 18:32] AlanCoding commented on #1257
@MrMEEE you need to look at the API entry for the project update, example, `https://your.awx.com/api/v2/project_updates/42/`. If you use a common browser, it should render the API browser page. Within the data it shows, there should be `result_traceback`, which is _not_ present in the logs (we will fix this). That should give information about the root cause, and we would very much appreciate seei

[2018-04-11 18:38] MrMEEE commented on #1257
Hi Alan

Thanks for the feedback.. I discovered that the root cause was wrong settings in the /opt/awx folder

[2018-04-11 19:11] johnjeffers commented on #1707
@FloThinksPi There's a fork in development to add the necessary features to towercli that's working pretty well. I used it to migrate from 1.0.2 to 1.0.4.

https://github.com/john-westcott-iv/tower-cli

I'm not sure how much of his work has been merged into the main tower-cli repo, but you can install it from his fork and use that until it is.

`pip install -U git+https://github.com/john-westcott-

[2018-04-11 19:44] e-tienne opened #1756 "RFE: Add Scheduled / Queued Job in Workflow Editor"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
Be able to run a Scheduled / Delayed job chained to a Workflow.

Use Case Workflow:
-  _Run Playbook 1 (patch  Server1)_
-  _On Success,  Run Playbook 2 **once at 3AM** (reboot Server1 during a planned maintenance window)_
##### ENVIRONMENT
* AWX version: any

[2018-04-12 03:11] haught opened #1758 "Radius auth broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Enabling radius authentication causes error and locks out all users including admin

##### ENVIRONMENT
* AWX version: 1.5.0 and devel (1.5.23)
* AWX install method: docker on linux, docker for mac
* Ansible version:  2.5.0
* Operating System: Linux - Docker
* Web Browser: N/A

##### STEPS TO REPRODUCE

In Settings->Authent

[2018-04-12 08:06] rromanchuk commented on #888
@daviarpfc same. Nothing shown running, then the job just hangs until i cancel it. Inventory scripts won't sync either.

[2018-04-12 09:06] ahotzler commented on #1752
Thank you, that makes sense. I misunderstood the configuration setting.

[2018-04-12 09:55] Yiadh commented on #318
@matburt I faced the same problem several time. I did not find a way to solve it. Please investigate :)

[2018-04-12 11:02] cesarfn4 opened #1759 "Allowing password phrase to ssh keys for isolated node"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
We have a customer that needs to manage the RSA key that we distribute to all "isolated" nodes  (isolated_key_generation=false), but the isolated nodes only accepts SSH keys without passphrase.

##### EXPECTED RESULTS
Allowing password phrase to ssh keys for isolated node

[2018-04-12 16:12] rromanchuk commented on #888
@st0ne-dot-at from console, do you know if there is anyway to safely delete all jobs, and all inventory? My Inventory is stuck in this state

<img width="1021" alt="screen shot 2018-04-12 at 1 12 15 am" src="https://user-images.githubusercontent.com/102188/38664491-a0c02a18-3dee-11e8-9acb-20cf822a1e56.png">

I basically want to purge almost everything, but the data model looks complex and I'm afra

[2018-04-12 18:45] nabarry commented on #989
While AWX may not be a marketing tool, without any way to install it anywhere other than in a container, I also don't see it becoming a widely used platform, which I suppose is by design.

[2018-04-12 20:04] challenger90 commented on #1710
It's very good ! thx

[2018-04-12 20:51] cpbills commented on #223
Assuming I could set 'ANSIBLE_VAULT_PASSWORD_FILE' in the 'Environment Variables' YAML/JSON field for adding inventory sourced from a project, where would AWX be looking for that file? Is the "suggestion" to add your ansible vault password file to your Ansible SCM controlled project, so that the docker image can see that file?

[2018-04-13 06:16] mirskiy opened #1761 "On object updates, include summary_fields in ActivityStream log. (such as object id/pk)"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

This came out of discussion on #1757
On update, the object id is not included in any of the fields logged by the ActivityStreamMiddleware, and there is no single field that could be logged to solve the issue for all object types - each type has a separate field in ActivityStream.
On create and delete, the object id is

[2018-04-13 09:27] guilhemmarchand commented on #1672
Hello, would there be any news about this issue ?

[2018-04-13 10:17] FloThinksPi commented on #1707
@johnjeffers Thanks, good to know. I also looked at it a while ago and tested it. Unfortunally the System settings, credentials are not included as well as job statistics. This is systematic due to limitations of the REST API.

In General it is a great idea to use the static API for this, but it does not catch all Data wich one would keep on Update because there are technical limitations of the RE

[2018-04-13 11:57] AlanCoding commented on #1756
This kind of use case is really good for what the tower modules do. You can still use the workflow to avoid putting the schedule-related logic inside of your "patch Server1" playbook. Create a separate playbook that makes a schedule which runs inside the workflow on success.

Unfortunately, I think we don't yet have a `tower_schedule` module

https://github.com/ansible/ansible/tree/devel/lib/ansib

[2018-04-13 12:48] ke3vin commented on #989
+1.  Having this only available as a container install is not useful to us.

[2018-04-13 14:20] wenottingham commented on #1749
Hi, if you're having an issue with configuration of Ansible Tower, please contact your Red Hat support rep.

[2018-04-13 14:25] wenottingham commented on #1736
You should not be connecting to PG to change configuration ever.

This honestly sounds like a configuration issue that is best discussed on list or in IRC; please redirect there so that it can be worked through.

[2018-04-13 14:25] #1736 closed, assigned to nobody

[2018-04-13 14:26] unlikelyzero opened #3832 "On Org Detail Page, 'User' count includes direct and indirect memberships"
#Steps To Reproduce
Precondition: Organization with 2 member, 2 system admins and one of those system admins is given the member role.
1. As a system admin, view the /organizations/N/users page. Note that 4 Users are shown in the 'Organization Users' view
2. On the organization view, on the 'Org List Subpane' and note that the 'User Count' is 3.

<img width="1167" alt="screen shot 2018-04-13 at 11

[2018-04-13 19:15] vab2048 opened #1762 "Unable to add variable file to template"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

Not sure which one this comes under.

##### COMPONENT NAME
 - UI

##### SUMMARY
When running from the command line I can include a variable file using the -e flag:

`ansible-playbook -e "@vars_file.yml" -e "ENV=prod" some_playbook.yml`

I can easily replicate the key value pair in the template by simply adding it to the "extra vars" box but how do I

[2018-04-13 20:22] wenottingham commented on #1762
You can't/don't.

Can do an extra_var or survey that's used to populate a vars_file entry in the playbook.

[2018-04-13 20:22] #1762 closed, assigned to nobody

[2018-04-14 18:51] howels opened #1763 "Request addition of Python netaddr to default virtualenv"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY

The Python netaddr package is widely used and mentioned as [closely related to Ansible](http://docs.ansible.com/ansible/latest/user_guide/playbooks_filters_ipaddr.html) but is not available in the default venv.  This rules out deploying other major projects including the popular [Kubernetes Kubespray installer](h

[2018-04-15 06:21] tjyang opened #1764 "[RFE] Better doc on ldap config"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME

- UI

##### SUMMARY

To verify AWX LDAP config  code via  public ldap test server connection.

##### ENVIRONMENT
* AWX version: 1.0.5.23
   * AWX version 1.0.6.1 can't save the ldap setting either.
* AWX install method: docker on linux
* Ansible version:  2.5.0
* Operating System: CentOS 7.4
* Web Browser: Chrome

##### STEPS TO REPRODUCE

*

[2018-04-16 05:17] megakoresh opened #1765 "When module launches a binary that relies on environment variables, credential variables are not passed to it"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
When I use e.g. terraform module with a binary that is downloaded in the same playbook, the credentials I have configured don't get passed to the binary it seems. The same playbook executed on my own machine with the exact same environment variables configured works just fine. In addition dynamic inventory script in

[2018-04-16 05:47] Baefisch commented on #1749
I am using AWX. Only the dns name is Ansible-tower. Sorry for that.

[2018-04-16 12:12] megakoresh commented on #1295
Just hit this problem as well.

[2018-04-16 12:20] megakoresh commented on #960
Can someone post a status update on this? Seems like the fix is there, but not merged and PR is closed. The bug is till there.

[2018-04-16 13:59] alexander-bauer commented on #888
This, or a symptomatically similar issue started happening to me after my upgrade from AWX 1.0.2 to 1.0.5, and I discovered that it was the result of my default instance group no longer using the local `awx_task` container. It's possible that this is configured correctly in new versions, but that it is necessary in upgrading to configure the default instance group.

After finding this, I edited th

[2018-04-16 14:00] wenottingham commented on #1749
What is your SAML configuration?

[2018-04-16 14:29] jlmitch5 commented on #960
hey @megakoresh there is a fix for this issue that will be merged back into the devel branch of AWX.  Sorry about the inconvenience.

[2018-04-16 15:36] matburt commented on #735
I think that sounds like a good idea. Would want to see this in a PR and documented. The config setup might should be its own credential?

[2018-04-16 16:09] LeDOC666 opened #1766 "win_copy Connection aborted.', error("(104, 'ECONNRESET') on AWX"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- WinRM

##### SUMMARY

Can you add module pywinrm 0.3.0 to docker image to correct bug deposed on issue:
#https://github.com/ansible/ansible/issues/38474

[2018-04-16 18:29] benthomasson opened #1767 "Feature: User Story 2: “I need to validate my known inventory from User Story 1 with comparisons to live LLDP/CDP data”"
- [ ] Define facts that will update the network UI
- [ ] Transform LLDP/CDP fact data into those defined facts

[2018-04-16 18:30] benthomasson opened #1768 "Feature: User Story 3: "I'd like to target a graphical node on the canvas and execute an arbitrary playbook against that node.""
- [ ] Add playbooks to the contextual menu by looking through the job templates for an inventory for certain tags
- [ ] When the playbook is selected run the corresponding job template and set the host filter for the selected node(s)
- [ ] Add a contextual menu for multiple-selection (shift-click)

[2018-04-16 20:58] seansabour opened #1769 "502 Bad Gateway"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Came back from weekend and noticed I was getting a 502 Bad Gateway when I have not made any changes. I believe something may have been corrupted

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux,
* Ansible version:  2.5.0
* Operating System: Centos 7.4
* Web Browser: Firefox 59.0.2

##### STEPS T

[2018-04-16 21:07] seansabour commented on #1769
Digging a bit deeper I noticed it seems to be an issue with postgres container:

[code]

Not sure if this is because i installed using default configuration and postgres data dir was set to /tmp/pgdocker.

[2018-04-16 21:50] missnebun commented on #592
Really curios about this as well.

[2018-04-17 02:47] madeinoz67 commented on #1769
Ive had this problem myself a few times across various versions of AWX and appears to be the data directory for the postgres container disappears some time after the initial install i.e. a week or so and have yet to pin the cause down, not sure if its a scheduled task on the host cleaning up the tmp directory.   Only commonality is I'm using Centos 7.4 on the host

To get around this I'm in the pr

[2018-04-17 04:35] madeinoz67 opened #1770 "Adhoc task output not displayed after returning to job detail"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When executing an adhoc command the output is displayed as per normal, however if I leave the job detail page and then return back to the job detail the output is not displayed.

Returning to a template job works as expected.

##### ENVIRONMENT
* AWX version: 1.0.5.23
* AWX install method: docker on linux
* Ansible versio

[2018-04-17 09:00] daswars commented on #1054
Hi,
I have the same or similar problem.

AWX Version (AWX 1.0.5.23)

i habe a project with a roles/requirements.yml file and an inventory.ini file.

Without error at str out:
STATUS
 Error
EXPLANATION
SCM Update failed for ansible-playbook-fusion with ID 352.
LICENSE ERROR
False

And this infos at awx task docker logs

[code]

A import with "awx-manage inventory_import --inventory-name test --sour

[2018-04-17 09:10] daswars commented on #1054
ok i have the solutions for my problem.

In my requirements.yml configuration I have 14 roles (to my own gitlab).
one of the git link had no permissions
With the assignment of the rights in our Gitlab it worked now.

[2018-04-17 09:25] Baefisch commented on #1749
![2018-04-17 11_24_57-ansible awx _ edit configuration](https://user-images.githubusercontent.com/38285078/38861113-070e8ebc-4232-11e8-9ced-dcd4ff4dfd9a.png)

[2018-04-17 09:28] Baefisch commented on #1749
![2018-04-17 11_24_57-ansible awx _ edit configuration](https://user-images.githubusercontent.com/38285078/38861260-6985e6d0-4232-11e8-8100-dd80738edd5c.png)

[2018-04-17 15:45] LeDOC666 commented on #1766
Finally, I make newer tests:

On my VM:
ansible-2.4.2
pywinrm==0.3.0

Everything work, I can make copy of exe files (4Mo) and more to Windows 2008 R2 servers

On my awx container:
- ansible/awx_task:latest
- ansible/awx_web:latest (from 7 days)

I can copy some files, but when I have to copy that 4Mo file:
`<virwiphipsql.pam.lan> WINRM PUT "/var/lib/awx/projects/projet_windows/files/npp756.exe" to

[2018-04-17 16:01] soloman747 opened #1772 "Add ability to set inventory source in workflow templates."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
We have a workflow with 20+ jobs. We are able to set the inventory source at the job level, but it becomes a bit taxing to have to modify each of the job templates whenever we want to switch inventory sources. It is also not feasible to copy job templates to have separate inventories per workflow, as it wouldn't b

[2018-04-17 17:24] megakoresh commented on #1765
Anyone managed to repoduce this? Any idea what's going on?

[2018-04-17 17:31] shakirabanu commented on #1672
My existing workflows are broken now due to this bug.. Please provide ETA

[2018-04-17 17:38] wenottingham commented on #1772
You should be able to do this for workflow nodes if 'prompt for inventory' is set.

[2018-04-17 18:28] soloman747 commented on #1772
I can confirm that's not the case. In the user guide it specifically states:

"As the workflow runs, jobs are spawned from the node’s linked template. Nodes linking to a job template which has prompt-driven fields (job_type, job_tags, skip_tags, limit) can contain those fields, and will not be prompted on launch. Job templates with promptable credential and/or inventory, WITHOUT defaults, will not

[2018-04-17 18:39] wenottingham commented on #1772
This is a workflow-creation-time feature, not a launch-time feature.

[2018-04-17 18:59] rooftopcellist commented on #1716
@raghavs1108 Did that fix your issue?  I can run jobs with a write scoped application token on my machine.  I am going to close this for now, but if you are still experiencing this issue I can reopen.

[2018-04-17 19:18] soloman747 commented on #1772
Okay can I specify that the feature request is for the inventory selection to be executable at launch time?

[2018-04-17 19:29] wenottingham commented on #1772
That's https://github.com/ansible/awx/issues/1731. Marking as a duplicate.

[2018-04-17 19:29] #1772 closed, assigned to nobody

[2018-04-17 19:29] rooftopcellist commented on #1498
Fixed upstream.  ✅

[2018-04-17 19:33] #1716 closed, assigned to nobody

[2018-04-18 03:18] chestercheng opened #1773 "Feature: Normal user should be able to create Projects/Inventory from awx web."
ISSUE TYPE

- Feature

 Idea

- COMPONENT

 NAME

- UI

SUMMARY

A normal user should be able to create projects or inventory. Since project or inventory may be imported from their own SCM, users should be able to create project or inventory and then create template to run. Or it will always need system administrator to create.

The view of admin
![default](https://user-images.githubusercontent.co

[2018-04-18 09:14] hwmrocker commented on #1559
Hey we face the same issue here, what are needed steps to install the requirements then?

When ever we launch a template it will fail since the dependencies are not installed :(

[2018-04-18 10:38] MartinVUALTO commented on #960
I am very new to AWX (tasked with investigating if AWX is the right tool for the company) and I have been struggling to get a basic playbook running (works fine when run manually). I finally worked out that the fact I was unable to Add a job template was not because I had incorrectly configured something
but due to a bug in AWX and stumbled upon this post.
However as I am so new to AWX I am not su

[2018-04-18 13:02] megakoresh commented on #960
@MartinVUALTO Use templates view on it's own, just assign a project when you create the template.

[2018-04-18 14:04] wenottingham commented on #1773
This will not be done.

In current AWX, these are specific permissions that you can delegate, outside of org admin.

[2018-04-18 14:04] #1773 closed, assigned to nobody

[2018-04-18 14:05] enginvardar opened #1774 "awx_task docker image is missing unzip"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Seems like unzip is not installed in the awx_task docker image, this results in an error when unarchive module is used. Installing in the running container fixed the issue.
For example:
[code]

##### ENVIRONMENT
* AWX version: 1.0.4.57
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating Syste

[2018-04-18 14:13] pkaramol opened #1775 "Not possible to isolate inventories per Organization"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Although the [documentation](http://docs.ansible.com/ansible-tower/latest/html/userguide/organizations.html) states that it is possible to isolate inventories per organization when launching a job template (with inventory prompt) of a specific organization, all inventories are selectable.

##### ENVIRONMENT
* AWX version:

[2018-04-18 14:37] wenottingham commented on #1775
This is intentional - it's inventories *the launching user has access to*. As the system admin, you have access to everything.

[2018-04-18 14:37] #1775 closed, assigned to nobody

[2018-04-18 14:51] bedcruncher commented on #1736
@wenottingham I didn't manually change any settings via the database. I simply posted that information to show how it is stored in the database and give someone a way to see that it truly is being stored correctly and not simply being "stored" and promptly forgotten as I had previously seen.

[2018-04-18 17:01] dantheta opened #1779 "Docker image for ansible/awx_web:1.0.4 seems to contain a version of 1.0.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

After installing and starting an AWX install using the 1.0.4 docker images, I tried to log in through the API using /api/v2/authtoken/.  The API issued a 404 response.  I looked inside the docker image at api/urls/urls.py, and found references to LoggedLoginView and LoggedLogoutView instead of AuthTokenView; these change

[2018-04-18 18:32] bhismnarayan opened #1780 "Webhook not triggering when playbook fails or on success"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
I have created a webhook notification I am able to test run it.But When I bind that notification to a template it does not trigger on success or failure.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method:
* Ansible version:  2.4.2.0
* Operating System:centos
* Web Browser:

##### STEPS TO REPRODUCE

Creat

[2018-04-18 18:41] abatista75 commented on #1559
Same issue.
The "**[git-repo]/roles/requirements.yml**" is configured but roles are never downloaded and installed.

If ansible-galaxy is executed manually, it works. So, the issue seems to come from AWX which does not find/load the file requirements.yml.

[2018-04-18 19:13] seafoodbuffet commented on #1559
Once we moved the requirements.yml to /roles/requirements.yml it has worked for us. You just need to be actually running a job, not merely updating from SCM in order for ansible-galaxy to run.

[2018-04-18 19:18] abatista75 commented on #1559
We did it several time, but it does not work...

[2018-04-18 21:06] shen3lu4 opened #1781 "Ingress not working for AWX Kubernetes installation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I am setting up ingress so that AWX can have SSL termination. The path of awx URL can only be <hostname>/. Anything other than / would not work.

##### ENVIRONMENT
* AWX version: 1.0.4.109
* AWX install method: kubernetes
* Ansible version:  2.4.3
* Operating System: Oracle Enterprise Linux 7.4
* Web Browser: Chrome, IE,

[2018-04-18 22:38] alexander-bauer opened #1782 "Add yes/no checkbox options for user surveys"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
I manage a number of playbooks designed for automating highly-branched tasks that used to be performed by operators. The nature of this branching logic is highly boolean, and so I *very* frequently find myself using `multiple choice` type user surveys with `[true, false]` options. This requires more effort to make t

[2018-04-18 22:52] jlmcknight commented on #1720
I am hitting this as well with 1.0.4.80 and 1.0.4.130 tested in minishift.  As soon as I set up the log aggregator, SCM updates fail and any job template ran errors with the same stacktrace as in the OP.

I have configured with "other" (going to fluentd) and "logstash" (going to logstash) with the same results.

In both instances the test log message from hitting the "test" button shows up on the

[2018-04-18 23:43] greenscar commented on #1707
Well it is kinda sad to see AWX being managed with the same "We don't really care if you found a bug, we are going to close it" mentality Ansible was handled 4 years back. The Ansible group could learn a few things from Red Hat regarding how to manage tool releases.

[2018-04-19 08:44] roegema commented on #1197
It also seems to work when you install docker or docker[tls] before docker-py.

My docker pip packages are (pip list | grep docker)
docker (3.2.1)
docker-py (1.10.6)
docker-pycreds (0.2.2)

[2018-04-19 09:04] jord-bh commented on #1720
Also hitting this issue in AWX 1.0.5.23, still broken after disabling external log aggregation.

[2018-04-19 11:33] runtman opened #1783 "EC2 Gateway not finding private hosts"
Running awx_task/web latest:

When I tried to find a inventory via source(AWS) I am only able to find the public IP Addresses.

The page suggest it uses: https://github.com/ansible/ansible/blob/devel/contrib/inventory/ec2.ini for the config, so when I add the following overrides:

[code]

The results for this are

[code]

This gives me 0 hosts, if I remove the overrides I get 3 of my 10 hosts as t

[2018-04-19 12:19] ryanpetrello commented on #1567
I haven't seen any other reports of evidence of this, so I'm closing it for now.  @ewjoachim let me know if you see anything else promising.

[2018-04-19 12:19] #1567 closed, assigned to ryanpetrello

[2018-04-19 12:53] akcrisp opened #1784 "Feature - Ability to see who is logged into UI"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
It would be useful to be able to tell quickly who is actively logged into the UI. For example if having to carryout emergency maintenance work. To quickly notify them. Ideally afilter to rapidly show active.

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux,
* Ansible version:  2.5
* Operating

[2018-04-19 13:36] m4rphel commented on #1716
I´m facing the same issue as @raghavs1108

On creating my token I chose "Write" for the scope value. Is this not sufficient?

Or are the tokens, which are created in the User Area of AWX UI, not valid to do such api calls?

[2018-04-19 14:11] wenottingham commented on #1782
duplicate of https://github.com/ansible/awx/issues/553

[2018-04-19 14:11] #1782 closed, assigned to nobody

[2018-04-19 14:14] ewjoachim commented on #1567
OK.

[2018-04-19 14:17] akcrisp opened #1785 "/var/lib/awx/job_status - not present ?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

 - Installer

##### SUMMARY
/var/lib/awx/job_status - not created ? Has there been some change as to where job_status info goes ?

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version:  2.5.0
* Operating System: rhel 7.4
* Web Browser: chrome

##### STEPS TO REPRODUCE
in awx_task container -

l

[2018-04-19 14:30] ryanpetrello commented on #1785
@akcrisp this is a result of a notable change in job stdout generation and storage in newer versions of awx that resolves a variety of bugs and performance issues.

`/var/lib/awx/job_status/` _no longer_ stores persistent copies of stdout for jobs due to the changes in https://github.com/ansible/awx/pull/833/

Older versions of awx would actually write stdout to the file system, but in clustered e

[2018-04-19 14:30] #1785 closed, assigned to nobody

[2018-04-19 14:35] akcrisp commented on #1785
great stuff thanks for the info

[2018-04-19 16:45] matburt commented on #1779
anything after 1.0.4.0 will contain some changes moving towards 1.0.5... if you aren't interested in those then you'll need to set it to explicitly be 1.0.4.0

[2018-04-19 16:45] #1779 closed, assigned to shanemcd

[2018-04-19 16:47] matburt commented on #1769
If the location you put the postgres database is unreliable you will indeed need to store it somewhere else or set up your own self-managed instance.

[2018-04-19 16:47] #1769 closed, assigned to nobody

[2018-04-19 18:56] one-t commented on #1487
As a follow-on to this, I think it would be very useful to expose the capacity impact of the job

[2018-04-20 02:27] shanemcd commented on #1781
This is currently not supported. Our Nginx config does not handle SSL at all. You will need to do your own SSL termination using something like HAProxy or whatever else you would like to put in front of AWX.

[2018-04-20 02:27] #1781 closed, assigned to nobody

[2018-04-20 08:34] aikzushyong commented on #750
1. Shutdown and wipe out your containers (if u have the liberty). IF u use docker-compose:
[code]

2. Create a new one (awx_bridge):
[code]

3. Re-run your ansible-playbook install again and it should be working...
[code]

[2018-04-20 09:43] aperigault commented on #1681
Anybody can look at this ?
It's a major bug !

[2018-04-20 09:47] JulienFR56 opened #1787 "Nginx Redirection and python error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Nginx/Python

##### SUMMARY

I had this error log (container awx_web output) when i tried to record the logstasch connector through the GUI AWX interface.

'2018/04/19 15:20:17 [error] 27#0: *799 connect() failed (111: Connection refused) while connecting to upstream, client: 172.17.0.7, server: _, request: "OPTIONS /api/v2/settings/all/ HT

[2018-04-20 10:31] ewjoachim commented on #1680
Hm, still didn't have the time to tackle this... Sorry.

[2018-04-20 13:11] #1774 closed, assigned to nobody

[2018-04-20 14:39] JulienFR56 commented on #1787
I updated the AWX to the 1.0.5.24 version. The behavior is better but i have this error again,

2018-04-20 14:32:12,864 WARNING  awx.api.generics status 500 received by user admin attempting to access /api/v2/settings/logging/test/ from 203.5.128.225
[pid: 26|app: 0|req: 17/126] 203.5.128.225 () {46 vars in 2373 bytes} [Fri Apr 20 14:32:12 2018] POST /api/v2/settings/logging/test/ => generated 26

[2018-04-20 17:28] wenottingham commented on #1783
See http://docs.ansible.com/ansible-tower/latest/html/administration/tipsandtricks.html#dynamic-inventory-and-private-ip-addresses

[2018-04-20 17:28] #1783 closed, assigned to nobody

[2018-04-20 17:29] wenottingham commented on #1766
We already include this. See requirements.txt.

[2018-04-20 17:29] #1766 closed, assigned to nobody

[2018-04-20 17:40] wenottingham commented on #1547
We do not have any capability for auto-filling survey entries. I would just do this in the playbook.

[2018-04-20 18:08] rooftopcellist commented on #1418
With the addition to auth.login() mentioned earlier, I am able to successfully log in, but am also seeing an automatic redirect to the login page. The incorrect redirect to the login page can be fixed by adding the following line [here](https://github.com/ansible/awx/blob/devel/awx/sso/views.py#L43)
```response.set_cookie('userLoggedIn', 'true')```

Resolved downstream.

[2018-04-20 20:25] runtman commented on #1783
I am so embarrassed, I was missing the `s` from:

[code]

I can now see all internal IPS, if they are peered I still will be able to run playbooks at them right?

`Tower must be running inside the VPC with access to those instances in order to usefully configure them`

[2018-04-20 20:38] wenottingham commented on #1783
As long as tower can reach that address, it should work. That's up to your VPC/security group config, of course.

[2018-04-20 20:42] runtman commented on #1783
Perfect, yes SSH is open for all the peering. Thanks for the response.

[2018-04-20 21:35] dyioulos commented on #989
+1 Agree that having this only available as a container install is not useful to us.

[2018-04-21 12:56] cpatry-poly commented on #1418
Thanks @rooftopcellist : we will try it on our system !

[2018-04-22 17:15] hareld21 commented on #1780
We are also interested in an answer to this case.

[2018-04-23 08:25] jok26r opened #1788 "project_data_dir and ca_trust_dir don't work together"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

If you specify project_data_dir and ca_trust_dir in the inventory file, then the only project_data_dir will be defined in the volumes part of the awx_tasks and awx_web containers.

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version:  2.5.1
* Operating System: Ubuntu 16.04

[2018-04-23 12:10] LeDOC666 commented on #1766
Hi, maybe I checked on bad place, but I see no trace of pywinrm under requirement.txt file.
I rebuild docker image of awx_web, and pip seems not install this module too !?

`[root@awxweb sample]# pip freeze | more
You are using pip version 8.1.2, however version 10.0.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
ansible==2.5.0
awx==1.0.5.24
Babel==0.9.6

[2018-04-23 13:14] AStrangwood opened #1789 "Returned JSON is empty when standard output is large"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When a job returns a large standard output(around 4800 lines) the UI does not shown any output at all and just displays {},

##### ENVIRONMENT
* AWX version: 1.05
* AWX install method: docker on linux
* Ansible version:  2.5.1
* Operating System: Ubuntu 16
* Web Browser: Firefox/Chrome

##### STEPS TO REPRODUCE

Run a job

[2018-04-23 13:32] sysblade commented on #709
+1 this would be really interesting and important in term of security (Like when using RDS through public IP)

[2018-04-23 14:05] JulienFR56 commented on #1787
Hello,

Someone has an answer on this subject ?

Thank you

[2018-04-23 14:45] ryanpetrello commented on #1789
@AStrangwood if you visit:

`https://your.tower.example.org/api/v2/job_events/78/`

...do you see any stdout data?

[2018-04-23 14:56] doves99 commented on #1758
Is there anyway to undo the Radius Authentication after it is broken via CLI?.  Or a file that can be erased and restart the AWX?

[2018-04-23 14:59] AStrangwood commented on #1789
![78](https://user-images.githubusercontent.com/5055026/39134675-0ca88ef4-470f-11e8-83db-2078b2afbabc.PNG)

This is what i get from the link. Missing everything from the task that ran and has the large standard output returned.

[2018-04-23 15:44] ryanpetrello commented on #1780
I'm having a hard time reproducing this on a recent awx openshift install (`"version": "1.0.5.23",`):

![screen shot 2018-04-23 at 11 41 52 am](https://user-images.githubusercontent.com/214912/39137345-56d8b7de-46eb-11e8-9ead-e3a6f486e20d.png)

![screen shot 2018-04-23 at 11 42 25 am](https://user-images.githubusercontent.com/214912/39137389-6a82dfa8-46eb-11e8-9e6a-0ec5d10cee8a.png)

![screen shot

[2018-04-23 15:46] ryanpetrello commented on #1712
This will be resolved soon via a downstream change.

[2018-04-23 15:46] #1712 closed, assigned to thedoubl3j

[2018-04-23 19:28] ryanpetrello commented on #1789
Any chance you see any errors in your web browser's developer/Javascript console?

[2018-04-23 19:43] jaredevantabor commented on #1789
The UI shows `event_data.res` in the JSON tab of the host event modal, and `event_data.res.stdout` for the Standard Out tab. In the API screenshot, it looks like `event_data.res` is an empty object, so the UI in this case is correctly showing the output.

[2018-04-23 20:20] AStrangwood commented on #1789
I dont see any error in the browsers dev console. Just the empty task when i click on it. Are there any logs that i can check to see whats going on when the task finishes? The exact same task has no issue when it doesn't have so many lines in the standard out.

This is a Poweshel task if that is any help.

[2018-04-23 21:15] alissonpdc opened #1790 "Ansible getting stucked after executing a "raw" command"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Engine

##### SUMMARY
Ansible gets stuck just after execute a command using the "raw" module on a Cisco video conference device (tested on EX60 and EX90).

##### ENVIRONMENT
Ansible 2.4.2.0
RHEL 7

##### STEPS TO REPRODUCE

YAML:
- name: Ansible job
  hosts: 10.54.39.68
  gather_facts: no

  tasks:
  - name: Executing command
    raw: xStatus

[2018-04-24 03:17] cchurch commented on #1790
This looks like an issue with Ansible itself and not with AWX.

Please ask these kinds of questions on the [ansible-project](https://groups.google.com/forum/#!forum/ansible-project) mailing list or IRC. See [Reporting Bugs And Requesting Features](http://docs.ansible.com/ansible/latest/community/reporting_bugs_and_features.html) for more info.

[2018-04-24 03:17] #1790 closed, assigned to nobody

[2018-04-24 03:18] sonchu commented on #1197
@roegema : Confirmed it works. What i did is:

pip uninstall -y docker docker-py && pip install docker docker-compose

pip list | grep docker
docker 3.2.1
docker-compose 1.21.0
docker-py 1.10.6
docker-pycreds 0.2.2
dockerpty 0.4.1

[2018-04-24 05:50] iyurev opened #1791 "No cached facts for some hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

No cached facts for some hosts,  facts not exist iether API or web UI .

##### ENVIRONMENT
* AWX version: 1.0.3.0
* AWX install method:  docker on linux
* Ansible version: 2.4.3.0
* Operating System: CentOS 7

##### STEPS TO REPRODUCE
1. Configure AWX according to gude http://docs.ansible.com/ansible-tower/latest/h

[2018-04-24 07:49] Grokzen opened #1792 "100% CPU load after rebooting machine with running AWX docker-compose installation"
##### ISSUE TYPE

 - [X] Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - Docker & Compose

##### SUMMARY

If i have AWX running on my machine and i reboot my laptop, when the docker containers automatically start after reboot, it will start to churn away on 100% CPU on my laptop.

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version:

[2018-04-24 11:19] wwitzel3 commented on #533
@mlobbia were you ever able to try that `password: "{{scm_password|quote}}"` line without `|quote` ?

[2018-04-24 13:05] ryanpetrello commented on #1789
@AStrangwood as @jaredevantabor alluded to, the data we're recording here comes directly from the Ansible callback plugin interface - it's just what Ansible passes us, and I don't _think_ we're doing anything to filter out this data structure.

Are you encountering this issue in other versions of Ansible (pre 2.5.1)?

[2018-04-24 13:26] AgentCormac opened #1793 "AWX 3.2.3 /api/v2/authtoken/ removed prematurely?"
##### ISSUE TYPE

 - Bug Report
 - Documentation

##### COMPONENT NAME

 - API

##### SUMMARY
/api/v2/authtoken/ no longer seems to be available in AWX 3.2.3. The release notes suggest that this endpoint is deprecated and that it will be removed on AWX 3.3. However, OAuth endpoint is available but there is no documentation and there seems to be no way to generate application keys in AWX.

##### EN

[2018-04-24 14:01] ryanpetrello commented on #1789
Hey @AStrangwood I've found the culprit:

https://github.com/ansible/awx/blob/devel/awx/lib/awx_display_callback/events.py#L148

awx has a configurable setting that truncates large `res` values:

https://github.com/ansible/awx/blob/devel/awx/settings/defaults.py#L172

If you raise this value, you should see the issue go away.

[2018-04-24 14:01] #1789 closed, assigned to nobody

[2018-04-24 14:39] AStrangwood commented on #1789
@ryanpetrello thanks for that, how can adjust this value?

[2018-04-24 15:01] ryanpetrello commented on #1789
@AStrangwood you can add the following to the bottom of `/etc/tower/settings.py` on the `awx-celery` container:

`MAX_EVENT_RES_DATA = <large int>`

[2018-04-24 15:38] ryanpetrello commented on #1789
@AStrangwood one thing to keep in mind is that memcached itself (where this data is stored during processing) has an upper bound here - you may find that raising this value actually overflows memcached and causes evictions if your data is sufficiently large.

[2018-04-24 16:21] avindra opened #1794 "Dark theme / dark mode"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Would be great to have a dark theme, so we can spend extra hours inside AWX without burning our eyes out.

[2018-04-24 17:20] llbbl opened #1795 "Install Fails because deprecated NPM package contextify is Required by UI"
Can not build locally using the ansible-playbook command.

ubuntu 16.04
node -v v9.11.1
node-gyp -v v3.6.2
npm 5.6.0
Python 2.7.12
pip 10.0.1

AWX on 1.0.5 tag

[code]

The npm install command from the Makefile is returning an error that is preventing install from continuing.

[code]

Contextify is no longer maintained.

[https://github.com/brianmcd/contextify/issues/205](https://github.com/brianm

[2018-04-24 17:46] llbbl commented on #1795
Looks like it is working with older versions of nodejs.

Try using nodejs in the following range:

v6.0  to v8.11.1

Don't have time to try them all. Got it working with nodejs 6.0 then switched to LTS with ```nvm install —lts``` and seemed to be okay, but didn't delete all the artifacts that 6.0 left over.  Looks like 7.10.1 is the newest release currently in that version.

[2018-04-24 19:06] ryanpetrello commented on #1795
Hey @llbbl,

Building the UI requires 6.x LTS of Node and NPM:

https://github.com/ansible/awx/blob/bfea00f6dc6af0fb01057ce38e9d0337e6c589aa/awx/ui/README.md

@jaredevantabor should we call this out in https://github.com/ansible/awx/blob/bfea00f6dc6af0fb01057ce38e9d0337e6c589aa/INSTALL.md ?

[2018-04-24 19:06] #1795 closed, assigned to nobody

[2018-04-24 19:23] rooftopcellist commented on #1793
@AgentCormac AuthToken was removed in favor of OAuth2 early in AWX 1.0.4.  AWX is an upstream community project, so the feature lands when the PR is merged effectively.  Here is the [ML Post](https://groups.google.com/forum/#!topic/awx-project/kjlXPyc2YwE) about it.

There are acceptance docs [here](https://github.com/ansible/awx/blob/devel/docs/auth/oauth.md).

[2018-04-24 19:24] #1793 closed, assigned to nobody

[2018-04-24 21:13] micruzz82 opened #1796 "Credentials do not show up under workflow for a Job template for credential type of network"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Workflow template on selecting a Job template with credential type of network in it shows in the workflow editor info under job as None Selected

##### ENVIRONMENT
* AWX 1.0.5.24
* AWX install method: docker on linux
* Ansible 2.5.0
* Operating System: centos 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a Proje

[2018-04-24 22:08] wvcardoso commented on #1295
I have the similar error. I'm using the external source (using Custom Inventory Script) and when I check "Update on Launch" receiver an error 500.
![screenshot from 2018-04-24 19-08-11](https://user-images.githubusercontent.com/6061736/39216631-dd7147e0-47f2-11e8-966c-a6f179c027d8.png)

[2018-04-25 00:52] matburt commented on #1188
@mneumarkidg How did you deploy this? The standalone docker only supports a single instance.

[2018-04-25 02:27] matburt commented on #1188
This is a classic split brained mode that you can get in if the awx instance's celery queues aren't working together... the systems don't know what the other is working on and can't resolve the state with what's in the database. The healthcheck time for jobs is ~2m

This is why it's important to use our official install methods.

[2018-04-25 02:30] matburt commented on #214
No comment in over a month, closing

[2018-04-25 02:30] #214 closed, assigned to nobody

[2018-04-25 04:50] megakoresh commented on #1295
@williancardoso There is a problem with your configuration. Its the UI thats broken here it does not display properly errors reported by the backend. Use developer view (In chrome its right click and then inspect), go to networking monitoring and cause this dialogue to appear again. Then examine the XHR response, which will contain the actual error.

My guess is that your inventory source script d

[2018-04-25 07:55] b0urn3 opened #1797 "RFE: Send real client remote address in TACACS+ authentication packet"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Currently  the TACACS+ authentication backend

https://github.com/ansible/awx/blob/96370584062a15271abafab7fc557ac2879aa38c/awx/sso/backends.py#L225-L227

sends default value for client remote address

https://github.com/ansible/tacacs_plus/blob/526b5a29c5656bbd8644accca238d1e9303dc272/tacacs_plus/flags.py#L81

The functi

[2018-04-25 09:26] hareld21 commented on #1780
@ryanpetrello
We're having this issue when trying to use production, not TESTING.

[2018-04-25 09:28] itcrowdsource opened #1798 "Error during upgrade: 'secret_key' is undefined while key is defined in inventory file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
Tried to upgrade to the latest AWX installation but the install script produces an error:

[code]

##### ENVIRONMENT
* AWX version: latest <install fails>
* AWX install method: docker on linux
* Ansible version:  latest <install fails>
* Operating System: Ubuntu 16.04
* Web Browser: <install fails>

##### STEPS TO R

[2018-04-25 09:54] bhismnarayan commented on #1780
Hi Ryan,
Below is the webtrigger url
https://alphabhis123.azurewebsites.net/api/values
It works fine in postman for the post request .But the same stuff does not get triggered when added as webhook in awx

[2018-04-25 10:30] sujiar37 commented on #1418
@rooftopcellist @ryanpetrello @jangsutsr #1588 these work around are not working for azure ad auth through SSO. just checking, are there any fix available yet ?

[2018-04-25 12:19] devops-42 commented on #1747
Hi @AlanCoding,

where can I find it in the API (e.g. tower-cli)? I tried several combinations of workflow_job invokation:

- `tower-cli workflow_job launch -W "xyz" --tags="tag1,tag2"`
- `tower-cli workflow_job launch -W "xyz" --job-tags="tag1,tag2"`
- `tower-cli workflow_job launch -W "xyz" --workflow-tags="tag1,tag2"`
- `tower-cli workflow_job launch -W "xyz" --workflow_job-tags="tag1,tag2"`

b

[2018-04-25 12:29] AlanCoding commented on #1747
You can't add tags to the workflow generally, you can add tags to the nodes inside the workflow. That would be

`tower-cli node create ... --job-tags=yadayada`

That isn't in the released tower-cli, but it is staged for near-term 3.3.0 release.

[2018-04-25 13:00] ryanpetrello commented on #1780
@hareld21,

Is there some tangible difference in your awx version between production and testing?  I deployed a recent awx image and pointed a web hook at `localhost:8000`, where I was running a local Python echo server via:

`python -m SimpleHTTPServer`

...and upon launching a Job Template, I was able to see a log line for my successful outbound webhook notification.

@bhismnarayan

Are you able

[2018-04-25 13:51] devops-42 commented on #1747
Hi @AlanCoding,

thanks for the workaround. Unfortunately it makes things much more complicated: I have to copy a master workflow (which is not possible if my technical account is no super admin), add my nodes dynamically including the tags and delete the copied workflow afterwards.

Let's hope that 3.3.0 will be released soon including that feature 😀

[2018-04-25 15:56] rooftopcellist commented on #1758
@doves99 you should be able to unset the radius URL and client_secret in AWX settings via the UI or manually (if you are in a docker dev build, this will be found in defaults.py).  AWX should automatically stop using radius to authenticate.

As a temporary work around:
It looks like the last place our code touches this is [here](https://github.com/ansible/awx/blob/devel/awx/sso/backends.py#L191).

[2018-04-25 17:24] bhismnarayan commented on #1780
Hi,
I get this message message on running the command
 curl -X POST https://alphabhis123.azurewebsites.net/api/values
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<HTML><HEAD><TITLE>Length Required</TITLE>
<META HTTP-EQUIV="Content-Type" Content="text/html; charset=us-ascii"></HEAD>
<BODY><h2>Length Required</h2>
<hr><p>HTTP Error 411. The request must

[2018-04-25 17:28] shanemcd commented on #1794
In the meantime, [this Chrome extension](https://chrome.google.com/webstore/detail/dark-mode-night-reader/hmafjphdklmdjfcnljjeonfpgafanjjc?hl=en) works pretty ok.

[2018-04-25 17:33] shanemcd commented on #1798
In the future, please format your output using markdown codeblocks. Wrap output in 3 backticks:

[code]
    Like this
[code]

This variable was recently renamed. Can you make sure you have `secret_key` in your inventory file and not `awx_secret_key`?

[2018-04-25 17:38] shanemcd commented on #1750
What version of OpenShift are you using?

[2018-04-25 17:42] shanemcd commented on #1792
What process(es) are pegging your CPU?

[2018-04-25 18:00] ryanpetrello commented on #1780
@bhismnarayan which version of awx are you running?

[2018-04-25 18:18] tjyang commented on #1764
1.   ldap config has to be 100% CORRECT like following two screenshots !!

* correct ldap.forum.com config 01

![image](https://user-images.githubusercontent.com/378638/39265295-8b79c85a-488c-11e8-9f0a-56d353128de3.png)

*  correct ldap.forum.com config 02
![image](https://user-images.githubusercontent.com/378638/39264695-211d852e-488b-11e8-95c2-2f48c02da8e6.png)
2.  save ldap config(looks like it

[2018-04-25 18:19] bhismnarayan commented on #1780
how do I get that?

[2018-04-25 18:21] rooftopcellist commented on #1418
@sujiar37 try removing [this](https://github.com/ansible/awx/blob/devel/awx/sso/views.py#L42) redundant `auth.login` call, it is clearing the `user.backend`, which is the core of the problem.

Fix coming shortly.

[2018-04-25 18:22] matburt commented on #1188
Closing after discussing with mneumarkidg

[2018-04-25 18:22] #1188 closed, assigned to nobody

[2018-04-25 18:31] ryanpetrello commented on #1780
`awx-manage --version`

[2018-04-25 18:34] mneumarkidg commented on #1764
I'm able to reproduce this issue too, when trying to click "save" in UI. AWX_WEB produces the following error and does not save settings!

`    return super(AWXWSGIHandler, self)._legacy_get_response(request)
  File "/var/lib/awx/venv/awx/lib/python2.7/site-packages/django/core/handlers/base.py", line 249, in _legacy_get_response
    response = self._get_response(request)
  File "/var/lib/awx/venv

[2018-04-25 18:40] ryanpetrello commented on #1780
Also, do you see any logs or error messages in the `awx-celery` container that suggest the web hook failed for some reason?

[2018-04-25 19:20] #1418 closed, assigned to rooftopcellist

[2018-04-25 19:20] rooftopcellist commented on #1418
@sujiar37 @Tiduster @xordoquy @ewjoachim  this is fixed with #1800.  Drop a comment here if you are still experiencing this issue with this commit.

[2018-04-25 20:47] itcrowdsource commented on #1798
Sorry I used normal single quotes to encapsulate the log;-) But the issue was indeed related to the changed variable. I have been using the same inventory file for a while in my AWX upgrade scripts. Problem solved!

[2018-04-25 20:54] wenottingham commented on #1798
Thanks!

[2018-04-25 20:54] #1798 closed, assigned to nobody

[2018-04-25 22:10] Msojdehei commented on #888
I'm having the same issue, "Pending Delete" Erorr in red.
has anyone found a solution?
I tried instance groups and tried upgrading, deleting all jobs to no avail.  Still the same error and I'm locked up, no new jobs are executing.

[2018-04-26 03:41] bhismnarayan commented on #1780
I get command not found .when i run that comman

[2018-04-26 07:30] Volkimd commented on #1750
Hi thx for reply. It is v3.7.0

[2018-04-26 08:58] ewjoachim commented on #1418
(Tested, it works now !)

[2018-04-26 09:13] aperigault commented on #1418
Problem solved !
Thanks

[2018-04-26 09:19] akcrisp opened #1802 "dist directory missing doing git clone https://github.com/ansible/awx.git"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
doing git clone https://github.com/ansible/awx.git

There is no dist directory. build then fails

##### ENVIRONMENT
* AWX version: 1.0.5.latest
* AWX install method:  docker on linux
* Ansible version:  2.5.0
* Operating System: RHEL 7.4
* Web Browser: chrome

##### STEPS TO REPRODUCE

git clone https://github.com/a

[2018-04-26 10:38] mkempster22 commented on #1395
Coming back to this issue i'm now getting this whilst setting up a different vcenter, the one that worked previously is vmware 6.5, the one not working is 5.5

Could this be an issue with configuring it with 5.5?
@Anthonyjmartin what version was yours? and did you fix the issue?

[2018-04-26 12:02] Anthonyjmartin commented on #1395
The version I tested against was 6.0. I will check with my VMware guy to
see if we have an instance of 6.5 I can test against.

Anthony Martin

Linux System Administrator

On Thu, Apr 26, 2018 at 6:38 AM, Martin Kempster <notifications@github.com>
wrote:

[2018-04-26 12:24] mkempster22 commented on #1395
Ah okay thanks.
Just tried this on our dev AWX and it works fine, seems to definitely be an issue with 5.5 but only on older versions of AWX.

Unfortunately can't upgrade AWX without wiping the database, and that cluster has to be 5.5 so i'm stuck with it

[2018-04-26 12:26] srinivasakp commented on #465
folks.. I think there is a bug in it.

i have fixed in project_update.yml file modified it
default stats command mentioned in the file doesn't work
Also, scm_full_checkout value doesn't exists and hence fails to execute the roles

#1
    - name: detect requirements.yml
      stat:
        path: "{{project_path|quote}}/roles/requirements.yml"
      register: doesRequirementsExist

#2
    - name: fe

[2018-04-26 13:05] ryanpetrello commented on #1780
@bhismnarayan,

You'll have to run the command from _within_ whatever environment awx is installed (i.e., from _within_ a Docker container, or one of your OpenShift pods) - I'm not sure which that is for you since the questions we ask for in the new issue template aren't answered in the issue description you created.

Can you update the ticket description with _all_ of the information requested in

[2018-04-26 13:47] sysblade opened #1803 "Cannot delete the admin user or any user that has associated resources."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API ( I suppose as it's related to data storage)
 - UI

##### SUMMARY
Cannot delete an user that has created something (for example even the default admin user on a blank install)

##### ENVIRONMENT
* AWX version: AWX 1.0.5.31
* AWX install method: Docker on Linux
* Ansible version:  2.5.1
* Operating System: Docker on Centos Atomic
* Web Bro

[2018-04-26 13:47] alexmela78 commented on #1764
same error of mneumarkidg.
our versions:
versione  AWX 1.0.5.24
versione Ansible 2.5.0

If I try to save LDAP Auth Configuration, AWX_WEB produce error:
2018-04-26 13:37:47,762 ERROR    django.request Internal Server Error: /api/v2/settings/all/
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib/python2.7/site-packages/django/core/handlers/exception.py", line 41, in inner
    res

[2018-04-26 14:55] kladiv commented on #1705
+1

[2018-04-26 15:06] RichNahra commented on #1672
same here

[2018-04-26 17:08] micruzz82 opened #1804 "How to upload csv files to AWX"
Hi All

Is there a way I can upload a CSV file to AWX. Not sure if copying the csv file to the project folder works. Has anyone done this before. I wanted to pass variables from CSV file to ansible playbook.

[2018-04-26 17:12] wenottingham commented on #1804
Put it in your project (either source control, or along side the playbook).

This is not a bug issue.

[2018-04-26 17:12] #1804 closed, assigned to nobody

[2018-04-26 19:57] ryanpetrello commented on #1150
@greenscar are you still able to reproduce this?  If so, can you provide some clarity?

Can you share the workflow editor where you've observing this bug?  I'd like to see how you've connected the Job Templates.

Relaunch what? The job in the workflow job, or the workflow job itself?

[2018-04-26 20:15] ryanpetrello commented on #1150
I'm having trouble reproducing this.  Here's a Workflow I created.  The first Job Template, `Demo Job Template`, will always fail:

![screen shot 2018-04-26 at 4 09 24 pm](https://user-images.githubusercontent.com/214912/39329421-3d3d6dc8-496c-11e8-80d0-d704c3629d09.png)

When I ran the workflow, it did fail, and did not run the second Job Template:

![screen shot 2018-04-26 at 4 10 47 pm](https:/

[2018-04-26 20:17] ryanpetrello commented on #1150
Closing this - @greenscar let us know if you're still able to reproduce this issue in the latest version of awx, or if you have additional details that can shed light on reproducing what you saw.

[2018-04-26 21:53] seansabour opened #1805 "Re-run jobs on failed host not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
When a template job fails and you double click the icon and choose Relaunched on `Failed` it triggers a new job but doesn't limit to the failed host, it just re-runs job on all hosts.

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version:  2.5.0
* Operating System: Linux
* Web Brows

[2018-04-26 22:21] seansabour commented on #1084
Would be nice to have a popup when you click on the details for that template that shows the output, instead of redirecting to another page.

[2018-04-26 22:59] greenscar commented on #1707
Solution:
1) GOTO ..../#/instance_groups
I see INSTANCES 0 && UNAVAILABLE
![image](https://user-images.githubusercontent.com/4122160/39335842-8cee0af6-4969-11e8-9093-e5e9acaed282.png)
2) Click INSTANCES
3) Click the + on the top right to add an INSTANCE
4) Select task & SAVE
*CRITICAL*: Now where you see your task & RUNNING JOBS 0, you still see UNAVAILABLE.
![image](https://user-images.githubuser

[2018-04-27 01:31] AlanCoding commented on #1805
What do you mean by this?

This feature should work fine with your providing a custom limit for the original job template run. The limit for the 2nd run it gets from the playbook_on_stats at the end of the job, so you should see the relaunched job run against those failed hosts referenced in the playbook summary.

[2018-04-27 04:44] seansabour commented on #1805
Sorry let me clarify, I run the template against 10 groups and out of the 100 servers let's say that 10 hosts fail. If I try to currently relaunch the job only on failed hosts using the "launch" icon it re-runs the job on all hosts not just the failed hosts.

[2018-04-27 09:33] jparrill opened #1806 "[RFE] Support for Group mapping through SAML attributes"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - Installer

##### SUMMARY
When you perform the integration between SAML and Ansible Tower/AWX the users that are federated on the SAML side will be created on Tower/AWX, but there is not any way to sync groups. The point of this issue is create a way to Map those groups that exists on SAML server agains the Orgs/Teams on Tower/AWX.

#

[2018-04-27 09:46] mkempster22 commented on #1805
I have this issue, I noticed that if i go back out to the jobs screen and then back into the job that i want to rerun it will limit correctly.

I have this issue on versions 1.0.5.29 & 1.0.2.79

[2018-04-27 09:52] akcrisp commented on #1802
Can someone confirm this is indeed broken ??

[2018-04-27 10:43] khelkun commented on #1732
Duplicate of #1672

[2018-04-27 10:51] sysblade opened #1807 "Scrolling issue on the job progress page on vertical screens"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When uing a vertical screen, the job log appear not on the right but down after the job property, the auto follow of the logs make it impossible to scroll up, it is automatically scrolled down every few miliseconds.

##### ENVIRONMENT
* AWX version: AWX 1.0.5.31
* AWX install method: Docker on Linux
* Ansible version:  2.5.1

[2018-04-27 12:09] jamesfreeman959 opened #1808 "foreman.py dynamic inventory script for Red Hat Satellite 6 not loading Host Collections as groups"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
foreman.py dynamic inventory script for Red Hat Satellite 6 not loading Host Collections as groups

##### ENVIRONMENT
* AWX version: 1.0.5.24
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: AWX running on CentOS 7, browser accessing UI from Windows 7u
* Web Browser: Chrome

##### STEPS

[2018-04-27 12:13] sysblade commented on #1705
Same issue, this makes impossible to call any handlers apparently ?

[2018-04-27 13:01] jparrill commented on #1806
Reviewing I see this other issue: https://github.com/ansible/awx/pull/1576, it is that I look for.

[2018-04-27 13:03] akcrisp commented on #1802
ok re-ran the installer and this time its created the dist dir diring the build awx distribution using container. Really not sure why it failed to do this.

[2018-04-27 13:03] #1802 closed, assigned to nobody

[2018-04-27 13:03] akcrisp commented on #1802
closing

[2018-04-27 13:51] doves99 commented on #1758
https://github.com/ansible/tower/blob/devel/awx/sso/backends.py#L191 link doesn't work.

[2018-04-27 14:40] #557 closed, assigned to chrismeyersfsu

[2018-04-27 16:37] ryanpetrello commented on #1732
@seansabour this should be resolved now via https://github.com/ansible/awx/commit/3dd9ca3fb67dd0a40eabc0af5d73841515d8d8b3

[2018-04-27 16:37] #1732 closed, assigned to nobody

[2018-04-27 16:38] ryanpetrello commented on #1672
this should be resolved now via 3dd9ca3

[2018-04-27 16:38] #1672 closed, assigned to nobody

[2018-04-27 16:40] ryanpetrello commented on #1390
@stefan-wegener this should be fixed now via https://github.com/ansible/awx/commit/23267bce387602514ce351b4f5b21748a81d1dc1

[2018-04-27 16:40] #1390 closed, assigned to ryanpetrello

[2018-04-27 16:40] ryanpetrello commented on #1633
Hey @mattcrossm,

This should be resolved now via https://github.com/ansible/awx/commit/5fd5c95a1d0e8ed98fa51244234db3ab83bcd185

[2018-04-27 16:40] #1633 closed, assigned to ryanpetrello

[2018-04-27 16:41] ryanpetrello commented on #1705
This should be resolved now via https://github.com/ansible/awx/commit/f8c40cc26f353fda76577afdeee64cdb99b21f96

[2018-04-27 16:41] #1705 closed, assigned to ryanpetrello

[2018-04-27 16:43] ryanpetrello commented on #1758
This issue should now be resolved via https://github.com/ansible/awx/commit/90308066af9000bf72cc1167a8ebb977eb43fc6a

[2018-04-27 16:43] #1758 closed, assigned to nobody

[2018-04-27 16:44] ryanpetrello commented on #1748
@akcrisp this should be resolved now via https://github.com/ansible/awx/commit/00cd6cb384d5ad8776f24684bdb09beb57e86517

Mind giving it a try?

[2018-04-27 16:44] #1748 closed, assigned to nobody

[2018-04-27 16:47] ryanpetrello commented on #1696
@changsijay this issue should be resolve now.  Mind giving it another try?

[2018-04-27 16:47] #1696 closed, assigned to nobody

[2018-04-27 16:51] ryanpetrello commented on #1681
@aperigault mind giving this another shot?  It should be resolved via https://github.com/ansible/awx/commit/a6dd7dbf070c7c57f5cb38dd6d6df2a239475c2e

[2018-04-27 16:51] #1681 closed, assigned to nobody

[2018-04-27 16:52] ryanpetrello commented on #1660
@cesan3 mind giving this another look?  Should be resolved via https://github.com/ansible/awx/commit/3f15966d9dbdd20289e2c97b138142b2f1cfe7d1

[2018-04-27 16:52] #1660 closed, assigned to nobody

[2018-04-27 16:52] ryanpetrello commented on #1651
@Caidran this should be resolved now via https://github.com/ansible/awx/commit/13759fd8ce421b9b2515926f1e68cadcd1962403

[2018-04-27 16:52] #1651 closed, assigned to nobody

[2018-04-27 16:54] ryanpetrello commented on #1639
Resolved downstream.

[2018-04-27 16:54] #1639 closed, assigned to nobody

[2018-04-27 16:54] akcrisp commented on #1748
Sure will do - Monday

[2018-04-27 16:55] ryanpetrello commented on #1555
Fixed via https://github.com/ansible/awx/commit/bf142fa4349b2518c185e45ff5c617a475347042

[2018-04-27 16:55] #1555 closed, assigned to mabashian

[2018-04-27 16:57] ryanpetrello commented on #1540
@doronshai we've completely rewritten this UI from the ground up in newer versions of awx to address issues like this.  Mind giving it another try, and reopening if you still see issues?

[2018-04-27 16:57] #1540 closed, assigned to jakemcdermott

[2018-04-27 16:58] ryanpetrello commented on #1486
Resolved downstream.

[2018-04-27 16:58] #1486 closed, assigned to nobody

[2018-04-27 17:36] jakemcdermott opened #1811 "project updates, status icons, etc. are no longer updating without a manual page refresh"
##### COMPONENT NAME
 - UI

##### SUMMARY
Job status icons and other socket-driven ui components are not updating until a manual page refresh is performed.

##### ENVIRONMENT
* awx version: 1.0.6

##### STEPS TO REPRODUCE
- create a new project
- wait until a visual indicator for successful project update

##### EXPECTED RESULTS
- eventual status=success green icon should appear

##### ACTUAL RESU

[2018-04-27 18:03] rooftopcellist commented on #1758
@doves99 The link is fixed in my previous comment, and also present in the latest code.

[2018-04-27 18:21] codificat opened #1812 "RFE: improve the SAML configuration UI"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Improve the SAML configuration UI to make it more friendly.

##### ENVIRONMENT
* AWX version: latest

##### STEPS TO REPRODUCE

Here are some ideas that I believe would help make the SAML Auth configuration page easier to work with:

- Accept uploaded certificates/keys in common formats, so they don't have to be potential

[2018-04-27 18:30] wenottingham commented on #1812
This is something that should really be done application-wide, not as a SAML one-off. See https://github.com/ansible/awx/issues/342

[2018-04-27 18:34] rooftopcellist commented on #1418
Thanks for the feedback!

[2018-04-27 18:52] seansabour commented on #1732
great news :) @ryanpetrello

[2018-04-27 19:08] seansabour opened #1813 "Encrypted Credentials appear in plain text during SCM update"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Using Source Control Credentials(password) and running an SCM update the stdout will have the credentials appear in plain text.

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version: 2.5.0
* Operating System: Linux
* Web Browser: Firefox 59.0.2 (64-bit)

##### STEPS TO REPRODUCE

1.

[2018-04-27 19:33] ryanpetrello commented on #1813
@seansabour can you give this a shot with the latest version of awx?  I'm having trouble reproducing:

<img width="709" alt="screen shot 2018-04-27 at 3 31 48 pm" src="https://user-images.githubusercontent.com/214912/39381446-2032e266-4a30-11e8-8bcf-88b152600c65.png">

[2018-04-27 19:34] seansabour commented on #1813
@ryanpetrello can you try to click the download output button and see if it is encrypted still.

[2018-04-27 19:36] ryanpetrello commented on #1813
When I click the download button, this is the content that I see (no sensitive data contained):

[code]

[2018-04-27 19:36] wenottingham commented on #1813
There was a specific fix for this in 1.0.6, if I recall.

[2018-04-27 19:40] ryanpetrello commented on #1813
Looks like: https://github.com/ansible/awx/commit/09d5645b90ff96ba67f0b84c0265679e66fec318

[2018-04-27 19:42] chrismeyersfsu commented on #1349
fixed by commits:
04693ecb0f853f0115a8ad7ea3c561baef217fcf
09d5645b90ff96ba67f0b84c0265679e66fec318

[2018-04-27 19:42] #1349 closed, assigned to nobody

[2018-04-27 19:46] ryanpetrello commented on #1813
@seansabour to confirm, I reverted 09d5645b90ff96ba67f0b84c0265679e66fec318 in a local install of mine and I see the behavior you're describing.

If you see this bug in 1.0.6, please re-open and let us know.

[2018-04-27 19:46] #1813 closed, assigned to nobody

[2018-04-27 20:01] grahamneville opened #1815 "Ansible Virtual Environment no longer appears as an option in job templates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Ansible Virtual Environment no longer appears as an option in job templates

##### ENVIRONMENT
* AWX version: 1.0.6.0
* AWX install method:  docker on linux
* Ansible version:  2.5.2

##### STEPS TO REPRODUCE

Create a new job template

##### EXPECTED RESULTS

You can select virtual environment:

![image](https://user-images

[2018-04-27 20:07] grahamneville opened #1816 "Unable to provide any extra vars in job template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Unable to provide any extra vars in job template

##### ENVIRONMENT
* AWX version: 1.0.6.0
* AWX install method: docker on linux
* Ansible version:  2.5.2

##### STEPS TO REPRODUCE

Create a new job template

##### EXPECTED RESULTS

Able to provide extra vars

##### ACTUAL RESULTS

unable to enter any extra vars

##### ADDIT

[2018-04-27 20:13] ryanpetrello commented on #1815
@marshmalien @jaredevantabor did we ever add code to hide this field if there are no actual underlying custom virtualenvs?

[2018-04-27 20:14] ryanpetrello commented on #1816
Do you see any Javascript errors in your browser console?  I'm having trouble reproducing this one on a fresh install.

[2018-04-27 20:22] grahamneville commented on #1816
So it seems this is working again, not sure whats changed

[2018-04-27 20:23] ryanpetrello commented on #1816
Let us know if you continue to see issues.

[2018-04-27 20:23] #1816 closed, assigned to nobody

[2018-04-27 20:24] #1811 closed, assigned to jaredevantabor

[2018-04-27 20:39] marshmalien commented on #1815
Yes, we did add code to hide this field. If custom_virtualenvs is an empty array, we hide the field on the job template form.
[code]

[2018-04-27 21:11] jaredevantabor commented on #1815
@grahamneville this field will be hidden if you have not configured AWX to accept multiple venvs. Can you confirm that you are seeing your venv options by looking at `api/v2/config/` and then the contents of `custom_virtualenvs`, if you're able to paste that here please.

[2018-04-27 21:36] greenscar opened #1817 "upgrade 1.0.5 -> 1.0.6 breaks during db upgrade steps."
#

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Upgrading 1.0.5 to 1.0.6 DB upgrade locks when auth config change started but not completed.

Currently on 1.0.5. We started setting up LDAP but never finished. However, local auth has continued working. We then upgrade to 1.0.6. Now app is hung in endless loop where web ui says "AWX is upgrading"

##### ENVIRON

[2018-04-27 22:09] seansabour commented on #1813
thanks @ryanpetrello ! i'll try to upgrade later this week .

[2018-04-27 23:55] jakemcdermott commented on #1817
Hello, @greenscar

Upgrades between AWX version 1.0.5 and 1.0.6 are not currently expected to work.  However, we have recently added an import/export capability to tower-cli/awx-cli, which allows you to export your job templates and other objects (not including credential secrets) to a JSON file, which you can then re-import to a freshly installed 1.0.6.

If you have any questions please feel free

[2018-04-27 23:55] #1817 closed, assigned to nobody

[2018-04-28 00:07] seansabour commented on #1805
I tried your suggestion and still hitting this issue.

[2018-04-28 02:02] jlmcknight commented on #1720
Just tested this in 1.0.6.0 and seeing the same error.

[2018-04-28 07:21] sumkincpp opened #1818 "Bundle `pexpect` package"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - AWX installation, docker images

##### SUMMARY
Add `pexpect` support to AWX docker images, so expect module will work

##### ADDITIONAL INFORMATION

1. [Dockerfile.j2](https://github.com/ansible/awx/blob/devel/installer/roles/image_build/templates/Dockerfile.j2) with linked requirements
2. [/requirements](https://github.com/ansible/awx/tree

[2018-04-28 14:33] tjyang opened #1819 "LDAP CONFIG GUI need to specify which fields are required"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.5+
* AWX install method:  docker on linux
* Ansible version:  2.5.0
* Operating System: CentOS 7.4
* Web Browser: Chrome

##### STEPS TO REPRODUCE

I used ldap.forumsys.com ldap as example.
See following screenshot.
The following fields for forumsys ldap are minimum required fields.
Th

[2018-04-29 11:03] navdeepghai opened #1820 "YML file syntax Error - Ansible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
[code]
#### File Contents (main.yml)
[code]
## I tried to use with when keyword command also but it's not working.

##### ENVIRONMENT
* Ansible version:  ansible 2.3.1.0
* Operating System:

[2018-04-29 11:21] #1820 closed, assigned to nobody

[2018-04-29 14:51] AlanCoding commented on #1805
Would you be able to show what request data is sent in the POST to the /job_templates/N/launch/ endpoint using your browser's debugging tools?

[2018-04-29 21:06] abatista75 commented on #1476
Same issue with Ansible 2.5.2 and latest version of AWX.

[2018-04-30 07:15] akcrisp commented on #1748
This is not fixed.  This still occurs with the latest build (AWX 1.0.5.32)
Running ansible version 2.5.2-1

getting -

 docker exec -ti awx_task bash
[root@awx awx]# awx-manage print_settings | grep '^DATABASES'
2018-04-30 07:10:36,053 WARNING  awx.conf.settings The current value "u'MemberDNGroupType'" for setting "AUTH_LDAP_1_GROUP_TYPE" is invalid.
Traceback (most recent call last):
  File "/usr

[2018-04-30 09:54] oatakan opened #1821 "Playbooks using import_playbook in wrong place in playbook listing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
With the release of Ansible 2.4 it's possible to use **import_playbook** statements to add other playbooks into a playbook file. In some instances a playbook only contains these statements to import other playbooks and it does not contain any plays in them directly.

Example (openshift deploy_cluster playbook): https:

[2018-04-30 10:18] jean-christophe-manciot opened #1822 "[1.0.6] Displayed projects base path does not match project_data_dir in installer/inventory and cannot be changed later in Settings"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - web

##### SUMMARY
Projects base path displayed in "Projects/+ADD" page does not match <some/other/projects/path> set during awx build.
It is impossible to modify the default projects base path to anything else than```/var/lib/awx/projects```.

##### ENVIRONMENT
* AWX version: tag 1.0.6
* AWX 1.0.5 install method: docker/docker-compose on lin

[2018-04-30 11:03] jean-christophe-manciot opened #1823 "[Feature Request] Allow to create inventory source from a manual project"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - web

##### SUMMARY
As of 1.0.6, it is not possible to import a local hosts file and use it as an inventory.

##### ENVIRONMENT
* AWX version: tag 1.0.6
* AWX install method: docker/docker-compose on linux
* Ansible version: v2.5.2 (from PyPi)
* Operating System: Ubuntu 17.10
* docker-ce ```18.04.0~ce~3-0~ubuntu``` (from official docker PPA)

[2018-04-30 13:45] akcrisp commented on #1788
this seems to be a bug that was introduced after 1.0.5.11 and has just caught me on a 1.0.5.32 build

[2018-04-30 13:47] aperigault opened #1824 "Inventory prompt on lauch broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
As you can see on my screenshot, when I select an inventory I can't click on ``next``.

##### ENVIRONMENT
* AWX version: 1.0.6.1
* AWX install method: docker on linux
* Ansible version: 2.5.2
* Operating System: Ubuntu
* Web Browser: Tested on Firefox and Chromium (latest versions)

##### STEPS TO REPRODUCE

Lauch a job temp

[2018-04-30 13:49] aperigault commented on #1681
Problem solved in 1.6.1.
Thanks

[2018-04-30 13:57] AlanCoding commented on #1821
We are supposed to be catching these cases

https://github.com/ansible/awx/blob/1e4c2f6d4f641c49d2bc14817d10901684b7c92b/awx/main/utils/ansible.py#L16

I followed your steps, and found that in a superficial sense I was able to reproduce in the UI.

![screen shot 2018-04-30 at 9 49 07 am](https://user-images.githubusercontent.com/1385596/39430651-5c490cd4-4c5c-11e8-8e11-bc7017b4444e.png)

However,

[2018-04-30 14:12] AlanCoding commented on #1821
Link original implementation of import_playbook https://github.com/ansible/awx/issues/544

[2018-04-30 14:20] innocode-devops commented on #1817
@jakemcdermott sorry to ping in closed issue, but is there any documentation on how to upgrade AWX to 1.0.6 in docker compose setup?

1. Is "Upgrades between AWX version 1.0.5 and 1.0.6 are not currently expected to work" mean that *might* work in later minor version?
2. Is there any documentation how to do export/import in docker setup? As far as I understand, awx-cli is not included in image and

[2018-04-30 14:28] AlanCoding commented on #1823
I don't think this would be a major problem to allow, with simple qualifiers:

 - we will not try to detect changes in the source tree on the file system
 - user will be responsible for defining the update behavior on their own (like Update on Launch)

[2018-04-30 14:56] akcrisp commented on #1788
as a quick fix  changing local_docker/tasks/standalone.yml - for awx_task and awx_web

Change -
  volumes: >
      {{
        [project_data_dir + ':/var/lib/awx/projects:rw'] if project_data_dir is defined else []
        + [ca_trust_dir + ':/etc/pki/ca-trust/source/anchors:ro'] if ca_trust_dir is defined else []
      }}

to -

    volumes:
     - "{{ project_data_dir + ':/var/lib/awx/projects:rw

[2018-04-30 15:06] cesan3 commented on #1660
thanks @ryanpetrello , works now ( deployed version 1.0.6.1 on kubernetes).

[2018-04-30 15:26] runtman commented on #223
What is the deal here, is the workaround approved I see conflicting posts in this thread?

[2018-04-30 15:31] cesan3 commented on #1824
I see this issue as well. Bypassed by scheduling/triggering jobs via the api or using tower-cli

[2018-04-30 15:58] bmalynovytch commented on #223
Well, the workaround I suggest allows to deal with the fact that AWX can't load encrypted variables when syncing inventory from SCM by removing the variables from the native directories (group_vars / host_vars) and loading them directly at runtime by a set of dedicated tasks, always run even in check mode.
It works perfectly in several projects and is fully compatible with `ansible-playbook` in CL

[2018-04-30 15:59] itcrowdsource opened #1825 "Stuck in: Ansible is Upgrading"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
I just tried to upgrade AWX to the latest version. But after deploying the new images the upgrade process is stuck. If I browse https://servername/ it switches to https://servername/migrations_notran/#/login and display the message AWX is Upgrading indefinitely. It has been running for hours now.

##### ENVIRONMENT

[2018-04-30 16:02] itcrowdsource commented on #1825
[code]

[2018-04-30 16:03] greenscar commented on #1817
@jakemcdermott : Upgrades from 1.0.4 -> 1.0.5 were not supported either. Are we to expect this moving forward? Why would anyone use a product if they cannot upgrade?

[2018-04-30 16:17] gregdek commented on #1817
AWX is not a product; it's a project. The supported product is Ansible Tower.

Upgrades for AWX are best effort, and that best effort at present is this process: download awx-cli, export your AWX data with awx-cli, install new version, import via awx-cli. We'll be documenting this more clearly in the near future.

[2018-04-30 16:36] sumkincpp commented on #1825
Upgrades from 1.0.5 to 1.0.6 should not work, see #1817

[2018-04-30 16:45] greenscar commented on #1817
Thanks @gregdek. The fact there is a path forward speaks volumes. Looking forward to the docs. Meanwhile, I will try it out; I learned a lot about the cli when I upgraded 1.0.4 -> 1.0.5.

[2018-04-30 16:54] greenscar commented on #1817
@innocode-devops : From what I have gathered thus far, direct upgrades will not be supported in the near future. That said, the cli should handle most of the migration.... I am interested to see if it will migrate auth config (ex: we use LDAP)

[2018-04-30 17:08] evalero commented on #223
But this feature will be implemented on future releases? Is any of the workaround approved as official? This is a really pain when you have to manage more than 100 job templates and a pile of job workflows. This is already implemented on ansible-playbook cli as @bmalynovytch  has told and this feature should be a must.
So, is the best way using ANSIBLE_VAULT_PASSWORD_FILE in evironment variables o

[2018-04-30 18:08] abatista75 opened #1827 "roles/requirements.yml not loaded"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The YAML files are stored in a git repo and successfully downloaded via a "Project" in AWX.
However, when the playbook is launched, the galaxy roles defined in [git repo]/roles/requirements.yml are not loaded, leading to a fatal error.

##### ENVIRONMENT
* AWX version: 1.0.6.1
* AWX install method: docker on linux (Debian 9)

[2018-04-30 18:36] oatakan commented on #1821
@AlanCoding is this a related issue?

https://github.com/ansible/awx/pull/1298

It seems that this might have fixed the original issue I was having but not sure the one you pointed out.

[2018-04-30 18:38] AlanCoding commented on #1821
Correct, it should be usable currently if you find its entry in the list. The problem is just that the project already has so many playbooks to sort through that unpredictable ordering makes this impractical manually in the UI.

[2018-04-30 18:42] tuxcrafter commented on #223
The workaround is not particularly useful for me. I expect ansible awx to work with the same vault file system as ansible-playbook cli command. Please allow the source inventory file to work with encrypted vault files.

[2018-04-30 19:08] wenottingham commented on #223
Going back to https://github.com/ansible/awx/issues/223#issuecomment-341763214 - we are investigating ways to do the third of these, but, as mentioned (see discussion) that requires changes in *both* Ansible and AWX. It land at some point when all of that work is done.

[2018-04-30 19:10] wenottingham commented on #1827
What does the log for the checkout job for that playbook run look like? You can access it from the green dot next to the project definition for the job run.

[2018-04-30 19:13] abatista75 commented on #1827
It seems to look fine. Here it is:

[code]

[2018-04-30 19:27] wenottingham commented on #1827
If you look at the event for the role fetch, did it successfully pull it down?

[2018-04-30 19:59] mattburchett commented on #1827
Same issue here, but you can't view the event for that fetch. At least, it wasn't letting me. No place to click like a normal playbook run.

[2018-04-30 20:03] abatista75 commented on #1827
No, there is no trace from the role fetched.
I went a little further by disabling the check "_does requirements.yml exists?_" in project_update.yml, and the role was fetched, but the playbook failed (still unable to find the role).

[2018-04-30 23:02] bladecoates commented on #1763
Getting the same issue with 1.0.5.32. Using custom Docker build, to add a few extra items like ssh-keys and others, but no new pip requirements. The ipv4 filter fails.

{"changed": false, "msg": "AnsibleFilterError: The ipv4 filter requires python-netaddr be installed on the ansible controller"}

[2018-04-30 23:07] bladecoates commented on #1763
Looks to have been removed from one requirement file in 556e6c4a117597fc36fdab53b32a4e29ed494a34

[2018-05-01 02:47] metabsd commented on #1825
I think I have a similar bug but I got that message

[code]

I try to update to the latest docker image and I'm stuck on AWX is Upgrading.

[2018-05-01 02:51] fia5000 commented on #956
I can replicate this bug. None of the ldap config gets saved

[2018-05-01 06:43] mkempster22 commented on #1825
There is no real upgrade path in AWX at the moment, the best way to upgrade is to perform a clean install wiping the database

Duplicate of #138 ?

[2018-05-01 10:25] akcrisp opened #1829 "latest postgres build missing /usr/bin/python symbolic link"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
I believe you guys use upstream image - however we note the python seems to have been updated to python3 and a synbolic link is missing from /usr/bin/python3 to /usr/bin/python.

Last week it had python 2.7 installed and it was present.

We found that running a backup against it via ansible playbook (gathering facts)

[2018-05-01 11:37] PsychoSid commented on #1817
I have been unable to setup LDAP from scratch in 1.0.6 the config never gets saved when setting up group mappings etc and then disappears. Will try to investigate further.

[2018-05-01 11:38] PsychoSid commented on #1823
Did this not used to be allowed ? Sure I used this prior to v1.0.5.

[2018-05-01 12:09] AlanCoding commented on #1823
I don't think so, but I don't think it would have worked. There is more than 1 place where we need to add some special `if` clauses, because ordinarily we need a project sync before running the inventory update, and in this case we specifically need to not do that.

[2018-05-01 12:17] MrMEEE commented on #138
As far as I see.. the tower-cli is not really an option (not alone anyways).. as it's missing to many thing... (credentials, logs, group, ldap and more)..

I have noticed that there is:

awx-manage dumpdata
awx-manage loaddata

I can get the dumpdata, to dump the data to a file, but I can't get loaddata to work...

Anyone know how to load the data back in??? and if it can be used when upgrading???

[2018-05-01 12:42] akcrisp commented on #138
You can just do a curl command to get the ldap config - I have had it work from 1.0.1 to 1.0.5.32 just be very careful with ldap bind password as I just found it wipes out what’s in the dB with the $encrypted :-)

Sent from my iPhone

[2018-05-01 12:49] akcrisp commented on #138
I do think it would be extremely useful to the community if the guys developing awx / tower-cli / awx-manage, could provide some proper guidance on how to extract the various elements to help the community help them by enabling community moving too newer versions even when direct upgrades have been broken by changes in the major releases.

Andy

Sent from my iPhone

[2018-05-01 13:03] gregdek commented on #138
The tower-cli changes are still relatively new, just released a few days ago, so still working on documenting this procedure. It's coming.

[2018-05-01 13:59] tmckinne opened #1830 "ps"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### AD

[2018-05-01 14:06] wenottingham commented on #1830
Closing (empty report)

[2018-05-01 14:06] #1830 closed, assigned to nobody

[2018-05-01 14:59] metabsd commented on #1825
No plan of psql patch to fix the problem ??

[2018-05-01 15:11] BenCoffeed opened #1831 "Running Job log does not follow stdout of the running job without page refresh"
Possibly a regression of issue https://github.com/ansible/awx/issues/437

ISSUE TYPE

    Bug Report

COMPONENT NAME

    UI

SUMMARY

To see the current job status, the execution steps and the real elapsed time, users must reload the webpage manually. AWX should provide these job informations update on the fly to the UI.
ENVIRONMENT

    AWX version: AWX 1.0.5.31 (current devel)
    AWX install m

[2018-05-01 15:22] cesarfn4 opened #1832 "RFE: Create a Tower team with nested Tower teams"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Be able to create a Tower team with nested Tower teams.

##### ENVIRONMENT
* AWX version: any

[2018-05-01 15:25] cesarfn4 opened #1833 "RFE: Assign a Tower team to multiple Tower organization"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Be able to assign a Tower team to multiple Tower organization

##### ENVIRONMENT
* AWX version: any

[2018-05-01 15:30] wenottingham commented on #1833
This is best done with mappings in your authentication provider configuration - by matching on attributes, you can put the 'same' logical team in multiple organizations.

[2018-05-01 15:30] #1833 closed, assigned to nobody

[2018-05-01 15:32] wenottingham commented on #1832
See #1833 - please do this with mappings from your authentication provider.

[2018-05-01 15:32] #1832 closed, assigned to nobody

[2018-05-01 17:08] jakemcdermott commented on #1831
Hello @BenCoffeed ,

I'm not able to reproduce this on current awx devel:

![relaunch](https://user-images.githubusercontent.com/9753817/39483524-ad2f205e-4d40-11e8-96e3-a310fca7555f.gif)

Did I capture your steps correctly? Are you seeing any tracebacks or errors in the webconsole?

[2018-05-01 17:13] jakemcdermott commented on #1831
@BenCoffeed

If you're referring to relaunching from the jobs list, we intentionally do _not_ route the user to the results page from the job list. This is to facilitate the use case of relaunching multiple jobs at once.

[2018-05-01 18:13] cailen commented on #1764
I am unable to save also. What I'm seeing every time I run it looks to be a postgres issue. Not sure if this will help or not, but I hope so:

[code]

[2018-05-01 18:37] tjyang commented on #1764
Hi @cailen

1. connect to awx db  in postgresdb using psql or pgadmin4 GUI client.
    1.1.  Run this command -> select key,value from conf_setting table where key like 'AUTH%';
2. Input ldap config from GUI and click on SAVE button.
3.  run 1.1 to see if your input is saved from output of select statement, if not it means you are not entering connection ldap config or json format was not correct.

[2018-05-01 18:52] cailen commented on #1764
@tjyang, I actually just was in pgadmin4 and noticed that it did in fact save and was updating when I was adding teams and domains.

[2018-05-01 19:00] roman8422 commented on #223
As a wrokaround I switched to using playbook group_vars instead of inventory group_vars.
This way no changes needed neither in vars files nor in playbooks.
In case  of multiple playbook dirs group_vars dir can be symlinked.
My project structure looks like this now:
[code]

[2018-05-01 19:29] tjyang commented on #1764
@cailen , hope AWX team can fix the bug by looking at logs you guys submitted.

[2018-05-01 20:58] adam-j-turner commented on #1824
I see this with 1.0.6.0 as well

[2018-05-02 04:55] ken5scal opened #1834 "Fail getting SAML Metadata"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
- Accessing "SAML Service Provider Metadata URL" returns 502

##### ENVIRONMENT
* AWX version: 1.0.4
* AWX install method: docker on linux (using default image)
* Ansible version:  2.4.3.0
* Operating System: Amazon Linux 2
* Web Browser: Google Chrome (Secret Mode)

##### STEPS TO REPRODUCE
* Set Accordingly
![image](https:

[2018-05-02 06:38] RohitUppal opened #1835 "tower-cli installation in awx"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
tower-cli not able to connect to host

##### ENVIRONMENT
RHEL 7.4

##### STEPS TO REPRODUCE

1. Install AWX Community edition in docker
2. Copy towe cli tar ansible-tower-cli-3.2.1.tar inside awx_web container
    docker cp /ansible-tower-cli-3.2.1.tar awx_web:/
3. Attach to awx_web container and extract ansible cli t

[2018-05-02 07:41] zhangtiny123 opened #1836 "Configure awx / system , raise error [Cannot read property 'fields' of undefined]"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I try to configure awx at system part, change the [base url of tower host], and click [save], then raised the error
[code]
And I simply check the code, found that maybe the ```formTracker``` is not correctly initialize the currentForm . Also when try to [Reset all to default] will raise this error.

##### ENVIRONMENT
* AW

[2018-05-02 08:28] zhangtiny123 opened #1837 "[Cannot read property 'popover' of undefined] at instance group page"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

when navigate to [Instance Groups] page, error info in the console
[code]

##### ENVIRONMENT
* AWX version: 1.0.6.3
* AWX install method: docker on linux
* Operating System: linux
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

Simply open your console of browser, and navigate to [Instance Groups] page,
and you sh

[2018-05-02 08:45] chestercheng opened #1838 "Normal user failed to relaunch the workflow template"
**ISSUE TYPE**

- Bug Report

**COMPONENT NAME**

- UI

**SUMMARY**

First, I am a normal user with execute permission for the workflow template. I successfully executed first time as following figure.

![default](https://user-images.githubusercontent.com/36478905/39513404-ccdcc208-4e26-11e8-942a-0cbad0ba7d07.JPG)

When I relaunched the workflow template with rocket button on the upper-right corne

[2018-05-02 14:29] ryanpetrello commented on #1835
@RohitUppal questions about how to use AWX are more suited for the mailing list (https://groups.google.com/d/forum/awx-project) or our IRC room (#ansible-awx on Freenode).

If you're trying to run `tower-cli` from within a playbook, you'll need to install it in the `awx-celery` container (which is where `ansible-playbook` processes actually run).

The IP should be the IP address of whatever AWX yo

[2018-05-02 14:29] #1835 closed, assigned to nobody

[2018-05-02 14:59] aperigault commented on #1834
Maybe have you just an error in your configuration ?
I already see AWX silently failed when I set wrong configuration.

You can also try to update to 1.0.6.0. There is many bugs in SAML before.

[2018-05-02 15:04] rancheradminau commented on #1792
I just had this issue last night. I think it is the rabbitmq container. Once I started stopping them in order, CPU starting to go down after that one. I might try to pull a prior mq container and see if it works.

[2018-05-02 15:17] ryanpetrello commented on #1720
Wanted to pop in and say we haven't forgotten you all - currently testing a fix that _should_ resolve this issue soon.

[2018-05-02 15:48] rancheradminau commented on #1792
Update, this only appears to happen when my Macbook is on battery power. :(

[2018-05-02 16:29] nolfb opened #1839 "Version"
How do you tell what the version of AWX you are running?  Is there plans to update the current version?
thanks

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Op

[2018-05-02 16:58] wenottingham commented on #1839
There's an 'about' link at the bottom.  In any case, this is not a bug report/RFE.

[2018-05-02 16:58] #1839 closed, assigned to nobody

[2018-05-02 17:20] mhurron commented on #956
Seeing same results on AWX docker container 1.0.6.3.

Docker Log:
2018-05-02 17:06:54,357 WARNING  awx.api.generics status 400 received by user admin attempting to access /api/v2/settings/all/ from 172.20.0.7
[pid: 29|app: 0|req: 187/2256] 172.20.0.7 () {54 vars in 4588 bytes} [Wed May  2 17:06:53 2018] PATCH /api/v2/settings/all/ => generated 143 bytes in 394 msecs (HTTP/1.1 400) 8 headers in 252

[2018-05-02 19:08] cesan3 opened #1840 "Unable to cancel orphaned Job. The DEFAULT JOB TIMEOUT setting is not honored."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Launched a Job. The job got orphaned after running for several hours.  The job never got canceled even if it reached the DEFAULT JOB TIMEOUT, configured as 27000 (7 hours)

##### ENVIRONMENT
* AWX version: 1.0.6.3
* AWX install method: kubernetes
* Ansible version:  2.5.2
* Operating System: Linux
* Web Browser: Chrom

[2018-05-02 20:09] badstreff commented on #885
Any traction on this? Seems like most of the code is already in place for this since the Mattermost notification type is seemingly working. Are PR's welcome and if so is there anything I need to do before cloning the project and starting work on this?

[2018-05-02 20:21] wenottingham commented on #885
PRs are definitely welcome.

[2018-05-02 23:09] greenscar commented on #1836
+1

Fresh install. Fresh DB.
Login
Goto Settings & Change anything. (I tried configuring LDAP a couple of times; I tried changing the Base URL; each attempt was with a fresh install / clean DB).
As soon as I click SAVE this error is seen in debug mode and nothing hits the web or worker container.

[2018-05-03 00:42] earchibald-lv commented on #1672
I did a new build with your fix, @ryanpetrello, and it's still throwing the same problem.

[2018-05-03 09:44] zhangtiny123 opened #1841 "Pagination is not working at Jobs page."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

No matter what page number you choose, the jobs displayed on the page is the newest ones.
I checked the data returned by api and api parameters, seems it's OK .
So the problem should be at UI level.

##### ENVIRONMENT
* AWX version: 1.0.5
* AWX install method: docker on linux
* Ansible version:  1.0.5
* Operating System:

[2018-05-03 09:50] aperigault commented on #1824
Someone can help me to fix it ?
I use this feature in many job templates and I think i'm not the only one.

[2018-05-03 10:04] abelboldu opened #1842 "Smart inventories don't update on launch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
The 'Update on launch' behaviour for inventories does not work when using a Smart inventory.

##### ENVIRONMENT
*  AWX 1.0.5.32
* AWX install method: docker on linux
* Ansible version:  2.5.1
* Operating System: Ubuntu 16.04
* Web Browser: Webkit

##### STEPS TO REPRODUCE

- Mark the 'Update on launch' option on a inventory

[2018-05-03 10:14] Reamer opened #1843 "Docker image with tag 1.0.5 includes an old ansible version"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Docker Image

##### SUMMARY
The newest docker image with name awx_task and tag 1.0.5 includes ansible in version 2.5.1. It is possibly to update ansible in awx_task image with tag 1.0.5? Ansible 2.5.x has serveral bugfixes. For example: https://github.com/ansible/ansible/issues/39004

[2018-05-03 11:31] sujiar37 commented on #1843
@Reamer  Use custom virtual env which can be associated in organization and job templates. Check out this for more details

https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

[2018-05-03 12:15] aoyawale opened #1844 "possible issue in portal mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
when you click on portal mode, on the top left you see "portalMode.myJobs" looks like something did not rendered right.

##### ENVIRONMENT
* AWX version: AWX 1.0.6.3
* AWX install method:  docker on linux,
* Ansible version:  2.5.2
* Operating System: fedora 27
* Web Browser: chromium 65.0.3325.181

##### STEPS TO REPRODUCE

[2018-05-03 12:51] MrMEEE commented on #1054
Seeing same issue here...

[2018-05-03 12:58] MrMEEE commented on #1054
To me it seems to fail, because ansible-galaxy is not present...

Running the rpms.. but might be the same problem in docker...

[2018-05-03 13:41] agentili commented on #1827
Same issue from my side.
Despite the succesful SCM update the role required is not installed.

I noticed that the "-p" parameter from the "ansible-galaxy install" command is not properly handled.

Below the output of the command sent during the playbook (executed from command line)
[code]

Here instead the result with a different addressing of the _requirements.yml_ position
[code]

Hoping this ca

[2018-05-03 13:49] itcrowdsource commented on #1817
Does anyone know how the tower/awx-cli export and import procedure works? I can't find any proper information about it. I have installed tower-cli Python package to manage AWX (pip install ansible-tower-cli) but I'm unable to find the export import commands.
Am I using the wrong version?

[2018-05-03 13:52] wenottingham commented on #1827
What ansible version? Is it 2.5.2 for all of you?

[2018-05-03 13:55] wenottingham commented on #1842
This is expected, that does not propagate to the different inventories that a smart inventory pulls from.

[2018-05-03 13:55] #1842 closed, assigned to nobody

[2018-05-03 14:10] agentili commented on #1827
**ENVIRONMENT**
* AWX version: 1.0.6.3
* AWX install method: docker-compose on linux (Ubuntu 16.04)
* Ansible version: Ansible 2.5.2
* Operating System: Linux (Ubuntu 16.04)
* Web Browser: Chrome 67.0.3396.18

[2018-05-03 14:32] gregdek commented on #1817
On Thu, May 3, 2018 at 9:49 AM, IT Crowdsource <notifications@github.com>
wrote:

The new version with the new send/receive commands just landed; I don't
know that the docs are updated yet. We're working on that.

In the meantime, it's basically two commands, as I understand it:
"tower-cli receive all" which will export all possible data, and then
"tower-cli send resulting-file.json" to import the

[2018-05-03 14:37] pjmcquade commented on #576
Hello,

I was directed here by Red Hat and it seems this topic is similar to the concerns I have around RBAC and LDAP authentication.  What I describe below is based upon my current understanding of capabilities and/or limitations of Tower, so if I have misunderstood something, I'm happy to be corrected of course.

Currently I'm using tower 3.2.4 and I have the following scenario:

Let's say I hav

[2018-05-03 14:50] wenottingham commented on #576
Re: #2 - that's not the case. It's done at the team level.

[2018-05-03 15:20] abelboldu commented on #1842
I don't see the point on Smart Inventories when using them on a dynamic fashion then.

In our use case, we use the to select a subset of the global inventory (like selecting droplets by tag name) but then it's useless if it's not refreshed at every job run, just for the record...

[2018-05-03 15:23] e-tienne opened #1845 "RFE: Extend callback feature to Workflows"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Be able to allow Callbacks to awx via the awx API and invoke the launch of a Workflow.

Depends on https://github.com/ansible/awx/issues/1845

[2018-05-03 16:06] chrismeyersfsu commented on #1704
@cello86 awx 1.0.6 should resolve this issue https://github.com/ansible/awx/commit/00cd6cb384d5ad8776f24684bdb09beb57e86517

[2018-05-03 16:11] ghost opened #1846 "Add password strength policy enforcement"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Allow admins to set and enforce a password strength policy that applies to all users when updating passwords

##### ENVIRONMENT
* AWX version: 1.0.6

##### STEPS TO REPRODUCE

Currently, password strength requirements can be enforced only on externally-authenticated accounts.  This enhancement would allow the enforc

[2018-05-03 16:31] Grokzen commented on #1792
@shanemcd `python /usr/bin/awx-manage migrate --noinput --fake-initial` runs when i boot my laptop. I let it run to see if there was some loop or just a very long process, and it took about 8-12 minutes before it calmed down and the load on my machine went away.

I would still argue that by default the local_docker solution should not boot up automatically, but that should be a option in the setti

[2018-05-03 17:02] wenottingham commented on #1846
This is best done in the external account provider, as noted.

[2018-05-03 17:16] jakemcdermott commented on #1824
👋 Hello. Thanks for filing this issue.

This is fixed downstream - it'll be resolved once we merge the associated code changes into awx.

[2018-05-03 17:16] #1824 closed, assigned to nobody

[2018-05-03 18:14] ben-le opened #1847 "Deploy AWX on OpenShift 3.7 Failed:error: update acceptor rejected awx-1: pods for rc 'awx/awx-1'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Deploy AWX failed on OpenShift Origin 3.7
$ oc logs -f po/awx-1-deploy
--> Scaling awx-1 to 1
error: update acceptor rejected awx-1: pods for rc 'awx/awx-1' took longer than 600 seconds to become available

##### ENVIRONMENT
* AWX version: 1.0.4
* AWX install method: openshift origin 3.7
* Ansible version:  2.4.1.0
*

[2018-05-03 23:59] abatista75 commented on #1827
I upgraded to AWX 1.0.6.3 (Ansible 2.5.2), and still the same issue.

[2018-05-04 00:27] adam-j-turner commented on #1827
I also could not get roles to download with any combination of settings.

- AWX 1.0.6.0
- Ansible 2.5.2
- RHEL 7 + Docker

I turned on debug in ansible.cfg to see the command being ran from project_update.yml:
`ansible-galaxy install -r requirements.yml -p /var/lib/awx/projects/_15__mulesoft_playbooks_devel/roles/ __omit_place_holder__844789ae303bc79148014e5939498c7f66f2d002`

Running that manuall

[2018-05-04 06:23] abatista75 commented on #1827
Indeed, it works by removing `{{ scm_result is defined|ternary('--force',omit) }}`.

However, if the playbook is not in the root folder [git repo]/test1.yml, then it does not work (wherever is roles/requirements.yml)

[2018-05-04 08:07] aperigault commented on #1824
Oh good! Thanks.
Can I test the patch ?

[2018-05-04 09:49] cavamagie commented on #1817
tower-cli receive --all > assets.json
Traceback (most recent call last):
  File "/usr/local/bin/tower-cli", line 11, in <module>
    sys.exit(cli())
  File "/usr/local/lib/python2.7/dist-packages/click/core.py", line 722, in __ca                                                                                                                                                             ll__
    retur

[2018-05-04 11:23] jniewt opened #1850 "Inventory source sync schedule broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When `schedule inventory syncs` is pressed for an inventory source from a custom script, the cog wheel and "working" message pops up for a second and disappears without doing anything in the UI.

##### ENVIRONMENT
* AWX version: 1.0.6.3
* AWX install method: docker on linux
* Ansible version:  2.5.2
* Operating System: De

[2018-05-04 11:34] steefenh commented on #1276
Unfortunately facing the same issue
When working with a workflow, the variables "stored" with set_facts are not recovered by subsequent jobs
using
  AWX 1.0.6.1
  Ansible 2.5.2

[2018-05-04 15:18] msilmser opened #1852 "RFE: Notifier on job cancellation"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- Notification
- Jobs/Workflows

##### SUMMARY
Customer would like to be able to execute a playbook automatically in the event that a user cancels a job/workflow from the UI.

##### ADDITIONAL INFORMATION
Potentially the ability to send a webhook notification on a job being cancelled in addition to the existing success or failure options.

[2018-05-04 17:23] wenottingham commented on #1845
Just notes:
- provisioning callbacks use the host's inventory membership for functional reasons (--limit on the template), as well as to certify it's an allowed machine
- workflows can consist of 20 JTs that each have a different inventory which would then mean. ¯\_(ツ)_/¯ in terms of determining that membership

Hence, this would likely have to be tied to the context of 'this workflow uses one and

[2018-05-04 19:07] steefenh commented on #1276
please ignore my last post...
read the documentation again and found out that set_fact variables will actually not persist over different playbook runs..too bad

[2018-05-04 19:11] wenottingham commented on #1276
Ansible 2.4 and later introduce the `cacheable` parameter to set_fact - that may be of use to you. http://docs.ansible.com/ansible/latest/modules/set_fact_module.html

[2018-05-05 08:18] itcrowdsource commented on #1817
@gregdek Thanks!
The import/export procedure works very well indeed. The only thing that need to be taken into account is that (logically) the passwords or secret keys of the credentials aren't stored in the json file. In my case the import script couldn't create the job templates because these are pulled from a GIT repository because it needs an account to be setup. So I had to first configure my

[2018-05-05 12:01] shaneholloman commented on #1719
@wenottingham No I did not. I perhaps foolishly assumed the installer made my storage persistent by default since this is the type of data most would not want to lose

Cheers for the heads up. I will be more careful for my next installation and check for that option

[2018-05-05 15:52] wkleinhenz commented on #1850
I have the same problem I believe it may be related to the use of an nginx proxy for ssl
My build is using docker on Centos 7 with the latest version
also seems to effect the ability to view job status/results

[2018-05-06 02:15] ricalenil commented on #775
Any update with this issue? Or if there is a workarround please tell. thanks! @wenottingham @matburt

[2018-05-06 14:46] DawerRafi commented on #1731
I think this enhancement makes sense. We currently have no way to create a complete workflow made up of smaller components, and launch them to different inventories given at launch time.

Currently we have to manually edit the workflow and set the inventory and credentials on each job if we have to change the inventory or credential.

Having prompt on launch could really make this easier.

[2018-05-06 19:21] #1719 closed, assigned to nobody

[2018-05-07 06:49] ken5scal commented on #1834
Fmmm, let me try updating the AWX. Tx!

[2018-05-07 09:05] krepflap commented on #1578
Is this fixed? Right now etcd isn't being deployed anymore in the code:

https://github.com/ansible/awx/search?utf8=%E2%9C%93&q=etcd&type=

Considering @matburt 's remark:

Is this oversight? Transitional phase?

[2018-05-07 09:09] krepflap commented on #1578
I'm guessing this is fixed in 935dc8bca7d5a03e2b2aeb3a199be0181b62ccbb.

[2018-05-07 13:14] ryanpetrello commented on #1578
@krepflap correct - we looked into https://github.com/ansible/awx/issues/1578#issuecomment-373770886 and awx now uses https://github.com/rabbitmq/rabbitmq-peer-discovery-k8s rather than etcd for peer discovery.

[2018-05-07 13:14] #1578 closed, assigned to nobody

[2018-05-07 13:26] cesan3 commented on #1824
This bug is annoying and causes the UI to be useless to launch a job. Can you give us the patch?, ETA on when the merge will happen?

[2018-05-07 14:01] pkaramol opened #1854 "AWX server not accepting token for auth"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Keep getting back no credentials provided error when posting with `Authorization` token in the `POST` headers

##### ENVIRONMENT
* AWX version: 1.0.4.130
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.5.0
* Operating System: `Ubuntu 16.04.04 LTS`
* Web Browse

[2018-05-07 14:13] ryanpetrello commented on #1854
@pkaramol awx currently gives two options for authentication: reusable OAuth2 tokens or HTTP basic auth (username and password provided on _every_ request).

This link has some examples on how to generate and use an OAuth2 Personal Access Token:

https://github.com/ansible/awx/blob/devel/docs/auth/oauth.md#using-oauth-2-token-system-for-personal-access-tokens-pat

If you want to use basic HTTP aut

[2018-05-07 14:13] #1854 closed, assigned to nobody

[2018-05-07 17:13] mattburchett commented on #1827
Confirmed here as well.

I reverted commit https://github.com/ansible/awx/commit/b3ca7acb41d1d9215e9f5171d41d4c82e37794b0 locally and that seems to have fixed the issue with roles not being imported for me.

[2018-05-07 17:26] abatista75 commented on #1827
The issue seems to come from this piece of code in the same file (project_update.yml):

[code]

All the 3 rules are always `true`, forcing AWX to skip the update of the git repo. Therefore the variable `scm_result` always remains empty, which prevents running ansible-galaxy.

[2018-05-07 18:00] KyleTheAutomator opened #1855 "LDAP authentication settings don't persist when "LDAP Group Type" equals "ActiveDirectoryGroupType"."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

LDAP authentication settings don't persist when "LDAP Group Type" equals "ActiveDirectoryGroupType".

##### ENVIRONMENT
* AWX version: 1.0.6
* AWX install method: docker on linux
* Ansible version:  2.5.2
* Operating System:  Ubuntu 16.04
* Web Browser:  Chrome

##### STEPS TO REPRODUCE
Login to the webui.  Click o

[2018-05-07 18:38] wenottingham commented on #1827
The goal of the conditional is to run with `--force` when scm_result is defined, and to omit the parameter when not. Will debug some more at a future point.

[2018-05-07 19:57] KyleTheAutomator opened #1856 "Permissioning System Broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API?
 - UI

##### SUMMARY

I initially thought this might be something related to the ldap implementation but I created a local test user, test team, test project.  I am unable to assign the test user to the team or permission the test user to the project (UI accepts inputs but changes don't result in the user being added/permissioned to th

[2018-05-07 23:00] wenottingham opened #1857 "Project-centric navigation leaves out workflow job templates"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

The new project-based nav lets you view job templates that came from a project from the project view.

However, there's no counterpart for workflows. This is likely because workflows can span projects, but we should find a way to make them easily findable.

##### ENVIRONMENT
* AWX version: current
##### ADDITIONAL INFORM

[2018-05-07 23:01] wenottingham commented on #1857
Note that workflows aren't listed under organization -> job_templates... that should perhaps be a combination of both regular and workflow templates.

[2018-05-08 09:40] runtman commented on #223
@roman8422 That is interesting, how would you work with different environments?

[code]

This is how I run this via CLI (It works fine)

[code]

[2018-05-08 09:50] zhangtiny123 commented on #1855
Is there any error in your web console?

I've suffered this issue, too. And successfully configured LDAP with  correctly filling in required fields(related [Riccardo1976's comment](https://github.com/ansible/awx/issues/1040#issuecomment-360160950) ) and left the `LDAP GROUP TYPE PARAMETERS` field blank or `{}`, not sure about this now , because I returned back to `1.0.5` ...

[2018-05-08 11:24] AlanCoding commented on #223
Note that with https://github.com/ansible/ansible/pull/38759, this will be relatively close to reality.

[2018-05-08 13:32] smossber commented on #1808
Also see this issue.
When adding some debugging to the foreman.py script and basically printing the temporary foreman.ini, I see that all source variables are passed under to the [foreman] section, when want_hostcollections should go under [ansible].

 17.178 ERROR  [ERROR]: Print Content of tmp FOREMAN_INI configuration: [foreman] ssl_verify 17.178 ERROR = False host_filters = lifecycle_environme

[2018-05-08 14:29] KyleTheAutomator commented on #1855
Looks like I get a 400 status with the following response from the api.

`{AUTH_LDAP_GROUP_TYPE_PARAMS: ["Invalid key(s): "member_attr"."]}`

[2018-05-08 19:49] pcfe opened #1858 "queries for jobs that have been running longer than N return no results"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Getting a list of jobs that are running and have an elapsed time greater than N seconds does not seem to work.

##### ENVIRONMENT
* AWX version: Tower 3.2.2
* AWX install method:
  * src: "https://releases.ansible.com/ansible-tower/setup-bundle/{{ tower_bundle }}.tar.gz"
  * command: ./setup.sh
* Ansible version:  2.4.2.0
*

[2018-05-08 20:02] pcfe commented on #1858
note that `tower_job_list` module exhibits the same behaviour. (which is how I ran into the behaviour)

[2018-05-09 07:24] dano0b commented on #1309
GELF is superior, syslog limitations:
Limited to length of 1024 bytes – Not much space for payloads like backtraces
No data types in structured syslog. You don’t know what is a number and what is a string.
The RFCs are strict enough but there are so many syslog dialects out there that you cannot possibly parse all of them.
No compression

Especially a proper handling for multi-line output like bac

[2018-05-09 09:20] abatista75 opened #1859 "Missing playbooks in Job Template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When I edit a "Job Template", the field "Playbook" does not show all the playbooks, but only some of them.
The "Project" is updated: The Git revision is the latest one, and all the playbook files are fetched locally.

##### ENVIRONMENT
* AWX version: 2.5.2
* AWX install method: docker on linux
* Ansible version:  1.0.6.5
* O

[2018-05-09 12:09] sujiar37 commented on #760
@matburt @ryanpetrello  Just checking , we have the 1.0.6 out now. are there any docs available yet for awx to setup isolated nodes like tower does ?

https://groups.google.com/forum/m/#!topic/awx-project/NmL3ZoOJ9G4

[2018-05-09 13:18] jaevans opened #1860 "Cannot launch jobs when inventory prompt on launch is selected in template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

Unable to launch jobs when inventory "Prompt on Launch" is selected.

##### ENVIRONMENT
* AWX version: 1.0.6.5
* AWX install method:  docker on linux
* Ansible version:  2.5.2
* Operating System: RHEL 7.4
* Web Browser: Chrome, Firefox

##### STEPS TO REPRODUCE

1. Create Job Template from job, select PROMPT ON LAUNCH for

[2018-05-09 14:33] Borrelworst opened #1861 "Job details and Job view not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Job details and Job view not working properly

##### ENVIRONMENT
* AWX version: 1.0.6.5
* AWX install method: docker on linux
* Ansible version:  2.5.2
* Operating System: RedHat 7.4
* Web Browser: Firefox/Chrome

##### STEPS TO REPRODUCE
Run any playbook, failed and succeeded jobs are present but not showing any details.

#

[2018-05-09 14:34] matthew-hickok commented on #1861
I am experiencing the same issue.

[2018-05-09 15:19] gamuniz opened #1862 "Please add workflow type of 'after all successful'"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

It would be nice to have another type of workflow status to add to always/ success/ failed which ran only if all other job templates were successful.

##### ENVIRONMENT
* AWX version: latest
* AWX install method: n/a
* Ansible version:  2.5.2
* Operating System: RHEL7
* Web Browser: Chrome

[2018-05-09 15:21] AlanCoding commented on #1858
This is probably a client-side problem where tower-cli needs to convert the value into the field type.

[code]

[2018-05-09 16:32] llbbl commented on #372
Still having this issue with awx 1.0.5.1 using Docker. Will this be fixed in future releases ?

[2018-05-09 16:33] llbbl commented on #1795
Adding this to Install.md was very helpful. Thanks.

[2018-05-09 16:35] wenottingham commented on #1859
There is a parser that ensures the .yml file looks like a playbook.

What do the playbooks that don't show up look like?

[2018-05-09 16:48] llbbl commented on #200
Is this fixed in 1.0.6 ? Looks like the comment from Jake was after the tag was added. Would be worth upgrading just for this.

[2018-05-09 17:10] abatista75 commented on #1859
That's right... The "hidden" playbooks aim at being included in another YAML file. So the header `- hosts: all` are deliberately missed.

A short explanation in the UI would be nice.

[2018-05-09 17:10] #1859 closed, assigned to nobody

[2018-05-09 19:12] msilmser opened #1863 "RFE: Make the JSON output for the stdout endpoint easier to digest"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
When pulling the JSON output from the /api/v2/jobs/<ID>/stdout endpoint, it appears in a large text blob contained inside a content with what looks like HTML as well. It would nice if this was formatted more cleanly so its easier to parse for facts.

##### ADDITIONAL INFORMATION
Example of current output:
[code]
Example o

[2018-05-09 19:27] MTWiley commented on #496
Request/create a service account.

[2018-05-09 20:06] jaevans commented on #1856
We are noticing this in our environment too, also AWX 1.0.6.5, using LDAP. It appears that granting individual users sticks, but teams does not.

What's interesting is that teams can see the object (such as a Job Template) until they try to launch the job, then they get a permission denied error, and lose visibility. As far as I can tell, the role object still exists, and is still referenced from

[2018-05-09 21:13] anasypany commented on #1861
What are you using for a proxy in front of AWX? Do you have your awx_web container bound to `0.0.0.0:port` or `127.0.0.1:port`? I was experiencing the same issue while accessing AWX behind a nginx proxy running on the Linux host and noticed that when the proxy was disabled the Job detail pages would display properly. After I set the awx_web container to listen on `127.0.0.1`, I was longer experien

[2018-05-09 22:44] Bitblade commented on #989
+1 Agree that having this only available as a container install is not useful to us.

[2018-05-10 00:33] Colstuwjx opened #1864 "awx ui support chinese"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

It'd better to support show Chinese language ui for awx, I'm happy to contribute this, but can NOT find awx ng sourcecode :(

Thanks.

[2018-05-10 04:16] cstuart1 commented on #1861
I'm having the same issue where the job details will not display (also running with a proxy in front of awx). Adjusting the awx_web container to listen on 127.0.0.1 did not resolve the issue. Prior to upgrading to 1.0.6.5 this was working properly.

ENVIRONMENT
AWX version: 1.0.6.5
AWX install method: docker on linux
Ansible version: 2.5.2
Operating System: Ubuntu 16.04
Web Browser: Firefox/Chrome

[2018-05-10 07:04] runtman opened #1865 "Enhancement Request"
Is it possible that the notifier rather than only having (Success, failure) we could get (changes) added?

I don't really care if my job succeeds, but I do care if it succeeded and tasks "changed" parts of the system.

Thanks.

[2018-05-10 07:08] Borrelworst commented on #1861
Thanks for the tip @anasypany and for trying this solution @cstuart1. I indeed also use nginx as front-end proxy as I need SSL and port 443. What I haven't tried yet is via a ssh-tunnel directly connecting to the awx_web container. If the issue then still persist it is in the application itself. However I will not be able to test this today, but it will be the first thing I will do tomorrow mornin

[2018-05-10 07:56] 1it opened #1866 "[UI] [Bug] Next button inactive on inventory promt"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Next button inactive on inventory promt. Can't run job.

##### ENVIRONMENT
* AWX version: 1.0.6.5
* AWX install method: docker on linux
* Ansible version:  2.52
* Operating System: Mac OS 10.13.4
* Web Browser: Chrome 66.0.3359.139

##### STEPS TO REPRODUCE
Portal mode -> Run job (with inventory promt) -> Check inventory ->

[2018-05-10 07:57] ghanIn-dev commented on #989
+1 Agree that having this only available as a container install is not useful to us.

[2018-05-10 08:40] Rohit-Uppal opened #1867 "ERROR while executing Demo Template after AWX installation on RHEL 7.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
ERROR when Demo Job Template is executed

##### ENVIRONMENT
* AWX version: Latest
* AWX install method: Docker
* Ansible version:  2.5.2
* Operating System: RHEL 7.4
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Install AWX on RHEL 7.4 using Docker.
2. Run Demo Job Template which is a helloworld.yml

Screen shot attach

[2018-05-10 09:49] agentili opened #1868 "Users permissions discarderd when "SCM project" get latest version"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Teams and users permissions in a "SCM type" project are removed when get latest SCM version

##### ENVIRONMENT
* AWX version: 1.0.6.5
* AWX install method: docker-compose on linux
* Ansible version:  2.5.2
* Operating System: Ubuntu 16.04
* Web Browser: Chrome

##### STEPS TO REPRODUCE

- Add project with SCM source
- Creat

[2018-05-10 12:47] macklj commented on #989
+1 For removing container only installation method.

Your guidelines regarding support clearly indemnify you of dealing with all the support requests that will surely follow if you open awx up to installation outside of containers.  The opposite consideration would be for allowing slightly more customization prior to running the installation script.  Any thoughts on that?

[2018-05-10 14:17] ryanpetrello commented on #1867
@Rohit-Uppal this is a bug in Ansible 2.5.1 and 2.5.2 itself:

https://github.com/ansible/ansible/issues/39007

[2018-05-10 14:17] #1867 closed, assigned to nobody

[2018-05-10 14:23] anasypany commented on #1861
@cstuart1 Can you paste your ngxinx proxy config? (with censored environment details of course)

[2018-05-10 14:26] ryanpetrello commented on #760
@sujiar37 Apologies - we still haven't implemented this yet.

[2018-05-10 14:38] wenottingham commented on #1865
It's based off the job status, so... no. We can work to have it include more of the job summary that would let you deduce it.

See #79.

[2018-05-10 14:38] #1865 closed, assigned to nobody

[2018-05-10 14:42] cstuart1 commented on #1861
@Borrelworst
The solution here is to add in a block for the websocket in your Nginx config

 location /websocket {
        proxy_pass http://x.x.x.x:80;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
  }

@anasypany this is probably what you were going to suggest/inquire about?

[2018-05-10 14:46] runtman commented on #1865
Perfect, thanks!

[2018-05-10 15:48] howels commented on #1763
This appears to have indeed been caused by 556e6c4 which removed netaddr along with many other packages relating to Azure, OpenStack etc.
Whilst this may have saved space, the inability to build Kubernetes is a concern.

Please can this be reverted? Happy to do a commit but want to understand the reasoning that caused this change in the first place.

[2018-05-10 16:11] anasypany commented on #1861
@cstuart1 I was able to get the job details pages working again with this simple nginx proxy config once awx_web was bound to 127.0.0.1:

location / {
    proxy_pass http://127.0.0.1:xxxx; (xxxx = 80 in your case)
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_h

[2018-05-10 16:25] cstuart1 commented on #1861
Yes, that resolved the issue for me.
I had already added HTTP_X_FORWARDED_FOR to AWX as I'm using SAML for auth.

For someone else reading this thread and trying to setup SAML.
I also had to alter /etc/tower/settings.py (task and web) to have the following:
USE_X_FORWARDED_PORT = True
USE_X_FORWARDED_HOST = True

and restart tower after making the setting change.
This is mentioned in the tower doc

[2018-05-10 17:06] sujiar37 commented on #760
Thanks @ryanpetrello for your response  . May I ask from what version we could expect to run job tasks through isolated nodes ? This is really an important feature looking for past couple of months and of course, it surely helps to distribute tasks over different regions as well .

[2018-05-10 17:52] ryanpetrello commented on #760
Hey @sujiar37,

Unfortunately, I don't have an ETA for when this feature will land in awx.

[2018-05-10 19:34] roman8422 commented on #223
@runtman
Using your example, I think following should work:

create elk group in inventory
[code]
and add one more per environment hierarchy level in group_vars
[code]
If  you have for example zabbix_servers group in multiple environments it may be a problem.
I have environments encoded in host and group names so this approach works for me.

[2018-05-10 19:37] cstuart1 commented on #465
@srinivasakp
Thanks for posting a resolution, this resolved my issue with galaxy roles as well.

[2018-05-10 21:21] kvmkrishna9 commented on #1559
Any updates on this even I am facing the same issue

[2018-05-10 22:55] seafoodbuffet opened #1869 "AWX left in an endless loop after upgrading"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
After upgrading to the latest AWX (1.0.6 docker images), the system seems stuck in an endless loop and the UI continuously spins and says AWX is upgrading. We see this error in the postgres container:
[code]

and we see the following in the task container

[code]
##### ENVIRONMENT
* AWX version: 1.0.6
* AWX install me

[2018-05-10 23:01] seafoodbuffet commented on #1869
On further inspection, I suspect that I'm running into #1817 I'm going to close my issue and try to go back to 1.0.5

[2018-05-10 23:01] #1869 closed, assigned to nobody

[2018-05-11 07:37] Borrelworst commented on #1861
@cstuart1: That indeed solved the issue. I have not set the awx_web to bound explicitly to 127.0.0.1 and apparently that is not needed. The only issue I still see is that when I go to my custom inventory scripts and click on schudule inventory syncs, I will just see the cog wheel, but nothing happens. This is also described in #1850.

[2018-05-11 12:12] marawu commented on #1827
Hi, sorry, i noob. I faced the same problem, how to fix it?

**ENVIROMENT**:
- Ansible 2.5.2
- CentOS 7 + Docker
- AWX 1.0.6.5

[2018-05-11 14:36] ewortzman opened #1870 "Jobs in progress cannot be cancelled and never complete"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Jobs in progress cannot be cancelled and never complete

##### ENVIRONMENT
* AWX version: 1.0.6.5
* AWX install method: docker on linux
* Ansible version:  2.5.2
* Operating System: CentOS 7
* Web Browser: Chrome on Windows 7

##### STEPS TO REPRODUCE

1. create a project, add credentials, and create a job template
2. atte

[2018-05-11 16:43] kvmkrishna9 commented on #1827
Hi guys even I am facing the same problem

[2018-05-11 16:44] kvmkrishna9 commented on #1827
I am using docker as well, facing same issue, could you please provide the solution for this,,,

[2018-05-11 17:03] michaelrcarroll commented on #1866
I'm seeing this too.

In a pinch, you can remove the disabled property from the button in an inspection console and continue to spawn the job, but this is a hack.

[2018-05-11 18:38] watsonb commented on #223
@AlanCoding given your above comment regarding https://github.com/ansible/ansible/pull/38759, what do you think a timeline for this would be?  Is this Ansible 2.6 timeframe + time for AWX integration?  Are we talking several months?  Just trying to get an idea is all.

[2018-05-11 18:43] AlanCoding commented on #223
ansible/ansible#38759 is actually almost 100% of the way to having it there independently. At first I thought that PR was just going to cover the JSON decoder / encoder for purposes of playbook runs. But then it was updated to carry those things through in `ansible-inventory`.

Really, the only thing I know that's left is testing against the matrix I mentioned in https://github.com/ansible/ansible

[2018-05-11 19:06] AlanCoding commented on #223
Yeah, this is finished. The test I had:

https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/vault/single_var_file

Corresponding command:

[code]

This will actually not decrypt whether you give it the secrets or not. That detail of the implementation never mattered one way or the other. So, testing it in AWX:

![screen shot 2018-05-11 at 2 58 44 pm](https://user-images.gith

[2018-05-11 19:33] watsonb commented on #223
@AlanCoding great to hear.  Mind telling me how I'd do that in my AWX docker-based install?  I'm familiar with getting "into" the running containers.  I assume I'd have to connect to the awx_task container.  How do I get AWX to use/recognize the devel version of Ansible?

[2018-05-11 19:36] AlanCoding commented on #223
To install Ansible core from source.

[code]

I think that your Dockerfile is in

https://github.com/ansible/awx/blob/e2deab485e7f5ed048d8cf52d66094aab50156f4/installer/roles/image_build/templates/Dockerfile.j2#L35

That does `yum -y install ansible`, you would have to replace this with the pip install, and then build new images. Of course, then you would need to use those images when you run it.

[2018-05-11 19:41] watsonb commented on #223
I think I'll try activating the existing venv on the task container and running the pip install command to install from source.  I really just want to preview the functionality before I go down the image building rabbit hole.

[2018-05-11 19:48] watsonb commented on #223
Interesting, it did work for the case of a *.yml with mixed plain-text and vaulted vars (e.g. ansible-vault encrypt_string), but did not work when an entire file was vaulted (e.g. ansible-vault create).

[2018-05-11 19:51] AlanCoding commented on #223
Yes, that's expected. Further up in this conversation the per-variable encryption vs file encryption was discussed. We can't support the file encryption via this mechanism, because we can't store them in the host / group / inventory variables, because we don't know what keys might be specified.

[2018-05-11 19:54] watsonb commented on #223
Understood.  This is a great improvement none-the-less.  Shouldn't be too terribly difficult for us to switch from file-based to per-variable.

[2018-05-13 12:02] abatista75 opened #1871 "Strange error without failure with sudo"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When running a playbook, AWS displays the following at the beginning (with debug enabled):

[code]

The line 11 shows an error in red, but it is not blocking, as AWX executes the rest of the playbook without any issue.

##### ENVIRONMENT
* AWX version: 2.5.2
* AWX install method: docker on linux
* Ansible version:  1.0.6.5
*

[2018-05-13 16:35] cben commented on #1485
Ignorant bystander question: could https://github.com/ansible/ansible-runner fulfill this role?

[2018-05-13 22:08] wenottingham commented on #1871
Ansible bug, will be fixed in 2.5.3.

https://github.com/ansible/ansible/issues/39007

[2018-05-13 22:08] #1871 closed, assigned to nobody

[2018-05-14 01:00] derek-miller commented on #1559
Same here. This used to work for me but appears to have been broken in a recent release. I have my requirements.yml in my roles/ folder too.

[2018-05-14 09:05] cpatry-poly commented on #1868
Hi !
We had the same issue, so we rollback to version 1.0.5.

[2018-05-14 09:06] cpatry-poly commented on #1866
Duplicate of https://github.com/ansible/awx/issues/1824 :-) .

[2018-05-14 09:08] cpatry-poly commented on #1860
Duplicate of https://github.com/ansible/awx/issues/1824 :-) .

[2018-05-14 11:29] cben commented on #1549
Hi.  I'm trying to understand the landscape here...
It sounds like current practice and proposed directions to support HTTPS are all adding an additional proxy in front — haproxy / traefik / an additional nginx?
But IIUC, awx_web image is already running an nginx inside, right?  Isn't it possible to modify [its config](https://github.com/ansible/awx/blob/devel/installer/roles/image_build/files/ngi

[2018-05-14 13:31] glenpekarcsik opened #1872 "adding new machine credential is missing username/password/ssh key info"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When trying to create a machine credential in the UI, the username, password, and ssh keys boxes are not shown.

##### ENVIRONMENT
* AWX version: 1.0.5.32
* AWX install method: openshift
* Ansible version:  2.5.1
* Operating System:
* Web Browser: Chrome

##### STEPS TO REPRODUCE
- create a new credential
- select machine a

[2018-05-14 13:55] cesan3 opened #1873 "AWX running on Kubernetes is unable to handle instances capacity when running many jobs simultaniously."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
We schedule a run of a playbook on all our inventories. We expect the instances handle the load correctly, but we see weird behaviours when playbooks are run against big inventories.

##### ENVIRONMENT
* AWX version: 1.0.6.5
* AWX install method: kubernetes
* Ansible version:  2.5.2
* Operating System: Linux
* Web Bro

[2018-05-14 14:48] ryanpetrello commented on #1755
@Arlion this should be resolved via https://github.com/ansible/awx/commit/0f046338ac2cee46c00d4545c50e705b111ea340 in awx 1.0.6

If you're still encountering this issue in the latest version of Tower, please re-open this ticket and we'll take another look.

[2018-05-14 14:48] #1755 closed, assigned to nobody

[2018-05-14 15:47] AlanCoding commented on #1858
Issue transferred to the tower-cli issue queue.

Thanks!

[2018-05-14 15:47] #1858 closed, assigned to nobody

[2018-05-14 15:47] jaevans commented on #1860
I see that #1824 is closed (which is why I missed it) but the code hasn't been merged yet. @jakemcdermott, you closed the other issue, but without the merge, we're still considering this a show-stopper for our usage of 1.0.6, and we can't go back to 1.0.5 because of other issues. Iis there a plan for merging the code in the near future?

[2018-05-14 15:50] ewortzman opened #1874 "Improve local logging from AWX"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

All

##### SUMMARY

Improve local logging.

##### ADDITIONAL INFORMATION

Currently, AWX doesn't seem to produce any useful local log files.  There are a number of options for log aggregators, but all (obviously) require setting up an external system to gather the logs.  It would be nice if AWX produced local log files that can be viewed wit

[2018-05-14 17:38] mabashian opened #1875 "Scroll user to the top of active list after search param change"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Whenever a state transition completes the user is scrolled back up to the top of the page _with the exception of a search param change_ (search, page, page size, etc).  When the user performs a search, changes the page, or changes the page size they are not scrolled back up to the top of the page for fear that the list its

[2018-05-14 20:49] earchibald-lv commented on #1672
@ryanpetrello - Hey, this 'fix' is not functional in my build of 1.0.6.0. Still throwing the error any my workflow is unusable. Any ideas?

[2018-05-14 22:13] earchibald-lv commented on #1672
Every single thing documented above is still occurring under 1.0.6.0.

[2018-05-14 22:14] earchibald-lv commented on #1672
@guilhemmarchand, @shakirabanu , @amapi, @steefenh, @aviam --- are you still running into this?

[2018-05-14 22:56] earchibald-lv opened #1877 "Cannot save LDAP Group Type"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Attempting to change and save the LDAP Group Type (for instance, to PosixGroupType) is a no-op. A 'saving' graphic pops up, but no activity takes place in the AWX log and behind the scenes the PATCH request receives a 400.

All other fields appear to save normally, but in order to make my LDAP logins function I must go ma

[2018-05-14 23:22] gomker commented on #1559
Using `AWX 1.0.5.32 ` I am seeing the same issue. The `requirements.yml` is in the `roles` directory. Seeing the following in the SCM update run by the playbook

     TASK [detect requirements.yml] *************************************************
     skipping: [localhost]

Update :

I realized after checking with

		- name: run ansible galaxy
		  hosts: localhost
		  tasks:
			- command : ansibl

[2018-05-15 03:59] aviam commented on #1672
Yes

[2018-05-15 08:02] stefan-wegener commented on #1872
Using AWX 1.0.6.5 with Ansible 2.5.2 I can not reproduce this error. Maybe you can upgrade your instance to a newer version and try it again?
Hint/Warning: When upgrading from 1.0.5 to 1.0.6 you need to backup your data!

[2018-05-15 09:50] stefan-wegener commented on #1870
I am using the same version. I have no issues while starting jobs, but cancelling currently running jobs is also not possible for me.

[2018-05-15 12:09] glenpekarcsik commented on #1872
I've tried 1.0.6 last week and ran into an issue with LDAP.  I was unable to login to AWX using LDAP.  I was receiving the following error:

[pid: 34|app: 0|req: 60/160] 10.1.17.1 () {50 vars in 2301 bytes} [Tue May  8 15:49:01 2018] GET /api/login/ => generated 5676 bytes in 61 msecs (HTTP/1.1 200) 8 headers in 360 bytes (1 switches on core 0)
2018-05-08 15:49:01,384 WARNING  awx.conf.settings Th

[2018-05-15 12:16] bf-ckiendl commented on #1855
Same here. Fresh install. Lost the entire page of settings despite saving a dozen times.
Turns out it quietly whines about

in the background.

Unsuccessful attempts to save should trigger a very obvious error message.
And the default input of fields should not be invalid.

[2018-05-15 13:26] AlanCoding commented on #1874
There are a couple of topics here, so let me triage a little:

Yes, I have intention to do just this! We are making several changes to the external logger setup, and as a part of this, we hope to have more clear customization of the handler setup. One thing I want to get out of this is to allow users to define their own custom handler inside of their file settings. With that, it will become trivia

[2018-05-15 14:00] madeinoz67 commented on #1770
this appears to be working in v1.0.6.5 so will close

[2018-05-15 14:00] #1770 closed, assigned to nobody

[2018-05-15 15:12] wenottingham commented on #1548
Sorry about the delay - sure, a PR would be fine.

[2018-05-15 15:13] mabashian commented on #1672
@earchibald-lv following your steps I'm not able to reproduce the bug.  If possible, can you include a screenshot of the browser's console?  There should a javascript error in there that may help me understand what the issue is.

[2018-05-15 15:16] wenottingham commented on #1791
Is this still happening with 1.0.6?

[2018-05-15 15:21] wenottingham commented on #1806
Closing as a dup of #1576

[2018-05-15 15:21] #1806 closed, assigned to nobody

[2018-05-15 15:22] wenottingham commented on #1808
This could be adjusted in tasks.py where these variables are passed.

[2018-05-15 15:26] wenottingham commented on #1818
This can be done by sending a PR that adjusts requirements_ansible.in

[2018-05-15 15:29] wenottingham commented on #1822
That's not how this works - the project data dir you pass at container instantiation is mounted as a volume at /var/lib/awx/projects inside the container.

[2018-05-15 15:29] #1822 closed, assigned to nobody

[2018-05-15 15:31] wenottingham commented on #1825
flagging as a duplicate of #138

[2018-05-15 15:31] #1825 closed, assigned to nobody

[2018-05-15 15:31] wenottingham commented on #1829
What's the specific PG container image/hash you're looking at?

[2018-05-15 15:33] wenottingham commented on #1843
The image for a particular version uses what is current as of the time it was built; we are not updating it for new ansible versions as they come out.

[2018-05-15 15:33] #1843 closed, assigned to nobody

[2018-05-15 15:33] wenottingham commented on #1847
Please try with 1.0.6+.

[2018-05-15 15:34] wenottingham commented on #1852
Are the failure webhooks not firing on cancellation?

[2018-05-15 15:37] wenottingham commented on #1862
covered here: https://github.com/ansible/awx/issues/284

[2018-05-15 15:37] #1862 closed, assigned to nobody

[2018-05-15 15:38] wenottingham commented on #1863
What version is this?

[2018-05-15 15:40] wenottingham commented on #1864
Code is all at https://github.com/ansible/awx/ - see `awx/ui/po` and `awx/locale/<locale>/LC_MESSAGES/django.po`.

[2018-05-15 15:40] #1866 closed, assigned to nobody

[2018-05-15 15:42] wenottingham commented on #1872
Closing this as fixed in 1.0.6 - we are not seeing this here in the current version.

[2018-05-15 15:42] #1872 closed, assigned to nobody

[2018-05-15 15:43] wenottingham commented on #1877
closing as a duplicate of https://github.com/ansible/awx/issues/1855

[2018-05-15 15:43] #1877 closed, assigned to nobody

[2018-05-15 15:46] wenottingham opened #1879 "Add a section on contributing translations to CONTRIBUTING.md"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
- none of the above

##### SUMMARY

The contributing docs should explain how to contribute translations.

##### ENVIRONMENT
* AWX version: current

##### STEPS TO REPRODUCE

1. see https://github.com/ansible/awx/issues/1864
2. note we don't document this

##### ADDITIONAL INFORMATION

[2018-05-15 16:04] ghost commented on #1474
We are waiting for this feature to be implemented as well for our environment, it works great for us in Ansible Core. I've seen a few people mention that they haved worked around this temporarily by adding an SSH config to the root user in the task container for the ProxyCommand, I'm in the process of testing this out.

[2018-05-15 16:44] iyurev commented on #1791
I don't tried upgrade to 1.0.6... You faced a similar issue???!

[2018-05-15 16:47] ghost commented on #760
Hi @ryanpetrello, so is our current best solution to use an SSH jumphost/bastion for managing remote servers? Is the only way to do this is by editing the root user's ssh config in the task container like this guy did? Is it also correct we can't use group_vars in AWX yet like we can in Ansible core for SSH proxying? I followed the Tower documentation for the SSH Proxy inventory variables but it d

[2018-05-15 16:48] akcrisp commented on #1829
Will check tomorrow

Sent from my iPhone

[2018-05-15 16:52] wenottingham commented on #1856
Likely a duplicate of https://github.com/ansible/awx/issues/1868

[2018-05-15 17:04] greenscar commented on #1494
Fresh install. 1.0.5
My user is an administrator to everything I can find.

I tried @ericrochow 's recommendation
My task log is full of
[code]

as soon as I attempt to update my dynamic inventory, I see
[code]
 in logs
Meanwhile, dynamic inventory update hangs. I see no logs

I setup a project doing an actual checkout from a git repo & it works fine.

If I log out & login as *admin* user, it work

[2018-05-15 17:20] ghost opened #1881 "Add secure flag to session cookie to require that it be sent only over secure connection"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
The session token cookie can currently be sent by a browser over an unencrypted connection, potentially exposing the token to a third party.

##### ENVIRONMENT
* AWX version: 1.0.6

##### STEPS TO REPRODUCE

Setting a flag on the cookie to require that it be sent by the browser only over a secure connection can mitigate t

[2018-05-15 17:22] wenottingham commented on #1494
@greenscar that error would be https://github.com/ansible/awx/issues/1720

[2018-05-15 17:44] wenottingham commented on #1827
Just merged a fix for this, it should show up in subsequent builds. (See #1878 for details).

[2018-05-15 17:44] #1827 closed, assigned to nobody

[2018-05-15 18:22] wenottingham commented on #1863
We would not change to the 'desired output'... if you want something like that, parse the events yourself.

But there shouldn't be HTML in the output - that's a bug.

[2018-05-15 18:49] greenscar commented on #1494
@wenottingham I thought so too so deleted / did a fresh install & had same problem.

Turns out, this is a permission error of some sort.

If I create a new dynamic inventory job as a user with admin privs but not the admin user itself, I cannot execute this dynamic inventory script to populate. I get the above errors. However, if I login as admin then execute the update then logout and log in as t

[2018-05-15 19:39] glenpekarcsik opened #1883 "LDAP Configuration Error - Invalid key(s): "member_attr""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
 - API

##### SUMMARY
When trying to configure LDAP, I get the following error:

HTTP 400 Bad Request
Allow: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept
X-API-Node: awx-1-fgf4g
X-API-Time: 0.057s

{
    "AUTH_LDAP_GROUP_TYPE_PARAMS": [
        "Invalid key(s): \"member_attr\"."
    ]
}

As a result of

[2018-05-15 22:34] wenottingham commented on #1883
Believe this is a duplicate of #1877 and #1855

[2018-05-16 02:03] apple4ever commented on #1299
@matburt sorry I totally missed your questions:

No and yes. I can `psql` to it from the container itself.

I didn't find any relevant ones.

```Linux awx 4.13.0-41-generic #46~16.04.1-Ubuntu SMP Thu May 3 10:06:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux```

[2018-05-16 02:05] apple4ever commented on #1299
So I dug into this morning after having some time to look at it.

It seems to be the docker network failing to forward packets. I can ping to the containers from the host just fine, but when I try to `ping` between containers it fails. I've also tried `curl` to the web interface and `psql` to the postgres containers from other containers with no luck.

A simple reboot brings the network up. For me

[2018-05-16 02:49] matburt commented on #1847
This is typically an issue with openshift on some level. Please examine you cluster logs

[2018-05-16 04:36] pearj commented on #1540
@ryanpetrello will this fix make its way into ansible tower anytime soon? I just bumped into this the other day.

[2018-05-16 05:00] ryanpetrello commented on #1540
@pearj yep, this change will be present in a future release of Ansible Tower.

[2018-05-16 06:23] smossber commented on #1808
Thanks for pointing out the file!
I see now that only satellite6_group_patterns and satellite6_group_prefix  is looked for, and that it's added to the [ansible] section when picked up.
So my previous comment is a bit off!

Guess it's just a matter of adding another key in https://github.com/ansible/awx/blob/0bbc08e5878d41304c4cb6576f1b8d0608658c0c/awx/main/tasks.py#L1853-L1859

I could give that a

[2018-05-16 06:27] smossber commented on #1808
Btw, any reason why the keys are named with the satellite6_* prefix?
Not very intuitive as the foreman.ini doesn't use it?
Doesn't look like the inventories looks for prefixes either.

[2018-05-16 08:57] trogeat commented on #1824
same same, can i try the patch ?

[2018-05-16 08:59] jpaulovic commented on #1863
version: Ansible Tower 3.2.2

wrt the "desired output", that's more of an RFE than a bug. The currently provided output doesn't provide any added value (considering it also contains the HTML bug) in comparison with using a call to <tower_url>/api/v2/jobs/123/stdout?format=txt_download
as the json is _technically_ valid, but virtually unusable (and harder to parse than the raw text output).

[2018-05-16 13:22] barkardk opened #1885 "Cannot import inventory in awx via ui but have no issues importing when trying to recreate problem in container"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
AWX 1.0.6.5  on kubernetes I cannot use custom inventory scripts via AWX ui that use the ansible.inventory.manager api
I have no issues using the script via cmd from within the awx-celery pod or
if I upload custom scripts llike mababio/test.py from here http://www.pythonexample.com/code/ansible-dynamic-inventory-hostv

[2018-05-16 14:18] ryanpetrello commented on #1863
@jpaulovic I'll echo what @wenottingham said; the embedded HTML _is_ a bug we intend to fix in the near future, but we're not likely to do much here beyond that.

The JSON format _does_ return line start and ending numbers in addition to the `content`, but you're right in saying that there's not additional event metadata that's returned in the JSON format - it's _mostly_ just the same stdout you g

[2018-05-16 16:10] smalenfant commented on #1299
I believe the problem is the volume mount for `/var/lib/postgresql/data`. This is mounted from /tmp and OS cleans up that directory for untouched files.. Probably a bad idea. It will go bad every X days.

Change your inventory to something outside of /tmp...

`inventory:postgres_data_dir=/tmp/pgdocker`

Docker inspect:

[code]

[2018-05-16 16:12] apple4ever commented on #1299
Yes I already do that, and this problem still occurs.

[code]

[2018-05-16 16:13] smalenfant commented on #1299
I've lost everything I've done looks like... Let's start again. I'll see if changing the directory will work or not. But apparently same thing happened even without using /tmp for you.

[code]

[2018-05-16 20:09] aoyawale commented on #1879
interested in this for esp. Some of the wording in awx/ui/po and https://github.com/ansible/awx/blob/devel/awx/locale/es will need to be changed or discussed further.

[2018-05-16 21:08] jamesmarshall24 opened #1886 "[RFE] Automatically redirect to External Auth Provider Option"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Implement the ability to automatically redirect users to a specified external authentication provider when accessing the Tower login page rather than selecting a specific provider.

##### ADDITIONAL INFORMATION

This would be for auth providers such as SAML which require a third party authentication method outside of AW

[2018-05-16 21:55] wenottingham commented on #1886
This would only work iff:
a) there is a single external authentication source
b) there are no local users at all

I'm not sure how complex those queries are to do.

[2018-05-17 00:07] nmpacheco commented on #1861
I am also experiencing problems with job details. I deployed a stack with postgres, rabbitmq, memcache, awx_web and awx_task in a swarm (ansible role to check variables, create dirs, instantiating a docker-compose template, deploy and so on). I am using vfarcic docker-flow to provide access to all the services in the swarm and to automatically detect changes in the configuration and reflect those

[2018-05-17 08:53] ewerk-pnahratow commented on #1836
~Confirming the same problem with 1.0.6.7~ (Not so sure anymore, I realized i had browser cache issues when I was testIng all the versions)

[2018-05-17 12:19] megakoresh commented on #703
This would be extremely useful feature to have, and it also improves consistency with the other fields.

[2018-05-17 13:47] wenottingham commented on #1856
Closing as duplicate.

[2018-05-17 13:47] #1856 closed, assigned to nobody

[2018-05-17 13:49] ryanpetrello commented on #1840
@cesan3 do you have an example of such a task?

[2018-05-17 14:39] ryanpetrello commented on #1840
I'm having trouble reproducing this:

[code]

I ran this playbook, and it timed out:

[code]

![screen shot 2018-05-17 at 10 38 21 am](https://user-images.githubusercontent.com/214912/40184497-7162a2e6-59be-11e8-8cd8-6751c1a32114.png)

[2018-05-17 15:59] AlanCoding commented on #1885
So Ansible core doesn't yet give us an option to modify the verbosity running `ansible-inventory` that won't potentially interfere with the loading of the JSON content they give, so we don't have any automatic way for you to toggle the verbosity of the `ansible-inventory` command. To do that, I added `-vvvv` to the arg list in code manually. This reveals the true error, which I was able to get rep

[2018-05-17 16:12] AlanCoding commented on #1885
Confirmed that I can fix it by adding

[code]

After the imports in your script (you can't directly set the env var, because of the way that Ansible loads its config vars).

But in general, there's no guarantee that Ansible, itself, will be written in a way that this approach can work, so I don't imagine any kind of true support for this approach.

[2018-05-17 16:21] mprasil commented on #1855
I can confirm that @zhangtiny123's workaround with changing the field `LDAP GROUP TYPE PARAMETERS` to `{}` works in 1.0.6.7

[2018-05-17 19:07] wenottingham commented on #1025
... turns out this was lastpass

[2018-05-17 19:07] #1025 closed, assigned to nobody

[2018-05-17 20:13] ghost opened #1887 "Add support for certificate authentication for PostgreSQL client connection"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Add support for client certificate-based authentication to the PostgreSQL service

##### ENVIRONMENT
* Tower 3.2.5

##### STEPS TO REPRODUCE

This would add flexibility to the configuration of the connection, and would allow the storage of a plaintext password on the client side to be avoided.

[2018-05-17 20:14] jaredevantabor commented on #1850
this is fixed in devel now.

[2018-05-17 20:18] #1850 closed, assigned to jaredevantabor

[2018-05-17 20:22] jaredevantabor commented on #829
this is fixed now in devel

[2018-05-17 20:22] #829 closed, assigned to jaredevantabor

[2018-05-17 20:23] jaredevantabor commented on #446
this is fixed in devel now

[2018-05-17 20:23] #446 closed, assigned to jaredevantabor

[2018-05-17 20:24] #320 closed, assigned to jaredevantabor

[2018-05-17 20:24] jaredevantabor commented on #320
fixed in devel now

[2018-05-17 20:25] jaredevantabor commented on #926
this is done for devices. at the time of writing this comment, groups haven't been added back into the network UI.

[2018-05-17 20:25] wenottingham commented on #1887
-> #709

[2018-05-17 20:25] #1887 closed, assigned to nobody

[2018-05-17 20:26] jaredevantabor commented on #1836
this is fixed in devel now

[2018-05-17 20:26] #1836 closed, assigned to nobody

[2018-05-17 20:27] jaredevantabor commented on #960
this is fixed in devel now

[2018-05-17 20:27] #960 closed, assigned to jlmitch5

[2018-05-17 20:29] jaredevantabor commented on #793
@jlmitch5 is this still in progress?

[2018-05-17 20:30] jaredevantabor commented on #590
this is fixed in devel.

[2018-05-17 20:30] #590 closed, assigned to jlmitch5

[2018-05-17 20:34] jaredevantabor commented on #1556
There were some bugs that were fixed related to the websockets that recently landed in devel. Would you mind retesting  with the latest devel? @seafoodbuffet

[2018-05-17 20:36] jaredevantabor commented on #1399
this has been fixed in devel.

[2018-05-17 20:36] #1399 closed, assigned to nobody

[2018-05-17 20:36] jaredevantabor commented on #1312
this is fixed in devel

[2018-05-17 20:36] #1312 closed, assigned to nobody

[2018-05-17 20:37] jaredevantabor commented on #1396
this is fixed in devel

[2018-05-17 20:37] #1396 closed, assigned to nobody

[2018-05-17 20:39] jaredevantabor commented on #1310
I believe this is working now in devel. If you're still experiencing this issue after pulling in the latest changes in devel, please let us know @lobosm

[2018-05-17 20:39] #1310 closed, assigned to nobody

[2018-05-17 20:39] #1556 closed, assigned to nobody

[2018-05-17 20:41] jaredevantabor commented on #1110
this is fixed in devel now

[2018-05-17 20:41] #1110 closed, assigned to nobody

[2018-05-17 20:42] jaredevantabor commented on #1881
this will get fixed elsewhere

[2018-05-17 20:42] #1881 closed, assigned to nobody

[2018-05-17 20:43] jaredevantabor commented on #936
this is fixed in devel now

[2018-05-17 20:43] #936 closed, assigned to nobody

[2018-05-17 20:44] ryanpetrello commented on #1720
Hey everybody, we've just merged in some changes that we think will resolve this issue:

https://github.com/ansible/awx/commit/ac20aa954ad9471d2b67a9c55c7e85f3f47c540a

Mind giving the latest awx a try?

[2018-05-17 20:45] jaredevantabor commented on #530
this is fixed in devel now

[2018-05-17 20:45] #530 closed, assigned to nobody

[2018-05-17 20:46] jaredevantabor commented on #369
this is fixed in devel now.

[2018-05-17 20:46] #369 closed, assigned to nobody

[2018-05-17 20:47] ryanpetrello commented on #1863
Closing via https://github.com/ansible/awx/commit/53ef9ed28895d04e9cc96fb801001ef335ef94fe

[2018-05-17 20:47] #1863 closed, assigned to ryanpetrello

[2018-05-17 20:49] jaredevantabor commented on #688
This is fixed in devel now.

[2018-05-17 20:49] #688 closed, assigned to nobody

[2018-05-17 20:50] jaredevantabor commented on #1480
This is fixed now in devel.

[2018-05-17 20:50] #1480 closed, assigned to nobody

[2018-05-17 20:52] jaredevantabor commented on #1841
This is fixed in devel now.

[2018-05-17 20:52] #1841 closed, assigned to nobody

[2018-05-17 20:54] jaredevantabor commented on #1837
this is fixed in devel

[2018-05-17 20:54] #1837 closed, assigned to nobody

[2018-05-17 21:24] jaredevantabor commented on #1860
The code has been merged into devel and this should be fixed now.

[2018-05-17 21:24] #1860 closed, assigned to nobody

[2018-05-17 21:27] jaredevantabor commented on #1739
this is fixed now in devel

[2018-05-17 21:27] #1739 closed, assigned to nobody

[2018-05-17 21:29] jaredevantabor commented on #1592
This appears to have been fixed.

[2018-05-17 21:29] #1592 closed, assigned to nobody

[2018-05-17 21:31] jaredevantabor commented on #1614
this is fixed now in devel

[2018-05-17 21:31] #1614 closed, assigned to nobody

[2018-05-17 21:33] jaredevantabor commented on #1503
this is fixed now in devel

[2018-05-17 21:33] #1503 closed, assigned to nobody

[2018-05-17 21:35] jaredevantabor commented on #1537
this is fixed now in devel

[2018-05-17 21:35] #1537 closed, assigned to nobody

[2018-05-17 21:37] jaredevantabor commented on #1550
this is fixed now in devel

[2018-05-17 21:37] #1550 closed, assigned to nobody

[2018-05-17 21:38] jaredevantabor commented on #1501
this is fixed now in devel

[2018-05-17 21:38] #1501 closed, assigned to marshmalien

[2018-05-17 21:39] jaredevantabor commented on #1484
this is fixed now in devel

[2018-05-17 21:39] #1484 closed, assigned to nobody

[2018-05-17 21:40] jaredevantabor commented on #1430
this is fixed now in devel

[2018-05-17 21:40] #1430 closed, assigned to nobody

[2018-05-17 21:44] jaredevantabor commented on #1333
Can this be moved to testing? @rooftopcellist

[2018-05-17 21:44] jaredevantabor commented on #1331
This is fixed in devel.

[2018-05-17 21:44] #1331 closed, assigned to nobody

[2018-05-17 21:45] jaredevantabor commented on #1324
A fix for this has landed in devel.

[2018-05-17 21:45] #1324 closed, assigned to marshmalien

[2018-05-17 21:46] jaredevantabor commented on #1296
This is fixed in devel.

[2018-05-17 21:46] #1296 closed, assigned to nobody

[2018-05-17 21:46] jaredevantabor commented on #1295
This is fixed in devel.

[2018-05-17 21:46] #1295 closed, assigned to nobody

[2018-05-17 21:47] jaredevantabor commented on #1278
This is fixed in devel.

[2018-05-17 21:47] #1278 closed, assigned to nobody

[2018-05-17 21:48] jaredevantabor commented on #1269
This is fixed in devel.

[2018-05-17 21:48] #1269 closed, assigned to nobody

[2018-05-17 21:48] jaredevantabor commented on #1250
This is fixed in devel.

[2018-05-17 21:48] #1250 closed, assigned to nobody

[2018-05-17 21:51] jmighion commented on #1873
Sounds similar to #701

[2018-05-17 21:53] jaredevantabor commented on #1032
This is fixed in devel.

[2018-05-17 21:53] #1032 closed, assigned to nobody

[2018-05-17 21:55] jaredevantabor commented on #1030
This is now resolved.

[2018-05-17 21:55] #1030 closed, assigned to nobody

[2018-05-17 21:56] jaredevantabor commented on #1027
This is fixed in devel.

[2018-05-17 21:56] #1027 closed, assigned to nobody

[2018-05-17 21:59] jaredevantabor commented on #939
This has been fixed. The host will default to the name set in the host form.

[2018-05-17 21:59] #939 closed, assigned to jaredevantabor

[2018-05-17 22:03] jaredevantabor commented on #704
This should be fixed now. Ping me if I need to reopen it.

[2018-05-17 22:03] #704 closed, assigned to nobody

[2018-05-17 22:05] jaredevantabor commented on #635
This has been fixed in devel.

[2018-05-17 22:05] #635 closed, assigned to nobody

[2018-05-17 22:18] jlmcknight commented on #1720
I have just tested with 1.0.6.8 and this does indeed seem to be fixed.  Thanks!

Tested against a logstash endpoint and a fluentd endpoint, no issues.

[2018-05-17 22:50] jaredevantabor commented on #558
This is fixed in devel now.

[2018-05-17 22:50] #558 closed, assigned to nobody

[2018-05-17 22:51] jaredevantabor commented on #548
This is fixed on devel

[2018-05-17 22:51] #548 closed, assigned to nobody

[2018-05-17 23:00] wenottingham commented on #1720
Thanks for the check! Closing.

[2018-05-17 23:00] #1720 closed, assigned to nobody

[2018-05-18 00:30] rmauc opened #1888 "RFE: Limit Job Template Execution"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
We would like to suggest that there is a feature to limit the number of times a job template can be launched within a particular time period - i.e set a maximum number of successful executions within 24 hours.
Right now the best we can achieve is to have retrospective events triggered if a threshold has been met,

[2018-05-18 00:59] doves99 opened #1889 "awx-manage utility"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - UI
 - Installer

##### SUMMARY

How do i enable or install the awx-manage utility?
##### ENVIRONMENT
* AWX version: 1.0.6.3
* AWX install method:  docker on linux,
* Ansible version:  2.5.2

* Operating System: RH
* Web Browser: Chrome on Windows

##### STEPS TO REPRODUCE

type awx-manage at the command line to use the utility

##### EXP

[2018-05-18 02:41] cesan3 commented on #1840
The task that failed in my case was a yum operation, on an EL6 server.

The blocking process was subscription-manager, so, yum, when loads the plugin and tries to connect to the subscription server hanged.

I had to bounce rhnsd and get rid of the certd.pid to ensure the process respond.

Why the timeout was not respected is unknown.

[2018-05-18 03:49] wenottingham commented on #1888
What's the reason to have such a limit - what are you trying to prevent?

[2018-05-18 07:34] barkardk commented on #1885
Hi
Excellent, thank you so much
I enabled the ini plugin as you suggested in my script and it worked wonderfully .

The reason I am not using SCM is because my company uses perforce helix and its not supported by ansible. So nfs mounting the ini files into the containers for the part of our inventory that is statically configured seemed  a viable workaround.

[code]

[code]

[2018-05-18 07:54] bain2236 commented on #1488
which server name to which hostname?

[2018-05-18 10:08] fungiboletus opened #1890 "Consider to not store postgres data in /tmp by default"
By default, the postgres data is stored in a temporary folder (`postgres_data_dir=/tmp/pgdocker` [here](https://github.com/ansible/awx/blob/devel/installer/inventory#L35)).

This is a bit confusing when you expect a default configuration to work (see #311). Maybe it could be made more explicit that the postgres_data_dir should be changed.

[2018-05-18 11:18] #1885 closed, assigned to nobody

[2018-05-18 12:47] AlanCoding commented on #1868
This is fixed in the current source tree now.

[2018-05-18 12:47] #1868 closed, assigned to AlanCoding

[2018-05-18 12:49] AlanCoding commented on #1371
fix is in

[2018-05-18 12:49] #1371 closed, assigned to nobody

[2018-05-18 12:49] AlanCoding commented on #1219
fix is in

[2018-05-18 12:49] #1219 closed, assigned to nobody

[2018-05-18 12:50] AlanCoding commented on #776
fix is in

[2018-05-18 12:50] #776 closed, assigned to nobody

[2018-05-18 12:53] AlanCoding commented on #672
fix is in

[2018-05-18 12:53] #672 closed, assigned to nobody

[2018-05-18 12:54] AlanCoding commented on #644
fix is in

[2018-05-18 12:54] #644 closed, assigned to nobody

[2018-05-18 12:55] rmauc commented on #1888
Use cases could be:
If a job runs an inordinate amount of times it may impact licensing.
Or damage limitation - e.g. a job has elevated rights e.g. in CyberArk - if it runs 50 times a day - that is manageable/containable - if it runs 3000 times it would be less so.
Cheers

[2018-05-18 13:10] ryanpetrello commented on #1889
Hey @doves99,

The awx issue tracker is for bug reporting and feature enhancement requests.  For questions and assistance using awx, please check out our mailing list (https://groups.google.com/d/forum/awx-project), or the IRC chatroom on Freenode (`#awx-devel`).

[2018-05-18 13:10] #1889 closed, assigned to nobody

[2018-05-18 14:53] AlanCoding commented on #208
Proposal:

 - Make fields writable on create only:
   - `playbook_files`
   - `scm_revision` (required if playbook files provided)
 - in model `.save()` method, if `self.pk` is `None` _and_ `self.scm_revision` is True-ish, then do not update
 - some other provisions may be necessary in the task code to accommodate a null `last_update` and other details

If you don't know the SCM revision, you don'