[2019-07-03 11:57] jakemcdermott commented on #4261
@pebbledavec thanks for creating this issue and pinpointing the line of code causing the bug.

I believe the code change you've proposed here should fix the bug you've identified - how do you feel about opening a PR to update that url string? You're almost there! We'd be happy to review it and merge it in.

[2019-07-03 14:27] rubenrodr-versia opened #4262 "Add logging options to docker compose with inventory settings."
Docker logs size grows until fs is full.
Enabling docker log rotation options on inventory during install to setup docker compose file
Example:
[code]
would avoid recreating containers after setup to enable logging options.

[2019-07-03 15:13] JRitterFB commented on #3072
Hello,

Our team also has a use case for this feature, as we're experiencing some issues with hitting Slacks webhooks URL from behind a firewall as part of the Slack notification feature within Tower. At a high level, Slack does a fair bit of load balancing and their IP range is non-static, making it difficult to configure firewall rules to allow for outside communication to their hooks URL. Setti

[2019-07-03 23:41] majerus1223 commented on #3684
Seeing the same thing

Could not login at all with 'admin' using https://github.com/geerlingguy/awx-container/blob/master/docker-compose.yml

Troubleshooting..

docker exec -it <container> /bin/bash execute the following commands.

[code]

Now i can login

[2019-07-04 06:46] cbutler65 opened #4266 "AWX 6.0.0 install"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Problems encountered during install and testing

##### ENVIRONMENT
* AWX version: 6.0.0
* AWX install method:  docker on linux,
* Ansible version:  X.Y.Z
* Operating System: RHEL 7
* Web Browser:Chrome Version 64.0.3282.186

##### STEPS TO REPRODUCE

Install 6.0.0

##### EXPECTED RESULTS

similar to 4.0.0

##### ACTUAL RESULTS

Password not set for gue

[2019-07-04 09:38] ryan012880 commented on #4253
Thanks guys for fixing, just tested the latest commit and it works!!

[2019-07-04 10:47] s10g opened #4267 "LDAP auth integration with self-signed certs broken in 6.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
LDAP authentication against an LDAP server with a self-signed certificate, no longer works. It works if I comment out new code introduced in https://github.com/ansible/awx/commit/11b36982cd83b5571e3376d85af64d57f52d68c0

##### ENVIRONMENT
* AWX version: 6.0.0
* AWX install method: docker on linux (docker-compose)
* Ansible version:  2.8.1
* Operating S

[2019-07-04 15:48] falcon78921 opened #4269 "Ability to add AWX Inventory name as a variable in playbook"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per a customer's request, they would like to query the name of the Inventory utilized as a variable and use that variable in a playbook.

[code]

[2019-07-04 23:36] sugitk opened #4270 "[RFE] Password Manager Pro for its credential vault"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

A customer wants to use `Password Manager Pro` for its credential vault.
https://www.manageengine.com/products/passwordmanagerpro/

[2019-07-05 05:01] itblaked commented on #1731
There's definitely plenty of benefits to enabling inheritence of job template fields from workflows, I'm keen on this. However I'd like to emphasise the benefit of being able to apply host limit at the workflow level so they can be inherited by child job templates and therefore creating a central management point across the workflow of many nodes. Much more sensible approach than other workarounds

[2019-07-05 05:29] itblaked commented on #1845
:+1:

Additional thoughts/feedback:

1. Recommend to always show it, perhaps with a mouse over tip that it has specific requirements and link to doc?
2. Sounds good, would be good to keep it consistent between WFJT and JT of course.
3/4. Agree, again referencing docs would be good as potentially complex requirements|feature. Also, to avoid errors/problems couldn't we force inheritence of inventory

[2019-07-05 08:13] chris-p-martin opened #4272 "azure_rm.py import does not work unless NSG is attached to a VM NIC"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Azure Dynamic Inventory import does not work if the VM does not have a Network Security Group assigned to the NIC

##### ENVIRONMENT
* AWX version: AWX 6.0.0.0
* AWX install method: docker on linux
* Ansible version:  Ansible 2.8.1
* Operating System: Ubuntu
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create Dynamic

[2019-07-05 08:28] chris-p-martin opened #4273 "Azure dynamic inventory does not honour hostvar_expressions setting"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Azure Dynamic inventory import does not honour configuration of hostvar_expressions setting in azure_rm.py

##### ENVIRONMENT
* AWX version: AWX 6.0.0.0
* AWX install method: docker on linux
* Ansible version:  Ansible 2.8.1
* Operating System: Ubuntu
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Change the ansible_hos

[2019-07-05 09:06] jomach commented on #3956
I had the same issue and it is port conflict.

[2019-07-05 09:32] tlx1 opened #4274 "Credentials via HashiCorp Vault Secret Lookup does not work with non-official certificates"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If you use a certificate signed by non-official CA (or self-signed) for your HashiCorp Vault installation, you cannot use the credential plugin "HashiCorp Vault Secret Lookup".
Adding the certificate to /etc/pki/ca-trust/ does not work, it still gets ignored.

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: kubernetes (official image from

[2019-07-05 10:03] lordraw77 commented on #4161
i just install AWX 6.0.0 and now Workflow templates fields are editable tnx

[2019-07-05 10:25] Sreenadh8 commented on #1731
+1....

We need this feature.. currently, the workflow which is created can not be used for other environments...each time we need to modify manually such as Limit, inventory, credentials though 'prompt on launch' enabled inside a job template... hope we will get an fix soon...

[2019-07-05 13:58] alancivita opened #4275 "Postgres data permissions are wrong on kubernetes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
the postgres pod fails to start as it complains about a wrong permission of the data directory. Permissions are set to 0770 instead of 0700.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: Kubernetes on Linux
* Ansible version:  X.Y.Z
* Operating System: Ubuntu Xenial
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

#####

[2019-07-05 14:20] ryanpetrello commented on #4267
@s10g Yep, I see what's up.  Thanks for reporting this with the *very* detailed description - I'll submit a PR.

[2019-07-05 14:22] ryanpetrello commented on #4267
@s10g any chance you could give this a try and see if it fixes things for you?

https://github.com/ansible/awx/pull/4276

[2019-07-05 14:29] ryanpetrello commented on #4274
@tlx1 yep, it looks to me like the Vault plugin doesn't have support for a `cacert` argument.  You have any interest in trying it out and opening a PR?

[2019-07-05 14:31] ryanpetrello commented on #4272
Looks like this might be related to https://github.com/ansible/ansible/issues/56030?

[2019-07-05 14:32] ryanpetrello commented on #4266
Hey @cbutler65,

We use this issue tracker for tracking enhancements and bugs to AWX.  If you need assistance troubleshooting an install or update, check out our mailing list or IRC room on free node:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-07-05 14:32] #4266 closed, assigned to nobody

[2019-07-05 15:28] ephracis commented on #3998
Would very much want this. I have a use case where we need to run AWX on a single host and having to deploy Kubernetes or OpenShift is really overkill. We want to move this from RHEL 7 to RHEL 8 but the lack of Docker means there is really now way to deploy AWX.

How would one even proceed to deploy this with Podman? As far as I can tell there is no way to make containers talk to each other unless

[2019-07-05 15:34] s10g commented on #4267
Next time I have my work laptop up I'll add the added code 'is not None' to the check in backends.py and let you know how it faires thereafter

[2019-07-05 18:45] wenottingham commented on #4274
You can in theory use REQUESTS_CA_BUNDLE to point to an alternate cert bundle. You'll likely need to set this env in the process that executes AWX (so in the container) - this isn't via AWX_TASK_ENV.

[2019-07-05 20:05] ricaragao opened #4278 "Failure in AWX playbook with gather_facts"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have a task that use gather_facts to get info from one host CentOS. When I use my playbook with this task in AWX I receive this error:

[code]

It works fine if I run with ansible-playbook at shell

##### ENVIRONMENT
* AWX version: 6.0.0
* AWX install method: docker
* Ansible version:  2.8.1
* Operating System: CENTOS 7.6
* Web Browser: Opera/Chrome

[2019-07-05 20:52] naren-ambati opened #4280 "AWX with external Database doesn't seems to be working"
##### Inventory File
[code]

##### SUMMARY
[code]
##### ENVIRONMENT
[code]

##### ACTUAL RESULTS

[code]
I saw many posts related to that but not even a single approach worked for me.

[2019-07-05 22:02] rooftopcellist commented on #4161
@sxnwlfkk  What was the last commit on your AWX installation?

I just pulled the latest code and built it and am not able to reproduce this bug.

[code]

[2019-07-06 06:29] dferteyfbxcrterg opened #4281 "国外文凭办理精英国际文凭俱乐部www.diplomaclub.net"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[国外文凭办理](www.diplomaclub.net)精英国际文凭俱乐部[www.diplomaclub.net](www.diplomaclub.net)

[2019-07-06 06:57] sub2zero commented on #4278
Looks like you have problems with ssh connection, check credentials and inventory.

[2019-07-07 14:10] ryanpetrello commented on #4278
Agreed with @sub2zero, this doesn't look like a bug to me.

[2019-07-07 14:10] #4278 closed, assigned to nobody

[2019-07-07 14:10] #4281 closed

[2019-07-07 14:13] ryanpetrello commented on #4280
Hey @naren-ambati,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-07-07 14:13] #4280 closed, assigned to nobody

[2019-07-07 17:18] ricaragao commented on #4278
I understand your perception, but I run this exact playbook at same machine and works fine, but in AWX it fail. I'll try another playbook and tell for you.

[2019-07-07 17:45] mrmibrown commented on #3427
Here's a work-around for this issue:
https://access.redhat.com/solutions/4268032

[2019-07-08 07:57] s10g commented on #4267
@ryanpetrello
Tested with the new code and result was good :)

[code]

[2019-07-08 08:10] benapetr opened #4284 "Add sync all sources button to inventory list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now when you need to update inventory you need to open it and then go to sources list and then click the refresh button. That is tedious.

There should be a button right in the inventory list that allow you to click it in order to trigger refresh of all sources this inventory has.

[2019-07-08 08:42] chris-p-martin commented on #4272
It seems to be a slightly different issue. I've tried to amend the script directly within my running AWX container image to see if I can fix this issue but I'm not sure AWX is picking up the changes I've made. It still reports the same error. It also doesn't honour the configuration I've made in issue 4273.

Is there something else I need to do on top of editing the script in /usr/lib/python2.7/si

[2019-07-08 08:47] olia-dev commented on #4274
Added a pull request that should fix this issue.

[2019-07-08 09:11] TheKangaroo opened #4286 "AWX cannot run without privileged rights in k8s"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cannot run AWX 6.0.0 in a multitenant k8s cluster because of security implications.

##### ENVIRONMENT
* AWX version: 6.0.0
* AWX install method: kubernetes yaml files
* Ansible version:  n.a. (we render the upstream jinja yaml templates to deploy them directly to k8s)
* Operating System: client: mac, k8s cluster is running on container linux
* Web Bro

[2019-07-08 09:12] ondrejFuchs opened #4287 ""No matching host could be found!" - All host are connect to one ssh server with different port"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If I ask to AWX server to PROVISIONING CALLBACK by host1 with curl (curl -vv --data "host_config_key=aec14601575ea619a149ec1d59b72686" http://IP_address:80/api/v2/job_templates/8/callback/), I get

**- {"msg":"No matching host could be found!"}**

##### STEPS TO REPRODUCE
Our infrastructure:

host1 (with real IP 195.250.143.180) ; host2 ; host3 are con

[2019-07-08 10:17] Harshal-20 commented on #604
Can you please provide ldap group type parameters for using nested required group with type NestedMemberDNGroupType?  Thanks

[2019-07-08 11:47] AlanCoding commented on #3922
Also link https://github.com/ansible/awx/pull/4072

I do wonder if re-testing with devel combined with that change will affect what we've seen, but this is somewhat of a wild guess.

[2019-07-08 12:44] cherusk commented on #1992
Is this viable by now or not? Most of the referred to PRs have have been ceased with a benign outcome, that's why I'm wondering ...

[2019-07-08 13:30] #4181 closed, assigned to ryanpetrello

[2019-07-08 14:51] ryanpetrello commented on #4267
Thanks for reporting this and helping test, @s10g!

[2019-07-08 14:51] #4267 closed, assigned to ryanpetrello

[2019-07-08 14:58] matburt commented on #4286
AWX uses [bubblewrap](https://github.com/projectatomic/bubblewrap) to isolate processes (as you alluded to). This requires the capability to create chroots which implies elevated privileges. You *can* disable bwrap usage in AWX via settings and then disable these elevated permissions however you should be aware that disables process isolation between running playbooks which means other playbook ru

[2019-07-08 14:58] #4286 closed, assigned to nobody

[2019-07-08 16:02] jakemcdermott commented on #4261
@pebbledavec Hey there!

Any news on this one? Do you still want to get this one across the finish line?

[2019-07-08 16:05] ryanpetrello commented on #4287
Hey @ondrejFuchs,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-07-08 16:05] #4287 closed, assigned to nobody

[2019-07-08 16:07] ghost opened #4288 "How to use custom image to deploy over openshift"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I tried deploy over openshift with custom image(awx_task&awx_web).

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: openshift
* Ansible version:  2.7.4
* Operating System: Centos7
* Web Browser:

##### STEPS TO REPRODUCE

ansible-playbook -i inventory install.yml -e openshift_password=pass -e docker_registry_password=$(oc whoami -t)

[code

[2019-07-08 16:33] jakemcdermott commented on #4288
Hey there! Thanks for creating this issue.

We can't offer you much support when it comes to customized images and installers. You _may_ find some useful tips in our awx irc channel on freenode. That said, when you extend or modify images and installers you'll need to be fully prepared to support those changes on your own.

I'm closing this issue for now - Please check out our mailing list or stop

[2019-07-08 16:33] #4288 closed, assigned to nobody

[2019-07-08 18:28] ryanpetrello commented on #3760
@sergh-one there are a number of situations where a job will hang out in `pending`.  The most obvious ones to check are:

1.  Are you out of capacity (`/api/v2/ping/`)?
2.  If you want to run a job template multiple times in parallel, have you enabled concurrent jobs on the Job Template in question?

![image](https://user-images.githubusercontent.com/214912/60833646-b07d3600-a18c-11e9-829f-5f97fce

[2019-07-08 18:28] #3760 closed, assigned to nobody

[2019-07-08 19:27] unlikelyzero opened #4289 "Websockets events don't work in safari"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Websockets events don't work in safari

##### ENVIRONMENT
* AWX version: 6.0.0
* Operating System: macOS
* Web Browser: Safari

##### ADDITIONAL INFORMATION

https://github.com/ansible/awx/pull/4279

[2019-07-08 19:28] #4289 closed, assigned to nobody

[2019-07-08 19:28] unlikelyzero commented on #4289
Fixed and tested here https://github.com/ansible/awx/pull/4279

[2019-07-08 21:25] rambleraptor commented on #3922
I'm looking at #4072 again (went off my radar for a bit) and I'm hoping to get the tests fixed ASAP so we can merged in it.

[2019-07-08 23:05] rambleraptor commented on #3922
@apitanga #4072 should fix this. I've got the tests passing, so as soon as it's merged in, I'd love to get feedback from you.

[2019-07-09 02:06] sugitk commented on #3470
[inventory_update_247.txt](https://github.com/ansible/awx/files/3370868/inventory_update_247.txt)

I also reproduced like this issue on VMware ESXi.  At first the inventory sync was successful, but after 2nd try always fails due to duplicate key.

[code]

[2019-07-09 06:45] Ompragash opened #4292 "RFE: Allow assigning an organization IG to a job template without requiring org admin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Currently in AWX only System Admin/Org Admin can assign Instance Group but needs new role i.e. "Instance Group Admin" role and this role will help a user to assign existing instance group in a Job Template.

[2019-07-09 07:42] blindrood opened #4293 "Editing workflow breaks extra_vars"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Editing workflow generates lots of issues with extra vars on job templates

##### ENVIRONMENT
* AWX version:6.0.0
* AWX install method: docker
* Ansible version:  2.8.1
* Operating System: Win
* Web Browser: FF/Chrome

##### STEPS TO REPRODUCE

Edit existing workflow template.

##### EXPECTED RESULTS

Everything is working as on v3

##### ACTUAL RESULT

[2019-07-09 08:26] byumov opened #4294 "Error with rejoining node to cluster after lost connection to postgres"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Node can't join to cluster after lost network connection to a postgres database.

##### ENVIRONMENT
* AWX version: 3.0.1
But bug still preset at 6.0.0

##### STEPS TO REPRODUCE

1) Setup HA AWX cluster with 3+ nodes and external Postgres database
2) Shutdown network on one of nodes and wait 120 sec(`grace_period`)
3) Look at work nodes log, you will se

[2019-07-09 08:31] ghost commented on #4261
Should be able to get it done in my lunch break today. Thanks for the reminder!

[2019-07-09 09:23] ghost commented on #1855
Still exists in 6.0.0:
2019-07-09 10:48:13,718 WARNING  awx.conf.settings The current value "{'name_attr': 'cn', 'member_attr': 'member'}" for setting "AUTH_LDAP_GROUP_TYPE_PARAMS" is invalid.
Traceback (most recent call last):
  File "/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx/conf/settings.py", line 423, in _get_local
    return field.run_validation(value)
  File "/opt/rh/rh-py

[2019-07-09 10:34] YuriGrigorov commented on #4294
The problem of `reap` is that the function wants the working instance.

https://github.com/ansible/awx/blob/2aa32f61f899836de8b8f502caeafbb8c030aed9/awx/main/dispatch/reaper.py#L32-L36

But there may be cases when the instance, for some reason, is automatically deprovisioned. If that happens then the instance can't be provisioned back.

I found two places where `reap` breaks automatic node provisi

[2019-07-09 10:35] a0s commented on #1125
I faced this problem too. I need to fetch some data from remote Consul in my local ansible script:
[code]
What is strange, `consul_kv` and `command: curl` is not working from ansible  until adding ip record in `/etc/hosts` on the local machine. But curl from bash is working fine. It doesn't have any sense.
Please, reopen the issue, a bug is still here.

MacOS 10.14.5, homebrewed ansible-2.8.1_1.mo

[2019-07-09 10:44] ssaammoo commented on #3956
@ryanpetrello
Hi Ryan,
I am redoing the test now with a new version of AWX (5.0), I stopped nginx that was running as reverse proxy so I won't get a conflict, however I am still getting the same issue:

[code]

[2019-07-09 11:03] ssaammoo commented on #3956
I have just tried with AWX 6.0 and got the same result :-(

[code]

[2019-07-09 11:19] ssaammoo commented on #3956
I think my problem is not related to the port (at least now), I have add check port to my playbook:
https://github.com/kernelzilla/awx/commit/949e37e809513adf66ba868d9c3bf5088696ec2e
And I am getting still generic error.

[code]
If I start the nginx I get error about the port, so my problem now is something else (I am trying with AWX 6.0)

[code]

[2019-07-09 11:43] AmmeonSupport commented on #3897
Hi, for me the loopback_users are as false.
However in the logs shows the guest credentials are invalid. Is there an issues with special characters ? Checking the config files the password match in both rabbitmq.conf and credentials.py

[2019-07-09 12:48] ahmedmaz24 opened #4297 "i would like to know how to open awx in vscode for me to edit some stuff thank you"
##### ISSUE TYPE

- question

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

i would like to know how to open it in vscode
##### ENVIRONMENT

* Ansible version:  latest
* Operating System: centos 7
* Web Browser: firefox

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2019-07-09 12:56] ryanpetrello commented on #4297
Hey @ahmedmaz24,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting or contributing to an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-07-09 12:56] #4297 closed, assigned to nobody

[2019-07-09 13:00] #3857 closed, assigned to nobody

[2019-07-09 13:12] dsesami commented on #4076
Confirmed in latest AWX that rows display normally, responsiveness appears to be functional, and that the correct CSS is now present.

[2019-07-09 13:12] #4076 closed, assigned to dsesami

[2019-07-09 13:40] dsesami commented on #3977
Created applications with both short and long names. Modal now renders correctly and responds well to window resizes.

[2019-07-09 13:40] #3977 closed, assigned to mabashian, dsesami

[2019-07-09 14:13] mdinwoodie opened #4298 "Option to Enforce End Dates on Scheduled Jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add an option or setting for admins to require that users specify an end date on any scheduled job they setup.

[2019-07-09 14:22] dsesami opened #4299 "UI right side border and activity stream icon gradually shifts to the right when opening and closing a modal"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Opening and closing a modal in the job templates page slowly shifts the entire UI for the template form to the left.
![Screenshot from 2019-07-09 10-19-02](https://user-images.githubusercontent.com/19942822/60895785-394ead00-a233-11e9-94b3-1ad8a8a25605.png)

And then the right border of the window in firefox is slightly offset:

##### ENVIRONMENT
* AWX

[2019-07-09 14:54] matburt commented on #574
What I'd *really* like to do is move away from RabbitMQ entirely and that's the plan over the next little while. The operational complexity of trying to manage a cluster like this is pretty high. We deploy RabbitMQ on each node and cluster RabbitMQ together to drive the actual clustering interconnectivity.  A lot of time folks are looking for geographic redundancy or a multi-region AWX but in my e

[2019-07-09 14:55] matburt commented on #574
It's probably fine if you want to rework the deployment to use your own Rabbit cluster... it's just not what I've planned for the AWX deployment architecture. I'd like to remove the need for RabbitMQ entirely as soon as possible.

[2019-07-09 17:19] unlikelyzero opened #4302 "System Auditor cannot access settings menu"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
System Auditor cannot access settings menu either through navbar or direct navigation.

Still need to determine if this is just one manifestation of a larger permissions issue.

#### ENVIRONMENT
* AWX version: tower 3.5.0 awx 6.0.0

##### STEPS TO REPRODUCE

Attempt to access settings menu as Auditor persona.

##### EXPECTED RESULTS

Settings options a

[2019-07-09 17:36] ivanmpk commented on #4255
Hi, I get error on same task:

[code]

[2019-07-09 18:12] AlanCoding commented on #1206
RBAC around this is going to be tricky, assuming any version of this list view is introduced. Since permissions are based on the WFJT, you would have to look through the node, then the WFJT, then to the WFJT role.

For instance, this is the kind of filtering it takes to show the job templates where are part of WFJT id=4:

`/api/v2/job_templates/?workflowjobtemplatenodes__workflow_job_template=4`

[2019-07-09 18:40] #4261 closed, assigned to nobody

[2019-07-09 19:11] mabashian commented on #4302
Changing https://github.com/ansible/awx/blob/devel/awx/ui/client/src/configuration/settings.service.js#L49 to `var putActions = data.actions.PUT ? appendOauth2ProviderKeys(data.actions.PUT) : {};` alleviates this issue.  System auditors don't have PUT actions from the options response so the existing code will silently error out while attempting to navigate to the settings view.

[2019-07-10 10:30] ssaammoo commented on #3956
Can someone please tell me how can I check the logs of the installation

[2019-07-10 13:46] alxndr13 opened #4303 "Scheduled Jobs do not show vars"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When filling out the survey for scheduled jobs, you can save the vars but afterwards they will not be visible. The Job gets scheduled and runs fine nevertheless.

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.1
* Operating System: Linux / Windows
* Web Browser: Chrome / Firefox

##### STEPS TO REPR

[2019-07-10 14:30] SLusenti commented on #1083
+1

[2019-07-10 14:44] wenottingham commented on #4292
This seems the wrong way to do this, since the roles would likely be on the IGs, and you're not administrating *them*.

[2019-07-10 14:45] wenottingham commented on #4298
I think this is the wrong level to apply these sorts of controls, as the next step would be a setting that sets the maximum end date, or the minimum time for recurrence, or....

[2019-07-10 16:32] giovannifl commented on #4180
As mentioned in issue #4272 , unless an NSG is attached to a VM NIC, import fails:

![image](https://user-images.githubusercontent.com/19493042/60986980-93856600-a338-11e9-8b0e-cdb0dc2085cc.png)

No clues about the second warning:

![image](https://user-images.githubusercontent.com/19493042/60987015-a4ce7280-a338-11e9-9a29-3736a28c6b46.png)

[2019-07-10 18:37] AlanCoding commented on #4272
I'm almost 100% sure this is a duplicate of https://github.com/ansible/awx/issues/4180, I'll bump up the priority of that but close this. @kdelee fyi, this shows that we're getting multiple reports of this problem.

[2019-07-10 18:37] #4272 closed, assigned to nobody

[2019-07-10 18:44] AlanCoding commented on #4061
You can get this from the API via a query like `/api/v2/jobs/?inventory=2&order_by=-created`. I'd like to have a better idea of what specific shortcoming of that is of interest here.

[2019-07-10 19:08] AlanCoding opened #4306 "Form for direct user input of inventory plugin configuration"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Right now, there is no way to use an inventory plugin-style YAML configuration aside from checking it into source control. We have had several inquiries related to this, so this is proposed as a solution to resolve all of those use cases.

Things we can say this feature would necessary need to have:

 - form elements
   - Place to select a credentia

[2019-07-10 19:10] AlanCoding commented on #4273
This seems to be a mis-understanding of what the current inventory source form does. We do not have any place for the user to directly modify the inventory file used by the supported inventory plugins.

I'm replacing this with https://github.com/ansible/awx/issues/4306, because I think that would let you do what you are trying to do.

[2019-07-10 19:10] #4273 closed, assigned to nobody

[2019-07-10 19:13] AlanCoding commented on #4154
Replacing this issue with https://github.com/ansible/awx/issues/4306

Basically, allow users to enter the plugin configuration without having to go through source control. Let me know if I have misunderstood anything.

[2019-07-10 19:13] #4154 closed, assigned to nobody

[2019-07-10 22:23] jamesmarshall24 opened #4307 "Date/Time Survey Answer Type"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add a built-in answer type for date and time that translates to a usable timestamp string for job runs

[2019-07-11 02:37] AlanCoding commented on #1206
A solution is also needed for the edit scenario. Ordinarily, someone can change a WFJT node's `unified_job_template`. If it points to an approval template, then easiest solution is to return 400 error if someone attempts to change that to a different UJT.

Otherwise the signal processing is going to get real complicated. You could wind up with multiple nodes pointing to the same approval template,

[2019-07-11 06:16] ivangonzalezz opened #4308 "Off center virtualenvs"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI
 - API

##### SUMMARY

It would be a good idea to centralize the definition of virtual environments to execute job templates. This is a good idea to maintain the same packages into a venv between different Tower hosts to reduce error chance.

[2019-07-11 08:01] TheKangaroo commented on #4286
Ahh thank you @matburt :) Disabling bwrap worked for me.

[2019-07-11 08:07] ulysses-31 commented on #4292
It would be great if users could select instance groups assigned to their organization to their job templates (without granting them Org Admin). Perhaps via a new Org/Role or enhancement of Org/Job Template Admins?

[2019-07-11 10:37] PePoDev opened #4309 "install awx failed in TASK [local_docker : Start the containers] about import the required Python library"
I got this error But I already install "docker" via pip install docker.

I try to search about it but dont found any solution can solve it.

[2019-07-11 11:55] snerge commented on #3897
I run 4.0.0 without any issue but I do get the same problem when I upgrade from 4.0.0 to 5.0.0 or 6.0.0 in case that can help pin point the source of the issue.

[2019-07-11 12:06] snerge commented on #3897
I have just removed special characters from my rabbitmq_password and now I'm able to upgrade to 5.0.0 and I was able to upgrade to 6.0.0 after.

[2019-07-11 13:33] jsdevalx opened #4310 "install awx failed in TASK [compose.yml - name: Start the containers] - Openshift"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
ansible-playbook -i inventory install.yml -e openshift_password=XXX -e docker_registry_password=$(oc whoami -t) -vvvv

ansible-playbook 2.6.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/XXX/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site

[2019-07-11 13:42] AlanCoding commented on #3903
@wenottingham @matburt Users inherit admin, execute, and auditing permissions via the inventory of a JT.

current:

https://github.com/ansible/awx/blob/ca0e8102fd5435083c9b8fb3badb9be2ba9d198d/awx/main/models/jobs.py#L244-L252

With this change, will we revoke these permissions obtained via inventory? If we keep any of these, that will significantly limit the simplifications that can be obtained h

[2019-07-11 14:31] Klaas- commented on #3924
I am having the same issue with a kubernetes install of AWX 6.0.0 and current firefox (68.0).

inspecting the element seems to show the same as in the working screenshots of @mabashian
`<i class="fa ThirdPartySignOn-icon ThirdPartySignOn-icon--fontCustom icon-microsoft" ng-class="item.icon">`

[2019-07-11 14:40] kdelee commented on #4272
:scream:

[2019-07-11 15:02] wenottingham commented on #4292
see also #2785

[2019-07-11 15:04] wenottingham commented on #4308
Not sure what is meant by 'off center' here?

[2019-07-11 15:06] wenottingham commented on #3903
`Users inherit admin, execute, and auditing permissions via the inventory of a JT.`

Sorry, just for clarity: inherit admin, execute, and auditing of ???, via the inventory of a JT they have ??? role on?

[2019-07-11 15:25] AlanCoding commented on #3903
Say I have a JT with a project from `orgA` and inventory from `orgB`

There are users `orgB_leader` and `orgB_button_pusher`. `orgB_leader` has `admin_role` for `orgB`, and `orgB_button_pusher` has `execute_role` for `orgB`. Right now, these users can admin the JT and run the JT respectively. Those permissions will be taken away with the proposal.

Hypothetical users `orgA_leader` and `orgA_button

[2019-07-11 15:41] wenottingham commented on #3903
I did not think these permissions would be there, since the implied org on the JT only came from the project.

I think it's fine to remove these going forwards. I could see migrating explicit roles on the JT into existence on upgrade for this case, although I don't know how complex the migration would be.

[2019-07-11 15:46] AlanCoding commented on #3903
Thanks. The above proposal isn't done yet, but it's workable by writing a data migration.

[2019-07-11 16:03] AlanCoding commented on #4180
Considering solution of the general form:

[code]

This will add a new group with that name, which I would not prefer, and final solution may be to add a non-strict option in Ansible core. Still need to reproduce before we can move on that.

[2019-07-11 18:16] ryanpetrello commented on #4162
Hey @bkmeneguello,

Thanks for reporting this.  It should be fixed by this change (which will be in the next version of AWX):
https://github.com/ansible/awx/pull/4313

[2019-07-11 18:30] bkmeneguello commented on #4139
This is a blocker issue since there is no workaround for signed certificates.
@jakemcdermott, @ryanpetrello

[2019-07-11 18:50] Wicaeed commented on #4180
+1 for this issue, currently being affected by this after upgrading our Tower to 3.5.

We use Azure VMs that do not have either:
- Public IPs
- Network Security Groups

[2019-07-11 20:14] jakemcdermott commented on #4309
@PePoDev You'll need docker / docker-compose on the machine to which you are installing awx as well. Did you install it there?

[2019-07-11 22:12] sumkincpp commented on #1284
+1 On this feature. Definitely must have in roadmap.

After solving all necessary problems engineer goes to specific failure node job(linked with wf) and relaunches it, thus continuing workflow execution.

[2019-07-12 04:42] PePoDev commented on #4309
@jakemcdermott  Yes, I can run hello-world image and use command `docker --version` or `docker ps` in machine

[2019-07-12 06:17] ivangonzalezz commented on #4308
Sorry, I meant to 'centralize' the definition of virtual environment in one point to avoid differences between hosts.

[2019-07-12 10:19] daemenseth commented on #877
is there some progression to fix this issue without the ugly hack?

[2019-07-12 12:30] jdekoning commented on #4139
The following seemed to work: https://github.com/ansible/awx/pull/4320, pretty much just write the public certificate in the place where ansible runner expects it to be.

Worst case we currently have the following hack running before starting the Tasks:
[code]

[2019-07-12 14:46] falcon78921 opened #4321 "Allowing /tmp and /var/tmp to be mounted with noexec"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

**EDIT:** Per a customer's request, they would like to install Ansible Tower with `/tmp` and `/var/tmp` set to  `noexec`. Their environment is hardened and the InfoSec team requires `/tmp` and `/var/tmp` to be `noexec`.

[2019-07-12 15:29] wenottingham commented on #4308
This isn't really practical in the general sense, as we are unlikely to be distributing content between hosts like this.

Something like shared volumes in Kubernetes or OpenShift may be the best solution (or a rebuilt image that contains them.)

[2019-07-12 15:30] wenottingham commented on #4321
They'll need to change the execution directory. See AWX_PROOT_BASE_PATH.

[2019-07-12 15:30] #4321 closed, assigned to nobody

[2019-07-12 15:41] EnzoAkira opened #4322 "Host_Vars imported incorrectly formatted"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After importing the Hosts and Groups, I always have to correct the Host_vars because they appear incorrectly formatted.
Attached is an image with an example.

##### ENVIRONMENT
* AWX version: 5.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.1
* Operating System: CentOS 7
* Web Browser: Mozilla

##### EXPECTED RESULTS

host_vars as in

[2019-07-12 16:03] falcon78921 commented on #4321
**EDIT**: Per a customer's request, they would like to install Ansible Tower with `/tmp` and `/var/tmp` set to `noexec`. Their environment is hardened and the InfoSec team requires `/tmp` and `/var/tmp` to be `noexec`. The intent is during installation.

cc @wenottingham

[2019-07-12 16:04] ryanpetrello commented on #4322
@EnzoAkira I'm looking at this screenshot and making sure I understand.  Is the complaint here that the key ordering wasn't persisted (i.e., name and desired_state are swapped now)?

[2019-07-12 16:46] ryanpetrello commented on #4139
@bkmeneguello Thanks for digging into this.  I've done the following steps to generate a CA and sign a key:

[code]

Next, I configured `/etc/ssh/sshd_config` on an external managed host in my inventory and restarted sshd:

[code]

Next, I generated a new private key and signed it with the CA:

[code]

From here, I have a `test` private half, and a `test-cert.pub` half signed by my CA.  I paste bo

[2019-07-12 16:53] EnzoAkira commented on #4322
Hi @ryanpetrello
Thank you for quick response.
The keys ordering are a bit important but for the record that works fine (for now).
I am complaining why this happens. I also need the comments because go services maybe grow shortly and other applications are being finalized.

[2019-07-12 17:01] ryanpetrello commented on #4139
@bkmeneguello,

After thinking on this, I think just fixing this in runner is a better potential solution.

[2019-07-12 17:02] jdekoning commented on #4139
In my opinion it would be best if the ansible runner code could be changed from [runner_config.py#L169](https://github.com/ansible/ansible-runner/blob/master/ansible_runner/runner_config.py#L169) to:
`self.command = self.wrap_args_with_ssh_agent(self.command, `**`self.ssh_key_data`**`)`

Then you only have to align the name of the signed ssh certificate in the awx code.

[2019-07-12 17:10] ghjm commented on #4322
Unfortunately we are not able to preserve order or comments, because this data is ingested by the ansible-inventory command which is not able to preserve these items.

[2019-07-12 17:10] #4322 closed, assigned to nobody

[2019-07-12 17:13] ryanpetrello commented on #4310
Hey @jsdevalx,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

I suspect you're actually running into this issue:

https://github.com/ansible/awx/pull/4260

[2019-07-12 17:13] #4310 closed, assigned to nobody

[2019-07-12 17:16] ryanpetrello commented on #4309
Hey @PePoDev,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-07-12 17:18] #4309 closed, assigned to nobody

[2019-07-12 17:21] EnzoAkira commented on #4322
Thank you @ghjm

[2019-07-12 17:23] ghjm commented on #4298
We don't currently have any plan to implement this.

[2019-07-12 17:23] #4298 closed, assigned to nobody

[2019-07-12 17:26] ghjm commented on #4293
Possible duplicate of #4303

[2019-07-12 17:28] wenottingham commented on #4292
retitled to reflect the problem that needs solved

[2019-07-12 17:29] bkmeneguello commented on #4139
The problem is the signed certificate is read by ssh-add and it's searched by name, so there is no option other then copying to the same directory. I don't know if there is another way to add certificates to ssh-agent without ssh-add.

[2019-07-12 17:30] ryanpetrello commented on #4275
Hey @alancivita,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-07-12 17:31] #4275 closed, assigned to nobody

[2019-07-12 17:34] click2chandu commented on #2830
I have the same issue. It works from command line but doesn't work from AWX.
What's the fix?

[2019-07-12 17:35] jdekoning commented on #4139
@bkmeneguello Ah I guess it should use the path of the ssh key then (`env/ssh_key`), assuming the aws/tasks.py places the public cert there (`env/ssh_key-cert.pub`)?

[2019-07-12 17:40] bkmeneguello commented on #4139
@jdekoning actually there is no alternative to fix this unless respecting the ssh-add rules. It's code (https://github.com/openssh/openssh-portable/blob/master/ssh-add.c#L336) don't allow certificates from the command line, only direct lookup by file name.

[2019-07-12 17:40] elyezer commented on #4197
@shark09 could you please describe the OpenStack environment you are targeting? That will help isolate the issue. Thanks

[2019-07-12 17:44] ghjm commented on #4193
Looks like we have a solution.  Closing issue.

[2019-07-12 17:54] ghjm commented on #3879
Changing the URI path for AWX is not something we currently support.  Filing as possible future enhancement.

[2019-07-12 17:58] wenottingham commented on #3836
see also #4177

[2019-07-12 17:58] ghjm commented on #4177
Likely duplicate of #3836

[2019-07-12 17:59] wenottingham commented on #3835
closing as dup of #1845

[2019-07-12 17:59] #3835 closed, assigned to nobody

[2019-07-12 18:01] ghjm commented on #3819
@tota45 Are you still seeing this issue?

[2019-07-12 18:23] ryanpetrello commented on #4139
Thanks for the legwork on this one - it's just something we quietly broke without noticing.  The PR you put together isn't perfect, but it's probably the shortest path to just fixing this without having to actually develop and ship a new documented feature in runner.

[2019-07-12 18:23] mabashian commented on #4303
This is actually the intended behavior as it's currently designed.  When you schedule a job template with a survey, the answers to the survey questions are not combined with the promptable extra variables area while looking at the schedule form.  When the job runs, the variables are aggregated.  This pattern is similar to how default survey answers do not show up as extra variables in the job temp

[2019-07-12 18:23] #4303 closed, assigned to nobody

[2019-07-12 18:31] mabashian commented on #4293
@blindrood you'll have to provide some more information to help us reproduce this issue.  Can you describe the setup of the job template being referenced in the workflow?  What fields are promptable?  Does it have a survey?  If possible can you provide a gif or screenshot of the error being reproduced?

[2019-07-12 19:04] AlanCoding commented on #4180
Should be addressed by #4319, let me know if you continue to see errors with that.

[2019-07-12 19:44] jbradberry commented on #2075
@wenottingham Just wanted to check back about this, do we still want to customize the user model for only the `first_name` field?  Bring it up also to 150 characters, perhaps?

I ask because it is a fairly risky process involving some database fiddling: https://www.caktusgroup.com/blog/2019/04/26/how-switch-custom-django-user-model-mid-project/

[2019-07-12 19:56] wenottingham commented on #2075
No, the idea is to upgrade the limits to whatever django supports.

[2019-07-12 20:21] jbradberry commented on #2075
@wenottingham In that case, as @ryanpetrello notes above, Django 2.0 has automatically increased the size of the `last_name` field to 150 characters: https://docs.djangoproject.com/en/2.2/releases/2.0/#abstractuser-last-name-max-length-increased-to-150

Examination of my development database confirms that this is the case:
[code]

If that is all we want, then this ticket should probably be closed

[2019-07-12 21:02] wenottingham commented on #2075
Has the upgrade landed?

[2019-07-12 21:55] jbradberry commented on #2075
It's in #4070 , which is ready for review and will with luck pass all of the tests tonight.

[2019-07-14 21:24] sumkincpp commented on #2973
Spotted the same issue, it's sad to see that libraries are not loaded by default when facts cache is used.

[2019-07-15 05:57] blindrood commented on #4293
Some templates have survey, some doesn't. Seems like, if there's no extra_var then a pipe is added. If there's something, then it's splitted
![Adnotacja 2019-07-15 075225](https://user-images.githubusercontent.com/48821393/61197546-d5fec800-a6d5-11e9-90e6-4f064a52b15f.jpg)
![Adnotacja 2019-07-15 075808](https://user-images.githubusercontent.com/48821393/61197625-57565a80-a6d6-11e9-805d-0be2fd7b545

[2019-07-15 08:37] ssaammoo commented on #3956
anyone can help me please :-)

[2019-07-15 12:46] AlanCoding commented on #4306
@kdelee we should close https://github.com/ansible/awx/issues/3448 if we get this added.

[2019-07-15 13:14] smnmtzgr opened #4325 "SSH connection to network devices (ios) breaks"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using AWX 6.0.0 connections to network devices (cisco_ios) are broken if more than one task is present for the device.

##### ENVIRONMENT
* AWX version: 6.0.0
* AWX install method: Kubernetes
* Ansible version: 2.8.1
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a playbook with multiple tasks of ios modules e.g.

- name: <all> get facts

[2019-07-15 13:30] ryanpetrello commented on #4325
This is a bug in Ansible itself, not AWX:

[code]

The link you referenced at https://github.com/ansible/ansible/issues/48093 indeed looks like the same thing to me.

[2019-07-15 13:30] #4325 closed, assigned to nobody

[2019-07-15 13:31] ryanpetrello commented on #2075
Yep, I expect once #4070 lands, we can just close this ticket.  I don't think Django in its current state will allow us to make the length configurable (unless we want to introduce a custom user model, which I'd prefer not to do), but 150 is a nice improvement for the last name.

[2019-07-15 13:40] ssaammoo commented on #3956
So I uninstall NGINX from the machine, rebooted it and installed available CentOS updates, I got the AWX ver 6 again and I tried to update again, I got same error:

[code]

[2019-07-15 15:31] #4248 closed, assigned to keithjgrant

[2019-07-15 16:57] jmcshane opened #4327 "Inventory source from a project -> set inventory variable_data"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When sourcing an inventory from an AWX project, I want to be able to set the global inventory variable_data field with a set of properties. We are using `variable_data` api from the inventories and want to be able to set fields in source control with the rest of our inventory rather than managing those values manually.

When I sync right now, it rea

[2019-07-15 17:14] #4229 closed, assigned to marshmalien

[2019-07-15 18:55] spsingh1982 commented on #1206
What is the ETA for this feature getting developed and delivered?

[2019-07-15 19:27] beeankha commented on #1206
Hi @spsingh1982 , we don’t have an exact ETA for when this will be released as part of AWX, but it is something we're currently working on.   You can take a look at the work-in-progress PR here: https://github.com/ansible/awx/pull/4264

[2019-07-16 07:31] gsakkar opened #4329 "Usage of start_line and end_line query parameter with txt_download of job output in REST API"
##### ISSUE TYPE
 Usage of  start_line and end_line query parameter with txt_download of job output in REST API incase job out put is more than 1 MB

##### SUMMARY
/api/v2/jobs/{id}/stdout/
Retrieve Job Stdout
the start_line and end_line query string parameters can be used to specify a range of line numbers to retrieve.

I will poll the job stdout in periodic interval using start_line and end_line

[2019-07-16 07:34] SLusenti commented on #2086
+1

[2019-07-16 08:23] razhaq commented on #3073
I ma facing the issue while creating workflow. I am getting "You do not have permission to add a workflow job template." I have assign the required permission.

[2019-07-16 11:09] routenull0 commented on #3252
Is this still the best way? I need a persistent volume on both awx_web and awx_task that contains a python virtualenv so that everytime I restart the containers, I don't have to do the work of building the virtualenv.

[2019-07-16 11:21] emil-palm commented on #4154
@wenottingham

Can you provide some more insight into this solution, i tried to put my yaml config file in my repo and point the inventory to that file but that just failed with

[code]

[2019-07-16 11:51] alxndr13 commented on #4303
Thanks, that does make sense!

[2019-07-16 12:14] jamesattard commented on #286
Is this feature planned to be released soon? A number of enterprises with rigid governance policies do not allow same credentials across multiple hosts.

[2019-07-16 14:24] AlanCoding commented on #4154
The `verify_file` method mentioned:

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/auto.py#L34-L37

Sounds like this error is telling me that you gave it a file that did not end in .yml/.yaml, as the [netbox inventory plugin](https://docs.ansible.com/ansible/latest/plugins/inventory/netbox.html) documents

[2019-07-16 14:31] wenottingham commented on #286
It is not currently being worked, when it is, more information will be placed here.

[2019-07-16 14:39] AlanCoding commented on #3073
I think this might need to be switched to execute??

https://github.com/ansible/awx/blob/9fc1378fd17c6774d075e4e4888206185ad29cde/awx/ui/client/src/templates/workflows/edit-workflow/workflow-edit.controller.js#L286

Or, `can_edit` could always be set to true, because it's filtered anyway...

[2019-07-16 15:00] ryanpetrello commented on #4329
@gsakkar,

For performance reasons, we limit the size of output on the `stdout` endpoint.  In order to accomplish the start/end line calculation you've referenced, you've actually got to load the data into memory, and that can get expensive for larger stdout content.

If you want to work around this, you can always raise the setting that affects this:

[code]

[code]

[2019-07-16 15:00] #4329 closed, assigned to nobody

[2019-07-16 16:16] jean-christophe-manciot commented on #3778
@rooftopcellist @matburt @joseorpa
Sorry for being late to this party, but can't we skip the 10 step and go directly to 11?
Postgresql 10 has already been **obsoleted** by several Linux distributions, including:
[code]

[2019-07-16 16:23] rooftopcellist commented on #3778
@jean-christophe-manciot We want to keep the postgresql version the same across all of the platforms that we support and some still require we use postgresql 10.x for now.

[2019-07-16 16:41] jean-christophe-manciot commented on #3778
I believe your policy is **unsustainable** and leads to 2 major issues since it makes at least 2 major distributions stuck with unsupported packages:
- the bugs are no longer patched
- it a also a security issue since the security patches are no longer applied either

By letting AWX dragged by the lowest common denominator, this policy:
- disadvantages the most up-to-date distributions which have

[2019-07-16 18:29] ryanpetrello commented on #1206
@beeankha @mabashian @chrismeyersfsu @AlanCoding,

After much deliberation, I think this is what we're *currently* settled on (if I can summarize).

There will *not* be a global `/api/v2/workflow_approval_templates/` endpoint.

To create a _new_ pause node, you do:

[code]

This means that the *only* way you can _create_ an approval template is via this endpoint, where it's assigned to a node.

We

[2019-07-16 21:09] megakoresh commented on #3959
This is definitely the reason. I also had a WTF moment looking at this variable, knowing that it's value is hardcoded into `settings.py`.

[2019-07-16 21:10] wenottingham opened #4334 "500 error when user is removed from an active session"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. log in as a user
2. remove the user via the API
3. reload

[code]

##### ENVIRONMENT
* AWX version: curret devel head
* AWX install method: docker-compose

##### ADDITIONAL INFORMATION

Also happens with older releases. In that case, the traceback is:
[code]

[2019-07-16 21:15] wenottingham opened #4335 "fancy traceback screen (which leaks information it shouldn't)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. Cause https://github.com/ansible/awx/issues/4334

You no longer get a generic server error page.
You get:
![Screenshot from 2019-07-16 17-11-52](https://user-images.githubusercontent.com/5208768/61330149-02593800-a7ed-11e9-8256-7c3605a7ca2f.png)

Things on this page:
- all cookies
- all settings (including BROKER_URL, etc.)

##### ENVIRONMENT
* AWX

[2019-07-16 21:15] #4218 closed, assigned to keithjgrant

[2019-07-16 23:31] wenottingham commented on #4335
until proven otherwise, this appears to be a stray debug setting in the dev environment.

[2019-07-16 23:31] #4335 closed, assigned to nobody

[2019-07-17 01:55] ryanpetrello commented on #4335
Yep, this is what the dev environment displays when an uncaught exception occurs in a request and `settings.DEBUG` is `True` (the default in the dev env).

[2019-07-17 06:51] pwe123345 opened #4336 "Missing modules"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running specific modules on remote hosts, the task fails because "Failed to import the required Python library (<Name of library>) on <Remote Hosts>'s Python /usr/bin/python."

##### ENVIRONMENT
* AWX version: 6.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.1
* Operating System: CentOS 7
* Web Browser: Firefox

##### STEPS TO

[2019-07-17 09:03] megakoresh commented on #4294
@byumov This is happening to me on a single-node setup as well:

[code]
Task container logs are full of this. And while I can navigate the UI, I cannot run any jobs.

[2019-07-17 10:36] megakoresh commented on #1898
@matburt Can you reopen this? `6.0.0` is unusable due to this issue, regardless of installation method. Besides the official installer does not do absolutely anything related to the cluster ID, that value is hard-coded into `settings.py` and appears to be unrelated to. First thing you see after applying migrations:

[code]

[2019-07-17 13:29] ryanpetrello commented on #4336
@pwe123345,

Many ansible modules require _additional_ Python libraries beyond what we package by default in awx. (here's what we include by default: https://github.com/ansible/awx/blob/devel/requirements/requirements_ansible.txt).  See this document for instructions on customizing the environment in which your playbooks run: https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

[2019-07-17 13:29] #4336 closed, assigned to nobody

[2019-07-17 13:31] tota45 commented on #3819
I upgrade AWX to 6.0 and the bug has evolved.
At now:
1-   An 'execute permissions' user run a template that failed. This user re-run this template thanks to 'relaunch on' button => OK, no more issue
2 - An 'execute permissions' user run a workflow that failed. This user re-run the template that failed on the workflow=> KO permission popup appears

Yes the template has a survey.

[2019-07-17 17:29] kdelee commented on #4180
I've tested out against an Azure account with a host that has no public ip and no security group, which previously did cause the same problems observed by poster + other commenter.

Now this host is coming through just fine:
[code]

Notice there is no public ip and the security group is null.

Closing for now, please let us know if you have any more problems.
@Wicaeed this fix should come out in n

[2019-07-17 17:30] #4180 closed, assigned to nobody

[2019-07-17 19:00] merou commented on #3807
Please try:
[code]
Example can be found here (awx_web container):
`/usr/share/awx/request_tower_configuration.sh`

[2019-07-17 22:11] sturgeonson commented on #4180
Works for me as well, thanks!

[2019-07-18 06:58] svrraja opened #4340 "External Postgres configured with Patroni"
ISSUE TYPE:
External Postgres configured with Patroni

SUMMARY:
We have our AWX running in K8s and postgres is configured externally on a Patroni HA.
Had enabled "pg_hostname=postgresql" and its connectivity to primary server
How can we give primary and secondary DB server in the connection string.

[2019-07-18 07:10] pwe123345 commented on #4336
I have no idea how to include additional packages in the standard environment. I dont see any value to use custom venvs.
Do you have different instructions since I cant find any, just lots of people with similar problems.

[2019-07-18 07:51] mkayontour opened #4341 "No nodes to spawn workflow_job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have some scheduled jobs and workflows in the AWX instance, but over time they are stuck in pending.

The Workflow is running and at the last task before finishing and the logs provide this message:
[code]

All other Jobs are running fine, except for this one workflow.

##### ENVIRONMENT
* AWX version: 5.0.0.0
* AWX install method: docker on linux
*

[2019-07-18 08:14] wilfried79 opened #4342 "unable sync projet from git repository"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I just make a fresh install of awx on rhel 7.6.
I create credential to connect to my gitlab server
I create a project to sync playbook from gitlab
job failed with the following error
fatal: Authentication failed for 'http://$encrypted$:$encrypted$@gitlab/ansible/galera-cluster.git

credentials are ok
sync is ok on my awx 3.0.0 server; same credentials,

[2019-07-18 09:20] AnstasiaR opened #4343 "Multiline in textarea"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have some question about textarea field in survey.
When I add the variables and then launch the task, I can`t separate strings by pressing the enter from keyboard (after pressing the enter, button NEXT is activated). In previous version it was possible. How can I fix this?
![image](https://user-images.githubusercontent.com/53037771/61444653-75c98980-

[2019-07-18 09:34] augabet opened #4344 "UI : Workflow Visualizer with more informations"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We have to install components on multiple clusters.
Clusters are identicals, so we use 1 inventory per cluster.
To do so, we use template workflow and run the same job in parallel.

The issue here is that we only see on the workflow visualizer the name of the job used and not the inventory used which is the main information that we need.

Except if w

[2019-07-18 12:19] AlanCoding commented on #4342
I have attempted to reproduce this by creating a private repo on gitlab.com.

Project:
 - scm_url: https://gitlab.com/ansible-engineering/test-playbooks.git
 - credential: SCM cred w/ username & password for gitlab

This works without any problem. I find that the SCM url passed into the git module in the project_update.yml playbook is `https://$encrypted$:$encrypted$@gitlab.com/ansible-engineering

[2019-07-18 12:21] AlanCoding commented on #4341
Could you share a screenshot for the workflow job 3592 (the one that is stuck), or any similar background information? Thanks.

[2019-07-18 12:28] wilfried79 commented on #4342
My host has a proxy configured to access to internet.
on release 6.0.0, contener has the same settings has the host.
The solution to my issue is to add an exception on environment variable to exclude proxy for gitlab server
_export no_proxy=<gitlab host>_

rebuild contener and test

[2019-07-18 12:28] #4342 closed, assigned to nobody

[2019-07-18 13:50] thuban-arrakis commented on #4309
This link might help, i've also struggled few times during installation.
https://neutrollized.blogspot.com/2018/12/cannot-have-both-docker-py-and-docker.html

[2019-07-18 14:01] ryanpetrello commented on #4340
Hey @svrraja,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-07-18 14:01] #4340 closed, assigned to nobody

[2019-07-18 14:12] kdelee commented on #1206
@dsesami and I brought up that it looks like we need a `explanation` field that can be POSTed with the approval/denial.

Additionally this would be used when a approval node fails due to time out as the text field where tower puts in `"Failed due to timeout after {num} seconds"`

[2019-07-18 14:18] dsesami commented on #1206
I also had the thought that there should be another way to know that a workflow is in a pending state; in the running jobs list, it would be nice to highlight the pending workflow in some manner to signal that action needs to be taken. cc @mabashian

[2019-07-18 14:42] dsesami commented on #1206
@kdelee  and I are also wondering how users will review previously approved/denied jobs from the past + view the `explanation` for why approved/denied.

Seems like clicking on the approval node from the workflow should just take us to a job detail view, just no stdout. Basically it'd be this page, but no stdout block (if hiding the element is difficult for some reason, then just leave it blank may

[2019-07-18 15:03] kdelee commented on #1206
A pile of questions:
- [ ] What would this look like for those who don’t have the power to approve?
- [x]   Is this role assigned per-workflow or is there also an overall approver for all workflows? I think it's a bit of both?
 - [x]  What kind of privileges does a workflow admin have to approve/deny?
 - [x]  Who can grant approval permissions?
 - [ ]  What happens with a nested workflow? Where th

[2019-07-18 15:08] AlanCoding commented on #2598
Remains an issue after I retested it

![label_working_gear](https://user-images.githubusercontent.com/1385596/61468921-575f9000-a94c-11e9-86eb-982063f31e7d.gif)

[2019-07-18 15:13] AlanCoding commented on #2598
I might put up an API-oriented fix, or at least a proposal.

[2019-07-18 15:55] ryanpetrello commented on #1206
I think our intention is to use the activity stream to record approve/deny, since it already has a lot of the attributes we care about.

[2019-07-18 16:10] ryanpetrello commented on #1206
In a recent chat about this, I think we decided to *not* show approval jobs in the global job list, because the implications of calculating their RBAC (_can_ this be approved by the current user) in the context of the global unified job list worried us from a query performance perspective cc @AlanCoding @matburt.

[2019-07-18 16:12] ryanpetrello commented on #1206
@beeankha or @AlanCoding,

https://github.com/ansible/awx/issues/1206#issuecomment-512854848

Could one of you summarize some answers here for @kdelee re: the new `approval_role` implicit fields we're currently working on?

[2019-07-18 16:16] ryanpetrello commented on #4343
@jakemcdermott @mabashian this looks like a duplicate of https://github.com/ansible/awx/issues/4192 (or closely related)?

[2019-07-18 16:20] naren-ambati commented on #1731
Any ETA on this feature? as many people blocked on this workflow credentials prompt thingy.

[2019-07-18 17:00] AlanCoding commented on #1206
I think we had a very clear answer to this, and the implementation has already begun.

Organizations get a new `approval_role` role, and Workflow JTs get a new `approval_role`. Those with either of these roles can approve any pending approval nodes in the workflow.

(this assumes the existing parentage structure is obvious to you, workflows live inside an organization, and the nodes live inside a

[2019-07-18 17:01] dsesami commented on #1206
@ryanpetrello I would argue that this scenario is the exact thing that it's needed for. It should say something like (assuming they can see the WF in the first place) "This workflow is in a pending state until someone with permissions approves it". Basically, IT or whomever can then ask the approver to push the job forward. At least, that's what I'm imagining, feel free to correct me if I'm missin

[2019-07-18 17:15] AlanCoding commented on #1206
There are two proposals I worry are getting confused here:

 - Showing "Approval Jobs" in the UI JOBS list
 - Showing a badge / counter / infographic in the workflow job's entry about pending approvals

We decided against showing approval jobs in the list. They have a confusing role (duplicated with the workflow job), and have their own separate place in the UI.

It's more nuanced than that. The w

[2019-07-18 17:21] AlanCoding commented on #4258
Design for this functionality:

New field called `scm_refspec` will accept input from the user. If field is blank, no change from current behavior will be experienced. If field is non-blank, then it will be passed as the `refspec` parameter to the git module.

This will be shown in the UI, but only for git project types. API may impose some of its own validation to enforce that it is git-only.

Th

[2019-07-18 17:21] dsesami commented on #1206
my main concern is that a user might just see the "running" state on the workflow itself, not see a notification that an approval is pending, and just leave it without knowing something is needed. as long as the pending approval list is marked clearly enough, I'm ok with that.

[2019-07-18 17:28] ryanpetrello commented on #1206
@dsesami one of the things we're adding with this feature is a new item in the top nav that displays pending approvals:

![image](https://user-images.githubusercontent.com/214912/61478627-e033f700-a95f-11e9-93fb-b91f701e01eb.png)
![image](https://user-images.githubusercontent.com/214912/61478764-415bca80-a960-11e9-941a-b787075b47af.png)

In the first pass of this feature, we're not planning on sho

[2019-07-18 17:38] dsesami commented on #1206
That works for me.

[2019-07-18 17:50] sumkincpp commented on #4269
We are using our own `inventory_name` variable for the same purposes which is setuped dynamically on inventory update.
Following AWX naming conventions, it might be great to have `awx_inventory_name`, specified by AWX.

I am seeing merged PR, any reason why the issue was reopened?

[2019-07-18 18:26] sumkincpp commented on #4066
Though, this might be less related to the initial issue, but I highly believe that there is also a need for schedules dependent on other schedules.

It will hugely help for Operators since you are not giving a big tool(Workflow Editor with Workflow dependent jobs) with which they may shoot their foot. They don't want to build workflows, they want to execute them!

Example usecase - providing to op

[2019-07-18 18:31] ahadrez commented on #1731
+1

[2019-07-18 18:38] naren-ambati opened #4349 "Workflow template credentials prompt not saving"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Trying to Change Machine Credentials for my workflow job templates, and I can see changes are applied only for the last template and rest of them are not being saved.

##### ENVIRONMENT
* AWX version: 6.0.0
* AWX install method: docker on linux
* Operating System: Oracle Linux
* Web Browser:

##### EXPECTED RESULTS

- Workflow Job templates should tak

[2019-07-18 18:41] sumkincpp commented on #1206
Sorry, I've briefly checked current development progress.

Will there be a descriptive message/or jinja template based message that will show current state of workflow, so that reviewer will approve specific actions that will be performed? I.e. configuration diff, or dynamic values calculated to that stage.

[2019-07-18 18:53] kdelee commented on #1206
@ryanpetrello so answer to "Will the approval node in the workflow job view link to anything with a `details` link like the other nodes is "NO" ?

[2019-07-18 19:02] mdinwoodie opened #4350 "Enable/Disable Nodes per Instance Group, not Globally"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, disabling a node from any instance group disables it globally. This RFE is to allow enabling/disabling of nodes on a per-instance group basis, rather than globally.

[2019-07-18 19:16] ryanpetrello commented on #1206
@kdelee we haven't planned any UX interaction where you go view an approval job in the UI on a separate page the way you do job results.  Our plan is to have a global notification list where you can view the list of pending approvals and (if you have permissions) approve or deny them.

We'll *likely* make it so that when you're viewing a workflow that *has* a pause node, you can also approve/deny

[2019-07-18 19:30] AlanCoding commented on #1206
Also, the `name` field already comes from user entry at the time of creating the node / approval JT. I don't see any need for an `explanation` field beyond what has already been entered into that field. Related job names are _already_ shown in the UI on all nodes in a workflow job.

If the node times out, `job_explanation` field is planned to be populated with a message that it times out. I don't

[2019-07-18 19:49] kdelee commented on #3826
Late reply, but *[1]* is one reason why I'm a strong advocate that the backend must munge this data and provide graph data + fixed granularity via the API

[2019-07-18 20:58] wenottingham commented on #1206
Not in this version. There's no real mechanism to pass arbitrary data in this way to show the user other than *maybe* showing `set_stats` content, and I could see that running afoul of other uses of `set_stats`.

[2019-07-18 21:01] wenottingham commented on #4269
For testing.

[2019-07-18 21:02] wenottingham commented on #4350
Is there a reason to not just remove it from the instance group in this scenario?

This would also likely behave oddly with auto-IG policies.

[2019-07-19 01:47] lianghao208 opened #4351 "launch job with extra_vars but in ignored_fields via API"
**ISSUE TYPE**
Bug Report
**COMPONENT NAME**
API
**SUMMARY**
launch a  job with extra_vars but in ignored_fields, how do I launch a job with extra_vars I need?

[code]
Response:
[code]
ENVIRONMENT
AWX version: 4.0.0.0
Ansible version: 2.7.9

[2019-07-19 04:32] lianghao208 commented on #4351
closing as NA. "Prompt on Launch" seems to be required in the job template

[2019-07-19 04:32] #4351 closed, assigned to nobody

[2019-07-19 09:28] jean-christophe-manciot opened #4352 "Task "Update CA trust in awx_web container" is launched during build with "pg_sslmode=require" in installer/inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Setting ```pg_sslmode=require``` in ```installer/inventory``` triggers the task ```Update CA trust in awx_web container```, although it shouldn't.
As pointed out by the ```Table 32.1. SSL Mode Descriptions``` in the [official postgresql documentation](https://www.postgresql.org/docs/9.6/libpq-ssl.html), ```sslmode=require``` does not check the server c

[2019-07-19 13:08] benapetr commented on #4158
Still happening in 6.1

[2019-07-19 13:31] kfattig commented on #4350
Removing it from the instance group could be an acceptable workaround, but that's not currently possible in the GUI. As I understand it the only way is to use awx-manage, which requires SSH access as root/awx .

[2019-07-19 13:49] kdelee opened #4353 "When using azure inventory plugin, null value keys are dropped"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

With ansible 2.7 and before, AWX uses the vendored inventory script for azure.
This script includes null value keys, such as `public_ip` if there is no public ip on the host.

The ansible inventory plugin, which is used when ansible 2.8+ is installed in the ansible venv, however, drops these keys if there is a `null` value.

By ensuring that the same

[2019-07-19 13:58] mbovo commented on #3986
Same behaviour for me:

-  AWX version: 6.1.0
-  AWX install method: docker
-  Ansible version: 2.8.2
-  Operating System: CentOS Linux release 7.6.1810 (Core)

it seems a regression of #1192 @AlanCoding ?

[2019-07-19 14:40] AlanCoding commented on #3986
I tried, cannot reproduce this.

https://github.com/AlanCoding/utility-playbooks/blob/master/add_host.yml

The CLI and all versions of Ansible I tried all work as expected - the foobar host shows up in the `ansible_play_hosts` var.

[2019-07-19 14:58] wenottingham commented on #4350
No, you can definitely do this via the API (PATCH the `policy_instance_list` of the instance group in the API).

You can also do it via the UI via the `x` next to the instance here:

![Screenshot from 2019-07-19 11-00-46](https://user-images.githubusercontent.com/5208768/61545039-91946480-aa14-11e9-9935-bae1af28eb30.png)

[2019-07-19 15:14] rooftopcellist opened #4354 "Add timestamp & collection type to analytics TAR"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add a new `query_info.json` file to the tar that includes the timestamp of collection as well as any other relevant collection metadata.

Pass a flag with the awx-manage command if manually run and include that in the `query_info.json`.  It may be useful to know if this is a scheduled collection or not.

[2019-07-19 15:18] wenottingham opened #4355 "Removing an instance from an instance group uses a UX paradigm not used elsewhere"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

To remove an instance from an instance group, you have to:
- select the instance group
- go to the instance group list
- click on the 'Associate' `+`
- Deselect it from the list
- Save

This flow isn't used elsewhere in the app, and may not be discoverable.

![Screenshot from 2019-07-19 11-00-46](https://user-images.githubusercontent.com/5208768/61546

[2019-07-19 15:49] kfattig commented on #4350
Thank you - I wasn't aware that was possible in the 'select instance' window.  This is a usable workaround for us.

Just to be clear if anyone else stumbles on this in the future:

The process described in the documentation for [associating hosts](https://docs.ansible.com/ansible-tower/latest/html/userguide/instance_groups.html#associate-instances-to-an-instance-group) also works for disassociatin

[2019-07-20 05:35] NivLipetz opened #4356 "Documentation response codes wrong for endpoint "POST /inventories/{id}/update_inventory_sources/""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The API endpoint ` POST /inventories/{id}/update_inventory_sources/`  documentation in the API reference is wrong. In the API reference it is documented that it returns only 201. However based on the AWX documentation found on github here: https://github.com/ansible/awx/blob/d8c4f118c23fde9f59f38334974381264d22f120/awx/api/templates/api/inventory_inven

[2019-07-20 09:52] svrraja commented on #1016
How to fix the issue if its running in kubernetes, How to configure the NGINX reverse proxy

[2019-07-20 15:20] jomach commented on #2245
So I'm experiencing the same problem on awx 2.8.2. On the hosts file I have no encrypted strings. I get.;

Parsed /var/lib/awx/projects/repository/infra/ansible/inventories/prod/hosts inventory source with ini plugin
ERROR! Attempting to decrypt but no vault secrets found

I think ansible should provide a env like ANSIBLE_VAULT_PASS instead of ANSIBLE_VAULT_FILE, this way we could create a custom

[2019-07-20 18:24] svrraja commented on #4120
@piwi91  How did you pass the headers to awx_web ?

[2019-07-21 04:30] xuyixin1996 commented on #3986
Did you try the playbook in awx? This issue has happened in the awx.

[2019-07-21 09:40] jomach commented on #223
I'm hitting this issue too. I have one repo with several inventories under the inventory folder...
I'm trying to import my inventory hosts via the Sources -> Source from Project. When I tried to select a credential it says to me that the credentials are empty now is the question which type of credentials do I need to create ?

[2019-07-21 12:52] pasta88 opened #4357 "AWX doesn't send correct infromation to logstash"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Wrong information sending to logstash.

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: rpm from https://copr-be.cloud.fedoraproject.org/results/mrmeee/ansible-awx/epel-7-x86_64/
* Ansible version:  2.8.2
* Operating System: rhel 7.6
* Web Browser:
ELK: 7.2

##### STEPS TO REPRODUCE
1. Connect awx to logstash.
2. Perform any role which cha

[2019-07-21 16:18] pasta88 commented on #4357
And I think it will be a good idea sending a diff to logstash too.

[2019-07-22 01:57] AlanCoding commented on #3986
Yes, that's the reason I put it inside a github repo. You could try make a project from `https://github.com/AlanCoding/utility-playbooks.git` and see if that replicates it on your server. If it does, then it would become a simple matter of figuring out what's different between us.

[2019-07-22 06:59] ThomasRasmussen opened #4358 "Long running queries to DB"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We are running AWX towards an external PostgreSQL database. We have noticed that AWX keeps a number of queries running forever, which seems to be odd.

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: Ubuntu 18.04
* Web Browser:

##### STEPS TO REPRODUCE

Start ansible and let it

[2019-07-22 08:35] benapetr opened #4359 "Template description should be visible in template list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now it's visible only when you open template definition, it would be far more useful if it was visible at least in expanded view, so that it's clear what templates are used for.

[2019-07-22 12:19] mbovo commented on #3986
Hi @AlanCoding  sorry for the delay, i've tested your project with playbook add_host.yml succesfully:
<img width="400" alt="Screenshot 2019-07-22 at 14 07 30" src="https://user-images.githubusercontent.com/19665312/61631598-11c3ff80-ac8b-11e9-993d-ff1e87a916ee.png">

Indeed the problem raises when you try to loop over the new in-memory inventory:
<img width="400" alt="Screenshot 2019-07-22 at 14 0

[2019-07-22 12:19] clushie commented on #4197
@shark09 Could you maybe test this issue with awx v6.1.0 again?
`openstacksdk` library got updated in the latest release.

[2019-07-22 13:16] AlanCoding commented on #3986
I added to the playbook to do what you're doing, I'm using the current development Ansible.

[code]

Same behavior CLI / AWX. Please let me know if I'm missing something.

![Screen Shot 2019-07-22 at 9 13 57 AM](https://user-images.githubusercontent.com/1385596/61635221-11af0a00-ac61-11e9-974c-61444e4aaa87.png)

I wonder if the host pattern isn't hitting any hosts because of something you have in

[2019-07-22 13:18] AlanCoding commented on #4359
I assume this would only be of interest in the "expanded" view of templates. Expanded view does not include description right now.

[2019-07-22 15:14] dsesami commented on #4162
Verified on a playbooks with quoted tasks and non-quoted tasks (including ping.yml) that stdout appears normal and does not break.

[2019-07-22 15:14] #4162 closed, assigned to dsesami

[2019-07-22 17:59] AlanCoding opened #4361 "Inventory update source type should be visible in the expanded cards in jobs list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Inventory updates are very scant on information in the UI expanded view.

![Screen Shot 2019-07-22 at 1 53 19 PM](https://user-images.githubusercontent.com/1385596/61653415-39fe2f00-ac88-11e9-9c69-3b95416b8dee.png)

The first entry there is an EC2 inventory update, and the 2nd is an Azure inventory update. The names that it shows for credentials are

[2019-07-22 19:13] jomach opened #4362 "git version is old and does not work with x509 certificates"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If we need to use the git options sslCert, sslKey and sslCAInfo with git 1.8 and centos7 we get:

NSS: client certificate not found (nickname not specified)

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: docker
* Ansible version:  2.8.2
* Operating System: centos7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

 1- docker run ansible/aw

[2019-07-23 01:40] Testicule commented on #1223
What? I mean, seriously. What?

If a project isn't even checked out, i think AWX should be smart enough to be aware of that fact...

And if you haven't even got a project checked out, then just fail.
Why would anyone expect to be able to run a job vs a project they haven't even checked out once?

On the other hand, if i've just updated my project which contains jobs to manage my SCM server. And I

[2019-07-23 01:49] Testicule commented on #287
"Closed per #567 (for git only)"

git only. not really good enough.

I fail to see why there is any need to contact source control when the project is checked out and a job can be run.
Why?
Why is it necessary?

Launch a job:
 - If the project has "Update revision on launch" checked - then contact SCM.
 - If you don't have the project checked out - just fail, or, contact SCM, I don't care.
 - If y

[2019-07-23 02:24] AlanCoding commented on #289
I withdraw my last comment. Since the introduction of sliced jobs, it makes much more sense to continue the pattern of workflow-like jobs on an as-needed basic. My new preferred design:

 - as now, perform check type project update
 - Introduce new `changed` status to show when project_update.scm_revision != project.scm_revision, thereby signaling a change to canonical version
 - If and only if pr

[2019-07-23 07:51] drzippit commented on #4120
@svrraja
He literally posted his nginx reverse proxy config.

[2019-07-23 08:07] dhkim07 opened #4365 "I have a question about awx clusters."
##### ISSUE TYPE
 - Feature Idea

 - ENVIRONMENT
AWX version: 6.0.0

##### SUMMARY

We configured the awx cluster using a bare metal based docker-swarm.
Our management server is very large, about 10,000.
To quickly process large volumes of work, you need to use three awx nodes simultaneously.
The cluster has been configured, but only one node will use the resources when the playbook is running.
Is

[2019-07-23 10:51] AlanCoding commented on #2891
Related issue https://github.com/ansible/awx/issues/4361

[2019-07-23 13:06] ryanpetrello commented on #4365
Hey @dhkim07,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install or have a question about AWX in general, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-07-23 13:06] #4365 closed, assigned to nobody

[2019-07-23 13:12] ssaammoo commented on #3956
I disable nginx and I tried to upgrade from 3.1 to 6.1 and still getting the same error ...the logs are not guiding to certain error and doesn't seem to be port thing:

[code]

[2019-07-23 13:55] hclaria commented on #553
Hello,
We would like to see a boolean type for Tower surveys as well !
Thanks,

[2019-07-23 14:26] ryanpetrello commented on #4356
Hey @NivLipetz,

Thanks for reporting this - this is a limitation of our support for generating those reference docs using Swagger.  Unfortunately, there's not currently a way with our framework (Django Rest Framework + `python-openapi-codec`) to itemize *potential* HTTP response codes:

https://github.com/core-api/python-openapi-codec/blob/baa97e0a0dc0651fd27fc00948da0f6369ee1630/openapi_codec/en

[2019-07-23 15:07] konkolorado commented on #3956
Are there any stopped containers after the task fails whose logs you can see?  If there are, doing a  `docker logs awx_web` might have more information on what's going wrong.

    timeout=self.timeout)
  File "/usr/lib/python2.7/site-packages/compose/project.py", line 559, in up
    'Encountered errors while bringing up the project.'

This makes me think something's up with your Docker daemon.  Do

[2019-07-23 15:38] grahamn-gr opened #4366 "Add "pending_jobs" metric"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Add "pending_jobs" metric so you can spot if AWX is not processing jobs

There are metrics to show running jobs but nothing for pending jobs.
We sometimes see issues with our AWX instances which are usually spotted by a high number of pending jobs in the queue.
It would be good to add pending jobs as a metric so issues ca

[2019-07-23 16:24] matburt commented on #3807
Looks like just incorrect usage of the provisioning callback.

[2019-07-23 16:24] #3807 closed, assigned to nobody

[2019-07-23 20:07] Spredzy commented on #3973
Verified

[2019-07-23 20:07] #3973 closed, assigned to Spredzy

[2019-07-24 13:47] jcwang84 opened #4371 "AnsibleAWX Docker-compose file updated,working with ansible task & web 6.0.0"
Hi all
docker-compose file i found on github that doesnt work with any version above 3
I have updated docker compose file. see my repo below if you needed .
https://github.com/jcwang84/AnsibleAWXDocker

[2019-07-24 13:50] clushie commented on #2540
Fixed with https://github.com/ansible/awx/releases/tag/6.1.0, it should be safe to close this ticket.

[2019-07-24 13:56] ryanpetrello commented on #4371
@jcwang84,

If you've fixed an issue with AWX, please file a detailed issue and open a pull request.

Thanks!

[2019-07-24 13:56] #4371 closed, assigned to nobody

[2019-07-24 16:35] naren-ambati commented on #3684
@majerus1223 that was helpful, but do you think we can pass the admin credentials using "docker run" command.

[2019-07-24 17:34] majerus1223 commented on #3684
If you can I do not know how..

[2019-07-24 17:58] dsesami commented on #3348
@mabashian question for you -- when I move the inventories/demo inventory/HOSTS page to half-width, the description vanishes. Is this intentional? Seems odd that the field vanishes when the page is at half width.

**Half width:**
![Screenshot from 2019-07-24 13-56-08](https://user-images.githubusercontent.com/19942822/61816694-e708b100-ae1a-11e9-8983-f3ef8c5f1fd2.png)

**Full width of same page:**

[2019-07-24 23:03] unlikelyzero commented on #4302
Verified that System Auditor can now navigate to All Dashboard Nav Options including Settings
Verified that System Auditor's view of settings page includes header: "System auditors have read-only permissions in this section."

[2019-07-24 23:03] #4302 closed, assigned to nobody

[2019-07-25 16:22] falcon78921 opened #4373 "Job Slice Calculation for Clustered Environments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Is it possible to have a standard method of calculation for slices in clustered environments?

Users may overbook Tower resources if they don't have the appropriate processing power or they're running intensive playbook operations and set a high slice count.

[2019-07-25 19:07] rooftopcellist commented on #4366
This is resolved by #4375.  Thanks for the idea @grahamn-gr!

[2019-07-25 19:07] #4366 closed, assigned to rooftopcellist

[2019-07-25 19:34] ryanpetrello opened #4376 "Isolated node cleanup bug can cause isolated capacity to fail to update"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1.  Install a cluster with one or more isolated nodes.
2.  Configure the periodic isolated cleanup so it happens more frequently:

[code]

3.  Run _this_ script on the isolated node (as the `awx` user):

[code]

4.  The periodic capacity check for isolated nodes will fail with this traceback:

![image](https://user-images.githubusercontent.com/214912/6

[2019-07-26 06:17] bjmingyang commented on #4294
@megakoresh Root cause is while doing a backup on a Tower instance, it is not excluding rabbitmq.py and hence while doing a restore on a different Ansible Tower instance it restores the original rabbitmq.py, which breaks the rabbitmq clustering.

use this command fix it

 sudo -u awx scl enable rh-python36 rh-postgresql10 "awx-manage create_preload_data"
 sudo -u awx scl enable rh-python36 rh-post

[2019-07-26 07:12] megakoresh commented on #4294
@bjmingyang Root cause is hardcoded hostnames in configuration files, namely `settings.py`. Changing `awx_task_hostname` inventory variable changes service discovery  hostname, while settings still refer to `awx`. This breaks the installation. And any solution that involves poking around in a running container is not a solution at all. This must be fixed properly.

[2019-07-26 11:28] AndreMTrindade opened #4381 "[DOUBT] How can i add more than one credentials to a job template?"
Good morning.

I have a rocky doubt can someone help me?
I want created a job workflow to deploy configurations to multiple remote hosts but i just can add one credential per job template. Is it possible add multiple credentials per job template for my multiple remote hosts?

Thanks for help.
Grazie

[2019-07-26 12:00] ijmason opened #4382 "API job_templates/id/launch no longer accepting 'credential' param"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Hi, we have been using a very old version of AWX (pre-2.0) until this week we were finally able to upgrade to 6.1.0.

The only problem we have seen so far is with our in-house application which launches jobs through the API.

Previously, that application would make a POST to api/v2/job_templates/id/launch, and include parameters for the inventory and

[2019-07-26 16:22] ryanpetrello commented on #4382
Hey @ijmason,

This _is_ an intentional removal of a feature that dates from API v1 (which as you noted, we recently removed in `6.0.0`).  For convenience, we added support to keep this working in `/api/v2/` when we deprecated `/api/v1/` years ago, but we did remove the polyfill from `/api/v2/` when we removed `/api/v1/`.

All of this has been part of a multi-year transition period to move to a ne

[2019-07-26 16:22] #4382 closed, assigned to nobody

[2019-07-26 16:27] ryanpetrello commented on #4381
Hey @AndreMTrindade,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-07-26 16:27] #4381 closed, assigned to nobody

[2019-07-26 16:53] ijmason commented on #4382
Thanks @ryanpetrello, that clears things up.  Based on that though I would expect our older AWX install to accept the new credentials list in v2; if that should be the case then I will have to figure out why that didn't seem to work in my tests.

[2019-07-26 17:00] ryanpetrello commented on #4382
You might have something slightly wrong, or it's also possible that version you're using doesn't _have_ the new `credentials` support on launch.

This is where it was added (merged Nov 27, 2017, _likely_ available in Dec 2017 as part of awx 1.0.2): https://github.com/ansible/awx/pull/595

![image](https://user-images.githubusercontent.com/214912/61968167-4c88a900-afa5-11e9-83e8-8e48c66fcfc6.png)

[2019-07-26 17:11] nanoscopic opened #4384 "Git force push breaks project sync"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The following breaks the ability to sync a project against git:

1. Setup a project against a git repo
2. Sync the project
3. Git commit --amend the last commit and force push it to the repo ( not a great practice; but commonly done )
4. Try to sync the project ( specifically in my case tried to sync an inventory file in the project )
5. Cannot sync (

[2019-07-26 17:14] wenottingham commented on #4384
Is 'clean' or 'delete on update' set?

[2019-07-26 17:19] nanoscopic opened #4386 "Inventory source sync does not sync. Should be called import"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory sources just get imported. There is no tracking past that, so changes in a git source inventory.yml file do not sensibly "sync". I understand that all the feature does is import the latest data, but as such it should be called "import". ( or made to actually track and sync )

##### ENVIRONMENT
* AWX version: 6.1.0.0
* AWX install method: dock

[2019-07-26 17:26] #4386 closed, assigned to nobody

[2019-07-26 17:26] nanoscopic commented on #4386
Checking the 'overwrite' option on the source corrects this issue. Non-issue. Did not realize the option does that.

[2019-07-26 17:29] ryanpetrello commented on #4358
@ThomasRasmussen,

Can you provide some additional info about how to reproduce this?  It's not something I've seen in any of my installs.  Can you provide some information about the sizing/hardware of your install?

[2019-07-26 17:32] ryanpetrello commented on #4350
We might revisit improving the UX here so it's clearer: https://github.com/ansible/awx/issues/4355

[2019-07-26 17:32] #4350 closed, assigned to nobody

[2019-07-26 17:33] ryanpetrello commented on #4349
@mabashian you have any ideas here, or have some time to take a look at this?

[2019-07-26 17:40] nanoscopic commented on #4384
Delete on update is not set. ( assuming you mean the option to fully delete and checkout again )
Agreeably that would likely let it work; because it won't try to do an incremental pull.

I have now though retried to produce the same error I encountered yesterday. On second attempt I do not get the error; I get green on both syncs. My file though is not updated. I double checked the bitbucket I for

[2019-07-26 17:42] ryanpetrello commented on #2598
@AlanCoding what's the state of this issue?  Is it still broken, or did your PR fix it?

[2019-07-26 17:44] nanoscopic commented on #4384
Looking further there is no issue with AWX. The initial error I encountered appears to have been triggered somehow by not first syncing the project then syncing the source, then poking at the local copy of the file that AWX checked out.

I believe my issue that caused the error would have been fixed by using the 'clean' option to discard local changes.

[2019-07-26 17:44] #4384 closed, assigned to nobody

[2019-07-26 17:46] wenottingham commented on #4327
Can you given an example of the sort of inventory you're looking to import? I would expect this to be in `group_vars/all` (or equivalent)

[2019-07-26 20:07] ijmason commented on #4382
@ryanpetrello thanks, I'll have to go back and see what happened.  I think I was passing both fields at one point so that may be what it didn't like.

Thanks again for the quick response.

[2019-07-26 21:20] juliakir commented on #761
@ripun .. I am having same issue where playbook doesn't see group_vars/files ..can you tell ..
you specified you fixed issue by "including group_vars dir at playbook level in all playbooks directory"

how do you do it ? Do you provide path to group_vars ?

thanks
Julia

[2019-07-26 22:10] jrosa770 commented on #1889
Fantastic non-answer...

[2019-07-27 01:40] ryanpetrello commented on #1889
@jrosa770 what exactly isn't answered?  `awx-manage` is an executable that's installed *by* the AWX installer **on** the AWX nodes (Docker container, pod, what have you) - it's a Django-based diagnostic tool that lets you work with the local postgres database in a variety of ways that might affect your installation, and it's not something you can install or use outside of that context (because it

[2019-07-28 13:56] svrraja opened #4389 "Build AWX with AWX and AWX-custom logo"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Build awx image along with AWX-logo but still only angry potato logos are there and not the  AWX logo.

Build AWX image with AWX-logo and installed (k8s), even the login and dashboard are having angry potato logos only.
Uploaded the custom logo under settings - User interface - Custom LOGO which changed the logo in login screen but after making this c

[2019-07-29 02:09] mattluk168 opened #4390 "AWX 5.0 How can I get the error message"
##### ISSUE TYPE
 - How can I get the error message in awx

##### SUMMARY
I see some specialist can found the error message in the server/awx web. How can they get the error messages?

Eg. https://github.com/ansible/awx/issues/886

[2019-07-29 08:06] ThomasRasmussen commented on #4358
Our setup is as follows:
* VM running Ubuntu 18.04 LTS 2 CPU 4GB RAM
** VM running docker.io 18.09.5
** AWX version 3.0.1 installed via docker-compose (modified i believe)
[code]

PostgreSQL database is externally from AWX and running on separate non-dockerized VM.

PostgreSQL version 9.5

[2019-07-29 09:57] mikeycmccarthy commented on #4292
Also interested in this one! It seems a funny one in terms of what the permission is on. A job template admin can't assign the instance group, but is that because they can't 'use' the instance group effectively?

[2019-07-29 11:11] mbzieba commented on #2556
This is still problem for us.
Can anyone fix it?

[2019-07-29 13:50] ryanpetrello commented on #4390
Hey @mattluk168,

Generally the types of errors you're talking about are surfaced in the server logs for your installation (which can be in a variety of locations depending on your installation method, such as `docker logs` of `/var/log/tower/`).

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list o

[2019-07-29 13:50] #4390 closed, assigned to nobody

[2019-07-29 14:29] dsesami commented on #4029
Tested this with both standard and smart inventories. Websocket connections coming in do not affect/reset the inventory creation page for either standard/smart inventories.

[2019-07-29 14:29] #4029 closed, assigned to mabashian, dsesami

[2019-07-29 14:42] ryanpetrello commented on #4358
@ThomasRasmussen,

I missed a key detail when I read your initial `pg_stat_activity` paste.

The queries in your example are all `idle` queries, not `active` queries.  Do you have any long running queries that are marked as `active`?

From the postgres docs:

https://www.postgresql.org/docs/9.2/monitoring-stats.html

[code]

As for your calculated duration, it's not really measuring what you think

[2019-07-29 14:42] #4358 closed, assigned to nobody

[2019-07-29 14:43] dsesami opened #4392 "Can't click an inventory in the list of org inventories"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If I have an organization and click an inventory in its list (Org -> Inventory list), the hyperlink doesn't work.

##### ENVIRONMENT
* AWX version: latest
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Create an inventory with an arbitrary org.
Go to the org page, then click the inventory list, then try to click the inventory.
##### EXPECTED RESULTS
I

[2019-07-29 15:50] dsesami commented on #3830
when viewing the search filter modal with an organization that has no hosts, I see the default message for adding host filters, not the "no hosts" helper message that was expected.

With a random filter:
![Screenshot from 2019-07-29 11-48-43](https://user-images.githubusercontent.com/19942822/62062369-e1361580-b1f6-11e9-8f71-87d28014e422.png)

With no filter, but no accessible hosts for the org (e

[2019-07-29 17:28] dsesami commented on #4392
see #4393 -- reviewed and approved that these links work correctly.

[2019-07-29 17:28] #4392 closed, assigned to marshmalien

[2019-07-29 19:02] #4223 closed, assigned to keithjgrant

[2019-07-29 19:03] #4232 closed, assigned to keithjgrant

[2019-07-29 19:14] AlanCoding commented on #2598
The PR does fix it, but an API fix was not anticipated for this issue.

The PR further undermines the role of the `organization` field for labels, but I don't if that can be avoided.

If anyone wants to have this solved a different way, I can work with them on that. For instance, when the UI shows the dropdown we could filter that based on labels in orgs the user is a member of. Myself, I don't th

[2019-07-30 00:58] jladdjr opened #4394 "Job notification data omits new host summary fields (rescued, ignored)"
##### ISSUE TYPE
 - Bug Report

##### ENVIRONMENT
* AWX version: devel
* Ansible

##### SUMMARY
The Job model's `notification_data` method omits the new ansible host summary fields added [here](https://github.com/ansible/ansible/pull/48418).
https://github.com/ansible/awx/blob/c7bb0f10e10476e10df8a7e7b26732eb60958ca1/awx/main/models/jobs.py#L655-L661

##### STEPS TO REPRODUCE

1. Create a job temp

[2019-07-30 04:33] alekslebedev commented on #4389
I have the same problem. When you build your own image, awx ignore official=true setting in inventory file.

[2019-07-30 07:21] ajs-88 commented on #3684
This really helps. Thanks,

[2019-07-30 08:29] JG127 opened #4395 "Error deleting Demo data"
I al using ansible-pull in a cron job to configure the local machine. Among which is removing the seeded demo data. The very first run succeeds. However, all succeeding runs fail with the error message:

`fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to update job template: The requested object could not be found."}`

It is a bit unexpected to get an error message about a missin

[2019-07-30 09:23] riahc3 commented on #989
I also do not understand why is there no way to install this on bare metal or VM. There is no benefit.

[2019-07-30 14:16] ryanpetrello opened #4397 "is_system_auditor flag isnt working properly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
`is_system_auditor` flag on ldap isnt working properly. When the ldap user logs in for the first time in AWX it doesnt assign the user as system auditor, it only creates it as a normal user. But if you re-login with the same ldap user, it assigns it as `system_auditor`.

##### STEPS TO REPRODUCE

1.) Have a `is_system_auditor` flag set on ldap configur

[2019-07-30 14:40] kdelee commented on #3922
I am now getting more environment variables set in the environment:
[code]

But when I use https://github.com/apitanga/ansible-playground/blob/master/playbooks/cloud.google/gcp_compute_disk.yaml + our gce credentials + these extravars:

[code]

I still end up with this error:
[code]

[2019-07-30 15:05] wenottingham commented on #4395
This issue should be filed in https://github.com/ansible/ansible for the modules referenced, or in https://github.com/ansible/tower-cli for the underlying library. This isn't an AWX issue - closing.

[2019-07-30 15:05] #4395 closed, assigned to nobody

[2019-07-30 17:03] ctmitche777 commented on #1900
I am having the same issue.  I've replicated the LDAP configuration between AWX(container)-AWX(non-container)->AnsibleTower.  It works in both AWX(non-continer) and Ansible Tower, but not the dockerized version of AWX.  Is there something you need to do to get LDAP authentication working in containerized AWX?

AWX 6.0.0.0
Ansible 2.8.1

[2019-07-30 17:27] dsesami commented on #3348
followed up w/ @mabashian , this design is intentional. closing :+1: host description appears with names.

[2019-07-30 18:32] mabashian commented on #4343
Could be related - there were some changes somewhat recently dealing with the enter button taking you to the next tab in the prompt modal. https://github.com/ansible/awx/pull/3594 and https://github.com/ansible/awx/pull/4003 are possibly related

[2019-07-30 19:32] mabashian commented on #4344
Yea, we've talked about adding a tooltip to each node with this type of information in the results view for a workflow.  This is mockup for a slightly different scenario but it would look something like this:

<img width="237" alt="Screen Shot 2019-07-30 at 3 31 12 PM" src="https://user-images.githubusercontent.com/9889020/62159205-27ff3a80-b2df-11e9-8f8e-40c2c588066a.png">

except that it would i

[2019-07-30 19:58] LaurencelleJ commented on #2817
Any plans to add this as a feature?  This is a pretty serious deficiency when you can't support simple query constructs like 'not'.

I would be nice to do something like this:
host_filter": "groups__name=group1 and not__name__icontains=xyz"

[2019-07-30 20:44] tvo318 opened #4400 "CyberArk web service provider prerequisite"
##### ISSUE TYPE
 - Enhancement

##### SUMMARY
To address a concern from user(s) on the mailing list - we want to explicitly mention the Central Credential Provider service in the name of the lookup plugin and in its documentation to make it more clear that you need the central provider service component installed to your aim server in order to store secrets in it (and therefore use our secret loo

[2019-07-30 21:07] #4362 closed, assigned to nobody

[2019-07-31 08:30] svrraja commented on #4389
I had Manually changed the files to make it work

[2019-07-31 10:40] alex-mnt commented on #2000
Hi guys,

Any news about this?

[2019-07-31 11:37] egroeper commented on #3983
@ragingpastry If ssl is supported is decided at building time. Therefore with the current solution it will never work with upstream containers. You have to build them by yourself.
At least this is my guess why it's not working (nginx SSL-configuration is done in the image_build role).

Tested with awx-web 6.1.0.

[2019-07-31 12:46] augabet commented on #4344
Hello, that would be perfect for our use case !

[2019-07-31 12:51] Spredzy commented on #2863
Closing it as it is done

[2019-07-31 12:51] #2863 closed, assigned to jbradberry, Spredzy

[2019-07-31 13:30] bkmeneguello opened #4402 "User from LDAP with superuser flag treated as auditor in config section"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have an user from LDAP properly configured with "is_superuser" (from LDAP group). In the user page it's displayed as "User type: System Adminstrator" but when I access the configuration pages there is a banner saying: "System auditors have read-only permissions in this section." and everything is read-only.

##### ENVIRONMENT
* AWX version: 6.1.0
* A

[2019-07-31 14:01] ragingpastry commented on #3983
Hey @egroeper I assume you meant to tag ryan?

[2019-07-31 14:25] egroeper commented on #3983
@ragingpastry If ssl is supported is decided at building time. Therefore with the current solution it will never work with upstream containers. You have to build them by yourself (nginx SSL-configuration is done in the image_build role).
At least this is my guess why it's not working when using upstream containers, but it works, when switching to self-build containers.

Tested with awx-web 6.1.0.

[2019-07-31 14:26] egroeper commented on #3983
Yes. Of course. Sorry!

[2019-07-31 14:27] tumbl3w33d commented on #3611
I also just ran into this problem (not for the first time, but last time it was about [adding additional volumes](https://github.com/ansible/awx/pull/3253)) and for those who need a workaround, this is how you extend the existing compose file with network options:
[code]
There are [more](https://docs.docker.com/engine/reference/commandline/network_create/),  but the mtu is a quite frequent case, I

[2019-07-31 14:28] egroeper commented on #3983
@ryanpetrello Please see my comment above. Not sure, if anything should be done about this. The comment was to document the behavior.

[2019-07-31 14:30] egroeper commented on #2250
Since awx 5.0.0 SSL is supported, if you build the containers by yourself. See #3983.

[2019-07-31 14:44] wenottingham commented on #4402
Can you try a build with https://github.com/ansible/awx/pull/4396 merged? (There isn't a container on dockerhub built with this yet, you may need to build your own.)

[2019-07-31 17:34] mabashian commented on #4349
@naren-ambati unfortunately I haven't been able to pin down the exact steps needed to reproduce this behavior.  Could you provide me with a basic outline of steps to reproduce?  What does the job template look like?  Does it have a default credential?  If so, what type of credential?  How many workflow nodes are you updating with overriding credentials?  Does this only happen when creating new wor

[2019-07-31 17:50] naren-ambati commented on #4349
My workflow contains more than 5 job templates with both parallel and concurrent job runs. Most of the credentials we use are machine and we got more than 10.

Default Credentials are assigned to some templates, but for some minor applications we don't use any default and make it prompt so that we can select the credentials while deploying.

**Easy way** : Adding **Credentials** checkbox next to I

[2019-07-31 18:52] kdelee commented on #3922
Working on a more general reproducer, and trying to find modules for which our credentials work.

This is what I've got so far:

https://github.com/kdelee/test-playbooks/blob/more_gcp_modules/cloud_modules/gce.yml
Created ^ by looking at https://docs.ansible.com/ansible/latest/scenario_guides/guide_gce.html

When adding these extra vars and a GCE credential:
extra vars:
[code]

STDOUT showing `mis

[2019-07-31 21:38] naren-ambati opened #4406 "Job Fails right away throwing Traceback errors."
### SUMMARY
JOB fails throwing exception python errors.

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: docker on linux
* Operating System: Oracle Linux
* External Rabbitmq
* External memcached

##### EXPECTED RESULTS
- Trying to ping my server. Should get pong.

##### ACTUAL RESULTS
`
Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib64/python3.6/site-packages/crypto

[2019-07-31 21:48] ryanpetrello commented on #4406
@naren-ambati

It this a fresh install, or did you restore/backup/migrate from some other installation?  This error is usually a sign that you migrated data between installs incorrectly.

[2019-07-31 21:57] naren-ambati commented on #4406
I took copy of existing AWX container and enabled ssl and changes things for external dependencies. Do you think that messed things up?

[2019-07-31 22:01] ryanpetrello commented on #4406
In order for secrets (like SSH keys you entered into the database) to be decrypted properly, you'll need to persist the original `SECRET_KEY` value across deployments:

https://github.com/ansible/awx/blob/devel/installer/roles/local_docker/tasks/compose.yml#L18

[2019-07-31 22:01] #4406 closed, assigned to nobody

[2019-07-31 22:04] naren-ambati commented on #4406
/etc/tower/settings.py takes care of that right
[code]

[2019-08-01 08:54] blindrood commented on #4293
We've upgraded awx to 6.1. Extra pipe no longer appears.
Extra variables are still splitted char by char

[2019-08-01 13:37] zdriic opened #4408 "AWX 1.0.6.15 : Permanent Error in awx_task"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
When I check docker logs with the command "docker logs -f awx_task", I still get the error message below every 30 seconds approximately.
In my opinion, this is a bug of the version from at least version 1.0.6.15 to 1.0.6.41 (or more).
Have you ever seen this error before?

##### ENVIRONMENT
* AWX version: 1.0.6.15 (an

[2019-08-01 13:44] mabashian commented on #4349
@naren-ambati I want to make sure I'm understanding what you're asking for.

This sounds like an enhancement to the workflow template form.  You're asking for the option to provide a global credential at the workflow template level that would overwrite the credentials for each job template in the workflow?  Something like this:

<img width="1501" alt="Screen Shot 2019-08-01 at 9 34 18 AM" src="htt

[2019-08-01 14:56] msilmser opened #4412 "RFE: Prevent users from modifying LDAP managed resources"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, if you attempt to modify an existing LDAP created resource (org/team), it will leave the existing resource and create a new one with the modified specs. We have a request to prevent all users from being able to manage these via the UI.

[2019-08-01 15:22] AlanCoding commented on #4258
Draft of the tooltip for this new field:

----
A refspec to fetch (passed to the Ansible git module).
This parameter allows access to references via the branch field not otherwise available.

NOTE: This field assumes the remote name is "origin".

Examples:

[code]

Fetches _all_ references.

[code]

Fetches only the Github pull request number 62, in this example the branch needs to be `refs/pull/6

[2019-08-01 15:22] AlanCoding commented on #4258
The implementation of this remains perfectly congruent with the git module:

https://docs.ansible.com/ansible/latest/modules/git_module.html

Thus, the wording "passed to the Ansible git module"

[2019-08-01 15:29] naren-ambati commented on #4349
@mabashian  First part is exactly right. Second part, yes it is a bug.
small example: My workflow has 5 job templates, I started changing credentials in prompt for each job template. I started from top to bottom. After changing all the prompts and when I refresh into the visualizer, I can see the prompt changes only in the bottom last one and no changes applied for first 4. This confirms as a bug.

[2019-08-01 17:51] AlanCoding commented on #3922
To give an update, we got pretty good at replicating the error with:

and the linked PR fixes it. I've applied the `mergit` label, and it is expected that it fixes the issue here.

[2019-08-01 18:10] kfattig commented on #2086
This configuration results in a medium severity from Nessus:

[87733 AMQP Cleartext Authentication](https://www.tenable.com/plugins/nessus/87733)

[2019-08-01 19:10] kdelee commented on #4010
@ryanpetrello can you clarify if this is the bug that prompted https://github.com/ansible/awx/pull/4409/files ?

[2019-08-01 19:11] ryanpetrello commented on #4010
@kdelee yes, https://github.com/ansible/awx/pull/4409/ should resolve this.

This has been stuck in `needs_test` for awhile, because we attempted to fix it in runner (and our approach didn't work), so we put it on the back burner (until now).

[2019-08-01 19:11] kdelee commented on #4010
thanks

[2019-08-01 22:43] shabir-khan commented on #4069
Hi dear,
I am also facing the same issue and to be true I don't know too much for Linux, I am trying AWX for network automation. my version is ubuntu 18.4.2.

Can you please guide me on which exact commands did you apply to resolve the issue.

Thanks in advance

[2019-08-02 09:13] morganw opened #4414 "PLAYBOOK DIRECTORY of project show [object Object]"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
in project, when SCM_TYPE select Manual, and the PLAYBOOK DIRECTORY sometimes show [object Object]
i look the code awx/awx/ui/client/src/projects/factories/get-project-path.factory.js
 scope.project_local_paths = arraySort(opts);
                    if (scope.local_path) {
                        for (i = 0; scope.project_local_paths.length; i++) {

[2019-08-02 09:52] morganw commented on #4414
now i  modify: it become ok
if (scope.local_path) {
    // List only includes paths not assigned to projects, so add the
    // path assigned to the current project.
    if (scope.local_path instanceof Object){
        opts.push({
            label: scope.local_path.value,
            value: scope.local_path.value
        });
        scope.local_path = scope.local_path.value
    }
    else{

[2019-08-02 11:50] zdriic opened #4416 "AWX 1.0.6.15/41 : win_ping module FAILED ntlm code 403"
##### ISSUE TYPE
 - Bug Report
 - Documentation

##### COMPONENT NAME
 - UI

##### SUMMARY

My goal is to use AWX to do some actions on Windows servers (in a company).
From the command line I can ping my test server with the win_ping module from my Ubuntu VM (18.04) with the Ansible package (v2.8.3).

In the "inventories" directory, I have this :

/inventories
---inventory.inv (file)
---/group_var

[2019-08-02 17:31] wenottingham commented on #4416
Hi - this looks like an issue with your inventory or configuration, not with AWX itself. You may have better luck on the awx-project mailing list, or the ansible-awx IRC channel; this repo is for AWX bugs only.

[2019-08-02 17:31] #4416 closed, assigned to nobody

[2019-08-02 17:32] awithrow9 commented on #4414
@morganw can you try this on the latest version (6.1.0) and let us know what you find?

[2019-08-02 17:37] wenottingham commented on #4408
Hi -

I understand you may be stuck on the older versoin, but we are not maintaining or providing fixes for that. For bug reporting, you will need to be a on a current version (6.1.0 is the current release).

[2019-08-02 17:37] #4408 closed, assigned to nobody

[2019-08-02 22:32] sumkincpp commented on #4230
Something similar for hosts lookup would be great!

[2019-08-04 21:42] Spredzy commented on #4010
This is fixed now.

[2019-08-04 21:42] #4010 closed, assigned to matburt, chrismeyersfsu, Spredzy

[2019-08-04 21:45] Spredzy commented on #4397
This is fixed.

[2019-08-04 21:45] #4397 closed, assigned to ryanpetrello, Spredzy

[2019-08-05 05:28] hiyokotaisa opened #4418 "SCM Update and Job Templates marked as failed when one of inventory sync failed during another inventory sync is running"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

SCM update has been marked as failed with the error `inventory_update failed for <INVENTORY NAME> - <INVENTORY SOURCE NAME> with ID <INVENTORY SYNC JOBID>` even if there is no error in the SCM update job.

This will happen when the `Inventory Update X` is launched and running and `Inventory Update Y` is failed while `Inventory Update X` is still runni

[2019-08-05 08:43] Spredzy commented on #4376
This is fixed.

[2019-08-05 08:43] #4376 closed, assigned to ryanpetrello, Spredzy

[2019-08-05 09:20] Spredzy commented on #1998
this is verified and working as expected

[2019-08-05 09:20] #1998 closed, assigned to ryanpetrello, Spredzy, AlanCoding

[2019-08-05 10:22] GoodHaHa opened #4419 "Scheduler job not work"
##### ISSUE TYPE
scheduler job not work

##### SUMMARY
scheduler job not work

##### ENVIRONMENT
* AWX version: 6.1.0 and 6.0.0
* AWX install method: docker on centos
* Ansible version:  2.5.8
* Operating System: centos 7.4
* Web Browser: chrome

##### STEPS TO REPRODUCE

scheduler job not work

##### ADDITIONAL INFORMATION

[code]

[2019-08-05 14:58] mlninc commented on #3267
I was experiencing this error in AWX for over a week: `AttributeError: 'HTTPError' object has no attribute 'headers`
Setting host vars as advised by @ryanpetrello solved my problem
solution:
 `  vars:
    ansible_python_interpreter: '{{ ansible_playbook_python }}'`

[2019-08-05 15:21] mrmibrown opened #4421 "Add 'limit' field in job search"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add the limit field in searches to find jobs run where a host name was in limit.  Also allow a none option so you could search for job runs with no limit set (IE that ran against the entire inventory.)

[2019-08-05 15:23] mrmibrown opened #4422 "Allow hosts to be removed from a locked inventory"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Allow hosts to be removed from an inventory when current jobs are being run against that inventory in the case where all jobs running have limits set and the host being removed is not in any of those limits.

Currently if an inventory has 100 hosts, and a job is run against a single host, all 100 are locked out from being removed.

[2019-08-05 15:33] mrmibrown opened #4424 "Forks should take 'limit' into account when calculating available capacity"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, utilization of capacity is taken as the lesser of the number of the hosts in the inventory, or the number of configured forks for the job template.  So if there are 5 hosts in an inventory and a template has 10 forks set, it will utilize 5+1 for the parent process, or in this case, a capacity of 6.

This calculation does not take limits in

[2019-08-05 16:21] wenottingham commented on #4421
Enter `job.limit:<whatever>` in the search/filter job to search by limit.

limit is not interpreted to a set of hosts by Tower (only by Ansible at job run time), so if you want to determine on which hosts actions happened, you'll need a different query.

[2019-08-05 16:21] #4421 closed, assigned to nobody

[2019-08-05 16:23] wenottingham commented on #4421
To find what jobs have run on a hosts, see the `completed jobs` view for that host.

[2019-08-05 16:25] wenottingham commented on #4424
As noted elsewhere, `limit` is only processed by Ansible, not Tower; the number of hosts processed is not known until after the job is launched and capacity has already been determined.

[2019-08-05 16:27] monorailpilot commented on #4424
Given that Tower knows both the inventory at the time the job is launched and the limit, wouldn't it be able to incorporate the same logic as ansible to determine the number of hosts?

[2019-08-05 16:32] wenottingham commented on #4422
As noted in similar issues, limit is adjudicated by Ansible, not Tower.

Even if Tower were to track this, it would be a rather large change to where job runs are tracked and how.

[2019-08-05 16:32] wenottingham commented on #4424
~~Not in a way that works identically across update-on-launch inventory sources.~~

Edit: this may work. You're still constrained to having a direct reimplementation (ansible can't be imported to do this due to license.)

[2019-08-05 16:46] appuk commented on #4359
Template Description is now visible in the expanded view:

<img width="1680" alt="Screen Shot 2019-08-05 at 12 37 46 PM" src="https://user-images.githubusercontent.com/11617351/62480475-f1616e00-b77d-11e9-8c6f-6e3085fc6e96.png">

[2019-08-05 17:27] mabashian opened #4426 "Add RBAC rules to side-nav"
##### SUMMARY
The side-nav in `ui_next` does not have any RBAC rules baked in yet.  This issue will be used to track that work.  https://github.com/ansible/awx/blob/devel/awx/ui/client/lib/components/layout/layout.partial.html can be used as a reference.  In general, we want to do the following:

1. Hide Settings, Management Jobs, and Credential Types from _all users except system administrators a

[2019-08-05 17:41] mabashian commented on #4235
@AlexSCorey @unlikelyzero It looks like this is done/merged over a month ago.  I'm going to close.  Feel free to re-open if needed.

[2019-08-05 17:41] #4235 closed, assigned to unlikelyzero, AlexSCorey

[2019-08-05 17:44] mabashian commented on #4231
https://github.com/ansible/awx/pull/4257 has been merged so I don't think this is blocked any longer.

[2019-08-05 17:45] mabashian commented on #4222
#4223 is done - this is no longer blocked.

[2019-08-05 17:52] mabashian opened #4427 "Traceback shown on job template add form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

<img width="1680" alt="Screen Shot 2019-08-05 at 1 46 52 PM" src="https://user-images.githubusercontent.com/9889020/62484331-f4f9f280-b787-11e9-824e-da62c39e54f0.png">

##### STEPS TO REPRODUCE
1. Navigate to `/#/templates/job_template/add` in the `ui_next` project.

##### EXPECTED RESULTS
No traceback

##### ACTUAL RESULTS
Traceback

##### ADDITIONAL

[2019-08-05 17:53] mabashian commented on #4427
Note that this error does not show up on the edit form.

[2019-08-05 17:54] mabashian commented on #4233
Since #4229 is done I don't think this is blocked any longer.

[2019-08-05 17:55] dsesami opened #4428 "HINT fields when creating a machine-type credential should be translated."
##### ISSUE TYPE
 - Bug Report

#### SUMMARY
![Screenshot from 2019-08-05 13-38-57](https://user-images.githubusercontent.com/19942822/62484238-caa83500-b787-11e9-97fd-eb488a3e9841.png)

The HINT tips at the tops of these boxes aren't getting translated. @wenottingham noticed that the string in `components.strings.js` doesn't match the string in the translation files.

[code]

##### ENVIRONMENT
*

[2019-08-05 18:20] jakemcdermott opened #4429 "ui_next dependency updates"
##### SUMMARY
 - update pf libs to latest
 - remove all security warnings*

`*` The last time I checked, this means updating `axios` which in turn breaks some of our unit tests. Part of the work here will involve investigating this and making the necessary fixes to get the tests green after updating.

[2019-08-05 18:50] mabashian opened #4430 "Add host details modal to output"
##### SUMMARY
More detail may be needed in this issue but I'm going to do my best to include what's needed/where to look for more information in the existing application.

[Link to mockups](https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs-output-host-modal/)

To see the existing logic governing whether or not an event row is clickable reference [this bit of logic](https://github.com/

[2019-08-05 18:51] mabashian commented on #4430
Blocked until #4224 lands

[2019-08-05 19:05] mabashian opened #4431 "Add Advanced section to job template form (add and edit)"
##### SUMMARY
Now that the job template form skeleton is in place and the unique fields are starting to filter in we can move forward with adding the `Advanced` section to the Job Template form.  Here's a [link](https://tower-mockups.testing.ansible.com/patternfly/templates/templates-add/) to the mockup of the add form.  Note that in the mockup, the `Advanced` section is closed by default.  If the

[2019-08-05 19:40] trahman73 commented on #4431
@mabashian Actually, I'll remove the Advanced button from the Edit mockups so we would just show the all applicable fields in the view.

[2019-08-05 20:01] RcRonco commented on #20
I would like to see this feature added as well

[2019-08-05 20:04] gomker commented on #4273
@AlanCoding  For the Amazon EC2 inventory I do show that it obeys these vars
![image](https://user-images.githubusercontent.com/3577339/62491663-2a0b4280-b792-11e9-8782-f0f4d45091bf.png)
Am I misunderstanding something in that this is specific to the Azure inventory itself?

[2019-08-05 20:47] kdelee commented on #3922
This same scenario is working for me now! https://github.com/ansible/awx/issues/3922#issuecomment-516975643

Calling this done

[2019-08-05 20:47] #3922 closed, assigned to kdelee

[2019-08-05 20:47] kdelee commented on #4353
This is working for me now, thanks!

[2019-08-05 20:47] #4353 closed, assigned to AlanCoding, kdelee

[2019-08-05 22:23] donateur commented on #2893
This is very similar to a problem I've raised with Red Hat support on behalf of my client - although I'm not sure what SJT is.
We find that when re-doing failed hosts there may be fewer hosts than the number of job slices.

I suggested that AWX be modified to either:

1. Only open as many slices as there are hosts (up to the total number of slices/instances)
OR
2. Ensure that instances with no hos

[2019-08-06 01:59] AlanCoding commented on #4273
Those you mention are documented in https://github.com/ansible/ansible/blob/devel/contrib/inventory/ec2.ini

[2019-08-06 03:19] GoodHaHa commented on #4419
duplicate key

![image](https://user-images.githubusercontent.com/7147143/62508915-dd7c4180-b83b-11e9-87c2-d2660622258f.png)

[2019-08-06 03:19] #4419 closed, assigned to nobody

[2019-08-06 03:34] nduyhai commented on #2178
In my case, UI cannot receive response because firewall filter it

[2019-08-06 10:28] eliranw commented on #20
I am part of a large company that needs this feature to switch their Ansible infrastructure completely from Rundeck to AWX, so I will be happy to see this implemented.

[2019-08-06 10:31] rfedida commented on #20
We are a large enterprise that needs this feature asap.

[2019-08-06 13:56] dsesami opened #4432 "Reverting logging option and saving disables entire page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In `SETTINGS > SYSTEM > LOGGING`, choosing a `LOGGING AGGREGATOR TYPE` and then saving, followed by using the `REVERT` button and saving again, leaves the page in a constant `working...` state, with the entire page being unresponsive until page refresh.

##### ENVIRONMENT
* AWX version: latest
* Operating System: Fedora 30
* Web Browser: Chrome

#####

[2019-08-06 14:36] bkmeneguello opened #4434 "AWS Credential: Add support for STS assume role"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

AWS credentials could support a role ARN and call STS Assume Role service to obtain temporary credentials.
I know the STS Token allow me to do this from outside AWX, but this could be a feature.

https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html

[2019-08-06 14:47] gomker commented on #4273
So Azure fails since they are not defined in https://github.com/ansible/ansible/blob/devel/contrib/inventory/azure_rm.ini

And the inventory script is not configured for those options.
I was trying to understand the differences in the configuration.

Thanks

[2019-08-06 19:49] dsesami commented on #3929
this appears to be fixed now. thanks!

[2019-08-06 19:49] #3929 closed, assigned to mabashian

[2019-08-06 21:02] thoben opened #4438 "Fresh AWX install - login fails Code: 401"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

After finishing the initial awx deployment (Docker) on a fresh Centos installation. The initial login is not functioning properly (http://awx.thoben.local/#/login).

Instead of login successfully the following message appears:

"Returned Error Code: Failed to access user information. GET returned status: 401"

##### Workaround
- Try to login through t

[2019-08-07 04:54] morganw commented on #4414
OK， let me test. thanks.

[2019-08-07 10:07] bfantoni opened #4439 "Variables of tower_workflow_job for email"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

I want to send an email from AWX with some variables from the workflow_job I have just executed.

In the documentation of Ansible Tower, they said : (16.7 Launch a Job Template)
"Along with any extra variables set in the job template and survey, Tower automatically adds the following variables to the job environm

[2019-08-07 11:41] Ashjoker24 commented on #1764
@tjyang hey tj i tried your screenshort in my ansible tower. but it not works for me.
AWX version = 2.1.2
Ansible version = 2.8.2
OS = CentOS

[2019-08-07 13:12] dsesami commented on #4113
Confirmed that I can create a grafana notification directly now, and also that I can edit another notification and change it to a grafana type.

[2019-08-07 13:12] #4113 closed, assigned to mabashian, dsesami

[2019-08-07 13:51] keilr commented on #3769
We also ran into the same problem while refactoring our inventory. It's very confusing and dangerous that deletion of variables in group_vars/all doesn't propagate to the inventory. I suggest to increase priority on this issue.

[2019-08-07 14:01] kdelee commented on #4269
Talked to @ryanpetrello and I think this needs some docs about how it is expected to be used before I can test it. Going to put in `needs_docs`

[2019-08-07 14:28] duthifree commented on #4197
Hello,

i got exact same output with awx v6.1.0

[2019-08-07 19:32] ryanpetrello commented on #4269
@tvo318 you ready to call this closed?

[2019-08-07 19:56] dsesami opened #4443 "Fix popovers on job template form to allow hovering"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When specifying an scm refspec when using branch override, there are example refspecs in the tooltip that a user might want to copy/paste. Currently, the tooltip deactivates when trying to do this.
@jlmitch5 assigning you for now since you worked on the refspec field, feel free to unassign or reassign as you like.

##### ENVIRONMENT
* AWX version: late

[2019-08-07 21:32] cherdt opened #4445 "specify source for docker_image tasks"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A warning is produced when running installer/build.yml:

    [WARNING]: The value of the "source" option was determined to be "pull". Please set the "source" option explicitly. Autodetection will be removed in Ansible 2.12.

(This is also the cause of later errors.)

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: docker-compose on linux
*

[2019-08-07 21:43] elyezer opened #4446 "Deleting Application Token and Person Token is not properly working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Trying to delete an Application Token is not properly working. The UI shows an error but reloading the page we see that the token is gone.

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: docker on linux
* Ansible version:  Not related
* Operating System: Linux
* Web Browser: Chrome 75

##### STEPS TO REPRODUCE

Create an application toke

[2019-08-07 22:13] Bahu2016 opened #4447 "Incorrect URL being used for Red Had Insights project synchronisation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
insights.py default url: /api/remediations/v1/remediations. this not expected.

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method:  docker on linux
* Ansible version:  2.8.2
* Operating System: Redhat
* Web Browser:

##### STEPS TO REPRODUCE

Install awx 6.1.0 and ansible version 2.8.2

##### EXPECTED RESULTS

Expected: url = '{}/r/insights/v

[2019-08-07 22:48] tjyang commented on #1764
@Ashjoker24 , I am using ansible-awx 6.1.0 , ie [awx install by rpm approach](https://awx.wiki/).

[2019-08-07 22:54] jladdjr opened #4448 "Remove Hipchat (discontinued 2/15/19)"
The Hipchat service is no longer active and should be removed:
https://www.atlassian.com/partnerships/slack/faq#faq-3ccc5a61-711b-4ef2-9ca2-3a34b2ec143b

##### ISSUE TYPE
 - Feature Idea (Bug?)

![image](https://user-images.githubusercontent.com/4440360/62663228-8d7ca800-b92b-11e9-8eeb-accce0ec7eee.png)

[2019-08-07 23:05] Bahu2016 commented on #4447
This is the one which was working.
https://github.com/ansible/awx/blob/4.0.0/awx/playbooks/action_plugins/insights.py

From 5.0.0 it got changed.

https://github.com/ansible/awx/blob/5.0.0/awx/playbooks/action_plugins/insights.py

let me know where to modify the url in awx?

[2019-08-08 03:11] morganw commented on #4414
if my error. version: 5.0.0 is also ok. let me close this issuse

[2019-08-08 03:12] morganw commented on #4414
I am sorry, it is my error. version 5.0.0 is also ok. I will close this issuse.

[2019-08-08 03:12] #4414 closed, assigned to nobody

[2019-08-08 06:44] sandrich opened #4449 "RFE: Gantt chart for scheduled jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The ability to have some sort of graphical view on scheduled jobs per day/week/month/year. One example would be a Gantt chart.

The idea behind is to have a better overview when jobs are scheduled and to find busy or non busy spots. If the job has run before you could use the average execution time for the job length estimation in the diagram.

[2019-08-08 11:45] Ernst-LRZ commented on #3751
Hello,
I am new to Github, Docker and AWX, but anyway, I have a similar problem. I installed AWX on a Debian 10 machine which worked very well. However, switching from http to https is much more difficult than expected. I got myself an official certificate and built a certificate bundle with the certificate, the chain and the private key in .pem (or .crt) format, and configured the followingin the

[2019-08-08 13:11] ryanpetrello commented on #4448
Earliest we can do this is Jun 2020:

https://confluence.atlassian.com/support/atlassian-support-end-of-life-policy-201851003.html

<img width="222" alt="image" src="https://user-images.githubusercontent.com/214912/62705948-7b971580-b9bc-11e9-93eb-11c084fe7457.png">

[2019-08-08 15:14] wenottingham commented on #4449
If we've got D3 lying around, something like the github activity graph may be useful?

[2019-08-08 15:47] sandrich commented on #4449
@wenottingham if you are talking about the heatmap then that I find almost better than a gantt chart. It would give an easy way of finding sweet spots. As long as you can drill further in to it until you get a day view.

Also it should consider scheduled workflows and its jobs.

[2019-08-08 17:59] naren-ambati commented on #4349
@mabashian  Any Update?

[2019-08-08 22:00] Bahu2016 commented on #4447
Temporary fix, now i can see the planners.

$ docker exec -it awx_task /bin/bash
$ cd /var/lib/awx
# vi venv/awx/lib/python3.6/site-packages/awx/settings/defaults.py
INSIGHTS_URL_BASE = "https://access.redhat.com"

$ venv/awx/lib64/python3.6/site-packages/awx/playbooks/action_plugins/insights.py ( used script from AWX 4.0.0 )

is that possible to provide permanent fix?

[2019-08-08 22:02] Bahu2016 commented on #4447
And i followed same steps from https://docs.ansible.com/ansible-tower/latest/html/userguide/insights.html

It worked on awx 1.0.6.8 and ansible: 2.5.2, but not working {not showed up Insight} button for the hosts on awx 6.1.0 and ansible 2.8.2

[2019-08-09 05:21] prashh83 commented on #857
Below step is worked for me
Uncomment the project_data_dir in inventory file &  re-run ansible-playbook -i inventory install.yml
 ./installer/inventory
project_data_dir=/var/lib/awx/projects

[2019-08-09 11:50] AlanCoding opened #4450 "Consider more conditions for marking a job template as invalid"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The UI has a big red ❗️ that it will put next to job templates when certain conditions are met.

This is a feature request to mark job templates with the red exclamation mark in the following conditions:

 - Job template has a `playbook` field which is not in the listed playbooks for the project
   - with the branch-on-JT feature, this condition will

[2019-08-09 14:08] IPvSean opened #4452 "API allows non-option to be default in multiselect and multipechoice surveys"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am creating a very simple 4 node workflow.  One of the Job Templates is auto-populated
[code]

here is the backup.j2 template referenced above for the survey_spec->
https://github.com/network-automation/tower_workshop/blob/master/templates/backup.j2

##### ENVIRONMENT
Tower 3.5.1

##### STEPS TO REPRODUCE
I am doing this exact exercise here: https://

[2019-08-09 14:18] chrismeyersfsu commented on #4452
### Steps to reproduce
* Create a JT w/ a survey w/ a multichoice (single select) field & a default answer.
* Go to that JT survey in the API & set the default answer to something _not_ in the multichoice list
[code]
* Now create a workflow and use that JT and get the ERROR

[2019-08-09 16:06] frsauvage opened #4454 "Update python 3 for awx_web/task (ansible) on hub.docker.com"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
Please can you please update version of python 3.6 in ansible to 2.8.2 in this two docker images?
https://hub.docker.com/r/ansible/awx_task
https://hub.docker.com/r/ansible/awx_web

May be I can do it by myself, that it is a naïve request, I apologize, I am much more a python developer than a  "_deployer_" I can't f

[2019-08-09 16:14] jean-christophe-manciot commented on #3935
Exact same issue with ```6.1.0```, even if I remove the ```cgit``` role from within the roles folder, and update.

```priority: low```: really? This issue makes the downloaded roles unusable.

[2019-08-09 16:24] wenottingham commented on #4454
What's the use case for this?

The underlying image is built on CentOS 7, utilizing Ansible packages built against the system python.

[2019-08-09 17:24] wenottingham commented on #4439
This will be fixed with #79.

[2019-08-09 17:24] #4439 closed, assigned to nobody

[2019-08-09 17:26] wenottingham commented on #4439
To be clear, this should be done via a templated notification once #79 lands; we wouldn't do this via more variables.

[2019-08-09 17:33] awithrow9 commented on #4402
@bkmeneguello have you had a chance to give this a try?

[2019-08-09 18:05] frsauvage commented on #4454
Hi @wenottingham , thank you for your answer.
You are right, it is based on OS.
Is it possible to add python 3 before ansible/awx on centos image ?

Use case ? Python 2 is deprecated, I would like to deliver my modules and plugins on python 3.

[2019-08-09 18:11] justchris1 commented on #3879
Same here using apache2.

ansible 2.8
RHEL 7.7 (BTW, official support was useless on this topic)
Browser:  Firefox,Chrome

It is hard to imagine an effort this day in age hard coding all the paths in the js and other elements, but here it is.  The low priority isn't encouraging.

[2019-08-09 18:39] ryanpetrello commented on #4454
@frsauvage,

Our plan is to use py2 as the _default_ Python for the ansible virtualenv at least until it's officially retired (not until next year: https://github.com/python/devguide/pull/344).

In the meantime, it's possible to build a custom virtualenv using the Python version of your choosing (including python3.x).  Here are instructions for doing so:

https://github.com/ansible/awx/blob/devel/

[2019-08-09 18:49] infosecwatchman opened #4456 "Python error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Somewhere while AWX is setting up the database after the ansible-playbook finishes and in the `docker logs -f awx_task` I'm seeing it cannot finish because of a python file.
This is what I'm getting:
[code]

[2019-08-09 18:54] ryanpetrello commented on #4456
Hey @GregorioSecurity,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-08-09 18:54] #4456 closed, assigned to nobody

[2019-08-09 19:10] AlanCoding commented on #3903
@matburt has suggested providing some read access via project & inventory in order to mitigate the backlash from removing admin-via-inventory permissions.

Here is what that might look like:

[code]

There are minor things about this I still don't like. In terms of the general principle and usability, this is much better than the previous proposal.

[2019-08-09 20:32] bkmeneguello commented on #4402
Sorry, I did not. I just have a production server and had no time to setup a test one. I pretend to do this soon.

[2019-08-09 20:34] Bahu2016 commented on #3916
It worked for me.
[code]

[2019-08-09 21:42] Bahu2016 commented on #4447
Fix: AWX 6.1.0

Change default INSIGHTS_URL_BASE = "https://.com"

on awx_task and awx_web containers. ( This is temporary ), for permanent rebuild image with the changes.

$ vi venv/awx/lib/python3.6/site-packages/awx/settings/defaults.py

# docker restart awx_task and awx_web.

[2019-08-10 05:29] frsauvage commented on #4454
@ryanpetrello , thank a lot for your answer.
As there is a date, it is enough for me.
I will try to use the custom awx venv, I miss this method, thank you.

[2019-08-10 15:49] AlanCoding commented on #4450
This is a break-out issue from discussion about https://github.com/ansible/awx/issues/282, to avoid having it get entangled in the scope of that.

[2019-08-11 15:22] #3996 closed, assigned to nobody

[2019-08-12 10:02] bfantoni commented on #4439
Hi,

Thank you for this reply.
How can I follow and know when #79 will be ready?

These are my first steps with that kind of things 😊

[2019-08-12 11:08] zdriic opened #4458 "awx-manage (de)provision_instance issue"
##### ISSUE TYPE
Issue with awx-manage provision_instance command (or deprovision_instance)

##### SUMMARY
I would like manage my cluster with the below command but this one never ends...

bash-4.2# awx-manage deprovision_instance --hostname=myHost
Instance Removed
/bin/sh: rabbitmqctl: command not found
Node deprovisioning may have failed when attempting to remove the RabbitMQ instance myHost fro

[2019-08-12 13:49] Timoses commented on #223
Moving the `group_vars` next to the playbooks is not an option for us since we are using the following structure:
[code]

There is no single playbook to move group_vars to since multiple playbooks refer to the `group_vars` defined in the inventory.

This lacking feature makes usage of AWX/Tower unfeasible for us. (Is there a workaround?)

[2019-08-12 17:21] towolf commented on #3214
@ryanpetrello did you by any chance fix this for groups as well?

We have 10,000 groups ... :(

... and 3000 hosts ...

[code]

[2019-08-12 17:29] towolf opened #4461 "Performance issue with many groups, too many SQL queries"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Same Issue as #3214, only this time please handle groups also

AWX is crunching through all groups with 10,000 queries for us. Before the job even starts for real. For 60 seconds.

[2019-08-12 17:29] towolf commented on #3214
#4461

[2019-08-12 17:51] jomach commented on #223
we have a similar setup if I'm not confusing anything. I solved it by adding on the Source the environment variable: ansible_vault_password_file=/path/to/vaul_password

[2019-08-12 17:55] kfattig commented on #4293
We're also seeing this.  I'm recording here since there was already a public issue, but we do have Tower support.  If you'd like me to file a vendor ticket LMK.

When creating the 'node' in the workflow, things are normal:
![image](https://user-images.githubusercontent.com/23063964/62885057-87a50f00-bcfd-11e9-8677-dcd368e423c3.png)

The confirmation screen is also normal:
![image](https://user-ima

[2019-08-12 18:04] strawgate opened #4463 "Much larger docker image size with 6.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Due to this PR: https://github.com/ansible/awx/pull/3852 the docker image size has grown by over 700 megabytes. It appears as though --squash was added to the development image make target but not to the production image base target and thus things like yum update, install, and clean are now all in separate layers in

[2019-08-12 18:59] jakemcdermott opened #4464 "alert and field-level error sometimes shown for job template forms"
##### ISSUE TYPE
 - Bug Report

When submitting job template data, some errors result in a field-specific error _and_ a generic alert being displayed. We should show one or the other but not both.

An _example_ of this can be seen here , but it is likely that there are other ways to trigger this:  https://github.com/ansible/awx/pull/4265#issuecomment-520033026.

This issue is for investigating the

[2019-08-12 19:14] ryanpetrello commented on #4144
@kfattig I've got a PR open for this, which may interest you: https://github.com/ansible/awx/pull/4465

[2019-08-12 19:16] ai13f opened #4466 "GCE Dynamic Inventory with machine auth"
##### ISSUE TYPE
 - Feature Idea
GCE Dynamic Inventory should be able to use machineaccount to authenticate.

##### SUMMARY
GCE Dynamic Inventory should be able to use machineaccount to authenticate.
Right now only serviceaccount can be used.
https://github.com/ansible/awx/blob/6.1.0/awx/main/models/credential/injectors.py

[2019-08-12 19:32] #4216 closed, assigned to AlexSCorey

[2019-08-12 19:44] AlanCoding commented on #3668
Also relevant to https://github.com/ansible/awx/issues/3903, and is kicked of out scope of that feature for now.

[2019-08-13 04:53] Timoses commented on #223
Thanks, I've used a custom credential type to inject the password file (https://docs.ansible.com/ansible-tower/latest/html/userguide/credential_types.html).

Still, it does not feel like a super great solution.
For one, now the Vault encrypted variables are accessible via the inventory. If I allow a user to "Use" the inventory, they can see the decrypted content of the vault files. Not Great!

Imo

[2019-08-13 10:37] Spredzy commented on #2540
Verified and working.

[2019-08-13 10:37] #2540 closed, assigned to Spredzy

[2019-08-13 11:04] demogorgonz commented on #3705
Definitely not **/tmp**

[2019-08-13 12:34] AlanCoding commented on #4466
to clarify, is this use case is only concerned with playbook runs? Is there a coherent way someone would want to import inventory using machineaccount authentication?

[2019-08-13 12:38] AlanCoding commented on #4461
That linked issue should not apply for groups.

Can you run `awx-manage profile_sql` on the command line and re-run the job? After doing that, check the logs and see if it shows the flood of group-specific SQL which you anticipated. Ping @ryanpetrello that I got those instructions right.

[2019-08-13 12:49] towolf commented on #4461
Ok then, I ran this command in the awx_task container:

[code]

But here it states, that it enables "slowlog" for queries that take longer than 2 seconds.

What I observed, were ten thousand queries fired in rapid succession.

So this output is useless I'm afraid. I'll paste the query log from Postgres itself below.

[code]

[2019-08-13 12:53] towolf commented on #4461
Postgres log:

[code]
Note this is 11 thousand queries from one job only ...

[code]

[2019-08-13 12:55] towolf commented on #4461
[code]

[2019-08-13 13:25] AlanCoding commented on #4461
Thanks I would like to reproduce this on my machine.

Are you running AWX 6.1.0 or an earlier version?

What are the general metrics of your inventory? Was it imported from a cloud source? Is it a smart inventory? What is the approximate number of groups? Ballpark, what fraction of them are populated with hosts, and are a lot of groups children of other groups?

[2019-08-13 13:31] towolf commented on #4461
6.1.0, latest greatest!

Groups:
![image](https://user-images.githubusercontent.com/345210/62945685-85b37c80-bddf-11e9-89c4-2668e1438b64.png)

Hosts:
![image](https://user-images.githubusercontent.com/345210/62945700-8ea44e00-bddf-11e9-8fa0-07ab532c601d.png)

[2019-08-13 15:54] ai13f commented on #4466
To clarify, the use case would be if you have AWX deployed on a GCE VM, you should be able to use the default authentication from the VM to import the inventory.

Using machineaccount authentication would alleviate the operational overhead of managing and rotating service account private keys.

According to the docs here:
https://docs.ansible.com/ansible/latest/scenario_guides/guide_gce.html#provi

[2019-08-13 16:00] strawgate opened #4470 "Bulk add hosts to inventory via Web UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It would be great if there was an easy way to bulk-add hosts for manual projects in AWX. We'd love the ability to provide a CSV, an inventory file or something similar and have AWX turn that one-off inventory file into a set of hosts in the inventory.

[2019-08-13 17:52] rooftopcellist opened #4473 "Automation Insights Org Data Collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

In the collection tarball, modify the unified_job table copy to include org name & id for jobs. This can be used by Automation Insights to produce visual representations of how many jobs are being run per org organized by type & status.

[2019-08-13 18:15] mabashian opened #4474 "Regular list search bar takes up entire width"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I suspect this may have been introduced when https://github.com/ansible/awx/pull/4324 merged.  For modals we do want the search bar to take up the whole width but for regular lists we don't.

<img width="1489" alt="Screen Shot 2019-08-13 at 2 13 47 PM" src="https://user-images.githubusercontent.com/9889020/62966262-ab875400-bdd4-11e9-893f-f0325ed5f00f.

[2019-08-13 18:19] #4225 closed, assigned to mabashian

[2019-08-13 18:35] piroux commented on #4470
This is already available.

If you want to do it manually, you can use the [`tower-cli`](https://tower-cli.readthedocs.io/en/latest/api_ref/index.html?highlight=inventory#api-reference-table-of-contents) project for that.

But if you want a more stable way, you should really checkout those ansible modules:
- [tower_inventory](https://docs.ansible.com/ansible/2.8/modules/tower_inventory_module.html

[2019-08-13 19:15] strawgate commented on #4470
Definitely understand that there are a variety of mechanisms to bulk add hosts including tower-cli, the rest api, and ansible playbooks.

Our use-case is more along the lines of allowing users that are not familiar with Ansible to utilize pre-made inventories, job templates, and credentials. We pre-configure most it for them so that all they have to do is add hosts to inventories. This is pretty s

[2019-08-13 20:47] rooftopcellist opened #4475 "Automation Insights Version Tracker"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add a new `.json` file to keep track of the version of each file in the collection tarball.

`manifest.json`
[code]

[2019-08-13 21:35] jakemcdermott opened #4476 "adjust output page up control so that it always moves up by one visible page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The page up control doesn't always go up by exactly one visible page. This issue is for investigating the cause and trying some possible solutions.

related: https://github.com/ansible/awx/pull/4383#discussion_r312235586

[2019-08-13 22:52] #4236 closed, assigned to jakemcdermott, marshmalien

[2019-08-13 22:58] jakemcdermott opened #4477 "add basic polling and loading for output panel"
##### SUMMARY
This issue is for adding a basic polling function to the output component along with a 'loading' panel.

related: https://github.com/ansible/awx/issues/4224#issue-462864888

[2019-08-13 22:59] jakemcdermott commented on #4224
see: https://github.com/ansible/awx/pull/4383

Most of this is done and is no longer blocking https://github.com/ansible/awx/issues/4430

I'm closing this issue, we'll track the remaining items in a new issue, which I've added to the backlog: https://github.com/ansible/awx/issues/4477

[2019-08-13 22:59] #4224 closed, assigned to marshmalien

[2019-08-14 06:50] marshyonline opened #4478 "Encrypted value throws callback error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When setting an encrypted fact via Set_facts, a call back error is thrown.
This behaviour is not present on AWX 2.1.2.0 (We just upgraded)

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: docker
* Ansible version:  2.8.3
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

For a callbac

[2019-08-14 11:52] pravindmali opened #4480 "Add option to change the GUI layout color"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Customer have DEV and PROD Ansible Towers and looking for option to change the GUI layout color to differentiate between them easily.

Custom Logo for this scenario is not helpful as its only change in the login page.

[2019-08-14 12:15] theansibler opened #4481 "RFE: Using set_stats module to pass a variable value from nested WT to JT"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

On creating a Workflow template like below, we can able to pass the variable value from JT to WT:

Job Template(passes the value of var1) >>On Success>> Nested Workflow(can use the value of var1)

But currently we cannot pass the variable value from WT to JT:

Nested Workflow(passes the value of var1) >>On Success>> Job Template(can use the value of

[2019-08-14 12:47] AlanCoding commented on #4478
I'm going to try to reproduce this, but first I want to clarify - before running the job template in this case, I am assuming you applied a vault credential containing the secret?

[2019-08-14 13:13] marshyonline commented on #4478
That's correct, AWX is decrypting the string successfully as shown the in output but throwing the callback error in the process

[2019-08-14 13:15] AlanCoding commented on #4478
Thanks, I was able to reproduce:

https://github.com/AlanCoding/utility-playbooks/blob/master/set_vault_var.yml

[code]

Ansible development version.

[2019-08-14 15:16] Le0exxx commented on #4461
We hit the same issue, when there is 236 groups for the inventory update.

[2019-08-14 15:34] wenottingham commented on #4480
This is not currently planned.

[2019-08-14 15:34] #4480 closed, assigned to nobody

[2019-08-14 18:27] wenottingham opened #4485 "extremely poor performance on inventory source deletion"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. create an inventory source
2. hook it up to an AWS account that will return ~2400 or so instances
3. delete the source

This causes AWX to send three DELETE requests - to N/hosts, N/groups, and N:
[code]
[code]

##### ENVIRONMENT
* AWX version: current and prior

[2019-08-14 18:35] mdinwoodie opened #4486 "Create Users in AWX Without Requiring Password"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Would like to be able to create a new user account in AWX, without requiring a password. The goal here is to be able to create/pre-provision a user that is managed by an external service (LDAP), then when they log in for the first time, AWX will see they already have an account created, and simply authenticate them with LDAP and update their account

[2019-08-14 19:01] ryanpetrello commented on #4461
I'm able to reproduce this:

1.  Create an inventory w/ this script:

[code]

![image](https://user-images.githubusercontent.com/214912/63047761-1606c580-bea3-11e9-9b30-ffb2c6ab81d4.png)

2.  Launch a simple (fast) job pointed at that inventory with a host limit set to one host (e.g., localhost)
3.  The job takes up to a minute to start printing stdout.

![image](https://user-images.githubusercont

[2019-08-14 19:05] ryanpetrello commented on #4461
@towolf @Le0exxx you mind giving this change a try and seeing if performance improves for you?

https://github.com/ansible/awx/pull/4487

[2019-08-14 22:04] AdamMorris23 commented on #3924
I have the same issue in Windows 10 with Chrome and Microsoft Edge.  I see the same grey circle and the same element on inspection...

Like Okelet I am using the official logos.  If I turn on github oauth2 as well I get the github logo, so it does appear to just be an issue with Microsoft Azure AD.

[2019-08-15 00:38] AlanCoding commented on #4258
@kdelee @elyezer @dsesami candidate for closing

[2019-08-15 00:39] AlanCoding commented on #2534
this has been implemented via

https://github.com/ansible/awx/blob/43d816b6e4c7ea01c31e42e713101cf51011b534/awx/playbooks/project_update.yml#L145

ping @kdelee @elyezer @dsesami

[2019-08-15 02:18] alsgow commented on #3000
Hi @AdrianDutu, I am trying to deploying AWX from ECS but facing same issue. Please find the attached image for error log
<img width="1246" alt="Screen Shot 2019-08-14 at 10 15 48 PM" src="https://user-images.githubusercontent.com/24711327/63068501-55540700-bee1-11e9-8446-a5f6833a67c5.png">
Please let me know if there is any specific solution.

[2019-08-15 15:09] towolf commented on #4461
@ryanpetrello I've tried to test but I couldn't make it work.

Pulled master and then used `ansible-playbook -i inventory install.yml` with these commented out:

[code]

The result was this strange error in the Job output:

![image](https://user-images.githubusercontent.com/345210/63104444-4b80e100-bf7f-11e9-9cbd-25a3cbe7f54e.png)

[2019-08-15 15:09] towolf commented on #4461
Do you have an easier way to test this change?

[2019-08-15 15:15] LangJV opened #4492 "API/SDK configure CUSTOM_LOGO doesn't take affect"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When utilizing the UI, one can head to Settings/UI and upload an image file. This "replaces" the Image file on the login screen. One can also view this image in a "data:url" format at api/v2/settings/ui CUSTOM_LOGO: "data:image/png;base64,Base64EncodedStringhere="

Attempting the same via the API or tower-cli (example below) produces no "error" and upd

[2019-08-15 16:46] ryanpetrello commented on #4461
@towolf that failure looks unrelated to this issue/PR.  You might have better luck just installing 6.1.0 and applying this diff manually:

https://github.com/ansible/awx/pull/4487/files

It's just a single line and you should see what you need in `/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/`

[2019-08-15 16:59] alsgow opened #4497 "ERROR: relation "conf_setting" does not exist at character 158 &ERROR: relation "django_migrations" does not exist at character 124"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2019-08-15 17:01] #4497 closed, assigned to nobody

[2019-08-15 17:03] alsgow commented on #1618
facing same issue with latest versions any fix

[2019-08-15 19:33] dnguyen9 commented on #4486
This is an important feature to allow for automatic account provisioning and configuration.

Alternatively, allow a user entity that might not have existed yet to be in a team. I believe the Openshift / Kuberenetes follows this implementation.

https://docs.openshift.com/container-platform/3.9/admin_guide/manage_users.html

[2019-08-16 07:22] ggiinnoo opened #4500 "ansible_host ignored with delegate_to"
##### ISSUE TYPE
- Bug Report

##### SUMMARY
When not using a ip or hostname in ```Host Name``` of an host, the delegate_to function doesn't use the ```ansible_host``` or ```ansible_ssh_host``` (deprecated) variables given at the host details page

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: docker on linux
* Ansible version:  2.8.2
* Operating System: CentOS 7
* Web Browser: Chro

[2019-08-16 09:40] lord-kyron opened #4501 "AWX is not getting the private IPs of instances, if no Public IP is assigned - Google Cloud Compute Engine"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In certain cases, when no public IP is used on the VM (either the GCE project is using Google Cloud NAT or there is a VPN tunnel to the project and there is no need of public IPs) AWX is not getting the private IP of the instances as "ansible_ssh_host" and is unable to connect even if there is actual connection between the AWX node and the instance.

#

[2019-08-16 12:37] towolf commented on #4461
@ryanpetrello I got it working. I thought the awx_task container would reset if I edit the files in it, but they are persistent, in fact, so a restart allowed me to test.

With query logging enabled the wait was reduced from 60 seconds to 15-20 seconds, before any text is printed in the output pane. So that looks decent, thank you.

I could still log 900 DB queries in between starting the job and

[2019-08-16 13:13] AlanCoding commented on #4461
I would expect less than 200 from numbers I had from https://github.com/ansible/awx/pull/3883... or at least less than 300 including the sync.

If this is due to the cancel callback, then there's nothing we can do about that. It is expected that a job will regularly check the database for a signal from the user to cancel. If there are repetitive queries being shown other than that, then I would li

[2019-08-16 14:13] kdelee commented on #4501
:thinking: This mostly makes sense to me. But I do wonder if we can get with the program re: `ansible_host` in favor of `ansible_ssh_host` seeing as the second is deprecated

[2019-08-16 14:49] AlanCoding commented on #4501
I looked at what the deprecated script did:

https://github.com/ansible/ansible/blob/devel/contrib/inventory/gce.py#L365

The default `ip_type` is blank string, so I believe your proposal is consistent with the expected historical behavior.

[2019-08-16 15:17] marshmalien opened #4504 "Label multi-select field doesn't handle unique labels"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="337" alt="Screen Shot 2019-08-16 at 10 42 09 AM" src="https://user-images.githubusercontent.com/15881645/63177728-897d1400-c016-11e9-86a7-62c72c302581.png">

##### STEPS TO REPRODUCE
1. Navigate to awx-pf Job Template form
2. In the label multi-select field, type in the name of a label that already exists
3. Create the label

##### EXPECTED

[2019-08-16 16:29] Obsecurus commented on #4456
Sorry to comment on a closed issue but I feel like this one is affecting others. For me `/tmp/awxcompose/SECRET_KEY` existed but `/etc/tower/SECRET_KEY` in both awx_task and awx_web were empty directories instead of the file containing the key

[2019-08-16 17:08] wenottingham commented on #4500
This looks like an issue with your usage of Ansible unrelated to AWX.

This repo is for AWX issues only, please file this at https://github.com/ansible/ansible/issues , or contact the ansible-project mailing list.

[2019-08-16 17:08] #4500 closed, assigned to nobody

[2019-08-16 17:22] ryanpetrello commented on #4463
@shanemcd any thoughts on this?

[2019-08-16 17:26] wenottingham commented on #4458
When running containerized, you do not use `awx-manage` to deprovision. Use the cluster manager such as kubernetes or OpenShift to scale the image.

[2019-08-16 17:26] #4458 closed, assigned to nobody

[2019-08-16 17:27] strawgate commented on #4463
Care should be taken on using --squash here because if --squash is used at the end of image generation for both images they will then not share any layers at all which will cause double the storage consumption when both images are used.

[2019-08-16 17:32] awithrow9 commented on #4327
Closing.  If you have an example you can reopen and comment.

[2019-08-16 17:32] #4327 closed, assigned to nobody

[2019-08-16 17:34] #4193 closed, assigned to nobody

[2019-08-16 17:38] #3612 closed, assigned to nobody

[2019-08-16 17:40] wenottingham commented on #3605
Closing per https://github.com/ansible/awx/issues/3605#issuecomment-479957284 - this doesn't generally make sense with how workflows can pull from multiple inventories and have multiple failure paths.

[2019-08-16 17:40] #3605 closed, assigned to nobody

[2019-08-16 17:42] awithrow9 commented on #3588
Please try this again with the latest.

[2019-08-16 17:42] #3588 closed, assigned to nobody

[2019-08-16 17:43] #3571 closed, assigned to nobody

[2019-08-16 17:44] ryanpetrello commented on #3533
👋

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-08-16 17:44] #3533 closed, assigned to nobody

[2019-08-16 17:45] awithrow9 commented on #3496
@shen3lu4 can you try this on the latest AWX?

[2019-08-16 17:45] #3496 closed, assigned to nobody

[2019-08-16 17:50] awithrow9 commented on #3448
@AlanCoding is there anything left to do with this one?

[2019-08-16 17:53] awithrow9 commented on #3345
This is an unsupported scenario.

[2019-08-16 17:53] #3345 closed, assigned to nobody

[2019-08-16 17:56] awithrow9 commented on #3304
Please try again with latest.

[2019-08-16 17:56] #3304 closed, assigned to nobody

[2019-08-16 17:57] awithrow9 commented on #3299
Do you still see this with the latest AWX?

[2019-08-16 17:58] #3274 closed, assigned to nobody

[2019-08-16 17:59] awithrow9 commented on #3189
Are you still seeing this with the latest AWX?

[2019-08-16 18:15] kfattig commented on #4144
Thanks @ryanpetrello!  I built & tested https://github.com/ansible/awx/pull/4465 , it covers our needs.

I'll have a PR sometime next week for tower-cli to get/list these values.

[2019-08-16 18:15] #4144 closed, assigned to nobody

[2019-08-16 18:57] ryanpetrello commented on #4144
@kfattig before opening a PR over there, you may care to know that we're actively working on an official tool in awx that is a _replacement_ for `tower-cli`, and it's currently *in* the awx source tree (though it's not ready for prime time in the official release _just_ yet - in the coming weeks, we intend to make an announcement on the mailing list): https://github.com/ansible/awx/tree/devel/awxk

[2019-08-16 19:01] kfattig commented on #4144
@ryanpetrello I was wondering what that command was in the PR.  Thank you, I'll take a look.

[2019-08-16 20:04] ryanpetrello commented on #4144
Also, if you run into trouble installing with `awxkit[formatting]`, you may need a few extras for `--jq` to work (like `libtool`):

https://github.com/ansible/awx/blob/devel/awxkit/awxkit/cli/docs/source/output.rst#custom-formatting-with-jq

[2019-08-16 21:33] marshmalien commented on #4233
We will want to revert the playbook select to the default option of "Please select . . ." whenever the project changes.

https://github.com/ansible/awx/pull/4505#discussion_r314890747

[2019-08-16 21:59] one-t commented on #2237
Tested with Okta- this is working now BUT there is a new issue...

[2019-08-16 21:59] #2237 closed, assigned to one-t

[2019-08-17 02:03] cpatry-poly commented on #2237
A new issue ?

[2019-08-18 17:37] AlanCoding commented on #3448
It makes sense to close this as a known issue with the remediation to be to implement #4306. Assuming that is done, the afflicted users could address it by removing the `plain_host_names` option.

[2019-08-18 18:16] rharmonson commented on #989
It has been more than ten months since I offered to write the documentation, but no one from this project has told me to buzz off much less offered themselves as a resource to author an installation document. A completely different experience than the FreeIPA project.

Shout out to Florence Blanc-Renaud and Fraser Tweedale of FreeIPA!

Again, I am offering to **author and maintain non-docker insta

[2019-08-19 01:49] MrBones757 commented on #4344
Adding this information would be a great addition for out use also

[2019-08-19 01:50] MrBones757 commented on #4270
We use this tool within my organisation. It would be great to see this as a tower credential source. however in the meantime we have written a module & role (specific to our internal implementation, unfortunately) that takes care of this at a play level, though does not allow for dynamically fetching machine credentials.

[2019-08-19 06:56] zdriic commented on #4458
Ok but this method worked fine with previous versions of AWX.

[2019-08-19 09:03] jdorel opened #4508 "Worflow template named_url: API access through template name"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

`workflow_job_templates` could be accessed through the API using their name, rather than just their id.

This should be similar to how `job_templates` can be accessed using their name.

There should also be a `named_url` field in the `workflow_job_templates` objects, just as there is right now for `job_templates` objects.

[2019-08-19 10:25] AlanCoding commented on #695
I would wager that this was resolved by https://github.com/ansible/awx/pull/3529

[2019-08-19 10:55] ItayZviCohen commented on #20
Would like to have that feature/ability as well.
Every large company that I've worked for so far thought it's a mandatory feature for a Rundeck replacement.
Currently my (very large) company wants to migrate all of our operations to AWX, and we can't without this feature.

[2019-08-19 11:54] Sethueha opened #4510 "mso_schema_site_anp_epg_staticport - Dont have choice for path type of the static port as VPC"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
mso_schema_site_anp_epg_staticport - Dont have choice for path type of the static port as VPC

##### ENVIRONMENT
* Ansible version:  2.8.2
* Operating System: RHEL 7

##### STEPS TO REPRODUCE

The current module dont have option to configure the EPG static port type as VPC. It has only one option as po

[2019-08-19 12:24] AlanCoding commented on #4485
Prior related fix https://github.com/ansible/awx/pull/3412

That could have been extended to bulk delete the hosts/groups to address this issue, but we cannot, because there is still a mode where activity stream is recorded for deletion of each individual host or group.

[2019-08-19 13:22] ryanpetrello commented on #695
Agreed.  Closing this unless we see reports of it again.

[2019-08-19 13:22] #695 closed, assigned to nobody

[2019-08-19 13:36] kdelee commented on #282
@dsesami I am ready to close, are you?

[2019-08-19 13:36] kdelee commented on #4258
@dsesami I am ready to close, are you?

[2019-08-19 13:36] kdelee commented on #2534
@elyezer are you ready to close?

[2019-08-19 13:46] dsesami commented on #4258
@kdelee  there was one issue we found (seemingly only UI-side) that @jlmitch5  discussed with me (a field wasn't getting cleared out on the form backend call when swapping between two projects). I don't think that has been merged yet, so I'd like to keep it open until john has confirmed w/ me that he's pushed that + I have ran it once. I will close it afterwards.

[2019-08-19 14:17] wenottingham commented on #4458
I'm not sure how. rabbitmq has always been in a different container, and I don't think we've ever installed rabbitmqctl in the task/tools container except possibly in the dev environment (fixed in #3740)

[2019-08-19 14:21] wenottingham commented on #4510
This is an issue with the ansible module, not AWX. Please file this at https://github.com/ansible/ansible/issues/.

[2019-08-19 14:21] #4510 closed, assigned to nobody

[2019-08-19 14:24] wenottingham commented on #4508
This already exists.

For example, a workflow named 'Deploy to development' can be accessed at https://towerhost/api/v2/workflow_job_templates/Deploy%20to%20development++/.

[2019-08-19 14:24] #4508 closed, assigned to nobody

[2019-08-19 15:40] dsesami commented on #282
@kdelee there was one issue we found (seemingly only UI-side) that @jlmitch5 discussed with me (a field wasn't getting cleared out on the form backend call when swapping between two projects). I don't think that has been merged yet, so I'd like to keep it open until john has confirmed w/ me that he's pushed that + I have ran it once. I will close it afterwards.

[2019-08-19 15:40] #4258 closed, assigned to jlmitch5, AlanCoding

[2019-08-19 16:05] AlanCoding commented on #3903
@jlmitch5 I'm trying to poke around and find more places that will need updates for this change. One is the job templates list for organizations.

![Screen Shot 2019-08-19 at 11 37 08 AM](https://user-images.githubusercontent.com/1385596/63278665-b54a0500-c275-11e9-8740-e1f0a8c29641.png)

`/api/v2/unified_job_templates/?type=job_template&order_by=name&page_size=20&or__jobtemplate__project__organiz

[2019-08-19 16:23] ryanpetrello commented on #2075
@jbradberry @wenottingham I'm going to ~close~ mark as `needs_test` since we're back in parity with what upstream Django does, and it *is* an improvement:

https://github.com/ansible/awx/issues/2075#issuecomment-511020914

I'm not particularly interested in carrying a custom `User` subclass for the purposes of making the `first_name` longer than 30 chars, but `last_name` now supports 150.

Let me

[2019-08-19 16:40] ryanpetrello commented on #3762
To clarify, the issue here is that `ssh_key_unlock` is extraneous (because `ssh_key_data` isn't a valid key in the first place).

[2019-08-19 16:41] ryanpetrello commented on #4394
@jladdjr can you add some instructions here on how to reproduce/observe this bug?

[2019-08-19 17:28] AlanCoding commented on #3903
Next finding

The permissions model proposed in prior comment:

https://github.com/ansible/awx/issues/3903#issuecomment-520031900

is not currently possible. If you grant a user admin_role to the inventory organization, it will display

![Screen Shot 2019-08-19 at 1 22 32 PM](https://user-images.githubusercontent.com/1385596/63285797-930bb380-c284-11e9-893a-b3db6dbffa1c.png)

Where `u` below is th

[2019-08-19 18:17] wenottingham commented on #3903
To be clear re: above - that is showing a user who has `admin` on the org of the inventory of the JT, but no roles on the org of the JT itself or the org of the project for the JT?

[2019-08-19 18:19] AlanCoding commented on #3903
^ correct

[2019-08-19 18:23] benthomasson opened #4513 "Gather analytics fails to upload analytics when run as awx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

No data is being uploaded to the analytics service.

##### ENVIRONMENT
* AWX version: 3.5.
* AWX install method:
* Ansible version:  2.8.0
* Operating System: RHEL8
* Web Browser:  N/A

##### STEPS TO REPRODUCE

ssh to awx machine
sudo su - awx
awx-manage gather_analytics --ship

`/tmp/844d6710-0867-4b6e-8495-7ce9f559627a_2019-08-19-181335+0000.tar.gz

[2019-08-19 18:29] wenottingham commented on #3903
I don't think it's a display issue. I think it's an API bug that we could work around in the UI....

[2019-08-19 18:34] benthomasson commented on #4513
3.5 work around add this to the root crontab:

`0 0 * * * awx-manage gather_analytics --ship`

[2019-08-19 18:35] wenottingham commented on #3903
To be more clear: the API returns roles in indirect_access that it should not, and are not actually roles that apply to the object in question.

[2019-08-19 18:41] benthomasson commented on #4513
Here is a playbook that will enable gather analytics and will work correctly on RHEL8

`---
- name: Configures tower to gather metrics
  hosts: all
  gather_facts: false
  become: yes
  become_method: sudo
  tasks:
      - name: Disable celerybeat task for gather_analytics
        lineinfile:
          path: /etc/tower/conf.d/insights.py
          state: present
          line: "CELERYBEAT_SCHEDUL

[2019-08-19 18:53] AlanCoding commented on #3903
The UI permission display is like describing a point on the `(x,y)` plane with a single value `x`. That works if `x` and `y` are always equal. In the proposal here for inventory permission, symmetry between two values is broken, so the display becomes incorrect.

To answer your question, the API is showing the correct roles in the list, and it gives the correct forms of access obtained by that rol

[2019-08-19 19:13] AlexSCorey opened #4515 "Can't Generate New Label"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A user can type in the input field to create a new label, but the label doesn't save when the user presses enter or clicks on Save.
##### ENVIRONMENT
* AWX version: AWX-PF
* AWX install method:  docker for mac
* Ansible version:  2.9
* Operating System: Mac OS
* Web Browser: Chroms

##### STEPS TO REPRODUCE

Edit/Create a new Job Template.  In the labe

[2019-08-19 19:15] wenottingham commented on #3903
I don't think that's correct. Note, I'm working on the case from #4108 here.

Here is that case:
- orgs A and B
- user 'fred' in org B, in a team C
- inventory 'foo' in org A

Default:
- nothing in access_list for `foo`

Make `fred` an admin of org B:
- nothing in access_list for `foo`

Explicitly grant team C `use` on `foo`, when `fred` is not an org admin of B:
- direct use role now in access_li

[2019-08-19 19:26] matburt commented on #4513
Instead of using a crontab we can put down a systemd unit and enable it on a systemd timer. That'll be a little more idiomatic on our systems.

[2019-08-19 19:27] kdelee commented on #4156
So refreshed my mind about this. Turns out we still use the vendored script for vmware.

Plopped updated version of the script from ansible@devel https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/vmware_inventory.py into `/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/plugins/inventory/vmware_inventory.py` on a box with RPM install of tower and default ansible venv i

[2019-08-19 19:42] jladdjr commented on #4394
@rebeccahhh (@ryanpetrello) - provided some additional context. Let me know if you need any other info!

[2019-08-19 20:07] mabashian commented on #4293
Pretty sure this is related to https://github.com/ansible/awx/pull/3669 https://github.com/ansible/awx/issues/3567 https://github.com/ansible/awx/pull/3359

[2019-08-19 20:16] AlanCoding commented on #3903
[code]

result:

[code]

The access list is correct. Org admins inherit team permissions from teams inside their organization.

This RBAC rule is defined via this fields:

https://github.com/ansible/awx/blob/dc1bf3ef072aa29030669901ecb16bc59ea30a21/awx/main/models/organization.py#L126-L131

If you have `organization.admin_role` then you have the team's `admin_role`. If you have this, you have the

[2019-08-19 20:20] naren-ambati commented on #1016
@sudomateo  I'm facing the same issue, But the changes I did for enabling tls is completely different of what you used in nginx.conf.
[code]

I'm trying to make use of your nginx configuration, but my awx_web is not working and I don't see any errors. Do you have any turn around so that I can use your configuration in the above. Any help is appriciated, Thanks.

[2019-08-19 21:03] one-t commented on #4014
Verified on devel-

steps to test:
1. Enable analytics
2. gather analytics
3. check counts
4. launch jobs
5. gather analyics
6. compare counts

This is working as expected

[2019-08-19 21:03] #4014 closed, assigned to one-t

[2019-08-19 22:23] #4427 closed, assigned to keithjgrant

[2019-08-20 02:34] jakemcdermott commented on #4492
@LangJV we recently added [awxkit](https://github.com/ansible/awx/tree/devel/awxkit), an sdk / cli for awx.

With it, I've double-checked for you that one can add and update the awx logo programmatically with it.

[code]

[code]

The updated logo shows up as expected for me after doing the above steps.

I'm going to close this issue as resolved for awx. That said, I do see that the steps you provi

[2019-08-20 02:34] #4492 closed, assigned to jakemcdermott

[2019-08-20 06:19] zdriic commented on #4458
Thanks for your answer. Could you tell me why I have RABBITMQ / DATABASE environment variables for example in awx_task/web containers on my version 1.0.6.41 and I can't find them on my version 6.1.0 after installing AWX 6.1.0 ? It's seems strange for me...

[2019-08-20 06:22] vivuu1989 opened #4518 "Ansible Tower installation is getting failed(offline through package)"
Hi Experts,

I am trying to install Ansible tower 3.2.0 version in my Redhat machine 7.2  and getting following error. I already installed ansible version 2.8 . But tower installation is getting failed.

[code]
Also tried to explicity put the pyuthon2.7 entry in /etc/ansible/hosts file. but still it fails.

please advise me here. ( In my server no internet connectivity and doing through offline pa

[2019-08-20 08:10] alancivita opened #4519 "Awx on kubernetes : Server Error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After a successful installation, awx worked fine for 2 weeks and the suddently it stopped working: The error displayed at the login page is : (see attached screenshot)
Restaring/recreating the pods didn't help.

##### ENVIRONMENT
* AWX version: 6.0.0
* AWX install method: kubernetes
* Ansible version:  X.Y.Z
* Operating System: Centos
* Web Browser: Ch

[2019-08-20 08:41] zdriic commented on #4094
Hi,
I have the same issue with 6.1.0... Impossible to save settings or demo project/template etc... with a DB container.

[2019-08-20 12:13] AlanCoding commented on #4519
Doing a very quick pass, I would speculate that you added the instana middleware. This is [loading](https://github.com/instana/python-sensor/blob/3c81c090cc4dd933c61c733fdb9aec39c873b93a/instana/instrumentation/django/middleware.py#L90) Django middleware, only problem is that it's doing it for the 2nd time. Our AWX middleware is not written to be compatible with that. If you want wild speculation

[2019-08-20 12:17] alancivita commented on #4519
Hi Alan, thanks for getting back
well as far as i know i haven't upgraded any package in this deployment and i have no idea what instana is :)
I'm using kubernetes and i've used the ansible/awx*:6.0.0 docker containers.

[2019-08-20 12:22] milodanlso opened #4520 "Inventory script runs 4 times"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

I have a custom inventory script written in Python.
Everytime time I run it from the GUI it is run 4 times instead of once only.
When I run the script using Python it runs once only.
I wrote a script that highlight the behaviour.

##### ENVIRONMENT
* AWX version: 6.0.0.0
* AWX docker on linux
* Ansible version:  2.8.

[2019-08-20 12:25] alancivita commented on #4519
Never mind, it looks like someone played with instana as you said :)
thanks for the help.

[2019-08-20 12:25] #4519 closed, assigned to nobody

[2019-08-20 12:32] #282 closed, assigned to AlanCoding, squidboylan, kdelee

[2019-08-20 13:11] unlikelyzero opened #4521 "Unable to convert a notification to webhook type"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to convert a notification to webhook type. Note: this may affect more than just webhooks

##### ENVIRONMENT
* AWX version: 6.0.0 (regression from older versions of AWX)

##### STEPS TO REPRODUCE

1. Create a notification (i.e. grafana notification).
2. Save
3. Edit notification type to webhook.
4. Save

##### EXPECTED RESULTS

Save without error

[2019-08-20 13:17] unlikelyzero opened #4522 "Unable to save changes on Webhook NT if after correcting a form error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to save changes on Webhook NT if after correcting a form error. Example: duplicate name on webhook notification form. Note: this may apply to more than just webhook notifications.

##### ENVIRONMENT
* AWX version: 6.0.0 (note was shipped in 3.5.0)

##### STEPS TO REPRODUCE

1. Create a webhook notification with name XXX
2. Create a new webhook n

[2019-08-20 13:37] ryanpetrello commented on #4518
Hey @vivuu1989,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

It sounds like you're using Red Hat Ansible Tower, which is a software product supported by Red Hat - please reach

[2019-08-20 13:37] #4518 closed, assigned to nobody

[2019-08-20 14:23] AlanCoding commented on #4501
I dug a little more, and I'm having trouble with the new expectation here. I stopped an instance, and doing so, find that it has a private IP but no public IP. In this case, the script gives `"ansible_ssh_host": null`. I'm going to find it hard time justifying this change if I cannot reproduce the behavior via the script.

[2019-08-20 14:25] wenottingham commented on #4520
See https://docs.ansible.com/ansible/latest/dev_guide/developing_inventory.html#tuning-the-external-inventory-script, notably this part:

```To satisfy the requirements of using _meta, to prevent ansible from calling your inventory with --host you must at least populate _meta with an empty hostvars dictionary.```

[2019-08-20 14:25] #4520 closed, assigned to nobody

[2019-08-20 14:46] unlikelyzero opened #4523 "Inert link to Workflow Editor Link on WJFT Form on certain Tabs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to use link to Workflow Editor Link on WJFT Form on certain Tabs. If on the WFJT 'Details' tab, the link for Missing Job Templates found in the Workflow Editor correctly opens up the Workflow Visualizer. If on Permissions, Notifications, Completed Jobs, or Schedules, the link is inert.

##### ENVIRONMENT
* AWX version: 6.0.0 (may have never work

[2019-08-20 14:55] unlikelyzero opened #4524 "In Workflow Viz, cannot replace a missing JT"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In Workflow Viz, cannot replace a missing JT in WFJT. The scenario being: a Workflow JT contained a JT and that JT was deleted and a user wants to replace the missing JT.

##### ENVIRONMENT
* AWX version: 6.0.0 (may go back further than 5.0.0
* Web Browser: Firefox and Chrome

##### STEPS TO REPRODUCE
1. Create a WFJT with JT A
2. Delete JT A
3. Naviga

[2019-08-20 15:28] mabashian opened #4528 "Hide prompt button on survey form when only prompt is extra vars"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On the schedule form, the prompt button should not be shown when the only prompt is extra vars.  Extra var prompting is done through the form itself.  This is a break from the usual prompting behavior.

Form:
<img width="1485" alt="Screen Shot 2019-08-20 at 11 26 49 AM" src="https://user-images.githubusercontent.com/9889020/63361044-7089a100-c33d-11e9-

[2019-08-20 16:31] unlikelyzero opened #4530 "[UX] NT Customize Message toggle shows default message options on save but not when reloaded"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The NT Customize Message toggle shows default messages on save but not when reloaded. This can appear as though the default messages did not take.

Possible solutions
1. Make it clearer that the toggle will display default message options and if no changes are made to the messages.
2. Opening the customize message form with the toggle should keep the `

[2019-08-20 16:43] unlikelyzero opened #4531 "Unable to remove customized messages from notification template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to remove customized messages from notification template

##### STEPS TO REPRODUCE
1. Create a Slack notification with customized notification messages.
2. Edit Slack notification from step 1 and remove customized notification messages via toggle and save
Note: 500 error

##### EXPECTED RESULTS
1. Default messages used and customize message togg

[2019-08-20 16:59] jakemcdermott opened #4532 "Fix display of indirect access permissions"
##### ISSUE TYPE
see https://github.com/ansible/awx/pull/4529

[2019-08-20 17:59] #4244 closed, assigned to keithjgrant

[2019-08-20 18:02] unlikelyzero opened #4533 "A JT with multiple notifications attached (for same event type - e.g. started), only uses one NT to generate all notifications"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A JT with multiple notifications attached (for same event type - e.g. started), only uses one NT to generate all notifications

##### STEPS TO REPRODUCE
1. Create three Slack Notification, each with a different custom message
2. Create a JT with all 3 Slack Notifications configured on start
3. Launch JT

##### EXPECTED RESULTS
Each custom message shoul

[2019-08-20 18:11] jladdjr commented on #4531
@unlikelyzero - how did you remove the custom notification message? Did you just toggle off "CUSTOMIZE MESSAGES..." in the ui?

[2019-08-20 18:14] unlikelyzero commented on #4531
@jladdjr yea, sorry, updating repro steps

[2019-08-20 19:24] unlikelyzero opened #4536 "Job Template Runtime performance is dramatically impacted by Notification on Start"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Notify on Job Start notifications can dramatically reduce the performance of a JT run. In the scenario:

JT: multivault.yml
Notifications: 26 Slack Notifications being triggered on launch and on success
Runtime is **4:25**
Note: the time between success messages is considerable (15 seconds). The time between success messages is less than a second

JT:

[2019-08-20 20:03] chrismeyersfsu commented on #4536
Quick poking at the code. We create notifications at the beginning of when a job  enters the running state. The created notifications are created such that they will run in a background task. Maybe creating the notifications is very expensive? This sure does smell of the notification not being processed in the background.

 https://github.com/ansible/awx/blob/devel/awx/main/tasks.py#L1172

[2019-08-20 22:20] unlikelyzero opened #4538 "Unable to a new line to Start, Success, and Failure Message for Customized Email Notification Types"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to a new line to Start, Success, and Failure Message for Customized Email Notification Types.

Notes:

- New lines can be added to Start, Success and Failure Message **Body** however.
- Message, itself, can be modified as long as a new line is not added

##### STEPS TO REPRODUCE

1. Create a working email notification
2. Modify the notification'

[2019-08-20 22:32] #4242 closed, assigned to keithjgrant

[2019-08-20 23:14] unlikelyzero opened #4539 "Cannot create a custom notification message with {{ job.extra_vars }} in message"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cannot create a custom notification message with {{ job.extra_vars }} in message

##### STEPS TO REPRODUCE
1. Attempt to create a custom notification Start Message with `{{ job.extra_vars }}` in the body

##### EXPECTED RESULTS
Can save and use NT

##### ACTUAL RESULTS
400 Error on Save

##### ADDITIONAL INFORMATION
![Screen Shot 2019-08-20 at 7 14 03

[2019-08-20 23:15] unlikelyzero commented on #4539
![Screen Shot 2019-08-20 at 7 15 28 PM](https://user-images.githubusercontent.com/12446869/63390986-eb26e080-c37e-11e9-963f-f996c7ff3dfb.png)

[2019-08-20 23:17] jladdjr commented on #4539
@wenottingham - any concerns about extra_vars potentially including sensitive data? If not, we can add this back in

[2019-08-20 23:49] jladdjr commented on #4533
The issue is here:
https://github.com/jladdjr/awx/blob/7f035cb2918d0e2fbe10fdcbeb3e14ee32f8b4e6/awx/main/models/notifications.py#L481-L490

This was introduced in 3.6 ([here](https://github.com/ansible/awx/pull/3982/files#diff-3cbeaef3dc5e8f2a7f463efcd3edddc1))

* If you build a function inside of a for loop
* .. and ~that function references the iteration variable~ (UPDATE: I was wrong about this

[2019-08-21 00:21] wenottingham commented on #4539
Extra vars includes password survey types. As long as we are returning the API-view where these have been replaced by "$encrypted$", then it should be OK.

[2019-08-21 01:54] Aethylred opened #4540 "Fails to detect roles/requirements.yaml"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a project includes a `roles/requirements.yaml` file it is not detected or processed:
[code]
It looks like the task to detect the file looks specifically for `requirements.yml` and not also `requirements.yaml`.

This is contrary to the YAML offical extension: https://yaml.org/faq.html

(Generally because both `.yaml` and `.yml` are in common usage,

[2019-08-21 02:59] ryanpetrello commented on #4539
Using `job.extra_vars` will _likely_ contain things like `$encrypted$UTF8$AESCBC$<nonsense>`.

[2019-08-21 03:46] jladdjr commented on #4533
Turns out my diagnosis wasn't quite right. It's not so much that the variable stored inside our function is getting re-written each iteration, it's that the method itself isn't fetching the variable's definition until the last possible moment (late-binding). A better description of the issue is given [here](https://stackoverflow.com/a/3431699/10669572).

![Screenshot 2019-08-20 20 42 23](https://u

[2019-08-21 03:55] jladdjr commented on #4533
Updated description / steps to reproduce. Issue wasn't isolated to WFJT, could be reproduced using any UJT.

[2019-08-21 06:06] jladdjr commented on #4536
~It seems unlikely, but a part of me wondered if https://github.com/ansible/awx/issues/4533 might have negatively impacted performance as a side effect. (It's not clear to me that it would, but the change did happen recently and the change happened pretty close to where we register notifications to run asynchronously, so I'm a bit suspicious of the change).~

(UPDATE: Found smoking gun, described

[2019-08-21 06:38] jladdjr commented on #4521
Adding some context. I ran into this as well after following the steps given in the description. In my case, the UI was attempting to PUT:

![image](https://user-images.githubusercontent.com/4440360/63408255-71551e00-c3a3-11e9-86d9-51c8a4ea292e.png)

I suspect that some of the old config is being carried over into the payload for the new NT config, which can lead to mismatched fields. I suspect th

[2019-08-21 06:42] jladdjr commented on #4530
I think https://github.com/jladdjr/awx/commit/b40566f513d604a2a2588b6ba843e26a7314a95e may fix this. (It fixed an issue I was seeing, but not sure it's the same as the one you're running into). Can you see if you can repro this again?

[2019-08-21 06:44] jladdjr commented on #4531
I believe https://github.com/jladdjr/awx/commit/b40566f513d604a2a2588b6ba843e26a7314a95e should fix this. I'm now able to follow your steps and can confirm custom notifications are erased (set to null, which will prompt awx to use the defaults). Can you take this for a spin again?

[2019-08-21 06:49] jladdjr commented on #4539
While being able to show survey values sounds interesting, I've been trying to stay away from anything that would surface sensitive information (even an encrypted or hashed version). I'd vote to not surface this unless we've got some strong reasons / interest in doing so. We _could_ try to strip out sensitive info, but I think it'd be hard to come up with a filter that was guaranteed to catch ever

[2019-08-21 06:59] jladdjr commented on #4538
Was able to repro this. Logs show:

[code]

Will need to add some extra validation for this.

[2019-08-21 09:03] Blogshot commented on #553
Boolean type is a requirement for our deployment use case. In the meantime we are using a multiple choice selection and comparing strings in our playbooks... not ideal.

[2019-08-21 09:44] kovaxur opened #4541 "Notifications - missing hosts with webhook notification"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We have around 400 hosts in the inventory, however, the notification webhook endpoint receives notification about only around 40-50 hosts. (Sometimes it's working fine reporting all the hosts.)

##### ENVIRONMENT
* AWX version: 6.1.0.0 (Same problem with 6.0.0.0)
* AWX install method: docker on linux (official image from docker hub)
* Ansible version:

[2019-08-21 11:29] milodanlso commented on #4520
Thanks for that quick response that solved my problem. Sorry for the inconvenience but i start with awx and ansible :-)

[2019-08-21 12:05] lord-kyron opened #4542 "Google Cloud Compute Engine credential type is stripping the json file"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a google compute engine credential is created with the json credential file, AWX is stripping some valuable lines. I need those, as I am using gcp_compute_disk module which also requires the service account file to be give as absolute path to the json and instead of giving the file path twice manually, I am using {{ lookup('env','GCP_SERVICE_ACCOU

[2019-08-21 12:47] ryanpetrello commented on #4542
@AlanCoding is this related to https://github.com/ansible/awx/pull/4072 ?

I'd expect that change to address this, and it looks to me like it went into AWX 6.1.0.

[2019-08-21 13:01] ryanpetrello commented on #4542
@lord-kyron can you share the contents of the *actual* config file laid down, vs. what you'd expect?  Also, what version of AWX are you using?  Is it the latest?

[2019-08-21 13:04] AlanCoding commented on #4542
^ these are important questions. To recap the important change from #4072, we added another env var `GCP_SERVICE_ACCOUNT_FILE` which references the credential file (also referenced by a deprecated env var name). this would fit with what you reported if the module failed to recognize any credential file.

[2019-08-21 13:24] keliansb opened #4543 "Multiple choice order in survey"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The actual behavior in a survey when we select elements in a list with multiple choices is to sort them alphabetically. It would be nice to have the possibility to sort them manually, by selecting them in the order we want for example.

Actual behavior :
![1](https://user-images.githubusercontent.com/22099779/63435685-a5722280-c427-11e9-935c-8455341

[2019-08-21 13:25] lord-kyron commented on #4542
@ryanpetrello @AlanCoding
I first faced this in 6.0.0 and there was the first time I developed the workaround, but yesterday I installed 6.1.0 fresh and forgot about my workaround and since I was using the same playbooks, I faced the same issue.
Here is what I am calling in my playbook:
`   - name: create a disk
     gcp_compute_disk:
         name: "disk-{{ dc_prefix }}-test-vm-{{ item }}"

[2019-08-21 13:54] ryanpetrello commented on #4539
https://github.com/ansible/awx/issues/4539#issuecomment-523321867

I agree with this on the first pass.  If we want to do this at some point, I'd rather treat this as an additional enhancement (after all, we never promised the templated notification feature would give you access to *every* field on a job, just many of the useful ones so you can craft a meaningful custom message), and not a require