[2022-04-08 20:46] InnocentK commented on #11399
Resolved

[2022-04-08 20:46] #11399 closed, assigned to nixocio, InnocentK

[2022-04-08 22:24] #11740 closed, assigned to rebeccahhh, CFSNM

[2022-04-11 09:30] Jonathan-Caruana commented on #9926
Hi team,

Any news concerning this issue? It will be fixed in the next releases?

Regards,

[2022-04-11 09:35] Zguive commented on #11879
Hello,
I suggest a workaround:

bug container awx-demo-web and awx-ee
Fatal glibc error: CPU does not support x86-64-v2

finalize the installation as indicated in the Quickinstall , then edit the deployment and change the image 20.1.0 by 19.5.1

$ kubectl edit deployment awx-demo -n awx

quay.io/ansible/awx:20.1.0 ==> quay.io/ansible/awx:19.5.1
( https://quay.io/repository/ansible/awx?tab=tags&tag

[2022-04-11 10:23] anxstj commented on #12023
I changed the EE control plane settings to "Always pull". No change, a project update still fails with: "Invalid callback".

Inside the AWX container the following images are present:
[code]
Version of ansible-runner inside the awx-ee container:
[code]
ansible-runner version in AWX container:
[code]

But on the other side, my staging environment has the same versions and is working. So that's not

[2022-04-11 12:25] stefanpinter commented on #11765
sorry, how is this solved? by adding the filter each time?

[2022-04-11 12:34] kurokobo commented on #11765
@stefanpinter
It's already fixed in upstream devel branch, but not released yet. We'd just wait for the next release😃

[2022-04-11 12:35] stefanpinter commented on #11765
ah, ok thank you :)
i still wonder where I can see the Pull Request? in which of the 5 or so issues regarding this... i did not come across sadly

[2022-04-11 12:37] kurokobo commented on #11765
#11928 and #11944

[2022-04-11 13:02] vrubiolo commented on #10252
I am encountering the same issue (private registry whose cert is signed by our custom CA) and posted a message on the list about this [here](https://groups.google.com/g/awx-project/c/2W1E-MXjxbU/m/I4fL-aq4AAAJ) today.

I run over K3S and it looks I can address the problem via its [associated mechanism](https://rancher.com/docs/k3s/latest/en/installation/private-registry/#configs) until this is imp

[2022-04-11 13:25] pslencinas commented on #1556
Hi Guys. I'm having the same issue. Do you have any update about it?

AWX: 17.1.0
Docker installation
Ubuntu 20

[2022-04-11 13:32] pslencinas commented on #9747
Hi Guys. I'm having the same issue. Do you have any update about it?

AWX: 17.1.0
Docker installation
Ubuntu 20

[2022-04-11 16:01] anxstj commented on #12023
One more observation:

[code]
The installation paths are different. But I don't know if this really matters.

Any advice on how I can debug this?

[2022-04-11 17:27] kdelee commented on #11671
@AlanCoding we did not fix the 1st fetch you referece or the 3rd one I mentioned. The second one that happens via  `calculate_capacity_consumed` is gone now.

Needs more work to remove/use already fetched jobs because we reference it more:
https://github.com/ansible/awx/blob/ac8204427e241efcadd3bf8152007e1c04179a1e/awx/main/scheduler/task_manager.py#L80

Close to being able to be removed:
https://

[2022-04-11 18:51] kdelee commented on #11671
trying out https://github.com/ansible/awx/pull/12030 to see if we can drop one more of these

[2022-04-11 22:00] akus062381 opened #12032 "ansible facts query not set up for spacing"
When creating a smart inventory, and creating a smart host filter using ansible facts, if the user types in a key-value pair where the value has spacing, an error is thrown.

To reproduce:

1. Run the gatherfacts playbook against localhost.
2. In the CLI, shell into your instance and change the ansible_bios_vendor ansible fact variable to "Amazon AWS"
3. In the UI, create a smart inventory. In the

[2022-04-12 01:43] haloss1 commented on #8720
@riccardodorh280 I've developed a Ansible Plugin for getting ManageIQ (CloudForms) hosts as Ansible inventory items:
https://gitlab.com/Haloss1/manageiq_inventory

[2022-04-12 03:45] sagarlutade opened #12033 "RFE: Option to export inventory as CSV file."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

- API
- UI

##### SUMMARY

Export inventory details at `api/v2/inventories/N/script/?hostvars=1` can be exported to CSV format.
Also, ability for awx to output the formatting to CSV.
awx command to expand format(-f) option.

There is no option on the UI as well as awx command which will be very helpful to collect the host details and maintain

[2022-04-12 07:59] avalou opened #12034 "`awx-cli receive --all` results in "KeyError: 'extra_credentials'""
##### ISSUE TYPE

 - Bug Report

##### SUMMARY
In order to migrate projects, templates and inventories from Tower to AWX I tried to get every text assets from Tower with the `receive --all` command. Instead of the output I expected, I got the following error stack.

##### ENVIRONMENT
* tower-cli version: 3.3.6
* ansible 2.9.25
* Operating System: rhel 7.9
* host : 127.0.01

##### STEPS TO REPRODUC

[2022-04-12 10:16] jangel97 opened #12035 "new awx cli import command stuck"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hi,

I

[2022-04-12 12:31] ffirg commented on #11978
Affects AAP 2.1.1 as well. placed into Needs Refinement for further triage.

[2022-04-12 13:43] anxstj commented on #12023
I tried to trace the work a little bit more.

[code]

[2022-04-12 14:08] evanstoner commented on #4081
Hi team! I have a large public sector customer requesting this feature.

Use case: self-service automation users need to invoke job templates with their personal machine credentials (username/password).

- Surveys are not an option because they would print the password in clear text.
- A mix of prompt-on-launch password and username in survey is clunky and unintuitive because the the credential pa

[2022-04-12 14:28] anxstj commented on #12023
When I do the same on my staging node, I get the following results:

[code]
Comparing the two results shows that the staging node misses the callback mount:
[code]
So, what causes the ansible-runner to mount the callback directory into the awx-ee container?

[2022-04-12 14:33] kdelee commented on #11671
Notes from Alan regarding `remaining_capacity`:

[2022-04-12 15:57] anxstj commented on #12023
Comparing the `env.list` files from the `artifacts` directory reveals, that the job on the staging node was started with `LAUNCHED_BY_RUNNER=1`. On the production node the `LAUNCHED_BY_RUNNER` variable is not defined (instead it has `HOME=/var/lib/awx` ?!?).

Then `/var/lib/awx/venv/awx/share/ansible-runner/utils/entrypoint.sh` shows that `ANSIBLE_CALLBACK_PLUGINS` is only exported if `LAUNCHED_BY

[2022-04-12 16:03] fosterseth commented on #12035
it's intended to be piped in

`cat awx-data.json | awx import -f json`

or

`awx import -f json < awx-data.json`

We need to make this more clear in the cli help text, as it doesn't mention this at all.

[2022-04-12 16:47] coreydeli commented on #9747
I have this exact same issue in version 20 on microk8s on Ubuntu 20.04.4 LTS.

[2022-04-12 17:43] AlanCoding commented on #11336
This is too narrow for what people want, closing in favor of others.

[2022-04-12 17:43] #11336 closed, assigned to nobody

[2022-04-12 18:57] AlexSCorey opened #12040 "Update Social Auth on Login Screen"
##### ISSUE TYPE
-feature
##### SUMMARY
The social auth on the login page lend themselves to a feeling of "follow us on abc social platform" instead of "login via social platform".  Consultation with Patternfly and UXD says we can do something like the image below.  Patternfly did recommend using phrasing like `Log in with Google` instead of `sign in`
![image](https://user-images.githubusercontent

[2022-04-13 05:14] FooBarTrixibell opened #12042 "Unable to connect to LDAPS"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When se

[2022-04-13 05:16] FooBarTrixibell commented on #12042
Sorry, that error was when I was trying the IP Address, with FQDN it gives -

SERVER_DOWN({'result': -1, 'desc': "Can't contact LDAP server", 'ctrls': []})

[2022-04-13 13:18] nixocio commented on #7850
See also: https://github.com/ansible/awx/issues/11985

[2022-04-13 13:22] ffirg commented on #11985
closing for favour of #7850

[2022-04-13 13:23] ffirg commented on #2817
closing in favour of #7850

[2022-04-13 13:23] #2817 closed, assigned to nobody

[2022-04-13 13:23] ffirg commented on #11610
closing in favour of #7850

[2022-04-13 13:23] #11610 closed, assigned to nobody

[2022-04-13 13:24] ffirg commented on #7853
closing in favour of #7850

[2022-04-13 13:30] john-westcott-iv commented on #11499
@dlemons-redhat Can you try with a later version of the collection? I just tried this today (from the awx devel branch, collection version 20.0.2) and it works as expected:
[code]

[2022-04-13 14:09] john-westcott-iv commented on #11743
This appears to be an ansible issue with how ansbile itself is handeling templating and not necessarily an awx.awx collection issue. I was able to replicate this with the following playbook:

[code]

Where lookup_test.yml.txt file was:
[code]

And I get the same results you saw where, if I hard code the file name in the playbook, it works fine:
[code]

But if I remove the hard coded file name and

[2022-04-13 14:19] thenets opened #12044 "AWXKIT: Cannot delete labels"
If I try to delete a label being used by some resource, I get the following error:

[code]

Would be nice to have a method that allows the user to force-delete the label by removing it from any resource and then deleting it. Example:

[code]

[2022-04-13 15:43] #11396 closed, assigned to AlexSCorey, akus062381

[2022-04-13 17:23] nixocio opened #12046 "Disable isCreatable for Select component on Advanced Search"
##### SUMMARY

Disable isCreatable for Select component on Advanced Search. This prop leads to invalid API searches.

<img width="1496" alt="image" src="https://user-images.githubusercontent.com/9053044/163234927-b4b0c433-435e-4a28-923a-26eafa17f8ef.png">

<img width="1498" alt="image" src="https://user-images.githubusercontent.com/9053044/163234857-a07d7a9a-1da5-41f9-8ae5-e23213f877ca.png">

[2022-04-13 17:30] nixocio commented on #12046
Thinking about this one a bit more... ideally we should verify all places where we use <Select/> component with ```variant={SelectVariant.typeahead}``` and evaluate if make sense to use ```isCreateable```.

[2022-04-13 17:31] infamousjoeg commented on #11121
Any updates on the possibility of this being included? Still a huge issue when it comes to trying to use unique keys to conduct massive operations like OS Patching, etc.

[2022-04-13 17:33] infamousjoeg commented on #286
@AlanCoding

Here is how I am able to conduct OS patching across many hosts while pulling secrets dynamically per host using CyberArk Conjur Secrets Manager. Each server has a unique SSH key that is needed for connection: https://github.com/infamousjoeg/instruqt/blob/22654a6ae7681846ae516489c5594935456fea33/tracks/conjur.org/secure-ansible-automation/09-secure-playbook/solve-host01#L13

My issue a

[2022-04-13 18:20] AlexSCorey commented on #11615
@ffirg @shanemcd do we want to modify which credentials can be added to a job template?

[2022-04-13 18:25] AlexSCorey commented on #11615
A user can add a credential with a custom credential type to a job template.  We'd need @shanemcd and @ffirg to chime in on whether we want to allow users to add credentials of additional credential types to a job template.

[2022-04-13 21:04] FooBarTrixibell commented on #12042
Might be related to CA, I am also getting a certificate error trying to sync a project from gitlab -

SSL certificate problem: unable to get local issuer certificate

I tried to add the CA to /etc/pki/ca-trust/source/anchors and then run update-ca-trust inside the awx container but it didn't fix this.

I must say, I really hate Docker and MiniCube, it would be nice to just apply my ansible configs

[2022-04-14 02:16] FooBarTrixibell opened #12051 "Access to log files from web frontend"
- Access to log files from web frontend

Rather than having to work out how to work Docker or Kubernetes annoying log retrieval system and having to work out which container is doing the thing that you need the log for, having a webpage which could allow you to see the aggregated logs (and perhaps retrieve a zip file for support) would be really handy.

[2022-04-14 02:34] FooBarTrixibell commented on #12042
I tried installing this in Kubernetes, the learning curve is horrendously steep and the complexity is stupid considering its only a database, a web server and an app server, all of which can run on a single monolithic server quite happily.

After installation I can get nothing useful to work as the network appears to be isolated to the host. I needed to reverse proxy with nginx just to get the fro

[2022-04-14 06:24] muchafel commented on #11391
@fosterseth sorry your reply got somehow lost on my side. I couldn't really find any systematic so far. The error seems to occur only for Jobs that run longer than 10 minutes. Sometimes the issue also occurs only after > 40 minutes.
I have checked the system load of my Openshift cluster at and it is rather ideling. I don't see any bottle-neck for the AWX containers either.
I haven#t managed to che

[2022-04-14 06:47] Gaabaa commented on #11391
I had same issue with those long running jobs in 19.4.0. Suddenly when i upgraded to 20.1.0 all those issues are gone.

[2022-04-14 09:47] anxstj commented on #11743
Thanks, I really appreciate that you took the time to look into this issue.

ansible/ansible#77535

[2022-04-14 11:48] noesberger commented on #5873
Hi @craph
I just tried the same, to be able to manage the database with pgadmin. I had the same error. Did you found a solution for your problem?

Thanks.

[2022-04-14 13:32] ffirg commented on #11985
reopening as related to other issues but still needs to be resolved.

[2022-04-14 14:51] anxstj commented on #12023
Changig
[code]
to

[code]
fixes the problem.

The job has still the additional callback dir mounted:
[code]

[2022-04-14 15:07] anxstj commented on #12023
It looks like this setting is very old:
[code]

[2022-04-14 15:12] nixocio commented on #12046
I checked several places using isCreateable they all seem to be intentional.

[2022-04-14 15:38] john-westcott-iv commented on #11743
Closing in favor of Ansible issue above.

[2022-04-14 15:38] #11743 closed, assigned to nobody

[2022-04-14 16:22] kdelee opened #12057 "Have job_wait module set a good example and do exponetial backoff"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

AWX is sensitive to DDOS attacks by clients polling too aggressively. We should set a good example in our module and implement longer interval/some kind of backoff scheme.

See https://github.com/ansible/awx/blob/devel/awx_collection/plugins/modules/job_wait.py

[2022-04-14 17:14] nixocio opened #12058 "Clean up React Warnings"
##### SUMMARY
Clean up React Warnings.

I noticed a couple of react warnings on the dev env.

- [x] Go to https://localhost:3001/#/inventories/inventory/1/sources/add

![image](https://user-images.githubusercontent.com/9053044/163439307-7e0597b0-df92-4ba5-9513-2861bd25d355.png)

![image](https://user-images.githubusercontent.com/9053044/163439489-302ac7fe-79e6-4814-9bbe-5fbe79d5623c.png)

[2022-04-14 17:27] rebeccahhh commented on #12051
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Access to log files from web frontend
Rather than having to work out how to work Docker or Kubernetes annoying log retrieval system and having to work out which container is doing the thing that you need the log for, having a webpage which could allow you to see the aggregated logs (and perhaps retrieve a zip file for support) would be really handy.

[2022-04-14 17:42] nixocio opened #12059 "Copying a notification template does not show toast message"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Copying

[2022-04-14 17:55] MallocArray opened #12060 "Collection 20.1.0 displays warning claiming 0.0.1-devel"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Upgrade

[2022-04-14 18:03] vyas-n opened #12061 "Feature Request: Is AWX FIPS 140-2 certified?"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I'm evaluating the use of AWX over other tools for an operations team, and I was wondering if AWX can be deployed into a FedRAMP environment.

I don't see an official certification on the Ansible website (maybe I just missed it). If you have documentation for AWX's FedRAMP Certification, I'd like to view it, as well as any tips on configuring AWX fo

[2022-04-14 18:05] kialam commented on #12058
The first error should go away once we upgrade React to [v18](https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#react). The other warnings should be fixed.

[2022-04-14 18:44] #12008 closed, assigned to nixocio, akus062381

[2022-04-14 19:01] #12046 closed, assigned to nixocio, akus062381

[2022-04-15 07:27] craph commented on #5873
Hi, no I didn't found any solution for my problem :(

[2022-04-15 15:44] fferraro87 commented on #12042
yes with ldaps i've same problem
SERVER_DOWN({'result': -1, 'desc': "Can't contact LDAP server", 'errno': 107, 'ctrls': [], 'info': 'Transport endpoint is not connected'})

[2022-04-15 17:28] danielsouzasp commented on #8525
I could fix it by deleting the pending notification via psql CLI:
awx=# DELETE  FROM main_notification WHERE status='pending';
DELETE 1

[2022-04-15 17:34] ghost commented on #989
Not even that, now they force you to build and maintain Kubernetes cluster just to use AWX. I wonder what's next....

[2022-04-18 10:41] wwolkers commented on #12042
for me, this was resolved by not checking the certificate anymore from AWX:

awx-cli setting modify AUTH_LDAP_CONNECTION_OPTIONS "{u'OPT_NETWORK_TIMEOUT': 30, u'OPT_REFERRALS': 0, u'OPT_X_TLS_REQUIRE_CERT': 0}"

[2022-04-18 14:11] #11842 closed, assigned to AlanCoding

[2022-04-18 15:07] jbradberry commented on #7946
@muchafel you are using a version of awxkit / awx-cli from between when we implemented import/export (June 2020) and when we added support for Execution Environments (March 2021).  Upgrading your version of awxkit should clear that up.

[2022-04-18 16:20] jbradberry commented on #7946
Leaving this here in case anyone else winds up picking this up:

This issue is going to be trickier to deal with than the title would lead you to believe.  Workflow approval templates are a special case of unified job templates, and are exposed in the API in the same way.  However, they get created via a special relation endpoint, `/api/v2/workflow_job_template_nodes/<id>/create_approval_template/

[2022-04-18 16:26] keithjgrant commented on #11068
these tabs aren't meant to be a simple re-display of the job event stdout, but rather details reported from the module itself, whether stdout or stderr

[2022-04-18 18:40] mcmx commented on #11174
I don't understand how, 1 failure to update, stops every new job to launch without trying to update the revision, is this behavior documented somewhere?

This kept jobs from running until a manually 'Get latest SCM revision' was executed, there are no logs for either job creation or the update (or try to update the revision from the project) was actually retried.

[2022-04-18 19:16] nixocio commented on #11697
Data is available on the API we need to add to the UI.

<img width="1789" alt="image" src="https://user-images.githubusercontent.com/9053044/163862970-64e36491-38f4-4748-b3fc-481878574866.png">

[2022-04-18 20:42] evanstoner commented on #12061
Hi @vyas-n, I'm a solutions architect on the Red Hat public sector team. Red Hat Ansible Tower [supports installation on FIPS-enabled systems](https://docs.ansible.com/ansible-tower/latest/html/installandreference/install_notes_reqs.html#installing-ap-on-systems-with-fips-mode-enabled). Since FedRAMP is applicable to cloud services, not software products, Ansible Tower itself does not carry a FedR

[2022-04-18 23:13] thenets opened #12070 "UI: Human-friendly time and date"
It's hard to read the job list and identify what was updated recently.
One possible solution for that is to use the "XX minutes ago" format instead of the full date time.

This may be important for two parts of AWX:
- Jobs
- Activity Stream

## Currently behavior

![Captura de Tela 2022-04-18 às 20 00 54](https://user-images.githubusercontent.com/2138276/163890839-c06bfd7c-7efd-4e8e-9a61-f14e7401

[2022-04-19 03:26] FooBarTrixibell commented on #12042
Buried in the install documentation -

<html>
<body>
<h4 dir="auto" style="box-sizing: border-box; margin-top: 24px; margin-bottom: 16px; font-size: 16px; font-weight: 600; line-height: 1.25; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-style: normal; font-

[2022-04-19 03:27] yaserdashti commented on #11623
i can see the same issue in AWX 20.1.0 .  any plan for fixing it?

[2022-04-19 03:30] FooBarTrixibell commented on #12042
Worth noting, I was NOT using the kubernetes install method (and as yet am still trying to get the damned thing to work) and this does not exist in the docker install document.

I think I am three days down on this simple upgrade. I am beginning to wish I had never started.

[2022-04-19 08:07] huydd79 commented on #11121
I also want to get update on this feature!!!

[2022-04-19 09:01] vadirajks commented on #9727
@josem-vexcel i had the same problem. Follow this https://stackoverflow.com/questions/60198159/slack-api-conversations-history-returns-error-not-in-channel to invite bot to the private channel.

[2022-04-19 10:35] anxstj commented on #12023
To validate my finding, I set `"AWX_TASK_ENV": { "HOME": "/var/lib/awx" }` on the the staging system. And then triggered a project update:
[code]

So, the error is not reproducible alone by setting "AWX_TASK_ENV". The `callback` mount is still missing.

[2022-04-19 12:26] anxstj commented on #12023
I was thinking that the statement in https://github.com/ansible/awx/blob/devel/awx/main/tasks/jobs.py#L538 would solve (a part of) the mystery, but both systems have the same settings:

prod:
[code]
[code]

staging:
[code]
[code]

[2022-04-19 13:46] john-westcott-iv opened #12071 "Hide local/utc toggle on schedule page"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

If the local time zone of a schedule is already UTC the local/utc toggle does not really do anything because the information is the same. We should hide the local/utc toggle in this scenario to avoid confusion.

[2022-04-19 17:08] AlexSCorey opened #12072 "Bump Minimist version"
Bump minimist to 1.2.6

[2022-04-19 18:39] InnocentK commented on #11863
Resolved

[2022-04-19 18:39] #11863 closed, assigned to InnocentK, AlexSCorey

[2022-04-19 19:22] jelly-is-bean commented on #11879
i also encountered the issue - @amg-web I'm betting like me you are using visualisation software based in linux (for me it was Proxmox) for your kubernetes/awx install. There is something with the kvm64 cpu emulation/driver and in Proxmox I have the option to select a different type (I selected to past-in the host cpu - no emulation) Anyway - long long day troubleshooting short - I have managed to

[2022-04-19 20:07] S3cBar0n commented on #11879
I can confirm I had this same issue, which was solved by performing the same actions. Also running 0.20.0 just fine.

[2022-04-19 21:18] InnocentK commented on #11068
Resolved

[2022-04-19 21:18] #11068 closed, assigned to keithjgrant, InnocentK

[2022-04-19 22:28] ikhan2010 commented on #11557
@jbradberry @rebeccahhh  Do you have capacity to handle this in this iteration?

[2022-04-19 23:58] FooBarTrixibell commented on #12042
I still have not gotten this working, OPT_X_TLS_REQUIRE_CERT did not work, probably because I am not using tls but rather SSL (ldaps).

I tried the certificate as a secret and cant seem to get that working either. I had initially thought that the certificate was in the wrong format but after converting it to PEM and using the certificate chain in bundle it still didn't work.

I am giving up and ru

[2022-04-19 23:58] #12042 closed, assigned to nobody

[2022-04-20 03:19] kdelee commented on #2872
new UI, no longer relevant

[2022-04-20 03:19] #2872 closed, assigned to nobody

[2022-04-20 03:24] #4127 closed, assigned to nobody

[2022-04-20 05:27] amg-web commented on #11879
[jelly-is-bean](https://github.com/jelly-is-bean),  [S3cBar0n](https://github.com/S3cBar0n)
yes you are right
SolusVM KVM with QEMU (it uses a little old driver and I'm not sure it's possible to update it to the latest version on CentOS 7)
I'll try to play with CPU driver settings.

[2022-04-20 08:01] anxstj commented on #12023
I tried to figure out why the ansible-runner version from AWX is older than the version from awx-ee. And it turned out that AWX installs directly the latest version from `devel`: See [requirements/requirements_git.txt](https://github.com/ansible/awx/blob/devel/requirements/requirements_git.txt#L3):
[code]
Unfortunately, the version number from devel is misleading, see: https://github.com/ansible/a

[2022-04-20 08:51] moonrail opened #12074 "Per Inventory Fact Cache Timeout"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently there is a global configuration option `System > Jobs > Per-Host Ansible Fact Cache Timeout`/`ANSIBLE_FACT_CACHE_TIMEOUT` that can be used to define a global fact cache timeout for all inventories in AWX.

When having a lot of different inventories (which is pretty common I would think, as Organizations can be used for tenancy) with individ

[2022-04-20 10:03] Apstia commented on #11057
I would suggest to get a report in Table format instead of  json response directly sent over the email.

[2022-04-20 10:51] antromanfdez opened #12075 "limit from variable"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I would like to be able to provide a variable instead of a pattern for **limit**.

The purpose is to be able to get through set_stat in step 1 of
a workflow those hosts that I do not want to run in step 2 of this workflow.

**I **am getting the following warning****:
**INFO**: ansible_limit contains in this case the require host for testing purposes

[2022-04-20 13:34] jehutyy opened #12076 "Safe upgrade path"
##### ISSUE TYPE
 - Have a clear upgrade path between version
##### SUMMARY
I just came through an upgrade from version 3 to 17, and it was a real pain that actually didn't work in the end.

It could be real great to have a safe upgrade path much like gitlab do (https://docs.gitlab.com/ee/update/#upgrade-paths)  for instance.

[2022-04-20 13:35] jbradberry commented on #11557
@ikhan2010 probably

[2022-04-20 14:19] rebeccahhh commented on #11557
I do

[2022-04-20 15:50] AlexSCorey commented on #12058
I am going to break this into 2 issues.  1 for the invalid prop type and 1 for React upgrade. Reason: We have to wait for Patternfly to get to react 18 before we can update.

[2022-04-20 15:50] AlexSCorey opened #12079 "Update React"
Update to react 18 to address
![image](https://user-images.githubusercontent.com/39280967/164271829-1635479a-c2c3-4807-a55d-10d5da64914a.png)

Blocked: https://github.com/ansible/awx/issues/12058#issuecomment-1104092342

[2022-04-20 18:14] #11770 closed, assigned to nixocio, InnocentK, akus062381

[2022-04-20 18:20] jelly-is-bean commented on #11879
<img width="826" alt="Screen Shot 2022-04-21 at 6 19 46 AM" src="https://user-images.githubusercontent.com/87625725/164296809-c523a878-8ed8-41f7-b548-40dd4159150e.png">
@amg-web this is similar to Proxmox - when you are making the VM for the minikube cluster just passthrough your host cpu

Edit: screenshot taken from documentation for SolusVM KVM

[2022-04-20 21:15] ikhan2010 commented on #11557
@rebeccahhh thanks for stepping up.  Kindly let me know how much effort is this.

[2022-04-20 21:53] ikhan2010 commented on #11391
@shanemcd @sarabrajsingh is there any work left on this issue?  It seems it is fixed.  Can we call this complete, please?

[2022-04-21 02:30] sarabrajsingh commented on #11391
backport for this has been merged. this issue needs QE signoff now.

[2022-04-21 07:06] ajmerhasan commented on #4547
i am using branch 17.0.1 from https://github.com/ansible/awx.git and using install using docker

i followed as per suggested in docs/cors.md

i made changes accordingly :
awx/installer/roles/local_docker/tasks/compose.yml
task : Create Docker Compose Configuration
...
- file: cors.py
  mode: "0664"
...

awx/installer/roles/local_docker/templates/docker-compose.yml.j2
web:
  ...
  volumes:
    ...

[2022-04-21 07:06] ajmerhasan commented on #1519
i am using branch 17.0.1 from https://github.com/ansible/awx.git and using install using docker

i followed as per suggested in docs/cors.md

i made changes accordingly :
awx/installer/roles/local_docker/tasks/compose.yml
task : Create Docker Compose Configuration
...
- file: cors.py
  mode: "0664"
...

awx/installer/roles/local_docker/templates/docker-compose.yml.j2
web:
  ...
  volumes:
    ...

[2022-04-21 09:22] dyudin0821 opened #12080 "Endless loading of Job log objects. High CPU consumption Chrome"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

After u

[2022-04-21 09:31] kurokobo commented on #12080
Already addressed via #11765 and others (see comments and links in the issue), but not released yet. I hope the fix will be shipped with the next release.

[2022-04-21 09:52] Tioborto opened #12081 "AWX 20.1.1 🚀"
##### ISSUE TYPE
-  Feature request

##### SUMMARY
Sorry for that Issue / Feature Request but we don't have any response from other channels.
We want to upgrade our instance (19.2.2) to the last version (20.1.0) but the regression on UI logs output is really blocking for us.
When do you plan to create a new release (20.1.1?) that embeds the patch (https://github.com/ansible/awx/issues/11765)?

🚀 B

[2022-04-21 11:40] shanemcd commented on #10211
Closing this in favor of https://github.com/ansible/awx/issues/11338

[2022-04-21 11:40] #10211 closed, assigned to nobody

[2022-04-21 11:41] shanemcd commented on #6792
No updates on this issue in a while. Going to assume it was fixed or not relevant for newer versions.

[2022-04-21 11:41] #6792 closed, assigned to nobody

[2022-04-21 11:41] #9540 closed, assigned to nobody

[2022-04-21 11:42] shanemcd commented on #10568
No activity here for a while, going to assume it was resolved.

[2022-04-21 11:42] #10568 closed, assigned to nobody

[2022-04-21 11:43] shanemcd commented on #10151
Are folks still seeing this?

[2022-04-21 11:43] #7855 closed, assigned to Spredzy

[2022-04-21 12:50] JRNC opened #12082 "Are there plans to address container image vulnerabilities?"
There have consistently been high and critical vulnerabilities that appear in the image scanning results in Quay for the container images created and used for the AWX project. For example, the container image for the awx-web pod (quay.io/ansible/awx) has two critical-level vulnerabilities (CVE-2020-1747 and CVE-2020-36242) and three high-level vulnerabilities.

There are other container images lev

[2022-04-21 13:45] navvisit commented on #10151
I've seen it last time on the 12th of April, shortly after the AWX upgrade to 20.1.0. It used to fail more often before, one thing I noticed was the issue gets a bit more stable if I delete the AWX pods.

I have a feeling it's better in 20.1.0, I can report back if I still see it.

[2022-04-21 14:41] AlanCoding commented on #6134
@jbradberry what would you think of this implementation:

Introduce a new instance group reserved name, and create it at the same time that we create the `default` and `controlplane` instance groups in the installer. Spit-balling the name, call it `termination_group`. Since the related `instance_groups` relation is ordered...

https://github.com/ansible/awx/blob/c7049e1a0e6a786c4d5526e19354d58f123

[2022-04-21 15:02] 12csw1 commented on #12034
Should this issue be labeled as priority:high?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other information boosting

[2022-04-21 15:05] 12csw1 commented on #12060
Should this issue be labeled as priority:high?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other information boosting

[2022-04-21 15:36] #10787 closed, assigned to shanemcd, tchellomello

[2022-04-21 16:39] jocamp18 opened #12085 "AWX automation job not able to handle our playbook load"
##### SUMMARY
We have a playbook that runs on about 2000 hosts at the same time, once we launch the template it is creating a job **automation-job-id-id**, but after some time, the job finishes with an error because it is not able to handle all of the load. Is it possible to implement HPA with these ephimeral pods? so a new replica is created when it gets some specific load?

##### ENVIRONMENT
* O

[2022-04-21 19:54] jbradberry commented on #6134
@AlanCoding I'm afraid I'm not a fan of relying on special naming of objects to get different behavior.

My off-the-cuff proposal would be to add a boolean field to `InstanceGroup` called something like `reserved` or `restricted`.  Such groups would then only be used if they are explicitly assigned to a `JobTemplate` or `Inventory`.

It does, however, sound like we have the reverse problem as well

[2022-04-21 19:59] MallocArray commented on #12060
@12csw1
I would not consider this particular issue as priority:high
While the warning message is inaccurate, it still functions as expected,.

[2022-04-21 21:18] chris93111 opened #12087 "streaming job stuck with new children"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello

[2022-04-21 21:26] keithjgrant commented on #12011
Looks like Alex is addressing this in https://github.com/ansible/awx/pull/12078

[2022-04-22 01:48] AlanCoding commented on #6134
I don't think your first proposal would solve the problem here. My problem with a new JT field is that this isn't just about JTs.

Talking more about it, I see the point of the original post here. You need to assign IGs to an org to delegate usage, but that changes the behavior so they become fallbacks.

Adding roles to IGs would be consistent with current patterns and would solve the problem here

[2022-04-22 06:36] adpavlov opened #12088 "AWX EE performance"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Hi everyone,

Finally trying to migrate my docker based AWX 15 to kubernetes based AWX 20.
I have to use custom EE to have ansible 2.9.
In EE ideology each playbook execution means separate pod/container creation, which actually takes a lot of time to bring infrastructure up before actual execution starts.
So I have few questions that I could not go

[2022-04-22 12:54] AlanCoding commented on #12080
Thank you for the report, yes, this description sounds to me like what @keithjgrant addressed in a recent merge so I will close this as a duplicate.

[2022-04-22 12:54] #12080 closed, assigned to nobody

[2022-04-22 12:59] AlanCoding commented on #12060
Confirmed issue.

[code]

We changed up some release tooling recently, so this is likely fallout from that.

[2022-04-22 12:59] john-westcott-iv commented on #11908
It looks like there all of the other AWX containers are there as well and could be removed:
- ansible/awx-operator (updated 2y ago)
- ansible/awx_task (updated 2y ago)
- ansible/awx_web (updated 2y ago)
- ansible/awx_rabbitmq (updated 2y ago)
- ansible/awx-dev (updated 4y ago)
- ansible/postresql (updated 5y ago)

[2022-04-22 13:01] vibinm commented on #11542
Hello All,

I see this error on version 20.0.1 as well.

[2022-04-22 13:06] shanemcd commented on #11908
For better or worse there are folks using super old versions of AWX. If we delete those images, be prepared to get roasted by the internet.

[2022-04-22 13:08] shanemcd commented on #11908
I've deleted the latest tag on dockerhub.

[2022-04-22 13:09] #11908 closed, assigned to shanemcd

[2022-04-22 13:14] kdelee commented on #12088
@adpavlov that is not currently a feature. I would guess you might need some changes to the receptor kubernetes work type if it were to be one. https://github.com/ansible/receptor/blob/devel/docs/source/k8s.rst

In OpenShift there is a registry local to the cluster, so once the image is available there, the start up time is not much of an issue.
You may consider looking at setting up an internal r

[2022-04-22 13:14] #12088 closed, assigned to nobody

[2022-04-22 13:20] kdelee commented on #12085
@jocamp18 this sounds a lot like https://github.com/ansible/awx/issues/12019 to me.

I'd try the workarounds I discuss in that issue using sliced jobs and potentially a custom container group w/ larger resource requests to assign to this job template or the the inventory (that may be better if the JT is run against multiple inventories).

Please feel free to follow up in on that issue and +1 it if

[2022-04-22 13:20] #12085 closed, assigned to nobody

[2022-04-22 13:52] adpavlov commented on #12088
@kdelee thanks for looking into it. Probably I didn't explained it wright.
I have custom AWX-EE image stored locally as my environment is isolated from the internet, but still it takes quite a lot of time to create POD, container and then start job execution.
I want to achieve constantly running and ready to execute containers like it's illustrated in [Docker Compose for Development](https://githu

[2022-04-22 13:52] shanemcd commented on #11615
I think we'd need to go through each one and ask if they make sense in the context of a JT, I'm assuming there are some that dont.

[2022-04-22 13:54] #12072 closed, assigned to nobody

[2022-04-22 14:03] AlexSCorey commented on #11765
The release cadence of AWX varies, however we try to release a new version of AWX every few weeks. If you feel comfortable running the HEAD of awx/devel then these changes will be immediately available.

[2022-04-22 14:39] kdelee commented on #12088
The always-on-receptor nodes you are describing in the development environment are simulating a type of execution instance which is not currently a part of the mainline awx deployment on k8s, which only uses ContainerGroups for job execution. Container groups use that k8s work type in receptor https://github.com/ansible/receptor/blob/devel/docs/source/k8s.rst

re: the git processes
you might check

[2022-04-22 14:45] jbradberry commented on #6134
@AlanCoding I don't see how adding the new role described in that RFE helps with either of the problems enumerated in this issue, though I do like having finer-grained roles in general:

- We need to allow the user to prevent fallback into the general pool for JTs that require special IGs.  Having the proposed Instance Group Admin role does not help with that.
- We need to allow the user to preven

[2022-04-22 17:17] AlanCoding commented on #6134
Right now, people associate instance groups to their organization in order to allow organization admins to access them. If instance groups had an `admin_role`, then they would just delegate that role to the users (or teams) who need to use them. This would solve the problem, and is a potential solution called out in the original issue filing here. It flew over my head at first, but I get it now.

[2022-04-22 17:28] jbradberry commented on #6134
It's what I understood this point in the parent comment to mean.

[2022-04-22 17:29] mabashian commented on #12070
Could potentially need https://github.com/ansible/awx/issues/278.  Also could be related to or rolled in with some other date related changes.  Link https://github.com/ansible/awx/issues/1697

[2022-04-22 17:36] jbradberry commented on #6134
That wasn't how I understood #4292, though admittedly Bill's comment on that issue leans that way.  The way the title and parent comment are worded leads me to believe that the proposed role would parallel something like the Org Project Admin role.  Even if we go for a `InstanceGroup.admin_role`, though, I still don't see how it helps with preventing fallback to inappropriate IGs for templates tha

[2022-04-22 17:52] keithjgrant commented on #11892
This question seems like a good one to ask on our mailing list at https://groups.google.com/g/awx-project. You can also join #ansible-awx on https://libera.chat/ and ask your question there.

[2022-04-22 18:03] kialam commented on #10678
I've done some digging into this issue as well. Looks like UI unit tests are running exceptionally slow within a docker container. You can observe this by shelling into the awx container and running unit tests from there (`npm test --prefix awx/ui`). In most cases the tests never even finish. Running tests locally and outside of a docker container only takes ~300s vs almost 20 mins in CI. There's

[2022-04-22 18:14] AlanCoding commented on #12075
Could you give an example of what you want to do using the `ansible-playbook` CLI? You can see some examples of `--limit` syntax here https://docs.ansible.com/ansible/latest/user_guide/intro_patterns.html

If there's anything you can do with that which you can't do in AWX, then it's clearly something we should support. I don't know it really supports jinja2 templating or host expansion patterns, b

[2022-04-22 18:15] gabhishek627 opened #12091 "Starting job execution along with inventory sync"
##### ISSUE TYPE
 - Feature Idea

COMPONENT NAME
- UI
- API

##### SUMMARY

* current behavior:  A Tower dynamic inventory - synchronizing from a script/program ( "Sourced from a Project" type ) - will not allow any Job Templates associated to it to execute during a sync operation. The inventory sync operation appears to be enforcing a global lock to the aforementioned group of Job-Templates and l

[2022-04-22 19:48] nixocio opened #12092 "Provide feedback when saving a Large Workflow Template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Provide feedback when saving a large workflow template.

Right now we do not provide any feedback when saving a large workflow job template, this is specially noticeable with a large number of nodes and connections. This leads to several HTTP requests, and the user can click the save button several times during this process.

We could either disable

[2022-04-22 20:18] rebeccahhh commented on #11557
I am on PTO for a week so @jbradberry if you want to get progress on this don't wait for me (no pressure, I'll be back after PyCon).

[2022-04-22 23:32] sean-m-sullivan commented on #11510
So schedules are never part of the object as they their own objects inside the AWX API,
However for Schedule, Using Job Templates/Inventory Sources/Projects they are all Unified job templates. the same way they work to be a source for Workflows.

The code to schedule a project update or inventory source update is as follows
[code]

[2022-04-22 23:59] sean-m-sullivan commented on #12057
The default value for wait/interval were set to timeout=30, interval=1 effectivly
I've made an update to double it, if we want to adopt this. Should help, but keep things quick.
@kdelee Thoughts?

[2022-04-23 15:02] chiquiff commented on #7859
+1

[2022-04-24 10:31] 12csw12 commented on #12087
Should this issue be labeled as priority:medium?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other information boosti

[2022-04-24 11:07] amg-web commented on #11879
Yes tweaking CPU driver settings solved the problem

[2022-04-25 06:16] ideyedi commented on #9704
@sebypp ,
Did you add or delete the '---' character from your inventory?

[2022-04-25 08:16] JoelKle commented on #6134
Hello together,
we are a customer of AAP and opened the RH case #03190216 addressing this problem. So if you need first hand customer feedback what we need, feel free to ask :)

Exactly @AlanCoding!

Adding roles to IGs would be a good starting point, but now that I think about it, that only partially solves the problem.

I try to describe the use case we have:
We have three network zones which ar

[2022-04-25 09:45] JoelKle commented on #6134
I found a really ugly workaround.

We have a organization called "sit-linux". Users in that orga should be able to run jobs on the IG SE1-HSZ and SE1-DRZ.

To achieve a separate fallback mechanins per restricted network zone, we created two organizations.
Reason: each organization has it's own fallback mechansim.

1. Orga "sit-linux SE1-HSZ"
   - select IG SE1-HSZ on orga level

2. For Orga "sit-l

[2022-04-25 10:09] adpavlov opened #12097 "tower-cli not supporting AWX at non-root path"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Changes

[2022-04-25 13:30] AlanCoding commented on #11916
I don't want to jump the gun on carrying out this issue without some good discussion on implementation. You can see the confusion about inheritance with projects as `Project.default_environment` was added by @jbradberry. This field name was indicating that it would act as default for _jobs_ using it, but that it would not be used by project updates of that project.

I can envision some potential s

[2022-04-25 13:52] joaodlf commented on #11916
Purely from the point of view of the UX, I would imagine a on/off toggle within `/#/projects/<id>/notifications` would suffice. There are currently 3 toggles in there: Start, Success & Failure. Maybe an extra "Project Update"?

Thank you for taking a look at this issue.

[2022-04-25 14:48] ffirg commented on #11967
dup - fixed in https://github.com/ansible/awx/issues/11284

[2022-04-25 14:48] #11967 closed, assigned to nobody

[2022-04-25 15:01] jbradberry commented on #6134
@JoelKle thanks for all of this context, this seems useful.

[2022-04-25 15:05] CFSNM commented on #11391
Launched YOLO job with installer suite. This suite has several long job runs that can validate this issue:

https://main-jenkins-csb-aap.apps.ocp-c1.prod.psi.redhat.com/job/AAPQA/job/Test_Tower_Yolo_Express/1135/

[2022-04-25 15:32] Tioborto commented on #12081
Great news the 21.0.0 version
I close this issue

[2022-04-25 15:32] #12081 closed, assigned to nobody

[2022-04-25 17:59] nixocio opened #12100 "Remove warnings during UI build process"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There are several warnings during the UI build process. Mainly related to

```Failed to parse source map from``` node modules.

See: GENERATE_SOURCEMAP https://create-react-app.dev/docs/advanced-configuration/

[2022-04-25 18:52] keithjgrant opened #12101 "Job Output pagination bug when loading single event"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
If the job output page needs to load a single event, it incorrectly constructs the url and ends up with a 404 and the event not being displayed.

For example, if the event is 72, it fetches `?page_size=1&page_number=73` instead of `?page_size=1&page_number=72`

[2022-04-25 20:45] kdelee commented on #12057
@sean-m-sullivan that's a good start, though I still think its too much if people are using this at a larger scale.
As an alternative to a backoff scheme, I had it suggested to me that folks should subscribe via websocket for updates. awxkit already has some hooks for subscribing to websockets https://github.com/ansible/awx/blob/677187a43edcac82ee6f1af92386fca7005caa1e/awxkit/awxkit/ws.py#L28-L50

[2022-04-25 21:24] sean-m-sullivan commented on #12057
Was going to say, the Redhat_cop collection recently started using asyncs with 1 second delays on most items, and have not run into issues, but it does retry every 1 second. The websocket might be a way to solve both

[2022-04-25 21:36] akus062381 opened #12103 "API should not report job finished running while events are still processing"
in the job output screen, the API reports a job is finished running while the UI is still gathering and rendering all of the events. As a result, the job output expand/collapse feature does not always render when it should, and the user must know that they  need to refresh in order to see that feature.

What should be happening is that the job output screen should automatically refresh to show the

[2022-04-26 10:28] sshedmake commented on #11400
Could reproduce the said problem with 'Simplified Chinese' or zh-CN locale. Could be a problem with complex script locales, say CJK (Chinese Japanese Korean) locales.

[2022-04-26 13:24] 12csw13 commented on #12087
Should this issue be labeled as priority:medium?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other information boosti

[2022-04-26 13:53] AlanCoding commented on #9222
Confirmed that `/api/v2/jobs/?id__iexact=1` gives a 500 with current devel. I believe this is ready to be worked on.

[2022-04-26 14:06] arghab4481 commented on #11292
I am also facing the same problem, the only difference in INFRA for my case if i am using awx in Azure

[2022-04-26 16:41] zeroone82 opened #12109 "Random roles assigned to users"
### Summary

Seemingly random roles are assigned to users when added in batch as members to a team or organization

### AWX version
20.1.0

### Installation method
kubernetes

### Web browser
Firefox

### Steps to reproduce

- Add a number of users to AWX, not super user, not auditor (I added them using the API, confirmed that there was no roles assigned after creation)
- Go to Team -> Access -> A

[2022-04-26 16:55] thedatabaseme opened #12111 "Getting errors during Project sync after upgrade to AWX 21.0.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello,

[2022-04-26 16:58] keithjgrant commented on #12087
Do you have an example playbook to reproduce the issue?

It looks like you're out of follow mode (the blue button near the top). A running job should begin in follow mode, but it will leave follow mode if you click the button or scroll upwards. Is that part of the issue?

[2022-04-26 17:14] anxstj commented on #12023
I manually changed the ansible-runner version:
[code]

The awx image has then ansible-runner version 2.1.3:
[code]

The former image had:
[code]

With the older version, the project checkout works, and the callback plugin is no longer mapped into the container.

Between these two versions `ansible_runner/callbacks/awx_display.py` was moved to `ansible_runner/display_callback/callback/awx_display.p

[2022-04-26 17:14] #12023 closed, assigned to nobody

[2022-04-26 17:35] thedatabaseme commented on #12111
Ok, found it out by myself. I've messed up to set the ImagePullPolicy correctly in my AWX custom resource. After setting it to `Always`, he pulled the most recent image of the `latest` tag and project sync now works.

[2022-04-26 17:35] #12111 closed, assigned to nobody

[2022-04-26 17:52] hesmithrh commented on #11910
@jbradberry can you share links to this and the related issue (https://github.com/ansible/awx/issues/6134) on slack and set up a design deep dive to determine next steps. thanks!!

[2022-04-26 17:58] AlanCoding commented on #11910
This looks like it's the same topic as https://github.com/ansible/awx/issues/6134

[2022-04-26 18:19] CFSNM commented on #11391
Long jobs tests passed successfully. Closing this item

[2022-04-26 18:19] #11391 closed, assigned to sarabrajsingh, CFSNM

[2022-04-26 19:36] danxg87 opened #12112 "tower_job_launch: module sending list of strings instead of just a string as API expects"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

tower_j

[2022-04-26 19:40] DonaldKallman opened #12113 "Intermittent failed admin logins"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

We are

[2022-04-26 20:02] danxg87 commented on #12112
This was opened in error - the fix is in later versions of the collection

[2022-04-26 20:02] #12112 closed, assigned to nobody

[2022-04-26 20:20] CFSNM commented on #11391
Issue validated from QE side

[2022-04-27 06:41] muchafel commented on #11257
I still get the error with AWX 20.1.0; fix still works, too :)

[2022-04-27 07:22] lutskevich opened #12117 "Can't sync project by Control Plane Execution Environment"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

https:/

[2022-04-27 09:15] JonathanG3 commented on #12117
Hopping in as I'm also getting an issue with the default EE, but it's a bit different:
[code]

** EDITITING ** with some stuff that helped me solve this issue:
1. I had to add some pip upgrades to my custom awx-ee image (that I already had) but these are the packages that mattered:
[code]
[code]
2. as I'm using the awx-operator I had to change the default control_plane_ee_image to use my image ins

[2022-04-27 10:10] ivantomica commented on #12117
Perhaps related to:
- https://github.com/ansible/awx-ee/issues/112

[2022-04-27 10:23] mooky31 opened #12118 "Can't pull EE from private container registry"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can't pull EE from private container registry : can't validate certificate signed by private authority.
On Registry credentials, Verify SSL in unchecked.

##### ENVIRONMENT
* AWX version: 20.0.1
* AWX install method: operator
* AWX deployment target: minikube
* Operating System: RockyLinux 8
* Web Browser: Firefox

##### STEPS TO REPRODUCE
Try to pull

[2022-04-27 10:26] aporwal3 commented on #12117
So how can we downgrade cryptography to 36.0.2 ? Currently am on AWX 20.1.0

[2022-04-27 10:38] lutskevich commented on #12117
Dockerfile
FROM quay.io/ansible/awx-ee:latest
RUN pip3 install cryptography==36.0.2

Work fine

[2022-04-27 12:12] ibuchanan commented on #5209
@philipsd6 As an Atlassian, I second your suggestion (implication) that there should be 2 options, separating Bitbucket Cloud from Bitbucket Data Center. What may not be obvious from the branding is these are 2 very different products, maintained by 2 different Atlassian teams. There's only informal connection between the features of one to the other. Hence, the shape of webhooks are quite differe

[2022-04-27 12:33] aporwal3 commented on #12117
@lutskevich tried with customised awx-ee image (the one that you suggested above) but still am getting the same error message on AWX 20.1.0.

Attaching the logs below for reference

{
  "changed": false,
  "stdout": "the full traceback was:\n\nTraceback (most recent call last):\n  File \"/usr/local/bin/ansible-galaxy\", line 97, in <module>\n    mycli = getattr(__import__(\"ansible.cli.%s\" % sub,

[2022-04-27 12:56] Jonathan-Caruana commented on #12117
Hi everyone,

Same problem on my side, hope this will be fixed soon :)

I noticed that the awx-ee image on quay.io was updated 45min ago but even if i use this image i got the same error.

Regards,

[2022-04-27 13:01] lutskevich commented on #12117
@Jonathan-Caruana just daily cron build (they make it every 12 hours), without fixes

[2022-04-27 13:04] #9751 closed, assigned to nobody

[2022-04-27 13:04] Jonathan-Caruana commented on #12117
@lutskevich oh ok ! Thank you for that information

[2022-04-27 13:06] lutskevich commented on #12117
@aporwal3 did your awx deployed succesfull?
Image with downgraded version of cryptography need to apply as Control Plane Execution Environment (used for project update)
![image](https://user-images.githubusercontent.com/1433297/165524497-df9566d8-4af4-4f62-832e-5943252882db.png)

[2022-04-27 13:14] lutskevich commented on #12117
https://github.com/ansible/awx-operator#default-execution-environments-from-private-registries - hope it helps

Problem is incompatibility of openssl and cryptography versions - https://github.com/pyca/cryptography/issues/7126

[2022-04-27 14:00] AlanCoding commented on #10961
To develop a test case, I had to pad the syntax you gave a bit. Firstly, it will only accept a dictionary (not other types like a list), and secondly, the trailing comma isn't allowed.

[code]

It is kind of hard to create a template that generates valid JSON due to fairly strict syntax rules. Ultimately, that is on the user to get right.

[2022-04-27 14:43] #12101 closed, assigned to keithjgrant, akus062381

[2022-04-27 15:35] jbradberry commented on #11811
All of the associated PRs for this issue have merged, but the issue is still marked as open.  I think this fell through the cracks with QE testing.

[2022-04-27 16:25] kimbernator commented on #10838
Any progress on this? Would definitely be helpful for us as well.

[2022-04-27 16:28] JustInVTime commented on #12117
For people who don't want to/ can't use a private registry, I've created a (temporary) public image on docker hub.
https://hub.docker.com/r/deployablenl/awx-controlplane-ee

Just add the following to your spec section of you deployment:

[code]

[2022-04-27 16:40] seadoox commented on #12117
Seeing the same issue and error messages when syncing projects that are stored in gitlab that have a galaxy requirements file. The controlplane-ee gets the error message when it tries to run the ansible-galaxy collection install command.

[2022-04-27 19:22] coreydeli commented on #12117
Same issue here, I was able to get around it a little bit with @JustInVTime and his temp control plane but this never should have released like this. We should have versions to drop back to, the most recent version we can select outside of "latest" is 0.6.0

[2022-04-27 19:23] coreydeli commented on #12118
This is the same as this issue https://github.com/ansible/awx/issues/12117

[2022-04-27 19:37] akus062381 commented on #12109
Jessica and I looked at this and verified it is fixed

[2022-04-27 19:44] akus062381 opened #12121 "Allow users to select page size in Modal and add a select all button where appropriate"
Feature idea:
When a user clicks the Access tab inside of a team and clicks Add, it brings up a modal where the user can add users to that team. The modal looks like this:
![image](https://user-images.githubusercontent.com/63685497/165612649-bd3753f4-695b-4efc-a905-ec1a137bd5b3.png)

Currently, if an admin wants to bulk-add other users to the team, they have to click each check box next to the use

[2022-04-27 21:18] laiweihwa opened #12124 "EE runner's inventory sync failed to parse because module 'lib' has no attribute 'X509_V_FLAG_CB_ISSUER_CHECK'"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

After u

[2022-04-27 23:16] tvo318 commented on #11574
@AlanCoding - should this go in the release notes to read:

?

[2022-04-27 23:20] tvo318 commented on #11413
For docs: https://github.com/ansible/product-docs/pull/1651/commits/217be6fd4ffe7e409c510a47c886a22b66bd8d82

[2022-04-27 23:23] #12109 closed, assigned to marshmalien, akus062381

[2022-04-28 05:33] aporwal3 commented on #12117
@lutskevich @JustInVTime I have deleted AWX object and recreated it with below specification

[code]

But still control plane image is getting picked as
quay.io/ansible/awx-ee:latest
Am I missing anything ? Do I need to do any other changes as well ?

[2022-04-28 05:49] lutskevich commented on #12117
@aporwal3 look at kubectl logs -f deployments/awx-operator-controller-manager -c awx-manager, and check your docker-registry secret, try to place it in image_pull_secret.
[code]
`kubectl create secret docker-registry gitreg-secret --docker-server='url' --docker-username='username' --docker-password='password/token'`

That's all

[2022-04-28 06:00] zigford commented on #12124
Although this problem seems to have gone away in our environment, would like to know the root cause.
I think we will pin all our templates to a specific AWX EE rather than 'latest'

[2022-04-28 06:55] bpedersen2 commented on #12124
See https://github.com/ansible/awx-ee/issues/112

[2022-04-28 07:09] Jonathan-Caruana commented on #12117
Thanks @JustInVTime it's work like a charm

[2022-04-28 07:10] lutskevich commented on #12117
Issue about ee_pull_credentials_sectet https://github.com/ansible/awx-operator/issues/818

[2022-04-28 07:46] eselvam commented on #12124
I also facing same issue.  my awx version is 20.x  Shall I know how to fix it.

[2022-04-28 07:48] mooky31 commented on #12118
I don't think this is the same : the problem here is that the "Verify SSL" tickbox doesn't work

[2022-04-28 07:53] eselvam commented on #12117
Yes.  we also got same error: awx AttributeError: module 'lib' has no attribute 'X509_V_FLAG_CB_ISSUER_CHECK

as we used custom Ee to over come this.  shall we know when we can expect AWX EE to be patched to fix this?

[2022-04-28 07:55] eselvam commented on #12124
Yes. we also got same error: awx AttributeError: module 'lib' has no attribute 'X509_V_FLAG_CB_ISSUER_CHECK

as we used custom Ee to over come this. shall we know when we can expect AWX EE to be patched to fix this?

[2022-04-28 08:00] bpedersen2 commented on #12124
See here https://github.com/ansible/awx/issues/12117

You need to install a cryptography >35,<37

[2022-04-28 08:31] aporwal3 commented on #12117
@lutskevich @JustInVTime Now in my case, customed ee image is getting succesfully pulled and getting assinged to awx-ee container, as shown below
![image](https://user-images.githubusercontent.com/13012295/165711010-90ebf34e-1510-4e23-9419-0c87a7747dfa.png)

But when I open AWX it is not getting reflected on Execution Environments
![image](https://user-images.githubusercontent.com/13012295/1657112

[2022-04-28 08:50] lutskevich commented on #12117
@aporwal3 Looks like you're doing right, i don't know what's wrong

Nope, just apply manifest

[2022-04-28 10:53] bpedersen2 opened #12126 "Jobs fail to start with ValueError: ZIP does not support timestamps before 1980"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

On AWX

[2022-04-28 13:01] meis4h commented on #11805
Hi, we are also seeing this issue on K3s using AWX 19.5.0 and 21.0.0.
A few things we observed looking at this:
- Jobs fail after the last task over the 4 hour mark has completed
  - for example a wait_for task with a timeout of 8 hours causes the job to fail with error after 8 hours, a 5 hour task fails after 5 hours
- The limit seems to be pretty much exactly 4 hours as jobs running 3h 50min com

[2022-04-28 13:06] AlanCoding commented on #11574
A 500 is a server error, so these are universally understood to be bug fixes. I'm also not sure if the bug was ever in a released version of the product, so I would probably opt to take no docs action.

[2022-04-28 13:40] AlanCoding commented on #11991
That's the most important detail to me here. This task in the project update playbook _has_ to run for us to obtain a revision from the project update.

https://github.com/ansible/awx/blob/b885fc2d86eeae05dc5ee1b694b87445025af938/awx/playbooks/project_update.yml#L45-L48

Since it does not run, all these other errors happen as a fairly direct consequence. This is a highly abnormal situation, where

[2022-04-28 13:56] laiweihwa commented on #12124
I was able to solve this by specifying image version 19.3.0 in the AWX CRD (though the UI still shows 19.5.0)
I am using ee:latet for the runner.

[code]

[2022-04-28 14:44] bpedersen2 commented on #12126
I did some more research: It could be linked to the a missing strict_timestamps=False in ansible_runner.

See https://github.com/pypa/pip/pull/9920 where a similar problem.

I'll  test and possible supply a patch.

[2022-04-28 14:46] mabashian commented on #11978
@kladiv any idea if this was functioning correctly prior to v19?

[2022-04-28 14:49] adpavlov opened #12127 "Brand logo link not supporting running AWX at non-root path"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Top lef

[2022-04-28 15:08] bpedersen2 commented on #12126
https://github.com/ansible/ansible-runner/pull/1049 fixes it for me

[2022-04-28 15:15] coreydeli commented on #12124
Same as the rest of us in https://github.com/ansible/awx/issues/12117

[2022-04-28 15:46] hesmithrh commented on #11422
@AlanCoding to run regression tests and setup merge meeting to review with a group

[2022-04-28 16:49] mabashian commented on #11615
As far as I can tell, this is behaving as we intended it to.  Marly's comment sums it up: we deliberately filter some credentials type `kinds` out of the list.  This was likely done because we viewed some `kinds` as nonsensical within the context of a JT.  It's unclear to me what the action here is.  We should probably be aligning with whatever the API allows.  If there are restrictions on the kin

[2022-04-28 17:07] mabashian commented on #12079
Just so that we don't have to hop back in forth: We're blocked on this because we need PF to support React 18 before we can upgrade.

[2022-04-28 18:34] kladiv commented on #11978
Hi @mabashian i can't remember that.
Lots of time passed and i've no old installations anymore

[2022-04-28 18:44] AlanCoding opened #12129 "Job timeout details not showing in UI"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Jobs th

[2022-04-28 18:59] kladiv commented on #11805
@spireob maybe you can check below
- https://github.com/ansible/awx/issues/9961
- https://github.com/ansible/awx/issues/11338
it could be related to that issues.

I've the same issue of 4hrs jobs end with errors (in k3s)

[2022-04-28 19:25] mabashian opened #12130 "Align Workflow and Topology UX"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Here's Topology:

<img width="1674" alt="Screen Shot 2022-04-28 at 3 15 59 PM" src="https://user-images.githubusercontent.com/9889020/165829142-01d2b07d-1574-4f6c-b488-0131b5ba3c68.png">

Here's the Workflow Visualizer:

<img width="1675" alt="Screen Shot 2022-04-28 at 3 17 19 PM" src="https://user-images.githubusercontent.com/9889020/165829288-01624

[2022-04-28 19:43] #8425 closed, assigned to nobody

[2022-04-28 20:21] Laozey commented on #12070
Hello, i would like to take on this issue with @SeliasB

[2022-04-28 20:23] #11990 closed, assigned to mabashian, jay-steurer

[2022-04-29 01:33] AlanCoding commented on #10691
Giving up on this

[2022-04-29 01:33] #10691 closed, assigned to nobody

[2022-04-29 01:35] AlanCoding commented on #11110
Test is unskipped, no attention for a long time, closing.

[2022-04-29 01:35] #11110 closed, assigned to nobody

[2022-04-29 01:37] #11656 closed, assigned to nobody

[2022-04-29 01:43] AlanCoding commented on #11715
We should inspect logs from test runs, and if not seeing this, close this issue.

[2022-04-29 01:43] AlanCoding commented on #11671
@kdelee did you fix this with recent merges?

[2022-04-29 01:45] AlanCoding commented on #11669
I believe @kdelee's recent merges already effectively accomplish this.

[2022-04-29 01:45] #11669 closed, assigned to nobody

[2022-04-29 12:15] anthonyglidic opened #12131 "automation-job pod automatically killed after 300s"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

we have

[2022-04-29 13:15] fferraro87 commented on #9893
hi i've set all of this on my k3s awx, but i cannot still pass to bastion host :
[code]
and
[code]
so where i'm wrong? on PROXY-KEY i've to put secretname?

[2022-04-29 14:37] #344 closed, assigned to mabashian

[2022-04-29 14:39] akus062381 commented on #11615
@mabashian if we do, in fact, do this on purpose, may I suggest that we should somehow make that clear to the user? From a user standpoint, they may not understand why a certain type of credential is not allowed to be added here.

[2022-04-29 15:39] AlexSCorey commented on #11400
I believe this issue is resolved.  TBH I'm not really sure what changed, but I tested it with Ja and with zh-CN.  the `S` is not appearing.  Moving to needs test for confirmation.
![Screen Shot 2022-04-29 at 11 38 10 AM](https://user-images.githubusercontent.com/39280967/165977653-a08be65a-3f5b-4d21-92b1-3130daad03bd.png)
I

[2022-04-29 15:42] mabashian opened #12132 "Expose `controller_node` field in inventory update details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
`controller_node` will be added to the api response here: https://github.com/ansible/awx/issues/11196

When displaying the details of an inventory update, we should expose this attribute

[2022-04-29 15:44] mabashian commented on #11196
Corresponding UI work tracked here: https://github.com/ansible/awx/issues/12132

[2022-04-29 17:03] AlexSCorey commented on #11615
We could add a help text either on the credential field or inside the credential modal, preferred because IMO it makes more sense contextually, that says something like `Some credential types are omitted because they do not apply to job templates or workflow job templates` .  What do we all think?

[2022-04-29 17:13] #11867 closed, assigned to marshmalien

[2022-04-29 17:13] #11868 closed, assigned to marshmalien

[2022-04-29 17:13] #11870 closed, assigned to marshmalien

[2022-04-29 17:30] AlanCoding commented on #12118
The EE `verify_ssl` is implemented in ansible-runner

https://github.com/ansible/ansible-runner/blob/88130033e6b4791952236a8b1eb6f7ac823649e3/test/integration/containerized/test_container_management.py#L114

However, in openshift, it's not the podman CLI but openshift itself that pulls the image. This may be a fairly fundamental issue with how we build the pod spec for container_group jobs. Thanks

[2022-04-29 17:44] AlanCoding commented on #12103
I believe I follow what the issue is, but I don't love the title of this issue.

I don't want to change the definition of the API "status" field. There is an event lag which causes events to come in after the status has changed, and this will worsen depending on overall system load. It is well-established that events may continue to come in after the API status changes to a finished status, and af

[2022-04-29 17:48] AlanCoding commented on #12091
@fosterseth we have some history with loosening up these blocking rules in the past. Could you read through this and give any thoughts?

[2022-04-29 17:54] #8771 closed, assigned to chrismeyersfsu

[2022-04-29 18:10] chhabrias commented on #5527
is there any way org admins can grant permissions with approval from system admins in workflow template?

[2022-04-29 20:32] jay-steurer commented on #11400
Issue is resolved.
![image](https://user-images.githubusercontent.com/70719005/166065196-146b48b4-e0a1-4fa0-8a56-49de8add5bd3.png)

[2022-04-29 20:33] #11400 closed, assigned to jay-steurer

[2022-04-30 07:56] aporwal3 commented on #12117
@lutskevich : Tried even a fresh install but the customized image is now getting reflected on AWX .. do you know when the fix will be promoted to the original awx-ee image ? Or do you have anything in mind, which can help me to get unblock on this issue ?

[2022-05-02 12:01] yangzhang-ibm-au commented on #11484
I'm facing the same issue in AWX 19.5.1.

[2022-05-02 12:12] cidrbl0ck commented on #10247
Hi there, Also wondering when/if this was brought back. I have a specific use case that Remote or Isolated Nodes would be perfect for.

[2022-05-02 15:15] mabashian commented on #11469
I think this and https://github.com/ansible/awx/issues/7155 are dupes.  Going to close https://github.com/ansible/awx/issues/7155 in favor of this one since this one has more context.

[2022-05-02 15:15] #7155 closed, assigned to nobody

[2022-05-02 15:17] mabashian commented on #10475
I'd even take it a step further and just hide search when there are no items in the list.  If we didn't want to do that we could just disable search entirely when there are no items in the list.

[2022-05-02 15:35] mabashian commented on #9956
We should trim this issue down, I think.  The ask in item 1 is to provide client-side validation on fields like `id` to prevent users from performing a search that will end in an error.  That seems reasonable.  Item 2 is an API bug - we should file a separate issue.  Item 3 is covered by https://github.com/ansible/awx/issues/11469.

[2022-05-02 16:03] mabashian commented on #7853
@ffirg I'm not sure why we closed this in favor of 7850.  These seem to be talking about two different improvements.  This issue relates to showing more host information in the list items.  7850 talks about adding support for a generic text input where users can type in a custom host filter.  Both are valuable I think.  I'm going to reopen but feel free to reach out if you disagree.

[2022-05-02 16:12] #12058 closed, assigned to AlexSCorey, jay-steurer

[2022-05-02 17:08] #12011 closed, assigned to keithjgrant, AlexSCorey, akus062381, jay-steurer

[2022-05-02 17:39] antromanfdez commented on #12075
In the following workflow I am using three templates:
![workflow](https://user-images.githubusercontent.com/30831001/166271676-49fb55b8-5149-4bf2-9357-8e6b7cc2aaef.JPG)

 **testing_login:**
 In this template I am collecting information of the different host and append to a set_stat variable named `collect_info`

**wall_failed:**
this template that will only be executed from awx in localhost mode w

[2022-05-02 18:07] fosterseth commented on #12091
@gabhishek627

In your scenario, removing the block would mean those jobs running alongside the inventory update might not get the latest changes pulled in from the inventory update. Of course, if you need the job to wait on an update, you can make sure Update On Launch is set to true on the inventory source.

@AlanCoding

here is the `dependency_graph.py` code to determine if the Job can run,

[c

[2022-05-02 19:18] keithjgrant commented on #12103
@AlanCoding Yeah I agree there's an important distinction between status change and processing finished. A pertinent question is how to treat that interim between in the UI.

The current flow is once the status changes to successful or failed, the UI refreshed events in the hope of getting the job event tree information, but that information is not available until processing is complete. I suppose

[2022-05-02 19:33] AlanCoding opened #12142 "Add special message when job is canceled from unexpected source"
##### ISSUE TYPE
 - Feature Idea
 - Bug Report

##### SUMMARY
Our testers have detected a behavior change. Steps to reproduce

 - Launch a job with some hosts and a sleep task, wait for sleep task to start
 - Shell into the job's `controller_node` and manually run `receptorctl work cancel <work_id>`
 - Observe job's behavior in AWX

The previous behavior was that the `status` changed to "error". N

[2022-05-02 20:00] jay-steurer commented on #10831
The issue was resolved.

[2022-05-02 20:00] #10831 closed, assigned to keithjgrant, nixocio, akus062381, jay-steurer

[2022-05-02 20:07] kialam commented on #8097
Per https://github.com/ansible/awx/issues/12010#issuecomment-1089111803, the survey options are not paginated so this could be implemented via a type-ahead component.

[2022-05-02 20:08] #12010 closed, assigned to nobody

[2022-05-03 05:06] sohwaje opened #12148 "how to add docker_container modules?"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[code]

playbook sample
[code]

[2022-05-03 06:26] d-rupp commented on #11978
I can confirm this issue with our installation. All users that try to schedule a job have this issue.

It was working correctly in 10.0.0

[2022-05-03 11:05] howardjones opened #12149 "Job API shows you misleading information for execution environment"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Looking

[2022-05-03 13:09] #4057 closed, assigned to marshmalien, jay-steurer

[2022-05-03 14:37] AlanCoding commented on #12091
We may need to investigate what will happen if we generate inventory _while_ an inventory update is happening. The update is inside of a transaction. If the inventory were to simply get the inventory pre-update, I'd be fine with that. If it gets content half-way through the update, we'd have to add some guard rails to prevent that.

I believe we also need to increase the rigor with which we manage

[2022-05-03 15:11] AlanCoding commented on #11821
I re-ran the script here and was not able to detect any failures, so it seems this was fixed by some unknown changes.

[2022-05-03 15:11] #11821 closed, assigned to nobody

[2022-05-03 15:53] AlexSCorey commented on #8690
Sorting by type will probably not work here until the upstream api bug is fixed.

[2022-05-03 17:46] matsonfruit commented on #8930
please reopen. still having this issue on AWX 21.0.0

[2022-05-03 17:54] hesmithrh commented on #11615
this will be addressed in Docs, review and update to include reference to : acceptableKinds = ['machine', 'cloud', 'net', 'ssh', 'vault', 'kubernetes']

[2022-05-03 18:40] kdelee commented on #11671
@AlanCoding yep, we dropped references to `remaining_capacity` and `jobs_running` so I think we can close this now

[2022-05-03 18:40] #11671 closed, assigned to kdelee

[2022-05-03 18:48] keithjgrant commented on #11966
Hello, this issue pertains to an older version of AWX. Try upgrading to the lastest version and see if that resolves your issue.

[2022-05-03 18:58] kdelee opened #12157 "[Performance] use "defer" to avoid loading extra (possibly expensive) data in Task Manager"
In the task manager, we make a series of queries such as:

https://github.com/ansible/awx/blob/devel/awx/main/scheduler/task_manager.py#L90-L100
https://github.com/ansible/awx/blob/adb2b0da89f18760d85d06c8fd9731e86b6bdc76/awx/main/scheduler/task_manager.py#L104
https://github.com/ansible/awx/blob/adb2b0da89f18760d85d06c8fd9731e86b6bdc76/awx/main/scheduler/task_manager.py#L112

We do not need all t

[2022-05-03 20:17] akus062381 commented on #11973
https://github.com/ansible/awx/issues/11969
https://github.com/ansible/awx/issues/11730
https://github.com/ansible/awx/issues/11703
https://github.com/ansible/awx/issues/11004
https://github.com/ansible/awx/issues/12015
https://github.com/ansible/awx/issues/12014
https://github.com/ansible/awx/issues/12013
https://github.com/ansible/awx/issues/12012
https://github.com/ansible/awx/issues/12159
http

[2022-05-03 20:39] AlanCoding commented on #12075
That's true that AWX doesn't have any mechanism to support this. I get the use case now, but I don't have a design in mind.

[2022-05-03 20:40] akus062381 opened #12159 "Unit Test Expansion- Job template"
During a meeting with Kersom concerning form validation unit tests in Job Template forms, we agreed that the following would be added as unit tests:

**Form Validation:**
- [ ] form validation error shows if user leaves required fields blank
- [ ] form validation error shows if user goes over character limit

_Note: If writing these unit tests for Job Template are relatively straight forward, then

[2022-05-03 20:50] akus062381 opened #12160 "Links should not be clickable for a user without permissions to see that resource"
A "normal user" who has job template Read writes and views the detail screen of that job sees links for related resources (inventory, project, for example). The user can click the links and is given a 403 error. Instead of being shown a link that they cannot access, the user should just see a string with the name of the resource- link functionality should be removed.

Steps to reproduce:
As an adm

[2022-05-03 21:13] akus062381 opened #12162 "Unit test expansion- Job templates schedules tab"
The following need to be added as unit tests for job template schedules:

- [ ] user can turn a schedule on and off
- [ ] user can hyperlink to the associated schedule

[2022-05-03 22:37] kialam opened #12164 "API not saving timezones correctly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Certain

[2022-05-04 02:11] Rubik-on opened #12165 "use external redis"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[2022-05-04 02:12] #12165 closed, assigned to nobody

[2022-05-04 11:58] jhaesselbacher commented on #989
Otherwise there is ansible semaphore. I tested it and it is a believable gui for ansible and without containers. In addition it is much faster than awx and developed in go.

[2022-05-04 13:42] colans commented on #989
@jhaesselbacher How does [Ansible Semaphore](https://ansible-semaphore.com/) compare with Rundeck?

[2022-05-04 14:05] jhaesselbacher commented on #989
Ansible sémaphore is a gui Dedicated for ansible.
You can choose your database, mysql, posgree...
https://ansible-semaphore.com/

Demo: https://demo.ansible-semaphore.com/project/1/history

[2022-05-04 14:53] nixocio opened #12167 "Schedule date picker is not responsive"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Schedul

[2022-05-04 15:13] jangel97 opened #12168 "unable to login using new awx cli"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hi,
I a

[2022-05-04 15:26] SolomonHD opened #12169 "AWX CLI: Add more flags for Extra Vars"
##### ISSUE TYPE
- AWX CLI
 - Add more flags for extra vars in awxcli launch commands, e.g. job_templates launch , workflow_job_templates launch, to match parity with ansible-playbook

##### SUMMARY

Currently using ansible-playbook while feeding a vars file accepts either of the following syntax:

`ansible-playbook playbook/run_this_play.yml --extra-vars @roles/vars.yml`
or
`ansible-playbook play

[2022-05-04 15:35] texasbobs commented on #6753
This would be amazing if it was a configurable option.

[2022-05-04 18:30] jbradberry commented on #12164
This ultimately stems from recent controversy about how the timezone database (that is used by all languages, not just Python) is maintained.  Some details can be found here: [A fork for the time-zone database?](https://lwn.net/Articles/870478/).  The gist though is that some historical timezones have had their information merged with other more standard ones, and the historical name is now just a

[2022-05-04 18:31] jbradberry commented on #12164
@hesmithrh I no longer think that this is ready to be on deck yet.  There needs to be some discussion on the UI side (led by @kialam) over what to do about this.

[2022-05-04 18:47] kialam commented on #12167
Toggling year also does not work for the datepicker.

[2022-05-04 20:20] kdelee opened #12171 "[Metrics&Observability] Track (recent/sliding window) event processing lag in metrics"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The amount of time between when events are created in ansible and they get written to the database is a measure of how far behind the callback receiver is. Monitoring this metric can give administrators insight if they need to horizontally scale the control plane to get more event processing power/spread jobs over more control instances (right now w

[2022-05-04 20:45] antromanfdez commented on #12075
Thank you very much in advance @AlanCoding  for your support.  I hope that this enhancement can be considered for inclusion in awx one day.

[2022-05-04 21:36] Iwifia opened #12174 "Unarchive missing from runners"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY
Unarchive module does not work within AWX as the program itself is missing from the runners

##### ENVIRONMENT
* AWX version: 21.0.0
* AWX install method: operator
* AWX deployment target: kubernetes
* Operating System: Ubuntu 20.04.4 LTS
* Web Browser: Any

##### STEPS TO REPRODUCE

Run any job that requires localhost to unarchive

##### EXPECTED RES

[2022-05-04 22:17] fosterseth commented on #12171
Certainly possible for subsystem metrics. We may consider generating a histogram of this data, to better capture the variance of the latency.

[2022-05-05 05:29] lutskevich opened #12176 "Deleting a host gives internal server error (500)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Can't d

[2022-05-05 05:39] lutskevich commented on #12176
deleting inventories with hosts too
![image](https://user-images.githubusercontent.com/1433297/166868386-4c3034fe-a8d7-44fa-b0a7-43d809b97848.png)

[2022-05-05 08:49] michal-barczewski commented on #2058
This is really needed, or at least a way pin labels - else i end up retyping the search all the time.
This should also be tied to jobs stream - currently if there's a template which runs often it makes it very hard to see anything else that's going on.
Alternatively projects should have their own job view.

[2022-05-05 09:07] Tioborto opened #12177 "21.0.1"
Hello,
We currently use SSH certificates through Hashicorp Vault to authenticate to all our machines.
We are stuck on the 21.0.0 upgrade which introduces a bug on the file storage.
We are interested in the fix currently in devel (https://github.com/ansible/awx/pull/12122).
Can you create a patch version?

[2022-05-05 11:04] rhcalalo opened #12179 "AWX isolated node unavailable after provisioning/registration and dropping after 30 minutes"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Good da

[2022-05-05 11:55] nicolaibaralmueller commented on #12117
Same issue here when upgrading from 19.4.0 to 21.0.0

[2022-05-05 13:16] #12167 closed, assigned to kialam, jay-steurer

[2022-05-05 13:19] akus062381 commented on #11978
Fix has been merged and will be included in the upcoming release.

[2022-05-05 16:17] kialam commented on #11978
@akus062381 this is a different issue with the date picker selection showing a 1 day before date when you interact with it. Re-opening as the PR is still open.

[2022-05-05 16:53] keithjgrant commented on #11935
@akus062381 it looks like this has been fixed along with the recent work in job output. can you re-test in devel?

[2022-05-05 16:54] akus062381 commented on #11978
@kialam I was testing your PR last night and looked for this bug and could not reproduce it. Are you sure that your fix doesn't also fix this problem?

[2022-05-05 17:00] #11862 closed, assigned to nixocio, jay-steurer

[2022-05-05 17:06] 0utlawActual opened #12181 "Toggle All On / All Off Switch at the top of Hosts page"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hello, recently started using AWX and love the power it gives me as an admin. Having many hosts, what would really streamline the process is a simple toggle switch on the Hosts page enabling the user to either select all hosts at once or deselect all hosts. When there are many hosts, doing them one by one becomes time consuming. I apologize beforehan

[2022-05-05 17:34] InnocentK commented on #11978
@akus062381 I'm currently investigating this bug and will verify if the 1 day bug is still present and reproducible. I will also verify the changes in [#12163 ](https://github.com/ansible/awx/pull/12163)

[2022-05-05 17:43] kialam commented on #11978
@akus062381 yes, this bug is still happening on devel.

[2022-05-05 18:29] kialam commented on #11723
Closing this as the research is essentially done. We've decided to write new unit tests using RTL moving forward.

[2022-05-05 18:29] #11723 closed, assigned to nobody

[2022-05-05 18:35] #11869 closed, assigned to keithjgrant, jay-steurer

[2022-05-05 19:24] formanner opened #12182 "Aggregation of AWX job slice outputs back to one output log"
##### ISSUE TYPE
- Feature Idea
When a job template is utilizing job slices, provide a way for the ansible output of all slices to be in one output log. The unified output log could be available for download on the parent workflow job after all slices are complete.

##### SUMMARY
In some large environments, job slices drastically improve completion time. However, reviewing output becomes more tedi

[2022-05-05 20:47] InnocentK commented on #11978
With https://github.com/ansible/awx/pull/12163 merged, this is now resolved

[2022-05-05 20:47] #11978 closed, assigned to kialam, InnocentK, akus062381

[2022-05-06 00:30] MrGitBlob commented on #2058
It is coming up to 4 years since this incredibly simple, obvious, and useful request was lodged.

It is time to realise developers just don't care about this issue, or AWX users in general.

[2022-05-06 07:46] ffirg commented on #2058
@MrGitBlob please be respectful to those who do develop and maintain awx for the community. Your remark is hurtful and unwelcome. You or anyone else is welcome to help contribute to this project.

[2022-05-06 07:55] lyutian commented on #12100
Same warning in 21.0.0.
The outputs like:
[code]

[2022-05-06 12:15] kTipSSIoYv commented on #7859
Also adding +1

[2022-05-06 13:53] AlanCoding commented on #12176
The server logs should have a traceback, and we really need to see that to go anywhere with issues like these.

[2022-05-06 14:02] AlanCoding commented on #12157
I would categorize this as more performance rather than tech debt. Just making that point now as I'm trying to organize issues.

[2022-05-06 14:09] jbyrdrh commented on #11524
@mabashian - are you able to please get someone assigned to this request soon?

[2022-05-06 14:11] lutskevich commented on #12176
@AlanCoding
[code]

[2022-05-06 14:17] lutskevich commented on #12176
Oh, i'm sorry
Increased max_locks_per_transaction to 128, now it works. Thank you!

[2022-05-06 14:17] #12176 closed, assigned to nobody

[2022-05-06 14:29] compgeniuses commented on #11220
is oci fully supported

[2022-05-06 15:07] nixocio opened #12188 "Workflow Approvals list shows undefined"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Workflo

[2022-05-06 15:25] dmsimard opened #12189 "Sanity tests failing in awx.awx"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

We are

[2022-05-06 15:41] jskim096 opened #12190 "can't connect awx 21 website in firefox"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

**ISSUE

[2022-05-06 17:22] rebeccahhh commented on #12179
Hello, this issue pertains to an older version of AWX, which we do not support. Try upgrading to the a newer version and see if that resolves your issue.
Also, your question seems like a good one to ask on our mailing list at https://groups.google.com/g/awx-project. You can also join #ansible-awx on https://libera.chat/ and ask your question there.

[2022-05-06 17:22] #12179 closed, assigned to nobody

[2022-05-06 17:25] rebeccahhh commented on #12177
Hi @Tioborto , we will be doing an AWX release that contains the fix that you're interested in pretty soon. We try to have releases fairly regularly for situations just like this. We will announce that release in our mailing list. In the meantime you are more than welcome to just use devel for this fix.

[2022-05-06 17:25] #12177 closed, assigned to nobody

[2022-05-06 17:27] rebeccahhh commented on #12174
This looks like a good issue for the awx-ee repo so I'm going to move it over there. Also, we'd be very happy to review a PR that fixes this, we're always happy to welcome more contributors to our team. :)

[2022-05-06 17:52] rebeccahhh commented on #12148
Hey there, you'll need to use Ansible Builder to build your own execution environment, these are the docs on how to do that: https://ansible-builder.readthedocs.io/en/latest/

[2022-05-06 17:52] #12148 closed, assigned to nobody

[2022-05-06 17:57] rebeccahhh commented on #12131
Hello, your question seems like a good one to ask on our mailing list at https://groups.google.com/g/awx-project to see if anyone else is experiencing this. We haven't seen other reports of this. If there's any other details you want to add that can help us create a reproducer that is more like your environment that would be a huge help.

[2022-05-06 19:38] AlanCoding commented on #10986
I suggest this will be resolved with https://github.com/ansible/awx/pull/12073, and I will probably close this issue after that merges.

[2022-05-06 20:18] #2912 closed, assigned to marshmalien, jay-steurer

[2022-05-06 20:39] InnocentK commented on #11935
@keithjgrant @akus062381 Just finished testing and I can confirm this is no longer appearing in devel so closing

[2022-05-06 20:39] #11935 closed, assigned to keithjgrant, InnocentK

[2022-05-06 23:33] sarabrajsingh commented on #11733
@AlanCoding - ran integration tests and they were a-ok.

[2022-05-07 17:39] chris93111 commented on #10192
same in 20.1

[2022-05-07 17:50] chris93111 commented on #12087
Hi @keithjgrant sorry for the time

yes and no, the stream does not work even if I remain in follow, sometimes the stream work but the follow does not work
I have an example, here where for example there was no stream, but yet the browser has had the information that the job is finished

<img width="1429" alt="image" src="https://user-images.githubusercontent.com/27526373/167265730-f480bd7a-447b-4

[2022-05-07 18:04] chris93111 commented on #11991
Hi @AlanCoding sorry for the time, I no longer have this problem since increase the limit resources of awx

[2022-05-08 18:42] jangel97 commented on #12168
For me to be able to run `awx import` without running `awx login`, I had to provide var TOWER_OAUTH_TOKEN.
[code]

[2022-05-09 06:30] ChemicalNRG commented on #11289
And broken again in 21.0.0 so it seams

[2022-05-09 07:18] kTipSSIoYv opened #12192 "patching credential on the workflow level"
##### ISSUE TYPE
 - We have a requirement to patch and allow credentials in the workflow level.. We are using AWX to integrate with ManageIQ and we want to pass the credentials to workflow through ManageIQ. We can successfully pass credentials to `Job Template` through ManageIQ but not Workflow. We enable `Prompt on Launch` and then pass the creds through ManageIQ

 This has been requested [here ]

[2022-05-09 10:07] it-pappa opened #12193 "Cant login to AWX"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When lo

[2022-05-09 13:05] sooslaca opened #12194 "Missing job output sections"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Not str

[2022-05-09 13:26] sooslaca opened #12195 "Wrong paging on UI"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Check a

[2022-05-09 15:38] kdelee opened #12199 "[Performance] Apply START_TASK_LIMIT to queries of pending jobs in the task manager"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

In the theme of small changes to do to the task manager for scalability.

We introduced START_TASK_LIMIT as a way to prevent the task manager from timing out. Problem is, we only respect this on the "back end" of what the task manager is doing -- when it is starting the jobs
https://github.com/ansible/awx/blob/a86740c3c9eaf9a551e850341d8adec5a3962dd

[2022-05-09 16:01] nixocio opened #12200 "Flickering workflow visualizer when approval node has an alias and time out"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Go to t

[2022-05-09 17:27] kdelee opened #12201 "[Tech Debt] optimize/cache information about preferred instance groups"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We probably want to fix this in `create_unified_job` or in `signal_start` and save a list of pk's of instance groups OR...even more interesting, instances, in order of preference

sowe would keep preferred_instance_groups as a property but UnifiedJob would have a new field on the model where we cache it once we've calculated it once so we dont calcu

[2022-05-09 17:28] kdelee opened #12202 "[TaskManager][DependencyManager] Spawn dependencies outside of the task manager"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Re: incremental task manager improvments

From @AlanCoding :
Spawn “hard” dependencies outside of the task manager, details:
On creation, job triggers a different task
That does miscellaneous work, including dependency spawning
That triggers the task manager
Task manager needs to know to not process these just-created jobs

How:
   We could continue

[2022-05-09 18:06] AlanCoding commented on #11301
According to what @kdelee said, yes, we need a new criteria to do something about running jobs that are on auto-deprovisioned nodes.

This issue, however, references "waiting" jobs. In most cases, we should be able to drain the pg_notify queue for an offline instance. This will not present any problems for re-processing jobs, because if you can pull the message, that means that the offline node di

[2022-05-09 18:22] fosterseth commented on #11346
Some thoughts on this

### PubSub
There is a different backend for django channels, which uses a redis PubSub implementation. It's considerably faster than the default redis channels (peak throughput of 3000 msg per second, as opposed to 300 per second in my own testing). It's still experimental so not sure if we can trust it in production.

Still, 3000 per second is probably not enough. Jobs are

[2022-05-09 18:37] #12188 closed, assigned to kialam

[2022-05-09 19:16] keithjgrant commented on #12194
Hi, a couple questions to help me narrow this down:

- Is it always the same lines missing if you refresh the page?
- Is it always the same lines missing if you re-run the same job?
- Does the issue resolve itself if you add any query parameters to the page URL? (e.g. `/jobs/playbook/{id}/output?x`) (this will disable the expand/collapse arrows on the left, which I suspect are part of the issue)

[2022-05-09 19:28] apiening commented on #12025
This issue was not related to `AWX` and it was solved in a different issue, see: https://github.com/k3s-io/k3s/issues/5349

Summary: The default port range for outgoing connections is `32768 to 60999` and there was a default firewall rule allowing `TCP` packets with the `ACK` flag from within this range.
Since `k3s` uses all possible ports for outgoing connections, some of them were below `32768`

[2022-05-09 19:28] #12025 closed, assigned to nobody

[2022-05-09 19:57] olinigorov commented on #12190
Hello, i am having similliar problem. All seems working fine, but when i try to access on http://host:port, i get blank page.

While trying curl, i get this.

`You need to enable JavaScript to run this app.`

I got JavaScript enabled, and i got this problem from several computers..  So next step i took, was checking the logs.

 k logs -f awx-656b6c86fc-vg6qk awx-web

`2022/05/09 19:50:35 [error] 3

[2022-05-09 20:06] AlanCoding commented on #11346
We do have node-local things we use redis for. Are you thinking we could run another instance of redis for this purpose?

[2022-05-09 21:25] AlexSCorey commented on #11182
Related to https://github.com/ansible/awx/issues/11339 possibly

[2022-05-09 21:30] fosterseth commented on #11346
yep we'd still have a redis instance per control node for django caching and other local use cases.

[2022-05-10 02:50] lyutian commented on #11987
I got the same issue.
My problem is that awx-ee execution environment image is not existing on running instance, and I set 'Never pull image' in AWX GUI.
Suggest checking your execution environment firstly.
- if using instance group, please check `podman image ls` in your instance
- if using container group, please check image in your kubelet cluster.

[2022-05-10 07:05] fculpo commented on #12117
same

[2022-05-10 07:15] aporwal3 commented on #12117
Mine issue got resolved when I updated awx operator to 0.21.0, earlier I was working on 0.20.2

[2022-05-10 09:38] sooslaca commented on #12194
Hi @keithjgrant ,

1) yes, same lines are missing
2) yes, same part is missing if I rerun the same job
3) and yes, this helped :) We can live with this for now.
As soon as I add a query parameter, arrows on the left are disappear and page loads fully !

Thanks for the hint ;) I hope it will be fixed sometimes...

[2022-05-10 10:50] olinigorov commented on #12190
So, after troubleshooting for a while, problem was in a deployment yaml file.

Old deployment file.

[code]

New deploy yaml file.

[code]

I simply deleted

[code]
Now it is working like a charm.

Have a nice day,

Oleg

[2022-05-10 11:14] DaDenniX commented on #12117
We are also affected by this. Using AWX 20.1.0, AWX EE is 0.6.0 but control plane is awx-ee:latest. Project sync is not possible (with collection installation)

[2022-05-10 13:30] AlanCoding commented on #12201
Our idea here was that we could cache this to some internal field for our own purposes.

However, https://github.com/ansible/awx/issues/5711 is still a relevant RFE. We may want to consider how to turn this into a feature and obtain the performance gains at the same time.

[2022-05-10 13:58] adandanielteamint commented on #10955
Im having this same problem but doing a fresh install... I dont know why...

[2022-05-10 14:02] AlanCoding commented on #5711
@matburt I want to ask your thoughts on how we might implement this because it touches back to the original design of instance group preferences.

This would be a non-obvious design. Would the user provide an instance group? We have a field on the UnifiedJob model, so this would work intuitively. If going this route, would the IG have to be in the existing preferred instance group list?

Or should

[2022-05-10 16:42] jbradberry commented on #12149
This behavior is as intended.  The expectation is that if you need to bring in a new container image for your jobs, you ought to create a new EE entry to encapsulate it.  An EE is supposed to be a one-to-one representation of a particular image and is not really intended to be edited, though of course with sufficient user privileges you can edit it to refer to a completely different image.  As you

[2022-05-10 16:42] #12149 closed, assigned to nobody

[2022-05-10 17:05] CFSNM commented on #11733
Using latest devel awx:

[code]

The task is still showing Ok as result

[2022-05-10 17:28] akus062381 opened #12203 "workflow job with deleted nodes produces error on launch"
If a user tries to launch a workflow job template that contains nodes that have all been deleted, the user gets an error when they try to launch it.

Steps to reproduce:

1. As an admin user, create 3 job templates.
2. Create a workflow job template.
3. In the visualizer, add the three job templates as nodes.
4. Save the visualizer and launch the job. No problems.....
5. Now, delete the 3 job temp

[2022-05-10 18:16] sarabrajsingh commented on #11733
@CFSNM i just introduced a new fix with #12205 - can you retest again please?

[2022-05-10 18:29] AlanCoding opened #12206 "Remove already-deprecated `update_on_project_update` field"
##### ISSUE TYPE
 - Feature Idea

(feature removal?)

##### SUMMARY
This field was deprecated in https://github.com/ansible/awx/pull/11989

See the comment chain here:

https://github.com/ansible/awx/issues/11336#issuecomment-970321742

This is filing that as a separate issue. We now have https://github.com/ansible/awx/pull/12073, which resolves what was discussed in https://github.com/ansible/awx

[2022-05-11 01:59] AlanCoding commented on #5765
This is not something that goes through normal QE, so I'll close it directly here. I notified the perfscale team, but don't expect any particular response from them.

Capturing from the PR, some writeup from this:

https://gist.github.com/AlanCoding/3bff66c63db36ae7cb8c326df2c38e29

[2022-05-11 01:59] #5765 closed, assigned to AlanCoding

[2022-05-11 08:27] WebSpider commented on #12193
Do you have any kind of logging available from the webui or webserver ?

[2022-05-11 08:29] WebSpider commented on #12190
Does this solve the issue for you as well, @jskim096 ?

[2022-05-11 08:36] WebSpider commented on #12002
I've seen this happen when the inventory plugin isn't executed as a plugin, but an attempt to read it as an inventory file is made.
In my case, this often boiled down to forgotten execute permissions on the inventory plugin.

[2022-05-11 09:33] it-pappa commented on #12193
@WebSpider have not enabled any logging system.
Only difference in the environment is that i upgraded ansible version. Dont know if that will break anything

[2022-05-11 09:53] gaugstein commented on #12002
hi, thanks but that was also my first idea and yes the inventory script is executable.

[2022-05-11 11:09] fivetran-joliveira opened #12211 "GCP credential not set as env var on execution environment"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

**TL;DR

[2022-05-11 11:18] lals1 commented on #12194
I am having exactly same issue with AWX 20.0.1.

Adding query parameter in the URL does display all the lines in the job output.

[2022-05-11 11:47] smeeus commented on #11468
@Zappelphilipp

Have you tried doing a `make clean` before doing a `make docker-compose-build`?

I had the same issue yesterday when upgrading my 19.5.0 to 21.0.0. Without the `make clean`, my about would still show '19.5.0'.

Using the commands below, my about page got updated to '21.0.0'

[code]

The `make clean` does not remove the data generated in the `tools/docker-compose/_sources` folder.

[2022-05-11 14:04] rebeccahhh commented on #9014
@harshakhmk we welcome contributions at any time. :)

[2022-05-11 14:13] rebeccahhh commented on #11422
@AlanCoding does #11933 resolve this fully? AKA should we close this?

[2022-05-11 15:22] AlanCoding commented on #11700
Closing this because it is too far beyond the horizon of what is conceivable right now.

[2022-05-11 15:22] #11700 closed, assigned to nobody

[2022-05-11 15:28] #8690 closed, assigned to AlexSCorey, akus062381

[2022-05-11 15:29] AlanCoding commented on #11422
Yes, this is in Needs Test.

As a note for QE, in my own testing, I would just add a `time.sleep(6)` or something like this in the `awx.main.tasks.jobs` code path before the final status change. It is fairly easy to verify (using integration tests) that this causes notifications to not be sent before this change, and that the change fixes it. I'm sure there are other ways to force the bug to happe

[2022-05-11 15:37] sflotat commented on #11529
Hi
I'm using AWX 15.1. and I have same problem (instead of getting my ssh passphrase ask window, i get an error message). Do you think it is possible to modify my AWX 15.1 release with changes describe in #11598 ?
Actually we have not planned to upgrade to latest docker release (17).

[2022-05-11 18:01] AlanCoding opened #12217 "[Tech Debt] Django ORM update_fields non-interference"
##### SUMMARY
This app makes heavy use of `update_fields` when using the Django ORM, but we do not reap its full benefit mainly because of overly-broad logic in `save` methods. We have plenty of specific examples documented in the issue tracker. This issue asks that we clarify expectations generally.

**Demo Proposal for Best Practice**

Consider a model `FeatureModel` which ultimately derives fro

[2022-05-11 18:01] jbradberry opened #12218 "Filtered awx-cli exports only export the first page"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - CLI

##### SUMMARY
When trying to export a particular object using a specified name, the export command will only return first 25 results (i.e. the first page).

Community PR #12216

[2022-05-11 18:04] jbradberry commented on #12218
This came in as a community-submitted PR without an existing issue.  A test exercising the underlying problem should probably be added to our integration tests.

[2022-05-11 18:52] jbradberry commented on #12218
PR is merged.

[2022-05-11 19:00] fosterseth commented on #12206
also we can safely remove the scm_last_revision field on the inventory source model

[2022-05-11 19:24] AlanCoding commented on #11557
I'm going to put this in Unplanned for now (because planning is starting and it will be at home with other perf/scale issues). Please put it back into In Progress if you pick it back up again @rebeccahhh

[2022-05-11 20:13] Secarius commented on #12129
We have the same problem.
Running the playbook with 5 hosts works,
but with 30 just stops / freezes and saying error:
![image](https://user-images.githubusercontent.com/777486/167939316-5b60aeb8-9857-4ebc-a9d5-4a59b6d99315.png)

[2022-05-11 20:40] #11861 closed, assigned to kialam, jay-steurer

[2022-05-11 20:54] AlanCoding commented on #4481
https://github.com/ansible/awx/compare/devel...AlanCoding:wj_artifacts?expand=1

This is a completely careless implementation, but it passes a basic functionality integration test. I need to think about the variable precedence issues raised in this issue... but I'm not convinced any of them will matter in the real world.

[2022-05-11 21:22] IPvSean commented on #11424
I have also noticed, not sure if it is covered here, that when you want to sync your project (e.g. github) the job output will remain blank...
![image](https://user-images.githubusercontent.com/6537680/167949896-14ade71a-ba68-45bf-9a74-98f5d739c8ca.png)

there is no feedback to the user, so they think it is broken

[2022-05-11 22:44] keithjgrant commented on #12194
If you can, try upgrading to 21.0. We fixed a number of issues here with the expand/collapse feature in this release. Hopefully you're experiencing one of the bugs we took care of already. See #11944

[2022-05-11 22:46] keithjgrant commented on #12194
Glad it helps. Is there anything you can show from the missing lines? Do they include warnings or logs or any type of special output?

[2022-05-12 02:30] sugitk commented on #11623
A customer has also reported regarding this issue.  I understand the comment in #1997 though, we should provide a workaround or an option to remove the variables.

https://github.com/ansible/awx/issues/1997#issuecomment-398462633

[2022-05-12 03:10] aishwaryakulkarni31 opened #12221 "RuntimeError: The project could not sync because there is no Execution Environment."
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib64/python3.9/site-packages/awx/main/tasks/jobs.py", line 456, in run
    env = self.build_env(self.instance, private_data_dir, private_data_files=private_data_files)
  File "/var/lib/awx/venv/awx/lib64/python3.9/site-packages/awx/main/tasks/jobs.py", line 1031, in build_env
    env = super(RunProjectUpdate, self).build_env(project

[2022-05-12 08:43] kathy-lee opened #12234 "Could not sync inventory with encrypted vault files"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In AWX 21.0.0 could not sync inventory with encrypted vault files

##### ENVIRONMENT
* AWX version: 21.0.0
* Operator version: 0.21.0
* Kubernetes version: 1.22.6
* AWX install method: awx-operator

##### STEPS TO REPRODUCE
Previously I worked an old version AWX 14.1.0 and have my inventory with encrypted vault files. Now I am trying to set up AWX in A

[2022-05-12 08:47] nbttmbrg commented on #12194
Hello,

Same problem here (AWX 21.0.0 running in GKE). Here's an example with a skipped task.
Any run will show the same lines greyed out.

Without filter :
![image](https://user-images.githubusercontent.com/48053368/168031636-af39931c-f183-4e76-a689-523a7400d807.png)

With filter :
![image](https://user-images.githubusercontent.com/48053368/168031605-c7927f83-f4bb-45a1-b0c5-6752ce71f7bf.png)

[2022-05-12 09:11] sooslaca commented on #12194
Nothing in common I can say for the missing sections @keithjgrant . I initially thought it is because of empty response, but not. Even one with response can be a miss.
I have a feeling it is somehow related to paging which has an issue as well https://github.com/ansible/awx/issues/12195
What I can see when I add the query parameter, then paging queries are changing to not_stdout=.

Also for fun if

[2022-05-12 10:13] kzinas-adv commented on #11623
You can purge inventory/myinv/group_vars/all.yaml data through AWX API:
`PUT https://{{ awx_server }}/api/v2/inventories/{{ awx_inventory_group_id }}/variable_data/`
And later run update that inventory, this will recreate inventory/myinv/group_vars/all.yaml
All this can be included in one workflow template.

[2022-05-12 11:34] ybucci opened #12233 "Error in job log output"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Some outputs don't load

##### ENVIRONMENT
* AWX version: 21.0.0
* Operator version: 0.21.0
* Kubernetes version: 1.21.10
* AWX install method: Kubernetes

##### STEPS TO REPRODUCE

Run job

##### EXPECTED RESULTS

Correctly show the output log

##### ACTUAL RESULTS

Can't se logs without download them

##### ADDITIONAL INFORMATION

![image](https://us

[2022-05-12 12:58] ybucci opened #12232 "Log output doesn't follow browser"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The browser does not follow the log, it is necessary to keep clicking the buttons to go down and when select Follow button or arrows don't work

AWX version: 21.0.0
Operator version: 0.21.0
Kubernetes version: 1.21.10
AWX install method: Kubernetes

##### STEPS TO REPRODUCE

Run job

Which browser window follows the log output

##### ADDITIONAL INFORM

[2022-05-12 13:19] john-westcott-iv commented on #12206
Blocked pending merge of #12073

[2022-05-12 15:05] shanemcd commented on #5473
I believe this got fixed by https://github.com/ansible/awx/pull/11288

[2022-05-12 15:05] #5473 closed, assigned to nobody

[2022-05-12 15:06] #4158 closed, assigned to nobody

[2022-05-12 15:27] keithjgrant commented on #12195
That page calculates which data it needs to load based on the total number of records and how much it needs to display as you scroll. It's not expected to only use page size 50. The requests you're seeing should still fetch all necessary events:

[code]

As long as the job doesn't have any events beyond number 287 (or you haven't scrolled far enough down to need them), this should be fine.

This p

[2022-05-12 15:28] AlexSCorey commented on #11529
@sflotat Thanks for reaching out to us.  We recommend that you upgrade to the latest version of AWX to get the patch for this bug.

[2022-05-12 15:49] keithjgrant commented on #12195
If you have queries that are skipping an event that the UI is trying to display please let me know! But it sounds like this is working as intended, so I'm going to close

[2022-05-12 15:54] keithjgrant commented on #12194
Yeah that paging is determined dynamically, so that's behavior is expected –– unless you can see that the paging it's using is skipping over specific events, it's normal

Chances are, the UI has the needed events in memory and there's a problem looking them up/storing them in the events tree that it builds to support expand/collapse.

While you're digging in the network responses, can you post the

[2022-05-12 15:55] #12195 closed, assigned to nobody

[2022-05-12 16:41] kdelee opened #12225 "[Metrics&Observability] Track task manager metrics"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Track timing and stats of the task manager. This can include:

- Number of jobs collected by task manager (by type)
- Number of jobs scheduled in a run of the task manager
- Number of jobs blocked by "soft" dependencies like allow_simultaneous=False
- Time it took to run different stages of the task manager (e.g. _schedule, process_pending_tasks, et

[2022-05-12 16:50] zaphodb1891 opened #12226 "AWX 17.1.0 - Installation error - "could not translate host name \"postgres\"""
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

### Sum

[2022-05-12 18:14] aishwaryakulkarni31 commented on #7946
Facing the same issue. I have the newest version of awkit and awx tower running. When trying export any resource connected with an execution environment, it gives the following error.

Unable to construct a natural key for foreign key 'default_environment' of object /api/v2/projects/8/.
{
     "organizations": []
}

When I update the execution_environment parameter to blank, the output is as follo

[2022-05-12 18:17] AlanCoding commented on #11423
Other recent prompting requests
 - prompting for EE (not tracked)
 - prompting for instance group or instance https://github.com/ansible/awx/issues/5711

It would be best to handle the workflow prompting as a separate issue from these two, which apply to jobs. Unless, of course, it is expected that the new job prompts would be available on workflows. In that case, it's most efficient to first add

[2022-05-12 18:25] AlanCoding commented on #7999
Smart inventories are limited to the organization they are in. I can't remember if superusers can create smart inventories with a null organization, which would fetch hosts from all inventories.

Since these only can use hosts _in_ the org, and creating them requires `inventory_admin_role`, and because this role already gives edit access to inventories in that organization, there is no escalation

[2022-05-12 18:29] AlanCoding commented on #2459
I'd suggest closing https://github.com/ansible/awx/issues/6043 in favor of this issue.

[2022-05-12 18:30] AlanCoding commented on #11398
@sean-m-sullivan resolved in https://github.com/ansible/awx/pull/12093

[2022-05-12 18:30] #11398 closed, assigned to nobody

[2022-05-12 19:02] AlanCoding commented on #11689
Closing as duplicate of https://github.com/ansible/tower/issues/5728

[2022-05-12 19:02] #11689 closed, assigned to nobody

[2022-05-12 19:12] AlanCoding commented on #11025
I could support a change to give more specific wording that the instance groups available for the job _do not have capacity at all_, as opposed to not having _enough_ capacity. Actually I already filed an issue to that effect at https://github.com/ansible/awx/issues/11316

However, I don't believe any "guard rails" are workable. Users should be able to associate instance groups with no capacity, a

[2022-05-12 19:12] #11025 closed, assigned to nobody

[2022-05-12 19:57] akus062381 opened #12228 "Cannot edit a WFJT node from JT to WF approval"
When a WFJT has a JT node and the JT was deleted, if the user tries to edit that node and make it a workflow approval node instead, they get this error:
[code]

Steps to reproduce:
1. Create a job template.
2. Create a workflow job template and assign the job template as the first and only node on the visualizer.
3. Run the job.
4. Delete the job template.
5. Go to the visualizer of the WFJT and e

[2022-05-12 21:21] jbradberry commented on #11689
@sean-m-sullivan I think the big question I have is, why is there a perceived need to be able to edit EEs often enough to warrant this change?  What is the actual scenario where this is needed?  The original intention of EEs is that they are pretty static, just the image url plus the podman pull behavior.  New images should get a new EE.

[2022-05-12 21:38] jbradberry commented on #7946
@aishwaryakulkarni31 this is not the same issue as reported at the top.  Please open a separate issue with enough information to be able to replicate the problem, including whether or not you can directly export execution environments by themselves.

If you can export EEs, what you are describing is a real bug.  If you cannot, you have the same problem as https://github.com/ansible/awx/issues/7946

[2022-05-12 22:05] sean-m-sullivan commented on #11689
@jbradberry
I went and checked this out with and this is what I saw.
Right now an Org admin can create/edit org execution environments no issue.
An Org member can read and use Execution environments no issue.
However if you wanted to give someone permission to add/edit a single Execution environment object, There is no option to do so.

Right now people administering tower can give limited access

[2022-05-13 00:04] AlanCoding commented on #11689
^ this seems congruent with other organization roles like `project_admin_role`. You want to allow a team to do their work, but don't want to give them org admin, which confers a boatload of permissions (that are hard to even enumerate). Just like some people are going to need to set up with SCM (even to just change branches), some people will be rolling images. You _mainly_ need images to add Ansi

[2022-05-13 00:35] sean-m-sullivan commented on #11689
Agreed, and I can't read the tower issue that you linked, but I created this issue because
A. After reviewing roles, I thought it was needed.
B. I had no clue how to implement it myself for a PR.

[2022-05-13 03:46] jbird2021 opened #12230 "Add logging to hosts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
An administrator should be able to look at host logs and find out what has been executed by Ansible on a server without having to go to Tower or other logging services. I think the best solution would be to log the module name and any variables used in it (even if they are defaults).

[2022-05-13 06:47] PaulVerhoeven1 commented on #12232
I think this is more a bug for awx self (https://github.com/ansible/awx/issues) and not the operator.

[2022-05-13 07:53] sooslaca commented on #12194
Hi, paging is ok then, got it.
URL I found was `/api/v2/jobs/{id}/job_events/children_summary/`

This is a different job than above one and failing on row 5. Attached screenshot.
Max count for this job that I see on the UI on the left is
1710  (1711 is visible too, but that line is empty)
"PLAY RECAP" line is in row labelled 1704.
1705->1710 (inclusive) holds the changed inventory hosts

children_

[2022-05-13 08:15] sooslaca commented on #12194
One more thing I noticed that might help.
Without (NO ?x) the "?x" parameter I get much more rows in `/job_events`.

Mainly events like this
[code]
that I don't see in the ?x one.

For these event `stdout` is always empty though

[2022-05-13 08:24] lals1 commented on #12194
Confirming that issue is resolved in 21.0. Thanks

[2022-05-13 10:25] CFSNM commented on #11733
Using last devel kit:

[code]

Closing this issue

[2022-05-13 10:25] #11733 closed, assigned to sarabrajsingh, CFSNM

[2022-05-13 12:42] aishwaryakulkarni31 commented on #7946
Hi @jbradberry, The issue I'm facing is because I am **not** able to export EE's. Same problem as https://github.com/ansible/awx/issues/7946#issuecomment-1101480649

Pls suggest..

[2022-05-13 14:37] AlanCoding opened #12231 "UI does not show API message about why job is blocked"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

The API

[2022-05-13 14:56] jbradberry commented on #11689
@sean-m-sullivan @AlanCoding there exists an `Organization.execution_environment_admin_role`.

[2022-05-13 17:06] fosterseth commented on #12231
my main concern is whether job_explanation is properly translated

[2022-05-13 17:08] keithjgrant commented on #12231
This was (semi-inadvertently) removed from the UI here: https://github.com/ansible/awx/pull/11561/files#diff-b507feef6ba5a06df4a81180696761facbeda09f24b57d2389327009878b82f3L124

[2022-05-13 17:23] akus062381 commented on #12226
Thank you for being one of our users! While we understand your frustration, unfortunately we only support the latest version of AWX. Please submit your question to our mailing list for help from the community!

[2022-05-13 17:29] fosterseth commented on #12233
possible duplicate of https://github.com/ansible/awx/issues/12194

[2022-05-13 17:34] fosterseth commented on #12234
possibly related issue https://github.com/ansible/awx/issues/4089

[2022-05-13 17:36] fosterseth commented on #12221
Can you please provide more information about your setup (awx-operator version and awx version)?

does it eventually work if you retry, or does it fail every time?

[2022-05-13 17:39] #12226 closed, assigned to nobody

[2022-05-13 18:53] InnocentK commented on #11874
Resolved

[2022-05-13 18:53] #11874 closed, assigned to nixocio, InnocentK

[2022-05-13 19:17] Donny-Ta commented on #9747
Hi,

I am also experiencing this issue.

AWX: 21.0.1 (dev)
Docker installation
Centos 8.0

It seems like the websocket hangs maybe?

Below is the network traffic of a run where I am stuck with the job constantly saying "running" but nothing ever shows up and "running" never turns into "succeeded"
<img width="643" alt="running" src="https://user-images.githubusercontent.com/53435704/168374806-73acf

[2022-05-13 20:03] jbradberry commented on #7946
@aishwaryakulkarni31 I have just confirmed that export of EEs both as full objects and as related objects for job templates, projects, and organizations works in the latest version of awxkit.  Please update your version of awxkit.

If you have further problems with the export (or import) of EEs, please take it to the mailing list or open it as a new ticket instead of commenting on this one.

[2022-05-13 21:01] fosterseth commented on #12233
@ybucci

do you mind sharing the first 10 events of your job output? please remove any sensitive information beforehand

also, can you share the output of `api/v2/jobs/2119/job_events/children_summary`

[2022-05-14 15:59] kTipSSIoYv opened #12236 "Credentials selection doesn't remove the existing credentials"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I'm try

[2022-05-15 19:20] dlemons-redhat commented on #11499
@john-westcott-iv
Sorry I didn't respond to this more quickly.  I just implemented this as part of a workflow demo for another customer and it is now working correctly, as you pointed out.

[2022-05-15 20:26] chris93111 commented on #12232
same here https://github.com/ansible/awx/issues/12087

[2022-05-15 20:54] john-westcott-iv commented on #11499
Thanks for confirming.

[2022-05-15 20:54] #11499 closed, assigned to nobody

[2022-05-16 06:15] ashleyghooper commented on #7870
This seems to be happening again for 21.0.0:

[code]

Switching to 19.4.0 fixed it.

[2022-05-16 11:22] ybucci commented on #12233
Hi @fosterseth

**First 10 events:**

`No config file found; using defaults

PLAY [iis_sincro] **************************************************************

TASK [Gathering Facts] *********************************************************
ok: [OMITED]
<OMITED> Running win_updates - round 1

TASK [wu : Checking for Available Windows Updates] *****************************
ok: [OMITED] => {"changed"

[2022-05-16 12:35] lals1 commented on #8081
@AlanCoding Is there any prerequisite for python scripts from git repo to show up in the drop down menu when configuring the inventory source in AWX? I can't see any `.py` files appearing in drop down menu in AWX 21.0.0 but it does show .ini files.

<img width="909" alt="Screenshot 2022-05-16 at 15 32 03" src="https://user-images.githubusercontent.com/8269797/168593784-1b34a285-0cbb-4093-838d-0376

[2022-05-16 12:54] scatenag commented on #1083
+1

[2022-05-16 12:55] scatenag commented on #1309
+1

[2022-05-16 12:56] scatenag commented on #2209
+1

[2022-05-16 15:48] GR360RY opened #12238 "Failing to configure SAML Based Authentication"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When tr

[2022-05-16 17:14] kdelee commented on #12225
https://github.com/ansible/awx/pull/12235

[2022-05-16 20:17] AlanCoding commented on #7870
We have a new issue for that https://github.com/ansible/awx/issues/12060

This issue was for the first time we broke it.

[2022-05-16 21:31] rebeccahhh commented on #11557
I put a draft PR up last week but I am working on other things so this is kind of on my back burner: https://github.com/ansible/ansible-runner/pull/1072

[2022-05-17 06:19] lals1 commented on #8081
Never mind. I assigned the execute permission for the python script in the git repo and they started appearing in the drop down menu in AWX.

[2022-05-17 09:01] adpavlov opened #12241 "Websocket not working at non-root path"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Changes

[2022-05-17 09:13] tmanninger commented on #12177
Hi @rebeccahhh

i also need this fix asap. How can i use the awx devel version with the current awx-operator?

I already tried the following, but this does not work:
[code]

[2022-05-17 15:46] AlanCoding opened #12245 "UI does not show recursive workflow error"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

API err

[2022-05-17 16:07] akus062381 commented on #12228
resolved

[2022-05-17 16:07] #12228 closed, assigned to kialam

[2022-05-17 17:16] #11991 closed, assigned to nobody

[2022-05-17 17:36] jbradberry commented on #12034
@avalou as you have already noted, tower-cli is deprecated.  The new awx-cli (https://github.com/ansible/awx/tree/devel/awxkit) does not have a codebase in common with the old tool, so is unlikely to have this same bug.  Closing.

[2022-05-17 17:36] #12034 closed, assigned to jbradberry

[2022-05-17 17:47] john-westcott-iv commented on #12127
Similar to https://github.com/ansible/awx/issues/12097

[2022-05-17 21:03] InnocentK commented on #11873
Resolved

[2022-05-17 21:03] #11873 closed, assigned to nixocio, InnocentK

[2022-05-17 23:21] evelandi commented on #1789
Exactly the same is happening to me using ansible-runner python module. when the output is too large it return an empty res. is it possible to change the MAX_EVENT_RES_DATA within the ansible config file?

[2022-05-17 23:56] BenjaminSchweizer commented on #11121
Any news about this?

[2022-05-18 00:19] #1549 closed, assigned to nobody

[2022-05-18 08:08] #12218 closed, assigned to CFSNM

[2022-05-18 09:38] pratikbin commented on #11490
Hey @ivantomica I think I'm relating to this issue.

Can you point me where we can add this configuration, Because I can't

[2022-05-18 09:41] ivantomica commented on #11490
In AWX you create dynamic inventory source by going to

1. Inventories
2. INVENTORYNAME
3. Sources
4. Add
5. Source: Amazon EC2
6. Source variables field

This source can then be scheduled via schedules tab.

[2022-05-18 09:53] pratikbin commented on #11490
So I have to put this 👇 configuration in `Source variables field` right!

[code]

![image](https://user-images.githubusercontent.com/68642400/169011928-b154628d-5657-4e0d-843e-4ff8ae346209.png)

[2022-05-18 13:13] pratikbin commented on #11490
Thanks @ivantomica , I was confused with the title itself `Source variables`.

I wanted to get all the nodes with specific tag. I used `Enabled Variable` and `Enabled value` but it disabled that particular node in inventory and enable rest. It is kind of inverse that i thought. But this (`Source variables`) helped thanks a lot

![image](https://user-images.githubusercontent.com/68642400/169046676-

[2022-05-18 13:23] chuegel commented on #12117
Adding `image_pull_policy: Always`to the awx spec solved the issue for us:

[code]

[2022-05-18 13:48] AlanCoding commented on #11321
I'm going to close this as a duplicate of that linked issue. Our EE use is modeled after the podman / docker CLI, but that left a pretty big blind spot with versioning.

[2022-05-18 13:48] #11321 closed, assigned to nobody

[2022-05-18 14:29] evelandi commented on #1789
Hello Folks, I found a way of modifying this when using ansible_runner as a Python interface module. first of all, I want to tell you that this variable is used by ansible_runner when managing the events, exactly on this file /<python site-packages path/ansible_runner/display_callback/events.py. in this file, you can see there is an expression where it gets the MAX_EVENT_RES (Same variable as MAX_

[2022-05-18 15:49] iMikeG6 commented on #12117
Seriously AWX Team, please test your product before calling it "release".

I confirm the bug as well on our side, same as @JonathanG3
`  This can be caused if the version of ansible-runner in your execution environment is out of date.`

awx-ee:0.6.0 is broken on release 21.0

Thank you @JustInVTime for providing this fix. However, it'll be nice to have this nice and easy fix in the official image.

[2022-05-18 16:26] john-westcott-iv commented on #12164
@nixocio and I discussed some potential options:

1. Modify the schedule endpoint to contain both a "ui_selected_tz" and "timezone". The current "timezone" field would not be able to be changed through the UI and would become a computed filed and the new ui_selected_tz would contain the TZ the user actually selected. This field would be used to populate the Local time zone dropdown on edit.

2. Mo

[2022-05-18 16:42] chuegel commented on #12117
While `image_pull_policy: Always`fixes the awx-ee, the error still persists when building custom execution environments:

[code]
execution-environment.yml:
[code]
requirements.txt:
[code]
Any hints are appreciated.

** Edit **
OK its fixed now. It turned out that our build environment didn't had the latest awx-ee image . Nasty *latest* tag :/

[2022-05-18 16:48] ffirg commented on #11423
possibly related? https://github.com/ansible/awx/issues/10719

[2022-05-18 17:21] jbradberry commented on #12164
I believe that a data migration could and should happen as part of this fix, so any pre-existing values will be set correctly whichever path we take.

I dislike option 3.  I strongly lean towards option 2.

[2022-05-18 17:46] #11796 closed, assigned to nobody

[2022-05-18 18:01] ffirg commented on #11542
@maveleo is this still an issue. Quite old AWX versions now, so was looking for an update.

[2022-05-18 18:02] ffirg commented on #11919
@thenets still an open issue?

[2022-05-18 18:17] ffirg commented on #12027
related to https://github.com/ansible/awx/issues/12044

[2022-05-18 18:54] john-westcott-iv opened #12253 "UI does not hadle error on notification save"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

If the

[2022-05-18 18:57] kialam commented on #12164
cc @trahman73

Option 1 would require the least amount of effort on the UI side and would have no visible impact to the user.
Option 2 would require the most amount of work on the UI side and present a new pattern to the user experience and the schedules view.
Option 3 I see as an eventual end goal. If we start with Option 2, we can slowly migrate users with linked time zones over and  afterwards

[2022-05-18 19:22] maveleo commented on #11542
We will have to plan an upgrade and see if it works now but I doubt it will
unless the design has not changed.
The problem I faced was by design, the pod that is spinned up to execute
the update of the inventory has no visibility of the content downloaded
from the project that is sourced from git.

On Wed, 18 May 2022, 19:01 Phil Griffiths, ***@***.***> wrote:

[2022-05-18 19:45] trahman73 commented on #12164
@kialam I agree that Option 2 seems to be the best experience going forward. Notifying the user that a selected timezone may contain a link to the adjusted timezone as a warning in the UI is a good approach to make this work.

[2022-05-18 20:07] #11871 closed, assigned to AlexSCorey, jay-steurer

[2022-05-18 20:07] #11872 closed, assigned to InnocentK, AlexSCorey, jay-steurer

[2022-05-18 21:58] TinLe commented on #11484
FYI, I am seeing this also in 19.3.0.   Timeout is not working at all.

Let me add more detail.   I have the system wide timeout set to 300 (5 minutes), and that work.  But setting the timeout in the template does not work.  The template timeout is completely ignored, no matter what.

If I changed the system wide timeout to 0, the default, the timeout setting in the templates are still ignored.

[2022-05-18 23:45] djohnson1865 opened #12254 "Cannot set LDAP Group Type"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Attempt

[2022-05-19 00:36] felipe4334 commented on #11484
@shanemcd Do you have any insight on why this issue is not fixed? I updated to 0.21.0 and still getting the same issue even with the latest EE images

[2022-05-19 06:40] xBr0th3rx commented on #9747
Hello, everyone,

does anyone have an update on this topic?

We also have the same problem, the result is only displayed after the job has been completed or I have to keep refreshing the page.

I don't see an error in the network tab
![no-error-in-network-ansible](https://user-images.githubusercontent.com/17457338/169226719-f826f90d-1056-4c88-bb47-06fd27b7fe9b.png)

But in the console tab I get "W

[2022-05-19 06:45] amg-web commented on #9747
@xBr0th3rx , @Donny-Ta all working config was published a long time ago.

here is the latest version https://github.com/ansible/awx/blob/17.0.1/tools/docker-compose/nginx.vh.default.conf

my working config:
[code]

[2022-05-19 10:48] xBr0th3rx commented on #9747
Hey thanks for the Answer

In which Docker i must set this?

[2022-05-19 10:51] amg-web commented on #9747
docker has it.
it's for nginx if you use it as a proxy

[2022-05-19 14:00] nixocio opened #12256 "Filter workflow job templates to avoid recursive call"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When adding a workflow job template to a workflow - we are listing the current workflow itself - what leads to a recursive call error.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/9053044/169310352-419bcd35-b5c2-4e80-accf-f613d530d238.png">

<img width="1790" alt="image" src="https://user-images.githubusercontent.com/

[2022-05-19 14:01] d-rupp commented on #11805
We also encounter an issue like this regularly. It seems awx-task just decides that the job is done and kills the pod.

This is what i find in the awx-task log:
[code]

All the while the task output just says "canceled".
If there is anything i can help analyse this please tell me what to do.

It is not related to the linked issues above.

*edit: sorry, missing data about the system

AWX: 21.0.0 ru

[2022-05-19 16:01] fosterseth commented on #12233
@ybucci I suspect it has to do with the highly nested events, what control flow mechanism is this playbook using (e.g. are you looping over items, looping over tasks, etc)

any hints as to how your play is organized might help me recreate the bug locally

[2022-05-19 16:15] nixocio commented on #12245
Closing as dupe of https://github.com/ansible/awx/issues/12129

[2022-05-19 16:15] #12245 closed, assigned to nobody

[2022-05-19 16:18] nixocio commented on #12241
~May be related to #12097~

[2022-05-19 16:23] AlanCoding commented on #12238
This looks suspiciously similar to https://github.com/ansible/awx-operator/issues/773

Could you give more details of errors you saw? Are there errors in the server logs like that? Other issues suggest that you may need to wrap your values like `awx.sso.backends.SAMLAuth` in quotes.

[2022-05-19 16:34] adpavlov commented on #12241
No, it's not. I believe I found the root cause, please check pull request

[2022-05-19 17:39] kialam opened #12258 "Show more node details in Topology View"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add more details such as total jobs, running jobs, node capacity, node forks to the details sidebar in Topology view.

Mockups:
![image (1)](https://user-images.githubusercontent.com/2293210/169362864-f2dbba38-f28f-4f70-a32d-1ee413819a35.png)

[2022-05-19 18:07] GR360RY commented on #12238
@AlanCoding , I figured it out:

`awx.sso.backends.SAMLAuth` get enabled automatically when all the below fields in SAML configuration are filled out.
This includes:

1. SAML Service Provider Entity ID
2. SAML Service Provider Public Certificate
3. SAML Service Provider Private Key

Configuring required fields marked by `*` was not sufficient. Additional fields needed to be configured to activate

[2022-05-19 18:20] ybucci commented on #12233
Hi @fosterseth

I think the problem is when import_role is used:

See below the playbook

[code]

And role netscaler_disable_server:

[code]

[2022-05-19 18:59] keithjgrant opened #12259 "Animate in new jobs in jobs list"
When a new job is added to the jobs list based on websocket activity, it would be nice to animate/expand the row into place rather than jump the rest of the list downward in an instant. This could prevent potential mis-clicks.

[2022-05-19 19:12] AlanCoding commented on #12103
Let me ping @fosterseth, we discussed at pretty good length the options we have to do this.

Right now, there's just no precedent for collecting data from all the callback receiver worker processes. The only possible exception to this would be the `--status` command, gives gives data compiled by redis from all workers. This also happens to have been broken.

It's technically conceivable to develop

[2022-05-19 19:16] hesmithrh commented on #10093
potentially related to https://github.com/ansible/awx/issues/11346 (per UI dev convo today)

[2022-05-19 19:26] AlexSCorey commented on #11469
Closing in favor of https://github.com/ansible/awx/issues/9956

[2022-05-19 19:26] #11469 closed, assigned to nobody

[2022-05-19 20:33] lumarel commented on #9747
I spent some time with that topic again now, and in case of Contour it looks like the Websocket support has to be explicitly enabled.
https://projectcontour.io/docs/v1.21.0/config/websockets/

Furthermore it looks to me like it can be enabled via annotations, but I didn't have luck up to now by just adding it to the `/` rule.
https://github.com/projectcontour/contour/issues/3461#issuecomment-80060

[2022-05-19 21:28] kialam commented on #12259
This would be a great example to try out React's [ReactCSSTransitionGroup](https://reactjs.org/docs/animation.html#high-level-api-reactcsstransitiongroup). What's nice about this API is that React handles the logic needed to determine whether something has been added or removed from the DOM and assigns the relevant class names we can then target with CSS.

[2022-05-19 21:29] matsonfruit commented on #12232
I am also having this issue. has anyone found a fix or workaround?

[2022-05-19 21:31] fosterseth commented on #12233
@ybucci thanks, that is helpful information.

I tried writing a simple playbook that has import_role, where the task in that role each have a `loop:` construct.

I also see that your netscaler_disable_server role also does an additional import_role. I also tried to mimic that.

However, I still can't replicate the bug.

One thing that stands out and is unexplained is this line in your output
`skip

[2022-05-20 08:21] mickael-decastro commented on #9926
Hi,

Any news about this issue ?

Best Regards,

[2022-05-20 12:19] Jonathan-Caruana commented on #9926
Hi @mickael-decastro

I think this issue is not resolved yet but on my side to avoid it i have connected awx pod to an external PostgreSQL (on the same server as well).

If it can help

[2022-05-20 12:57] marekzebro opened #12262 "instance_group module is trying to change values without user setting them."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

awx.awx

[2022-05-20 13:26] JorgePardoSerrano opened #12263 "Inventory source from a project ignore source variables"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

The inv

[2022-05-20 18:26] thenets commented on #11919
@ffirg the behavior changed:

#### Before

- I tried to import an invalid type, like replacing `users` by `coffee`.
- I got an error output, but `rc == 0`

#### Now

- I tried to import an invalid type, like replacing `users` by `coffee`.
- I got **NO** error output and `rc == 0`

So, yeah, we still have the `rc` not being `!= 0` for an invalid value.

You can ping me later if you need the payload

[2022-05-23 06:11] edudobay opened #12266 "Communication with receptor fails: could not load signing key file: unknown block type PRIVATE KEY"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I've in

[2022-05-23 08:09] #9014 closed, assigned to CFSNM

[2022-05-23 10:21] amg-web opened #12267 "Can not use token for gitlab or github"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Can not

[2022-05-23 13:09] HampusLundqvist opened #12268 "Support gitlab event status on other webhook events than Merge Requests"
##### ISSUE TYPE
 - Support gitlab webhook events status callback for other events than Merge Request events.

##### SUMMARY

We would like to get feedback to gitlab in the master/main branch when we decide to Merge the MR into our master branch.

Current support for only Merge Request events, which means when "A merge request is created, updated, merged, or closed, or a commit is added in the sou

[2022-05-23 15:07] ybucci commented on #12233
Hi @fosterseth

Another example with this bug whitout any loop var

![image](https://user-images.githubusercontent.com/52977138/169848981-6b34435b-d41f-47af-bc0e-a76ae718dd79.png)

[code]

[code]

Children Summary:

[code]

[2022-05-23 18:13] fosterseth commented on #12233
I see that the tasks in the role ran twice, is there a loop or double import in the playbook that incorporates that role?

[2022-05-23 19:48] kdelee commented on #11346
Today, the question was posed:
_"Can we track if we have any clients listening for certain groups, and only send events for groups that have clients?"_

From what @fosterseth said, we would need to broadcast to other nodes what clients each has.

[2022-05-24 09:29] oompanic opened #12272 "main_instance table not updating"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello,

[2022-05-24 09:41] lalitadithya commented on #2240
+1. Can confirm that this problem still persists in AWX 15.

Host ordering is important for some playbook(s). Case in point - KubeSpray's recover control plane playbook - https://github.com/kubernetes-sigs/kubespray/blob/master/docs/recover-control-plane.md. For this playbook we will need to place the surviving control plane nodes before the rest of the nodes.

[2022-05-24 10:29] JorgePardoSerrano commented on #12263
I've seen that "Source variables" are being passed as environment variables to the execution environment container so I modified my plugin and now it works.

If this behavior is intentional, I think it should be better documented.

[2022-05-24 10:29] #12263 closed, assigned to nobody

[2022-05-24 12:45] ybucci commented on #12233
@fosterseth

It's because whe using this strategy

[code]

[2022-05-24 13:20] so121183gak opened #12273 "Control of free space on the hard disk on the AWX server"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hi ever

[2022-05-24 13:22] benoittgt commented on #11174
Isn't possible to auto-retry to fetch? At the moment we have to go manually to Project view when there was a downtime on Github/Gitlab. Otherwise we have "Missing a revision to run due to failed project update" for long time.

[2022-05-24 13:38] AaronJaegerVA commented on #12232
I am experiencing this as well.

[2022-05-24 13:54] YonatanGolick opened #12276 "Create custom facts in awx"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I saw t

[2022-05-24 13:59] Tioborto opened #12277 "Critical - Inventory update blocks AWX"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When we

[2022-05-24 14:07] anxstj opened #12278 "Exception inside application: Attempt to send on a closed protocol (Request user is not authenticated to use websocket)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

After u

[2022-05-24 14:15] fosterseth commented on #12233
@ybucci

Thanks for your response, that was a big help. I am now able to reproduce the missing events by adding strategy: host_pinned and serial: 1. I'll look into getting a fix in soon

[2022-05-24 17:11] Donny-Ta commented on #9747
@amg-web, I am using the docker deployment with 2 control nodes and that spins up HAProxy. The internal nginx config is the same as the one you posted though, but there's a disconnect with the HAProxy config, I suppose?

[2022-05-24 17:14] amg-web commented on #9747
I'm just started with k8s so use simple config
[code]
it works behind nginx

[2022-05-24 17:58] keithjgrant commented on #12194
@sooslaca @nbttmbrg are you running with a strategy specified other than the default? We believe we've nailed this down as the cause in related/duplicate issue #12233

[2022-05-24 18:21] nixocio opened #12279 "Copy fails on the inventory list"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Copy fa

[2022-05-24 18:52] dsim4 commented on #12082
I was just looking at these issues and I found for CVE-2020-1747:

Mitigation - Use `yaml.safe_load` or the SafeLoader loader when you parse untrusted input.

It would appear from looking at the latest version they are aware and mitigating this issue.

awx/main/management/commands/inventory_import.py:from awx.main.utils.safe_yaml import sanitize_jinja
awx/main/tasks/receptor.py:        data = yaml

[2022-05-25 02:10] GereG13 opened #12282 "Configuring AWX with Keycloak"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - Authentication

##### SUMMARY

Not able to get AWX to use SAML Authentication on Keycloak.

##### ENVIRONMENT
* AWX version: 6.0.0

##### STEPS TO REPRODUCE

Tried following this document: https://josh-tracy.github.io/Ansible_Tower_RedHatSSO/

##### EXPECTED RESULTS

I expected to get a login prompt from Keycloak where I can sign in.

##

[2022-05-25 07:55] nbttmbrg commented on #12194
@keithjgrant
Indeed, we are using the free strategy for this playbook

[2022-05-25 08:58] Tioborto commented on #12277
More informations from database about lock
![Screenshot 2022-05-25 at 10 55 54](https://user-images.githubusercontent.com/29703972/170223986-50bc3199-a0c5-4b13-b80f-52b7f7b5734e.png)

[2022-05-25 13:17] Haagy commented on #9594
Updated our AWX from version `19.1` to `21.0` and from dockerized installation to kubernetes on k3s a few days ago.
Haven't had this issue anymore since.

[2022-05-25 13:41] keithjgrant commented on #12194
Good to know. It's likely we'll have to disable expand/collapse for some strategies, since events from different tasks/plays can be interleaved and don't necessarily fit into a logical tree structure while still allowing output to show in order

[2022-05-25 14:54] SomniVertix opened #12441 "How to install/manage Dynamic Inventories through operator deployment"
##### ISSUE TYPE
 - Question / Concern

##### SUMMARY
We're looking to install Dynamic Inventories onto our AWX Operator and we're just not sure how that would work since, in the normal install, most of those have to be installed on the host itself. Not sure how to install Dynamic Inventories through the kubernetes operator. I don't see it documented anywhere, but please let me know if it is!

###

[2022-05-25 17:46] #12129 closed, assigned to nixocio, jay-steurer

[2022-05-26 01:34] yashvanthkumar94 opened #12286 "community.vmware.vmware_guest_instant_clone module is not able to create a VM clone"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Collection

##### SUMMARY

community.vmware.vmware_guest_instant_clone module is not able to create a VM clone on vcenter.

##### ENVIRONMENT
* AWX version: 3.8.5.1
* Ansible Tower: 3.8.5.1
* Ansible Version:  2.9.27
* Python version = 3.6.8
* AWX install method: production environment
* AWX deployment target: physical vm
* Operating System

[2022-05-26 01:38] yashvanthkumar94 commented on #12286
[Vmware clone playbook.txt](https://github.com/ansible/awx/files/8775548/Vmware.clone.playbook.txt)

[2022-05-26 17:15] #12279 closed, assigned to nixocio, jay-steurer

[2022-05-26 18:25] kdelee opened #12288 "RFE: Max concurrent forks/jobs on container group"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Right now ContainerGroups don't have any concept of capacity. They therefore are sinks for jobs if any container group is in the preferred instance group list when jobs are going through the task manager. This can cause problems of sending too many jobs to a container group. Even if you DO assign some kind of limit to pods in a namespace and kuberne

[2022-05-26 18:34] AlanCoding commented on #11484
I have not been able to produce this by running a playbook that does `command: sleep 700`, with the global idle timeout set to 600, it times out, without that set, the job will be successful. Testing with shorter time frames, I can't confirm any bug with the pause module either.

[2022-05-26 19:42] felipe4334 commented on #11484
@AlanCoding what are you running awx on? Because the bug I experience is the kubernetes pod running the job gets terminated after 5 minutes of idle time.

[2022-05-26 21:41] jmhbnz opened #12290 "Missing timestamps in awx job log download"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When I

[2022-05-27 03:20] golimix commented on #8164
api first program design not work well with the django model first

you can use the [swagger.yaml](https://github.com/go-limix/awx-client/blob/adf61f4e2171272be9235b5e7969734f8f706583/api/swagger.yaml)

[2022-05-27 12:42] auroraqin commented on #11518
Hi @craph, I met the same issue on my awx 19.5.1, may I know how your run the project sync in the container directly?

[2022-05-27 12:47] auroraqin commented on #11613
Hi @TheOnion7, @nixocio, I'm using AWX 19.5.1 on Openshift and met the same issue, do we have any other solution to fix the issue besides of disable falcon-sensor.service? Since I don't have permission to do that and we are not allowed to disable security.

[2022-05-27 14:28] #12168 closed, assigned to nobody

[2022-05-27 21:08] TheOnion7 commented on #11613
@auroraqin , unfortunately, from what I've seen , I never found any other way to fix the issue. It was an issue that I encountered with my last job, I changed job since that time. But I know that we opened a ticket with Crowdstrike about that issue.

Very sorry about that but I think the best way would be to open a ticket with Crowsdstrike and see what they can do. @nixocio heard that Crowdstrike

[2022-05-28 14:56] monitoritoprod commented on #11174
@benoittgt not that I know.

[2022-05-30 08:50] Haagy opened #12293 "AWX Project ignoring branch specification when tracking submodules"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I separ

[2022-05-30 16:08] Tioborto commented on #12277
@AlanCoding  or @keithjgrant, maybe, do you have any idea ? please

[2022-05-30 17:45] 06seasparkle commented on #7881
We built version 21.0.0 from scratch and I'm trying to migrate teams,credentials from our current AWX 12.0.0 version.
The awx import command works, but when I check from the GUI, I don't see teams or credentials.

[2022-05-30 18:16] jbradberry commented on #7881
@06seasparkle it would be a good idea to take this to the mailing list (https://groups.google.com/g/awx-project), rather than comment on a closed issue.  Be prepared to show the commands you are using and provide a redacted copy of the export file.

[2022-05-30 18:50] 06seasparkle commented on #7881
Hi ,

İ can not send message at awx-project group,can you help us ?

From: Jeff Bradberry ***@***.***>
Sent: 30 Mayıs 2022 Pazartesi 21:16
To: ansible/awx ***@***.***>
Cc: HULYA KAYIKCI ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL]:Re: [ansible/awx] AWXKit export/import - Job Template Credentials (#7881)

@06seasparkle<https://ddei5-0-ctp.trendmicro.com:443/wis/clicktime/v1/query?url=http

[2022-05-30 21:05] chris93111 commented on #12087
@keithjgrant [keithjgrant](https://github.com/keithjgrant) do you have news about this issue ?

[2022-05-30 21:19] chris93111 commented on #11987
@lyutian Hi , i not inderstand is not a problem with the EE, the problem is in UI, the display status is wrong

[2022-05-31 09:56] rupadhy3 opened #12294 "Add support for AWX Org/Team/Superuser mapping via github enterprize team names"
We have to limit this because of limited volunteer time to respond to issues! -->

##### ISSUE TYPE
 - Add support for AWX Org/Team/Superuser mapping via github enterprize team names

##### SUMMARY
Currently AWX Org/Team mapping via GitHub enterprise is done using individual GitHub enterprise team members or GitHub enterprise Org members.
Can the GitHub enterprise teams be directly mapped to an AW

[2022-05-31 10:47] sooslaca commented on #12194
hi @keithjgrant
I'm unsure of the explicit strategy we use, but here is the playbook sniplet from the top:
[code]

[2022-05-31 12:25] AlanCoding opened #12296 "The API should translate `job_explanation` field"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

There w

[2022-05-31 12:37] ybucci opened #12297 "Job error without log"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Job fin

[2022-05-31 14:19] kdelee commented on #12171
for ideas on how to do option # 2 see https://github.com/ansible/awx/pull/12235

[2022-05-31 15:39] Tioborto commented on #12297
Same for us

[2022-05-31 15:41] Tioborto commented on #12177
@rebeccahhh any news please ?

[2022-05-31 18:02] kdelee opened #12299 "[Metrics&Observability] Surface DB connections in /api/v2/metrics"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Surface the number of database connections awx is making to roll more of the data administrators need to track into /api/v2/metrics

Users can track this now by creating some kind of exporter that directly queries PG, but this is in general hacky and not portable. We know if we exceed the max connections that things start to go bad, so it is a best

[2022-05-31 18:02] kdelee commented on #12299
@jainnikhil30 expressed interest in doing this

[2022-05-31 20:35] AlanCoding commented on #12103
I went and developed this proof of concept of the idea:

https://github.com/ansible/awx/compare/devel...AlanCoding:ipc_done?expand=1

I'm liking this idea more and more, however, it's still incomplete. It needs to handle that case where events are lost. In the current branch, it will wait forever for events to come in, and that's not what we want.

I can propose solutions... but it starts to get v

[2022-06-01 08:12] tomvil commented on #10194
We're experiencing the same problem. In our use case, we spotted that bigger inventories cause this problem, but probably not only that.

- **The problem (in our use case):**

`https://awx.example.com/api/v2/jobs/207/job_events/?order_by=start_line&no_truncate=True&start_line__gte=875` returns, let's say, 50 results per page. All those results have the same `start_line` and `end_line` (`start_line

[2022-06-01 08:18] tomvil commented on #10194
We're experiencing the same problem. In our use case, we spotted that bigger inventories cause this problem, but probably not only that.

- **The problem (in our use case):**

`https://awx.example.com/api/v2/jobs/207/job_events/?order_by=start_line&no_truncate=True&start_line__gte=875` returns, let's say, 50 results per page. All those results have the same `start_line` and `end_line` (`start_line

[2022-06-01 08:23] anxstj commented on #11715
I experience similar errors on my AWX node:

[code]
And the corresponding PostgreSQL logs (might not the exact corresponding message, but it's similar):
[code]

I'm running AWX 20.1.0 with local docker and an external database.

I see the error `ERROR:  no partition of relation "main_projectupdateevent" found for row` every hour to the full hour and the error `ERROR:  no partition of relation "mai

[2022-06-01 08:36] mtrin commented on #10843
I second this one

[2022-06-01 08:55] xxharjinder commented on #6213
I am having the same issue `distutils.errors.DistutilsFileError: cannot copy tree '/var/lib/awx/projects/playbooks': not a directory`. this is my deploy.yaml
[code]
Please help how do I fix this?

[2022-06-01 09:02] xxharjinder commented on #6213
can you please share your deploy.yml @SergiuSofroni

[2022-06-01 10:36] dberardo-com opened #12304 "AWX on windows"
before version 18, which introduced a breaking change in the installation, i was able to install AWX on windows using docker compose and a ansible/cygwin terminal. Now things got harder. Is there a way to install AWX using ansible like in the old days?

here for reference https://github.com/ansible/awx/blob/18.0.0/tools/docker-compose/README.md:

The Kubernetes installer has been removed in favor

[2022-06-01 12:14] 06seasparkle commented on #6499
Hi ,

How can I pull the table with the user and their roles on postgresql query?
Can you help us ?

[2022-06-01 12:48] 06seasparkle commented on #12109
Hi

Is there a schema where I can get the user and their roles on postgresql db?

[2022-06-01 12:57] anxstj commented on #11715
I just recognized that an insert statement might contain events from multiple jobs. In my case, a sliced job is affected, too, that started one hour before the "broken" scheduled job started. But as soon as the "broken" scheduled job started, the sliced job has missing events, too.

I'm wondering if this is related to https://github.com/ansible/awx/issues/12194.

[2022-06-01 13:23] AlanCoding commented on #11715
The version 20.1.0 is old, and the latest fix landed on April 5. I suspect you don't have that, and upgrading should affect what you're seeing.

[2022-06-01 14:54] prumand commented on #6030
I know this is was closed on Feb, but I just wanted to add, why I would like that too:

1. it works when you run it via cli `ansible-playbook -e 'extra-vars-with-yml-or-json'`. I thought awx should work the same way.
2. We deploy applications with awx and some secrets seems to be fitting into the application repo, not the inventory repo. That's why we pass those secrets via jenkins to the awx-job.

[2022-06-01 15:02] AlanCoding commented on #11484
This issue is "Default Job Idle Timeout not working", getting terminated by OCP after 5 minutes of idleness is kind of a different thing. I put up https://github.com/ansible/awx/pull/12289 to adjust the help text, and I see that mixed messages might be confusing the issue.

I kicked off a job to see if I can reproduce.

[2022-06-01 15:15] AlanCoding commented on #11484
Right now I don't seem to be able to reproduce this, as container group jobs can sleep for 10 minutes or so without problem. Nothing in the pod spec jumps out to me as related either.

[2022-06-01 17:01] InnocentK commented on #11999
Resolved

[2022-06-01 17:01] #11999 closed, assigned to kialam, InnocentK

[2022-06-01 17:55] titus-anromedonn commented on #9785
I ran into the same issue on Centos 7. After trying a bunch of things I upgraded my kernel to `5.4.196` and things started to work.

The original one installed was really old (`3.10.0`). After doing some digging it appears that the older kernel may not have supported the user clone syscall.

[2022-06-01 18:16] AlanCoding commented on #10337
I believe this would address what happened here as well https://github.com/ansible/awx/issues/12176

Would also address slow host deletions described in https://github.com/ansible/awx/issues/12277... probably

I think I filed a duplicate issue with this, I'm looking for it.

[2022-06-01 18:18] AlanCoding commented on #10337
I wrote down some notes on the error related to this at https://gist.github.com/AlanCoding/b9919c1b1ebbb9ee6b5be2a584362200

[2022-06-01 18:27] AlanCoding commented on #12277
It's known behavior that deleting hosts can take a long time (or even [error](https://github.com/ansible/awx/issues/12176)) due to the related job host summaries, as well as related events. The host summaries give the status of a host at the end of a playbook (think failed/successful/ok counts), and events link task results inside of a playbook to the host. However, 150 seconds per host is truly e

[2022-06-01 18:44] 06seasparkle opened #12310 "create table with AWX users and their roles"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[2022-06-01 18:45] 06seasparkle commented on #12310
Hi ,

Hi ,

How can I pull the table with the user and their roles on postgresql query on Ansible AWx 21.0.0?
Can you help us ?

[2022-06-01 19:15] aditki commented on #11564
@bjoydeep

Can you share the rationale behind that?

[2022-06-01 20:07] Vi-Robitaille commented on #12273
I am seeing the same exact issue, We just deployed to minikube using the latest branch and install instructions
For us each job exec is using ~10 gigs of space and I'm seeing tons of containers being retained.

Also for some reason the azure python package is in the awx-ee eating up over 500mb of space, this is kinda odd... I'm not sure why this would be included by default.

[2022-06-01 21:36] hesmithrh commented on #12130
potential related issues:

- [ ] #1084
- [ ] #2685
- [ ] #9791
- [ ] #9792
- [ ] #5951
- [ ] #5952
- [ ] #5995
- [ ] #11596
- [ ] #5993

[2022-06-01 21:44] jbouse opened #12311 "Hashicorp Vault Signed SSH credentials not working in 21.0.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Unable

[2022-06-02 06:08] tmanninger commented on #12311
That's a known issue:
https://github.com/ansible/awx/issues/12177#issuecomment-1142301046

[2022-06-02 09:31] adpavlov commented on #12297
+1 in awx_task log just:

and nothing in stdout

[2022-06-02 09:44] Tioborto commented on #12311
Hello @jbouse,
This behaviour will be fixed with the next release. I made a test with the devel image (https://github.com/ansible/awx/pull/12122) and all work fine for this auth method.

[2022-06-02 10:04] adpavlov commented on #11805
exactly same issue

[2022-06-02 12:34] meis4h commented on #11805
can confirm that this also happens on RedHat Ansible Automation Platform 2.1 on OpenShift 4.8

[2022-06-02 12:47] adpavlov commented on #11805
Have you opened a case to RedHat?

[2022-06-02 12:48] meis4h commented on #11805
yes but no news yet

[2022-06-02 12:56] adpavlov commented on #11805
Okay, could you please keep us posted on this case status? Also there should be SLA for paid subscription. Issue is quite critical as for me.

[2022-06-02 13:02] AlexSCorey commented on #8097
Moving this to on deck because it seems fairly straight forward

[2022-06-02 13:04] meis4h commented on #11805
Will do.
In the meantime we could largely work around the issue by splitting the job into multiple separate jobs connected via workflow.

[2022-06-02 13:09] kiril18 commented on #11805
I got a similar problem today, after four hours the task fell.

[2022-06-02 13:15] adpavlov commented on #11805
For my installation I don't believe it's k3s related as I have a 500 Mb limit for logs. More than that I don't even see log files created under /var/log/pods/, just empty folders.

Also I'm using custom EE built with ansible 2.9 as suggested in some @AlanCoding repo, so I believe the issue is not related to ansible-runner, but related to awx-task that seems like have some timeout for waiting outpu

[2022-06-02 13:25] AlexSCorey commented on #12070
@Laozey go for it.  Let us know if you get stuck.

[2022-06-02 14:31] jbouse commented on #12311
@Tioborto thanks... I was looking through the code trying to find the breakage and never found that. Glad it was an easy fix. Any ETA by chance on the release?

[2022-06-02 17:03] AlanCoding commented on #12206
@fosterseth I saw this was marked as in-progress, are you working on it?

[2022-06-02 17:42] nixocio commented on #12311
@jbouse https://github.com/ansible/awx/releases/tag/21.1.0
Please, can you inform if the issue was fixed?

[2022-06-02 17:51] jbouse commented on #12311
@nixocio let me update my deployment and validate.

[2022-06-02 18:32] jbouse commented on #12311
@nixocio Yes, the 21.1.0 image is handling the signed SSH certificate properly now as it did in 20.1.0. I am however seeing an issue now when I launch a job that I'm getting thrown the "Something went wrong..." screen while trying to watch the running job. After the job has been completed, I can open up the output but not while it is running. Unsure if this is related to the new image or not yet.

[2022-06-02 18:43] jbouse commented on #12311
@nixocio disregard the error... Turns out my browser must have had a bad cache as restarting the browser and re-logging in everything worked fine.

[2022-06-02 18:54] nixocio commented on #12311
@jbouse , thanks for your update. I will close this issue then.

[2022-06-02 18:54] #12311 closed, assigned to nobody

[2022-06-02 19:10] AlexSCorey commented on #10503
Whoever picks this up reach out to UXD and/or patternfly to flesh out the ideas of updating modals.

[2022-06-02 19:11] AlexSCorey commented on #11629
@keithjgrant please itemize your ideas and create smaller issues where appropriate.

[2022-06-02 19:11] AlexSCorey commented on #11629
@keithjgrant please itemize your ideas and create smaller issues where appropriate.

[2022-06-02 19:17] adpavlov commented on #12288
Limiting parallel jobs run levels out automation and ansible ideology.
I would state that It's real and dramatic degradation in performance comparing to AWX 15 and docker architecture.

Following my initially created issue #12088, I proceeded testing and experiencing very slow behavior. In my case few parallel jobs are running quite fast and fine.
However, if I need to launch more than 10 parallel

[2022-06-02 19:41] InnocentK commented on #9363
Resolved

[2022-06-02 19:41] #9363 closed, assigned to nixocio, InnocentK

[2022-06-02 19:42] InnocentK commented on #3348
Related to the work in https://github.com/ansible/awx/issues/9363

[2022-06-02 19:42] InnocentK commented on #3348
Resolved

[2022-06-02 19:42] #3348 closed, assigned to nixocio, InnocentK

[2022-06-02 23:10] #12282 closed, assigned to nobody

[2022-06-03 05:24] Shivu1434 commented on #6792
TASK [local_docker : Check for existing Postgres data (run from inside the container for access to file)] ***********************************************************************************************************************************
task path: /root/awx/installer/roles/local_docker/tasks/upgrade_postgres.yml:16
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "docker run --rm -v '/var/

[2022-06-03 05:27] Shivu1434 commented on #6792
I'm facing above mentioned issue while running
 ansible-playbook -i inventory install.yml   file

[2022-06-03 09:44] fferraro87 opened #12316 "LDAPS with CA self signed not working"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Like al

[2022-06-03 09:51] Tioborto commented on #12277
Hello @AlanCoding ,
Already a big thank you for responding to this issue.

When I go to see the number of events for this inventory, on the endpoint you provide, it is `17822`.
For this inventory, each job is day on about 7000 hosts. For information, it is about updating the configuration of network equipment, so we are constantly moving.

Indeed, during this blocking, each new job arriving is blo

[2022-06-03 11:59] #12132 closed, assigned to nixocio, jay-steurer

[2022-06-03 12:16] #11196 closed, assigned to nixocio, jay-steurer

[2022-06-03 12:51] #11811 closed, assigned to fosterseth

[2022-06-03 13:58] nixocio commented on #10476
This issue is no longer valid.

![image](https://user-images.githubusercontent.com/9053044/171868802-49b27f2d-9cc9-4e3b-90c5-afc24af94cb4.png)

[2022-06-03 14:00] #10476 closed, assigned to AlexSCorey

[2022-06-03 14:01] #11866 closed, assigned to InnocentK, AlexSCorey

[2022-06-03 15:01] samibinsami opened #12319 "Tower rest api job_templates launch endpoint is not working"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I have

[2022-06-03 15:50] Tioborto commented on #11831
Hello @chris93111 ,
Sorry to reopen this issue but we have the same issue from our side.
What and where do you set this settings ?

[2022-06-03 16:56] HolmfryWrk commented on #9165
I'm still having the openstack plugin issues on awx 21
failed to parse /runner/inventory/openstack.yml with auto plugin region

[2022-06-03 16:58] HolmfryWrk commented on #10043
I apologize -is this issue fixed or no?  I'm still getting the openstack inventory issue with awx 21, latest -ee

failed to parse /runner/inventory/openstack.yml with auto plugin: 'region'.  Whether region is populated or not in the credential.

[2022-06-03 17:01] halfbaked opened #12321 "docker build fails"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I have

[2022-06-03 17:10] nixocio commented on #11966
Hello, your question seems like a good one to ask on our mailing list at https://groups.google.com/g/awx-project. You can also join #ansible-awx on https://libera.chat/ and ask your question there.

[2022-06-03 17:10] #11966 closed, assigned to nobody

[2022-06-03 17:15] nixocio commented on #12076
Hello, your question seems like a good one to ask on our mailing list at https://groups.google.com/g/awx-project. You can also join #ansible-awx on https://libera.chat/ and ask your question there.

[2022-06-03 17:15] #12076 closed, assigned to nobody

[2022-06-03 17:21] nixocio commented on #12113
Hello, this issue pertains to an older version of AWX. Try upgrading to the latest version and see if that resolves your issue.

[2022-06-03 17:21] #12113 closed, assigned to nobody

[2022-06-03 17:25] nixocio commented on #12190
Closing as dupe of https://github.com/ansible/awx-operator/issues/905

[2022-06-03 17:25] #12190 closed, assigned to nobody

[2022-06-03 17:27] nixocio commented on #12192
Hello, your question seems like a good one to ask on our mailing list at https://groups.google.com/g/awx-project. You can also join #ansible-awx on https://libera.chat/ and ask your question there.

[2022-06-03 17:27] #12192 closed, assigned to nobody

[2022-06-03 17:28] nixocio commented on #12193
Hello, this issue pertains to an older version of AWX. Try upgrading to the latest version and see if that resolves your issue.

[2022-06-03 17:28] #12193 closed, assigned to nobody

[2022-06-03 17:44] nixocio commented on #12304
Hello, your question seems like a good one to ask on our mailing list at https://groups.google.com/g/awx-project. You can also join #ansible-awx on https://libera.chat/ and ask your question there.

[2022-06-03 17:44] #12304 closed, assigned to nobody

[2022-06-03 17:45] nixocio commented on #12310
Hello, your question seems like a good one to ask on our mailing list at https://groups.google.com/g/awx-project. You can also join #ansible-awx on https://libera.chat/ and ask your question there.

[2022-06-03 17:45] #12310 closed, assigned to nobody

[2022-06-03 18:04] kialam commented on #12319
The screenshot you provided is for job template details and not the launch endpoint. Sending a POST will return a 201 if successful to `/api/v2/job_templates/{id}/launch/`

![Screen Shot 2022-06-03 at 11 02 30 AM](https://user-images.githubusercontent.com/2293210/171921030-afdff0b3-a493-456b-abf2-9980a1173e31.png)

[2022-06-03 18:04] #12319 closed, assigned to kialam

[2022-06-03 19:09] samibinsami commented on #12319
Agree

[2022-06-03 20:58] chris93111 commented on #11831
Hi @Tioborto  is in saml configuration of awx

SAML User Flags Attribute Mapping

[2022-06-05 16:59] MalfuncEddie commented on #12316
I think you can "resolve" this by setting the following env var in the operator config

LDAPTLS_REQCERT=never

[code]

[2022-06-06 09:20] Tompage1994 opened #12324 "awx.awx collection: webhook_credential for workflows does not properly work"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When us

[2022-06-06 10:53] Cl0udius opened #12326 "Jobs get marked as failed shortly after AWX Pod was restarted"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When ex

[2022-06-06 14:37] shanemcd commented on #12326
This is unfortunately a known limitation.

Every job has a "controller" - one of the AWX control plane pods. This controller handles launching job pods, receiving events, processing them, and eventually persisting them to the database.

Each control plane pod has its own sidecar redis container that is used as a buffer for job events that are being emitted. This data lives entirely in memory. If y

[2022-06-06 16:37] latheefp commented on #2495
any fix for this issue? i am facing the same issue on   Ansible Automation Platform Controller 4.1.0

[2022-06-06 19:39] nixocio opened #12334 "Selecting management jobs as non system admin raises error as node type"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Selecti

[2022-06-06 20:58] InnocentK commented on #11975
This has been addressed by https://github.com/ansible/awx/pull/12229

[2022-06-06 20:58] #11975 closed, assigned to InnocentK

[2022-06-07 07:20] Cl0udius commented on #12326
Hi.
Thanks a lot for clarification. I will look into the issues to get some updates on the possible solutions.

[2022-06-07 11:02] d-rupp opened #12336 "Set browser timezone as default when creating a schedule"
##### ISSUE TYPE
It would be great if when you add a new schedule for a template that the default initial timezone would be the users browser timezone (or something similar related to the user) and not the default "America/New_York".

##### SUMMARY
When you create a new schedule it shows your own timezone instead of the default "America/New_York" one.

The default is set here: https://github.com/a

[2022-06-07 11:20] MichaelPak opened #12337 "Return autocomplete in multiplechoice input in survey"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The old version of the AWX had autocomplete in `select` component:
<img width="500" alt="old-single" src="https://user-images.githubusercontent.com/1166992/172366875-0c582d75-91fa-40ac-af1a-443f4936b5d5.png">

But in the new version this feature is working only for multiselect:
<img width="700" alt="new-multi" src="https://user-images.githubusercont

[2022-06-07 12:57] MichaelPak commented on #12337
Duplicated:
* https://github.com/ansible/awx/issues/12010
* https://github.com/ansible/awx/issues/8097

Pull request: https://github.com/ansible/awx/pull/12332

[2022-06-07 12:57] #12337 closed, assigned to nobody

[2022-06-07 13:44] jangel97 opened #12339 "Command podman-run options customisable from job_template view"
Hi,

At this very moment it is only possible to customize the podman-run command parameters via few global settings. It would be cool to be able to modify it via job template view. Some parameters like Environment vars, volumes mounted into the EEs (and others), would be cool if they could be set at the job template level.

For example, in Kubernetes, the workloads (pods) that run across the execu

[2022-06-07 15:28] nixocio commented on #12334
See: https://github.com/ansible/awx/pull/10572

[2022-06-07 17:41] hesmithrh commented on #11987
@jbradberry and @nixocio can you all verify API and UI sides (or get others to help)

[2022-06-07 17:44] djyasin commented on #11987
@djyasin  tagging myself in this one- Seems like a great pair programming opportunity!

[2022-06-07 19:00] Gratizzz commented on #1284
Is it on the roadmap? Really need this feature as well.

[2022-06-07 19:34] #10192 closed, assigned to kialam, jay-steurer

[2022-06-08 07:24] cmatsis commented on #11805
Same issue on AWX: 21.0.0 running on K3S v1.23.6 :(
any workaround to this problem?

[2022-06-08 09:37] noesberger opened #12342 "Project Sync is not updating to the latest version"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I chang

[2022-06-08 10:07] noesberger commented on #12342
Sorry, was a proxy issue on our side.

[2022-06-08 10:07] #12342 closed, assigned to nobody

[2022-06-08 11:03] mick1627 opened #12343 "job failed with zipfile.BadZipFile: File is not a zip file error from time to time"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

From ti

[2022-06-08 12:31] sevko21 opened #12345 "Failed to parse /runner/inventory/foreman.yml with auto plugin: HTTPSConnectionPool(host='xxxxxxxt', port=443): Max retries exceeded with url: /api/v2/status?page=1&per_page=250 (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1131)')))"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
[WARNING]:  * Failed to parse /runner/inventory/foreman.yml with auto plugin:
HTTPSConnectionPool(host='xxxxxxxt', port=443): Max retries
exceeded with url: /api/v2/status?page=1&per_page=250 (Caused by
SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED]
certificate verify failed: self signed certificate in certificate chain
(_ssl.c:

[2022-06-08 12:41] AlanCoding commented on #10337
I keep failing to accurately search for this issue, because the exact syntax of models.DO_NOTHING was not used. Hopefully that is resolved now.

edit: DO_NOTHING

[2022-06-08 12:59] AlanCoding commented on #12277
To clarify by rewording, there were 17822 jobs ran against that inventory? That is a lot, and with the volume you're working with it may not be as surprising as I had thought to see such long deletion times.

We have been giving additional consideration to https://github.com/ansible/awx/issues/10337 lately, because there is pretty good confidence that it would address several reports related to in