[2020-03-23 22:34] #6372 closed, assigned to nobody

[2020-03-23 23:23] jakemcdermott commented on #5265
#5582

[2020-03-24 00:44] #6324 closed, assigned to nobody

[2020-03-24 07:51] Bobbobboe commented on #6376
I thought it was a RabbitMQ problem but when I asked on IRC they told me RabbitMQ was no longer a dependency. So just to confirm RabbitMQ is still needed?

[2020-03-24 11:24] tonytwostep opened #6391 "Failed to save settings. Returned status: 504"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Can't save any system settings after using the lastest installer. Results in a long wait and then 504 error. Reproduced this issue on CentOS 8 and Ubuntu 18.04.

##### ENVIRONMENT
* AWX version: AWX 9.3.0
* AWX install method: docker on linux
* Ansible version: 2.9.5
* Operating System: Ubuntu and CentOS 8
* Web Bro

[2020-03-24 12:00] ryanpetrello commented on #6376
Hey @Bobbobboe,

We are in fact removing RabbitMQ in the next major version of AWX (which is not _yet_ released, but likely will be in the coming week or so).

These issues you're encountering troubleshooting RabbitMQ are a good example of why we intend to move away from it :)

More details at: https://github.com/ansible/awx/issues/5443

[2020-03-24 12:10] JGRFenix opened #6392 "Websocket can't connect after upgrading to 9.3"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Recently we ecountered an issue where the logs for the container awx_web was reporting a permission denied when ever we submitted an API request. I fixed this by upgrading to the latest version of AWX (https://github.com/ansible/awx/blob/devel/INSTALL.md#upgrading-from-previous-versions) since doing this upgrade we get this error in both Firefox and Ch

[2020-03-24 12:25] ryanpetrello opened #6393 "Update to the latest pyyaml to address CVE-2017-18342"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We need to upgrade to a newer pyyaml to address CVE-2017-18342 (though, to my knowledge, we're _already using_ `safe_load()` appropriately everywhere, so this upgrade is really just to tick a box).

Unfortunately, the currently released version of `openshift` relies on a `kubernetes` version that pins to an older version of `pyyaml`:

https://github.co

[2020-03-24 12:33] ryanpetrello commented on #6393
Filed an issue in the `openshift` client library repo:

https://github.com/openshift/openshift-restclient-python/issues/357

[2020-03-24 13:00] artmakh commented on #6342
@fantashley thanks, that hellped!

So the problem was that i specified exact folder of venv, not a folder with venv subfolders in it.
Looks like i was mislead by possitive answer of this API

`
curl -X PATCH 'https://admin:mypass@myurl/api/v2/settings/system/' \ -d '{"CUSTOM_VENV_PATHS": ["/opt/custom-venvs/my_env/"]}' -H 'Content-Type:application/json'
`.

[2020-03-24 13:05] unlikelyzero opened #6395 "test epic 2"

[2020-03-24 13:15] #6342 closed, assigned to nobody

[2020-03-24 13:30] unlikelyzero opened #6396 "test epic ignore"

[2020-03-24 13:32] unlikelyzero opened #6397 "test epic 1"

[2020-03-24 13:34] #6396 closed, assigned to nobody

[2020-03-24 13:41] unlikelyzero commented on #4227
@dsesami needs test stubs PR

[2020-03-24 13:52] unlikelyzero commented on #5777
@dsesami can you add your test stubs to this PR

[2020-03-24 15:08] unlikelyzero commented on #2032
Note there is a similar request here https://github.com/ansible/awx/issues/5824

[2020-03-24 15:18] dsesami opened #6398 "Password field validation works incorrectly on user add form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![Screenshot from 2020-03-24 11-12-42](https://user-images.githubusercontent.com/19942822/77442272-b1103800-6dc0-11ea-85e1-a4bfec8ff91f.png)

##### STEPS TO REPRODUCE
1. Make a user with all normal fields, but make the first name > 30 characters
2. Save (should fail and show error about > 30 character limit)
3. Clear the long first name with backspace.

[2020-03-24 15:58] #5895 closed, assigned to dsesami, AlexSCorey

[2020-03-24 16:11] ryanpetrello commented on #5145
Latest, after a few merges we recently got in:

[code]

In progress:
WF: https://github.com/ansible/awx/pull/6291
JT: https://github.com/ansible/awx/pull/6353

cc @beeankha @AlanCoding @john-westcott-iv in case there's anything you're aware of that I'm not.

[2020-03-24 16:43] mpetrive-rh opened #6400 "RFE: With SAML auth, do not create users with random username suffix/hash"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If a user has authenticated through another external mechanism such as LDAP, a SAML IdP initiated login for the same user results in a new user created with a random suffix hash.

For example if LDAP auth is configured and a user `bob.test` is authenticated via LDAP that user account is created.  If SAML auth is also configured where the username `bo

[2020-03-24 17:18] unlikelyzero opened #6401 "test epic 3"

[2020-03-24 17:25] #6230 closed, assigned to jakemcdermott, unlikelyzero

[2020-03-24 17:50] mrmibrown opened #6402 "Add the ability to select multiple days with monthly repeat frequency in the JT scheduler"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
"We need to schedule a template to run automatically five days every month. We need to know how to do this without having to create 5 different schedules, one for each day. "

[2020-03-24 17:57] stoleas commented on #6400
I found a way to get around this is by creating the users prior to the user's first login which avoids the duplicated hash. By creating the user you can also force the username to a value that is relevant rather than a hashed value. This also works for other user objects like password so that the same user doesn't try to bypass SAML login by logging in with their LDAP creds.

At scale, my suggesti

[2020-03-24 18:52] AlanCoding commented on #5824
I'm going to close this as a duplicate of https://github.com/ansible/awx/issues/2032, because it does say the same thing, and there's more history there.

[2020-03-24 18:52] #5824 closed, assigned to nobody

[2020-03-24 18:57] AlanCoding commented on #2032
Status update: merging https://github.com/ansible/awx/pull/6291 for adding the `identifier` field, which does something like this, but targeted toward API clients / the CLI / the Ansible modules.

As a UI request, this still stands.

I would encourage the UI to leverage the `identifier` field, but the auto-generation of UUIDs when it's blank could give it some challenges (which gets parity between

[2020-03-24 20:19] wenottingham commented on #6402
Schedules are based on recurrence rules (https://icalendar.org/iCalendar-RFC-5545/3-8-5-3-recurrence-rule.html) - if this can be expressed as that, it may be doable.

[2020-03-24 20:20] ryanpetrello commented on #6402
I'm certain there's some way to accomplish this with rrule, but I suspect that if you set something like this up, the UI probably wouldn't know how to handle it properly.

[2020-03-24 21:03] saali2016 opened #6406 "Request API endpoint to query single instance of /ping"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
currently when we query /api/v2/ping/ we get the health-check for all the instances in the cluster we need is way to query he API and only display the information of that instance.
e.g
[code]

[2020-03-24 21:05] ryanpetrello commented on #6406
In a load-balanced environment, or an environment behind a proxy, there's not really any way to *know* this information.

[2020-03-25 00:07] AlanCoding commented on #5193
regressed

[2020-03-25 09:03] thibveni commented on #6392
i have the same issue, on the same environment

here is the error on the container

[code]

[2020-03-25 09:41] nwerker commented on #1731
+1 for global overrides, for example for credentials and also instance groups on the workflow launch

This would make workflows so much more versatile!

[2020-03-25 10:07] hafager commented on #6391
I experience the same issue on CentOS 8 as well.

Changed version to 9.2.0 and it works like a charm.

[2020-03-25 10:12] JGRFenix commented on #6392
Hi,

I've managed to fix this issue on my enviroment I miss read the upgrade guide and was pulling from git rather than https://github.com/ansible/awx/releases

using the latest release works fine now,

Thanks,

JR

[2020-03-25 10:12] #6392 closed, assigned to nobody

[2020-03-25 11:15] lloydwilke commented on #20
I would also like to see this feature added as we are building plays with options based on the different roles and would ensure the user doesnt skip a field that needs to be completed

[2020-03-25 11:53] ryanpetrello commented on #5289
Closing this issue, as we're removing AWX's usage of RabbitMQ entirely (see: https://github.com/ansible/awx/issues/5443)

[2020-03-25 11:53] #5289 closed, assigned to nobody

[2020-03-25 11:54] ryanpetrello commented on #2086
Closing this issue, as we're removing AWX's usage of RabbitMQ entirely (see: https://github.com/ansible/awx/issues/5443)

[2020-03-25 11:54] #2086 closed, assigned to nobody

[2020-03-25 11:55] ryanpetrello commented on #758
Closing this issue, as we're removing AWX's usage of RabbitMQ entirely (see: https://github.com/ansible/awx/issues/5443)

[2020-03-25 11:55] #758 closed, assigned to nobody

[2020-03-25 11:57] ryanpetrello commented on #2892
Closing due to age.

[2020-03-25 11:57] #2892 closed, assigned to nobody

[2020-03-25 12:14] rh-tchuang commented on #6298
Hi, the string has been fixed in Memsource, it will be carried over in the next version.
Cheers.

[2020-03-25 12:21] ryanpetrello commented on #6298
Thanks @rh-tchuang!

[2020-03-25 13:27] francisbangi opened #6411 "Internal Server Error - Awx 9.3.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Getting an Internal Server Error in the web browser

##### ENVIRONMENT
AWX version: 9.3.0
AWX install method: docker on linux
Ansible version: 2.9.6
Operating System: Centos 8
Web Browser: Firefox

##### STEPS TO REPRODUCE

[root@localhost installer]# docker ps
CONTAINER ID        IMAGE                    COMMAND                  CREATED             ST

[2020-03-25 13:30] ryanpetrello commented on #6411
You're using the 9.3.0 image, but you're deploying from `devel` (which is where the just-merged redis implementation lives).

see: https://github.com/ansible/awx/issues/6392#issuecomment-603755495

Your options are:

- Clone the 9.3.0 tag instead of `devel`: https://github.com/ansible/awx/releases/tag/9.3.0
- If you want to use `devel`, use your own image until the next major version of AWX is rel

[2020-03-25 13:30] #6411 closed, assigned to nobody

[2020-03-25 13:36] jakemcdermott opened #6412 "Global toggle for schedules, notifications, etc."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
As an admin of several well-loved towers and awx instances used by people to do work in the past, I've often wished for a simple way to turn off all notifications and/or scheduled jobs globally.

Example scenarios:

- A job or workflow has started unexpectedly failing and I want to debug the playbooks in production. To avoid spamming the team's slack

[2020-03-25 13:52] dsesami opened #6413 "Project Job Templates tab shouldn't allow creation of WFJTs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Not necessarily a bug, but just "too much functionality". When adding a Job Template within the context of the Project page, it automatically associates the project with the JT. This makes sense. However, the add button also allows you to create workflows, which doesn't make a lot of sense because they aren't associated with a single project:

![Screen

[2020-03-25 13:52] jakemcdermott commented on #6412
Note: If this gets put on the roadmap for some release, I would be happy to do it. lmk

[2020-03-25 14:21] dsesami commented on #4959
Closing this out; the wrapping issue has been addressed with https://github.com/ansible/awx/pull/6348

[2020-03-25 14:21] #4959 closed, assigned to jlmitch5, mabashian, dsesami

[2020-03-25 14:31] jakemcdermott commented on #6402
One way would be for us to add multiple "On the..." 's for schedules that have a monthly frequency:

![Screenshot from 2020-03-25 10-30-14](https://user-images.githubusercontent.com/9753817/77547589-c4380c00-6e83-11ea-80e7-f071dcf7d37d.png)

[2020-03-25 15:06] marshmalien opened #6414 "Swap custom Toggles with PF Toggle Button Group"
##### SUMMARY
When PatternFly's toggle button group lands we should swap our custom button toggles for their component.

PatternFly Toggle Button issue: https://github.com/patternfly/patternfly/issues/2625
PF React Feature request: https://github.com/patternfly/patternfly-react/issues/3847

_Variables toggle_
<img width="115" alt="Screen Shot 2020-03-25 at 11 03 09 AM" src="https://user-images.git

[2020-03-25 15:15] jul13nc opened #6415 "No tower instance group at installation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I just installed a new environment awx. I tried to add a project, but the load task stayed forever in the state "not started'.
I checked around, and I saw there is no "tower" instance group configured. I tried to add one named tower, but this didn't work.

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker on linux
* Ansible version:

[2020-03-25 15:19] jakemcdermott commented on #6413
This is simple enough to fix in ui_next. I'm not convinced it is worth it to fix it in the old ui.

[2020-03-25 16:18] jul13nc commented on #6415
In fact, it seems related to [#6376](https://github.com/ansible/awx/issues/6376)

[2020-03-25 16:18] #6415 closed, assigned to nobody

[2020-03-25 16:32] marshmalien commented on #4214
Issue resolved in PF-React: https://github.com/patternfly/patternfly-react/issues/1564

They added a `trigger` prop to display tooltip on mouseenter, focus, and/or click.

[2020-03-25 16:32] #4214 closed, assigned to nobody

[2020-03-25 16:36] marshmalien commented on #6113
PatternFly File Upload: https://www.patternfly.org/v4/documentation/react/components/fileupload

[2020-03-25 16:44] imareporter opened #6418 "Ability to Generate a Failed Host Summary Using Notification Attributes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

An user is requesting the ability to generate a failed host summary using notification attributes (https://docs.ansible.com/ansible-tower/latest/html/installandreference/notification_parameters_supported.html). The failed host summary would be sent via email.

Ideally, they want a structure similar to this:

[code]

There is a `job_metadata` attribu

[2020-03-25 16:47] kdelee commented on #6340
@ryanpetrello we have a job that tests openshift installs pointed against rds database, it just does not run every night (RDS has to be set up for it...this is just in backlog for automating / will be covered by the data generation pipeline that is WIP). I set up an rds database and kicked it off. Install worked and all tests are passing, going to call this verified.

[2020-03-25 16:47] #6340 closed, assigned to chrismeyersfsu, kdelee

[2020-03-25 17:33] mw-0 commented on #5849
I have the same issue but on using a VMware module.  Did you find a solution?

[2020-03-25 17:46] AlanCoding commented on #5177
This is now fully finished, that that demo playbook should run fine.

[2020-03-25 18:26] mabashian commented on #6402
Yea you can do it.  Something like `RRULE:FREQ=MONTHLY;INTERVAL=1;WKST=MO;BYMONTHDAY=1,10,20` would result in a schedule that ran monthly on the 1st, 10th, and 20th day of the month.

You could certainly create this rule by POSTing directly to the api but the UI will definitely not display it properly if it doesn't just completely break.

My preliminary implementation of the schedule form in the n

[2020-03-25 18:32] dsesami opened #6423 "Simple search on SCM type does not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When searching in the Project list, one can use a search filter called "Type". This is an SCM type, which provides a second dropdown that can filter for Git, Mercurial, etc.

This search does not return any results.

Recreation steps:
1. Make a project. Don't sync it (unsure if this affects anything). Use Git.
2. Search filter on Git projects.

One exp

[2020-03-25 18:33] nixocio opened #6424 "[Import/Export] Can use API to create multiple projects with same name with null org"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using the API one is able to create same combo of (project name, organization) - organization is set to null.

##### ENVIRONMENT
* AWX: "version": "devel",
* AWX install method: linux
* Ansible version:  ansible 2.9.1
* Operating System:RHEL8.1 (Ootpa)
* Web Browser: Firefox

##### STEPS TO REPRODUCE
Using the API create a project called - Project A, a

[2020-03-25 18:37] mabashian commented on #5764
This will almost certainly be addressed with a fresh implementation of launch prompting in UI Next.  I'm going to throw this in the project with the expectation that it'll likely move straight to needs_test at some point.

[2020-03-25 18:45] mabashian commented on #5012
Yea, to achieve this we'd need to add the name of the parent resource (JT/WFJT/PROJ/INV SRC) and probably a link to that resource in the list row.  Real estate will be the issue.  Here's what schedules currently look like in the new UI:

<img width="1446" alt="Screen Shot 2020-03-25 at 2 44 31 PM" src="https://user-images.githubusercontent.com/9889020/77573545-340bbe00-6ea7-11ea-9dca-7bf758acafd6.

[2020-03-25 18:46] mabashian commented on #5055
This should be moved to needs_test when #5864 gets merged

[2020-03-25 18:50] mabashian commented on #5636
This text comes from the upstream LoginPage PF component.  To fix this, we should pass the same string (wrapped for i18n) through the `loginButtonLabel` prop on `LoginForm`.

[2020-03-25 19:08] mabashian commented on #5524
rrule's that are in the past are still valid rrules and doing client-side validation trying to detect whether a schedule will ever run is messy business.  I do agree that this would be a UX improvement I'm just not sure the cost outweighs the benefit.

[2020-03-25 19:23] mabashian opened #6425 "Add support for approval notification toggle on WFJT notifications"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It's missing from UI Next:

<img width="1382" alt="Screen Shot 2020-03-25 at 12 00 22 PM" src="https://user-images.githubusercontent.com/9889020/77576760-1725b980-6eac-11ea-840b-e7d2841ea484.png">

This should only be visible on WFJT and Org notifications:

<img width="1517" alt="Screen Shot 2020-03-25 at 3 22 09 PM" src="https://user-images.githubus

[2020-03-25 19:25] dsesami commented on #5903
This looks great -- no visible issues. Closing it out.

[2020-03-25 19:25] #5903 closed, assigned to marshmalien, dsesami

[2020-03-25 19:26] mabashian commented on #4866
Thinking a bit about this one.  The way to solve it may be a completely different interface for specifying multiple choice answers.  If we came up with a more user friendly way to do this (not a textarea where each line is a survey answer) then this problem would likely go away.

[2020-03-25 19:29] mabashian commented on #4747
This will probably just get closed at some point - this issue shouldn't follow us to the new UI since we're using completely different technologies.

[2020-03-25 19:31] mabashian commented on #6425
Probably best to just reference the old UI when working on/verifying this enhancement in case I've missed some details.

[2020-03-25 19:39] AlexSCorey commented on #6379
this is a duplicate See https://github.com/ansible/awx/issues/5996
closing

[2020-03-25 19:39] #6379 closed, assigned to nobody

[2020-03-25 19:42] codekoala commented on #6391
@hafager thank you for that pointer. I've been trying to use AWX for the first time, and nothing seemed to work at all. Switching to 9.2.0 has made the experience far less frustrating!

[2020-03-25 19:50] appuk commented on #4747
I agree with that! I verified this issue in the new UI, and can not reproduce, hence closing the issue

[2020-03-25 19:50] #4747 closed, assigned to nobody

[2020-03-25 20:18] dsesami opened #6427 "Holding down a key in a form when the OS supports repeat-key-on-hold freezes the application"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Several operating systems support (both by default and not-by-default) holding down a key to repeat the key-press. For example, holding down "a" will produce "aaaaaaaaaaaaaaa".

Doing this within the add form in AWX PF, which uses field validation + `formik`, does not render the keys that were pressed until after the key is released, which then causes

[2020-03-25 21:13] jakemcdermott commented on #6427
This is definitely the case on the user's form.

[2020-03-25 21:14] chrismeyersfsu opened #6428 "instance group ordering"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Regression on https://github.com/ansible/awx/issues/3840

##### ENVIRONMENT
* AWX version: devel
* AWX install method: openshift
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

* Make 3 instance groups
* Go to an org and associate each, one by one

##### EXPECTED RESULTS

* For them to be returned in the order in

[2020-03-26 03:11] lukepafford commented on #3879
I don't think this should be considered low priority, I frequently go through this same problem every time we look at a new web application. Whenever you proxy a web app behind anything other than the root (`location /`), the application must be aware of the root path.

If the application doesn't support this (and AWX doesn't) I've generally had success with adding Nginx `sub_filter` statements to

[2020-03-26 03:42] lukepafford commented on #3879
As soon as I posted my comment I finally had a 💡 moment that allows a clean work around for **ANY** application that faces this similar problem of mounting on a location block that isn't `/`. The solution?: **Ignore it completely**

Instead, create a new **virtual host** which is supported by both Nginx, and Apache.
Instead of trying to mount the application at `mydomain.com/awx`, mount it at `awx

[2020-03-26 08:50] unbreakabl3 opened #6431 "Email notifications are coming even if its disabled"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I enabled email notification in Templates on SUCCESS and on FAILURE and started to get the emails. All is ok. After that I disabled the notification on SUCCESS and on FAILURE, but still getting the emails.
I deleted the template and created a new one to test the behavior. Its the same.
The same behavior is for the Projects notifications. Looks like tha

[2020-03-26 10:48] gstorme commented on #5230
I deployed AWX 9.3.0 (from the 9.3.0.tar.gz archive) on 2 servers (staging, prod) with a couple of days between both deployments.
Same inventory file for both servers, with `dockerhub_base=ansible`.

[pid: 136|app: 0|req: 209/1550] 192.168.x.x () {64 vars in 2777 bytes} [Thu Mar 26 10:36:48 2020] OPTIONS /api/v2/inventories/ => generated 13914 bytes in 90 msecs (HTTP/1.1 200) 8 headers in 239 byte

[2020-03-26 11:56] hsld commented on #6391
Same here. I've done some digging and believe this has something to do with the wsgi used in the nginx docker image. The problem seem come up whenever a request to wsgi happens. See the below log entries from the nginx container.

[code]

To me this looks like there's no or delayed respone from wsgi and then the worker gets killed.

I've found this bug report from March 2018 which seems to deal wi

[2020-03-26 12:23] mjcotner commented on #6391
Thank you @hafager. I had the same issue with 9.3.0.

[2020-03-26 12:48] fpjrh commented on #5822
@ryanpetrello and @blomquisg , can one of you update this issue to reflect what is the expected next step? My concern is that the state of this issue will not cause any attention to be paid to it, as is not really ready for testing at this time. If we're depending on other code to be merged, then let's set it to blocked pending that merge.

Let's follow up during scrub and figure a better way to m

[2020-03-26 13:24] ryanpetrello commented on #5822
@fpjrh,

@kdelee's comment is accurate - we can't verify this until @rooftopcellist's logging work is completed:

https://github.com/ansible/awx/issues/5822#issuecomment-594602659

[2020-03-26 13:39] dsesami opened #6432 "Launch button for workflow visualizer is enabled on empty workflows"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Visit a new workflow visualizer and view the top row of buttons.
The launch button is enabled, while all the other buttons are (correctly) disabled.

[2020-03-26 13:40] mw-0 commented on #5849
I haven't got a lot of time at the moment but for the moment but I wanted to share the workaround that I add into the project root ansible.cfg with
[defaults]
remote_tmp      = /tmp

I am running 9.3 btw.  I will likely add this into my awx build for ansible.cfg when I have time.

[2020-03-26 13:45] dsesami opened #6433 "Can't save the modal when adding a team role to an organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The save button in this screenshot doesn't always work:
![Screenshot from 2020-03-26 09-39-57](https://user-images.githubusercontent.com/19942822/77653157-c9f62600-6f45-11ea-87d1-8c2ad40e1d12.png)

##### STEPS TO REPRODUCE
1. Make a team and org, put the team inside the org.
2. Go to org -> Access tab -> add a team permission
3. Try to give the team ad

[2020-03-26 13:48] AlanCoding commented on #6355
For this particular case, we had examples, they didn't work because there was a bug. So the [in-module examples](https://github.com/ansible/awx/blob/090349a49b151ca3f257c7f5d5474181756ff27c/awx_collection/plugins/modules/tower_settings.py#L56) helped confirm expectations.

For more complex cases, like workflows or groups, there may be an emerging need for something more like [demo playbooks](https

[2020-03-26 13:52] kdelee commented on #5970
@appuk assigned you since you have experience w/ the social auth testing w/ Github.

I know that @ryanpetrello and @elyezer did some testing before merge. Might want to check with them about that.

[2020-03-26 13:54] fpjrh commented on #5822
@ryanpetrello thank you for the update!

[2020-03-26 14:36] dsesami commented on #5904
A few questions  --

None of these are blocking items, but I'd like to know what to create issues for, as well as stubs.

* Is adding an approval node planned work? I see start/success/failure.
* Is there any future planned work to add the ability to select/delete notifications from this view? It feels very limited in that sense.
* Clicking a single notification toggle makes all of the toggles fla

[2020-03-26 14:40] ryanpetrello commented on #6428
🤔

I'm having trouble reproducing this:

http://ryanpetrello.com/instance-group-order.mp4

[2020-03-26 14:54] dsesami commented on #5904
Conferred with @jlmitch5 --

1. Deletion of a notification from this view doesn't make a lot of sense. This should be done from the notification templates view.
2. Approval toggle work is planned here: https://github.com/ansible/awx/issues/6425
3. I'll be creating an issue for this.

Thanks so much, closing this out.

[2020-03-26 14:54] #5904 closed, assigned to jlmitch5, dsesami

[2020-03-26 14:56] dsesami opened #6435 "Strange flashing when using notification toggles"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Seen during investigation of https://github.com/ansible/awx/issues/5904, but occurs on all notification lists. Clicking a toggle makes _all_ the toggles flash, and also creates a strange blue border around the selected row (or an adjacent row). This should be cleaned up.

![ezgif-3-4bc4addae22d](https://user-images.githubusercontent.com/19942822/776608

[2020-03-26 15:25] kdelee commented on #6393
No related failures in tests, going to close as verified since this is used everywhere.

[2020-03-26 15:25] #6393 closed, assigned to ryanpetrello, kdelee

[2020-03-26 15:33] dsesami commented on #6432
Works great now :+1:

[2020-03-26 15:33] #6432 closed, assigned to marshmalien

[2020-03-26 15:34] sbarbo01 opened #6436 "Retreive list of a repository tags to populate a multiple choice list in survey"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We use Ansible to deploy applications based on a repository (gitlab/github)...
When playbook is launch, extra variable is used to specify which version to install (eg: version=1.1)
This work but can be cause of error.

It would be better to retreive list of available tags and populate variable in survey to allow the choice of correct version, just li

[2020-03-26 15:36] dsesami commented on #5265
Refreshes do not occur on websocket events on chrome :+1: . Asking around to get this verified on safari.

[2020-03-26 15:45] unlikelyzero commented on #5265
i'll take it

[2020-03-26 15:49] dsesami commented on #6413
Button directly links to the create new job template form. This makes more sense, thanks. :+1:

[2020-03-26 15:49] #6413 closed, assigned to jakemcdermott, dsesami

[2020-03-26 15:54] kedark3 commented on #6355
@AlanCoding we can link Collections ReadMe to point to more complex examples directory. README at https://galaxy.ansible.com/awx/awx

[2020-03-26 15:54] unlikelyzero commented on #5265
I was able to make edits on the settings page in an open tab, switch to a new tab and launch a job, and save the edits in on the settings page

[2020-03-26 15:54] #5265 closed, assigned to jakemcdermott, unlikelyzero

[2020-03-26 15:56] dsesami commented on #6398
Formik validation behaves much better now; thanks for the fix.

[2020-03-26 15:56] #6398 closed, assigned to jakemcdermott, dsesami

[2020-03-26 16:00] mooky31 opened #6437 "Cannot create user with tower_user from AWX collection"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cannot create user with tower_user from AWX collection

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: Debian Buster
* Web Browser: Firefox

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

User created

##### ACTUAL RESULTS
[code]

##### ADDITIONAL INFORMATION
Dump of

[2020-03-26 16:07] AlanCoding commented on #6355
What do you mean by that specifically? Some collections have a `docs/` folder, but I think this is too much for our purposes, and I don't have any intention of custom building docs.

[2020-03-26 16:07] sbarbo01 opened #6439 "Availibility to specify roles install destination path to preserve after template execution"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Availibility to specify roles install destination path to preserve after template execution

##### ENVIRONMENT
* AWX version: 9.30.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: CentOs
* Web Browser:

An unique project in one git repository. Project tree:
[code]
For each role, a independant git repository. Roles t

[2020-03-26 16:17] RylandDeGregory commented on #6355
Are the Web Infrastructure Module docs on the [Ansible website](https://docs.ansible.com/ansible/latest/modules/list_of_web_infrastructure_modules.html#ansible-tower) not going to reflect the functionality of this collection when it's complete? Are they intended to indefinitely coexist?

If so, there should be some indication in the collection's README regarding this. Users will be taken to the An

[2020-03-26 16:34] jlmitch5 opened #6440 "Update JobTemplate formik use in order to not require context/formikBag"
in #6385 we converted the JT Form to using the useField hooks...in the process there are some quirks of that form that made us have to utilize the formik context.  Specifically:
- organization is currently set via the inventory change...we will be moving this out of the form into the edit/add pages based on the project's organization.
- currently the validation for the inventory is a bit weird (it

[2020-03-26 16:51] wenottingham commented on #6436
-> #20

[2020-03-26 16:51] #6436 closed, assigned to nobody

[2020-03-26 17:28] sbarbo01 commented on #20
Lots of people ask for this feature. Planned in next release since other tools already allow that?

[2020-03-26 17:35] unlikelyzero opened #6442 "[awx-pf] Job Template Description field is no longer returned by default in Job Template searches"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In the original tower UI, if a user searched on the Job Template Searchfield, both Job Template Name and Job Template Descriptions results were returned. In `ui_next`, only the Job Template Name is returned.

##### ENVIRONMENT
* AWX version: 9.3.0

##### STEPS TO REPRODUCE
1. Create or update a Job Template Description with "afilteredresponse"
2. Open

[2020-03-26 17:41] dsesami commented on #6442
since simple search implementation now involves dropdowns with keywords, it might be good to change the way we implement this with a filter to search by Description separately. This is my personal opinion.

[2020-03-26 17:56] dsesami commented on #6382
This bug has been resolved; prompt on launch inventories can be saved.

[2020-03-26 17:56] #6382 closed, assigned to marshmalien, dsesami

[2020-03-26 18:20] dsesami commented on #5892
looks great! functionality seems to be in place.

[2020-03-26 18:20] #5892 closed, assigned to marshmalien

[2020-03-26 18:21] AlanCoding commented on #6355
You pointed to `latest`, but `devel` would be more appropriate:

https://docs.ansible.com/ansible/devel/modules/list_of_web_infrastructure_modules.html#ansible-tower

The latest stable Ansible release is 2.9, and the collection does not officially replace the modules in that version (although it works if you install it). The current development Ansible version is 2.10, and does not have this conte

[2020-03-26 18:21] AlexSCorey opened #6446 "Host Add Weirdness"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Host Add Form has weird formatting
##### ENVIRONMENT
* AWX version: 2.9
* AWX install method:  docker for mac
* Ansible version:  9.3
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Go to Host Add Form

##### EXPECTED RESULTS

![Screen Shot 2020-03-26 at 2 20 05 PM](https://user-images.githubusercontent.com/39280967/7768

[2020-03-26 18:50] rebeccahhh commented on #2387
Tested by creating a schedule with a limit and the limit is reported in the creation entry of the Activity Stream, this has already been resolved.
ex:
[code]

[2020-03-26 18:50] #2387 closed, assigned to rebeccahhh

[2020-03-26 19:51] jakemcdermott opened #6449 "Add patternfly datepicker where needed"
##### SUMMARY
We're using the native datepicker or regular fields as placeholders for the time being. The patternfly datepicker will be arriving in the future. This issue is for using it in `ui_next`.

[2020-03-26 19:52] AlanCoding commented on #6439
I would mark this as a duplicate of https://github.com/ansible/awx/issues/5518

We know this is a big pain point right now.

[2020-03-26 19:54] rajeshwer opened #6450 "failed to add user in credential permissions"
Tried to add user to credential with use permission but unsuccessful

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.3
* Operating System: oel
* Web Browser: chrome/safari

##### STEPS TO REPRODUCE

select credential
select permissions
selct user ---> key use----> save ---> working and exits but action was unsuccesful

##### EXPECTED RESULTS
se

[2020-03-26 19:56] AlanCoding commented on #6437
How did you configure authentication to the server? Environment variables (like `TOWER_HOST`, etc.), or the tower_cli.cfg file? And did this auth use token or username/password?

[2020-03-26 19:56] #6439 closed, assigned to nobody

[2020-03-26 20:13] mabashian opened #6452 "Prepend string to columns where the contents may be ambiguous"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Since our lists are sort of like tables but columns don't have headers @trahman73 brought up prepending something to the value to denote what it is.

For example, a lot of our lists have a `Type` column:

<img width="1448" alt="Screen Shot 2020-03-26 at 4 11 29 PM" src="https://user-images.githubusercontent.com/9889020/77692144-7ce17680-6f7c-11ea-9b2

[2020-03-26 21:28] rlundatwork opened #6453 "Intermittent errors - 503 and Connection Reset"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We are using Jenkins (recently updated) and the Ansible Tower plugin to connect to our AWX tower. Most of the time, it works great, but lately, the tower will some times not respond correctly to Jenkins. Again, this does not happen always, but frequently enough to be a major concern.

When the issue occurs, the error messages I receive in Jenksin are a

[2020-03-26 22:21] jakemcdermott commented on #6453
Hello! Thanks for creating this issue.

You'll need to rule out that this isn't an issue between jenkins<--> AWX plugin itself, first. I think it might be.

That is not something we support directly.

[2020-03-26 22:21] #6453 closed, assigned to nobody

[2020-03-26 22:30] jakemcdermott commented on #6450
Hi there. I can't reproduce this with the steps you provided.

![cred_role_add](https://user-images.githubusercontent.com/9753817/77702590-44976380-6f8f-11ea-8011-e6073c06e69f.gif)

if you're still experiencing difficulty, please provide additional details on how to reproduce what you are experiencing. Include a minimal test case with all resource creation steps explicitly documented, including th

[2020-03-26 22:49] jakemcdermott commented on #6431
Hello.

I tried the steps exactly as you described them and I'm not seeing any email notifications when the notification is disabled.

It's likely you have another notification enabled somewhere - please verify that this isn't the case. If you're still experiencing difficulty you will need to provide more details for us to reproduce the problem. Please include a minimal test case (assume a complet

[2020-03-26 22:49] #6431 closed, assigned to nobody

[2020-03-26 22:51] jakemcdermott commented on #6406
yep - you'll need to do this sort of filtering and matching in the client you're using to query the api.

[2020-03-26 22:51] jakemcdermott commented on #6371
Hi there. Websocket docs for developers and integrators live here: https://github.com/ansible/awx/blob/devel/docs/websockets.md

[2020-03-26 22:51] #6371 closed, assigned to nobody

[2020-03-26 22:53] jakemcdermott commented on #6306
Hi there. Sorry you're having trouble with this. That said, we can't (and don't) support any kind of extensions to the base image or installer. You're totally welcome to do so, but you are on your own in terms of keeping it working once you do.

[2020-03-26 22:53] #6306 closed, assigned to nobody

[2020-03-26 22:55] jakemcdermott commented on #6243
Hey @wbieniek - like other's have mentioned, we've merged quite a bit of work into this area as of late. Please upgrade to the latest version and see if your issue is resolved. If you're still experiencing problems after upgrading, re-open this issue and we'll take another look. Thanks!

[2020-03-26 22:55] #6243 closed, assigned to nobody

[2020-03-26 22:56] rajeshwer commented on #6450
I am running 9.2.0 version pleass find below

 ![http://g.recordit.co/3uVJ8JIccy.gif)

[2020-03-26 22:56] jakemcdermott commented on #6449
duplicate of https://github.com/ansible/awx/issues/6214

[2020-03-26 22:56] #6449 closed, assigned to nobody

[2020-03-26 22:57] rajeshwer commented on #6450
I am running 9.2.0 version pleass find below

 ![http://g.recordit.co/3uVJ8JIccy.gif)

[2020-03-26 23:03] jakemcdermott commented on #6064
Hi there. Thanks for creating this issue.The inventory file is a configuration file so you're free to change it locally to your liking before running the installer.

[2020-03-26 23:03] #6064 closed, assigned to nobody

[2020-03-26 23:19] jakemcdermott commented on #6450
:wave: Hey there. Please provide a minimal test case (assume a completely new install) with all resource creation steps explicitly documented, including the test data used for every field of every resource you created.

[2020-03-27 05:33] ghost opened #6456 "Failed to resolve broker hostname"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After installing AWX using docker-compose and the provided installer, I am getting an error when trying to run a job.

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker-compose for mac
* Ansible version:  2.9.5
* Operating System: macOS Catalina
* Web Browser: Safari

##### STEPS TO REPRODUCE

1. Install AWX using docker-compose for m

[2020-03-27 07:07] unbreakabl3 commented on #6431
Hello,
I checked all notifications settings 10 times. All notification settings are disabled.
I’m getting a notifications from the job which is failed or succeeded when I run THIS job. Where else it can be enabled?

[2020-03-27 07:16] mooky31 commented on #6437
I use tower_cli.cfg with user/pass :

[code]

[2020-03-27 07:22] mooky31 commented on #6437
I also tried with this playbook:
[code]

Same error

[2020-03-27 07:35] mooky31 commented on #6437
Interesting fact:
I have AWX listening on localhost:8080. It is accessed remotely through a NGINX reverse proxy on port 443 (which also does the SSL part). Ports look like this (port 80 is for gitweb):
[code]

This playbook works:
[code]

[2020-03-27 07:36] shinhwagk opened #6457 "argument port is of type <class 'str'> and we were unable to convert to int: <class 'str'> cannot be converted to an int"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2020-03-27 07:36] #6457 closed, assigned to nobody

[2020-03-27 12:00] AlanCoding commented on #6437
My best assessment of the situation is that there are 2 errors.

1. TypeErrorsendall() argument 1 must be string or buffer, not dict
2. OAuth2AccessToken has no field named 'username'

The 2nd error wasn't shown because of some messy error handling. The PR I put up for this does not address the 1st error (because I cannot reproduce it), but should address both the 2nd error, and the error handling

[2020-03-27 13:04] ryanpetrello commented on #6431
@unbreakabl3,

Are any notifications defined or enabled at the organization level?

[2020-03-27 13:05] jakemcdermott commented on #6456
Hello.

Duplicate of https://github.com/ansible/awx/issues/6376 - have a look for more details on this. Thanks!

[2020-03-27 13:05] #6456 closed, assigned to nobody

[2020-03-27 13:28] dsesami commented on #6333
small nuance:

1. Select-all (or any) of the survey list items.
2. Click delete to go to the confirmation modal.
3. Click cancel

In _most_ applications, the items would still be selected; however, they are all deselected.

[2020-03-27 13:44] dsesami commented on #5900
@keithjgrant both add and edit forms need some way of clarifying how to format single-select and multi-select options. It is trivial to create modal-overlay 400 errors with the input textbox given, and these 400 errors do not provide any useful information to the end user.

[2020-03-27 14:03] appuk commented on #4942
The Tests are almost ready to merge, and are green, hence closing the issue.

[2020-03-27 14:03] #4942 closed, assigned to appuk

[2020-03-27 14:09] appuk commented on #6260
The stubs are almost ready to merge
I have verified the Users Organization tab manually and it is working as expected, hence closing the issue

[2020-03-27 14:09] #6260 closed, assigned to appuk, AlexSCorey

[2020-03-27 14:19] mooky31 commented on #6437
I copied [this file](https://raw.githubusercontent.com/ansible/awx/8147de43d8cf780596684663bbaaa4b1f4d06b0a/awx_collection/plugins/module_utils/tower_api.py) to `~/ansible/collections/ansible_collections/awx/awx/plugins/module_utils/tower_api.py`.

I don't see any change ?
[code]

[2020-03-27 14:35] craph opened #6460 "Unable to save any forms"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I'm unable to save any forms in AWX 9.3.0.
When I try to click on the save button to create a new sample project or add LDAP authencatication I have a status code 504.  And the form is never saved.

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: CentOS 7.7
* Web Browser: Chrom

[2020-03-27 14:36] AlanCoding commented on #6437
that message should not be printed with that file in effect

hmm, is the issue `~/ansible` vs. `~/.ansible`? For me this is located at

[code]

[2020-03-27 14:38] dsesami commented on #6181
The one issue I had with this was discussed with @AlexSCorey and will be addressed in #6333 . Looks great.

[2020-03-27 14:38] #6181 closed, assigned to dsesami, AlexSCorey

[2020-03-27 14:39] dsesami commented on #6182
Survey sort works wonderfully. Thanks!

[2020-03-27 14:39] #6182 closed, assigned to keithjgrant, dsesami

[2020-03-27 14:42] dsesami commented on #5899
See https://github.com/ansible/awx/issues/5900#issuecomment-605008285

[2020-03-27 15:25] jakemcdermott opened #6462 "Update error handling placeholders in rbac component"
##### SUMMARY
If an error happens when adding roles, we should show the error.

notes:
`AddResourceRole`

Modal-from-modal might be kind of weird, so I'm guessing the error should be shown somewhere _on_ the rbac modal after the save fails.

[2020-03-27 16:10] mooky31 commented on #6437
My ansible root dir is indeed `~/ansible`, `~/.ansible` is auto created and nearly empty :
[code]
I also tried to put random text on top of `~/ansible/collections/ansible_collections/awx/awx/plugins/module_utils/tower_api.py` playbook fails with:  `SyntaxError: from __future__ imports must occur at the beginning of the file`

I really think this is the good path.
And the good file:
[code]

[2020-03-27 16:38] AlanCoding commented on #6437
Right, that file doesn't have the patch, as before "# Sanity check: Did the server send back some kind of" it should have an `except HTTPError as he:` block

[2020-03-27 16:51] mooky31 commented on #6437
This block is here:
[code]

[2020-03-27 16:54] keithjgrant commented on #5900
@dsesami I was kinda hoping to circle back at some point and make a more intelligent input than just a vanilla textarea, but yeah I agree there needs to be better help text at a minimum

[2020-03-27 17:01] jakemcdermott commented on #6433
The attached PR resolves the bug. We'll track the work for adding error handling to the rbac component here: https://github.com/ansible/awx/issues/6462

[2020-03-27 17:04] dsesami opened #6464 "Survey multiple choice options need improvements and error handling"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
From https://github.com/ansible/awx/issues/5900#issuecomment-605008285:
cc @keithjgrant

##### STEPS TO REPRODUCE
Put bad input into a job template survey with either single or multi-select. semicolons in random spots, etc, in an attempt to break it. some things work, some don't.

##### EXPECTED RESULTS
Form validation on submission that keeps you on t

[2020-03-27 17:04] dsesami commented on #6333
This was closed in error.

[2020-03-27 17:05] dsesami commented on #5899
https://github.com/ansible/awx/issues/6464 handles final validation on the multiple choice fields. Closing this out.

[2020-03-27 17:05] #5899 closed, assigned to keithjgrant, dsesami

[2020-03-27 17:06] dsesami commented on #5900
Moving the work for the intelligent input / help text for multiple choice options to https://github.com/ansible/awx/issues/6464. Closing this out.

[2020-03-27 17:06] #5900 closed, assigned to keithjgrant, dsesami

[2020-03-27 17:14] blomquisg commented on #6424
@jbradberry This will likely block import/export work.

[2020-03-27 17:15] wenottingham commented on #6418
As of now, you can only use data that is on the job record. We'd have to see how interpolating into that data could be done.

[2020-03-27 17:17] dsesami commented on #6435
regate

[2020-03-27 17:21] unbreakabl3 commented on #6431
All of them are disabled.
I just did the reinstall and all is working well.
Thank you.

[2020-03-27 17:21] blindrood commented on #5305
The same issue appears upgrading 9.0.0 to 9.3.0, although issue was with browsing jobs. Applying permissions on awx_web container solved it

[2020-03-27 17:39] blomquisg commented on #5501
@megabreit can you submit a PR for this change?

[2020-03-27 17:46] gespinoza22 commented on #1947
Any one get past this? Encountering `{"detail":"Authentication credentials were not provided. To establish a login session, visit /api/login/."}`

Even after following @ryanpetrello  method

[2020-03-27 17:47] jbradberry commented on #6424
@blomquisg This is no worse than what happens elsewhere in awx-cli when trying to query a unique project by name, namely that a message is output to the user stating that the named resource is not unique.  Not in my opinion a deal-breaker.

[2020-03-27 17:47] blomquisg commented on #3827
@jladdjr did you have time to look at this?

[2020-03-27 17:58] jladdjr commented on #3827
@blomquisg yep, will take a look 👍

[2020-03-27 18:16] kdelee commented on #6010
I'm satisfied with the testing we did pre-merge and our upgrade testing should provide some indirect regression coverage. I am considering generating some more job events on the pre-upgrade box but that can happen out of band. Closing

[2020-03-27 18:16] #6010 closed, assigned to ryanpetrello, kdelee

[2020-03-27 18:24] ryanpetrello commented on #6357
New approach to address this in Ansible, courtesy of @ghjm:

https://github.com/ansible/ansible/pull/68375

[2020-03-27 18:53] kedark3 opened #6466 "[UI] YAML Format input box shows JSON format data"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
 I see following Bug, as you may see when I launch JT, it shows "YAML" radio button selected but "JSON" formatted variable. In the background though, you can see I have set the variable in YAML format in the JT itself. When I click JSON and back to YAML, it gets fixed by itself. no loss of functionality just buggy ui

##### ENVIRONMENT
* Tower 3.6.3
*

[2020-03-27 18:55] kedark3 commented on #6466
I think this may be caused by missing `---` on the top of Extra vars input box. But I couldn't reliably test that. There is no loss of functionality though. So low priority bug in my opinion. Just an UX thing.

[2020-03-27 19:09] AlanCoding commented on #6437
I'm sorry, that was my goof, I see what I did. I hacked a way to test getting the token, but not releasing the token. I pushed a commit to that PR. However, since your current version includes the `finally:` addition, I don't see much hope for that resolving the root cause issue.

[2020-03-27 19:36] dsesami commented on #6435
resolved by #6458

[2020-03-27 19:36] #6435 closed, assigned to nobody

[2020-03-27 22:58] francisbangi opened #6470 "Internal Server Error"
AWX version: 9.3.0
AWX install method: docker on linux
Ansible version: 2.9.6
Operating System: Centos 8
Web Browser: Firefox

[lab@localhost ~]$ docker ps
CONTAINER ID        IMAGE                        COMMAND                  CREATED             STATUS              PORTS                                                 NAMES
74425969967f        ansible/awx_task:9.3.0       "/tini -- /bin/sh -c…

[2020-03-28 00:08] ryanpetrello commented on #6470
@CodeTechies,

I already replied to this issue which you already filed two days ago here:

https://github.com/ansible/awx/issues/6411#issuecomment-603840197

This is the public issue tracker for the open source AWX project, not the Batphone; a pages-long, context-less paste of your terminal isn't likely to yield results.

If you need help troubleshooting an AWX install (beyond my suggestion from t

[2020-03-28 00:08] #6470 closed, assigned to nobody

[2020-03-28 00:15] ryanpetrello commented on #6357
This will be resolved in the next version of Ansible (and I believe it's being backported to the next 2.9.x).  Until then, it looks like older versions of 2.9.x don't have this issue:

https://github.com/ansible/ansible/pull/68517

[2020-03-28 01:08] ghjm commented on #6357
https://github.com/ansible/ansible/pull/68517 is merged into Ansible devel.  The 2.9 backport,
https://github.com/ansible/ansible/pull/68520, will be reviewed at the next backport review, and is expected to land before the next Ansible 2.9.x release.

[2020-03-28 01:53] chyap1981 commented on #5331
TASK [local_docker : Create Docker Compose Configuration] *********************************************************************************************************************************************************
task path: /home/cheehow/awx/installer/roles/local_docker/tasks/compose.yml:13
failed: [localhost] (item=environment.sh) => {"changed": false, "item": "environment.sh", "msg": "AnsibleErro

[2020-03-28 16:10] virtualhobbit commented on #6391
Experiencing the same issue with 9.2.0 :-(

[2020-03-28 17:28] hsld commented on #6391
@virtualhobbit Is this a new install ? If so, did you by any chance change the host names of any of the docker containers ? If you did please switch back to the original host names, docker compose and try again. I've had the issue with 9.2.0 as well and pulled a fresh 9.2.0 from git, I used the original inventory file, installed it and imported a backup. Works fine again after that.

[2020-03-28 19:24] StepBee commented on #6460
Same AWX and ansible version, running on Ubuntu 18.04.4 LTS (and later on CentOS 8)
Installation via docker-compose.
Exactly the same problem.

Trying to create a new project with a gitlab or github repo brings the error and fails.
Git credentials are SSH private key with passphrase, which were doublechecked from outside AWX.

Trying to delete a project which was half-created with the timeout befo

[2020-03-29 06:05] mhrznamn068 commented on #1968
Having same issue

[2020-03-29 14:29] unbreakabl3 opened #6473 "Multiple jobs on a different inventory items"
##### ISSUE TYPE
 - Feature Idea/Question

##### SUMMARY
Hello,
We're using a remote REST API calls to create a host inside the inventory and start the existing jobs template on that host. The problem is when during the first run, another host added to same inventory. Another job starting to run, but because in the inventory there are two hosts, the second job will run on **both hosts**.
Is there

[2020-03-29 19:57] StepBee commented on #6460
After bringing strace into the game, i think i found the reason, but not the solution yet.

the awx_web and awx_task containers are trying to resolve the hostname "none" in a never ending loop until the process gets killed finally.

172.18.0.5 = awx_task
172.18.0.6 = awx_web
cs4cguest.vdc = hosts searchdomain

[code]

[code]

Looking at [this](https://github.com/ansible/awx/issues/3719) old thread

[2020-03-29 20:53] virtualhobbit commented on #6391
New install, haven't changed any names of any containers

[2020-03-29 21:34] musil commented on #6391
same happen to me. fresh install centos8 (minimal) .  AWX 9.3.0  no changes to names of any containters. for installation I used this howto https://www.techrepublic.com/article/how-to-install-the-awx-ansible-web-gui-on-centos-8/

[2020-03-30 07:02] jomach opened #6475 "Integrate ansible-cmdb"
##### ISSUE TYPE
It would be cool if awx could expose https://ansible-cmdb.readthedocs.io/en/latest/usage/ for all inventories.

##### SUMMARY
Have page that is similar to https://ansible-cmdb.readthedocs.io/en/latest/usage/
What do you think?

[2020-03-30 11:22] Aniket-Utekar opened #6476 "Failed to save toggle settings. Returned status: 504 | AWX 9.3.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operating System: Ubuntu 18.04.4 LTS
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

Not able to save settings in system tab --  "Allow External Users to Create Oauth2 Tokens" option to on.

Giving below error after clicking on "Allow Exter

[2020-03-30 12:06] mihalby opened #6477 "failed to resolve broker hostname"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: :9.3.0
* AWX install method: docker on linux
* Ansible version:   2.9.6
* Operating System: centos 7
* Web Browser: chrome

##### STEPS TO REPRODUCE

Clean first install from git repo.
 ansible-playbook -i inventory install.yml
Go to web interface and run any managemet job.

##### EXPECTED RESULTS
job is run and done

[2020-03-30 12:27] bushvin opened #6478 "Add support for the psrp connection plugin to the default awx venv"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In order to embrace the Windows ecosystem even further, adding support for psrp in the default awx Virtual Environment would benefit the management of said systems.

Using psrp over WinRM offers the added feature of Just Enough Administration (think sudo), which is becoming the standard in many (Enterprise) environments, due to the possibility to har

[2020-03-30 12:49] ryanpetrello commented on #6477
@mihalby,

Can you share:

`docker ps -a`?

[2020-03-30 13:08] musil commented on #6391
Installed 9.2.0 and there was no issue.

[2020-03-30 13:08] AlanCoding commented on #6437
@mooky31 I updated the patch, I think that cleans things up, but I don't know if it will address your issue or not. Would you mind giving the updated file a try?

[2020-03-30 13:10] JG127 commented on #6306
Okay then. Unusual in the Docker ecosystem, but it's your work after all.
Supposing somebody needs to extend the OS in the containers, what is the advised way to do so ?

[2020-03-30 13:27] mooky31 commented on #6437
I used this file : https://raw.githubusercontent.com/ansible/awx/1759fce7c20e7e1935fbb468cab96d029470e243/awx_collection/plugins/module_utils/tower_api.py

Does it include all your modifications ?

Here is the result:
[code]

[2020-03-30 13:33] AlanCoding commented on #6437
That has everything, thanks for testing.

Could you get the python version you're on?

[2020-03-30 13:38] mabashian commented on #6402
OK, it looks like the api won't allow multiple month days like I described above.  If you attempt to create a new schedule with an rrule like:

[code]

The api will 400 with the following response:

```{rrule: ["Multiple BYMONTHDAYs not supported."]}```

So I'm going to add the `api` label to this issue as well as `ui`.

I think we can support this in the new UI by using a multi-select dropdown wi

[2020-03-30 13:46] mooky31 commented on #6437
I'm on debian Buster.
Ansible from debian repos used to work with Python 3, but it seems that since I installed Ansible from Ubuntu's PPA it switched back to Python 2.

[code]

System default is still Python 3:
[code]

[2020-03-30 13:56] virtualhobbit commented on #6391
I just re-checked this on 9.2.0, and it appears there are multiple issues.

I'm trying to save the LDAP auth settings. These appear to save but don't. Apparently this is know issue that has existed since # 1914 :-(

What was confusing me was that if I made and change to the "LDAP Group Type Parameters" it threw the 504 error.

[2020-03-30 13:58] AlanCoding commented on #6437
Thanks, that's helpful.

Best updated hunch is that it's related to https://github.com/ansible/ansible-modules-core/issues/265, which is that an unexpected type for the data was sent, although I have no idea why.

[2020-03-30 14:03] mihalby commented on #6477
docker ps
CONTAINER ID        IMAGE                                   COMMAND                  CREATED             STATUS              PORTS                                                                                    NAMES
6c81bf3e25d8        ansible/awx_task:9.3.0                  "/tini -- /bin/sh -c…"   36 seconds ago      Up 26 seconds       8052/tcp

[2020-03-30 14:07] mihalby commented on #6477
[code]

[2020-03-30 14:08] AlanCoding commented on #6437
I think I'm replicating the issue with python2 now

[2020-03-30 14:15] jakemcdermott commented on #6478
Hi. Thanks for making this issue. Have you tried our custom virtual environment feature? https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md It's our currently recommended way of using a python environment with additional dependencies beyond the ones included by default.

[2020-03-30 14:20] jakemcdermott commented on #6476
Hello. Sorry you're experiencing difficulty with your awx deployment.

We've been seeing a lot of bug reports mentioning 504s where they're not normally observed. In most cases this is because you've checked out the `devel` branch and ran an upgrade or install using container images pulled from docker hub - this won't work currently because we haven't published the containers yet. You'll need to b

[2020-03-30 14:20] #6476 closed, assigned to nobody

[2020-03-30 14:45] jwlogemann opened #6479 "awx cli installer does not install a binary"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I run the command pip install "https://github.com/ansible/awx/archive/$VERSION.tar.gz" which is mentioned in the readme it installs a bunch of python scripts in /usr/local/lib/python3.6/site-packages/awx  but there's no 'awx' binary I can run.

##### ENVIRONMENT
Redhat 7.7
##### STEPS TO REPRODUCE

1) pip install "https://github.com/ansible/awx/ar

[2020-03-30 14:52] jwlogemann commented on #6479
I forgot to add that this is caused by the binary being renamed to 'awx-cli'

[2020-03-30 15:01] ryanpetrello commented on #6479
Hey @jwlogemann,

The awx release tarball itself is the source code for the AWX server, not the client libraries.

You _can_ install the CLI, which is a package within a subdirectory of the source tree, using a command like this:

`~ pip install "https://github.com/ansible/awx/archive/9.3.0.tar.gz#egg=awxkit&subdirectory=awxkit"`

![image](https://user-images.githubusercontent.com/214912/77927870-

[2020-03-30 15:01] #6479 closed, assigned to nobody

[2020-03-30 15:05] jakemcdermott commented on #6473
It sounds like you're already committed to making _some_  prior API calls before launching each job. With that in mind, have you considered using or applying a limit prompt on the job template(s) you are launching to restrict its execution to the specific host?

[2020-03-30 15:17] AlanCoding commented on #6437
@mooky31 really hoping this is the last time I do this - I pushed another change to that PR. Could you try it and see if it verifies the issue?

I ran your example task with python2, and confirmed both the warning message and the root-cause error. My last patch avoids the unexpected situation the warning found itself in, as well as the root cause, by my testing locally. I'm very hopeful that this

[2020-03-30 15:28] jakemcdermott commented on #6460
Hello. Sorry you're experiencing difficulty with your awx deployment.

We've been seeing a lot of bug reports mentioning 504s where they're not normally observed. In most cases this is because you've checked out the devel branch and ran an upgrade using container images pulled from docker hub - this won't work currently because we haven't published the containers yet. You'll need to build them you

[2020-03-30 15:28] #6460 closed, assigned to nobody

[2020-03-30 15:34] StepBee commented on #6460
@jakemcdermott this were 2 new installations, no upgrade.
The local docker installation of the master branch seems to be broken.
I used a fresh os installation and checkout via
`git clone https://github.com/ansible/awx.git`

[2020-03-30 15:36] jakemcdermott commented on #6460
That's correct. That won't be the case in the future but as of right now you'll need to check out a previous tag (e.g 9.1, 9.2) before running any type of install or an upgrade.

[2020-03-30 15:37] StepBee commented on #6460
ok, thanks for the clarification!

[2020-03-30 15:37] jakemcdermott commented on #6460
You're welcome! Best of luck.

[2020-03-30 15:41] hsld commented on #6391
This is odd. I've not had this issue with 9.2.0. After I did a clean install it worked fine again. My guess about the 504 is that's there to tell you that your request was not handled in time (or at all) by something upstream. This usually refers to a service which did not handle your request (save data) properly.

As mentioned in my earlier post it may have to do with uWSGI but someone more invol

[2020-03-30 15:50] ryanpetrello commented on #6477
You're using the 9.3.0 image, but you're deploying from `devel` (which is where the just-merged redis implementation lives - not that your install has a `redis` container, rather than a `rabbitmq` container).

see: #6392

Your options are:

Clone the 9.3.0 tag instead of devel: https://github.com/ansible/awx/releases/tag/9.3.0
If you want to use devel, use your own image until the next major versi

[2020-03-30 15:50] #6477 closed, assigned to nobody

[2020-03-30 15:54] ryanpetrello commented on #6479
related: https://github.com/ansible/awx/pull/6481

[2020-03-30 15:56] ryanpetrello commented on #6402
This looks like something we *explicitly* disabled on our end:

[code]

I don't expect there's a technical reason on the API side for disabling it - if I had to guess, it was probably to simplify the amount of configurability the UI would have to support.  I expect that if we just removed those lines, you all would have what you need.

[2020-03-30 15:58] wenottingham commented on #6475
This works on a very different model of inventory, and is not planned. (We actually had some fact comparison features in the codebase earlier that were removed due to practicality.)

It is *also* an incompatible license.

[2020-03-30 15:58] #6475 closed, assigned to nobody

[2020-03-30 16:02] appuk commented on #5970
Working as expected, hence closing the issue:
<img width="569" alt="Screen Shot 2020-03-30 at 12 01 31 PM" src="https://user-images.githubusercontent.com/11617351/77934530-36429380-727e-11ea-9cdf-414e474bbc01.png">
<img width="670" alt="Screen Shot 2020-03-30 at 11 41 27 AM" src="https://user-images.githubusercontent.com/11617351/77934416-0eebc680-727e-11ea-8398-0d95e8aa30ab.png">
<img width="573"

[2020-03-30 16:02] #5970 closed, assigned to ryanpetrello, appuk

[2020-03-30 16:08] lucasafonsokremer commented on #2350
+1

[2020-03-30 16:09] ryanpetrello commented on #5970
@appuk can we also verify that the other SSO integrations still work (to make sure our upgraded library version doesn't affect them)?

[2020-03-30 16:12] appuk commented on #5970
will do 👍

[2020-03-30 16:30] Slm0n87 commented on #1284
+1

[2020-03-30 16:46] chrismeyersfsu commented on #5947
Unable to recreate.

**Steps to recreate**
* Added account-wide github ssh key
* Add private github repo `ansible_private_project`
* Add private github role `ansible_private_role`
* Put `roles/requirements.yml` file in `ansible_private_project` that references private git repo `ansible_private_role`
* Call `ansible_private_role` from `main.yml` to verify
* Setup `Credential` --> `Source Control` i

[2020-03-30 17:35] ryanpetrello commented on #5443
Just a heads up @MrMEEE - 10.0.0 is out now, and includes this change.

[2020-03-30 17:38] MrMEEE commented on #5443
@ryanpetrello thanks.. A completely new build platform, CentOS8/RHEL8 support and the Redis changes are in the works.. I hope for a release after easter

[2020-03-30 17:40] ryanpetrello commented on #6391
Those of you encountering this issue in 9.3.0, would you mind giving the latest release (10.0.0) a whirl?  I expect some of you were running into deployment issues unintentionally mixing `9.3.0` and `devel`, and now that we've released 10.0.0 (which doesn't include RabbitMQ, but the new redis changes - https://github.com/ansible/awx/issues/5443), I expect this issue will be resolved for you.

[2020-03-30 18:12] kedark3 opened #6483 "tower_workflow_template does not respect tower workflow survey_spec"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In the tower_workflow_template module passing the survey_spec does not get correctly used.

##### ENVIRONMENT
* AWX version: 3.6.2
* AWX install method: setup_bundle tar ball deploying on a RHEL VM
* Ansible version:  2.9.6
* Operating System: RHEL
* Web Browser: not relevant

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

Survey is added to

[2020-03-30 18:25] kedark3 commented on #6483
Update: Tested against latest awx collection still doesn't work for me.

[2020-03-30 18:59] ryanpetrello commented on #6309
Yep, I can reproduce this.  Crazy that we've never noticed this before now cc @AlanCoding.

[2020-03-30 19:14] ryanpetrello commented on #5947
@chrismeyersfsu what if you:

1.  Set up a Project that is *public* (requires no SSH key auth to clone).
2. Give that project a `roles/requirements.yml` that references a _private_ git repo (that requires SSH auth).
3. Don't specify a `Source Control` credential on the project

[2020-03-30 19:16] dsesami commented on #6054
closed wrong issue in error; reopening, but testing this now.

[2020-03-30 19:32] dsesami commented on #6433
tested this out -- the admin button is gone, and you can assign roles normally now. thanks for the fix.

[2020-03-30 19:32] #6433 closed, assigned to jakemcdermott

[2020-03-30 19:37] dsesami opened #6485 "modal searches shouldn't be case-sensitive"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Tried to search for an Organization when creating a user. "default" doesn't return the "Default" organization. This should be case-insensitive. in addition, this ticket should involve going through similar searches and ensuring that they are case-insensitive.

[2020-03-30 19:47] dsesami commented on #6054
I can create a project normally as this user + the org page does not crash, and renders properly.

[2020-03-30 19:47] #6054 closed, assigned to jakemcdermott, unlikelyzero, dsesami

[2020-03-30 19:51] dsesami commented on #6317
It looks like this works without a hitch; I'll reopen if i see issues, but so far this does great. :+1:

[2020-03-30 19:51] #6317 closed, assigned to dsesami, AlexSCorey

[2020-03-30 19:51] dsesami commented on #5992
Link works, is enabled as expected :+1:

[2020-03-30 19:51] #5992 closed, assigned to marshmalien, dsesami

[2020-03-30 19:52] jlmitch5 commented on #6485
interesting @dsesami we should be appending the __icontains filter to any string-based search key. https://github.com/ansible/awx/blob/22307bba977704a6b738ce92b3b67f61fc3a6383/awx/ui_next/src/components/Search/Search.jsx#L89

I don't know why that's not appending for that key...it seems it should based on the code

[2020-03-30 20:18] ryanpetrello commented on #5947
I'm able to get this to hang on `devel`

[code]

![image](https://user-images.githubusercontent.com/214912/77957853-2177f700-72a2-11ea-9b63-0bb9bdb9dd04.png)

...but this makes sense, because I've specified an SSH clone in my `requirements.txt` (and by default, `ansible-galaxy install` seems to be performing host key checking).

[2020-03-30 20:30] ryanpetrello commented on #5947
Okay, I'm only able to reproduce this in the `ansible-2.10.0.dev0` of `ansible-galaxy`.  If I downgrade to `ansible==2.9.3`, the host key checking warning goes away.

[2020-03-30 20:44] ryanpetrello commented on #5947
It seems to me like the issue here is that `ansible-galaxy` doesn't actually **respect** `ANSIBLE_HOST_KEY_CHECKING`:

![image](https://user-images.githubusercontent.com/214912/77960133-be885f00-72a5-11ea-811c-741fa799f31d.png)

[2020-03-30 21:00] chrismeyersfsu commented on #5947
![image](https://user-images.githubusercontent.com/722880/77961280-9c8fdc00-72a7-11ea-9010-eabe5b2ddf67.png)
Was able to recreate.

I was not able to recreate at first because my private tower project was causing the host key to be known ad added to the `known_hosts` file. Later, when the `ansible-galaxy` command w/ a private role, living on the same `github.com` host; the remote host was known be

[2020-03-30 21:29] hardeaux commented on #5692
Same issue here - looking for best of both worlds where inventory/playbooks tracked in gitlab + ability for users to easily test their inventory branch changes with AWX before requesting merge.

glad there is already an issue opened - please fix.

-thanks

[2020-03-30 22:09] appuk commented on #5970
Google OAuth:
<img width="620" alt="Screen Shot 2020-03-30 at 3 31 08 PM" src="https://user-images.githubusercontent.com/11617351/77966017-41aeb280-72b0-11ea-9a21-b552aa884a8e.png">
<img width="478" alt="Screen Shot 2020-03-30 at 6 01 04 PM" src="https://user-images.githubusercontent.com/11617351/77966184-80446d00-72b0-11ea-9ba7-4db4bbc5ce1c.png">

<img width="228" alt="Screen Shot 2020-03-30 at 6

[2020-03-30 23:14] ryanpetrello commented on #5970
Awesome, thank you @appuk 🙏!

[2020-03-31 01:45] codesupremo opened #6492 "ISSUE: Call to /api/v2/job_templates/12/launch failed. POST returned status: 504."
##### ISSUE TYPE

 - Job Template Run - POST returned status: 504

##### COMPONENT NAME

 - API

##### SUMMARY

##### ENVIRONMENT
* AWX version: How to know the version? This is a newly installed AWX as well
* AWX install method: docker on Linux
* Ansible version:  2.9.6
* Operating System: CentOS 7
* Web Browser: Firefox

##### STEPS TO REPRODUCE
The issue will be reproduced when Launching the Jo

[2020-03-31 01:57] ryanpetrello commented on #6492
<img width="223" alt="image" src="https://user-images.githubusercontent.com/214912/77978957-58193600-72d1-11ea-800b-710056f6090c.png">

The "i" icon in the top right will show you the AWX version.  Can you share it?

[2020-03-31 02:27] MrBones757 opened #6493 "DB Errors 10.0.0 Post Upgrade"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Database errors following 10.0.0 upgrade

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: kubernetes
* Ansible version:  2.9.0
* Operating System: Ubuntu (Docker Host Base)
* Web Browser: Chrome Latest

##### STEPS TO REPRODUCE

Run AWX Upgrade from 9.3.0 - 10.0.0
Load AWX homepage (following login)
View Postgres DB Logs

##### EXPECTED R

[2020-03-31 02:27] AlanCoding commented on #6483
You put in `survey_enabled` twice with two different values. Could you check the API endpoint for it `/api/v2/workflow_job_templates/N/survey_spec/` to make sure it wasn't added but just disabled?

Also, `tower_workflow_template` relies on tower-cli, and is deprecated. We added a replacement module (v10.0.0, https://github.com/ansible/awx/pull/6291) `tower_workflow_job_template`, which does not us

[2020-03-31 03:50] ryanpetrello commented on #6493
@MrBones757 where are you seeing these errors?

[2020-03-31 04:00] ryanpetrello commented on #6493
Ah, I see, in the postgres container logs;  I can reproduce.  I'll upload a patch to resolve this - thanks for reporting.

The good news is that these logs aren't harmful, or causing an issue, they're just a little annoying/noisy (and will appear every time a new pod comes up or when certain AWX services restart).

[2020-03-31 04:05] MrBones757 commented on #6493
sorry for the slow reply
i should have mentioned the location & that they didn't seem to be causing any issues.
was more to check to make sure i wasn't missing anything / not testing something.

Thanks!

On another note - how should i go about getting in contact with you guys around a possible feature we might want to contribute to AWX to see if it'd be viable or not? Open a Feature issue?

[2020-03-31 04:06] ryanpetrello commented on #6493
@MrBones757,

Mind giving this patch a whirl?

https://github.com/ansible/awx/pull/6494

[2020-03-31 04:06] ryanpetrello commented on #6493
Yep, file an issue in this tracker.  Make sure you search a little first - it's possible somebody has already had the same idea and filed it.

[2020-03-31 04:29] MrBones757 opened #6496 "Feature: AWX Package Management / Auditing Functionality"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

In our organisation we use Tower / AWX for a majority of internal package deployments.
We're currently undergoing a review of existing tooling in this space and a suggestion was made to see if AWX / Tower can achieve this functionality.

I've had a look though previous issues and cant really see anything about this, though i may have searched some i

[2020-03-31 06:42] bushvin commented on #6478
I was hoping this would have answered that question:

Yes, I have used the documentation. It works quite well. But in doing so, any support that comes with the default venv on using that new venv is gone.

[2020-03-31 07:05] codesupremo commented on #6492
HI Ryanpetrello,

The version is AWX 9.3.0 and Ansible 2.9.5. Hope you can help me with this issue. Thanks2x

[2020-03-31 07:16] mooky31 commented on #6437
No problem 😄
Many thanks to you for looking after this bug !

I copied this file :
https://raw.githubusercontent.com/ansible/awx/059e7447745b11be146b8042c7cec118f19821eb/awx_collection/plugins/module_utils/tower_api.py

Result:
[code]

Good job ! 👍
And once again thank you.

[2020-03-31 07:16] #6437 closed, assigned to squidboylan

[2020-03-31 08:22] StepBee commented on #6492
@codesupremo the AWX 9.3.0 devel installation is broken, just install 9.2.0 or follow #6477 - i noticed in #6460 as well and got the recommendation.

[2020-03-31 08:35] codesupremo commented on #6492
Hi Stepbee,

Do you have the steps on downgrading it to 9.2.0? Thanks a lot

[2020-03-31 08:38] codesupremo commented on #6460
I'm getting the same issue as well. How to downgrade from AWX 9.3 to 9.2? Thanks a lot

[2020-03-31 08:50] StepBee commented on #6460
I haven't gone through downgrades yet and can't advice unfortunately

[2020-03-31 08:51] JonasKs opened #6498 "504 timeouts when fetching job_events for a running job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Having issues with 504 timeouts on `job_events` APIs for a given host when a job is running, e.g. `api/v2/hosts/1/job_events/`. Maybe due to deadlocks?

**EDIT**: We redeployed `awx_web` to see if we could make the APIs work again, still 504 timeout on every `api/v2/hosts/1/job_events/` request. Something is very wrong here.

##### ENVIRONMENT
* AWX ve

[2020-03-31 09:19] JonasKs commented on #6498
We increased the container timeout(previously 30 seconds) to 90 second timeout. We can now see the response from the API takes anything 45-65 seconds. However, this morning (when I woke up to all the alarms) the API responded in around 0.8 seconds. The task started, and we got the long request replies/timeouts again.

[2020-03-31 10:46] But4ler opened #6499 "ERROR: must be owner of database awx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have differents errors on postgres pod after one fresh install

##### ENVIRONMENT
* AWX version: 9.3
* AWX install method: kubernetes
* Ansible version:  2.9.4
* Operating System: Ubuntu 18.04
* Web Browser: Firefox / chromium

Helm postgresql chart: postgresql-8.3.0  (app version 11.6.0)

##### STEPS TO REPRODUCE
Inventory file
[code]

##### EXPECTE

[2020-03-31 10:59] aak1989 commented on #5443
Hey there, I installed AWX on kubernetes after redis was introduced , the installation compled with no issue but when i access the UI and try to do anything on the UI i get error related to api. i am attaching couple of screenshot of the error i am getting.
<img width="1286" alt="Screen Shot 2020-03-31 at 3 56 59 AM" src="https://user-images.githubusercontent.com/37220241/78018981-b9f29380-7303-11

[2020-03-31 12:31] endriu0 commented on #2271
+1
this would be very useful to have.

[2020-03-31 12:42] ryanpetrello commented on #6460
Alternatively, (instead of what @jakemcdermott recommended), I expect those of you encountering this issue may not experience it by upgrading to (newly released) version 10.0.0.

[2020-03-31 12:42] aak1989 commented on #5443
I have installed 10.0.0 version of AWX and that has resolved the above issue, however the AWX UI no longer appears to refresh automatically, For example, starting a job, the job always remains at pending unless you manually refresh the page. The job appears to stay in pending until the browser is manually refreshed.

[2020-03-31 12:44] aak1989 commented on #6391
Hey, i had a similar issue, i am running AWX on kubernetes, i used the 10.0.0 version and it's working for me, however AWX UI no longer appears to refresh automatically,The job appears to stay in pending until the browser is manually refreshed.

[2020-03-31 12:54] JonTheNiceGuy commented on #3472
I've [raised an issue (#ansible/68506)](https://github.com/ansible/ansible/issues/68506) on the ansible/ansible side of things, because there was an issue with the `ec2.py` dynamic inventory script, and I thought it was on their side... but it turns out this is part of a larger problem that the `ec2.py` script uses the boto library, which is depreciated, and there's an `aws_ec2` plugin instead tha

[2020-03-31 12:56] codesupremo commented on #6460
Yes, I'm trying to upgrade it now. :) Hopefully, It will work now after the upgrade

[2020-03-31 13:09] AdrianDutu opened #6500 "AWX 6.1 deployment fails on k8s 1.18"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
I need to deploy awx 6.1 on kubernetes 1.18.0.
I had a working setup on kubernetes 1.13. After updating kubernetes I can't deploy awx (with the same settings that were working before).

Is awx 6.1 supported on the latest versions of kubernetes? I get an error when the playbook has to apply the deployment.yml file.

`

[2020-03-31 13:49] mabashian opened #6501 "Centralize verbosity string/id map"
##### ISSUE TYPE
 - Task

##### SUMMARY
When the api gives us back a verbosity it's an integer from 0 to 4.  In several places we manually define a map like:

[code]

It's pretty likely that this map will be needed in more components to come.  Perhaps we should explore storing this map in a single place and importing it where needed.

Maybe something like: https://github.com/ansible/awx/blob/devel

[2020-03-31 13:57] unlikelyzero commented on #6383
Verified on 3.7 and added to a test stub

[2020-03-31 13:57] #6383 closed, assigned to nobody

[2020-03-31 14:28] ryanpetrello commented on #6500
Hey @AdrianDutu,

We don't generally address compatibility issues like this on older versions of AWX.  Are you able to reproduce the issue on more recent versions of AWX?

[2020-03-31 14:30] ryanpetrello commented on #6498
Hey @JonasKs,

Would you mind giving 10.0.0 a try?  I expect it might resolve this issue for you; others have reported similar issues here:

https://github.com/ansible/awx/issues/6391

[2020-03-31 14:36] ryanpetrello commented on #6478
@bushvin when you've created custom virtualenvs, which specific Python packages have you been installing to get the necessary support?

[2020-03-31 14:40] kedark3 commented on #6483
@AlanCoding thanks for the comment. I think I will try new way of doing things as you pointed out. I see that we may have had the conflicting `survey_enabled` in there, I tested it with corrected parameters and it worked. so we can close this issue.

[2020-03-31 14:40] #6483 closed, assigned to nobody

[2020-03-31 14:41] mick1627 commented on #5971
The issue is due to the character "&" used int the contact field for the givenName attribut.

CAn be closed

[2020-03-31 14:45] #5971 closed, assigned to nobody

[2020-03-31 14:45] JonasKs commented on #6498
Hi. We will deploy 10.0.0 and will report back ASAP. Cheers!

[2020-03-31 14:50] ryanpetrello commented on #6498
@JonasKs I'm gonna go ahead and close this a duplicate of #6391, because I very highly suspect you're encountering the same issue reported there.  If you see otherwise when you upgrade to 10.0.0, let me know and I'll take a peek.

[2020-03-31 14:50] #6498 closed, assigned to nobody

[2020-03-31 14:51] ryanpetrello commented on #6391
@aak1989 would you mind filing a new issue that describes your setup, and what you're seeing?

Thanks!

[2020-03-31 14:57] ryanpetrello commented on #5971
Thanks for following up, @mick1627!

[2020-03-31 14:57] SebastianThorn opened #6502 "[DOC] Missing information about "inputs" and ssh_key_unlock"
Hello,

i'm trying to user the API, but some info seems to be missing about what "inputs" is suppose to contain.

https://docs.ansible.com/ansible-tower/latest/html/towerapi/api_ref.html#/Credentials/Credentials_credentials_create
and
https://docs.ansible.com/ansible-tower/latest/html/towerapi/api_ref.html#/Organizations/Organizations_organizations_credentials_create

both say "Enter inputs using

[2020-03-31 14:58] AdrianDutu commented on #6500
As I said, I can't use a more recent version since 6.1 is the last version that uses openssh 6 and I can't make awx on openssh 7 use dsa keys. I had an issue opened for this but we didn't get to the bottom of  it.

[2020-03-31 15:01] ryanpetrello commented on #6500
@AdrianDutu it's _likely_ that AWX 7.x diverged on something in k8s installer support that would explain the breakage you're encountering on k8s upgrade, but I don't know what that change might be (given that the change history we're talking about here is 9+ months old at the point).

AWX is _very much_ a rapidly moving open source project, and we don't offer any sort of long term support for stab

[2020-03-31 15:04] jlmitch5 opened #6503 "All groups filter on groups list doesn't work for root groups (and display is bad)"
![Screen Shot 2020-03-31 at 11 01 02 AM](https://user-images.githubusercontent.com/1342624/78041652-f5f71a00-733e-11ea-8138-c3f9011c006b.png)

the current filter for root groups is parents__isnull = true.  the all groups filter (parents__Isnull = false) is actually showing all _but_ root groups.  we'll have to figure out another way to do that filter (possibly by just removing parents__isnull alto

[2020-03-31 15:08] #6500 closed, assigned to nobody

[2020-03-31 15:21] ryanpetrello commented on #5443
@aak1989 you've got HTTP 500 errors - can you share any errors you might see in the `awx_web` logs?

[2020-03-31 15:21] ryanpetrello commented on #5443
Also, could you file a _new_ issue describing what you're encountering?  Thanks.

[2020-03-31 15:25] mabashian opened #6504 "Ensure form error always shows up under all form fields"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
It looks like the form submit error is getting treated like a form field in the form grid:

<img width="1409" alt="Screen Shot 2020-03-31 at 11 20 04 AM" src="https://user-images.githubusercontent.com/9889020/78043802-ceee1780-7341-11ea-9511-81555dc54748.png">

Ideally, I think we want this element to appear under all the form fields:

<img width="1458

[2020-03-31 15:27] fosterseth commented on #6428
I also was not able to reproduce the ordering issue on local cluster. any reason to think it could be specific to openshift install?

[2020-03-31 15:36] dsesami commented on #5864
This is looking great. I've linked it so that the PR will close the issue on merge.

[2020-03-31 15:36] bushvin commented on #6478
Hi @ryanpetrello
the psrp connection plugin requires `pypsrp`

[2020-03-31 15:37] jakemcdermott commented on #6460
Yep, now that the devel branch has been updated so that it works, you can safely ignore https://github.com/ansible/awx/issues/6460#issuecomment-606074560 just do what @ryanpetrello described above. Best of luck!

[2020-03-31 15:40] AlanCoding commented on #3472
The inventory plugin isn't in ansible/ansible anymore either. The updated plan is https://github.com/ansible/awx/pull/6283, since the plugin moved to a collection, we will ship that collection and use the version from it.

We have logic written to use the aws_ec2 plugin, and as pointed out in your Ansible issue, the form of the inputs are expressed in a test:

https://github.com/ansible/awx/blob/d

[2020-03-31 15:49] ryanpetrello commented on #6478
@nitzmahone or @jborean93 either of you care to weigh in on this?

[2020-03-31 15:55] squidboylan commented on #6355
I'm closing this because https://github.com/ansible/awx/pull/6358 added unit tests that should catch regressions related to this

[2020-03-31 15:55] #6355 closed, assigned to squidboylan

[2020-03-31 16:06] #5864 closed, assigned to mabashian, dsesami

[2020-03-31 16:08] ryanpetrello commented on #6502
@SebastianThorn

Is this what you're looking for?

https://docs.ansible.com/ansible-tower/latest/html/userguide/credential_types.html#create-a-new-credential-type

[2020-03-31 16:13] squidboylan commented on #5177
https://github.com/ansible/awx/pull/6505 adds the demo playbook to our integration tests

[2020-03-31 16:37] SebastianThorn commented on #6502
yes, some of this it helpful,
but i think is should be referred from the api-docs.

[2020-03-31 17:31] #5177 closed, assigned to squidboylan

[2020-03-31 17:36] keithjgrant opened #6507 "Some ui_next test making network calls"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Some tests are making network calls. These should be stubbed out to increase test speed and reliability.

##### STEPS TO REPRODUCE

Stop all development servers and run ui_next test suite. ECONNREFUSED errors will appear for failed network requests.

![Screen Shot 2020-03-31 at 10 33 58 AM](https://user-images.githubusercontent.com/410794/78057389-803d

[2020-03-31 17:45] #6446 closed, assigned to AlexSCorey

[2020-03-31 17:53] ryanpetrello commented on #5946
@AlanCoding did this get resolved in https://github.com/ansible/awx/pull/6291?  If so, is it ready for `needs_test`?  If not, what work is left?

[2020-03-31 17:59] wenottingham commented on #6496
See also https://github.com/ansible/awx/issues/6475.

The way I'd suggest doing this now is based on facts and utilizing the fact cache. But generally, at a certain scale, the CMDB probably shouldn't be directly in the Tower inventory.

[2020-03-31 18:32] dsesami commented on #5865
@mabashian as part of this work, could you add an `Edit` button to the Details view of schedules? It feels like we should be able to visit the form from there.

[2020-03-31 18:40] AlanCoding commented on #5946
Yes, `tower_workflow_template` is deprecated, but did have the type changed, and we confirmed basic functionality.

`tower_workflow_job_template` is the replacement for that deprecated module, and also has survey_spec param, which is what we want people to use moving forward.

[2020-03-31 18:58] jakemcdermott commented on #6507
![wtf](https://user-images.githubusercontent.com/9753817/78064651-12f01500-7360-11ea-9cf4-8415444c8442.gif)

[2020-03-31 19:24] dsesami opened #6510 "Prompted fields on schedules are broken"
EDIT: see https://github.com/ansible/awx/issues/6510#issuecomment-692930141

##### ISSUE TYPE
- Bug/Feature-ish

##### SUMMARY
Follow-up to work in https://github.com/ansible/awx/issues/5859

See this screenshot:
![Screenshot from 2020-03-31 15-09-59](https://user-images.githubusercontent.com/19942822/78066651-5a2bd500-7363-11ea-909d-cacfb6ab0fc2.png)

"Prompted Fields" doesn't look like a header

[2020-03-31 19:25] dsesami commented on #5859
Works like a charm, including prompted fields. The only thing left is formatting the prompted fields header, which is going to be done in https://github.com/ansible/awx/issues/6510.

[2020-03-31 19:25] #5859 closed, assigned to mabashian, dsesami

[2020-03-31 19:52] dsesami opened #6511 "Searching for a blank string creates a blank search filter"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. Go to a search bar
2. Have the string be blank
3. Press enter or click the magnifying glass

##### EXPECTED RESULTS
Nothing at all.

##### ACTUAL RESULTS
![Screenshot from 2020-03-31 15-51-28](https://user-images.githubusercontent.com/19942822/78069116-919c8080-7367-11ea-9fee-e4e0137ed92f.png)

cc @jlmitch5 , this is probably up your alley.

[2020-03-31 19:54] dsesami commented on #5857
this, as all lists, suffers from the wrapping bug with DataListCells here: https://github.com/ansible/awx/issues/6351, but that is non-blocking.

Links works, sorts work.

Two things

1. When you click a hyperlink, it offers to take you "Back to Schedules", but it takes you to the schedules tab for that Job Template, as opposed to the overall schedules list. Should this be a "smart" back-link that

[2020-03-31 20:05] mabashian commented on #5857
1. _Maybe_.  I definitely see what you're saying.  We could definitely try to determine whether the user came from the all schedules list or not.  I think this is worth a follow-on issue.
2. Yea there probably are other fields that a user might want to search on.  Maybe enabled/disabled, searching on the various dates (created, edited, start datetime, etc).  It may also be helpful to give them a q

[2020-03-31 20:09] ghjm commented on #5790
Assuming this issue is on RHEL 7, this appears to be a platform issue, not an issue in the AWX code.  The default install of OpenLDAP on RHEL 7 includes, in `/etc/openldap/ldap.conf`, the config entry:
[code]
This points to a cert store specific to OpenLDAP, distinct from the system trust.  In Fedora this [has been changed](https://src.fedoraproject.org/rpms/openldap/c/bdec46fdafce949b88f36cb2055e

[2020-03-31 20:17] kedark3 commented on #6203
@blomquisg KK here, we'd like to know if there's a fix/workaround too :)

[2020-03-31 20:24] ryanpetrello commented on #5790
Spoke to @gamuniz, he said close it.

[2020-03-31 20:24] #5790 closed, assigned to nobody

[2020-03-31 20:33] jlmitch5 commented on #6073
as this enhancement is for lookup fields inside forms (which we refer to as lookups) and not list search bar (which does allow you to type and click enter to create the search), I've updated the text of the issue.

[2020-03-31 20:36] jlmitch5 commented on #5857
👍 those all sound like great search keys @mabashian

the date ones may? be blocked by https://github.com/ansible/awx/issues/6214 currently the search does not implement the date input element (but could be made as an enhancement).  that maybe should be a follow-up issue?  up to you

[2020-03-31 20:52] lucasafonsokremer commented on #1287
+1

[2020-03-31 21:13] cdggcali commented on #6406
@jakemcdermott there are products like Akamai's Global Traffic Management that are only capable of parsing XML files. Since XML is not supported and there are no plans to add additional formats (https://github.com/ansible/awx/issues/6274), the only way to use Akamai's GTM load balancer is to read the `/api/v2/ping/` as text file.

With the current output, we would not be able to differentiate whic

[2020-04-01 01:33] MrBones757 commented on #6496
Cheers for the feedback
I had suggested that these apps should be separate internally within my team, however floating the idea was still suggested to see if there were any other ideas / want for this integration.

For the purposes of application tracking and auditing though using the fact cache could be viable, though i havent thaught about how this would be implemented, id mainly gone with the A

[2020-04-01 01:37] ryanpetrello commented on #6175
Marking this low priority; it looks like it's an issue w/ the underlying `git-python` library related to clones that have `.gitmodules` (we don't have a conclusive reproducer yet, though).

[2020-04-01 01:59] ryanpetrello commented on #6424
This sounds more like potential fallout from the JT Organization change than anything.  @AlanCoding - anything spring to mind here?

[2020-04-01 03:08] AlanCoding commented on #6424
Could be, but I'm not seeing it now. It has got to be related to our very custom uniqueness enforcement. There's not any lower-level enforcement, I believe due to polymorphic limitations.

https://github.com/ansible/awx/blob/1e780aad38fd5822b27edd6234297de4992c0f7d/awx/main/models/projects.py#L248

The named URL feature was very specifically not supposed to have these problems. In the issue info h

[2020-04-01 07:00] CWollinger opened #6512 "Can't create job templates as project admin in AWX 10.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can't create job templates as project admin in AWX 10.0.0

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operating System: Ubuntu 18.04 LTS
* Web Browser: Firefox 70

##### STEPS TO REPRODUCE

1. Start AWX 10.0.0
2. Add a new user e.g. `test`
3. Go to the `Demo Project`
4. Add `test` as projec

[2020-04-01 11:52] SebastianThorn opened #6514 "Key from OpenSSL 1.1.1c FIPS 28 May 2019, is not accepted with passphrase"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When adding keys generated with OpenSSL 1.1.1c FIPS  28 May 2019, awx refuses the key saying: should not be set when SSH key is not encrypted.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker
* Ansible version:
ansible 2.9.6
  config file = None
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansibl

[2020-04-01 12:15] ryanpetrello commented on #6514
@SebastianThorn

Could you paste an example _full_ key you've generated which encounters this bug (it doesn't have to be a real key you're using, just something you've generated with `OpenSSL 1.1.1c FIPS 28 May 2019`)?

[2020-04-01 12:19] SebastianThorn commented on #6514
sure, @ryanpetrello
in the new version, the header is the same, regardless what cipher I use.

awx_ed25519_key:
[code]

awx_ed25519_key.pub
[code]

[2020-04-01 12:29] ryanpetrello commented on #6514
@SebastianThorn I'm having trouble reproducing this.  Maybe it only happens on a FIPS-enabled RHEL8?

![Kapture 2020-04-01 at 8 27 47](https://user-images.githubusercontent.com/214912/78137152-cdc8f300-73f2-11ea-8c95-7c718ede7bc6.gif)

[2020-04-01 12:45] SebastianThorn commented on #6514
@ryanpetrello
Shame on me is due here, user-error, works as intended,
i mixed up my keys here.
Sorry for wasting your time.

[2020-04-01 12:45] #6514 closed, assigned to nobody

[2020-04-01 12:46] ryanpetrello commented on #6514
Hey @SebastianThorn,

No problem - glad we got to the bottom of it 😄

[2020-04-01 12:50] ryanpetrello commented on #6424
This definitely looks like a recent regression; I can't reproduce on an older version of AWX:

<img width="947" alt="image" src="https://user-images.githubusercontent.com/214912/78138928-ade6fe80-73f5-11ea-8ca5-bb29bdff86a5.png">

[2020-04-01 12:51] ryanpetrello commented on #6424
Hrm.

Here's `devel`:

<img width="976" alt="image" src="https://user-images.githubusercontent.com/214912/78139097-f7cfe480-73f5-11ea-853f-36862d1efc72.png">

[2020-04-01 12:53] ryanpetrello commented on #6424
I can't reproduce this on an older version of AWX:

<img width="665" alt="image" src="https://user-images.githubusercontent.com/214912/78139304-47aeab80-73f6-11ea-9d3d-07a3f56dabb4.png">

[2020-04-01 12:54] ryanpetrello commented on #6424
Actually, I can't reproduce it against `devel` either:

<img width="717" alt="image" src="https://user-images.githubusercontent.com/214912/78139367-6614a700-73f6-11ea-84a9-34bb83b49395.png">

I even tried:

1.  Create name=FOO, org=1
2. Create name=FOO, org=null
3. PATCH #1 to set the org to null

<img width="592" alt="image" src="https://user-images.githubusercontent.com/214912/78139676-e3401c00-

[2020-04-01 13:02] LohitashwaIBM commented on #6075
Is there a tentative timeline by which this feature will be addressed ? Or is there a way I can increase the priority of this feature to be considered for immediate action ?

[2020-04-01 13:02] atlekberg opened #6517 "Slack integration fails with invalid_auth for notifications"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Slack integration fails with invalid_auth for notifications.

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: Ubuntu 18.04.4
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

Slack credentials created by adding new configuration to the "Incoming WebHooks" Slack App. Verifi

[2020-04-01 13:15] dsesami opened #6518 "Backlink when clicking a schedule should be aware of previous context"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Follow-up to https://github.com/ansible/awx/issues/5857
1. Visit the "Schedules" link from the navbar.
When you click a specific schedule, it offers to take you "Back to Schedules", but it takes you to the schedules tab for that Job Template, as opposed to the overall schedules list.

This shouldbe a "smart" backlink that distinguishes the two.

[2020-04-01 13:18] dsesami opened #6519 "Add more default search filters to schedules list"
##### ISSUE TYPE
 - Feature-ish bug

##### SUMMARY
Follow up to #5857
@mabashian:

@jlmitch5:

This should apply to schedule lists for JTs, WFJTs, Projects, and the overall schedules page.

[2020-04-01 13:19] dsesami commented on #5857
This is looking good, and the follow-up issues have been created. Closing it out.

[2020-04-01 13:19] #5857 closed, assigned to mabashian, dsesami

[2020-04-01 13:38] ryanpetrello commented on #6424
Okay, I'm stumped.  I can't make this happen/reproduce it myself, but @nixocio clearly has been able to with @jbradberry's import/export PR.

I doubt this was *introduced* by @jbradberry's PR, because to my knowledge, he's not really changed anything on the API side - I expect there's some latent API validation bug that's existed, and we've just never noticed before now.

Either way, we need to re

[2020-04-01 13:49] nixocio commented on #6424
Just to add a bit more of context. This was raised when populating AWX with projects to test the export feature. Running the same test over and over again. Ended up with this scenario.

An existent script previous part of the upgrade test was used to populate AWX.

[2020-04-01 14:20] dsesami commented on #5760
While this one is _usable_, I'm going to have to ask if there's a better solution for large amounts of tags -- it actually pushes the entire page upwards when you scroll and looks really weird. can we make it so the tag dropdown itself scrolls?

![Screenshot from 2020-04-01 10-19-22](https://user-images.githubusercontent.com/19942822/78148101-6f0b7580-7402-11ea-86f6-5559bacafb3a.png)

[2020-04-01 14:37] appuk opened #6520 "Logout button on the API for ui-next does not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Click on the logout button on the API for ui-next makes a get request instead of a post request, due to which an error is thrown

##### STEPS TO REPRODUCE
1. https://localhost:3000/api
2. click on the logout button
<img width="352" alt="Screen Shot 2020-04-01 at 10 28 17 AM" src="https://user-images.githubusercontent.com/11617351/78149937-98c59c00-7404

[2020-04-01 14:39] jwlogemann opened #6521 ""source" button in smart inventory has disappeared"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
According to the documentation here: https://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html#amazon-web-services-ec2  you can add EC2 hosts via the "source" button in the smart inventory page.

However in AWX 9.1 that  "source" button in smart inventory has disappeared.

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method:

[2020-04-01 14:56] dsesami commented on #5760
Above comment is handled in https://github.com/patternfly/patternfly/issues/2819. Closing this out.

[2020-04-01 14:56] #5760 closed, assigned to marshmalien, dsesami

[2020-04-01 15:00] dsesami opened #6523 "Workflow Details improvements"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This comprises of three small style issues:
![Screenshot from 2020-04-01 10-53-42](https://user-images.githubusercontent.com/19942822/78151986-38842980-7407-11ea-9ad2-06b8bb4e0edf.png)

Follow-up to https://github.com/ansible/awx/issues/5814

1. The options list isn't very intuitive in the WF Details page. It feels like this should say something like "

[2020-04-01 15:01] dsesami commented on #5814
Re: functionality, this works great! Thanks so much.

I've added some style-cleanup for this page in this issue: https://github.com/ansible/awx/issues/6523

[2020-04-01 15:02] #5814 closed, assigned to dsesami

[2020-04-01 15:45] wenottingham commented on #6075
Not at this time, no. This is the only request, and it's a closed source solution we cannot easily integrate with

Given that the product itself has been deprecated by the vendor (https://support.oneidentity.com/product-notification/noti-00000476), I would say we have no plans to add an integration here.

If you need this locally, you can follow the process here (https://github.com/ansible/awx/blo

[2020-04-01 15:45] #6075 closed, assigned to nobody

[2020-04-01 17:01] planeturban opened #6524 "Failed node in WFJT fails all hosts."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

If one node in a WFJT fails, all hosts in the inventory is redirected to the node's fail link.

##### ENVIRONMENT
* AWX version: 9.3
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: Centos7
* Web Browser: N/A

##### STEPS TO REPRODUCE

Inventory with two hosts: testhost1 and testhost2
Template that fails testhost1:

[2020-04-01 17:19] jakemcdermott commented on #6521
The section of documentation you linked is for regular inventories, not smart inventories. To my knowledge, the `sources` tab has only ever been something you can access on a regular inventory.

Have you actually observed a `sources` tab on a smart inventory in a prior version?

[2020-04-01 17:45] dsesami commented on #5907
Facts do not render properly when viewed unless interacted with.

Before clicking and dragging on the facts:
![Screenshot from 2020-04-01 13-44-05](https://user-images.githubusercontent.com/19942822/78169082-dfc08b00-741e-11ea-9ae4-31d652964065.png)

After:
![Screenshot from 2020-04-01 13-44-32](https://user-images.githubusercontent.com/19942822/78169177-fff04a00-741e-11ea-97c8-34823e90b182.png)

[2020-04-01 17:49] dsesami commented on #5907
putting back in needs_devel after speaking with @jlmitch5 about it.

[2020-04-01 19:00] dsesami commented on #5902
This is looking really good. Closing this out.

[2020-04-01 19:00] #5902 closed, assigned to jlmitch5, dsesami

[2020-04-01 19:44] squidboylan commented on #6357
I confirmed that devel and https://github.com/ansible/ansible/pull/68520 both work using a custom_virtualenv for a job template

[2020-04-01 20:02] dsesami commented on #6380
Ran A/B testing on this for the commits; the modal opens and renders correctly

[2020-04-01 20:02] #6380 closed, assigned to jakemcdermott, dsesami

[2020-04-01 20:15] dsesami commented on #6086
Organization renders normally on the project form, no apparent issues. :+1:

[2020-04-01 20:15] #6086 closed, assigned to mabashian, dsesami

[2020-04-01 20:21] one-t opened #6527 "Don't return different fields for smart vs non-smart inventories"
Issue fixed by https://github.com/ansible/awx/pull/6489

[2020-04-01 20:27] dsesami commented on #5991
The launch button works! and the logic for enabling/disabling works. However, there's no error handling visible for broken template. The launch button is disabled, but we aren't told why. I will be creating a separate issue for that.

[2020-04-01 20:27] #5991 closed, assigned to marshmalien, dsesami

[2020-04-01 20:28] lucasafonsokremer commented on #4445
FYI, similar behavior with AWX 9.3.0:

`changed: [localhost -> localhost] => (item=9.3.0)
[WARNING]: The value of the "source" option was determined to be "pull". Please set the "source" option explicitly. Autodetection will be removed in Ansible 2.12.`

[2020-04-01 20:28] kdelee commented on #6493
@ryanpetrello looking at new instances we no longer see these errors in the logs, thanks for taking care of that. Calling this verified

[2020-04-01 20:28] #6493 closed, assigned to ryanpetrello, kdelee

[2020-04-01 20:31] dsesami opened #6528 "WF viz needs error handling"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Create a template where one of the nodes is a broken JT, missing an inventory that got deleted or something.

I made one that looks like this:
![Screenshot from 2020-04-01 16-26-30](https://user-images.githubusercontent.com/19942822/78183359-c5de7280-7435-11ea-99c5-e70bbed09dc5.png)

The launch button is disabled, but we aren't told why. Clicking save

[2020-04-01 20:31] dsesami commented on #5991
https://github.com/ansible/awx/issues/6528 as a follow-up

[2020-04-01 20:33] darknao opened #6529 "Add support for Gogs webhooks"
##### ISSUE TYPE
 - Feature request

##### SUMMARY
Add support for webhooks from [Gogs](https://gogs.io/).
[Gogs webhooks](https://gogs.io/docs/features/webhook) are quite similar to github ones, except the  signature use hmac-sha256.

[2020-04-01 20:43] marshmalien opened #6530 "Extend WF Node View modal details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Part of: https://github.com/ansible/awx/issues/5997

The Node Modal Detail should show a mini details page with prompt values _overlayed_. Initial work has been done in https://github.com/ansible/awx/pull/6490. Project Sync details are done, but we need to add Job Template, Workflow Job Template, and Inventory Source details.

Prompt values won't sho

[2020-04-01 20:44] one-t commented on #6527
Verified on devel by creating a smart inventory and running `awx-manage gather_analytics`

[2020-04-01 20:44] #6527 closed, assigned to wenottingham, one-t

[2020-04-01 20:52] kdelee commented on #6309
OK, so you fixed a related bug....but maybe not the same bug I was thinking of

[code]

[2020-04-01 20:54] kdelee commented on #6309
@ryanpetrello commented that script up there...let me know what you think

[2020-04-01 23:29] sugitk opened #6531 "[RFE] Workflow approval requests should have a job ID"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

<img width="532" alt="スクリーンショット 2020-04-02 8 20 21" src="https://user-images.githubusercontent.com/2234991/78195865-aee26380-74bb-11ea-900e-6475a9c9b9fe.png">

The user cannot distinguish the waiting approval to proceed.  I suppose the job ID of the workflow is needed on each of these item.

[2020-04-02 00:42] mvineza opened #6532 "AWX Job not started"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have AWX running inside kubernetes. The components (web and task) connects to postgresql. All of them are containers running as kubernetes pods. For 2 months that setup is running fine without connection issues between the pods.

web (pod) --> postgres (pod)
task(pod) --> postgres (pod)

Due to lack of persistent storage in kubernetes cluster for pos

[2020-04-02 00:49] wenottingham commented on #6531
@mabashian is this a quick fix we can do?

[2020-04-02 02:05] codesupremo commented on #6460
Guys, I tried to install the latest release which is 10.0.0. But, AWX is Upgrading (from browser) for like 8hrs now. Did you encounter it? How to resolve it as well?

[2020-04-02 02:11] jakemcdermott commented on #6532
Hello. Thanks for making this issue.

You don't need to use `pgpool` to use an external database. You're certainly welcome to do it but adding a layer of middleware to pool database connections is a significant change to the system and you're on your own for keeping it working.

The installer will work with _an_ external database automatically, you can see the specific `pg_*` inventory variables y

[2020-04-02 02:11] #6532 closed, assigned to nobody

[2020-04-02 09:30] lukepafford commented on #5304
Should this issue really be closed? I've spent the entire day on this and I'm receiving the same error as the original poster. This [reddit post](https://www.reddit.com/r/ansible/comments/b0die2/awx_callbacks_failing_that_no_matching_host_could/) also talks about the issue and what he attempted to do to fix it.

If the feature really does work, then the docs are leading quite a few of us into the

[2020-04-02 09:36] darrenjones24 commented on #5304
If it is any help, I found that putting the node IP addresses inthe PROXY_IP_WHITELIST helps:

`kubectl describe  pod  -n namespace |grep IP: | awk '{print $2}'

 curl -v -X PATCH 'https://user:pass@hostname/api/v2/settings/system/'     -d '{"PROXY_IP_WHITELIST":["xxxxxxxx"]}' -H 'Content-Type:application/json'`

[2020-04-02 10:32] grahamn-gr opened #6534 "Job Details Intermittently Missing Output lines"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When checking the job output you can see that the job is sometimes missing lines

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: openshift
* Ansible version:  Any (2.4.3.0, 2.7.6, 2.9.0)
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Run a job a few times and check output

##### EXPECTED RESULTS

Able to see all the lines

[2020-04-02 10:33] grahamn-gr commented on #6534
Can see here between lines 4 to 14 there are just three dots. If I click on the down arrow on line 4 it doesn't make any difference.
If it download the log as a text file it shows the same problem

[2020-04-02 11:41] grahamn-gr opened #6535 "Project updates aren't pulling the latest commit"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When performing a project update on an existing project it's not pulling the latest commit.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: openshift
* Ansible version:  NA
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create a new project to point to a Git branch, take note of the revision and the commit in your branch

[2020-04-02 12:05] grahamn-gr opened #6536 "Running template module in AWX 10.0.0 produces different results from AWX8.0.0 when using the same virtual environment"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When using AWX 10.0.0 to call the Ansible template module AWX 10.0.0 produces different results than AWX 8.0.0. This is when using the same virtual environment. When using the template module against a output file that already exists AWX 10.0.0 will report the output file has changed, when doing this against AWX 8.0.0 the file isn't changed.

It seems

[2020-04-02 12:38] jwlogemann commented on #6521
I was under the impression that smart inventories were for dynamic inventories and regular inventories were for lists of hosts, but apparently not.

[2020-04-02 12:38] #6521 closed, assigned to nobody

[2020-04-02 12:41] jwlogemann opened #6537 "ec2.ini can't be configured in AWX"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
To pull in a list of hosts from EC2 I need to setup the ec2.ini correctly to only get the information I need. However the AWX developers have cleverly hidden this file, and not documented how to edit it, so it's impossible to get a list of hosts from EC2

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method: docker on linux
* Ansible version:  2

[2020-04-02 13:00] jwlogemann opened #6538 "document "Source Variables" in Source page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The "source variable" field is basically undocumented now. There is a popup that links to an ec2.ini file, which returns a 404.

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method: docker on linux
* Ansible version:  2.8
* Operating System: Centos 7.7
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Go to source page, click on question mark n

[2020-04-02 13:05] ryanpetrello commented on #6537
Hey @jwlogemann,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-04-02 13:05] #6537 closed, assigned to nobody

[2020-04-02 13:47] codesupremo opened #6539 "AWX is Upgrading..... Issue"
##### ISSUE TYPE
 - AWX is Upgrading... (from Browser)

##### SUMMARY

AWX is Upgrading... and it is taking a very long time, for more than a day now and still not finished.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker
* Ansible version:  2.9.3
* Operating System: CentOS7
* Web Browser: Firefox in Ubuntu 18.4

##### STEPS TO REPRODUCE

When Accessing the AWX GUI — It’s stu

[2020-04-02 13:49] megakoresh commented on #3036
Closed in favor of https://github.com/ansible/awx/issues/2637

[2020-04-02 13:49] #3036 closed, assigned to nobody

[2020-04-02 13:52] megakoresh commented on #2637
This resolves also use-case with logging aggregators, since docker would handle formatting, so e.g. in fluentd you don't need to build regexes to parse the output anymore

[2020-04-02 13:57] dsesami opened #6540 "Job Template Description API character limit does not seem to exist"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
You can make a job template description that is 23000 characters long. This seems a bit excessive. It would be nice to have the API enforce a character limit.

##### REPRODUCTION STEPS
1. Open a new job template form
2. Make an absurdly long description with copy/paste

Expected: A limit of like, 100-200 characters
Actual:
![giphy (5)](https://user-ima

[2020-04-02 14:25] But4ler commented on #6499
Workaround: Use posgres user and not awx user

For that, update the helm chart for set the posgres password
Value of 9.3.0-postgres-value-prp.yaml
[code]

helm upgrade --install awx-prp-postgresql --namespace awx-prp --version="8.3.0" --values 9.3.0-postgres-value-prp.yaml stable/postgresql

Update BDD password:
[code]
Update posgres variable in the inventory file
pg_username=postgres
pg_password=

[2020-04-02 14:37] appuk commented on #5946
Verified that the `tower_workflow_template_ module` works with a survey spec using the playbook specified above
the playbook ran successfully
[code]
and a new WFJT is created with the survey
<img width="1184" alt="Screen Shot 2020-04-02 at 10 36 13 AM" src="https://user-images.githubusercontent.com/11617351/78261893-d3dfd200-74cd-11ea-82a4-4dc604b1c08c.png">

It is working as expected, hence closi

[2020-04-02 14:37] #5946 closed, assigned to AlanCoding, appuk, beeankha

[2020-04-02 15:14] wbieniek opened #6543 "AWX version 10 Crashes with 12 or more pods running"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Initially scale OpenShift AWX cluster to 12 pods without any issue, then try to add one more pods, which started successfully, but AWX GUI stop responding with the following error:

Server Error
A server error has occurred.

#### ENVIRONMENT
* AWX version: 10
* AWX install method: openshift
* Ansible version:  2.9.5
* Operating System:
* Web Browser: C

[2020-04-02 15:27] chrismeyersfsu commented on #6534
@grahamn-gr can you include any error output of `awx_web` and `awx_task` from the openshift container logs? I suspect awx is having trouble connecting to redis. This PR https://github.com/ansible/awx/pull/6542 might fix your issue.

[2020-04-02 15:28] dsesami commented on #5908
@jlmitch5 I am currently unable to add or edit the groups list for a host, despite having 3 groups existing in the inventory. is there something I need to do to enable that?

[2020-04-02 15:32] ryanpetrello commented on #6543
Looks to me like your postgres is running out of connections cc @chrismeyersfsu @elyezer

[2020-04-02 15:37] ryanpetrello commented on #6536
@grahamn-gr,

Are you _certain_ you're using the same Ansible version in both environments?  This data structure comes from Ansible itself, so if it's changing in a major way, that suggests to me that the Ansible versions aren't the same.

[2020-04-02 15:38] wenottingham commented on #6529
Ideally this would be done in a way that it could reuse the existing code/creds, rather than needing new ones for each minor forge.

[2020-04-02 15:48] dsesami commented on #5908
reassigning to @unlikelyzero as he was already working on related things + involved. yall should coordinate to ensure all the different levels of functionality are in a branch you can validate wholesale. :+1: sounds like you need to validate the list itself, then validate add/remove.

[2020-04-02 15:49] ryanpetrello commented on #6309
So, @kdelee initially when I looked at this, I thought about making it so that you *couldn't create* an Inventory Source without a `source` set, but I think that's the wrong approach, because _technically_ `source=''` **is** (or at least, at some point, *was*) a valid thing, as it's equivalent to a "Manual" inventory source.  Manual inventory sources are a thing that I _think_ are from a time long

[2020-04-02 15:51] ryanpetrello commented on #6309
I may need @AlanCoding, @matburt and/or @wenottingham to `<wave hands>` and explain the history and usage of manual inventory sources a bit more, as I'll admit I don't know a ton about them (or even if they're still especially relevant).

(see: https://github.com/ansible/awx/pull/6484#issuecomment-606189970)

[2020-04-02 16:06] wbieniek commented on #6543
Increasing postgres connections solved this issue
thank you

[2020-04-02 16:06] #6543 closed, assigned to nobody

[2020-04-02 16:08] ryanpetrello commented on #6543
@wbieniek

Do you know what the connection threshold was set to before and after your change?  Just curious if what you're encountering is more of an anomaly.  It's true that 10.0.x _will_ require more active connections because the dispatchers now use postgres as a sort of distributed queue (instead of RabbitMQ).

[2020-04-02 16:12] wbieniek commented on #6543
it was set to 100. I increased to 500.
current connection with 14 pods
postgres=# select max_conn,used,res_for_super,max_conn-used-res_for_super res_for_normal
from
  (select count(*) used from pg_stat_activity) t1,
  (select setting::int res_for_super from pg_settings where name=$$superuser_reserved_connections$$) t2,
  (select setting::int max_conn from pg_settings where name=$$max_connections$$

[2020-04-02 16:13] wbieniek commented on #6543
postgres=# SELECT
now() - query_start as "ELAPSED_TIME",
usename as "USERNAME",
datname as "DBNAME",
wait_event as "EVENT",
substR(query, 1,34) as "SQL_Text"
FROM
pg_stat_activity
WHERE
state != 'idle'
ORDER BY 1 DESC limit 20;
 ELAPSED_TIME | USERNAME |  DBNAME  | EVENT |          SQL_Text
--------------+----------+----------+-------+-----------------------------
 00:00:00     | postgres | postgr

[2020-04-02 16:15] ryanpetrello commented on #6543
Yea, for a cluster this size, 100 connections is probably just too few.  Even though they're pooled, there _are_ a number of persistent services running on each node - servicing HTTP requests, the dispatcher workers that run playbooks, the callback receivers that persist stdout into the database.  Multiply those `x14` and it's easy to see how you could break 100.  This is especially true if you're

[2020-04-02 16:19] kdelee commented on #6309
Becoming convinced....as it is app wide behavior to ignore unused arguments (in this case, `id`)....and that for "historic" reasons that `source` has a default of `''` and that this means a manual inventory source.....acceptable.

Will wait on the history but leaning towards calling this verified.

Wonder if a "manual" inventory source is when you do `awx-manage inventory_import --inventory-name H

[2020-04-02 16:29] unlikelyzero commented on #3522
Adding this to ui_next. Note: we do not have sorting columns on this view so this bug may be closed on launch

[2020-04-02 16:35] unlikelyzero commented on #6540
@wenottingham @benthomasson can we get an avg description length from AA?

[2020-04-02 16:43] unlikelyzero opened #6544 "When creating a new resource, if a user selects a required form element and clicks Cancel, form validation is applied and form is not closed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When creating a new resource, if a user selects a required form element and clicks Cancel, form validation is applied and form is not closed or cancelled

##### ENVIRONMENT
* AWX version: 10.0

##### STEPS TO REPRODUCE
1. Create a new resource with a required form element (i.e. Inventory)
2. Select any required field (like name)
3. Click close
Note: Fo

[2020-04-02 17:00] AlexSCorey opened #6546 "Refactor WFJT Form"
##### ISSUE TYPE
-improvement
##### SUMMARY
WFJT Form is really confusing and needs to be refactored.  It works, as expected so no bug perse.

##### ENVIRONMENT
* AWX version: 2.10
* AWX install method:  docker for mac
* Ansible version:  9.3
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

no bug.  Just improve the way we are managing the values of all the different fie

[2020-04-02 17:20] fosterseth commented on #6535
Was not able to replicate this issue on awx 10.0.0 (non cluster install)

My revision always updates to the latest branch revision (via manually running project update, or by launching job with Update Revision on Launch checked)

[2020-04-02 17:29] ryanpetrello commented on #6535
I also can't replicate this.

[2020-04-02 17:50] grahamn-gr commented on #6536
Hi @ryanpetrello,

I'm sure. I'm using virtualenv "gr_awx_ansible_2_4_3_0" on both instances.
I have a prod instance running now with 8.0.0 and a uat version running 10.0.0. I've extracted the pip list when in the virtualenv and the Ansible versions are the same.

I've pointed my job template to use the virtualenv on both instances however with 10.0.0 I see differences to templated files.

AWX 8.0

[2020-04-02 17:56] AlanCoding commented on #6309
https://github.com/ansible/awx/issues/5963#issuecomment-591214527

https://github.com/ansible/awx/blob/cfb633e8a643b0190fa07b6204b339a1d336cbb3/awx/main/migrations/_inventory_source.py#L8-L17

----

To me, the problem is that it was only half-way removed when it should have been fully removed, and because of that, no one can figure out if it's safe to remove the other half.

Removal requires a sch

[2020-04-02 18:00] geerlingguy commented on #5564
I like this feature request; for some of my projects, I like being able to track when changes are reported over time, and having this at a glance would be very nice to have; jobs that are always reporting changes (thus would always be yellow) are jobs that either are working on servers that need to be locked down better, or jobs that need to have their playbook rewritten in a way that ensures idem

[2020-04-02 18:10] chrismeyersfsu commented on #6539
@codesupremo can you supply the docker logs i.e. `docker logs -f awx_task` `docker logs -f awx_web`

[2020-04-02 18:42] marshmalien commented on #5636
cc @rooftopcellist

[2020-04-02 18:58] dsesami commented on #4748
Testing on this was completed during the passthrough of https://github.com/ansible/awx/pull/5287 -- future work is already defined in other issues, so closing this one out.

[2020-04-02 18:58] #4748 closed, assigned to jlmitch5, dsesami

[2020-04-02 19:04] wenottingham commented on #6536
can you confirm via the events that your 10.0.0 case is *actually* running the ansible in the venv (and not the system one)?

[2020-04-02 19:05] nixocio commented on #1668
See: https://github.com/ansible/awx/pull/6337

What is the difference between this issue and https://github.com/ansible/awx/issues/1761 @rebeccahhh ?

[2020-04-02 19:32] rebeccahhh commented on #1668
@nixocio they're different asks, labels are included in API endpoints for job updates. This person wants to have the labels available in job events too, if I'm not mistaken. This probably won't be something we do.

[2020-04-02 19:32] wenottingham commented on #1668
Just to comment: the labels have been in the activity stream for the *job* for a while now - in 3.6 at least, and possibly longer.

They will not be added to job_events.

Closing this as working as designed.

[2020-04-02 19:32] #1668 closed, assigned to nixocio, rebeccahhh

[2020-04-02 20:00] dsesami commented on #6061
This is looking great. Selectors are also in place for E2E -- closing this issue out as complete.

[2020-04-02 20:00] #6061 closed, assigned to marshmalien, dsesami

[2020-04-02 20:00] unlikelyzero opened #6549 "Not all Associated Groups are displayed on Inventory / Hosts / Groups page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Not all Associated Groups are displayed on Inventory / Hosts / Groups page

##### ENVIRONMENT
* AWX version: 10.0

##### STEPS TO REPRODUCE
TBD

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

<img width="1919" alt="Screen Shot 2020-04-02 at 12 51 33 PM" src="https://user-images.githubusercontent.com/12446869/78296047-0eac2f

[2020-04-02 20:02] grahamn-gr commented on #6536
From my 10.0.0 environment if I turn on the most verbose logging I see this:

![image](https://user-images.githubusercontent.com/35037942/78294668-a83b0700-7522-11ea-84a2-71c06c645dc8.png)

for the actual task that calls the template module I'm seeing this:

[code]

Compare this to the AWX 8.0.0 host:

![image](https://user-images.githubusercontent.com/35037942/78295571-411e5200-7524-11ea-8558-08d

[2020-04-02 20:10] nixocio commented on #1761
This one was manually verified.

![image](https://user-images.githubusercontent.com/9053044/78283225-7e1a2280-74eb-11ea-9714-0f05975658be.png)

[code]

[2020-04-02 20:10] #1761 closed, assigned to nixocio, rebeccahhh

[2020-04-02 20:38] grahamn-gr commented on #6534
Here's the logs from awx-task, at the point of starting the job and refreshing the screen to actually see output. That's another issue I've noticed the job output doesn't automatically scroll.

[code]

And here's awx-web

[code]

[2020-04-02 20:44] grahamn-gr commented on #6534
I've applied #6542 to my installer and re-ran it, I see no change.

It looks to be the same file anyway:
[code]

The var "kubernetes_redis_config_mount_path" = "/usr/local/etc/redis/redis.conf"

[2020-04-02 21:47] RylandDeGregory opened #6552 "AWX collection v10.0.0: tower_* modules lack consistent auth parameters"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Some modules have a `tower_oauthtoken` parameter, and others don't, within the same version of the collection.

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: MacOS Catalina 10.15.3
* Web Browser: Google Chrome 80.0.3987.149 (Official Build) (64-bit)

##### STEPS TO REPRODUCE

[2020-04-03 07:43] grahamn-gr commented on #6535
I've double checked this again this morning.

Looks like the problem is that the page isn't always refreshing, when I force a hard load of the page (CTRL+F5) the revision text updates.

[2020-04-03 08:37] automaator commented on #515
@vvxxvvxx In order to resolve the issue you must install the python modules in the ansible/awx_task container.

login to ansible/awx_task and activate the venv    then install the modules in venv.

[2020-04-03 09:22] benapetr opened #6555 "Make it possible to easily launch multiple jobs by middle clicking rocket icon"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now when you click rocket icon it moves you to newly launched job, so if you are in the list of jobs and want to run let's say 3 jobs in a list of templates you can't right click -> open in new tab

<img width="1395" alt="image" src="https://user-images.githubusercontent.com/1560121/78344871-4a97d080-759d-11ea-95c8-eac9a8d42d34.png">

There is

[2020-04-03 09:23] benapetr commented on #6555
BTW I knwo I can make a workflow, but there are ad-hoc situations where this would be very handy

[2020-04-03 09:45] Huihuihh commented on #6371
I think https://github.com/ansible/awx/blob/devel/docs/websockets.md not clear enough
I get a connect like this
[code]
and could not get any response

[2020-04-03 10:11] local-master opened #6556 "Azure AD username mapings"
##### ISSUE TYPE
 - Change username mappings for Azure AD configuration

##### SUMMARY
At the moment when configuring Azure AD SSO the username is mapped as NameSurname. It would be nice to be able to change the mapping to a different attribute in Azure AD

[2020-04-03 12:07] benjaminhon commented on #1731
I notice the same behaviour, its a bit misleading

[2020-04-03 12:46] faraz opened #6557 "awx-cli workflow_job launch cannot specify inventory"
##### ISSUE TYPE
- feature parity

##### SUMMARY
 - workflows now allow to prompt for inventory (and credentials) at launch time. the `workflow_job launch` construct has no option to pass an inventory or credential to the workflow being invoked using awx-cli at launch time.

[2020-04-03 13:03] ryanpetrello commented on #6535
@grahamn-gr,

It sounds to me (based on other issues you've filed, like https://github.com/ansible/awx/issues/6534) like you're encountering issues with websocket connectivity/reliability.  Do you see any errors/warnings in your browser development console (also, what web browser are you using)?

[2020-04-03 13:03] #6535 closed, assigned to fosterseth

[2020-04-03 13:17] keilr opened #6558 "Add Ansible Role ansible-role-tower-config to awx collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add Ansible Role [ansible-role-tower-config](https://github.com/victorock/ansible-role-tower-config) to awx collection.

This role is very extensive and well structured. It would be great to see this role integrated into the awx collection. It is maintained by @victorock (Red Hat). The role has already several contributors (see PRs) and is actively u

[2020-04-03 13:18] keilr commented on #6558
@AlanCoding what do you think of this idea?

[2020-04-03 13:26] unbreakabl3 commented on #6473
Hello,
I found the solution. Each time we're triggering the job via REST API, we set the LIMIT attribute with the specific IP. Working like a charm :)
Thanks!

[2020-04-03 13:26] #6473 closed, assigned to nobody

[2020-04-03 13:43] mihoos commented on #750
**Thanks very much you all!!
Works for me too.**
In my case docker-compose network was overlap with one of vpn subnets.
AWX website was accessible from internal network but not behind vpn ;-)

My environment:
CentOS 8
Ansible AWX 9.3.0
Docker-compose version 1.25.4
Ansible 2.9.5
Docker version 19.03.8, build afacb8b

[2020-04-03 13:58] ryanpetrello commented on #6309
@kdelee I've opened a new PR that cleans up these old sources, and prevents them from being created entirely.

[2020-04-03 15:03] dsesami commented on #5033
@jlmitch5 and I conferred on this:

![Screenshot from 2020-04-03 10-51-55](https://user-images.githubusercontent.com/19942822/78375257-8bdab100-759a-11ea-8e41-1edd26258a07.png)

Currently:
- [x] Dropdown name is correct
- [ ] Search filter tag will be changed to match the dropdown name in @jlmitch5 's upcoming search PR (paste here)
- [ ] Column name will be changed in a PR here: https://github.co

[2020-04-03 15:04] AlexSCorey opened #6561 "WFJT Details Won't Load for users that do not have Add/Edit Permissions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If a `template.summary_fields.user_capabilities.edit: false` or  `template.summary_fields.user_capabilities.delete: false`
the WFJT details page won't load.

##### ENVIRONMENT
* AWX version: 2.9
* AWX install method:  docker for mac
* Ansible version:  9.3
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a wfjt with we

[2020-04-03 15:07] AlexSCorey commented on #6561
It is probably not actually blocked but working on this would be easier after #6333 merges

[2020-04-03 15:09] AlanCoding commented on #6558
I'm not totally against it, but it would need work.

Tricky part is maintaining the parameters. It's a burden to keep a schema of all the fields in code, because they have to be updated if something changes. We have been moving [towards a code generator](https://github.com/ansible/awx/blob/devel/awx_collection/tools/generate.yml) to produce the DOCUMENTATION string in the modules themselves, so th

[2020-04-03 15:17] ryanpetrello commented on #6517
@atlekberg

I'm having trouble reproducing this with my Slack account and token:

![image](https://user-images.githubusercontent.com/214912/78376483-677fd400-759c-11ea-93c6-a3789b988e0b.png)

![image](https://user-images.githubusercontent.com/214912/78376550-81211b80-759c-11ea-914a-64d3b718cb34.png)

![image](https://user-images.githubusercontent.com/214912/78376677-a6ae2500-759c-11ea-9d7a-bad6828

[2020-04-03 15:26] chrismeyersfsu opened #6563 "Workflow identifier field not respected on POST"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can not supply my own value for `identifier` on workflow job template node creation. I *can* PATCH to change the identifer.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE
* Create a wor

[2020-04-03 16:19] blomquisg commented on #6045
@chrismeyersfsu is this a dup of https://github.com/ansible/awx/issues/5947

[2020-04-03 17:19] wenottingham commented on #6524
That's not how it works - each playbook run in the workflow is an independent event. Each node could even have its own inventory.

[2020-04-03 17:19] #6524 closed, assigned to nobody

[2020-04-03 17:23] ryanpetrello commented on #6492
@codesupremo @StepBee,

I suspect you all ended up deploying a version of the 9.3.0 image with some of the newer code that landed in `devel` (representing our move from RabbitMQ to Redis).  The 504 you're encountering is likely because you've got code attempting to talk to RabbitMQ when it should be communicating with Redis (or vice-versa).  Would you mind trying a 10.0.0 deployment?  I expect it

[2020-04-03 17:25] trahman73 commented on #6561
Yes, showing Encrypted is our regular pattern.

[2020-04-03 17:25] codesupremo commented on #6492
Hi @ryanpetrello , Thanks for the help. It’s working perfectly fine now using the latest release 10.0.0 :)

[2020-04-03 17:32] ryanpetrello commented on #6492
Thanks for reporting back @codesupremo - I'm gonna close this one.

[2020-04-03 17:32] #6492 closed, assigned to nobody

[2020-04-03 17:37] ryanpetrello commented on #6045
This *does* look like a dupe of https://github.com/ansible/awx/issues/5947 to me, or at least like it would be resolved by the change we recently made; anybody here want to give this (merged) PR/patch a whirl?

https://github.com/ansible/awx/pull/6488/commits/140dbbaa7db5882d0a66f7f871c1f48ce2415767

[2020-04-03 18:08] ryanpetrello commented on #1513
@wenottingham this seems like this could get *really* noisy and expensive to generate?

[2020-04-03 18:19] wenottingham commented on #1513
I don't see how it's any noisier than the job activity stream.

[2020-04-03 18:41] mabashian commented on #5910
I'm gonna mark this as blocked until #5909 is done.  It possible that the implementation there will be 100% of what we need here and I don't want to duplicate effort.

[2020-04-03 18:52] StepBee commented on #6492
@ryanpetrello i can confirm my fresh installation of 10.0.0 works like a charm as well. Thanks!

[2020-04-03 18:53] StepBee commented on #6460
Yep, i con confirm it'S working like a charm with 10.0.0 fresh installation

[2020-04-03 18:57] wbieniek commented on #6543
will do, thank you

[2020-04-03 19:31] unlikelyzero opened #6571 "Z-depth or margin calculation of Search/Filter options in Select Group model incorrect"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Z-depth or margin calculation of Search/Filter options in Select Group model incorrect. When clicking on the dropdown toggle for Search/Filter option, blue highlighting is only displayed on 3/4s of selected element. Shadow mask of dropdown elements is partially displayed.

##### ENVIRONMENT
* AWX version: 10.0.0

##### STEPS TO REPRODUCE
1. Navigate to

[2020-04-03 19:42] mabashian commented on #4615
Probably want to use this specifically: http://patternfly-react.surge.sh/documentation/react/components/select#typeahead

[2020-04-03 20:00] mabashian opened #6573 "Inventory Source List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Link to mockup: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-sources/

Things that we need to support in this list:

Rows should display the name and type.

In the old UI, we also show an icon next to the name that is gray (hasn't been sync'd yet), green pulsing (sync running), green (successful sync) and red (error/fa

[2020-04-03 20:01] mabashian opened #6574 "Inventory Source Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Link to mockup: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-sources-detail/

This is going to be similar to projects in that there are lots of different types of sources all with different fields.

[2020-04-03 20:03] mabashian commented on #6574
We may want a sync button on this view(?)

[2020-04-03 20:04] mabashian opened #6575 "Inventory Source Add Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Link to mockup: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-sources-add/

This is a form like projects or credentials where there's a `type` and a subform that's shown when the type is selected.

Source Subforms
- Sourced from a Project
- Amazon EC2
- Google Compute Engine
- Microsoft Azure Resource Manager
- VMware v

[2020-04-03 20:07] mabashian opened #6576 "Inventory Source Edit Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Link to mockups: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-sources-edit/

See #6575

Going to mark this as blocked until #6575 is ready

Source Subforms
- Sourced from a Project
- Amazon EC2
- Google Compute Engine
- Microsoft Azure Resource Manager
- VMware vCenter
- Red Hat Satellite 6
- Red Hat CloudForms
- OpenS

[2020-04-03 20:21] unlikelyzero opened #6577 "Dissociating an inherited group from a host results in an inert action"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Dissociating an inherited group from a host results in an inert action.

##### ENVIRONMENT
* AWX version: 10.0.0

##### STEPS TO REPRODUCE
1. Create an indirect, inherited group relationship to a Host
i.e. 'All Group' has a child group named 'Small Group'. Associate 'Host A' with 'Small Group' and 'All Group'.
2. On the 'Hosts / Host A / Groups' Page,

[2020-04-03 20:28] mabashian commented on #6113
Marking this as blocked until we upgrade PF - unless I'm mistaken and we already have access to this.  I'm thinking about bringing us up to the latest PF early next week.

[2020-04-03 20:29] unlikelyzero commented on #6577
@wenottingham sez  "If the host is also a member of a child group, you will need to remove it from that group as well." on the modal would suffice

[2020-04-03 20:30] ilijamt commented on #5947
Confirmed that the patch works on AWX 10.0.0 deployed using k8s

[2020-04-03 20:48] unlikelyzero commented on #6549
retest in devel

[2020-04-04 01:42] lukepafford commented on #5304
I finally got to the bottom of why so many people likely have these same problems.

## How do callback URLs actually work?
The how isn't really documented. After playing around with various different proxies, and host inventories, it seems to be pretty simple:
1. Your AWX instance *must* be behind a reverse proxy (or I *think* more accurately, whatever value you have set to the `TOWER_URL_BASE` se

[2020-04-04 04:29] ILovetheEarth opened #6578 "Tổng hợp chỉ mình tôi"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[2020-04-04 06:16] ILovetheEarth commented on #6578
Nguyentiensy

[2020-04-04 06:16] ILovetheEarth commented on #6578
Nguyentiensy

[2020-04-04 06:18] planeturban commented on #6524
Reading it ‘out loud’ I realize this. So it’s a feature request like “Checkbox to set ‘Filter failed hosts’ and ‘Filter successful hosts’ in node link”?

There are lots of possibilities when a WFJT admin can do a pick’n’mixing when creating workflows; moving VM deployments from vRA to AWX (lots of playbooks and/or reused functions) or patching using different teams patch playbooks over large amoun

[2020-04-04 06:36] #6578 closed

[2020-04-04 09:21] vijayreddiar commented on #3267
Issue persists in Ansible Tower 3.6.2 having Ansible Engine 2.9.3 even if we use the variable `ansible_python_interpreter: '{{ ansible_playbook_python }}'`

[2020-04-04 11:12] AlanCoding commented on #6563
Proposed fix https://github.com/ansible/awx/pull/6572

[2020-04-04 13:53] ryanpetrello commented on #5947
Thanks @ilijamt,

This fix will go out in the next release of AWX in the coming weeks.

[2020-04-04 16:19] pmanno commented on #1969
Hello,

Sorry to resurrect this thread, but I'm having the same issue with AWX 10.0.0

[code]

Any way to remove these hung notifications?

Thanks!
Paul

[2020-04-04 18:26] megabreit commented on #5501
@blomquisg @ryanpetrello Just for curiosity: Are there any more formal things to follow? Tests, checks, etc? Or is it ok to close the issue?

[2020-04-04 20:27] ghost opened #6579 "AWX fails to start with docker-compose after upgrade to 10.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I try to upgrade a 9.3.0 installation to 10.0.0 the ansible playbook fails at starting containers as it found an orphan rabbitmq around.
This happens because the docker-compose module is running without remove_orphans parameter, as suggested by the error docker-compose returned.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker

[2020-04-04 23:53] ghost opened #6580 "Fail to send Grafana notification"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I try to send a notification to Grafana, AWX returns an error.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: Kubernetes 1.18.0
* Ansible version:  2.9.5
* Operating System: macOS Catalina
* Web Browser: Mozilla Firefox 74.0

##### STEPS TO REPRODUCE
1. Configure Grafana notification
2. Click on "Test notification"

##### EXPECTED

[2020-04-04 23:59] ghost commented on #6539
I can confirm that error as well in a docker-compose setup and external postgresql instance.
In my case, it seems like the database was not migrated, as AWX was complaining in the logs about some tables missing.

I solved by manually perform the migration with:
[code]

from the awx-web container.

[2020-04-05 10:20] Elyytscha commented on #6045
@ryanpetrello , i think that this pr is a workaround which will fix indeed the problem with the hangup on the ssh connection

if the ansible.cfg would by loaded correctly this could not be hardcoded and could be configured dynamically via something like this, provided by the source repo and controlled by git:
ansible.cfg:
[code]

BUT in my opinion there is still another bug (feature?), if i define

[2020-04-05 20:32] ghost opened #6581 "ui_next fails to login"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After deploy ui_next I can reach the login windows, but when I try to login it says "There was a problem signing in. Please try again."
This error appears both in a deploy in Kubernetes and with a plain "npm start" on a local directory.
And in both situations there is no error in the log, as I attached below.

##### ENVIRONMENT
* AWX version: 10.0.0
*

[2020-04-06 06:59] jstewart612 opened #6583 "Cannot Assign Kubernetes Credential to Job Template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: openshift
* Ansible version:  2.9.5
* Operating System: N/A
* Web Browser: Any

##### STEPS TO REPRODUCE

Create a Kubernetes credential.  Create a Job Template.  Try to associate one with the other using the valid API post of POST https://$AWX_SERVER/api/v2/job_templates/$JOB_ID/credential

[2020-04-06 07:59] atlekberg commented on #6517
So I finally figured it out. What threw me off was that when I tested my slash-based-token it worked with both Curl and the Ansible Slack module. Replacing the slashes with hyphens did not work by the way.

Searching the official Slack documentation I had a hard time finding anything about bot integration tokens and that's why I initially followed the Ansible Slack module documentation. Continuing

[2020-04-06 08:11] mihoos commented on #4094
Hi,

I have the same issue with AWX 9.3.0.

[2020-04-06 12:29] unlikelyzero opened #6584 "Dissociating a host from a direct parent group will dissociate any indirect parent groups without warning"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Similar to https://github.com/ansible/awx/issues/6577

Dissociating a host from a direct parent group will dissociate any indirect parent groups without warning.

##### ENVIRONMENT
* AWX version: 10.0

##### STEPS TO REPRODUCE

1. Create an indirect, inherited group relationship to a Host
i.e. 'All Group' has a child group named 'Small Group'. Associat

[2020-04-06 13:19] ryanpetrello commented on #5501
Hey @megabreit,

We're gonna verify some things on our end, and then we'll close it out - thanks!

[2020-04-06 13:22] ryanpetrello commented on #6583
@jstewart612 Kubernetes credentials are intended to be used with Container Group support, not as credentials assigned to a Job Template:

https://docs.ansible.com/ansible-tower/latest/html/administration/external_execution_envs.html#container-groups

[2020-04-06 13:25] ryanpetrello commented on #6583
It sounds like this is what you want: https://github.com/ansible/awx/issues/5735

[2020-04-06 13:25] #6583 closed, assigned to nobody

[2020-04-06 13:36] shanemcd commented on #5735
Note: there are some security concerns regarding the k8s module's usage of these env vars. We'll want to sync up with the core team before implementing this.

[2020-04-06 13:40] akira6592 opened #6586 "The tower_workflow_job_template module inventory option does not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The tower_workflow_job_template module inventory option does not work.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker for mac
* Ansible version:  2.9.6
* Operating System: macOS
* Web Browser: Chrome 80

##### STEPS TO REPRODUCE

task
[code]

`test_inventory` exists, as shown below.
[code]

##### EXPECTED RESULTS

[code]

#####

[2020-04-06 13:48] jlmitch5 commented on #6584
There is a message for this in the modal already:

![Screen Shot 2020-04-06 at 9 47 38 AM](https://user-images.githubusercontent.com/1342624/78565307-b8393c00-77eb-11ea-96f6-e8020cfb1deb.png)

[2020-04-06 14:03] unlikelyzero commented on #6584
@jlmitch5 it's not shown on this flow
![Screen Recording 2020-04-06 at 10 03 AM](https://user-images.githubusercontent.com/12446869/78566973-f9cae680-77ed-11ea-919a-a1f11f690f51.gif)

[2020-04-06 14:29] SWADESNA opened #6587 "awx CLI command "awx unified_jobs get" does not work as expected"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
- Ansible Tower version 3.6.3
- AWX cli version 3.6.3

##### STEPS TO REPRODUCE

- #### # awx unified_job_templates list -f human
id name
== ==============================
9  AWS-Source
2  Cleanup Activity Stream
5  Cleanup Expired OAuth 2 Tokens
4  Cleanup Expired Sessions
1  Cleanup Job Details
7  Demo Job Template
6  Demo Project

[2020-04-06 14:47] keilr commented on #6558
That sounds promising! Maintaining the role is indeed a lot of work and totally unnecessary because `tower_import` module will do the same thing - just better.

[2020-04-06 14:47] #6558 closed, assigned to nobody

[2020-04-06 14:56] mabashian opened #6589 "Inventory Source Schedules"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hook up the schedules related tab on inventory sources.  There's already a generic schedules component that can be used so this should be minimal work.  See projects/jt/wfjt's as an example.

[2020-04-06 14:56] keilr commented on #6558
@AlanCoding I just had a look at the code generator. Ansible automates itself :) Nice work! I'm looking forward to see the new tower modules.

[2020-04-06 14:57] mabashian commented on #6589
Marking as blocked until #6574 is done

[2020-04-06 14:59] mabashian opened #6590 "Inventory Source Notifications"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hookup up notifications related tab for inventory sources.  There's already a generic notifications component being used in several places that we can use.

Marking as blocked until #6574 is done

[2020-04-06 15:08] mabashian opened #6591 "Support being able to add a team from the orgs view"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently adding a team to an org is done exclusively through the teams section of the app (org is a required field).  For some users this may not be intuitive so I think we should support adding teams from the Organization -> Teams list.  This is similar to Inventory -> Hosts and the All Hosts list (where we now support adding a host in both places)

[2020-04-06 15:24] mabashian opened #6593 "Team Users Related Tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Link to mockups: https://tower-mockups.testing.ansible.com/patternfly/teams/teams-users/

This is a bit different from the regular users list so we may want to look at a different component as opposed to sharing (?) not sure.  This list shows the current user which have roles on this particular team.  The list should display information about each us

[2020-04-06 15:31] mabashian opened #6594 "User Teams Related Tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Here's a link to the mockups: https://tower-mockups.testing.ansible.com/patternfly/users/users-teams/

However, there are a few potential issues with the mockup.

The old app is just a read-only list of teams that shows the team name and the description:

<img width="1525" alt="Screen Shot 2020-04-06 at 11 26 17 AM" src="https://user-images.githubuse

[2020-04-06 15:47] mabashian opened #6597 "Users/Teams Access Related Tabs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I'm lumping these two related tabs together because I believe they're going to use the same component(s) and it makes sense to just go ahead and knock them both out at the same time.  The access tab(s) for these two areas are a bit different from the access tab(s) for _resources_ (like projects, orgs, inventories...).  Instead of selecting users to a

[2020-04-06 16:19] wilkis3 opened #6598 "500 on project edit/update (channels)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If I create a new project or used an existing project (I deleted all of them :grimacing:) I got an error message and I can't do anything.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker
* Ansible version: 2.9.5
* Operating System: Ubuntu 18.04.4
* Web Browser: Firefox, Chromium

##### STEPS TO REPRODUCE

1. Added credentials
2. Se

[2020-04-06 16:21] ryanpetrello commented on #6598
@chrismeyersfsu you have any idea what's up here?

[2020-04-06 16:24] #4574 closed, assigned to nobody

[2020-04-06 16:32] mrmibrown opened #6599 "Include python3-pymongo to 3.7.2 or later in base package dependencies"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
What problem/issue/behavior are you having trouble with?  What do you expect to see?
We are attempting to use Ansible Tower to manage Mongo, but Ansible requires the pymongo package to be at least 3.7.2 to add/update SCRAM-SHA-256 passwords.
I expect it to work. We were forced to install the pymongo 3.10 whl by hand and will have to put in a workarou

[2020-04-06 16:40] wenottingham commented on #6599
This should be done via a custom virtual environment (for now), and via execution environments (https://github.com/ansible/awx/issues/5157) in the future.

[2020-04-06 16:40] #6599 closed, assigned to nobody

[2020-04-06 16:58] jakemcdermott opened #6600 "Text input search on project credential lookup results in 400 error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Text-searching by name for a credential using the text input of a lookup field on the project form results in a 400 error due to broken url building.

##### STEPS TO REPRODUCE
- have the network tab of the developer tools open
- navigate to the projects form
- type some values into the text input field of the credential lookup and wait a moment

#####

[2020-04-06 16:58] jakemcdermott commented on #6600
Hang tight, I'll get our l337est UI person on it.

[2020-04-06 17:00] ryanpetrello commented on #6600
PR: https://github.com/ansible/awx/pull/6588

[2020-04-06 17:17] mabashian opened #6602 "Advanced Search [Meta Issue]"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The expectation here is that this will need to get broken down into a number of smaller pieces, some of which may already exist.

I'm not sure that we have mockups for this specifically - @trahman73 do you remember?  If so, do you mind dropping a link to them in this issue?

The overall goal of this issue is to track work needed to support search bey

[2020-04-06 17:34] mabashian opened #6603 "Add adhoc command form to inventory"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
An adhoc command can be executed against hosts within an inventory.  This form should be accessible after selecting hosts or groups on the following pages:

- [x] Inventory -> Hosts

- [x]  Inventory -> Host -> Groups
- [x]  Inventory -> Groups
- [x] Inventory -> Group -> Hosts
- [x] Smart inventory -> Hosts

There should be a button on each of these

[2020-04-06 17:38] mabashian commented on #6603
Note that running adhoc commands on the Hosts (/#/hosts) list is not supported in the old application.  It does _seem_ like that's possible based on the OPTIONS response on `/api/v2/ad_hod_commands` - the inventory field is not required.  @wenottingham should we look at supporting running adhoc commands from the `ALL HOSTS` list?  If that's actually possible/something we want to do it'd probably b

[2020-04-06 18:03] ryanpetrello commented on #6580
I'm able to reproduce this:

![image](https://user-images.githubusercontent.com/214912/78590101-4a067080-780f-11ea-9214-a63a726f388c.png)

...but only when I fail to put in valid tags in the notification configuration:

![image](https://user-images.githubusercontent.com/214912/78590173-6a362f80-780f-11ea-853e-2d17bf47a3d2.png)

If I specify one or more tags, it works fine:

![image](https://user-i

[2020-04-06 18:12] jakemcdermott opened #6606 "JT launch results in error"
##### STEPS TO REPRODUCE
- try to launch demo jt

##### EXPECTED RESULTS
- it launches

##### ACTUAL RESULTS
- error

[2020-04-06 18:13] ryanpetrello commented on #6580
@ldepandis want to give this change a whirl?

https://github.com/ansible/awx/pull/6607

[2020-04-06 18:14] dsesami opened #6608 "Job Template Add Form breaks when selecting playbooks"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Create a new Job Template using the Demo Project.
Try to select a playbook in the form.

##### EXPECTED RESULTS
The playbook is selected from the dropdown.

##### ACTUAL RESULTS
Nothing happens. The applicatino eventually staggers. Looking at logs, I see tons of GET calls to the Demo Project.

[2020-04-06 18:24] beeankha commented on #6552
@RylandDeGregory these collection modules are all going through the process of getting converted off of TowerCLI (per the issue filed here https://github.com/ansible/awx/issues/5145) _or_ they will be marked for deprecation (and new modules will replace them).

During this ongoing conversion process, we've added `tower_oauthtoken` as a parameter, but because some are still on the old system (Tower

[2020-04-06 18:24] appuk commented on #4967
not able to test this until this issue https://github.com/ansible/awx/issues/6608 is resolved

[2020-04-06 18:29] ghost commented on #6580
@ryanpetrello Thank your for your support!
I just noticed another thing.
If you add a tag, save the configuration and then remove it before sending a notification it just works. Are you able to confirm this behavior in your environment?
Also, this bug seems happening only the first time you're configuring the notification.
After that time, even if you remove every tag, it just works properly.

Abo

[2020-04-06 18:39] rebeccahhh commented on #1513
The noise is less of a concern than the cost of generating the data imo.

[2020-04-06 18:46] ryanpetrello commented on #6552
@RylandDeGregory

Your specific request _should_ be resolved in the next version of AWX (in which `tower_job_template` has been converted away from `tower-cli`).

Merged five days ago:
https://github.com/ansible/awx/pull/6491#event-3188093789

10.0.0 was seven days ago:
https://github.com/ansible/awx/releases/tag/10.0.0

So this should work in the next AWX release (likely, 11.0.0, in the coming we

[2020-04-06 18:46] #6552 closed, assigned to beeankha

[2020-04-06 18:59] wenottingham commented on #1513
OK, we can push this for now.

Looking again at the data, there's a bit of an issue here in that a chunk of the fields in the above example are just a `name` without a corresponding `id`. In those cases, it's likely not enough to disambiguate them across organizations.

[2020-04-06 19:19] ryanpetrello opened #6610 "Add support for Slack Apps for notification templates (and figure out how to handle soon-deprecated legacy Slack tokens)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
see: https://github.com/ansible/awx/issues/6517#issuecomment-609637267

Legacy token generator
This tool will not allow creation of new tokens beginning May 5th, 2020. Learn more about why you shouldn't use it anymore.

It _sounds like_ AWX's **current** Slack implementation is based on these legacy tokens, and it's been suggested by AWX users that the

[2020-04-06 19:20] ryanpetrello commented on #6517
Thanks for reporting this, @atlekberg.  I was unaware of this upcoming change to Slack's API.

I've filed this issue here to track it: https://github.com/ansible/awx/issues/6610

[2020-04-06 19:20] #6517 closed, assigned to nobody

[2020-04-06 19:25] jakemcdermott opened #6611 "job event socket"
##### SUMMARY
Add basic implementation for socket subscription and display of events

[2020-04-06 19:27] jakemcdermott opened #6612 "Output pagination for search filtering"
##### SUMMARY
Add pagination module (page number. next-previous, or line-based) and row fetching for output page to set the stage for integrating search and search filters.

[2020-04-06 19:28] jakemcdermott opened #6613 "Add code collapse and code folding feature to output"
##### SUMMARY
Add the expand-collapse toggles to output page for tasks, plays, lines, etc.

[2020-04-06 19:29] jakemcdermott commented on #6611
block label can be removed when static file builds and installer integration lands:

https://github.com/ansible/awx/issues/5957
https://github.com/ansible/awx/issues/5958

[2020-04-06 19:30] jakemcdermott opened #6614 "Integrate basic search with output page"
##### SUMMARY
Add basic search and filter to output.

[2020-04-06 19:32] jakemcdermott commented on #6614
blocked label can be removed when https://github.com/ansible/awx/issues/6612 lands

[2020-04-06 19:38] kdelee commented on #6563
This will be able to be closed once #6592 goes in

[2020-04-06 19:41] #6391 closed, assigned to nobody

[2020-04-06 19:44] #6563 closed, assigned to chrismeyersfsu, kdelee

[2020-04-06 19:45] mabashian commented on #6612
Blocked until advanced search UX is hammered out.  We'll probably want to use the same UX pattern(s) here

[2020-04-06 20:09] mabashian opened #6616 "Dynamically update workflow results interface based on websocket messages"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When a user is on a workflow results page:

<img width="1638" alt="Screen Shot 2020-04-06 at 4 04 50 PM" src="https://user-images.githubusercontent.com/9889020/78600131-5d6e0780-7820-11ea-9120-29a047677924.png">

We want to update the status of jobs on nodes in real time by listening to messages that come across the websocket.

Hopefully by the time

[2020-04-06 20:11] mabashian commented on #6616
Note that as part of this work we'll want to update the status of the outer workflow job as well:

<img width="1638" alt="Screen Shot 2020-04-06 at 4 04 50 PM" src="https://user-images.githubusercontent.com/9889020/78600554-17657380-7821-11ea-9bc7-6d11c8977cca.png">

When the job actually finishes, we may be issuing a refresh of the job from the api to get all the updated fields that become availa

[2020-04-06 20:18] kdelee commented on #6309
Ok, this works for me, now you cannot even make the manual inventory source which was what `source` being equal to `""` used to mean.

[2020-04-06 20:18] #6309 closed, assigned to ryanpetrello, kdelee

[2020-04-06 20:19] jakemcdermott commented on #6616
related, because this is job status subscription https://github.com/ansible/awx/issues/5885

[2020-04-06 20:26] mabashian opened #6618 "Dynamically update jobs lists based on websocket messages"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Socket behavior has changed in the old app - we should make it match up here.  Use https://github.com/ansible/awx/pull/5968#issuecomment-591565513 as a reference for expected behavior.

We'll need to subscribe to the jobs -> status_changed channel to get these updates.

When we get a message:

- If the job in question already exists in our list, we s

[2020-04-06 20:30] mabashian opened #6619 "Dynamically update projects list based on websocket messages"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Socket behavior has changed in the old app - we should make it match up here.  Use https://github.com/ansible/awx/pull/5968#issuecomment-591565513 as a reference for expected behavior.

We'll need to subscribe to the jobs -> status_changed channel to get these updates.

When we get a message:

- Rows should be updated using the contents of the websoc

[2020-04-06 20:31] mabashian opened #6620 "Dynamically update inventories list based on websocket messages"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Socket behavior has changed in the old app - we should make it match up here.  Use https://github.com/ansible/awx/pull/5968#issuecomment-591565513 as a reference for expected behavior.

We'll need to subscribe to the jobs -> status_changed channel to get these updates.

When we get a message:

- For new jobs (status = pending) we should try to find t

[2020-04-06 20:33] jakemcdermott commented on #6618
This issue will replace https://github.com/ansible/awx/issues/5885, which I'm closing.

[2020-04-06 20:33] mabashian opened #6621 "Dynamically update inventory sources list based on websocket messages"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Socket behavior has changed in the old app - we should make it match up here.  Use https://github.com/ansible/awx/pull/5968#issuecomment-591565513 as a reference for expected behavior.

We'll need to subscribe to the jobs -> status_changed channel to get these updates.

When we get a message:

- Rows should be updated using the contents of the websoc

[2020-04-06 20:35] jakemcdermott commented on #5885
This issue is now replaced by:

https://github.com/ansible/awx/issues/6621
https://github.com/ansible/awx/issues/6620
https://github.com/ansible/awx/issues/6619
https://github.com/ansible/awx/issues/6618
https://github.com/ansible/awx/issues/6622

[2020-04-06 20:35] #5885 closed, assigned to keithjgrant

[2020-04-06 20:40] mabashian opened #6622 "Dynamically update templates list based on websocket messages"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Socket behavior has changed in the old app - we should make it match up here.  Use https://github.com/ansible/awx/pull/5968#issuecomment-591565513 as a reference for expected behavior.

We'll need to subscribe to the jobs -> status_changed channel to get these updates.

When we get a message:

- For new jobs (status = pending) we should try to find t

[2020-04-06 20:40] jlmitch5 commented on #6608
this only happens when you have just 1 project...something is going on with the auto-population logic.  To overcome until this is fixed, just make sure oyu have more than 1 project so auto-population doesn't happen.

[2020-04-06 20:58] jakemcdermott commented on #5820
The solution is just to make the project form say "Source Control Credential" (and not SCM credential) so that it matches the credential form and other places.

[2020-04-06 21:16] beeankha commented on #6586
Thanks for filing this issue, @akira6592 !  The fix has been posted [here](https://github.com/ansible/awx/pull/6609), along with an update to the relevant test playbook.

[2020-04-06 21:56] ghost commented on #6580
@ryanpetrello I can confirm that with your branch everything is working properly.
Here the notification sent to Grafana right after I created the notification resource.

<img width="388" alt="image" src="https://user-images.githubusercontent.com/13005894/78608919-fa04c980-7861-11ea-938d-7996d0cd7eaf.png">

Thank you for your support!

[2020-04-06 22:00] ryanpetrello commented on #6580
Thanks for confirming, @ldepandis - I'll get the PR merged and released in the next version of AWX.

[2020-04-07 00:44] sdwru commented on #2556
Refresh Tokens do not expire for us.

Using AWX v10.0.0
[code]
[code]
I then create access and refresh tokens using password grant.  I wait longer than 20 seconds.  Then I try use refresh token and it still works even though it should have expired after 10 + 10 seconds.  I tried waiting much longer and refresh token still works.  I tried rebooting AWX and it still works.  As far as I can tell it n

[2020-04-07 02:31] rayterrill opened #6626 "Single URL for Webhooks + Custom Webhook Secret"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We're setting up webhooks into AWS from Github. We currently proxy webhooks into our org - we send the webhooks to a Lambda function in AWS, then "re-send" them after validation to our CI/CD tools (over a VPN) - our CI/CD tools are not internet-accessible.

We use Jenkins heavily - Jenkins allows us to have a single webhook URL for our instance, and

[2020-04-07 06:25] wilkis3 commented on #6598
We have restored a backup from AWX 9.3.0 from last Friday. It sould be a problem with AWX 10.0.0.

[2020-04-07 09:10] Joffrey54 opened #6627 "Environment variables set in UI ignored"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I set a environment variables in my UI a long time ago...
`"ANSIBLE_SSH_ARGS": "-C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"`
But after migration on 10.0.0 (was 9.3.0 before), my playbook hangs in UI and in logs, I found ssh asking for host key register **when downloading my requirements ro

[2020-04-07 09:56] grahamn-gr commented on #6536
This is now resolved. Two things resolved it, I had to add a "sort" filter to one of my dicts. The other was to add the extra var to get ansible to use the right virtualenv. I can then see things are running with the correct virtualenv
ansible_python_interpreter: /var/lib/awx/venv/gr_awx_ansible_2_4_3_0/bin/python

[2020-04-07 09:56] #6536 closed, assigned to nobody

[2020-04-07 09:58] grahamn-gr commented on #6534
This still an issue for me. I applied the latest k8s installer from #6582 and I've updated my Chrome from an 78 version to Version 80.0.3987.122 (Official Build) (64-bit).

When I check stdout from the API I see no results for some of my jobs, this is reflected in the job details too.

![image](https://user-images.githubusercontent.com/35037942/78656830-dbcdb680-78bf-11ea-82a6-bec38025628f.png)

[2020-04-07 11:35] akira6592 commented on #6586
@beeankha Thank you for fixing!

[2020-04-07 11:35] #6586 closed, assigned to beeankha

[2020-04-07 12:43] ryanpetrello commented on #6627
@nORKy54 what you're encountering sounds this sounds like a duplicate of:

https://github.com/ansible/awx/issues/6045

We haven't addressed the underlying issue yet, _but_ we have recently fixed the `StrictHostKeyChecking=no` for roles here: https://github.com/ansible/awx/pull/6488

[2020-04-07 12:43] #6627 closed, assigned to nobody

[2020-04-07 12:52] #6163 closed, assigned to nixocio

[2020-04-07 13:25] chrismeyersfsu commented on #6534
I'm curious as to if your modifying any variables in the installer. What does your inventory file look like?

[2020-04-07 14:34] sdwru opened #6630 "refresh token does not expire"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using password grant type, refresh token does not expire according to `REFRESH_TOKEN_EXPIRE_SECONDS`.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Operating System: CentOS v8
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Set the expiry times low from AWX GUI > Settings > System
Confirm the settings from api
[code]

[2020-04-07 14:37] ryanpetrello commented on #6630
@sdwru,

In the future, we'd appreciate it if you would _please_ refrain from publicizing issues that _clearly_ have security implications:

<img width="758" alt="image" src="https://user-images.githubusercontent.com/214912/78682220-b6d74480-78bb-11ea-9563-09a57a9921d0.png">

[2020-04-07 14:39] ryanpetrello commented on #6630
This _appears_ to be an (unaddressed) vulnerability in Django OAuth Toolkit itself:

https://github.com/jazzband/django-oauth-toolkit/issues/746

[2020-04-07 14:40] beeankha commented on #6586
No problem!  Closing out this issue.

[2020-04-07 14:49] sdwru commented on #6630
Thanks for finding that.

[2020-04-07 15:06] wenottingham commented on #6626
We looked at this during development before choosing our current path, I'll let @jbradberry and @shanemcd comment.

[2020-04-07 15:14] ryanpetrello commented on #6630
I'm able to reproduce this:

In my testing, OAuth2 refresh tokens do _not_ respect the expiration specified in `REFRESH_TOKEN_EXPIRE_SECONDS`:

[code]

[code]

(wait 30 seconds or so for the token to expire)

[code]

Despite having a short-lived refresh token expiry, the refresh token allows you to create new access tokens *after* 15 seconds.

[code]

[2020-04-07 15:18] ryanpetrello commented on #6630
@sdwru,

Are you willing to give this PR a whirl?

https://github.com/ansible/awx/pull/6631

[2020-04-07 15:22] jakemcdermott opened #6632 "Unit and functional tests for ui_next occasionally fail with out of memory error in CI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm starting to see the occasional failure in zuul due to out-of-memory errors:

![Screenshot from 2020-04-07 11-17-36](https://user-images.githubusercontent.com/9753817/78686823-80042d00-78c1-11ea-8d6e-7734ced7e4b0.png)

We've seen this before and it is probably the job getting oom-killed from exceeding the resource request limit. Last time, we tempor

[2020-04-07 15:28] AlanCoding commented on #6045
This question came up in a conversation I had with @gamuniz recently: should users have control of the Ansible configuration when running project updates? Using the top-level project `ansible.cfg` means that the same configuration would be applied to project updates as job runs, which could be a problem in some cases.

It's impossible to apply the configuration settings to the git clone (you can't

[2020-04-07 16:00] sdwru commented on #6630
Yes, this appears to fix it for me.  After the expiry time the response is `The refresh token has expired.` and the HTTP error code is `403 Forbidden`

[2020-04-07 16:00] dsesami commented on #6600
This appears to work just fine now; seeing 200s on devel.

[2020-04-07 16:00] #6600 closed, assigned to ryanpetrello

[2020-04-07 16:01] grahamn-gr commented on #6534
To be honest there are a few custom things, like we put our secrets in an ansible-vault rather than in the inventory, however the deployment and configmaps are pretty much in sync.
Is there anything in particular you're thinking may cause this?
I've noticed sometimes after a fresh install it works great, but then I had it as soon as I scaled the deployment to zero and back up again I got the issue

[2020-04-07 16:16] dsesami commented on #6531
One can distinguish identical WF runs now. The job IDs are included.

[2020-04-07 16:16] #6531 closed, assigned to mabashian, dsesami

[2020-04-07 16:57] maitrefou opened #6633 "Inventory VMWARE Host Disabled"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
UI

##### SUMMARY
When I import VM with PowerOff state on VMWare. the host is marked disabled in my inventory.
How to activate non-powered machines by default
![image](https://user-images.githubusercontent.com/63309234/78697200-b90fc200-7900-11ea-8f7d-abd343636f00.png)

thanks in advance.

##### ENVIRONMENT
* AWX version:9.0.1.0
* AWX install

[2020-04-07 17:16] kdelee commented on #6512
Works for me, can close after PR merges

[2020-04-07 17:38] jstewart612 commented on #6583
It does yes... apologies for not catching this.  I ended up doing a workaround of injecting a kubeconfig into my awx task container which uses a limited read-only service principal to do the tasks I wanted to do and just using the context argument to the k8s modules in case anyone else sees this.

[2020-04-07 17:53] dsesami opened #6636 "Copying WFJTs renders a copy with an empty workflow"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When attempting to copy a small workflow (with a single approval node), I found that the copied workflow launched and completed without requesting an approval. Further investigation showed that the copied workflow visualizer showed an empty workflow.

##### ENVIRONMENT
* AWX version: latest

##### STEPS TO REPRODUCE
Both @jakemcdermott and I were able

[2020-04-07 17:54] dsesami commented on #6636
@rebeccahhh suggests that this commit might be related: https://github.com/ansible/awx/pull/6291

[2020-04-07 18:09] #6512 closed, assigned to AlanCoding, kdelee

[2020-04-07 19:07] ryanpetrello commented on #6630
Thanks @sdwru - this change will got out in the next release of AWX.

[2020-04-07 19:54] jakemcdermott opened #6638 "Job Template edit form playbook field initializes to unselected value"
##### STEPS TO REPRODUCE
- create a job template
- open the edit form for the job template

##### EXPECTED RESULTS
- current playbook value of the job template is shown by the playbook field

##### ACTUAL RESULTS
- playbook field says "CHOOSE A PLAYBOOK"

[2020-04-07 20:25] jbradberry commented on #6626
We did discuss the possibility of having some filtering and such that could occur before a job was launched, but realized that this would require writing yet another logic engine if we didn't leverage what is already built-in to AWX and Ansible.  Our recommendation at this time is to create a workflow job template that does the desired conditional logic, and use the nodes in that workflow to trigg

[2020-04-07 20:35] jakemcdermott opened #6640 "Job Template Form partially loads before all fields are finished loading"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Our forms should have a known, consistent, and fully-resolved starting state before it is possible for a user, keyboard-mouse, screen reader, or automated test to interact with them. Partially loading the form while some of the initial values are still being fetched from the server precludes that.

Labels, playbook values, instance groups, etc. are pop

[2020-04-08 01:44] bluikko commented on #5016
I seem to have same issue on CentOS 7 and python 3. The Ansible user is logged in to managed server (the successful login from AWX can be seen in /var/log/secure) but the play is just sitting there waiting until the end of timeout (edit: this is without a lot of verbosity so cannot say if the play is doing something, will test to increase -v)

[2020-04-08 02:51] MrBones757 opened #6647 "Kerberos Support in Containers"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Kerberos binaries and configuration don't seem to be currently supported out of the box with AWX.
The feature idea here would be to:
 - add these binaries to the docker containers
 - add support to the kubernetes installer to provision these configs into the container and run necessary commands to init if parameters for this have been provided.

I ha

[2020-04-08 08:36] egmar opened #6648 "Deleting inventory source should be more verbose"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When deleting an inventory source, the modal is not verbose enough. Deleting an inventory source is a destructive operation and deletes hosts/groups which were added using respective inventory source.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: Kubernetes
* Ansible version:  2.9.3
* Web Browser: Google Chrome Version 82.0.4083.0 (Off

[2020-04-08 11:25] ghost commented on #5811
Way that was discribed allow debug ui-client part (frontend). Is it possible to debug django application in docker container? I understand what awx-ansible do not integrated with pycharm but I think it must be possible way to extend your application with custom modules.
Thank you for any information.

[2020-04-08 13:02] jlmitch5 opened #6649 "excise withRouter (where we can) in favor of hooks"
non-class based components where we can do this rn:
- UserEdit
- WorkflowJobTemplatesList
- ProjectsList
- JobTemplatesList
- InventorySourcesList
- JobTemplateForm (of which I think withRouter is not being used...can be straight up removed)
- Template (of which I think withRouter is not being used...can be straight up removed)
- TeamEdit (of which I think withRouter is not being used...can be str

[2020-04-08 13:05] sumkincpp opened #6650 "UI RFE: Inventory Sync "Many" on Inventories List Page"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Make inventory sync more simpler, by adding individual inventory "Sync" and "Sync All" buttons on Inventories Page.

Something like this :
![image](https://user-images.githubusercontent.com/738925/78786910-2cbdd780-79b2-11ea-9ce5-a35b3331f278.png)

For Demo-Inventory/Static inventory Sync Button(like in Example) is not applicable and can be greyed o

[2020-04-08 13:11] sumkincpp commented on #3462
~~Issue is present in latest AWX 9.4.0/10.0.0.~~

~~AWX Users/Engineers can't simultaneously use AWX without mutual interference and interference from already running workflows.~~

[2020-04-08 13:17] sumkincpp commented on #2655
Any possibility to prioritize this feature?

Having jinja in place can also help crafting link to the host in external system, this one is also "killing-feature". It can also can be used to jump, e.g. to website on host, that was provisioned.

Currently only
- tags can be used for exposing interesting information, for many tags hosts view becomes overloaded
- external systems should be used for in

[2020-04-08 13:35] kdelee commented on #5323
Sounds like room for docs improvement

[2020-04-08 13:49] wenottingham commented on #2655
Using jinja to craft links that would be interpreted in the browser would be terrible from a security perspective, we would not do that.

[2020-04-08 13:56] wenottingham commented on #6647
What are you asking for? Just the ability for WinRM-initiatied kinit to run?

[2020-04-08 14:20] mooky31 opened #6653 "Machine credentials are refused by tower_job_template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can't create job template with tower_job_template because of credentials.
Machine credentials (SSH) are refused.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: Debian Buster
* Web Browser: Firefox
* AWX collection: 10.0.0

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESUL

[2020-04-08 14:33] mabashian commented on #6606
Screenshot of the error:
<img width="1679" alt="Screen Shot 2020-04-08 at 10 15 34 AM" src="https://user-images.githubusercontent.com/9889020/78796408-421c0d00-7984-11ea-9e89-696159aa6e0d.png">

[2020-04-08 14:52] mabashian opened #6655 "Launching job doesn't properly redirect to output"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Came in with https://github.com/ansible/awx/pull/6639

Screenshot:

<img width="1679" alt="Screen Shot 2020-04-08 at 10 15 34 AM" src="https://user-images.githubusercontent.com/9889020/78798398-eef78980-7986-11ea-97f5-8cb481e8950d.png">

##### STEPS TO REPRODUCE
Launch a job template

[2020-04-08 14:52] rmanibus commented on #5323
is there the same kind of behaviour for gitlab ?

[2020-04-08 15:04] dsesami opened #6657 "(visual adjustment) adjust the way the headers wrap in lists"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Currently, on smaller screens, I was always bothered by the way wrapping occurs in lists (the delete button here looks weird)
![Screenshot_20200408_105535](https://user-images.githubusercontent.com/19942822/78799696-7b567c00-7988-11ea-9179-bcd643f18047.png)

I think this would be improved if items did not wrap in such a way that they didn't start with

[2020-04-08 15:19] dsesami commented on #6183
Two bugs here:
1) You cannot click the dropdown in the preview modal.
2) Attempting to preview a survey with the multi-select multiple choice question causes the page to crash.

[2020-04-08 15:37] mabashian commented on #6606
Screenshot:

<img width="1680" alt="Screen Shot 2020-04-08 at 11 32 04 AM" src="https://user-images.githubusercontent.com/9889020/78803416-fb7ee080-798c-11ea-980f-aa1cab052fc9.png">

I'm able to reproduce this by attempting to launch one of the auto-generated JT's from the bulk_data script.  The error from the response indicates there's something going on with credentials:

`Removing Machine crede

[2020-04-08 15:44] mabashian commented on #6606
Yea this is most easily reproduced by creating a JT with a default credential and then attempting to launch said JT.

[2020-04-08 15:45] jbradberry commented on #5323
@rmanibus the full payload is provided in all cases

[2020-04-08 16:03] dsesami commented on #6183
both of the above bugs are handled in #6333 . I will finish out testing on previews there.

[2020-04-08 16:14] Cartman25 commented on #6598
Hello, exactly the same here. I thought it was the lack of python in /usr/bin but still the same problem.

[2020-04-08 16:38] rayterrill commented on #6626
@jbradberry Is this process you're referring to documented somewhere so I can see in more detail what you mean?

[2020-04-08 17:13] dsesami commented on #6333
Survey limits don't seem to be honored.
1) Create a text survey named `foo`
2) Make the default value `bar`
3) Set the character limit max to `1`

I would expect this to not be allowed.

[2020-04-08 17:17] dsesami commented on #6333
Trying to turn on the survey from the list page when the JT is missing a project or inventory results in a 400 with no further information.

[2020-04-08 17:23] swaroopv2 commented on #1288
Hello is there any update to this issue?

[2020-04-08 17:38] mabashian commented on #5879
I'm going to work on the GCE portion of the form first.  After that we'll probably want to focus on supporting the credential plugins before moving on to some sort of dynamic generator.

[2020-04-08 17:57] blomquisg commented on #6424
Moved this out of 3.7 since import/export isn't shipping in 3.7.

[2020-04-08 18:16] blomquisg commented on #6213
@ghjm can you try to reproduce this and see if there's any chance of getting a fix in?

[2020-04-08 18:21] squidboylan commented on #6653
We're in the process of moving the tower modules off of the tower_cli, in 10.0.0 the `tower_job_template` module was not converted but has been converted since, and locally I am able to verify that that bug is fixed in the devel version of the collection. You can install the devel version using the `install_collection` make target, or you can wait for the next release of `awx.awx` to galaxy which

[2020-04-08 18:21] #6653 closed, assigned to nobody

[2020-04-08 18:43] dsesami commented on #6357
@squidboylan mentioned that this is waiting on https://github.com/ansible/ansible/pull/68520 to merge. @ryanpetrello

[2020-04-08 18:46] jakemcdermott commented on #6650
Don't we already have this? It's in the screenshot.

[2020-04-08 18:49] jakemcdermott commented on #6648
Depending on the practicality of relating this information in the api, we might not be able to show you a _count_ of hosts, groups, etc. that would be deleted.

That said, we can _certainly_ provide a better warning in the delete prompt to at least inform you that it is a destructive operation (beyond the source itself) and that any hosts and groups related to that source will also be deleted.

[2020-04-08 18:57] tima commented on #5735
@shanemcd: Here is your best place for that: https://github.com/ansible-collections/kubernetes

/cc @geerlingguy @fabianvf

[2020-04-08 18:58] squidboylan commented on #6630
I have verified this works on devel using the instructions provided in the issue.

[2020-04-08 18:58] #6630 closed, assigned to ryanpetrello, squidboylan

[2020-04-08 19:11] egmar commented on #6648
I do believe the code already has this intent, but it seems to pull data from wrong source, But agree, might be a quite expensive operation on big inventories.
On another note, what about making deletion of hosts/groups optional, in same way how hosts in groups can be promoted when group is deleted. I at least can see an use case for this when inventory source is used for an one time import.

[2020-04-08 19:19] dsesami opened #6663 "Organization field on WFJT form should be required for all non-superusers"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Org admin user can't make workflow job templates.

##### STEPS TO REPRODUCE
Copied from the steps to reproduce a different bug:

1. Create OrgA & OrgB
2. Add org admin users CuA & CuB respectively in the Orgs.
3. Create a jt in OrgA
4. Give "execute" permission on the jt for CuB.
5. Login as CuB.
~~6. Try creating a wfjt using the jt.~~
6. Try creating

[2020-04-08 19:21] dsesami commented on #6608
This works correctly now, both with only one project and with multiple projects.

[2020-04-08 19:21] #6608 closed, assigned to marshmalien, dsesami

[2020-04-08 19:26] dsesami commented on #6638
Editing a JT persists the playbook.

[2020-04-08 19:26] #6638 closed, assigned to jakemcdermott, dsesami

[2020-04-08 19:32] one-t commented on #6580
Tested on devel using Grafana deployed on GKE, this is working as expected

[2020-04-08 19:32] #6580 closed, assigned to one-t

[2020-04-08 20:14] fosterseth commented on #6428
https://github.com/ansible/tower-qa/pull/4894

that test fails for me on devel local cluster, so I've been able to replicate the issue that way

I think the `OrderedManyToManyField` might not be working correctly in this case

One thing I've noticed is this particular line in `_update_m2m_position`, which is a method called each time we add an instance group.

https://github.com/ansible/awx/blob/9

[2020-04-08 20:16] blomquisg commented on #5501
:tada: @megabreit thanks for the PR! :tada:

[2020-04-08 21:09] sumkincpp commented on #6650
Actually I drew them on screenshot so that they look the same as on Inventory Sources page.

[2020-04-09 02:35] AlanCoding commented on #5032
Looks like this got done in the conversion work:

https://github.com/ansible/awx/blob/b90a296d4196ccccf99a1ba9bfb00ee9de796edb/awx_collection/plugins/modules/tower_notification.py#L62-L65

example here:

https://github.com/ansible/awx/blob/b90a296d4196ccccf99a1ba9bfb00ee9de796edb/awx_collection/plugins/modules/tower_notification.py#L233-L240

[2020-04-09 02:40] AlanCoding commented on #6218
I think this was addressed in the refactor of the module.

https://github.com/ansible/awx/blob/b90a296d4196ccccf99a1ba9bfb00ee9de796edb/awx_collection/plugins/modules/tower_notification.py#L66-L70

(not required)

The new module also discourages parameters like these, in favor of closer alignment with the API, via the arbitrary dict field `notification_configuration `.

[2020-04-09 06:23] jladdjr commented on #5998
[This ticket](https://github.com/ansible/ansible/issues/27800) is the only one I could find that tracks progress with enabling IPv6. Based on that ticket it's unclear whether the module works with IPv6 or not.

Will need to try running the plugin to see if the module supports this or not.

[2020-04-09 08:00] mooky31 commented on #6653
I grabbed the devel version, and it works.
Thank you!

[2020-04-09 12:53] ggambini opened #6666 "SAML integration behind reverse proxy : wrong ACS URL in SAMLrequest"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hello,
I run an AWX behind a httpd reverse proxy. We have non ssl http between reverse proxy and awx_web and clients access are https.
I setup the built-in SAML authentication and there is a difference in assertions consummer url between admin panel and SAMLrequest generated by AWX.

##### ENVIRONMENT
* AWX version: 9.0.1.0
* AWX install method: docker

[2020-04-09 13:02] ryanpetrello commented on #5998
@jladdjr

Seems like it would be pretty simple to test.  I've just made a new VPC that allocates from a public ipv6 block.  Make a VM in that VPC that isn't assigned a public IP automatically, then see if it can be imported into Tower as a host with the correct IPv6 address?

<img width="709" alt="image" src="https://user-images.githubusercontent.com/214912/78897769-ac928300-7a40-11ea-9fa3-cb216eb

[2020-04-09 13:44] jbradberry commented on #6626
I'm afraid that we don't have such documentation yet.

[2020-04-09 14:22] mrmatt1877 commented on #3935
We are having the same issue. In our requirements.yml, when using https our folder structure is as expected. When using ssh, which our new project requires, a folder is exploded to up to the root of the repo. If we remove that folder it will randomly select another folder and move it's contents to the root.

[2020-04-09 14:42] AlanCoding commented on #3935
A recently merged patch, #6488, certainly addresses a problem specific to ssh role requirements (does not apply to https entries), but this is auth-related.

Your issue that ssh, but not https, gives incorrect role _folder structure_ goes well beyond the test case I posted earlier in this thread. There are many independent variables in play here. If you can reproduce the issue locally with the sam

[2020-04-09 14:47] marshmalien commented on #6530
Mockup with Prompted Values
![image](https://user-images.githubusercontent.com/15881645/78908023-80323300-7a4f-11ea-8617-876730692e0e.png)

[2020-04-09 14:49] mrmatt1877 commented on #3935
Maybe I am reading something wrong but this is exactly the issue I am having but only with ssh not https.

[2020-04-09 15:00] viewmithun opened #6667 "Base URL of the Tower Host mismatch in Slack notifications"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When I configure AWX the base url of the tower host was **www.examp.com**. After that, I created Templates and integrated Notifications with Slack to a particular Slack channel.

Later I figured out that the Base URL of the tower host is wrong. Hence, I went to AWX Settings > System > Base URL of Tower Host and did the necessary changes to the host i.

[2020-04-09 16:08] kdelee commented on #2916
Closing this as a duplicate, because fixing this is equivalent to fixing https://github.com/ansible/awx/issues/3509. When the plugin lands, we should test this

[2020-04-09 16:08] #2916 closed, assigned to jladdjr

[2020-04-09 17:16] dsesami commented on #6183
Closing this out in favor of #6333

[2020-04-09 17:16] #6183 closed, assigned to dsesami, AlexSCorey

[2020-04-09 17:18] dsesami commented on #5901
QE work for this is pending completion of #6333

[2020-04-09 17:19] dsesami commented on #5901
@AlexSCorey we can put this back in needs_test once https://github.com/ansible/awx/pull/6562 merges.

[2020-04-09 18:29] jakemcdermott commented on #4092
Hi. That would do a raw text search of the output for "changed", which isn't what you want.

`changed` is a field you can filter on. This is evident from taking a few moments to read the expandable key of the search filter box, which provides usage examples on field filtering as well as the currently available fields you can filter on.

![Screenshot from 2020-04-09 14-22-31](https://user-images.gi

[2020-04-09 18:55] kedark3 commented on #6218
If that's the case we may close this.

[2020-04-09 19:06] dsesami commented on #6606
I'm still seeing this currently @mabashian on devel. Same error.

[2020-04-09 19:14] dsesami opened #6669 "Error indication needs to be next to save button on forms."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Simply put, if there is a long form (like the Job Template form) and there is an error on a field out of view, the user only sees a "Save" button that doesn't appear to do anything.

In this screenshot, the name is missing, but the user has no way of seeing it, and the save button doesn't look like it's doing anything either. We should have a message t

[2020-04-09 19:15] ryanpetrello commented on #6633
@maitrefou Can you clarify what you're asking about here?  If you have a VM powered off, AWX will import it as disabled.

If you're having trouble or have questions about how inventory syncing works, you might have more luck on the mailing list or IRC room (this issue tracker is for tracking bugs and enhancements).

[2020-04-09 19:15] #6633 closed, assigned to nobody

[2020-04-09 19:17] dsesami commented on #6606
This was a wrong-branch problem on my part. It's all fixed.

[2020-04-09 19:17] #6606 closed, assigned to mabashian

[2020-04-09 19:18] ryanpetrello commented on #6579
Hey @ldepandis,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-04-09 19:18] #6579 closed, assigned to nobody

[2020-04-09 19:20] dsesami commented on #6655
Resolved by https://github.com/ansible/awx/pull/6658

[2020-04-09 19:43] mayuresh82 commented on #553
so is anybody going to add boolean here or is awx just a throw-it-out-there open source gimmick so people can purchase tower and actually get the support they want ?

[2020-04-09 19:59] ryanpetrello commented on #553
@mayuresh82,

I (and a score of other people, many of whom _don't_ work at Red Hat) spend a **considerable** amount of our time building and maintaining the AWX open source project, which is a quality project that is totally free for use, expansive in its feature set, and *constantly* improving.  Much of the work we do, and the roadmap we set for development is dependent on feedback we get _from_

[2020-04-09 23:57] AlanCoding commented on #4092
From your linked comment, let me clarify:

I believe this was fixed, as the config entry `display_ok_hosts=no` was mentioned. I tested this and it works. I suspect that it did _not_ work at some time in the past, because the ansible-runner callback plugin did not extend the base documentation fragment, but it was updated due to other unrelated bugs.

[2020-04-10 03:10] AlanCoding commented on #5145
By this metric this is complete:

[code]

Only remaining thing that should be considered is to get better across-the-board messaging.

https://github.com/ansible/awx/blob/eeab4b90a55864c9c80882e25780a914398b9e51/awx_collection/plugins/modules/tower_receive.py#L22-L24

This description for both send & receive should loudly proclaim its deprecation. We don't have a line limit here, this can talk in

[2020-04-10 15:43] mbrancato commented on #6158
I think this is better solved by #5076 or similar which would be implementing other auth mechanisms.

This still means AWX would need a long-lived Vault token. These Vault tokens are basically an AuthZ mechanism / session identifier since policies are already attached. It is more secure / preferable to perform AuthN and let Vault assign the correct policies based on the identity. Vault then return

[2020-04-10 17:26] rmanibus commented on #6158
I was thinking about running a renew playbook periodically to refresh the awx token.

In fact #5076 solve that part but still does not provide a way to authenticate on vault on the remote host, which is needed to issue a certificate for a webserver directly on the target host for example.

Wouldnt jwt require one more step on the host before performing the actual signing operation ?

[2020-04-10 17:33] rmanibus commented on #6158
What I wanted to achieve is to provide a token in the playbook to sign a key that is located on the host.

maybe having a plug-in that directly allow to interact with the vault PKI and inject a fresh private key and certificate in the playbook would be the way to go ?

also, I'm provisioning new PKI with an ansible playbook (that I run locally on the task container). In that case I think that I re

[2020-04-10 18:15] mbrancato commented on #6158
Once you have a Vault token, you can use (assuming it is authorized) any secret engine in Vault. This includes the PKI engine. The PKI engine has a `/issue/` API that can be used to generate and sign a certificate - it returns the cert and private key but the private key is not stored by Vault.

But the process of doing the initial authentication is where a possible JWT comes into play. And how yo