[2020-07-06 09:26] #7549 closed, assigned to nobody

[2020-07-06 09:57] lemmy04 opened #7550 "AWX 13.0: libvirt module is unusable"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I cannot use the virt ansible module in AWX 13.0 anymore, seems that the awx_task image is missing some dependencies.

##### ENVIRONMENT
* AWX version: 13.0
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: Docker container running on openSUSE Leap 15.2
* Web Browser: Firefox

##### STEPS TO REPRODUCE

open a shell in

[2020-07-06 10:12] AdrianDutu opened #7551 "Management pod can't see the awx image"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm trying to install awx 13 on a host without internet access. The way I was doing it in the past is I had some automation in place that was downloading the images from docker hub on a build server, then moving them to the awx server and loading them there.
Now with awx 13 I see there's only one image on docker hub. So I did the same thing.
But the is

[2020-07-06 13:06] nixocio commented on #7476
This issue was fixed by https://github.com/ansible/awx/pull/7502.

[2020-07-06 13:06] #7476 closed, assigned to nobody

[2020-07-06 13:42] kenchrcum opened #7554 "tower_workflow_job_template module not idempotent when defining survey"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The module tower_workflow_job_template always returns changed if survey_enabled and survey parameters are defined.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: linux
* Web Browser: chrome

##### STEPS TO REPRODUCE

Execute tower_workflow_job_template module various times:

[2020-07-06 13:58] ryanpetrello commented on #7404
@zigaSRC,

I'm not really sure why you've got that second instance in there called `awxtask`, but I'd just delete that row entirely; the modified time shows that it hasn't actually had a successful heartbeat since Jan 13th, e.g.,

`DELETE FROM main_instance WHERE hostname='awxtask'`

[2020-07-06 13:58] #7404 closed, assigned to nobody

[2020-07-06 14:12] zigaSRC commented on #7404
Can't really do that since it would violate foreign key restraints in the database.

Using `awx-manage deprovision_instance --hostname=awxtask` did work though and the other instance is gone. There are no more errors in the logs which is great. Hopefully this fixes the issues we've been having after the upgrade. We'll just have to wait and see...

For now: Thanks for the help!

[2020-07-06 14:17] AdrianDutu commented on #7551
There was another file, management-pod.yml.j2 that also had  imagePullPolicy set to Always. You should set this to IfNotPresent.
Not sure why it should always pull from the repo.

@ryanpetrello

[2020-07-06 14:18] #7551 closed, assigned to nobody

[2020-07-06 14:53] AlexSCorey commented on #7515
We have a util, in there also `getErrorMessage` used by `<ErrorDetail>` which could be use to generate the error messages for `<FormSubmitError>`

[2020-07-06 15:08] wenottingham commented on #7550
See https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md - this is what custom virtual environments are for - adding the dependencies you need for certain modules.

[2020-07-06 15:08] #7550 closed, assigned to nobody

[2020-07-06 15:08] mamercad commented on #6753
+1

[2020-07-06 15:17] jbradberry commented on #7064
Note that I've been convinced that having separate name and image url fields is redundant, so I've reduced it to a single field called `image`.

[2020-07-06 15:21] lemmy04 commented on #7550
you're kidding, right? users are supposed to mess around with the virtualenvs inside the running containers to get things to work that used to work just fine in a previous version, and are standard ansible modules?

[2020-07-06 15:24] ryanpetrello commented on #7404
@zigaSRC yep, `deprovision_instance` works.  I expect your errors to go away - you had an old instance laying around that didn't reflect reality.  I'm unsure how it _got there_, but I expect it was just something we goofed up in a prior/older version of AWX that's now lost to the sands of time 😄.

Let me know if you spot any other issues.

[2020-07-06 15:38] wenottingham commented on #7550
We have never included the libvirt python bindings in the ansible environment used in AWX. I'm not sure how it worked for you beforehand.

[code]

[2020-07-06 15:41] lemmy04 commented on #7550
all I know is that it worked, and that the "virt" module is a standard ansible module, so I'd assume it should "just work" in awx as well as manually. my guess is that it came pulled in via rpm dependencies until recently when the images are being build, but now it's not anymore. Would have to roll my checkout back to the last version that worked, and compare.

[2020-07-06 15:54] lemmy04 commented on #7550
I just tried the same thing that you're doing there, and you are right, there is no libvirt python module around, and any "ansible -m virt" from inside the container fails on 11.2 just the same way as it does now in 13.0... I am mystified.

all i can say for sure is this:
my playbook's at https://eregion.kicks-ass.net/git/?p=updates.git;a=blob_plain;f=update-vms-v1.yml;hb=HEAD and it used to work

[2020-07-06 16:16] AlexSCorey opened #7556 "Form Labels"
##### ISSUE TYPE
Bug
##### SUMMARY
Since the PF4 upgrade the look up labels have been misaligned with their tooltip icon.  This needs to be fixed.  While fixing this we should also utilize PF's popover component that introduces clickable tooltip.  When bringing this in be aware that this change doesn't impact the prompt on launch fields.  Ie. when prompt on launch is clicked, the tooltip should no

[2020-07-06 17:06] lemmy04 commented on #7550
So just to make sure I installed AWX 11.2.0 on another host, and my play to manage libvirt VMs **works** there, but not in my AWX 13.0.0 instance.

[2020-07-06 17:30] lemmy04 commented on #7550
ok now I am really confused.

I installed AWX 13.0.0 on my test host, and before that I switched from python 2 to python 3 using update-alternatives... and guess what, my play works there. So I re-deployed 13.0.0 on my production AWX, also switching to python3 before that, and there my play works again, too.

I do not understand that.

[2020-07-06 17:37] kdelee commented on #6878
yup

[2020-07-06 17:37] #6878 closed, assigned to shanemcd, kdelee

[2020-07-06 17:48] nixocio opened #7557 "List Instance Groups"
ISSUE TYPE

    Feature Idea

SUMMARY

Add support for list Instance Groups

[2020-07-06 18:10] kdelee opened #7558 "awx workflow_jobs monitor does not show approval nodes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

while testing out https://github.com/ansible/awx/pull/6790 I noticed that a workflow that has a approval node does not show this in the monitor output.

[code]

hangs out until the approval nodes does exit either by approving, denying or timing out (probably because workflow itself shows itself as not done) but does not show that it is waiting on an a

[2020-07-06 18:15] kdelee commented on #6165
@ryanpetrello I'm finding this works for jobs launched from job templates and workflows

It is not implemented for `inventory_update` or `project_update` but arguably those could be new RFE's, but they are logical extensions as you can monitor a project update that you launch from the CLI

[2020-07-06 18:47] kdelee commented on #6165
closing this verified, we can implement the monitor action for other monitorable objects as further enhancement

[2020-07-06 18:47] #6165 closed, assigned to kdelee

[2020-07-06 18:54] wenottingham commented on #7550
You mentioned that this was self-built? If you're inheriting a libvirt-python from the system/image you're starting from, which python interpreter you use will make a difference.

[2020-07-06 19:02] kdelee commented on #4680
verified, tried it a few ways:

- made group first, tried to add host to inventory or in the group itself, both denied saying a group already has the name
- made the host first, tried to add the group and got an error saying a host already existed.

closing as verified, thanks!

[2020-07-06 19:02] #4680 closed, assigned to thedoubl3j, kdelee

[2020-07-06 19:50] kdelee commented on #6932
main thing I see as missing from our testing is this case:

 "I update settings on Tower A and look to see if updated on Tower B"

going to check that on a cluster

[2020-07-06 20:47] kdelee commented on #6932
Allright, tried that out and adding a test to catch in future. Going to close as verified

[2020-07-06 20:47] #6932 closed, assigned to rebeccahhh, kdelee

[2020-07-07 00:14] szollin commented on #7490
I reinstalled just in case there was something weird with the install and it is still doing it. What next steps would you like me to take? Do you need more information?

[2020-07-07 01:39] ghjm commented on #5811
@denis-ovsyannikov It is possible to do this.  The basic steps are:

1. Have the Professional edition of PyCharm.
2. Add a run configuration of type "Python Debug Server."
3. Run the AWX development environment.
4. Get a bash shell Docker as root with `docker exec -it --user 0 tools_awx_1 bash`.
5. Activate the AWX virtualenv with `. /venv/awx/bin/activate`
6. `pip install pydevd-pycharm-<version>

[2020-07-07 05:07] lemmy04 commented on #7550
I always thought docker images are built based on the base image and nothing else? You know, the "FROM" line in your docker file?

Anyway, if this is the case it should be in the docs somewhere.

[2020-07-07 10:31] waheedi commented on #2495
just to give a hint, the problem seems to be the credentials type that you created is not part of the scm settings, when opening the credentials pop up the credentials_type requested is 2 while in reality you created a token with type=13 which is not going to be visible in the scm settings for your project.

To create an SSH key authentication, you have to create a Source Control credential type a

[2020-07-07 12:25] ziouf opened #7560 "[External Logger] Rsyslogd unexpectedly stop sending events to Splunk http collector"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Rsyslog daemon seam to unexpectedly stop publication of events to Splunk HTTP event collector.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: RHEL 7
* Web Browser: Firefox 78

##### STEPS TO REPRODUCE
- Setup external logger to publish events on Splunk HTTP event collector
-

[2020-07-07 12:48] chrismeyersfsu commented on #7528
Now that inventory plugins are a thing, custom inventory scripts may be going away soon. That would make this much less of a priority.

[2020-07-07 12:51] mabashian opened #7561 "Add email as a default search option to Users list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I know that we don't display the email address in the list itself but I could see a situation where someone may want to search based on it on this list.

[2020-07-07 13:20] dsesami commented on #7412
This can be closed with the merge of #7444

[2020-07-07 13:36] mabashian opened #7562 "Form field error text should stand out"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
As it currently stands, it looks like the field level error text has no special styling at all:

<img width="1382" alt="Screen Shot 2020-07-07 at 9 34 05 AM" src="https://user-images.githubusercontent.com/9889020/86789303-2680db00-c035-11ea-94c6-b56989fbe1fd.png">

It should probably be red(?)

Here's a link to PF's example of an invalid field:

http:/

[2020-07-07 13:44] mabashian opened #7563 "Organization column label spacing off on Users->Teams list"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I believe the spacing between the label (Organization) and the value should look like:

<img width="1346" alt="Screen Shot 2020-07-07 at 9 44 10 AM" src="https://user-images.githubusercontent.com/9889020/86790433-6eecc880-c036-11ea-9c97-4948804b3043.png">

instead it looks like:

<img width="1680" alt="Screen Shot 2020-07-07 at 9 42 31 AM" src="https:/

[2020-07-07 14:02] mabashian commented on #7563
Same thing applies to the regular Teams list (probably bc it's the same component)

[2020-07-07 14:07] mabashian opened #7564 "Add button should not be shown to system auditors on Users/Teams -> Access list"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If I log in as a system auditor and go to the Users -> Access list I see:

<img width="1680" alt="Screen Shot 2020-07-07 at 10 05 24 AM" src="https://user-images.githubusercontent.com/9889020/86793391-68138500-c039-11ea-82ca-4303c21e7379.png">

(same thing with Teams -> Access list)

This user does not have the rbac permissions necessary to add an entr

[2020-07-07 14:13] mabashian opened #7565 "Redirect users away from routes when they don't have permission but attempt to directly access"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In the old app, if a user does not have permission to, for example, add a team but they attempt to access that route directly via URL manipulation then we'll redirect them back out to the Teams list and throw a modal saying they don't have permissions to add a team:

![team_add_redirect](https://user-images.githubusercontent.com/9889020/86794281-5252

[2020-07-07 14:28] ryanpetrello commented on #7558
I _think_ this is because we explicitly filter approval jobs from `/api/v2/unified_jobs`.  @beeankha @mabashian @chrismeyersfsu is that right (I can't quite remember)?  If that's the case, it may be pretty difficult to capture this entire view in one API request.

[2020-07-07 14:34] #7545 closed, assigned to nobody

[2020-07-07 15:11] wenottingham commented on #7550
Yes, just that when someone says "self-built", I don't want to assume they haven't modified the docker or build configuration.

[2020-07-07 15:14] lemmy04 commented on #7550
That's a good way of thinking there. But all I have modified is the inventory file... so I really don't get it.

[2020-07-07 15:27] ryanpetrello commented on #7560
@ziouf,

This is pretty weird - it might be worth opening an issue at https://github.com/rsyslog/rsyslog/issues/ with this output as well to see if they have any ideas/pointers (or they might have suggestions about how to get more detail about the failure).

[2020-07-07 15:34] kdelee commented on #7063
We now have test coverage for this and have been testing on devel, closing as verified

[2020-07-07 15:34] #7063 closed, assigned to fosterseth, kdelee

[2020-07-07 15:36] kdelee commented on #6998
@dsesami @unlikelyzero @shebangbash this one is hanging out from a while back, should be easy as we already verified it for the tower patch release

[2020-07-07 15:40] kdelee commented on #6991
Given that event processing time is effected by general backlog of other events to process I was not able to get a very consistent measurement, but can say that processing events on jobs that act on thousands of hosts happens in a reasonable amount of time, and that lag in event processing is no longer showing to be correlated with inventory size.

Now strongest correlation is "when" the event occ

[2020-07-07 15:40] #6991 closed, assigned to ryanpetrello, kdelee

[2020-07-07 15:53] kdelee commented on #6983
@dolgovas I tried out your example playbook + config and this is working for me, so I'm going to close the issue. If you are still having trouble please let us know and re-open the issue w/ updated information

[2020-07-07 15:53] #6983 closed, assigned to kdelee

[2020-07-07 15:57] kdelee commented on #6831
Verified that the new field is usable from the UI, and with the unit test added I think we have good coverage for this new option. Going to close as verified

[2020-07-07 15:57] #6831 closed, assigned to nobody

[2020-07-07 16:01] elyezer commented on #7528
@chrismeyersfsu does it make sense to skip exporting incomplete data then? Like currently the inventory source is exported but not the script so when importing it will be a broken one.

[2020-07-07 16:33] ryanpetrello commented on #7547
@gefela do you see any clues in:

`/var/log/tower/rsyslog.err`

[2020-07-07 16:34] ryanpetrello commented on #7546
Hey @stasonspb,

Thanks for reporting this - this looks related to a recent dependency upgrade we made (to jQuery cc @jakemcdermott).

This should be resolved in the next release of AWX: https://github.com/ansible/awx/pull/7553

[2020-07-07 16:40] gefela commented on #7547
None . The directory does not exist.

[2020-07-07 16:41] chris93111 opened #7566 "Can't attribute superuser to ldap user UI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

In ui it's not possible to assign role superuser to ldap user (default admin account used)

it's work with patch user api

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker
* Ansible version:  2.9
* Operating System: redhat
* Web Browser: chrome

##### STEPS TO REPRODUCE

try to assign superuser to ldap account

##### EXPECTED RESUL

[2020-07-07 16:42] ryanpetrello commented on #7533
@duhlig have you tried installing Ansible directly into the custom virtualenv e.g.,

[code]

[2020-07-07 16:46] ryanpetrello commented on #7438
I spoke to @wenottingham about:

...and it sounds like he's on board with that.

[2020-07-07 16:50] wenottingham opened #7567 "System admin created labels can be created with an unexpected organzation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. Have two organizations (id 2 and id 3)
2. Have a job template XYZ, in organization 2
3. Log in as superuser, who is not a member of any organization
4. Add some new labels to job template XYZ

##### ENVIRONMENT
* AWX version: current

##### STEPS TO REPRODUCE

see above

##### EXPECTED RESULTS

Labels created in organization 2, as that's the org of

[2020-07-07 16:52] ryanpetrello commented on #7547
If I misconfigure Splunk, it works for me:

[code]

![image](https://user-images.githubusercontent.com/214912/86815522-c009b600-c050-11ea-8ef5-2ab437853f47.png)

[code]

[2020-07-07 17:01] ryanpetrello commented on #7453
@gen2fish,

Can you share the entire output/traceback that includes the `SyntaxError` ?

[2020-07-07 17:10] kdelee commented on #7267
Tried this out in a local playbook and this is working for me now. Let me know if you need something further @kedark3, closing for now

[2020-07-07 17:10] #7267 closed, assigned to kdelee

[2020-07-07 17:18] msilmser opened #7569 "RFE: Selection of preferred or default instance group"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Allow users to select a default instance group for jobs to run. While we do allow instance groups to be selected at the Org/Inv/JT level, this still lets jobs overflow into other instance groups. A large use case for customers is to use instance groups to limit what nodes jobs run on.

A potential fix could be a checkbox (or another mechanism) that d

[2020-07-07 17:22] gefela commented on #7547
I have got the logs and the test to splunk is working
![AWX splunk](https://user-images.githubusercontent.com/30554569/86818806-bd25ba00-c07e-11ea-826e-d41c249e997a.png)

https://pastebin.com/8PRhPAj1

[2020-07-07 17:31] ryanpetrello commented on #7547
[code]

This tells me that your Splunk instance is not reachable at `172.16.203.202:8088` from within the container.

[2020-07-07 18:29] wilpig commented on #7569
This one seems like a clear case where the priority should be Least -> Most, Organization -> Inventory -> Playbook.

When jobs process if the playbook has a group set it would run there, if that is blank then it could check the inventory level, if that too is blank then it would check at the organization, then finally just run on any system.  We have firewall rules that limit some of our tower ser

[2020-07-07 18:33] gefela commented on #7547
It is on the same LAN . rst on the last packet
![AWX wireshark](https://user-images.githubusercontent.com/30554569/86826473-b308b900-c088-11ea-8022-afd953c49ca3.png)

[2020-07-07 18:33] gefela commented on #7547
what do I need to look for to resolve this

[2020-07-07 18:39] AlexSCorey opened #7570 "Inventory Scripts List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add support for Inventory Scripts

[2020-07-07 18:39] AlexSCorey opened #7571 "Inventory Scripts Add"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add support for Inventory Scripts Add

[2020-07-07 18:40] AlexSCorey opened #7572 "Inventory Scripts Edit"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add support to Edit Inventory Scripts

[2020-07-07 18:45] kdelee commented on #6845
Tests were added for this that are passing, going to call this verified. @squidboylan can chime in if he thinks there is anything missing

[2020-07-07 18:45] #6845 closed, assigned to kdelee

[2020-07-07 19:03] jakemcdermott commented on #7483
https://github.com/ansible/awx/pull/7537#issuecomment-655051821

[2020-07-07 19:03] #7483 closed, assigned to jakemcdermott

[2020-07-07 19:40] Aech1977 opened #7573 "Issues with editing schedule in AWX"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
All of a sudden when I try to edit a schedule I created it gives a bunch of string messages in place of where the guid buttons and names are

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.2
* Operating System: CentOS 7.5
* Web Browser: Chrome (but also happens in Safari

[2020-07-07 19:41] Aech1977 commented on #7573
I have restarted the postgres DB and restarted all associated docker containers including the host AWX is deployed on itself.

[2020-07-07 20:18] jakemcdermott commented on #7573
Hey @Aech1977 - we've just merged a patch for this. It'll be fixed in the next release of awx.

related: https://github.com/ansible/awx/issues/7534

[2020-07-07 20:18] #7573 closed, assigned to nobody

[2020-07-07 20:29] jakemcdermott commented on #7534
Hey @kenchrcum  - we've just merged a patch for this. It'll be fixed in the next release of awx.

[2020-07-07 20:53] ryanpetrello commented on #7547
Hey @gefala,

I'm not familiar with your setup, and don't know - you'll have to troubleshoot connectivity from your AWX containers to the IP where you're running Splunk.

Inside both the web and task containers, are you able to verify that connectivity exists using something like netcat?

[code]

If not, there's some sort of networking issue you'll need to work out with your Docker setup.

[2020-07-07 20:53] #7547 closed, assigned to nobody

[2020-07-07 21:12] #7471 closed, assigned to nixocio

[2020-07-07 21:48] Aech1977 commented on #7573
thanks

[2020-07-07 23:30] one-t commented on #7376
This is now working as expected. PR for new test : https://github.com/ansible/tower-qa/pull/5295

[2020-07-07 23:30] #7376 closed, assigned to one-t

[2020-07-08 00:05] one-t commented on #7248
Tested - this is now encoding as expected.

[2020-07-08 00:05] #7248 closed, assigned to one-t, AndrewCopeland

[2020-07-08 00:21] one-t commented on #2688
Tested - this is now working as expected

[2020-07-08 00:21] #2688 closed, assigned to one-t

[2020-07-08 00:23] one-t commented on #7191
Tested - this is now working as expected

[2020-07-08 00:23] #7191 closed, assigned to one-t

[2020-07-08 02:01] ptoal commented on #2192
Satellite creds are still a bit of a dogs breakfast, and it's been made more complicated by the new foreman/satellite modules that require user/password for each call, eg: https://theforeman.github.io/foreman-ansible-modules/master/modules/host_module.html#host-module

It would, IMO, be ideal if we could extend the Sat6 credential to include a mechanism that can be consumed by both the inventory p

[2020-07-08 02:41] AlanCoding opened #7574 "Make AWX collection pass sanity tests in Ansible 2.10 / 2.11"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We want to stick to Tower versions for the `ansible.tower` distribution of the collection, right now we get a lot of these:

[code]

The intent is to ignore obvious AWX / Tower version mismatches. For whatever reason, the current ignore rules are not working.

we also have some like

[code]

and like

[code]

[2020-07-08 06:27] duhlig commented on #7533
No, I didn't. Maybe I don't understand the principle of Python VENV. I thought there must be a standard Ansible installation inside the Docker image, and the VENV would contain only the difference to this.

In my case the template and the inventory are based both on the same SCM project. My current workaround is to unset the custom_venv of this project when synchronizing the inventory and to set i

[2020-07-08 07:33] ziouf commented on #7560
Issue opened in rsyslog project issue tracker : https://github.com/rsyslog/rsyslog/issues/4348

[2020-07-08 12:58] ryanpetrello commented on #7533
@duhlig,

It depends on how you created the virtualenv itself.  The default virtualenv that comes with AWX uses the `--system-site-packages` flag, which means it inherits packages from the system Python `site-packages` (including the system-installed Ansible).  If you didn't set up your custom virtualenv this way, though (the docs don't suggest it - they suggest you install a specific Ansible your

[2020-07-08 13:11] ryanpetrello commented on #5150
@AlanCoding is this issue description:

https://github.com/ansible/awx/issues/4306

...still indicative of the work we want to do for this enhancement?

cc @chrismeyersfsu

[2020-07-08 13:41] vin-c commented on #20
Needed here too for this usecase :
- our (dynamic) inventory is huge and constantly moving
- having a dropdown of a list of hosts (like `groups['whatever']`) to limit the scope of a template and allow an enduser to select one host from this list should prevent mistyping errors

[2020-07-08 13:42] sbenita commented on #20
It's super important feature to have user friendly jobs.

[2020-07-08 16:09] duhlig commented on #7533
I see. I will check this tomorrow.
Thanks a lot.

[2020-07-08 17:18] keithjgrant opened #7579 "Change inventory_sources_with_failures to a list of ids"
##### ISSUE TYPE
 - Feature Idea / Improvement

##### SUMMARY
Currently:

When fetching Inventories, the value `inventory_sources_with_failures` is currently a count of sources with failures. From a UI perspective, this effectively acts as a boolean (0 or non-zero) to indicate whether the Inventory has a successful (green) sync status or not. When a websocket event shows that an inventory source i

[2020-07-08 17:21] ryanpetrello commented on #5150
@AlanCoding I'm gonna go ahead and copy that issue description here since it's a dupe.

[2020-07-08 17:44] bherrin3 opened #7580 "`plugins/modules/tower_inventory_source.py` does not allow for schedules to be set which GUI does"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Within the GUI, it is permissible to set an inventory source to be ran on a schedule to remain updated.

Within `tower_inventory_source`, there is no way via IaC (Infrastructure as Code) to configure in the same manner so production CI / CD pushes to PROD Ansible Towers get updated (and not over written).

This is required if updating the inventory cou

[2020-07-08 19:01] dsesami opened #7581 "API does not have a text size limit on the "Description" field for user tokens and descriptions for custom credential types."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Users > Tokens > description for the token doesn't have a character limit. EDIT: it also doesn't have one for custom credential type descriptions. an audit should be done of all description char limits.
![Screenshot from 2020-07-08 14-51-16](https://user-images.githubusercontent.com/19942822/86959327-9ec9c800-c12b-11ea-9cdd-9aa3fb0ac0a8.png)

#####

[2020-07-08 19:11] ryanpetrello commented on #7581
https://archive.org/stream/warandpeace030164mbp/warandpeace030164mbp_djvu.txt

[2020-07-08 19:43] cmodiano opened #7582 "Trigger approval immediately even if the job is scheduled for a later date"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Currently when you submit a workflow with an approval as the first step and the workflow is scheduled at later date.
The approval is requested at the time scheduled, it would be nice to have the possibility to get the approval directly but the job to run at a later date.

##### ENVIRONMENT
Tower: 3.6.3
Ansible: 2.9

[2020-07-08 19:57] willtome commented on #2192
https://github.com/theforeman/foreman-ansible-modules/pull/866 sets consistent env vars for Foreman collection.
`FOREMAN_SERVER`
`FOREMAN_USER`
`FOREMAN_PASSWORD`

[2020-07-08 20:08] #7445 closed, assigned to dsesami, AlexSCorey

[2020-07-08 20:09] #7433 closed, assigned to AlexSCorey

[2020-07-08 20:42] msilmser opened #7586 "RFE: Write Inventory changes to the database after inventory sync has completed"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In order to long running connections to the database during slow inventory syncs, some users may desire an option to write all data to the database after the sync as opposed to during.

[2020-07-08 20:46] wenottingham commented on #2192
Is it intended to change those downstream? (I hope not.)

[2020-07-08 20:49] AlanCoding commented on #2192
the credential type does not inject environment variables right now. It only does anything for inventory.

https://github.com/ansible/awx/blob/dbdc856ed385389f0993ebc2da0a9febddb3bf49/awx/main/models/credential/__init__.py#L851

We can absolutely add them, and once the foreman collection makes a release where the inventory plugin accept the env vars, we can just _replace_ what we have with injecto

[2020-07-08 21:42] kdelee commented on #6930
@AlanCoding but we are still good w/ ansible 2.9 -- right?

[2020-07-08 21:57] wenottingham commented on #7582
As the approval node is tied directly to the workflow execution, I do not see us at any point in the reasonable future moving it outside of when the workflow starts.

This also would lead to a rather confusing UX when applying it to a repeating workflow - is it one approval that applies to all executions? Do you approve 30 at a time? etc.

[2020-07-08 21:57] #7582 closed, assigned to nobody

[2020-07-08 23:51] AlanCoding commented on #6930
yes

I don't anticipate any other changes, unless this moves into an exec environment, which is impossible to answer right now.

[2020-07-09 06:28] rahadianir opened #7587 "UI Bug on editing existing Schedule for a Job"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
an interface bug when trying to edit existing scheduler for a job

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: Mac Os
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Open a job/template, then edit the schedule for it

##### EXPECTED RESULTS

Us

[2020-07-09 07:34] ziouf commented on #7560
https://github.com/rsyslog/rsyslog/issues/4348#issuecomment-655792849

@ryanpetrello Is it possible that AWX exposes a bad formatted json to rsyslog ?
How can I verify json format of blocking event ?

What do you think of the template suggestion?

[2020-07-09 08:18] zigaSRC opened #7588 "Intermittent GET -1 errors in UI - ERR_CONTENT_LENGTH_MISMATCH"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Intermittent errors retrieving data from the api through the user interface. Sometimes it's even impossible to access the settings page because of the ERR_CONTENT_LENGTH_MISMATCH.

##### ENVIRONMENT
* AWX version: 13.0.0 and 12.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: CentOS 7
* Web Browser: Chrome, Firef

[2020-07-09 08:18] zigaSRC commented on #7404
The problems we were having are still there so that wasn't the root cause sadly. I created another issue since it apparently doesn't relate to the connectivity issue discussed here. I will just include the link here in case it has any relevance.

#7588

[2020-07-09 08:21] ziouf commented on #7560
I have found events in error in `/var/log/tower/rsyslog.err` file

The last one is :
[code]

postdata field content:

[code]

I only changed hostname value for confidentiality reason.

I don't see JSON formatting error...

**Edited** because of mistake on my side

[2020-07-09 08:55] duhlig commented on #7533
It works. Great! Thanks! Learned something again.

[2020-07-09 08:55] #7533 closed, assigned to nobody

[2020-07-09 10:24] AdrianDutu commented on #7588
I also get these all the time.

[2020-07-09 10:32] AdrianDutu opened #7589 "LDAP connection fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
LDAP integration fails because of certificate validation. I have on my awx hosts the certificates in /etc/pki/ca-trust/source/anchors. This dir is mounted and if I check the containers I can see the certificates there. If I do an ldapsearch from the hosts, it successfully connects and retrieves the data.

But if i try to login to awx with an ldap user

[2020-07-09 11:18] zigaSRC commented on #7348
Hello!
I can also confirm the issue is present in version 13.0.0.

[2020-07-09 12:48] ryanpetrello commented on #7560
I wouldn't think so - we're not configuring the template as JSON, so I'm not sure why rsyslogd would be attempting to interpret it as such:

`template(name="awx" type="string" string="%rawmsg-after-pri%")`

[2020-07-09 12:55] ryanpetrello commented on #7404
Hey @zigaSRC I get those pretty regularly, too, and I'm not sure what causes them (@mabashian, @jakemcdermott or @marshmalien might know?)

That said, I _think_ they're unrelated to whatever issues you're still having.

[2020-07-09 13:58] ryanpetrello commented on #7589
@AdrianDutu it looks like you've reported similar issues before?

https://github.com/ansible/awx/issues/5324

Given `SSL routines:tls_process_server_certificate:certificate verify failed`, it could also be a duplicate/symptom of something like this?

https://github.com/ansible/awx/issues/6039

[2020-07-09 14:07] AlanCoding commented on #7586
It is possible that this will be accomplished by https://github.com/ansible/awx/issues/7061

Several forms of inventory refactoring are planned, it's going to be a massive task, and I think @chrismeyersfsu may have started on some of that.

The largest change will be moving `ansible-inventory` calls into a container. Saving to the database will only happen after that has completed. I don't think t

[2020-07-09 14:10] AlanCoding commented on #7580
could you share the YAML tasks from your playbook that you've tried?

It's not the inventory source module that provides this functionality, it's the `tower_schedule` module. You should try using that and passing the inventory source name to it. That's the intended way to use it.

[2020-07-09 14:29] jakemcdermott commented on #7587
Hey @risyard

Thanks for the bug report. We merged a patch for this recently. It'll be fixed in the next release of awx.

related: https://github.com/ansible/awx/issues/7534

[2020-07-09 14:29] #7587 closed, assigned to nobody

[2020-07-09 15:11] jakemcdermott opened #7591 "vCenter sourced inventory: manually adding host_vars causes instance_id of host to be removed and host re-added to inventory"
Comments
@ mdinwoodie
mdinwoodie commented on May 26
ISSUE TYPE

    Bug Report

SUMMARY

For a vCenter sourced inventory, making a manual change to the host_vars for any imported host causes the instance_id to be removed. This seems to cause the host to be re-added to the inventory during a sync, removing any manually added host_vars.
ENVIRONMENT

    Taters version 3.6.4

STEPS TO REPRODUCE

[2020-07-09 15:21] anxstj opened #7593 "awxkit: awx cli inventory_sources create fails with Inventory Admin permissions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

If users have Inventory Admin permissions, then they are not allowed to create inventory sources.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker
* Ansible version:  2.9.9
* Operating System: Debian 9
* Web Browser: Firefox 74

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-07-09 15:24] kedark3 commented on #7580
@AlanCoding afaik @bherrin3 tried that and it did not work. @bherrin3 can you provide the input please?

[2020-07-09 15:51] jakemcdermott commented on #7588
Hi. Have you made any changes to your nginx config?

[2020-07-09 17:02] bherrin3 commented on #7580
## Salutations
@AlanCoding including previous conversation with @john-westcott-iv

## Code Sample Requested
[code]
## Previous Conversation

[code]

[code]

[2020-07-09 17:14] poulterer opened #7594 "AWX unable to pull inventory from Foreman"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

AWX is configured to use Foreman (Satellite 6) as an inventory source but fails on python error show below. Running "ansible-inventory -i /etc/ansible/sherlock.foreman.yaml --graph" with file below works. The same user and credentials are used in AWX.

##### ENVIRONMENT
* AWX version: X.Y.Z
AWX-RPM 11.2
* AWX install method: openshift, minishift, dock

[2020-07-09 17:17] dsesami commented on #7326
closing with the merge of #7489

[2020-07-09 17:22] AlanCoding commented on #7580
I would expect it to look like this:

[code]

My expectation is that the name of the inventory source is passed to the `unified_job_template:` parameter. If "RHVM-02" is the name of the inventory, you need to look at its sources and replace it with an inventory source. If you want a schedule to update multiple inventory sources within the inventory, the API does not support that, so make separate

[2020-07-09 17:24] AlanCoding commented on #7594
It sounds like Ansible isn't installed correctly on your server. Could you check the Ansible version in the UI and see what it says? Could you also check `ansible --version` on the server?

[2020-07-09 17:26] bherrin3 commented on #7580
@AlanCoding using / standardizing on the abstracted module and configuration usage in AT IaC name with a variable, hence the difference:

* https://github.com/redhat-cop/tower_configuration/blob/devel/roles/schedules/tasks/main.yml

Noted. Will re-attempt with that and report back.

[2020-07-09 18:30] poulterer commented on #7594
Please read the entire post. It includes the information you requested. The AWX UI reports the same version.

[2020-07-09 19:15] marshmalien opened #7595 "Rename users and access tabs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Task: Update subtab names

<img width="366" alt="Screen Shot 2020-07-09 at 3 22 26 PM" src="https://user-images.githubusercontent.com/15881645/87082005-4d3b3f00-c1f8-11ea-856a-a138f5da3081.png">

<img width="506" alt="Screen Shot 2020-07-09 at 3 25 40 PM" src="https://user-images.githubusercontent.com/15881645/87082160-8ecbea00-c1f8-11ea-9ab9-80d14a9c4

[2020-07-09 19:56] ghost opened #7597 "redis is not starting with AWX releases: 11.1/11.2/12/13 @RHEL 7.8"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
REDIS is not working.

##### ENVIRONMENT
* AWX version: 11.1 / 11.2 / 12 / 13
* AWX install method: docker on linux
* Ansible version:  ansible 2.8.3
* Operating System: RHEL 7.8
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Tested on all 4(!) releases *and* with the actual HEAD version in github.
All show the same error: Redis is not starting (the

[2020-07-10 00:22] magick93 commented on #7344
I'm also facing the same problem.

[2020-07-10 02:43] AlanCoding commented on #7594
This won't solve your problem without a great deal more digging, but my guess is that you hit:

https://github.com/ansible/awx/blob/d8f6ea3fe89eaa6aea375dfa0280b43c66899ae0/awx/main/utils/common.py#L185

that gets passed to version compare and produces errors like those.

[2020-07-10 05:49] zigaSRC commented on #7588
No, no manual changes have been made to the configuration other than trough the inventory for the playbook (things like changing the default hostname and specifying the SSL cert). The only exception is the CSS color code to color it red for production use, but the errors were present before that change was made. I only specified both versions since we had the problem on 12 too (before upgrading to

[2020-07-10 07:43] ghost commented on #7589
It seems you are using a self-signed CA from the LDAP server. Make sure all intermediaries (if any) are in the certificate file. Also make sure you set, in the AWX-LDAP-Configuration, the exact LDAP-server hostname which is specified in the certificate. We had problems with this as the people making those self-signed certs do not put in proper names (e.g. use ldap-server.local or ldap.server etc.,

[2020-07-10 09:13] gabiancofiore opened #7599 "AWX Brand Logos - Incorrect Path - Image Build"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When you tray to build a local image with AWX Brand Logos, the main.yml task copy the logos to "../awx/ui/client/", but the website show the logos from this path: "../awx/ui/static/assets", so you can't see the AWX Brand Logos and you see the Potato.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.

[2020-07-10 11:21] AdrianDutu commented on #7588
I changed the port of the service, nothing else. It looks like in my case it happens only if I have more than one pod (i'm running on k8s). If I scale it down to only one pod, I don't see the popups anymore.

[2020-07-10 12:38] jakemcdermott opened #7600 "Safely enable HTML in Custom Login Info"
##### SUMMARY
enable users to safely embed html in custom login info message, see: https://github.com/ansible/awx/pull/7585

[2020-07-10 12:53] alxndr13 commented on #7386
Is there anything else i can provide to solve this mystery? We'll try to fallback to the Job Template ID when calling `/launch`, i'll keep you guys updated if that changes anything.

[2020-07-10 13:35] ryanpetrello commented on #7600
@jakemcdermott do we need an issue to track this in the new UI to avoid a regression?

[2020-07-10 13:38] ryanpetrello commented on #7599
@jakemcdermott or @jlmitch5 one of you have time to take a look at this?

[2020-07-10 13:49] ryanpetrello commented on #7386
Hey @alxndr13,

I'm equally stumped on this one - it's possible there *could* be some latent bug in the code that maps `templatename++orgname` to an ID, causing it to fail _sometimes_, but I'm not able to reproduce anything like this :/

[2020-07-10 16:35] nixocio opened #7602 "Re-evaluate the usage of translations files during development"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Now that we started to generate build files for the new UI, a series of `.po and .js` files were generated. Not being able to ignore or removed from `src/locales/messages/` since they are required during development.

https://github.com/ansible/awx/blob/d10fdda45336f8e210e6df25480d5d6e7f172765/awx/ui_next/src/App.jsx#L17

This is the work flow describe

[2020-07-10 16:44] wenottingham commented on #7571
This could be closed if we're not adding inventory scripts for the release the new UI targets.

[2020-07-10 16:46] wenottingham commented on #7570
see #7571

[2020-07-10 16:46] wenottingham commented on #7572
see #7571

[2020-07-10 16:56] wenottingham commented on #2785
combining into #5711

[2020-07-10 16:56] #2785 closed, assigned to nobody

[2020-07-10 16:57] wenottingham commented on #5676
Closing, we are unlikely to do this in this way. There is a per-job fork limit now.

[2020-07-10 16:57] #5676 closed, assigned to nobody

[2020-07-10 16:57] wenottingham commented on #7569
-> https://github.com/ansible/awx/issues/6134

[2020-07-10 16:57] #7569 closed, assigned to nobody

[2020-07-10 16:58] wenottingham commented on #7493
We think ^ is the solution. If you're still having issues, stop by the awx-project mailing list, or the awx-devel IRC channel.

[2020-07-10 16:58] #7493 closed, assigned to nobody

[2020-07-10 17:05] wenottingham commented on #7597
I'm not sure what specifically is happening here that would be specific to RHEL 7.8, as it's all under docker. Check the SELinux logs?

[2020-07-10 17:07] ryanpetrello commented on #7594
I'm not sure what's up here, but we generally don't provide support for AWX installed via alternative install paths like `AWX-RPM`.  @MrMEEE you have any ideas about what might be up here?

[2020-07-10 17:07] #7594 closed, assigned to nobody

[2020-07-10 17:17] wenottingham commented on #7586
While https://github.com/ansible/awx/issues/7061 may change this, we are not planning to deeply change the process of how we import inventory. We've always only ever started saving it after the `ansible-inventory` process exits.

[2020-07-10 17:17] #7586 closed, assigned to nobody

[2020-07-10 17:18] wenottingham commented on #7581
We should probably just have the UI truncate it rather than having an arbitrary limit.

[2020-07-10 17:24] jakemcdermott commented on #7600
@ryanpetrello probably

[2020-07-10 17:26] wenottingham commented on #7566
Did this just stop working  in 13.0?

[2020-07-10 17:29] wenottingham commented on #7542
If your playbook run exits abnormally (see the "ERROR"), we will never get the stats from ansible, so we can't pass them on.

[2020-07-10 17:29] #7542 closed, assigned to nobody

[2020-07-10 17:31] #7535 closed, assigned to nobody

[2020-07-10 17:35] chris93111 commented on #7566
@wenottingham i thinks yes i not see this error in 12 but it's not impossible

[2020-07-10 17:39] wenottingham commented on #7490
-> #7406

[2020-07-10 17:39] #7490 closed, assigned to nobody

[2020-07-10 17:43] wenottingham commented on #7475
Closing this specific issue, as the functionality is there.

[2020-07-10 17:43] #7475 closed, assigned to nobody

[2020-07-10 17:47] wenottingham commented on #7441
This should be fixed in the next AWX release, please try when that's available.

[2020-07-10 17:47] #7441 closed, assigned to nobody

[2020-07-10 17:47] wenottingham commented on #7407
Closing, please reopen if/when you have the required information.

[2020-07-10 17:47] #7407 closed, assigned to nobody

[2020-07-10 17:48] wenottingham commented on #7335
Closing, please reopen when you have the requested information.

[2020-07-10 17:48] #7335 closed, assigned to nobody

[2020-07-10 17:49] wenottingham commented on #7318
Closing this; your cluster is underprovisioned.

[2020-07-10 17:49] #7318 closed, assigned to nobody

[2020-07-10 18:03] jakemcdermott opened #7603 "Enable html in custom login text"
### summary
see: https://github.com/ansible/awx/pull/7585 --> https://github.com/ansible/awx/issues/7600

- Could try to use `__dangerouslySetInnerHTML` along with `html-entities` to sanitize (like we do for job events: https://github.com/ansible/awx/blob/devel/awx/ui_next/src/screens/Job/JobOutput/JobEvent.jsx#L55)

- If that doesn't work we'd probably need to first put in a request to pf-react t

[2020-07-10 18:05] wenottingham commented on #7094
This should be fixed in AWX 13.0.0: https://github.com/ansible/awx/pull/7169

[2020-07-10 18:05] #7094 closed, assigned to beeankha

[2020-07-10 18:08] jakemcdermott commented on #7599
@ryanpetrello I'll take a look while I'm working on installer changes next week.

[2020-07-10 18:11] jakemcdermott commented on #7599
in the meantime: @gabiancofiore it sounds like you have the problem reasonably well defined and understood:

Would you be interested in submitting a PR to patch the installer playbook so that it uses the correct path?

[2020-07-10 18:19] wenottingham commented on #7470
` 2020-06-29 14:33:33,110 WARNING awx.main.consumers Potential replay attack or machine(s) time out of sync by 83654 seconds.`

This implies something very wrong with time across your cluster.

[2020-07-10 18:30] ryanpetrello commented on #7488
Hey @jsandova,

This message can mean a lot of things, but the most common explanations are that your cluster/install doesn't have available capacity to run the job, or that the inventory updates are waiting on another dependent job to run first.  Can you share the output of `/api/v2/ping/` ?

[2020-07-10 18:36] wenottingham commented on #7566
@jakemcdermott is this something that https://github.com/ansible/awx/pull/7553 would fix?

[2020-07-10 19:20] AlexSCorey commented on #7570
This feature is deprecated in 4.0

[2020-07-10 19:20] #7570 closed, assigned to AlexSCorey

[2020-07-10 19:20] AlexSCorey commented on #7571
This feature is deprecated in 4.0

[2020-07-10 19:20] #7571 closed, assigned to AlexSCorey

[2020-07-10 19:21] AlexSCorey commented on #7572
This feature is deprecated in 4.0

[2020-07-10 19:21] #7572 closed, assigned to AlexSCorey

[2020-07-10 19:22] AlexSCorey commented on #6863
@dsesami I think we have checked all the boxes for this issue.  If you agree, please close it.

[2020-07-10 19:22] #7237 closed, assigned to AlexSCorey

[2020-07-10 19:24] #6597 closed, assigned to AlexSCorey

[2020-07-10 19:30] jakemcdermott commented on #6611
https://github.com/ansible/awx/pull/7027

[2020-07-10 19:30] #6611 closed, assigned to nobody

[2020-07-10 19:35] unlikelyzero commented on #6998
@kdelee i'll take non-4.0 tasks. Feel free to @ or assign me directly

[2020-07-11 15:03] nathantabailey commented on #20
+1
From another large enterprise user.

[2020-07-11 18:04] agaffney commented on #7051
I've made a fair amount of progress on this over the past few days. Using @kevindurb 's research as a base, I have a working branch with the following changes:

* upgrade `chromedriver` for ARM support
* upgrade `pynacl` to resolve an issue running tests for `libsodium` on ARM
* change the `libstdc++` package name
* install `kubectl` and `tini` from upstream binaries instead of RPM
* fix some logi

[2020-07-11 21:31] ronjarrell opened #7606 "Can't edit credential secrets"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I can create a credential just fine, for instance a Google Compute Engine credential, and import the json file.
After that, there's no button to clear the encrypted password and allow me to upload a new version of the key.
This seems to apply to all my credentials that had that button before 13.0.0.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX instal

[2020-07-12 14:35] rajeshpeta commented on #3204
i am also facing the same issue can you help me plase

[2020-07-12 14:45] rajeshpeta commented on #2698
@chrismeyersfsu can you please explain in detail. i am also facing this issue

[2020-07-12 15:59] jijojv opened #7608 "open_fifo_write os.mkfifo FileExistsError in UI when launching a job"
##### ISSUE TYPE
bug

##### SUMMARY
Launching a job in the UI shows the following
ERROR DETAILS
Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1381, in run private_data_files = self.build_private_data_files(self.instance, private_data_dir) File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 921, in bu

[2020-07-12 19:27] jijojv commented on #7608
This was an upgrade from a much older AWX and this template had a Source Control type credential associated with it which would be invalid.  Removing that seems to fix this error

[2020-07-12 19:40] dkraklan commented on #1207
+1

[2020-07-12 21:59] ronjarrell opened #7609 "gcp_compute inventory plugin failing under 13.0.0"
##### ISSUE TYPE
gcp_compute inventory plugin failing under 13.0.0

##### SUMMARY
I have an inventory script that worked fine under 11.0.0, and still works under 2.9.6 from the command line,
but fails with a:

[code]
under 13.0.0

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version: 2.9.10
* Operating System: Centos 7 on tower, Mac on client
* Web Browse

[2020-07-12 22:29] agaffney commented on #7051
I created PR #7607 with my changes. This produces "working" (running) AWX images and allowed the installer playbook to complete successfully. I haven't actually meaningfully tested the deployed AWX instance yet.

[2020-07-13 08:21] Pavloid21 opened #7610 "catch event for refresh $rootScope"
##### ISSUE TYPE
 - Local problem

##### SUMMARY

Sometimes an event occurs on the page that clears $rootScope. More precisely, it returns to its initial state. In this case, the event occurs when switching between browser tabs! O_o Here it is worth clarifying that a response from the socket is expected on the page. And weird behavior is observed when we return to the tab after the socket response

[2020-07-13 10:51] #6998 closed, assigned to unlikelyzero

[2020-07-13 10:56] unlikelyzero commented on #6998
https://github.com/ansible/tower-qa/issues/5211

[2020-07-13 12:11] unlikelyzero commented on #7595
Please run through the e2e suite. This will likely break some tests that depend on the tabs

[2020-07-13 12:15] unlikelyzero commented on #7557
@nixocio please reach out to @dsesami or myself when you're nearing completion

[2020-07-13 12:16] unlikelyzero commented on #7556
@AlexSCorey would you mind running the PF percy tests once this is ready?

[2020-07-13 12:47] chrismeyersfsu commented on #7586
Yeah, I'm not exactly sure what is wanted here. As @wenottingham said, we don't update the inventory in the DB until the cloud inventory gathering process has finished. We also tried hard to push the lock that protects competing inventory source updates to the same Inventory down as far as possible. https://github.com/ansible/awx/blob/devel/awx/main/management/commands/inventory_import.py#L884

[2020-07-13 12:56] ghost commented on #7597
Yes - you are right. It's all under docker. And the message comes from the awx_task container.
I have checked the filesystem in the docker container: There is no /var/run/redis/redis.sock file.

(py_venv) [adminext@vlx24001 awx]$ sudo docker exec -it awx_task bash
bash-4.4# ls -la  /var/run/redis/
total 0
drwxrwxrwx. 2 root root  6 Jul  9 19:25 .
drwxr-xr-x. 1 root root 34 Jul  9 19:26 ..

This sh

[2020-07-13 13:06] jakemcdermott commented on #7606
**expected:**

![Screenshot from 2020-07-13 09-04-52](https://user-images.githubusercontent.com/9753817/87307692-0c894180-c4e8-11ea-8e1c-ee08a64421f2.png)

**actual:**

![Screenshot from 2020-07-13 09-01-25](https://user-images.githubusercontent.com/9753817/87307711-11e68c00-c4e8-11ea-8ddc-0f2a2eb5f1d4.png)

[2020-07-13 13:12] jakemcdermott commented on #7610
Hi @Pavloid21

Thanks for the bug report. Can you provide a little more detail in terms of the expected vs actual behavior from a user perspective? What are you observing on tab change and how does it differ from what you'd expect?

[2020-07-13 13:14] jakemcdermott commented on #7606
Hey @ronjarrell - we merged a patch for this to devel. It'll be fixed in the next release of awx.

[2020-07-13 13:17] ryanpetrello commented on #7458
Hey @bryanasdev000,

Unfortunately, we don't have any long-term plans to support this.

Here's a duplicate issue w/ a comment that describes why:

https://github.com/ansible/awx/issues/3627#issuecomment-480251701

[2020-07-13 13:18] AlanCoding commented on #7052
the commit https://github.com/ansible-collections/vmware/commit/dd8add6d842ea595f34a461e0216a01501b8f874 has made it into the `community.vmware` 1.0.0 release.

I don't know for sure if the AWX 13.0.0 release will have this or not, but regardless, I would like to ask if the issue can be replicated with the updated collection, and if it does, if there are any new hints as to the root cause in the e

[2020-07-13 13:30] Pavloid21 commented on #7610
Sure! For example, a page expects a response from a socket. We leave the page to wait for an answer and go about our business to neighboring tabs to work with other resources. We return back where, as expected, the response from the socket about the end of the job will be processed. But, we observe that the answer is skipped, the controller scope are destroyed (root scope too) and recreated. Visua

[2020-07-13 13:40] jakemcdermott commented on #7608
Hmm. Yeah. Generally we'd expect no-longer-valid db relationships to resolve on upgrade but they can break from time to time on devel.

It sounds like deleting the credential and/or credential relationship resolved the problem for you so I'm going to close this issue as resolved. Thanks for letting us know.

[2020-07-13 13:40] #7608 closed, assigned to nobody

[2020-07-13 14:26] Tomelin opened #7612 "Filter in source inventory by Azure"
Hi guys,

I have source inventory by Azure and need to create the filter with this informations:
- The VMs is running
- The OS is Linux
- The name contains lnx

I create this filter but not working
host_filters: "{{ powerstate == 'running' }} and {{ 'lnx' in computer_name }} and {{ os_profile.system == 'linux' }}"
or
host_filters: "{{ ( powerstate == 'running' ) and ( 'lnx' in computer_name ) and

[2020-07-13 14:55] bryanasdev000 commented on #7458
Hi @ryanpetrello!

I understand, well then I will close the issue, I will try to keep my fork in my spare time, since in the current version it requires little maintenance beyond the execution of the docker role.

Thank you.

[2020-07-13 14:55] #7458 closed, assigned to nobody

[2020-07-13 15:36] ronjarrell commented on #7606
Excellent!

[2020-07-13 15:49] ryanpetrello commented on #7458
Hey @bryanasdev000,

As with any contribution/fork like this, please feel free to contact me if you notice we've unintentionally broken something, or you've just got questions about AWX in general, and I'm happy to answer questions and oblige in general!

[2020-07-13 16:23] wenottingham commented on #5735
To do this we'd also want to vendor in the ansible venv the minimal dependencies used by the OCP & K8S modules. Would be the same ones we already have in the AWX venv.

[2020-07-13 16:59] gen2fish commented on #7453
`PLAY [Prepare data, dispatch job in isolated environment.] ********************* TASK [synchronize job environment with isolated host] ************************** skipping: [awx-job-29141] TASK [synchronize job environment with remote job container] ******************* changed: [awx-job-29141 -> localhost] TASK [stat] ******************************************************************** ok: [awx-jo

[2020-07-13 18:01] bryanasdev000 commented on #7458
Ok, thank you very much!

[2020-07-13 19:28] ryanpetrello commented on #7453
Hrm.  I'm not entirely sure what's up here, but this looks it's an error emitted by Ansible itself when running the `mkfifo` command on the target pod.

https://github.com/ansible/awx/blob/devel/awx/playbooks/run_isolated.yml#L41

Maybe it's related to/some version of https://github.com/ansible/ansible/issues/56543 ?

@sandoran you have any idea where I should start digging here?

[2020-07-13 20:11] dsesami commented on #6620
If I'm right, this is complete with the merge of https://github.com/ansible/awx/pull/7598. Please reopen if that isn't the case.

[2020-07-13 20:14] dsesami commented on #6619
https://github.com/ansible/awx/pull/7540 was refactored, as part of https://github.com/ansible/awx/pull/7598. this can be closed with that merge.

[2020-07-13 20:25] #6619 closed, assigned to keithjgrant, dsesami

[2020-07-13 20:25] #6620 closed, assigned to keithjgrant, dsesami

[2020-07-13 20:55] jakemcdermott commented on #7612
Hey Tomelin,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-07-13 20:55] #7612 closed, assigned to nobody

[2020-07-13 21:35] ryanpetrello commented on #7329
@john-westcott-iv is there a branch or PR for this work somewhere?

[2020-07-13 21:39] ryanpetrello commented on #7253
@therealrobopablo or @bouluad

Either of you able to share any of this information so I can assist in troubleshooting?

[2020-07-14 06:11] michalss commented on #6959
I'm sorry but i dont get it why not to allow this at least for custom credential types ? To save password is a huge security issue and im very surprised noone really care.

[2020-07-14 07:45] ghost commented on #7597
Disabled SE-Linux. Now it works. Very strange.
We haven't defined any custom SE-Linux rules (as far as i know).

Is there a detailed Installation handbook for AWX ? Maybe i missed something.

best regards,
Michael H.G. Schmidt

[2020-07-14 11:32] ghost commented on #7597
Ok. I tried to fix the selinux rules in RHEL 7.8 (standard installation!).
But this is not possible with "audit2allow".

Please provide a script to fix the selinux rules for awx. Will you ?
Thanks in advance.

best regards,
M. Schmidt

[2020-07-14 12:22] AlanCoding commented on #7329
https://github.com/jbradberry/awx/pull/3

https://github.com/ansible/awx/compare/b1d83dd35d8ddf91d7c816575bd89bb1fe4af57f...john-westcott-iv:import-export-collection

That is relative to @jbradberry's import/export branch, which has changed in the meantime. Rebasing it may or may not work, squashing and cherry-picking might be better, and even that would introduce a lot of conflicts.

The original

[2020-07-14 12:56] AlanCoding commented on #7609
This case is expected to be hit in many cases, I cannot speak to your case.

[code]

https://github.com/ansible-collections/google.cloud/blob/aa51f4df676d0bba40e818e72b1bc5565f0d9c95/plugins/module_utils/gcp_utils.py#L224

It looks like you specified serviceaccount but did not provide the service_account_file. There are multiple ways you could be trying to specify this, but I can tell you that the

[2020-07-14 13:36] john-westcott-iv commented on #7329
@ryanpetrello The modules are stuck in some PR gridlock:

We need #7286 (lookup plugins) to go in.
Once that is done we need to refactor and merge #6615 which splits the modules utils out into tower_api and tower_connector.
After that we can refactor #6125 on to awx/devel and finish up the tests.

[2020-07-14 13:43] ryanpetrello commented on #7597
Hey @mhgschmidt,

We don't really have such a script - you might want to check your SELinux audit logs and see if you can find any clues.  If we figure out what's up, perhaps we could suggest a fix in the installer, or turn this into a known issue for RHEL 7.8.

[2020-07-14 13:49] AlanCoding commented on #7329
Maybe some updated version of #6615, my concerns about that refactor are specifically due to this awxkit integration. The `TowerConnector` class got all of the config processing logic in that split. That might sound logical, because it's not what happens in practice, because awxkit doesn't do any work for us in terms of processing module parameters or config files.

The logic that awxkit will re-i

[2020-07-14 14:02] macnlos commented on #578
Automations, through a tool like Tower/AWX, is primarily comprised of the Playbooks, Templates and Metadata/Variables.  All the Playbooks and such are in source control.  Well done there.  The Templates are in the Tower/AWX instance and in the database...  Boooo!  Having the ability to export those templates into a raw/usable format is the first step to having the ability to import a template into

[2020-07-14 14:54] ryanpetrello commented on #526
@wenottingham it seems like there's a lot of overlap on this issue and https://github.com/ansible/awx/issues/578 - do we want to pick one and close the other?

[2020-07-14 15:06] chrismeyersfsu commented on #578
@macnlos Where did `awxcli export` and `awxcli import` fail to meet your need?

<details><summary>Example export</summary>

[code]

</details>

[2020-07-14 15:18] Jobava commented on #578
@chrismeyersfsu The structure of this export is not formalized as an API, it is not versioned and as such no process for changing it (like deprecating, backwards compatibility etc). It is not a format expected to be consumed outside of Tower and not a public interface as far as I can tell.

[2020-07-14 15:28] ryanpetrello commented on #7597
@mhgschmidt for what it's worth, I've just spun up a vanilla RHEL 7.8 in ec2 and tried installing AWX 13.0.0 there, and I'm not encountering the issue you've described:

[code]

[code]

<img width="547" alt="image" src="https://user-images.githubusercontent.com/214912/87444548-ec7b8000-c5c4-11ea-9464-308fecdadb97.png">

<img width="1120" alt="image" src="https://user-images.githubusercontent.com/2

[2020-07-14 15:28] #7597 closed, assigned to nobody

[2020-07-14 15:42] chrismeyersfsu commented on #578
@Jobava the `tower_job_template` module is closer to having the properties you describe. However, you can't bridge an export + `tower_job_template` you mostly need to hand-craft the yaml that is passed to the module.

[2020-07-14 17:56] kedark3 commented on #578
@macnlos recently we released a new collection which possibly can help you as well. https://galaxy.ansible.com/redhat_cop/tower_configuration
Note: Its a community project, its based on AWX Collections.

[2020-07-14 18:23] infamousjoeg opened #7617 "CyberArk AIM Central Credential Secret Lookup fails due to forced HTTP/2"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using or testing the CyberArk AIM Central Credential Provider Lookup, no test status message notification is returned.  After approximately 60 seconds or so, it will return ‘Test Failed’ with no further information as to the error.

##### ENVIRONMENT
* Tower version: 3.6.3+
* Tower install method: ansible
* Ansible version:  X.Y.Z
* Operating Syst

[2020-07-14 18:24] infamousjoeg commented on #7617
@izgeri

[2020-07-14 18:54] jakemcdermott commented on #7617
Thanks for the bug report.

The first working version was v3.6.2, which I am back on again.

Strange. The plugin code doesn't change between 3.6.2 and 3.6.3 at all. Nevertheless, _something_ must have changed or you wouldn't be observing this behavior.

Are you sure the requests emitted by the _tower plugin_ (not curl) go from HTTP/1 to HTTP/2 when you change from version 3.6.2 to 3.6.3? :thinking

[2020-07-14 18:56] wenottingham commented on #7617
The plugin does this:

[code]

Requests doesn't *do* HTTP/2 requests, so whatever you're seeing, it's not that.

[2020-07-14 19:00] wenottingham commented on #7617
I think you're seeing https://github.com/ansible/awx/issues/6986 until proven otherwise.

[2020-07-14 19:03] jakemcdermott commented on #7617
I think you're right @wenottingham. This sounds very similar to #6986 (and we haven't backported that to any of the versions in mentioned)

[2020-07-14 19:06] jakemcdermott commented on #7617
yep. @infamousjoeg I believe this is already fixed on devel by @ryanpetrello: https://github.com/ansible/awx/pull/7175

We're also slated to backport it to the upcoming release.

[2020-07-14 19:07] wenottingham commented on #7617
Also, @infamousjoeg - please try that linked PR and confirm it works for you.

[2020-07-14 19:22] infamousjoeg commented on #7617
Will do, thank you @wenottingham and @jakemcdermott -- I suspect you're correct as my tests included Client Certificate & Key data.  I will follow up with more info.

[2020-07-14 20:53] jpell958 opened #7619 "tower_credentials.ply"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When the **input** parameter for tower_credentials.ply is not supplied, our expected behavior of tower_credentials would be to not change any of the **input** values like usernames and  passwords .  However, we find that any username or password previously set is wiped out and set to blank.

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method:

[2020-07-14 21:17] jakemcdermott commented on #7619
I'm not sure I agree. Correctly designed ansible modules are idempotent and so not providing input values to the module _could_ be construed as "put the credential into a state with no inputs (clear them)"

More importantly this probably depends on how other awx modules treat this sort of thing. @AlanCoding thoughts?

[2020-07-14 21:37] jpell958 commented on #7619
I wish to be able to change any of the non-input credential's attributes without knowing or modifying the password or other inputs.  There should be a way to to keep current input values in place while updating other attributes.  If you don't specify the input field leave those items alone.  If you want to wipe certain one's then post a null or "" - thoughts?

I would like to code this and do a pu

[2020-07-15 02:20] joeywashburn opened #7622 "LDAP Configuration Failed to save settings. Returned status: 500 A server error has occured"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When choosing MemberDNGroupType and trying to save you get the error message

##### ENVIRONMENT
* AWX version: 13.0.0/AWX 11.2.0  I have two environments with the same problem
* AWX install method: docker on Linux/ Kubernetes
* Ansible version:  2.9.10 / 2.9.7
* Operating System: Ubuntu 20/ Whatever Kube is running.  Used the defaults
* Web Browser:

#

[2020-07-15 06:37] mihai-satmarean commented on #7371
hi, we have the same issue
  < AWX 11.1.0  >
 --------------
        \   ^__^
         \  (oo)\_______
            (__)      A )\/\
                ||----w |
                ||     ||

Ansible 2.9.5
Copyright © 2019 Red Hat, Inc.
Visit Ansible.com for more information.

[2020-07-15 08:42] anxstj commented on #5462
This was a problem with the inventory. localhost must not be listed as "127.0.0.1".

localhost is always present, no need to define it. If it must be defined additionally, then the following should be used:

[code]

[2020-07-15 08:42] #5462 closed, assigned to nobody

[2020-07-15 08:57] dojones1 opened #7623 "Failure when accessing a project with submodules using git over HTTPS creds with gitlab access token"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Pulling repos with submodules using gitlab access tokens fails to pull the submodules even though they are hosted on the same server .
It works for the main repo pull, but the submodule pull appears to assume that we should use SSH key (which has of course not been provided).

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux

[2020-07-15 09:13] iloominaty commented on #4736
Just tried installing AWX 13.0.0 on a ubuntu 20.04 VM using docker-compose.

Same issue.

[2020-07-15 13:13] wenottingham commented on #7622
We'd need the full traceback from the server side.

[2020-07-15 13:43] shanemcd opened #7625 "Handle project and galaxy caching in Execution Environments"
##### ISSUE TYPE
 - Feature Idea

We need to ensure the work done in https://github.com/ansible/awx/issues/5518 does not regress once we move to Execution Environments.

[2020-07-15 14:36] joeywashburn commented on #7622
Is this what you are looking for?

[pid: 82|app: 0|req: 70/361] 192.168.175.1 () {48 vars in 2256 bytes} [Wed Jul 15 14:33:35 2020] GET /api/ => generated 91916 bytes in 134 msecs (HTTP/1.1 200) 13 headers in 565 bytes (1 switches on core 0)
192.168.175.1 - - [15/Jul/2020:14:33:35 +0000] "GET /api/ HTTP/1.1" 200 91916 "http://192.168.175.128/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:78.0) Ge

[2020-07-15 14:45] AlanCoding commented on #7619
I agree with @jpell958's expectation. This is the whole not-provided vs. blank issue.

It is _extremely_ uncommon that an API parameter should have a default. Some parameters related to the _module action_ should validly have a default. These are parameters that tell the module _what to do_, such as `state='present'` this is a sensible default. Some API fields may be _required_ because it's hard t

[2020-07-15 15:43] jlmitch5 opened #7626 "fix ui_next list discrepancies"
lists need to be audited for a consistent look and feel

- try to make sections align across lists (if possible, some may be based on the contents).
- all counts should be in separate sections (i.e. organization team/member counts should be spaced)
- all sections that are not name should include a black bold label

[2020-07-15 16:04] wenottingham commented on #7622
Yes, thanks.

[2020-07-15 16:11] jakemcdermott commented on #7619
That's a great explanation @AlanCoding, thanks.

[2020-07-15 19:00] #6069 closed, assigned to unlikelyzero

[2020-07-15 20:04] ssuperuser commented on #452
None of the suggestions above worked for me while running AWX 9.2, Ansible 2.9, ansible.cfg file config is not being ignored if you run it in verbose mode, I saw that StrictHostKeyChecking=no was set, while running the job  in -vvv verbose mode  but still got the SSH key being changed error.

So that didn't work. So had to add the following to the inventory file and it worked.

[all:vars]
 ansible

[2020-07-15 20:16] ryanpetrello commented on #5735
Also `K8S_AUTH_SSL_CA_CERT` and `K8S_AUTH_VERIFY_SSL`.

[2020-07-15 20:39] ryanpetrello commented on #5735
@shanemcd is the security issue you're concerned about specific to using the k8s _module_ with environment variables?  My recollection (assuming I'm thinking the same thing from back when we wrote the container groups feature) was that the *k8s **connection plugin*** exposes (sensitive) environment variables in its verbose output.  If that's the case, I don't think that's the same concern _here_ -

[2020-07-15 20:49] joefodor commented on #4736
This is is happening to me on Mac OS AWX 13.0.0
2020-07-15 20:50:05,253 WARNING  awx.main.dispatch.periodic periodic beat started
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/django/db/backends/base/base.py", line 217, in ensure_connection
    self.connect()
  File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/django/db/backends/base/base.py", l

[2020-07-15 21:43] jpell958 commented on #7619
@AlanCoding - thanks for your excellent response.

Your statement:
 "For a silly hypothetical, say that someone is setting the description field and does not wish to set anything else."

This is what I was referring too.  I may wish to change the description and may not want to change the username or password [or worse I may not know the password - so how can I re-enter it].  There should be an op

[2020-07-16 06:45] garamirseokim opened #7630 "Unable to create Smart Inventory from information of Inventory created in different Organizations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to create Smart Inventory from information of Inventory created in different Organizations even if users have inventory "Admin" permission.

##### ENVIRONMENT
Ansible Tower version: 3.7.0 and 3.6.2
Operating System: RHEL 7.7

##### STEPS TO REPRODUCE

**Creating Access**
Login to Dashboard as admin user

1. Create Organization "ORG-GROUP" and "O

[2020-07-16 10:15] tongtie commented on #5530
awx: 13.0.0
docker: 18.06.03-ce
First install ，got this error
`psycopg2.errors.UndefinedTable: relation "main_instance" does not exist`
Do these resolved.
[code]

[2020-07-16 12:33] tobsome commented on #4665
@nakacya, did you get it working? Figuring out the same issue. Tried it for some hours now to get the notifications via Google Chat webhook working without any results..

[2020-07-16 12:51] marqelme commented on #1731
+1

[2020-07-16 13:25] jakemcdermott commented on #7610
@Pavloid21

I think I'm encountering the bug you're describing on devel.

If I'm in the middle of doing something, say filling out a launch prompt or entering data into the job template form, and then switch to another tab, when I return to my awx tab it seems to trigger a reload which clears the unsaved state on forms, prompts, etc.

I'm not sure this has to do with sockets or job events _specifi

[2020-07-16 13:28] SebastianSlaby commented on #7348
Same issue in Tower 3.7.0 on OCP. Organization admin not able to add other users to org as members or admins
WARNING  awx.api.generics status 403 received by user user@user.com attempting to access /api/v2/organizations/106/admins/ from ip
2020-07-16 10:30:32,944 WARNING  awx.api.generics status 403 received by user suser@user.com attempting to access /api/v2/users/117/roles/ from ip

[2020-07-16 13:36] Pavloid21 commented on #7610
@jakemcdermott
I am already inclined to believe that this behavior is not related to sockets. As a workaround, I've added state-by-key returns to the session store where possible. Of course, in this case, the interface blinks. In the meantime, I'm looking for a more relevant solution.

[2020-07-16 15:21] wenottingham commented on #7630
Note that the smart inventory will still be limited to a particular organization. Can you create it via the API?

[2020-07-16 15:27] TheSecMaven commented on #286
we also would sell our soul for this feature. this makes using AWX at a large scale difficult, as even if you can use the same credential for more than 1 host you more than likely can't use that same credential to target 3000+ servers at a single time, thus making AWX unusable.

[2020-07-16 15:27] TheSecMaven commented on #7211
commented on 286. this makes AWX hard to use at a scale of thousands of servers.

[2020-07-16 15:54] ronjarrell commented on #7609
THe script is defined as a source under an inventory, with source="Sourced from a Project", Credential=my gcp service account. and project and inventory file filled in appropriately for that repo.

Over in credentials that credential is defined as a "Google Compute Engine", with the project and service account email address set up, and then I imported the json file for the service account key.

[2020-07-16 15:56] ronjarrell commented on #7609
In 10, where this works great, as the example shows, I specify the type as serviceaccount, and leave the service_account_file paramter off and it gets it from the environment just fine.  In 13 it's clearly not picking up.

[2020-07-16 16:02] unlikelyzero commented on #5236
Extra network call
<img width="1911" alt="Screen Shot 2020-07-16 at 12 02 32 PM" src="https://user-images.githubusercontent.com/12446869/87694435-364a9e80-c75c-11ea-9108-116ae4b5c0db.png">

[2020-07-16 17:16] ryanpetrello commented on #5735
Whoever ends up testing this, here's a playbook that provides a good test case:

[code]

cc @elyezer

[2020-07-16 18:27] jakemcdermott opened #7632 "job host details modal changes position unexpectedly when changing tabs"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
- open the host details modal on a job
- change to different tabs

##### EXPECTED RESULTS
- The modal should expand in one direction (down). Top edge position should be fixed.

##### ACTUAL RESULTS
- The modal expands in two directions

##### ADDITIONAL INFORMATION
![host_details](https://user-images.githubusercontent.com/9753817/87708276-77

[2020-07-16 19:22] jakemcdermott commented on #5236
https://github.com/ansible/awx/pull/7631#discussion_r455982679 :eye: :eye:

[2020-07-16 22:20] unlikelyzero opened #7636 "[ui_next] Surveys cannot be enabled via Survey Toggle for WFJT"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Surveys cannot be enabled via Survey Toggle for WFJT

##### ENVIRONMENT
* AWX version: 13

##### STEPS TO REPRODUCE
1. Create a WFJT
2. Navigate to Survey tab and create a survey
3. Click 'Enable Surveys toggle'
Note: Error message

##### EXPECTED RESULTS
Survey toggled on

##### ACTUAL RESULTS
Survey not toggled on
Error message

##### ADDITIONAL INFO

[2020-07-16 22:23] unlikelyzero commented on #7513
Fixed with an empty state update

[2020-07-16 22:23] #7513 closed, assigned to nobody

[2020-07-17 01:50] imareporter opened #7637 "Allow Users With Update Role on Inventory to Add/Remove Hosts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

- UI

Ansible Tower currently does not have the ability to allow a Normal User to add/remove hosts from an Inventory (unless you're a Tower admin or admin of an Inventory). Per an user's request, they would like to be able to give a normal user the **Update** role and then have the normal user add/remove hosts from the Inventory (without giving them

[2020-07-17 01:50] falcon78921 commented on #3990
Moved to https://github.com/ansible/awx/issues/7637

[2020-07-17 01:50] #3990 closed, assigned to nobody

[2020-07-17 01:52] imareporter opened #7638 "Add the Ability to Lookup Last Time an Inventory Was Utilized"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to be able to review the last time an Inventory was utilized.

Inventories show a modified date/time:
[code]

In the same way an Inventory is modified, they would like to see a "last-utilized" timestamp.

[2020-07-17 01:53] falcon78921 commented on #4061
Moved to  https://github.com/ansible/awx/issues/7638

[2020-07-17 01:53] #4061 closed, assigned to nobody

[2020-07-17 01:53] imareporter opened #7639 "Add the Ability to Lookup Last Time a Credential Was Utilized"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per a customer's request, they would like to be able to review the last time a Credential was utilized.

Credentials show a modified date/time:
[code]

In the same way a Credential is modified, they would like to see a "last-utilized" timestamp.

[2020-07-17 01:55] falcon78921 commented on #4062
Moved to https://github.com/ansible/awx/issues/7639

[2020-07-17 01:55] #4062 closed, assigned to nobody

[2020-07-17 07:28] alxndr13 commented on #7386
@ryanpetrello We just switched yesterday from `templatename++orgname` to only `templatename` and the 404's are gone. The combination seems to be the problem.

Thanks for your help :)

[2020-07-17 07:34] garamirseokim commented on #7630
@wenottingham I was able to create a Smart Inventory via API but I can't see the host list. Is there any other workaround?

[code]

[2020-07-17 09:48] nicoherbigde commented on #7404
Hi, I have just updated our Ansible AWX instance from 9.1.1 to 13.0.0 and I am also getting the warning message that the task container cannot be reached by the web container.

[code]

I also renamed the containers according to the possibilities in the inventory of the installation tool.

Contrary to the warning message, however, running the Ansible Playbooks etc. works for me.

The strange thing

[2020-07-17 10:42] Joey-ibm commented on #1284
+1

[2020-07-17 11:06] AlanCoding commented on #7609
Could you check the API details of the update that failed at `/api/v2/inventory_updates/N/` and inside of the `job_env` data see if the expected environment variables are there? I would expect to see these keys set there:

https://github.com/ansible/awx/blob/85b351a0c88ae692e3548116b226d1506d50fdea/awx/main/tests/data/inventory/plugins/gce/env.json#L2-L8

If these API details report that a key isn

[2020-07-17 12:38] #6863 closed, assigned to dsesami, AlexSCorey

[2020-07-17 13:54] dolgovas commented on #6983
https://github.com/ansible/awx/issues/6983#issuecomment-626755813
I checked it the day before this playbook - everything works

[2020-07-17 15:36] nixocio commented on #7324
Closing this one - Since related PR was already merged.

[2020-07-17 15:36] nixocio commented on #7325
Closing this one - Since related PR was already merged.

[2020-07-17 15:38] nixocio commented on #7327
Closing this one - Since related PR was already merged.

[2020-07-17 15:38] #7327 closed, assigned to nixocio

[2020-07-17 15:38] nixocio commented on #7430
Closing this one - Since related PR was already merged.

[2020-07-17 15:38] #7430 closed, assigned to nixocio

[2020-07-17 15:39] nixocio commented on #7298
Closing this one - Since the listed items were completed.

[2020-07-17 15:46] nixocio opened #7640 "Details page for Instance Groups"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add details page for Instance Groups

[2020-07-17 16:57] wenottingham commented on #7637
This would need to be a new role. "update" permissions still ties a user's ability to update inventory based on some other source of truth they don't control.

[2020-07-17 17:10] wenottingham commented on #7623
This can't work this way - the way it works for the checkout is we interpolate the token into the URL.

AWX does not parse the submodules (git itself does), and cannot do this interpolation there.

[2020-07-17 17:10] #7623 closed, assigned to nobody

[2020-07-17 17:14] wenottingham commented on #7387
Hi - please reopen if this reoccurs and you can provide the requested info.

[2020-07-17 17:14] #7387 closed, assigned to nobody

[2020-07-17 18:25] nixocio opened #7642 "Delete Instance Group"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Delete Instance Group.

[2020-07-17 19:13] grcunha commented on #1284
+1

[2020-07-17 19:27] wenottingham commented on #7630
You have `host_filter` twice in that output, I don't think that's the actual definition?

[2020-07-18 05:39] kvprasoon commented on #1284
I think giving a 👍 on the Idea will be better than a comment with +1. We can avoid mail storm :-)

[2020-07-18 15:25] imareporter opened #7645 "Job Slice Calculation for Clustered Environments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Is it possible to have a standard method of calculation for slices in clustered environments?

Users may overbook Tower resources if they don't have the appropriate processing power or they're running intensive playbook operations and set a high slice count.

[2020-07-18 15:25] falcon78921 commented on #4373
Moved to https://github.com/ansible/awx/issues/7645

[2020-07-18 15:25] #4373 closed, assigned to nobody

[2020-07-18 15:26] imareporter opened #7646 "Allow Project Admins to Configure the Project's Ansible Environment"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, Project Admins should be able to configure which Python virtual environment is used within a Project. Currently, only System/Organization Administrators have this ability.

[2020-07-18 15:26] falcon78921 commented on #4622
Moved to https://github.com/ansible/awx/issues/7646

[2020-07-18 15:26] #4622 closed, assigned to nobody

[2020-07-18 15:27] imareporter opened #7647 "Generate Custom Reports From Job Template Runs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to generate custom reports based on job template runs via the Tower UI. For example, when patching remote systems, they would like to generate a pie chart where it shows systems that were successful (`ok` in `PLAY RECAP`), systems that failed (`failed` in `PLAY RECAP`), and systems that were missed (`unreachabl

[2020-07-18 15:27] falcon78921 commented on #4654
Moved to https://github.com/ansible/awx/issues/7647

[2020-07-18 15:27] #4654 closed, assigned to nobody

[2020-07-19 11:48] rajeshpeta commented on #3204
Hello @nandeeshb09 Were you able to fix this

[2020-07-19 11:49] rajeshpeta commented on #3204
Any resolution you found for this

[2020-07-20 02:15] AnythingLinux opened #7648 "Render SECRET_KEY file error on CentOS 7"
We are using CentOS 7 Linux
when run: $ ansible-playbook -i inventory install.yml
from /root/awx/installer

it shows error:
TASK [local_docker : Render SECRET_KEY file] ***********************************
fatal: [localhost]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'secret_key' is undefined\n\nThe error appears to be in '/tmp/awx/installer/roles/lo

[2020-07-20 03:13] AnythingLinux commented on #7648
@farcaller @svenstaro @joefiorini @lukesneeringer any one help

[2020-07-20 05:19] svenstaro commented on #7648
Don't just randomly highlight people.

[2020-07-20 06:08] swatinarvekar opened #7649 "RFE: Track the user token and alert the user in advance to create a new token before it expires."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, there is no way to let the user know that the token is about to expire.

##### Customer Explanation:

- Is there any add-on or plugin where we can have the notification or alert mechanism to each user on his token expiry in Tower. By default, validity is 1000 years. As per Organization best practices, we have set to few days. However, we s

[2020-07-20 06:22] zigaSRC commented on #7404
Did you check that a container with that name exists? It's most likely just a remnant from before the update/s.

Check the date when it was last modified in the DB and delete it if it's before the update (follow the steps we went through to resolve it).

[2020-07-20 06:59] garamirseokim commented on #7630
@wenottingham Thank you for your feedback. I tried it again with single ``` host_filter ``` as below but I still can't see the host list.
[code]

[2020-07-20 08:45] nicoherbigde commented on #7404
Hi @zigaSRC, thanks for your response. I never changed the names of the docker containers during the last upgrades. The name of the web container is `awx-web` and the name of the task container is `awx-task`. I have changed the names of the containers when updating from version 3.0 to 5.0 long time ago.

I also checked via `docker container ls` if the containers are named accordingly and yes they

[2020-07-20 09:12] nicoherbigde commented on #7404
Now, I have also executed the command `awx-manage deprovision_instance --hostname=awx` to delete the instance with the name `awx`. But then I get the following error message `No instance found with the current cluster host id`.

There is already a ticket #3959 #7100 for this error message and it seems that the name of the task container is hard coded in some configuration files. As it looks like i

[2020-07-20 09:50] anxstj opened #7650 "Project sync runs forever"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Updating a project works without issues, except the Job is marked as "still running" and canceling is not possible. Which blocks every associated Job Template from running.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker
* Ansible version:  2.9.9
* Operating System: Debian 10
* Web Browser: Firefox 78

##### STEPS TO REPRODUCE

I

[2020-07-20 11:01] nicoherbigde commented on #7404
So, now I have renamed the Docker hostname (not the Docker service name) from the task container to `awx` and executed the command `awx-manage deprovision_instance --hostname=awx-task` again. Now the system seems to run stable and only one instance appears.

For me the problem is solved, but in my opinion the configuration option should be removed in the installation routine or fixed.

[2020-07-20 12:25] unlikelyzero commented on #6984
Save Password is triggered on Firefox ESR in `ui_next`.

[2020-07-20 12:57] jakemcdermott opened #7651 "Preflight check for node version"
##### ISSUE TYPE
Add a preflight check that runs before `install` and `build` that checks for the expected version of node & fail loudly with an informative error message when there is a version mismatch.

[2020-07-20 13:12] unlikelyzero commented on #6861
@rooftopcellist and @nixocio we are going to remove the `needs_test` marker until this is available for testing with full translations

[2020-07-20 13:12] ryanpetrello commented on #7650
Hey @anxstj,

This sounds a lot like a performance issue we resolved in 12.0.0:

https://github.com/ansible/awx/commit/bf65b40241d60e99e49b3109a33c26f26cd418ec

[2020-07-20 13:15] jakemcdermott commented on #7651
https://github.com/ansible/awx/pull/7652

[2020-07-20 13:16] ryanpetrello commented on #7648
@UbuntuEvangelist,

The issue is exactly what the error states - your inventory file doesn't have a `secret_key` variable defined.

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-projec

[2020-07-20 13:16] #7648 closed, assigned to nobody

[2020-07-20 13:22] nixocio commented on #6861
@unlikelyzero, I tried to capture [here](https://github.com/ansible/awx/blob/devel/awx/ui_next/CONTRIBUTING.md#marking-an-issue-to-be-translated) the work flow for issues related to internationalization. I wonder when is the proper moment to add `needs_test` as part of this work flow. Suggestions?

[2020-07-20 13:26] anxstj commented on #7650
Is there anything I can check to verify that it is the mentioned performance issue?

You mentioned a commit in tower (which I can not read), do you have the corresponding awx commit as well?

[2020-07-20 13:27] mabashian opened #7653 "Add tooltip to job status icon on Jobs List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Talking about this icon:

<img width="723" alt="Screen Shot 2020-07-20 at 9 21 35 AM" src="https://user-images.githubusercontent.com/9889020/87942501-ad3cab80-ca6a-11ea-9c60-ebd35c52ac79.png">

Here's what we did in the old app:

<img width="340" alt="Screen Shot 2020-07-20 at 9 22 19 AM" src="https://user-images.githubusercontent.com/9889020/8794252

[2020-07-20 13:32] anxstj commented on #7650
Just to be sure that there is no misunderstanding: This is a **project** update, not an inventory update. The project contains only playbooks and roles.

[2020-07-20 13:37] mabashian commented on #4977
Old UI has this same functionality so we can reference that if needed.

[2020-07-20 13:48] mabashian opened #7654 "Make Variables/Artifacts labels match style of other labels in Job Details"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1409" alt="Screen Shot 2020-07-20 at 9 45 11 AM" src="https://user-images.githubusercontent.com/9889020/87944908-02c68780-ca6e-11ea-9904-3ad11a786c86.png">

They need to be bold/maybe larger font?

[2020-07-20 13:48] moonrail opened #7655 "Scheduler/Dispatcher does not start Jobs with >600 pending Jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With a lot of pending Jobs (e.g. if Instances were disabled/down for maintenance, Cluster was restarted, Failover, ...) the Job-Scheduler/Dispatcher "run_task_manager" will not finish in under 5 Minutes and be killed by: https://github.com/ansible/awx/blob/devel/awx/main/dispatch/pool.py#L385
From our observation Jobs will only be executed, if Schedule

[2020-07-20 13:54] mabashian opened #7656 "Hide Job Slice in job details if job_slice_count = 1"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Help text from the OPTIONS response for job_slice_count:

`If ran as part of sliced jobs, the total number of slices. If 1, job is not part of a sliced job.`

<img width="1395" alt="Screen Shot 2020-07-20 at 9 50 40 AM" src="https://user-images.githubusercontent.com/9889020/87945569-ee36bf00-ca6e-11ea-8992-285fe63278e2.png">

[2020-07-20 13:59] unlikelyzero commented on #6984
This issue is fixed in the `ui_next` project. For more information, please see https://github.com/ansible/awx/tree/devel/awx/ui_next

[2020-07-20 13:59] #6984 closed, assigned to unlikelyzero

[2020-07-20 14:12] mabashian opened #7657 "Add ability to cancel a job from details/output view while job is running"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It looks like we're currently _always_ showing the delete button on a job (rbac permitted):

<img width="1381" alt="Screen Shot 2020-07-20 at 10 02 36 AM" src="https://user-images.githubusercontent.com/9889020/87947367-35be4a80-ca71-11ea-9a49-f0167f539938.png">

When a job is pending/waiting/running then we should be showing a Cancel button rather th

[2020-07-20 14:28] ryanpetrello commented on #7650
Hey @anxstj sorry about that - I pasted the wrong URL.  I've updated it above.

[2020-07-20 14:46] benthomasson opened #7658 "Analytics fail to upload if the size is greater than 100MB"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A customer's analytics uploads were failing since the bundle size was greater than 100MB.  This is due to an upload size limit in the upload service.    Tower should upload bundles smaller than 100MB by building a bundle and if it is too big then divide the time period in half and send two bundles instead. Recurse until small enough bundles are reached

[2020-07-20 14:48] Sagarvt2002 commented on #179
How is this fixed. I am getting the same issue

[2020-07-20 14:49] elyezer commented on #5735
Checked the new changes on the current UI + API by doing the following

1) creating a credential, copied some times
2) Assigned the credential to Job Templates and ran them
3) Made sure a playbook would not work if the credentials was not used
4) Checked the cloud icon was present in the UI

[2020-07-20 14:54] moonrail opened #7659 "Scheduler/Dispatcher does not honor all schedules"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We are testing AWX/Ansible Tower as a scalable central Deployment-Method & Technical Workflow Handler and ran into an issue with schedules.
We have a colocated kubernetes cluster of 15 AWX instances (1485 capacity) & dedicated DB.
For testing we've made several testjobs.
While trying 100 scheduled Jobs per minute, we've been experiencing Database-Locks

[2020-07-20 15:12] mabashian opened #7660 "Add workflow output details tab contents"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1678" alt="Screen Shot 2020-07-20 at 10 52 28 AM" src="https://user-images.githubusercontent.com/9889020/87951897-2a6e1d80-ca77-11ea-9b0c-2d20dc6cc48f.png">

Here's what we listed out in the old app:

<img width="501" alt="Screen Shot 2020-07-20 at 10 53 08 AM" src="https://user-images.githubusercontent.com/9889020/87951950-3954d000-ca77-

[2020-07-20 15:15] mabashian commented on #7157
Yea this is still an issue - the status icon doesn't update dynamically on the job output page

[2020-07-20 15:18] mabashian opened #7661 "Dynamically update workflow output/details via websockets"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1389" alt="Screen Shot 2020-07-20 at 11 17 09 AM" src="https://user-images.githubusercontent.com/9889020/87954651-a3bb3f80-ca7a-11ea-8556-50d171d18cf8.png">

Currently these views are built with data at the time of render and will never get updated as jobs start/finish.  We'll want the status of each node to update dynamically based on me

[2020-07-20 15:39] mabashian opened #7662 "Support expanded rows on Templates List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Here's a link to the mockups: https://tower-mockups.testing.ansible.com/patternfly/templates/templates-expand/

[2020-07-20 15:41] #4970 closed, assigned to nobody

[2020-07-20 15:47] mabashian opened #7663 "Add link to visualizer graph for workflows on Templates List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1462" alt="Screen Shot 2020-07-20 at 11 45 03 AM" src="https://user-images.githubusercontent.com/9889020/87957631-85efd980-ca7e-11ea-8bc8-496972011355.png">

Clicking this icon should take the user straight to `/templates/workflow_job_template/:id/visualizer` (the visualizer tab)

[2020-07-20 16:02] mabashian opened #7664 "Support workflow launch from Templates List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Button is currently missing:

<img width="1415" alt="Screen Shot 2020-07-20 at 12 01 18 PM" src="https://user-images.githubusercontent.com/9889020/87959345-bdf81c00-ca80-11ea-8c5c-544968d3d277.png">

Note that this is separate from https://github.com/ansible/awx/issues/5910 although the work could be done at the same time.

[2020-07-20 16:02] gamuniz commented on #7650
@ryanpetrello it might be https://github.com/ansible/awx/blob/11.2.0/awx/main/models/projects.py#L202 you changed in a later version

[2020-07-20 16:14] ryanpetrello commented on #7650
Good call @gamuniz.  @anxstj honestly I'd just recommend upgrading, it sounds like what you're encountering is one of a series of issues we resolved in recent versions of AWX.

[2020-07-20 16:17] anxstj commented on #7650
@ryanpetrello thank you for your efforts.
I will upgrade tomorrow and report back here.

[2020-07-20 16:39] AlanCoding opened #7665 "API should not accept modification of local_path for nom-manual projects"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The API will accept a PATCH to edit `local_path` for a git project, but the change will not take effect.

Some version of a 400 error would be preferable to this. This is a valid field to edit in the case of manual projects, so there's no valid justification that it's "not a field".

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: N/A
* A

[2020-07-20 16:44] wenottingham commented on #7649
As the token is primarily used for raw API usage, it's highly unlikely that it can be surfaced where it's used in a way that a user will notice it.

[2020-07-20 16:45] wenottingham commented on #7647
This is not something we plan to do directly in the interface at this time; all the data is available in the API for them to generate custom reports.

[2020-07-20 16:45] #7647 closed, assigned to nobody

[2020-07-20 16:46] wenottingham commented on #7646
This will not be tackled until after execution environments land, at a minimum.

[2020-07-20 16:47] wenottingham commented on #7645
I'm not sure what is meant by "standard method of calculation". It's currently entirely user-determined, they aren't calculated at all.

[2020-07-20 16:54] imareporter opened #7666 "Ability to Add Custom Validation for Survey Answers"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to be able to specify their own conditions on acceptable survey answers (i.e. regular expressions).

In the user's environment, they would like to validate an IP address in the survey answer. This could also extend out to other use cases (e.g. If an user has a naming convention for assets, systems, etc., the us

[2020-07-20 16:54] falcon78921 commented on #4676
Moved to https://github.com/ansible/awx/issues/7666

[2020-07-20 16:54] #4676 closed, assigned to nobody

[2020-07-20 16:56] imareporter opened #7667 "AWX Does Not Update User Object Permissions When LDAP User Flags By Group Is Removed"
##### ISSUE TYPE
 - Feature Request

##### SUMMARY

An user was wondering how AWX handles a change in LDAP Team Mapping (e.g. If the `is_superuser` mapping is removed, does AWX update the user objects?).

I observed the following:

If the `LDAP User Flags by Group` is removed, pre-existing users in AWX do not update according to the changes made.

##### STEPS TO REPRODUCE

1. Create a LDAP connect

[2020-07-20 16:56] falcon78921 commented on #5051
Moved to https://github.com/ansible/awx/issues/7667

[2020-07-20 16:56] #5051 closed, assigned to nobody

[2020-07-20 17:02] mabashian commented on #7661
Duplicate of https://github.com/ansible/awx/issues/6616

[2020-07-20 17:02] #7661 closed, assigned to nobody

[2020-07-20 17:04] mabashian commented on #6020
PF is working on a significant expansion of their support for a component like our workflow visualizer.  It'll be better to wait until that is available.

[2020-07-20 17:08] wenottingham commented on #7658
The simplest way to do this is probably split how we gather the data and do uploads.
- generate full upload minus job events
- check the last submission date
- for every day since prior submission, create a daily dump of job events, and send each separately

[2020-07-20 17:11] mabashian opened #7668 "Disabled state for a workflow node doesn't completely cover node"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1679" alt="Screen Shot 2020-07-20 at 1 09 26 PM" src="https://user-images.githubusercontent.com/9889020/87965847-68c10800-ca8a-11ea-824c-fd8852d97016.png">

In this screenshot, the entire node should be greyed out, not just the name of the node.

[2020-07-20 17:12] mabashian commented on #7668
In order to get the workflow in this state you need to click on the link icon for the second node (Ping)

[2020-07-20 17:20] mabashian opened #7669 "Add support for convergence any/all on workflow nodes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In old tower we added this field:

<img width="1673" alt="Screen Shot 2020-07-20 at 1 18 32 PM" src="https://user-images.githubusercontent.com/9889020/87966675-99ee0800-ca8b-11ea-8d50-95041afa2e41.png">

We'll need to add the same field to the workflow node wizard in ui_next.

[2020-07-20 17:27] mabashian opened #7670 "Cannot Delete Last workflow survey question"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1483" alt="Screen Shot 2020-07-20 at 1 25 35 PM" src="https://user-images.githubusercontent.com/9889020/87967264-93ac5b80-ca8c-11ea-8050-66400bb6a019.png">

If you create a survey question for a workflow job template and then try to delete that question you get the above error.  It appears as if we're trying to delete the question from `/ap

[2020-07-20 17:37] benthomasson commented on #7658
That will probably be less CPU and memory intensive on the query side.   Paginating the events and sending a constant number in a larger number of bundles would be better for the sender and the receiver.

[2020-07-20 17:44] jlmitch5 opened #7672 "update pf to 09 2020 release"
Updating the PF Dependencies for some fixes.

[2020-07-20 17:47] mabashian opened #7673 "Add organization to inventory list rows"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Here's the old UI:

<img width="1519" alt="Screen Shot 2020-07-20 at 1 46 11 PM" src="https://user-images.githubusercontent.com/9889020/87969064-7200a380-ca8f-11ea-89b9-52419ec16907.png">

and here's the new UI:

<img width="1433" alt="Screen Shot 2020-07-20 at 1 46 54 PM" src="https://user-images.githubusercontent.com/9889020/87969107-8644a080-ca8f-

[2020-07-20 17:53] mabashian opened #7674 "Add Groups/Hosts/Sources count to inventory list rows"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See mockup:

<img width="1514" alt="Screen Shot 2020-07-20 at 1 52 27 PM" src="https://user-images.githubusercontent.com/9889020/87969522-4e8a2880-ca90-11ea-835b-6a30aadbbfcf.png">

These values come from total_hosts, total_groups, and total_inventory_sources

[2020-07-20 18:13] AlanCoding commented on #7625
I hope that I now have https://github.com/ansible/awx/pull/7643 stabilized. Let me give a synopsis of the interfaces here.

The playbook variables `roles_destination` and `collections_destination` are being removed in that pull request. Those were destinations in a job folder, which we had to give access to via bubblewrap. I want to be very specific about this - project updates should only need sp

[2020-07-20 18:17] mabashian opened #7675 "Add inventory kind and organization name as default search options on Inventory List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I think both of these would be really useful as defaults.

1) Inventory kind: This would be a boolean where the user could select Inventory or Smart Inventory to trim down the list to only inventories that match that kind.
2) Organization name: If we're going to do https://github.com/ansible/awx/issues/7673 then I think giving users a quick way to se

[2020-07-20 18:37] mabashian opened #7676 "Add tooltips to inventory sync status icons on Inventory List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1435" alt="Screen Shot 2020-07-20 at 2 32 14 PM" src="https://user-images.githubusercontent.com/9889020/87973093-0241e700-ca96-11ea-9643-da37af22e04b.png">

Currently hovering over these icons does nothing.  In the old app we showed these tooltips:

<img width="366" alt="Screen Shot 2020-07-20 at 2 35 09 PM" src="https://user-images.githu

[2020-07-20 18:38] dsesami opened #7677 "Certain websockets-related items need accessibility text"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Some components need to have text so that they can be targeted by screenreaders and automation. Two components that come to mind are the status square (seen in project syncs, jobs list status, and job templates list), as well as the cloud sync status (the cloud symbol on the inventory list).

This ticket is for adding text to these elements, as well as

[2020-07-20 18:43] mabashian opened #7678 "Clicking inventory sync status icon on Inventory List should navigate the user to filtered Inventory -> Completed Jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In the old UI we should show a popover with the recent inventory sync's listed out like so:

<img width="509" alt="Screen Shot 2020-07-20 at 2 41 13 PM" src="https://user-images.githubusercontent.com/9889020/87973808-1508eb80-ca97-11ea-949b-19f11dbfc98c.png">

We already have a view for this though (completed jobs).  We should send the user over to t

[2020-07-20 18:49] mabashian opened #7679 "Disable copy button on inventories with sources"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In the old UI we actually disable the copy button for inventories with sources:

<img width="1458" alt="Screen Shot 2020-07-20 at 2 46 38 PM" src="https://user-images.githubusercontent.com/9889020/87974285-d6bffc00-ca97-11ea-8938-0162de09ea36.png">

We could still do that but the API does allow for copying of these inventories.  There's a catch thoug

[2020-07-20 19:02] mabashian opened #7680 "Support Pending Delete on inventory list rows"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Since it can take a really long time to delete inventories, the API will actually mark inventories using the `pending_deletion` field to let us know that they are in the process of deleting an inventory.  When we detect a row with this field set to true we should remove all the action icons in favor of some text that says `Pending delete` or `Pending

[2020-07-20 19:04] mabashian commented on #7680
As part of this we may want to investigate updating this modal with a bit more information about pending delete:

<img width="1486" alt="Screen Shot 2020-07-20 at 3 03 30 PM" src="https://user-images.githubusercontent.com/9889020/87975871-31f2ee00-ca9a-11ea-9454-094060c0992a.png">

like we do here:

<img width="877" alt="Screen Shot 2020-07-20 at 3 04 02 PM" src="https://user-images.githubusercont

[2020-07-20 19:06] mabashian opened #7681 "Hide sync icon for smart inventory rows in Inventory List"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1407" alt="Screen Shot 2020-07-20 at 3 05 48 PM" src="https://user-images.githubusercontent.com/9889020/87976119-901fd100-ca9a-11ea-9fd2-976a80a7f55b.png">

Smart inventories don't have sources so this icon is not relevant

[2020-07-20 20:49] mabashian opened #7682 "Add smart inventory add/edit forms"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Link to mockups: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-smart-add/

Also related: https://github.com/ansible/awx/issues/5513

If it were me, I'd split this work up into 2 pieces.

1) Add basic add/edit support with a regular 'ol text field for `Smart Host Filter`.  This field gets translated into a single string

[2020-07-20 20:52] NC-Yungd commented on #452
Not the most efficient, but I've created a playbook that I can execute from AWX that will read through my inventory group and using the shell module it will remove the line items from /root/.ssh/known_hosts

Again, it's not efficient because if you have a ton of hosts in your inventory_group, then this run at a linear time.

[code]

Welcome to hear suggestions and feedback on how this can be impro

[2020-07-20 20:54] mabashian opened #7683 "Add smart inventory -> hosts related tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1412" alt="Screen Shot 2020-07-20 at 4 52 08 PM" src="https://user-images.githubusercontent.com/9889020/87985316-5efacd00-caa9-11ea-81f8-5cc5ffdf16e2.png">

This list is populated from `/api/v2/inventories/:id/hosts/`.

Like the hosts related tab for regular inventories, this list should have a button that allows users to execute an adhoc

[2020-07-21 02:52] imareporter opened #7684 "When Specifying ignore_unreachable: yes in a Task, AWX Inventory Host View Should Reflect Unreachable Hosts as Successful"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When specifying `ignore_unreachable: yes` in a playbook task, any hosts that were unreachable at the time show as `unreachable` and `skipped`, but not `failed`.

However, when you look in the AWX host inventory view, hosts that were unreachable but didn't essentially fail show as failing:

![image](https://user-images.githubusercontent.com/25699347/

[2020-07-21 02:52] falcon78921 commented on #5082
Moved to https://github.com/ansible/awx/issues/7684

[2020-07-21 02:52] #5082 closed, assigned to nobody

[2020-07-21 02:53] imareporter opened #7685 "Improve Diff Output When Specifying Show Changes in Job Template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to see an improved output when specifying Show Changes in a job template.

For example, if a job has thousands of lines of output, they would like to be able to filter for just the diff changes (i.e. For reporting purposes).

[2020-07-21 02:53] falcon78921 commented on #5160
Moved to https://github.com/ansible/awx/issues/7685

[2020-07-21 02:53] #5160 closed, assigned to nobody

[2020-07-21 02:54] imareporter opened #7686 "Add an Organizational "Use" Role"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like the addition of an "Use" role on an organizational level. The organizational "Use" role should give access to all of the resources within the configured organization.

[2020-07-21 02:54] falcon78921 commented on #5285
Moved to https://github.com/ansible/awx/issues/7686

[2020-07-21 02:54] #5285 closed, assigned to nobody

[2020-07-21 02:55] imareporter opened #7687 "Blocklist/Allowlist SAML Users From Being Created"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they're wondering if it's possible to blacklist/whitelist users who are authenticating via SAML. Could this be implemented by specifying an attribute to lookup in the response?

[2020-07-21 02:55] falcon78921 commented on #5487
Moved to https://github.com/ansible/awx/issues/7687

[2020-07-21 02:55] #5487 closed, assigned to nobody

[2020-07-21 02:56] imareporter opened #7688 "Add the Ability to Use Survey Results As Job Template Prompt on Launch Values"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to be able to pass survey results as job template prompt on launch values.

For example, an user may have a survey with a multiple-choice (multi-select) prompt, with a list of job tags. When the job template is executed, the survey will ask the user to select one or more options (e.g. job tags), which would the

[2020-07-21 02:56] falcon78921 commented on #5778
Moved to https://github.com/ansible/awx/issues/7688

[2020-07-21 02:56] #5778 closed, assigned to nobody

[2020-07-21 03:28] zhangbin1137 commented on #1636
@santizo Could you pls share your solution,thanks.

[2020-07-21 08:13] moonrail commented on #7655
Probably this also also affects running jobs.

In #7659 we've described how we spawn 10-30 jobs per minute.
The cluster now reached a deadlock without any restart or interference - we've just let it run.

In logs I can see, that jobs are being processed less and less when the number of pending jobs increases.
I guess this has the same cause we've opened this issue for: Scheduler/Dispatcher runs a

[2020-07-21 10:38] chris93111 opened #7689 "awx import workflow job template generate deleted tasks"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
import workflow job template generate a workflow with deleted task and not preserve success_node or fail_node

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker
* Ansible version:  2.9
* Operating System: redhat
* Web Browser: chrome

##### STEPS TO REPRODUCE

import workflow template with awx client
##### EXPECTED RESULTS

workflow

[2020-07-21 12:34] mabashian commented on #7610
OK I'm pretty sure I understand what's going on here so I'll outline it as best as I can.  If I'm misunderstanding some aspect of the issue please let me know.

A few years ago, we added this flag UI_LIVE_UPDATES_ENABLED in the settings which allowed users of AWX to toggle websocket messages (and therefor live list updates) on or off.  For some folks were running in to issues with the sheer volume

[2020-07-21 12:54] jakemcdermott commented on #7610
On second look, I believe the bug I was describing [here](https://github.com/ansible/awx/issues/7610#issuecomment-659410044) is a different issue entirely. Somehow I got awx into a state where switching to awx from another tab caused a refresh 100% of the time, without socket messages. I think this is probably different from the `UI_LIVE_UPDATES_ENABLED` behavior described above.

If I find a reli

[2020-07-21 12:57] unlikelyzero commented on #7677
@keithjgrant bonus points if the elements had some additional identifiers (job id, job name, etc) but may not be necessary

[2020-07-21 13:10] jakemcdermott commented on #7610
I think I like this option - given the recently-added time banding logic for event-driven list refreshes, we could _probably_ handle a few tabs being open without the `refreshAfterBlur`.

It's true that it could result in more requests from a given user if they have multiple tabs. Each tab is roughly equivalent to another user idling on awx which _seems_ reasonable enough given the time banding.

[2020-07-21 13:56] jomach commented on #5970
How can I login to awx having a app token ? Like the token that comes from: POSTs https://api.github.com/app/installations/<installation_id>/access_tokens

[2020-07-21 14:16] mabashian commented on #7682
Dupe of #7472 and #7473

[2020-07-21 14:16] #7682 closed, assigned to nobody

[2020-07-21 14:35] mabashian opened #7690 "Filtering inventory groups by root/all throws error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![root_groups](https://user-images.githubusercontent.com/9889020/88068108-c82c2000-cb3d-11ea-8fe6-7e2171e0ce89.gif)

<img width="1674" alt="Screen Shot 2020-07-21 at 10 34 59 AM" src="https://user-images.githubusercontent.com/9889020/88068175-db3ef000-cb3d-11ea-860f-8badd6d2b882.png">

[2020-07-21 14:41] wenottingham commented on #7685
From prior bug: I think this should be doable now with a sufficient query on the job output display.

Let us know if this doesn't work.

[2020-07-21 14:41] #7685 closed, assigned to nobody

[2020-07-21 14:42] wenottingham commented on #7686
Closing, needinfo from prior bug not provided.

[2020-07-21 14:44] wenottingham commented on #7688
This isn't planned - surveys are for extra vars, promptable fields remain their own prompts.

[2020-07-21 14:44] #7688 closed, assigned to nobody

[2020-07-21 14:49] mabashian opened #7691 "Inventory groups nested groups list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I _believe_ this list is unimplemented.  I can't find anything in the codebase that would indicate that it's built but misconfigured.

<img width="1678" alt="Screen Shot 2020-07-21 at 10 46 07 AM" src="https://user-images.githubusercontent.com/9889020/88069481-81d7c080-cb3f-11ea-8932-047af9d3e0a9.png">

We may just reuse the groups list but pull the

[2020-07-21 14:56] mabashian commented on #5073
There's also this field on the details view:

<img width="1388" alt="Screen Shot 2020-07-21 at 10 56 04 AM" src="https://user-images.githubusercontent.com/9889020/88070557-d0398f00-cb40-11ea-98bc-604eb0205b36.png">

_if_ we don't end up doing this then we need to remove that field.

[2020-07-21 15:49] mabashian commented on #5072
This icon is currently present:

<img width="1410" alt="Screen Shot 2020-07-21 at 11 48 57 AM" src="https://user-images.githubusercontent.com/9889020/88076541-31189580-cb48-11ea-8465-01afafb4621f.png">

There are several follow-on issues tracking various other aspects of this feature so I'm going to close this one in favor of those.

[2020-07-21 15:49] #5072 closed, assigned to nobody

[2020-07-21 16:10] mabashian commented on #5012
This won't help with the list view but we could also add the UJT name and a link to it in the schedule details.

[2020-07-21 17:11] chris93111 commented on #7689
is appear when export awx is to old ,

identifier and organization in unified_job_template is not present of json export

it's can be fixed by edit the json

[2020-07-21 17:11] #7689 closed, assigned to nobody

[2020-07-21 17:57] mabashian opened #7692 "Support promptable fields on schedules"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When creating/editing a schedule for a JT or a WFJT we need to expose fields that are promptable on launch in the form so that the user can specify values for those fields before saving the schedule.  In the old UI we exposed all the promptable fields (except extra variables) through a button beneath the form like so:

![schedule_prompts](https://use

[2020-07-21 17:58] mabashian commented on #7692
I'm going to mark this as blocked until we nail down the UX

[2020-07-21 18:28] mabashian opened #7693 "Add credential access tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It's currently missing:

<img width="1448" alt="Screen Shot 2020-07-21 at 2 27 39 PM" src="https://user-images.githubusercontent.com/9889020/88092386-64feb580-cb5e-11ea-8e53-a92a384ef26c.png">

We should be able to reuse the same component we use for other resource access lists.

[2020-07-21 18:55] mabashian opened #7694 "Make date in project sync job status look nice"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Here's what it looks like:

<img width="615" alt="Screen Shot 2020-07-21 at 2 53 36 PM" src="https://user-images.githubusercontent.com/9889020/88094776-1b17ce80-cb62-11ea-8823-59af2e1635c9.png">

Here's what the corresponding date looks like on a job on the templates list:

<img width="698" alt="Screen Shot 2020-07-21 at 2 53 45 PM" src="https://user-i

[2020-07-21 19:05] philipsd6 opened #7695 "Installer: Don't quote passwords when not subject to shell interpolation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When setting `docker_registry_password` either with `-e` or directly in the `installer/inventory` file, the installer fails when the docker registry authentication fails, because the value `s3cr1t` is passed as `'s3cr1t'` due to the changes introduced in #3987.

##### ENVIRONMENT
* AWX version: 13.0.0 (#bedbafe0f)
* AWX install method: docker on linux

[2020-07-21 19:41] geerlingguy commented on #4736
I just tried this as well on macOS (10.15.5) and am hitting the same error. All three of the `awx_task`, `awx_web`, and `awx_postgres` containers' logs are full of messages like:

[code]

And:

[code]

I'm running from `devel`, clean environment that was just completely reset with docker system prune (so no images in cache and no pre-existing installations were present).

## Attempts to fix

I com

[2020-07-21 20:02] dsesami commented on #6622
This is closed with the merge of #7613

[2020-07-21 20:02] #6622 closed, assigned to keithjgrant, unlikelyzero, dsesami

[2020-07-21 20:03] dsesami commented on #6621
This is closed with the merge of #7620. #6903 was also retested and works fine.

[2020-07-21 20:03] #6621 closed, assigned to keithjgrant, dsesami

[2020-07-21 20:48] geerlingguy opened #7699 "Can't install project using docker-compose on Mac from devel or 13.0.0"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

I've tried cloning the project and following the [Docker Compose installation instructions](https://github.com/ansible/awx/blob/devel/INSTALL.md#docker-compose) for both `devel` and `13.0.0`, and neither version results in a working installation on my Mac.

##### ENVIRONMENT
* AWX version: `13.0.0` or `devel`
* AWX install method: docker for mac
* An

[2020-07-21 21:24] mabashian opened #7700 "Add shortcut to create smart inventory from /#/hosts list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In the old UI we had this button on the Hosts list that would let users create a smart inventory using the current search filter items:

<img width="1535" alt="Screen Shot 2020-07-21 at 5 21 39 PM" src="https://user-images.githubusercontent.com/9889020/88108396-c0d53880-cb76-11ea-8579-bdf0e2b97b1c.png">
<img width="1532" alt="Screen Shot 2020-07-21 a

[2020-07-21 21:59] geerlingguy commented on #7699
Two other issues that could be tangentially related: https://github.com/ansible/awx/pull/7698 and https://github.com/docker-library/postgres/issues/482

Though I'm trying to see what else might be the problem. Maybe the use of a bind mount for this volume (`:Z`) with Docker for Mac is causing the volume to initialize in a way that Postgres doesn't use it for database creation the same way the firs

[2020-07-21 22:08] geerlingguy commented on #7699
It seems like another alternative is to ditch the bind mount and just use a Docker volume instead. Performance is actually improved quite a bit on the Mac with this setup too. I'm not sure what the reason is for the bind mount regardless—a docker volume would still be persistent (so the database wouldn't be blown away)... maybe it's for backup purposes (though it's easy enough to [back up volumes]

[2020-07-21 22:18] geerlingguy commented on #7699
The above PR (#7701) fixes the issue of the postgres initialization, but the default awx images used with all the default settings still break, resulting in the task container hitting an endless loop of:

[code]

So I also had to restart the awx_task container:

[code]

And then the database migration kicked off and everything came up after about one minute.

[2020-07-21 23:35] AlanCoding opened #7703 "Type error using some inventory types with Ansible 2.10"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Ansible 2.10 throws errors with some inventory updates, and it _seems_ that this is a problem with the configs that AWX is laying down, as opposed to an incompatibility between the collection and ansible-base

##### ENVIRONMENT
* AWX version: 13.0.0
* Ansible version:  2.10, 2.11

##### STEPS TO REPRODUCE

Hack the system to have `ansible-base` not `an

[2020-07-22 01:47] hendrul commented on #58
docker-compose -f ~/.awx/awxcompose/docker-compose.yml stop

[2020-07-22 01:57] geerlingguy commented on #7699
In the PR, I also added [instructions for migrating your AWX Postgres database from a bind mount to a docker volume](https://github.com/ansible/awx/pull/7701#issuecomment-662195330), in case anyone else is interested in testing that migration path.

[2020-07-22 10:18] AntonSergievitch commented on #5230
Just yesterday updated to 13.0.0 and have same bug.
I think it was from https://github.com/ansible/awx/blob/devel/installer/roles/image_build/templates/Dockerfile.j2#L203
May be need to add string
_chown -R nginx:nginx /var/lib/nginx_
before https://github.com/ansible/awx/blob/devel/installer/roles/image_build/templates/Dockerfile.j2#L205

[2020-07-22 10:58] Saurabh-Thakre opened #7704 "Add Metrics For Monitoring Redis"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Can we add better metrics around redis on Ansible Tower metrics API endpoints ?

Above RFE will help the users to have more checks on redis.

[2020-07-22 11:28] s-jaiganesh commented on #3508
I cannot get the vmware tags in AWX.

[2020-07-22 14:44] anxstj commented on #6792
I see this problem in my CI job that builds my awx containers. Approximately one out of 10 starts fail.

It seems that something is killing (or restarting) the postgres container quite early

[code]

Which in turn causes the migration task inside the awx_task container to fail:
[code]

Restarting the awx_task container seams to restart the migration process which is then working. (`supervisorctl r

[2020-07-22 17:59] dsesami opened #7706 ""Type" sort is extraneous in schedule tab for resources"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The default sort in the UI for schedules is "Type". For example, with Job Templates, the type is "Playbook Run". This sort makes sense for the main schedules view, `/schedules`, but doesn't make sense at all when dealing with tabs like Job Template > Schedules. It's the default sort in that view, but doesn't do anything because all items in these sub-t

[2020-07-22 18:18] mabashian commented on #7693
Closing this - the tab does exist it's just being hidden when the credential doesn't have an org.

[2020-07-22 18:18] #7693 closed, assigned to nobody

[2020-07-22 18:33] mabashian opened #7708 "Credential access tab should be shown when cred doesn't belong to an organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
At first I created https://github.com/ansible/awx/issues/7693 only to realize that the tab was in fact configured but it was hidden for credentials without an organization.  I don't think that this is quite right because you can still assign a role to a user for said credential.  You can see this in action in the old UI.

There is a catch though - you

[2020-07-22 19:18] mabashian commented on #7564
As best as I can tell it looks like we're showing this button when users have POST in the OPTIONS response on `/api/v2/users/:id/roles`.  We use a different logic in the old app though.  It looks like we show the button if the `summary_fields.user_capabilities.edit` is set to true on the user _or_ if the user has POST in the OPTIONS response on `/api/v2/users`.

[2020-07-22 19:21] kdelee commented on #6986
@one-t this is the same one but for devel

[2020-07-22 19:37] JRNC commented on #7443
For anyone who is running into the same thing, this can be used for a workaround:

destination_variable: tags.Name + ".OUR.DOMAIN.COM"

It looks like this is the conditional statement to target for the bugfix: https://github.com/ansible/awx/blob/d8f6ea3fe89eaa6aea375dfa0280b43c66899ae0/awx/main/models/inventory.py#L1987-L1991

If project contributors agree with this approach, it looks like somethi

[2020-07-22 19:38] jctanner commented on #7658
functional example of how to split at ship time https://gist.github.com/jctanner/db5a4d5e6a054ac0468ef09ed42ea276

Tested with local api and did not see any errors, but also didn't validate the data was processed correctly.

[code]

[2020-07-22 23:30] KelvinPriceDSL opened #7710 "docker-compose install, missing value in docker-compose template for redis launch command"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
awx_redis container won't launch because launch command in docker-compose file is wrong

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker

##### STEPS TO REPRODUCE

run install with docker-compose options

##### EXPECTED RESULTS

awx_redis container launches successfully

##### ACTUAL RESULTS

awx_

[2020-07-23 09:22] Jean-Baptiste-Lasselle opened #7711 "Gitops for Job Specs and Workflows"
##### ISSUE TYPE
 - Feature Idea

* Idea came watching excellent talk https://www.youtube.com/watch?v=87Tag9wyfs8

* basically, at the end of the talk, one auditor points out that the Job Spec in Ansible tower / AWX, is not done using git operations.
* I think there is also the workflows features (orchestration of Jobs) that falls in the scope of the idea I come up with (workflows operated trough

[2020-07-23 12:14] jacobjohnanda commented on #2206
+1

[2020-07-23 12:24] ryanpetrello commented on #7710
@KelvinPriceDSL,

At first glance, this does look wrong to me, however following the installation instructions for AWX, I'm not seeing the restart loop you're describing.

What command are you running, and what error are you seeing?

[2020-07-23 13:00] #7695 closed, assigned to nobody

[2020-07-23 13:02] Aech1977 commented on #7534
is there a workaround until this pull request is approved and merged (or did it happen already and I'm just dense)?

[2020-07-23 13:29] AlanCoding commented on #7711
Does that come down to #526? My current reading is that this is probably a duplicate, but I would like if you could comment with your thoughts on implementation there.

[2020-07-23 13:32] ryanpetrello commented on #7711
@AlanCoding I agree, I think this issue is close enough in spirit to the problem described in #526 that I'm willing to call it a duplicate cc @chrismeyersfsu @wenottingham

[2020-07-23 13:36] hluaces opened #7712 "AWX fails to try and install galaxy dependencies"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

AWX 12.0 project updates are not  updating the remote roles defined in the `roles/requirements.yml` file.

I've checked the playbook that runs on each project update \[1\] \[2\] and it seems that the play named "_Install content with ansible-galaxy command if necessary_" \[3\] has blocks tagged with "install_roles" \[4\] and "install_collections" \[5\

[2020-07-23 13:47] shanemcd commented on #7710
The code for the Redis container suggests this is fine: https://github.com/docker-library/redis/blob/bfd904a808cf68d4b5ecc267bb4d4a1a0ca5f921/6.0/docker-entrypoint.sh#L4-L8

Echoing what @ryanpetrello said above. What is the actual error you are seeing?

[2020-07-23 13:50] hluaces commented on #7712
I've just tried in 13.0.0 and it is happening aswell.

[2020-07-23 14:01] ryanpetrello commented on #7534
@Aech1977 the fix has merge into AWX, but we haven't made an official release of AWX since then (we're likely going to release a new version in the coming weeks).

[2020-07-23 14:04] Aech1977 commented on #7534
I'll sit tight then.  Thanks.  Another dumb question I know I came across it before but where can I see release versions?
Thanks for the speedy response.

[2020-07-23 15:03] mikeycmccarthy commented on #7658
This customer here is me by the way :)

Happy to run any tests if it helps

[2020-07-23 15:10] wenottingham commented on #7711
Closing as duplicate.

[2020-07-23 15:10] #7711 closed, assigned to nobody

[2020-07-23 15:30] hluaces commented on #7712
If anyone is running into this, a dirty alternative is to modify the offending play on the container's `project_update.yml` playbook:

[code]
Note that I've:

- Removed the tags from the blocks.
- Added the `tags: 'always'` to the play.
- Added a `vars:` block because both `roles_destination` and `collections_destination` seem to be undefined for some reason.

This seems to properly clone roles an

[2020-07-23 16:30] Jean-Baptiste-Lasselle commented on #7711
hi @AlanCoding @ryanpetrello totally a duplicate, absolutely (just read #526 ) : never the less, I think it should be extended to Ansible Tower / AWX workflows

[2020-07-23 16:41] Jean-Baptiste-Lasselle commented on #578
Totally agree with the concept :
* I just had a few days ago, a close idea, in #7711 (closed since duplicate with this one and #526 )
* There the big change that I see is this :
  * above, I can read people caring about "locking" a job definition
  * so the solution, I believe, is to define a job at a repo level (is not that required, for a software to be a gitops tool, to be aware of git repos ?)

[2020-07-23 16:53] AlanCoding commented on #7712
Issues mentioned here should be resolved with https://github.com/ansible/awx/pull/7643

[2020-07-23 16:53] #7712 closed, assigned to nobody

[2020-07-23 17:35] unlikelyzero commented on #7672
cypress tests pass and the percy snapshots look good

[2020-07-23 18:39] AlanCoding commented on #7703
replaced this with https://github.com/ansible/ansible/issues/70831

[2020-07-23 18:39] #7703 closed, assigned to nobody

[2020-07-23 19:13] kdelee opened #7714 "trouble using TOWER_PASSWORD env var to authenticate with collection"
##### ISSUE TYPE
 - Bug Report

My playbook works fine w/ TOWER_OAUTH_TOKEN but using TOWER_PASSWORD does not seem to work.

##### SUMMARY

My environment:
[code]

my playbook
[code]

Built awx collection from devel with `make build_collection` and then installed with `ansible-galaxy collection install awx_collection_build/awx-awx-13.0.0.tar.gz`

##### ENVIRONMENT
* AWX version: devel
* Ansible ve

[2020-07-23 19:54] bvivi57 opened #7715 "AWX not use vmware_vm_inventory.py (and no tags from vCenter)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- vCenter Inventory

##### SUMMARY
Despite the use of a "virtualenv" with the necessary dependencies (VMware vSphere Automation), I don't have any tags associated to my VMs that go up in my AWX inventory.

##### ENVIRONMENT
* AWX version: AWX 13.0.0
* AWX install method: Kubernetes
* Ansible version:  2.9.10
* Operating System: Ubuntu 20.04
* W

[2020-07-23 20:51] KelvinPriceDSL commented on #7710
What I saw was that after launching with docker-compose, the awx_redis container kept failing and restarting in a loop and never actually came up and stayed up.

Running `docker logs awx_redis` showed that it had errors accessing /usr/local/etc/redis/redis.conf, from what I could tell the file was there but was not executable and the contents were not a valid script anyway.  It didn't make sense t

[2020-07-23 20:55] rromanchuk commented on #7310
i already have a redis  running on the host, can i just purge the container and let it connect by its defaults, or is it a little more complex of a problem?

[2020-07-23 21:27] wenottingham commented on #7715
Arbitrary source variables are not currently put into the plugin configuration, that is why you're seeing it not be honored.

[2020-07-23 21:53] KelvinPriceDSL commented on #7710
That script refers to $1, my understanding of docker may be incorrect here, but to me ["filename"] would make filename $0 and $1 would be empty, but ["command", "filename"] would make command $0 and filename $1.

[2020-07-23 23:26] vvaldez commented on #2817
Any progress on this?

[2020-07-23 23:33] monorailpilot commented on #306
Here's the code that is setting it in the API.

if user.pk and user.profile.ldap_dn and not user.has_usable_password():
                account_type = "ldap"

I'm guessing since you've got the ldap_dn, that its the has_usable_password assertion that's missing.  I think appending a "!" in front of the password string in the database will then change that user account property.

[2020-07-23 23:35] monorailpilot commented on #308
I'd also like to see this with RADIUS, for similar reasons.

[2020-07-24 00:35] ryanpetrello commented on #2817
Hey @vvaldez,

Unfortunately, no.  If that changes, details will show up in this issue thread.

[2020-07-24 00:53] Leif160519 opened #7716 "Add running parameters to the template job"
##### ISSUE TYPE
 - Add running parameters to the template job, just like the parameters added when running ansible-playbook on the command line

##### SUMMARY
I want to add running parameters to the template job, such as --list-hosts. This function is useful before pre-execution. I hope to add this function, or if awx already has this function, what should I do? Thanks!

[2020-07-24 01:00] Leif160519 commented on #7716
I searched the official documents, but did not find similar steps. I hope someone can give me an idea, thank you!

[2020-07-24 08:58] silvam11 commented on #7198
@wenottingham @sumkincpp is there any reason why AWX workflow engine does not allow more complicated branching strategies? What would be the effort to allow branching based on conditions using facts instead of  [ always, success, failure ]?

[2020-07-24 11:22] mark1973ryan commented on #1947
Hi,

Don't know if you're still stuck on this but I've just started using the API.

The posts to /api/v2/applications/ and /api/v2/tokens/ using basic auth, obviously the user has to have rights on the box. I used our admin account. The second post gives you the tokens then you use those as bearer tokens in subsequent requests.

The ID for organisation can be picked from the URL when browsing them

[2020-07-24 11:29] tgates81 opened #7717 "Record any changes or disablement in External Logger settings into logs before applying"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
For security auditing purposes it would be ideal for the External Logger to record any changes, especially disablement along with username info, into the said logs before performing the action.

##### ENVIRONMENT
* AWX version: >=12.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docke

[2020-07-24 13:12] ryanpetrello commented on #7710
@KelvinPriceDSL are you _manually_ running `docker-compose` pointed at AWX's compose config?  That's not generally how you install AWX in a local Docker environment.

Please have a look over these instructions (which I've confirmed do work):

https://github.com/ansible/awx/blob/devel/INSTALL.md#docker-compose

[2020-07-24 13:16] awright424 opened #7718 "awx 13.0.0 not accessible if set to use ssl and serve on 80 and 443"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.11
* Operating System: ubuntu 18.04
* Web Browser: chrome latest

##### STEPS TO REPRODUCE

installed awx using docker. set it to use both ports 80 and 443 and supplied goddady .crt file for the ssl with no key.

##### EXPECTED RESULTS

I see awx list

[2020-07-24 13:49] dsesami commented on #7651
Tried this out with nvm (`nvm use 8`) to switch to node 8.12. I was unable to verify that `make ui-devel-next`, `npm run build`, and `npm start` raised errors -- seemed to go through just fine. I'm wondering if I have something misconfigured. I'd like to follow up with you on this one so we can make sure it works.

[2020-07-24 13:51] kdelee commented on #7714
:roll_eyes: I had a `~/tower_cli.cfg` file that I had forgotten about and it was taking precedence over my `TOWER_PASSWORD` env var

[2020-07-24 13:51] #7714 closed, assigned to nobody

[2020-07-24 13:56] ryanpetrello opened #7720 "Daphne is slowly leaking memory via channels-redis"
see: https://github.com/django/channels/issues/1181#issuecomment-663550284

[2020-07-24 13:56] ryanpetrello commented on #7720
Here's a potential patch for this issue:

https://github.com/ansible/awx/pull/7719/

[2020-07-24 14:39] ryanpetrello commented on #7534
Hey @Aech1977,

New releases show up here: https://github.com/ansible/awx/releases
We publish official images to Dockerhub: https://hub.docker.com/r/ansible/awx

Additionally, we have an official changelog at: https://github.com/ansible/awx/blob/devel/CHANGELOG.md

...and we announce releases on our mailing list: https://groups.google.com/forum/#!forum/awx-project

[2020-07-24 15:23] Aech1977 commented on #7534
thanks

[2020-07-24 15:34] nixocio opened #7721 "Update AddDropDownButton to show down caret"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
From feedback from @trahman73.

Example:

<img width="935" alt="Screen Shot 2020-07-24 at 11 12 56 AM" src="https://user-images.githubusercontent.com/9053044/88408490-a03cf680-cda1-11ea-94bf-a0abad01445e.png">

[2020-07-24 15:42] nixocio opened #7722 "Update Delete button variant to secondary"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
As per feedback from @trahman73, the delete button should be updated to variant `secondary`. Only place where delete button variant should be `danger` is the modal where the action is performed.

General example:

<img width="1481" alt="image" src="https://user-images.githubusercontent.com/9053044/88409162-8ea81e80-cda2-11ea-9e03-60a8c6653307.png">

[2020-07-24 17:16] blomquisg commented on #7659
@ryanpetrello can you take a peek at this one?

[2020-07-24 17:19] blomquisg commented on #7655
@ryanpetrello please take a look at this.

[2020-07-24 17:25] blomquisg commented on #7453
@samdoran can you help out @ryanpetrello ?

[2020-07-24 17:27] wenottingham commented on #7348
What roles does that user have, in total?

[2020-07-24 17:29] wenottingham commented on #7716
In AWX, a job is a single playbook run in isolation; we have no plans to add pre/post steps. See https://github.com/ansible/awx/issues/7535 for more details.

Can you describe more why you'd need this?

[2020-07-24 17:32] #7672 closed, assigned to jlmitch5

[2020-07-24 18:36] wenottingham commented on #7198
It's just extremely messy architecturally to do so.

Facts are at the host level, not global. You'd need to tell it what host to pull the fact from, and ensure it's saved in the fact cache, which is probably not what you want to be querying from inside the task manager. To use something like set_stats, see https://github.com/ansible/awx/issues/7198#issuecomment-636977952.

[2020-07-24 19:05] kdelee commented on #7659
@psuriset of interest to scale team

[2020-07-24 19:05] kdelee commented on #7655
@psuriset of interest to scale team

[2020-07-24 19:17] chrismeyersfsu commented on #2817
FYI if anyone wants to take a stab at this here is a braindump.

https://github.com/ansible/awx/blob/devel/awx/main/utils/filters.py#L326 <-- Add a new operator type
[code]
https://github.com/ansible/awx/blob/devel/awx/main/utils/filters.py#L355 <-- Add it as a unary operator

[2020-07-24 20:03] ryanpetrello commented on #7655
@fosterseth if you've got some available time next week, can you take a peek at this?

[2020-07-24 20:35] unlikelyzero commented on #7600
Verified:

Uploaded example from:
https://github.com/ansible/awx/pull/7585#discussion_r452334853
Reverted example
Uploaded example copypasta'd 20
Uploaded Custom Logo, Enabled Analytics Tracking, Uploaded example
Reverted all

[2020-07-24 21:04] elyezer commented on #5735
@unlikelyzero are we ready to close this? Anything pending from the UI next perpective?

[2020-07-24 21:29] unlikelyzero commented on #5735
The z stream work pushed this down to my number 2 priority. I'll put the PR up when ready based on these changes:

https://www.github.com/ansible/tower-qa/tree/k8s-credential-stubs/ui-tests%2Fawx-pf-tests%2Fcypress%2Fintegration%2Fcredential-types

[2020-07-24 21:51] kdelee commented on #7655
@fosterseth I'm interested in this issue so let me know if you want help testing

[2020-07-24 21:51] kdelee commented on #7659
I'm interested in this issue so let me know if you want help testing @ryanpetrello  (or whoever looks at this)

[2020-07-25 01:44] monorailpilot opened #7723 "Allow synchronization of LDAP directory data with RADIUS authentication"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Similar to issue 308, allow users authenticated via RADIUS to be authorized via LDAP group membership, as well as allowing team and organization mapping using LDAP attributes.

A good use case example is that LDAP (such as active directory) already contains all of the team and organization mappings, as well as the authorization groups, which currentl

[2020-07-25 05:22] Leif160519 commented on #7716
I just want to confirm the machines that take effect after the script is executed to prevent mistakes, because there are hundreds of machines to prevent mistakes

[2020-07-25 13:19] alexhaydock commented on #7597
I can reproduce this on RHEL 7.8.

I believe it's down to the lack of `:z` tags on the Redis socket in [docker-compose.yml.j2](https://github.com/ansible/awx/blob/devel/installer/roles/local_docker/templates/docker-compose.yml.j2).

You will notice in that file that the PostgreSQL data is bind-mounted with an uppercase `:Z`, which [allows Docker to automatically configure the SELinux labels](https

[2020-07-26 14:41] divyaan23 commented on #7649
API's are highly used in different scenarios and this feature is sometimes needed.
However, here is the backend python (2.7) script configured in Ansible Tower template to trigger notification and job scheduled daily. Iterative loop is set to check if token expires within 2, 1, <24 hours.

https://github.com/divyaan23/Ansible-Tower/

[2020-07-26 20:59] KelvinPriceDSL commented on #7710
I manually ran docker-compose _after_ editing the docker-compose.yml file _after_ the install failed to launch.

[2020-07-26 21:38] #7600 closed, assigned to nobody

[2020-07-27 06:58] psmola commented on #7348
User who is a admin of organization has two roles:
- Organization member
- Organization administrator

User I want add to organization doesn't have any roles

[2020-07-27 08:46] arndttob opened #7725 "hostvars is undefined with delegate_to"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using delegate_to within a task, any variable of the remote system seem to be undefined.
The same issue is documented in the git repo for ansible (https://github.com/ansible/ansible/issues/70334).

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: Debian 10 (Buster)
* Web B

[2020-07-27 08:56] silvam11 commented on #7198
@wenottingham Thanks for answering my question. I understand that it can be challenge to implement but is it something worth trying? I mean, based on my limit experience with AWX, it seems to be a good feature to be added in order to improve the workflow engine experience.
I was thinking to look at the code and see whether I can contribute with this. Could you point me to where I can start on the

[2020-07-27 11:18] arndttob commented on #7725
I also tested it with AWX Version 11.2.0. Here, it works as expected.

[2020-07-27 11:55] bvivi57 commented on #7715
Thanks for your help.

Why modifying the plugin directly in the containers has no impact, or even deleting it. Does it exist elsewhere in the tree ?

[2020-07-27 12:41] unlikelyzero commented on #4207
@jakemcdermott @mabashian any changes this will come back? It would be great to see

[2020-07-27 12:43] unlikelyzero commented on #4241
@jakemcdermott does this still need to be done?

[2020-07-27 12:47] unlikelyzero commented on #4765
@dsesami can you check to make sure this is working?

[2020-07-27 13:05] ryanpetrello commented on #7198
@silvam11,

I don't want to discourage you from exploring how it works, but AWX's code for workflow state and scheduling is amongst the most complicated and sensitive code in the system - getting it wrong can lead to system slowdown/scheduling inefficiencies (at best), or hung or unschedulable jobs (at worst).  Also, implementing a feature like this likely means touching all aspects of the system

[2020-07-27 13:53] unlikelyzero commented on #4950
Note: this will need to be covered in a closed source test

[2020-07-27 13:57] unlikelyzero commented on #4947
@marshmalien is this still an issue?

[2020-07-27 13:59] unlikelyzero commented on #5211
@mabashian still an issue?

[2020-07-27 14:04] unlikelyzero commented on #5683
@marshmalien still an issue?

[2020-07-27 14:07] unlikelyzero commented on #5977
@marshmalien this is still blocked on those issues, right?

[2020-07-27 14:08] unlikelyzero commented on #6103
note: we need to add coverage to visual regression testing here

[2020-07-27 14:27] marshmalien commented on #4947
@unlikelyzero We haven't addressed this yet.

[2020-07-27 14:28] marshmalien commented on #5977
Yes, PatternFly hasn't released a LabelGroup component yet. The component is currently in the design phase.
https://github.com/patternfly/patternfly-design/issues/845

[2020-07-27 15:05] marshmalien commented on #5683
@unlikelyzero Yes, just verified with @trahman73 and it is still an issue.

[2020-07-27 15:28] AlanCoding commented on #5518
This is being merged, I'm leaving the issue open for @elyezer to close when ready

[2020-07-27 17:13] mabashian opened #7727 "Add title under breadcrumb"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1460" alt="Screen Shot 2020-07-27 at 1 11 29 PM" src="https://user-images.githubusercontent.com/9889020/88570850-c5806d80-d00a-11ea-8960-15e0861248f8.png">

We used to have something like this supported in the breadcrumb component but I think that support was dropped.  If we want to do something like this now we'll have to add it ourselve

[2020-07-27 17:16] basakdipankar commented on #4764
docker_compose_dir="~/.awx/awxcompose"

Replace the above line in awx/installer/inventory file with absolute path of awxcompose directory

Like this

docker_compose_dir="/home/YOUR_USERNAME/.awx/awxcompose"

Somehow,  '~' was not working in this case.

Hope this helps.

[2020-07-27 18:14] kdelee commented on #3461
@AlanCoding I'm reading this issue and trying to figure out if @jladdjr 's patch actually "closes" this issue or just implements it for vmware.

Seems like this issue is more general than that. Would you concur that Jim's patch covers this issue?

If so I would close as verified by regression testing w/ vmware as it is not breaking anything for us and provides flexiblity for either way the variabl

[2020-07-27 18:22] wenottingham commented on #7725
This is an ansible bug, it should be tracked in the issue you referenced.

[2020-07-27 18:22] #7725 closed, assigned to nobody

[2020-07-27 18:24] wenottingham commented on #7723
What is the reason to not use LDAP for the authentication step in this scenario?

[2020-07-27 18:26] wenottingham commented on #7716
That's not something we'd add in that way.

You can use an approval node in a workflow to implement this if you are concerned with how the playbook host pattern may match inventory.

[2020-07-27 18:26] #7716 closed, assigned to nobody

[2020-07-27 18:26] wenottingham commented on #7715
The file in plugins/inventory you deleted was the old script that is included for Ansible 2.8 compatibility.

[2020-07-27 18:38] kdelee commented on #6930
we could hackily verify this but as far as I'm concerned to verify it nicely we are blocked by https://github.com/ansible/tower-packaging/issues/661

[2020-07-27 18:38] AlanCoding commented on #3461
This issue is a little too old.

We did use the `compose` dictionary to re-create the old values from the new values.

VMWare is only the exception because the value we're looking for is nested in a sub-dictionary, where we decided to axe `config.instanceuuid`. Also, since the old/new here was a matter of upper/lower case you shouldn't really have both co-existing in hostvars at the same time.

I

[2020-07-27 18:38] kdelee commented on #3461
works for me, thanks

[2020-07-27 18:38] #3461 closed, assigned to jladdjr

[2020-07-27 18:44] kdelee commented on #5076
@one-t could you take a look at this sometime

[2020-07-27 18:54] monorailpilot commented on #7723
In our case, our RADIUS server supports 2FA (Using a combined password+token string) for active directory accounts and we have multiple other services that support this scenario (such as VMWare Horizon and Cisco AnyConnect).

This may be a unique case, for us, but I at least know with #308 a similar request has been made for SAML + LDAP, so it may be possible to wrap both requests up into a single

[2020-07-27 19:31] AlexSCorey opened #7728 "Teams Roles List and Disassociate"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add support for Teams Roles List and Disassociate functionality.  In old ui it would be Teams Users List

[2020-07-27 19:32] AlexSCorey opened #7729 "Teams Roles Add"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add support for Teams Roles Add functionality.  In old ui it would be Teams Users Add

[2020-07-27 20:36] vrjram opened #7731 "Running the development environment on Windows using wsl2"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Facing issue starting the redis container from the docker-compose.

Issue is with the following errors being received while starting the redis container.

1:C 28 Jul 2020 15:54:32.932 # Fatal error, can't open config file '/usr/local/etc/redis/redis.conf'

EX:
awx/tools/docker-compose.yml
[code]

##### ENVIRONMENT
* AWX version: devel
* AWX install me

[2020-07-27 20:53] jakemcdermott commented on #4241
@unlikelyzero  Yep, but holding off until support for skeleton lines lands.

[2020-07-27 21:19] one-t commented on #5076
This one is somewhat complex. The AppRole piece should fit in pretty easily but the LDAP part requires that hashicorp vault be configured to use LDAP for auth, which means running a few commands in the container and having it use the existing Red Hat Directory Server. We would also either need to make this a separate class or use it function scope since it would alter the configuration of the vaul

[2020-07-27 21:21] one-t commented on #5076
I also think this might be a good issue for someone to pair up with me on because it touches a couple of external systems that a lot of QE folks haven't touched yet.

[2020-07-27 21:33] wenottingham commented on #7723
OK, I've seen in other cases where this same scenario was handled in AD - I don't know if they put RADIUS behind AD in that case or something else.

[2020-07-27 23:46] neuromancer-es commented on #1556
In case anyone found this to fix the issue, i had to change
THIS: proxy_set_header Connection $connection_upgrade;
INTO THIS: proxy_set_header Connection "upgrade";
source: https://www.serverlab.ca/tutorials/linux/web-servers-linux/how-to-configure-nginx-for-websockets/

[2020-07-28 00:02] dapiced opened #7734 "Being able to do a "pause" during a running job in tower"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Sometime we need to use tower-cli to cleanup inventory, but if jobs is runnings, the inventory is block for tower-cli

Being able to do a "pause" during a running job in tower, like a PAUSE BUTTON

##### ENVIRONMENT
* AWX version: 3.6.3
* AWX install method: on prem.
* Ansible version:  2.9.5
* Operating System: redhat

[2020-07-28 01:21] philipsd6 opened #7735 "Installer: "when: kubernetes_awx_image is not defined" will never match, due to defaults"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
`kubernetes_awx_image:` is set in `installer/roles/kubernetes/tasks/main.yml` *only* when `kubernetes_awx_image` is not defined. However, `kubernetes_awx_image` is hardcoded in `installer/roles/kubernetes/defaults/main.yml` as `ansible/awx`, so this test will never set the variable otherwise:

    $ rg -B4 -A1  kubernetes_awx_image installer/roles/kube

[2020-07-28 01:29] wenottingham commented on #7734
We have no plans to add this. For a pause step, add a approval node in a workflow; that can pause until approved, or until timeout.

[2020-07-28 01:29] #7734 closed, assigned to nobody

[2020-07-28 06:59] AdirShaubi commented on #20
+1
Would really like to see this feature implemented, it’ll be very useful and time saving

[2020-07-28 07:02] dbirenfe commented on #20
Would like to see this feature soon, we need it badly in our large enterprise company.
Will help us a lot!

[2020-07-28 15:08] chrismeyersfsu commented on #7198
@silvam11 The logic lives here https://github.com/ansible/awx/blob/devel/awx/main/scheduler/dag_workflow.py

[2020-07-28 16:00] mrmibrown opened #7737 "Change the icon used to log out of the web UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Quote from the user:
"web interface uses power icon for logging out"

Description
"The web interface should not use the power icon for logging out.
1.  It's the wrong icon, which leads to user confusion
2.  It will train users to think the power icon always represents logging out, which could lead to inadvertent shutdowns.

Replace it with a standard

[2020-07-28 16:18] ryanpetrello commented on #7737
The new UI based on patternfly doesn't use this icon anymore:

![image](https://user-images.githubusercontent.com/214912/88692801-7d298400-d0cc-11ea-855b-ad6eff7e7019.png)

[2020-07-28 16:22] jakemcdermott commented on #7737
Yep. resolved in the new ui. Sit tight.

[2020-07-28 16:22] #7737 closed, assigned to nobody

[2020-07-28 17:55] dsesami commented on #7512
dropdowns properly provide feedback. 👍

[2020-07-28 17:55] #7512 closed, assigned to jakemcdermott, dsesami

[2020-07-28 19:49] jlmitch5 opened #7740 "Pass 2 of making options requests to get possible keys for advanced search"
There are a handful of screens that don't have anything populated in the options for the key typeahead, as they don’t use the useRequest hook yet. In terms of work, I think it makes sense that they should be converted first so that they can grab the options request to get possible advanced keys.

- UserList.jsx - https://github.com/ansible/awx/pull/7743
- WFJTList - https://github.com/ansible/awx/

[2020-07-28 19:50] dsesami commented on #7511
It looks like this works without issue now.

[2020-07-28 19:50] #7511 closed, assigned to jakemcdermott, dsesami

[2020-07-28 19:54] jlmitch5 opened #7741 "Update advanced search key options to be grouped"
https://github.com/patternfly/patternfly-react/pull/4622 -- blocked until this PR merges and we update to get that code

Currently, there are two sets of keys displayed in the options for this typeahead--the direct keys of the resource, and the related search fields. Since there is currently a bug with PF support of select groups with typeaheads, I have to concat and dedup these two list of option

[2020-07-28 20:25] mabashian commented on #7740
I'm gonna slowly chip away at this list - if anyone else is interested in grabbing some of these just let me know so that we don't duplicate efforts.

I'll probably do each component in a separate PR

[2020-07-28 20:49] nixocio opened #7744 "Add instance group"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add instance group.

[2020-07-28 21:36] marshmalien opened #7746 "Create the Settings skeleton"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockup: https://tower-mockups.testing.ansible.com/patternfly/settings/settings/

**Tasks**
* Create a responsive settings navigation landing page
* Configure breadcrumbs
* Stub out route files
* Each link should navigate to a detail view
* Each detail view should have an edit button that navigates to an edit view
* Each edit view should have a cancel

[2020-07-29 08:38] silvam11 commented on #7198
Thanks @ryanpetrello and @chrismeyersfsu  for sharing this information.

[2020-07-29 09:56] mkayontour commented on #6223
ref #735 as discussed in this issue - I just came across this issue after the update and forgot to answer on the other issue.

[2020-07-29 12:13] wbieniek opened #7749 "Callback is not working since upgrading from AWX version 10 to 13"
##### ISSUE TYPE
Callback is not working after upgrading to AWX 13 from AWX 10.

##### SUMMARY
[root@cilsdbxd55343 ~]# curl -k  --data 'host_config_key=0cf80425-45d8-4e24-9e70-2b3072aa9e9e' https://cpc-awx-stage.apps.gp-1-nonprod.openshift.cignacloud.com:443/api/v2/job_templates/9/callback/ -vvv
* About to connect() to cpc-awx-stage.apps.gp-1-nonprod.openshift.cignacloud.com port 443 (#0)
*   Tryi

[2020-07-29 12:37] mabashian opened #7751 "Delete button tooltip missing username when user cannot be deleted"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1158" alt="Screen Shot 2020-07-29 at 8 35 41 AM" src="https://user-images.githubusercontent.com/9889020/88800722-9850ce00-d176-11ea-8650-eec148f2351e.png">

If you're logged in as a superuser and you select your own superuser account to be deleted the tooltip is missing the username.  IIRC we should be listing out all the resources that you

[2020-07-29 13:09] #7470 closed, assigned to nobody

[2020-07-29 14:38] dsesami opened #7756 "Creating a new user in ui-next does not associate it with an organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Creating a user and associating it with an org in the add form does not actually attach the user to the org. It is also probably important to check the edit form when fixing this.

##### STEPS TO REPRODUCE
1. Create an organization.
2. Go to the user creation form.
3. Attempt to associate the user with the org when creating.

##### EXPECTED RESULTS
1.

[2020-07-29 14:40] bcoca commented on #5150
FYI, `ansible-doc -t inventory <plugin name> --json` should give you a JSON document with the configuration options for each plugin.

[2020-07-29 15:18] mkayontour opened #7758 "Kerberos Password on delegate_to is not used"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We are running windows hosts on AWX with winrm and kerberos. When they are used as regular host the kerberos is just working fine.
But when the windows hosts is part of delegate_to its not working in the current version 13.0.0.

In the previous version 11.2.0 everything worked well.

This is the output of a normal playbook from a dedicated server, with

[2020-07-29 15:38] humzam96 opened #7760 "Relaunch with Parameters should use Original Parameters"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If you want to rerun a completed job, you can go to your job template, look up its completed job and then hit the rocket ship relaunch button. When clicking this button it seems like it will use the original parameters for the corresponding job run, but it rather uses the current job templates parameters. The point of going back to that completed job

[2020-07-29 16:25] dsesami commented on #4765
there's a bit of weirdness happening with the UI org/user relationship. I'd like to verify this after https://github.com/ansible/awx/issues/7756 is fixed.

[2020-07-29 17:11] ovitente commented on #3204
I am receiving the same error on mac os Catalina BUT under virtual env.
ansible 2.9.11
[code]

Playbook that fails

[code]
And the same with other blocks that are using the `apt` module.

[2020-07-29 18:32] one-t commented on #6986
Current status of Cyberark server:

* Disk was full, expanded by @ghjm
* License is expired
  * Cyberark generated the license
  * Got me an account to log in
  * Pending permission to access the license with my account.

I have pinged the two cyberark contacts I have again to see if we can get this resolved faster. Turnaround has been slow at every step.

[2020-07-29 19:10] ovitente commented on #3204
In my case SOLUTION found. I opened my eyes wide and saw that I have an uncommented option  `connection: local` in my playbook.

Ansible was trying to search `apt-get` command on the mac os.

[2020-07-29 19:45] jpell958 opened #7766 "tower_inventory_source.py"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We found that this module will not revert the following parameter's states back to "no" if set to "yes".
- overwrite:
- overwrite_vars:
- update_on_launch:
- update_on_project_update:

We observed that the change of state flag says "OK" when trying to change these parameters to 'no'.  It should also be noted that the AWX GUI does change the states appr

[2020-07-29 20:36] nixocio opened #7767 "Edit instance groups"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add feature to edit instance groups.

[2020-07-29 21:17] pacificbreeze007 commented on #7253
@ryanpetrello
I am running into the same issue..here are the requested logs. If you can assist, it would be greatly appreciate. Thanks.

An organization is already in the system, exiting.
(changed: False)
2020-07-29 21:12:59,020 CRIT Supervisor is running as root.  Privileges were not dropped because no user is specified in the config file.  If you intend to run as root, you can set user=root in t

[2020-07-29 23:28] pacificbreeze007 commented on #7253
Just an update here. For me this issue was fixed by generating a proper key/cert pair, and updating the following vars in the "inventory" file, and re-running the install again.

ssl_certificate=/etc/tower/certs/tower.crt
ssl_certificate_key=/etc/tower/certs/tower.key
ca_trust_dir=/etc/pki/ca-trust/source/anchors

ansible-playbook -i inventory install.yml -vv

[2020-07-30 00:13] AlanCoding opened #7769 "Update conditional in project update playbook - require min Ansible 2.9 to install collections"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This needs to be backed off from 2.8 to 2.9:

https://github.com/ansible/awx/blob/708244881cc6cd04722d3bc36d7d6036bffc329a/awx/playbooks/project_update.yml#L165

Because if you run with Ansible 2.8, it gives blank `stdout` and that's confusing.

If my research is correct, @jborean93 added the `ansible-galaxy collection` CLI in https://github.com/ansibl

[2020-07-30 05:44] ryanpetrello commented on #7731
Duplicate of https://github.com/ansible/awx/issues/7731

[2020-07-30 05:44] #7731 closed, assigned to nobody

[2020-07-30 07:40] mkayontour commented on #7758
Today I downgraded the container of the test instance and checked if the **delegate_to** works on the version 12.0.0.

it works without any problem ;)

[2020-07-30 10:37] SebastianSlaby commented on #7348
It looks more like an UI bug, as you are not supposed to be able to edit users (add them to organizations in this case) if you are not the organization admin for all of the organizations the users is a member of - including the default organization. The permission part is working as intended but some pop-up would be nice to have I guess. @psmola  in your case the organization admin should also be

[2020-07-30 11:03] zigaSRC commented on #7348
Shouldn't that be changed though? It doesn't make much sense to me that in the case of having a complex organization structure with lots of users (which might be in many organizations) that basically only the AWX admin (if you don't want to add a bunch of permissions to everyone, which in certain cases you definitely don't want to do!) can manage users and assign users certain permissions.

If I'm

[2020-07-30 11:18] spam-n-eggs commented on #7699
@geerlingguy I know that this probably isn't the right place to ask this, but I didn't even get this far.  How did you get past it trying to run PowerShell instead of python on the install?

[2020-07-30 11:35] SebastianSlaby commented on #7348
We're facing the exact issue where a user should be member of multiple organizations and there are different admins for those organizations. It often defeats the purpose of even having an organization admin as a Tower/AWX admin has to assign that user to organizations. I get that if you were able to add a user to your org you would revoke another organization admin rights to edit that user but I d

[2020-07-30 11:50] AndrasKovacs2 commented on #7348
Having the same issue - can you please refer me to any documentation that is underpinning this statement: _"you are not supposed to be able to edit users (add them to organizations in this case) if you are not the organization admin for all of the organizations the users is a member of - including the default organization"_

It seems counter-intuitive to me, surely the ACL of an organization is ha

[2020-07-30 12:17] SebastianSlaby commented on #7348
That's the conclusion we came to when testing it. Not really able to find it in any documentations, will share if I find it and hope if anybody does find it in the meantime he/she will share it here .It's stated in the docs that you have to be an organization admin to be able to manage a user belonging to the organization, so that doesn't go along with what's actually happening

[2020-07-30 12:31] p3Lsh opened #7771 "awx_web can't connect to awx_postgres database centos 8"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx_web can't connect to awx_postgres database.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker
* Ansible version:  2.9.11
* Operating System: centos 8
* Web Browser: Firefox 68.10.0esr (64-bit)

##### STEPS TO REPRODUCE

yum install -y epel-release -y && yum install -y jq
yum install centos-release-ansible-29.noarch
yum install -

[2020-07-30 12:37] ryanpetrello commented on #7771
Hey @p3Lsh,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-07-30 12:37] #7771 closed, assigned to nobody

[2020-07-30 12:53] psmola commented on #7348
In situation when on AWX is  ~50 organizations and hundreds of members, AWX administrator shouldn't be directly responsible for adding users to organization. Idea of organization with role admin organization is created to delegate such function to  dedicated members of specific organization.
Workaround what I use proves that this problem looks for BUG because when you create team inside organizati

[2020-07-30 13:11] ryanpetrello commented on #7710
@KelvinPriceDSL for what it's worth, I was able to reproduce this on a recent new install I did, and I found that the issue only occurred with SELinux enabled.

[2020-07-30 13:44] anxstj commented on #7650
I wasn't able to reproduce the issue with AWX 13.0.0.
Thank you for your support. I will close this issue now.

[2020-07-30 13:44] #7650 closed, assigned to nobody

[2020-07-30 14:22] tumluliu commented on #553
for people who want to have bool var support on AWX job template UI, a workaround is to put the var in `EXTRA VARIABLES` and tick the `PROMPT ON LAUNCH` checkbox.
**BUT**, the bool var accepts `True/true/False/false` as values, `yes/no` will still be treated as strings. This is different behavior from Ansible

[2020-07-30 14:35] nixocio opened #7773 "Evaluate disable form submit buttons per PF guidance"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
PF doc: https://www.patternfly.org/v4/design-guidelines/usage-and-behavior/forms#enabling-and-disabling-buttons

[2020-07-30 15:45] wenottingham commented on #7348
FYI, there's nothing special about the default organization in this case, it's just an org like any other.

This is intentional behavior for security reasons. See https://github.com/ansible/awx/commit/a344ceda0ee6a475c13924e2a72143e60d54e328 for the commit.

An org admin has administration rights on all users inside their organization. Allowing them to adopt users from other organizations that the

[2020-07-30 15:51] chrismeyersfsu commented on #7749
https://docs.ansible.com/ansible-tower/3.7.1/html/installandreference/proxy-support.html#proxy-support

[2020-07-30 15:51] ryanpetrello commented on #7749
Hey @wbieniek,

Issues with the callback endpoint can be tricky to troubleshoot, especially if there's any sort of proxy or similar in front of it.  This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#

[2020-07-30 15:51] #7749 closed, assigned to nobody

[2020-07-30 15:54] shanemcd commented on #7749
This sound like something support could help with, if you were paying for Tower 😄

[2020-07-30 16:23] jlmitch5 commented on #7773
We should disable the save button until a user starts filling out the form or edits it in any way, or if the form is invalid with the client-side validators return false, such as when they do when you have not entered a value for a required field.

we should pass a new prop to `FormActionGroup` so that we can set this information on the isDisabled prop of the save button.  It should be something l

[2020-07-30 16:55] nixocio commented on #7773
As per @trahman73 feedback.

[2020-07-30 16:58] one-t commented on #6986
It appears that we have coverage for the scenario already.

The existing tests passed in devel. Is that sufficient to close, @kdelee @jneedle ?

[2020-07-30 17:35] ryanpetrello commented on #7253
@pacificbreeze007,

[code]

There's supposed to be 6 events, but I see 12 inserts, which tells me events are being inserted twice.  Are you certain you're not running multiple callback receivers on the same node?  Can you share `ps -ef` of this container?

[2020-07-30 18:23] elyezer commented on #7181
As mentioned by https://github.com/ansible/awx/issues/7181#issuecomment-636083151, the solution to this would be updating the docs and that is now done. With that we can consider this as being done and verified.

[2020-07-30 18:23] #7181 closed, assigned to nobody

[2020-07-30 18:50] dsesami commented on #4532
Verification of this one is (kind of) blocked by https://github.com/ansible/awx/issues/7756. I'd like to verify it after that is resolved so I can go through the entire flow within the same UI and make sure nothing else is caught.

[2020-07-30 19:01] shanemcd commented on #7718
Hi @awright424,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-07-30 19:01] #7718 closed, assigned to nobody

[2020-07-30 19:03] shanemcd commented on #7710
To expand upon this a bit, it seems like this is an SELinux issue when running moby-engine. Until that package is fixed, installing docker-ce from the Fedora 31 repos works.

[2020-07-30 19:03] #7710 closed, assigned to nobody

[2020-07-30 19:35] dsesami commented on #5546
spoke with @marshmalien, this isn't implemented yet. moving to needs_devel.

[2020-07-30 19:41] unlikelyzero opened #7775 "Remove Inventory Scripts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We are removing inventory scripts from awx. This ticket tracks the API work necessary to do that for docs and QE.

##### Related Issues
Related ui_next issue: https://github.com/ansible/awx/pull/7577
Related docs issue referenced below
Related tests issue referenced below

[2020-07-30 20:43] nixocio opened #7777 "Update Instance Group Form to use Slider when available"
### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Once slider component is available update Instance Group Form to use this one.

Mock up: https://tower-mockups.testing.ansible.com/patternfly/instance-groups/instance-groups-add/

See: https://github.com/patternfly/patternfly/issues/296

Also: https://github.com/patternfly/patternfly-react/issues/5187

[2020-07-30 20:44] nixocio commented on #7777
See: https://github.com/ansible/awx/pull/7776

[2020-07-30 21:03] KelvinPriceDSL commented on #7710
Yeh, selinux was enabled on my test build machine and `semanage fcontext -a -t svirt_sandbox_file_t  $compose_dir` followed by a `restorecon -R` was being run against the parent dir of the awxcompose dir for another app also using docker-compose.  Turns out the "redis-server" isn't needed and I could have just re-launched awx and it would have been fine.

Perhaps a better fix would be adjusting th

[2020-07-30 21:05] nixocio opened #7778 "Update layout for details page"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
As per feedback from @trahman73.

Current version:
<img width="1475" alt="image" src="https://user-images.githubusercontent.com/9053044/88974416-95dd9980-d286-11ea-996c-37945dda4c56.png">

Updated version:
![image (1)](https://user-images.githubusercontent.com/9053044/88974586-ddfcbc00-d286-11ea-9fbf-b2dea70c1298.png)

Evaluate all screens affected b

[2020-07-30 22:40] one-t commented on #6986
Verified that this has been fixed.

[2020-07-30 22:40] #6986 closed, assigned to one-t

[2020-07-30 22:50] pacificbreeze007 commented on #7253
@ryanpetrello
First of all, contrary to my earlier comment, the issue is not resolved. This error message has returned "Invalid search term entered. GET returned: 500 A server error has occurred." after I tried to sync on of my projects

UID                 PID                 PPID                C                   STIME               TTY                 TIME                CMD
root

[2020-07-31 05:33] johnrkriter commented on #6792
Came here while investigating an issue during Release 13.0.0 install issue that was also giving me ` ERROR:  relation "conf_setting" does not exist at character 158`

I ended up reverting to release 12.0.0 while troubleshooting assuming it was a dirty release.
This is a fresh docker-compose install using containerized Postgres.

I was able to eventually get into the web UI for 12.0.0 using 2 steps

[2020-07-31 05:56] zigaSRC commented on #7348
That's just the thing. Why does the organization admin need admin rights over it's users? The admin should just be able to assign permissions to the users that are relevant to that specific organization. Nothing less nothing more.

I get that this behavior is there for a reason. But removing important functionality that is very much needed by many in the name of security doesn't sit well with me.

[2020-07-31 07:09] mick1627 opened #7779 "Error during SAML Login - Call to /api/v2/users/26/admin_of_organizations/ failed. GET returned status: 400."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
First time of each day we log to AWX using SAML, the login FAILED with this message : ERROR! Call to /api/v2/users/2/admin_of_organizations/ failed. GET returned status: 400. The request could not be understood by the server.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: Ce

[2020-07-31 09:08] user419 opened #7780 "Notification job_metadata as dict"
##### ISSUE TYPE
Currently job_metadata is a string and makes it hard to pull information out to make the notification more readable.
Partly because some of the jinja methods are blocked in the GUI for security reasons.
Lastly some of the info is also available in host_status_counts, however this is limited to a single host.

##### SUMMARY
In order to create more readable notification e-mails, is

[2020-07-31 11:23] spam-n-eggs opened #7781 "When trying to run the installer on MacOS (Catalina) the installer tries to use powershell to gather facts"
Issues are for **concrete, actionable bugs and feature requests** only - if you're just asking for debugging help or technical support, please use:

- http://webchat.freenode.net/?channels=ansible-awx
- https://groups.google.com/forum/#!forum/awx-project

We have to limit this because of limited volunteer time to respond to issues!

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running the install

[2020-07-31 13:07] ryanpetrello commented on #7253
@pacificbreeze007 can you share a listing of all of your containers?  You're certain this is the only task container you're running?

[2020-07-31 13:55] ryanpetrello opened #7783 "Ignore me"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2020-07-31 14:03] ryanpetrello commented on #7781
@geerlingguy did you run into this recently in your OSX installs?  You have any idea what's going on here?

[2020-07-31 14:22] geerlingguy commented on #7781
I never had this issue. It looks like in the inventory file the localhost line was commented out (the one that would use a local connection instead of trying SSH or powershell...). Is that a change from the default?

[2020-07-31 14:39] #5626 closed, assigned to dsesami

[2020-07-31 15:15] dsesami commented on #6561
This is not implemented yet. Moving to needs_devel.

Also shifting to high-priority as it blocks functionality with no workaround for users.

[2020-07-31 15:29] spam-n-eggs commented on #7781
@geerlingguy I've tried it both ways - with the local connection and the connection to a remote server and I get the exact same result.

This is the output from running locally:
[code]
And the local inventory (i cleaned up the commented-out sets for brevity's sake):
[code]

[2020-07-31 15:37] jbradberry commented on #7064
Additional items and potential items that were left out of PR #7455

- [x] Add a new `CredentialType`
- [ ] Add a configure-Tower-in-Tower setting for the global default EE
- [ ] Provide a way to install new bundled EEs
- [ ] Create a new Org-level EE admin RBAC role
  - [ ] Update the access class(es) to allow this to work
- [ ] Add a new `Project.default_environment` field, allowing a level of d

[2020-07-31 16:03] wenottingham commented on #7686
Clarification added: this is for inventories only.

[2020-07-31 16:43] fosterseth commented on #7655
@moonrail

In your test setup, are the jobs you are launching all from the same job template?

Do you experience the same issues if you have concurrent jobs disabled in the job template? (set `api/v2/job_templates/7/allow_simultaneous` to false, or set in UI)

This would mean only 1 job would run per instance at a time. The scheduler is very optimized in this case, and I would expect it to behave

[2020-07-31 17:23] dsesami opened #7789 "User Tokens Details"
#### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This issue is about adding user token details.
A proposed flow is here: https://tower-mockups.testing.ansible.com/patternfly/users/users-tokens-detail/

[2020-07-31 18:14] spam-n-eggs commented on #7781
Interestingly, if I add an executable line to my ansible.cfg, this issue goes away and a whole new one shows up where ansible is trying to write to ~/.ansible/tmp and cannot.

[2020-07-31 18:58] wenottingham commented on #7645
Closing per prior comment

[2020-07-31 18:58] #7645 closed, assigned to nobody

[2020-07-31 18:59] wenottingham commented on #7617
This is fixed in our testing. Please reopen if this does not work for you.

[2020-07-31 18:59] #7617 closed, assigned to nobody

[2020-07-31 19:08] mabashian commented on #7740
I think these:

[code]

will be a bit easier to address once #7739 merges since we'll be able to add the options request and hook up advanced search at the same time.

So I'm gonna throw this back into needs_devel for that work

[2020-07-31 19:19] wenottingham commented on #7760
Relaunch is relaunch of the job definition with the prior provided prompts (checked for security reasons).

When the template changes, we don't have the same level of data to do this, so I do not believe this is practical. (It's not as if it can run on the old defintion of the inventory, or the old definition of the credential).

CC'ing @AlanCoding

[2020-07-31 19:20] #7412 closed, assigned to dsesami, AlexSCorey

[2020-07-31 19:21] blomquisg commented on #7580
@bherrin3 reopen if you get any additional info

[2020-07-31 19:21] #7580 closed, assigned to nobody

[2020-07-31 19:23] #7488 closed, assigned to nobody

[2020-07-31 19:25] wenottingham commented on #7758
What version of ansible is included in both cases?

[2020-07-31 19:55] bherrin3 commented on #7580
@AlanCoding @blomquisg -- leaving in the closed state.

Modified the `tower_schedules` tower_configuration role variable (module source: awx.awx.tower_schedule) as suggested by @AlanCoding to implement:

[code]

This gave us the short-term functionality we require.

Thank you!

[2020-07-31 21:41] zedr opened #7793 "Importing workflow_job_templates does not set node job_templates correctly"
##### ISSUE TYPE
When importing workflow_job_templates, the `unified_job_template` field in each associated workflow_job_template_node is incorrectly set to `null`.

##### SUMMARY
AWX CLI has recently introduced the ability to export and import many types of AWX objects, including Workflow Job Templates. These objects have related objects called Workflow Job Template Nodes, that can point to an ex

[2020-08-01 01:26] jsandova commented on #7488
I missed the last reply, my apologies. I wanted to update the ticket that after I upgraded to the latest version of AWX about 2 days later it started working again. However the error is still there in the logs.

HTTP 200 OK
Allow: GET, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept
X-API-Node: awx
X-API-Product-Name: AWX
X-API-Product-Version: 13.0.0
X-API-Time: 0.010s

{
    "ha": fals

[2020-08-03 06:29] mkayontour commented on #7758
In both cases we use version 2.9.10, I made sure the problem is not an Ansible problem.

[2020-08-03 06:56] #7610 closed, assigned to nobody

[2020-08-03 12:01] moonrail commented on #7655
@fosterseth
Nope, there are 8 different job templates with each their own project & inventory.
Its the same setup as described in: #7659
All jobs are started via schedules.

We did not test with non-concurrent job templates as in production we will have single job templates that may be run for a lot of organizations & inventories.
Like e.g. Patch-Jobs, that may as well run for ~1k organization-inv

[2020-08-03 15:25] zedr opened #7795 "Using "yaml" as a format when exporting a resource on Python 3 generates garbage"
##### ISSUE TYPE
 - If one runs the command `awx export -f yaml` using a Python 3 interpreter, the literal representation of the generated bytestring will be printed, instead of the proper, parseable YAML representation.

##### SUMMARY
The command `awx export -f yaml` will print the literal representation of the generated bytestring, e.g. `b"workflow_job_templates:\n- allow_simultaneous: true\n ..

[2020-08-03 15:27] Seb0042 commented on #7100
I have the same issue. Not the one from the web container, web UI is fine.
But the awx-task doesn't work anymore.
I have the same environnement: Kubernetes YAML, using Docker hub images.
Here is the log from the awx-task container:

2020-08-03 15:16:54,656 WARNING  awx.main.dispatch.periodic periodic beat started
Traceback (most recent call last):
  File "/usr/bin/awx-manage", line 8, in <module>

[2020-08-03 15:55] AlexSCorey opened #7797 "User Token Form should require Application"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently the Token form does not require the user to add and Application for the token. We should require that.  Also will need to adjust the breadcrumb, and update the code for the Token List Item, and the Token Details page accordingly.

[2020-08-03 16:00] zedr opened #7798 "Exported Workflow Job Templates refer to inventories by id instead of natural key"
##### ISSUE TYPE
 - The API endpoint for a workflow_job_template  does not provide a representation that includes the natural key of the related Inventory, which is problematic when migrating it between different instances of AWX/Tower.

##### SUMMARY
The API endpoint for a workflow_job_template  does not provide a representation that includes the natural key of the related Inventory, if set. Inst

[2020-08-03 16:06] rchaud commented on #7100
@Seb0042 I still havent found a solution for this. I was forced to stay in version 9.3 for the moment. Hopefully AWX developers can see what the issue is. My logs are same as the one you provided.

[2020-08-03 16:24] EddyNava commented on #7132
I totally agree with @mdinwoodie and @branic

When you have setup local accounts (user and password) with no option to lockout an user after a specific number of tries, at some point you're gonna end up being hacked with a brute-force attack.

[2020-08-03 16:36] ryanpetrello commented on #7329
PR: https://github.com/ansible/awx/pull/7799

[2020-08-03 17:23] trahman73 commented on #5546
Updated mockup with latest PF4 styling:
![image](https://user-images.githubusercontent.com/13351591/89209496-667fa300-d58c-11ea-8623-e68e6021afb4.png)

[2020-08-03 18:11] fosterseth commented on #7655
@moonrail

I think we need to find the simplest test scenario that also replicates the issue.

* Use your 10 instance cluster, with all instances disabled to start with

* Set up a project and job template with this this simple JT (https://github.com/ansible/test-playbooks/blob/master/sleep.yml)

* Set project `Update on Launch` to false

* Set Job `Enable Concurrent Jobs` to True

* Launch 1000 -

[2020-08-03 19:09] nixocio opened #7801 "Associate instances to an instance group"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Associate instances to an instance group.
See: https://tower-mockups.testing.ansible.com/patternfly/instance-groups/instance-groups-instances/

[2020-08-03 20:03] dsesami commented on #7651
This worked out after a `make clean-ui`. Works great!

[2020-08-03 20:03] #7651 closed, assigned to dsesami

[2020-08-03 20:09] dsesami commented on #7434
This is closed out with the merge of #7724

[2020-08-03 20:09] #7434 closed, assigned to dsesami, AlexSCorey

[2020-08-03 20:16] AlanCoding opened #7804 "Allow running with formerly-successful projects"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

If a project's last update is failed, you cannot run a JT that uses that project. Hard fail implemented here, maybe in some other ways as well:

https://github.com/ansible/awx/blob/708244881cc6cd04722d3bc36d7d6036bffc329a/awx/main/tasks.py#L1858-L1863

There are several reasons a project update could fail, and not all of them should break running of

[2020-08-03 21:33] marshmalien opened #7806 "Add smart inventory host detail view"
##### ISSUE TYPE
 - Feature Idea

This view is almost identical to the inventory host detail except we won't allow the user to edit, delete, enable, or disable the host.

##### SUMMARY
* Add smart inventory host detail route `/inventories/smart_inventory/:inventory_id/hosts/:host_id/details`
* Hookup link to smart inventory host detail from smart inventory host list items
* Tabs:
  * Back to Hosts

[2020-08-04 07:07] Seb0042 commented on #7100
I found a workaround. The original name of the deployment is awx. I was renaming it awx-online for my needs. I tried with the original name and it works again.
I will stay like this until we have a solution.

[2020-08-04 09:16] moonrail commented on #7655
@fosterseth

I've followed your instructions, but used 15 instead of 10 instances.

# First test with concurrent jobs enabled

1001 pending jobs in instance group "tower" and all instances disabled:
[code]

The scheduler takes around 37 seconds to skip all 1001 pending jobs:
[code]

After enabling all instances via API (finished at 08:44:49), the node that was running the scheduler task did not de

[2020-08-04 12:32] AmoVanB commented on #3237
Just a note for those that would be encountering the same issue.

The `/api/login` POST call returns a 403 because the CSRF check fails. The reason for that is that the server checks the `Origin` header sent by the client, and `https://{hostname}:443` is not a trusted origin.

Simply using
[code]

does the trick.

[2020-08-04 12:51] mkayontour opened #7809 "Job launch fails with File Exists on git_repo.create_head()"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We are getting random errors on starting jobs, mostly when they are started in Workflows.

[code]

We don't make any changes locally, also the same job templates works just a minute before. On this jobs are **concurrent jobs** allowed, this is the only similarity I can spot besides the standard options.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX in

[2020-08-04 13:42] ghjm commented on #416
If we do this audit, what we should do is make sure that all Tower services use the system trust store and do not install private trust stores of their own.  The main difficulty with this is that if you use the Python Requests module from upstream, by default it uses its own trust store from certifi.  Requests as packaged on RHEL uses the RHEL trust store.  I _think_ recent Tower is already fully

[2020-08-04 13:45] ghjm commented on #531
I would argue that, instead of trying to build a CA cert management GUI, what we should instead be doing is searching for and eliminating any cases where libraries go off and use their own private CA store instead of the system trust.  If WinRM in Ansible-in-AWX is using the certifi CA list instead of the RHEL one, we should fix that.  Adding a cert to the system trust should make it trusted by al

[2020-08-04 14:42] zedr commented on #7793
I think I found two bugs that are related to the problem.

The first is related to https://github.com/ansible/awx/blob/devel/awxkit/awxkit/api/pages/api.py#L273

[code]
If the resource has *two* related object lists of different types (e.g. `survey_spec` and `workflow_job_template_nodes`) the function will exit early and the second object list will be ignored. That `return` should really be a `con

[2020-08-04 15:05] elyezer commented on #5735
This is verified from the API perspective, final UI work is being done and this will be ready to close once that is done.

[2020-08-04 15:06] ryanpetrello opened #7813 "Improve support for fetching content from multiple Galaxy-like endpoints"
Today, AWX users can specify Ansible role/collection dependencies in their SCM repositories in a `requirements.yml` file, and AWX will install these as part of the Project Update.  Currently, AWX has support for pulling this content from https://galaxy.ansible.org or *one* Galaxy-like API such as Red Hat's cloud-based Ansible Automation Hub.

The model for configuring Galaxy credentials today is t

[2020-08-04 15:07] elyezer commented on #5518
This has been verified and works as expected.

[2020-08-04 15:07] #5518 closed, assigned to elyezer, AlanCoding

[2020-08-04 15:27] zedr commented on #7793
A third bug seems to be related to `success_nodes`, `failure_nodes`, and `always_nodes` being unset.

[2020-08-04 15:36] rchaud commented on #7100
Where did you make this change exactly? settings.py or another file?

[2020-08-04 15:48] Seb0042 commented on #7100
No, I'm talking about the deployment's name in kubernets. My pods were named awx-online-xxxx-yyyy but it seems that for the moment they have to be named awx-xxxx-yyyy. So I reversed the changes I made in the deployment.yml file (I deleted the deployment and then recreated it).

[2020-08-04 15:55] mabashian commented on #7813
@ryanpetrello

It sounds like users can select multiple galaxy credentials in this lookup - is that right?  And we need to maintain the order in which the credentials are selected when POSTing?

@trahman73 @wenottingham will it be important for us to build a UX story around re-ordering these credentials or will we just tell them to remove and re-add credentials when they want to change the order?

[2020-08-04 15:58] ryanpetrello commented on #7813
@mabashian yep - our anticipation is that this will work just like the Organization instance group picker, only you're picking Credentials of a certain kind.

There isn't really support at the API level for reordering these relations (currently, I may see if I can add it).  Today the way the instance group one works is you add/remove, and the UI sends associate/disassociate in order.

[2020-08-04 16:04] mabashian commented on #7813
Oh right I forgot about Instance Groups - we can use that as a template if needed.  Sounds good @ryanpetrello.

[2020-08-04 16:15] zedr commented on #7793
The reason for the third bug seems to be due to the missing `identifier` when we export workflow_job_templates from certain (ancient) versions of awx, such as AWX 9.2.0.

I think I can fix it in the `export` process.

[2020-08-04 16:24] rchaud commented on #7100
Cool, I will see if that works for me. My deployment is named awx-web-xxxx-yyyy and awx-task-xxxx-yyyy.

[2020-08-04 16:25] mabashian opened #7814 "API error on a credential input field causes page to crash"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This would apply to any form where some of the values are nested under a single top-level field.  It's easiest to see on credentials where the model looks like:

[code]

If there's an error with one of the `inputs` fields when POSTing or PUTing on this endpoint the response will look something like:

[code]

So the actual error is not at the top level

[2020-08-04 16:32] Saurabh-Thakre opened #7815 "Add the ability to change the TZ timestamp on splunk for the events sending from Ansible Tower."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

If we change the Timezone on Ansible Tower for Tower logging either by creating a /etc/tower/conf.d/custom_timezone.py with following

[code]

Or either you pass it from Settings>Jobs>**EXTRA ENVIRONMENT VARIABLES** with following
[code]

We can see the change in the Ansible Tower logs but the Splunk logs still shows the UTC timezone timestamp. Havi

[2020-08-04 16:59] marshmalien opened #7816 "System auditor item in access list is missing a name"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
System auditor entry in access list is missing a value in the name column. The auditor doesn't have a `resource_name` so unless we can show a username/first/last name value, it probably needs a default string like "System Auditor".

_System Auditor Role_
[code]

##### STEPS TO REPRODUCE
1. Navigate to Users list
2. Select a System Auditor user
3. Navig

[2020-08-04 17:06] ryanpetrello commented on #7815
Don't do this.  Treat timestamps everywhere as UTC, and normalize/convert them at the presentation layer.  Surely Splunk has some capability for coercing UTC logs into the timezone of your choosing?

[2020-08-04 17:06] #7815 closed, assigned to nobody

[2020-08-04 17:13] wenottingham commented on #7809
Likely a git-python bug, but some questions:
- standard git project?
- does the repo have submodules?
- are you using promptable branches/tags?

[2020-08-04 17:38] dverbeek84 commented on #1808
@wenottingham I think you can close this one. works fine on the last release 13.0.0

[2020-08-04 17:51] isuftin commented on #5214
Seeing this same issue on a fresh new Bento CentOS 7 instance in VirtualBox using 13.0.0 AWX installation:

Vagrantfile:

[code]

awx_playbook.yml:

[code]

awx_inventory:
[code]

[code]