[2021-08-11 16:33] moonrail opened #10862 "Collection: get_one will never work for numeric names that match object ids"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-11 19:03] nixocio commented on #10272
~Possible related to: https://github.com/ansible/awx/issues/9013~

[2021-08-11 19:40] akus062381 commented on #10654
implemented and looks great

[2021-08-11 19:40] #10654 closed, assigned to AlexSCorey

[2021-08-11 19:41] akus062381 commented on #10739
implemented and looks great

[2021-08-11 19:41] #10739 closed, assigned to AlexSCorey

[2021-08-11 19:42] akus062381 commented on #10740
implemented and works great

[2021-08-11 19:42] #10740 closed, assigned to AlexSCorey

[2021-08-12 12:53] JRNC commented on #10151
Hey @lemmy04, I have actually been bypassing the database migration workflow and manually dumping the database and then restoring it. I've added some steps below. I hope this helps!

On old server:
stop all containers except postgres first
sudo docker exec awx_postgres pg_dump -U DATABASEUSERNAME -Ft -f backup.tar awx
sudo docker cp awx_postgres:db.tar ./
sudo docker exec awx_postgres rm db.tar
Se

[2021-08-12 12:57] JRNC commented on #10489
After having this occur on k3s, I stood up a new server with RKE2 running and ran into the exact same issue. There does appear to be something wrong as it pertains to the instance groups and how they function on certain clusters.

[2021-08-12 13:23] Kardi5 opened #10867 "Different Source Control Branch for Job Template does not restore original repository submodule state after run/launch"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-12 13:30] AlanCoding opened #10868 "Give better error details when receptor can't start a job due to file permissions"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-12 13:33] AlanCoding commented on #10868
Related to https://github.com/ansible/awx/issues/10213

[2021-08-12 14:22] stasstryukov opened #10871 "del"
del

[2021-08-12 14:45] tchellomello commented on #10868
Currently `receptor` service runs as `receptor` user and therefore, the `awx` user is also part of the `receptor` group.

Remote unit failed: exit status 1

The given error seems to be related to this line: https://github.com/ansible/ansible-runner/blob/devel/ansible_runner/__main__.py#L815-L821

[code]

If the directory gets created by the `awx` user, then we should do a `770` instead of `700`. I

[2021-08-12 16:06] snooyen commented on #10213
I've been trying to play with container groups in 19.2.2, but my jobs have been failing with no easily diagnosable error logs. At best I've been able to find things like

`
awx-ee: ERROR2021/08/12 16:04:25 Read error in control service: read unix /var/run/receptor/receptor.sock-u003e@: use of closed network connection
awx-task: WARNING  [556237baf394484a904f40f1558db897] awx.main.dispatch job 18 (

[2021-08-12 17:12] AlexSCorey commented on #10844
On most lists those check boxes are used to indicate which items are selected to be deleted.  However, there are other lists, Inventory Hosts, Inventory Groups, where the Run Command button can do things with those selected items.  Additionally, lets say that a user selects several items on the page, and instead of deleting them they want to add an item (they change their mind in the middle of wha

[2021-08-12 17:15] AlexSCorey commented on #10642
I agree that this does look weird, however I don't really think this is a true misalignment.  If the user has a workflow template on the list the `Actions` label is aligned properly.  Perhaps there is some way to figure out whether there are workflow temples being rendered, and if not, change the alignment a little bit?
![Screen Shot 2021-08-12 at 1 14 10 PM](https://user-images.githubusercontent.

[2021-08-12 17:41] AlexSCorey commented on #10555
This feels like a patternfly issue because it occurs on lists as well. I filed a bug with them. https://github.com/patternfly/patternfly-react/issues/6169

[2021-08-12 17:43] AlexSCorey commented on #9793
![Screen Shot 2021-08-12 at 1 43 03 PM](https://user-images.githubusercontent.com/39280967/129243616-f14376f4-6468-4c7f-b642-ea7b4c89a6e6.png)
Looks like this has been resolved.

[2021-08-12 17:43] #9793 closed, assigned to nobody

[2021-08-12 17:48] AlexSCorey opened #10872 "Approval Node Allows Saving without Required Name Field Value"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-12 17:48] tiagodread commented on #10860
The original issue was fixed, so now if a user attempt to login by the first time using SSO the modal is not displayed anymore, however, changing the IDLE timeout settings, the expiration modal is not displayed anymore in the last 10 seconds.

https://user-images.githubusercontent.com/12464858/129244369-a833c03d-c917-4333-a03b-d11e60c78b3e.mp4

[2021-08-12 19:39] ghost opened #10873 "[AWX] "Source control branch" in Workflow Template does not take effect."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-12 19:56] JRNC commented on #10489
For project_updates and jobs when they are told to run on the tower instance group (one of the default instance groups) instead of running using the default container group, they show the following errors in the awx-task container while stuck in the pending state (the log was grepped for scheduler):

`2021-08-12 19:34:24,237 DEBUG    [69a12d2d38974d878236a3d842c2d0e4] awx.main.scheduler Running ta

[2021-08-12 21:12] JRNC commented on #10489
The class for the unified jobs appear to set the can_run_containerized and can_run_on_control_plane properties to false: (https://github.com/ansible/awx/blob/c09cad3e6dd7e83871f094ba8d9e0f983db98305/awx/main/models/unified_jobs.py#L742-L751)

However, for just jobs, it is set to true (https://github.com/ansible/awx/blob/c09cad3e6dd7e83871f094ba8d9e0f983db98305/awx/main/models/jobs.py#L1239-L1241 a

[2021-08-12 22:32] tuxonfire opened #10875 "RFE: Launch a Job Template after the inventory source syncs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Feature request to launch a Job Template after an inventory source syncs.

[2021-08-12 23:09] ghost opened #10876 "AWX not detect inventory file inside a directory unless being put at project root"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-13 09:59] TristisOris commented on #9202
same problem.

awx 19.2.2
awx operator 0.12.0

[2021-08-13 12:34] kbootle2 opened #10877 "Using a bastion host in AWX 19"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-13 13:17] phemmer commented on #10770
Is there any other state than those 4? Could we infer "Item Changed" by the lack of the other 3 states?

[2021-08-13 13:19] daenney commented on #9961
I'm observing this issue too. We initially had a run that ended with the following traceback and a bunch of log output truncated.

[code]

It was really slow, so we ran it again with bigger instances powering it, and now we've ended up with:

[code]

I was following the logs with kubectl, and it ends with:
[code]

The logs right before it where just normal play output. Like the container just term

[2021-08-13 13:42] daenney commented on #9961
We've also had a case where running with a larger batch it makes it to the end of the run, but seems to crash when flushing the recap.

The last of the logs in the pod show:
[code]

The traceback was:
[code]

[2021-08-13 14:03] chofstede opened #10878 "Inventory source from project does not work anymore in 19.3.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-13 14:51] #10871 closed, assigned to nobody

[2021-08-13 22:06] snooyen opened #10879 "Errors caused by Social Auth Organization and Team Mapping; Users unable to login"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-13 22:07] snooyen commented on #10879
While crawling previous issues I found #10277 but it was closed without a resolution

[2021-08-13 22:09] snooyen commented on #10277
Ran into this as well when attempting to use Social Auth Org/Team maps with GitHub Organization Auth #10879

[2021-08-13 22:53] snooyen commented on #10879
Just did some more testing: this issue is not encountered when working with an AWX installation implemented with `create_preload_data: true`.  This seems related to the fact that setting `create_preload_data: false` does not create the default AnsibleGalaxy credential.

#10421 seems related

[2021-08-13 23:57] ghost opened #10880 "AWX CLI --monitor truncated output"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-14 07:08] neilcavendish opened #10881 "Connection Refused"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-14 07:11] neilcavendish commented on #10881
There is an inventory called webservers FYI

[2021-08-14 14:09] neilcavendish commented on #10881
I think its because I run this on a weird port. How to I pass the port into my Playbook?

[2021-08-14 17:22] Kardi5 commented on #10878
I have the same configuration (newest AWX and inventory sourced from project) with the same problem

[2021-08-14 21:48] HOSTED-POWER commented on #9594
Unfortunately the upgrade to 19.3.0 didn't fix it

[2021-08-15 17:05] clementbey commented on #9926
Same with fresh install `AWX operator 0.13.0` and `AWX 19.3.0`
No solution ?

[2021-08-15 18:38] jamesmarshall24 opened #10882 "Inventory Level Surveys"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add surveys at the inventory level which would prompt against jobs targeting that inventory.

[2021-08-16 05:42] satbirsp opened #10883 "LDAP users not getting reflected in AWX 19.3.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-16 09:58] derhoeppi opened #10884 "Trusting a Custom Certificate Authority not works for WinRM connection"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-16 12:13] derhoeppi commented on #10884
Now i checked the ee Container and there i can run `python3 -c "import certifi; print(certifi.where())"` This returns the path of a pem file that is used by python. I don't find my certificates in it.
Is that the problem and how can i solve it?

[2021-08-16 13:04] TristisOris opened #10887 "yum update on Oracle linux didn't work."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-16 13:35] lukasertl opened #10889 "Job goes into error state, but finishes successfully in the background"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-16 14:02] phemmer commented on #10880
see #10194

[2021-08-16 15:05] mjpieters opened #10890 "awx.awx.application: Expose client_id and client_secret when creating "confidential" application."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When you create an Application object, a `client_id` and `client_secret` are created, values you need to be able to use the application configuration in an OAuth2 flow. When `client_type` is set to `confidential` (the default), the `client_secret` can't  be retrieved, it is only ever included in the response to the original `POST` request to create

[2021-08-16 18:07] itsmeabhijeet commented on #10840
hello @wenottingham , yes your assumption is correct.
Our playbooks are dependent on multiple roles which are pulled from requirements.yml. They all happen to be not only galaxy roles but also our own ansible roles which are separate repos. I was hoping if in future the server-server token as mentioned [here](https://docs.github.com/en/developers/overview/managing-deploy-keys#server-to-server-toke

[2021-08-16 18:22] ghost commented on #10194
I indeed have the same issue and this makes it impossible to use Ansible AWX with any CI/CD tool since the user of the pipeline is not able to consult the playbook result through runners. [https://github.com/ansible/awx/issues/10880](url)

[2021-08-16 18:22] ghost commented on #10880
thanks phemmer.

[2021-08-16 20:18] AlanCoding commented on #10766
Pretty directly addressed by https://github.com/ansible/awx/pull/10870

might not get all the failures, we will see.

[2021-08-16 21:45] tiagodread commented on #10775
All fixed

[2021-08-16 21:45] #10775 closed, assigned to nixocio

[2021-08-16 23:02] garamirseokim opened #10893 "Better logging of credential plugin test failures"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When trying to configure HashiCorp Vault Secret Lookup credentials on Tower UI - keep on getting “HashiCorp Vault Secret Lookup: HTTP 404” errors. However, unable to work out why when looking at all the logs in /var/log/tower/*.log as we can find below message only even if we set Settings > System > Logging, adjust the verbosity on logging to DEBUG.

[2021-08-16 23:58] shanemcd commented on #10728
Closing due to lack of response.

[2021-08-16 23:58] #10728 closed, assigned to nobody

[2021-08-17 01:50] DLV1810 commented on #10893
This should also apply to any of the other secrets that use the methods listed here
https://docs.ansible.com/ansible-tower/latest/html/userguide/credential_plugins.html

[2021-08-17 07:08] sdiepend commented on #223
@Timoses Could you elaborate a bit more on how you used the custom credential type to do this?

If you look at the suggested best practices it suggests to put your secrets in an encrypted vault file. Maybe add a big footnote warning to not do this if you ever want to use AWX. https://docs.ansible.com/ansible/latest/user_guide/playbooks_best_practices.html

I'm still struggling to get this working.

[2021-08-17 08:33] lumarel commented on #10883
I also ran in the exact same problem on a kubernetes cluster.
This is how the login looks in the log:
[code]

To me it looks like the useraccount does not get created as an LDAP user, because if the password gets changed on the first login the login also works on the second time (off course with the local login not against LDAP)

[2021-08-17 08:44] DrackThor opened #10894 "Nested Teams"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
currently using AWX 19.2.2

I would love to see the possibility to create nested teams.
Meaning to be able to assign the member/admin/read role of one team to another team.
There is already an UI option to assign a team-role to certain/multiple users, but I would love to have that for teams as well.
For adding users to a team-role I would click: "Acc

[2021-08-17 09:32] abdel-ops opened #10895 "job stdout not live updated in the last version awx 19.2.2"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-17 10:46] derhoeppi commented on #10884
Today i tried to set an exported environment variable. On several pages i found hints that "REQUESTS_CA_BUNDLE" as env variable should point to my ca cert bundle. I can see it in awx-ee but certifi does not point to it.

[2021-08-17 10:49] rfarajro opened #10896 "AWX delegate_to localhost use ssh instead local conection"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: AWX 14.1.0
* AWX install method:  developer environment
* AWX deployment target: openshift
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Run playbook using delegat_to localhost in a template.

##### EXPECTED RESULTS

Use sh comand instead sshpass

##### ACTUAL RESULTS

Fail

[2021-08-17 12:31] AlanCoding opened #10897 "Changing an instance's `enabled` status does not create an activity stream entry"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-17 13:33] tiagodread commented on #10778
This can be closed, was fixed with #10703

[2021-08-17 13:33] #10778 closed, assigned to AlexSCorey

[2021-08-17 13:44] TristisOris commented on #10887
another variation:

  tasks:
   - name: CentOS7 yum | Update
     become_user: root
     become_method: sudo
     when: (ansible_facts['distribution'] == "OracleLinux" and ansible_facts['distribution_major_version'] == "7")
     yum:
       name: '*'
       state: latest
       exclude: xe-*
       update_cache: yes
   - name: CentOS8 dnf | Update
     become_user: root
     become_method: sudo

[2021-08-17 14:51] Elyytscha commented on #223
i solved it this way:
https://github.com/ansible/awx-operator/issues/488#issuecomment-896064453 you can customize your pod template under instance groups, i tested with awx 19.2.2+

first you need to create a custom secret in kubernetes with your vault password inside which you reference then in the instance groups pod template

so i was able to do a successful inventory sync from the inventory lo

[2021-08-17 15:01] docholiday commented on #10883
I can confirm the problem (also on a minikube installation) and I share the impression, that the useraccounts seem to be created as local accounts instead of ldap ones.

[2021-08-17 15:07] Timoses commented on #223
@sdiepend Sorry, I won't be of much help as we did not decide to go for AWX back then due to its constraints. Not sure what has changed since then and how AWX deals with collections (though it should be independent of the inventory and the vault encrypted data therein).

[2021-08-17 15:22] dvzuykov opened #10899 "AWX pod restarting every ~2 hours"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-17 15:37] #8931 closed, assigned to nobody

[2021-08-17 15:58] wenottingham commented on #10489
*All* templates (job, workflow, project updates, etc) are unified job templates - that's the base class they all inherit from.

[2021-08-17 16:38] satbirsp commented on #10883
Yes its on minikube . Initially users will able to login using there password . Once you change role from normal to System Admin they will not able to login , Yes i cannot see LDAP as sufix once user login

[2021-08-17 17:05] AlanCoding opened #10900 "[mesh code] Project updates stuck in waiting forever if directed to execution-only IG"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-17 17:20] phemmer opened #10901 "Job status references a missing job"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-17 17:55] shanemcd commented on #10582
@IPvSean It seems like this was fixed in https://github.com/ansible/awx/pull/10826. We had an error when publishing the latest collection to Galaxy, but _that_ bug was fixed via https://github.com/ansible/awx/pull/10888. So the fixed version of the collection should get updated the next time we release AWX. In the meantime, can you install the collection from git?

[2021-08-17 17:56] AlanCoding commented on #10854
We still had 1 black failure left, but should be resolved with https://github.com/ansible/awx/pull/10902

[2021-08-17 18:08] IPvSean commented on #10582
got it

On Tue, Aug 17, 2021 at 1:55 PM Shane McDonald ***@***.***>
wrote:

[2021-08-17 18:15] wenottingham commented on #10873
The value set on the workflow will *only* be used for job templates that have 'prompt on launch' set for the revision. Is it set on the job template for #2?

[2021-08-17 18:16] #10693 closed, assigned to beeankha

[2021-08-17 18:17] wenottingham commented on #10875
This can be accomplished today with a workflow. What is the use case that can't be handled in that way?

[2021-08-17 18:18] wenottingham commented on #10876
You should be able to type in the path to the file. (I do see you're using an older AWX version - if you can't do that, you may need to upgrade to a recent version where that is fixed.)

[2021-08-17 18:18] #10876 closed, assigned to nobody

[2021-08-17 18:23] ghost commented on #10873
@wenottingham it is already mentioned in the "Steps to reproduce", step 3, that 'prompt on launch' is set.

[2021-08-17 18:26] ghost commented on #10876
@wenottingham starting from which version?

[2021-08-17 18:32] wenottingham commented on #10876
https://github.com/ansible/awx/blob/devel/CHANGELOG.md#1800-march-23-2021

[code]

[2021-08-17 18:34] ghost commented on #10876
@wenottingham ok thanks, we will try that out.

[2021-08-17 18:48] wenottingham commented on #10873
In step number 3 you set it on the workflow. It *also* needs to be set on the job template itself from #2.

[2021-08-17 18:51] ghost commented on #10873
@wenottingham but there is no option for this setting in job template, it only exists in either project or workflow
![image](https://user-images.githubusercontent.com/81583999/129783823-8d270124-9e4c-40c4-a7cc-11c1434ca0c0.png)

[2021-08-17 19:10] wenottingham commented on #10880
Closing as a duplicate.

[2021-08-17 19:10] #10880 closed, assigned to nobody

[2021-08-17 19:19] wenottingham commented on #10884
-> #10787

[2021-08-17 19:19] #10884 closed, assigned to nobody

[2021-08-17 19:21] wenottingham commented on #10887
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

Mailing list: https://groups.google.com/forum/#!forum/awx-project
IRC: ansible-awx on irc.libera.chat

If you need help troubleshooting an Ansible playbook, try:
Mailing list: https://groups.google.com/forum/#!forum/ansible-users
IR

[2021-08-17 19:21] #10887 closed, assigned to nobody

[2021-08-17 19:23] wenottingham commented on #10893
Rewrote subject.

[2021-08-17 19:25] wenottingham commented on #10873
It will only be offered if the project offers overrides. You won't see it when there's no project selected.

![Screenshot from 2021-08-17 15-25-16](https://user-images.githubusercontent.com/5208768/129788021-e4bb7928-0d74-42ed-a6d3-26201f794a74.png)

[2021-08-17 19:36] ghost commented on #10873
Ok I see... I created a new job template after enabling the overrides from the project side, it seems the existing job templates will needs to be recreated.

I will test it out if it works this way and report back.

[2021-08-17 19:48] wenottingham commented on #10901
See https://github.com/ansible/awx/issues/10513 - cc @AlanCoding

[2021-08-17 19:49] tchellomello commented on #10830
PR https://github.com/ansible/automation-platform-collection/pull/128 should cover this

[2021-08-17 19:49] wenottingham commented on #10896
This issue tracker is for tracking feature enhancements and bugs to AWX itself.
This looks like a playbook and/or inventory issue related to implicit localhost: https://docs.ansible.com/ansible/2.9/inventory/implicit_localhost.html

If you need help troubleshooting an AWX install or an ansible playbook, try our mailing list or IRC channel:

Mailing list: https://groups.google.com/forum/#!forum/awx

[2021-08-17 19:49] #10896 closed, assigned to nobody

[2021-08-17 19:51] wenottingham commented on #10881
See https://docs.ansible.com/ansible/2.9/inventory/implicit_localhost.html - this is a playbook issue, most likely.

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an ansilble playbookl, try our mailing list or IRC channel:

Mailing list: https://groups.google.com/forum/#!forum/ansible-users
IRC: ansible on irc.libera.chat

[2021-08-17 19:51] #10881 closed, assigned to nobody

[2021-08-17 19:53] wenottingham commented on #10894
I know there's some vestigial code about team/team permissions (cc @AlanCoding ).

However, I think rather than implement more in this area in AWX itself, we'd suggest doing this mapping in an actual identity provider, and then you'd have the explicit groups in AWX that come from that identity provider.

[2021-08-17 19:58] AlanCoding commented on #10830
@tchellomello instances can _also_ be added to instance groups through the API. If that is attempted, we should give a 400 error, and that's the primary thing we'd like to accomplish with this issue.

[2021-08-17 20:13] TristisOris commented on #10883
same problem. old accounts from 19.2 works, new - not "wrong password"

[2021-08-17 20:15] TristisOris commented on #10887
where u see a "troubleshooting an AWX install" here?

[2021-08-17 20:24] wenottingham commented on #10887
See second part - this is troubleshooting a playbook, and is more appropriate for the upstream Ansible resources.

[2021-08-17 21:31] ghost commented on #10873
@wenottingham I tested. In your screenshot, once we save the job template and go back edit, the Source Control Branch field will just disappear, it's a one-time setting and does not allow subsequent actions to switch the branch.

You can try it out by saving the job template in the screenshot.

[2021-08-17 22:09] wenottingham commented on #10873
I don't see this in my testing - it's a normal editable field like any others. My best guess is that it's an issue that has been fixed since 16.0.0. In the interim, you could post directly to the API.

[2021-08-17 22:16] zyitingftnt commented on #10873
ok, what is your version for testing? By the way, i notice that it disappear when editing back but it does give the opportunities to enter the branch name when launching the job template.

With that being said, a side note here, is it a normal behavior that the launching a template with code on a branch will automatically sync the code with that branch? (Since this seems what I experienced during

[2021-08-17 22:48] ghost commented on #10873
I think I can close the issue. All good. Thanks @wenottingham

[2021-08-17 22:48] #10873 closed, assigned to nobody

[2021-08-17 23:26] tchellomello commented on #10830
@AlanCoding alright, I will mention this for the team tomorrow so we can add that as well to this PR. Thanks for the heads up

[2021-08-18 05:05] coudenysj commented on #10889
I can confirm this behaviour on AWX 19.2.2. We have even larger outputs (last failure stopped at 58000+ lines).

The AWX UI just show "Status: Error", but in the logging we see:

[code]

[2021-08-18 07:39] rfarajro commented on #10896
Hi,

This is not a playbook or inventory related issue, the same playbook and inventory works on another AWX installation with the same configuration and this local run was working in this environment 2 weeks ago.

 Thanks.

[2021-08-18 08:34] gensi0 opened #10905 "Issue importing SSO users"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-18 09:42] rfarajro commented on #10896
Issue solved. Thanks

[2021-08-18 11:52] AlanCoding commented on #10830
I intended this to be done by the mesh code pod, because it's on the server code side of things. You already did the installer part.

But if anyone wants to get this knocked out, go ahead. It would be several weeks out for us because it's not urgent.

[2021-08-18 14:10] lumarel commented on #9747
I finally was able to upgrade to a recent version, and have to report, this problem is unfortunately still there in:

[code]

[2021-08-18 14:36] janviudapi opened #10908 "PermissionError: [Errno 13] Permission denied: '/var/lib/awx/projects"
### Please confirm the following

- [x] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-18 15:18] azuterios commented on #7362
+1 for this feature. If there is an Enterprise integration available, then Authorization with Groups is badly needed.

[2021-08-18 15:29] wenottingham commented on #10882
This is something that would require some level of combining surveys, which isn't something we've implemented, and in terms of customer/user requests, would be below #20. At a level of a full automation platform, this is something that may be done in a services catalog that exposes automation to end users.

I'm curious what sort of automation you're building that you'd want this for  - what is the

[2021-08-18 15:29] #10882 closed, assigned to nobody

[2021-08-18 16:12] #10899 closed, assigned to nobody

[2021-08-18 16:23] AlanCoding commented on #10854
looks good now

[2021-08-18 16:23] #10854 closed, assigned to AlanCoding, beeankha

[2021-08-18 16:28] JRNC commented on #10489
@wenottingham Is it the intention to only allow jobs to run on container groups and no longer allow jobs to run on instance groups? There seems to be two issues:

1. The can_run_on_control_plane is clearly getting set to false in this instance, because we are seeing the debug message "Skipping group {}, task cannot run on control plane." I don't know if this is a precedence issue or not, it looks

[2021-08-18 16:48] JRNC commented on #10489
I think that I may have tracked down the issue, although I am wondering if this is truly exclusive to job IDs > 9999 or not. If it is, then there may be something additional.

The below code snippet, where the can_run_containerized property is set to true is present in inventory.py and jobs.py, but not projects.py. All of the issues that have been presented in this issue are occurring when a proje

[2021-08-18 17:21] AlanCoding commented on #10677
We have completed the things mentioned in this issue, closing.

[2021-08-18 17:21] #10677 closed, assigned to AlanCoding

[2021-08-18 21:51] davidtluong opened #10911 "Add SAML Attribute organization_alias to Orgs"
##### ISSUE TYPE
 - Bug
##### SUMMARY

Allow users to map SAML organization_alias to organizations. This way, the attribute statement received doesn't need to match with the organization name.

If no organization_alias is not passed, it will be ignored.

Right now, you can set it under team settings, but since you can name the org anything you want in team alias, the functionality doesn't work as

[2021-08-18 23:42] ghost commented on #10194
Could this be put on a high priority? the reason is that this bug prevents users from calling ansible AWX from pipeline since dev can not know the complete result of each job run. Thanks.

[2021-08-18 23:46] mrmibrown opened #10913 "Add support for indexer acknowledgment in a HEC"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is a request to add support for indexer acknowledgment in a https/http event collector:

"This capability on forwarders helps prevent loss of data when sending data to an indexer. With indexer acknowledgment, the forwarder resends any data not acknowledged as "received" by the indexer."

[2021-08-19 00:04] wenottingham commented on #10913
This would need to be done in the omhttp module of the operating system rsyslog... it's not something we can affect in AWX.

[2021-08-19 00:04] #10913 closed, assigned to nobody

[2021-08-19 07:02] derhoeppi commented on #10787
This feature is very important. Collections like community.vmware could not be used in a secure way with custom CA's. The only workaround is to ignore every cert validation or create an own ee image. Please prioritize the topic because i don't want to maintain an own image because of certificates.

[2021-08-19 09:28] agrisvv commented on #10877
It sill works in 19.2.2 and 19.3.0

i using almost same argument in inventory. Only StrictHostKeyChecking=no added and other ssh port 989
[code]

[2021-08-19 11:55] luhahn commented on #5692
It would be really great to have this feature, this makes AWX pretty useless when running with pull requests in CI/CD...
(AWX 19.2.2)

[2021-08-19 13:07] AlanCoding commented on #10901
Yes, some project updates are not shown in the global jobs list as a UI decision. They should be linked from the job's "Details" tab

[2021-08-19 13:52] akus062381 commented on #10587
this has been resolved

[2021-08-19 13:52] #10587 closed, assigned to kialam

[2021-08-19 14:34] robertlynch3 commented on #10848
I had this same issue. I had to uninstall my Docker install and reinstall from the official Docker repos. Double check you have the latest version of Docker installed.

[code]
If you notice there is no `Engine` line in the Server, and the `Server` version is `1.13.1`. You need at least `17.x` to support the multistage builds (which is what the `as builder` is doing).

Follow the instructions here:

[2021-08-19 15:25] tp199314 opened #10914 ""Something went wrong" after AKS rebuild and AWX upgrade"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-19 16:52] mikecurrancs opened #10916 "Migration not updating postgres tables correctly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-19 17:58] #10766 closed, assigned to AlanCoding, thenets

[2021-08-19 20:05] mikecurrancs commented on #10916
I logged into tools_postgres_1 and ran the following alters, restarted the job make docker-compose and the errors went away for the migration effort.

alter table main_inventoryupdate
add column source_script_id integer;

alter table main_instance
add column last_isolated_check timestamp with time zone;

alter table main_instancegroup
add column controller_id integer;

However, I got stuck then on

[2021-08-19 22:59] keithjgrant commented on #10642
I think the best answer here, if PF allows it, is to right align the word "Actions" inside its `<th>`, since the action buttons are also right-aligned in their cell

[2021-08-20 11:55] tp199314 commented on #10914
Somehow the issue is solved. Looks like, the error was not part of AWX, more a misconfiguration on our site.

[2021-08-20 11:55] #10914 closed, assigned to nobody

[2021-08-20 15:58] MalfuncEddie commented on #6030
It would be nice to have the option to set a random password in an application without needing to first create a credential.
CLI you can do this by creating a file and encrypting it. It would be nice if you can just use that variable in a survey or in the extra vars.

So basically I have the same issue as OP

[2021-08-20 17:06] shanemcd commented on #10916
If you can get back into the broken state, I would be curious if there were any helpful errors in the operator pod.

[2021-08-20 17:12] shanemcd commented on #10908
Hi - for a very brief period of time a broken version of awx-ee was on quay.io. This _looks_ like that. Can you please make sure you are using the most up-to-date version of the image and report back?

[2021-08-20 17:15] shanemcd commented on #10905
When someone has a chance, can you verify that the exported users preserve the flag that signifies that they came from SSO?

[2021-08-20 17:16] shanemcd commented on #10901
Since this is (somewhat confusing) expected behavior, going to close this.

[2021-08-20 17:16] #10901 closed, assigned to nobody

[2021-08-20 17:20] shanemcd commented on #10895
Hi - are you using the development environment or the operator?

[2021-08-20 17:25] shanemcd commented on #10890
Maybe the `client_id` can be stored for later, but I can't think of any oauth application that allows you to view the secret at a later time - that sounds like a potential security issue.

[2021-08-20 17:27] shanemcd commented on #10890
Is there a reason you can't store the information returned by the POST response?

[2021-08-20 17:27] shanemcd commented on #10889
Duplicate of issue https://github.com/ansible/awx/issues/9961

[2021-08-20 17:27] #10889 closed, assigned to nobody

[2021-08-20 17:32] wenottingham commented on #10879
Recently we added code to ensure that a SAML/LDAP-created org associates the default galaxy cred. It's possible that code fails if the cred doesn't exist.

[2021-08-20 17:36] shanemcd commented on #10878
This looks like it might be legit, we should look into it.

[2021-08-20 17:39] shanemcd commented on #10867
@AlanCoding when you have a chance we could use your 👀 on this.

[2021-08-20 17:41] wenottingham commented on #10875
Closing, we don't plan to do this and there are other ways to accomplish this that we recommend.

[2021-08-20 17:41] #10875 closed, assigned to nobody

[2021-08-20 17:43] clayrisser commented on #1618
I'm facing the same issue.

[2021-08-20 17:43] tiagodread commented on #10718
Closing this issue with the merge of #10898

[2021-08-20 17:43] #10718 closed, assigned to kialam, akus062381

[2021-08-20 17:52] shanemcd commented on #10846
We are unlikely to do this. Please consider handling this validation logic in your playbook.

[2021-08-20 17:52] #10846 closed, assigned to nobody

[2021-08-20 17:55] shanemcd commented on #10838
If are hardcoding the `public` schema name anywhere in the AWX code, we should stop that.

[2021-08-20 17:55] shanemcd commented on #10838
https://github.com/ansible/awx/blob/28709d7bd9f91a302490687b025f36e840842b51/awx/main/management/commands/cleanup_jobs.py#L108

[2021-08-20 17:56] #10837 closed, assigned to nobody

[2021-08-20 17:59] shanemcd commented on #10835
You need double quotes around any strings using jinja:

[code]

should be

[code]

Can you try that and report back?

[2021-08-20 18:12] kdelee commented on #10868
https://github.com/ansible/awx/pull/10918 implements the better error message, but does not resolve the permissions issue

[2021-08-20 18:24] tiagodread commented on #10860
This can be closed with the merge of #10859

[2021-08-20 18:24] #10860 closed, assigned to nixocio

[2021-08-20 19:06] mikecurrancs commented on #10916
@shanemcd
Attaching the log file I created with the install so I can check the db queries vs the errors for missing columns
[newdeploy.log](https://github.com/ansible/awx/files/7023619/newdeploy.log)

[2021-08-20 20:51] mikecurrancs commented on #10916
And this is what it does after I've fixed those tables, and try to run docker-compose on an already migrated db

[code]

[2021-08-20 23:47] AlexSCorey opened #10922 "Subscription Detail not properly translating"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-21 06:36] janviudapi commented on #10908
Is there latest version of AWX available greater than 19.3.0, As you can see the provided version I am using the same version and I guess it is the latest once.

[2021-08-21 17:37] ghost commented on #10835
This role level dynamic var works exactly as intended except when the playbook level `install_applications` var is defined by the job template Survey. (environment, playbook, and job template extra vars defined `install_applications` work)
[code]

Your suggestion has two problems according to the yaml extension in vscode. Firstly, the backslashes must be escaped (an annoyance I prefer to avoid wit

[2021-08-23 04:48] binarydesu commented on #10908
I had the same problem after updating awx from 19.2.2 to 19.3.0 on a k3s cluster. I couldn't fix it and ended up redoing everything.
While doing that, I got a CrashLoopBackOff on the awx-postgres-0  pod, which also turned out to be a problem with the permissions.
I am not sure, but it could be that these problems are connected. So maybe you want to try out this solution: https://github.com/kurokob

[2021-08-23 06:12] binarydesu commented on #10908
after following [this tutorial ](https://computingforgeeks.com/how-to-install-ansible-awx-on-ubuntu-linux/) (awx on a k3s cluster) and fixing the postgres-0 CrashLoopBackOff with [this solution](https://github.com/kurokobo/awx-on-k3s/issues/2#issuecomment-902726565),
`kubectl logs -f awx-xxxxx-xxxxxx -c awx-web` gives a similar  error message. All on a fresh ubuntu server 20.04 install.

[2021-08-23 10:02] gensi0 commented on #10905
Hello @shanemcd , after a reinstall of the whole minikube env and reinstallation of awx 19.3.0 it seems to be working. I need to do more tests and I will close this issue if it's fixed.

[2021-08-23 10:03] gensi0 commented on #10905
Maybe it was a configuration issue on my part, but I can't find what I could have done on the first install.

[2021-08-23 12:40] AlanCoding commented on #10867
This is probably valid, because before preparing the directory for a job (with branch override) we stash the prior branch. After the job prep is finished, we checkout that prior branch. We do not track the prior state of submodules in this way.

[2021-08-23 13:27] nixocio commented on #9013
After following up with @mabashian about this issue, in order to be consistent we should add the same UX already implemented on project details page. Not allowing the user to start multiple `syncs` from the details page.

<img width="1497" alt="image" src="https://user-images.githubusercontent.com/9053044/130455353-440c81dc-b5b7-4e6a-b370-668e4c382023.png">

[2021-08-23 14:25] msilmser opened #10924 "Modification to the credential plugin system to get an external credential for each host in the play"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Similar/add-on request to #286

Users can use Cyberark to manage and rotate ssh keys on a per-host basis.
This means all hosts have different ssh keys and therefore require an external lookup on a per-host basis.

[2021-08-23 14:58] davilmb commented on #9961
Hi @shanemcd  and everyone!

I tested the fix mentioned in version **19.2.0, but without success**, the same happened when upgrading to 19.2.2 and the new one release **19.3.0**.

For the tests I used the awx-ee default  (0.5.0) and also the 0.6.0 even the latest tag, always the same problem, after 4 hours of execution the Job is marked with "Error", even if it's terminate successfully in containe

[2021-08-23 15:57] AlexSCorey commented on #10442
Based on an offline convo with @AlanCoding the api team needs to add a value to be able to implement this in the UII

[2021-08-23 16:15] wenottingham commented on #10924
Closing as a duplicate of #286.

[2021-08-23 16:15] #10924 closed, assigned to nobody

[2021-08-23 16:42] tiagodread commented on #10872
Fixed with #10907

[2021-08-23 16:42] #10872 closed, assigned to nobody

[2021-08-23 17:00] tiagodread commented on #10223
The `Source` data is now exposed on Job Details/List

![Screenshot from 2021-08-23 13-58-19](https://user-images.githubusercontent.com/12464858/130487098-2716f6e5-f511-45aa-925a-36c0edec7502.png)

![Screenshot from 2021-08-23 13-58-44](https://user-images.githubusercontent.com/12464858/130487132-67cb74dc-c995-4ba8-bdb1-febba380fde2.png)

[2021-08-23 17:00] #10223 closed, assigned to AlexSCorey

[2021-08-23 17:27] AlexSCorey opened #10925 "Wrong Delete Warning Modal"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-23 18:37] ho11ub commented on #10908
Hello,
I was facing similar issue (my own installation) and fixed by changing rights to 777 on /var/lib/rancher/k3s/storage/* , as is mentioned here:  https://computingforgeeks.com/install-and-configure-ansible-awx-on-centos/

[2021-08-24 08:40] ammygill commented on #2151
+1 for this RFE

[2021-08-24 08:56] abdel-ops commented on #10895
Hello
I'm using the development environment.

[2021-08-24 11:18] binarydesu commented on #10908
that fixed it for me, thanks!

[2021-08-24 11:28] zappbrannigan34 commented on #6136
AWX 19.2.2 same issue

[2021-08-24 13:09] pawstern95 commented on #10366
Setting more inotify watches on nodes helped for me:
`$ sudo sysctl  fs.inotify.max_user_watches = 1048576`

Found [this](https://serverfault.com/a/963533) because when I was trying to check logs with --follow:
`$ kubectl logs <pod> -f`

I was getting this error:

[2021-08-24 13:17] HOSTED-POWER commented on #10744
Also seeing this error often in the logs:

` psycopg2.errors.CheckViolation: no partition of relation "main_projectupdateevent" found for row`

[2021-08-24 14:12] ptrinesh opened #10931 "Job templates going to pending state very frequently"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-24 14:23] zappbrannigan34 commented on #6136
`Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/django/db/backends/utils.py", line 84, in _execute
    return self.cursor.execute(sql, params)
psycopg2.errors.UniqueViolation: duplicate key value violates unique constraint "main_host_name_inventory_id_45aecd68_uniq"
DETAIL:  Key (name, inventory_id)=(ixia4-vblade0301_564de870-a2c5-ac87-62d2-8585de8ff

[2021-08-24 15:18] nixocio opened #10933 "Button to cancel inventory source sync not being displayed"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-24 16:10] rust84 commented on #10908
Just had the same issue. AWS is deployed in EKS using the AWX Operator and after setting the Control plane image to awx-ee:0.6.0 the project in the`/var/lib/awx/projects` directory became owned by root.

Even if you chmod 777 the directory it will be changed back on the next sync. I've since changed the awx-ee control plane image to the 'latest' tag and now the files are owned by 'runner' rather t

[2021-08-24 17:36] AlexSCorey commented on #10931
@ptrinesh thanks for reaching out. Are you saying the that job is toggling between pending state and some other state?  Or is the job launching repeatedly?  Does the job have a schedule that could be launching it repeatedly?

[2021-08-24 18:07] jladdjr commented on #10737
@AlanCoding has an update for this, can outline some items we should still tackle.

[2021-08-24 18:10] AlanCoding commented on #10737
Discussed with Elijah

https://gist.github.com/AlanCoding/33f79993fcf08f3b2dac47e5c5ea45cc

Some ideas still outstanding

 - Proposal: Reduced checks for broken execution nodes
 - Proposal: Save error details on Instance model
 - Proposal: Re-run health checks via a new endpoint

[2021-08-24 19:31] ppouliot commented on #7051
What if you had access to arm server instances?  https://osuosl.org/services/aarch64/request_hosting/
We have VM resources available via OpenStack apis if interested.

[2021-08-24 21:29] jladdjr commented on #10746
Just wanted to note that I confirmed with @tchellomello yesterday that the `default` IG is created in trad installs as well.

[2021-08-25 00:16] sugitk opened #10936 "[RFE] webhook notification can customize the HTTP header with job_metadata"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Now `HTTP HEADERS` can be configured only as a fixed JSON string.
A customer wants to put a customized string using `job_metadata`.`extra_vars`.

[2021-08-25 01:03] jladdjr commented on #10746
@AlanCoding I _think_ https://github.com/ansible/awx/pull/10937 does what we want. Need to add some tests for this, but ad hoc testing confirmed the following changes:

- [x] `default` instance group created
- [x] auto-discovered nodes marked as disabled by default
- [x] .. and assigned to `default` instance group (by way of `policy_instance_list` )

[2021-08-25 05:00] ptrinesh commented on #10931
@AlexSCorey We have one schedule running for every 10 minutes. Apart from that when we are launching other jobs from command line they are going to pending state and stuck there indefinitely. We have to then cancel it manually and only restarting the pod makes us run the job. Ideally no job should go to pending unless there is another job which is running at the same time. But that's not the case

[2021-08-25 05:06] tchellomello commented on #10746
@jladdjr  just for the purposes of documentation, here is where we handle the registration piece at the installer level (https://github.com/ansible/automation-platform-collection/blob/devel/roles/receptor/tasks/main.yml#L100-L151) for non-partial inventories

[2021-08-25 05:07] ptrinesh commented on #10931
### Please find the code we use to launch the awx job template:
- name: Launch device inventory job template
      awx.awx.tower_job_launch:
        job_template: "{{ device_inventory_template }}"
        tower_config_file: "{{ tower_config_file }}"
        wait: yes
        timeout: "{{ awx_max_wait_time }}"
      register: inventory_job_status

[2021-08-25 06:52] andrinbr commented on #10787
It would be great if the EE container would use the "bundle_cacert_secret" from the awx-operator spec like the other deployed containers do.

[2021-08-25 07:57] runtman opened #10938 "awx not recognising correct os family intermittently"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-25 08:36] x0r3ax3ax opened #10939 "Refactoring awx/api/views/__init__.py"
I suggest refactoring api/views/__ init__.py, because this file with views is too large and inconvenient to navigate through it.
https://github.com/ansible/awx/blob/devel/awx/api/views/__init__.py

I could be do this.

##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[2021-08-25 09:52] runtman commented on #10938
On further inspection this appears to be an ansible issue rather than an AWX one.

`ansible==2.9.10` is where I was running it locally but AWX is using  `ansible [core 2.11.3]`

[2021-08-25 10:07] runtman commented on #10938
https://github.com/ansible/ansible/issues/75568

[2021-08-25 10:07] #10938 closed, assigned to nobody

[2021-08-25 10:35] mjpieters commented on #10890
The use case we have is to create a service account, the `client_secret` is to be stored in a Kubernetes secret.

Making a separate POST request from an ansible playbook requires a lot more work, the module doesn't provide support for reuse, for example.

We decided to use `client_type="public"` and forgo the `client_secret` altogether. That way we only have to store the `client_id` for the newly

[2021-08-25 12:58] prabha1331 commented on #1125
@anthonyd-cd Can you please suggest or mention how did you resolve this issue? and i am not aware of CLI what you have mentioned. Can you please help me to understand?

[2021-08-25 14:11] ZachHoiberg commented on #10883
Same problem here. Deleting the user allows another successful sign-on, but fails after that initial sign-on. LDAP suffix is also absent.

Additionally, I was able to work around this by downgrading to 19.2.0, signing in with the user, and then upgrading to 19.3.0 again. They will be properly tagged with LDAP and should be able to sign-in as normal.

[2021-08-25 14:34] azrdev commented on #9694
apparently this was fixed in https://github.com/ansible/awx/pull/10490/commits/560b4ebf71b1b787126bdc4513a6f4287ce21a98 as part of #10490 and therefore in 19.2.2 and 19.3.0

[2021-08-25 14:48] wenottingham commented on #10936
This is dependent on #10054 at minimum

[2021-08-25 15:19] nixocio opened #10941 "Canceling inventory source sync leads to error state on job output"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-25 15:45] #10925 closed, assigned to nobody

[2021-08-25 15:56] bjjohnsontech commented on #6004
I changed the keys to lower case and then was able to access the remote repo.
so my extra variables entry looks like:
{
 "HOME": "/var/lib/awx",
 "http_proxy": "http://proxy.domain:8080/",
 "https_proxy": "http://proxy.domain:8080/",
 "no_proxy": "127.0.0.1,localhost,10.0.0.0/8,.domain"
}

[2021-08-25 17:44] AlexSCorey opened #10942 "Empty survey list should follow same empty state pattern as rest of UI"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-26 02:56] bvanev opened #10943 "Unable to install via Operator"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-26 11:33] Commifreak commented on #3348
@mabashian or others: Any update on this?

[2021-08-26 13:08] shanemcd opened #10944 "Fix EEs from protected registries on execution-only nodes"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-26 15:22] nixocio opened #10945 "Edit workflow nodes should display current convergence label"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-26 18:08] akus062381 opened #10947 "RRule error: Time display plurality is off"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-26 18:17] jladdjr opened #10948 "Background job to cleanup private_data_dir files left by interrupted job"
When a job runs successfully on awx, the private_data_dir should be cleaned up, both on the controller instance where it was created and on the execution instance. This work should already be addressed by https://github.com/ansible/awx/issues/10687.

If a job fails abnormally (e.g. due to a network failure, tower services restarting unexpectedly, etc), we need to ensure that all copies of the priv

[2021-08-26 19:41] AlanCoding commented on #10900
I believe this will be resolved by https://github.com/ansible/awx/pull/10949

[2021-08-26 19:50] AlexSCorey opened #10951 "Create Instance Details View and Health Check"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The instance details view should have standard detail data, but also should have an associate, disassociate, and health check button.  The health check button should POST to `/api/v2/instances/N/health_check/` and render whatever it returns. It could return a series of errors if the instance is having a problem.  In that case it may make sense to bre

[2021-08-26 19:52] AlexSCorey opened #10952 "Add Health Check button and status to Instances List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Each list item in the instances list should have a button to execute a health check.  We should also display some status icon for the the latest health check.  List item names will become links.

[2021-08-26 19:52] AlexSCorey commented on #10952
@trahman73 What should we use for the status icon?

[2021-08-26 20:43] #10922 closed, assigned to AlexSCorey

[2021-08-26 21:37] trahman73 commented on #10951
**Updated Instance Groups / Instances list view mockup**
https://tower-mockups.testing.ansible.com/patternfly/instance-groups/instance-groups-instances/

- Instance names now have a link to an individual details view
- Status column added to list view
- Health check action button added to list view
- Potential to move some list view details off to the details view

**New preliminary Instance detai

[2021-08-26 22:09] HOSTED-POWER commented on #10366
Unfortunately no difference for us :|

[2021-08-27 08:34] olokolo250 opened #10955 "External Postgres DB fail to migrate ( AWX migration 17.0.1 - > latest)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Installation with external Postgres DB previously running with docker based version 17.0.1
With minikube setup fails on DB migration step

# minikube kubectl logs awx-768d58d7bf-s5mmd awx-task
[wait-for-migrations] Waiting for database migrations...
[wait-for-migrations] Attempt 1 of 10
[wait-for-migrations] Waitin

[2021-08-27 11:14] HarishaAmeen opened #10956 "AWX settings field validator reports an error if "ALLOW_JINJA_IN_EXTRA_VARS" is set via extra_settings using awx-operator"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-27 15:53] akus062381 commented on #10947
resolved

[2021-08-27 15:53] #10947 closed, assigned to AlexSCorey

[2021-08-27 17:06] shanemcd commented on #10835
I'm afraid you're getting into ansible-core territory here. There's nothing we can do in the operator to change the way ansible is behaving. You might want to open an issue up on ansible/ansible.

[2021-08-27 17:12] shanemcd commented on #10905
Glad to hear it! If you see something weird in the future open a new issue.

[2021-08-27 17:12] #10905 closed, assigned to nobody

[2021-08-27 17:13] ghost commented on #10835
I will definitely open an issue with ansible/ansible and link here, but to me this feels like an awx operator issue since everything works when passing values as Extra Variables in the awx job template instead of passing values from the Survey.

[2021-08-27 17:20] shanemcd commented on #10931
Lot's has happened since 19.1.0. Can you update and see if this still happens on the latest version?

[2021-08-27 17:27] shanemcd commented on #10939
I'll just say that we are unlikely to do this. It's maybe a philosophical position, but there are better ways to browse code than to split things up in different files.

[2021-08-27 17:34] shanemcd commented on #10941
@AlanCoding this one looks right up your alley!

[2021-08-27 17:38] shanemcd commented on #10943
Dupe of https://github.com/ansible/awx-operator/issues/494. Updates will be posted over there.

[2021-08-27 17:38] #10943 closed, assigned to nobody

[2021-08-27 17:42] shanemcd commented on #10948
A _little_ more context here would be good.

[2021-08-27 17:53] ghost commented on #10835
Possibly related to the supported data types for Surveys? #553

[2021-08-27 17:55] shanemcd commented on #10955
Did you follow these steps? https://github.com/ansible/awx-operator/blob/devel/docs/migration.md

[2021-08-27 17:55] shanemcd commented on #10955
Please confirm that you followed the steps pertaining to the secret key.

[2021-08-27 17:59] shanemcd commented on #10956
This is a weird one. Instead of setting this variable in the operator, can you see if it works when you configure that setting via the API? This will help us narrow down the issue.

[2021-08-27 18:14] shanemcd commented on #10835
Can you please try `ALLOW_JINJA_IN_EXTRA_VARS = 'always'` - you should be able to set this via the API if it's not in the UI.

[2021-08-27 18:47] ghost commented on #10835
That was it! Interesting that this affected Survey Extra Vars but not the actual Extra Vars section considering this was added in response to [CVE-2018-1104](https://access.redhat.com/security/cve/cve-2018-1104). I'm not sure what arbitrary code samples were tested, but I would be interested to know if the Extra Variables section is vulnerable to the same CVE.

Is there any chance that the default

[2021-08-27 18:59] wenottingham commented on #10835
Extra vars provided on the template are under the control of the person creating the template, so interpreting values set there to run arbitrary commands isn't escalating privileges beyond the person who set them.

Extra vars provided via a prompt, or via a survey, are provided by users with a different class of access, so that's why they're not allowed as part of the CVE fix.

[2021-08-27 19:10] AlexSCorey commented on #10952
@thaumos I spoke with @wenottingham and he asked me to check with you about an idea.

I think we have an opportunity to declutter the instances list.  Right now that list looks quite crowded and it will get a bit more crowded if we add a health check status icon and a health check button.  So, I’d like to propose moving some the data that is displayed in the list item to an instance group details

[2021-08-27 19:34] AlexSCorey commented on #10952
related https://github.com/ansible/awx/issues/10737#issuecomment-904864213

[2021-08-27 19:34] AlexSCorey commented on #10951
related https://github.com/ansible/awx/issues/10737#issuecomment-904864213

[2021-08-27 20:10] FredPocai commented on #9730
This worked for me as well -- it will not look unless you have a set of credentials configured and assigned to the organization.

https://github.com/ansible/awx/blob/fb7c827bff6462120385be321f568ccc32364af6/awx/playbooks/project_update.yml#L220

https://github.com/ansible/awx/blob/467a37f8fe6742e81e2b356078938a78961c302b/awx/main/tasks.py#L2116

https://github.com/ansible/awx/blob/467a37f8fe6742e8

[2021-08-27 20:11] ghost commented on #10835
Reverted the settings to `ALLOW_JINJA_IN_EXTRA_VARS = 'template'` and tested again, and you're correct. As expected, prompted Extra Vars values did not work. Had to double check cause I thought prompted Extra Vars did work, but I see now it worked only when defined by the template.

Is there any potential for a safe workaround instead of setting  `ALLOW_JINJA_IN_EXTRA_VARS = 'always'`?

[2021-08-27 20:36] ghost commented on #10835
I was thinking about it, and the Multiple Choice options should be _relatively_ safe since even though a user can choose the input, they can't _modify_ the available options.

[2021-08-27 23:32] jw-maynard opened #10961 "Webhook Notification does not allow for use of Jinja Statements"
### Please confirm the following

- [x] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-28 15:10] sanjay-chahar opened #10962 "issue with ansible fortimanager modules"
##### ISSUE TYPE
Ansible fortimanager miodules issue
  File "/tmp/ansible_fortios_system_global_payload_axggyhx6/ansible_fortios_system_global_payload.zip/ansible/module_utils/connection.py", line 1                                                       85, in __rpc__
ansible.module_utils.connection.ConnectionError: Method not found
fatal: [192.168.252.131]: FAILED! => {

##### COMPONENT NAME
 ansi

[2021-08-28 15:54] kurokobo commented on #10883
@shanemcd @tchellomello
I faced the same issue, so I digged into the code.
This issue seems to be caused by PR ansible/awx#9703.

Even if the user login with a new LDAP account, [the `force_user_update` flag added by that PR never be `True`](https://github.com/ansible/awx/blob/fd3475a813e84789f47213c7ce8bf869995de1fa/awx/sso/backends.py#L367-L369), so [the followed `user.save()` and `profile.save(

[2021-08-29 11:51] olokolo250 commented on #10955
yes, the awx-postgres-configuration and awx-secret-key secret is configured

[2021-08-29 12:02] sanjay-chahar opened #10963 "fmgr_dvmdb_script Module not working in Ansible 2.9.6"
SUMMARY

I have an Fortimanager 6.4.5 VM with trail license running on it. I'm trying to create script on fortimanager using fmgr_dvmdb_script module, but it is not working.

ils/napi.py\", line 215, in get_system_status\n  File \"/tmp/ansible_fmgr_dvmdb_script_payload_8fb7avte/ansible_fmgr_dvmdb_script_payload.zip/ansible/module_utils/connection.py\", line 185, in __rpc__\nansible.module_utils.co

[2021-08-29 19:56] nlvw commented on #9961
I've only found 2 solutions to this problem.  Either have your templates split your job using a high number of slices or revert back to an earlier version of AWX before all of this Kubernetes only refactor stuff began.  I really hope this issue gets more attention as it has made the product unusable.

If you deploy AWX 16 (before the incomplete UI redesign for stability) you can update ansible wit

[2021-08-29 22:15] tchellomello commented on #10883
@kurokobo  thanks for the heads up on this. Yes, I tested here and the issue is because the `ldap_dn` is not being added. My apologies for that. Yet, to avoid the double LDAP updates, we can call the `user.save()` only when required. When the user does not exist yet in the database, trying to access the `user.profile` throws a `ValueError` exception:

[code]

Working on some tests.  Something like

[2021-08-30 07:39] HarishaAmeen commented on #10956
Thanks for checking, it works when I try to update it via API. However we are mostly using operator to maintain/configure some of the settings during the deployment time, it would have been more easier if it was possible via operator.

[2021-08-30 09:39] colixxx commented on #10955
I faced a similar problem. I talked about it [here](https://github.com/ansible/awx-operator/issues/402)

[2021-08-30 10:29] olokolo250 commented on #10955
yes, thats exactly the same issue,  getting the same output for "awx-manage migrate" command

...
  Applying main.0136_scm_track_submodules... OK
2021-08-30 10:26:20,731 INFO     [-] awx.main.migrations deleted (32892, {'main.ActivityStream_unified_job': 0, 'main.UnifiedJob_dependent_jobs': 258, 'main.UnifiedJob_notifications': 0, 'main.UnifiedJob_labels': 0, 'main.UnifiedJob_credentials': 0, 'mai

[2021-08-30 11:09] sshedmake opened #10966 "Jobs and traceback output filtering, 'Filter By' event, needs to be marked for translations"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-30 11:24] sshedmake opened #10967 "Execution Environments Details - items in the 'Pull' drop down list, needs to be marked for translations"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-30 11:54] sshedmake opened #10968 "Settings > 'Miscellaneous System settings' details page, needs to be marked for translations"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-30 12:10] sshedmake opened #10969 "Settings > 'Miscellaneous Authentication settings' details page, needs to be marked for translations"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-30 12:20] sshedmake opened #10970 "At ~/#metrics page, strings 'Time spent saving events to database' and 'Legend', needs to be marked for translations"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-30 12:59] sshedmake opened #10971 "Schedule with prompts Template, while input of job tag, string 'No results found', needs to be marked for translations"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-30 13:30] sshedmake opened #10973 "In ja google-chrome, while editing 'schedule with prompts' schedule, string 'Start date/time' appears partially localized, needs inspection"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-30 14:52] nixocio commented on #10642
I followed up about this with @trahman73.

We have several tables that we will need to update in order to make this consistent across the application. We will need to inspect the application.

To exemplify:

![image](https://user-images.githubusercontent.com/9053044/131358832-78b66a54-7d44-4b19-9c2f-4639c2755be0.png)

![image](https://user-images.githubusercontent.com/9053044/131358861-6a4fafa4-0e

[2021-08-30 15:12] olokolo250 commented on #10955
Hi, I managed to complete migration by disabling /var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/migrations/0137_custom_inventory_scripts_removal_data.py in awx-task pod

I simply commented one line in that file  "# migrations.RunPython(delete_custom_inv_source),"

could someone take a closer look and code proper fix for that please.

_bash-4.4# cat 0137_custom_inventory_scripts_remov

[2021-08-30 17:24] Jamal-A-Mohamed opened #10976 "Number getting converted to a completely something different under host variables in different formats."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
when I save host variables in awx, it seems some numbers show up the wrong way in json and thus breaking playbook.

##### ENVIRONMENT
* AWX version: 19.2.2

* AWX install method: operator
* AWX deployment target: minikube
* Operating System: Redhat
* Web Browser: Firefox

##### STEPS TO REPRODUCE
under a host variable  enter

[2021-08-30 17:52] Jamal-A-Mohamed commented on #10976
After bit more looking, this is a java-script issue,
It seems that in java-script if a number has leading zeros it will be  detected as an octal number and thus  converted to decimal equivalent. in my case 0024 was being detected as  octal(20)  and was being converted  into decimal (20)
To resolve the issue you have to either remove the leading zeros or put it in quotes.

I think users shouldn't b

[2021-08-30 18:24] AlanCoding commented on #10900
@thenets fix is merged, you can close this issue when you feel comfortable doing so

[2021-08-30 18:30] jladdjr commented on #10948
@shanemcd 👍  see updated description

[2021-08-30 18:36] nixocio opened #10977 "Job Output details page briefly showing invalid date"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-30 21:53] #10746 closed, assigned to jladdjr

[2021-08-30 23:32] jladdjr commented on #10687
I don't think we actually have anything to clean up on the remote nodes. When the execution node goes to run the job, it spins up an execution environment. Whenever runner does this, [it appends `--rm`](https://github.com/ansible/ansible-runner/blob/fe3c1aa865898d4a173079ea846f9af5adc79e32/ansible_runner/config/_base.py#L425) to the `<container runtime> run` command. This means that as soon as the

[2021-08-30 23:54] jladdjr commented on #10687
The plot thickens. While the container is cleaned up, the private_data_dir is _mounted_ to the container and sticks around even after the container disappears.

A job details page will show this in action. `job_args` shows something like:
[code]

.. which includes an option to map the private data dir into the container:
`... "-v\", \"/tmp/pdd_wrapper_6_5vfv3t74/awx_6_pgh5064a/:/runner/:Z\" ...`

[2021-08-31 00:19] AlanCoding commented on #10687
People have definitely written code in runner to clean up the private data dir

https://github.com/ansible/ansible-runner/blob/77f15a45b150dcd5b43d6a3fb0aec77c31f7f688/ansible_runner/__main__.py#L792-L794

this is for worker.

However, that's for `if not vargs.get('private_data_dir'):` (it creates its own temporary dir), and AWX definitely passes the private_data_dir.

We need changes in runner so

[2021-08-31 00:20] AlanCoding commented on #10746
I was debugging with @thenets and he definitely hit the "disabled by default" behavior

[2021-08-31 00:22] jladdjr commented on #10746
I ran into that myself today, too 👍

[2021-08-31 00:25] jladdjr commented on #10687
👍  I was just tinkering with https://github.com/ansible/ansible-runner/compare/devel...jladdjr:ansible_process_cleanup_private_data_dir?expand=1 to make sure that awx grabbed everything it needed from the job (via callbacks) and we could safely cleanup the dir immediately after ansible-runner process finished.

[2021-08-31 00:31] AlanCoding commented on #10687
We have to be cautious that errors thrown _after_ unpacking the directory but before the job finishes won't prevent this from being ran. The directory is written by `unstream_dir`, but you could even have an error _halfway_ through `unstream_dir` after secrets are written.

For these problems, `@atexit.register` really is convenient. If you look at `Worker.__init__`, where it sets `private_data_di

[2021-08-31 01:24] jladdjr commented on #10687
I tried that and must be missing something because the directory doesn't get cleaned up. I've run a bunch of sanity checks and it seems like:

* atexit is working
* the shutil.rmtree call is run
* .. but doesn't seem to complete (subsequent code not run)
* even so, there's no exception caught, and `rmtree` never seems to even call the error handler I provided

It's as if the runner process itself

[2021-08-31 07:02] Randy29800 commented on #10878
Hi all, similar problem here

AWX version
19.3.0

Installation method
AWX Operator 0.13.0

Modifications
no

Ansible version
2.9.4

Operating system
AlmaLinux 8.4 minimal

[2021-08-31 08:29] derhoeppi opened #10983 "Windows 10 WinRM connection timeout"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-31 09:40] sanjay-chahar commented on #10963
Please let me know if you need any further information

[2021-08-31 09:51] azrdev opened #10984 "known_hosts module on ~/.ssh/known_hosts fails inside EE with "No such file or directory""
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-31 10:19] azrdev commented on #10984
I can reproduce this by running the container manually:
[code]

Seems to be a bug of the known_hosts module, actually

[2021-08-31 13:28] quasd opened #10986 "inventory with project as as source doesn't update on launch/refresh"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-31 15:50] akus062381 commented on #10827
Looks good. stubs already in place.

[2021-08-31 15:50] #10827 closed, assigned to nixocio

[2021-08-31 16:41] #10900 closed, assigned to thenets

[2021-08-31 18:09] HailsonJunior opened #10989 "Job templates pending state"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-31 18:39] AlanCoding commented on #10737
Idea for the future:

receptor can report some latency information, might be helpful in health check data.

[2021-08-31 18:40] jladdjr opened #10990 "awx reports identical UUIDs for instances"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-31 18:50] AlexSCorey opened #10991 "Inventory Source List Item Status Icon Update"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-08-31 20:24] swathit0319 commented on #7310
Hi,
I am using AWX-v15 with local Redis image. I have used docker-compose way to install AWX. I would like to know if there is support for external Redis for this kind of installation. And if it supports may I know what changes needs to be done to the existing docker-compose and inventory files.

[2021-08-31 20:36] keithjgrant commented on #10976
This is an interesting find. Is it acceptable to strip off the leading zeroes? They will remain stripped off if converted back to YAML

[2021-08-31 20:53] #7834 closed, assigned to keithjgrant

[2021-08-31 21:31] Jamal-A-Mohamed commented on #10976
Unfortunately, for our use we need the leading zeros.

[2021-08-31 23:00] jladdjr commented on #10990
Think I see what's going on here:

1. Hybrid instance is provisioned using `awx-manage provision_instance`
2. If a uuid is not provided, it [retrieves it from `settings.SYSTEM_UUID`](https://github.com/ansible/awx/blob/9083425c24a42090e0b8eba5d668f847ea8112a7/awx/main/management/commands/provision_instance.py#L37). _This will always be the_ local system's _UUID_.

In short, `awx-manage provision_i

[2021-08-31 23:52] jladdjr commented on #10990
https://github.com/ansible/awx/pull/10995 updates awx to generate a fresh UUID instead of defaulting to the system UUID. It also adds a new optional argument to pass in a UUID.

[2021-09-01 08:59] grommir commented on #10219
We have a version 19.3.0

It fails with this error almost always on large runs (~1000 hosts).

[code]

[2021-09-01 12:10] AlanCoding commented on #10830
https://github.com/ansible/awx/pull/10985 will prevent them from being added by the policy rules. Once @jbradberry merges we should be done with this.

[2021-09-01 12:15] AlekseiSaff opened #10996 "postgres issue during inventory import"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-01 12:59] AlekseiSaff commented on #10996
I have increased max_locks_per_transaction to 100 and now it works.

But that's weird and should be fixed somehow

[2021-09-01 13:08] andrejzelnik commented on #10366
Hello there,
did anyone find out the cause of this issue, please?

We have the same problem as @lucabrasi83.

- AWX version: 19.2.1
- AWX install method: AWX Operator - Kubernetes
- Kubernetes version: 1.19.11 on Ubuntu (AKS)
- Ansible version: 2.11.3
- job image: ansible/awx-ee:0.6.0
- job host: 5
- job events: ~1500

What I have found out that is probably somehow related to the amount of logs/ou

[2021-09-01 13:27] jbradberry commented on #10830
https://github.com/ansible/awx/pull/10929 has merged.

[2021-09-01 13:27] jbradberry commented on #10853
https://github.com/ansible/awx/pull/10929 has merged.

[2021-09-01 13:50] cerberek commented on #223
Probably something what should do AWX devs but i figure it out by creating custom credentials type:
INPUT:
fields:
  - id: password
    type: string
    label: Password
    secret: true
required:

INJECT:
env:
  CUSTOM_VAULT_PASSWORD_FILE: '{{ tower.filename }}'
file:
  template: '{{ password }}'

Fill vault password in this new credential and use it in inventory

Then in Inventory Source variable

[2021-09-01 13:56] AlexSCorey commented on #10971
This is a default string that comes from Patternfly.  We can take advantage of the `noResultsFound` [prop](https://www.patternfly.org/v4/components/select#select) to utilize this string and to translate it properly.  Whoever picks up this issue should audit the rest of the `Select` components and fix them as needed.  I'll bet this is an issue in many places in awx.

[2021-09-01 15:17] HOSTED-POWER commented on #10366
Is this issue related https://github.com/ansible/awx/issues/9594 ?

It's really severe on our side, the solution is almost unusable.

[2021-09-01 15:57] tuxonfire opened #10999 "[RFE] A toggle to write schema tables to private"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, the Tower schema tables are public.
A customer has asked if exists the viability to write them to be private instead.

[2021-09-01 17:32] #10989 closed, assigned to nobody

[2021-09-01 17:33] HailsonJunior commented on #10989
Removing the group and organization that I create resolved the problem

[2021-09-01 19:20] akus062381 opened #11004 "Unit test expansion- need error handling checks for Notification Type"
### Summary

Need to be added: unit tests for testing the error handling of the fields in the different notification types on the Add Notification form.

[2021-09-01 20:44] anshulbehl opened #11006 "EE selection UX confusion in Project and Templates interface"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-02 05:55] #10939 closed, assigned to nobody

[2021-09-02 10:11] nicolaibaralmueller opened #11009 "Python module requests fails to import"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-02 12:06] fabfabbar commented on #9747
+1

[2021-09-02 13:09] nixocio commented on #11006
Probably related to: https://github.com/ansible/awx/issues/10442

[2021-09-02 13:49] #10557 closed, assigned to AlexSCorey

[2021-09-02 13:57] tiagodread opened #11010 "Duplicate xhr requests on Survey tab for JT and WFJT"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-02 15:05] eromsubebe commented on #5839
Gitea webhook support will be greate

[2021-09-02 15:58] AlexSCorey opened #11012 "Login redirect not working"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-02 18:08] leemeador commented on #2215
I would call it a bug when I enter the URL without a trailing slash and the api call fails. Shouldn't it work with or without a slash?

[2021-09-02 18:22] skerbater commented on #9926
Same here...
Same with fresh install AWX operator 0.13.0 and AWX 19.3.0
No solution ?

[2021-09-02 18:27] jsalatiel commented on #8484
@mvrk69  Would you mind to share your final configuration to make this work ?

[2021-09-02 18:43] nixocio commented on #10708
There are other issues tracking this work.

[2021-09-02 18:44] #10708 closed, assigned to nobody

[2021-09-02 20:34] #10962 closed, assigned to nobody

[2021-09-02 20:34] sanjay-chahar commented on #10962
HI Raise another one

[2021-09-02 20:39] AlexSCorey commented on #7565
After speaking about this issue with the UI team it was decided that this feature is a 'nice to have'. Currently we have an error boundary that will catch most attempts to navigate to a page a user otherwise wouldn't be able to see.  The only cases that aren't caught is if a user manipulates the url to get to an `add` form.  Even in this case the api will still deny any attempt to add a resource i

[2021-09-03 01:00] kylerossd commented on #2056
Is there a way to modify, add exceptions or disable CSP?  I am making a API POST to tower from ServiceNow and it is blocking.

2021-09-02 20:59:49,724 ERROR    awx {'csp-report': {'blocked-uri': 'https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css', 'document-uri': 'https://tower.**********.io/api/o/authorize/?scope=write&response_type=code&state=-109439

[2021-09-03 02:51] agilleyrh commented on #6682
Where do we stand on this request?

[2021-09-03 02:52] agilleyrh commented on #7218
Where do we stand on this request?

[2021-09-03 02:56] agilleyrh commented on #8469
Where do we stand on this request?

[2021-09-03 02:57] agilleyrh commented on #9449
Where do we stand on this request?

[2021-09-03 02:57] agilleyrh commented on #9351
Where do we stand on this request?

[2021-09-03 05:01] dhikrahashim commented on #1845
Do we have this PCB option for WT in latest release ?

[2021-09-03 08:13] nicolaibaralmueller commented on #11009
This was solved by adding below to the localhost inventory. AWX was using the wrong python interpreter.

[code]

[2021-09-03 08:13] #11009 closed, assigned to nobody

[2021-09-03 08:19] nicolaibaralmueller opened #11015 "SSL: Unsupported protocol (_ssl.c:1124)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-03 13:00] bpartin2009 opened #11016 "Tower Project Github SCM update: bwrap: Create new namespace failed: No Space left on device"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
 - UI Tower Web Browser
##### SUMMARY
Tower fails to sync git repo into Tower projects.
Fails in Job with error: bwrap: Create new namespace failed: No Space left on device
However there is plenty of space on all partitions.
Logs are are unhelpful as they reference Job stdout for more details but there are none to be had.

##### ENVIRONMENT
* AWX

[2021-09-03 13:14] bpartin2009 commented on #11016
Opened parallel ticket with bubblwrap at: https://github.com/containers/bubblewrap/issues/448

[2021-09-03 13:23] smcv commented on #11016
bubblewrap cannot work when run as non-root and `/proc/sys/user/max_user_namespaces` is 0. It needs to create at least one new user namespace.

[2021-09-03 13:31] ivantomica opened #11017 "Unable to use ansible_facts for smart inventory source"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-03 14:01] bpartin2009 commented on #11016
You are right...... I ran
sudo sysctl -w user.max_user_namespace=31559
so that it matched the others and that fixed the issue

Thanks for your super fast response

[2021-09-03 14:01] #11016 closed, assigned to nobody

[2021-09-03 14:42] sshedmake commented on #10968
Seem fixed with latest devel (attached the japanese screenshot)
![Screenshot from 2021-09-03 20-08-08](https://user-images.githubusercontent.com/12151785/132023713-91106dd6-f18e-4a0d-b7cc-fb08864acdce.png)

Feel free to close this issue.

[2021-09-03 14:50] sshedmake commented on #10969
Looks fixed with latest devel (attached Japanese screenshot)
![Screenshot from 2021-09-03 20-14-46](https://user-images.githubusercontent.com/12151785/132025046-3f22d71f-6b4e-43a1-92db-72e83f806b51.png)

Feel free to close this issue.

[2021-09-03 14:53] sshedmake commented on #10967
Seem to work okay with latest devel (attached Japanese screenshot)
![Screenshot from 2021-09-03 20-22-46](https://user-images.githubusercontent.com/12151785/132025498-b5b584a9-3e31-48a5-b291-957446ecfc20.png)

Feel free to close this issue.

[2021-09-03 15:20] #10966 closed, assigned to nixocio

[2021-09-03 15:28] #10969 closed, assigned to nobody

[2021-09-03 15:29] #10968 closed, assigned to nobody

[2021-09-03 15:29] #10967 closed, assigned to nobody

[2021-09-03 15:58] mvrk69 commented on #8484
plugin: community.vmware.vmware_vm_inventory
strict: False
validate_certs: False
with_tags: False
properties:
\- "name"
\- "config.cpuHotAddEnabled"
\- "config.cpuHotRemoveEnabled"
\- "config.instanceUuid"
\- "config.hardware.numCPU"
\- "config.template"
\- "config.name"
\- "config.uuid"
\- "guest.hostName"
\- "guest.ipAddress"
\- "guest.guestId"
\- "guest.guestState"
\- "runtime.maxMemoryUsage"
\

[2021-09-03 16:46] #10977 closed, assigned to nixocio

[2021-09-03 17:09] chrismeyersfsu commented on #11017
`GET to /api/v2/hosts/?ansible_facts.ansible_distribution_version=18.04` should be `ansible_facts__ansible_distribution_version=18.04` see these examples https://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html#smart-host-filter

[2021-09-03 17:18] jladdjr opened #11019 "Explicitly pass in UUID for new OCP instances"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-03 17:20] jladdjr commented on #11019
Marking as blocked given that jobs for deploying OCP are hitting build issues atm.

[2021-09-03 17:27] jladdjr commented on #10990
Resolved by #10995 . Follow-on work for OCP being tracked with https://github.com/ansible/awx/issues/11019.

[2021-09-03 17:27] #10990 closed, assigned to jladdjr

[2021-09-03 17:31] ivantomica commented on #11017
Thank you @chrismeyersfsu! I totally missed that part of docs. It helps a lot.

Unfortunately, there is still some sort of issue or lack of documentation in the UI part of the AWX.

When I create "dummy" smart inventory with let's say "Inventory ID: 1", it sources all the hosts. and then I change that inventory via API to match host_filter to as you've noted. After that list of hosts is updated to

[2021-09-03 17:40] jsalatiel commented on #8484
Thanks

[2021-09-03 18:00] akus062381 opened #11020 "Reopen issue- pluralization in translation- Schedules"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-03 18:01] chrismeyersfsu commented on #10999
related https://github.com/ansible/awx/issues/10838 If we do support anything other than a public schema this issue will need to be addressed.

[2021-09-03 18:02] chrismeyersfsu commented on #10996
Seems like your problem is resolved @AlekseiSaff

[2021-09-03 18:02] #10996 closed, assigned to nobody

[2021-09-03 18:08] AlanCoding commented on #11019
Can we not just do this?

[code]

[2021-09-03 18:18] jladdjr commented on #11019
Seems like that would work. Don't have an instance where I can test that, atm, but went ahead and put that up here:
https://github.com/ansible/awx/pull/11021

[2021-09-03 19:14] AlanCoding commented on #10737
I believe all items discussed here are addressed in the PR 11002, which I'll merge in a bit here, moving to needs_test

[2021-09-03 19:15] kimbernator commented on #9594
This isn't particularly scientific, but it appears that this was mitigated for me in some capacity by increasing the memory limit for the awx-task container to 4Gi. I'll do some more testing once I get my kubernetes cluster beefed up a little bit to handle the extra requirements.

[2021-09-03 19:55] AlexSCorey commented on #10970
A couple of the strings do come form the UI. However, the string `Time spent saving events to database` is a help text string that comes from the api.  I connected with @fosterseth to see if he could check this out.

[2021-09-03 20:00] nixocio commented on #11006
@jbradberry @AlanCoding what are your thoughts here?

* Organizations
* Projects
* Job Templates
* Inventory Sources

Those are the resources that an user can assign an EE. And we would need to know in advance what EE would be used when adding some of those resources to make clear to the user which one would be used or override when assign a EE specific to it.

[2021-09-03 20:19] AlexSCorey commented on #10642
This has `align-right` to all of the `Actions` headers on all of the lists.

[2021-09-03 20:20] #10642 closed, assigned to AlexSCorey

[2021-09-03 20:42] #10973 closed, assigned to AlexSCorey

[2021-09-03 20:42] AlanCoding commented on #11006
https://github.com/ansible/awx/blob/devel/docs/execution_environments.md

see

If you were filling out the JT form, the logic would be:

 - if a project has been selected and it has a default EE, that's the default
 - if project has an organization with a default EE, that's the default
 - the global default (abstractly, there are sub-rules the API should take care of) will be the final default

So

[2021-09-03 21:05] #10611 closed, assigned to AlexSCorey

[2021-09-03 23:38] jbradberry commented on #11006
@nixocio This information was added to the API in https://github.com/ansible/awx/pull/10322.  We ought to do the work to expose it in the UI, and indicate to the user that specifying the EE on the jobs template overrides that value.

[2021-09-03 23:52] jbradberry commented on #11006
On second thought, that's not quite what is going on here since this is a not-yet-created template.  I see two possibilities to move forward:

- [ ] make a label change, indicating that setting the EE here overrides any and all EEs set on higher-level objects
- [ ] expose a new API endpoint, that allows the UI to asynchronously send up the user's information as they fill it in and update with the

[2021-09-04 15:34] crystonesc opened #11024 "Error message "/var/run/redis/redis.sock" no such file or directory"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-05 12:55] yuval-g opened #11025 "Job can't be run using controlplane instance group"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-06 02:29] sc8608 opened #11026 "Cannot run template job due to RuntimeError: Error creating pod: timed out waiting for the condition, ImagePullBackOff"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-06 12:30] azrdev opened #11027 "Job stuck "running", Post run hook errored, DB connection crashed?"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-07 08:23] fabienbeller commented on #7362
+1 for this feature. Can't find any way to use group claims without having to use SAML, which is not ideal.

[2021-09-07 09:02] HOSTED-POWER commented on #9594
We have now 16 GB ram and 6 cpu cores, just for this AWX thing and our issues still aren't resolved. We still get task failed :(

[2021-09-07 13:49] #10971 closed, assigned to nixocio

[2021-09-07 14:45] AlanCoding commented on #10951
The mockups look good. API work for the health check endpoint has been merged. This contains the `errors` field which can contain user-oriented messages.

One thing I want to note after looking at the mockup - healthy instances will usually have a blank `errors` field.

I don't think we have merged API changes to allow de-provisioning (deleting) instances, but it's on the agenda.

[2021-09-07 14:52] AlexSCorey opened #11028 "Receptor Instances Cause Metrics Page to Crash"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-07 17:34] AlexSCorey commented on #11020
Looks like this change might have gotten lost in the mix of all of the changes to `.po` files recently. https://github.com/ansible/awx/commit/40e5b70495e3e606a95f326b881ce50c3c2686d3#diff-18ed77e3cacc23d9ca94222c8dbf132bd3284bd1c516fa4ba71be709751bbcdeL2882

[2021-09-07 18:06] jladdjr commented on #10737
@AlanCoding could you update this with latest context for @thenets ?

[2021-09-07 18:10] jladdjr opened #11030 "Release AWX with Mesh Code changes"
haven't run things on OCP yet, @kdelee has ideas on how to deploy awx with operator

[2021-09-07 18:12] jladdjr commented on #10830
@thenets let us know if you need any additional context on this for testing.

[2021-09-07 18:22] jladdjr opened #11031 "Add setting so that auto-discovered nodes can be enabled by default"

[2021-09-07 18:41] jladdjr commented on #10694
We're thinking this is more of a "nice-to-have" item, and will probably get pushed back a bit.

[2021-09-07 18:44] jladdjr commented on #10701
We could see this tying in to the work to clean up the private data dir via a background task - see https://github.com/ansible/awx/issues/10948

[2021-09-07 18:45] jladdjr commented on #10948
We could see this also incorporating the task of cleaning up unused images - see https://github.com/ansible/awx/issues/10701

[2021-09-07 18:46] jladdjr commented on #10701
Wanted to note that this may have already be an issue with awx and hybrid nodes (before execution nodes were introduced).

[2021-09-07 18:47] jladdjr opened #11032 "Update analytics metrics for new Instance fields"

[2021-09-07 18:49] jladdjr commented on #11032
moving analytics issue outside ansible/awx

[2021-09-07 18:49] #11032 closed, assigned to nobody

[2021-09-07 18:52] AlanCoding commented on #10737
I was posting some details in https://gist.github.com/AlanCoding/33f79993fcf08f3b2dac47e5c5ea45cc#file-health_check_wrapup-md, but I can reduce those points to something that looks more like a test plan here.

 - test the new `/api/v2/instances/N/health_check/`
   - system auditor can GET but not POST
   - system admin can GET and POST
 - check that successful health check
   - will clear `errors`

[2021-09-07 18:56] jladdjr opened #11033 "Collect cert expiration via healthcheck"
This will probably need some further discussion to think through what's needed here. For example, if cert is about to expire, how do we want to surface that to the user?

---
@rebecahh noted: 10 years consensus for expiration

[2021-09-07 19:05] kimbernator commented on #9594
@HOSTED-POWER Are those the requests/limits for the awx-task container or the specs of the system it runs on?

[2021-09-07 19:07] HOSTED-POWER commented on #9594
It are the specs of the host machine, the containers don't have any limitations configured.

[2021-09-07 19:29] Justin2997 commented on #10488
Bump this ! I have the same problem

[2021-09-07 20:56] piaverous commented on #1618
Facing the same issue in latest version, after deploying with `awx-operator` (not sure if I should open an issuer here or there)

Steps to reproduce :
- Create a GCP Kubernetes Managed Cluster
- Get operator 0.13.0 release : `curl -O https://raw.githubusercontent.com/ansible/awx-operator/0.13.0/deploy/awx-operator.yaml`
- Apply : `kubectl apply -f awx-operator.yaml`
- Create the most basic manifes

[2021-09-07 21:21] kimbernator opened #11036 "Pool max_workers based on host memory when containerized instead of container memory limit"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-07 21:37] opticyclic opened #11037 "Show Who Cancelled a Job"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If a job is cancelled the UI doesn't show who cancelled it.
This is very bad from an audit point of view.

On the DETAILS section there is a LAUNCHED BY key with the user that launched the job.

If a job is cancelled the section should show CANCELLED BY and the user that cancelled the job

[2021-09-07 21:46] opticyclic opened #11039 "Make Dashboard Customisable"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The dashboard shows some summary stats a job status graph and recently used templates and job runs.
It is largely useless as a dashboard if that isn't the information you are interested in.

The Dashboard would be more useful if you could re-arrange the tiles or remove them or add other details to it in a similar way that JIRA can.
e.g. I would like

[2021-09-07 21:53] opticyclic opened #11040 "Make My View Customisable"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
My "My View" shows 175 job templates which I probably have access to via groups.

I can search for the templates I am interested in because they are prefixed with the same name.
However, as soon as I leave the page and come back, all the templates are there.

Similarly I can see 4 jobs which are the ones I launched but I can't see the jobs that I am

[2021-09-07 22:12] opticyclic opened #11041 "Make Filtering More Obvious In The Jobs View"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The Jobs view allows you to search for jobs by template name.
However, it _apparently_ doesn't let you filter it by anything else.
The options are there using a search syntax listed under the `KEY` button, but it isn't obvious that is where it is and it isn't even obvious that it is a button.

When you search with JIRA it gives you extra drop downs t

[2021-09-07 22:17] opticyclic opened #11042 "Save The URL On Session Timeout"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If the session times out and I log back in again from that page it takes me back to the home page and not the page I was on.
If I have multiple tabs open with various jobs I am looking at they all timeout and redirect back the home page.

It would be more useful to save the URL I was on before the session ended and then reload that page after I re-au

[2021-09-07 22:25] opticyclic opened #11043 "Add An Option To Save A Job Filter"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
A certain project has job templates that have been failing periodically over the last month.
Every morning I have to go to the jobs page and type in the same search parameters to find the jobs.

Similarly, on a less regular basis, when I get requests for different teams I have to remember their search query in order to find what they are looking for.

[2021-09-07 22:29] opticyclic opened #11044 "Download The Logs While Jobs Are Still Running"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
You can only download the logs from the UI when the job is complete.
The UI gives you a tail view of the logs but it isn't feasible to use if you have a large log such as when using verbose logging.

However, the REST API **does** allow you to download the log whilst the job is running.

Since it is possible with the REST API, the UI should give you

[2021-09-07 23:01] #11033 closed, assigned to nobody

[2021-09-08 04:27] AdityaVishwekar opened #11045 "community.general module not recognized by awx (awx-ee)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - awx-ee

##### SUMMARY

ERROR! couldn't resolve module/action 'mail'. This often indicates a misspelling, missing collection, or incorrect module path.
The error appears to be in '/runner/project/ansible/vm_peer_review/peer_review.yml': line 315, column 5, but may
be elsewhere in the file depending on the exact syntax problem.

community.gen

[2021-09-08 07:38] azrdev commented on #10817
@jakemcdermott could you please reopen this issue: `unified_job_templates` does support listing/searching both types of Templates, but not launching them. Example output from an ansibile `uri` call:

[code]

[2021-09-08 07:42] sfhl opened #11046 "Log level"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-08 09:53] nasjomach opened #11047 "Chrome browser loosing focus in AWX surveys"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-08 11:09] nasjomach commented on #11047
Chrome version: Version 92.0.4515.159

[2021-09-08 11:51] mrcetinel opened #11048 "NFS Issue with AWX operator on OKD 4.6 (ValueError: ZIP does not support timestamps before 1980)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-08 12:26] #11048 closed, assigned to nobody

[2021-09-08 12:42] opticyclic opened #11049 "Show The Change History For A Project"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This morning my job failed because someone changed the branch in the project.
However, I have no idea who changed it or when because there is no change history for the project.

Add a button in the project view called `HISTORY`
Add a list with Time/User/Change columns.
The "Change" column should either be expandable like the Job list or it should pop

[2021-09-08 12:51] opticyclic opened #11050 "Add A New Notification From The Project View"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
On the project view there is a button called `JOB TEMPLATES`. From here there is a green + button that allows you to add a new Template.
There is no green + button on the `NOTIFICATIONS` button to do a similar action.

Add a green + button on the right side of the Project `NOTIFICATIONS` view that will allow the creation of a new notification templat

[2021-09-08 13:21] CFSNM commented on #10853
Opened PR to add automated API tests for this feature: https://github.com/ansible/tower-qa/pull/6800

[2021-09-08 13:39] kimbernator commented on #9594
In a situation like that I'd consider defining `SYSTEM_TASK_ABS_MEM` in the operator such that it can't spin up a basically unlimited number of queue workers in the awx-task container. Each one takes 150MB+ of memory itself and spins up an EE pod which could take much more than that, eventually choking the system and preventing jobs from being re-queued.

max worker count when that setting is defi

[2021-09-08 14:16] HOSTED-POWER commented on #9594
I don't fully understand, we have 16 GB ram on the host machine.

The container has no limits.

Where is the problem coming from exactly?

I tried this on the container:

 cat /proc/meminfo
MemTotal:       16427040 kB

Looks like it reads like 16 Gb, so where is this problem coming from? :)

(Just double checking to make sure it applies)

[2021-09-08 14:45] AlexSCorey commented on #11047
@nasjomach do you know if this is happening only on Chrome?

[2021-09-08 14:46] AlexSCorey commented on #11042
@opticyclic This issue is resolved in the latest version of AWX.  What version are you using?

[2021-09-08 14:51] AlexSCorey commented on #11041
@opticyclic  In the latest of AWX there is an advanced search function that provides additional guidance for more complex searches.  What version of AWX are you using?

[2021-09-08 14:53] kimbernator commented on #9594
I'm not certain this will be the cause for everyone seeing this error, I can only say that it was what solved it for me. I would encourage you to read my extended description in https://github.com/ansible/awx/issues/11036, but here it is fitted to your scenario:

The awx-task container determines the maximum number of workers it can start simultaneously to handle the lifecycle of EE containers run

[2021-09-08 14:57] HOSTED-POWER commented on #9594
Ok that would make sense, just one thing I find strange, we never used more than 5 GB of this 16 GB of RAM ... (we log statistics of the host machine)

So I don't think we are in the case of exhausting resources? Or is something else possible?

[2021-09-08 15:02] kimbernator commented on #9594
It depends on the other pods in the cluster as well. If they have memory requests that are higher than their actual memory usage, they will prevent any other pod from accessing that memory without actually "using" it. If you're easily able to recreate the situation where the error described here happens, I would suggest running a `kubectl describe node <node>` while errors are occurring to get the

[2021-09-08 15:05] kimbernator commented on #9594
Also, it may be silly but I'd verify that there aren't any default limits on pods in your namespace that might be applying to your pods without you realizing - would be visible in `kubectl describe namespace <namespace>`

[2021-09-08 15:09] rbicker opened #11051 "Jobs using ssh credentials get stuck when loading passphrase"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-08 15:10] AlanCoding commented on #11049
Have you checked the activity stream for the project? Click the time icon with the circle arrow:

![Screenshot from 2021-09-08 11-08-31](https://user-images.githubusercontent.com/1385596/132535706-9424726b-dc74-4492-bd65-efcfdbb2184e.png)

Looks like this gives history for _all_ projects, which isn't ideal, but still works

![Screenshot from 2021-09-08 11-08-43](https://user-images.githubuserconte

[2021-09-08 15:17] nixocio commented on #11012
See: https://github.com/ansible/awx/pull/5479

[2021-09-08 15:18] AlanCoding commented on #10897
Can I bump up priority on this?

I was just debugging a situation with @kdelee where I had a failed job. Turns out it was targeting a node that no longer existed. I can tell you when the job was submitted by the task manager, but we have _no_ records of instances being deprovisioned, so I can't get any quality story about what happened which would be useful for a reproducer.

[2021-09-08 15:19] opticyclic opened #11052 "Sort By All Columns in The Credentials Resource"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The Credentials resource lists 4 columns: NAME, KIND, OWNERS, ACTIONS.
The only search option is by NAME and not any of the other columns.
The Templates, Projects and Jobs views all have the ability to search in different ways.

The Credentials resource view should have the ability to sort by any of the 4 columns displayed.

[2021-09-08 15:23] opticyclic opened #11053 "Search Across All Credentials When Modifying a Template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When modifying a Template you have the option to add a `CREDENTIAL`.
You have to search for the credential but you have to know in advance what the type of credential it is you are searching for.

When adding a credential to a template the search option should search across all credentials and not just the selected type.

[2021-09-08 15:28] opticyclic commented on #11041
3.5.2

[2021-09-08 15:29] opticyclic commented on #11042
3.5.2

[2021-09-08 15:31] nasjomach commented on #11047
Yes for me only in Chrome, Firefox is fine.

[2021-09-08 15:38] opticyclic commented on #11049
You are right. That shows what I was expecting.
It looks like I am on an older release where it isn't so obvious.
Sorry about that.

[2021-09-08 15:38] #11049 closed, assigned to nobody

[2021-09-08 15:57] polarroyo commented on #11051
We can reproduce the same issue after upgrading from 17.1.0 to 19.X.X in Kubernetes.

[2021-09-08 16:11] papiveron opened #11054 "Cannot find awxkit folder after installation"
Hi

I've installed awxkit on my server, and I'm trying to build doc as specified [here](https://github.com/ansible/awx/blob/devel/INSTALL.md#building-the-cli-documentation)

But there is no `awxkit` folder on the file system. Did I miss something?

Regards,
Eugène NG

[2021-09-08 16:38] keithjgrant commented on #10976
This is interesting... I don't think there's technically a way to preserve leading zeros in JS, unless you can put it in quotes and use it as a string. (If you keep the input in YAML format, I think the whole value is stored internally as a string, which is why the YAML input can preserve it)

[2021-09-08 16:42] keithjgrant commented on #10976
@Jamal-A-Mohamed Okay, I looked a little closer at our implementation. The value is stored as a string in BOTH modes, it's only converted to an object briefly for the translation between the two. It _might_ be possible to intercept numbers with a leading zero and briefly treat them as strings.

[2021-09-08 18:52] gmisura commented on #8429
+1
upvote
pretty please

[2021-09-08 19:50] TristisOris opened #11055 "increase\change Session Timeout"
##### ISSUE TYPE
Option to change\disable session timeout. It happens to often now.

##### SUMMARY
awx 19.3

[2021-09-08 20:04] rilindo opened #11056 "AWX 19.0+ OVIRT Inventory Source Doesn't work"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-08 20:46] AlanCoding commented on #11031
Should this be in needs_test? I don't think this has been started on?

[2021-09-08 20:47] jladdjr commented on #11031
@AlanCoding fixed, good catch

[2021-09-08 20:48] AlanCoding commented on #11031
We also have https://github.com/ansible/awx/issues/10852

[2021-09-08 20:50] jladdjr commented on #11031
Sounds like this is a dup, closing

[2021-09-08 20:50] #11031 closed, assigned to nobody

[2021-09-08 21:09] nixocio commented on #10941
This issue was raised when working on https://github.com/ansible/awx/pull/11023

[2021-09-08 21:19] nixocio commented on #11006
<img width="750" alt="image" src="https://user-images.githubusercontent.com/9053044/132587014-4c7c9090-f22e-41db-8e3d-b5aba6264734.png">

Yeah, we show this as part of job template details, for instance, but the asking here is to show the EE during the addition of a new job template.

[2021-09-09 03:39] ohjimbo commented on #1125
I am also have an issue getting this to work properly on 19.3.0, FQDN do not work, only IP addresses will work. I tried adding alternate dns severs in the inventory file and have rebuilt AWX too many times to count. Oddly ansible ping is able to reach all of the hosts, but trying a ios_command fails to resolve the fqdns.

[2021-09-09 04:17] vishnubraj commented on #10616
how to fix this? I just upgraded and it's broken.

[2021-09-09 05:47] kenichimilo commented on #10744
The fix seems to have introduced another bug described in [https://github.com/ansible/awx/issues/10838](10838), the public schema has been hardcoded..,

[2021-09-09 05:56] Rocking80 commented on #5620
This is a good feature. Is it possible to use variables in the Recipient List, just like the Email notification template messages?
My requirement is just sending notification to the person who launched the job. So the recipient is dynamic.

[2021-09-09 12:34] CFSNM commented on #10853
This issue has been tested from the API perspective. Need to test from the UI perspective as well. FYI @tiagodread @akus062381 @InnocentK

[2021-09-09 12:38] nixocio commented on #11055
@TristisOris , you are able to change this value on `Idle Time Force Log Out`.

<img width="1486" alt="image" src="https://user-images.githubusercontent.com/9053044/132687107-df1a3863-2d74-40db-be77-3655ba5bfdc8.png">

[2021-09-09 12:38] #11055 closed, assigned to nobody

[2021-09-09 13:07] xx4h commented on #10787
Just in case anyone else does not want to fork the awx-ee image but still needs a workaround.

My preferred workaround for now is creating a new instance group in AWX (based on default), naming it like "default-with-certs" and adding the same ```initContainers``` logic to this instance group which is used when adding certificates over the AWX spec.

This can be looked up by executing
[code]

The f

[2021-09-09 13:12] ldktta opened #11057 "email notification template in HTML"
ISSUE TYPE
    Feature Idea

SUMMARY

It would be useful to have the option of being able to choose the Content-Type with what is sent to the smtp server
Emails are sent with
Content-Type: text / plain;
or
Content-Type: text / html;

thx

[2021-09-09 13:34] AlexSCorey commented on #11041
Upgrading to 4.0 will resolve this issue.

[2021-09-09 13:34] AlexSCorey commented on #11042
I recommend that you upgrade to 4.0

[2021-09-09 14:07] akus062381 opened #11058 "Instance group- Associated instances list- CSS responsiveness bug"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-09 14:36] akus062381 commented on #9013
resolved

[2021-09-09 14:36] #9013 closed, assigned to nixocio

[2021-09-09 15:18] akus062381 commented on #10853
resolved

[2021-09-09 15:18] #10853 closed, assigned to kialam

[2021-09-09 15:21] CFSNM commented on #10853
Thanks @akus062381

[2021-09-09 15:35] HOSTED-POWER commented on #9594
Thx, but we run them in docker at this moment, no parameter is showing sign of overload as far as I can see

In which .py file can I set SYSTEM_TASK_ABS_MEM ? I would try it inside the container as a test otherwise

[2021-09-09 15:48] akus062381 commented on #10628
upon testing this, found a bug when clicking on the info button of a node. Wambugu is working on filing a bug.

[2021-09-09 16:25] InnocentK opened #11061 "Workflow Node Info Button Displaying Error When Clicked"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-09 17:31] TristisOris commented on #11055
oh thanks, missed it.

[2021-09-09 18:23] #10991 closed, assigned to nixocio

[2021-09-09 18:24] #10933 closed, assigned to nixocio

[2021-09-09 19:00] kimbernator commented on #9594
I have it in /etc/tower/settings.py.

[2021-09-09 19:08] HOSTED-POWER commented on #9594
Ok I set this:

[code]

not sure how this would help ... :)

It's still quite a strange bug

[2021-09-09 19:30] jbradberry commented on #11006
@nixocio see my second set of comments: https://github.com/ansible/awx/issues/11006#issuecomment-912867724

[2021-09-10 03:56] JhwuGit opened #11067 "@rakh7 This fix will be in the next release of Ansible: 2.5.7 and 2.6.2."
@rakh7 This fix will be in the next release of Ansible: 2.5.7 and 2.6.2.

_Originally posted by @samdoran in https://github.com/ansible/ansible/issues/41717#issuecomment-405291773_

I got the same error: 25, 'Inappropriate ioctl for device' with Ansible verison 2.9.14

[2021-09-10 06:40] cljcoder commented on #10878
I am also seeing this problem, on

AWX Version
19.3.0

Installation Method
AWX Operator 0.13.0

The one unique tidbit that I can add is that when looking at the logs from awx-task I can see the following log repeated on each iteration:

I am new enough to AWX to not know if the "inventoryupdate-9 needs capactity" is a clue or if it's a red herring, but I hope it helps!

[2021-09-10 09:37] HOSTED-POWER commented on #9594
This doesn't make any difference, it must be something (totally) different

We keep getting 10's of task failed every day, it's hell and unusable :(

[2021-09-10 13:06] jeffstu commented on #578
This was my thought but I'm not familiar with the code base to know if it would be possible.

[2021-09-10 15:41] AlexSCorey commented on #11058
There is a lot of crowding on those list items.  My hope is that this issue can help alleviate some of that https://github.com/ansible/awx/issues/10952

[2021-09-10 17:12] Klistel commented on #7859
Adding a +1 on this feature request. I have workflows that I use prompts to select inventories and hosts for my job templates, and we have SSH keys for "prod" and "nonprod" - not being able to select for credential at workflow launch time means I have to have two distinct workflows for the same procedure, one for prod and one for nonprod. This would be very useful to me - I'm not sure why promptin

[2021-09-10 17:12] chrismeyersfsu commented on #11067
Sounds like this is an Ansible issue. This is the AWX repo.

[2021-09-10 17:12] #11067 closed, assigned to nobody

[2021-09-10 17:30] chrismeyersfsu commented on #11054
Looks like we maybe need to update our docs. Maybe we failed to include that you need to git clone the repo. Could you submit a PR when you figure it out?

[2021-09-10 17:47] chrismeyersfsu commented on #11046
@sfhl you can change the log level via the UI in the settings in AWX.

[2021-09-10 17:47] #11046 closed, assigned to nobody

[2021-09-10 17:52] chrismeyersfsu commented on #11045
Try the fully qualified collection name i.e. `community.general.mail` instead of just `mail`. You also might get more replies by asking this question on the mailing list.

[2021-09-10 17:52] #11045 closed, assigned to nobody

[2021-09-10 17:54] chrismeyersfsu commented on #11044
Events can be processed out of order in AWX. The UI has logic to account for out of order events. If the API were to simply dump out all events for a job there could be "holes" in the output.

[2021-09-10 18:09] sdhughes1 commented on #10579
I was able to work around this issue in my installation by manually adding 3 missing indexes to main_inventoryupdateevent before migrating all the way to 19.2.0+

I have no idea why they were missing. I figured this out by manually comparing a vanilla 19.0.0 installation to my migrated 19.0.0 database

[code]

[2021-09-10 19:50] nixocio opened #11068 "Standard Out tab empty even when there is related data on the API"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-10 20:07] nixocio commented on #11047
@nasjomach thanks for filing this issue. AWX surveys have been updated. Can you upgrade to latest version?

[2021-09-10 20:11] nixocio commented on #11042
I just tested this on devel. It seems to be working as expected.

[2021-09-10 20:11] #11042 closed, assigned to nobody

[2021-09-10 20:19] #11041 closed, assigned to nobody

[2021-09-10 20:24] nixocio commented on #11041
@opticyclic, thanks for filing this issue, as @AlexSCorey pointed out the search was completely re-worked on the newer versions.

[2021-09-10 21:06] shrutikamehta369 opened #11071 "Is there any possibility that ec2 instance tag keys can be dynamically provided using extra vars ?,"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[2021-09-12 01:41] AlanCoding commented on #8708
Could you more specifically spell that out with an API request? I could do this in the UI and see, but I might also misread the language.

[2021-09-12 18:27] BeryJu commented on #10996
Just for reference, to increase the ``, change the following in your PostgreSQL Statefulset:

[code]

[2021-09-13 05:02] sfhl commented on #11046
@chrismeyersfsu
Thanks for your reply, but that is not exactly what is needed. We need to set this via config file (or similar), because the depoloyment is and should be automated.
Is there a way to configure this via config-file, environmentvariable or anythin else?
kind regards!

[2021-09-13 13:15] AlanCoding commented on #10605
It appears the counts will only count things that the current user has the ability to see.

https://github.com/ansible/awx/blob/6a17e5b65bf9421c2e650d23817c79ce81248c6f/awx/api/views/__init__.py#L258

I'm pretty sure that the metrics endpoint is absolute (no counting specific to current user's access). We're getting close to conflicting requirements here

[2021-09-13 13:54] #10970 closed, assigned to fosterseth

[2021-09-13 14:59] AlexSCorey commented on #11020
Looks like this has been resolved.  https://github.com/ansible/awx/blob/devel/awx/ui/src/locales/en/messages.po#L2981
![Screen Shot 2021-09-13 at 10 58 29 AM](https://user-images.githubusercontent.com/39280967/133107438-3184738a-89a4-43ed-b096-01f0cd634b3a.png)

[2021-09-13 16:06] jbradberry commented on #10605
Ok, I went and did some digging.  I still am unable to find a matching issue for the pull request that marked the dashboard endpoint as deprecated, but the word from @wenottingham in our Slack history seems to be: "it's deprecated in that it's **only** for use by the UI".  I think that this means we should fix whatever is broken with this endpoint (if anything, given that there are RBAC restrictio

[2021-09-13 16:35] AlanCoding commented on #10605
This endpoint isn't broken. When it was introduced, the intent was that underprivileged users should not have access to get the _total_ counts of jobs / project updates / etc., because that would be counting things they don't have permission to view. It only counts the jobs (and such) that they have read permission to.

That can be changed, but it's not a bug fix, it's a product decision with secu

[2021-09-13 18:46] ffirg commented on #10605
We need to respect the RBAC model, so it's working as required. A user should only have the ability to see what the RBAC model privileges allow them to see.

[2021-09-13 21:11] Jamal-A-Mohamed commented on #10976
@keithjgrant  if you can do that, it would work for us and we would be happy to test it.

[2021-09-13 22:51] alvaro-gh commented on #9075
So, there's a requirements feature for collections which seems to be pretty straightforward and there's support for collection in AWX. I ran into the same issue and started following the issue thread which goes like this:
- This issue points to [#8572](https://github.com/ansible/awx/issues/8572).
- `#8572` points to [#8245](https://github.com/ansible/awx/issues/8245).
- `#8245` points to [#8598.](

[2021-09-14 01:11] sean-m-sullivan commented on #10782
@lotaris-xx I was just reviewing this, and I am not seeing where you pass in credentials via schedule, Can you post how you are Invoking things now, and want to invoke them? I know we did the job template to accept list of credentials in the past, but trying to figure out which field you want as a list input in which module.

[2021-09-14 02:11] lotaris-xx commented on #10782
Sure,

I used to look for this every time I want to use it, but I've used it so much lately no need. If the JT Credentials field has "Prompt at launch" clicked, when you create a schedule based on that JT you click the "PROMPT" button down beside Cancel/Save and it will walk through all of the fields you can prompt for.

Cheers,
-Allen

________________________________
From: Sean Sullivan ***@***.

[2021-09-14 02:27] lotaris-xx commented on #10782
Currently I create a lot of schedules where the main differences between them are Limit, Inventory and Credentials. Limit and Inventory are directly handled by the schedule module, but Credentials isn't so I have to have to maintain a set of JTs per credential combination and track/schedule those unique JTs.  Looking to have the schedule module handle JT Credentials as well so I can return to a si

[2021-09-14 03:03] sean-m-sullivan commented on #10782
This is exactly what was needed to clarify, most likely just need to dive deeper into the api of a created one, and find out how it post it there, then we can figure out how to put it in the module.

[2021-09-14 08:23] eherce commented on #11015
Similar issue here but with the length of the key.

I'm running AWX 19.2.2 over k3s in a single node.

I cannot login with my internal LDAP getting this error:
django_auth_ldap Caught LDAPError while authenticating xxxxxx: SERVER_DOWN({'result': -1, 'desc': "Can't contact LDAP server", 'ctrls': [], 'info': 'error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed (EE ce

[2021-09-14 08:28] yurtesen commented on #9540
Now I understand the problem... It seems it is normal that
[code]
never finishes... (it is something which should have been explained in the manual!)

The [documentation for install](https://github.com/ansible/awx/tree/devel/tools/docker-compose#migrating-data-from-local-docker) says:

...

...

It seems, actually
[code]
fixed the issue.

Just needed to set containers restart at boot by setting
[c

[2021-09-14 10:37] jerosa opened #11075 "Only 3 jobs are running concurrently, the others are on a pending state"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-14 10:42] jerosa commented on #11075
In case the issue is that the jobs are stopped because the SCM project is updated each time and the awx_task docker locks the project until the job is finished.

 Is it possible to make multiple awx_task to be raised on demand? Or that each job uses the repository is cloned each time?

Alternatively I don't know if upgrading to the latest version of AWX (moving to Kubernetes) this would no longer

[2021-09-14 13:34] AlexSCorey commented on #10628
@akus062381 Can we close this issue?

[2021-09-14 14:08] akus062381 commented on #11020
I have had these tests skipped. I will unskip them and trigger a Jenkins job run- will let you know the outcome

[2021-09-14 14:41] AlexSCorey commented on #11058
This is really something we should address on all the lists.

[2021-09-14 14:51] AlexSCorey commented on #10822
Some of the warnings have been cleaned up but there are still a few related to logging out.  I'm going to remove myself from this so someone else can pick it up.  Whoever picks this up feel free to reach out to me

[2021-09-14 17:38] AlanCoding commented on #10948
I've created this doc to express what I'm trying to do

https://gist.github.com/AlanCoding/99de3b85031cae3b7f2c7c8f81560359#file-cleanup_demo-md

[2021-09-14 17:40] AlanCoding commented on #10948
We already have a mechanism for this and have no intention of changing anything with it.

[2021-09-14 17:59] AlexSCorey commented on #10605
Since this is not a UI bug I am going to remove UI related labels/tags from it.

[2021-09-14 19:33] yurtesen opened #11079 "(19.3.0) make docker-compose-container-group fails"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-14 19:45] AlexSCorey commented on #10442
Adding Blocked for the UI.  API team still has some things to work out.

[2021-09-14 20:11] njtwiseman commented on #10099
### Update:
Re-spun up a legit Rocky Linux VM (qemu)
uncommenting line 74 does resume expected operation.

### Original:
"Fix" isn't working for me
Attempting to sync a git project with the development container
Could, potentially, be my setup (running docker in a proxmox lxc debian 10 container)

[code]
Uncommenting line 74 causes:
[code]
I checked in container tools_awx_1 /usr/bin/fuse-overlayfs

[2021-09-14 20:28] akus062381 commented on #10628
@AlexSCorey because of the bug, I am unable to verify whether this particular issue has been solved, so i'd say we are blocked until https://github.com/ansible/awx/issues/11061 is fixed

[2021-09-14 23:15] chris93111 commented on #11061
Hi same error with 19.3

[code]

[2021-09-14 23:25] chris93111 opened #11080 "Bug edition workflow_job_template limit empty key"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-15 09:01] jdi1983 commented on #9747
We have the Same Issue and are running AWX 13.0.0
Role Ansible Juniper 2.9.10
Some PB need to wait about 10 to 30 minutes sometimes that the action is finished (systeme snapshot or reload)
It's all the more difficult to use as we have approval windows in the WorkFlow ....

[2021-09-15 09:08] jdi1983 commented on #9747
Can you explain what do you call network tab ?
I suppose you are talking about the browser's one ?
here is a screenshot at the bottom of FireFox
![image](https://user-images.githubusercontent.com/90758267/133404964-dad0bfec-8294-4ad5-a654-b9bfd38041ce.png)

[2021-09-15 10:38] amg-web commented on #9747
select All (left on HTML), and refresh the page

[2021-09-15 11:01] rwxd commented on #10506
Any updates on this? Sadly, I have the same problem. An Inventory will also be found by the unfied_job_template API entry point.

[2021-09-15 11:06] lumarel commented on #9747
This is how all websockets end here:
![image](https://user-images.githubusercontent.com/42647570/133422413-b352fea3-acf1-4ac7-b9d3-4cdfa4c84165.png)
It doesn't exchange any message via websocket.

[2021-09-15 11:19] allaboutopensource opened #11082 "Unable to sync the GIT based Project in AWX"
I am running AWX on docker-compose where the version of ansible is 2.9.18, awx version is 17.1.0 and docker-compose version is 1.29.2. I have added the inventory from vmware source and I could see the hosts in the inventory and the status is “success”.

However, when I try to create a project with GIT as SCM I am able to create the project but when I sync the project I am getting an error as below

[2021-09-15 12:49] ed11e commented on #223
@cerberek
Can you elaborate a bit more on this?

I got an error saying the vault password couldn't be found during the inventory sync.

`ERROR! The vault password file /tmp/bwrap_49065_0zyjhj4t/awx_49065_74ioxzft/project/$CUSTOM_VAULT_PASSWORD_FILE was not found`

Where does the var tower.filename come from?

[2021-09-15 15:09] mnhan3 commented on #10579
Is there a way to dump all the sql for main.0144_event_partitions?   I've a awx 19.2.0 instance and can't get it to upgrade to any version above 19.2.0.   I've tried 19.2.1, 19.2.2 and 19.3.0, all failed to migrate the 19.2.0 db.  Its stuck on main.0144_event_partitions and it errors out on main_adhoccommandevent.

[2021-09-15 16:42] sdhughes1 commented on #10579
Some of the SQL is literal in the source code, other is abstracted with Django: https://github.com/ansible/awx/blob/devel/awx/main/migrations/0144_event_partitions.py

I just edited my comment above to include all the edits I made to my indexes before running the migration. To figure out what I needed, I compared my database tables to a vanilla/stock AWX 19.0.0 installation via simple Postgres com

[2021-09-15 17:06] mnhan3 commented on #10579
I compared my awx db with a fresh installed awx 19.2.0 db and the tables are identical.  All the indexes on both db are the same.  Attempting to run your commands listed above just errors with index already exist.

[2021-09-15 17:38] jbradberry commented on #10605
@nixocio given the RBAC restrictions involved, can you confirm that this is an actual bug?  Can you construct a situation where an ordinary user can see a particular job directly but cannot see that job reflected in the graph?

[2021-09-15 18:18] AlanCoding commented on #10506
Yes, you can use the lookup plugin to lookup by whatever search you need and have that return an id, which will be respected.

[2021-09-15 20:42] cazzen2k4 commented on #10579
It looks like I came up with the exact same solution as you did, but forgot to reply to my own thread. I created the indexes based on each traceback I got by re-running the migrations after creating an index.

I created the following indexes to make the migrations to complete (looks to be identical to yours) :

[code]

good to know I wasn't alone with this issue.

[2021-09-16 00:12] tuxonfire opened #11085 "[RFE] Allow to select multiple inventories from Prompt of launch when a Job Template is launched"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The user wants to run against multiple combinations of inventories, i.e. when the customer has N number of environments and the user decides to run against 1 of those or N number of inventories when prompt of launch.

[2021-09-16 04:21] sfhl opened #11086 "Jobs failing without output"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-16 08:46] kzinas-adv commented on #10211
HI,

awx `19.3.0`
awx-operator 0.13
awx-ee custom
digitalocean  Kubernetes 1.21.3-do.0
4cpu 8ram

Exactly the same issue as described here. Job with 78 tasks 39 hosts, runs fine in GUI for about 10 minutes till line ~1780 after that halts in GUI, but keeps running in automation container.
If turn verbosity higher this comes sooner, with DEBUG on line ~600.
"kubectl logs -f pods/automation-job-3159

[2021-09-16 10:57] bdoublet91 commented on #10398
OK thanks for your explanation.
I learnt a lot !!

I close

[2021-09-16 10:57] #10398 closed, assigned to nobody

[2021-09-16 11:16] vzovko commented on #10219
I'm having the exact same error which occures at different stages during playbook execution.  Most of the times it fails at wait_for tasks.

[2021-09-16 13:38] #10951 closed, assigned to nobody

[2021-09-16 13:50] ed11e commented on #223
@cerberek That works nicely!

I've added the correctly formatted configs below.

Input Configuration
[code]

Injector Configuration
[code]

You then need to specify the vault password on any job templates, but this can be done with a standard vault credential.

Only downside is this does expose the synced credentials in clear text.

[2021-09-16 13:52] andreaskainz opened #11087 "Long running jobs: job output stops non-deterministically"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-16 14:56] mnhan3 commented on #10579
I installed a new 19.2.0 instance with db and turn the awx db to log all sql.   Then ran the migration/upgrade to 19.2.1.   I took the sql from the log for main_0144 and after backing up my real db,  manually ran the migration of just main_0144, then deploy awx 19.2.1 and it was successfully migrated.   All the commands from the sql generate from a clean installed ran without a hitch on the copy o

[2021-09-16 15:17] Bitos33 commented on #9926
Hello,

Is there any update on this issue ?
I am trying to set a new AWX platform up and for some reason, the pods stop working after a couple of days
When restarting minikube, the postgresql pod goes to CrashLoopBackOff state because it tries to init the database again instead of using the existing data
The only solution is to purge everything and set it up again, same issue with 0.12 and 0.13 AW

[2021-09-16 15:19] kzinas-adv commented on #11087
Same issue as #10211 #9961

[2021-09-16 15:30] AlanCoding commented on #10944
Changes on the AWX side are code-complete.

We have 1 straggler on the runner side https://github.com/ansible/ansible-runner/pull/829, _but_, I don't think that affects any use case that integration testing currently hits (I only know of a means to _manually_ test). Anyway, it is expected that that should land by EOD today.

That's a bit of qualifier, but nonetheless moving to needs_test

[2021-09-16 18:20] keithjgrant commented on #10976
@Jamal-A-Mohamed I've discussed this with the team a bit, and we're reluctant to take on the maintenance this would require (it's not trivial, and is likely bug-prone). Can you put those numbers in quotes and use them as a string as a workaround?

[2021-09-16 18:43] akus062381 commented on #11020
fixed

[2021-09-16 18:43] #11020 closed, assigned to nobody

[2021-09-16 19:43] Jamal-A-Mohamed commented on #10976
Yes, that is what I am doing currently doing.
 If it's not feasible to stop the conversion then it might be worth calling it out in documentation.

Thank you  for your efforts @keithjgrant

[2021-09-16 23:19] TinLe commented on #11039
* the ability to filter on other fields for 'Job status' would be much appreciated.
* make the filters sticky on a per user, so they are saved to user profile.

[2021-09-17 00:08] Freebase394 commented on #9881
Hi Guys I have received this too!
When you perform:
"make docker-compose-build"
I got this first Error
![image](https://user-images.githubusercontent.com/19652056/133703969-beb5f87e-2454-4ddf-9e37-61fcd4e9d7ff.png)
and on step when i perform "make docker-compose " i receive this error here:
![image](https://user-images.githubusercontent.com/19652056/133704022-41f56b09-6460-45f0-8e0d-f863c2d3b6d7.p

[2021-09-17 05:25] skiruthi commented on #9610
Could you help with the steps on how to make the size change in defaults.py

[2021-09-17 09:14] lukas-pastva commented on #631
+1 here
Basically, we need asnwer for "How to run AWX on subdirectory"

[2021-09-17 13:21] AlexSCorey commented on #11087
There are changes to the job output  stdout coming really soon so hopefully those changes will resolve your issues

@keithjgrant FYI

[2021-09-17 13:35] Seb0042 commented on #11027
It has been corrected in 19.2.2.

[2021-09-17 14:54] jsalatiel commented on #6534
Running awx 19.3.0 and missing output lines on job execution.

[2021-09-17 15:47] tchellomello opened #11092 "Extend `job_lifecycle.log` by adding the `execution_node`, `controller_node` and `work_unit_id` for a faster troubleshooting"
Would be nice to have on the job_lifecycle.log the execution_node, controller_node and work_unit_id for a faster troubleshooting. I believe that would increase the UX.

Current:
[code]

Would be nice to have these extra fields gathered from the API

[code]

[2021-09-17 16:24] derhoeppi commented on #10983
We changed the ansible connection plugin to prsp. After them our problem is solved.
By investigating this issue i figured out that this only exists at Windows 10 2004 and later.

[2021-09-17 16:24] #10983 closed, assigned to nobody

[2021-09-17 17:12] chrismeyersfsu commented on #10835
Sounds like you found a fit for this @GP1cdenney , closing

[2021-09-17 17:12] #10835 closed, assigned to nobody

[2021-09-17 17:31] chrismeyersfsu commented on #10955
@olokolo250 Instead of commenting that migration line. Can you try applying this code change and migrate? https://github.com/ansible/awx/commit/b0c511a7a25a8219b09d4953b8bb40ca293a8edd

[2021-09-17 17:42] chrismeyersfsu commented on #10961
@jw-maynard sounds like you pinpointed the problem. Do you think you could submit a PR fixing it?

[2021-09-17 17:45] chrismeyersfsu commented on #10963
This is an Ansible issue. Please submit your question to the Ansible mailing list https://groups.google.com/g/ansible-project?pli=1

[2021-09-17 17:45] #10963 closed, assigned to nobody

[2021-09-18 19:35] k-m-y commented on #20
+1
This would be a very nice to have feature

[2021-09-19 02:23] iahmad94 commented on #20
+1

[2021-09-19 18:29] anshubairwa commented on #7533
Hi folks,
try to this command  ansible-inventory --list -y
but showing this error :-

Traceback (most recent call last):
  File "/usr/bin/ansible-inventory", line 34, in <module>
    from ansible import context
ModuleNotFoundError: No module named 'ansible'

Please help to solve about it.

[2021-09-20 12:49] cerberek opened #11094 "Schedule created by AWXkit cli tool faills to by open in GUI detail view"
### Please confirm the following

- [x] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-20 13:46] artm commented on #9893
Are there any instructions on configuring execution environment to use a single or multiple bastion hosts?
Could this be accomplished with mounting some configuration files from kubernetes config_maps / secrets?

[2021-09-20 14:53] AlexSCorey commented on #11085
@tuxonfire does the Inventory Groups feature not accomplish this task goal for you?

[2021-09-20 16:33] artm commented on #9893
My current goal is to get the bastion host into known_hosts in the execution environment. What I tried is:

1. create a config map with known_hosts:

[code]

2. Inside AWX go to Instance Groups, "default",  check "Customize pod specification" and add volume + mount to the pod specification, mounting it into `/home/runner/.ssh/known_hosts` because I figured that's where it belongs:

[code]

but thi

[2021-09-20 18:01] chrismeyersfsu commented on #11046
@sfhl  try `extra_settings` https://github.com/ansible/awx-operator/issues/509

[2021-09-20 18:43] chrismeyersfsu opened #11095 "Offline control nodes get chosen to be control nodes resulting in job failing"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-20 19:04] artm commented on #9893
Ok, I've got it working for a single environment and can generalize from here. For those struggling, here is the outline of my solution:

A config map with ssh config that sets up a bastion host for an environment

[code]

where `BASTION-HOST-IP` is the address of a bastion host for this environment (IP or domain name). `PROXY-USER` is the username to login to the bastion as and `PROXY-KEY` is the

[2021-09-20 20:10] akus062381 commented on #10628
Duplicate: https://github.com/ansible/awx/issues/10945

[2021-09-20 21:04] tuxonfire commented on #11085
@AlexSCorey  according to the customer needs, as admin, he wants to Tower users can be able to choose the inventories when they launch a Job Template (case 03033808).

[2021-09-21 04:21] sfhl commented on #11046
@chrismeyersfsu
Hi again,
thanks for your response, but my question is what variable/setting i have to pass with which value, not where or how.
SO now i know different ways to pass variables to my awx instance, but i sadly still do not know which i need to pass to remove logging noise.
Kind regards.

[2021-09-21 06:06] sdktr commented on #11085
If you mean the 'Smart Inventory' grouping, these are mostly unusable because the original group info is not available in them

[2021-09-21 08:26] artm opened #11098 "Template's branch override doesn't take effect"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-21 09:12] azrdev commented on #5855
Defining one use case: Get to know which built-in/special variables are defined for a host. The documentation doesn't list them ( https://github.com/ansible/ansible/issues/25923 / https://github.com/ansible/ansible/issues/23572 ), firing a `setup` task gathers facts and displays only it, so firing a `debug var=vars` task would be the obvious workaround (since ad-hoc tasks don't gather facts).
As s

[2021-09-21 09:18] artm commented on #11098
I was mistaken: the job created by the template uses the code from the overridden branch, our problem lies elsewhere.

[2021-09-21 09:18] #11098 closed, assigned to nobody

[2021-09-21 09:19] colixxx commented on #10955
@olokolo250 Hi, how you can change file in container? Exec in container via awx user only. But file have root perm.
i could rebuild the image but can't find the dockerfile

[2021-09-21 10:08] azrdev commented on #9041
Note the old (AWX15) ui had meaningful `<title>`s

[2021-09-21 10:30] azrdev opened #11099 "[ui_next] Allow for resize/popout of extra_vars fields"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-21 11:30] ericzolf commented on #8764
Just for clarification because it wasn't obvious to me at first glance: it is only a representation issue, the underlying variable and its value are just fine, and can be used in a playbook/job template with the proper vault credential attached.

[2021-09-21 12:05] sebw commented on #11017
I'm dealing with the same kind of UI problem.

I haven't been able to figure out how to create a smart inventory filtering on local/custom facts using the web UI.

I can create a working smart inventory using the API just fine:

![image](https://user-images.githubusercontent.com/2285094/134166786-a4ca3e4f-d053-45c4-95d6-6b81301e6982.png)

If trying to edit the newly created smart inventory I'm get

[2021-09-21 14:25] nixocio commented on #10272
The issue here seems to be a performance issue. Once the Job list has several jobs running/pending/successful attempt to delete several jobs. The list does not re-render to the initial amount of jobs.

1  - Create a Workflow with several nodes, 10 nodes - job templates.
2  - Trigger this Workflow run
3 - Trigger other jobs, inventory source, for example.
4 - Attempt to delete a few successful jobs

[2021-09-21 14:33] ffirg opened #11100 "Add UI checks for any certs/keys used which might have expired"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Now we have various certification chains and signing mechanisms in the mesh, I would like to be able to validate the certs/keys and notify where possible of pending expiry (much like we do with licenses already).

Mesh installer generate keys for signing work - for signing work from control to execution nodes using keys - https://github.com/ansible/

[2021-09-21 17:32] fosterseth opened #11101 "awx use signed work"
Must be done:
- add signwork=true in work submit
- adjust status parsing, i.e. WorkCommands
- RSA key generation for dev environment
- add work-signing, work-verification, and verifySignature on dev environment receptor configs
- add awx test to assert work submits only work in one direction between control and execution node

awx operator:
- work signing not necessary and should be set to false i

[2021-09-21 18:10] mrmibrown opened #11103 "Expose the 'ALLOW_JINJA_IN_EXTRA_VARS' option in the GUI"
Expose the 'ALLOW_JINJA_IN_EXTRA_VARS' option in the GUI so that this option is available outside the the current API location.

##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add a GUI option for the 'ALLOW_JINJA_IN_EXTRA_VARS' variable in the job settings.

[2021-09-21 18:42] InnocentK commented on #11061
#11097 resolves this issue successfully

[2021-09-21 18:42] #11061 closed, assigned to nixocio

[2021-09-21 18:57] jladdjr commented on #10701
We need to check on the existing behavior for this and make sure that at the very least we haven't regressed on this. On the latest release do we have containers / images that get left behind? What do we see happening today?

[2021-09-21 19:19] AlanCoding commented on #10701
You can't say we regressed, because we never removed images from deleted EEs to begin with.

I'm leaving the door open to addressing this in conjunction with https://github.com/ansible/ansible-runner/pull/846, but I'm not committing to it.

[2021-09-21 19:34] InnocentK commented on #10628
Issue causing the block (#11061) was resolved

[2021-09-21 20:11] AlexSCorey opened #11105 "Update Patternfly"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Last time we updated Patternfly was about 4 months ago.

[2021-09-21 20:14] AlexSCorey opened #11106 "Update Toggle Labels on Instance List Item"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently the Toggle labels are `On` and `Off` but this can be confusing.  We have a concept of an instance being `Offline` or `Online`, and we have a concept of an instance being `Enabled` or `Disabled`.  We should update those labels to better match the situation (Enabled/Disabled).  However, to do this we might need to use the `isReversed` prop on

[2021-09-21 20:30] InnocentK commented on #10628
Successfully resolved

[2021-09-21 20:30] #10628 closed, assigned to InnocentK

[2021-09-21 20:35] InnocentK commented on #10945
Resolved

[2021-09-21 20:35] #10945 closed, assigned to nobody

[2021-09-21 20:43] #10952 closed, assigned to nobody

[2021-09-21 21:02] vrubiolo commented on #10878
Hi there,

I think am encountering the same issue here:
[code]

The symptoms which ringed a bell for me what that, in the UI, when adding an inventory source, the dropdown for the 'inventory file' box does not show all files in the project repo as it should, rather an arbitrary, much shorter list (which seems to depend on which branch of the project repo is checked out):
![inventory_file](https://

[2021-09-21 21:48] yurtesen commented on #8764
@ericzolf yes that is correct. It works within AWX. I guess it is using the JSON format when executing jobs.

It also converts `!vault` into `__ansible_vault:` but does not convert it back. So if you copy/paste the YAML generated by web interface to a YAML file. It won't work. By the way "__ansible_vault" does not seem to be documented anywhere. Doing a web search returns no results.

If I edit a

[2021-09-22 07:57] ffirg commented on #11100
This information is currently not available in the API so the mesh code pod will need to do some work here to expose that.

[2021-09-22 12:01] Im0 commented on #20
"opened this issue on Sep 7, 2017"... 4 years later.  Perhaps RedHat could advise/suggest another RedHat product which will satisfy this requirement?

[2021-09-22 12:57] eselvam opened #11108 "ERROR! couldn't resolve module/action 'community.kubernetes.k8s'"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-22 13:43] AlanCoding commented on #11100
Do we need any information from execution nodes for this? I'm thinking "no", because we distribute the same cert to all control nodes (in the case of job signing, less certain on tls). A system job is probably overkill from this, because it's just reading stuff from local receptor settings, and I'd suggest we could add a field to some endpoint.

[2021-09-22 13:52] AndreySvinarenko opened #11109 "Failed to pull image. read: connection reset by peer."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-22 14:03] AlanCoding opened #11110 "Execution node jobs canceled (via receptor) while in progress show as running forever"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-22 14:24] InnocentK opened #11111 "Workflow Template Node Info Linked Inventory Redirect Failure"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-22 15:05] chrismeyersfsu commented on #11017
![image](https://user-images.githubusercontent.com/722880/134369370-a86f316b-5b08-4ef0-a951-403a5128ea23.png)

I agree, there is an issue in the UI, preventing you from querying `ansible_facts`. The two fields that appear in the drop down are not even meaningful for `ansible_facts`. Instead, I expect to NOT have to select anything from the `name__icontains` or `id` dropdown. I should just be able

[2021-09-22 15:28] beeankha opened #11112 "Make sure that ansible-runner version gets pinned in AWX"

[2021-09-22 15:37] nbari opened #11113 "slack URL uses /system/ instead of /management/ 404 (not found)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-22 15:56] beeankha opened #11114 "Validate/Enforce Runner Version in Execution Nodes"
Due to the work that was done to fix https://github.com/ansible/awx/issues/10944, we will need to make sure that a compatible version of Runner is installed on execution nodes.

[2021-09-22 17:00] tiagodread commented on #11012
@one-t can we close this issue?

[2021-09-22 17:14] nixocio commented on #11012
@tiagodread @one-t  this is a legit bug, I already worked on this, I will circle back to this one later.

[2021-09-22 18:21] #11099 closed, assigned to nobody

[2021-09-22 19:19] tchellomello opened #11116 "Job fails to find the playbook when running a job on an execution_node"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-22 19:26] AlanCoding commented on #11116
[code]

_approved_ :heavy_check_mark:

[2021-09-22 19:26] thenets commented on #11116
Should add the `needs_test` later.

[2021-09-22 19:27] eherce commented on #11015
@nicolaibaralmueller, in the meantime I may have found a temporary solution which cannot be said as best practice, but should work (at least in k3s running kubernetes in one node)

After deploying the awx-operator you can edit from the host the awx-operator file mapped as /opt/ansible/roles/installer/templates/ldap.py.j2 changing:
ldap.OPT_X_TLS_REQUIRE_CERT: True,

for:
ldap.OPT_X_TLS_REQUIRE_CER

[2021-09-22 20:06] nixocio commented on #10605
I re-evaluate this using the old app as reference. And it is behaving in the same way, taking the RBAC in consideration and not showing data on the dashboard for `Normal User` without any other level of privilege.

[2021-09-22 20:06] #10605 closed, assigned to nobody

[2021-09-22 20:17] AlanCoding commented on #11095
I think everyone will agree that we can't reasonably do an integration test for this.

[2021-09-22 20:47] #11111 closed, assigned to nixocio

[2021-09-22 20:51] nixocio commented on #10551
I evaluated the amount of requests being made, and they are not affecting the performance of the app. They are not optimal, but they still do not affect the usability. Also there is another general issue tracking extra requests here - https://github.com/ansible/awx/issues/10655. Closing as dupe.

[2021-09-22 20:51] #10551 closed, assigned to nobody

[2021-09-22 22:32] Anton-Kartashev commented on #9926
Resolved this:

1. delete deployment - Kubectl delete -f awx_demo.yml

[2021-09-22 22:53] AleksejEgorov commented on #9926
Looks like the root of the problem is that the postgres data on the host is in the temp directory. Maybe it will be better to change folder through the deployment, but I only exclude default hostpath-provisioner directory from deleting:
[code]
Hope, it helps.

[2021-09-23 02:26] tchellomello commented on #11116
PR# https://github.com/ansible/awx/pull/11118

[2021-09-23 12:42] nicolaibaralmueller commented on #11015
Awesome @eherce. A work-around is very acceptable to me as our vcenter will be decommissioned this year.

[2021-09-23 14:02] #8826 closed, assigned to nobody

[2021-09-23 15:25] infamousjoeg opened #11121 "Add ability to use variables in Metadata for External Secret Management Systems"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
**Problem**
At CyberArk, we recommend that all customers create unique root passwords and/or unique private keys for host authentication to *nix hosts.  Since the CyberArk platform manages this credential and can also broker secure sessions to the host, this is the easiest way to reduce the attack surface.

In Ansible community, we have many customer

[2021-09-23 16:23] zappbrannigan34 commented on #6136
AWX 19.3.0 same

[2021-09-23 17:31] sean-m-sullivan opened #11124 "Add Ability to find unified job templates by ID and Org"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add ability to
A. use workflow_job_template_node by giving a unified job template ID
B. Use a lookup organization to find a unified job template, right now if a project/job_template/inventory has the same name in multiple orgs, this is unusable, and because of A, cannot be fixed by the lookup plugin.

[2021-09-23 18:04] PriyankaSrikanth14 commented on #10601
Hi all,

I got a problem while installing AWX on Ubuntu 20.04.I have installed all
required prerequisites for AWX.my problem is in the AWX installation
process when I gave the command make docker-compose build it is throwing an
error ERROR:manifest for quay.io/AWX/awx_devel:HEAD not found:manifest
unknown
make:***[Makefile:489: docker-compose] Error 1

Can anyone please help me on the above error.

[2021-09-23 18:24] kdelee commented on #1487
Now that there are more scenarios in which nodes may become unavailable but could later have connection restored, and we are setting capacity based on the result of the health check, we probably want to be able to explain when jobs are in pending because there is no capacity in the instance group the job is trying to get launched into. That could be because instances are disabled, or because they

[2021-09-23 20:16] #11028 closed, assigned to nobody

[2021-09-24 00:31] akus062381 opened #11126 "[ui_next] Disabling an instance should include an alert for the user"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
_**Suggestion #1**_
- [ ] In the Instances tab inside of an instance group, a user can disable an instance.
       Doing so affects the jobs set to run against that instance.
       When a user clicks disable, they may not be aware of the impact it will have.
       I suggest that when they go to disable it, an alert pops up (that they have to click

[2021-09-24 00:41] akus062381 opened #11127 "Jobs List alert- EE is a missing resource- error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
If an instance is disabled, and a job is run against that instance, it gets stuck in a pending state. If the user cancels the job, the UI shows "Missing Resource" next to EE. In this case, the job didn't run because the instance was disabled, but this error/alert may make the user think that they are missing a resource and g

[2021-09-24 01:40] akus062381 commented on #10785
resolved

[2021-09-24 01:40] #10785 closed, assigned to kialam

[2021-09-24 02:34] rooftopcellist commented on #11114
# Meeting notes (Sept 23)

## Where does ansible-runner get installed in AAP 2.1 2.0-2.1+?

* Alongside receptor on the execution node
* Inside the Execution Environment (EE)

## Problem
We can potentially end up with different versions of ansible-runner in those 2 places which could be incompatible.

## Solution
We add validation before using that EE that it will work with the runner version on t

[2021-09-24 02:47] rooftopcellist commented on #11114
We should also ensure that execution nodes and controller nodes have compatible versions of ansible-runner.

[2021-09-24 06:57] AndreySvinarenko commented on #11109
Now everything worked, but I didn’t do anything, I suspect that the turnip was updated again at 15:00, or I was banned by IP for 50+ downloads per day

[2021-09-24 06:57] #11109 closed, assigned to nobody

[2021-09-24 07:26] AndreasDavour opened #11128 "Survey stage in workflow editor"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

As there are multiple requests to make Surveys more dynamic, and it might necessitate a big rewrite, a smaller change might be to add another node type in the workflow editor. Now we can add templates, approvals and inventory syncs. I would suggest adding a Survey node as another type to maybe inject a bit of dynamism into the flow, as is so often r

[2021-09-24 08:01] skiruthi commented on #10274
Any workaround to enable the prompt in schedule for 17.1.0

[2021-09-24 12:37] nixocio commented on #11126
Possibly related to https://github.com/ansible/awx/issues/1487

[2021-09-24 13:08] djdanielsson commented on #20
This is AWX not Tower that is supported by Red Hat

[2021-09-24 14:06] abenokraitis commented on #20
Have you taken a look at [Ansible automation services catalog](https://www.ansible.com/blog/automation-services-catalog-a-deep-dive-into-whats-new-in-red-hat-ansible-automation-platform)? This may be an option as this is along the lines of business workflows etc. as it relates to Ansible Automation Platform...

[2021-09-24 14:07] AlanCoding opened #11130 "Disable editing more fields of `controlplane` group"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-24 14:15] AlanCoding commented on #11130
existing name validation

https://github.com/ansible/awx/blob/6a17e5b65bf9421c2e650d23817c79ce81248c6f/awx/api/serializers.py#L4935

[2021-09-24 14:41] InnocentK commented on #10942
Successfully resolved in #11122

[2021-09-24 14:41] #10942 closed, assigned to nixocio, InnocentK

[2021-09-24 17:02] chrismeyersfsu commented on #10931
Closing due to lack of activity.

[2021-09-24 17:02] #10931 closed, assigned to nobody

[2021-09-24 17:27] chrismeyersfsu commented on #10986
I think this is the feature you are looking for. On the inventory -> sources -> edit screen

![image](https://user-images.githubusercontent.com/722880/134716339-8123ba95-4175-475a-b940-e6e57773731c.png)

[2021-09-24 17:35] chrismeyersfsu commented on #11025
@yuval-g the control plane no longer runs jobs when in kubernetes. We could do a better job of adding guard rails to prevent users from trying.

[2021-09-24 17:42] chrismeyersfsu commented on #11026
@sc8608 It looks like the awx pod service account is unable to launch pods into the namespace that is in the configuration for the container group. By default it tries to launch into the same namespace that you are running in.

[2021-09-24 17:54] chrismeyersfsu commented on #11027
@azrdev is this fixed in >= 19.2.2 for you?

[2021-09-24 18:17] acelinkio commented on #7011
AWX 19.3.0 this is still the case.  I was able to force it by using the awx.awx.tower_job_template module but am skeptical if it works as intended

[2021-09-25 02:27] acelinkio commented on #11108
Should be using the kubernetes.core collection as community.kubernetes.k8s is now eol.  https://galaxy.ansible.com/kubernetes/core

Also you need to install the collection:
`ansible-galaxy collection install kubernetes.core` if from your workstation

otherwise you need to add a `collection/requirements.yaml` to your project for it to download in awx
example:  https://gitlab.com/acelinkit/monopipel

[2021-09-25 04:34] eselvam commented on #11108
Thanks!
I am able to install the collection in AWX project using git collections/requirements.yml file.
The Ansible document helps me to understand how the collection works and now all looks good.
    On Saturday, September 25, 2021, 07:57:52 AM GMT+5:30, acelinkit ***@***.***> wrote:

Should be using the kubernetes.core collection as community.kubernetes.k8s is now eol. https://galaxy.ansible.com

[2021-09-26 06:45] #2183 closed, assigned to nobody

[2021-09-26 07:35] rroethof commented on #7859
Also adding +1 here, currently we can not use a singe workflow for multiple inventories (OTAP/DTAP)

[2021-09-26 08:59] cdorsman commented on #7859
Also adding +1

[2021-09-27 01:02] Lee-Kwang opened #11136 "The job is not transmitted to the container group on remote openshift cluster"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-27 06:54] surfer190 opened #11137 "Survey integer field minimum of 0 raises a validation error incorrectly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-27 07:36] azrdev commented on #11027
I'll tell you as soon as our AWX is updated, sorry I'll have to wait some days for that to happen

[2021-09-27 08:25] azrdev commented on #9027
I think I'm seeing the same behaviour on AWX 19.2.0 -- Though the error message has `rc=None`:

[code]

[2021-09-27 08:53] azrdev commented on #9027
Turns out this was my (user) error, I specified a branch override that didn't exist (in that repo).

[2021-09-27 09:20] hambuergaer commented on #11026
I`m running into the same issue since Sep. 23rd without using a proxy. Any ideas what causes the problem?

[2021-09-27 09:22] #11136 closed, assigned to nobody

[2021-09-27 09:23] Lee-Kwang commented on #11136
issue is found to be specific to us. network problem between Azure and Openstack

[2021-09-27 09:57] Haagy opened #11139 "JobTemplate API ignoring extra_vars passed (ask_variables_on_launch: true)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-27 10:34] anthoc commented on #7859
Also adding +1

[2021-09-27 12:11] quasd commented on #10986
I would think the "update on launch" is correct,since we want the inventory to update on launch? Since the inventory and the playbook are in separate projects, I don't see how "Update on project update" would ever trigger on template launch of a different project.

I did give it a go though, and no chance.

Maybe I should try to rephrase the problem.

When refreshing inventory that uses git as a s

[2021-09-27 13:36] nixocio commented on #11137
I verified the previous UI implementation and allows the value of `0` as valid value - for integers, on the survey.

[2021-09-27 14:56] tchellomello opened #11141 "get_conn_type() traceback when no STREAMTLS is found at `control-service` at `receptor.conf`"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-27 15:10] akus062381 commented on #11127
resolved

[2021-09-27 15:10] #11127 closed, assigned to nixocio

[2021-09-27 15:49] #11141 closed, assigned to tchellomello

[2021-09-27 15:50] aperigault opened #11144 "fix french typos"
##### SUMMARY
Fix typo in french translation for settings screens

##### ISSUE TYPE
 - Bugfix Pull Request

##### COMPONENT NAME
 - UI

##### AWX VERSION
- 19.3.0

[2021-09-27 15:51] #11144 closed, assigned to nobody

[2021-09-27 15:54] sebthebert opened #11146 "Isolated nodes in AWX 19.x ?"
### Discussed in https://github.com/ansible/awx/discussions/11131

<div type='discussions-op-text'>

<sup>Originally posted by **sebthebert** September 24, 2021</sup>
Hello,

we were using isolated nodes feature in AWX 17.x.

This feature seems to be missing in AWX 19.x.
And we didn't see anything about that breaking change in [AWX Changelog](https://github.com/ansible/awx/blob/19.3.0/CHANGELOG.md

[2021-09-27 17:00] #6302 closed, assigned to nixocio

[2021-09-27 17:55] yurtesen commented on #10749
But is it? I am still getting it?

[2021-09-27 17:59] ffirg commented on #10749
This message refers to the fact that you are running the upstream always-in-development version.

[2021-09-27 18:16] ygiri1 commented on #7859
+1 it would help alot

[2021-09-27 19:09] sdktr commented on #10219
We experience the same issue during an inventory plugin run. This plugin runs for >45 minutes (it is a BIG inventory with lot of slow backend calls) and fails with the same error as above.
Any hints on how to troubleshoot this? The automation-pod that's spun of on the k8s cluster, should we start there or are detailed loggins available within the awx-ee pod for example?

[2021-09-27 19:21] sdktr commented on #10219
Maybe we hit an error on the stdout? Our plugin by-design only spilts out data after the plugin succeeds, which can take quite a while of no-traffic to the console/stdout. I noticed @vzovko mentions things go southways when hanging on a long 'wait_for' task..

[2021-09-27 20:53] tiagodread opened #11150 "Dynamic variables not translated by lingui"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-27 20:58] #10822 closed, assigned to kialam

[2021-09-27 21:10] yurtesen commented on #10749
Where do I find the setting to change it? and why is `latest` is an always-in-development version? shouldn't the `devel` be in development instead?
![image](https://user-images.githubusercontent.com/1926599/134985737-e277a7cf-4124-4e90-878d-2da6e54d4aab.png)

[2021-09-28 05:17] PC-Admin commented on #5165
Sorry i don't have record of these failing, it has been a while.

[2021-09-28 08:20] stefanpinter opened #11152 "Jobs failed - Error creating pod - connection refused"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-28 08:44] ffirg commented on #10749
The development version warning is referring to the ansible-core version being run, not AWX or the EE.
AWX is *always* in development, there is no such thing as stable/main/latest.
The awx-ee:latest is just a container image tag.

[2021-09-28 09:52] dhikrahashim opened #11153 "Teams should have admin access to an ORG and they should have admin access to template,projects,inventory(RBAC)"
The issues which I am talking about is something we are facing when we are managing RBAC using API (awx.awx.role)

##### ISSUE TYPE
 - Teams should have admin access to an ORG and they should have admin access to  template,projects,inventory

##### SUMMARY
 Instead of giving execute permission to teams, teams should have admin access to ORG
As of now we have to give template,project and inventory

[2021-09-28 10:54] vzovko commented on #10219
Our issue has been resolved. It turned out that there was a cronjob restarting the whole Kubernetes clusters periodically for whatever reason.

During the investigation of this issue two parallel running job pods were killed at the same time. This lead us in the right direction into finding the cause.

There was nothing of interest logged in the stdout of the running pods when they got killed, jus

[2021-09-28 14:53] Kaauw opened #11159 "LDAP Connection fail after user logout"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-28 16:18] nlvw commented on #11051
I'm seeing this issue on the latest 19.X.X but it only started happening once our job ID number exceeded 10k.

[2021-09-28 16:56] nlvw commented on #5789
@AlanCoding I saw that your code was merged but this doesn't seem to work in 19.3.0 when setting it in ansible.cfg.

I was hoping to use this to get around a combinations of bugs that completely break AWX (#10489 and  #9961).  If the selective callback can be used then the actual logging can be offloaded to [ARA](https://github.com/ansible-community/ara) while AWX just shows failures and a summary

[2021-09-28 16:59] AlexSCorey commented on #11103
@mabashian  and @gamuniz spoke about this some time ago and decided not to surface these values to the UI.  @gamuniz is that still your suggestion?

[2021-09-28 17:01] gamuniz commented on #11103
If the setting is only read/write for system administrator, it would be good rather than having to send the same request to the api. Though this setting is expected to be set to never at some point in the future.

[2021-09-28 18:20] fosterseth commented on #11101
https://github.com/ansible/awx/pull/11133

[2021-09-28 21:46] oliverf1 commented on #10366
I'm facing the same issue and for me it's definitely caused by the amount of log. If run my template with normal verbosity everything is fine, but if I switch to debug then it fails.
Same as some others, the job logs stop, both in the UI and in the container, but the playbook continue to run on the target host.
However I found that using the image `quay.io/ansible/awx-ee:devel` (July 30th 2021) in

[2021-09-29 00:46] rezaa1 commented on #8310
Any one had a luck with this?

[2021-09-29 07:21] jdi1983 commented on #9747
Do there is a recommanded Web Browser for AWX ?
I'm using FireFox 78.14.0esr

[2021-09-29 08:12] yurtesen commented on #10749
@ffirg I am not sure if I understand. If the warning is related to ansible-core version. Why would the AWX not having "stable" matter? There is ansible-core stable. Are you saying there are no EE images with stable ansible-core provided? That I did not know...

If that is the problem. I guess the real question is then how can one use a different EE for controlplane ? I used docker-compose method d

[2021-09-29 08:23] Bitos33 commented on #9926
Thank you for the proposition @AleksejEgorov
I will try this out, as I lost the postgresql pod once again today

[2021-09-29 09:03] Lee-Kwang opened #11162 "The job is not transmitted to the container group in private cloud"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-29 09:27] WimpyMan commented on #8100
This is an issue that we are facing as well.

[2021-09-29 09:49] rbicker commented on #11051
I can confirm this is also the case for our issue. I have lowered the AUTO INCREMENTATION for the jobs in the db (don't do that in production!) - `ALTER SEQUENCE main_unifiedjob_id_seq RESTART WITH 500;`

After that, the issue is gone. So our issue really seems to be connected to #10489.

Does anyone know of a "safe way" to remove all job runs and reset the counter as a workaround for now?

[2021-09-29 09:56] danflaviuscioara commented on #7667
Hello, is this issue being addressed? I see it is considered a feature request.... since I update my settings and the user permissions appear to be the same, I say it is a bug....

[2021-09-29 10:48] ffirg commented on #10749
We use elements of ansible throughout the AWX platform. These can be in various versions/states. Just because there is a 'stable' released version of that component does not mean AWX is stable. It never is, it is the upstream, always being refactored/changed. This message simply reflects that.

To change the control plane, you will need to figure out how to build. We do not allow changes to the co

[2021-09-29 12:13] rbicker commented on #10489
FYI, I have encountered an issue #11051 which I found to be connected to this one. From what I found the issue occurs for jobs with IDs > 9999 that use ssh keys with passphrases only in our case. It is happening because the jobs are indefinitely waiting for the passphrase. When I manually inject the passphrases, the jobs proceed. Maybe this helps further troubleshoot the issue.