[2020-06-04 15:01] nixocio commented on #5910
Since #5909 is completed removing the `blocked` label.

[2020-06-04 15:04] nixocio commented on #5819
See also: https://github.com/ansible/awx/issues/5910

[2020-06-04 15:09] wsengkhyavong1 commented on #7246
I have exact same error message, just now.

[2020-06-04 15:30] davidanet2002 commented on #7246
I am getting the same error on 3 different fresh installs:  Centos 7 , Centos 8 , and ubuntu 20

[2020-06-04 15:32] iamraj007 opened #7251 "AWX Container fail to start, pull access denied for ansible/awx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2020-06-04 15:35] a-tyler commented on #7246
Same here.
Arch Linux 5.6.15-arch1-1 #1 SMP PREEMPT Wed, 27 May 2020 23:42:26 +0000 x86_64 GNU/Linux

[2020-06-04 15:37] wsengkhyavong1 commented on #7246
Any idea how to fix this error message?

[2020-06-04 15:40] iamraj007 opened #7252 "AWX Container fail to start, pull access denied for ansible/awx ; Error starting project 404 Client Error: Not Found (\"pull access denied for ansible/awx, repository does not exist or may require 'docker login': denied: requested access to the resource is denied"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version:   11.2.0 (git clone code on 04 June 2020)
* AWX install method:  docker(Docker version 19.03.11) on Linux (AWS Centos)
* Ansible version:  2.9.9
* Operating System: CentOS Linux release 7.7.1908 (Core)
* Web Browser: N/A

##### STEPS TO REPRODUCE

Clone the AWX official repo (https://github.com/ansible/awx.git)
run:  a

[2020-06-04 15:47] iamraj007 commented on #7252
For clarification i am able access docker image in question without any login and i am using compose.yml to run this.

REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
redis               latest              36304d3b4540        6 days ago          104MB
postgres            10                  d92854c53ed1        2 weeks ago         200MB
memcached           alpi

[2020-06-04 16:01] therealrobopablo opened #7253 "500 error after API call"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

We started testing API calls to AWX via ServiceNow. Suddenly we're getting "Invalid search term entered. GET returned: 500 A server error has occurred." when viewing job info after it finishes. Job monitoring works fine while job is running. It seems to be not affecting jobs that fail.
We've been using an external PSQL db

##### ENVIRONMENT
* AWX vers

[2020-06-04 16:02] ryanpetrello commented on #7252
duplicate of https://github.com/ansible/awx/issues/7246

[2020-06-04 16:02] #7252 closed, assigned to nobody

[2020-06-04 16:02] ryanpetrello commented on #7251
duplicate of https://github.com/ansible/awx/issues/7246

[2020-06-04 16:02] #7251 closed, assigned to nobody

[2020-06-04 16:04] therealrobopablo commented on #7253
Displaying completed management jobs seem to be OK.

[2020-06-04 16:05] jkim-vcs commented on #7246
Same since yesterday.

[2020-06-04 16:06] shanemcd commented on #7246
Looks like you are tracking the devel branch. Bold move! It's trying to pull an image that doesnt exist yet. This will be fixed in the [next release](https://github.com/ansible/awx/blob/devel/CHANGELOG.md#1200-tbd) (see first item).

Try to check out a specific tag or download a release from the GitHub [Releases](https://github.com/ansible/awx/releases) page.

[2020-06-04 16:06] #7246 closed, assigned to nobody

[2020-06-04 16:06] a-tyler commented on #7246
I just ended up commenting out the dockerhub_base variable in awx/installer/inventory

[2020-06-04 16:10] a-tyler commented on #7246
@shanemcd
The devel branch is the default branch in github and following the documentation provided (https://github.com/ansible/awx/blob/devel/INSTALL.md#getting-started) fails.
Could you maybe suggest which tag is stable, change the documentation for the devel branch, or not set the devel branch as the default?

[2020-06-04 16:13] tikoflano commented on #1182
I think making it just human editable at first would be a great start. Right now th eonly solution is to add the available tags for this playbook on the template's description, which is not great because it is not shown on the LAUNCH modal and is hidden most of the time in the template's list.

[2020-06-04 16:17] shanemcd commented on #7246
@a-tyler It appears maybe the documentation isnt clear enough:

[code]

The command is doing `-b x.y.z` ... you should replace it with the latest release found at the link in the text above.

[2020-06-04 16:19] a-tyler commented on #7246
Thanks for the clarification. Don't know how I missed that.

[2020-06-04 16:20] tikoflano opened #7254 "Show template description on launch"
##### ISSUE TYPE
 - Show template description on launch modal

##### SUMMARY
Would be great to be able to see the template's description on the launch modal (first page). This would allow us to show some usefull information to whom is running the playbook:

- What the playbook does. This is partially covered when using the Extended list view for the templates. But the formatting is not great and i

[2020-06-04 16:44] jkim-vcs commented on #7246
I followed an instruction I found online and used the command below.  Does this not get the latest stable version?

git clone --depth 50 https://github.com/ansible/awx.git

I see what's going on now.  Thanks!  I'm new to git/docker/awx as you can tell.

[2020-06-04 17:31] davidanet2002 commented on #7246
so using the -b 11.2.0 did allow the containers to start atleast.  finishing up.

[2020-06-04 18:31] #6859 closed, assigned to nixocio

[2020-06-04 18:31] #6887 closed, assigned to nixocio

[2020-06-04 18:49] mabashian opened #7256 "Implement `Replace` functionality for credential passwords"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="517" alt="Screen Shot 2020-06-04 at 2 43 46 PM" src="https://user-images.githubusercontent.com/9889020/83798242-f9c25800-a671-11ea-8ab8-58b0583e82b7.png">

In the old UI, password fields in the credential subform are disabled on edit and we force the user to click this replace button in order to enable it and make a change.

@wenottingham

[2020-06-04 18:52] mabashian commented on #6113
This can probably be combined with https://github.com/ansible/awx/issues/6703

[2020-06-04 18:52] mabashian commented on #6703
This can probably be combined with https://github.com/ansible/awx/issues/6113

[2020-06-04 19:04] #7016 closed, assigned to nixocio

[2020-06-04 20:03] mabashian commented on #7256
Actually @jakemcdermott brought up a good point - maybe this button is used to remove a value from the field if necessary.  Not all the password fields are required so there is a use case for needing to remove a password but not replace it.

[2020-06-04 21:24] kaf3773 opened #7259 "Install fails because there is no awx image on docker hub"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

As a result of the change made yesterday of

"Moved to a single container image build instead of separate awx_web and awx_task images. The container image is just awx (https://github.com/ansible/awx/pull/7228)"

This causes the install to fail for those of us using dockerhub because there are no images there yet for awx.

Appreciate if this can be res

[2020-06-04 21:42] wenottingham commented on #7092
Those would never be in an activity stream entry anyway, to the best of my knowledge. We'd have to create a new structure for that.

[2020-06-04 21:51] wenottingham commented on #7259
see https://github.com/ansible/awx/issues/7246

[2020-06-04 21:51] #7259 closed, assigned to nobody

[2020-06-04 21:58] davidtluong opened #7260 "awx-cli changing HTTP method from PUT to POST"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx-cli modify changes header from put to post for `notification_templates`.  POST does not seem like a valid action for a `notification_templates` object.

These are the actions allowed on it:
[code]
##### ENVIRONMENT
* AWX version: Tower 3.6.4
* AWX install method: Ansible Tower

##### STEPS TO REPRODUCE
Use modify on awx-cli on a notification_templa

[2020-06-04 23:27] angelocustodio opened #7263 "Problem with installation"
##### ISSUE TYPE
 - Bug Report
    - Problem with installation
##### SUMMARY

- Problem with installation

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method:  docker on linux
* Ansible version:  ansible 2.9.9
* Operating System: Centos 7 e 8
* Web Browser: google chrome

##### ADDITIONAL INFORMATION

TASK [local_docker : Start the containers] *************************************
fatal:

[2020-06-05 00:34] wenottingham commented on #7263
see #7246

[2020-06-05 00:34] #7263 closed, assigned to nobody

[2020-06-05 03:28] chendelin1982 commented on #7246
I'm running into the same issue since yesterday

[2020-06-05 03:33] sbuvaneshkumar commented on #7213
@ryanpetrello I am using the latest version, downloaded via pip3.
[code]
I don't see either `--monitor` or `awx jobs monitor` works:
[code]
[code]

[2020-06-05 06:04] pravalli0630 commented on #7246
I'm running same issue since yesterday

[2020-06-05 07:33] the02 opened #7264 "Mattermost Notification fails on latest release"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Trying to send a (test) notification to a Mattermost Channel fails with
[code]
##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: CentOS 7.8
* Web Browser: Chrome,Chromium,Firefox
* Mattermost Server Version: 5.22.1

##### STEPS TO REPRODUCE
- Create an incomming webhook
- Create

[2020-06-05 10:58] anxstj opened #7266 "client failed to authorize against the broadcast endpoint."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

[code]

The url is reachable from inside the awx_web container (without tls verification):
[code]

This is a clustered docker setup. Where each node has a unique UUID.

How can I debug this connection problem?

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker
* Ansible version:  2.9.7
* Operating System: Debian 10
* Web Browser: Fi

[2020-06-05 12:05] AlanCoding commented on #7253
Most likely case here is that the callback receiver saved 3 duplicates of the playbook_on_stats event for the job.

https://github.com/ansible/awx/blob/4b02e4ab57f22017c80b3c2b29feaa64da486d70/awx/api/serializers.py#L1517

Could you try to confirm or deny this by going to `/api/v2/project_updates/27792/events/?event=playbook_on_stats` in your browser?

[2020-06-05 13:54] therealrobopablo commented on #7253
Here;s the output on that. However I just realized this was maybe not the best example since it wasn't a workflow job, which is what's happening. I'll do the same with one that's more appropriate
HTTP 200 OK
Allow: GET, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept
X-API-Node: awx
X-API-Product-Name: AWX
X-API-Product-Version: 11.2.0
X-API-Time: 0.024s
X-UI-Max-Events: 4000

{
    "cou

[2020-06-05 14:24] AlanCoding commented on #7253
This information certainly raises my interest.

Do you have any more information about the structure of the API calls that caused this? Did they hit `/api/v2/jobs/N/launch/`? Are the other events duplicated too (if you take off the `event=playbook_on_stats` filter, do you see 3 of each)? Is there anything else you did that might be relevant for replicating this?

[2020-06-05 14:38] kedark3 opened #7267 "Tower settings fails with stacktrace - expected to exit gracefully"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running awx.awx.settings module throws `AttributeError: 'NoneType' object has no attribute 'startswith'`

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: setup.sh
* Ansible version:  2.9.7
* Operating System: Tower on RHEL, Ansible on Fedora

##### STEPS TO REPRODUCE

[code]
Data:
[code]

##### EXPECTED RESULTS

Error should be more helpf

[2020-06-05 14:41] dalston commented on #4486
Yes!  This would be a great feature!
We're using Radius for authentication and I would like to script assigning admin credentials to a couple users with their Radius/Token password.

[2020-06-05 15:13] therealrobopablo commented on #7253
I've asked for a complete API call.

GET /api/v2/project_updates/27792/events/
HTTP 200 OK
Allow: GET, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept
X-API-Node: awx
X-API-Product-Name: AWX
X-API-Product-Version: 11.2.0
X-API-Time: 0.044s
X-UI-Max-Events: 4000

{
    "name": "Project Update Events List",
    "description": "# List Project Update Events for a Project Update:\n\nMake a GE

[2020-06-05 15:17] sumkincpp commented on #7267
You are using module incorrecly. See documentation at the top of module source.
Either `name + value` or `settings` properties should be used.

Perhaps, you mean:
[code]
or

[code]

Latest devel already have a requirement for one use case, though type for input value is not explicitly checked to be string.

https://github.com/ansible/awx/blob/devel/awx_collection/plugins/modules/tower_settings.py

[2020-06-05 15:27] wenottingham commented on #7092
This also isn't done for jobs, as far as I know. This is best done outside of the activity stream.

[2020-06-05 15:27] #7092 closed, assigned to nobody

[2020-06-05 15:28] wenottingham commented on #7193
The old workflow modules are deprecated, see the docs for details.

In any case, these vendored collections are mostly for AWX internal use for inventory, and if you have specific playbook requirements, you should manage your own dependent collections for that purpose.

[2020-06-05 15:28] #7193 closed, assigned to nobody

[2020-06-05 15:40] wenottingham commented on #7195
see https://github.com/ansible/awx/issues/5453

[2020-06-05 15:40] #7195 closed, assigned to nobody

[2020-06-05 15:46] wenottingham commented on #7243
Can you grab the server error from the logs?

[2020-06-05 15:46] trahman73 commented on #7256
After our internal discussion, it seems we would want to carry over the same UX. Just want to make sure we have tooltips with explanation over the action icons. @wenottingham can let us know if this needs to be part of the initial release.

[2020-06-05 15:49] wenottingham commented on #7231
`meta: refresh_inventory` is not supported when running playbooks in AWX.

Due to the way inventory is handled (saved in the database for all uses of that inventory, and retrieved before running the playbook), it isn't practical.

The inventory update is done entirely outside of the ansible-playbook invocation.

[2020-06-05 15:49] #7231 closed, assigned to nobody

[2020-06-05 16:06] jakemcdermott commented on #7243
[code]

[2020-06-05 16:14] therealrobopablo commented on #7253
Here's an API output of the workflow template and the resulting jobs:
GET /api/v2/workflow_jobs/27807/
{
    "id": 27807,
    "type": "workflow_job",
    "url": "/api/v2/workflow_jobs/27807/",
    "related": {
        "created_by": "/api/v2/users/3/",
        "modified_by": "/api/v2/users/3/",
        "unified_job_template": "/api/v2/workflow_job_templates/71/",
        "workflow_job_template": "/

[2020-06-05 16:23] wenottingham commented on #7266
This is not a supported deployment mode of the application, and that's likely where you're having an issue. Supported cluster deployments are k8s and OpenShift only.

You'd need to handle the setup to enable this with however you're doing the clustered docker setup.

[2020-06-05 16:23] #7266 closed, assigned to nobody

[2020-06-05 16:24] wenottingham commented on #7267
Marking as low, it's an incorrect invocation, but we may consider a nicer error.

[2020-06-05 16:28] wenottingham commented on #7212
Closing as a duplicate of #1126, as that is the easiest way to solve this for an org (disable personal credentials, and only give credential creation to specific users).

[2020-06-05 16:28] #7212 closed, assigned to nobody

[2020-06-05 16:32] anxstj commented on #7266
Nevermind. I found the issue. The two nodes had a different `BROADCAST_WEBSOCKET_SECRET` in the `/root/.awx/awxcompose/credentials.py`.

I Should have deployed both nodes in the same run.

[2020-06-05 16:47] wenottingham commented on #7253
see also https://github.com/ansible/awx/issues/6982

[2020-06-05 17:08] therealrobopablo commented on #6982
How did you clean up the data?

[2020-06-05 17:09] therealrobopablo commented on #7253
I saw that when I was initially researching. It 'ed me down a good path, but didn't tell me a solid way to fix it. I'm not a DBA so monkeying with the DB is daunting...

[2020-06-05 17:30] kedark3 commented on #7267
@wenottingham @sumkincpp I am aware that the invocation was wrong and I know the correct way but I pasted wrong version here so that you can see how to reproduce that error. Thanks.

[2020-06-05 17:40] sbuvaneshkumar commented on #7213
I see `--monitor` option can be used only upon launching the job, for existing job, it won't work.

[2020-06-05 17:52] therealrobopablo commented on #7253
Here's an example API POST command:

http://AWX_SERVER/api/v2/workflow_job_templates/71/launch/

{
"extra_vars": {
   "hostname":"testvm1000",
   "ip_address":"xxx.xxx.xxx.xxx",
   "location":"xxx.xxx.xxx.xxx",
   "resource_type":"virtual",
   "platform":"x86",
   "device_class":"linux",
   "operating_system":"rhel_7",
   "cpu":2,
   "memory":8192,
   "storage":[10, 10, 10],
   "resource_function"

[2020-06-05 18:43] sivabgl commented on #7246
change it in the inventory file
#ansible/awx_tasksud
#dockerhub_base=ansible
 will work

[2020-06-05 18:43] sivabgl commented on #3956
change it in the inventory file
#ansible/awx_tasksud
#dockerhub_base=ansible
 will work

[2020-06-05 19:43] shanemcd commented on #7246
You _can_ build from source, but just know that this is inherently risky. Bugs are being introduced and fixed between releases, and any given commit is a roll of the dice. I would caution you to do what's mentioned at the top of INSTALL.md, as mentioned here: https://github.com/ansible/awx/issues/7246#issuecomment-638959578

[2020-06-05 21:32] kaushik4r commented on #5224
I still come across this issue while using AWX 11.2.0.

I'm trying to run the pod not using privileged SCC and setting the below within the deployment config of the awx pod -
`      securityContext:
        allowPrivilegeEscalation: false`

The pod comes up just fine, however the SCM update job fails with the below error -

`bwrap: Creating new namespace failed, likely because the kernel does not

[2020-06-05 22:29] jladdjr commented on #7031
The fix for this just got in. (cc @kdelee)

[2020-06-05 22:34] jladdjr commented on #7225
* Just merged a change that pins awx to the 0.8.1 version of the foreman collection (that was released this morning), and
* .. confirmed that 0.8.1 includes the [fix for host_filters ](https://github.com/theforeman/foreman-ansible-modules/pull/823)

[2020-06-05 22:34] jladdjr commented on #7225
cc @kdelee

[2020-06-06 12:50] staranto opened #7274 "Launching a job with API fails to override extra_vars"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Launching a template where `ask_variables_on_launch = true`.  The extra_vars payload I pass in via `curl --data` does not override the default values from the template.

##### ENVIRONMENT
* AWX version: 3.7.0
* Ansible version:  2.9.1
* Operating System: RHEL

##### STEPS TO REPRODUCE

`/api/v2/job_templates/336` returns
[code]

The template is launch

[2020-06-06 17:23] AlanCoding commented on #7253
What do you mean by "templated jobs"? Jobs from job templates should show in the jobs list in the UI. Do you mean that you get the error when you click on the link for a specific job run?

[2020-06-07 05:15] Tovli commented on #7191
This is related to:
https://github.com/ansible/awx/pull/7249

[2020-06-07 14:37] therealrobopablo opened #7275 "container start fails behind proxy"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
launching AWX install fails with a TLS error. Server is behind company firewall. Strangely, it worked fine last month.

##### ENVIRONMENT
* AWX version: 11.0.0
* AWX install method: docker on linux
* Ansible version:  2.95
* Operating System: CentOS7
* Web Browser: Chrome, EDGE

##### STEPS TO REPRODUCE

Clone repo, launch installer

##### EXPECTED RES

[2020-06-07 14:49] therealrobopablo commented on #7253
I click on the "JOBS" tab and click on the complete workflow job, it opens and shows job details. If I then click on the jobs associated with the workflow, it throws the 500 error. That also happens if I click the job itself on the Jobs tab. I'll add some screen shots.

The other weird thing is I can watch the jobs as they run. This only happens after completion. The jobs do complete though.

![im

[2020-06-07 18:07] rads18 opened #7276 "Refresh Inventory with Workflow"
##### ISSUE TYPE

- Feature Idea
 - Documentation

##### COMPONENT NAME

 - UI

##### SUMMARY
This is more like a consult on a scenarios i am working on, i could not get a response anywhere. So hoping to get some feedback on my approach.

I have automation that pulls large host data/meta data from an API and then parses and creates a json.  Then there is a parser role(that lookup that json) that a

[2020-06-07 22:37] lshake opened #7277 "tower_settings merge or facts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The awx collection module tower_settings should either support a merge option, or provide a tower_settings_facts module.  Currently for list types there appears to be no way to ensure a single list item is present or to retrieve the information without calling the api.

[2020-06-08 03:31] stoolrossa commented on #7139
I tested the above suggested change and this did resolve the issue occurring in our Tower installation.

The comment about it affecting more than just sumologic collectors would seem correct - we had been testing with "other" as the Logging Aggregator Type as well, for which both seem to use the omhttp module in rsyslog, which seems to use curl under the covers.  My assumption is that any external

[2020-06-08 05:09] balaramr commented on #2830
Mail notification is not working in AWX 11.2.0 but same configuration is working in AWX 6.0.0

**ERROR:** **Email Notification: Notification failed.
[Errno 111] Connection refused**

`ansible 2.9.9
  config file = None
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.6/site-packages/

[2020-06-08 06:20] anxstj opened #7278 "OSError: [Errno 90] Message too long"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The awx_task container logs a traceback:

[code]
I stumbled on it while examining the logs and found it worth reporting.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method:docker
* Ansible version:  2.9.7
* Operating System: Debian 10
* Web Browser: Firefox 75

##### STEPS TO REPRODUCE

Actually I don't know how to reproduce this.

##### EX

[2020-06-08 09:46] eeepmb commented on #7246
Thanks for the quick response and clarification!

Just one last question: Does this mean it was rather random luck that the installation worked the other day without specifing the branch/release?

[2020-06-08 11:08] stuartluscombe commented on #885
@daniego Is that layout something you've successfully used in AWX? If so, how?

[2020-06-08 13:13] unlikelyzero commented on #5881
Assigning this to myself to test

[2020-06-08 13:18] AlexSCorey commented on #7102
completed by https://github.com/ansible/awx/pull/7183

[2020-06-08 13:18] #7102 closed, assigned to dsesami, AlexSCorey

[2020-06-08 13:53] unlikelyzero opened #7279 "Cannot Sort by Name of Schedule on WFJT Schedules list"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cannot Sort by Name of Schedule on WFJT Schedules list

##### ENVIRONMENT
* AWX version: 11.0

##### STEPS TO REPRODUCE
1. Create two schedules for a WFJT
2. On the WFJT Schedules tab, click the sort button

##### EXPECTED RESULTS
Expect the order of Schedules to sort by alphabetical order

##### ACTUAL RESULTS
Nada

##### ADDITIONAL INFORMATION
The UR

[2020-06-08 13:53] unlikelyzero commented on #7279
Note: need to add this testcase when state:needs_test

[2020-06-08 14:21] apollo13 commented on #7264
This was broken and fixed in upstream (mattermost) https://github.com/mattermost/mattermost-server/commit/beadeaf8b56f9c4e33e70069e55e5cdf12981cf6 -- But might take a while to go into a release.

Apparently AWX sends the wrong (or no) content-type

[2020-06-08 14:34] apollo13 commented on #7264
@wenottingham I have attached a PR #7280 which fixes it for me.

[2020-06-08 15:38] ajitkumartanwade opened #7282 "Workflow_job event should have schedule reference"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, the events received after the execution of the scheduled workflow job not showing any reference to schedule. Please see below screenshots.

Schedule event:
{
            "object2" => "",
            "changes" => {
        "enabled" => [
            [0] false,
            [1] true
        ]
    },
     "summary_fields" => {

[2020-06-08 15:41] ryanpetrello commented on #7191
@Tovli,

https://github.com/ansible/awx/pull/7214/

[2020-06-08 15:46] ryanpetrello commented on #7213
@sbuvaneshkumar,

[code]

This is a Red Hat Ansible Tower version, which is downstream of AWX (and likely doesn't have this feature yet, as it was merge fairly recently):

https://github.com/ansible/awx/pull/6790

If you want to use this, you'll need to wait for Red Hat to release it in their downstream product.

The latest released AWX (11.2.0) *does* have this support:

https://github.com/ansibl

[2020-06-08 15:49] Tovli commented on #7191
Thanks. So we should see it in version 12.
That's great.
Any date/month that you plan to release this version in?

[2020-06-08 15:51] wenottingham commented on #7274
This is an Ansible Tower version string (and mentions Tower).

This repo is for AWX issues and similar upstream feature requests; if you're having issues with Ansible Tower, please contact your Red Hat support rep.

[2020-06-08 15:51] #7274 closed, assigned to nobody

[2020-06-08 15:54] wenottingham commented on #7282
Can you describe what you're looking for here a little better?

[2020-06-08 15:56] ajitkumartanwade commented on #7282
If you see the workflow job event, it is not showing any reference to schedule.

In the above example, "object1" => "workflow_job", should have reference to "id" => 8 and
"name" => "Ajit SCH test" as it is triggered by this schedule

I hope this is clear or let me know if you need more information

[2020-06-08 15:57] wenottingham commented on #7276
`meta: refresh_inventory` is not supported in AWX. You'd have to do an AWX inventory refresh.

(Also, those look like Ansible Tower version numbers. If you're having issues with Ansible Tower, you should contact your Red Hat support rep.)

[2020-06-08 15:57] #7276 closed, assigned to nobody

[2020-06-08 15:58] wenottingham commented on #7275
That error is coming from either dockerhub itself, or from a proxy that sits between you and dockerhub. There's not much we can do in the installer here.

[2020-06-08 15:58] #7275 closed, assigned to nobody

[2020-06-08 16:03] ajitkumartanwade opened #7285 "Notification received after successful workflow execution should have schedule reference"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When we receive the notification after successful workflow execution, it should have schedule reference as well because it was triggered by the schedule

Below details received as notification.
{
    "id": 10470,
    "name": "Ajit test workflow",
    "url": "https://towerhost/#/workflows/10470",
    "created_by": "awxadmin",
    "started": "2020-06-0

[2020-06-08 16:04] wenottingham commented on #7282
Do you see that with a non-workflow job launch from a schedule?

[2020-06-08 16:15] ajitkumartanwade commented on #7282
Not getting it for "object1" => "job" as well.

[2020-06-08 16:41] eholz1 commented on #3551
Hello All - we have this issue still - but I am confused (still!)
We want a local install. I have modified the inventory file to put pg_docker and awxcompose in their own folder, and NOT in the root/.awx path. The inventory file I am using is 3 weeks old, and has NO refs for any variable referencing the /tmp directory. It does ref the /root/.awx dir.  I changed those directories to /AWX/ etc - Whe

[2020-06-08 16:55] ryanpetrello commented on #7278
I'm betting this is due to our usage of a local domain socket and max packet size for `SOCK_DGRAM`.  Probably you've got events periodically that are _really_ large (fact data, perhaps).

[2020-06-08 16:58] ryanpetrello commented on #7278
One approach here is to just use TCP, but we didn't do that because we didn't want to have to deal with connection security.

Maybe we could detect this type of situation and automatically attempt to truncate the message?  Though, I could see that upsetting external log aggregators that relied on e.g., _valid JSON_.  Or perhaps we could chunk the message ourselves.

[2020-06-08 17:07] rads18 commented on #7276
Hi Wenottingham,
Can you elaborate what do you mean by meta: refresh_inventory is not supported in AWX ?
I am using it on these version listed above without issue

Also works on one of my test dev instance
AWX 7.0.0.0
Ansible 2.8.4

https://docs.ansible.com/ansible/latest/modules/meta_module.html

Thanks

[2020-06-08 17:27] #7264 closed, assigned to nobody

[2020-06-08 17:36] wenottingham commented on #7282
What version of AWX?

[2020-06-08 17:49] rads18 opened #7288 "Ephemeral Inventory"
##### ISSUE TYPE
 - Feature Idea
Ability to create ephemeral inventory during play run.
Also be able to use that as a job template in a workflow to provide as inventory source for the following templates.

##### SUMMARY

I have been using meta: refresh_inventory which allowed me to create ephemeral inventory during the play run. Based on recent response from from Bill https://github.com/ansible/aw

[2020-06-08 17:55] kdelee commented on #7139
Verified that the problematic `==` is now allowed in the URL by setting the following:
![Screenshot from 2020-06-08 13-55-24](https://user-images.githubusercontent.com/29239279/84063880-bd536c80-a98f-11ea-825c-53accf36b939.png)

Then in Settings file this is properly conserved: in `/var/lib/awx/rsyslog/rsyslog.conf`

[code]

[2020-06-08 17:55] #7139 closed, assigned to kdelee

[2020-06-08 17:57] Lobout opened #7289 "Install Fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
11.2 fresh install fails

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method:  docker on linux
* Ansible version:  ansible 2.9.9
* Operating System: Redhat Linux 8
* Web Browser:

##### STEPS TO REPRODUCE

run:  ansible-playbook -i inventory install.yml

##### EXPECTED RESULTS

successful install

##### ACTUAL RESULTS

ok: [localhost]

TASK [

[2020-06-08 18:01] ryanpetrello commented on #7289
dupe of https://github.com/ansible/awx/issues/7246

[2020-06-08 18:01] #7289 closed, assigned to nobody

[2020-06-08 18:09] wenottingham commented on #7288
Due to how inventory is passed to templates, runner, and the ansible process, this is not really practical in how things currently work.

It is simpler in the short and medium term to utilize the awx.awx collection and essentially 'poke' the inventory into the API for a later run.

If you insist on passing data from template to template, and want to use that as an inventory, you'd use set_stats to

[2020-06-08 18:09] #7288 closed, assigned to nobody

[2020-06-08 18:35] ryanpetrello commented on #7191
Hey @Tovli,

Probably somewhere in the coming weeks.  I'd say "likely by the end of June".

[2020-06-08 19:07] ryanpetrello commented on #7260
Hey @rh-dluong,

`awx-cli` is deprecated, and no longer supported:

https://github.com/ansible/tower-cli

Give the new official AWX CLI a shot instead:

https://github.com/ansible/awx/blob/devel/INSTALL.md#installing-the-awx-cli

[2020-06-08 19:07] #7260 closed, assigned to nobody

[2020-06-08 20:27] #7232 closed, assigned to AlexSCorey

[2020-06-08 21:00] sbuvaneshkumar commented on #7213
Thanks for the links :), I was able to install AWX 11.2.0 version and able to use the monitor option.

[2020-06-08 21:47] therealrobopablo commented on #7275
Yes, thanks! I found the "fix" here.
https://github.com/docker/for-linux/issues/415

There were no changes on the server side, but fro some reason it happened. :(  I applied the settings in the link and it came up.  Thanks!

[2020-06-09 04:22] ajitkumartanwade commented on #7282
11.0.0

[2020-06-09 07:30] zdriic opened #7294 "AWX 11.2.0 can't access to the UI"
##### ISSUE TYPE
 - Documentation ?

##### COMPONENT NAME
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: kubernetes on docker
* Ansible version:  2.9.5
* Operating System: ubuntu
* Web Browser: Firefox 77.0.1

##### STEPS TO REPRODUCE

Hi

I try to deploy AWX 11.2.0 with Kubernetes the deployment seems to be OK but I have an issue when I try to access to the UI

[2020-06-09 08:39] vdealba commented on #7133
Hi team,
I have exactly the same issue. Any update?

[2020-06-09 12:43] ryanpetrello commented on #7294
Hey @zdriic,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, your topic you created on the mailing list is the best place to get it.

[2020-06-09 12:43] #7294 closed, assigned to nobody

[2020-06-09 13:29] spisakni opened #7295 "504 upstream uwsgi timeout - Testing external credential - Cyberark AIM"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Receiving 504 upstream uwsgi timeout when testing a CyberArk AIM external credential. The web pod has connectivity to the CCP infrastructure and validated from the web pod via curl with the client cert, key, and REST endpoint. When running from the AWX UI I see the following in the web log after the nginx timeout expires. Left all defaults as installed

[2020-06-09 14:41] wenottingham opened #7297 "Allow customizing how authentication sources appear on the login dialog"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Allow setting a custom description and/or icon.

[2020-06-09 14:43] ryanpetrello commented on #7295
Hey @spisakni,

I think what you're encountering is a duplicate of https://github.com/ansible/awx/issues/6986

It should be resolved in the next version of awx (which we intend to release in the next day or so).

[2020-06-09 14:43] #7295 closed, assigned to nobody

[2020-06-09 14:54] dsesami commented on #6520
both localhost:3001/api/ and the logout button in the main GUI use GETs, as far as i can tell. logout does work, but there is an incredibly long load time for anything under the /api/ url. @jakemcdermott can you follow up with me on this one?

[2020-06-09 14:56] dsesami commented on #5880
this should be tested together with https://github.com/ansible/awx/pull/7258 and is in the same PR.

[2020-06-09 15:05] nixocio opened #7298 "Custom Credential Types"
Issue to track work related to Custom Credential Types.

1. Modify routing system to add those new routes. https://github.com/ansible/awx/issues/7301
2. List Custom Credential Types https://github.com/ansible/awx/issues/7324
3. Add Custom Credential Types https://github.com/ansible/awx/issues/7325
4. Edit Custom Credential Types https://github.com/ansible/awx/issues/7326
5. Delete Custom Credentia

[2020-06-09 15:05] ghost opened #7299 "Pull access denied for ansible/awx, repository does not exist or may require 'docker login'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When installing AWX following the manual I get this issue: pull access denied for ansible/awx, repository does not exist or may require 'docker login'. The installer want's to pull from ansible/awx on hub.docker.com but this doesn't exist.

##### ENVIRONMENT
* AWX version: latest
* AWX install method: docker
* Ansible version:  latest
* Operating Syste

[2020-06-09 15:24] dsesami commented on #6520
load times on /api/ are due to something involving websocket proxying that @jakemcdermott is working on and is wholly unrelated. the button works.

[2020-06-09 15:30] ryanpetrello commented on #7299
duplicate of https://github.com/ansible/awx/issues/7246

[2020-06-09 15:30] #7299 closed, assigned to nobody

[2020-06-09 16:05] nixocio opened #7301 "Custom Credential Type Routing Stub"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Stub out the routing and the needed components for Custom Credential Type

[2020-06-09 16:35] elyezer commented on #6045
I was not able to reproduce it after https://github.com/ansible/awx/commit/41014e62b7d6c3d59f692a3ff18bf7b2a7e83ff3 got merged. So we can consider this as being verified.

[2020-06-09 16:44] #6045 closed, assigned to elyezer, AlanCoding

[2020-06-09 17:07] tchellomello commented on #3010
This should be fixed by https://github.com/ansible/awx/pull/7034.

@lparkes could you test it again and let me know works for you? Thanks!

[2020-06-09 17:08] tota45 opened #7303 "Project sync failed git scm"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Project sync job appears to be successful (green output), but "revision" field is not updated with the last commit as expected, Job output stop after the "delete project before update" task :
![image](https://user-images.githubusercontent.com/26538843/84174900-76dd3b00-aa7f-11ea-99e4-018194bcc976.png)
After this "failed" project sync, I can observe, aw

[2020-06-09 18:20] dsesami commented on #6863
@AlexSCorey I've confirmed that the time stamp spacing issue still exists in devel. I'd like to keep this open until that last fix is put in.

[2020-06-09 20:45] davidtluong commented on #7260
Hello @ryanpetrello ,this issue is on awx-cli and not tower-cli, can we please reopen the issue?

[2020-06-09 20:54] ryanpetrello commented on #7260
@rh-dluong,

`/usr/bin/awx-cli` is https://github.com/ansible/tower-cli (just confusingly named)

[code]

If you'd like to use the **new** _official_ awx CLI (which is different from what you're using in your examples, and is a _newer_ component that's part of awx and recent versions of Tower), instructions are here:

https://github.com/ansible/awx/blob/devel/INSTALL.md#installing-the-awx-cli
http

[2020-06-09 21:07] benapetr opened #7307 "DB migration exception when upgrading from v8 to v11.2"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operating System: CentOS 7
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Install 11.2.0 over 8.0.0 - I don't think this can be easily reproduced

##### EXPECTED RESULTS

Flawless update

##### ACTUAL RESULTS

This exception in awx_task contain

[2020-06-09 21:51] davidtluong commented on #7260
Haha, yes, my mistake, the team was just explaining the dizzying nomenclature of tower-cli/awx-cli/awx.  I'll try it out on the newer awx tool.  Thanks!

[2020-06-10 06:24] zdriic commented on #7294
Hi @ryanpetrello
Could you help me on the [topic ](https://groups.google.com/forum/#!topic/awx-project/YqxzjSoMqAE) regarding the deployment of AWX on Kube ?

Thanks ! :)

[2020-06-10 12:00] coudenysj commented on #739
Hi, I would like to reopen this feature request.

We have a lot jobs launched from a small set of job templates, and now the overview page of AWX just shows us the name of the template.

Is it possible to launch a template, and supplying a name for it?

[2020-06-10 12:04] nergalex opened #7309 "Failed to parse azure_rm.yml with auto plugin: 'primary'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Since June 9 10PM UTC, azure inventories cannot be synced

##### ENVIRONMENT
* AWX version: Tower 3.6.2
* AWX install method: linux
* Ansible version:  2.9.9
* Operating System: CentOS Linux release 7.6.1810 (Core)
* Web Browser: chrome

##### STEPS TO REPRODUCE

* Create Azure credential
* Create Inventory and source associated to created Azure creden

[2020-06-10 12:38] ryanpetrello commented on #7307
@benapetr,

Interesting.  This doesn't look like a failure to run migrations, it looks like `awx-manage createsuperuser` and `awx-manage create_preload_data` are running (when they don't need to).

This *could* be a bug in the installer?  Given the warnings above, though, if your install is working, it's _probably_ harmless.

We recently added code that auto-migrates certain tables to use a `bigin

[2020-06-10 12:44] ryanpetrello commented on #7294
Hey @zdriic,

Nothing in particular stands out to me.

This feels like something that could be proxy-related to me.  If you find anything you believe is a bug in the installer while investigating let us know and we'll take a look.

[2020-06-10 13:26] AlanCoding commented on #739
For my alternative proposal, say I have a job that builds or deploys a version of some software, then the job name could be "Build package version 6.2.3". Say it uses standard templating.

That could be done with little to no UI involvement, and would probably be a relatively comfortable idea for many users.

Also, the burden of inputting a new job name _just_ for the purpose of naming a job sound

[2020-06-10 13:27] mo-saeed commented on #7021
@ilijamt this pull request is closed and not merged

[2020-06-10 13:55] dsesami commented on #6589
@AlexSCorey you can close this once you merge #7221

[2020-06-10 13:56] dsesami commented on #5819
this is good to go and merged 👍

[2020-06-10 13:56] #5819 closed, assigned to nixocio, dsesami

[2020-06-10 13:56] roman-vynar opened #7310 "Even better support for Redis"
Recently 🐰 mq and memcached were replaced with Redis and it is a good choice.
However, AWX is using Redis via hardcoded unix socket.

Please add a support for the minimal configuration options such as REDIS_HOST, REDIS_PORT and REDIS_PASSWORD.

Thanks!

[2020-06-10 14:08] ryanpetrello commented on #7310
related: https://github.com/ansible/awx/pull/7247

[2020-06-10 14:09] ryanpetrello commented on #7310
@roman-vynar we've had some conversations about this elsewhere, and this comment captures my gut reaction:

https://github.com/ansible/awx/pull/7247#pullrequestreview-424590540

My feeling is that at some point, our installer might grow support for pointing at redis listening on something other than a unix socket, but that it's probably going to be a "you broke it, you own the pieces" sort of setu

[2020-06-10 14:20] roman-vynar commented on #7310
Thanks, just read it.

Couple of things:
* we run Redis HA heavily in production behind haproxy with TLS
* you can run Redis 6 with native TLS or behind haproxy (overhead is minimal)
* we run a local redis docker container on 127.0.0.1:6379 on many instances and they all have passwords (again due to security reasons)

The main concern is I can't set a password.
But I am sure more people will come

[2020-06-10 14:29] ryanpetrello commented on #7310
`unixsocketperm 777`

🤦 that's a good find - I'll address it now.  Thanks for pointing out this oversight.

[2020-06-10 14:29] nergalex commented on #7309
workaround : comment lines bellow in `azure_rm.py`
impact: loss of information in the inventory

[code]

[2020-06-10 14:59] ryanpetrello commented on #7310
addressed via https://github.com/ansible/awx/pull/7315

[2020-06-10 16:04] gamuniz commented on #7303
@tota45 This feels like an issue that was fixed in 12.0. Are you able to edit the project_update.yml and no_log the delete on update task? That should allow the rest of the playbook to complete.

[2020-06-10 16:38] kdelee commented on #7031
Tested this out manually and it works. Going to work on getting us some regression coverage here, this should be easy to do. Closing as verified will mention issue when I put up PR for tests

[2020-06-10 16:38] #7031 closed, assigned to jladdjr

[2020-06-10 17:02] kdelee commented on #7225
confirmed on awx 12.0.0 this is now working, closing (adding test coverage downstream)

[2020-06-10 17:02] #7225 closed, assigned to jladdjr, kdelee

[2020-06-10 17:55] ryanpetrello commented on #6878
@MarcoV-git @geerlingguy I _think_ this is probably addressed now via awx 12.0.0 (released yesterday).

[2020-06-10 18:39] momcilo78 opened #7318 "Launching large number of workflows can cause playbook runs not being processed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Launching large number of workflows can cause playbook runs  not being processed. In #7136 I reported the performance issue when launching workflows. To "solve" this I came with the cunning plan: use threaded launching. Since I considered to deploy at least 3 awx instances behind the load balancer I wanted to check on how far I can go with a single ins

[2020-06-10 20:00] dsesami commented on #7233
as with #7234 , I'm going to wait for #7235 to do those together.

[2020-06-10 21:24] #7301 closed, assigned to nixocio

[2020-06-11 00:29] mrmibrown opened #7322 "The ability to configure proxy_env per component"
##### ISSUE TYPE
The ability to configure proxy_env per component.

##### SUMMARY
The ability to configure proxy_env per component.  An example use case:
A Tower cluster with no internet access and only Analytics traffic is allowed.

[2020-06-11 06:24] lemmy04 commented on #3557
this seems to be back: I log in, get a 404, and get logged right out.

[2020-06-11 06:54] JestyDS opened #7323 "AWX Web doesnt lockout"
I have AWX 12.0.0 and i was testing the UI functionality. i found that the UI doesnt lockout even after 10-15 wrong password attempt.

[2020-06-11 07:10] lemmy04 commented on #3557
restarted my AWX stack, that fixed it.

[2020-06-11 08:03] Emusp commented on #5792
We really need this feature!
I requested the same feature in https://github.com/ansible/awx/issues/5417

To have your favorite templates you use often, displayed on the dashboard.
It could replace either the _Recently Used Templates_ or _Recent Job Runs_,
which I think is kind of unnecessary information to display. Especially you have lots of activity in AWX.

[2020-06-11 08:20] coudenysj commented on #739
Well yes, it should be optional by default (using the same naming it uses now if you don't supply anything).

Is there anything I can do to help adding this functionality?

[2020-06-11 10:32] Gopinath-G commented on #5331
@wenottingham @tamilbabuece  @awxbot Could you please publish the fix or procedure to isolate this issue
I am also facing same error when i try to install AWX on RHEL7

TASK [local_docker : Create Docker Compose Configuration] *******************************************************************
failed: [localhost] (item=environment.sh) => {"changed": false, "item": "environment.sh", "msg": "Ansible

[2020-06-11 12:45] nixocio opened #7324 "List Custom Credential Type"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add support for list Custom Credential Types

[2020-06-11 12:46] nixocio opened #7325 "Add Custom Credential Type"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add feature to add Custom Credential Type

[2020-06-11 12:48] nixocio opened #7326 "Edit Custom Credential Type"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Edit Custom Credential Type

[2020-06-11 12:49] nixocio opened #7327 "Delete Custom Credential Types"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Delete Custom Credential Types

[2020-06-11 13:31] AlanCoding commented on #7061
Trying to break this up into sub-tasks, @blomquisg @jladdjr. My preferred approach would be to start with some general refactoring. Not all may be required, depending on the tech debt we accept.

General refactoring to pave the way:

 - [x] Remove scripts #6911
 - [ ] Remove the `MemInventory` objects https://github.com/ansible/awx/blob/devel/awx/main/utils/mem_inventory.py, these are old and unne

[2020-06-11 14:48] wenottingham commented on #7323
-> #7132

[2020-06-11 14:48] #7323 closed, assigned to nobody

[2020-06-11 15:33] tota45 commented on #7303
Thanks @gamuniz That's way better. Hope the fix will be applied on 12.0

[2020-06-11 15:34] #7303 closed, assigned to nobody

[2020-06-11 15:39] ryanpetrello commented on #7303
@tota45 @gamuniz I suspect this is the issue you're referring to?

https://github.com/ansible/awx/pull/6910
https://github.com/ansible/awx/commit/bf65b40241d60e99e49b3109a33c26f26cd418ec

If so, this fix *is* in 12.0.0.

[2020-06-11 15:51] ryanpetrello commented on #7309
Hey @nergalex,

It looks like you're using Red Hat Ansible Tower; this issue tracker is for the open source AWX project.  If you need support for Tower, please reach out to a Red Hat support representative.

[2020-06-11 15:51] #7309 closed, assigned to nobody

[2020-06-11 18:09] kdelee opened #7329 "import/export modules"
##### ISSUE TYPE
 - Feature Idea

Add to the tower collection modules that perform import/export type things.

## Open Questions:
- currently CLI always updates --- that's not the ansible way, what do we want to do to fix this?
  - check if object of same name exists and not update unless `force: true`
  - OR....more granular check if sub items have changed, this would be more work

needs more fle

[2020-06-11 18:27] AlanCoding commented on #7329
@john-westcott-iv already has some material for this.

[2020-06-11 18:30] john-westcott-iv commented on #7329
We are writing import/export modules here https://github.com/ansible/awx/pull/6125
But they use the CLI libraries which, as you mention, currently always report changed.

[2020-06-11 18:33] fosterseth commented on #7136
I ran the following test locally (docker install method)

`test_api_launch_job.sh`

[code]

note: the second line will make a final query to get a count of jobs in `pending` state, which should be near but less than 100

`time ./test_api_launch_job.sh`

[code]
So this queues up 100 jobs in 33 seconds for me.

[2020-06-11 18:59] #7000 closed, assigned to nobody

[2020-06-11 19:01] #3010 closed, assigned to nobody

[2020-06-11 20:16] daniego commented on #885
@outcast Cheers!
@stuartluscombe that's fully working and I'm using it in production.
Just create a webhook notification, set `TARGER URL` with the one you get from Teams while creating the webhook, toggle `CUSTOMIZE MESSAGES...` on and paste the code above.
As far as I can remember I don't think that the test message works, but the actual notification does!

[2020-06-11 22:09] jladdjr commented on #3461
Alas, I should not say that PR X fixes Issue Y, otherwise Zuul starts taking over.

[2020-06-11 23:31] mwmahlberg commented on #4876
I would kindly suggest to increase the priority since it is security-related.

[2020-06-12 00:11] hiyokotaisa opened #7330 "RFE: Allow AWX for customizable live update for UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

AWX is able to modify `UI_LIVE_UPDATES_ENABLED` to disable auto page refreshing on all of Tower UI. However, it would be great if the live update is enabled on job result but disabled for the other at the same time.

The use-case is disabling UI live update to avoid the modify will be lost when I creating Job Template but I would like to enable it w

[2020-06-12 07:30] blaisemichel opened #7331 "awx ssh Control master terminated unexpectedly\r\nShared connection to <server> closed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have an awx installation in gke and lot of server in datacenter on premise and i have lot of problem with the error

msg": "Failed to connect to the host via ssh: OpenSSH_8.0p1, OpenSSL 1.1.1c FIPS  28 May 2019\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug3: /etc/ssh/ssh_config line 51: Including file /etc/ssh/ssh_config.d/05-red

[2020-06-12 09:08] arymkus commented on #5230
Same in 11.2.0
`docker exec -it awx_web bash -c "chown -R nginx:nginx /var/lib/nginx"` fixed the issue.

[2020-06-12 09:08] arymkus commented on #5305
Same in 11.2.0
`docker exec -it awx_web bash -c "chown -R nginx:nginx /var/lib/nginx"` fixed the issue.

[2020-06-12 09:16] thisID opened #7332 "Can you provide the awx offline installation method Or provide an RPM installation"
##### ISSUE TYPE
 - Feature Idea

Can you provide the awx offline installation method Or provide an RPM installation.
I tried for a long time without success,look forward to your reply.

mud in your eye

##### SUMMARY

[2020-06-12 12:13] mo-saeed opened #7333 "new release 12.0.1 with latest changes"
##### ISSUE TYPE
Installation using AWX repo tags

##### SUMMARY
Recently new fixes have been merged to the devel branch, wondering when there will be a new release 12.0.1 with these changes.

Thanks a lot

[2020-06-12 14:46] bartheerman opened #7334 "Groups with the same name for a tree structure"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In Ansible, it is possible to arrange the groups in a tree structure. For example:

- customer1
  - palo

  - cisco

- customer2
  - palo

  - cisco

Under each customer, there is a group palo and cisco. This seems not to be possible using AWX because two groups cannot have the same name in an inventory.

[2020-06-12 18:24] Blusafur opened #7335 "SAML Configuration - No visible errors and removal of configuration"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When saving SAML configuration such as SAML TEAM MAP and SAML TEAM ATTRIBTUE MAPPING, setting are lost after clicking the save button and stay on the screen, but after refresh the settings are gone with no visible errors.

##### ENVIRONMENT
* AWX version: Tested on 11.2.0 and 9.2.0
* AWX install method: Docker on CentOS
* Ansible version:  2.9.6 (AWX 1

[2020-06-12 19:37] Sprinterfreak commented on #5016
Ran into the same issue today. debian-jessie inside lxc container on Proxmox VE

[verbose.txt](https://github.com/ansible/awx/files/4772823/verbose.txt)

I think the reboot module waits for the kernel random/boot_id to change, wich does not happen in containers. Because it is the host kernel's boot_id, right? I think it would be really bad if the container could manage to reboot the host. :)

[2020-06-12 20:27] Sprinterfreak commented on #5016
This depends on: https://github.com/ansible/ansible/issues/57768 (wich is closed but not fixed)
Corresponding LXC Issue: https://github.com/lxc/lxc/issues/3027

ansible devel-branch release seem to introduce a new option
[code]
Wich would make ansible reboot inside containers work.

I think for the next dacade, we have to stick with `ignore_errors: yes` and fingers crossed.

[2020-06-13 03:05] bluikko commented on #5016
Ha ha, this would be a really funny comment unless it would be so sad - no, *scandalous*, what is the situation with Ansible and fixing showstopping bugs.

I have started to recommend Salt to everyone starting with automation who could not fix bugs on their own. In my experience they are **far** more responsive to legitimate bug reports from users.

[2020-06-13 12:11] AlanCoding commented on #7334
That's not actually what Ansible does. In the YAML inventory file format, they will allow syntax like that, but it's not 2 groups, it's just the same group. Example:

[code]

Use `ansible-inventory` to see an objective representation of what content is produced in practice.

[code]

There are not 2 `cisco` groups. You just added it as a child of 2 different groups, and went through 2 passes of add

[2020-06-13 12:11] #7334 closed, assigned to nobody

[2020-06-13 12:43] tamil93-ss commented on #7022
Thank you bro.

[2020-06-13 17:08] ryanpetrello commented on #7332
Duplicate of https://github.com/ansible/awx/issues/419

[2020-06-13 17:08] #7332 closed, assigned to nobody

[2020-06-14 00:11] thisID opened #7336 "It is recommended that you choose the Redis service you already have instead of the Docker running Redis"
##### ISSUE TYPE
 - Feature Idea
It is recommended that you choose the Redis service you already have instead of the Docker running Redis
##### SUMMARY

[2020-06-15 01:49] ptran32 commented on #4736
@ArjonBu Have you tried on a linux system ?

For any reason I tried to install it on my mac with docker deployment and I hit this issue as well.

I switched to centos and I didn't have any issues. (Using AWX release 11.2.0)

[2020-06-15 02:26] wenottingham commented on #7276
It doesn't do anything - it does not and cannot cause the inventory stored in AWX to refresh. The node where the playbook is running may not even have access to the AWX instance.

[2020-06-15 07:52] nguyenquochung commented on #4764
did you try with "sudo ansible-playbook -i inventory install.yml"??
I solved the problem by sudo permission.

[2020-06-15 09:51] momcilo78 commented on #7136
@fosterseth I will need some time to verify with the setup you have.

Can you share the details of your setup? (client/server side is on the same host, what sort of machine is it?)

My tests were done in following environments:
- Docker based avx on top of openstack cluster. Client was my PC.
- Docker based avx on top of local Virtualbox VM on Win 10 Host. Client was my PC.

[2020-06-15 09:52] momcilo78 commented on #7136
Closed by mistake, I will follow up...

[2020-06-15 11:29] datagpu commented on #3621
found to have multiple version of docker* which was blocking/conflicting

yum remove docker-compose docker python-docker-py-1.10.6-11.el7.noarch python-docker-pycreds-0.3.0-11.el7.noarch
pip install docker docker-compose
yum install docker
systemctl start docker
## to check if ports are not being blocked by another application (80,443)
netstat -ntap | grep -i list
##install
sudo ansible-playbook -

[2020-06-15 12:27] bpetit commented on #6792
Hi,

I have the exact same behavior with a fresh install in 12.0.0 with docker-compose, using python3 and debian 10 as a host. I'll add more info as I dig deeper.

EDIT

I had the same issue after I runned the installer.

I forced a migration with `awx-manage migrate` in the awx_task container. Then I only have this error recurring:

At that point I couldn't log in to the webUI with the default ad

[2020-06-15 13:21] unlikelyzero commented on #5636
Removing needs_test until translations land!

[2020-06-15 13:52] wenottingham commented on #7330
Is this still an issue in AWX? I believe this was fixed a few releases ago.

[2020-06-15 13:54] wenottingham commented on #7336
See #7310

[2020-06-15 13:54] #7336 closed, assigned to nobody

[2020-06-15 14:27] dsesami commented on #5881
Moving assignment because I'm already working on this with Mike's PR here: https://github.com/ansible/awx/pull/7258

[2020-06-15 15:10] #6589 closed, assigned to dsesami, AlexSCorey

[2020-06-15 15:13] dsesami commented on #7234
This will be checked off once #7235 is cleared

[2020-06-15 15:17] ryanpetrello commented on #7333
Hey @mo-saeed,

We'll likely release a new version in the coming weeks.

[2020-06-15 15:17] #7333 closed, assigned to nobody

[2020-06-15 15:18] ryanpetrello commented on #7331
Hey @blaisemichel,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-06-15 15:18] #7331 closed, assigned to nobody

[2020-06-15 15:35] mabashian opened #7339 "Add Test button to credential form for external credential types"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is sort of related to #7338 in that they both interact with the same endpoint but the UX is a bit different on this button.  To be clear, this is the button we're talking about in this issue:

<img width="1513" alt="Screen Shot 2020-06-15 at 11 32 07 AM" src="https://user-images.githubusercontent.com/9889020/84676834-f180dd00-aefb-11ea-8ac1-0362

[2020-06-15 16:58] ryanpetrello commented on #7330
Yea, I think given the changes we made to the UI in recent versions (thanks for @rebeccahhh and @mabashian's work), we might just want to close this one.

[2020-06-15 17:42] AlexSCorey opened #7340 "Application Edit"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add support for editing an application.

[2020-06-15 20:13] RylandDeGregory commented on #5230
This is also an issue in 12.0.0.

The solution provided by ~~@arymkus~~ @AntonSergievitch fixed the issue.

[2020-06-15 20:15] arymkus commented on #5230
Please give your respect to @AntonSergievitch instead =)

[2020-06-16 03:51] lxop opened #7344 "Nested workflows lose outer surveys/extra vars"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In AWX I can create a workflow template containing another workflow template, which in turn contains a job template. I can set surveys and extra-vars on the inner workflow template and they will be available to the playbook that runs from the job template. However, if I set surveys or extra-vars on the outer workflow template, they are not passed on to

[2020-06-16 05:10] swatinarvekar opened #7345 "Allow certificate authentication when LOG_AGGREGATOR_PROTOCOL is "tcp""
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Request to add a flag to control enable/disable of certificate verification when LOG_AGGREGATOR_PROTOCOL is "tcp".

Currently certificate verification option is only applicable to HTTPS log aggregator protocol.

Customer Explaination:
As part of our setup, we ship user activity logs to syslog-ng. This is working fine with UDP and the "other" logging

[2020-06-16 08:02] kapouer opened #7346 "make_local_copy opt-out git clone in favor of tree copy"
https://github.com/ansible/awx/blob/241931309e134bc3ffb3b2badf358d62690f5452/awx/main/tasks.py#L2330
[The git clone made by make_local_copy](https://github.com/ansible/awx/blob/241931309e134bc3ffb3b2badf358d62690f5452/awx/main/tasks.py#L2330-L2355) makes it impossible to use tools that need an initial setup, like [git crypt](https://www.agwa.name/projects/git-crypt/).
It would be great if there wa

[2020-06-16 08:32] MattMonkman opened #7347 "Source variables not filtering when running vCentre inventory sync."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Source variables not filtering when running vCentre inventory sync.
All vm hosts and all properties are synchronised.

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.9
* Operating System: Centos 8
* Web Browser: Chrome
*vCentre version: 6.7

##### STEPS TO REPRODUCE
Post AWX install steps:
Configur

[2020-06-16 09:20] psmola opened #7348 "Organization administrator can't add users to organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Organization created with local account (admin organization privileges). From organization administrator account I tried add user to organization but nothing happen - looks that action is ignored.
In awx logs I found:
2020-06-15 15:16:54,302 WARNING  django.request Forbidden: /api/v2/users/85/roles/
2020-06-15 15:33:17,601 WARNING  awx.api.generics sta

[2020-06-16 09:56] Tovli commented on #7191
@ryanpetrello
I actually see a release of 12.0.0 but this issue is open
Wasn't it part of 12.0.0 after all?

[2020-06-16 10:00] svenstaro opened #7349 "the connection plugin 'community.kubernetes.kubectl' was not found"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running any playbook in my container group inside OpenShift results in an error: `the connection plugin 'community.kubernetes.kubectl' was not found`.

This started happening after the upgrade to 12.0.0. Before everything ran smoothly.

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: openshift
* Ansible version:  2.9.9
* ansible-runner: 1

[2020-06-16 10:39] btotharye commented on #2495
Has this been addressed?  Why can I not use gitlab tokens for the project SCM auth?  I guess I will have to do the Source Control option but this needs to probably be more clear its not an valid option for project SCM types.

[2020-06-16 10:48] pravalli0630 commented on #7246
I tried with installing awx with specified version then i resolved my issue
.Thanks

On Mon, Jun 8, 2020, 3:16 PM eeepmb <notifications@github.com> wrote:

[2020-06-16 11:27] ryanpetrello commented on #7191
Hey @Tovli,

The changes in question should be in the 12.0.0 release.  We keep issues open until we've done actual per-issue verification on our end (that's what the `state:needs_test` label on this issue represents).

[2020-06-16 11:48] ryanpetrello commented on #4814
Closing due to age.

[2020-06-16 11:48] #4814 closed, assigned to one-t

[2020-06-16 11:49] ryanpetrello commented on #260
Closing due to age.

[2020-06-16 11:49] #260 closed, assigned to nobody

[2020-06-16 11:50] ryanpetrello commented on #370
Closing due to age and UI rewrite.

[2020-06-16 11:50] #370 closed, assigned to nobody

[2020-06-16 11:51] ryanpetrello commented on #521
Closing due to age.

[2020-06-16 11:51] #521 closed, assigned to nobody

[2020-06-16 11:51] #610 closed, assigned to nobody

[2020-06-16 11:51] ryanpetrello commented on #626
Closing due to age.

[2020-06-16 11:51] #626 closed, assigned to nobody

[2020-06-16 11:52] ryanpetrello commented on #716
Closing due to age.

[2020-06-16 11:52] #716 closed, assigned to nobody

[2020-06-16 11:53] ryanpetrello commented on #1224
Closing due to age and UI rewrite.

[2020-06-16 11:53] #1224 closed, assigned to nobody

[2020-06-16 11:53] ryanpetrello commented on #1264
Closing due to age and UI rewrite.

[2020-06-16 11:53] #1264 closed, assigned to nobody

[2020-06-16 11:53] ryanpetrello commented on #353
Closing due to age.

[2020-06-16 11:53] #353 closed, assigned to nobody

[2020-06-16 11:54] ryanpetrello commented on #977
Closing due to age - we've moved on to pg10 at this point.

[2020-06-16 11:54] #977 closed, assigned to nobody

[2020-06-16 11:55] ryanpetrello commented on #1332
Closing due to age and meh.

[2020-06-16 11:55] #1332 closed, assigned to nobody

[2020-06-16 11:55] ryanpetrello commented on #1359
Closing due to age and UI rewrite.

[2020-06-16 11:55] #1359 closed, assigned to nobody

[2020-06-16 11:56] ryanpetrello commented on #1931
@rooftopcellist is this still an issue?  Seems like we squashed this at some point when upgrading to a newer Django.

[2020-06-16 11:56] #1931 closed, assigned to nobody

[2020-06-16 11:57] ryanpetrello commented on #1931
(feel free to reopen if I'm wrong)

[2020-06-16 11:59] ryanpetrello commented on #2208
What @wenottingham said; this is just how it works.

[2020-06-16 11:59] #2208 closed, assigned to nobody

[2020-06-16 12:07] ryanpetrello commented on #7349
@AlanCoding @fosterseth one of you have context on this?  Looks related to a recent change (4da0e0dd804ada784b7072ea423b459fcfc501b2)

[2020-06-16 12:09] ryanpetrello commented on #7349
@svenstaro I'm not certain what your downstream build process is since you're using OpenShift with awx, but you likely need to make sure that if you're building images, you're including this sort of thing in that process (i.e., actually installing the `community.kubernetes` collection in your image):

https://github.com/ansible/awx/commit/4da0e0dd804ada784b7072ea423b459fcfc501b2#diff-aa83aff711527

[2020-06-16 12:40] TimoStramann commented on #6775
Any update on the podman integration, @ryanpetrello ? Would be really interesting since more and more enterprises start upgrading to RHEL8 which has certain problems with docker but supports podman otb.

[2020-06-16 12:59] momcilo78 commented on #7136
I have just prepared a new test that loops over 100 tickets launches the workflow in the same way the corresponding ansible module would do it:
- resolve organization to id (it uses name to lookup)
- resolve inventory to id
- resolve workflow template job to id
- launche workflow with previously obtained id

For each operation, it outputs minimal, maximal, average, median and sum time.
The client

[2020-06-16 13:20] sumkincpp commented on #5305
Same in 12.0.0, changing permissions solved problem.

Problem most likely was with upgrade from  11.2.0 to 12.0.0.

[2020-06-16 13:25] MarcoV-git commented on #7109
Guys, it seems that this is still not fixed in 12.0.0
Both with Satellite and VMWare I get:

    RuntimeError: ansible-inventory failed (rc=1) with stdout:
    stderr:
    ansible-inventory 2.9.9
      config file = /etc/ansible/ansible.cfg
      configured module search path = ['/var/lib/awx/.ansible/plugins/modules',  '/usr/share/ansible/plugins/modules']
      ansible python module location = /

[2020-06-16 13:35] MarcoV-git commented on #6878
@ryanpetrello @AlanCoding I commented accidentally on the newer link to this issue #7109, but it's still broken...

Even with the previous mentioned extension of settings.py:

    [root@testserver1 awx]# grep COLLECTIONS settings.py
    AWX_ANSIBLE_COLLECTIONS_PATHS = '/vendor/awx_ansible_collections'
    [root@testserver1 awx]# podman exec -it awx_awxweb /bin/bash
    bash-4.4$ hostname
    awx

[2020-06-16 13:52] ryanpetrello commented on #6775
Hey @TimoStramann,

Moving playbook execution in awx to _always_ happen in containers (via Docker/podman or the k8s API, depending on your install platform) is still on our radar, but work hasn't started on it yet.

When this works starts, this is the place we'll be tracking progress:

https://github.com/ansible/awx/issues/7060

[2020-06-16 14:55] wenottingham commented on #7345
What does 'certificate verification' for an arbitrary TCP connection mean?

[2020-06-16 15:02] AlanCoding commented on #7347
Are we missing some information here? I don't see anything in source variables indicating filtering on name.

[2020-06-16 15:06] ryanpetrello commented on #7345
It looks like rsyslogd *does* have netstream driver support for at least gtls:

https://rsyslog.readthedocs.io/en/latest/tutorials/tls.html#overall-system-setup

https://rsyslog.readthedocs.io/en/latest/configuration/modules/omfwd.html

see: `StreamDriverMode`

[2020-06-16 15:16] MattMonkman commented on #7347
I thought **alias_pattern: "{{ config.name }}"** names the imported host
correctly, as it is in vcentre, without the guid appended to it?

On Tue, 16 Jun 2020 at 16:03, Alan Rominger <notifications@github.com>
wrote:

[2020-06-16 15:42] wenottingham commented on #7345
That would (if I'm reading right) require configuring actual certs to use for auth, not just a 'verify certs' checkbox.

[2020-06-16 15:59] AlanCoding commented on #7347
Now I see your meaning. I was reading that wrong.

I don't expect that the `properties` will be respected here, but that doesn't do anything to explain the error you are getting. The only place I see `config.instanceUuid` referenced is in the default properties (of the plugin itself), which should not be getting used in any templating that I can find.

To be sure I'm reading right, you're saying t

[2020-06-16 17:03] ryanpetrello commented on #7345
@wenottingham correct, that's my reading of it, too.

[2020-06-16 17:04] ryanpetrello commented on #7345
I'm _assuming_ that's what @swatinarvekar is asking for when they say:

[2020-06-16 18:10] MattMonkman commented on #7347
Thanks Alan.  My phrasing may be a little loose.  I'm brand new to AWX.

Yes, all hosts are still imported.  Fresh inventory created after AWX install.

WIth respect to properties not being honoured in the source variables, where would these be configured?

I've attached the inventory job log.

[inventory_log.txt](https://github.com/ansible/awx/files/4788306/inventory_log.txt)

[2020-06-16 18:23] MattMonkman commented on #7347
apologies.  previous log was captured with Instance Filter populated, not source variables.

attached correct now.

[inventory_log.txt](https://github.com/ansible/awx/files/4788396/inventory_log.txt)

[2020-06-16 18:49] AlanCoding opened #7353 "Enforce feature-completeness of the AWX collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The AWX collection has a [module generator](https://github.com/ansible/awx/blob/devel/awx_collection/tools/generate.yml) that will use the API OPTIONS to produce a module with all of the same fields that the API has.

However, that has only be employed for adding new modules. We also need to devise a way to keep the collection up-to-date with API cha

[2020-06-16 19:08] AlanCoding opened #7356 "Develop a maintainable way to reference related objects"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Modules in the AWX collection frequently reference related objects, consider:

[code]

In this example, the organization, inventory, project, and credentials are all related objects.

Each of these are naively specified by a single string field (typically the `name` field), but every model has its own set of uniqueness rules. This runs the risk of hi

[2020-06-16 21:08] #5879 closed, assigned to mabashian, appuk, dsesami

[2020-06-16 21:16] wenottingham commented on #6875
@AlanCoding should this just be a duplicate of #6367 and therefore closed?

[2020-06-16 21:54] rebeccahhh commented on #7330
I'm fine closing it as long as it actually fully addresses the original ask.

[2020-06-16 22:47] kdelee commented on #7066
Right now errors when pulling images for ContainerGroups can be rather opaque/difficult to realize that is the problem. When we switched to a registry for default images downstream this came up https://github.com/ansible/tower/issues/4402.

Would be good to figure out a less opaque way of surfacing problems when pulling images.

[2020-06-16 23:04] svenstaro commented on #7349
We're using the official ansible-runner images. Turns out our outdated configuration was the problem:

[code]

So not really a bug. Hopefully, other people whose configuration is also outdated between the upgrades (there are bound to be some) will find this issue and this'll help them.

[2020-06-16 23:04] #7349 closed, assigned to nobody

[2020-06-16 23:40] shanemcd commented on #6878
@kdelee  I think this can be closed now.

[2020-06-17 00:10] mabashian commented on #5997
@marshmalien refresh my memory - do we still need to implement the bottom section (Overridden Prompts)? Or did that get merged a while ago?  Wondering if this issue is still relevant/in progress.

[2020-06-17 00:11] mabashian commented on #4969
Since we have issues for all of the disparate pieces I'm going to close this one.

[2020-06-17 00:11] #4969 closed, assigned to AlexSCorey

[2020-06-17 00:12] mabashian commented on #6972
I don't see any linked PRs on this one so I'm going to move it back to needs_devel.  @AlexSCorey if that's incorrect feel free to update.

[2020-06-17 02:43] AlanCoding commented on #6875
Likely, but depends on implementation

[2020-06-17 03:37] prbinu opened #7361 "AWX SSO + Vault JWT integration credential_plugin"
Originally reported here: https://github.com/ansible/awx/issues/6905. Opening a new ticket because from a security perspective, this is a desired flow compared to the current model of putting all credentials on AWX. Hope this will be addressed some time in future.

##### ISSUE TYPE
Problem:
To run playbooks through AWX, currently we need to fetch the token from Vault and paste it to Vault Signed S

[2020-06-17 04:38] ryan012880 commented on #7109
I manage to try the official image release of version 12.0.0 also the latest devel local image build and It's working! Thank you

[2020-06-17 04:38] #7109 closed, assigned to nobody

[2020-06-17 08:20] jomach opened #7362 "Cannot restrict groups with Azure AD Authentication"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I successfully activated the Azure AD authentication for awx. This works fine, the only issue is that there is no way (Or it is not documented) how I can restrict logins via Azure Active directory groups.

I'm pretty sure that it needs to be placed somewhere in AZURE AD OAUTH2 ORGANIZATION MAP or AZURE AD OAUTH2 TEAM MAP.

##### ENVIRONMENT
* AWX versi

[2020-06-17 09:35] mivanov-its opened #7363 "Cryptic error message when ansible-galaxy cannot install roles"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX produces a cryptic error message when ansible-galaxy cannot install a role.

##### ENVIRONMENT
* AWX version: AWX 7.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: Linux, SLES 12P4
* Web Browser: Mozilla Firefox

##### STEPS TO REPRODUCE

Create a role without the meta/main.yml file. Import the role in the

[2020-06-17 09:37] mabashian opened #7364 "Add ability to cancel jobs from jobs list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We need to provide a way for users to cancel a job from the jobs list.  Currently only relaunch and delete are possible:

<img width="1420" alt="Screen Shot 2020-06-17 at 5 34 14 AM" src="https://user-images.githubusercontent.com/9889020/84881684-36238a00-b05c-11ea-9b7d-6fe40f9e57b2.png">

There are two options:

1) We could add a cancel icon to each

[2020-06-17 09:58] hluaces opened #7365 "ansible/awx:12.0.0 image has a corrupted rpm database"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The `ansible/awx:12.0.0` image base state has a corrupted rpm database that prevents it from using `dnf`.

##### ENVIRONMENT

* AWX version: 12.0.0
* AWX install method: Docker version 19.03.11, build 42e35e61f3
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: N/A

##### STEPS TO REPRODUCE

Simply run the ansible/awx:12.0.0 image with an

[2020-06-17 11:40] AlanCoding commented on #7363
should be sufficiently resolved by @wenottingham's https://github.com/ansible/awx/pull/7194

[2020-06-17 11:40] #7363 closed, assigned to nobody

[2020-06-17 11:52] stanislaw55 opened #7366 "Proxy settings for collections download"
My AWX instance is running in internal network. It should control hosts in internal network only. It can access external world by using http proxy. Is there any way to set http proxy **only** for downloading collections part?

[2020-06-17 13:24] AlanCoding commented on #7346
Rather not add more config options, particularly for things that should "just work".

I'm not against copying the tree in all cases, but there are probably issues that will crop up which I have not thought of yet. PR #7367 does this, and we will see what trouble comes out of it.

[2020-06-17 14:45] marshmalien commented on #5997
@mabashian Oh, that second checkbox would best be done when we hookup the workflow node prompting https://github.com/ansible/awx/issues/5913. Since wf node prompting wasn't hooked up at the time of this issue, I couldn't test that the entire flow from editing a wf node to viewing the wf node preview with overrides worked correctly. Currently, the NodeViewModal does not pass **overrides** to the pr

[2020-06-17 14:58] brocc0lee commented on #4814
Hi guys,

I am facing the same issue and hard stuck at this problem.
My current IdP configuration within AWX looks like the following:
[code]
with the SAML org map:
[code]
Attributes are from a 3rd party IdP that has metadata formatted that looks like the following:
[code]

nginx.conf
[code]
The SAML document does seem to be getting generated with my sso specific attributes, and I cannot see any e

[2020-06-17 15:24] dsesami commented on #5880
closed out with the merge of #7258

[2020-06-17 15:24] #5880 closed, assigned to mabashian, dsesami

[2020-06-17 15:25] dsesami commented on #5881
@mabashian we can't close this one out until the test button is implemented, yes?

[2020-06-17 16:05] Lobout opened #7368 "AWX 12.0.0 vmware inventory failure"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
unable to get awx to pull vmware inventory

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.9
* Operating System: Redhat Linux 7.8
* Web Browser:

##### STEPS TO REPRODUCE

Set up inventory with vcenter credentials
run inventory

##### EXPECTED RESULTS

obtain inventory of vmware systems

##### ACTU

[2020-06-17 18:45] dsesami commented on #6899
completed with the merge of #7287

[2020-06-17 18:45] #6899 closed, assigned to marshmalien, dsesami

[2020-06-17 20:37] princemandlewala opened #7371 "Cannot read hosts from Amazon EC2 as source"
##### ISSUE TYPE

 - Bug Report
`    2.118 INFO     Updating inventory 5: AWS Stage - Test
    2.610 DEBUG    Using base command: python /usr/bin/ansible-inventory -i /var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/plugins/inventory/ec2.py --playbook-dir /var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/plugins/inventory -vvvvv
    2.610 INFO     Reading Ansible inventory source: /var/li

[2020-06-18 01:53] jacobwoffenden commented on #1823
Is there any update on this request? I've just been caught out by it.

[2020-06-18 07:45] benapetr opened #7373 "Implement "run at" feature"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now when you want to perform ad-hoc or one-time scheduled execution of a task you have to:

* click schedules
* create new schedule
* define the time frame and that you want to run it only once
* click prompt
* fill in all values
* wait for it to be executed
* delete it

I'd like to replace this tedious work-flow with just some option in launch

[2020-06-18 08:26] sumkincpp opened #7374 "Default value for webhook_service is not listed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Related to #5099

Current `OPTIONS` for `job_templates` output doesn't have default listed as `"default": ""` for `webhook_service`, which have `required: false`.

Default is expected to be listed within the API since it is not required -
[code]

##### ENVIRONMENT

AWX version: 11.2.0
AWX install method: N/A
Ansible version: N/A
Operating System:
Web

[2020-06-18 14:08] AlanCoding commented on #7058
The svn part of that is

[code]

from `installer//roles/image_build/templates/Dockerfile.j2`

Even if we develop `ansible-builder` and the collections to the point of having the needed metadata, this would be unworkable because svn is in ansible-base (same applies for git). So it would be a customization layer, which is to say, the same as writing the Containerfile ourselves.

Whether or not `merc

[2020-06-18 15:38] trahman73 commented on #7364
@mabashian I'm fine with either option, but after our discussion it sounds like option 1 would be easier to implement.

[2020-06-18 16:43] zilkanir commented on #6770
Hi,

I've upgraded to 12.0 and now when i'm removing hosts from git ansible ini file and commit , this is the results of awx inventory sync:

    5.838 INFO     Updating inventory 2: Linux
    7.248 INFO     Reading Ansible inventory source: /tmp/awx_40439_ischcd_k/project/hosts
    7.255 INFO     Using VIRTUAL_ENV: /var/lib/awx/venv/ansible
    7.255 INFO     Using PATH: /var/lib/awx/venv/ansible

[2020-06-18 16:57] elyezer opened #7376 "API allows setting a credential owner to a user that is not part of the credential organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When creating a credential the following check is not done https://github.com/ansible/awx/blob/devel/awx/api/views/__init__.py#L1094-L1097. So one can go ahead and have a owner that is not part of the credential organization.

##### ENVIRONMENT
* AWX version: current devel
* AWX install method: docker on linux
* Ansible version:  X.Y.Z
* Operating Sys

[2020-06-18 17:33] squidboylan opened #7377 "Collection fails to resolve unified_job_template ids"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

passing an id to `unified_job_template` params in the `schedule` and `workflow_job_template_node` modules fails because `module.resolve_name_to_id('unified_job_templates', unified_job_template)` fails (due to api behavior).

@ryanpetrello noted the CLI hits the same issue ( https://github.com/ansible/awx/issues/6587 ), so maybe we need/want an api fix

[2020-06-18 19:21] nixocio opened #7380 "Upgrade react-router to version 6.0"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
react-router 6.0 is introducing new break changes, and some improvements.  version 6.0 was not released yet.
See: https://github.com/ReactTraining/react-router/blob/dev/docs/advanced-guides/migrating-5-to-6.md

[2020-06-18 19:28] dsesami commented on #7233
This looks great, but there's something to tweak in a future issue to deviate from the old UI's functionality.

It's weird to me that you can search by description, but description isn't visible in the list. Maybe we can consider making an issue about making the description visible in the list via toggle (simple/expanded view).

Also, we should enable searching by org name, since that's provided i

[2020-06-18 19:31] dsesami opened #7382 "Tweak functionality of Applications List search/sort"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
From https://github.com/ansible/awx/issues/7233#issuecomment-646262137

Regarding the applications page in ui_next:

#### ACCEPTANCE CRITERIA:
- [ ] Application list is searchable by org name
- [ ] Application list can be sortable by date (Last Modified)
- [ ] Application descriptions can become visible via a compact/expanded view toggle in the list.

[2020-06-18 21:23] jrgoldfinemiddleton commented on #2240
Is there any update on this issue?  With @nuriel77's fix I thought we had resolved the issue, but I have found that's not so.

In our case, we have a Git repository that the Project uses.  Our Inventory Sources are INI files inside the Git repository.  We have seen that when the Project cannot be updated from Git for whatever reason, sometimes the hosts become reordered again once the Project is n

[2020-06-18 22:04] vpopiol commented on #20
Very important feature to have for reusability of playbooks. I would like to see a way for using the output of a playbook as options of a survey in a second playbook as part of a workflow.

[2020-06-19 01:05] szollin opened #7384 "Add netcat to AWX"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

When trying execute against a host that needs to be accessed by a SOCKS proxy, the available ssh & ProxyCommand combo [documented here](https://docs.ansible.com/ansible-tower/latest/html/administration/tipsandtricks.html#setting-up-a-jump-host-to-use-with-tower) does not work. The use of netcat (the nc command) is neede

[2020-06-19 06:46] zaskan opened #7385 "Display logged users"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

As admin user, create a place into the UI in order to see the current logged users.

[2020-06-19 09:44] alxndr13 opened #7386 "Sporadically receiving HTTP 404 when calling /launch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Sometimes calling the /launch Endpoint of a Job Template returns a 404, when the template is clearly available.

##### ENVIRONMENT
* AWX version: 11.2.0 and 12.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.9
* Operating System: RedHat Enterprise Linux 7.7
* Web Browser: Firefox / Google Chrome

##### STEPS TO REPRODUCE
It is not rel

[2020-06-19 11:47] benapetr opened #7387 "Ansible in AWX isn't able to find python interpretor on clean RHEL8, while ansible in CLI can do that"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running ansible through AWX on clean RHEL8 install fails (no python interpreter found), but WORKS when ansible is started directly from CLI

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: CentOS 7
* Web Browser: Firefox

##### STEPS TO REPRODUCE
Run ansible setup module on any

[2020-06-19 11:50] benapetr commented on #7387
ok so I found that root cause was "fact cache" when I disabled gathering of fact cache in AWX it suddenly started working - is there any feature to clean cache for specific host or for all hosts in AWX?

[2020-06-19 12:05] unbreakabl3 opened #7388 "LDAP user email attribute is empty"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After the LDAP user logged in first time and the user was created in AWX, the email attribute is empty. The first and the last name are ok.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7
* Operating System: Ubuntu 18.04
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Login with LDAP user

#####

[2020-06-19 12:44] ryanpetrello commented on #7384
Hey @szollin,

We're unlikely to add `nmap-ncat` to our runtime requirements, but if you'd like to build your own image (https://github.com/ansible/awx/blob/devel/INSTALL.md#official-vs-building-images), there is a flag which installs `nc` and other similar dev/test tools:

https://github.com/ansible/awx/blob/devel/installer/roles/image_build/templates/Dockerfile.j2#L96

[2020-06-19 12:44] #7384 closed, assigned to nobody

[2020-06-19 14:51] blomquisg commented on #7371
I see this error in your output:

Please re-verify your credentials and configuration.

[2020-06-19 14:51] #7371 closed, assigned to nobody

[2020-06-19 14:58] blomquisg commented on #7366
@stanislaw55 please post your question to https://groups.google.com/forum/#!forum/awx-project

[2020-06-19 14:58] #7366 closed, assigned to nobody

[2020-06-19 15:38] dsesami commented on #7235
closed out with the merge of #7341

[2020-06-19 15:38] #7235 closed, assigned to dsesami, AlexSCorey

[2020-06-19 15:38] dsesami commented on #7233
closed out with the merge of #7341

[2020-06-19 15:38] #7233 closed, assigned to dsesami, AlexSCorey

[2020-06-19 15:38] dsesami commented on #7234
closed out with the merge of #7341

[2020-06-19 15:38] #7234 closed, assigned to dsesami, AlexSCorey

[2020-06-19 16:58] AlanCoding commented on #7368
Closing as duplicate of #7052

[2020-06-19 16:58] #7368 closed, assigned to nobody

[2020-06-19 16:58] AlanCoding commented on #7052
This was never closed intentionally. #7368 reports the issue in 12.0.0

[2020-06-19 17:06] blomquisg commented on #7387
@Spredzy any ideas on this one?

[2020-06-19 17:07] AlanCoding commented on #7052
Several people were reporting using no custom `alias_pattern`. That being the case, the issue could from the default template for `hostnames`, that template is `config.name + "_" + config.uuid`. Because the default behavior is to parse non-strict, the templating of this _tries_ to use `None` for a host name because one of those config values is missing. It should probably never do that in practice

[2020-06-19 17:07] blomquisg commented on #7386
@alxndr13 can you share some details about your environment? Are you running behind a proxy?

[2020-06-19 17:10] blomquisg commented on #7374
@ryanpetrello can you weigh in on this?

[2020-06-19 17:11] blomquisg commented on #7365
@Spredzy can you look at this one?

[2020-06-19 17:13] blomquisg commented on #7362
@ryanpetrello do you know if this is just not documented?  Or is this really an RFE?

[2020-06-19 17:18] blomquisg commented on #7348
@psmola can you try this in AWX 12.0.0?

[2020-06-19 17:22] blomquisg commented on #7344
@lxop can you reproduce this on AWX 12.0.0?

[2020-06-19 17:25] blomquisg commented on #7335
@one-t can you take a look at this?  Is there any documentation that might help?

[2020-06-19 17:27] blomquisg commented on #7330
@hiyokotaisa if this isn't addressed by what's already released, go ahead and reopen

[2020-06-19 17:27] #7330 closed, assigned to nobody

[2020-06-19 17:31] dsesami opened #7393 "[awx-pf] AWX crashes in certain scenarios on Firefox"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![Screenshot_20200617_095144](https://user-images.githubusercontent.com/19942822/85163218-87847280-b230-11ea-9e71-42e16542c04a.png)

This is perhaps the simplest example. If you go to a host -> Details, in chrome the X next to the inventory chip is disabled. However, it is enabled in FF, and crashes the application with null errors if clicked.

Another

[2020-06-19 17:43] dsesami opened #7394 "[awx-pf] Prompt on launch is unusable at smaller widths on firefox"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Viewing the JT prompt on launch modal at less than full-screen widths on firefox pushes the "Next"/"Save" type buttons used to proceed through the launch wizard off-screen. This prevents the user from actually being able to use the wizard. Scrolling is also not available.

##### ENVIRONMENT
* Operating System: Fedora
* Web Browser: Firefox ESR

##### S

[2020-06-19 17:55] dsesami opened #7395 "[awx-pf] assorted UI issues in Firefox"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This issue is meant to try to cover various "smaller" issues with alignment and appearance with ui_next in Firefox.

- [ ] Text wrapping on details (like the details page of various items) doesn't seem to work right.
- [ ] Magnifying glasses on forms (like when selecting an org for a template) don't have the box around them which indicates that they're

[2020-06-19 18:04] bandwiches commented on #2495
Closed Oct 19, 2018.

I highly doubt this will be addressed since documentation is the lowest priority in IT.

[2020-06-19 18:29] mabashian commented on #5881
Yea we can close this when #7339 is done

[2020-06-19 18:57] szollin commented on #7384
Thanks. I will give that a shot.

[2020-06-19 19:33] jomach commented on #7362
@blomquisg I checked the code and it seems that we are not using the class that set's the extra_data (https://github.com/python-social-auth/social-app-django/blob/master/social_django/storage.py#L19)

The class PosixUIDGroupType has the groups functions but the azure not. Maybe we need to do it via saml  which is not Oatuh2. I think we should use investigate:
* https://docs.microsoft.com/en-us/azu

[2020-06-20 01:20] princemandlewala commented on #7371
hi @blomquisg ,
We have exported the variables from where we are running the AWX. It still didn't worked. Is there any tutorial we can follow?
Thanks,
Priyance

[2020-06-20 14:55] nickjmv opened #7397 "CodeCommit project source"
Proposed feature:

- It would come in handy if we could pull our code from CodeCommit but I'm unable to make this work atm.
Unless someone could guide me through it it would be a nice feature in the future.

[2020-06-21 23:32] richzzzz opened #7398 "Missing Credential in Job Template API Payload AWX 7.0.0.0"
##### ISSUE TYPE
 - Missing Credential in Job Template API Payload AWX 7.0.0.0
##### SUMMARY
We recently migrated from AWX 1.0.8.0 to AWX 7.0.0.0.

We had a job that used the Tower API endpoint to create a template and attach appropriate credentials to it during creation.  The payload example was like below with Credential as one of the keys.  This allowed us to attach the credential to the templa

[2020-06-22 01:59] haribhauhud opened #7399 "How to pass vault namespace in AWX “HashiCorp Vault Signed SSH” type credential for role_id and secret_id based authentication"
##### ISSUE TYPE
 - Extend “HashiCorp Vault Signed SSH” credential support for passing namespace

##### SUMMARY
We have our internal private vault server for credential management, to retrieve the token from the vault we are using app_role authentication.

Below is the equivalent curl command:

_curl --request POST -H "X-Vault-Namespace: <NAMESPACE>" --data '{"role_id": "<ROLE_ID>", "secret_id": "

[2020-06-22 02:50] thisID opened #7400 "Email sent to Chinese, there is a problem with garbled code"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Where should I set it to display Chinese properly

[code]

[2020-06-22 06:13] alxndr13 commented on #7386
@blomquisg yes, we are running behind nginx. We only use it for tls termination.

`nginx.conf`:

[code]

[2020-06-22 08:03] hluaces opened #7402 "Scheduled jobs that end with timeouts do not trigger a failed notification"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Scheduled jobs that end up with error because their running time is over the specified timeout threshold for said job are not triggering a "failed notification". This used to work in AWX 8.0.0.

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: docker on Linux
* Ansible version:  2.9.9
* Operating System: CentOS7
* Web Browser: N/A

#####

[2020-06-22 08:43] planeturban commented on #7010
Wouldn't another state be an approach?  `state: update` or something like that? Since it could (should?) be used in other modules (I'm looking at you `tower_host`.)?

[2020-06-22 09:20] psmola commented on #7348
Hi,
I use AWX rpm version from mrmeee. Today I update repository and I see that newest version for mrmeee is ./copr:copr.fedorainfracloud.org:mrmeee:ansible-awx/01311409-ansible-awx/ansible-awx-9.3.0.104-1.el7.x86_64.rpm
Unfortunetly I can't test it on AWX 12.

I tested this issue also on this newest 9.3.0.104 but I don't see difference- the same behaviour.

Regards

[2020-06-22 09:20] ssaammoo opened #7403 "Remove activity stream entries older than a certain number of days fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Remove activity stream entries older than a certain number of days fails with an error

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.9
* Operating System: CentOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Run management job to remove activity stream entries older than a certain number of da

[2020-06-22 09:41] ssaammoo commented on #7403
I noticed the job would work but it consumes huge disk space and not sure if this is a bug

The size before running the job:

[code]

The size during running the job:

[code]

Then size is back to original size.

[2020-06-22 11:41] AlanCoding commented on #7052
It is possible to debug this, but only with code changes that would be difficult to communicate and debug.

So instead, I put up this PR:

https://github.com/ansible-collections/vmware/pull/253

If we can get that in, then we may get better detail about this situation.

[2020-06-22 12:29] rmeichsner commented on #1731
+1

[2020-06-22 12:45] ryanpetrello commented on #7398
Hey @richzzzz,

Years ago, we added support for managing assignment of multiple credentials to Job Templates.  As part of this, a new endpoint was introduced for attaching and detaching credentials, `/api/v2/job_templates/N/credentials/`, and the old method for attaching a singular credential (what you've been using) was deprecated:

https://github.com/ansible/awx/blob/devel/docs/credentials/multi

[2020-06-22 12:45] #7398 closed, assigned to nobody

[2020-06-22 12:49] zigaSRC opened #7404 "Task container unreachable from the web container"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After an upgrade from 11.2.0 to 12.0.0 the awx_web container can no longer reach the awx_task container. The consequence is that there are plenty of errors in the UI and some things just don't work.

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.9
* Operating System: CentOS 7.7
* Web Browser: Inde

[2020-06-22 12:50] ryanpetrello commented on #7397
@nickjmv shouldn't this just work?  AWX supports pulling code from git repositories - isn't CodeCommit just a service for hosted git repositories?

[2020-06-22 12:52] nickjmv commented on #7397
Yes I found a solution this morning. I had to use https credentials instead of SSH I think..

[2020-06-22 12:52] #7397 closed, assigned to nobody

[2020-06-22 13:55] anxstj opened #7405 "HARAKIRI: failed to download job events"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

* The download of job events fails with a 504 server error. awx_web container logs a HARAKIRI message.
* Job event view in the UI shows only a subset of all events
* Job event view in the UI doesn't update while the job is running.

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker
* Ansible version:  2.9.9
* Operating System: Debia

[2020-06-22 14:09] tonyhogsten opened #7406 "Permission problems after upgrading from 11.2.0 to 12.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When upgrading from AWX 11.2.0 to 12.0.0 we get permission denied with API-request with the admin account.

[code]
Running `chown -R nginx:nginx /var/lib/nginx` on the `awx_web` container fixes the issue (Though I doubt this is the recommended way of solving it?)

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: docker on linux
* Ansible v

[2020-06-22 14:11] shanemcd commented on #7365
Hi. I dont think this is a corrupted database. When I read this error I see:

[code]

You are seeing this because the containers run under a [non-root uid](https://github.com/ansible/awx/blob/devel/installer/roles/image_build/templates/Dockerfile.j2#L244) by default, because security.

Side note: while I was investigating this issue, I found that we do [this](https://github.com/ansible/awx/blob/de

[2020-06-22 14:11] #7365 closed, assigned to nobody

[2020-06-22 14:18] sumkincpp commented on #7406
I can confirm current problematic behavior, faced it twice while upgrading AWX 11.2.0 to 12.0.0

[2020-06-22 14:21] sumkincpp commented on #7387
@benapetr I am clearing fact cache with `meta: clear_facts`, for more -https://docs.ansible.com/ansible/latest/modules/meta_module.html

[2020-06-22 14:48] RylandDeGregory commented on #2830
This is also an issue in AWX 12.0.0.

It doesn't look like anyone from the AWX team has ever commented, so I hope we can get it looked at (since it seems to have been an issue since 2018). @ryanpetrello any info you can provide here?

My test playbook:

[code]

The error I'm receiving:

[code]

[2020-06-22 15:44] tsdragon opened #7407 "awx_redis exited with code 132"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Redis container exiting with code 132

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: RHEL 7
* Web Browser: N/A

##### STEPS TO REPRODUCE
Run install.yml

##### EXPECTED RESULTS
Redis container starts with the rest of the containers

##### ACTUAL RESULTS

Redis container stuck

[2020-06-22 16:09] bouluad opened #7409 "AWX HA (2 instances) Invalid search term entered. GET returned: 500 Une erreur serveur s'est produite."
I have a HA AWX with 2 instances (actif /actif) with a LB (HAPROXY), everything works good, but when i try to run a job works but i get 500 error when i try te see the job details.
Log :

awx.main.models.events.ProjectUpdateEvent.MultipleObjectsReturned: get() returned more than one ProjectUpdateEvent -- it returned 2

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONE

[2020-06-22 16:21] ryanpetrello commented on #7409
@bouluad

Please update this issue with the requested environmental data:

[2020-06-22 16:53] mabashian opened #7410 "Add `description` to the default search options on relevant lists"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
~~Seems reasonable that a user may want to search by description on this list.  That would make the defaults:~~

~~Name~~
~~Description~~
~~Created By~~
~~Modified By~~

Repurposing this as I think there are a number of lists that could benefit from adding this option to the default search.

- Organizations list
- Teams list
- Notifications list

[2020-06-22 17:02] mabashian opened #7411 "Add the ability to filter Organizations -> Access by specific role"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Use case would be: I want to see all the users that have the admin role explicitly granted to them on this org.  Current basic search only allows for username/first/last name searches.

I'm going to put this in the backlog.  We may determine that it's necessary for an initial release but my thoughts are that it's not quite that important at this poin

[2020-06-22 17:14] mabashian opened #7412 "Add edit button to Organization -> Teams list rows"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If the user has the proper permissions to edit a team we should provide them with an edit button on this list:

<img width="1452" alt="Screen Shot 2020-06-22 at 1 12 44 PM" src="https://user-images.githubusercontent.com/9889020/85316105-2ce65300-b48a-11ea-83a1-f7af2eeb2958.png">

which would redirect them to `/#/teams/:id/edit`.

This would be consis

[2020-06-22 17:24] samdoran commented on #5016
`boot_time_command` was added in Ansible 2.10 to address this, giving maximum flexibility to the playbook author.

[2020-06-22 21:44] mdinwoodie opened #7414 "[RFE] awx-cli: add support for adding workflow job template nodes while specifying the 'run' behavior"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When creating a workflow job template and adding nodes using awx-cli, add ability to specify the 'run' behavior ("always", "on success", or "on failure") of the node.

[2020-06-23 09:15] alexsuppanz commented on #5305
Confirm the issue is also in 12.0.0. Happened after the upgrade vom 11.0.0. We have configured Satellite as dymanic inventory source and we were also unable to open the "Hosts" Section in the inventory.

Resetting the permissions as described above solved the issue.

[2020-06-23 14:03] MattMonkman commented on #7347
Hello.  Any further thoughts on this?

[2020-06-23 14:41] tp199314 opened #7415 "Timeout while editing surveys"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I was editing a survey of a job template for a long time with many modifications and additions. Sadly, AWX ran into some kind of timeout and when hitting "save" i got the login screen.

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.9
* Operating System: Ubuntu (AWX Server) Windows 10 (Client)
* We

[2020-06-23 15:12] #7415 closed, assigned to nobody

[2020-06-23 15:13] tp199314 opened #7417 "auto-logout warning is behind survey editor"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I was editing a survey of a job template for a long time with many modifications and additions. Sadly, AWX ran into some kind of timeout and when hitting "save" i got the login screen.

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.9
* Operating System: Ubuntu (AWX Server) Windows 10 (Client)
*

[2020-06-23 15:30] AlexSCorey opened #7419 "User Tokens List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We need to add the User Tokens List.  Based on old ui it seems that the user can only add tokens for themselves.  They can't add tokens for other users

https://tower-mockups.testing.ansible.com/patternfly/users/users-tokens/

[2020-06-23 15:49] ryanpetrello commented on #2830
@RylandDeGregory,

I don't have a readily available SMTP server to test with, but this exception in your error message seems pretty clear to me:

`OSError: [Errno 101] Network is unreachable`

Looking down that Python stack trace, this looks like pretty distinct Python socket code, and the way I interpret this is that your container can't reach your mail host:

[code]

[2020-06-23 15:54] ryanpetrello commented on #7405
@anxstj,

You could argue that what you're encountering here is a version of https://github.com/ansible/awx/issues/5590

[code]

That said, a simple count query using an index scan on 11 million rows shouldn't be taking anywhere near...is that 15 **minutes**?  What type of hardware and resources have you allocated to your database?  With a dataset of your size, you may need to throw some system re

[2020-06-23 15:54] RylandDeGregory commented on #2830
Hey @ryanpetrello,

The mail server[ is implied as localhost](https://docs.ansible.com/ansible/latest/modules/mail_module.html#parameter-host) when none is specified. I guess the container can't send mail messages from its host. Makes sense.

I added the `host:` attribute to the module and specified an external SMTP relay, thus solving the issue.

[2020-06-23 16:22] ryanpetrello commented on #7399
@codersplanet sounds like an opportunity for a pull request to the Hashivault credential plugin.

[2020-06-23 16:23] anxstj commented on #7405
It's a dedicated VM only for the Postgresql database with 4 GB RAM and 4 vCPU@2.6 GHz.

Forcing Postgresql to use an index scan (SET SESSION enable_bitmapscan=false) will cause the query to be finished in 5 ms. So I really don't know why Postgresql chooses a heap scan for that query.
The behaviour started sometime last week, and we didn't change anything on the infrastructure. So I suspect that th

[2020-06-23 16:42] ryanpetrello commented on #7405
Ouch.  Yea, I'm very interested in why postgres is choosing a heap scan here.

[2020-06-23 16:51] ryanpetrello commented on #7405
@anxstj,

I'll try to reproduce something like this on my end.  I do know, however, that there are users that are managing AWX and Red Hat Ansible Tower installs with literally hundreds off millions (in some cases a billion+) of distinct event rows, and I haven't seen reports of _this_ particular issue.

Part of me also wonders if there's any query planner optimizations hiding somewhere in newer v

[2020-06-23 16:51] akai257 opened #7421 "Unable to install AWX"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: Latest
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  Latest
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

fatal: [localhost]: FAILED! => {
    "assertion": "postgres_data_dir is defined and postgres_data_dir != ''",
    "changed": false,

[2020-06-23 16:53] ryanpetrello commented on #7421
Hey @akai257,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

You may want to take a glance at this part of the install docs; deploying "Latest" can mean a lot of things to different people, and you might want to ensure that you're _actually_ deploying the latest _stable_ release of AWX (12.0.0).

https://github.com/ansible/awx/blob/devel/INSTALL.md#clone-the-repo

[2020-06-23 16:53] #7421 closed, assigned to nobody

[2020-06-23 17:22] akai257 opened #7422 "Not able to install AWX"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: kubernetes
* Ansible version:  2.9.10
* Operating System: Centos 8.0
* Web Browser:

##### STEPS TO REPRODUCE

fatal: [localhost]: FAILED! => {
"assertion": "postgres_data_dir is defined and postgres_data_dir != ''",
"changed": false,
"evaluated_to": false,
"msg": "Set the value of 'postgre

[2020-06-23 17:27] ryanpetrello commented on #7422
Duplicate of https://github.com/ansible/awx/issues/7421

Have you tried setting `postgres_data_dir` in your inventory file (as the error you pasted suggests)?

Again, If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-06-23 17:27] #7422 closed, assigned to nobody

[2020-06-23 17:33] ryanpetrello commented on #7422
Just to confirm, following the instructions in our install docs, I'm unable to reproduce what you're describing:

[code]

<img width="1172" alt="image" src="https://user-images.githubusercontent.com/214912/85435854-17d6f600-b556-11ea-8657-982a6b9799b8.png">

<img width="1312" alt="image" src="https://user-images.githubusercontent.com/214912/85435866-1c031380-b556-11ea-8667-9536b0f024fb.png">
<img

[2020-06-23 17:35] ryanpetrello commented on #7374
Nope, I'm not familiar with the change that affected this cc @AlanCoding @jbradberry @elyezer

[2020-06-23 17:45] imareporter opened #7423 "Add Ability to Generate User Reports For Auditing Purposes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

An user is requesting the ability to generate auditing reports (e.g. HTML, PDF) for Tower users. They're requesting a user list that shows:

- Which projects an user has access to
- Which roles the user has across Tower resources (e.g. projects)

Though it's possible to generate a custom solution around the Tower API, it would be more user-intuitive

[2020-06-23 18:34] akai257 commented on #7422
This is on Kubernetes not on docker

[2020-06-23 19:09] sjortiz commented on #7365
@shanemcd the issue happens even if you are root.

Dockerfile:

[code]

Error:

[code]

[2020-06-23 19:13] ryanpetrello commented on #7422
@akai257,

Please read the instructions for installing in Kubernetes, then (https://github.com/ansible/awx/blob/devel/INSTALL.md#kubernetes).  The error you've reported here is specific to the Docker installer:

[code]

[2020-06-23 19:20] sjortiz commented on #7365
Also this doesn't work either:

docker file:

[code]

error:

[code]

[2020-06-23 20:39] #6810 closed, assigned to nixocio

[2020-06-23 21:41] yurtesen commented on #5803
I have added scope `incoming-webhook` I think the documentation is very behind compared to current slack settings....

[2020-06-23 21:52] Ben2064 commented on #7201
I'm running into the same issue on:
AWX 11.2
Chrome
Kubernetes (server)
Win 10 (client)

So it's probably not version/browser/os  related. For us this is making smart inventories essentially useless as we absolutely need to be able to filter by inventory/groups to make use of them in most cases.

[2020-06-24 07:42] JG127 opened #7428 "Please provide release notes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Compile human readable release notes describing for each release what changes have been made. Changes like bug fixing, added features, changes in the used software (i.e. Postgres, Memcached, ...), improvement in performance, how to migrate, etc...

It would help people immensely to decide whether to do an upgrade or stay put. Especially for the non-t

[2020-06-24 10:30] chris93111 opened #7429 "inventory script with project source not work in ui"
##### ISSUE TYPE
 - Bug Repor

##### SUMMARY

because inventory script /api/v2/inventory_scripts/ is deprecated i try to migrate to project_source

the refresh source in awx stuck but cmd awx-manage inventory_import is work.

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: docker
* Ansible version:  2.9.9
* Operating System: redhat
* Web Browser: chrome

##### STEPS TO REPRODUCE

set

[2020-06-24 10:57] sumkincpp commented on #1288
Issue relevant to latest AWX 12.0.0 and probably to AWX 13.0.0, sourcing from locally-created project isn't working with `SOURCE_PROJECT: Cannot use manual project for SCM-based inventory.` error.

[2020-06-24 12:53] ryanpetrello commented on #7428
Yep, this exists, and we publish it here:

https://github.com/ansible/awx/blob/devel/CHANGELOG.md

Also, our release announcements on the mailing list generally include this information:

https://groups.google.com/forum/#!topic/awx-project/8Y5cftbetjE

[2020-06-24 12:53] #7428 closed, assigned to nobody

[2020-06-24 13:14] ryanpetrello commented on #7387
@benapetr,

Does setting `ansible_python_interpreter='/usr/bin/env python3'` in the inventory help?

[2020-06-24 13:16] nixocio opened #7430 "Add support for Credential Types Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add support for Credential Types Details

[2020-06-24 13:27] Gortex commented on #7371
@blomquisg The credentials are correct and can be used directly on the AWX instance using the aws-cli.  This appears to be an issue with AWX.  Please re-open the bug until we can confirm what the actual issue is.

[2020-06-24 13:32] dsesami commented on #7236
This is good to go outside of one linting issue. Will be closed with the merge of #7355

[2020-06-24 14:34] JG127 commented on #6792
Any chance 13.0.0 solves it ?

[2020-06-24 16:38] AlexSCorey opened #7433 "User Tokens Add"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add functionality to add a token in Users https://tower-mockups.testing.ansible.com/patternfly/users/users-tokens-add/

[2020-06-24 16:40] AlexSCorey opened #7434 "User Tokens Delete"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add functionality to delete a token https://tower-mockups.testing.ansible.com/patternfly/users/users-tokens/

[2020-06-24 16:45] AlexSCorey opened #7435 "User Tokens Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add a Token detail view.  However, this details view will not have an edit button because Tokens cannot be edited.

[2020-06-24 16:57] #7435 closed, assigned to nobody

[2020-06-24 17:05] #7236 closed, assigned to dsesami, AlexSCorey

[2020-06-24 17:50] jbradberry commented on #7374
This skip field behavior is coming from Django REST Framework itself, and thus this piece of metadata should be missing on all of our fields that have an empty default since we aren't overriding it anywhere.

https://github.com/ansible/awx/blob/a26df3135b73290951c45a2a3903849517a44c72/awx/api/metadata.py#L88-L96

https://github.com/encode/django-rest-framework/blob/aed74961ba03e3e6f53c468353f4e255

[2020-06-24 17:52] jbradberry commented on #7374
~~This looks easy enough to fix if we want this change, but it will affect all currently skipped fields, not just `webhook_service`~~.

I take that back, ultimately the field itself is refusing to return a value when `get_default` is called on it.

[2020-06-24 18:55] ghost commented on #1280
I ran into a similar, maybe same, issue as OP.  When running a template and overriding the SCM Branch the inventory variables do not get updated with the new branch for that run.

For example say production is using the "master" branch.  The project is setup to use the master branch but allow for the branch to be overridden (for testing).  Then the inventory is setup to use the SCM project for its

[2020-06-24 19:47] elyezer opened #7438 "Creating a credential with a team as a owner creates inconsistency when exporting and importing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: devel
* AWX install method: any
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

1) Create an org and a team (link the team to the org)
2) Create a new credential via the API and pass the team ID as the owner field:

[code]

3) Check the credentials owners:

Via API:

[code]

Via

[2020-06-24 20:26] elyezer commented on #7438
I've investigated this a little more and found this that some roles are assigned to the when when creating the credential but only the use role returns on API calls.

https://github.com/ansible/awx/blob/1321d298eee6ab9120f80037bd936ab25bc224d1/awx/api/serializers.py#L2666-L2667

I've also found how the owners list is returned for roles defined as in the lines above:

https://github.com/ansible/awx

[2020-06-24 21:36] keith6014 opened #7439 "URL absolute instead of relative"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Some links are absolute instead of relative.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker
* Ansible version:  2.9.10
* Operating System: Linux
* Web Browser: Chrome/IE

##### STEPS TO REPRODUCE

Connect to AWX. At home page, links in dashboard-list for jobs, dashboard-count and activity-stream are absolute.

##### EXPECTED RESU

[2020-06-24 22:12] mjpalacios opened #7440 "AWX HA (2 instances) Invalid search term entered. GET returned: 500 A server error has occurred"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have installed two instances of AWX into separate data centers for HA purposes and put an F5 GTM in front. The GTM is configured active/active. Both instances are using the same database. Issue is, when both instances of AWX are running simultaneously, job submissions succeed, but job execution log retrievals fail.  AWX displays an error message "Inv

[2020-06-24 22:28] mikemurray86 opened #7441 "select button missing in webhook select credential"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
when setting up a new webhook and selecting a credential there is no way to confirm the credential selection

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: ubuntu 18.04
* Web Browser: Chrome, Edge

##### STEPS TO REPRODUCE

1. create new gitlab pe

[2020-06-24 22:41] dfmateus commented on #4197
Hi anyone found the fix for that behavior, I'm received that error.

1.544 INFO     Updating inventory 10: Red Hat® OpenStack® Platform
    1.901 DEBUG    Using base command: python /usr/bin/ansible-inventory -i /tmp/awx_6400_lx_txawi/openstack.yml --playbook-dir /tmp/awx_6400_lx_txawi -vvvvv
    1.901 INFO     Reading Ansible inventory source: /tmp/awx_6400_lx_txawi/openstack.yml
    1.906 INFO

[2020-06-24 23:15] ryanpetrello commented on #7440
@mjpalacios,

Can you check out the web container logs and see if there's a traceback with details?

[2020-06-25 03:30] mjpalacios commented on #7440
I attempted opening the execution log of a job (id=10730) that was submitted while both instances were running and the entries below showed up in the container's log: (URLs and IP addresses have been sanitized)

[code]

[2020-06-25 05:16] neutralrockets commented on #4736
Happening to me with new AWX 13.0.0 release and also on macOS using docker-compose install method.

[2020-06-25 06:51] JG127 commented on #7428
I stand corrected ! :-)

[2020-06-25 13:08] fchiacchiaretta opened #7442 "Cannot run dig lookup - Missing dnspython error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm trying to use dig lookup, but it fails with missing dnspython library error.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: Server: CentOS 7.8 , Client: Fedora 32
* Web Browser: Firefox 77.0.1

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL R

[2020-06-25 14:18] JRNC opened #7443 "EC2 Inventory Sync Issues with v13.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWS EC2 inventory sync is no longer pulling down hosts after moving to version 13.0.0, but job status completes as successful.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: RHEL 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Attempt to run an EC2 inventory sync on AWX v

[2020-06-25 14:56] invizus commented on #3365
I have slightly similar issue caused by below config in ansible.cfg:
[code]
Removed this, then AWX is able to run templated jobs.
But my inventories are in ini format.

[2020-06-25 14:58] ryanpetrello commented on #7440
This _looks like_ a duplicate of https://github.com/ansible/awx/issues/6982 to me.

So we've seen this before, but I'm not really sure **how** folks have managed to get data into this state: https://github.com/ansible/awx/issues/6982#issuecomment-629380382

[2020-06-25 14:59] ryanpetrello commented on #7440
@mjpalacios if you run this query, can you share the output?

[code]

[2020-06-25 15:42] chrismeyersfsu commented on #7438
Chatted with @AlanCoding about this issue. @elyezer describes the reason import/export is unable to realize this scenario:

`So the team admin_role gets linked to the credential's admin_role parents when creating in the API. Since this does not get reflected by the roles endpoints it is probably why the import can't bring the credential's owners as when it was exported.`

https://github.com/ansibl

[2020-06-25 15:52] dsesami commented on #5881
Removing needs_test because this is in limbo until #7339 is done. we'll move it back to needs_test afterwards.

[2020-06-25 16:08] mjpalacios commented on #7440
@ryanpetrello , please find below the query and its output

[code]

[2020-06-25 16:27] chrismeyersfsu commented on #7438
New direction to deal with this problem. Detect Credentials of this fancy crazy type via `api/v2/credentials/?admin_role__parents__content_type__model=team` and don't migrate them.

[2020-06-25 16:59] ryanpetrello commented on #7440
@mjpalacios can you put a `,` between `parent_uuid` and `playbook` - sorry about that.

`select created, modified, uuid, parent_uuid, playbook from main_jobevent where job_id=10730 and event='playbook_on_stats';`

[2020-06-25 17:12] mjpalacios commented on #7440
@ryanpetrello no problem, see below:

[code]

[2020-06-25 17:52] ryanpetrello commented on #7440
@mjpalacios I'd really like to try to reproduce something like this - is there any way you could share your playbook (or some sanitized, simpler version of it)?

Also, does this happen for *every* run of this specific job template, or is this the only job you know of that encountered this problem?

[2020-06-25 17:55] ryanpetrello commented on #7440
Also, could you run and share (sanitized) this adhoc shell command run under the same (or similar) inventory where you ran for this job?

`ansible-config dump`

[2020-06-25 17:58] ryanpetrello commented on #7440
You know, I wonder if the way you have your RabbitMQ HA setup, if sometimes playbooks are running *twice*.

In other words, you launch a job, and the same `ansible-playbook` ends up running on two distinct nodes...

Do you have any evidence of *other* duplicate events for this one job?

[2020-06-25 18:01] ryanpetrello commented on #7440
@mjpalacios does this job have any events that represent fact gathering?  If so, to confirm this theory, we could see if there are any duplicate fact gathers that have distinct IPs - that would suggest that your *one* job ran in duplicate on multiple hosts in your cluster.

[2020-06-25 18:24] AlexSCorey opened #7445 "Application Tokens"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add the Tokens tab /list for Application.  Should hit api/v2/applications/1/tokens

[2020-06-25 18:44] wenottingham commented on #7364
I think we're going to get asked for the "batch" variant, so if it's doable, that would be nice.

[2020-06-25 18:46] wenottingham commented on #7362
These are *very* different things. The above is for LDAP, which has standard attributes for this.

The Azure AD integration is via OAuth2, which doesn't have any of that. I'd honestly suggest using SAML instead and using attribute mapping there.

[2020-06-25 18:58] wenottingham commented on #7407
We'd need whatever logs here you can get; there isn't enough here to determine.

[2020-06-25 19:00] wenottingham commented on #7417
That's the bug. We'll look at this in the ongoing UI rewrite.

[2020-06-25 19:05] wenottingham commented on #7441
@mabashian is this jquery upgrade fallout, or something else?

[2020-06-25 19:11] AlanCoding commented on #7347
There were some major changes that happened in 9eaee801a742751632b8490c740a9565178a28b5, related specifically to the id variable. This is a separate subject from using alias_patterns, which is expected to work. However, logs related to the `config.instanceuuid` are all over your output, and it seems likely that they may be complicating the issue. That fix landed in 13.0.0, so the logs make sense,

[2020-06-25 19:55] mjpalacios commented on #7440
@mjpalacios I'd really like to try to reproduce something like this - is there any way you could share your playbook (or some sanitized, simpler version of it)?

Also, does this happen for every run of this specific job template, or is this the only job you know of that encountered this problem?

Also, could you run and share (sanitized) this adhoc shell command run under the same (or similar) inv

[2020-06-25 20:05] wenottingham commented on #526
https://github.com/ansible/awx/pull/7099 is a sample implementation of this.

This needs rethought/reworked in some ways:
- should use the new awx cli/modules import/export (as a format, and as an implementation)
- on import, it should probably be restricted to only creating templates & maybe inventories (even if more is in the export file)
- it needs a better authentication model (likely some sor

[2020-06-25 20:06] wenottingham commented on #7442
We are unlikely to do this in AWX. See the documentation on custom virtual envirnoments for how to do this locally, and we're working on a new feature that changes how environments are maintained where this could hook in.

[2020-06-25 20:06] #7442 closed, assigned to nobody

[2020-06-25 20:16] wenottingham commented on #7423
This is /api/v2/users/N/roles (and/or access_list), and is viewable under the 'permissions' tab for a user. We do not have plans to do reporting beyond that until/if there is a much more general reporting framework.

[2020-06-25 20:16] #7423 closed, assigned to nobody

[2020-06-25 20:35] mjpalacios commented on #7440
@ryanpetrello Please find below the files comprising the kubeconfig creation playbook (sanitized):
This is the playbook corresponding to job 10719 exhibiting the same anomalous behavior as 10709, 10730, 10733

pb-create-kubeconfig.yml
[code]

roles/create-kubeconfig/tasks/main.yml
[code]

roles/create-kubeconfig/templates/kubeconfig.yml.j2
[code]

roles/create-kubeconfig/vars/main.yml
[code]

[cod

[2020-06-25 20:46] wenottingham commented on #7439
-> #3879

[2020-06-25 20:46] #7439 closed, assigned to nobody

[2020-06-25 21:07] fchiacchiaretta commented on #7442
Hi @wenottingham , may I ask why you won't/can't include it? Is it a dependency issue, or anything else?

dig lookup is ansible builtin, shouldn't it be fully supported?

Anyway, I'll look into the solutions you suggested, thank you for pointing out.

[2020-06-25 21:11] bryanasdev000 commented on #6753
+1

[2020-06-25 21:20] wenottingham commented on #7442
It's a community-supported lookup plugin that has moved/will move to the community.general collection, see https://github.com/ansible-collections/community.general/tree/master/plugins/lookup.

[2020-06-25 21:26] bryanasdev000 opened #7446 "Prometheus Metrics Best Practices"
##### ISSUE TYPE
 - Make sure that exported metrics conform with Prometheus best practices

##### SUMMARY
I have made a PR at Prometheus docs to add AWX as a software exposing Prometheus metrics (https://github.com/prometheus/docs/pull/1685#issuecomment-649323355) and after a quick peek at AWX metrics code from @brian-brazil, he appointed a few things to change. I have see a few others open issues

[2020-06-25 21:37] chris93111 commented on #7429
with 13.0.0 it's same

[2020-06-25 21:56] ryanpetrello commented on #7440
@mjpalacios,

Something has gone terribly, terribly wrong.  RabbitMQ wasn't removed until AWX 10.0.0: https://github.com/ansible/awx/blob/devel/CHANGELOG.md#1000-mar-30-2020

[2020-06-25 22:07] mjpalacios commented on #7440
Not sure how to proceed from here. Any suggestions?

[2020-06-25 23:11] ryanpetrello commented on #7440
Are you certain you're actually deploying 9.3.0?  It doesn't sound like it to me if you're not seeing RabbitMQ anywhere.  This makes me wonder if you've got some sort of disparity between your image and the AWX source code you're deploying with.

If `awx-manage --version` reports 9.3.0, but you're not seeing RabbitMQ containers, then you've got something messed up in your deployment, and it's poss

[2020-06-26 01:11] bendews commented on #7362
I don't think 'just use SAML' is the right long term option here, this is definitely a feature that is required.
Azure AD exposes [App Roles](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps) and [Group Claims](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-group-claims) specifically for the purpose of RBAC. Gro

[2020-06-26 02:48] takezyou opened #7447 "Can not Export inventory hosts"
##### ISSUE TYPE
 - Bug or Fix

##### SUMMARY
Inventory does not include the host when doing an awx export

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: CentOS8
* AWX CLI version: 13.0.0

##### STEPS TO REPRODUCE
[code]
- Inventory does not include the hosts

##### EXPECTED RESULTS
- Inventory contains the host

#####

[2020-06-26 05:07] jomach commented on #7362
@bendews thanks for the comment, I see it the same way. SAML ist just to complex. I would say let's change this right?
Do you know what needs to be touched?

[2020-06-26 06:20] SasBer commented on #329
Is there any solution on this issue? We could use this feature instead of putting when conditions on some tasks.

[2020-06-26 08:04] CWollinger opened #7448 "Bug with inventory import - Use python 3.8 in AWX containers"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There is a strange behavior in python 3.6 with the inventory import. The hostname "10-1" will result to "9".
This behavior is not in the python version 3.8

Is it possible to bump AWX python version to 3.8 ?

See also mailing list problem discussion: https://groups.google.com/d/topic/ansible-project/d_PAEWt5abM/discussion

[2020-06-26 08:39] MVKozlov commented on #1046
I meet this issue when try to use pg_password with ')' in it.

[2020-06-26 08:46] bpetit commented on #6792
I just tried a fresh install with the 13.0.0 (docker-compose mode on debian 10). It seems to give the "main_instance" error too:

Then I ran `awx-manage migrate` which left me with:

[2020-06-26 12:15] AlanCoding commented on #1280
Under some conditions - the inventory source is set to update on launch. It's an SCM source and shares the same project with the job template. In those narrow conditions this is an agreeable expectation.

[2020-06-26 12:33] ryanpetrello commented on #7448
Thanks for reporting @CWollinger.  I've copied a description of the reproducer here.

Works fine in Python 3.7:
[code]

Does *not* work in Python 3.6:

[code]

[2020-06-26 12:33] ryanpetrello commented on #7448
I think this is worth filing as a bug in Ansible itself:

https://github.com/ansible/ansible/issues/70323

[2020-06-26 12:40] ryanpetrello commented on #7448
We're unlikely to move beyond Python 3.6 in the near future as a remediation for this - I'd like to try to understand why this happens in `ansible-inventory` and see if it can be addressed instead.

[2020-06-26 13:23] realtebo opened #7449 "Installer issue: Error connecting: Error while fetching server API version"
##### ISSUE TYPE
 - Installation issue

##### COMPONENT NAME
 - Installer

##### SUMMARY
When running installer, installation fails

##### ENVIRONMENT
* AWX version: 13.0.0.
* AWX install method: docker on linux
* Ansible version:  2.9.10
* Operating System: Debian 10.4
* Web Browser: n/a

##### STEPS TO REPRODUCE

I did a fresh install of a Debian 10, installed all prerequisites and cloned the aw

[2020-06-26 13:25] realtebo commented on #7449
I already tried

    sudo usermod -aG docker $USER

Then exited and relogged in.

This solved this problem.

Question, please: should we install ansible awx as root or as normal user ?!

I've a few of user permission related issues. But I'd avoid to install as root if I only can

[2020-06-26 13:36] realtebo opened #7450 "Migrations after first installation doesn't work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Awx is trying to do something on db, after first install, but something doesn't works

##### ENVIRONMENT
* AWX version: 13.0.0.
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.9.10
* Operating System: Debian 10.4
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

After instal

[2020-06-26 13:55] ryanpetrello commented on #7448
@CWollinger sounds like this is just how Ansible `.ini` inventory works in this version of Python: https://github.com/ansible/ansible/issues/70323#issuecomment-650176138

[2020-06-26 14:19] mjpalacios commented on #7440
@ryanpetrello, found that the code version is 10.0.0 but version label was not updated and still had 9.3.0. I'm going to download the latest version and work the way up from dev to prod. This is going to take some time.

[2020-06-26 14:24] gomker commented on #526
@wenottingham
As a workaround I currenlty use existing Ansible Tower modules to export data to JSON and parse this data back into another tower to syncronize multiple Tower instances. In my use case I prefer to update existing template and create new when does not exist.
For credential managment I do this externally with other key management systems.

[2020-06-26 14:29] CWollinger commented on #7448
Thank you for the information! We created a workaround to regex_replace the ansible_host during the playbook executing.
So, I can live with that until AWX uses a newer version 😊

[2020-06-26 14:46] takezyou commented on #7447
@chrismeyersfsu
I want to fix this myself.
Can I challenge you?

[2020-06-26 15:03] ghost commented on #1280
The best solution would be for the AWX inventory to not import variables from an SCM source.  That way the SCM project branch is correctly respected even when the branch is overridden.  This also allows the AWX inventory variables to be treated with a higher precedence so that they can represent values needed to run the project in the AWX environment and not just plain ansible.   Also, this would

[2020-06-26 15:07] pjeanmonod commented on #6803
For anyone who finds themselves on this thread with the same issue, it has now been fixed in 11.2 as shown below:

commit b1b6af4ad58c56ca50cd38aff4410739bd8243b3
Author: John Mitchell <jmitchel@Johns-MacBook-Pro-46.local>
Date:   Fri Apr 24 15:31:20 2020 -0400

    make sure right endpoint is getting called for notification paginationl

[2020-06-26 15:25] realtebo commented on #7450
You can close. I destroyed all container and recreated and all was working.

It happened that something went wrong initially and setup did not complete. Then, reruiing installer, the setup cannot no more complete.

[2020-06-26 15:25] #7450 closed, assigned to nobody

[2020-06-26 15:25] #7449 closed, assigned to nobody

[2020-06-26 15:43] ryanpetrello commented on #7447
Hey @takezyou,

We'd love a PR 😄 !

I'll leave @chrismeyersfsu' name on this since he's ultimately one of the people who would probably review such a PR.

[2020-06-26 16:10] takezyou commented on #7447
Thank you!!😊
OK!!
I'm creating a PR.
If I don't understand something, can I ask a question?

[2020-06-26 16:28] blomquisg commented on #7443
@AlanCoding can you look at that error output?

[2020-06-26 16:37] blomquisg commented on #7429
@AlanCoding I wonder if this is similar to #7443 .  Can you check both of these out?

[2020-06-26 16:39] ryanpetrello commented on #7404
I'm not totally sure what's up here @zigaSRC, but I'm not able to reproduce this in my vanilla 12.0.0 and 13.0.0 AWX local Docker installs.  These containers definitely must be able to reach each other to broadcast stdout messages.

Can you share your inventory?

[2020-06-26 16:44] ryanpetrello commented on #7348
Hey @psmola,

We don't generally support mrmeee's RPM-based distribution here.  If you can show reproduction of this on a recent version of AWX (like 12.0.0 or 13.0.0) we can take a look.

[2020-06-26 17:09] ryanpetrello commented on #7443
What version of AWX did you upgrade from?

[2020-06-26 17:10] blomquisg commented on #7441
@jakemcdermott can you answer @wenottingham's question?

[2020-06-26 17:13] jakemcdermott opened #7451 "Translation strings aren't loaded for production builds of ui_next"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Translated strings are showing up as untranslated templates in production builds of ui_next

##### STEPS TO REPRODUCE
- have dev environment running
- run `make ui-devel-next`
- visit `https://localhost:8043/next` and sign in

##### EXPECTED RESULTS
- translated strings show expected value

##### ACTUAL RESULTS
- translated strings appear as untranslat

[2020-06-26 17:14] wenottingham commented on #7429
That error implies that you have vaulted variables (in group_vars or host_vars) adjacent to the inventory script, so it's asking for a vault password. Can you check that, and move them out of the way?

[2020-06-26 17:14] #7409 closed, assigned to nobody

[2020-06-26 17:15] jakemcdermott commented on #7451
requires https://github.com/ansible/awx/pull/7115

[2020-06-26 17:16] ryanpetrello commented on #7406
This looks like a duplicate of https://github.com/ansible/awx/issues/5305 ?

[2020-06-26 17:17] ryanpetrello commented on #5305
@shanemcd you have any ideas on this or #7406?

I've never been able to reproduce this, and am a little stumped.

[2020-06-26 17:18] jbradberry commented on #7447
@takezyou I'm also able to answer questions, as I did the original work on this feature.

[2020-06-26 17:19] wenottingham commented on #7403
How many entries do you have in the activity stream?

[2020-06-26 17:22] wenottingham commented on #7386
What roles on the template and its associated organization does the calling user have?

[2020-06-26 17:24] blomquisg commented on #7335
@Blusafur can you include the network console logs?

[2020-06-26 17:25] AlanCoding commented on #7002
Could be that we need a `raw=True` option when it's loaded

https://github.com/ansible/awx/blob/5445a3b5673b3c5bce005ae91c0b6ca2f60963c1/awx_collection/plugins/module_utils/tower_api.py#L213

[2020-06-26 17:27] wenottingham commented on #7318
"4 cores and 8 GB RAM"
"5 series of 200 workflows"

So, 1000 simultaneous workflow jobs? That's not going to work in 8GB of RAM.

[2020-06-26 17:27] AlanCoding commented on #6725
Closing this, because if there are improvements beyond what we already discussed, I expect it to be out of the scope of the AWX collection itself

[2020-06-26 17:27] #6725 closed, assigned to nobody

[2020-06-26 17:29] ryanpetrello commented on #7440
Could be related to https://github.com/ansible/awx/issues/7253?

[2020-06-26 17:34] ryanpetrello commented on #7253
@therealrobopablo can you share a listing of your Docker containers e.g., `docker ps -a` ?

[2020-06-26 17:38] JRNC commented on #7443
@ryanpetrello I went from 12.0.0 to 13.0.0

[2020-06-26 17:57] one-t commented on #7335
Hi, @Blusafur - can you provide redacted screenshots of the whole saml config?

Thanks!

[2020-06-26 20:09] gen2fish opened #7453 "SyntaxError: EOF while scanning triple-quoted string literal: PIP Module fails in Container Group when setting executable parameter"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running a playbook with the pip module from a container group where the executable parameter is set, job errors out with encrypted playbook response and error:

[code]

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker
* Ansible version:  2.9.5
* Operating System: CentOS 7
* Web Browser: Firefox

##### STEPS TO REPRODUCE
Playbook

[2020-06-26 20:10] gen2fish commented on #7453
In the container group, I am customizing the pod spec to run in a specific namespace.

[code]

[2020-06-26 20:25] chris93111 commented on #7429
@wenottingham it's right , i have isolate the script inventory in other git and is work

so global project with vaulted vars it's not compatible with inventory script in scm ?

[2020-06-26 20:27] jakemcdermott opened #7454 "Websockets aren't proxied correctly by ui development server (port 3001) causing them not to work in Chrome"
##### ISSUE TYPE
 - Bug Report

[2020-06-26 20:37] wenottingham commented on #7429
Inventory-adjacent whole vaulted files do not work. See https://github.com/ansible/awx/issues/2597 and other issues.

I'm going to close this as working as expected.

[2020-06-26 20:37] #7429 closed, assigned to nobody

[2020-06-26 20:39] chris93111 commented on #7429
ok thanks

[2020-06-26 21:09] marshmalien opened #7456 "Add smart inventory detail view"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
1) Fields:
    - Name
    - Description
    - Type
    - Activity
    - Organization
    - Smart host filter
    - Instance groups
    - Variables
    - Created by
    - Modified by
2) Edit button (rbac permitting)
3) Delete button (rbac permitting)

Link to mockup: https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-smart-de

[2020-06-27 09:52] bryanasdev000 opened #7458 "Add support for cluster mode with docker-compose method of deploy"
##### ISSUE TYPE
Add support for cluster mode with docker-compose method of deploy

##### SUMMARY
With the official role we can already set up the `docker-compose.yml` on multiple machines but they will not go in cluster mode as all will report as awx (both in `CLUSTER_HOST_ID` and by the hostname of the `awx_task `container), if we change the `settings.py` to get the `CLUSTER_HOST_ID` by environm

[2020-06-27 14:38] chrismeyersfsu commented on #7438
Ok, new plan. The import/export works as-is. We shouldn't continue to try and support this wacky `team` field. @AlanCoding eventually wants to phase it out. Currently, when import/export encounters this case, where credential admin roles gain the team admin roles, exporting back into AWX will result in the USE role being given to the associated team. This is a lesser permission than the original g

[2020-06-27 18:45] takezyou commented on #7447
@jbradberry Is there any way to disable page.PageCache()?

[2020-06-27 20:04] jjtroberts opened #7459 "Jira Service Desk automation webhook support"
##### ISSUE TYPE
 - Add webhook service support for Jira Service Desk automation

##### SUMMARY
My small engineering team would like to use Jira Service Desk (JSD) automation rules to facilitate user self-service for common, low-risk requests. Most of our requests are already automated using Ansible playbooks and roles, however, we currently have to use Jenkins to provide self-service. The desired

[2020-06-27 23:22] bryanasdev000 commented on #7187
+1

[2020-06-27 23:30] bryanasdev000 commented on #6792
Tried with latest version (v13.0.0) on a clean env (Debian 10) and didn't have issues.

NOTE: Using an external PostgreSQL 11.8 database.

[2020-06-28 09:42] planeturban commented on #7010
Come to think about it.. `state: present` wiping everything else is kinda.. dumb.. Compare with `lineinfile` setting a line as present does not clear the everything in the file.

So it ought to be the other way around: use `state: absent` to clear your the unwanted hosts (or extra_vars). And/Or a parameter `wipe: yes` (`no` default) to clear whatever one is working with at the moment (as @john-wes

[2020-06-28 18:25] takezyou commented on #7447
@jbradberry @chrismeyersfsu
[code]

I could currently call in related.
But I couldn't import it. Do you have any good ideas?

[2020-06-28 18:57] jbradberry commented on #7447
@takezyou got your code somewhere we can see it?

Off the top of my head this related endpoint is a create/attach/detach one, so based on the way I did most of the other related endpoints like it, it would rely on hosts and groups being top-level exportable objects.  You would need, I think, to make sure the page model for these have a natural key defined, and that they are added to the top-level

[2020-06-28 19:07] AlanCoding commented on #7010
By that logic, we should merge, and not write, dict fields (of which there are many). You could go even further, dict-type fields that have sub-dicts and sub-lists shouldn't overwrite, but merge. It's not impossible to do this, but to document it and implement it consistently in all cases would be more effort than we could manage.

[2020-06-28 19:20] AlanCoding commented on #7443
Do you know if it's a particular instance filter giving trouble? Like `tag:Platform=Windows*`? We have some tests fairly similar to this syntax and nothing easily comes to my mind.

[2020-06-28 23:32] takezyou commented on #7447
@jbradberry
Thank you.
I created a PR.
I was able to understand the algorithm somewhat better. I certainly had to think about what to do with the host and the group, as you say ...

[2020-06-29 06:50] zigaSRC commented on #7404
Sadly I can't share our inventories but if there's anything you would like me to check just let me know. Besides I don't think it's related to that, since it's not tied to running any playbook or inventory sync, but you probably know best.

BTW I upgraded to 13.0.0 since you mentioned it, but that didn't help the issue:

[code]

**Edit**: We could talk on IRC to see if we can figure something out.

[2020-06-29 13:14] nixocio opened #7467 "Instance Groups"
Issue to track work related to Instance Groups/Container groups.

 1. Modify routing system to add those new routes. https://github.com/ansible/awx/issues/7471
 2. List Instance Groups https://github.com/ansible/awx/issues/7557

The next issues need to differentiate `instance groups` and `container groups`.

Instance groups:

 3. Add Instance Groups https://github.com/ansible/awx/issues/7744
 4. E

[2020-06-29 13:48] psmola commented on #7348
Hi
I reproduced issue on AWX 13 (docker version).
Steps to reproduce:
1) Create Organization "test"
2) Add "admin_test" user to "test" organization as a administrator
3) Create "user1" in AWX as a normal user (Default organization)
3) Reconnect to AWX as "admin_test"  user
4) Try add "user1" to "test" organization - users

Result:
User has not been added. In logs awx_web container:
[pid: 81|app: 0

[2020-06-29 14:05] anxstj commented on #7405
The database was running on Postgresql 9.6. I upgraded it to 10 and now postgresql uses an indexscan again. So the error is gone.

With 9.6 I tested how many rows I need to delete until the indexscan was used again. I had to remove 1,600,000 (+/- 250,000) rows which left 8,200,000 rows in the main_jobevent table.

I made a clone from the database if there is anything you like to have checked or tr

[2020-06-29 14:19] ryanpetrello commented on #7405
Hey @anxstj,

Thanks for digging - if you spot anything like this in pg10 (or above), let me know and I'll dig in a bit further.

[2020-06-29 14:19] #7405 closed, assigned to nobody

[2020-06-29 14:23] jakemcdermott commented on #7036
:heavy_check_mark:

[2020-06-29 14:23] #7036 closed, assigned to nixocio, jakemcdermott

[2020-06-29 14:35] jakemcdermott commented on #6520
reopening for test as https://github.com/ansible/awx/issues/6520#issuecomment-641350592 should be addressed by https://github.com/ansible/awx/pull/7469

[2020-06-29 14:37] wbieniek opened #7470 "AWX will not scale above 24 nodes"
##### ISSUE TYPE
After upgrading from AWX 12 to AWX 13 cluster will not scale above 24 nodes
##### SUMMARY
Node 25 will not stay in the cluster for more than few seconds. AWX version 12 did not have this issue.

##### ENVIRONMENT
* AWX version: 13
* AWX install method: openshift 4.3
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

####

[2020-06-29 15:30] nixocio opened #7471 "Instance Groups Routing Stub"
ISSUE TYPE

    Feature Idea

SUMMARY

Stub out the routing and the needed components for Instance Groups.

[2020-06-29 16:30] marshmalien opened #7472 "Smart Inventory Add Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Fields:
1. Name
    * Required
2. Description
3. Organization
    * Required
    * Organizations populate from `/api/v2/organizations/?page_size=5&order_by=name&role_level=inventory_admin_role`
4. Smart host filter
    * Required
    * In the old UI we disable this field until Organization has a value
    * Hosts populate from ` /api/v2/hosts/?order_

[2020-06-29 16:38] ryanpetrello commented on #7404
Have you customized your container names or hostnames in some way?  With a vanilla 13.0.0 install, I'm unable to reproduce this.  Where is `awxtask` coming from?

[code]

[code]

[2020-06-29 16:38] marshmalien opened #7473 "Smart Inventory Edit Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
More details in smart inventory add form issue: #7472

Fields:
1. Name
    * Required
2. Description
3. Organization
    * Required
    * Organizations populate from `/api/v2/organizations/?page_size=5&order_by=name&role_level=inventory_admin_role`
4. Smart host filter
    * Required
    * In the old UI we disable this field until Organization has a

[2020-06-29 17:15] #5929 closed, assigned to nobody

[2020-06-29 17:42] JRNC commented on #7443
@AlanCoding, I did a bunch of trial and error with a temporary inventory. The filters seem to be fine, but I'm assuming that an update to the EC2 inventory plugin is no longer properly leveraging the hostname_variable source variable. In addition to that, when testing different syntax, the error message refers back to using 'tag:name=value', which does not work.

Error message when attempting diff

[2020-06-29 17:59] JRNC commented on #7443
It appears as though using 'tag:Name' for the hostname_variable will provide the desired result (this value is case sensitive). This might be a matter of documentation/fixing the wording for the error and/or creating some backwards compatibility for source variable syntax that worked previously.

[2020-06-29 18:15] JRNC commented on #7443
Unfortunately, it also looks like the destination_format and destination_format_tags source variables aren't working properly. The inventory sync will complete successfully, but there is no "ansible_host" variable set for any of the hosts that are pulled down from AWS.

[2020-06-29 19:09] iridian-ks opened #7475 "[awx_collection] Manage users in teams; manage teams/users in templates"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Right now, I'm generating maybe ~100 job templatres with Ansible. Some of the jobs are duplicates and simply prefill different variables (environments, etc...). Different users have access to different environments. We use the automatic LDAP mapping to get users into Organizations, but it looks like a job/workflow template can only be a part of a si

[2020-06-29 19:39] wenottingham commented on #7475
This is what `tower_role` is for.

[2020-06-29 19:51] dsesami opened #7476 "[ui-next] Templating on empty lists and user dates when building with make ui-devel-next"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Some templated strings are broken when using the command `make ui-devel-next` to build the UI.

- Notably, empty lists are broken, and "modified on date by user" strings are broken.

##### STEPS TO REPRODUCE
start your UI with `make ui-devel-next`. visit an empty list, or the details page of something like a job template.

##### EXPECTED RESULTS
normal

[2020-06-29 19:58] jakemcdermott commented on #7476
duplicate of https://github.com/ansible/awx/issues/7451

[2020-06-29 20:03] jakemcdermott commented on #7476
maybe not a duplicate of #7451?

[2020-06-29 20:41] planeturban commented on #7010
There are, in my eyes, a few solutions..

1. Leave as is and document how to write a playbook that stores all hosts in a variable and then adds the new one(s). **bad**
2. Go all in and support any and all variations for `present`, `absent` plus `keep_existing`. **worse**
3. Add support for updating top level of dicts/lists only. **less bad**
4. Add support for updating to the most commonly used mo

[2020-06-29 21:09] AlexSCorey opened #7480 "Webhooks Cannot be Turned off"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
f9039703ee582386f61336c57a1f0a66778681a8 introduced a bug where a user that has webhooks cannot uncheck the webhooks box to turn them off.
##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker for mac
* Ansible version:  3.7
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a job template or a workflow jo

[2020-06-29 21:44] jakemcdermott commented on #6520
reopening for test as #6520 (comment) should be addressed by #7469

[2020-06-30 05:29] vidyasagarreddyc opened #7481 "RBAC in Ansible tower/AWX"
I am exposing multiple options in RBAC, For multi tenancy environment, I planned to create two org company-A and Company-B.

Created admin-usr-A to company-A org, and read-usr-A to company-A

similarly, Created admin-usr-B to company-B org, and read-usr-B to company-B

I have assigned admin permissions to user admin-usr-A in  company-A

when I am able to login as admin-usr-A,   admin-usr-A can see

[2020-06-30 06:15] zigaSRC commented on #7404
Yes, but just through the install playbook or rather inventory. It contains the following changes to hostnames:
[code]
As such the awx_web hostname is set to ansible. The task container has it's default awx hostname.

I have not changed the container names in any way and have not touched anything outside the install inventory file (except after the errors for debugging and trying to solve the conn

[2020-06-30 09:02] ReinerNippes opened #7482 "no update of project git revision number in webgui"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After updating a project hosted on git the git revision in the expanded view in the web gui is not updated. One has to reload the web page to do so.

##### ENVIRONMENT
* AWX version: 11.2
* AWX install method: docker
* Ansible version:  2.9.9
* Operating System: Ubuntu 20.04
* Web Browser: Firefox

##### STEPS TO REPRODUCE

update a git based project

[2020-06-30 09:12] alanbchristie opened #7483 "Custom credential types with boolean fields cannot be created or edited using the AWX console"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am creating custom credential types (and custom credentials) using the Ansible awx.awx collection's `awx.awx.tower_credential_type` and `awx.awx.tower_credential` modules. I can create credentials using the `tower-cli` but not using the AWX console.

You cannot edit existing or create new custom credentials in the console because the **SAVE** button

[2020-06-30 12:55] alxndr13 commented on #7386
@wenottingham Thanks for your response.

We tried it with two different users:
- The first one "alpha" is a system admin and additionally has the execute role for the template.
- the second one: "beta", has the execute role for the template.

[2020-06-30 13:33] Gaby033 commented on #5214
Hello,

It's been a while, but I still have the issue. I'm unable to upgrade my AWX 6.1.
I've even tried to upgrade to the latest : 13.0.0 but I have the same error.

I can provide more logs/conf if required. If someone could help me please.

[2020-06-30 13:56] soapjam opened #7486 "Add 'ask_scm_branch' parameter support"
##### ISSUE TYPE
Feature request for adding 'ask_scm_branch' parameter to 'tower_job_template' module.

##### SUMMARY
Hello!
In our company we're actively using 'SCM branch' parameter in all AWX templates and also we've started to use playbooks for automated templates configuration, but I found that there is not ability to set "Prompt on launch" checkbox in 'tower_job_template' module. Could you p

[2020-06-30 14:25] ryanpetrello commented on #7404
Can you share this?

`SELECT * FROM main_instance;`

[2020-06-30 14:27] ryanpetrello commented on #7481
Hey @vidyasagarreddyc,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-06-30 14:27] #7481 closed, assigned to nobody

[2020-06-30 15:39] jlmitch5 opened #7487 "indicate the lookup for instance groups (possibly content source in the future) is ordered"
there is currently no indication in the UI that this data is ordered, and the order in which they are selected sets the execution precedence.  We should consider making that lookup/the selected area order-able, as well as give the user a note that the order matters.

this may also be the case for a content source if we decide to make that hub content source stuff hav e aui

[2020-06-30 17:03] #7419 closed, assigned to AlexSCorey

[2020-06-30 17:17] AlanCoding commented on #7010
Yeah, I think that (3) is what the conversation was already trending towards. There needs to be a way for user to control merge/overwrite, and I still don't see any problem with the `<existing>` syntax, which would be a fast one-off patch solving the problem for all similar cases.

[2020-06-30 17:31] jsandova opened #7488 "Jobs stuck in a pending state"
##### ISSUE TYPE
Jobs stuck in a pending state

##### SUMMARY

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: Docker on linux
* Ansible version:  2.9.10
* Operating System: Ubuntu 18.0.4
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Not sure it just started on it's own, I tried upgrading to the latest version with no luck.

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDIT

[2020-06-30 18:02] planeturban commented on #7010
<existing> as quick and dirty fix is fine. But it opens up a Pandora’s can of worms (!) if someone forgets it in a production system and wipes all hosts from an inventory...

Come to think of it, how would one go about when using ‘with_items’ in conjunction with <existing>?

[2020-06-30 18:40] AlanCoding commented on #7010
you can't use with_items, this is a parameter of the list type. If you have a list, you can just pass it to the parameter.

[2020-06-30 20:07] wenottingham commented on #7386
Does the "beta" user have any rights on the organization the template belongs to?

[2020-06-30 22:47] mjpalacios commented on #7440
I have built docker images and deployed AWX 13.0.0 into a non-production OpenShift environment. Will deploy into a production environment (single instance) later this week. Will update this issue after that.

[2020-07-01 01:07] szollin opened #7490 "Permission denied when system admin trys to access system menu"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a user that has the system administrator permission clicks on System or any of the submenus inside of system, nothing loads. When running `docker logs -f --tail 1 awx_web` and clicking on the System menu option, the following error appears. Personal information has been removed from the log output.

[code]

##### ENVIRONMENT
* AWX version: 13.0.0

[2020-07-01 01:47] geerlingguy commented on #7051
@kevindurb - See related issue in this repository: https://github.com/ansible/awx/issues/2502

[2020-07-01 02:05] kevindurb commented on #7051
@geerlingguy i spent some more time on this a couple weeks back and got tini replaced but there’s more... I’ll see if i can get the next set of errors posted soon. If you’re interested I started a fork with the experimental changes https://github.com/kevindurb/awx

[2020-07-01 02:12] geerlingguy commented on #7051
@kevindurb - That's awesome! Seeing that the Pi 4 now comes in an 8GB version, there's finally enough RAM available to comfortably run AWX on ARM. And it would be even more awesome if this feature could make it into the main branch (and get multi-arch builds for the AWX images) before Apple Silicon makes its way into the first Macs, so AWX could easily be run on Macs natively.

Also, suggested tit

[2020-07-01 02:30] AlanCoding commented on #7483
By "console" I take it you mean the UI.

I am able to replicate

![Screen Shot 2020-06-30 at 10 27 01 PM](https://user-images.githubusercontent.com/1385596/86196370-1d69a880-bb21-11ea-8e2f-5d0e21ced090.png)

Even if you had created the credential type by other means, I would expect the same results, because this is due to the combination of inputs definition.

[2020-07-01 03:39] lxop commented on #7344
I'll try as soon as I get an opportunity to upgrade AWX

[2020-07-01 04:11] vielmetti commented on #7051
Glad to see progress here!

[2020-07-01 06:26] sbuvaneshkumar opened #7492 "awx job monitor returning 400 Bad request"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I use awx job monitor, it returns 400 bad request.
[code]
But at the same time, I see awx job stdout is working as expected.
[code]
##### ENVIRONMENT
* AWX version: 12.0.0

[2020-07-01 07:51] thisID opened #7493 "Problem with using the Copy module"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 12
* AWX install method:  docker
* Ansible version:  2.99
* Operating System: Centos7.5
* Web Browser: chrome

##### STEPS TO REPRODUCE

My PlayBook script is on Github, My jdk file is on the local server
[code]

But the execution failed
[code]

##### EXPECTED RESULTS

What should I do? While the script is at gitthub,

[2020-07-01 07:54] thisID commented on #7493
github Only 100MB files are supported

[2020-07-01 09:09] SWADESNA opened #7494 "RFE: Expanding the Keystone v3 support for OpenStack Credential"
##### ISSUE TYPE
 - Enhancement

##### COMPONENT NAME
- API
- UI

##### SUMMARY
- Keystone v3 requires user_domain_name  to authenticate, but AWX openstack credential doesn't provide / request those in the credential templating.

Currently when the cloud.yml file is generated it is populated with:

[code]
Instead for v3 this should include "user_domain_name" & "project_domain_name" :
[code]
#####

[2020-07-01 09:23] invizus opened #7495 "AWX ignores my when: | construct"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I developed role which will configure LXD software only when it is not configured.

To check whether LXD has been configured, in shell I run: `sudo /snap/bin/lxc config show` which will show output:
[code]
This works in ansible on my laptop:
[code]

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7

[2020-07-01 09:26] invizus commented on #7495
sensitive info, please delete

[2020-07-01 09:26] #7495 closed

[2020-07-01 09:27] invizus opened #7496 "AWX ignores when: | conditional check"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I developed role which will configure LXD software only when it is not configured.

To check whether LXD has been configured, in shell I run: `sudo /snap/bin/lxc config show` which will show output:
[code]
This works in ansible on my laptop:
[code]

##### ENVIRONMENT
* AWX version: 11.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.7

[2020-07-01 10:17] invizus commented on #7496
Changed when check to:
`  when: '"config: {}" in lxc_config_show.stdout'`
Works in ansible, does not work in AWX.

[2020-07-01 11:46] invizus commented on #7496
Issue was resolved - it did not exist. Not a bug. Explanation:
When I work in a feature branch, I normally create a temporary project which gets source code from that branch I am working on, so that I could test before merging.
This issue appeared when I was working on a fix branch, but when I created job template, I selected wrong project with a similar name. When I changed project to the one I w

[2020-07-01 11:46] #7496 closed, assigned to nobody

[2020-07-01 12:22] ryanpetrello commented on #7492
@sbuvaneshkumar,

Can you share the `version` output from `/api/v2/config/` ?

Are you working with an AWX installation, or a Red Hat Ansible Tower install?

[2020-07-01 12:26] ryanpetrello commented on #7492
You may want to try upgrading to AWX 13.0.0 - it looks like we potentially addressed this as a bug here:

https://github.com/ansible/awx/commit/e672e68a02d03090db7868fd7ca60613950f9b7e

[2020-07-01 12:26] #7492 closed, assigned to nobody

[2020-07-01 13:17] AlanCoding commented on #7493
You could try adding the folder `/opt/jdk` to the setting `AWX_PROOT_SHOW_PATHS`

https://github.com/ansible/awx/blob/devel/awx/main/conf.py

[2020-07-01 13:20] AlanCoding opened #7498 "the tower_role module should accept ids for related objects"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Parameters to the `tower_role` module will not resolve integer-like inputs as ids, only as names.

They should.

##### STEPS TO REPRODUCE

See details from

https://groups.google.com/g/awx-project/c/mRuVUCtgMhQ

something like

[code]

##### EXPECTED RESULTS

looks up credential with id=5

##### ACTUAL RESULTS

problems finding credential

##### ADDITI

[2020-07-01 14:38] dsesami opened #7500 "[ui_next] 404s should be propagated to the Edit page for resources"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. Create a resource, one that has an edit form. Think Job Templates, projects; for this example, I used the applications page.
2. Open the edit form in a new tab.
3. On the original tab, delete the resource.
4. Go to the edit form on the now-deleted resource, and try to save it.

The network tab shows a 404, but there is no visual feedback in the UI.

[2020-07-01 15:17] dsesami commented on #7456
There was an issue involving the smart host filter chip that i discussed with @marshmalien in that long filters would run off the page. however, we agreed on adding an ellipsis to shorten it, and she will handle it as part of the work on the #7472 / #7473  work.

[2020-07-01 15:17] #7456 closed, assigned to marshmalien

[2020-07-01 16:33] iridian-ks commented on #7475
I knew I was missing something... sometimes in Ansible module documentation you can find related modules. I'm wondering if I could take a stab at providing links in the docs so that `tower_team` and `tower_job_template` can link out to `tower_role`. Maybe that could help others?

[2020-07-01 16:59] chrismeyersfsu opened #7504 "Console Traceback on Refresh (sometimes)"
##### SUMMARY
Sometimes I get a traceback when refreshing a project edit page. This may or may not be specific to the project edit page.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Refresh your browser while on a project edit h

[2020-07-01 17:04] chrismeyersfsu opened #7505 "YAML code editor inconsistent pretty print"
### Steps to Recreate
[code]
Save a job template with the above yaml as extra vars. The first image below is the result of that save. The second image is after toggling `json` and back to `yaml`

### Expected
![image](https://user-images.githubusercontent.com/722880/86271592-28f9b580-bb9b-11ea-8b39-087eb9c79dba.png)

### Actual
![image](https://user-images.githubusercontent.com/722880/86271599-2d2

[2020-07-01 17:09] chrismeyersfsu opened #7506 "YAML code editor evals the YAML"
##### SUMMARY
The codemirror box "evals" the yaml references and expands the references. This is undesirable.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

[code]
Create a job template with the above extra vars in the box.

#####

[2020-07-01 17:11] chrismeyersfsu opened #7507 "Launch Job click-box not centered"
![image](https://user-images.githubusercontent.com/722880/86272236-395e6000-bb9c-11ea-9af1-2b0adcea5237.png)
Left click and hold down on the job launch but don't release. Note the black box around the launch icon. It's skewed left and not centered.

[2020-07-01 17:12] chrismeyersfsu opened #7508 "Row outlined without checking or unchecking box"
![image](https://user-images.githubusercontent.com/722880/86272356-6f9bdf80-bb9c-11ea-93f7-8ac7c9feee3d.png)
Click on a row and don't let your mouse up, drag it down as if you were highlighting to copy. The black box outlines the row, but the checkbox doesn't check nor uncheck. I'd expect the black box to not remain outlined on the row.

[2020-07-01 17:33] chrismeyersfsu opened #7509 "Select all checkbox is tied to tightly to items per page"
##### SUMMARY

##### STEPS TO REPRODUCE

* check 5 resources (1 checked should not be the first 5)
* set the page size to 5

##### EXPECTED RESULTS

* the select all checkbox to not be checked

##### ACTUAL RESULTS

* the select all box is checked

![image](https://user-images.githubusercontent.com/722880/86274225-56e0f900-bb9f-11ea-8845-9c6f62dde1c0.png)

![image](https://user-images.githubuserco

[2020-07-01 17:37] chrismeyersfsu opened #7510 "Row checkbox deadspot"
##### SUMMARY
There seems to be a deadspot 10-50 pixels below a resource row checkbox

##### STEPS TO REPRODUCE

Click between 10-50 pixels below a checkbox

##### EXPECTED RESULTS

Check box to check and uncheck

##### ACTUAL RESULTS

Row black box highlights.

[2020-07-01 17:50] chrismeyersfsu opened #7511 "Mobile friendly nav wacky when entries have the same name under different categories"
##### SUMMARY
Rows per page is not respected when copying resources.

##### STEPS TO REPRODUCE

* Shrink browser until mobile view
* On the nav, click Settings --> Jobs

##### EXPECTED RESULTS

* Only the `Settings` category to be expanded

##### ACTUAL RESULTS

* `Views` category and `Settings` expand

![image](https://user-images.githubusercontent.com/722880/86275735-b809cc00-bba1-11ea-9e5f-c9be

[2020-07-01 18:00] chrismeyersfsu opened #7512 "Required drop-down select boxes provide no feedback on save"
![image](https://user-images.githubusercontent.com/722880/86276596-256a2c80-bba3-11ea-8379-11c13f2914c2.png)

Text boxes that are required give nice feedback when you click save and haven't provided a value. Single-select drop-down boxes that are required provide no feedback when save is clicked. This makes it feel like the save button is broken.

[2020-07-01 18:03] #7340 closed, assigned to dsesami, AlexSCorey

[2020-07-01 18:11] brocc0lee commented on #4814
Update: Turns out it was an issue with the attribute mappings and the IdP url. Nothing on the AWX side for anyone else having a similar issue :)

[2020-07-01 18:12] chrismeyersfsu opened #7513 "JT Survey select all checkbox visible when no survey entries"
![image](https://user-images.githubusercontent.com/722880/86277499-cb6a6680-bba4-11ea-8d45-6b04dd7cc790.png)
The "select all" checkbox is displayed even when there are no items to select. Also, what the on/off toggle does isn't super clear.

edit: I've noticed that showing the "select all" checkbox when there are no results is a normal pattern in the new UI. I guess because there isn't a sort-by n

[2020-07-01 18:12] kapouer opened #7514 "reconfigure_rsyslog assumes it is enabled and has a supervisor"
I've been busy making a debian package for awx 13.0.0 using virtualenv,
and in debian, assuming rsyslog isn't correct, so when i tried to disable it,
https://github.com/ansible/awx/blob/e3e69b4c6b48fb3c6384b41c85e4ac3b2f23e063/awx/main/utils/external_logging.py#L114
was called anyway.

It would be great this function was not assuming things about the environment.
LOG_AGGREGATOR_ENABLED should be u

[2020-07-01 18:15] keithjgrant opened #7515 "Refactor FormSubmitError to use fully unit tested util"
##### ISSUE TYPE
 - Improvement

##### SUMMARY
The FormSubmitError component does some complicated parsing of API error responses, which it then passes to Formik and/or displays as a general error to the user. This logic should be moved into a util function with a full array of unit tests to account for all the various structures that the API might return.

[2020-07-01 18:16] keithjgrant commented on #7515
@mabashian — I'd like to pick your brain a bit on some of the changes you made here to make sure I understand all the permutations of these error messages before proceeding.

[2020-07-01 18:21] ryanpetrello commented on #7514
Hey @kapouer,

AWX's entire logging integration is based on rsyslogd, and it assumes rsyslogd is available, so none of this is going to work in environments where rsyslogd isn't available.

[2020-07-01 18:25] chrismeyersfsu opened #7516 "Change `Completed Jobs` tabs to `Jobs`"
##### STEPS TO REPRODUCE

* Launch a job
* go to that JT's Completed Jobs tab
* Relaunch
* Quickly click back

##### EXPECTED RESULTS

For the newly launched and running job to not be in the list

##### ACTUAL RESULTS

Running job is in the list

##### ADDITIONAL INFORMATION

Maybe completed jobs tab is intended to show all jobs for the job template. In that case rename it.

[2020-07-01 18:42] chrismeyersfsu opened #7517 "Delete role in User Access list results in 404"
##### SUMMARY
Deleting a user role in the UI results in a 404

##### STEPS TO REPRODUCE

* Add a role to user via user --> Access
* Delete that added role

##### EXPECTED RESULTS

* For the role to be deleted

##### ACTUAL RESULTS

* 404 popup

![image](https://user-images.githubusercontent.com/722880/86280012-053d6c00-bba9-11ea-8b09-04d3a52c4f54.png)

Note the url has an extra `/`

Also note the

[2020-07-01 18:44] therealrobopablo commented on #7253
@ryanpetrello
CONTAINER ID        IMAGE                     COMMAND                  CREATED             STATUS              PORTS                  NAMES
21f2f2b15344        ansible/awx_task:11.0.0   "tini -- /bin/sh -c …"   2 months ago        Up 2 weeks          8052/tcp               awx_task
c79af6843c31        ansible/awx_web:11.0.0    "tini -- /bin/sh -c …"   2 months ago        Up 3 weeks

[2020-07-01 18:49] #7514 closed, assigned to nobody

[2020-07-01 18:54] chrismeyersfsu opened #7518 "User -> Access list does not group Roles correctly"
![image](https://user-images.githubusercontent.com/722880/86280548-015e1980-bbaa-11ea-9655-173c2c604d9a.png)

Roles for the same related resource should live on the same line. From the above screenshot I expected only 2 rows, not 4. Each row should have roles `admin, read`

[2020-07-01 18:56] trahman73 commented on #7518
Expected grouping style: https://tower-mockups.testing.ansible.com/patternfly/orgs/orgs-users/

[2020-07-01 19:11] chrismeyersfsu opened #7520 "401 in add user roles modal goes unsurfaced"
##### SUMMARY
401 responses gotten when clicking `save` in the roles modal go unnoticed.

##### STEPS TO REPRODUCE

* add a "normal user"
* org -> access -> add -> users
* check the user you added -> next
* select a role (I selected Member)
* open a new tab and click logout
* go back to your tab and hit save

##### EXPECTED RESULTS

* Redirected to login screen

##### ACTUAL RESULTS

* Nothing

![

[2020-07-01 19:19] kapouer commented on #7514
OK.
(though it does work with proper logger config and a check in that reconfigure_syslog function... but i don't want to look like arguing).

[2020-07-01 19:27] chrismeyersfsu opened #7521 "Can not disable/enable a schedule with a job survey that has required variables"
##### STEPS TO REPRODUCE

* Create a job template that has a survey with required variables
* Create a schedule for that job
* disable the schedule

##### EXPECTED RESULTS

* To be able to disable the schedule

##### ACTUAL RESULTS

`{"variables_needed_to_start":["'no_spaces' value missing"]}` where `no_spaces` is the name of the job template survey required variable.

##### ADDITIONAL INFORMATION

[2020-07-01 19:36] chrismeyersfsu opened #7522 "JT survey edit breadcrumb clicking goes to blank view"
##### STEPS TO REPRODUCE

* Create a JT with a survey
* Add a survey item
* Click to edit that survey item
* Note the breadcrumbs at the top, click "Edit Question"

##### EXPECTED RESULTS

Probably for it to not be clickable

##### ACTUAL RESULTS

Sent to a blank view. Also note the "Back to Templates" is blue and underlined when I am editing a survey question. The survey question should probably

[2020-07-01 19:42] elyezer opened #7523 "Improve import/export usability when dealing with secrets"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When exporting entities that have encrypted fields such as passwords and other sensitive information, the exported data does not include any indication if a encrypted field had a value during export time. This is problematic because there are some entities like the SSH credentials that can have multiple variations of encrypted data, for example, it

[2020-07-01 19:53] chrismeyersfsu opened #7524 "JT Survey fancy characters in answer variable name breaks the survey"
##### SUMMARY
Special characters in the `Answer variable name` field do not allow for the field to be edited later. Feels like it has something to do with the routing URL.

##### STEPS TO REPRODUCE

* Create a JT with a survey
* Enter `/hello_world` into `Answer variable name`
* Save
* Edit the survey variable you just created

##### EXPECTED RESULTS

To be shown the edit view

##### ACTUAL RESULT

[2020-07-01 20:01] chrismeyersfsu opened #7526 "User details link to wrong url"
User details goes to https://localhost:8043/next/home#/users/1/details (note it adds #/users/1/details to whatever url you are currently on) should probably go to https://localhost:8043/next/users/1/details

![image](https://user-images.githubusercontent.com/722880/86286218-15a71400-bbb4-11ea-96fe-9f4c69859ee6.png)

[2020-07-01 20:12] elyezer opened #7528 "Can't import/export inventory sources with custom inventory script"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When trying to export an inventory with a custom inventory script the following message is printed:

[code]

And that generates an inventory source with partial data exported since the `source_script` is not being populated. For example

[code]

According to https://github.com/ansible/awx/blob/a0413b7e0bbba6af3c6927bdf5942f2e0c78c3e2/awxkit/awxkit/api

[2020-07-01 21:18] AlexSCorey commented on #7518
The way our pagination works currently we can't group the roles in this way because the number of items the api sends will not match the number of rows on the list.  Consolidating like roles/resources will interfere with the pagination and sorting

[2020-07-01 21:21] AlexSCorey commented on #7520
This may also be a problem in Users/Teams -> Access.  Whoever picks this up should check those areas too.

[2020-07-01 23:09] #7451 closed, assigned to nixocio

[2020-07-01 23:42] jakemcdermott opened #7530 "'Next' button is missing from credential plugin prompt"
##### ISSUE TYPE
Seems to be devel only. Did not reproduce on recent release. I do not know the cause nor am I closer to it after an hour digging into this. I think I may need to bisect the devel commits to find it.

![Screenshot from 2020-07-01 19-30-41](https://user-images.githubusercontent.com/9753817/86300997-b0165000-bbd2-11ea-976d-fc3ae464ee85.png)

[2020-07-02 00:10] jakemcdermott commented on #7530
relevant:

![fuck](https://user-images.githubusercontent.com/9753817/86302488-d9d17600-bbd6-11ea-916c-f62551f790a8.gif)
![fuuck](https://user-images.githubusercontent.com/9753817/86302490-dc33d000-bbd6-11ea-8869-2a289080de59.gif)

[2020-07-02 00:43] garamirseokim opened #7531 ""Multiple hosts matched the request!" - issue with reverse proxy for ansible Tower Provisioning Callback"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If reverse proxy host(name or IP) is in inventory of Tower and run curl, I get {"msg":"Multiple hosts matched the request!"} error message.

##### ENVIRONMENT
* Ansible Tower version: 3.7.0
* Operating System: RHEL 7.7

##### STEPS TO REPRODUCE

Our infrastructure: 3 hosts
1) external tester host (run curl for the callbacks) : 172.31.1.55
2) reverse pr

[2020-07-02 05:59] jmartensson commented on #7498
It not only tower_role, I also have issues when using tower_credential
[code]
This ends up with a new credential called '62' instead of making changes to the credential with id '62'

[2020-07-02 06:10] amitchauhan1502 commented on #5331
I am also getting same error
TASK [local_docker : Create Docker Compose Configuration] ****************************************************************************
failed: [localhost] (item=environment.sh) => {"changed": false, "item": "environment.sh", "msg": "AnsibleError: Unexpected templating type error occurred on (DATABASE_USER={{ pg_username|quote }}\nDATABASE_NAME={{ pg_database|quote }}\n

[2020-07-02 07:13] amitchauhan1502 opened #7532 "awx installation error on RHEL 7.7"
I am getting below error while installing awx (from latest source clone):

 ansible-playbook -i inventory install.yml

TASK [local_docker : Create Docker Compose Configuration] ****************************************************************************
failed: [localhost] (item=environment.sh) => {"changed": false, "item": "environment.sh", "msg": "AnsibleError: Unexpected templating type error o

[2020-07-02 09:58] alxndr13 commented on #7386
@wenottingham yes, he is a regular member. :)

[2020-07-02 10:23] chyap1981 commented on #5331
Try upgrade the Ansible version, i would recommend 2.7 which is more stable.

On Thu, 2 Jul 2020 at 4:11 pm, amitchauhan1502 <notifications@github.com>
wrote:

[2020-07-02 10:52] AlanCoding commented on #7498
that's a separate issue. I can't accept the double-use of a parameter to take `credential: foo` as well as `credential: 42`, but IMO `name: 42` is a bridge too far. That's not even idempotent.

This issue is because a _specific module_ didn't apply the same pattern as other modules. Only `tower_role` needs to be fixed.

To take an id for modification requires changing _all_ modules. If this was im

[2020-07-02 10:53] duhlig opened #7533 ""ModuleNotFoundError: No module named 'ansible'" in a new VENV"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - API

##### SUMMARY
I tried to follow https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md as close as possible. First tests (possibly incomplete) with the new venv seemed successful. Now the inventory sync failes. I'm sure it's my fault, but I don't see it.

Please advise what I could check.

Kind regards,
Dietmar

##### EN

[2020-07-02 10:54] AlanCoding commented on #7498
Also see related issue https://github.com/ansible/awx/issues/5193. This kind of addressability problem is a pain point, and we have some competing proposals.

[2020-07-02 11:04] anxstj commented on #6978
Here's some more documentation for someone who stumbles over this issue:

This was tested with AWX 11.2.0.

Here's an inventory example:
[code]
The inventory has an additional attribute `enabled`. Now AWX must be made aware of this attribute. This happens in the `defaults.py` file which must be changed in the source code and then the container must be rebuild.

Here's an example patch:
[code]
Plea

[2020-07-02 11:12] kenchrcum opened #7534 "Edit Schedule view is broken in AWX 13.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Schedules cannot be edited in AWX 13.0.0. It seems to be some kind of templating error.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker
* Ansible version:  2.9.10
* Operating System: centos
* Web Browser: chrome

##### STEPS TO REPRODUCE

Install fresh AWX deployment and click on Schedules -> Cleanup Activity Schedule

##### EXPEC

[2020-07-02 12:11] ryanpetrello commented on #7532
https://github.com/ansible/awx/blob/devel/INSTALL.md#prerequisites

[2020-07-02 12:11] #7532 closed, assigned to nobody

[2020-07-02 12:27] hypery2k opened #7535 "Project Hooks"
##### ISSUE TYPE
- In some scenarios it is helpful to have hook within a template/job (e.g. run a git-secret decrypt script after creation job folder)

##### SUMMARY
- Would be great a at least have a pre- and post hook running certain commands before or after template/job execution

[2020-07-02 13:37] bouluad commented on #7253
me too, i have the same issue

[2020-07-02 14:25] Luke239847 commented on #7534
Got the same errors.
Seems to occur only when the _Repeat Frequency_ is set to "Week"

[2020-07-02 14:35] chrismeyersfsu commented on #7253
@therealrobopablo AWX API responses are reporting version `11.2.0` `X-API-Product-Version: 11.2.0` but your containers are `11.0.0`

[2020-07-02 14:44] ryanpetrello commented on #7253
So one way I've been able to reproduce this:

![image](https://user-images.githubusercontent.com/214912/86372965-dda1de80-bc50-11ea-950b-77c8ae6923fb.png)

...is by intentionally running multiple distinct `awx-manage run_dispatcher` processes in the task container (on top of what supervisord manages).

@therealrobopablo can you share `ps -ef` inside the `awx_task` container?

[2020-07-02 15:42] RylandDeGregory opened #7536 "Galaxy Collection modules fail due to outdated packages"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Modules in the `azure.azcollection` Galaxy collection fail due to a missing API version.

Based on issues opened in the Azure collection like [this](https://github.com/ansible-collections/azure/issues/136), it seems as if the culprit is outdated azure packages in the python virtual environment.

How can I ensure that the collections downloaded automati

[2020-07-02 15:58] dsesami commented on #6618
This will be closed out after test stubs are created.

[2020-07-02 16:04] bouluad commented on #7253
If i can help,
I have the same, this is the ps for my awx_task container :

sh-4.4# ps -ef
UID        PID  PPID  C STIME TTY          TIME CMD
root         1     0  0 12:12 ?        00:00:00 tini -- /bin/sh -c /usr/bin/launch_awx_task.sh
root         6     1  0 12:12 ?        00:00:00 bash /usr/bin/launch_awx_task.sh
root        98     6  0 12:12 ?        00:00:06 /usr/bin/python3.6 /usr/local/bin

[2020-07-02 16:04] wenottingham commented on #7535
This is really unlikely. The way AWX is designed is for (mostly) stateless job execution,and is moving even further in that regards with containerized execution disconnected from the host AWX environment. If additional steps need done, they should be tasks/roles in the playbook.

[2020-07-02 16:12] ryanpetrello commented on #7253
@bouluad,

Are you seeing the error for *all* project updates you run (as in, are you able to run one _right now_, and see the error?)

[2020-07-02 16:18] bouluad commented on #7253
@ryanpetrello
Yes for all project updates and also for all jobs;
i have exactly the same error (by the UI) mentionned by @therealrobopablo

[2020-07-02 16:20] ryanpetrello commented on #7253
@bouluad what version of AWX are you running?  You can find it under `/api/v2/config/`.

[2020-07-02 16:23] ryanpetrello commented on #7253
Also @bouluad,

Can you share with me the `ps -ef` of the *web* container?

Is there any way you'd be willing to find the ID (`X`) of a project update that shows the 500 error, and share with me the results of this command run inside the task or web container:

[code]

[2020-07-02 16:24] ryanpetrello commented on #7253
Possibilities I can think of here:

- there’s actually multiple dispatchers running somehow in the same or different containers
- the dispatcher has a bug where it dispatches the same task to multiple workers
- ansible is emitting duplicate events for one playbook run

[2020-07-02 16:38] ryanpetrello commented on #7253
Also @bouluad,

Can you share the output of this command run inside the task container?

[code]

[2020-07-02 16:39] ryanpetrello commented on #7440
@mjpalacios I'm still not totally sure what's up here, but I've seen a few similar reports and would like to track all of this one one issue to avoid duplicates:

https://github.com/ansible/awx/issues/7253

[2020-07-02 16:39] #7440 closed, assigned to nobody

[2020-07-02 16:42] ryanpetrello commented on #6982
If anyone else here is still encountering this, we're tracking this in one place to avoid duplicates (and I'm looking for volunteers to help me figure out what's up):

#7253

[2020-07-02 16:48] ryanpetrello commented on #7253
Another thing that would be *very* useful to collect, would be:

1.  Go run `docker logs -f awx_task`
2.  <return> a few times to get some empty room
3.  Launch a project update or job that's known to exhibit the 500 error
4.  Share the results of the `docker logs` command, it should look something like this:

[code]

[2020-07-02 18:12] #6618 closed, assigned to keithjgrant, dsesami

[2020-07-02 18:16] wenottingham commented on #3600
@gamuniz I know this is an older issue, but what was the rationale why 'read" access needed to be granted?

[2020-07-02 18:30] dsesami commented on #6520
both slowdown and logout button are resolved :+1:

[2020-07-02 18:30] #6520 closed, assigned to jakemcdermott, dsesami

[2020-07-02 18:39] kbrighton opened #7538 "AWX Backup and Restore scripts do not work on current AWX versions"
##### ISSUE TYPE
 - AWX Backup and Restore scripts do not work on current AWX versions

##### SUMMARY
AWX 12 and higher still expect that SCL is used to install the postgres utilities, though when they're using a CentOS 8 based image, they can natively install the proper version, using dnf modules, rather than utilizing the SCL version of the package.

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX

[2020-07-02 18:56] gamuniz commented on #3600
@wenottingham per customer ticket:

"engineering users can add other team's members. However, for those users to add a team permissions at a time they need the read permission on the team."

[2020-07-02 19:36] dsesami commented on #7454
This was verified as part of the jobs list websockets verification, so it's in the clear.

[2020-07-02 19:36] #7454 closed, assigned to jakemcdermott

[2020-07-02 19:43] wenottingham commented on #3600
So they're outside the org?

[2020-07-02 19:46] wenottingham commented on #3600
(see also: https://github.com/ansible/tower/issues/2014)

[2020-07-02 20:13] gamuniz commented on #3600
@wenottingham yes I believe so. this issue was initially opened against a really old version but I can confirm that it still requires read access cross org.

[2020-07-02 20:28] wenottingham commented on #3600
assumption: "ORG_ADMIN_CAN_SEE_ALL_USERS" does not filter down to 'normal' users.

[2020-07-02 20:44] elyezer commented on #7438
That sounds good @chrismeyersfsu, what are the next steps here, close as won't fix?

[2020-07-02 21:47] unlikelyzero commented on #7517
During `needs_test` verification, please add testcase (or stub)

[2020-07-02 21:48] unlikelyzero commented on #7522
During `needs_test` verification, please add testcase (or stub)

[2020-07-02 21:48] unlikelyzero commented on #7520
During `needs_test` verification, please add testcase (or stub)

[2020-07-02 21:49] unlikelyzero commented on #7518
During `needs_test` verification, please add testcase (or stub)

[2020-07-02 21:50] unlikelyzero commented on #7516
During `needs_test` verification, please add testcase (or stub)

[2020-07-02 21:50] unlikelyzero commented on #7513
During `needs_test` verification, please add testcase (or stub)

[2020-07-03 05:38] zigaSRC commented on #7404
Sorry for the late response:
[code]

[2020-07-03 06:55] anxstj opened #7541 "awxkit: selecting inventory by name fails if name is a number"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

If an inventory or an inventory_source name consists only of numbers then this inventory or inventory_source can not be selected by name. But this is stated in the help description.

[code]

I'm in the progress of porting a script from tower-cli to awxkit and now I'm in a situation where I can not select any inventory or inventory_source because all t

[2020-07-03 07:08] nevotheless commented on #4736
I'm trying to install AWX `13.0.0` right now. On Mac OS as well as using docker-compose install method, as @neutralrockets did and i'm getting the same issue here. I can workaround but this issues still exists. Please consider adding a proper hba config.

[2020-07-03 07:14] zaskan opened #7542 "A workflow node is not passing set_stats artifacts to the next node when an add_host task fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

A workflow node is not passing **set_stats** artifacts to the next node when an **add_host** task fails.
We have 2 tasks in the first playbook. The first one generates a set_stats artifact and the second one creates a group in the inventory. If we omit the group name in the add_host task, this task fails as expected and the flow continues using the "f

[2020-07-03 11:08] nicolaibaralmueller opened #7543 "SSH error in AWX 13.0.0 - kex_exchange_identification"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

AWX 13.0.0 introduced a ssh error which is not present in AWX 12.0.0.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.10

##### STEPS TO REPRODUCE

I have one server with AWX 12.0.0 and one with AWX 13.0.0. Both have the same replicated posgres data.

A VPN connection is established with a docker

[2020-07-03 12:34] nicolaibaralmueller commented on #7543
Rolled back to version 12.0.0 and the error persists. Probably not ansible/awx related. Closing again.

[2020-07-03 12:34] #7543 closed, assigned to nobody

[2020-07-03 13:21] cfelder opened #7544 "Missing module python-memcached in built-in venv awx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I am currently working on updating @ikke-t [awx_pod playbook](https://github.com/ikke-t/awx_pod) for using awx 13.

My deployment is a bit different from the installation instructions here, but I would expect that the error below appears when using e.g. docker-compose as well.

I am using the following image: ``docker.io/ansible/awx:13.0.0``

``python

[2020-07-03 13:28] cfelder opened #7545 "Permission denied for launch_awx.sh and launch_awx_task.sh"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I am currently working on updating @ikke-t [awx_pod playbook](https://github.com/ikke-t/awx_pod) for using awx 13.

My deployment is a bit different from the installation instructions here, but I would expect that the error below appears when using e.g. docker-compose as well.

I am using the following image: ``docker.io/ansible/awx:13.0.0``

The foll

[2020-07-03 14:44] gstorme commented on #7095
Same upgrade path here on 2 separate AWX instances.
Both report `Applying main.0113_v370_event_bigint... OK` in the logs, but it only really succeeded on 1 out of 2.
The one where it succeeded has 13k rows in the jobevent table, the one where it failed has 14 million rows.

It's migrating the rows now at about 1 million per 5 minutes, after triggering the provided `enforce_bigint_pk_migration()`

[2020-07-03 15:28] stasonspb opened #7546 "HashiCorp Vault Secret Lookup: Test button don't work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can't get test form for Lookup type credential

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method:  docker on linux
* Ansible version:  2.9.10
* Operating System: linux
* Web Browser: Firefox, Chrome

##### STEPS TO REPRODUCE

Add a new credential
type: “HashiCorp Vault Secret Lookup”
set: Name, Server URL, Token
Click the "test" button

###

[2020-07-04 09:55] gefela opened #7547 "splunk logging is not working with ansible awx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After setting the splunk logging at the AWX UI, i am not able to see any logs at the splunk interface.

##### ENVIRONMENT
* AWX version: 12.0.0
* AWX install method: ansible awx with Linux/ docker
* Ansible version:  2.9.9
* Operating System: Centos 8
* Web Browser: Firefox

##### STEPS TO REPRODUCE

In System settings / logging tab fill setup form wit

[2020-07-04 14:01] unlikelyzero opened #7548 "Sort on lists does not have a consistent, deterministic 'finished' or 'ready' state"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Sort on lists does not have a consistent, deterministic 'finished' or 'ready' state. This makes test automation non-deterministic. The reason I bring this up now, is that the behavior is being seen on a small dataset with few resources. Whatever solution we come up with should be to handle large datasets.

Our sort list test performs the following:
1.

[2020-07-05 00:22] Archer4l commented on #7545
This problem also actual for 12.0.0 and on 13.0.0 we need to install python-memcache

I fixed all problem via `RUN chmod 0755 /usr/bin/launch_awx*.sh && /var/lib/awx/venv/awx/bin/pip3 install python-memcached`

[2020-07-05 08:20] cfelder commented on #7545
FYI: The second issue about the missing memcache module in awx venv has been reported here #7544

[2020-07-05 21:11] lxop commented on #7344
OK I've just tried this on AWX 13.0.0, and can confirm that the behaviour is still the same (I can reproduce this bug). @blomquisg

[2020-07-06 00:35] toto6321 commented on #318
SSH to the server and run `gitlab-runner run` to solve the problem in the foreground while use `gitlab-runner run &` in the background.

[2020-07-06 00:44] AlanCoding commented on #3384
adding bug label because I expect it is possible to create hosts with duplicate / conflicting names which will lead to outright errors.

[2020-07-06 08:00] cfelder commented on #7544
This is not an awx issue. memcache has been dropped in awx 12 but we were still using it in awx_pod playbook.

ikke-t/awx_pod#19 resolves this issue

[2020-07-06 08:00] #7544 closed, assigned to nobody

[2020-07-06 08:16] ikke-t commented on #7545
the permissions would be fixed here I believe, if someone could review it please. https://github.com/ansible/awx/commit/6c107dbd666c0166e7938745440e1363db4ab272

[2020-07-06 08:36] cfelder commented on #7545
lgtm 👍

[2020-07-06 09:10] AdrianDutu opened #7549 "Playbook cannot find kubernetes context"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
I run the play and get the error:
fatal: [atvp1xaawx101.adm.unix]: FAILED! => {"changed": true, "cmd": "kubectl config use-context kubernetes-admin", "delta": "0:00:00.103816", "end": "2020-07-06 09:02:56.555568", "msg": "non-zero return code", "rc": 1, "start": "2020-07-06 09:02:56.451752", "stderr": "error: no conte