[2020-09-10 21:51] unlikelyzero commented on #8120
Note: this functionality does not exist in yolotower

[2020-09-10 21:58] mrmibrown opened #8128 "Include documentation with installation for configurations isolated from the internet"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Request to include documentation with each installation, ideal for configurations isolated from the internet.

"I have Tower in a Air-Gapped network and the documentation would be very helpful to have on the tower server

This is the most important material I am looking for right now:
https://docs.ansible.com/ansible/2.8/modules/modules_by_category.h

[2020-09-10 22:37] snooyen commented on #578
@wenottingham I saw your note in #526 about PR #7099.  These capabilities are a first-class concern for my team as we operate multiple AWX instances in a multi-cloud context.  What's the best way for us to contribute development efforts towards this feature set?

[2020-09-10 22:55] unlikelyzero commented on #5735
Sorry for the delay. Closing.
Tested:
- OpenShift or Kubernetes API Bearer Token can be added to a JT during initial JT create.
- OpenShift or Kubernetes API Bearer Token can be added to an existing JT
- Only one OpenShift or Kubernetes API Bearer Token can be added to a JT
- 15 OpenShift or Kubernetes API Bearer Tokens can be seen and filtered for in the Add Credential lookup
- A JT with OpenShif

[2020-09-10 22:55] #5735 closed, assigned to elyezer, ryanpetrello, unlikelyzero

[2020-09-10 22:55] sentient commented on #6851
Instead of allowunsignedcerts=on, what about support for

tls.cacert
tls.mycert
tls.myprivkey

in the rsyslog configuration

https://www.rsyslog.com/doc/master/configuration/modules/omhttp.html#tls-cacert

[2020-09-11 11:47] aptevo opened #8129 "Allow to set enable/disable permissions and edit permission on scheduled jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It seems as scheduled jobs can only be edited by the creating user, or by a user with admin rights to the template the job was scheduled from.
We create schedules of templates using a service user, and it would be nice to have the possibility to give other users with execute rights on the template the right to enable/disable these schedules or to edi

[2020-09-11 13:37] mabashian commented on #8124
As far as I can tell #8125 addresses this so I moved this into in_progress

[2020-09-11 14:10] mabashian commented on #5958
@jakemcdermott do we still need to keep this open?

[2020-09-11 14:11] mabashian commented on #5958
Oh this is different from #5957.  OK I think this is not blocked anymore?  If so feel free to correct the labels.

[2020-09-11 14:19] mabashian commented on #4212
Skeleton loader is coming in PF: https://github.com/patternfly/patternfly-react/pull/4755.  When that lands we should look at making the switch.  Going to mark this as blocked for now.

[2020-09-11 14:21] mabashian commented on #4208
Since we're still trying to figure out what our long term plan is for data list I'm inclined to mark this as blocked.  If we do decide to roll our own simple table component then this should be part of the plan.

[2020-09-11 14:22] mabashian commented on #4212
Link https://github.com/ansible/awx/issues/4241

[2020-09-11 14:22] mabashian commented on #4241
Gonna close this as I think #4212 covers this same thing

[2020-09-11 14:22] #4241 closed, assigned to nobody

[2020-09-11 14:23] mabashian commented on #4212
Note that this loading state should apply to more than just lists.  It should apply to anywhere that we want to show a loading screen while data is being fetched.

[2020-09-11 14:25] mabashian commented on #4243
AFAIK this is working as intended.  There may be specific scenarios where this is not working and I'm inclined to track that in separate issues when we find them.

[2020-09-11 14:25] #4243 closed, assigned to nobody

[2020-09-11 14:28] mabashian commented on #4249
Just double checked and its still possible to do this

[2020-09-11 15:01] mabashian commented on #4953
I'm not sure if we have an issue tracking similar work for things like credentials on the JT details view but if so this work can be combined as I'm sure it's very similar.

[2020-09-11 15:18] mabashian commented on #4949
OK so I went back through these now that advanced search has been implemented:

Users - we have this already (Access tab)
Teams - we have this already (Teams tab)
Inventories - a user can filter this list down by org ID
Projects - a user can filter this down by org ID
Job Templates - a user can filter this down by doing an org search (name)
Admins - I think that we should add this.  I could not fi

[2020-09-11 15:18] #4949 closed, assigned to nobody

[2020-09-11 15:21] tiagodread commented on #7364
Test and stubs in place PR already merged

[2020-09-11 15:21] #7364 closed, assigned to mabashian

[2020-09-11 15:22] tiagodread commented on #8017
Everything works well after merge this https://github.com/ansible/awx/pull/7993

[2020-09-11 15:22] #8017 closed, assigned to mabashian

[2020-09-11 15:27] mabashian opened #8130 "Add an interface for displaying org administrators"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In the old UI we have this page:

<img width="1514" alt="Screen Shot 2020-09-11 at 11 20 25 AM" src="https://user-images.githubusercontent.com/9889020/92943514-dd784900-f420-11ea-961a-6819929d7e65.png">

that shows all the users who have an admin role on the Org in question.

I attempted to gather this same information via the advanced search on the

[2020-09-11 16:12] mabashian commented on #8130
Link https://github.com/ansible/awx/issues/7411 as they are very closely related

[2020-09-11 16:36] kdelee commented on #7659
@moonrail can you confirm that these jobs have `allow_simultaneous` set to `True`? (this is how it appears in the API, in the UI it is a checkbox that says "Enable Concurrent Jobs"

[2020-09-11 16:42] kdelee commented on #7655
@mcharanrm re-created this issue on a Tower 3.7.2 and then upgraded to a build of devel that included this patch.
![Screenshot from 2020-09-11 12-37-57](https://user-images.githubusercontent.com/29239279/92951126-defb3e80-f42b-11ea-87e0-7330726669bf.png)

At beginning of time scale we see that no jobs were running on the 3.7.2 instance and that over 1k jobs were in pending. The blank part is where

[2020-09-11 16:42] #7655 closed, assigned to fosterseth, kdelee

[2020-09-11 16:47] mabashian commented on #7411
Since this is tightly coupled with #8130 i'm going to close this one

[2020-09-11 16:47] #7411 closed, assigned to nobody

[2020-09-11 16:53] mabashian commented on #8117
@thisID any chance you could provide us a screenshot of the browsers console when you navigate to this page.  I suspect the error there will help explain what's going on.

[2020-09-11 16:54] wenottingham commented on #8129
This isn't right. A user with only execute rights should *not* be able to edit/remove/change an admin user's schedule; that's a fundamental part of RBAC.

To do this likely relies on the schedule *itself* being RBAC-able. I don't think that will happen anytime soon.

[2020-09-11 17:02] dsesami commented on #8124
fixed with the merge of #8125

[2020-09-11 17:02] #8124 closed, assigned to jakemcdermott

[2020-09-11 17:11] blomquisg commented on #8123
@beeankha @AlanCoding Thoughts on complexity for this?

[2020-09-11 17:17] blomquisg commented on #8114
@AlanCoding can you look at this situation?

[2020-09-11 17:20] blomquisg commented on #8106
@shanemcd any ideas on how to help here?

[2020-09-11 17:21] wenottingham commented on #8128
This isn't relevant to upstream AWX.

[2020-09-11 17:21] #8128 closed, assigned to nobody

[2020-09-11 17:23] blomquisg commented on #8096
@codersplanet do you have a PR you can submit for this?

[2020-09-11 17:23] mabashian commented on #8097
There are probably _many_ other fields throughout the app that could use similar UX.  If we can capture a lot of those in a single sweep then great.

[2020-09-11 17:24] blomquisg commented on #8095
@codersplanet are you using the module from the AWX collection?

[2020-09-11 17:33] AlanCoding commented on #8123
Duplicate of https://github.com/ansible/awx/issues/8013, also related to https://github.com/ansible/awx/issues/6367

The API is very unique for approval nodes. The normal patterns don't apply, and I do not know if idempotency can be fully maintained.

[2020-09-11 17:35] moonrail commented on #7659
@kdelee
Sorry for not mentioning this: Yes, all scheduled Job Templates were configured to run simultaniously.

I have not found any time yet to test patch #8074 in combination with these use cases. If I do, I;ll post my results.

[2020-09-11 18:22] dsesami commented on #5966
This works perfectly fine now -- filtering works as expected for project sync list. a stub is present in workflow-viz-project-sync-nodetype.spec

[2020-09-11 18:22] #5966 closed, assigned to dsesami

[2020-09-11 19:07] wenottingham commented on #8123
Closing, then.

[2020-09-11 19:07] #8123 closed, assigned to nobody

[2020-09-11 19:11] wenottingham commented on #578
The biggest questions in that PR are about the how of how it operates:
- What are the RBAC concerns?
 - What permissions are resources created with?
 - How is authentication done?
 - Who owns them?
 - Do they blindly overwrite?
- Is this done via export and import modules? The CLI? A set of tasks?

etc.

[2020-09-11 20:58] #7819 closed, assigned to nobody

[2020-09-12 02:03] snooyen commented on #578
I'm still formulating my thoughts on RBAC concerns, ownership, and resource creation permissions, but here are some of my initial thoughts having taken the time to get more acquainted with the codebase.

- Is this done via export and import modules? The CLI? A set of tasks?

The implementation proposed in #7099 leverages the `awx.awx.*_job_template` modules.  It seems like this strategy would be d

[2020-09-12 06:03] gp185132-ncr commented on #8115
Hi All ,

Could you please help here in this issue for AWX?

[2020-09-12 15:34] beenje opened #8134 "Add examples in documentation on how to use awxkit from Python"
#### ISSUE TYPE
 - Improve awxkit documentation

##### SUMMARY
tower-cli had examples on how to use it from Python: https://tower-cli.readthedocs.io/en/latest/quickstart.html
[code]

I couldn't find how to do the equivalent using awxkit. Looking at the code didn't give me an obvious answer either.
Some simple examples would really help.

[2020-09-13 01:02] sentient commented on #8114
Once I remove the ansible.cfg file from the project that had the

[inventory]
enable_plugins = aws_ec2, yaml

It was all working fine.

I setup 2 sources in awx. one for the aws_ec2 and another one with the yaml as source. With just the awx defaults it works fine. But it is getting a bit confused when you try to define  enable_plugins  yourself and try t o run the playbooks in the project.

[2020-09-13 03:50] haribhauhud commented on #8096
@blomquisg: Thanks for the reply, Not yet. I am very new to open source contribution. Can you guide me what I have to do raise MR and merge to master.

[2020-09-13 13:50] neoaggelos opened #8135 "Support `!include` and `!import` constructors in `awx import -f yaml` command"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Support `!import` and `!include` with `awx import -f yaml` command. This is useful when working with a large number of AWX resources. This allows breaking config into smaller files, and having a top-level file like this:

[code]

Which allows managing resources in individual files (e.g. using a friendly directory structure), and still being able to

[2020-09-14 03:18] thisID commented on #8117
![image](https://user-images.githubusercontent.com/23741243/93040163-e6b12200-f67b-11ea-8e14-473a6296dad9.png)
![image](https://user-images.githubusercontent.com/23741243/93040168-eb75d600-f67b-11ea-9b49-f58ffbe9e844.png)

[2020-09-14 03:23] thisID commented on #8117
![image](https://user-images.githubusercontent.com/23741243/93040452-a3a37e80-f67c-11ea-8891-5f8fa51f0188.png)
![image](https://user-images.githubusercontent.com/23741243/93040463-a7cf9c00-f67c-11ea-81e5-fc27acb1265a.png)

[2020-09-14 03:30] pan3793 opened #8137 "Question: What's the minimum permission required for users to see the "copy button" on the "Job Template"?"
##### ISSUE TYPE

 - Question

##### SUMMARY

What's the minimum permission required for users to see the "copy button" on the "Job Template"?

A normal user who is granted to create/edit/delete job templates, but can't copy it, which make no sense.

After several attempts to adjust the permissions, we found that only the system administrator can see the "copy button" on the Templates page.

#####

[2020-09-14 09:11] Jobava commented on #578
If you're interested, we do have an open-sourced project for managing Tower configuration as code:

https://github.com/europ/atacac

It works from the raw json output as @snooyen mentioned (but we use yaml instead).

The verbosity of the configuration is easier to manage because the project also describes how to extract an existing Tower configuration into code. So the workflow can be to use the U

[2020-09-14 10:08] Alex9134 commented on #1845
A friendly chime-in from an Linux Enterprise Engineer:
PCB for WF would be extremely useful right now.

After a year with Tower, its hard to imagine living without it.
It is the clean, superior product that I had imagined.
(Smartest thing we did it?  We named our JTs based on hierarchical tags, left to right.  You know what every JT does at a glance.)

Provision-callbacks are a lighting fast way i

[2020-09-14 11:36] unlikelyzero commented on #7813
Verified from the UI perspective. I would like to have someone from the tower team run through the docs during hardening.
Also, should we verify each of the deployment models before closing this @Spredzy @elyezer ?

Issues:

- Add/ Edit Credential form does not list Organization as a required field when creating or editing an 'Ansible Galaxy/Automation Hub API Token' credential
- In-line helper te

[2020-09-14 12:22] unlikelyzero commented on #7606
Verified and added to our coverage in 7606

[2020-09-14 12:22] #7606 closed, assigned to nobody

[2020-09-14 12:40] unlikelyzero commented on #7591
Coverage added in 5515

[2020-09-14 12:40] #7591 closed, assigned to unlikelyzero

[2020-09-14 13:26] unlikelyzero commented on #7954
To test:

- Add new Project with Remote Archive type
- Perform project sync successfully
- Remove artifact (or reference a missing artifact version) and verify that project sync is not successful and contains helpful error text

[2020-09-14 13:27] EmmanuelRolland90 commented on #7253
Hello,
I got the same error on any project update that stays in wait state before running!
And then return the following errors to the various queries when the operation is complete!

2020-09-14 12:17:34,631 ERROR    django.request Internal Server Error: /api/v2/project_updates/420/,
2020-09-14 12:17:34,631 ERROR    django.request Internal Server Error: /api/v2/project_updates/420/,
10.0.2.118 - -

[2020-09-14 13:32] EmmanuelRolland90 commented on #7253
I Don't have the problem with internal DB ( in a container ) but only with my external DB !

[2020-09-14 13:41] AlanCoding commented on #8114
yeah, I don't see why your `ansible.cfg` should matter because these should be available with the default plugins. Granted, aws_ec2 should run _through_ `auto`, that shouldn't matter, but I can't guarantee it won't.

The most confusing thing is how you are using YAML inventory to modify groups from aws_ec2. What Ansible CLI behavior are you trying to replicate in AWX? Does your use case look like

[2020-09-14 14:00] EmmanuelRolland90 commented on #7253
awx_web log
RESULT 2
OKREADY
2020-09-14 13:43:03,795 ERROR    django.request Internal Server Error: /api/v2/project_updates/421/
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/django/core/handlers/exception.py", line 34, in inner
    response = get_response(request)
  File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/django/core/handlers/base.py"

[2020-09-14 14:14] unlikelyzero commented on #7530
Covered by 5517

[2020-09-14 14:14] #7530 closed, assigned to nobody

[2020-09-14 16:27] dansou901 commented on #5896
Bump! Still present in 14.1.0

[2020-09-14 16:33] kdelee commented on #7658
since merge of ansible/awx#7709 analytics tests are busted because changes basic presumption about whats in the tarball it seems

[2020-09-14 18:07] AlanCoding commented on #6367
out of date after feature completeness testing, and the sub-issues have new issues opened for them

[2020-09-14 18:07] #6367 closed, assigned to nobody

[2020-09-14 19:02] wenottingham commented on #404
Closing, this should be handled in #416 (and the underlying inventory mechanism has changed signficantly here anyway)

[2020-09-14 19:02] #404 closed, assigned to nobody

[2020-09-14 19:04] wenottingham commented on #531
Given the different deployment models, and the execution model changes, that does sound like a more correct  approach - closing as a duplicate of #416.

[2020-09-14 19:04] #531 closed, assigned to nobody

[2020-09-14 20:08] dsesami commented on #7954
This has been tested and is functional -- there is a small follow-up issue about tooltips which will be filed separately. This tooltip should have a black background like other tooltips, and the links should maybe be formatted.

![Screenshot from 2020-09-14 15-46-02](https://user-images.githubusercontent.com/19942822/93132949-75399980-f6a4-11ea-8a65-6228c5a4ab00.png)

[2020-09-14 20:09] dsesami opened #8140 "Remote Archive SCM tooltip cleanup"
Link https://github.com/ansible/awx/issues/7954

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This tooltip (when selecting a remote archive type for a project) should have a black background like the rest of the UI. The links don't need to be clickable, as originally written, but perhaps they could be formatted somehow.
![Screenshot from 2020-09-14 15-46-02](https://user-images.githubusercontent.

[2020-09-14 20:10] #7954 closed, assigned to elyezer, dsesami

[2020-09-14 20:29] snooyen commented on #578
@Jobava Yes, it seems like a big challenge for this issue, is that there's no API that allows users to programmatically list all the fields that constitute a job template..

[2020-09-14 20:58] blomquisg commented on #7052
@clem13960 what's your AWX version?  Can you try on AWX 13.0 or higher?

[2020-09-14 21:15] tiagodread commented on #8052
Test stubs written and PR already merged.

[2020-09-14 21:15] #8052 closed, assigned to mabashian

[2020-09-14 22:49] unlikelyzero commented on #7126
Still working on this. Blocked on akit commands.

[2020-09-15 00:35] derekleegh opened #8142 "Support to include a console for ansible-vault encryption/decryption"
##### ISSUE TYPE
 - To create a console where developers with controlled access can encrypt/decrypt strings/files without knowing the secret password.

##### SUMMARY
It will be a great idea to have a console where developers with controlled access can encrypt/decrypt strings/files without knowing the secret password.

Currently ansible-vault only allows encryption/decryption via CLI which is not u

[2020-09-15 06:35] zdriic commented on #8080
Hi @ryanpetrello

It seems that the problem comes from the link between AWX and an external database since AWX 11.0.0 (I would suggest since the first version with Redis instead of rabba itmq so AWX 10.0.0).
We tried AWX 14.1.0 with an internal container for the database and the jobs run immediately.

It seems it's the same problem as this issue: [7273](https://github.com/ansible/awx/issues/7253)

[2020-09-15 07:51] clem13960 commented on #7052
We are using the AWX version 14.1.0

[2020-09-15 08:16] yurtesen opened #8143 "DEFAULT_ROLES_PATH contents not same as ansible-playbook roles search path"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I run a playbook, the paths searched for roles are
[code]
But when I include a role
[code]
The DEFAULT_ROLES_PATH contains
[code]

I believe there should not be any difference in role search paths and DEFAULT_ROLES_PATH

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker
* Ansible version:  2.9.11
* Operating System: Ubuntu 20.04

[2020-09-15 12:08] ryanpetrello commented on #8080
Duplicate of https://github.com/ansible/awx/issues/7253

[2020-09-15 12:08] #8080 closed, assigned to nobody

[2020-09-15 12:20] ricardassturis commented on #8059
Related in some scope. But it's not about a massive redesign of permission logic (yes, if you create an object, you are the admin/owner and should be able to completely manage this object, as mentioned in #7858 ). It's about new edit role, for objects, maybe at org level too.

[2020-09-15 12:34] ryanpetrello commented on #8134
Hey @beenje,

`awxkit` doesn't generally have a programmatic interface that's strives for long-term stability in the way that `tower_cli` did, so we don't really have documentation like this.

[2020-09-15 13:17] stahloss commented on #6213
For anybody seeking to fix this for a Kubernetes deploy, add

[code]

To deployment.yml.j2 in the `volumeMounts` section of `{{ kubernetes_deployment_name }}-task`.

[2020-09-15 14:46] frenchtoasters opened #8144 "VMware inventory specifies unknown plugin 'community.vmware.vmware_vm_inventory'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am trying to use the VMware inventory plugin `vmware_vm_inventory.py` however when running the sync job for it I am getting the following error:
[code]

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: awx-operator
* Ansible version:  2.9.11
* Operating System: RHEL8
* Web Browser: Firefox Latest

##### STEPS TO REPRODUCE

* Create vCent

[2020-09-15 14:54] jpell958 opened #8145 "Database deadlock when running Facts job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
An AWX database deadlock occurs when facts jobs (package facts and gather facts) are running in slices with 4,000 targets.

##### ENVIRONMENT
* AWX version: 13.0
* AWX install method: developed Ansible playbook
* Ansible version:  2.9.11
* Operating System: RHEL 7
* Web Browser: Chromium Edge

##### STEPS TO REPRODUCE

The issue happens every time we r

[2020-09-15 15:02] Klaas- commented on #6556
Short follow up: SOCIAL_AUTH_USERNAME_IS_FULL_EMAIL works as expected, username is now the mail address with azure ad.

[2020-09-15 15:03] wenottingham commented on #8142
While I kind of get what you're suggesting here (set a vault key that transparently encrypts selected input), there are many complications that make it unlikely we'd do this at this time.

Vault creds are needed at playbook runtime. Any place you're encrypting variables (inventory vars, host vars, etc.) could be used by multiple playbooks, each with their own vault credential. The only way to keep

[2020-09-15 16:05] unlikelyzero commented on #7500
@dsesami can you verify that still happens?

[2020-09-15 16:07] unlikelyzero commented on #7393
@dsesami do you mind retesting this?

[2020-09-15 16:11] unlikelyzero commented on #7220
@dsesami do you mind retesting this?

[2020-09-15 16:14] unlikelyzero commented on #6707
@dsesami @tiagodread let's add a simple testcase for this

[2020-09-15 16:16] unlikelyzero commented on #6657
@dsesami can we retest this? I believe that this has been fixed or could be part of the tables work

[2020-09-15 18:56] #8135 closed, assigned to nobody

[2020-09-15 19:09] tiagodread commented on #7877
Everything OK, tests are written and the PR already merged

[2020-09-15 19:09] #7877 closed, assigned to keithjgrant

[2020-09-15 19:29] dsesami commented on #6510
Prompted fields on a JT schedule are actually entirely broken now and do not appear at all.

![Screenshot from 2020-09-15 15-29-19](https://user-images.githubusercontent.com/19942822/93255694-42f17000-f768-11ea-89b3-0b7037105de6.png)

[2020-09-15 19:30] dsesami commented on #6518
This is still applicable.

[2020-09-15 19:31] dsesami commented on #6519
This is unimplemented as of Sep 15.

[2020-09-15 19:32] dsesami commented on #6657
wrapping behavior has been improved. I still have issues with the fact that you have to click the search bar, but this was intended.

[2020-09-15 19:32] #6657 closed, assigned to dsesami

[2020-09-15 19:32] kdelee commented on #7057
@AlanCoding can you provide update on this. AFAIK we are pretty close to having this pinned down

[2020-09-15 19:34] dsesami commented on #7393
The inventory chip no longer has an x. Note: Since this is an element that no longer exists at all, I am unsure of what automation would look like to assert for something that never appears.

[2020-09-15 19:34] #7393 closed, assigned to dsesami

[2020-09-15 19:36] dsesami commented on #7500
There is now visual feedback. This is clear enough, IMO, and can be closed.

![Screenshot from 2020-09-15 15-35-41](https://user-images.githubusercontent.com/19942822/93256285-21dd4f00-f769-11ea-851d-c1d5a8f2f4aa.png)

[2020-09-15 19:45] kdelee commented on #2115
aws inventory testing still passing, going to close this as verified by regression tests

[2020-09-15 19:45] #2115 closed, assigned to nobody

[2020-09-15 19:55] kdelee commented on #8021
I think this is better placed in `needs_docs` to update info about regions in https://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html#id2

@tvo318 ^

[2020-09-15 19:59] kdelee commented on #8021
@elyezer seems like @tvo318 and @chrismeyersfsu maybe need to get together to make sure all inventory docs are updated because of merge of https://github.com/ansible/awx/pull/7763 for https://github.com/ansible/awx/issues/5150

[2020-09-15 20:17] elyezer commented on #8021
https://github.com/ansible/awx/issues/5150#issuecomment-669495939 shows how to configure the source_vars to keep the previous behavior, expand the aws section there.

Also the docs https://docs.ansible.com/ansible/latest/plugins/inventory/aws_ec2.html#parameter-regions will provide how to set the various different options in case you want to change something.

[2020-09-15 20:18] kdelee commented on #8021
yeah I think we just need to get that info into the tower docs

[2020-09-15 20:23] elyezer commented on #8021
That information will be added to the docs

[2020-09-15 20:24] #7500 closed, assigned to dsesami

[2020-09-15 20:31] #8021 closed, assigned to nobody

[2020-09-15 20:32] AlanCoding commented on #7057
See section on "Execution Environment Definition" https://github.com/ansible/ansible-builder

We have contributed this upstream for a lot of collections, openstack may soon be the only notable absence.

It has become a priority to move that to https://ansible-builder.readthedocs.io/en/latest/ before Fest, which is in progress.

My only remaining concern is https://github.com/ansible/galaxy-importe

[2020-09-15 20:52] kdelee commented on #7848
Tried this out and worked like charm! Thanks

[code]

[2020-09-15 20:52] #7848 closed, assigned to ryanpetrello, kdelee

[2020-09-15 20:56] hemanth1989 opened #8149 "nginx upgrade 1.14 to 1.18"
My containers are running on nginx 1.14 which is outdated and want to upgrade to 1.18, but nginx is pre installed in a container and created a docker image using the container. And we are using that image for the awx.

Can someone please suggest the best way to upgrade the nginx.

[2020-09-15 21:23] wenottingham commented on #8149
You'd need to rebuild the container with an nginx package of your own.  See https://github.com/ansible/awx/blob/devel/INSTALL.md#official-vs-building-images and installer/roles/image_build.

Closing this issue - this issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freen

[2020-09-15 21:23] #8149 closed, assigned to nobody

[2020-09-15 21:24] wenottingham commented on #8149
Also don't literally post the same question to the issue tracker and the mailing list at the same time.

[2020-09-15 23:46] mrmibrown opened #8151 "Add an Operator for installing and managing Ansible Tower on OpenShift"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
"This is an RFE to request an Operator be made available for installing and managing Ansible Tower on OpenShift.

Ansible Tower installation requires using the setup.sh script. The desire is to have an OpenShift Operator that can deploy Ansible Tower.

This impacts the ability to automate Ansible Tower installations running on OpenShift."

[2020-09-16 00:06] kdelee commented on #7720
@ryanpetrello  is this resolved via https://github.com/ansible/awx/pull/8094 ?

[2020-09-16 00:08] #8151 closed, assigned to nobody

[2020-09-16 06:17] derekleegh commented on #8142
Hi @wenottingham ,

Thanks for the feedback.

Can't we re-use exisiting vault credentials imported into AWX? Like a drop down list to select which vault credentials to use, then allow user to select from there to do the encryption.

Doing this will not mess with the existing inventory I guess?

[2020-09-16 09:16] stahloss commented on #8100
I tried to set `always` for `ALLOW_JINJA_IN_EXTRA_VARS` to see if it can be used in Workflows, but got the following error while running a Job containing Jinja in extra vars. Setting it back to `template` resolves the error.

[code]
Seems simply changing the variable doesn't work.

[2020-09-16 09:48] lucas-benedito opened #8154 "admin user being associated/updated with OAUTH social auth providers (Azure AD, Github)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Bug found where if you connect with admin user in rest api and then proceed with Azure AD login in Ansible Tower the admin user in Ansible Tower is updated with Azure AD data after login and the admin user has the tag Social
The user in question would be a non administrative user from Azure AD that after login became the admin user and had full access

[2020-09-16 10:30] rchincholkar opened #8155 "Direct links redirection after SAML authentication"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If we access a direct link, when not logged in, for example - `https://<tower-hostname>/#/templates/job_template/10`

For a basic auth, After logging in, we get redirected to the job template page.

However for SAML authentication, tower takes us to the `https://<tower-hostname>/#/login` and after saml authentication succeeds, it redirects to `https:

[2020-09-16 11:19] beenje commented on #8134
That's a bit sad to hear. It was easy to integrate tower-cli in Python applications. I was hoping the same would be true with awxkit.
Maybe later on the roadmap?
Anyway, I'll close this issue then. Thanks.

[2020-09-16 11:19] #8134 closed, assigned to nobody

[2020-09-16 13:22] AlanCoding commented on #8143
Why? The difference I'm seeing is the inclusion of `roles/` folder relative to the playbook. Including this folder is an expected and documented behavior of Ansible, and if that folder isn't available specific to `include_tasks`, then that may or may not be a valid issue for ansible/ansible.

Could you formulate this in a way like "this works with the Ansible CLI locally, but does not work in AWX"

[2020-09-16 13:39] dsesami commented on #7220
This is still a problem as of 9/16

[2020-09-16 14:15] dsesami commented on #7744
I'll close this out with the addition of some stubs and automation, which are incoming.
edit: automation was already added in instance-group-crud.spec, so closing.

[2020-09-16 14:16] #7744 closed, assigned to nixocio

[2020-09-16 14:20] dsesami commented on #7642
This was actually achieved with add/edit a while back, can we close this @nixocio ?

[2020-09-16 14:22] dsesami commented on #7642
spoke with @nixocio , this can be closed as it is stubbed + tested.

[2020-09-16 14:22] #7642 closed, assigned to nixocio

[2020-09-16 14:37] ryanpetrello commented on #7720
Yes.  Thanks, @kdelee.

[2020-09-16 14:48] unlikelyzero commented on #5913
@AlexSCorey i'll be testing writing up the testcases for this next week

[2020-09-16 14:51] unlikelyzero opened #8156 "[ui_next] Enabling prompt on Launch on all options on JTs generates console error."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We had a patternfly dependency which generated some console errors. It's not clear if those were handled back in June when we upgraded to 4.0. Opening this as a separate issue to retest. https://github.com/ansible/awx/issues/5909#issuecomment-634904951

```Enabling pretty much all of the prompt on launch fields for the JT and setting default values for

[2020-09-16 14:52] unlikelyzero commented on #8156
@tiagodread @dsesami note: when we retest this, we should verify the behavior on all prompted forms / wizards. It's not 100% clear if upstream _actually_ solved this issue. https://github.com/patternfly/patternfly-react/issues/4134

[2020-09-16 15:00] unlikelyzero commented on #6510
Note: we should convert the stubs to tests on at least prompts on schedule details

[2020-09-16 15:01] unlikelyzero commented on #8156
May be related to https://github.com/ansible/awx/issues/6510

[2020-09-16 15:04] unlikelyzero commented on #6172
Covered by 4560

[2020-09-16 15:15] unlikelyzero commented on #7692
To the future tester: we should audit cypress/integration/job-templates/job-template-prompt-on-launch.spec.js for applicable testcases

[2020-09-16 16:05] yurtesen commented on #8143
@AlanCoding hmm the problem is the other way around. But you may have a point.

My problem is that `DEFAULT_ROLES_PATH` does NOT contain the `roles/` folder relative to the playbook. I thought it was an AWX issue because AWX also does not seem to let me set `roles_path` inside `ansible.cfg`.

But now I read that ansible searches `roles` relative to playbook by default. Even though it is not define

[2020-09-16 16:14] #7498 closed, assigned to squidboylan, beeankha

[2020-09-16 16:35] ryanpetrello commented on #8115
Hey @gp21081994,

If you're just asking for debugging help or technical support, you might get a faster response at:

- http://webchat.freenode.net/?channels=ansible-awx
- https://groups.google.com/forum/#!forum/awx-project

We generally limit this issue tracker to tracking verified bugs or feature enhancements due to limited volunteer time to respond to troubleshoot installs.

[2020-09-16 16:35] #8115 closed, assigned to nobody

[2020-09-16 16:36] ryanpetrello commented on #5428
@ares it sounds like we've still got some reports of this from people using the new collection - you have any ideas on what we could check next?

[2020-09-16 16:41] squidboylan commented on #6875
I dont think we've actually fixed this, when i tested manually, changing a project does not cause an update, which seems to be the expected behavior

[2020-09-16 16:45] AlanCoding commented on #8143
AWX should respect the roles_path in your `ansible.cfg`. This config file has to be at the root of your project. You may see your own value listed in the env var `ANSIBLE_ROLES_PATH`, because Ansible itself does not have any functionality to append paths from env vars with paths in the config file, so the server reads the config file and combines it into the env var, which takes higher precedence.

[2020-09-16 16:51] keilr opened #8157 "awx collection tower_api lookup plugin: options are ignored"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx.awx.tower_api plugin does not read the options

##### ENVIRONMENT
* AWX version: 14.1.0
* Ansible version:  2.9.9, 2.10.0rc1

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

lookup plugin should query `example.com` instead of `127.0.0.1`

##### ACTUAL RESULTS

lookup plugin options are ignored

[2020-09-16 17:01] joaomnmoreira opened #8158 "Unable to launch workflows behind REVCACHE via AWX CLI/TOWER-CLI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Behind REVERSE CACHE (nginx):
- Unable to launch workflows either with awx cli (awx CLI 3.7.2) and tower-cli (Tower CLI 3.3.9);
- With awx cli (awx CLI 3.7.2) and tower-cli (Tower CLI 3.3.9) workflow list is obtained with success;
- AWX via browser works without any problem.

With direct connection everything works wit no problem.

##### ENVIRONMENT
*

[2020-09-16 17:22] ryanpetrello commented on #8158
Hey @joaomnmoreira,

`lib/python3.6/site-packages/tower_cli`

It looks like you're using Tower CLI, which is an older, unsupported software project that is not part of AWX:

https://github.com/ansible/tower-cli

Unfortunately, this looks like a bug in that project, which has fallen out of maintenance, and isn't something we help troubleshoot here.

You might want to take a look instead at the newe

[2020-09-16 17:34] joaomnmoreira commented on #8158
Hey @ryanpetrello,

Thanks for your quick reply!

I know that tower-cli is a legacy tool!

In a former AWX installation i used tower-cli, and with this new version i started to use AWX-CLI (as i mentioned in the issue), with the following error:

$ awx --conf.host http://awx.sportmultimedia.pt --conf.token xxx workflow_job_templates launch 31 --wait --monitor -f human
'WorkflowJobTemplateLaunch' o

[2020-09-16 17:55] kdelee commented on #7720
Upstream patch is merged and released and patch as been verified in production by users experiencing the bug. We've bumped the versions we depend on to use fix, closing.

[2020-09-16 17:55] #7720 closed, assigned to ryanpetrello, kdelee

[2020-09-16 18:19] jneedle commented on #6966
@one-t I think this can be closed.  Can you verify?

[2020-09-16 18:21] kdelee commented on #6119
@shebangbash when you get back from PTO let's work on this together because I think it will be a good learning experience

[2020-09-16 18:24] Chanoian commented on #8134
hi @beenje,  your request is exactly what I was looking for. I wrote bunch of python code based on tower-cli, but since tower-cli is not maintained by the community we need to move to awxkit and port our code to the new tool.

@ryanpetrello I was wondering if creating python interface is part of the future plan for awxkit,
cheers !

[2020-09-16 18:52] ryanpetrello commented on #8158
Hey @joaomnmoreira,

Can you run that same command with `-v` and share the output?  Thanks!

[2020-09-16 19:07] dsesami commented on #6466
@jakemcdermott is this tested in awx pf or the angular UI? or both?

[2020-09-16 19:18] wenottingham commented on #8100
Sorry, more clearly:

The reason I brought up that setting is that the reason it exists is because allowing jinja templating based on user-supplied data can lead to arbitrary python code execution. You probably don't want that, and whatever you'd do for templating variables will at least need to do as much as what that setting does for jinja templates in other areas of AWX.

[2020-09-16 19:28] lcondliffe commented on #877
Issue still persists in AWX 11.1.0

[2020-09-16 19:44] kdelee commented on #7659
@moonrail also, do you have `update_on_launch` set on the inventory sources? Inventory sources run updates 1 at a time, so if each job launch triggers an inventory source, the jobs would end up blocked behind the inventory updates that are blocked on eachother.

[2020-09-16 19:56] naveenmykaarma opened #8160 "AWX adhoc command and shell not showing real-time output."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I run any job it doesn't show real time output of adhoc command, shell and scripts. It waits to show output until job gets completed. I have some deployment script on which I have to enter some parameters during runtime.
![AWX job issue](https://user-images.githubusercontent.com/37445527/93385126-6957fe00-f883-11ea-985b-c4a5b2174cd5.PNG)

##### EN

[2020-09-16 19:56] AlanCoding commented on #5283
Yes, it is expected this will be available in the default execution environment.

https://github.com/ansible/awx/blob/aceb8229ba355068300ace4112a07d9be60b7703/requirements/collections_requirements.yml#L12

https://github.com/ansible-collections/ansible.posix/blob/main/plugins/callback/cgroup_perf_recap.py

If we get stats from podman, they are not going to be in the same form that we used to get f

[2020-09-16 19:56] yurtesen commented on #8143
Ironicly I tried it again and now it somewhow works... I am sorry for wasting your time. I am closing this ticket. Thank you.

[2020-09-16 19:56] #8143 closed, assigned to nobody

[2020-09-16 20:28] wenottingham commented on #8142
You'd still need to ensure at runtime that that credential is attached to the playbook run and can be used by the inventory.

[2020-09-16 20:39] moonrail commented on #7659
@kdelee
For these tests, update on project update was set on for inventory sources.
Update on launch was off.
Projects were not updated while testing, so syncs should not be the issue.

But if syncs would be the cause - shouldn't then all jobs be at least queued as scheduled, started and wait/fail/lock up because of dependencies (sync, project git update)?

Now that I mention it: SCM Branch Overri

[2020-09-16 21:00] wenottingham commented on #5283
I expect it would be different, but I also feel that building something on it will be better going forwards than relying on getting the perf plugin to work universally.

[2020-09-16 21:23] mdinwoodie opened #8161 "[RFE] Add a warning/confirmation when launching a job template against a large inventory"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When running a job template against a large inventory, there is currently no warning or confirmation to ensure the user wants to do this. Adding a warning/confirmation like this would prevent consequential jobs (i.e. potentially impactful playbooks that shutdown hosts or could do other harmful things if targeting the wrong host) from being ran agains

[2020-09-16 22:19] keilr commented on #8157
cc @john-westcott-iv @AlanCoding

[2020-09-16 22:27] kdelee commented on #7658
Initial problems w/ #7709 have been solved.

Now bundles are less than 100MB:

[code]

Going to call this verified and fixed for devel. We can discuss if more backports are needed.

[2020-09-16 22:27] #7658 closed, assigned to kdelee

[2020-09-17 00:19] AlanCoding commented on #8157
Is https://github.com/ansible/awx/pull/8159 addressing this?

[2020-09-17 00:30] AlanCoding commented on #5283
The primary loop for `ansible-runner` is `while child.isalive():`.

https://github.com/ansible/ansible-runner/blob/c2a960193484ce57bfb462749b671088c2a3e97c/ansible_runner/runner.py#L213

From what I'm seeing of `podman stats`, this works to get the present resource consumption of a running container. The `child` in this case would be the `podman run` subprocess.

In terms of technical design, woul

[2020-09-17 06:29] keilr commented on #8157
Yes, that PR will fix it :) Thanks a lot for the info and for the fix! Will it makte it to the next ansible 2.10 rc release?

[2020-09-17 07:55] boutobza opened #8163 "The container awx-web take too much time to start listening on port 8052 when liveness and readiness probes are set"
##### SUMMARY

i' am trying to set liveness and readiness probes for my AWX but i am facing a issue with the time it takes the container awx_web to start listening on the port 8052 (about 5min) while without the probes the container starts listening on the designated port only after few seconds (10-15s)

Liveness & Readiness section in my deployment for the container awx_web

          ports:

[2020-09-17 08:16] joaomnmoreira commented on #8158
Good morning @ryanpetrello,

Sorry, should have thought about verbosity... =)

Below two command executed, list and launch.

**LIST**

Command: $ awx --conf.host http://awx.sportmultimedia.pt --conf.token 6iliv38HXzlGA8zhJZX8zQfjxjk6lF workflow list -v -f human

Output:
[code]

**LAUNCH**

Command: $ awx --conf.host http://awx.sportmultimedia.pt --conf.token xxx workflow_job_templates launch 31 -v

[2020-09-17 08:23] joaomnmoreira commented on #8158
Good morning @ryanpetrello,

Sorry, should have thought about verbosity... =)

Below two commands executed, list and launch.

**LIST**

Command: $ awx --conf.host http://awx.sportmultimedia.pt --conf.token xxx workflow list -v -f human

Output:
[code]

**LAUNCH**

Command: $ awx --conf.host http://awx.sportmultimedia.pt --conf.token xxx workflow_job_templates launch 31 -v

Output:

[code]

[2020-09-17 11:46] rorychatterton opened #8164 "Implement Missing Swagger attributes to allow for Automatic Code Generation of Clientside SDKs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Today the Swagger documentation for AWX is primarily used for the purposes of documentation of the API endpoints.

Swagger as a standard provides a powerful way for customers to generate client SDKs in the language of their choice. In my case, I'd like to use the generated swagger file with [Go Swagger](https://github.com/go-swagger/go-swagger) to g

[2020-09-17 14:54] ryanpetrello commented on #8158
I'm having trouble reproducing this - what version of awx are you using?

[code]

[code]

[2020-09-17 15:33] AlanCoding commented on #8144
can you visit the API for that update `/api/v2/inventory_updates/<inventory update number>` and report back what you see for the `job_env`?

[2020-09-17 15:35] stahloss commented on #8100
The only thing that needed to be clarified in my view was whether or not the 'always' setting of `ALLOW_JINJA_IN_EXTRA_VARS` allowed me to use Jinja everywhere, including Workflow templates extra vars and maybe even Surveys. But seems that answer is 'no', because setting 'always' breaks the application.

Arbitrary code execution is not something you want, but can't it be sanitized, like it is with

[2020-09-17 16:25] frenchtoasters commented on #8144
Here is the output of that section:

[code]

[2020-09-17 16:25] joaomnmoreira commented on #8158
$ awx --version
14.1.0

Don't forget that only fails when it's called through REVCACHE:

$ awx --conf.host http://awx.sportmultimedia.pt --conf.token xxxx workflow_job_templates launch 31 -v
[code]

If direct workflow runs ok:
$ awx --conf.host http://172.21.1.64:8080 --conf.token xxx workflow_job_templates launch 31 -v
[code]

[2020-09-17 16:51] unlikelyzero commented on #5910
covered by 5465

[2020-09-17 17:59] AlanCoding commented on #8144
The place it's looking for the content is `/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/vendor/awx_ansible_collections`

Can you confirm that the image you have running is ansible/awx:14.1.0 from DockerHub? I might see what's going on.

----

Checking the image myself...

[code]

That's not consistent with your setting for this.

[code]

This suggests that the setting should be

[code]

T

[2020-09-17 18:33] wenottingham commented on #8161
Warnings in the user interface are generally for destructive operations (deletion, unsaved changes, etc).
Any warnings added here wouldn't be carried over into the service catalog, the CLI, or anything else that uses the API.

If the goal is to gate automation, something like a approval node should be used.

Closing as a duplicate of #2151.

[2020-09-17 18:33] #8161 closed, assigned to nobody

[2020-09-17 18:41] frenchtoasters commented on #8144
@AlanCoding Here is the output of the `kubectl describe` for the AWX pod that is running, it shows the image running is the ansible/awx:14.1.0 image:

[code]

I would agree that this does appear to be a path issue for the `ANSIBLE_COLLECTIONS_PATHS`, is that environment variable something that maybe the installer would normally set? As im using the awx-operator for installation, im wondering if th

[2020-09-17 19:12] dsesami commented on #6466
this is now handled in ui_next and is stubbed within `job-template-prompt-on-launch.spec.js`

[2020-09-17 19:12] #6466 closed, assigned to dsesami

[2020-09-17 19:36] dsesami commented on #6707
This is still an issue with modals -- I triggered this by forcing a bad zero-division error in the API, right when i clicked the final delete button on a job template, so it would cause the 500 to appear in a modal instead of the whole page.
![Screenshot from 2020-09-17 15-35-05](https://user-images.githubusercontent.com/19942822/93518954-8defbc80-f8fb-11ea-8f74-c887b6e29389.png)

[2020-09-17 19:38] frenchtoasters commented on #8144
I have looked a bit further into the images that are running for AWX and I noticed that the `settings.py` file that is in the container looks different than the one that you linked @AlanCoding

Here is the config-map for the `/etc/tower/settings.py` mount on the container:

[code]

Looking at the key for `settings` there isnt any mention of the `AWX_ANSIBLE_COLLECTIONS_PATHS` would the absence of

[2020-09-17 20:08] jlmitch5 opened #8169 "Filters should persist across ui_next"
Spec document here: https://docs.google.com/document/d/141yuIaGu5gMt0n0mhSVKuOzoCjzQRpc2YrDwVtQqK7U/edit#

Basically, the idea is that we should persist filters as you go across pages in tower that are part of the same resource type.  For example, if you go from the projects list to viewing or editing a project, and then back to the project list by clicking "cancel", the filters you had set up sho

[2020-09-17 20:26] smatterchew opened #8170 "Permit variables at the Ansible Tower cluster level."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We have multiple Ansible Tower clusters that support different requirements (regional/GBU/security context).  The plays we write often need to be aware of the cluster it is running from to make decisions or discover adjacent resources.  For instance, the host decom play needs to know which instance of Satellite/Spacewalk needs to be updated during t

[2020-09-17 20:27] frenchtoasters commented on #8144
After some testing I was able to resolve this issue by adding the `AWX_ANSIBLE_COLLECTIONS_PATHS = '/var/lib/awx/vendor/awx_ansible_collections'` to the `configmap/awx-awx-configmap:setting` and the collection was correctly found and I was able to run the `vmware_vm_inventory.py` and gather my VMware inventory.

As that seems to have solved the issue this we are probably good to close this issue a

[2020-09-17 21:11] nixocio opened #8171 "Add details page for Execution Environments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add details page for execution environments.

See: https://tower-mockups.testing.ansible.com/patternfly/exec-env/exec-env-detail/

[2020-09-18 09:21] JamesYuan opened #8173 "How to load the default group_vars variables?"
##### ISSUE TYPE
It seems the awx cannot load the default group_vars variables even it is in the root directory of ansible project. Or am I wrong? Is there a setting?

Or not, whether it is possible link the "group_vars" as a symbol which will be in same directory of the awx "generated" inventory file?

Thank you.
James.

##### SUMMARY

[2020-09-18 13:15] tiagodread opened #8175 "Error message for Inventory lookup on job templates appear in wrong place"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The error message for inventory lookup inside Job templates form appears in wrong place

##### ENVIRONMENT
* AWX version: 2.9.11
* AWX install method: docker for mac
* Ansible version:  14.1.0
* Operating System: Catalina
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Navigate to Job Templates
2. Click on Inventory lookup field
3. Close the Invent

[2020-09-18 13:18] ryanpetrello commented on #8144
Thanks for digging @frenchtoasters!

[2020-09-18 13:18] #8144 closed, assigned to nobody

[2020-09-18 13:18] ryanpetrello commented on #8144
see: https://github.com/ansible/awx-operator/pull/27

[2020-09-18 13:20] ryanpetrello commented on #8170
Hey @smatterchew,

This issue tracker is for the open source AWX project, not Red Hat's Ansible Tower product.  Please reach out to a Red Hat support representative about this request.

[2020-09-18 13:20] #8170 closed, assigned to nobody

[2020-09-18 13:24] tiagodread opened #8176 "Users can’t go to next field using TAB key after CodeMirror Field type"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Trying to navigate using only the TAB key, when I try to go to the next field from a CodeMirror field isn’t possible.

##### ENVIRONMENT
* AWX version: 2.9.11
* AWX install method: docker for mac
* Ansible version:  14.1.0
* Operating System: Catalina
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Navigate to Job Templates
2. Click on Add button

[2020-09-18 13:34] ryanpetrello commented on #8158
Hrm,  I'm not sure why running through a proxy like nginx would make a functional difference like this unless it's rewriting URLs or something weird.  In my example above, I'm also pointed at a setup that uses nginx:

[code]

[2020-09-18 13:50] ryanpetrello commented on #8071
I'm in US/Eastern, but I gave reproducing a shot.

First I went and set up a schedule that starts a few minutes from now (in Berlin):

<img width="1449" alt="image" src="https://user-images.githubusercontent.com/214912/93604706-bd520800-f993-11ea-885e-3611d90ad3fd.png">

I also set up a per-minute recurrence rule for every 5 minutes.  Here's the rrule generated:

`DTSTART;TZID=Europe/Berlin:202009

[2020-09-18 13:52] guhilling commented on #8071
Great, thanks!

Ryan Petrello <notifications@github.com> schrieb am Fr. 18. Sept. 2020 um
15:51:

Mit freundlichen Grüßen,

Gunnar Hilling

Dipl.-Phys.
Geschäftsführer

<https://www.redhat.com/rhtapps/services/certifications/badge/verify/KTMH22TWUMNSRZ6EOB3LKTRNZMAEQU3CUPSQX2KSDXT6RW46LQ35PJM42P67B5QWEJ73QV2GX4NOQ4U5NQYTCNA62RUWOCM34WWBUYQ=>

<https://www.redhat.com/rhtapps/services/certifications

[2020-09-18 13:57] ryanpetrello commented on #8071
This looks to me like a bug in this commit:

https://github.com/ansible/awx/commit/6bd5053ae8f

(the problem goes away if I revert it)

[2020-09-18 14:21] AlanCoding commented on #8144
My gut reaction is that the operator is the wrong place for a fix. The operator shouldn't have the obligation of fixing a setting that the image set wrong, particularly related to pathing. I'd point back to:

https://github.com/ansible/awx/blob/b69fad83b1961d43ad414aa15f60d2dec1e9f30b/awx/settings/defaults.py#L124

And that comes down to `BASE_DIR`

https://github.com/ansible/awx/blob/b69fad83b196

[2020-09-18 14:39] ryanpetrello commented on #8071
@guhilling @aklyachkin,

Yep, this is an unintentional bug I introduced while working on an optimization in the rrule calculation early this year 😢.

Either of you mind giving this PR a whirl to see if it improves things? (you don't need to apply the part of the diff that is the unit test)

https://github.com/ansible/awx/pull/8177

[2020-09-18 14:43] frenchtoasters commented on #8144
@AlanCoding Id agree that the operator should not fail due to some change like this however to resolve that a change will still be needed on the operator based. This is because the `settings.py` script is mounted at run time for the container from a configmap. Additionally that script is ever so slightly different than the base one due to it being run on kubernetes, here is the file in question: h

[2020-09-18 15:17] joaomnmoreira commented on #8158
@ryanpetrello, problem found!!! So stupid!!!! =)

Your last comment helped a lot...
[code]

Bottom line... When calling through nginx (WITH SSL) i wasn't using correct scheme, which caused reported problem.

It's working know!

Thanks for your help!

[2020-09-18 15:28] ryanpetrello commented on #8158
Oh man, I'm glad we figured it out 😄

[2020-09-18 15:28] #8158 closed, assigned to nobody

[2020-09-18 15:40] keithjgrant commented on #8176
This is a tricky problem... users need to be able to type a tab character, so I'm not sure there's a great solution. Maybe see if we can make Shift-Tab move to the next field? (assuming we can get that behavior in cooperation with the CodeMirror library).

…Unless we’re ok disallowing tabs in the codemirror altogether?

[2020-09-18 15:52] dsesami commented on #8156
console errors do not appear in the prompt on launch flow anymore. :+1:

[2020-09-18 15:52] #8156 closed, assigned to dsesami

[2020-09-18 15:55] unlikelyzero commented on #3321
tests are green but it remains to be seen if we should add an automated test for this. I'll verify this one manually once it lands on a packaged build of 4.0

[2020-09-18 17:20] wenottingham commented on #8145
Can you attach the full log as much as possible?

How many slices, and how many nodes in each slice?

[2020-09-18 17:29] wenottingham commented on #8117
Can you try this on 14.x?

[2020-09-18 17:31] wenottingham commented on #8081
Closing per comment above: you can either use a project-based inventory, or construct an inventory using the API and/or the awx collection.

[2020-09-18 17:31] #8081 closed, assigned to nobody

[2020-09-18 17:47] ryanpetrello commented on #7277
Hey @Ishake, any feedback on @john-westcott-iv's question?

[2020-09-18 17:48] nixocio opened #8181 "Validate YAML/JSON syntax on VariableField before submit request"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Validate YAML/JSON syntax on `VariableField` before submit request.

[2020-09-18 17:53] nixocio opened #8182 "Validate `pod_spec_override` on InstanceGroupSerializer"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now there is no validation for `pod_spec_override` on InstanceGroupSerializer. Validate that it is a valid JSON.

[2020-09-18 17:53] nixocio commented on #8182
See: https://github.com/ansible/awx/issues/8181

[2020-09-18 17:58] wenottingham commented on #7347
This has all changed in AWX 14.0 or later, please try that?

[2020-09-18 17:58] #7347 closed, assigned to chrismeyersfsu

[2020-09-18 18:00] wenottingham commented on #7348
Closing this, this will not change without large rewrites to the RBAC model inheritance.

[2020-09-18 18:00] #7348 closed, assigned to nobody

[2020-09-18 18:00] elyezer commented on #7347
See here for more information https://github.com/ansible/awx/issues/5150#issuecomment-669495939

[2020-09-18 18:03] wenottingham commented on #7403
Closing, you can reopen when you have the requested details. To a certain extent, this is how transactional database deletes work, it will consume more space before the transaction finishes.

[2020-09-18 18:03] #7403 closed, assigned to nobody

[2020-09-18 18:04] wenottingham commented on #7438
Closing as "works as is"

[2020-09-18 18:04] #7438 closed, assigned to nobody

[2020-09-18 18:05] tiagodread commented on #7878
Tests covered by 5534 PR already merged

[2020-09-18 18:05] #7878 closed, assigned to keithjgrant, tiagodread

[2020-09-18 18:08] wenottingham commented on #7447
If the issue is that when you export only an inventory it does not export related hosts, we should probably just document that.

[2020-09-18 18:08] ishake commented on #7277
@lshake see above (that l is an L not an i :D )

[2020-09-18 18:10] wenottingham commented on #7528
Closing export of inventory script data as "wontfix"

[2020-09-18 18:10] #7528 closed, assigned to nobody

[2020-09-18 18:12] wenottingham commented on #7536
If you are using updated collection modules, you may need to use a custom virtual environment that contains newer dependencies; there's not anything else we can do here.

In the future we will be introducing a different concept called "execution environments" that will assist with this. Please see #7884

[2020-09-18 18:12] #7536 closed, assigned to nobody

[2020-09-18 18:31] marshmalien opened #8183 "Add Setting detail views"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockup: https://tower-mockups.testing.ansible.com/patternfly/settings/settings/

This issue tracks adding the Detail view to all setting views.

* Setting content should be derived from the setting OPTIONS request
* Setting fields without a value should have a Detail value of "Unconfigured"
* Setting fields with sensitive information should have a De

[2020-09-18 18:38] ryanpetrello commented on #7277
@ishake whoops 😄

[2020-09-18 18:59] dsesami commented on #8181
Although technically it's new, I'm calling this a bug just because it's more about stopping something from breaking.

[2020-09-18 18:59] RylandDeGregory commented on #7536
Thanks @wenottingham,

I am excited for the Execution Environments, as well as all the changes you guys have in the pipeline.

Thanks for replying to me!

[2020-09-18 19:02] msilmser commented on #8085
Customer issue was opened against Tower 3.7.0

[2020-09-18 19:15] nixocio opened #8184 "CredentialLookup does not enforce required prop"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
CredentialLookup does not enforce required prop

##### STEPS TO REPRODUCE
Go to any screen that uses the `CredentialLookup` component with `required` prop set, for instance, `https://localhost:3001/next/inventories/inventory/2/sources/add` and elect source `Ansible Tower`.
 Credential is required but no validation will be triggered if a credential is n

[2020-09-18 19:19] ryanpetrello commented on #2056
If we addressed this (and I think we should), we're unlikely to do so in the "old" AWX UI, but instead would start enforcing it in the replacement UI (ui-next).

[2020-09-18 20:06] aptevo commented on #8129
the service user itself only has execute rights on the template, and if he could just set a checkbox allowing other users to enable or disable a schedule he created would be enough, but I see your point.
The only workaround for now is giving a user admin rights for a template he otherwise only needs execute rights, which seems to be a bad option too.

[2020-09-18 21:17] wenottingham commented on #8173
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-09-18 21:17] #8173 closed, assigned to nobody

[2020-09-19 14:45] lshake commented on #7277
Hey Folks.

The issue is when the setting endpoint is a list, not a single value.  My example was the python environment, but I suspect that there are other settings of type list which behave the same.   Kubernetes has the same issue if I understand it correctly and have strategic merge as an option to merge list values, rather than overwriting them.

In my use case, I want to allow different team

[2020-09-20 01:44] MikelPan opened #8187 "not can run job"
Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1354, in run self.pre_run_hook(self.instance, private_data_dir) File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1942, in pre_run_hook RunProjectUpdate.make_local_copy(job.project, private_data_dir, scm_revision=job_revision) File "/var/lib/awx/venv/aw

[2020-09-20 17:46] john-westcott-iv commented on #7277
Given that ansible is a desired state machine, list values are always a replacement in the collection. In order to do an additive you would have to lookup the existing setting and then manually perform an addition. This can be achieved like:
[code]

[2020-09-20 21:09] lshake commented on #7277
I wasn't aware of the awx.awx.tower_api lookup, it might have been added after I raised this feature.  Nice solution and solves the problem without a facts module or complicated merge.  Happy to close this.

[2020-09-20 21:09] #7277 closed, assigned to nobody

[2020-09-21 07:00] radugrecu commented on #2121
I would love to see this happen.

[2020-09-21 11:53] raydoherty opened #8188 "AWX 14 Fails to Run Playbook Connecting to Cisco Devices"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Ansible AWX fails to run a play on cisco devices with the following error:
ImportError: cannot import name '_PERM_BITS

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker container from install from AWX install playbook
* Ansible version:  2.9.13 (but also failed on all version of 2.9.x)
* Operating System: Ubuntu 20.04 Server(also tr

[2020-09-21 12:52] AlanCoding commented on #8187
This looks like it could potentially be fixed by #8174, but we need some more information.

What type of project is being used by the job here? Could you get details of that project from the API browser at `/api/v2/projects/<project id>/`?

[2020-09-21 13:25] ryanpetrello commented on #8188
Hey @raydoherty whatever's going on here looks like an issue with Ansible itself to me (this traceback is from the `ansible-playbook` process) - have you tried reaching out to their mailing list or IRC room?

[2020-09-21 13:26] #8188 closed, assigned to nobody

[2020-09-21 13:54] raydoherty commented on #8188
Yes...i logged into the container and in the venv and run ansible engine and the error is the same.  I will move the report there.

[2020-09-21 16:42] Brantlab commented on #20
+1

[2020-09-21 17:01] dsesami commented on #6707
adding API tag because the response might require them to do something different.

[2020-09-21 17:05] nixocio opened #8190 "Add access view for Execution Environments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add access view for Execution Environments.

See: https://tower-mockups.testing.ansible.com/patternfly/exec-env/exec-env-detail/

[2020-09-21 19:57] dsesami commented on #7887
Currently, the image name field looks like this:

![Screenshot from 2020-09-21 15-54-22](https://user-images.githubusercontent.com/19942822/93814703-e3d9a280-fc22-11ea-9123-1112425c499d.png)

Based on what I understand, ansible/awx would be a valid image name if someone was using podman. does that mean this field doesn't only have URLs? also, can we add tooltip info to show more details about vali

[2020-09-21 19:57] dsesami commented on #6707
also, does the `Description` field have an API character limit? it should.

[2020-09-21 19:59] dsesami commented on #7887
Also -- does the description field have a character limit? this should be checked. it can go indefinitely as far as i can tell, and the API accepts that. there should be a limit.

[2020-09-21 20:25] nixocio commented on #7887
@dsesami , right now I added a validation to verify that is a valid URL. If we decide that is not the case, I can update that.

[2020-09-21 20:29] jpell958 commented on #8145
Answer: 273 hosts per slice
[inventory_update_247314.txt](https://github.com/ansible/awx/files/5257977/inventory_update_247314.txt)

There are few updates since we last reported on issue to the community.  We observed that one of the indexes, _host_ansible_facts_default_gin_, on database table _main_host_ has grown significantly large and could be contributing to the slow down whenever a query is

[2020-09-21 20:45] ryanpetrello commented on #8145
Hey @jpell958,

Thanks for digging into this - can you check the formatting on your Python code diff above (including indentation).

Did your problem go away with this patch?

If you've got a diff that you think resolves this, or improves performance, please feel free to open a pull request so we can talk it over!

[2020-09-21 21:16] mabashian opened #8194 "Inventory/Project rbac broken on JT form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
It currently looks like we're disabling the Project/Inventory lookups in the JT form if a user does not have the ability to create a project or inventory.  See https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/Lookup/InventoryLookup.jsx#L60 and https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/Lookup/ProjectLookup.

[2020-09-21 21:40] tiagodread commented on #4254
Tests and PR already merged 👍🏽

[2020-09-21 21:40] #4254 closed, assigned to mabashian

[2020-09-22 08:48] anxstj commented on #5527
Is this related to https://github.com/ansible/awx/issues/7348?

[2020-09-22 13:07] mabashian opened #8195 "Selecting prompt on launch on vault password erroneously shows field error after entering password"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![vault_prompt_pass](https://user-images.githubusercontent.com/9889020/93885835-ad4b6880-fcb2-11ea-8822-c28bbe91724a.gif)

If you don't enter anything into the input before clicking the prompt on launch button then the validation seems to behave properly.

The expected behavior here is that the field error should not be shown if the user selects prompt

[2020-09-22 13:14] mabashian opened #8196 "Privilege Escalation Method dropdown shows no options"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![priv_esc](https://user-images.githubusercontent.com/9889020/93886865-ef28de80-fcb3-11ea-9627-b2f445690f8c.gif)

Not sure what happened to break this but I think this field should present the user with all the options _and_ allow them to type ahead to filter the list down.  I included the old UI at the end of the gif for reference.

[2020-09-22 13:26] HiramanSonawane commented on #7307
I am facing the same issue.

Operations to perform:
  Apply all migrations: auth, conf, contenttypes, main, oauth2_provider, sessions, sites, social_django, sso, taggit
Running migrations:
  No migrations to apply.
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib64/python3.6/site-packages/django/db/backends/utils.py", line 84, in _execute
    return self.cursor.execute(sql, par

[2020-09-22 13:35] dsesami commented on #7886
This is going to be checked off along with https://github.com/ansible/awx/issues/7887, which is in needs_review because of some minor changes that will be made.

[2020-09-22 13:58] dsesami commented on #8171
should this capitalize "Back to Execution Environments"? We capitalize this elsewhere:
![Screenshot from 2020-09-22 09-57-37](https://user-images.githubusercontent.com/19942822/93892142-2ef2c480-fcba-11ea-8a32-dfb5a3e52e03.png)
Templates is capitalized here:
![Screenshot from 2020-09-22 09-58-18](https://user-images.githubusercontent.com/19942822/93892152-31551e80-fcba-11ea-97cb-23ae48a9225e.png)

[2020-09-22 14:02] dsesami commented on #7886
Couple of things:
1) Organization doesn't make sense here. What org is associated with an EE? There is no field for this, I think.
2) Sorting by description when that description is not visible is weird. This is an issue in other places as well, but do we want to address that here?

![Screenshot from 2020-09-22 10-01-42](https://user-images.githubusercontent.com/19942822/93892549-a3c5fe80-fcba-11e

[2020-09-22 14:03] ares commented on #5428
I believe the problem is, when the collection was created, wrong froman.py script was taken (contrib vs plugin). Meaning all fixes we had simply vanished. @sjha4 is working on getting the new way of generating inventory back to the foreman.py that now lives in the collection.

[2020-09-22 14:45] jbradberry commented on #7886
@dsesami that is incorrect, there is an (optional) owning Organization for each EE.  This is just a straightforward nullable foreign key on the EE model.

I think that this list needs to have the Organization showing for each EE when there is one associated.

[2020-09-22 14:50] dsesami commented on #8171
based on feedback from https://github.com/ansible/awx/issues/7886#issuecomment-696769284, we should add organization info here.

[2020-09-22 14:51] dsesami commented on #7887
based on feedback from https://github.com/ansible/awx/issues/7886#issuecomment-696769284, we need to add an optional organization field here.

[2020-09-22 14:51] dsesami commented on #7887
(mistakenly closed)

[2020-09-22 14:52] rcarrata commented on #1731
+1

[2020-09-22 14:53] dsesami commented on #7886
@jbradberry good to know. i've updated the add/edit/details issues with information about the optional org field.

[2020-09-22 15:17] ryanpetrello commented on #8145
@jpell958,

Also, can you try the latest version of AWX?  I see that we changed some of this code recently:

https://github.com/ansible/awx/pull/7352

[2020-09-22 15:30] dsesami opened #8199 "Not setting Container Groups credential crashes UI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. go to container groups -> Add
2. Fill in the name, turn on pod spec override but don't set a credential.
3. Try to save. the page will crash:
![Screenshot from 2020-09-22 11-27-55](https://user-images.githubusercontent.com/19942822/93903606-db3aa800-fcc6-11ea-9732-a260070e0c75.png)

assigning @nixocio because he is familiar with this code.

[2020-09-22 15:32] dsesami commented on #8199
Interestingly, this results in an instance group, instead of a container group, if you hit back. this should be double-checked.

[2020-09-22 16:35] nelsonyaccuzzi commented on #5692
Same issue, I would like to have a test branch with its own inventory so I can test the changes on the playbooks and also in the inventory.

[2020-09-22 16:41] mabashian opened #8200 "Enforce credential replacement rules on job launch prompt"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When launching a job template/configuring a schedule/configuring a workflow node where the job template prompts for credentials, a user should not be able to remove a credential without replacing it with one of the same type.  For example, if a job template has a default machine credential, the user must use that default or replace it with another mach

[2020-09-22 17:35] dsesami commented on #8091
Jobs that are already complete can still be canceled, which seems like a bug. This interaction (similar to the select -> delete flow) seems odd for a cancel operation. should this be a one-click ⛔ symbol like elsewhere when canceling jobs, and not require two clicks?

[2020-09-22 18:10] nixocio commented on #8199
This is somehow related to https://github.com/ansible/awx/issues/8184

[2020-09-22 18:25] jpell958 commented on #8145
@ryanpetrello,

The changes you are referring too are already accounted for in the version of AWX we are using.

With the code change we made, the massive query to update ether _‘last_job_id’_ and _‘last_job_host_summary_id’_ is now faster
Anecdotally (3 seconds vs. 2 hours).  We will not know the total impact of our change until we place a heavy load on the system starting next month.

[2020-09-22 18:31] mabashian opened #8202 "Launching job with vault password 400s when default machine cred is replaced"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Really odd behavior that I came across while building out credential prompting in the new UI.  This can be reproduced via the API browser though.

I created a JT with a default machine credential (that prompted for some passwords) and a default vault credential (that prompted for password).

If I swap the machine credential for one that does not prompt

[2020-09-22 18:34] nixocio opened #8203 "Refresh of page on asssociate instance groups breaks UI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Refresh of page on associate instance groups breaks UI. `me` variable will be undefined.

##### STEPS TO REPRODUCE

Logged as system admin, go to `https://localhost:3001/next/instance_groups/1/instances`, for instance, attempt to refresh the page a few times.

##### EXPECTED RESULTS

Regular page refresh.

##### ACTUAL RESULTS

UI breaks due to a miss

[2020-09-22 18:35] nixocio commented on #8203
This issue was already addressed by https://github.com/ansible/awx/pull/8179

[2020-09-22 18:36] unlikelyzero commented on #8203
@unlikelyzero i will be testing this post-merge

[2020-09-22 18:56] nixocio commented on #8199
The API does not enforce a credential as required field for the `instance_groups` endpoint. And if a credential is not provided the resource type created will be instance groups, if a credential, `OpenShift or Kubernetes API Bearer Token` is provide it will be a container group. But since the UI is not enforcing a required Credential when creating a Container group. This issue was raised. That is

[2020-09-22 19:00] ryanpetrello commented on #8145
@jpell958 👍 are you interested in opening a pull request?

[2020-09-22 19:53] tiagodread commented on #7793
Verified if `summary_fields.unified_job_template` is populated correctly and it does.

[code]

[2020-09-22 19:53] #7793 closed, assigned to elyezer, jbradberry, chrismeyersfsu, tiagodread

[2020-09-22 19:57] ryanpetrello commented on #8145
Hey @jpell958,

I poked at this and opened a PR which is similar to your suggested diff; I think it should help.  Any chance you're interested in giving it a try?

https://github.com/ansible/awx/pull/8206/

[2020-09-22 20:26] dsesami opened #8207 "Disable cancel button when job is complete"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This code is reused in a few places. One example is Job Template -> Completed Jobs
![Screenshot from 2020-09-22 16-25-12](https://user-images.githubusercontent.com/19942822/93933804-33d26b00-fcf0-11ea-9e70-1217d192be1d.png)

The `Cancel Job` button is enabled even when jobs are complete. Also, this flow seems a bit unintuitive. Should this be a one-but

[2020-09-22 20:27] dsesami commented on #8091
This issue is split out to https://github.com/ansible/awx/issues/8207. Once automation is in place for this issue, it can be closed.

[2020-09-22 20:31] jpell958 commented on #8145
@ryanpetrello,

At one point we implemented the batch size and limited that to 500 hosts.  However, we still observed that the operation was taking a long time and blocking other transactions.  This kept the main host table locked.  We will have a peak load in our environment coming up in 3 weeks and should be able to report back then; calling one host.save() at a time.

Without the load we cannot

[2020-09-22 20:41] ryanpetrello commented on #8145
It might be that one solution here is to just roll back to distinct updates; this optimization may not be worth it given the behavior you're seeing.  That said, in my testing w/ a 10k host inventory, the ORM cost of distinct `.save()` calls is *really* high (as in, it takes several minutes for the the `playbook_on_stats` processing to finish serially).

[2020-09-22 21:10] nixocio opened #8210 "Add execution environments view for organizations"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add execution environments view for organizations.

See: https://tower-mockups.testing.ansible.com/patternfly/orgs/orgs-environments/

[2020-09-22 21:49] jakemcdermott opened #8211 "Remove any remaining `window.liveUpdates` behavior from lists"
Based on modifications / optimizations to the api and ui in recent releases/prs and [some discussions](https://github.com/ansible/awx/pull/8193#discussion_r492785047), we no longer need to modify list behavior based on `window.liveUpdates`. This issue is for removing any remaining code that uses `window.liveUpdates` for lists.

[2020-09-23 12:39] venu1428 commented on #885
Hey @daniego the start,sucess,failure notications are working for me like you mentione above but when it comes to approval messages I am not able to get the notification to teams.
Can I get any reason.
I am using webhook type of notification.
{"body": "The approval node \"{{ approval_node_name }}\" was approved. {{ workflow_url }}"}
I am using same sample message body which was default for awx whi

[2020-09-23 12:42] Vamxi opened #8214 "Jobs fail to run with 400 error in kubernetes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
UI has started to bug out and launching a job in the job sections fails with the error provided .
Call to /api/v2/jobs/15148/relaunch/ failed. returned status: 400.
"awx.main.models.ha.MultipleObjectsReturned: get() returned more than one TowerScheduleState -- it returned 2!"
Opening Credentials sections throws a 500

[2020-09-23 13:25] ryanpetrello commented on #8214
Hey @Vamxi,

This is a fairly old version of AWX, and a _lot_ has changed - I'd recommend upgrading and reporting back if you still continue to see this issue.

Here's a similar older issue that looks like a duplicate - whatever's going on here, it looks like it can be resolved by cleaning up the duplicate row in the table:

https://github.com/ansible/awx/issues/4419#issuecomment-518481399

[2020-09-23 13:25] #8214 closed, assigned to nobody

[2020-09-23 13:42] ryanpetrello opened #8215 "Add the ability to toggle on/off GALAXY_IGNORE_CERTS in the UI"
<img width="1227" alt="image" src="https://user-images.githubusercontent.com/214912/94013458-1a750180-fd78-11ea-930b-7211a353fb51.png">

see: https://github.com/ansible/awx/pull/8213

[2020-09-23 14:46] nixocio opened #8216 "Update usage of user_capabilities for Execution Environments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Update usage of summary_fields for Execution Environments. `user_capabilities` was added as part of `summary_fields` for EE. Update the `ToolbarDeleteButton` component.

[2020-09-23 14:47] nixocio commented on #8216
See: https://github.com/ansible/awx/pull/8208

[2020-09-23 15:10] nixocio commented on #8190
See: https://github.com/ansible/awx/pull/8198

[2020-09-23 15:10] #8190 closed, assigned to nixocio

[2020-09-23 17:25] agilleyrh opened #8218 "RFE: write to: and from: data to a searchable log, such as changes in user type"
##### ISSUE TYPE
 - Logging and UI enhancement.

##### SUMMARY
 - Add the ability to see more granular detail in the Activity Stream and logs. An example would be if a user's role is changed to be able to see what it was and what it is now in the Activity Stream.

[2020-09-23 17:38] ghjm commented on #8154
I cannot reproduce this.  If I log in to the API in one tab, a new tag gives me a dashboard view with the logged in API user.  If I then navigate to the login page and perform an Azure AD login, it proceeds normally (whether creating a new Tower social account or reusing an existing one).  If I then go back to the API page and click refresh, it shows the newly-logged-in AD user.  I was not able to

[2020-09-23 18:09] shanemcd commented on #6175
Is this still an issue? Probably going to close this if no one else chimes in within the next few days.

[2020-09-23 18:20] shanemcd commented on #6770
Hello, does this still happen on latest AWX?

[2020-09-23 18:24] zilkanir commented on #6770
No, you can close the issue.
Thanks

[2020-09-23 19:08] wenottingham commented on #8218
This requires the activity stream to be an inverse of what it is today.

Role association today is you take the pre-existing admin role for a job template (as an example) and associate a user/team with that role.

It is not an operation on the user, it is an operation on the *role*.  Providing what is suggested here is something entirely different.

[2020-09-23 19:21] tiagodread opened #8219 "[Notification template] "name" field triggers unexpected GET requests"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Trying to create a new notification template every char filled on the name field trigger a GET request for `/api/v2/organizations/`

note: this causes significant performance slowdown in the UI.

##### ENVIRONMENT
* AWX version: 2.9.11
* AWX install method:docker for mac
* Ansible version:  14.1.0
* Operating System: Catalina
* Web Browser: Chrome

##

[2020-09-23 19:53] unlikelyzero commented on #7820
Have not seen in a long time. Closing

[2020-09-23 19:53] #7820 closed, assigned to nobody

[2020-09-23 20:01] unlikelyzero commented on #7822
@mabashian is this a dupe of https://github.com/ansible/awx/issues/7562

[2020-09-23 20:09] unlikelyzero commented on #7835
what's the dealio. needs_test?

[2020-09-23 21:09] nixocio commented on #7887
After followed up with @jbradberry.

There are at least 2 scenarios to be added.

*   User is a `system_administrator`.
    1.  This one can create globally available execution environment, providing `organization` as null.
    2.  This one can create execution environment to a specific organization, providing `organization` id to the API.

* User is `organization admin`.
  1. This one can create

[2020-09-23 21:22] unlikelyzero opened #8222 "The JT Survey Edit Question page does not allow a default answer if Answer Type is Integer or Float"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The JT Survey Edit Page does not allow a default answer if Answer Type is Integer or Float

##### ENVIRONMENT
* AWX version: aac17b9d2c7ae17c2dc204de11490401bc75f7a2

##### STEPS TO REPRODUCE
1. Navigate to the Survey Edit Question page.
2. Attempt to create or edit a question with Integer or Float type
3. Enter an integer value into Default answer fie

[2020-09-23 21:23] unlikelyzero commented on #7670
likely the same as https://github.com/ansible/awx/issues/7636

[2020-09-24 00:14] saali2016 opened #8223 "syslogger module failing on RHEL6/CentOS6"
##### ISSUE TYPE
 - syslogger module failing in RHEL6/CentOS6 with "Failed to write to syslog"
##### SUMMARY

##### ENVIRONMENT

* Ansible version:  2.9.7, 2.9.9
* Operating System: RHEL6/CENTOS6

##### STEPS TO REPRODUCE
 - hosts: all
   tasks:
   - name: Test syslog
     syslogger:
      msg: "Hello from ansible"
      #priority: "err"
      #facility: "user"
      #log_pid: true

##### EXPECTED

[2020-09-24 00:37] #8223 closed, assigned to nobody

[2020-09-24 00:37] saali2016 commented on #8223
Wrong repo

[2020-09-24 02:30] fosterseth commented on #8187
are you using manual project or scm?

same error as this issue https://github.com/ansible/awx/issues/6213#issuecomment-614232632

[2020-09-24 03:59] arashnikoo commented on #6792
The workaround works for me as well. Is this going to be fixed?

[2020-09-24 06:03] yashfaizan commented on #8122
the workaround would be store the execution node ip or fqdn from gather facts to a variable and expose that variable using set_stats or add it as a host variable

[2020-09-24 07:24] venu1428 opened #8225 "The notifications through webhook notification type for Approved Message Body,Workflow Denied Message Body not getting to microsoft teams from AWX.Remaining success,started,failure notifications are working fine."
ISSUE TYPE
Bug
COMPONENT NAME
UI
SUMMARY
I have setup webhook notification configuration to microsoft teams from awx.I have get the notificcations for sucess,failure,start cases but not getting notification for Workflow Approved Message Body,Workflow Denied Message Body.

I have used default the Workflow Approved Message Body  to test but failed to get the notifications.

{
    "@type": "MessageCa

[2020-09-24 10:07] lucas-benedito opened #8226 "Webhook notification retry option"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Enhancement idea for web-hook type notification.

The goal is to set some retry mechanism for sending web-hook type notification. For example 3 times with 3-5 pause between retries.

We are asking for this feature because right now we struggle with an issue: our ansible jobs executes and sends notification but the target application for this notifica

[2020-09-24 12:23] tom0010 commented on #6030
Any update on this?

With AWX 14.1 I can create a `password` variable in a survey, which is perfect. But, I'd like to do this within the API.

[2020-09-24 12:24] fourstepper opened #8227 "AWX API PATCH request to alter a job template's name not working as expected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker on linux
* Ansible version: 2.9.11
* Operating System: Linux

##### STEPS TO REPRODUCE

I am trying to make a PATCH request to the AWX API to update the name of a job template. This is how the API request looks like: https://www.getpostman.com/collections

[2020-09-24 13:08] ryanpetrello commented on #8227
@fourstepper,

I'm having trouble reproducing this.  Can you share your reproduction steps with something like curl?

[code]

[2020-09-24 13:15] #4940 closed, assigned to nobody

[2020-09-24 13:31] fourstepper commented on #8227
Hi @ryanpetrello, thanks for your reply.

I will provide some examples first thing tomorrow, I'm unfortunately out of the office for today.

[2020-09-24 13:52] lucas-benedito commented on #8154
@ghjm sure, I've tested with Ansible Tower 3.6.5 and 3.7.2
- fresh Ansible Tower Installation
- configure Azure AD with **Azure AD OAUTH2 KEY** and **Azure AD OAUTH2 SECRET** ( Azure AD authentication tab ) without any other configuration
- Logout from Ansible Tower
- Open two login tabs being one from https://YOUR-TOWER-ADDRESS/api/login and https://YOUR-TOWER-ADDRESS
- Login with the user **admi

[2020-09-24 13:59] tiagodread commented on #8219
This problem is happening for each field for each notification type.

[2020-09-24 14:19] ghjm commented on #8154
Ok, I can reproduce this now.  The trick is to have both browser tabs open _before_ logging into either one of them.

[2020-09-24 14:33] nixocio commented on #7410
I clarified with @trahman73 about this feature. Even though `description` is not displayed on the on the list itself, the `description` field should be added as part of the search option.

[2020-09-24 16:01] dsesami commented on #8091
automation for this is in instance-groups/container-group-tabs.spec

[2020-09-24 16:01] #8091 closed, assigned to dsesami

[2020-09-24 16:08] AlanCoding commented on #6367
Link https://github.com/ansible/awx/issues/8009

[2020-09-24 17:58] wenottingham commented on #6030
Password variables aren't sent encrypted, they're just *stored* encrypted and not retrievable later.

[2020-09-24 19:30] dsesami commented on #8219
It appears that this also occurs when doing Container Groups > New > selecting a credential.

[2020-09-24 19:43] AlanCoding commented on #5283
Filed an issue in ansible-runner.

I have a PR up for related work that adds container names, which is needed given the design I outlined.

[2020-09-24 20:26] naveenmykaarma opened #8231 "Google chat notification always give 400"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am trying to add google chat webhook notifications but it always throw 400.

##### ENVIRONMENT
* AWX version: 13.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.9.10
* Operating System: centos 7
* Web Browser: google chrome

##### STEPS TO REPRODUCE

1. Go to notification area
2. Crea

[2020-09-25 05:21] alireza-esmaeeli opened #8233 "POST request to api/v2/inventories endpoint does not create an inventory and returns 200 OK response same as GET request"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm experimenting with AWX REST API to evaluate it's production readiness level. When I send a POST request to /api/v2/inventories endpoint with postman and administrative permissions to create an inventory, I get a response back exactly the same as GET request to this url.

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker on linux

[2020-09-25 07:10] fourstepper commented on #8227
Hello @ryanpetrello, I have tested this today agian and sucessfully discovered that the problem was a missing trailing forwardslash

Thanks for the help!

[2020-09-25 07:10] #8227 closed, assigned to nobody

[2020-09-25 10:29] eschek87 opened #8234 "Cannot launch job template with survey -> Error Message: Call to /api/v2/job_templates/82/survey_spec failed. GET returned status: ."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

If I launch a job template with a 11 kilobyte survey.json file I receive a error message and the jobs doesn't start

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker
* Ansible version:  2.10
* Operating System: Ubuntu
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a job template, create a big survey with 20 prompts with a

[2020-09-25 11:56] eschek87 commented on #8234
Issue is resolved. I hadn't set '"default: ""'. Doesn't know that it is needed for multiselect.

{
     "type": "multiselect",
     "question_name": "Select tags",
     "variable": "tag",
     "required": true,
     "choices": "tag_list",
     "default": ""
}

[2020-09-25 11:56] #8234 closed, assigned to nobody

[2020-09-25 12:34] john-westcott-iv commented on #8010
Resolved by #8205

[2020-09-25 13:11] ryanpetrello commented on #8233
@alireza-esmaeeli,

The HTTP 301 response is redirecting you to `/api/v2/inventories/` because you forgot to put in a trailing slash.

[2020-09-25 13:11] #8233 closed, assigned to nobody

[2020-09-25 13:57] tiagodread commented on #8219
Tests are OK, PR already merged.

[2020-09-25 13:57] #8219 closed, assigned to mabashian

[2020-09-25 15:03] clem13960 commented on #7052
Looks like the whole Kubernetes manifest is present in custom vm fields, see attached screenshots :

<img width="866" alt="Capture d’écran 2020-09-25 à 17 00 14" src="https://user-images.githubusercontent.com/50779145/94282964-bb1e1980-ff50-11ea-82ee-9c5ff33391f6.png">
[...]
<img width="1515" alt="Capture d’écran 2020-09-25 à 17 00 44" src="https://user-images.githubusercontent.com/50779145/942829

[2020-09-25 15:14] izha-alltech commented on #4309
Google for **exact error** (the **last phrase** in copy-pasted message, i.e.

Or Google for **YOUR** error (if it is **NOT** "cannot import zname constants")

[2020-09-25 15:14] mabashian commented on #4968
Refactoring this issue - we won't worry about the modal but we should update the field to display as required:

<img width="1371" alt="Screen Shot 2020-09-25 at 11 12 57 AM" src="https://user-images.githubusercontent.com/9889020/94284394-492ddc00-ff20-11ea-8976-28bfdb2b2d0d.png">
<img width="612" alt="Screen Shot 2020-09-25 at 11 13 18 AM" src="https://user-images.githubusercontent.com/9889020/942

[2020-09-25 15:20] philipsd6 commented on #7021
This has been implemented in the deceptively named commit: "add an awx-manage command for re-generating SECRET_KEY". I've successfully used `replicas` to scale up at installation time. https://github.com/ansible/awx/blob/7396e2e7accc2e5db93e95032306cc15e61e1a54/installer/roles/kubernetes/tasks/main.yml#L317

[2020-09-25 15:38] alireza-esmaeeli commented on #8233
Oops! Thank you for your reply, I appreciate it.

[2020-09-25 15:42] AlexSCorey opened #8237 "Fix Kebabified Toolbar Buttons"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On some lists, where we have one off buttons (add, edit) the kebabified buttons do not render properly when advanced search is activated.

Those lists are:

- [x] Inventory Host Groups List

- [x] Inventory Groups Host List

- [x] Inventory Groups Nested Groups List

##### ENVIRONMENT
* AWX version: 14.1
* AWX install method: docker for mac
* Ansible v

[2020-09-25 16:02] nixocio commented on #8184
The issue itself was not on the `CredentialLoookup` component.

 @mabashian helped me, and discovered that when using `CredentialLoookup` with the required prop,  `UseField` hook needs to have the  `validate` argument.  I will update all components using `CredentialLoookup` with the `required` prop.

[2020-09-25 16:09] AlexSCorey opened #8238 "Add Inventory Related Groups List"
##### ISSUE TYPE
 - Feature

##### SUMMARY
Add Inventory -> Groups -> Related Groups

Add the list and tool bar

[2020-09-25 16:11] AlexSCorey opened #8240 "Add Ad Hoc Commands to Inventory Groups -> Related Groups"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
LIke https://github.com/ansible/awx/issues/6603 but for Inventory -> Groups -> Related Groups.

Blocked until https://github.com/ansible/awx/issues/8238 is fixed

[2020-09-25 16:18] nixocio commented on #8199
I added a PR for the issue #8184. I will investigate this one now.

[2020-09-25 16:34] mabashian commented on #5211
Grep'd the codebase for that variable and I didn't find it.  I don't think this is still an issue and will close.

[2020-09-25 16:34] #5211 closed, assigned to nobody

[2020-09-25 16:58] unlikelyzero opened #8241 "If a user advances through a Wizard Add/Edit Mode fast enough, required fields will not be respected."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If a user advances through a Wizard Add/Edit Mode fast enough, required fields will not be respected.

##### ENVIRONMENT
* AWX version: b4d6270eabfe4571733fcaf8ab507fff6918fbc5

##### STEPS TO REPRODUCE
1. Add External Credential lookup to an exiting credential
2. Once the 'External Secret Management System' wizard is open, select a Credential, click '

[2020-09-25 17:14] ryanpetrello commented on #8231
Hey @naveenmykaarma,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-09-25 17:14] #8231 closed, assigned to nobody

[2020-09-25 17:15] blomquisg commented on #8225
Can you include the error you're seeing?

[2020-09-25 17:16] blomquisg commented on #8225
@beeankha could this be similar to the fix you did for pager-duty?

[2020-09-25 17:24] ryanpetrello commented on #8187
@MikelPan if you're still encountering an error, please open a new ticket with the requested details in our issue template (such as the version of software you're using, and reproduction steps).

[2020-09-25 17:24] #8187 closed, assigned to nobody

[2020-09-25 17:32] blomquisg commented on #8117
@thisID try this out on the newest version of AWX and let us know if you have the same problem.

[2020-09-25 17:32] #8117 closed, assigned to nobody

[2020-09-25 17:33] #8095 closed, assigned to nobody

[2020-09-25 17:48] blomquisg commented on #8025
@jbradberry can you see if you can reproduce this?

[2020-09-26 00:52] agilleyrh commented on #8218
With that information, if we could get it written to some kind of log that would suffice and forget the Activity stream piece.

[2020-09-27 19:54] xlesang commented on #4470
I have also the same use case as @strawgate.

Though, I don't think an "import from file" solution would meet my need, because I want it to stay user-friendly and as much "ansible-abstracted" as possible to users, who are not familiar to ansible/git products, and this solution means the user have to be able to create some sort of ansible inventory file (whatever format it would be...ini,yml,json,c

[2020-09-27 20:46] daniego commented on #885
Hi @venu1428 try something like this
[code]

[2020-09-28 08:45] tomsnijkers commented on #5305
I think this issue can be closed. This happened to me couple of times, every time after "upgrade" ( from 11 to 14): I basically just rerun the playbook on a new branch (label). I think instructions could be changed to start with : remove all previous containers :) and not just rerun playbook of the installer

[2020-09-28 09:58] rushtoajay commented on #1764
Need help!

=====

My env.

AWX( Ansible Tower) on Centos 7 with docker. And I'm trying to connect AWX with LDAP. It's finding the user but not alowing it to authenticate.

I was able to run ldapsearch command and it gave to the expected result. But its not accepting the p/w with AWX webgui.

{"log":"2020-09-25 23:15:59,824 DEBUG django_auth_ldap search_s('cn=accounts,dc=XXX,dc=XXX,dc=XXX', 2, '(c

[2020-09-28 12:29] nixocio opened #8244 "Add label `controller` to identify controller instance group"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add label `controller` to identify a controller instance group.

See: https://docs.ansible.com/ansible-tower/3.7.2/html/administration/external_execution_envs.html#ag-clustering-isolated-igs

[2020-09-28 13:39] mabashian commented on #5886
@jakemcdermott do we still need this issue?

[2020-09-28 13:44] shanemcd opened #8245 "Run project updates in Execution Environments"
Solution needs to work on both VM and k8s based installations.

For k8s, I propose an architecture along the lines of:
![Tower 4 0 Pod Topology](https://user-images.githubusercontent.com/773186/94439943-0f064980-016f-11eb-8cb1-d93dc7b67d5c.png)

[2020-09-28 13:48] mabashian commented on #6050
The sidenav now defaults to an open state.  Will that be satisfactory?  Do we still need this issue @unlikelyzero?

[2020-09-28 13:50] mabashian commented on #6070
Looks like the related upstream PR has been merged.  Should we needs_test this or close it? @unlikelyzero

[2020-09-28 13:52] mabashian commented on #6073
I think this is worth looking in to for an initial release.  I do agree that this would be very nice UX behavior.

[2020-09-28 13:52] haribhauhud commented on #8095
No @blomquisg

[2020-09-28 13:53] mabashian commented on #6074
Should we just close this @unlikelyzero?  We won't make ui_next the primary UI until we get the dashboard in place anyway.

[2020-09-28 13:55] mabashian commented on #6073
link https://github.com/ansible/awx/issues/6089 - there's a lot of overlap between these two issues IMO.  We could potentially address both with one set of changes.

[2020-09-28 13:56] mabashian commented on #6089
link https://github.com/ansible/awx/issues/6073

[2020-09-28 14:11] mabashian commented on #6097
Perhaps we should rename the label to `Enabled Options`.  There definitely should not be bullet points in this field.  We don't show bullet points on the JT details view:

<img width="657" alt="Screen Shot 2020-09-28 at 10 11 28 AM" src="https://user-images.githubusercontent.com/9889020/94443304-ff88ff80-0172-11eb-92d9-67309dcae87f.png">

[2020-09-28 14:12] mabashian commented on #6101
This looks different now:

<img width="1382" alt="Screen Shot 2020-09-28 at 10 12 36 AM" src="https://user-images.githubusercontent.com/9889020/94443430-2a735380-0173-11eb-9bb9-745f0f975dc6.png">

[2020-09-28 14:14] mabashian commented on #6103
The Advanced section no longer exists.  Lets re-test this.

[2020-09-28 14:19] dsesami commented on #6089
I'm upping the priority to medium as this feels like it really should be included :)

[2020-09-28 14:39] mabashian commented on #6102
There are probably _many_ text fields that fall into this category

[2020-09-28 14:40] tom0010 opened #8246 "Hide extra vars option in the GUI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Soon as @wenottingham has commented and said
```Password variables aren't sent encrypted, they're just stored encrypted and not retrievable later.```
in https://github.com/ansible/awx/issues/6030.

Would it be possible to potentially put in a toggle or option to hide extra vars from the GUI?

This would mean that when using the API you can pass "enc

[2020-09-28 14:40] mabashian commented on #6162
Moving this too needs_test, feel free to kick back if this is still an issue.

[2020-09-28 14:41] mabashian commented on #6160
See #6189

If we had tables then we could have headers and this would be resolved.

[2020-09-28 14:43] mabashian commented on #6214
I believe this is ready to go - going to move to needs_devel

[2020-09-28 16:54] mabashian opened #8247 "Survey extra vars not shown in prompt preview unless they're password fields"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If you have a JT with a single survey question (in my case it was a single select dropdown), the value for the survey question is not shown in an extra vars section of the preview step.

![survey_preview](https://user-images.githubusercontent.com/9889020/94462361-6a453580-0189-11eb-8c9f-d424e4200b5f.gif)

Here's what it used to look like:

![survey_pre

[2020-09-28 16:54] dsesami commented on #7170
@sshedmake can you verify this has been marked as translated?

[2020-09-28 16:55] mabashian commented on #5689
This has been addressed in the new UI but I found #8247 while confirming.  Will close this out when we get that fixed.

[2020-09-28 16:56] mabashian commented on #8247
After this gets fixed please confirm that https://github.com/ansible/awx/issues/5689 is addressed e2e

[2020-09-28 16:56] mabashian commented on #6300
This too would be addressed if we did #6189

[2020-09-28 16:57] mabashian commented on #6351
I _think_ this will be resolved the next time we upgrade our PF deps

[2020-09-28 16:59] #5305 closed, assigned to nobody

[2020-09-28 17:03] mabashian commented on #6414
http://patternfly-react.surge.sh/components/toggle-group is a thing now (beta).  So I think we can move forward with this issue.  (We may need to upgrade our PF deps to get it, I'm not sure).

[2020-09-28 17:06] mabashian commented on #5775
I'm pretty sure this is no longer an issue - going to close.

[2020-09-28 17:06] #5775 closed, assigned to nobody

[2020-09-28 17:09] mabashian opened #8249 "Add resource name to launch wizard"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When launching a JT/WFJT/etc, it would be nice to display the name of the resource that you're launching in the wizard.  Right now we display: `Prompts`

<img width="1459" alt="Screen Shot 2020-09-28 at 1 09 07 PM" src="https://user-images.githubusercontent.com/9889020/94464002-d032bc80-018b-11eb-8838-4785aacf72e8.png">

[2020-09-28 17:10] mabashian commented on #5764
We'll need to add https://github.com/ansible/awx/issues/8249 before we can verify this.

[2020-09-28 17:15] workingninja commented on #5400
@bandwiches I was able to get past the exact same issue you had (except going from 11.0.0 to 14.1.0) by removing the awx_postgres container and then rerunning the installer.yml playbook. I hope that helps you or someone in the future!

Here's my "upgrade" path:
[code]

[2020-09-28 17:15] mabashian commented on #5629
@jlmitch5 do we still need this issue?  This looks pretty old

[2020-09-28 17:17] mabashian commented on #6440
I'm unclear on whether or not this is still relevant but it seems like it would be ready for dev if it is.

[2020-09-28 17:24] mabashian commented on #6427
Looking through the Formik docs I don't see any debounce flag that we can pass through to the form to let it know not to validate on every character change.  We could explore passing validateOnChange=false to the form and only validating on blur.  I'm not sure if that would have unforeseen consequences for our "custom" form fields like lookups though.

[2020-09-28 17:24] mabashian commented on #6401
@unlikelyzero you think we still need this?

[2020-09-28 17:24] mabashian commented on #6395
@unlikelyzero you think we still need this?

[2020-09-28 17:26] mabashian commented on #6464
@keithjgrant gonna remove you for now - if you do want to jump in on this one feel free to reassign yourself.

[2020-09-28 17:27] #6395 closed, assigned to nobody

[2020-09-28 17:27] #6401 closed, assigned to nobody

[2020-09-28 17:27] mabashian commented on #6510
Linking this with #7692

[2020-09-28 17:51] mabashian commented on #6663
Ah, I see what's going on here.  If you follow all of these steps and try to create a workflow _without_ specifying an org then the API will respond with a 403.  This is because the org field _should_ be required for this user.  I'm going to repurpose this issue to describe that bug.

[2020-09-28 17:53] mabashian commented on #6663
Here's the relevant lines in the old app: https://github.com/ansible/awx/blob/devel/awx/ui/client/src/templates/workflows.form.js#L64-L66

[2020-09-28 17:55] mabashian commented on #6663
The steps to reproduce this can probably be simplified tbh.  All you need is an org admin user.  If you go to the WFJT form and don't specify an org you should see this error.

[2020-09-28 18:11] mabashian commented on #7018
Gonna close this in favor of #8200

[2020-09-28 18:11] #7018 closed, assigned to tiagodread

[2020-09-28 18:14] mabashian commented on #7518
I agree this would be nice but as @AlexSCorey points out I don't think this is possible given the current structure of the API response on this endpoint.

[2020-09-28 18:17] mabashian commented on #7520
link https://github.com/ansible/awx/issues/6462

[2020-09-28 18:17] mabashian commented on #6462
I'm gonna close this in favor of https://github.com/ansible/awx/issues/7520 since it's got a good reproducer

[2020-09-28 18:17] #6462 closed, assigned to nobody

[2020-09-28 18:20] mabashian commented on #7508
Yea this is behavior that comes in as a result of our use of one of the PF components iirc.  I'd have to look to see if it's something we can toggle off.  Maybe they have a reason for focusing rows like this but idk off the top of my head.

[2020-09-28 18:58] mabashian commented on #7548
Skeleton loading

[2020-09-28 18:59] mabashian commented on #7561
This is available via the advanced option now.  Im going to leave this open though in case we still want to do it.

[2020-09-28 19:00] mabashian commented on #7562
Closing in favor of https://github.com/ansible/awx/issues/7822

[2020-09-28 19:00] #7562 closed, assigned to nobody

[2020-09-28 19:01] mabashian commented on #7626
@jlmitch5 you think we still need this?

[2020-09-28 19:11] mabashian commented on #7654
This got fixed somewhere along the way

[2020-09-28 19:13] mabashian commented on #7664
This was completed at some point

[2020-09-28 19:26] mabashian commented on #7690
@jakemcdermott this still in_progress?

[2020-09-28 19:28] mabashian commented on #7706
We should just make the default whatever it is in the old UI so long as it's not `type`

[2020-09-28 19:39] mabashian commented on #7727
We're now simply following the PF pattern for breadcrumbs.  Closing

[2020-09-28 19:43] mabashian commented on #7837
You can achieve this via the advanced search so i'm gonna leave this open but bump the priority down.

[2020-09-28 19:47] AlexSCorey commented on #7691
duplicate. closing in favor of #7691

[2020-09-28 20:05] mabashian commented on #7841
IDK if we really want to do this.  I think this title is misleading... as Alan points out, an auditor _may_ be granted the necessary permissions to delete something.  I think what this issue should say is:

`Hide delete button for user who doesn't have permission to delete anything on the list`

Which is possible on a page my page basis but the user could have permissions to delete something on th

[2020-09-28 20:32] tiagodread opened #8252 "JT tabs changes the items every time that you click on a tab"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

JT tabs items changes the position every time that you click on a tab

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker for mac
* Ansible version:  2.9.11
* Operating System: Catalina
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Navigate to Job templates
2. Navigate through the available tabs

##### EXPECTED RESULTS

The tab

[2020-09-28 20:34] mabashian commented on #5636
If this has been marked do we need to leave it open @unlikelyzero?  This'll stay open for _probably_ months.

[2020-09-28 20:46] mabashian commented on #7995
#6189

[2020-09-28 20:54] mabashian commented on #8088
_Could_ be related to https://github.com/ansible/awx/issues/8194 but probably not... either way someone needs to take a good look at rbac on this form and compare it to the old app.

[2020-09-28 20:56] mabashian commented on #7382
Now that advanced search has landed this may be taken care of.

[2020-09-28 20:58] mabashian commented on #7043
This was added with https://github.com/ansible/awx/pull/7614

[2020-09-28 20:58] #7043 closed, assigned to nobody

[2020-09-28 21:01] mabashian commented on #8176
Swapping needs_devel for needs_info on this one.  I don't think there's a clear solution to this problem.

[2020-09-28 21:04] mabashian commented on #8207
We can fix this.

It was a conscious decision to make this a multi-select thing.  Of course we could go back to individual buttons if needed.

[2020-09-29 06:09] akhiljalagam commented on #3125
This worked for me:
On chrome, I cleared site data in Dev console -> Application and re logged in.
Now CSRF issue fixed.

[2020-09-29 07:10] garamirseokim opened #8255 "[Backport Request] Ansible2.9 nmcli: TypeError: argument of type 'int' is not iterable"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The issue(ansible-collections/community.general/issues/472/) has been fixed upstream as below links and we can use collections for the issue.
However, our customer can't use the collections due to their system limitation. Therefore I would like to open the backporting request to use this fix with 2.9.x release.

Upstream issue:
https://github.com/an

[2020-09-29 07:49] venu1428 commented on #8225
Hi @blomquisg for below it was working
{
    "@type": "MessageCard",
    "@context": "https://schema.org/extensions",
    "summary": "Workflow approval node got Approved: {{ approval_node_name }}",
    "title": "Workflow approval node got Approved: {{ approval_node_name }}",
    "themeColor": "008000",
}
but when I put any action payload the things are not replicated.like above potential action on

[2020-09-29 07:54] venu1428 commented on #885
Hey @daniego thank you for the responce
I have tried this one it is working fine upto this.But I am unable to get the notification of action or potential action case.
like when I put
{
    "@type": "MessageCard",
    "@context": "https://schema.org/extensions",
    "summary": "Workflow approval node got Approved: {{ approval_node_name }}",
    "title": "Workflow approval node got Approved: {{ appr

[2020-09-29 08:45] nesanton opened #8256 "project_sync module in the collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Would a module for project_sync (and maybe inventory_source_sync) be a good idea? It does not seem to be possible with the tower_project module. Or am I missing something? I see how triggering a workflow that has project sync step in it may be a solution. But I feel like there can be use for the module e.g. for SCM CI jobs etc.

We can make it sort

[2020-09-29 08:54] Emusp opened #8257 "Using collections from a private git repo fails."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm trying to get my playbook to use a collection from our company gitlab server.
Following the documentation on https://docs.ansible.com/ansible/latest/user_guide/collections_using.html#installing-a-collection-from-a-git-repository

Created collections/requirements.yml file with.
[code]

When I try to sync the project in AWX, I get the following error

[2020-09-29 09:03] nesanton commented on #8157
The PR addresses it indeed: The options are now taken from the direct params.
But plugin still cannot fallback to environment vars or tower_cli config, like modules do. Can this be added cheaply?

[2020-09-29 09:47] timothyanderson82 opened #8258 "Working Loader prevents interaction with UI"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
The "Working Loader" continuosly interupts interactions with the UI. currently we havea round 270 templates and 56 schedules. Alot of the schedules run every minute. without even interacting with the UI the Working Loader will show and prevent interaction with the UI. Often you will need to click a Template about 3 times t

[2020-09-29 09:57] sshedmake commented on #7170
@dsesami , yep verified that, the said strings have been now marked as translatable strings.

Here's how:

1. Screenshot showing said strings with dummy Japanese translation (with Japanese google-chrome)

![7170_prompts-modal_footer-butons_now_marked_2](https://user-images.githubusercontent.com/12151785/94543343-933bf800-0267-11eb-9117-466c56a735cb.gif)

[2020-09-29 13:17] ryanpetrello commented on #8258
Hey @WireFuCo - we've made a number of changes in more modern versions of AWX (the version you're running is a year and a half old now) that help address this issue - please give those a try and let us know if you're still seeing issues.

[2020-09-29 13:17] #8258 closed, assigned to nobody

[2020-09-29 13:18] AlanCoding commented on #8157
The config file is how we test these in integration tests like:

https://github.com/ansible/awx/blob/56c5a39087fdee71227e7f2c022d086fd4e47efa/awx_collection/tests/integration/targets/tower_lookup_api_plugin/tasks/main.yml#L53

Are you sure that the config file is not working right now? Do you have other env vars or something taking higher precedence?

[2020-09-29 13:27] john-westcott-iv commented on #8157
Are your config files on the tower control node? A plugin is executed there instead of on a target node.

[2020-09-29 15:47] therealrobopablo commented on #7253
I've tried upgrading to v13 and it's still occurring. Haven't tried 14 yet but since this is still open. It does seem to be tied to using an external DB with 2 nodes pointing at it. running it as a single node or in the contained DB is ok.

[2020-09-29 15:48] AlexSCorey opened #8261 "Support Add Functionality For Inventory Related Group"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See Inventory -> Group -> Host -> Add
blocked by #8238

[2020-09-29 15:50] AlexSCorey opened #8262 "Add Support for Inventory Related Group Disassociate functionality."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See Inventory -> Group -> Host -> Disassociate for an example
Blocked by #8238

[2020-09-29 16:04] uvu9Ba opened #8264 "(K8s) Add resource request values for Postgres Helm Chart"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently it is only possible to set resource limits for Postgres. It should also be possible to increase the default resource requests via variable e.g. `pg_cpu_request` & `pg_mem_request`.

https://github.com/ansible/awx/blob/devel/installer/roles/kubernetes/templates/postgresql-values.yml.j2

[code]

[2020-09-29 16:10] uvu9Ba opened #8266 "(K8s) Update of Postgres Helm values after initial setup"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently it is not possible to update postgres values via `install.yml` after initial setup. The Helm task will be skipped after the initial setup.

https://github.com/ansible/awx/blob/devel/installer/roles/kubernetes/tasks/main.yml#L121

[code]

[code]

[2020-09-29 16:25] uvu9Ba commented on #8266
@shanemcd is this when condition for the helm task needed to prevent unattended Postgres updates?

[2020-09-29 17:12] AlanCoding commented on #8257
Installing collections from git repos was introduced in Ansible 2.10 https://github.com/ansible/ansible/pull/69154

[2020-09-29 17:12] #8257 closed, assigned to nobody

[2020-09-29 17:18] AlanCoding commented on #7839
I don't see any solution for the changelog on the horizon. If done, it should absolutely be driven by AWX changelog itself, if not, then this gets closed, as a won't-fix. @ryanpetrello in case you have any further triage decision.

[2020-09-29 17:20] AlanCoding commented on #8256
Let me see if I can link the right things:

Inventory source updating was introduced to `devel` branch 21 days ago https://github.com/ansible/awx/pull/8033

Ad hoc command modules were merged about 2 hours ago https://github.com/ansible/awx/pull/8228

Project update https://github.com/ansible/awx/pull/7873

[2020-09-29 17:20] #8256 closed, assigned to nobody

[2020-09-29 18:02] rebeccahhh commented on #7377
@beeankha and I have looked at this and think this PR has resolved it: https://github.com/ansible/awx/pull/8072
The playbook linked has passed and we didn't have any of the failures.

[2020-09-29 18:12] dsesami opened #8268 "Error is incorrect for missing org in Notification Templates."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Form error handling isn't quite correct for organizations within notification templates. It is either missing, or uncolored text.

##### STEPS TO REPRODUCE
1. To get the first bug, simply go to Notifications > Add. Then click Save without filling out the required fields. All the required fields will go red and show red error text, but the Organization

[2020-09-29 18:28] #7377 closed, assigned to squidboylan, rebeccahhh

[2020-09-29 18:49] dsesami commented on #8215
I've verified that this works in the legacy UI successfully. @tiagodread is free to close this out after https://github.com/ansible/awx/pull/8186 is verified and merged.

[2020-09-29 18:54] dsesami opened #8269 "make ui-devel-next should overwrite .po files"
#7796### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, the `make ui-devel-next` command creates `.po` files/compiled strings if there aren't already files in place. Running the command twice does not overwrite the files, so you have to run a git restore or reset before you run the `make` command again. This issue is about having the `.po` files overwritten and refreshed every time this comm

[2020-09-29 19:29] dsesami commented on #7410
This looks great, is stubbed intrinsically as it isn't adding anything we haven't already specified, and will be closed by #8229

[2020-09-29 19:49] dsesami commented on #7680
Fixed by #8041. Stubbed in inventory-crud.spec

[2020-09-29 19:51] mabashian commented on #5651
@unlikelyzero what's the status of this issue?  I see #7867 has merged.  Is this issue just meant for tracking automated testing?

[2020-09-29 19:53] mabashian commented on #7955
@nixocio is this issue still valid?  I see that #8070 has merged.  Should this be closed?

[2020-09-29 19:53] #7410 closed, assigned to nixocio

[2020-09-29 20:07] #7680 closed, assigned to mabashian, dsesami

[2020-09-29 20:17] nesanton commented on #8157
Indeed, I messed up my config while trying to make it work before the #8159.
Config works!

Yet, I cannot make it work with environment, which goes smooth for `tower_project` task in the same playbook

So, with empty config:

[code]

[2020-09-29 20:20] #6966 closed, assigned to one-t

[2020-09-29 20:23] nixocio commented on #7955
@mabashian, @dsesami verified this one. Can we close this one @dsesami?

[2020-09-29 23:35] unlikelyzero commented on #5651
@mabashian this was once a note in the kanban board. This is tracking #7867 and can be closed

[2020-09-29 23:35] #5651 closed, assigned to keithjgrant

[2020-09-30 03:42] zigford opened #8270 "awx.awx.tower_settings returns changed, but no change is applied"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Simple task:
[code]
returns changed, but debugging with `-vvv` shows unchanged:

[code]

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker on linux
* Ansible version:  2.10.0
* Operating System: Gentoo
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Setup AWX and get LDAP working manually via the Web interface to confirm settings.

[2020-09-30 05:12] alexseys opened #8271 "VMWare Source does not see templates"
##### ISSUE TYPE
- General Inquiry

##### COMPONENT NAME
 - UI

##### SUMMARY
Have a playbook that updates templates os patches
works just fine via ansible cli
but none of templates are shown by vmware vcenter source

##### ENVIRONMENT
* AWX version: 14.1
* AWX install method:  docker on linux
* Ansible version:  AWX 14.1.0
* Operating System: Ubuntu 18
* Web Browser: Firefox

##### STEPS TO REPRO

[2020-09-30 07:24] nesanton commented on #8256
What a great summary indeed! Thanks

[2020-09-30 08:50] Jvekka commented on #5400
I had same problem when going from 13.0.0 to 14.0.0 and @workingninja suggestion did work.
Just removed the awx_postgres container and did run install.yml again.

[2020-09-30 12:45] tiagodread commented on #8252
PR already merged 👍🏽

[2020-09-30 12:45] #8252 closed, assigned to mabashian

[2020-09-30 13:27] unlikelyzero commented on #5636
It's been marked, so I'll move this ticket to closed and we can create a more comprehensive plan here https://github.com/ansible/tower/issues/4585

[2020-09-30 13:27] #5636 closed, assigned to rooftopcellist, marshmalien

[2020-09-30 13:45] john-westcott-iv commented on #8157
This is going to be related to how the environment and ansible work.

From https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html: `You can use the environment keyword at the play, block, or task level to set an environment variable for an action on a remote host`.

From https://docs.ansible.com/ansible/latest/plugins/lookup.html: `Like all templating, lookups execute and ar

[2020-09-30 13:50] unlikelyzero commented on #8200
Note: we will need to add this to our coverage

[2020-09-30 14:06] mabashian commented on #6866
Some notes:

1) Here's a link to the helper we used to "generate" the message shown in the activity stream list: https://github.com/ansible/awx/blob/devel/awx/ui/client/src/activity-stream/factories/build-description.factory.js
2) Here are all of the current options in the AS dropdown:
<img width="326" alt="Screen Shot 2020-09-30 at 9 54 20 AM" src="https://user-images.githubusercontent.com/988902

[2020-09-30 14:06] shanemcd commented on #8266
Historically, we have just skipped the process of re-running this command if a database already exists.

You are free to send a patch, but just a heads up - we're working on https://github.com/ansible/awx-operator, which will become the new way to deploy AWX on k8s when we decide it's ready for primetime.

[2020-09-30 14:07] mabashian commented on #6866
We might get this for free with Advanced Search but if possible we should try to roll this in: https://github.com/ansible/awx/issues/7230

[2020-09-30 14:24] jakemcdermott opened #8272 "Handle session expiration and tabbed session state on login page"
* When user is automatically logged out for being idle, show a message on the logout page so they know what happened
* When user logs in on one tab, transition from login page to home on the others

[2020-09-30 14:28] jakemcdermott commented on #4205
re: Login page behavior (showing a message for for idle logouts, etc: https://github.com/ansible/awx/issues/4205#issuecomment-483348031)

I've made a separate issue for this because I'd like to handle it separately and in a follow-up PR: https://github.com/ansible/awx/issues/8272

[2020-09-30 14:39] mabashian opened #8273 "Add Workflow Approvals to ui_next"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
_Intentionally leaving this blank as I explore options for this_

[2020-09-30 14:40] jakemcdermott commented on #5886
nope - closing for now

[2020-09-30 14:40] #5886 closed, assigned to jakemcdermott

[2020-09-30 14:41] mabashian commented on #7015
Moving this to blocked while waiting for prompt on launch refactors

[2020-09-30 14:43] mabashian commented on #7015
A good portion of this work is already completed here: https://github.com/mabashian/awx/tree/7015-prompt-cred-passwords but this branch includes passwords with the credential step.  If we want to split them out into 2 steps then this will need to be refactored (in addition to refactoring after POL changes).

[2020-09-30 14:43] #6616 closed, assigned to mabashian

[2020-09-30 14:44] #6703 closed, assigned to mabashian

[2020-09-30 14:56] #6103 closed, assigned to nobody

[2020-09-30 14:57] #6101 closed, assigned to nobody

[2020-09-30 14:58] unlikelyzero commented on #6074
@mabashian since the plan is to have a dashboard on the first iteration, this can be closed

[2020-09-30 14:58] #6074 closed, assigned to nobody

[2020-09-30 15:02] unlikelyzero commented on #6070
No longer an issue and we have coverage for this page in organizations-tabs.spec.js

[2020-09-30 15:02] #6070 closed, assigned to nobody

[2020-09-30 15:03] dsesami commented on #8184
This will be closed after stubs are added. #8239 has been marked for merge.

[2020-09-30 15:04] unlikelyzero commented on #6050
@mabashian I think so. I'll close this for now but ask this in our next bug bash (where this was originally filed)

[2020-09-30 15:04] #6050 closed, assigned to nobody

[2020-09-30 15:12] tchellomello opened #8275 "Tower has no ability to allow permissions to a group of Tower objects within an organization"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Creating a team, and then trying to add permissions, like as "Job Templates", "Workflow Templates", "Projects", "Inventories", "Credentials" and "Organizations" currently meet part of the ideal RBAC environment.

The requirement would be to create a group or collection of Tower objects (i.e. inventories, templates, credentials, projects) so it could

[2020-09-30 15:30] mabashian opened #8276 "Make org a required field for galaxy credentials"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1429" alt="Screen Shot 2020-09-30 at 11 29 07 AM" src="https://user-images.githubusercontent.com/9889020/94706492-4102e180-0310-11eb-904f-68234cee0489.png">

Ideally we don't want to see this error in the UI

[2020-09-30 15:37] dsesami commented on #8184
stubs are in `inventories/inventory-sources.spec`.

[2020-09-30 15:37] #8184 closed, assigned to nixocio

[2020-09-30 15:46] pasta88 opened #8278 "Add git-lfs to the awx_task container"
I think it would be good idea to add git-lfs package into awx_task container. I believe some users use it.

[2020-09-30 15:57] dsesami commented on #8199
It turns out that https://github.com/ansible/awx/pull/8239 fixed this as a side effect. This resolves the issue there. stubs will be included in `instance-groups/container-group-operations.spec`.

[2020-09-30 16:09] mabashian commented on #7835
@unlikelyzero should have a PR up today.  Rebase has been a bit messy.

[2020-09-30 17:41] nixocio commented on #8199
Thanks for looking into this issue @dsesami, even though it was already fixed as a side effect of the #8239. I will update the `ContainerGroupDetails` code to be a bit more robust.

[2020-09-30 18:05] dsesami commented on #8199
this can be reclosed with the merge of #8280

[2020-09-30 18:31] beeankha commented on #6875
@Tompage1994 this problem _should_ be resolved with the addition of the `tower_project_update` module.  If you add a new task like:
[code]
... then the project should successfully update with all changes made, and the associated job template should be able to access those changes as well.  Without the use of this `tower_project_update` module, then the job template will not be able to access the c

[2020-09-30 19:00] #8199 closed, assigned to nixocio

[2020-09-30 19:55] dsesami opened #8283 "Inventory helper is misaligned on JT form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When making a new JT, if you are missing an inventory, the error is to the right of the element, rather than below it.
![Screenshot from 2020-09-30 15-53-15](https://user-images.githubusercontent.com/19942822/94733067-33138780-0335-11eb-96f9-ad35885dacf2.png)

Make a new JT, and try to click save without filling in any fields to see this error.

[2020-09-30 20:09] marshmalien opened #8284 "[ui-next] Edit settings"
Tracking issue for adding the Edit view to all setting views.

##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockup: https://tower-mockups.testing.ansible.com/patternfly/settings/settings/

**REVERT**

* Revert - Allows you to revert any value entered back to the default value
* Revert all to default - Allows you to revert all the values in the Edit Tower Configuration to their factory default v

[2020-09-30 20:13] dsesami opened #8285 "Survey prompting is broken"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Survey prompt on launch for job templates simply does not work. There are a handful of issues:
1. Defaults are not shown in the prompting modal.
2. You cannot actually select an item if it is a multiple-choice survey question. This should be checked across all survey types.

##### STEPS TO REPRODUCE
Add a survey to a job template. The prompt on launch

[2020-09-30 20:19] dsesami commented on #8285
closing as this is going to be part of https://github.com/ansible/awx/pull/8235#pullrequestreview-499779903 and is unique to that branch.

[2020-09-30 20:19] #8285 closed, assigned to nobody

[2020-09-30 20:20] marshmalien opened #8286 "AzureAD settings form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/azure/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

#### Fields
  * Azure AD OAuth2 Callback URL
	  * Read-only
	  * Depends on `TOWER_URL_BASE`
	  * No revert
  * Azure AD OAuth2 Key
	  * Text field
  * Azure AD OAuth2 Secret
	  * Encrypted
  * Azure AD OAuth2 Organization Map
	  * CodeMir

[2020-09-30 20:24] marshmalien opened #8287 "Activity stream settings form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/activity_stream/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

##### ISSUE TYPE
 - Feature Idea

#### Fields
  * Enable Activity Stream
	  * Toggle
	  * Required
  * Enable Activity Stream for Inventory Sync
	  * Toggle
	  * Required
  * Action Buttons
	  * Save
	  * Cancel
	  * Revert all

[2020-09-30 20:28] marshmalien opened #8288 "Github [Default, Org, Team] settings form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/github/:category/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

##### ISSUE TYPE
 - Feature Idea

#### Github Default
  * GitHub OAuth2 Callback URL
  	* Read-only
	* Depends on `TOWER_URL_BASE`
	* No revert
  * GitHub OAuth2 Key
	  * Text
  * GitHub OAuth2 Secret
	  * Encrypted
  * GitHub O

[2020-09-30 20:31] marshmalien opened #8289 "Google OAuth 2.0 settings form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/google_oauth2/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

##### ISSUE TYPE
 - Feature Idea

#### Fields
  * Google OAuth2 Callback URL
	* Read-only
	* Depends on `TOWER_URL_BASE`
	* No revert
  * Google OAuth2 Key
	  * Text
  * Google OAuth2 Secret
	  * Encrypted
  * Google OAuth2 Allowed

[2020-09-30 20:41] marshmalien opened #8290 "Jobs settings form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/jobs/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

##### ISSUE TYPE
 - Feature Idea

#### Fields
  * Job execution path
	  * Required
	  * Text
  * Maximum Scheduled Jobs
	  * Required
	  * Integer
  * Enable job isolation
	  * Required
	  * Toggle
  * Default Job Timeout
	  * Integer
	  *

[2020-09-30 20:48] marshmalien opened #8291 "LDAP [Default, 1-5] settings form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/ldap/:category/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

##### ISSUE TYPE
 - Feature Idea

#### LDAP Default
  * LDAP Server URI
	  * Text
  * LDAP Bind DN
	  * Text
  * LDAP Bind Password
	  * Encrypted
  * LDAP User DN Template
	  * Text
  * LDAP Group Type
	  * Group
  * LDAP Require

[2020-09-30 21:05] marshmalien opened #8292 "Logging system form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/logging/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

##### ISSUE TYPE
 - Feature Idea

#### Fields
  * Logging aggregator
	  * Text
  * Logging aggregator port
	  * Text
  * Logging aggregator type
	  * Select
  * Logging aggregator username
	  * Text
  * Logging aggregator password/token

[2020-09-30 21:13] marshmalien opened #8293 "Misc. system settings form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/miscellaneous_system/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

##### ISSUE TYPE
 - Feature Idea

#### Fields
  * Base URL of the Tower host
	  * Required
	  * URL Text field
  * All Users Visible to Organization Admins
	  * Required
	  * Toggle
  * Organization Admins Can Manage Users a

[2020-09-30 21:16] marshmalien opened #8294 "RADIUS settings form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/radius/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

##### ISSUE TYPE
 - Feature Idea

#### Fields
  * Radius Server
	  * Text
  * Radius Port
	  * Integer
	  * Default: 1812
  * Radius Secret
	  * Encrypted
  * Action Buttons
	  * Save
	  * Cancel
	  * Revert all

<img width="928" alt="Scr

[2020-09-30 21:19] marshmalien opened #8295 "SAML settings form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/saml/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

##### ISSUE TYPE
 - Feature Idea

#### Fields
  * SAML Assertion Consumer Service (ACS) URL
	* Read-only
	* Depends on `TOWER_URL_BASE`
	* No revert
  * SAML Service Provider Metadata URL
	* Read-only
	* Depends on `TOWER_URL_BASE`
	* No re

[2020-09-30 21:22] marshmalien opened #8296 "TACACS+ settings form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/tacacs/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

##### ISSUE TYPE
 - Feature Idea

#### Fields
  * TACACS+ Server
	* Text
  * TACACS+ Port
	  * Text
  * TACACS+ Secret
	  * Encrypted
  * TACACS+ Auth Session Timeout
	  * Integer
  * TACACS+ Authentication Protocol
	  * Select
  * Action

[2020-09-30 21:26] marshmalien opened #8297 "UI settings form"
##### ISSUE TYPE
 - Feature Idea

URL: `/next/settings/ui/edit`

* Help text should be displayed in the form field popover
* Handle errors
* Internalization

##### ISSUE TYPE
 - Feature Idea

#### Fields
  * User analytics tracking state
	  * Select
	  * Disabled for open source awx license
	  * Select options
		  * off
		  * anonymous
		  * detailed
  * Custom logo
	  * [File upload](https://www.

[2020-09-30 23:56] garamirseokim commented on #8255
I opened this Backport Request by mistake here, so close this issue accordingly and opened new Backport Request at correct place(community.general).
https://github.com/ansible-collections/community.general/issues/1023

[2020-09-30 23:56] #8255 closed, assigned to nobody

[2020-10-01 02:22] jcomito commented on #445
+1 for wanting to be able to remove per-job or per-org.

Anyone know of a way to do this currently?

[2020-10-01 03:05] jakemcdermott commented on #8154
Hi. I've opened a PR to fix this issue: https://github.com/ansible/awx/pull/8299

I've confirmed that this bug isn't specific to Azure AD. It's reproducible for any oauth provider (at least the ones I tried).

For those testing and verifying this issue, I recommend creating a github application to parametrize your social auth settings as it's simpler than azure:
* go to settings ->developer settin

[2020-10-01 03:14] jakemcdermott commented on #8154
Hi. I've opened a PR to fix this issue: https://github.com/ansible/awx/pull/8299

I've confirmed that this bug isn't specific to Azure AD. It's likely reproducible for any oauth provider.

For those testing and verifying this issue, I recommend creating a github application to parametrize your social auth settings. It's simpler than azure so it's a great way to make sure you have the bug reproduct

[2020-10-01 04:07] timdenholm commented on #20
+1

[2020-10-01 04:55] wenottingham commented on #7841
I'm not sure I'd want to hide it in a scenario like this. Only on an individual object.

[2020-10-01 05:09] wenottingham commented on #8246
Anything stored as 'encrypted' in the database will be shown as `$encrypted$` in the extra vars screen.

[2020-10-01 06:31] nats opened #8300 "docker-compose install: awx_task does not wait for aws_postgres to finish one-time initialization (race condition)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When provisioning AWX with docker-compose, the awx_task container can start executing database migrations as soon as aws_postgres is "up".  On fast hardware, migrations can start before the aws_postgres container is completely "ready" (finished first-time initialization). The result is that the DB migrations terminate in a way that makes subsequent res

[2020-10-01 09:00] Warkdev opened #8301 "Allow creation of System Jobs through the UI/API"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hello, I came around an interesting use case that we've in our environment. We're extensively using a custom Ansible Module to interact with our appliances. This module is being updated regularly and is core of all deployments. We're using Tower to update this module (with a simple playbook) and we'd like to have this job executed only when no other

[2020-10-01 09:00] tom0010 commented on #8246
@wenottingham that is fine, I'm not asking to show the extra vars screen. I'm actually asking for quite the opposite, for us to have an option to not show the extra vars screen to any/all users in the GUI just before we execute the playbook. Whether that be a toggle in GUI or an option in the API payload or something else.
**For example:**
`display_extra_vars: true`
`display_extra_vars: false`

[2020-10-01 09:23] bouhlry commented on #4197
same pb here, it lack injection of the region in the  openstack.yml
cf #5080

[2020-10-01 09:53] nesanton commented on #8157
Thanks @john-westcott-iv, it makes perfect sense now!
Hope this helps other confused souls like mine ;)

[2020-10-01 13:16] dsesami commented on #6162
This has been established for a while and was implemented a few months back. thanks for the update.

[2020-10-01 13:16] #6162 closed, assigned to dsesami

[2020-10-01 13:47] kdelee commented on #7715
@wenottinghamth sounds like this is a WONTFIX. Nothing to test, going to close.

[2020-10-01 13:47] #7715 closed, assigned to nobody

[2020-10-01 14:02] nixocio opened #8303 "Job output scroll next raises an error when no data available"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Job output scroll next raises an error.

##### STEPS TO REPRODUCE
1. Launch a Job
2. Go to Job output
3. Before the job output is added click to `scroll next`.

<img width="1444" alt="image" src="https://user-images.githubusercontent.com/9053044/94818958-b3d19280-03cc-11eb-891d-891b48e6a807.png">

4 - The following error will be displayed.

<img width=

[2020-10-01 15:27] bcavns01 commented on #286
One partial work around to this is to create custom credentials and then shim the path into ansible_ssh_private_key.  It's extremely unpleasant, and it does not scale, but this is what it looks like:
In AWX, you create a custom credential that will accept your key value and set an env with the path:

Input cofiguration
[code]
Injector configuration:
[code]
Then you create a credential of that type

[2020-10-01 15:29] bcavns01 commented on #286
One partial work around to this is to create custom credentials and then shim the path into ansible_ssh_private_key.  It's extremely unpleasant, and it does not scale, but this is what it looks like:
In AWX, you create a custom credential that will accept your key value and set an env with the path:

Input cofiguration
[code]
Injector configuration:
[code]
Then you create a credential of that type

[2020-10-01 15:32] nixocio commented on #7886
I will also update the list to display organizations.

[2020-10-01 15:58] jakemcdermott commented on #8137
Hello,

It depends on the job template. To copy a job template, you need to have sufficient permissions to create a new job template with _all_ of the related fields currently on that job template. This means that insufficient permissions on a related item (e.g its project or one of its credentials) could could make it so you can't copy that job template.

Check that you can create / edit all of t

[2020-10-01 15:58] #8137 closed, assigned to jakemcdermott

[2020-10-01 19:21] mabashian opened #8305 "500 error when attempting to delete workflow approval"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![delete_wf_approval](https://user-images.githubusercontent.com/9889020/94853438-67e91280-03f9-11eb-9233-63c15e611f70.gif)

I haven't tried this with a pending workflow approval but I suspect it would yield the same result.

We don't have an interface that interacts with this endpoint in the UI so maybe this has been around for a while?

I'm exploring

[2020-10-01 20:06] mabashian commented on #8305
Here's the full traceback from the log:

[code]

[2020-10-01 20:38] one-t commented on #8202
Confirmed that this is now working as expected in devel.

[2020-10-01 20:38] #8202 closed, assigned to ryanpetrello, one-t

[2020-10-01 21:09] tiagodread commented on #8183
Tests in place 👍🏽

[2020-10-01 21:09] #8183 closed, assigned to marshmalien

[2020-10-01 21:12] tiagodread commented on #8215
#8186 verified and merged, we can close this out.

[2020-10-01 21:12] #8215 closed, assigned to ryanpetrello, tiagodread, dsesami

[2020-10-01 22:17] ryanpetrello commented on #6875
@rebeccahhh @squidboylan @beeankha @john-westcott-iv is there any work to do here, or is @beeankha's suggestion enough?  What's the status of this one?

[2020-10-02 00:12] #8305 closed, assigned to ryanpetrello

[2020-10-02 01:40] AlanCoding commented on #6875
The `tower_project` module doesn't fully gracefully handle the auto-update scenario where someone changes, say, `scm_url`. A lot of what I was saying was directed to that scenario.

But closer reading of this shows:

The problem here isn't that an update wasn't being waited for, it's that an update wasn't done to begin with. The canonical solution is what @beeankha gave.

Given that no one has com

[2020-10-02 01:40] #6875 closed, assigned to squidboylan, rebeccahhh, beeankha

[2020-10-02 02:38] wenottingham commented on #8246
Yes, but I'm not sure what this would accomplish. Your description of "This would mean that when using the API you can pass "encrypted" or "secret" values and the people whom have access from the GUI would not be able to see them" doesn't make sense - anything that's a password type (in a survey) isn't visible to the UI.

[2020-10-02 02:47] wenottingham commented on #8301
If you want to launch existing system jobs, they're available via /api/v2/system_job_templates.

If you want to create a new system job template definition via the API... you can't. The system isn't extensible in that way.

[2020-10-02 02:47] #8301 closed, assigned to nobody

[2020-10-02 10:43] christian-steinmeyer opened #8310 "Allow (full) extra variable access in custom notification messages"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I have a template that is configured to be triggered via (Gitlab) webhook. In the job overview, it's possible to inspect the **EXTRA VARIABLES**, that contain `tower_webhook_payload` (among others). I would like to access this information in a custom notification. I would like to be able to access the information through any of these suggestions:

[

[2020-10-02 11:32] AlekseiSaff commented on #3419
We are using inventory in LDAP and custom script for inventory. Also missing this module in the AWX docker image. It looks like it's not possible to use virtualenv for Invenroty population script.

[2020-10-02 13:25] larrybg opened #8311 "Inventory source host_filters fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We're upgrading an old AWX version 4.0 to the latest available at this moment 14.1.
This inventory source filter works in the old version but fails in the new AWX:
`host_filters: ["{{ config.name != 'host02' }}","{{ config.name != 'host03' }}","{{ config.name != 'host04' }}"]`

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker on lin

[2020-10-02 13:37] kdelee commented on #6119
One of our downstream tests was skipping because of this bug, but is now running and passing. Going to close as verified by this automated test passing.

[2020-10-02 13:37] #6119 closed, assigned to kdelee, masbahnana

[2020-10-02 13:54] masbahnana commented on #8071
I configured the demo job template with the schedule to run 5 times, all 5 times jobs are launched. This bug looks like fixed.

[2020-10-02 13:54] #8071 closed, assigned to ryanpetrello, masbahnana

[2020-10-02 14:49] masbahnana commented on #7402
1) Created slack notification
2) Created Job template with a playbook that takes 30 seconds and a time out of 5 seconds (so it would fail with timeout)
3) Created schedule to launch job every minute
4) Associated notification w/ job and enabled it for failures (to get notification when jobs failed)
5) Waited and observed that job did lauch, failed, and I got notification

[2020-10-02 14:49] #7402 closed, assigned to beeankha, masbahnana

[2020-10-02 16:53] ryanpetrello commented on #7622
@joeywashburn any chance you could share the output of `/api/v2/settings/ldap/` with us?

[2020-10-02 17:14] blomquisg commented on #8271
@goneri can you look at this and see if this is working as designed or something that's actually broken.

/cc @AlanCoding

[2020-10-02 17:19] blomquisg commented on #8311
@larrybg Can you try AWX 15?  We believe this is changed in 15.

[2020-10-02 17:22] wenottingham commented on #8310
We explicitly whitelist these due to a) sensitive values b) size considerations. I don't know that allowing the full objects makes sense here.

[2020-10-02 18:07] ryanpetrello commented on #7447
Is this a regression from the old unofficial Tower CLI tool?  If that tooling supported this, then I think this is a regression, and we should support it too.

[2020-10-02 18:09] wenottingham commented on #7443
Please try AWX 15.0 - we change how inventory is configured in that release and we think you should be able to accomplish what you need there.

[2020-10-02 18:09] #7443 closed, assigned to nobody

[2020-10-02 18:11] ryanpetrello commented on #7400
`批量安装jdk项目`

[2020-10-02 18:16] wenottingham commented on #7052
We changed how this is configured in 15.0 - please try that release.

[2020-10-02 18:22] ryanpetrello commented on #7400
@thisID good find - mind giving this PR a try?

https://github.com/ansible/awx/pull/8313

[2020-10-02 18:30] ryanpetrello commented on #7447
Looks to me like the old `tower-cli` tool exports the actual hosts (and groups) from the inventory:

[code]

So I'd classify this current issue report as a bug.

cc @elyezer

[2020-10-02 19:27] AlanCoding commented on #8271
Could we get some information about the Ansible version you're using? And if you're using the collection in your local testing, what version of the VMWare collection are you using?

[2020-10-02 19:33] larrybg commented on #8311
Do I have to deploy everything from scratch or there is an upgrade path from 14.1.0 to 15?

[2020-10-02 20:24] beeankha commented on #8270
On a 14.1.0 version of AWX I've run a playbook containing the following:

[code]
and the output I get for that second task (my attempt to change the `AUTH_LDAP_SERVER_URI` using the `tower_settings` module) is:
[code]
which shows that the results do indeed change, and the UI displays the following:

<img width="982" alt="Screen Shot 2020-10-02 at 4 21 13 PM" src="https://user-images.githubusercont

[2020-10-02 20:43] tiagodread commented on #8044
Test covered by 5587 👍🏽

[2020-10-02 20:43] #8044 closed, assigned to tiagodread, marshmalien

[2020-10-03 07:44] christian-steinmeyer commented on #8310
Thanks for the reply. When you say "we explicitly whitelist these", do you mean you whitelist the **extra variables** in the job (but nowhere else) or something else? Do you mean "whitelist" as in explicitly make available? And do you mean the **extra variables** by "these"?

I don't quite follow why sensitive values could be a problem. Do you think there are use cases in which the person that cus

[2020-10-03 16:36] tobgen opened #8316 "Missing "Select"-button when trying to add GitLab/GitHub credentials to webhook service"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
No "Select" button when selecting a GitLab/GitHub PAT for a template using webhooks.

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.13
* Operating System: CentOS 7.8

##### STEPS TO REPRODUCE

Create GitLab PAT credentials
Create a Template and enable webhooks
Select GitLab as wehbook service
Add

[2020-10-03 19:06] alexseys commented on #8271
Thank you very much for getting to this!

$ ansible --version
ansible 2.9.2
  config file = /ansible/ansible.cfg
  configured module search path = ['/home/username/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.6/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.6.8 (default, Apr  2

[2020-10-03 19:37] tobgen commented on #8316
Dupe of #7892, sorry about that.

[2020-10-03 19:37] #8316 closed, assigned to nobody

[2020-10-03 19:39] tobgen commented on #7892
Version 14.1.0 and 15.0.0 is affected by this as well.

[2020-10-03 22:26] DejfCold commented on #7892
@tobgen The change was merged the day (1 oct) after the tag was created (30 sept) - #8304

[2020-10-03 23:08] sbaerlocher commented on #6270
I would support it very much, as already mentioned by @geerlingguy if it would be possible to put a requirements.yml with roles and collections in root directory.

If it is desired I would create a PR.

[2020-10-04 01:35] sean-m-sullivan commented on #8270
I've also tested this using multiple versions of Awx and tower, 14.1.0, 15.0, 3.7.2, and both awx.awx 14.10, 15.0.0, and devel,
[code]
Is the result I get everytime, and checking the web interface it says the same.

[2020-10-04 05:46] amg-web opened #8317 "Telegram notifications from AWX"
- Feature Idea
Please add Telegram Notifications to AWX

Now available in AWX 15.0:
email, Grafana, IRC, Mettermost, Pagerduty, Rocket.chat, Slack, Twilio, webhook

[2020-10-04 11:59] dkraklan commented on #1485
Is this implemented now? I'm struggling to find the documentation on setting this up? Specifically setting it up when I already have AWX installed.

[2020-10-04 14:33] vguillard commented on #5080
Hello all,

I did some changes in code and it works :

In the UI:
![image](https://user-images.githubusercontent.com/1917213/95018244-bd722900-065e-11eb-9d05-d8bc6ad0a717.png)

File generated:
[code]

But I don't know how to submit my changes :'(
And I don't know if I should submit my changes.

@ryanpetrello : What do you thing ? Can you help me ?

[2020-10-05 10:04] luhahn opened #8320 "Official Helm Chart for AWX"
For our project setup it is way easier to use Helm Charts instead of the existing ansible-kubernetes installer.
Would it be possible to have an official AWX helm chart?

We already created a chart based on the kubernetes templates included in your kubernetes installer. It is still under development, but works really well.

https://github.com/novumrgi/helm/tree/master/charts/awx

[2020-10-05 11:22] swatinarvekar opened #8321 "RFE: Job view list should have 'caller' schedule name column"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- UI

##### SUMMARY
The job list doesn't show who ran each job. Desire to have the schedule name (in case trigger by schedule) that made the call or have schedule type like scheduled with schedule name / manual with user name.

Customer Explanation:
- We use Tower to schedule templates, each schedule performs a different function for the same

[2020-10-05 12:21] moonrail commented on #7659
So I've had time to test again. Now that 15.0.0 is released, I've used this version.
It contains #8071 and some other performance optimizations, but unfortunately there is no improvement visible.

I've used:
- 9 Job Templates
  - each with their own Project
  - each with their Inventory based on same Project (simple YAML-inventory, no update_on_launch)

Playbooks, Repository & Inventory-Content id

[2020-10-05 12:55] AlanCoding commented on #6270
See the pattern started in https://github.com/ansible/awx/pull/8312

[2020-10-05 13:04] AlanCoding commented on #8271
Is the expectation that `template_name` comes from the inventory hostvars? I want to get this a little better isolated from the role that you're running, back to the missing data in the inventory data that the update produces.

[2020-10-05 13:45] sbaerlocher commented on #6270
@AlanCoding This doesn't cover exactly that, I meant the requirements.yml is in the project root, I made PR #8318 for it.

[2020-10-05 13:49] AlanCoding commented on #6270
I link that because the way the playbook operates is changing to accommodate the yml/yaml extensions. Merging that with what you're starting in #8318 is going have have to reconcile these patterns.

[2020-10-05 13:53] zaskan opened #8322 "Please provide Tower an easy way to work with "constructed" plugin."
**SUMMARY**
When running in an Ansible Tower environment, the keyed_groups functionality does not work - groups based on facts are not created because tower is executing the following:

`ansible-inventory -i <inventory file> --list --export ...`

instead of:

`ansible-inventory -i existing_inventory -i <inventory file>`

That is the command needed for the plugin to work. We would like to add the p

[2020-10-05 13:53] silid commented on #7699
@geerlingguy  I just spent all morning trying to get this installed on a colleagues mac in version 15.0.0 (where it had worked fine on mine) so thanks for solving it. What can we do to get the PR accepted? Do you need any testers?

[2020-10-05 14:10] geerlingguy commented on #7699
I think the main thing is trying to add some functionality to the installer to try to do a migration for anyone who has a docker volume using the old method (see this comment: https://github.com/ansible/awx/pull/7701#issuecomment-664577116).

Right now my focus is elsewhere, so unfortunately I can't help push this past the finish line, but it's still the only way to get AWX to work on macOS.

[2020-10-05 14:17] sbaerlocher commented on #6270
Now I have adapted it like in PR #8312 .

[2020-10-05 14:27] unlikelyzero commented on #8154
@kdelee , let's 👁️ this next week when doing the social auth automation

[2020-10-05 14:44] minsis commented on #3959
Has anyone found any fixes for this? I'm running 15.0.0 today and I'm getting this issue. It seems to only do this when I have an external postgres database. When I go back to letting the installer create the postgres conainer everything works fine.

The version was directly downloaded from releases and not the devel branch. I tried this with version 14.1.0 and get the same issue.

[code]

I've tr

[2020-10-05 15:17] alexseys commented on #8271
template_name var is coming in form external variable.:

 $ansible-playbook -i tmpl_inventory update_template.yml --vault-password-file=/root/.esx_vault -e template_name=CentOS

I do this, at this time, to update templates one by one.

Thank you!

[2020-10-05 16:32] wenottingham commented on #8310
Fields available for notifications are specifically whitelisted. See https://github.com/ansible/awx/blob/devel/awx/main/models/notifications.py#L265

[2020-10-05 17:05] moonrail commented on #7655
@fosterseth @ryanpetrello

Sorry for being late on testing.

After testing in combination with `UI_LIVE_UPDATES_ENABLED = False` now I'm content with reachable performance.

But even with `UI_LIVE_UPDATES_ENABLED = True` performance is good, if START_TASK_LIMIT is sized accordingly.
With the example [Sleep-Playbook](https://github.com/ansible/test-playbooks/blob/master/sleep.yml) we reach followin

[2020-10-05 19:07] #8127 closed, assigned to rebeccahhh

[2020-10-05 19:11] squidboylan commented on #8157
Closing this because a fix has been merged (along with tests)

[2020-10-05 19:11] #8157 closed, assigned to squidboylan

[2020-10-05 19:13] squidboylan commented on #8127
This has been fixed by https://github.com/ansible/awx/pull/8308 which I have confirmed with manual testing

[2020-10-06 01:50] joeywashburn commented on #7622
[code]

[2020-10-06 04:27] zigford commented on #8270
I've found that the problem is in my tower_cli.cfg
When I first ran awx modules against awx, I used http only. Since then I added a reverse proxy to service https through the docker containers.

My apache config redirects all http queries through to https via a config like this:
[code]
Clearly this is a mistake by myself in tower_cli.cfg. However, should it have failed silently?

[2020-10-06 04:46] wenottingham commented on #7622
The error is from AUTH_LDAP_GROUP_TYPE_PARAMS being unset. Not sure why it's being unset. (If you hit 'revert', it should be reset to the default.)

[2020-10-06 05:57] bryanasdev000 commented on #3959
Did you try to mess with `settings.py`? In short, the value of `settings.py` is not the same as the `hostname`, which creates a lot of problems. For now, try to drop the tables created in the database by AWX, clean any folder that is mounted in the container and try to start only 1 container \ instance at a time.

EDIT: https://github.com/ansible/awx/issues/3959#issuecomment-535915743 and  https:/

[2020-10-06 07:01] asohh commented on #7674
Hey,

I have an idea very close to this. What do you think about adding links to the Groups, Hosts and Sources tabs to the count of it?

[2020-10-06 10:02] Nuttymoon commented on #6792
This issue is still around with `AWX 15.0.0` on `docker-compose` deployment.
The workaround of @johnrkriter works:
[code]

[2020-10-06 12:24] tiagodread commented on #7677
Verified and PR already merged!

[2020-10-06 12:24] #7677 closed, assigned to keithjgrant, dsesami

[2020-10-06 12:40] dannyvanderaa commented on #6795
Where you able to solve this issue?

[2020-10-06 13:40] AlanCoding commented on #8322
There's a big design discussion here, but all points in this issue should be solved with #3769

That's an over-simplification. You mention Ansible facts - for that to work, facts need to be set up before the update runs. We need to hit this line to write the facts, and inventory updates currently do not do that:

https://github.com/ansible/awx/blob/ba4ae7c1045efc9ba269f6fe8ba5689f71d516a4/awx/main

[2020-10-06 14:11] joeywashburn commented on #7622
It does and I am able to choose ADGroup and it works fine.   Its something I reported a while back and forgot about it until a few days ago when ryan asked about it

[2020-10-06 14:46] dansou901 commented on #5896
Still present in 15.0.0

[2020-10-06 15:02] masbahnana commented on #7924
I tested this using this playbook
[code]

everything works and you can delete project :D

[2020-10-06 15:02] #7924 closed, assigned to masbahnana

[2020-10-06 15:06] Forest-Troll commented on #5209
I try restore this commit with some changes. It fine work with bitbucket 5.12 and AWX 9.1.0 for me. Not tested this with last environment yet.

https://github.com/Forest-Troll/awx/tree/bitbucket-return

[2020-10-06 15:17] AlanCoding commented on #5896
We have tried to build out test cases for roles & collections from SCM. This is the closest that we have so far:

https://github.com/ansible/test-playbooks/pull/146/files

It makes sense to me that your requirements file includes both `a` and `b`, even though ordinarily you'd only have to provide `b` if they were both on Galaxy, because it would pull in its dependencies. But being from source cont

[2020-10-06 15:17] ilijamt opened #8327 "Task containers no buffer space and all container groups crash afterwards"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running a playbook that creates jobs that do configure EC2 machines.

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: k8s (EKS)
* Ansible version:  ansible-runner with Ansible 2.9.13
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

EKS Cluster has:
* 7 machines (t3.2xlarge)

Playbooks that configure EC2 instances ~100 of

[2020-10-06 15:34] dansou901 commented on #5896
That makes sense. Testing this with two different branches in the test playbooks should replicate the issue I'm having right now.
However, I'm not completely sure if I will still need this in the future. I already set up a pulp environment with enabled galaxy plugin which should be able to store all my roles and projects and as I saw in the changelog, you have already improved the handling of cust

[2020-10-06 16:54] russelljftw opened #8329 "Azure Government keyvault integration Authentication errors"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Azure Keyvault lookup plugin not working for Azure Government.  Vague "Authentication Error" popup with no details or log.

The azure keyvault credentials plugin found here:
awx/awx/main/credential_plugins/azure_kv.py

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.11
* Operating System: RHEL 7.7
*

[2020-10-06 17:45] kdelee opened #8330 "[awx_collection] Be able to specify "scm" as a credential type instead of "Source Control""
##### ISSUE TYPE
 - Feature Idea

Right now to make an SCM credential you have to do:

[code]

Would prefer to be able to do:

[code]

[2020-10-06 18:07] dsesami opened #8331 "Integer and float surveys are broken"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
You can't create a survey in a job template of `Integer` type or `Float` type.
Replicating the survey question like in the screenshot + saving results in the console errors shown.

Also, you can't set textarea/text default answers to just a number after you fail the initial Save -- it is interpreted as a number and returns a 400. This will probably go

[2020-10-06 18:30] bgeels opened #8332 "Don't Require Project Re-Syncs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It seems like a project revision will deem itself too old and cause a re-sync after some amount of time. This is without any **SCM Update Options** on the project checked. This can be problematic because if there's intermittent issues talking to the SCM source it will cause failures for scheduled **Job Templates** that use that **Project** when there

[2020-10-06 18:37] chrismeyersfsu commented on #7655
If you get a chance @moonrail https://github.com/ansible/awx/compare/devel...chrismeyersfsu:fix-tm_slow_fit?expand=1 This reduces the time of starting an individual job from 1-2 seconds down to .05 seconds. So you should see a 20x + speedup.

[2020-10-06 18:48] wenottingham commented on #8332
At launch time, the revision of the project that is intended to be launched will be checked out/downloaded if it does not already exist on the executing node. It's not about too old, it just making sure the required revision is present.

What you're looking for is (mostly) #289. Closing as a duplicate.

[2020-10-06 18:48] #8332 closed, assigned to nobody

[2020-10-06 19:22] jfugate opened #8334 "notification_templates module uses python str instead of json"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When trying to apply notification_template configs via yaml, it fails to transform a message from python dict to json

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: official AWX installer + k8s
* Ansible version:  2.9.13
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Deploy version 15.0.0 per official awx ins

[2020-10-06 19:36] JRNC opened #8335 "Inventory Source Details Missing in 15.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After updating from 13.0.0 to 15.0.0 you cannot view the details of inventory sources.
![image](https://user-images.githubusercontent.com/62308097/95251566-bf1c2800-07e9-11eb-9436-4d6e852a07b9.png)

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.13
* Operating System:
* Web Browser:

##### STEPS TO

[2020-10-06 19:42] JRNC commented on #8335
There are also issues with creating a new inventory source in 15.0.0:

![image](https://user-images.githubusercontent.com/62308097/95252095-82046580-07ea-11eb-9cbd-7a11f4e75e90.png)

[2020-10-06 19:44] JRNC commented on #8335
These appear to be frontend issues, as syncs of pre-existing sources appear to still work properly.

[2020-10-06 19:47] mdinwoodie opened #8336 "[RFE] Add visual cues to UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This RFE is to add more visual cues to the user interface. As an example: when a label is applied to a job template, assign a unique color-coded background to the list item on the Templates screen (each label would have a different color).

[2020-10-06 20:06] bgeels commented on #8332
I think https://github.com/ansible/awx/issues/287 is closer, i.e. don't have jobs success be dependent on the SCM being reachable.

https://github.com/ansible/awx/blob/devel/awx/playbooks/project_update.yml

It seems like the way tags are applied to each section in the **project_update** play this should be possible. I'd think the tags would be applied based on the **SCM Update Options** but I'm n

[2020-10-06 21:35] wenottingham commented on #8336
That does not work when templates can have any number of labels.

#2058 seems like a better answer.

[2020-10-06 21:35] #8336 closed, assigned to nobody

[2020-10-06 21:37] wenottingham commented on #8332
Those will all be applied, unilaterally, if they need to be.

update_git - if the revision is not present
install_roles/install_collections - if the dependencies are not present in the cache

To not do them would not run the job reliably.

[2020-10-06 21:49] jpell958 opened #8338 "tower_job_template.py"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Similar to our issue #7766, we found that this module ignores setting any job template Boolean or Integer parameter values, to its default value.  For example the following parameters can no longer be set as Zero or False after it has been modified via GUI or Tower_Module

        timeout: 3600
        allow_simultaneous: true
        ask_limit_on_laun

[2020-10-06 21:57] wenottingham commented on #8335
@jakemcdermott @mabashian can you have someone see what's up here?

[2020-10-06 21:59] wenottingham commented on #8338
What version of the module? Is it from the 13.0 collection?

[2020-10-06 23:12] bgeels commented on #8332
For **update_git**, is revision the most recent revision according to what the configured SCM says? If so is there a way to tell it that it's ok if _a revision_ exists? i.e. as long as we've checked out the project at some point and it still exists we're good.

Then for **install_roles/install_collections**. What triggers the cache to be cleared for a given **role** or **collection**? Any way to s

[2020-10-06 23:47] wenottingham commented on #8332
It is the revision that was recorded in the last project update. This isn't configurable, as we want to make sure that if the project says it's using revsion abcdef, that all job runs will use that revision.

It's tied to the ID of a project update used for a previous job run. So if a prior job run on the node used project udpate id 12345, that's what the cache ID is keyed off of. If another proje

[2020-10-07 04:51] shankarprasad0610 opened #8340 "Can AWX Web and AWX Task containers be run as non root user?"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I need to run awx web and awx task containers as non root user, as my org's direction to ensure container best practices. However,  i only see that both containers come up only as root user. I have git cloned 11.2.0 for both. Is it possible to run these two images as non root user? If yes, then can you guys please provide some pointers/suggestions? Or

[2020-10-07 07:04] JG127 commented on #6792
Pity is that nobody from the project seems interested... :-(

[2020-10-07 08:07] ghost opened #8341 "15.0.0 does not detect roles/requirements.yml"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With the Upgrade to 15.0.0, AWX does not detect the roles/requirements.yml
[code]

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.13
* Operating System: RHEL 7.8
* Web Browser: Tested with
  * Brave Version 1.14.84 Chromium: 85.0.4183.121
  * Google Chrome 86.0.4240.75
  * Firefox Version 81.0.1

#

[2020-10-07 12:50] moonrail commented on #7655
@kdelee
START_TASK_LIMIT is no issue anymore, when PR #8333 is merged.

[2020-10-07 13:05] bgeels commented on #8332
Ok so if I'm understanding correctly none of those tags should be applied unless a project was re-synced? Also, a project will not be re-synced unless it's manually re-synced or the **SCM Update Option**, **Update Revision on Launch** is checked for the project?

[2020-10-07 13:06] larrybg commented on #8311
Upgraded to v15 and it works in v15.

[2020-10-07 13:06] #8311 closed, assigned to nobody

[2020-10-07 13:26] clopnis commented on #5400
same issue to upgrade go 15.0.0 same solution from @workingninja

[2020-10-07 14:29] tiagodread opened #8343 "Host details variables showing JSON format without indentation on load"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Host details variables showing JSON format without indentation on load

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method:docker for mac
* Ansible version:  2.9.13
* Operating System: Catalina
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Navigate to Hosts
2. Select a host which has variables

##### EXPECTED RESULTS

The CodeMirror sho

[2020-10-07 14:55] jpell958 commented on #8338
Yes - We are using Tower Module 13 with AWX 13
BTW - Same behavior on AWX 15and Modules 15- just tested today

[2020-10-07 15:12] beeankha commented on #8270
Hi @zigford, I’m not 100% sure how your server produced this error. To sum up it seems like the main issue is that the `PATCH` was ignored for some reason, and since we can’t detect where exactly something went wrong, there is currently no error handling for that. The other AWX Collections modules which follow the CRUD pattern have considerable logic for these use cases, but `tower_settings` is im

[2020-10-07 15:12] #8270 closed, assigned to beeankha

[2020-10-07 15:47] wenottingham commented on #8332
Or if the content hasn't been synced to the node the job is running on.

[2020-10-07 15:50] donald-picard-kr opened #8344 "Enhance tower_job_wait to support project_update/inventory_update/workflow_job in addtion to job"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
tower_job_wait only supports waiting on tasks of the type 'job'

I would like to see this module (or potenitally a seperate one, the code I wrote is to suppor this in one module) support waiting for other similar jobs
Addtional "job" types allowed
- 'project_update'
- 'job'   # default
- 'inventory_update'
- 'workflow_job'

I have started development

[2020-10-07 16:48] bgeels commented on #8332
Gotcha, ok. I think I may have seen a scenario where those tags were applied outside of that criteria. Need to watch it closely and see if it happens again. I'm not on the latest, currently running 13.0.0. However, I didn't see anything in the change logs that would suggest a recent related bug fix. Thank you for your thorough replies, I really appreciate it!

[2020-10-07 17:07] AlanCoding commented on #7058
Putting final thoughts here:

For QE needs, we want to produce a series of execution environments, for now, for 2.9, 2.10, and devel, these are the Ansible major versions. We have a demo working to produce these for the _base_ runner image:

https://quay.io/repository/ansible/ansible-runner?tab=tags

See the tags like `devel.stable-2.9`, that means `ansible-runner` devel branch with Ansible `stabl

[2020-10-07 17:14] AlanCoding commented on #7066
@jbradberry https://github.com/ansible/awx/pull/8113 seems like it's starting toward this. It defines some credential inputs, but I don't know if it sets up injectors? And we're a ways away from this being testable I think

[2020-10-07 17:15] AlanCoding commented on #7061
The first part of this is started in https://github.com/ansible/awx/pull/8323

[2020-10-07 18:08] jakemcdermott commented on #8335
@JRNC I haven't been able to reproduce this bug based on the information you've provided so far. Would you please provide some exact steps to reproduce from a clean starting state? (specific inventory and inventory input values used, pages visited, etc.)

If you see any errors in your browser's logs (Open dev tools by pressing F12 before the bug happens), please also include those in the bug repor

[2020-10-07 18:16] jakemcdermott commented on #8335
@wenottingham @JRNC it's possible you _may_ be running into something we listed in the changelogs for v13, which mentions that some inventory sources will no longer work.

https://github.com/ansible/awx/commit/f76c57b1ec9fd994d759c058eb16c4456790b6a6#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR5

[2020-10-07 18:26] jakemcdermott commented on #8329
@russelljftw This seems plausible to me. Would there be any way that you could verify this before we make the change? If you can verify the precise set of data values needed with a raw http request or python script that works, that would be helpful. Thank you!

[2020-10-07 18:29] JRNC commented on #8335
I believe that there may have been a delay in some type of post-upgrade management job in 15.0.0 that converts the source variables. Today, the bug is no longer exhibited, but the source variables for all of my inventory sources have been reformatted to start with compose: followed by a much longer set of indented variables. I guess my issue has resolved itself, but I believe that there may be a d

[2020-10-07 18:37] jakemcdermott commented on #8340
You might want to reach out to our mailing list or IRC channel:

[2020-10-07 18:38] #8340 closed, assigned to nobody

[2020-10-07 18:39] TimoStramann commented on #7060
This topic needs more attention in my opinion. Podman is default in modern rhel/centos distros for some time already.

[2020-10-07 18:40] nesanton opened #8347 "collection module tower_inventory_source_update should have "name" instead of "inventory_source""
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Module that works on an entity should reference that entity by `name`. It feels more ansibly anyway.

[2020-10-07 18:40] jakemcdermott commented on #8340
Hello! wave That isn't something we support automatically with our installer. That said, you might want to reach out to our mailing list or IRC channel as they may be able to give you some pointers.

    http://webchat.freenode.net/?channels=ansible-awx
    https://groups.google.com/forum/#!forum/awx-project

[2020-10-07 18:40] jakemcdermott commented on #8340
Hello! :wave: That isn't something we support automatically with our installer. That said, you might want to reach out to our mailing list or IRC channel as they may be able to give you some pointers.

- http://webchat.freenode.net/?channels=ansible-awx
- https://groups.google.com/forum/#!forum/awx-project

[2020-10-07 18:49] jakemcdermott commented on #8321
This sounds good to me. Schedule information available to us in the rest api in the job list view (summary fields) so I consider this something we can add in the new ui once we've established a pattern for "expanded" lists:

![Screenshot from 2020-10-07 14-48-44](https://user-images.githubusercontent.com/9753817/95374341-3619f500-08ac-11eb-9ff6-3d128738a2d0.png)

[2020-10-07 19:06] jakemcdermott commented on #8322
:wave: Hello! Since the use case is, apparently, covered by #3769 I'm closing as a duplicate.

[2020-10-07 19:06] #8322 closed, assigned to nobody

[2020-10-07 20:04] blaira89 commented on #5711
My customer is deeply interested in seeing this RFE move forward. Here is their business justification:

We’re looking to consolidate 8 isolated full Tower clustered environments in place today along with dozens of firewall rules and code changes. To accomplish that we want to use the Tower feature of isolated groups in each of our zones. In order to have a consistent code base between all the zon

[2020-10-07 20:15] nesanton commented on #8347
I decided to give it a shot.
It is also possible now to specify both id and name for `name` and `inventory` in the same style as in tower_project_update

[2020-10-07 20:36] nesanton opened #8349 "Explore ways to make modules project_update and inventory_source_update idempotent"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Modules tower_project_update and tower_inventory_source_update both seem to report `changed: true` unconditionally.
I checked that `modified` does not change on sync and `last_updated` changes every time you hit the sync button even if no change came in. So this might as well be not possible.
But at least for scm projects we could use `scp_revision`

[2020-10-07 20:40] one-t commented on #8145
Tested this on a large cluster with 2xlarge instances and fact caching enabled- no deadlock was observed

[2020-10-07 20:40] #8145 closed, assigned to ryanpetrello, one-t

[2020-10-07 21:32] marshmalien commented on #6066
The forms (i.e. /#/templates/job_template/add) should be displaying popovers instead of tooltips, so I think we can close this issue.

[2020-10-07 21:42] jpell958 commented on #8145
Thank you for actioning this request and for the testing efforts.
Please note: January will be the next opportunity for us to test this fix within our organization.

[2020-10-07 22:51] jakemcdermott commented on #8335
@JRNC  Yep, that sounds likely. Any post-install jobs or migration tasks won't be instantaneous. We _usually_ try and show a migration page ("Awx is currently loading") but it doesn't happen in all cases or for all types of tasks.

Overall it sounds like the original issue is resolved for you though so I'm going to close this.

[2020-10-07 22:51] #8335 closed, assigned to nobody

[2020-10-07 23:34] unlikelyzero commented on #8154
@kdelee and @tiagodread are going to take this finish verifying this as a part of the Automation Social Auth work

[2020-10-08 01:18] shankarprasad0610 commented on #8340
Thank you for sharing this. Shall reach out to it.

[2020-10-08 12:40] jklare commented on #6792
This looks like a race condition betweent the pg container and the aws-task container. Since i am not familiar with the project structure it will probably take me some time to find the right place to look :) I will update this as soon as i find something.

[2020-10-08 13:24] jklare commented on #6792
looks like the connection gets dropped unexpectedly and the initial migration never finished, causing the following ones to also fail
[code]

[2020-10-08 13:33] jklare commented on #6792
So i think the description of @anxstj is pretty accurate and complete, we now just need to figure out a good way to wait for the postges ini to finish before we start the migration. Does anybody have a good idea how to do that?

[2020-10-08 13:44] jklare commented on #6792
Judging from the issue itself, i think the best option to fix this is to make the aws-task container (or the script running in it) fail if the migration fails instead of trying to continue with something that will never succeed. The db migrations themselves should be idempotent, so just failing and starting fresh should be fine.

[2020-10-08 13:50] dsesami commented on #7955
This was captured within the scope of other verification and was stubbed out etc., this is good to close.

[2020-10-08 13:50] #7955 closed, assigned to nixocio

[2020-10-08 14:44] AlanCoding commented on #8271
Then I don't understand what this has to do with VMWare inventory. You're not trying to pass extra vars to the inventory update, are you? That's a new feature in Ansible 2.11 https://github.com/ansible/ansible/pull/70970, and I think irrelevant of this.

If you're expecting the extra var to be passed into the `ansible-playbook` run, then from where? From the VMWare credential?

[2020-10-08 16:17] keithjgrant commented on #7822
This happens when we give the error to the PatternFly form field as an array instead of a string (`['Invalid URL: Missing url scheme (http, https, etc.)']`), which is how the API often returns errors. My refactor of error handling in #8339 now addresses this

[2020-10-08 18:21] tiagodread commented on #6603
Verified all remaining lists, tests covered by 5602

[2020-10-08 18:21] #6603 closed, assigned to AlexSCorey

[2020-10-08 18:41] jbradberry commented on #7881
@watsonb I was unable to replicate this problem with a simplified set of objects, even when doing separate export and import steps for credentials and job templates.  Can you pin this down a bit more?

![Screenshot_2020-10-08 Ansible AWX Demo Job Template 3](https://user-images.githubusercontent.com/685957/95499335-23b6be80-0973-11eb-80a8-746745dbfb52.png)

[2020-10-08 18:51] jbradberry commented on #7882
@watsonb I'm also having problems replicating this one.  Here's a successful import with an absolute minimum survey question:

![Screenshot_2020-10-08 Ansible AWX Demo Job Template 4](https://user-images.githubusercontent.com/685957/95500883-8315ce00-0975-11eb-887f-86b85239e880.png)

[2020-10-08 18:52] jbradberry commented on #7882
My example json file:

    {
         "job_templates": [
              {
                   "name": "Demo Job Template 4",
                   "description": "",
                   "job_type": "run",
                   "playbook": "hello_world.yml",
                   "scm_branch": "",
                   "forks": 0,
                   "limit": "",
                   "verbosity": 0,

[2020-10-08 19:05] jbradberry commented on #7881
The credential json:

    {
         "credentials": [
              {
                   "name": "Demo Credential 2",
                   "description": "",
                   "organization": null,
                   "inputs": {
                        "username": "admin"
                   },
                   "credential_type": {
                        "name": "Machine",

[2020-10-08 19:05] jbradberry commented on #7881
The job template json:

    {
         "job_templates": [
              {
                   "name": "Demo Job Template 3",
                   "description": "",
                   "job_type": "run",
                   "playbook": "hello_world.yml",
                   "scm_branch": "",
                   "forks": 0,
                   "limit": "",
                   "verbosity": 0,

[2020-10-08 19:51] tiagodread commented on #8283
Fix already merged 👍🏽

[2020-10-08 19:51] #8283 closed, assigned to AlexSCorey

[2020-10-08 20:00] nixocio opened #8354 "Evaluate usage of default values and placeholders"
##### ISSUE TYPE
Evaluate usage of default values and placeholders

##### SUMMARY
Evaluate usage of default values and placeholders

* Verify that the default values provided by the API are being used as default values in the UI default.
* For cases that not default values are provided by the API, for example,  a `dropdown` a placeholder should be used, instead of providing a default value.
* In g

[2020-10-08 20:06] mabashian opened #8355 "Provide an interface to display when AWX is upgrading"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We currently have https://github.com/ansible/awx/blob/devel/awx/ui/client/installing.template.ejs that gets displayed via this view: https://github.com/ansible/awx/blob/d8c4f118c23fde9f59f38334974381264d22f120/awx/ui/views.py#L26-L30.  Technically we could continue to use this template so long as it's included in the bundle.

I'm creating this issue

[2020-10-08 20:15] nixocio opened #8356 "Upgrade lingui library"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Upgrade lingui library to latest stable version.

This will accomplish two goals:
1. Allow for native pseudolocalization support. More about that [here](https://github.com/ansible/awx/issues/9285)
2. Get rid of the console error warnings that is causing so much noise that dev and QE ignore valuable information

<img width="872" alt="image" src="https

[2020-10-09 00:31] wbieniek opened #8357 "How to delete pending jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have thousands pending jobs stuck in AWX cluster and none are being process.
Old method is not working

from awx.main.models import UnifiedJob
for i in UnifiedJob.objects.filter():
    if(i.status == 'pending'):
      i.delete()

##### ENVIRONMENT
* AWX version: 13.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2do

[2020-10-09 02:36] wbieniek commented on #1034
in longer working under 13.0

[2020-10-09 09:49] GabboPenna opened #8358 "Refresh Jobs status details"
After launching a jobs the details page does not progressively update the output of the playbook.

[2020-10-09 10:11] #8358 closed, assigned to nobody

[2020-10-09 12:51] Besstheone opened #8359 "awx cli extra_vars not working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awxkit (version 15.0.0) not accepting extra_vars on prompt but working with files

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.13
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

call awx cli with extravars
![image](https://user-images.githubusercontent.com/39663221/95584991-773e108

[2020-10-09 13:39] kdelee opened #8360 "TESTING.md failing ansible sanity test"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

[code]

The collections test are failing on this, needs to get fixed. Not sure if its a matter of ignoring that file or if that file has to conform the the rules around quotation marks as well.

[2020-10-09 13:41] kdelee commented on #8360
looks like there is a PR up for it https://github.com/ansible/awx/pull/8306

[2020-10-09 13:51] nixocio commented on #6858
The string for `Repeat Frequency` is dynamically generated and comes from RRule . After talking with @mabashian about it, we came up with a few possible solutions.

 1 - Always show as an English.
 2 - Custom translation issue - See: https://github.com/jakubroztocil/rrule/issues/13
 3 - Hide the field `Repeat Frequency` if the browser language is not English.
 4 - Remove the field - `Repeat Freque

[2020-10-09 13:58] mabashian commented on #6858
Some more information about this field: https://github.com/ansible/awx/issues/6173

[2020-10-09 15:26] AlexSCorey opened #8361 "Merge Add Dropdown buttons for List Toolbar"
##### ISSUE TYPE
-enhancement

##### SUMMARY
We have 2 buttons to add a dropdown to a toolbar for a list.  1 is AddDropDownButton (https://github.com/ansible/awx/blob/019ad9da738eb84f78abfa38034692645f1d89bb/awx/ui_next/src/components/AddDropDownButton/AddDropDownButton.jsx) and the other is AddDropdown, which will merge with https://github.com/ansible/awx/pull/8263.

These 2 buttons should be mer

[2020-10-09 19:09] dnguyen9 opened #8362 "api/v2/metrics/?format=json missing data"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

/api/v2metrics/format=json endpoint is missing critical information related to other nodes when clustered together such as

awx_instance_consumed_capacity
awx_instance_remaining_capacity
awx_instance_status_total
awx_instance_launch_type_total
awx_instance_info
awx_instance_cpu
awx_instance_capacity

##### ENVIRONMENT
* AWX version: 15
* AWX install m

[2020-10-09 19:09] dnguyen9 opened #8363 "/api/v2metrics/format=json missing data"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

/api/v2metrics/format=json endpoint is missing critical information related to other nodes when clustered together such as

awx_instance_consumed_capacity
awx_instance_remaining_capacity
awx_instance_status_total
awx_instance_launch_type_total
awx_instance_info
awx_instance_cpu
awx_instance_capacity

##### ENVIRONMENT
* AWX version: 15
* AWX install m

[2020-10-10 01:46] wenottingham commented on #8362
filed twice

[2020-10-10 01:46] #8362 closed, assigned to nobody

[2020-10-12 05:32] bgkim0420 opened #8365 "multiple hosts enable/disable."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
 awx -> inventory -> hosts
Only one host can be enabled/disabled, and I would like to have the ability to enable/disable multiple hosts.

[2020-10-12 06:31] swiedernix commented on #7704
Hello @matburt ,
this ticket would be a good start for enhancing the tower metrics, we talked about that on thursday.
Made a similar internal RFE
,
Thx Stefan Wiederoder

[2020-10-12 06:37] swiedernix commented on #7704
redis for example:  how many callback tasks
1. redis: /opt/rh/rh-redis5/root/usr/bin/redis-cli -s /var/run/redis/redis.sock
redis /var/run/redis/redis.sock> llen callback_tasks
(integer) 28743

2. how many callback_receiver are running?   maybe someone dared to run more than standart ...   JOB_EVENT_WORKERS = 12

[2020-10-12 07:54] swiedernix opened #8366 "Add metrics dashboard"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Can we include a dashboard which includes all tower metrics to enable better troubleshooting?

I know that one can fetch those metrics from the Tower API, but I think it's worth to provide a builtin
dashboard (batteries included).

I wouldn't mind if AWX engineering would add more metrics, specific to AWX operations, to the API.

The goal is to get a

[2020-10-12 11:05] howardjones commented on #885
I'm running into issues with this too ("Error sending notification webhook: 400"). If I use the same content, headers and URL with curl, I can send a message just fine. I also can't see anywhere in the logs where I can see any error body that might be coming back from Teams.

[2020-10-12 13:02] Tioborto opened #8367 "Kubernetes installation method : scale up/down"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
It is possible to increase or decrease the number of AWX replicas, but deleting an existing deployment blocks existing jobs that are not subsequently taken over.

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: kubernetes
* Ansible version:  2.9.4

##### STEPS TO REPRODUCE

* Scale a first deployment to 1 replica
* Scale up to 3 replicas

[2020-10-12 13:07] ryanpetrello commented on #8366
We're unlikely to build some custom dashboard or visualization for this data, because existing tools already exist.  For what it's worth, `/api/v2/metrics/` is consumable out-of-the-box via tooling like https://prometheus.io

See:  https://docs.ansible.com/ansible-tower/latest/html/administration/metrics.html

[2020-10-12 13:45] Tioborto commented on #8367
Down scale from 4 to 2
![image](https://user-images.githubusercontent.com/29703972/95753417-e1a6b900-0ca1-11eb-95a9-936b1ca9f918.png)

[2020-10-12 14:03] ryanpetrello commented on #8360
I think this is ready to verify @kdelee

[2020-10-12 14:05] ryanpetrello commented on #8357
Something like this work?

[code]

[2020-10-12 14:15] therealrobopablo commented on #7253
It would appear that deploying a cluster is the way to handle this. I see a "docker-compose-cluster" file in the tools folder, but no supporting documentation on how to stand it up. Any pointers?

[2020-10-12 14:28] ryanpetrello commented on #8341
@adgerth I'm wondering if this is a bug related to https://github.com/ansible/awx/pull/7817; can you share the results of this API request?

`/api/v2/settings/jobs/`

...and also (for the Organization associated with the project update you ran):

`/api/v2/organizations/X/galaxy_credentials/`

[2020-10-12 14:44] ryanpetrello commented on #8363
@dnguyen9 @kdelee is this a duplicate of https://github.com/ansible/awx/issues/5583?

[2020-10-12 14:45] ryanpetrello commented on #8363
Duplicate of https://github.com/ansible/awx/issues/5583

[2020-10-12 14:45] #8363 closed, assigned to nobody

[2020-10-12 15:03] ryanpetrello commented on #5209
Support for this in AWX is blocked, because Bitbucket does not support signed webhooks in its free product.  Details at:

https://github.com/ansible/awx/pull/8328#issuecomment-707171773

[2020-10-12 15:09] watsonb commented on #7881
I'll try to run this again and either simplify it or capture exported credentials, redact them, and review.

[2020-10-12 15:12] watsonb commented on #7882
I'll try to run the export/import again on a fresh new instance and capture exported *.json files that are being imported for review.

[2020-10-12 16:29] ghost commented on #8341
@ryanpetrello this is the output from /api/v2/settings/jobs/
[code]
And here's the output for the galaxy_credentials:
[code]
Let me know if you need any more info on this.

[2020-10-12 16:36] ryanpetrello commented on #7609
@ronjarrell are you still able to reproduce this?  If so, can you share the requested details that @AlanCoding asked for?  Additionally, the way all of this worked has changed in some pretty notable ways as of the latest version of AWX (15.0.0).

[2020-10-12 16:42] ryanpetrello commented on #8341
@adgerth how about this?

`/api/v2/credentials/?credential_type__kind=galaxy`

One of the things we changed in 15.0.0 was the ability to specify rules per-Organization about where to pull Galaxy-like content from.  By _default_, on upgrade, each org is *supposed* to have a credential associated with it that represents galaxy.ansible.com, but your install doesn't seem to have that.

[2020-10-12 16:44] ryanpetrello commented on #8341
Also, can you exec into one of your containers, and run `awx-manage dbshell`.  You'll get a postgres CLI prompt, and I'd like to know what this returns:

`SELECT * FROM conf_setting WHERE key='PUBLIC_GALAXY_ENABLED';`

[2020-10-12 16:55] ryanpetrello commented on #8359
Hey @Besstheone,

The `--extra-vars` argument is supposed to be valid JSON/YAML, not Ansible-style extra vars.  I'll open a PR that clarifies this a bit (instead of this confusing error message).

[2020-10-12 17:36] #8366 closed, assigned to nobody

[2020-10-12 17:38] ghost commented on #8341
@ryanpetrello here's the output with credential_type__kind=galaxy:
[code]
And here's the output of the select statement:
[code]

[2020-10-12 17:48] ryanpetrello commented on #8341
What's odd is that the galaxy credential got _created_, but was never _added_ to your organization.  I'm reading the migration code the see if I can figure out why.

[2020-10-12 17:49] ryanpetrello commented on #8341
@adgerth this Organization in question, is it one you've created _since_ upgrading to AWX 15.0.0?

[2020-10-12 17:52] blaira89 opened #8371 "Add logic for management jobs"
##### SUMMARY
 - Currently, removing old activity stream data is simple expiration style
 - This leads to history for job templates not run prior to X date being removed, unable to view historical data for the job template i.e old extra variables
 - Request would be to add logic, such as the ability to keep at least X amount of activity stream logs, per job template
 - Any other logic feature that

[2020-10-12 17:53] AlanCoding commented on #7609
This has changed so fundamentally with https://github.com/ansible/awx/pull/7763 that my prior question isn't even really valid.

You now have the ability to edit these parameters directly. I don't know what that means for your particular case, but I hope that it makes it easier to cross-reference against the documentation of the inventory plugin. If you still can't get things to work, you start ag

[2020-10-12 17:53] #7609 closed, assigned to nobody

[2020-10-12 17:57] ryanpetrello commented on #7704
@wenottingham are you still against the idea of adding per-node redis and callback statistics to `/api/v2/metrics/`?  We _could_ provide something like this, but it wouldn't be possible with the current architectural to show a composed view of "all nodes" (only the current node servicing the HTTP request).

[2020-10-12 18:01] ghost commented on #8341
@ryanpetrello yes, this is a testing instance that has been nuked and recreated from scratch. All content in it (organizations, projects ...) has been configured using the awx ansible modules.

Also, I can always re-create this instance if necessary since this host is in a test environment.

[2020-10-12 18:09] jbradberry commented on #6424
@nixocio I am also unable to replicate this.  Attempting to hand craft an import file with two null-Org + name objects results in a single imported project.  Posting directly to the api results in the validation error noted above.

[2020-10-12 18:09] mabashian opened #8372 "Add pending workflow approval count/link to page header"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When we added this feature to the old UI, the entry point for approving/denying workflow approvals was here in the header:

<img width="1680" alt="Screen Shot 2020-10-12 at 2 02 00 PM" src="https://user-images.githubusercontent.com/9889020/95777155-a69d8900-0c93-11eb-8515-0e7a06182589.png">

We would listen for workflow approval job websocket message

[2020-10-12 18:18] mabashian opened #8373 "Add a workflow approvals list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
API gives us `/api/v2/workflow_approvals` just like many other lists.  We can use this to build our familiar list + details pattern alongside https://github.com/ansible/awx/issues/7112.

Additionally, we can use this as the interface for approving/denying workflow approvals rather than having a one-off drawer.

This list should feature the following

[2020-10-12 18:24] mabashian opened #8374 "Link workflow approval node to approval details in output"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In workflows with approval steps we should navigate the user to the details view of the approval when they click on the node in the output:

<img width="1622" alt="Screen Shot 2020-10-12 at 2 22 03 PM" src="https://user-images.githubusercontent.com/9889020/95778602-786d7880-0c96-11eb-9f50-f30e74c117db.png">

should take the user to:

<img width="1680

[2020-10-12 18:24] mabashian commented on #8273
OK, I've decided to split this work up into a few different issues:

1) [Add pending workflow approval count/link to page header](https://github.com/ansible/awx/issues/8372)
2) [Add a 'details' view for a completed approval node](https://github.com/ansible/awx/issues/7112).  I'd actually expand this out to just a generic 'details' view for all workflow approvals.
3) [Add a workflow approvals list]