[2020-11-19 14:36] joshed17 opened #8638 "Cannot schedule Repeat Frequency to None"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Cannot set template schedule Repeat Frequency to "None".

##### ENVIRONMENT
* AWX version:AWX 7.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Going to a Job Template, set the repeat Frequency to “None(run once)”, save it.

##### EXPECTED RE

[2020-11-19 16:15] vpodzime commented on #8387
No need to restart *docker* itself, `docker restart awx_task` should be enough. Still, it shouldn't be needed at all, of course.

[2020-11-19 16:17] isuftin opened #8639 "DockerHub Pull Rate Limiting: Add ability to specify alternative registry for Docker CentOS 8 and Redis images"
##### ISSUE TYPE

Because DockerHub limits pulls to a client, we're seeing issues in building AWX when Docker attempts pulling CentOS 8 and Redis images. We do have an in-house Artifactory server that does serve as a Docker image registry which we also use to mirror DockerHub and cache images locally. While we can set `dockerhub_base` in inventory to `my.artifactory.instance/docker-official-mirror

[2020-11-19 16:20] wenottingham commented on #8636
-> #2893

[2020-11-19 16:20] #8636 closed, assigned to nobody

[2020-11-19 16:27] AlanCoding opened #8641 "Cannot disable a schedule for a JT with a missing project (and it keeps running)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
It's fairly easy to get into a state where a schedule is enabled with an invalid JT, and the schedule cannot be turned off, due to a validation error on the JT.

Even though the schedule is invalid, it keeps running on the schedule interval, and its jobs fail obviously.

##### ENVIRONMENT
* AWX version: 15.0.1

##### STEPS TO REPRODUCE

Create a JT

Cr

[2020-11-19 16:28] AlanCoding commented on #7521
Later on in the issue, you give a payload `{"enabled":true}`, so I'm not clear what the exact intention is here - enable or disable?

[2020-11-19 17:21] roercik85 commented on #7307
The same issue after awx_task image update

[2020-11-19 18:25] AlexSCorey commented on #8378
closing in favor of https://github.com/ansible/awx/issues/8473

[2020-11-19 18:25] #8378 closed, assigned to nobody

[2020-11-19 18:26] AlexSCorey commented on #8473
for reference: https://github.com/ansible/awx/issues/8378

[2020-11-19 18:43] unlikelyzero commented on #8638
@joshed17 have you tried this on the most recent version of AWX? 7.0.0 is quite old

[2020-11-19 18:59] AlexSCorey opened #8642 "WFJT Inventory Should not be marked as required"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In old UI on the WFJT form an inventory is not required.  In the new UI it is marked required but the form will save without it.

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker for mac
* Ansible version:  2.9.13
* Operating System:Mojave
* Web Browser:Chrome

##### STEPS TO REPRODUCE
Go to the Workflow Job Template Form

##### EXP

[2020-11-19 19:07] AlexSCorey commented on #4212
PF says the Skeleton should be used in places where we know what we are waiting on and what form it will take...otherwise use the spinner.   https://www.patternfly.org/v4/components/skeleton/design-guidelines#usage

[2020-11-19 21:31] knowncitizen commented on #5839
👍  Would like to see this as well.

[2020-11-19 23:53] rcdlinux opened #8645 "View total number of duplicated managed nodes in the AWX Dashboard"
##### ISSUE TYPE
- If we have a temporary inventory for managed hosts which are making the inicial setup and bootstrap process in the environment, those hosts are temporarily duplicated into the main inventory and they are added and counted as the total number of managed hosts in AWX Dashboard.

##### SUMMARY

- This behavior is showing that there are more hosts into the inventory and causing a co

[2020-11-20 00:12] rcdlinux commented on #7927
We've tried to type the "hostname" of one master node using the new feature [1] in Tower 3.8, but it didn't work because this feature is being applied to all nodes in the Tower cluster,  it seems to be written into the database and replicated to all cluster nodes, then it is not possible to use it with information related to one node of the cluster. Would this feature be a way to solve this RFE?
I

[2020-11-20 00:12] opfpqgoon commented on #8329
I've confirmed that adding `cloud_environment = cloud` inside the ServicePrincipalCredentials method does indeed allow for credential testing to succeed.  This does not allow for populating a secret into a credential however as the secret is never stored into the field.  The value of the credential remains empty after testing and selecting "ok"

Edit:  this appears to be a UI bug as AzureUSGovernm

[2020-11-20 00:21] ryanpetrello commented on #8645
Hey Roberto,

This issue tracker is for the open source Ansible AWX project.  If you've got questions or a support issue with Ansible Tower, please reach out directly to Red Hat.

[2020-11-20 00:21] #8645 closed, assigned to nobody

[2020-11-20 00:45] snooyen commented on #8595
I'm seeing a similar issue -- in AWX >= 15.0.0, AWS EC2 Dynamic Inventories are not importing groups/tags.

Confirmed to be working as expected in 14.1.0 though

[2020-11-20 00:47] snooyen commented on #8595
@wenottingham related to #8569 ?

[2020-11-20 01:02] sophie200 opened #8646 "Test queries needs update"
https://github.com/ansible/awx/blob/b6a55e53d525655a116b99e9b825c9f9a87845e1/awx/main/tests/functional/test_projects.py#L202

https://github.com/ansible/awx/blob/b6a55e53d525655a116b99e9b825c9f9a87845e1/awx/main/tests/functional/api/test_rbac_displays.py#L317

I'm wondering what the protocol here is when updating queries that reference deleted or renamed fields in tests. For example, in the lines

[2020-11-20 14:14] jakemcdermott opened #8647 "Add library license checks for new ui"
For the old ui, we do automatic licensing checks for 3rd party libraries: https://github.com/ansible/awx/blob/devel/awx/ui/utils/get_licenses.js

This issue is for duplicating that process (or making an equivalent one) for the new ui.

[2020-11-20 14:55] flvritski commented on #592
+1

[2020-11-20 15:00] rcdlinux commented on #8645
Hi Ryan!

I've edited the request to best fit with AWX Project, could you reconsider it as a RFE to the project? It really will help a lot!

Thank you very much!

[2020-11-20 15:19] rcdlinux opened #8648 "Create Foreman inventory with hostname/shortname only"
##### ISSUE TYPE
 - The foreman collection/plugin used in AWX can't filter the FQDN of hosts imported only by its hostname/shortname. If Foreman has all hosts registered as "host.domain" this is the name imported by AWX.

##### SUMMARY

- A feature or variable which we could enable in the plugin to remove the domain part from "host.domain" when importing a Foreman inventory would be very useful to

[2020-11-20 15:20] jakemcdermott opened #8649 "Delete old ui zuul jobs and config"
After https://github.com/ansible/awx/pull/8607 lands, the zuul tests for the old ui will just be running the tests for the new ui until we delete the config. This issue is for deleting the old config, removing any temporary config in the awx Makefile, etc.

[2020-11-20 15:25] ryanpetrello commented on #592
https://github.com/ansible/awx/blob/devel/INSTALL.md#kubernetes

[2020-11-20 15:57] wenottingham commented on #8645
This isn't really something we target in AWX from a UI view; you can see this data in /api/v2/metrics (active hosts).

[2020-11-20 16:34] mabashian commented on #8638
These two things are functionally the same, just presented differently:

<img width="1555" alt="Screen Shot 2020-11-20 at 11 29 22 AM" src="https://user-images.githubusercontent.com/9889020/99824481-c42c0100-2b23-11eb-8582-35d38563135e.png">

<img width="1535" alt="Screen Shot 2020-11-20 at 11 29 41 AM" src="https://user-images.githubusercontent.com/9889020/99824494-c8581e80-2b23-11eb-9a34-a97d874

[2020-11-20 16:49] BloodyIron commented on #1794
As someone who really is sensitive to light that really needs a lot more dark to reduce eye strain. The main content of that page is all white. I would like to add my vote for a full dark mode/theme, it';s the direction so many applications have already gone and are going. Windows 10, MacOS and countless applications have full Dark Mode/Themes already. If we're spending hours upon hours upon hours

[2020-11-20 17:43] mabashian commented on #6544
I checked this out and it seems like this is now functioning correctly:

![cancel_inv](https://user-images.githubusercontent.com/9889020/99832087-0bb78a80-2b2e-11eb-91aa-4e4e6942fa90.gif)

[2020-11-20 17:49] wenottingham commented on #8648
This would need to be an option in the plugin, and then in could be specified in the AWX plugin config.

That would need to be filed at https://github.com/theforeman/foreman-ansible-modules/issues.

[2020-11-20 17:50] wenottingham commented on #8632
As we are removing venv support from awx, we wouldn't do this here.

[2020-11-20 17:50] #8632 closed, assigned to nobody

[2020-11-20 17:51] mabashian commented on #7516
@wenottingham Chris brings up an interesting point.  We can certainly filter this list down to only completed jobs or we could repurpose this list to show all jobs for a particular JT.

[2020-11-20 17:51] wenottingham commented on #8604
What do you mean? Instance groups can be assigned at the org, inventory, etc. level.

[2020-11-20 17:53] wenottingham commented on #8595
Likely unrelated.

If this is a fresh deployment, this looks to be the results of an intentional change in 15.x - we use a default plugin configuration by default. If you want specific sets of groups, put them in the plugin config. See some examples here. https://docs.ansible.com/ansible-tower/3.8.0/html/installandreference/inventory_plugins_templates.html#ir-inv-plugin-templates-reference

[2020-11-20 17:54] mabashian commented on #7509
Marking this as blocked until #6853 is completed

[2020-11-20 18:08] wenottingham commented on #8646
Hi - this is not really the place for this sort of discussion. This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you're developing new things and want to talk to the developers, please try the IRC channel or mailing list:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-11-20 18:08] #8646 closed, assigned to nobody

[2020-11-20 18:17] blomquisg commented on #8637
@kdelee Did you file something similar to this?  If so, can you link it here and close this as a dup?

[2020-11-20 18:20] wenottingham commented on #8625
This is (effectively) https://github.com/ansible/awx/issues/8572 - we don't use custom venvs for project updates.

[2020-11-20 18:20] #8625 closed, assigned to nobody

[2020-11-20 18:21] mabashian commented on #8638
If we did attempt to detect this scenario and display `None (Run Once)` then we'd have the same problem in the other direction.  If you filled out the Add form to match the second screenshot, we'd display the Edit form as `None (Run Once)`.  Without storing more info in the db we won't be able to adequately solve this problem.

[2020-11-20 18:21] #8638 closed, assigned to nobody

[2020-11-20 18:27] gamuniz commented on #8595
@s-hertel do we know why we throw that error for ec2_id?

`WARNING Host "ip-x-x-x-x.ca-central-1.compute.internal" has no "ec2_id" variable(s)`

[2020-11-20 18:31] blomquisg commented on #8569
@ikhan2010 this looks like an issue with the AWS collection plugin.  Can someone on your team chase this down?

[2020-11-20 18:37] snooyen commented on #8595
@wenottingham So we need to take the templates there, stick them in our project and source from our project?  Otherwise I'm unsure how to translate this to reconfigure the provided AWS EC2 Inventory Plugin

[2020-11-20 18:42] paulthorburn commented on #8595
@snooyen @gamuniz  i just took the config that wenottingham had linked to and pasted it into my source variables and now its working.

![image](https://user-images.githubusercontent.com/48079072/99837778-fab24d80-2b1c-11eb-9638-53cb644dbcb5.png)

[2020-11-20 19:08] Bak3y commented on #7310
Requesting a priority bump - we'd like to point AWX to a completely external redis URL/port (Elasticache)

[2020-11-20 19:13] wenottingham commented on #8595
Correct - we want you to have the full ability to configure how the sources are grouped, tagged, and any other options. We do migrate on upgrade older configs, but new configurations are just the plugin default, so they can be configured in the way you need.

AWS happens to be the one that requires the most custom configuration to match the prior legacy-script-compatible configuration.

[2020-11-20 19:18] wenottingham commented on #7927
I updated the comment - custom login info is for denoting separate clusters however you see fit. It's not for denoting instances, which should be interchangeable (especially behind a load balancer).

[2020-11-20 19:30] benjdudas commented on #8648
RFE opened with plugin maintainers: https://github.com/theforeman/foreman-ansible-modules/issues/1070

[2020-11-20 19:46] mabashian commented on #8372
Blocked until #8375 lands

[2020-11-20 19:47] mabashian commented on #8374
Blocked until #8375 lands

[2020-11-20 19:57] nixocio commented on #8088
This is the same behavior in the old ui also.

<img width="1565" alt="image" src="https://user-images.githubusercontent.com/9053044/99844907-cef58e80-2b41-11eb-9842-f6387a173711.png">

[2020-11-20 21:45] mabashian commented on #5687
We won't be able to add created/modified into without an api change but we can re-arrange the form fields to match the mockups.

[2020-11-20 21:49] mabashian commented on #7816
Sounds good to me

[2020-11-20 21:56] mabashian commented on #6092
I can't find this checkbox pattern anywhere in the current PF docs.  @trahman73 or @marshmalien do y'all know if the select all checkbox is something we still want to change?  If not, we should close this issue.

[2020-11-20 22:04] chiquiff commented on #8387
Yeah, I´ve managed to make it work that way. The migrations work at the very end, but they should run automatically when the fresh install starts. Just though it was worth mention it. Thanks for the input @geerlingguy

[2020-11-20 22:05] mabashian commented on #8530
I'm assuming the id should be `instance-group-list-toolbar`.  The two strings listed initially look exactly the same to me.

[2020-11-20 22:15] paulthorburn commented on #8595
@wenottingham Since all the Source Variables are required to make the plugin work couldn't it pre-populate the field with the template when you chose your Source (i.e AWS, GCC, VMware etc..). Also it would help if the Source Variable tooltip was updated to point to the URL you provided as it currently says look in EC2.ini which isn't applicable any more.

[2020-11-20 22:23] wenottingham commented on #8595
If the plugin does not *function* (throws errors) without source variables, that is a bug we will look at and will try and fix.

If it's about the groups attached to the host, we are trying to move to match the default behavior of the plugins. Grouping by custom attributes is still available.

Tooltips were fixed here https://github.com/ryanpetrello/awx/commit/48934e85444dba1ad310311b8f95520e23915

[2020-11-20 22:26] jillr commented on #8569
I'm not able to reproduce this on a freshly deployed 15.0.1 (using docker-compose locally) and AWS secrets, my inventory is successfully populated. @nicolas-g would it be possible for you to share the job output (on debug please) from one of your tests using secrets or an IAM profile?

[2020-11-20 22:31] unlikelyzero commented on #8287
covered by https://github.com/ansible/tower-qa/pull/5734

[2020-11-20 22:31] #8287 closed, assigned to marshmalien

[2020-11-20 22:31] unlikelyzero commented on #8292
covered by https://github.com/ansible/tower-qa/pull/5734

[2020-11-20 22:31] #8292 closed, assigned to marshmalien

[2020-11-20 22:32] unlikelyzero commented on #8293
covered by https://github.com/ansible/tower-qa/pull/5734

[2020-11-20 22:32] #8293 closed, assigned to marshmalien

[2020-11-20 22:32] unlikelyzero commented on #8286
covered by https://github.com/ansible/tower-qa/pull/5734

[2020-11-20 22:32] #8286 closed, assigned to marshmalien

[2020-11-20 22:34] paulthorburn commented on #8595
Sorry i should clarify, when you don't enter any Source Variables it works in the sense that it adds ec2 instances, the job log is just filled with a bunch of WARNINGS regarding 'has no "ec2_id" variable(s)' that i previously mentioned.

[2020-11-20 22:41] unlikelyzero commented on #8530
@mabashian yes exactly

[2020-11-21 00:29] trahman73 commented on #6092
@mabashian We want to move to using this select pattern.
Guidelines: https://www.patternfly.org/v4/guidelines/bulk-selection
Component: https://www.patternfly.org/v4/components/dropdown/react#split-button-with-text

[2020-11-21 05:31] jrbeilke commented on #924
+1 for adding this to the docs either in AWX or the AWS plugin or both.

After a bit of digging around in the plugin source it looks like this policy covers all the actions used to inventory EC2:
https://github.com/ansible-collections/amazon.aws/tree/main/plugins/inventory
[code]

Also for anyone coming here from Google and wanting to use the RDS inventory from the AWS plugin you'll need to add th

[2020-11-22 09:28] grumpy-penguin opened #8652 "Implement update_password option"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Some fields return value $encrypted$ when it has been set and null when a value hasn't been applied. This is usually the case for passwords. Where such fields exist it and it makes sense (for example with awx.awx.tower_settings), implement an option similar to ansible.builtin.user where update_password can either be on_create or always.

Current beha

[2020-11-22 11:49] pipoe2h commented on #1556
If you are looking to use Kubernetes annotations for latest Nginx ingress, `nginx.ingress.kubernetes.io/configuration-snippet` didn't work for me. Had to use:
[code]

[2020-11-22 16:28] rrraju-kreddy commented on #860
do we have solution onfacts, i still see no facts visible in web gui

[2020-11-23 13:23] vpodzime commented on #8387
I've ended up with this to make sure things are up and running:
[code]
And usually there's only one retry needed.

[2020-11-23 15:19] VitaliyFedorov opened #8653 "Azure Resource Manager Source do not use default parameters and source variables"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Azure Resource Manager Source use `default_inventory_hostname` azure property instead of `name` to set host name for host in inventory
Azure Resource Manager Source do not create any groups with no source variables or with any source variables specified.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:

[2020-11-23 17:54] wenottingham commented on #8653
Does it work if you add the appropriate configuration items as documented here for the groups that you want? https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_inventory.html

[2020-11-23 18:57] #8642 closed, assigned to AlexSCorey

[2020-11-23 19:18] nixocio commented on #7676
In the old ui, we do have tooltips and popovers. Tooltips being displayed when hovering over the cloud icon, and a popover being displayed once the cloud icon is clicked.

<img width="1565" alt="image" src="https://user-images.githubusercontent.com/9053044/100005127-78cd5900-2d96-11eb-926d-4c2fb8e24bfe.png">

[2020-11-23 19:43] a-dawg commented on #8604
my bad, I meant this is not available from the awx collection

[2020-11-23 19:48] mabashian commented on #5884
@unlikelyzero @tiagodread I think must have been fixed at some point.  Unable to reproduce.

![jt_delete](https://user-images.githubusercontent.com/9889020/100008083-f8f5bd80-2d9a-11eb-8097-81b054272905.gif)

[2020-11-23 19:56] mabashian commented on #7656
This now matches the form field value:

<img width="1413" alt="Screen Shot 2020-11-23 at 2 56 06 PM" src="https://user-images.githubusercontent.com/9889020/100008910-0eb7b280-2d9c-11eb-8eaf-418d5b68f680.png">

so I'm inclined to just close this issue

[2020-11-23 19:56] #7656 closed, assigned to nobody

[2020-11-23 20:11] mabashian commented on #7996
@tiagodread @unlikelyzero tested this one out locally and was no longer able to reproduce:

<img width="1477" alt="Screen Shot 2020-11-23 at 3 11 01 PM" src="https://user-images.githubusercontent.com/9889020/100010356-25f79f80-2d9e-11eb-921c-082dee10ad30.png">

I think that request noted in the error was being erroneously made.  I don't see that request being made anymore.

[2020-11-23 20:27] mabashian commented on #7994
The same thing exists in the old UI:

<img width="1680" alt="Screen Shot 2020-11-23 at 3 22 06 PM" src="https://user-images.githubusercontent.com/9889020/100011417-b08cce80-2d9f-11eb-885c-7c1958af9c64.png">

This is because and options request to `/api/v2/hosts/:id/groups` returns `POST` in the `actions` object (seemingly erroneously).  That's what the UI uses in order to determine whether or not

[2020-11-23 20:29] mabashian commented on #7994
Removing priority so it can be re-prioritized based on the fact that it's no longer a UI feature parity regression.

[2020-11-23 21:33] mabashian opened #8660 "Inventory -> Groups List action buttons are missing tooltips while disabled"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Talking about these buttons:

<img width="1408" alt="Screen Shot 2020-11-23 at 4 29 57 PM" src="https://user-images.githubusercontent.com/9889020/100017623-34978400-2da9-11eb-902f-e6826ac75293.png">

The `Run Commands` button should/could arguably be hidden for a user that cannot perform that action.  I believe we hide this button in the old UI.  If we

[2020-11-24 01:32] PC-Admin commented on #5165
I experienced this same issue with Ansible 2.9.6 and AWX 15.0.1 using the 'tower_job_template' and 'tower_inventory' modules.

[2020-11-24 03:22] sugitk opened #8662 "[RFE] To configure the maximum number of simultaneous logged in sessions for Web UI and API separately"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

"Maximum number of simultaneous logged in sessions" parameter can manage the maximum number of sessions for each user.  The customer wants to manage them separately.

[2020-11-24 07:28] Murtuza-Calsoft opened #8663 "Error from server deployment.apps not found awx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

Hey guys,

I am trying to configure AWX in kubernetes but while executing yaml, i am gettin

[2020-11-24 09:14] ajila-fmeyer commented on #5230
Issue still exists with AWX 15.0.0.
Solution from @AntonSergievitch is working but I think not permanently.

[2020-11-24 14:13] gforster opened #8664 "Add rocket icon to Launch button"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I have a number of users who are very confused the first time or two with the relationship between the Launch button and the rocket icon used to launch jobs in other places. My suggestion is to tie the two together by adding the icon to the Launch button so that there is an immediate recognition.

[2020-11-24 14:21] unlikelyzero commented on #5629
@mabashian @jlmitch5 i am unable to filter notification templates by 'type'. Do you want me to include it in this issue or file a new bug

![Screen Shot 2020-11-24 at 9 20 07 AM](https://user-images.githubusercontent.com/12446869/100106276-5e4abc80-2e36-11eb-871b-59d2a8a5a9d6.png)

[2020-11-24 14:32] xding2020 opened #8665 "AWX supporting multiple requirements.yml within the same project/repo"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

According to the [project_update.yml](https://github.com/ansible/awx/blob/devel/awx/playbooks/project_update.yml), it needs requirements.yml to be exactly at <project-top-level-directory>/roles/requirements.yml. However, putting multiple requiremensts.yml (e.g. for different envs) in the same repo is also widely used, such as architecture below:
rep

[2020-11-24 14:48] unlikelyzero commented on #5629
- Filing this as a `bughancement` as most of this functionality was not as accessible in the old ui and so no users encountered the bugs. This would not be required for feature parity.
- Filing with `component:api` as there may be some API change necessary
- Filing with 'priority:medium' as this is not critically impacting the user

[2020-11-24 14:56] wenottingham commented on #8662
A login is a login to the API, UI sessions are a subset of that.

There's nothing separate to track.

[2020-11-24 14:56] #8662 closed, assigned to nobody

[2020-11-24 15:12] ryanpetrello commented on #8662
Also, there's no such thing as "an API login".  While the UI has persistent browser sessions, API requests are stateless (you either use basic auth, or an HTTP header for your OAuth2 token).

[2020-11-24 15:32] AlanCoding commented on #5165
Could you give a playbook and what error your saw? I'm unclear if your issue is just idempotentency, or you're getting errors, or something else. Thanks.

[2020-11-24 15:37] jakemcdermott commented on #4426
I would like to discuss with the api team the possibility of adding an endpoint (or more information to an existing API) to help solve this, as I believe it would reduce a lot of complexity and http calls.

[2020-11-24 16:14] unlikelyzero opened #8666 "[ui_next] Token modal does not display when creating token/application"
### ISSUE TYPE
 - Bug Report

##### SUMMARY
Token modal does not display when creating token/application

##### ENVIRONMENT
* AWX version: a50034be3c9d8257e02a430ff5fc8bd6901b2b58

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2020-11-24 19:06] AlanCoding opened #8669 "Cloud inventory sources give "Inventory File" field although it is not relevant"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The "Inventory file" entry in the inventory source page (API `source_path` field) is only relevant to SCM inventory sources (and maybe "file" type), but it is showing up for types like EC2.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: N/A
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create an E

[2020-11-24 19:14] cschooley commented on #571
+1 for post install docs. In addition to being in the docker group you need to make sure docker is running, and probably set to start on boot. Those docs cover it.

[2020-11-24 19:22] emanuelferguson commented on #8663
I'm getting the same error when trying to deploy to Kubernetes cluster.  Here is my output:

ansible-playbook 2.9.13
  config file = None
  configured module search path = ['/Users/eman/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.8/site-packages/ansible
  executable location = /usr/local/bin/ansible-playbook
  python ve

[2020-11-24 19:48] unlikelyzero opened #8670 "[ui_next] Relaunch against failed hosts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We may need to add Relaunch Jobs against failed hosts for feature parity for the next release of Tower. I don't know if this feature is worth the complexity of testing, development, and support.

This would be on the Jobs List and Job Result Output

[2020-11-24 19:49] unlikelyzero commented on #8670
@mabashian @wenottingham discuss

[2020-11-24 20:07] willhaines commented on #885
Thanks @daniego for the POST bodies for Teams. They are working great for us on manually triggered jobs, but we don't get any notification for scheduled jobs.

I dug into the problem and discovered that the webhook notifier sends an empty body (which causes Teams to ignore the notification all together) if any of the template fields trigger an UndefinedError.

On scheduled jobs "job.summary_fields

[2020-11-24 20:45] jakemcdermott commented on #7602
Adding a note so we remember to remove this work-around once we finish work on this issue: https://github.com/ansible/awx/commit/c0d8474ac6e2c85521b82bec8f3b0bd2990ae755

[2020-11-24 20:51] tiagodread commented on #7565
In the old ui trying to access a 404  route like /xyz automatically redirects the user to the dashboard, in the ui next we have this page:
![image](https://user-images.githubusercontent.com/12464858/100149943-a6410200-2e7d-11eb-9913-bb04a9be9891.png)

Is his behaviour should be added to the ui_next?

[2020-11-24 21:12] AlanCoding commented on #8448
The linked fix made it in 14.1.0, so sounds like you should have that in your environment.

In these cases, when we run `make_local_copy`, we don't hold the exclusive local lock for that project, and if I were to guess from the current information, I would bet that could address this. I have hesitated re-organization to do that, because of the churn it would cause.

I take it that the JT fails, ri

[2020-11-24 21:18] tiagodread opened #8673 "Inventories with sources can be copied in the ui_next"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Any inventory with sources can not be copied in the old UI, but you can do that in the ui next

##### STEPS TO REPRODUCE

1. Create an inventory
2. Navigate to Sourced tab
3. Create a source
4. Navigate to inventories list
5. Click on copy inventory button

##### EXPECTED RESULTS

The user should see a tooltip with the message "inventory with sources

[2020-11-24 21:23] tiagodread opened #8674 "Show copy resource success toast on all pages where resources can be copied"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Success toast isn’t displayed when copying resources

##### STEPS TO REPRODUCE

1. Navigate to inventories
2. Copy an inventory

##### EXPECTED RESULTS

The user should be able to see on the top right of the screen a success toast (like the old UI)

##### ACTUAL RESULTS

The resource is copied but the toast isn’t displayed

##### ADDITIONAL INFORMATION

[2020-11-24 21:25] jakemcdermott commented on #8649
:heavy_check_mark: resolved by:
https://github.com/ansible/zuul-jobs/pull/44
https://github.com/ansible/zuul-jobs/pull/45
https://github.com/ansible/zuul-config/pull/93
https://github.com/ansible/zuul-config/pull/94
https://github.com/ansible/awx/pull/8668
#8607

[2020-11-24 21:25] #8649 closed, assigned to jakemcdermott

[2020-11-24 21:28] nixocio commented on #8673
Related to: https://github.com/ansible/awx/issues/7679

[2020-11-24 21:29] tiagodread opened #8675 "The user can’t copy notification templates"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In the notification template list item, the user cannot copy a notification template

##### STEPS TO REPRODUCE

1. Navigate to notification template
2. Create a new notification template
3. Try to copy this template from notifications list

##### EXPECTED RESULTS

The notification list item should contain a button to copy the notification

##### ACTUAL

[2020-11-24 21:41] wenottingham commented on #8670
Yes, we should reimplement this in the new UI if it is not in the current version of it.

[2020-11-24 22:09] willhaines opened #8677 "Allow chaining undefined attributes in custom notification templates."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

In the template syntax for custom webhook notifications, it is not currently possible to express

    foo.bar if foo and foo.bar are defined, otherwise "baz"

In ansible playbooks this can be done with the [default](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#providing-default-values) filter because undefined values get

[2020-11-24 22:18] bobby0724 commented on #8537
Is there a workaround for this i need to install kerberos packages in the awx-task container in order to support windows hosts

[2020-11-24 23:05] nicolas-g commented on #8537
@bobby0724 the only solution I found was to create my own custom image based on the AWX docker image.

For example, this is how your Dockerfile will look like:
[code]

You build and push your new image to a Docker registry and update your deployment configs to download your new custom image.

[2020-11-25 00:47] r-okui commented on #5415
In my case, this happens only once time after updating AWX.
When "detect collections/requirements.(yml/yaml)" task gets stuck, cancel and relaunch the job will success.
(docker on linux, AWX 15.0.1, Ansible 2.9.15, CentOS 7, 2GB mem)

[2020-11-25 03:01] 00EkZ8 commented on #8663
Enabling logging for this task gives the output
`TASK [kubernetes : Deploy and Activate Postgres (Kubernetes)] ********************************************************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "helm repo add stable https://kubernetes-charts.storage.

[2020-11-25 06:30] annda7 commented on #1731
+1

[2020-11-25 09:16] zaskan opened #8678 "Create an alert when max hosts per organization is set and the inventory gets greater than this setting."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Trying to add hosts from an inventory, the sync job will fail if the maximum number of organization hosts is reached.
The error displayed is the following:

  `host_list declined parsing`

It could be great if the log shows more details of this specific problem, because is being confusing for the users.

[2020-11-25 11:44] jerosa commented on #8278
This would be really helpful, just the installation of git-lfs inside the containers will be enough.

Currently as a workaround once you run the docker-compose, we execute `yum install git-lfs` in all  "awx_task" containers. However we need to check the "delete on update" checkbox in all the projects created in AWX to ensure that the repository is being cloned with LFS installed.

[2020-11-25 11:51] jetxeberria commented on #8278
Making LFS available when AWX starts will be really useful due 2 reasons:
- prevent the activation of LFS by sending commands to containers
- prevent repository deleting and cloning before launching every template

[2020-11-25 12:53] sdktr commented on #1999
Would be really nice to have group info concatenated into a smart inventory when merging regular inventories.

[2020-11-25 13:39] tiagodread commented on #8548
All items was addressed, opened a separate issue to evaluate usage of links in modal, we can safely close this.

[2020-11-25 13:39] #8548 closed, assigned to nixocio

[2020-11-25 13:56] tiagodread commented on #5884
Yeah, I also was unable to reproduce it, I think we can safely close it.

[2020-11-25 14:22] jeczkor commented on #3489
Hi

I see the same issue on Tower 3.7.3.

Maybe the volume of events is too big.

Calling the /api/v2/job_events/ endpoint results in '504 Gateway time-out'

I'm considering modifying the rsyslog rate limits: https://www.rsyslog.com/changing-the-settings/

we're using the default values.

Changing to e.g. :

$SystemLogRateLimitInterval 1
$SystemLogRateLimitBurst 100

might help

[2020-11-25 15:43] mabashian opened #8680 "Bulk delete of tokens doesn't list personal access tokens"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Tokens aren't named so we'll have to get creative here.  It looks like we're currently displaying the application name (if present).  Note that 3 rows are selected but only one listed in this screenshot:

<img width="1435" alt="Screen Shot 2020-11-25 at 10 39 25 AM" src="https://user-images.githubusercontent.com/9889020/100249614-c10d8800-2f0a-11eb-99d

[2020-11-25 15:44] mabashian commented on #8675
This is a dupe of #7879

[2020-11-25 15:44] #8675 closed, assigned to nobody

[2020-11-25 15:46] mabashian commented on #8673
Yea, this will be solved by https://github.com/ansible/awx/issues/7679.

If we decide that we don't want to do https://github.com/ansible/awx/issues/7679 then we should remove the copy button from rows with sources.

[2020-11-25 15:46] #8673 closed, assigned to nobody

[2020-11-25 15:48] mabashian commented on #8680
This error is also thrown to the console because tokens don't have names:

<img width="1075" alt="Screen Shot 2020-11-25 at 10 48 01 AM" src="https://user-images.githubusercontent.com/9889020/100250517-bf908f80-2f0b-11eb-90b4-a65b0522f9b3.png">

[2020-11-25 15:53] xstasi opened #8681 "RFE: Make it possible for workflows to run in batches"
##### ISSUE TYPE

 - Feature Idea

##### SUMMARY

A customer would like to run a workflow on a pool of machines splitting the run in batches, akin to the `serial:` feature of Ansible.

Using `serial` itself though would mean that only a certain step of the workflow is batched up, while the requirement is for the whole workflow to complete on one batch before moving to the next one.

[2020-11-25 17:16] tiagodread commented on #7996
Yeah, I also was unable to reproduce this one, I think we can safely close it too.

[2020-11-25 17:46] #5884 closed, assigned to nobody

[2020-11-25 18:23] jakemcdermott opened #8685 "Update nodejs to LTS v14"
##### SUMMARY
Update nodejs to LTS v14

https://nodejs.org/en/about/releases/

[2020-11-25 18:29] jakemcdermott commented on #5958
Done, see https://github.com/ansible/awx/pull/8607

[2020-11-25 18:29] #5958 closed, assigned to nobody

[2020-11-25 18:30] kedark3 opened #8686 "AWX Project module should allow forcing update"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We need to have ability to force project update in our tower using where we are using infrastructure as code. I am aware of the fact that we have `project_update` but Sean and I talked and he has initial code https://github.com/ansible/awx/compare/devel...sean-m-sullivan:project_update here.

Opening this issue to add visibility.

Adding this enhanc

[2020-11-25 19:27] jakemcdermott commented on #8685
Actually, closing as I'd like to track this in a different project :hourglass: .

[2020-11-25 19:27] #8685 closed, assigned to nobody

[2020-11-25 19:32] tiagodread commented on #4212
@AlexSCorey @unlikelyzero @mabashian in terms of testing, it’s been a pain know when the page is fully loaded because sometimes we have nested requests, I wonder if is possible to throw up an event that could be easily listened by the test, to know when the page is safely fully loaded.

There's a Open UI Automation standard that helps make it easier: [Page Safe](https://ouia.readthedocs.io/en/late

[2020-11-25 19:39] gdykeman opened #8687 "Tower_Job_Template missing instance_groups"
@AlanCoding @IPvSean

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Tower_job_template module does not include a field to define instance groups.

##### STEPS TO REPRODUCE

tower_job_template module does not include a parameter for setting instance_groups.

##### EXPECTED RESULTS
tower_job_template:
  instance_groups: <instance_group_name>

##### ACTUAL RESULTS
Does not exist

[2020-11-25 19:42] ryanpetrello commented on #277
@wenottingham is this a near-term priority that we should track more closely as an enhancement in the next major release?

[2020-11-25 19:42] ryanpetrello commented on #443
@wenottingham is this a near-term priority that we should track more closely as an enhancement in the next major release?

[2020-11-25 19:45] ryanpetrello commented on #1845
@wenottingham is this a near-term priority that we should track more closely as an enhancement in the next major release?

[2020-11-25 19:45] ryanpetrello commented on #4481
@wenottingham is this a near-term priority that we should track more closely as an enhancement in the next major release?

[2020-11-25 19:46] kedark3 commented on #4481
@ryanpetrello pretty please :pleading_face:

[2020-11-25 19:46] ryanpetrello commented on #5076
@wenottingham is this a near-term priority that we should track more closely as an enhancement in the next major release?

[2020-11-25 19:49] ryanpetrello commented on #6412
@jakemcdermott @wenottingham is this a near-term priority that we should track as part of the upcoming UI rewrite?

[2020-11-25 19:52] ryanpetrello commented on #7523
@wenottingham is this a near-term priority that we should track more closely as an enhancement in the next major release?

[2020-11-25 19:52] ryanpetrello commented on #7704
@wenottingham is this a near-term priority that we should track more closely as an enhancement in the next major release?

[2020-11-25 19:55] unlikelyzero commented on #5884
Covered by 5741

[2020-11-25 20:04] unlikelyzero opened #8688 "[ui_next] Host filter lookup modal has Z-Depth issues with the dropdown component"
#### ISSUE TYPE
 - Bug Report

##### SUMMARY
Host filter lookup modal has Z-Depth issues with the dropdown component

##### ENVIRONMENT
* AWX version: 1b233aa8cc9fe34dd78124d7a049ccbc1e213b23

##### STEPS TO REPRODUCE
1. Create a Smart Inventory
2. On Smart Host Filter Modal, Click on the filter dropdown
Note: may require empty dataset

##### ADDITIONAL INFORMATION
<img width="1269" alt="Screen Sh

[2020-11-25 20:13] unlikelyzero commented on #8581
Covered by https://github.com/ansible/tower-qa/pull/5727

[2020-11-25 20:14] #8581 closed, assigned to nixocio

[2020-11-25 20:16] unlikelyzero commented on #8610
@nixocio @mabashian filing this as a ux issue and medium as the feature works as designed but the UX is not obvious. 3x people have used it incorrectly

[2020-11-25 20:43] unlikelyzero commented on #8687
@gdykeman which version

[2020-11-25 20:50] gdykeman commented on #8687
@unlikelyzero
Latest in awx_collection
https://github.com/ansible/awx/blob/devel/awx_collection/plugins/modules/tower_job_template.py

[2020-11-25 22:01] unlikelyzero commented on #7996
@tiagodread can you verify that we do have coverage for this one

[2020-11-25 22:42] unlikelyzero opened #8689 "[ui_next] Schedule/details page causes the page to briefly flicker on load"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Adding or Editing a schedule on a resource causes the page to briefly flicker. I think it's rerouting to details by default after attempting another route.

##### ENVIRONMENT
* AWX version: 1e66a977c767fa3a7b5e9960af90afb6875d7015
* Operating System: MacOS 10.15.7
* Web Browser: Chrome 89

##### STEPS TO REPRODUCE
View a Schedule's details page on a re

[2020-11-25 22:46] unlikelyzero opened #8690 "[ui_next] Cannot sort Schedules list by Job Type"
##### ISSUE TYPE
 - Bug Report
 - Enhancement

##### SUMMARY
In the initial design of schedules, we wanted to allow the user to sort by type. https://github.com/ansible/awx/issues/5857
This currently is not implemented. Filing as a bughancement.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z

[2020-11-25 22:55] unlikelyzero opened #8691 "[ui_next] Schedule Details Toggle has odd calculation for tooltip midpoint calc"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Schedule Details Toggle has odd calculation for tooltip midpoint calc

##### ENVIRONMENT
* AWX version: 1e66a977c767fa3a7b5e9960af90afb6875d7015

##### STEPS TO REPRODUCE
1. Navigate to the Schedule Details page for a Resource
2. Hover over the toggle button

##### EXPECTED RESULTS
Calculate the midpoint over the toggle

##### ACTUAL RESULTS
Calculated

[2020-11-25 23:06] unlikelyzero opened #8692 "[ui_next] Cannot add Survey to Scheduled Jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Surveys are not shown for Scheduled Jobs -- both WFJT and JT

##### ENVIRONMENT
* AWX version: 1e66a977c767fa3a7b5e9960af90afb6875d7015

##### STEPS TO REPRODUCE
1. Attempt to create a schedule with prompted values

##### ADDITIONAL INFORMATION
<img width="1364" alt="Screen Shot 2020-11-25 at 6 05 39 PM" src="https://user-images.githubusercontent.com

[2020-11-25 23:06] unlikelyzero commented on #7692
These may or may not need to split out into this ticket https://github.com/ansible/awx/issues/8692

[2020-11-26 07:20] ninging0829 opened #8693 "Migration from docker to k8s"
Hi AWX,
##### ISSUE TYPE
Is that possible to migrate AWX from docker to k8s since I have a lot of data need to be transferred?
tower-cli seems not working when sent the backup file from docker to k8s based.
 Thanks in advance.

##### SUMMARY

[2020-11-26 08:08] CloudComputingGuru commented on #4814
sdfdf

[2020-11-26 09:26] xstasi opened #8694 "[RFE]: Allow workflows to have multliple, programmable, parallel starting points"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

A customer needs to run the same workflow on different parts of their infrastructure, which need to be determined programmatically. Specifically, their use case is patching their whole estate by using a patching workflow that behaves differently according to the group it's being run on.

They are now launching all the jobs separately, but this is ve

[2020-11-26 12:44] JacBra commented on #4852
When I run "ansible-playbook -i inventory install.yml" twice, it works.

[2020-11-26 13:54] tiagodread commented on #8073
Covered by:
- container-group-crud.spec.js
- container-group-operations.spec.js
- container-group-tabs.spec.js

Closing this issue.

[2020-11-26 13:54] #8073 closed, assigned to nobody

[2020-11-26 17:17] tiagodread opened #8695 "JT schedule details page crash after editing the JT enabling prompt on launch for inventory field"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
JT schedule details page crash after editing the JT enabling prompt on launch

##### STEPS TO REPRODUCE

1. Create a JT or WFJT
2. Navigate to schedules tab
3. create a schedule
4. Edit this JT to enable prompt on launch for Inventory
5. Navigate to schedules tab -> click on schedule

##### EXPECTED RESULTS

Schedule details page is successfully render

[2020-11-27 07:14] sugitk commented on #2151
Can anyone look into this issue now?

A customer urgently wants this feature.  Unexpected running a job for a production system may cause a critical disaster.

When removing a job template, we can see `Are you sure` dialog.  I suppose this feature is also needed on running / re-running a job.

[2020-11-27 09:41] velzend opened #8696 "Redis socket issue, and work-a-round"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
While trying to run a local AWX instance on my Mac using Docker and Docker compose, the OS was unable to create the socket binding for Redis. It was working without any issue before, and I think the issue started after performing the macOS Catalina upgrade to version 10.15.7 (19H15). Next, I am currently using Docker Engine version 19.03.13.

Long stor

[2020-11-27 10:39] Spredzy opened #8697 "User Details link is currently broken"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

When clicking on User Details one is being taken to `https://url/users/1/details/` instead of `https://url/#/users/1/details/` leading to a 404.

##### ENVIRONMENT
* AWX version: devel
* AWX install method: N/A
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: Firefox

##### STEPS TO REPRODUCE

* Install
* Log In
* Admin > User Details
*

[2020-11-27 13:15] mooky31 opened #8698 "RFE: Support MS-CHAPv2 for RADIUS authentication"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Actually, RADIUS authentication uses the PAP protocol.
It would be more secure to use MS-CHAPv2.
Or even better, to allow the user to choose.

##### ENVIRONMENT
* AWX version: 10.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: Debian Buster
* Web Browser: Firefox 68.4.1ESR

##### ST

[2020-11-27 13:32] stahloss commented on #881
@AlanCoding We're at AWX 15.0.1 and it seems I don't have the option to provide credentials to Workflow Templates through the UI. Is it not implemented yet?

[2020-11-27 14:27] tiagodread commented on #8373
Closing this after merging #8375 tests already merged.

[2020-11-27 14:27] #8373 closed, assigned to mabashian

[2020-11-27 14:38] tiagodread commented on #8465
Closing this after merge #8482

[2020-11-27 14:45] tiagodread commented on #8401
Missing filter by view successful and failed?
![image](https://user-images.githubusercontent.com/12464858/100460523-1631d100-30a6-11eb-8b3f-18bb159643b7.png)

[2020-11-27 15:29] unlikelyzero commented on #8697
This is a dupe of https://github.com/ansible/awx/issues/8478

[2020-11-27 15:29] #8697 closed, assigned to jlmitch5, jakemcdermott

[2020-11-27 15:32] unlikelyzero commented on #8478
@jakemcdermott this re-re-regressed

[2020-11-27 17:36] tiagodread opened #8699 "Approval notification toggle on WFJT notifications missing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
According to https://github.com/ansible/awx/issues/6425 approval notification toogle should be displayed for o WFJT and Organization, even the documentation mention that only WFJT has approval toogle (not for organization) @mabashian can you confirm?

https://docs.ansible.com/ansible-tower/latest/html/userguide/notifications.html#enable-and-disable-not

[2020-11-27 21:22] tiagodread commented on #7681
Verified that sync icon is displayed only for inventories

[2020-11-27 21:22] #7681 closed, assigned to nixocio

[2020-11-28 23:15] nickhildebrandt opened #8701 "Installation fails in LXC"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
Whenever I install AWX under ProxMox in a Debian 10 LCX container with Docker Compose I get this error message after running the installation playbook
###### Error message:
fatal: [localhost]: FAILED! => {"changed": false, "errors": [], "module_stderr": "Creating awx_web ... \n\u001b[1A\u001b[2K\nCreating awx_web ..

[2020-11-30 12:40] tiagodread commented on #7996
@unlikelyzero Yes, we cover this in auditor-journey.spec.js

[2020-11-30 13:40] tiagodread commented on #7989
Verified that the edit/delete button is not displayed for users that don't have permissions.
We already have stubs to cover this in auditor-journey.spec.js

[2020-11-30 13:40] #7989 closed, assigned to mabashian

[2020-11-30 14:33] tiagodread commented on #8606
Closing this issue, the PR was merged and test are covered in 5745

[2020-11-30 14:33] #8606 closed, assigned to mabashian

[2020-11-30 14:35] swatinarvekar opened #8702 "RFE: Add extra_vars for callbacks to the log for external logger like Splunk"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I can see the extra_vars of JT from Activity Stream logging as below. However, I cannot see extra_vars for callbacks in there. So it would be great we can see those from Splunk.
[code]
PS: Also not able to find any  "Activity Stream update entry" for callbacks jobs.

[2020-11-30 16:12] AlanCoding opened #8704 "Need a better UI login redirect"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The new UI gives error messages from the API fairly unedited. This is great in most cases, but when my login has expired and I need to login again, the API advice is taken out of context, and the UI should build something that correctly links to its own login.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: N/A
* Ansible version:  N/A
*

[2020-11-30 16:34] gamethis opened #8705 "Allow containers to use internal yum/dnf repos"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
due to security restraints I need to be able to use internal repos for the images that are built.
currently when the docker image is used it points external public repos.
I would like to see some variables added in to point the `baseurl`for each of the yum repos in centos8 container to point to my internal repositories. when building awx instance.

[2020-11-30 17:51] Nascentes commented on #5305
Just noting that we hit this issue on an upgrade from 9.x to 15.0.1. Setting ownership to /var/lib/nginx to nginx:nginx in the awx_web container also fixed the issue for us.

[2020-11-30 18:13] tiagodread opened #8707 "The user is unable to remove the organization from the credentials form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Trying to edit a credential removing the organization and hit save looks like this information was not updated on the details tab and the edit form.

##### STEPS TO REPRODUCE

1. Create a new organization (fill in the organization field)
2. Edit this credential removing the organization and hit save

##### EXPECTED RESULTS
The organization field is uns

[2020-11-30 18:53] tiagodread commented on #8276
Verified that Org is required only for Galaxy type, also added a stub for it in 5744

[2020-11-30 18:53] #8276 closed, assigned to nixocio

[2020-11-30 19:01] AlexSCorey opened #8708 "Search by role ID does not return roles granted via team"
If I am on an access list in the UI, I can search by a role ID and get a list back of all of the users granted that role directly, but I do not get back a list of users granted that role via a team.

##### ISSUE TYPE
 - Bughancement

##### SUMMARY
If I am searching for all users who have admin rights on a JT. I should get back the sys admin, org admin, org jt admin, specific JT admin and I do for

[2020-11-30 19:05] wenottingham commented on #8705
The baseurls in the repos inside the container come from CentOS itself; if you want to do this, you'd need to point at a different CentOS base image. We're not going to rewrite the yum repo files from CentOS itself.

[2020-11-30 19:05] #8705 closed, assigned to nobody

[2020-11-30 19:12] wenottingham commented on #8702
There is no job creation activity stream entry at all for a callback job? That would appear to be the main issue.

[2020-11-30 19:13] AlanCoding opened #8709 "job_explanation and result_traceback are not shown for failed jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory updates (and maybe other job types, have not checked) with "error" status are not displaying information in the UI that is expected to be shown.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: N/A
* Ansible version:  N/A
* Operating System:
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Run an inventory update that produces a

[2020-11-30 19:14] wenottingham commented on #8701
Hi -

This is not part of our install test matrix (and likely won't ever be). You may need to do some digging on this yourself to see what the specific docker compose errors are.

[2020-11-30 19:27] wenottingham commented on #8698
This would need done in upstream django-radius before we'd do anything in AWX.

[2020-11-30 20:46] wenottingham commented on #8681
Given how inventory works in a workflow, and how different workflow steps could have entirely different inventories attached, I don't think this is a feasible thing to implement in the current way workflows work. Even if there was a way to do this, it would need to be entirely separate workflow runs unrelated to each other.

My suggestion would be if there is a desire to canary test workflows, is

[2020-11-30 20:46] #8681 closed, assigned to nobody

[2020-11-30 20:47] wenottingham commented on #8687
-> #8604

[2020-11-30 20:47] #8687 closed, assigned to nobody

[2020-11-30 20:53] wenottingham commented on #8694
Is the goal to just "run a workflow on multiple inventories"?

[2020-11-30 20:57] AlanCoding commented on #7061
We have merged things for the first part of this. Next part is that `execution-environments` branch gets rebased, and after that, we can start the actual containerization of inventory updates.

[2020-11-30 21:22] wenottingham commented on #5076
The approle bits were already merged, it is just LDAP/AD which is not.

[2020-11-30 21:23] wenottingham commented on #6158
Closing per prior comment, please reopen with any new use cases.

[2020-11-30 21:23] #6158 closed, assigned to nobody

[2020-11-30 21:33] nixocio opened #8712 "No error is raised when editing a credential type that does require organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

No error is raised when editing a credential which credential type does require an organization to be created.

##### ENVIRONMENT
* AWX version devel.
* AWX install method: docker

##### STEPS TO REPRODUCE

1. Create a credential of type `Ansible Tower`, and do not provide an Organization.
2. Patch the just created credential to change its type to `An

[2020-11-30 21:33] wenottingham commented on #8678
Can you post the full output?

[2020-11-30 21:34] wenottingham commented on #7704
This reads as a subset of stats to track in https://github.com/ansible/awx/issues/8629, not just "redis stats"?

[2020-11-30 21:55] wenottingham commented on #6478
I would note that even if you use PSRP, this doesn't exactly work in the manner specified here - Ansible requires access to cmdlets and .NET functions that effectively bypass any JEA configurations that are placed on it. Same reason why you can't restrict sudo commands with Ansible.

[2020-11-30 22:03] wenottingham commented on #5113
This issue feels obsolete; it should be handled on the AA side, with a new issue opened if we're missing something.

[2020-11-30 22:03] #5113 closed, assigned to nobody

[2020-11-30 22:06] wenottingham commented on #5083
On the one hand, I understand this.

On the other, given https://github.com/ansible/awx/issues/6134, we should probably *not* do this fallback to another IG.

[2020-11-30 22:08] wenottingham commented on #6478
per @jborean93: "considering it’s now supported I think we should [add it]."

[2020-11-30 22:10] wenottingham commented on #6680
-> #4693

[2020-11-30 22:33] nitzmahone commented on #6478
It seems like a good candidate for the default execenv in v.next, whatever that looks like...

[2020-11-30 23:17] wenottingham commented on #4912
Given the way we are splitting control & execution, not sure this makes sense initially. TBD.

[2020-11-30 23:21] one-t commented on #4912
Agreed, it doesn't make a lot of sense with the architectural direction we're taking now.

[2020-11-30 23:40] shen3lu4 opened #8713 "postgresql db size very large and keeps growing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Scheduled clean up job to remove jobs older than 20 days every week. And I can see older jobs being removed from the jobs webpage. However, the database doesn't seem to reduce in size. It is currently over 1.1TB and growing. We only have a handful of projects/templates configured in the system. What else could be taking the space?

##### ENVIRONMENT
*

[2020-12-01 00:04] shanemcd commented on #8713
Hello. AWX 3.0.1 came out nearly 2 years ago at this point. Please upgrade to a more recent version and see if it helps.

[2020-12-01 01:25] #4912 closed, assigned to nobody

[2020-12-01 02:47] unlikelyzero commented on #8704
@AlanCoding i think this would be solved by https://github.com/ansible/awx/issues/8272 , but at least we're handling the specifics of the behavior better than we did in the old ui https://github.com/ansible/awx/issues/3319

[2020-12-01 08:24] iamgp21 opened #8714 "Cannot Install AWX with option of building your own image instead of dockerhub"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method:  docker on linux
* Ansible version:  2.9.10
* Operating System:  Oracle Linux
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

Modify the inventory files as per below :-  have removed/commented attribute :- dockerhub_base=ansible

[all:vars]

# Remove these lines if you want to run a

[2020-12-01 10:31] dinup24 opened #8715 "AWX installation on Kubernetes fails - incorrect helm repo"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX installation on Kubernetes fails due to incorrect helm repo. Followed the instructions documented here - https://github.com/ansible/awx/blob/devel/INSTALL.md#kubernetes

Encountered the following error during installation.
[code]

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: Kubernetes (docker desktop)
* Ansible version:  2.9.14
*

[2020-12-01 11:26] kakawait opened #8717 "LDAP map to Team (or organization) using attributes instead of group"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently (except if I've missed something, so please teach me), we can map user to organization or team using LDAP groups.
However, in my use case, the real "team" value is not a LDAP group but a simple attribute.

In other product, called Sonatype Nexus 3, there is a notion of dynamic group that do the stuff:

https://help.sonatype.com/repomanager

[2020-12-01 13:13] jhnnsg commented on #8715
I opened an identical pull request nearly a month ago. Please review #8534 or this one. There have been serveral issues with this exact problem.

[2020-12-01 14:11] riccardodorh280 opened #8720 "Why Cloudforms inventory source disappear in the newest releases?"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

 Hello Guys,
i currently have (and i really appreciate) an installation of AWX version 3.
Now i moved to AWX 14.1 and after the installation process i noticed that there is no Cloudforms Inventory Source and this is a big problem for my organization because we use cloudforms to manage lots of ovirt installation and to expose playbook through buttons o

[2020-12-01 14:17] mrrauch commented on #8455
@jean-christophe-manciot I was able to get this working by modifying the compose.yml at awx/installer/roles/local_docker/tasks/
I changed
- file: redis.conf
      mode: "0664" --> "0666"

Seems like it needs read and write access for all

[2020-12-01 14:35] #7996 closed, assigned to nobody

[2020-12-01 14:36] iamgp21 commented on #8714
Hi Could anyone help here ?

[2020-12-01 14:36] #8541 closed, assigned to marshmalien

[2020-12-01 14:49] shen3lu4 commented on #8713
@shanemcd Thanks yes that's our plan but was hoping to reduce the size of the volume before doing that.

In order to upgrade to the latest awx release from 3.0.1 there are many releases in between. We cannot find info about an upgrade path. Do you have any recommendation on which intermediate releases can be skipped? We used to follow the tower upgrade documentation but it looks like the awx versi

[2020-12-01 16:05] shanemcd commented on #8713
The only recommendation I can provide is that you perform a backup beforehand.

In any case, this issue tracker is for bugs in AWX itself. If you need help beyond that, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-12-01 16:06] shanemcd commented on #8714
In the future it would be helpful if you took the time to properly format your issue. In any case, this issue tracker if for bugs in AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-12-01 16:06] #8714 closed, assigned to nobody

[2020-12-01 16:08] ryanpetrello commented on #8663
Should be resolved via https://github.com/ansible/awx/pull/8534

[2020-12-01 16:08] #8663 closed, assigned to nobody

[2020-12-01 16:08] ryanpetrello commented on #8715
Should be resolved via https://github.com/ansible/awx/pull/8534

[2020-12-01 16:08] #8715 closed, assigned to nobody

[2020-12-01 16:12] ryanpetrello commented on #8720
Hey @riccardodorh280,

In recent versions of AWX, we've moved to syncing inventory via [Ansible inventory plugins](https://docs.ansible.com/ansible/latest/plugins/inventory.html) from [collections](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html), and removed support for legacy inventory scripts.

Cloudforms does not have a community-supported plugin implementation, so we

[2020-12-01 16:12] #8720 closed, assigned to nobody

[2020-12-01 16:26] shanemcd commented on #8701
At first glance this seems to be an issue with either docker or docker-compose. I dont think we'll be much help here. You may have more luck on IRC or the mailing list:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-12-01 16:27] shanemcd commented on #8693
Hello. No, this is not something that's supported.

[2020-12-01 16:27] #8693 closed, assigned to nobody

[2020-12-01 16:37] AlanCoding commented on #8704
I guess that does cover it, and I'll close this. The statement seems to take as an assumption that the timeout causes a redirect, but I'm not clear on what the "logout page" refers to.

[2020-12-01 16:37] #8704 closed, assigned to nobody

[2020-12-01 17:46] tiagodread opened #8724 "UI tests broken trying to access any URL using the old format i.e /next/inventories/"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

In the UI tests, we are visiting the URL using the old format `/next/templates/` but trying to do it now redirects to the dashboard page `https://localhost:3001/next/templates#/home`

##### STEPS TO REPRODUCE

1. Visit `https://localhost:3001/next/templates` directly

##### EXPECTED RESULTS

See the template list page maybe?

##### ADDITIONAL INFORMAT

[2020-12-01 17:55] dswan2 opened #8725 "Syncing of imported inventory file just hangs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory sync is failing when importing an inventory from a project.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.14
* Operating System:  Windows 10
* Web Browser:     Chrome

##### STEPS TO REPRODUCE

1.  Create a project to clone a repo
2.  Create an inventory source to import an inventory fi

[2020-12-01 18:01] ryanpetrello commented on #8725
@dswan2,

Are you *actually* running stable 15.0.1, or have you cloned `devel`?

(see: https://github.com/ansible/awx/blob/devel/INSTALL.md#clone-the-repo)

[2020-12-01 18:05] AlanCoding commented on #8725
Could you check the `task_system.log` server logs and see if anything comes up there? When you say it hung, is it in the running state? Could you check `ps aux --forest` and see if there's a process running in the dispatcher corresponding to this job?

[2020-12-01 18:49] jakemcdermott commented on #8465
reopening - in the above screenshots, we actually want the font size shown in the dashboard image for all of the title bars.

[2020-12-01 19:07] jlmitch5 commented on #8465
This is what we want it to look like:

https://www.patternfly.org/v4/demos/primary-detail/react-demos/primary-detail-content-padding/

So for example

[code]

[2020-12-01 19:34] AlanCoding commented on #7058
Proposed resolution for mercurial https://github.com/ansible/awx/pull/8727

[2020-12-01 19:37] AlanCoding commented on #1753
mercurial support is being removed now https://github.com/ansible/awx/pull/8727

[2020-12-01 19:37] #1753 closed, assigned to nobody

[2020-12-01 19:38] AlanCoding commented on #360
Mercurial support is being removed https://github.com/ansible/awx/pull/8727

And the Ansible hg module was moved into `community.general` collection, in the default images we will not be including the mercurial software. Users will be able to create their own custom execution environment to do things with it.

[2020-12-01 19:38] #360 closed, assigned to nobody

[2020-12-01 19:40] nixocio commented on #7157
This issue was addressed by https://github.com/ansible/awx/pull/8726

[2020-12-01 20:31] dswan2 commented on #8725
I cloned head.    That being said, I had the same symptom with 15.0.0

[2020-12-01 20:34] dswan2 commented on #8725
I do not have a task_system.log - Or any other Tower logfiles.    My reading suggests this should be enabled by default, but not the case.   I'm running awx within docker.

Also, there are dispatcher jobs , but none running my Awx job.

[2020-12-02 01:13] unreality commented on #6666
Setting the X-Forwarded-Proto header on your proxy may fix this (it looks like it has for me), eg in nginx:

proxy_set_header X-Forwarded-Proto https;

The social_core lib AWX uses respects the SECURE_PROXY_SSL_HEADER setting in Django for determining if the request is secure (https://docs.djangoproject.com/en/3.1/ref/settings/#secure-proxy-ssl-header), so thats another avenue to explore if settin

[2020-12-02 09:15] SWADESNA opened #8730 "[RFE]: Limit users to see only the job logs for there respective Teams/Orgs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, when a common job template is shared between multiple teams. All users from the teams have access to see logs for all prior runs.

Need a way to limit this so users only see runs from there Org/Team.

For e.g. If I have a common patching template: [COMMON] Linux OS Patching and share with the DBA Team and the Test Team:
if user1 from the

[2020-12-02 12:36] rozgonik opened #8731 "awx.awx.tower_settings does not return expected changes when running in check mode with diff"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running the module with check and diff mode simultaneously does not return the list of expected changes. It only returns that the module will change some unknown thing (by setting the `changed` variable true).
As check and diff mode is mainly used for, erm.. checking, this makes it hard to actually check the correct invocation of the module, especially

[2020-12-02 14:28] balonik commented on #2317
this is still the case for local_docker install in 15.0.1.
the create_preload_data has no effect and demo organization/project/inventory is still created

[2020-12-02 17:58] jakemcdermott commented on #8535
https://github.com/ansible/awx/pull/8563

[2020-12-02 17:58] #8535 closed, assigned to AlexSCorey

[2020-12-02 18:26] wenottingham commented on #8730
Currently, `execute` on a template implies `read` on a template (otherwise, how could you see it to execute it). `read` on the jobs produced by the template is inherited from that. (See https://github.com/ansible/awx/blob/devel/awx/main/access.py#L1556 and related comments).

Changing that last linkage is a very large change to the RBAC model, and is unlikely to happen in the near-to-medium term.

[2020-12-02 19:00] AlanCoding commented on #8725
The output suggests to me that you have not fully loaded the code after the recent inventory changes.

https://github.com/ansible/awx/blob/b65d9ede814828452a93b0fc97f52090aee968b2/awx/main/management/commands/inventory_import.py#L208

This log statement should not occur in inventory updates ran by the server, because this "load" part of the code (running `ansible-inventory`) is swapped out for log

[2020-12-02 19:36] anasskh opened #8734 "vSphere Automation SDK not included, vmware tags not supported in inventory"
##### ISSUE TYPE
 - Bug Report

SUMMARY

VMware dynamic inventory pulling the tag with empty value

STEPS TO REPRODUCE

Sync with vcenter

##### ENVIRONMENT
Ansible 2.9.14
AWX Version 15.1
vshpere 6.5

Sources Variables:

hostnames:
- config.name
keyed_groups:
- key: guest.guestFamily
  prefix: ''
  separator: ''
plugin: community.vmware.vmware_vm_inventory
properties:
- name
- network
- guest
- c

[2020-12-02 19:52] rchaud commented on #5322
If you are still using ssh-dss keys you best solution is to add the following to your host level, group leve or inventory level extra variables in AWX.

`ansible_ssh_common_args: '-o PubkeyAcceptedKeyTypes=+ssh-dss'`

Instead of making any changes to your container files. I was able to get my inventory working after adding this. It is also recommended to upgrade your keys to RSA for security purpo

[2020-12-02 20:06] AlexSCorey opened #8735 "Display Vault ID on Credential Chip for Vaults"
Once is resolved https://github.com/ansible/awx/issues/8532 Credential Chips will be able to properly render the vault ID
Blocked until [this](https://github.com/ansible/awx/pull/8399) merges.  Once this merges we will probably need to make an api request to get the credentials related to the resource in question, which will tell us what type of credentials they are. The credential data that comes

[2020-12-02 20:15] dswan2 commented on #8725
Thank you for your response.

I've stopped containers, removed the images, removed the awx repo, recloned the awx repo (devel), and re-installed, and I'm still getting the same behavior/output.

[2020-12-02 20:32] AlanCoding commented on #6175
Given that info, https://github.com/ansible/awx/pull/7367 is where I would start for a fix.

[2020-12-02 20:56] AlanCoding commented on #881
You can add credentials to workflow nodes (which will apply to 1 job for that node), but you cannot attach credentials to the Workflow Template itself, such that it applies to all jobs inside the workflow.

[2020-12-02 20:59] dswan2 commented on #8725
I cannot find task_system.log either on the host system, or in the awx_task container.   Here is what I could pull from the docker logs of awx_task.   The job # in the AWX gui is #228.   The last line seems to indicate the nature of the error.

[root@localhost awx]# docker logs awx_task 2>&1 | grep "228" |grep 20:44
2020-12-02 20:44:32,933 DEBUG    awx.main.tasks project_update 228 (running) finis

[2020-12-02 21:14] jpell958 opened #8736 "Tower Modules Schedules - Allow multiple days to be selected in a month"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We would like to create an AWX schedule that complies with the Microsoft monthly patch cycle (Patch Tuesday as it is infamously called).  However, instead of the 2nd Tuesday of each month we would like to schedule the 1st Saturday after the 2nd Tuesday of each month.

In other programs we can create an RRULE using the following:
[code]
This will try

[2020-12-03 07:13] fvzwieten commented on #20
+1

[2020-12-03 09:49] xstasi commented on #8694
That is part of the goal indeed, running the workflow on multiple inventories. That is already possible of course using separate job templates, but it does not really scale: when the possible inventories are in the hundreds it becomes unfeasible to maintain them.

Even having a huge inventory and running the workflow multiple times through "limit" would be problematic: for one, hundreds of jobs of

[2020-12-03 13:23] rozgonik commented on #7554
Ran into the same issue. After some investigation i found the culprit:
[The expression `existing_spec = module.get_endpoint(spec_endpoint)`](https://github.com/ansible/awx/blob/8e024c234c6053b6de072d032049ed8cac461f40/awx_collection/plugins/modules/tower_workflow_job_template.py#L274) returns a dictionary similar to this:
`{"json": {"description": "", "name": "", "spec": <... survey spec dict ...>

[2020-12-03 13:36] tiagodread commented on #8620
PR already merged stubs in place, closing this issue.

[2020-12-03 13:36] #8620 closed, assigned to nixocio

[2020-12-03 15:41] AlanCoding commented on #8736
Specifically, how did you enter this, and what response did you get when you tried?

[2020-12-03 15:41] sanjaymsh opened #8739 "Porting the docker-compose build on ppc64le"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I am porting awx build on ppc64le and using centos8-ppc64le. So during building it on ppc64le, i am observing issues like below :
"
/venv/awx/bin/pip uninstall --yes -r requirements/requirements_tower_uninstall.txt
make: /venv/awx/bin/pip: Command not found
make: *** [Makefile:206: requirements_awx] Error 127
Error: error building at STEP "RUN cd /tmp

[2020-12-03 15:48] sanjaymsh commented on #8739
For more detailed info on it, tagging @seth-priya.

Thanks !!

[2020-12-03 16:52] jpell958 commented on #8736
@AlanCoding - We used the scheduling tower module with the raw RRULE of:
[code]
Respone:
[code]

[2020-12-03 18:34] AlanCoding opened #8740 "Cleanup related to execution-environments"
This is purely for development purposes and tracks with the open PR:

https://github.com/ansible/awx/pull/8030

Relevant functionality will be satisfied by new systems, but removal of the old systems may be delayed until later in the development of the PR, or maybe after merge.

 - [x] Isolated jobs should be removed, this includes the `controller` relationship, several python modules, several sup

[2020-12-03 19:13] anthoc opened #8741 "Dynamic AWS inventory source overwrite existing variables when host already exist"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

We are using multiple inventory source for the same inventory and for same hosts.
Some variable are from a dynamic AWS source (like infrastructure information)
Some are from a yml file pulled on a gitlab server (custom variables)
Some are declared manually inside the variables field of the host in the AWX dashboard.

We configured each source with "ov

[2020-12-03 19:22] anthoc commented on #8741
Actually I checked, and even if the host have the same name, AWS inventory source always completely recreate the host (the ID is different) when there are variables manually added or from a different source, whereas gitlab source just append the variables to the existing host, when we trigger the sync from AWS.

[2020-12-03 20:34] shanemcd commented on #8740
- [x] Stop installing ansible from devel
- [x] Remove dependency on community.general from runtime and installer
- [x] Remove usage of Ansible from launch scripts
- [x] Remove Ansible from control plane entirely

[2020-12-03 21:26] anthoc commented on #8741
I enabled the DEBUG mode in the option of the AWS source and here is what I saw :

[code]

So i added the following to my source variables :

[code]

And it is working now but I cannot figure out why such a thing is necessary.

[2020-12-03 22:09] wenottingham commented on #8739
Hi -

Please see https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/1-Jh0fy3AgAJ. The docker-compose installation method is going away in the future, and so we won't be adding new changes for that specifically.

For the image build, the very first task in the docker file installs python3-pip. Maybe that package for your OS is broken?

[2020-12-03 22:09] #8739 closed, assigned to nobody

[2020-12-03 23:16] hjkatz opened #8742 "Duplicate spec key in Ingress kubernetes template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The `.spec` is duplicated in the Ingress kubernetes template here: https://github.com/ansible/awx/blob/devel/installer/roles/kubernetes/templates/deployment.yml.j2#L564

[2020-12-03 23:26] hjkatz opened #8745 "Kubernetes Annotations are improperly quoted (missing quotes)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Kubernetes annotations must be quoted, see issue: https://github.com/kubernetes/kubernetes/issues/67966

They are not, see here: https://github.com/ansible/awx/blob/devel/installer/roles/kubernetes/templates/deployment.yml.j2#L10

Given input:

[code]

Will produce:

[code]

This should instead be:

[code]

[2020-12-04 01:32] AlanCoding commented on #8740
I want to pitch the idea that, for initial merge, we remove the serializer fields (just a few lines). That way, we can correctly adjust integration tests, the UI, and the AWX collection. Then later on we can do the actual migrations and installer work.

[2020-12-04 13:58] watsonb opened #8748 "Assets exported via awx.awx.tower_export should be importable via awx.awx.tower_import"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm working on export/import again to facilitate an AWX "blue/green" deployment scenario.  In the past, I made use of Ansible `shell` module to interact with the `awx` cli tool with mixed results.  Now I'm trying to leverage the `awx.awx.tower_*` modules for a cleaner and more reliable experience.

##### ENVIRONMENT

Instance "A" (awx.example.com)
* AW

[2020-12-04 15:19] chrismeyersfsu opened #8749 "Log Job Lifecycle"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Users want to know why a job isn't running.

More generally, we want to tell user what and when things are happening for a Job in AWX. We can accomplish this if we know the log the lifecycle of a job.

### Job Life-cycle

Many sub-systems in AWX perform operations, both serially and in parallel, on a single Job. Each operation takes time and contribu

[2020-12-04 15:53] #8742 closed, assigned to nobody

[2020-12-04 15:53] #8745 closed, assigned to nobody

[2020-12-04 15:56] tiagodread commented on #8695
PR already merged and stub in place

[2020-12-04 15:56] #8695 closed, assigned to jakemcdermott

[2020-12-04 15:56] hjkatz opened #8750 "Kubernetes Ingress TLS spec is coupled to service routing spec"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The Kubernetes Ingress templates couple the `.spec.tls` section with the `.spec.rules` vs. `.spec.backend` section.

TLS Cert serving from Ingress controllers is not tied to the `rules` nor `backend` but actually to the common name "CN" in the cert.

See:
* Kubernetes: https://v1-17.docs.kubernetes.io/docs/concepts/services-networking/ingress/#tls

*

[2020-12-04 15:59] #2317 closed, assigned to nobody

[2020-12-04 16:34] AlanCoding commented on #8740
- [ ] Remove `AWX_PRIVATE_DATA_DIR` from inventory update job environment variables. This was only used internally, mainly by `awx-manage import_inventory` historically (which is irrelevant now), but we still use it internally as a hack in task logic and tests, so these must be refactored

[2020-12-04 17:03] #8750 closed, assigned to nobody

[2020-12-04 17:48] chris93111 opened #8755 "playbook could not be found with workflow and scm"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
sometime at start workflow job failed immediately with playbook could not be found
next try the same job run perfectly

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker
* Ansible version:  2.8.7
* Operating System: redhat
* Web Browser: chrome

##### STEPS TO REPRODUCE

workflow with multiple jobs same stage

##### EXPECTED RESULTS

[2020-12-04 18:09] chris93111 commented on #8755
i found this in task

Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1523, in run
    self.post_run_hook(self.instance, status)
  File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 2422, in post_run_hook
    self.make_local_copy(instance, self.job_private_data_dir)
  File "/var/lib/awx/venv/awx/lib

[2020-12-04 19:49] chrismeyersfsu opened #8759 "Measure channels maximum performance"
AWX Websockets relies on Channels + the channels redis connection implementation. What is the performance of this subsystem when considering our job event workload?

To answer this question we should write a simple client/server, without considering awx. Note, it might be easiest to shove this code in AWX but won't consider things like user session/group subscription etc.

With this simple client/

[2020-12-04 20:01] chrismeyersfsu opened #8760 "Programmatically detect when channels is overloaded"
There are two ways that I can think of to know that channels are overloaded. (1) log messages start to show up from the channels layer alerting that the queue is overloaded and (2) the receiving side won't get the messages that would overflow the queue. These two methods aren't great and lend themselves to a programmatic detection of overload.

This work may involve reaching into the `channels_red

[2020-12-04 20:09] AlanCoding commented on #8740
Fallout from:

https://github.com/ansible/awx/pull/8598

 - [x] All of the `build_cwd` methods in `tasks.py` should be deleted, no longer used

[2020-12-04 21:46] chris93111 commented on #8755
it's ok , the problem is in nomad with limitation memory for docker

[2020-12-04 21:46] #8755 closed, assigned to nobody

[2020-12-06 12:35] yurtesen opened #8764 "ansible-vault variables are imported with extra empty lines"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am importing inventory from git repository. I understand that AWX needs to use `__ansible_vault` which is fine. However it changes the input data and adds extra empty lines. If the view is changed to JSON the encrypted string has erroneous `\n` characters embedded.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansib

[2020-12-07 03:33] nategerhart opened #8765 "AWX is not pulling roles with ansible-galaxy when a roles/requirements.(yml|yaml) file is present"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When the **Enable Role Download** toggle is enabled in AWX versions 15.0.0 and 15.0.1 roles are not downloaded. It appears that the **Enable Role Download** toggle is either no longer effective, or is being overwritten by another setting/config.

##### ENVIRONMENT
* AWX version: 15.0.0 and 15.0.1
* AWX install method: openshift
* Ansible version:  2.10

[2020-12-07 09:16] jitujk commented on #8455
I'm facing this issue with AWX 13/14.1 & 15.0 too ?
RHEL 7 / SELinux disabled / installed under root ? Can anybody please help me ? Is there a workaround for this bug ?
[awx_install_logs.txt](https://github.com/ansible/awx/files/5651687/awx_install_logs.txt) Uploading the installation log for AWX 13/14 & 15 for reference.

All variables except directories are same, these were kept in their awx[ver

[2020-12-07 10:51] moreiramarti commented on #8765
Same thing here with 15.0.1 on kubernetes

[2020-12-07 13:00] unlikelyzero opened #8767 "[ui_next] Remove User from Team's list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The Team's list shows a list of users under 'Access'. We should allow users to be removed from a Team in the same way that they're removed from an Organization

[2020-12-07 13:02] moreiramarti commented on #8765
@nategerhart I think I figured out why roles_enabld is false.
It's because we need Ansible Galaxy creds for your organization. ;)

[2020-12-07 13:43] Ravio1i commented on #7492
awx-version == 15.0.1
Tower 3.5.6

Same for me. When removing `no_truncate` from `cli/stdout.py`  it works for me, but this is just a workaround digging deep in the code.

[code]

[2020-12-07 14:28] unlikelyzero opened #8769 "[ui_next] Catastrophic failure if changing between resources in wizard after filtering/sorting on wizard steps"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Catastrophic failure if changing between resources in wizard after filtering/sorting on wizard steps. This affects at least the organization add user/team modal, but may be application wide.

##### ENVIRONMENT
* AWX version: d14fa93ce9776754a3524fb9c526a42e79cb7421

##### STEPS TO REPRODUCE
1. Go to Org 'Access' tab
2. Open Add User Wizard
3. Click on

[2020-12-07 15:10] chrismeyersfsu opened #8771 "Job done isn't always correct"
After a job is complete we do post-things like send websocket notification as to the status of the job, process the fact cache, send notifications, and maybe more. There are 5 cases that are not completely correct.

Notifications are triggered when the events processes == events emitted from ansible for all job types other than Job.

1. Notifications for Job's are triggered via playbook_on_stats b

[2020-12-07 15:15] unlikelyzero opened #8772 "[ui_next] Users/n/tokens page is missing tabs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Users/n/tokens page is missing tabs

##### ENVIRONMENT
* AWX version: 12/7/20

##### STEPS TO REPRODUCE
1. Navigate to Users/n/tokens

##### EXPECTED RESULTS
Other tabs like details

##### ACTUAL RESULTS
No tabs

##### ADDITIONAL INFORMATION

<img width="1646" alt="Screen Shot 2020-12-07 at 10 11 33 AM" src="https://user-images.githubusercontent.com/12

[2020-12-07 16:10] nategerhart commented on #8765
@moreiramarti, unfortunately, I don't have an organization on Ansible Galaxy, and never have. It worked just fine without having an Ansible Galaxy cred in 14.1.0 and prior releases. Additionally, for this play my requirements file is referencing several roles that are stored in private BitBucket git repos. I have a **Source Control** credential type saved in AWX which is used to pull those roles.

[2020-12-07 16:19] AlanCoding commented on #8771
With the receptor integration, I think this is the wrong metric.

Consuming the output from a receptor work node is a serial process. There will be 1 control node emitting events as it gets them from the receptor network. Those will go into redis, and yes, the ordering could shift around in that process, but they are all still local to that node.

Maybe at some point we add in robustness for loss

[2020-12-07 16:24] chrismeyersfsu commented on #8771
`In the new system, the EOF event should be completely sufficient to know you have all the events that you are going to get.` This is true in the existing system too.

Note that in the current system, and in the new system job events can be out of order. This is because we have multiple callback receiver processes processing the Redis callback event queue.

[2020-12-07 19:18] AlanCoding commented on #8771
Okay, computing `events processed` is not as bad as I was making it out to be, and so it shouldn't be bad that events remain out-of-order. If the per-job processed event count is maintained in memory of the callback receiver processes, then we could know if the job events are finished or not.

[2020-12-07 19:39] chris93111 opened #8777 "awx collection workflow approval with success node fail"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
apply success node to approval_node fail because success_nodes not exists in /api/v2/workflow_approval_templates/

"msg": "The requested object could not be found at /api/v2/workflow_approval_templates/280/success_nodes/."

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker
* Ansible version:  2.8.7
* Operating System: redhat
* Web Br

[2020-12-07 19:45] mabashian commented on #6593
This view already exists, the tab is just named `Access` instead of `Users`.

[2020-12-07 21:48] #8579 closed, assigned to beeankha

[2020-12-08 00:20] kdelee opened #8784 "UI shows "Invalid Date" for job that is launched and "Running""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

`FINISHED` time says `Invalid Date` on job that says it is `Running`

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Launch job that takes a while to get started, like a job on isolate

[2020-12-08 03:33] 0xbentang opened #8785 "Collections are not cached"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Collections are re-downloaded whenever a job runs. The document mentions `Roles and collections are locally cached for performance reasons, and you will need to select Update Revision on Launch in the project SCM Update Options to ensure this:`

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.14
* O

[2020-12-08 04:42] wenottingham commented on #8785
The docs specifically say: "to ensure that the upstream role is re-downloaded before each job run".

In other words, you set update on launch to ensure you get the behavior you note.

[2020-12-08 04:42] #8785 closed, assigned to nobody

[2020-12-08 05:58] lovleshmalik commented on #8329
I am getting this error when trying to validate Vault URL with SP credentials on Azure GovCloud :
**Max retries 3 times exceeded. Error Details: AADSTS900382 : Confidential Client is not supported in Cross Cloud request.**
Any idea, if this might be related to this issue?

[2020-12-08 08:56] stahloss commented on #881
@AlanCoding Is it possible to do this at launch time? Because if you change the actual workflow node and multiple runs are launched simultaneously, we'll have possible race conditions on the credentials.

[Here](https://github.com/ansible/awx/issues/4349#issuecomment-517294422) I do see a possibility to set credentials on the Workflow at launch. For our use case, we'd like to be able to set one cr

[2020-12-08 09:53] dolgovas opened #8786 "Could not set source_variable when user tower plugin"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
when add source inventory with tower_plugin it wan't work, because source_variable null, and input for it want show
##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.14
* Operating System: macOs
* Web Browser: Firefox

##### STEPS TO REPRODUCE

add source with tower plugin

##### EXPECTED RESULTS

i m

[2020-12-08 09:55] balonik commented on #5303
I would like to have this, it is really required to have a meaningful SAML integration.

[2020-12-08 09:56] dolgovas commented on #8786
![изображение](https://user-images.githubusercontent.com/43605609/101468605-b4e6e900-3954-11eb-807d-d68474672a55.png)
![изображение](https://user-images.githubusercontent.com/43605609/101468713-d6e06b80-3954-11eb-88b5-d93c296a1356.png)

[2020-12-08 11:01] balonik commented on #308
I came here from #809 which I don't think is the same. I don't need to sync SAML users from LDAP for authorization purposes.
I have organization and team mapping working for LDAP and SAML method and it doesn't matter which method user uses, he always gets the same Org/Team membership.
For start it would help if user can login using LDAP if the user was created via SAML (the opposite works as descr

[2020-12-08 11:37] balonik commented on #7901
@wenottingham `SOCIAL_AUTH_SAML_ORGANIZATION_ATTR` is there to add users to Organizations automatically based on data from IdP, creating Organizations it's just a side effect not primary function of that field, right?
In combination with #7902 it creates a dangerous situation where renaming Organization brakes access to AWX items for everyone in that Org.
As @mpetrive-rh mentioned you HAVE to do a

[2020-12-08 12:44] moreiramarti commented on #8765
@nategerhart Are you sure you don't have a default organization ?
I started with 15.0.0.

[2020-12-08 15:16] watsonb commented on #8748
I'm starting to think the jump from 7.0.0 to 15.0.1 is just too much.  I just rolled out a fresh 7.0.0 instance and used `tower-cli receive | tower-cli send` and the export/import works much better.

As such, my plan is:

- Roll out a fresh AWX 7.0.0 (instance "B")
- leverage `tower-cli` to export/import assets from existing instance "A" to new instance "B"
- Perform in-place upgrade on instance "

[2020-12-08 15:41] chazemery commented on #6812
@ryanpetrello any idea if the fix will be included in an upcoming Ansible release?

[2020-12-08 15:45] ryanpetrello commented on #6812
@chazemery this should already be resolved in newer versions of AWX (we merged a fix 6 months ago).

[2020-12-08 15:58] wenottingham commented on #8786
What does your configuration look like?

[2020-12-08 16:49] wenottingham commented on #7901
This was fixed in https://github.com/ansible/awx/pull/8069

[2020-12-08 16:49] #7901 closed, assigned to nobody

[2020-12-08 16:50] opfpqgoon commented on #8329
@lovleshmalik where are you getting that error?  Which UI page in AWX and following what procedures?

[2020-12-08 17:12] emanuelferguson commented on #8454
I'm seeing this issue here on the latest pull from the devel branch. I'm still getting this error here below:

2020-12-08 17:05:28,678 DEBUG    awx.main.dispatch task f800c829-7790-4052-b434-08b535ca89c4 starting awx.main.scheduler.tasks.run_task_manager(*[])
2020-12-08 17:05:28,680 DEBUG    awx.main.scheduler Running Tower task manager.
2020-12-08 17:05:28,685 DEBUG    awx.main.scheduler Starting

[2020-12-08 18:21] balonik commented on #8765
@moreiramarti I can confirm this happens on 15.*.
Project syncs of our organizations without Ansible Galaxy credentials set on Organization level ignored `requirements.yml` files and skipped the related tasks in `project_update.yml`.
This was not the case in earlier versions.

Setting dummy Ansible Galaxy credentials on Organization level fixed the issue, but I think this is more a workaround than

[2020-12-08 19:22] unlikelyzero opened #8788 "[ui_next] SCM Branch override is totally borked for JT, WFJT, and WFViz Node Add/Edit forms"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When enabling SCM Branch override, the JT Add/Edit and WFViz Node Add/Edit forms. This seems to be broken across the application.

##### ENVIRONMENT
* AWX version: be08e0ce695dc2d6b2b260b93dc23939ce4fcd6f

##### STEPS TO REPRODUCE
JT Add/Edit
1. Add SCM Branch override to an existing project.
2. Save and Sync
3. Add or Edit a JT Form sourcing that proj

[2020-12-08 20:29] tiagodread opened #8789 "Add extra text to the workflow inventory step when it's promptable"
##### SUMMARY

This is a follow-up on https://github.com/ansible/awx/issues/5913 specifically for:

See also: https://github.com/ansible/awx/pull/8399#issuecomment-740205736

[2020-12-09 04:01] nategerhart commented on #8765
@moreiramarti I don't have a **Default** organization but I do have another organization by a different name, I'm not sure if that matters or not. I tried adding a dummy credential of the **Ansible Galaxy/Automation Hub API Token** type and assigning it to the named organization. My playbook still failed to execute because it couldn't find the needed role. Checking the SCM Update job, it shows tha

[2020-12-09 07:01] dolgovas commented on #8786
![изображение](https://user-images.githubusercontent.com/43605609/101596065-79f0be00-3a05-11eb-940f-f6d94c1ffe95.png)

[2020-12-09 07:35] Weilbyte opened #8791 "Allow selection of project subdirectory"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I have a Git repository that has multiple folders in the root (`ansible`, `packer`, `terraform`) and importing it as a project in AWX works, sort of. But the issue comes in with installing `requirements.yml`, because the file is in `ansible/roles/requirements.yml` it does not seem to get picked up by AWX.

It would be very nice if there was an option

[2020-12-09 08:27] lucas-benedito opened #8792 "Allow to add a new choice for a existing variable in custom credential type after it is already in use"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I made a form with choices in a custom credential type, this custom credential type is in use in a credential.
if I modify a var name in the INJECTOR, it's fine, but if I want to add a choice for a var already existing I get an error message :

Modifications to inputs are not allowed for credential types that are in use

I could understand if I was t

[2020-12-09 09:25] Weilbyte commented on #8791
The `requirements.yml` issue: https://github.com/ansible/awx/issues/106

[2020-12-09 09:41] azrdev opened #8793 "document special _awx_description variable"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
#6966 /  #6265 added a host/group-variable `_awx_description` to be used by external inventory sources. This var should be mentioned in the documentation.

[2020-12-09 11:49] ryanpetrello commented on #8454
@emanuelferguson you might want to make sure you're actually deploying the latest AWX release.  The line number you've referenced (287) doesn't match this source line in `devel`:

https://github.com/ansible/awx/blame/devel/awx/main/scheduler/task_manager.py#L288

[2020-12-09 13:32] ephracis commented on #5305
I am seeing this in both 15.0.1 and 11.2.0 when deploying on a completely new machine (no upgrade).

Running chmod after the container is started fixes it but it this is a WO and not a proper fix. What if my container restarts?

[2020-12-09 13:44] unlikelyzero opened #8794 "[ui_next] In WFJT Output view, clicking on an approval node sends user to /jobs/"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In WFJT Output view, clicking on an approval node route the user correctly

##### ENVIRONMENT
* AWX version: 12/9

##### STEPS TO REPRODUCE
1. Make a workflow with an approval node which remains in running state
2. Run workflow
3. Click on the approval node

##### EXPECTED RESULTS
1. Navigated to the Approvals page

##### ACTUAL RESULTS
Empty Job page

[2020-12-09 14:20] mabashian commented on #8788
@tiagodread reported some broken validation behavior in the WF node prompt wizard involving this bug.  To whoever fixes this: please also look at the launch/wf prompt wizards and make sure that validation is running correctly and errors are displayed correctly under the field.

[2020-12-09 14:22] unlikelyzero opened #8795 "[ui_next] Deleting an org with an attached application token does not inform user that application will be deleted"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Deleting an org with an attached application token does not inform user that application will be deleted. I think we should add some text with the impact. Doesn't even need to list all of the applications being deleted.

##### ENVIRONMENT
* AWX version: 12/8

##### STEPS TO REPRODUCE
1. Create an Org to Delete
2. Create an application attached to that

[2020-12-09 14:27] unlikelyzero commented on #3428
https://github.com/ansible/tower-qa/issues/4396 is the testplan

[2020-12-09 14:41] cbois opened #8797 "Color-blind UI"
##### ISSUE TYPE
 - UI : Support "Color-Blind" mode

##### SUMMARY
Color-blind users are "discouraged" to use AWX : Icons displayed in views are quite difficult to differentiate.

For example, here is the `jobs view` (the application Chromatic Vision Simulator was used to illustrate)
![MicrosoftTeams-image](https://user-images.githubusercontent.com/23309218/101643316-4d07cf80-3a34-11eb-9778-4b85ce

[2020-12-09 14:55] mabashian commented on #8789
Blocked until https://github.com/ansible/awx/pull/8399 merges

[2020-12-09 14:57] mabashian commented on #8794
This is a dupe of #8374.  The page that we needed to link to didn't exist until the last few weeks.

[2020-12-09 14:57] #8794 closed, assigned to nobody

[2020-12-09 14:58] mabashian commented on #8788
This is going to be partially blocked until https://github.com/ansible/awx/pull/8399 merges

[2020-12-09 15:25] haught opened #8798 "Notification webhook test feature sending its own format"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The "Test Notification" feature does not have an option to send a formatted test message, it simply sends its own formatted request. The problem when using a webhook is that the formatting can determine if the request is rejected by the service, and as such renders the "Test Notification" useless. When setting up a webhook, it is impossible to actually

[2020-12-09 15:29] AlanCoding commented on #6925
closing this to consolidate. #5283 is the issue for this

[2020-12-09 15:29] #6925 closed, assigned to nobody

[2020-12-09 15:30] AlanCoding commented on #5283
I know that @chrismeyersfsu started looking at this and was coming up with some ideas. Those ideas have not been documented to my knowledge. This is a pretty major chunk of work.

[2020-12-09 17:28] omicronn88 commented on #6140
I experienced a similar problem. But in my case it wasn't a bug. I have an inventory which is updated from custom script. When it was updated every hour some hosts in it ended up without facts. So it seems that during those inventory updates some of the hosts were missing at some point so they were kicked out of the inventory with all the cached facts and at the next update they got back in. We ne

[2020-12-09 18:00] keithjgrant commented on #7825
Our mockups show a more advanced dropdown with something like "1 selected" — is this something to pursue while addressing this fix?

![Screen Shot 2020-12-09 at 9 58 47 AM](https://user-images.githubusercontent.com/410794/101668353-4b72e300-3a05-11eb-9239-6f2ac86529aa.png)

[2020-12-09 18:07] howardjones opened #8800 "Docs "highly recommend" a virtualenv setup that isn't allowed by API"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The docs for a custom virtualenv specifically recommend using a directory outside of /var/lib/awx/venv for a new virtualenv. If you try to do this, the API won't allow you to register the new virtualenv:

    {"custom_virtualenv":["/opt/my-envs/local-env/ is not a valid virtualenv in /var/lib/awx/venv"]}

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX i

[2020-12-09 18:20] wenottingham commented on #8797
We've just landed a new user interface that will be in the next AWX release (16.0). We'd love your feedback on that.

[2020-12-09 18:25] wenottingham commented on #8791
Closing as a duplicate of #106

[2020-12-09 18:25] #8791 closed, assigned to nobody

[2020-12-09 18:30] wenottingham commented on #8786
This was fixed in https://github.com/ansible/awx/commit/0fbc02864e5fb1a21c7ce37869d0becf0f40c576, which is post-15.0.1. It should be fixed in the next release.

[2020-12-09 18:30] #8786 closed, assigned to nobody

[2020-12-09 18:46] mabashian opened #8801 "Changing workflow node from a JT that prompts for cred to one that doesn't throws 400"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
For some reason this sounded familiar and I looked back through old issues to see if this was already tracked/expected behavior but I couldn't find anything.

Here's the scenario:

1) Create two job templates.  The first should not have any prompts, the second should prompt for cred but no defaults
2) Create a WFJT
3) Create a single node in the WFJT t

[2020-12-09 18:58] trahman73 commented on #7825
Here are the PF guidelines for the bulk select we want to use. (Whenever we get to this...)
https://www.patternfly.org/v4/guidelines/bulk-selection

[2020-12-09 19:15] ryanpetrello commented on #8792
Hey @lucas-benedito,

If I recall, the way we implemented this was "no schema changes for types associated with actual credentials".  It sounds like there are probably enhancements we could make to this where we detect if schemas _actually_ some breakage, but that could be a complicated thing to determine (in this case, for example, we'd have to effectively check a diff of the choices, and what if

[2020-12-09 21:00] mabashian commented on #8596
Yea, I hit this by spamming the relaunch button 5-10 times

[2020-12-09 23:11] yurtesen opened #8805 "Job console messes up text and scrolling"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am using AWX 15.0.1. I tried to enable showing less information in job output using global job environment variables:
[code]
First things look normal, but many `included: ...` statements later some empty lines start coming in from bottom and then the scroll follow option stops working. If I try to manually go up/down then lines appear disappear sort

[2020-12-09 23:13] regner commented on #8765
We are running into the same issue. We are running 15.0.1. We deleted the default organization and created our own. After encountering this issue we attempted to create some new default Anisble Galaxy credentials for our own org in AWX. After having done that the project update still does not install the requirements.yaml file.

[2020-12-10 01:21] sugitk opened #8806 "Enabling Job output filter during running"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When running a very large job, a customer wants to filter the output only in `PLAY` lines in order to see the proceeding job.  At the current version of Tower cannot set/configure a filter when running, it will be helpful to enable the filter for the purpose.  Also if it enabled the `collapse` (+/- icon) during the running job, the UI could be more

[2020-12-10 07:19] nicohouillon commented on #1747
I don't see tags either at workflow level , was that really implemented ? if not that would be helpful for sure

[2020-12-10 08:16] djordje-petrovic commented on #8725
Experiencing the same issue using offical 15.0.1 image. Inventory sync fails/hangs randomly with the following:
`   4.077 INFO     Updating inventory 4: sre-shared
    4.100 INFO     Reading Ansible inventory source: /tmp/awx_84_xa_rwtgl/aws_ec2.yml
    4.102 INFO     Using VIRTUAL_ENV: /var/lib/awx/venv/ansible
    4.103 INFO     Using PATH: /var/lib/awx/venv/ansible/bin:/var/lib/awx/venv/awx/bin

[2020-12-10 08:17] cbois commented on #8797
We'll be pleased to bring you some feedback with this version!
Thanks!

(@cchopin 👈 We need YOU!)

[2020-12-10 08:20] cchopin commented on #8797
I will do a feedback as soon as we install the new version!

Colorblind FTW

[2020-12-10 09:01] Benvandamme commented on #885
@howardjones   Did you find a way to fix this?

Nevermind. Only the "test"-Button is broken.

[2020-12-10 15:14] shanemcd opened #8808 "Remove usage of Ansible from all launch scripts"
In the future, Ansible will only exist inside of an Execution Environment. In order to do that, we need to remove any need for Ansible on the control plane. I have identified the following locations:

https://github.com/ansible/awx/blob/devel/tools/docker-compose/bootstrap_development.sh#L4-L13
https://github.com/ansible/awx/blob/devel/installer/roles/image_build/files/launch_awx.sh#L10-L11
https:

[2020-12-10 15:14] AlexSCorey opened #8809 "Credential Details Flashes Unnecessarily"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Navigating to Credential Details view causing it to flash the loading screen unecessarily.

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker for mac
* Ansible version:  2.9.13
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

From the Credential List, navigate to credential access view. Then, using the tabs

[2020-12-10 15:27] jplitza opened #8810 "Arbitrary role in job_event of tasks directly from playbook with host_pinned strategy"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When executing a playbook with `strategy: host_pinned` (not sure if necessary), the "role" attribute in the job_events of tasks sitting directly in the playbook may be populated with seemingly arbitrary other roles that are included in the playbook.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.1

[2020-12-10 15:35] unlikelyzero opened #8811 "[ui_next] Project revision doesn't update after SCM Sync on Project Lists"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Project revision doesn't update after SCM Sync on Project Lists. Need to refresh

##### ENVIRONMENT
* AWX version: 12/12

##### STEPS TO REPRODUCE
1. Load a project list like /projects/
2. Perform a project sync in which the gitsha value changes
3. Note that the project status has updated but the "copyable" git sha value has

[2020-12-10 15:35] unlikelyzero commented on #8811
Filing as low because it can be fixed on refresh and it didn't ever work on the old ui (as far as I can tell)

[2020-12-10 16:01] unlikelyzero opened #8813 "[ui_next] Users/n/Tokens view allows a user to filter tokens by description. Tokens don't have descriptions on list view"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Users/n/Tokens view allows a user to filter tokens by description. Tokens don't have descriptions on list view

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. Navigate to your user's token tab.
2. Note the options to search/filter by Name and Description

##### EXPECTED RESULTS
If filtering/searching by description, then show descr

[2020-12-10 16:09] unlikelyzero commented on #8480
Feedback from bug bash

- Moving to advanced mode is weird. It is hidden in the “Name” menu/dropdown. The dropdown contains: “Name”, “Advanced” which I find confusing.
- After moving to the Advanced menu, I tried to do some filtering using “or”, “user” and “contains” with some string. Pressing on “search” gives 400 bad request error (see snapshot). I tried several filtering with different modes (o

[2020-12-10 16:10] jplitza opened #8814 "Job results as matrix/table"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Especially when using non-serial strategy plugins (like host_pinned), the stdout view of a Job is totally useless with many hosts.

I would prefer having a table view of tasks vs. hosts with colored table cells:
![grafik](https://user-images.githubusercontent.com/3628012/101797413-4cda0380-3b0a-11eb-9d9a-00c16a2d7ea1.png)

That actually is a screens

[2020-12-10 16:10] AlexSCorey commented on #8809
erroneously created.

[2020-12-10 16:10] #8809 closed, assigned to AlexSCorey

[2020-12-10 16:13] unlikelyzero opened #8815 "[ui_next] Can create a user with a single character password"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can create a user with a single character password. This is obviously not secure. Not sure how much enforcement we want to put in palce

##### ENVIRONMENT
* AWX version: 12/10 devel

##### ADDITIONAL INFORMATION

Generally speaking, I think we should avoid getting to involved in account security, but a single character password is a pretty low bar.

[2020-12-10 16:18] unlikelyzero opened #8816 "[ui_next] Notification Template Custom messages form validation is not displayed but is applied"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Notification Template Custom messages form validation is not displayed but is applied

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. create or edit a Notification Template
2. Modify with an incorrectly formatted message body in Custom Messages

##### EXPECTED RESULTS
Inline form validation
OR
Popup with error

##### ACTUAL RESULTS

[2020-12-10 16:18] unlikelyzero commented on #8816
Filing as medium because it's just bad UX -- not broken functionality. Great opportunity to fix after feature parity.

[2020-12-10 17:15] unlikelyzero opened #8817 "[ui_next] Email fields should not exist for Webhook form on Notification Template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Email fields should not exist for Webhook form on Notification Template

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. Create a notification template for webhooks
Note: email options is a required field. Effectively breaking webhook notification templates

##### EXPECTED RESULTS
1. Only Webhook field options

##### ACTUAL RESULTS

[2020-12-10 17:17] unlikelyzero commented on #6057
bumped again

[2020-12-10 17:26] unlikelyzero commented on #4204
covered in 5783

[2020-12-10 17:26] #4204 closed, assigned to mabashian

[2020-12-10 17:45] unlikelyzero opened #8818 "[ui_next] [UX] List of system admins pollute views of Access tabs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We've had many reports in bug bashes that the listing of system admins pollutes the view of 'Access' tabs. In those 'Access' tabs, the user is _only_ interested in non-system admins. When 4 system admins exist on a system, most basic Access views become unusable. A filtered query can be made but we should consider making that filter (or sorted list) by

[2020-12-10 17:46] unlikelyzero commented on #8818
@trahman73 @mabashian i thought we had already filed an issue for this. Please let me know if this is a dupe

[2020-12-10 17:59] unlikelyzero commented on #8623
bumped

[2020-12-10 18:07] unlikelyzero opened #8819 "[ui_next] Form validation for mismatching passwords is only applied on Save"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Form validation for mismatching passwords is only applied on Save. Often, clientside validation for mismatched password fields

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
Create a new user
Enter two mismatched passwords

##### EXPECTED RESULTS
Inline validation that the fields mismatch before save

##### ACTUAL RESULTS
inline vali

[2020-12-10 18:09] unlikelyzero commented on #8621
bump

[2020-12-10 18:12] unlikelyzero opened #8820 "[ui_next] Users with poor network connectivity have a poor experience on API heavy pages"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Basically we have some forms which need to generate many calls and this has a negative impact on the user experience.

On Workflow Viz Wizard, each step generates many queries and provides a poor experience if you're on a bad connection.

Generally, i think this can be solved with skeleton loading and lazy loading but we should also look at ways to red

[2020-12-10 18:13] unlikelyzero commented on #8820
[code]

[2020-12-10 18:17] unlikelyzero opened #8821 "[ui_next] Visual artifacts when loading the login for the first time"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Visual artifacts when loading the login for the first time

##### ENVIRONMENT
* AWX version: 12/10
* Operating System:
* Web Browser: Chrome 86

##### STEPS TO REPRODUCE
1. Attempt to log in for the first time

##### ACTUAL RESULTS
Visual flickering

[2020-12-10 18:18] unlikelyzero commented on #8821
@elyezer which OS are you running?

[2020-12-10 18:20] unlikelyzero opened #8822 "[ui_next] Console warnings for scrict-mode tree"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Console warnings for scrict-mode tree. Looking alarming.

##### ENVIRONMENT
* AWX version: 12/10
* Web Browser: Chrome 86

##### STEPS TO REPRODUCE
Happens on most pages.
1. Navigate to Jobs Details

##### EXPECTED RESULTS
No console errors

##### ACTUAL RESULTS
Console errors

##### ADDITIONAL INFORMATION
![Screen Shot 2020-12-10 at 1 20 09 PM](https:

[2020-12-10 18:21] unlikelyzero commented on #8822
@nixocio did you happen to take a look at fixing these?

[2020-12-10 18:25] unlikelyzero opened #8823 "[ui_next] [UX] Typeahead for Organization in User Add / Edit"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Typeahead for Organization in User Add / Edit

##### ENVIRONMENT
* AWX version: 12/10

##### EXPECTED RESULTS
Typeahead for Organization in User Add/Edit Page

##### ACTUAL RESULTS
Must use modal workflow

[2020-12-10 18:30] unlikelyzero opened #8824 "[ui_next] [UX] When adding role to team multiple times state is erroneously remembered"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We currently preserve the last known configuration on the Add user workflow. Also

```Dissociating team roles is not really working. I’ve created a role to admin an inventory and then deleted it. Then I dissociated that and the list was clean. Then I tried to add an org role and the inventory one came with it. This seems related to the not resetting th

[2020-12-10 18:32] unlikelyzero commented on #8824
May need to split this up based on:

```Dissociating team roles is not really working. I’ve created a role to admin an inventory and then deleted it. Then I dissociated that and the list was clean. Then I tried to add an org role and the inventory one came with it. This seems related to the not resetting the form above.```

[2020-12-10 18:36] unlikelyzero opened #8825 "[ui_next] Cannot add one user to multiple organizations in Users/N/Organizations view"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can’t add an user to multiple orgs (we can for teams though)

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
Go to Users page / Organizations.
Note: cannot add multiple organizations at this view

##### EXPECTED RESULTS
Add more orgs

##### ACTUAL RESULTS
cannot add

##### ADDITIONAL INFORMATION
![Screen Shot 2020-12-10 at 1 35 34 PM]

[2020-12-10 18:40] unlikelyzero opened #8826 "[ui_next] [UX] Inline form validation is applied when canceling an edit instead of <back> action"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The inline form validation on an add/edit form is applied when hitting the cancel button. This prevents the user from being navigated back on first click of cancel button.

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. Create an organization
2. Click on the 'Name' field
3. Click on the 'Cancel' button
Note: user has to click cance

[2020-12-10 18:42] unlikelyzero opened #8827 "[ui_next] [ux] when using yaml editing, tabbing into code mirror should go past '---'"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
At the moment, Tabbing into a codemirror field puts the user into the first line of syntax instead of firstline of yaml field.

![Screen Shot 2020-12-10 at 1 42 32 PM](https://user-images.githubusercontent.com/12446869/101815474-9b2cd980-3aed-11eb-9b53-e805a440f103.png)

[2020-12-10 18:43] unlikelyzero commented on #8827
```It would be great to have a new line when the default value is a yaml file. The current way, see below, we have to always press enter to start typing. I think a better experience would be to have the new line so we could click on line two and start typing right way.```

[2020-12-10 18:47] unlikelyzero opened #8828 "[ui_next] User should not be able to change credential types for existing credentials"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Generally, giving the user the ability to switch between credential types after a credential is created causes lots of complexity with very little benefit

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. Create a credential
2. Modify credential type
Note: dragons and form errors

##### EXPECTED RESULTS

I think we should remove this

[2020-12-10 18:50] unlikelyzero opened #8829 "[ui_next] Related objects modal could provide a link to add related object if none are found"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There are a few cases of this, but it would sometimes be nice to have the ability to add a missing resource if one is not already available. This may require some additional thought because you could lose context of your existing resource or have to use multiple tabs.

<img width="632" alt="Screen Shot 2020-12-10 at 1 49 56 PM" src="https://user-imag

[2020-12-10 18:52] unlikelyzero opened #8830 "[ui_next] Team permissions are not shown on inventory access page. Only User"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Team permissions are not shown on inventory access page. Only Users.

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. Add team roles to an inventory
2. Open inventory / access tab from step 1
Note: missing team role

[2020-12-10 18:55] unlikelyzero opened #8831 "[ui_next] Cannot create schedules for workflow jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cannot create schedules for workflow jobs

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. Navigate to a workflow job template schedules tab
2. Create schedule and save
Note: error message

##### ADDITIONAL INFORMATION
<img width="660" alt="Screen Shot 2020-12-10 at 1 54 24 PM" src="https://user-images.githubusercontent.com/12446869

[2020-12-10 19:00] unlikelyzero commented on #7565
feedback from bug bash:
```If you don’t have permissions to edit settings, and click the settings button in the sidebar, you get redirected to https://localhost:3001/next/home - would be nice if either the settings button wasn’t there or was greyed out, or displayed a message```

[2020-12-10 19:03] unlikelyzero opened #8832 "[ui_next] [ux] Inconsistent messaging if spaces are added to password"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Space in passwords? Results in a “this field can’t be blank” rather than either accepting spaces or saying “space isn’t a valid password character”.

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. Create a user with spaces in the password

##### EXPECTED RESULTS
"Space isn't a valid password character"

##### ACTUAL RESULTS
"this f

[2020-12-10 19:05] unlikelyzero opened #8834 "[ui_next] Cannot modify user from user to system admin without changing password"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Changing a user to a system admin causes form validation errors on password field.

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
Weird one: first have an admin user - go in and make them a normal user, hit save, then try to make them an admin user and hit save - then a password error appears.

##### ADDITIONAL INFORMATION
<img width

[2020-12-10 19:09] unlikelyzero opened #8835 "[ui_next] Can add team permissions to team"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can add team permissions to team.

This menu is for granting access to a team. Granting a team access to another team is extremely confusing, and there’s no articulable guidance about the nuances and hazards of doing that. It would be best to not present this menu for teams, and assume that granting access ONLY means granting users access to the team.

[2020-12-10 19:09] unlikelyzero commented on #8835
@AlanCoding can you expand on the can of worms

[2020-12-10 19:12] regner commented on #8765
A colleague of mine found previous GitHub issue with a solution. We tested it this morning and it worked for us.

Specifically this comment here: https://github.com/ansible/awx/issues/8341#issuecomment-707310633

When we first ran the CURL command we expected to see our custom organization associated with it on the Credentials page. That wasn't the case and so we thought it wasn't working. We ende

[2020-12-10 19:45] wenottingham commented on #8810
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

This is either an issue in https://github.com/ansible/ansible-runner/blob/devel/ansible_runner/display_callback/module.py or ansible itself. Please file this issue in one of those places (probably start with runner).

[2020-12-10 19:45] #8810 closed, assigned to nobody

[2020-12-10 19:47] opfpqgoon commented on #5209
Why could we not enable bitbucket on-prem (server/datacenter) Webhooks with clear documentation & UI tooltips explaining that this does not work with bitbucket cloud?

Having bitbucket Webhooks integration with AWX would massively simplify CI/CD workflows as there's no longer a need for an intermediary service to receive Webhooks and trigger tower-cli commands.

I'd be happy to help test anything

[2020-12-10 20:07] unlikelyzero opened #8837 "[ui_next] [ux] Inventory Sync button lacks feedback"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory Sync button lacks feedback on click

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. Click on the Start Sync Process on Inventory Sync
Note: no interaction

![Screen Shot 2020-12-10 at 3 44 35 PM](https://user-images.githubusercontent.com/12446869/101827761-ae947080-3afe-11eb-97a2-92bd820a60f3.png)

[code]

[2020-12-10 20:14] ryanpetrello commented on #8797
Hey @cchopin @cbois just a heads up, we've actually just released a new version of AWX (16.0.0) that includes the rewrite of our user interface.  Give it a whirl and let us know how we can improve.

[2020-12-10 20:25] unlikelyzero opened #8838 "[ui_next] Inventory update Delete hits wrong endpoint"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory update Delete hits wrong endpoint.

```I try to delete the SCM inventory update from the job page. It fails with an error about the inventory, but it shouldn’t be deleting the inventory, it should only be deleting the update.```

##### ENVIRONMENT
* AWX version: 12/10

##### MORE INFO
Also, that’s not the right number for the inventory, 66 is

[2020-12-10 20:26] wenottingham commented on #8814
From a look, that would not necessarily scale to 100s of tasks, or 1000s of hosts. The stdout view also doesn't really, but I would be curious what could be constructed here that has a chance of handling that.

[2020-12-10 20:44] unlikelyzero commented on #8827
```Tab navigation gets stuck in variables text box```

[2020-12-10 20:49] unlikelyzero opened #8839 "[ui_next] SCM Inventory Source Update Details view has no link to the project Sync which caused it"
##### ISSUE TYPE
 - Bug Report
 - Enhancement

##### SUMMARY
It is very common that the sync fails because the source_project_update fails, and having a link to it is absolutely critical for usability.
It would also be nice to have a link to the inventory source & the source project (as opposed to the source update). However, I guess we can get by without these. If we don’t have a link to the sour

[2020-12-10 21:02] unlikelyzero opened #8840 "[ui_next] No feedback given in Add User Role wizard if permission cannot be applied"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Giving users access to credentials, it’s really easy to hit this

{"msg":"You cannot grant credential access to a user not in the credentials' organization"}

This is not surfaced properly in the UI for adding roles here:

<img width="626" alt="Screen Shot 2020-12-10 at 5 18 31 PM" src="https://user-images.githubusercontent.com/12446869/101836638-c0304

[2020-12-10 21:41] wenottingham commented on #8815
Is this any different than the old UI?

[2020-12-10 21:50] wenottingham commented on #8765
Closing per https://github.com/ansible/awx/issues/8341#issuecomment-707310633 - this is the intended behavior for newly created organizations. We are allowing you to control the syncing of content, and the only way to enforce that is that no credential == no syncing.

[2020-12-10 21:50] #8765 closed, assigned to nobody

[2020-12-10 21:53] wenottingham commented on #8741
cc @AlanCoding

What I think is happening here is that our tracking of when an instance is 'new' versus 'updated' is based on certain variables (in the ec2 case, ec2_id).

For sources where that variable has to be done via compose, and where we don't have a default config, this causes misbehavior.

Or, should we flip the default EC2_INSTANCE_ID_VAR from `ec2_id` to `instance_id`?

[2020-12-10 22:00] wenottingham commented on #8734
`vSphere Automation SDK` is required for tags, it is not included out of the box.

[2020-12-10 22:06] wenottingham commented on #8717
This is unlikely to be looked at until/in the context of https://github.com/ansible/awx/issues/308

[2020-12-10 22:06] #8713 closed, assigned to nobody

[2020-12-10 22:11] wenottingham commented on #8595
See https://github.com/ansible/awx/issues/8741#issuecomment-742823720

Closing as a duplicate with the wording there.

[2020-12-10 22:11] #8595 closed, assigned to nobody

[2020-12-10 22:12] wenottingham commented on #8665
-> #106

[2020-12-10 22:12] #8665 closed, assigned to nobody

[2020-12-10 22:22] unlikelyzero opened #8842 "[ui_next] Cannot delegate permissions to a credential without an organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="625" alt="Screen Shot 2020-12-10 at 5 20 08 PM" src="https://user-images.githubusercontent.com/12446869/101836766-fcfc3c00-3b0b-11eb-9bdb-4aebea9c67c2.png">

[2020-12-10 22:22] wenottingham commented on #8653
We have moved to default configurations for sources in 15.0.1, to allow you to specify the configuration you want, as noted in the prior comment.

[2020-12-10 22:22] #8653 closed, assigned to nobody

[2020-12-10 22:25] wenottingham commented on #8806
If you want to see only PLAY lines and no specific host task details, set AWX_UI_LIVE_UPDATES_ENABLED=False.

[2020-12-10 22:25] #8806 closed, assigned to nobody

[2020-12-10 22:28] unlikelyzero opened #8843 "[ui_next] Inconsistent wording about Access vs Roles vs Permissions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
First point: consistency of wording
The team page distinguishes between Access and Roles

- Access: give users access to this team
- Roles: give this team access to other things

<img width="432" alt="Screen Shot 2020-12-10 at 5 27 54 PM" src="https://user-images.githubusercontent.com/12446869/101837497-1e115c80-3b0d-11eb-8221-1463dc522ef6.png">

When

[2020-12-10 22:37] unlikelyzero opened #8844 "[ui_next] Implicit read role is shown incorrectly on access list"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Elmo has implicit read role to the team because Elmo is a member of the team. This “implicit” form of permission is mislabeled in “Team Roles”. A team role should be the case when a user is a member of Team A, which has access to Team B. Again, this setup of team-to-team permissions is confusing and should be rare.
I would suggest re-labeling this thin

[2020-12-10 22:40] unlikelyzero opened #8845 "[ui_next] System Admin should not have an accessible 'Teams' tab if not 'Roles'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If I can’t give a system admin roles, then I shouldn’t be able to give him membership to teams.

<img width="412" alt="Screen Shot 2020-12-10 at 5 40 09 PM" src="https://user-images.githubusercontent.com/12446869/101838523-c4119680-3b0e-11eb-8bc2-81eb3e53f8bb.png">

[2020-12-10 22:44] unlikelyzero opened #8846 "[ui_next] Inventory update launched from a schedule does not link to the schedule which launched it"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="626" alt="Screen Shot 2020-12-10 at 5 42 42 PM" src="https://user-images.githubusercontent.com/12446869/101838810-4601bf80-3b0f-11eb-8b00-18cbe05ad5fc.png">

[2020-12-10 22:45] unlikelyzero opened #8847 "[ui_next] Project details view needs sync button"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can only update projects from the list view, but can update inventory sources from the detail view and list view.
https://tower-mockups.testing.ansible.com/patternfly/projects/projects-detail/

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Oper

[2020-12-10 22:49] unlikelyzero opened #8848 "[ui_next] can't cancel a job from the job output view"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
can't cancel a job from the job output view. Filing as a bughancement as this missing functionality might actually be desired

##### ADDITIONAL INFORMATION

<img width="616" alt="Screen Shot 2020-12-10 at 5 47 31 PM" src="https://user-images.githubusercontent.com/12446869/101839110-cc1e0600-3b0f-11eb-95c6-6f8e5be43f8b.png">

[2020-12-10 23:04] unlikelyzero opened #8849 "[ui_next] Selection + Searching/Filtering within a modal should make it more apparent that the previous selections can be removed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
For first time users, it's not apparent that searching/filtering for objects within a modal relates to previously selected resources.

```I am creating a new user and associating an org. I selected an org, then searched. Maybe the orgs I have selected should always stay in the results so that I can deselect it?```

<img width="623" alt="Screen Shot 202

[2020-12-10 23:07] unlikelyzero opened #8850 "[ui_next] Filtering team permissions shifts text enough to be distracting"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Filtering team permissions shifts text enough to be distracting

##### ENVIRONMENT
* AWX version:12/10

##### STEPS TO REPRODUCE
Create a Team
Go to Roles
Click add team permissions
Filter results

##### ADDITIONAL INFORMATION

https://share.getcloudapp.com/d5uPBO9v

[2020-12-10 23:09] unlikelyzero opened #8851 "[ui_next] Test notification bell selection box is not centered"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
 Test notification bell selection box is not centered

##### ENVIRONMENT
* AWX version: 12/10

##### ADDITIONAL INFORMATION
<img width="623" alt="Screen Shot 2020-12-10 at 6 09 00 PM" src="https://user-images.githubusercontent.com/12446869/101840811-cbd33a00-3b12-11eb-8b5f-ada4ed970ff8.png">

[2020-12-10 23:09] unlikelyzero commented on #8851
Note: we should retest this with tables PR @keithjgrant @one-t @tiagodread

[2020-12-10 23:11] unlikelyzero commented on #8818
this was filed 3x in a bug bash

[2020-12-10 23:15] unlikelyzero opened #8852 "[ui_next] Clicking on Text within a modal doesn't select but DOES issue api requests"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Clicking on Text within a modal doesn't select but DOES issue api requests.

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. Open modal with checkboxes like Add Team Roles to User
2. Click on the name of the resource or object in the list
3. Object's checkbox not selected but API requests fired off.

##### EXPECTED RESULTS
Selected

[2020-12-10 23:16] unlikelyzero commented on #8852
@tiagodread i'm positive that you've filed this one already but cannot find it

[2020-12-10 23:23] unlikelyzero opened #8853 "[ui_next] Notification failure message is not show on notification template listview"
##### ISSUE TYPE
 - Feature Parity?

##### SUMMARY
Notification failure message is not show on notification template listview. This may or may not have been required for feature parity

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
Create a notification template which will result in a failed execution or error
Navigate the the listview of that notification template.
Note: failed

[2020-12-10 23:27] unlikelyzero opened #8854 "[ui_next] Pagination issues when operating on objects on second page with select and selectAll"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We have issues with selecting items on pages and using pagination _then_ performing actions

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE

1. Make > 5 things
2. Set the page size to 5 (so that it’s small and you don’t need to do a lot of work)
3. Click select all
4. Click next page
5. Click delete
Note: What do you expect to be in t

[2020-12-10 23:31] unlikelyzero opened #8855 "[ui_next] Ad-hoc commands don’t have an entry in the “Playbook Run” column"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Ad-hoc commands don’t have an entry in the “Playbook Run” column.

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. Run ad-hoc command
2. View jobs list
Note: Ad hoc command is visible without entry describing that it was ad-hoc

##### EXPECTED RESULTS
Ad-hoc command description alongside 'Playbook run' description in that column

##

[2020-12-10 23:33] unlikelyzero opened #8856 "[ui_next] No identifying information that an ad-hoc command was run as an ad-hoc command in job details view"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
No identifying information that an ad-hoc command was run as an ad-hoc command in job details view

##### ENVIRONMENT
* AWX version: 12/10

##### STEPS TO REPRODUCE
1. Run ad-hoc command job
2. Navigate to details view of that job

##### EXPECTED RESULTS
Something to describe job type as ad-hoc command vs playbook run

##### ACTUAL RESULTS
No identifyi

[2020-12-10 23:36] unlikelyzero opened #8857 "[ui_next] Jobs filter for Job Status 'New' is not well defined."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
“New” is not a well defined state. It can technically show up, but not through normal job launching. Jobs with “new” status should still show up in the job list, but I think we can remove “new” from the Filter by Status list because it’s misleading.

<img width="610" alt="Screen Shot 2020-12-10 at 6 35 29 PM" src="https://user-images.githubusercontent.

[2020-12-10 23:37] unlikelyzero opened #8858 "[ui_next] [ux] Expectation that advanced search queries would replace existing queries and not be additive"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Not a bug, but I was expecting subsequent searches to “replace” the old search, not add on new filters. So if you are searching for something (elapsed time for jobs in my example above), you may realize 20 seconds was too low, then try 100 seconds. I would have to first clear filters, then search 100.

<img width="641" alt="Screen Shot 2020-12-10 at 6

[2020-12-10 23:41] regner commented on #8765
@wenottingham If this issue is to be closed I think it would be prudent to open some new issues to replace it.

* Documentation should be updated to reflect this change
* The web UI of AWX should be updated to allow setting organizations on the default Ansible Galaxy credentials

[2020-12-10 23:45] unlikelyzero opened #8859 "[ui_next] Allow the user to navigate between items on a modal list with keyboard navigation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm not sure if this is an accessibility violation, but feedback from the bug bash:

```I love being able to tab to different elements in the UI!  I have no idea how possible this is, but it would be cool to be able to use the arrow key to move between items in the filtered lists, for example, for Projects on a JT.  ```

##### ADDITIONAL INFORMATION

<

[2020-12-10 23:53] sugitk commented on #8806
Thank you, I tested on Tower 3.7.4 and 3.8.0.  The parameter was "UI_LIVE_UPDATES_ENABLED" in settings.

* 3.7.4
I couldn't get the changes in the output.

* 3.8.0
The details were hidden, only `PLAY` and `TASK` lines were shown.  The customer's request was to hide the `TASK` line as well, but I will instruct this way.

<img width="744" alt="スクリーンショット 2020-12-11 8 51 34" src="https://user-images.g

[2020-12-11 02:18] Lobout opened #8861 "When upgrading to ui_next, the browser cookies need to be cleared to access the /settings/ page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
after install the settings section works, but then stops working with an error with no data in it

##### ENVIRONMENT
* AWX version: 16.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: RHEL 7
* Web Browser: Opera/Firefox/Chromium Edge

##### STEPS TO REPRODUCE

upgrade/install server, go to settings section, navigat

[2020-12-11 08:41] cbois commented on #8797
Hello @ryanpetrello
Is there a demo or sandbox environment anywhere?

We'll upgrade our version to 16.0.0, but not today for sure!

[2020-12-11 08:45] jplitza commented on #8814
Do you mean visually or performance-wise?

Visually, I had already implemented grouping tasks by role and making roles collapsible (but had to remove the functionality again because of #8810). But in the host-dimension, there's not much one can do, except for maybe filtering out unreachables on demand, or maybe group hosts with identical columns. Also, one can always transpose the table if that pr

[2020-12-11 09:07] jean-christophe-manciot opened #8863 "AWX cannot be created with an empty database: main_organization does not exist"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Starting from scratch is not possible with this release.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method:  docker compose on linux
* Ansible version: 2.10.4
* Operating System: Debian bullseye
* docker-ce: ```5:20.10.0~3-0~debian-buster```
* docker-compose: 1.25.4

##### STEPS TO REPRODUCE
0.1. Run inside Python3 virtual env
0.2. Install

[2020-12-11 10:02] jean-christophe-manciot commented on #8455
I've looked into the ```Fatal error, can't open config file '/usr/local/etc/redis/redis.conf': Permission denied``` issue and it seems to be linked to improper file owner/group permissions:
[code]
As a summary,
- the ```/usr/local/etc/redis/redis.conf``` file owner and group ```1000:904``` are unknown
- it is not world-readable despite the ansible configuration in git-awx/installer/roles/local_doc

[2020-12-11 10:11] jpclipffel opened #8864 "System auditor users can create credentials"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
System auditors can create new credentials, edit them and remove them.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: kubernetes
* Ansible version:  2.9.14
* Operating System: Windows 10
* Web Browser: Firefox

##### STEPS TO REPRODUCE

##### 1 - Create the user

* Create a new local user:
  * User type: **System Auditor**
  * Organizat

[2020-12-11 13:11] unlikelyzero commented on #8861
@Lobout , how long were you away from the settings page? It's possible that you experienced a timeout / session expiration.

[2020-12-11 13:21] Lobout commented on #8861
It varied in my quick tests.  anywhere from a couple minutes to an hour.    I even closed my browser, logged back in and the settings page gave the same error.   I restarted the containers and logged in again and it comes back.  but it then stops working again.

[2020-12-11 13:23] Lobout commented on #8861
if there are any logs i can collect to provide you please let me know

[2020-12-11 13:29] Lobout commented on #8861
so If i clear the cache in my browser this fixes the issue.  It seems that when the cache becomes stale the issue appears

[2020-12-11 13:53] tiagodread commented on #8666
PR already merged, tests covered in 5776

[2020-12-11 13:53] #8666 closed, assigned to mabashian

[2020-12-11 14:07] ryanpetrello commented on #8863
Hrm, this might be related to this recent change?

https://github.com/ansible/awx/pull/8733

Have you also just tried re-running the installer playbook again?

[2020-12-11 14:11] ryanpetrello commented on #8797
Hey @cbois,

 We don't currently have a public sandbox deployment of AWX for a number of reasons (partially cost, but also, it's technically a system that's meant to run arbitrary playbooks/Python code, so locking it down in a fashion that would thwart anonymous evil-doers would also probably not be a good showcase of AWX's feature set 😄!)

[2020-12-11 14:29] unlikelyzero commented on #8861
@Lobout the only important logs would have been the console warnings/errors which must have been cleared already. I'm glad that everything is working now

[2020-12-11 14:33] Lobout commented on #8861
I have to keep clearing my browser cache when going to the settings page.  This is a bit of a pain, but workable until there is a fix.

[2020-12-11 14:53] jorgeyanesdiez commented on #8863
Just FYI, version 15.0.1 also had this problem, but the ansible playbook was not catching the error., The AWX instance would hang indefinitely, and using `docker logs` I could see the same SQL errors as reported here. Executing the playbook again (sometimes more than once) usually fixed the problem. Right now my current workaround is to install 15.0.1, run the playbook as many times as needed unti

[2020-12-11 15:41] mabashian commented on #8815
I don't think we've ever had any password requirement validation in the UI

[2020-12-11 15:43] mabashian commented on #8664
If we're going to do this for launch we should probably do it for other buttons with text like Edit, Sync, Delete, etc.

[2020-12-11 16:14] wenottingham commented on #8815
Closing this as working as expected; the suggestion is to do this in your connected IdP. See also https://github.com/ansible/awx/issues/4553

[2020-12-11 16:14] #8815 closed, assigned to nobody

[2020-12-11 16:15] wenottingham commented on #8806
Correct, this is a change we made in 3.8.x to help speed up event processing.

[2020-12-11 16:16] piroux commented on #8814
I have less than 100 servers to manage and I am highly interested in this visualization.
Indeed, this seems to be undeniably a more thorough overview of tasks results on a single screen, digging a big deeper than the final stats metrics available at the end of the playbook.

Maybe it could be available as an opt-in, so only after activating it in the settings, and/or only if there are less than K

[2020-12-11 16:16] wenottingham commented on #8864
All users (including auditors) have the ability to create their own, "personal", credentials.

See #1126.

[2020-12-11 16:16] #8864 closed, assigned to nobody

[2020-12-11 16:38] ryanpetrello commented on #8863
Yea, I'm tinkering with this locally, and I've redeployed a few times, and have reproduced it once (though it doesn't happen for me every time). That said, the issue goes away if I just run the playbook again a few moments later.  It looks like a race condition in the installer, but it doesn't seem like a 16.0.0 regression to me.

We may or may not get around to resolving this before this install

[2020-12-11 17:02] watsonb commented on #8748
I've made some progress on this and thought I would report back my revised strategy for posterity.

1. Use playbooks to install/configure/export/import AWX instances itself.  Makes rinse and repeat so much easier.
2. When performing a "blue/green" deployment
- Create a new instance and accompanying database at the same version as the existing instance.
- Use tooling (`tower-cli`, `awx`, `awx.awx.t

[2020-12-11 17:02] #8748 closed, assigned to nobody

[2020-12-11 18:04] mabashian commented on #7669
Probably best to do this after #8399 lands to avoid some nasty conflicts.

[2020-12-11 18:05] mabashian commented on #8200
Wait until #8399 merges

[2020-12-11 18:24] jakemcdermott commented on #8861
Yep, this looks like an unhandled session timeout. Thanks for letting us know @Lobout!

We'll be merging code into devel to properly handle this soon, but it hasn't landed yet. You'll very likely see this addressed in the next awx release.

see: https://github.com/ansible/awx/issues/4205

Closing this issue for now as we're tracking the work in the issue above.

[2020-12-11 18:31] ryanpetrello commented on #8777
Hey @chris93111,

Can you give some clearer step-by-step instructions on how to reproduce this?  I'm having trouble understanding how to reproduce the issue.

[2020-12-11 18:35] ryanpetrello commented on #8777
Also @chris93111,

Could you give this a shot in the latest AWX (16.0.0)?  We've recently rewritten the entire workflow editor interface, and if this is a bug in the old interface, it's possible that it's been resolved in a newer AWX version.

[2020-12-11 18:36] wenottingham commented on #8712
We should fix this by disallowing the switch of credential type on an existing credential.

[2020-12-11 18:47] blomquisg commented on #8514
Reopen if you still see this happening.

[2020-12-11 18:47] #8514 closed, assigned to nobody

[2020-12-11 18:54] wenottingham commented on #8420
See also: https://github.com/ansible/awx/issues/8561

[2020-12-11 19:00] kdelee commented on #8629
@jhutar mentioned that https://github.com/prometheus/statsd_exporter may be a better option than collectd

[2020-12-11 19:39] sandeepsisodiya commented on #8863
Faced this issue. Tried running the command manually inside the container and it worked. Looks like Ansible needs pause to add some time delay

docker exec -it f8b7538d2641 "/bin/bash"
bash-4.4# /usr/bin/awx-manage create_preload_data
Default organization added.
Demo Credential, Inventory, and Job Template added.
(changed: True)

[2020-12-11 20:37] natman opened #8872 "no source_vars field for RHV credentials"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

There is currently no way in UI to add source_vars for RHV credentials type so as to build the ovirt.yml inventory read by ansible-inventory. The only way to do such a thing is to inject json with curl or with awx inventory_source --source-vars option. The field does exist in other credential types AWS etc...

##### ENVIR

[2020-12-11 20:44] wenottingham commented on #8872
-> #8786

[2020-12-11 20:44] #8872 closed, assigned to nobody

[2020-12-11 21:44] hjkatz opened #8876 "[Docs] List of Available Settings?"
##### ISSUE TYPE
 - Docs

##### SUMMARY

Where can I find a list of settings available to configure for an installed AWX instance?

I've found some sources in the code that indicate the settings are spread out, but I'm not sure which file is the source of all the available settings.

* https://github.com/ansible/awx/blob/devel/awx/main/conf.py
* https://github.com/ansible/awx/blob/devel/awx/settin

[2020-12-11 22:02] woodbb commented on #8448
We also just saw the same thing on 15.0.0:

Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/gitdb/util.py", line 323, in open fd = os.open(self._lockfilepath(), lockmode, int("600", 8)) FileNotFoundError: [Errno 2] No such file or directory: '/var/lib/awx/projects/_30__awx_project/.git/refs/heads/awx_internal/673e844e-3af0-4508-b815-577ebb9d8838.lock' Dur

[2020-12-12 12:23] sxa commented on #6792
Had a lot of head scratching in the last week as I'd been getting this 100% repeatedly on my system. Two solutions are referenced in this issue, but bear in mind **you have to leave about a 2½ minute gap** after running the initial playbook (assuming the database is being created from scratch) before taking the remidial action (my system is a quad core atom C2550 with 8GB RAM running Ubuntu 20.04L

[2020-12-12 14:53] agaffney commented on #8863
I ran into this without using an external database.

[2020-12-12 15:40] jamesregis commented on #4539
@faroukellouze  Can you show us a rocketchat'script example to parse extra_vars coming from AWX ?

[2020-12-12 17:52] des-esseintes commented on #8863
same issue

[2020-12-12 22:30] paulboot commented on #5476
I see the same bug or is it a feature?

I created a simple project  with a job template that uses a SSH credential (of type/kind `Network` not of type `Machine`) with the correct SSH private key and PRIVATE KEY PASSPHRASE. I tested the SSH key logged in the 'awx_task' container and I can connect to the destination SSH host fine.

Now I expect that AWX prior execution of a job will set the vars,

a

[2020-12-13 08:04] rroethof commented on #1731
I too am running into this issue

For a webstack with sql cluster, i want to reuse the haproxy and keepalived template
These templates should be called with their own limits, i.e.

Run workflow
-> install haproxy with limit group webloadbalancers (and its respective extra vars)
-> install keepalived with limit group webloadbalancers (and its respective extra vars)
-> install haproxy with limit gro

[2020-12-13 11:09] holdmypotion commented on #4894
Hey, I'll be honest. I don't know about the specific type of bug/error you are getting. But I solved something similar, which I had on connecting an RDS(PostgreSQL) instance with a Django app, by migrating the class model migrations
[code]
Hope it might help!

[2020-12-13 11:40] sugitk commented on #8273
I saw a new Web UI for Workflow Approvals, I would like to know how many approvals are pending in the queue.  If possible, can you append a number of them in this menu?

<img width="439" alt="スクリーンショット 2020-12-13 20 31 35" src="https://user-images.githubusercontent.com/2234991/102010735-61750080-3d83-11eb-9034-0e4308e9037f.png">

[2020-12-13 14:13] weixiangkoh opened #8878 "[ui_next] Unable to add multiple custom credential type's credential to job template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

New UI Unable to add multiple custom credential to a job template.
steps involved

##### ENVIRONMENT
* AWX version: AWX 16.0.0
* AWX install method: Kubernetes
* Ansible version:  2.9.15
* Operating System: Centos 8
* Web Browser: Chrome

##### STEPS TO REPRODUCE

- Select custom credential type A in job template
- Select custom credential type B in j

[2020-12-13 15:41] Avi0 commented on #8861
Settings page does not work for me regardless of cookies, cache, anything else. Does not work even in a private browser session. Same error, "There was an error loading this content. Please reload the page. Back to Dashboard.".

Update: settings page works only intermittently. Console shows error:

2.a3befcbb.chunk.js:sourcemap:2 OPTIONS https://[redacted]/api/v2/settings/all/ net::ERR_CONTENT_LEN

[2020-12-13 15:46] oguzhansrky opened #8879 "User details"
Hi,

ansible docker installed.

is this screen correct? it was not like this before.
![image](https://user-images.githubusercontent.com/52497227/102016733-5e721400-3d73-11eb-980c-dbf91fddfc1e.png)

user details...
![image](https://user-images.githubusercontent.com/52497227/102016741-6762e580-3d73-11eb-877f-04b85fa46829.png)

[2020-12-13 16:20] unlikelyzero commented on #8879
@oguzhansrky, thank you for filing this bug. It is a currently known issue, so I'll file this as a duplicate of https://github.com/ansible/awx/issues/8478

Please follow that issue to see when will make it's way into an awx release

[2020-12-13 16:21] #8879 closed, assigned to nobody

[2020-12-13 16:55] unlikelyzero commented on #5245
@wenottingham @AlanCoding is this still on the books?

[2020-12-13 16:57] #5950 closed, assigned to nobody

[2020-12-13 17:12] unlikelyzero commented on #5962
Was fixed sometime in past year

[2020-12-13 17:12] #5962 closed, assigned to nobody

[2020-12-13 17:13] unlikelyzero commented on #5967
Still an issue

[2020-12-13 17:15] unlikelyzero commented on #4846
covered in empty.spec.js

[2020-12-13 17:15] #4846 closed, assigned to dsesami

[2020-12-13 17:18] unlikelyzero commented on #8861
@Avi0 that is a net new issue. Please check our issue tracker to see if it may be an old bug like https://github.com/ansible/awx/issues/1855 . If it's not, please file a new issue and we'll take a look!

[2020-12-13 17:18] #8861 closed, assigned to nobody

[2020-12-13 17:30] unlikelyzero commented on #4464
closing this to track specific issues uncovered by https://github.com/ansible/awx/pull/4265#issuecomment-520033026 which later helped us test and catch https://github.com/ansible/awx/issues/8788

[2020-12-13 17:30] #4464 closed, assigned to nobody

[2020-12-13 17:33] unlikelyzero commented on #4623
Still not covered in the new ui. Marking as enhancement

[2020-12-13 17:35] unlikelyzero commented on #5121
we do not have this pattern in the new ui

[2020-12-13 17:35] #5121 closed, assigned to nobody

[2020-12-13 17:36] unlikelyzero commented on #5133
still a valid enhancement if/when expand/collapse is implemented

[2020-12-13 17:38] unlikelyzero commented on #5257
still an enhancement

[2020-12-13 17:39] #5299 closed, assigned to nobody

[2020-12-13 17:48] unlikelyzero commented on #5513
covered in https://github.com/ansible/awx/pull/7644

[2020-12-13 17:53] unlikelyzero commented on #6048
Edge-legacy has a direct upgrade path to edge chromium in enterprise environments and can now be considered unsupported.

[2020-12-13 17:53] #6048 closed, assigned to nobody

[2020-12-13 17:53] unlikelyzero commented on #6051
we will tackle translation with a holistic approach in another ticket

[2020-12-13 17:53] #6051 closed, assigned to nobody

[2020-12-13 17:54] unlikelyzero commented on #5369
@Uttam92477 please pull down awx 16.0.0 to determine if this is fixed

[2020-12-13 17:55] unlikelyzero commented on #6072
This was retested with first time users and was not part of the feedback

[2020-12-13 17:55] #6072 closed, assigned to nobody

[2020-12-13 17:56] unlikelyzero commented on #6055
we have coverage for this in the visualintegration/simple-flow.spec.js

[2020-12-13 17:56] #6055 closed, assigned to nobody

[2020-12-13 17:58] unlikelyzero commented on #6094
still an issue

[2020-12-13 17:59] unlikelyzero commented on #5522
@soniya20 we have just release awx 16.0.0. Please give this another go!

[2020-12-13 18:00] unlikelyzero commented on #5554
no longer an issue

[2020-12-13 18:00] #5554 closed, assigned to nobody

[2020-12-13 18:04] unlikelyzero commented on #7145
@marshmalien will the datetime picker include this functionality? https://github.com/ansible/awx/issues/5524

[2020-12-13 18:05] unlikelyzero commented on #5524
potentially can be solved in https://github.com/ansible/awx/issues/7145

[2020-12-13 18:10] unlikelyzero commented on #6501
@mabashian did this get implemented?

[2020-12-13 18:12] unlikelyzero commented on #4866
Fixed in the rewrite

[2020-12-13 18:12] #4866 closed, assigned to nobody

[2020-12-13 18:13] unlikelyzero commented on #6504
will need to add visual coverage for schedule forms

[2020-12-13 18:15] unlikelyzero commented on #3522
this does not exist in the new ui

[2020-12-13 18:15] #3522 closed, assigned to nobody

[2020-12-13 18:17] unlikelyzero commented on #5033
need to verify

[2020-12-13 18:19] #6571 closed, assigned to nobody

[2020-12-13 18:19] unlikelyzero commented on #6571
covered in 6559

[2020-12-13 18:23] unlikelyzero commented on #6648
note: we may want to come up with a new pattern in these instances as well https://github.com/ansible/awx/issues/8795 and https://github.com/ansible/awx/issues/7206

[2020-12-13 18:23] unlikelyzero commented on #6632
@jakemcdermott still happening?

[2020-12-13 18:24] #6581 closed, assigned to jakemcdermott

[2020-12-13 18:24] unlikelyzero commented on #6581
Please check out awx 16.0.0 to see if this still persists

[2020-12-13 18:27] unlikelyzero commented on #6669
Still an issue. Bumping in priority because this keeps getting reported in bug bashes

[2020-12-13 18:44] unlikelyzero commented on #6507
@keithjgrant is this still happening?

[2020-12-13 18:50] unlikelyzero commented on #6869
@AlexSCorey @nixocio has this been addressed?

[2020-12-13 18:55] unlikelyzero commented on #6864
@AlexSCorey @mabashian is this specifically for inventory scripts? Aren't those being removed? Is this supposed to be for copy inventory source?

[2020-12-13 19:00] unlikelyzero commented on #6865
no longer blocked

[2020-12-13 19:09] unlikelyzero commented on #4212
please update this ticket when the work is completed https://github.com/ansible/awx/issues/7004

[2020-12-13 19:09] unlikelyzero commented on #7004
still an issue. Should be tracking in https://github.com/ansible/awx/issues/4212

[2020-12-13 19:11] unlikelyzero commented on #612
@jlmitch5 we should revisit these RFEs. The first has been addressed

[2020-12-13 19:13] unlikelyzero commented on #7164
@nixocio does this need to be closed?

[2020-12-13 19:16] unlikelyzero commented on #4745
will retest in https://github.com/ansible/awx/pull/8250

[2020-12-13 19:19] unlikelyzero commented on #7207
@branic please check out the new ui in awx 16.0.0. The advanced search options were greatly enhanced and this should be clearer

[2020-12-13 19:23] unlikelyzero commented on #6247
covered in visual tests

[2020-12-13 19:23] #6247 closed, assigned to nobody

[2020-12-13 19:25] unlikelyzero commented on #7510
covered in https://github.com/ansible/awx/issues/8852

[2020-12-13 19:25] #7510 closed, assigned to nobody

[2020-12-13 19:27] unlikelyzero commented on #7504
Cannot reproduce. We are logging all console errors in our ui tests and can catch this class of issue there

[2020-12-13 19:27] #7504 closed, assigned to nobody

[2020-12-13 19:29] vguillard commented on #5080
PR: https://github.com/ansible/awx/pull/8880

[2020-12-13 19:30] unlikelyzero commented on #7482
@ReinerNippes please follow this ticket: https://github.com/ansible/awx/issues/8811

[2020-12-13 19:30] #7482 closed, assigned to nobody

[2020-12-13 19:32] unlikelyzero commented on #7662
@trahman73 @mabashian is this necessary for launch?

[2020-12-13 19:34] unlikelyzero commented on #5073
@mabashian are we adding this?

[2020-12-13 19:36] unlikelyzero commented on #6177
@LohitashwaIBM please check out awx 16.0.0 with edge chromium

[2020-12-13 19:36] #6177 closed, assigned to nobody

[2020-12-13 19:37] unlikelyzero commented on #7588
@AdrianDutu please try to repro on awx 16.0.0

[2020-12-13 19:39] unlikelyzero commented on #7127
need to test

[2020-12-13 19:41] unlikelyzero commented on #7112
covered in workflow-approvals.spec.js

[2020-12-13 19:41] #7112 closed, assigned to nobody

[2020-12-13 19:41] unlikelyzero commented on #7165
closing as it has not been reproduced

[2020-12-13 19:41] #7165 closed, assigned to nobody

[2020-12-13 19:42] unlikelyzero commented on #5650
covered in teams folder

[2020-12-13 19:42] #5650 closed, assigned to nobody

[2020-12-13 19:42] unlikelyzero commented on #5649
covered all ova da place

[2020-12-13 19:42] #5649 closed, assigned to nobody

[2020-12-13 19:43] unlikelyzero commented on #8788
retest https://github.com/ansible/awx/issues/7914

[2020-12-13 19:43] unlikelyzero commented on #7914
will cover in https://github.com/ansible/awx/issues/8788

[2020-12-13 22:02] tstahnke2 opened #8881 "Error running latest AWX 16.0.0 - "Request user is not authenticated to use websocket.""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
we are using Azure AD authentication to login to AWX 16.0.0. When viewing running job output, we are seeing error messages in the logs that specify only the below errors. The impact of this bug is that we can't see live job output; our exact same config worked great in awx 15.0.1

2020-12-13T21:45:00.679203820Z 169.254.13

[2020-12-13 23:25] unlikelyzero commented on #5908
@akus062381  we will need to do a quick audit on this one

[2020-12-14 00:08] unlikelyzero commented on #7979
tested in job-template folder

[2020-12-14 00:08] #7979 closed, assigned to jakemcdermott

[2020-12-14 00:47] unlikelyzero commented on #4532
still an issue from Danny's example

[2020-12-14 00:48] unlikelyzero commented on #7660
covered in workflow-tabs.spec.js

[2020-12-14 00:48] #7660 closed, assigned to nobody

[2020-12-14 00:52] unlikelyzero commented on #7126
covered in credentials-mock.spec.js

[2020-12-14 00:52] #7126 closed, assigned to mabashian, unlikelyzero

[2020-12-14 01:02] unlikelyzero commented on #7394
Cannot reproduce, however we have coverage in visualintegration

[2020-12-14 01:02] #7394 closed, assigned to nobody

[2020-12-14 01:04] unlikelyzero commented on #6523
#3 ```Something about the way URLs (and webhook keys) are displayed (see first screenshot) feels like it needs to be cleaned up. The old UI had a fixed-size text box with a button to copy the text. We should have something similar if possible.``` is still valid. 1 and 2 have been fixed

[2020-12-14 01:07] unlikelyzero commented on #6518
potentially should update to say 'Back to Schedules list' or some additional qualifier

[2020-12-14 01:10] unlikelyzero commented on #3321
will need to retest once session expiration lands

[2020-12-14 01:12] unlikelyzero commented on #8155
@one-t @tiagodread can we retest this with the okta setup?

[2020-12-14 01:15] unlikelyzero commented on #8881
@jakemcdermott is this a dupe of https://github.com/ansible/awx/issues/8596

[2020-12-14 06:52] jean-christophe-manciot commented on #8863
Adjusting the title.

[2020-12-14 08:50] SWADESNA opened #8882 "[RFE] Add an ability to segregate/organize job templates by category"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently all the job templates created in single page or in single location in Ansible Tower.
We would like to have something like folder creation facility in Ansible tower "template" section.  So, that we can categorize the job templates by "collections" .  It will become easy to choose rather than scrolling multiple pages.

[2020-12-14 09:05] jplitza opened #8883 "Poor API performance for large jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Paged API responses take longer if the total result set is larger.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.14
* Operating System: Ubuntu 20.04
* Web Browser: Firefox 83.0

##### STEPS TO REPRODUCE

Run a job with a handful of hosts and a handful of tasks, and one with hundreds of hosts and

[2020-12-14 09:09] jplitza commented on #8814
So the performance of the API for large jobs seems to be abysmal (or I'm using it wrong): #8883

[2020-12-14 09:23] adpavlov opened #8884 "If browser not set to a locale with strings, templated text appears"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: macOS 11.0.1
* Web Browser: Firefox, Safari, Edge, Opera

##### STEPS TO REPRODUCE
Upgrade AWX to 16.0.0

##### EXPECTED RESULTS

Normal UI
##### ACTUAL RESULTS

Some elements are not decoded properly

![image](https://user-imag

[2020-12-14 12:45] unlikelyzero commented on #8852
Note, this is filed here:
https://github.com/ansible/awx/issues/7220
https://github.com/ansible/awx/issues/7510
https://github.com/ansible/awx/issues/7508

and was reported in each bug bash.

I'm going to keep this one open and close the others

[2020-12-14 12:46] unlikelyzero commented on #7220
closing for https://github.com/ansible/awx/issues/8852 because it contains an additional side effect

[2020-12-14 12:46] #7220 closed, assigned to dsesami

[2020-12-14 12:51] #8203 closed, assigned to unlikelyzero

[2020-12-14 12:52] unlikelyzero commented on #8203
covered in corner-cases.spec.js

[2020-12-14 12:53] unlikelyzero commented on #8216
@nixocio is this on the EE branch or on devel?

[2020-12-14 12:54] unlikelyzero commented on #8211
@jakemcdermott is this done as a backport from 3.7.3 to devel?

[2020-12-14 12:58] unlikelyzero opened #8885 "[Meta-issue] Update Delete Warnings will all consequences"
##### ISSUE TYPE
 - Bug Report
 - Meta-issue

##### SUMMARY
Update Delete Warnings will all consequences. There are many different issues which talk to the impact of Deleting resources. I think we should consider updating the Delete Warnings with at least the potential effect if not the total effects.

- https://github.com/ansible/awx/issues/5867
-

##### ADDITIONAL INFORMATION

[2020-12-14 12:58] unlikelyzero commented on #5867
Added to meta issuehttps://github.com/ansible/awx/issues/8885

[2020-12-14 13:01] unlikelyzero commented on #5689
we will need an explicit testcase for this

[2020-12-14 13:02] unlikelyzero commented on #6189
Please test
https://github.com/ansible/awx/issues/6300
https://github.com/ansible/awx/issues/7626
https://github.com/ansible/awx/issues/6189
https://github.com/ansible/awx/issues/8086
https://github.com/ansible/awx/issues/7563

[2020-12-14 13:02] unlikelyzero commented on #6300
Closing to test in  #6189

[2020-12-14 13:02] #6300 closed, assigned to nobody

[2020-12-14 13:03] unlikelyzero commented on #5794
we have visual coverage on almost every detail form

[2020-12-14 13:03] #5794 closed, assigned to nobody

[2020-12-14 13:05] unlikelyzero commented on #8249
if we do this, please test the HTML Escaping bug #5764

[2020-12-14 13:05] #5055 closed, assigned to nobody

[2020-12-14 13:07] unlikelyzero commented on #7508
moving to https://github.com/ansible/awx/issues/8852

[2020-12-14 13:07] #7508 closed, assigned to nobody

[2020-12-14 13:10] unlikelyzero commented on #7507
likely the same issue as https://github.com/ansible/awx/issues/8851

[2020-12-14 13:12] unlikelyzero commented on #8086
closing to address in https://github.com/ansible/awx/issues/6189

[2020-12-14 13:12] #8086 closed, assigned to nobody

[2020-12-14 13:12] unlikelyzero commented on #7626
added to coverage https://github.com/ansible/awx/issues/6189

[2020-12-14 13:14] unlikelyzero commented on #7654
covered in job-templates.spec.js

[2020-12-14 13:14] #7654 closed, assigned to nobody

[2020-12-14 13:16] unlikelyzero commented on #7664
covered in workflow-operations

[2020-12-14 13:16] #7664 closed, assigned to nobody

[2020-12-14 13:17] anasskh commented on #8734
yes it work when i install the vSphere Automation SDK direct on the container .

Thanks .

[2020-12-14 13:18] unlikelyzero commented on #7995
closing to test in #6189

[2020-12-14 13:18] #7995 closed, assigned to nobody

[2020-12-14 13:19] unlikelyzero commented on #7040
@marshmalien would you say that this is completely implemented?

[2020-12-14 13:23] unlikelyzero commented on #6705
covered in job-templates.spec.js

[2020-12-14 13:23] #6705 closed, assigned to nobody

[2020-12-14 13:27] unlikelyzero commented on #7467
@nixocio do you want to close this to track the individual work in the remaining tickets?

[2020-12-14 13:30] unlikelyzero commented on #8244
@nixocio is this on the EE branch?

[2020-12-14 13:33] unlikelyzero commented on #8262
We need to ensure we have coverage for this one

[2020-12-14 13:34] jakemcdermott commented on #8881
@unlikelyzero I don't believe so.

[2020-12-14 13:38] unlikelyzero commented on #7822
this is covered in credential-errors.spec.js

[2020-12-14 13:38] #7822 closed, assigned to nobody

[2020-12-14 13:40] unlikelyzero commented on #8884
@adpavlov try:
[code]

[2020-12-14 13:46] unlikelyzero commented on #8452
I'm pretty sure I've filed this 2 to 3 times, but I cannot find the other issues

[2020-12-14 13:47] #4355 closed, assigned to nobody

[2020-12-14 13:48] adpavlov commented on #8884
Sorry, not sure I know where to issue those commands. I'm using docker image from dockerhub, not building it myself.
Same installation works fine from windows based browsers.

[2020-12-14 13:48] unlikelyzero commented on #8451
fixed

[2020-12-14 13:48] #8451 closed, assigned to nobody

[2020-12-14 13:53] unlikelyzero commented on #8303
Cannot reproduce but added to job-result-output.spec.js

[2020-12-14 13:53] #8303 closed, assigned to nobody

[2020-12-14 13:55] unlikelyzero commented on #7382
@mabashian it looks like we can only query for organization id. Putting this back into devel

[2020-12-14 13:58] unlikelyzero commented on #7837
@mabashian going to refile this as a RFE. It's not obvious how to construct the advanced search query syntax for smart vs regular inventories. I think we should consider adding it as a 'first class' filter after feature parity

[2020-12-14 14:03] unlikelyzero commented on #8085
@msilmser @wenottingham this is available and tested in awx 16.0.0

[2020-12-14 14:03] #8085 closed, assigned to nobody

[2020-12-14 14:04] unlikelyzero commented on #8085
filed as https://github.com/ansible/awx/issues/7112

[2020-12-14 14:06] unlikelyzero commented on #5628
closing to track in https://github.com/ansible/awx/issues/7825

[2020-12-14 14:06] #5628 closed, assigned to nobody

[2020-12-14 14:14] AlexSCorey commented on #6864
@unlikelyzero This can actually be closed because Inventory Scripts has been removed from the new UI.

[2020-12-14 14:14] #6864 closed, assigned to nobody

[2020-12-14 14:14] jakemcdermott commented on #8884
@adpavlov

Do you see any errors in the browser console on page load? (Cmd + Opt + J, I believe)

[2020-12-14 14:15] unlikelyzero commented on #8558
these are still valid bugs

[2020-12-14 14:18] jakemcdermott commented on #8881
:wave: Thanks for creating this issue. This bug is addressed by https://github.com/ansible/awx/pull/8877. You should see this fixed in the next awx community release.

[2020-12-14 14:23] unlikelyzero commented on #7517
covered in user-tabs.spec.js

[2020-12-14 14:23] #7517 closed, assigned to unlikelyzero

[2020-12-14 14:25] unlikelyzero commented on #7670
Updated title and repro steps. It was filed here as well https://github.com/ansible/awx/issues/8558

[2020-12-14 14:37] unlikelyzero commented on #8885
Closing for https://github.com/ansible/awx/issues/5546

[2020-12-14 14:37] #8885 closed, assigned to nobody

[2020-12-14 14:38] unlikelyzero commented on #5546
Consider this case: https://github.com/ansible/awx/issues/8795

[2020-12-14 14:45] adpavlov commented on #8884
nothing except insecure protocol warning.
And this is what I see in web inspector

`<h2 class="pf-c-title pf-m-3xl">Welcome to Ansible {brandName}! Please Sign In.</h2>`
vs windows browsing
`<h2 class="pf-c-title pf-m-3xl">Welcome to Ansible AWX! Please Sign In.</h2>`

[2020-12-14 15:15] jakemcdermott commented on #8878
Hello @weixiangkoh. Thanks for creating this issue. I've opened a pr to address this bug: https://github.com/ansible/awx/pull/8887

This will be fixed for the next AWX community release.

[2020-12-14 15:17] AlexSCorey commented on #8842
This is addressed https://github.com/ansible/awx/pull/8776

[2020-12-14 16:05] AlanCoding commented on #5245
I think it's punted indefinitely. If it's a blocker for ui_next in any way, someone needs to make noise.

[2020-12-14 16:28] unlikelyzero commented on #8558
covered in workflow-operations.spec

[2020-12-14 16:28] #8558 closed, assigned to nobody

[2020-12-14 16:48] jplitza commented on #8883
I may add that the storage the database is on isn't the fastest. So I looked into what's going on on the database level, and sure enough, even the COUNT(*) query takes over 50 seconds. I'm no expert on PostgreSQL, but apparently the [BRIN index](https://www.postgresql.org/docs/9.5/brin-intro.html) used for the job_id column in the main_jobevent requires that the database reads all relevant rows an

[2020-12-14 16:56] unlikelyzero commented on #2945
will not need to add coverage for pagination for this list

[2020-12-14 16:56] #2945 closed, assigned to nobody

[2020-12-14 17:00] unlikelyzero commented on #8171
closing as we will not be testing each of these tickets separately

[2020-12-14 17:07] unlikelyzero commented on #7885
moving to https://github.com/ansible/awx/issues/7884

[2020-12-14 17:07] #7885 closed, assigned to nixocio

[2020-12-14 17:08] unlikelyzero commented on #7886
moving to https://github.com/ansible/awx/issues/7884

[2020-12-14 17:08] #7886 closed, assigned to nixocio, dsesami

[2020-12-14 17:08] unlikelyzero commented on #7887
moving to https://github.com/ansible/awx/issues/7884

[2020-12-14 17:08] #7887 closed, assigned to nixocio, unlikelyzero, tiagodread, dsesami

[2020-12-14 17:08] unlikelyzero commented on #8210
moving to https://github.com/ansible/awx/issues/7884

[2020-12-14 17:08] #8210 closed, assigned to nixocio

[2020-12-14 17:09] unlikelyzero commented on #8216
moving to https://github.com/ansible/awx/issues/7884

[2020-12-14 17:09] #8216 closed, assigned to nixocio

[2020-12-14 17:38] unlikelyzero commented on #5513
Re-opening to re-evalutate what was tested in  #7644

[2020-12-14 18:33] jakemcdermott commented on #8884
@adpavlov

We weren't able to reproduce this using the default install settings and mac os 10.15.7:

![image (12)](https://user-images.githubusercontent.com/9753817/102120599-c7f43000-3e10-11eb-8dcd-268e6aa0ce36.png)

We'll try and find a box with macos 11+ and double-check. That said, have you made any kind of change to the installer, configs, deployment, etc. that might help us reproduce this?

[2020-12-14 18:38] bobby0724 commented on #6647
Basically what we need is pywinrm[kerberos]

in order to install this module we need the kerberos development libraries in the container is this posible
currently using ansible with credssp is not a good idea we prefer to use kerberos

[2020-12-14 18:51] adpavlov commented on #8884
No, the only changes are replaced awx zip file and container itself

[2020-12-14 18:56] jakemcdermott commented on #8884
Hmmm.. Are you referring to the [downloadable .zip release](https://github.com/ansible/awx/releases/tag/16.0.0) from github?

What version did you upgrade from? Did the version you're upgrading from have any installer changes? What steps / shell commands did you run for the upgrade.

[2020-12-14 19:00] dansou901 opened #8889 "Prompt on launch broken for machine ssh key passwords on new ui"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On the new Web interface, when using machine credentials with ssh keys which are configured to prompt for a password on job launch, it doesn't ask for a password. For now, password protected ssh keys can only be used with saved passwords, not with prompt on launch.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible

[2020-12-14 19:07] wenottingham commented on #8882
This is #2058, more or less.

[2020-12-14 19:07] #8882 closed, assigned to nobody

[2020-12-14 19:11] adpavlov commented on #8884
yes, just replaced zip and docker tar.gz from which I import from 15.0.1 to 16.0.0. This is the flow that I do from like version 8 I believe.
Playbook to deploy is quite big, but in general I'm just doing following:

1. Import updated awx-16.0.0.tar.gz container
2. Extract awx.zip
3. Stop awx
4. Start awx with `ansible-playbook -i inventory install.yml`

[2020-12-14 19:20] mabashian commented on #8889
This is a known issue: https://github.com/ansible/awx/issues/7015.  https://github.com/ansible/awx/pull/8399 contains a lot of refactoring to the launch prompt.  Once we get that PR merged we'll be able to add password prompting shortly thereafter.

[2020-12-14 19:20] #8889 closed, assigned to nobody

[2020-12-14 19:25] mabashian opened #8890 "Advanced search host filter chips not rendered in smart inventory form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This logic here: https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/Lookup/HostFilterLookup.jsx#L275 means that we will only ever render chips that fit our default search options.  If you create a filter using the advanced search it _appears_ to not work (even though it is working, just not rendering).

![host_filter](https://user-ima

[2020-12-14 19:48] dansou901 commented on #8889
Thanks for the fast reply! Didn't find those merge requests, should have spent more time on searching. Good to know that it's already being worked on!

[2020-12-14 19:58] tiagodread commented on #8699
PR merged, tests in place!

[2020-12-14 19:58] #8699 closed, assigned to marshmalien

[2020-12-14 20:29] mporracindie opened #8893 "postgres database system is in recovery mode"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When running `ansible-playbook -i inventory install.yml` I get an error and looking at the postgres logs I found

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method:  docker for mac
* Ansible version:  2.10.3
* Operating System: macOS Catalina
* Web Browser: Chrome

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESUL

[2020-12-14 20:47] one-t commented on #8530
Hey, @mabashian - can you rebase this to pick up the node version update? Thanks!

[2020-12-14 21:00] imareporter opened #8894 "Add Custom Notification Attribute to Embed Associated Schedules"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to have a custom notification attribute for schedules associated with a job template.

**EXAMPLE:**

[code]

[code]

[code]

[2020-12-14 21:17] jlagermann opened #8895 "Missing basic installation instructions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The README.md says to review the Install guide.  In the Install guide, the first step of the Getting started instructions is to Clone the repo.  The last part of that step says to,

However, the root of the project tree does not contain any commands.
[code]

The three files with executable permissions do not do anything on their own.

[code]
##### ENVI

[2020-12-14 21:28] wenottingham commented on #8895
I think you're misreading that. "run commands within the root of the project tree" means "run all the commands mentioned in the following sections from the root of your checkout tree". As an example, the commands mentioned in https://github.com/ansible/awx/blob/devel/INSTALL.md#run-the-installer-2

[2020-12-14 21:40] FloMeyer commented on #8884
I can confirm this issue.
![image](https://user-images.githubusercontent.com/2670188/102138403-92753400-3e5c-11eb-8035-202d9b5bb8e0.png)

Running on Ubuntu 20.04.1 LTS in docker container.

Upgraded using:
mv awx awx_15.0.1
git clone https://github.com/ansible/awx.git
cp awx_15.0.1/awx/installer/inventory /root/awx/installer/inventory
cd /root/awx/installer
ansible-playbook -i inventory install.ym

[2020-12-14 21:48] jlagermann commented on #8895
That makes a lot more sense.  It sounds like an easy documentation fix.  I would suggest the docs be updated with "run all the commands mentioned in the following sections from the root of your project/checkout tree".

[2020-12-14 22:19] rebeccahhh opened #8898 "no error message when saving a webhook notification w/incorrectly formatted custom message"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Custom messages for webhook notifications require dictionary format (with double quotes) to save. If you create a webhook notification and try to save it without this format there is no warning or error in the UI. It won't save (which is good) but has no indicator to notify the user of their mistake.

##### ENVIRONMENT
* AWX version: awx: 16.0.0
* AWX

[2020-12-14 22:38] paulboot commented on #5476
I found this article in the only for Ansible Tower subscriptions Knowledge base [How Do I Use Ansible Tower's Credential Parameters (Machine, Network, Cloud) in my Playbook?](https://access.redhat.com/solutions/3332591). I am using AWX for educational purposes and do not have a subscription.

Could the Ansible team consider adding this essential info to the Tower Credentials documentation?

[2020-12-14 23:13] paulboot commented on #5476
This only is an issue (or by design?) for the Credential type: Network. By printing the environment variables in the AWX task execution container the relevant USERNAME and KEY_FILE can be found:

[code]

Three SSH related environment vars were only set when a Credential of type Network is set (not for Credentials of type Machine)  I added two extra variables to my template like this:

[code]

[2020-12-14 23:57] jakemcdermott commented on #8898
Hopefully helpful info for scoping:

After looking into this, I _think_ there's two parts to this issue:

1. (Potentially tricky) Sometimes, field-specific errors near the top of the form are completely out of view by the time you've scrolled far enough to save. This is especially likely if the custom messages are toggled on, as they take up a lot of space. This may require some ux discussion.  Ma

[2020-12-15 00:23] jakemcdermott commented on #8895
https://github.com/ansible/awx/pull/8900

[2020-12-15 00:30] jakemcdermott commented on #8884
This is starting to look like _upgrades_ are a factor. Can you post logs from the browser network tab? Which browser are you using?

[2020-12-15 00:31] jakemcdermott commented on #8884
Have you modified the nginx config any? That'll help narrow this down.

[2020-12-15 00:37] jakemcdermott commented on #8884
Also, which installation method? (docker or k8s)?

[2020-12-15 07:03] adpavlov commented on #8884
as for me I tried Safari, Firefox, Edge.
no configuration changes for nginx.
installation with docker.

[2020-12-15 09:37] jorgeyanesdiez commented on #8863
I went as far back as version 11.0.2 and it still happened then. I do understand that the docker-compose install method is soon to be deprecated, but on the other hand, documentation on the EE/ansible-builder method does not exist yet. If the EE way is the way forward, please consider updating the docs or at least publishing some basic guidelines for newbies to AWX. Otherwise, the docker-compose m

[2020-12-15 10:10] apollo13 opened #8902 "If a Credential is configured with POL fields, JT launches do not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Starting a template with an ssh machine credential that is configured to prompt for the private key fails:
![image](https://user-images.githubusercontent.com/81547/102200884-b0c34a00-3ec5-11eb-9795-de9ddfc69fc0.png)

Please note that the prompts do not even offer the option to provide the credentials

##### ENVIRONMENT
* AWX version: 16.0.0.
* AWX ins

[2020-12-15 10:20] velzend commented on #1034
For a local development setup.

Find the container id of the task container:

`docker ps`
[code]

The awx_task container has container ID `e3f545e8bd97`.
Next exec into the container:

`docker exec -ti e3f545e8bd97 bash`

[code]

Change directory:
`cd /var/lib/awx/venv/awx/`

Activate the AWX Python virtual environment:
`source bin/activate`

Start AWX manage with the `shell_plus` argument:

`awx-

[2020-12-15 12:22] jplitza commented on #8883
I'm getting the impression that I'm using the API in an unintended way…
When advancing through the pages of the response, the response time increases, even with the btree index. An not only response time: Memory usage of the *uwsgi* process is rocketing as well, taking up several GB.
Guess I will have to take a deep dive into how the API handles its requests. I would have expected that the page an

[2020-12-15 12:24] FloMeyer commented on #8884
Loading of the login page looks okay in the network tab:
![image](https://user-images.githubusercontent.com/2670188/102213899-baee4400-3ed7-11eb-8bb1-f24b97d4e1d7.png)

Loading of the settings page gives the error:
![image](https://user-images.githubusercontent.com/2670188/102213924-c80b3300-3ed7-11eb-86a7-902370751e7f.png)

The Reponse headers look the same in both cases (settings page loading or

[2020-12-15 12:26] FloMeyer commented on #8884
Dont know if its worth to metion: I am logging in via LDAP.

[2020-12-15 12:38] FloMeyer commented on #8884
This is my inventory file for installation.
[inventory.txt](https://github.com/ansible/awx/files/5695875/inventory.txt)

[2020-12-15 13:10] dwandro commented on #7201
Have you tried using `inventory.name:"name of your inventory"`? This seems to work for me (using AWX 15.0.1)

[2020-12-15 14:38] unlikelyzero commented on #7683
covered in smart-inventory-tabs.spec.js

[2020-12-15 14:38] #7683 closed, assigned to marshmalien, dsesami

[2020-12-15 14:51] unlikelyzero commented on #8562
@faroukellouze i think you're asking for https://github.com/ansible/awx/issues/2032 . Please re-open this issue if #2032 doesn't fully capture your use case!

[2020-12-15 14:51] #8562 closed, assigned to nobody

[2020-12-15 15:29] juanvalino commented on #7846
+1

[2020-12-15 16:49] unlikelyzero commented on #7339
covered by credential-mock

[2020-12-15 16:49] #7339 closed, assigned to mabashian, unlikelyzero

[2020-12-15 16:54] jakemcdermott commented on #8895
:wave: This is now addressed by https://github.com/ansible/awx/pull/8900. The doc updates are on the devel branch now and they'll be included with the next awx release.

[2020-12-15 16:54] #8895 closed, assigned to nobody

[2020-12-15 16:54] yurtesen commented on #371
It would be a great feature to include this and also with feature to search inside lists or dictionaries even.
But I had some luck using regex also
[code]
Sure it can match some strange things also if one is not careful.
By the way, is there a way to use double quotes or square brackets in the regex?

[2020-12-15 16:56] jakemcdermott commented on #8817
note: The field should be there, but it is misnamed. The associated fix updates the label so that the field name is correct.

[2020-12-15 17:11] alexandrovas commented on #8884
I can confirm this issue on fresh installation in docker-compose (Ubuntu 18.04 LTS)

Tested in Chrome and Safari on MacOS 10.15.7

Login page:
![image](https://user-images.githubusercontent.com/49055338/102247835-87c8a680-3f11-11eb-9629-0bb30be1d765.png)
Jobs:
![image](https://user-images.githubusercontent.com/49055338/102248060-cc544200-3f11-11eb-99bb-0594846e05d2.png)

[2020-12-15 17:17] unlikelyzero commented on #7690
covered in inventory-tabs.spec

[2020-12-15 17:17] #7690 closed, assigned to jakemcdermott

[2020-12-15 17:17] jakemcdermott commented on #8884
Thanks for the info, everyone. So far, the common factor  between all of these occurrences seems to be the _docker compose_ installation method - this helps us know where to look first.

[2020-12-15 17:27] #8278 closed, assigned to nobody

[2020-12-15 17:57] kdelee commented on #7665
Tested this with doing PATCH to a project with:

[code]

got expected:
[code]

works for me! thanks

[2020-12-15 17:57] #7665 closed, assigned to thedoubl3j

[2020-12-15 18:00] unlikelyzero commented on #6734
dropping to low after looking at impact and likelihood that this would come up

[2020-12-15 18:08] unlikelyzero commented on #7835
@mabashian we don't have good coverage here. I'm going to leave this open to reassess

[2020-12-15 18:12] unlikelyzero commented on #8898
@jakemcdermott how does this relate to https://github.com/ansible/awx/issues/8816

[2020-12-15 18:23] unlikelyzero opened #8903 "Galaxy API Credentials have improper case structure (likely a future l10n issue)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Small issue but may likely indicate future l10n issues. "Galaxy Api Token" not "Galaxy API Token". I think we want Galaxy API to be a trademarked object or property like "Github API". We should see where Galaxy and Automation hub are displayed to ensure that they're translated properly

##### ENVIRONMENT
* AWX version: 12/15

##### STEPS TO REPRODUCE
I

[2020-12-15 18:45] tstahnke2 commented on #8881
Thanks, that appears to be working, I was able to apply the patch to our image :) Now the output isn't updating until the job is done, I'm going to have to dig and see if it's something in my config...

[2020-12-15 18:45] #8881 closed, assigned to nobody

[2020-12-15 18:53] BitProcessor commented on #8863
Ran into this issue myself. Can confirm that running `/usr/bin/awx-manage create_preload_data` a couple of times in the awx_task container eventually gets it to a correct state:

[code]
As an alternative, running the playbook in its entirety a couple of times will have the same result.
For reference: executing the command 3 times (1x playbook, 2x manual inside the task container) got me the correc

[2020-12-15 19:08] jakemcdermott commented on #8898
@unlikelyzero Probably a duplicate, and there is a good chance that the issue described in #8816  actually [1] (from above) in disguise. It's worth a re-test just to confirm.

[2020-12-15 19:26] kdelee commented on #6930
this is superseded by plans to use receptor to control remote execution and for all ansible execution to occur inside of containers, which themselves would deal with ansible content dependencies (execution environementst).

[2020-12-15 19:26] #6930 closed, assigned to fosterseth

[2020-12-15 19:41] joshmullis commented on #3769
Echoing what @abedwardsw stated on overwriting the global vars.
At the very least, there could either be:

 - an additional checkbox "overwrite global vars"
 - simple code change to overwrite global vars if only one inventory source is specified

[2020-12-15 20:42] mabashian opened #8905 "Explore replacing react-codemirror2"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Placeholder with more info to be added later.

tldr; this wrapper looks like it's moving towards abandonment based on comments made by the owner on a number of issues.  Lets look and see what else is out there/what our options are.

[2020-12-15 20:44] mabashian opened #8906 "Add proper validation to CodeMirrorField component"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It doesn't look like this was ever really implemented.  There's a prop on the component where you _could_ pass in a validate function but we don't actually do that in any of the places.

The idea here is that we want to validate the field for malformed yaml/json and _at a minimum_ show an error beneath the field.

The reason why I think this is going

[2020-12-15 20:47] mabashian opened #8907 "Malformed yaml can crash the launch/workflow node prompt wizard"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This should actually be addressed by https://github.com/ansible/awx/issues/8906.  If we had validation on the extra variables field then the user would address this there.

This bug won't make it's way into devel until https://github.com/ansible/awx/pull/8399 merges.

##### STEPS TO REPRODUCE
1. Create a JT that prompts for extra variables
2. Launch th

[2020-12-15 20:48] mabashian commented on #8907
Here's the actual error that gets thrown:

`YAMLException: can not read a block mapping entry; a multiline key may not be an implicit key at line 4, column 1:`

[2020-12-15 21:25] jakemcdermott commented on #8906
May also be related to: https://github.com/ansible/awx/issues/8898#issuecomment-744838149 ?

Not really sure, but I think adding form-like field validation might help there?

[2020-12-15 22:18] natman opened #8910 "Unexpected 'inventory deleted' error on template survey launch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Impossible to launch a template because of deleted inventory.

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: centos 7
* Web Browser: firefox

##### STEPS TO REPRODUCE

 launch the survey of a template and fill the vars, atvthe final step of the survey, awx complains that the

[2020-12-15 22:38] jakemcdermott commented on #4205
see: https://github.com/ansible/awx/pull/8250

[2020-12-15 23:18] unlikelyzero commented on #8906
and also related to #8816

[2020-12-15 23:23] jakemcdermott commented on #8876
:wave: hello, thanks for creating this issue.

Settings are dynamically generated by the API. Changes are made all of the time. Your best option for a comprehensive list of all available settings is the ui (or interactive rest api documentation for the settings endpoint .. `/api/v2/settings/`)

I'm closing this issue for now, as this github project is for tracking work for the awx project. If you

[2020-12-15 23:23] #8876 closed, assigned to nobody

[2020-12-15 23:30] unlikelyzero commented on #4205
@jakemcdermott we'd like to consider coverage for this in the closedsource tests

[2020-12-15 23:32] hjkatz commented on #8876
If I were to view the settings listed in the UI, then how could I know which settings map to what values in the `awx.awx.tower_settings` module?

[2020-12-15 23:45] unlikelyzero commented on #8817
this was attached to the issue and closed without coverage. All high severity regressions will have automated coverage added

[2020-12-16 00:40] Keith-Nowosielski-SJSU opened #8911 "Yum Module python2-dnf error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I keep getting this error on my RHEL 6-7 systems when I try using the YUM Module for patching or installing packages.

[code]

Ansible Controller: Ansible-awx official container image version 15.0.1Ansible Controller: CentOS 8Ansible Controller: Local Ansible Version 2.9.15Ansible Controller: Local Python 3.6.8

I'm listing both the container specs an

[2020-12-16 06:12] unnecessary-username opened #8913 "Incorrect coding example in Automation Hub ansible.tower.tower_license module document"
I am Tong He from Red Hat Multi-Product Entitlement QE Team.

##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The coding example given in Automation Hub ansible.tower.tower_license module's document is definitely wrong.
-  name: Set the license using a file
   license: <--This indicates license module, which cannot be recognized. Should be tower_license here.
   manifest: "/tmp/my_manifest.zip"

[2020-12-16 07:14] storminteractive commented on #8863
There seem to be deeper problem between awx django models and postgres. The primary problem in create_preload_data seems to be:

django.db.utils.ProgrammingError: column "custom_virtualenv" of relation "main_organization" does not exist
LINE 1: ...tion", "created_by_id", "modified_by_id", "name", "custom_vi...

Even with create_preload_data=False container keeps on failing with SQL messages:

djan

[2020-12-16 10:32] Jeroen7V opened #8914 "Dynamic inventory source variables ignored"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When using source variables in a dynamic VMware inventory, most variables aren't processed. So far the 'port' variable is the only one we found which is being processed. Other variables such as 'alias_pattern' and 'host_filters' do not overwrite the default configuration of [vmware.ini](https://github.com/ansible-collections/community.vmware/blob/main

[2020-12-16 11:31] adpavlov opened #8915 "Job Details missing source workflow link"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: Mac OS 11
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Start workflow and go to any sub job
##### EXPECTED RESULTS

To have a link to source workflow that started this job
##### ACTUAL RESULTS
No link to source workflow as

[2020-12-16 11:36] adpavlov opened #8916 "job can't be canceled if it was started from workflow"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: Mac OS
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Start workflow execution and attempt to stop any child job
##### EXPECTED RESULTS
job to be stopped

##### ACTUAL RESULTS
Failed to cancel one or more jobs
You don't have

[2020-12-16 11:47] adpavlov opened #8917 "Can't launch job_template if scm_branch 'prompt on launch' not set"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: Mac OS 11
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Configure job template as following without prompting Source control branch as inventory is custom script and launch it

![image](https://user-images.githubusercontent.

[2020-12-16 12:36] jean-christophe-manciot commented on #8455
Confirming that redis is started as redis:redis inside the awx_redis container:
[code]

[2020-12-16 13:12] adpavlov opened #8918 "Missing ring bell icon for approval nodes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 16.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.15
* Operating System: Mac OS
* Web Browser:

##### STEPS TO REPRODUCE

In previous versions there was a ring bell icon that showed active approvals
##### EXPECTED RESULTS

##### ACTUAL RESULTS
Such icon and functionality is missing in awx 16.0.0

###