[2021-04-07 18:33] tiagodread commented on #5906
@unlikelyzero can we close this issue?

[2021-04-07 18:40] #9842 closed, assigned to nobody

[2021-04-07 18:44] tiagodread commented on #6612
@unlikelyzero can we close this issue?

[2021-04-07 18:59] ntui opened #9845 "Installing the latest AWX on a VMWare guest"
We use VMWare for almost all of the servers we have at my organization.  minikube does not work on our guest machines because of the lack of VT-X/AMD-v support in the guest VMs.

What do you recommend for installing the latest version of AWX on a non-bare metal server?

While Semaphore doesn't have all the features that AWX does, it does install directly onto the machine so it's an option. I would

[2021-04-07 19:01] ryanpetrello commented on #9845
Hey @ntui,

If minikube isn't an option, you could try running AWX in Docker via `docker-compose`:

https://github.com/ansible/awx/tree/devel/tools/docker-compose

...but note that this install method is not something we rigorously test; it's primarily used as a development environment by the AWX core team.

[2021-04-07 19:25] nixocio opened #9846 "Add link to the docs in how to replace a custom virtual env with an EE"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now we are displaying a warning message if a previous resource had a custom virtual env, that was not replace by an EE. It would nice to have a link to the doc in how to do that as part of the warning.

[2021-04-07 19:26] nixocio commented on #7059
See: https://github.com/ansible/awx/issues/9846

[2021-04-07 19:31] tiagodread commented on #9636
@jakemcdermott @nixocio I tried this on devel on dev or production build and with network throotling enabled/disabled and I couldn't reproduce this issue

![chrome-capture](https://user-images.githubusercontent.com/12464858/113922332-8cb1ae80-97bd-11eb-926b-6347b93746b9.gif)

[2021-04-07 19:34] nixocio commented on #9636
This issue was already addressed as part of https://github.com/ansible/awx/pull/9662 - that is probably why we can not recreate anymore on devel.

[2021-04-07 19:35] #9636 closed, assigned to jakemcdermott

[2021-04-07 19:42] tiagodread commented on #9568
The testability was added, closing this issue.

[2021-04-07 19:42] #9568 closed, assigned to nobody

[2021-04-07 20:58] corsojulian7 commented on #9540
I have the same issue. @stefanpinter Did you solve it?

[2021-04-07 22:06] lemmy04 opened #9849 "Documentation missing: How to upgrade AWX in Kubernetes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

AWX 19.0.0 was released, there is no documentation about how to upgrade from 18.0.0

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: k3s, awx-operator
* Ansible version:
* Operating System: debian buster
* Web Browser:

##### STEPS TO REPRODUCE

have a working AWX 18.0.0 in Kubernetes, try to find documentation about how to upgrade to 19

[2021-04-07 22:07] shanemcd commented on #9849
Process should just involve re-running this command: https://github.com/ansible/awx-operator#basic-install

[2021-04-07 22:08] shanemcd commented on #9849
Happy to review a PR that adds a note for this somewhere in INSTALL.md.

[2021-04-07 22:41] shanemcd commented on #9845
Hello,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-07 22:41] #9845 closed, assigned to nobody

[2021-04-07 22:42] shanemcd commented on #9768
AWX 19 is out and should fix this.

[2021-04-07 22:42] #9768 closed, assigned to nobody

[2021-04-07 22:44] #7839 closed, assigned to nobody

[2021-04-07 22:47] shanemcd commented on #9784
There is no supported migration path here. You'll have to do it manually by dumping / restoring your database, or automate the creation of your AWX.

[2021-04-07 22:47] #9784 closed, assigned to nobody

[2021-04-07 22:47] shanemcd commented on #9766
This should be fixed in AWX 19.

[2021-04-07 22:47] #9766 closed, assigned to nobody

[2021-04-07 22:48] shanemcd commented on #9727
Sounds like a permissions issue with the token you generated. Not something we can help with.

[2021-04-07 22:48] #9727 closed, assigned to nobody

[2021-04-07 22:49] shanemcd commented on #9730
Can you try this on AWX 19?

[2021-04-07 22:49] shanemcd commented on #9704
This should be fixed in AWX 19.

[2021-04-07 22:49] #9704 closed, assigned to nobody

[2021-04-07 22:52] shanemcd commented on #9716
This should be fixed in AWX 19. Please reset your pod definition to the default value and rebuild on top of it.

[2021-04-07 22:52] #9716 closed, assigned to nobody

[2021-04-07 22:53] shanemcd commented on #9728
I have not seen any other reports of this. Can you try again and let me know if the problem is still happening?

[2021-04-07 22:54] shanemcd commented on #9746
Can you try this again in AWX 19? We fixed some other problems related to inventories, this might work now.

[2021-04-07 22:55] shanemcd commented on #9771
This error looks a lot like https://github.com/ansible/awx/issues/9763 and https://github.com/ansible/awx/issues/9704. Can you try on AWX 19?

[2021-04-08 00:08] ronjarrell commented on #9730
Not anytime soon, jumping to the kubernetes installation isn’t something
 to do, we’re happy with the docker container version.

On Wed, Apr 7, 2021 at 6:49 PM Shane McDonald ***@***.***>
wrote:

--

*Ron Jarrell*
*Software Engineer, Exchange Infrastructure*
***@***.***

*The information contained in this email is confidential together with any
information contained in any attachments to this emai

[2021-04-08 01:21] shanemcd commented on #9730
We don’t support older versions so I’m going to close this. Open another issues if you experience this after upgrading.

[2021-04-08 01:21] #9730 closed, assigned to nobody

[2021-04-08 03:05] crouthamela commented on #9728
I took a deeper look and oddly enough I tracked this down to an issue with nginx. Thanks for checking in on this.

[2021-04-08 03:05] #9728 closed, assigned to nobody

[2021-04-08 04:49] Commifreak commented on #9849
"Upgrading" by this method keeps all volumes/data?

[2021-04-08 05:11] lemmy04 commented on #9849
all that I got from this is a second awx-operator pod that is stuck in ErrImagePull, the latest awx-operator yaml file expects 0.8.0 of the container image which is not available.

[2021-04-08 05:31] lemmy04 commented on #9784
I just found instructions https://github.com/ansible/awx-operator/blob/devel/docs/migration.md, but how can I access the database that is located in a standalone docker on a different host - I'd have to reconfigure that first, to be accessible from the outside.
Is the database scheme still the same as in 17.1.0?

[2021-04-08 06:09] mili988 commented on #19
is there a solution for this? is it possible to delete old jobs from commandline (docker container)?

[2021-04-08 07:00] lerminou commented on #9768
@shanemcd  thanks for the note.
I have some questions not directly related to this bug.

I don't really understand the awx release management :p
Why do you always upgrade the X of the semver? 18.1.0 could be enough?
It's hard to update with no changelog ou release note, and we never know if it's safe because the X of the semver can introduce breaking changes IMHO

And what's the update procedure w

[2021-04-08 07:23] cr0cdev commented on #9849
Looking at the images, I guess the new image is named "devel" and just downloading the awx-operator.yaml to your server and modifying the image number from 0.8.0 to devel does the trick right now.

[2021-04-08 07:59] Commifreak commented on #9849
Maybe the Docker images are still being generated. But why they dont wait until this is done? Every install/upgrade will fail in the meantime?

[2021-04-08 08:35] shenqinb-star opened #9850 "Get HTTP 403 error when testing a HashiCorp Vault Secret Lookup Credential"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Get HTTP 403 error when testing a HashiCorp Vault Secret Lookup Credential:
![image](https://user-images.githubusercontent.com/79623318/114003346-411c0500-9890-11eb-9eae-89fe98a35515.png)

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.9.18
* Operat

[2021-04-08 08:51] cr0cdev commented on #9849
After a bit of hassle I was able to upgrade the AWX, but I lost all my data because just running kubectl commands again does not do the trick because it will keep the old containers up. Had to clean all the containers and rebuild it. I guess the easier way is to setup a external postgresql server and configure AWX against that so you do not lose data.

[2021-04-08 08:55] balonik commented on #9296
still not fixed. with AWX 19.0.0 on k8 I get `Copyright {0} Red Hat, Inc.`

[2021-04-08 09:10] balonik opened #9851 "Instance Group or Job fails with AttributeError: 'NoneType' object has no attribute 'image'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In UI `Instance Groups` ends up with Error 500
It is not possible to run ANY Job.

`api/v2/instance_groups/1/` returns

[code]

AWX spec snippet

[code]

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: awx-operator 0.8.0 on RKE
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Deploy AWX 19.0.0 using

[2021-04-08 09:16] balonik opened #9852 "error when removing single Source from inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
It is not possible to delete single Source from Inventory. When trying to delete single inventory source following error occurs

[code]

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: awx-operator 0.8.0 on RKE
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create Inventory
Create Inventory source

[2021-04-08 09:26] balonik commented on #9849
Yes, I am running with external postgresql (deployed using the bitnami Helm chart) and you won't loose data this way.
If you need persistent `projects` folder you can also use the `tower_projects_*` properties available in awx-operator 0.8.0

[2021-04-08 09:31] balonik commented on #9850
If you mean the `CA CERTIFICATE` field when you configure Credential of type `HashiCorp Vault Secret Lookup` then it is not required if the CA is in system's truststore/ca-bundle.

[2021-04-08 09:36] gajda-b opened #9853 "quay.io/ansible/awx-operator:0.8.0 / missing image"
There is no image
quay.io/ansible/awx-operator:0.8.0

required to operate awx-operator  on
https://quay.io/repository/ansible/awx-operator?tag=0.8.0&tab=tags

##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

####

[2021-04-08 09:38] balonik commented on #9853
this is already reported in the awx-operator repository https://github.com/ansible/awx-operator/issues/190

[2021-04-08 09:44] shenqinb-star commented on #9850
@balonik thanks for your reply. I have updated the issue. now I got Http 403 error after providing CA. please read the updated description. The AppRole I provided has read permission to the secret path. I have tested via Vault CLI and it works. but I got 403 error in AWX.

[2021-04-08 11:05] shanemcd commented on #9853
Oops. Sorry folks. This has been addressed. I'll automate the problem so I don't forget next time.

[2021-04-08 11:05] #9853 closed, assigned to nobody

[2021-04-08 11:16] cr0cdev commented on #9849
Can you give me a example of your DB connection config? I'm trying to set it up but it does not like the information I throw at him.
Error:
"Secret in version "v1" cannot be handled as a Secret: v1.Secret.StringData: ReadString: expects " or n, but found 5"

[2021-04-08 11:34] shanemcd commented on #9849
@lemmy04 Sorry about that. See https://github.com/ansible/awx-operator/issues/190

[2021-04-08 11:45] minyor commented on #9704
Can you please advise, how to install AWX 19?

I used these instructions when installed version 18:
https://github.com/ansible/awx/blob/devel/INSTALL.md

And now, when I execute:
`minikube kubectl apply -- -f awx.yml`
gives: `awx.awx.ansible.com/awx unchanged`

[2021-04-08 11:49] minyor commented on #9704
`minikube kubectl -- apply -f https://raw.githubusercontent.com/ansible/awx-operator/devel/deploy/awx-operator.yaml`
Also gives:
[code]
How to update this thing?

P.S. Thank you in advance for any help!

[2021-04-08 12:25] balonik commented on #9849
@mYzk
here it is

[code]

[2021-04-08 12:30] balonik commented on #9850
@shenqinb-star
HTTP 403 was returned by Vault. It means Vault denied you access to that secret or to login. Make sure your AppRole role has correct `token_policies` assigned to access that secret. Also make sure your AppRole doesn't limit CIDRs using `secret_id_bound_cidrs`
You can also look in Vault logs to see the details.

[2021-04-08 14:08] lemmy04 opened #9854 "AWX 19.0.0: awx-operator deployment is stuck setting up the database"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm trying to deploy a fresh, clean AWX 19 in K3s using the operator in version 0.8.0, and it never finishes - the operator pod log suggests that it is trying to restore some database backup from somewhere?

my deployment yaml file:
[code]
##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: k3s, awx-operator 0.8.0
* Ansible version:  unknown

[2021-04-08 14:12] AlexSCorey commented on #9246
I can't reproduce

[2021-04-08 14:14] lemmy04 commented on #9854
I just found this in the logs:

[code]

I think there's something about an undefined variable in that wall of text somewhere?

[2021-04-08 14:16] shanemcd commented on #9854
Interesting...

[code]

[2021-04-08 14:18] shanemcd commented on #9854
I bet the error is being thrown here: https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/tower_deployment.yaml.j2#L186

[2021-04-08 14:18] shanemcd commented on #9854
Ohhh I think I see your problem:

[code]

Should be:

[code]

[2021-04-08 14:27] shanemcd commented on #9854
Closing this in favor of https://github.com/ansible/awx-operator/issues/194.

In the future, please open up issues with the operator at https://github.com/ansible/awx-operator/issues

[2021-04-08 14:27] #9854 closed, assigned to nobody

[2021-04-08 15:10] sudoerss opened #9855 "Project Data Dir in AWX 19.0.0"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - UI
 - Installer

##### SUMMARY

I installed awx 19.0.0 by following the official procedure with minikube and when I want to create a new project I have this message:

``
There are no available playbook directories in /var/lib/awx/projects. Either that directory is empty, or all of the contents are already assigned to other projects. Crea

[2021-04-08 15:17] shanemcd commented on #9855
Hello. A release just went out yesterday that added support for this. See https://github.com/ansible/awx/issues/9837

[2021-04-08 15:17] #9855 closed, assigned to nobody

[2021-04-08 15:41] sudoerss commented on #9855
Thank you very much for the quick response
sorry to have created this issue for nothing

[2021-04-08 15:43] jakemcdermott commented on #9850
Yes to what @balonik said -  the 403 is from the vault and it likely means the details or access credentials you're providing to vault via the plugin aren't exactly right.

[2021-04-08 15:43] #9850 closed, assigned to nobody

[2021-04-08 15:53] unlikelyzero commented on #6612
@tiagodread minimal testing was done here to get it in before Mike went on PPL. I would leave it open so that it can get a second pair of eyes. There are quite a few problems with the implementation

[2021-04-08 16:14] unlikelyzero opened #9857 "[ui_next] Seconds displayed for some settings which may best be represented in hours/minutes/seconds"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Seconds displayed for some settings which may best be represented in hours/minutes/seconds

##### ADDITIONAL INFORMATION
<img width="916" alt="Screen Shot 2021-04-08 at 12 12 42 PM" src="https://user-images.githubusercontent.com/12446869/114060972-e5d41d80-9863-11eb-90ff-6c7b0e7948ec.png">

[2021-04-08 16:27] corsojulian7 commented on #9552
Same problem here. Debian 10. Migration from AWX 16 docker.

[2021-04-08 16:32] tiagodread commented on #7657
Added a test to cover this scenario in e2e

[2021-04-08 16:32] #7657 closed, assigned to tiagodread

[2021-04-08 16:44] MrAmbiG commented on #9838
@shanemcd i wish it worked. line 118
[code]
user@ubuntuserve:~/citadel/k8s/apps$ kl apply -f awx-operator0.8.0.yaml
error: error validating "awx-operator0.8.0.yaml": error validating data: ValidationError(CustomResourceDefinition.spec.versions[0].schema.openAPIV3Schema.properties.spec.properties.tower_ee_images): invalid type for io.k8s.apiextensions-apiserver.pkg.apis.apiextensions.v1.JSONSchemaP

[2021-04-08 16:59] diogoattall commented on #9837
Hi,

Sorry about to re-open this... But I'm not figuring out how to fix the issue. I've waited for the new release, and tried to installed it from scratch today, but the problem persists.

Maybe the issue it's between the keyboard and chair, maybe not. I'm following all the steps from documentation https://github.com/ansible/awx/blob/devel/INSTALL.md to install awx, what am I doing wrong?

Thanks

[2021-04-08 17:21] MrAmbiG commented on #9838
never mind..
it is to be updated in the in the awx.yaml not operator.yaml and it wasnt clear from the documentation.
2 suggestion for the documentation:

1. update the operator url as per the release branch i am in, it always shows the operator from devel branch even though i am at a release branch
2. At the beginning of the advanced configuration heading, please mention that the options can be co

[2021-04-08 17:55] unlikelyzero commented on #9736
We have coverage ;) @tiagodread

[2021-04-08 17:55] #9736 closed, assigned to nobody

[2021-04-08 17:56] unlikelyzero commented on #9396
Keeping, then

[2021-04-08 17:56] #9396 closed, assigned to nobody

[2021-04-08 18:02] unlikelyzero commented on #8797
@tiagodread and @keithjgrant will be addressing a11y rules and I believe that visual impairment relates to color contrasts, is that correct @cbois ?

[2021-04-08 18:29] unlikelyzero commented on #7777
@nixocio will this get the new slider component from patternfly?

[2021-04-08 18:30] nixocio commented on #7777
That is the idea.

[2021-04-08 18:37] unlikelyzero commented on #7777
@one-t, do you mind taking this one? I know you have some extensive experience here

[2021-04-08 18:54] unlikelyzero commented on #8821
cannot reproduce

[2021-04-08 18:54] #8821 closed, assigned to nobody

[2021-04-08 18:57] unlikelyzero commented on #9752
tests green and we have coverage in this area

[2021-04-08 18:57] #9752 closed, assigned to nobody

[2021-04-08 18:58] unlikelyzero commented on #9410
covered by https://github.com/ansible/tower-qa/pull/6060

[2021-04-08 18:58] #9410 closed, assigned to mabashian

[2021-04-08 18:59] unlikelyzero commented on #8906
@one-t is workin' on it

[2021-04-08 19:01] unlikelyzero commented on #9127
@marshmalien can you work with @tiagodread on this one?

[2021-04-08 19:08] unlikelyzero commented on #8401
@tiagodread , this should be relatively straightforward to implement

[2021-04-08 19:10] rmauc commented on #3072
+1 for this feature. We have experienced similar WINRM problems to above.
This has been open for 2 years, is this still unlikely to happen?

[2021-04-08 19:13] wenottingham commented on #9857
How are these settings entered? Is this different than it was in the old UI?

[2021-04-08 19:22] unlikelyzero commented on #9311
@marshmalien please pair with @tiagodread while developing this.

@tiagodread , i think we could automate one or two tests on this and do a complete audit by _manually_ modifying the BeforeEach and AfterEach in index.js such that we are logged out before starting the tests

[2021-04-08 19:23] unlikelyzero commented on #8670
@akus062381 will automate these tests

[2021-04-08 19:24] unlikelyzero commented on #8488
covered in https://github.com/ansible/tower-qa/pull/5743

[2021-04-08 19:24] #8488 closed, assigned to jakemcdermott, unlikelyzero

[2021-04-08 19:25] unlikelyzero commented on #8031
This has been added with coverage

[2021-04-08 19:25] #8031 closed, assigned to keithjgrant

[2021-04-08 19:26] unlikelyzero commented on #7692
coverage added

[2021-04-08 19:26] #7692 closed, assigned to tiagodread, AlexSCorey

[2021-04-08 19:27] unlikelyzero commented on #8130
https://github.com/ansible/awx/pull/8640#issuecomment-780818438

[2021-04-08 19:27] #8130 closed, assigned to AlexSCorey

[2021-04-08 19:28] unlikelyzero commented on #7678
@mabashian @wenottingham this would be a great candidate to kick out of 4.0

[2021-04-08 19:29] unlikelyzero commented on #7662
Additional Test Coverage will be straightforward. Please test the RBAC case

@marshmalien please reach out to @tiagodread when you begin to tackle this one!

[2021-04-08 19:30] unlikelyzero commented on #7565
@AlexSCorey please reach out to @tiagodread when you begin work here

[2021-04-08 19:31] #6612 closed, assigned to mabashian

[2021-04-08 19:35] unlikelyzero commented on #7467
Closing as everything is handle as an individual ticket

[2021-04-08 19:35] #7467 closed, assigned to nixocio

[2021-04-08 19:36] unlikelyzero commented on #6613
@jakemcdermott please sync with @akus062381 and @tiagodread when you begin this work. They do not have all of the context of this functionality.

QE should implement collapsing on different ansible versions and job types (inventory sync, project sync, jt)

[2021-04-08 19:37] unlikelyzero commented on #6510
coverage added

[2021-04-08 19:37] #6510 closed, assigned to mabashian, tiagodread

[2021-04-08 19:38] unlikelyzero commented on #5906
tests added

[2021-04-08 19:38] #5906 closed, assigned to mabashian

[2021-04-08 19:39] unlikelyzero commented on #5546
coverage added

[2021-04-08 19:39] #5546 closed, assigned to AlexSCorey

[2021-04-08 19:39] unlikelyzero commented on #6519
@wenottingham @mabashian moving this to backlog as it's an enhancement

[2021-04-08 19:52] unlikelyzero commented on #5070
@marshmalien please sync with @tiagodread on these expanded row issues!

[2021-04-08 19:58] unlikelyzero commented on #4977
@marshmalien please sync with @tiagodread on these expanded row issues!

[2021-04-08 19:59] unlikelyzero commented on #4975
@jakemcdermott please pair with @tiagodread on this one. I'm not sure how to create this scenario in the e2e tests

[2021-04-08 20:00] unlikelyzero commented on #4426
@nixocio as I understand it, we will need to add some api changes to the /me and /config API endpoints. Is that correct @jakemcdermott ?

[2021-04-08 20:04] unlikelyzero commented on #9857
@wenottingham
<img width="1037" alt="Screen Shot 2021-04-08 at 4 04 32 PM" src="https://user-images.githubusercontent.com/12446869/114089434-22b00c80-9884-11eb-95ec-7510e0974778.png">

[2021-04-08 20:11] bdoublet91 commented on #9165
Hi, I tried to install awx 18 with docker installation but there are a lot of breaking change and no documentation because awx dev decided to recommand kubernetes over docker so I can't spend time to debug the devel installation. I keep awx 17.1.0 and wait for another one doing the test.

Hope a rollback of dev decision about docker ...

[2021-04-08 20:13] nixocio commented on #4426
It would be a nice to have, but not a blocker. I was waiting for the wizard PR work to be completed to move forward with this one.

[2021-04-08 20:21] tiagodread commented on #9176
Hello @nicosalvadore I think this is a different problem and has more to do with #9525. I tried the same steps as you described in the new UI compared to the old UI and the difference between them is that we are not displaying the survey variable on the **preview step** before the JT launch, but we do show on the job details.

Old UI:

![chrome-capture (1)](https://user-images.githubusercontent.co

[2021-04-08 20:24] jakemcdermott commented on #9176
yes

[2021-04-08 20:29] unlikelyzero commented on #7825
still accurate

[2021-04-08 20:30] unlikelyzero commented on #7834
still accurage

[2021-04-08 20:30] unlikelyzero commented on #7382
still applicable

[2021-04-08 20:30] unlikelyzero commented on #9232
still accurate

[2021-04-08 20:39] unlikelyzero opened #9859 "[ui_next] Advanced Search Key dropdown does not function after receiving 400 response. Must be cleared"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Advanced Search Key dropdown does not function after receiving 400 response. Must be cleared

##### STEPS TO REPRODUCE
1. Create an advanced search query which does not return a valid value and generates a 400 response (i.e. "management" on Schedules page)
2. Search
3. Attempt to use 'Key' dropdown

##### EXPECTED RESULTS

Key dropdown to contain value

[2021-04-08 20:39] unlikelyzero commented on #8480
closing to track individually

[2021-04-08 20:39] #8480 closed, assigned to unlikelyzero

[2021-04-08 21:09] dperez-sct opened #9860 "Job Fail sometimes - 19.0.0 - Openshift"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When execute a template job, it fails with (for us) useless info

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: openshift 4
* Ansible version:  ???

##### STEPS TO REPRODUCE
Execute the template.

##### EXPECTED RESULTS
Job executes and work.

##### ACTUAL RESULTS
Job fail with this info:

[code]

##### ADDITIONAL INFORMATION

When exec

[2021-04-08 21:48] dimatha commented on #9746
Hi @shanemcd !

Had some troubles with upgrading the operator. After upgrading the operator, it was throwing some errors while trying to update the postgress stateful set.

│ []: FAILED! => {\"changed\": false, \"error\": 422, \"msg\": \"Failed to apply object: b'{\\\"kind\\\":\\\"Status\\\",\\\"apiVersion\\\":\\\"v1\\\",\\\"metadata\\\":{},\\\"status\\\":\\\"Failure\\\",\\\"message\\\":\\\"Statef

[2021-04-08 22:09] jakemcdermott commented on #4975
This is implemented & verified - see: https://github.com/ansible/awx/pull/8726

closing

[2021-04-08 22:09] #4975 closed, assigned to jakemcdermott, tiagodread

[2021-04-08 22:11] jakemcdermott commented on #5236
I believe this is implemented and tested, & the qe pr can be tracked elsewhere. Please re-open if I missed something.

[2021-04-08 22:45] unlikelyzero commented on #5236
@jakemcdermott iirc we didn't explicitly have a test for this and I was going to give an explanation in the tower-qa pr

[2021-04-08 22:52] jakemcdermott commented on #9296
Yep, you're right - there appears to be a translation issue with the production build. I will look into it.

**development environment**
![Screenshot from 2021-04-08 18-52-25](https://user-images.githubusercontent.com/9753817/114105864-97427580-989b-11eb-8ed8-1492fc157145.png)

**production build**
![Screenshot from 2021-04-08 18-46-13](https://user-images.githubusercontent.com/9753817/114105492-d

[2021-04-08 23:23] jakemcdermott commented on #9296
https://github.com/ansible/awx/pull/9861

[2021-04-09 05:02] ckabalan commented on #8429
+1 for this feature

Our use case is that we have playbooks that call other playbooks by name and many times we need to update multiple playbooks to create a new release. For example, we have a playbook that does the infrastructure provisioning phase of a VM deployment, then another that runs to configure the OS, then another that runs to test the resulting VM. Being able to call these by name usi

[2021-04-09 06:28] airstream commented on #9552
Hi! Same problem (also with latest awx release). Environment:
- AWX version: 19.0.0
- AWX install method: docker-compose
- Ansible version: 2.10.7
- Docker version: 20.10.5
- Operating System: CentOS 7.9.2009

[2021-04-09 06:59] lemmy04 opened #9863 "AWX 18.0.0 ++: Provided EE can't run more demanding plays - collections are missing that used to be included in ansible itself"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm trying to run several plays that work just fine with ansible 2.9.0, in AWX 18 and 19 they fail because the modules they use have been moved into collections.
I believe for the sake of compatibility between AWX >= 18.0 and AWX <= 17.1 these collections should be included in the default execution environment.

The two collections that I'm missing are

[2021-04-09 07:16] lemmy04 opened #9864 "Add option to select EE when launching ad-hoc commands"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm trying to run jobs or plays in my own EE to get around #9863 but it fails
It used to work doing it the way I'm doing in 18.0.0 with the EE image I made

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: k3s, awx-operator
* Ansible version:  unknown
* Operating System: debian buster
* Web Browser: n.a.

##### STEPS TO REPRODUCE

- deploy

[2021-04-09 08:50] minyor commented on #9704
Ok, did not found a way to update AWX, instead was trying to delete 18 version and install anew.
But it also was not as simple as it seems,.. Simple, if you know how.
Tried to
[code]
Finally what's worked is just:
`minikube delete`

[2021-04-09 08:57] lemmy04 commented on #9197
Just for the record: I'm having this issue in AWX 19.0.0, too.

[2021-04-09 08:57] andy-hcc commented on #9849
Just to clarify, what would the expectation be if you were originally not using an external Postgres database, so one was created during the initial AWX install, but you were now looking to upgrade?

The `awx-postgres` secret now exists (as it was setup during initial AWX install) so would it be safe to just use the `tower_postgres_configuration_secret: awx-postgres` option in the yaml file when a

[2021-04-09 09:28] banshee091 commented on #9864
Just to be sure: The error is, it fails due to missing modules? I struggle with EEs myself, but here you say your EE works in 18, but fails with the same error it throws in 18...?

[2021-04-09 09:29] lemmy04 commented on #9849
my personal expectation would be, if there's already an existing AWX deployment inside the namespace, do not throw away volumes.

[2021-04-09 09:34] lemmy04 commented on #9864
nope, that's not it...

what happens is this: my custom EE works fine in AWX 18, bun in AWX 19 I get a seemingly random mix between the worker does not start with my custom EE, but uses the default instead and then the plays fail, or the worker does not even start at all, with some weird "runtime error" with no further info.

[2021-04-09 09:38] banshee091 commented on #9864
This is the same error I get.... I'm trying to debug it right now. Using the same EE worked like a charm in 18, but I can't pinpoint why it's not working in 19.... did you already try building you awx with a customized EE? I get this error every time, regardless of what I try to do.

[2021-04-09 09:43] lemmy04 commented on #9864
Yep, tried that, in that case the deployment itself fails because the "default worker" container inside the AWX pod doesn't start...

[2021-04-09 09:48] jean-christophe-manciot opened #9865 "[17.1.0] Job remains pending indefinitely when awx_task_hostname and awx_web_hostname are modified in inventory"
@ryanpetrello

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A git source control project is created, then the related job remains pending indefinitely and no cloning is ever made.

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method:  docker compose on linux
* Ansible version: 3.2.0
* Operating System: Ubuntu 21.04
* docker-ce: ```5:20.10.5~3-0~ubuntu-groovy```
* docker-compose: 1.29.0

[2021-04-09 09:51] nicolaibaralmueller opened #9866 "AWX 19.0.0 make docker-compose"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

We have two AWX installations. Production AWX on IP 192.168.1.86 and Test AWX on IP 192.168.1.87.

I am upgrading AWX on the test environment, but executing `make docker-compose` results in awx-wsbroadcast attempting to connect to production host.

Variable for fqdn/hostname is nowhere to be found. Unsure why it is tryng to connect to production env a

[2021-04-09 10:29] dperez-sct commented on #9860
Sorry, memory limit too low.

Fixed increasing the memory limits.

[2021-04-09 10:29] #9860 closed, assigned to nobody

[2021-04-09 10:42] stefanpinter commented on #9540
@corsojulian7  sadly no... you ?

[2021-04-09 12:05] lukasertl opened #9867 "Inventory with multiple sources: groups are overwritten"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have an inventory with two sources:
* Sourced from a project (inventory.yml)
* Red Hat Satellite

The inventory.yml has a subset of the Satellite hosts, but groups them together differently.  Syncing the inventory.yml adds the hosts to the correct group defined in the inventory.yml.

Syncing the Satellite source empties all groups from the inventory.

[2021-04-09 12:06] banshee091 commented on #9864
Just for research purposes: What specs did you give your pod?

[2021-04-09 12:34] shanemcd commented on #9866
Dupe of https://github.com/ansible/awx/issues/9552

[2021-04-09 12:34] #9866 closed, assigned to nobody

[2021-04-09 12:36] shanemcd commented on #9552
Not sure why this error only happens on some distros.

Can someone try modifying the image to create an `nginx` user and see if that helps?

[2021-04-09 12:38] shanemcd commented on #9865
Hello. We removed the installer you're using in AWX 18, and do not support past releases of AWX. Can you try to reproduce this on the latest release?

[2021-04-09 12:47] shanemcd commented on #9863
Hello, thanks for opening this. I've opened a PR here that adds `ansible.windows` to awx-ee: https://github.com/ansible/awx-ee/pull/51. This will be the default image in the next release of AWX.

[2021-04-09 12:49] shanemcd commented on #9864
There are a couple things going on here:

- Ad-hoc commands do not currently support using custom EEs. This is something we need to discuss and make a decision about.
- The default awx-ee is missing the `ansible.windows` collection, as mentioned in https://github.com/ansible/awx/issues/9863

[2021-04-09 12:51] shanemcd commented on #9867
@AlanCoding Can you take a look at this and provide any insight you may have?

[2021-04-09 12:53] shanemcd commented on #9863
Going to close this, since this specific problem will be addressed in the next release. Follow https://github.com/ansible/awx/issues/9864 for updates on the bigger problem with ad-hoc commands.

[2021-04-09 12:53] #9863 closed, assigned to nobody

[2021-04-09 12:55] shanemcd commented on #315
This is no longer relevant after the move to https://github.com/ansible/awx-operator

[2021-04-09 12:55] #315 closed, assigned to nobody

[2021-04-09 13:00] shanemcd commented on #145
I believe this is a problem that should be raised with https://github.com/ansible-collections/community.vmware

[2021-04-09 13:00] #145 closed, assigned to nobody

[2021-04-09 13:01] corsojulian7 commented on #9552
Yes I did. It worked. But I have other issues...

[2021-04-09 13:02] shanemcd commented on #165
Old UI has been removed. Please open a new issue if this is still a problem.

[2021-04-09 13:02] #165 closed, assigned to nobody

[2021-04-09 13:08] shanemcd commented on #416
All PR/Issues mentioned here are either closed or merged. Closing.

[2021-04-09 13:08] #416 closed, assigned to nobody

[2021-04-09 13:09] shanemcd commented on #399
Assuming this has been resolved in the new UI. Please reopen if I'm wrong.

[2021-04-09 13:09] #399 closed, assigned to nobody

[2021-04-09 13:10] shanemcd commented on #433
Issue mentions "scan jobs" which don't exist anymore. Assuming this is no longer relevant.

[2021-04-09 13:10] #433 closed, assigned to nobody

[2021-04-09 13:14] #432 closed, assigned to nobody

[2021-04-09 13:14] Achim-Hentschel commented on #9552
We are also trying to get the whole thing up and running in an Amazon Linux 2. What I realised is the 3rd line of the awx_1 container as given in issue https://github.com/ansible/awx/issues/9866 which has been marked as dupe:

`tools_awx_1 | Error: 'overlay' is not supported over overlayfs, a mount_program is required: backing file system is unsupported for this graph driver`

I checked the host f

[2021-04-09 13:16] shanemcd commented on #380
This is addressed via tooltip in new UI.

[2021-04-09 13:16] #380 closed, assigned to nobody

[2021-04-09 13:18] shanemcd commented on #488
Closing due to lack of discussion and interest.

[2021-04-09 13:18] #488 closed, assigned to nobody

[2021-04-09 13:20] shanemcd commented on #452
I believe this issue is no longer relevant under the new Execution Environment model. Each run is a new container, so the `known_hosts` should never get reused.

[2021-04-09 13:20] #452 closed, assigned to nobody

[2021-04-09 13:21] #498 closed, assigned to nobody

[2021-04-09 13:21] #538 closed, assigned to nobody

[2021-04-09 13:22] shanemcd commented on #489
No longer relevant after the transition to awx-operator.

[2021-04-09 13:22] #489 closed, assigned to nobody

[2021-04-09 13:22] shanemcd commented on #512
Did we ever do this?

[2021-04-09 13:23] shanemcd commented on #634
If this is still relevant in the new UI please open a new issue.

[2021-04-09 13:23] #634 closed, assigned to nobody

[2021-04-09 13:24] shanemcd commented on #611
RIP network UI

[2021-04-09 13:24] #611 closed, assigned to benthomasson

[2021-04-09 13:25] shanemcd commented on #616
RIP network UI

[2021-04-09 13:25] #616 closed, assigned to nobody

[2021-04-09 13:26] lemmy04 commented on #9864
the default specs from the operator.

[2021-04-09 13:26] shanemcd commented on #577
I think the move to rsyslog got us this?

[2021-04-09 13:26] #577 closed, assigned to nobody

[2021-04-09 13:29] lemmy04 commented on #9863
can we please include ALL collections that are missing? I'd think that "the ansible" in the default EE should be able to run everything that "the ansible" in AWX before 18.0.0 was able to do, without having to change plays / projects in ways that might break them if you use them with an older tower.

Just imagine a developer using AWX as their testbed / development environment, and a RHEL8 with an

[2021-04-09 13:33] ryanpetrello commented on #577
Yep, it did!

[2021-04-09 13:51] nixocio opened #9868 "Navigating to Template Details shows an empty screen for a while"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Navigating to Template Details shows an empty screen for a while.

https://user-images.githubusercontent.com/9053044/114190273-22158580-9919-11eb-8052-06cef996afad.mov

[2021-04-09 14:07] #1199 closed, assigned to nobody

[2021-04-09 14:10] Achim-Hentschel commented on #9552
We made some progress. I also tried to modify the Makefile for version 19.0.0 - i.e. the section `nginx:`

[code]

That way `supervisord` will - with every start of nginx - add the user. You obviously get an error `useradd: user 'nginx' already exists` if the user is already there - but for us the services started properly.

[2021-04-09 14:11] shanemcd commented on #728
These issues should be resolved in the awx-operator.

[2021-04-09 14:11] #728 closed, assigned to nobody

[2021-04-09 14:12] #683 closed, assigned to matburt

[2021-04-09 14:12] sudoerss commented on #9855
Hello,
After editing the volume by hand
`minikube start --mount --mount-string="/var/lib/awx/projects/playbooks/:/var/lib/awx/projects/playbooks/"
`

I still can't get my playbooks from the webui, I still get the same error message

However, when I do a `minikube ssh`, I can see the volume mounted in the container with my playbooks inside
`docker@minikube:/var/lib/awx/projects$`

I also did a ssh

[2021-04-09 14:13] shanemcd commented on #735
If this is still a problem please open a new issue at http://github.com/ansible/awx-operator

[2021-04-09 14:13] #735 closed, assigned to nobody

[2021-04-09 14:15] shanemcd commented on #901
If this is still a problem, please open an issue at http://github.com/ansible/awx-operator

[2021-04-09 14:15] #901 closed, assigned to nobody

[2021-04-09 14:17] shanemcd commented on #967
I don't think we intend to do this. Closing.

[2021-04-09 14:17] #967 closed, assigned to nobody

[2021-04-09 14:20] shanemcd commented on #1287
We have no plans to do this. Closing.

[2021-04-09 14:20] #1287 closed, assigned to nobody

[2021-04-09 14:21] shanemcd commented on #1288
Closing as I can't reproduce this issue. If you see this on a recent version of AWX please open a new issue.

[2021-04-09 14:21] #1288 closed, assigned to nobody

[2021-04-09 14:22] shanemcd commented on #1222
RIP isolated nodes.

[2021-04-09 14:22] #1222 closed, assigned to nobody

[2021-04-09 14:24] shanemcd commented on #1248
I cannot reproduce this. If you experience this in a recent version of AWX, please open a new issue.

[2021-04-09 14:24] #1248 closed, assigned to nobody

[2021-04-09 14:28] shanemcd commented on #1262
RIP isolated nodes.

[2021-04-09 14:28] #1262 closed, assigned to nobody

[2021-04-09 14:37] nicosalvadore commented on #9176
@tiagodread
Thanks for your answer, the issue is indeed the one reported in #9525.
My "default var" is in the default/main.yml file in my case, but this is the same behaviour.

[2021-04-09 14:39] stanislaspiron commented on #9771
@shanemcd I still have the same error in version 19.0.0

[2021-04-09 14:42] nicosalvadore commented on #9525
I reported the same behaviour in [#9176](https://github.com/ansible/awx/issues/9176#issuecomment-781948806), In my case, the default variable is directly in the Ansible project folder in default/main.yml. And this default value is indeed overwritten by the empty value passed via the survey.

[2021-04-09 14:46] amg-web commented on #9747
same problem. (existed on v16 and v17) v.15 worked great.
need to refresh page to get it updated again and again

for v18 reinstalled from scratch with minikube

I see websocket connection error

![Ansible AWX - Opera 09 04 2021 17_47_47](https://user-images.githubusercontent.com/22151881/114198191-b9033180-995b-11eb-960b-14d302a7442b.png)

[2021-04-09 14:52] rchaud commented on #3806
@Mohamed095  Did you get this to work? I tried the synchronize module from a role in AWX and I never got it to work. I was getting a SSH connection issues while it worked perfectly locally. I switched to copy module, which is not ideal but that worked.

[2021-04-09 15:18] unlikelyzero commented on #7668
This will need a visual test

[2021-04-09 15:18] unlikelyzero commented on #9830
this will need a visual test

[2021-04-09 15:22] dimovstanimir commented on #9747
I totaly agree with @amg-web . But how hard could it be for this to be fixed. It has been 4 major releases till now in which this has not been fixed and this functionality is truly needed.

[2021-04-09 15:31] wenottingham commented on #9746
THanks for the confirmation!

[2021-04-09 15:31] #9746 closed, assigned to nobody

[2021-04-09 15:38] unlikelyzero commented on #2043
no stub necessary

[2021-04-09 15:38] unlikelyzero commented on #1479
no stub necessary

[2021-04-09 15:38] unlikelyzero commented on #2444
stub needed

[2021-04-09 15:39] unlikelyzero commented on #3073
coverage in viz tests

[2021-04-09 15:40] unlikelyzero commented on #3700
retest with stub

[2021-04-09 15:40] unlikelyzero commented on #4023
this is likely missing and will require the update of a stub

[2021-04-09 15:50] lemmy04 commented on #9830
I just checked - now I see the awx icon in about, instead of the angry potato.

...but I also see that we now have the year 0.

[2021-04-09 15:54] unlikelyzero commented on #9246
stub

[2021-04-09 16:00] ryanpetrello commented on #9747
Hey @dimovstanimir,

PRs are encouraged and welcome - let us know what you find!

[2021-04-09 16:07] jakemcdermott commented on #9747
:wave: Hi folks

Any comment on my question above? Specifically, I'd like to know if any of our socket-driven features appear to be working for you on any of the _other_ pages (updating status icons on job lists, etc.). It'll help isolate the problem for when we work on addressing the bug.

[2021-04-09 16:17] wenottingham commented on #9863
ansible itself is moving to remove content from the main distribution, and we are following that lead. While there is the ansible community distribution that includes a set of collections, at the moment we're prioritizing the flexibility of starting smaller with the minimal set.

I do realize that there are a set of collections in that EE - they're there for inventory purposes and we're working on

[2021-04-09 16:19] shanemcd commented on #1284
PSA: for each "+1" comment, we'll ignore the request for 1 more year. Looks like the ETA for this one is 2026.

[2021-04-09 16:22] bendem commented on #1288
The issue was still present in 17.x and the error message is still in devel, I can't test it right now, but either it's fixed and this issue should be left open to cleanup the unused validation code or it's not fixed and the issue should be left open. Would love to know in which commit this was fixed too.

[2021-04-09 16:25] shanemcd commented on #1395
If this is still a problem please open an issue at https://github.com/ansible-collections/community.vmware

[2021-04-09 16:25] #1395 closed, assigned to nobody

[2021-04-09 16:29] shanemcd commented on #1508
This _seems_ to be better in the new UI?

[2021-04-09 16:29] #1508 closed, assigned to nobody

[2021-04-09 16:33] shanemcd commented on #602
RIP HipChat

[2021-04-09 16:33] #602 closed, assigned to nobody

[2021-04-09 16:34] kdelee opened #9870 "Add ability to associate other credential types to adhoc commands to enable using cloud modules that require auth"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Right now, it appears to be possible to create an adhoc command with NO credential (this makes sense when `ansible_connection: local`) OR with an ssh/machine credential.

When `ansible_connection: local` it also makes sense that we would want a different credential type. For example, if I want to run an individual command from a cloud module using a

[2021-04-09 16:35] kdelee commented on #9870
@yagomarques and I ran into this when we were trying to use the adhoc command feature in combination with the awx.awx collection

[2021-04-09 16:42] shanemcd commented on #1479
Just verified that this is fixed in the new UI. @unlikelyzero unless we plan to add an automated test here, I think we can close.

[2021-04-09 16:42] #1479 closed, assigned to nobody

[2021-04-09 16:45] shanemcd commented on #1548
Closing since the old `docker-compose` installer is gone now.

[2021-04-09 16:45] #1548 closed, assigned to nobody

[2021-04-09 16:46] shanemcd commented on #1638
RIP isolated nodes. We may tackle this problem under the future Receptor architecture.

[2021-04-09 16:46] #1638 closed, assigned to nobody

[2021-04-09 16:47] shanemcd commented on #1579
Ingress customization and tolerations are both supported by https://github.com/ansible/awx-operator

[2021-04-09 16:47] #1579 closed, assigned to nobody

[2021-04-09 16:48] shanemcd commented on #1759
RIP isolated nodes.

[2021-04-09 16:48] #1759 closed, assigned to nobody

[2021-04-09 16:48] shanemcd commented on #1788
This installer has been removed from the project.

[2021-04-09 16:48] #1788 closed, assigned to nobody

[2021-04-09 16:50] shanemcd commented on #2012
The old Kubernetes installer mentioned here has been removed. If this functionality does not exist in the AWX Operator, please open an issue at https://github.com/ansible/awx-operator/issues

[2021-04-09 16:50] #2012 closed, assigned to nobody

[2021-04-09 16:51] shanemcd commented on #2008
I believe this problem was solved when we moved to rsyslog.

[2021-04-09 16:51] #2008 closed, assigned to nobody

[2021-04-09 16:52] shanemcd commented on #1979
Assuming this has sorted itself out over time.

[2021-04-09 16:52] #1979 closed, assigned to nobody

[2021-04-09 16:53] shanemcd commented on #1864
We had had Chinese translations for a while, closing.

[2021-04-09 16:53] #1864 closed, assigned to nobody

[2021-04-09 16:54] #1896 closed, assigned to nobody

[2021-04-09 16:54] shanemcd commented on #2212
Virtual environment support has been removed in favor of Execution Environments.

[2021-04-09 16:54] #2212 closed, assigned to nobody

[2021-04-09 16:56] #2488 closed, assigned to nobody

[2021-04-09 16:56] #2471 closed, assigned to nobody

[2021-04-09 16:57] shanemcd commented on #2462
Virtual environments have been removed in favor of Execution Environments.

[2021-04-09 16:57] #2462 closed, assigned to nobody

[2021-04-09 16:59] jakemcdermott commented on #9831
This appears to still be a problem for some. There's [another issue](https://github.com/ansible/awx/issues/9747) open so we'll track the work there.

[2021-04-09 16:59] #9831 closed, assigned to nobody

[2021-04-09 17:09] ryanpetrello commented on #9870
Bill says:

<img src="https://media.giphy.com/media/l3mZ2EGsiLy1m31wk/giphy.gif" />

[2021-04-09 17:09] #9870 closed, assigned to nobody

[2021-04-09 17:12] ryanpetrello commented on #9864
So it sounds like we should make this properly use an EE defined on the inventory, if it's available?

[2021-04-09 17:17] ryanpetrello commented on #9833
@dperez-sct can you give this a whirl in AWX 19.0.0?  We fixed some issues related to inventory syncing that occurred in AWX 18.

[2021-04-09 17:18] ryanpetrello commented on #9828
Hey @pmanno,

Thanks for the suggestion.  This is going to be hard for us to support, because the `ansible-galaxy` tool itself doesn't actually support this.

[2021-04-09 17:18] #9828 closed, assigned to nobody

[2021-04-09 17:21] ryanpetrello commented on #9812
Hey @Gortex,

Mind giving this a shot on a newer version of AWX?  A *lot* has changed since AWX 13.0.0 was released, especially as it relates to inventory syncing, and it's hard to say exactly what's going on here.

[2021-04-09 17:21] #9799 closed, assigned to nobody

[2021-04-09 17:23] wenottingham commented on #9798
We could consider adding this to the service logs, but you can get this via external logging now.

[2021-04-09 17:24] ryanpetrello commented on #9790
Hey @minsis,

I'm not totally sure what your setup is, but whatever you're trying to do here isn't going to work.

[2021-04-09 17:24] #9790 closed, assigned to nobody

[2021-04-09 17:26] ryanpetrello commented on #9789
paging @AlanCoding

[2021-04-09 17:26] dimovstanimir commented on #9747
This thing was workin

@ryanpetrello this thing was working 4 versions ago and someone broke it. Why should I be the one fixing it? Just find who broke it and who approved the PR request. Everything is in git.

[2021-04-09 17:34] ryanpetrello commented on #9762
@AlanCoding any thoughts on this one?

[2021-04-09 17:36] ryanpetrello commented on #9750
Looks like your database has suffered some corruption (or there's potential disk corruption) 😢

If you need help troubleshooting an AWX install or postgres setup, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-09 17:36] #9750 closed, assigned to nobody

[2021-04-09 17:45] ryanpetrello commented on #8507
Would you open this as an issue in http://github.com/ansible/awx-operator instead?  Thanks.

[2021-04-09 17:45] #8507 closed, assigned to nobody

[2021-04-09 17:48] #8245 closed, assigned to nobody

[2021-04-09 18:02] ryanpetrello commented on #9747
@dimovstanimir

I mean, why should _anyone_ be obligated to fix it?  It's open source software, and it's provided for free.  While our team of maintainers tries their best to address reports of issues, this software - like much open source software - is provided as-is.

It sounds like that there might be a legitimate regression here, but until someone finds the time to look into it and address it

[2021-04-09 18:17] lemmy04 commented on #9864
I suggest that ad hoc commands simply use the same logic for determining the EE to use that job templates do - after all, nothing else would make much sense. I mean, would you *expect* ad hoc commands to behave differently from templated jobs?

[2021-04-09 18:33] tiagodread commented on #9176
The fix for the original issue landed on devel, the issue related to the survey preview should be adressed as part of #9525

[2021-04-09 18:33] #9176 closed, assigned to nixocio

[2021-04-09 18:34] minsis commented on #9790
I know it doesn't work thats why its a feature idea =)

Basically we have multiple datacenters with an AWX instance in each one. They're all clustered together so we can manage it all from a single interface. The need is to allow configuration for each node in the cluster to access local resources.

An example is two nodes, one in each datacenter: We configure splunk logging, or AD login. All node

[2021-04-09 18:52] dimovstanimir commented on #9747
@ryanpetrello I don't want to blame people and etc. but If it was you, would you approve 4 new releases before having such a major functionality fixed after knewing that prior that it was crippled? I know I wouldn't.

[2021-04-09 18:59] jakemcdermott commented on #9747
@dimovstanimir Do sockets and status icon updates work for you on other pages, such as the jobs and project list?

[2021-04-09 19:03] jakemcdermott commented on #9747
@dimovstanimir

I'm talking about these status icons, on a different page:

![jobsockets](https://user-images.githubusercontent.com/9753817/114228624-b517e500-9944-11eb-9b31-c345ea12be6e.gif)

On your installation, do their statuses update without a refresh?

[2021-04-09 19:07] amg-web commented on #9747
no. no status updates.
I saw 404 in Firefox for a short time, after it changed to 'finished'

[2021-04-09 19:19] jakemcdermott commented on #9747
Good info, thank you. @amg-web

 @dimovstanimir To help us isolate the problem, can you please comment on this as well? https://github.com/ansible/awx/issues/9747#issuecomment-816896536

[2021-04-09 19:31] wenottingham commented on #9790
AWX clusters are confined to a single kubernetes/openshfit cluster. Even if you're using something that isn't AWX as released on quay.io, it does *not* support cross-DC clustering.

[2021-04-09 19:38] wenottingham commented on #512
No, but I also think the syntax got undeprecated. We can do this more targeted-ly later if needed.

[2021-04-09 19:38] #512 closed, assigned to nobody

[2021-04-09 19:40] wenottingham commented on #9870
More verbosely: I'd like to think about how we surface ad-hoc automation in general when it comes to things that aren't tied to "do this task to this machine in inventory" (as that's how it's surfaced now)

[2021-04-09 19:46] dimovstanimir commented on #9747
@jakemcdermott I've just checked and the status icons on the Jobs page are refreshing normally without the need of me hitting the refresh button. Unfortunately when I start a job template and when I want to see some output I am not getting any. I am waiting for about 5 to 20 minutes depending on the playbook and when it finishes it dumps all the stages/steps at once and shows also how much time di

[2021-04-09 19:47] minsis commented on #9790
Fair enough. The issue is we're now stuck to being on 15 for who knows how long because of the k8s requirement that is imposed on AWX has made it unusable for us.

[2021-04-09 19:54] joshebosh commented on #8429
+1 for this feature... I have roles that do other git repos and would be nice to checkout branches based on the value in Project > SCM BRANCH box....

[2021-04-09 20:19] jladdjr commented on #9412
old task ticket - closing

[2021-04-09 20:19] #9412 closed, assigned to jladdjr

[2021-04-09 20:23] shanemcd commented on #9404
This whole feature has been completely rewritten. Please open a new issue if you see this with Container Groups v2.

[2021-04-09 20:23] #9404 closed, assigned to nobody

[2021-04-09 20:45] shanemcd commented on #9366
I followed these steps and can't reproduce.

[2021-04-09 20:48] AntonOlsen commented on #9704
Has anyone got this to work? I'm trying to upgrade from an ancient AWX and not having any luck adding my hosts.yml inventory file from a project.

hosts.yml exists in the root of the project, doesn't show in the drop down, attempts to type it into the field get reset to .gitignore when I save.

[2021-04-09 20:56] dperez-sct commented on #9704
Remove the ".yml" from the hosts and try again. I sync inventory with a "hosts" file only.

Try setting the variable tower_image to quay.io/ansible/awx:19.0.0

If not work, try updating awx-operator first to 0.8.0

[2021-04-09 20:58] dperez-sct commented on #9833
With 19 work without problem!

[2021-04-09 20:58] #9833 closed, assigned to nobody

[2021-04-09 21:16] tiagodread commented on #7662
Now we are displaying the same attributes that the old Ui

[2021-04-09 21:16] #7662 closed, assigned to tiagodread, marshmalien

[2021-04-09 21:25] unlikelyzero opened #9871 "[ui_next] Datetime component does not load in Firefox"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Datetime component does not load in Firefox

##### ENVIRONMENT
* AWX version:04/09/21
* AWX install method: yolo and docker
* Ansible version:  X.Y.Z
* Operating System: macOS
* Web Browser: Firefox ESR (maybe more recent versions, too)

##### STEPS TO REPRODUCE
1. Edit a schedule
2. Click on datetime field

##### EXPECTED RESULTS
HTML datetime picker

[2021-04-09 21:37] wenottingham opened #9872 "No feedback when launching sync from details screen"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. Create an inventory source, or a project
2. Go to the 'Details' view
3. See the 'Sync' button

![Screenshot from 2021-04-09 17-35-43](https://user-images.githubusercontent.com/5208768/114243196-2c0ba880-995a-11eb-93e6-859e4b4844a9.png)

Click it to start a sync.

There is no visible indicator that the sync was launched - no toast notification, no re

[2021-04-09 21:42] jakemcdermott commented on #9871
Just reproduced this on non-esr as well

[2021-04-09 21:46] unlikelyzero commented on #9871
To the interested QE member who picks this up for needs_test: Cypress doesn't allow for testing the HTML native datetime picker so this will have to be stubbed until the patternfly implementation lands

[2021-04-09 21:48] jakemcdermott commented on #9872
I'm thinking redirect would be the expected behavior here (given how our other views handle this).

But yeah any of these should be fine.

[2021-04-09 21:51] jakemcdermott commented on #9857
Note: It might be good to change the representation on the details page only (see [screenshot](https://github.com/ansible/awx/issues/9857#issue-853634222) above) while leaving the form inputs as-is so that they're still aligned with the api fields.

[2021-04-09 21:54] jakemcdermott commented on #9830
:+1: This sounds like the original issue has been addressed.

Indeed... we merged a pr to devel this morning to fix that. If you pull in latest you should see the right date.

[2021-04-09 21:55] jakemcdermott commented on #9830
@unlikelyzero Sounds good - I can leave the issue open or close, lmk your preference.

[2021-04-09 22:08] ghost commented on #9610
We're using a system administrative user and not seeing some of the AWX Managed credential types in the dropdowns.

Also, if we try and edit a Managed credential type like 'Machine' or 'Source Control' that's not in the first 25 returned credential types, the page goes white and throws a javascript error.

We have 13 custom credential types that are all visible. In all Credential Type dropdowns, w

[2021-04-10 05:53] lemmy04 commented on #9849
so - how DOES one upgrade an already existing awx from x.y.z to x+1.?.? ? *without* loosing all data?

[2021-04-10 06:14] amg-web commented on #9747
@jakemcdermott

I have addition:
I see animation in Jobs menu.
I do NOT see animation in other places

[2021-04-10 06:22] amg-web commented on #9625
my requirements.yml and placed in roles folder.

[code]

AWX reads the file but:
"Skipping install, no requirements found"

What is wrong here?

[2021-04-10 06:52] markatdxb opened #9876 "tower-import Failed to import assets 'ApiV2' object has no attribute 'execution_environments"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Im testing simple playbook to export and re-import the job template. Export works

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker on linux
* Ansible version:  2.10.6
* Operating System: Ubuntu 20.04
* Web Browser: Edge

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

successful import of assets

##### ACTUAL RESULTS

Th

[2021-04-10 08:24] lemmy04 commented on #9863
So basically there will have to be two sets of plays for the same purpose - one for ansible 2.9.x and one for ansible 2.10 or 2.11, until ansible 2.11 has reached the distributions?
Take RHEL8 for example - what would happen to a playbook that is running under 2.9 or earlier, when it suddenly tries to install collections that might not even exist for that version?

[2021-04-10 12:44] shanemcd commented on #9851
The default EE is supposed to be created when the operator runs `awx-manage create_preload_data` [here](https://github.com/ansible/awx-operator/blob/f47604998e08ca4e3158092553111f6d23517215/roles/installer/tasks/initialize.yml#L33).

Can you please provide:
- Your version of awx-operator
- The output of `kubectl get awx awx -o yaml`

[2021-04-10 14:17] #8591 closed, assigned to nobody

[2021-04-10 14:20] shanemcd commented on #9267
@AlanCoding @wenottingham Should we close this given the removal of inventory scripts?

[2021-04-10 14:30] shanemcd commented on #9692
Fixed by https://github.com/ansible/awx-ee/pull/51. Will be in the default EE for the next AWX release.

[2021-04-10 14:30] #9692 closed, assigned to nobody

[2021-04-10 14:45] sysnasri opened #9877 "cannot build the UI"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY

While installing with docker containers in the following section "Clean and Build UI" , I encountered with the following errors.

[code]

##### ENVIRONMENT
* AWX version: latest
* AWX install method:  developer environment
* AWX deployment target: docker
* Operating System: centos7
* Web Browser:

##### STEPS TO REPR

[2021-04-10 14:48] shanemcd commented on #9342
@sean-m-sullivan @jainnikhil30 Any updates on this one?

[2021-04-10 15:39] shanemcd commented on #9876
I believe this is because you need to install the version of `awxkit` that corresponds to your version of AWX.

[2021-04-10 15:49] shanemcd commented on #9877
I am not able to produce this. I'm guessing either:

- Hiccup with NPM
- Your system ran out of memory.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-10 15:49] #9877 closed, assigned to nobody

[2021-04-10 16:00] sean-m-sullivan commented on #9342
I unfortunately have not been able to decode awxkit to figure out how to make changes, though if I could see the diff on @jainnikhil30 fix above, I might possibly be able to do so. I will be away for most all of next week and may revisit it once I return.

[2021-04-10 16:13] pmanno commented on #9828
No way to just add support to template out the requirements.yml file?
i.e.
[code]

[2021-04-10 18:33] unlikelyzero commented on #9267
@shanemcd i think we should add a tooltip to help users adjust to the missing field/functionality with an explanation/link to our docsite.

[2021-04-10 23:18] l3ender commented on #2462
Thanks for the detail, @shanemcd.

I hadn't heard of execution environments before, and I'm still a little hazy how they work. From [the doc](https://docs.ansible.com/ansible-tower/latest/html/administration/external_execution_envs.html) it seems like they're geared toward a completely separate node (e.g. container) where the template is executed during runtime. However I can't tell from the doc t

[2021-04-11 06:26] amg-web commented on #9747
if start job and go Jobs I see animations, but it's endless. It does not update state.
I have to make page refresh

[2021-04-11 10:13] markatdxb commented on #9876
great thanks for tip

[2021-04-11 10:13] #9876 closed, assigned to nobody

[2021-04-11 17:22] juanjo-vlc commented on #6539
I had the same issue installing 17.1.0 and solved it using awx-manage commands suggested by a ghost.
I got a failure on the playbook task "Run migrations in task container", and the log showed a lot of django related traces.
Maybe the postgres container was not ready when the migration tasks were triggered.

[2021-04-11 22:45] unlikelyzero commented on #9872
@wenottingham @jakemcdermott is this a dupe of https://github.com/ansible/awx/issues/8837 and https://github.com/ansible/awx/issues/9013 (with some cross-over in https://github.com/ansible/awx/issues/2357 ) ?

[2021-04-12 03:15] shenqinb-star commented on #9625
@amg-web  you need to add Galaxy credential to our Organization in AWX. detail to see below:
![image](https://user-images.githubusercontent.com/79623318/114335919-648ccb80-9b80-11eb-9509-1c905ee33e8b.png)

[2021-04-12 03:15] #9625 closed, assigned to nobody

[2021-04-12 06:22] cr0cdev commented on #9849
I recommend you to backup postgres database and setup a external one and import the backup. Then you can upgrade AWX at any given time without losing any valuable data.

[2021-04-12 06:46] chapai518 commented on #9213
Please add a security disable for notifications, faced the same issue in the 18.0 release, temporarily bypassed as written in the comment gitjon2015 above.

[2021-04-12 08:12] lemmy04 commented on #9849
so basically, the postgres database that is part of the setup is not to be used? o.0 :eyeroll:

[2021-04-12 08:28] brskq commented on #9267
@smithlabs I messaged you. I was not in the office last week hence the late reply.

[2021-04-12 09:05] balonik commented on #9851
Hi @shanemcd
version of awx-operator (already written in the issue description) is 0.8.0

which part or properties of the `awx` spec are you interested? I don't believe you need the whole and I would need to sanitize it anyway,
I do have the following for ee_images and disabled the preload as I don't want it.

[code]

[2021-04-12 12:43] crupib opened #9880 "ERROR importing cache manifest from quay.io/awx/awx_devel:devel AWX 19.0.0 ; docker-compose-build centos ; CentOS Linux release 8.3.2011; chrome"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2021-04-12 12:57] #9880 closed, assigned to nobody

[2021-04-12 12:58] ryanpetrello commented on #9880
Please reopen this with the details in our bug report template:

https://github.com/ansible/awx/issues/new?assignees=&labels=&template=bug_report.md

[2021-04-12 12:59] crupib opened #9881 "Re: [ansible/awx] ERROR importing cache manifest from quay.io/awx/awx_devel:devel AWX 19.0.0 ; docker-compose-build centos ; CentOS Linux release 8.3.2011; chrome (#9880)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2021-04-12 13:02] crupib commented on #9881
make docker-compose-build
ansible-playbook tools/ansible/dockerfile.yml -e build_dev=True
[WARNING]: No inventory was parsed, only implicit localhost is available
[WARNING]: provided hosts list is empty, only localhost is available. Note that
the implicit localhost does not match 'all'

PLAY [Render AWX Dockerfile and sources] ***************************************

TASK [Gathering Facts] *******

[2021-04-12 13:16] shanemcd commented on #9881
I'm not able to reproduce this. Perhaps it was just a hiccup with Quay. May try to explicitly pull the image before building:

[code]

[2021-04-12 13:16] #9881 closed, assigned to nobody

[2021-04-12 13:18] AlanCoding commented on #9267
@shanemcd Yes, https://github.com/ansible/awx/issues/7775 is very near-term, and that way we migrate these will not leave any room for a broken UI state. People trying to use their old scripts are just going to have to follow our custom migration instructions. If you need to fix it before that lands, you just have to navigate to the `/api/v2/inventory_scripts/` endpoint in the browser and recover

[2021-04-12 13:18] #9267 closed, assigned to nobody

[2021-04-12 13:22] crupib commented on #9881
I did what you said. It was already there. Still getting the error message.

On Mon, Apr 12, 2021 at 9:17 AM Shane McDonald ***@***.***>
wrote:

--
bc
***@***.***

[2021-04-12 13:29] AlanCoding commented on #8740
I can still search and see settings like `ANSIBLE_VENV_PATH` and `AWX_ANSIBLE_COLLECTIONS_PATHS` in the code. The existence of these settings is nonsensical with how AWX functions now.

I would like to keep this open until I can get a gut check that we have deleted obviously dead code.

My focus here is not feature tracking, but keeping up with things that we didn't delete (but plan to) when one o

[2021-04-12 13:35] shanemcd commented on #9849
@lemmy04 It's been rather unpleasant interacting with you over the past couple weeks. This is an open source project that we make available _for free_.

As you've noticed, we have made some pretty big changes recently and are currently trying to work through some issues.

If you want to contribute and make things better, great. If you feel a sense of entitlement to a piece of software that never c

[2021-04-12 13:46] hupling opened #9882 "AWXCLI add custom ca file"
##### ISSUE TYPE
 - Add the option that you can add a custom ca-file for the awx cli
##### SUMMARY
`awx --conf-verify /test/cer.pem`

https://github.com/ansible/awx/blob/bdd41c70afb145adf1c79f1bf95c3a12cd206caf/awxkit/awxkit/api/client.py#L33

`verify = /test/cer.pem`

[2021-04-12 13:47] lemmy04 commented on #9849
I guess I've put my foot in my mouth here, sincere apologies for that.

[2021-04-12 13:55] lemmy04 commented on #9830
I would say this one can be closed now.

[2021-04-12 14:03] shanemcd commented on #9849
@lemmy04 Thanks for that. We really do value people taking the time to report issues, and we'll try our best to fix them. It's just a **lot** less fun when folks are leaving snide or disrespectful comments. Hopefully we can collaborate in a more productive way going forward.

[2021-04-12 14:17] tobsome commented on #8994
Any updates here?

[2021-04-12 14:19] shanemcd commented on #8994
Please follow along at https://github.com/ansible/awx/issues/9747

[2021-04-12 14:42] lemmy04 commented on #9849
Back to the original question: If I want the database to "survive" an upgrade (or redeployment for whatever reason), I'll basically have to manually deploy a postgres pod and point the operator at it, or just run a postgres server somewhere and point the operator at it? ... would it be possible to have more than one AWX use the same database, or would that be a Very Bad Idea?

[2021-04-12 14:46] vigneshp826 commented on #8639
@isuftin since there is no traction on this issue, i just want to use the work around you mentioned. Can you please tell which yml file needs to be updated with below details?

`    - name: Pull Redis image from DockerHub via Artifactory

      docker_image:
        name: my.artifactory.instance/docker-official-mirror/redis:latest
        state: present
        pull: yes
      register: redis_imag

[2021-04-12 14:52] shanemcd commented on #9849
@lemmy04 So, the underlying [Ansible Operator ](https://sdk.operatorframework.io/docs/building-operators/ansible/) does *not* delete PVs (Persistent Volumes) when deleting a CR (Custom Resource - like your `awx` object). I very often will delete my `awx`, redeploy, and it will reuse the old PV.

If you want to go the external database route, one thing to be mindful of would be to ensure you're alw

[2021-04-12 15:15] wenottingham commented on #9872
Yes.

[2021-04-12 15:47] shanemcd commented on #9851
`tower_create_preload_data: false` <- this is your problem.

[2021-04-12 15:47] jbradberry commented on #9864
That's not quite true.  They are still a `UnifiedJob`, which means that they do have the ability to have an EE attached.  I had originally thought that ad-hoc commands would have to have the user pick the EE when they create it, but it does make sense to have a simplified resolver (since an ad-hoc command doesn't _have_ a template, it has to skip those steps).

[2021-04-12 16:06] balonik commented on #9851
I had this feeling when you mentioned it is create in `create_preload_data`.
`create_preload_data` used to only create data for demonstration purposes. Example Inventory, Project, .... I don't want any of that. In 17.1.0 and older disabling it didn't mean AWX will be unusable completely.
Did it change? Why is default EE connected to some sample data generation?

Unless there is some reason why is

[2021-04-12 16:17] shanemcd commented on #9212
Some thoughts:

- This management job should only exist on installs where `settings.IS_K8S = False`.
- The command Alan mentioned in https://github.com/ansible/awx/issues/9212#issuecomment-771964900 should be good enough for us.

[2021-04-12 16:19] shanemcd commented on #9212
@fosterseth You can see an example of how the original management jobs were created here: https://github.com/ansible/awx/blob/devel/awx/main/migrations/0002_squashed_v300_release.py#L32-L53

[2021-04-12 16:30] shanemcd commented on #7201
Looks like this one auto-resolved itself. Please reopen if you see this in a newer version of AWX.

[2021-04-12 16:30] #7201 closed, assigned to nobody

[2021-04-12 16:31] shanemcd commented on #7388
@unbreakabl3 ping - can you try this on a more recent version of AWX?

[2021-04-12 16:57] unlikelyzero commented on #8837
closing to track https://github.com/ansible/awx/issues/9872

[2021-04-12 16:57] #8837 closed, assigned to nobody

[2021-04-12 17:02] unlikelyzero commented on #9872
[code]
@wenottingham may be considered feature parity. Would we want to navigate the user to the run output?

[2021-04-12 17:30] wenottingham commented on #9872
I would consider "feedback that the sync was launched" a feature parity item, even if we provide it somewhat differently than before.

[2021-04-12 17:37] lemmy04 commented on #9849
that explains a lot - until now I've "redeployed" by deleting the whole namespace that I've put awx in - of course that would also wipe the PV and PVC... 🤦‍♂️

[2021-04-12 18:20] sdlinden opened #9887 "/var/lib/awx directory does not exist after AWX installation."
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY

Installed AWX 18.0.0.  /var/lib/awx does not exist.

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: operator
* AWX deployment target: minikube
* Operating System: RHEL 8
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Follow the AWX documentation

##### EXPECTED RESULTS

AWX to see my projects.

[2021-04-12 18:21] ryanpetrello commented on #9887
Hey @sdlinden,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-12 18:21] #9887 closed, assigned to nobody

[2021-04-12 18:22] sdlinden commented on #9887
Thanks

[2021-04-12 18:43] saifelyzal opened #9888 "Allow webhook notification to launch Tower JOB Template"
##### ISSUE TYPE
 - Allow webhook notification to launch Tower JOB Template

##### SUMMARY
Currently launching Job Template from webhook notification fail to pass the inventory ID to the JOB
The issue is that the launch api endpoint expects that the inventory be passed as an INTEGER type and not as a string.
As workaround adding inventory ID to the customized messages launched the job

[2021-04-12 18:44] nixocio commented on #7777
I started working on this issue, and I realized that there is a newer version of this component.

<img width="1489" alt="image" src="https://user-images.githubusercontent.com/9053044/114444975-7df04080-9b9d-11eb-84bb-084b0a01fe01.png">

And this new version seems to be affected by this https://github.com/patternfly/patternfly-react/issues/5464

I will explore a few solutions for the time being.

[2021-04-12 18:51] AlexSCorey commented on #8923
@unlikelyzero do you all still need this issue open?

[2021-04-12 18:54] unlikelyzero commented on #8923
@AlexSCorey sorry, will close!

[2021-04-12 18:54] #8923 closed, assigned to AlexSCorey

[2021-04-12 19:19] ryanpetrello commented on #9771
@stanislaspiron is this a duplicate of https://github.com/ansible/awx/issues/7944?

Your error message above suggests you're attempting to use these in an inventory sync (which isn't supported in AWX currently)

cc @AlanCoding @wenottingham

[2021-04-12 19:23] ryanpetrello commented on #8771
@chrismeyersfsu I took this out of `state:in_progress`.  We might want to reconsider the target milestone for this work, as I believe @chrismeyersfsu has put it down for now cc @shanemcd @wenottingham

[2021-04-12 19:28] AlanCoding commented on #9771
Could you get the job number for that inventory update and look at the API browser like `/api/v2/inventory_updates/42/`, and past the JSON data from that?

Ryan's link is the most relevant, extra vars injectors can't be expected to work yet.

However, something seems off. The inventory path `/tmp/tmp6k8163uh/inventory/hosts` isn't what I expected, and the extra vars file path `/runner/tmp00dsouw6`

[2021-04-12 19:30] ryanpetrello commented on #6707
@jakemcdermott @mabashian @unlikelyzero

I don't actually think this is an issue in production builds.

In the *development* environment, 40x and 50x HTTP errors are surfaced as an HTML page with traceback data, and that's what you're seeing in that modal:

<img width="673" alt="image" src="https://user-images.githubusercontent.com/214912/114450647-45079a00-9ba4-11eb-99d5-79e0f3cb1e3e.png">

If I

[2021-04-12 19:31] AlanCoding commented on #9771
I'm learning towards a theory that our working directory might be wrong for certain job types.

[2021-04-12 19:38] ryanpetrello commented on #8637
@shanemcd @kdelee I've classified this as `needs_test`, because it looks related to @fosterseth's recent bug fix (https://github.com/ansible/awx/pull/9671)

[2021-04-12 19:47] jakemcdermott commented on #6707
:+1: closing as `notabug`

[2021-04-12 19:47] #6707 closed, assigned to dsesami

[2021-04-12 19:47] ryanpetrello commented on #8916
I'm not able to reproduce this in the new UI in AWX 18.0.0+

If you're still encountering this in the latest release @adpavlov, please let us know:

![Kapture 2021-04-12 at 15 45 58](https://user-images.githubusercontent.com/214912/114452364-5baef080-9ba6-11eb-978c-e3afe6d336fa.gif)

[2021-04-12 19:47] #8916 closed, assigned to nobody

[2021-04-12 20:14] tiagodread opened #9891 "Delete warning showing some plural ploblems"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
**Note:** this may or may not exist in different places/pages I found this trying to delete resource that any other resource is using, the delete warning shows like:

[code]

##### ENVIRONMENT
* Devel

##### STEPS TO REPRODUCE

Create EEs used by any org, then try to delete the EE

##### EXPECTED RESULTS

![image](https://user-images.githubusercontent.

[2021-04-12 23:08] DenisMedeirosBBD commented on #9747
Also having the same issue (used to work before but now it's broken after updating AWX).

Some notes:

1. On Google Chrome console, it shows a few messages like ` WebSocket is already in CLOSING or CLOSED state.`.

2. When I launch a job template, the Output screen opens but nothing happens (even the timer does not start to run). Then, after a few minutes (when the run is finished), the screen is

[2021-04-13 00:03] branic commented on #9573
@beeankha, I finally had some time to test this. Using `set_fact` and `query` with the `tower_api` lookup module I was able to successfully create the Job Template. The below Ansible playbook is a modification of the above playbook that works.

[code]

[2021-04-13 04:12] dimovstanimir commented on #9747
This is the most acurate explanation and this is the very same behavior which is happening in my installation.

[2021-04-13 05:09] yasny commented on #3072
@rmauc We're stil on Ansible Tower 3.6 so I can't speak for the later versions, but I "solved" the issue by creating my own proxy server in [Node.js](https://nodejs.org/), using [pac-resolver](https://www.npmjs.com/package/pac-resolver), to load a PAC file that allows me to control what to proxy. All of Tower's http/https traffic goes through the simple proxy server which runs on the same node as

[2021-04-13 07:28] hupling commented on #9882
You can set the enviroment varible `REQUESTS_CA_BUNDLE`

[2021-04-13 07:59] planeturban commented on #3769
Adding to @joshmullis checkboxes (for inventory sourced from project)::

* "source group variables from group_vars"
* "source host variables from host_vars"

This would remove the workaround of having an dummy inventory file listing just the groups that should be extended by the projects groupvars:

[code]

Come to think about it,  in the dropdown: add the "just source grup_vars" so one doesn't ha

[2021-04-13 08:05] coudenysj opened #9893 "Bastion host configuration"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We are using https://github.com/kubernetes-sigs/kubespray in AWX to spin up kubernetes clusters with the dynamic inventory logic of AWX.

Kubespray works a bastion host (part of the inventory), so all AWX traffic should go over that bastion host to the other nodes.

This is possible in AWX (see #4842, #8514, #2279, #2079, etc...), but it requires ma

[2021-04-13 09:22] chofstede opened #9894 "Setting Page renders an error on AWX19 after some time"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Main settings page in AWX renders an error. There is no error in the logs to be seen. This only
happens after AWX is running for ~1 hour. After a restart, the settings page works fine.

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: docker-compose (development setup)
* Operating System: Debian 10
* Web Browser: Firefox and Chrome

#####

[2021-04-13 09:27] stanislaspiron commented on #9771
@AlanCoding this is not related to Inventory sync.. Only jobs with extra_vars injected by custom Credentials type...
I only use locally managed Inventory.

It should be the same cause, but it is another failing feature.

The same credential type was working fine in version 11.2. when I moved to version 18, it stopped working.

Now, I changed all my playbooks to use ENV variables instead of extra v

[2021-04-13 11:06] Zokormazo commented on #8505
Followed the instructions on https://github.com/ansible/awx/issues/8505#issuecomment-808498582 and I can see this on stderr:

[code]

But not on awx logs.

[2021-04-13 12:44] Zokormazo commented on #8505
[code]

Much better inside containers

[2021-04-13 12:44] #8505 closed, assigned to ryanpetrello

[2021-04-13 13:43] chrismeyersfsu commented on #8771
Yep. I have a PR for this pretty much complete. However, it's far more complicated than I originally thought and touches performance sensitive areas.

WIP https://github.com/ansible/awx/compare/devel...chrismeyersfsu:job_done_done?expand=1

[2021-04-13 14:58] spsingh1982 commented on #9888
Note: Workaround does not work as jobs are getting launched without any variables. So there is no use of this workaround.

[2021-04-13 15:28] pcmodderz commented on #9881
Have to agree with @crupib. I am getting the same issue he is.

`ansible-playbook tools/ansible/dockerfile.yml -e build_dev=True
[WARNING]: provided hosts list is empty, only localhost is available. Note that
the implicit localhost does not match 'all'

PLAY [Render AWX Dockerfile and sources] ***************************************

TASK [Gathering Facts] *****************************************

[2021-04-13 15:30] tomcsi commented on #7494
Any new information? I have same issue.

[code]

[2021-04-13 15:30] pcmodderz commented on #9881
Also I did what you suggested @shanemcd  and that did not work. Maybe you could take time to assist instead of just closing the issue.

`docker pull quay.io/awx/awx_devel:devel
devel: Pulling from awx/awx_devel
Digest: sha256:703350678befe5d4b7acc02f853bbed608adef315859afe2a63e64f6916c3d4a
Status: Image is up to date for quay.io/awx/awx_devel:devel
quay.io/awx/awx_devel:devel`

[2021-04-13 15:49] DE110283 commented on #5303
Voting for this! This is needed urgently!

[2021-04-13 16:36] #9830 closed, assigned to kdelee

[2021-04-13 16:45] crupib commented on #9881
😁

On Tue, Apr 13, 2021 at 11:31 AM pcmodderz ***@***.***> wrote:

--
bc
***@***.***

[2021-04-13 16:47] kdelee commented on #9676
![Screenshot from 2021-04-13 12-45-41](https://user-images.githubusercontent.com/29239279/114590050-45f90400-9c56-11eb-8a92-78d82eba6824.png)

after selecting a Prompt on Launch inventory and going to the next part of the wizard, I went and deleted the inventory before launching. I got this error modal. I think it is a good experience, because it told me it messed up and why. I'm going to close th

[2021-04-13 16:47] #9676 closed, assigned to nobody

[2021-04-13 16:51] tiagodread commented on #9296
![image](https://user-images.githubusercontent.com/12464858/114590608-5bbef700-9c5f-11eb-9598-67daee1599cb.png)

Done

[2021-04-13 16:51] #9296 closed, assigned to tiagodread

[2021-04-13 16:55] shanemcd commented on #9881
Hello,

Apologies if you mistook our issue tracker for a tech support hotline.

Maybe try updating Docker?

Anyway, this doesn't feel like an issue with AWX itself and only 2 people have commented here.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-13 17:01] yagomarques commented on #8828
![image](https://user-images.githubusercontent.com/18562328/114591798-a12ff400-9c60-11eb-9d95-439882e55bec.png)
it's working, the field are locked to modify.

[2021-04-13 17:01] #8828 closed, assigned to nobody

[2021-04-13 17:03] kdelee commented on #9872
I agree that this is confusing, and does not match the pattern of what happens when you press the "launch" button on job templates

[2021-04-13 17:14] ryanpetrello commented on #9771
@stanislaspiron I'm not able to reproduce this.

Here's a custom credential type I've created:

<img width="388" alt="image" src="https://user-images.githubusercontent.com/214912/114593163-c836f780-9c59-11eb-8dce-7a1c06363a7d.png">

<img width="671" alt="image" src="https://user-images.githubusercontent.com/214912/114593062-ab9abf80-9c59-11eb-9e49-516345595d3b.png">

...and here's a playbook I've

[2021-04-13 17:16] tiagodread commented on #9518
Looks like this was reopened accidentally with the comment

[2021-04-13 17:16] #9518 closed, assigned to jbradberry, masbahnana

[2021-04-13 17:17] AlexSCorey commented on #7206
This was addressed in https://github.com/ansible/awx/pull/9345

[2021-04-13 17:20] pcmodderz commented on #9881
There you go! Thanks for sharing the links. I will check them out.
If I was looking for tech support I would call RedHat but thanks.

[2021-04-13 17:25] one-t commented on #9788
Tested, and this is working as expected. instance groups are replaced when changed in the playbook.

[2021-04-13 17:25] #9788 closed, assigned to nobody

[2021-04-13 17:28] one-t commented on #9663
Tested, this is now working as expected.

[2021-04-13 17:28] #9663 closed, assigned to nobody

[2021-04-13 17:28] one-t commented on #9663
[code]

[2021-04-13 17:33] kdelee commented on #9559
Closing this as stale, project updates are now working in general

[2021-04-13 17:33] #9559 closed, assigned to ryanpetrello, tiagodread

[2021-04-13 17:34] stanislaspiron commented on #9771
@ryanpetrello

I found the mistake... it is solved in version 19.0.0 with default EE...

My issue in version 19.0.0 is I created a dedicated EE to add collections and python modules.

I used this [solution](https://github.com/stanislaspiron/microk8s_awx/blob/main/EE/ansible-ee-building.md) to build it, but it seems this requires to keep following parameters to work:

[code]

Sorry for wasting your

[2021-04-13 17:40] wenottingham commented on #9771
Closing as resolved, thanks for the feedback.

[2021-04-13 17:40] #9771 closed, assigned to nobody

[2021-04-13 17:46] kdelee commented on #9200
Verified, this no longer stomps the limit value
[code]

[2021-04-13 17:46] #9200 closed, assigned to kdelee

[2021-04-13 17:51] pcmodderz commented on #9881
Yep confirmed I did indeed have an old version of docker running still. I updated to the latest and we are good. So I wouldn't say a bug but more of an item to call out in the documentation.

[2021-04-13 17:52] kdelee commented on #9125
Closed, dev tooling

[2021-04-13 17:52] #9125 closed, assigned to rooftopcellist

[2021-04-13 17:53] kdelee commented on #9085
We're still seeing this

[2021-04-13 17:57] kdelee commented on #8110
closing, dev tooling

[2021-04-13 17:57] #8110 closed, assigned to nobody

[2021-04-13 17:58] kdelee commented on #8045
This will require a visual test

[2021-04-13 17:59] kdelee commented on #7064
Closed due to extensive testing from @elyezer @yagomarques and @shebangbash , any follow up will be tracked in new issues

[2021-04-13 17:59] #7064 closed, assigned to jbradberry

[2021-04-13 18:02] kdelee commented on #1855
ping @one-t if you have trouble, @Zokormazo

[2021-04-13 18:53] ryanpetrello commented on #9085
@kdelee I wonder if this is similar to https://github.com/ansible/awx/issues/9747

[2021-04-13 19:19] Jonaswinz commented on #9552
That worked! Very nice.

[2021-04-13 19:39] seiwailai opened #9898 "Invalid `type` field in key select filter column in advanced search"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Some model's classes do not contain `type` attributes or fields. Thus, filterable `type` should not be displayed in the key select filter in the advanced search.

Affected classes are as follows:
1. ActivityStream
2. CredentialType
3. ExecutionEnvironment
4. Host
5. InstanceGroup
6. Inventory
7. NotificationTemplate
8. OAuth2Application
9. Organizatio

[2021-04-13 19:53] Jonaswinz opened #9900 "'overlay' is not supported over overlayfs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
My jobs are failing (sync example project from github) with this error:

[code]

Is awx trying to run docker inside docker ? 🤔

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: docker on linux (make docker-compose with #9552 solution)
* Ansible version:  2.9.19
* Operating System: Ubuntu 18.04
* Web Browser: Edge (chromium)

##### STEPS TO

[2021-04-13 19:58] shanemcd commented on #9900
It's actually trying to run Podman inside of Docker. Our development environment is a set of hacks that mimic our downstream product when deployed on VMs. Dont use it for anything serious.

If you want something a little more "proper", check out the awx-operator.

[2021-04-13 20:00] BrandonALXEllisSS commented on #9807
While I appreciate the feature idea, it looks like you can already do this using some hidden operator variables:

I added this to my kubeconfig:
[code]

And then adjusted my awx deployment config spec:
[code]
I haven't used it to run a playbook yet [since 18.0 broke windows](https://github.com/ansible/awx/issues/9863). But kinit works so it looks promising

[2021-04-13 20:13] Jonaswinz commented on #9900
Why are VMs / K8s the "proper" way to use AWX and not docker ? Version 17.0.0 was very leightweight and easy to run, but with a minikube instance the VMs themselves are using alot more system resources. I only want to manage few servers. Maybe someone can sum up some reasons.

[2021-04-13 20:21] jakemcdermott commented on #9399
(Note: If this ends up being more work than expected we can consider punting for later)

[2021-04-13 20:25] jakemcdermott commented on #9441
On a second look-through this _appears_ to be api related - the `type` field shouldn't be populated in the first place if it isn't filterable.

[2021-04-13 20:30] jakemcdermott commented on #9455
Punting to a later date - while not ideal, the information shown is accurate (but duplicated)

[2021-04-13 20:38] jakemcdermott commented on #9550
The fix should focus on this behavior:

^ It's ok to show an error for a deleted resource that no longer exists but we need to address the blank page.

[2021-04-13 20:40] jakemcdermott commented on #9567
:+1: Note: Relabeling as API due to the `502`

[2021-04-13 20:46] jakemcdermott commented on #9685
Note: relabeling as API. As far as I can tell this would be the expected host list string sent from the client

[2021-04-13 20:58] jakemcdermott commented on #9871
Note: Will need to double-check on the status of the related patternfly component

[2021-04-13 21:15] wenottingham commented on #9898
-> #9441

[2021-04-13 21:15] #9898 closed, assigned to nobody

[2021-04-13 21:16] wenottingham commented on #9441
See community PR https://github.com/ansible/awx/pull/9899 ?

[2021-04-13 21:18] wenottingham commented on #9900
The docker-compose installation method was intentionally removed in favor of a k8s-native installation. See https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/1-Jh0fy3AgAJ

The dev environment remains for testing purposes, but is not intended for production use.

[2021-04-13 21:18] #9900 closed, assigned to nobody

[2021-04-13 23:17] one-t commented on #9253
Verified that inventory syncs are now happening in the container group. This is now working as expected
![sync](https://user-images.githubusercontent.com/28987580/114632503-acd8e600-9c73-11eb-97c3-bda2748f9dee.gif)

[2021-04-13 23:17] #9253 closed, assigned to one-t

[2021-04-14 00:59] kdelee commented on #9153
@ryanpetrello @AlanCoding what is the PR related to this?

[2021-04-14 01:51] AlanCoding commented on #9153
@kdelee https://github.com/ansible/awx/pull/9892 which is merged now

[2021-04-14 06:28] Nold360 commented on #423
Seems to be fixed by now. I could successfully use this filter as described.

LDAP User Search:
[code]

[2021-04-14 08:28] Jonaswinz commented on #9900
Ok I tried to fix this issue 😅. I switched the podmans storage driver to vfs with `RUN podman --storage-driver=vfs info`  in tools/ansible/roles/dockerfile/templates/Dockerfile.j2. The error message changed to: `User-selected graph driver "overlay" overwritten by graph driver "vfs" from database - delete libpod local files to resolve `. I should clean / reset podman as mentioned here : https://git

[2021-04-14 09:47] yurtesen commented on #9540
I think I have the same problem. I am trying to upgrade to 19.0.0 from 17.0.1 (I assume it is possible to jump over 18?)

[code]

Removing the `awx` instance did not help also.

[2021-04-14 10:18] jeffpascal commented on #1805
Hello !

I'm having the same issue with awx 17.1.0

Payload for relaunch

{passwords_needed_to_start: [], retry_counts: {all: 168, failed: 113}}
passwords_needed_to_start: []
retry_counts: {all: 168, failed: 113}
all: 168
failed: 113

[2021-04-14 10:59] Jonaswinz commented on #9900
Ok I fixed this problem, by deleting oder editing storage.conf inside the container (/etc/containers) and restarting the container.

[2021-04-14 11:20] Jonaswinz opened #9902 "could not translate host name "postgres" to address"
I installed AWX via docker on ubuntu. In order to run it i made some treaks: #9900 (change podman to vfs), #9552 (fix nginx).
I am able to run jobs (example project sync), but after some time I get the error in tools_awx_1 container console. After restarting the container the job is marked as successfull. I couldnt extract the code where the postgres address is set.

duplicate of #2453

I dont rea

[2021-04-14 11:39] shanemcd commented on #9900
JFYI - Performance with VFS is going to be atrocious. If you do anything that involves heavy IO, you're going to have a bad time.

[2021-04-14 12:23] Ecno92 commented on #9414
I support this idea. Currently my client is having more than 250 active projects which often rely on the "Update Revision on Launch" feature. When we take our version control down for an update (<10 minutes) it breaks a lot of projects and API calls.
Especially the last thing is adding additional stress on having good exception handling in the clients which call the API. In such case you can not s

[2021-04-14 14:25] softestplease commented on #6531
Hello,

Any update on this topic? As I am also trying to get workflow_approval id when the workflow approval node is triggered in order to find the approval user name (approved_or_denied_by)

Cheers

[2021-04-14 16:46] Jonaswinz commented on #9902
Workaround: I deployed a postgres container myselve and exposed the port 5432. In the docker inventory file I specified this database with the servers ip in the network (external). This is adirty way (I think, it goes throu alot more interfaces, maybe the next switch ??? I dont really know), but it works. Does anyone has a better fix ?

[2021-04-14 17:04] wenottingham commented on #9902
The old docker-compose method was intentionally removed and isn't planned to be added back.
This looks like you're trying to replicate some of what it did into a new installation method.

This issue tracker is for tracking feature enhancements and bugs to AWX itself, and so
that sort of discussion is better for the mailing list or IRC channel.

[2021-04-14 17:04] #9902 closed, assigned to nobody

[2021-04-14 17:18] MaximilianMeister commented on #8777
I also ran into this, even in a later version (19.0.0) and the only way I could make it happen was to first create all the workflow nodes and link them later, e.g.:

[code]

Worked like a charm, but could be better documented.

[2021-04-14 18:16] phemmer opened #9905 "Unable to cancel job - method POST not allowed - awx19"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I had an inventory sync job that was stuck. Upon trying to cancel it, I got an error saying `Method "POST" not allowed`

This is a refile of #9714 as the issue is still not fixed.

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: minishift
* Ansible version:
* Operating System: Debian 10
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1.

[2021-04-14 18:32] bandwiches opened #9906 "Cannot Authenticate via LDAP(S)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Cannot authenticate via LDAP(S).

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker
* Ansible version:  2.9.17
* Operating System: Ubuntu
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Try to login.

##### EXPECTED RESULTS
To at least

##### ACTUAL RESULTS
Authentication fails and the following log is generated:
`WARNING  django_au

[2021-04-14 19:38] kdelee commented on #9153
@AlanCoding @shanemcd I notice this only on container group jobs. Is that expected? I'm still not 100% up to date on if receptor is used at all when jobs are ran locally on the tower nodes

[2021-04-14 19:41] ryanpetrello commented on #9153
This should be available both on container group jobs, and normal instance group runs.

[2021-04-14 19:56] kdelee commented on #9153
Hmm, nevermind, must have gotten confused. I am seeing it on regular jobs now.

I'll sprinkle in some assertions about this being populated on different types of jobs, but seeing as it is mostly a debugging tool, I'm going to close this

[2021-04-14 19:58] #9153 closed, assigned to kdelee

[2021-04-14 19:58] ryanpetrello commented on #9153
Yep, I think that's the primary use case here.

[2021-04-14 20:56] tiagodread commented on #8020
Performed an audit on primary lists and secondary lists (list within tabs) and I found different style for items inside kebab only on

![image](https://user-images.githubusercontent.com/12464858/114777807-791cbf80-9d4a-11eb-9a6b-8a87190f448e.png)

[2021-04-14 21:13] diogoattall opened #9909 "Management Jobs - blank page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I cannot access Management Jobs menu, it shows only a blank page with the AWX navigation menu on the left side.

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.18
* Operating System: CentOS 7
* Web Browser: Chrome/Firefox

##### STEPS TO REPRODUCE

Login into AWX, and click on Management Jobs menu

[2021-04-14 21:33] tiagodread opened #9910 "Components with aria-label marked to be translated with Plural being displayed as [object Object]"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

#### Note the same problem may be happening in different places...

While fixing e2e tests I realize that some components is showing `aria-label="[object Object]"` because is using a variable using the <Plural> component.

##### ENVIRONMENT
* Devel

##### STEPS TO REPRODUCE

1. Go to jobs list
2. inspect the button `Cancel Job`

##### EXPECTED RESULTS

[2021-04-14 22:15] tiagodread opened #9911 "Credentials form not displaying error message on validate"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Error message not being displayed for empty fields, not that this is not happening for some types.

We have broken tests due this change, may or may not be introduced by https://github.com/ansible/awx/pull/9869

##### STEPS TO REPRODUCE

1. Select a Google Compute Engine credential type
2. hit save button with empty required fields

##### EXPECTED RES

[2021-04-15 07:10] lukasertl commented on #9867
Comparing the debug output of Satellite sync in Version 17.1.0 and 19.0.0 I noticed the following - in the new version I get lots of:

[code]

followed by lots of:

[code]

[2021-04-15 08:57] vin-c commented on #5682
Major issue for us if we need to manually clear all the variables at the inventory level as in our use-case, no var is setup here by anyone, all vars are coming from a merge-script inside our repo

/reopen

[2021-04-15 10:26] ianlshaw commented on #5682
I've run into this too.

If this is by design, it would be interesting to hear the rationale.

When using source based inventories, and certainly when checking "Overwrite" and "Overwrite Variables" - which seems like the correct method when relying on SCM based inventories, it seems counter intuitive that variables which are subsequently removed from the codebase aren't removed from the inventory.

[2021-04-15 10:45] lukasertl commented on #9867
Could be related to #9037 and #9749

[2021-04-15 10:52] dhoppe opened #9913 "Tini is downloaded for the wrong architecture"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The Docker container ```tools_awx_1``` terminates with an error message because the Docker image contains ```tini``` for the wrong architecture.

[code]

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: docker on linux
* Ansible version:  2.10.6
* Operating System: Raspberry Pi OS (Lite 64-Bit)
* Web Browser: Safari

##### STEPS TO REPROD

[2021-04-15 11:33] techBeck03 opened #9915 "Frequent Vault Lookup Errors"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm using Vault lookups within my credentials tied to various playbooks and constantly get Errors related to these lookups within my jobs.  It happens every time if I try to relaunch a failed job that's using a credential with a Vault lookup.  It also happens frequently on newly launched jobs.

If I relaunch the Errored job again then it will work just

[2021-04-15 11:35] nicolaibaralmueller commented on #9866
No. That is not the same issue. I tried adding the following workaround and it did not solve the issue:

https://github.com/ansible/awx/issues/9552#issuecomment-816710547

[2021-04-15 11:55] lukasertl commented on #9867
I think I figured it out.

The field instance_id in the PostgreSQL table main_host was empty for all affected hosts.  Maybe some initial sync didn't set that correctly, I don't know.

After removing the Satellite inventory and recreating it the instance_ids were correct, and as such, subsequent inventory syncs would add hosts to the correct groups respectively wouldn't remove them from the wrong g

[2021-04-15 11:55] #9867 closed, assigned to nobody

[2021-04-15 13:31] rl-akjaer opened #9916 "RFE: Allow more fine grained schedules/allow direct rrule entry"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The scheduling of jobs/workflows is somewhat non-intuitive, if you want to run scheduled jobs outside of set times at given days or every x minute all day.

A current scenario I have right now is I want to run a job:
Monday - Friday
Starting: 10:01
Ending: 18:02
Every: 15 minutes

This alone requires the creation of _33 separate schedules_. This is p

[2021-04-15 13:48] akus062381 commented on #9246
This has been fixed.

[2021-04-15 13:48] #9246 closed, assigned to AlexSCorey, akus062381

[2021-04-15 14:02] lemmy04 opened #9917 "Unable to use custom EE image"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have built a custom EE image (quay.io/mhomann/awx-ee-community), but when I try to use it for a job the job fails with a very uninformative "runtime error"

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: k3s, awx-operator
* Ansible version:  (unknown)
* Operating System: debian buster
* Web Browser: Firefox

##### STEPS TO REPRODUCE

*

[2021-04-15 14:07] shanemcd commented on #9917
Can you try:

[code]

[2021-04-15 14:07] AlanCoding commented on #9361
Double-check me on this, but it looks like @ryanpetrello's merged PR does this for the ssh_private_key format. So this shouldn't need anything else done, it just needs to be tested, is that right?

[2021-04-15 14:32] lemmy04 commented on #9917
the build process fails at the end:
[code]

[2021-04-15 14:32] lemmy04 commented on #9917
note: i have ansible-builder 0.6.0 here - 1.0.0a1 can't be installed, see https://github.com/ansible/ansible-builder/issues/204

[2021-04-15 14:45] lemmy04 commented on #9917
with ansible-builder 1.0.0 the build fails in the same way at the same step.

[2021-04-15 14:46] shanemcd commented on #9917
Can you post your `execution-environment.yml`?

[2021-04-15 14:52] eschek87 opened #9918 "Job template with survey does not show popup with survey questions"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Job template with survey does not show popup for survey questions

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: operator
* AWX deployment target: minikube
* Operating System: Ubuntu 18
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Create job template, create surveys and mark "required"., run job templat

[2021-04-15 14:58] akus062381 commented on #9361
I was able to verify that this has been fixed.

[2021-04-15 14:58] #9361 closed, assigned to akus062381

[2021-04-15 15:15] lemmy04 commented on #9917
[code]

[2021-04-15 15:30] shanemcd commented on #9917
I just tried with your inputs and it worked fine for me. Can you please share which version of Docker you are using?

[2021-04-15 15:37] roumano opened #9919 "awx.awx.tower_user list existing user"
##### ISSUE TYPE
 - Feature Idea
Actually it's not possible to use this module (`awx.awx.tower_user`) to have a up2date user in AWX as it's not possible to list existing account and set none personnal password is not a option and password is a mandatory field for new user.

##### SUMMARY

- Need a option to get the list of existng user (like via cli : `tower-cli user list`

[2021-04-15 16:00] lemmy04 commented on #9917
lemmy@kumiko:~> docker --version
Docker version 19.03.15, build 99e3ed89195c

[2021-04-15 16:02] shanemcd commented on #9917
Hmmm...

[code]

Can you try updating and see what happens?

[2021-04-15 16:49] phemmer commented on #9905
Ok, so this looks to be a UI issue. The first time you click cancel, nothing visible happens. Then you click it again and you get the error. However the first cancel actually succeeded, and the second cancel is failing.

[2021-04-15 16:54] maxxitutti opened #9920 "error during the starting images (by docker-compose). nginx error"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: operator, developer environment
* AWX deployment target: openshift, kubernetes, minikube
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

git clone https://github.com/ansible/awx.git
<edit> tools/docker-compose/inventory
make docker-compose-build
make docker-compose

##### EXPE

[2021-04-15 17:08] phemmer opened #9921 "Sort host groups by priority"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently when viewing a host's groups, the groups can only be sorted alphabetically. It would make sense to be able to sort them by priority as well. This way you know which group will have precedence when adding variables.

[2021-04-15 17:12] lemmy04 commented on #9917
[code]
[code]

[2021-04-15 17:15] shanemcd commented on #9917
Alright, I'm stumped. Now we bring out the hammer:

[code]

[2021-04-15 17:22] keithjgrant commented on #7915
@unlikelyzero as far as I can tell, this is no longer an issue with the new code editor. Can you confirm?

[2021-04-15 17:34] lemmy04 commented on #9917
I used an even bigger hammer:
[code]
[code]

[code]

[2021-04-15 17:40] wenottingham commented on #9921
alphabetical *is* how they are merged by default.

If you mean sort by the `ansible_group_priority` var, as described here: https://docs.ansible.com/ansible/devel/user_guide/intro_inventory.html#how-variables-are-merged... those group vars aren't indexed in a way that the API can order the groups, which is what would be required for them to be displayed in a particular order.

From a UX perspectiv

[2021-04-15 17:40] #9921 closed, assigned to nobody

[2021-04-15 17:41] wenottingham commented on #2714
Closing this, as this installer has been removed. If desired in the future, this should be opened at https://github.com/ansible/awx-operator

[2021-04-15 17:41] #2714 closed, assigned to nobody

[2021-04-15 17:44] phemmer commented on #9921
Why was this closed?

Isn't that what feature requests are for? To add functionality that doesn't currently exist?

[2021-04-15 17:44] wenottingham commented on #9916
Updated title.

[2021-04-15 17:45] shanemcd commented on #9917
Can you paste the output of the rendered Dockerfile/Containerfile? Your output is showing up differently from mine.

I would expect to see formatting something similar to:

[code]

[2021-04-15 17:46] shanemcd commented on #9917
Wait a sec... I'm running with `DOCKER_BUILDKIT=1` set in my environment, that's why the output looks different.

[2021-04-15 17:47] wenottingham commented on #9920
Hi -

This issue tracker is for tracking feature enhancements and bugs to AWX itself.
There's not enough information here to determine what is going on in your case.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-15 17:47] #9920 closed, assigned to nobody

[2021-04-15 17:47] shanemcd commented on #9917
With `unset DOCKER_BUILDKIT` I see:

[code]

[2021-04-15 17:58] lemmy04 commented on #9917
I'd almost think it could be something in my ~/.ansible.cfg but then my local user on my k3s host does not have one.

Right now I am having the very same problem with three different docker versions spread out over two different linux flavors, docker 18.x on debian buster, and 19x + 20.x on openSUSE...

[2021-04-15 17:59] akus062381 commented on #8838
I manually tested this by creating a source within an inventory and Syncing it. I clicked Sync a few times to generate multiple jobs.
When I went to the jobs page and selected multiples of the jobs I had just triggered, and click the delete button, instead of returning the list of remaining jobs, the jobs page showed "No Jobs Found".
When I clicked refresh, then the UI showed all of the remaining

[2021-04-15 18:17] lemmy04 commented on #9917
make that four different container runtimes on three different OS - podman 2.2.1 on RHEL 8.4 fails exactly the same way, at the same step.

[code]

and I have created that user specifically for this test and haven't done anything with containers on that VM before...

[2021-04-15 18:29] lemmy04 commented on #9917
just out of curiosity:

[code]

explains the "No such file or directory" error, at least...

[2021-04-15 18:33] lemmy04 commented on #9917
*facepalm*

the base container "awx-ee" uses a non-root user. If I start that container "normally" i can't manually install collections - if I run the container with "-u root" i can:

as normal user:
[code]
as root:
[code]

[2021-04-15 18:37] maxxitutti commented on #9920
why you said that you have any info? below is put the logs that i provide previously. i canto connect to awx (via bweb browser) because nginx not starting (netstat on host showing listen port 8043 but nothing listen on container inside). i think that problems startind during the command make docker-compose because there is an error logs

"
tools_awx_1 | 2021-04-15 16:48:58,392 INFO success: awx-re

[2021-04-15 18:38] akus062381 commented on #9548
@jakemcdermott I was able to just recreate this error.... let me know if I can be helpful in any way.

[2021-04-15 18:47] akus062381 commented on #8501
I verified that this has been fixed.

[2021-04-15 18:47] #8501 closed, assigned to fosterseth, akus062381

[2021-04-15 19:32] maxxitutti opened #9923 "nginx problem in docker-compose deployment"
during the make docker-compose there is an errors

""tools_awx_1 | 2021-04-15 19:15:53,027 INFO success: awx-receptor entered RUNNING state, process has stayed up for > than 1 seconds (startsecs)
tools_awx_1 | awx-nginx stdout | make[1]: Entering directory '/awx_devel'
tools_awx_1 | awx-nginx stdout |
tools_awx_1 | awx-nginx stdout | nginx -g "daemon off;"
tools_awx_1 | awx-nginx stdout |
tools_aw

[2021-04-15 20:00] AlexSCorey commented on #9918
I just ran through those steps and was not able to reproduce. Maybe a silly question, but is your survey on?
![Screen Shot 2021-04-15 at 3 58 41 PM](https://user-images.githubusercontent.com/39280967/114930995-a5484700-9e03-11eb-8686-d17644f7bdf2.png)

[2021-04-15 20:06] shanemcd commented on #9917
@lemmy04 The awx-ee doesn't flip the USER to 1000 until the very end of the Containerfile: https://github.com/ansible/awx-ee/blob/268fe3d79f99e2a44a11df7a216cb6cfdd43be9f/Containerfile#L29

Which you can see by manually patching the produced Containerfile by shoving `whoami` before the part where it installs the collections:

[code]

Edit: works with Docker too:

[code]

[2021-04-15 20:21] akus062381 commented on #8045
Note: this issue has been fixed.
this should not have a visual test because the error message is no longer present
will work on functional test

[2021-04-15 20:26] lemmy04 commented on #9917
when I do the same thing (manually insert a "RUN whoami" I get "command not found" - and if I put in "RUN id -a" instead I see it already as UID 1000 just before the galaxy install stuff....

[code]

[2021-04-15 20:44] shanemcd commented on #9917
Oh, shit. Because using awx-ee as the base image. 🤦

My bad, should have realized that.

I thought we added some code to ansible-builder to explicitly put `USER root` as the first build step, but I'm not seeing it. I'll try to make that happen soon.

In the meantime, you can hack your way through this by shoving `USER root` before the `ansible-galaxy` commands in the Dockerfile, and manually runni

[2021-04-15 21:11] wenottingham commented on #9920
This is not something we see. Something is wrong with your image.

On the default shipped images:
[code]
As noted, this repo is for reporting bugs and RFEs,  and for troubleshooting install/build problems, the mailing list is a better choice.

[2021-04-15 21:11] wenottingham commented on #9923
Hi - Please don't file multiple copies of the same issue. Closing as a duplicate of #9920.

[2021-04-15 21:11] #9923 closed, assigned to nobody

[2021-04-15 21:12] #7506 closed, assigned to keithjgrant

[2021-04-16 05:08] lemmy04 commented on #9917
that finishes now - but I think ansible-builder does two more steps after that "docker build"? Now, if i push the resulting image and re-run my failed job ir fails like this:

cripple-windows | FAILED! => {
    "msg": "winrm or requests is not installed: No module named 'winrm'"
}

as in, the missing collections were there, but the python modules listed in requirements.txt didn't get installed...

[2021-04-16 05:59] lemmy04 commented on #9917
I manually patched the ansible-builder main.py file to what is in https://github.com/ansible/ansible-builder/pull/205...
...now the build fails in a completely different way:

[code]

I think this whole shebang should move over into a bug on ansible-builder, just filed https://github.com/ansible/ansible-builder/issues/206

[2021-04-16 06:25] lemmy04 commented on #9863
I think the default EE should be one that contains the latest **release** of ansible... preferrably one that is compatible with what people have on the commandline, so someone developing plays on the CLI would be able to simply run the play on their development workstation with ansible-playbook, and if that runs without errors it should be safe to assume that it will run inside AWX as well.

I hav

[2021-04-16 06:35] azrdev commented on #578
Since this issue also asks for surveys, these could be auto-generated from `vars_prompt` ansible mechanism (which, if used, currently only makes AWX playbook runs hang). iow, there also is a serialization mechanism for surveys, although it would need to be extended e.g. with answer typing support (e.g. type constraints, default values and (multiple) choices)

[2021-04-16 06:47] eschek87 commented on #9918
Save my day! Your are right. I forgot to activate it.

[2021-04-16 06:47] #9918 closed, assigned to nobody

[2021-04-16 07:08] eschek87 commented on #9747
AWX 19.0.0 affected, too.

[2021-04-16 08:17] gymzang opened #9926 "awx-postgres-0 have CrashLoopBackOff STATUS."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
Installed by following the guide below.
https://github.com/ansible/awx/blob/devel/INSTALL.md

* AWX version: 18
* AWX install method: minikube, kubectl, docker
* Ansible version:  2.9.17
* Operating System: CentOS 7
* Web Browser:

##### STEPS TO REPRODUCE

Hi. Yesterday I got an "Internal Server Error" from the AWX.
I checked awx-po

[2021-04-16 08:31] azrdev commented on #3985
duplicate / related to #578

[2021-04-16 09:33] unbreakabl3 commented on #7388
Sorry for the delay. I don't have an access to this environment anymore, so cannot test. im going to install the latest one soon and will check it.

[2021-04-16 12:01] Tyler-Ouellette opened #9927 "Installing New AWX 19.0 Migrations failing."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When installing awx I am getting this error:
![image](https://user-images.githubusercontent.com/47769996/115020686-ed5d7d00-9e88-11eb-95c0-cf57e51c295b.png)

Internal 500 error due to zapper?

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Opera

[2021-04-16 12:03] shanemcd commented on #9927
A few things:

- Please reopen this at awx-operator.
- When you do so, copy / paste the text instead of a screenshot.
- Please use markdown to format your code snippets.

[2021-04-16 12:03] #9927 closed, assigned to nobody

[2021-04-16 13:00] AlexSCorey commented on #9864
We can put a field on the ad-hoc commands form in the ui to allow/require the user to select an EE as well.

[2021-04-16 13:03] phemmer opened #9928 "Can't pull execution environment from private registry"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Execution environments can't be pulled from private registries as the authentication credentials are not being passed to the pod spec.

##### ENVIRONMENT
* AWX version: 19
* AWX install method: minishift
* Ansible version:  ?
* Operating System: Debian
* Web Browser: Chrome

##### STEPS TO REPRODUCE

![image](https://user-images.githubusercontent.com/1

[2021-04-16 13:25] nixocio opened #9929 "When editing a survey another tab is highlighted"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When editing a survey the another tab is selected. Survey tab should be the one highlighted.

<img width="1453" alt="image" src="https://user-images.githubusercontent.com/9053044/115030830-85f9fa00-9e95-11eb-9cb4-6e17a0f7874e.png">

[2021-04-16 13:27] nixocio commented on #9929
~Maybe related to https://github.com/ansible/awx/issues/9868~

[2021-04-16 13:43] jbradberry commented on #9864
@AlexSCorey yes, that absolutely should be done.

[2021-04-16 14:27] dsmaugy opened #9930 "Allow execution environments to inherit other files in project structure"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

My project structure is as follows:
[code]

I have my multiple playbooks in a subdirectory as to not clutter the root directory and my `ansible.cfg` adds the `roles/` directory to the roles_path variable so Ansible knows where to find them.

This works fine when running locally, but when run in AWX, the execution environment only contains the files

[2021-04-16 15:06] maxxitutti commented on #9920
Try do that the same on quay.io/awx/awx_devel

`root@awx:/opt/repo/awx# docker images
REPOSITORY              TAG       IMAGE ID       CREATED       SIZE
quay.io/awx/awx_devel   devel     cbb4518b161e   9 hours ago   2.14GB
redis                   latest    de974760ddb2   5 days ago    105MB
postgres                12        e782ad565d74   6 days ago    314MB
root@awx:/opt/repo/awx# docker run -it

[2021-04-16 15:59] wenottingham commented on #9928
This was what https://github.com/ansible/awx/pull/9683 is for - it did not make 19.0, but will be in the next release.

[2021-04-16 15:59] #9928 closed, assigned to nobody

[2021-04-16 16:41] #9019 closed, assigned to one-t, AlexSCorey

[2021-04-16 17:05] shanemcd commented on #9930
@dsmaugy Are you doing anything weird like symlinking inside your repo?

[2021-04-16 17:07] shanemcd commented on #9926
Can you post the output of:

[code]

[2021-04-16 17:19] shanemcd commented on #9915
Hello @techBeck03 - we haven't heard any other reports of this lately. It kind of feels like you might not have the config quite right. I don't think we could help without seeing more about what you're actually doing. This might be a good post either on IRC or our mailing list:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-16 17:19] #9915 closed, assigned to nobody

[2021-04-16 17:20] shanemcd commented on #9913
Merging your PR. Thank you!

[2021-04-16 17:20] #9913 closed, assigned to nobody

[2021-04-16 17:21] shanemcd commented on #9909
I think the new UI didn't have management jobs until 18 or 19. Can you try again?

[2021-04-16 17:21] #9909 closed, assigned to nobody

[2021-04-16 17:24] shanemcd commented on #9906
Sounds like a config issue. You may have better luck troubleshooting on IRC or the mailing list.

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-16 17:24] #9906 closed, assigned to nobody

[2021-04-16 17:25] shanemcd commented on #9905
Need to handle the case where the user tries to cancel an already canceled job.

[2021-04-16 17:29] phemmer commented on #9905
While possibly true, I think making the "cancel" dialog go away when cancelled would be a higher priority.

[2021-04-16 17:29] wenottingham commented on #9893
Hi -

We've actually changed the architecture recently - there is no more task container. When deployed in kubernetes, all automation is run in the kubernetes cluster using what we call 'execution environments' - containers that run ansible.

You'd do this now likely by embedding that config in the execution environment itself, rather than make changes to AWX.

[2021-04-16 17:29] #9893 closed, assigned to nobody

[2021-04-16 17:41] wenottingham commented on #9888
If you are trying to launch a job on the success of another job, that is what workflows are for (or even, having a step in the job that calls the REST API).

This isn't what the job notifications are designed for.

[2021-04-16 17:41] #9888 closed, assigned to nobody

[2021-04-16 17:43] AlanCoding commented on #7775
The PR has been updated with this approach for the migration:

 - Inventory sources of the "custom" type are deleted in the migration, and hosts/groups from them remain and can be manually edited
 - The `CustomInventoryScript` model & table will be kept, but with ForeignKeys removed
   - Users will be able to export a `.tar` file with the scrips with an `awx-manage` command (name `export_custom_sc

[2021-04-16 17:53] chrismeyersfsu commented on #9151
The project update should print out why it decided not to sync `requirements.yml` content.

[2021-04-16 18:01] dsmaugy commented on #9930
@shanemcd Yeah, the `playbooks/ansible.cfg` is symlinked to a `ansible.cfg` at the root folder of the repo

[2021-04-16 18:34] bandwiches commented on #9906
Riiiiiiiight....thanks I guess

[2021-04-16 19:06] tiagodread commented on #9165
In AWX 19 I can't get openstack inv plugin working in a default execution env:

[code]
cc: @AlanCoding @shanemcd

[2021-04-16 20:16] tiagodread commented on #6549
Verified manually importing groups from inventory source and the groups are displayed on the group tab for a particular host:

![image](https://user-images.githubusercontent.com/12464858/115079270-4eac3d00-9ed7-11eb-82d6-b5a380a373b4.png)

![image](https://user-images.githubusercontent.com/12464858/115074756-85cb2000-9ed0-11eb-9681-263b79248517.png)

[2021-04-16 20:16] #6549 closed, assigned to unlikelyzero, akus062381

[2021-04-16 21:50] bandwiches commented on #9906
Is this debatable?  The IRC channel is stale AF.

The error `Transport endpoint is not connected` is of `OSError` origin which points me to the application itself and not the configuration.  In addition, the configuration settings for LDAP are within the AWX_WEB container and not `awx\installer\inventory`.

[2021-04-17 02:32] Craftoncu commented on #9877
Got it reproduced. @shanemcd your guess wasn't wrong.
Server must run out of memory.
Adding some swap solves the issue.

I decreased server RAM periodically from 10GiB to 4GiB. Onto 4 GiB the build process crashed.
Adding 1 GiB swap did the job.

**Finally we need 4GiB of RAM**

[2021-04-17 03:40] sysnasri commented on #9877
Yes probably it relates to swap , the server does not have swap space.

[2021-04-17 05:59] Craftoncu commented on #9877
U missunderstood.  The swap isn't the solution.
The swap is a dirty quick fix.

I think you will need more RAM anyway

[2021-04-17 06:47] sysnasri commented on #9877
I know but the server has enough memory 4 Gig,  I have also increased it let me try I'll inform you.

[2021-04-17 09:19] sysnasri commented on #9877
I have installed it but the web UI is not accesible
https://IP :8043/#/home

![image](https://user-images.githubusercontent.com/73346319/115108079-c5067900-9f83-11eb-892c-9429a518c2bb.png)

[2021-04-17 20:45] yeranosyanvahan opened #9935 "=> ERROR importing cache manifest from quay.io/awx/awx_devel:devel"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I am having issue at the installation phase

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: github, from here
* Ansible version:  2.7.7
* Operating System: debian 10 buster
* Web Browser:

##### STEPS TO REPRODUCE

git clone https://github.com/ansible/awx.git
cd awx
make docker-compose-build

##### EXPECTED RESULTS

I expect it the erro

[2021-04-17 21:02] tetesh opened #9936 "Invalid username or password. Please try again."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Invalid username or password. Please try again.

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operating System: Ubuntu server
* Web Browser: Chrome, Firefox

##### STEPS TO REPRODUCE

i have installed awx using playbook in docker container.
Changed in advance admin_password = Sespassword

###

[2021-04-17 23:19] Craftoncu opened #9937 "Installation without Docker or K8S Cluster"
Not much to say.
Title describes it.

Why to setup a clean cluster or use a development environment for awx?

Add support for local installations!
That would be a pleasure of many many users.

[2021-04-18 12:05] #7915 closed, assigned to keithjgrant

[2021-04-18 14:43] shanemcd commented on #9937
Hello. We are a small team and simply do not have the resources to maintain other installation methods. If someone in the community wants to do this, that's fine, but we have no plans for it.

[2021-04-18 14:43] #9937 closed, assigned to nobody

[2021-04-18 14:44] shanemcd commented on #9935
Did you try searching for existing issues before opening this? Dupe of https://github.com/ansible/awx/issues/9881

[2021-04-18 14:44] #9935 closed, assigned to nobody

[2021-04-18 17:31] Craftoncu commented on #9937
Then let this issue open. Im currently working on it

[2021-04-18 19:21] Craftoncu opened #9938 "Public expose port from Minikube cluster"
Add port export to documentation.
Im running awx with minikube on single server.

How to export the port from awx to 0.0.0.0.

I don't want security advises. Im working behind a firewall + reverse proxy.

[2021-04-18 19:24] sina-admin opened #9939 "emil notification problem on ansible-awx"
hello
can anyone help me?
I have faced a problem on ansible awx. when i set a email notification on ansible awx and test it, that  has been failed.
please help me... my error log is:

2021-04-18 23:29:33,537 DEBUG    awx.main.dispatch task c008decb-4eb4-43f9-9b2c-6a920fd375cd starting awx.main.tasks.send_notifications(*[[35]])
2021-04-18 23:29:38,765 ERROR    awx.main.tasks Send Notification Faile

[2021-04-18 19:45] techBeck03 commented on #9915
The config is straight forward and it works some times but not others indicating that my config is valid enough to resolve credentials.  What additional info would you like to see?

As an overall observation, this issue sure was closed very quickly without any real investigation other than saying "we haven't heard any other reports of this lately"..... I guess if no one has complained about someth

[2021-04-19 00:34] gymzang commented on #9926
Thanks for the reply. The output is as follows.

$ sudo kubectl describe pod/awx-postgres-0
Name:         awx-postgres-0
Namespace:    default
Priority:     0
Node:         puba-mgt-t1001/10.160.136.27
Start Time:   Wed, 14 Apr 2021 10:42:42 +0900
Labels:       app=awx-postgres
              controller-revision-hash=awx-postgres-566c99dd44
              statefulset.kubernetes.io/pod-name=awx-postg

[2021-04-19 00:38] gymzang commented on #9926
Thanks for the reply. The output is as follows.

**# sudo minikube kubectl describe pod/awx-postgres-0**
Name:         awx-postgres-0
Namespace:    default
Priority:     0
Node:         gerran-awx-test.novalocal/192.168.0.19
Start Time:   Sat, 03 Apr 2021 11:00:32 +0900
Labels:       app=awx-postgres
              controller-revision-hash=awx-postgres-566c99dd44
              statefulset.kubernete

[2021-04-19 09:40] IshwarKanse commented on #7560
One of the customer is also running into missing job events issue with that invalid year messages in the awx-rsyslog.log file. Its using omfwd though instead of omhttp.

[code]

The protocol is TCP and the remote logging aggregator is Logpoint
[code]

With tcp protocol and omfwd, it doesn't generate a rsyslog.err log file.

[2021-04-19 09:42] Valvos420 opened #9941 "Error user awx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
i have an error when i want to connect to the UI of awx

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method:  docker on linux
* Ansible version:  2.9.20
* Operating System: Debian 10
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

$ make docker-compose-build
$ make docker-compose
$ docker exec tools_awx_1 make clean-ui ui-devel
$ dock

[2021-04-19 09:59] Valvos420 commented on #9941
I also have this errors at the beginning :
[HPM] Error occurred while trying to proxy request /api/ from 192.168.1.91:3001 to https://awx.local:8043 (ENOTFOUND) (https://nodejs.org/api/errors.html#errors_common_system_errors)
[HPM] Error occurred while trying to proxy request /api/v2/auth/ from 192.168.1.91:3001 to https://awx.local:8043 (ENOTFOUND) (https://nodejs.org/api/errors.html#errors_commo

[2021-04-19 12:45] shanemcd commented on #9941
Does it work if you access AWX directly rather than through your proxy?

[2021-04-19 12:48] shanemcd commented on #9939
This is an issue tracker for bugs in AWX itself. You may have better luck troubleshooting your environment on IRC or the mailing list.

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-19 12:48] #9939 closed, assigned to nobody

[2021-04-19 12:51] shanemcd commented on #9938
You may want to look into running Kubernetes outside of Minikube. The AWX Operator provides several options for customizing ingress, all of which are documented in the readme: https://github.com/ansible/awx-operator

[2021-04-19 12:51] #9938 closed, assigned to nobody

[2021-04-19 12:55] shanemcd commented on #9926
I'm not seeing anything obvious here. If this is a test environment, can you try again from the beginning after running:

[code]

[2021-04-19 13:18] Valvos420 commented on #9941
No, it gave me the same error.

[2021-04-19 14:56] AlanCoding commented on #5149
We have already tested using this inventory file in conjunction with a custom EE that contains `community.general` plus the needed dependency:

https://github.com/ansible/test-playbooks/blob/master/inventories/linode_fqcn.linode.yml

There might be other test cases which are desirable, but I would like something more specific for the scope of this issue.

Otherwise close this issue as finished.

[2021-04-19 14:58] AlanCoding commented on #9154
@shebangbash the execution-environments branch has been merged. Is this ready to be closed?

[2021-04-19 15:33] jbradberry commented on #9864
I've just done some investigation, and I find that the resolver correctly picks out the Organization's Default EE for me.

![Screenshot_2021-04-19 Ansible AWX(1)](https://user-images.githubusercontent.com/685957/115262384-7cc19500-a102-11eb-834d-cddfe31af0b6.png)

![Screenshot_2021-04-19 Ansible AWX](https://user-images.githubusercontent.com/685957/115262395-7fbc8580-a102-11eb-8678-bce73f5a2628.pn

[2021-04-19 15:42] Achim-Hentschel commented on #9926
@shanemcd We are experiencing the same behaviour and I just tested your suggestion. Unfortunately the result is still the same. Logs are giving `initdb: error: directory "/var/lib/postgresql/data/pgdata" exists but is not empty`. Anything else I could test?

[2021-04-19 16:46] #9719 closed, assigned to nixocio

[2021-04-19 18:10] jakemcdermott commented on #9941
The ui dev server points to `127.0.0.1:8043` by default and so you shouldn't need to use `TARGET`

try

`npm --prefix awx/ui_next start `

instead of

`TARGET='https://awx.local:8043' npm --prefix awx/ui_next start `

[2021-04-19 18:20] Valvos420 commented on #9941
Still not, it gives me the same mistakes with the same syntax.

[2021-04-19 18:32] AlexSCorey commented on #9370
This seems to be working just fine.  My steps:
1) Create JT
2) Create team
3) Add a normal user to that team.  Their role on the team is `Member`
4) Give the team admin roles on the job template
5) Successfully create a survey question

Can you ensure I did all the steps right?

[2021-04-19 18:33] AlanCoding commented on #7521
I'd presume this was fixed with https://github.com/ansible/awx/pull/9890

[2021-04-19 18:38] AlexSCorey commented on #8356
This has been completed with the merge of https://github.com/ansible/awx/pull/9537

[2021-04-19 18:38] #8356 closed, assigned to nobody

[2021-04-19 18:43] AlexSCorey commented on #5278
This seems to be resolved.  @unlikelyzero have you experienced this bug recently?

[2021-04-19 19:05] hjkatz commented on #9370
For 5. Are you creating the template as the user that is a member of the Team?

[2021-04-19 20:14] AlexSCorey commented on #9370
For 5 I was able to create a survey question as the user that is a member of the team, the Job Template was created by a Super User. Is that what you are asking?

[2021-04-19 20:16] hjkatz commented on #9370
Could you try the same steps but have the Job Template created by a Team `member` of a different Team?

[2021-04-19 21:13] keithjgrant commented on #8797
@unlikelyzero it also relates to ambiguous colors (especially red v. green). The old UI had a lot of red/green icons to indicate job status. I've confirmed that the job list now uses distinct icons and text labels, so this isn't an issue there, but our old red/green status boxes still live on if you dig into some details pages, etc, so those should probably be updated to some sort of treatment alo

[2021-04-19 22:13] tiagodread commented on #9687
data-cy added
![image](https://user-images.githubusercontent.com/12464858/115309914-52dc9280-a143-11eb-8b74-bc40fc4ca3f3.png)

[2021-04-19 22:13] #9687 closed, assigned to nobody

[2021-04-19 22:19] tiagodread commented on #9681
Each option in filter by status has IDs.

![image](https://user-images.githubusercontent.com/12464858/115310351-0e052b80-a144-11eb-8043-bfbdfaf9dea4.png)

[2021-04-19 22:19] #9681 closed, assigned to nobody

[2021-04-19 22:20] tiagodread commented on #4249
PR merged, worked as expected.

[2021-04-19 22:20] #4249 closed, assigned to keithjgrant

[2021-04-19 22:20] #9911 closed, assigned to nobody

[2021-04-19 22:24] tiagodread commented on #9582
@mabashian I verified that after your PR the missing testability components were added, thanks.

[2021-04-19 22:24] #9582 closed, assigned to nobody

[2021-04-19 22:30] #4977 closed, assigned to tiagodread, marshmalien

[2021-04-19 22:44] #9441 closed, assigned to nobody

[2021-04-19 22:59] keithjgrant commented on #7563
We're tracking that under #6189

[2021-04-19 23:41] unlikelyzero commented on #5278
@AlexSCorey should be retested with https://github.com/ansible/awx/pull/9908

[2021-04-20 00:34] #9510 closed, assigned to nobody

[2021-04-20 00:48] gymzang commented on #9926
@shanemcd
When newly installed, there were no issues at first. The issue occurs after a few days .

[2021-04-20 13:16] aldelsa opened #9952 "Problem with symbolic links in ansible role to run a job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Recently I upgrade my awx version from 17.0 to 19.0 using awx-operator and migrating database such as is described on official docu. Everything is okay but when I run a job I had an error in container awx-task.

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: awx-operator in k8s
* Ansible version: 2.10
* Operating System: kubernetes runni

[2021-04-20 13:16] dansou901 commented on #5896
This can be closed now. I've switched to using collections and there I have a role in a collection for all of my templates. This role contains the templates and a task to template out the templates. In other collections / roles this template role can then be called with respective variable declaration (include_role with {{ template }} and {{ destination }}). The vars template and destination are t

[2021-04-20 13:16] #5896 closed, assigned to nobody

[2021-04-20 13:22] dsafanyuk opened #9953 "Support Azure AD login with tenant ID"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In an enterprise, using a "tenant id" is the preferred way to interact with Azure

https://python-social-auth.readthedocs.io/en/latest/backends/azuread.html#tenant-support

[2021-04-20 13:41] jakemcdermott opened #9955 "Boolean fields on credential inputs sometimes display as true even when they're false"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
- check out [this pr](https://github.com/ansible/awx/pull/9951)
- make a container registry credential
- after making the cred, edit it and change the tls flag to false and save again
- Note that when you return to the form it'll still display as a checked box but the api value is actually false
- Observation: if you log the value of credent

[2021-04-20 13:52] ckozler commented on #9337
While we wait for documentation on this component, could you provide an unofficial method that would be the best way to do it when using AWX in a container? Would the backup/restore playbooks that are linked here probably the best?

I would have to imagine AWX developers have something on hand and can maybe provide some general direction, no?

[2021-04-20 13:54] ckozler commented on #9337
The best I can deduce is using this - https://github.com/ansible/awx/blob/devel/INSTALL.md#installing-the-awx-cli

[2021-04-20 14:06] matburt commented on #2462
The key bit is that the task won't be executed directly in the awx runtime container... it'll need to happen elsewhere.

[2021-04-20 14:24] nixocio opened #9956 "Advanced Search on Hosts returns 400 if wrong variable type is passed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

1. Advanced Search on Hosts screen returns 400 if wrong variable type is passed with exact field select - searching for inventory - it has to be an integer.

<img width="1443" alt="image" src="https://user-images.githubusercontent.com/9053044/115412406-45b2b880-a1c2-11eb-945b-49726a6247fd.png">

On the API side:

![image](https://user-images.githubuse

[2021-04-20 14:31] AlanCoding commented on #9930
I don't understand what's not working here. The folder `/runner/project/roles` should be available. What error are you encountering?

Did you give `roles_path` setting in `ansible.cfg` as a relative path? Because that's the only thing that can be expected to work.

[2021-04-20 14:33] ckozler commented on #7881
I apologize for this bump but this seems to be an issue again on 19 with k8s. I am using awxkit 19.0.0 and my awx is 19.0.0 and in the json I see `          "ssh_key_data": "$encrypted$",` - where would $encrypted$ be stored? I do not see any SSH key data in any of the json. In fact, any credential, even password for LDAP configuration, is $encrypted$. Is this by design? If so, how would we obtain

[2021-04-20 14:46] tsimson commented on #5692
Is there any update here? I'm encountering the same issue.

[2021-04-20 14:50] karcadia commented on #3986
I lost some time troubleshooting this, but turned out to be user error. So as a reminder to anyone else that may need it:

If you retry your failed AWX/Tower job, it will add a limit to your job. Any limit on your job will override your add_host task more or less silently -- The new host does appear in the inventory but the play returns "No hosts matched". I ran a fresh job and got the behavior I

[2021-04-20 15:01] AlanCoding commented on #6270
^ I don't think that really did this. I will see about tracking this elsewhere, because some of what I said in the original issue is no longer valid.

[2021-04-20 16:08] v2kiran opened #9959 "AWX with external postgres database - docker compose"
##### ISSUE TYPE
 - Question

##### COMPONENT NAME
 - Installer

##### SUMMARY
The External database settings of the [inventory](https://github.com/ansible/awx/blob/devel/tools/docker-compose/inventory) file contains :
`pg_host` &
`pg_hostname`

what is the difference between these two? and should we use them both or will using pg_hostname suffice

Also the inventory file does not containv ariable

[2021-04-20 16:09] mabashian commented on #9955
You can reproduce this bug on devel.  Just create a Tower credential and leave the Verify SSL option unchecked.  After saving, attempt to edit the credential and you'll see Verify SSL checked.

[2021-04-20 16:15] chrismeyersfsu commented on #9916
You catch more flies with honey than vinegar. This is a good feature request, but that doesn't justify the derogatory comments. I'd appreciate if you edit your issue.

[2021-04-20 16:34] shanemcd commented on #8771
Moving this to the backlog.

[2021-04-20 16:40] keilr commented on #9832
@alankuras
I just wanted to open the very same feature request as you did. But the module is already able to create schedules for workflows.

It looks like we misunderstood the doc: the `/api/v2/unified_job_template` endpoint contains workflows as well. So the `tower_schedule` module is able to lookup the workflow-id.

I'm using the following Tower and Ansible versions:
[code]

[2021-04-20 17:28] nixocio commented on #4426
There is now also the execution environment admin that needs to be taken in consideration for the side-nav.

[2021-04-20 17:48] dsmaugy commented on #9930
@AlanCoding You're right, the `/runner/project/roles` folder actually was available, it was my `ansible.cfg` that was messed up and unable to link to the roles directory. Thanks!

[2021-04-20 17:48] #9930 closed, assigned to nobody

[2021-04-20 18:17] jladdjr commented on #9260
checked with @chrismeyersfsu - we can close this out

[2021-04-20 18:17] #9260 closed, assigned to chrismeyersfsu

[2021-04-20 18:30] duntonr opened #9961 "AWX RuntimeError resulting in loss of worker task logs and true outcome"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX UI reporting stalls eventually errors out with unhelpful
[code]

In reality, though, the job has actually continued and either completed successfully OR failed due to a normal (helpful) job/task/play error.  This is found by looking at the spawned worker container logs.

The UI error IS raised at the same time as when the JOB completes.

Downloadin

[2021-04-20 18:37] shanemcd commented on #9961
Interesting. Some questions:

- Does this happen consistently?
- What can you tell us about the workload itself?
  - How many tasks?
  - Are you producing a lot of stdout?
  - Are you making heavy use of ansible facts?

[2021-04-20 18:51] kdelee commented on #5931
Looks like we never added any tests for this

[2021-04-20 18:55] duntonr commented on #9961
Hi @shanemcd

* _Does this happen consistently?_
  *  So far, it seems intermittent or at least is not triggered if the job naturally hits an error earlier in the run.  I have a limited amount of data so far (decided to rebuild my AWX environment from scratch due to issues upgrading from pre-18) and am working through configuring (and improving) my playbooks and templates along the way.
* _Workloa

[2021-04-20 18:59] shanemcd commented on #9961
@duntonr Thanks for the information. We did indeed make some pretty radical changes to the architecture of AWX in version 18, so that explains why you weren't seeing this issue before.

I will spend some time tomorrow trying to reproduce this, or at very least improve the error handling.

[2021-04-20 19:01] wenottingham commented on #9959
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-20 19:01] #9959 closed, assigned to nobody

[2021-04-20 19:03] shanemcd commented on #9961
@duntonr One more question: is this error the only thing you see in the stdout? Or was there output before the traceback?

[2021-04-20 19:07] duntonr commented on #9961
Thanks @shanemcd !

For what its worth, I came across https://github.com/ansible/awx/issues/9917 and https://groups.google.com/g/awx-project/c/MACNtPrGpV8 as those are the only google hits for `File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 1397, in run`

Separately, I had similar issues as reported in 9917 but was able to eventually get a custom EE container bu

[2021-04-20 19:22] kdelee commented on #7062
@rebeccahhh where are we on this? When are we thinking we will remove it from the API? Is this feature the one that is tracking the tool that will do a pip freeze on your venvs?

[2021-04-20 19:29] duntonr commented on #9961
That's an interesting thing as well... when the job starts, things are normal, eg the log starts with
[code]

I can keep scrolling though the logs via AWX UI (double down carrots) until it stalls.  At that point, the flashy green indicator keeps flashing to show the job is still running but no new logs.

When the job does end, the indicator will turn red, but again, no new logs/errors/etc at the _

[2021-04-20 19:35] shanemcd commented on #9685
Interesting note: I've been able to reproduce this, but only when the AWX is deployed via the Operator. I don't see this in the dev env.

[2021-04-20 20:04] yagomarques commented on #8686
I noticed the project update is only triggering if we change something else

We use it to test.
[code]

[2021-04-20 20:38] jakemcdermott commented on #9548
@akus062381

This is weird - I made 10 attempts to reproduce this bug ( [add 3 schedules -> delete all] x 10 ) and couldn't reproduce it.

On a whim, I switched from firefox to chrome and got it on the first try:

![Screenshot from 2021-04-20 16-37-41](https://user-images.githubusercontent.com/9753817/115460878-ca1f2e80-a1f6-11eb-95a8-8903bd799e3e.png)

[2021-04-20 21:11] tiagodread commented on #5070
PR already merged, worked as expected!

[2021-04-20 21:11] #5070 closed, assigned to tiagodread, marshmalien

[2021-04-20 21:14] sean-m-sullivan commented on #8686
What do you mean by change something? in the previous example the update project is no, so it shouldn't trigger, and the timeout would be ignored.

I was looking at this with a 19.0.0 awx. and with this code
[code]
The key here is update_project: yes , if you put no/false, it will behave like it did in the past, and not update the project, and its working as expected. If this is not the case can y

[2021-04-20 21:16] jakemcdermott commented on #9548
The schedules on a JT can point to each other. If we have three schedules linked like this:

[A] -> [B] -> [C]

... and deletion requests for [A] and [B] are handled at close to the same time by different worker processes, a race condition can occur where  [A] updates with a stale reference to [B], which makes postgres sad:

![Screenshot from 2021-04-20 17-05-06](https://user-images.githubusercont

[2021-04-20 21:21] jakemcdermott commented on #9548
Notes:

* The 500 means some additional exception handling is needed api-side
* Generally speaking, one should be able to delete schedules from a JT in any order they please and timing shouldn't matter.

[2021-04-20 21:27] jakemcdermott commented on #9548
* The 500 means some additional exception handling is needed
* Generally speaking, clients should be able to delete schedules in any order and timing shouldn't matter.

[2021-04-20 21:49] jakemcdermott commented on #9905
On which screen are you attempting to cancel the job? Is it a job list, the details panel for the job, the output page, or somewhere else?

[2021-04-20 23:35] sugitk commented on #6412
Also, I would like to disable it on each notification template.  At the current Tower cannot disable the notification template without removing the setting.

[2021-04-21 04:44] rockymiho opened #9966 "installer folder missing"
Hi

following the steps from the below url: I dont see installer directory in awx

https://computingforgeeks.com/how-to-install-ansible-awx-on-ubuntu-linux/

##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

#####

[2021-04-21 06:39] Ecno92 commented on #2462
@matburt I get that point. However I'm currently in an environment which has limited/almost no support for container runtimes. I get it that AWX (and Tower) are moving to a more container based architecture, however that's not something we can use at this moment.

The advantage of the virtualenv based setup was that it was just a matter of copying the bundle of virtualenvs for our organization to

[2021-04-21 07:39] gmtime opened #9967 "19.0.0, jobs fail with: Socket path does not exist: /var/run/receptor/receptor.sock"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After upgrading to 19.0.0 jobs consistently fail with "Socket path does not exist: /var/run/receptor/receptor.sock"

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: docker on linux
* Operating System: Any
* Web Browser: Any

##### STEPS TO REPRODUCE

1. Go to Resources->Projects
2. Go to Demo Project
3. Click on Sync

##### EXPECTED RESUL

[2021-04-21 07:40] rl-akjaer commented on #9916
I'm sorry if you perceived any of the original RFE as derogatory. English is not my primary language, so if I come off as rude or am using derogatory terms - that wasn't my intent at all. In my head it only encapsulates the hair-pulling frustration when written.

To be honest, I'm unsure about which part you are referring to as derogatory. It's hard to know what is acceptable terms in 2021. I'd be

[2021-04-21 08:45] Valvos420 commented on #9966
the type of installation change, if you want to install with the github, you need to follow this documentation : https://www.howtoforge.com/how-to-install-ansible-awx-on-debian-10/
This is the same but with the version 17.0.0
If you want to install the last version, you need to follow this documentation:
https://github.com/ansible/awx/blob/devel/INSTALL.md
You can also install with docker:
https:/

[2021-04-21 12:20] chrismeyersfsu commented on #9916
The scheduling of jobs/workflows does not allow for adding exceptions. For example ...

### Rewrite Examples

The problem of having to create multiple schedules is compounded when considering the Job Template copy behavior. It would be helpful to have the option to also copy schedules related to the Job Template.

Interacting with rrule's via the API is possible but tedious prone to human error. I

[2021-04-21 12:35] andresch26 opened #9968 "19.0.0 Docker install fails during Clean and Build UI"
ISSUE TYPE

    Bug Report

SUMMARY

Install fails during Clean and Build UI "docker exec tools_awx_1 make clean-ui ui-devel"
ENVIRONMENT

    AWX version: 19.0.0
    AWX install method: docker on linux
    Ansible version: 2.10.7
    Operating System: Centos Linux 7
    Web Browser: N/A

STEPS TO REPRODUCE

I followed the install steps on https://github.com/ansible/awx/blob/19.0.0/tools/docker-co

[2021-04-21 12:52] shanemcd commented on #9966
Yep, the old installer went away. For more context:

- https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/1-Jh0fy3AgAJ
- https://groups.google.com/g/awx-project/c/AllI1i0YqHE/m/MS8uDFWzCAAJ

[2021-04-21 12:52] #9966 closed, assigned to nobody

[2021-04-21 12:53] ericzolf opened #9969 "Deprecate notifications in favour of standard job templates with added features"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The notification feature has limited features and flexibility, and requires extra code maintenance for each level of flexibility or additional feature.

It was designed prior to the introduction of workflows and could now easily be replaced by a standard job template as part of a workflow, given a few pre-requisites:

* all the notification types hav

[2021-04-21 12:54] shanemcd commented on #9968
Looks similar to https://github.com/ansible/awx/issues/9877 - Try adding more memory.

[2021-04-21 12:55] shanemcd commented on #9967
Which instructions did you follow to deploy AWX?

[2021-04-21 12:55] satbirsp opened #9970 "Migration hanging in AWX 19.0"
After updating minikube to  latest version minikube-1.19.0 . All works fine on 1.18.0 , AWX Migrations are hanging hete are docker logs

PostgreSQL Database directory appears to contain a database; Skipping initialization

2021-04-21 12:57:43.191 UTC [1] LOG:  starting PostgreSQL 12.6 (Debian 12.6-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit
2021-04-21 12:57:

[2021-04-21 13:21] andresch26 commented on #9968
Thanks for the suggestion. I increased from 4GB to 16GB with the same result

# cat /proc/meminfo
MemTotal:       16266760 kB
MemFree:        10581692 kB
MemAvailable:   13179736 kB

checking htop during the install I can see swap isn't used, and mem stays below 2.7Gb

[2021-04-21 13:25] maxifox79 opened #9972 "AWS gets stucked in Redis saving."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
While executing "make docker-compose", the process reports a loop in redis task trying to save changes.

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: docker
* AWX deployment target: docker
* Operating System: Centos 7.9

##### STEPS TO REPRODUCE
on AWX installer, while executing
make docker-compose

#

[2021-04-21 13:37] shanemcd commented on #9968
Dang. I'm out of ideas then. Leaving this open in case others run into this.

[2021-04-21 13:42] ghost commented on #9540
I have the same problem. Any solutions for the moment ?

[2021-04-21 14:32] mabashian commented on #9852
Slight tweak to the reproduction steps:

Create Inventory
Create _two_ Inventory sources
Delete _one of the_ Inventory sources

If you only have one inventory source on the inventory then you can delete it without issue.

[2021-04-21 16:51] shanemcd commented on #9972
This just looks like Redis doing its thing. Are you experiencing any functional issues with the system?

[2021-04-21 16:51] wenottingham commented on #9969
The part you'd lose in this model is the ability to define a notification once and attach it to everything that runs transparently. But I do get the idea about making them more flexible.

[2021-04-21 16:52] shanemcd commented on #9970
Tracking this here: https://github.com/ansible/awx-operator/issues/205

[2021-04-21 16:52] #9970 closed, assigned to nobody

[2021-04-21 16:56] shanemcd commented on #9952
Interesting. I'm not sure what we can do here, since it seems like it's the `zipfile` module blowing up.

Perhaps we can try to detect the broken symlink and skip adding it to the archive?

[2021-04-21 17:17] #9685 closed, assigned to nobody

[2021-04-21 18:14] maxifox79 commented on #9972
Thanks for your feedback. This process is being executed for the last 5 hours, CPU and memory are not being impacted at all. This process seems to be in a loop, and we don´t have any clue about what´s happening with the deploy, any ideas?

top - 15:10:35 up 25 min,  2 users,  load average: 0.00, 0.01, 0.05
Tasks: 173 total,   1 running, 172 sleeping,   0 stopped,   0 zombie
%Cpu(s):  3.1 us,  3.1

[2021-04-21 18:17] shanemcd commented on #9972
Is it preventing you from running jobs? I'm not seeing any issues here.

[2021-04-21 18:30] aldelsa commented on #9952
I think you mean something like that:

[code]

[2021-04-21 18:32] maxifox79 commented on #9972
We detected this from logs

awx_1_1     | awx-nginx stdout | nginx: [emerg] getpwnam("nginx") failed
awx_1_1     | awx-nginx stdout |
awx_1_1     | 2021-04-21 18:18:28,441 INFO exited: awx-nginx (exit status 2; not expected)
awx_1_1     | 2021-04-21 18:18:28,442 INFO gave up: awx-nginx entered FATAL state, too many start retries too quickly
awx_1_1     | awx-nginx stdout | make[1]: *** [Makefile:2

[2021-04-21 18:38] shanemcd commented on #9972
Ah. It's a duplicate of https://github.com/ansible/awx/issues/9552 then.

[2021-04-21 18:38] #9972 closed, assigned to nobody

[2021-04-21 18:42] maxifox79 commented on #9972
thanks for your help!!!!

[2021-04-21 19:42] wenottingham commented on #7278
@hjkatz on a whim - what happens if you set `MAX_EVENT_RES=60000` in `AWX_TASK_ENV` (or `MAX_EVENT_RES_DATA`  in the deployment settings)

[2021-04-21 19:51] jbradberry commented on #7881
@ckozler yes, this is by design.  awxkit uses the API endpoints to do its work, and we don't expose secrets via the API.  You will have to update those values by other means.

[2021-04-21 19:55] unixplex opened #9976 "unable to find https://github.com/ansible/awx/blob/devel/tools/inventory"
Unable to find
https://github.com/ansible/awx/blob/devel/tools/inventory

[2021-04-21 19:55] unixplex commented on #9976
Please assist

[2021-04-21 20:01] wenottingham commented on #9976
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

We recently changed how AWX is installed. See https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/1-Jh0fy3AgAJ

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-21 20:01] #9976 closed, assigned to nobody

[2021-04-21 20:21] mabashian commented on #9366
Updated repro steps:

Create a JT
Create a schedule
Toggle the schedule off
Create a survey with a default answer
Toggle the survey on
Toggle the schedule on

[2021-04-21 20:49] mabashian commented on #9366
So, the UI prevents the user from toggling the schedule on if the schedule's JT has had a required survey question added that does not have a default answer.  This would require the user to provide an answer to the survey question before they could toggle the schedule on.  If the new, required question _does_ have a default answer though then I think this PATCH request should work with the API sin

[2021-04-21 20:57] mabashian opened #9977 "Schedule requires users to open survey prompt before they can save"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If all the required survey questions on a JT have default answers then the user shouldn't have to open the prompt modal to create a schedule.

![schedule_add](https://user-images.githubusercontent.com/9889020/115620006-a2959800-a2c2-11eb-8aa9-5c3c9f4c93f4.gif)

##### STEPS TO REPRODUCE
Create a JT
Create a required survey question for JT with a default

[2021-04-21 21:01] maxifox79 commented on #9972
while trying to build de User Interface using command <> I get this messages:
Creating an optimized production build...
Compiled successfully.

File sizes after gzip:

  597.29 KB  build/static/js/2.2dec5330.chunk.js
  303.19 KB  build/static/js/main.2767e07e.chunk.js
  64.95 KB   build/static/css/2.4f9d8bcb.chunk.css
  770 B      build/static/js/runtime-main.a1234c1a.js

The project was built ass

[2021-04-21 21:05] maxifox79 opened #9978 "AWS UI is blank"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
UI Interface is blank

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: Docker on linux
* Ansible version:  2.9.18
* Operating System: Centos 7.9
* Web Browser: Chrome

##### STEPS TO REPRODUCE
While building the UI interface everything works ok, but we cannot access the UI interface page

##### EXPECTED RESULTS

Access UI interface

#####

[2021-04-21 21:41] one-t opened #9979 "AWXKit - Implement handling for bad parameters"
Passing anything other than an object when creating resources with specified dependencies results in silent unexpected behavior.

For example, if you create a job template like this:
`jt = v2.job_templates.create(inventory="This Refers To Nothing!")`
or this
`jt = v2.job_templates.create(inventory=1337)`
No error will be returned and the Job Template will be created with a freshly dynamically gene

[2021-04-21 22:01] rebeccahhh commented on #7062
@kdelee good question, this is kind of an umbrella issue but the next thing on the list is doing the pip freeze tool. The tool is also one of the last things we have to do for this prior to this being completed for release 🎊
Currently I have created a new API endpoint that spits out the pip freeze data for all the virtualenvs for the user to see. Still a bit buggy at the moment, but I'll have it u

[2021-04-22 05:41] andresch26 commented on #9968
Interestingly enough i re-ran `ui-devel` a second time, after it failed the first time, and found a bit more information about where it is failing........ or at least I think I have

[code]
--debug log:
[code]

I will post anything I find here.

[2021-04-22 08:21] breeze7086 opened #9983 "OSError: [Errno 40] Too many levels of symbolic links"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hi all,

I have installed the AWX by following the installation guide of this project.
When I launch a template with an inventory, I get error logs from the container of awx-task like

`2021-04-22 07:46:50,286 DEBUG    [3aa217cbe44c4aacb2e7ed70e603cf5f] awx.analytics.job_lifecycle job-64 preparing playbook
2021-04-22 07:46:50,418 DEBUG    [3aa217cbe44c

[2021-04-22 08:26] ayyappabani commented on #1077
you can use survey in Job template to enter hostname or ip-address using "ansible_host" variable..it works..
while executing job, select a target inventory with single host (dummy) added as "ansible_host"
<img width="550" alt="image" src="https://user-images.githubusercontent.com/52236829/115681864-8d784200-a372-11eb-8f98-deaec1fafbd3.png">

[2021-04-22 08:36] ayyappabani opened #9984 "AWX - run Job on single host"
while executing job_template with current options, one has to select target group and no option to run Job on single hos.
 The host not necessarily be part of any groups.

### Survey form
the issue could be addressed thru the option using Survey to create a prompt to enter hostname/ip-address
the var should be "ansible_host"

<img width="550" alt="image" src="https://user-images.githubusercontent.

[2021-04-22 08:57] Valvos420 commented on #9978
For me, i just use this command : npm --prefix awx/ui_next start
Then the server start and give me an URL so i can connect to the UI

[2021-04-22 09:06] craph opened #9985 "Best practice to migrate from 17.x (docker production) to 19.x ?"
Hello,

For the moment I have an AWX production environment (AWX 17.0.1) and I'm using with Docker.

So how can I proceed to upgrade my version to the latest one ?
The best practice is to deploy it on a k8s cluster ?

Why Docker is not supported anymore for an AWX production environment ?
Why now it's only for development / tests ?

Thank you very much for your help.

[2021-04-22 10:19] sean-m-sullivan commented on #9832
I just tested on both awx 19.0.0 and tower 3.8.2 and they are able to create schedules using the current module when you provide the workflow job template name as the unified job template name.

[2021-04-22 12:21] apiening opened #9986 "Docker-Compose build 19.0.0: nginx fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After following the instructions from https://github.com/ansible/awx/blob/19.0.0/tools/docker-compose/README.md the web interface is not reachable and the logs are complaining that `nginx` could not be started.

##### ENVIRONMENT
* AWX version: 19.0
* AWX install method: docker on linux
* Ansible version:  2.9.20
* Operating System: Ubuntu 18.04.4 LTS

[2021-04-22 12:39] maxifox79 commented on #9978
when I run the same command I get:

{root@awx]# npm --prefix awx/ui_next start

Compiling message catalogs…
Done!

/root/awx/awx/ui_next/node_modules/react-dev-utils/WebpackDevServerUtils.js:167
  compiler.hooks.done.tap('done', async stats => {
                                  ^^^^^

SyntaxError: missing ) after argument list
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.j

[2021-04-22 12:47] shanemcd commented on #9986
Please search for existing issues before opening a new one. Dupe of https://github.com/ansible/awx/issues/9552

[2021-04-22 12:47] #9986 closed, assigned to nobody

[2021-04-22 12:48] shanemcd commented on #9968
It'd be great if you could format your code with markdown https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

[2021-04-22 12:56] shanemcd commented on #9985
Hello. We are small team and just don't have the resources to maintain an installation path that we ourselves never used.

While we didn't develop it with this exact use case in mind, you may have some luck following these steps: https://github.com/ansible/awx-operator/blob/devel/docs/migration.md

If you need any more help troubleshooting as you make your way through this, try our mailing list or

[2021-04-22 12:56] #9985 closed, assigned to nobody

[2021-04-22 13:00] shanemcd commented on #9984
This is what you are looking for:
<img width="739" alt="Ansible AWX 2021-04-22 09-00-23" src="https://user-images.githubusercontent.com/773186/115718553-3611ac00-a349-11eb-94d8-89f6f250edfd.png">

[2021-04-22 13:00] #9984 closed, assigned to nobody

[2021-04-22 13:01] shanemcd commented on #9983
Do you have a recursive symlink somewhere in your project?

[2021-04-22 13:04] shanemcd commented on #9978
Are you trying to run these commands on the host machine rather than following the steps outlined here? https://github.com/ansible/awx/blob/devel/tools/docker-compose/README.md#clean-and-build-ui

[2021-04-22 13:08] craph commented on #9985
@shanemcd Thank you for the update but sorry you don't answered my questions.

The link you gave me doesn't explain all the prerequisites to install the latest version of AWX. Moreover, I don't understand why you said you never used this path of installation because in all the revious release prior to 18.x all the steps to install via docker are in the documentation.

It would be very appreciate f

[2021-04-22 13:10] maxifox79 commented on #9978
We detected that we have old versions of node.js and npm, we updated with instructions from here
https://linuxize.com/post/how-to-install-node-js-on-centos-7/
 Finally, we get this working, thank you all for your help

[2021-04-22 13:10] #9978 closed, assigned to nobody

[2021-04-22 13:15] andresch26 commented on #9968
fair enough... corrected.. thanks for the reminder

[2021-04-22 13:17] shanemcd commented on #9985
The documentation on how to install AWX 19 is already pretty clear: https://github.com/ansible/awx/blob/devel/INSTALL.md. If you run into anything you feel is unclear, please open a PR.

While _most_ versions of AWX will upgrade seamlessly, this is a fast-moving upstream open source project. Things will break occasionally. Instead of expecting endless stability, maybe invest some time in automatin

[2021-04-22 13:23] craph commented on #9985
@shanemcd, thank you for the link.

I have already invest some time in automating the provisioning process for my AWX in production. All was done with Docker. And now I see that it's not supported anymore for production but only for development and tests.

In the documentation I see only a reference to minikube so my question was : what are all the prerequisites to migrate to the latest version.

[2021-04-22 13:33] mboehm21 commented on #9985
I'm in the same situation as @craph and also need some clarity on this. AWX is the only application we would need Kubernetes for. It generates so much overhead for just a single application.

[2021-04-22 13:36] shanemcd commented on #9985
@craph  The page I linked to says:

@mboehm21 What kind of clarity are you looking for? Yes, outside of the development environment, AWX requires Kubernetes.

[2021-04-22 13:45] tiagodread commented on #9910
Fixed

[2021-04-22 13:45] #9910 closed, assigned to AlexSCorey

[2021-04-22 14:34] azrdev commented on #9985
related to #9337

[2021-04-22 15:46] maxifox79 opened #9989 "Compiling AWX UI interface does not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After executing "docker exec tools_awx_1 make clean-ui ui-devel" command, UI is unavailable.

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.9.18
* Operating System: Centos 7.9
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE
execute "docker ex

[2021-04-22 15:48] jscheible commented on #248
Another work-around is to have the playbooks and inventories in the same repo (in different directories), and thus in the same project.  Set the Job Template to update the project on launch, and the inventory will be updated at the same time.  (Of course, set the inventory to Sync on Project Update.)

Ugly, but it does work.

[2021-04-22 16:00] shanemcd commented on #9989
Please, stop spamming our issue queue. This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-22 16:00] #9989 closed, assigned to nobody

[2021-04-22 16:01] one-t commented on #8686
Hi, Sean-

What we noticed in testing this is that the project update only occurs if the task reports a Changed status.

Steps to reproduce:

1. Create a project using the `tower_project` task with `update_project` enabled
2. Push a new commit to the repository
3. Run the same task again

Expected result: Project update is triggered

Actual result: Project update is not triggered

Then,
1. Change

[2021-04-22 17:01] tiagodread commented on #9852
PR merged, added a e2e test case for it

[2021-04-22 17:01] #9852 closed, assigned to mabashian

[2021-04-22 17:55] duntonr commented on #9961
Just by way of update, I have been able to run a different playbook across different "stacks" of 4 hosts/stack **WITHOUT** issue so far.

I've made 5 runs of a template that consists of:
* 4 hosts
* 4 plays
* ~528 tasks
* ~ 37minutes
* L3 logging, resulting in download size of ~71KB log txt file when finished
*  uses facts

This playbook/template is a slightly lighter version of the one I was havi

[2021-04-22 17:59] AdamMack2007 commented on #371
Any ETA on when this will be reviewed?

[2021-04-22 18:03] akus062381 commented on #8670
these tests have been automated. closing this issue.

[2021-04-22 18:03] #8670 closed, assigned to akus062381

[2021-04-22 18:06] jasweet commented on #371
Abandon all hope. This thread is dead. RH hasn’t taken this seriously for all these years when anyone that really uses Ansible AWX/Tower inventories needs this.

boooooooo!

[2021-04-22 18:15] DII-dsward commented on #371
Not having this is causing my companies new adoption of Ansible Tower to consume multiple licenses as a result of not being able to use variables when creating smart inventory in the UI. This should have been fixed in 2017!

[2021-04-22 18:19] chrismeyersfsu opened #9992 "gather_analytics fails the first time"
##### STEPS TO REPRODUCE

* Fresh install devel instance
* Reset analytics gather timestamp via the settings api
* let a gather analytics trigger

##### EXPECTED RESULTS

* Now to see a traceback

##### ACTUAL RESULTS

* Traceback (see below)

##### ADDITIONAL INFORMATION

In the Tower dev env

[code]

![image](https://user-images.githubusercontent.com/722880/115726713-f9e24980-a350-11eb-90df-e373

[2021-04-22 18:19] jasweet commented on #371
Our team solved this by no longer using Ansible Tower/AWX.

[2021-04-22 18:23] DII-dsward commented on #371
just curious, what did your company end up replacing Tower with?

[2021-04-22 18:42] mboehm21 commented on #9985
@shanemcd Just a few comments from me:

* It is not a good idea to run the automation tool inside of the platform people want to automate. When the platform (k8s) breaks, your automation tool to restore it might be unoperational as well. So you’d need a second cluster just for AWX.
* It is a good idea to have a automation tool with such high privileges in a DMZ on a firewalled host and not next to

[2021-04-22 19:32] akus062381 commented on #8045
tests have been automated. closing issue.

[2021-04-22 19:32] #8045 closed, assigned to akus062381

[2021-04-22 20:47] #9115 closed, assigned to AlexSCorey

[2021-04-22 21:09] tiagodread opened #9997 "Visual differences on the same component between dev and production builds"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Looking at the visual tests diffs we realized that there is a visual diff between the same component on dev and prod builds
This may or may not be introduced by https://github.com/ansible/awx/pull/9649

##### ENVIRONMENT
* Devel

##### STEPS TO REPRODUCE

Run the dev server and production build and compare the component above

Before:
![image](https://

[2021-04-22 22:11] jasweet commented on #371
We didn't replace it. We just stopped using Tower.

Also, there are workarounds to your license consumption challenge, not that we'll discuss that here. You're RH consultant/support folks should be able to help.

[2021-04-22 23:41] kevmimcc commented on #289
what if I have a single node setup.  Today github was down and I was unable to run a job that has not had updates in months

[2021-04-22 23:51] #8906 closed, assigned to keithjgrant, one-t

[2021-04-23 02:32] gymzang commented on #9926
@Achim-Hentschel  Have you solved this?

[2021-04-23 03:12] chapai518 commented on #9834
Hello! I have the same problem only with another module. Tell me how to install a collection in the AWX 18 version located in the openshift?
I tried to install it in the awx-her container by running the command `ansible-galaxy collection install community.general` but even forcing the collection in the awx playbook says that the module was not found.
The ansible-galaxy command is not available in

[2021-04-23 03:58] elyezer commented on #7775
All verification was done pre-merge. Also tests were updated to make sure we can test both 4.0+ or <4.0 versions. I waited a few days to make sure we would not have issues after the merge of the related tower-qa PR.

There is one test failure that I suspect that may be related to this, I will double check and close this after addressing it.

[2021-04-23 04:03] sean-m-sullivan commented on #8686
@one-t @yagomarques
Found the issues, update is #10000

[2021-04-23 06:14] Achim-Hentschel commented on #9926
@gymzang Unfortunately not solved by us. I went back using 17.1.0 yesterday as 18.0.0 and 19.0.0 still seem very bleeding edge, but nor ready for production yet.

After I completely removed AWX 19.0.0 again (see below) I could successfully set up the system. But when I then tried to execute a task which just gathers hostnames from all hosts in our windows group, that task complained about missing

[2021-04-23 06:39] unixplex opened #10001 "Installed AWX 19 though Docker Compose for Development. but unable to connect to AWX GUI"
Hello All,

Installed AWX 19 though Docker Compose for Development. but unable to connect AWX GUI
I have used ports mentioned in the compose file (using http and https)

Could you please assist here?

# docker ps
CONTAINER ID   IMAGE                         COMMAND                  CREATED       STATUS          PORTS

[2021-04-23 06:56] breeze7086 commented on #9983
Thank you for your hint! @shanemcd
I finally found out the recursive symlink within my project, after deleting it, AWX works.

[2021-04-23 06:56] #9983 closed, assigned to nobody

[2021-04-23 08:44] oyoyo14 commented on #9967
Hi there,

I think I have the same issue.

**SUMMARY**

Error with awx 19.0.0, when changing the ```tower_ee_images```.

**ENVIRONMENT**

  *  AWX version: 19.0.0
  *  Installation method: awx-operator with custom awx-ee (quay.io/ansible/awx-ee:0.2.0)
  * Operator System: N/A
  * Web brower: N/A

**STEPS TO REPRODUCE**

  * Install awx with the awx-operator, with following values:
[code]
  * Check

[2021-04-23 09:55] ayyappabani commented on #9984
no .. for limit option to use, host should be part of inventory . I was looking for an option to enter hostname without an inventory. so I could do that with survey option as mentioned in about issue/post. thanks for the post :)

[2021-04-23 13:05] oyoyo14 commented on #9967
After further tests, the error log seems to not be part of the issue: I get it with the awx-ee:0.1.1 whereas jobs work.

[2021-04-23 13:09] jean-christophe-manciot commented on #9428
##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method:  docker compose on Linux
* Ansible version: 3.3.0
* Ansible-base version: 2.10.8
* Operating System: Ubuntu 21.04
* docker-ce: ```5:20.10.6~3-0~ubuntu-hirsute``` (edited)
* docker-compose: 1.29.1

##### STEPS TO REPRODUCE
0.1. Run inside Python3 virtual env
0.2. Install latest ansible, wheel, docker-compose and redis with pip3
1. Checko

[2021-04-23 13:09] mabashian commented on #8910
@natman @Chaos-Work I'm having trouble reproducing this on the latest devel.  I suspect @jakemcdermott is right that #8933 might be related.  A fix for that went in here: https://github.com/ansible/awx/pull/9028 which would mean a fix went in in AWX 17.0.0 (I think).  Are you all still seeing this bug on versions greater than 17.0.0?

[2021-04-23 13:10] mabashian commented on #8910
@tiagodread @one-t @akus062381 I suspect this bug was fixed when we fixed #9028

[2021-04-23 13:12] shanemcd commented on #9428
Weird.

- The `importing cache` error should be transient.
- The error when downloading kubectl is unexpected. Maybe google's mirrors are having problems.

That being said, we no longer need kubectl (or oc) after AWX 18. I'll open a PR to fix that.

[2021-04-23 13:18] jean-christophe-manciot commented on #9428
There seems to be some confusion regarding the image tag used: HEAD vs latest (for instance)

If I declare ```DEVEL_IMAGE_NAME=quay.io/your_user/awx_devel:latest``` and retry, I get:
[code]

The tag does not seem to be used or I'm missing something.

[2021-04-23 13:36] jean-christophe-manciot commented on #9428
It may be worth noting that I also assumed that 'pg_host' and 'pg_hostname' are the same and have set only the latter.

[2021-04-23 13:37] unlikelyzero commented on #8297
added coverage

[2021-04-23 13:37] #8297 closed, assigned to unlikelyzero

[2021-04-23 13:48] akus062381 commented on #8910
I also tested this, cannot reproduce. We already have coverage.

[2021-04-23 13:48] #8910 closed, assigned to mabashian

[2021-04-23 13:59] mabashian commented on #8830
@tiagodread @one-t @akus062381 I'm still unable to reproduce this bug.  Here's latest devel:

<img width="1497" alt="Screen Shot 2021-04-23 at 9 58 41 AM" src="https://user-images.githubusercontent.com/9889020/115882164-8147bf80-a41a-11eb-9187-454ca06ab3a2.png">

I created a team with one user (foo) and gave that team the admin role on the inventory in question.

[2021-04-23 14:07] mabashian commented on #7505
@tiagodread @one-t @akus062381 I believe that @keithjgrant fixed this with his editor changes:

![vars](https://user-images.githubusercontent.com/9889020/115883323-a983ee00-a41b-11eb-9416-5f329bf4fddc.gif)

I'm gonna move this over to needs_test

[2021-04-23 14:23] akus062381 commented on #7668
This hasn't been implemented, moving back to needs_devel @wenottingham

[2021-04-23 14:53] tiagodread commented on #9370
@AlexSCorey @mabashian I ran into this problem while verifying https://github.com/ansible/awx/pull/9995

Steps to reproduce:

1. Create a survey for a job_template
2. Delete this survey
3. Attempt to create a new survey

Note: this is only happening for job templates

![chrome-capture (3)](https://user-images.githubusercontent.com/12464858/115889572-7137dc00-a42a-11eb-9697-687df18b02b7.gif)

![ima

[2021-04-23 14:56] akus062381 commented on #6528
This issue has been fixed in the UI and the unit tests provide sufficient coverage.

[2021-04-23 14:59] unlikelyzero opened #10006 "[ui_next] Custom Logos are not horizontally centered on Login Screen .main component"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Custom Logos are not horizontally centered on Login Screen .main component

##### ENVIRONMENT
* AWX version: 04/23/21
* AWX install method: yolo'd

##### STEPS TO REPRODUCE
1. Upload a custom logo
2. Navigate to the login page

##### EXPECTED RESULTS
Logo to be centered above .main component

##### ACTUAL RESULTS
Logo left aligned to .main component

#

[2021-04-23 15:09] AlexSCorey commented on #9370
@hjkatz

I think I'm a bit confused. Following the steps I mentioned above, but create a job template via a user on a different team.....a `normal user` who is a `member` on a team cannot create a job template. They can edit some portions of the job templates, but they cannot create it from scratch.

I also tried creating a JT via is a super user, but is also on another (call it team 1) and then g

[2021-04-23 15:26] elyezer commented on #7775
Final checks were made and we are good to get this one closed.

[2021-04-23 15:26] #7775 closed, assigned to elyezer, AlanCoding

[2021-04-23 15:47] AlanCoding commented on #9371
@hjkatz If you're still able, could you test if #10005 fixes the problem for you? Thanks.

[2021-04-23 16:01] mwester117 opened #10008 "awx.awx.tower_job_launch tags are not properly passed to API"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If you are using awx.awx.tower_job_launch to launch a job-/workflowtemplate in AWX and you pass tags to the job launch they will be ignored. Against expectations all tasks are executed not only those with the provided tags

##### ENVIRONMENT
* AWX version: Tower 3.8.2
* Ansible version:   Ansible 2.9.13
* Operating System: RHEL 8.3

##### STEPS TO REPR

[2021-04-23 16:42] mabashian commented on #9968
Node/NPM versions look good to me.

This odd and indicates that lingui hasn't properly installed when we get to this point in the build process.  Were there any errors in the log as a result of `npm install`?

[2021-04-23 16:50] mabashian commented on #9956
I agree that the best UX would be to limit the input based on the type of value that the api is expecting (string, int, etc).  I'd actually say that case 1 and 3 are not bugs but enhancements.

Case 2 (instance group lookup) does sound like a bug to me but it looks like a bug in the api (I think).  I would expect the response to be:

[code]

instead of

[code]

This differs from the format of the

[2021-04-23 17:00] wenottingham commented on #10001
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

There's not enough detail in this issue to tell where your installation went wrong.
If you need help troubleshooting an AWX install, we suggest trying our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-23 17:00] #10001 closed, assigned to nobody

[2021-04-23 17:12] #9891 closed, assigned to AlexSCorey

[2021-04-23 17:28] AlanCoding opened #10010 "[execution-environments] Validate AWX_ISOLATION_SHOW_PATHS before volume mounting"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If I list directories in `AWX_ISOLATION_SHOW_PATHS` that don't exist, then it will fail _all_ jobs.

Example failure:

[code]

(you get this output as opposed to your job standard out)

This is very hard to debug because the job / project update being ran has nothing to do with the folder in question.

Maybe we could get by with a `logger.warn` and a

[2021-04-23 17:33] shanemcd commented on #9917
@tvo318 @beeankha Let's chat about this next week and how we can document what went wrong here / improve the UX.

[2021-04-23 17:40] shanemcd commented on #9555
Hi @endriu0 - can you check and see if this happens on AWX $latest?

[2021-04-23 18:08] AlanCoding opened #10012 "[execution-environments] Imports in inventory scripts do not appear to work"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Scenario is that someone would like to use old of the old inventory scripts like this:

https://github.com/ansible-collections/community.aws/blob/main/scripts/inventory/ec2.py

(note: use https://github.com/ansible-collections/community.aws/compare/main...AlanCoding:executable due to a bug with executable bit)

All non-trivial legacy scripts require

[2021-04-23 18:17] #6528 closed, assigned to nobody

[2021-04-23 19:06] #2043 closed, assigned to nobody

[2021-04-23 19:17] beeankha commented on #9573
@branic that's great to hear! Closing this issue.

[2021-04-23 19:17] #9573 closed, assigned to beeankha

[2021-04-23 19:26] mabashian commented on #9635
3 is a duplicate of #9955 and will be fixed by https://github.com/ansible/awx/pull/9960

[2021-04-23 19:42] akus062381 commented on #2444
issue has been fixed and stubs added.

[2021-04-23 19:42] #2444 closed, assigned to nobody

[2021-04-23 20:03] tiagodread commented on #7670
PR merged, added e2e for it

[2021-04-23 20:03] #7670 closed, assigned to mabashian

[2021-04-23 22:26] ketsapiwiq commented on #9552
If it's not obvious please note you need to do `make docker-compose-build`  after following this solution:

[2021-04-24 12:28] ilijamt commented on #9967
I have the same issue, after adding

[code]

Nothing will work again in the system. In my UI I can see both EE.

After which the awx-task logs has errors like.
[code]

In `awx-web`

[code]

This is what I found in /etc/tower/conf.d/execution_environments.py

[code]

The issue is that the execution file is generated wrong it's missing a comma to separate the values

If you have ssh acess to the nod

[2021-04-24 16:07] gargpallavi opened #10015 "installer directory not found while cloning the repo with depth -50"
I am following the doc https://computingforgeeks.com/how-to-install-ansible-awx-on-ubuntu-linux/ to install ansible awx which says:
git clone --depth 50 https://github.com/ansible/awx.git

and Change to the AWX installer directory -- cd awx/installer/

I have cloned the repo, but I am unable to find the directory. Please help.

[2021-04-24 16:34] shanemcd commented on #10015
Hello. Please use the official install guide. https://github.com/ansible/awx/blob/devel/INSTALL.md

[2021-04-24 16:34] #10015 closed, assigned to nobody

[2021-04-24 19:35] weiyentan commented on #9917
@lemmy04  Were you able to get a build done successfully? I have been following this thread and followed the steps that you went through.
I tried to use 0.1.1 version of the awx-ee but its erroring out at one of the collections.

I pulled the 0.1.1 version of the awx-ee. Ran that Pushed it up to dockerhub using podman. Then used ansible-builder to build an image and I have been getting this in my

[2021-04-25 07:06] andresch26 commented on #9968
Appologises if I'm looking in the wrong area, but I do not see errors during the `npm install` in `/var/log/dnf.log`, or when the npm command is run part of the `ui-devel` command.  Please let me know if I've missed anything, or if there's anything I may do to help!  ~Thanks

dnf.log
[code]

ui-devel command:

[code]

[2021-04-25 11:10] gargpallavi opened #10016 "AWX UI not coming up"
I have followed the steps given in install.md.
https://github.com/ansible/awx/blob/devel/INSTALL.md
Minikube is up with all the pods running since last one hour. I could find the UI url too using the given command, however when I try to ping the url, it doesnt work. I get "Hmm.. cant reach this page."

also, when I do a curl for the http:url , I get message "You need to enable javascript to run th

[2021-04-25 12:13] techBeck03 commented on #9917
I'm also experiencing the exact behavior described by @weiyentan.  I was previously (3-4 days ago) able to build EE imges just fine using this repo and simply modifying the `requirements.yml` and `execution-environment.yml` files.  Now every time I build an image I get the same `RuntimeError: Pod Running`.

The only thing I can think of that's changed is the ansible runner image.  I cleared my loc

[2021-04-26 05:20] lemmy04 opened #10017 "AWXKIT - provide documentation that does not require to install the development environment"
##### ISSUE TYPE
 - Feature Idea: how about a man page

##### SUMMARY
right now there is no documentation for awxkit, unless you install the development environment, and run a webserver.
A good old man page would be nice.

[2021-04-26 08:43] #9992 closed, assigned to Zokormazo

[2021-04-26 09:03] mihai-satmarean commented on #1309
Hello,
as always a great product AWX and Ansible.
we are trying to send the logs of AWX 18,19 to Graylog 4.0.6. There is not a document or a hint on how can it be done.
Please explain if it is possible and how should it be realised.
Thank you!

[2021-04-26 09:10] lucab85 commented on #1179
+1 for case 02922298

[2021-04-26 09:45] zaskan opened #10018 "Possibility to use custom users for services"
##### ISSUE TYPE
 - Feature Idea *

##### SUMMARY
The installer currently defines static users and groups when installing each component of automation platform, these being pulp/nginx/redis/postgres/awx.
This causes problems in environments where these users and groups are already reserved for other use cases, namely where Active Directory manages users across an enterprise.

The installer should

[2021-04-26 09:48] sfhl commented on #6539
Hi there,
i have got a similar issue running awx 17.0.1 on kubernetes with external psql database.
AWX is running fine, tasks are executed, the web ui is accessible, but the log permanently says:
[code]

I have already tried to "force" migrations, but nothing is executed.
[code]

My goal is to upgrade to the latest version (19.0.0) but there i get `KeyError: 'guid'`, so i want to clean up previous

[2021-04-26 12:02] jean-christophe-manciot commented on #9865
I discovered the source of the issue in AWX 17.1.0: changing ```awx_task_hostname``` and ```awx_web_hostname``` in ```installer/inventory```.
Using default values for both variables (awx and awxweb respectively) is a workaround.

[2021-04-26 12:46] shanemcd commented on #10016
What version of minikube? There's a known issue with 1.19.x https://github.com/ansible/awx-operator/issues/205

[2021-04-26 12:49] shanemcd commented on #10017
We have this in the Tower docs: https://docs.ansible.com/ansible-tower/latest/html/towercli/index.html

You can build your own following the instructions here: https://github.com/ansible/awx/tree/devel/awxkit/awxkit/cli/docs

Will leave this open to track the man page idea.

[2021-04-26 14:32] zaskan opened #10020 "The installer should verify if ipv6 is disabled"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

During the installation of Automation Hub the nginx role creates /etc/nginx/nginx.conf and appends the lines:

[code]

On systems where ipv6 has been removed this results in the following error and a failure to start nginx:

[code]

The Nginx role should validate that ipv4 and ipv6 are enabled before adding their respective configuration options.

[2021-04-26 14:33] shanemcd commented on #10020
This role does not exist upstream. Please open this issue in the appropriate repo.

[2021-04-26 14:33] #10020 closed, assigned to nobody

[2021-04-26 16:08] derifgig commented on #9865
I has the same symptoms too.
Issue reproduced on 19.0 (deployment by manual with minikube)

[code]

[2021-04-26 16:54] wenottingham commented on #10018
This isn't relevant for awx.

[2021-04-26 16:54] #10018 closed, assigned to nobody

[2021-04-27 08:05] lemmy04 commented on #10017
How can I have the docs on a host that is not running AWX?

[2021-04-27 08:52] phospi commented on #9610
@quasd You Sir are my hero and savior.

Situation:
We did an upgrade vom 15.0.1 to 17.1.0. No versions have been left out and we noticed to things:
1. Editing machine credentials was not possible. The website turned white. No errors in `docker logs`
2. When creating a new credential no built-in was shown in dropdown.

Solution:
We turned the page size up like described and everything worked out fi

[2021-04-27 09:05] rl-akjaer commented on #9916
@chrismeyersfsu Amended the initial RFE and added a few other logical improvements. I'll try to be more "neutral" in future issues.
@wenottingham Feel free to re-evaluate the title of the RFE as you see fit.

Thank you! :)

[2021-04-27 09:12] jean-christophe-manciot commented on #9428
For AWX **19.0.0**, I have simplified the inventory down to:
[code]
now, both previous errors are gone, but there is still an issue:
[code]
I have already encountered this ```Address already in use``` error before.

Could it stem from a misunderstanding regarding ```pg_host``` vs ```pg_hostname```?

[2021-04-27 10:12] ee-dpit commented on #20
+1

[2021-04-27 10:22] derifgig commented on #5209
+1 for Bitbucket

[2021-04-27 10:52] nscblauensteiner opened #10026 "Error: 'overlay' is not supported over overlayfs, a mount_program is required - Migration from 17.1.0 to 18.0.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
When I migrate AWX 17.1.0 data to 18.0.0, following this [instructions](https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md), this error chain occurs after doing "make docker-compose".

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: operator, developer environment
* A

[2021-04-27 11:21] wxfVeryGood opened #10027 "failed to executed command 'make docke-compose'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: devel
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.9.18
* Operating System: centos7
* Web Browser: google

##### STEPS TO REPRODUCE

please run command 'make docke-compose'

##### EXPECTED RESULTS

Docker service is going to start with all of its images.

[2021-04-27 12:16] shanemcd commented on #10027
Please take the time to format your code with markdown.

Is this the full output? I don't see an error here.

[2021-04-27 12:19] shanemcd commented on #10026
You need to ensure you are using your old secret key.

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-27 12:19] #10026 closed, assigned to nobody

[2021-04-27 12:20] shanemcd commented on #10017
Not sure I understand the question. An instance of AWX is required to build the docs, because the script crawls the API. Once the docs are built, you can view the static files independently.

[2021-04-27 12:25] shanemcd commented on #10016
Going to assume this is an instance of the link above. Please reach out if you think it's something else.

[2021-04-27 12:25] #10016 closed, assigned to nobody

[2021-04-27 12:27] wxfVeryGood commented on #10027
This  is error "tools_awx_1 | standard_init_linux.go:219: exec user process caused: no such file or directory" ,please check.

[2021-04-27 12:29] shanemcd commented on #10027
I don't think I've seen that error before. Is there anything unique about your deployment? Are you on a recent-ish version of Docker? Did you customize the images at all?

[2021-04-27 12:38] azrdev commented on #452
while we're not running a new enough AWX version to have EEs, I managed to run an ad-hoc job against `localhost` using the shell module to execute `sed -i=~2021-04-27 -e '/reusable_host/d' /root/.ssh/known_hosts` to remove all hostkeys from the "cache" that match the given regex

[2021-04-27 13:17] tiagodread commented on #9433
Fixed

[2021-04-27 13:17] #9433 closed, assigned to nixocio

[2021-04-27 13:22] tiagodread commented on #6097
For credentials details, we are displaying the `Options` key even if there is no option enabled, look:

![image](https://user-images.githubusercontent.com/12464858/116248461-47402b80-a742-11eb-89ea-4d5f1d477c2a.png)

If we change that label to `Enabled Options`, we might want to display a value like `Enabled Options: none`

[2021-04-27 13:51] tiagodread commented on #9955
The bug was fixed by #9960, now the UI is properly displaying the current state of the API data for options. We had some e2e broken tests, however, none of them is related to this change.

[2021-04-27 13:51] #9955 closed, assigned to mabashian

[2021-04-27 13:52] tiagodread commented on #9635
Fixed by #9960

[2021-04-27 13:53] wolfgangp-tak opened #10028 "Installation Documentation not complete"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - Installer

##### SUMMARY
Installation Documentation doesn't work.

##### ENVIRONMENT
* AWX version: 1.18.1
* AWX install method: operator
* AWX deployment target: minikube
* Operating System: Redhat 8.0
* Web Browser: n/A

##### STEPS TO REPRODUCE

I followed steps according to
https://github.com/ansible/awx/blob/devel/INSTALL.md

the pod'