[2019-01-23 19:47] #3056 closed, assigned to nobody

[2019-01-23 20:43] wenottingham opened #3060 "weekly dashboard view does not have sufficient granularity"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
- API (maybe)

##### SUMMARY

The dashboard has date-based granularity:
- in monthly view, there is a tick for each day
- in weekly view, there is a tick for each day
- in daily view, there is a tick for each hour

This means that the monthly and daily views have enough ticks to produce a reasonable graph... but the weekly view really does

[2019-01-23 20:46] wenottingham commented on #3060
example weekly view:

![screenshot from 2019-01-23 15-44-46](https://user-images.githubusercontent.com/5208768/51635913-eeabd380-1f25-11e9-9d3a-f688fc3a3b1d.png)

example hourly view:

![screenshot from 2019-01-23 15-44-57](https://user-images.githubusercontent.com/5208768/51635927-f3708780-1f25-11e9-9411-cf0f6c2d14de.png)

[2019-01-23 20:50] marshmalien commented on #4212
After discussing this issue with @mabashian and @trahman73, we've proposed the following:

#### On initial list load:
  * List is in a loading state (fetching data), resource count is unknown:
    * Show empty card panel with spinner icon centered within the list panel
    * Hide toolbar, delete, checkbox
    * Show Add button
    * Mockup:
![pf-orgs-list-empty-loading](https://user-images.githubu

[2019-01-24 09:01] akcrisp commented on #2757
@matburt can I ask you to take a look at the call we have open with redhat on this - ticket 02285076 ? concerned we going round in circles a bit now.. the suggestion seems to be that we are missing a mode option z for selinux on the mount in the container but I've pointed out we don't have that in our prod env either. I really need someone closer to awx to take alook.

Thanks

Andy

[2019-01-24 09:54] pravindmali opened #3062 "[RFE] Restore deleted assets by admins in Tower"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Customer are using Ansible Tower in multi-tenant env. Different teams are using tower and teams are doing some time mistakes and deleting some stuff which they don't want to.  They are reaching out to admins to see if they can restore those items. Is there a way to provide some kinds of recycle bin which is manage

[2019-01-24 10:46] rluisr commented on #221
now AWX support OpenStack credential and works fine with openstack module.
no need create custom credentials.

[2019-01-24 10:50] kefiras opened #3063 "AWX doesn't like parentheses in json payload when creating smart inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
AWX sending internal server error when trying to create a smart inventory via API.

Using curl to update the API:
`
curl -u user:password -ksXPOST https://host/api/v2/inventories/ -d @test -H "Content-Type: application/json"
`
with below payload:
`
{
"name": "Nonprod15",
"description": "Nonprod15",
"organization": 92,
"kin

[2019-01-24 11:29] hypery2k opened #3064 "Reuse SCM Credentials as Environment Variable"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - API
##### SUMMARY
I'm trying to use in AWX defined credentials in a git command within my playbooks. I thought there's a way to use an environment var for that.

##### ENVIRONMENT
* AWX version: 2.1.2
* AWX install method: openshift
* Ansible version: 2.7.6
* Operating System: RHEL 7
* Web Browser: Latest Chrome

##### STEPS TO REPRODUCE
-

[2019-01-24 13:45] jakemcdermott commented on #3064
Hello - thanks for making this issue. When you get a moment, would you please add some explicit steps to reproduce as well as expected results?

[2019-01-24 15:21] pschulten commented on #2178
I also get a 403. But it says:
[code]
maybe you have the same issue?

[2019-01-24 15:45] matburt commented on #3062
Make sure you implement proper privilege separation and only give users the proper permissions. DELETE is delete, it's gone.

[2019-01-24 15:45] #3062 closed, assigned to nobody

[2019-01-24 15:57] wenottingham commented on #1963
Data summary
* version
* system ansible version
* Active Users (active sessions)
  * websocket listeners?
* Running Jobs
* cluster identifier (for tools pulling this from multiple clusters)
* By instance:
  * CPU (raw core count and loadavg)
  * Mem (raw mem count and current usage)
  * Dispatcher queue
  * Capacity calculation
  * consumed_capacity
  * percent_capacity_remaining
  * cpu_capacity

[2019-01-24 16:13] ryan012880 commented on #2978
This is also true in AWX 2.1.2, so basically I just have to re-run the entire workflow again after I resume the JT that had failed with a successful status.

<img width="745" alt="screen shot 2019-01-25 at 12 03 33 am" src="https://user-images.githubusercontent.com/10410660/51691032-e9897a00-2034-11e9-902c-b31cf0e097b9.png">

In the above example if I resume the failed node from clicking DETAILS,

[2019-01-24 17:30] hypery2k commented on #3064
yes of course,

we have a playbook which inside executes via shell command a "git clone". So we would like to pass the existing AWX SCM credentials to this git clone command

[2019-01-24 18:32] wenottingham commented on #3064
See project_update.yml for how they are passed. Username/password are only passed for certain SCMs (not git). SSH keys are added to the key ring, so *may* work.

[2019-01-24 19:44] glenpekarcsik opened #3069 "Debug Module running local instead of using SSH"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Jobs

##### SUMMARY
I have a playbook that uses the CyberArk AIM Tool to fetch a password from the CyberArk Vault.  It runs fine when I run it locally.  When I run the playbook in AWX, AWX doesn't process the module correctly.  From CyberArk's documentation, they say to use the following module below in Ansible to use the AIM client to connect

[2019-01-24 20:56] wenottingham commented on #3069
The Ansible debug module only ever runs on the control node. You'll have to debug your playbook in a different way.

[2019-01-24 20:56] #3069 closed, assigned to nobody

[2019-01-24 20:58] wenottingham commented on #3069
Also note here: https://docs.ansible.com/ansible/latest/plugins/lookup.html?highlight=lookup#lookup-plugins

[code]

[2019-01-25 01:43] mnaberez commented on #173
So it is not missed here, this is what I replied on https://github.com/Supervisor/supervisor/issues/1060#issuecomment-457401493:

[2019-01-25 02:29] sugitk opened #3072 "RFE: NOTIFICATIONS through HTTP/HTTPS proxy"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

`NOTIFICATIONS` needs HTTP/HTTPS proxy settings for each notification type

##### ADDITIONAL INFORMATION

From support team.
Customer wants to specify `http_proxy`, `https_proxy` and `no_proxy` settings from `NOTIFICATIONS > CREATE NOTIFICATION TEMPLATE` UI.  They use the proxy settings only for notification.

[2019-01-25 04:49] hypery2k commented on #3064
thanks for the hint, but can you point to the appropriate code sample?
Our current workaround is to create a custom credential type for this

[2019-01-25 09:23] saito-hideki opened #3073 "Allowed job templates are grayed out on the Workflow Visualizer"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Allowed job templates are grayed out on the Workflow Visualizer when I tried to edit workflow.

##### ENVIRONMENT
* AWX version: 3.0.0 / Ansible Tower v3.4.0 and v3.4.1
* AWX install method: docker on linux
* Ansible version:  2.7.6
* Operating System: Red Hat Enterprise Linux Server release 7.5 (Maipo)
* Web Browser: Google

[2019-01-25 09:57] keilr commented on #223
@AlanCoding what's the status on this?

[2019-01-25 15:14] AlanCoding commented on #223
There's not an issue on this AFAIK. You can feel free to open one, but I want it to be very clear that its scope is about decrypting _whole-file_ vars that were encrypted by `ansible-vault` CLI.

There are some architecture changes that will affect implementation of that, positively I hope. For one, our task system is moving to ansible-runner, https://github.com/ansible/awx/pull/3041. I have been

[2019-01-25 15:41] oekotaco opened #3075 "AWX Inventory sync from Openstack Broken since 3.0.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Inventory sync does not work anymore

##### ENVIRONMENT
* AWX version: 3.0.0.0
* AWX install method: docker
* Ansible version:  2.7.6
* Operating System: Debian
* Web Browser:

##### STEPS TO REPRODUCE

create a inventory with clouds.yaml for syncing inventory from openstack.

##### EXPECTED RESULTS

Inventory shoul

[2019-01-25 15:51] wenottingham commented on #3072
This is unlikely to happen in the near future. Global proxy settings are done via AWX_TASK_ENV.

Why would you need separate settings only for notifications?

[2019-01-25 15:57] ryanpetrello commented on #3075
Hey @oekotaco,

This should be resolved in `devel` via https://github.com/ansible/awx/pull/3058

[2019-01-25 16:11] oekotaco commented on #3075
Hey @ryanpetrello

Thanks a lot this solved the issue for me.

[2019-01-25 16:39] gpulido-redhat commented on #1276
Nope, it does not work. It seems there is no way for variables set with set_fact to pass between playbooks when running in a workflow. I'd use set_stats, however whenever I define something using it, later commands complain that the variable is not defined, so it seems set_stats does not work either.

[2019-01-25 16:46] boris-42 commented on #3028
@ryanpetrello I actually have some free cycles on work and can help with implementing this feature. if it is ok?

[2019-01-25 17:14] #3075 closed, assigned to nobody

[2019-01-28 05:36] dsesami commented on #2984
Verified most of the scenarios described in @elyezer 's scenarios above and checked them off. This needs to be tested on Windows still, if @unlikelyzero or elyezer can provide that environment.

[2019-01-28 05:39] dsesami commented on #2985
Verified most of the scenarios presented by @elyezer minus same comments as mirrored in https://github.com/ansible/awx/issues/2984#issuecomment-458004189

both this and the projects list https://github.com/ansible/awx/issues/2986 have the same issue in that if it is in expanded mode, and the copy button is used to copy and create a new template or project, the page is reset to compact mode. i have

[2019-01-28 05:46] dsesami opened #3081 "Expand/Collapse toggle resets when copying templates and projects."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Related to https://github.com/ansible/awx/issues/2986 and https://github.com/ansible/awx/issues/2985

If you are in expanded view, and copy a template or project with the copy button:
![screenshot from 2019-01-28 14-44-15](https://user-images.githubusercontent.com/19942822/51816716-402fd600-230b-11e9-8d48-14138537999e.png)

[2019-01-28 05:48] dsesami commented on #2986
See comments on https://github.com/ansible/awx/issues/2985#issuecomment-458004609

[2019-01-28 06:01] dsesami opened #3082 "sidebar becomes incredibly long in mobile view after expanding a collapsed list."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
After expanding a collapsed list, if you make the screen narrow enough to make the sidebar go into a mobile view, it becomes incredibly long in length.

##### ENVIRONMENT
* AWX version: devel
* AWX install method: docker on linux
* Operating System: Fedora 29
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Expand a coll

[2019-01-28 06:23] dsesami commented on #2988
Mirrored testing and comments as to https://github.com/ansible/awx/issues/2984#issuecomment-458004189. Browserstack verification still needs to occur and My View also triggers odd sidebar behavior https://github.com/ansible/awx/issues/3082

[2019-01-28 07:54] sugitk commented on #3072
The customer said;

[code]

I agree with Bill, but `AWX_TASK_ENV` is for jobs.  I think this setting should be separated from `JOBS` screen to `SYSTEM`.  The proxy settings may be used not only jobs but also notifications and external logging.

[2019-01-28 14:48] ryan012880 commented on #2896
@AlanCoding I was able to test the same scenario and it looks good, able to see now the tower_user_* / awx_user_* inherited. thanks

[2019-01-28 14:50] #2896 closed, assigned to nobody

[2019-01-28 15:19] natman opened #3083 "latyest pycurl 7.43 prevents from connecting to any RHV/ovirt job"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- embedded pycurl 7.43 and nss
- ovirt4.py

##### SUMMARY
- /opt/awx/embedded/lib64/python2.7/site-packages/pycurl-7.43.0.1 is not compiled with nss support and prevents ovirt ansible module from connecting to the ovirt/RHV engine API.
- It also breaks ovirt4.py which is called by  the synchronization of the inventories with RHV credentials.

##

[2019-01-28 15:30] jdh239 commented on #2817
How long until this is available in a Tower general release?

[2019-01-28 16:13] cesarfn4 opened #3084 "RFE: Toggle to control displaying 'OK' task/host results in a task"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
It would be great, if it would be possible to control displaying 'ok' task/host results in a task (`display_ok_hosts`).

https://docs.ansible.com/ansible/latest/plugins/callback/counter_enabled.html

[2019-01-28 16:17] kialam commented on #3082
@dsesami I believe this bug exists on `devel` as well.

[2019-01-28 16:25] jean-christophe-manciot opened #3085 "roles/requirements.yml is undetected during playbooks project creation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
roles/requirements.yml is undetected during playbooks project creation.

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.6
* Operating System: Debian buster
* Web Browser: chrome Version 71.0.3578.98 (Official Build) (64-bit)

##### STEPS TO REPRODUCE
- Settings/Jobs/Enabl

[2019-01-28 16:45] wenottingham commented on #3085
-> #1632

[2019-01-28 16:45] #3085 closed, assigned to nobody

[2019-01-28 16:51] wenottingham commented on #3083
[code]

This is not the official distribution of AWX. You're best off reporting build-specific issues of that to the people who maintain that distribution.

[2019-01-28 16:51] #3083 closed, assigned to nobody

[2019-01-28 17:16] wenottingham commented on #93
As you can see, this external service did not materialize. We have reconsidered and for the forseeable future, please just send pull requests for new translations.

[2019-01-28 17:16] #93 closed, assigned to nobody

[2019-01-28 18:51] calvinbui opened #3088 "AWX Inventory sync from VMware broken since 3.0.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Inventory sync does not work anymore from VMware vCenter/ESXi

##### ENVIRONMENT
* AWX version: 3.0.0 and devel
* AWX install method: docker on linux
* Ansible version:  2.7.6
* Operating System: Ubuntu 18.04
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create an inventory with source VMware vCenter and attempt

[2019-01-28 19:02] wenottingham commented on #3088
fixed here: https://github.com/ansible/awx/pull/3058

[2019-01-28 19:02] #3088 closed, assigned to nobody

[2019-01-28 19:04] calvinbui commented on #3088
Running from the `devel` branch didn't solve the problem

[2019-01-28 19:04] jlmitch5 commented on #1932
moving to needs_test though I think @dsesami has already verified and this can probably be closed

[2019-01-28 19:53] ryanpetrello commented on #3088
@calvinbui on `devel`, are you still encountering the same traceback as above ending in:

[code]

Can you provide the latest error/traceback you're encountering?

[2019-01-28 19:58] calvinbui commented on #3088
Yep, as i mentioned in the initial bug report and comment.

[code]

[2019-01-28 20:00] ryanpetrello commented on #3088
@calvinbui

You're not running `devel` (at least not in the traceback you just pasted - here's `L413` of that file in `HEAD` of `devel`):

https://github.com/ansible/awx/blob/0e5e23372d80da0503dbe2852f66566b077f000e/awx/main/management/commands/inventory_import.py#L413

You're still running `3.0.0` code:

https://github.com/ansible/awx/blob/99288a5e184f01ec8c50f2ffee1394718f14c92f/awx/main/managem

[2019-01-28 20:22] calvinbui commented on #3088
Thanks @ryanpetrello

I've re-cloned the repo, deleted all the docker containers + images and ran the playbook again but still getting the same problem.

[code]

Am I missing something to get `devel` running? Is the python3.6 venv using `3.0.0` somehow 🤔

[2019-01-28 20:33] ryanpetrello commented on #3088
@calvinbui we haven't released a new awx version beyond 3.0.0 that fixes this issue, so if you use the official images, you're going to continue to have problems.  If you want to build from `devel` instead of official images, please see:

https://github.com/ansible/awx/blob/devel/INSTALL.md#official-vs-building-images

[2019-01-28 20:33] mikelaws commented on #1556
Perhaps we need to reopen this issue?  I see the same behavior here - seems like the UI worked properly for a few days, then stopped working.  My most recent deploy of 2.1.2.0 is exhibiting the same behavior (ran fine for approximately 1 week, then stopped refreshing).  I was previously running 1.6.0.49 - saw similar behavior.

[code]

I'm deploying in Docker CE 18.x on AWS.  There's an ALB in fro

[2019-01-28 20:46] calvinbui commented on #3088
Thanks for the link.

*Building* the images on `devel` now works

[code]

[2019-01-29 04:09] ghost commented on #3062
We need to provide following development access to different teams.

1.  Create new project within particular org
2. Create new inventory within particular org
3. Create new credential within particular org
4. Create new Job Template within particular org
5. Create new Workflow Template
6. These people can look stuff created by other people in same org

What is the minimum  privileged level for a

[2019-01-29 04:26] jonadis commented on #2279
Same issue here:

Ansible 2.7.5
AWX 3.0.0

Host variables:
[code]

Error message:
Failed to connect to the host via ssh: ssh_exchange_identification: Connection closed by remote host

[2019-01-29 09:20] grahamn-gr commented on #2462
I too have come across this issue, I'm running 1.0.7.0. It seems that if you don't set a custom version the project even though you set it under an organisation level it will default to the system venv.
You either have to manually choose the venv under the template or set it at a project level.

[2019-01-29 12:07] mbzieba commented on #1519
Thanks guys. Works perfectly now
Beer for you guys!

Best Regards from Warsaw

[2019-01-29 12:22] jean-christophe-manciot commented on #1632
I'm experiencing the [same issue with awx 3.0.0](https://github.com/ansible/awx/issues/3085) where no roles are downloaded, even right after the project creation.
If I remove the unnecessary lines 132-136 and the conditional check 151 (ex 156) ```when: scm_full_checkout|bool and roles_enabled|bool``` in the [playbook project_update.yml](https://github.com/ansible/awx/blob/devel/awx/playbooks/proje

[2019-01-29 14:09] bcochofel opened #3096 "AWX and Python 2.5 Clients"
Hi all,

I have some servers that have Python 2.5 and I cannot upgrade them.
Usually I can manage the configuration of these servers using ansible 2.3 but trying to run the same playbooks on AWX I cannot run them succefully.

How can I force AWX to use ansible 2.3? Or is there any other way to make this to work?

Thanks,
Bruno

[2019-01-29 15:17] ryanpetrello commented on #3096
@bcochofel awx will - by default - use the latest stable version of ansible available at install time.  If you want to use an older version, check out this documentation on creating a custom virtualenv.  You'll want to make a custom virtualenv, install ansible 2.3 into it, and assign it at the Job Template/Project/Organization level as appropriate:

https://github.com/ansible/awx/blob/devel/docs/c

[2019-01-29 15:17] #3096 closed, assigned to nobody

[2019-01-29 23:13] kkruse-rax commented on #2166
Howdy,

I have the same issue with using git submodules as well.   In a nutshell if you create a hierarchy like
MAINREPODIR/ROLES/

Under that have ansible 'module' cloned into there with the 'git submodule' command.

Try to let it do the git submodule management it will bomb.

My ENV:
   AWX 3.0.0.0
    AWX install method: installer playbook
    Ansible version: 2.7.0
    Operating System: FC28

[2019-01-30 03:43] hiyokotaisa opened #3102 "Show appropriate error message when non-existent value passed to the SAML attribute"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

AWX should shows appropriate error message when using the SAML authentication.
If non-existent value passed to the SAML attribute like `attr_email`, `list index out of range` error shows on login page when the user login to the tower.

That error message is difficult to understand what is the cause of the issue, so it wo

[2019-01-30 04:54] IshwarKanse opened #3103 "Insights tab through HTTP/HTTPS proxy"
##### ISSUE TYPE
 - The Insights tab in Tower doesn't use the proxy configuration set through AWX_TASK_ENV. Adding it to the supervisord.conf works.

##### COMPONENT NAME

 - UI

##### SUMMARY

We need a general approach for proxy configuration in Tower. Currently adding it to the supervisord.conf works for UI elements of Tower like the Insights Tab.

For example:
[code]

Also related #3072 #2818

[2019-01-30 10:32] bcochofel commented on #3096
Thanks ryanpetrello, I was trying to follow the instructions but couldn't find the way to defined the venv.
I've installed AWX using docker-compose and I can't find the path: /var/lib/awx/venv/

Thanks,
Bruno

[2019-01-30 10:47] bcochofel opened #3104 "How to install virtualenv and python modules on the AWX"
Hi all,

I need to use ansible 2.3 to connect to older OS and I also have a dynamic inventory script that needs SQLAlchemy.

I've installed AWX using docker-compose, so I need to know how can I connect to the container in order to create a new venv? And what is the container?

Sorry if this sounds silly but I wasn't able to install AWX without the docker and I'm just starting to use containers.

T

[2019-01-30 10:56] bcochofel commented on #3104
Ok, I guess I've found the answer to my question.

docker exec -it <awx_task_...> /bin/bash

I'm closing this issue.

Thanks and sorry,
Bruno

[2019-01-30 10:56] #3104 closed, assigned to nobody

[2019-01-30 12:36] ryanpetrello commented on #2630
cc @mabashian https://github.com/ansible/awx/blob/devel/awx/main/constants.py#L16 for a list of values for the type-ahead widget portion of this.

[2019-01-30 12:43] elyezer opened #3105 "Show all job's fields when the job is complete"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Not all fields are showing when the job completes while watching its progress. If the page is reloaded then all fields are shown.

##### ENVIRONMENT
* AWX version: devel
* AWX install method: docker on linux
* Ansible version:  2.7.5
* Operating System: Fedora 29
* Web Browser: Chrome 71.0.3578.98

##### STEPS TO REPRODUCE

[2019-01-30 13:22] RogerSik commented on #2279
@jonadis strange to see that it works for me but for others not. I'm always connecting over FQDN instead of ip addresses that's the only difference which i can see between your and my ansible_host and ansible_ssh_common_args.

[2019-01-30 13:25] RogerSik commented on #2279
**ansible_ssh_common_args: ** is only setup in the Inventory Details not in the host variables @jonadis

[2019-01-30 13:31] jakemcdermott commented on #3105
We don't want to poll the details endpoint with http requests, nor do we (generally) want to trigger http requests with websocket events. For this information to show up without a refresh, it should be delivered asynchronously over websockets.

That said, we've added code to our status service to make the ui fetch again from the details endpoint at the "end" of a job - which is when the UI is able

[2019-01-30 14:09] jakemcdermott commented on #3105
My recommendation would be for us to take the UI-only approach if we want to see this functionality in the near future / 3.5 timeframe.

[2019-01-30 14:25] jakemcdermott commented on #3105
@elyezer and I talked about this offline - we're going to make this issue about delivering a targeted fix for this UI side and continue the API discussion in other github issues.

[2019-01-30 15:05] chrismeyersfsu opened #3106 "Job Event processing slow when smart inventory is used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Pushing job events into the database, in the callback receiver, is slow when a smart inventory is used.

**Note:** Pushing events into rabbit is fast, pulling events from rabbit is fast. Events end up queued in run_callback_receiver subprocesses. It's nice to see that > 40k events can sit in our callback receiver waiting t

[2019-01-30 16:53] kdelee opened #3108 "stdout from job in browsable api is all messed up"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API ?

##### SUMMARY

https://my.tower.com/api/v2/jobs/29/stdout/ displays garbage instead of the proper output.

![screenshot from 2019-01-30 11-48-21](https://user-images.githubusercontent.com/29239279/51997734-4cd83980-2485-11e9-9af0-adebad483c47.png)

##### ENVIRONMENT
* AWX version: devel
* Web Browser: Chrome

##### STEPS TO REPRODUCE

[2019-01-30 18:22] AlanCoding commented on #2630
Moved again, @ryanpetrello tipped me off in other places, but I want a link here

currently active PR as of this comment:

https://github.com/ansible/ansible/pull/50991

[2019-01-30 23:15] otdouglasm commented on #3072
(I'm a colleague of the customer requesting this RFE via Support.)
The problem with setting a proxy globally is that it can change the behavior of modules or Python packages that honor proxy-related environment variables.

For example, WinRM.  If a proxy is set, we can't connect to any Windows hosts.  WinRM fails since it attempts to go through the proxy, which refuses the connection.  Even if the

[2019-01-31 07:53] machacekondra opened #3113 "Not possible to run custom inventory plugin as inventory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

I couldn't setup a project with using my custom inventory plugin. Can you please describe or document, how could I use custom inventory plugin. Using dynamic inventory script is simple and straightforward, but not inventory plugins.

##### ADDITIONAL INFORMATION

[2019-01-31 09:33] gtema commented on #2540
can the openstacksdk version be raised in AWX now? I also face lots of issues due to old version.

[2019-01-31 11:41] iamroddo commented on #3056
Any idea when this will make it's way into a release?

[2019-01-31 12:05] Ompragash commented on #2279
I can able to fix this issue.

Make sure to keep your jump server pem file in `/var/lib/awx/.ssh` with permission set to `awx:awx` .

Now if the name of your pem file is `id_rsa` it works without throwing any errors. But if the name of the pem file is different than `id_rsa` like for example `jumpserver.pem` pass the full location path in inventory/group variable like below

[code]

[2019-01-31 12:18] davidkirwan opened #3114 "Openshift Installer requires Cluster Admin privileges"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
Openshift installer requires cluster admin access

##### ENVIRONMENT
* AWX version: latest from devel branch
* AWX install method: openshift,
* Ansible version:  2.7.5
* Operating System: Fedora 28
* Web Browser: Firefox 64.0.2

##### STEPS TO REPRODUCE

run the installer against an openshift cluster where the user d

[2019-01-31 12:27] davidkirwan opened #3115 "Openshift installer produces AWX container which runs as root"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Once installed on Openshift, the installer produces the AWX container which runs as root and cannot run without adding `oc adm policy add-scc-to-user privileged -n ansible-tower -z awx`

##### ENVIRONMENT
* AWX version: latest on devel branch
* AWX install method: openshift
* Ansible version:  2.7.5
* Operating Syst

[2019-01-31 12:28] AlanCoding commented on #3113
Yes, you need this patch to Ansible:

https://github.com/ansible/ansible/pull/51177

The recommended way is ("will be" might be more accurate) that you use the special named folder adjacent to your inventory file inside of source control. Then you have this imported into AWX via an inventory source sourced from a project. Ansible has several special names where it knows to look for such, such as `

[2019-01-31 14:41] jmnguye opened #3119 "SECRET_KEY not readed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
After restarting my awx instance, i'm having a stacktrace
`Traceback (most recent call last):
  File "/usr/bin/awx-manage", line 11, in <module>
    load_entry_point('awx==3.0.0.0', 'console_scripts', 'awx-manage')()
  File "/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/__init__.py", line 134, in manage
    prepare

[2019-01-31 14:44] ryanpetrello commented on #3108
@kdelee you mind verifying this in `devel` and closing?

[2019-01-31 14:49] ryanpetrello commented on #3119
@jmnguye the `/etc/tower/settings.py` you have is _old_ and needs to be updated to capture this change:

https://github.com/ansible/awx/commit/04da4503dbda6baebd3fc7f74b56586d0cb37918#diff-4fc9fed7c8432c8f554a4eee5e6aab72L8
https://github.com/ansible/awx/blob/589531163ab72b7fe304fe23fbd63994c2247720/installer/roles/image_build/files/settings.py#L6-L9

How are you deploying awx?  Are you using the

[2019-01-31 14:52] msilmser opened #3120 "Add the descriptions of prompts being presented to users"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Customer request: When prompt on launch is selected, please add a description of the functionality of that prompt for users to easily know what they are inputting.

[2019-01-31 15:29] AlanCoding commented on #3113
Forgot to mention, once that patch is done in Ansible, we do need to add --playbook-dir option on our side.

[2019-01-31 16:11] boaz-raz commented on #2817
Any updates on this please?

[2019-01-31 16:31] AlanCoding opened #3122 "Openstack dependencies stop-gap proposal"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
The Ansible openstack inventory script was renamed.

This is an outline of things that need to happen in order to avoid updating to the renamed script.

The inventory plugin will replace the script

##### ADDITIONAL INFORMATION

Our current os-client-config dependency comes from the `shade` library. Both are needed for th

[2019-01-31 17:26] mrmibrown opened #3124 "Request for the schedule name variable when used in a workflow"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

Request for the schedule name variable when used in a workflow.  There is no 'tower_schedule_name' or 'workflow_schedule_name' variable that can be referenced when a workflow is launched by a schedule.

##### ADDITIONAL INFORMATION

[2019-01-31 17:54] dison4linux commented on #2279
@RogerSik The documentation linked by the O.P. shows ansible_ssh_common_args: in host variables.  I moved it to Inventory Details and the error message is the same.

@Ompragash can you elaborate on your method?  In the docker setup user:group awx:awx does not exist.  /var/lib/awx/.ssh does not exist either.  Do I need to create that directory.... and user?  How would I specify a different jump ser

[2019-01-31 18:21] matburt commented on #3115
This is not running as root, that would require:
[code]

Which we don't do.

This is from a running openshift:

[code]

[2019-01-31 18:21] #3115 closed, assigned to nobody

[2019-01-31 18:44] AlanCoding commented on #3122
actually, we might have to rename the file anyway

[2019-01-31 18:44] #3122 closed, assigned to nobody

[2019-01-31 19:05] wenottingham commented on #3120
What prompted item are they unclear on the functionality of? (In a way where normal operation of AWX is more clear)

[2019-01-31 19:06] chrismeyersfsu commented on #2817
This would be doable on "classic" django sort of queries, we support it as a generic filter.  Due to performance reasons, it's not possible to support this on ansible facts (json type).

[2019-01-31 19:09] wenottingham commented on #3114
Intentional, see https://github.com/ansible/awx/pull/3116#issuecomment-459412897.

[2019-01-31 19:09] #3114 closed, assigned to nobody

[2019-01-31 19:20] wenottingham commented on #2238
additional request: Cybermove

[2019-01-31 19:28] Ompragash commented on #2279
@dison4linux my last comment is about Tower configuration. So in case of AWX, login to `awx_task` container and place the pem file in path `/root/.ssh/` location.

[code]

Now, pass `ansible_ssh_common_args: '-o ProxyCommand="ssh -i /root/.ssh/jumpserver.pem -W %h:%p -q user@jumpserver"'` as a inventory/hosts variable and give it a try.

[2019-01-31 19:40] dtardoin commented on #2537
After taking the time to rebuild our AWX instance *from scratch* this is still happening.

[2019-01-31 19:44] dtardoin opened #3125 "CSRF Token Issue Reopen."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
CSRF token errors causing users to log out and log back in. Duplicate of closed issue #2537. Reinstalled and reinitialized server from scratch, still having the same error using Github authentication.

It seems to only be happening when the site automatically logs you out.

##### ENVIRONMENT
* AWX version: 2.1.2.0
*

[2019-01-31 19:48] okelet commented on #2238
We are very interested in AWS KMS, so when the interface is ready, we can contribute with code and/or testing.

[2019-01-31 19:48] Ompragash commented on #2279
@dison4linux so if you want to specify different jump servers to different hosts, place all the identity files(i.e pem file) of all your jump servers in `/root/.ssh/` with mode 600 and permission set to root:root inside `awx_task` container and then in AWX UI pass them as inventory/hosts variables.

Example:
[code]
[code]

[2019-01-31 20:19] wenottingham opened #3126 "enhance custom venv support to look in an alternate location"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Right now, custom venvs live in `/var/lib/awx/venv` alongside the system `awx` and `ansible` venvs.

When building a deployment that has multiple custom venvs, you need to:
- build them all into the container image
- volume mount each one individually in `/var/lib/awx/venv` (presumably, haven not tested)

It may be

[2019-01-31 20:34] wenottingham opened #3127 "Clicking on XYZ should filter"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

The page: `#/inventories/inventory/N/hosts`

The view:

![ff](https://user-images.githubusercontent.com/5208768/52083349-2f7e9a80-256d-11e9-9145-00f84aee40b4.png)

All the related groups for a host are show as tags.

I can click the `X` to potentially remove the association. But it would be useful if clicking on the text

[2019-01-31 20:51] wenottingham commented on #3127
I am reliably informed this is not something we do elsewhere, but it could apply to:
- labels
- credential tags
- etc

There is also the question of whether this would filter the enclosing list, or go to the linked object.

[2019-01-31 21:29] HelixEvo opened #3128 "Python F5 SDK modules not found"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I am getting the Python module F5SDK not found when trying to use code thats calling these modules.

- I have installed them and they are in /usr/lib/python3.6/site-packages/
- I have chmod them for global read access
- I have checked Python 3.6 is default

##### ENVIRONMENT
* AWX version: 3.0.0.0
* AWX install method: do

[2019-01-31 21:50] sumkincpp commented on #3127
For groups this feature would be very useful!

[2019-01-31 22:09] wenottingham commented on #3128
Are you using a custom virtual environment? Ansible is still run with default system python.

[2019-01-31 22:40] HelixEvo commented on #3128
Hi.. Not custom.. I was using Python 2.7 and had the same issue, running 3.6 because I tried an upgrade to see if that helped... Same problem though.

[2019-02-01 00:11] radanliska opened #3130 "Jobs history is not showing (web page freezes) - AWX 3.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Web browser tab freezes after clicking on the history of some jobs at jobs menu.

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: openshift (Kubernetes)
* Ansible version:  2.7.6
* Operating System: Ubuntu Server 16.04.05 LTS
* Web Browser: Google Chrome 51.0.2704.63 m

##### STEPS TO REPRODUCE

When I click on

[2019-02-01 09:40] umataro opened #3131 "AWX Inventory sync from oVirt broken since 3.0.0.0"
##### ISSUE TYPE
bug report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Inventory sync does not work anymore

##### ENVIRONMENT

* AWX version: 3.0.0.0
* AWX install method: docker (geerlingguy/ansible-role-awx update from awx 2.1.0 to 3.0.0.0)
* Ansible version: 2.7.6

##### STEPS TO REPRODUCE

Attempt to resync inventory using oVirt source (ovirt4.py)

##### EXPECTED RESULTS

successful sy

[2019-02-01 09:46] radanliska commented on #3130
The same bug is in Firefox 45.7.0.

[2019-02-01 13:22] timothybosse commented on #2279
@Ompragash:  I don't have access to the container to put our identity files there.  My initial expectation after days of troubleshooting was that the identity files had to reside on the jump server.  My preferred solution would be to use existing credentials, but so far as I can tell, that's currently not an option.

[2019-02-01 13:25] jakemcdermott commented on #3130
Hello,

Thanks for making this issue.

You'll need to update your Chrome or Firefox installation. The minimum Firefox version we fully support is 60.3 ESR. For Chrome, your version should be above 64.

If you have questions, please reach out to our community mailing list or join our irc channel on freenode (`#ansible-awx`)

[2019-02-01 13:25] #3130 closed, assigned to nobody

[2019-02-01 13:34] chrismeyersfsu commented on #3106
**TL;DR** While processing events we find the host for which the event was generated. For smart-inventory this is expensive. We do this for each event, thus the slowdown.

https://github.com/ansible/awx/blob/devel/awx/main/models/events.py#L343
host_qs = self.job.inventory.hosts.filter(name=self.host_name)

### Non-Smart Inventory
The query is, as expected, very fast and how we would expect it to

[2019-02-01 14:29] jmnguye commented on #3119
i used an upgraded version of my container, it's now ok, thx a lot

[2019-02-01 14:40] #3119 closed, assigned to nobody

[2019-02-01 15:18] AdrianDutu opened #3134 "AWX kubernetes install ignores ca_trust_dir and project_data_dir"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
I specified in the installer the ca_trust_dir and project_data_dir variables.
project_data_dir=/opt/awx/projects
ca_trust_dir=/etc/pki/ca-trust/source/anchors

Below you can see the mounts from awx_web from one of the awx pods in k8s:

[{bind  /var/lib/kubelet/pods/81c9b5a3-2632-11e9-bb20-001dd8b736ad/etc-hosts /etc/h

[2019-02-01 15:24] wenottingham commented on #3131
This was fixed in https://github.com/ansible/awx/pull/3058, you'll need to build off of devel until a 3.0.1 or later is released.

[2019-02-01 15:24] #3131 closed, assigned to nobody

[2019-02-01 16:03] marshmalien opened #3135 "Smart Inventory Hosts tab doesn't redirect to related hosts list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
![broken inv host](https://user-images.githubusercontent.com/15881645/52134182-fbf54c00-2610-11e9-90e0-27bb9b1e737d.gif)

##### STEPS TO REPRODUCE
1) Create Smart Inventory
2) Add a Host
3) Click HOSTS tab

##### EXPECTED RESULTS
Page redirects to related host list

##### ACTUAL RESULTS
Page does not redirect.

[2019-02-01 16:40] xwatav opened #3137 "Interactive workflow"
##### Feature request

We would like to request interactive workflows.

 Our company's workflow would be to run a playbook in check mode with the --diff long-switch to show operators what would change in the configuration. Once the job finished, we would like to prompt the operator an inputfield (eg. survey) where they can opt whether to continue or not. The operator reviews changes, and if select

[2019-02-01 17:27] wenottingham commented on #3137
-> #1206

[2019-02-01 17:27] #3137 closed, assigned to nobody

[2019-02-01 18:51] msilmser commented on #3120
This was specifically related to wanting a description of the limit field.

[2019-02-01 19:06] timothybosse commented on #2279
In thinking about the example above, if I don't have access directly to the container, could I do something along the lines of creating a vault with a variable that has the private key, then do something along the lines of the following?

vault.yml:
`
identity: |
--- BEGIN ---
blah
--- END ---
`

Then do a play against the ansible_host
play.yml
`
---
- name: Copy identity file for use in proxycomm

[2019-02-01 19:57] kdelee opened #3139 "Bail out gracefully if custom venv cannot be used for inventory updates"
##### ISSUE TYPE
 - Bughancement Report

##### COMPONENT NAME

 - API

##### SUMMARY

Since inventory updates now use the custom venv set at the organization level, we should fail more gracefully if the custom venv provided does not provide necessary elements such as `ansible-inventory` that did not exist in anisble 2.3 or prior versions.

##### ENVIRONMENT
* AWX version: devel
* AWX install metho

[2019-02-01 20:08] wenottingham commented on #3120
So migrating the tooltips from the JT display may be useful here.

[2019-02-02 16:47] AlanCoding opened #3141 "Instance ID needs to be set for GCE imports"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
GCE imported hosts should have an instance id

##### ENVIRONMENT
* AWX version: 3.3.0
* AWX install method: all
* Ansible version:  >=2.5?
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Perform an import with a gce inventory source

Inspect `instance_id` of a host that was imported.

##### EXPECTED RESULTS

A

[2019-02-02 17:01] svrraja opened #3142 "working locally but in AWX playbook is error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version:2.4.4.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.5.5
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

fatal: [abc.com]: FAILED! => {"

[2019-02-02 20:12] krentiken commented on #2144
+1

we have about 4,000 servers RHEL in our company and the limit of 1024 bytes is not enough

[2019-02-03 02:29] ryan012880 opened #3143 "Cosmetic issues - text in the RELATED GROUPS not properly displaying in AWX 3.0.0"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
- Under inventory the host groups in RELATED GROUPS column are not properly displayed.

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.6
* Operating System: RHEL 7.6
* Web Browser: Chrome

##### STEPS TO REPRODUCE
1. Create an inventory with a host
2. Create a new group an

[2019-02-03 02:57] ryan012880 opened #3144 "Cosmetic issues - unable to relaunch failed jobs in Compact mode in the JOBS section"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
- In the Jobs section relaunch a failed job in Compact mode, the options for RELAUNCH ON ("All/Failed) is not properly displayed so you won't be able to launch the job in this mode.

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.6
* Operating System: RHEL 7.6
* Web Brows

[2019-02-03 05:27] ghost commented on #3062
@matburt, What kind of proper permissions are you talking about? Minimum permission level which is needed for somebody to develop code in tower is Project Admin, Inventory Admin, Credentials Admin, Job Template Admin, Workflow Admin.  Almost admin of everything except org admin. That means all my users(100+) in multi tenant env can delete any asset they like. There is no control provided by Tower

[2019-02-03 23:16] ghost opened #3145 "Kubernetes is unable to execute from Ansible AWX"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

*  Ansible AWX Kubernetes Jobs/yaml is unable to execute.

##### ENVIRONMENT
* AWX version: Ansible 2.7.4
* AWX install method: docker on linux
* Ansible version:  2.7.4
* Operating System:
NAME="Ubuntu"
VERSION="18.04.1 LTS (Bionic Beaver)"

* Web Browser: Safari Web Browser from MacOS

##### STEPS TO REPRODUCE

[code]

#

[2019-02-04 00:10] HelixEvo commented on #3128
Hi.. Any thoughts on this one please?

[2019-02-04 10:06] hosurmadhan opened #3146 "Create Export Ability from AWX for Usage Statistics"
##### ISSUE TYPE
Create Export Ability from AWX for Usage Statistics

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

 Ability to export from AWX for Usage Statistics. Is there any option to export data from AWX to any other source? Example: Export list of job's executed by a user to Excel or CSV.

##### ADDITIONAL INFORMATION

We see there is an option to view the usage, we need to if there is

[2019-02-04 15:03] wenottingham commented on #3128
You installed the library at the system level for python 3. You need to install it in the virtual environment used by Ansible, either the default one at /var/lib/awx/venv/ansible, or a custom one you use for that job/project.

[2019-02-04 15:03] #3128 closed, assigned to nobody

[2019-02-04 15:10] wenottingham commented on #3146
This is not currently planned. You can perform queries against the REST API to return data in JSON format, which can then be massaged into the data format of your choice.

[2019-02-04 15:10] #3146 closed, assigned to nobody

[2019-02-04 15:24] AlanCoding commented on #3145
Where did you install `openshift` to? When I inspect `ansible_playbook_python`, I get the python for the Ansible venv (as expected). If you are going to check `pip freeze`, you should do it with the `pip` specific to the Ansible venv. The location of the Ansible venv may differ by deployment method, but it is likely to be `/var/lib/awx/venv/ansible`, as per:

https://github.com/ansible/awx/blob/58

[2019-02-04 15:46] timothybosse commented on #2279
Apparently it doesn't work, or I am just too confused to understand that I am doing something wrong.  I adjusted my code a bit from my previous comments.

Add key play code.
[code]

Use key play code.
[code]

Here is the output of the plays with debugging for the add key section.
[code]

Here is the output for the use key section.
[code]

[2019-02-04 15:49] ghost commented on #3145
Hi,

Not sure how to install the “pip install openshift” into the venv. Is there any way or option in pip to install into the /var/lib/awx/venv ?  ( currently the pip install is the OS of the awx sever. Not on the venv.) also there is no documentation and steps for installing the pip install in the awx venv. Please help.

Thanks.

[2019-02-04 15:59] RRAlex commented on #1654
Indeed, even if I encode the *-cert.pub in PEM format, AWX will say it doesn't support public key, but since the private key is unmodified when signed, there is no way to deploy a single CA in the authorized_keys of your machines to than have multiple keys used by different users within AWX...

[2019-02-04 16:35] HelixEvo commented on #3128
I have adjusted the inventory file to read:

localhost ansible_connection=local ansible_python_interpreter="/usr/lib/python3.6"

Still the same issue.. Do I need to restart any services for this now, or are you suggesting to use pip to install the SDK's into a different location. Using docker and AWX so not sure where else to put the SDK files.

Thanks..

[2019-02-04 16:55] AlanCoding commented on #3145
This has the basic information about how the default virtual environment is used:

https://docs.ansible.com/ansible-tower/latest/html/upgrade-migration-guide/virtualenv.html

There are some more detailed docs here, but mostly concerned with custom virtual environments. AFAIK, this is not your case. You are interested in installing software to the _default Ansible_ venv.

https://github.com/ansible

[2019-02-04 16:55] wenottingham commented on #3128
^ This. You're really better off taking this to the awx-project mailing list or the #ansible-awx IRC channel, see https://github.com/ansible/awx/#get-involved.

[2019-02-04 17:21] hosurmadhan commented on #3146
@wenottingham : Thanks for your feed back.

[2019-02-04 17:52] mrmibrown opened #3149 "Graphical calendar widget for survey"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

A request for a graphical calendar widget for survey data fields.

##### ADDITIONAL INFORMATION

[2019-02-04 18:08] wenottingham commented on #3149
... there's really not a datetime *type* for a variable, so there would likely need to be some definition around what this produces.

Assumption would be you get an extended, UTC, iso8601 datetime and that's it.

[2019-02-04 18:10] wenottingham commented on #553
from https://github.com/ansible/awx/issues/3149:

Additional type: datetime
Chooser: a calendar + time picker
Result: iso8601 extended datetime, *in UTC*.

[2019-02-04 18:10] wenottingham commented on #3149
-> https://github.com/ansible/awx/issues/553

[2019-02-04 18:10] #3149 closed, assigned to nobody

[2019-02-04 18:55] ghost commented on #3145
Thanks Alan. I’m just moving a little bit with this documentation and help.

One of the big road blocker for me … how to find and upgrade the pip in the Docker Version of AWX. That part still not much clear.

Even though, Ryan briefly mention container versions of AWX custom build image. I’m not sure about which image to work … awx_task or awx_web and details of Makefile. Any clue will be very hel

[2019-02-04 19:44] sharkcus commented on #2949
Is there an actual issue/bug open for it, besides this? I've tried every combination I can think of to try to allow a non system-admin to view and can't seem to make it work. Can confirm this is an issue with version 3.0.0 too.

edit: Submitted a new bug, as it's still an issue with v3.0.0 (current) https://github.com/ansible/awx/issues/3150

[2019-02-04 19:50] AlanCoding commented on #3145
awx_task should be what you want. This is the one that runs playbooks.

As a general principle, yes I do agree.

It's a little bit beyond what I can do here to review your diff for creating such custom images. It might work, but there are lot of hacks in similar makefile targets, like `make requirements_ansible`, so I don't know how it will go. I would suggest that the easiest possible way for you

[2019-02-04 20:17] sharkcus opened #3150 "Notifications tab missing on all templates/projects unless global system-admin"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Regardless of how I set permissions for a user (org/project/template/etc...) the notifications tab for projects/templates is missing unless that person is a system-administrator

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: Openshift
* Ansible version:  Unsure. No longer says on awx "about" page.
* Operatin

[2019-02-04 20:18] sharkcus commented on #3150
Ticket from 2 major versions ago for reference:
https://github.com/ansible/awx/issues/2949

[2019-02-04 22:18] wenottingham commented on #3150
Yes, this should just be tracked in #2949.

[2019-02-04 22:18] #3150 closed, assigned to nobody

[2019-02-04 23:19] e-tienne opened #3151 "RFE: Add grouping to the Job Template view"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
Grouping job templates together would be beneficial in providing an easier navigation of a set of job templates.
##### ADDITIONAL INFORMATION

This would be very useful for being able to group job templates by type so that if there were a function or set of functions (workflows) that needed to be executed they would be or

[2019-02-05 02:29] wenottingham commented on #3151
-> #2058

[2019-02-05 02:29] #3151 closed, assigned to nobody

[2019-02-05 10:31] Saurabh-Thakre opened #3153 "Allow to start a template directly from the "edit" section."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

  - UI

##### SUMMARY

Customer request : To start a job template faster it would be very helpful to start it directly in the "edit" section. Currently when pressing the "save" button you have to search for the template and then have to press "launch" there.

[2019-02-05 10:39] Saurabh-Thakre opened #3154 "Add Advanced Description field in Template."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Customer request: For users to know about what the playbook is doing in a job template like a advanced description/documentation field where it will show the detail information about job template.
Example, a description of all available tags in a template

[2019-02-05 10:57] #3144 closed, assigned to nobody

[2019-02-05 10:58] ryan012880 opened #3155 "Cosmetic issues - unable to relaunch failed jobs in Compact mode in the JOBS section"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
- In the Jobs section relaunch a failed job in Compact mode, the options for RELAUNCH ON ("All/Failed) is not properly displayed so you won't be able to launch the job in this mode.

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.6
* Operating System: RHEL 7.6
* Web Brows

[2019-02-05 13:03] hhemied opened #3157 "I have a strange issue when openshift with postgresql pod"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
all other pods are up and running but the postgresql with this error

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift
* Ansible version:  2.6.5
* Operating System: centos7

##### STEPS TO REPRODUCE
just try to install and watch events

##### EXPECTED RESULTS

run as expected

##### ACTUAL RESULT

[2019-02-05 13:30] #3143 closed, assigned to nobody

[2019-02-05 13:30] ryanpetrello commented on #3145
Yep, you're on the right track.  You'll need to build a custom `awx_task` image that contains the custom virtualenv you want.  The instructions you pasted above from https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md#preparing-a-new-custom-virtualenv are what you want.

I'm closing this because we use this issue tracker to track bugs.  If you want to keep asking questions about a

[2019-02-05 13:30] #3145 closed, assigned to nobody

[2019-02-05 13:30] ryan012880 opened #3158 "Cosmetic issues - text in the RELATED GROUPS not properly displaying in AWX 3.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
- Under inventory the host groups in RELATED GROUPS column are not properly displayed.

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.6
* Operating System: RHEL 7.6
* Web Browser: Chrome

##### STEPS TO REPRODUCE
1. Create an inventory with a host
2. Create a new group a

[2019-02-05 14:30] mariomelofilho opened #3159 "tower-cli job_template create fails using credential of time VMware vCenter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - CLI

##### SUMMARY

 AWX returns error when  creating a job_template using tower-cli, if credentials used are of type VMware vCenter

##### ENVIRONMENT
* AWX version: 2.1.2.0
* AWX install method: docker on CentOS
* Ansible version:  ansible 2.7.4
*  python version = 2.7.15rc1 (default, Nov 12 2018, 14:31:15) [GCC 7.3.0]
* Tower CLI 3

[2019-02-05 15:48] basos9 commented on #2240
Hello, I confirm this this problem is still on AWX 3.0.0 .

Order of hosts for project sourced inventories is not preserved.
e.g. GROUP[0] is not the same in ansible 2.7.x and awx 3.0.0

This issue can break some playbooks, that depend on the order of hosts in a group.

Is there an active PR for this ?

[2019-02-05 16:04] ryanpetrello commented on #3159
@mariomelofilho would you mind re-filing this at https://github.com/ansible/tower-cli/issues/new?

[2019-02-05 16:04] #3159 closed, assigned to nobody

[2019-02-05 16:07] ryanpetrello commented on #2264
@mabashian is this done/merged/ready to be closed?

[2019-02-05 16:22] hluaces opened #3160 "Host filters removing quotes on API calls"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

The creation process for hosts filters on a smart inventory incorrectly handles filters that query numeric variables (or any value that requires you to quote the filter, for that matter).

According to the [official documentation](https://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html#host-filter-sear

[2019-02-05 16:48] mariomelofilho commented on #3159
@ryanpetrello: no problem, but i think it's a problem in awx api. I just run a ansible playbook to create a job_template and got same error.
Task:
[code]

Output:
[code]
should i still open it in tower-cli? or in both?

[2019-02-05 16:48] AlanCoding commented on #2240
No, this issues needs development. Some users may have experienced some regressions due to the python3 upgrade as well, which makes dictionary key ordering less predictable.

[2019-02-05 16:56] jlmitch5 commented on #4212
The other thing we will want to make sure of in terms of this feature is that loading doesn't cause a lot of flashing (panes going away and coming back on the screen).  The pane itself should probably have a min-width or something so that it looks smooth as it transitions between these states.

[2019-02-05 18:02] msilmser opened #3161 "RFE: Live Streaming of Status of Long Running Tasks"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
Customer Request: Provide full stream of events/progress during long running tasks. For example:
[code]

[2019-02-05 18:20] ryanpetrello commented on #3159
@mariomelofilho,

This actually doesn't sound like a bug at all, but a misunderstanding of `tower-cli` usage.

[code]

The usage of specifying `credential: 3` directly _at creation time_ is reserved for SSH/Machine credentials **only** as it uses an older, deprecated API from a time _before_ awx supported multi-credential assignment at the Job Template level.
See: https://github.com/ansible/tower-

[2019-02-05 18:36] SylvainMartel commented on #2238
looking forward to thycotic secret server integration

[2019-02-05 18:40] mariomelofilho commented on #3159
@ryanpetrello , issue opened in tower-cli: https://github.com/ansible/tower-cli/issues/664.

[2019-02-05 18:41] wenottingham commented on #3161
This is not a thing ansible does... there's no intermediate task progress available from Ansible, so it won't be available in Tower/AWX.

[2019-02-05 18:41] #3161 closed, assigned to nobody

[2019-02-05 18:46] wenottingham commented on #3154
This is #1182, more or less.

[2019-02-05 18:46] #3154 closed, assigned to nobody

[2019-02-05 18:46] wenottingham commented on #3153
-> #1991

[2019-02-05 18:46] #3153 closed, assigned to nobody

[2019-02-05 19:14] grahamneville opened #3163 "Add back schedule button on templates list view"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
With older versions of AWX there used to be a calendar icon on the job templates view page that would allow you to schedule a job without having to go into the edit mode. It would be useful to add this back

##### ADDITIONAL INFORMATION

[2019-02-05 19:53] tvo318 opened #3164 "Options layout not aligned properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Options in certain credential add screens have strange formatting.

##### ENVIRONMENT
* Tower version: 3.5.0, devel
* install method:  gce job template
* Ansible version:  2.7.6
* Operating System: Mac OS Mohave 10.14.2 (18C54)
* Web Browser: Google Chrome Version 71.0.3578.98 (Official Build) (64-bit)

##### STEPS TO REPROD

[2019-02-05 19:58] timothybosse commented on #2279
I deleted all my previous comments.  I didn't know what I was doing, but after a lot of stumbling, I was able to get this working.  The real problem that I didn't understand is the strict requirements for openssh and the different proxy options.  I will write up my findings and post what worked for me soon, promise!

[2019-02-05 20:13] mabashian opened #4213 "Display dates in readable form"
The date strings that the api passes back to us look like:

<img width="1374" alt="screen shot 2019-02-05 at 3 10 07 pm" src="https://user-images.githubusercontent.com/9889020/52301376-4ac81c00-2958-11e9-8a19-aaeb07eea216.png">

We probably want to use something like http://momentjs.com/ to format those strings into something nice and readable.

To complete this task we'll need to (likely) settle

[2019-02-05 21:20] timothybosse commented on #2279
**Note:**  I iterated through a bunch of stuff that didn't work.  Rather than clutter the comments with my failed attempts, I figured I would clean it up, and provide my solution to what I think is the problem.

What I got out of all of this is that it really wasn't awx or ansible that was the problem.  It's that openssh doesn't allow you to use `-i` in `ProxyCommand`.  It just flat out ignores it

[2019-02-05 22:34] #3139 closed, assigned to nobody

[2019-02-06 00:20] ahuffman opened #3167 "UI Issue on inventory host vars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
A host's host_vars are displayed as a single-line of json instead of pretty yaml when viewing a host in an inventory.

##### ENVIRONMENT
* Tower version: 3.4.1-1
* Tower install method: non-bundled installer
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansib

[2019-02-06 02:43] wenottingham commented on #2144
Fixed, see #3162

[2019-02-06 02:43] #2144 closed, assigned to nobody

[2019-02-06 06:35] mvineza opened #3169 "Container's root filesystem size doesn't change after changing dockerd dm.basesize"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
We are running AWX via docker on a separate virtual machine. We tried resizing the host's `dm.basesize` (from 10GB to 50GB) in `/etc/docker/daemon.json` so that AWX's containers would not run out of space quickly under /.

After docker restart, the changes took effect on containers ran via `docker run <image>`. Their

[2019-02-06 07:23] daemenseth opened #3170 "Logging order not correct"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When I run playbook with long log output, the lines order is getting wrong and it is not usable.

##### ENVIRONMENT
* AWX version: 2.1.2.0
* AWX install method:  docker on linux
* Ansible version: 2.7.4
* Operating System: Windows 2008 R2 but see this on more windows sytems
* Web Browser: Mozilla Firefox

##### STEPS TO REPR

[2019-02-06 07:44] Baefisch commented on #411
i tried this:

`docker cp RootCa.pem 34ad2609f00f:/RootCa.pem`
`docker exec -it 34ad2609f00f /bin/bash`
`cp /RootCa.pem /etc/pki/ca-trust/source/anchors/`
`update-ca-trust` extract`

but i am unable to login:
got this error message:
`2019-02-06 07:37:02,403 WARNING  django_auth_ldap Caught LDAPError while authenticating UserX: CONNECT_ERROR({'desc': 'Connect error', 'info': 'error:14090086:SSL rou

[2019-02-06 08:39] ghost opened #3171 "K8s Module is unable to execute the playbooks in AWX."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

K8s Module is unable to execute the playbooks in AWX.

##### ENVIRONMENT
* AWX version: AWX 3.0.0.0
* AWX install method: docker on linux
* Ansible version:  Ansible 2.7.6
* Operating System: Ubuntu
* Web Browser: MacOS Safari

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

##### ADDITIONAL

[2019-02-06 08:52] hhemied commented on #3157
fixed with giving permission on the shared nfs and persistent volume to be ReadWriteMany

[2019-02-06 08:53] #3157 closed, assigned to nobody

[2019-02-06 11:23] basos9 commented on #2574
Hello,
There might be another error condition related to this.

I have parent child groups, and the parent groups seem to not inherit the playbook group variables variables. Note that it works perfect with ansible core.

EDITED: See comment below

[2019-02-06 11:57] ryanpetrello commented on #3171
By default, awx uses https://github.com/projectatomic/bubblewrap to prevent access to sensitive areas of the filesystem during job execution.  One of those areas is `/var/lib/awx/`.

You're seeing this failure because the k8s module is attempting to read `/var/lib/awx/.kube/config`, and `bwrap` is preventing that.

Take a look at this documentation for instructions on disabling bubblewrap or addin

[2019-02-06 11:57] #3171 closed, assigned to nobody

[2019-02-06 13:26] Baefisch commented on #411
restarting the web container solved the problem.

[2019-02-06 14:06] AlanCoding commented on #2574
Before I test the file structure you gave, could you clarify your inventory structure? Parent groups do not inherit variables of their child groups. Also, there is no way for you to directly test group variables in playbooks. So my imagination of the inventory structure is group1->group2->host_a, and you test the variables of host_a inside of your playbook.

[2019-02-06 14:09] snerge commented on #452
+1 on this issue

Thanks to @sudomateo, your workaround did the job !

[2019-02-06 15:48] basos9 commented on #2574
Ok. I traced it to a feature that I am using which works with ansible and not with AWX. In short I am using extra files to define common parent groups (i.e. groups that are parents of child groups) for different inventories. Moreover these files can be a symlink to one (I tested this is not the issue).

The benefits of this configuration is that if you have inventories that share common parent gro

[2019-02-06 16:49] kdelee commented on #3158
@elyezer I've seen this too running off of devel

[2019-02-06 17:45] ghost commented on #3171
Hi Ryan,

I try to enable bubblewrap “Enable Job Isolation” … it doesn’t let me do so.

Please help.

Thanks.

Regards,
kylix3511

Email : kylix3511@gmail.com

[2019-02-06 18:12] #3055 closed, assigned to nobody

[2019-02-06 18:38] ghost commented on #3171
Hi Ryan,

I try to enable bubblewrap “Enable Job Isolation” … it doesn’t let me do so.

Please help.

Thanks.

Regards,
kylix3511

Email : kylix3511@gmail.com <mailto:kylix3511@gmail.com>

ansible-playbook 2.7.6
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/var/lib/awx/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module locatio

[2019-02-06 20:29] AlanCoding commented on #2574
when you run this playbook locally via ansible-playbook CLI, what path do you give it for the inventory option, `-i`?

[2019-02-07 08:18] basos9 commented on #2574
I run this playbook like
[code]

[2019-02-07 11:30] movergan opened #3180 "GCP Inventory sync failed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Python 3 in latest awx_task:3.0.0 docker image

##### SUMMARY
GCE Inventory sync fails

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker standalone
* Operating System: Debian 8
* Web Browser: N/A

##### STEPS TO REPRODUCE

Try to sync GCE inventory

##### EXPECTED RESULTS

Synced fine

##### ACTUAL RESULTS

Fails with:

[code]

[2019-02-07 15:35] kialam commented on #447
@wenottingham @chrismeyersfsu @unlikelyzero
As it works currently, artifacts are processed _after_ the job state is transitioned to final and event processing is finished.

If a user is watching a job run in "real-time" in the job details view, they will **_not_** see Artifacts details until after a page refresh.

It would be better user experience if we can emerge the field similarly to how we ar

[2019-02-07 16:34] akcrisp opened #3184 "Passing environment variables from survey to dynamic inventories"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
I want to be able to extract a list of hosts from a remedy ticket and use that list of hosts to generate a dynamic inventory. I can set the ticket number in the inventory sources enviroment variables but there appears to be no way to actually enter the cr number on a survey (they go in as extra vars) and have that passed t

[2019-02-07 16:58] savealive commented on #2769
Any updated on this?

[2019-02-07 18:10] mabashian commented on #2837
Fixed by #3091 - closing

[2019-02-07 18:10] #2837 closed, assigned to nobody

[2019-02-07 18:30] wenottingham commented on #3184
This is not a thing that makes sense in AWX's inventory model - an inventory is a (more or less) stable thing that does not change based on job run parameters.

You'd be better off having an inventory script/plugin make groups populated from all ticket IDs and use vars/surveys to populate host patterns in the playbook.

[2019-02-07 18:30] #3184 closed, assigned to nobody

[2019-02-07 18:45] akcrisp commented on #3184
Bill I thought of that but - that’s crazy slow - to retrieve literally thousands of remedy tickets and their contents would be massively slow and put unnecessary load on remedy server. You guys need to think about this.

Sent from my iPhone

[2019-02-07 19:53] mtward commented on #1749
Hello @Baefisch.  Were you able to resolve this?  I seem to be having the same issue.

[2019-02-07 21:04] AlanCoding commented on #2574
Thanks, that should be all I need. Testing this use case is on my agenda, but it may be another few days before I get around to it.

[2019-02-07 21:20] mabashian commented on #3018
Fixed by #3183

[2019-02-07 21:20] #3018 closed, assigned to nobody

[2019-02-08 04:59] Baefisch commented on #1749
I did Not try anymoore. I am using ldaps now. Keep me in loop, If you are succesfull
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit GMX Mail gesendet.Am 07.02.19, 20:53, mtward <notifications@github.com> schrieb:
Hello @Baefisch.  Were you able to resolve this?  I seem to be having the same issue.

—You are receiving this because you were mentioned.Reply to this email directly, view

[2019-02-08 15:20] mhurron opened #3189 "AWX stops responding (web) and processing (task) until tower-processes:dispatcher is restarted"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - task runner

##### SUMMARY
When left, or after a job completes, the web UI and API become unresponsive and any more scheduled tasks will not run until the dispatcher process is restarted.

##### ENVIRONMENT
* AWX version: 3.0.0 (issue seen since 2.0)
* AWX install method: docker on linux
* Ansible version:  Included with docker

[2019-02-08 15:44] generalconsensus commented on #2178
using incognito i can get in

[2019-02-08 16:32] Darkhan90 commented on #3134
Is anyone looking over the issues? I cannot use the tool if I can't set this up.
I tried to modify the installer/roles/kubernetes/templates/deployment.yml.j2 and add:

under volumes:
- name: "ca-trust"
   hostPath: "/etc/pki/ca-trust/source/anchors"

Then under the awx-celery and awx-web containers, unde volumeMounts:
 - name: "ca-trust"
    mountPath: "/etc/pki/ca-trust"

The playbook fails at th

[2019-02-08 17:03] AdrianDutu commented on #3134
I managed to do this by manually editing the deployment yaml file and adding the mounts myself, but this is a major issue.

[2019-02-08 18:32] mhurron commented on #3189
in the rabbitmq logs I see the following

[code]

they come in pairs like that every 10 seconds, 172.18.0.4 is awx_task

[2019-02-08 19:47] ivanvolozhenin commented on #3033
In inventory file in [all:vars] section
pg_port: 5432
I've change to **pg_port="5432"** , and this is resolve issue.

[2019-02-08 19:52] mabashian commented on #3828
After talking with Bill I'm going to push this one out.  This will require quite a bit of thought before we can commit to anything here.

[2019-02-08 21:00] unlikelyzero opened #3193 "Artifacts are not always returned from completed job runs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
If a job (with artifacts) completes and an API query is made soon after completion, the artifacts are not always returned in the API response. Additionally, the empty response in the artifacts field is the same as if there were no artifacts available _or artifacts at all._

##### ENVIRONMENT
* AWX version: 3.0.0

##### STEP

[2019-02-08 21:02] tfmm opened #3194 "Using Okta SAML with the UI behind an NGINX proxy, CSRF fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
 - Installer

##### SUMMARY
Have AWX setup to use OKTA's SAML2 for auth.  The web UI is behind an NGINX reverse proxy providing SSL termination. When trying to login via OKTA, this fails, stating:

[code]
##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker on linux
* Ansible version:  2.5.1
* Operating System: Ubuntu 18.04

[2019-02-08 21:15] unlikelyzero opened #3195 "Vertical Scroll bar is more likely to be displayed now that we have additional data on the Job Result Details view"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Now that we've added another codemirror field to the Job Results details page, users are more likely to see a vertical scroll bar as a means to view all of the information about a job result.

Note: this mainly affects windows users and all firefox ESR users as those browsers display the scrollbars at all times -- not just w

[2019-02-08 21:44] unlikelyzero opened #3197 "Artifact codemirror is inconsistently displayed on Job Results Details page"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 3.0.1

##### STEPS TO REPRODUCE

1. Launch a Job which has artifacts (like [gather_facts_set_stats](https://github.com/ansible/test-playbooks/blob/master/gather_facts_set_stats.yml) )
1. Relaunch that job
1. Note that the Artifact codemirror will sometimes be present even if the job doesn't

[2019-02-09 02:05] ffrank commented on #1966
@MrBones757 I believe this warrants a new Issue report.

[2019-02-09 10:38] rhodix-ewillems commented on #2279
This is what works for me:

I created an Ansible Role which installs the SSH private key to the AWX server and the SSH public key to the bastion host.

Tasks for the role:

[code]

* Put your id_rsa in ``templates`` directory (Encrypt with Ansible Vault!)
* Put your id_rsa.pub in ``files`` directory
* Configure a default for ``ssh_bastion_user`` in ``defaults/main.yml``

Then create your hosts in

[2019-02-10 19:43] Bourne-ID opened #3199 "VERISON 3.0.1 for awx_web docker image not found"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
docker image ansible/awx_web:3.0.1 not found

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method:docker on linux
* Ansible version:  2.7.7
* Operating System: Ubuntu 16.04
* Web Browser: N/A

##### STEPS TO REPRODUCE

Follow the installation instructions for docker-compose (ansible-playbook -i inventory inst

[2019-02-11 00:30] DVGeoffrey commented on #1889
for the love of got delete this thread because this is the only search result for this problem.

[2019-02-11 08:20] Spredzy opened #3200 "NameError: name 'six' is not defined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

https://github.com/ansible/awx/commit/d4c3c089df5b49c69430b23953dc000d4a56d8cb re:introduced the use of six that has been removed by https://github.com/ansible/awx/pull/3070/commits/daeeaf413a58af68c663eac051cd8b0776697b02

This leads to:

[code]

##### ENVIRONMENT

* AWX version: 3.0.1

##### STEPS TO REPRODUCE

  - N/A

[2019-02-11 08:34] pravindmali opened #3201 "RFE : Tower should have option to make repository as Read Only."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

In the Customer environment, all users will be admin(either org admin or project admin). That means they can link any repo they like and system admin has no control over it. It violates the security scanning requirement of an organization. Customer organization supposed to use repos which are regularly scanned by organiz

[2019-02-11 08:35] fredgate commented on #3199
Same error today that did not happen last week :-(

[2019-02-11 08:52] fredgate commented on #3199
File `installer/roles/local_docker/defaults/main.yml` defines version of `awx_web` image as
[code]
And recent commit 63e3e733e015faff3f9683eab097b8a67f10e555 changed the file `VERSION` from `3.0.0` to `3.0.1`. But in the docker hub, there is no image tagged as `3.0.1`. So install playbook now fails :-(

[2019-02-11 13:39] ghost commented on #3201
Just to clarify the above ask, request is only for REPO field, branch name can still be RW.

[2019-02-11 13:49] jaevans commented on #1999
Any progress on this change? This is huge issue for us, causing us to need to maintain a number of different manually created inventories to get around the lack of groups in smart inventories. We'd be willing to take a reasonable performance hit to get the feature working.

[2019-02-11 13:57] benapetr commented on #3199
definitely broken

[2019-02-11 14:42] #3200 closed, assigned to chrismeyersfsu

[2019-02-11 15:00] nandeeshb09 opened #3204 "changed": false, "cmd": "apt-get update", "msg": "[Errno 2] No such file or directory", "rc": 2}"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
try to run in localhost using awx in ubuntu machine alaways get this message no such file or directory.

changed": false, "cmd": "apt-get update", "msg": "[Errno 2] No such file or directory", "rc": 2}

##### ENVIRONMENT
* AWX version: 3.0.0.0
* AWX install method: docker on linux(ubuntu)
* Ansible versi

[2019-02-11 15:19] chrismeyersfsu opened #3205 "Job Event processing results in unexpected query when specific smart inventory query used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Unexpected smart inventory query appears when smart inventory query with 3 or more `and` used for ansible facts. For a system with a large smart inventory this results in slow job event processing.

##### ENVIRONMENT
* Tower 3.4.1

##### STEPS TO REPRODUCE

For slowness of job event processing:
* Create an inventory with at

[2019-02-11 15:34] wenottingham commented on #1999
It's not *just* performance, there are also questions of semantics.

Having a host/playbook behave differently in a smart inventory because it's now getting a different copy of group vars (as mentioned above) would likely be surprising, and there's no good workaround.

[2019-02-11 15:42] wenottingham commented on #3204
This isn't an issue with the AWX installer (there's no LAMP stack involved there), this seems to be a general playbook error. You're better off checking the awx-project mailing list.

[2019-02-11 15:42] #3204 closed, assigned to nobody

[2019-02-11 15:45] wenottingham commented on #3201
This is the fundamental issue here; this is not a good choice for when you want to delegate or make things unchangeable.

In any case, this will likely be handled in the future by moving the SCM branch away from the project definition and onto the job definition. See https://github.com/ansible/awx/issues/282

[2019-02-11 15:51] #3201 closed, assigned to nobody

[2019-02-11 15:53] wenottingham commented on #3193
What specific 'completes' marker is this referring to? The command finishing, or event processing finishing?

[2019-02-11 16:03] chrismeyersfsu commented on #3193
In the AWX code path, processing facts happens after the ansible process finishes, and after we update the job status. This is problematic because we have already informed the user that "hey your job is done" because the status is now success. Further, the processing of facts can happen any time during the job event processing phase.

[2019-02-11 16:04] chrismeyersfsu commented on #3193
In the AWX code path, processing facts and artifacts happens after the ansible process finishes, and after we update the job status. This is problematic because we have already informed the user that "hey your job is done" because the status is now success. Further, the processing of facts can happen any time during the job event processing phase.

Thus, a consumer of the API (i.e. the UI) has no

[2019-02-11 16:19] kialam commented on #3193
Parent ticket: #447

[2019-02-11 17:31] AlanCoding commented on #2630
@jbradberry @mabashian the Ansible core PR for become plugins just merged, so this should be un-blocked for final completion / testing. What's it's current status?

[2019-02-11 18:11] MarkusTeufelberger commented on #1335
https://groups.google.com/forum/#!topic/awx-project/x3MOtOzrTm8

Still no improvement so far.

[2019-02-11 18:39] jbradberry commented on #2630
@AlanCoding The backend PR (#3093) is already merged.  The frontend PR (#3165) is still open but I think was more or less there?

[2019-02-11 18:42] mabashian commented on #2630
@AlanCoding yep, just waiting for #3165 to be tested then we'll get it merged in

[2019-02-11 18:51] mabashian commented on #3195
Do you mean vertical scroll bar here?

The only thing that comes to mind to address this would be to allow the output panel (on the right) to grow either a) as tall as the page or b) as tall as the details panel (on the right) - whichever one is taller.  That would avoid the scrollbar on the details panel but it would mean that the whole page would scroll.  I'm not really sure which of those optio

[2019-02-11 18:54] mabashian commented on #3189
Removing the UI label for now - I think that the symptoms you're seeing in the UI are a result of whatever's gone sideways on the back-end.

[2019-02-11 18:57] mabashian commented on #3170
@daemenseth do the lines remain out of order after you refresh the page or are they just out of order initially as the job is running?

[2019-02-11 19:17] unlikelyzero commented on #3195
Yes, sorry.

[2019-02-11 19:21] mabashian commented on #3170
@daemenseth In order to help us isolate whether the lines are being displayed in the same order that the api provides can you compare the output order from the UI with the downloadable `.txt` output order.  The results of that comparison may help us to know where to start.

[2019-02-11 19:27] mabashian commented on #3167
@ahuffman I'm not currently able to reproduce this issue in the upstream awx project:

![host_vars_json](https://user-images.githubusercontent.com/9889020/52587841-07165c00-2e09-11e9-8c7f-2d8dc4c84c52.gif)

Does the above gif accurately reflect your reproduction steps?  When I initially load the host form the variables are displayed in yaml as expected.

[2019-02-11 19:35] ghost opened #3208 "Kubernetes is unable to execute from Ansible AWX"
@AlanCoding @ryanpetrello @willthames @chouseknecht

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Ansible AWX Kubernetes Jobs/yaml is unable to execute.

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker on linux
* Ansible version:  Ansible 2.7.4
* Operating System:
  NAME="Ubuntu"
  VERSION="18.04.1 LTS (Bionic Beaver)"
* Web Browser: Safari Web Br

[2019-02-11 19:38] mabashian commented on #3163
We could add a schedule icon to the templates list view that navigated the user straight to the schedules related tab on the JT/WFJT.  This would behave in a similar way to the workflow visualizer icon.

[2019-02-11 19:53] matburt commented on #3208
Looks like you aren't authenticated

[2019-02-11 19:53] #3208 closed, assigned to nobody

[2019-02-11 19:57] ryanpetrello commented on #3208
If you're seeing the above `IOError`, I suspect that `/var/lib/awx/.kube` is being blocked by bubblewrap.  See https://docs.ansible.com/ansible-tower/latest/html/administration/proot_func_variables.html#bubblewrap-functionality-and-variables for details.

[2019-02-11 20:02] jakemcdermott commented on #3199
Hello,

Thanks for creating this issue. We published the new image this morning, so I think this should now be resolved.

[2019-02-11 20:02] #3199 closed, assigned to nobody

[2019-02-11 20:15] ahuffman commented on #3167
Yes @mabashian.  Looks like it's not a problem upstream.  Thanks for validating someone has corrected this already.

[2019-02-11 20:18] ahuffman opened #3209 "Pop out host_vars"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

It's extremely difficult to view host_vars in an inventory if you have more than 4-5 set.  It would be nice if there was a button to pop-out the host_vars from an inventory similar to how you can pop-out extra_vars on a job log pane.

##### ADDITIONAL INFORMATION

[2019-02-11 20:26] ghost commented on #3201
Thanks Bill for your response. When you move this to job template level,
will user still have option to choose any repo? if yes, then it will not
solve the problem. If yoi are making RO repo in job template and RW branch,
then it will work out.

On Mon, Feb 11, 2019 at 9:46 AM Bill Nottingham <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-02-11 20:53] mabashian commented on #3108
fwiw the stdout looks good in the api browser for me at the head of devel

[2019-02-11 21:05] ghost commented on #3208
Hi @ryanpetrello

I have already done the ... Paths to Expose to Isolated Jobs  as AWX_PROOT_SHOW_PATHS  = /var/lib/awx/.kube

![image](https://user-images.githubusercontent.com/38637223/52593241-548ccc00-2dfd-11e9-8781-0302b5d08324.png)

Still the same error ...

By the way, I don't have option or choice or way to Enable the Job Isolation from OFF to ON. And I’m getting the error message …. “This

[2019-02-11 21:10] vismay-golwala commented on #3209
@ahuffman is this the pop-out you are referring to?

![Pop-out SS](https://user-images.githubusercontent.com/15652962/52593641-709d6700-2e17-11e9-8430-fa1c232ff6d3.png)

[2019-02-11 21:11] mabashian commented on #3102
This _seems_ like it's a python error getting exposed in the UI.  Typically the UI displays whatever error message the api passes back in the response.

[2019-02-11 21:22] mabashian commented on #3073
Enabled/Disabled on the template row is controlled by `summary_fields.user_capabilities.edit` so as it's currently written I would expect the row to be disabled if the user adding/editing the wfjt does not have permissions to edit the job template.  @AlanCoding is that the appropriate behavior based on what the api is expecting?  We filter the templates list like so:

`/api/v2/unified_job_template

[2019-02-11 21:37] mabashian commented on #3022
For usability purposes I definitely agree that hitting enter while focused on a form should submit the form.  That being said, I don't know that this has ever worked in the awx UI.  I think that we should definitely fix the inadvertent toggle and then have a conversation about what we expect the `enter` key to do moving forward.

[2019-02-11 21:59] rootchord commented on #604
So, just to clarify, if i map a team to an AD group, it CAN NOT handle users in nested groups that are members of that group? any AD group i use with ansible HAS to be flat(users only)?

[2019-02-11 23:00] #2554 closed, assigned to AlanCoding

[2019-02-11 23:13] unlikelyzero opened #3210 "Dashboard 'Job Status' dropdown wonkiness"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Dashboard 'Job Status' dropdowns persist once selected. This is visually jarring, but they continue to function as intended. In addition, once a Dashboard dropdown has been interacted with and the user resizes the browser, the dropdown selects will realign to the menu sidebar. At this point, they will overlap and it becomes

[2019-02-11 23:27] unlikelyzero opened #3211 "If a playbook which generates artifacts is launched as a SJT, artifacts are not displayed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
If a playbook which generates artifacts is launched as a SJT, artifacts are not displayed. If that SJT is converted to a JT and relaunched, the artifacts are still not displayed. Not until that playbook is launched from the Template view are artifacts generated by the playbook.

##### ENVIRONMENT
* AWX version: 3.0.2

[2019-02-11 23:36] unlikelyzero commented on #3197
I'm closing this one as filed. https://github.com/ansible/awx/issues/3193 still causes inconsistent artifact display behavior tho

[2019-02-11 23:36] #3197 closed, assigned to kialam

[2019-02-11 23:41] unlikelyzero commented on #3193
![inconsistentartifacts](https://user-images.githubusercontent.com/12446869/52601338-72bdf080-2e2c-11e9-9bfc-47529bb484f6.gif)

The artifacts are only displayed on refresh in this gif, but the artifacts codemirror is displayed if the api call to the completed job is at the precise time. Otherwise, no artifacts are displayed

[2019-02-12 00:18] wenottingham commented on #3209
This is akin to #1268... presumably a similar implementation could work.

[2019-02-12 05:07] nandeeshb09 commented on #3204
Thanks Wen,
I know its not issue with installation.But its not working from awx ui.
 Its working in local, but not working from AWX ui.? if i try to run any playbook,its giving the same error in ubuntu machine.

[2019-02-12 05:18] ghost commented on #3201
Also the fundamental issue which you are twlking about is creating by
Ansible Tower not by us.

Todat there is no way in tower to creater developer role without being
project admin. It is limitation of tower.

On Mon, Feb 11, 2019 at 9:46 AM Bill Nottingham <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-02-12 09:09] daemenseth commented on #3170
@mabashian I don't know if they out of order if the job is running.
I have dowloaded .txt file in that file the order is correct.

[2019-02-12 12:35] AlanCoding commented on #3073
I don't see how admin permission would be relevant here. I would expect that either:

 - templates list is filtered based on user execute role, and no items are greyed out
 - template list is not filtered, and items are greyed out that user does not have execute role for

Even if you're going to answer a survey, or provide prompts, you only need execute role to the JT or WFJT.

[2019-02-12 12:39] ryanpetrello commented on #3170
@daemenseth if you visit `/api/v2/jobs/N/stdout/` (where `N` is the job number/ID), are the lines shown out of order?

[2019-02-12 12:51] ryanpetrello commented on #3208
If you've got bwrap turned off entirely (which seems to be the case from your screenshot), and you're still seeing `IOError: [Errno 2] No such file or directory: '/var/lib/awx/.kube/config'`, then I agree with @matburt, it sounds like your task container doesn't have kube credentials configured properly.

[2019-02-12 13:50] daemenseth commented on #3170
@ryanpetrello

I can't see the log see screenshot:
[Screenshot](https://i.imgur.com/vHpwCfF.png)

[2019-02-12 13:52] daemenseth commented on #3170
I can't see the output see screenshot

![](https://imgur.com/vHpwCfF)

[2019-02-12 14:03] ryanpetrello commented on #3170
If you visit `/api/v2/jobs/N/stdout/?format=txt_download`, it should download a text file w/ the stdout.  Is the stdout in the correct order there?

[2019-02-12 15:09] daemenseth commented on #3170
@ryanpetrello no there the stdout not in correct order
the order looks the same as in the ui

[2019-02-12 16:25] ryanpetrello opened #3214 "Launching a job with a large inventory is slow"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
1.  Create an inventory w/ 10k hosts:

[code]

2.  Launch a simple (fast) job pointed at that inventory with a host limit set to one host (e.g., `localhost`)
3.  The job takes up to a minute to start printing stdout.

![image](https://user-images.githubusercontent.com/214912/52650728-cd049300-2eb8-11e9-9148-faf859f99f03.png

[2019-02-12 16:31] guilhermeaiolfi commented on #452
It should at least remove the ssh fingertip from the known_hosts file when removing the host from the GUI.
@sudomateo  hint worked, thanks.

[2019-02-12 16:36] ryanpetrello commented on #3214
Before optimization:
![image](https://user-images.githubusercontent.com/214912/52651546-5c5e7600-2eba-11e9-8eb1-c609fdfda0b1.png)

After optimization:
![image](https://user-images.githubusercontent.com/214912/52651442-2e793180-2eba-11e9-929f-cc2ccec235e0.png)

[2019-02-12 16:41] ryanpetrello commented on #3106
I think @chrismeyersfsu and I decided to abandon this specific PR for now, as it's not the issue encountered by the reporter.

[2019-02-12 18:35] thenetengineer commented on #3180
I had a similar issue with a script pulling inventory from Netbox, and it appears that AWX is using a PYTHONPATH that only includes the Python 2.7 site-packages, and not the new Python 3.6 site-packages.

I solved it by changing the PYTHONPATH to also include the new Python 3.6.

[2019-02-12 19:02] #3214 closed, assigned to nobody

[2019-02-12 19:44] unlikelyzero commented on #3211
Cannot reproduce

[2019-02-12 19:44] #3211 closed, assigned to nobody

[2019-02-12 19:56] dsesami commented on #3082
sidebar verified to behave normally in mobile mode; no longer has strange spacing issues.

[2019-02-12 19:56] #3082 closed, assigned to nobody

[2019-02-12 19:58] dsesami commented on #3081
Verified that this works correctly for templates, however, the issue persists with the projects view when copying them -- it reverts to compact mode.

[2019-02-12 21:32] kdelee commented on #171
@ryanpetrello re: your comment that we may be able to set some kind of "feature flag" to optionally enable this even if we don't want plugins enabled by default.

I think I would be comfortable with @AlanCoding getting his work in if:

We restrict plugins to only run if:
      a) a (optional) Boolean variable is provided to the inventory source `ansible_use_plugin` is set to `True`
AND
      b) th

[2019-02-12 21:32] kdelee commented on #171
There are other ways you could implement that but the above seems like lowest impact (no change to models)

[2019-02-12 21:49] kdelee commented on #3108
LGTM!
![screenshot from 2019-02-12 16-48-36](https://user-images.githubusercontent.com/29239279/52670270-1c14ed00-2ee6-11e9-9c97-612ce0ba3faa.png)

[2019-02-12 21:49] #3108 closed, assigned to kdelee

[2019-02-12 21:50] kdelee commented on #858
Can confirm this works

[2019-02-12 21:50] #858 closed, assigned to kdelee

[2019-02-12 22:21] ryanpetrello commented on #3106
Closing this, the actual issue is https://github.com/ansible/awx/issues/3205

[2019-02-12 22:21] #3106 closed, assigned to chrismeyersfsu

[2019-02-12 22:28] ryanpetrello commented on #3193
I think this is _actually_ a UI issue, not an API one.  Or at least, it's my opinion that the API currently provides everything necessary over the websocket interface to drive the expected behavior.  There are *two* important events we want to listen for, represented by:

A.  The dispatcher actually being _done_ with a job.  This *includes* the work necessary to persist facts/stats.  This is reali

[2019-02-12 23:11] ryanpetrello commented on #171
@kdelee I'll defer to @wenottingham for an *official* decision, but everything you said above to me sounds totally sane, and also I think trying to boil the oceans and support all of this in 2.7 is going to drive you all insane; it's kind of a pointless exercise given the current state of the world.

Let's get some code in that starts to work on progressive support for this, and keep moving.

[2019-02-13 01:40] jladdjr commented on #466
Leaving the `blocked` label on this ticket. Asked core if there's anyone on the core team that can review / move along the corresponding ansible issue:
https://github.com/ansible/ansible/pull/48418#issuecomment-462976503

[2019-02-13 10:00] RenderQwerty commented on #1731
@Testicule i feel your pain :( Hope they can get thinks done right

[2019-02-13 10:46] MrMEEE commented on #419
Hi Guys..

It's been another year.. The RPMs I'm currently making are becoming more and more stable and I was wondering if you could be interested in doing a joined effort, to let an RPM based installation be a officially support install method?

[2019-02-13 12:50] krentiken opened #3223 "Field "limit" for job template or ad_hoc command cannot be empty"
##### ISSUE TYPE
Field "limit" for job template or ad_hoc command cannot be empty

##### COMPONENT NAME
 - UI

##### SUMMARY
If the "limit" field is empty, then job template or ad_hoc command execute on all inventory servers.
It is necessary to make so that if the field is empty, then job template or ad_hoc command is NOT execute. We execute job template (ad_hoc command) on a large number of serve

[2019-02-13 13:12] krentiken opened #3224 "The "run commands" button in "ad_hoc" commands must be ACTIVE if no hosts or group is selected."
##### ISSUE TYPE

The "run commands" button in "ad_hoc" commands must be ACTIVE if no hosts or group is selected.

##### COMPONENT NAME

 - UI

##### SUMMARY

Often we need to "copy-paste" the hosts list from cmdb to the "limit" field to run commands. It would be very good that the "run commands" button was active, even if no hosts (groups) was selected from the list.

##### ADDITIONAL INFORMATION

[2019-02-13 13:12] jakemcdermott commented on #3223
Hello. Thanks for creating this issue.

Changing job templates in this way would make `limit` behave in a fundamentally different way from how it does in ansible core, which is not something we want to do.

The scenario you described is in alignment with regular ansible behavior: When running `ansible-playbook`, for example, _not_ specifying a limit would result in ansible considering all hosts in

[2019-02-13 13:12] #3223 closed, assigned to nobody

[2019-02-13 13:44] chrismeyersfsu opened #3226 "job_status logger doesn't exist; remove it from the docs"
https://github.com/ansible/product-docs/blame/91b1e17f4b4bd4bacfabaa22791803699b9dfc52/administration/source/logging.rst <-- Introduced the notion of `job_status` but that logger doesn't actually exist (and never did exist in code). We should remove `job_status` from the tower docs and from the awx/docs https://github.com/ansible/awx/blob/devel/docs/logging_integration.md

[2019-02-13 14:29] dsesami commented on #3081
all good :+1:

Verified that projects and templates maintain state when copying.

[2019-02-13 14:29] #3081 closed, assigned to nobody

[2019-02-13 15:13] ryanpetrello commented on #466
@jladdjr looks like they've made some review progress.  Can we start developing _against_ their PR, since it's probably _close_ to what the final product will be?  Should be pretty simple to install ansible _from that branch_ in our dev env.

[2019-02-13 15:24] Gankarloo opened #3231 "VMware vcenter_inventory: max_object_level gt 1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
VMware vcenter inventory fails if **max_object_level** is greater than 1

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: Oracle Linux 7
* Web Browser:

##### STEPS TO REPRODUCE

Create a new inventory source of type "VMware vCenter"
In SOURCE VARIABL

[2019-02-13 15:41] gravelander commented on #1316
Congrats @wenottingham, you didn't answer the question in either thread. Why is it intentional? Can it be circumvented?

[2019-02-13 17:03] jladdjr commented on #466
@ryanpetrello - absolutely, that's what I've been doing in the meantime

[2019-02-13 17:57] wenottingham commented on #1316
Custom logo is designed for people who need to brand their login screen (along with the custom login message).

In the downstream software (Tower), changing the top left logo is not allowed and will not be allowed, due to internal requirements, which is why custom logo isn't extended to that.

In the upstream AWX... if you're building your own thing you want to entirely rebrand... you've got the s

[2019-02-13 18:13] klaus385 commented on #1632
I can also, confirm this issue existing on AWX.

Stdout error without modifying the `project_update.yml`.

[code]

After adding `--force` to this [line](https://github.com/ansible/awx/blob/295afa805ca249ba1736724d77d95a0861574e53/awx/playbooks/project_update.yml#L143). the Job Template worked without any issues.

This issue however, does not appear within our Ansible Tower setup.

[2019-02-13 18:42] wenottingham commented on #3231
- for the vmware inventory script, this would need fixed in upstream Ansible first, and then brought into AWX
- *in general*, we are undertaking a move to inventory plugins. See https://github.com/ansible/awx/issues/171

[2019-02-13 19:08] Gankarloo commented on #3231
But there is nothing wrong with the script.
It's only when used via awx the problem shows.

As a workaround I uploaded it as a inventory script and it works as expected.

[2019-02-13 20:47] wenottingham commented on #3231
Sorry, I missed that - just saw the bit about using latest upstream under AWX not working.

[2019-02-14 07:51] krentiken commented on #3224
I think it's not a good idea to make an "active" button "run commands". It would be nice if we could upload a list of hosts file in the format of .txt , .csv or another... and executing commands

[2019-02-14 10:10] orgito opened #3236 "AWX 3.0.1 Custom Modules error: "UnboundLocalError: local variable 'module' referenced before assignment""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

After upgrading from 2.1.2 to 3.0.1 I'm getting `UnboundLocalError` on all my custom filter plugins. All the errors have a message similar to the one below:

[code]

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: Centos 7.6
* Web Browser: Ch

[2019-02-14 10:30] orgito commented on #3236
It turns out I forgot to install a requirement in the default virtualenv after upgrade AWX. The error message is really confusing and did not help :)

Anyway, I'll leave the command to fix this in case anyone else run into that issue:
[code]

[2019-02-14 10:30] #3236 closed, assigned to nobody

[2019-02-14 12:51] MrMEEE commented on #419
@matburt

[2019-02-14 13:07] tfmm commented on #3194
Closing this, as the issue was found.  Turns out our OKTA configuration was incorrect and was sending POSTs to the wrong URL.

[2019-02-14 13:07] #3194 closed, assigned to nobody

[2019-02-14 13:37] dsesami commented on #1932
confirmed verified as mentioned here: https://github.com/ansible/awx/issues/1932#issuecomment-453208456

[2019-02-14 13:37] #1932 closed, assigned to jlmitch5

[2019-02-14 14:51] wenottingham commented on #3224
That will not be added; the point is to work on the inventory defined in Tower.

[2019-02-14 15:10] mabashian commented on #2630
Everything's been merged in - closing

[2019-02-14 15:10] #2630 closed, assigned to jbradberry, mabashian

[2019-02-14 15:18] EdCampion opened #3237 "Document how to monitor both stdout and status through AWX API"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME

 - API

##### SUMMARY

I am trying to monitor a job through the awx api. To accomplish this I (every 500ms)
get the job status from jobs/{jobId}/
call jobs/{jobId}/stdout?format=json
Once both calls complete, I inspect job.failed, if true I output the message from stdout in red, else green.
Problem: A situation occurs where job.failed is fal

[2019-02-14 15:19] mabashian commented on #3164
Fixed by #3217

[2019-02-14 15:19] #3164 closed, assigned to elyezer

[2019-02-14 15:34] mabashian commented on #3224
I'm fine with enabling the button regardless of whether or not any hosts/groups have been selected.  Those checkboxes are really just a convenience to automatically fill the `limit` field.  Clicking the button without selecting anything first would just require the user to manually input a limit if one is desired.  I think this would mean that the button is always enabled.  If that's the case, sho

[2019-02-14 15:41] wenottingham commented on #1632
See https://github.com/ansible/awx/pull/3177. You will to manually update `project_update.yml` (or just build a new AWX from `devel`) until a new AWX release is cut.

[2019-02-14 15:41] #1632 closed, assigned to nobody

[2019-02-14 15:41] wenottingham commented on #3085
See https://github.com/ansible/awx/pull/3177. You will to manually update `project_update.yml` (or just build a new AWX from `devel`) until a new AWX release is cut.

[2019-02-14 15:51] jean-christophe-manciot commented on #1632
@wenottingham
The [Fix project updates to properly pull in role requirements. #3177](https://github.com/ansible/awx/pull/3177) commit **does not fix this issue**:

Running a project sync ("Get latest SVN revision") with "Delete on Update" leads to:
[code]

The following ```roles/requirements``` is present in the playbooks project root:
[code]

[2019-02-14 15:53] mabashian commented on #3158
resolved by #3213

[2019-02-14 15:53] #3158 closed, assigned to nobody

[2019-02-14 16:03] jean-christophe-manciot commented on #1632
Deleting & recreating the same project does not change the outcome.

[2019-02-14 16:10] wenottingham commented on #1632
[code]

The only conditional on that block after the change is `when: roles_enabled|bool`. Check your settings?

[2019-02-14 16:10] grimlokason opened #3238 "Add information ( like firstname and lastname ) on users team list"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Being able to know who is behind the "username" while reading the list of user in a team like when we add an user in a team.

##### ADDITIONAL INFORMATION

The UI to change : ![user groups list](https://docs.ansible.com/ansible-tower/3.2.2/html/userguide/_images/teams-users-list.png)
exemple of url to acces that menu on a

[2019-02-14 16:16] wenottingham commented on #3238
Would a tooltip be appropriate here?

[2019-02-14 17:57] jean-christophe-manciot commented on #1632
Roles download is enabled:
![roles enabled](https://user-images.githubusercontent.com/13176858/52806876-63d47980-308a-11e9-85b4-5d3b38e23af5.png)

[2019-02-14 20:59] mgaruccio opened #3242 "No such file or directory error when running custom inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
When attempting to run a custom inventory script the job fails with the error below, seeming to indicate that the script itself does not exist.
[code]

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.6
* Operating System: Ubuntu
* Web Browser: Chrome

##### STEPS TO REPRO

[2019-02-14 21:14] mgaruccio commented on #3242
annd never mind, I had an invalid hashbang, sorry for the clutter

[2019-02-14 21:14] #3242 closed, assigned to nobody

[2019-02-15 13:16] benapetr commented on #1487
+1

[2019-02-15 13:41] AlanCoding commented on #3231
`VMWARE_INI_PATH=/tmp/vmware.ini /var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/plugins/inventory/vmware_inventory.py --list`

This will run the import with your config file, yes, but it means that you will lose your authentication-related environment variables, which include:

https://github.com/ansible/awx/blob/5682fb15034960521f3e57a6c8e74b176c74a67d/awx/main/models/credential/injectors.

[2019-02-15 15:39] Klaas- commented on #2422
Just in case anyone else comes across this; this is working as of awx 3.0.1. It just takes a couple of minutes for the instance to disappear from UI.

[2019-02-15 16:23] #2998 closed, assigned to nobody

[2019-02-15 18:29] ryanpetrello commented on #2769
Hey everyone,

I believe I've got a resolution to this issue - any of you interested in giving this patch a whirl before I merge it?

https://github.com/ansible/awx/pull/3247

[2019-02-15 21:52] ryanpetrello commented on #2769
This issue should be resolved via https://github.com/ansible/awx/pull/3247

[2019-02-15 21:52] #2769 closed, assigned to ryanpetrello, chrismeyersfsu

[2019-02-15 22:22] ryanpetrello commented on #3142
Can you share the playbook you're running?  We'll need some more context to help you troubleshoot.

[2019-02-15 22:25] ryanpetrello commented on #3125
Are you encountering this in other browsers, or just Chrome?  What version of Chrome?  Have you tried upgrading?

[2019-02-15 22:27] ryanpetrello commented on #3102
@hiyokotaisa could you give some reproduction steps for the error you're seeing?  Thanks.

[2019-02-15 22:28] ryanpetrello commented on #3169
@shanemcd you have any ideas about this?

[2019-02-16 00:47] ghost opened #3248 "A simple kubernetes k8s module is unable to execute from Ansible AWX."
@AlanCoding @ryanpetrello @willthames @chouseknecht @fabianvf

##### ISSUE TYPE
 - Bug Report

Related to Issue : https://github.com/ansible/awx/issues/3208

##### COMPONENT NAME

 - UI

##### SUMMARY

Ansible AWX Kubernetes Jobs/yaml is unable to execute.

##### ENVIRONMENT
* AWX version: 3.0.1.0
* AWX install method: docker on linux
* Ansible version:  Ansible 2.7.7
* Operating System:
  NAME="U

[2019-02-16 07:46] sumkincpp commented on #2421
Also realized this one some time ago.
Relaunch and prefill survey with already stored extra_vars from the failed job(which is now opened) will be very usefull feature.

[2019-02-16 13:26] ryanpetrello commented on #3237
Ed,

Your approach _will work_, but polling the API over HTTP is always going to be a suboptimal way to approach this.  The AWX web interface _itself_ actually uses websockets to receive _push_ messages about new stdout and status changes for a job.  If you want better results, I'd recommend checking out this document:

https://github.com/ansible/awx/blob/devel/docs/websockets.md

...and using a l

[2019-02-16 13:27] #3237 closed, assigned to nobody

[2019-02-18 02:04] LukeDRussell commented on #2354
We're running 2.1.2 and experience the same, intermittent problem of stdout not being rendered in the ui. In my experience tower-cli renders stdout correctly.

Edit: Redeploying the project (in OKD / Openshift) will generally bring back the stdout rendering in the web ui.

[2019-02-18 02:54] saito-hideki opened #3249 "RFE: Hide artifacts values in workflow job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Using workflow job template, user wants to pass secret values with set_stats, but `artifacts` and `extra_vars` are not able to mask those values.
For the security reason, users want to mask these variables from the `artifacts` and `extra_vars` in the UI / API if necessary.

##### ADDITIONAL INFORMATION

1. Create a

[2019-02-18 11:33] ikkaro opened #3250 "Django profiled_pg fails the installation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Installer breaks in migrate task, django backend not found.

##### ENVIRONMENT
* AWX version: devel
* AWX install method: kubernetes
* Ansible version:  2.8.0
* Operating System: Ubuntu 18.04
* Web Browser: Firefox

##### STEPS TO REPRODUCE
Update inventory to point to external database host, user, password and databa

[2019-02-18 12:44] AlanCoding commented on #3249
Have you tried changing the first playbook to use `no_log`, like

[code]

I'm trying to find where that was documented, but looks like it might have been a notable omissions in the docs.

EDIT: or, maybe this was the original design and it was eventually dropped due to some problems with how we got the data, I don't remember at the moment

[2019-02-18 14:38] ryanpetrello commented on #3250
@ikkaro

If you're seeing `Error was: No module named 'awx.main.db'`, that suggests that the code you're running on `ansible-tower-management` is old (i.e., not `devel`, as suggested in your report).

This code does exist (and _is_ importable for me) on `devel`: https://github.com/ansible/awx/tree/devel/awx/main/db

[code]

[2019-02-18 14:51] matburt commented on #3250
@ikkaro Are you building your own images here?

[2019-02-18 15:15] dsesami commented on #2330
Verified that EXECUTION NODE and INSTANCE GROUP fields show correctly on the Jobs Details page for successful and failed jobs.

[2019-02-18 15:15] #2330 closed, assigned to marshmalien

[2019-02-18 16:01] dsesami commented on #2984
Verified the last windows compatibility tests, closing the issue.

[2019-02-18 16:01] #2984 closed, assigned to nobody

[2019-02-18 16:01] dsesami commented on #2985
Verified the last windows compatibility tests, closing the issue.

[2019-02-18 16:01] #2985 closed, assigned to nobody

[2019-02-18 16:02] dsesami commented on #2986
Verified the last windows compatibility tests, closing the issue.

[2019-02-18 16:02] #2986 closed, assigned to kialam

[2019-02-18 16:17] ikkaro commented on #3250
No, I'm running without building my images.

[2019-02-18 16:18] #3250 closed, assigned to nobody

[2019-02-18 16:34] AdrianDutu opened #3251 "Root user inside containers"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY
Currently, there is no root user inside the containers, or sudo rights given to the awx user.
This could be added as an optional step via an installer variable but I would prefer having it by default.

##### ADDITIONAL INFORMATION

I'm actually surprised this is not available. I have a lot of files that ansible use

[2019-02-18 16:46] wenottingham commented on #3249
@AlanCoding even if we did that, we don't actually track the origin of that down the workflow, as far as I know. (Plus if you start combining those into new variables....)

[2019-02-18 16:48] wenottingham commented on #3251
We recommend for cases like this where you want to do management of the system running AWX itself, that you connect via ssh (or similar) mechanisms as some non-awx user and then sudo; using sudo directly from a `connection: local` playbook has inherent security issues.

[2019-02-18 16:48] #3251 closed, assigned to nobody

[2019-02-18 17:07] AdrianDutu commented on #3251
@wenottingham That makes no sense. I don't think you understood what i mean. I'm not talking about managing anything from AWX. I'm talking about loging in to awx-celery or awx-web with a user capable of doing sudo or root (docker exec -u root -it awx_celery /bin/bash). The only user in passwd is awx and it has no sudo privileges.

[2019-02-18 17:11] tumbl3w33d opened #3252 "Allow additional directory mounts for local docker setup"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY

In my AWX jobs, which include regular backups and other kind of directory synchronizations, I'd like to access NFS shares directly instead of using a third server that mounts them for me. In a container I cannot mount the volume directly without adding privileges on container launch time.
The [elegant solution sin

[2019-02-18 17:26] unlikelyzero commented on #3828
@mabashian @wenottingham should this one get the `component:ui` tag?

[2019-02-18 17:30] AlanCoding commented on #3249
There was an attempt

https://github.com/ansible/awx/blob/889dae357b6448519b3c68c77068bedfe068a6a8/awx/main/models/workflow.py#L254-L257

It was combined into the same data structure used for tracking survey passwords (although since that time, management of survey passwords has undergone substantial changes).

But again, I believe there was an issue with the ability to have the data communicated,

[2019-02-18 19:08] kdelee commented on #3251
@Darkhan90 try this if you want to modify things in root space
[code]

[2019-02-18 19:17] kdelee commented on #3251
For some more background, AFAIK this has been a rub since there were changes to help us get running on zuul

Now if you want to do things like, say, install anything in `/venv/awx` you need to shell in like this: `docker exec --user=0 -it <name_of_container> bash`. I left a comment on the issue. You are effectively root but there is no root user I guess? :waves hands:

[code]

[2019-02-18 20:02] ryanpetrello commented on #2982
Are you editing the awx source code?  This shouldn't _ever_ be the case:

[code]

[2019-02-18 20:03] ryanpetrello commented on #2982
@ijmason,

Are you encountering this on the latest version of awx?

[2019-02-18 20:12] ryanpetrello commented on #2982
If _this_ is what you're encountering, 5 seconds seems like a _really_ reasonable delay for a few final events to be inserted into the database.  Are you seeing general slowness/performance issues with the speed at which stdout shows up?

Can you share the scale of your job events for a job run where you're encountering this?  For example, if you visit `/api/v2/jobs/N/job_events/` where `N` is som

[2019-02-18 21:00] matburt commented on #3248
There's your problem. I'm not sure that I agree with your statement that it's just not able to communicate with the cluster... if that's the case, though, then you have another problem.

[2019-02-18 21:00] #3248 closed, assigned to nobody

[2019-02-18 21:03] ryanpetrello commented on #3251
What @kdelee said - if you want root for arbitrary commands, use `docker exec -u0`

If you want your playbooks to use something not available to the `awx` user, then make them available to the `awx` user.

[2019-02-18 21:06] AlanCoding commented on #2922
Should be resolved by https://github.com/ansible/awx/pull/3206

[2019-02-18 21:13] jpic commented on #3251
Do we really still need venv in containers? As long as we're running non
root, isn't it fine to happily pollute the systèm level package space
during build time given that the images are supposed to be immutable ?

Confirming entering the container with --user root and having the container
locked into non root is the best practice (see docker security manual)

[2019-02-18 21:32] kdelee commented on #3251
Well that is a whole other can of worms. If you are really passionate about it I'd make a separate RFE.

Seeing as the `awx` venv and the ansible execution environment are often different I think you'd have quite a few speedbumps to overcome if you wanted to ditch venvs. :man_shrugging:

[2019-02-18 22:10] jlmitch5 opened #3255 "likely bootstrap upgrade issue: JT with allow provisioning callback/host config key set causes console error on load"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
JT with allow provisioning callback/host config key set causes console error on load.  This is probably due to bootstrap upgrade based on the nature of the console error message

##### ENVIRONMENT
* AWX version: devel

##### STEPS TO REPRODUCE

Save JT when provision callback checkbox under options and a host config key is s

[2019-02-19 09:39] Saurabh-Thakre commented on #286
I would like to have the ability to assign machine credential by inventory group as well

[2019-02-19 13:23] benapetr opened #3258 "Workflow display for running job is not using most of screen space"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Just open any running workflow - you will see that workflow visualisation is going to be extremely small vertically, only fixed pixels in height. Most of screen space is not utilized, and workflows that hav

[2019-02-19 13:45] benjdudas opened #3259 "RFE: Option to map multiple attributes in SOCIAL_AUTH_SAML_TEAM_ATTR"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Allow the mapping of multiple attributes (saml_attr) in SOCIAL_AUTH_SAML_TEAM_ATTR to support team mapping for Orgs that have the same Team names.

##### ADDITIONAL INFORMATION

Currently only one attribute can be mapped  which will add users to the same team name in multiple organizations:

For Example:
[code]

[2019-02-19 14:25] dtardoin commented on #3125
We're encountering this in every browser. Also we're running AWX 2.1.2.0, not 2.0.0. We've upgraded since I put in the initial bug report.

[2019-02-19 17:52] matburt commented on #2279
Looks like we have multiple resolutions and suggestions so I'm closing this one.

[2019-02-19 17:52] #2279 closed, assigned to nobody

[2019-02-19 17:58] elyezer opened #3263 "Compact list breaks My View page on small resolution (1200x800)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

The compact list does not render properly the _My View_ page on a 1200x800 resolution. See the additional information section for the screenshot.

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on linux
* Ansible version:  2.6
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1

[2019-02-19 18:34] dsesami commented on #2988
Finished verification scenario on windows and the sidebar is fine now, marking as closed.

[2019-02-19 18:34] #2988 closed, assigned to kialam

[2019-02-19 20:45] dsesami commented on #2987
Verified that this appears correctly on chrome and firefox and responds well to varying widths.

[2019-02-19 20:45] #2987 closed, assigned to kialam

[2019-02-19 21:00] dsesami commented on #3135
Verified that this redirects on both chrome and firefox correctly.

[2019-02-19 21:00] #3135 closed, assigned to marshmalien

[2019-02-20 03:04] sshvetsov commented on #2949
This is also an issue in Ansible Tower v3.3.4.

[2019-02-20 11:08] AdrianDutu opened #3267 "AWX 3 using wrong python libs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI
 - Installer

##### SUMMARY
Playbook running from AWX UI fails, but running ansible-playbook inside awx_celery with the same play works. My playbook is looking like this:

`---
- hosts: 127.0.0.1
  connection: local
  tasks:
    - name: Import inventory
      shell: "awx-manage inventory_import --source=hosts --inventory-name=bwin --overw

[2019-02-20 13:03] ryanpetrello commented on #3267
@AdrianDutu,

This is a bug in the `enum34` library:
https://bitbucket.org/stoneleaf/enum34/issues/19/enum34-isnt-compatible-with-python-36

[code]

This is usually a sign that your awx virtualenv mistakenly has `enum34` installed (`enum34` is a python2 *only* packaged intended to act as a _polyfill_ for the `enum` module in python3 - many libraries in the python2 ecosystem depend on it as a sourc

[2019-02-20 13:51] Commifreak commented on #2225
Exact what I thought. Since AWX uses DB-migration it should detect an existing DB and upgrade itself.

I just a few momemts away from updating from 2.1.2 to 3.0.1 using docker method. I hope it works, since the official way is still export and import data via a third party tool afaik.

[2019-02-20 13:57] ghost commented on #342
+1

[2019-02-20 14:01] ghost commented on #2905
+1

[2019-02-20 14:13] AdrianDutu commented on #3267
@ryanpetrello
That is the thing. It's a fresh install. I have not installed anything custom.
My inventory looks like this:

 hostname1.**** ansible_connection=local
dockerhub_base=ansible
kubernetes_context=awx-prod
kubernetes_namespace=awx
tiller_namespace=kube-system
awx_task_hostname=awx
awx_web_hostname=awxweb
host_port=80
pg_hostname=******
pg_username=awx
pg_password=******
pg_database=awx
p

[2019-02-20 14:18] ryanpetrello commented on #3267
@AdrianDutu can you share the output of this command:

`/var/lib/awx/venv/awx/bin/pip freeze`

[2019-02-20 14:26] ryanpetrello commented on #3125
@dtardoin,

Can you expand on this?  Are users keeping browser windows open and coming back hours/days later, or are they closing their browser window/tab and revisiting the AWX install again?  Do you have a custom `SESSION_COOKIE_AGE` setting value set, or are you relying on the default (30 minutes)?  When you log out, are you logging back in and then immediately launching a job template (and see

[2019-02-20 14:30] jpic commented on #3251
Thanks for your enlightening reply, isolation between two distinct Python
products encapsulated by a single image does make sense, unless at some
point you plan to import the Python API of one into the other, in that case
both the products will have to do the effort of following upstream updates
of common dependencies (which is a good practice to have anyway).
Passionate enough to naively ask what

[2019-02-20 14:46] ryanpetrello commented on #3125
Also, when you encounter these pop-ups, are you able to see a `csrftoken` cookie in your browser console?

<img width="1339" alt="image" src="https://user-images.githubusercontent.com/214912/53099728-5a1c9d00-34f4-11e9-8ee2-cd3d090835ab.png">

[2019-02-20 14:55] jpic commented on #3125
Iirc the Django csrf middleware will return an invalid csrf token response
when it receives no csrf_token in a POST request, or when it can't find the
token it has received in the user session.

You really need your session backend to persist perfectly, ie. local memory
cache backend will fail the session cache backend in numbers of cases,
because the cookie only stores the id of the session data

[2019-02-20 15:04] dtardoin commented on #3125
Users are keeping browser windows open longer than the "Idle Time Force Logout," getting logged out and when they re-authenticate and try to post any form, whether it's running a playbook or editing a template it throws the CSRF validation error.

I should note that this only happens to users that are using Github Org authentication.  I haven't seen it with native authentication.

No on the custom

[2019-02-20 15:11] ryanpetrello commented on #3125
@dtardoin,

Yea, I'm also unable to reproduce this with Github Org authentication enabled.

1.  Log into Github Org SSO
2. Wait a bit for auto-logout.
3.  Log into Github Org SSO again
4.  Jobs launch fine for me.

When you encounter this failure, do you see the HTTP 403 for `/api/v2/jobs/N/relaunch/` in the `Network` console tab?  Can you share with me the request and response that's being sent w

[2019-02-20 15:43] AdrianDutu commented on #3267
@ryanpetrello

amqp==2.3.2
ansiconv==1.0.0
appdirs==1.4.2
asgi-amqp==1.1.3
asgiref==1.1.2
asn1crypto==0.24.0
attrs==17.4.0
autobahn==18.3.1
Automat==0.6.0
awx==3.0.1.0
baron==0.6.6
billiard==3.5.0.4
boto==2.47.0
celery==4.2.1
cffi==1.11.5
channels==1.1.8
constantly==15.1.0
cryptography==2.3.1
daphne==1.3.0
defusedxml==0.5.0
Django==1.11.16
django-auth-ldap==1.7.0
django-cors-headers==2.4.0
django-

[2019-02-20 15:47] ryanpetrello commented on #3267
@AdrianDutu have you installed a python package into your *global* site-packages that included `enum34`?

`~ sudo pip freeze | grep enum`

[2019-02-20 16:12] AdrianDutu commented on #3267
@ryanpetrello I didn't install anything. But the output of that command is:
bash-4.2# pip freeze | grep enum
enum34==1.0.4

[2019-02-20 17:10] ryanpetrello commented on #3267
@AdrianDutu if you `pip uninstall enum34` from your global site-packages, does the problem go away?

[2019-02-20 17:26] ryanpetrello commented on #3126
It would be ideal to expose this as a configurable setting e.g.,

[code]

...and update our code to _also_ discover venvs in _those_ locations.  Things to consider:

1.  We'd want to be able to _set_ this programmatically via the API at `/api/v2/settings/all/`
2. The UI should show this setting and let you edit a configurable list (similar to how the `AWX_PROOT_SHOW_PATHS` proot whitelist works)

[2019-02-20 17:29] ryanpetrello commented on #3126
@vismay-golwala have a look at https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md for details on how this feature works _today_

[2019-02-20 17:31] AdrianDutu commented on #3267
@ryanpetrello No, it doesn't.

[2019-02-20 18:00] AdrianDutu commented on #3267
If I try exactly the same steps on 2.1.2, I get a totally different error:

  File "/usr/bin/awx-manage", line 9, in <module>
    load_entry_point('awx==2.1.2.0', 'console_scripts', 'awx-manage')()
  File "/usr/lib/python2.7/site-packages/awx/__init__.py", line 134, in manage
    prepare_env()
  File "/usr/lib/python2.7/site-packages/awx/__init__.py", line 89, in prepare_env
    if not settings.DE

[2019-02-20 18:22] AdrianDutu opened #3273 "shell module not finding paths inside awx containers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
 - Installer

##### SUMMARY
I have a few playbooks that are using the shell module and the chdir argument. The paths I give to this argument are not recognised. These paths are inside the awx_celery container.

One simple play example:

`- hosts: 127.0.0.1
  connection: local
  tasks:
    - name: Import inventory
      shell: "awx-manage i

[2019-02-20 18:25] wenottingham commented on #3273
See the 'job isolation' checkbox in settings. (Note: you likely shouldn't change this if you have multiple organizations writing and running playbooks through AWX).

Workaround: use a directory that's *not* /var/lib/awx/shared as your shared directory. (Somewhere in /opt?)

[2019-02-20 18:25] #3273 closed, assigned to nobody

[2019-02-20 18:33] mrj1m0thy opened #3274 "Custom rabbitmq password doesn't apply to the rabbitmq container"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
When using a custom password for rabbitmq during the installation process, the password is not actually changed in the rabbitmq container but the custom password is stored in the AWX installation causing a 500 error when trying to do any sort of major changes in AWX.

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX insta

[2019-02-20 19:08] ryanpetrello commented on #3267
After you run:

[code]

...does:

[code]

...still show the `enum34` package?

[2019-02-20 21:45] vismay-golwala commented on #3126
@ryanpetrello should we still keep ```BASE_VENV_PATH``` setting? If we are accumulating all the custom virtual environments from different directories, I was wondering if a base path is still necessary.

[2019-02-20 21:48] anasypany commented on #3134
@AdrianDutu Could you share what you modified in deployment.yml.j2 to get the trusted ca certs working? Currently experiencing the same requirement for ldap auth.

[2019-02-20 23:09] konkolorado commented on #3274
It almost looks like the different installation procedures are using different variables to set the rabbitmq default password.  The compose deployment seems to not set the password at all.

The installer [installer/roles/local_docker/tasks/standalone.yml](https://github.com/ansible/awx/blob/0dbf21a15c3f26879ae31a8d15c8535828c081a1/installer/roles/local_docker/tasks/standalone.yml#L109)  references

[2019-02-21 00:02] skinlayers commented on #3250
I'm now running into the same issue when attempting to install in GKE. I guess that solution is to build the images, rather than pulling them from docker hub?

[2019-02-21 01:39] ryan012880 commented on #3155
I have tested the merge and it looks good :) thanks

<img width="1219" alt="screen shot 2019-02-21 at 9 35 49 am" src="https://user-images.githubusercontent.com/10410660/53137115-771ca300-35bc-11e9-8f75-104a675de64f.png">

[2019-02-21 01:53] unlikelyzero commented on #1266
I'll take a look at testing this ticket

[2019-02-21 05:44] Commifreak commented on #2225
Yep, worked. the mentioned duplicate entry error showed up but I ignored it.

[2019-02-21 05:58] Commifreak opened #3276 "[3.0.1] Could not connect to websocket: 403"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

After Upgrade to 3.0.1, I get no live Job output anymore. Errors showing up in the browsers developer console: My Firefox can no longer connect to the AWX websocket at /websocket/:

Request:
[code]

Response:
[code]

![unbenannt](https://user-images.githubusercontent.com/87267/53146721-98be6000-35a5-11e9-8ee3-6c32810fe7d4.

[2019-02-21 07:58] skinlayers commented on #3250
A-ha! I figured out what was going on with the "'awx.main.db.profiled_pg' isn't an available database backend." error I was getting. If you check out the default "devel" branch of awx from github, it will still attempt to use 3.0.1 docker images (whether built locally, or pulled from docker hub). roles/image_build/tasks/main.yml reads the "awx_version" variable from the file VERSION at the root of

[2019-02-21 09:14] benapetr commented on #2350
We have infrastructure with 10 000 servers, 20+ inventories and 30+ organizations (we use organizations for teams, because organizations are only isolated groups of users with own inventories, projects and templates).

It's already extremely hard to navigate through jobs or templates as there is no hierarchy.

[2019-02-21 09:16] skinlayers commented on #3180
I'm running into the same thing with GKE:
[code]

[2019-02-21 09:51] AdrianDutu commented on #3134
@anasypany my certificates are kept in /etc/pki/ca-trust/source/anchors on the host machines.
So in the deployment yaml i added a volume with this path:

[code]

Then I added a mount point to this volume in the awx_web container specs and mount it in the same path inside the container:

[code]

[2019-02-21 10:29] benapetr opened #3277 "Create contraints for launching new jobs connected to system resources (don't launch more jobs if system is out of RAM)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY
It would be cool if AWX could be configured to prevent launching of tasks for example if 90% of RAM is actively being used by instance where AWX runs. Right now it's not connected to OS resources in any way, which requires very inefficient setup (in peaks AWX uses about 15GB RAM, but most of time about 5GB, yet we had to

[2019-02-21 12:17] benapetr commented on #3258
Here is what I think should expand in the view, right now it's really hard to see whole diagram:
![image](https://user-images.githubusercontent.com/1560121/53168489-033dc300-35db-11e9-9c21-9ec37c9c59a8.png)

[2019-02-21 14:25] ryanpetrello commented on #3250
Sorry for the confusion @skinlayers @ikkaro; we only periodically cut releases and official images, so if you're running the bleeding edge on `devel`, you definitely need to build your own local images for many things to function.

[2019-02-21 15:41] jpic commented on #3125
It will help to know the logical path taken by the middleware that makes it reject the token.

Can you add prints or use epdb inside [django.middleware.csrf.CsrfViewMiddleware](https://github.com/django/django/blob/master/django/middleware/csrf.py#L200-L313) and post the results here ?

@ryanpetrello that should tell if it's missing or incorrect or expired or else.

[2019-02-21 19:00] unlikelyzero commented on #3193
Tested that 10 successive JT+Artifacts complete with rendered `Artifacts` field on Job Results detail page.
@kialam @ryanpetrello do you want to close it?

[2019-02-21 19:47] wenottingham commented on #1845
I suspect this is better restricted to workflows that have a workflow-level inventory defined, rather than individually assessing each template in the workflow.

[2019-02-21 19:50] wenottingham commented on #3277
This is what the capacity sliders are for, in terms of forks. Since there's no way to determine exactly how much resources the next job will run, it doesn't make sense to wait for an arbitrary low water mark that may not be relevant.

[2019-02-21 21:47] AlexSCorey opened #3283 "Left border issue for lists with toolbar."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Left border has styling issues for the first and last items in the new lists that include the new toolbar.  The issue is in:
- Templates
- Projects

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker for mac
* Ansible version: 2.7.5
* Mac OS 10.14.3 (Mojave)
* Web Browser: Google Chrome

##### STEPS TO REPRO

[2019-02-22 01:29] hiyokotaisa opened #3285 "Specify Instance Group when using RUN COMMAND on the inventory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

When using RUN COMMAND (ad-hoc) on the inventory, we cannot specify the Instance Group like Job Template. It would be great if it can be specified.

##### ADDITIONAL INFORMATION
I confirmed AWX 3.0.1.0 cannot specify the Instance Group.
![awx_screenshot](https://user-images.githubusercontent.com/4246532/53213513-9551d400

[2019-02-22 01:48] nutts opened #3286 "Unable to parse inventory file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
Failed in my first case, failing to parse the inventory file.

##### ENVIRONMENT
* AWX version: 2.1.2
* AWX install method: non-docker, find a google link https://www.howtoforge.com/tutorial/centos-ansible-awx-installation/
* Ansible version:  2.7.4
* Operating System: Cent OS 7
* Web Browser: firefox

##### STEPS TO

[2019-02-22 09:59] benapetr commented on #2922
Same issue with 3.0.1:

[code]

[2019-02-22 10:55] Commifreak opened #3287 "Inventory -> Hosts overview: Groups not displayed correctly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

At the hosts overview page, the groups are not displayed correctly.

![unbenannt](https://user-images.githubusercontent.com/87267/53238098-ba4c4400-3698-11e9-8c83-6300e5bea950.JPG)

##### ENVIRONMENT
* AWX version: 3.0.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: Ubuntu 18.04
* We

[2019-02-22 10:59] benapetr opened #3288 "inventory sync link "click to view log" is broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
When I want to click to cloud icon it always take me directly to home page, see where the link is pointing to on screenshot:

<img width="410" alt="image" src="https://user-images.githubusercontent.com/1560121/53238280-321a6e80-3699-11e9-967f-4cab043c5d86.png">

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: d

[2019-02-22 11:02] benapetr commented on #3277
I don't agree - if you know that you are already above some threshold (say 95% of RAM usage - should be possible to define by user) then it does make sense to prevent launching more jobs until RAM usage is lower. If you keep on spawning more jobs, you kill the server. Which is exactly what is happening now.

[2019-02-22 12:35] kpocius commented on #3267
Got the same issue when running AWX in Docker.

Running:
[code]
or
[code]
returns no results.

Running:
[code]
Does show that `enum34` is installed, which makes sense, since it's Python 2, but uninstalling it doesn't fix the issue.

[2019-02-22 13:07] Mikey032 opened #3289 "Cancel all jobs of the same job template"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Request for adding a cancel all jobs in a template feature. This because we once had to cancel over 20k jobs due to some misconfiguration and cancelling them one by one takes a lot of time, even with a script.

[2019-02-22 13:10] AlanCoding commented on #2922
This is the first `TransactionRollbackError` error I've seen. Yes, that is related, due to the volume of host-group membership modifications, but 3.0.1 doesn't have the patch either. It also looks like there might have been some stderr output.

[2019-02-22 14:24] AdrianDutu commented on #3267
@ryanpetrello it does not show anymore.

[2019-02-22 14:32] mgaruccio commented on #1519
Is there any documentation available for configuring the new middleware?  I attempted adding `CORS_ORIGIN_ALLOW_ALL = True` to /etc/tower/settings.py and restarted the AWX_WEB container but that doesn't seem to have had any effect.  Running AWX 3.0.1.0

[2019-02-22 16:17] unlikelyzero opened #3290 "Launching a JT which no longer exists does not surface an error to the user"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
If a job is deleted and then another user on the system attempts to launch that job, the API returns the proper 404 error but that's not presented to the user. They just have an inert button press. This happens for all launch buttons on all job types.

##### ENVIRONMENT
* AWX version: 3.0.0

##### STEPS TO REPRODUCE
1. Creat

[2019-02-22 17:04] AdrianDutu commented on #3267
@ryanpetrello I tried the following:

[code]

So the venv still had that.

I also tried (before uninstalling enum from the venv) to do a source then run my playbook and it was running fine from the terminal. Something doesn't add up here, same venv from terminal and awx, terminal works, awx doesn't.

Let's call it a small success though, now the play doesn't give that enum exception in AWX UI, but

[2019-02-22 19:16] wenottingham commented on #3289
There's no concept of a bulk cancel, so it would still take the same amount of time.

[2019-02-22 21:19] wenottingham commented on #3288
Can you get a browser console of what it's trying to request/do?

[2019-02-22 21:57] mabashian opened #3297 "Smart inventory host filter label styling off after Bootstrap upgrade"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Before Bootstrap upgrade:
<img width="481" alt="screen shot 2019-02-22 at 4 56 43 pm" src="https://user-images.githubusercontent.com/9889020/53273764-dd8be900-36c2-11e9-81ab-549e2069b0a1.png">

After Bootstrap upgrade:
<img width="1477" alt="screen shot 2019-02-22 at 4 53 52 pm" src="https://user-images.githubusercontent.com

[2019-02-22 23:14] unlikelyzero opened #3298 "Extra Variable field does not render as read-only in JT Prompt Preview"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The extra variable field on the JT prompt preview modal does not render as read-only.

##### ENVIRONMENT
* AWX version: 3.0.0

##### STEPS TO REPRODUCE
1. Create a WFJT with a promptable inventory and Extra Vars
2. Launch WFJT and view the Preview tab on the Prompt Modal.
Note: Does not appear read-only and the cursor blinks

[2019-02-22 23:15] p1rateg0ld opened #3299 "Can not stat file: Custom Credential template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
Trying to use a template from a custom credential creates the file, but the host cannot find it when its called.

To help debug I've created the following volume between the awx container and host: /tmp:/tmp

Doing so verified that the files are indeed being created, however they tend to disappear right

[2019-02-22 23:25] unlikelyzero opened #3300 "Users without the permission to create JTs see a 'Create JT' button on Dashboard Recent JT"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Users without the permission to create JTs see a 'Create JT' button on Dashboard

##### ENVIRONMENT
* AWX version: 3.0.1

##### STEPS TO REPRODUCE
1. Log in as a normal user with no permissions
2. Navigate to the Dashboard
Note: button to create a JT in the recent Job Template area is displayed
Note: clicking on the button n

[2019-02-22 23:32] cdeniro opened #3301 "syntax error executing junos_command module from source control"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
When using playbooks from git containing juniper_junos_command module there is always a syntax error on the first task

##### ENVIRONMENT
* AWX version: 3.0.1.0
* AWX install method: docker
* Ansible version:  2.7.7
* Operating System: ubuntu 18.04
* Web Browser: firefox

##### STEPS TO REPRODUCE

Connect to any playbook co

[2019-02-22 23:33] cdeniro commented on #3301
This is the playbook being executed

[code]

[2019-02-22 23:41] unlikelyzero opened #3302 "Stack trace thrown if improper format used during prompted Extra Var field entry"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Stack Trace thrown if improper format used during prompted Extra Var field entry

##### ENVIRONMENT
* AWX version: 3.0.1
* Operating System: MacOS
* Web Browser: Firefox

##### STEPS TO REPRODUCE
1. Create a JT with prompted Extra Var field
2. Launch JT and entry an incorrect extra_var format: "fff"
3. Click next on the Prom

[2019-02-22 23:53] unlikelyzero opened #3303 "If an Extra Variable YAML/JSON toggle is selected, the Launch button is disabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
If an Extra Variable YAML/JSON toggle is selected, the Launch button is disabled

##### ENVIRONMENT
* AWX version: 3.0.1

##### STEPS TO REPRODUCE
1. Edit a JT
2. Toggle the Extra Variable field from YAML to JSON
Note: Launch button is disabled

##### EXPECTED RESULTS
Launch button not disabled because nothing was modified

[2019-02-23 05:15] ddobrescu opened #3304 "A server error has occurred when opening UI after fresh install"
##### ISSUE TYPE
 - Bug Report
After installation the UI is giving and error on the initial login screen
##### COMPONENT NAME
 - UI
When opening the Web interface after the installation I am getting the error
"A server error has occurred."

##### SUMMARY
After installing AWX I am getting a Server error on the UI when trying to proceed to login

##### ENVIRONMENT
* AWX version: awx_task:3.0.1, post

[2019-02-23 05:33] ryanpetrello commented on #3286
@nutts,

https://www.howtoforge.com/tutorial/centos-ansible-awx-installation/ isn't a method of installing awx that the project maintainers generally provide support/help with.  If you're encountering this issue on the latest awx using one the supported installation methods (https://github.com/ansible/awx/blob/devel/INSTALL.md), please let me know and I'll reopen this.

[2019-02-23 05:33] #3286 closed, assigned to nobody

[2019-02-23 05:36] ryanpetrello commented on #3276
@Commifreak are you encountering this issue in any other browsers?  Are you able to click on the HTTP 403 errors and view the response body (does it provide any additional context?)

[2019-02-23 06:34] ryanpetrello commented on #3267
@AdrianDutu are you using the official images, or building your own?  Are you building your own Python?  Something is fishy here, because this *is* valid python2 syntax:

[code]

...but it *is* invalid Python3 syntax.

For one of these failing jobs, can you visit `/api/v2/jobs/N/` and share the `job_args` and `job_env` values?

[2019-02-23 15:17] jpic commented on #3125
To debug this, I recommend you add import epdb; epdb.serve() in the csrf
middleware source code. This will cause a breakpoint allowing to debug
remotely. In another session inside the container, import epdb;
epdb.connect() from a Python shell, then just step over each line of code
to discover the exact logical path that drove the csrf middleware to reject
the request. Note that you will have to in

[2019-02-25 05:14] skinlayers commented on #3180
I was able to fix it in Kubernetes/GKE by adding `pycryptodome==3.7.3` to `requirements/requirements_ansible.in` and `requirements/requirements_ansible.txt`. I attempted to follow the instructions for updating requirements in `requirements/README.md`, but other packages broke in the process.

[2019-02-25 07:16] Commifreak commented on #3276
Hi, thanks for your answer.

Interesting - I just tested Google Chrome, that is working:

![chrome](https://user-images.githubusercontent.com/87267/53320199-3a5eed80-38d5-11e9-8a72-2d1576ff4894.jpg)

But Firefox is still unwilling.

I can click on the 403 but the response is empty.

[2019-02-25 07:24] Commifreak commented on #3276
Got the problem: Using FoxyProxy since years - also with AWX. It seems that a FireFox Upgrade broke FoxyProxy's ability to proxy ws:// - disabling FoxyProxy recovers AWXs full functionality.

[2019-02-25 07:24] #3276 closed, assigned to nobody

[2019-02-25 07:25] Commifreak commented on #3287
Google Chrome does the same.

[2019-02-25 10:00] AdrianDutu commented on #3267
@ryanpetrello I am using the official images. The only thing I changed was to add some mount points to the kubernetes deployment. I didn't mess with anything else.

[2019-02-25 12:11] jensVe commented on #3304
same problem here.. @ddobrescu did you find any solution?

[2019-02-25 13:49] mcadotsch opened #3306 "Ansible 2.7.7 - Openstacksdk 0.12.0 BadRequestException: Unknown error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- awx_task:3.0.1
- Ansible 2.7.7
- Openstacksdk 0.12.0

##### SUMMARY

##### ENVIRONMENT
* ansible/awx_task 3.0.1

##### STEPS TO REPRODUCE

Use ansible module os_server to create server in openstack

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

##### ADDITIONAL INFORMATION

The same procedure works with Ansible 2.7.7 and latest Openst

[2019-02-25 14:04] ddobrescu commented on #3304
Hello @jensVe . My initial installation was using only docker and it seems that even if i deleted it and re-installed it , had the same issue. I installed docker-compose and isntalled it using the docker-compose option and now it seems like it is working but still trying to figure it out why it doesn't work with docker directly. Your docker-compose file is being created by the installation playboo

[2019-02-25 14:29] jensVe commented on #3304
Hi @ddobrescu , I added in the inventory pg_sslmode=disable and that did the trick for me

[2019-02-25 14:29] leoluk opened #3307 "Security concerns about unverified Docker build dependencies"
##### ISSUE TYPE
 - Feature Request / Discussion

##### COMPONENT NAME
 - Installer

##### SUMMARY

While looking at the installer sources, I found a few places where third party code or binaries were pulled in without pinning or verifying them.

Unverified binary fetched from GitHub:

https://github.com/ansible/awx/blob/b383144b69d9a0e375d4928514d844bf4fe012a8/installer/roles/image_build/template

[2019-02-25 17:20] unlikelyzero commented on #3303
Note: this is a symptom caused by the fact that the Extra_var JSON/YAML toggle sets the `isDirty` flag on all forms. For that reason, I'm going to keep this open as a symptom of a design decision which will mean that if further action is needed, this ticket will remain open and closed independent of any other impacts of that design decision.

[2019-02-25 17:28] jlmitch5 commented on #3303
Since the value is "dirty" in terms of it being a different value passed to the api, a workaround would be something like

update launch disable from being "form.$dirty" to being "form.$dirty and not (codemirror field $dirty and justToggleChanged)"
where justToggleChanged is set by callback for parse type change
we would also need to check to see if the value is $dirty in the $watch statement, whi

[2019-02-25 18:15] mabashian commented on #2949
~~This should be addressed by~~ https://github.com/ansible/awx/pull/3181.  #3181 addresses the fact that notification admin users were not seeing the notifications tab on resources.  I've outlined the expected behavior for other users/roles in that PR.

[2019-02-25 18:17] pabelanger commented on #3306
Do you need to use 0.12.0? I would upgrade to 0.24.0 if possible, as it has a number of fixes.

[2019-02-25 18:19] AlanCoding commented on #2540
Same as https://github.com/ansible/awx/issues/3306?

[2019-02-25 18:44] jlmitch5 commented on #1991
In devel with QE signoff

[2019-02-25 18:44] #1991 closed, assigned to jlmitch5

[2019-02-25 19:33] ghost commented on #3126
@ryanpetrello while adding paths using API, which of the following case would be appropriate to handle incorrect path:

1. Create a path with given name and then add it to settings.
2. Alert the user that the path doesn't exist and hence cannot be added.
3. Add anyways, but skip it while trying to fetch virtual environments from that directory.

Also, should I be modifying the ```get_custom_venv_c

[2019-02-25 20:37] ryanpetrello commented on #3126
I'd say validation here is probably two-fold.

The first pass of validation is _probably_ on the setting itself via some form of validator i.e., when user tries to *set* a value with a path that doesn't exist.

The second pass is probably when we actually call `get_custom_venv_choices`; we might want to have an `if not os.path.exists(custom_dir): logger.error(...)` so that users will see in the lo

[2019-02-25 20:51] mabashian opened #3309 "Management job notification list title needs padding"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
See screenshot:

<img width="1515" alt="screen shot 2019-02-25 at 3 47 49 pm" src="https://user-images.githubusercontent.com/9889020/53367721-e4aa3580-3914-11e9-928c-b2fde8ae0d1f.png">

##### STEPS TO REPRODUCE
As a superuser, go to the management jobs tab and click on the bell to configure notifications for that management

[2019-02-25 22:46] jeunii commented on #1016
Hello @sudomateo
I encountered a similar issue. Actually I have the exact same issue. My AWX setup is deployed in a kubernetes cluster. And rather than nginx as my Ingress, I have HA Proxy.
Would you by any chance know what would be the equivalent haproxy config ?

[2019-02-25 23:12] newlandk commented on #1016
I believe you would have configuration options like this under your frontend to overcome the challenges we faced noted above.
`http-request set-header X-Forwarded-Proto https if https`
`http-request set-header X-Forwarded-Proto http if !https`
`http-request set-header X-Forwarded-Port 443`
`option forwardfor`

Good luck!

[2019-02-26 05:45] Ompragash opened #3311 "For JT X, Admin on JT + Notification Admin on Org couldn't able to assgin Notification for that JT"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
For Job Template X, Admin on JT + Notification Admin on Org couldn't able to assgin Notification for that JT. According to this #2949 , notification tab is missing in JT for Org Admin but he can able to assign notify templates via API. But Admin on JT + Notification Admin on Org couldn't able to assign it via API and

[2019-02-26 06:01] mcadotsch commented on #3306
No, i new docker image ansible/awx_task with an up-to-date openstacksdk (0.24.0) would be the solution.

[2019-02-26 07:37] dmaleno opened #3312 "Error starting pods in installation openshift"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: openshift
* Ansible version:  2.6.4
* Operating System: CENTOS 7.5
* Web Browser:

##### STEPS TO REPRODUCE

ansible-playbook -i inventory install.yml

##### EXPECTED RESULTS
awx-manage migrate command works correctly

##### ACTUAL RESULTS
django.core.excep

[2019-02-26 08:43] ericzolf commented on #2905
Couldn't a first relatively simple step be to add a "Browsing URL" field which could contain placeholders e.g. for branch/tag/commit name and relative path to the playbook? Together with some examples, it would allow users to construct the correct URL to the playbook, without having to hold knowledge about specific Git repos in the AWX code. Something like `https://github.com/ansible/awx/blob/{{ p

[2019-02-26 10:49] manzarek123 commented on #2240
Can confirm. This is breaking some playbooks.

[2019-02-26 13:01] ryanpetrello commented on #3312
If you're installing from `devel`, you need to build your own image.  See: https://github.com/ansible/awx/blob/devel/INSTALL.md#official-vs-building-images

Duplicate of https://github.com/ansible/awx/issues/3250

[2019-02-26 13:01] #3312 closed, assigned to nobody

[2019-02-26 14:20] Saurabh-Thakre opened #3313 "Survey is not getting created using tower-cli"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
When we run tower-cli command to create Survey it's showing the command has completed but when we route to API endpoint to see created Survey, there is no Survey created.

##### ENVIRONMENT
* AWX version: 3.4.1
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.7.

[2019-02-26 14:34] Saurabh-Thakre commented on #3313
Reverted it to https://github.com/ansible/tower-cli/issues/669 and closing this one

[2019-02-26 14:34] #3313 closed, assigned to nobody

[2019-02-26 14:50] egidijus opened #3314 "Bulk add user to groups/teams/jobs - job failure monitoring."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- UI
- CLI
##### SUMMARY
I am trying to add a user to many groups, because I would like to use this user to get "job status" via api.
There is a project I am working on, to try and use a simple python script to interrogate AWX api.

I tried using the UI, but I got very tired of clicking on all the templates.
I tried to find a way to do it in t

[2019-02-26 15:07] turbofx commented on #3304
I can confirm doing a clean install I had to set pg_sslmode=disable as well to get the stack to come up.

[2019-02-26 16:14] kdelee commented on #3180
@rooftopcellist this may be of interest to you, when I saw `PyCrypto` involved

[2019-02-26 16:36] egidijus commented on #3314
Wow, just found this:
[code]

[2019-02-26 16:44] jakemcdermott commented on #3314
As you've pointed out, you should be able to filter by job status in the api`(?failed=True`), and also the ui searchable lists (`status:failed`).

Closing this issue as resolved - please reach out to our mailing list or stop by our irc channel if you have other questions.

[2019-02-26 16:44] #3314 closed, assigned to nobody

[2019-02-26 18:55] ghost commented on #3126
Do we validate uniqueness of path while adding it through API?

[2019-02-26 19:04] ryanpetrello commented on #3126
@vismay-golwala yea, we _should_ probably check for duplicates in the user-provided list _at the time_ the setting is applied (e.g., `HTTP PATCH /api/v2/settings/system {'CUSTOM_VENV_PATHS': ['/opt/', '/opt/'])

[2019-02-26 19:14] unlikelyzero opened #3316 "On an Org Max Hosts form, a user cannot enter an invalid min but can enter an invalid max"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
A user can submit an min value of 0 on the Organization Max Hosts form, but the form protects against an invalid min (i.e. -1). It does not protect against an invalid max value.

##### ENVIRONMENT
* AWX version: 3.0.1

##### STEPS TO REPRODUCE

1. on the Organization 'Max Hosts' field, enter a value above `2147483647`

#####

[2019-02-26 19:39] unlikelyzero opened #3317 "On an Org Max Hosts form, an empty value as entered is not treated as unlimited"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
A user can submit a min value of 0 on the Organization Max Hosts form and that is treated as an empty string on save. However, if the user attempts to enter an empty string, an error modal is thrown.

##### ENVIRONMENT
* AWX version: 3.0.1

##### STEPS TO REPRODUCE
1. On the Organization 'Max Hosts' field, enter a value and

[2019-02-26 20:16] ryanpetrello commented on #2434
@wenottingham we intend to solve this as part of:

https://github.com/ansible/awx/pull/3098

...by adding a new (optional) field to the Machine credential, which is `ssh_public_key_data`:

https://github.com/ansible/awx/pull/3098/files#diff-7d017aa98d3cddf99ff85fff0da8d743

[2019-02-26 20:19] ryanpetrello commented on #1654
@astraios @RRAlex,

We're currently working on implementing this (along with a more general plugin framework for credential lookups) here: https://github.com/ansible/awx/pull/3098

Would you mind reading over this, and leaving some feedback about whether you think it would work for you?
https://github.com/ansible/awx/pull/3098/files#diff-7d017aa98d3cddf99ff85fff0da8d743

...specifically, the secti

[2019-02-26 20:25] ghost commented on #3126
@ryanpetrello what path do we take here in case of example above:

1. Ask user to enter valid directories only and throw an error.
2. Discard duplicate values and insert rest without any error

[2019-02-26 20:31] ryanpetrello commented on #3126
I'd say if they specify a value with duplicates, either is appropriate.  It might be easiest for the user to just silently filter out the duplicates.

[2019-02-26 20:53] cdeniro opened #3318 "AWX_TASK_ENV['GIT_SSL_NO_VERIFY'] = 'True' not always honored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
I have set AWX_TASK_ENV['GIT_SSL_NO_VERIFY'] = 'True' in /etc/tower/settings.py and generally am able to update from git scm but randomly see jobs fail due to -
fatal: [localhost]: FAILED! => {"changed": false, "cmd": ["/usr/bin/git", "fetch", "origin"], "msg": "Failed to download remote objects and refs:  fatal: unable to

[2019-02-26 20:59] mabashian commented on #3317
https://github.com/ansible/awx/pull/3174/commits/3e80cd644918c1f3900ae045c6f9d2907eb00658 should address this @unlikelyzero

[2019-02-26 21:37] wenottingham commented on #2434
@ryanpetrello your above PR is for signed ssh certificates for SSH auth

This request is for a more generic credential pub/priv keypair that can be used for cert auth to random services.

[2019-02-26 22:06] sudomateo commented on #1016
@jeunii I'm sorry I do not have an exact HAProxy configuration handy but what @newlandk commented is a good start. As long as the headers are properly set it should be fine.

[2019-02-26 22:07] benapetr commented on #3288
I am not sure what you mean, that cloud icon is directly pointing to root page of AWX instead of page that displays sync progress as it is advertising.

Where exactly in browser console would I see this, I wouldn't expect this to be connected to any JS.

[2019-02-26 22:08] benapetr commented on #3288
but this should be very easy to reproduce in 3.0.1

[2019-02-26 22:30] unlikelyzero opened #3319 "On the Template Page, a JT relaunch is inert if launched against an inventory with insufficient licensed hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
On the Template Page, a JT launch is inert if launched against an inventory with insufficient licensed hosts.

##### ENVIRONMENT
* AWX version: 3.0.1

##### STEPS TO REPRODUCE
1. Create an inventory with a number of hosts which exceeds the licensed limit for that org.
2. Run a JT without any inventory/host/license limitation

[2019-02-26 22:52] ryanpetrello commented on #2434
Got it.  Okay then, let's continue to treat this as a separate enhancement.

[2019-02-26 23:01] jpic commented on #3125
Note the faq on django docs: https://docs.djangoproject.com/en/2.1/ref/csrf/#why-might-a-user-encounter-a-csrf-validation-failure-after-logging-in

[2019-02-27 03:52] unlikelyzero opened #3321 "Auto logout is inconsistently routing the session to the login page after session expiry"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

The Auto Logout functionality is not occuring consistently. I’m regularly thrown back to the login page if I’ve left a session idle <for some time> and I attempt to interact with an element of the page.

- I've seen this on the Org Edit, Job Results Detail, and Settings License pages.
- The page was in focus
- single user s

[2019-02-27 10:50] grimlokason commented on #3238
Hello,

It could be a quick work around to know who is who, but we won't be able to sort by first name/last name.

[2019-02-27 12:17] davidkirwan opened #3323 "Github Organisation OAUTH2 Callback URL Not Highlightable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The Github Organisation OAUTH2 Callback URL is not selectable or copyable in the UI. Hovering the mouse over this field shows up a :no_entry_sign: sign.

##### ENVIRONMENT
* AWX version: 3.4.0
* AWX install method: openshift
* Ansible version:  2.7.5
* Operating System: RHEL 7
* Web Browser: Firefox 65.0

##### STEPS TO REPR

[2019-02-27 13:59] grimlokason opened #3324 "Hosts listing for Smart inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Using the Hosts button on smart inventory pages is not showing them like normal inventory while  using the magnifier on "Smart Host Filter" show them.

##### ENVIRONMENT
* AWX version: 3.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.6
* Operating System: Windows 7.
* Web Browser: firefox 65.0.1 64bits / C

[2019-02-27 14:12] dsesami opened #3325 "tox API test flake"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
##### SUMMARY
zuul API checks occasionally fail, but work on `recheck`.
https://ansible.softwarefactory-project.io/logs/94/3294/29dbcc15fa8553f86e7e144e3b9358e1c92ee4c6/check/tox-awx-api/104ab12/ara-report/

[code]
##### ENVIRONMENT
* AWX version: latest

##### STEPS TO REPRODUCE

Unknown exactly -- the PR zuul check that was run is here:

[2019-02-27 14:15] chrismeyersfsu commented on #3325
Seems like there is a left-over tower container that is holding the wanted port. Ping @Spredzy @shanemcd @matburt

`docker-compose run --rm` <-- relies on cleanup _after_ so if a run messes up, things can be left behind.

[2019-02-27 14:17] grimlokason commented on #3324
Some logs from docker logs awx_web :
Click on hosts button on smart inventory with id 3 :
[code]

Same action on normal inventory with id 2 :
[code]

[2019-02-27 14:18] ijmason commented on #2982
@ryanpetrello:
The only edits made to the source were to add some additional logging / debug output.
We are still running 2.1.1 and have been busy with other work, so I can't confirm yet whether the latest version still exhibits the problem.  We've also implemented polling of the job status in our in-house software for jobs that aren't marked done after a certain amount of time, which has helped t

[2019-02-27 15:09] mabashian commented on #3319
https://github.com/ansible/awx/pull/3174/commits/3e80d0c3d1ce389b87c2004a9d13c830c355a3fd should address this

[2019-02-27 18:15] akcrisp opened #3327 "github.com"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2019-02-27 18:16] akcrisp commented on #3327
opened by accident

[2019-02-27 18:16] #3327 closed, assigned to nobody

[2019-02-27 18:25] akcrisp opened #3328 "image build error trying to build awx 1.0.6.8"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
I am trying to redeploy my awx 1.0.6.8 awx instance - we are seeing though the following in the awx_sdist_builder container -

npm ERR! git clone --template=/root/.npm/_git-remotes/_templates --mirror git://github.com/ansible/angular-tz-extensions.git /root/.npm/_git-remotes/git-github-com-ansible-angular-tz-extensio

[2019-02-27 18:27] #3283 closed, assigned to AlexSCorey

[2019-02-27 19:10] konkolorado commented on #3328
This is probably a firewall issue.  You can configure git to use https instead of the native git by adding the following line to Dockerfile.sdist
`RUN git config --global url."https://".insteadOf git://`

[2019-02-27 19:14] mabashian opened #3329 "OPTIONS call to api/v2/instance_groups/:id/instances throws 500"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Traceback:

[code]

##### ENVIRONMENT
* AWX version: 3.0.1

##### STEPS TO REPRODUCE
Make an OPTIONS request on `api/v2/instance_groups/:id/instances`
See error

##### EXPECTED RESULTS
200 response

##### ACTUAL RESULTS
500 response

[2019-02-27 19:30] cdvv7788 commented on #2862
I have a mixed need, where in some projects I need to directly integrate with github and in some others where I need to integrate with codeship (not an scm, obviously).
What I have in mind for this is a new item in the sidebar named "webhook", with a type, and several options depending on the selection. For github, for example, a push is sent for every change the repository registers, but with the

[2019-02-27 20:00] ryanpetrello commented on #3329
@mabashian this is fallout from py3 support, I'll dig into it.

[2019-02-27 20:04] matburt commented on #3328
`fatal: Unable to look up github.com (port 9418) (Name or service not known)`

Your problem is that your system can't resolve github.com from DNS.

Also, you are using a fairly old version of AWX.

[2019-02-27 20:04] #3328 closed, assigned to nobody

[2019-02-27 22:14] ryanpetrello commented on #2982
@ijmason so if you're seeing sustained counts of _zero_ events, that suggests to me that you've got a _notable_ delay in job event processing (if you've got zero events, it sounds like it's not working _at all_ in some cases), which is probably your _actual_ underlying issue.

[2019-02-28 13:20] AlanCoding commented on #3318
Could you check the details of the project updates at `/api/v2/project_updates/N/`, where N is the id of the update, which you can get from the URL in the UI. I am interested to find out if the dictionary under `job_env` contains the `GIT_SSL_NO_VERIFY` key. That will affect how we go about this problem.

[2019-02-28 13:31] #3329 closed, assigned to ryanpetrello

[2019-02-28 14:13] AlexSCorey commented on #3290
This issue will be addressed by PR # https://github.com/ansible/awx/pull/3174

[2019-02-28 14:16] mabashian commented on #3290
The underlying cause of this issue and https://github.com/ansible/awx/issues/3319 are the same which is why the fix for #3319 in #3174 will address this issue as well.

[2019-02-28 15:33] AlexSCorey opened #3337 "Broken search documentation link"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
-Documentation

##### SUMMARY
The link in Inventories --> Host --> documentation seems to be a broken link.

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker for mac
* Ansible version:  2.7.5
* Operating System: Mac OS 10.14.3 (Mojave)
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

1) Click on inventories
2) Cli

[2019-02-28 16:11] cdeniro commented on #3318
@AlanCoding Your hunch is correct. In the failed SCM update the GIT_SSL_NO_VERIFY key is missing but in a subsequent run of the same job, the key is there. I did a diff of the job_env from the 2 jobs and found that when the job was successful HOME is set to "HOME": "/root", and when the job failed it was    "HOME": "/var/lib/awx". Other then job id and the private dir they are identical

[2019-02-28 16:28] AlanCoding commented on #3141
note:

 - "id" is given by the plugin
 - "gce_id" is given by the script

We would probably use the former

[2019-02-28 17:18] jakemcdermott opened #3339 "Display failed job information, errors, etc. as output."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API (probably)
 - UI (yes)

##### SUMMARY
Currently, we display this type of information on the job details panel:

![job_error_details](https://user-images.githubusercontent.com/9753817/53586211-aea7c400-3b55-11e9-9fb0-ac8ea6529cdd.png)

This can be hard to read. It would be better if we represented these errors and tracebacks as if they w

[2019-02-28 17:54] jladdjr commented on #466
Checked with @one-t about playbook stats this morning. There are two items left for testing at this point:
* Verifying that playbook stats show up in external logging
* Verifying that nothing breaks during an upgrade

[2019-02-28 18:23] cdeniro commented on #3301
I figured this out. I was missing the Juniper.junos role in the project_backup folder that was downloaded from git. It is odd that the ansible output in awx didnt mention the role was missing

[2019-02-28 18:23] #3301 closed, assigned to nobody

[2019-02-28 19:38] tvo318 commented on #3226
Oops, I mistakenly closed this when it's not even mine to close.

[2019-02-28 20:55] unlikelyzero commented on #3001
I am assigned as the UI Test Owner for this feature.

[2019-02-28 20:56] #3309 closed, assigned to AlexSCorey

[2019-02-28 21:19] roostercactus commented on #2878
Hi, great.  I'm still running 2.x for now since that's what we have in production.  I'll test out 3.x probably later after a few more releases.  Honestly since the HP modules work fine with python 2.7.5 I haven't really needed this functionality.  I'm glad it's been improved in 3.x though and will try it out in the future since you never know when things might actually break and I really need a ne

[2019-02-28 21:19] #2878 closed, assigned to nobody

[2019-02-28 22:19] radioactive73 commented on #3274
Updating the referenced rabbitmq_default_password variable to rabbitmq_password in [installer/roles/local_docker/tasks/standalone.yml](https://github.com/ansible/awx/blob/0dbf21a15c3f26879ae31a8d15c8535828c081a1/installer/roles/local_docker/tasks/standalone.yml#L109) did the trick for me. The deployment through ansible now properly sets the password without having to manually update it. I had to c

[2019-03-01 04:04] gforster commented on #2688
This would be incredibly helpful for when the SAML IDP uses LDAP. e.g - Our team names end up looking like this: cn=SOMEGROUP,ou=groups,dc=our,dc=org,dc=com

[2019-03-01 07:28] seahurt opened #3344 "Create Playbook"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

Can I create a playbook through the web page other than pulling from git or reading from local?

##### ADDITIONAL INFORMATION
I am new to ansible and ansible tower. I cannot find the page to create playbook on the web. Is that already possible ? Or this function is just not necessary?

[2019-03-01 13:15] nicoherbigde opened #3345 "Adding time zone information to all Docker containers leads to AssertionError: database connection isn't set to UTC"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer
 - First Startup

##### SUMMARY
Adding time zone information (unequal to UTC) to all Docker containers leads to the above error message.

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: Ubuntu 18.04 LTS with time zone set to `Europe/Berlin`
* Web Browser: Saf

[2019-03-01 13:26] agaffney opened #3346 "Regression: API throws 500 when providing strings for params that expect int when creating job template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
When using the API to create a job template, a HTTP 500 error is thrown if you provide a string (rather than an int) for params such as `credential`, `inventory`, or `project`. This worked without issue in 2.1.2 (and earlier versions).

I was able to work around this by jumping through a few small hoops, but it's an unexpec

[2019-03-01 14:27] cdvv7788 opened #3347 "Job start notification"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
I would like to know (be notified) when a new job is started. This feature is important because normally there are more than 1 user, and knowing what is happening with relevant projects is a topic of interest.

[2019-03-01 15:00] AlanCoding commented on #1395
This issue isn't quoting the correct error from the output

is your error, and other people have already identified the root cause.

The ini error message is because Ansible core tries all available inventory plugins when parsing inventory. This has already been "fixed" in that only the script is enabled for calls to `ansible-inventory` of this type, so that irrelevant message will no longer be gi

[2019-03-01 15:24] wenottingham commented on #3344
No. As a feature, this would encourage behaviors we want to discourage - any usage at scale is based on usage of source control.

(Also, this is a better question for the mailing list.)

[2019-03-01 15:24] #3344 closed, assigned to nobody

[2019-03-01 15:25] wenottingham commented on #3347
lineitem in https://github.com/ansible/awx/issues/79, closing.

[2019-03-01 15:25] #3347 closed, assigned to nobody

[2019-03-01 16:14] mmontesi commented on #1188
Hi all,
I'm having the same issue on a kubernetes installation (on Azure AKS).
My workflows worked fine till yesterday, when appeared this behaviour.
I had only added 2 users (still not used by anyone) and a fake notification that I removed.
Now workflows fail because each job is marked as failed when is simply running.
Can you help me? @matburt what did you discuss with @mneumarkidg before markin

[2019-03-01 18:45] Commifreak opened #3348 "Display Host description along with its name"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
In all views regarding selecting/displaying Hosts, the description field is not shown.
To be honest, I added all my hosts by IP, so the UI always displays only the IP when selecting hosts for example.

I put the hostname in the description field.

I dont have DNS entries for all hostname, thats the reason why I use IPs. I

[2019-03-01 19:30] ryanpetrello commented on #1188
@mmontesi what version of AWX are you using?

If you're still seeing celery pidbox errors, you may want to try upgrading to a newer version - we removed our usage of the celery library last year due to this and other issues.

[2019-03-01 21:02] AlanCoding commented on #2574
I tried to reproduce

[code]

![screen shot 2019-03-01 at 4 00 27 pm](https://user-images.githubusercontent.com/1385596/53666140-47fcd600-3c3b-11e9-8e5f-2b7ca280167b.png)

I don't see any problem with how AWX is handling this. That is the same output I got from the CLI.

https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/issues/AWX2574

[2019-03-01 21:25] jlmitch5 opened #3349 "Update launch button to be on left of cancel instead of on right of save for jt/wfjt"
should be consistent w cred test modal button

[2019-03-02 22:28] yzhivkov opened #3350 "Cannot filter by organization roles by 'name'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Trying to filter nested model such as Role under Organization would return

##### ENVIRONMENT
* AWX version: 2.1.2
* AWX install method: docker for mac
* Ansible version:  2.6.3
* Operating System: Mac OS
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Try performing the following API call:
[code]
##### EXPECTED RESULTS

A

[2019-03-03 01:02] leninbabuk opened #3351 "Need help to run playbook on version 2.7"
Hi ,
I am able run adhoc commands on ansible without any errors, however,  when running playbooks getting the following errors on version 2.7

![image](https://user-images.githubusercontent.com/38011563/53689493-61a63680-3d7d-11e9-9327-a1f7dce01dcb.png)
![image](https://user-images.githubusercontent.com/38011563/53689495-6d91f880-3d7d-11e9-9c7e-20e6b3cf3365.png)
TASK [creating a file] ************

[2019-03-03 16:02] mmontesi commented on #1188
@ryanpetrello I was on 2.1.2 when I first experienced the issue, and till yesterday the same job templates have worked regularly for weeks.
Then I downloaded 3.0.1 zip and upgraded in place: same behaviour.
In site upgrade seems to work but official Red Hat's FAQ says it's not supported.
Tomorrow at work I'll try on a fresh 3.0.1 installation.
The issue came up in a staging environment, in which I

[2019-03-04 11:40] cedlerouge commented on #3324
Hi,
I have the same probleme, the list of the hosts in the smart inventory doesn't appear. But when i go to the API, hosts appear :
[code]

[2019-03-04 15:04] thanasmi opened #3352 "AWX tasks "Failed to connect to the host via ssh""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - AWX Tasks Workers

##### SUMMARY

As I tested run exec into AWX container and ssh to target hosts. it can be run normally. But, when I ran the Ansible Playbook via AWX it not works.

* If I run ansible-playbook via ansible host using SSH to ansible host and run that playbook it works fine. I don't know why I can't using AWX.

##### ENVIRONMEN

[2019-03-04 16:17] wenottingham commented on #3351
This repo is for AWX, a REST api and web console for Ansible. You're just running Ansible itself.

The issue tracker for ansible is at https://github.com/ansible/ansible/, however this looks like a user issue that is better served on the mailing list (https://groups.google.com/forum/#!forum/ansible-project).

[2019-03-04 16:17] #3351 closed, assigned to nobody

[2019-03-04 16:19] AlanCoding commented on #3350
See the OPTIONS

https://github.com/ansible/awx/blob/devel/awx/main/models/rbac.py#L142

These are the database fields - which are the fields that you can filter by. If a field is not a database field, or is not filterable for any other reason the OPTIONS will give you `"filterable": false` for that field info.

What you want is `?role_field=execute_role`

Other people already have built clients u

[2019-03-04 16:27] jfcgaspar opened #3353 "Upload YAML extra-vars file when launching job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
When launching a job template, AWX allows extra variables to be prompted at launch time, so that users can set specific extra variables at launch time. This is currently done by writing out in YAML or JSON format the variables in a text box.
Instead of this method, would like to be able to upload a YAML file containing tho

[2019-03-04 16:54] mabashian commented on #3324
I've set up a smart inventory locally using the latest code on devel but haven't been able to reproduce this issue so I may need some help from those of you who can.  When this happens, can you take a look at the Firefox (you mentioned this browser so I assume it's what you use) developer tools and let me know if there are any errors int he console?  Also, if you could capture the network requests

[2019-03-04 16:55] wenottingham commented on #3353
For prompting, we use surveys ... that is unlikely to change.

Further survey types are tracked in https://github.com/ansible/awx/issues/553.

What are you doing that you expect users to have a full YAML file of variables rather than something with more guardrails?

[2019-03-04 17:00] mabashian commented on #3337
https://github.com/ansible/awx/blob/devel/awx/ui/client/src/shared/smart-search/smart-search.controller.js#L115 is where we'd want to start.  AWX should always be using `latest`.

[2019-03-04 17:01] marshmalien opened #3355 "UX Enhancement: Add Sort Dropdown to List Toolbar"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### UX Behavior
- Sort dropdown on the new lists toolbar.
- Default dropdown option is set when list is initialized.
- Users can set a new sort option by selecting from the dropdown options.
- On Pagination - Persist sort option
- On Navigation away from list - Reset sort option

##### QE Verification for Sorting Lists:

- Check if so

[2019-03-04 17:05] mabashian commented on #3323
This is just how Firefox works unfortunately.  https://bugzilla.mozilla.org/show_bug.cgi?id=195361 - the text is copyable in Chrome if you have access to that browser.

[2019-03-04 17:05] #3323 closed, assigned to nobody

[2019-03-04 17:16] mabashian commented on #3311
Following the steps outlined, User 'Y' will now see the notifications tab (based on latest devel).  I think that the problem you're outlining is that User 'Y' sees disabled on/off toggles in the notifications tab and is unable to toggle those values.  This is consistent with the api's behavior (throws 403).  The question is, is this the expected behavior?  @AlanCoding might need you or someone els

[2019-03-04 17:58] jfcgaspar commented on #3353
This is for device validation, where the list of dynamic validation commands to run is passed via input YAML file.
Commands are dynamically generated into a YAML file which is then passed to the playbook as an input.

[2019-03-04 18:00] AlanCoding commented on #3311
Right now it requires organization admin to attach the notification template to a job template.

https://github.com/ansible/awx/blob/d1005f91e73b8eff3ad1f5ebe327ab6315e8a22c/awx/main/access.py#L1463-L1465

Why admin, and why not notification_template_admin? A bug? @wwitzel3 @matburt

[2019-03-04 18:07] mabashian commented on #3287
This is a duplicate of https://github.com/ansible/awx/issues/3158 and should be fixed in the next release.

[2019-03-04 18:07] #3287 closed, assigned to nobody

[2019-03-04 18:08] wenottingham commented on #3353
That sounds better as a file upload survey type than direct file injection into extra_vars. That is covered in #553.

[2019-03-04 18:08] #3353 closed, assigned to nobody

[2019-03-04 18:12] #3350 closed, assigned to nobody

[2019-03-04 21:52] mabashian opened #3358 "Launch from jt/wfjt form doesn't show extra vars codemirror"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
<img width="1459" alt="screen shot 2019-03-04 at 4 49 08 pm" src="https://user-images.githubusercontent.com/9889020/53765278-8db8d900-3e9d-11e9-978b-68d13edf635e.png">

##### STEPS TO REPRODUCE
Create a JT that prompts for extra vars on launch
While remaining on the JT form click the blue Launch button

##### EXPECTED RESULT

[2019-03-05 05:46] ryan012880 opened #3361 "Dashboard UI - In Recently Used Template frame - Name overlapping with Activity"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Dashboard UI - overlapping template name on activity status view

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.8
* Operating System: RHEL
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Create a template with long name
2. Run the template so it shows in the Dashboar

[2019-03-05 09:56] syvanen commented on #2934
Is there any plans to start using boto3 instead of boto2?
AWS refers to boto3 as the Python SDK and also Boto2's Github page refers to boto3 as way forward.

There are several PR's on boto2 to update the endpoints.json which are not accepted. And seeing how the endpoints.json is now 2 years old I doubt there will be any updates coming. That release 2 years ago added this `BOTO_USE_ENDPOINT_HEURIST

[2019-03-05 10:11] syvanen commented on #2934
Also there's no point trying to set `BOTO_USE_ENDPOINT_HEURISTICS` as Tower has hardcoded list of regions and gives error if you try to use something like "eu-north-1" or "eu-west-3".
See: https://github.com/ansible/awx/blob/5cdab1b57a373ef3ecc30fc38347b761b48d8f58/awx/settings/defaults.py#L701

[2019-03-05 10:43] davidkirwan commented on #3323
@mabashian great thanks I'll use Chrome.

[2019-03-05 11:54] cedlerouge commented on #3324
I tried with the branch 3.0.1 and the smart inventory display properly the list of hosts. I think this was a bug on 3.0.0 version.

[2019-03-05 12:22] cedlerouge commented on #3324
For information, when hosts wasn't displayed in smart inventory (awx 3.0.0), developer tools show only one http GET :
![2019-03-05 13_07_42-awx_smart_inventory_bad](https://user-images.githubusercontent.com/4787982/53805158-aa124f80-3f49-11e9-8259-05fc7fa03322.png)

whereas with version 3.0.1 developer tools shows 4 requests

![2019-03-05 13_07_42-awx_smart_inventory_good](https://user-images.gith

[2019-03-05 14:00] #3352 closed, assigned to nobody

[2019-03-05 14:13] mabashian commented on #3288
@benapetr I'm not able to reproduce this issue.  If you hover over the sync status icon you will not see a direct link out to the details view because that list does not have access to the ID of the job and must perform a GET request to know where to route you.  As such, clicking on that icon fires off a Javascript function rather than behaving like a typical `<a href="">` link.  It's possible tha

[2019-03-05 14:52] andersharrisson-ess commented on #1987
Is there no way of running the inventory sync concurrently with the job templates?

We are using a dynamic inventory, for which we prefer to enable "Update on launch"; this to make sure we're running against the correct inventory. Since, more or less, all job templates use this inventory we end up with a single queue of jobs all waiting for their respective inventory syncs.

Populating facts and j

[2019-03-05 16:07] wenottingham commented on #2934
https://github.com/ansible/awx/issues/171 needs handled first, then we can discuss completely moving off of boto2.

[2019-03-05 16:12] colinodell commented on #106
In a similar vein, we typically version our Ansible playbooks as part of a larger project by placing it within a subdirectory of the git repository:

[code]

Being able to somehow configure `project_path` and the location of `requirements.yml` on a per-project basis would be a huge help!

[2019-03-05 16:20] JulienPalard commented on #223
I'm hitting the "cannot import inventory because I'm having a group_vars/all/vault fully encrypted", I'll try to use string encryption instead of whole file encryption to fix this but it prompt a question in my mind:

Why group_vars/ is handled by the inventory import instead of the project import?

[2019-03-05 16:39] bmalynovytch commented on #223
@JulienPalard in fact, you could work around this issue by moving your `group_vars` directory at the same level than your playbook, instead of the inventory.
That way, AWX will wait for the run of the playbook to decrypt those variables at once (and not at the inventory processing phase, at which it doesn't have access to the vault key).

[2019-03-05 16:59] shen3lu4 opened #3364 "Permission for Inventory Scripts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Try to assign a user or a team to create/update Inventory Scripts. AWX doesn't seem to provide that option.

##### ENVIRONMENT
* AWX version: 2.1.1
* AWX install method: Kubernetes
* Ansible version:  2.7.2
* Operating System: Centos 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Login as admin. Click on a Team and go t

[2019-03-05 17:12] JulienPalard opened #3365 "Inventory stored as a python script printing it, parsed with a yaml parser"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Erreur parsing scm-project-imported yml inventory.

##### ENVIRONMENT
* AWX version: 3.0.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.7
* Operating System: Debian 9.8
* Web Browser: Firefox 65.0

##### STEPS TO REPRODUCE

- Create a git repo with a yml inventory
- Create a project from a git repo
- Create an inventory
- Source the

[2019-03-05 18:38] mabashian opened #3366 "Editing workflow node link throws 400 error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI
(not sure which is to blame)

##### SUMMARY
When changing a link from one type to another (ex. change always to on success) the api throws a 400 error on save.  It's unclear to me whether this is an issue with the UI code or with the API code.

![workflow_link_error](https://user-images.githubusercontent.com/9889020/53828400-8cde808

[2019-03-05 19:58] konkolorado commented on #3364
This is still an issue on AWX version 3.0.1

[2019-03-05 20:14] dsesami commented on #1266
Verified that this shows correctly on user pages, and that it persists correctly through different tabs.

[2019-03-05 20:14] #1266 closed, assigned to unlikelyzero

[2019-03-05 20:36] unlikelyzero commented on #3355
Because (at)Elyezer is out on this one, @dsesami and myself will be tackling this one.

[2019-03-05 20:55] marshmalien opened #3368 "Paginate directive doesn't update URL state params"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The URL params don't accurately reflect the page filter or page location.

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker for mac
* Ansible version:  2.7.5

##### STEPS TO REPRODUCE
1. Navigate to a list with 2 or more pages
2. Filter the list using the page_size dropdown
3. Navigate to different page vi

[2019-03-05 21:19] #2261 closed, assigned to dsesami, AlexSCorey

[2019-03-05 21:45] bcoca commented on #223
its location, location, location

they are adjacent to EITHER/BOTH inventory or playbook, so depends on what you are doing, they'll be read or not at that time

[2019-03-05 21:55] wenottingham commented on #3364
Yes, this is not a thing that exists currently.

[2019-03-05 22:27] jeffcpullen commented on #876
Fantastic write up, this helped a ton.

[2019-03-05 23:32] ghost commented on #2834
@wenottingham I am currently thinking of two possible approaches that we can take:

1. We have both the **SHOW** and **REVERT** buttons, like this

![screenshot from 2019-03-05 18-26-19](https://user-images.githubusercontent.com/15652962/53844642-5f59fd00-3f74-11e9-905c-72bf09906e17.png)

Although, this will have complications - like changing the partial HTML template, because the current version

[2019-03-05 23:45] jakemcdermott commented on #2834
We're making some substantial changes to this view and this field over on https://github.com/ansible/awx/pull/3098/

@vismay-golwala This is not a good issue to work on at the moment. If it's not too much trouble, would you please grab another issue from the backlog?

[2019-03-05 23:56] ghost commented on #2834
@jakemcdermott no problem, thanks for the heads up!

[2019-03-06 13:32] benapetr commented on #3288
I am just getting this in console when I click the icon, nothing else
![image](https://user-images.githubusercontent.com/1560121/53884773-9edc2400-401c-11e9-82f8-38fbea604cbd.png)

But now it doesn't do anything, it no longer takes me to home page of AWX, it just does nothing (working... appears for a short time and then disappears and that's it)

[2019-03-06 14:41] benapetr commented on #3288
I resolved problem with certificate and now there is nothing in console, bug still persist

[2019-03-06 14:48] benapetr commented on #3288
![screen](https://user-images.githubusercontent.com/1560121/53889718-2dee3980-4027-11e9-9ff6-3261af3a591d.gif)

[2019-03-06 16:17] AdrianDutu opened #3371 "authorization-code application acts like implicit type and returns 405 for token call"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
I want to use OAuth2 for launching jobs from the API. The documentation I'm following:
https://github.com/ansible/awx/blob/devel/docs/auth/oauth.md
https://github.com/ansible/awx/blob/devel/awx/api/templates/api/api_o_auth_authorization_root_view.md
I have 2 issues with this:

I created an application in ansible of authori

[2019-03-06 17:41] AlanCoding commented on #2105
This is now unblocked, but the Ansible issue / references have changed...

https://github.com/ansible/ansible/issues/52244

Both (or either) of these are now open for AWX implementation

 - https://github.com/ansible/ansible/pull/52948
 - https://github.com/ansible/ansible/pull/53183

[2019-03-06 17:48] jlmitch5 commented on #2939
There also seems to be an issue with the params passed to the alert() dialog when saving:

<img width="1370" alt="screen shot 2019-03-06 at 12 37 29 pm" src="https://user-images.githubusercontent.com/1342624/53901933-1a82a480-400e-11e9-8301-6798f5af99ff.png">

[2019-03-06 21:04] AlanCoding commented on #2105
Testing case:

https://github.com/ansible/test-playbooks/pull/52

Specifically, "fox" is needed for testing of this.

[2019-03-06 21:38] keithjgrant opened #3374 "Creating new application displays error even though save is successful"
There seems to be an issue with the params passed to the alert() dialog when saving. This occurs when the API returns a 201. The save seems to be successful

<img width="1370" alt="screen shot 2019-03-06 at 12 37 29 pm" src="https://user-images.githubusercontent.com/1342624/53901933-1a82a480-400e-11e9-8301-6798f5af99ff.png">

_Originally posted by @jlmitch5 in https://github.com/ansible/awx/issues

[2019-03-06 21:40] keithjgrant commented on #2939
These are two separate issues. I split the "Unexpected Error: undefined" into a new issue #3374

[2019-03-06 21:42] keithjgrant commented on #2939
Improving the error message will probably need to be done in the API, since the UI simply displays the error message it receives in the response.

Alternately, we could make the Redirect URIs field required if the Authorization Grant type is set to either Authorization Code or Implicit.

[2019-03-06 23:16] JulienPalard commented on #223
Yes, it worked by moving my inventory in a sub-directory, thanks :)

I'm not a big fan of having to do this just for AWX (I mean, I don't think I'm alone having my inventory at the root of the repo and having fully encrypted vault files, so I think people have the issue, search for it, find this thread, move their inventory, try again, see it works, which is not ideal).

[2019-03-06 23:53] unlikelyzero opened #3378 "A user with WFJT 'execute' permissions triggers an unsaved changes modal after selecting a node in the WFViz and then attempting to close the WFViz"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
A user with WFJT 'execute' permissions triggers an unsaved changes modal after selecting a node in the WFViz and then attempting to close the WFViz

##### ENVIRONMENT
* AWX version: 3.0.1

##### STEPS TO REPRODUCE
1. Give a user WFJT 'Execute' Permission
2. Login as that user and open the WFViz for that WFJT from step 1
3. C

[2019-03-07 03:03] unlikelyzero commented on #3358
@mabashian any idea when this was introduced?

[2019-03-07 03:13] unlikelyzero commented on #3263
Elements are now properly rendered

[2019-03-07 03:13] #3263 closed, assigned to kialam, unlikelyzero

[2019-03-07 03:15] AlanCoding commented on #3365
Is your YAML inventory in the same directory as your playbook?

Inside this directory, is there an `ansible.cfg`?

Within your custom config, did you set that the enabled inventory plugins to be only yaml?

[2019-03-07 04:22] unlikelyzero commented on #3290
Verified by deleting a JT on session 1 and attempting to relaunch on session 2 (which has a stale representation of available JTs)

[2019-03-07 04:22] #3290 closed, assigned to mabashian, unlikelyzero

[2019-03-07 11:44] Aylard opened #3380 "Azure PostgresSQL - error on startup - no such role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
I have Azure PostgreSQL service which requires login as user@host, but roles in PostgresSQL are just "user" without "@host", which cause "no such role error"

##### ENVIRONMENT
* AWX version: 3.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.8
* Operating System: RHEL7
* Web Browser: n/a

##### STEPS TO RE

[2019-03-07 14:38] unlikelyzero commented on #3319
Tested that the modal appears on the Jobs Page, Templates Page, Job Result Detail Page, and My View Page

[2019-03-07 14:38] #3319 closed, assigned to mabashian, unlikelyzero

[2019-03-07 15:00] beeankha commented on #3346
Closing this issue due to the fix in PR https://github.com/ansible/awx/pull/3372!

[2019-03-07 15:00] #3346 closed, assigned to beeankha

[2019-03-07 15:36] IPvSean opened #3383 "Associating AWS credential to job template is not idempotent"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
the [tower_job_template](https://docs.ansible.com/ansible/latest/modules/tower_job_template_module.html) module today does not have the ability to use any credential type, and I need to be able to use AWS.

I register the result from the tower_credential module and I register the result from the tower_job_template module

[2019-03-07 15:38] #3210 closed, assigned to nobody

[2019-03-07 15:39] mabashian commented on #3210
Fixed by ansible/awx#3363

[2019-03-07 15:51] AlanCoding commented on #3383
I agree, this is a server bug and should be fixed in AWX.

If a resource is already associated, it should return a code of 204, not 400.

[2019-03-07 16:01] AlanCoding opened #3384 "Add validation for host names and group names"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
See https://github.com/ansible/ansible/pull/52748

Ansible core is moving to a default behavior where group name characters which are not alphanumeric get automatically replaced with underscores.

In this world, we should not allow users to enter names with such characters.

Inventory sources, those should be covered by A