[2018-02-12 18:26] greg-hellings commented on #1192
@wenottingham Yes, more resolutions of that issue, please! Because it's seriously cramping my style not being able to create hosts on the fly.

[2018-02-12 18:45] rmfitzpatrick commented on #815
Verified on 3.2.3.21 with automated tests tbd.  @tvo318 documenting Tower's acceptance of `ANSIBLE_LIBRARY` over a library entry in a project's ansible.cfg seems like it would be helpful: http://docs.ansible.com/ansible/latest/intro_configuration.html#library

[2018-02-12 19:16] kvaps commented on #1180
I uses inventory files in ini format but their name have no extension, is it important for awx?

Hey, this is fully solves my issue. I was not found this opportunity earlier :)
Thanks!
Can I close it?

[2018-02-12 19:22] matburt commented on #1169
Yeah unfortunately this just isn't good to carry forward in our new system. We may have something similar to support in a future release but it may be focused on running jobs outside of AWX and recording their details.

[2018-02-12 19:22] #1169 closed, assigned to nobody

[2018-02-12 19:23] matburt commented on #1199
Closing for upstream tracking

[2018-02-12 19:44] lsantiag86 opened #1206 "Feature Request: Add a pause with approval to continue between playbooks in workflow job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
I am requesting a pause feature be included as one of the steps in a job workflow in-between playbooks so that a user can give the +1 to continue on to the next playbook in the job workflow.

This will give the user the unlimited amount of time they need to do their manual steps, but also allow them to continue as fast as

[2018-02-12 19:48] jaredevantabor commented on #1180
@kvaps Glad that solves your problem! I should lead with that next time :)

[2018-02-12 19:48] #1180 closed, assigned to nobody

[2018-02-12 20:04] wenottingham commented on #1206
This is not something we would likely get to in the near future, but it has been requested a few times, including:
- setting a specific approver != the job submitter
- setting multiple approvers

[2018-02-12 20:24] wenottingham commented on #1199
Since upstream landed, opening.

[2018-02-12 21:00] wenottingham opened #1207 "Feature: Native scale-up/scale-down of standalone execution nodes"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI
 - Installer

##### SUMMARY

With https://github.com/ansible/awx/issues/74, we added the ability to scale podified cluster nodes at runtime.

This followon is to extend/merge those features into the isolated node concept:
- register/deregister isolated nodes at runtime as standalone execution nodes
- use these execution nodes when

[2018-02-12 21:14] wenottingham opened #1208 "Feature: add user to (multiple) teams in Users screen"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Currently, the 'Teams' tab on a User is a read-only list. It should have an 'Add' button and allow you to add a user to one or more teams.

##### ENVIRONMENT
* AWX version: current

##### ADDITIONAL INFORMATION

[2018-02-12 21:45] wenottingham opened #1210 "Merge/disambiguate Insights and Satellite 6 credentials, expose them for playbook usage"
##### ISSUE TYPE
 - Feature Idea
 - Documentation

##### COMPONENT NAME
 - API

##### SUMMARY

Satellite 6 credentials ('cloud' type) are only exposed as a file (foreman.ini), generally for use by inventory.
Insights credentials ('scm' type) are only exposed for projects, but also can be attached to inventories.

However, ansible modules exist (redhat_subscription, etc) that potentially could use

[2018-02-13 04:36] cchurch commented on #703
This format *is* supported by [django-auth-ldap](https://bitbucket.org/psagers/django-auth-ldap/src/ec27057388fb5c55013d5d8ec43e995897e35f97/django_auth_ldap/backend.py?at=1.2.x&fileviewer=file-view-default#backend.py-628), but not by the current settings validation. It should be easy to add though...

[2018-02-13 06:32] cchurch commented on #991
If an inventory containing these host/group vars is used directly by ansible, it preserves the type of the dictionary keys:

[code]

However, since we use `ansible-inventory --list` to output JSON (which requires that dictionary keys are strings) and then parse that JSON to import into AWX, those keys are converted to strings in the process. The only way it would work within AWX would be to use `a

[2018-02-13 08:53] maksimluzik opened #1212 "Internal Server Error, data corruption"
This is

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Docker / Postgres volume mount

##### SUMMARY
This relates to the bug reported earlier, but got closed? https://github.com/ansible/awx/issues/796
Issue is still valid and it seems to be caused by the mounting postgres volume to the host's `/tmp/` folder. Better solution would be to mount postgres data to `/home/username/.pgdocker` or

[2018-02-13 10:57] FloThinksPi commented on #802
@AlanCoding @jdhollander I am also seeing this in 1.0.2. Tried you patch and it did not resolve this. My Schedule DB is empty , i can watch schedules in the Teplates butnot in the overview as regular user with admin permissions. System admin works fine though.
[code]

When calling the api there is following error:

[code]
So is it possible, that this issue relates to read permissions of the system

[2018-02-13 11:02] FloThinksPi commented on #802
So i deleted all System Schedules (cleanup jobs) via System admin and this resolved it.
Without a System Schedule all users can see ther scheduled stuff in the overview.

[2018-02-13 11:56] sshedmake opened #1213 "[RFE] [nl] Job Status graph could use 'dd-mm-yyyy' date format (currently uses 'mm/dd')"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

In Dutch (Netherlands) google-chrome, Job Status graph could use 'dd-mm-yyyy' date format, as per [1] and [2]

##### ENVIRONMENT
* AWX version: 1.1.0
* AWX install method: docker on linux
* Ansible version:  2.3.1.0
* Operating System: Fedora 25
* Web Browser: google-chrome

### Steps To Reproduce:

1. In Dutch google-c

[2018-02-13 12:51] AlanCoding commented on #802
Had another go and I was able to reproduce it this time. Ordinary user and system admin were both insufficient to hit it. I had to log in as an organization auditor, and then that triggered it.

The error is coming from the schedule count. Somewhere in here.

[code]

[2018-02-13 13:06] yoshinori-hardy commented on #1202
hello, please feel free to close this one, I went back over all my work and found that a remote_user var had been set to root in the playbook I was running.  Apologies for the mistake, but hopefully someone might benefit.

[2018-02-13 13:06] #1202 closed, assigned to nobody

[2018-02-13 13:52] AlanCoding commented on #991
The example that @cchurch somewhat violates the principle of `ansible-inventory` - that it yields the same behavior as `ansible-playbook`. That's the point, and the entire reason we use `ansible-inventory`.

However, I see the problem with compatibility as we cross over multiple formats. The python JSON implementation (and possibly the standard itself) does not support this type structure.

The fo

[2018-02-13 14:29] imriss commented on #1197
@wenottingham
The task is `Activate postgres container`. I agree that the error could be upstream (the `Ansible` `docker` module).

[2018-02-13 15:14] wenottingham commented on #1197
Reading that task, it does sound like a generic issue with the `docker_container` module.

Please file that at https://github.com/ansible/ansible/

[2018-02-13 15:14] #1197 closed, assigned to nobody

[2018-02-13 15:34] AlanCoding commented on #1167
Some revised notes on what permission is necessary for which

Job templates | Use role for projectUse role for inventory
-- | --
projects | Organization-project-admin for project’s organization,or system admin
inventories | Organization-inventory-admin for inventories organization,or system adminUnclear for smart inventories. Probably require org admin for this case.
workflows | Organization-workf

[2018-02-13 15:42] wenottingham opened #1215 "RFE: add edge conflict tooltip to workflow graph"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Workflow graph edge conflicts should have a tool tip or help text displayed when present that instructs the user to go all or nothing success/fail nodes or always nodes. Without it, it's hard to know how to immediately resolve.

##### ENVIRONMENT

##### STEPS TO REPRODUCE

 Create a workflow like:

root -- on success -->

[2018-02-13 15:47] wenottingham opened #1216 "RFE: link project-based inventory update to inventory source"
##### ISSUE TYPE
 - Feature Idea - Documentation

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

The inventory update for a project-based source just says 'Sourced from a project' for the source type.

<img width="1439" alt="screen shot 2017-08-11 at 2 38 36 pm" src="https://user-images.githubusercontent.com/9889020/29227214-ff44ccc6-7ea2-11e7-8a3a-5173d6fd885b.png">

It should link to the actu

[2018-02-13 15:56] wenottingham opened #1218 "RFE: have API easily denote roles that don't make sense, so the UI can filter them"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Example:
- [ ] update on Smart Inventory
- [ ] read on team
(add more here)

##### ADDITIONAL INFORMATION

[2018-02-13 15:58] akcrisp commented on #138
Guys on doing upgrades. We appreciate its dev but equally I think you have to apply some common sense and realise you've got a lot of people using this software and therefore, it would be doing the community a great service if you can supply some guidelines - even manual about doing upgrades.

I still struggle with the thought that if your breaking dev branch - then you inevitably going to break t

[2018-02-13 16:04] wenottingham opened #1219 "No survey validation done on 'name' field"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

You can post random things in the survey 'name' field, and it will be accepted.

Example:
[code]

##### ENVIRONMENT
* AWX version: current

##### ADDITIONAL INFORMATION

[2018-02-13 16:15] wenottingham opened #1220 "add inventory updates related field for inventory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

To get all inventory updates for a particular inventory, you need query all related inventory sources.

We could create a toplevel related field that accomplishes this.

##### ENVIRONMENT
* AWX version: any

##### ADDITIONAL INFORMATION

[2018-02-13 16:23] wenottingham opened #1221 "RFE: friendlier insights errors"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
[code]

One example case of this is a 404 when the host is not known in insights (or was deleted) ... we should catch this case and porvide a nicer error message.

##### ENVIRONMENT
* AWX version: current

##### ADDITIONAL INFORMATION

[2018-02-13 16:42] wenottingham opened #1222 "Fix handling of isolated jobs when controller dies"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

If a controller node dies for an isolated job, we lose track of the job. Currently, we mark it as failed.

However, we likely do have enough information on the job to resume monitoring from another node in the controller group. We just don't do it yet.

##### ENVIRONMENT
* AWX version: current

##### ADDITI

[2018-02-13 16:43] lsantiag86 opened #1223 "Projects start SCM update during jobs, even when "update on launch" is not checked."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Projects start SCM updates even when the "update on launch" box is not checked on the project when a job starts. This is causing us issues when the internal gitlab server that has all of the our projects source code is down for maintenance or down at all.  All of the jobs triggered fail because gitlab isn't available for the

[2018-02-13 16:44] wenottingham opened #1224 "Pagination widget cramped when > 1000 items"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

<img width="889" alt="screen shot 2017-09-13 at 2 31 56 pm" src="https://user-images.githubusercontent.com/5964417/30394279-a6a6f37a-9890-11e7-82bf-646b3caf76fb.png">

##### ENVIRONMENT
* AWX version: current

##### ADDITIONAL INFORMATION

[2018-02-13 16:48] wenottingham commented on #1223
This is expected, there is a checkout that always happens, as there is no guarantee that on any specific Tower node the project is already checked out.

https://github.com/ansible/awx/pull/567 was added to AWX to allow for short-circuiting if the correct version is already checked out, for *git only* (other SCMs don't have enough info to support this.)

[2018-02-13 16:48] #1223 closed, assigned to nobody

[2018-02-13 16:59] AlanCoding opened #1225 "Provide TOWER_WORKFLOW_ID as env var for inventory updates"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
If I'm in the middle of an inventory update script, I don't have any way of directly knowing what workflow I'm a part of, and some users make decisions based on that type of context.

We expanded the set of magic variables we provide for job runs in https://github.com/ansible/awx/issues/237, but this only applied to `--ex

[2018-02-13 17:17] wenottingham opened #1226 ""Cleanup Fact Details" doesn't"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

The 'cleanup facts' management job cleans up old system tracking facts... which is not something AWX even collects.

It should be updated to purge the fact cache.

##### ENVIRONMENT
* AWX version: current

##### STEPS TO REPRODUCE

run 'cleanup facts' with any timeframe

##### EXPECTED RESULTS

Facts are cleaned up.

#####

[2018-02-13 17:25] tombenninger commented on #1223
@wenottingham We're trying to use Tower as the primary tool for automation for all of our services, including our Git SCM where we develop and store our playbooks and other Ansible configurations.

I realize there's a bit of circular logic here between Ansible and Git, but it seems like a periodic sync and caching function would support this, and I suspect other people have the same issue. Would t

[2018-02-13 17:54] #802 closed, assigned to AlanCoding

[2018-02-13 17:54] wenottingham commented on #1223
Already is, but there are many corner cases: https://github.com/ansible/awx/issues/289

[2018-02-13 17:55] AlanCoding commented on #802
The latest code merge fixed it by my testing, and should hopefully take care of it in your situation as well.

[2018-02-13 18:25] mneumarkidg opened #1227 ""Sourced from a Project" Inventory Source error message is incorrect."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Won't Save Setting/Error on Enable "Update on Project Change" in Inventory Source

##### ENVIRONMENT
* AWX version:
sh-4.2# awx-python --version
Python 2.7.5
sh-4.2# awx-manage --version
1.0.3.41
* AWX install method: docker on linux
* Ansible version:
sh-4.2# ansible --version
ansible 2.4.3.0
  config file = /etc/ansible/an

[2018-02-13 18:26] wenottingham opened #1228 "Fix inconsistency in page titles"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

We now do context-sensitive page titles, but we're not very consistent. Example:

job templates:
list: TEMPLATES
item view: job template name
item permissions view: PERMISSIONS

credentials:
list: CREDENTIALS
item view: EDIT CREDENTIAL
item permissions view: PERMISSIONS

etc.

##### ENVIRONMENT
* AWX version: current

###

[2018-02-13 18:43] mneumarkidg opened #1229 "Exclude Dates and Times in Scheduler / Outage windows when jobs will not run"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Would be nice to have the ability to exclude dates, times, hours, or ... from scheduler. (Example Usage: static maintenance windows, exclude known times/dates)

##### ENVIRONMENT
* AWX install method: docker on linux

##### EXPECTED RESULTS

Ability to exclude certain dates, times, hours, ....

[2018-02-13 18:44] mneumarkidg commented on #1229
A custom cron statement would work too, if we had the capability to build our own!

[2018-02-13 18:46] matburt commented on #1212
If you are still using the same pg container from before the original change was made then you'll continue to have that problem. You need to move to the new image layout. You are free to move the default pg folder location somewhere other than /tmp or, ideally, manage an external postgres database.

[2018-02-13 18:46] #1212 closed, assigned to nobody

[2018-02-13 18:47] wenottingham opened #1230 "Surface partial inventory sync failures better"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Currently, when POSTing multiple inventory sources to the update_inventory_sources endpoint, the API will pass back a status for each inventory source that is updated.

This can include some inventory sources that were not updated:

<img width="568" alt="screen shot 2017-09-12 at 11 38 34 am" src="https://us

[2018-02-13 18:48] jaredevantabor commented on #1213
If these dates aren't "moment-ized," then they definitely should be.

[2018-02-13 18:56] wenottingham commented on #1229
All schedules are done as recurrence rules - https://icalendar.org/iCalendar-RFC-5545/3-8-5-3-recurrence-rule.html.... it would need to work in that framework.

[2018-02-13 18:56] matburt commented on #1137
Not sure what's going on here. I'd like to see the ini file generated by the AWX job if you can grab it during the job run. Otherwise this might take us a while before we can circle back around to it.

[2018-02-13 19:01] mneumarkidg commented on #1229
Can we use https://icalendar.org/iCalendar-RFC-5545/3-8-5-1-exception-date-times.html then?

[2018-02-13 19:06] wenottingham commented on #1229
Conceptually, yes. There's no current support for it in the API/UI/scheduler, though.

[2018-02-13 19:13] johnjeffers commented on #138
Agreed with @akcrisp

Please give us something here besides manually recreating everything by hand. Once you get more than a handful of job templates, it's an excruciating task, especially if the jobs include surveys.

FWIW I looked into migrating to a new version via the API, but many things refer to specific IDs in the database. For example, job templates refer to credentials by their ID, which

[2018-02-13 19:21] jaredevantabor commented on #1227
@mneumarkidg I think the issue here is that the error message the UI is displaying is incorrect. It should say: `"Cannot update SCM-based inventory source on launch if set to update on project update. Instead, configure the corresponding source project to update on launch."` From the looks of your screenshot it looks like you have "Update On Launch" selected, which won't work with "Update on Proje

[2018-02-13 19:21] jaredevantabor commented on #1227
Repurposing this issue to fix the error message on the UI

[2018-02-13 19:34] mneumarkidg commented on #1229
Is this something that could be a feature request? This feature can reduce the amount of schedule tasks. As if someone needed to schedule something to run every hour except for certain hour(s). That wouldn't currently be possible without up to 23 individual scheduled tasks.

[2018-02-13 19:40] wenottingham commented on #1229
Sure, that's why I marked it as an enhancement.

[2018-02-13 19:41] mneumarkidg opened #1234 "Ability to Configure hostname of awx host in inventory file. Not default to 'awx'."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
Ability to Configure hostname of awx host in inventory file. Not default to 'awx'.  Should use hostname and/or be configurable in the inventory.

##### ENVIRONMENT
* AWX install method: docker on linux

[2018-02-13 19:45] AlanCoding commented on #138
There is a feature in the works for `tower-cli` (now also adopting the alias `awx-cli`) to copy and export data.

https://github.com/ansible/tower-cli/issues/197

Like everything with the CLI project, it is intended to be cross-version compatible. This should solve the problem for some users in some situations once it rolls out.

[2018-02-13 19:51] wenottingham opened #1235 "Create minimal playbook execution tool for debugging purposes"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

Occasionally it is worthwhile to run a playbook at least somewhat "in the manner that AWX does" for debugging purposes.

It would be useful to ship a small wrapper (`awx-ansible-playbook` ?) that does:
- venv activation (allow overriding with a custom venv location)
- PYTHONPATH setting
- any other similar parameters

an

[2018-02-13 20:04] wenottingham opened #1236 "Log response message along with API failure codes"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

A typical error log from AWX is:

[code]

It would help debugging API failures (especially provisioning callbacks) if the JSON error returned to the user in this case was also included in the log.

##### ENVIRONMENT
* AWX version: current

##### ADDITIONAL INFORMATION

[2018-02-13 20:15] wenottingham opened #1237 "Allow for nicer JSON input in API"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

There are many places where the API takes a string input that is a JSON field. (Sat6 group patterns, extra_vars, etc)

Passing this data generally involves a lot of quoting. It may be useful to have a cleaner way to input this data.

##### ENVIRONMENT
* AWX version: current

##### ADDITIONAL INFORMATION

[2018-02-13 20:15] wenottingham commented on #1237
This would need to be done in a way that doesn't cause database migrations or published API changes.

[2018-02-13 20:38] wenottingham opened #1238 "Inconsistent behavior on group association/disassociation with root groups"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

Create a root group
[code]
Create a second root group
[code]
Create a child group
[code]
OK, we have two root groups
[code]
Associate the child group with the other root group
[code]

Examine the inventory. Note that the newly associated group remained in its current associated path.
[code]

Associate the root group with t

[2018-02-13 20:39] marshmalien commented on #280
@wenottingham Yes, we can close this. We upgraded to Angular 1.6.

[2018-02-13 21:24] johnjeffers commented on #138
Another (kind of obvious) benefit of giving your users an upgrade path is that it gets people testing your newer code. If I'm stuck on an old version because I can't upgrade, I'm not doing you much good as a tester.

[2018-02-13 21:25] bobobox commented on #138
Totally agreed - some path to be able to keep an AWX stack reasonably up to date without having to start over each time would be much appreciated, and frankly, seems like a basic requirement for RedHat to be able to say that they're offering a **good faith** free and non-commercial version of their product.

I've created scripts that use tower-cli (it's a handy Python library in addition to being

[2018-02-13 21:36] #280 closed, assigned to nobody

[2018-02-13 21:58] wenottingham opened #1239 "RFE: allow for the same JT name in different organizations"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

This is not currently allowed.
[code]
##### ENVIRONMENT
* AWX version: current

##### ADDITIONAL INFORMATION

[2018-02-13 22:01] wenottingham opened #1240 "Feature: lock a user to My View/Portal mode"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

A user should be able to be constrained such that portal mode / my view is the only part of the UI they see.

We'd need user fields that the user could not edit for this.

##### ENVIRONMENT
* AWX version: any
##### ADDITIONAL INFORMATION

[2018-02-14 07:28] gueux opened #1244 "new Organization member can't access SCHEDULES page"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
I've created new unprivileged member of organization and trying to get list of scheduled jobs via his interface. Every time I get this error:

[code]

##### ENVIRONMENT
* AWX version: 1.0.2.302
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: OSX High Sierra
* Web Browser:

##### STEPS TO

[2018-02-14 08:19] razvan01 opened #1245 "Connection reset by peer errors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI
 - Installer

##### SUMMARY
Connection reset by peer message in logs during fresh install.

##### ENVIRONMENT
* AWX version: 1.0.3.47
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: CentOS 7.4
* Web Browser: Chrome 63.0.3239.132

##### STEPS TO REPRODUCE
Install as per instructions in docker/pla

[2018-02-14 09:46] mkurnikov commented on #761
@matburt
I experience this problem also, my layout is
[code]

`host_vars` are loaded just fine.

I'm using latest AWX image.

[2018-02-14 09:47] maerlynn opened #1246 "Workflow Job with prompt credentials/inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When trying to add a Job inside a workflow with defaults values on Credentials and/or Inventory but with "Prompt on launch" box checked, i'm unable to save the new job to the workflow.

##### ENVIRONMENT
* AWX version: 1.0.2.92
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: CentOS
* Web

[2018-02-14 10:38] itamarshpak commented on #1118
hey, i am experiencing same issue, in my case the job is just the hello world one from the tower docs [http://docs.ansible.com/ansible-tower/2.4.1/html/quickstart/create_job.html](url) ,the job failed with no output and the log from the task container is same as:
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib/python2.7/site-packages/celery/app/trace.py", line 374, in trace_ta

[2018-02-14 13:00] AlanCoding commented on #1244
#1214 was intended to fix this bug occurring for org admins. The most simple explanation is that you're still seeing that same bug. With updated code, I can't reproduce with a simple org member right now.

The fix landed in 1.0.2-620, so since you're below that, this is probably it.

[2018-02-14 13:41] maksimluzik commented on #1212
But the problem is not in the container, as it is in AWX repo, here is the issue:

https://github.com/ansible/awx/blob/devel/installer/inventory

Docker common parameter is set to
`postgres_data_dir=/tmp/pgdocker`

I think this should be something else than /tmp/ by default?

[2018-02-14 13:59] razvan01 commented on #1245
Issue fixed with creating robots.txt:
`touch /var/lib/awx/public/static/robots.txt`

and adding the following piece of code into nginx.conf on awx_web container:
`        location /robots.txt {
            alias /var/lib/awx/public/static/robots.txt;
        }`

[2018-02-14 14:20] jffz opened #1248 "Child level playbooks aren't retrieved"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

  - UI

##### SUMMARY

Job template creation should have a full path field to select t he desired playbook along with the dropdown menu.

The dropdown menu also seems to not crawl subfolder to look for playbooks (single level)

##### ENVIRONMENT
* AWX version: 1.0.1.35
* AWX install method: docker on linux
* Ansible version:  2.4.0.0
* Operatin

[2018-02-14 14:27] matburt commented on #1248
Rather than an exhaustive list here, we should allow the user to type in the full path to the playbook AS WELL AS select from a dropdown.

We do that on another dropdown too (scm-based inventory file selection).

[2018-02-14 15:10] AlanCoding commented on #1192
I want to make sure we have triaged the detailed technical parts of this issue correctly. The group vars issue with `ansible-inventory` is the primary reason this doesn't work, but there is a more nuanced issue around `add_host` with empty groups. There is an overlap between those two, but it only matters once the group vars issue has a resolution.

Filed issue for the empty groups gone missing he

[2018-02-14 15:16] ryanpetrello commented on #198
This is blocked until file-based fact caching merges in from downstream.

[2018-02-14 15:31] AlanCoding commented on #1218
Was talking to @benthomasson about how this might be used for some networking canvas objects, if they ever have roles added. But it might not make sense in the first development cycle of that.

[2018-02-14 15:35] pipoe2h opened #1250 "Issue with credential when launching a Job Template under Portal Mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

I have a job template with a credential based on a custom credential type. The different scenarios are:

- Launching from Portal Mode view
  - Job template with the credential as default and prompt disabled. Works okay
  - Job template with the no default credential and prompt enabled. Doesn't work, you can see the creden

[2018-02-14 15:40] AlanCoding commented on #1218
Also, if we get this, I would like to see about adding un-editable roles to certain resources. If we can just get a simplistic `read_role` for inventory sources that inherits from the inventory `read_role`, then we can avoid terrors like https://github.com/ansible/awx/pull/1214/files

[2018-02-14 16:06] matburt commented on #1019
Changing this setting *does* require a restart of the container.

[2018-02-14 16:17] matburt commented on #73
I'm going to close this as we'll be able to track this on the documentation side soon and that's about as good as we are going to get in the near term.

[2018-02-14 16:17] #73 closed, assigned to nobody

[2018-02-14 16:19] matburt commented on #1101
cc @wwitzel3 I think we had done some work around this a little while ago.

[2018-02-14 17:05] pipoe2h opened #1252 "Add user, team, project and organisation on job reports"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

When you are an admin of a team, project or organisation would be great to have on the jobs view the columns with job owner, team, project and organisation.

[2018-02-14 17:14] matburt commented on #1212
You can change that to whatever you want when you run the installer. The idea is to provide a normalized place that will be generally available and accessible for most users.

[2018-02-14 17:16] matburt commented on #74
Yep, closing with #1058

[2018-02-14 17:16] #74 closed, assigned to matburt

[2018-02-14 17:27] matburt commented on #138
We may do more to track upgrade in the future, but currently that's not the case. This is very much an upstream development focused branch for Tower and as we've said before... there's no guarantees.

[2018-02-14 17:48] akcrisp commented on #138
Got to be honest matt I think i and I suspect everyone else was hoping for a more positive message. Ultimately if this continues (even in short term) to be a painful experience people will go else where and use other tools. That will inevitably have a direct impact on people then not purchasing ansible tower.

As others pointed out you will also get less people moving rapidly to the next version i

[2018-02-14 17:57] jaredevantabor commented on #1252
Thanks for your feedback @pipoe2h, this feature is on our list of UX improvements.

[2018-02-14 18:04] matburt commented on #1245
Probably a dupe of #1188

[2018-02-14 19:02] matburt commented on #1248
As a workaround, you can go directly to the api: `/api/v2/job_templates/n/` and `PATCH` the path of the playbook into the job template's `playbook` property as a string:
[code]

[2018-02-14 19:16] #1245 closed, assigned to nobody

[2018-02-14 19:18] #1244 closed, assigned to nobody

[2018-02-14 19:53] ricalenil commented on #138
@matburt this kind of answers takes away credibility to this project. I think this community is helping a lot to tower development with an invaluable job. The least I expect of you is a little respect cause we are trusting in you and that you are doing a quality job. Imagine that Fedora tells the community that they are not going to support upgrading any more? What do you think is gonna happen? I

[2018-02-14 20:13] steaksauce- commented on #735
I took a whack at it :)

CORRECTION: I missed where @matburt mentioned trying to do it without priviledged mode :( Back to the drawing board!

[2018-02-14 23:25] mandeepmanj commented on #772
2018-02-14 23:25:14,884 WARNING  awx.api.views Login failed for user msmanj
2018-02-14 23:25:14,885 WARNING  awx.api.generics status 400 received by user AnonymousUser attempting to access /api/v2/authtoken/ from 172.29.230.242
[pid: 54|app: 0|req: 501/2089] 172.29.230.242 () {48 vars in 861 bytes} [Wed Feb 14 23:25:14 2018] POST /api/v2/authtoken/ => generated 58 bytes in 265 msecs (HTTP/1.1 400)

[2018-02-15 01:53] steaksauce- commented on #735
I've done some research into this, and I've found some evidence (in the form of other containers) that this should be able to work without privileged containers. I am still looking into the matter and setting up my test environment now and will keep this updated with my findings

[2018-02-15 02:32] wwitzel3 commented on #1101
There is a fix for slack notifications that will be merged very soon.

[2018-02-15 02:32] #1101 closed, assigned to nobody

[2018-02-15 09:10] maksimluzik commented on #1212
I see that many will stumble upon this issue, as for example many are using this AWX configuration as default (including vagrant setups etc.). When you spin up instance you have no idea about this postgres path (i.e. for example projects like these: https://github.com/geerlingguy/awx-container). At some point your setup will crash, because `/tmp/` directory is emptied and your data is corrupted. I

[2018-02-15 09:16] ChrisMKinsella commented on #1248
Thanks, I have tried this workaround but when I run this for the playbook that **cannot** be found in the playbook dropdown list for the template I get the error:
[code]
When I run the same PATCH against a playbook that is listed in the playbook dropdown list for the template then I get a 200 OK
[code]

When I run the SCM update project used for this template the new playbook is downloaded into th

[2018-02-15 09:49] e-minguez opened #1256 "Mixed languages when creating credentials (Spanish & English)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Using Tower latest release, the new credential form shows "Usuario" and "Contraseña" and everything else is in English.

##### ENVIRONMENT
* AWX version: ansible-tower-ui-3.2.2-1.el7.x86_64
* AWX install method: setup.sh
* Ansible version:  ansible 2.4.2.0
* Operating System: RHEL 7.4
* Web Browser: Chrome Version 64.0.3282.

[2018-02-15 10:56] themeatcrayon opened #1257 "SCM update fails with no output to Standard Output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

SCM upate fails but provides no information.

##### ENVIRONMENT
* AWX version: 1.0.3.52
* AWX install method: docker on linux
* Ansible version: 2.4.3.0
* Operating System: RHEL 7
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Setup new credentials
Setup new project using the credentials.
Start an SCM update.

##### EX

[2018-02-15 11:29] mkurnikov commented on #761
@matburt
Could it be reopened, this bug makes "Source from the Project" feature of the inventory unusable.

Ansible 2.4.3.0
AWX 1.0.3.52

[2018-02-15 13:24] matburt commented on #1248
I'd say lets not hijack this issue for project playbook tech support, bring it to irc/mailing list or elsewhere.

[2018-02-15 13:25] AlanCoding commented on #761
Is it that the group_vars aren't getting loaded, or that they are applied inside of hostvars for all the hosts in the group? The latter is a known issue, and was just resolved with a change in AWX that merged yesterday, and is staged for the Ansible 2.5 release. You should be able to resolve this by getting up-to-date versions of both, but this will require installing Ansible from source inside of

[2018-02-15 14:00] mkurnikov commented on #761
@AlanCoding
Yes, you're right, group_vars applied inside of host_vars. And I see `ansible-inventory`'s `--export` in 2.5 which should provide group variables values.

Thanks a lot.

[2018-02-15 14:11] jpaulovic commented on #761
+1 to the issue.
`
├── inventory
│   ├── generate_inventory.py
│   ├── group_vars
│   │   ├── jenkins_master
│   │   └── services
│   ├── host_vars
│   │   └── localhost
│   └── inventory
`

"inventory" file contains a group [services] with a valid hostname under that group.

group_vars/services contains an entry saying `a: "b"`

After an inventory sync there are no group_vars under the services g

[2018-02-15 14:30] maksimluzik commented on #1212
It seems also to be painful to replace if you do not want to fork the repo. As using variable through many roles seems to be problematic with Ansible. At least I couldn't make it work, when specified in roles declaration:
[code]

or adding into vars declaration:

[code]

does not seem to take effect.

[2018-02-15 14:39] AlanCoding commented on #1192
Moving forward, I will prefer to close this issue and create a new AWX placeholder issue related to the empty groups and issue 36177 I filed in Ansible. There is a broader case to be made that vars plugins (and possibly other plugins) don't persist from inventory update -> JT playbook run. That's something I don't think we would consider tackling until a long ways out.

[2018-02-15 14:40] gregdek commented on #138
@ricalenil as a former Fedora Project Leader, I can tell you the exact answer: for the first several versions of Fedora, we did not recommend upgrades in place, [because they would break users in unsupportable ways](https://forums.fedoraforum.org/showthread.php?147402-Fedora-Core-5-upgrade-to-6).

AWX is young now, just as Fedora was young then. We are not saying "we will never support upgrades in

[2018-02-15 14:46] akcrisp commented on #138
@gregdek I think however although awx might be young as an open source project - ansible tower (licensed version) is not. This is the up stream version of that product. So if you are breaking and preventing awx upgrades it is a logical assumption you will also be breaking the down stream ansible tower upgrades. In order for that not to happen - seeing as people are paying for that support - someon

[2018-02-15 14:55] mkempster22 commented on #138
Unfortunately I don't think it would be as easy as that. I don't see any way it could be kept to a point where it is upgrade-able without extra resources dedicated to that which it's clear is not going to happen.
Although I do agree that the current way AWX is developed is going to turn people away from using it, such as when over December there was an issue where no one could run any job template

[2018-02-15 15:01] greg-hellings commented on #1192
This issue is not related to empty groups, as I showed with my first comment after the OP. It's purely related to the Ansible Core bug that eliminates all group vars from the flattened inventory.

[2018-02-15 15:45] wenottingham commented on #1257
Do you have the API entry for the SCM update?

[2018-02-15 15:49] bartmeuris opened #1258 "Query filter and smart inventory; host membership of indirect group"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Nested groups cannot be found using `host_filter` API or smart inventories.

##### ENVIRONMENT
* AWX version: 1.0.3.14
* AWX install method: [awx-container from geerlingguy](https://github.com/geerlingguy/awx-container/)
* Ansible version:  2.4.3.0

##### STEPS TO REPRODUCE

Preparation: create groups:

* Create a group in

[2018-02-15 15:53] matburt commented on #1212
Last thing before I walk away from this issue, we don't maintain @geerlingguy's repository. We cover our officially supported installation methods in exhaustive detail, here's the relevant section that lists the tunables and how to apply them: https://github.com/ansible/awx/blob/devel/INSTALL.md#inventory-variables

If you have a problem with that other role then you need to take it up with that m

[2018-02-15 16:17] geerlingguy commented on #1212
Yes, please open an issue/file a PR with that role, and note that I have not had much time to make any improvements of late. The role is currently mostly a proof of concept meant to be forked and used how you see fit. The primary reason I created the role was because there was no other simple way of getting AWX set up on a machine at that time.

[2018-02-15 17:23] jpaulovic opened #1259 "Workflow cannot be saved when edited."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When editing an existing workflow in a Workflow job template, the UI doesn't allow me to save the changes - clicking on the save button doesn't do anything. When the page is refreshed, the workflow is changed in a random, undesirable way (e.g. some tasks are moved to new parallel branches, even though the original workflow w

[2018-02-15 17:28] grahamn-gr opened #1260 "HTTP 500 errors trying to get to schedules after creating a schedule using the new prompt function"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
HTTP 500 errors trying to get to schedules after creating a schedule using the new prompt function

##### ENVIRONMENT
* AWX version: 1.0.3.36
* AWX install method: docker on linux
* Ansible version:  2.4.3.0

##### STEPS TO REPRODUCE

1) Create template that has a survey
2) Schedule a job against the template and use

[2018-02-15 17:32] grahamn-gr opened #1261 "Add Inventory Field in Schedules view"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Add Inventory Field in Schedules view

##### ENVIRONMENT
* AWX version: 1.0.3.36
* AWX install method: docker on linux
* Ansible version:  2.4.3.0

##### STEPS TO REPRODUCE

When looking a the schedule view it would be nice to see what inventory the schedule will be run against, in addition to the schedule name, first run

[2018-02-15 17:57] grahamneville commented on #1261
Also adding project and job template name would be handy too.

[2018-02-15 18:36] wenottingham commented on #1261
@jlmitch5 now that we've added the 'save a launch configuration for schedules', does this mean that the schedule page should perhaps use the expanded list view?

[2018-02-15 18:43] wenottingham opened #1262 "Allocate capacity for isolated controller jobs"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

Sort of a bughancement. We don't currently allocate capacity for controller nodes controlling isolated jobs.

Notes from @AlanCoding:

There are 2 types of activities that have a hypothetical task impact

    job-related management playbooks
    the isolated heartbeat task

for those scenarios, we have 2 t

[2018-02-15 18:45] wenottingham opened #1263 "Add appropriate socket messages and consuming code for live updating of instance group status"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

We don't currently do live updates of instance group capacity & status.

This feature is for the API to send the necessary info via websocket, and for the UI to consume it.

##### ADDITIONAL INFORMATION

[2018-02-15 18:50] wenottingham opened #1264 "forms with codemirror - save button should be disabled on detection of invalid yaml / json input"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

We do not update save button status based on valid/invalid input.

##### ENVIRONMENT
* AWX version: current

##### STEPS TO REPRODUCE

- **[1]** go to `/#/inventories/smart/add`
- **[2]** fill out required fields
- **[3]** add invalid input to `Variables` field
- **[4]** remove invalid input from `Variables` field

##### EX

[2018-02-15 18:58] wenottingham opened #1265 "Cannot add teams from org view"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Right now, there is no tab for 'Teams' when viewing an organization, and if you use the org card view to go to the org's teams, you can't add them from there.

##### ENVIRONMENT
* AWX version: current

##### ADDITIONAL INFORMATION

mockup -> https://tower-mockups.testing.ansible.com/mockups/orgs/orgs-teams/

[2018-02-15 19:01] wenottingham opened #1266 "RFE: store/display last login of user"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

In theory, if we store and display the last login of the user, the user could notice if their creds were used without them.

Request is to store this info and display it... somewhere.

##### ENVIRONMENT
* AWX version: current
##### ADDITIONAL INFORMATION

[2018-02-15 19:01] wenottingham commented on #1266
One option, on the dashboard next to user name.

[2018-02-15 19:04] wenottingham opened #1267 "RFE: add a 'you have unsaved changes' paradigm"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

In general, we allow you to cancel out of any screen whether you have unsaved changes or not.

We could change the paradigm of AWX such that it warns if you have unsaved changes.

##### ENVIRONMENT
* AWX version: any
##### ADDITIONAL INFORMATION

an example: https://tower-mockups.testing.ansible.com/mockups/templates/work

[2018-02-15 19:07] wenottingham opened #1268 "Allow for resize/popout of extra_vars fields"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

`extra_vars` can get really large. We don't have a mechanism for better view other than just scrolling the field.

##### ENVIRONMENT
* AWX version: any
##### ADDITIONAL INFORMATION

Implementation idea mockups:
https://tower-mockups.testing.ansible.com/mockups/jobs/jobs-details/
https://tower-mockups.testing.ansible.com/m

[2018-02-15 19:12] wenottingham opened #1269 "Unclear error message from UI when relaunching ad-hoc command with deleted credential"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

The error message for re-launching an adhoc command with missing resources is not clear to the user.

##### ENVIRONMENT
* AWX version: current

##### STEPS TO REPRODUCE

1. Run an ad-hoc command
2. Delete the credential it uses
3. Hit 'relaunch'

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

##### ADDITIONAL

[2018-02-15 19:13] wenottingham commented on #1084
As part of this, we should have a better way to show the full workflow graph when it's large (download/print).

[2018-02-15 20:25] shanemcd commented on #138
This is an incorrect assumption. Tower upgrade paths are tested and supported. It should be completely understandable that there will be changes to the data models in the development branch between major releases that might cause issues when pulling new code. You should automate the provisioning of your AWX server rather than relying on a stable upgrade path.

[2018-02-15 20:41] AlanCoding opened #1271 "Stop forcing overwrite_vars=True for SCM inventory sources"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Now that #1253 is in, we don't have to force people to use `overwrite_vars` on their inventory sources forever.

##### ENVIRONMENT
* AWX version: 1.0.3-162
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  at minimum users should try to have 2.5
* Operating

[2018-02-15 20:54] akcrisp commented on #138
Sorry but if tower is based on awx then it follows that those same data changes between awx major releases will have an impact on tower. How else will new features be implemented if not ? So therefore someone has to be tracking those changes in order to test and upgrade tower.

I can’t see there’s any way around that.

Automating the provisioning of the awx server is not the problem - getting exis

[2018-02-15 21:09] e-tienne opened #1272 "Populate all available groups as options to the limit field on the job template creation."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
Populate all available groups as options to the limit field with pattern matching on the job template creation or prompt on launch.

##### ACTUAL RESULTS

With a large dynamic inventory and multiple groups, we have to keep a printout of the group list and rely on correct typing into the limit field.

[2018-02-15 21:10] wenottingham commented on #1272
This has already been filed here https://github.com/ansible/awx/issues/1179

[2018-02-15 21:10] #1272 closed, assigned to nobody

[2018-02-15 21:26] dc-jbd commented on #1179
I'd like to see a separate drop down for groups for the inventory (under job templates) besides the limit hostname pattern matching. My particular problem is that my current dynamic inventory takes ~60 min to run against VCenter. It generates about 40+ groups and nobody is going to remember what the correct one is and they are long names based on VCenter folder paths. If I have to have separate cu

[2018-02-15 21:29] grahamneville commented on #1179
+1

[2018-02-15 21:40] wenottingham commented on #1271
What do you mean by 'should be able to'?

[2018-02-15 21:44] mneumarkidg commented on #1179
+1

[2018-02-15 21:51] wenottingham commented on #1179
(+1 comments with lots of mail-gateway noise edited)

A very simple team AWS account that I have an example of has over 350 groups in it, despite having less than 200 hosts. Whatever solution is chosen here, I don't think a static dropdown scales.

[2018-02-15 22:01] grahamneville commented on #1179
A dropdown probably won't scale, but a multipage view similar to how the inventory is chosen could work especially if there is a search field for pattern matching.

[2018-02-15 22:16] dc-jbd commented on #1179
Maybe the multipage group view would let you select group names one at a time and use that to populate a search string text box where you can free form whatever pattern match combinations you want. The final result is basically another limit pattern match field but just for groups. If I understand this right.

[2018-02-16 02:40] steaksauce- commented on #735
@matburt @mkayontour
I was able to get this working without a privileged container under the following conditions:
- Utilize `docker exec -i -t awx_task /bin/bash` to get into the container and modify it.
- Install `gcc` within the container (`python-pip` needs it to install `pywinrm[kerberos]`)
- Follow [the documentation](http://docs.ansible.com/ansible/latest/intro_windows.html#kerberos) on set

[2018-02-16 05:05] jobcespedes opened #1273 "Openstack inventory using custom CACERT"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Error syncing inventory with openstack

##### ENVIRONMENT
* AWX version: 1.0.3.55
* AWX install method: docker-compose on linux
* Ansible version:  2.4.3.0
* Operating System: Ubuntu 16.04.3
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Use an SSL endpoint

##### EXPECTED RESULTS

Import instances to inventory

##### A

[2018-02-16 07:24] maksimluzik commented on #1212
I am a bit puzzled @matburt even though it is `geerlingguy.awx` repo same thing applies also to the official `ansible/awx` repo. I did not manage to override the variable in any case, the link you provided to manage inventory-variable means I would need to fork this repo, but that means I would need to fork 2 other repos as well just to make this work. And I still can not understand how this is in

[2018-02-16 09:06] grahamn-gr commented on #1260
Logs from awx_web

[code]

[2018-02-16 12:50] AlanCoding commented on #1271
![screen shot 2018-02-16 at 7 49 49 am](https://user-images.githubusercontent.com/1385596/36308297-0322dab0-12ee-11e8-9e3f-6f6a77b611c7.png)

That box, they should be able to click it, and uncheck it now.

[2018-02-16 12:57] AlanCoding commented on #1260
I can't reproduce this following the steps that you gave (no 500 error). Could you give any more details about what type of survey questions you saved, or anything else that might make a difference?

[2018-02-16 12:58] AlanCoding commented on #1260
oh, it looks like this was fixed in #802, closing for now.

[2018-02-16 12:58] #1260 closed, assigned to nobody

[2018-02-16 13:48] FloThinksPi opened #1274 "New Survey Type "volatile Password" (Option to not save jt survey passwords)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Option to not save jt survey passwords via seperate Survey field Type "volatile Password".
This is simmilar to #742 but with Credentials provided by Surveys.

I worked around #688 where the Password promt on launch is faulty.
I did this by creating a password field in a survey and overwrote ansible_ssh_password.

N

[2018-02-16 14:02] FloThinksPi commented on #138
So IMHO the issue can be closed as wontfix, the reason is understandable and answered above.

The focus atm is Dev and once this project comes near a tower release, there will be efforts in developing a upgrade path between the new and old tower/awx versions as @shanemcd pointed out. This will repeat etc.

It Makes totally sense not to waste time in supplying update paths between tiny version jump

[2018-02-16 14:05] #138 closed, assigned to nobody

[2018-02-16 14:08] matburt commented on #138
I have closed this issue, the original problem might still be there if you interrupt the install when it's performing the first database migration.

[2018-02-16 15:12] AlanCoding commented on #1274
This is a well-thought out request. Thanks for putting in the effort.

Also can't be used in workflows, yes. Defaults don't make any sense either. Either case would defeat the original intention. We are on the same page there.

Forgetting the values (which are inside job `extra_vars`) would be a minor development challenge, but it could be done in the same way that the solution to 742 was.

[2018-02-16 15:26] wenottingham opened #1275 "/migrations_notran does not redirect if AWX is fully up"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

Case 1. AWX is upgrading. Go to AWX.

1. You are redirected to /migrations_notran.
2. You wait
3. You are redirected to AWX when done.

Case 2: AWX is not upgrading. Go to awx/migrations_notran (by accident)

1. You see 'will redirect to AWX when done'
2. You wait
3. Nothing happens

##### ENVIRONMENT
* AWX version: curren

[2018-02-16 15:29] wenottingham commented on #1271
Oh, we forcibly block it. N/M.

[2018-02-16 15:30] wenottingham commented on #1274
As a user interface, I think a "Save for relaunch" checkbox on password type makes more functional sense than a separate type.

This is only if `required: True` is set.

[2018-02-16 16:07] matburt commented on #1275
This uses a javascript timer on the page is there something wrong with that? anything on the javascript console?

[2018-02-16 16:29] wenottingham commented on #1275
Hm. Refresh of containers fixed it. ¯\_(ツ)_/¯

[2018-02-16 16:29] #1275 closed, assigned to nobody

[2018-02-16 16:47] Matz13 opened #1276 "set_facts is not working properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
When working with a workflow, the variables "stored" with set_facts are not recovered by subsequent jobs

##### ENVIRONMENT
* AWX version: 1.0.2.52
* AWX install method: docker on linux
* Ansible version:  2.4
* Operating System: Centos 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE
- Create 2 jobs, 1 with set_stats, the

[2018-02-16 17:06] ryanpetrello commented on #1276
@Matz13 thanks for reporting this - I believe what you're encountering is actually a known issue that I'm working on fixing at the moment.  Could you confirm something for me with your installation?

[code]

I'm curious to see if your memcached instance is going over its memory capacity and evicting records.

[2018-02-16 18:42] Matz13 commented on #1276
Hi @ryanpetrello
This is what I got:
[code]
I also see a lot of `error(104, 'Connection reset by peer')` in `docker logs awx_task` (full trace below)
and also `2018-02-16 18:40:51,108 ERROR    awx.main.scheduler Failed to retrieve active tasks from celery`
I'm not sure it is related though

 **docker logs awx_task**
[code]

[2018-02-16 18:45] Lupi619 commented on #1212
I am also experiencing this issue.  I am new to Ansible AWX but have installed just the defaults to play around with it and get more familiar with it and try to see if I can find proper use for it at my job, which it would be a huge help.  However every time I have to work on another project and come back I get the Internal: Server Error.  @matburt is this going to happen to everyone using the def

[2018-02-16 18:47] AlanCoding commented on #1274
^ Yes, this implementation would be better than a new question type.

It also raises the question about whether workflows and schedules would save survey password answers when they create jobs. It could be configurable, or the answer could just be "no". Both relaunch and re-scheduling must be done as a distinct user action, so the user can re-enter the passwords then. This way, you can be assured

[2018-02-16 19:31] steaksauce- commented on #1212
Seems like the issue is ~ "using /tmp/ for pgdata breaks after a while", and the response is ~ "/tmp is readily available to anyone".

While I don't know if it's well documented anywhere, you can easily modify the `awx/installer/inventory` file:
[code]
I've tested this working.

While Tower has been around a while, AWX is still young and will mature in both documentation and overall product over t

[2018-02-16 19:37] grahamneville opened #1278 "Password fields are shown as cleartext in preview when launching a job with a survey"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Password fields are shown as cleartext in preview when launching a job with a survey

##### ENVIRONMENT
* AWX version: 1.0.3.38
* AWX install method: docker on linux
* Ansible version:  2.4.0.3

##### STEPS TO REPRODUCE

1) create a new job template and add a survey. Within the survey have a password field.
2) run the job te

[2018-02-16 19:42] grahamneville opened #1279 "Multiple Credentials in preview mode doesn't fit the width of the window"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When you have multiple credentials assigned to a job (or really long names) then they don't fit within the preview window, they keep spanning across on one line.

##### ENVIRONMENT
* AWX version: 1.0.3.38
* AWX install method: docker on linux
* Ansible version:  2.4.0.3

##### STEPS TO REPRODUCE

1) create a new job template

[2018-02-16 19:48] grahamneville opened #1280 "Add option to not import host variables in to AWX when sourcing inventory from SCM"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Add option to not import host variables in to AWX when sourcing inventory from SCM

##### ENVIRONMENT
* AWX version: 1.0.3.38
* AWX install method: docker on linux
* Ansible version:  2.4.0.3

##### STEPS TO REPRODUCE

I would like the option for AWX to not import any varibles from SCM so when Ansible is run it cont

[2018-02-16 20:18] tech-dad opened #1281 "Inventory option to Prompt At Launch Not working as expected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
On a created Job, the option to prompt on launch will not work with the inventory field being empty in the job. It will only work if you define an inventory file in the job, and then select "Prompt on Launch"

See Screen Shots:
This will work:
https://pasteboard.co/H7X6Sar.png
![h7x6sar](https://user-images.githubusercontent

[2018-02-16 20:51] tech-dad commented on #1281
I can confirm this is also happening on the default job included with the installation

"Demo Job Template"

[2018-02-16 21:45] wenottingham opened #1283 "Feature idea: automatically split jobs across a cluster"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Sometimes a user wants to run a job across a very very large number of endpoints. The current best practice is to 'size the number of forks based on available resources, and cycle until done'.

However, this still limits execution to a single AWX node.

It would be potentially useful to have AWX split a job into mu

[2018-02-17 08:18] MarkRoddick opened #1284 "Feature Idea: Resume workflow from point of failure"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Currently you can only rerun individual templates that have executed or failed as part of the workflow. It would be nice to be able to restart from failure and continue with the rest of the workflow.

[2018-02-17 15:57] AlanCoding commented on #1284
A workflow's execution can take multiple branches simultaneously, and some nodes could have already traversed their "failure" or "always" connections. The best feature spec I could imagine would be to start again on all filed nodes that ended their branch. There's appeal as an analog to retry on failed hosts for job templates, but I think it would be difficult to communicate its function.

[2018-02-17 20:45] jstewart612 opened #1285 "AWX does not work on Docker Swarm with nginx SSL reverse proxy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When AWX is deployed with all components replica 1 in a Docker Swarm, and nginx is configured as a reverse proxy in front of it, numerous Websocket errors are deployed, despite attempting to account for it.  "WebSocket connection to 'wss://awx.tools.rentpath.com/websocket/' failed: WebSocket is closed before the connectio

[2018-02-17 22:44] seffyroff commented on #1038
Seeing the same things here.  Lots of logspam related to connection reset by peer (as per other issues filed here) between awx_task and rabbitmq.  The 502 issue also happens as described out of the box, with a fresh install following the docker (or docker-compose) instructions.  No special configs.  Attempted on bare metal and cloud VMs of between 4-8GB ram, Ubuntu Xenial host, Docker 17.12 or 18.

[2018-02-18 04:33] jakemcdermott commented on #1285
Hey there, jstewart612.

Thanks for reaching out. Docker swarm isn't a supported installation mode for AWX so I'm going to close this issue. If you have any questions please drop us a line on the AWX mailing list or join our IRC chat on freenode.

[2018-02-18 04:33] #1285 closed, assigned to nobody

[2018-02-18 05:10] jacksonp2008 opened #1286 "Ansible XML Module failing on lxml python library even though it is installed."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

[code]

Even though it is installed:

[code]

##### ENVIRONMENT

[code]

* Ansible version:  2.5.0
* Operating System:OSX

##### STEPS TO REPRODUCE

host: docker1 (from above)

Task:
[code]

##### EXPECTED RESULTS

should have parsed the XML and returned the value of the version attribute in the register.

##### ACTUAL R

[2018-02-18 07:55] jstewart612 opened #1287 "Allow Containers to be installed to a stack in Docker Swarm"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - Installer

##### SUMMARY

Add support for installing to Docker Swarm

##### ENVIRONMENT
* AWX version: latest
* AWX install method: docker on linux
* Ansible version:  latest
* Operating System:  *nix
* Web Browser: any

##### STEPS TO REPRODUCE

Deploy a Docker Swarm stack named "awx" with something like the following docker-compose file

[2018-02-18 07:55] jstewart612 commented on #1285
Feature Idea, then:  https://github.com/ansible/awx/issues/1287

[2018-02-18 11:30] itamarshpak commented on #1118
Solved it, apperantly the playbooks need to be in awx_task container and in awx_web container both @twhiston

[2018-02-18 17:26] itamarshpak opened #1288 "Source From A Project Doesn't Show Any Inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI
 - Installer

##### SUMMARY
while attempting to create an inventory with a source from project, no inventories are shown in the list.
i tried yaml and ini files but it doesn't show it.
also tried to change permissions but also 777 permissions didn't worked for me.
any ideas ?

##### ENVIRONMENT
* AWX version: 1.0.3.41
* AWX install

[2018-02-19 05:24] seffyroff commented on #1038
Additionally, the @geerlingguy container images aren't working flawlessly either.  After an uptime of 8 hours or so the API stops responding to the frontend, and the 502 error message starts happening as described in this thread.

I'm going to start working back through container images to find the last stable version - right now it seems like there isn't a stable version, given the system require

[2018-02-19 06:36] pravindmali opened #1289 "stdout capture is missing in result_stdout of workflow_jobs"
##### ISSUE TYPE
 - RFE

##### COMPONENT NAME

 - API

##### SUMMARY
When I run the workflow job in tower and from the interface, I can see on the interface is graphical presentation and status of job template.  But when I look at the (api/v2/workflow_jobs/job_id) "result_stdout" on workflow_jobs, the result is stdout out capture is missing.

##### ENVIRONMENT
* AWX version: 1.0.0
* Ansible versio

[2018-02-19 12:11] vrutkovs commented on #1257
This seems to be caused by selinux permissions, running `sudo chcon -R -t svirt_sandbox_file_t /var/lib/awx/` on the host worked for me

[2018-02-19 12:51] AlanCoding commented on #1289
Workflow jobs are a container for other jobs, and using the result_stdout for this kind of thing would be an abuse of the field. Maybe it would be better to give a more specific error message?

Clients need to put together their own representation of the workflow job network, for an example, the CLI does a textual job-by-job summary with `tower-cli workflow_job summary`. But the idea that the API

[2018-02-19 13:00] matburt commented on #1273
Would be helpful to know what the config file we generated at sync-time looked like. Otherwise we'll have to circle back to this when we get to it.

[2018-02-19 13:03] AlanCoding commented on #1289
On second look, I'm not sure how you got to "result_stdout". I don't see either a field for this or a related link for this on endpoints like `/api/v2/workflow_jobs/8/`.

[2018-02-19 13:13] AlanCoding commented on #1288
Interesting, in basic terms I've replicated this issue.

 - Created new folder in projects folder
 - Created manual project using this folder
 - Observed that playbooks are populated at `/api/v2/projects/52/playbooks/`
 - Observed that inventories are not populated at `/api/v2/projects/52/inventories/`

I'm trying to remember if there was any problem that prevented us from being able to use manual

[2018-02-19 13:14] matburt commented on #1286
Did you intend to file this against the Ansible project? This is the AWX project source repo and this doesn't seem like it belongs here.

[2018-02-19 13:14] #1286 closed, assigned to nobody

[2018-02-19 13:17] matburt commented on #1287
I think this would probably need to examine how we perform an install against Openshift and Kubernetes to make sure it follows that model in order to benefit from AWX's auto-scalability.

[2018-02-19 13:18] matburt commented on #1288
I've been wondering about that one too... I was waiting to ask you after your return if that was some sort of artificial limitation imposed for some technical reason.

[2018-02-19 13:38] itamarshpak commented on #1288
This is what I see. I have 2 files in the project directory one with '.ini' ending and one without.

![screen shot 2018-02-19 at 3 35 11 pm copy](https://user-images.githubusercontent.com/35530228/36380403-d3f20ff0-158a-11e8-9926-ff6afc6c77ec.png)

I also tried to write the name of the file, with no success

[2018-02-19 13:41] AlanCoding commented on #1288
You can still type in the relative path manually.

It looks like the listing is due to a particular nuance with the serializers.

https://github.com/ansible/awx/blob/2c71a27630a20acf80f2b523aff62868b840ebc0/awx/api/serializers.py#L1063-L1095

With manual projects, we read directly from the file system in the request-response cycle. I probably hesitated copying that pattern for inventories, but sin

[2018-02-19 13:54] itamarshpak commented on #1288
When I write the relative path (e.g: /var/lib/awx/projects/sensu/sensu.ini) I get this error :

Also tried ./sensu.ini and just sensu.ini

[2018-02-19 14:11] #1289 closed, assigned to nobody

[2018-02-19 14:17] AlanCoding commented on #1288
That's the absolute path, the relative path would just be `sensu.ini`. Although this might not be enough to solve it, I'll need to replicate the steps and see what the bad request message says.

[2018-02-19 14:20] AlanCoding commented on #1288
The response message

[code]

I wish the UI would surface this message up. It's also not filtering out manual projects in the project selector.

[2018-02-19 14:27] AlanCoding commented on #1288
For some history, you can run `awx-manage inventory_import` on the CLI, and this will create a `file` type inventory source. I think the logic here was that a project-based inventory source that points to a manual project is redundant with the file inventory source functionality. Although, it is true that there's no way to use the file type from the API.

[2018-02-19 14:28] jobcespedes commented on #1273
Hello,
Using the following in "Source variables":
[code]
The generated config file in /tmp looks like:
[code]

[2018-02-19 14:56] AlanCoding opened #1290 "Clicking copy on manual project gives a project with error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### ENVIRONMENT
* AWX version: 1.0.3-174
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

In the UI, click the button to make a copy of a manual project.

##### EXPECTED RESULTS

Valid result.

##### ACTUAL RESULTS

Original and copy

![screen shot 2018-02-19 at

[2018-02-19 15:05] ryanpetrello commented on #1276
@Matz13 that issue looks eerily similar to another we've been tracking - it may explain other issues you're encountering (like the `set_stat` issue).  When we've seen this in the past, it's sometimes been due to an under provisioned system.  Are you deploying in an environment that matches these minimum requirements?

https://github.com/ansible/awx/commit/cf0cc2e2f2db8446c1f80538a0e504fb0a877efc#d

[2018-02-19 15:06] AlanCoding opened #1291 "Relaunch of job with no credentials gives error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.3-174
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

(in the UI)

 - Create a JT that runs a debug playbook and has no credentials attached to it (machine or otherwise)
 - Launch that JT
 - Relaunch that job you

[2018-02-19 15:38] chrismeyersfsu commented on #1273
@jobcespedes can you try to recreate with ansible on the command-line?

[2018-02-19 16:00] AlanCoding opened #1293 "Stop producing activity stream events related to workflow finish"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Workflows create too many activity stream events.

`modified_by` is getting nulled by system activity, impairing finger-pointing ability.

##### ENVIRONMENT
* AWX version: 1.0.3-174
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

 - C

[2018-02-19 16:10] Yiadh opened #1294 "Absence of Jobs LoadBalancer when scaling up the AWX pod"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- AWX

##### SUMMARY
Unable to run more than 4 jobs simultaneously
Absence of Jobs LoadBalancer when scaling up the AWX pod

##### ENVIRONMENT
* AWX version: 1.0.3
* AWX install method: openshift
* Ansible version:  2.4.2.0
* Operating System: Centos7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

I cannot run more than 4 jobs simultaneously:

[2018-02-19 16:31] AlanCoding opened #1295 "Inventory source edit page does not pass through API errors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The inventory source edit page, (example `http://localhost:8013/#/inventories/inventory/7/inventory_sources/add?inventory_search=page_size:20;order_by:name`) does not show the user API response messages for 400 codes.

##### ENVIRONMENT
* AWX version: 1.0.3-174
* AWX install method: docker for mac
* Ansible version:  N/A
* O

[2018-02-19 16:34] jaredevantabor commented on #1227
This is a duplicate issue of #1295, so I'm going to close this issue in favor of that card.

[2018-02-19 16:34] #1227 closed, assigned to nobody

[2018-02-19 16:41] AlanCoding opened #1296 "Deleting job from inventory's COMPLETED JOBS does not remove it from UI list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Clicking the trash bucket for an inventory's completed job in the UI does not remove it from the UI list, even though it is deleted on the backend.

##### ENVIRONMENT
* AWX version: 1.0.3-174
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System: Mac
* Web Browser: Chrome 64.0.3282.119 (Official Bui

[2018-02-19 17:01] #1291 closed, assigned to ryanpetrello

[2018-02-19 18:12] matburt commented on #276
api side done, moving to UI

[2018-02-19 18:29] arjunnambiartc commented on #1212
@maksimluzik ..i have encountered the same error..While i know the fix is to change the mount path, is there any way to restore the old data without having to nuke everything and start afresh ?

[2018-02-19 18:34] Matz13 commented on #1276
@ryanpetrello
The machine its running on has 8Gb ram / 4 cores / 50Gb HD (33Gb free) so it doesn't look alike a perf issue.

[2018-02-19 18:34] maksimluzik commented on #1212
@arjunnambiartc you might be able to restore some data, but it might be incomplete and broken (a lot of manual work). In my case I saw it was easier to re-enter the data (through UI) that I lost into a new fresh setup than start playing with data recovery tools. Depends of course how much data did you loose? You could try some approaches like this one: https://unix.stackexchange.com/questions/8027

[2018-02-19 19:29] innocode-devops opened #1297 "Nginx not starting in awx_web images in kubernetes environment"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Nginx is unable to start in k8s environment.

[code]
Naturally web interface is not accessible.

##### ENVIRONMENT
* AWX version: latest docker tag (1.0.3.56 at the time of writing)
* AWX install method: kubernetes (GKE specifically)
* Ansible version:  2.4.3

##### STEPS TO REPRODUCE

1. Install to k8s as per INSTALL

[2018-02-19 22:38] apple4ever opened #1299 "Can't connect to web interface, having to reboot often"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
I set up a Docker install of AWX. However, once every couple of days, I cannot connect to the web interface. It just hangs. If I reboot the server, everything is fine, for a couple more days. When I check the scheduler, nothing is running once it hangs.

##### ENVIRONMENT
* AWX version: 1.0.2.327
* AWX install method: docker

[2018-02-20 00:55] wenottingham commented on #1280
What is the reason you would like it to behave that way?

[2018-02-20 00:56] wenottingham commented on #553
Also note 'volatile password option', https://github.com/ansible/awx/issues/1274

[2018-02-20 00:59] wenottingham commented on #879
Closing - please reopen with the info requested if needed.

[2018-02-20 00:59] #879 closed, assigned to nobody

[2018-02-20 08:31] Yoiro opened #1300 "DB Migration Failing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
I wanted to upgrade to version 1.0.3 while changing the location of my DB by moving it to another server.

##### ENVIRONMENT
* AWX version: 1.0.3.57
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Do a git pull and live re-r

[2018-02-20 11:27] akcrisp opened #1301 "failed to emit log to external aggregator"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
 - Installer

##### SUMMARY
Getting failed to emit log to external aggregator - even when there isn't one configured, I was testing splunk but have reverted all to defaults in UI.

Feb 20 11:18:41 HOSTNAME journal: 2018-02-20 11:18:41,702 ERROR    awx.main.utils.handlers failed to emit log to external aggregator. Its also attempting to the

[2018-02-20 11:33] hardys commented on #398
FWIW I think this could be an interesting feature request to consider, for example in the OpenStack case, frequently OpenStack is deployed with mysql and enabling awx to integrate with the existing DB (and memcached and rabbitmq) would be pretty nice from a deployment perspective.

[2018-02-20 13:53] ryanpetrello commented on #398
@hardys having spent a good deal of time (5-6 years) working upstream in OpenStack myself, my experience was that the multi-database support in OpenStack really ended up being:

1.  It works with MySQL.
2. On a service-by-service basis, probably Postgres works for free because we're using SQLAlchemy, but if there's an issue I guess file a bug and somebody will address it?   ¯\_(ツ)_/¯

I've sat in

[2018-02-20 14:05] w7089 commented on #1197
The issue is reproduced regardless _ansible_ .  Downgrading to _docker==3.0.0_ doesn't help.
Just did:

[code]

and got:

Docker version is

Regards

[2018-02-20 14:07] hardys commented on #398
@ryanpetrello: thanks for the feedback, I do understand maintaining test coverage for multiple DB backends is hard, and I can't argue with your assertions re OpenStack.

My point was more that given that typical OpenStack deployments already have memcached, rabbitmq and a DB, it's kind of a shame when considering AWX integration that it's all duplicated.

Not a blocker by any means, but when I sta

[2018-02-20 14:09] ryanpetrello commented on #398
Yep - the ask in this issue is valuable feedback - I just figured it warranted a thorough answer on _why_ we're so opinionated about the "no" answer:  it's a _lot_ of work, and awx really runs best when not sharing its services (especially the message bus).

[2018-02-20 14:20] Ken4scholars commented on #761
@matburt
I am having exactly the same problem. I have tried different directory structures but group_vars are not getting loaded. Since Ansible looks for group_vars in the same directory as the inventory, I am not sure where to put it as I added my inventories using the Web UI and I don't know where and how AWX stores them. This is my current directory structure:

[code]

[2018-02-20 14:26] matburt commented on #761
You are probably running into this issue: https://github.com/ansible/ansible/issues/30877

Which will be fixed in AWX once ansible releases a new version and we pick it up. Or you install the version that includes that fix yourself.

[2018-02-20 14:31] matburt commented on #1299
Is something happening to the postgres container?  Is it running? are there error logs for that container? or rabbitmq service in the container? What are the specs on the system running AWX.

[2018-02-20 14:32] matburt commented on #1300
What version are you upgrading from?

[2018-02-20 14:34] matburt commented on #1294
Let me see if I can reproduce this.

For the record, you should not mess (or have to mess with) the celery pool. That would also likely only affect one host anyway.

[2018-02-20 14:47] grahamneville opened #1302 "Job templates do not respect the inventory prompt"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Job templates do not respect the inventory prompt they always fall back to whatever is saved in the job template.

##### ENVIRONMENT
* AWX version: 1.0.3.58
* AWX install method: docker on linux
* Ansible version:  2.4.0.3

##### STEPS TO REPRODUCE

1) create a job template and make Inventory prompt at launch - you'll also h

[2018-02-20 14:48] ryanpetrello commented on #1301
@akcrisp could you share (sanitized, if necessary) the contents of:

`HTTPS GET https://<towerhost>/api/v2/settings/logging/`

[2018-02-20 14:55] #544 closed, assigned to nobody

[2018-02-20 15:00] jobcespedes commented on #1273
@chrismeyersfsu I'm not sure how to recreate it on cli, sorry.

[2018-02-20 15:11] AlanCoding commented on #1302
Confirmed bug. New inventory is shown in the preview screen, but does not get submitted in the POST data.

[2018-02-20 15:32] ryanpetrello commented on #1276
Hey @Matz13, I haven't forgotten about you 😄.  In a short while, we're going to merge some bug fixes into awx from a hardening branch, and I suspect something in there _may_ resolve the `set_stats ` issue for you.  I'll post here again when that happens.

[2018-02-20 15:54] chrismeyersfsu commented on #1273
https://github.com/ansible/ansible/blob/devel/contrib/inventory/openstack.py

create an `openstack.yml` and fill it with the content that you pasted above. Put that file in the same directory as `openstack.py`

Run:
`ansible-inventory -i openstack.py`

[2018-02-20 15:54] lukasmrtvy commented on #490
This is not working.. Any ideas?

[code]

EDIT:  AWX_TASK_ENV has "defined_in_file": true, is possible to override it somehow?

[2018-02-20 17:51] christoph-kluge commented on #1137
@jpc2350 I'm evaluating AWX right now for one of my clients and found your issue because I was searching for a way how to add ec2.ini settings into the AWX Inventory. Thanks for pointing me to this :)

Anyway I've tested your example and it worked for me. I'm am using AWX 1.0.3.58.

[2018-02-20 18:33] amaranto opened #1303 "gcp source raise python exception"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Inventory Source for GCP raise python exception

##### ENVIRONMENT
* AWX version:  1.0.4.0
* AWX install method: kubernetes ( on gcp )
* Ansible version:   2.4.3.0
* Operating System: Docker container centOs | ansible/awx_web:latest
* Web Browser: chrome/firefox

##### STEPS TO REPRODUCE
go to Inventory -> Sources -> +add s

[2018-02-20 18:37] jlmitch5 commented on #1259
@jpaulovic

I have tested this on a (mostly) up-to-date AWX devel and was not able to reproduce.

Are you using Tower (the 3.2.2 tag of your issue has me wondering)?

[2018-02-20 18:38] jaredevantabor commented on #1259
@jpaulovic can you clarify `AWX version: 3.2.2`? Are you on Tower 3.2.2 or AWX? What browser are you using? Does the web console indicate any errors when you refresh, or when you try to save?

[2018-02-20 18:44] ryanpetrello commented on #815
Resolved via https://github.com/ansible/awx/commit/2955842c44c69cc4b93811ac8311abdf48ba28bc

[2018-02-20 18:44] #815 closed, assigned to ryanpetrello

[2018-02-20 18:47] ryanpetrello commented on #1276
Hey @Matz13, I believe this change should resolve the issue you're encountering with `set_stats` (which is in the very recent https://github.com/ansible/awx/releases/tag/1.0.4 release):

https://github.com/ansible/awx/commit/d57470ce49f80afd6b510667be151b035f7b0e55

Do you mind giving it a try?

[2018-02-20 18:59] jaredevantabor commented on #1258
@bartmeuris just a thought, but could you try `group.name` instead of `group_name`? The documentation [here](http://docs.ansible.com/ansible-tower/latest/html/userguide/inventories.html#host-filter-search) suggests that syntax for group searches.

[2018-02-20 19:00] jpaulovic commented on #1259
I'm on Tower 3.2.2. The web interface nor web console in Firefox seem to indicate any errors. This is actually pretty interesting, because I'm only able to reproduce this on some set of Job Templates in the workflow, not all. It seems that it only happens when a dynamic inventory sync task is in the workflow. Just for the record, the dynamic inventory task is one that is configured as follows:

SO

[2018-02-20 19:12] shanemcd opened #1305 "GKE Deployments are broken"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

 - Installer

##### SUMMARY
GKE enabled RBAC on new clusters, causing `helm install` to fail. See error output below.

##### ENVIRONMENT
* AWX version: N/A
* AWX install method: Kubernetes on GKE
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: N/A

##### STEPS TO REPRODUCE

- Create cluster on GKE
- Run installer

##### EXPECTED

[2018-02-20 19:22] ryanpetrello commented on #1303
@amaranto could you paste the _entire_ traceback you see in the Job Output view?  There's likely a bunch of lines above this that could help provide some context.  Thanks!

[2018-02-20 19:25] shanemcd commented on #1305
This may need to be a note in the installer documentation since we do not install helm / tiller for the user.

[2018-02-20 19:26] shanemcd commented on #1305
A note / link to [this](https://github.com/kubernetes/helm/blob/master/docs/rbac.md) may be sufficient.

[2018-02-20 19:26] AlanCoding commented on #223
Now we have the multi-vault & multi-credential blockers out of the way. With the linked PR, I pushed up the _inventory source_ credential to the base model's plural `credentials` field. Now we have a place to put vault credentials in the model.

@wenottingham in terms of keeping vaulted secrets hidden, we would need to start off with a feature request to do something different with `ansible-invent

[2018-02-20 19:34] shanemcd commented on #1297
I am unable to recreate this. I did run into [another issue](https://github.com/ansible/awx/issues/1305), however once I got past this the deployment worked fine:

[code]

![screen shot 2018-02-20 at 2 32 56 pm](https://user-images.githubusercontent.com/773186/36445083-29fe8ade-164b-11e8-912f-4fe652985cd8.png)

What version of Kubernetes are you using on GKE?

[2018-02-20 19:38] ryanpetrello commented on #490
@muhahacz Any chance lowercase "true" works?

[2018-02-20 19:42] ryanpetrello commented on #490
@muhahacz after running a job, can you visit:

[code]

...and confirm that `GIT_SSL_NO_VERIFY` is properly set under the `job_env` key?

[2018-02-20 19:44] jlmitch5 commented on #1259
hey @jpaulovic, the github issues are for tracking development/state of AWX releases--recommend going through your Red Hat rep, they should be able to help you get to the bottom of this.

I'm gonna close this for now as I wasn't able to reproduce for the "standard case".

[2018-02-20 19:44] #1259 closed, assigned to nobody

[2018-02-20 20:04] jpaulovic commented on #1259
cc @matburt: I, unfortunately, won't get to test it on some local awx installation in the near future, if you want to look into this in the future I'll be happy to provide you more info on a call or via e-mail.

[2018-02-20 20:06] Ken4scholars commented on #761
@matburt
My issue is actually different. At least in the issue you linked, the group_vars are loaded and applied to hostvars. In my case, it doesn't get loaded at all and I run into variable not defined errors for vars defined in the group_vars each time I run the playbooks.

[2018-02-20 20:22] AlanCoding commented on #761
@Ken4scholars are the groups you're looking at defined in `hosts` in the directory structure you gave above? In that same directory structure, does `group_vars/` have a file that's name is the same as your group? If yes to both of these, what version of Ansible are you using? If you're still trying to troubleshoot, could you try running `ansible-inventory -i hosts --list --export`, with and withou

[2018-02-20 20:24] Matz13 commented on #1276
Well, I just did, and now everything works fine!
Thanks @ryanpetrello !

[2018-02-20 20:31] Ken4scholars commented on #761
@AlanCoding
I tried a couple of groups with the same name as host groups and group_vars/all.yml which I think should work for all hosts - and it works with vanilla Ansible. I'm using Ansible 2.4. I'm not sure of the exact revision number and cannot give the debug information as it is all on my workstation and I'm back from work. I will send the results of the command tomorrow when I get to work. I

[2018-02-20 20:44] innocode-devops commented on #1297
We're using k8s 1.9.2. Errors in my log show some sort of I/O error, not permission based. I've tried 1.0.2 image with same result. Docker/docker-compose install with same image works fine.

[2018-02-20 20:50] #198 closed, assigned to ryanpetrello

[2018-02-20 20:54] ryanpetrello commented on #1276
Hey @Matz13,

Thanks for confirming the fix!  The issue was a race condition in the way the artifacts were stored between workflow node runs.

[2018-02-20 20:54] #1276 closed, assigned to ryanpetrello

[2018-02-20 21:27] jaredevantabor commented on #1258
@bartmeuris the host_filter is primarily for filtering host facts, and so for your query for groups, you probably don't need the host_filter, and can query the host endpoint directly. So `/api/v2/hosts/?groups__name=dns-authoritative` _should_ work. Let me know either way.

[2018-02-20 21:51] bartmeuris commented on #1258
@jaredevantabor the problem isn't that `/api/v2/hosts/?groups__name=dns-authoritative` doesn't work, it's that when I search for `/api/v2/hosts/?groups__name=dnsservers` that it doesn't include any hosts from the sub-groups.

This is also an issue with Smart Inventories, which is how I bumped into the issue, but since this also had this issue when using the API, I would expect the problem to be th

[2018-02-20 22:31] chrismeyersfsu commented on #1258
Querying the API for group membership must be done with the tree structure in mind.
i.e.
`/api/v2/hosts/?groups__parents__name=dnsservers` or `/api/v2/hosts/?host_filter=groups__parents__name=dnsservers`

Note that the above query will only work for hosts that exist in a group 1 level below dnsservers.

[2018-02-21 01:19] matburt commented on #1297
can you show the i/o error?

[2018-02-21 03:55] jobcespedes commented on #1273
Files in place and `ansible-inventory -i openstack.py --list`:
[code]

[2018-02-21 06:40] gservat commented on #1281
Additionally, if you set an inventory in the template but then change it when you launch, it will still use the one defined in the template.

[2018-02-21 06:47] wenottingham commented on #223
I don't think the 'simple' implementation can ever be the default. It's a rather obvious information leak.  If we want to consider it as an option (and if it's off, as the default, we ignore the vaulted variables without failing), we could.

[2018-02-21 07:56] Ken4scholars commented on #761
@AlanCoding
The `--export` option seems not to exist. And yes, I can see that the` hostvars` are populated with the `group_vars/all.yml` variables. But I still get "undefined variable" errors for those variables when I run jobs. Is this the expected behaviour? If so, how can I get the `group_vars` working?
Also note that `/api/v2/inventories/<inventory_id>/script/` does not show those `hostvars` a

[2018-02-21 08:47] llaan commented on #20
I would really like to see this added as well. We're currently using Ansible to roll out stacks in AWS and we need to be able to select the application version to deploy which we want to populate from the version tags set on the available AMI's

[2018-02-21 08:58] lukasmrtvy commented on #490
@ryanpetrello
GIT_SSL_NO_VERIFY is not set ..

In fact I guess that I cannot set any AWX_TASK_ENV variable, if this option has "defined_in_file": true set.

I can not event set it in web gui ( http://awx/#/configuration/jobs )
Extra environment variables: (This setting has been manually in a setting file and is now disabled)

[2018-02-21 09:34] DavidDE33 commented on #1276
@Matz13 & @ryanpetrello
I'm following this thread, beacause i have the same issue.
I just updated my awx and now everything works too.
Thanks

[2018-02-21 11:22] bartmeuris commented on #1258
Ok, the `groups__parents__name` seems to work, and `groups.parents.name` seems to be working in the Smart inventory too.

This is very confusing however, I would expect hosts from sub-groups to be included in the parent. This also has the problem that this works for hosts in sub-groups, but would not include any hosts included directly in the `dnsservers` group but not present in any of the sub-gr

[2018-02-21 11:38] akcrisp commented on #1301
Good point - however I just logged back in and went to settings and logging showed everything back as it was before I hit revert to defaults (yes I did save it).

So I have reverted all again and saved it and api shows nothing. Will monitor

Sent from my iPhone

[2018-02-21 11:58] AlanCoding commented on #223
It seems like that would also have to start off as a new request to Ansible core. At a quick glance, I don't see any kind of configurable you can set to pass over the vault errors.

https://github.com/ansible/ansible/blob/060001b08d98969217156b2b696613ade44eb8c5/lib/ansible/parsing/vault/__init__.py#L698

[2018-02-21 12:04] AlanCoding commented on #761
You are saying that simple hostvars in your inventory aren't defined in your playbook, of course that's not expected. You can triple-check that your variable is showing up at `/api/v2/inventories/<inventory_id>/script/?hostvars=1`, that's what gets passed into the `ansible-playbook` CLI.

[2018-02-21 12:14] Ken4scholars commented on #761
@AlanCoding
I tried that but the `hostvars` in the api only shows the variables I defined for each host through the Web UI. Is it possible that they are shadowing the ones defined in `group_vars/*` files? I hardly think this is the case since some of the hosts don't have any variables defined through UI but still don't have the ones in `group_vars/*`.

UPD: Just to let you know - I defined my inve

[2018-02-21 12:17] pravindmali opened #1309 "RFE : send tower log to graylog without using logstash"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Is it possible to e send tower log to graylog without using logstash ?
Looks like its possible to pass tower log to gelf using payload, refer link : http://docs.graylog.org/en/2.4/pages/gelf.html
which says with the help of payload any graylog-server node accepts and stores this as a message. So can this be candidate for

[2018-02-21 12:26] smapjb commented on #1191
I have just hit this while trying to manage OpenShift Reference Architecture install..
The docker0 interface comes first and so the primary interface of all my openshift hosts in my rhev inventory is the docker interface ip !  just sayin

Exploring a little further - looks like in the next version of RHEV there is an option you can add to the ovirt-guest-agent to stop it reporting certain interfac

[2018-02-21 12:57] akcrisp commented on #1301
so far errors have gone... will close this for time being

[2018-02-21 12:57] #1301 closed, assigned to nobody

[2018-02-21 13:19] AlanCoding commented on #761
I don't know. I have plenty of examples using `group_vars/all.yml`, etc. and for 2.4 they should show up in host variables (in the UI as well) after a sync.

Shouldn't be, especially assuming that you did the sync last. The sync should be overwriting the existing variables for the hosts that the sync touches. It shouldn't matter that it was first created (or had vars added) in the UI.

[2018-02-21 13:27] lobosm opened #1310 "workflow job results problem"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When i try to run workflow with more then 25 jobs nothing happend in browser but Workflow Job is runnig. Moreover I can't open worflow job  results in the browser - nothing happen after click. I suspect that websocket dosn't return any data to the browser.
After deleting jobs in workflow template editor to max 25 jobs, workf

[2018-02-21 13:49] chrismeyersfsu commented on #1258
@bartmeuris You've understood the general design of the API filtering well. However, not all fields that we show are queriable. Manifested fields are not queriable.

 `all_groups` and `all_hosts` is not queriable because it is a generated field (property to be exact https://github.com/ansible/awx/blob/1582fcbb5042d317da86f751768341f32577bd04/awx/main/models/inventory.py#L930 and https://github.com

[2018-02-21 14:01] b3rgman opened #1312 "AWX Job cleanup defaulting to 30 days even after changing to different range"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Upon changing the numbers of days in the job cleanup (eg: 3) it defaults to 30 when running the job.

##### ENVIRONMENT
* AWX version: 2.5.0a1
* AWX install method: docker on linux
* Ansible version:  2.5.0a1
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

When running management jobs, I laun

[2018-02-21 14:09] Ken4scholars commented on #761
@AlanCoding
Does any of the examples have public access? I want to take a look at the structure

[2018-02-21 14:18] msilmser opened #1313 "Password Lookup plugin working in Core, Failing in Tower"

[2018-02-21 14:20] #1313 closed, assigned to nobody

[2018-02-21 14:39] ryanpetrello commented on #490
@muhahacz you've defined `AWX_TASK_ENV` in a `.py` setting file somewhere on the file system, which makes it read-only (and not editable from the API).

[2018-02-21 14:43] AlanCoding commented on #761
https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/scripts/basic_vars

Here, I'm naming "all" variables along the lines of "inventory_var", and some come from the file (a plugin var) and some come directly from the inventory.

[2018-02-21 14:46] Yoiro commented on #1300
I was working with a 1.0.2 before.
I avoided the problem by using a fresh new database as there was not much records in the old one so it wasn't really a problem to redo the work.

[2018-02-21 14:51] ryanpetrello opened #1315 "AWX_TASK_ENV is read-only in the base image"
https://github.com/ansible/awx/blame/6163cc6b5c3a3c8f5bd173d121cafd15c5b75b17/installer/image_build/files/settings.py#L26 is set statically in the base image, and that makes the setting read-only from the Settings API.  We should come up with a way to set this value at install time that doesn't require setting the value in `settings.py` (via either an API call or via `awx-manage shell`).

[2018-02-21 14:51] ryanpetrello commented on #1315
related: https://github.com/ansible/awx/issues/490#issuecomment-367256149

[2018-02-21 14:53] chrismeyersfsu commented on #1273
Let's remove `ansible-inventory` from the picture for now.

Also, I told you wrong. Openstack no longer looks for `openstack.yml` in the current directory. Instead, we have to tell openstack where the yml file is exactly (this is how tower works too).

`OS_CLIENT_CONFIG_FILE=openstack.yml openstack.py --list`

I noticed a long hang on this command when the remote host specified via `auth_url` isn'

[2018-02-21 14:54] AlanCoding commented on #1312
Confirmed UI issue, even when putting in another number, the data submitted gives 30 days. API accepts input of the format:

[code]

UI console shows this, when I start recording right before hitting the rocket ship (more errors are shown on page load).

[code]

[2018-02-21 14:55] Ken4scholars commented on #761
@AlanCoding
Thanks, I will take a look. As a side note, it seems you added your inventories and vars with scripts. Mine were static yaml files for the vars and a static INI file for the inventory (which I am not using in AWX). Could this be why AWX can't find them?

[2018-02-21 15:19] AlanCoding commented on #761
Any kind of combination of file types like that are fair game for testing, and I'll go raise an Ansible bug if I find something. I'm pretty sure I've tested INI inventory with yaml vars.

[2018-02-21 15:38] ryanpetrello commented on #198
![screen shot 2018-02-20 at 2 59 15 pm](https://user-images.githubusercontent.com/214912/36489162-5396e118-16f3-11e8-8bb7-9ebea479384e.png)

[2018-02-21 15:43] agaffney opened #1316 "Setting a custom logo doesn't replace AWX logo in top-left of UI"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When setting a custom logo, it only appears on the login screen. I would expect it also to replace the AWX logo that shows in the top-left of every screen (except the login screen) in the UI.

##### ENVIRONMENT
* AWX version: 1.0.4.3
* AWX install method: docker on linux
* Ansible version:  2.4.3
* Operating System: Ubuntu 1

[2018-02-21 17:14] msilmser opened #1317 "RFE: Modify ansible-vault files from within the UI"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- API/UI

##### SUMMARY
Would like to be able to modify vaulted files from within the UI so this is possible from a Windows machine.

##### ENVIRONMENT
* Operating System: Windows

##### ADDITIONAL INFORMATION
This would be useful in the event of any security constraints preventing someone from using a Linux box or guest VMs.

[2018-02-21 17:21] agaffney opened #1318 "Cannot delete credential in UI - Inventory source endpoint call for delete warnings fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When clicking the "delete" button next to a credential in the UI, nothing happens. The credential can be successfully deleted via the API.

##### ENVIRONMENT
* AWX version: 1.0.4.3
* AWX install method: docker on linux
* Ansible version:  2.4.3
* Operating System: Ubuntu 16.04
* Web Browser: Chrome 64

##### STEPS TO REPRODU

[2018-02-21 19:30] wenottingham commented on #1315
Shouldn't that come from the user's homedir anyway?

[2018-02-21 19:30] wenottingham commented on #1317
We are not planning to connect Tower directly to source control with write access, which is what this implies.

[2018-02-21 19:30] #1317 closed, assigned to nobody

[2018-02-21 19:31] wenottingham commented on #1316
See #1008 , this is intentional.

[2018-02-21 19:31] #1316 closed, assigned to nobody

[2018-02-21 19:34] wenottingham commented on #1317
More specifically: the place vault files live is in the project repo - we are not going to be writing a full SCM integration (which would need done with users, passwords, keys, etc.), and having something that only works for manual projects is not worth the effort.

If we support vaulted individual variables in host/group vars, we may allow for editing those. But not vaulted files in projects.

[2018-02-21 19:47] AlanCoding commented on #1317
I'm asking around, and it sounds like Ansible core supports this, but AWX makes an inventory script that dumps as JSON which makes this impossible. Simple solution - just switch to YAML, and they hypothetically there's a syntax that the user can copy+paste into hostvars to make it vaulted data, and the JT vault credentials could decrypt it. (I have yet to fully identify this syntax, asking around

[2018-02-21 19:50] matburt commented on #1300
1.0.2 -> 1.0.3.1+ is not supported

[2018-02-21 19:50] #1300 closed, assigned to nobody

[2018-02-21 20:15] matburt commented on #735
This is going to be pretty tricky, but probably doable on a number of fronts.

We can build in whatever dependencies are necessary from the image build: https://github.com/ansible/awx/blob/devel/installer/image_build/templates/Dockerfile.j2

As opposed to providing kerberos credentials at install time it might be better to define a new credential to perform some of these actions at job launch: htt

[2018-02-21 20:47] steaksauce- commented on #735
When you say

do you mean that when a user executes the job (job template or workflow), the job will handle the Kerberos connection rather than the system (ie, task container) being configured for Kerberos?

Trying to wrap my head around this. It seems like we will need to build in the Kerberos deps regardless (per `pywinm[kerberos]` reqs), but I can't find anything about it requiring that Kerbero

[2018-02-21 20:51] #1318 closed, assigned to ryanpetrello, AlanCoding

[2018-02-21 20:54] matburt commented on #735
Yep, we are on the same page.

The key to it is support it on our Credential objects as another Machine credential.

[2018-02-21 21:02] steaksauce- commented on #735
From a UX/UI standpoint, a user goes to create a new credential, specifies machine credential, and then checks a box to specify to use kerberos when trying the credentials sounds like an easy way to expose the feature when/if it is created

[2018-02-21 21:04] ryanpetrello commented on #1315
@wenottingham that was my thought, but @shanemcd tinkered and without https://github.com/ansible/awx/blame/6163cc6b5c3a3c8f5bd173d121cafd15c5b75b17/installer/image_build/files/settings.py#L26, `$HOME` doesn't seem to be set.  So there must be a reason why we set this manually...

[2018-02-21 21:32] wenottingham commented on #735
Given we have behind-the-scenes kinit already for Windows, why wouldn't we push this down to Ansible to also work for Linux/Unix?

[2018-02-21 21:36] falencastro commented on #735
But if it's added as a new credential option, wouldn't it be necessary to inform kerberos realm, kdc (there can be multiple) and admin servers for every new kerberos credential? Since there can be multiple users for the same kerberos domain, and multiple domains, I imagine it would be better if there was a "kerberos domain" object, with all its particularities described above, and when you create

[2018-02-22 01:14] guilhemmarchand commented on #888
@st0ne-dot-at Many thanks ! I had exactly the same issue with a Workflow and a prompt for password entry to be set. You saved me a few hours of work!

[2018-02-22 10:02] Ken4scholars commented on #761
@AlanCoding
So how can I import the INI inventory defined in my project? I currently see no way of doing that. I'm only seeing the option of either using inventory scripts or creating the inventory manually in the UI

[2018-02-22 11:35] bartmeuris commented on #1258
@chrismeyersfsu yes I already dove into the code and had pinpointed it to that `@property` in the Host model, but I'm not familiar with Django or the AWX architecture.

Glad to hear this could possibly be solved, I currently know the limitations, so I can work with this, and for my smart inventories use the API to fix the `host_filter` but it would be more intuitive and easier if this wasn't neces

[2018-02-22 12:27] AlanCoding commented on #761
Source the inventory from a project, and if that particular file doesn't show up in the list of inventory files, you can type in the relative path manually. This feature will accept all types that work out of the box with Ansible.

[2018-02-22 12:38] Yoiro commented on #1300
Thanks for the answer.

[2018-02-22 13:09] Ken4scholars commented on #761
@AlanCoding
That did it! You're a lifesaver! Immediately after I added the source, it started picking up my `group_vars` too. So my suspicion is that the `group_vars` are tightly coupled to their inventories. Since I wasn't using the project inventory but was creating the inventory in the UI(though the group names are practically the same), it did not pick up the `group_vars` too. Now it does. I'v

[2018-02-22 14:02] de1m opened #1324 "Cannot create scheduler, error in momentjs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI
##### ENVIRONMENT
* AWX version: 1.0.4.7
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Web Browser: Opera, Chrom, Firefox

##### STEPS TO REPRODUCE

Login in to UI
Go to template and start the creation of scheduler
Write name and click "Save"

##### EXPECTED RESULTS

Popup with:
[code]
###### In Webbrowser console
[co

[2018-02-22 14:21] jobcespedes commented on #1273
This is the output for `OS_CLIENT_CONFIG_FILE=openstack.yml ./openstack.py --list`

[code]

[2018-02-22 15:43] jobcespedes commented on #1273
If I add cacert: 'path/to/cacert' to the openstack.yml and run the same command, it runs without problems. The issue could be why isn't the varible 'cacert' pass from gui to the tmp file

[2018-02-22 16:47] wenottingham commented on #1274
Closing this as an item that will hang off of https://github.com/ansible/awx/issues/553 - context can still exist here.

[2018-02-22 16:47] #1274 closed, assigned to nobody

[2018-02-22 16:57] NathalieCBC commented on #1281
Additionally, if you launch the template from the "Recently used templates" section of the dashboard, this will work and use the other inventory.

[2018-02-22 17:13] wenottingham opened #1325 "Add 'Completed Jobs' to host display"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Completed jobs is an option at the inventory level:

![screenshot from 2018-02-22 12-08-11](https://user-images.githubusercontent.com/5208768/36552983-39787f36-17c9-11e8-8b12-bfb983508d82.png)

It is not an option at the host level:

![screenshot from 2018-02-22 12-08-29](https://user-images.githubusercontent.com/5208768/

[2018-02-22 17:41] falencastro commented on #885
@ricalenil Had the same issue trying to post notifications to Rocket Chat using Webhook notification template type, as this posts a message like '{"body": "message"}', while Rocket Chat (and Mattermost, MS Teams) use Slack webhooks: '{"text": "message"}'.

I got around this by using Mattermost as the notification template type, should work for MS Teams too.

[2018-02-22 18:15] wenottingham commented on #283
@jakemcdermott has this all landed (i.e., can it be closed)

[2018-02-22 18:19] wenottingham commented on #553
Additional type - 'File':

Semantics:
    have a 'file' survey type
    this uses a file upload widget in the survey taker
    the uploaded file is stored as a base64-encoded extra var in the specified variable

This needs to set appropriate limits to not DoS the system.

[2018-02-22 18:19] wenottingham commented on #579
tacking on here: https://github.com/ansible/awx/issues/553

[2018-02-22 18:19] #579 closed, assigned to nobody

[2018-02-22 18:21] wenottingham commented on #447
Mockups here: https://tower-mockups.testing.ansible.com/mockups/jobs/jobs-details/

[2018-02-22 18:28] wenottingham commented on #1309
That being said, another option would be to implement https://github.com/ansible/awx/issues/1083, and graylog could piggyback on that.

[2018-02-22 18:28] tobgen opened #1326 "Schedule issues after upgrade 1.0.4 from 1.0.2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
After upgrading to 1.0.4.7 The Old schedule for SCM update could not be viewed, UI froze.
Deleted the schedule and tried to create a new one.

Got error the following error when I hit save: 'Valid DTSTART required in rrule. Value should start with: DTSTART:YYYYMMDDTHHMMSSZ'

##### ENVIRONMENT
* AWX version: 1.0.4.7
* AWX ins

[2018-02-22 18:29] tobgen commented on #1326
@shanemcd @ryanpetrello @jakemcdermott pinging as requested.

[2018-02-22 18:40] #869 closed, assigned to nobody

[2018-02-22 18:50] jakemcdermott commented on #283
@wenottingham
We're close to that point - there's a PR in the works api side for https://github.com/ansible/awx/issues/1167. Once that's in it's a very quick update UI side. I'll close this issue once these things are wrapped up.

[2018-02-22 18:54] krispayne commented on #1299
I have a similar experience. I have a project to implement AWX, and I keep getting distracted by other priorities. Everytime I get to come back to work on AWX, I get a 502 bad gateway error.

Currently, my postgres docker is filled with:
`ERROR:  could not open file "base/16384/2601": No such file or directory`
Mixed with:
`FATAL:  could not open file "base/16384/2601": No such file or directory`

[2018-02-22 19:01] ryanpetrello commented on #1326
Should be resolved via https://github.com/ansible/awx/pull/1327

@tobgen mind giving this another shot with the latest `devel`?

[2018-02-22 19:01] shanemcd commented on #1326
New images are being built / pushed to dockerhub now.

[2018-02-22 19:03] krispayne commented on #1299
@apple4ever It looks like we talked about this in other issues, as well. I think I'm just going to move away from using the docker postgres and set up my own. Everything else works fine.

[2018-02-22 19:23] AlanCoding commented on #283
Yeah, I'm slogging through this right now. The trouble isn't providing the field, that's basically trivial. But doing it _efficiently_ and elegantly is still a relatively small problem, but it's very difficult to think through.

I might have to just put up the inefficient version for Jake first, because I'm getting bogged down by the internal piping here.

[2018-02-22 19:29] AlanCoding commented on #1271
The UI should be free to remove the logic that forces the box to be checked.

[2018-02-22 20:07] tobgen commented on #1326
@ryanpetrello I'm trying to run the new images, but it fails:
[code]

[2018-02-22 20:16] apple4ever commented on #1299
Yeah we did, but they are all closed. I wanted to try to bring it back up. But I may go your route if nothing changes. Right now AWX is unusable for us.

[2018-02-22 20:39] mneumarkidg opened #1329 "Unable to Use Mutiple Vaults in Same Job Template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Trying to create a job template using several vault passwords... Exception provided from application

##### ENVIRONMENT
* AWX version: 1.0.3.41
* AWX install method:docker on linux
* Ansible version:  2.4.3.0
* Operating System: CentOS 7
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Assigned 10+ vaults to job template. R

[2018-02-22 20:44] wenottingham opened #1331 "bad spacing in sidebar"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

![bugfu](https://user-images.githubusercontent.com/5208768/36563125-1d62fd1c-17e7-11e8-94ab-56b1802cb367.png)

##### ENVIRONMENT
* AWX version: 1.0.3.41
* Web Browser: Firefox 58.0.1

##### ADDITIONAL INFORMATION

[2018-02-22 20:48] wenottingham opened #1332 "Extraneous(?) activity stream entries on initial startup"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

The first two activity stream entries on AWX bringup:
[code]

Not sure what these are supposed to be.

##### ENVIRONMENT
* AWX version: 1.0.3.41

##### STEPS TO REPRODUCE

1. start AWX
##### ADDITIONAL INFORMATION

[2018-02-22 20:56] steaksauce- commented on #991
~~Am I right in assuming this needs to be done in [`awx/plugins/inventory/tower.py`?](https://github.com/ansible/awx/blob/1ccdb305e3497f1958fa0229bf82edc262686836/awx/plugins/inventory/tower.py)~~

No I am not! As mentioned below: https://github.com/ansible/awx/blob/1ccdb305e3497f1958fa0229bf82edc262686836/awx/main/management/commands/inventory_import.py

[2018-02-22 21:02] AlanCoding commented on #991
No, that's a special script for importing inventory from another server.

https://github.com/ansible/awx/blob/1ccdb305e3497f1958fa0229bf82edc262686836/awx/main/management/commands/inventory_import.py

This would require finding the `ansible-inventory` use there, change it to output YAML format, and read it as YAML.

Not sure if this breaks anything else unexpected, might be good to ping the Ansibl

[2018-02-22 21:05] cchurch commented on #991
@steaksauce- The changes needed to support your use case will need to be made in https://github.com/ansible/awx/blob/devel/awx/main/management/commands/inventory_import.py#L165, like @AlanCoding said.

The file you mentioned will need to be modified to support pulling inventory from another AWX/Tower instance while preserving integer dictionary keys, and we'll also need to update the `/api/v2/inve

[2018-02-22 21:08] rooftopcellist opened #1333 "Session Parity issue between API and UI"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Login session is not maintained from API to UI.

Possible related issue is: when you log out on the API side, it doesn’t log out on the UI.

##### ENVIRONMENT
* AWX version: 3.2.3
* AWX install method: docker for mac
* Ansible version:  2.3.1
* Operating System: OS X
* Web Browser: Chrome
* After OAuth2 Merge

##### STEPS

[2018-02-22 21:15] ryanpetrello commented on #1315
Looking into this more, awx and prod Tower installs don't set `HOME` explicitly via `AWX_TASK_ENV`, so I'm still stumped as to why this is necessary.  Going to spin up minishift install _without_ this line and see if I can troubleshoot.

[2018-02-22 21:18] #1326 closed, assigned to marshmalien

[2018-02-22 21:18] rooftopcellist opened #1334 "Basic Auth issue with UI Login"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
When a user logs in with incorrect credentials, awx logs in as the previous user from that client browser.  This is because the client browser stores those credentials and uses them to authenticate via basic auth.

When Django Session Authentication fails, it falls through to Basic Auth, for which the browser has saved th

[2018-02-22 21:19] steaksauce- commented on #991
D'oh! Thanks for letting me know!

[2018-02-22 21:25] tcheronneau commented on #1297
Hi,

I've got the same errors so I can get mine :
`nginx: [alert] could not open error log file: open() "/var/log/nginx/error.log" failed (13: Permission denied)
2018-02-22 21:11:26,236 INFO exited: nginx (exit status 1; not expected)
2018/02/22 21:11:26 [emerg] 61#0: mkdir() "/var/lib/nginx/tmp/client_body" failed (13: Permission denied)
2018-02-22 21:11:26,602 INFO exited: awx-config-watcher (ex

[2018-02-22 21:49] grahamneville commented on #1280
1) The AWX variables seem to override that of what is in the projects folder.
2) Due to 1, I'm unable to alter variables in a new branch and run a playbook against an existing inventory sourced from SCM as varibles get overriden to pick up the variables imported by AWX. Meaning I have to alter my inventory SCM source to pick up variables from the new branch. A way around this, although I'd rather

[2018-02-23 03:51] dgolja opened #1335 "Missing Changelog for releases"
Hi,

Is there any change log for the current and future releases of AWX ?

Would be great that this repository would have a `CHANGELOG.md` describing all the new features, bug fixes, etc.

[2018-02-23 03:56] dgolja commented on #760
I am a bit confused here. Are you saying that AWX doesn't support isolated nodes ? Based on the [FAQ](https://www.ansible.com/products/awx-project/faq) I made an assumption that AWX is just a more frequently (and less tested) Ansible Tower.

[2018-02-23 10:08] jian-feng commented on #283
I hope this one could be done soon.
Our customer got stuck in #383, which is pending on this.

Best regards,

[2018-02-23 10:41] innocode-devops commented on #1297
Sorry, I might have misjudged it, it might be RBAC issue, but I haven't got the chance to test it yet, I'll get back as soon as I have something.

[2018-02-23 11:15] candlerb commented on #1324
I get this problem as well if attempting to edit one of the three default schedules:

![image](https://user-images.githubusercontent.com/44789/36591654-9ea89ed8-188a-11e8-9409-d31b4fa63296.png)

Setting a timezone is required to make the "Save" button become undimmed, but then clicking it gives:

![image](https://user-images.githubusercontent.com/44789/36591702-c1a414d0-188a-11e8-8ec5-ed99271301a6

[2018-02-23 11:17] de1m commented on #1324
it's working in new docker image (awx_web)

[2018-02-23 11:39] candlerb commented on #1213
I installed AWX yesterday (following the docker instructions under Ubuntu 16.04) and access it using with Chrome under macOS, with Chrome set to "English (United Kingdom)" as its preferred language.

I see the job status graph labelled with month name and day, e.g. "Feb 23"

![image](https://user-images.githubusercontent.com/44789/36592420-9b58979e-188d-11e8-9296-e61075a5b5b2.png)

So it's odd tha

[2018-02-23 11:45] candlerb commented on #1324
Is there a recommended way to redeploy just the awx_web container leaving everything else unchanged (i.e. avoid having to redeploy from scratch)?

[2018-02-23 12:17] AlanCoding commented on #283
The part of it relevant to that should already be done.

[2018-02-23 12:48] AlanCoding commented on #1329
This feels like a shot in the dark, but it could be the same as https://github.com/ansible/ansible/issues/31249, I notice that fix was put into 2.5, not necessarily into 2.4.

Do you hit this if you upgrade to the 2.5 beta?

[2018-02-23 12:56] jainnikhil30 commented on #557
@chrismeyersfsu

Ahh right that was typo for memberID and memberUid, my bad on that. Edited it.

[2018-02-23 14:11] rooftopcellist opened #1336 "RFE: Add Introspect Endpoint"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY
Add `Introspect` endpoint to fully support OAuth2 RFC.

##### ENVIRONMENT
* AWX version: 3.2.3
* AWX install method: docker for mac
* Ansible version:  2.3.1
* Operating System: OS X
* Web Browser: Chrome
* After OAuth2 Merge

##### ADDITIONAL INFORMATION

Will Allow Admin user to Post a token value to this endpoint and

[2018-02-23 14:18] tcheronneau commented on #1297
Hum I'm having hard time to understand how RBAC could cause error in a pod especially since errors are folder not mounted ... Could you explain how you get to this conclusion ?

Thanks

[2018-02-23 15:08] jian-feng commented on #383
Alan just mentioned that part is done, in #283. Could you please review this issue again?
Our customer is waiting for this fix and they will go production in March.

Best regards,
Feng

[2018-02-23 15:09] matburt commented on #760
The AWX installer can not configure isolated instances at the moment. The code is all there it's just a matter of setting things up which it doesn't do just yet because we haven't written that up.

[2018-02-23 15:11] matburt commented on #383
If they are a Tower customer then this will be available in the next Tower release which is not ready yet @jian-feng

[2018-02-23 15:11] matburt commented on #283
If they are a Tower customer then this will be available in the next Tower release which is not ready yet @jian-feng

[2018-02-23 15:22] AlanCoding commented on #991
The use of YAML looks like it may have some overlap with other requests I'm dealing with, so I probably need to carry out some of this basic research myself.

[2018-02-23 16:35] docschick commented on #93
We are setting up an external service to manage translations. Currently, we're running this idea by the IP lawyers to ensure we're okay to go before pushing it out for use.

[2018-02-23 17:35] jaredevantabor commented on #1324
You can rerun the install playbook to pull in the latest change - it should only update the specific things that have changed in the new version. Let us know if you still see this issue.

[2018-02-23 17:52] candlerb commented on #1324
Doesn't seem to do very much: almost all tasks skipped, it doesn't destroy or recreate any docker containers, and the problem is still there.

Showing only the non-skipped tasks:

[code]

And:

[code]

[2018-02-23 17:53] jakemcdermott commented on #383
resolved by https://github.com/ansible/awx/pull/903 and https://github.com/ansible/awx/pull/1201.

As matburt pointed out, this will be in the next Tower release

[2018-02-23 17:53] #383 closed, assigned to jakemcdermott

[2018-02-23 19:24] wenottingham commented on #660
There appears to be a 1.59, so removing the `blocked` flag.

[2018-02-23 19:45] wenottingham commented on #725
Closing, please reopen with requested info  when available.

[2018-02-23 19:45] #725 closed, assigned to nobody

[2018-02-23 19:47] wenottingham commented on #659
Closing, this should be merged back in.

[2018-02-23 19:47] #659 closed, assigned to nobody

[2018-02-23 19:49] wenottingham commented on #527
Sorry about coming back to this so late - this really is expected behavior; anywhere we list a single status for a playbook run, it's going to be based off the `ansible-playbook` exit code, which is going to be "failure" when a host fails absent other configuration.

[2018-02-23 19:49] #527 closed, assigned to nobody

[2018-02-23 19:53] wenottingham commented on #176
@gconsidine @jakemcdermott is this covered by the existing test suite?

[2018-02-23 19:54] wenottingham commented on #808
See also https://github.com/ansible/awx/issues/1216

[2018-02-23 19:57] AlanCoding commented on #223
@wenottingham believe it or not, this is implemented and actually functional in #1337 now. I had anticipated on first filing a feature request from Ansible core, but then I discovered an easter egg with `ansible-inventory` `--yaml` option, that it will return the vaulted values as-is. The other side of it, passing our own inventory structure in a way that can be un-vaulted, was the other side of i

[2018-02-23 21:17] bcoca commented on #223
FYI, the --yaml option is meant to be compatible with the 'yaml' inventory plugin, while the --json one is compatible with the 'script' inventory plugin.

[2018-02-24 04:31] dgolja commented on #760
aha I see ... If you can provide some tips I may give it a go.

[2018-02-24 04:57] iamcomet commented on #1197
same with u @w7089
in ubuntu server 16.04.3
pip install 'docker>=3.0.0,<3.0.1'
or docker-3.1.0

[2018-02-24 06:29] CodyGuo opened #1340 "Can't bind mount /oldroot/ on /newroot/: Stale file handle"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Identity added: /tmp/awx_5758_0O0ZVp/credential_3 (/tmp/awx_5758_0O0ZVp/credential_3)
Can't bind mount /oldroot/ on /newroot/: Stale file handle

##### ENVIRONMENT
* AWX version: 3.2.2
* AWX install method: openshift
* Ansible version:  2.4.2
* Operating System: Red Hat Enterprise Linux Server release 7.2 (Maipo)
* Web Brows

[2018-02-24 06:42] CodyGuo commented on #1340
Has been solved.
[code]

**solution:**
umount /nfsc/csp_prd_terminal_id003655_vol1002_prd

[2018-02-24 06:42] #1340 closed, assigned to nobody

[2018-02-24 12:27] TheFausap opened #1341 "network connection issue using group names"
Hello,

i'm using mongodb example (from ansible-examples git repo) but I have this error (quite at the end):

"msg": "Failed to connect to the host via ssh: OpenSSH_7.2p2 Ubuntu-4ubuntu2.4, OpenSSL 1.0.2g  1 Mar 2016\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 19: Applying options for *\r\ndebug1: auto-mux: Trying existing master\r\ndebug1: Control

[2018-02-25 01:22] sjkeerthi opened #1342 "Fails on Docker setup"
As per the instruction tried to implement awx setup on my docker

ansible-playbook -i inventory install.yml
After sucessfull installation playbook

But while I check the docker logs -f awx_task
I could see error and could not able to see awx web
[2018-02-25 01:20:33,532: DEBUG/MainProcess] pidbox received method active_queues() [reply_to:{u'routing_key': u'5d66ecba-59b2-326b-a05a-4695e6929d2d', u'

[2018-02-25 01:40] jakemcdermott commented on #1342
Likely a duplicate of #1188 and [#1245](https://github.com/ansible/awx/issues/1245#issuecomment-365693587)

[2018-02-25 01:40] #1342 closed, assigned to nobody

[2018-02-26 10:07] b0urn3 opened #1346 "RFE: Include dynamic entries in multi-choice survey drop-down menu"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Add possibility to use external resources (e.g. any database) for including entries under the drop down menu.

##### ENVIRONMENT
* AWX version: N/A
* AWX install method: N/A
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: N/A

##### STEPS TO REPRODUCE
In survey definition (multi-choice type, both sing

[2018-02-26 12:51] Ompragash opened #1347 "RFE: Prompt to choose which Vault credential to use on job template launch"
##### ISSUE TYPE

  - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Ability to choose Vault credential when launching a job template, similar to current functionality of machine credentials.

##### ENVIRONMENT
* AWX version: N/A
* AWX install method: N/A
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: N/A

##### EXPECTED RESULTS

Ability to choose Vault credential

[2018-02-26 13:22] niyazielvan commented on #1324
Hi,

`docker stop a9adadb288a3`
`docker rm a9adadb288a3`

will destroy the web container. When you run the installer, you will get a fresh instance.

[2018-02-26 13:32] AlanCoding commented on #1347
This appears to be a mis-communication with the UI. If the JT is set to Prompt for Credential on Launch, then you can provide vault credentials on launch.

To do this, you need to select "Vault" in the credential type dropdown, and then you can choose from your vault options.

![screen shot 2018-02-26 at 8 30 53 am](https://user-images.githubusercontent.com/1385596/36673089-8dc799a6-1acf-11e8-8f66

[2018-02-26 13:32] #1347 closed, assigned to nobody

[2018-02-26 13:59] #34 closed, assigned to ryanpetrello, marshmalien

[2018-02-26 14:20] candlerb commented on #1324
Thanks, I've now done that but it doesn't fix the problem.  Still get (when trying to re-save the Cleanup Job Schedule):

"Valid DTSTART required in rrule. Value should start with: DTSTART:YYYYMMDDTHHMMSSZ"

Turning on network logging in Chrome, I see the request looks like this:

[code]

And the response is a 400 with

[code]

Clearly the `rrule` in the request does not match the given format.

[2018-02-26 15:18] wenottingham commented on #1346
see #20

[2018-02-26 15:18] #1346 closed, assigned to nobody

[2018-02-26 15:19] rooftopcellist opened #1348 "Support JSON response for login endpoint"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
On a GET to the `api/login` endpoint, HTML is returned instead of the expected JSON.

##### ENVIRONMENT
* AWX version: 3.2.3
* AWX install method: docker for mac
* Ansible version:  2.3.1
* Operating System: OS X
* Web Browser: Chrome

##### STEPS TO REPRODUCE
1. Create a Personal Access Token at `api/v2/users/<your pk>/p

[2018-02-26 15:20] rndmh3ro opened #1349 "When starting a job from template, the SCM update job fails with Error 500."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When starting a job from template, the SCM update job prior to this job fails with Error 500 and `ValueError: Invalid IPv6 URL` in logs.

##### ENVIRONMENT
* AWX version: 1.0.4.14
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Red Hat Enterprise Linux Server release 7.4
* Web Browser: F

[2018-02-26 15:28] wenottingham commented on #1349
What is the configuration for the project in question?

[2018-02-26 15:28] rndmh3ro commented on #1349
Okay, I downloaded the SCM Update Standard out Log and there was more information in there:
[code]

The problem seems to be that in my `requirements.yml` there is an entry for our internal git-repository which awx does not have access to.

[2018-02-26 15:37] rndmh3ro commented on #1349
Okay, I can confirm that removing the entry in the requirements-file fixes the problem for me.

However I guess there should be 500 error message in the gui because of this, right?

@wenottingham do you need any more information?

[2018-02-26 15:40] wenottingham commented on #1349
If possible, make your 'redacted' above resemble the URL exposed in the actual error (syntax, formatting) as much as possible. Other than that, no.

[2018-02-26 15:43] rndmh3ro commented on #1349
I updated the logs!

[2018-02-26 15:46] sparkacus commented on #955
I also ran into this issue today. Looks like I was able to resolve this using a similar method described in this post - https://github.com/ansible/awx/issues/888

docker exec -it awx_web bash
awx-manage shell_plus
from awx.main.models import workflow
workflow_object=workflow.WorkflowJob.objects
workflow_job_id=workflow_object.get(id=ENTERJOBID)
workflow_job_id.delete()

[2018-02-26 16:01] de1m commented on #1324
maybe you need to delete the old docker image:
[code]

[2018-02-26 16:43] niyazielvan commented on #1324
Yes @de1m , I forgot to add it. You need to delete the old image and installer will download the latest image that works properly.

[2018-02-26 17:03] e-minguez opened #1350 "Disable job isolation using tower-cli missing docs"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - Configuration

##### SUMMARY
This https://docs.ansible.com/ansible-tower/latest/html/administration/tipsandtricks.html#setting-up-a-jump-host-to-use-with-tower can be done using tower-cli

##### ENVIRONMENT
* AWX version: ansible-tower-server-3.2.2-1.el7.x86_64
* AWX install method: rpms
* Ansible version:  ansible 2.4.2.0
* Operating Syst

[2018-02-26 17:05] candlerb commented on #1324
OK that fixed it, thanks!

[2018-02-26 17:18] chrismeyersfsu opened #1351 "Fact Search Escaping Grammar \", __"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Unable to construct a valid host_filter  that searches for a JSON key with `__` or `"` in the key.

##### ADDITIONAL INFORMATION

host_filter backing grammar should allow for:

* [ ] \" support. i.e. `"hello_\"world\""="goodbye"`
* [ ] __ support i.e. `a__b__c\_\_d="foo"`

[code]

[2018-02-26 17:21] chrismeyersfsu commented on #1273
@jobcespedes the problem may be that the file referenced isn't accessible in the runtime environment because bubblewrap is "blocking" it. Try exposing that ssl directory or disable bubblewrap/proot https://docs.ansible.com/ansible-tower/3.1.3/html/administration/proot_func_variables.html

Let me know if it works!

[2018-02-26 18:00] wenottingham commented on #678
@chrismeyersfsu @jakemcdermott can this be closed?

[2018-02-26 18:00] wenottingham commented on #307
@chrismeyersfsu @jakemcdermott can this be closed?

[2018-02-26 18:01] wenottingham commented on #217
@jakemcdermott @chrismeyersfsu can this be closed?

[2018-02-26 18:14] jobcespedes commented on #1273
@chrismeyersfsu Do you think bubblewrap is the reason cacert variable is not written to the temporary openstack.yml?
Please look again at my "Source variables" and then to the respective temporal openstack.yml file ansible used. Even tough I set a cacert variable in "Source Variable", there is no cacert variable in the respective temporal openstack.yml file

### "Source variables"
[code]
### opens

[2018-02-26 18:14] #994 closed, assigned to mabashian

[2018-02-26 18:15] #1014 closed, assigned to mabashian

[2018-02-26 18:43] wenottingham commented on #1280
cc @AlanCoding

Re: #991 - that is a different issue, we would not solve it this way.

For the first item... can you provide more detail on the setup/structure of your inventory and playbook repo?

[2018-02-26 18:56] AlanCoding commented on #1280
I poked at this recently, and I would claim that the behavior reported in #991 has nothing to do with inventory updates.

The problem is that we run inventory through a JSON pipeline. The _standard_ does not support certain types in certain places (like integer keys). Even if you assumed that we solved this in inventory updates (which would be a very backwards thing to do first), then the playbook

[2018-02-26 19:05] wenottingham commented on #1199
See https://github.com/ansible/awx/pull/1353

[2018-02-26 19:12] wenottingham commented on #307
![screenshot from 2018-02-26 14-11-33](https://user-images.githubusercontent.com/5208768/36690000-03aeaf04-1aff-11e8-8f4b-34fdf6512191.png)

N/M, this landed.

[2018-02-26 19:12] #307 closed, assigned to chrismeyersfsu

[2018-02-26 19:12] wenottingham commented on #678
Yes, this landed.

[2018-02-26 19:12] #678 closed, assigned to nobody

[2018-02-26 19:13] wenottingham commented on #217
Yes,this landed.

[2018-02-26 19:13] #217 closed, assigned to nobody

[2018-02-26 19:14] juliedavila commented on #217
Wahoo! You guys are the best!

[2018-02-26 19:27] AlanCoding opened #1354 "Restrict filtering by any potentially sensitive OAuth2 related links"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Users can presumably obtain tokens through the API with auditor type permissions.

##### ENVIRONMENT
* AWX version: 1.0.4-61
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

GET `/api/v2/activity_stream/?o_auth2_access_token__token__gte=aoekbieoxoe`

[2018-02-26 20:00] mabashian commented on #1281
I've opened up a PR to fix this issue.  @NathalieCBC that's a good observation.  We're in the process of overhauling the launch logic across the entire app.  Launching from the templates list (`#/templates`) leverages this new logic which includes the preview step.  "Recently used templates" has not yet been migrated to this new launch logic and uses the old logic which is why you weren't experien

[2018-02-26 20:05] AlanCoding commented on #1302
Closing as this is a duplicate of #1281

[2018-02-26 20:05] #1302 closed, assigned to nobody

[2018-02-26 20:09] AlanCoding opened #1358 "Remove AuthToken model"
The `AuthToken` model is no longer needed, we should remove it (and all its uses) and include its removal in a migration.

[2018-02-26 20:14] NathalieCBC commented on #1281
Thank you @mabashian - makes sense - we'll be monitoring for update.

[2018-02-26 20:14] mabashian opened #1359 "Credential form disabled save button border is green"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Border should be the same color as the background when disabled

##### STEPS TO REPRODUCE

Go to add a credential but don't input any fields so that the save button is disabled due to missing fields.

<img width="1296" alt="screen shot 2018-02-26 at 3 07 29 pm" src="https://user-images.githubusercontent.com/9889020/36692952-

[2018-02-26 20:18] mabashian opened #1360 "AWS credential missing cloud icon on templates list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
We list out credentials on the templates list now and we denote the type of credential with an icon.  It seems like AWS credentials are missing their cloud icon:

<img width="1243" alt="screen shot 2018-02-26 at 3 17 19 pm" src="https://user-images.githubusercontent.com/9889020/36693090-29c7f2e6-1b08-11e8-8f39-d27fc2ffb424.p

[2018-02-26 21:20] mabashian commented on #1281
PR has been merged - closing this for now.  Let me know if there are still issues selecting an inventory when launching from the templates list.

[2018-02-26 21:20] #1281 closed, assigned to mabashian

[2018-02-27 09:51] Yiadh commented on #1294
Hello @matburt
Any news about the mentionned above issue?

[2018-02-27 12:24] iyurev opened #1363 "Faild upgrade: Cannot assign "<Role: Role object>": "Organization.member_role" must be a "Role" instance."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.2.75
* AWX install method:  docker on linux
* Ansible version:  2.4.0
* Operating System: CentOS
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

Can't upgrade to version  higher  1.0.3.0 from 1.0.2.75 .
I pull new docker image,  start all containers , but seems  migratio

[2018-02-27 12:45] itpgithub opened #1364 "Not able to add Job template on Git project"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

Added Git project and created template now want to add template into the project so the git pull directly on inventory server not on project directory but not able to add job template on git project

##### ENVIRONMENT
* AWX version: development
* AWX install method: docker on linux
* Ansible version:  2.4
* Operating Syste

[2018-02-27 13:15] nervo opened #1365 "Alt Galaxy Support"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Please, consider using [Alt Galaxy](https://github.com/gantsign/alt-galaxy) as an ansible-galaxy alternative, as this one is damn' too slow

##### ENVIRONMENT
* AWX version: 1.0.4
* AWX install method: docker on linux

##### STEPS TO REPRODUCE

Use a project with dozens of roles defined in `roles/requirements.yml`

#####

[2018-02-27 13:25] itpgithub commented on #1364
![error](https://user-images.githubusercontent.com/3985273/36731112-201c3d0c-1be3-11e8-8b31-c269aa82e028.png)

[2018-02-27 13:41] AbbyRH opened #1366 "Unable to update custom inventory script"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When trying to run a custom inventory script i get the follow error:
`awx-manage inventory_import: error: unrecognized arguments: -e @/tmp/awx_62_6tcS9H/tmphP32xr`

##### ENVIRONMENT
* AWX version: 1.0.4.14
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Ubuntu 16.04
* Web Browser: Ch

[2018-02-27 13:49] matburt commented on #1365
This is one I don't think we're ever likely to get to, if this is something that you are interested in then you should submit a PR adding support for it.

[2018-02-27 13:51] matburt commented on #1364
I'm a little confused on what you are trying to do. Did you add the project to the AWX projects screen? What happens when you try to add a job template? Is the project just not listed there?

Alternatively did you manually check out the project on the filesystem of the container? If so, don't do that... add the project in the Projects section of AWX itself.

[2018-02-27 13:52] matburt commented on #1363
If you read the announcement for version 1.0.3 you'll notice that this is covered. Upgrades from 1.0.2 to versions higher than 1.0.3.0 are not supported.

[2018-02-27 13:52] #1363 closed, assigned to nobody

[2018-02-27 13:54] AlanCoding commented on #1366
These steps are not sufficient for me to reproduce the error. Syncs happen correctly.

Did you attach a custom credential to your inventory source which provided extra vars? @ryanpetrello what do you think of that theory?

[2018-02-27 13:58] nervo commented on #1365
Seems fair :)
What about adding a way to disable roles update in force mode ?

[2018-02-27 14:06] matburt commented on #1350
This is probably better placed on the `tower-cli` repo. Since tower-cli is not required the Tower product docs tend to focus on Tower-interface centric solutions.

[2018-02-27 14:06] #1350 closed, assigned to nobody

[2018-02-27 14:07] matburt commented on #1341
If you need help with ansible then you should ask a question on their mailing list or irc channel. This tracker is for the AWX project.

[2018-02-27 14:07] #1341 closed, assigned to nobody

[2018-02-27 14:20] AlanCoding opened #1367 "Activity Stream for application shows client_secret"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Activity stream for Application model leaks secret

##### ENVIRONMENT
* AWX version: 1.0.4-66
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create an application, view `/api/v2/applications/1/activity_stream/`

##### EXPECTED RESULTS

No secrets.

[2018-02-27 14:22] MichalTaratuta commented on #316
docker-py had been replaced docker

[2018-02-27 14:49] AlanCoding opened #1370 "Token scope not considered for user_capabilities"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### ENVIRONMENT
* AWX version: 1.0.4-66
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

GET some endpoint with `user_capabilities` in `summary_fields` using a read-limited token

##### EXPECTED RESULTS

for user_capabilities values to not be wrong

##### ACTUAL

[2018-02-27 14:53] AlanCoding opened #1371 "Token scope does not have any validation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### ENVIRONMENT
* AWX version: 1.0.4-66
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

POST to `/api/v2/applications/N/tokens/` the data

[code]

##### EXPECTED RESULTS

400

##### ACTUAL RESULTS

201, created

##### ADDITIONAL INFORMATION

My first gut reactio

[2018-02-27 14:57] #1315 closed, assigned to nobody

[2018-02-27 15:00] ryanpetrello commented on #1366
@AlanCoding related: https://github.com/ansible/product-docs/pull/333

[2018-02-27 15:51] lucapalano commented on #316
With python 2.7.10 I got the following error:

[code]

- Ansible 2.4.3.0
- Docker version 17.12.0-ce, build c97c6d6
- Mac OS X 10.13.3

In my case, with python 2.7.10, installing only "docker" library without "docker-py" didn't solve the problem.

I moved to python 3, I installed the "docker" library and I run the following:

```ansible-playbook -i inventory -e docker_registry_password=password in

[2018-02-27 15:53] aoyawale commented on #316
The way it worked for me under fedora 27 was to create a pipenv source and
install docker-py

On Tue, Feb 27, 2018 at 10:52 AM Luca Palano <notifications@github.com>
wrote:

--

Jonathan lozada de la matta

AUTOMATION CONSULTANT - AUTOMATION PRACTICE

Red Hat Consulting Services <https://www.redhat.com/>

jlozadad@redhat.com

[2018-02-27 16:26] AbbyRH commented on #1366
I'll try and get some better steps to reproduce later on. It was working until the latest version I believe, but its possible I screwed something up somewhere. Will try to re-create on a fresh install

[2018-02-27 17:30] wenottingham commented on #1366
@AbbyRH no, it's a known issue. Don't attach a custom credential with an `extra_vars` injector to an inventory source... it won't work. (And wouldn't do anything for the inventory update even if it did work.)

[2018-02-27 17:39] wenottingham commented on #1365
That may be a more useful parameter, I don't think we'd ever build in support for an optional different mechanism for role updates, though.

[2018-02-27 17:43] AlanCoding opened #1375 "Token & Application activity stream doesn't link back to object"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
No link to token from token activity stream entries (or applications)

##### ENVIRONMENT
* AWX version: 1.0.4-72
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Inspect:

 - `/api/v2/tokens/3/activity_stream/`
 - `/api/v2/applications/2/activity_stre

[2018-02-27 17:53] AbbyRH commented on #1366
Ahh, I'd managed to change the credential for my inventory source from from an `env` injector to `extra_vars`. I'd been copying the syntax to another credential and must have got mixed up. Thats why it was working before.

Sorry for wasting everyone's time.

[2018-02-27 18:02] AlanCoding opened #1376 "Able to PATCH a token to make its application None"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Able to remove application from token

##### ENVIRONMENT
* AWX version: 1.0.4-73
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

In the API browser go to something like `/api/v2/tokens/1/`

PATCH

[code]

##### EXPECTED RESULTS

400, from acceptance

[2018-02-27 18:08] ryanpetrello commented on #1366
@AbbyRH to be fair, this _is_ a bug - thanks for reporting it.  I'm working on a fix at the moment.

[2018-02-27 18:25] AbbyRH commented on #1366
I've updated my initial issue comment to include using a `extra_vars` injector credential as part of the steps to reproduce so the issue makes sense without having to read through the commens

[2018-02-27 20:29] AlanCoding commented on #138
The tower-cli feature to receive/upload data has been submitted:

https://github.com/ansible/tower-cli/pull/479

I mentioned this in the mailing list, but I thought some people might get the notification from this issue.

[2018-02-27 20:48] jschwanz commented on #1324
I was having the same trouble on 1.0.4.7, and updating to 1.0.4.14 resolved it for me.

[2018-02-27 21:35] matburt commented on #1365
Yeah agreed, I'm going to close this one out.

[2018-02-27 21:35] #1365 closed, assigned to nobody

[2018-02-27 22:00] #1366 closed, assigned to ryanpetrello

[2018-02-28 07:52] yuanfm commented on #1197
I concur. the issue reproduces in all of the pip-docker versions I tried. 3.0.0, 3.0.1 and 3.1.0.

I am also using ubuntu 16.04.

downgrading to pip-docker 2.6.1 helped getting around the issue.

[2018-02-28 08:09] itpgithub commented on #1364
Hi Mat,

May be the wrong way i am trying to achieve but my requirement is:

Project -- Checkout code from git to inventory server ( Web servers) not on AWX project folder.

When i am creating a project there is a tab (Job Template) while i am going there , nothing is listing there ( Already we have templates ) and add button also not responding .

Thanks

[2018-02-28 09:36] akcrisp opened #1384 "add pip install pysphere to dockerfile.j2 template"
##### ISSUE TYPE
  - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
Add pip install pysphere to docker.j2 template file

Required for ansible modules -
vsphere_guest
vsphere_copy

##### ENVIRONMENT
* AWX version: 1.1.173
* AWX install method: docker on linux
* Ansible version:  2.4.3.0-1
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

trying to use vmware module fails

[2018-02-28 10:40] mkempster22 commented on #219
Above you mentioned that the user relaunching the job should only require the same permissions as they did to run it. Currently trying to relaunch a job as the Normal User that first launched the job but am getting "Job was launched with prompted fields. Organization level permissions required."

Does this mean only admins are allowed to re run jobs with surveys? or is this a bug?

[2018-02-28 11:00] AlanCoding commented on #219
That means that the job had fields provided on launch. Was the JT modified to change which fields prompts on launch? You can navigate to the jobs `/api/v2/jobs/N/create_schedule/` endpoint and see what prompts were provided.

[2018-02-28 11:04] mkempster22 commented on #219
The job was just normal job template with a survey, so the user filled in the survey and ran it. Needed to rerun it again and it told them they couldn't. So is it that jobs with modified variables i.e. Survey based jobs can't be rerun like that?

[2018-02-28 11:29] AlanCoding commented on #219
Ah, I see. Looks like we didn't carve out an exception to survey variables in that case. That would be good to do, you could file a new issue for that.

[2018-02-28 11:36] mkempster22 commented on #219
Ah right thanks for clarifying that. I'll raise a new issue

[2018-02-28 11:44] mkempster22 opened #1386 "Allow Normal Users to re launch survey based jobs"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Normal Users that have launched a job with a survey are unable to use the relaunch function as it brings back "Job was launched with prompted fields. Organization level permissions required."
Discussed in #219 there is no exception for this to work on jobs with surveys at the moment

##### ENVIRONMENT
* AWX version: 1.0.4

[2018-02-28 12:40] psy-q opened #1387 "Docs on LDAP org/team mapping refer to email address which has no bearing on anything"
##### ISSUE TYPE
 - Documentation

##### SUMMARY

[The LDAP admin documentation](http://docs.ansible.com/ansible-tower/latest/html/administration/ldap_auth.html) states:

But the email address is never used in any of the following examples. And I think it shouldn't have a bearing on anything anyhow since LDAP is just the directory service, users there don't necessarily have email addresses.

[2018-02-28 12:46] psy-q opened #1388 "LDAP example has wrong brackets in JSON (screenshot shows correct ones)"
##### ISSUE TYPE
 - Documentation

##### SUMMARY
[The LDAP admin docs ](http://docs.ansible.com/ansible-tower/latest/html/administration/ldap_auth.html) show an example for the LDAP User Attribute Map option:

[code]

But it should be:
[code]

Since a JSON hash is expected there.

[2018-02-28 13:24] stefan-wegener opened #1389 "Templates - Inventory: "Prompt on launch" not working correctly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
 "ERROR! Job Template Inventory is missing or undefined." window appears when using a template with a "Prompt on launch"-Inventory.

##### ENVIRONMENT
* AWX version: 1.0.4.14
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Linux (Ubuntu)
* Web Browser: Firefox, Chrome

##### STEPS TO REP

[2018-02-28 13:51] stefan-wegener opened #1390 "Smart Inventory: Execution of Templates also starts on disabled ("OFF") hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API?
 - UI

##### SUMMARY
I create a Smart Inventory. Then I disable ("OFF") hosts in it. When now running a Template on my Smart Inventory, the Template will also be executed on all hosts that are disabled.

##### ENVIRONMENT
* AWX version: 1.0.4.14
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Linux (

[2018-02-28 13:56] matburt commented on #1384
We include psphere and pyvmomi which support the newer ansible vmware modules. We will not be adding pysphere whose development is no longer continuing.

[2018-02-28 13:56] #1384 closed, assigned to nobody

[2018-02-28 13:58] matburt commented on #1364
Is there an error on your javascript console when you click the `Add` button to add a project?

[2018-02-28 14:15] rooftopcellist commented on #1334
This is fixed by https://github.com/ansible/awx/pull/1382.

[2018-02-28 14:15] #1334 closed, assigned to rooftopcellist

[2018-02-28 14:35] b0urn3 opened #1391 "RFE: Make the schedule of cluster heartbeats configurable"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY

##### ENVIRONMENT
* AWX version: N/A
* AWX install method: N/A
* Ansible version:  N/A
* Operating System: N/A
* Web Browser: N/A

##### STEPS TO REPRODUCE

Currently the heartbeat schedule for cluster is hard-coded in here

https://github.com/ansible/awx/blob/devel/awx/settings/defaults.py#L489

Consider making it confi

[2018-02-28 14:45] wenottingham commented on #1391
What is the context of why you would need this?

[2018-02-28 14:56] asziranyi commented on #532
I confirm that the issue gone in `2.4.3.0`.

[2018-02-28 15:13] stefan-wegener opened #1392 "Inventory Scripts - Python Script executes with errors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
I created a

##### ENVIRONMENT
* AWX version: 1.0.4.14
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Linux (Ubuntu)
* Web Browser: Firefox, Chrome

##### STEPS TO REPRODUCE

1. Create Inventory Script with custom script code:
`#!/usr/bin/env python

data_to_print = '{"marietta":

[2018-02-28 15:15] b0urn3 commented on #1391
@wenottingham it's a request from customer they would like to have this possibility so they can control how quickly an issue with some node is discovered and therefore subsequently removed from potentially scheduling a job on such a node.

[2018-02-28 15:15] Nicarim opened #1393 "Can't connect to rabbitMQ on fresh ec2 instance."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
I've got an issue with installer, specifically when running task / web container it seems to read wrong variables from environmental, and instead of using for rabbitmq `rabbitmq:5672` address it uses `127.0.0.1:5672`

Full error log inside `task` container

[code]
And it goes...

Same for operations that use rabbitMQ

[2018-02-28 15:23] wenottingham commented on #1391
That seems like a reason to lower the default one... I still don't think it makes sense as a configurable knob.

[2018-02-28 15:24] AlanCoding commented on #223
Alright @bcoca I think we're almost synced up on the expectation for `ansible-inventory`. The behavior I was relying on by using the `--yaml` flag will probably be counted as a bug by you.

Nonetheless, I still want that behavior, and I filed a PR at https://github.com/ansible/ansible/pull/36862 which adds an option for the behavior I'm looking for (specifically `ansible-inventory` delaying vault

[2018-02-28 15:25] wenottingham commented on #1392
Your script has invalid JSON. You may want to check it with something like 'jq' first.

[2018-02-28 15:25] #1392 closed, assigned to nobody

[2018-02-28 15:31] Nicarim commented on #1393
Installing from docker hub 1.0.4.14 version seems to work fine. There must be regression somewhere.

[2018-02-28 15:55] stefan-wegener commented on #1392
Oh, you are right. I was pretty sure that this "script" ran successfully some months ago and thereby never questioned it...

Thanks for your quick answer and sorry for opening this in error!

[2018-02-28 16:14] ooasis commented on #1346
In our use case, we need to be able to select from a list of available builds for deployment.

Any estimate when this feature might be available?

-thanks

[2018-02-28 16:34] Anthonyjmartin opened #1395 "VCenter Inventory fails with unhelpful error."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When attempting to use VMWare VCenter as an inventory source it fails with the following error:

[code]
##### ENVIRONMENT
* AWX version: 1.0.4.14
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Red Hat Enterprise Linux Server release 7.4 (Maipo)
* Web Browser: Google Chrome Version 64

[2018-02-28 16:36] shanemcd commented on #1393
I am unable to recreate this. I deleted all of my images and containers and re-ran the installer.

[code]
[code]

Can you pull remove your containers and try again? Is `RABBITMQ_HOST` set if you exec into the task container?

[2018-02-28 16:37] wenottingham commented on #1346
A la Duke Nukem Forever... "when it's done". No estimates beyond that.

[2018-02-28 16:47] pnkcigarette opened #1396 "Job Templates not showing correctly via organization page after AWX update to 1.04.14"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Since updating to release 1.0.4, I'm seeing UI issues around viewing job templates via organizations.  This includes not iterating job template counts when new job templates are added for a particular organization.

##### ENVIRONMENT
* AWX version: 1.0.4.14
* AWX install method: k8s
* Ansible version:  2.4.3.0
* Operating

[2018-02-28 16:59] bcoca commented on #223
Yes, they are 2 diff features:  vaulted files vs vaulted values, the former makes no sense in a 'passthrough' context, the latter does.

So I see ansible-inventory behaving in 1 of 2 ways:
- Offering all the content 'unencrypted', you need to supply the correct vault secrets for this case. This should already work.
- Returning the content it can 'as is' vaulted files are not returned, but vaulted

[2018-02-28 18:21] suganthanraj commented on #239
change ownership to that file and folder to awx

[2018-02-28 20:04] grahamneville opened #1399 "No Icon For Pending/Running Jobs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
In recent versions of AWX there is no longer a flashing grey/green icon for pending/running jobs

##### ENVIRONMENT
* AWX version: 1.4.0.31
* AWX install method: docker on linux
* Ansible version:  2.4.0.3

##### STEPS TO REPRODUCE

1) Run a job and go back to the job_templates view,

##### EXPECTED RESULTS

You'll see an ic

[2018-02-28 20:18] dhartford opened #1400 "RFE: Project View list should have Organization column"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
When setting up projects, you map it to one (and possibly many) organizations.  However the list view does not show the Organization similar to the Inventory list view.

Desire to have Organization column in the Project list view for faster review on that page.

[2018-02-28 20:20] dhartford opened #1401 "RFE: Job view list should have 'caller' user name column"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
The job list doesn't show who ran each job.  Desire to have the user that made the call (scheduled/automated calls could be a stock value, transitive calls could be 'called from <xyz> project' such as when updating SCM jobs).

[2018-02-28 20:22] dhartford opened #1402 "RFE: Template list view should have 'Teams' column"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
The Template list view doesn't currently show who can own/run a template. Adding a column to list the team(s) is desired.

[2018-02-28 20:30] grahamneville opened #1403 "Add edit icon on job templates view"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
For consistency there should be an edit icon on the job templates view

##### ENVIRONMENT
* AWX version: 1.0.4.31
* AWX install method: docker on linux
* Ansible version:  2.4.0.3

##### STEPS TO REPRODUCE

Add the edit icon on the job templates view
![image](https://user-images.githubusercontent.com/19539695/36811496-eba4

[2018-02-28 20:33] davidflam commented on #862
Hi,

Same problem here, AWX is crashing when encountering 404. AWX is installed on a physical Ubuntu 16.04 LTS server with Docker 1.12.6.

We have a monitoring agent that queries http://<server>:8052/nginx_status. Since nginx_status is not enabled in the default AWX docker install, nginx will return 404 and will crash AWX web ui. Solved by enabling nginx_status (see https://easyengine.io/tutorials

[2018-02-28 20:33] grahamneville opened #1404 "Add ability to copy job schedules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Add ability to copy job schedules

##### ENVIRONMENT
* AWX version: 1.0.4.31
* AWX install method: docker on linux
* Ansible version:  2.4.0.3

##### STEPS TO REPRODUCE

There should be a copy action for job schedules

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

![image](https://user-images.

[2018-02-28 20:45] grahamneville opened #1405 "Unable to view/edit System Configuration Settings"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Unable to view/edit System Configuration Settings

##### ENVIRONMENT
* AWX version: 1.0.4.31
* AWX install method: docker on linux
* Ansible version:  2.4.0.3

##### STEPS TO REPRODUCE

1) To Go Settings and Click on System

##### EXPECTED RESULTS

You're able to view/edit System Settings

##### ACTUAL RESULTS

Site doesn't

[2018-02-28 21:05] wenottingham commented on #1399
Known issue, websockets are broken.

[2018-02-28 21:18] wenottingham commented on #1402
I honestly think expanding the roles here in the list is more clutter & traffic than we would want, especailly given how we expose team permissions.

[2018-02-28 21:18] wenottingham commented on #1400
https://tower-mockups.testing.ansible.com/mockups/projects/projects/

[2018-02-28 21:19] wenottingham commented on #1401
https://tower-mockups.testing.ansible.com/mockups/jobs/jobs/

[2018-02-28 21:20] wenottingham commented on #1403
This is intentional currently - the title goes to details/edit. CC'ing UX

[2018-02-28 22:15] mneumarkidg commented on #1188
Upgraded to "1.0.4.33" today and still having the same issues with celery workers. Only difference is the error changed due to source code changes.

`Task was marked as running in Tower but was not present in the job queue, so it has been marked as failed. `

Task shows failure when running > 5 minutes, will update correct status upon job completetion. However job status is incorrect (showing fail

[2018-02-28 22:25] mneumarkidg commented on #1188
![screen shot 2018-02-28 at 2 24 43 pm](https://user-images.githubusercontent.com/25063770/36816619-2f2ad00a-1c93-11e8-9396-18e9af5e76a4.png)

[2018-02-28 22:32] mneumarkidg commented on #1188
Same job after job runs
![screen shot 2018-02-28 at 2 31 44 pm](https://user-images.githubusercontent.com/25063770/36816892-2238c07c-1c94-11e8-9a89-4d32de9bb5a7.png)

[2018-02-28 22:37] ryanpetrello opened #1406 "cannot create oauth personal access token at `/api/o/token/`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Here's a test case that replicates the instructions at https://github.com/ansible/awx/blob/devel/awx/api/templates/api/api_o_auth_authorization_root_view.md#authorization-using-application-of-grant-type-password (but fails with `E   OperationalError: no such table: oauth2_provider_refreshtoken`):

[code]

[code]

[2018-02-28 22:41] matburt commented on #1406
Looks like something got missed when moving migrations around? Or this was inadvertantly excluded from the migration.

[2018-02-28 22:54] switchboardOp commented on #1405
Having the same issue on a fresh OpenShift Install
- OpenShift Origin version: 3.6
- AWX version: 1.0.4.31
- RabbitMQ version: 3.6.14

Seeing the following errors in the Firefox console:

[code]

[2018-03-01 02:20] itdependsnetworks opened #1407 "Inventory Vars from SCM"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

SCM Access for inventory and specifically vars, not tied to project.

##### ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

N/A

##### EXPECTED RESULTS

To allow the inventory from SCM to pull down not just inventory, but group and host vars via SCM. This allows normal CI/CD workflow for adding vars within all repo's that a

[2018-03-01 06:25] itpgithub commented on #1364
No error No response its identical same like above shared screenshot.............

[2018-03-01 08:54] mkempster22 commented on #1395
I had this the other day, for me it was a typo in the username for the credential I was using. I'd guess it mainly is about incorrect login details then, Unless its a generic error.

It's definitely not the most helpful error, I only knew it was a credential issue as I had just been changing the credentials around

Edit: My specific typo was one too many \\'s after my domain. i.e.  DOMAIN\\\userna

[2018-03-01 10:01] tidypete commented on #1389
Having the same issue in AWX version: 1.0.4.14

[2018-03-01 14:19] rooftopcellist commented on #1406
I overrode the RefreshToken and included the variable in defaults.py to tell django-oauth-toolkit to swap out the RefreshToken for OAuth2RefreshToken.  I am going to revert back to before I did this and see if this problem fixes it.  Functionally, it is not necessary to override it any more.  So if this works, I will put up a PR for going back to the vanilla RefreshToken

[2018-03-01 15:23] rooftopcellist commented on #1367
@AlanCoding and I talked in person.  I will remove this from the activity stream.  After some digging, it looks like django-auth-toolkit does NOT hash/encrypt the client_secret.

[2018-03-01 16:46] mabashian commented on #1396
Link https://github.com/ansible/awx/pull/1323 - could be related/similar fix

[2018-03-01 16:51] mabashian commented on #1389
This looks like a duplicate of https://github.com/ansible/awx/issues/1281.  This issue should be fixed by https://github.com/ansible/awx/pull/1357 (awx version 1.0.4.17).

[2018-03-01 16:51] #1389 closed, assigned to nobody

[2018-03-01 17:12] matburt commented on #1294
We've been hammering away on celery and stuff for the last few days... can you try the latest builds under 1.0.4?

[2018-03-01 17:21] smrutikanta opened #1413 "installation failing: unable to access fdisk"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
1st time installation on rhel 7 box. Unable to perform installation. While running the playbook getting the below error

Error pulling ansible/awx_web - code: None message: failed to register layer: ApplyLayer exit status 1 stdout:  **stderr: open /usr/sbin/fdisk: permission denied**

##### ENVIRONMENT
* AWX install m

[2018-03-01 17:38] wenottingham commented on #1413
Your `docker_container` module or docker installation is somehow broken; this is not an AWX issue.

[2018-03-01 17:38] #1413 closed, assigned to nobody

[2018-03-01 17:57] Anthonyjmartin commented on #1395
I made sure that wasn't the case and the credentials work while using the webpage.

[2018-03-01 19:24] ooasis commented on #20
If you really need the feature now, take a look at a hack I did in #1408. That works for me.

[2018-03-01 20:05] grahamneville commented on #1188
I was concerned this was going to affect me on an upgrade so thought I'd test it out. I'm unable to replicate this issue:

I manually executed a job that has a 15min pause, I can see the job running at all times, even after browsing to different parts of AWX and then coming back:

![image](https://user-images.githubusercontent.com/19539695/36866896-8049fba2-1d8b-11e8-9226-e95dca1c2cec.png)

The jo

[2018-03-01 20:17] rooftopcellist opened #1416 "OAuth2 Application client_secret is not encrypted in the database"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Application client_secret is not encrypted in the database.

##### ENVIRONMENT
* AWX version: 1.0.4.31
* AWX install method: docker on linux
* Ansible version: 2.4.0.3

##### STEPS TO REPRODUCE

1. exec into the awx container
2. do a SELECT on main__oauth2application
3. see client_secret field in plain text

##### EXPECTE

[2018-03-01 20:21] ryanpetrello commented on #1416
Looks like we'll have to solve this ourselves given the response in: https://github.com/evonove/django-oauth-toolkit/issues/276

[2018-03-01 21:40] Exordian opened #1418 "SAML Authentication broken on 1.0.4.33"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
SAML Authentication (which worked in 1.0.2.103) is now broken when the IdP response gets sent to AWX

##### ENVIRONMENT
* AWX version: 1.0.4.33
* AWX install method: docker
* Ansible version:  2.4.3.0
* Operating System: CentOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Fresh Install AWX 1.0.4.33
Configure SAML Authen

[2018-03-02 05:26] tidypete commented on #1312
Having the same issue in AWX 1.0.4.38

[2018-03-02 08:01] madeinoz67 commented on #1405
Can confirm the problem on fresh docker install

AWX Version: 1.0.4.38

[code]

[2018-03-02 08:37] pritho commented on #79
Hey, it should also be possible to allow notifications to be sent upon changes, not solely for success or failed. This would allow for security monitoring and reporting of infrastructure/configuration changes.

[2018-03-02 09:54] mkempster22 opened #1419 "Smart Inventory filter documentation"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME
 - UI

##### SUMMARY
Documentation link inside the smart host inventory filter is broken

##### ENVIRONMENT
* AWX version: 1.0.4.14
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Open up the Smart Inventory filter and click the 'Key' button, at the

[2018-03-02 10:07] tumluliu commented on #1019
I am using AWX 1.0.4/Docker and just encountered the same issue. It actually worked pretty well before I accessed it once with VPN at home. For my case, however, it's not related to that config. That `REMOTE_HOST_HEADERS` line does not exist in my `/etc/tower/settings.py` by default either. But It still doesn't work after I added that line and restarted the web container. I got these 401 messages

[2018-03-02 12:17] AlanCoding opened #1420 "Add support for sesu become method"
because some people are already assuming we support it...

https://github.com/ansible/ansible/pull/27376/files#diff-f5b4ed56691a28c106adf759d95de084L128

[2018-03-02 13:05] AlanCoding opened #1421 "Update monkey patch for python-saml"
Here's the story, the `__init__.py` of the sso app has some heroic logic (written by @cchurch) in order to avoid a segmentation fault in CentOS triggered in a library that it uses.

https://github.com/ansible/awx/blob/f9079953744af1d79de11148a6e49f2ef38c94be/awx/sso/__init__.py#L4-L23

Related issue for the library https://github.com/onelogin/python-saml/issues/30#issuecomment-75954988

Within the

[2018-03-02 13:24] AlanCoding opened #1422 "Provide workflow node writable field for API client identifier"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
It is difficult (and probably theoretically impossible) to write idempotent scripts for workflows in AWX.

Branches can't be distinguished from each other in a general sense. There's no _invariant_ identifier that a client can use to know that they are consistently modifying one branch versus a different branch.

This com

[2018-03-02 13:43] AlanCoding commented on #660
Tested this with python-memcached==1.59. The test is still failing in the exact same way. The type and code path is identical. We get a `str` for the value from `self.cache.get(key, **kwargs)` and that hasn't changed.

I see no indication that we can remove the patch. The best I could do would be to dig some more and file another bug in the upstream.

[2018-03-02 13:48] AlanCoding commented on #1421
https://pypi.python.org/pypi/dm.xmlsec.binding/1.3.3

That's the closest I can get to change changed in that lib

[2018-03-02 14:04] chancerollins commented on #735
I wanted to leave a comment here to help the community as I just fought the battle of getting WinRM Kerberos authentication with AWX and had to spend a lot of time trying and failing and reading loads of github issue posts to get this.  I also had to do several additional packages on my side.  @Steaksauce and @mkayontour were very helpful however it is unfortunate the difficulty in getting this se

[2018-03-02 14:05] ryanpetrello commented on #660
Yea, if it's still not fixed upstream, then I'd say keep our patch and close this issue; we'll just carry the actual fix.

[2018-03-02 14:23] #660 closed, assigned to nobody

[2018-03-02 14:30] MrMEEE opened #1423 "Login Fails"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
 - UI

##### SUMMARY
When trying to login to the webinterface it just hangs after pressing Sign In..

I get:

![screenshot_20180302_152825](https://user-images.githubusercontent.com/768031/36903574-723012ce-1e2e-11e8-8450-8f57598a3971.png)

##### ENVIRONMENT
* AWX version: 1.0.4.38
* AWX install method: RPM-based, I know this is not supported, bu

[2018-03-02 14:44] anlutro commented on #1324
I'm running AWX 1.0.4.38, and while I can create and edit schedules, the error message "The scheduler options are invalid or incomplete." still shows up on all my existing jobs, and I have to re-enter the schedule's time data because they've all been blanked. This seems to be because of a change in how the rrule column is structured, it would be nice if this was made backwards compatible.

[2018-03-02 14:47] shen3lu4 opened #1424 "AWX kubernetes installation issue in setting.py"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
AWX Kubernetes installation successful with pods in running status. But there is an internal server error when trying to access AWX from a browser.

##### ENVIRONMENT
* AWX version: latest docker tag as of 3/1/2018
* AWX install method: kubernetes (installed using Oracle Container Services for use with Kubernetes)
* A

[2018-03-02 14:50] anlutro commented on #1418
I'm seeing the same in 1.0.4.38, but using Github instead of SAML, but I'm not seeing the "You have multiple authentication backends configured" message in my logs.

[2018-03-02 15:03] temazelikin commented on #525
Confirm the same bug.

AWX: 1.0.1.93
Ansible: 2.4.0.0
Operating System: CentOS 7.4 x64

AWX deployed using docker containers.

[2018-03-02 15:17] matburt commented on #1423
The rpm install method isn't supported by us... you can seek help in the irc channel if you have development related questions.

[2018-03-02 15:17] #1423 closed, assigned to nobody

[2018-03-02 15:18] matburt commented on #1420
This might be as simple as adding it to our constants list if it's supported in core

[2018-03-02 15:51] wenottingham commented on #79
Playbooks only have a success and failure state; 'changed' only applies to hosts.

[2018-03-02 15:55] a-nanasov commented on #1424
Same here, @shen3lu4 try using images version 1.0.3
(set dockerhub_version=1.0.3 in your inventory file)

[2018-03-02 15:58] rooftopcellist commented on #1416
On the first pass, I will censor the `client_secret` from the ActivityStream.  Do we want to handle client_secrets like token values (only show their value on creation)?  It looks like other developers have handled this either way.  GitHub for example shows their `client_secret` and `client_id` when the user is logged in, _not_ just on creation.

[2018-03-02 16:11] wenottingham commented on #1420
Marking as blocked until it's *actually* merged upstream: https://github.com/ansible/ansible/pull/27376/

[2018-03-02 16:22] goharma commented on #1364
I have the same problem.  This is the error I get in Chrome console when the page loads:

vendor.55410e4f142c1e5ce12d.js:570 Error: [$controller:ctrlreg] The controller with the name 'TemplatesListController' is not registered.
http://errors.angularjs.org/1.6.9/$controller/ctrlreg?p0=TemplatesListController
    at vendor.55410e4f142c1e5ce12d.js:570
    at vendor.55410e4f142c1e5ce12d.js:570
    at

[2018-03-02 16:36] #1406 closed, assigned to rooftopcellist

[2018-03-02 16:43] AlanCoding commented on #1144
Ansible tests constrain this requirement

https://github.com/ansible/ansible/blob/e58b5766d2d8a391d056d800a9bef0e623e8fd57/test/runner/requirements/constraints.txt#L17

[code]

Most authoritative looks like

https://github.com/ansible/ansible/blob/76ff3e9efc0a74799bc2962508fdfcc8c2a920b6/docs/docsite/rst/user_guide/windows_setup.rst#L400

Current version is 0.1.0, so it looks like that's what we'r

[2018-03-02 16:52] shen3lu4 commented on #1424
using images v 1.0.3 works! thank you!

[2018-03-02 18:02] matburt commented on #1364
Thanks @goharma that's more helpful.

@unimity I'm sorry, I'm not sure what you are trying to say but please grab the web console output as you can see @goharma has already.

[2018-03-02 18:03] matburt commented on #1364
It would also be super helpful to have the version number

`AWX version: development`

Isn't super helpful.

[2018-03-02 18:07] jakemcdermott commented on #1364
Hello unimity, thanks for filing this issue.

This is a duplicate of https://github.com/ansible/awx/issues/960 and is being addressed here: https://github.com/ansible/awx/pull/1323 so I'm going to close.

[2018-03-02 18:07] #1364 closed, assigned to nobody

[2018-03-02 18:28] thevman opened #1428 "Cannot create Azure Storage Account. Version Error."
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME

 - API
 - UI
 ##### SUMMARY
Cannot create an Azure storage account because of a version mis-match.
##### ENVIRONMENT
* AWX version: 1.0.4.38
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: Ubuntu
* Web Browser:
Chrome
##### STEPS TO REPRODUCE
Create a Playbook to create a Storage Account in Azure.
[code]
The

[2018-03-02 18:37] wenottingham commented on #1428
Marking as a duplicate of https://github.com/ansible/awx/pull/1415

[2018-03-02 18:37] #1428 closed, assigned to nobody

[2018-03-02 18:38] AlanCoding commented on #1428
Looks consistent with being fixed by this change

https://github.com/ansible/awx/pull/1415/files#diff-8dd294ec5d9417d0b6c37b06f3a78428L5

[2018-03-02 18:47] mneumarkidg commented on #1188
@grahamneville What setup are you using? I'm just using local docker with two instances configured in the tower instance group.

[2018-03-02 18:59] mneumarkidg commented on #1188
The jobs even trigger "Job #10550 had status failed" email to be sent out to the users. However, job #10550 finished successfully. Just shows failed during job running and send out failure emails to all the users. Which are false positives since the job is still running.

[2018-03-02 19:56] grahamneville commented on #1188
I'm not using instances, just local docker and one of each of the containers.

[2018-03-02 21:33] wenottingham commented on #1391
Solved differently by https://github.com/ansible/awx/pull/1411 and followons

[2018-03-02 21:33] #1391 closed, assigned to nobody

[2018-03-02 21:35] wenottingham commented on #1407
Can you describe the layout of the repo you're expecting this with?

[2018-03-02 21:58] wenottingham opened #1429 "[RFC] Don't conditionalize `scm_delete_on_update` on check jobs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY

We currently only handle `scm_delete_on_update` for check jobs. (See https://github.com/ansible/awx/commit/1a946d51c13131103561c97c076f628589cdae69).

This leads to weird semantics.

The option originally existed to handle cases where jobs may leave temporary files in the repo, or other similar issues. Now imagine the foll

[2018-03-02 22:16] wenottingham opened #1430 "Job run resource links are all tooltiped as 'Edit the XYZ'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

All resources linked off of a job run have tooltips of 'Edit the XYZ' (inventory, project, job template, etc.)

However, the user may not be able to edit them at all. 'View the XYZ' may be more appropriate.

##### ENVIRONMENT
* AWX version: 1.0.4.38

[2018-03-02 23:22] itdependsnetworks commented on #1407
Hopefully this is an ample enough description
[code]

[2018-03-03 10:49] cydvd commented on #1424
Using `dockerhub_version=1.0.3`solved the problem also for me.
I'm using the release`1.0.4` of awx, deployed to an OpenShift cluster.

[2018-03-03 16:16] jimmydavies opened #1432 "Parallel jobs of the same project within a workflow interfere with each other"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
If you have a workflow that runs multiple jobs from the same project in parallel they will interfere with each others galaxy roles install. When each job kicks off it triggers a project scm full update which run ansible-galaxy install with a --force flag.
https://github.com/ansible/awx/blob/5370c5e07d701bb4c97381a4969f81833

[2018-03-03 17:43] jean-christophe-manciot opened #1433 "Failed to import docker-py although it is installed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
cf. title

##### ENVIRONMENT
* AWX version: tag 1.0.4
* AWX install method: docker on linux
* Ansible version: v2.4.3.0-1
* Operating System: Ubuntu 17.10
* Web Browser: chrome

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Correct build

##### ACTUAL RESULTS

[code]

##### ADDITIONAL INFORMATION
[code]

[2018-03-04 01:11] earchibald-lv commented on #515
That was an infuriatingly useless "answer."

[2018-03-05 02:03] vodcav commented on #1158
if you want to run more than 4 jobs in the same time you should have more awx_task container. only 4 jobs can be executed concurrently per a awx_task container. It it very inconvenient.

[2018-03-05 03:19] matburt commented on #1158
This is patently false do not listen to it. The maximum number of simultaneous jobs is based on the capacity of your system, see the documentation on this system here: https://github.com/ansible/awx/blob/devel/docs/capacity.md

[2018-03-05 05:28] ghost opened #1434 "Add support for SSO using Kerberos and SPNEGO"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Currently, users are always required to enter a username and password for AD authentication into Tower.  This feature request suggests adding SPNEGO support to the AWX UI login to allow for login to UI with established Kerberos credentials without an interactive authentication.

##### ENVIRONMENT
* AWX version: 1.0.1

####

[2018-03-05 06:17] pritho commented on #79
Sure, I'm aware of that, but it would be helpful to be able to receive a notification if any of the hosts of a play had a task applied that changed a configuration.
For example if somebody keeps disabling selinux on a certain host.

[2018-03-05 08:46] akcrisp commented on #1384
@matburt problem is that the vmware_guest ansible module does not support the cdrom, where as the vsphere_guest (which requires pypshere) does. I'll email the authors of the vmware_guest and see if there are plans to add support.

[2018-03-05 10:42] e-minguez commented on #1350
I think there are some "tower-cli" commands in the same section, so I'd say a "note" on how to do it with tower-cli could be nice.

[2018-03-05 10:44] mpostument commented on #885
@falencastro I am trying to use {"text": "message"} as http header but still getting the same error

[2018-03-05 13:37] Gaby033 opened #1435 "Docker-compose pull generate : Pulling awx (/awx_devel:latest)... ERROR: invalid reference format"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
I had the error "internal server error" due to the pgsql being in /tmp/pgdocker (worked fine during a month), so I decided to upgrade my AWX environment from 1.0.3.29 to the latest : 1.0.4. Unfortunatly, I am now unable to start AWX because of the following error :
[code]

##### ENVIRONMENT
* AWX version: 1.0.4
* AWX

[2018-03-05 13:55] ryanpetrello commented on #515
@fortinj66 you may care the take a look at the details of https://github.com/ansible/awx/issues/34 - we've recently added in support to awx for custom Python virtualenvs.

Specifically, the changes in this pull request:
https://github.com/ansible/awx/pull/940/files#diff-015b935452ac22e8799e290bcfa7cb07

[2018-03-05 14:10] #21 closed

[2018-03-05 14:24] jean-christophe-manciot commented on #1433
Actually, this looks more like an [ansible issue](https://github.com/ansible/ansible/issues/37006) than an awx one.

[2018-03-05 15:06] marshmalien opened #1436 "Capacity Adjustment value is not represented on slider"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Capacity adjustment slider should display the current adjustment value. The number represents a value between 0-1 and increments by 0.1.

##### STEPS TO REPRODUCE
- Navigate to Instance Groups
- Select Instances
- Move the Capacity Adjustment slider

##### EXPECTED RESULTS
Capacity adjustment value visible above slider.

##

[2018-03-05 15:38] Erlum commented on #818
Hi.

I'm running 1.0.4.7 and the problem seems to still be present.

Adding a job to a workflow does not work if that job either uses a survey or requires something on launch. (ex: credentials)

I've tried disabling the survey and requirements of a job in order to add it to the workflow, then enabling them, then launching the workflow and it doesn't work either : I am not asked to fill the require

[2018-03-05 16:12] icsm2017 commented on #1158
I agree, but how do you explain that despite the ram update of 4 to 16GB, AWX still only launch 4 jobs simultaneously ?

I tested the same template (with same project, playbook, inventory) on the trial version of tower and I actually went ~20 jobs simultaneously on the same server.

Would there be an extra parameter to set for AWX ?

Environment :
AWX version: 1.0.2.0
AWX install method: docker on

[2018-03-05 16:34] icsm2017 commented on #1433
Same problem in the same conditions with ansible 2.4.1 and 2.4.3 and AWX 1.0.4 and 1.0.3 :

`TASK [local_docker : Activate postgres container] *************************************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import docker-py - No module na

[2018-03-05 17:49] ryanpetrello opened #1438 "Scheduled inventory sources with `null` inventory break the task manager"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
1.  Create an inventory and associated inventory source.
2. `InventorySource.objects.get(pk=N).inventory = None` and `save()`
3.  Launch the inventory source.
4.  The task manager will start failing with this traceback:

[code]

[2018-03-05 18:30] matburt commented on #1158
This is a fairly old version of AWX... can you try 1.0.4.X?

[2018-03-05 18:31] jakemcdermott opened #1440 "System settings panel form is not rendering"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### STEPS TO REPRODUCE
- navigate to `/#/configuration/system`

##### EXPECTED RESULTS
- system settings panel options, form, etc. should be displayed

##### ACTUAL RESULTS
- no form is loaded

[2018-03-05 19:08] AlanCoding commented on #223
New attempt, given the feedback from prior approach https://github.com/ansible/ansible/pull/37029

If this is accepted, much more minor changes will be required on the AWX side. The content could be represented in the UI (by introducing a new "magic" string "!vault", similar to how we use "$encrypted$"). AWX would have to inspect each value as it exports its own inventory, and then it could probab

[2018-03-05 19:27] wenottingham commented on #1434
This is unlikely to happen in the near future; there is not a suitable upstream backend for this from a brief search.

[2018-03-05 19:35] wenottingham commented on #1433
See also https://github.com/ansible/ansible/issues/36125, this is an ansible module issue, or an issue with the upstream docker python bindings.

[2018-03-05 19:35] #1433 closed, assigned to nobody

[2018-03-05 20:12] #1438 closed, assigned to ryanpetrello

[2018-03-05 20:27] jakemcdermott opened #1444 "list of credential tags on templates view should wrap horizontally with an eventual 'see more'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### STEPS TO REPRODUCE
- create at least 20 credential types or, alternatively, 20 vault credentials with different vault_ids
- create one credential for each type
- create a job template
- assign all credentials to that job template
- inspect the job template on the lists view

##### EXPECTED RESULTS
- the list of credential tags shoul

[2018-03-05 20:52] badstreff opened #1447 "Unable to Run Python3 Inventory Scripts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.2.372
* AWX install method: docker on linux
* Ansible version:  2.4.3.0
* Operating System: RHEL 7
* Web Browser: Chrome

python3.6 installed from epel repo

##### STEPS TO REPRODUCE

Create a new custom inventory script with python3 as the source and attempt to run

[2018-03-05 21:15] Cryptophobia commented on #1424
@cydvd  Thank you for the solution! Using 1.0.3 works for me as well!

[2018-03-05 21:36] matburt commented on #1447
We're not quite there on supporting python3... at the moment you'll need to run Tower with python2

[2018-03-05 21:48] shanemcd commented on #1424
Should be fixed after https://github.com/ansible/awx/pull/1446.

[2018-03-05 22:12] badstreff commented on #1447
@matburt It's my understanding that for the inventory script it should't matter right? I should be able to use an inventory script written in python3 right?

[2018-03-05 22:32] Cryptophobia commented on #1038
I am getting the same errors on AWS deploying to K8s. Using version `dockerhub_version=1.0.3`

[2018-03-05 22:40] Cryptophobia commented on #1038
What container actually works? I tried 1.0.2 and same thing....

[2018-03-06 04:17] #1424 closed, assigned to matburt

[2018-03-06 04:17] matburt commented on #1447
possibly, we just don't support it quite yet so you are on your own

[2018-03-06 05:30] jean-christophe-manciot commented on #1433
@wenottingham
There is no link with the other issue you mentioned.

[2018-03-06 07:04] ghost commented on #885
Same here. I'm not a fan of Teams, but I imagine this is broken as an advertised feature in Tower.

[2018-03-06 09:33] icsm2017 commented on #1158
I try with version 1.0.4.48 and I have exactly the same problem. I try also with more memory and CPU (24GB/4CPU), always stucks at 4 jobs simultaneous and the others jobs still pending.

Environment :
AWX version: 1.0.4.48
AWX install method: docker on linux
Ansible version: 2.4.3
Operating System: Red Hat 7.4
Web Browser: chrome

[2018-03-06 13:07] jamestutton commented on #1046
I have had a similar issues when trying to specify and have the installer create a database via the [database] inventory section. Is this how you have done it perhaps?

If not sorry to hijack and will open a separate issue.

From a read of the code it appears that there may not even be support for this feature as doesn't appear to be a code branch to handle it anywhere i can spot.

I would expect

[2018-03-06 13:18] AlanCoding commented on #497
@wenottingham I'm not sure what to do with this.

If we drop the workflow variables when spawning jobs from it (the academically most consistent), that would destroy a ton of existing use patterns. The real problem is that we have no mechanism to signal to the user that they can't provide arbitrary variables to JTs in a workflow.

This is a permissions problem. We require execute_role to add a JT

[2018-03-06 14:22] shanemcd commented on #1046
@jamestutton The AWX installer will not "create" a database for you. You either use the containerized Postgres option (the default), or provide the hostname and credentials to an external database.

[2018-03-06 15:02] grahamneville commented on #1405
#1440 is a duplicate, I believe.

Looks like some has put together a fix for this:
https://github.com/tburko/awx/commit/8a5cd3ec7dac58423684a00f89e1ed8e8d68b73f

Could this be reviewed and merged?

[2018-03-06 15:04] jamestutton commented on #1046
Apologies as slightly hijacking the original issue but may still be related.  So for clarification here as much as anywhere else.  Is there a major difference between AWX and tower here then with regard to clustering.  As for want of any better information I was under the impression that the flow document process from here should work:

[http://docs.ansible.com/ansible-tower/latest/html/administra

[2018-03-06 16:05] wenottingham commented on #497
What did we allow (or not) in prior releases?

[2018-03-06 16:15] jakemcdermott commented on #1405
resolved by https://github.com/ansible/awx/pull/1451#pullrequestreview-101610117

[2018-03-06 16:15] #1405 closed, assigned to nobody

[2018-03-06 16:15] jakemcdermott commented on #1440
resolved by https://github.com/ansible/awx/pull/1451#pullrequestreview-101610117

[2018-03-06 16:19] #1440 closed, assigned to nobody

[2018-03-06 16:32] aperigault opened #1452 "uWSGI listen on 127.0.0.1 but nginx sent to localhost"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
I have a lot of errors like this on my awx_web container:
[code]

When I replace localhost in **upstream uwsgi** and **upstream daphne** by 127.0.0.1 all seems to be ok. Am I the only one ?

##### ENVIRONMENT
* AWX version: 1.0.4.0
* AWX install method: docker on linux
* Operating System: Debian

[2018-03-06 16:51] AlanCoding commented on #497
Prior behavior was to ignore the job template `ask_variables_on_launch` rule, and apply the workflow variables. I think we started trying to require JT admin permission for adding it to workflows, but that got pushback and it was changed to exec.

I'm fairly sure this is what will be kept moving forward.

This does, for the record, invalidate the launch config (and that creates a little bit more f

[2018-03-06 17:01] falencastro commented on #885
@Infectsoldier It's not a http header, it's the payload, which you can't alter. A WebHook Notification template type won't work for Mattermost/MS Teams/RocketChat or any other Slack compatible communication platform.

Try selecting Mattermost as the notification type and point it to your Teams webhook url; This should do the trick.

[2018-03-06 17:07] wenottingham commented on #497
Given the context of a workflow, I think I'm OK if a individual workflow job isn't relaunchable outside of the context of a workflow. Although I assume this is a change in behavior as well.

[2018-03-06 17:12] jamestutton commented on #332
Don't we already have this via playbooks themselves:  For example I have something like this playbook to ensure the container running the job has all the bits it needs:

[code]

If your in no rush you can run this at the start of the job or my preference I have it as a separate template that runs on demand as should only need to be run if the container is new or recreated.

[2018-03-06 17:27] shanemcd commented on #1046
You're looking at the Tower docs. Much of the documentation for Tower still applies to AWX, but you should not expect it to be exactly the same.

The AWX installer will not install and configure a postgres server for you outside of the container-based option. If you want to run an external db you will need to provision it yourself.

[2018-03-06 17:57] ryanpetrello commented on #332
The prescribed solution to this is a new feature in awx that recently landed:

https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

related: https://github.com/ansible/awx/issues/34
related: https://github.com/ansible/awx/pull/940

[2018-03-06 17:57] #332 closed, assigned to matburt

[2018-03-06 17:57] shanemcd commented on #1046
Closing this due to lack of response. If this is still an issue report back with more info and we will reopen.

[2018-03-06 17:57] #1046 closed, assigned to nobody

[2018-03-06 18:02] matburt commented on #1435
I can't reproduce this. Is it a problem with your volume?

[2018-03-06 18:04] aperigault commented on #217
Hello,
Can you add the capability to add users as organization administrator ?
Bonus: As AWX administrator (like @defionscode proposal)

[2018-03-06 18:35] jaredevantabor commented on #1404
@AlanCoding could schedules get included in the API-backed item copying?

[2018-03-06 19:09] AlanCoding commented on #1404
You would have to, in order to copy survey passwords.

But maybe a better policy is to not allow copying of the schedule if it has survey passwords, considering the security implications.

[2018-03-06 20:29] shanemcd commented on #977
We need to install the `postgresql96` package from the `pgdg96` repo. `postgresql` is pulled in from the centos repos.

[2018-03-06 21:36] Cryptophobia commented on #862
I am having the same error appear on a K8s deployment using the latest image.

[2018-03-07 01:32] ricalenil commented on #885
@falencastro this works!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-07 02:15] ricalenil opened #1461 "Grant view-only permissions for job runs to users and/or teams."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Would like the feature to grant view-only to specific job template or view job-runs.

##### ENVIRONMENT
* AWX version: 1.0.4.50
* AWX install method: docker on linux
* Ansible version:  2.4.3
* Operating System: Ubuntu 16.04
* Web Browser: Firefox 58.0.2

##### STEPS TO REPRODUCE
When assigning permissions to user or teams

[2018-03-07 04:39] matburt commented on #1452
I don't think you're the only one... I've noticed this too... I think it has to do with the lack of `localhost` defined anywhere or resolvable within a container in some situations.

[2018-03-07 04:39] matburt commented on #1452
I'm going to cc @shanemcd to see what he thinks also.

[2018-03-07 06:31] sunithanair09 opened #1462 "Unable to setup AWX fails || postgress docker container i'm unable to communicate"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
Unable to setup AWX fails || postgress docker container i'm unable to communicate

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method:  docker on linux
* Ansible version:  2.4.2.0
* Operating System: Redhat 7.4
* Web Browser: Chrome

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS
[code]

[code]
##### ACTU

[2018-03-07 09:49] Gaby033 commented on #1435
I guess that by "volume" you're refering to what I wrote inside this file : /root/awx/installer/local_docker/tasks/standalone.yml ?

I reverted the changes of that file and tried again the `docker-compose pull`, same error.
I don't know if it can be of any help, but when I run again the `ansible-playbook -i inventory install.yml` I got the following error :
[code]

Don't hesitate to tell me which

[2018-03-07 10:10] jffz opened #1463 "Add custom Root CA during installation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
Add the ability to add our custom Root CA during installation

##### ENVIRONMENT
* AWX version: any
* AWX install method: any
* Ansible version:  any
* Operating System: any
* Web Browser: any

##### STEPS TO REPRODUCE
We actually need to build the image locally with some rework of the playbooks installs in order to