[2018-10-26 02:09] #2345 closed, assigned to nobody

[2018-10-26 02:12] matburt commented on #2335
This is a fairly old version of AWX, we've since made some major changes to our job scheduler. Please retry with the latest version.

[2018-10-26 02:12] #2335 closed, assigned to nobody

[2018-10-26 02:13] matburt commented on #2308
I'm not able to reproduce this how are you laying out your inventory file?

[2018-10-26 02:14] matburt commented on #2303
Fix needs to be applied upstream to Ansible.

[2018-10-26 02:14] #2303 closed, assigned to nobody

[2018-10-26 02:22] matburt commented on #2278
This is normal, if you look at the other container it is running the install and applying migrations. The web container will proceed once it is done.

[2018-10-26 02:22] #2278 closed, assigned to nobody

[2018-10-26 02:28] matburt commented on #2204
This should not be using the sqlite database backend are  you deploying this using our installer? can you try with the latest version?

[2018-10-26 02:28] #2204 closed, assigned to nobody

[2018-10-26 02:29] matburt commented on #2203
As per our announcements at Ansiblefest Austin we'll be doing this going forward: https://groups.google.com/forum/#!topic/awx-project/FKEZwrO-96k

[2018-10-26 02:29] #2203 closed, assigned to nobody

[2018-10-26 02:31] matburt commented on #2201
I'm having trouble reproducing this... do you have any more details on how you've set up your k8s cluster?

[2018-10-26 02:31] #2201 closed, assigned to nobody

[2018-10-26 02:35] matburt commented on #2195
This has to do with our locking to prevent simultaneous access to the project while the system is running project updates. In the near future AWX will transition to using ansible-runner which has this as a feature: https://github.com/ansible/ansible-runner/issues/112

This would allow us to bypass creating lock files under projects since we wouldn't need to share that execution directory

[2018-10-26 02:35] #2195 closed, assigned to nobody

[2018-10-26 02:37] #2118 closed, assigned to nobody

[2018-10-26 02:38] #2114 closed, assigned to nobody

[2018-10-26 02:39] matburt commented on #2108
dupe of https://github.com/ansible/awx/issues/2279 which contains workaround

[2018-10-26 02:39] #2108 closed, assigned to nobody

[2018-10-26 02:42] matburt commented on #2106
This is already done per the previous PR

[2018-10-26 02:42] #2106 closed, assigned to nobody

[2018-10-26 02:43] matburt commented on #2104
We have no plans to do this, you'll need to manage your own images if you want this.

[2018-10-26 02:43] #2104 closed, assigned to nobody

[2018-10-26 02:44] #2130 closed, assigned to nobody

[2018-10-26 02:45] matburt commented on #2097
Try the latest version of AWX and let us know, a lot of work has happened over the last few months.

[2018-10-26 02:45] #2097 closed, assigned to nobody

[2018-10-26 03:33] geauxvirtual commented on #2462
Here is the dockerfile I'm using to build a custom task container where {{ awx_base_task_image }} and {{ awx_base_task_version }} point to task container built from the AWX image_build role with Ansible 2.6.4 instead of Ansible 2.7. This is the Dockerfile used to add openshift to the Ansible venv.

[code]

Here is a playbook I'm running:

[code]

Here is the AWX output:

[code]

Detailed stdout ou

[2018-10-26 06:31] AdrianDutu commented on #2405
How is it an SSH problem if a fresh install always works?

[2018-10-26 06:32] ryan012880 commented on #2448
Noted 👍, thought this was normal since tower-cli tool does not sync passwords.

[2018-10-26 11:00] dmaple-gci commented on #2507
I have the same issue.  However, I know the issue is due to my load balancer replacing the source IP.  Is there a way to use the X-Forwarded-For header or pass another variable in the callback with the hostname or IP?

[2018-10-26 12:25] clcollins commented on #2203
@matburt: Pardon my confusion, but that appears to be a link to an announcement for an Ansiblefest group?

EDIT: Nevermind - I see the point in the agenda to discuss this issue.

[2018-10-26 13:00] AlanCoding commented on #2398
I'm on 2.0.1-189 and cannot reproduce this, I test a Slack notification and it sends a notification to Slack.

[2018-10-26 13:18] AlanCoding opened #2535 "Notification template junk activity stream entry on creation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
creating NT makes 2 entries where a user would probably prefer 1

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create notification template with some priv

[2018-10-26 13:25] jwinderWCB commented on #2507
My issue is a lack of reverse DNS lookups, so AWX is not able to locate the host in the inventory. There are variables in the inventory with the IP address, but these are not variables searched for a match.

I believe I have three options:
1) Get Satellite 6 managing DNS, https://access.redhat.com/articles/1527913 It is going to take our Windows admins some time to create all of the reverse lookup

[2018-10-26 13:25] jwinderWCB commented on #2507
@dmaple-gci See the documentation here: https://docs.ansible.com/ansible-tower/3.2.6/html/administration/proxy-support.html

[2018-10-26 13:25] hd2212 commented on #2515
Yes

[2018-10-26 13:31] hd2212 commented on #2515
Also my tower is an elb which contains two tower servers as one cluster.
So is there a chance that might be causing the problem? . But it shouldn't as i'm using the elb to hit the cluster.

[2018-10-26 13:34] dmaple-gci commented on #2507
Thanks @jwinderWCB  I had part of that, but not all of it.  Tested and working now, with proper PTR record.

I would still like to see another option besides PTR records to match a host to inventory.  There are situations where we don't have access to update the reverse zone for a subnet.

[2018-10-26 14:02] AlanCoding commented on #2259
I cannot reproduce this, but perhaps there is some confusion about functionality.

I created a new organization, and a new user as admin of that organization. As the system admin, I can see 35 users in my particular system, and as this new user I can see 17 users.

There is a provision in our permissions logic to allow all users to see any users who are system administrators. In my case, I had 17

[2018-10-26 14:13] jwinderWCB commented on #2507
I agree with the requirement of reverse DNS lookups. It would be nice if in the inventory you could specify a list of variables/facts to match against.

I ran into an issue with a legacy Satellite 5.x/Spacewalk system that none of the hosts were even in DNS. I ended up having the modify the spacewalk.py inventory script to set the ansible_host to the host's IP in order to be able to run anything a

[2018-10-26 14:31] wenottingham commented on #2515
If you're using Tower, please contact your RH support rep.

[2018-10-26 15:02] dtardoin opened #2537 "CSRF Token Issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
- UI

##### SUMMARY
For some users (it seems like only Chrome on OSX) that they're required to clear their cache every time
they log in to the UI, otherwise they get complaints of CSRF tokens not being valid on post requests.

##### ENVIRONMENT
* AWX version: 2.0.0
* AWX install method: Docker
* Ansible version:  2.3.2
* Server Operating

[2018-10-26 15:41] wenottingham commented on #2537
What specific version of chrome?

[2018-10-26 17:00] unlikelyzero commented on #2531
@kialam @AlanCoding I think we landed this as a RFE. Did we need any further action on this in 3.4?

[2018-10-26 17:31] Smalltown15 commented on #2537
The issue is happening for me and another user on Chrome Version 70.0.3538.77. We are both running OSX Version 10.14.

I tested this out in Safari and could not reproduce the issue.

[2018-10-26 18:30] kialam commented on #2531
@unlikelyzero Not that I see. @AlanCoding is right; I requested that we only show slice jobs in the recent jobs list. This does become problematic if you have large slices as you lose the ability to gauge the health of a job template "at a glance." We should think about ways we can improve this for 3.4.x.

[2018-10-26 19:38] matburt opened #2539 "Add support for v2_runner_on_start callback"
See: https://github.com/ansible/ansible/pull/47684

Targeting Ansible 2.8 we'll need to at least add the shell of support for it.

[2018-10-26 20:58] boris-42 commented on #1861
@ryanpetrello thanks for fixing this, I checked it finally yesterday, everything works.

[2018-10-26 21:44] druidushka opened #2540 "unable to create instance in openstack with scheduler_hints (out of date openstack python libraries)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### SUMMARY
**os_server create task will fail if the scheduler_hints parameter is defined**

I am trying to create an instance in openstack(Queens) and it used to work fine until I added scheduler_hints parameter to define anti_affinity group.
After that, I got the error below:
    "msg": "BadRequestException: Unknown error"
##### ENVIRONMENT

[2018-10-26 22:02] stobias123 opened #2541 "Resource Locks"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
It would be nice if job templates and workflow job templates could specify a "resource lock"

Ex.
I have 10 jobs that can do operations on one F5 pool.
I only want one of those to be able to run at a time.
I can create a "resource lock" and assign it to each job.
When any job runs, it grabs the lock and the other jo

[2018-10-27 15:42] itdependsnetworks commented on #2428
@matburt how do I reopen?

It was found using same steps in <  AWX 2.0.1  >, though I guess I said `submit`, where I should have said `save`. Should be reproducible on your side with little effort, if not, please let me know what you are seeing.

It's a bit blury on the gif, but I think you can still make out that it went from true to false.
https://gph.is/2AuTI5a

[2018-10-27 22:08] ybizeul commented on #2500
Thanks after upgrading AWX it works indeed

[2018-10-27 22:08] #2500 closed, assigned to nobody

[2018-10-28 02:07] matburt commented on #2507
Looks like we're good here.

[2018-10-28 02:07] #2507 closed, assigned to nobody

[2018-10-28 02:09] matburt commented on #2405
You tell me, this is an SSH client/server problem:

```Failed to connect to the host via ssh: mm_send_fd: sendmsg(2): Broken pipe\r\nmux_client_request_session: send fds failed```

[2018-10-28 18:06] ghost commented on #2380
What do you mean by move that before API call? Thete is manual
interventation here, because of this manaual creation of project on cli is
causing automated process to break.

On Mon, Oct 15, 2018 at 1:34 PM Bill Nottingham <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2018-10-29 10:46] mramirezacr commented on #2365
Hi Mat, I am 100% new to Ansible and AWX, so it's entirely possible my file isn't the correct syntax.  I tried copying a playbook template I found online.  The git link is https://github.com/mramirez-t/awx.  The createfile.yml playbook shows up no problem.  My #1 purpose to use AWX is to run yum updates on our Linux servers, so it's the exclude1.yml playbook that I really want to get working.  I c

[2018-10-29 14:06] hd2212 commented on #2515
Hey I got it working on Tower as well, but do you have any idea how the filtering of hosts is done on tower?. Because I just need a set of hosts and not the whole pool of hosts.

[2018-10-29 14:13] wenottingham commented on #2541
We don't introspect the playbooks in this way to know 'what' resource would need locked, so this is unlikely to be practical beyond possibly just an inventory or host.

[2018-10-29 14:14] wenottingham commented on #2540
This reads as an issue with the Ansible module itself, not AWX. Please file this at https://github.com/ansible/ansible/issues/.  Thanks.

[2018-10-30 06:05] druidushka commented on #2540
@wenottingham
Looks like the problem isn't with ansible itself but with openstacksdk version(0.12.0) in the awx_task container.
The same task works fine with Ansible 2.7.0 and openstacksdk version 0.17.0 on my mac.

[2018-10-30 12:24] AlanCoding commented on #2532
I had to walk through the steps locally, but I found that the UI is actually making the POST to the endpoint:

`/api/v2/organizations/510/users/`

When a POST is made to such a sublist, the API automatically fills in the parent field.

I think the confusion here was that this fact was very non-obvious looking at the network traffic, suggesting the action was to `/api/v2/users/` and not the org-use

[2018-10-30 12:24] #2532 closed, assigned to nobody

[2018-10-30 13:25] matburt commented on #2365
`exclude1.yml` is not a valid playbook... it's just a single task. It's missing the `hosts` line and some other things.

I'd *strongly* recommend you go through the Ansible introduction before going much further https://docs.ansible.com/ansible/latest/user_guide/intro_getting_started.html

and then move on to the other chapters in the documentation. You really need to have a good handle on Ansible

[2018-10-30 13:25] #2365 closed, assigned to nobody

[2018-10-30 13:42] garethbroadhurst opened #2545 "when using AWS as a inventory source , only EC2 instances with public IP addresses are imported"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
when using AWS as a inventory source , only EC2 instances with public IP addresses are imported

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.7.1
* Operating System: Centos7
* Web Browser: Chrome

[2018-10-30 13:45] jeannot49 opened #2546 "Problem about adding hosts in AWX"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: docker on linux
* Ansible version:  2.7.1
* Operating System: CentOS 7
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

Go to AWX > inventories > hosts > "+" (add host) >
Enter the host which has to be added

Add these variables :
            ansibl

[2018-10-30 14:09] wenottingham commented on #2546
What is the actual server error?

[2018-10-30 14:18] jeannot49 commented on #2546
Failed to load resource: the server responded with a status of 500 (Internal Server Error)

I tried to search into the API by enterring <ip_server>/api but I don't have enough experience in the API's.

[2018-10-30 15:41] jakemcdermott commented on #2537
I'm unable to reproduce this using chrome 70 on Mac OS 10.13.16 - @Smalltown15 , are you using the same database as @dtardoin ?

[2018-10-30 15:46] dtardoin commented on #2537
@jakemcdermott yeah. @Smalltown15 is using my installation.

For more context: this happens for me (in Chrome on Linux) whenever I rebuild awx, but if I clear my cache the issue goes away.

I couldn't find a management command to purge tokens, not to mention find the table where they're stored to manually delete them. Is there something I'm missing?

[2018-10-30 16:02] jakemcdermott commented on #2537
Tower is a downstream project of AWX. We aren't setup to support DB migrations from downstream project installations for AWX installations. In some cases it might work, but there are absolutely no guarantees in terms of data integrity.

To use AWX, it is highly encouraged that you do so by starting with an AWX database. If you continue to see this issue after doing this, please re-open this issue.

[2018-10-30 16:02] #2537 closed, assigned to nobody

[2018-10-30 16:09] jakemcdermott commented on #2337
Hi forprem,

Thanks for filing this issue. This looks like a configuration or infrastructure issue - if you're looking for support on such things, your best options would be to reach out to our community mailing list or stop by our irc channel (`#ansible-awx` on freenode).

[2018-10-30 16:09] #2337 closed, assigned to nobody

[2018-10-30 16:15] jakemcdermott commented on #2218
Hello @balonik,

Thanks for creating this issue. Based on your most recent comment, this appears to be stemming from an ansible core issue and not AWX and so I am closing.

[2018-10-30 16:15] #2218 closed, assigned to nobody

[2018-10-30 16:18] jakemcdermott commented on #2138
Hello @willthames

Thanks for creating this issue. This is indeed expected behavior, given the "Update.." settings you've described.

Also: If you need to guarantee that an inventory sync occurs prior to a job run, Another way to do this is to create a workflow with an inventory sync step preceding the job template you are using.

[2018-10-30 16:18] #2138 closed, assigned to nobody

[2018-10-30 16:18] Perdjesk commented on #2110
After reading https://github.com/ansible/awx/issues/223, this issue and the explication on serverfault (https://serverfault.com/questions/878320/how-to-use-existing-vault-files-in-ansible-tower), I too feel that this issue should be reopen as awx still doesn't support importing inventories that are using whole vault encrypted files.

Encrypting using the whole file was and still is a best practice

[2018-10-30 16:21] jakemcdermott commented on #1972
@piroux

Are you still seeing this? I am not able to reproduce this when using the following steps prior to running local docker install:

[code]

Please re-open if you are still seeing this.

[2018-10-30 16:21] #1972 closed, assigned to nobody

[2018-10-30 16:25] jakemcdermott commented on #2099
Hello @Buddwa

You'll need to make sure the project directory is mounted to the container as a volume for it to be accessible. Please reach out to our mailing list or drop by our irc channel (`#ansible-awx` on freenode) if you're still having trouble.

[2018-10-30 16:25] #2099 closed, assigned to nobody

[2018-10-30 16:34] jakemcdermott commented on #2149
@sumkincpp I believe this is fixed in the latest AWX version - closing.

[2018-10-30 16:34] #2149 closed, assigned to nobody

[2018-10-30 16:37] jakemcdermott commented on #1961
This should be resolved in the latest version of awx - closing

[2018-10-30 16:37] #1961 closed, assigned to nobody

[2018-10-30 16:38] jakemcdermott commented on #1969
This should be resolved in the latest version of awx - closing. If you still see this after upgrading, please re-open. Thank you!

[2018-10-30 16:40] jakemcdermott commented on #1982
Hello @willthames

To configure SAML, you should definitely use the rest API or the UI instead of modifying the settings file. If you continue to see this issue when doing so, please create an issue for it as it would indicate an API or UI bug. Thank you!

[2018-10-30 16:40] #1982 closed, assigned to nobody

[2018-10-30 16:40] matburt commented on #2546
This will either be in the web container console or in log files in /var/log in the container itself.

[2018-10-30 16:42] jakemcdermott commented on #1749
Hello @Baefisch

Thanks for creating this issue. This looks like a configuration or infrastructure issue - your best bet would be to reach out to our mailing list or stop by our irc channel (`#ansible-awx` on freenode) for support on making sure you've configured your AWX properly.

[2018-10-30 16:42] #1749 closed, assigned to nobody

[2018-10-30 16:45] jakemcdermott commented on #1946
Hello @idgdmg

When using AWX, you are highly encouraged to not modify the container image files or installer scripts (beyond specifying variables, of course) when using AWX.

If you see similar problems using an unmodified container image, please create an issue for that. Thank you!

[2018-10-30 16:45] #1946 closed, assigned to nobody

[2018-10-30 16:46] #1969 closed, assigned to nobody

[2018-10-30 16:49] jakemcdermott commented on #2361
Hello,

Thanks for creating this issue. Upgrades between 1.* versions are not supported. Please see our [documentation on data migrations and upgrades](https://github.com/ansible/awx/blob/devel/DATA_MIGRATION.md) for more information. Thanks!

[2018-10-30 16:49] #2361 closed, assigned to nobody

[2018-10-30 17:11] srflaxu40 opened #2549 "AWX Disable HTTP Auth Login Form?"
##### ISSUE TYPE
 - Feature Idea

Can we, or is there, disable login forms to force alternate logins, like GitHub, so that we can have a public internet facing awx?

##### COMPONENT NAME

 - UI

##### SUMMARY

Allow removal or disabling of AWX login form.  Example just GitHub auth button and no username / password field - to disable brute force.

##### ADDITIONAL INFORMATION

[2018-10-30 17:11] AlanCoding commented on #2110
That wouldn't be great behavior IMO. In that case, you really don't know what variables you're missing, and we would at least need to warn the user, and we don't have any logging mechanism for doing this, so it has to just fail.

Regarding:

Yes, we are aware that this is a shortcoming, and is an open potential feature. The enhancement would be, speaking specifically, _decryption of whole-file vau

[2018-10-30 17:34] wenottingham commented on #2549
... why not just remove local users?

[2018-10-30 17:43] unlikelyzero opened #2551 "A SJT with Prompts is not routed to SJT-Workflow view on launch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
A SJT with Prompts is not routed to SJT-Workflow view on launch.

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE

1. Create a SJT with any prompted value (i.e. Job Type)
2. Launch JT from any screen (i.e. Templates View
3. Accept or modify default prompts
4. Note that the session does not route to the Workf

[2018-10-30 17:44] unlikelyzero commented on #2551
Related to https://github.com/matburt/awx/pull/7

[2018-10-30 17:48] kialam commented on #2465
~~This should be "fixed" in #2352.~~
While it is true that #2352 is supposed to link up the possibility of Workflows within Workflows, and that these [changes](https://github.com/ansible/awx/pull/2352/files#diff-2f3a9c22ab39ef8f4beeb12e004431c3R1088) should correctly link the `DETAILS` anchor to a workflow details page for a sliced job, I dug a little further with @marshmalien and discovered that

[2018-10-30 18:21] jakemcdermott commented on #2549
@srflaxu40

Nope - there is currently no way to disable the login page, and there aren't any plans to provide a way to remove it at this time. You _can_ certainly use github and other external authentication providers if you enable and configure them from the settings page.

If you intend to use github authentication _and_ are concerned with brute forcing, @wenottingham 's suggestion of clearing a

[2018-10-30 18:21] #2549 closed, assigned to nobody

[2018-10-30 18:27] jakemcdermott commented on #2046
Hello,

Thanks for creating this issue. This appears to be a duplicate of https://github.com/ansible/awx/issues/1632 and so I am closing. We can track the remaining work to be done for this on the linked issue.

[2018-10-30 18:27] #2046 closed, assigned to nobody

[2018-10-30 18:41] unlikelyzero opened #2552 "Real-time Job data isn't available on the Organization/JobTemplates view"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Real-time Job events data isn't available on the Organization/JobTemplates view

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE

1. Create a JT which is associated with a Organization
2. Navigate to the Organization Job Template view
3. Launch the JT from step 1 but stay on view from step 2.
Note that the r

[2018-10-30 18:42] AlanCoding commented on #2358
fix is in

[2018-10-30 18:42] #2358 closed, assigned to nobody

[2018-10-30 18:45] AlanCoding commented on #1721
resolved in

8ae979908c6d12e82b257b4787fa0a4c5f12e82b

[2018-10-30 18:45] #1721 closed, assigned to nobody

[2018-10-30 19:02] unlikelyzero opened #2553 "Instance Groups Jobs view doesn't contain Workflow jobs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Instance Groups Jobs view doesn't display Workflow Jobs

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE

1. Launch a WFJT against a particular instance group
2. Navigate to the Instance Groups / Jobs view
3. Note that Job Templates and SCM Updates are displayed but WFJTs are not

##### EXPECTED RESULTS

Wor

[2018-10-30 19:06] matburt commented on #2553
Workflows are not associated with Instance Groups, I believe this to be a non-issue. I don't see us ever actually doing that. The IG view is more interested in what individual jobs are running there.

[2018-10-30 19:17] unlikelyzero opened #2554 "If a SJT is converted to a regular job type, it cannot be relaunched from the Workflow Job view without error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
If a SLT is converted to a regular job type, it cannot be relaunched from the Workflow Job view without error

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE

1. Create a SJT with multiple slices
2. Run Job
3. Convert SJT to single JT
4. Attempt to re-launch SJT from Workflow view

##### EXPECTED RESULTS

1

[2018-10-30 19:36] rromanchuk commented on #41
Related for docker users https://github.com/ansible/awx/issues/34  this callback requires pip libraries, it's a bit confusing to figure out how to get them enabled

[2018-10-30 21:04] rooftopcellist commented on #2277
@kruge002 some users may want the expired oauth2 tokens to persist after expiration for audit purposes.

To selectively see just the active oauth2 tokens, you can filter that endpoint like this:

[code]
I am looking into changing the filters so that you could filter with something like the follow, and not have to manually enter the current datetime.

[code]

I agree that there should be a better w

[2018-10-30 21:13] jakemcdermott commented on #2094
Hello, @bsoiled1

Thanks for creating this issue. Make sure `foreman.ini` is mounted as a volume so that it is reachable from within the container. Please re-open if you continue to see this issue after doing so. Thanks!

[2018-10-30 21:13] #2094 closed, assigned to nobody

[2018-10-31 04:07] ghost commented on #1284
Any update on this feature?

[2018-10-31 08:09] jeannot49 commented on #2546
I didn't find any interesting log, neither in the awx_task nor in the awx_web container.

[2018-10-31 09:19] noname1314 opened #2556 "New outh2 token which generating from /api/o/token cannot apply new expiry seconds"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
New outh2 token which generating from /api/o/token cannot apply new expiry seconds setting

##### ENVIRONMENT
* AWX version: 3.3.1 (latest version which released on 25/Oct/2018)
* AWX install method: Linux (Centos 7)
* Ansible version:  2.7.1
* Operating System: Windows 10
* Web Browser: Chrome

* Authentication setting (F

[2018-10-31 11:33] sumkincpp commented on #20
Also would be great to have :
- Inventory lists

All cases might be covered with custom type of multichoice selector with values from fact or variable, where
 - "{{ awx_users }}" for awx users can be used
 - "{{ awx_inventories }}" for inventories can be used
 - "{{ awx_hosts }}" or something with jinja filter for hosts from current inventories

Though, this doesn't cover REST API multichoices.

[2018-10-31 14:03] vielmetti commented on #2502
This is one of the several tasks being addressed in #2501

[2018-10-31 15:44] wenottingham commented on #2380
The only project creation that requires a pre-existing directory is a manual project.

Since there is no mechanism for populating a manual project, you're obviously in your abstraction populating it some other way.

The suggestion is to then move that population *first*, and then send the API request to AWX to create the project.

[2018-10-31 16:59] rooftopcellist commented on #2556
@noname1314 good find.  I tested this out and the `ACCESS_TOKEN_EXPIRE_SECONDS` setting change is picked up when creating a token at `api/v2/tokens`, but not when doing a curl/postman to `api/o/tokens`.

This is because that setting is not automatically updated in django-oauth-toolkit.  One work-workaround here is adding the following setting to `settings.py`, then restarting awx services.

[code]

[2018-10-31 18:38] jakemcdermott commented on #2060
This should be resolved with @chrismeyersfsu 's recent code changes. Please re-open if you continue to see this issue after updating to the latest version of AWX. Thanks!

[2018-10-31 18:38] #2060 closed, assigned to nobody

[2018-10-31 18:43] jakemcdermott commented on #2545
Hello @garethbroadhurst

Thanks for creating this issue. What you've described is expected default behavior for the dynamic aws inventory - only instances with public ips are imported.

If you need to modify this behavior, you can do so by setting `ec2_opts.setdefault('vpc_destination_variable', 'ip_address')` in source vars.

[2018-10-31 18:43] #2545 closed, assigned to nobody

[2018-10-31 19:08] wenottingham commented on #2152
Alternatively, the user could pick the domain to use at login.

[2018-10-31 19:19] wenottingham opened #2561 "Potentially reap obsolete schedules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Schedules can have an end-by date, or an "end after 20 runs" configuration.

It may be useful to have a process (management job?) that automatically deletes all "expired" schedules.

##### ADDITIONAL INFORMATION

[2018-10-31 19:21] arbhoj commented on #1825
We successfully upgraded from 1.0.5 to 1.0.6 using the following steps (most of them are around oauth2 changes):
Prep:
1.Take DB backup
2.Get 1.0.6 awx_web and awx_task containers using docker pull
3.Note down any application objects configured in AWX as we will most likely have to recreate them.

### Step 1:
Connect to Openshift Console (**Note:** This step would vary depending on what underlying

[2018-10-31 19:26] wenottingham opened #2562 "Expand settings entry forms to construct json/python rather than requiring it"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

There are a number of places in our settings configuration where the user is required to enter properly formatted JSON, python data structures (lists, dictionaries), or combinations thereof.

Ideally, we would have a cleaner settings paradigm that allows for easier user entry and constructs properly-formatted data

[2018-10-31 19:45] dsesami opened #2563 "Organization-level assignment in the permissions modal for the teams tab doesn't work when assigning admin permissions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Organization-level permissions on the teams page doesn't work. Try to add an organization-wide permission, nothing happens. A POST to `api/v2/teams/1/roles` was observed with the payload:
```{id: 62}```
returning a status code of 400. Nothing else happens.
##### ENVIRONMENT
<  AWX 2.0.1-225-g895a567ed  >
* AWX install method

[2018-11-01 01:48] noname1314 commented on #2556
@rooftopcellist Work-around workable. If possible, please align the authorization token setting into GUI setting instead of setting.py / API setting.

[2018-11-01 03:09] congmingdexiong opened #2564 "Regarding Oauth for login to fetch access token"
Hi,
We need to use unirest(node js) to touch ansible by Oauth2 auth( it looks this ansible version doesn't support basic auth to get token), but kept me a error '{ error: 'unsupported_grant_type' }' which troubles me for 2 days, here is the code:
var Request = unirest.post('https://xxxxxxx/api/o/token/');
   Request.headers({
           'Accept': 'application/json',
           'Content-Type': 'app

[2018-11-01 04:29] ghost commented on #2380
That is what we are doing right now. But we have integrated our north bound
with At your service kind of tool chain where people are requesting
projects creation and in backend somebody have to gonin and manually create
projects. If tower project creation can also create a folder in
/var/lib/awx/projects/ automatically it would be helpful

On Wed, Oct 31, 2018 at 10:52 AM Bill Nottingham <notifica

[2018-11-01 13:23] AlanCoding commented on #1516
Rolling bounty for issue:

https://www.bountysource.com/issues/30802552-select_related-and-prefetch_related-for-inherited-models

[2018-11-01 13:27] AlanCoding commented on #718
I think this was resolved in

97ab6449b9e9c2a1b778eff3cd21f019402cafd4

[2018-11-01 13:27] #718 closed, assigned to nobody

[2018-11-01 13:33] AlanCoding commented on #466
Confirmed with @mkrizek that this is still on Ansible core's agenda, and could possibly land in 2.8.

Thus, we are keeping this issue open.

[2018-11-01 13:51] AlanCoding commented on #2112
The 400 response should give details of what happened, but it could be that https://github.com/ansible/awx/issues/2446 is blocking the proper reporting of those errors.

[2018-11-01 14:39] unlikelyzero opened #2567 "On Workflow Job Results view, the Workflow Key renders outside of the panel"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
On Workflow Results view, the Workflow Key renders outside of the panel

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE

1. Load the Workflow Job Results page
Note that the Workflow key renders out of the panel

##### ADDITIONAL INFORMATION

<img width="309" alt="screen shot 2018-10-31 at 4 07 58 pm" src="h

[2018-11-01 14:43] parinapatel opened #2568 "Allow to add descreption or Custom Job name while triggering Job template"
##### ISSUE TYPE
 - enhancement

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
Custom Job name when triggering jobs from Job Template, or Provide option to add description for that Job run. Currently we have single template which does different deployment provided variable.
Thus having same name for template makes finding for particular run really hard.

[2018-11-01 15:22] wenottingham commented on #2568
this is #739, closing as duplicate.

[2018-11-01 15:22] #2568 closed, assigned to nobody

[2018-11-01 15:24] dsesami commented on #2563
I noticed this also occurs on the Organization Tab -> Permissions modal -> Teams tab in the permissions modal, but it ONLY does it when you try to assign Admin access.

[2018-11-01 15:41] parinapatel commented on #739
+1

[2018-11-01 15:55] AlanCoding opened #2570 "Unicode query filters (including some search filters) not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Can't search with unicode

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create an inventory

Name it

Search activity stream and inventory list for this i

[2018-11-01 16:41] #2567 closed, assigned to unlikelyzero

[2018-11-01 17:08] AlanCoding commented on #2465
Great analysis, thanks!

I'm not liking this field `summary_fields.unified_job_template.unified_job_type ` one little bit. I wish we could get rid of it, the concept becomes degenerate with the introduction of this feature.

https://github.com/ansible/awx/blob/a1fe60da78445c7970eaa823e88ce21860053785/awx/api/serializers.py#L398

proposal:

 - add field `summary_fields.job.type`
 - replace the UI's

[2018-11-01 20:13] gamuniz opened #2573 "RFE: Add host tracking feature in Job details."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

In some cases long run jobs may hang on specific hosts and it would be ideal to more easily identify which hosts are currently being acted upon.

##### ADDITIONAL INFORMATION
Currently the only way to debug problem hosts is to go to the command line and check for processes which are still active with hosts.

[2018-11-02 01:31] AlanCoding commented on #1473
fixed by removing dependency

[2018-11-02 01:31] #1473 closed, assigned to nobody

[2018-11-02 04:34] rahst12 commented on #659
Any idea if this made it into Ansible Tower?

[2018-11-02 04:37] rahst12 commented on #94
@matburt is there a starting point you could push me toward?  I'm invested in seeing something like this working, but would need a little help getting into this code base.

[2018-11-02 04:42] rahst12 commented on #371
Have you gotten any traction on this.  We're also a paying Ansible Tower user looking for this same feature... @mruzicka-redhat

[2018-11-02 05:01] rahst12 commented on #662
@matburt is your triage of this this the same as before?  I'm hoping a year later this might be an easier ask.  What do you think?

[2018-11-02 10:52] stokkie90 opened #2574 "Inventory not including all group_vars when using multiple children (or all group)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Since upgrading to AWX 2.1.0, coming from 2.0.0 the inventory is not working like it should. It should include all group vars where the host is part of, but it only includes the one that it directly configured in.

Example hosts file:

[code]

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* An

[2018-11-02 11:36] AlanCoding opened #2575 "Get rid of internal field survey_passwords"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Since survey answers are now encrypted inside of their entry, we do not need the corresponding survey_passwords field to track which values should be redacted

##### ADDITIONAL INFORMATION

[2018-11-02 13:20] AlanCoding commented on #2465
Pushed commit to workflows-in-workflows branch

ff5d84f61fdfb365ebaf72a55b2c1c4936c390c8

Manually tested that this works in UI.

[2018-11-02 13:47] AlanCoding opened #2576 "UI shows disassociation button for indirect parents"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
UI shows the ❌ button for some groups that can't be removed (disassociated), this results in a UX that ignores user requests.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STE

[2018-11-02 13:55] AlanCoding commented on #2574
Thank you for the fast report on this. The bug is a regression due to the merge of a new feature for job slicing.

I have identified the root cause, which is because of an insufficiently complete definition of "empty" groups when excluding them from the inventory script data. Groups with no hosts were treated as empty, whereas the Ansible core precedent is that only groups with no hosts or groups

[2018-11-02 14:38] wenottingham commented on #94
Genericizing it would be a reasonable amount of work.

Copy-pasta-ing the existing code for a new backend would, in theory, not be that complicated.

[2018-11-02 14:56] AlanCoding opened #2578 "Add playbook to job template search fields"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
for list view, searches should include the playbook in places to look

##### ADDITIONAL INFORMATION

Example of URL expected to work:

`/api/v2/unified_job_templates/?page_size=20&order_by=name&type=workflow_job_template,job_template&job_template__search=debug.yml`

[2018-11-02 15:00] MarkusTeufelberger commented on #1335
Putting the output of `git log` on the https://github.com/ansible/awx/releases page is not a changelog... :-(

[2018-11-02 15:10] #2539 closed, assigned to matburt, ryanpetrello

[2018-11-02 15:55] dmj24 opened #2579 "pyvim ssl error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Template

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: Kubernetes
* Ansible version:  2.7.1
* Operating System: Centos7 (containerised)
* Web Browser: Chrome 70

##### STEPS TO REPRODUCE

Edit Dockerfile.j2 and add: "pip install pyvmomi"
build and deploy image.
The following simple vmware clone script will work

[2018-11-02 16:03] ryancurrah commented on #1335
Agreed it’s unreadable for humans

[2018-11-02 16:04] kialam commented on #2465
A quick grep of the `summary_fields.unified_job_template.unified_job_type` field attribute shows that it's being used in various places throughout our app, specifically in `workflows` and the `scheduler`. I don't think we can get rid of the field altogether, which I don't think is what you're suggesting. I _do_ like using the new `type` field in `summary_fields.job` however and think if we isolate

[2018-11-02 17:23] AlanCoding commented on #2465
I agree with you that all those uses of the field are suspect, even though the field has not been removed.

I was floating some proposals for a change to avoid misleading clients, like:

[code]

but I don't envision something like this getting traction.

[2018-11-02 17:27] wenottingham commented on #2428
From the GIF, you are patching in the API while the UI edit page is open. The UI will not track API updates that happen after you open the edit page; this is not something we have a mechanism to fix at this point.

[2018-11-02 17:36] unlikelyzero opened #2581 "Workflow Label on Workflow Visualizer renders incorrectly in Firefox"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Workflow Label on Workflow Visualizer renders incorrectly in Firefox

##### ENVIRONMENT
* AWX version: 3.4.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System: macOS
* Web Browser: Firefox 63

##### STEPS TO REPRODUCE

1. Create or verify at

[2018-11-02 17:51] unlikelyzero opened #2582 "Workflow Visualizer has inconsistent pagination for 'Jobs', 'Project Sync', and 'Inventory Sync' tabs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Workflow Visualizer has inconsistent pagination for 'Jobs', 'Project Sync', and 'Inventory Sync' tabs. 20 for Jobs, 5 for Project Sync, and 5 for Inventory Sync

##### ENVIRONMENT
* AWX version: 3.4

##### STEPS TO REPRODUCE
1. Create or ensure that 21 WFJT are created.
2. Create or ensure that 6 Projects are created.
3. Cre

[2018-11-02 17:53] unlikelyzero commented on #2582
@marshmalien @mabashian @trahman73 thoughts?

[2018-11-02 18:05] ryanpetrello commented on #2398
@aido93 can you give the latest awx a try?  I believe this bug should be resolved via:

https://github.com/ansible/awx/commit/7752446067251698964e5356b931f4163ad235f4

Please let us know if you're still encountering this issue after upgrading, and I'll re-open.

[2018-11-02 18:05] #2398 closed, assigned to nobody

[2018-11-02 18:53] matburt commented on #1137
No follow up in several months

[2018-11-02 18:53] #1137 closed, assigned to nobody

[2018-11-02 18:53] matburt commented on #1178
should have closed

[2018-11-02 18:53] #1178 closed, assigned to nobody

[2018-11-02 18:54] matburt commented on #1246
No follow up in several months

[2018-11-02 18:54] #1246 closed, assigned to nobody

[2018-11-02 18:54] matburt commented on #629
no follow up in several months

[2018-11-02 18:54] #629 closed, assigned to nobody

[2018-11-02 18:55] matburt commented on #888
No follow up on underlying issue. If you have discussions about other topics (like vars_prompt) please take them to the mailing list or irc.

[2018-11-02 18:55] #888 closed, assigned to nobody

[2018-11-02 18:57] matburt commented on #1494
No further negative comments, closing.

[2018-11-02 18:57] #1494 closed, assigned to nobody

[2018-11-02 18:57] matburt commented on #1680
No follow up in several months.

[2018-11-02 18:57] #1680 closed, assigned to nobody

[2018-11-02 18:58] #1767 closed, assigned to benthomasson

[2018-11-02 18:58] #1768 closed, assigned to nobody

[2018-11-02 18:58] matburt commented on #1791
No follow up in several months

[2018-11-02 18:58] #1791 closed, assigned to nobody

[2018-11-02 18:59] matburt commented on #1900
No follow up in several months

[2018-11-02 18:59] #1900 closed, assigned to nobody

[2018-11-02 18:59] matburt commented on #1901
closing with no follow up

[2018-11-02 18:59] #1901 closed, assigned to nobody

[2018-11-02 18:59] matburt commented on #1920
No follow up in several months

[2018-11-02 18:59] #1920 closed, assigned to nobody

[2018-11-02 19:00] matburt commented on #1968
No follow up in several months

[2018-11-02 19:00] #1968 closed, assigned to nobody

[2018-11-02 19:01] matburt commented on #2082
I think we've probably taken care of these issues with the latest version, closing.

[2018-11-02 19:01] #2082 closed, assigned to nobody

[2018-11-02 19:02] matburt commented on #2259
No follow up in a week, let us know if you see this again.

[2018-11-02 19:02] #2259 closed, assigned to nobody

[2018-11-02 19:03] matburt commented on #2308
No follow up in a week, please let us know if you are still running into this.

[2018-11-02 19:03] #2308 closed, assigned to nobody

[2018-11-02 19:04] matburt commented on #2319
Down the road we'll manage vault usage as the inventory import level. Since there's no follow up within the last week I'll close this issue.

[2018-11-02 19:04] #2319 closed, assigned to nobody

[2018-11-02 19:05] matburt commented on #2354
I believe we've fixed these issues under the 2.X AWX release, please try it there and let us know how things go.

[2018-11-02 19:05] #2354 closed, assigned to nobody

[2018-11-02 19:05] matburt commented on #2385
ping?

[2018-11-02 19:22] marshmalien commented on #2582
Spoke to @trahman73 and we decided to set all of them to 10.

[2018-11-02 20:08] matburt commented on #94
We use python social auth, and it does include a gitlab backend: https://python-social-auth-docs.readthedocs.io/en/latest/backends/gitlab.html

You'll want to look at how our SSO system is implemented:

(as a starting point)
https://github.com/ansible/awx/blob/devel/awx/sso/fields.py#L99-L103
https://github.com/ansible/awx/blob/devel/awx/sso/conf.py#L635-L699

and the social auth docs regarding wh

[2018-11-02 20:10] matburt commented on #662
It's still probably probably non-trivial for what it's worth. What did you have in mind?

[2018-11-02 21:40] unlikelyzero opened #2584 "WFJT with 3+ successive nodes causes "responsitivity" issues in the Workflow Job Result window in Firefox"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
WFJT with 3+ successive nodes causes "responsitivity" issues in the Workflow Job Result window in Firefox. Resizing the nav bar, resizing the browser window, and 'Expand Output' cause visual glitches and inconsistent behavior.

##### ENVIRONMENT
* AWX version: 3.4.0
* Operating System: macOS
* Web Browser: Firefox 63

#####

[2018-11-02 22:41] kialam commented on #2465
It would also be slightly different for the UI to parse out that string but not impossible. Tests look good on that change by the way. 👍

[2018-11-02 22:59] itdependsnetworks commented on #2428
@wenottingham I don’t think that is the issue, that was just the demonstration, can you leave this open until it is confirmed?

[2018-11-03 02:55] itdependsnetworks commented on #2428
Confirmed, if you rewatch the GIF, there is no patching being done, I simply show that it is true (via the UI), and then returns to false (via the UI). Can you @matburt or @wenottingham can you please reopen the issue?

[2018-11-04 11:31] ryan012880 opened #2586 "LDAP Authentication UI Configuration - Broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
The configuration in UI for LDAP authentication is broken, LDAP GROUP TYPE options are not displayed, tested with Chrome and FIrefox, also tested with current AWX official image and with AWX image build.

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.1
* Operating System

[2018-11-04 18:17] lemmy04 commented on #1549
I would like to mark this as "really really critical showstopper".
The host that my awx containers are served from on port 8052 is also serving "normal" web content on 80/443 and uses HSTS.
Basically, I can't use AWX. At All. Because after accessing the "normal" content on that host once, any modern browser will refuse to touch anything from that host via normal http.

[2018-11-05 00:00] theiamdude commented on #860
I am having the same issue in 2.0.1. and even the API does not return the facts collected from ansible setup module.

[2018-11-05 02:36] unreality commented on #2586
Until this gets fixed, you can work around this by adding the required LDAP group type into the psql database by hand eg:

`insert into conf_setting (created, modified, key, value) VALUES (NOW(), NOW(), 'AUTH_LDAP_GROUP_TYPE', '"ActiveDirectoryGroupType"');`

[2018-11-05 02:59] jakemcdermott commented on #2563
Turns out organization `admin_role` and `member_role` are disallowed for teams by the API and will result in a 400 if an attempt is made. This is why there is no visual indication of a successful role assignment when the steps in this issue are followed.

I've created a PR here which removes these items from the list of available roles: https://github.com/ansible/awx/pull/2587

I believe the 400 i

[2018-11-05 08:22] stokkie90 commented on #2574
@AlanCoding Thanks for the fast response. I implemented this change. it's now getting the variables from the grandparent, but not the "all" group vars.

[2018-11-05 10:45] jeannot49 commented on #2546
The file you have corrected appears in my system with the good lines.
The issue stills unresolved anymore...
I have the 2.7.10 version of python. i'll try to re-create a virtual machine with the 3.6.

[2018-11-05 11:31] tchyou opened #2588 "Provisioning of isolated node failed."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
  - UI

##### SUMMARY
after modifying inventory (/installer/inventory) to add isolated node group and reinstalling, no isolated node group can be shown.

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.1
* Operating System: Centos 7.5
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

1.

[2018-11-05 13:11] unlikelyzero opened #2589 "The SJT context does not appear on the Host's 'Completed Jobs' view"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
SJTs do not appear on the Hosts Completed Jobs view

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE

1. Create a SJT which can run on at least two hosts.
2. Create a WFJT which runs the same playbook as above
3. Run SJT to completion
4. Navigate to the Inventory/ Host / Completed Jobs view
Note: Workflows a

[2018-11-05 13:14] unlikelyzero commented on #2589
@marshmalien @kialam not sure about this one. I don't know which feature this would fall under

[2018-11-05 13:16] ryan012880 opened #2590 "Ansible AWX 2.1.0 Custom Image Build Failed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
AWX version 2.1.0 image build fails on task: Build AWX distribution using container

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  ansible-2.7.0-1.el7.ans.noarch
* Operating System: RHEL7
* Web Browser: N/A

##### STEPS TO REPRODUCE
1. Clone the latest AWX repository

[2018-11-05 13:35] AlanCoding commented on #2574
In your example, were keys from the all group reported in the output of `ansible-inventory -i ../inventory/production/ --host child_1` and which were they?

[2018-11-05 13:37] AlanCoding commented on #2578
oh wait, this may be more complicated because my example was of the "unified" variety.

Still a bug, as perceived by the user, but no simple technical option presents itself. Closing for now.

[2018-11-05 13:37] #2578 closed, assigned to nobody

[2018-11-05 13:44] stokkie90 commented on #2574
Here is the diff:

[code]

[2018-11-05 13:47] mabashian commented on #2589
This is the endpoint that the UI is hitting on that page: `/api/v2/unified_jobs/?page_size=20&job__hosts=*host_id_goes_here*&order_by=-id`

[2018-11-05 13:53] weichih-c commented on #2588
I met the same issue too!

I fetched the latest image from docker hub (including Task:2.1.0, Web:2.1.0, rabbitmq:3.7.4, pgsql:9.6, memcached:latest) and built the docker-isolated image(in tool/docker-isolated).

I've run all docker image from docker-hub on one machineA through install.yml in installer dir (just like install.md done), and run the docker-isoloated image through docker-compose.

Besi

[2018-11-05 14:09] kialam commented on #2589
@unlikelyzero I _am_ seeing sliced playbook jobs under the Host Completed Jobs view:
<img width="1298" alt="screen shot 2018-11-05 at 9 07 01 am" src="https://user-images.githubusercontent.com/2293210/48002716-5d715180-e0da-11e8-89ea-95ee5a512be0.png">

And while I don't see the parent Workflow of the sliced job playbook, this appears to be the default behavior for all Hosts Completed Jobs view; e

[2018-11-05 14:14] nvidiajunkie commented on #378
having same issue w/ Tower 3.3.1, Ansible v 2.7.1.  Under the "Jobs" section, stuck at "Running" for a status, and "Finished" = "Not finished".  I try to cancel in the UI and no joy.  any help would be great! thanks!

[2018-11-05 15:27] wenottingham commented on #2588
This is expected... there is no isolated instance support in the AWX installer at the moment.

[2018-11-05 15:28] wenottingham commented on #2588
-> #1207

[2018-11-05 15:28] #2588 closed, assigned to nobody

[2018-11-05 15:35] jakemcdermott commented on #2590
Hello - thanks for creating this issue.

Looks like your node and npm versions are out of date, you'll need to update your node installation to node 8.9.0 LTS prior to running the installer and/or building the source distribution.

[2018-11-05 15:35] #2590 closed, assigned to nobody

[2018-11-05 15:40] jakemcdermott commented on #2579
Hello - thanks for creating this issue.

We aren't setup to support installations made with modified container image builds - when you modify these images you may break some expected behavior.

Having said that, you should look into our [custom virtualenv feature](https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md) as it allows you to run your job template / playbook using a virt

[2018-11-05 15:40] #2579 closed, assigned to nobody

[2018-11-05 15:44] jakemcdermott commented on #2563
resolved by https://github.com/ansible/awx/pull/2587

[2018-11-05 15:54] LukeShortCloud opened #2592 "AWX Docker Hub tags do not match GitHub tags"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
The GitHub tagged release are *not* the same releases on Docker Hub. For example, right now on DockerHub `2.1.0` is actually constantly tracking master when the GitHub tag `2.1.0` was published on [November 1](https://github.com/ansible/awx/commit/a28f8c43cb12afb0ed35fca0c4581633b95d0b50). This leads to inconsistency

[2018-11-05 16:05] kialam opened #2593 "JTs with Job Tags not behaving as expected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Job templates with job tags do not appear to be running correctly. What I mean by this is specificially:

1) The std out field for these jobs is empty:
<img width="963" alt="screen shot 2018-11-05 at 11 00 09 am" src="https://user-images.githubusercontent.com/2293210/48009572-03788800-e0ea-11e8-90c0-6f43fb71b4d3.png

[2018-11-05 16:10] shanemcd commented on #2592
Hi, sorry! This was a bug in our automation. The correct* 2.1.0 is being rebuilt and pushed now.

[2018-11-05 16:10] #2592 closed, assigned to nobody

[2018-11-05 16:11] #2589 closed, assigned to nobody

[2018-11-05 16:14] #1892 closed, assigned to nobody

[2018-11-05 16:16] kialam commented on #2593
Closing; see https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html for proper usage of the Job Tags field.

[2018-11-05 16:16] #2593 closed, assigned to nobody

[2018-11-05 16:52] benjdudas opened #2594 "RFE: Option to select custom venv for ad-hoc jobs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Add option to select ANSIBLE ENVIRONMENT for ad-hoc commands in Tower/AWX
##### ADDITIONAL INFORMATION

[2018-11-05 16:56] jlmitch5 commented on #2328
talked with @tvo318 this is rolled up into docs changes--we can close!

[2018-11-05 16:56] #2328 closed, assigned to jlmitch5, tvo318

[2018-11-05 17:03] unlikelyzero commented on #2447
I saw this one again. I'm going to keep it open and assigned to me while I try to find repeatable steps

[2018-11-05 17:32] ryan012880 commented on #2590
@jakemcdermott , I still encounter the same error with the below versions:

[code]

[2018-11-05 19:59] jamesmarshall24 opened #2597 "RFE: Add Option to Skip Vault Variables in Inventory Import"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Add check box to skip vaulted variables and variable files when importing inventory into AWX using an SCM inventory or similar

[2018-11-05 20:05] wenottingham commented on #2597
This is to just 'ignore them entirely and not error'?

[2018-11-05 20:07] jamesmarshall24 commented on #2597
@wenottingham correct. Specifically for SCM inventory, there isn't an option to include vault credentials either and require a bit of a refactor from CLI vaulted files to include into AWX/Tower (without unencrypting into plain text).

[2018-11-05 20:10] wenottingham commented on #2597
Note that as we use `ansible-inventory` to do the inventory import, this may require changes in Ansible itself.

[2018-11-05 20:16] AlanCoding commented on #2597
I think we need to create a new issue for this, aware of the current distinctions between in-line and whole-file encrypted variables. The current behavior to pass-through in-line variables is quite good from a usability perspective. They only time it _errors_ is for whole-file variables, and if we implement this feature, it would decrypt whole-file, and _only_ whole-file encrypted vars.

Otherwise

[2018-11-05 20:18] wenottingham commented on #2597
@AlanCoding that would be different, yes.

The goal of the initial issue is to have a checkbox such that whole-file vaulted content is ignored on inventory import. AFAIK right now it just throws an error.

[2018-11-05 20:24] AlanCoding commented on #2597
Yes. Does anyone mind if I put on the blocked label? As pointed out earlier, this could only come after core implementing it.

[2018-11-05 20:28] AlanCoding opened #2598 "JT admin associating label gets infinite "WORKING" gear"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
User with admin role to job template gets the UI stuck if they try to add a new label.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create a fresh user

[2018-11-05 20:38] AlanCoding opened #2599 "Erroneous error trying to remove someone's permission to private credential"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Error:

happens on disassociation as well as association

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

In the UI, create a new private credential as a non

[2018-11-05 20:42] AlanCoding opened #2600 "UI does not show error giving someone permission to private credential"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
If API gives this:

The UI does not give any notice to the user about what happened

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create a new credential

[2018-11-05 21:17] dsesami opened #2601 "Adding team-wide permissions to an org does not update team permissions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Clicking the + sign and adding team-wide permissions doesn't update the user permissions at all, or at least it does so inconsistently.

![screenshot from 2018-11-05 16-12-20](https://user-images.githubusercontent.com/19942822/48027019-a4c90380-e115-11e8-8cfe-cf1db5089a40.png)

calls to /roles return a 204 no content,

[2018-11-05 21:40] #2582 closed, assigned to nobody

[2018-11-05 21:41] #2581 closed, assigned to unlikelyzero

[2018-11-05 21:50] jlmitch5 commented on #2600
this issue was based on testing a pr that was updated--it is not present in devel

[2018-11-05 21:50] #2600 closed, assigned to nobody

[2018-11-05 21:54] jlmitch5 opened #2602 "sorting add permissions user list by first name changes the total count"
sorting the permissions page by first name, it changes the total count

This is because the original list checks for only users where is_superuser is false, but that filter is lost once the list is sorted.

![48024891-d9d25780-e10f-11e8-962e-7e7bd65cbc26](https://user-images.githubusercontent.com/1342624/48029179-98e04000-e11b-11e8-9fb2-443cb5a581b5.gif)

[2018-11-05 22:14] unlikelyzero opened #2603 "Clicking on a Job Template no longer scrolls the user to the Edit Job Template view"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Clicking on a Job Template no longer scrolls the user to the Edit Job Template view

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE
1. Create enough JTs to take up an entire screenspace (i.e. 8+)
2. Scroll down the page
3. Click on the last JT to edit the JT.

##### EXPECTED RESULTS

Note: Working spinner.

[2018-11-06 03:35] jakemcdermott commented on #2598
resolved by https://github.com/ansible/awx/pull/2604

[2018-11-06 03:50] #2503 closed, assigned to nobody

[2018-11-06 04:07] jakemcdermott commented on #2601
@dsesami

After taking a look at this issue, I ran into two situations where the permissions list wasn't updating in the manner you described:

1. It never updates for `admin` and `member` role assignment - this is due to the same underlying restriction we saw in [#2563](https://github.com/ansible/awx/issues/2563#issuecomment-435741153) for some types of organization `object_roles` when dealing wi

[2018-11-06 04:08] jakemcdermott commented on #2601
resolved by #2605

[2018-11-06 04:08] unlikelyzero opened #2606 "Unable to open Job Details link from Workflow Visualizer while Job is running"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Unable to open Job Details link from Workflow Visualizer while Job is running. Link works as soon as job finishes. No console errors or Network traffic.

##### ENVIRONMENT
* AWX version: 3.4.0
* Operating System: macOS
* Web Browser: Firefox and Chrome

##### STEPS TO REPRODUCE
1. Create a WFJT which contains WFJTs or JTs
2.

[2018-11-06 04:08] unlikelyzero commented on #2465
blocked by https://github.com/ansible/awx/issues/2606

[2018-11-06 04:21] ryan012880 commented on #2590
Thanks, updated the NPM and my bad I didn't notice the line on the log ```Error: ENOSPC: no space left on device, write errno: -28, code``` so the error was due to disks space on / it reach 100% while building the image.

[2018-11-06 04:31] paihu opened #2607 "job_template UI fetch credentials with bad property."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Maybe i18n UI probrem.

##### ENVIRONMENT
* AWX version: 1.0.6.49 to 2.1.0 (dockerhub image tag)
* AWX install method: docker on linux, docker for mac
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE
1. set browser language to japanese
1. view job_template
1. push credential search but

[2018-11-06 05:25] jakemcdermott commented on #2599
resolved by https://github.com/ansible/awx/pull/2608

[2018-11-06 05:28] jakemcdermott commented on #2607
Hello @paihu,

Thanks for creating this issue. This appears to be a duplicate of https://github.com/ansible/awx/issues/2231 so I am closing.

[2018-11-06 05:28] #2607 closed, assigned to nobody

[2018-11-06 06:13] tvo318 opened #2609 "Adding Team Permissions to WF doesn't do anything"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
When adding team permissions to a WF, nothing happens.

##### ENVIRONMENT
AWX 2.1.0
Ansible 2.7.1
* Operating System: Mac OS Serra 10.13.6
* Web Browser: Chrome Version 70.0.3538.77 (Official Build) (64-bit)

##### STEPS TO REPRODUCE

1. Add or Edit Workflow Template (and save)
2. Go to Permissions tab and use the wiz

[2018-11-06 06:35] jakemcdermott commented on #2609
Took a look at this with @tvo318 - the team being used just needed some users. closing.

[2018-11-06 06:35] #2609 closed, assigned to nobody

[2018-11-06 07:51] tvo318 opened #2610 "Need more padding on right side of screens"
##### ISSUE TYPE
 - Feature enhancement

##### COMPONENT NAME
 - UI

##### SUMMARY
Would like to see padding on the right side of every screen wider, right now it is very tight - bumps up against the scroll bars.

##### ADDITIONAL INFORMATION

When I take screen captures, I notice the padding on each side is not even. Here are two examples.
![image](https://user-images.githubusercontent.com/751480

[2018-11-06 10:04] ryan012880 commented on #2586
@unreality tnx, confirmed the above works

[2018-11-06 11:10] stokkie90 commented on #2574
@AlanCoding I found the problem. the `all_group` is never put back into the `data` dict.

fix should be something like this:
[code]

[2018-11-06 11:22] davivcgarcia opened #2611 "Custom Logo is not applied to the UI, only at Login screen"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Adding a custom logo through settings changes only the logo from the Login page. The rest of the UI is still using the AWX logo (/static/assets/logo-header.svg).

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: CentOS 7.5
* Web Browser: Chrome Versi

[2018-11-06 11:52] AlanCoding commented on #2574
I had meant to reproduce your steps fully, but from what you said there, I see clearly what the problem is, and that it lies in the AWX source.

I would suggest that you could also do

[code]

at

https://github.com/ansible/awx/blob/a338199198f3f246ccd5a6bf45c8e1b6af93f282/awx/main/models/inventory.py#L296

If you want to put in such a PR yourself, I would gladly approve it. A new test, somewhere

[2018-11-06 13:19] HelffCare opened #2612 "Inventory sync fails due to missing python default modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Ansible-inventory fails due to missing modules.

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on Linux
* Ansible version:  2.7.1
* Operating System: CentOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Create new Inventory
2. Create Source
3. Select "Sourced from a Project as source"
4. Choose a

[2018-11-06 13:19] unlikelyzero opened #2613 "In the Workflow Result Viewer, real-time events of WFs in WFs are out of order"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
In the Workflow Result Viewer, real-time events of WFs in WFs are out of order. In the simplest case, the

##### ENVIRONMENT
* AWX version: 3.4.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

The

[2018-11-06 13:29] AlanCoding commented on #2613
I had a chance to look at the data, and I wish I could say that something jumps out at me regarding the timings.

some notes:

[code]

The job events aren't coming in at some crazy late time. We can't account for this behavior by a pileup of events in the callback receiver.

[2018-11-06 13:35] Mikey032 opened #2615 "inventory file variables aren't available in the jobtemplates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- Ansible

##### SUMMARY

The inventory file variables aren't available in the jobtemplates.

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.1 (in container)
* Operating System: Centos 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE
We defined in an inventory file a variable in YAML format

[2018-11-06 13:43] AlanCoding commented on #2613
My best guess is that the messages just aren't getting routed to their nodes somehow.

Examples:

[code]

[code]

This is difficult to read, but the content appears correct. Workflow job 998 is running inside of workflow job 912.

You can see that the successful status of the workflow job is returned, and it follows right after a job inside of that workflow (predictable).

[2018-11-06 14:16] unlikelyzero commented on #2613
@jakemcdermott any thoughts here?

[2018-11-06 14:37] chrismeyersfsu commented on #860
@theiamdude did you enable fact cache on the job template?

[2018-11-06 16:01] wenottingham commented on #2611
This is intentional. See #1316.

[2018-11-06 16:01] #2611 closed, assigned to nobody

[2018-11-06 16:02] wenottingham commented on #2612
Do you have multiple versions of Ansible in your container somehow?

[2018-11-06 16:05] jakemcdermott commented on #2615
Hello @MikeySmet

Thanks for creating this issue. Can elaborate on how you added the inventory file to the job template? Did you use a project-based inventory?

Can you provide example project that can be used to reliably reproduce the problem?

[2018-11-06 16:16] jean-christophe-manciot opened #2616 "AWX login page loops endlessly at "AWX is upgrading" with latest postgresql server 11.x"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
No AWX containers communicate with postgresql when it is setup as an external database server..

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.1
* Operating System: Debian buster
* postgresql: 11+194
* Web Browser: chrome 70.0.3538.77 (Official Build) (64-bit)

##

[2018-11-06 16:16] jean-christophe-manciot commented on #2616
Everything is fine when AWX is setup with its own postgresql container.

[2018-11-06 16:26] ryan012880 commented on #2615
@jakemcdermott not sure if this is what @MikeySmet encountered but for me declaring variables in the Inventory as shown below:

<img width="1233" alt="screen shot 2018-11-07 at 12 21 09 am" src="https://user-images.githubusercontent.com/10410660/48078224-ef38a600-e223-11e8-8864-7d37afee0e8a.png">

Don't work anymore, those variables are not inherited when you run any job template that uses such in

[2018-11-06 16:44] #316 closed, assigned to nobody

[2018-11-06 16:57] jakemcdermott commented on #2616
hello @jean-christophe-manciot , thanks for creating this issue.

What version of postgres are you using?

[2018-11-06 17:06] jean-christophe-manciot commented on #2616
[code]

[2018-11-06 17:06] srflaxu40 commented on #2549
is the "admin" user considered local?

[2018-11-06 17:08] #2601 closed, assigned to jakemcdermott

[2018-11-06 17:46] marshmalien opened #2617 "Missing Parent WF label and value"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
* Missing `Parent Workflow` label and value in project and inventory job details

##### STEPS TO REPRODUCE
* Create a Workflow Template with a project update and inventory update
* Run Workflow
* View Project Update and Inventory job details

##### EXPECTED RESULTS
<img width="401" alt="screen shot 2018-11-06 at 12 42 44 pm"

[2018-11-06 17:58] marshmalien commented on #2613
The UI is not receiving successful updates for some nodes via web sockets. Reproduced it in the following scenario.

_chatty_tasks SJT_ is `workflow_node_id: 1095`
<img width="814" alt="screen shot 2018-11-06 at 11 32 43 am" src="https://user-images.githubusercontent.com/15881645/48083324-e4015e00-e1c2-11e8-9865-3cf46456fe73.png">

After the entire workflow job finished successfully, I filtered th

[2018-11-06 18:45] AlanCoding commented on #2613
Thanks for finding that information, I'm digging in right now.

One thing that is clear is that I was _only_ able to reproduce with split JTs were also in the picture. When they are used, some workflow job success messages are lost, but some SJT success messages are lost. Interestingly, some success messages for other WFJs are duplicated. This would likely hint at the root cause.

[2018-11-06 19:33] gerrond opened #2619 "Missing drop down options"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

  When trying to setup authentication using LDAP, LDAP Group  Type Drop down Menu is empty. I tried other drop down menu options (ie. TACACs+ Authentication Protocol) and it is also empty. I had an older version of AWX and it is working fine on the version of browser.

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install m

[2018-11-06 19:45] ryanpetrello commented on #2005
fixed via https://github.com/ansible/awx/pull/2618

[2018-11-06 19:45] #2005 closed, assigned to nobody

[2018-11-06 19:45] AlanCoding commented on #2613
This diff seems to resolve the problem

[code]

[2018-11-06 19:58] chrismeyersfsu opened #2621 "Update SAML docs to be inline with docs/auth/saml.md change"
https://docs.ansible.com/ansible-tower/latest/html/administration/ent_auth.html
update ^^ to be inline with the below change.

https://github.com/ansible/awx/pull/2620

[2018-11-06 20:10] AlanCoding commented on #2613
My local testing replicated the issue, and then confirmed that it was fixed by:

464720495c2b11feb5f8db4a6adaa8eae2b21622

[2018-11-06 20:14] #2427 closed, assigned to nobody

[2018-11-06 20:17] srtab opened #2622 "AWX with bastion / jump host not working with docker instalation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Task

##### SUMMARY

I'm trying to make a bastion / jump host ssh connection in a docker installation and no success.

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.0
* Operating System: Centos 7.5
* Web Browser:

##### STEPS TO REPRODUCE
I installed AWX following instructions described

[2018-11-06 21:29] jakemcdermott commented on #2619
Hello @gerrond

Thanks for creating this issue. This appears to be a duplicate of https://github.com/ansible/awx/issues/2586 so I am closing. We will track the resolution of this bug in the other issue.

[2018-11-06 21:29] #2619 closed, assigned to nobody

[2018-11-07 05:55] ballantine04 commented on #2616
hello. you have to set ipaddress to the default gateway of the awx_task container if you have a postgres on the same host.
Because 127.0.0.1 ipaddress does not reach the outside of the docker network
ex) pg_hostname: 172.17.0.1 or 172.18.0.1 ...

[2018-11-07 06:16] ryan012880 commented on #2615
probably related to #2574  #2614

[2018-11-07 08:02] Mikey032 commented on #2615
@ryan012880 indeed that's how I declared the variables. It happened after upgrading from version 1.0.8 to 2.1.0.

[2018-11-07 08:49] benapetr opened #2628 "Implement ability to export workflows and job templates / for sync with remote AWX installations"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
We have a setup of 8 different AWX nodes in 8 different data centres, very far away from each other with bad connectivity between. Each AWX is running jobs for local infrastructure only, but environments are identical in each country. We need to be able to run same jobs and same workflows in all 8 AWX installations

[2018-11-07 09:07] HelffCare commented on #2612
I am using the awx task container hosted on Docker:
https://hub.docker.com/r/ansible/awx_task/
I was running version 1.0 and didn't had any issues.
But somehow I am not able to get 2.1.0 running. Usually I make modifications to the Dockerfile to match my requirements but even with the plain awx_task and awx_web contaienr I am not able to get it running.
It uses just one Ansible version:
[code]

[2018-11-07 09:49] jean-christophe-manciot commented on #2616
In my case, the IP address of the Linux bridge on which all AWX containers are attached to is ```172.22.0.1```.
Changing the following:
- pg_hostname=172.22.0.1 in ```installer/inventory```
- listen_addresses = 'localhost,172.22.0.1' in ```/etc/postgresql/11/main/postgresql.conf```
- ssl = off in ```/etc/postgresql/11/main/postgresql.conf``` (because AWX does not support it yet)
- " host    all

[2018-11-07 09:56] jean-christophe-manciot commented on #2616
In ```/etc/postgresql/11/main/postgresql.conf```, I have:
[code]
Should it be changed to ```scram-sha-256```?

[2018-11-07 10:08] jean-christophe-manciot commented on #2616
Using ```scram-sha-256``` does not solve the issue.

[2018-11-07 10:21] jean-christophe-manciot commented on #2616
In postgresql log, I have:
[code]
```incomplete startup packet``` can be noticed.

[2018-11-07 13:46] jean-christophe-manciot commented on #2616
There was an iptables misconfiguration: adding ```-A ufw-user-input -p tcp -s 172.22.0.0/24 -d 172.22.0.1/32 --dport 5432 -j ACCEPT``` to ```/etc/iptables/rules.v4````allows all postgresql communications.
I don't understand why this rule was necessary since the AWX containers could already communicate between them through the Linux bridge (except for the postgresql port) without it.

However, this

[2018-11-07 14:33] ryanpetrello commented on #2628
@benapetr,

Take a peek at `tower-cli`, specifically this feature:  https://groups.google.com/forum/#!topic/awx-project/1f77RNcihZc

Given that AWX has a RESTful API, we're not likely to solve this problem in awx itself.

[2018-11-07 14:33] #2628 closed, assigned to nobody

[2018-11-07 16:13] wenottingham opened #2630 "Support become plugins"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY

Ansible is implementing become plugins here: https://github.com/ansible/ansible/pull/38861

AWX should be able to support this. (We should probably drop the hardcoded list).

##### ADDITIONAL INFORMATION

[2018-11-07 20:23] mpetrive-rh opened #2632 "Activity stream for user doesn't show all changes to User Type"
##### ISSUE TYPE
 - Bug Report
(possibly feature request)

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
The user activity stream does not show *User Type* changes from "Normal User" <-> "System Auditor".

Changes from "[Normal User|System Auditor]" <-> "System Administrator" are present in the activity log

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker for mac
* Ansible v

[2018-11-07 21:15] dsesami commented on #2613
Tested this and verified with example scenario, looks correct to me.

[2018-11-07 21:15] #2613 closed, assigned to marshmalien

[2018-11-07 22:10] rooftopcellist commented on #2301
@thedoubl3j here is where the auth field is added to the user serializers: https://github.com/ansible/awx/blob/devel/awx/api/serializers.py#L884

It looks like this field should contain the SSO providers that user was authenticated with.

[2018-11-07 22:16] jtdev08 commented on #2622
Same issue. AWX version: 2.1.0

[2018-11-07 22:36] ryanpetrello commented on #2407
@jstewart612 in awx 2.1.0, we overhauled the entire task dispatch system (namely, we removed our reliance on the Python celery library).  If you're able to reproduce this issue on the latest version of awx, please let us know and we'll reopen.

[2018-11-07 22:36] #2407 closed, assigned to nobody

[2018-11-07 23:25] saito-hideki opened #2633 "Add job timeout tracking feature to local logs and external log aggregators"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
If we set timeout to the job template and launch it and when it failed with the timeout error, we can confirm the cause of this from the `job_explanation` value from the Jobs API endpoint, but there is no way to confirm it from log files.
Also even if we use logging aggregation, there is no information about this ti

[2018-11-08 04:29] #2563 closed, assigned to jakemcdermott

[2018-11-08 08:18] daczka92 commented on #2556
in wchich settings.py should we add those lines? i still have same problem.
as i understand api/v2/tokens and api/o/token/ are different tokens with different purposes.

[2018-11-08 08:30] noname1314 commented on #2556
**/etc/tower/settings.py** and please restart ansible tower service by **ansible-tower-service restart**

[2018-11-08 08:54] cpatry-poly opened #2636 "Django migration added to 2.0.1 docker image"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Docker image
 - Installer

##### SUMMARY
12 days ago, the docker image awx_task, with the tag 2.0.1, was updated on docker hub.
Now, this image contains this commit: https://github.com/ansible/awx/commit/3b7336c570d476e97f0edbdd3739680321f31306

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: docker on linux
* Ansible version:  2

[2018-11-08 09:09] mkjpryor-stfc commented on #553
Is there any progress on this? I am also in need of a boolean survey type. Having to cast a string to a boolean is error prone. A checkbox would also be a better UI than a "true"/"false" dropdown.

[2018-11-08 09:40] cpatry-poly commented on #2636
Hi !
We found an error on our side which explains why we had still the issue 47207 in the new docker image 2.0.1 :-) .

This issue still remains, because it's about the recreation of a docker image without using a new tag.

[2018-11-08 11:21] jean-christophe-manciot commented on #2616
I have spotted **multiple ERRORs** in the **postgresql log**:
[code]
The whole log following a new build with a new pristine (recreated) AWX db is: [postgresql-2018-11-08_120809.log.txt](https://github.com/ansible/awx/files/2561504/postgresql-2018-11-08_120809.log.txt)

[2018-11-08 12:38] jean-christophe-manciot opened #2637 "Allow another logging driver such as journald/syslog/splunk"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Installer

##### SUMMARY
By default, the logging driver is ```json-file``` and destroying a container will also remove logs.
Changing it to ```journald``` for instance would allow us to access the logs of destroyed containers, on top of everything that is already possible with the default logging driver. In particular, the ```docker logs```

[2018-11-08 13:01] #2574 closed, assigned to AlanCoding, stokkie90

[2018-11-08 13:10] ryanpetrello commented on #2615
This is very likely resolved by https://github.com/ansible/awx/pull/2614

[2018-11-08 13:10] #2615 closed, assigned to nobody

[2018-11-08 13:36] jeannot49 commented on #2546
It works with a virtual environment of python, more precisely the 3.7.1.
Thanks for your time.

[2018-11-08 13:36] #2546 closed, assigned to nobody

[2018-11-08 14:59] keilr commented on #223
Is there an open issue which tracks progress on this?

[2018-11-08 15:10] jean-christophe-manciot commented on #2637
As a **PoC**, I performed the following ```2.1.0``` build from scratch (the variables are of course initialized beforehand):
[code]
So far, it works perfectly:
[code]

[2018-11-08 15:13] jakemcdermott commented on #2636
Hello Tiduster, thanks for creating this issue.

This was probably a result of a bug in our automation (related https://github.com/ansible/awx/issues/2592), which we fixed. The correct image was pushed to docker hub a few days ago and you can expect it to remain unchanged. Apologies for any inconvenience!

[2018-11-08 15:13] #2636 closed, assigned to nobody

[2018-11-08 15:15] #2030 closed, assigned to nobody

[2018-11-08 15:56] jean-christophe-manciot commented on #2616
I have tried to replace the external postgresql server with a containerized one with its **latest** version in installer/roles/local_docker/templates/docker-compose.yml.j2 for a build from scratch with a new db:
[code]
It turns out I get the same "AWX is Upgrading" endless loop.
So it's fair to conclude that this issue comes from an **incompatibility** between ```AWX 2.1.0``` and ```postgresql 11.

[2018-11-08 16:02] jakemcdermott commented on #2622
Hello - thanks for making this issue. This appears to be a duplicate of #2279 which contains workaround.

[2018-11-08 16:02] #2622 closed, assigned to nobody

[2018-11-08 16:05] jakemcdermott commented on #2616
@jean-christophe-manciot that is correct - awx requires a specific version of postgres. Please see https://github.com/ansible/awx/blob/devel/INSTALL.md for additional installation details.

[2018-11-08 16:05] #2616 closed, assigned to nobody

[2018-11-08 16:12] FrederikSuijs commented on #1970
I'm running into a similar issue, I think.
However this only affects my workflow when using multiple job templates. My first job template seems to be working fine, resolving the jinja variables.
It is only when entering the second job template, the problem appears.

[2018-11-08 16:18] jean-christophe-manciot commented on #2616
@jakemcdermott

In the document you provide, the sole related line states:
[code]
Nothing about any max version.

[2018-11-08 16:29] rooftopcellist commented on #1653
Note: It is possible to create a personal access token for another user via an awx-manage command:

[code]

[2018-11-08 17:13] jtdev08 commented on #2279
I'm still seeing an issue. For me, the workaround doesn't change anything. I am able to connect to the jump host, but when it tries to ssh to the play host, it shows permission denied and fails. For some reason, the play hosts logs show a password failure even though credentials are the same for jump host to play host. It works on command line perfectly fine. I set the ansible_ssh_common_args in h

[2018-11-08 17:22] marshmalien commented on #2617
Spoke with @wenottingham and @trahman73 and we decided to rename the label from "Parent Workflow" to "Source Workflow"

[2018-11-08 18:13] jlmitch5 opened #2641 "User's with readonly view of inv source get unnecessary error modal about not seeing project"
If a user has read-only view of an inventory source, they should not see this error message about not being able to access the project-as the inv file dropdown is greyed out and they don't need to access the project.

![screen shot 2018-11-08 at 1 07 45 pm](https://user-images.githubusercontent.com/1342624/48218190-51de8e80-e357-11e8-87eb-f4f3ccb67b53.png)

- Create inventory source with inventory

[2018-11-08 18:22] oekotaco opened #2642 "UnboundLocalError: local variable 'unified_job' referenced before assignment"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

If a workflow runs after couple of jobs it hangs with the following error and new jobs are not spawned anymore.

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.1
* Operating System: debian
* Web Browser: chrome

##### STEPS TO REPRODUCE

I run my workflow with mo

[2018-11-08 19:39] kdelee opened #2644 "[WIP] Intermittent Permission Denied for WFJT creation or edit"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

While doing other things in the background, I suddenly was not allowed to edit or add WFJTs.
I was given a YOU DO HAVE PERMISSION error when I clicked the "+" sign and selected "Workflow Job Template" on the Templates page.

I could then open the Workflow Visualizer for an existing WFJT, but not allowed to apply changes to

[2018-11-08 20:07] unlikelyzero commented on #2644
@dsesami let's try to repro while we verify 3.4 workflow features. If we can't find it, we can just mark it as closed

[2018-11-08 20:29] unlikelyzero commented on #2606
@ryanpetrello was this reproducible only when using concurrent_execution enabled?

[2018-11-08 20:44] ryanpetrello commented on #2642
@oekotaco this should be resolved by https://github.com/ansible/awx/pull/2645 (in the next version of awx we release).

Thanks for reporting it.

[2018-11-08 20:45] #2642 closed, assigned to nobody

[2018-11-09 09:35] oekotaco commented on #2642
Thanks i've tryed your patch. Now i got the following error.

https://pastebin.com/sFSumsq3

Thanks for your quick response.

[2018-11-09 11:18] srtab commented on #2622
@jakemcdermott thanks for the reply.
It was not the same problem, but i managed to fixed it. It was a problem related with the public key in ~/.ssh/authorised_keys at the final server.

[2018-11-09 11:58] ryan012880 commented on #2533
I've rebuild container with #2631 merge but didn't fixed this issue, hover-over to on the Dashboard Graph still doesn't highlight the job result history as a time-series.

[2018-11-09 11:59] ryan012880 commented on #2379
Related #2533

[2018-11-09 13:18] ryanpetrello commented on #2642
@oekotaco yep, it looks like there's another bug here related to a recent change we merged.  Looking into it...

[2018-11-09 13:47] Ompragash opened #2648 "RFE: Add Workflow Template item in Organizations View"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

When we click on Organizations, we can see multiple organizations. Each Organization shows 6 items - Users, Teams, Inventory, Project, Admin & Job Templates.

Expecting Workflow Template as a item in the organization.

[2018-11-09 14:00] tigtigtigtig commented on #2482
I am observing the same, however there are exceptions in my log
[awx_web.log](https://github.com/ansible/awx/files/2566104/awx_web.log)
[code]

[2018-11-09 14:10] paradegoat commented on #2370
I'm interested in working on this. Could you explain what the expected error message would be?

[2018-11-09 14:41] kialam commented on #2533
@ryan012880 very strange indeed! What happens after you rebuild the UI?

[2018-11-09 15:14] ryan012880 commented on #2533
@kialam same behaviour as before only tracks the first value on the x-axis and indicator doesn't move.

[2018-11-09 15:22] wenottingham commented on #2648
Workflows are not necessarily unique to an org.

[2018-11-09 15:26] wenottingham commented on #2482
(edited above comment to in-line the traceback)

[2018-11-09 15:26] Yoiro opened #2650 "Cluster HostID on docker"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Whenever I try to add new values into AWX through the UI I get the message "Failed to create new project. POST returner status: 500 A server error has occured.". awx_web logs are in pastebin link below.

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method:  docker on linux
* Ansible version:
       - awx_* containe

[2018-11-09 15:33] AlanCoding commented on #466
Heads up - pull request in core has been opened. If it lands, we need to land support for it here ASAP

[2018-11-09 15:34] AlanCoding commented on #2370
Yes, since there are no longer any "scan" type job templates (which did _not_ need a project), _all_ job templates must have a project assigned. @chrismeyersfsu could you check me on that?

[2018-11-09 15:40] wenottingham commented on #2650
This appears to be a duplicate of #2482

[2018-11-09 15:40] #2650 closed, assigned to nobody

[2018-11-09 15:48] Yoiro commented on #2650
It is indeed, sorry I haven't found it before.

[2018-11-09 16:25] kialam commented on #2533
@ryan012880 I am having trouble reproducing on devel with the #2631 merge. Do you mind posting what your job status chart directive file looks like? `awx/ui/client/src/home/dashboard/graphs/job-status/job-status-graph.directive.js`

[2018-11-09 16:47] ryan012880 commented on #2533
[code]

[2018-11-09 17:00] jakemcdermott commented on #2533
This seems to be working fine for me on devel. @ryan012880 We haven't built a new `latest` container image in a few days but we will soon - you should see these fixes show up then!

[2018-11-09 17:22] shanemcd commented on #2482
I am unable to reproduce this in a fresh install of 2.1.0. Is anyone able to provide any more details about how to recreate this error?

[2018-11-09 17:29] jakemcdermott commented on #2533
@ryan012880 After pushing new images and deploying, I can also confirm that I am still seeing this bug once it is deployed in the wild. Interesting to say the least! We will take another look!

[2018-11-09 17:29] shanemcd commented on #2482
Actually, I just noticed that this issue says `2.0.1`. Has anyone seen this on the latest release (`2.1.0`)?

[2018-11-09 17:35] shanemcd commented on #2482
Appears like the answer is yes: https://github.com/ansible/awx/issues/2650

[2018-11-09 18:13] dsesami opened #2651 "Workflow correctly fails when a recursive cycle is detected, but the details button is not clickable."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Creating an intentional nested workflow where it calls itself in recursion, a failure occurs and the workflow ends, but the DETAILS button does not work to explain to the user what occurred. Network chrome tab shows no calls are being made either.

The red boxed DETAILS button does not respond when making a simple wor

[2018-11-09 18:19] matburt commented on #2482
I'm still having trouble reproducing this. Can you show me the full api response (including response headers) of going to `http://awxhost/api/v2/instances/`

[2018-11-09 18:35] dsesami commented on #2651
Closing due to being already fixed in the `devel` branch.

[2018-11-09 19:08] cbermudez82 commented on #2482
Here is the webpage output from the api instance:

GET /api/v2/instances/

HTTP 200 OK
Allow: GET, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept
X-API-Node: awx
X-API-Time: 0.028s

{
    "count": 1,
    "next": null,
    "previous": null,
    "results": [
        {
            "id": 1,
            "type": "instance",
            "url": "/api/v2/instances/1/",
            "related": {

[2018-11-09 19:09] msilmser opened #2654 "RFE: Allow summary fields for permissions to be searchable"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- API

##### SUMMARY
Summary fields are not searchable using the filters provided in AWX/Tower.

For example, when a user has a long list of permissions, it may be helpful for admins to be able to search permissions on a user by name, or type rather than just ID. At this time, this is not filterable:
[code]
##### ADDITIONAL INFORMATION
This co

[2018-11-09 21:00] sumkincpp opened #2655 "UI: Hosts/Groups Inventory view with custom column values"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
A killer-feature that will help customizing inventory view by exposing data in separate columns for each hosts/group.

Some of the examples :
 -  Template based value with column name "Management IP" and value  "{{ ansible_ssh_host }}"
 -  Template based value with column name "Role" and value  "{{ role }}"

[2018-11-09 21:04] sumkincpp commented on #553
Uploading files(FileType in Survey) is one of *must haves* for AWX, since other automation engines(i.e. Jenkins) allow to do this.

[2018-11-09 21:12] wenottingham commented on #2655
probably dependent on #278

[2018-11-09 21:25] kdelee commented on #2606
FWIW I'm still getting this bug today on branch up to date with devel

[2018-11-10 02:46] ghost commented on #2648
Correct, and same applies to other things like Users & Admin but they are still shown in Organization Views. Same applies to Workflow.

[2018-11-10 17:15] sujiar37 commented on #1958
@ryanpetrello  This issue is still reproducing in the latest version of AWX 2.1.0 . Would be better if the error message is more descriptive, so that it helps to understand that atleast an single inventory should be exist already in order to setup a job template .

[2018-11-11 05:30] tacticalrce opened #2657 "Disable User-Provided Inventory Script Functionality"
##### ISSUE TYPE
 - Security Feature Request

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
In multi-tenant/multi-project environments, multiple administrators might have access to the same awx/tower host. The Inventory Script functionality is a known method of executing code and is used by awx-core for inventory management (per #ansible-awx freenode irc).

It would be helpful for more secure

[2018-11-11 15:49] hiyokotaisa opened #2658 "RFE: Expand view for extra vars on job template page"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

There is the expand button on extra variables in Job View on current AWX release. It will show the full list of extra vars on popup.

![screenshot from 2018-11-12 00-45-37](https://user-images.githubusercontent.com/4246532/48315030-9d719080-e614-11e8-8c0e-c40af0e67720.png)

It would be great if there is same option on Jo

[2018-11-12 03:44] hiyokotaisa opened #2659 "RFE: add satellite6_want_facts to enable/disable syncing of host facts"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY

One step would be to disable sync:ing of host facts which we don't use.
Unfortunately it looks like it's hardcoded to be enabled:
https://github.com/ansible/awx/blob/devel/awx/main/tasks.py#L1929

So it would be nice to have asatellite6_want_facts parameter that could be set, similar to satellite6_want_hostcollections.

[2018-11-12 07:28] sumkincpp commented on #2658
Opened something similar - #2193, of course resizing extra_variables is useful too.

[2018-11-12 10:57] tigtigtigtig commented on #2482
I just tested with the dockerhub version 1 and it exhibits the same behaviour. This were the exact steps taken:

- checkout awx and awx-task git repository from github
- edit `installer/inventory`:
  - Change values of `awx_web_hostname` and `awx_task_hostname` to `awxhost.domain`
- run `ansible-playbook -i inventory install.yml`
- wait for database migrations
- create credential Type "Source Cont

[2018-11-12 12:21] AlanCoding commented on #466
Link active PR https://github.com/ansible/ansible/pull/48418

[2018-11-12 14:00] dsesami opened #2661 "Some operations in converging workflows causes the pending link to persist"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
On the `workflow-convergence` branch, if you click any other node when a node hasn't been fully set up (assigned a template, the RUN option set), the pending node will disappear so you can work elsewhere. However, clicking another node's + button to create a node doesn't get rid of the pending gray node, resulting in messy e

[2018-11-12 18:57] wenottingham commented on #2648
Adding API, this would need surfaced on the related fields.

[2018-11-12 19:00] flowe128 commented on #989
That really sucks.

[2018-11-12 19:15] wenottingham commented on #2658
Closing as a duplicate of #2193

[2018-11-12 19:15] #2658 closed, assigned to nobody

[2018-11-12 19:23] mjhermanson commented on #344
I also have a request for this feature.  This is useful information for at least the following use cases:
- when scheduling ad-hoc jobs
- when creating 'Smart Inventories'
- auditing the inventory
- managing licenses
- writing playbooks
- validating jobs
- troubleshooting inventory sync

Running a job without knowing the number of hosts ahead of time is dangerous and the user should have this info

[2018-11-12 19:55] unlikelyzero opened #2664 "Unable to modify a WFJT choice after initial JT selection in workflow visualizer"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Unable to modify a WFJT choice after initial JT selection in workflow visualizer

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE
1. Open up WF Visualizer.
2. Add a WFJT from 'Start'
3. Add a second WFJT from 'Start'
4. Click on the WFJT from step 2 or 3.
Note: cannot change project type

##### EXPECTED RESU

[2018-11-12 20:38] wenottingham commented on #2657
What is the issue you are concerned about? We already as far as I know run custom inventory scripts constrained with bubblewrap.

[2018-11-12 21:30] mruzicka-redhat commented on #371
@rahst12 this appears to be on the list, but there is no current ETA. If you have a TAM it would be good to raise this with them too. In either case, it might be a good idea to open a support case to request this addition, if you haven't already.  It may help the team prioritize based on customer demand.

[2018-11-13 09:20] saito-hideki opened #2666 "No effect of changing admin_user and admin_password when using docker-compose"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
When I turned `use_docker_compose` `true`, AWX installation playbook does not set `admin_user` and `admin_password` even if I changed those variables in the inventory file.

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.1
* Operating System: CentOS 7
* Web Browser

[2018-11-13 11:46] sdarwin commented on #2232
got the same results as the last messages in this thread:
- Without pound symbol, it did not work.   a few tests.
- Only change - add pound symbol.  Ok, it's fixed.
- Then, overall it is fixed. "weird but it's working now".

[2018-11-13 12:53] AlanCoding commented on #2574
For my future reference, the reason why the attempt was made to exclude empty groups in the first place was

https://github.com/ansible/ansible/pull/45621

I'm still not sure if the current criteria for exclusion is right.

[2018-11-13 12:56] AlanCoding commented on #2240
ansible-inventory seems to use the python `sorted()`

https://github.com/ansible/ansible/blob/9949629e5abef91b6fb3a09651c9fd92e9916dd3/lib/ansible/cli/inventory.py#L334

[2018-11-13 13:07] tstuber opened #2668 "Empty groups are imported as group and host when from custom script"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
We use a custom script to import the inventory. The problem is that empty ansible groups are imported as `group` AND as `host`.

##### ENVIRONMENT
* AWX version: 2.0.1
* AWX install method: docker on linux
* Ansible version:  2.7.1
* Operating System: Redhat
* Web Browser: Crome

##### STEPS TO REPRODUCE

- Set `CUSTOM_EXCL

[2018-11-13 13:39] AlanCoding commented on #2668
Actually, https://github.com/ansible/ansible/pull/45621 has some background that seems almost certainly relevant to this report.

...will need to dig into what's happening, it could be a massive combination bug with `ansible-inventory` and AWX, maybe even config options.

But let me ask the obvious question, why would you use the `#!/bin/bash` script at all? If you have the .ini file in source con

[2018-11-13 13:45] tstuber commented on #2668
@AlanCoding Thanks for the fast feedback. The reason we use a custom script is that our deployment environment does not have direct SCM access. So the ansible code is loaded via another approach and thus is not recognized as an SCM project.

[2018-11-13 14:10] dsesami commented on #2661
The initial case has been fixed, but there is a new way to do it still:
1) Create a pending node (the pending node in this screenshot).
2) Click the convergence button and make a link (the gray link in this screenshot).
![screenshot from 2018-11-13 09-09-09](https://user-images.githubusercontent.com/19942822/48418708-f3812980-e723-11e8-8682-7d56b03577e7.png)

This renders the pending node uneditab

[2018-11-13 15:29] awithrow9 commented on #3829
Think this is fixes, please test

[2018-11-13 15:29] mabashian commented on #3830
The UI should _always_ show the search bar in this modal regardless of the number of matching hosts.  This includes the initial state where a filter has not been applied.

[2018-11-13 15:40] AlanCoding commented on #3829
Tested with 3 pages of inventories, and it is not a problem there.

Will take me a minute to spin up >50 projects.

[2018-11-13 16:01] AlanCoding commented on #3829
I have made enough to re-test.

The issue still exists. Clicking on a page 3 project (while having an active selection open) redirects the list to page 1. It may also be redirecting (without prior active selection) when active status changes are coming in over websocket, but not 100% sure about that.

[2018-11-13 19:50] rahst12 commented on #371
@mruzicka-redhat What is a TAM?

[2018-11-13 20:13] rharmonson commented on #989
Agreed.

[2018-11-13 20:18] mabashian commented on #2661
Should be addressed by https://github.com/ansible/awx/commit/68830fffc5b80c73983df1ac318c1c9d8c42a470.  Clicking on the link button should remove the pending node

[2018-11-13 20:22] #2370 closed, assigned to nobody

[2018-11-13 20:34] kdelee opened #2675 "DNR not propagated to all nodes that should be marked Do Not Run causing WF job to hang"
##### ISSUE TYPE
 - Bug Report -- for WIP feature branch

Mostly documenting for posterity in case this comes back to bite us

##### COMPONENT NAME

 - API

##### SUMMARY

##### ENVIRONMENT
* AWX version: `workflow-convergence` feature branch
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Root node

[2018-11-13 20:34] kdelee commented on #2675
As mentioned, this is just to document that this was run into and fixed during feature development

[2018-11-13 20:34] #2675 closed, assigned to nobody

[2018-11-13 20:38] kdelee opened #2676 "All parents should finish or be marked DNR before convergence node runs"
##### ISSUE TYPE
 - Bug Report
Bug we ran into during development, just filing to document it for posterity in case it comes up again.

##### COMPONENT NAME

 - API

##### SUMMARY

##### ENVIRONMENT
* AWX version: `workflow-convergence` feature branch
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser

[2018-11-13 20:38] kdelee commented on #2676
As mentioned, this was fixed during development

[2018-11-13 20:38] #2676 closed, assigned to nobody

[2018-11-13 21:01] couchgott commented on #2334
Hi folks,

i just tested with Foreman 1.19.1 and awx 2.1.0 and i was able to successfully import the foreman inventory.

Maybe you want to give it a try ;)

Cheers!

D.

[2018-11-13 21:17] dsesami opened #2677 "Workflow visualizer page vanishes (but can be recovered) while building complex workflows."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
When making a complex workflow (30 nodes) with lot of links (at least 20 links between all nodes, get weird with it) the WF visualizer page vanishes and the template page is visible. However, if you then immediately click the WF visualizer button, the workflow is still there and able to be saved, and you can continue working

[2018-11-13 21:20] dsesami commented on #2661
confirmed fixed in the `workflow-convergence` branch. will reopen if i ever find another case, though :smile:

[2018-11-13 21:28] mruzicka-redhat commented on #371
@rahst12 Sorry, out of context and unrelated to this this thread. A TAM is a Technical Account Manager, which is an add on service through Red Hat.  Not required, but TAMs (I am one BTW) can help advocate on feature requests (and plenty of other things).

Also an FYI, it seems my earlier comment about it working in the API is not really accurate.  This isn't supported and may not return expected r

[2018-11-14 00:19] e-tienne opened #2678 "RFE: Customize job listings with extra fields or vars from the job template or job"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
It would be nice to customize the job listings to see from the list view a specific field or variable that was set set along with the job.

##### ADDITIONAL INFORMATION
Example: see the limit parameter to know what machines a specific playbook ran against. That custom field would be added to the list of fields seen the Jo

[2018-11-14 00:47] wenottingham commented on #2525
This can be done now for smart inventories.

Example:
`name.regex:^foo`
will pull all hosts that start with `foo`.

[2018-11-14 00:49] wenottingham commented on #2525
As for searching inventory_hostname, that would be #371.

[2018-11-14 00:49] #2525 closed, assigned to nobody

[2018-11-14 08:59] 3kami3 opened #2679 "VMware: Missing Customvalue in inventories"
VMware: Missing Customvalue in inventories

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Missing Customvalue in inventories hosts details.

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.1
* Operating System: Red Hat Enterprise Linux Server release 7.5 (Maipo)
* Web Browser: Chrome 70.0.3538.102(Official Bu

[2018-11-14 09:20] cesarfn4 opened #2680 "Improve Job Templates View"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Currently,  job templates are sorted alphabetically, and if the job templates view could be customizable, it would be great. Also, the  job template details can be fit in one row instead of taking a huge block for each of them.

[2018-11-14 12:52] kw-c commented on #2586
Below for those who need a little help (Assumes defaults) ...

docker ps … get container ID of postgres
docker exec -i -t “Container ID from above” /bin/sh
sql -U awx (Connect to Postgres database)
\l (List of Databases)
\c awx  (Change to AWX database)
TABLE conf_setting; (View table contents)
INSERT INTO conf_setting (id, created, modified, key, value) VALUES (next ID No, NOW(), NOW(), 'AUTH_LDA

[2018-11-14 13:03] makrada opened #2681 "Back button is requested on job template run"
Hello,

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

When you click the rocket button if in any step an input was incorrect, the only choice that exists currently is to cancel the current potential job and restart a new one, by having to fill in again the template from scratch.

It would be really helpful UX-wise to have a back button before the cancel button as sho

[2018-11-14 15:24] HelffCare commented on #2612
I found a workaround for the mentioned issue.
I created a custom VENV and added this to the "ANSIBLE_VENV_PATH" in the `/etc/tower/settings.py`.
With my custom VENV everything runs fine again, but AWX should be able to run the basic Ansible modules with the default ENV.
It still bothers me, that obviously no one else experiences this issue. So you can also close this bug report if it works for eve

[2018-11-14 15:28] dsesami opened #2683 "Add a loading spinner when saving a workflow in the visualizer."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Large workflows take a few seconds to save. It'd help the user in understanding that AWX is saving the workflow with a loading spinner when hitting save in the visualizer.

[2018-11-14 15:50] wenottingham commented on #2681
Can't you just click on the section header?

[2018-11-14 15:50] wenottingham commented on #2680
-> #2678

[2018-11-14 15:50] #2680 closed, assigned to nobody

[2018-11-14 15:59] gamuniz opened #2684 "Add relaunch with prompting from jobs page."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Allow for relaunching jobs with reprompting of fields so users don't have to excessively click to relaunch a job with fresh variables.

##### ADDITIONAL INFORMATION

[2018-11-14 16:03] dsesami commented on #2651
reopening for the case involving a recursive workflow where the recursion is a converged node:

![screenshot from 2018-11-14 11-02-04](https://user-images.githubusercontent.com/19942822/48494926-da987700-e7fc-11e8-9f97-75fcb20830ea.png)

[2018-11-14 16:04] wenottingham commented on #2684
This is not planned in this form; relaunch is a relaunch of that configuration of the job.

[2018-11-14 16:15] dsesami opened #2685 "Indication of deleted nodes needs to be clearer in WF visualizer."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
With very complex workflows, it is very difficult to see which nodes contain templates that have been deleted and need to be reassigned-- the dotted line border is nice but very subtle, and lack of colored highlighting at all obscures visibility, especially when zoomed out. The visual could be made clearer here.

![screens

[2018-11-14 16:37] ChuckStrut commented on #989
As the implementer of AWX our organisation I would like the flexibility of having the database on our postgres cluster. Configuring this to sit behind a reverse proxy. Scaling out components  of the AWX to different servers. Believe me i do like the docker concept for this install and works for most but we need more install options and flexibility.

[2018-11-14 16:43] dsesami opened #2687 "Large amounts of pending deleted nodes results in the call stack size exceeded"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
With complex workflows, if you delete a few nodes with lots of converged links in succession (like a few dozen), the call stack size exceeds its limit and the UI becomes unresponsive w.r.t. editing any nodes.

##### ENVIRONMENT
* AWX version: `workflow-convergence` branch
* AWX install method: docker on linux
* Ansible versi

[2018-11-14 18:02] #2612 closed, assigned to nobody

[2018-11-14 18:08] jamesmarshall24 opened #2688 "RFE: SAML Attribute Mapping to Specific Teams and Organizations"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Allow mapping of SAML attributes to map to team and organization names that do not match attribute_value.

##### ADDITIONAL INFORMATION

For example,

When mapping users with SAML attribute "ansibleOrganizations" and mapping attribute_value "developer-unix-org" to the organization "Unix Developers"
[code]

When ma

[2018-11-14 18:08] tacticalrce commented on #2657
I guess it depends on the deployment method. Using the Docker directions (https://github.com/ansible/awx/blob/devel/INSTALL.md#docker-or-docker-compose), it results in a root shell within the awx_task container.

I know it's contained within the docker container, but it would easily allow for the creation of a backdoor within that image or any number of subversive actions for the system. This does

[2018-11-14 18:35] TwoTwenty opened #2689 "winrm connection fails awx2.1.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

We could connect to our windows stations on 2.0.1 fine
as soon as we upgraded to 2.1.0 ansible could no longer connect to windows winrm
even though winrm was specified awx tried to connect to these servers with ssh

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible v

[2018-11-14 19:42] wenottingham commented on #2689
Can you debug whether those vars are properly set on the host when the playbook runs?

[2018-11-14 19:47] wenottingham commented on #2689
I believe this is a duplicate of #2574 - the variables are not properly being assigned to the hosts (a known issue in 2.1.0).

[2018-11-14 19:47] #2689 closed, assigned to nobody

[2018-11-14 19:50] wenottingham commented on #2688
While keeping this open, we recommend to have the team names match, or doing this translation on the SAML provider.

[2018-11-14 20:00] wenottingham commented on #2657
The process containment we use is disabled for local docker as it cannot work there without it being a privileged container; it is used for openshift/minishift and kubernetes installs.

If the concern is constraining users with the system administrator privilege, the proposed setting would not help; a system admin could still
- disable process containment
- create a new project populated with a pl

[2018-11-14 20:15] tacticalrce commented on #2657
An application administrator shouldn't by default be able to get shell access to the host itself. Being able to toggle that flag as part of the UI seems like a concern in itself.
Being able to disable user-provided inventory scripts and prevent isolation modifications should only be done via file editing.

[2018-11-15 04:50] hiyokotaisa opened #2693 "RFE: Specify the cache max_age for Satellite 6 Inventory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

foreman.ini can specify the cache max_age in the following section:
https://github.com/ansible/ansible/blob/devel/contrib/inventory/foreman.ini#L157

But as far as I can see cache max_age is set to 0 on AWX (so effectively disabled and hard coded): https://github.com/ansible/awx/blob/devel/awx/main/tasks.py#L1955

[2018-11-15 05:29] rahst12 commented on #371
@mruzicka-redhat I have heard of a TAM then...  Our sales rep said we need to work with him/her because we've got 7 GitHub issues that would be very very helpful to us if implemented:

Add IP/FQDN to Hosts Tables  |  https://github.com/ansible/awx/issues/662
UX improvement: Increase visibility of the ad hoc command feature.  |  https://github.com/ansible/awx/issues/612
Incorrect opacity on SMART I

[2018-11-15 05:31] joshuaclausen commented on #1966
As a note, both for future searchers and hopefully to help inform future efforts - I found if I added a var to the group in my SCM-based inventory file, it would no longer be "empty", so it would not be auto-removed.  I named mine "filled_by_dynamic_inventory: true" - yay for overdescriptive variable names.

I was mashing up dynamic inventories and static project-sourced inventory files, where my

[2018-11-15 08:44] cpatry-poly commented on #2636
Thanks !

My gosh, no need to apology :-) .

[2018-11-15 09:18] srgvg commented on #1487
@Comradephate I'm experiencing this behaviour too (2.1). How do you work around or resolve this?

[2018-11-15 12:02] marcingarstka opened #2694 "Missing WINRM in AWX docker 2.1.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY

Unable to connect to Windows machine from AWX.
I am using http and basic authentication using local account on windows machine (no kerberos/AD authentication)

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.1
* Operating System: CentOs
* Web Browser: Chrome

####

[2018-11-15 14:01] benapetr commented on #2279
I am having similar problem, I used inventory variables to define jump host but I see literally no change, just as if these variables were ignored.

How can I debug that AWX is even trying to use jump host instead of going there directly?

[2018-11-15 14:42] dsesami commented on #2661
Reopening this for the `workflow-convergence` branch currently, click a node for convergence, don't set its RUN value, and click the convergence of another node instead and it persists and starts another link:
![screenshot from 2018-11-15 09-42-15](https://user-images.githubusercontent.com/19942822/48559955-c2872d00-e8ba-11e8-8f38-39eb81478db8.png)

[2018-11-15 15:06] tigtigtigtig commented on #2482
The awx_task container is producing errors also:
[code]

[2018-11-15 15:09] dsesami commented on #2687
in addition, in some cases after deleting a lot of nodes, we get an "cannot read xx property" error when trying to click the red delete confirmation button at a certain point (perhaps due to buildup?)

![screenshot from 2018-11-15 10-06-46](https://user-images.githubusercontent.com/19942822/48561698-86ee6200-e8be-11e8-91c0-2be474fcd949.png)

[2018-11-15 15:15] dsesami commented on #2683
This has been added to the `workflow-convergence` branch.

[2018-11-15 15:15] #2683 closed, assigned to nobody

[2018-11-15 15:29] wenottingham commented on #2279
If you/re on 2.1, you may just be hitting #2574

[2018-11-15 15:31] wenottingham commented on #2693
This is intentional, inventory refreshes are intended to be a full refresh regardless of source. If we were to introduce caching, it would not be at the level of an individual source.

[2018-11-15 15:31] #2693 closed, assigned to nobody

[2018-11-15 15:48] kdelee commented on #2252
closed by https://github.com/ansible/awx/pull/2352

[2018-11-15 15:48] #2252 closed, assigned to AlanCoding, jladdjr, marshmalien

[2018-11-15 15:58] jtdev08 commented on #2279
I'm not using groups. I have 1 host specified in inventory on AWX UI.

[2018-11-15 16:05] 514amir commented on #2684
The endgame issue is that upon debugging a job and realizing you need to make a single change to what might be a complex set of inputs to the prompts, there is no actual way to bring up the launch window as used was for this particular job and edit a specific item.

Its either relaunch the exact same job or start from scratch.

[2018-11-15 16:07] 514amir commented on #2678
I'll add the comment from the related issue that the job listing could be compressed into a single row perhaps.... a lot of (unnecessary?) white space

[2018-11-15 16:12] 514amir commented on #2684
Also the factor of the amount of clicks, and scrolling, it takes to get the new launch from scratch (if you choose to go that route)

[2018-11-15 16:49] kdelee commented on #2255
This is done from my perspective

[2018-11-15 16:49] #2255 closed, assigned to rooftopcellist, kdelee

[2018-11-15 17:19] lsantiag86 opened #2698 "Playbook runs fine locally, but in Tower it says file doesnt exist"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have a playbook that works fine locally but when I put it in tower, it tells me a file doesn't exist, but it does. I added the path to "expose to isolated jobs" and I even tried turning off "enable job isolation" in tower but it still fails with same error. I assume its a permission thing, but I tried adding a few different things to my playbook incl

[2018-11-15 19:33] dsesami opened #2699 "Upper tabs in workflow visualizer for jobs, projects, inventories not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
** This is in the `workflow-convergence` branch **
f
Simply put, in the workflow visualizer when clicking a node in any way, there are three buttons at the top for jobs, project sync, and inventory sync. these buttons aren't working. So you remain stuck on the JOBS page.
![screenshot from 2018-11-15 14-28-12](https://user-im

[2018-11-15 19:59] dsesami opened #2700 "a deleted template that was previously a converged node causes jobs to stall when run"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
See the below screenshot, make a workflow template that looks like this, where DELETED Is a deleted template that was previously there. When run, it goes indefinitely.

![screenshot from 2018-11-15 14-56-52](https://user-images.githubusercontent.com/19942822/48578187-fd06bf00-e8e6-11e8-8933-303618bdf776.png)

##### EN

[2018-11-15 21:20] rooftopcellist opened #2701 "clear expired sessions periodically"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - API

##### SUMMARY
Currently, once a user's session is expired it hangs around in the db indefinitely, or until the admin runs `awx-manage clearsessions` manually.

This should default to clearing expired sessions once a week.  Additionally, expired OAuth2 access tokens should also be cleared out.

##### ADDITIONAL INFORMATION

This schedu

[2018-11-15 21:28] wenottingham commented on #2701
Note that ^ doesn't *default* to doing that; it essentially hardcodes it. (That may still be OK).

[2018-11-15 21:35] rooftopcellist commented on #2701
True.. @wenottingham I think this may be better as a System Job/Management Job, like `Cleanup Activity Stream`.  That way users are aware of it, and can disable it if they want.

[2018-11-15 21:37] wenottingham commented on #2701
If we're in the system job mood, we probably want system jobs for `expire_sessions` and `revoke_oauth2_tokens`...

[2018-11-16 04:59] iTraceur commented on #2276
@ghjm @ryanpetrello I found my mistake and fixed this issue. because I tried to change the CACHE settings from "django.core.cache.backends.memcached.MemcachedCache" backend to "django_redis.cache.RedisCache" backend, and when I changed back it turned to working well.

[2018-11-16 09:27] saito-hideki commented on #2666
PR #2667 has merged. I'll close this out.
Thanks :)

[2018-11-16 09:27] #2666 closed, assigned to nobody

[2018-11-16 10:08] UristMcMiner commented on #2525
@wenottingham is it possible to use advanced regex constructs like capturing groups? I tried this, and no matter how i try to escape characters it just fails

[2018-11-16 13:34] AlanCoding commented on #2403
Resolved with https://github.com/ansible/awx/pull/2686

[2018-11-16 13:53] mabashian commented on #2661
https://github.com/ansible/awx/commit/8477d96b7069a5e2cc03966e67e9c09c0c25a93c should address https://github.com/ansible/awx/issues/2661#issuecomment-439063083

[2018-11-16 13:54] mabashian commented on #2699
Should be addressed by https://github.com/ansible/awx/commit/8477d96b7069a5e2cc03966e67e9c09c0c25a93c

[2018-11-16 13:57] AlanCoding commented on #1970
Thanks for giving feedback on this. As @ghjm detailed, the way to obtain this behavior now is to set `ALLOW_JINJA_IN_EXTRA_VARS=always`.

Also, we just merged a feature into current devel that allows use of workflows inside of other workflows. That is a complicating factor for any further configuration options, because there may be multiple _layers_ of workflow variables, and it would be monumenta

[2018-11-16 13:58] mabashian commented on #2664
I haven't been able to reproduce this one.  A lot has changed in the last four days and this bug may have been fixed.  @unlikelyzero @dsesami are you all able to reproduce this with the most recent code changes?

[2018-11-16 14:03] chrismeyersfsu commented on #2698
@lsantiag86 This feels like a `cwd` issue. Can you provide more of the original playbook? There are inconsistencies in the summarized version. i.e. `- /tmp/output_prod.csv` is hard coded in the example playbook but the error is saying the file is `output_dev.csv`. Further, the error is a relative path `output_dev.csv` instead of an absolute path `/tmp/output_dev.csv`. I checked to make sure the ma

[2018-11-16 14:07] dsesami commented on #2699
Confirmed repaired by `8477d96`.

[2018-11-16 14:07] #2699 closed, assigned to nobody

[2018-11-16 14:08] dsesami commented on #2664
Haven' seen this reproduced at all. I'll defer to @unlikelyzero on final call.

[2018-11-16 14:12] #2276 closed, assigned to nobody

[2018-11-16 14:12] ryanpetrello commented on #2276
@iTraceur yea, the usage of memcached is intentional - don't do that 😄

[2018-11-16 14:15] dsesami commented on #2661
Confirmed fixed in the `workflow-convergence` branch.

[2018-11-16 14:15] #2661 closed, assigned to mabashian

[2018-11-16 14:19] srgvg opened #2705 "Worker nodes not registering and not executing any jobs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - Celery task workers

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: openshift
* Ansible version:  2.7
* Operating System: Centos (ansible docker images)

##### STEPS TO REPRODUCE

I'm having similar issues with AWX 1.7, but it really persist on a new deploy with 2.1.0
It's starting to become apparent during

[2018-11-16 14:30] ryanpetrello commented on #2705
@srgvg,

In the celery container, can you run:

`awx-manage shell_plus`

..and at the prompt, type `settings.SYSTEM_TASK_ABS_MEM` ?

[2018-11-16 14:43] ryanpetrello commented on #2705
@srgvg we currently have code in the latest awx that looks at total system memory and uses that as a guide to determine how many worker processes (what size the pool should be).  In your case, your traceback suggests that the `max_workers` value is being set to _zero_.  I've tried to replicate this by _forcibly_ setting the `max_workers` value to zero in my environment, and I get the same tracebac

[2018-11-16 14:49] FrederikSuijs commented on #1970
Hi @AlanCoding , can you refer to the commit number where you are adding this extra functionality? So I can follow when it is released in stable.

[2018-11-16 15:22] AlanCoding commented on #1970
The commit where the functionality to _disallow_ jinja2 templating in these conditions was:

7074dcd677be72718dd5e0c490635c5cd9862f64

Again, you can re-allow it by changing that above setting. This setting is available in the UI, you just need to be superuser to change it. This issue's expectation is:

Does say much more than "unapply that prior change", and we definitely cannot do that.

One opt

[2018-11-16 15:58] dsesami opened #2708 "Add a confirmation modal when closing the workflow visualizer without saving."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
I would hate to close the workflow visualizer accidentally after making several changes. A simple modal that asks "Are you sure you want to close the visualizer and abandon your changes?" is appropriate here.

[2018-11-16 16:04] dsesami commented on #2700
assigning @mabashian to this, but if you feel it is appropriate to reassign, feel free.

[2018-11-16 16:24] dsesami commented on #2677
haven't seen this since, marking as unreproducible.

[2018-11-16 16:24] #2677 closed, assigned to nobody

[2018-11-16 17:11] kdelee opened #2709 "Feature: Add launch button to details view of job template"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

When I click on the detail of a job temlate/workflow job template in the Templates view, the editable details appear at the top of the page. If I have multiple pages of templates and this one does not happen to be on the first page, there is no way for me to launch the template from this page. I can look through the late

[2018-11-16 17:49] fedelemantuano opened #2711 "What happen when I run multiple jobs at same time on the same host?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Job Template

##### SUMMARY
I can't understand what happen when I run multiple jobs at same time on the same host.
I'd like to understand what happen if I can the same job template or different job template on the same server.
From logs I can see that AWX makes a queue for task. I know that I can remove concurrent jobs from GUI of job templat

[2018-11-16 18:22] wenottingham commented on #2708
This is a variation on #1267

[2018-11-16 18:33] wenottingham commented on #2709
-> #1991

[2018-11-16 18:33] #2709 closed, assigned to nobody

[2018-11-16 18:36] kdelee opened #2712 ""TOTAL JOBS" field on WFJ view does not reflect number of jobs in WF, instead it is the number of nodes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When I look at the detail of a WFJ, there is text that indicates the "TOTAL JOBS" a WF had in it. It is not accurate, it displays the number of nodes in the WF, not the number of jobs actually run.

##### ENVIRONMENT
* AWX version: `workflow-convergence` feature branch
* AWX install method: docker on linux
* Operating Syst

[2018-11-16 18:58] geauxvirtual opened #2714 "Feature: Support deploying on Kubernetes with Istio Service Mesh"
##### ISSUE TYPE
 - Feature Idea
Support deploying AWX on a Kubernetes cluster running an Istio Service Mesh with Sidecar Injection.

##### COMPONENT NAME
 - Installer

##### SUMMARY

As the installer stands today, the AWX pod will not start on a Kubernetes cluster running an Istio Service Mesh that automatically deploys sidecars with each deployed pod.
There are two parts to this:
1. Getting an A

[2018-11-16 19:14] unlikelyzero commented on #2712
@trahman73 can this one get moved into 3.4.0? "Total Nodes"

[2018-11-16 19:34] trahman73 commented on #2712
@unlikelyzero If we can move it into 3.4, we'll just have to let @tvo318 know for any possible docs screen changes.

[2018-11-16 20:02] dsesami commented on #2687
confirmed fixed in `workflow-convergence`

[2018-11-16 20:02] #2687 closed, assigned to mabashian

[2018-11-16 20:59] dsesami commented on #2708
closed as this is fully duplicated

[2018-11-16 20:59] #2708 closed, assigned to nobody

[2018-11-16 22:14] unlikelyzero opened #2720 "Edit Workflow Visualizer button is missing from Edit Workflow Job Template View"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Edit Workflow Visualizer button is missing from Edit Workflow Job Template View

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE
1. Create a new WFJT

##### EXPECTED RESULTS

`Workflow Visualizer` button

##### ACTUAL RESULTS

No Button. Re-used Network UI icon is available on Templates List.

##### ADDITION

[2018-11-16 22:15] unlikelyzero commented on #2720
@trahman73 this is the awx ticket to track adding the button back

[2018-11-16 22:22] unlikelyzero opened #2721 "Deleting an Inventory attached to a workflow doesn't warn the user about attached Workflow Job Templates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Deleting an Inventory attached to a workflow doesn't warn the user about attached Job Templates

##### ENVIRONMENT
* AWX version: 3.4.0

##### STEPS TO REPRODUCE

1. Attach an Inventory to a WFJT
2. Navigate to the Inventory Resource Page
3. Delete the Inventory associated with the WFJT in step 1
Note that the warning

[2018-11-16 22:42] unlikelyzero opened #2722 "Launching a WFJT from the Jobs list doesn't launch the Workflow Job Details"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Launching a WFJT from the Jobs list doesn't launch the Workflow Job Details

##### ENVIRONMENT
* AWX version: 3.4.0-workflow_inventory

##### STEPS TO REPRODUCE

1. Launch a WFJT
2. Navigate to the Jobs List
3. Relaunch same WFJT

##### EXPECTED RESULTS
1. Expect to be navigated to the Workflow Job Details

##### ACTUAL RESU

[2018-11-16 22:49] unlikelyzero opened #2723 "From the Inventory / Completed Jobs View, WFJT with Inventories are listed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
From the Inventory / Completed Jobs View, WFJT with Inventories are listed

##### ENVIRONMENT
* AWX version: 3.4.0-workflow-inventory

##### STEPS TO REPRODUCE
1. Create a WFJT with an associated Inventory
1. Run WFJT
1. Navigate to the associated Inventory / Completed Jobs Tab
Note: No listed WFJT from step 2

[2018-11-16 22:55] unlikelyzero opened #2724 "Inventory Job Success Bulb doesn't list WFJT with associated Inventories"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Inventory Job Success Bulb doesn't list WFJT with associated Inventories

##### ENVIRONMENT
* AWX version: 3.4.0-workflow-visualizer

##### STEPS TO REPRODUCE
1. Run a WFJT with an associated Inventory
1. Navigate to the Inventory Resource Page
1. Hover over the Job Success bulb
Note: the Job Success bulb doesn't list WFJT

[2018-11-16 22:58] unlikelyzero opened #2725 "Job History popup is obscured by navbar for Hosts on the Inventory->Host page"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Job History popup is obscured for Hosts on the Inventory / Host page

##### ENVIRONMENT
* AWX version: 3.4.0
* Operating System: macOS
* Web Browser: Firefox and Chrome

##### STEPS TO REPRODUCE

1. Run a JT with an associated Host
1. Navigate to the Inventory / Host view
1. Click on the Job Status bulb

##### EXPECTED RESUL

[2018-11-16 23:51] unlikelyzero opened #2727 "Parent WFJT Surveys apply extra_vars to child Job Types in inconsistent ways"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Parent WFJT Surveys apply extra_vars to child JTs, SJTs, and WFJTs in inconsistent ways.
- Child SJTs inherit Parent WFJT Surveys as extra_vars even if Child SJT has extra_var prompting disabled. Each slice inherits the surveys as extra_vars.
- Child JTs inherit Parent WFJT Surveys as extra_vars even if Child SJT has extra_

[2018-11-16 23:56] jakemcdermott commented on #2720
@unlikelyzero this is expected behavior - see https://github.com/ansible/awx/issues/2325

[2018-11-17 00:01] jakemcdermott commented on #2722
@unlikelyzero this is expected behavior for all job types on the job list. We do it this way to make it easier to launch multiple jobs from this view.

[2018-11-17 00:01] #2722 closed, assigned to jakemcdermott

[2018-11-17 00:17] unlikelyzero commented on #2720
I think we're going to change it back

On Fri, Nov 16, 2018, 18:56 Jake McDermott <notifications@github.com> wrote:

[2018-11-17 05:17] ryan012880 commented on #2586
did a fresh install (using image build) and drop down still not showing. thanks

[2018-11-17 05:43] tendey opened #2728 "tower run failed but command run success"
Hi.
my playbook:
- hosts: all
  user: root
  become: true
  tasks:
    - name: file-copy
      copy:
        src: /root/tmp3
        dest: /root/tmp4
        owner: root
tower sys is ubuntu 16.04
remote sys is centos 7
I run at command window:
![image](https://user-images.githubusercontent.com/8463924/48657575-d32bd480-ea6d-11e8-897a-2157d421fab6.png)
when I run at tower
![image](https://user-imag

[2018-11-17 07:23] ryan012880 commented on #2448
@wenottingham is there a way or workaround to modify the existing user login authentication method e.g. from local to LDAP, that way I don't need to delete them ? thanks

[2018-11-17 08:11] kladiv commented on #2086
+1

[2018-11-17 09:33] ryan012880 commented on #2586
Sorry my bad forgot to cleanup, this is working for me. Thanks

[2018-11-17 09:40] #2586 closed, assigned to kialam

[2018-11-17 12:58] ryan012880 commented on #2379
Closing this issue since dashboard is working after a fresh install with latest merge of AWX 2.1.0

[2018-11-17 12:58] #2379 closed, assigned to nobody

[2018-11-17 13:06] weiyentan commented on #1559
I have a similar kind of issue. In my case I have updated the roles in my case install_pswindows_psmodule. I updated this role and zipped it up into a tar ball into a web server for consumption by AWX.
But in the logs I saw that it saw that the role was already installed  and did not need to be updated.

The ansible galaxy command is:
"ansible-galaxy install -r requirements.yml -p /var/lib/awx/pro

[2018-11-17 13:13] ryan012880 commented on #2533
@jakemcdermott @kialam  today I tried rebuilding a new container image with the latest merge and I don't see this issue anymore. But this time I did a ```make clean``` before the installation. Thanks

[2018-11-17 13:35] #2533 closed, assigned to kialam

[2018-11-17 15:24] AlanCoding commented on #2727
This is picking up a conversation which was last active here:

https://github.com/ansible/awx/issues/497#issuecomment-370778213

SJTs are JTs, so yes, behavior for both of these should be the same.

Yes, this is very detailed documentation of the current and intended behavior. Couldn't have written it better myself.

Workflows "should" not pass variables to jobs they spawn if the JT doesn't prompt

[2018-11-18 12:09] knipknap opened #2731 "Trigger AWX workflows from external events"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY

Is it possible to trigger workflows from an event source, like a syslog message or a message on an AMQP bus? I am looking for a solution that is configurable in the AWX user interface and that does not require an already-running workflow.

In other words, I want to allow users to create a listener that waits for an extern

[2018-11-18 16:44] AlanCoding opened #2733 "New Activity Stream entries for inventory update creation missing links"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
[background]

A change happened recently (I still don't know the source of it) that caused activity stream entries to be produced for creation of inventory updates. (i.e. the action of updating an inventory)

[bug]

These entries are not hooked up to show and link the related inventory update.

##### ENVIRONMENT
* AWX

[2018-11-18 16:49] AlanCoding commented on #2733
Discovered origin of the change:

[code]

In unified jobs, `create_unified_job`, `activity_stream_create` is new.

[2018-11-19 02:45] wtcross commented on #1519
@EmadMokhtar, @wenottingham  - The above PR has changes that made CORS requests work for me. I haven't done Django development in a while and would appreciate review. I wanted to add `django-cors-headers` to the project, but still require users to manually enable CORS in `/etc/{awx,tower}/settings.py`.

[2018-11-19 03:11] tinohean commented on #2533
It will be awesome if the offical docker images of awx_web is updating

[2018-11-19 07:22] srgvg commented on #2705
Same for both setups:
[code]

I didn't keep the awx installer's `inventory` (I deploy based on a yaml file we keep versioned now), so I don't know how, but ` SYSTEM_TASK_ABS_MEM` somehow got set to 0, which seems to be the now obvious culprit of all my problems. `/slap self`

I should note that this setting applies to both setups (1.0.7.2 preprod, which mostly works, until it doesn't and then rest

[2018-11-19 10:27] amit-prayag opened #2735 "Getting "ERROR! no action detected in task" while executing ansible playbook in AWX"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

While executing the job template (Ansible Playbooks), from AWX GUI, get the following error:

===================================================================
ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path.
2
3
The error appears to have been in '/var/lib/awx/pr

[2018-11-19 13:36] ryanpetrello commented on #2735
@amit-prayag,

The error message you're seeing here suggests you've got an error in your playbook's syntax, or that you're using syntax that's not supported in the installed version of Ansible.  This issue tracker is for tracking issues in AWX itself.

...suggests that the issue is _likely_ in your playbook itself, not AWX.

It you need help debugging Ansible playbooks, please take a look at Ansib

[2018-11-19 13:36] #2735 closed, assigned to nobody

[2018-11-19 14:19] ryanpetrello commented on #2705
@srgvg sounds good - if adjusting `SYSTEM_TASK_ABS_MEM` doesn't help, let us know.  In the meantime, I've merged a change that will help prevent mistakes like this: https://github.com/ansible/awx/pull/2707

[2018-11-19 14:19] #2705 closed, assigned to nobody

[2018-11-19 14:26] srgvg commented on #2705
So far, everything seems to work as expected... Thanks for the pointers.

[2018-11-19 14:39] dsesami commented on #2651
confirmed fixed in the workflow-convergence branch.

[2018-11-19 14:39] #2651 closed, assigned to mabashian

[2018-11-19 15:04] AlanCoding commented on #2733
no longer needed

[2018-11-19 15:04] #2733 closed, assigned to ryanpetrello

[2018-11-19 15:13] wenottingham commented on #2448
I don't know. CC @chrismeyersfsu

[2018-11-19 15:22] lsantiag86 commented on #2698
@chrismeyersfsu here is my entire playbook

#DEV

- name: run cipa on the node that has it installed and get details on dev
  delegate_to: '{{ delegate_host }}'
  environment:
    http_proxy: '{{ http_proxy_host }}'
    https_proxy: '{{ https_proxy_host }}'
  shell: cipa --no-border -H idm01, idm02, idm03, idm04, idm-admin -d ipa.dev.redhat.com -W '{{ dm_pw_dev }}' > /tmp/output_dev.csv
  register

[2018-11-19 15:26] dsesami opened #2739 "Root node link in WF visualizer can be edited to run on success or failure (undefined behavior) instead of only being set to "always"."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
`workflow-convergence` feature branch.
Root node links can and should only be set to run "always", as they are the first step in the workflow. However, inserting a pending node before a root node, then canceling the pending node, makes the link selectable and editable, allowing you to run it on success or failure as though i

[2018-11-19 15:32] wenottingham commented on #2731
Use the REST API and the workflow launch bits.

https://github.com/ansible/tower-nagios-integration is an example with nagios.

[2018-11-19 15:32] #2731 closed, assigned to nobody

[2018-11-19 15:43] mabashian commented on #2739
Should be fixed by https://github.com/ansible/awx/commit/e1580318dd9bcac3331ff6aac9a291832be911f5

[2018-11-19 16:59] mabashian opened #2744 "Superuser unable to remove optional org from workflow job template in UI"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

##### ENVIRONMENT
* AWX version: head of devel

##### STEPS TO REPRODUCE
1. Log in as superuser
2. Create a workflow and provide an org
3. Attempt to remove the org by clearing it out of the input

##### EXPECTED RESULTS
Since org is not a required field for superusers they should be able to successfully remove the org at a

[2018-11-19 18:20] wenottingham commented on #2231
fixed by #2646

[2018-11-19 18:20] #2231 closed, assigned to nobody

[2018-11-19 18:26] AlanCoding commented on #2043
I can confirm that I am able to reproduce this.

![screen shot 2018-11-19 at 1 23 16 pm](https://user-images.githubusercontent.com/1385596/48726841-8a575580-ebfe-11e8-90c7-c22bbb024bc6.png)

This is the UI after saving, but if you reload, you get the message again.

The API actually accepts the data here, and therein lies the problem, it seems.

variables from API:

[code]

[2018-11-19 19:25] mabashian commented on #2428
UI will now use a PATCH instead of a PUT when updating a workflow job template.  Corresponding commit is [here](https://github.com/ansible/awx/pull/2745/commits/1d7d2820fd70946fa978706880daee20b288ddb4)

[2018-11-19 19:25] #2428 closed, assigned to nobody

[2018-11-19 19:25] mhurron commented on #2642
Is there a new issue open for the second bug yet?

[2018-11-19 19:31] AlanCoding commented on #2642
@oekotaco could you give me any more information to reproduce the 2nd error you gave in the pastbin text? Was it by the same steps where you had a workflow with 5 JTs?

Did the Workflow job template have variables set? Did the JTs prompt for variables? Were they all root nodes? Did you launch it manually?

[2018-11-19 19:42] AlanCoding commented on #2727
Also see:

https://github.com/ansible/awx/pull/2342/files#diff-bfd7ef4b08d27476c9dd4c578cb5a4d4R185

[2018-11-19 20:04] jlmitch5 opened #2752 "copying credential with really long name causes 500"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
If you try to copy a credential with a really long name you get a 500 error

##### ENVIRONMENT
* AWX version: devel

##### STEPS TO REPRODUCE

1. create aws credential with name "awsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsawsaw

[2018-11-19 20:21] dsesami commented on #2739
fixed by latest commits in `workflow-convergence`

[2018-11-19 20:21] #2739 closed, assigned to mabashian

[2018-11-19 20:29] mhurron commented on #2642
I can add some information here, seeing the same issue after seeing the original issue and applying the linked patch

Did the Workflow job template have variables set? - Yes
Did the JTs prompt for variables? - No
Were they all root nodes? - No
Did you launch it manually? - Yes and No. Looks like every job 'hangs' with this error now no matter how it was started.

[2018-11-19 20:33] unlikelyzero commented on #2721
Verified:
JT and WFJT are listed separately
JT and WFJT counts are correct
JT and WFJT counts above 50
Can delete inventory assigned to both WFJT and JT.
Can delete over 100 associations at a time

[2018-11-19 20:33] #2721 closed, assigned to jakemcdermott

[2018-11-19 20:58] unlikelyzero commented on #2723
Verified:
Create a WFJT, SJT, and JT which source an inventory and verify those JTs are listed on Inventory / Completed Jobs
Pagination testing

Note: Full page refresh when using pagination. thoughts @jakemcdermott ?

[2018-11-19 20:58] #2723 closed, assigned to jakemcdermott

[2018-11-19 21:00] #2724 closed, assigned to jakemcdermott

[2018-11-19 21:01] unlikelyzero commented on #2720
Both werk

[2018-11-19 21:01] #2720 closed, assigned to nobody

[2018-11-19 21:34] unlikelyzero commented on #2526
@mabashian anyway we can knock this out in devel?

[2018-11-19 21:47] wenottingham commented on #1893
-> https://github.com/ansible/awx/issues/2238

[2018-11-19 21:47] #1893 closed, assigned to nobody

[2018-11-20 03:33] #2305 closed, assigned to kialam

[2018-11-20 03:35] jakemcdermott commented on #1283
please see linked issues for additional info, user stories, etc. if needed.

[2018-11-20 03:38] #2333 closed, assigned to nobody

[2018-11-20 05:27] amit-prayag commented on #2735
I have updated the ansible version to 2.7.5 and Python version to Python 3.6.5, but get the following python error (AttributeError: module 'enum' has no attribute 'IntFlag'
) in AWX, while syncing the created project in AWX with GitHub Repository using URL, as listed below.
**************************************************************************************************************
1
Traceback (m

[2018-11-20 09:38] tendey commented on #2728
I used the playbook,it still failed
---
- hosts: all
  user: root
  become: true
  tasks:
    - name: file-copy
      copy:
         src: /root/tmp2
         dest: /root/tmp3
         owner: root
         group: root
         mode: 0644

[2018-11-20 11:25] akcrisp opened #2757 "selinux update breaks awx"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
We have done an yum update on our host running the awx docker containers. Since doing that selinux is preventing rabbitmq and other components from starting.

Can someone advise if this is a known issue with the below selinux update ? is there aware to recover the permissions ? looking in the /etc/selinu

[2018-11-20 13:25] AlanCoding commented on #2642
I tried to replicate this, no luck so far. I am certainly staring at this piece of code, trying to think of any way it might have gone wrong.

https://github.com/ansible/awx/blob/e36335f68c0abf1ee17d4726b03a92b2a3331115/awx/main/models/unified_jobs.py#L911

I just can't figure out how this can happen right now.

[2018-11-20 13:25] AlanCoding commented on #2256
done

[2018-11-20 13:25] #2256 closed, assigned to AlanCoding, jakemcdermott, mabashian, kdelee

[2018-11-20 14:25] jakemcdermott commented on #2325
done

[2018-11-20 14:25] #2325 closed, assigned to jakemcdermott, mabashian

[2018-11-20 15:09] kialam commented on #2551
This should be fixed upstream already.

[2018-11-20 15:11] ryanpetrello commented on #2728
@tendey by default, AWX uses `bubblewrap` to prevent playbooks from accessing certain portions of the file system (for security purposes).  To confirm that this is what you're encountering, try disabling the `Enable Job Isolation` setting under `Setting -> Jobs`.

It's also possible to whitelist certain paths instead of turning this feature off entirely.  Have a look at this document and see if it

[2018-11-20 15:40] AlanCoding opened #2760 "Workflow node activity stream does not link to workflow"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
No links for workflow node edits

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

edit workflow nodes

view activity stream

##### EXPECTED RESULTS

lots 'o l

[2018-11-20 16:17] AlanCoding commented on #2554
I have received word that this is an API issue instead

[2018-11-20 17:14] amit-prayag commented on #2735
Does AWX version: 1.0.8.0 support the following environment?
 (1) Ansible 2.7.1, and
 (2) Python 3.6.5

Is the error "
AttributeError: module 'enum' has no attribute 'IntFlag'" specific to Pythin 3.6.5?

Any fix available?
Thank you.

[2018-11-20 18:18] wenottingham commented on #2735
AWX certainly doesn't support being run with python 3.6 at this point.

We have not tested an install where the ansible install is using python 3.

[2018-11-20 18:38] matburt commented on #2757
Seems like a conflict with the selinux policy and the docker daemon on the filesystems. Where did you get your docker packaging from?

[2018-11-20 19:01] akcrisp commented on #2757
Blimey going back I think from Redhat repo what I haven’t checked actually is if docker was updated as part of the os patching.

I am wondering if there’s issue with the selinux policies rpm

Anything you want me to try and run and put on github ticket to help diagnose it ?

Cheers for replying matt - appreciated

Andy

Sent from my iPhone

[2018-11-20 19:49] AlanCoding opened #2766 "Nested workflow jobs with failure connections are very slow"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Workflow job failure connections take a long time to run.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create a workflow with a long chain of failure nod

[2018-11-20 21:26] jlmitch5 commented on #3829
The issue here is that the search query params do not get added to the url when the link is clicked.  this is also true of the templates (and would be true of all new-style lists defined in features).

it is not true of the inventories list.  Trying to figure out what to change to propagate that query param.

[2018-11-20 21:30] mhurron commented on #2642
for field_name, value in kwargs.items():
            if field_name not in valid_fields:
                raise Exception('Unrecognized launch config field {}.'.format(field_name))

So obviously there is a field name in items that is not viewed as a valid field. I threw in some print statements -

        for field_name, value in kwargs.items():
            if field_name not in valid_fields:

[2018-11-20 22:08] savealive opened #2769 "All task names printed as "TASK [Gathering Facts]" on second and further host in play."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
All task names printed as "*TASK [Gathering Facts]*" on second and further host in play.
##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: kubernetes
* Ansible version:  2.7.1
* Operating System:
* Web Browser: Safari, Chrome

##### STEPS TO REPRODUCE

Run a job against inventory containing 2 or more hosts.
On fi

[2018-11-20 23:09] kialam opened #2770 "UI Karma Tests failing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

Running tests on `devel` results in 76 failures.
<img width="978" alt="screen shot 2018-11-20 at 6 06 26 pm" src="https://user-images.githubusercontent.com/2293210/48808537-31b3b580-ecef-11e8-9a87-ab097c0787ae.png">

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: openshift, minishift, docker on linux, docker

[2018-11-21 01:47] tendey commented on #2728
Tower file :
![image](https://user-images.githubusercontent.com/8463924/48813180-b72b7a00-ed70-11e8-91ef-35dac64a0429.png)
I want copy to this:
![image](https://user-images.githubusercontent.com/8463924/48813197-d1fdee80-ed70-11e8-9332-71772bba11e1.png)
my playbook:
![image](https://user-images.githubusercontent.com/8463924/48813286-273a0000-ed71-11e8-895a-4c47147331ae.png)
I run at command line a

[2018-11-21 02:16] jakemcdermott commented on #2770
Having trouble reproducing this one on devel. Starting with a fresh checkout, I ran:

[code]

and saw these results:

[code]

A quick scan of [recent unit test runs in zuul](https://github.com/ansible/awx/pull/2772#issuecomment-440500772) show consistently passing results as well.

I'm not entirely certain, but the tracebacks you've provided make me wonder if your local environment is out of sync

[2018-11-21 02:42] AlanCoding commented on #2642
Well that's interesting. I'll have to try again some permutations with inventory sources in workflows.

Thanks for digging into this.

[2018-11-21 05:44] tendey commented on #2728
I got the exception detail：
    "exception": "Traceback (most recent call last):\n  File \"/usr/lib/python2.7/dist-packages/ansible/plugins/action/copy.py\", line 457, in run\n    source = self._find_needle('files', source)\n  File \"/usr/lib/python2.7/dist-packages/ansible/plugins/action/__init__.py\", line 1051, in _find_needle\n    return self._loader.path_dwim_relative_stack(path_stack, dirnam

[2018-11-21 08:40] mihai-satmarean opened #2774 "installation on Kubernetes created with Rancher fails at database migration"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY

running the installer against a kubernetes cluster built with Rancher 2.0 does not finish,
stuck at database migration

I am very new with Kubernetes, still maybe something that does not work.
Thank you!

##### ENVIRONMENT
* AWX version: branch devel sha: 79f483a66d1bd5cee938eef5c19074667dc268a8
* AWX install method:

[2018-11-21 08:58] cesarfn4 opened #2775 "RFE: Allow to permanently set the view of items per page in the Templates page"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Currently, You can set the Templates page to show 20, 50, 100 items per page, but if you set 50 or 100, and you click on other tab and then go back to the Templates page, you can see that its set to 20 items per page again.

It would be great if you could have the possibility to permanently set the view of items per

[2018-11-21 09:23] tendey commented on #2728
![image](https://user-images.githubusercontent.com/8463924/48831620-25dcf780-edb2-11e8-9fb7-63d36f2f3484.png)

[2018-11-21 09:24] tendey commented on #2728
![image](https://user-images.githubusercontent.com/8463924/48831695-545ad280-edb2-11e8-8092-2b991de6c771.png)

[2018-11-21 11:45] akcrisp commented on #2757
@matburt so the docker version we got from extras channel - we note now that there is a newer version available along with new container-selinux rpm -

atomic-registries                                      x86_64                    1:1.22.1-3.git2fd0860.el7                           extras                     34 k
container-selinux                                      noarch                    2:

[2018-11-21 12:12] amit-prayag commented on #2735
Is there a way to assign a custom virtual environment in AWX 2.x?
I have created custome venv "/var/lib/awx/venv3" and want to include in AWX Organizations.
Thanks.

[2018-11-21 12:16] amit-prayag commented on #2735
I am executing the following, which doesn't seem to be working.

curl https://10.3.24.109/api/v2/organizations/N/ -i --insecure -u user:password -L
Content-Type: application/json
{
    'custom_virtualenv': '/var/lib/awx/venv/my-custom-venv'
}

[2018-11-21 12:54] amit-prayag commented on #2735
When I am setting the custom variable as "custom_virtualenv": "/var/lib/awx/venv3", using PATCH /api/v2/job_templates/42/, get the below error after PATCH:

{
    "custom_virtualenv": [
        "/var/lib/awx/venv3 is not a valid virtualenv in /var/lib/awx/venv"
    ]
}

AWX version updated to 2.1.0 now.
Is there a fix for the same?

[2018-11-21 13:11] blueyes666 commented on #2482
hi,
I have the same issue.
no one resolve it ?

[2018-11-21 13:41] amit-prayag commented on #2735
Following is the output of "GET /api/v2/config/".

***************************************************************************************************************
HTTP 200 OK
Allow: GET, POST, DELETE, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept
X-API-Node: awx
X-API-Time: 0.384s

{
    "custom_virtualenvs": [
        "/var/lib/awx/venv/ansible/"
    ],
    "eula": "",
    "license_in

[2018-11-21 13:47] akcrisp commented on #2757
@matburt I have tried updating the container-selinux - its made no difference to the errors being reported in the container - ie permission denied... not updated docker rpm itself yet.

repeatedly on container start  in docker logs we see -
/usr/local/bin/docker-entrypoint.sh: line 173: /var/lib/rabbitmq/.erlang.cookie: Permission denied
chmod: /var/lib/rabbitmq/.erlang.cookie: Permission denied

[2018-11-21 13:54] akcrisp commented on #2757
Just spotted this as well when shutting down rabbitmq -
018-11-19 14:14:36.435 [error] <0.332.0> CRASH REPORT Process <0.332.0> with 0 neighbours exited with reason: no such process or port in call to gen_server:call(mnesia_sync, sync, infinity) in gen_server2:terminate/3 line 1155
2018-11-19 14:14:36.436 [error] <0.331.0> Supervisor {<0.331.0>,rabbit_amqqueue_sup} had child rabbit_amqqueue starte

[2018-11-21 14:04] jakemcdermott commented on #2775
Hi cesarfn4 - thanks for creating this issue. This type of functionality is on the roadmap and something we'll be tracking in this issue: https://github.com/ansible/awx/issues/278

Closing this out as a duplicate.

[2018-11-21 14:04] #2775 closed, assigned to nobody

[2018-11-21 14:06] jakemcdermott commented on #2769
Hey @savealive

Can you give us some more details on the specific playbooks and inventory you are using? If possible could you provide an example github project, playbook, etc. as well as exact steps to reproduce the issue every time?

[2018-11-21 14:06] unlikelyzero opened #2776 "Unable to sort JT names on Workflow Visualizer Selection Table"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Unable to sort JT names on Workflow Visualizer Selection Table

##### ENVIRONMENT
* AWX version: 3.4.0-workflow-convergence

##### STEPS TO REPRODUCE
1. Launch WF Viz
2. On the JT Selection Table, click the 'NAME' Column to sort by name

##### EXPECTED RESULTS
Sort by name

##### ACTUAL RESULTS
Inert Action

[2018-11-21 14:07] unlikelyzero commented on #2776
Assigning to myself to test. Found by @jladdjr

[2018-11-21 14:09] unlikelyzero opened #2777 "Clicking a non-job node in visualizer fails to load right-side bar (workflow node, inventory, project)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Clicking a non-job node in visualizer fails to load right-side bar (workflow node, inventory, project)

##### ENVIRONMENT
* AWX version: 3.4.0-workflow-convergence

##### STEPS TO REPRODUCE
1. Open Workflow Visualizer
2. Click on the Inventory or project tabs
Note: Nothing loads

[2018-11-21 14:09] jakemcdermott commented on #2774
Hello mihai

Thanks for creating this issue. This appears to be a configuration / infrastructure issue with your particular setup. The best place to get help with that would be our community mailing list or our irc channel on freenode (`#ansible-awx`).

[2018-11-21 14:09] #2774 closed, assigned to nobody

[2018-11-21 14:10] unlikelyzero commented on #2777
Note: Found during Bug Bash by @dsesami

[2018-11-21 14:12] jakemcdermott commented on #2728
@tendey

Have you tried running the job with `Enable Job Isolation` disabled, as @ryanpetrello suggested above? Can you please let us know if you see a different result after doing that? This would provide us some valuable information for diagnosing the underlying cause of what you are experiencing.

[2018-11-21 14:14] jakemcdermott commented on #2777
@unlikelyzero

Does the `needs_test` label here imply that a fix has already been made on the convergence branch for this and that verification is needed?

[2018-11-21 14:25] unlikelyzero commented on #2777
Yes

On Wed, Nov 21, 2018, 09:15 Jake McDermott <notifications@github.com> wrote:

[2018-11-21 14:31] jakemcdermott commented on #2711
hey fedelemantuano

Thanks for making this issue. You can ensure that multiple runs of the same job template run consecutively (and not in parallel) by making sure the `Enable Concurrent Jobs` box is unchecked when configuring the job template.

<img width="665" alt="screen shot 2018-11-21 at 9 26 32 am" src="https://user-images.githubusercontent.com/9753817/48847720-34a2ba80-ed70-11e8-97b2-7019c1

[2018-11-21 14:31] #2711 closed, assigned to nobody

[2018-11-21 14:34] jakemcdermott commented on #2681
Hello @makrada

Thanks for making this issue. As @wenottingham pointed out, you can move to a previous step in a launch prompt by clicking the associated tab.

[2018-11-21 14:34] #2681 closed, assigned to nobody

[2018-11-21 14:45] jakemcdermott commented on #2564
Hello!

This issue tracker is for awx. Tower is a downstream project that is separate from AWX. For help with Tower, please contact your support representative.

[2018-11-21 14:45] #2564 closed, assigned to nobody

[2018-11-21 14:50] jakemcdermott commented on #2385
@coom

It looks like you're probably building or pulling new container images on a regular basis. If the rate at which your disk utilization is increasing is unacceptable to you, you'll need to remove old docker images after pulling or adding new ones. This is behavior of docker itself and not something particular to awx.

If you have any questions please have a look at the docker documentation fo

[2018-11-21 14:50] #2385 closed, assigned to nobody

[2018-11-21 14:52] jakemcdermott commented on #2527
Complex type validation isn't something we want to live in more than one place - if we want client-side validation on particular fields of data types (max name length, etc.) we'd still want that information to come from the backend (in the form of a schema, options request, etc.)

[2018-11-21 15:06] jakemcdermott commented on #2694
Hi marcingarstka,

Thanks for making this issue.

At this time, we do not provide dependencies for the entire set of shipped-with-Ansible modules in the environment.

The normal way to do this is to create a custom image that contains the updated libraries, system dependencies, etc.

If you have any questions, please reach out to our community mailing list or stop by our irc channel on freenode `#

[2018-11-21 15:06] #2694 closed, assigned to nobody

[2018-11-21 15:11] jakemcdermott commented on #2711
s/checked/unchecked

[2018-11-21 17:01] bedcruncher opened #2778 "LDAP Login issues"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
I was able to successfully get this installed and setup successfully, but when I try to configure the LDAP setup for my domain I keep getting a username/password is incorrect. When I checked the docker logs for the container I see the following initially:

` 2018-11-20 19:18:01,057 DEBUG    django_auth_ldap search_s('

[2018-11-21 17:28] makrada commented on #2681
Hello Jake,

Indeed there is an alternative to back option. I missed that. You can close
the issue

Kind regards
Marieta

Στις Τετ, 21 Νοε 2018 στις 4:35 μ.μ., ο/η Jake McDermott <
notifications@github.com> έγραψε:

--
*M.K*

[2018-11-21 17:50] amit-prayag commented on #2735
I have created the custom virtual env within /var/lib/awx/venv now, and able to set it in AWX. Now, when I execute the playbook in AWX get the below error:
*************************************************************************************************************
ERROR! No inventory was parsed, please check your configuration and options.
*********************************************************

[2018-11-21 18:19] unlikelyzero opened #2779 "On Workflow Visualizer, Project Sync and Inventory Sync do not have proper pagination controls"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
On Workflow Visualizer, Project Sync and Inventory Sync do not have proper pagination controls. JTs allow for 10 options per page. Project and Inventory Sync only allow 5 options per page.

##### ENVIRONMENT
* AWX version: 3.4.0-workflow-visualizer

##### STEPS TO REPRODUCE
1. Create at least 11 resources for JTs, Inventorie

[2018-11-21 19:01] AlanCoding opened #2782 "Can add both success & failure node connections without proper visualization"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
Looks like the logic in the UI (and probably the API) isn't fully equipped to deal with multiple connections between two nodes.

For instance

[code]

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating Sy

[2018-11-21 21:15] akcrisp commented on #2757
Matt can check updates appreciate some feedback

Sent from my iPhone

[2018-11-22 01:16] tendey commented on #2728
@jakemcdermott I had set the Enable Job Isolation disabled and then to run the copy.yml,the result was those pictures.What do you want to know,I can show you.This issue tormented me one week,I am going crazy.

[2018-11-22 03:05] jakemcdermott commented on #2728
Thank you for running with job isolation disabled, that is valuable information for finding a root cause. You should turn job isolation back on if you haven't already done so.

Can you elaborate a bit more on how you installed this? Which [AWX install method](https://github.com/ansible/awx/blob/devel/INSTALL.md) leaves you with `/var/lib/awx/projects...` running on ubuntu? 😕

[2018-11-22 03:18] jakemcdermott commented on #2728
@tendey
Is this a Tower install? You should be reaching out to your support rep.

[2018-11-22 03:41] jakemcdermott commented on #2728
@tendey
This looks like a Tower install? If that is the case, please reach out to your support representative. This is the repo for the AWX project, which is different from Tower.

[2018-11-22 03:41] #2728 closed, assigned to nobody

[2018-11-22 03:46] jakemcdermott commented on #2698
@lsantiag86
This is the repo for the AWX project, which is different from Tower. Please contact your support representative.

[2018-11-22 04:01] jakemcdermott commented on #2778
Hello - thanks for creating this issue.

This looks like an issue with your configuration, infrastructure, or both. This sort of thing is best discussed on our community mailing list or in our IRC channel on freenode `#ansible-awx`.

[2018-11-22 04:01] #2778 closed, assigned to nobody

[2018-11-22 04:03] tendey commented on #2728
OK,Thank you very much

[2018-11-22 04:31] bedcruncher commented on #2778
I am sure it isn't an infrastructure issue as it is able to successfully
connect to AD and get my user info out. So at least for the configuration
part that is correct. I am pretty positive it's a different issue.

On Wed, Nov 21, 2018, 10:01 PM Jake McDermott <notifications@github.com
wrote:

[2018-11-22 10:19] AbhiJram opened #2784 "Instance capacity is zero/unavailable and jobs pending"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
Instance capacity is zero/unavailable and jobs pending, we are trying to do a fresh installation of 1.0.8 on openshift using standard installation. Installation goes through fine, UI also is available, however tower instance group doesn't have the main instance as available.

##### ENVIRONMENT
* AWX version: 1.0.8
* A

[2018-11-22 10:23] shyimo commented on #2251
@walkafwalka from what i understand, trailing slack at the end in REST Api should be ignore.. very strange that we need to had this to POST requests :)

[2018-11-22 13:54] rbergami opened #2785 "Prompt on launch option for Instance Group in a job template"
**ISSUE TYPE**
- Request for Enhancement

**COMPONENT NAME**
- UI
- API

**SUMMARY**

It's not possible in the latest awx version to have the _Prompt on Launch_ checkbox for the Instance Groups selection in the Template definition screen.

This today forces the user to have the same template replicated as many times the number of Instance Groups available in the scenario since it's not possible to

[2018-11-22 21:57] alagirir opened #2786 "How to Shutdown and Start up Ansible AWX opensource version (Correct Approach)"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
I am not sure what is the right process to shutdown and start the Ansible tower AWX open source version

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.4.2.0
* Operating System: Centos
* Web Browser: Firefox

information. -->

Could you please let m

[2018-11-22 22:21] savealive commented on #2769
@jakemcdermott Yes, sure. Issue is related to playbook "serial" keyword we use for rolling updates. Without a "serial <num>" tasks names printed correctly (probably because Ansible manages all hosts in play in parallel and just don't see the bug which occurs only in 2nd, 3rd++ hosts batch)

Example playbook:
[code]

Corresponding job output:
Notice that Play1 has keyword "serial 1" so job prints "

[2018-11-22 23:18] kladiv commented on #2271
+1
to keep YAML comments into job template EXTRA VARIABLES box (for some useful docs/how-to/examples). Now after Save, they're removed.

[2018-11-22 23:47] Papina opened #2787 "Azure missing pip dependency"
##### ISSUE TYPE
 - when running an azure_rm_* template, an error is generated:

##### COMPONENT NAME
 - Templates
 - Azure_rm

##### SUMMARY
error is generated when running any azure_rm_* template

`FAILED! => {"changed": false, "msg": "Do you have packaging installed? Try `pip install packaging`- No module named packaging.version"}
`

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method:

[2018-11-23 01:09] tendey commented on #2728
I found why。because the root directory is shortlink，so the tower not searched it.But I still have a doubt,why it ran success at command line。

[2018-11-23 05:17] IshwarKanse commented on #342
Can we add extra vars file with yaml / json syntax that can be uploaded to the item list ?

[2018-11-23 06:05] tinohean commented on #2533
That will be awesome if official images is updating for this.  Still stucked in the image building locally. Thanks a lot

ansible/awx_web
Last pushed: 13 days ago
https://hub.docker.com/r/ansible/awx_web/

[2018-11-23 07:45] HarishaAmeen commented on #2784
I also see the same issue with 1.0.8 in openshift. Any help would be appreciated.

[2018-11-23 11:06] kw-c commented on #2325
Is this now in image download and will it allow prompted selection of Inventory when running a workflow template ?

[2018-11-23 13:54] perkooo commented on #876
Thanks for help, useful post that also helped me for setting up LDAP in AWX with FreeIPA !

[2018-11-23 15:41] oekotaco commented on #2642
Sorry for the late response. Same Workflow as described by Mhurron at https://github.com/ansible/awx/issues/2642#issuecomment-440031086

And also after the last successfull running job is a inventory sync.

[code]

From 1-3 every thing is fine. but at inventory sync it fails and persists to all other new launched jobs.

If you have something new to test. Let me know and i will test it for you.

[2018-11-23 20:11] sumkincpp commented on #2325
Also a good question - can we restrict inventory prompt for certain inventory list?
That would be really useful since you will not be able to pickup incorrect one.

[2018-11-26 03:16] wenottingham commented on #2786
This is not a bug report; this is best handled via the normal contact mechanisms listed in the readme.
    Join the #ansible-awx channel on irc.freenode.net
    Join the mailing list (https://groups.google.com/forum/#!forum/awx-project)

[2018-11-26 03:16] #2786 closed, assigned to nobody

[2018-11-26 10:43] imcitius commented on #761
AWX 2.1.0 / Ansible 2.7.1

Issue is still present.

Project tree is like this:
.
├── inventories
│   ├── test
│   │   ├── group_vars
│   │   │   ├── all.yml
...
└── test.yml

Content of the all.yml file is show up in vars inside awx/inventory.

Test playbook is very simple:

[code]

VAULT_TOKEN/VAULT_ADDR is picked up and showed correctly on test run, but `pgsql_password` = Undefined Variable.
In

[2018-11-26 12:18] AlanCoding commented on #761
You could be hitting https://github.com/ansible/awx/issues/2574, which was recently fixed in AWX.

[2018-11-26 12:49] ryanpetrello commented on #2735
@amit-prayag,

As @wenottingham suggested, awx just doesn't support python3 at the moment - we're working on adding support in the near future.

[2018-11-26 13:33] mihoos opened #2789 "[WARNING]: Failure using method (v2_playbook_on_play_start) in callback plugin"
##### COMPONENT NAME
 - API

##### SUMMARY
Just after job start I have below output on AWX webpage

1 [WARNING]: Failure using method (v2_playbook_on_play_start) in callback plugin
2 (<awx_display_callback.module.AWXDefaultCallbackModule object at
3 0x7f240235b090>): 'NoneType' object has no attribute 'strip'
4
5 skipping: no hosts matched
6
7 PLAY RECAP *******************************************

[2018-11-26 13:56] ryanpetrello commented on #2789
@mihoos Ansible 2.7.5 isn't a released version of ansible - can you provide a correct version number?

[2018-11-26 14:02] mihoos commented on #2789
Sorry... it is 2.7.2.

[root@localhost ~]# ansible --version
ansible 2.7.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Jul 13 2018, 13:06:57)

[2018-11-26 14:13] ryanpetrello commented on #2789
Any chance you could share the playbook where you're encountering this error?

[2018-11-26 14:18] mabashian commented on #2779
Fixed by https://github.com/ansible/awx/pull/2790/commits/c9de189fad7df9b79f57be8fcb67d2c903d5cbb8

[2018-11-26 14:26] AlanCoding commented on #2642
I tried this network, still not reproducing with that

![screen shot 2018-11-26 at 9 26 13 am](https://user-images.githubusercontent.com/1385596/49019999-5bd8fd80-f15d-11e8-86b1-c983c5124e0e.png)

[2018-11-26 14:27] mihoos commented on #2789
Unfortunately not. But I'm pretty sure that this issue is not related to playbook. I tested already with other playbooks and issue is the same. Looks like awx don't even reach executing playbook step.

** Additionally I can say that when I run this playbook from command line (shell bash) all is OK.

[2018-11-26 14:29] ryanpetrello commented on #2789
👍 that's good enough, I mostly wanted to know if it was reproducible for other playbooks.  I'm going to see if I can reproduce this with a similar setup.

[2018-11-26 14:36] ryanpetrello commented on #2789
It looks _possible_ that something changed in Ansible upstream that's affected the AWX callback plugin.  When I try to run a simple playbook in AWX using 2.7.2, though, I'm having trouble reproducing this failure.

[2018-11-26 14:39] ryanpetrello commented on #2789
@mihoos are you seeing the same failure when running a simple playbook like this one?

[code]

[2018-11-26 14:44] dsesami commented on #2700
Verified as fixed in the workflow-convergence branch.

[2018-11-26 14:44] #2700 closed, assigned to chrismeyersfsu

[2018-11-26 14:50] wenottingham commented on #2785
What are you trying to do here that couldn't be done by setting the instance group on the inventory?

[2018-11-26 14:51] wenottingham commented on #2787
You didn't specify to run that playbook on the AWX host - it's running on the managed host, which would likely need Azure libs installed there.

Does it work if you do 'connection: local' on the task?

[2018-11-26 14:53] bedcruncher commented on #2778
@jakemcdermott Can this be reopened? I'm sure that it isn't an issue with my infrastructure or configuration. I was also able to successfully authenticate against AD in a previous release as to the exact one, I don't remember off the top of my head.

[2018-11-26 15:23] mihoos commented on #2789
Interesting.

With your version I have output:

1
2 PLAY [Hello World Sample] ************************************************* 16:18:23
3
4 TASK [Gathering Facts] ***************************************************** 16:18:24
7
8 PLAY RECAP *************************************************************** 16:18:24
9  10.170.10.16               : ok=0    changed=0    unreachable=1    failed=0
10  10

[2018-11-26 15:27] ryanpetrello commented on #2789
@mihoos have you added/changed anything in `/etc/ansible/ansible.cfg`?

[2018-11-26 15:34] AlanCoding commented on #2789
I tested this, thinking that the difference might be that the task defined a name in the other example:

[code]

This also does not produce the warning.

[2018-11-26 15:38] mihoos commented on #2789
yes I just unhashed two things:
inventory      = /etc/ansible/hosts
host_key_checking  =  False

[2018-11-26 16:06] dsesami commented on #2644
spoke with @unlikelyzero on this, closing based on above -- isn't reproduced.

[2018-11-26 16:06] #2644 closed, assigned to unlikelyzero, dsesami

[2018-11-26 16:28] wenottingham commented on #2727
How complicated would it be to have child workflows follow the behavior of child JTs?

[2018-11-26 16:39] AlanCoding commented on #2727
Trivial, except that it exposes a permissions leak. I will delay writing an essay on the implications right now, but will try to get back to you on that.

[2018-11-26 18:03] abedwardsw commented on #1212
also agree that it would be nice to see the default change to /var or something other than /tmp since old /tmp data files are removed automatically in a lot of cases by the OS

[2018-11-26 18:08] n0l0cale opened #2796 "Inconsistent SSH-Hostkey detection"
converted to security issue

[2018-11-26 19:27] kdelee commented on #171
Questions that came up from ansible core folks:
* If UI exposes inventory sync with inventory plugins, what is going to happen when things change across ansible versions?
    * In 2.9 we have plugin X with features a, b,c -- UI is built to that. But they are running with ansible 2.8, plugin X only has features a,b. What happens?
    * In 2.9 we have new plugin Z with features a, b,c -- UI is built

[2018-11-26 19:35] AlanCoding commented on #171
Nothing should change in the UI, but the API will have to change to accommodate the plugins.

Right now, we primarily inject credentials for inventory imports via environment variables (and some associated credential files that env vars may point to, and other weirdness). The task at hand is to transition to logic where we build inventory files according to the plugin spec, which mostly contains t

[2018-11-26 19:39] AlanCoding commented on #171
I am already planning out how to deal with the reverse problem - in 2.6 plugin X exists, but in 2.5 does not exist.

To complete this, we will _have_ to have a compatibility table that we maintain internally. If detected Ansible version is 2.5, then we will use the pre-existing inventory script. There's no way around this, because AWX supports more versions of Ansible than what the plugins all exi

[2018-11-26 19:40] mabashian commented on #176
I'm inclined to close this issue.  It's unlikely that we'll be spending any significant time expanding on the patterns described here.

[2018-11-26 19:40] #176 closed, assigned to nobody

[2018-11-26 19:44] #250 closed, assigned to mabashian

[2018-11-26 19:55] mabashian commented on #390
Since the UI uses the `.` as a delimiter in the portion of the search term before the `:` I don't really see a great way around this other than escaping/quoting.

[2018-11-26 19:55] #390 closed, assigned to nobody

[2018-11-26 20:02] mabashian commented on #552
<img width="993" alt="screen shot 2018-11-26 at 3 00 07 pm" src="https://user-images.githubusercontent.com/9889020/49038853-25ff3d80-f18c-11e8-81c3-b5fdf11201b9.png">

We've added tooltips on links to indicate whether they are always/success/failure but i think the original issue is talking specifically about the status circles that appear on the nodes as the corresponding job runs.  We should add

[2018-11-26 20:08] AlanCoding commented on #588
@mabashian pointed out to me that this is already resolved.

Fields returned in the GET list contain a field `filterable`, which functions exactly as what is described here. This issue seems to have just been lost in the development of that.

[2018-11-26 20:08] #588 closed, assigned to nobody

[2018-11-26 20:17] mabashian commented on #790
Exposing system jobs in that list would be trivial.  We'd just need to tweak the GET request to include system jobs in addition to job templates and workflows.  There'd be some other UX considerations for sure like adding a S icon like the P (project), I (inventory) and W (workflow) icons that we currently have.

As Alan pointed out, the tricky part would be exposing the form fields:

<img width="

[2018-11-26 20:22] mabashian commented on #1215
Edge conflicts no longer exist, closing

[2018-11-26 20:22] #1215 closed, assigned to mabashian

[2018-11-26 20:27] mabashian commented on #1483
Closing, those fields no longer appear beneath the list

[2018-11-26 20:27] #1483 closed, assigned to nobody

[2018-11-26 20:28] mabashian commented on #1403
Closing - the intent is for the user to click on the name of the resource to navigate to it's edit form

[2018-11-26 20:28] #1403 closed, assigned to nobody

[2018-11-26 20:31] mabashian commented on #1506
<img width="1438" alt="screen shot 2018-11-26 at 3 30 38 pm" src="https://user-images.githubusercontent.com/9889020/49040333-43360b00-f190-11e8-8d28-67262c02ec35.png">

I'm not sure what the expectation is now that the projects list has changed and no longer has columns

[2018-11-26 20:34] mabashian commented on #1507
I thought this might have been addressed when we re-worked the jobs list but it seems that it was not.  We're still making a request that looks like:

`/api/v2/unified_jobs/?page_size=20&job__job_template={:id}&order_by=-id`

[2018-11-26 20:36] mabashian commented on #1509
This was fixed somewhere along the line - likely when the jobs list was reworked.

![jobs_activity_stream](https://user-images.githubusercontent.com/9889020/49040600-04ed1b80-f191-11e8-8cb8-304ba527bb9d.gif)

[2018-11-26 20:36] #1509 closed, assigned to nobody

[2018-11-26 20:41] unlikelyzero commented on #2776
Verified:

- Name sort works for Jobs, Project Sync, Inventory Sync
- Name sort works with pagination
- Name sort works with searchfilter

[2018-11-26 20:41] #2776 closed, assigned to nobody

[2018-11-26 20:46] #2779 closed, assigned to nobody

[2018-11-26 20:46] mabashian opened #2797 "Links to edit management job schedule don't work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### ENVIRONMENT
* AWX version: head of devel

##### STEPS TO REPRODUCE
1. As an admin user, navigate to the management jobs page
2. Click the schedule icon for one of the management jobs listed
3. Attempt to click on the name/pencil icon of the schedule listed

##### EXPECTED RESULTS
Clicking name/pencil icon navigate the user to a form

[2018-11-26 21:01] msilmser opened #2798 "Unable to change timeout value in job_template endpoint as a template admin"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
Users with the job template admin role are unable to change the "timeout" value at the job template endpoint.

##### ENVIRONMENT
* Tower version: 3.3

##### STEPS TO REPRODUCE
1. Create a user with job template admin permission
2. Navigate to /api/v2/job_templates/N
3. Attempt to patch the timeout value

##### EXPECTED RESU

[2018-11-26 21:01] mabashian commented on #1932
@fedelemantuano The timeout parameter is the amount of time (in seconds) to run before the task is canceled.  The default is 0 which afaik means there is no timeout.

[2018-11-26 21:07] jakemcdermott commented on #1807
resolved by https://github.com/ansible/awx/pull/2457

[2018-11-26 21:07] #1807 closed, assigned to nobody

[2018-11-26 21:26] unlikelyzero opened #2800 "Workflow Visualizer button does not appear for all WFJT users with read access"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
Workflow Visualizer button does not appear for all WFJT users with read access

##### ENVIRONMENT
* AWX version: 3.4.0-devel

##### STEPS TO REPRODUCE
1. Create a user with Read access of an Org.
2. Create a WFJT attached to that org.
3. Login as the user from step 1 and navigate to the templates resource list.
Note: Workflo

[2018-11-26 21:54] wenottingham commented on #790
At some point I think system jobs should probably be a real project with real survey specs, etc. But that's probably an unpleasant migration.

[2018-11-26 22:04] jakemcdermott commented on #1807
This should be resolved in the latest awx release.

[2018-11-27 00:18] Papina commented on #2787
ah, this worked for most of the most of the fact gathering modules i was testing except azure_rm_virtualmachine_facts

but this gives a different issue and i will log as a separate job. thanks Bill!

[2018-11-27 00:53] unlikelyzero opened #2803 "In workflow Visualizer, Auditors cannot see Jobs on the Node selection view"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API
 - UI

##### SUMMARY
In workflow Visualizer, Auditors cannot see Jobs in the Node selection view

##### ENVIRONMENT
* AWX version: 3.4.0-devel

##### STEPS TO REPRODUCE
1. Create a system auditor attached to an org
2. Ensure that the org has a workflow with at least 1 JT or WFJT.
3. As the system auditor, open the workflow visualizer and

[2018-11-27 00:55] unlikelyzero commented on #2800
Verified by:

- Create normal user on an organization with no additional permissions. Cannot view Workflows on Templates resource view
- Create user with organization job template admin permissions. Cannot view Workflows via new workflowviz button or old workflow button on Templates resource View
- Create user with organization job template admin permissions. Can view Workflows via new workflowviz

[2018-11-27 00:55] #2800 closed, assigned to jakemcdermott

[2018-11-27 02:34] AlanCoding opened #2804 "Add region or EC2_URL option to Amazon Web Services credential type"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - API

##### SUMMARY
Cannot use Amazon AWS / EC2 credential to take actions with modules in Ansible

##### ADDITIONAL INFORMATION

Create an AWS credential with all fields filled out, all valid data.

Run the playbook

[code]

Expected: successful, not changed

Actual:

This issue is to add a parameter to the AWS credentials so that it can be

[2018-11-27 04:17] 15ramky commented on #1636
i ran into the similar issue
for me adding "hosts" is missed in the playbook, it's working fine after added the hosts

---
- name: to get the jdm config
  **hosts**: testing

[2018-11-27 08:13] wernermarcel1 commented on #2642
Hi the Error still exsits.

I created a new workflow and template with variables.  I used the latest docker images.

2018-11-27 08:10:03,285 ERROR    awx.main.dispatch Worker failed to run task awx.main.scheduler.tasks.run_task_manager(*[], **{}
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/awx/main/dispatch/worker/task.py", line 84, in perform_work
    result = self.

[2018-11-27 08:53] oekotaco commented on #2642
In our case it looks like a bit more complex. But at all it just hangs before it starts to do the inventory sync. Inventory comes from openstack source.
![awx-workflow-stuck](https://user-images.githubusercontent.com/8568770/49069690-2f3ee780-f22a-11e8-8d79-b7949da65b4d.png)

Hope this helps. If not let me know.

[2018-11-27 08:58] wernermarcel1 commented on #2642
Is it possible that #2642 (comment) is not yet  included in the docker image of ansible/awx_task ?

[2018-11-27 09:00] Win32Sector commented on #2335
This behavior actual for me.
Now, I have several jobs, who were in pending status.

Restart containers solved problem
Version of AWX - 2.01
Vesion of Ansible - 2.7

[2018-11-27 09:12] #2796 closed, assigned to nobody

[2018-11-27 09:36] oekotaco commented on #2642
Yes. Its not in the release yet. I applied this patch manually. But it won't fix the underlying issue.

[2018-11-27 12:46] AlanCoding commented on #2803
I think this is because the UI filters that list to only show templates that the user has execute access to. In the case of a user who is purely system auditor, there are no such templates.

The wording of "please add items to this list" is unfortunate in such cases.

[2018-11-27 12:49] AlanCoding commented on #2798
To change sensitive fields in a job template, you need permission to the related project and inventory.

If you would like a better error message, see the proposal at https://github.com/ansible/awx/pull/2415, which still doesn't have any traction.

[2018-11-27 13:16] mihoos commented on #2789
The same issue with below playbook.
Could you please test this playbook in your environment?

[code]
I'm passing variables as Extra Variables (like in below example):
`vars: IP=10.170.10.16 ISO=1.1.34.iso HD=H `

[2018-11-27 14:13] ryanpetrello commented on #2335
@Win32Sector do you mean `2.0.1` or `2.1.0` for your awx release?

If you're not on `2.1.0`, I'd recommend upgrading - we made a number of improvements there that we believe resolve the issues described here.

[2018-11-27 14:22] ryanpetrello commented on #2789
I'm still having trouble reproducing this (with your playbook) in the latest version of awx on Docker on Linux:

![image](https://user-images.githubusercontent.com/214912/49087620-75457c80-f225-11e8-86f9-2950483a03ae.png)

[code]

Could you share:

[code]

[2018-11-27 14:45] AlanCoding commented on #2642
@oekotaco Thanks very much for following along with me debugging this.

I have reproduced the issue that you reported, I did this by using `set_stats` in the jobs that ran upstream of the inventory updates, which is compatible with the information you have given about your own setup.

[2018-11-27 14:48] nmartinez-nimeops commented on #2616
Hi all,
-same issue in Docker with the 9.6 PG version;-

Edit: OMG, my bad, rabbitmq_erlang_cookie error... sorry

[2018-11-27 14:48] AlanCoding opened #2806 "Producing artifacts upstream of inventory updates hangs the task manager"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - API

##### SUMMARY
If a workflow contains job nodes that have inventory nodes downstream of it (always connection makes it easy to reproduce), then the task manager will hang and all jobs will stop running.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansibl

[2018-11-27 14:49] AlanCoding commented on #2642
The primary subject of this issue is another bug which was resolved separately, so I filed a new issue for your report at https://github.com/ansible/awx/issues/2806

[2018-11-27 15:15] wilmardo commented on #171
What is the status of this issue? Has someone tried to tackle this yet?

[2018-11-27 15:21] wenottingham commented on #2787
OK, closing.

[2018-11-27 15:21] #2787 closed, assigned to nobody

[2018-11-27 15:23] wenottingham commented on #2798
Why is timeout a sensitive field?

[2018-11-27 15:23] unlikelyzero commented on #2777
Re-Reverified:
- Node selection from right hand pane for project, inventory, jobs
- Reselect existing workflow

[2018-11-27 15:23] #2777 closed, assigned to unlikelyzero

[2018-11-27 15:24] wenottingham commented on #2804
? Credentials aren't region-specific; this is normally just done by passing the region to the module.

[2018-11-27 15:28] AlanCoding commented on #2804
Could you suggest a modification to this playbook:

https://github.com/ansible/test-playbooks/blob/master/cloud_modules/aws.yml

If you prefer to have that be the documented approach, then we can close this issue and adjust that playbook.

[2018-11-27 15:32] AlanCoding commented on #2798
I cannot say. I believe it is not allowed because it is not in this list:

https://github.com/ansible/awx/blob/50b0a5a54d443c4b9a6378ade8371cfd2a6187fe/awx/main/access.py#L1387-L1392

[2018-11-27 15:38] wenottingham commented on #2798
Then I think we should just add it to that list, if that's all that it takes. It's certainly less sensitive than `diff_mode` is.

[2018-11-27 15:39] wenottingham commented on #2804
Just pass `region: us-east-2`. If we're checking that an instance doesn't exist, picking any valid region should work.

[2018-11-27 15:42] AlanCoding commented on #2804
link https://github.com/ansible/test-playbooks/pull/40

(still need to obtain verification)

[2018-11-27 15:42] mabashian commented on #2803
I think we'll be able to close this one out once the workflow convergence branch is merged.  In that branch we added a read-only view when clicking on a node that does not include the lists but only static data from the node endpoint.

[2018-11-27 15:50] runtman commented on #2098
Correction I edited the code on the incorrect worker, this is the fix.

[2018-11-27 16:08] unlikelyzero opened #2808 "In Workflow Viz, when adding a new node with the + action, the previously selected node is automatically attached as the new link"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY
In Workflow Viz, when adding a new node with the + action, the previously selected node is automatically attached as the new link

##### ENVIRONMENT
* AWX version: 3.4.0-workflow-convergence

##### STEPS TO REPRODUCE
1. Create a WF with multiple nodes
2. Edit WF in WF Viz
3. Select any node,
4. Now, select the + action to cr

[2018-11-27 16:10] jean-christophe-manciot commented on #2616
On Debian buster, AWX works fine with **postgresql-server-dev-9.6** (which is not officially supported anymore).

[2018-11-27 16:14] unlikelyzero commented on #2803
@mabashian @AlanCoding I can verify that it is fixed in workflow-convergence

[2018-11-27 16:14] #2803 closed, assigned to nobody

[2018-11-27 16:47] AlanCoding commented on #2804
thanks, confirmed it is authenticated and processing the task

[2018-11-27 16:47] #2804 closed, assigned to nobody

[2018-11-27 17:11] jean-christophe-manciot opened #2812 "No credential is available when creating an inventory sourced from a project"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - GUI

##### SUMMARY
No credential is available when creating an inventory sourced from a project, although some machine & source control credentials have already been created
Or maybe I'm missing something...

##### ENVIRONMENT
* AWX version: 2.1.0
* AWX install method: docker on linux
* Ansible version:  2.7.2
* Operating System: Debian buste

[2018-11-27 18:31] AlanCoding commented on #2812
SCM source inventory sources will only take cloud-type credentials. The list is probably empty because you have no cloud credentials.

[2018-11-27 18:37] walkafwalka commented on #2251
@shyimo I have no idea why I was referenced.

[2018-11-27 19:38] mabashian commented on #2808
This should be addressed by https://github.com/ansible/awx/commit/76b9721ddb78f9079facff9b57904d776971da07

[2018-11-27 19:44] mabashian commented on #2521
This should be addressed when the workflow convergence branch is merged

[2018-11-27 20:04] chrismeyersfsu commented on #2698
After chatting with @lsantiag86 we found out it was an Ansible `mail` module issue where the `attach:` field expects a whitespace separated string of files to attach. In never versions of Ansible (2.7) a proper yaml array is expected.

[2018-11-27 20:04] #2698 closed, assigned to nobody

[2018-11-27 21:39] aw-huit commented on #2798
I can see why you need permission for the project, but I can't figure out the reasoning behind needing permission for inventories as well.  I always thought templates don't have to be tied to any specific inventory.

[2018-11-28 00:21] christianmarangoni commented on #2785
In machine provisioning scenario, start from scratch, the global inventory ( Satellite as Example ) have all hosts but the machine is possible\needed to deploy in a target environment ( devel as example ) where only dedicate instance group are able to communicate ( network segregation for security reason ).

This is the scenario where we request to manage dynamically the Selection of Instance grou

[2018-11-28 03:24] ryanpetrello commented on #2770
Is this still an issue @kialam ?

[2018-11-28 05:55] hiyokotaisa opened #2817 "cannot specify "not__" host filter in smart inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Normally, I can specify the host filter to exclude the specific host in API as below:
[code]
But when I created the smart inventory, we cannot specify the `not.name.icontains:test` filter.
Is it the normal behavior of smart inventory? Is there any way to exclude the specific host on smart inventory?

##### ENVIRONME

[2018-11-28 07:39] ssaammoo commented on #2586
@ryan012880 Hello Ryan .. do you mean it works for you by only re-installing AWX so you didn't need to apply the workaround ?