[2021-04-27 13:54] AlexSCorey opened #10029 "Project List Column Labels don't align correctly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The column labels on the project list do not align correctly with the data.

##### ENVIRONMENT
* AWX version: 18
* AWX install method: docker for mac
* Ansible version:  X.Y.Z
* Operating System:mac os
* Web Browser:Chrome and FF

##### STEPS TO REPRODUCE

Go to project list.  Create a project.

##### EXPECTED RESULTS

Name, Status, Type, Revision labe

[2021-04-27 14:40] tiagodread commented on #8835
Ok, this is the result, we are not displaying the `Team` option in Add Roles modal for a team anymore

![image](https://user-images.githubusercontent.com/12464858/116256109-42cb4100-a749-11eb-98cc-3d551d93ae4a.png)

[2021-04-27 14:40] #8835 closed, assigned to mabashian

[2021-04-27 14:42] shanemcd commented on #10028
- What version of minikube?
- Please provide output of `kubectl describe pod awx-b5f6cf4d4-hm95b`

[2021-04-27 15:03] beeankha commented on #9832
I second what @sean-m-sullivan said, I was also able to successfully create a schedule for a WFJT using the `tower_schedule` module in a playbook (on `AWX 19.0.0`).

[2021-04-27 15:10] wolfgangp-tak commented on #10028
ah sorry this was my mistake ...

but good idea to add the "kubectl describe" to the documentation for further diagnostics ..
and also how to make  the "web" available to the public IP Address of the machine.

[2021-04-27 15:56] beeankha commented on #9832
Closing this issue since schedules can be created for WFJTs via the `tower_schedule` module.

[2021-04-27 15:56] #9832 closed, assigned to nobody

[2021-04-27 19:15] lemmy04 commented on #10017
my concern here is this: i've made a rpm package of awxkit on the opensuse build service, and I'm trying to figure out a way to package the docs as well. Obvioiusly on the build cluster I can't have access to an AWX instance - the build process runs inside a VM with no connection to the outside world... guess I'll have to manually build them locally, tar them up and add that to my rpm.

[2021-04-27 19:23] AlanCoding commented on #7062
https://github.com/ansible/awx/pull/9498 (merged) made `custom_virtualenv` into a read-only field in the API.

The UI issue https://github.com/ansible/awx/issues/9846 also appears to be relevant (I didn't see any links)

That makes it sound like the UI is already making use of the read-only field.

[2021-04-27 19:30] ktibi commented on #9540
Same issue here :

[code]

`awx_1_1     | awx-wsbroadcast stdout | 2021-04-27 19:14:19,887 WARNING  [-] awx.main.wsbroadcast Connection from awx_1 to awx failed: 'Cannot connect to host awx:8013 ssl:False [Name or service not known]'.`

[2021-04-27 20:02] beeankha commented on #8958
Hi @D0rmouse , have you had any luck using the `extra_data` parameter as discussed by @sean-m-sullivan in the comment above?

[2021-04-27 20:03] beeankha commented on #9603
@bankinobi have you tried the solution suggested by @sean-m-sullivan above?

[2021-04-27 20:13] sean-m-sullivan commented on #9342
@john-westcott-iv Do you have any movement on this, or point me to where we define these things in the files so I could take a crack at it.

[2021-04-27 20:36] beeankha commented on #8456
Per @sean-m-sullivan 's comment above, I was able to successfully create a schedule for an inventory source by using `tower_schedule` module. Closing this issue.

[2021-04-27 20:36] #8456 closed, assigned to nobody

[2021-04-27 20:43] ktibi commented on #9552
Yes, I fixed the nginx error but now, jobs can't running :

[code]

[2021-04-27 21:41] ktibi commented on #9552
I fixed issue with modify /etc/containers/storage.conf

[code]

Now new error

[code]

[2021-04-27 22:03] shanemcd commented on #9552
I tried to reproduce this on Debian 10 and was unable to. Here is my `docker info`, in case it helps anyone:

[code]

[2021-04-27 22:21] ktibi commented on #9552
@shanemcd I think the issue not come from docker but podman in the tools_awx_1 container.

AWX works but when I try to run a job, awx fail to run a podman container in tools_awx_1.

Issue is about network and iptables.

[2021-04-28 00:30] #7356 closed, assigned to nobody

[2021-04-28 01:50] sean-m-sullivan commented on #10008
While we are fixing skip_tags also does not seem happy with either string or list.
Here is a good demo playbook with tags of always, never, sometimes, maybe
https://github.com/sean-m-sullivan/verification_repo/blob/master/tags.yml

I've verified that this is an actual problem, but haven't looked into fix.

[2021-04-28 12:30] john-westcott-iv commented on #9342
@sean-m-sullivan I just took a quick peak at the code but check out the EXPORTABLE_RELATIONS. https://github.com/ansible/awx/blob/6aab88259a9b1812c0a32235f43b3d027b0437db/awxkit/awxkit/api/pages/api.py#L30
It looks like it should be exporting credential types but maybe the galaxy credential is a slightly different class? https://github.com/ansible/awx/blob/6aab88259a9b1812c0a32235f43b3d027b0437db/

[2021-04-28 14:44] ktibi commented on #9552
I can confirm issue with awx image because I can run podman with other container :

`docker run --privileged -v /tmp/podman:/var/lib/containers marshallford/podman:latest run hello-world`

[2021-04-28 15:34] rebeccahhh commented on #7062
smol update, we're shifting from an API endpoint to an awx-manage command instead, most of the logic from the existing PR will remain the same, I'll be closing the PR and opening an new one for ease and clarity.

[2021-04-28 17:57] akus062381 commented on #3700
Manually verified, stubs added. see https://github.com/ansible/tower-qa/pull/6281

[2021-04-28 17:57] #3700 closed, assigned to akus062381

[2021-04-28 18:05] per-lind opened #10043 "AWX 19.0.0: Inventory Source Openstack doesn't work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: kubernetes via operator 0.8.0

##### STEPS TO REPRODUCE

Add an Inventory in AWX
Add Inventory Source as Openstack + set appropriate credentials
Sync the inventory

##### EXPECTED RESULTS

Successfull sync

##### ACTUAL RESULTS

`ansible-inventory [core 2.11.0b4]
  config file = None
  conf

[2021-04-28 18:39] akus062381 commented on #4023
Checked this manually, and it doesn't appear to have been implemented in the new UI. putting back into needs_devel.

[2021-04-28 18:58] jram123 commented on #6727
I am also facing this issue. there is no typo error here. I have tried keeping in source variables and as well as changed in vmware_inventory.py file. But nothing seems worked

[2021-04-28 19:31] akus062381 commented on #5236
@unlikelyzero if you see this- I am looking for the associated tower-qa PR that you refer to above, and I'm not seeing it- are you able to provide me with some insight?

[2021-04-28 19:56] akus062381 commented on #5236
per @mabashian we should put this back into needs_devel.

[2021-04-28 20:05] tiagodread opened #10045 "[Meta issue] Projects list issues"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Some small bugs in the new UI for project list

- [x] [The project list <thead> is not reflecting the table data order:](https://github.com/ansible/awx/issues/10029)

![image](https://user-images.githubusercontent.com/12464858/116464922-e9473d00-a842-11eb-97d5-a096b28d8d22.png)

- [x] In the old UI the users can cancel the project sync job running on p

[2021-04-28 20:05] akus062381 commented on #7505
verified manually and added stub for coverage.

[2021-04-28 20:05] #7505 closed, assigned to nobody

[2021-04-28 20:07] irdx commented on #9377
I'm having this problem too. Recently, I've done a fresh install of AWX 19.0 and imported my old jobs for the new platform.

To workaround this, I did these steps:

1. Create your workflow;
2. Configure your nodes at visualizer;
3. Save your workflow template.

Update your  workflow through AWX API:
[https://docs.ansible.com/ansible-tower/latest/html/towerapi/api_ref.html#/Workflow_Job_Templates/W

[2021-04-28 20:14] mabashian commented on #5236
Now that this list has expandable rows we should add this back in to the expanded view of a host.

[2021-04-28 20:19] akus062381 commented on #9495
all set

[2021-04-28 20:19] #9495 closed, assigned to mabashian

[2021-04-28 20:22] unlikelyzero commented on #5236
@mabashian @akus062381 IIRC you need to ensure that you're not making an extra Network XHR request for the summary_fields.recent_jobs data in order to represent information on the Hosts lists.

To verify this, I would generate a dataset with 25? different hosts with full job result histories (5 each?). Expand each row. Verify that a minimum number of requests are made to represent the dataset.

@a

[2021-04-28 20:44] akus062381 commented on #3073
Manually checked, all good.

[2021-04-28 20:44] #3073 closed, assigned to nobody

[2021-04-28 20:59] AlexSCorey commented on #3768
This is completed by https://github.com/ansible/awx/pull/6975 and https://github.com/ansible/awx/pull/9003
![Screen Shot 2021-04-28 at 4 55 01 PM](https://user-images.githubusercontent.com/39280967/116471324-89509680-a842-11eb-8616-47e8c414d40c.png)
![Screen Shot 2021-04-28 at 4 55 16 PM](https://user-images.githubusercontent.com/39280967/116471335-8b1a5a00-a842-11eb-8f38-921f032e7f44.png)

[2021-04-28 20:59] #3768 closed, assigned to nobody

[2021-04-28 21:50] bobby0724 opened #10046 "how to install pysnow into awx 17.1.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

We have several service now playbooks is there a procedure to install pysnow module ?
##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: openshift

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2021-04-28 22:51] wenottingham commented on #10046
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-28 22:51] #10046 closed, assigned to nobody

[2021-04-29 06:07] sfhl opened #10049 "Another "AWX is Upgrading..." - Issue"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
`ERROR    awx.main.wsbroadcast AWX is currently installing/upgrading.  Trying again in 5s...`

Even if there are no migrations, awx(-web) is constantly logging so. The web ui is available and jobs are executed, but this seems not ok to me.

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: kubernetes

Logs:
[code]

I have already tried to "

[2021-04-29 08:15] Unamola commented on #10028
Hey, i'm having the exact same issues,

can you please elaburate on how you fix them?

Tk u

[2021-04-29 08:29] wolfgangp-tak commented on #10028
have a look at the "kubectl describe" - in my case i provisoned and 2 cpu and 8 GB EC2 instance this was to less to get it run... changed the "size"of the EC2 to 4 cpu and 16 GB ram then it worked.

[2021-04-29 08:54] unixplex commented on #9968
can you pls share the inventory file entry

[2021-04-29 08:56] faroukellouze commented on #4539
![image](https://user-images.githubusercontent.com/11664152/116523451-273d7300-a8ce-11eb-8d2c-2a157f987cf9.png)

If the merge is not done yet why it's already mentioned [here](https://docs.ansible.com/ansible-tower/latest/html/userguide/notifications.html#webhook-payloads)?

[2021-04-29 08:57] Unamola commented on #10028
Tk u for reply .
i did the discribe and i can see it says i lack cpu. i will now try and figure out how to add more.. novice K8's here...
can you also tell me how you fixed  the "web" available to the public IP Address of the machine?

[2021-04-29 09:01] wolfgangp-tak commented on #10028
honestly i didn't get a proxy to run .. tried half a day .. a the end i used the local firewall, but i'm missing still the https proxy... would be good to get this in the documentation .. how to fullfill a standard setup -- not everyone knows all the ins and outs of minikube ...

sudo iptables -t nat -A PREROUTING -p tcp --dport 8080 -j DNAT --to-destination xxxx
sudo iptables -t nat -A POSTROUTIN

[2021-04-29 11:09] pierre-amadio opened #10050 "[RFE] Tower node root user should not be allowed to self grant themself tower console admin privileges"
Currently someone who is root on Tower node has the capability to become admin access on Ansible Console by running
[code]
and set the password to whatever he wants.
Tower assume local root user account should be used only by administrators.
However, some organisations grant root privileges on some nodes but do not wish the local admin to be Tower admin for all the organisation.

Would it be possi

[2021-04-29 11:32] emulanob commented on #9218
Also seeing this fairly regularly on 17.1.0. As a workaround, I launch the template from the template page, and not from the templates list.

[2021-04-29 11:37] emulanob opened #10051 "Configurable fields on Jobs (and maybe others) page"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently (version 17.x and up) you can filter and sort the results on the Jobs page by many fields useful fields, but the columns in the results grid are fixed and unchangeable. Could that be added, maybe in a toggle fashion like AWS Console does? (screenshot for reference)
![image](https://user-images.githubusercontent.com/36779151/116543158-cf166

[2021-04-29 13:17] benjdudas commented on #3773
Hey @wenottingham, any chance of this one being reopened now that deletes can occur with a re-sync of the inventory source?

[2021-04-29 13:27] spsingh1982 commented on #9888
Wenottingham, we understand the purpose of the workflows and know how to use it. But here we needed out of band capability to update external nodes. Hence we are leveraging webhook capability whenever anyone invokes these workflows. Also these workflows are not owned by us and we do not have edit permissions. Only thing we could think of without asking other team to modify their code and without a

[2021-04-29 13:41] AlexSCorey commented on #10051
@emulanob the expanded view has the `Launched By` info, and more that you are looking for.  Let us know if this is does not solve your problem and I will reopen this issue.
![Screen Shot 2021-04-29 at 9 39 43 AM](https://user-images.githubusercontent.com/39280967/116559874-db3efe00-a8ce-11eb-8bd7-d79b4aca5630.png)

[2021-04-29 13:41] #10051 closed, assigned to nobody

[2021-04-29 13:48] AlexSCorey commented on #4208
Table lists are implemented across 95% of the project and is currently being worked on in the remaining lists.  I think we can add an expand all feature for these lists and we should.  It is a pain for the user if they want to see something within the expanded row data for all list items and have to expand them individually.  The UI implementation would be simply a carrot on the same row as the co

[2021-04-29 14:20] akus062381 commented on #9635
4/29/2021- for Bullet point 1 above, it appears that this problem has not yet been addressed.
![image](https://user-images.githubusercontent.com/63685497/116566179-88684500-a8d4-11eb-9169-943695912793.png)

[2021-04-29 14:24] trahman73 commented on #4208
@AlexSCorey Agree, PF suggest adding that as I have it in mockups here:
https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs/

[2021-04-29 14:39] #10029 closed, assigned to nobody

[2021-04-29 15:01] Seb0042 commented on #9321
Hi,

I have the same kind of issue. I checked what has been done on each issue before.
Worst is it's working on all projects and failing on one, and I don't see why.
I have even copy files from one working project to this one to ensure there was no typo.
But still the same thing:

[code]
[code]
ansible.cfg:
[code]

[2021-04-29 15:06] Seb0042 commented on #9321
hum sorry this one was about collections and mine about roles, I will open or check for another

[2021-04-29 15:22] emulanob commented on #10051
Hey @AlexSCorey, thanks for the reply. Is that a > 19.0.0 feature? On 17.0.1 I don't see the down arrow.
![image](https://user-images.githubusercontent.com/36779151/116575880-5a542680-a90f-11eb-8c39-d79d7faed39d.png)

[2021-04-29 16:10] Bbett commented on #9917
So I've been able to get past the `RuntimeError: Pod Running` message by doing the following. There is something up with the ansible-runner install in the image and a reinstall seems to work.

Run the ansible-builder build command as outlined in the documentation.
Once complete go edit the context/Dockerfile and add the following line after `FROM $ANSIBLE_RUNNER_IMAGE`

`RUN pip3 uninstall --yes a

[2021-04-29 17:08] wenottingham commented on #3773
Maybe.

[2021-04-29 17:13] wenottingham commented on #10050
This is not something that can be restricted from the local root user, as it could be done by raw database connection regardless.

You should not have untrusted root users on systems where applications perform sensitive operations.

[2021-04-29 17:13] #10050 closed, assigned to nobody

[2021-04-29 17:18] washburnjoe opened #10052 "Does collections_requirements.yml still work to add Galaxy packages during build/install"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME
 - Installer

##### SUMMARY
In the past I would add things to collection_requirements.yml that needed to be installed during install/build.  Once we have AWX up and running we cant get to the outside because of corp restrictions.  So when we need something new installed via Galaxy (for example: community.hashi_vault) I was told we would add

[2021-04-29 17:23] akus062381 commented on #8053
this has been fixed.

[2021-04-29 17:23] #8053 closed, assigned to unlikelyzero

[2021-04-29 17:58] NAOwens commented on #9033
This would be a great feature to have.  I don't want to provide read access to the users that I'm allowing to run the workflow but I'd like them to see the log output so if it fails they can see why.  Having another permission field for templates to read logs would be perfect!

[2021-04-29 18:23] aksharpande commented on #10027
@wxfVeryGood the issue is with the user to run that container, it takes the user which runs the "make" which does not exist in the container. Removing the _user: "{{ ansible_user_uid }}"_ from tools/docker-compose/ansible/roles/sources/templates/docker-compose.yml.j2 helped.
Not sure if that is the right thing to do here

[2021-04-29 19:13] wenottingham commented on #2657
Closing, no longer relevant with the merge of https://github.com/ansible/awx/pull/9822

[2021-04-29 19:13] #2657 closed, assigned to nobody

[2021-04-29 19:13] wenottingham commented on #1235
This is execution environments. It's merged!

[2021-04-29 19:13] #1235 closed, assigned to nobody

[2021-04-29 19:15] wenottingham commented on #9888
This works today with notifications, though, if you need it - you point to the /launch/ endpoint, and send any needed variables in the success message under `extra_vars`.

You can't send the whole job_metadata dictionary due to json quoting issues, but you can send however many individual variables that you need.

[2021-04-29 19:22] wenottingham opened #10054 "Can't pass `job_metadata` cleanly to JSON APIs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Side case of https://github.com/ansible/awx/issues/9888

If you are sending a notification to a webhook API that expects JSON input, it is extremely difficult to structure a properly formatted `body` parameter that includes JSON job variables, as string-ification and quoting gets in the way.

Example:

[code]
does not work, and you need to do somethin

[2021-04-29 19:33] AlexSCorey commented on #10051
@emulanob my apologies.  This feature is only available in the devel branch right now and we brought in with this [PR](https://github.com/ansible/awx/pull/9933).  Look for it to be released soon.

[2021-04-29 19:44] wenottingham commented on #10052
This would no longer be done in a build of AWX, and would now be done in a build of the execution environment that you'd use. See https://ansible-builder.readthedocs.io/en/latest/

[2021-04-29 19:44] #10052 closed, assigned to nobody

[2021-04-29 19:48] aksharpande commented on #9552
Where did you add this? I'm seeing the same error when trying to sync projects from SCM?

[2021-04-29 20:22] tiagodread commented on #9769
Verified that:

- EEs with org associated can be updated and become global
- EEs globals can not be updated to set an organization
- EEs with org A can not be updated to use org B

[2021-04-29 20:22] #9769 closed, assigned to fosterseth, nixocio

[2021-04-29 20:40] sean-m-sullivan opened #10055 "Proposal, Add back Custom virtual env fields in modules"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Proposal:
Return the code to have custom virtual environments in their applicable modules that were removed in the update to 17 -> 18.

The reason being is that there are tower users that use awx.awx because it contains the latest updates and feature improvements, the vast majority still work on Tower 3.7.x,3.8.x.

These would updated and noted in th

[2021-04-29 20:58] tiagodread commented on #9864
While running Adhoc commands, now is possible to select an EE globally available or any other EE associated with the organization in which the inventory is is part of.

[2021-04-29 20:58] #9864 closed, assigned to AlexSCorey

[2021-04-29 21:37] AlexSCorey commented on #9056
Removing my name this issue was resolved with https://github.com/ansible/awx/pull/9776

[2021-04-29 21:40] AlexSCorey commented on #8795
Was resolved with https://github.com/ansible/awx/pull/9345
![Screen Shot 2021-04-29 at 5 39 53 PM](https://user-images.githubusercontent.com/39280967/116621964-f2eba600-a911-11eb-8cc0-4a95439219c5.png)
![Screen Shot 2021-04-29 at 5 39 38 PM](https://user-images.githubusercontent.com/39280967/116621966-f3843c80-a911-11eb-8115-8932880b29b0.png)

[2021-04-29 21:40] #8795 closed, assigned to AlexSCorey

[2021-04-30 01:06] l3ender commented on #2462
I'm in the exact same situation as @Ecno92. Virtualenvs provided very helpful and necessary flexibility in our fairly locked down environment. We do not have container support in our environment.

[2021-04-30 04:15] Bishwash-Pokhrel commented on #10049
Can you check with awx-operator logs and see if there are any failed tasks? The first answer in the following issue worked for me.
https://github.com/ansible/awx/issues/3032

[2021-04-30 04:39] sfhl commented on #10049
Hi there,
thanks for your reply.
 We do not use awx-operator at the moment, so ther are no logs.

Executing the given commands does not help. I even executed `awx-manage deprovision_instance --hostname=$(hostname)` on the awx-task instance (web & manage are splitted into different pods for scalability) to force it to re-register.

The logs still shows:

[code]

[2021-04-30 04:50] weiyentan commented on #9917
You are a life saver @Bbett . I ower you a coffee/beer. That fixed my problem.

[2021-04-30 04:53] sfhl commented on #10049
Hi again,
not sure if related, but i have also checked the psql server log files (hosted) and found the following:
`ERROR: duplicate key value violates unique constraint "auth_user_username_key"`

[2021-04-30 07:57] digifuchsi opened #10057 "tower_workflow_job_template not changing ask_limit_on_launch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using tower_workflow_job_template to change ask_limit_on_launch the module is reporting OK and does not do the change.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.10
* Operating System: SLES
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Create a workflow template and set ask_limit_on_l

[2021-04-30 09:25] Bishwash-Pokhrel opened #10058 "project_update.yml keeps on skipping taks despite changed requirements.yml"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: minikube/docker on linux
* Ansible version:  2.9.13
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Copy the playbook from [this](https://github.com/ansible/awx/blob/devel/awx/playbooks/project_update.yml) playbook. Import it as a project. Set up requirements.yml

[2021-04-30 10:43] weiyentan commented on #10055
Hmm with execution enviroments I can add the collection version I want. And ansible runner will use that...ansible builder can do that. I supply a list of collections I want to pull and then ansible-builder bundles them up and when the job template runs, it executes in the environment using the correct collection version.

At the moment I have a execution environment with Ansible 2.9 (the one that

[2021-04-30 11:11] DrackThor commented on #9917
@Bbett at this point I'm honestly confused about all steps to take or not take.
Could you please post your execution-environment.yml and all other modified files?
Thanks in advance :)

[2021-04-30 11:37] andresch26 commented on #9968
Sure... this is the sort of inventory file I am specifying:

[code]

[2021-04-30 12:36] ArtsiomMusin commented on #9651
this feature would be helpful for us as well.

[2021-04-30 13:59] sean-m-sullivan commented on #10055
This is for Older versions of Tower/Awx that don't have execution environments, making the modules compatible with both at the same time while people transition from one to the other.

[2021-04-30 14:25] weiyentan commented on #9917
Hi @DrackThor ,

Would love to help while waiting, which part is confusing you? I can add some clarity?

[2021-04-30 14:40] rdzielicki opened #10060 "looking for an easy way to create venv on AWX K8s install"
##### ISSUE TYPE
 - Implement an easy way to manage and create venv in web /task container, by default containers are configured with no privilege escalation

##### SUMMARY
Have an easy way to create, manage venv in AWX in K8s

[2021-04-30 14:44] rdzielicki commented on #10060
Guess have to build custom images but it so common to need venv and modules that it should be built in ( event if you can wrap easily instances in K8s to rebuilt them),

[2021-04-30 14:54] rdzielicki commented on #10060
duplicate of #3145 even if the built in feature would be nice ( even if we can rebuilt  and keep persistent data with K8s philosophy)

[2021-04-30 14:58] Bbett commented on #9917
@DrackThor here are my files.

**execution-environment.yml**

[code]

**requirements.yml**
[code]
**requirements.txt**
`urllib3`

**bindep.txt**
[code]

and finally **context/run.sh**

[code]

Be sure to update the run.sh to be executable

`chmod +x context/run.sh
`

Then build the container with the following command.

`ansible-builder build --tag yourtagname --context ./context --container-runti

[2021-04-30 15:55] Uzzi opened #10061 "AWX EE 0.2.0 doesn't work fine"
##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: k3s, docker
* Operating System: Debian 10
* Web Browser: Firefox

I've two EE:
   AWX EE 0.1.1
   quay.io/ansible/awx-ee:0.1.1
   AWX EE 0.2.0
    quay.io/ansible/awx-ee:0.2.0

Launching job with AWX EE 0.2.0:
`Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 1397, i

[2021-04-30 15:59] shanemcd commented on #10061
The version of AWX that uses 0.2.0 hasn't been released yet. Expect that later today or Monday.

[2021-04-30 15:59] #10061 closed, assigned to nobody

[2021-04-30 16:06] darrinseats commented on #2350
+1

[2021-04-30 16:14] priyan-github commented on #7362
+1 ..we need this feature with proper documentation with examples.

[2021-04-30 16:29] stasonspb commented on #9917
You can add reinstall `ansible-runner` to execution-environment.yml:
[code]

Then build:
`ansible-builder build --tag yourtagname --context ./context --container-runtime docker`

[2021-04-30 16:44] Bbett commented on #9917
@stasonspb that is correct, I didn't think to do that after I found that doing a reinstall of ansible-runner was correcting the issue.

[2021-04-30 17:03] shanemcd commented on #10060
- What version of AWX?
- Why do you need to install a custom venv in the web container?

[2021-04-30 17:07] shanemcd commented on #10058
Hello. I think this is a bug that's been biting several people lately. Basically, you need to create a Galaxy credential and attach that to your organization. We'll look to see about updating / creating some docs around this. For now, see https://github.com/ansible/awx/issues/8341#issuecomment-707310633

[2021-04-30 17:07] #10058 closed, assigned to nobody

[2021-04-30 17:10] shanemcd commented on #10055
I'd be interested in learning if we have a pattern in place for backwards compatibility.

[2021-04-30 17:12] shanemcd commented on #10049
Hi. We don't support older versions of AWX. Can you move to $latest and let us know if this is still a problem?

[2021-04-30 17:14] #10028 closed, assigned to nobody

[2021-04-30 17:16] wenottingham commented on #10027
If you're running the docker-compose install on CentOS 7, you may need to debug that on your own. We test on newer distros (latest Fedora, RHEL 8, etc.)

[2021-04-30 18:28] jagibson commented on #371
So frustrating.  We never started using tower - not having this functionality was the last straw when I was evaluating.

[2021-04-30 18:31] nixocio commented on #8890
I was not able to re-create this on devel. It seems like it was already fixed.

[2021-04-30 18:41] saxx0n commented on #9917
@Bbett I owe you several beers.  That fix just solved a week of banging my head against a wall.

[2021-04-30 19:00] akus062381 opened #10064 "[ui_next] Testability needed for Wizards"
Working on adding automation to some of our test suites, and I came across locators that are needed (without them I can't finish writing the tests).
The wizards for adding roles to teams, or users to teams, job template launch, schedule prompting, etc- many of the elements in these wizards are in need of better locators, especially the Next button

![image](https://user-images.githubusercontent.co

[2021-04-30 23:46] jladdjr commented on #9168
Did some testing with this and am not able to reproduce.

1. Started a [simple server](https://gist.github.com/jladdjr/17ffdb498298652f8e87ac532f5ce1c7) on the awx container that prints the body that gets POST-ed.
2. As a sanity check, first created a webhook notification template _without providing a custom body_, attached to a regular job and to a project. Verified that I received a body in both

[2021-04-30 23:47] jladdjr commented on #9168
Closing since I can't reproduce. @hjkatz if you're still seeing the issue and can provide an update, let us know.

[2021-04-30 23:48] #9168 closed, assigned to jladdjr

[2021-05-01 07:06] renehasp commented on #9900
What does this mean? Did you delete storage.conf? I don't see "oder" editing

[2021-05-01 09:42] DrackThor commented on #9917
Hi @weiyentan what's still unclear to me:

- when and why to use `ANSIBLE_RUNNER_IMAGE=quay.io/ansible/ansible-runner:devel` or `ANSIBLE_RUNNER_IMAGE=quay.io/ansible/awx-ee:0.1.1`?
- I'm having my requirements.txt, requirements.yml and bindeb.txt files in my awx-ee repo root folder now, do I need to copy the pre-existing values from _build/requirements.* and _build/bindep.txt as well? (I assume ye

[2021-05-01 14:53] lemmy04 opened #10075 "documentation needed: how to upgrade an existing AWX in kubernetes without loosing all data"
##### ISSUE TYPE
 - documentation request: update guide needed

##### SUMMARY
There is no documentation about how to upgrade an existing AWX on kubernetes, i.e. from 19.0.0 to 19.1.0, without loosing the data in the database.

[2021-05-01 20:35] weiyentan commented on #9917
You need bindep.txt. I wish some one can explain to me how I can add what I want from different repositories.  But the requirement.yml you choose what you want.  These ate galaxy things. Requirements.txt are what the old venv python libraries that you want.

[2021-05-01 20:37] weiyentan commented on #9917
The runner image is relating to the engine that is driving ansible. 2.0 runner from pip3 seems to work with awx

[2021-05-02 00:16] sean-m-sullivan commented on #10008
Have figured out what went wrong in the module, and have updated the [variables in this file](https://github.com/sean-m-sullivan/awx/blob/job_launch_tags/awx_collection/plugins/modules/tower_job_launch.py), but will be checking on a workday to see how to best add tests to prevent missing this in the future.

[2021-05-02 07:52] amg-web opened #10078 "Cant delete managed_by_tower Execution Environments"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Deleted during update Default EE is still in a list and can not be removed

##### ENVIRONMENT
* AWX version: 19.0.0, 19.1.0
* AWX install method: AWX Operator
* Ansible version:  Who knows ?
* Operating System: Ubuntu 18.04
* Web Browser: Opera

##### STEPS TO REPRODUCE

Updated my minikube AWX setup:
kubectl delete -f myawx.yml
then
minikube kubectl a

[2021-05-02 08:30] amg-web commented on #9747
I manage to fix it by correcting nginx proxy config.
Config I used described here:
https://www.linkedin.com/pulse/how-use-nginx-reverse-proxy-https-wss-self-signed-ramos-da-silva?articleId=6678584723419226112

[2021-05-03 05:05] sfhl commented on #10049
Hi there,
my goal is to upgrade to the latest version (19.0.0) but there i get KeyError: 'guid', so i want to clean up previous errors first.

[2021-05-03 06:13] sfhl commented on #10049
Hi there,
i "fixed" the guid error, by using an init-container with v19, because we are not using the operator and deploying a custom components. So it is now running version 19.1.0, but the log messages are still present:

[code]

[2021-05-03 07:55] rdzielicki commented on #10060
tried AWX version 15 in K8s configuration, but update it to latest soon. Got to correct an information i need it in awx_task, so you can have a collection of venv with different ansible version and modules; it would be a non sense to pull x AWX pod instances to have several Ansible version and modules.
Also even without the need of venv and different version of Ansible you would need some addition

[2021-05-03 10:23] endriu0 commented on #9555
Hey @shanemcd . I can confirm it's changed - no longer hanging forever instead throwing a 502 after a minute or so on the `broken` hosts. Found it to be only the case with AWS EC2 sourced inventories and cannot really figure out what's causing some hosts to be in the broken state.

From my testing trying multiple times between gui / api finally removes the broken hosts and it just works on next pu

[2021-05-03 10:52] daenney opened #10079 "Cannot update custom credential type with multiple multiline fields"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a credential type has multiple multiline fields defined, only the first multiline field gets an editor when editing a credential. All other multiline fields are disabled and cannot be interacted with.

If instead I create a credential type with only one multiline field, and keep the other string fields for what they are, then I can modify all fiel

[2021-05-03 11:13] daenney commented on #10060
You can do something like this to create your own execution environment, with whatever you want in it. Then update your templates to use that execution environment when running the task.

[code]

[2021-05-03 11:14] daenney commented on #10078
I field this same issue against AWX Operator instead: https://github.com/ansible/awx-operator/issues/255

[2021-05-03 11:18] eschek87 commented on #9747
And what of the described settings helped?

[2021-05-03 11:20] daenney commented on #10079
It seems the issue is actually the fact that the field doesn't have `secret: true` on it. Any multiline field without `secret: true` isn't editable after credential creation. Explicitly setting `secret: false` on it doesn't fix it either.

[2021-05-03 11:29] #9555 closed, assigned to nobody

[2021-05-03 11:48] dimovstanimir commented on #9747
@amg-web can you make a short video and show us how it looks when being fixed and working?

Thanks in advance

[2021-05-03 11:56] rdzielicki commented on #10060
yes but it you'll need to rebuild a DockerFile and pull the image every time you need additionnal Ansible version

[2021-05-03 12:11] ashnehete commented on #9733
I am still seeing this error on Kubernetes
[code]

Any possible solutions because I think I'm using the latest version for all.

[2021-05-03 12:27] endriu0 opened #10080 "AWX deleting old hosts from DB throws 502"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: awx-operator / k8s helm charts
* Ansible version:   2.11.0rc2
* Operating System: Mac
* Web Browser: Vivaldi

##### STEPS TO REPRODUCE

1. Use AWS ASG and scale up / scale down
2. Use AWX with ec2_inventory pulling directly from AWS.
3. Inventory update set to delete and then update
4. Some

[2021-05-03 12:30] amg-web commented on #9747
about websocket proxy config.
This is not the only place. You can search a lot of manuals about websocket proxy configs

All animations is working.

![Ansible AWX - Opera 03 05 2021 15_41_42](https://user-images.githubusercontent.com/22151881/116877042-14a4a000-ac26-11eb-9dea-3d21a032d510.png)

[2021-05-03 13:04] amg-web commented on #9747
But there is another error in browser debug as you can see.
`useWebsocket.js:20 WebSocket is already in CLOSING or CLOSED state.
t @ useWebsocket.js:20
(anonymous) @ useWebsocket.js:37
setTimeout (async)
Kn.c.current.onclose @ useWebsocket.js:36`

[2021-05-03 13:26] jkaulard opened #10082 "become: yes also applied to local_actions"
##### ISSUE TYPE
##### COMPONENT NAME

 - UI

##### SUMMARY

become: yes also applied to local_actions

TASK [nagios_plugins : get naemon config-directory from git] *******************
fatal: [do-elearnapp-2]: FAILED! => {"changed": false, "module_stderr": "/bin/sh: sudo: command not found\n", "module_stdout": "", "msg": "MODULE FAILURE\nSee stdout/stderr for the exact error", "rc": 127}

##### EN

[2021-05-03 13:28] ryan012880 opened #10083 "Unable to delete Execution Environments in UI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After upgrading from 19.0.0 to 19.1.0 I am unable to delete the old AWX EE created by the deployer/installer in the Execution Environment Section even using an admin user or a user with an admin role.

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: minikube
* Ansible version:  2.11.x
* Operating System: RHEL7
* Web Browser: Chrome

#####

[2021-05-03 13:28] #9872 closed, assigned to nobody

[2021-05-03 13:43] shanemcd commented on #10083
Let's track this in https://github.com/ansible/awx/issues/10078

[2021-05-03 13:43] #10083 closed, assigned to nobody

[2021-05-03 14:10] jakemcdermott commented on #9629
https://github.com/ansible/awx/pull/9827

[2021-05-03 14:10] #9629 closed, assigned to nobody

[2021-05-03 16:12] #9056 closed, assigned to one-t

[2021-05-03 16:20] wenottingham commented on #10082
This is how ansible works, to the best of my recollection - the `become` setting applies to all tasks run on behalf of that host.

In any case, this would be best discussed at https://github.com/ansible/ansible - this repo is for issues in AWX itself.

[2021-05-03 16:20] #10082 closed, assigned to nobody

[2021-05-03 17:09] AlexSCorey opened #10088 "Convert Teams and Related tabs to PF tables view"
See #6189 6189
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[2021-05-03 18:51] amg-web commented on #9747
I think here we can check best working config: https://github.com/ansible/awx/blob/15.0.1/tools/docker-compose/nginx.vh.default.conf

[2021-05-03 19:36] lsabalo opened #10091 "Unable to make changes on AWX_TASK_ENV (19.1.0)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Unable to define AWX_TASK_ENV content using either GUI or API

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: openshift
* Ansible version:  default on base image
* Operating System: OKD
* Web Browser: Safari / Chrome

##### STEPS TO REPRODUCE
I'm trying to add  **"GIT_SSL_NO_VERIFY": "True"** to **"AWX_TASK_ENV"** by running the followi

[2021-05-03 19:44] tiagodread opened #10092 "User token tab bugs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This is a follow up from https://github.com/ansible/awx/pull/10056

- [x] The token list is not using the new table component
- [x] When the user click on `Tokens` the `Tab` is not being displayed
![image](https://user-images.githubusercontent.com/12464858/116896141-4e67ad80-ac0a-11eb-8ad9-8eae5d34273c.png)

![image](https://user-images.githubuserconte

[2021-05-03 19:48] shanemcd opened #10093 "UX Feedback: Allow for refreshing data in lookup modals"
A lot of the times when i'm using the UI, I get to a point where i need to create a credential. I'll open up a new tab, create the credential, then go back to my first tab. The old UI used to do do the api call when you clicked the little magnifying glass, so it would pick up the newly created credential.

Not prescribing a solution here, just describing the problem. Maybe a little manual "refresh

[2021-05-03 20:19] jladdjr commented on #8853
@mabashian I think https://github.com/ansible/awx/pull/10094 should give you what you need in order to get notification errors directly from `api/v2/notification_templates`.

[2021-05-03 21:09] nixocio opened #10095 "Survey list missing edit icon"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Survey list missing edit icon.

Current implementation:

![image](https://user-images.githubusercontent.com/9053044/116934066-72d78000-ac32-11eb-9055-0b0f19f6b60f.png)

Mockup:

![image](https://user-images.githubusercontent.com/9053044/116934007-5afffc00-ac32-11eb-9497-eee06c951658.png)

[2021-05-04 04:05] jladdjr commented on #8853
Chatted with @AlexSCorey who said it'd be fine to go ahead and get the API side of things in and the UI side can follow up separately. Applied `mergeit` on https://github.com/ansible/awx/pull/10094 so that should be in soon.

Removing API label on this ticket since (afaict) the needed API support is now in. @AlexSCorey , if you find that you're needing anything else from the API, just give a holle

[2021-05-04 06:30] lemmy04 opened #10098 "AWXKIT: building the docs fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm trying to build the docs according to the instructions on the page  https://github.com/ansible/awx/tree/devel/awxkit/awxkit/cli/docs. After some initial hiccup (I had to point TOWER_HOST at the insecure http: ingress instead of my secure one or it'd fail with a certificate error due to my local CA being unknown) I get to a point where sphinx dies d

[2021-05-04 06:36] amg-web commented on #9747
@jakemcdermott how do you use it? Which nginx or apache config is in use?
my current config does not update time counter and have some errors in browser debug window

[2021-05-04 07:00] Bishwash-Pokhrel commented on #10058
Hi, Even after following the steps from the [comment](https://github.com/ansible/awx/issues/8341#issuecomment-707310633). The job is still skipping. Here is what I did:
1. Created a new galaxy credential from  /api/v2/credentials/?credential_type__kind=galaxy.
2. POST /api/v2/organizations/1/galaxy_credentials/
{
    "id": 2,
    "associate": true
}
The output of  SELECT * FROM conf_setting WHERE

[2021-05-04 07:55] yurtesen commented on #9540
So what is the final verdict? Containers make upgrading software more difficult? That is not what was advertised to me earlier... 😄
What I mean is, we won't be able to upgrade AWX anymore is that what this means?

[2021-05-04 09:13] DrackThor commented on #9961
@duntonr I'm experiencing quite the same issues - I often get this output:
[code]
I've recently got my custom EE working on my test cluster (#9917 ), where I also dont get this error.
On my second cluster however I keep getting this RuntimeError quite frequently.

ENVIRONMENT
AWX version: 19.0.0
AWX install method: AWX Operator 0.8.0 via kubeadm 1.19.10
Ansible version - awx-ee: core 2.12.0.dev0
O

[2021-05-04 10:57] garnser commented on #9866
I've been testing to run a docker install since the 18.0.0 release and are seeing the same issues as well on a vanilla installation.

Combining #9552 with `docker rename awx_tools_1 awx` seams to do the trick however

[2021-05-04 11:09] lo78cn commented on #9552
Same issue with release 19.1.0 on Debian 10. Ngnix user does not exist and AWX cannot be used. The Makefile work-a-round fixes the issue.
[code]

[2021-05-04 11:26] lo78cn opened #10099 "Demo Job Template run fails; source control update error: 'overlay' is not supported over overlayfs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Demo Job Template run fails; source control update error: 'overlay' is not supported over overlayfs

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.14
* Operating System: Debian 10.9
* Web Browser: Brave version 1.23.75 Chromium: 90.0.4430.93 (Official Build) (x86_64)

##### STEPS TO REPRODUCE
* gi

[2021-05-04 14:10] AlexSCorey commented on #10093
@shanemcd are you saying that the newly created credential does not appear in a credential look up when you open it?
![Screen Shot 2021-05-04 at 10 06 24 AM](https://user-images.githubusercontent.com/39280967/117016524-cabcc800-acc0-11eb-8c41-6ced8c0de8e8.png)

[2021-05-04 14:13] shanemcd commented on #10093
Correct.

[2021-05-04 14:19] AlexSCorey commented on #10093
Ok, this is probably a problem with other look ups as well.

[2021-05-04 14:52] vandevelde-tom commented on #4089
awx is not fully providing the command option used in ansible-inventory.
Storing host individual vault files is not possible, while it is working in command line.

It would be nice to have full command option support like :
[code]

[2021-05-04 15:36] beeankha commented on #8958
@D0rmouse I'm gonna go ahead and close this issue, please let us know if you have any further trouble with this!

[2021-05-04 15:36] #8958 closed, assigned to nobody

[2021-05-04 15:37] beeankha commented on #9603
@bankinobi I'm gonna go ahead and close this issue, please re-open if what was suggested by @sean-m-sullivan doesn't work for you.

[2021-05-04 15:37] #9603 closed, assigned to nobody

[2021-05-04 15:56] sean-m-sullivan commented on #9342
So have been digging around, going to post my notes here, I am not quite to the bottom of why this is, but while evaluating line 133, the _create is not finding the related field like it normally would, because galaxy_credentials doesn't exist on the main page, as its under credentials.

[code]
The difference is that awxkit.api.pages, while its defined for all the other exportable relations, like

[2021-05-04 16:57] AlexSCorey opened #10103 "Execution Environment Templates Tab has wrong empty state message"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Sub lists for an 'external resource' like the Execution Environments tab inside of an Organization or the Templates Tab inside of an Execution Environment should have link to take the user to the top level resource list so that they can add/edit a a resource.

Using the screen shot below we are inside of an Execution Environment on the Templates tab.

[2021-05-04 17:08] one-t commented on #443
This has already been merged as of february

[2021-05-04 17:08] #443 closed, assigned to unlikelyzero, yagomarques, masbahnana

[2021-05-04 17:23] fosterseth opened #10104 "failures in ansible-test integration"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

getting the following failures on devel
[code]
##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: docker on linux
* Ansible version:  2.10.8

[2021-05-04 20:09] tiagodread commented on #9977
Verified manually, all e2e tests are 🟢

[2021-05-04 20:09] #9977 closed, assigned to AlexSCorey

[2021-05-04 21:05] stanislaspiron commented on #10060
@daenney thank you for providing this solution…

This solution should be documented in awx-ee readme.

[2021-05-04 23:39] nlvw commented on #9961
I was receiving the same error, and behavior in 19.0.0.  In 19.1.0 I no longer receive the error but the behavior remains.  I cannot run any job with more then 3 hosts without the job failing mysteriously with cutoff output and no errors.

[2021-05-05 04:48] samalv opened #10107 "Job was launched with prompted fields you do not have access to."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

A user can't restart a job the s/he launched before

##### ENVIRONMENT
* AWX version:  14.1.0
* AWX install method: docker on linux
* Ansible version:  2.10.8
* Operating System: CentOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Run a job template
2. Try to start the job again (regardless whether it has run successfully or not)

##### EXPECTE

[2021-05-05 06:10] maccormac opened #10109 "AWX 19.1.0 error - winrm or requests is not installed: No module named 'winrm'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX 19.1.0 EE is missing pywinrm module resulting in failure to connect to Windows hosts

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: awx-operator using minikube with Docker driver
* Ansible version: 2.11.0rc2
* Operating System: Ubuntu 20.04
* Web Browser: Firefox

##### STEPS TO REPRODUCE

- Execute a job that requires ansible_conne

[2021-05-05 08:26] Valvos420 commented on #10099
Hello, which version of docker do you use ?

[2021-05-05 08:31] lo78cn commented on #10099
[code]

[2021-05-05 08:35] Saurabh-Thakre opened #10110 "RFE - Multi-Tenant Stakeholder Management and Governance"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The customer currently has a multi-tenant Ansible tower with 8-10 tenants using the tower actively.
Before scaling our Tower infrastructure, they wanted to know if there are better management/governance features on the Ansible tower.

Need help with the consumption-based model for the tower, but currently, it has 0 features for that.

It would be he

[2021-05-05 08:35] Valvos420 commented on #10049
I had the same issues with the AWX is upgrading ... and someone tell me to install the v1.18.1 of minikube instead of v1.19.0 because awx don't like the v1.19.0. Try it and tell me what happen

[2021-05-05 09:20] yurtesen opened #10111 "Inventory file box does not allow custom filename input."
I am sorry if this was reported before I tried to search the issues open and closed but could not find it.
Also I am sorry that I am not using the latest version because upgrade process is broken -> https://github.com/ansible/awx/issues/9540

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Before the new skin, I could type the name of the file there myself. Now it only allows me to select from the l

[2021-05-05 09:40] daenney commented on #10060
Sure, but that's kinda how things work in the Kubernetes world. Everything's a container and you shouldn't be modifying them at runtime to install different things into them. Much like you wouldn't have 2 ansible versions in the same venv, you'd have 2 separate execution environments.

[2021-05-05 10:06] DrackThor commented on #9917
I've just tried to install awx 19.1.0 and use my previously built ee container, which brought me this error
[code]
steps to reproduce:
- install AWX 19.1.0 via awx operator 0.9.0
- build custom EE using awx-ee repo and ansible-builder (1.0.0a1)
- create Execution Environment with this image
- run simple "ping" playbook on this EE
  - same behaviour for all my playbooks

@shanemcd should I add addi

[2021-05-05 11:19] shanemcd commented on #9917
@DrackThor Did you rebuild your EE on top of AWX EE 0.2.0?

[2021-05-05 11:22] DrackThor commented on #9917
No, I've used this execution-environment.yaml:
[code]

I'll try using ```quay.io/ansible/awx-ee:0.2.0``` instead of ```quay.io/ansible/ansible-runner:devel``` asap.

[2021-05-05 11:35] shanemcd commented on #9917
@DrackThor ahhh I think you need to bump to ansible-runner 2.0.0a2

[2021-05-05 11:55] balonik commented on #9730
@ronjarrell see https://github.com/ansible/awx/issues/8341#issuecomment-707310633

[2021-05-05 12:07] Nemental commented on #10111
I can confirm.
**Workaround**: Open the web inspector tool of your browser and edit the `value` of one of the dropdown items. Then select the previously edited item and save.

[2021-05-05 12:09] shanemcd commented on #10110
This issue does not belong in the upstream project.

[2021-05-05 12:09] #10110 closed, assigned to nobody

[2021-05-05 13:13] garnser commented on #10099
Running into the same issue, using the following versions

[code]

[2021-05-05 13:16] SWADESNA opened #10112 "[RFE] Populate the "Ansible Galaxy" credential to an new Organization when created using API"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Starting Ansible Tower 3.8, Currently, when we add a new Organization in Ansible Tower UI, The "Galaxy Credential" field is automatically populated with the default "Ansible Galaxy" credential.

But the same does not happen while creating a new Organization with API. We can make sure that the API also automatically add the 'missing' credential.

[2021-05-05 13:21] pabelanger commented on #9917
There shouldn't be a need to have

[code]

We _should_ be pulling in the latest version by default. If not, then there is a problem some place

[2021-05-05 13:22] DrackThor commented on #9917
I've got it running by building upon ```awx-ee:0.2.0``` like mentioned in #10060
This image, in used in an Execution Environment on awx 19.1.0 works for me:
[code]
This way Kerberos support works as well 😃

- I assume this is just a workaround and the use of ansible-builder should be the way to go?
- thanks for your help so far! 😄

[2021-05-05 13:24] AlexSCorey commented on #10111
@yurtesen This is fixed in the latest AWX version

[2021-05-05 13:25] pabelanger commented on #9917
Yah, it looks like you didn't use ansible-builder to create your dockerfile. Which is fine, but you now have development headers in your final image.

https://github.com/ansible/network-ee is another EE, which has a more minimal dockerfile

[2021-05-05 13:26] #10111 closed, assigned to nobody

[2021-05-05 13:39] phemmer commented on #9905
The job output page.

[2021-05-05 14:56] phemmer opened #10114 "Container Registry credentials don't work with Container Groups"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This is a reopen of #9928. #9928 was closed stating #9623 addresses the issue and would be resolved in the next release. However #9623 was included in release 19.1.0 and the issue still persists.

Execution environments can't be pulled from private registries as the authentication credentials are not being passed to the pod spec.

##### ENVIRONMENT
* A

[2021-05-05 15:05] shanemcd commented on #10114
I apologize for the confusion here. There are several problems here. The container registry credential type is only used when we are running jobs directly on a control plane node via podman (this isn't something you can do upstream atm).

For jobs running as Kubernetes pods, you will need to attach an imagePullSecret to the service account your pods are running under, wherever they are running. We

[2021-05-05 15:12] bandwiches commented on #9906
Well, great talk.  Glad we took the time to understand what the root issue was here, because it wasn't settings.

The OSError is in fact true here and it's related to the container environment.  Somehow communications between the containers died and could not be recreated.

[2021-05-05 15:45] akus062381 commented on #8830
this is fixed.

[2021-05-05 15:45] #8830 closed, assigned to nobody

[2021-05-05 17:59] CatchKarthik opened #10115 "couldn't resolve module/action 'alternatives'. This often indicates a misspelling, missing collection, or incorrect module path"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
We have a playbook that uses alternatives module. After AWX upgrade, the particular task has been failing. The same playbook was working fine in the previous version of AWX.

We get the below error while running the playbook with verbosity on
[code]
##### ENVIRONMENT
* AWX version: 19.0.0
* AWX install method: operator
*

[2021-05-05 18:20] bandwiches opened #10117 "Install w/Minikube leaves AWX pod PENDING."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can't install via minikube, same process fails over and over again.  AWX pods remain 0/4 PENDING even after an hour.  Nothing is accessible, no valuable logs anywhere, just a complete disaster.  This was all from scratch following the guide.

[code]

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: minikube
* Ansible version: n/a
* Operati

[2021-05-05 19:07] ckozler commented on #9730
@shanemcd this is happening for me as well on 19. Should I open a new issue? Same problem, swears requirements.yml is not there. Source repo sync just skips over it saying conditional was false and my individual job runs don't show it trying to pull in collections from galaxy

[2021-05-05 19:45] phemmer commented on #10114
Ah, should this be re-opened then?

I originally had closed it because I noticed the issue template had `minishift` as the available install method, not `minikube`, so I was thinking that minikube wasn't a supported method and that minishift was required. So I closed it to go back and review. But upon reading the documentation, I see that minikube is the documented method, and minishift isn't even

[2021-05-05 20:05] jbradberry opened #10118 "Jobs on systems missing EEs throw an error instead of failing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If the user fails to have an execution environment available, the dispatcher will raise an error and a traceback will go to the logs, but the feedback provided to the user via the UI or API is mysterious.

##### ENVIRONMENT
* AWX version: 19.1.0

##### STEPS TO REPRODUCE

1. deliberately delete all EEs, including any installed managed-by-tower EEs
2. t

[2021-05-05 20:52] wenottingham commented on #10115
Was your previous version 17 or earlier?

awx has moved to 'execution environments' for execution. This includes ansible-core 2.11 and a limited set of collections - as that message says, `alternatives` is from the community.general collection, which is not included.

You'd need to build a new execution envrionment with the collection(s) that you need.

[2021-05-05 20:52] #10115 closed, assigned to nobody

[2021-05-05 21:06] snooyen opened #10119 "AWX Collection 15.0.1 tower_job_template module does not update surveys for existing job templates"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running the tower_job_template module to update an existing job template that already has a survey on AWX, the module reports `"changed": false` & does not update the survey with new items.

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.9.10
*

[2021-05-05 21:10] snooyen commented on #10119
I'd like to note that if the job template DOES NOT EXIST prior to running the tower_job_template module, the survey spec gets imported successfully.  So if I delete the job template prior to import, we'll get the correct results.

[2021-05-05 22:12] CatchKarthik commented on #10115
Yeah. It was version 17.  When you say "new execution environment", what
does that mean please? Is there a documentation that I can refer please?

Thanks

On Wed, May 5, 2021, 14:53 Bill Nottingham ***@***.***> wrote:

[2021-05-06 00:51] wenottingham commented on #10115
awx-project link: https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/En0NrUiqAAAJ

[2021-05-06 06:52] Dugelon opened #10120 "AWX 19.0.0 is not using the search domains and nameserver specified in the container resolv.conf file"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
To resolv our internal host listed in our AWX inventories we need to use specific DNS nameservers and search domain.
We add specific "search" domains and "nameserver" in the awx-web and awx-task /etc/resolv.conf file.
This is done by adding a volume and volumeMounts in the awx deployment that use a configmap with resolv.conf content.

With this configu

[2021-05-06 07:08] sfhl commented on #10049
Hi there, thanks for your reply!
I think i do not really get it. You say i should install another kubernetes version?

[2021-05-06 07:24] Valvos420 commented on #10049
Yes, if you try to install minikube with this command or something like
that:
curl -LO
https://storage.googleapis.com/minikube/releases/latest/minikube_latest_amd64.deb
sudo dpkg -i minikube_latest_amd64.deb
Try instead these command:

curl -LO
https://storage.googleapis.com/minikube/releases/latest/minikube_1.18.1-0_amd64.deb

sudo dpkg -i minikube_1.18.1-0_amd64.deb

And if doesn't work either,

[2021-05-06 07:27] sfhl commented on #10049
Hi there,

i am not using minikube at all, i am using hosted kubernetes in opentelekomcloud (cce)

[2021-05-06 07:31] DrackThor commented on #9917
@pabelanger exactly, now I just extended the awx-ee:0.2.0 image.
I wasn't able to build a working image using ansible-builder for awx 19.1.0 so far.
I know that this approach has some overhead, but as long as it's working thats fine with me now - I'll look into optimizing and building the EE with ansible-builder later on.

So imho there are two workarounds for this issue so far:
- for 19.0.0: buil

[2021-05-06 07:34] Valvos420 commented on #10049
Oh, I so sorry, I didn't understand that at all. Good luck for your
research

Le jeu. 6 mai 2021 à 09:27, sfhl ***@***.***> a écrit :

[2021-05-06 07:40] DrackThor commented on #9961
I was able to get my EE running like I mentioned in #9917, maybe this also helps you 😄

[2021-05-06 08:15] Valvos420 commented on #10117
Same issue

[2021-05-06 08:18] fourstepper opened #10122 "AWX 19.1.0 - Roles and collections aren't pulled based on the roles/requirements.yml file"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Roles and collections aren't pulled based on the roles/requirements.yml file

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: minikube

##### STEPS TO REPRODUCE

- Pull a project from the SCM with the `roles/` directory, in which requirements.yml is present
- Run the SCM project update
- Run the playbook

##### EXPECTED RESULTS

- The ro

[2021-05-06 08:28] fourstepper opened #10123 "AWX 19.1.0 - Job settings cannot be saved (/worker-json.js returns 404)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Job settings cannot be saved, probably due to the `worker-json.js` returning 404.

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: minikube
* OS: Debian
* Browser: Chromium: 90.0.4430.93 (Official Build) (64-bit)

##### STEPS TO REPRODUCE

- Go the Settings > Jobs settings > Edit
- Tweak a setting
- Hit Save

##### EXPECTED RESULTS

- Th

[2021-05-06 08:44] fourstepper opened #10124 "AWX 19.1.0 - Websockets don't work, the job log isn't updated during the run"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The job output isn't seen until the job is finished. I suspect that websockets aren't working for me, for some reason.

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: minikube
* Web Browser: Chromium: 90.0.4430.93 (Official Build) (64-bit)

##### STEPS TO REPRODUCE

- Run any job task

##### EXPECTED RESULTS

- The output window getting

[2021-05-06 08:45] fourstepper commented on #10124
Seems related to https://github.com/ansible/awx/issues/9967

[2021-05-06 08:49] fourstepper commented on #10117
What does `kubectl describe po <name-of-pod>` give you?

[2021-05-06 08:53] Valvos420 commented on #10117
With the command: "minikube kubectl get events" and the issue was that i start the minikube with insufficient ram and cpu so i upgrade that, and now it's "awx is upgrading ..."

[2021-05-06 09:08] unixplex opened #10125 "please try to provide solutions which we posted."
please try to provide solutions which we posted.

[2021-05-06 09:55] badoqu commented on #10120
Have the extact same problem. We used to sepcify the parameter "awx_container_search_domains" in the install inventory file in previous versions. Was working well.

But now we are not able to use search domains for inventory items.

Only workaround i found is to sepcify the full FQDN in the inventory item names. The problem is that these inventories are populated automatically and use the short do

[2021-05-06 10:40] solarana opened #10126 "Workflow not working as expected when a job finish with an Error."
--------------------------------------------------------

##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Workflow not working as expected when a job finish with an Error.

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: openshift
* Ansible version:  2.9.11
* Operating System: CentOS
* Web Browser: google chrome

##### STEPS TO REPRODUCE

- Create "Print Hello World" job_template. Thi

[2021-05-06 11:46] MEYLSI commented on #10120
We face the same problem.
We tried to tweak the cordns config but not working too

[2021-05-06 11:53] noesberger commented on #9540
Hello

I have the same Issue and was not able to find a solution yet.

`2021-05-06 11:50:50,799 WARNING  [-] awx.main.wsbroadcast Connection from awx_1 to awx failed for unknown reason: '[Errno 104] Connection reset by peer'.`

2 main_instances are seen in the db:
[code]

[2021-05-06 12:00] noesberger commented on #9540
I removed now the "awx" instance. when I run the compose again it's not giving any error, last entries are:
[code]
Now it just stays there forever...

[2021-05-06 12:06] ghost commented on #9540
Someone would like to answer us ? @ryanpetrello @matburt

Cheers

[2021-05-06 12:17] unixplex commented on #9968
okay from where did you get the value of broadcast_websocket_secret ?

[2021-05-06 12:28] fourstepper commented on #9151
I agree with @chrismeyersfu - this would be great.

I have hit this, at https://github.com/ansible/awx/issues/10122

[2021-05-06 12:31] fourstepper commented on #10122
Everything works as expected now

I was missing the `Galaxy Credentials` setting in my organization's settings as pointed out in https://github.com/ansible/awx/issues/9151#issuecomment-789259122

[2021-05-06 12:36] AlanCoding commented on #9151
@chrismeyersfsu @fourstepper the open PR https://github.com/ansible/awx/pull/10068 attempts to add elaboration in the project update playbook. You can get a sense of the behavior by looking at the diff.

[2021-05-06 12:39] #10122 closed, assigned to nobody

[2021-05-06 12:39] fourstepper commented on #10124
I was mistaken. The log hasn't been showing up due to the task duration - on longer tasks, this works without a flaw

[2021-05-06 12:39] #10124 closed, assigned to nobody

[2021-05-06 12:48] AlanCoding commented on #10119
Directly embeding the blurb of code:

https://github.com/ansible/awx/blob/da9a0750008e54487296825719acd910a8a5dc5e/awx_collection/plugins/modules/tower_job_template.py#L574-L585

I am a little confused here myself. If it was discovered that `new_spec != existing_spec`, then I would expect the "changed" status to be set right then and there. The `on_changed` method doesn't _establish_ that a change

[2021-05-06 14:22] bandwiches commented on #10117
For clarity, I feel I should state that this is a minikube instance of K8S.  I do see a CPU warning on the pod, however it's tough to say what minimal system requirements are needed anymore.  This server is dedicated to Ansible and has successfully run v15 and v17 in a Docker environment.  Upgrading to v19 with the new install (minikube) all of a sudden it complains about resources.  I have to ask

[2021-05-06 14:24] shanemcd commented on #10125
Sorry, what?

[2021-05-06 14:25] #10125 closed, assigned to nobody

[2021-05-06 14:26] AlexSCorey opened #10127 "Survey cancel disables template launch button"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Launch button does not become enabled when the user clicks cancel on a Prompt on Launch button.

##### ENVIRONMENT
* AWX version: 19
* AWX install method: docker for mac

* Operating System: Big Sur
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a job template that has some Prompt on Launch values.  Launch the job template, when the Prompt on

[2021-05-06 14:39] AlexSCorey opened #10128 "Single select Survey Question should allow for no answer"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When answering survey questions on a launched job template, a single select question should have an empty string as an answer choice, if the question is not required.

##### ENVIRONMENT
* AWX version: 18
* AWX install method:  docker for mac
* Operating System: Big Sur
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a survey with a single selec

[2021-05-06 14:46] AlexSCorey opened #10129 "Erroneous Multiple Choice Survey Validation on Launch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Survey with a Multiple choice multi select question does not properly validate that question
@tiagodread
##### ENVIRONMENT
* AWX version: 19
* AWX install method:  docker for mac
* Operating System: Big Sur
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a required survey question that is Multiple Choice mutli select that has no default values.

[2021-05-06 14:50] nlvw commented on #9961
@DrackThor I'm using the builtin EE and not a custom one.  I've read through the issue you mentioned but failed to see how it address the problem mentioned here.

[2021-05-06 14:52] weiyentan commented on #9917
krb5 file can be mounted separately thru the crd resource.

On Thu, 6 May 2021 at 01:22, DrackThor ***@***.***> wrote:

[2021-05-06 15:04] bdoublet91 commented on #9594
updates there,

I have still problems with my playbooks.
I schedules system update at 1:00am with different environments. Same code is executed but it failed often in integration environment without logs whereas it succeed on hears environment
![image](https://user-images.githubusercontent.com/57101863/117317496-dc9d9700-ae89-11eb-8369-d615947a6b78.png)

last_day:
[code]

day_before
[code]
[code]

[2021-05-06 16:05] AlexSCorey opened #10132 "Convert Inventory -> Related group tab list and Hosts tab list to tables view"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Check out meta issue  https://github.com/ansible/awx/issues/6189

[2021-05-06 16:56] jorgeyanesdiez commented on #10109
I confirm I have the same issue with Operator 0.8.0 and 0.9.0 of AWX 19.x, so EE 0.1.x and 0.2.0

[2021-05-06 18:38] andresch26 commented on #9968
To be honest, I don't remeber at this point. I've tried so many different ways. Is there a way you'd recommend?

[2021-05-06 18:42] jladdjr commented on #9548
TLDR - think we need to synchronize schedule deletes and schedule updates. Looks like we're not doing that.

---

Looking at the error @jakemcdermott posted:

We were updating a unified job template
.. by setting the `next_schedule` field
.. but the schedule we were trying to set doesn't exist.

I think I see how this could play out.

The awx task scheduler updates schedules using the [awx_periodi

[2021-05-06 19:52] snooyen commented on #10119
@AlanCoding I think I've narrowed down as to why the "changed" status is incorrectly false.

In `TowerAPIModule.update_if_needed`
https://github.com/ansible/awx/blob/e4e5d65a71b9a1507c229f1ce6d3864d4d717c3f/awx_collection/plugins/module_utils/tower_api.py#L553-L564

Adding debug statements to `json_output`
[code]

Yields:
[code]

Preventing `on_update` from being called:

https://github.com/ansibl

[2021-05-06 20:06] snooyen commented on #10119
After looking more closely at `TowerAPIModule. objects_could_be_different` & `TowerAPIModule. fields_could_be_same`, it looks like `tower_job_template` is not passing `survey_spec` as a field to check.

Adding `survey_spec` to the "fields" for loop in `15.0.1/awx_collection/plugins/modules/tower_job_template.py` seems to resolve the issue.

BEFORE:
https://github.com/ansible/awx/blob/e4e5d65a71b9a

[2021-05-06 20:15] #9511 closed, assigned to tiagodread

[2021-05-06 20:15] #9503 closed, assigned to nobody

[2021-05-06 20:15] #9512 closed, assigned to nobody

[2021-05-06 21:08] tiagodread commented on #9635
@mabashian while verifing this issue I found this:

1. Create a credential CyberArk Conjur Secret Lookup
2. Create a credential CyberArk AIM Central Credential Provider Lookup
3. Create an AWS credential using the CyberArk Conjur Secret Lookup on Secret Key as an external secret management system
3. Edit this AWS credential and select CyberArk AIM Central Credential Provider Lookup  as an external

[2021-05-07 00:10] jmhbnz commented on #8129
Adding to this feature request - In my current org I've just run into a situation where we require giving a team access to execute a workflow and edit any planned scheduled runs for that workflow, however we would prefer not to have to give them the `workflow_admin` role to edit the entire workflow itself to achieve this.

[2021-05-07 00:42] RupinderjitGhuman commented on #10109
Same issue, not working after install pywinrm

[2021-05-07 02:14] washburnjoe opened #10135 "Blank white page fresh install 19 on Kubernetes"
##### ISSUE TYPE

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

Fresh install using operator 0.9.0 using the most basic setup.  The only change is namepsace
[code]

##### ENVIRONMENT
* AWX version: 19
* AWX install method: operator
* AWX deployment target: kubernetes
* Operating System: Tested with Mac and Win 10
* Web Browser: Edge, Chrome, Safari

##### STEPS TO REPRODUCE

Depl

[2021-05-07 06:47] unixplex opened #10136 "docker exec tools_awx_1 make clean-ui ui-devel - Not completed fully. looks completed partial."
# docker exec tools_awx_1 make clean-ui ui-devel

rm -rf node_modules
rm -rf awx/ui_next/node_modules
rm -rf awx/ui_next/build
rm -rf awx/ui_next/src/locales/_build
rm -rf awx/ui_next/.ui-built
npm --prefix awx/ui_next --loglevel warn --ignore-scripts install
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsev...@1.2.13 (node_modules/webpack-dev-server/node_modules/fsevents):
npm WARN notsup SKIP

[2021-05-07 08:00] yurtesen commented on #10111
@AlexSCorey Thank you, only if I could use the latest AWX.
https://github.com/ansible/awx/issues/9540

[2021-05-07 09:59] trinesh17 opened #10137 "Not able to import inventory to AWX from host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY
I installed AWX using awx-operator.
Issue1: I didn't get what password to give inside the awx-task container when prompts for sudo password.
Issue2: Getting this error FileNotFoundError: [Errno 2] No such file or directory: 'podman' while importing the inventory from host file
##### ENVIRONMENT
* AWX ver

[2021-05-07 10:45] gstorme commented on #9109
This is only working if the image has a :latest tag.
I had an image with the :test tag, and the "always pull container before running" set on the execution environment, but upon running: `Container image "git.masked:4567/gregory/awx:test" already present on machine`

And when the image has a :latest tag, it's always pulled, whatever the pull setting is on the execution environment.

[2021-05-07 13:32] AlanCoding opened #10138 "Activity stream menu gives "object Object" in summary"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If I change the survey of a job template and then view the activity stream, the diff doesn't render in the popup box.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: N/A
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser: Chrome

##### STEPS TO REPRODUCE

On development, I did `make ui-devel` before reproducing this.

I edit the

[2021-05-07 13:33] AlanCoding commented on #10119
These all look like valid points, but I really need a playbook reproducer to move forward.

[code]

This works correctly, so for now I'm still left unable to reproduce. There might be something very specific you did that I still need to pick up here.

[2021-05-07 13:39] AlexSCorey opened #10139 "Team and User Roles Should be sent from the api already collated"
##### ISSUE TYPE
-enhancement

##### SUMMARY
Current the `/teams/id/roles` and `/users/id/roles` end points gives us a list of resources with a different list item for each role. This means that there could be several list items for the same resource if the team/user has multiple roles on that resource.  See the image below of the teams/roles list in the ui.
![Screen Shot 2021-05-07 at 9 30 33 AM]

[2021-05-07 14:19] washburnjoe commented on #10135
I redeployed today after clearing everything out of Kubernetes.
I created a new namespace and used Operator 0.8.0.  Same results.  I did notice some additional errors further up in the logs

ERROR:  relation "conf_setting" does not exist

The tail of the log and where it appears to be sitting is as follows

 ERROR:  column main_instancegroup.is_container_group does not exist at character 167
2021-

[2021-05-07 14:55] duntonr commented on #9961
Thanks @DrackThor .  I'm using a custom EE too but the issue seems to happen with a custom EE (with Galaxy stuff installed in the image) or the standard EE (with Galaxy stuff cobbled right into the repo that hold my playbooks)

I did run a larger set of plays... 28 hosts, ~ 3.5hrs run time, etc... issue still occurs

It's somewhat interesting that error is injected at the TOP of the output in awx.

[2021-05-07 14:56] duntonr commented on #10075
bump

[2021-05-07 15:07] mabashian commented on #10093
Yes, we make the requests to initially load the data when the form loads and not when the lookup is opened.  I agree that the behavior in the old application is preferable as it would cut down on the total number of requests made (only making requests when the user wants to see more data) and it would solve the problem described initially.

There's been some time that's passed since this pattern i

[2021-05-07 15:12] tiagodread commented on #7831
Closing this one, we are moving the toolbar buttons to a kebab for all lists when there is no space to show them, #8020 and #7938 are still valid and we should keep track of the work there.

[2021-05-07 15:12] #7831 closed, assigned to unlikelyzero

[2021-05-07 15:25] shanemcd commented on #9961
@duntonr I tried to improve the error handling in 19.1.0. Can you try again and paste the new error?

[2021-05-07 15:38] shanemcd commented on #10075
Please re-open this on awx-operator.

[2021-05-07 15:38] #10075 closed, assigned to nobody

[2021-05-07 16:11] washburnjoe commented on #10135
I have installed locally using minikube and have the same errors on the postgres container and the UI comes up fine, so it must not be related to the db

[2021-05-07 16:14] snooyen commented on #10119
@AlanCoding We're running v15.0.1 of AWX & the AWX Collection if that makes a difference?

Additionally, we're reading in the job template data from a saved file via `lookup` & then passing thos parameters to `awx.awx.tower_job_template`.  I'll try to put a playbook together shortly.

[2021-05-07 16:54] wenottingham commented on #10136
There doesn't seem to be a question here?

I realize you may be frustrated with the mailing list, but that
is the proper place for general questions and debugging of build issues.

[2021-05-07 16:54] #10136 closed, assigned to nobody

[2021-05-07 16:58] wenottingham commented on #9936
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-05-07 16:58] #9936 closed, assigned to nobody

[2021-05-07 17:07] shanemcd commented on #10135
What version of minikube? There's a note in the install docs about a bug in 1.19.0.

[2021-05-07 17:12] wenottingham commented on #10123
We'd need more detail on the error from the browser console.

[2021-05-07 17:14] tiagodread commented on #10123
When the edit page is loaded for Job settings, there are some errors:

```Warning: Failed prop type: Invalid prop `groupTitle` of type `object` supplied to `NavExpandableGroup`, expected `string`.```

```Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of FindRefWrapper which is inside StrictMode. Instead, add a ref directly to the element you want to reference.

[2021-05-07 17:15] shanemcd commented on #10120
I think the operator is overwriting your changes. Can you try to use these options in the operator? https://github.com/ansible/awx-operator#custom-volume-and-volume-mount-options

[2021-05-07 17:17] tiagodread commented on #10123
This is a UI only problem I could patch the Job settings by the API

[2021-05-07 17:17] wenottingham commented on #10109
The awx-ee includes ansible.windows, but that collection does not specify pywinrm as a dependency, since the connection plugin is in ansible-core. We'd have to adjust awx-ee to build this in (or have ansible-core include it as a dependency.)

[2021-05-07 17:21] chrismeyersfsu commented on #10112
This is an anti-pattern for the API. We would be creating a Credential resource when a POST is issued to the organization endpoint. The API only returns 1 resource. That resource is the Org. If we were to create 2 resources, we have no pattern for returning that nor reporting errors in this multi-stage scenario.

Best we can do is document this.

[2021-05-07 17:21] shanemcd commented on #10109
See https://github.com/ansible-collections/ansible.windows/pull/217

[2021-05-07 17:22] stanislaspiron commented on #10120
in AWX 18.0.0 and above, playbooks are executed in awx-ee container created for each job... so don't try to change awx-task container...

and AWX requires internal k8s coredns to be able to connect to postgre service ... so if you change dns configuration, you can break this communication.

in microk8s, you can change default DNS resolver when enabling dns add-on.

[code]

And last question... why

[2021-05-07 17:23] wenottingham commented on #10107
Hi -

That version of AWX is ~8 months old at this point, and we don't backport fixes. Does this still happen in AWX 19.x?

[2021-05-07 17:24] snooyen commented on #10119
Found it.  Guess you could chalk this up to user error / bad inputs, but setting `custom_virtualenv: ''` is what's causing the failure.

In our role, we're reading in the template data previously saved to a YAML file via `awx.awx.tower_export`.
We then pass those parameters back to `awx.awx.tower_job_template`.

For the field `custom_virtualenv`, `awx.awx.tower_export` sets a `null` value.
[code]

[2021-05-07 17:24] #10119 closed, assigned to nobody

[2021-05-07 17:28] wenottingham commented on #10098
This looks like an incompatibility between sphinx from pip and the OS you're running it on. We run it generally on later Fedora and RHEL.

https://stackoverflow.com/questions/52889746/cant-import-annotations-from-future/52890129 may be of help?

[2021-05-07 17:28] #10098 closed, assigned to nobody

[2021-05-07 17:29] washburnjoe commented on #10135
It actually works fine on minikube 18, 19 and even 20 that just came out.  Its our production Kubernetes that is the problem.

I am now focusing in on the 503 errors.  The javascript, favicon, css and other items are all getting 503.  That seems to be the underlying issue

[2021-05-07 17:45] pabelanger commented on #10109
This was fixed in https://github.com/ansible/ansible-runner/pull/677 and I am continuing things in: https://github.com/ansible/ansible-runner/pull/686

If you try the latest awx-ee image, it should be working.

[2021-05-07 17:46] pabelanger commented on #10109
try using https://quay.io/repository/ansible/awx-ee?tab=tags the devel tag

[2021-05-07 18:02] washburnjoe commented on #10135
Closing issue.  I am able to hit the service directly, so its a problem on my Kube side.

[2021-05-07 18:02] #10135 closed, assigned to nobody

[2021-05-07 18:04] jghal opened #10142 "Support for AWS IAM and Azure auth methods in HashiCorp Vault Secret Lookup credential type"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

HashiCorp Vault provides authentication methods supporting both AWS and Azure instance identities (AWS IAM and Azure MSI)

- https://www.vaultproject.io/docs/auth/aws
- https://www.vaultproject.io/docs/auth/azure

It would be really great for the credential type to support these authentication methods natively.

[2021-05-07 18:15] tiagodread commented on #10088
PR already merged working as expected

[2021-05-07 18:15] #10088 closed, assigned to AlexSCorey

[2021-05-07 18:36] washburnjoe opened #10143 "Where in the code is the Ingress controller built?"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY

I am trying to find where in the code the Ingress controller gets built.  I need to make one change to a path in order for it to work in our environment

##### ENVIRONMENT
* AWX version: 19
* AWX install method: operator
* AWX deployment target: kubernetes
* Operating System: NA
* Web Browser: NA

##### STEPS TO

[2021-05-07 19:16] nixocio opened #10144 "Display error when modifying allow_override on projects"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Display error when modifying allow_override on projects being used by job templates.

Previous implementation:

<img width="1346" alt="image" src="https://user-images.githubusercontent.com/9053044/117497831-fc46c500-af46-11eb-82bb-51bd22b3c15b.png">

Current implementation:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com

[2021-05-07 20:05] AlexSCorey opened #10146 "Deleting a Project or Inventory mid sync throws error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
See https://github.com/ansible/awx/pull/10113#issuecomment-834683595

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create a project.
Go to project list
click sync
while syncing try to

[2021-05-07 20:12] AlexSCorey commented on #10146
@tiagodread I filed this issue for the deleting issue https://github.com/ansible/awx/issues/10146

[2021-05-09 06:49] AndrewSav commented on #9552
I've been through the more or less the same steps as ktibi and got the same results.

[2021-05-09 13:44] BeryJu commented on #10142
To add to that, seeing as AWX now requires K8s, it would make sense to also support the kubernetes auth method: https://www.vaultproject.io/docs/auth/kubernetes

[2021-05-10 05:05] lemmy04 opened #10151 "AWX 19.1: jobs stuck in "running" for over 12 hours but not actually doing anything at all"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Since yesterday my AWX does not work anymore - jobs get created and started but do not *actually* start i.e. no worker container is created, no actual work is done

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: k3s on debian buster, awx deployed with operator 0.9.0
* Ansible version:  whichever is in awx-ee 0.2.0
* Operating System: whi

[2021-05-10 05:12] lemmy04 opened #10152 "AWX 19.1: management jobs can not be scheduled"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm trying to edit the schedules for the management jobs, but the (existing) schedules are prefilled with values that can't be saved??

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: k3s on debian buster, deployed with awx-operator 0.9.0
* Ansible version:  n/a at this point
* Operating System: whatever is used inside the containers?
* W

[2021-05-10 05:17] lemmy04 opened #10153 "AWX 19.1: management jobs with a "days" parameter can not be scheduled at all"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On top of #10152 there is also a bug that makes it impossible to edit a schedule with a "days" parameter.

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: k3s on debian buster deployed with awx-operator 0.9.0
* Ansible version:  n/a
* Operating System: centos?
* Web Browser: any

##### STEPS TO REPRODUCE

1. in management jobs click on "c

[2021-05-10 06:37] samalv commented on #10107
Hello @wenottingham

The AWX 19.x has major architecture changes and I am setting up K8S to host and test

[2021-05-10 07:14] ahlawatvin opened #10154 "Filter option not available in job logs output"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Filter option is not available in Job logs output on dashboard

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: docker on linux
* Ansible version:  2.10.8
* Operating System: Opensuse 15.1
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

Add a filter option to search anything from a larger job log output.

##### EXPECTED RESULTS

I

[2021-05-10 07:36] fourstepper commented on #10123
This is what shows up in the browser console during the whole operation

[code]

[2021-05-10 12:08] cisel-dev commented on #10120
Thank you for the link, I did not saw this before. We will use it for persistent need.

I didn't know that playbooks were run on awx-ee containers, thanks for this information.

We have already tried to modify the CoreDNS configuration, notably by integrating forwarders to our internal DNS, but this does not solve our problem.

As @stanislaspiron  said, the basic problem is the fact that we don't

[2021-05-10 12:09] Dugelon commented on #10120
Thank you for the link, I did not saw this before. We will use it for persistent need.

I didn't know that playbooks were run on awx-ee containers, thanks for this information.

We have already tried to modify the CoreDNS configuration, notably by integrating forwarders to our internal DNS, but this does not solve our problem.

As @stanislaspiron said, the basic problem is the fact that we don't h

[2021-05-10 12:10] #10120 closed, assigned to nobody

[2021-05-10 12:26] endriu0 commented on #10080
Another small update. The only workaround which worked was deleting the whole inventory completely and adding it anew. There was no way to delete the reminder of the hosts otherwise.

[2021-05-10 14:00] mabashian commented on #8942
This should be addressed by https://github.com/ansible/awx/pull/10133

[2021-05-10 14:06] dolgovas opened #10155 "Use machine key for bastion host"
I want to user my machine key - with "ask on run password" for identification on host through proxy_jump!

##### SUMMARY
Default ansible variables do not work with ansible_ssh_common_args

For example
- work
[code]
- don't work
[code]
in which ansible vars or env_vars i can find user from Machine key for user with bastion proxy?

[2021-05-10 15:10] AlexSCorey opened #10156 "Allow user to relaunch a Manage job from the Job List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There is not relaunch button on the job list for managed jobs.  Not sure why this is the case, but it is also the case in the old ui.  We should reconsider this.
![Screen Shot 2021-05-10 at 11 09 12 AM](https://user-images.githubusercontent.com/39280967/117681579-3f3fad00-b180-11eb-8ea5-edc4619bb1b0.png)

[2021-05-10 15:12] akus062381 commented on #9370
fixed. closing

[2021-05-10 15:12] #9370 closed, assigned to jakemcdermott

[2021-05-10 15:25] wenottingham commented on #10155
This is more a question for ansible (https://groups.google.com/g/ansible-project).

I suspect you want to use `ansible_user`, not `remote_user`.

[2021-05-10 15:25] #10155 closed, assigned to nobody

[2021-05-10 15:27] shanemcd commented on #9849
Closing, will track in https://github.com/ansible/awx-operator/issues/300

[2021-05-10 15:27] #9849 closed, assigned to nobody

[2021-05-10 15:37] nixocio opened #10158 "Notify the user when deleting all or last remain EE"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Notify the user when deleting all or last remain EE from the system.

We do allow the system admin to remove all EEs from the system. Before this action we should notify the user that action could lead the system to be on undesirable state.

Probably a notification here.

![image](https://user-images.githubusercontent.com/9053044/117685594-115c6780-b

[2021-05-10 15:49] alexhaydock commented on #3998
I would have loved to see this but I suppose this request is redundant now that the AWX Operator is the preferred way to install AWX as of v18+

[2021-05-10 15:52] ephracis commented on #3998
That’s too bad. A lot of us are not running OpenShift.

On Mon, 10 May 2021 at 17:49, Alex Haydock ***@***.***> wrote:

[2021-05-10 15:53] wenottingham commented on #3998
Correct, this is now redundant.

[2021-05-10 15:53] #3998 closed, assigned to nobody

[2021-05-10 17:33] AlexSCorey opened #10160 "Convert Instance Groups --> Instances to tables view"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See https://github.com/ansible/awx/issues/6189

[2021-05-10 17:45] wenottingham commented on #5109
This is done via awx-operator now.

[2021-05-10 17:45] #5109 closed, assigned to nobody

[2021-05-10 18:27] AlexSCorey commented on #10158
We already have a delete warning that shows up anytime someone is deleting an EE that is associated with a resource, or when they are deleting >1 EE. We could tack a warning message onto that pretty easily I think.

[2021-05-10 18:41] nixocio commented on #10158
Thanks @AlexSCorey, I will take look.

[2021-05-10 18:44] AlexSCorey opened #10162 "Convert OptionsList to use Paginated Table"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See #6189

[2021-05-10 20:44] sarabrajsingh commented on #9952
After much discussion, the happiest path forward seems to be to make sure that the runtime user of the AWX job gets notified that a broken symlink was attempted to be zipped into the archive, and subsequently, fail the job afterwards. We will leave it to the runtime user to fix their repos, or to rectify the broken symlink. Here is an example of an output from a job in AWX that leverages a project

[2021-05-10 21:19] wenottingham commented on #19
The new AWX UI allows for this.

[2021-05-10 21:19] #19 closed

[2021-05-10 21:24] wenottingham opened #10164 "Multi-delete modal on jobs could be more clear"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When you have multiple job runs for a particular job, and select to delete some of them, the delete modal is ambiguous as to which run is being deleted.

Example:

![Screenshot from 2021-05-10 17-22-29](https://user-images.githubusercontent.com/5208768/117726388-8182e180-b1b4-11eb-85a1-2ece0242da53.png)

I can see behind the modal to know which of the

[2021-05-10 21:33] garnser commented on #9747
@amg-web I've given the suggested configuration a spin, although most animations are working the auto-update during a template runtime is still hanging until the play is finished. Is this resolved for you as well?

I'm getting the same issues in the console as you're describing `useWebsocket.js:20 WebSocket is already in CLOSING or CLOSED state. t @ useWebsocket.js:20 (anonymous) @ useWebsocket.js

[2021-05-10 22:09] wenottingham commented on #1952
solved by https://github.com/ansible/awx/pull/1956

[2021-05-10 22:09] #1952 closed, assigned to nobody

[2021-05-10 22:10] wenottingham commented on #350
This was solved in moderately recent AWX, where this is now set on the source.

[2021-05-10 22:10] #350 closed, assigned to nobody

[2021-05-10 22:10] wenottingham commented on #1474
This code is being removed, so this will not be done in this manner.

[2021-05-10 22:10] #1474 closed, assigned to nobody

[2021-05-10 22:12] wenottingham commented on #402
The new AWX UI search implements the beginning of this.

[2021-05-10 22:12] #402 closed, assigned to nobody

[2021-05-11 01:50] JuddTracy-DAS commented on #3998
So does this mean that Kubernetes is going to be the only official way to install AWX going forward?

[2021-05-11 04:32] sfhl opened #10165 "Empty instance group "tower""
Hi there.

as stated [here](https://github.com/ansible/awx-operator/issues/286), we are experiencing a weird behaviour, as task instances are registered to the web component, but are ungrouped and the main (default) instance group is empty.

Maybe somebody does know why the task component behaves in this way?

Thanks in adance!

[2021-05-11 05:26] dagstuan commented on #350
@wenottingham is there any documentation available as to _how_ this was solved?

[2021-05-11 06:03] hudecof commented on #350
Wow, hell freezes. Solved in 3 1/2 year.
This was really show stopper for me and reason why I stopped to use AWX.
Sorry for such a negative attitude, but RH seems not to be very customer oriented.

[2021-05-11 07:55] yurtesen opened #10166 "Stop using alpha software and improve upgrades"
It could be a great feature if you could make installation and upgrades easier and make the project more stable.

##### ISSUE TYPE
It is very difficult to install AWX and upgrades are even more difficult, even impossible.
https://github.com/ansible/awx/issues/9540

##### SUMMARY
I had a problem upgrading AWX (see bug above) and thought I could perhaps do a fresh install. Then I found out the sugge

[2021-05-11 08:18] Decstasy commented on #553
Is there still any attention on this? It's been 3 years, is it really that hard to implement a boolean type in a survey?

[2021-05-11 08:38] dolgovas commented on #10155
[code]

are undefined on this step

[2021-05-11 15:03] jakemcdermott commented on #10154
:wave: Hello.

 This was added in version 18.0.0, so you'll need to update to a later version in order to use it.

[2021-05-11 15:03] #10154 closed, assigned to nobody

[2021-05-11 15:08] jakemcdermott commented on #10152
I wasn't able to reproduce this:

![mgmt-schedules](https://user-images.githubusercontent.com/9753817/117839289-1800e280-b249-11eb-9c54-21c4ae30c6e9.gif)

@lemmy04  I'd like to fix this, but so far I haven't found a way to reproduce the bug.

A few questions:

Are you able to reproduce this on a fresh install?
Is it only on schedules migrated from a prior version?
Can you provide an example schedu

[2021-05-11 15:09] bandwiches commented on #10166
I second this.  I also question why the move to minikube and labelling docker as a developer only model when minikube can be argued to be a developer only deployment model.

The default requirements have also caused us heartache when deploying with the new operator since the machine now requires more CPU and RAM than what was previously required when deploying with Docker.

Related Tickets
#10117

[2021-05-11 15:28] jakemcdermott commented on #10006
(This is expected behavior and working as designed by pf, I believe. - The logo is left-justified. )

[2021-05-11 15:28] #10006 closed, assigned to nobody

[2021-05-11 15:44] lemmy04 commented on #10152
it seems we're not running the same AWX version: I don't have a date/time picker on the schedule page, just a text field.
this is what the page looks like for me on AWX 19.1.0: https://paste.pics/CG2E1

![image](https://user-images.githubusercontent.com/9053044/117863446-c7e24a00-b261-11eb-979d-c325b02a2fcf.png)

[2021-05-11 15:45] jakemcdermott commented on #10143
Hello,

I don't think you'll find that file in this repo. In awx 19, installs are handled by [awx-operator](https://github.com/ansible/awx-operator).

That said, you'll probably want to direct questions to the  [mailing list](https://groups.google.com/forum/#!forum/awx-project)  or the `#ansible-awx` channel on webchat.freenode.net

[2021-05-11 15:45] #10143 closed, assigned to nobody

[2021-05-11 15:52] jakemcdermott commented on #10152
Hmm, :thinking:  are you using firefox by any chance? We have an existing bug for that datepicker in firefox that could be related: https://github.com/ansible/awx/issues/9871

When the datepicker doesn't load in firefox, it uses a raw text field as a fallback. It's possible that certain schedule values aren't handled correctly when the fallback is used, but so far all of the schedule input values

[2021-05-11 15:55] nixocio commented on #10153
hello @lemmy04, I was not able to reproduce this issue.

With a fresh install from dev environment, I was able to modify the schedules for Management Jobs.

Do you have data - schedules from a previous AWX version?
Also what browser are you using?

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/9053044/117846637-a0828180-b24f-11eb-9022-5a0f8b417e82.png">

[2021-05-11 15:57] lemmy04 commented on #10152
d'oh. yep, its the firefox thing - in chrome the interface looks fine. BUT: when I try to edit a job with that "days" value I get #10153 :
Danger alert:Cannot create property 'days' on string '{"days":"30"}'

[2021-05-11 15:58] lemmy04 commented on #10153
browser: normally firefox, right now chrome because of #9871 - and my AWX has imported data from a previous instance.

[2021-05-11 16:01] gamuniz opened #10170 "Execution Environment Image Name confusing."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The image name implies to add in the name of your image from the registery.

##### ENVIRONMENT
* AWX version: devel
* AWX install method: awx-operator
* Ansible version:  2.11
* Operating System: RHEL8
* Web Browser: n/a

##### STEPS TO REPRODUCE
1. create registry credential
2. create execution environment with image name
3. profit

##### EXPECTED RE

[2021-05-11 16:08] jakemcdermott commented on #10170
We're more likely to change the displayed name of the field than the function of the field. I'm thinking something like "path" or "url" might make more sense rather than name.

Thoughts? cc @gamuniz @nixocio

[2021-05-11 16:11] gamuniz commented on #10170
@jakemcdermott I was thinking the same thing Image Url probably makes the most sense.

[2021-05-11 16:27] wenottingham commented on #3998
There is kubernetes, and there is the development environment based on docker-compose (not for production). More info here: https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/En0NrUiqAAAJ

[2021-05-11 16:29] jakemcdermott commented on #9871
I'm removing the `waiting_for_pf` label - I think we may just need to use the pf-react datepicker component.

@keithjgrant noticed that we're still using a raw `input` field in parts of the schedule component, so it may just be that we need to replace it with the pf-react component.

[2021-05-11 16:29] wenottingham commented on #350
PR is here: https://github.com/ansible/awx/pull/7763/, merged in mid-late 2020.

enabled_var and enabled_value are now options directly on the inventory source instance, so they can be configured separately for each ec2 inventory source (as an example).

[2021-05-11 17:00] nixocio commented on #10170
+1 to change the displayed name. Something like `Container Image URL`

[2021-05-11 18:24] bandwiches commented on #10117
For those running into this issue, it's related to the default system requirements in the `awx-orchestrator` being higher than the actual system itself.  You can specify these values when initializing the environment to get around this.

[2021-05-11 18:52] bandwiches commented on #10166
For the record - I did figure out the issue behind accessing the services remotely.  IPTABLES never gets updated when minikube finishes the install, hence the host itself is blocking it.

Adding a rule to the `DOCKER` chain on the service port fixed the issue.

Minikube + AWX = Nightmare.

[2021-05-11 19:04] shanemcd commented on #10166
Hi folks. Friendly reminder that you're using free software. Yes - It's true that we completely changed how everything worked recently. We make no guarantees about stability, as stated here: https://www.ansible.com/products/awx-project/faq. I predict things will stabilize naturally over time... and then change drastically again at some point in the future when we need to. That being said, if you r

[2021-05-11 19:04] #10166 closed, assigned to nobody

[2021-05-11 19:09] wenottingham commented on #553
When it rises to the top of the priority queue and work begins, it will be linked off of here. Otherwise it will wait until someone decides to contribute it.

[2021-05-11 19:14] bandwiches commented on #10117
In addition to the above, you may find yourself unable to access resources externally.  It seems that IPTABLES does not get updated with the new service URL.

[2021-05-11 19:30] bandwiches commented on #10166
We understand this is free, but why move to an alpha launcher that literally has a disclaimer saying use at your own risk?  This just seems like poor planning.  I suggest taking a page from the `awx-operator` repo where they actually discuss issues rather than close them based on the title.

[2021-05-11 19:37] shanemcd commented on #10166
You're using everything here at your own risk. We're not going to stop innovating just because some people get cranky when debugging.

Sure, I'm the top contributor of that repo.

[2021-05-11 19:44] bandwiches commented on #10166
I won't argue, but I feel as a maintainer you should have some sense of concern when it comes to installing and upgrading the package.  There is a pattern with AWX when it comes to both of these processes and neither are friendly, regardless of how those feelings are expressed by end users here.

Thanks!

[2021-05-11 20:07] shanemcd commented on #10166
We genuinely try to fix problems when people find them. We knew that the switch to the operator would be a little bumpy, and we're trying our best to work through all of the legitimate issues people run into.

You seem to think there is a split between the AWX and awx-operator teams. We're the same tiny team of people who work at Red Hat, with a tiny fraction of contributions from our community. I

[2021-05-11 20:31] akarneliuk opened #10177 "NetBox plugin doesn't work in AWX 19.1.0"
Hey there,

I'm trying to use `netbox.netbox.nb_inventory` as a source inventory in AWX 19.1.0, but it is failing.

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
It looks like the Ansible version in the default AWX-EE has some problems with the `netbox.netbox` collection (probably, something else).

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: kubernetes
* Ansible version:  2.11.0

[2021-05-11 20:42] wenottingham commented on #10177
Given that it happens with the raw CLI, I suspect this is an issue with either ansible, or the collection itself.
This repo is for issues in AWX itself.

For ansible, please try https://github.com/ansible/ansible. For the collection, try https://github.com/netbox-community/ansible_modules.

[2021-05-11 20:42] #10177 closed, assigned to nobody

[2021-05-11 20:45] akarneliuk commented on #10177
Hey @wenottingham
well, the issue is with pre-build demo version of Ansible, which I can't modify. How can I change the AWX-EE to be a stable 2.10.9 rather than buggy 2.11? Can I chose that during the setup

[2021-05-11 20:50] wenottingham commented on #10177
You'd have to build a custom EE yourself.

ansible is layered into the upstream awx-ee via the ansible-runner image here: https://github.com/ansible/awx-ee/blob/devel/Containerfile#L1

You'd need to build a new version of that that uses ansible-2.10.x (see https://github.com/ansible/ansible-runner/blob/devel/Dockerfile), and then use that to regenerate an EE.

[2021-05-11 21:37] bandwiches commented on #10166
That's correct, thanks for bringing that to my attention and I apologize if that was an issue.  I've been familiar with ansible, received a t-shirt shaped like a semi, got to enjoy training (3 or 4 years back) on that same automobile.  I've met with reps and all the like to learn about Ansible and I do believe it is a gem of a tool for network engineers.

I also don't believe OP was trying to stif

[2021-05-11 21:53] itsBryantP commented on #1731
+1

[2021-05-12 06:07] MaximilianMeister opened #10178 "project_update uses different default_environment than specified through project"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

I specified a custom execution environment (default_environment) in the project. According to the [codebase](https://github.com/ansible/awx/blob/devel/awx_collection/plugins/modules/tower_project.py#L112-L114) it says "Default Execution Environment to use for jobs relating to the project."

However the "Globally Available" AWX EE 0.2.0 gets used inst

[2021-05-12 06:19] MaximilianMeister commented on #10178
Setting the `default_environment` of the Default Organisation fixed the issue for me.

[2021-05-12 06:19] #10178 closed, assigned to nobody

[2021-05-12 07:07] yurtesen commented on #10166
@shanemcd Thank you for your response and you are right. It is free software. I think the issue is that we are generally accustomed free software to be more stable. Usually, free version of a paid product usually works as good as the real thing but with limited functionality.

You said `We make no guarantees about stability` but at installation manual is a clear text -> https://github.com/ansible/

[2021-05-12 08:20] maccormac commented on #10109
Thanks guys. Devel awx-ee tested and working.

[2021-05-12 08:20] #10109 closed, assigned to nobody

[2021-05-12 08:50] dagstuan commented on #350
Ah perfect. Thank you! :)

[2021-05-12 09:12] abcqwertz commented on #9762
Hi @ryanpetrello @AlanCoding,
sorry for the late reply. I recently set up a bare-metal kubernetes cluster to install a newer version of AWX:

ENVIRONMENT

* AWX version: 19.0.0
* AWX install method: kubernetes 1.21 with ingress-nginx and metalLB
* Ansible version: 2.9.18 (I guess?)
* Operating System: Master and worker-Nodes on openSUSE LEAP 15.2
* Web Browser: Firefox latest version on MacOS 10.1

[2021-05-12 10:02] sysnasri commented on #9877
Any idea about this?

[2021-05-12 11:01] shanemcd commented on #10166
Last comment from me here. I'll do my best to address any misinformation or misunderstandings.

First, on the topic of Minikube. One of the first things in the INSTALL.md is this:

I am confused how anyone could read this and think it sounds like minikube is suitable for production.

As tempted as I am to say something snarky here, no. That's not how this project works.

Again, going back to the F

[2021-05-12 11:55] rverhe commented on #9232
Have the same issue. During the query build i get the matched hosts!
But after the save it shows 0 hosts in the dynamic inventory.
Also having no luck with the api call: ?host_filter with the same params.

[2021-05-12 13:37] AlexSCorey commented on #10138
Its probably related to the new work done on the extra vars component.  That instance of this component is probably missing something like this
[code]

[2021-05-12 14:16] jakemcdermott commented on #10153
@lemmy04 Those are helpful details, thank you.

Do you see any issues at all when on chrome?

The reason I ask: If the problem is "fixed" when you switch to chrome, then this bug is probably specific to that raw text field that is only used by firefox. We're about to remove that raw text field anyway, so it's likely this bug would be fixed in the process.

[2021-05-12 14:42] jakemcdermott commented on #10123
I looked into this and believe I have a PR that will address the problem.  see: https://github.com/ansible/awx/pull/10171

We should fix the `worker-json.js` 404 at some point, but I don't actually think it's related to the form not saving.

[2021-05-12 14:51] AlexSCorey opened #10181 "Host Groups Associate Modals Closes on Sort"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Associate modal closes when you sort the Host Groups names.

##### STEPS TO REPRODUCE

Click on Hosts --> Groups Tab --> Associate ---> Sort by name

##### EXPECTED RESULTS

Group names are returned in the modal in reverse alpha order

##### ACTUAL RESULTS

Modal Closes

##### ADDITIONAL INFORMATION
![modalcloses](https://user-images.githubusercont

[2021-05-12 15:13] cwaninger commented on #1999
Need to build ugly workarounds due to this.
Playbook runs against a predefined group. Smart Inventory picks out all hosts depending on facts/variables. Sadly i can not run the playbook due to missing groups.
Would really appreciate if this would be implemented somehow

[2021-05-12 15:29] jbradberry commented on #8618
The issue almost certainly is the nginx rewrite rule that adds slashes to the ends of our urls, i.e.

[code]

`/favicon.ico/`, not `/favicon.ico`

[2021-05-12 15:46] lemmy04 commented on #10153
I'm getting the "can't assign 30 to..." error in chrome as well.

[2021-05-12 18:09] jakemcdermott commented on #10170
@gamuniz @beeankha  @nixocio

In other places, we just call the field "Image".

![Screenshot from 2021-05-12 13-59-09](https://user-images.githubusercontent.com/9753817/118022515-705be100-b32a-11eb-8517-41a4e2ba9991.png)
![Screenshot from 2021-05-12 13-58-56](https://user-images.githubusercontent.com/9753817/118022528-7225a480-b32a-11eb-9004-d10da4b4cb2d.png)

I'm inclined to follow this conventio

[2021-05-12 18:37] jakemcdermott commented on #10153
D'oh, I thought I was on https://github.com/ansible/awx/issues/10152

^ Do you still see that one on chrome? thanks again

[2021-05-12 19:31] lemmy04 commented on #10152
oh by the way, i just tried edge, and there's a similar problem with the datepicker there - the button to pick a date is there and works, but the preset value in the date/time field is garbage.

[2021-05-12 19:32] lemmy04 commented on #10153
the "can't assign 30 to days" error happens with any browser - firefox, chrome, edge.

[2021-05-12 20:11] jbradberry commented on #8618
Digging around, relevant files may be:

- awx-operator
  - roles/installer/templates/tower_config.yaml.j2
    - has `location /favicon.ico` directive

- awx
  - tools/docker-compose/nginx.vh.default.conf
    - does not have `location /favicon.ico` directive
  - tools/docker-compose/ansible/roles/sources/templates/nginx.conf.j2
    - has `location /favicon.ico` directive

- tower-packaging
  - setu

[2021-05-12 21:04] supremedacos commented on #10151
I see this happening as well, except my playbooks successfully start and complete and the k8s pod terminates cleanly, but the UI still shows the job in the Running state.

[2021-05-12 21:31] #10127 closed, assigned to jakemcdermott

[2021-05-12 21:56] shanemcd commented on #9961
I think we've finally gotten to the bottom of this. Testing patch at https://github.com/ansible/receptor/pull/319

[2021-05-13 09:01] Lucifergene opened #10188 "Unable to run the AWX Docker Container after pulling"
I had pulled the docker image of AWX from DockerHub.
But I am not sure about the parameters that need to be passed in `docker run` command.

Please provide the command to run the docker container.

[2021-05-13 11:42] jakemcdermott commented on #10170
see: https://github.com/ansible/awx/pull/10185

[2021-05-13 13:21] tiagodread commented on #7777
PR already merged

[2021-05-13 13:21] #7777 closed, assigned to nixocio, one-t

[2021-05-13 13:25] akus062381 commented on #10144
all set

[2021-05-13 13:25] #10144 closed, assigned to nixocio

[2021-05-13 13:28] benapetr opened #10189 "19.1.0 is not able to migrate from older DB version, stuck forever starting up"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: docker
* Ansible version:  X.Y.Z
* Operating System: CentOS 7
* Web Browser: irrelevant

##### STEPS TO REPRODUCE

Run make docker-compose against older version, in my case 17.0.0

##### EXPECTED RESULTS

It works

##### ACTUAL RESULTS

Migration starts, connection to DB is succesful, then

[2021-05-13 14:24] jakemcdermott commented on #10170
see: https://github.com/ansible/awx/pull/10185

[2021-05-13 14:24] #10170 closed, assigned to nobody

[2021-05-13 15:14] akus062381 commented on #9635
@mabashian Update on this issue:
Issues 1 and 2 are fixed and good to go.
Issue 3 is still happening except for the Ansible Tower credential type.

[2021-05-13 15:26] jakemcdermott opened #10192 "worker-json 404 and various warnings on job settings page"
(from @tiagodread, which we found while addressing what ended up being an unrelated issue with saves)

Also, when loading the page there's a `worker-json` 404 error that we need to remove. see: https://github.com/ansible/awx/issues/10123#issuecomment-836303358

[2021-05-13 17:14] tiagodread commented on #10123
@jakemcdermott with your fix now the form can be save successfully, however the error `worker-json.js:1 GET https://example.com/worker-json.js 404` mentioned by @fourstepper is still being displayed on console.

![image](https://user-images.githubusercontent.com/12464858/118161163-a7e38f80-b3f5-11eb-8141-da1eb28fd64d.png)

[2021-05-13 17:16] gruselglatz commented on #9985
Did someone found a solution?

Sometimes i think, opensource for companies is only here to get free work from the outside and when you are funny you go the way like cloudera and call it opensource (find the source behind a paywall)...

So obviously the easiest way to use awx was canceled to drive you into a service contract to get the "easy one click install", like documented @ redhat.

It's defin

[2021-05-13 17:18] jakemcdermott commented on #10123
@tiagodread

Yes - let's use [this issue](https://github.com/ansible/awx/issues/10192) for the worker-json 404

[2021-05-13 17:25] supremedacos opened #10193 "Job Launch prompt window closes when trying to launch a job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: k8s docker on linux via awx-operator
* Ansible version:  2.10.8
* Operating System: CentOS Linux release 8.3.2011
* Web Browser: Chrome & Safari

##### STEPS TO REPRODUCE

1. From main web UI page select `Templates`
2. In the search field, search for a template with a name that exists
  The

[2021-05-13 17:55] AlexSCorey commented on #10193
@dacosta89 Check out https://github.com/ansible/awx/pull/10186 and see if that solves your problem.

[2021-05-13 17:55] jakemcdermott commented on #10193
I believe this should be fixed by https://github.com/ansible/awx/pull/10186 but we'll confirm

[2021-05-13 17:58] phemmer opened #10194 "awxkit `job_templates launch --monitor` stops streaming"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using the `awx` utility from awxkit to launch a job and monitor the output, it eventually stops outputting even though the job is still running. It does not stop in the same spot every time (same job, same parameters).

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: minikube
* Ansible version:  2.10.7
* Operating System: Debian Bust

[2021-05-13 18:30] vinealvees commented on #5209
+1 for bitbucket

[2021-05-13 19:00] phemmer commented on #10194
From a brief look at the response that comes back, and the code, I think the issue is here:

https://github.com/ansible/awx/blob/devel/awxkit/awxkit/cli/stdout.py#L81-L93

The code is looking at the `end_line` and sending that as the only positional parameter in the request. However when I look at the response, I see the following:

[code]

Which indicates that it should also be sending a `page=`

[2021-05-13 19:15] AL1L opened #10196 "Show content of failed webhook notification to know why it failed"
https://github.com/ansible/awx/blob/09801d0a9aa9020da9057a8e0e7fb13a7d107198/awx/main/notifications/webhook_backend.py#L78-L81

It's currently almost impossible to know what is wrong with your request, took me forever to find out that the test notification fails because it doesn't actually use any of custom messages.

[2021-05-13 19:15] phemmer commented on #10194
Another issue is that it checks `json.event_processing_finished` to determine whether to break the loop. This will result in the command aborting early, and not displaying any additional output it hasn't retrieved yet.

[2021-05-13 19:46] tiagodread commented on #10123
Closing this issue in favour of https://github.com/ansible/awx/issues/10192 with the console errors

[2021-05-13 19:46] #10123 closed, assigned to nobody

[2021-05-13 20:46] wenottingham commented on #10196
This is more or less #8798, closing as a duplicate

[2021-05-13 20:46] #10196 closed, assigned to nobody

[2021-05-13 21:08] tiagodread commented on #8907
The PR was merged, bug fixed.

[2021-05-13 21:08] #8907 closed, assigned to keithjgrant

[2021-05-13 22:01] joms071319 opened #10197 "awx/installer is missing"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[2021-05-14 02:13] wenottingham commented on #10197
This is intentional, see list announcement here: https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/En0NrUiqAAAJ

[2021-05-14 02:13] #10197 closed, assigned to nobody

[2021-05-14 03:09] ryan012880 opened #10198 "Unable to see workflow job status (failed or success) log in logging aggregator"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Workflow job status is present in API but not in awx.analytics.activity_stream or awx.analytics.job_events

##### ENVIRONMENT
* AWX version: <=19.1.0
* AWX install method: minikube
* Ansible version:  2.x
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Create a workflow
2. Configure Logging aggregator send activity_stream

[2021-05-14 06:04] AL1L commented on #10196
@wenottingham I dont think so, #8799 just calls out the format of the request, while I did mention that, the main focus is the fact that the error message is non informative. @jmhbnz does mention it, but still not the main focus of the Issue.

[2021-05-14 06:11] trinesh17 commented on #10137
Our projects are getting impacted due to this blocker. Kindly provide the resolution asap. Thanks in advance!

[2021-05-14 09:02] acocalypso opened #10199 "Proxy requirement for migration from 17 - 19"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
I'm running Ansible AWX behind a Proxy and I already configured docker to use it.
During the migration with make  docker-compose-build I had to edit the Dockerfile.js2 template to add ENV for http_proxy to get dnf working.

After the dnf update was done it got an error.

[code]

##### ENVIRONMENT
* AWX version: 19.1

[2021-05-14 09:55] kuznetsovkk opened #10200 "Variables not removed from the inventory when removed from source"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After removing variables from the original SCM project they will still be present in the inventory variables.

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.18
* Operating System: RedHat 8
* Web Browser: Firefox 88.0.1

##### STEPS TO REPRODUCE

Same as https://github.com/ansible/awx/issues/5682

[2021-05-14 10:12] kuznetsovkk commented on #5682
Still relevant for me (awx 17.1.0). Openned new issue https://github.com/ansible/awx/issues/10200

[2021-05-14 12:39] phemmer opened #10201 "awxkit doesn't expose job cancellation"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add a command flag such that when using `awx job_templates launch --monitor`, and the command is interrupted (SIGINT/SIGTERM), the job is stopped before exiting.

The intent behind this is for use in version control CI systems. A CI job might launch an AWX job using `awx job_templates launch`, and then the CI job is cancelled (such as due to a push w

[2021-05-14 13:58] mabashian commented on #9241
Expanding on the test case here:

1) Create a workflow job template that does not have a default limit and does not prompt for limit
2) Create a job template that does have a default limit `foo` and does prompt for limit
3) Go to visualizer for workflow from step 1
4) Add a node that points to the job template from step 2
5) Apply a new limit `bar` while creating the node from step 4
6) Save workf

[2021-05-14 16:24] AlanCoding commented on #9762
You say that your _second_ source that got updated was your file source.

It doesn’t matter if the project source has „overwrite variables“ enabled or not.

But you checked `overwrite_vars` for your _first_ source.

It doesn't matter if the first source has set to overwrite vars or not. It's the 2nd import that will be doing the overwriting. Can you check to make extra sure that the SCM-based inve

[2021-05-14 16:25] mabashian commented on #10158
@wenottingham mind chiming in on the priority on this one?

[2021-05-14 16:27] AlanCoding commented on #9762
I cannot reproduce, so closing for now. If you have any new information I'll adjust and re-run my test case.

[2021-05-14 16:27] #9762 closed, assigned to nobody

[2021-05-14 16:31] mabashian commented on #10156
I don't think management jobs have a `relaunch` endpoint so they would have to be launched again.  Looking at the api's response on the unified job I think we'd have to make an extra request to determine whether a user _can_ launch a management job which is probably why we've never done this in the past.

[2021-05-14 16:35] mabashian commented on #10146
Yea I guess the ideal UX is to indicate to the user that they cannot delete a project/inv source while it's syncing.  We do something similar on other delete confirmation modals.  Show this error is not bad though.

[2021-05-14 16:38] wenottingham commented on #10188
Install docs are here. If you read them, you'll note it's not a simple `docker run`, that is not how the application is deployed.

https://github.com/ansible/awx/blob/devel/INSTALL.md

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-a

[2021-05-14 16:38] #10188 closed, assigned to nobody

[2021-05-14 16:43] wenottingham commented on #10199
Looks like your proxy needs configured such that git can use it as well.

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-05-14 16:43] #10199 closed, assigned to nobody

[2021-05-14 16:48] wenottingham commented on #10165
Hi, please only file issues in one place. If you are only seeing this with the operator, the operator issue is the right place to track this.

[2021-05-14 16:48] #10165 closed, assigned to nobody

[2021-05-14 17:05] wenottingham commented on #10201
I think this is what we'd fix - having a ctrl-c send a cancel to the API doesn't seem like the right behavior. We'd want it to be an explicit command.

[2021-05-14 17:07] wenottingham commented on #10200
We remove from groups, but not from the toplevel.  `all` vars can come from any source, and we don't have the mechanism to know that the var that is no longer in this SCM inventory source wasn't also explicitly set on the inventory, or set by another source.

Until we track variable provenance explicitly, we can't do this.

[2021-05-14 17:16] wenottingham commented on #10151
Hi - can you get the logs from the awx-task container related to the launch of the job? We'd need more information to determine what's going on here.

[2021-05-14 17:20] phemmer commented on #10194
And another problem, the command unconditionally sleeps 0.25s between each loop. If the playbook output goes fast, or you call `awx jobs monitor` after the job is started, the stream won't be able to keep up.

[2021-05-14 17:23] phemmer commented on #10201
The idea was to make it behave similar to running `ansible-playbook` locally. But it shouldn't be too difficult to write a wrapper script to handle the orchestration.

[2021-05-14 17:47] jbradberry commented on #8618
I have confirmed that an instance deployed via YOLO does the right thing with a request for `/favicon.ico`.

[2021-05-14 17:57] nlvw commented on #5682
@wenottingham This issue should not be closed as it represents a major problem.   By not removing variables, when they are removed by the source, AWX is incorrectly running project code.

[2021-05-14 18:45] jbradberry commented on #8618
#10205 should fix this for the development environment, though since the underlying issue is a permanent redirect you'll have to do extra steps to clear that redirect out of your browser.  It seems like choosing "Forget this site" and restarting my browser was sufficient in Firefox.

[2021-05-14 20:37] wenottingham commented on #10137
`awx-manage inventory_import` will not work when only using container groups for automation, there is no workaround at this time other than to move to inventory from SCM.

[2021-05-14 20:40] mabashian commented on #9635
@akus062381 I think you may be referring to the fact that `Verify SSL` is checked by default on the add form for a handful of credential types.  This is by design.  The API indicates to us that the `default` value for those fields is `true` so we check the checkbox in the add form.  Editing the credential seems to correctly check/uncheck that box:

![openstack](https://user-images.githubuserconten

[2021-05-14 21:01] wenottingham commented on #10158
Medium/low - it's a nice UX, but it doesn't affect core must-ship functionality. Want to save high for MVP features/things that are broken.

[2021-05-14 21:26] mabashian commented on #10064
The next button is a tough one.  For generic wizard's the footer buttons along with many other buttons/navigation items are all controlled by PF.  They expose props that let us specify the text that gets displayed but thats about it.  For things _inside_ this panel:

<img width="1318" alt="Screen Shot 2021-05-14 at 5 25 50 PM" src="https://user-images.githubusercontent.com/9889020/118333332-8360e3

[2021-05-14 21:31] mabashian commented on #5278
Marking as blocked until #9908 is merged.  After that lets re-test.

[2021-05-14 21:55] wenottingham commented on #10196
Oh, that.

This is intentional behavior - in both credential plugins and webhooks, it's possible to use the test endpoint to probe for details and inspect the results.  It was changed here (https://github.com/ansible/awx/commit/b7f37d5e26e16f682c4d1486a54f22a03aff74b7#diff-1c6b981835cbb265d6a14f3ff77b86ed2fbf1e64932e6a09a3e623141a7e543d)

[2021-05-15 05:37] lemmy04 commented on #10151
... I haven't touched kubernetes before at all, until AWX 18 came out... what exactly do you need?

[2021-05-15 06:05] lemmy04 commented on #10151
[code]

kubectl -n awx logs -f -- <podname> awx-task shows this during a scm update that never actually starts...

[2021-05-17 04:23] sfhl commented on #10165
Hi @wenottingham,
at the moment i am not using the operator at all, thats why i opened an issue here.

[2021-05-17 05:05] ghost commented on #7051
@wenottingham Sorry for the ping, but I don't see a `Makefile` target or variable here, and `docker-compose-build` fails on the tag both `9.3.0` and `master`. What am I missing?

[2021-05-17 07:09] kuznetsovkk commented on #10200
This bug is not about only toplevel variables. AWX not removing from "inventory/group_vars/somegroup/somerole.yml:somevar: somevalue" too.

[2021-05-17 09:57] benapetr commented on #10099
this issue can be worked over by uncommenting mount_program in /etc/containers/containers.conf

[2021-05-17 13:35] supremedacos commented on #10151
I think I had a similar problem with SCM updates, does your project contain a `requirements.yml` file? and if so did you create an `Ansible Galaxy/Automation Hub API Token` credential and assign it to your organization?

[2021-05-17 13:46] lemmy04 commented on #10151
No requirements.yml files anywhere in my projects, and my awx does have the one galaxy token that gets created and assigned during deployment.

[2021-05-17 14:23] EzraBrooks commented on #5692
The lack of ability to version an inventory identically to a project is causing us very frustrating Change Control issues. This is a critical feature. Is anyone on the project looking at fixing this?

[2021-05-17 14:40] tsimson commented on #5692
I'm getting around this issue by re-reading group variables from within the playbook which is on the feature branch. This is very clunky so I'm hoping this gets some attention.

[2021-05-17 15:48] daenney opened #10207 "19.1: project refreshing fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After upgrading to 19.1.0 I'm no longer able to refresh projects.

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: Kubernetes with AWX operator 0.9.0
* Ansible version:  Whatever is in the EE 0.2.0 execution environment
* Operating System: Amazon Linux 2
* Web Browser: Firefox 86

##### STEPS TO REPRODUCE

* I upgraded my 19.0.0 installat

[2021-05-17 18:26] jbradberry opened #10210 "Expose the output of the EE resolver in the job template detail API endpoints"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

It seems like it would be useful and would mitigate some confusion to expose which EE would be used when executing a template that doesn't have an EE explicitly assigned.

**Clarification**: template detail endpoints.

[2021-05-17 18:29] metabsd opened #10211 "AWX and Execution Environment not synchronized"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When executing a Job Template. It seems that the execution environment continues its work in the background but AWX is no longer up to date and at the end of the execution the job template is in error.

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: awx-operator
* Ansible version:  ansible [core 2.12.0.dev0] from https://github.com/metab

[2021-05-17 18:29] wenottingham commented on #10165
You filed an issue in the awx-operator repo for this exact error, stating you were using k8s. If you're doing a non-operator deployment into k8s based on some custom thing you have done... that custom thing is the most likely source of the issue.

[2021-05-17 18:48] AlanCoding commented on #7010
I started on some quick verification work:

[code]

output:

[code]

That one task:

It doesn't just return the wrong changed status, it doesn't work correctly. It should have left `group_a` there and added `group_b`. However, it fails to leave `group_a` alone and removes it instead.

[2021-05-17 18:53] akus062381 commented on #10064
@mabashian noted on the Next button and thank you!

As far as other locators that we need updated (and please let me know if any of these that I'm asking for are too difficult, etc)

The sort button:
![image](https://user-images.githubusercontent.com/63685497/118540061-36218380-b71e-11eb-9ebc-18da64a799c8.png)

The search button:
![image](https://user-images.githubusercontent.com/63685497/11854009

[2021-05-17 20:01] AlanCoding commented on #10211
Could you give more details from the job? Visit the endpoint `/api/v2/jobs/42/` (if the id was 42) and copy and paste the JSON data from that. Of particular interest are `job_explanation`, `result_traceback` and a few things like that.

[2021-05-17 20:05] AlanCoding opened #10213 "Give better error details when receptor drops a job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Errors from the receptor network (the most obvious ones, details below) are surfaced in the API in a way that gives no really useful information.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO RE

[2021-05-17 20:15] AlanCoding commented on #9154
This is not working in all cases, but those cases have not been identified yet.

[2021-05-17 20:22] akus062381 commented on #9635
this is all set.

[2021-05-17 20:22] #9635 closed, assigned to mabashian, akus062381

[2021-05-17 20:30] metabsd commented on #10211
Both are empty.

[code]
I can't post the whole json. I have to cleanup some stuff if you really need it.

[2021-05-17 21:07] dsmaugy opened #10214 "Cannot create Execution Environment with Ansible 2.10"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I have a set of playbooks which requires Ansible 2.10 to run (not compatible with Ansible 2.11). I've been using a custom execution environment on Ansible 2.10 successfully for the past month that is based off the `quay.io/ansible/ansible-runner:stable-2.10-devel` image. When I went to add some more package dependencies and rebuild the environment how

[2021-05-17 21:26] dsmaugy commented on #10214
EDIT: It seems like the issue has less to do with the Ansible version and more with the specific awx-ee:0.1.1 image that was [built in April](https://quay.io/repository/ansible/awx-ee/manifest/sha256:76ecd20bd375c1cc4c1fd2fc9f43e7a321136905b45f3c0fdd0304de59467b93). I tried with the awx-ee:0.2.0 image (without the additional build steps), ansible-runner:stable-2.10-devel, ansible-runner:stable-2.1

[2021-05-18 00:55] metabsd commented on #10211
Maybe this is useful for you.

[code]

I also double check the content of `/api/v2/jobs/ID/stdout/` and I miss a lot of stuff. Just stop for I don't know why.

Can you help me to find the reason so I can provide useful info?

FYI: English is not my principal language. I do my best ;)

Thx!

[2021-05-18 04:20] sfhl commented on #10165
@wenottingham
Sorry to say that, but thats not really a prefessional answer. The deployment is exactly the same as the operator would do.
It is very sad that nowadays everybody uses "if you don't do it our way, you must be wrong" as an argument, but okay. thanks for nothing!

[2021-05-18 08:57] trinesh17 commented on #10137
In our previous release, we used awx 15.0.0 and used that feature of importing the yml file to awx at a stretch. And now when we are planning to migrate to newer version(>=19.0.0) this is removed...strange!

[2021-05-18 12:46] AlanCoding commented on #9789
Closing as duplicate of https://github.com/ansible/awx/issues/5019

[2021-05-18 12:46] #9789 closed, assigned to nobody

[2021-05-18 13:00] yurtesen commented on #9540
So... AWX is not for production (See https://github.com/ansible/awx/issues/10166#issuecomment-839680079 ) use and I doubt this issue has any priority, one can install it fresh between releases and migrate data apparently. But I hope it would be fixed...

[2021-05-18 13:13] AlanCoding commented on #10043
I only just now saw this issue but have been discussing it in other forms with @pabelanger @jladdjr and others. I will copy some information here.

----

The bug here is that the openstack inventory plugin will no longer work with Ansible 2.11. You can test an inventory file (named `openstack.yml`) with either of these syntaxes:
1. plugin: openstack
2. plugin: openstack.cloud.openstack

The first

[2021-05-18 13:18] AlanCoding commented on #9165
Yes, its a known issue that the openstack inventory plugin doesn't work due to collection naming issues. Safe to say that blocks anyone working on this issue about the region not working.

[2021-05-18 13:47] AlanCoding commented on #9212
My for testing here is that we check to see if any unexpected images are present at the end of an integration test run.

[2021-05-18 14:52] AlanCoding opened #10216 "UI does not link job runs to corresponding project sync"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Due to clustering, when a job runs, a project update may be ran in advance of the job starting.

This is not a project update pull the latest source tree. It only pulls the last-seen revision of the project in the event that it is not present locally.

The new UI does not link jobs to this project update.

In many cases, jobs fail but error details are

[2021-05-18 15:43] tiagodread commented on #9163
@one-t I think this can be closed with the merge of #9988 ?

[2021-05-18 15:44] #9163 closed, assigned to mabashian

[2021-05-18 16:06] jjasghar opened #10219 "Not sure what this AWX error means?"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We got this error in our environment:

[code]

##### ENVIRONMENT
* AWX version:
[code]
* AWX install method: operator on kubernetes

##### STEPS TO REPRODUCE

Attempting to run a job and this is the error we get "sometimes"

/cc @moficodes @odrodrig

[2021-05-18 16:08] jjasghar opened #10220 "Parsing year is failing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![2021-05-18 at 11 06 AM](https://user-images.githubusercontent.com/810824/118685944-27dc7180-b7c9-11eb-83f8-a6168f84a3c1.png)

##### ENVIRONMENT
* AWX version:
[code]
* AWX install method: operator on kubernetes

##### STEPS TO REPRODUCE

Looking for the version of awx, I noticed the copyright year miss-parsed.

/cc @moficodes @odrodrig

[2021-05-18 17:11] wenottingham commented on #10220
See https://github.com/ansible/awx/pull/9861 - this was fixed in 19.1.

[2021-05-18 17:11] #10220 closed, assigned to nobody

[2021-05-18 17:18] akus062381 commented on #8890
this is all set. closing

[2021-05-18 17:27] akus062381 opened #10222 "Add host- inventory search field- remove smart inventories"
- Bug Report

Summary:
When the user creates a host, in the field on the form where they search for and select and inventory, both regular and smart inventories are shown as options. The smart inventories should not be options here.

To reproduce:
Visit the host resource and click Add.
Click the search button in the inventory search box.
You can see that both regular and smart inventories are opti

[2021-05-18 17:51] noesberger commented on #10099
I'm running Centos 8.3 (CentOS Linux release 8.3.2011)
With Docker (Docker version 20.10.6, build 370c289)

I have the overlay error, but I don't have a folder /etc/containers. So how I can fix the issue on my centos system?

[2021-05-18 18:14] AlanCoding opened #10223 "No indication of "source" for inventory updates in list or detail views"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The UI should give some indication of the type of inventory update that ran.

Right now, the only information the user gets is pretty much:
 - The fact that it is an inventory update
 - Its name

There is a lot more relevant information that is still left out.

##### STEPS TO REPRODUCE

Launch various inventory updates, like SCM inventory, gce, azure,

[2021-05-18 18:34] benapetr commented on #10099
that folder is in your container, you need to `docker exec -it <container> bash` inside there ;)

[2021-05-18 18:37] akus062381 commented on #8890
@mabashian - Tiago brought something to my attention that I had missed before, that when you perform an advanced search here, the chip showing the filter parameter is not visible. It is only visible when performing a basic search. I am reopening this and putting it back into needs_devel

[2021-05-18 18:39] tiagodread commented on #8890
The modals in general is not displaying all items in the toolbar when there is only on item in the list because looks like the modal adjust the high according to the number of items in the list. I Wonder if the modal should have a defined high even if there is only one item, to avoid this behaviour @mabashian

![image](https://user-images.githubusercontent.com/12464858/118705936-32116680-b7ef-11eb

[2021-05-18 18:48] tiagodread opened #10224 "“/users/add” don’t accept special characters"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Users can't be created with special chars

##### STEPS TO REPRODUCE

1. Create a user with the name `Robert DROP TABLE students @.+-_`

##### EXPECTED RESULTS

The user to be created
##### ACTUAL RESULTS

![Screenshot from 2021-05-18 15-41-45](https://user-images.githubusercontent.com/12464858/118707017-6a657480-b7f0-11eb-8bd4-d45bb0476025.png)

[2021-05-18 18:59] mabashian commented on #8890
OK, it seems like there are some fields where the chip is displayed correctly but there are some advanced fields where it is not.  If you search for `id` or `inventory` for example (both id's) the chip renders correctly.  If you search for `name`, `description`, or `type` the chip does not render correctly.

Example using name:

![host_filter](https://user-images.githubusercontent.com/9889020/1187

[2021-05-18 18:59] garnser commented on #10099
If so shouldn't the build exclude the mount_program option, or have an option to have it?

[2021-05-18 19:01] wenottingham commented on #10224
This is a django limitation, we can't fix this.

It should be allowed for other fields (firstname, lastname, etc)

[2021-05-18 19:01] #10224 closed, assigned to nobody

[2021-05-18 19:05] mabashian commented on #2521
I think this is working as designed.  If we want to improve the UX in the future we can but closing this for now.

[2021-05-18 19:05] #2521 closed, assigned to nobody

[2021-05-18 19:24] mabashian commented on #6648
Since we've opened #9607 to track the extra work I'm going to close this

[2021-05-18 19:24] #6648 closed, assigned to nobody

[2021-05-18 19:28] mabashian commented on #6858
Enhancement here would be to have this string translated (maybe we roll our own implementation of it?) but we plan on leaving that field for now.

[2021-05-18 19:28] noesberger commented on #9540
In my log I saw, that nginx is not starting correctly, I was able to fix this with:
https://github.com/ansible/awx/issues/9552
[code]
After that I was able to start the UI with the following command in a separate ssh session
`docker exec tools_awx_1 make clean-ui ui-devel`

Then I was able to access the UI, but the command
`make docker-compose`
was still running in the first session and is not fin

[2021-05-18 19:55] AL1L commented on #10196
That seems good for UI purposes, but a bad idea for function and usefulness, how are people supposed to know what the issue is in the webhook configuration? There should be some type of log or something to view the failed tests in detail.

[2021-05-18 20:10] tiagodread commented on #5687
@mabashian actual form is not matching to the mockup
![image](https://user-images.githubusercontent.com/12464858/118716803-a05c2600-b7fb-11eb-9fe0-ec322e85be51.png)

[2021-05-18 20:24] tiagodread commented on #6857
These fields are now marked to be translated cc @mabashian

![image](https://user-images.githubusercontent.com/12464858/118718498-b0750500-b7fd-11eb-87ea-6543b0aef2d0.png)

[2021-05-18 20:24] #6857 closed, assigned to tiagodread

[2021-05-18 20:46] tiagodread commented on #6057
Reported in `Platform 2.0 Testathon` still valid

[2021-05-18 21:35] dsmaugy commented on #10214
EDIT: Upgrading to AWX 19.1.0 seemed to fix the issue for me. My guess is that when I recompiled my execution environment, it pulled the latest image from `ansible-runner:stable-2.10-devel` which broke compatibility with AWX 19.0.0? (https://github.com/ansible/awx/pull/10013)

If that were the case, it would be nice to tag the leave compatible versions of the ansible runner image up as to not forc

[2021-05-18 21:44] duntonr commented on #9961
@shanemcd - Sorry for the delay but 19.1 did NOT solve the issue.  The same issue/behavior remains with:
- Operator 0.9
- AWX 19.1
- Custom awx-ee image, based off quay.io/ansible/awx-ee:0.2.0 (just using Dockerfile FROM, not using ansible-builder anymore)

I was excited by ansible/receptor#319, until I read that issues updates :( .  It does "feel" kinda like a lock or contention type issue though

[2021-05-18 21:52] AlexSCorey commented on #10064
@akus062381

- The sort, search, and input box, and pagination, _should_ all be updated via https://github.com/ansible/awx/pull/10180.  Check it out and let me know if those items don't provide what you need.

- We can probably add ouiaID stuff to the check boxes with (Admin, Execute, Read) and to the Users and Teams buttons.

- The Save, Back and Cancel button are all controlled by Patternfly and

[2021-05-19 01:59] kdelee commented on #8637
This has been verified elsewhere, closing as a duplicate

[2021-05-19 01:59] #8637 closed, assigned to masbahnana

[2021-05-19 06:11] gruselglatz opened #10227 "19.1.0 Cant run Playbooks after setup"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Starting a Ping job to some host or even localhost ending in this:
Idk where the connection gets refused.
AWX-Task can reach every host and the socket files from receptor are all there.

[code]

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: operator
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

[2021-05-19 09:12] dat1041988 opened #10228 "job tags not working with tags in roles/tasks"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I create a template to run an ansible playbook with job tags. When I run it, ansible-playbook run all tasks in roles, not specific tasks with tags.
Job tags is working with tasks in main playbook file, but not working with tasks in roles.

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operati

[2021-05-19 11:42] per-lind commented on #10043
Would it help if I tried and made a PR from the fix?

[2021-05-19 12:39] AlanCoding commented on #10043
yeah, sure

[2021-05-19 13:27] akus062381 commented on #8942
this is fixed.

[2021-05-19 13:27] #8942 closed, assigned to akus062381

[2021-05-19 13:40] benapetr commented on #10099
of course it should, I am not saying this is not a bug, AWX is full of bugs, I am just telling you a workaround for it.

[2021-05-19 13:59] mamatt commented on #7344
I'm also getting this issue in awx 19.0.

This is making nested workflow not really usable !

[2021-05-19 15:55] mabashian opened #10229 "Disable inventory field when editing host"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It seems like the api does not allow editing of this field:

<img width="1494" alt="Screen Shot 2021-05-19 at 11 53 38 AM" src="https://user-images.githubusercontent.com/9889020/118844457-f7fc9f00-b898-11eb-83e2-970cab8ff4e0.png">

so we should probably disable it to prevent surfacing this error.

[2021-05-19 18:25] mabashian commented on #7567
@wenottingham I was testing this out and I came across a scenario which I think is not working correctly but i'm not sure.  I think the bug as you outlined it is fixed(?) but if the superuser changes the project to a project in a different org _and_ adds a new label the label gets associated with the org from the previous project.  That's not the ideal behavior right?  If the project changes to a

[2021-05-19 18:28] per-lind commented on #10043
https://review.opendev.org/c/openstack/ansible-collections-openstack/+/792138

[2021-05-19 18:53] mabashian commented on #8824
Here's my tldr; version:

1) Go to a team's roles list
2) Click add and associate a job template admin role (the job template doesn't matter just make sure it's one that's not already associated)
3) Without refreshing/navigating away click add again
(Note that the state for the previous add is still present - this is not correct, it should be back to it's original form)
4) Attempt to associate a _

[2021-05-19 18:55] mabashian commented on #8824
We don't have this problem with the resource role add modal because I think that component is mounted/unmounted when the button is clicked/modal is closed.  In the case of the user/team role add the button is _included_ in the component with the wizard.

[2021-05-19 19:22] tiagodread commented on #8355
Tested manually and the logo has a brand text in white along with the background white you can't read the text.
cc @mabashian @wenottingham
![Screenshot from 2021-05-19 16-14-01](https://user-images.githubusercontent.com/12464858/118871522-09a46d80-b8be-11eb-92b8-287fb986999c.png)

The text is also not aligned in 1024x768
![image](https://user-images.githubusercontent.com/12464858/118872818-5fc5e0

[2021-05-19 19:24] tiagodread commented on #8355
Steps to verify this page:

Edit  the file `/var/lib/awx/venv/awx/lib/python3.8/site-packages/awx/main/middleware.py` setting:
[code]
restart the server

[2021-05-19 19:38] AlanCoding commented on #10043
Left a +1

thanks

[2021-05-19 19:43] wenottingham commented on #7567
My answer is "hm".

I think changing the org of something from A->B shouldn't change existing labels on it, but in theory it should change the new labels going forwards. But I'm guessing the UI code won't use the new org until *after* it's saved?

[2021-05-19 19:50] akus062381 opened #10231 "Adding credentials to roles section of Team/User"
Bug Report

##### SUMMARY
When adding an admin, read, or use role for Credentials for Team or User, a 400 error is shown: You cannot grant credential access to a team when the organization field isn't set, or belongs to a different organization

##### STEPS TO REPRODUCE

Create an organization. Visit the Roles tab. Click Teams.
Select team, and then select multiple roles for that team and click Sa

[2021-05-19 19:51] wenottingham commented on #10228
Check https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html#adding-tags-to-roles, I'd expect you're adding the `tags` to the role import, which applies it to all tasks in the role.

[2021-05-19 19:56] tiagodread commented on #9371
I tried to reproduce this problem again without success the project sync is being completed with custom SCM branch and force push
![image](https://user-images.githubusercontent.com/12464858/118876045-2e4f1400-b8c3-11eb-9689-e40bd5244643.png)

[2021-05-19 19:56] #9371 closed, assigned to nobody

[2021-05-19 20:00] akus062381 opened #10232 "Error thrown when adding organizations to roles for team or user"
Bug Report

##### SUMMARY
When adding multiple roles at one time for an organization in a user or a team: 400 Error: you cannot assign an Organization participation role as a child role for a team.

##### STEPS TO REPRODUCE

Click on a team or user. Click roles. Click Add.
Select organization. then select an individual organization.
select multiple roles for the organization- you will then see the

[2021-05-20 02:22] dat1041988 commented on #10228
@wenottingham Thanks for reply!
I don't add tags to role import. Our playbook:

bash-4.4# cat vcd.yml
---
- name: vCloudDirectorAnsible
  hosts: localhost
  environment:
    env_api_version: 35.0
    env_verify_ssl_certs: false
  roles:
      - vappvm

And in vappvm role tasks, I add "create-master" tag to individual tasks.
Already try include_role in playbook but result is the same.

[2021-05-20 06:52] simonmacpherson opened #10235 "Upgrade failed: version 14.1.0 to 17.0.1"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Upgrade from version 14.1.0 to 17.0.1 failing.

##### ENVIRONMENT
* AWX version: 14.1.0
* AWX install method: docker on linux
* Ansible version: 2.9.18
* Operating System: NAME="Red Hat Enterprise Linux Server" VERSION="7.9 (Maipo)
* Web Browser: n/a

##### STEPS TO REPRODUCE

Rename ~/awx to awx.old
Navigate to ~/ and run git clone -b 17.1.0 https://g

[2021-05-20 06:59] hari-hud commented on #1970
To enable this setting you can use tower-cli:

`tower-cli setting modify ALLOW_JINJA_IN_EXTRA_VARS always`

[2021-05-20 07:00] hari-hud commented on #5780
To enable this setting you can use tower-cli:

`tower-cli setting modify ALLOW_JINJA_IN_EXTRA_VARS always`

[2021-05-20 09:17] ghost commented on #9540
@yurtesen Yes You're right about priority.
You said "one can install it fresh between releases and migrate data apparently".

Where did you find its information ? Did you try ?

Cheers

[2021-05-20 12:00] nixocio commented on #8355
This one seems to be a regression related to rename of the products.

@tiagodread https://github.com/ansible/awx/pull/9123#issuecomment-769454116 that was before we changed certain variables.

https://user-images.githubusercontent.com/9753817/106208976-3ce9b200-6192-11eb-88e8-0b916776554d.gif

[2021-05-20 12:19] Zokormazo commented on #1855
![error](https://user-images.githubusercontent.com/1447328/118977310-4af85400-b976-11eb-9ba5-4c5128fedaaf.png)

Do we want to automate this? cc @tiagodread @one-t

[2021-05-20 13:12] trinesh17 opened #10236 "Ansible collection not detected when running playbook on AWX 19.1.0"
We have to limit this because of limited volunteer time to respond to issues! -->

##### ISSUE TYPE
 Getting the below error while executing a playbook from AWX which uses the modules from 3rd party collections
{"reason": "couldn't resolve module/action 'dellemc.openmanage.idrac_lifecycle_controller_status_info'. This often indicates a misspelling, missing collection, or incorrect module path.

##

[2021-05-20 13:13] trinesh17 commented on #10236
What is the ideal way to do when running the playbooks from awx( 19.1.0) containing modules from collections

[2021-05-20 13:23] akus062381 commented on #10064
@AlexSCorey - the sort, search, input box, and pagination are great, thank you!
If you decide to add OUIA ids to the check boxes, let me know and I'll take a look
Noted on the Save/Next/Cancel buttons! :-)

[2021-05-20 13:23] #10064 closed, assigned to mabashian

[2021-05-20 13:27] kdelee commented on #7062
@AlanCoding @rebeccahhh so we have left `custom_virtualenv` as a read only attribute on the objects, and we have now an awx-manage command that helps us list and export custom virutalenvs present on the system.

What seems to be missing is some way to export a mapping of custom venvs to objects. The way it stands the user is going to have to crawl over all the orgs and JTs etc in the API to find o

[2021-05-20 13:34] tiagodread commented on #8428
We need implement the same utility function to get the actual version of the product and make asserts in cypress test

[2021-05-20 17:29] rooftopcellist opened #10238 "Cleanup image pull secrets when registry cred is deleted"
Follow-up this PR: https://github.com/ansible/awx/pull/10204
Follow-up to this Issue:  https://github.com/ansible/awx/issues/10114

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Currently, we create image pull secrets in the namespace of the cluster defined in the Container Group.  These secrets remain after job runs and get re-used.  This is fine, the issue is when a registry credential is delete

[2021-05-20 19:09] AlanCoding commented on #10238
If done in the `Credential` delete method, we may need to put it in a task if this might take a long time. But I'm not sure.

[2021-05-20 19:34] mabashian commented on #8452
Closing - will link preferred solution.

[2021-05-20 19:34] #8452 closed, assigned to nobody

[2021-05-20 19:55] mabashian commented on #8853
Closing - toast should now be displayed

[2021-05-20 19:55] #8853 closed, assigned to jladdjr, AlexSCorey

[2021-05-20 20:17] jurschel commented on #10109
Is this going to be merged soon? Seems like a significant breaking change to have this missing.  I just got AWX running and can't use it...

[2021-05-20 20:21] mabashian commented on #9645
Closing - will provide a link to fix

[2021-05-20 20:21] #9645 closed, assigned to nobody

[2021-05-20 20:22] keithjgrant opened #10240 "Remove URL params when closing modal/wizard"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Clean up URL params when closing a modal. See https://github.com/ansible/awx/pull/10215#issuecomment-845202406 for details/examples. Ideally, closing and re-opening a modal should bring it back up in a "clean" state, without filters/search/or pagination applied to any list within the modal.

This might require a little brainstorming & thinking through

[2021-05-20 20:26] mabashian commented on #9846
@tvo318 do you know if we have a landing place for this in the docs yet?

[2021-05-20 20:34] mabashian commented on #9694
https://github.com/ansible/awx/issues/10128 is something that we should fix at the same time. (single select)

[2021-05-20 20:34] mabashian commented on #10128
Dupe of https://github.com/ansible/awx/issues/9694

[2021-05-20 20:34] #10128 closed, assigned to AlexSCorey

[2021-05-20 20:35] keithjgrant commented on #10093
My guess would be we did it for the performance/perceived performance of having the list pre-fetched before the Lookup is opened. We could probably try to do some intelligent re-fetching if the lookup gets opened after a long delay or something, but a manual refresh button might just make more sense

In some cases, the lookup might be able to subscribe to websocket events for new objects, but that

[2021-05-20 20:38] keithjgrant commented on #10240
Conceptually related (though the code involved is not): https://github.com/ansible/awx/issues/10093

[2021-05-20 20:41] kdelee commented on #7066
@Zokormazo this issue relates to the PR https://github.com/ansible/tower-qa/issues/6342 I sent you and if we could work in a last few verification steps while you are verifying https://github.com/ansible/awx/pull/10204 I think we can close this soon.

Two notable ones are using the new `tls-verify` boolean and pulling an image from Automation Hub. If those two things were used during the Testathon

[2021-05-20 20:48] pabelanger commented on #10109
@jurschel the latest release on quay.io should be working properly

[2021-05-20 20:53] tiagodread opened #10241 "[Testability] Add better locators across components and pages"
This issue is a combination of 10 other issues, to add better locator to pages/components, please refer to the closed issue below to get more details:

1. [JT survey prompt on launch modal](https://github.com/ansible/awx/issues/9702)
2. [Workflow Visualizer Node Tab](https://github.com/ansible/awx/issues/9667)
3. [schedules pages](https://github.com/ansible/awx/issues/9565)
4. [toolbar across page

[2021-05-20 20:54] tiagodread commented on #9517
Closing to keep track on https://github.com/ansible/awx/issues/10241

[2021-05-20 20:54] #9517 closed, assigned to nobody

[2021-05-20 20:54] tiagodread commented on #9527
Closing to keep track on https://github.com/ansible/awx/issues/10241

[2021-05-20 20:54] #9527 closed, assigned to nobody

[2021-05-20 20:54] tiagodread commented on #9565
Closing to keep track on https://github.com/ansible/awx/issues/10241

[2021-05-20 20:54] #9565 closed, assigned to nobody

[2021-05-20 20:54] tiagodread commented on #9667
Closing to keep track on https://github.com/ansible/awx/issues/10241

[2021-05-20 20:54] #9667 closed, assigned to nobody

[2021-05-20 20:54] tiagodread commented on #9702
Closing to keep track on https://github.com/ansible/awx/issues/10241

[2021-05-20 20:54] #9702 closed, assigned to nobody

[2021-05-20 20:54] tiagodread commented on #9513
Closing to keep track on https://github.com/ansible/awx/issues/10241

[2021-05-20 20:54] #9513 closed, assigned to nobody

[2021-05-20 20:54] tiagodread commented on #9509
Closing to keep track on https://github.com/ansible/awx/issues/10241

[2021-05-20 20:54] #9509 closed, assigned to nobody

[2021-05-20 20:55] tiagodread commented on #9506
Closing to keep track on https://github.com/ansible/awx/issues/10241

[2021-05-20 20:55] #9506 closed, assigned to nobody

[2021-05-20 20:55] tiagodread commented on #9502
Closing to keep track on https://github.com/ansible/awx/issues/10241

[2021-05-20 20:55] #9502 closed, assigned to nobody

[2021-05-20 20:55] tiagodread commented on #9470
Closing to keep track on https://github.com/ansible/awx/issues/10241

[2021-05-20 20:55] #9470 closed, assigned to nobody

[2021-05-20 20:55] jurschel commented on #10109
I got my awx install to run with the awx-ee:devel branch and it is still failing to do a simple get facts on a windows box with the following error.
{
  "msg": "winrm or requests is not installed: No module named 'winrm'",
  "_ansible_no_log": false
}

[2021-05-20 20:58] pabelanger commented on #10109
What is the image ID?

[2021-05-20 20:58] pabelanger commented on #10109
what is the image ID?

On Thu, May 20, 2021 at 4:56 PM jurschel ***@***.***> wrote:

[2021-05-20 21:00] pabelanger commented on #10109
[code]
EDIT: added always

[2021-05-20 21:00] jurschel commented on #10109
awx-ee:
    Container ID:  docker://9ae1fb6374bebda92fd413a061e2401981fc246813d7eb0141a9ccf5ad491330
    Image:         quay.io/ansible/awx-ee:devel
    Image ID:      docker-pullable://quay.io/ansible/awx-ee@sha256:ebcc73d2c239b25915afee4f8297334422398a3b21ce12192c74b85e537e8251
    Port:          <none>
    Host Port:     <none>

[2021-05-20 21:02] kcentralsquare commented on #7712
@AlanCoding What's the solution for those of us on older AWX versions without the ability to upgrade immediately? What version is that fix available in?

[2021-05-20 21:11] jurschel commented on #10109
Where should I look if it is still happening even though I show it returning the pywinrm==0.4.2 package?

[2021-05-20 21:13] pabelanger commented on #10109
make sure your ansible_python_interpreter is python3 / python3.8

[2021-05-20 21:14] #9377 closed, assigned to nixocio

[2021-05-20 21:17] yurtesen commented on #9540
@damienreyre Actually, upgrading is not supported according to FAQ. So no wonder it does not work 😄

https://www.ansible.com/products/awx-project/faq
[code]

Of course `DATA_MIGRATION.md` says you can upgrade and points to https://github.com/ansible/awx/blob/devel/INSTALL.md#upgrading-from-previous-versions but that link is broken. It was from pre 17.0.1 versions and moved here https://github.com/

[2021-05-20 21:17] wenottingham commented on #7712
If you have an issue with Ansible Tower/Ansible Automation Platform, you should contact your Red Hat support rep.

[2021-05-20 21:21] isuftin opened #10242 "awxkit workflow_job monitor errors out against Ansibe Tower"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am able to launch a job against Ansible Tower via awxkit. However, attempting to monitor the workflow job via `awx  workflow_job monitor` fails.

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: pip via python 3.6.8
* Ansible version: Python 2 & Ansible 2.10.9 on client,  Python 2 & Ansible 2.10.7 on clieTowernt
* Operating System: CentO

[2021-05-20 21:23] jurschel commented on #10109
So do you think that the 0.2.0 release should respond with pywinrm==0.4.2?

[2021-05-20 21:23] isuftin commented on #10242
It actually looks like that same weird redirect is happening when launching as well...

[code]

[2021-05-20 21:31] jurschel commented on #10109
This really should be re-opened until this change is committed to a non development branch don't you think?

[2021-05-20 22:32] isuftin commented on #10242
I live updated the nginx.conf on tower to always use https when rewriting...

before:

...

[code]

after:

...

[code]

I have to do this because it doesn't seem like I'm able to get NGINX to pick up x-forwarded-proto from the AWS application load balancer which terminates SSL.

This actually seems to have fixed things as NGINX does now redirect to https properly so the load balancer no longer ne

[2021-05-20 22:49] jhampson-dbre opened #10243 "Unable to use awx collection with LDAP user, due to token creation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When trying to schedule a job with awx.awx.tower_schedule, I am unable to authenticate to Tower using username/password with LDAP authentication provider. We are using Ansible Tower, but based on the module error message, this appears to be a problem with awx.awx collection attempting to create an Oauth token instead of using basic auth for the reques

[2021-05-21 06:19] Zokormazo commented on #7066
@gamuniz and @chrismeyersfsu made the full flow during testathon: ansible-builder -> hub -> controller . It works

[2021-05-21 07:15] ghost commented on #9540
Ok I see. Thanks for the informations.

[2021-05-21 07:38] lemmy04 commented on #10151
I just deleted my AWXS object on my k3s, and redeployed - same issue: scm jobs don't start at all.

[2021-05-21 07:59] DiefBell opened #10244 "Create Instances with API"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It's possible to update and manage instances with the API, however they can't be created any way besides awx-manage or in the UI. Could this be a feature in future releases?

Support for this in the awx-kit and Ansible collection would also be very useful.

[2021-05-21 11:22] Zokormazo commented on #9665
Tested, it works

[2021-05-21 11:22] #9665 closed, assigned to Zokormazo, masbahnana

[2021-05-21 13:52] kcentralsquare commented on #7712
@wenottingham That doesn't answer either of my questions. I'd rather deal with the developers, who know the product MUCH better than some random call center rep. An answer here is also searchable so that others may find a resolution.

[2021-05-21 15:04] mabashian commented on #10232
I think the rows that get selected do matter - it's not arbitrary.

I'd update the repro steps to:

Click on a team or user. Click roles. Click Add.
Select organization. then select an individual organization.
Select the admin role
Save

Question for someone on the API side - it seems like adding org level roles to a team/user has _some_ restrictions as far as the list of possible roles is concern

[2021-05-21 15:08] jakemcdermott commented on #9795
I've looked into this and also spent some time debugging w/ @nixocio

I see at least two locations where connections seem to be duplicated:

1. The dashboard page. When switching from the dashboard page to other locations that use websockets (e.g, the jobs list), the socket disconnect code in [the hook cleanup method](https://github.com/ansible/awx/blob/devel/awx/ui_next/src/util/useWebsocket.js#L

[2021-05-21 15:12] mabashian commented on #10223
To whoever picks this up I think Alan is talking specifically about exposing `summary_fields.inventory_source.source` in both the jobs list and job details view.  For the list I think it would need to go in the expanded row view.

[2021-05-21 15:20] AlanCoding commented on #10223
The field you mention gives the same data as the `source` field (and the direct field should be preferred). This is present for `/api/v2/inventory_updates/` and those same entries in `/api/v2/unified_jobs/`. It looks like `"source": "ec2"`. OPTIONS for the inventory updates endpoint gives choices & labels.

[2021-05-21 16:18] HaifengSun-Kira commented on #9926
I followed the [latest install instrcution](https://github.com/ansible/awx/blob/devel/INSTALL.md) and faced the same bug. Is there any solution yet?

[2021-05-21 16:18] mybaby101 commented on #9926
I followed the [latest install instrcution](https://github.com/ansible/awx/blob/devel/INSTALL.md) and faced the same bug. Is there any solution yet?

[2021-05-21 16:18] mybaby101 commented on #9926
I followed the [latest install instrcution](https://github.com/ansible/awx/blob/devel/INSTALL.md) and faced the same bug. Is there any solution yet?

[2021-05-21 16:18] mybaby101 commented on #9926
I followed the [latest install instrcution](https://github.com/ansible/awx/blob/devel/INSTALL.md) and faced the same bug. Is there any solution yet?

[2021-05-21 16:18] mybaby101 commented on #9926
I followed the [latest install instrcution](https://github.com/ansible/awx/blob/devel/INSTALL.md) and faced the same bug. Is there any solution yet?

[2021-05-21 16:18] mybaby101 commented on #9926
I followed the [latest install instrcution](https://github.com/ansible/awx/blob/devel/INSTALL.md) and faced the same bug. Is there any solution yet?

[2021-05-21 17:06] wenottingham commented on #10244
We are currently doing architectural rework around how execution runs, this would need considered in the context of that future archtiecture.

[2021-05-21 17:18] shanemcd commented on #10227
What version and flavor of Kubernetes?

[2021-05-21 17:19] shanemcd commented on #10219
We improved error handling a lot in 19.1.0... any chance you can upgrade and see if the message changes?

[2021-05-21 17:24] shanemcd commented on #10214
Sorry you ran into this. We will definitely start to stabilize these new components over time. Since upgrading resolves your issue, I'm going to close this.

[2021-05-21 17:24] #10214 closed, assigned to nobody

[2021-05-21 17:29] shanemcd commented on #10211
This smells a lot like https://github.com/ansible/awx/issues/9961 - we're actively working on it.

[2021-05-21 17:33] shanemcd commented on #10210
Note: Meyers had some performance concerns here. Chat with him about that before implementing this.

[2021-05-21 17:34] shanemcd commented on #10207
It seems like you're using an old version of Runner. Make sure you are on 2.0.0a2.

[2021-05-21 17:36] shanemcd commented on #10200
@AlanCoding thoughts?

[2021-05-21 17:41] shanemcd commented on #10151
Is there anything helpful in the logs of the in-pod awx-ee container?

[2021-05-21 17:46] jjasghar commented on #10219
Honestly, I'm not 100% sure how to update the Operator install of awx, can you point me to the docs?

[2021-05-21 18:04] lemmy04 commented on #10151
not really:

INFO 2021/05/21 18:03:22 Client connected to control service
INFO 2021/05/21 18:03:22 Control service closed
INFO 2021/05/21 18:03:22 Client disconnected from control service
INFO 2021/05/21 18:03:22 Client connected to control service
DEBUG 2021/05/21 18:03:24 Sending service advertisement: &{awx-9b7494dfb-jgk9m control 2021-05-21 18:03:24.48428354 +0000 UTC m=+38108.977573786 1 map[

[2021-05-21 18:40] AlanCoding commented on #10200
This is a handy script for testing these cases:

https://github.com/ansible/test-playbooks/blob/master/inventories/changes.py#L48

The group named `group_with_vars` is returned by the script. This group then has 2 variables, the first key is `static_group_key` and the second key is dynamic looking like `dynamic_group_2021_05_21_18_27_18.737356`.

So, create an SCM inventory source with that repo &

[2021-05-21 18:41] AlanCoding commented on #10200
Now, you can compare to the inventory all-level variables. After 2 updates, that looks like this:

[code]

The group, on the other hand, only has 2 variables. This just goes to show how the group-level variables have overwrite variables functioning, but the inventory-level variables do not.

[2021-05-21 18:42] #10200 closed, assigned to nobody

[2021-05-21 20:45] Jonaswinz commented on #9900
Sorry I meant "or". The storage.conf file still contained overlay as the storage driver. Therefore Podman was confused. @renehasp

[2021-05-21 20:50] jbradberry commented on #9715
This is not the intended meaning of "Default Execution Environment".  The default environment is one that gets inherited by jobs that make use of this project (or organization or whatever other objects we added a Default Execution Environment field to), when the job does not have an explicitly configured environment of its own.  As noted, project updates are forced to use the system execution envi

[2021-05-21 20:57] jbradberry commented on #9715
cc @shanemcd

[2021-05-22 04:28] Klistel opened #10246 "Labels for Workflow Tasks"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When configuring a workflow, oftentimes you're using  other workflows as building blocks, or even Job Templates that have customized inventories or extra variables. I think it would be very useful to allow a custom label in the workflow visualizer to be applied to an element in the workflow, so that - at a glance - you could see any customizations t

[2021-05-22 11:09] yaserdashti opened #10247 "isolated node"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

please let me know the reason of removing isolated node and by having isolated node gone, how we can have a runner node in remote location.

[2021-05-22 11:35] daenney commented on #10207
If I'm building on EE 0.2.0 shouldn't that be the case by itself?

[2021-05-24 09:22] kladiv commented on #9297
+1
UPDATE:

- a team (or user) with "Inventory Admin" role of the Organization should be allowed to create an Inventory Source
- a team (or user) with "Admin" role of the specific Inventory should be allowed to create an Inventory Source

[2021-05-24 12:40] AlanCoding commented on #10012
@Zokormazo you can close this issue if you agree it's not supported.

[2021-05-24 13:18] Zokormazo commented on #10078
Verified. Thanks!

[2021-05-24 13:18] #10078 closed, assigned to jbradberry, Zokormazo

[2021-05-24 15:02] ckozler commented on #10236
I am also seeing similar issues on 19.0.0. See attached. This is a stock AWX 19.0 deployment in AWS EKS. I have never been able to get collections to work prior and it was communicated that 19 would be better due to the new execution environments. Is there anything else that needs to be done besides having an SCM location with collections/requirements.yaml file?

![2021-05-24-105533_1204x791_scrot

[2021-05-24 15:11] AlexSCorey commented on #10246
@Klistel does https://github.com/ansible/awx/issues/2032 also describe what you are seeking? If so we could close this issue in favor of that one because it has a bit more depth and background in it.

[2021-05-24 16:57] jurschel commented on #10109
I think the problem is that the win-rm module is being installed at /usr/local/lib/python3.8/site-packages and not in the ansible/modules.. Thoughts @pabelanger ?

ansible-playbook [core 2.11.0rc2]
  config file = None
  configured module search path = ['/home/runner/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.8/site-pa

[2021-05-24 18:04] ckozler commented on #10236
Upgraded to 19.1 and still having the same issue. I tested and can confirm that the SCM update/refresh does detect when I add and remove the requirements.yml for both roles and collections but it does not process it and just logs skip and that the conditional result was false

![2021-05-24-140402_1024x355_scrot](https://user-images.githubusercontent.com/847400/119388941-ef410a00-bc98-11eb-90f9-89c

[2021-05-24 18:06] ckozler commented on #9730
@shanemcd  Still the same issue here too and upgraded on 19.1. Seems to be reported here has well - #10236 - is there something non obvious that needs to be configured elsewhere?

[2021-05-24 18:17] ckozler commented on #9730
For anyone else who reads this - this is how I fixed it: Copy the default "Ansible Galaxy" credential that you cannot edit from the UI. Go to galaxy.ansible.com, login/link GH account, and then get your API token from your preferences in the top right. Copy that, edit the copied credential in AWX, add the API token you copied, assign your org to the token, then go to organizations and change the c

[2021-05-24 18:17] ckozler commented on #10236
For anyone else who reads this - this is how I fixed it: Copy the default "Ansible Galaxy" credential that you cannot edit from the UI. Go to galaxy.ansible.com, login/link GH account, and then get your API token from your preferences in the top right. Copy that, edit the copied credential in AWX, add the API token you copied, assign your org to the token, then go to organizations and change the c

[2021-05-24 20:46] nixocio commented on #8788
hey @one-t, I will go ahead and close this one since you already verified this one.

[2021-05-24 20:46] #8788 closed, assigned to nixocio

[2021-05-24 21:29] jjasghar commented on #6303
@wenottingham can you point me at the documentation about creating a job template that can take a specific time? I'm googling around but only finding specific repeatable crons.

[2021-05-24 21:38] wenottingham commented on #6303
The first example here: https://docs.ansible.com/ansible/latest/collections/awx/awx/tower_schedule_module.html#examples creates a run-once schedule (`COUNT=1` is the specific parameter).
You'd populate that date from extra_vars passed via survey... there may be some parsing required. See the second example for ways to use the rrule lookup plugin to assist with that.

[2021-05-24 22:17] rooftopcellist opened #10252 "Ability to use a custom CA cert for a Registry Credential"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

For Execution Environment images, we currently allow users to pull and use images from public and protected protected registries.  With `Verify SSL` enabled, images can be pulled from registries whose CA certs are in the system CA trust store, but there is currently no way to add a custom CA cert via AWX.

The current work-around would be to disable

[2021-05-25 00:25] HailsonJunior opened #10253 "can't access the awx 19 interface"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I installed awx on a Ubuntu server
I followed the guide: https://github.com/ansible/awx/blob/devel/INSTALL.md

In the end executing the command "minikube service awx-service --url" and trying to access the web interface it's show that The connection has expired

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: docker with minikube
* Ansibl

[2021-05-25 00:49] simonmacpherson opened #10254 "Lookup Plugin Cannot Locate File"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Playbook using the 'cp_mgmt_put_file' module that is part of the Checkpoint Ansible Mgmt Collection does not run correctly when launched within AWX. File cannot found in expected paths by the lookup plugin.

##### ENVIRONMENT
* AWX version: 14.0.1
* AWX install method: docker
* Ansible version:  2.9.18
* Operating System: RHEL7
* Web Browser: n/a

####

[2021-05-25 02:22] trinesh17 opened #10255 "AWX 19.1.0 deployment is getting failed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX operator deployment is successful but awx deployment is failing with pods in running status

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: kubernetes
* Ansible version:  2.10.9
* Operating System: Centos 8.3
* Web Browser:

##### STEPS TO REPRODUCE

Ran awx.yml for awx deployment. The pods came up but not UI. When i checked the logs

[2021-05-25 02:29] trinesh17 commented on #10236
If it is for SCM atleast 19.1.0 should work for you. Once you add collection/requirements.yml under your project folder and do "sync for revision" it should do the needful. @ckozler

But I am using manual project and didn't find a way to download collections :|

[2021-05-25 02:45] ckozler commented on #10236
It won't work directly. You need to add credentials manually for galaxy API
and then assign it. Depending on how you deploy AWX will decide what you
need to do, so it appears. Deploying from operator, it appears, because
your org is created via API calls, you need to add credentials for galaxy
manually

On Mon, May 24, 2021, 10:29 PM trinesh17 ***@***.***> wrote:

[2021-05-25 02:47] trinesh17 commented on #10236
correct

[2021-05-25 05:40] gruselglatz commented on #10227
minikube 1.18.1
awx 19.1.0
ee 0.2.0
operator 0.9.0

[2021-05-25 11:35] gstorme opened #10256 "imagePullPolicy for execution environment not applied"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I've created a custom execution environment with ansible-builder, and added it in the AWX UI with the pull option set to "always pull".
This does not work, unless the image has the `latest` tag, and if it has the `latest` tag, the UI option doesn't even matter, it will always pull the image.
When the tag is not `latest`, the image will not always be p

[2021-05-25 13:53] mabashian commented on #8452
https://github.com/ansible/awx/issues/6082

[2021-05-25 13:53] mabashian commented on #9645
https://github.com/ansible/awx/pull/9988

[2021-05-25 14:12] nixocio commented on #9241
This issue seems to be fixed as a side effect of https://github.com/ansible/awx/pull/10195. I got a commit before that fix was added and the issue was present there, I got the latest devel and the issue was not there anymore.

[2021-05-25 15:19] harshakhmk commented on #9014
Can I work on this issue?

[2021-05-25 15:21] harshakhmk commented on #2301
Does the issue still needs to be addressed, if yes I can contribute

[2021-05-25 15:28] #9241 closed, assigned to nixocio

[2021-05-25 15:43] AlanCoding opened #10259 "Give a sane error message when AWX returns migration screen"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The AWX collection gives an irrelevant traceback when it acts against a server that returns the migration-in-progress page

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Update the sou

[2021-05-25 15:49] colixxx commented on #5692
@AlanCoding

Hey! Are there any changes in this direction?
For server changes, we want to build on inventory, not playbooks / roles. Therefore, we want to run the playbooks project by modifying the inventory project branch.
This would add a lot of flexibility to the processes and save everyone from a lot of playbooks.

P.S My AWX version is 14.1.0

[2021-05-25 16:09] jbradberry commented on #9342
@john-westcott-iv @sean-m-sullivan so the downside of the current scheme is that it relies upon the registry being fully up to date and making use of the right `Page` subclass for each API endpoint.  Galaxy credentials should absolutely get a `Credential` page type, but since the endpoint isn't properly registered, it falls back to `Page`.  I did some quick tinkering and put together a patch that

[2021-05-25 17:14] mabashian commented on #6214
@AlexSCorey I believe you're current working on this in conjunction with the schedule bug(s).  If that's the case I'll update the assignee/status.

[2021-05-25 17:22] #8777 closed, assigned to nobody

[2021-05-25 17:44] jbradberry commented on #9715
Perhaps the label could be something more meaningful.  "Job Inherited Environment"?  "Job Fallback Environment"?

[2021-05-25 18:11] akus062381 commented on #6302
Additional issue identified with regard to wrapping in the Schedules Tab: When the browser window is made small and the schedule names are long, Next Run wraps the date/time stamp in an odd way.

[2021-05-25 18:19] thedoubl3j commented on #2301
@harshakhmk yes, I didn't realize I was still assigned. Since the issue is still open, the issue still remains. feel free to open a PR and reference this issue. how we might want to implement might have changed but even then, I doubt it would be a large shift.

edit: not a bug but rather an enhancement so wording changed

[2021-05-25 18:21] phemmer commented on #10194
Another issue, if you run `monitor` after the job completes, it refuses to output anything, erroring with `Unable to monitor finished job`. This is an artificial limitation, as removing the check that outputs that message causes it to run fine. This should be addressed, as if the job exits quick, or there's some other delay before `awx jobs monitor` can be invoked, any output from the job won't be

[2021-05-25 18:24] jurschel opened #10262 "Windows playbooks fail with "winrm or requests is not installed: No module named 'winrm' on awx-ee:0.2.0 and awx-ee:devel""
ISSUE TYPE
Bug Report
SUMMARY
AWX 19.1.0 EE devel branch pywinrm is not in the standard location

ENVIRONMENT
AWX version: 19.1.0
AWX install method: awx-operator
Ansible version: 2.11.0rc2
Operating System: Ubuntu 20.04
Web Browser: Firefox
STEPS TO REPRODUCE
Execute a job that requires ansible_connection of winrm
or
run win_ping on AWX-EE CLI.
EXPECTED RESULTS
Successful connection to Windows ho

[2021-05-25 18:31] akus062381 opened #10263 "[ui_next] Blank page when clicking on Workflow Approval"
##### ISSUE TYPE
 - Bug Report

Browser Used:

- Firefox-88.0.8 and vivaldi-stable-3.8.2259.40 on Fedora 34

##### SUMMARY
In Tower, clicking Workflow Approval gives me a blank white page, with the following error in the js console:
![image](https://user-images.githubusercontent.com/63685497/119549640-6c39b580-bd65-11eb-9e61-b669d59c92c5.png)

On vivaldi (chrome) error is slightly different, but s

[2021-05-25 18:32] akus062381 commented on #10263
Filed on behalf of Maxim Burgerhout, who reported this error during a bug bash.

[2021-05-25 18:37] phemmer opened #10264 "Can't reliably monitor job output - "Unable to monitor finished job""
##### ISSUE TYPE
 - Feature Idea

Technically a feature idea, however the race condition aspect makes it a little bit of a bug too.

##### SUMMARY
Currently if you try to run `awx jobs monitor` and a job is completed, awxkit will refuse to display any output. You might argue that for finished jobs you should use `awx jobs stdout`, however the user might not know if the job is complete, and/or it's

[2021-05-25 18:41] akus062381 commented on #3831
An additional error has been discovered in SAML settings- When editing SAML settings, I entered random information for two of the required fields and clicked save, and I got the error message reminding me to fill in the third required field. I entered random letters and numbers and clicked save, and saw this:
![image](https://user-images.githubusercontent.com/63685497/119551176-56c58b00-bd67-11eb-

[2021-05-25 18:44] akus062381 commented on #3831
@mabashian can I just check in on this with you? Just making sure that it's ok for it to be left alone before the release?

[2021-05-25 18:54] tiagodread opened #10265 "Select list item clicking on row"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This is a follow up issue from https://github.com/ansible/awx/pull/10180, to select items inside modal now the users should click on the radio/select input, clicking on the row won't select the item anymore.

##### STEPS TO REPRODUCE

1. Click on any lookup field to open a modal
2. Click on the item row

##### EXPECTED RESULTS

The input to be selected

[2021-05-25 18:58] tristan-evans-od commented on #2350
Sorry if this is obnoxious, but "+1". Would love to see this added as a feature.

[2021-05-25 19:07] benjdudas opened #10266 "RFE: Allow "GitHub\GitLab PAT" creds to be configured at the JT level."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Feature request to allow the GitHub/GitLab Personal Access Token credentials to be configured on a Job Template.

[2021-05-25 19:10] rooftopcellist commented on #10256
I have found this to be the case too.   This will be fix as part of https://github.com/ansible/awx/pull/10204

[2021-05-25 19:15] balonik commented on #9715
It's tricky, because Project Sync is still a Job. I would probably go for 'Job Default Execution Environment'. And add a note that this is not for Project Sync in the help dialog (the one you get from the question mark icon).

[2021-05-25 19:17] 0x4e44 commented on #9926
got the same issue over on my end. This error lead to a final CreateContainerConfigError. With no restarts.

might be nice to know , this issue occured to me when the server was rebooted.

[2021-05-25 19:23] 0x4e44 commented on #9926
or just a reboot.

[2021-05-25 19:28] mabashian commented on #6214
See https://github.com/ansible/awx/issues/10152 and https://github.com/ansible/awx/pull/10237

[2021-05-25 19:38] mabashian commented on #9610
We've modified this code to fetch up to 400 credential types with this PR: https://github.com/ansible/awx/pull/9116.  I believe this shipped with 18.0.0.  If you're still seeing issues past 18.0.0 then let us know.

[2021-05-25 19:38] #9610 closed, assigned to nobody

[2021-05-25 19:49] mabashian commented on #8838
@akus062381 I wasn't able to reproduce this behavior given the description.  Do you mind generating a gif for us or walking through it step by step?

How many jobs did you select to delete?  Was it a whole page?

[2021-05-25 19:49] mabashian commented on #8838
Also - we may want to consider what you found to be a new bug and open a new issue so that we can close this one out.

[2021-05-25 20:16] bvaughan-redhat commented on #10266
Based on Github recommendations
"You should create a personal access token to use in place of a password with the command line or with the API."

https://docs.github.com/en/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token

The standard credential type should be available for use in playbooks and templates.

[2021-05-25 20:21] wenottingham commented on #10254
Playbooks run under job isolation, which prevents them accessing certain paths on the host. Your data should live in the project itself.

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-

[2021-05-25 20:21] #10254 closed, assigned to nobody

[2021-05-25 20:21] wenottingham commented on #10255
Looks like you've got the wrong password for the database in your deployment.
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-05-25 20:21] #10255 closed, assigned to nobody

[2021-05-25 20:22] wenottingham commented on #10262
-> #10109

[2021-05-25 20:22] #10262 closed, assigned to nobody

[2021-05-25 20:23] jurschel commented on #10262
Right it was closed.  So open the other one back up please...

[2021-05-25 20:53] akus062381 opened #10270 "local_path variable is being retained when changing project type to manual"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Editing the source

##### ENVIRONMENT
Browser Used:
     Google Chrome version 90.0.4430.93 on Mac Catalina

##### STEPS TO REPRODUCE

Project: create a project and choose Manual as the source control credential type. Save the project. Now, click the button to edit the project. Change the source control credential type to Subversion, enter required inf

[2021-05-25 21:04] nixocio commented on #9715
I will update the popovers on the UI where we use `Default Execution Environment` to clarify what was discussed here.

[2021-05-25 21:06] akus062381 commented on #8838
closing and opening a new issue- https://github.com/ansible/awx/issues/10272

[2021-05-25 21:06] #8838 closed, assigned to jakemcdermott

[2021-05-25 21:23] tiagodread commented on #8618
Yolo build loading the favicon correctly
![image](https://user-images.githubusercontent.com/12464858/119568107-81254180-bd83-11eb-8ae3-4f5256d891bc.png)

[2021-05-25 21:23] #8618 closed, assigned to jbradberry, tiagodread

[2021-05-25 21:33] akus062381 opened #10272 "Error when deleting multiple inventory source sync jobs at one time"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This must be done with a jobs list that has data already populated.
When syncing a source inside of an inventory multiple times (I did 4 in my manual test), and going to the Jobs List page, after waiting for them to finish syncing, click the check mark next to all 4 jobs and click delete. Instead of returning the remaining job list history, it returns

[2021-05-25 21:33] solarisfire commented on #10117
Any instructions on how to do that? I ran into this issue today trying to upgrade AWX 18.0.0 to 19.1.0. Upgraded awx-orchestrator and it now just runs a failing playbook on repeat spitting out:

"logger":"controller-runtime.controller","msg":"Reconciler error","controller":"awx-controller","request":"default/awx","error":"event runner on failed","stacktrace":"github.com/go-logr/zapr.

[2021-05-26 00:52] bandwiches opened #10273 "Unable to find project collections in path."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can't install Ansible-Galaxy collections via Project (`collections/requirements.yml`).

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: minikube
* Ansible version:  2.9.22
* Operating System: Ubuntu
* Web Browser: Chrome

##### STEPS TO REPRODUCE
1. Install AWX Operator
2. Install AWX
3. Create Org
4. Create Credentials
5. Create Project

[2021-05-26 07:21] Akandou opened #10274 "Unable to edit prompted fields on job schedule"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Job schedule does not show the button to edit prompted fields.

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.18
* Operating System: Ubuntu 20.04 LTS
* Web Browser: Firefox

##### STEPS TO REPRODUCE

- Add new schedule for a job with a survey (or with prompted fields in general).

##### EXPECTED R

[2021-05-26 07:59] infra-monkey opened #10275 "AWX won't be compatible with community.hashi_vault >= 2.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX doesn't support the new environment variables used by community.hashi_vault.hasi_vault lookup plugin.
As described [here](https://docs.ansible.com/ansible/latest/collections/community/hashi_vault/hashi_vault_lookup.html#ansible-collections-community-hashi-vault-hashi-vault-lookup) in their version 2.0.0 the support for environment variables VAULT_A

[2021-05-26 08:02] Zokormazo commented on #10114
@rooftopcellist

Following here since the PR is merged.

I'm not using the operator. I'm registering a container group using different permisson level service accounts
All the service accounts I used have enough pod permissions to run jobs using the default public ee.

1. service account with no `secrets` roles

    After running a job I got this:
[code]
Now status is `error` instead of canceled.

[2021-05-26 08:25] pierre-amadio opened #10276 "[RFE] mail alert when tower admin password is changed."
This is related to Red Hat support ticket#02945448 and to awx's issue#10050 .
As there is no way to deny a local root user from changing the tower admin password with `awx-manage changepassword admin` , it would be interesting to be able to generate email alert when such an event occurs.
It is currently possible to use the Tower Api to monitor such change and use that in a script to send alert ema

[2021-05-26 09:09] Zokormazo commented on #5931
https://github.com/ansible/tower-qa/blob/devel/tests/api/external_data/test_insights.py#L270-L271

and

https://github.com/ansible/tower-qa/blob/devel/tests/api/external_data/test_insights.py#L605-L668

You did it a year ago, or am I missing something? :)

[2021-05-26 09:16] siwei-luo opened #10277 "AWX Azure AD social login broke after a while"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I had a working setup with Azure AD SSO with social account integration which suddenly stopped working after a while.

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: operator (0.9.0)
* Ansible version:  X.Y.Z
* Operating System: Kubernetes
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Setup Azure AD with the required information: http

[2021-05-26 10:16] Ecno92 commented on #2462
@l3ender , I've been in touch with RedHat regarding our question.
They are working on Podman support. If I understand this feedback correctly it should allow us to run the containers on the same nodes that are also serving AWX/Tower.

[2021-05-26 12:44] tiagodread commented on #8355
https://user-images.githubusercontent.com/9053044/119563297-5c29d200-bd75-11eb-87ac-65919554b16e.mov

[2021-05-26 12:44] #8355 closed, assigned to nixocio, tiagodread

[2021-05-26 12:45] Thomastouma commented on #9232
Experiencing the same issue.

Building a smart inventory filter query and displaying the hosts matching the filter works, but when saving the smart inventory an error is displayed stating that the query is invalid.

`filter_url: smart_hosts.inventory_sources__search=icinga2_dynamic&smart_hosts.variables__regex=^((%3F!%3B).)*%24`

I get the same error message when trying to build the smart inventor

[2021-05-26 13:31] kdelee commented on #5931
my mistake, we have tests for this

[2021-05-26 13:31] #5931 closed, assigned to michaeltcoelho

[2021-05-26 13:33] akus062381 commented on #10263
already solved.

[2021-05-26 13:33] #10263 closed, assigned to nobody

[2021-05-26 13:49] devsadds commented on #7809
Error happen if chose http proto(not git) in awx project.

[2021-05-26 14:40] tiagodread commented on #10138
The changes now are being displayed properly

![image](https://user-images.githubusercontent.com/12464858/119679802-09a0f200-be17-11eb-8bb7-ae507517446b.png)

[2021-05-26 15:01] cira-jonathan opened #10280 "Cannot reach AWX web interface after install using minikube"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I installed AWX on a RHEL 7 machine following the install documentation in the develop repository and I cannot reach the web interface using http, https or the service url with the port that in provided when I run `minikube service awx-service --url`

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: Docker with Minikube
* Ansible version: