[2021-05-26 15:01] #10138 closed, assigned to mabashian

[2021-05-26 15:07] akus062381 opened #10281 "Job output host filter- event type search should include operators"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In the job output page of a job that failed with multiple hosts, and for example, one of the hosts failed and the other two hosts were ok, the event type search filter does not give the user the ability to filter and see multiple search types (for example, there is no option for the user to change the operator from OR to AND, etc)

##### ENVIRONMENT
Go

[2021-05-26 15:12] tiagodread commented on #10162
PR already merged

[2021-05-26 15:12] #10162 closed, assigned to AlexSCorey

[2021-05-26 15:25] akus062381 opened #10282 "Resource Advanced Search functionality- the ID key doesn't function as expected"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On Schedules (and almost every search).  If I do an advanced search for something using the key “id” (possibly others) but then use invalid data (like “id contains s” as my search).  I got a proper error message about it needing to be an integer, but now the key field on the search box above it is broken, you have to completely clear the search to get

[2021-05-26 15:47] akus062381 opened #10283 "Advanced search lookup types forces value to activate search button"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Advanced Searches require the Value to be entered before you can search, but we have “Lookup Types” like “isnull” which shouldn’t require a value but the search icon won’t activate unless a value is entered.  Technically “exact” and “iexact” should work with a blank value also, in case you are searching for a blank but not null value.

##### ENVIRONMEN

[2021-05-26 15:54] akus062381 opened #10284 "Activity stream event- clicking YAML button causes error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Activity Stream event.  Clicking the [YAML] button throws a javascript error and kills the websocket

##### STEPS TO REPRODUCE

![activity-stream](https://user-images.githubusercontent.com/63685497/119692003-09a1f180-be19-11eb-8702-2868108589f0.gif)

[2021-05-26 15:59] trinesh17 opened #10285 "Permission issue while using the custom-awx-ee in the job template"
##### ISSUE TYPE
Getting permission issue error while executing the job template on custom awx-ee image as execution environment

##### SUMMARY
Traceback (most recent call last):
  File "/usr/lib64/python3.8/distutils/file_util.py", line 29, in _copy_file_contents
    fsrc = open(src, 'rb')
PermissionError: [Errno 13] Permission denied: '/var/lib/awx/projects/root/anaconda-ks.cfg'

During handling

[2021-05-26 16:01] trinesh17 commented on #10285
FROM quay.io/ansible/awx-ee:0.2.0

USER root

# install OS binaries
RUN yum -y install \
ca-certificates \
gcc \
git \
git-lfs \
krb5-devel \
krb5-libs \
krb5-workstation \
libcurl-devel \
libxml2-devel \
openssl-devel \
python3-jmespath \
python3-netaddr \
python3-passlib \
python3-pycurl \
python38-devel \
python38-pytz \
python38-pyyaml \
python38-requests \
qemu-img

RUN /usr/bin/python3 -m pi

[2021-05-26 16:11] akus062381 opened #10286 "Schedules- long names don't wrap when displayed on screen"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We allow 512 characters in schedule names, but when viewing / editing a schedule with such a long name, in the breadcrumbs, it pushes the Schedules “View activity stream” icon (and most of its name) off the page instead of wrapping.

##### STEPS TO REPRODUCE

![schedule-name](https://user-images.githubusercontent.com/63685497/119694630-643c4d00-be1b-11

[2021-05-26 16:16] shanemcd commented on #10247
Hello. Isolated nodes were removed because we are moving towards a new architecture. We will be reintroducing the concept of remote nodes later this year. In the meantime, you may want to consider Container Groups.

[2021-05-26 16:16] #10247 closed, assigned to nobody

[2021-05-26 16:23] kdelee opened #10287 "Sysadmins can edit/delete managed_by_tower=true EE but can't then create new ones"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

@jbradberry has more background on this.

Now that sysadmins are allowed to edit and delete `managed_by_tower=true` EE, it stands to reason that they should be able to modify the `managed_by_tower` attribute via the API.

This is necessary to fix your project updates if an overzelous sysadmin deletes all their `managed_by_tower=true` EEs....because if

[2021-05-26 16:41] tiagodread commented on #9126
The login page with the white brand logo

![image](https://user-images.githubusercontent.com/12464858/119698839-06fac880-be28-11eb-8bf1-1b4bb9934fe5.png)

[2021-05-26 16:41] #9126 closed, assigned to nixocio

[2021-05-26 16:50] jurschel commented on #10109
Sorry this was a miss on my part.  Even though the awx deployment was now running awx-ee:devel I hadn't added it as an execution environment.  Once I did that I got past the missing module error.

[2021-05-26 16:52] yagomarques commented on #8686
it's working! We exec the `tower_update` more than once and an update job was started for all task with the `update_project` enabled.

![image](https://user-images.githubusercontent.com/18562328/119699462-93a58680-be28-11eb-8d97-acd86b36b44a.png)

playbook:
[code]

[2021-05-26 16:52] #8686 closed, assigned to nobody

[2021-05-26 17:18] kdelee commented on #10118
Manually tested and coverage added in awx unit tests. Closing as verified

[2021-05-26 17:18] #10118 closed, assigned to beeankha, kdelee

[2021-05-26 17:42] tiagodread commented on #8428
Working on a test case to cover this

[2021-05-26 17:43] akus062381 commented on #8428
@tiagodread let me know how I can help!

[2021-05-26 17:56] kdelee commented on #9154
We've added some more coverage for specific cases, but keeping this open without specifics of what the bug is or the missing test cases is not very useful. Going to close and suggest that we open new issues for pending problems

[2021-05-26 18:03] kdelee commented on #5149
I agree this coverage exists, closing

[2021-05-26 18:03] #5149 closed, assigned to masbahnana

[2021-05-26 18:08] #10104 closed, assigned to beeankha

[2021-05-26 18:16] akus062381 opened #10288 "[Meta Issue] Resources- Form Validation Errors"
This issue encompasses multiple errors regarding word count for fields in different resources.

##### ISSUE TYPE
 - Bug Report

##### SUMMARY

**TEMPLATES RESOURCE:**

- [ ] Limit field will happily accept any number of digits (even up to 200K characters)
- [ ] Launching a job with a 200k character “limit” field causes a traceback
![character-limit](https://user-images.githubusercontent.com/636854

[2021-05-26 18:18] beeankha commented on #7554
Test coverage was added via functional test playbooks, closing issue.

[2021-05-26 18:18] #7554 closed, assigned to nobody

[2021-05-26 18:20] beeankha commented on #9342
Hi @metabsd, with the merging of PR https://github.com/ansible/awx/pull/10271, Galaxy Creds which are associated with organizations should be able to be exported correctly. I'm closing this issue, please let us know if you have any further problems related to this.

[2021-05-26 18:20] #9342 closed, assigned to jbradberry, beeankha

[2021-05-26 18:22] #10055 closed, assigned to sean-m-sullivan

[2021-05-26 18:25] rooftopcellist commented on #10256
@gstorme The fix for this has merged, please ping me here if you are still seeing this problem with the new changes.  Thanks!

[2021-05-26 18:25] #10256 closed, assigned to nobody

[2021-05-26 18:56] tiagodread commented on #9628
The lookup field is filtering by container registry:

![image](https://user-images.githubusercontent.com/12464858/119715944-f1db6500-be3a-11eb-80b8-99c86856bc9c.png)

[2021-05-26 18:56] #9628 closed, assigned to nixocio, rebeccahhh, masbahnana

[2021-05-26 19:11] jbradberry commented on #10091
After doing some experimenting, I've discovered that the `-L` or `--location` flag isn't enough to deal with the 301 Permanent Redirect that happens when we use one of our API URLs without a slash at the end.  I temporarily added a logging statement that demonstrated that the payload wound up always being empty after the redirect.  Adding the `--post301` flag to the curl command was sufficient to

[2021-05-26 19:28] jbradberry commented on #10091
The problem with the Job settings page in the UI is captured by #10192 .  Closing.

[2021-05-26 19:28] #10091 closed, assigned to nobody

[2021-05-26 19:51] AlanCoding commented on #10137
This is going to be hard. By design, the web / task containers are not expected to have either `podman` or `ansible-playbook`.

If the management command is going to work at all, maybe it will have to do so by submitting the job itself. After all, the interface that the dispatcher uses isn't too complicated. It imports `RunInventoryUpdate` from the tasks code, passes the job and then checks back u

[2021-05-26 20:06] sarabrajsingh commented on #7574
fixed with PR ```https://github.com/fosterseth/awx/pull/17```

[2021-05-26 20:36] #8428 closed, assigned to tiagodread, akus062381

[2021-05-26 20:45] wenottingham commented on #10285
... do you have an unreadable file in your project?

[2021-05-26 20:52] wenottingham commented on #10276
We would not do this; there are no longer mail alerts in the application.

This is already available via the activity stream, which can be configured via logging integrations to send externally. An example of an activity_stream entry for an `awx-manage changepassword` initiated change:

[code]

[2021-05-26 20:52] #10276 closed, assigned to nobody

[2021-05-26 21:07] tiagodread commented on #5513
Trying to select the key `Ansib`:

![chrome-capture (17)](https://user-images.githubusercontent.com/12464858/119730815-8d290600-be4c-11eb-97be-9559f5c7f358.gif)

[2021-05-26 21:13] wenottingham commented on #10275
Unfortunately, we can't let custom credentials override ANSIBLE_* variables - there are too many ways a user delegated access to run a particular playbook on a particular inventory could change ansible's behavior to do other things if arbitrary ANSIBLE_* variables are passed.

I've filed an issue with the collection to see if they'll reconsider the deprecation:
https://github.com/ansible-collectio

[2021-05-26 21:15] wenottingham commented on #10274
Hi - we believe this is fixed in the latest release of AWX with our new UI. Can you try this with 19.1?

[2021-05-26 21:18] kdelee commented on #7574
@beeankha can you clarify if these tests are passing? If they are now, please close

[2021-05-26 22:03] one-t commented on #1855
We can stub this out for now, to be handled when we address ldap settings in the future.

[2021-05-26 23:10] briantist commented on #10275
I've responded in https://github.com/ansible-collections/community.hashi_vault/issues/85 but also see https://github.com/ansible-collections/community.hashi_vault/issues/49 and https://github.com/ansible-collections/community.hashi_vault/issues/10 for more information. I believe we have a way around using Ansible vars (not env vars) that should be introduced before 2.0.0.

Also want to point out t

[2021-05-27 02:29] trinesh17 commented on #10285
Yeah..i found one unreadable file in my project and it worked after deleting that file.. Thanks!

[2021-05-27 02:29] #10285 closed, assigned to nobody

[2021-05-27 03:33] metabsd commented on #10211
Can I help by doing something on my env ?

I plan to centralized our k8s logs to Elk and start a big playbook and collect everything and analyze it and share it.

That can be useful?

[2021-05-27 03:47] simonmacpherson commented on #10254
The scripts are located in the project folder.

[2021-05-27 08:22] DiefBell opened #10296 "Q: Execution Environment versus Container Group"
== Question ==

##### SUMMARY
There seems to be a lot of overlap between Execution Environments and Container Groups in that they both let you chose your image for running jobs, but it seems like you can't choose to _not_ use an Execution Environment even when using a Container Group. How are they both supposed to be used together and what are the use cases for each?

##### ENVIRONMENT
* AWX versi

[2021-05-27 10:26] dscout87 opened #10297 "awx_web: nginx no permissions to /var/lib/nginx"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
No permission to create request body (when body is big) in /var/lib/nginx/tmp/client_body/0000000005

##### ENVIRONMENT
* AWX version: all 17
* AWX install method: docker on linux
* Ansible version:  2.9
* Operating System: linux
* Web Browser:

##### STEPS TO REPRODUCE
make inventory script using API with body size >= 16kb

##### EXPECTED RESULTS
inve

[2021-05-27 12:40] infra-monkey commented on #10275
Thank you for the clear answer.
As far as the case is taken into account, i'm good.
Legacy environment will be kept and the extra_vars option is nice.

I hope there will be a global solution found for other plugins that would want to use the ANSIBLE_* environment variables.

[2021-05-27 12:40] nixocio commented on #10287
It would nice to add those changes to the UI also.

[2021-05-27 13:06] AlanCoding commented on #7574
@sarabrajsingh do you have some proposed changes to fix tests somewhere? I know you had at least some patches we need

[2021-05-27 13:23] akus062381 opened #10298 "Unicode in form fields causes inconsistencies"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

- [ ] Tower allows you to use unicode in hosts/groups but ansible does not ([WARNING]: Invalid characters were found in group names but not replaced).  Passing it in the limit makes it not match any host (even though a group exist with the exact unicode name)

- [ ] Most places show unicode properly, but others (like the Workflow, edit node screen don

[2021-05-27 13:27] akus062381 opened #10299 "Activity stream- template name change improperly recorded"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When updating the names of templates, etc… The activity stream is not properly recording the old name for history sake.  Every single past history related to that template shows the “new” name instead of what it was at the time.

[2021-05-27 13:30] akus062381 opened #10300 "Google OAuth2 Settings- Error handling needs to be more specific"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When editing Google OAuth2 Settings, the error handling is located strangely- there are errors present for Organization Map as well as Team Map, but the errors don’t show the user exactly where the errors are:
![image](https://user-images.githubusercontent.com/63685497/119834614-1e8c8c80-bece-11eb-9f21-a1888ac38bd5.png)

[2021-05-27 13:57] Zokormazo commented on #9151
Verified!

[2021-05-27 13:57] #9151 closed, assigned to Zokormazo

[2021-05-27 14:10] fourstepper commented on #9151
Looks good to me, thanks @AlanCoding

[2021-05-27 14:36] AlanCoding commented on #9154
The updated failure is now:

Run_Integration_Tests___test_receptorctl_work_units_cleanup

[code]

It was suspected that this may be resolved by WIP in receptor now.

[2021-05-27 15:18] wenottingham commented on #10296
The older container groups implementation in earlier AWX:
- you define a container group, which contains both the k8s/OCP cluster to use (and any needed credentials), and the image to use within that cluster to run automation

The current container groups implmentation in AWX:
- you define a container group which contains the k8s/OCP cluster to use (and any needed credentials)
- you define the exe

[2021-05-27 15:18] #10296 closed, assigned to nobody

[2021-05-27 15:19] wenottingham commented on #10297
This API endpoint has been removed in current AWX, as has the direct docker installation.

[2021-05-27 15:19] #10297 closed, assigned to nobody

[2021-05-27 15:20] wenottingham commented on #10299
If you're looking at older activity stream entries, this is coming straight from the API, and I believe it has always worked this way.

[2021-05-27 15:42] t-readyroc commented on #7666
Would absolutely love this. Sometimes survey choices contradict each other, & it would be great to point that out to the user prior to the job failing.

[2021-05-27 15:50] sarabrajsingh commented on #7574
@AlanCoding not sure if echoing our requirements to `sanity.import-plugins.txt` in the ansible-test lib is the happy-path-forward or if building our own tower-qa testing container is. we will need to discuss this.

[2021-05-27 15:52] DeLoWaN opened #10302 "Having a broken symlink anywhere in a project causes the inventory sync to never finish"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Having a broken symlink anywhere in a project causes the inventory sync to never finish.

##### ENVIRONMENT
* AWX version: 19.0.1
* AWX install method: awx-operator
* Ansible version:  The one shipped with AWX 19.0.1
* Operating System: kubernetes
* Web Browser: Chrome

##### STEPS TO REPRODUCE

* Having a project (in my case hosted on git) with a bro

[2021-05-27 16:00] bandwiches commented on #10273
For anyone running into this issue:

This was an error within the project itself.  Inside my project, the folder was named `collection` and not `collections` and therefor the resource was never found by AWX.

[2021-05-27 16:00] #10273 closed, assigned to nobody

[2021-05-27 16:05] wenottingham commented on #10302
adding @sarabrajsingh since they're looking at the other linked issue

[2021-05-27 17:06] tiagodread commented on #10265
https://github.com/ansible/awx/pull/10279 is fixing the lists inside modals

[2021-05-27 17:24] kdelee commented on #7243
We now correctly get a 401, closing as verified

[2021-05-27 17:24] #7243 closed, assigned to kdelee

[2021-05-27 17:28] stuieordie commented on #10123
I just deployed AWX today with the AWX Operator 0.9.0 (https://github.com/ansible/awx-operator/releases/tag/0.9.0) and this issue appears to still exist.

It pulled these images
Image:         docker.io/redis:latest
Image:          quay.io/ansible/awx:19.1.0
Image:         quay.io/ansible/awx:19.1.0
Image:         quay.io/ansible/awx-ee:0.2.0

Should the PR  [#10171 ](https://github.com/ansible/aw

[2021-05-27 18:01] nixocio commented on #7884
The core work related to EE was already completed and tested. Closing this one.

[2021-05-27 18:01] #7884 closed, assigned to tiagodread

[2021-05-27 18:21] kdelee opened #10303 "Error message in modal broken when deleting Project that is in use from List view"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### STEPS TO REPRODUCE

1) Create a project
2) Create JT that uses that project
3) Return to project list view
4) delete the project

##### EXPECTED RESULTS

A modal that warns me that the project is in use

##### ACTUAL RESULTS

Modal comes up, but it has errors

![Screenshot from 2021-05-27 14-18-42](https://user-images.githubusercontent.com/29239

[2021-05-27 18:25] lassizci commented on #7346
git-crypt could be used by having inventory plugin that just calls git-crypt unlock. But the problem with AWX is the working directory isn't clean as all the symlinks change their type. Git-crypt on the other hand requires a clean repository. So I suppose that essentially blocks us from using AWX. Or is there any way around it?

[2021-05-27 18:27] kdelee commented on #8641
This is fixed now, and does the reasonable thing -- allows schedule for the broken JT to be disabled, but blocks you from re-enabling it. Closing as verified

[2021-05-27 18:27] #8641 closed, assigned to nobody

[2021-05-27 18:31] kdelee commented on #9177
I can confirm this has been replaced in awx and in the docs

[2021-05-27 18:31] #9177 closed, assigned to kdelee

[2021-05-27 18:38] zentavr commented on #3894
[This article](https://virtual-bytes.co.uk/2021/05/06/deploying-ansible-awx-on-kubernetes-from-day-0/) helped very much.
The author says: `however after some research I found that if an application doesn’t define a specific Storage Class then the Kubernetes cluster must have a ‘default’ storage class which will be dynamically used instead`

[2021-05-27 19:08] tiagodread commented on #8852
PR already merged working as expected!

[2021-05-27 19:08] #8852 closed, assigned to mabashian

[2021-05-27 19:31] ksquires opened #10306 "image pull failures against custom EE using Hashi Vault look up for container registry credentials"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
after configuring a HashiCorp Vault Secret Lookup Credential and Container Registry Credential that references the HashiCorp Vault Secret Lookup Credential image pulls fail with authorization denied for custom EE images.  From a CLI I can perform docker login using those credentials and docker pull successfully (confirming the credentials work)

#####

[2021-05-27 19:44] yagomarques commented on #8445
we created an automated test that covers the creation and update scenarios. We also did a manual test, using the collections and it’s working.
[code]

[2021-05-27 19:45] #8445 closed, assigned to yagomarques

[2021-05-27 19:52] ansiblejunky opened #10307 "Management job to cleanup old schedules on job templates"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Ansible Tower job templates (and workflow templates) allow for schedules to be configured. Schedules that have completed or no longer reoccur still remain listed on that job template. Therefore there should be a management job added to cleanup "old" or inactive schedules on job templates.  For now, these need to be manually deleted.

[2021-05-27 23:12] bandwiches commented on #10117
@solarisfire I'm not sure if this is better suited in `ansibe/awx-operator` or here, but the link is below in regards to the specific variables I modified.  Keep in mind that `awx-orchestrator v0.9.0` still requires "tower_" to be prepended to these variables despite what the documentation says at this time.

[Containers Resource Requirements](https://github.com/ansible/awx-operator#containers-res

[2021-05-27 23:12] #10117 closed, assigned to nobody

[2021-05-27 23:44] diegor1421 commented on #9540
To any that is following this thread, I was able to migrate the info from docker version 17 to the new 19.1.
resources:
- https://github.com/ansible/awx/blob/devel/INSTALL.md
- https://github.com/ansible/awx-operator#deploying-a-specific-version-of-awx
- https://github.com/ansible/awx-operator/blob/0.9.0/deploy/crds/awx_v1beta1_crd.yaml

Steps performed:

1. I did a Dump from the database on the o

[2021-05-28 00:12] merickso commented on #10274
By any chance is there a workaround without having to upgrade?

[2021-05-28 05:11] Klistel commented on #10246
Hi @AlexSCorey  - yes that issue does seem to cover the same ground. I've +1'd that issue. Please feel free to close this one.

[2021-05-28 06:13] #10275 closed, assigned to nobody

[2021-05-28 07:47] lassizci opened #10308 "Symlinked directories in project are missing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX deletes symlinked directories and overall results in unclean git repo.

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: minikube
* Ansible version:  2.11

##### STEPS TO REPRODUCE

Have a repo structure:
[code]

Launch a job.

##### EXPECTED RESULTS
* `project/inventories/prod/vars/some_dir/vars1.yml` should exist.
* `project/inventor

[2021-05-28 11:10] lemmy04 commented on #10151
I have deleted the whole namespace in kubernetes **and** deleted the operator and deployed from scratch - and it's still the same: project sync jobs do not start at all, and there is nothing in the logs that would explain why.

[2021-05-28 11:26] lemmy04 commented on #10151
I've actually found something in the logs:

[code]

"No available capacity to run ..." - where does that come from, and why does it affect only SCM updates?

[2021-05-28 11:57] sdomi4 opened #10309 "AWX 19.1.0 Inventory sync from source fails with ValueError in traceback"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Syncing inventory from project source in GitLab fails with status "Error occured [sic] while saving inventory data, see traceback or server logs".
Project syncs successfully, inventory file is parsed successfully, traceback reports "ValueError: A string literal cannot contain NUL (0x00) characters."

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX instal

[2021-05-28 12:23] Akandou commented on #10274
We're using workflow schedules as a workaround.

[2021-05-28 14:48] Ulfy commented on #8490
How does one currently use a cert for WinRM connections? I'm struggling to get AWX to connect to WIndows host using a Machine/SSH cred. Winrm wants the pub/key path specified, but that doesn't seem to work either.

[2021-05-28 15:27] MalfuncEddie commented on #8490
I've create a custom credential to solve this
input:

[code]
injector:

[code]

use in playbook

[code]

[2021-05-28 15:27] #8490 closed, assigned to nobody

[2021-05-28 19:17] ksquires commented on #10236
I don't think using a new credential with an API key defined is the right "solution".  It shouldn't be needed, at least how I understand it.

According to:  https://docs.ansible.com/ansible/latest/user_guide/collections_using.html#installing-collections-with-ansible-galaxy
![image](https://user-images.githubusercontent.com/14119434/120031245-2b88a900-bfbe-11eb-816b-0cdbb8731226.png)

the default A

[2021-05-28 22:28] ckozler commented on #10236
I don't know what to say. It's the only thing that worked for me

I linked to another change that mentioned any orgs created through the API
will not have credentials setup. I use kubernetes latest and awx operator.
I presume awx operator when it executes the install will use the API to
create your organization. I had credentials setup but I could not modify
them and they had no password/api key a

[2021-05-29 16:41] mak241265 opened #10311 "Job Settings save problem"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: , docker on linux
* Operating System: ubuntu 18.0.4
* Web Browser: chrome, Firefox

##### STEPS TO REPRODUCE

Login to awx as admin and scroll down to the Settings, and click Jobs settings then click edit to update one of the details then try to save

##### EXPECTED RESULTS

new value of pa

[2021-05-30 22:31] BrandonALXEllisSS opened #10312 "AWX-CLI can't edit CUSTOM_ENV_PATHS"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: Install Playbook on K8 Cluster
* Ansible version: 2.9.18
* Ansible CLI version: 19.1.0, also tried 17.1.0

##### STEPS TO REPRODUCE

Try modifying the "CUSTOM_VENV_PATHS" property using the awx cli.
i.e. `awx setting modify CUSTOM_VENV_PATHS "['/opt/custom/venv/']"`

##### EXPECTED RESULTS

[2021-05-31 09:11] netamego opened #10314 "extra vars defined in a schedule are ignored"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have read the Issue #9314 and although the extra variables in a Schedule cannot be added through the web it can be added via API. The problem is that this variables don't take effect when Job run.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker
* Ansible version:  2.9.17
* Operating System: CentOS 7.9.2009
* Web Browser: Chrome

[2021-05-31 09:56] netamego commented on #10314
Seems that pass parameters in json format solve the issue.

[2021-05-31 09:56] netamego commented on #10314
Seems that pass parameters in json format solve the issue.

[2021-05-31 09:56] #10314 closed, assigned to nobody

[2021-05-31 13:25] Zokormazo commented on #7066
Registry authentication is covered on https://github.com/ansible/tower-qa/pull/6224
For container groups we have https://github.com/ansible/awx/issues/10114
For hub push, pulling etc: https://github.com/ansible/tower-qa/issues/6342

So I'm closing this

[2021-05-31 13:25] #7066 closed, assigned to Zokormazo, rebeccahhh

[2021-06-01 00:11] macthev commented on #10311
Confirming also seeing the issue installed via Operator.
AWX version: 19.1.0
AWX install method: , Operator
Web Browser: chrome, Firefox,Chrome,Safari

looking at the browser debugger, I see no activity pressing the save where as in the other settings panels is various activities on save.
rgrds ...

[2021-06-01 06:07] lemmy04 commented on #10151
I've reconfigured my AWX to have much bigger resource limits but I still get this message:

`2021-06-01 06:05:35,058 WARNING  [d03db904726b4c5abc80773ea8897714] awx.main.scheduler No available capacity to run containerized <project_update 10127 (waiting)>.`

and the scm update is not happening.

[2021-06-01 06:21] lemmy04 commented on #10151
there is also a file not found error on awx-ee:

`ERROR 2021/06/01 06:05:17 Error updating status file /tmp/receptor/awx-5f9c75f6b6-ks7jz/K72xh22I/status: open /tmp/receptor/awx-5f9c75f6b6-ks7jz/K72xh22I/status.lock: no such file or directory.`

When I look inside the actual container I find that there is no file by that name.

instead there is /tmp/receptor/awx-5f9c75f6b6-ks7jz/Zg7PbqHR/status

[2021-06-01 11:56] shanemcd commented on #8740
I think we can close this now.

[2021-06-01 12:48] shanemcd commented on #9961
In terms of what it means to test this: we shouldn't see this error anymore.

This was fixed in the latest alpha release of Receptor, which is going out in AWX 19.2.0 sometime today or tomorrow.

[2021-06-01 13:00] shanemcd commented on #9917
Thanks for the discussion here folks. I think we learned a lot here. We're actively working on refining documentation and prioritizing UX-related issues as things around Execution Environments begin to stabilize.

AWX 19.2.0 will be out later today, along with a newer version of the awx-ee. This is largely a bugfix release. See the changelog for more details. The protocols _should_ be compatible w

[2021-06-01 13:00] #9917 closed, assigned to nobody

[2021-06-01 13:03] shanemcd commented on #9154
I think we probably need another reaper task here. In order to do this, we'll need to take the `unitid` we get back from receptor, store it on the job, and query for things that are not actually running, similar to what we do in https://github.com/ansible/awx/blob/862f40a643eccb8540d6e2d6c2adb577f5720542/awx/main/tasks.py#L476

[2021-06-01 13:13] shanemcd commented on #10137
So, I think our options are:

- Delete this command entirely and force folks to use project-based inventories
- Figure out how to spawn on-demand receptor jobs that run a remote inventory update and pass through the necessary information in order to function properly.

[2021-06-01 14:32] sarabrajsingh commented on #10302
could be related to #9952 - will investigate

[2021-06-01 14:46] AlexSCorey commented on #10286
I'll bet this is a problem throughout the project, with the breadcrumb.

[2021-06-01 15:02] Raghavsfeb03 commented on #10274
can you please explain the workflow schedules, how to configure..?

[2021-06-01 15:11] Raghavsfeb03 commented on #7521
I am facing the same issue with AWX 17.1.0, unable to schedule a job, the specified survey variables don't show in the template
to make an entry of the variables. But it throws error saying its missing the values !!!

[2021-06-01 15:40] jbradberry commented on #10210
Meyers' concern was the obvious one about not exposing potentially expensive calculated fields in the list views.

[2021-06-01 16:53] AlexSCorey commented on #7520
I just tested this and the behavior I see now is that the original tab logs out as expected and for other errors we are surfacing API errors via alter modal since https://github.com/ansible/awx/pull/10203

[2021-06-01 19:20] nixocio opened #10327 "Expose the output of the EE resolver in the job template detail"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Expose the output of the EE resolver in the job template detail. See API issue: https://github.com/ansible/awx/issues/10210

[2021-06-01 19:20] wenottingham commented on #10309
Do you have an example inventory file (redacted, if needed) that produces this?

[2021-06-01 19:39] akus062381 commented on #9952
@AlanCoding we attempted to reproduce this bug, but we aren't getting the new error- we are still getting the old error
Was this code change in ansible runner and are we using the new released code?

[code]

[2021-06-01 19:53] akus062381 commented on #7625
@AlanCoding - can you please explain how and when the collections are cached? When are they first downloaded, and under what circumstance(s) are they redownloaded? What exactly do we want to verify?

[2021-06-01 20:02] akus062381 commented on #9218
this issue is resolved

[2021-06-01 20:02] #9218 closed, assigned to keithjgrant

[2021-06-01 20:02] akus062381 commented on #10181
this issue is resolved

[2021-06-01 20:02] #10181 closed, assigned to AlexSCorey

[2021-06-01 20:15] sarabrajsingh commented on #9952
@akus062381 - the code change was inside ansible-runner. we bumped up the version of ansible runner to `2.0.0a4` to encompass the changes. install that version into your awx instance and try to reproduce

[2021-06-01 20:45] yagomarques commented on #8013
it's working, we use those playbooks point at an AWX machine.

deny scenario
[code]
![image](https://user-images.githubusercontent.com/18562328/120387177-f18e0e80-c2ff-11eb-8ee7-b99180c9df78.png)

after we launched another one passing an approved
[code]

![image](https://user-images.githubusercontent.com/18562328/120387233-01a5ee00-c300-11eb-9d3a-9d292d5ab77b.png)
to finish we exec a job that take

[2021-06-01 20:45] #8013 closed, assigned to yagomarques

[2021-06-01 20:55] shanemcd commented on #10287
Should we allow this through the API? Or just tell people to re-run `awx-manage register_default_execution_environments`?

[2021-06-01 20:59] jbradberry commented on #10287
A good question.

[2021-06-01 21:57] kdelee commented on #9952
@sarabrajsingh it would be preferable if you updated the requirements file for awx
https://github.com/ansible/awx/blob/896d8959342eccff5f103ee748d1fe246ff64ecc/requirements/requirements.in#L2

[2021-06-01 22:04] kdelee commented on #9952
@sarabrajsingh I did pip install from the git tag https://github.com/ansible/ansible-runner/releases/tag/2.0.0-alpha4 in the awx venv and I'm still getting the same error that @akus062381 was seeing, not the new error
[code]

I see https://github.com/ansible/ansible-runner/commit/50b4ea8f745b467e66dc298676f328c1f26816a5, but not seeming to hit it when we run the job. This is a VM install launching

[2021-06-02 06:48] vishnubraj opened #10330 "filter_plugins not working. in the custom EE image"
I build my AWX EE image because I needed to use a specific python package.  followed the steps in https://weiyentan.github.io/2021/creating-execution-environments/  . I copied my ansible-playbook folder to the container locally and ran the playbook and it worked fine. But when I use the container in AWX as Execution Environment and run the playbook, it says the
[code]
is it because the playbook no

[2021-06-02 07:09] jladdjr commented on #9548
Circling back to this. I followed up on the synchronization theory and wasn't able to fix things with locks. Will continue digging on this to see if another approach would work.

[2021-06-02 08:59] sdomi4 commented on #10309
With further testing, it seems unrelated to the inventory files.
- Copying the inventory files to an empty repo and syncing works
- Specifying inventory files/the folder with the inventory files in the inventory source works

I was able to isolate the issue to a .png file contained in the repo. To reproduce, set inventory source to project root or a directory containing a .png and an inventory fil

[2021-06-02 09:18] DeLoWaN commented on #10109
0.3.0 is released so there is no need to be on devel anymore.

[2021-06-02 09:57] siwei-luo commented on #10277
I switched to LDAP to workaround this issue. Guess this ticket can be closed because I cannot contribute any insights anymore.

[2021-06-02 09:57] #10277 closed, assigned to nobody

[2021-06-02 11:57] ksquires commented on #10236
this seems to be working now with AWX 19.2.0

[2021-06-02 11:58] ksquires commented on #10306
after upgraded to 19.2.0 and the 10.0.0 operator this appears to be working

[2021-06-02 11:58] #10306 closed, assigned to nobody

[2021-06-02 12:06] shanemcd commented on #10236
Thanks for the update!

[2021-06-02 12:06] #10236 closed, assigned to nobody

[2021-06-02 12:17] lucab85 commented on #3773
+1

[2021-06-02 12:56] chrismeyersfsu opened #10331 "job event endpoint optimization - Remove job event host join"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
`/api/v2/jobs/3/job_events/?order_by=counter&counter__gte=50000&limit=200` will invoke a pagination class that is efficient. No count will be performed. The first query below is best case. The second query is now the worst case. Postgres planner decides to deviate from the more efficient execution plan. A little bit of empirical testing shows that re

[2021-06-02 13:16] AlexSCorey opened #10332 "Job Settings Page Break"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Note the Job Settings section label is not directly above the Job Settings link
![Screen Shot 2021-06-02 at 9 13 57 AM](https://user-images.githubusercontent.com/39280967/120486358-f647d680-c382-11eb-9cd9-018b037389ae.png)

##### ENVIRONMENT
* AWX version: 19.1
* AWX install method: docker for mac
* Ansible version:
* Operating System: Mojave
* Web Bro

[2021-06-02 13:19] AlexSCorey commented on #10311
@mak241265 I am not able to reproduce this bug.  Can you give me a bit more details about which fields you are changing?  What about if you refresh the page, does the update data render? Any other info you can provide would be helpful.

[2021-06-02 13:20] ManuelPerrot commented on #9171
I have the same issue on 17.1.0
I haven't checked newer awx versions yet.

[2021-06-02 13:25] AlexSCorey commented on #10303
We recently upgraded a dependency that should have resolved this issue
![Screen Shot 2021-06-02 at 9 24 57 AM](https://user-images.githubusercontent.com/39280967/120488003-6c007200-c384-11eb-87ef-a33ff63daa0b.png)

[2021-06-02 13:26] AlexSCorey commented on #10274
@merickso are you using firefox?

[2021-06-02 13:26] #10246 closed, assigned to nobody

[2021-06-02 13:31] bechtle-simon-mueller commented on #20
+1

[2021-06-02 13:56] wenottingham opened #10333 "UI does not select galaxy credential on organization create"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

In older UI, when creating a new organization, the system default galaxy credentail would be preselected.

In the new UI, it is not.

##### ENVIRONMENT
* AWX version: devel-ish as of 2021-06-02
* AWX install method: N/A
*
##### STEPS TO REPRODUCE

create an org

[2021-06-02 14:08] mak241265 commented on #10311
Well for example when i try to change Per-Host Ansible Fact Cache Timeout..i click on edit and set then set the number...if i refreshe the page the field shows me the default value which is 0.....it is not about the field...all the field in Jobs setting seems does not get saved

[2021-06-02 14:40] #8249 closed, assigned to mabashian

[2021-06-02 15:14] mabashian commented on #7395
^^ wasn't able to reproduce this one

^^ wasn't able to reproduce this one

^^ This is exactly how it works in the PF docs (we are just using a wrapped version of the PF Pagination component).  So I don't think this is our issue (if it's even an issue).  See http://patternfly-react.surge.sh/components/pagination in both Chrome and FF.

^^ wasn't able to reproduce this one

Here's chrome:

<img wid

[2021-06-02 15:14] #7395 closed, assigned to nobody

[2021-06-02 15:20] symplialex commented on #6539
Hello @sfhl , did you get a work around for the KeyError: 'guid' on 19.0.0?
Am facing the same situation as you did.

thanks

[2021-06-02 15:25] ptrinesh commented on #10137
I am doing it by pushing the hosts one after the other using tower_host module from awx collection

[2021-06-02 15:38] mabashian commented on #6352
If we can't ascertain why hosts aren't being successfully disassociated in bulk then we can simply make the requests serially.  This would cause the action to slow down a bit for larger lists of hosts but I think we could make that work.

[2021-06-02 16:23] chrismeyersfsu opened #10337 "job event optimization - Do not null job event relationship when deleting"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There is a relationship from job_event -> host. This relationship is nulled when a host is deleted. The relationship is also updated when inventory is deleted. This can be an expensive operation. We should try and remove it. Related https://github.com/ansible/awx/issues/10331

### TODO Investigate
- [ ] From a technical perspective. Does this relatio

[2021-06-02 17:35] tiagodread opened #10338 "Checkbox within modals selecting duple items"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

1. On Roles tab clicking on checkboxes inside modals, the item is being selected twice. This is not heppening when you click on the row only on the checkbox.
2. On the Access tab of any resource, clicking on the checkbox, the user can not uncheck clicking on the checkbox only clicking on the row

##### ENVIRONMENT
* devel

##### ADDITIONAL INFORMATION

[2021-06-02 18:42] yagomarques commented on #10303
@kdelee @AlexSCorey

i gonna close this issue, I also did the test and it's working, thanks!
![image](https://user-images.githubusercontent.com/18562328/120534546-586efe80-c3b8-11eb-8d37-b871d687593c.png)

[2021-06-02 18:42] #10303 closed, assigned to nobody

[2021-06-02 19:10] tiagodread commented on #8272
This is being fixed by #9908

![image](https://user-images.githubusercontent.com/12464858/120538537-05e41100-c3bd-11eb-95c5-021b96e4803b.png)

[2021-06-02 19:11] akus062381 commented on #8824
@mabashian I am seeing this:
![image](https://user-images.githubusercontent.com/63685497/120538625-c0234a80-c3b4-11eb-93f8-5354eecea08c.png)

[2021-06-02 19:15] shanemcd commented on #10043
@AlanCoding @jladdjr Is this still blocked? Looks like the patch has been merged.

[2021-06-02 19:18] shanemcd commented on #9715
Going to take the liberty of closing this, turned out to be a UI/UX tweak.

[2021-06-02 19:18] #9715 closed, assigned to nobody

[2021-06-02 20:17] akus062381 commented on #10129
this is resolved

[2021-06-02 20:17] #10129 closed, assigned to mabashian

[2021-06-02 20:24] isuftin commented on #8639
@vigneshp826 Sorry for the late response.

The above code snippet was used within a playbook I wrote to install the overall AWX system.

Once we've downloaded and re-tagged the Docker image from Artifactory, AWX picks up the Docker image from the local registry as though it's already been pulled from Dockerhub and does not attempt to grab it again.

It's a hack ;)

Is that what you were asking?

[2021-06-02 20:25] akus062381 commented on #6734
this is resolved.

[2021-06-02 20:25] #6734 closed, assigned to nobody

[2021-06-02 20:26] akus062381 commented on #6853
@keithjgrant this looks great!

[2021-06-02 20:27] akus062381 commented on #6853
this is resolved.

[2021-06-02 20:27] #6853 closed, assigned to keithjgrant

[2021-06-02 20:30] akus062381 commented on #7509
this is resolved.

[2021-06-02 20:30] #7509 closed, assigned to keithjgrant

[2021-06-02 20:33] rebeccahhh commented on #9851
removing myself because I believe #10321 will address this

[2021-06-02 20:52] tiagodread commented on #8155
This is being added by #9908, now working with SAML or username/password

https://user-images.githubusercontent.com/12464858/120550518-5bbfb580-c3cb-11eb-9788-2577125953f8.mp4

[2021-06-02 20:53] tiagodread commented on #9311
This is being added by #9908, now working with SAML or username/password

https://user-images.githubusercontent.com/12464858/120550518-5bbfb580-c3cb-11eb-9788-2577125953f8.mp4

[2021-06-02 20:55] tiagodread commented on #9197
This is being fixed by #9908

[2021-06-02 21:44] #8272 closed, assigned to nobody

[2021-06-02 21:44] #9197 closed, assigned to nobody

[2021-06-02 21:45] #8155 closed, assigned to nobody

[2021-06-02 21:45] #9311 closed, assigned to tiagodread, marshmalien

[2021-06-03 00:31] maccormac commented on #10109
Looks like 0.3.0 includes dev version of ansible core 2.12.0.dev0?

[2021-06-03 04:27] sfhl commented on #6539
@symplialex as far as i remember, even if it seems wrong, i was able to fix it using `awx-manage create_preload_data` on the awx-web (container).
Gladly that does not seem to imapct the existing data.

[2021-06-03 06:14] mo-saeed opened #10340 "[Question] Why not use helm to install AWX in kubernetes instead of awx-operator"
This is just a question.

I am wondering why it was decided to create a separate application (awx-operator) to install AWX in kubernetes although we have official and easy way using helm for installing software on Kubernetes, are there any reasons why it was decided to go with this approach ?

Now to install AWX is more pain for us than before (with the installer directory in awx repo), now I need

[2021-06-03 12:43] chrismeyersfsu opened #10341 "job event cleanup - Drop unpartitioned table when empty."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
With the introduction of partitioned job event tables we keep the "old" unpartitioned job events via renaming the tables `main_jobevent` --> `_unpartitioned_main_jobevent`. Jobs that were ran before the partition migration are still accessible through this table. Cleanup jobs still take action on this table. Eventually, the old unpartitioned job even

[2021-06-03 13:16] Zokormazo commented on #10114
this continues failing. the embedded container group on the operator works, but Instance Group -> Container Group can't spawn jobs if using private ees with credentials, even with kubeadmin token. The secret is created and then https://github.com/ansible/awx/issues/10114#issuecomment-848557784

[2021-06-03 13:43] AlanCoding commented on #9851
Is there anything else that needs to be done here? Moving to needs_test.

[2021-06-03 14:02] matburt commented on #10340
This fits in better for us when targeting deployments via operatorhub.

[2021-06-03 14:02] #10340 closed, assigned to nobody

[2021-06-03 14:09] mabashian commented on #6352
@rebeccahhh and I have been trying to reproduce this one on latest devel without any luck.  @tiagodread I'm going to throw this over to y'all.  If you cant reproduce then I guess lets close this for now?

[2021-06-03 14:10] mo-saeed commented on #10340
I understand it fits better for you, but I believe it should also fit better for the end-users to have smoother installation of ansible-awx without pain by following the standards for deploying applications in kubernetes.

[2021-06-03 14:11] jakemcdermott commented on #10311
:wave: Hello. This is a duplicate of https://github.com/ansible/awx/issues/10123 and fixed by https://github.com/ansible/awx/pull/10171.

You should see that this is fixed when we release the next version of awx.

[2021-06-03 14:11] #10311 closed, assigned to nobody

[2021-06-03 14:12] mabashian commented on #7487
Since @marshmalien is working on https://github.com/ansible/awx/issues/9127 currently it's probably wise to hold off on this one so that we can either leverage her work or at least make sure this implementation matches up with the same UX pattern(s).

Going to mark as blocked for now.

[2021-06-03 14:14] jakemcdermott commented on #5278
I believe this is resolved by https://github.com/ansible/awx/pull/9908 and can be closed but moving this to `needs_test` in case QE would like to verify.

[2021-06-03 14:15] mabashian commented on #8401
I think we're going to have to roll this ourselves.  Removing the blocked label and putting this back in needs_devel.

[2021-06-03 14:16] jakemcdermott commented on #8647
@wenottingham ended up fixing this https://github.com/ansible/awx/pull/8763

closing

[2021-06-03 14:16] #8647 closed, assigned to nobody

[2021-06-03 14:22] jakemcdermott commented on #10123
This will be fixed in 19.2, which hasn't been released yet.

[2021-06-03 14:37] fourstepper commented on #10123
@jakemcdermott I think it has been? https://github.com/ansible/awx/releases

[2021-06-03 14:43] akus062381 commented on #5278
this is resolved.

[2021-06-03 14:43] #5278 closed, assigned to akus062381

[2021-06-03 14:55] akus062381 commented on #6352
this is resolved.

[2021-06-03 14:55] #6352 closed, assigned to rebeccahhh

[2021-06-03 15:10] jakemcdermott commented on #7565
The error handling system we have in place handles nearly all permission errors - if you don't have access to something, we'll typically receive a `404` from the api and show an error component.

`add` pages are an exception to the rule. Since `add` pages don't actually need any data from the api to load, it's possible for an underpermissioned user to still reach those forms by manipulating the ur

[2021-06-03 15:21] rooftopcellist commented on #10114
@Zokormazo
1. I agree, including the error in the job_explanation would be great, unfortunately, because of how the [TaskError class](https://github.com/ansible/awx/blob/devel/awx/main/exceptions.py#L22) works, the job_explanation gets overwritten to be `Error` no matter what I do (more info in this [comment](https://github.com/ansible/awx/pull/10204#issuecomment-848244192)).  I am still unclear o

[2021-06-03 15:42] akus062381 commented on #8824
resolved.

[2021-06-03 15:42] #8824 closed, assigned to mabashian

[2021-06-03 17:11] akus062381 commented on #10284
I am now unable to recreate this bug. closing issue

[2021-06-03 17:11] #10284 closed, assigned to AlexSCorey

[2021-06-03 17:28] shanemcd commented on #10340
@mo-saeed We don't have a big enough team to maintain tooling that we don't use ourselves. Anyone is free to create and maintain their own AWX helm chart if they want.

[2021-06-03 17:30] jakemcdermott commented on #10123
@fourstepper Oh, you're right. In that case, I'd expect this to be resolved on latest.

[2021-06-03 17:38] nixocio commented on #9232
Note that `not` operator is not implemented yet - https://github.com/ansible/awx/issues/2817#issuecomment-663692907

[2021-06-03 19:48] tiagodread opened #10350 "Request loop trying to add users to a team"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This may be introduced by https://github.com/ansible/awx/commit/fef24355abd445312b4c939ea257bad8906540ff

##### STEPS TO REPRODUCE

1- Create a team
2- Go to Access tab for this team and try to add a user

https://user-images.githubusercontent.com/12464858/120703102-4316d480-c48b-11eb-8448-7e135a22a84d.mp4

[2021-06-03 20:54] mabashian commented on #10350
I'm not sure how/why but I think this came in with this commit https://github.com/ansible/awx/commit/fef24355abd445312b4c939ea257bad8906540ff

[2021-06-03 21:37] #10338 closed, assigned to mabashian

[2021-06-04 01:00] AlanCoding commented on #7346
That wasn't the case before, and it's not really the intention. A recent patch landed in ansible-runner that should change this back to preserving symlinks.

[2021-06-04 01:43] AlanCoding commented on #10302
This is absolutely impacted by https://github.com/ansible/ansible-runner/pull/713

This test case should probably go on the testing agenda, but I do not think it is expected to fail anymore.

(after we bump versions, which should happen soon)

[2021-06-04 07:09] hiyokotaisa opened #10352 "RFE: Username/Password for Proxy Environment Vars need to be masked in UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, we need to specify extra environment variables for proxy configuration with username/password in plaintext as below:
[code]

All of System Administrators are able to see that configuration in `Settings > Jobs > Extra Environment Variables`, which does not fit some use-cases, so it would be great if we have an option that redacts username/

[2021-06-04 10:31] chapai518 opened #10353 "Limits don't work in workflow on 19.1.0"
ISSUE TYPE
Bug Report
SUMMARY
Limits don't work in workflow
Limits work when launching individual templates, but do not work when launched in workflow

ENVIRONMENT
AWX version: 19.1.0
Operator version: 0.9.0
Kubernetes version: Openshift 4.6.26
AWX install method: openshift

STEPS TO REPRODUCE
create a workflow -
add a template specifying one host from the inventory -
start the workflow
as a resul

[2021-06-04 11:22] Zokormazo commented on #9851
Tested with an operator including https://github.com/ansible/awx-operator/pull/356 , the command is working properly on awx side

[2021-06-04 11:22] #9851 closed, assigned to nobody

[2021-06-04 12:01] lemmy04 opened #10354 "Unable to upgrade to 19.2"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have tried to upgrade from 19.1 to 19.2

##### ENVIRONMENT
* AWX version: 19.2.0
* AWX install method: kubernetes (K3S) on debian buster
* Ansible version:  n/a
* Operating System: n/a
* Web Browser: n/a

##### STEPS TO REPRODUCE

Deploy the latest release of the awx operator

##### EXPECTED RESULTS

I expected to get an upgraded AWXS object

##### A

[2021-06-04 12:39] nixocio commented on #10353
Hello @chapai518 , this issue seems to be the same as https://github.com/ansible/awx/issues/9241 that was addressed on 19.2.0.

[2021-06-04 13:01] AlexSCorey opened #10355 "Wrong text in Missing Resource tooltip for Job Details/Jobs List"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.1
* AWX install method: docker for mac
* Operating System:Mojave
* Web Browser:Chrome

##### STEPS TO REPRODUCE

Create a job template the uses an execution environment.  Run job.  delete execution environment

##### EXPECTED RESULTS

See below.
The `Missing resource` text appears but with the correct tooltip

#####

[2021-06-04 13:36] jakemcdermott opened #10356 "Changing filters on dashboard chart reloads most of the page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Changing the filter on the dashboard chart should only cause the dashboard chart to reload, not the counts at the top of the page.

##### STEPS TO REPRODUCE
- navigate to dashboard page
- change the filters on the dashboard chart

##### EXPECTED RESULTS
- only the chart reloads

##### ACTUAL RESULTS
- the chart *and* the counts at the top of the page,

[2021-06-04 14:16] AlanCoding commented on #8740
Another one https://github.com/ansible/awx/pull/10359

[2021-06-04 14:32] jbradberry commented on #10287
related #10321 #9851

[2021-06-04 15:00] AlanCoding opened #10360 "Activity Stream for setting deletion does not tell what setting was deleted"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If you delete a setting, then a user cannot reasonably determine what happened from the activity stream because no form of the setting key or label is reported.

##### STEPS TO REPRODUCE

Go to the API, set a setting to a test value.

Then issue a DELETE request to that setting's category.

##### EXPECTED RESULTS

I can see what happened in activity st

[2021-06-04 15:05] AlexSCorey commented on #10192
This seems to be addressed by https://github.com/ansible/awx/pull/10171.  Putting it in needs test for confirmation

[2021-06-04 15:13] #10353 closed, assigned to nobody

[2021-06-04 15:16] mabashian commented on #10300
I feel like this might be a dupe.  There are several issues involving error handling and highlighting fields in forms.

[2021-06-04 15:22] mabashian commented on #10282
This is related to (and possibly a dupe of https://github.com/ansible/awx/issues/7834)

[2021-06-04 15:51] mabashian commented on #3831
Note:

Looks like these authentication settings weren't being displayed in any forms in the UI:

[code]

[2021-06-04 16:22] akus062381 commented on #10300
@mabashian - I searched through the issues and didn't see another one related to this... if you know what it might be, would you mind pointing me in the right direction?

[2021-06-04 16:26] kdelee commented on #9039
This is now merging and has been extensively tested. I think we are ready to close unless you have anything to add @jladdjr @chrismeyersfsu in which case you can re-open

[2021-06-04 16:27] kdelee commented on #9039
https://github.com/ansible/awx/pull/10023#pullrequestreview-676468175 has the mergit label, closing

[2021-06-04 16:27] #9039 closed, assigned to chrismeyersfsu, jladdjr, tiagodread, kdelee

[2021-06-04 16:28] kdelee commented on #7062
@rebeccahhh added to https://github.com/ansible/awx/pull/10090 a command to list associations where the venv is being used. As soon as that merges, I think we can close this issue

[2021-06-04 16:33] wenottingham commented on #10352
This is akin to extra_vars on a job template, in that from the controller's perspective, we have no idea what may or may not be a secret - it's just data without any structure.

We're unlikely to do this.

[2021-06-04 16:33] #10352 closed, assigned to nobody

[2021-06-04 16:40] tiagodread commented on #6073
Verified that:

single select lookup can be typed and find results properly
multiple select lookup keep working as is
all e2e tests are passing

[2021-06-04 16:40] #6073 closed, assigned to mabashian

[2021-06-04 17:05] shanemcd commented on #10354
We are going to need to see some kind of logs, or any other diagnostic information would be helpful.

[2021-06-04 17:07] akus062381 commented on #9905
this is resolved.

[2021-06-04 17:07] #9905 closed, assigned to jakemcdermott

[2021-06-04 17:14] lemmy04 commented on #10354
I'll try to reproduce it again and post the complete logs from the operator pod.

[2021-06-04 17:15] shanemcd commented on #10327
@nixocio Are you actively working on this one? If so, can you move to in_progress?

[2021-06-04 17:16] shanemcd commented on #10312
Hello, custom virtual environments have been removed in newer versions of AWX. Please use the version of the CLI that matches your version of AWX.

[2021-06-04 17:16] #10312 closed, assigned to nobody

[2021-06-04 17:16] shanemcd commented on #10308
This was resolved in a PR yesterday and will be out in a release early next week.

[2021-06-04 17:20] sivel commented on #10330
You haven't provided much information for us to properly understand what you are doing.  However, it appears as though all of your playbook files are in the `playbooks/` dir, and then you have a `filter_plugins/` directory at the same level.  Ansible will automatically look for a `filter_plugins/` directory that is adjacent to a playbook _file_.

So unless you set an explicit configuration to poin

[2021-06-04 17:24] keithjgrant commented on #10193
Confirmed this is resolved by #10215

[2021-06-04 17:24] #10193 closed, assigned to keithjgrant

[2021-06-04 17:28] shanemcd commented on #10274
We don't support past versions of AWX, so you will need to backport the patch if you don't want to upgrade.

[2021-06-04 17:28] #10274 closed, assigned to nobody

[2021-06-04 17:34] shanemcd commented on #10227
Can you get the logs from the awx-ee container inside of the main awx pod?

[2021-06-04 17:35] shanemcd commented on #10211
I believe this should be fixed now. Can you try on 19.2.0+ ?

[2021-06-04 17:46] shanemcd commented on #10114
We should make sure the example service account in the official docs gets updated.

[2021-06-04 17:47] shanemcd commented on #10114
@rooftopcellist Can you open a separate issue for improving the error handling / surfacing here?

[2021-06-04 17:56] nixocio commented on #5891
We currently use the `CredentialChip` in a few different screens, and if the credential is coming from the  `credentials` endpoint we will be able to get the credential type name from the `summary_fields`.

<img width="623" alt="image" src="https://user-images.githubusercontent.com/9053044/120842802-3356c900-c53b-11eb-8cbe-b05036de77c8.png">

However if the credential being passed to the `Credenti

[2021-06-04 18:01] nixocio commented on #10327
@shanemcd , not yet.

[2021-06-04 18:19] popicool commented on #10219
Still here:

`Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 1377, in run
    res = receptor_job.run()
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 2904, in run
    return self._run_internal(receptor_ctl)
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", li

[2021-06-04 19:06] wenottingham commented on #552
This is fixed in the new UI in AWX 17 or later.

[2021-06-04 19:06] #552 closed, assigned to nobody

[2021-06-04 19:06] #883 closed, assigned to nobody

[2021-06-04 19:07] wenottingham commented on #908
I believe this was changed in a later AWX release. Please try with AWX 19 or later and re-file if it's still an issue.

[2021-06-04 19:07] #908 closed, assigned to nobody

[2021-06-04 19:07] wenottingham commented on #1191
this was fixed in an AWX release in mid-2020 when we moved to the inventory plugin

[2021-06-04 19:07] #1191 closed, assigned to nobody

[2021-06-04 19:08] wenottingham commented on #1846
https://github.com/ansible/awx/pull/9999

[2021-06-04 19:08] #1846 closed, assigned to nobody

[2021-06-04 19:08] wenottingham commented on #7133
https://github.com/ansible/awx/pull/9999

[2021-06-04 19:08] #7133 closed, assigned to nobody

[2021-06-04 19:09] #2236 closed, assigned to nobody

[2021-06-04 19:31] AlanCoding commented on #9154
We're still seeing this, so I'll put the needs_devel label on.

[2021-06-04 19:33] AlanCoding commented on #7625
I don't think there is anything to be done. Everything needed is moved into the job private_data_dir before it goes to the container or container group. @shanemcd are you good to close this?

[2021-06-04 19:37] kdelee commented on #9085
It is hard to fully determine if this is fixed until the websocket problems are fixed.

[2021-06-04 19:46] duntonr commented on #9961
Thanks @shanemcd ! I will upgrade operator to 0.10 / awx to 19.2 this weekend and rerun plays and report back

[2021-06-04 19:54] kdelee commented on #10238
We discussed the potential for a reaper.
@tvo318 we should add a Known Issue for 4.0:

"Image pull secrets created by Tower will remain in Container Group namespaces after running jobs that use Execution Environments that use Container Registry credentials."

[2021-06-04 19:56] kdelee commented on #10012
@wenottingham says if the script is not compatible with the version of ansible in the EE, you must port it or use a different ansible version

[2021-06-04 19:56] #10012 closed, assigned to nobody

[2021-06-04 19:56] #8401 closed, assigned to AlexSCorey

[2021-06-04 19:56] tiagodread commented on #10356
Fixed with #10349

[2021-06-04 19:56] #10356 closed, assigned to AlexSCorey

[2021-06-04 20:31] nixocio opened #10363 "Default Execution Environment not being update on settings page after EE deletion"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Default Execution Environment not being update on settings page after EE deletion.

##### STEPS TO REPRODUCE

1. Create a new EE
2. Go to settings page - Set as Default Execution Environment
3. Delete the EE from the step 1.
4. Id of the EE remains on the settings page.

##### EXPECTED RESULTS

Settings to be updated as per the EE deletion.

##### ACTU

[2021-06-04 20:41] wenottingham commented on #5660
@kdelee @shebangbash @mabashian this seems to have been in an indeterminate state. Did this land, or should this be backlogged?

[2021-06-04 20:48] wenottingham commented on #7625
Talked to @shanemcd , this is good to close.

[2021-06-04 20:48] #7625 closed, assigned to nobody

[2021-06-04 20:49] wenottingham commented on #10309
This is due to the current behavior of the ansible inventory plugins - in this example, ini_file is reading some strings from the PNG and deciding 'yes, they're hosts'.

To fix this would require changes in ansible itself. You can file an issue at https://github.com/ansible/ansible requesting (as an example) better file type detection in the ini_file plugin.

[2021-06-04 20:49] #10309 closed, assigned to nobody

[2021-06-04 20:51] wenottingham commented on #8169
@mabashian is this practical to implement and land at this time?

[2021-06-04 20:51] #8246 closed, assigned to nobody

[2021-06-04 20:53] wenottingham commented on #8429
This has been fixed for a while. Closing.

[2021-06-04 20:53] #8429 closed, assigned to nobody

[2021-06-04 21:02] wenottingham commented on #7062
Merged! closing.

[2021-06-04 21:02] #7062 closed, assigned to rebeccahhh, kdelee

[2021-06-04 21:03] samdoran commented on #10309
You could add `.png` to the `INVENTORY_IGNORE_EXTS` as a workaround.

[2021-06-04 21:04] wenottingham commented on #8819
Working as expected == close.

[2021-06-04 21:04] #8819 closed, assigned to nobody

[2021-06-04 21:06] wenottingham commented on #8820
Closing, this should be tracked as separate items on specific pages where there are issues.

[2021-06-04 21:06] #8820 closed, assigned to nobody

[2021-06-04 21:08] wenottingham commented on #9013
We do now have very minimal feedback that the sync button was presed, you do still have to go to another page to see the status.

[2021-06-04 21:11] wenottingham commented on #8859
... this works fine now. Closing!

[2021-06-04 21:11] #8859 closed, assigned to nobody

[2021-06-04 21:13] wenottingham commented on #8825
This isn't an associate view, that's done via roles.

[2021-06-04 21:13] #8825 closed, assigned to nobody

[2021-06-04 21:33] #3167 closed, assigned to keithjgrant

[2021-06-04 21:34] mabashian commented on #7563
With the new list implementation I think we can close this one out

[2021-06-04 21:34] #7563 closed, assigned to nobody

[2021-06-04 21:38] mabashian commented on #8343
@tiagodread lets retest this one - I think this has probably been fixed since it was filed.

[2021-06-04 22:14] rooftopcellist opened #10364 "Allow job_explanation to be set for jobs that hit an exception"
##### ISSUE TYPE
 - Bug Report

#### SUMMARY

Inspired by conversation on this ticket: https://github.com/ansible/awx/issues/10114#issuecomment-853953369

Currently, if a job_explanation is set on a job, if that job hits an exception/error, the job_explanation gets cleared.  This is not the case for canceled jobs.

###### Use case

For container groups, when a job is run, if invalid k8s/openshift

[2021-06-04 22:15] rooftopcellist commented on #10114
@shanemcd here is the issue for better error handling - https://github.com/ansible/awx/issues/10364

[2021-06-04 22:15] tiagodread commented on #9560
I've verified this manually and we have an e2e test that covers it:

WF with EE:
![image](https://user-images.githubusercontent.com/12464858/120867602-a296e200-c568-11eb-94f9-8fd769743b41.png)

JT node without EE:
![image](https://user-images.githubusercontent.com/12464858/120867636-b5111b80-c568-11eb-8ba2-a232c86309f2.png)

Job template node Run:
[code]

[2021-06-04 22:15] #9560 closed, assigned to jbradberry

[2021-06-04 22:29] tiagodread commented on #10192
@AlexSCorey this is not fixed and is still happening across settings details/edit forms

https://user-images.githubusercontent.com/12464858/120868783-2a7deb80-c56b-11eb-85c2-c1c91466106c.mp4

[2021-06-04 22:41] tiagodread commented on #8343
This is now fixed with ace editor

[2021-06-04 22:41] #8343 closed, assigned to tiagodread

[2021-06-05 03:37] duntonr commented on #9961
unfortunately, the issue seems to persist with 19.2. after the first attempt.  Playbook reporting hung at basically the same spot as before.

I will try again and see if I can snag better logs out of the pods

[2021-06-05 05:18] #4542 closed, assigned to nobody

[2021-06-05 06:36] lucabrasi83 opened #10366 "AWX 19.2.0 - Job Output not in sync - /var/run/receptor/receptor.sock Deadlock ?"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Hi,

For some jobs, we're experiencing an out of sync AWX Job output such as below where the job is marked as failed with no summary:

![image](https://user-images.githubusercontent.com/21274414/120882095-2227be00-c608-11eb-913d-b434ad9c7a4f.png)

Issue looks similar to #9967 although I don't get any error in the logs of awx-web and awx-task container

[2021-06-05 14:43] shanemcd commented on #10366
Hello. A couple questions:

Is there any traceback either in the job output or in the awx-task container?

Did you specify any custom EEs when installing, or are you using the default?

[2021-06-05 14:44] shanemcd commented on #9961
Hi @duntonr - sorry to hear that…

can you please confirm that you are using awx-ee 0.3.0, or have built on top of it?

[2021-06-05 15:54] lucabrasi83 commented on #10366
@shanemcd Thanks for the reply. See updates below:

no traceback in either job output and awx-task.

Yes I did specify a custom EE. It's using the base awx-ee:0.3.0 image + ansible 2.11.1 installed + some network collections.

EDIT: After further investigation, I manage to get the output sync'ed with AWX UI by setting `no_log: yes` to my tasks which reduce the amount of logs in the ansible-runner

[2021-06-05 17:48] weiyentan commented on #10354
Just to file for posterity. I had a similar issue..to @lemmy04  it had one failed task in the operator and just kept looping with one failed item.
I decided to wipe out all the kubernetes resources apart from my admin password.  and it came right.
I also did try to delete the database but that was out of troubleshooting and that wasnt the problem.

[2021-06-05 17:52] weiyentan opened #10367 "Bring back ROOT GROUPS view"
##### ISSUE TYPE
 -Root Groups View in Inventory

##### SUMMARY
Can this be brought back? Root group view existed in 12 where we could  transverse the inventory where it was easily viewable. Now we can't foreseeable way to see the inventory hierarchy in AWX 19.2

[2021-06-05 21:18] shanemcd commented on #10366
Thank you for the information. I'm wondering if you could share some more details about your workload:

- Number of hosts in this job's inventory
- Number of events emitted (see `/api/v2/jobs/<failed-job-id>/job_events`, under `count`)
- Version / distro of Kubernetes

And if possible, sharing the logs from the worker pod may help us debug. If they contain sensitive information, you can send me an

[2021-06-06 15:51] SWADESNA opened #10368 "[RFE] Add custom messages examples for webhook type notification for tower_notification_template module documentation"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently we only have a basic example for slack notification type. It should be helpful if we can add more examples for formatting dictionaries or adding variables as a part of message.  We can also add example for both message/body configuration.

This needs to be documented in the collections documentation in Automation Hub.

[2021-06-06 16:17] nathanlin24 opened #10369 "How to install AWX 19.2 using the ansible awx image from quay.io"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY

Hi, is there a documentation on how to install AWX 19.2.0 using the Docker Compose method and the [ansible awx image from Quay.io](https://quay.io/repository/ansible/awx)? Thanks.

##### ENVIRONMENT
* AWX version: 19.2.0
* AWX install method: Docker Compose developer environment
* Operating System: RHEL8
* Web B

[2021-06-07 05:06] dkoper commented on #9371
FWIW, setting refspec on the project to "+refs/heads/*:refs/remotes/origin/*" (i.e. prefix the default value with a plus, which means override) resolved this error for me on AWX 14.1.0.

[2021-06-07 06:42] gruselglatz commented on #10227
I didn't find any logs on it. But I am honest, i gave up on 19.1.0 and gone back to 17. So I don't have this installation anymore, sry.

[2021-06-07 06:42] #10227 closed, assigned to nobody

[2021-06-07 09:00] jheinitz commented on #10369
Hello!

Good question. I tried it on my own, but I failed. I built my docker image locally using "make docker-compose-build" and run this image with docker-compose. Maybe the other people from the awx bubble have an idea.

Best regards

Jens

[2021-06-07 10:19] pnikies opened #10370 "add netaddr library to awx-ee"
Hello,

Could you add netaddr python library to awx-ee execution environment please ?

I'm facing this issue :
The next_nth_usable filter requires python's netaddr be installed on the ansible controller

Thanks in advance

[2021-06-07 10:28] lucab85 opened #10371 "Activity Stream does not correlate log job runs to corresponding job template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
awx logs should correlate the job template with its original job template, at least in **debug** level.

##### ADDITIONAL INFORMATION

At the moment a workaround to correlate the job template with its original job template is to enable notification (slack in this example) with **debug** log level.

In this example:
- `Job #446` is the current job run

[2021-06-07 12:03] msilmser commented on #1973
@unlikelyzero i have an awx spun up but im not seeing the specific customer asks. maybe I missed something (very likely)?

[2021-06-07 12:59] AlanCoding commented on #9297
That would be a rule change. #1123 seemed to be pretty intentional about removing the ability for users with the "Admin" role to a specific inventory to create inventory sources.

I believe I agree with you that a rule change is appropriate here - because the add permissions are inconsistent with the edit permissions. A user with "Admin" role to the specific inventory is able to edit inventory sou

[2021-06-07 14:15] AlanCoding commented on #9297
Sorry, I had the wrong info there, was confused looking at inventory vs. inventory source. This may be really simple, see https://github.com/ansible/awx/pull/10372

[2021-06-07 15:25] tuxonfire opened #10374 "Enable support for encrypted fields in Postgresql"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

  Functionality to support encrypted fields.

[2021-06-07 15:27] wenottingham commented on #1973
There's not significant changes here in the new UI yet.

[2021-06-07 15:48] razgrim commented on #10099
Replicated issue.
AWX version: 19.2.0
AWX install method: docker on linux
Ansible version: 2.9.21
Operating System: Centos Stream 8
Web Browser: Chrome Version 91.0.4472.77 (Official Build) (64-bit)

Same repro steps.
[code]
I found and uncommented "mount_program" in /etc/containers/storage.conf. Re-running job presented with a new error
[code]

[2021-06-07 17:57] akus062381 commented on #10355
https://github.com/ansible/tower-qa/pull/6423
issue resolved

[2021-06-07 17:57] #10355 closed, assigned to nixocio

[2021-06-07 18:50] wenottingham commented on #10369
The legacy docker-compose installation method has been removed. The current docker-compose method is only for development, and works with building the image locally (not using the awx image).

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

Mailing list: https://groups.google.com

[2021-06-07 18:50] #10369 closed, assigned to nobody

[2021-06-07 18:55] wenottingham commented on #10374
We already encrypt any sensitive fields (passwords, tokens, keys, etc) via non-Postgres methods at the application level, and have since the app's start. See https://docs.ansible.com/ansible-tower/latest/html/administration/secret_handling.html for technical details.

[2021-06-07 18:55] #10374 closed, assigned to nobody

[2021-06-07 18:58] mabashian commented on #9232
@nixocio I moved this to `in_progress` since I know you're actively working on this one and we've talked about it.

[2021-06-07 19:00] wenottingham commented on #10371
The title of this issue is "Activity Stream does not correlate log job runs to corresponding job template ".

That is incorrect on the surface - when the activity stream entry is created for a job, it *does* reference the job template directly in the summary fields.

If you're trying to do auditing of a job, use the activity stream + the job event logs, not the awx service logs.

[2021-06-07 19:00] #10371 closed, assigned to nobody

[2021-06-07 19:05] mabashian commented on #6613
Blocked until #10053 merges

[2021-06-07 20:49] jakemcdermott opened #10383 "Unexpected api config requests on logout"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
- logout using the top-nav dropdown

##### EXPECTED RESULTS
no requests are made to the config endpoint on logout

##### ACTUAL RESULTS
requests are made to config endpoint, 400 errors

[2021-06-07 23:05] #10132 closed, assigned to AlexSCorey

[2021-06-08 04:18] sarabrajsingh commented on #9952
A new fix has been pushed by @shanemcd in the ansible-runner repo to address the symlink issue - [ansible/ansible-runner#713. ](https://github.com/ansible/ansible-runner/pull/713).

[2021-06-08 08:19] kladiv opened #10386 "Inventory field is disabled in Workflow template page even if Workflow Admin role got"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory field disabled in Create Workflow UI even if user/team has Workflow Admin role of Organization

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.19
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

- Create an Organization
- Create an Inventory
- Create an User/Team
- Assign roles bel

[2021-06-08 09:19] Pernat1y opened #10387 "awx-manage list_instances ignores '--no-color' flag"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx-manage list_instances ignores '--no-color' flag

##### ENVIRONMENT
* AWX version: 3.8.3
* AWX install method: linux
* Ansible version: ansible [core 2.11.1]
* Operating System: Red Hat Enterprise Linux 8.4
* Web Browser: n/a

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
List of instances without color and additional bash control characte

[2021-06-08 11:01] lucabrasi83 commented on #10366
Please find details below:

35 (Cisco network devices )

 "count": 252

v1.17.7 on Centos 7.9

Job output container logs sent to your email.

Thanks

[2021-06-08 11:11] lemmy04 commented on #10354
so I wiped off everything again, and tried to deploy again, and again it did not create the actual awx pod.

Log of the operator pod is here: https://paste.opensuse.org/26322488

Notable fact: I'm trying to import the database from my working AWX 17.2, following the instructions here:
https://github.com/ansible/awx-operator/#migrating-data-from-an-old-awx-instance

[2021-06-08 11:38] hurdigurdi commented on #9961
Hi @shanemcd
I'm running AWX 19.2.0 installed via Operator 0.10.0 and AWX-EE 0.3.0. Unfortunately, I've also run into

`RuntimeError: Pod Running`

using a job with 10 slices a 10 forks.

Have not been able to get more logs from the pods yet, but its consistently happening when running against a big set of servers with multiple slices.

[2021-06-08 11:54] lemmy04 commented on #10354
did *another* trial run, this time without trying to import the database from 17.2, and that one worked.

Going to deploy 19.1 with import again, and then update.

[2021-06-08 12:09] lemmy04 commented on #10354
so deploying 19.1 with migrating old 17.1 data worked, *but* right away I'm running into #10151 that still hasn't been figured out... and then deploying the 0.10.0 operator results in the same stuck upgrade process again.

looks to me as if the upgrade is stuck in some kind of loop, log from the awx-operator is here:
https://paste.opensuse.org/80653322

[2021-06-08 12:28] vishnubraj commented on #10330
Thanks @sivel

initially i solved this by copying the filter_plugins content to "/usr/share/ansible/plugins/filter/"
That fixed the issue.

Now I moved the filter_plugins under the playbooks directory to fix it.

my directory structure is like below now.

[code]

[2021-06-08 12:28] #10330 closed, assigned to nobody

[2021-06-08 13:24] akus062381 commented on #1855
this error is behaving as it should in the new UI. closing this issue

[2021-06-08 13:24] #1855 closed, assigned to nobody

[2021-06-08 13:30] akus062381 commented on #10383
this issue is resolved.

[2021-06-08 13:30] #10383 closed, assigned to jakemcdermott

[2021-06-08 13:35] AlanCoding commented on #8740
What I said about `AWX_PRIVATE_DATA_DIR` is the only semi-valid point remaining.

But then again, some docs are super wrong too.

[2021-06-08 13:35] #8740 closed, assigned to nobody

[2021-06-08 14:08] akus062381 opened #10391 "Canceled job- icon visual continuity"
Feature Idea

##### SUMMARY
I noticed in the UI, that the little icon on the details and output pages showing a job failed is the exact same for if a job was canceled.
But, on the jobs list page, a canceled job shows as a yellow warning triangle.
I feel like some visual continuity is missing here.

My suggestion is to have the yellow triangle icon that appears next to a canceled job on the jobs li

[2021-06-08 14:32] duntonr commented on #9961
I'm still testing but I actually had success with a custom AWX-EE 0.**2**.0 image (NOT 0.3.0) with AWX 19.2 for a long run (4.5 hours / 28 hosts).

I'm trying different combinations of AWX-EE 0.2.0 and 0.3.0 with the two main offending playbooks to see if I can provide better info

[2021-06-08 14:40] tiagodread commented on #8596
This bug was fixed with #10339, there are still some places where the websocket is being closed:

- Host tabs: Moving from Groups tab to Jobs tab
- Project list after clicking on a project

may be fixed with https://github.com/ansible/awx/issues/10192

[2021-06-08 14:40] #8596 closed, assigned to mabashian

[2021-06-08 14:53] AlanCoding opened #10392 "Endpoint `/api/v2/ad_hoc_command_events/` errors"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Global endpoint 500s

##### STEPS TO REPRODUCE

Visit https://localhost:8043/api/v2/ad_hoc_command_events/

##### EXPECTED RESULTS

A response

##### ACTUAL RESULTS

a 500 error

##### ADDITIONAL INFORMATION

[code]

I didn't expect this to _be_ an endpoint, so I need to get someone to clarify intent.

[2021-06-08 15:12] AlanCoding commented on #7593
I suspect this may be a duplicate of https://github.com/ansible/awx/issues/9297

Could you test with https://github.com/ansible/awx/pull/10372 and see if that fixes it?

thanks!

[2021-06-08 15:42] kdelee commented on #7058
We have an official image for AWX, other downstream work is tracked downstream

[2021-06-08 15:42] #7058 closed, assigned to AlanCoding, beeankha, kdelee

[2021-06-08 16:00] mabashian opened #10393 "Websocket is already in CLOSING or CLOSED state"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
See https://github.com/ansible/awx/pull/10339#issuecomment-856804232

There are some residual places where this error is popping up in the console.  I'm not sure why #10339 didn't address them but it didn't so we're opening this up to track the remaining work.

[2021-06-08 18:17] #10045 closed, assigned to AlexSCorey

[2021-06-08 18:21] mabashian commented on #9795
Lets recheck this now that we've added logic to prevent attempting to reconnect after a clean closure

[2021-06-08 18:35] #6464 closed, assigned to AlexSCorey

[2021-06-08 19:21] chrismeyersfsu commented on #10392
Look like it's the parallel to `api/v2/job_events` which we have gotten rid of recently. We should get rid of this endpoint too. We _may_ have to deprecate it first then delete it. @wenottingham can we delete or do we need to deprecate first?

[2021-06-08 19:39] nixocio opened #10396 "Update instance groups to reflect distinct controlplane instance group"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Update instance groups to reflect distinct control plane instance group. Right now we do not allow the instance group named `tower` to be edited. Probably we will need to fetch those names from settings endpoint.

API work: https://github.com/ansible/awx/pull/10324

[2021-06-08 19:45] wenottingham commented on #10392
Just delete it.

[2021-06-08 20:00] AlanCoding commented on #9039
related, also merging now https://github.com/ansible/awx/pull/10373

[2021-06-08 20:06] mabashian commented on #9795
I've looked at this as well and I think I know what you were seeing.  When the app mounts, we open up a socket connection for the workflow approvals icon up in the top nav.  This socket does not get closed when you navigate around the app since the top nav is always shown.  At first I thought the same thing - we have a socket that never gets closed on the dashboard - but actually I think its just

[2021-06-08 20:12] bdoublet91 opened #10398 "Load ansible.cfg in each playbook dir"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hello,

I'm looking for a solution to load local ansible.cfg at root playbook_dir.
This is my architeture folder of playbooks:

ansible
├── deploy_manager
│   ├── ansible.cfg
│   ├── deploy_manager.yml
│   ├── environments
│   │   ├── demo
│   │   │   ├── group_vars
│   │   │   │   └── demo.yml
│   │   │   ├── inventory.yml
│   │   │   └── vars
│   │

[2021-06-08 20:14] akus062381 opened #10399 "Workflow template- details tab shows missing EE resource when not required"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When creating a workflow job template, the only field required is the name field. But when the workflow is launched, and the user views the details tab of that job, the EE shows as a missing resource for the WFJT. I then went back to my WFJT, and edited and assigned a specific EE. I then launched the WFJT again. In the job details page, the EE still sh

[2021-06-08 20:42] akus062381 commented on #6189
resolved.

[2021-06-08 20:42] akus062381 commented on #10160
resolved

[2021-06-08 20:42] #10160 closed, assigned to keithjgrant

[2021-06-08 20:52] tiagodread opened #10400 "Advanced search by groups not working in hosts list"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
While working on https://github.com/ansible/awx/issues/9232 I realized that the user can not use the OR operator with the key `Groups` the host_filter is not adding `or__`  I've found this in host lists, however, this may happen in other places with different keys.

##### STEPS TO REPRODUCE

1. Go to host list
2. Do an advanced search using the key `Gr

[2021-06-08 21:15] keithjgrant commented on #6189
Reopening. I've got a few more to finish converting before this is all the way completed

[2021-06-08 21:18] tiagodread commented on #9232
#10347 adressed part of this issue, I've filed #10400 to keep track on a different bug found while working on this.

[2021-06-08 21:18] #9232 closed, assigned to nixocio

[2021-06-09 06:38] anxstj commented on #7593
Hi @AlanCoding,

no, this does not fix the problem. Tested with AWX 15.0.1 and awxkit 19.2.0

This is not a UI bug, creating the inventory source via UI with the same user works. It's just the awx cli command which fails.

[2021-06-09 07:40] Yinaij commented on #1823
Also been caught by this one. Got a case where I have AWX running in a closed system. Can't have any outbound connections to fetch the hosts from. Thought it would be possible to keep both project and inventory locally, but it seems I was wrong.

Would appreciate an update on this issue.

[2021-06-09 11:12] marekvesely-direct opened #10401 "Inventory source from a project failing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If I create Source from a Project in Inventories it finished with status Error. It is connected to Project which is status successful.

##### ENVIRONMENT
* AWX version: 19.2.0
* AWX install method: kubernetes

##### STEPS TO REPRODUCE

1. Create Git project with inventory file envs/analytics/hosts:
[code]

2. Create inventory with some name.
3. Go to s

[2021-06-09 14:28] jakemcdermott opened #10404 "Role access modal save button sometimes unexpectedly visible on pages other than last"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When adding user or team roles, the `save` button isn't replaced by `next` after clicking back from the last page.

##### STEPS TO REPRODUCE
- navigate to the teams list
- open the details for a team and go to the access tab
- click `add` to open the role access modal
- on the "Add Roles" modal:
  - (wizard step 1) select "Users", click next
  - (wizar

[2021-06-09 15:10] nixocio commented on #10399
There is a new field `resolved_environment` that will display what execution environment will be used to run this job, even the execution environment was not explicit selected when creating the workflow, for example. This one seems to a replacement for this missing execution environment.

[code]

See: https://github.com/ansible/awx/issues/10327

I will attempt to solve both issues.

[2021-06-09 15:33] #10350 closed, assigned to AlexSCorey

[2021-06-09 17:20] mabashian commented on #10400
OK so this is pretty complicated and touches https://github.com/ansible/awx/issues/7834.  I think I'd like to propose a simplification of this interface under certain circumstances.  In the case of the host list there are a number of `related_search_fields` that are listed in the `Lookup Type` dropdown.  These fields can be searched on but only in two ways:

1) Directly `groups=1`
2) Via the searc

[2021-06-09 17:37] cigamit commented on #2058
Could just combine the 2 options.  Have it create "virtual folders" based upon the labels.

[2021-06-09 18:58] tiagodread commented on #6214
This is now implemented with #10291

[2021-06-09 18:58] #6214 closed, assigned to AlexSCorey

[2021-06-09 19:02] tiagodread commented on #10152
I Could successfully create/edit schedules with the new datepicker for chrome or firefox in management jobs or any other resource.

![image](https://user-images.githubusercontent.com/12464858/121413393-04c25f00-c93c-11eb-9700-ccecc065836b.png)

[2021-06-09 19:02] #10152 closed, assigned to AlexSCorey

[2021-06-09 19:30] AlexSCorey commented on #10192
I did some digging today into this issue and want to report what I have found so far.

It seems that this issue is related to newly implemented Ace code editor library we are using for our extra-var and variables fields.  In product it seems that, for some reason, the `worker-json.js` file, used by Ace Editor cannot be found.  After doing some digging I came across this [issue/comment](https://git

[2021-06-09 20:23] jbradberry commented on #10287
I think #10378 finishes this up.

[2021-06-09 20:38] akus062381 commented on #8890
this is fixed and verified! stubs already exist.

[2021-06-09 20:38] #8890 closed, assigned to nixocio

[2021-06-09 20:42] dustinmhorvath opened #10406 "extra_volumes for custom Execution Environment pods"
##### ISSUE TYPE
 - Feature Idea
 - Extend existing feature

##### SUMMARY
Currently, extra volumes can be mounted to the execution environment with something like:
[code]
and by creating the corresponding claim. This causes the volume to be mounted into awx-ee, the default EE pod, and be mapped to the corresponding path.

However, when providing a custom EE through the AWX interface, pods launche

[2021-06-09 20:58] nixocio opened #10407 "Smart Inventory Edit does not fetch new changes before redirect to Smart Inventory Details"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Smart Inventory Edit does not fetch new changes before redirect to Smart Inventory Details.

1. Create a smart inventory, named foo.
1. Modify a smart inventory name to bar.
2. It will be redirect to the smart inventory details page with name from step 1. Refresh the page to get the latest changes.

New data needs to be fetched before redirect.

[2021-06-09 20:59] trahman73 commented on #9127
Example...
![image](https://user-images.githubusercontent.com/13351591/121428531-ea8c7f00-c943-11eb-80bd-1085038385b2.png)

[2021-06-09 21:29] #3831 closed, assigned to mabashian

[2021-06-09 21:29] nixocio commented on #10287
The final decision was to not allow the user to delete managed by tower EE. Then there is no need to update the UI.
<img width="1468" alt="image" src="https://user-images.githubusercontent.com/9053044/121432090-3b9e7200-c948-11eb-9486-be3bf469de8a.png">

[2021-06-09 23:30] AlanCoding commented on #10398
That's right, so the top-level config of a project is used in job runs.

This is a known pain point. If you have any ideas for a natural way to configure a different config, I would like to hear them.

[2021-06-10 00:04] nathan-march commented on #9920
@wenottingham I think this ticket needs to be re-opened, following the docker-compose steps (https://github.com/ansible/awx/blob/devel/tools/docker-compose/README.md) results in the same error no matter if I use the latest 19.0.2 or the 19.0.0 release you mentioned above.

After doing a make docker-compose-build and make docker-compose, the resulting local container does not have the nginx user in

[2021-06-10 00:52] jladdjr commented on #10043
On a local dev instance:
* Updated awx_ee:0.2.0 to include the latest `openstack.cloud` (installed HEAD of associated git repo) and created new image (locally) based on this
* In awx, created new execution_environment pointed at this image
* Created openstack inv source configured to use the new EE
* Ran inv source update and verified it was successful

Requested new collection release from openst

[2021-06-10 05:59] marekvesely-direct commented on #10401
My mistake, I had broken simlink in one inventory file

[2021-06-10 05:59] #10401 closed, assigned to nobody

[2021-06-10 12:59] AlanCoding opened #10408 "PATCH to settings endpoint with default value shouldn't generate activity stream entry"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Settings operations generate a lot of useless noise when given their own default values.

##### STEPS TO REPRODUCE
PATCH to `/api/v2/settings/all/` with a payload like `{"SOME_SETTING": "value"}` where the value is the system default of that setting, starting from the state after all settings have been reset to defaults.

##### EXPECTED RESULTS
Nothing

[2021-06-10 13:09] bdoublet91 commented on #10398
To sum up, I have this architecture and I need to load specific ansible.cfg when I execute deploy_manager.yml or deploy_manager2.yml
ansible
├── deploy_manager
│   ├── ansible.cfg
│   ├── deploy_manager.yml
│   ├── environments
│   └── roles
│       ├── create_instance
│       │   └── tasks
│       │       └── main.yml
├── deploy_manager_2
│   ├── ansible.cfg
│   ├── deploy_manager_2.yml
│   ├── e

[2021-06-10 13:38] AlanCoding opened #10409 "Jobs should report image SHA256 and EEs should give latest value"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If someone runs a job with `quay.io/ansible/awx-ee:devel`, that doesn't give traceability. There are a great multitude of ways that could have ran with something other than what was expected (expectation isn't even _clear_). Even the tags like `:0.3.0` are not ironclad.

If a job gave `quay.io/ansible/awx-ee:devel`, `9c55e8c5d023`, then I could find

[2021-06-10 14:02] AlanCoding commented on #7593
#9297 is not a UI issue either, it was observed in the UI because the UI makes use of the OPTIONS data, and so does the AWX CLI.

But the problem could be something else, thanks for testing it.

[2021-06-10 14:28] tiagodread commented on #9795
Ok, I was watching the command `ss -an | grep :5432 | grep ESTAB | wc -l` while navigating across several pages in the dev server and the actual number compared to  the old comment decrease a lot

[code]

while navigation through pages this number kept the same, I wonder if https://github.com/ansible/awx/pull/10339 could had fixed this high number of ESTAB connections.

[2021-06-10 14:32] rahst12 commented on #94
Any movement on this? +1 for still wanted.

[2021-06-10 14:33] nixocio opened #10411 "Inventory source first sync error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
First inventory source first sync error

##### STEPS TO REPRODUCE
1. Create a new inventory source - Sources - Sourced from a project.
<img width="1456" alt="image" src="https://user-images.githubusercontent.com/9053044/121542913-85359e00-c9d6-11eb-81c8-fb33b50f225d.png">
2. It will be redirect to

<img width="1458" alt="image" src="https://user-images

[2021-06-10 14:34] tiagodread commented on #9795
@jakemcdermott @mabashian I could see a ton of this log in the terminal runing `npm start` and navigating across pages
[code]

[2021-06-10 14:36] tiagodread commented on #9795
Closing for now

[2021-06-10 14:36] #9795 closed, assigned to mabashian

[2021-06-10 14:42] akus062381 opened #10412 "Instance Groups- associate button- makes endless API requests unless modal is closed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a user visits the instance tab inside an instance group, and clicks associate, the modal continuously makes API requests, with no end, until the user closes the modal.

##### STEPS TO REPRODUCE

Click on Instance Groups on menu
Click on one of the instance groups in the list
Navigate to the instances tab
Click Associate

##### EXPECTED RESULTS

Mo

[2021-06-10 14:43] akus062381 commented on #10412
related to https://github.com/ansible/awx/issues/10350

[2021-06-10 15:03] AlanCoding commented on #10398
Yes, that's valid. Such a flag doesn't seem like a good fit for job templates to me. Why would you have a playbook in directory A and then use a config in directory B? Maybe this is common and I just don't get it.

Yeah, I get it. Implementation isn't difficult. This could be done by either setting the working directory or ANSIBLE_CONFIG, as you mention. We just don't want the behavior to be a sur

[2021-06-10 15:55] beeankha commented on #7574
AWX Collection sanity tests are passing! :tada:

[2021-06-10 15:55] #7574 closed, assigned to sarabrajsingh, beeankha

[2021-06-10 16:29] Raghavsfeb03 commented on #10274
it does not work in firefox, any other options..??

[2021-06-10 16:30] Raghavsfeb03 commented on #10274
we need a workaround without having to upgrade ??

[2021-06-10 16:35] akus062381 opened #10415 "jobs tab of instance group- running job status update lag- shows running when canceled"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When the user visits the jobs tab inside of an instance group, and initiates a job to be launched, the status icon shows the job still running- while on the jobs list, it has actually finished running. Therefore, if a user tries to cancel the job from the jobs tab of the instance group, they receive a 405 error.
Perhaps one way to handle this, is if th

[2021-06-10 17:21] HoffiMuc commented on #58
just having a look in the `Makefile` under target `docker-compose:` I'd say:

[code]

[2021-06-10 18:15] nixocio commented on #10399
I talked with @jbradberry about this issue, the issue is that job output for workflow job template does not have the execution environment field set to whatever EE was used to the execute the WFJT template itself.

<img width="1455" alt="image" src="https://user-images.githubusercontent.com/9053044/121576607-8971b380-c9f6-11eb-9fdc-9f8c6293a0d7.png">

[2021-06-10 18:22] mabashian commented on #10400
Note that the actual implementation ended up being slightly different than the above comment.  See #10416

[2021-06-10 18:58] bdoublet91 commented on #10398
Yeah I understand your point. Not really usefull for other case just to load a specific ansible.cfg in playbook path.

With working directory, you mean add a  `--playbok-dir` arg ? or this is when AWX execute the playbook ? Do you have a reason to execute the playbook at the top level ?

Add a location for ANSIBLE_CONFIG is less destructive because if there is no, ansible will just check /etc/ansi

[2021-06-10 19:13] #10404 closed, assigned to AlexSCorey

[2021-06-10 20:32] chris93111 commented on #1653
+1 for support with rest api

[2021-06-10 21:15] bdoublet91 commented on #10398
BTW, I have setup an ansibe.cfg at the root project, it gets loaded.
But now I have a problem about path for my plugins.
This is my archi folder:

ansible.cfg
callback_plugins
ansible
├── deploy_manager
│ ├── ansible.cfg
│ ├── deploy_manager.yml
│ ├── environments
│ └── roles
│ ├── create_instance
│ │ └── tasks
│ │ └── main.yml

and my ansible.cfg config:

[code]

I have the callback_plugins folde

[2021-06-11 04:34] itblaked opened #10418 "Add Task Visualizer feature to visualise the flow of tasks performed by a Job Template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

### WHAT
Business users love the simplicity of the Workflow visualizer; it's so easy to identify the flow path and the result as success or failure.

If we could visualize the task workflow in the same way we do job workflows I believe it would be of great interest to non technical users of the platform.

### WHY

I'm often asked if I can provide th

[2021-06-11 04:42] itblaked opened #10419 "Display currently running jobs in notifications pane"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When a user launches a job (workflow or template) they are shown in the jobs view.

We could make it easier for users to see _their_ running or completed jobs if we had them showing in the notifications (Bell icon with count) pop out pane. Having the count show unread notifications or running jobs by default would be good, but also letting the user c

[2021-06-11 08:41] swatinarvekar opened #10421 "[RFE] Modify Usage of 'Ansible Galaxy' Credential When 'create_preload_data=False'"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, if we pass extra variable `create_preload_data=False` _(./setup.sh -e create_preload_data=False)_ project syncs won't work until we explicitly create a Galaxy Credential per organization.

##### Customer Explanation:
- On a new instance of Tower 3.8.1 I can see that we don't have any Credentials created by default. As soon as I changed tha

[2021-06-11 09:34] mikeycmccarthy commented on #10421
I raised this as a bug report so I can provide some detail here. We use Automation Platform so apologies the version numbers don't match up with awx.

Up until now all of our 3.8 instances are upgrades from 3.7. We've always chosen to have create_preload_data as False as we always saw that (rightly or wrongly) about being simply about the demo org, the demo template etc, and we didn't need those.

[2021-06-11 13:51] akus062381 commented on #8840
this is fixed. thanks!

[2021-06-11 13:51] #8840 closed, assigned to AlexSCorey

[2021-06-11 14:37] nixocio commented on #10367
hello @weiyentan, the root groups is a filter now.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/9053044/121703535-f17cd400-caa0-11eb-8a46-7603ee879403.png">

[2021-06-11 14:37] #10367 closed, assigned to nobody

[2021-06-11 14:57] AlexSCorey commented on #10274
@Raghavsfeb03 it does work with Chrome.  If you are able to use Chrome that would resolve it.

[2021-06-11 15:11] wenottingham commented on #10421
Yes, we need to get the documentation fixed up here.

[2021-06-11 15:11] mabashian commented on #7254
See #10260

[2021-06-11 15:11] #7254 closed, assigned to mabashian

[2021-06-11 15:12] mabashian commented on #7145
See https://github.com/ansible/awx/pull/10291.  We've fundamentally changed these fields and this should be addressed in the next release.

[2021-06-11 15:12] #7145 closed, assigned to nobody

[2021-06-11 15:26] mabashian commented on #6097
@tiagodread I think `Enabled Options` should be hidden if there are no enabled options.  I'll fix this while I'm in here.

[2021-06-11 15:43] nixocio opened #10427 "Hide user type field for users different than system admin"
##### ISSUE TYPE
Disable User Type field for non system admin.

##### SUMMARY
If the the user is not system admin, we should hide the user type field.

Logged in as normal user.

<img width="1432" alt="image" src="https://user-images.githubusercontent.com/9053044/121712795-1cb7f100-caaa-11eb-8613-bef706f038eb.png">

<img width="1449" alt="image" src="https://user-images.githubusercontent.com/90530

[2021-06-11 16:16] Raghavsfeb03 commented on #10274
Issue still exists in Chrome too.

[2021-06-11 16:18] Raghavsfeb03 commented on #10274
this is a Bug in AWX version: 17.1.0 , is there an option to override this Bug and still enable the Schedules..??

[2021-06-11 16:56] akus062381 commented on #7595
this has been handled by breaking smaller issues out into their own issue files.

[2021-06-11 16:56] #7595 closed, assigned to nixocio, marshmalien

[2021-06-11 17:13] wenottingham commented on #10370
We would not add the bare netaddr library without anything else. We may consider adding ansible.netcommon, which would then pull in netaddr as a dependency.

Can you file this at https://github.com/ansible/awx-ee/issues so it can be tracked there?

[2021-06-11 17:13] #10370 closed, assigned to nobody

[2021-06-11 17:16] nixocio commented on #10158
This issue is no longer accurate - since the user will not be able to delete all EEs from the system.

See: https://github.com/ansible/awx/pull/10378

[2021-06-11 17:16] #10158 closed, assigned to nobody

[2021-06-11 17:22] wenottingham commented on #10398
plugin directories (and other configuration paths) are always relative to the playbook itself, not to the ansible.cfg location. Imagine the configuration being set in /etc/ansible/ansible.cfg - relative to that wouldn't make sense.

[2021-06-11 17:51] nixocio commented on #2162
Closing this one - since this is not longer accurate on the new UI.

[2021-06-11 17:53] AlanCoding opened #10431 "Validate Execution Environment `image` field"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX should validate the image name (could have a tag) given for an Execution Environment.

##### STEPS TO REPRODUCE

Create an Execution Environment, and give it 🔥 for the image

![Screenshot from 2021-06-11 13-50-57](https://user-images.githubusercontent.com/1385596/121729115-1894cf00-cabc-11eb-876b-6c7d1091623a.png)

Launch the Demo Job Template

###

[2021-06-11 18:00] fosterseth commented on #10431
images can also be pulled by digest

`quay.io/fosterseth/awx-ee@sha256:cbb1256806ea16762ea157bfe52578070b900b607780eca196f57838dd2d7eff`

something to keep in mind

[2021-06-11 18:02] mabashian opened #10432 "Expose read-only custom credential types to normal users in the UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I _think_ `/api/v2/credential_types` is available to all users to GET.  This means that we could expose the list/details for custom credential types to all authenticated users.  Some users won't be able to add custom credential types so we'll have to make sure we're hiding that button for those users.  Same with the edit button(s).

AFAIK this did no

[2021-06-11 18:08] wenottingham commented on #10386
Still happens in 19.2.

A user with admin on the only inventory in the org cannot select that inventory for the workflow.
A user with 'inventory admin' on the org can.

[2021-06-11 18:09] wenottingham commented on #10407
Is this only for smart inventories or for lists in general?

[2021-06-11 18:11] nixocio commented on #10407
smart inventory only

[2021-06-11 18:12] #2162 closed, assigned to nobody

[2021-06-11 18:13] tiagodread commented on #10400
With #10416 now is possible use OR filters and create smart inventories

[2021-06-11 18:13] #10400 closed, assigned to mabashian

[2021-06-11 18:19] mabashian opened #10433 "Expose read-only applications to normal users in the UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I _think_ `/api/v2/applications` is available to all users to GET.  This means that we could expose the list/details for applications to all authenticated users.  Some users won't be able to add applications so we'll have to make sure we're hiding that button for those users.  Same with the edit button(s).

AFAIK this did not exist in the old UI.

[2021-06-11 18:20] wenottingham commented on #10415
1. How did you navigate back to the jobs list? Via clicking through to the object (fresh requests), or by using the back button (saved browser state)?
2. Is this list hooked up to websockets to even know when the job ends?

[2021-06-11 18:24] akus062381 commented on #10396
resolved

[2021-06-11 18:30] AlanCoding commented on #10431
For a first pass, I'd probably give up on the "128 characters" restriction too.

[2021-06-11 19:30] dsmaugy commented on #9168
Hi @hjkatz , were you able to fix your problem? I'm running into a similar issue where a custom body for webhook notifications returns an empty body. This applies to all jobs though, not just project updates.

[2021-06-11 19:44] dsmaugy opened #10435 "Unable to view notification template in UI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I am trying to create a webhook notification template. When I first created the notification template, I was greeted with a blank screen and these javascript errors:

[code]
If I go back to my AWX homepage and go to the notifications screen however, I see that the template has still been created. I can edit the template fine, but if I try and click th

[2021-06-11 19:58] AlanCoding commented on #10399
@nixocio I've only just now taken stock of this issue.

Showing the "Missing resource" warning when a workflow job does not have an EE sets an expectation that all jobs / inventory updates that run inside of a workflow share the same EE. This is not the case. If a JT has an EE set, then the workflow will not override that. Precedence is that the workflow's EE comes after the template's EE (either

[2021-06-11 20:12] akus062381 commented on #10411
resolved

[2021-06-11 20:12] #10411 closed, assigned to mabashian

[2021-06-11 20:34] bdoublet91 commented on #10398
Yeah I understand your point of view for /etc/ansible/ansibe.cfg which is the default PATH. Now when I config a specific ansible.cfg file, I expect that all relative path configure in it which start from ansible.cfg path.
For example, when I have a bash script and I source an env file with relative path like source ./.env, I expect to have an .env file next to my script bash. That's why I though a

[2021-06-11 20:38] nixocio commented on #10399
@AlanCoding, thanks for your comment.  `Missing resource` it was supposed to be shown once  a previous existent/used EE was deleted - mainly for jobs already executed. It seems like the best option is to remove the EE field from Work Flow Jobs.

[2021-06-11 23:39] tuxonfire opened #10437 "Run an Ansible Tower workflow serially"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Specify a workflow to execute an inventory serially without having to manually input the limit.

[2021-06-11 23:45] wenottingham commented on #10437
This is not something we'd do in this way - to do this in the existing ansible framework would be to spawn 100 workflows for a 100-node job, and the ansible-playbook execution engine can't be extracted enough to run it this way.

[2021-06-11 23:45] #10437 closed, assigned to nobody

[2021-06-11 23:57] weiyentan opened #10438 "19.2 job run does not update roles/requirement.yml"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Roles in roles/requirements.yml are not downloaded.

##### ENVIRONMENT
* AWX version: 19.2
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.10
* Operating System: n.a
* Web Browser: n.a

##### STEPS TO REPRODUCE

Have a requirements.yml file in the roles directory of the project and playboo

[2021-06-12 01:01] weiyentan commented on #10438
Upon further investigating This is part   of something  I missed.

https://github.com/ansible/awx/issues/4540#issuecomment-754820898

[2021-06-12 01:01] #10438 closed, assigned to nobody

[2021-06-12 10:49] fvahid opened #10439 "ipaddr filter requires python"
I'm using ansible awx 19.1.0
could you please help me how to resolve this problem?
{
  "msg": "The conditional check 'kube_service_addresses | ipaddr('net')' failed. The error was: The ipaddr filter requires python's netaddr be installed on the ansible controller",
  "_ansible_no_log": false
}

[2021-06-12 16:55] Nitesh639 commented on #10095
I want to work on this issue.

[2021-06-13 21:25] alexhaydock commented on #9018
I get the same. I know 17.0.1 is unsupported now but, since there's probably others still deploying it as it's the last version before the Kubernetes Operator becomes mandatory, I thought I might as well confirm that the same "fix" from above (deploying from a `git clone` of the repo instead of from the `zip` or `tgz` worked to solve the issue for me.

[2021-06-14 12:22] AlexSCorey commented on #10192
This could be related also https://github.com/ansible/awx/issues/10435

[2021-06-14 12:41] williamhanseneric commented on #4292
+1

[2021-06-14 13:44] mabashian commented on #9534
@keithjgrant checking in - is this one currently in progress?

[2021-06-14 13:46] mabashian commented on #10333
This is addressed by #10395 - closing

[2021-06-14 13:46] #10333 closed, assigned to mabashian

[2021-06-14 13:48] #10412 closed, assigned to AlexSCorey

[2021-06-14 13:50] mabashian commented on #10435
This _could_ be a dupe of https://github.com/ansible/awx/issues/10192 but lets take a look and see.

[2021-06-14 13:51] mabashian commented on #9871
Fixed by https://github.com/ansible/awx/pull/10291

[2021-06-14 13:51] #9871 closed, assigned to AlexSCorey

[2021-06-14 14:44] #10229 closed, assigned to nixocio

[2021-06-14 14:54] AlanCoding opened #10440 "Ad hoc command details does not show the module name"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Launch an ad hoc command that runs the ping module. View the details in the UI.

![Screenshot from 2021-06-14 10-48-57](https://user-images.githubusercontent.com/1385596/121912115-4a957380-ccfe-11eb-95af-fb56623e1a7a.png)

At first, I was confused, because I thought I ran the "ping" module, not the "command" or "shell" modules. Then I see that the UI

[2021-06-14 16:12] mabashian commented on #10283
@akus062381 in your gif you haven't selected a key to search on.  You'll have to select that before the value before the input becomes enabled.

[2021-06-14 16:16] keithjgrant commented on #9534
@mabashian Just wrapping up the final Tables PR and I'll be picking this one up after

[2021-06-14 16:24] akus062381 commented on #10283
@mabashian thank you!

[2021-06-14 16:24] #10283 closed, assigned to nobody

[2021-06-14 16:50] nixocio commented on #10433
This one should be addressed once https://github.com/ansible/awx/issues/4426 is resolved.

[2021-06-14 16:50] nixocio commented on #10432
This one should be addressed once #4426 is resolved.

[2021-06-14 16:52] akus062381 commented on #6057
resolved

[2021-06-14 16:52] #6057 closed, assigned to mabashian

[2021-06-14 17:16] akus062381 commented on #9778
resolved

[2021-06-14 17:16] #9778 closed, assigned to AlexSCorey

[2021-06-14 17:36] akus062381 commented on #6097
resolved

[2021-06-14 17:36] #6097 closed, assigned to mabashian

[2021-06-14 17:38] wenottingham commented on #10439
-> #10370

[2021-06-14 17:38] #10439 closed, assigned to nobody

[2021-06-14 17:52] akus062381 commented on #10427
resolved

[2021-06-14 17:52] #10427 closed, assigned to AlexSCorey

[2021-06-14 18:06] AlanCoding opened #10442 "Add some kind of flag to indicate the global default EEs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See the UI for Execution Environments, it's a list

![Screenshot from 2021-06-14 13-59-58](https://user-images.githubusercontent.com/1385596/121937634-e16f2980-cd18-11eb-9a4e-58edb82f9248.png)

We should have a concrete visual indicator (other than the name) for the EE which will be used for project updates, and the EE that will be the default for jo

[2021-06-14 18:22] wenottingham commented on #10442
@AlanCoding @mabashian what is editiable for the control plane EE? Should it be shown in the list at all?

[2021-06-14 18:27] yagomarques commented on #10363
It's working, tested manually   :heavy_check_mark:

Before delete:
![image](https://user-images.githubusercontent.com/18562328/121940551-9e1ab800-cd24-11eb-9a95-f23b8e303f62.png)

After delete:
![image](https://user-images.githubusercontent.com/18562328/121940810-e20dbd00-cd24-11eb-8c03-d6917b3be59e.png)

[2021-06-14 18:27] #10363 closed, assigned to jbradberry

[2021-06-14 18:29] akus062381 commented on #385
implemented

[2021-06-14 18:29] #385 closed, assigned to nixocio

[2021-06-14 19:29] AlanCoding commented on #10442
Project updates show a link to their EE, which would be the control plane EE. I would be careful about "hiding" it, because people can still click through to see it.

Could the UI make the control plane EE non-editable? That, plus a badge, would make this the most clear, IMO.

[2021-06-14 20:15] yagomarques commented on #10302
### It's working, we tested manually;

- [project](https://github.com/ansible/test-playbooks/tree/symlink-test)
- [broken symlink: ](https://github.com/ansible/test-playbooks/blob/symlink-test/symlink)

### project on awx:
![image](https://user-images.githubusercontent.com/18562328/121952555-cb6e6280-cd32-11eb-85a4-441396f9a2c2.png)

### Job:
![image](https://user-images.githubusercontent.com/1856

[2021-06-14 20:22] nixocio commented on #10442
@wenottingham @AlanCoding changes related to the controlplane on the UI side were addressed here - https://github.com/ansible/awx/issues/10396.

API RBAC for those EEs.

<img width="977" alt="image" src="https://user-images.githubusercontent.com/9053044/121953569-b93cf600-cd2b-11eb-922b-553d0cba4103.png">

 Right now we do not allow one to delete the EE that has summary fields delete set as false

[2021-06-14 20:24] #10302 closed, assigned to Zokormazo, sarabrajsingh

[2021-06-14 20:27] yagomarques commented on #9952
**it's working**, we tested on this [issue](https://github.com/ansible/awx/issues/10302/)

check this [comment](https://github.com/ansible/awx/issues/10302/#issuecomment-860963394) for more details.

[2021-06-14 20:27] #9952 closed, assigned to Zokormazo, sarabrajsingh

[2021-06-14 21:14] AlexSCorey opened #10444 "Duplicate and Triplicate Smart Inventory Requests"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Navigating between Inventory List --> Smart Inventory Add, Smart Inventory Detail --> Smart Inventory Edit, there are duplicate and triplicate api requests

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: docker for mac
* Ansible version:  awx
* Operating System:Mojave
* Web Browser:Chrome

##### STEPS TO REPRODUCE
Create a Smart Inventor

[2021-06-15 00:24] AlanCoding commented on #10442
Yes, those are solutions to some of those problems.

The point of this issue is more - how do I know that "AWX EE 0.3.0" is the functional one that jobs default to using, as opposed to "AWX EE 0.4.0"

[2021-06-15 06:45] SebastianLeitz commented on #8310
It seems as though the described way does not work anymore in AWX 17. This is my notification (just a dummy test):

But the API responds with:

I can still see the field in the [source](https://github.com/ansible/awx/blob/devel/awx/main/models/notifications.py#L287). No idea what's going on.

[2021-06-15 07:39] SWADESNA opened #10447 ""tower_notification_template" module fails when type is webhook and the custom messages is used with "message" and is successful if used with "body""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

- When we specify the custom message like below in the tower_notification_template, it seems to work perfectly and when notification is associated with any Job Template run, the desired notification format is sent as well in the destination webhook.

[code]
- But when the same is configured using "message" instead of "body", the playbook seems to fail

[2021-06-15 07:39] craph opened #10448 "awx-cli Unable to migrate from AWX 17.0.1 (docker) to AWX 19.2.0 (K8S)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.2.0
* AWX install method: k8s
* Ansible version:  X.Y.Z
* Operating System: RHEL 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

I'm trying to migrate my AWX 17.1.0 (docker) to the latest version AWX 19.2.0 hosted in k8s and installed with AWX operator.
The basic installation works great but I'm unable to migrate

[2021-06-15 10:08] milodanlso opened #10450 "The Inventory File field in Inventories / Source is read only"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
It is impossible to enter a file within the imput

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser: Chrome, Edge

##### STEPS TO REPRODUCE

Go to
![image](https://user-images.githubusercontent.com/52068250/122034383-c2809e00-cdd1-11eb-9ab5-1219d61abae1.png)

#####

[2021-06-15 11:44] AlexSCorey commented on #10450
@milodanlso Thanks for reaching out.  If you upgrade to 19.1.0 you can type any file name inside this field and that change was brought in by this [PR](https://github.com/ansible/awx/pull/9120)

[2021-06-15 12:13] craph commented on #9337
@azrdev , @ckozler , Hi,
I have just open this : https://github.com/ansible/awx/issues/10448

And I'm unable to have awx cli working correctly to export / import data from AWX 17.x (docker) to AWX 19.x (k8s)

[2021-06-15 12:48] stefanpinter commented on #10448
many had troubles with this migration too:
https://github.com/ansible/awx/issues/9540

this AWX installation (or migration) stuff is getting really complicated...
now i need kubernetes, docker, awx-operator (installation is in an endless loop here right now), serveral ways to install, several ways to migrate (none work or they are overcomplicated), is this really necessary?!
what is a local and wh

[2021-06-15 13:11] wat-usmdon opened #10451 "Wrong error may be displayed when a vault credential has no password"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If your job template contains multiple credentials, and one of them is a vault credential which has no associated password, you will get an error "Job cannot start because Credential [credential] does not provide one or more required fields (vault_password). Task failed pre-start check."

That sounds right, except that the error can name the wrong cred

[2021-06-15 13:12] nixocio commented on #8635
Closing this one as a duplicate - See: https://github.com/ansible/awx/issues/10407

[2021-06-15 13:12] #8635 closed, assigned to nobody

[2021-06-15 13:19] craph commented on #9540
Hello @diegor1421 ,

why in your yaml example file, you have spec begining by : **tower_** ? In awx-operator for Ingress type the option is not begining by **tower_**. You can have a look here : https://github.com/ansible/awx-operator#ingress-type

Moreover, I'm trying to do the same as you did but I don't understand the step 4, 5 and 6.

Please could you provide more details ?

and what is the to

[2021-06-15 13:19] milodanlso commented on #10450
I'm not really ready to switch to a version without docker. Is it not possible to have a patch (I guess I'm dreaming)?

[2021-06-15 13:54] dsmaugy opened #10452 "Using job_metadata attribute in custom webhook notification body results in blank body"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I have a webhook notification with a custom body for successful/failed runs:
[code]

This works fine. If I add `\"metadata\": \"{{ job_metadata }}\"` to the body however, notifications end up being blank.

[code]

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: kubernetes
* Ansible version:  X.Y.Z
* Operating System: macOS
* Web Browser:

[2021-06-15 14:00] rooftopcellist commented on #6861
It looks as though this is fixed re: [this comment](https://github.com/ansible/awx/issues/6861#issuecomment-634904436).  This should have been covered in the last batch of translated strings.  Please re-open if you are still seeing the issue.

[2021-06-15 14:00] #6861 closed, assigned to nixocio, dsesami

[2021-06-15 14:14] nixocio commented on #7150
Fixed by https://github.com/ansible/awx/pull/10413

[2021-06-15 14:14] #7150 closed, assigned to nobody

[2021-06-15 14:15] AlexSCorey opened #10453 "Ad Hoc Command should re-render wizard after closing error alert"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When you execute an ad hoc command that creates some sort of api error and the wizard is closed, and an api error is show in an alert modal.  It would be nice if the wizard re-opened automatically with the fields completed with the data that was submitted.

[2021-06-15 14:21] craph commented on #9540
@diegor1421 when I try to do the same as you in my k8s cluster I only see the postgres pod starting but not the awx app .... I can't see the pod.

What am I missing ?
[code]

[2021-06-15 14:39] tiagodread commented on #4426
This is now fixed

[2021-06-15 14:39] #4426 closed, assigned to nixocio

[2021-06-15 14:53] tiagodread commented on #10407
Fixed

[2021-06-15 14:53] #10407 closed, assigned to AlexSCorey

[2021-06-15 14:56] nixocio commented on #7160
This issue is now fixed.

[2021-06-15 14:56] #7160 closed, assigned to nobody

[2021-06-15 16:53] fosterseth opened #10454 "Add testing around the execution environment collections module"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Need some basic testing around creating EE using modules

[2021-06-15 17:40] wenottingham commented on #10451
Can you show the specific error?

[2021-06-15 17:44] wat-usmdon commented on #10451
I don't think I have screenshots but this is what I was getting.

Sensu is of a custom cloud credential type and should not have a vault_password field.

[2021-06-15 17:53] wenottingham commented on #10451
Thanks, needed to track down where the error was coming from.

[2021-06-15 20:07] tvo318 commented on #9846
Yes, see: PR #[1508](url): https://github.com/ansible/product-docs/pull/1508
https://github.com/ansible/product-docs/blob/62bed9be5ce41585584d8dad1853ce34c5525dc3/common/source/virtualenv.rst

[2021-06-15 20:19] kdelee commented on #10287
Now sysadmins can restore the control plane EE which is the only managed_by_tower=True EE via an awx-manage command. Going to close this as we have some other issues tracking other aspects of this

[2021-06-15 20:19] #10287 closed, assigned to jbradberry

[2021-06-15 20:34] iancote commented on #3836
Just wanted to report that I'm also hitting this issue - I had a static account prior to enabling SSO and now am getting the 502 error.  Users who didn't have static accounts prior are not failing, although one reported it "taking a long time".  I was going to try blowing this install away and restarting to see if that corrected the issue.  I was curious if anyone wanted me to gather anything prio

[2021-06-16 03:23] kmtenhouse opened #10457 ""Prompt on launch" ignored for verbosity in AWX 19.0.0 Web UI"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY

When running templates that allow "prompt on launch" verbosity in the Web UI, the user is able to select a custom verbosity as expected. The user's selected verbosity is also visible in the "review" section prior to launching the job.  However, when the job is actually executed, it reverts to using the default verbosity o

[2021-06-16 05:18] mo-saeed opened #10458 "API to retrieve instance_group's default pod_spec"
Is it possible to retrieve the default POD spec from instance_group (container group) using AWX API ? or any other method ?

What I would like to achieve is after installation or upgrade of AWX
- retrieve the default instance_group default pod_spec
- append the changes needed (e.g. add nodeSelector and tolerations)

In this way I don't lose the changes coming from AWX after upgrades.

Thanks a lot

[2021-06-16 08:27] craph commented on #10448
Any idea why I have :
[code]

Why playbook not found for project ?

[2021-06-16 08:58] craph opened #10459 "awx-cli import job_templates error - Playbook not found for project"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I'm unable to run awx-cli import command without error.

Why I have : Object import failed: Bad Request (400) received - {'playbook': ['Playbook not found for project.']}.

##### ENVIRONMENT
* AWX version: 19.2.0
* AWX install method: awx-operator
* Ansible version:  latest
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1.

[2021-06-16 10:35] jovestefanovski opened #10460 "ERRO[0000] Error adding network"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I try to launch Demo-job [GIT_URL ](https://github.com/ansible/ansible-tower-samples) from AWX UI first I was getting the following message:
`Demo Job Template run fails; source control update error: 'overlay' is not supported over overlayfs`
which I resolve by implementing the fix from [HERE](https://github.com/ansible/awx/issues/10099#issuecomme

[2021-06-16 11:10] abhishek-s-a opened #10461 "volume mounted to awx-ee container is not identified while executing the job templates on awx-ee"
##### ISSUE TYPE
Run time

##### SUMMARY
Volume mounted to awx-ee container is not identified while executing the job templates from AWX GUI with awx-ee. The same playbook is getting executed when running inside the awx-ee container manually and able to access mount volume.

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: kubernetes
* Ansible version:  2.
* Operating System: centos
*

[2021-06-16 11:27] zaskan opened #10462 "[RFE] Feature to modify access_list using the API"
##### ISSUE TYPE
 - Feature Idea
Add a method to modify access_list for the different awx objects.

##### SUMMARY

Currently we are not providing a method in our API to modify the access_list for the different objects (Job templates, Projects, Inventories...). Creating this method would provide the ability of batch changes using scripting, making easy the modification of the permissions for the di

[2021-06-16 12:00] monk291991 commented on #7344
Did we get a solution for this ? i am still not able to resolve this issue :(

[2021-06-16 14:41] tiagodread commented on #4553
@one-t this issue can be closed?

[2021-06-16 15:04] nixocio commented on #10327
Already done.

[2021-06-16 15:04] #10327 closed, assigned to nixocio

[2021-06-16 15:07] #4553 closed, assigned to jbradberry, one-t

[2021-06-16 15:28] mabashian commented on #10240
Before we dive into this one lets talk through the level of effort and determine whether this should be worked on over the next week.

[2021-06-16 15:30] mabashian commented on #10216
@AlexSCorey im gonna remove you from this one for now - if you're actually working on it feel free to re-assign and move to in_progress.

[2021-06-16 15:36] AlexSCorey commented on #10386
This seems like an API error as well. The user is only able to successfully create a workflow job template if they have org level admin permissions.  They can't create a workflow job template if they have org level workflow admin permissions.

[2021-06-16 15:36] mabashian commented on #10092
@tiagodread

Is this still an issue?  I thought we had gotten through all the lists.

[2021-06-16 15:37] mabashian commented on #10092
Moving to high to address:

[2021-06-16 15:40] diegor1421 commented on #9540
hi @craph

I use the installation for version 19.01 and the  "tower_ingress" by the awx-operator version  [0.9.0](https://github.com/ansible/awx-operator/blob/0.9.0/deploy/crds/awx_v1beta1_crd.yaml ) , I see that the version [0.10](https://github.com/ansible/awx-operator/blob/0.10.0/deploy/crds/awx_v1beta1_crd.yaml) is just "ingress type"

For your deployment, you need to review the logs and see w

[2021-06-16 15:44] mabashian commented on #9694
Lets make sure that we're not forcing a user to select a value when the question is not required.

[2021-06-16 15:58] wenottingham commented on #8797
Hi -

We've landed the new UI, which uses components from patternfly which undergo their own a11y testing, and we also have a small set of a11y test for the app itself. I'm going to close this, and encourage folks to open issues where they still see problems.

[2021-06-16 15:58] #8797 closed, assigned to keithjgrant, tiagodread

[2021-06-16 16:05] #7567 closed, assigned to nobody

[2021-06-16 16:10] AlanCoding commented on #7059
somewhat related https://github.com/ansible/awx/pull/10464

this is on the triage list, what are we trying to do here?

[2021-06-16 16:41] mabashian commented on #9508
I just tested this out and am no longer able to reproduce this.  We now show an error under the playbook field saying that one must be selected.

[2021-06-16 16:43] wenottingham commented on #10462
This isn't a thing.

The access list is a manifestation of the RBAC system that traverses the roles assigned to users for an object to show who has access to that object.

To change that, you add or remove users/teams from roles. All of this is fully supported in the API, the CLI, and the awx collection.

[2021-06-16 16:43] #10462 closed, assigned to nobody

[2021-06-16 16:46] wenottingham commented on #10460
CentOS 7 is not what we test with for the development environment. You will likely have to do some debugging.

[2021-06-16 17:21] nixocio commented on #7524
This issue seems to be fixed as side effect of other work on the surveys.

Create Survey

![image](https://user-images.githubusercontent.com/9053044/122264203-422b6d00-cea5-11eb-97b9-80cd6cac13bd.png)

Edit Survey

![image](https://user-images.githubusercontent.com/9053044/122264449-8d458000-cea5-11eb-9f52-e66358f20237.png)

Launch Job Template

![image](https://user-images.githubusercontent.com/9

[2021-06-16 18:21] mabashian commented on #9541
OK so devel is slightly different now - the checkbox is checked but the input still shows ASK

[2021-06-16 18:30] wenottingham commented on #9165
Actually, closing this issue. The region fix landed, what you're seeing now is just #10043

[2021-06-16 18:30] #9165 closed, assigned to nobody

[2021-06-16 19:09] wenottingham commented on #10392
@chrismeyersfsu did someone send a PR for this?

[2021-06-16 20:12] tiagodread commented on #10092
yep, this is being fixed by the remaining lists PR
![image](https://user-images.githubusercontent.com/12464858/122286308-166caf00-cec6-11eb-9538-1054a01d5d92.png)

[2021-06-16 20:13] tiagodread commented on #10092
Fixed

[2021-06-16 20:13] #10092 closed, assigned to mabashian

[2021-06-16 20:40] tiagodread commented on #6189
all merged, we can safely close this.

[2021-06-16 20:40] #6189 closed, assigned to keithjgrant, tiagodread

[2021-06-16 20:46] tiagodread commented on #10164
Fixed!

![image](https://user-images.githubusercontent.com/12464858/122290981-b0365b00-ceca-11eb-84ea-c555582b1f94.png)

[2021-06-16 20:46] #10164 closed, assigned to AlexSCorey

[2021-06-17 06:15] lemmy04 commented on #10017
I tried to generate the docs - it failed with a certificate error.

[2021-06-17 08:13] 0xbentang commented on #20
+1

[2021-06-17 09:30] Jacky2 opened #10466 "awx-nginx stdout | nginx: [emerg] getpwnam("nginx") failed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Use:  make docker-compose

Error: nginx: [emerg] getpwnam("nginx") failed

##### ENVIRONMENT
* AWX version: devel
* AWX install method:  docker on CentOS7

##### EXPECTED RESULTS

##### ACTUAL RESULTS

awx-nginx stdout | nginx: [emerg] getpwnam("nginx") failed

##### SOLUTION
vi Makefile

[code]

[2021-06-17 09:59] jovestefanovski commented on #10460
Thanks @wenottingham
Do you have a list of supported operating systems for this purpose?
Maybe Ubuntu 18.04 can do this job.
Also Centos8 is end of life this year.

[2021-06-17 12:36] Seb0042 commented on #10308
Hi,

I have the same issue with AWX 19.2.0.

[2021-06-17 13:38] AlanCoding opened #10467 ""AWX is currently upgrading." page seems to have a missing logo"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The special migration page looks like it uses a moved / missing asset.

##### STEPS TO REPRODUCE

`awx-manage migrate 0145` or any migration number that's not current

then visit any given page.

##### EXPECTED RESULTS

Migration page

##### ACTUAL RESULTS

Migration page that looks like this

![Screenshot from 2021-06-17 09-34-49](https://user-images.

[2021-06-17 15:18] dsmaugy commented on #10452
EDIT: It seems like this issue is related to specific characters present within the `job_metadata` string. The string itself is successfully generated as `"metadata": "{{  job_metadata is string }}"` `"metadata": "{{  job_metadata | length }}"` return `True` and a sensible number respectively (escape sequences omitted for clarity).

I can even print out certain substrings by splicing the original

[2021-06-17 15:24] wenottingham commented on #10452
This looks like another effect of #10054, marking as a duplicate.

[2021-06-17 15:24] #10452 closed, assigned to nobody

[2021-06-17 15:25] wenottingham commented on #10460
RHEL 8, CentOS 8 (inc. Stream), recent Fedora.

[2021-06-17 15:35] dsmaugy commented on #10452
Gotcha, thanks @wenottingham

The reason I was looking at `job_metadata` was because I wanted to access the hosts that my templates ran on. Is there another way to access this data without going through `job_metadata`?

[2021-06-17 15:54] KevinBonilla commented on #10461
Hey! I'm trying to figure out an issue similar to yours as well! I have an NFS server that is mounted as a PV and generated the PVC. I want to be able to use this mount for binaries, private files, etc. Here's my configuration thus far.

[code]

When I run apply the configuration I don't see any events or used by pods so I believe it's safe to assume its not working.
[code]

[2021-06-17 17:04] tiagodread commented on #9541
Fixed.

[2021-06-17 17:04] #9541 closed, assigned to mabashian

[2021-06-17 17:19] tiagodread commented on #10079
Fixed.

[2021-06-17 17:19] #10079 closed, assigned to nixocio

[2021-06-17 17:40] mabashian commented on #10435
Disregard my previous comment.  This should be fixed by https://github.com/ansible/awx/pull/10150.  Please try again with 19.2.0 and reopen if you're still having trouble.  If you do still see this in 19.2.0 it may help to know what sorts of data you're entering into each field so that we can try to reproduce this exactly.

[2021-06-17 17:40] #10435 closed, assigned to nobody

[2021-06-17 17:49] nixocio commented on #10399
Work completed.

[2021-06-17 17:49] #10399 closed, assigned to jbradberry, nixocio

[2021-06-17 17:52] tiagodread commented on #9213
Fixed.

[2021-06-17 17:52] #9213 closed, assigned to mabashian

[2021-06-17 17:53] nixocio commented on #10467
Related: https://github.com/ansible/awx/pull/10269

[2021-06-17 18:08] thenets commented on #10210
We made some tests and it's working.

Those are the coverage scenarios:

- **job_template without EE specified**
  - Endpoints
    - related.unified_job_template
    - job_templates
  - Result:
    - {'id': 5, 'name': 'tests @ 3:25:21 PM', 'description': '', 'image': 'test'}

- **job_template with explicit EE associated** (ee.id == 17)
  - Endpoints
    - related.unified_job_template
    - job_tem

[2021-06-17 18:08] #10210 closed, assigned to thenets, yagomarques

[2021-06-17 18:17] tiagodread commented on #9409
Removed!
![image](https://user-images.githubusercontent.com/12464858/122451965-1bda0000-cf7f-11eb-8f0f-f98d68bd8ec3.png)

[2021-06-17 18:17] #9409 closed, assigned to nixocio

[2021-06-17 19:31] agilleyrh commented on #9350
Closing this as another feature request is taking its place.

[2021-06-17 19:31] #9350 closed, assigned to nobody

[2021-06-17 20:00] tiagodread commented on #7524
Ok, I've tested with `dfdsafds<b>bold</b>\"><br>` and `/hello_world` and this is not breaking the form, I could create, edit successfully.

Also tested `~!@#$%^&*()-+=`, some special chars like `# $ +` not worked, I could create the survey however not edit, I think because all of them (may exist more) is valid char for browsers and is not being properly parsed.

This is still a valid bug, I'm not

[2021-06-17 21:03] nixocio opened #10469 "Should not display smart inventory as part of inventory filter when creating a host"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Show not display smart inventory as part of inventory filter when creating a host. Right now, all inventories are being displayed.  Generating the following error:

![image](https://user-images.githubusercontent.com/9053044/122471964-f1437380-cf8d-11eb-97ff-a0404be04c97.png)

[2021-06-17 21:07] nixocio commented on #10240
@kialam and I worked together verifying where this behavior would be evident.

The only place that this behavior was noticeable was on Credentials screen.

Credentials Edit
1. Password modal <- keeps url params when closed
2. SSH Private Key <- keeps url params when closed
3. Signed SSH Certificate <- keeps url params when closed
4. Private Key Passphrase <- keeps url params when closed
5. Privile

[2021-06-17 21:17] kialam opened #10470 "Edit Job Template Project Type "Manual" box not selected when clicked"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Edit Job Template Project Type "Manual" box not selected when clicked
##### ENVIRONMENT
* AWX version: 19.2.1
* Ansible version:  2.11.1
* Operating System: OSX
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1.  Go to edit a Job Template
2.  Click on Project lookup
3.  In the filter toolbar, select `type`
4.  Click on "manual"
5.  Observe that the c

[2021-06-17 23:04] ghost commented on #10228
I'm having a similar issue with AWX 15.1 not respecting tags in the roles: section of my playbook. My understanding is that tags applied to roles in the roles: section are inherited to all role's tasks, and in fact results in expected behavior when running ansible-playbook from cli (--skip-tags=ipxe_sync,image_sync skips the entire roles in the following code snippit)

[code]

When I run a job tem

[2021-06-17 23:59] garamirseokim opened #10471 "Need additional search interface on Tower"
##### ISSUE TYPE
 - Feature Idea
Need an additional search function that able to search the entire processing result which is executed on a specific managed node.

![image](https://user-images.githubusercontent.com/58404577/122486164-dae3f900-d01b-11eb-8bfe-27c99f60b226.png)

##### SUMMARY

For exsample...

- Customer's windows vm got rebooted by ansible as per their troubleshooting and customer w

[2021-06-18 01:25] quincysting119 commented on #10471
![image](https://user-images.githubusercontent.com/77130598/122491486-7c247c80-d027-11eb-925f-31dbdfaed479.png)

What's missed for this case is it's a job run against the VM but from AT there is no history record for that completed job. It looks like some underlying transactions are not visible from AT UI. Would be great to fix it. Otherwise it's a potential security risk for us because people cou

[2021-06-18 03:25] AlekseiSaff opened #10472 "AWX upgrade failed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX upgrade from 17 to 19 failed on 0137_custom_inventory_scripts_removal_data step

##### ENVIRONMENT
* AWX version: 17.0 to 19.x
* AWX install method: awx-operator
* Ansible version:  19.x
* Operating System: Linux
* Web Browser:

##### STEPS TO REPRODUCE

Upgrade from 17.x to 19.x failed on step 0137_custom_inventory_scripts_removal_data

##### EXPE

[2021-06-18 12:36] mabashian commented on #7524
So, I think that `$` works but when you create a question variable with `+` in it and click to edit the question you just get redirected back to the list.  Check out the url in gif each time I click to edit:

![survey_redirect](https://user-images.githubusercontent.com/9889020/122561420-d74a7500-d00f-11eb-9805-d4fdcd2c86cd.gif)

There are certain characters that probably need to be url encoded in

[2021-06-18 13:04] tiagodread commented on #9508
I also tried to reproduce this bug without success, this is not happening anymore.

[2021-06-18 13:04] #9508 closed, assigned to nobody

[2021-06-18 13:59] machadovilaca opened #10474 "Job template credentials are not selected on job launch"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In the Job Templates, I set credentials, that are supposed to be the defaults for that template job launches, and set 'Prompt on launch'.

![edit](https://user-images.githubusercontent.com/21959383/122571903-2232af80-d045-11eb-88e2-ef3f6c4e664a.png)

But when launching a job, in the "Credentials" section, they don't show up.

![launch](https://user-ima

[2021-06-18 14:27] jakemcdermott commented on #10471
Is this information available on the activity stream?

[2021-06-18 14:32] AlexSCorey commented on #10450
We may be able to offer a patch in the future, but right now the best I can offer is to re-sync the project to get all updated files represented in the dropdown.

[2021-06-18 14:48] AlexSCorey commented on #9226
This was resolved by https://github.com/ansible/awx/commit/0ac6ba9c99097a0a7d175dba731d36ac205759c3
![Screen Shot 2021-06-18 at 10 46 59 AM](https://user-images.githubusercontent.com/39280967/122579200-ab84ba80-d022-11eb-9ff7-f8fcae5b1c22.png)

[2021-06-18 14:48] #9226 closed, assigned to nobody

[2021-06-18 15:04] chrismeyersfsu commented on #10392
![image](https://user-images.githubusercontent.com/722880/122581339-f1428280-d024-11eb-8dbb-72f05b163fce.png)
I'm not seeing any global event endpoints. Trying to find the code change to link to this issue.

Edit: Ok, the endpoint isn't shown in the list of endpoints but is accessible. So no, PR not submitted yet.
Edit: I'm seeing the wanted behavior now. `ad_hoc_command_events/` should remain "hi

[2021-06-18 16:07] #9694 closed, assigned to AlexSCorey

[2021-06-18 16:07] #9171 closed, assigned to mabashian

[2021-06-18 17:20] mabashian commented on #10469
Dupe of https://github.com/ansible/awx/issues/10222

[2021-06-18 17:20] #10469 closed, assigned to nobody

[2021-06-18 17:24] wenottingham commented on #10461
The proper way to do this would be to update the pod definition on the container group, not to edit it on deployment of AWX itself. Does that work for you?

[2021-06-18 17:27] wenottingham commented on #10459
Has the project for the job template been updated?

[2021-06-18 17:29] wenottingham commented on #10458
You can do this by making a REST 'OPTIONS' request on the container group object (/api/v2/instance_groups/N)

[2021-06-18 17:29] #10458 closed, assigned to nobody

[2021-06-18 17:31] tchellomello commented on #10460
@jovestefanovski  seems to be related to what you need -> https://access.redhat.com/solutions/4855031

what is filesystem format do you have on the underlying storage?

This is another good blog about this issue -> https://chris.collins.is/podman-overlay-is-not-supported-over-xfs/

[2021-06-18 17:32] wenottingham commented on #10450
Closing as this is fixed in the latest release.

[2021-06-18 17:32] #10450 closed, assigned to nobody

[2021-06-18 17:34] wenottingham commented on #10447
Marking as an enhancement for better module docs.

[2021-06-18 17:39] wenottingham commented on #10406
The general way to do this would be by managing the podspec - does that not work for you? That variable is for the control plane task EE, not the general job EE (and we should make that more clear).

[2021-06-18 17:40] nixocio opened #10475 "Handle search if initial list is empty"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Disable advanced search if initial list is empty. If the initial list has not items there is not usage for the advanced search.  For instance:

![image](https://user-images.githubusercontent.com/9053044/122598284-a29fe300-d03a-11eb-96cb-7750db0139b9.png)

[2021-06-18 17:41] yagomarques commented on #10431
It's working, we ran it manually:

i got a 400 error as expected with the message:
![image](https://user-images.githubusercontent.com/18562328/122598379-2231b000-d043-11eb-8b34-cd71f6a35a3d.png)

UI is correctly displaying the error too:
![image](https://user-images.githubusercontent.com/18562328/122598102-c6672700-d042-11eb-9ce6-90ff16037c26.png)

[2021-06-18 17:41] #10431 closed, assigned to fosterseth, yagomarques

[2021-06-18 17:47] wenottingham commented on #10308
This is fixed in 19.2.1 + the latest awx-ee.

[2021-06-18 17:47] #10308 closed, assigned to nobody

[2021-06-18 18:27] nixocio opened #10476 "Advanced search inside wizard does not show data typed on input field"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Advanced search inside wizard does not show data typed on input field.

https://user-images.githubusercontent.com/9053044/122602704-48565080-d041-11eb-9df1-32cdd5c17684.mov

[2021-06-18 18:49] wenottingham commented on #10466
-> #9552

[2021-06-18 18:49] #10466 closed, assigned to nobody

[2021-06-18 18:50] wenottingham commented on #10471
A job run against the host should show up in the completed jobs - that indicates either some sort of error, or that something unusual is going on with how the playbook is structured.

Can you give a redacted version of the playbook? Is `add_host` used?

[2021-06-18 19:01] one-t commented on #10457
Verified fixed

[2021-06-18 19:01] #10457 closed, assigned to AlexSCorey

[2021-06-18 19:04] KevinBonilla commented on #10461
@wenottingham Thank you for the clarification, I have not tested modifying the container group yet. So all I would have to do is modify the pod spec and add the PVC to my instance group? Or do I have to modify my EE image, add the mount/PVC there and rebuild via ansible-builder?

I wouldn't need to change the `task_extra_volume_mounts` for example, sorry I'm still a little confused as I was used t

[2021-06-18 19:19] wenottingham commented on #8648
This should be in currently released/used theforeman.foreman and redhat.satellite collections.

[2021-06-18 20:34] fosterseth opened #10478 "[collections] playbooks with tower_* will not redirect to the new modules on ansible 2.9"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

We've dropped tower_ prefix from modules in both awx.awx and ansible.controller collections.

The redirects we set up will not work in ansible 2.9, as rerouting was added to 2.10+

A possible solution is being tested that uses symlinks to old module names

##### ENVIRONMENT
* AWX version: 19.2
* Ansible version: 2.9

[2021-06-18 20:39] fosterseth commented on #10478
being tracked elsewhere

[2021-06-18 20:39] #10478 closed, assigned to nobody

[2021-06-18 23:03] kmtenhouse commented on #10457
Hi @AlexSCorey - wondering if I might be able to confirm if this is verified as fixed in another version (ex: 19.2.0). I am likely going to move to 19.2.0 owing to other bug fixes.

[2021-06-19 00:14] kmtenhouse commented on #9961
@duntonr Might you be able to share what you customized in your 0.2.0 image for this?  I'm facing a similar issue in 19.0.0 for a very long-running playbook (~4.5 hours, 1000+ hosts).

I am also planning to move to 19.2.1 + newer EE to see if that helps; wondering if I should go with 0.2.0 or jump to 0.4.0.

[2021-06-19 12:08] shilpeePrasad commented on #9929
Hi, I would like to work on this issue. Thanks

[2021-06-19 16:01] mo-saeed commented on #10458
the only parameter retrieved is "pod_spec_override" which is empty string by default. so not possible to get the default value.

[2021-06-19 16:02] mo-saeed commented on #10458
Could you please reopen the issue?

[2021-06-19 18:33] briantist commented on #10275
The changes referenced above have been [released in v1.2.0](https://github.com/ansible-collections/community.hashi_vault/releases/tag/1.2.0).

[2021-06-20 22:06] kladiv commented on #9961
Hi all,
same issue `RuntimeError: Pod Running` using:

- AWX 19.0.0
- EE 0.2.0 or 0.3.0 or 0.4.0
- Instance Group: tower (container group)
- Ubuntu 20.04
- Kubernetes OS: k3s v1.20.7+k3s1

Tested on playbook with single target node (so no massive run)

[2021-06-20 22:17] rcdlinux commented on #8648
Thank you @wenottingham !!!

Best regards,

[2021-06-20 22:21] rcdlinux commented on #8648
Sorry, reopening because I've closed it too early (state:needs_test ) ;-)

[2021-06-21 01:13] quincysting119 commented on #10471
![image](https://user-images.githubusercontent.com/77130598/122694513-e84ded00-d280-11eb-88cf-d19b415edc34.png)
It's a bit like chicken/eggs. If we can trace back that playbook, we woud not have this discussion here.
From the event log of the host, we can see the job initiated by AT but we could not find the playbook against that host.
There is no job history from AT as well. Such a bizarre. I als

[2021-06-21 08:43] Zokormazo commented on #9212
Tested manually, the cleaner works.

https://github.com/ansible/tower-qa/issues/6497 for automation debt

[2021-06-21 08:43] #9212 closed, assigned to Zokormazo, fosterseth

[2021-06-21 10:27] AlekseiSaff opened #10482 "Upgrade to 19.2 or 19.2.1 failed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.x
* AWX install method: openshift
* Ansible version:  N/A
* Operating System: :inux
* Web Browser:

##### STEPS TO REPRODUCE

I'm trying to update the existing 17.x on docker into the latest one on Kubernetes. The migration from 17 to 19.x has failed. What I found:
I'm not able to update 17.x from docker into k8s vi

[2021-06-21 11:38] AlexSCorey commented on #10457
It has been fixed, but not released yet.  It might be in 19.3.0 when that is released

[2021-06-21 13:28] Seb0042 opened #10483 "Symlinked directories in project are missing (still in 19.2.1)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

ansible-galaxy delete links from the scm after the clone/pull.

##### ENVIRONMENT
* AWX version: 19.2.1
* AWX install method: awx-operator
* Ansible version:  2.9.22
* Operating System:
* Web Browser:

Same as issue https://github.com/ansible/awx/issues/10308
The installation of 19.2.1 with awx-operator did not solve the problem.

[2021-06-21 13:29] shanemcd commented on #10483
Hello. Did you build a custom EE? Or are you using the defaults?

[2021-06-21 13:47] AlekseiSaff commented on #10482
[1.txt](https://github.com/ansible/awx/files/6687042/1.txt)

[2021-06-21 14:20] jshirley-incomm-zz commented on #8018
I was able to get the updated Playbook from Git to show in Ansible after I deleted the Project and started over, once you save it and add a new job to it you should see your playbook populate, hope this helps

[2021-06-21 14:41] Seb0042 commented on #10483
Hello,
I'm using a custom EE based on the 0.3.0.
Do I have to rebuild my custom EE ?

[2021-06-21 14:51] shanemcd commented on #10483
Please try rebuilding on the latest awx-ee and see if it helps.

[2021-06-21 15:09] tiagodread commented on #4953
Fixed!

[2021-06-21 15:09] #4953 closed, assigned to nixocio

[2021-06-21 15:43] nixocio commented on #2744
This issue was addressed on the new UI.

[2021-06-21 15:43] #2744 closed, assigned to nobody

[2021-06-21 15:59] wenottingham commented on #10458
It's there:
[code]

[2021-06-21 16:14] imareporter opened #10485 "Add Ability to Configure Custom Start Point for Job IDs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to be able to configure a custom start point for job IDs (e.g. PostgreSQL starts incrementing at 100, 200, 10000, etc.). The user is requesting this so they can better search for data within a centralized log aggregator.

[2021-06-21 16:25] mo-saeed commented on #10458
it's there when you only check the box (Customize pod specification) from the UI which is manual action, how can we automate that ?

[2021-06-21 16:39] wenottingham commented on #10458
No, it is always there when you make `OPTIONS` requests to the container group (`/api/v2/instance_groups/N`, where `N` is the ID of the container group you've created). The comment above shows (truncated) sample output of that `OPTIONS` request done against the `devel` branch of AWX.

If you need more help understanding what that means, please see google-able resources such as https://www.software

[2021-06-21 16:47] Seb0042 commented on #10483
Trying to build one from the 0.4.0 but I have some issues for the moment.
Let you know when it's ok.

[2021-06-21 17:09] kakawait commented on #9552
Did you find some workaround?

[2021-06-21 17:11] kakawait commented on #9552
Did you find some workaround for that?

[2021-06-21 17:50] tiagodread commented on #9846
This is now merged

[2021-06-21 17:50] #9846 closed, assigned to mabashian

[2021-06-21 18:03] mo-saeed commented on #10458
Can this be done with awx-cli ?

[2021-06-21 18:55] AlexSCorey opened #10486 "Prompt on Launch erroneously validates credential step"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Vault credentials can potentially pass validation erroneously

##### ENVIRONMENT
* AWX version: 19.2
* AWX install method: docker for mac

* Operating System: Big Sur
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. assign 1 of them to JT and click prompt on launch for credentials.
2. In the launch wizard toggle that default credential on and off an

[2021-06-21 19:03] #10240 closed, assigned to nixocio

[2021-06-21 19:10] jladdjr opened #10487 "partition not available when storing project update events"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

postgres reports ` no partition of relation "main_projectupdateevent" found for row` when attempting to save job events for a project update.

##### ENVIRONMENT
* AWX version: 4.0.0.
* AWX install method: traditional cluster install

##### STEPS TO REPRODUCE

Schedule a workflow job to run every few minutes. The WF job should trigger a project update.

[2021-06-21 19:53] mabashian commented on #7675
Note that I just added logic to remove smart inventories from the inventory lookup in the hosts form.  For this form in particular we won't want `kind` to be a default search option since we're already filtering by that key.

[2021-06-21 20:08] mabashian commented on #8610
@tiagodread I don't think we have _any_ links in lists in modals anymore.  I checked the host filter modal and this is what it looks like:

<img width="1655" alt="Screen Shot 2021-06-21 at 4 07 57 PM" src="https://user-images.githubusercontent.com/9889020/122821457-df721100-d2aa-11eb-99bb-4eacb3a55746.png">

I feel like we can close this and perhaps open an enhancement to _add_ links that open in

[2021-06-21 20:28] tiagodread commented on #10474
This is now fixed

[2021-06-21 20:28] #10474 closed, assigned to AlexSCorey

[2021-06-21 21:02] mabashian commented on #8063
@tiagodread not able to reproduce this one on my end.  This issue is ~9 months old and might have been fixed somewhere along the way.

[2021-06-21 21:34] jladdjr commented on #10487
@chrismeyersfsu @kdelee noting know issue in ~user guide~ release notes -> known issues:
https://github.com/ansible/product-docs/pull/1524

[2021-06-21 21:54] wenottingham commented on #10485
If the intent is to avoid ID reuse between different clusters, what starting ID were they looking at? 1_000_000? More?

[2021-06-22 07:03] dmatthewsbnd251 opened #10488 "How to enable SSL for docker install"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - UI

##### SUMMARY
How do I install an SSL certificate with a docker install?

##### ENVIRONMENT
* AWX version: 19.2.0
* AWX install method: developer environment
* AWX deployment target: docker
* Operating System: Centos 7
* Web Browser: Chrome

##### ADDITIONAL INFORMATION

While we are at it, what options can be configured in the inven

[2021-06-22 07:17] Seb0042 commented on #10483
I can't manage to have a working EE based on 0.4.0 at the moment, I have this error when launching a job:

Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 1374, in run
    res = receptor_job.run()
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 2896, in run
    return self._run_internal(rec

[2021-06-22 07:22] AlekseiSaff commented on #10482
attached DB failure log. something is weird with keys.
[DB.log](https://github.com/ansible/awx/files/6692050/DB.log)

[2021-06-22 07:54] AlekseiSaff commented on #10482
after deleting CONSTRINTS  I was able to upgrade AWX to 19.2 and 19.2.1

[2021-06-22 09:31] Seb0042 commented on #10483
I have tested with a "custom" image from 0.4.0 and it fails, links are still deleted.
Here is the Dockerfile from ansible-builder, as you see few modifications:

[code]

[2021-06-22 09:39] Seb0042 commented on #10483
Still not working with a custom image from 0.4.0, links are deleted.

Below the dockerfile of ansible-builder:

[code]

bindep.txt:
python38-devel

requirements.txt:
[code]
requirements.yml:
[code]

[2021-06-22 10:26] jbielick commented on #2976
Looks like this is updated / fixed in awx-operator: https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/secret_key.yaml.j2

This could be closed.

[2021-06-22 10:49] kazigk commented on #9961
I encountered similar issue. The difference is I'm not getting any RuntimeError nor play recap in pod logs.

I'm using:

- AWX 19.2.0
- AWX EE 0.4.0 (also tested with 0.2.0 and 0.3.0)
- AWX Operator 0.10.0
- Ubuntu 20.04 running microk8s v1.20.7

It happens to me while running a verbose job (about 1700 lines of logs) with `strategy: free` on 100+ hosts. Less verbose jobs and jobs with linear strat

[2021-06-22 11:04] JustInVTime opened #10489 "Jobs with ID > 9999 are stuck in pending state, but nothing is happening"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Last week we encountered a strange problem that our AWX jobs wouldn't run anymore. They were stuck in the running (or pending) state, but nothing seems to happen. No output in the job logs, no awx-ee pods being started in our kubernetes cluster, no strange things in the logs. Cancelling and restarting the jobs didn't work either. I noticed that it was

[2021-06-22 11:21] JustInVTime commented on #10489
Maybe this is related: https://groups.google.com/g/awx-project/c/GfDZ3iXxjzc

[2021-06-22 11:27] AleksejEgorov commented on #9926
This problem is still repeating on AWX 19.2.1 deployed by AWX-operator 0.11.0.
[code]

[2021-06-22 12:44] ed11e commented on #4089
This is a blocker for us too. It makes it very tricky for AWX to be used on an enterprise scale.

[2021-06-22 12:59] abhishek-s-a commented on #10461
I can see below details in awx pod spec. Still not able to acesss this mount path from awx-ee container creating from AWX-GUI.

![image](https://user-images.githubusercontent.com/73212230/122928404-76ac9680-d387-11eb-91c5-cb0d8e9275f7.png)

![image](https://user-images.githubusercontent.com/73212230/122928469-875d0c80-d387-11eb-8536-f4d8ebfc13fe.png)

[2021-06-22 13:52] AlanCoding commented on #10398
[code]

Okay, I know that `ansible-runner` won't respect your `callback_plugins` setting here. It _tries_ to respect the user settings for callback plugins, and append its own to the end of the list.

https://github.com/ansible/ansible-runner/blob/4926a6afda13e768f55010f46509d2888e83e9a7/ansible_runner/config/_base.py#L242

But the issue is that you didn't set the env var `ANSIBLE_CALLBACK_PLUGINS

[2021-06-22 13:58] tiagodread commented on #9154
`Run_Integration_Tests___test_receptorctl_work_units_cleanup` is passing now

![image](https://user-images.githubusercontent.com/12464858/122937996-c0c25780-d348-11eb-9f95-2bce6cc65809.png)

[2021-06-22 13:58] #9154 closed, assigned to fosterseth

[2021-06-22 14:39] Zokormazo commented on #10489
Just tested with job ids > 10k and I can't reproduce this. Is there anything useful on pod logs when you hit this?

[2021-06-22 15:18] JustInVTime commented on #10489
No, the task container logs are filled only showing blocked jobs now, because job 10000 - 100010 are running but not doing anything.

If you want I can cancel all jobs with ID 10000+ and start a new job, so I have more recent job logs. Do you need logs from web and awx-ee container as well?

[awx_task.log](https://github.com/ansible/awx/files/6695522/awx_task.log)

[2021-06-22 15:30] ryedin commented on #8429
Not doubting that it's fixed, but it may not be documented well still. Wanted this feature, looked through the docs, googled, found this issue, back to looking through the docs.

Where is it documented what the variable name is for this? Is it this section: https://docs.ansible.com/ansible-tower/latest/html/userguide/jobs.html#job-branch-overriding?

Is the runtime variable name `scm_branch` as de

[2021-06-22 15:41] tiagodread opened #10491 "Warn the user when trying to delete an EE used in Global default EE"
When a Global Default Execution Environment is about to be deleted, the deletition modal is not warning the user that this  particular EE is being used as `Global Default` one

![image](https://user-images.githubusercontent.com/12464858/122954725-12251380-d356-11eb-8766-7c7aa374250b.png)

I wonder if this is possible to show the deletition modal similar to:
![image](https://user-images.githubuserc

[2021-06-22 15:53] wenottingham commented on #8429
The variable is `awx_project_scm_branch` and `awx_job_scm_branch`. It will be in the downstream docs at https://docs.ansible.com/ansible-tower/latest/html/userguide/job_templates.html once it's released in a downstream product. We could take a PR to docs/ in the AWX repo to have a section on job vars there.

[2021-06-22 16:04] AlanCoding commented on #10491
Seems pretty strongly related to https://github.com/ansible/awx/issues/10442

[2021-06-22 16:47] chris93111 commented on #5620
+1 for choices notifications at launch time

[2021-06-22 17:05] ericzolf opened #10492 "Give playbook authors the possibility to return custom values to a job/workflow"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The AWX API is fine to call a job/workflow and pass _input_ variables (through extra vars) from the calling process to the playbook. But there is no standard way to pass _output_ variables from the playbook to the calling process through the API.

John has written a Jenkins plugin which does exactly this but the approach chosen (chapter "Returning D

[2021-06-22 17:11] wenottingham commented on #10492
This already exists.

https://docs.ansible.com/ansible-tower/latest/html/userguide/workflows.html
which uses:
https://docs.ansible.com/ansible/latest/collections/ansible/builtin/set_stats_module.html

[2021-06-22 17:11] #10492 closed, assigned to nobody

[2021-06-22 17:14] yagomarques commented on #10008
It's working! we tested manually the scenario.

[2021-06-22 17:14] #10008 closed, assigned to yagomarques, sean-m-sullivan

[2021-06-22 17:15] ericzolf commented on #10492
Discussing with John I didn't get the impression that the API allows to grab the "stats" at the workflow level, you need to grab them painfully from each job.

[2021-06-22 17:56] yagomarques commented on #7521
Closing this issue:

It's working on devel, it's was fixed on the https://github.com/ansible/awx/pull/9890.

**survey**
![image](https://user-images.githubusercontent.com/18562328/122975149-6eddf980-d369-11eb-9d9a-fb66a997ad27.png)

**schedules**
![image](https://user-images.githubusercontent.com/18562328/122975290-946b0300-d369-11eb-9d0e-a6a0349223e7.png)

**job running just with the enabled sche

[2021-06-22 17:56] #7521 closed, assigned to yagomarques

[2021-06-22 21:00] jladdjr commented on #10487
On https://github.com/ansible/tower/issues/5123, @AlanCoding reports that he's seeing this same error, but for `main_inventoryupdateevent`

[2021-06-22 21:43] nixocio commented on #9997
Related to patternfly/patternfly-react#5882

Also see: patternfly/patternfly-react#5650

[2021-06-22 23:19] hassenius commented on #10243
I have this problem too with `tower_job_launch`. I can successfully call the API using the same credentials via
`requests.post("<api_endpoint>/job_templates/<template_id>/launch/",auth=(username, password))`, but when I try use the ansible module it fails with the same message as above

[2021-06-23 02:43] dmatthewsbnd251 commented on #10488
I have tried adding ssl_certificate and ssl_certificate_key and running make docker-compose-build but it does not look like the generated docker-compose.yml gets updated.

[2021-06-23 02:46] AlanCoding commented on #10487
Aren't these logs from the callback receiver? A project update may generate ~15 events in a single run, so I'd expect the repetition simply because it hits the error for every event it tries (and fails) to save.

[2021-06-23 02:56] AlanCoding commented on #10487
@jladdjr

Replicating locally now - this happens specifically for project _syncs_. Those that run as a local sync of a project before a job starts. This is why you thought you only saw it happen ~once per day. Syncs are rare in standalone integration, because `factories.project()` will give you a project where the local source is up-to-date. Clusters sync more often because the project update can

[2021-06-23 05:01] mgaredia opened #10493 "tower_license.py missing from 19.2.1 awx.awx collections"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2021-06-23 05:52] Raghavsfeb03 commented on #7521
The Issue is not still clear for you all.
In the Survey Tab we define a set of values, for example :
Datacenter: xyz
Team name: abc
Environment: QA/DEV
etc...

After you save these in Survey Tab, and now you come to Schedule, it shows only the defined values, and once you try to save it, Error is Thrown saying that you are missing the values for defined set of variables like:
Datacenter,..Team nam

[2021-06-23 10:18] lucab85 commented on #10447
+1 for case 02969503

[2021-06-23 10:25] lucab85 commented on #10447
Please consider a UI update to set the "body" field.
At the moment it's only possible to set the "message" field in the notification template area:
![Screenshot from 2021-06-23 12-24-37](https://user-images.githubusercontent.com/24267107/123081252-13217800-d41e-11eb-9115-a5e16167682c.png)

[2021-06-23 11:29] AlanCoding commented on #10487
Maybe there is some flake to this, because I was hitting it consistently for these job types yesterday but this morning I'm not.

[2021-06-23 11:34] AlanCoding commented on #10493
These modules were renamed, like `tower_license` -> `controller_license`.

They are supposed to have redirects, but they didn't work for Ansible 2.9. A commit has been put in `devel` to add them.

https://github.com/ansible/awx/blob/devel/awx_collection/plugins/modules/tower_license.py

Closing, as I assume this will fix it for you in the next release.

[2021-06-23 11:34] #10493 closed, assigned to nobody

[2021-06-23 13:18] AlanCoding commented on #10487
@chrismeyersfsu had the answer

https://github.com/ansible/awx/blob/a6383e7f79d56d8d422870cb5720762f197cbd3a/awx/main/scheduler/task_manager.py#L306

[2021-06-23 14:29] mabashian opened #10494 "Galaxy credential tags overflow input"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1438" alt="Screen Shot 2021-06-23 at 10 26 13 AM" src="https://user-images.githubusercontent.com/9889020/123115011-c46be200-d40d-11eb-8d49-b92270974913.png">

This can be seen by selecting a number of galaxy credentials when creating/editing an organization.

I haven't looked but I suspect this might be the case for other multi-select looku

[2021-06-23 15:22] AlexSCorey opened #10495 "Add Link or Button on Empty State"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Empty state lists should link out to a form so that the user knows where to go to add a list item.

![Screen Shot 2021-06-23 at 11 21 18 AM](https://user-images.githubusercontent.com/39280967/123123835-28de6f80-d415-11eb-9b25-61a97ba8e5c5.png)

[2021-06-23 15:29] AlexSCorey opened #10496 "Update Status Icon"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Audit the UI for current status Icons
https://github.com/ansible/awx/issues/10216

They should be updated to use the new status icons
https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs-detail/

related: https://github.com/ansible/tower/pull/5134.

[2021-06-23 15:31] AlexSCorey opened #10497 "Update Execution Environment Lookup"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Create new job template Select Execution Environment modal
Change title from “Select Execution Environments” to “Select Execution Environment”
![Screen Shot 2021-06-23 at 11 32 51 AM](https://user-images.githubusercontent.com/39280967/123125805-d736e480-d416-11eb-9a6c-c70116f71c59.png)

[2021-06-23 15:33] AlexSCorey opened #10498 "Select Buttons in Modals should be disabled until selection is made"
##### ISSUE TYPE
 - Enhancement

##### SUMMARY
Disable select button in modals until a selection is made
![Screen Shot 2021-06-23 at 11 32 51 AM](https://user-images.githubusercontent.com/39280967/123125729-c6866e80-d416-11eb-8f99-dcdc7a41605a.png)

[2021-06-23 15:35] AlexSCorey opened #10499 "Survey Form Should Not Show Job Template Tabs"
##### ISSUE TYPE
-enhancement

##### SUMMARY
Current Survey Form:
![Screen Shot 2021-06-23 at 11 34 34 AM](https://user-images.githubusercontent.com/39280967/123126014-08171980-d417-11eb-80a3-fd98e30410cc.png)
Mock ups:
https://tower-mockups.testing.ansible.com/patternfly/templates/templates-survey-add/

[2021-06-23 15:47] madeinindiadot opened #10500 "Dynamic tagging"
**problem statement:** we have a playbook that we're looking to use but do not own, playbook has a number of tags that we'll need to use to skip several tags that will impact our application.

In order to enforce tower RBAC, we need to run workflow that includes another playbook prior to this one which will feed a list of  tags within file.

**Option 1:**

Tagging as a variable

Can we parameteriz

[2021-06-23 15:53] AlexSCorey opened #10501 "ToolbarDeleteButton and DeleteButton should only show spinner during delete"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
While deleting and list item, or deleting and item from a details view, the delete button should remove the Delete text to only show the spinner.  Additionally, the width and height of the delete button should match that of the add button.

[2021-06-23 19:02] AlexSCorey opened #10503 "Use Table view for modals that show lists of items (delete modals)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Now that we have the table view implemented for all of our lists it would be nice to use that same table view on our multi delete modals, and other modals that show lists.

[2021-06-23 19:04] mabashian commented on #10494
Note that it looks like this is only happening when built via the dev env

[2021-06-23 19:26] AlexSCorey commented on #10396
@jakemcdermott can we close this?

[2021-06-23 20:59] kdelee commented on #10487
We've verified that the tests added https://github.com/ansible/tower-qa/pull/6519/files provoke the bug w/o the fix,and w/ the fix it ceases to happen. Going to close this

[2021-06-23 20:59] #10487 closed, assigned to AlanCoding, kdelee

[2021-06-23 21:03] nixocio commented on #10470
I have seen similar issue. The reason is that the `Manual` option is an ''.

[code]

[2021-06-23 21:13] tiagodread commented on #9127
This is now implemented.

[2021-06-23 21:13] #9127 closed, assigned to tiagodread, marshmalien

[2021-06-23 21:27] tiagodread commented on #9997
fixed!

[2021-06-23 21:27] #9997 closed, assigned to nixocio

[2021-06-23 21:35] #9534 closed, assigned to keithjgrant

[2021-06-23 21:36] tiagodread commented on #8610
@mabashian we can close this one, I agree.

[2021-06-23 21:36] #8610 closed, assigned to nobody

[2021-06-24 03:08] AlekseiSaff opened #10505 "sync inventory broken in 19.2.1"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.2.1
* AWX install method: k8s
* Ansible version:  2.12
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

AWX inventory sync job loaded only 8 hosts and 4 groups, but dynamic script returning more records. That script worked fine in 17.X version

##### EXPECTED RESULTS

Load all hosts/groups

[2021-06-24 03:26] AlekseiSaff commented on #10505
I checked my script
./dns_inventory --list - it returns JSON - works

I checked
ansible-inventory -i dns_inventory.py  --graph  - works fine returning all my hosts/groups

but sync process can load only 8 hosts/4 groups

[2021-06-24 06:07] AlekseiSaff commented on #10505
I can provide the full output of my dns_inventory.py if it helps
as well as ansible-inventory -i dns_inventory.py --graph

[2021-06-24 08:26] rdzielicki commented on #10060
'i'll discuss this this the team and discuss about our options to do so,

[2021-06-24 09:41] ghost commented on #9785
I applied [this](https://unix.stackexchange.com/questions/602408/how-can-i-enable-user-namespaces-and-have-it-persist-after-reboot) solution to my docker host, which fixed the issue for me.

On your docker host, run
`sudo sysctl -w kernel.unprivileged_userns_clone=1`

To persist across reboots:
`echo "kernel.unprivileged_userns_clone=1" | sudo tee -a /etc/sysctl.conf`

[2021-06-24 10:45] AlekseiSaff commented on #10505
any ideas on what to do here and how to troubleshoot?

[2021-06-24 10:48] blindrood commented on #10505
I had similar issue (already restored previous version). With 19.2.1 there's EE 0.4.0. I tried changing it but noticed that EE for Inventory project doesn't update EE for inventory update itself (there's still default). Try to remove EE 0.4.0 and see if this resolves it

[2021-06-24 10:50] AlekseiSaff commented on #10505
The problem with EE 0.4.0 it doesn't have needed libs (dnspython) so I've built my own EE.
the version of python/ansible-inventory can be viewed from the original post.

[2021-06-24 11:13] AlekseiSaff commented on #10505
after removing EE 0.4.0
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 1374, in run
    res = receptor_job.run()
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 2896, in run
    return self._run_internal(receptor_ctl)
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tas

[2021-06-24 12:33] zaskan opened #10506 "Setting same names to job template and its project causes tower_job_template to fail."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Setting same names to job template and its project causes tower_job_template to fail. It produces the following output:

[code]

##### ENVIRONMENT
* AWX version: 3.8.3
* AWX install method: openshift

##### STEPS TO REPRODUCE

Create a project and assign it to a job template with the same name. Run the job template.

##### ADDITIONAL INFORMATION

**CU

[2021-06-24 12:58] AlanCoding commented on #10483
@jbradberry could this be resolved by https://github.com/ansible/ansible-runner/pull/737

[2021-06-24 13:21] phemmer opened #10507 "documentation lacking on websocket authentication"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The [documentation on websocket authentication](https://github.com/ansible/awx/blob/devel/docs/websockets.md#protocol) is lacking details on how to perform authentication.

For example, it just says

Ok, I'm assuming this means as a query parameter. If so, what's the parameter name? And this is also a security concern, as the URL is typically considere

[2021-06-24 14:39] jbradberry commented on #10483
Yes, this is exactly what that PR was intended to fix.

[2021-06-24 14:42] lucab85 commented on #7399
+1 case 02972971

[2021-06-24 14:52] #10483 closed, assigned to nobody

[2021-06-24 16:04] thenets commented on #9297
- Tests passed on latest AWX v̶e̶r̶s̶i̶o̶n̶ build ✅

[2021-06-24 18:15] beeankha commented on #7059
This work is starting to become finalized and transferred into ASCII Doc format in the downstream docs repo; closing this issue.

[2021-06-24 18:15] #7059 closed, assigned to beeankha, masbahnana

[2021-06-24 18:22] kladiv commented on #9297
is this issue solved in the latest released AWX version?

[2021-06-24 18:54] akus062381 commented on #10222
resolved

[2021-06-24 18:54] #10222 closed, assigned to mabashian

[2021-06-24 19:04] akus062381 commented on #7487
resolved

[2021-06-24 19:04] #7487 closed, assigned to marshmalien

[2021-06-24 19:17] AlanCoding opened #10513 "Link dependencies of a jobs for `update_on_launch` behavior"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
If you have a project with `update_on_launch` set to True, then a project update will happen before a job using that project launches.

There is no way to see this connection in the UI.

The API stores this information the a `dependent_jobs` relationship in the database. This is not exposed through the API.

Presumably, it may be useful to provide de

[2021-06-24 19:18] #10216 closed, assigned to kialam

[2021-06-24 19:30] kialam commented on #10513
Agree with @AlanCoding that it might be a good idea to show these ancillary relationships in the UI, probably in the Details tab or someplace similar. I spoke with @trahman73 about how to best expose the specific case of the project sync job details link that is somewhat hidden behind the status icon next to the "Project" detail. Here is the proposed/updated mockup:

https://tower-mockups.testing.

[2021-06-24 19:38] AlanCoding commented on #10513
Keep in mind, this is a list-valued thing. There may also be inventory updates which are dependencies. A single job can have multiple inventory update dependencies, in addition to a project update dependency.

For UI purposes, I should note that you can safely assume that all inventory updates would be in the inventory for the job, and any project update would be for the job's project.

[2021-06-24 20:06] akus062381 opened #10514 "Add job cancel button to Workflow Job Output Screen"
On the job output screen of a Workflow, I am suggesting that a cancel button be added there.
![image](https://user-images.githubusercontent.com/63685497/123325647-45a6a000-d506-11eb-9ee4-8efc4f0063a9.png)

[2021-06-24 20:09] akus062381 opened #10515 "Node Add Modal for Workflow Approval- Display Fix Needed"
In this screen of the modal where a user adds  a Workflow Approval node, under Timeout, the min and sec characters are displaying in a stacked manner instead of left to right
![image](https://user-images.githubusercontent.com/63685497/123325913-9b7b4800-d506-11eb-81a6-96cc4a593bd4.png)

[2021-06-24 20:16] akus062381 commented on #8374
Resolved

[2021-06-24 20:16] #8374 closed, assigned to mabashian

[2021-06-24 22:40] #7938 closed, assigned to keithjgrant

[2021-06-25 01:10] garamirseokim opened #10516 "Custom message banner about important information other than checking a log file"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Custom message banner to notify Users about important information(eg upgrades)/service interruptions etc other than checking a log file. This custom message should appear on all pages the top of the screen of Tower.

[2021-06-25 01:26] DLV111 commented on #10516
I'd like this feature too, when running in an enterprise world being able to display a message to users about an upgrade or known issues is very helpful.

[2021-06-25 07:56] AlekseiSaff commented on #10505
I'm struggling to find a solution, cause it's the only one stop factor from jumping docker 17.x into k8s 19.x

any ideas?

[2021-06-25 09:18] lucab85 opened #10517 "created_by null on scheduled job with custom notification"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The field `created_by` is **null** when invoked by a **scheduled job** on a custom notification.

In conjunction with that any sub attribute couldn't be referenced, such as `job.summary_fields.created_by.username`,  and then the whole message will not be constructed.

##### ENVIRONMENT
* AWX version: latest
* Ansible version:  2.9.15
* Operating System

[2021-06-25 12:28] Zokormazo commented on #8648
This feature was released on 1.5 . We are using 2.x now on our default ees

[2021-06-25 12:28] #8648 closed, assigned to nobody

[2021-06-25 13:01] tiagodread commented on #10396
This is now implemented

[2021-06-25 13:01] #10396 closed, assigned to AlexSCorey

[2021-06-25 13:28] akus062381 commented on #8195
resolved

[2021-06-25 13:28] #8195 closed, assigned to AlexSCorey

[2021-06-25 13:29] Zokormazo commented on #10043
ee's are already shipping this

[2021-06-25 13:29] #10043 closed, assigned to nobody

[2021-06-25 13:30] tiagodread commented on #8063
I was not able to reproduce this bug anymore.

[2021-06-25 13:30] #8063 closed, assigned to tiagodread

[2021-06-25 13:53] akus062381 commented on #6613
resolved

[2021-06-25 13:59] nixocio commented on #6613
I will re-open this one, it needs to be re-evaluated.

[2021-06-25 15:21] wenottingham commented on #5798
-> #1971

[2021-06-25 15:21] #5798 closed, assigned to nobody

[2021-06-25 15:21] wenottingham commented on #10516
-> #1971

[2021-06-25 15:21] #10516 closed, assigned to nobody

[2021-06-25 15:32] sonofalder commented on #6042
@wenottingham Just wanted to follow up on this. I don't see that this is something that we have in any newer versions. Right now the company that I am working for is in talks about making an entire entrypoint that gets called in to before it hits AWX. An entire que system, with the ability to also completely disable a template in cases where there is maintenance that needs to be done and we don't

[2021-06-25 15:48] strollo opened #10518 "Receiving 401 Unauthorized when using Notification Template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Access to webhook external APIs for notifications no more working after migration from AWX 17 to AWX 19.2.0

##### ENVIRONMENT
* AWX version: 19.2.0
* AWX install method: docker on linux
* Ansible version:  2.12.0.dev0
* Operating System: CentOS Linux 8
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Webhook to Cisco Webex message system (https://webe

[2021-06-25 16:35] nixocio commented on #7675
Already verified.

[2021-06-25 16:35] #7675 closed, assigned to nixocio

[2021-06-25 16:51] nixocio commented on #9550
The same issue is also present on projects screen.

<img width="1780" alt="image" src="https://user-images.githubusercontent.com/9053044/123459247-059df680-d5b4-11eb-8502-90e60c21a900.png">

[2021-06-25 17:02] thenets commented on #9297
@kladiv I corrected myself on the comment above. The tests passed on latest build:
- The fixes are available on "devel" branch
- Also, should be available next AWX release

[2021-06-25 17:02] #9297 closed, assigned to AlanCoding, thenets

[2021-06-25 17:08] shanemcd commented on #10406
This will be clarified by the PR linked above.

[2021-06-25 17:08] #10406 closed, assigned to nobody

[2021-06-25 17:08] metabsd commented on #10211
Do I have to use the default EE coming with awx-operator or I can use my own one ?

There is a relation or it's principaly ansible.awx concern.

I will run the test next week with 19.2.1 deploy with awx-operator 0.11

Thx!

[2021-06-25 17:11] shanemcd commented on #10461
This will be clarified by the docs update in https://github.com/ansible/awx-operator/pull/412 which is going to merge shortly.

[2021-06-25 17:11] #10461 closed, assigned to nobody

[2021-06-25 17:18] shanemcd commented on #10485
It's my understanding that this is due to overlapping job IDs between different clusters. If this is the case, a better way to do this would be to include the the cluster ID as a part of the search query / filter.

[2021-06-25 17:20] karezza opened #10519 "What is recommended method to install ca certs to get LDAP TLS to work? (minikube)"
##### ISSUE TYPE
 - Documentation

##### COMPONENT NAME
 - Installer

##### SUMMARY
LDAP on 389 with no TLS works, enabling causes cert errors.  Seeking recommended method to install ca certs.

##### ENVIRONMENT
* AWX version: AWX 19.2.0
* AWX install method: operator, developer environment
* AWX deployment target: minikube
* Operating System: CentOS8
* Web Browser: chromium-browser

##### STEPS T

[2021-06-25 17:23] shanemcd commented on #10489
Hello. Did you migrate from a local docker install or did you start fresh with the operator?

[2021-06-25 17:26] shanemcd commented on #10489
Can you provide the json from `/api/v2/project_updates/10000`?

[2021-06-25 17:40] shanemcd commented on #10505
Forcing the operator to reconcile should recreate the default EEs. You could do that by just deleting something like the awx pod.

[2021-06-25 17:43] shanemcd commented on #10507
PRs welcome.

[2021-06-25 18:06] wenottingham commented on #10471
`Reboot initiated by ansible` could be a playbook run outside of AWX as well.

One thing to try - check ad-hoc commands run against the host. That would be in the API at `/api/v2/hosts/<host id>/ad_hoc_commands/`

[2021-06-25 18:09] wenottingham commented on #10500
Tags are passed from AWX to ansible via commandline args - trying to influence that from variables passed to the job isn't practical, as we'd have to be interpreting the variable namespace before job execution (vars can come from inventory, etc).

I'd follow option 2 - if you update the template the workflow node uses, the new definition will be used when it's kicked off. You will want to unset `a

[2021-06-25 18:09] #10500 closed, assigned to nobody

[2021-06-25 18:35] #10485 closed, assigned to nobody

[2021-06-25 18:42] tra7nce opened #10521 "For governance, enforce prechecks against playbooks/workflows or inventories and potentially post checks."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
**Who benefits from this feature?:**
Organizations benefit from the ability to have governance with less points of failure and less overhead. If implemented into mature ci/cd piplines it would enable the org to further enhance their security. Smaller teams that cannot implement mature ci/cd pipelines to help manage and enforce code would benefit. Thi

[2021-06-25 19:02] wenottingham commented on #10521
Not commenting specifically before or against this, just noting that the level of design that would go into a feature like this is fairly high. By constraining it to admins, it's not something you'd implement in the core ansible language, and trying to tie this to job execution, it would involve a fairly large redesign of how both workflows and templates work.

[2021-06-25 20:44] chris93111 opened #10526 "Can't export logs in logstash"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Any export logs to aggregator not work
after investigation awx_task try to restart rsyslog with supervisorctl but rsyslogd is absent in supervisor_task

start manualy rsyslogd in awx_tasks solve the problem

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.9
* Operating System: redhat
* Web Browser:

[2021-06-25 20:59] wenottingham commented on #10519
See https://github.com/ansible/awx-operator/issues/376

[2021-06-25 20:59] #10519 closed, assigned to nobody

[2021-06-25 21:35] chris93111 commented on #10526
2021-06-25 21:32:11,306 DEBUG    awx.main.utils.reload Issuing command to restart services, args=['supervisorctl', 'restart', 'tower-processes:awx-rsyslogd']
2021-06-25 21:32:11,542 ERROR    awx.main.utils.reload supervisorctl restart awx-rsyslogd errored with exit code `7`, stdout:
unix:///var/run/supervisor/supervisor.web.sock no such file

[2021-06-26 02:10] fosterseth commented on #10506
having trouble replicating on awx devel / ansible-devel, can you post a snippet from your playbook?

here is how I tested,

[code]

![image](https://user-images.githubusercontent.com/8745776/123499064-f9408a80-d601-11eb-8883-773700bfbd9a.png)

[2021-06-26 03:26] coolbry95 opened #10527 "No static files or /var/lib/awx/public directory when run in kubernetes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When running the awx operator with the below configuration awx does not serve static files. The logs below are seen in the pod for the awx-web container.

[code]

[code]

After running /usr/bin/launch_awx.sh the logs look like this. The static files are there and the page loads correctly.
[code]

This is the output of launch_awx.sh
[code]

##### ENVIR

[2021-06-26 04:01] AlekseiSaff commented on #10505
thanks, but why do you think we should recreate the default EE? I did it several time POD recreation, but still the same issue

[2021-06-26 07:55] AlekseiSaff commented on #10505
that's not an issue to recreate AWX pod. I'm more interested in resolving main issue. Any ideas @shanemcd ?

[2021-06-26 20:32] felipe4334 opened #10529 "Default Container group not downloading collections/requirements.yml"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

I'm currently having an issue were when a job is created on a container group, and it triggers a job pod to be created. The new pod does not use the collections/requirements.yml file or even requirements.yml in the root directory of the project.

This is the error I get when running a job from a container group, it

[2021-06-27 03:22] fosterseth commented on #10505
Can you please post the ansible-inventory or script output (please redact sensitive info)? also, which 8 of these are correctly synced when using awx?

[2021-06-27 03:31] AlekseiSaff commented on #10505
script output attached
ansible-inventory output attached

every time it can be different hostst. One run can be 7, next run 8 or 9
here are two examples of two different sync jobs
[second_run.txt](https://github.com/ansible/awx/files/6720976/second_run.txt)
[first_run.txt](https://github.com/ansible/awx/files/6720977/first_run.txt)
[ans-inv.txt](https://github.com/ansible/awx/files/6720978/ans-inv

[2021-06-27 03:33] AlekseiSaff commented on #10505
as I previosly mentioned that script worked well for me from AWX 14, 15 and 17

[2021-06-27 14:12] wreiner commented on #10527
Got the same issue. Also running the launch script manually populates the public directory.

[2021-06-27 15:37] joaogl opened #10530 "AWX Stuck on ansible.builtin.service steps"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - AWX

##### SUMMARY
Hey,
I have quite a few playbooks doing all sorts of things, from setting up VM's to installing software. I guess the usual.
I've recently started using AWX and more specifically AWX on docker through operator, and all playbooks are working just fine except one specific step.
I can't seem to understand why but all the playb

[2021-06-27 23:11] quincysting119 commented on #10471
Just tried with not much information. Does it mean any ad-hoc run againt the host from command line is not traceable? We would not be able to see who trigger the job?

![image](https://user-images.githubusercontent.com/77130598/123562214-a0831480-d7f0-11eb-843a-18d0f949e8d0.png)

Thanks,
Ian

[2021-06-28 05:07] tmanninger commented on #10527
I have the same issue

[2021-06-28 13:25] ptrinesh opened #10531 "AWX UI is not accessible when firewalld is enabled"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX UI is not accessible when firewalld is enabled

##### ENVIRONMENT
* AWX version: 19.1.0
* AWX install method: Kubernetes
* Ansible version:  2.11.1
* Operating System: Centos 8.3

##### STEPS TO REPRODUCE

Enable the firewalld and install awx

##### EXPECTED RESULTS

Ports to be opened should be mentioned in case if firewalld is enabled

##### ACTU

[2021-06-28 13:42] coolbry95 commented on #10527
Small update final line ```/usr/bin/launch_awx.sh``` is running. I made a new image to test the script was running.

Looking into how to debug awx-mange now.

[2021-06-28 13:42] passe4wedo commented on #9747
Are there any news about this issue?

[2021-06-28 14:09] coolbry95 commented on #10527
Looks like it works in minikube a couple of colleagues got it successfully running there. I am running in AKS though and it is not working. They do not have the /var/lib/awx/public directory either.

[2021-06-28 14:14] kdelee commented on #9961
I tested a fix @shanemcd has on a branch.....that fixes this error message handling...all we need now is for that to get merged to awx@devel

[2021-06-28 14:15] AlanCoding commented on #3693
Since the Job model has a `canceled_on` field, it would make sense that the Job model has the `canceled_by` field.

confirmed that if a job is canceled, an activity stream entry for that action is not recorded.

Alternative implementation: If we record it in the activity stream, then we might make the `operation` field "cancel", and then the person who canceled would obviously be the related `acto

[2021-06-28 14:44] kdelee commented on #9961
should be fixed by 1ed170fff096dfdee01c6d6c449632c6ac72cff4

[2021-06-28 14:45] shanemcd commented on #9961
To be clear, the unhelpful `RuntimeError: Pod Running` error should be fixed by the aforementioned commit.

[2021-06-28 15:03] rmauc commented on #9658
+1 for this enhancement

[2021-06-28 15:40] AlexSCorey commented on #10272
I wasn't able to reproduce this consistently.  I did get this error on occasion when deleting inventory source sync jobs, but also a when deleting a mixture of different kinds of jobs.

[2021-06-28 15:41] rmauc commented on #5209
minus 1 for bitbucket. We couldn't wait and are going with Terraform instead.

[2021-06-28 15:43] akus062381 opened #10533 "Org Access Tab- First Name Displayed in Last Name Column"
Bug Report

Issue: When a user is on the Access tab of an organization, and users are shown there, the first name of the user is also printed in the last name column (instead of the last name being there).

Expected results: the Org Access page name columns would show the first name and last name properly.

Actual Results: The user's first name is displayed in the first name column and the last na

[2021-06-28 15:46] akus062381 opened #10534 "Credential Name for an Execution Environment- Display runs off screen"
Bug Report

Issue: The credential name displayed on the detail page for an Execution Environment runs off screen if it has more than a certain number of characters.

![image](https://user-images.githubusercontent.com/63685497/123665509-5a38b000-d806-11eb-9222-5a35888d822a.png)

[2021-06-28 15:49] akus062381 opened #10535 "Access tab for a template- Adding access should only show available teams"
Bug/Feature Request Report

I feel like this is a combo bug report / feature request-
When the admin user is inside the Access tab of a template, and they add Teams, there are teams displayed in this list of options that are not able to be added to access for that template. The user can click the team name and complete the modal to add it, but when the user is redirected back to the access tab sho

[2021-06-28 16:42] AlekseiSaff commented on #10505
not an AWX issue!

[2021-06-28 17:26] wenottingham commented on #10471
The API is searched by the ID, not the name.

[2021-06-28 17:41] wenottingham commented on #10530
You'd need debugging information on the server you're trying to restart services on; there's not enough here to go by, and may be an issue with ansible itself, not AWX.

[2021-06-28 17:45] AlekseiSaff commented on #10505
an issue is related to how DNS  works in minikube
finally I managed to add my own /etc/resolv1.conf file into EE image
COPY resolv.conf /etc/resolv1.conf

and during initialization of dnsresolver provide that file as argument

[2021-06-28 17:46] wenottingham commented on #10529
The intention for using collections in an execution environment is that you do one of:
- use collections/requirements.yml to download collections at runtime
- embed the collections *in your exectuion environment* at execution environment build time

Volume mounting /etc/ansible from the host is not how it's designed.

[2021-06-28 17:50] wenottingham commented on #10505
OK, thanks for letting us know.

[2021-06-28 17:50] #10505 closed, assigned to nobody

[2021-06-28 17:54] wenottingham commented on #3693
Yea, i think an entry with operation of `cancel` makes sense.

[2021-06-28 18:20] ldbrin commented on #10527
I am running into this issue as well on an OKD cluster.  Running the script manually resolved the issue for the container.

[2021-06-28 19:47] felipe4334 commented on #10529
Hello @wenottingham "use collections/requirements.yml to download collections at runtime" I'm trying to do exactly this and it's not working with Instance Groups. The volume mounting of /etc/ansible was just as a temporary fix. I would like for the instance group to be able to use collections/requirements.yml at runtime which is not at the moment.

[2021-06-28 21:19] #2976 closed, assigned to shanemcd

[2021-06-29 06:05] edvinas31 commented on #2354
Started to face same issue

[2021-06-29 06:59] acelinkio opened #10539 "19.2.2 `Ansible Tower` credential type missing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

`Ansible Tower` credential type is missing.

##### ENVIRONMENT
* AWX version: 19.2.2
* AWX install method: awx-operator version: 19.2.2 on kubernetes v1.21.2+k3s1
* Ansible version:  4.1.0
* Operating System: Ubuntu 20.04
* Web Browser: Chrome

* awx.awx collection version: 19.2.2

##### STEPS TO REPRODUCE
* Navigate to Create New Credential page
* Ca