[2019-12-03 19:51] #5432 closed, assigned to nobody

[2019-12-03 20:10] AlanCoding opened #5433 "Move our custom AutoSchema class to use DRF utilities for this"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In https://github.com/ansible/awx/pull/5407 we are updating Django REST framework.

But in doing that, we are setting this to a old / deprecated kind of class

https://github.com/ansible/awx/blob/e70c7ab458b46402e182bf1b66517021f7482394/awx/api/swagger.py#L10

[code]

We actually have our own `AutoSchema` class, which we conditionally inject into our

[2019-12-03 20:43] sammybenjamin commented on #5432
My organization security team has flagged a security exposure to use older versions of  jquery-1.12.4.min.js  (update to 3.4.10), and bootstrap 4.1.3 (update to 4.4.1) due to known vulnerabilities.

This should be handled in the development stream to add a fix to the deployed AWX installation.

[2019-12-03 20:58] ryanpetrello commented on #5432
Modern versions of AWX use jQuery 3.4.1:

https://github.com/ansible/awx/pull/3891

What version of AWX are you running?

[2019-12-03 21:01] sammybenjamin commented on #5432
AWX version is 2.7.9

[2019-12-03 21:04] ryanpetrello commented on #5432
@sammybenjamin that's an Ansible version, not an AWX version:

https://github.com/ansible/awx/releases

From one of your AWX hosts, you can run:

`awx-manage --version`

[2019-12-03 21:05] sammybenjamin commented on #5432
# awx-manage --version
4.0.0.0

[2019-12-03 21:06] ryanpetrello commented on #5432
@sammybenjamin you'll want to upgrade to a newer version of AWX if you want a newer version of jQuery.

I recommend the latest (9.0.1).

[2019-12-03 21:10] sammybenjamin commented on #5432
Thank you @ryanpetrello for your prompt advice.

[2019-12-03 21:17] mabashian commented on #5432
Just for reference - the `vendor.*.js` file is generated when the web application is compiled.  It's a generated file - not meant to be edited.  We use webpack to bundle our vendor files as well as our source code.  That file is generated based on the dependencies specified in [here](https://github.com/ansible/awx/blob/eea97c89286bca0c029f8f187f610fb2d1aac48d/awx/ui/package.json#L97).  You can see

[2019-12-03 21:24] kdelee commented on #5326
Confirmed this back in 3.6.1 times, just forgot to close this

[2019-12-03 21:24] #5326 closed, assigned to kdelee

[2019-12-03 23:54] mhurron commented on #5242
Pretty sure this isn't a bug. The release notes for 9 say they upgraded the containers to be built from CentOS 8, which makes a changes to installing python.

https://developers.redhat.com/blog/2019/05/07/what-no-python-in-red-hat-enterprise-linux-8/

Red Hat doesn't recommend linking python3 to python, but since this is a single use container you might be able to get away with it. A better soluti

[2019-12-04 02:51] ryanpetrello commented on #5242
Yep, what @mhurron said.  CentOS 8 doesn't have a `/usr/bin/python/` because python2 is being retired **very soon**.

[code]

Under the hood, AWX now runs entirely on python3.  If you have some specific reason for continuing to run inventory scripts under python2, install it.  However, we highly recommend people switch as soon as possible:

http://pythonclock.org

Realistically, if you're saying t

[2019-12-04 02:51] #5242 closed, assigned to nobody

[2019-12-04 07:22] nicolaibaralmueller commented on #5400
@dansou901 Same subject but different error message.

[2019-12-04 09:10] jordips commented on #5338
@dsesami @ryanpetrello @marshmalien thank you very much!

[2019-12-04 09:27] ture-karlsson commented on #5171
Do you know how often the RPM available in EPEL is updated?

[2019-12-04 10:39] mabashian opened #5435 "Upgrade AngularJS to 1.7.x"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Upgrade to the latest patch of AngularJS

[2019-12-04 14:36] AlanCoding commented on #5171
The pipelines that were in place for automatically building this probably cannot be revived, but the actual target to build it should still be functional. Someone can still manually build and upload it.

[2019-12-04 15:38] tp199314 commented on #1731
+1 for credential support in workflow templates :)

[2019-12-04 16:03] chrismeyersfsu opened #5443 "Replace clustered RabbitMQ with something simpler"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Replace our clustered implementation of RabbitMQ with something that is easier to understand and operate (and that matches AWX's needs better).

AWX currently makes extensive use of clustered RabbitMQ:

1.  As a form of direct topic-based RPC for dispatching jobs (e.g., playbook runs) to underlying AWX instances.  This process involves a periodic sch

[2019-12-04 16:10] ryanpetrello commented on #5414
also see: https://github.com/ansible/awx/issues/5443

[2019-12-04 16:47] wenottingham opened #5446 "validate LDAP configuration more tightly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Proxying from an email where group mappings were not working properly:
....
Looks like the culprit was the group dn had a space after the "cn=" in the team mapping for the team that wasn't working correctly
i.e. "cn= groupname,ou=group,dc=example,dc=com"

The syntax check doesn't complain about the space, so looks like that's how it slipped through
...

[2019-12-04 17:00] josephpisciotta commented on #5446
In reference to the email mentioned...

it seems the check to add to the team worked with/without the space but the one that assigns team membership roles does care and will not assign roles correctly if the space is present.

[2019-12-04 18:20] AlanCoding commented on #4540
If this merges it will need docs changes

[2019-12-05 01:19] Uttam92477 opened #5452 "Custom credential not setting environment variables on remote host when used along with machine credential"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On Tower, when using a credential of type 'Custom Credential type' along with credential of type 'Machine credential', the custom credential is not setting environment variables on remote host. I'm getting 'None' when trying to access the said environment variables using env_fallback in module params in a custom module.
**Note:** The same thing is work

[2019-12-05 03:42] Uttam92477 commented on #5452
Probably not a bug. It might have something to do with the way things are executed by Ansible. I raised the bug without knowing about it.  All the modules are analyzed/ partially executed in the 'Ansible controller' and only necessary communication is sent to remote host/ managed host via ssh or other methods. I wrote the custom module assuming it will be executed **on** remote host which I'm exec

[2019-12-05 11:27] nicolaibaralmueller opened #5453 "unable to use azure-cli"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Using azure-cli in AWX fails.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.2

##### STEPS TO REPRODUCE

[code]
Azure-cli installs fine and az --version shows correct output.

Using AWX via web interface however fails. This has worked until AWX 7.0.0

##### ACTUAL RESULTS

[code]

results in...

[2019-12-05 11:52] JRobinson333 opened #5454 "UNREACHABLE! failed to connect to the host via ssh"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A node on the host network cannot be pinged from Ansible AWX despite firewalls from both the host node and target node being disabled completely.

From my investigations so far, there is no route set up inside of the container and awxcompose_default network could be related to the issue. Are overlay networks required?

Adding a route as per solution #2

[2019-12-05 12:53] Commifreak commented on #5214
I just upgraded from 7.0.0 to 9.0.1 today without any problems. Just FYI. The upgrade step completes successfully.

`pg_username` and `pg_database` in `inventory` are set to `awx`

[2019-12-05 13:50] dragan-vucanovic-devtech opened #5455 "Unable to see Job details after some time of using AWX"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 1.0.6.16
* AWX install method: docker on linuxr
* Ansible version:  2.5.4
* Operating System: Windows 10
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

After some time, it's not possible to see Job details from Web Gui, when clicking on JOBS-job name, for a brief period of time  i see "Cog" and "Working" then

[2019-12-05 13:54] ryanpetrello commented on #5455
Hey @dragan-vucanovic-devtech,

AWX 1.0.6 is nearly 18 months old now - we've since fixed a number of issues, including ones similar to what you've described.

Give things a try on a newer version of AWX and let us know if you're still encountering problems.

[2019-12-05 13:54] #5455 closed, assigned to nobody

[2019-12-05 19:12] falcon78921 opened #5458 "Ability to Set ansible.cfg on an Organizational Level"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per a customer's request, they would like to be able to set `ansible.cfg` for use on an Organizational level.

[2019-12-05 19:29] kfox1111 opened #5461 "tower_schedule ansible module"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There is no ansible module for declaratively requesting a job schedule be configured. There needs to be one.

[2019-12-05 20:27] wenottingham commented on #5458
We are unlikely to do this as specified; depending on how ansible.cfg exists in a project this could have all sorts of odd interactions.

It is best tackled as part of https://github.com/ansible/awx/issues/5157

[2019-12-05 20:27] #5458 closed, assigned to nobody

[2019-12-06 08:56] s10g commented on #5454
SELinux~

[2019-12-06 09:28] JRobinson333 commented on #5454
I've closed this issue down as I got a resolution but if anyone else stumbles across this one double check your SELinux and do a simple reboot.

We had it pinned down to a an issue in the route tables but running a freshly source alpine image didn't give the same issue despite the ip routes being the same...

[2019-12-06 09:28] #5454 closed, assigned to nobody

[2019-12-06 09:38] thibveni commented on #5214
i still have the error :/
`database user "awx" is not the install user`

"pg_username and pg_database in inventory are set to awx" , same as you...

[2019-12-06 09:59] anxstj opened #5462 "ImportError: No module named concurrent.futures"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running a task with *aws_s3* and python3 in a virtualenv results in *ImportError: No module named concurrent.futures*

##### ENVIRONMENT
* AWX version: 9.0.1 (or 9.2.0)
* AWX install method: docker
* Ansible version:  2.8.5 (or 2.9.2)
* Operating System: CentOS 8 (on Debian 9)
* Web Browser: Firefox 69

##### STEPS TO REPRODUCE

Use the following playb

[2019-12-06 11:30] aquilinux commented on #5428
I've noticed that all the Plesk on CentOS hosts we have are affected by this problem.
This doesn't happen on plain CentOS hosts.

.. but shouldn't the foreman facts import be "host/node indipendent" ?

[2019-12-06 14:50] thibveni commented on #5214
ok so i've succesfully updated awx, here are my changes

`
docker exec -i -t awx_postgres /bin/bash

psql awx awx

update pg_authid set rolname = 'XXX' where oid = 10;
UPDATE 1
update pg_authid set rolname = 'postgres' where oid = 16385;
UPDATE 1
update pg_authid set rolname = 'awx' where oid = 10;
UPDATE 1
#(information from https://www.postgresql.org/message-id/CADbMkNMMwPGkuktp0AYzK0YJXmDDRtuUp

[2019-12-06 15:07] AechLyons commented on #1855
can confirm.
To be clear if I can get LDAp to wrk with a different group type then it will save in the database (aka back up and restore of PGDB will save settings?

[2019-12-06 16:11] dsesami commented on #5435
Verified that angular version is 1.7.9. YOLO also looks normal.

[2019-12-06 16:11] #5435 closed, assigned to mabashian, dsesami

[2019-12-06 16:13] dsesami commented on #5367
instance group/container group links are verified to work normally in `devel`.

[2019-12-06 16:13] #5367 closed, assigned to mabashian, dsesami

[2019-12-06 16:28] wenottingham commented on #5452
This is correct - custom credential env vars are passed to the ansible-playbook process. If you want that propagated to the remote node, you'd set an `environment` section for the play/task which specifies what env vars to propagate.

[2019-12-06 16:28] #5452 closed, assigned to nobody

[2019-12-06 18:13] wenottingham commented on #5428
Please try the devel branch - we merged an updated foreman inventory script there.

[2019-12-06 18:16] ryanpetrello commented on #5416
@kirill-ratkin

Try updating.  I suspect you might be encountering some version of this:

https://github.com/ansible/awx/pull/4487

[2019-12-06 18:24] mnhuttner commented on #306
Alas, Redhat responded to me today:  "Unfortunately, the only way to create LDAP users inside of Tower is to have them login. There is no workaround for this. We do currently have an RFE open to add a sync of LDAP user data into Tower, but we do not have any timeline on when or if this may be implemented. This can be tracked here: https://github.com/ansible/awx/issues/306"

In short, no update.

I

[2019-12-06 19:20] AlanCoding opened #5465 "Make AWX collection adhere to newly introduced sanity test rule"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
See https://github.com/ansible/ansible/pull/65437

A new rule was added, and our modules do not pass. We need to fix this or otherwise we will be out of compliance.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

[2019-12-06 19:49] thedoubl3j commented on #5465
working on this, should have a patch soon @AlanCoding I also caught a few more that I will add into it

[2019-12-06 20:54] AlanCoding commented on #4092
Tested in the linked PR, this is working for skipped at least

![Screen Shot 2019-12-06 at 3 53 11 PM](https://user-images.githubusercontent.com/1385596/70355624-9ed5b280-1840-11ea-89d5-053b7e1c46c7.png)

[2019-12-08 16:37] thibveni commented on #5214
i rolled back with my virtual machine snapshot because i had some unexplainable issues :(

[2019-12-08 22:55] Uttam92477 commented on #5452
Thanks for prompt clarification. I solved my problem.

[2019-12-09 08:12] aquilinux commented on #5428
thanks, i'll give it a try

[2019-12-09 10:42] dragan-vucanovic-devtech opened #5469 "AWX Restore successful-Dashboard empty"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Backed UP AWX 1.0.6.16, postgres database (9.0). On new server
installed AWX 9.0.1,postgres (10.0), restored database, but WEB GUI still empty

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: CentOS 7
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

 On old AWX:
[code]
We

[2019-12-09 10:52] jmartensson commented on #4020
Any update on this? We use RBAC heavily and this is a must to get it to work in a smooth way.

[2019-12-09 11:45] dragan-vucanovic-devtech commented on #5469
It seems i solved it,

This link helped me a lot:
https://github.com/ansible/tower-cli/pull/479 and @johnjeffers  answer.

No need for database restore

As for him, There doesn't appear to be a way to migrate:

System settings
Scheduled jobs
Permissions

But that's OK, much better now, than empty Dashboard

[2019-12-09 11:45] #5469 closed, assigned to nobody

[2019-12-09 14:26] matburt commented on #5419
This is the whole point of hidden directories.

[2019-12-09 14:26] #5419 closed, assigned to nobody

[2019-12-09 16:04] marshmalien commented on #4754
I'm not seeing this on devel - This bug was possibly resolved by https://github.com/ansible/awx/pull/5006

[2019-12-09 16:07] #4754 closed, assigned to nobody

[2019-12-09 16:54] DenisMedeiros opened #5473 "Internal nginx failing in AWX-Web (deployed with Dockerhub image)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After upgrading AWX to the latest version (using the official Dockerhub image), the internal nginx is trying to run on port 80 instead of 8052. The error is the following:

[code]

This bug was also reported in the following bug report:

https://github.com/ansible/awx/issues/5205#issuecomment-548944075

Although it was closed, the bug still persists in

[2019-12-09 17:34] AlanCoding commented on #5465
quick heads up to @squidboylan that this is landing now. It shouldn't affect any observable behavior and I'll probably close this issue myself later.

[2019-12-09 17:56] jaybuidl commented on #2232
Also:
- manually invite the Bot to the channels in Slack

[2019-12-09 20:26] AlanCoding commented on #5461
Prior attempts:

 - https://github.com/ansible/ansible/pull/60040
 - https://github.com/ansible/ansible/pull/43437

I was hesitant to re-file this as it is, because alternatively, we may add some verification that all endpoints have supported modules corresponding to them (and all fields therein). That would capture this as well as all others. We want to generally avoid dealing with these issues o

[2019-12-09 20:34] AlanCoding opened #5474 "[AWX collection] Computed changed status based on API return values"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This replaces the two issues where the value of a field transforms from what the client provides, to what is returned in subsequent API requests.

 - https://github.com/ansible/awx/issues/5321 credential type `inputs`
 - https://github.com/ansible/ansible/issues/64734 JT `survey_spec`

As a general principle, given values cannot be assumed to be saved

[2019-12-09 20:34] AlanCoding commented on #5321
This got too confusing, I made a new issue instead.

[2019-12-09 20:34] #5321 closed, assigned to nobody

[2019-12-10 02:13] pbhandaru opened #5475 "Awx Kubernetes Database not getting created up on New Installs"
##### ISSUE TYPE
 - Bug Report
 - Documentation

##### SUMMARY

##### ENVIRONMENT
* AWX version: 6.1.0.0
* AWX install method: Kubernetes
* Ansible version:  2.8.2
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

pg_username=awx
pg_password=password
pg_database=awx
pg_port=5432

and run

$  ansible-playbook -i inventory install.yml

 ansible-tower management, awx-0  co

[2019-12-10 09:27] thorian93 commented on #2597
As I just hit this *blocker* in my endeavour to get AWX up and running for our existing Ansible configuration: Any updates on this?

[2019-12-10 09:29] thorian93 commented on #4089
As I just hit this *blocker* in my endeavour to get AWX up and running for our existing Ansible configuration: Any updates on this?

[2019-12-10 09:48] thorian93 opened #5476 "AWX uses wrong user for SSH connection"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have an interesting behaviour in AWX: I started implementing playbooks and stuff from existing configuration in AWX and ran those playbooks using a credential and therefore a distinct user which worked fine. I then wanted to use another user so I created a new credential containing a different user name and ssh key, along with the passphrase and beco

[2019-12-10 10:17] aquilinux commented on #5428
Unfortunately i get the same result. Some custom facts present in foreman are not present in awx after sync with foreman.py plugin

[2019-12-10 13:12] ryanpetrello commented on #5475
@pbhandaru,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-12-10 13:12] #5475 closed, assigned to nobody

[2019-12-10 13:13] ryanpetrello commented on #5428
@sjha4 @ares you have any ideas?

[2019-12-10 13:52] ares commented on #5428
This is still using the old way of syncing data. @aquilinux the foreman.py has been reworked and will change the way we fetch data, but you'll need Foreman 1.24 (GA imminent) and I suppose at this point nightly version of awx. Is it possible for you to upgrade? If not, to confirm it's foreman.py issue, do you see this fact in Foreman? It may be the old bug in ansible that we delete ansible facts -

[2019-12-10 16:54] squidboylan commented on #5167
Just merged https://github.com/ansible/test-playbooks/pull/99 which tests this

[2019-12-10 16:54] #5167 closed, assigned to squidboylan, beeankha

[2019-12-10 17:01] ryanpetrello opened #5478 "Deleting Oauth token with itself throws 500 error"
1. create an Oauth token for a user
2. delete the Oauth token using itself as the Bearer
`curl -k -H 'Authorization: Bearer r8jwGD25D9rIDQ6F1lqcRwrejR9gR7' -X DELETE https://localhost/api/v2/tokens/21/`
3. Observe HTTP 500

[2019-12-10 17:01] ryanpetrello commented on #5478
fixed by: https://github.com/ansible/awx/pull/5477

[2019-12-10 19:07] mabashian opened #5480 "JT vault credential select incorrectly allows multiple vault creds with the same vault-id"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Users can select any number of vault credentials to associate with a JT as long as each of those vault credentials has a different vault id.  If a credential with a certain vault id has already been selected and a user selects another credential with that same vault id the application will automatically unselect the original credential in favor of th

[2019-12-10 19:56] cpare opened #5481 "Invalid search term entered. GET returned: 504"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Post patching, AWX containers came up, but users are getting 504 errors when clicking "Templates"
Invalid search term entered. GET returned: 504

##### ENVIRONMENT
* AWX version: 9.0.1.0
* AWX install method: docker
* Ansible version:  2.9.1
* Operating System: Linux
* Web Browser: Multiple

##### STEPS TO REPRODUCE

After patching the host server and

[2019-12-10 19:58] ryanpetrello commented on #5481
@cpare my gut reaction is that this is a resource issue causing slow database queries - a 504 in this context means that the HTTP request to `/api/v2/unified_job_templates/?page_size=20&order_by=name&type=workflow_job_template,job_template` is timing out after two minutes.

Can you share some details about your deployment (resources available to your database, specifically (this document for Red H

[2019-12-10 20:03] shanemcd opened #5482 "Allow webhook endpoints to function as CI checks"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Our initial implementation of webhooks will launch a job for every single event that is caught. For example, enabling webhook events from Pull Request updates will send events for:

This may sometimes be the desired behavior, however there seems to be a use case for a feature that augments the behavior in opinionated ways to play nicely as a CI check

[2019-12-10 21:28] cpare commented on #5481
This is an instance just coming online with a small community containing less than a dozen templates.  With the exception of Postgres, everything is running in docker containers on the same EC2 instance that sits 99% idle throughout the day.
Navigating other areas of the web UI are fine, including history where we had lots of job history (now purged).
I have reached out and requested the Postgres

[2019-12-11 01:13] mrmibrown opened #5483 "Add a configurable option to copy the project source"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add the option to copy the project source for a job run.  Currently this is not configurable and large projects take longer while making local private copies.

[2019-12-11 01:38] wenottingham commented on #5483
Branch/revision is overridable, and changes have already landed to ensure that jobs are not blocked on pending project updates. Neither of those work if jobs do not run from a private checkout. (to say nothing of dealing with execution nodes that come and go.)

[2019-12-11 01:38] #5483 closed, assigned to nobody

[2019-12-11 01:58] matt8754 opened #5484 "can't play insights-client role"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When playing insights-client role in a tower, I hit this error
Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/main/tasks.py", line 1255, in run self.pre_run_hook(self.instance, private_data_dir) File "/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/main/tasks.py", line 1846, in pre_run_hook job

[2019-12-11 08:43] pschmitt commented on #5419
Yes and no.

I just want to be able to manually set the path to a playbook.

[2019-12-11 09:27] ilijamt opened #5485 "Missing Cancel Job button in job details page."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After switching your browser language to non English language (Dutch), the **Cancel Button** is missing from the screen. See attachment.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: doocker
* Operating System: Windows 10
* Web Browser: Chrome 78.0.3904.108

##### STEPS TO REPRODUCE

Switch your browser language to Dutch.

##### EXPECTE

[2019-12-11 11:01] stinager opened #5486 "API get requests duplicated"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I wrote a custom script to build an inventory. The script simply makes a GET request to an API to retrieve a list of machines with the status "ON".

When this script is launched on AWX, I saw multiple GET requests to the API (actually one per host) instead of only one. I don't know where the problem can come from.
`#!/usr/bin/env python3
import request

[2019-12-11 11:18] Elyytscha commented on #4540
we have here 55 repos with roles/requierements.yaml

if its named like this awx does not detect it

if its named roles/requierements.yml it gets detected and used

what will it be in new versions: .yaml or .yml or both?

when will be the next awx release which is able to detect roles/requierements.yaml?

best regards

[2019-12-11 11:29] europ commented on #5257
@wenottingham can you please, share some information?

Is it going to be implemented?
If yes, when should it be released?

[2019-12-11 12:33] AlanCoding commented on #5419
If you check the box to allow branch override on the project it should let you do this, although maybe only by using the API browser.

[2019-12-11 12:43] AlanCoding commented on #5486
To compare the local behavior you need to run `ansible-inventory -i <script>` or `ansible-playbook -i <script>`. It is a published feature of Ansible inventory scripts that it will re-call the script once for every host if it does not provide the `hostvars` dict nested under the `_meta` dict. Yours looks like it doesn't do this, so it is extremely likely that's what's happening. It's also likely t

[2019-12-11 12:43] #5486 closed, assigned to nobody

[2019-12-11 13:08] craph commented on #5064
This issue is still there in the latest version.

So will you be able to reproduce and plan a fix ?

[2019-12-11 13:36] falcon78921 opened #5487 "Blocklist/Allowlist SAML Users From Being Created"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they're wondering if it's possible to blacklist/whitelist users who are authenticating via SAML. Could this be implemented by specifying an attribute to lookup in the response?

[2019-12-11 14:29] benjdudas opened #5488 "[RFE] Allow visibility of instance groups to Org Auditor/Normal Users"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Allow the visibility of assigned instance groups on an Inventory/Job Template to Org Auditors and users with `Use` permission on the resource. The config will be greyed out but still visible by the user from both the UI and `./api/v2/inventories/<id#>/instance_groups/`similar to how it is for System Auditors currently.

[2019-12-11 15:47] wenottingham commented on #5257
We are currently reimplementing the UI in general based on react, see the awx/ui_next directory in the code. There are some search changes happening along with that (https://github.com/ansible/awx/issues/4748) and no other changes with search will land until that lands.

[2019-12-11 17:33] #5065 closed, assigned to keithjgrant

[2019-12-11 19:43] matburt commented on #5419
Yep the api allows manual specification of the path to the playbook... I'm not sure the UI allows this though.

[2019-12-12 01:40] appuk commented on #5401
I verified this on a devel instance and it sends a custom email notification with appropriate subject and body, hence closing the issue

[2019-12-12 01:40] #5401 closed, assigned to beeankha

[2019-12-12 07:56] seth-priya opened #5492 "Adding support for Power Linux (ppc64le) platform"
##### ISSUE TYPE
 - Add support to build awx on ppc64le

##### SUMMARY
I am creating this issue to discuss and seek the community's inputs, thoughts and feedback for the changes required to extend awx on IBM Linux on Power (ppc64le) platform and the approach to be adopted.

I have some preliminary set of changes at https://github.com/seth-priya/awx/commit/11103aedc63e346f6801c831680f75c7a6941077

[2019-12-12 13:55] AechLyons commented on #3897
I did have an exclamation mark in the default admin account for awx and I removed it and reran the yaml file......same error

[2019-12-12 15:26] wenottingham commented on #5492
See https://github.com/ansible/awx/issues/5279#issuecomment-551087497, we do not have plans for this.

[2019-12-12 16:12] aquilinux commented on #5428
Thanks @ares i definetly see facts in foreman that are not imported to AWX host. In my screenshots is just one but those are many. I tried deleting the AWX host and re-running sync but nothing changed. Update options are flagged in source configuration as well.
As far as i can see this https://github.com/ansible/ansible/pull/51546 is not my case.
Some facts are missing from some hosts, i'd say the

[2019-12-12 16:18] megabreit commented on #5388
In my Openshift 3.11 environment this fails with the following error:
[code]
$ ansible --version
ansible 2.8.7
  config file = /home/XXXX/.ansible.cfg
  configured module search path = [u'/home/XXXX/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version =

[2019-12-12 16:21] wenottingham commented on #5388
[code]
Your content is using jinja filters not in the system jinja; this is not an AWX bug.

[2019-12-12 16:32] megabreit commented on #5388
Technically you are right. RHEL 7 is delivering a quite old Jinja 2 version:
python-jinja2-2.7.2-4.el7.noarch
which is not easily updated and creates a non-supported environment.
This change means that you exclude RHEL 7 users from installing AWX in any version of Openshift.
The actual bug (before the fix) just excluded Openshift 3.11 users from installing AWX.

[2019-12-12 17:01] kakawait commented on #5355
@phillipstr do you find anything? I have same issue. Not enable to determine what's the source of the problem.

[2019-12-12 17:42] wenottingham commented on #5388
Oh, sorry, I missed that that was the installer. Can you file that as a new bug?

[2019-12-12 18:32] rebeccahhh commented on #4540
@Elyytscha we are planning to merge a PR (#5439 ) in the coming days that will allow for both .yaml and .yml extensions to be detected. I expect it in the next minor release or the one after it, but you can track our progress at the PR above. Currently I am running the solution through testing to make sure it will function correctly. Hope that helps!

[2019-12-12 19:42] keithjgrant commented on #4613
Patternfly has closed their issue. This might be unblocked now; we should test it out.

[2019-12-12 20:46] ryanpetrello commented on #1886
@one-t let me know if you're ready to close this.

[2019-12-12 21:01] ryanpetrello commented on #5079
Hey @LucaBernstein I've opened a PR to add a new command for generating a new `SECRET_KEY` (if you're interested in trying it out):

https://github.com/ansible/awx/pull/5493

The intended usage here is to:

1.  Stop all running services.
2.  _Run_ the new command `awx-manage regenerate_secret_key` from *one* database-connected node.  The new key is printed, and can be replaced in your inventory.
3

[2019-12-12 21:19] AlexSCorey opened #5494 "Incorrect Delete Modal on InventoryGroupDetail"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The InventoryGroupDetails view does not use the correct delete modal.
##### ENVIRONMENT
* AWX version: 9.1
* AWX install method: docker for mac
* Ansible version:  2.10=
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Go to Inventory --> Inventory Group and click on a group.  Then click delete.
##### EXPECTED RESULTS

![Scre

[2019-12-12 21:30] #1886 closed, assigned to ghjm

[2019-12-13 02:43] phillipstr commented on #5355
Unfortunately no, ended up just reinstalling. Fresh install at 9.0.1 has been working just fine.

[2019-12-13 07:04] MichaelPak opened #5496 "net::ERR_CONTENT_LENGTH_MISMATCH 200 (OK)"
##### SUMMARY
Sometimes, when I try to open a playbook, I get modal screen with error

[code]

In browser's developer tools in the console I see an error

[code]

##### ENVIRONMENT
* AWX version: 9.0.1.0
* AWX install method: docker on linux
* Web Browser: Google Chrome Version 78.0.3904.108 (Official Build) (64-bit)

[2019-12-13 08:43] seth-priya commented on #5492
@wenottingham thanks for you response, just wanted to understand if there are specific reasons you don't want to support this yet on Power and if there is any way we (@gerrith3, our team) can help address those from our side?  thank you

[2019-12-13 08:45] nicolaibaralmueller commented on #5214
Adding driveletter to the mount point solved my issue. This should be added to the AWX code as default.

[code]

[2019-12-13 09:23] kakawait commented on #5355
Finally I found my issue. Is something related SSL certificate from project on `requirements.yml`. That strange because plain old `git clone https://...` works inside `awx_task` container but when awx is using the same command on https://github.com/ansible/awx/blob/devel/awx/playbooks/project_update.yml#L139 it fails. Maybe related to `venv` or other `env` stuff because our custom SSL certificates

[2019-12-13 16:44] megabreit opened #5501 "Kubernetes/Openshift Ansible installer is not working on RHEL 7"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Kubernetes/Openshift Ansible installer does not work on RHEL 7

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: openshift
* Ansible version:  2.8.7 (from Redhat repository rhel-7-server-ansible-2.8-rpms)
* Operating System: RHEL 7.7
* Web Browser: none
* Jinja2 version: python-jinja2-2.7.2-4.el7.noarch

##### STEPS TO REPRODUCE

oc log

[2019-12-13 16:46] megabreit commented on #5388
Done. #5501

[2019-12-13 17:20] wenottingham commented on #5492
In this upstream project, we deliver containers for docker-compose or K8S/openshift installations on x86 only and do not have plans to expand the set of things we provide support for in the upstream repo/delivery.

There is a community of people that maintain things such as RPM delivery of AWX (https://github.com/ansible/awx/issues/3542, etc). If that or a similar community wants to maintain a Pow

[2019-12-13 18:08] wenottingham commented on #5496
Do you have logs from the instance when this happens?

[2019-12-13 18:13] #5492 closed, assigned to nobody

[2019-12-13 18:16] wenottingham commented on #5488
We'll look at this as part of the UI rewrite/refresh.

[2019-12-13 18:24] wenottingham commented on #5476
Can you show (edited screenshot, etc) the job and credential configuration?

[2019-12-13 18:39] AlexSCorey opened #5502 "InventoryGroup Details doesn't update"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Variables doesn't update
##### ENVIRONMENT
* AWX version: 9.0
* AWX install method: docker for mac
* Ansible version:  2.10
* Operating System: Mojave
* Web Browser:Chrome

##### STEPS TO REPRODUCE

Go to Inventories ---> Click on Inventory--> Groups ---> Click on Group ---> Edit ---> Change something about the variables ---> Save

##### EXPECTED RESUL

[2019-12-13 18:53] dsesami commented on #5485
I can confirm that both the pause and delete buttons are missing in both Dutch and Japanese (they're the same button location, it just changes depending on whether or not the job has finished running). The button appears normally in English.
![Screenshot from 2019-12-13 13-52-56](https://user-images.githubusercontent.com/19942822/70824278-ef548f00-1daf-11ea-9539-fb0f6e9c6b4c.png)
![Screenshot from

[2019-12-13 20:05] dsesami commented on #5485
update:

the `ng-show` logic for the element is looking for english strings.
[code]
the value that's currently being returned is `Geslaagd` in the dutch translation, for example. This should be changed to an API value.

[2019-12-16 02:22] MrMEEE opened #5506 "What happend to the Network Visualization???"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hi guys..

What happend to the network visualization??

https://github.com/ansible/awx/pull/1352

[2019-12-16 07:55] Marauder1568 commented on #2206
Install Webmin and use the web editor that's available there. I ended up here searching and thinking the same thing that it would be nice, but came to the same conclusion that it was intentionally designed this way for a reason.

[2019-12-16 11:56] js-max opened #5507 "Unable to change workflow permissions using API"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - API

##### SUMMARY

Would like to use API to add user(s) permissions on a workflow job(s).
Unable to find documentation about it or maybe it's not possible.
Also searched on **Issues** but unable to find similar open/closed issue.

##### ENVIRONMENT
* AWX version: 9.0.1.0
* AWX install method: docker on linux
* Ansible version: 2.8.5

##

[2019-12-16 13:46] Elyytscha commented on #5171
How do i set credentials with tower_job_template on awx version: <  AWX 9.0.1.0 ?

its not working, i think because of the change mentioned in 3.6.0

have to do a really ugly workaround which is id based, so i have to know the id of the credential:

[code]

[2019-12-16 13:50] js-max commented on #5507
Was approaching this problem in the wrong way...

After reading https://docs.ansible.com/ansible-tower/latest/html/userguide/security.html#role-based-access-controls it has written:

For the ones who face this _problem_

Every workflow ([Built-in roles](https://docs.ansible.com/ansible-tower/latest/html/userguide/security.html#built-in-roles)) has 4 roles created out of the box for you:
- Admin
-

[2019-12-16 13:50] #5507 closed, assigned to nobody

[2019-12-16 14:37] wenottingham opened #5513 "Determine the keys to use for filtering in `host_filter`"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

As we move to the new search flow in ui_next where there is a starting set of keys for easier filtering, we should determine how we would want to do this in the host_filter for smart inventory, and if we would want to populate keys based on specific ansible fact names (e.g., `ansible_system`, `ansible_distribution_version`, `ansible_os_family`, etc.

[2019-12-16 15:02] AlanCoding opened #5514 "Improve event processing performance by passing host_id through event data"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Proposal to eliminate the need to do a query on every job event save to obtain the database id of the host it is operating on.

This logic would be replaced:

https://github.com/ansible/awx/blob/112f89660b40c7eeafb9cd4bdbb4837525913f8b/awx/main/models/events.py#L354-L367

The host id can be obtained in the script data if using these parameters `/api/

[2019-12-16 15:05] chrismeyersfsu commented on #5514
`remote_tower_id` sounds too much like a variable intended for the multiple tower inventory feature. How about `tower_host_id`

[2019-12-16 15:46] wenottingham commented on #5506
We decided not to pursue it as a priority, so it was dropped.

[2019-12-16 15:46] #5506 closed, assigned to nobody

[2019-12-16 15:47] wenottingham commented on #5213
This should be fixed by https://github.com/ansible/awx/pull/5409, we should have a new release with that out in the near future.

[2019-12-16 15:47] #5213 closed, assigned to ryanpetrello

[2019-12-16 16:19] wenottingham commented on #4940
pushing to pf-rewrite

[2019-12-16 16:33] Fiasee commented on #3204
where you able to resolve?

[2019-12-16 16:36] wenottingham commented on #5055
punting to ui-next

[2019-12-16 16:37] wenottingham commented on #4866
punting low-priority UI nits to ui-next

[2019-12-16 16:38] wenottingham commented on #4846
punting low-priority UI nits to ui-next

[2019-12-16 16:38] wenottingham commented on #4747
punting low-priority UI nits to ui-next

[2019-12-16 16:39] wenottingham commented on #4745
punting low-priority UI nits to ui-next

[2019-12-16 16:47] wenottingham commented on #5121
punting to ui-next

[2019-12-16 18:23] manderson-it commented on #284
It would be great to have this as a standard product feature. To only have logical OR convergence is insufficient.

[2019-12-16 18:35] mrmibrown opened #5518 "Cache the roles directory based on requirements.yml"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Cache the roles directory based on requirements.yml to expedite jobs with larger repositories.

[2019-12-16 19:32] MrMEEE commented on #5506
@wenottingham Isn't the Network Visualization included in Ansible Tower??

[2019-12-16 19:38] wenottingham commented on #5506
Nope.

[2019-12-16 21:29] manderson-it commented on #3054
It would be great to have this as a standard product feature. To only have logical OR convergence is insufficient.

[2019-12-17 06:26] rustycl0ck commented on #1532
Was this fixed for anyone? I am unable to clone any git repos with my ssh keys at all (maybe because `git clone` then uses ssh, which does not go through the `http`/`https` proxy?).

[2019-12-17 09:42] soniya20 opened #5521 "Jobs get stuck in execution state when awx_task container is down"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Jobs get stuck in execution state when awx_task container is down

##### ENVIRONMENT
AWX version: 9.0.1
AWX install method: doocker
Operating System: rhel7.4
Web Browser: Chrome 78.0.3904.108

##### STEPS TO REPRODUCE
1. Login to AWX dashboard using admin credential.
2. Click on ""Templates' panel  and select 'Job Template' to create a new job template

[2019-12-17 10:13] MichaelPak commented on #5496
In `awx_web` container I found nginx errors:
[code]

And inside container:
[code]

[2019-12-17 10:23] soniya20 opened #5522 "No warning or notification displayed while changing the only admin user privilege from admin to normal."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
No warning or notification displayed while changing the only admin user privilege  from admin to normal.

##### ENVIRONMENT
AWX version: 9.0.1
AWX install method: doocker
Operating System: rhel7.4
Web Browser: Chrome 78.0.3904.108

##### STEPS TO REPRODUCE
1. Login to AWX  dashboard with admin user.
2. Now click on users panel and  make sure there is o

[2019-12-17 10:26] soniya20 opened #5523 "No error received when management jobs are scheduled in past date"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
No error received when management jobs are scheduled in past date

##### ENVIRONMENT
AWX version: 9.0.1
AWX install method: doocker
Operating System: rhel7.4
Web Browser: Chrome 78.0.3904.108

##### STEPS TO REPRODUCE

Case 1:END date = Never
1. Login to AWX dashboard with admin user.
2. Now click on the management job and select "Cleanup Activity Stre

[2019-12-17 10:30] soniya20 opened #5524 "No error is received when user schedules a job in past date."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
No error is received when user schedules a job in past date.

##### ENVIRONMENT
AWX version: 9.0.1
AWX install method: doocker
Operating System: rhel7.4
Web Browser: Chrome 78.0.3904.108

##### STEPS TO REPRODUCE
1. Login to AWX  dashboard with admin user
2. Now click on inventory panel to create a new inventory.
3. Select group tab in inventory and ad

[2019-12-17 11:44] tamilsaran opened #5525 "How to reset admin password in awx"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[2019-12-17 12:18] Ashjoker24 commented on #5525
sudo -u awx scl enable rh-python36 rh-postgresql10 "awx-manage changepassword admin"

[2019-12-17 12:19] #5525 closed, assigned to nobody

[2019-12-17 14:46] lemmy04 opened #5526 "can't manage docker from AWX"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have a very simple playbook that does nothing besides run one command inside a docker container. Playbook is here: https://polr.eregion.de/1/8adc
It works fine from a commandline, but it does **not** work when executed from within AWX.
The second task fails with this output:

TASK [flush dns cache on {{ item }}] **************************************

[2019-12-17 14:53] shanemcd commented on #5526
AWX itself is running inside of Docker. This is not a bug, but an aspect of how the system works. If you want to run `docker` inside of your AWX containers, you would need to make the necessary changes to allow for running docker-in-docker. This issue tracker is not the place for this discussion, but you can try asking for help in IRC or the mailing list. Links for both can be found here: https://

[2019-12-17 14:53] #5526 closed, assigned to nobody

[2019-12-17 14:55] anxstj opened #5527 "LDAP Org-Admins are not allowed to grant permissions to other LDAP users"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Our organizations, teams and users are mapped from LDAP. I would expect that a organization admin is allowed to grant organization permission to other LDAP users. But that's not possible. The organization admin can only manage non-LDAP users.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.2
* Opera

[2019-12-17 15:25] lemmy04 commented on #5526
so basically you are telling me that AWX by design can not manage anything that is located inside a docker container, unless there is "some other way" to get into the containers, for example by ssh?

[2019-12-17 15:36] shanemcd commented on #5526
I didn't say it was by design, I said it was an aspect of how the system works. This is not specific to AWX. If you were running anything else inside of a container you would run into this same problem. I would not recommend trying to SSH into a container. Perhaps SSHing to the host where Docker is running would make more sense.

[2019-12-17 15:49] xelgand opened #5528 "New AWX CLI returns type error when modifying list or dict settings"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When trying to modify a list or dictionary valued setting from the **awx** command line tool, the API return a type error.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: Kubernetes
* Ansible version:  2.7.11
* Operating System: Ubuntu 18.04
* Web Browser: Firefox 71

##### STEPS TO REPRODUCE

1. Install the AWX CLI tool:
[code]
2. Try to

[2019-12-17 15:52] lemmy04 commented on #5526
ok then lets not say "by design", but basically what you're saying is that because awx_task is a docker container, ansible_connection can't be docker, right?

anyway I'm doing the job as a simple shell: task on the host that runs the containers now.

[2019-12-17 19:09] ilijamt opened #5530 "Upgrade from 9.0.1 to 9.1.0 breaks the system"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Upgrading from 9.0.1 to 9.1.0 broke the upgrade

##### ENVIRONMENT
* AWX version: 9.0.1 to 9.1.0
* AWX install method: k8s

##### STEPS TO REPRODUCE

Upgrade from 9.0.1 to 9.1.0 using the ansible-playbook installer.

[code]
##### EXPECTED RESULTS

Upgrade to finish successfully and without an issue.

##### ACTUAL RESULTS

System broke.

##### ADDITIONA

[2019-12-17 20:35] shanemcd commented on #5530
Can you confirm that you followed the steps here: https://github.com/ansible/awx/blob/devel/INSTALL.md#upgrading-from-previous-versions

I am unable to reproduce.

In the installer logs, under `Migrate database`, you should see something like:

[code]

[2019-12-17 21:39] ilijamt commented on #5530
Yes I did.

I found a way to fix it though. After spinning the whole cluster up. I used

[code]

After this everything was good.

I don't deploy on OpenShift but use selfhosted K8S and I noticed that the database **awx** is not in the ownership of **awx** but of **postgres** user. All the tables are in the ownership of **awx** except the database itself.

A new deployment failed because it's tryin

[2019-12-17 21:56] silveiralexf commented on #5501
@megabreit, I was having the exact same problem -- fixed it by removing the version I had previously installed with yum, and installed it with pip instead:

[code]

After that, all worked well for me -- hope it helps!

[2019-12-18 04:46] linuxcube opened #5533 "AWX 9.0.1 Dynamic Inventory - Foreman source HTTPS warnings"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Getting a bunch of Warning pertaining to HTTPS, but the objects get loaded into AWX from foreman.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: RHEL 8.0
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Run the sync for Dynamic inventory from source foreman, getting the followi

[2019-12-18 09:52] marvingoetz commented on #5415
@alex-peyrard Got the same problem, with how much memory did it solve the problem?

[2019-12-18 10:11] alex-peyrard commented on #5415
@marvingoetz I found this in the install guide, so I set it to 4GB
https://github.com/ansible/awx/blob/devel/INSTALL.md#system-requirements

[2019-12-18 10:32] strahinjanis commented on #5453
The same here, did you try maybe with 9.1.0?

[2019-12-18 10:34] nicolaibaralmueller commented on #5453
@strahinjanis Yes and as a consequence we are shifting to azure-cli containers for any scripting. It is not good to install stuff on containers post image creation.

[2019-12-18 10:43] strahinjanis commented on #5453
Thanks for the reply @nicolaibaralmueller , I was thinking about the same, to add one microsoft/azure-cli container, beside awx_* ones, then whenever "az ...." comes into the play (because az modules can't obviously cover everything) go with remote shell execution there.
Still, the "original" idea, although a bit quick & dirty sounds as a very convinient one.

[2019-12-18 11:00] nicolaibaralmueller commented on #5453
@strahinjanis This is a way to use docker with azure cli. However passing complex azure cli commands containing special characters might become an issue.

[https://medium.com/@iced_burn/azure-cli-docker-containers-7059750be1f2](url)

[https://stackoverflow.com/questions/59284285/azure-cli-docker-container-unable-to-take-command](url)

[2019-12-18 11:43] adrime92 commented on #2082
I´m having the same issue with AWX 7.0.0

2019-12-18 11:42:15,283 DEBUG    awx.main.dispatch publish awx.main.tasks.cluster_node_heartbeat(39692c1b-c04f-43d2-9788-ffe1f44e4df3, queue=awx-0)
[2019-12-18 11:42:15,283: DEBUG/Process-1] publish awx.main.tasks.cluster_node_heartbeat(39692c1b-c04f-43d2-9788-ffe1f44e4df3, queue=awx-0)
2019-12-18 11:42:15,603 DEBUG    awx.main.dispatch publish awx.main.ta

[2019-12-18 12:35] laurent95380 opened #5534 "FAILED - RETRYING: Wait for management pod to start (60 retries left)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Can't successfully run the ansible-playbook to install AWX.
Management pod won't start and Deployment postgresql #4 failed after playbook run.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift
* Ansible version:  2.9.2
* Operating System: RHEL 7.6
* Web Browser:

##### STEPS TO REPRODUCE

 ansible-playbook -i inventory install.ym

[2019-12-18 13:34] artuja opened #5535 "AWX 9.0.1 Not able to create OpenStack dynamic inventory when sourced from GIT"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

I want to create a dynamic openstack inventory. When I use a custom script as an inventory source it works as expected. But when the same

[2019-12-18 17:19] gcecchi opened #5539 "source sync doesn't update ansible_host when changing ovirt4.py"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
oVirt/RHV integration uses the latest vnic name to bind to ansible_host variable.
With Vms with more than one vnic, typically this doesn't reflect to a resolvable ip and a job template fails with message of unreachable host
So I try to change ansoble_host in ovirt4.py to match vm.fqdn

##### ENVIRONMENT
* AWX version: 9.0.

[2019-12-18 19:25] AlanCoding commented on #5539
could you set the inventory source to verbose and share the relevant output? I would hope that will give the location of the script which is used, which will tell us if it is the same file location as the one you modified or not.

[2019-12-18 19:55] keithjgrant opened #5541 "Extract reusable ActionButtonWrapper component"
##### ISSUE TYPE
 - Refactor/cleanup

##### SUMMARY
Many of the detail views have duplicated code along the lines of:

[code]

This is used to style & position the Edit/Delete buttons on the bottom right of the card. This can be extracted out into a reusable component in `@components/Card` so this work doesn't need to be repeated and can be more consistent throughout the app.

Permission checks fo

[2019-12-18 19:58] keithjgrant commented on #5541
Note: wait for #5520 to merge before starting this branch, as a number of files are likely to conflict

[2019-12-18 23:23] ryanpetrello commented on #5213
Specifically, this should be resolved in AWX 9.1.0:

https://github.com/ansible/awx/releases/tag/9.1.0

[2019-12-19 04:51] Ashjoker24 opened #5545 "Failed to access license information. GET returned status:"
##### ISSUE TYPE
 - Support

##### SUMMARY
Hi I try to loin in AWX dashboard and the console show error like Failed to access license information. GET returned status: after that It logged out me from dashboard and I am getting loin page again.
##### ENVIRONMENT
* AWX version: Tower CLI 3.3.0
* AWX install method: RPM
* Ansible version:  ansible 2.8.5
* Operating System: Centos
* Web Browser: Chro

[2019-12-19 07:33] gcecchi commented on #5539
Here is is sync source output after putting debug

    2.475 INFO     Updating inventory 3: rhvmgr01
    3.348 DEBUG    Using base command: python /opt/my-envs/py36/bin/ansible-inventory -i /var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/plugins/inventory/ovirt4.py --playbook-dir /var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/plugins/inventory -vvvvv
    3.348 INFO     Reading Ans

[2019-12-19 07:37] gcecchi commented on #5539
sorry for layout but I didn't find a way to correctly format...

[2019-12-19 07:47] thorian93 commented on #5476
Sorry for the late response.

Here are the screenshots you asked for:

![2019-12-16 12_42_56-awx_screen_1](https://user-images.githubusercontent.com/12239876/71154517-f9591080-223b-11ea-986e-13651a994cad.png)

![2019-12-16 12_42_56-awx_screen_2](https://user-images.githubusercontent.com/12239876/71154530-feb65b00-223b-11ea-9745-13f9b69424d1.png)

The `ansbile_user` variable in the first screenshot

[2019-12-19 14:34] nicolaibaralmueller commented on #4703
Why was this closed?

[2019-12-19 14:43] alancivita commented on #5248
Hi there,
is there any progress on this one?
thanks

[2019-12-19 15:32] squidboylan commented on #4703
@nicolaibaralmueller I tested devel after https://github.com/ansible/awx/pull/4735 went in and the patch appears to be working, @mwiora reports the same above ( https://github.com/ansible/awx/issues/4703#issuecomment-537040707 ). Are you still experiencing this on latest AWX? What version of AWX are you on? Can you provide any logs or error messages?

[2019-12-19 15:40] alancivita commented on #4703
@nicolaibaralmueller maybe you are facing the same issue i'm facing with nasted submodules as described in #5248
Do you have submodules with nasted submodules?
apparently is a known issue not fixed yet

[2019-12-19 15:58] wenottingham commented on #5476
Is there ansible_user set on the host, group, or inventory?

[2019-12-19 16:37] marshmalien opened #5546 "Handle Deletion Warnings"
## Multi-Delete Modal

### Summary
Original AWX Feature Issue: https://github.com/ansible/awx/issues/275

In the delete modal, we show a warning if the resource is currently used by other resources.  We retrieve the "count" by firing off N number of requests per dependency-- i.e., deleting one credential will fire 4 GET requests to retrieve project, job template, inventory, and inventory source co

[2019-12-19 17:18] #5267 closed, assigned to marshmalien

[2019-12-19 17:25] marshmalien commented on #4239
Reopening Issue - Seeing this behavior in devel
![pagination del](https://user-images.githubusercontent.com/15881645/71194753-8317d680-225a-11ea-92e9-a13bd4d51182.gif)

[2019-12-19 18:44] keithjgrant commented on #5541
I just created a `CardActionsRow` component as part of #5520 -- other detail views just need some simple refactoring to use this component now.

[2019-12-19 18:47] #5263 closed, assigned to marshmalien, dsesami

[2019-12-19 18:56] AlanCoding commented on #4809
@fosterseth is this ready to be moved to needs_test?

[2019-12-19 20:33] #5261 closed, assigned to keithjgrant

[2019-12-19 20:48] kdelee commented on #5443
some additional work items under this:

- [ ] include an `awx-manage` based health check for the redis system
- [ ] include ^ health check in the sos report as well as find way to depend on/enable the redis sos report https://github.com/ansible/awx/blob/devel/tools/sosreport/tower.py so we can get redis logs in sos report
- [ ]  send one final unsubscribed message back to ws client when tower ACKs

[2019-12-19 21:49] atsai1220 commented on #3237
Could I get some more clarification on this please?

I am able to receive a HTTP 101 response from my websocket by pointing my Python app to `wss://my-awx.com/websocket` but I am not receiving either `accept: true` or `accept: false` when I try to subscribe to a job.

My workflow is as follows. First I receive a token from `/api/v2/tokens/` then I use this `headers = { 'Authorization': 'Bearer' +

[2019-12-19 22:11] atsai1220 commented on #3237
Could I get some more clarification on this please?

I am able to receive a HTTP 101 response from my websocket by pointing my Python app to `wss://my-awx.com/websocket` but I am not receiving either `accept: true` or `accept: false` when I try to subscribe to a job.

My workflow is as follows. First I receive a token from `/api/v2/tokens/` then I use this `headers = { 'Authorization': 'Bearer' +

[2019-12-20 01:50] Siegfrost commented on #4481
This enhancement would also be highly beneficial for our usage where we're trying to combine and nest WT created by different teams.
Hopefully this RFE can be prioritized!

[2019-12-20 01:57] hs-hub-world opened #5554 "Smart Host Filter Accepts Value then Crashes on Edit"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When creating Smart Host Filter, in the Dynamic Hosts I am able to use this filter
inventory.name:"Server Inventory"
![image](https://user-images.githubusercontent.com/20629911/71223233-26331500-2288-11ea-87f5-b441c5684122.png)

![image](https://user-images.githubusercontent.com/20629911/71223305-5e3a5800-2288-11ea-80c6-73d61fad0acf.png)

![image](http

[2019-12-20 07:30] thorian93 commented on #5476
That variable is set in the job template just as the workaround.

[2019-12-20 09:20] gcecchi commented on #5539
Just to point out that copying my modified ovirt4.py in /tmp and creating an ovirt.ini with oVirt parameters then if I run
cd /tmp
source /var/lib/awx/venv/ansible/bin/activate
./ovirt4.py
I get the new correct value for ansible_host:
"ansible_host": "cl3.mydomain.it"
So it is a problem of the UI and/or the database, it the information is stored inside it. Do I have a query I can run against the P

[2019-12-20 10:10] LucaBernstein opened #5555 "Configure AWX tasks survey in Ansible repo using vars_prompt"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It would be very nice if as much configuration as possible could be done in Ansible repository directly and not having to use the AWX UI.

I'm thinking about the survey: It would be nice if AWX could use Ansible's vars_prompt entries to build the survey.

Example from an Ansible playbook:

[code]

This would ease setting up a new AWX with minimal eff

[2019-12-20 10:10] LucaBernstein commented on #5555
Possible duplicate of #2299

[2019-12-20 10:14] LucaBernstein commented on #2299
I would also appreciate this feature as I am thinking about a way to store as much configuration as possible, also for the AWX setup, in the main Ansible repository. I want to keep the configuration as code so that I can version it and edit it easily.

Just opened possible duplicate #5555

[2019-12-20 12:03] ikkaro commented on #5530
I've the exactly same problem performing the upgrade. The just hangs on:
TASK [kubernetes : Migrate database]

[2019-12-20 12:40] JonTheNiceGuy opened #5557 "Issue with tower_job_template not setting vault_credential"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This is a continuation of https://github.com/ansible/ansible/issues/62429, which I am opening here to, hopefully, get a resolution on.

With the `tower_job_template` module, if you set `vault_credential`, it returns "OK", but the value of `vault_credential` is not set. Returning the registered result, shows under "`invocation` -> `module_args` -> `vaul

[2019-12-20 12:41] AlanCoding opened #5558 "[AWX collection] Handling of extra_vars is still inconsistent with job launch"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Following up from https://github.com/ansible/ansible/pull/65949

For job templates and other cases, extra_vars is a dict. Launching a job, it is declared as a list. However, the example that worked:

[code]

seems to be using a string.

In the old tests https://github.com/ansible/test-playbooks/blob/d4b39fe0c010cf8dc9c4e6e60113664cd4bf1bbd/tower_modu

[2019-12-20 12:50] AlanCoding commented on #5557
for an immediate fix, I think we would just expand on what was done in:

https://github.com/ansible/tower-cli/commit/761bad184b688b7192512c32a8275bfd391d0c05

[2019-12-20 13:54] ryanpetrello commented on #3237
@atsai1220,

We recently added a new official CLI to AWX, and it includes some underlying libraries (namely, `awxkit`) which could probably be used to accomplish what you're looking for:

https://github.com/ansible/awx/tree/devel/awxkit/awxkit/cli/docs

Here's some pseudocode which is probably close to what you want:

[code]

[2019-12-20 14:02] ryanpetrello commented on #5545
@Ashjoker24,

This repo is for tracking issues with the open source AWX project.  If you've having trouble with an installation of Red Hat Ansible Tower, please reach out to Red Hat support.

[2019-12-20 14:02] #5545 closed, assigned to nobody

[2019-12-20 14:04] loitho commented on #4389
Hi there,
This issue is still happening to me, the problem is described here too :
https://github.com/ansible/awx/issues/4078

When i login into awx_web and find my logo this is the result:
[code]
I just don't want to see the potato logo in the header, I just want to swap it and display the one of the company
(The login logo is already modified)

So I did one of the suggested modification in anoth

[2019-12-20 16:44] JoaoMJoia opened #5561 "awx survey dictionary"
Hello there,

AWX v3.0.0

https://docs.ansible.com/ansible/latest/modules/infini_export_module.html#infini-export-module

ex:
infini_export:
    name: /data02
    filesystem: foo
    client_list:
      - client: 192.168.0.2
        access: RW
        no_root_squash: True
      - client: 192.168.0.100
        access: RO
        no_root_squash: False

I'm trying to implement a playbook for the infin

[2019-12-20 16:49] wenottingham commented on #5561
You'll likely have to take a textarea and then process it into the required data structure.

[2019-12-20 16:49] #5561 closed, assigned to nobody

[2019-12-20 16:50] #5555 closed, assigned to nobody

[2019-12-20 17:18] RodrigoAravena commented on #5331
which version of python do you have? can you have a manual of step for step of installation? regards.

[2019-12-20 17:25] zbenta commented on #5331
I solved the issue by updating to python 3.6.

Cumprimentos / Best Regards,
Zacarias Benta

On Fri, Dec 20, 2019 at 5:18 PM RodrigoAravena <notifications@github.com>
wrote:

[2019-12-20 19:32] silveiralexf commented on #4737
Had exact same issue on 9.0.1 -- after changing `admin_user` to `awx` the install successfully finishes.

[2019-12-20 20:23] nixocio commented on #5083
I have been seeing this, but in fact the jobs do not sit in pending or waiting, instead they failed with the message

[code]

We can reproduce by creating a container group and assigned to a job template, and allowing simultaneous then launch a hundred jobs in succession (this depend on your cluster capacity).

If you watch your container namespace you will see something like that

[code]

Some of

[2019-12-20 20:29] wenottingham commented on #5083
Are we timing out if they are in pending on the cluster waiting for capacity too long?

[2019-12-20 20:35] kdelee commented on #5083
The job gets sent to kubernetes and then fail w/ timeout on AWX because it times out waiting for the pod to be ready to dispatch the job to it.

[2019-12-21 21:12] sadam0930 commented on #1747
Hey I am attempting to use workflows to extend a monolithic ansible repo, but the inability to prompt for tags from a workflow is debilitating. I see this issue is a year and a half old and still "needs_triage". Any traction on this? If I were any good at JS I'd attempt to make a PR myself. Seems like it should be straightforward considering this is on a regular job template and is available behin

[2019-12-22 03:34] saavi21 commented on #571
That worked... https://docs.docker.com/install/linux/linux-postinstall/
The user should be part of docker group.
$ sudo usermod -aG docker $USER

[2019-12-22 10:49] hs-hub-world opened #5564 "Identify changed jobs from high-level"
##### ISSUE TYPE
identify changes from highlevel

##### SUMMARY
we are new to AWX - we think it would make sense for the template/job indicator to show yellow instead of green when there is a change and to show green when there are no changes and red when job fails unless I am missing something -?
![image](https://user-images.githubusercontent.com/20629911/71320790-48ce5500-2465-11ea-86e9-0a4ab2f0

[2019-12-22 21:15] jdorel opened #5565 "RabbitMQ discovery error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I had the following error in RabbitMQ:
[code]

[2019-12-22 21:16] jdorel commented on #5565
Fixed it by editing the `role` (pod-manager) and add the following to the rules:
[code]

[2019-12-22 21:17] #5565 closed, assigned to nobody

[2019-12-23 03:51] songhanpoo commented on #885
Hi All !
- i have config completed nortification send to ms team.
- You only empty user,password field
and send test with json in filed you want
`{
"Text":"Test Connection"
}`
- Below json for field header in your configuation :
`{
"content-type":"application/json"
}`

hope helpful

[2019-12-23 12:19] vibinm opened #5566 "Job continuosly fails on additional replica/instance of AWX in Kubernetes Cluster"
##### ISSUE TYPE
Job continuosly fails on additional replica/instance of AWX in Kubernetes Cluster

##### SUMMARY
Jobs scheduled/manually ran on the second AWX instance (awx-1) (replica) hosted on the Kubernetes cluster fails continuosly.

##### ENVIRONMENT
* AWX version: 9.0.1.0
* AWX install method: Kubernetes (crio)
* Ansible version:  2.8.5
* Operating System: RHEL 7.7
* Web Browser: Firefox

[2019-12-23 16:05] dnguyen9 opened #5567 "Performance Issue with large inventory with large cache and concurrent jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When launching a job template with fact cache enabled concurrently (200-400 jobs), AWX will fetch retrieve the entire inventory of host facts, for each jobs and stores them into AWX file system and memcached.  This becomes problematic when each hosts in the inventory has a larger facts cached on the database.

For the main_host table size of 300MB,  w

[2019-12-23 17:51] kdelee commented on #5292
Seeing a few problems with this when I try it out packaged as tower and deployed as a cluster on VMs.

1) My cluster has 5 ordinary instances and 2 isolated nodes, for a total of 7 instances that show up on `/api/v2/instances`. Only 5 of these show up in the prometheus data - 4 of the ordinary instances and 1 of the isolated instances.

2) The way this renders in JSON in a cluster does not really

[2019-12-23 20:30] kdelee commented on #4147
Tested this out by adding `credentials` key to a POST to a job templates's schedule, it was correctly ignored as was expected behavior (because this endpoint does not use that key and should be sanitized from payload according to our current practice). I did not get a 500 server error, and instead the request was processed correctly. Closing, thanks!

[2019-12-23 20:30] #4147 closed, assigned to fosterseth, kdelee

[2019-12-23 21:49] #4934 closed, assigned to nobody

[2019-12-23 22:02] brennus390 commented on #630
i have prompt on launch enabled but extra_vars is not getting picked up for some reason. is my syntax wrong?

curl -k -H 'Content-Type: application/json' -XPOST -d '{"host_config_key": "st-u-ff", "extra_vars": "{\"ansible_playbook\": \"playbook.yml\"}"}'  https://server.localdomain:443/api/v2/job_templates/1/callback/

[2019-12-23 22:54] trabacct opened #5568 "awx command line: implement -Q 'order_by' (like tower-cli did)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

awx command line does not seem to implement -Q (specifically 'order_by')
With tower-cli I could run:
tower-cli job list -J ${job_template_id} -Q order_by -finished
and *quickly get the status of the last page of runs of a specific job_template (which is very useful for monitoring).  But with the 'awx' command line utility that is replacing tower-cli

[2019-12-24 00:00] trabacct commented on #5568
I found this for my immediate issue:
awx job_templates get --name ${job_template_name} | jq -r '.summary_fields.last_job.status'
but I could see how 'order_by' would still be helpful for other resources.

[2019-12-24 03:54] smuth4 commented on #5388
Unfortunately this fix breaks the installation for my vanilla k8s, since kubectl handles loading the user token to authenticate with the cluster's API server. Does oc implement `get --raw`? That'd probably be the cleanest compromise, although there are other options if need be.

[2019-12-24 04:27] rangsan commented on #4703
I still facing this issue.
AWX 9.0.1
Ansible 2.9.0

Project sync with success status but when run template, it failed with below error.

`Traceback (most recent call last): File "/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/git/objects/submodule/base.py",
 line 1180, in iter_items sm = rt[p] File "/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/git/objects/tree.py",
 line 298,

[2019-12-24 09:31] vinuaven opened #5569 "How to use machine credential ( pem key of ec2 instance) in playbook?"
##### ISSUE TYPE
 - we are using ec2_win_password module for retrieving administrator password of windows instance. For this job template we are trying to use pem key which is saved as machine credential in playbook.
How can we achieve this?

##### SUMMARY

we are using ec2_win_password module for retrieving administrator password of windows instance. For this job template we are trying to use pem

[2019-12-24 13:59] sc01194 commented on #5136
I really find odd that AWX, the upstream of a Red Hat product, cannot run on RH8. Or is it just a lack of documentation?

[2019-12-24 15:06] loitho opened #5570 "SAML Login error invalid_response request was received at incorrect port"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hi there !
I'm trying to configure ADFS SAML for my AWX install, however, once my Service Provider and Identity provider setup, the login doesn't work due to an error :

[code]

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method:  docker on linux
* Operating System: Centos 7
* Web Browser: Firefox / Chrome

##### STEPS TO REPRODUCE

- Install

[2019-12-24 15:25] tamirshaul commented on #5530
Running on Openshift and I'm having the same problem too.
Playbook hanging on Migrate Database.

I've tried to perform the migration manually through the management pod but it just hangs.
Any solution / hotfix for this problem?

[2019-12-24 16:21] wbieniek commented on #5530
Running On Openshift as well and I'm having the same problem too. Same issue as above, playbooks stops on Migration Database.

[2019-12-24 16:37] binbashroot opened #5571 "Syncing all sources in parallel leads to missing hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - UI

##### SUMMARY

Using two completely separate satellite sources with the same "Organization" but different "Locations"  results in AWX only importing some, but not all,  of the hosts into a cumulative inventory.

##### ENVIRONMENT
* AWX version: 9.0.1.0
* AWX install method:  docker on linux
* Ansible version:  2.8.5
* Operating System: RH

[2019-12-24 17:06] wbieniek commented on #5530
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/main/dispatch/worker/task.py", line 86, in perform_work
    result = self.run_callable(body)
  File "/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/main/dispatch/worker/task.py", line 62, in run_callable
    return _call(*args, **kwargs)
  File "/var/lib/awx/venv/awx/lib64/python3.6/site-pac

[2019-12-25 00:11] megabreit commented on #5501
@fsilveir Thanks. I didn't know about the --user option. But getting pip working on RHEL 7 is always a pain. I prefer a clean install playbook :-)

[2019-12-25 16:30] silveiralexf commented on #5501
@megabreit indeed not a fun experience.... alternatively you can also try setting-up a [virtualenv](https://docs.ansible.com/ansible-tower/latest/html/upgrade-migration-guide/virtualenv.html) just for the install playbook.

[2019-12-26 16:16] JoaoMJoia opened #5572 "Infinibox authentication failed. Check your credentials"
ENVIRONMENT
 AWX version: 3.0.0
 Ansible version:  2.9.2

Error message:
"msg": "Infinibox authentication failed. Check your credentials"

Hello there,
I'm trying to implement a playbook on the AWX (container awx_task, awx_web ) to create and export an NFS.
On the AWX I passed the infinibox credentials on the survey has variables without success, then I  passed the credentials as environment varia

[2019-12-26 20:02] atsai1220 commented on #3237
@ryanpetrello Thank you for reaching back!

I was able to connect to my instance but I am receiving 403 as a result when I try to login. My `connection.session_id` is None.

[code]

These are my debug messages. It seems I am receiving a 403 but I can successfully login from my browser with the same credentials. I am also able to receive a token from `/api/v2/tokens/` by posting with basic auth.

[

[2019-12-26 20:06] atsai1220 commented on #3237
@ryanpetrello Thank you for reaching back!

I was able to connect to my instance but I am receiving 403 as a result when I try to login. My `connection.session_id` is None.

[code]

These are my debug messages. It seems I am receiving a 403 but I can successfully login from my browser with the same credentials. I am also able to receive a token from `/api/v2/tokens/` by posting with basic auth.

[

[2019-12-26 23:35] gforster commented on #2905
I would think it could be important to see AWX’s view of what it is running (what is on the server). Maybe even just for the site/org admins. There is potentially a difference between what Is actually running and what is thought to be running. Especially when using a requirements.yml file and external roles.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-26 23:42] smuth4 commented on #5530
I ran into this problem on vanilla k8s as well, and I suspect the changes from https://github.com/ansible/awx/pull/5239 introduced this issue.
Manually running `kubectl -n awx exec -it ansible-tower-management -- bash -c "awx-manage migrate -v 3"` produces this output and then hangs:
[code]
IIUC, it's trying to send out a message to rabbitmq before the migration starts (as per [here](https://githu

[2019-12-27 07:57] ericzolf commented on #2905
The argument of gforster makes sense, and I don't really follow the arguments of fvanraem (sounds to much like security by obscurity, if you can run something and see the logs, seeing the code shouldn't be security relevant or you're doing something wrong, like putting credentials in the code).

On the other hand, code is only stored temporarily locally, hence links to the local code as executed w

[2019-12-27 11:08] gforster commented on #2905
How is the playbook output currently stored? Its already reading and displaying task names. I'm not familiar with the internals, but I could imagine reading the full tasks right there. I'm imagining it gets stored in the postgres db. Maybe display the full task as an option in the modal popup as a separate tab next to JSON and standard out(currently available) or somesuch for each task. Maybe that

[2019-12-27 15:38] zaskan opened #5573 "Add launch button to schedules"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Using the prompt button, the scheduled jobs are able to remember the values of the surveys. In the cases of templates with complex surveys it could be useful to add a launch button in the scheduled job in order to no need to remember the content of the survey if you need to launch the template manually.

It could be a "rocket" button in the actions f

[2019-12-27 16:38] wbieniek commented on #5530
I was able successfully upgrade from 9.0.1 to 9.1.0.  I used second method.Thank you for posting workaround.

[2019-12-27 18:22] loitho commented on #1016
I'm putting my reply here too.
This applies if you're running the AWX_WEB with docker-compose with the default port configuration with SSL

If the Nginx that forward its requests to the Django server (the uwsgi_pass uwsgi;) isn't running on a standard port (like here, it's running in the 8053) you can either :

- Change the configuration so that Nginx listens on the 443 port (and modify the docker

[2019-12-27 18:23] loitho commented on #5570
So, I found the solution :

you can either :
- Change the configuration so that Nginx listens on the 443 port (and modify the docker compose accordingly)  That's the "easy" way but I tried to understand how to make it work with the default configuration.

- Or you can leave the default port configuration, and just modify the nginx.conf that's in the "docker_compose_dir" option
 Simply add the foll

[2019-12-28 04:05] stegr04 commented on #2225
I just wanted to express my gratitude to @Commifreak, @dminca, @albeus (and others) for all of your help while also trying to give back a little bit of what I'm learning. I'm using awx v9.0.1 and was trying to find a way to backup and restore my awx environment. I'm still not certain what is meant when referring to installer/installing. I'm using geerlingguy's playbook with (on centos7.6 with dock

[2019-12-29 08:00] lunarthegrey commented on #1335
Why is this closed still? Latest release is 9.1.0 and there's still no human-readable changelog. It's sad to say but, it almost seems as if Red Hat wants everyone to just use Tower and AWX is simply the playgrounds for it.

[2019-12-30 03:39] MrBones757 opened #5574 "Kubernetes API Version detection unauthorized"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Kubernetes installer changes for detecting API version fail for authenticated clusters
(https://github.com/ansible/awx/commit/e68d576fd22dba0369a0e703378a1913f6a11528#diff-497ab200c9d7364c4f7d16bb0dccea4a)

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method: kubernetes
* Ansible version:  2.8.3
* Operating System: Ubuntu Bionic (Install Ho

[2019-12-30 03:40] MrBones757 commented on #5574
If you need any additional information please let me know & i will update / amend the issue

[2019-12-30 14:35] nfj25 opened #5575 "postgres_data_dir should not be mandatory in docker install"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
postgres_data_dir is mandatory for docker install even if using external database, throwing an error if not defined.

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method: docker on linux
* Ansible version:  1.8.4
* Operating System: CentOS7
* Web Browser:

##### STEPS TO REPRODUCE

Comment postgres_data_dir variable in inventory (because you ar

[2019-12-30 15:33] ryanpetrello commented on #1335
@lunarthegrey,

We publish changelogs on the official AWX mailing list.  They're generally not a commit-by-commit explanation of *everything* that changed (that's what the commit log is for), but a synopsis of new features, bugs fixes, etc... added since the last release.

Here are some of the more recent examples:

https://groups.google.com/forum/#!topic/awx-project/aYYtuAuHMzY
https://groups.goo

[2019-12-30 19:30] rovshango opened #5576 "docker_compose error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Installer

##### SUMMARY
Facing errors at docker_compose step

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method: docker in linux
* Ansible version:  2.9.1
* Operating System: CentOS Linux release 7.7.1908 (Core)
* Web Browser:

##### STEPS TO REPRODUCE

I have installed docker, docker module and docker-compose with pip and pulled

[2019-12-30 19:42] lunarthegrey commented on #1335
Thanks @ryanpetrello, excuse my bit of rage. Has been a tough month... :frowning:

Those mailing list changelogs are good enough for me.

[2019-12-30 19:49] rovshango commented on #5576
Hello,
After following install (downgrade actually) AWX installation went as expected
`pip install more-itertools==5.0.0`

[2019-12-30 19:49] #5576 closed, assigned to nobody

[2019-12-31 09:18] alanbchristie opened #5578 "9.1.0 installation error (awx-celery) : relation "main_instance" does not exist"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A clean installation on `kubernetes` (1.16.4/minikube) with `postgres` (10.11) with, what I believe to be a correctly edited inventory file the installation does not get past the **Migrate database** task, locking-up at...

`TASK [kubernetes : Migrate database]`

AWX is installed into a pre-existing namespace and with a pre-installed postgres with a pr

[2020-01-01 15:58] smuth4 commented on #5574
I suspect you're running into the same issue I posted here: https://github.com/ansible/awx/issues/5388#issuecomment-568644321

[2020-01-02 00:18] BDworak commented on #3879
the issue is that static assets and most links are hard coded to the root and don't accept the new base-url. You can do a url rewrite in nginx or haproxy but the HTML page you are served references /static/ and not the sub-folder you have referenced. On the bright side, the API should work fine, just don't follow any links the API gives you since those will also be at the root.

[2020-01-02 02:29] MrBones757 commented on #5578
I believe you may be experiencing this issue (or similar): https://github.com/ansible/awx/issues/5530

For me, the issue was resolved using the suggestion here: https://github.com/ansible/awx/issues/5530#issuecomment-569150880
I chose to manually run the upgrade using point 1 and comment out the migrate in the deploy tasks, which worked for me (so, deploy -> cancel at migrate -> manual migrate usi

[2020-01-02 09:48] alanbchristie commented on #5578
Thanks @MrBones757 .

Its a clean install (i.e. no prior AWX to upgrade/migrate) so, after setting the variables in the inventory accordingly, and prior to running the awx playbook (for minikube/kubernetes in my case), edit the awx clone's `roles/kubernetes/templates/credentials.py.j2` template to add a better qualified `BROKER_URL`. i.e. change...

`localhost`

to...

`rabbitmq.{{ kubernetes_name

[2020-01-02 13:02] ryanpetrello commented on #3237
Hey @atsai1220,

It'll probably just require a little tinkering.  What's the return value of `connection.login(username, password, next='/') ` ?

[2020-01-02 13:03] ryanpetrello commented on #5572
Hey @JoaoMJoia,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-01-02 13:03] #5572 closed, assigned to nobody

[2020-01-02 13:09] ryanpetrello commented on #630
@brennus390

You're not supplying valid JSON:

[code]

[2020-01-02 13:10] ryanpetrello commented on #5292
@jainnikhil30 you have any time to take a peek at this?

[2020-01-02 13:17] jainnikhil30 commented on #5292
@kdelee

Can you please check if you have the same uuid for your Tower node and isolated node (matching with other tower nodes/isolated nodes) ?

The way metrics works, I think, is it keeps uuid as the unique key. So if you have two hosts with same uuid, you will only see them once in metrics.

[2020-01-02 13:26] AlanCoding commented on #5578
Closing as duplicate of #5530

[2020-01-02 13:26] #5578 closed, assigned to nobody

[2020-01-02 13:35] ryanpetrello commented on #5534
The AWX task container must run as privileged due to our usage of bubblewrap (see: https://github.com/ansible/awx/issues/3115)

You probably need something like:

`oc adm policy add-scc-to-user privileged -n awx -z awx`

[2020-01-02 13:35] #5534 closed, assigned to nobody

[2020-01-02 14:12] AlanCoding commented on #4703
@rangsan given the location the error is coming from, your error does not like to me like either this issue or the nested submodules issue. Could you give me an example of an git repo that triggers this error? Or, alternatively, could you give `git submodule` command that will create a repo that triggers this? I'm looking for any difference from the other relative submodule test case, which is htt

[2020-01-02 14:37] ryanpetrello commented on #4809
cc @omgjlk we've merged this ("this" being https://github.com/ansible/awx/pull/5519)

[2020-01-02 14:45] ryanpetrello commented on #5567
@dnguyen9,

![image](https://user-images.githubusercontent.com/16950383/71367375-dea3d600-2572-11ea-99f7-f02194c14ddc.png)

This is the query the fetches the fact data from the database so that Ansible can use it, so given that you're launching several hundred jobs with fact caching enabled, it seems reasonable that you'd see an influx of these types of queries.

As for the slow HTTP requests, wha

[2020-01-02 14:55] ryanpetrello commented on #5530
@ilijamt @smuth4 @wbieniek (and others):

We think a recent change in AWX caused this issue.  We're about to roll back the change here: https://github.com/ansible/awx/pull/5579

Any of you interested in giving this a try?

[2020-01-02 15:05] dsesami commented on #5273
@marshmalien this is marked as closed in the project but surprisingly GH doesn't close the issue as well. would you like it closed?

[2020-01-02 15:05] AlanCoding commented on #1747
We support workflow-level prompting of `inventory` and `limit` now. If added, `job_tags` would follow a very similar pattern to `limit`. I don't think there is any technical barrier to adding it.

[2020-01-02 16:02] kdelee commented on #5292
Looks like you are on to something, maybe we have another bug to solve:

Here are the instances reported on `api/v2/ping`
[code]

You will notice that the two isolated instances share the same uuid as one of the normal cluster nodes, which happens to be a controller node:
[code]

@ryanpetrello any thoughts?

[2020-01-02 16:04] ryanpetrello commented on #5521
@soniya20 this is just how task execution in AWX works - there's a background queue used to schedule and run playbooks in the background on the task container.  If you shut off the task container, and there are no other containers to run playbooks, the job will wait in the "pending" state until there is available capacity to run the job.

[2020-01-02 16:04] #5521 closed, assigned to nobody

[2020-01-02 16:15] dsesami commented on #5485
this has been resolved and does not exist in devel -- closing.

[2020-01-02 16:15] #5485 closed, assigned to nobody

[2020-01-02 18:53] jakemcdermott commented on #5265
fixed by #5582

[2020-01-02 19:16] mattch3wie commented on #5305
+1 for the tracker. Saved myself a heap of time trying to figure out why I couldn't get to settings!

[2020-01-02 19:20] kdelee opened #5583 "Metrics endpoint squashes json data if multiple entries for data (e.g. awx_instance_info etc)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

If the data metric has multiple entries like:
[code]

e.g. we are reporting the `awx_instance_capacity` for mutliple instances, then when we do a GET with `ContentType` as `application/json` we only get the last value:
[code]

##### ENVIRONMENT
* AWX version: tower built from devel
* Ansible version:  X.Y.Z not relevant
* Operating System: rhel 7 (pro

[2020-01-02 19:22] kdelee commented on #5292
I have filed two issues, one in tower for the isolated nodes sharing node uuid's w/ their controller, and the other in awx for fixing the way the json is rendered. Going to close this for now as basic idea works, and track further work on those two bugs.

[2020-01-02 19:22] #5292 closed, assigned to kdelee

[2020-01-02 20:36] kdelee commented on #5530
Testing this w/ downstream tower openshift upgrades -- will update on progress soon

[2020-01-02 21:56] kdelee commented on #4452
Tested this out, you can no longer POST a survey spec w/ a default that is not an option, which was root cause of this bug.

Closing

![Screenshot from 2020-01-02 16-56-03](https://user-images.githubusercontent.com/29239279/71695678-d91f6a80-2d80-11ea-9802-2c64b6a1507c.png)

[2020-01-02 21:56] #4452 closed, assigned to rebeccahhh, kdelee

[2020-01-02 22:02] kdelee commented on #5079
@elyezer is out on PTO for a while, but 90% sure this is ready to close

[2020-01-03 00:02] omgjlk commented on #4809
Thanks. I plan on upgrading next week and will be able to validate.

[2020-01-03 10:32] naurel06 opened #5586 "Cannot add admin to Organization with French locale"
When trying to add an admin to an Organization with a browser having french language I get this error :
`Invalid search term entered. GET returned: 400 Id roles non valide : undefined.`

No problems when changing my browser to english.
No problems with other roles.

I've just updated my awx to ensure that this issue is still live.

[2020-01-03 10:50] alanbchristie opened #5587 "Use `kubectl_or_oc` in role tasks in preference to any other mechanism"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
A policy declaration (and a change to the installation task `Get kube version from api server`) ... the policy is ... **use `kubectl_or_oc` in role tasks in preference to any other mechanism unless you cannot**.

This is driven by a frustration with **9.1.0** and its use of the Ansible `uri` module in the `Get kube version from api server` task  whil

[2020-01-03 13:11] shanemcd commented on #5587
Hello. I don’t see how this is different from #5574, which you have already linked to. Patches are welcome.

[2020-01-03 13:11] #5587 closed, assigned to nobody

[2020-01-03 13:36] foley-j opened #5588 "View/open playbook contents"
##### ISSUE TYPE

  - Feature Idea

##### COMPONENT NAME

  - UI

##### SUMMARY

It would be pretty useful if there was a link/button on the template UI that would actually display the contents of said playbook. I find myself looking at a template that I want/need to run and trying to remember what was exactly in the guts of the playbook, and then having to log into git/enter MFA/find the playbook

[2020-01-03 14:02] kdelee commented on #5530
This is now working downstream w/ openshift upgrades which were experiencing same issue as awx upgrade. Going to close, but any comments from @ilijamt @smuth4 or @wbieniek are welcome for awx upgrades to devel

[2020-01-03 14:02] #5530 closed, assigned to kdelee

[2020-01-03 14:16] kdelee commented on #5079
Going to close as I reviewed his work and indeed while we can do some more work on running his automation on a regular basis and reporting it somewhere, we can test on demand and its working.

[2020-01-03 14:16] #5079 closed, assigned to elyezer, kdelee

[2020-01-03 14:54] kdelee commented on #5478
Tried this out and works like a charm.
[code]

[2020-01-03 15:09] ryanpetrello commented on #5570
@loitho thanks for investigating this and contributing a patch - I'm merging it shortly and closing this.

[2020-01-03 15:09] #5570 closed, assigned to nobody

[2020-01-03 15:10] ryanpetrello commented on #1016
For those following along in this thread, @loitho has contributed a patch which should alleviate this issue (which I'm merging shortly):

https://github.com/ansible/awx/pull/5577

[2020-01-03 15:20] #5478 closed, assigned to ryanpetrello, kdelee

[2020-01-03 16:33] kdelee commented on #5093
Tested this out and it works for me, thanks!

[2020-01-03 16:33] #5093 closed, assigned to ryanpetrello, kdelee

[2020-01-03 16:45] kdelee commented on #5044
@fosterseth I tried this out with your example of:
[code]
in the extravars for an azure inventory source pointed at our azure account.

It is not working for me, as I still am getting hosts that have no tags in sync:
[code]

[2020-01-03 17:19] kdelee commented on #5046
Followed reproduction steps:

1) create child workflow that accepts prompt on launch inventory
2) create parent workflow and put child workflow as node in workflow
3) set inventory on workflow node
4) set `extra_data` to `"---\n"` on workflow node
5) launch

The workflow runs and succeeds as expected.
Also tried including an actual job template in the child workflow -- the inventory is used and I

[2020-01-03 17:19] #5046 closed, assigned to AlanCoding

[2020-01-03 18:06] ryanpetrello commented on #5588
Duplicate of https://github.com/ansible/awx/issues/2905

[2020-01-03 18:06] #5588 closed, assigned to nobody

[2020-01-03 18:07] ryanpetrello commented on #5586
@naurel06 can you please update this ticket with all of the requested information in the bug report template?

https://github.com/ansible/awx/issues/new?template=bug_report.md

Thank you.

[2020-01-03 18:09] ryanpetrello commented on #5574
@shanemcd you have any ideas here?

[2020-01-03 18:24] ryanpetrello commented on #5535
@AlanCoding any ideas here?

[2020-01-03 18:25] ryanpetrello commented on #5533
This is likely dependent on the underlying inventory plugin behavior (which comes from Ansible itself).

[2020-01-03 18:27] ryanpetrello commented on #5523
This is mostly a duplicate of https://github.com/ansible/awx/issues/5524 (if we resolved #5524, it would likely resolve this case as well since the code is shared).

[2020-01-03 18:27] #5523 closed, assigned to nobody

[2020-01-03 19:55] shanemcd commented on #5574
This is more difficult than it should be because OpenShift seems to have decided against adding support for `oc version -o json`. The current implementation uses the approach suggested [here](https://github.com/openshift/origin/issues/19182#issuecomment-378233606).

I was attempting to identify a solution that is k8s-variant agnostic, but that may not be possible unless there is another way I'm no

[2020-01-03 20:58] jamesmarshall24 opened #5590 "Make main_jobevents More Efficient"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

If running an environment with a large record count under `main_jobevents`, performing maintenance tasks to this table can be delayed due to long running auto-vacuum to the table.

This feature request would like to address one of the following:
- A better tuned postgres configuration that handles this table more efficiently
- An alternative solutio

[2020-01-04 02:01] siriusckx opened #5591 "AWX can't create projects"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
when I create projects with "SCM TYPE" Manual, the "save" button is gray, and can't find "playbook directory" item on the web page.

WARNING: There are no available playbook directories in /var/lib/awx/projects. Either that directory is empty, or all of the contents are already assigned to other projects. Create a new directory there and make sure the

[2020-01-04 05:23] Sreenadh8 opened #5592 "AWX UI login page loads very slowly (takes 3 minutes to load)- Poor/sluggish performance of UI"
##### ISSUE TYPE

Poor/sluggish performance of UI/webpage, it takes more than 3 minutes to load the log-in page and continues slow response later on.

##### SUMMARY

We are using external postgres DB ( RDS as backend), and clustered the rabbitmq on two awx installed systems, awx systems has 2 vcpu and 8 GB RAM, they are put behind the application load balancer for HA purpose. No issues with resour

[2020-01-04 07:16] yeago commented on #3054
i think currently in conjunction with the "on success" run option the OR is a pretty unexpected result, as when the user arrived at the convergence step they would have chosen that option already differently to handle the failed states. only giving my 2c because i think surfacing an API to the user to handle partial failure behavior any/all takes on less importance.

[2020-01-04 13:19] #5592 closed, assigned to nobody

[2020-01-04 13:22] Sreenadh8 commented on #5592
We found an issue as High Network latency, users are based in India and AWX servers are hosted in AWS North Virginia region, url works fine within US region(ping response 2ms ) , but it goes above 250ms network latency for india users... working through to reduce this latency...doesn't seems to be awx issue hence closing it.

[2020-01-04 18:13] unbreakabl3 opened #5594 "Job execution report in AWX"
##### ISSUE TYPE
 - Documentation

##### SUMMARY

When i run ansible-playbook test.yaml, i'm not able to see the job result in AWX

##### ENVIRONMENT
* AWX version: 9.1
* AWX install method: docker on linux
* Ansible version:  2.9.2
* Operating System: Ubuntu 18.04

##### ADDITIONAL INFORMATION

Maybe I'm missing something, but how to see the local ansible execution jobs in AWX?
I'm new in Ansible

[2020-01-04 23:20] ryanpetrello commented on #5591
Hey @siriusckx,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-01-04 23:20] #5591 closed, assigned to nobody

[2020-01-05 07:06] BDworak commented on #5322
Any update on this? Will this be fixed in the next awx release?

[2020-01-05 09:27] alanbchristie commented on #5574
It is annoying the `oc version` has no JSON output like `kubectl` and relying on _stdout_ comes with its own risks. As I'm not sure there's a common command, maybe the way out of this hole is to use two small logic blocks as you suggest ... one that uses the `uri` module for openshift and one that uses `kubectl` for kubernetes?

I cannot commit any time to a formal solution but the work-around, fo

[2020-01-05 21:42] icepilot opened #5595 "Failed to read /api. GET status: 500 A server error has occured"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have tried deploying AWX following the install notes from (https://github.com/ansible/awx/blob/devel/INSTALL.md) severl times now, on multiple platforms (Ubuntu 16.04, Ubuntu 18.04, and CentOS 7). All attempts have resulted in this same error when attempting to login through the web page.

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method:

[2020-01-06 01:26] AlanCoding commented on #5535
There are a lot of layers to this. I did previously double-check this against the version of the openstack script that the built-in source is using, and the imports match. So the Ansible venv should have the necessary requirements. Moving on from that, I am _relatively_ sure that we all share the expectation that SCM inventory updates have the Ansible venv python libraries made available, and obvi

[2020-01-06 03:42] ryanpetrello commented on #5594
Hey @unbreakabl3,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-01-06 03:42] #5594 closed, assigned to nobody

[2020-01-06 10:14] fvanraem commented on #2905
It is not about the security of the code in it's own right.

It is about by-passing a security policy that is in place at any $COMPANY.
Just like AWX has its own RBAC rules, it should respect the access rules that are in place at a repository where it is fetching it's ansible jobs from.

[2020-01-06 10:53] coudenysj commented on #4089
We ran into the same problems, but after reading this suggested solution: won't the encrypted values be stored as plain text as group and host variables?

[2020-01-06 11:24] ericzolf commented on #2905
I got your point but it's those kind of IT security rules which tell: you are allowed to run the playbook, you are allowed to see the logs, but you can't see the code, go and figure potential issues without it. This kind of thinking is corporate security non-sense and just makes the life of zillions of admins harder than it needs to be, hence it is my personal opinion that it isn't a requirement w

[2020-01-06 11:29] gforster commented on #2905
So why not solve both issues (allow for controls in some company's security policy _and_ allow viewing of the code) by leaving it up to the admin (site/org/team/whatever) to implement with the granularity they may need. It's "just" another RBAC rule.

[2020-01-06 11:37] nicolaibaralmueller opened #5596 "Special variable ansible_inventory_sources not working in awx"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY

Using ansible_inventory_sources variables results in a temporary/dynamic inventory name using awx.

The inventory is sourced from git repository and it is not dynamic.

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.2

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

[2020-01-06 14:37] shanemcd commented on #5574
I just put up https://github.com/ansible/awx/pull/5597. Would appreciate some extra eyes / test runs.

[2020-01-06 15:20] fosterseth commented on #5044
@kdelee

in extra vars you'll put `tags: Creator:jmarshall, peanutbutter:jelly`

what you tried is an intermediate representation that is automatically generated and sent into azure_rm.py script to filter the inventory.

sorry for the confusion

[2020-01-06 16:53] wenottingham commented on #5564
Status is determined by ansible status for the playbook itself; there is no "changed" status for a playbook.

[2020-01-06 16:55] wenottingham commented on #5569
You cannot. Private keys for SSH (machine credentials) are only added to ssh-agent; they are not exposed directly to playbooks.

[2020-01-06 16:55] #5569 closed, assigned to nobody

[2020-01-06 16:57] thediymaker commented on #1556
Centos 7, docker, AWX 9.1, nginx proxying to port 443 with a cert, had to add this here in my nginx config, adding both lines didn't work. This is now working for refreshing the output.

[2020-01-06 17:04] wenottingham commented on #5596
This is an artifact of how inventory is passed in AWX.

All inventory comes from the AWX database - even inventory from SCM is first saved to the database, and then exported to the playbook via a source that reads from the database. So it will be a temporary/dynamic file/pipe each time during a playbook run.

[2020-01-06 17:04] #5596 closed, assigned to nobody

[2020-01-06 17:50] AlexSCorey opened #5599 "VariablesDetail absent"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
VariableDetail component https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/CodeMirrorInput/VariablesDetail.jsx should always display either the value or '---' and right now if there is no value it does not display anything.
##### ENVIRONMENT
* AWX version: 9.1
* AWX install method: docker for mac
* Ansible version:  2.10
* Operating

[2020-01-06 18:09] Quantas commented on #5530
@ryanpetrello @kdelee I too just ran into this issue upgrading 9.0.1 to 9.1.0 on k8s. The fix you mention in your comment relating to #5579 will that fix be in forthcoming AWX release?

Thanks!

[2020-01-06 18:43] shanemcd commented on #5530
9.1.1 will be released sometime within the next day or so.

[2020-01-06 19:54] AlexSCorey commented on #4202
This issue was resolved.

[2020-01-06 19:54] #4202 closed, assigned to nobody

[2020-01-06 19:55] mattch3wie opened #5601 "Getting "dh key to small" when syncing projects from bitbucket 6.8.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
DH KEY length issue when syncing projects

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: RHEL 7 (Also tested on CENTOS 8)
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Configure project to point to a repo on our on-site  bitbucket instance (v6.8.0) (with either password or

[2020-01-06 20:21] wenottingham commented on #5601
OpenSSL is rejecting the key as too small, this comes from the underlying OS openssl version and there is little that AWX can do. You'll probably need a newer certificate for your bitbucket instance.

[2020-01-06 20:21] #5601 closed, assigned to nobody

[2020-01-06 20:25] wenottingham commented on #5601
For more info on why OpenSSL is rejecting it: https://weakdh.org/

[2020-01-06 21:14] tvo318 opened #5603 "Remove Scan option from Job Type field of JT Creation form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![image](https://user-images.githubusercontent.com/7514801/71848879-e6dd3480-308d-11ea-9e3f-19445d404986.png)

##### ENVIRONMENT

- Tower version: 3.6.2
- AWX install method: yolo #8062: Instance URL - https://ec2-54-85-222-225.compute-1.amazonaws.com
- Ansible version: 2.10.0.dev0
- Operating System: Mac Mojave 10.14.6
- Web Browser: Version 79.0.3945

[2020-01-07 01:37] AntonSergievitch commented on #5230
Previous ounership is systemd-coredump root in docker for awx 9.1.0. Call chown -R nginx:nginx /var/lib/nginx solve problem on viewing finished jobs with 100+ hosts.

[2020-01-07 01:39] mattch3wie commented on #5601
@wenottingham - Thank you for the feedback! My crypto knowledge could be better :_. Question though - The underlying OS you speak of; would that be the OS in the "task" container?

I notice that 9.1.0 is on CENT8 and 8.0.0 CENT7

And since v8.0.0 can sync with no issue and v9.1.0 can't, I feel this all lives in the container.

(unless v9.1.0 has an issue with key BitBucket is using?)

But on the o

[2020-01-07 05:50] soniya20 commented on #5521
Hi @ryanpetrello
I understand that a background queue is maintained to schedule and run playbooks on task container and if the task container goes down, the queue would be reset and job would be lost. But, my concern is the indefinite wait in web container for the jobs present in the queue when the task container is down.
In my understanding, there must be some timeout associated with the waiting

[2020-01-07 09:48] laurent95380 commented on #5534
Just tried this solution and didn't work:

[root@srv1384 ~]# oc login
Authentication required for https://127.0.0.1:8443 (openshift)
Username: admin
Password:
Login successful.

You have one project on this server: "awx"

Using project "awx".
[root@srv1384 ~]# oc adm policy add-scc-to-user anyuid -z default
Error from server (Forbidden): securitycontextconstraints.security.openshift.io "anyuid" is

[2020-01-07 15:08] marshmalien commented on #5273
Yes, I'll close it 👍

[2020-01-07 15:08] #5273 closed, assigned to marshmalien

[2020-01-07 15:38] gcecchi commented on #5539
Hello, which kind of info do you need...?

[2020-01-07 15:41] wenottingham commented on #5601
Yes, it would be expected with the change to CentOS 8 as a base OS - it includes a newer OpenSSL release that does this check. I'm actually surprised that it would work with git outside of the container on CentOS 8.

[2020-01-07 15:55] AlexSCorey commented on #5502
It seems like `currentValue` and `value` in `VariablesDetail.jsx` can get out of whack when updating InventoryGroup.

[2020-01-07 17:57] leonrado commented on #5177
Some update for this ?

[2020-01-07 18:21] #5494 closed, assigned to AlexSCorey

[2020-01-07 22:18] mrmibrown opened #5608 "Add survey_spec modification functionality to the awx cli"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add the ability to modify the survey_spec of a job template using the awx cli.

[2020-01-07 22:39] mcharchuk commented on #5608
The ability modify the survey_spec for the workflow templates should be available also.

[2020-01-08 02:58] strawgate commented on #4463
The image size continues to grow.
In 9.1.0 the compressed image size is now 650 MB versus 280 MB in 4.0.0.
In 9.1.0 the uncompressed image size is now 1.84GB versus 919 MB in 4.0.0

[2020-01-08 13:42] ryanpetrello commented on #5521
Hey @soniya20,

The way it's currently implemented, the job timeout is how long the job will be allowed to run, and the implementation is *in* the task management code that runs in the task container.  If there are no task containers, the job will just stay in pending until there are.

[2020-01-08 15:42] matburt commented on #4463
I'm fine with it if you want to submit a PR for this @strawgate

[2020-01-08 17:50] AlanCoding commented on #5044
yeah, I believe that syntax ^ was tested with the script version, and that's what defines the expectation for now.

[2020-01-08 18:46] AlanCoding commented on #5539
I have to be honest that I'm pretty stumped. I can't really imagine why it would not be updating this cl3 host variables. Maybe try deleting the host and see if a re-sync makes a difference? Or modify the inventory import command to print out the JSON `ansible-inventory` gives to be sure it's the same as expected?

[2020-01-08 19:10] vexter0944 opened #5612 "Google OAuth2 Not Working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cannot log in via Google Oauth

##### ENVIRONMENT
* AWX version: 9.1.0.0.
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Ubuntu 18.04/Docker
* Web Browser: Chrome or Edge

##### STEPS TO REPRODUCE

A couple of quick notes about my setup for this:

1.  domain.com is a company .com on the internet where I want to use

[2020-01-08 20:52] beeankha commented on #5558
The PR https://github.com/ansible/awx/pull/5562 to fix this inconsistency has been merged, closing this issue.

[2020-01-08 20:52] #5558 closed, assigned to beeankha

[2020-01-08 21:49] beeankha opened #5614 "Warn louder if tower_job_launch extra_vars are not set to be accepted via ask_extra_vars"
##### SUMMARY

`extra_vars` on `tower_job_launch` needs `ask_extra_vars` to be set via the `tower_job_template` module when creating the JT (alternatively, you can set `PROMPT ON LAUNCH` in the Job Template page of the UI), otherwise the `extra_vars` do not get handled as intended (they are ignored).

There should be a warning emitted that tells the user "You have `extra_vars` on launch listed, ho

[2020-01-08 23:21] stclark-incomm commented on #2012
I have a working solution for this on k8s.  Once I flush out the changes and documentation I'd be willing to submit a PR for this.  I'm not using OpenShift, but I believe the same solution is likely to work.

My solution involves:
- Store ca-certs in a tls secret
- Mount secret to an init container (instead of using a bind mount to the host)
- Run update-ca-trust in the init container
- Copy the /

[2020-01-09 11:10] ImSundee commented on #5136
Just to add to this, current configuration works just not with podman

You need to install docker CE and enable masquerade on the zone you are using:
firewall-cmd --zone=public --add-masquerade --permanent
firewall-cmd --reload

[2020-01-09 12:57] gcecchi commented on #5539
I have created a new inventory based on another RHV environment and the problem has been the same. But I think I have found the culprit. From this thread below it seemed to me that in case of containerized awx all had to happen withing awx_web container:
https://lists.ovirt.org/archives/list/users@ovirt.org/message/DIVHEMQOZFLOX2RWP4IJVPV32RJNTZU2/

But actually only if I modify the /var/lib/awx/v

[2020-01-09 13:49] ryanpetrello commented on #5528
Theres's an open PR that I suspect might fix this (#5544)

[2020-01-09 14:35] reinistihovs commented on #1889
HI,
What they mean is that "awx-manage" must be run inside a container.
to do this first you need to know the container name, by executing:
sudo docker ps
Next you will see a list of all your running containers.
example:
[code]

To connect to a containers shell you must execute this command:
docker exec -it container_name bash

example:
[code]
So now you are inside the awx_task containers bash she

[2020-01-09 14:55] clammers opened #5615 "redis support for fact_caching in ansible"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Would be great to have redis libraries in standard docker container to make use of fact_caching in redis.

in requirements/requirements_ansible.in
[code]

[2020-01-09 14:57] dsesami commented on #5349
says tuesday in devel properly now. This is resolved.

[2020-01-09 14:57] #5349 closed, assigned to nobody

[2020-01-09 15:04] wenottingham commented on #5615
AWX has a built-in fact cache already.

[2020-01-09 15:10] clammers commented on #5615
we need persistent fact_caching and run multiple awx_task container on multiple machines, so facts need be synced. Memcached is only for local instances, or?  How do you get this solved?

[2020-01-09 15:11] wenottingham commented on #5615
Multiple separate instances sharing a fact cache? That's not something we'd build, as that assumes a global fact namespace which may not be what is desired.

[2020-01-09 15:11] #5615 closed, assigned to nobody

[2020-01-09 15:19] markandrewj commented on #20
This would be really useful. I was looking at dynamically creating a list of packages from a repository today for a survey drop down list. Initially for the project I am working on I tried using disablerepo: "*", enablerepo: "repoa, reopb, repoc", to try and allow some users to be able to self install packages from only the specified repositories via yum using an input box. When I tried to do this

[2020-01-09 15:45] naurel06 commented on #5586
Update :

AWX : 9.0.1.0
AWX install method : docker on Linux
Ansible 2.8.5
OS : CentOS 8
Web Browser : Firefox 72.0.1

To reproduce : try to add an admin profile from the "Organization" menu with the browser language set on French.

Expected result : opening a window to add a new admin.
Actual result : Error pop-up

[2020-01-09 16:27] beatsandpics opened #5617 "Job remains in pending"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY
Job remains in pending, In the log I see a lot of "awx.main.tasks Not running scheduler, another task holds lock"

There are some closed issues regarding this one, but didn't find any solution.

Randomly AWX get stuck where all jobs remain in "pending"

In the logs I see
`task_1       | 2020-01-09 16:08:59,344 DEBUG    awx.main.dispatch task a1c42d7f-

[2020-01-09 17:35] mabashian opened #5619 "Branch field missing from JT form in UI Next"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a project that allows for branch override is selected in the job template form, an additional `branch` field should be shown in the form.  This is currently unimplemented in UI Next.

<img width="1486" alt="Screen Shot 2020-01-09 at 12 34 22 PM" src="https://user-images.githubusercontent.com/9889020/72090623-6e1fe780-32dc-11ea-90df-287549321074.pn

[2020-01-09 18:19] kdelee opened #5620 "Feature: Set notification recipient on launch or set to "person who launched job""
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Right now the recipient of notifications is set on the notification template, and can not be modified at launch time.

Instead, make it so that the:
- notification recipient can be set on launch, perhaps w/ default
- Consider for email letting it be "user who launched job" as we have emails associated w/ users

[2020-01-09 18:21] kdelee commented on #5620
looks like previously was apart of https://github.com/ansible/awx/issues/79 but did not end up in the feature

[2020-01-09 19:31] jcomito commented on #5371
Tiller was removed in Helm 3 so it looks like any --tiller flags are breaking now. Fails at the Deploy and Activate Postgres task:

TASK [kubernetes : Deploy and Activate Postgres (Kubernetes)] *******************************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "helm repo update --tiller-namespace=kube-system\necho 'postgresqlUsername: awx\npostgresqlPas

[2020-01-09 22:01] #5541 closed, assigned to marshmalien

[2020-01-09 23:21] cs-laurentiuvasiescu commented on #2350
Any update? Looks like a popular request :)

[2020-01-10 01:28] hs-hub-world commented on #5564
Hi.
some ideas.

![image](https://user-images.githubusercontent.com/20629911/72118150-1cd81e00-3305-11ea-81cd-0179795c9969.png)

![image](https://user-images.githubusercontent.com/20629911/72118210-42fdbe00-3305-11ea-8a52-078cc6b64b14.png)

it would be considered changed if the Changed<>0 when reading PLAY RECAP values, just an idea.

Thank you,

[2020-01-10 05:08] ryanpetrello commented on #5612
Hey @vexter0944,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-01-10 05:08] #5612 closed, assigned to nobody

[2020-01-10 09:50] preguenga opened #5623 "ovirtsdk4 version 4.3.0 or higher is required for this module"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
ovirtsdk4 4.3.0 is installed by default but this error message still appears...
I even created a custom venv with no luck..

##### ENVIRONMENT
* AWX version: 9.1.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.5(default venv) and 2.9.2(custom venv)

##### STEPS TO REPRODUCE
1. use any ovirt module
for example :

[code]

##### EXPECTED

[2020-01-10 10:33] svparijs opened #5624 "Docker image AWX_web 9.* failing to come up"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
While using AWX_web 9.1.0 in a Helm chart the container fails to start.

[code]

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version: 2.8.5
* Operating System: Docker image https://github.com/ansible/awx/blob/9.1.0/installer/roles/image_build/templates/Dockerf

[2020-01-10 10:45] dsamx opened #5625 "AWX is bloated and complicated to install"
I have the following scenario: Create a graphical installer for Linux servers that are managed via ansible.
In the past we had a Windows program (10MB or so) that copied selected Linux packages to a server, executed scripts and installed the packages.
We replaced the install and config tasks with ansible playbooks but what is left is a non-console based method to get the packages to the server and

[2020-01-10 11:31] preguenga commented on #5623
Ok i found the problem.
pycurl ! :'(

see https://groups.google.com/forum/#!searchin/awx-project/ovirt-engine-sdk%7Csort:date/awx-project/KpWeO9G8KaA/HzN66jdwAwAJ for information

thanks

[2020-01-10 11:31] #5623 closed, assigned to nobody

[2020-01-10 13:54] Junn-Sorran commented on #1179
+1
Any news on this feature? I would be very cool for helpdesk user to just have to check a box to launch something on some specific hosts.

[2020-01-10 14:00] shanemcd commented on #5624
See my response to your comment at https://github.com/ansible/awx/commit/c019d873b93a983e605f3f3fcfcf0ad021b29a81#commitcomment-36745626.

[2020-01-10 14:00] #5624 closed, assigned to nobody

[2020-01-10 14:32] thaurcam commented on #5371
the problem is with this task in installer/roles/kubernetes/tasks/main.yml:
[code]

there are two issues with helm 3 which I found:
- tiller was removed
- due to a bug (https://github.com/helm/helm/issues/7002) the helm upgrade command does not read from stdin.

as a workaround you can change the task in your playbook like this:
[code]

[2020-01-10 14:38] shanemcd commented on #5371
Patches are much appreciated. I am not too worried about maintaining support for helm 2 going forward, so if some kind soul would like to open a PR I'd be happy to test it out.

[2020-01-10 15:46] jlmitch5 opened #5626 "Add result count to top bar"
We will be adding the result count to the top bar.

![image](https://user-images.githubusercontent.com/1342624/72165982-6886d800-3396-11ea-9696-66c5e3a3070e.png)

![image (1)](https://user-images.githubusercontent.com/1342624/72165994-6e7cb900-3396-11ea-94a7-457034e5ff7f.png)

When the screen size causes search/sort to be hidden inside the toggle-able search icon, the count should still be to the

[2020-01-10 15:49] jakemcdermott commented on #5586
![fr_org_admin_create](https://user-images.githubusercontent.com/9753817/72166233-de8b3f00-3396-11ea-8695-57989d9abd3b.gif)

[2020-01-10 15:49] jlmitch5 opened #5627 "For multi-select-based search keys, move to showing label, not translated value."
Awaiting this to get into pf-react.  Support needed for object-based values for checkbox dropdown. Currently isChecked prop for the individual select options will not set unless the value is a string. All options include both string and value (that django expects to receive) for the options, using both just needs to be wired up in Search.jsx. Currently an in-progress patternfly-react [issue](https

[2020-01-10 15:53] jlmitch5 opened #5628 "There are different left/right padding amounts for the new DataToolbar component and the individual list rows."
BACKLOG'D and marked WONTFIX by patternfly

There are different left/right padding amounts for the new DataToolbar component and the individual list rows. This is a known issue, and patternfly was going to update the CSS so that the padding is consistent. [issue](https://github.com/patternfly/patternfly-next/issues/2503) currently open to address this in patternfly-core (css)

[2020-01-10 16:26] jlmitch5 commented on #5365
Based on UX feedback we gathered at ansiblefest, we will be adding these keys to the jobs search (which includes launched by and limit) to ui_next.

![Screen Shot 2020-01-10 at 11 25 34 AM](https://user-images.githubusercontent.com/1342624/72168852-f6b18d00-339b-11ea-8aa3-eef6d2b17e18.png)

[2020-01-10 16:31] jlmitch5 commented on #5033
The new jobs' type search will be select-based.  I just confirmed select "job" only shows single-template playbook runs.

![Screen Shot 2020-01-10 at 11 29 43 AM](https://user-images.githubusercontent.com/1342624/72169179-9c64fc00-339c-11ea-8b8c-b0350b8ef818.png)

Note the values here will be updated to the prettified/i18n'd label, there's an outstanding issue in pf that makes us have to keep the

[2020-01-10 16:37] jlmitch5 opened #5629 "add search keys to not yet implemented lists/filters not working w api"
The following lists either aren't implemented, or when I attempted to add the keys they didn't work with the api:

---

Instances of jobs list include:
  - Host completed jobs list (not implemented yet)
  - Smart Inventory completed jobs list (not implemented yet)
  - JT completed jobs list (not implemented yet)

**Organization list**
  - Team name (of a team in the org) - search is ?teams__name=a

[2020-01-10 18:15] wenottingham commented on #5603
What does it do if you choose this and then launch the saved job?

[2020-01-10 18:18] wenottingham commented on #5595
@shanemcd is this the migration issue we are looking at a new release for?

[2020-01-10 18:19] wenottingham commented on #5566
How did you scale to additional replicas? Stateful sets or something else?

[2020-01-10 18:22] wenottingham commented on #5527
What is the value of the MANAGE_ORGANIZATION_AUTH setting?

[2020-01-10 18:22] wenottingham commented on #5518
@AlanCoding do you have idea on how this would be done?

[2020-01-10 18:26] anxstj commented on #5527
From `/api/v2/settings/system/`:
[code]

[2020-01-10 18:40] dsesami opened #5631 "Confusing patternfly asset usage for alphabetical sort"
t##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The alphabetical patternfly sort icons are confusing (the arrow seems to imply that it is reverse, going from Z to A, but that's the opposite of what's happening):
![Screenshot from 2020-01-10 12-13-38](https://user-images.githubusercontent.com/19942822/72176905-7d229a80-33ad-11ea-99d4-b77dacbc3de7.png)

It would be good to replace them with these ([

[2020-01-10 18:49] marshmalien commented on #5631
<img width="400" alt="Screen Shot 2020-01-10 at 1 44 07 PM" src="https://user-images.githubusercontent.com/15881645/72178023-f4f1c480-33af-11ea-8411-8fd156eace34.png">

Alphabetical order: Sort Alpha Down Icon
Reverse alphabetical order: Sort Alpha Up Alt Icon

[2020-01-10 19:07] Sergong opened #5632 "AWX Installation on Minishift Unclear"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY

Installation on Minishift fails with cannot get securitycontextconstraints.security.openshift.io

The AWX installation documentation for minishift mentions the following:

However it is not clear to me how I can ensure I have the correct privileges? It appears that the default system user does not have cluster-a

[2020-01-10 19:23] tvo318 commented on #5603
@wenottingham I just ran a simple scan job template using the default inventory and project and "Hello World" playbook and it ran successfully. See the job details here:
![image](https://user-images.githubusercontent.com/7514801/72180265-06cd6a80-33a4-11ea-9b50-3e2d1f91b9c2.png)

[2020-01-10 19:27] shanemcd commented on #5632
Hi @Sergong. Does this solve your problem? https://docs.okd.io/latest/minishift/using/addons.html#apply-addons

[code]

[2020-01-10 19:43] AlanCoding commented on #5518
Yes, I really wanted to do this in spare time, but I'm too far behind at the moment.

To correctly handle different branches, it makes sense to organize by the commit hash. Either project updates or project syncs could run the command, and then save the role contents in a folder specific to the project and specific to the commit (not in the project source tree).

This wouldn't change the job folde

[2020-01-10 19:49] wenottingham commented on #5518
Well, I'd point immediately at the cache invalidation/cleanup issue, especially when it comes to promptable branches.

[2020-01-10 20:06] tvo318 opened #5634 "Unable to save timeout settings - gives 400 error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Tried changing and saving Idle Timeout settings but returns error message 400.

##### ENVIRONMENT

- Tower version: 3.6.2 AND 3.7.0
- AWX install method: **For 362**: yolo #8062: Instance URL - https://ec2-54-85-222-225.compute-1.amazonaws.com / **For 370**: yolo #8073: Instance URL -https://ec2-3-82-96-111.compute-1.amazonaws.com
- Ansible version: 2.

[2020-01-10 20:09] AlanCoding commented on #5518
that's a fair point, and because of that it might not be realistic to cache anything other than default branches.

[2020-01-10 21:27] wenottingham commented on #5625
AWX is the upstream for Ansible Tower. It is designed to be part of a scalable automation platform that is run at the enterprise level - building an infrastructure for delegating jobs out to multiple teams and users, and executing them in a cluster locally, or even in remote OCP/K8S instances.

As a platform for managing 1-2 servers it may be overkill, yes.

[2020-01-11 08:08] svparijs commented on #5624
@shanemcd please see my comment: https://github.com/ansible/awx/commit/c019d873b93a983e605f3f3fcfcf0ad021b29a81#commitcomment-36755497

For me this issue is not closed.

[2020-01-11 12:37] sshedmake opened #5636 "[ui_next] Label 'Log In' at the Login screen, needs to be marked for translation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
With Japanese (dummy translation) google-chrome, label 'Log In' at the ui_next Login screen, appears in English (instead of Japanese)

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method: docker on linux
* Ansible version:  2.10.0.dev0
* Operating System: Fedora 31
* Web Browser: google-chrome

##### STEPS TO REPRODUCE
Visit Login screen of ui_

[2020-01-11 16:32] shanemcd commented on #5624
@svparijs Newer versions of AWX dynamically generate the nginx config and bind-mount it into the container. It is no longer hard-coded inside of the image. I can’t help you with a custom helm chart. My best advice is to look at the current version of our installer and make sense of what it’s doing.

[2020-01-11 18:23] Sergong commented on #5632
Hi @shanemcd thanks for the suggestion.
I wasn't quite sure where in the workflow to apply that, also, I've started using the latest minishift (1.34.2). I've done the following sequence of steps:

1. I've recreated the minishift VM with a `minishift start --cpus=4 --memory=8GB`
2. applied the above suggested addon and enabled it (just applying it leaves it in a disabled state)
3. stopped the minis

[2020-01-13 06:14] vibinm commented on #5566
Hi,

I scaled it as stateful sets and happy to say that the issue is fixed.

The issue was due to failure of RMQ clustering (due to SELINUX restrictions on the container).

Will close this issue.

[2020-01-13 06:14] #5566 closed, assigned to nobody

[2020-01-13 10:41] svparijs commented on #5624
Thanks for the reply. So by changing the behaviour of the docker image all downstream implementations break.

All helm implementation from 6.2* until 8.* seize to work with this upgrade. I haven't found any documentation on how to use the new implemented awx_web.
Do you have an example, or a few steps we (the community) need to take to make this working again?

[2020-01-13 11:19] nicolaibaralmueller commented on #5230
Just upgraded from 6.1.0 to 9.1.0 and same error appeared. @AntonSergievitch: your approach fixed the issue. Not a permanent solution though.

[2020-01-13 12:00] thorian93 commented on #4089
I think you are right @coudenysj, but my hopes are that the devs find a solution to store the values encrypted after import, so you have to unlock them before usage. Just like SSH key passphrases. But that's just my humble non-dev point of view.

[2020-01-13 12:05] thorian93 commented on #5476
@ryanpetrello: Is there any way I can help? I am no developer but I can try and test stuff.

[2020-01-13 13:23] gbryant200 commented on #1532
I'm having issues behind a corporate proxy as well.  I've setup the `/etc/systemd/system/docker.service.d/proxy.conf` file with the
[code]
and docker (or docker-compose) can't start the containers.  The error is:
[code]
[code]

I've tried this with using our proxy address name and ip address.

I've also setup the `/etc/docker/daemon.json file` to contain our dns servers.
[code]

Nothing seems to h

[2020-01-13 13:28] gbryant200 commented on #1532
if I run `docker hello-world` from my prompt (no sudo), I get this error:

[code]

So there's definitely a docker configuration problem.

[2020-01-13 15:06] mcoakley commented on #1532
Greg,

Make sure you URL encode all of the items in your proxy URL The domain
separator, the username and the password all need to be URL encoded if
there are any special characters that generally aren’t URL friendly. If you
are unsure, use a site like urlencode.org to help you.

Thanks,

Mike

On Mon, Jan 13, 2020 at 8:28 AM Greg <notifications@github.com> wrote:

--
Michael Coakley
Principal
973

[2020-01-13 16:04] matburt commented on #2012
That sounds pretty complex. I wonder if it wouldn't be easier to add as a secret or configmap, bind that to the container at startup and just add a trust call over to that if the mount point exists?

[2020-01-13 16:11] #5365 closed, assigned to nobody

[2020-01-13 17:06] Elyytscha opened #5638 "cant use job template launch with extra variables"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - CLI

##### SUMMARY

cant run jobs with extra vars from cli

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX CLI version: 9.0.1
* AWX install method: docker
* Ansible version:  X.Y.Z
* Operating System: alpine 3.10 (docker)

##### STEPS TO REPRODUCE

create a job template with prompt for variables enabled:

[Click for Proof](http://i.epvpimg.com/

[2020-01-13 17:46] chrismeyersfsu opened #5640 "500 server error on token delete"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
500 server error when deleting token. First observed when QE test `tests.api.auth.test_application_tokens.TestApplicationTokens.test_delete_token[True]` failed. From the stack trace; this is the problem area https://github.com/ansible/awx/blob/devel/awx/main/models/oauth.py#L124

I'm not sure why there is an exists check right before the save(). If it'

[2020-01-13 17:58] kdelee commented on #5081
connecting ldap stuff:
issue: https://github.com/ansible/awx/issues/3646
PR: https://github.com/ansible/awx/pull/4784

[2020-01-13 20:07] dsesami opened #5642 "Search bar isn't visible at decent widths."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The search bar behaves strangely at smaller widths (still decently wide).

##### ENVIRONMENT
* AWX version: Latest
* Operating System: Fedora 30
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Visit a page like the credentials list that has a searchbar, then shrink the width.

##### EXPECTED RESULTS
The bar stays visible.

##### ACTUAL RESULTS
(ignore

[2020-01-13 21:52] jakemcdermott opened #5646 "Provide enough information for the ui to calculate elapsed time for running jobs"
##### ISSUE TYPE
 - Feature Idea

The `started` field for ~running jobs~ **edit:** newly launched jobs  is `null`. This field is needed in order to compute and show an accurate playbook run time while the job is running.

[2020-01-13 23:07] kdelee commented on #5640
@chrismeyersfsu have you rebased? This is a bug that just got fixed/test that just got added.

https://github.com/ansible/awx/issues/5478

[2020-01-13 23:15] kdelee commented on #5634
How old is the 3.7.0 instance? That should be fixed in devel.

This is a bug that I've filed for 3.6.2, fix incoming https://github.com/ansible/tower/issues/4060

To work around: put in anything for `LOGIN REDIRECT URL` including a space

[2020-01-13 23:16] kdelee commented on #5634
In your screenshot it is just behind the modal saying "this field may not be null" in red letters

[2020-01-13 23:21] kdelee commented on #5294
LGTM. I fiddled around with sending the analytics manually but could not really introspect into the request, neither do I have access to ingress service so could not really see that either. Do you have any suggestions for testing?

Is this going to get backported to any prior releases?

[2020-01-14 06:40] artuja commented on #5535
I'm using the inventory script available here https://github.com/artuja/openstack-repository.git

[2020-01-14 09:01] 1junechung commented on #5232
I also have this error. for mine it is awx_web:9.1.1. and if you go into docker hub, the image name is ansible/awx_web:latest , not 9.1.1. I'm assuming the name difference is the reason the playbook cannot pull the image from docker.

[2020-01-14 09:25] MrMEEE opened #5647 "Missing tag 9.1.1?"
Hi guys

The version in the version file has been bumped to 9.1.1, but latest tag is still 9.1.0.. ?

[2020-01-14 10:17] nicolaibaralmueller opened #5648 "VMware dynamic inventory fails in awx 9.1.0 with py env 3"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Not able to update vmware inventory.

I tried the approach tried here: [https://github.com/ansible/awx/issues/4156](url) but did not resolve the issue.

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method: docker on linux
* Ansible version:  2.9,2

##### STEPS TO REPRODUCE

AWX 9.1.0 installed and setup a "VMware vCenter" inventory.
This worke

[2020-01-14 12:52] routenull0 commented on #1556
Anyone have a working Apache2 configuration?

[2020-01-14 13:43] Elyytscha commented on #5638
with the old tower-cli i got it working via

`tower-cli job launch -J ans-project-deploy -e limit_hosts=int --monitor`

[2020-01-14 15:43] unlikelyzero opened #5649 "Users Tabs (Organizations, Teams, etc)"
Converting to an issue to link to test automation

[2020-01-14 15:46] unlikelyzero opened #5650 "Teams (list, details, etc)"
Converting to issue to track for test automation.

[2020-01-14 15:47] unlikelyzero opened #5651 "Notification Templates (list, details, etc)"
Converting to an issue to track in test automation.

[2020-01-14 15:51] appuk opened #5652 "Creation of Inventory redirects to incorrect link"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On creation of inventory, it redirects to incorrect URL: `inventories/smart_inventory/n`

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

redirect to the correct Inventory details page
##### ACTUAL RESULTS

redirecting to incorrect URL: `inventories/smart_inventory/n`
![create-inv](https://user-images.githubusercontent.com/11617351/72359047-954f2e00-

[2020-01-14 16:04] hs-hub-world opened #5653 "Workflow Run On "Change""
We are still evaluating Ansible/AWX and we are noticing some limitations we thought it would be great to have.

##### ISSUE TYPE
When setting up Workflow we think Run On Change should be an option. For example, Whenever a change is detected we would want the same Template to run again x number of times until no more change is detected. For example - if a change keeps occurring that means something

[2020-01-14 16:12] AlanCoding commented on #5535
I am able to successfully run an openstack inventory update using that script.

here are some relevant parts of my job environment if you want to compare

[code]

[2020-01-14 16:33] RogerSik commented on #1556
I don't have it. @routenull0

I moved it from Apache to Traefik. Since then life with Reverse Proxy was getting much more easier. No need more to google specific Apache2 configuration for many services.

[2020-01-14 16:43] wenottingham commented on #5653
See #5564 . There is no 'changed' job status.

Marking as duplicate of that.

[2020-01-14 16:43] #5653 closed, assigned to nobody

[2020-01-14 17:50] ryanpetrello commented on #5647
Hey @MrMEEE,

We're working on cutting a release today (as we speak):

https://github.com/ansible/awx/pull/5655/

[2020-01-14 17:50] #5647 closed, assigned to nobody

[2020-01-14 17:54] ryanpetrello commented on #5648
@nicolaibaralmueller,

This looks like a bug in the VMWare inventory plugin code itself:

https://github.com/ansible/ansible/blob/devel/contrib/inventory/vmware_inventory.py#L366-L383

Based on my reading of this code, it looks to me like you're entering this code block:

https://github.com/ansible/ansible/blame/devel/contrib/inventory/vmware_inventory.py#L372

...meaning some form of `ssl.SSLErro

[2020-01-14 18:59] shanemcd commented on #5647
For future reference, the VERSION file is always going to get updated pre-release...

[2020-01-14 19:18] brennus390 commented on #630
I've tried by copying the example given under 'additional information' and still unable to pass extra_vars (I did change the necessary components to match my environment). I've tried using a survey, setting the variable in the template, and checking "prompt on launch' nothing seems to work.

Here's the code. It passes the host_config_key but not the extra_vars:

curl -v -k -X POST -H 'Content-Type

[2020-01-14 19:33] appuk opened #5657 "Inventory Edit - values do not get reflected unless the page is refreshed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After editing an Inventory, the old values persist on the inventory details page and the updated values are only displayed after refreshing the page

##### STEPS TO REPRODUCE
1. Edit an Inventory
2. Save the changes
3. check the edited feilds

##### EXPECTED RESULTS
The updated values should be displayed

##### ACTUAL RESULTS
Values do not get reflecte

[2020-01-14 19:50] chrismeyersfsu commented on #5640
I rebased this morning and in re-running the tests, it's now passing.

[2020-01-14 19:50] #5640 closed, assigned to rooftopcellist

[2020-01-14 20:02] rebeccahhh commented on #5039
@AlanCoding just to clarify, do we want more logs so that disassociations are noted or no logs except for the org change because the others are implied?

[2020-01-14 20:25] ryanpetrello commented on #5646
Huh?

![Kapture 2020-01-14 at 15 24 58](https://user-images.githubusercontent.com/214912/72379774-13bec680-36e2-11ea-940f-0594264f0fbc.gif)

[2020-01-14 20:30] AlanCoding commented on #5039
The latter, fewer activity stream entries. Only user-defined role parentage should be shown in the activity stream. Implicit relationships between roles like this should not be shown.

[2020-01-14 20:39] #5627 closed, assigned to nobody

[2020-01-14 20:41] dsesami opened #5658 "Inventory Host submission error handling needs to be improved"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Related to https://github.com/ansible/awx/issues/4240

##### ENVIRONMENT
* AWX version: Latest
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Create an inventory hosts, but include a typo in the YAML for its configuration.
For example, omit a space after the colon when setting up localhost.

Instead of
[code]
do:

[code]
##### EXPECTED RESULTS
A clear

[2020-01-14 20:51] AlexSCorey commented on #4984
Removing myself to reflect reality

[2020-01-14 21:03] ryanpetrello commented on #3988
@AlanCoding this might still need some UI work to make the UI respect the new API field.

[2020-01-14 21:07] dsesami opened #5659 "Deleting 2nd page of credential list items results in 404"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If you have 21 items in the credential list, then nav to the second page, then delete the last item on that page, it used to redirect to the first page. Now it 404s.

##### STEPS TO REPRODUCE

1. Make 21 credentials (or just enough to get to a new page, change the list count display setting if you'd like)
2. Go to the second page of the credential list

[2020-01-14 21:30] jladdjr commented on #5648
@nicolaibaralmueller - agree w/ @ryanpetrello; looks like you're hitting an ssl exception. Posted a fix for undefined var. That should at least give the ssl exception a chance to surface correctly.

Fwiw, we're currently working on migrating awx from the vmware inventory script to the [new plugin system](https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/plugins/inventory/vmware_vm_inv

[2020-01-14 21:32] jladdjr commented on #5648
@nicolaibaralmueller - going to mark this as resolved. If you hit any further issues here, feel free to re-open.

[2020-01-14 21:32] #5648 closed, assigned to nobody

[2020-01-14 21:32] jamesmarshall24 opened #5660 "Denote Job Errors vs Playbook Errors Differently"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Errors resulting in failed Tower services should be discernible in the UI. Currently both playbook failures and failures as a result of AWX/Tower service failures both show a red circle with a white exclamation mark.

A different visual cue or indicator for playbook vs service failures would help administrators prioritize which issues to look into f

[2020-01-15 07:34] nicolaibaralmueller commented on #5648
@ryanpetrello @jladdjr Great but how do I resolve the issue right now?!

[2020-01-15 07:59] MrMEEE commented on #5647
Thanks for the info..

[2020-01-15 08:21] svparijs commented on #5624
For anyone how would like AWX to run via Helm: https://github.com/rfyio/ansible-awx-helm-chart

[2020-01-15 09:22] beatsandpics commented on #5617
what infos do you need?

[2020-01-15 10:25] rmanibus commented on #5323
In fact with gitlab the scope of a webhook is rather large.

It would be very useful to be able to create conditions based on the request body to launch the job or not.
Moreover it would be very useful to be able to inject extra variables extracted from the request body.

[2020-01-15 10:30] craph opened #5662 "Error when AWX upgrade 7.0.0 to 9.1.1"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
tower-cli doesn't work to migrate organisation and team. Due to this point, the tower-cli doesn't create the credentials too.

##### ENVIRONMENT
* AWX version: 7.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: CentOS 7.7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

- Install tower-cli on the old-awx server

[2020-01-15 10:37] craph commented on #5662
If I try to export only organization and then import them in the new AWX I have an error too
[code]

It's the same for the team
[code]

[2020-01-15 11:58] craph commented on #5662
Similar issue : https://github.com/ansible/tower-cli/issues/705

[2020-01-15 13:58] ryanpetrello commented on #5662
@craph `tower-cli` isn't an official part of the AWX project, and we don't track its issues here.  It's also worth noting that `tower-cli` is basically unmaintained at this point, and that we're actively working on a new replacement CLI that is tested with and ships as part of AWX itself.

For what it's worth, this document is relatively out of date: https://github.com/ansible/awx/blob/devel/DATA_

[2020-01-15 13:58] #5662 closed, assigned to nobody

[2020-01-15 14:04] ryanpetrello commented on #5662
see: https://github.com/ansible/awx/pull/5663/

[2020-01-15 14:27] craph commented on #5662
@ryanpetrello ,

Thank you very much for the update.

So, can you explain what is the correct way to do the upgrade ? Should I do the upgrade from 7.0.0 > 8.0.0 > 9.0.0 > > 9.0.1 > 9.1.0 > 9.1.1 ?

Or can I do this from 7.0.0 -> 9.1.1 ?

Could you add all the need commands to achieve an upgrade in the best way ?

By the way, what is the correct way to do a backup of AWX ?

What will be the use of

[2020-01-15 14:44] jakemcdermott commented on #5646
@ryanpetrello
My initial description was incorrect :joy:   `job.status == running"` jobs  _do_ have `started` values.

It's that _newly launched jobs_  don't have this info when the job details are fetched, and the UI needs some sort of starting time as a basis for calculating the run time.

 I believe it only gets set after the job transitions to running, which usually happens after the job detai

[2020-01-15 14:52] jakemcdermott commented on #5646
I worded this issue very poorly :joy:  "running" jobs (as in job.status == "Running") _do_ have `started` fields.

It's that _newly launched jobs_  don't have this info when the job details are fetched, and the UI needs some sort of starting time as a basis for calculating the run time.

[2020-01-15 15:29] ryanpetrello commented on #5647
https://groups.google.com/forum/#!topic/awx-project/LPoj0LtsZfE

[2020-01-15 15:33] dsesami commented on #5276
note: @marshmalien has created https://github.com/ansible/awx/issues/5546 to establish a pattern for deleting resources with dependencies.

[2020-01-15 15:37] ryanpetrello commented on #5648
@nicolaibaralmueller,

AWX is an open source project that we make available free of charge. While we do our best to address reported issues in a timely manner, it’s simply impossible for us to provide immediate hands-on support for every issue.

In this case, the actual bug is in an inventory script included with Ansible, not AWX.  @jladdjr went out of his way to open a pull request against Ansibl

[2020-01-15 15:37] dsesami commented on #5276
Items tested:
- [x] Created a credential and ensured all fields display normally.
- [x] All encrypted fields stay encrypted.
- [x] Deleting a user that created a credential simply omits the "modified by" section of the credential information.
- [x] Edit and Delete buttons are only visible to users with write/delete access.
- [x] Responsiveness of the details page when changing window size.
- [ ] ~

[2020-01-15 15:39] dsesami commented on #5659
Closing as duplicate of https://github.com/ansible/awx/issues/4239

[2020-01-15 15:39] #5659 closed, assigned to nobody

[2020-01-15 16:00] ryanpetrello commented on #630
@brennus390,

I'm having trouble reproducing this on the latest version of AWX:

`curl -k -X POST "https://localhost:8043/api/v2/job_templates/7/callback/" -H 'Content-Type: application/json' --data '{"host_config_key": "48e60cc4-de40-454b-9528-c07976609023", "extra_vars": {"foo": "bar"}}'`

<img width="346" alt="image" src="https://user-images.githubusercontent.com/214912/72449195-41f5e200-3786-1

[2020-01-15 16:01] ryanpetrello commented on #630
Try changing this:

`"extra_vars": "{"ansible_playbook": "redacted.yml"}"`

...to this:

`"extra_vars": {"ansible_playbook": "redacted.yml"}`

[2020-01-15 16:09] brennus390 commented on #630
I'm version 7.0 and the best I've ever gotten is that it just doesn't
recognize the contents of 'extra_vars'. Right now I'm getting a " ERROR!
Unexpected Exception, this is probably a bug: 'NoneType' object has no
attribute 'startswith'" error. and the contents of 'ansible_playbook' is
showing as 'null

[image: image.png]

Do you also have the variable indicated under 'EXTRA VARIABLES' with
'Promp

[2020-01-15 16:11] ryanpetrello commented on #630
[code]

Is there any additional context above this (potentially a traceback?)

[2020-01-15 16:17] brennus390 commented on #630
Enter passphrase for /tmp/awx_780_1yglal76/artifacts/780/ssh_key_data:
Identity added: /tmp/awx_780_1yglal76/artifacts/780/ssh_key_data
(/tmp/awx_780_1yglal76/artifacts/780/ssh_key_data)
ansible-playbook 2.8.4
  config file = /etc/ansible/ansible.cfg
  configured module search path =
[u'/var/lib/awx/.ansible/plugins/modules',
u'/usr/share/ansible/plugins/modules']
  ansible python module location

[2020-01-15 16:21] ryanpetrello commented on #630
@brennus390,

That traceback is in Ansible itself, not AWX.  You might want to ask on the Ansible mailing list or IRC room.

[2020-01-15 16:48] brennus390 commented on #630
OK, I'll see if I can figure out what's wrong with the playbook. I know I
don't get that 'NonType' error if I setup a survey asking for the variable.
but even then, the value for 'foo' isn't getting populated.
Thanks

On Wed, Jan 15, 2020 at 10:21 AM Ryan Petrello <notifications@github.com>
wrote:

--
Douglas Thompson
---
Is life so dear or peace so sweet as to be purchased at the price of chains

[2020-01-15 16:59] brennus390 commented on #630
I 'fixed' the 'NoneType' error then setup a debug to catch the value of
'foo' . . . still null...I hope an upgrade won't be required since we have
a lot of work put into this particular environment.

On Wed, Jan 15, 2020 at 10:48 AM Douglas Thompson <
douglas.thompson@peripatetics.net> wrote:

--
Douglas Thompson
---
Is life so dear or peace so sweet as to be purchased at the price of chains
and s

[2020-01-15 19:09] keithjgrant commented on #5235
The latest version of Formik introduces a number of new hooks that can accomplish this without `withFormik` wrapper. I'm working now on this upgrade so I can fix this issue with a hook.

[2020-01-15 19:11] kdelee commented on #3903
Any word on this? @AlanCoding

[2020-01-15 19:12] kdelee commented on #3054
@rebeccahhh have you synced up w/ @appuk lately on this?

[2020-01-15 19:25] hs-hub-world opened #5670 "Site stuck in reload state"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Not sure if this is happening to anybody else but once in a while (now more frequently) anytime I try to go back to the awx site (https://servername) the page is stuck in the reloading state, I managed to capture some of the errors from the browser console
![image](https://user-images.githubusercontent.com/20629911/72463517-46bb9580-3788-11ea-8f9d-fd38

[2020-01-15 19:28] kdelee commented on #3428
@beeankha reach out to @appuk when you get started on this

[2020-01-15 19:30] kdelee commented on #5145
@beeankha + @john-westcott-iv, @squidboylan will be your contact for testing this

[2020-01-15 19:36] chris93111 commented on #2350
+1

[2020-01-15 19:41] ryanpetrello commented on #5142
@matburt @jakemcdermott @wenottingham

https://github.com/ansible/awx/pull/5604/files#diff-82158f398fa5f587f3a95c3060cb05c9R622

Should we set some sane default for all new installs so people don't have to type in `1000` and induce a nuclear meltdown to learn this setting exists?  I recall the core folks basically saying there was a theoretical limit anyways where Ansible couldn't keep up, and tha

[2020-01-15 20:15] kdelee commented on #5155
@rooftopcellist can you update what's up w/ this issue? Since @one-t is busy w/ perf testing stuff I think I will be working on this

[2020-01-15 20:16] rebeccahhh commented on #3054
@kdelee yep, we've been chatting

[2020-01-15 20:52] AlanCoding commented on #5246
Not dismissing the discussion, but I want to keep the issue queue more focused on actionable items. There are lots of ways we _could_ improve the collection, but need more all-encompassing prioritization.

[2020-01-15 20:52] #5246 closed, assigned to nobody

[2020-01-15 21:15] kdelee commented on #5153
Checked @elyezer 's work and all is done,  going to close this

[2020-01-15 21:15] #5153 closed, assigned to elyezer, fosterseth, kdelee

[2020-01-15 21:34] donateur commented on #5660
Thanks James, that's great.

Note that the squares (switches or status icons?) used to show job history also need to be included in this change.  They currently show "green top" for success, "red bottom" for failure (of some kind) and "grey" for no execution history.  They would also need a new status for project update, inventory update, or service failures.

Thanks again

[2020-01-16 09:23] nicolaibaralmueller commented on #5648
@ryanpetrello Yes I realize that. Just seems like a vmware inventory bug would be a high priority.

I replaced the existing vmware_inventory.py with the latest from devel but a new error appeared. Opening a ansible git issue for that.

[2020-01-16 10:09] gjt11 opened #5675 "New Relic Record Deployment"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
New feature for existing Ansibile Module called newrelic_deployment
https://docs.ansible.com/ansible/latest/modules/newrelic_deployment_module.html

##### ENVIRONMENT
* AWX version: 3.5.3
* AWX install method:  linux
* Ansible version:  2.8.6
* Operating System: Red Hat Linux
* Web Browser:

##### STEPS TO REPRODUCE

Run

[2020-01-16 14:33] beeankha commented on #5614
Closing this issue, due to https://github.com/ansible/awx/pull/5661 being merged.

[2020-01-16 14:33] #5614 closed, assigned to beeankha

[2020-01-16 14:33] chey commented on #5473
Confirmed to be an issue with 9.1.1 as well.

[2020-01-16 14:39] #519 closed, assigned to nobody

[2020-01-16 14:42] AlanCoding commented on #485
tower-cli is deprecated

anyone is free to file a new request for AWX CLI, if there is still interest

[2020-01-16 14:42] #485 closed, assigned to nobody

[2020-01-16 14:51] AlanCoding commented on #739
The only version of this that makes sense to me is templating survey variables.

[2020-01-16 15:01] msilmser opened #5676 "[RFE] Ability to limit the amount of manually launched jobs/forks"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Customer would like the ability to limit the amount of manually launched jobs or forks, similar to the limit of scheduled jobs.

[2020-01-16 17:10] clerskine opened #5680 "Feature request - print name of playbook as part of the PLAY RECAP"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY
When the PLAY RECAP line is printed at the end of a playbook, print out the name of the playbook that is running.  When running multiple playbooks via a script, it would be very helpful to have the name of the playbook printed as part of the recap.  This saves having to scroll back in the log and finding the command line

[2020-01-16 17:52] clerskine commented on #5680
Found I was in wrong area

[2020-01-16 17:52] #5680 closed, assigned to nobody

[2020-01-16 21:19] cs-laurentiuvasiescu opened #5682 "variables not removed from the inventory when removed from source"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

After removing variables from the original SCM project they will still be present in the inventory variables.

##### ENVIRONMENT

* AWX version: 9.1.0
* AWX install method: rpm
* Ansible version:  2.9.2
* Operating System: Centos 7,7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create an SCM project, create an inventory sourced in that project (u

[2020-01-16 21:44] marshmalien opened #5683 "Move Created By and Modified By fields"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Move **Created By** and **Last Modified** to the very bottom of the Detail List, but before the "full card width" detail items like labels, instance groups, and variables.

_Actual Result_
<img width="1272" alt="Screen Shot 2020-07-27 at 10 51 00 AM" src="https://user-images.githubusercontent.com/15881645/88558155-2e5eea00-cff9-11ea-962a-5eaa7b27c0a0.p

[2020-01-16 21:46] marshmalien opened #5684 "Users List - Add Type column"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Mockup: https://tower-mockups.testing.ansible.com/patternfly/users/users/

Add column for user "type" Normal User, System Administrator, System Auditor to the user list.

<img width="1197" alt="Screen Shot 2020-01-16 at 4 45 48 PM" src="https://user-images.githubusercontent.com/15881645/72565384-b9f40300-387f-11ea-9ab8-d0aeb1c198e2.png">

[2020-01-16 21:51] marshmalien opened #5685 "Add "external source" enhancements to Users list, detail, and form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Users List
- Denote that a user comes from an external source (ie LDAP) as a tag next to the username

<img width="401" alt="Screen Shot 2020-01-16 at 4 47 33 PM" src="https://user-images.githubusercontent.com/15881645/72565484-f6bffa00-387f-11ea-99c7-597eebe54354.png">

User Detail
- Denote that a user comes from an external source (ie LDAP) as a ta

[2020-01-16 21:57] pgozart opened #5686 "RFE: Persist Single Virtual Env Through Entire Workflow"
##### ISSUE TYPE
 - Feature Idea

RFE from Red Hat customer running Ansible Tower

##### SUMMARY

Context:

We have a job automated through Tower that automatically provisions a project in OpenShift and scales the resources. Since the ansible resources aren't great for OpenShift (I've looked a little bit at the k8s module, but I don't think that will solve this issue), we have done everything via

[2020-01-16 22:02] marshmalien opened #5687 "Users Form and Detail - UI Cleanup"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Detail
* Move fields around to match [mockup](https://tower-mockups.testing.ansible.com/patternfly/users/users-detail/)
* Add **Created** and **Last Modified** Details
  * These fields are missing from `summary_fields`. We'll need to get them added by the api in order to show them??? This will require some discussion with UX/API team.

Form
* Move for

[2020-01-16 22:13] pgozart commented on #5686
Customer figured out that he can use roles to work around this issue.  Closing RFE.

[2020-01-16 22:13] #5686 closed, assigned to nobody

[2020-01-16 22:41] stclark-incomm commented on #2012
The update-ca-trust command needs root privilege to run, the awx containers start with user 1000.  The command could be run in the ENTRYPOINT script, if it was running as root.  A Kubernetes init container isn't adding too much complexity, and keeps the main container running as non-root, so I think it's reasonable.  I'll try and get my change up to github next week.

[2020-01-17 02:09] wenottingham commented on #5675
This needs to be filed in https://github.com/ansible/ansible - this has nothing to do with AWX.

[2020-01-17 02:09] #5675 closed, assigned to nobody

[2020-01-17 02:31] wenottingham commented on #5676
For resource limiting, or something else? Capacity adjustments + instance groups would likely solve this better.

[2020-01-17 06:57] Saurabh-Thakre opened #5689 "Survey is showing default answer instead of showing provided choice"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: latest
* Operating System: RHEL 8
* Web Browser: Google Chrome/Firefox

##### STEPS TO REPRODUCE

1. Create a new Job Template.
2. Create a new survey.
3.  Launch the template.
4. Select **disabled** in the survey drop down menu.
5. Now go back to **Other Prompts** menu.
6. Press **Next**.
7. Check that "update system"

[2020-01-17 08:11] balonik commented on #5305
Same issue when upgrading from 8.0.0 to 9.1.0. Running the `chown` command above fixed the issue.
It happened only on 1 of our 2 instances.

Error from `awx_web` container below:
[code]

[2020-01-17 08:38] JG127 opened #5690 "Migrate to Python 3"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Now Python 2 really, really, really, finally has been deprecated, it would be time to migrate to Python 3. The current configuration obliges custom ansible extensions to be written for Python 2.

[2020-01-17 09:49] kovaxur opened #5691 "awx installation fails when using external postgres due to missing maintenance_db parameter in /usr/bin/launch_awx.sh"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This is closely related to #5221, since that time, now the postgres_db module of ansible has the maintenance_db option, but it's missing from the /usr/bin/launch_awx(_task).sh  script.

The problem is the same, as in the previous ticket: when an external postgres db is used, it will try to connect first to the 'postgres' db as it's the default of the m

[2020-01-17 10:03] kovaxur commented on #5691
Also affects the same way:
installer/roles/image_build/templates/launch_awx_task.sh.j2

[2020-01-17 10:31] Giusepe92 opened #5692 "Inventory update based on project and not job"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY
We are using AWX 9.1.1
We defined a project named : DEPLOY_DEV
for this project, we allowed branch override, and we have not specified any branch.

We defined a job template : DEPLOY_DEV_AUTO
this job template ask for branch on launch, which will point to the branch SCM where we have our playbook and our inventory.

[2020-01-17 13:00] MrBones757 commented on #5574
this issue is resolved by the changes in the above PR

[2020-01-17 13:00] #5574 closed, assigned to nobody

[2020-01-17 13:03] ryanpetrello commented on #5690
@JG127,

AWX's code itself was moved to Python3 quite some time ago, but many of our users still run their playbooks in Ansible under Python2.

We'll continue to support playbook execution under Python2 for as long as Ansible itself does.

[2020-01-17 13:03] #5690 closed, assigned to nobody

[2020-01-17 13:25] ryanpetrello commented on #5691
@kovaxur given that you've prescribed a solution, pull requests are welcome 😄

[2020-01-17 13:54] AntonSergievitch commented on #5230
docker exec -it awx_web bash -c "chown -R nginx:nginx /var/lib/nginx"

[2020-01-17 14:32] #5266 closed, assigned to dsesami, AlexSCorey

[2020-01-17 15:02] AlexSCorey opened #5693 "Inventory Host Details Sparkline"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Sparkline in HostDetails/InventoryHostDetails does not navigate correctly.
##### ENVIRONMENT
* AWX version: 9.1
* AWX install method:  docker for mac
* Ansible version:  2.10
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Host --> click on host that has jobs ---> Click on an item in the spark line.
##### EXPECTED RESULT

[2020-01-17 16:20] dsesami commented on #5642
fixed by #5639

[2020-01-17 16:20] #5642 closed, assigned to nobody

[2020-01-17 18:08] wenottingham commented on #5689
Is there a value for the extra_var `update_system` set on the job template itself outside of the survey?

[2020-01-17 18:11] wenottingham commented on #5682
Is this variable at the inventory level? Vars at the toplevel inventory are not automatically cleared, as they can also be set manually outside of any one (or multiple) inventory sources.

[2020-01-17 18:24] wenottingham commented on #5646
suggestion: do ^

[2020-01-17 18:29] wenottingham commented on #5634
Closing as fixed.

[2020-01-17 18:30] #5625 closed, assigned to nobody

[2020-01-17 18:32] wenottingham commented on #5617
What sort of deployment do you have - what is the topology?

If this is in kubernetes, what is your pod status?

[2020-01-17 18:33] wenottingham commented on #5595
Please try with the latest release - we believe it will resolve this.

[2020-01-17 18:33] #5595 closed, assigned to nobody

[2020-01-17 18:34] #5634 closed, assigned to nobody

[2020-01-17 20:10] msilmser opened #5698 "[RFE] Allow Inventory Sourced from Project to sync with branch specified in initiating job template launch"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, when you specify an scm branch for a job template launch, the template will launch with the correct code, but if the inventory is sourced from a project, it will always sync with the branch specified in the project itself. If the inventory between the two branches is different, this can cause issues with the job launch by pulling the corre

[2020-01-17 21:15] omgjlk commented on #4809
With 9.1.1 I've finally had a moment to test this out. I have confirmed that while a long job that is configured to use an inventory source that updates on runs, I am able to trigger additional inventory updates.

I would consider this closed at this point. Thanks all!

[2020-01-17 21:20] ryanpetrello commented on #4809
Thanks for helping us test this out, @omgjlk cc @elyezer @fosterseth.

We'll do some final verification on our end and then close this out.

[2020-01-17 21:43] #4613 closed, assigned to keithjgrant

[2020-01-17 21:43] #4504 closed, assigned to nobody

[2020-01-17 21:48] #4618 closed, assigned to nobody

[2020-01-17 22:46] geerlingguy commented on #374
I know Tower itself now requires Postgres 10 (see https://docs.ansible.com/ansible-tower/latest/html/installandreference/requirements_refguide.html), so it would seem AWX probably does too?

[2020-01-18 02:33] ryanpetrello commented on #374
@geerlingguy thanks for the heads up - recent versions of AWX now use Postgres 10 (so this can be closed).

[2020-01-18 02:33] #374 closed, assigned to nobody

[2020-01-20 08:47] craph commented on #5064
Hello @ryanpetrello,

This issue is still there in the latest version 9.1.1.

Only admin user can add label on a template. I'm using a user with admin rights but I'm unable to add label on my template.

Are you aware of this issue ?

Thank you very much.

Best regards,

[2020-01-20 09:13] craph opened #5704 "Mattermost notification failed because of custom CA"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm unable to use Mattermost notification because my custom CA is not trusted

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.3
* Operating System: Windows
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a notification for Mattermost (Mattermost must have custom CA)
Test the notification

##

[2020-01-20 10:05] beatsandpics commented on #5617
I'm using docker-compose with an external Postgres DB.
It's a AWX 3.x version (where we had the same issue) which I upgraded to 9.x

[code]

[2020-01-20 10:09] beatsandpics commented on #5617
The containers them self run fine
[code]

[2020-01-20 11:17] tutoGav commented on #5698
Thanks for create this RFE, @msilmser

This was originated by a technical support case.

As he said, the problem is when you create a project and use an inventory whose source is tracked with the project itself, by using a SCM tool.

When you create a template job and you set it up to prompt for SCM branch on launch as the inventory source, I expect both do it pulling from the branch setted at lau

[2020-01-20 14:40] #5619 closed, assigned to AlexSCorey

[2020-01-20 15:37] AlanCoding commented on #5692
Is this the same as https://github.com/ansible/awx/issues/5698? If it is, I just want to consolidate, and set priority.

[2020-01-20 16:39] appuk commented on #5652
The fix is merged and the issue is now resolved, hence, closing the issue.

[2020-01-20 16:39] #5652 closed, assigned to AlexSCorey

[2020-01-20 16:45] appuk commented on #5657
The Edited value is now displayed on the details page, hence closing the issue.

[2020-01-20 16:45] #5657 closed, assigned to marshmalien

[2020-01-20 18:12] benthomasson opened #5708 "AWX ships analytics bundle multiple times per upload window."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX ships analytics bundle multiple times per upload window.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.10.0.dev0
* Operating System: Red Hat Enterprise Linux Server release 7.7 (Maipo)
* Web Browser: N/A

##### STEPS TO REPRODUCE

Create a clust

[2020-01-20 18:14] #5599 closed, assigned to nobody

[2020-01-20 19:32] ryanpetrello commented on #5064
Hey @craph,

I'm aware of the issue, but haven't had any time to look at it (neither have any of the other AWX contributors).

[2020-01-20 20:41] gamuniz opened #5711 "Allow Promptable Instance Group from Predetermined List."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Allow for users with admin on a job template to select from a predetermined list of instance groups. This would allow for the reuse of job templates and reduce the need for redundant job templates.

[2020-01-20 20:48] matburt commented on #5142
The solution looks good to me.

[2020-01-20 21:32] #4797 closed, assigned to fosterseth, nixocio

[2020-01-21 00:53] jamesmarshall24 opened #5716 "Job Failure Threshold Based on Host Status"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

- Calculate job success/failure based on collective host status in playbook run
- Create a check box in job template UI to mark "partial failures"
- Input pane to set number of hosts as an upper limit required to fail for determining "Failed" or "Partially Failed" job status

[2020-01-21 07:39] IshwarKanse opened #5717 "awx cli schedules create cannot create schedule if the user is of type Normal User with required permissions."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx cli schedules create cannot create schedule if the user is of type Normal User with required permissions on the object or even with Organization admin role. Currently the user needs to be a System Administrator type to create the schedule. From the UI the Normal User with permission can create the schedule.

POST at the /api/v2/schedules/ endpoint

[2020-01-21 14:33] vindevoy commented on #4821
Hi, even if this is closed, I would like to add some comments.  I have the same problem and it's really a python config issue.

On RHEL7, python3.6 causes some huge problems:
- yum stops working
- docker daemon does not start

Using python2.7, docker and yum work correctly.

I have verified this with using alternatives, switching between both.  When you run the playbook with python3.6 and the requ

[2020-01-21 14:34] vindevoy commented on #4821
Oh, as I am using the original install.yml playbook, it would be nice to add an option to specify the Nexus where to download, or just to use the Dockerhub repos.

[2020-01-21 14:36] benthomasson opened #5719 "AWX ships analytics from every node in a cluster"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX ships analytics from every node in a cluster due to the fact that it is run as a celery beat task and celery beat runs on every node in a cluster.    This causes duplicate data to be processed by Automation Analytics.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* A

[2020-01-21 14:57] tumbl3w33d opened #5720 "Allow overriding vault_password_file path"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I ran into an issue with AWX that was documented here: https://github.com/ansible/awx/issues/1630

Unfortunately, it was closed without being properly resolved. I talked to @bcoca about it and he explained to me that all `ansible.cfg` settings can be overridden by cli or env vars which is also how AWX overrides things.

TL;DR;: please make this setting

[2020-01-21 15:48] idelsink opened #5722 "Update the ansible runtime in the awx_task container"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX v9.1.1 is running ansible v2.8.5 while v2.9.4 has been released.

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Ubuntu 18
* Web Browser: Unrelated

##### STEPS TO REPRODUCE

I installed AWX using the install steps for docker.

##### EXPECTED RESULTS

Expected to get the la

[2020-01-21 16:31] rooftopcellist commented on #5294
@kdelee I don't have access to the ingress service either, but we could check to make sure it is in the request header.  Though the only real way I can think of to do that is to run the `ship()` method in something like `shell_plus` and set a `pdb.set_trace()` in that section of code, then introspect the request object after it has been created to look at the headers.

[2020-01-21 16:33] rooftopcellist commented on #5294
@benthomasson Would you be able to look at the header from the automation analytics side?

[2020-01-21 16:39] kdelee commented on #5719
@ryanpetrello @wenottingham I see the PR, do you all have a cluster up and can you suggest a way to test this?

[2020-01-21 16:45] wenottingham commented on #5719
I do not have a cluster up. Best way to test is probably just to set it to run often (every 30 mintues or so) and watch the logs to see which nodes are gathering & sending when.

If you can instrument the receiving side as well, that helps, but I don't know how to do that.

[2020-01-21 17:09] elyezer commented on #4809
I was able to verify this one by doing the following:

1) Created a job template that ran a playbook that took many minutes to complete.
2) While the previous job was running, the related inventory update was triggered and started running immediately.

With that said I think we can close this one.

[2020-01-21 17:09] #4809 closed, assigned to fosterseth

[2020-01-21 17:13] kdelee commented on #5603
still seeing some references to scan jobs, putting up a PR with my suggested removals

[2020-01-21 17:44] kdelee opened #5724 "zuul job containers don't have "diff" command"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The schema change job has been failing with this error:

[code]

##### STEPS TO REPRODUCE

This check runs on all PRs...need to fix how the container is built to include `diff`

[2020-01-21 17:50] kdelee commented on #5603
after this and related test update PR go in will close this

[2020-01-21 17:50] uDuCkV commented on #20
+1

[2020-01-21 19:13] kdelee commented on #5294
Got access to logs from ingress service, can confirm that User Agent is getting set from devel instances
![Screenshot from 2020-01-21 13-30-12](https://user-images.githubusercontent.com/29239279/72835131-24c68500-3c58-11ea-951c-15fc270d0c01.png)

[2020-01-21 19:13] #5294 closed, assigned to benthomasson, kdelee

[2020-01-21 19:44] kdelee commented on #5719
I built packages, spun up cluster and tested. Commented on PR...please let me know if you all make more changes as will have to test again

[2020-01-21 20:18] kdelee commented on #5603
closing

[2020-01-21 20:18] #5603 closed, assigned to ryanpetrello, kdelee

[2020-01-21 20:20] kdelee commented on #5719
related: https://github.com/ansible/tower/issues/3810

[2020-01-21 20:42] AlexSCorey opened #5727 "Workflow should not require an Inventory or Project"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In JobTemplates List Workflows that have a 'missing resource' have a warning icon next to them indicating they need, but do not have, an inventory and/or project assigned to them.
##### ENVIRONMENT
* AWX version: 2.10
* AWX install method:  docker for mac,
* Ansible version:  9.3
* Operating System: Mojave
* Web Browser:Chrome

##### STEPS TO REPRODUCE

[2020-01-21 20:45] markandrewj commented on #20
I am not sure if this is helpful for people, but I tried modifying the survey_spec resource with the new awx-cli (since tower-cli is being depreciated), and it doesn't look like the action has been built in yet (unless there is a way to do it that wasn't documented). However, it was easy enough to just use a raw post request to the endpoint ('/api/v2/job_templates/{id}/survey_spec/). You can use a

[2020-01-21 20:47] kdelee commented on #5514
Could this change have caused this traceback in logs while saving events?

[code]

[2020-01-21 20:54] AlanCoding commented on #5514
that looks more related to teardown code. Inventory updates don't link from events to the host (only jobs and ad hoc commands do). What you're seeing sounds like someone had a running inventory update and deleted the inventory update, or related inventory, or related organization. We have logic to prevent that, but it might not be airtight.

Or it could be that the inventory update finished and wa

[2020-01-21 20:55] ryanpetrello commented on #5514
@kdelee that error is what @AlanCoding suggested, and isn't unique to this change - it occurs if the callback receiver tries to save an inventory update event that's related to an inventory update that no longer exists

you can reproduce this pretty easily by:

1.  Stopping the callback receiver
2.  Launching an inventory update
3.  After `state='successful` (though no stdout will show), delete th

[2020-01-21 21:09] kdelee commented on #5514
ok cool

[2020-01-21 21:18] kdelee commented on #5719
closing this as tested as described on PR

[2020-01-21 23:02] dnguyen9 commented on #5567
Hey Ryan,

* Understood,  we turned off the fact_caching now for these types of jobs but I wonder if there's any way possible to provide an option to limit the fact caching to one particular host if we so choose to?

* I am making a POST against /api/v2/job_templates/{{ template_id}}/launch simultaneous and storing the x_api_time  return from the header.

Thanks, Will try out the latest 9.X and re

[2020-01-22 01:17] andrewsav-bt commented on #1695
I just came across this issue today, almost 2 years later. It indeed does not work when run as non-root user, as described in the OP, and it is indeed still not mentioned in the documentation.

[2020-01-22 02:37] squidboylan commented on #5465
@AlanCoding can we close this now?

[2020-01-22 02:56] daniel-farina commented on #2495
I encounter the same problem.

![image](https://user-images.githubusercontent.com/13665117/72861750-d4bbe280-3c98-11ea-964d-6406757798b9.png)

even though I already added git token credentials.

[2020-01-22 03:37] AlanCoding commented on #5465
given confirmation that sanity tests pass, absolutely

[2020-01-22 03:37] #5465 closed, assigned to squidboylan

[2020-01-22 08:10] fvzwieten opened #5730 "Machine credential in enviornment variables"
##### ISSUE TYPE
Machine credentials are not available in environment variables during execution of a job template.

##### SUMMARY
Currently, all credential types expose their details in environment variables during execution of play's in a job template, except for machine credentials. However, there is a common workflow that would greatly benefit from them. This is the workflow of creating a VM u

[2020-01-22 09:17] MrBones757 opened #5731 "vmware_vm_inventory dynamic inventory support"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Implementation of Ansible's vmware_vm_inventory plugin.

I have noticed there is an 'Implement me' here: https://github.com/ansible/awx/blob/6d075b8874e7a352596b7b23caea1ce96db237b9/awx/main/models/inventory.py#L2234

Is there any in-progress plans to implement this plugin?

I've been using the existing inventory script and have found issues with sup

[2020-01-22 14:03] AlanCoding commented on #5731
It's not clear that switching to the plugin would address what you're interested in. Although we have changed over to use the plugins, the options (as taken from source variables) still maintain accept options as they were in the script, in this case, https://github.com/ansible/ansible/blob/devel/contrib/inventory/vmware_inventory.ini. If you want the ability to enter options as they are documente

[2020-01-22 16:17] al-lac commented on #5711
Seems like a great idea. I think it would also make sense to be able to pin Instance Groups to Groups or individual hosts. It would solve the duplicate templates problem as well. Especially if you have a lot of hosts that are only reachable via an isolated node.

[2020-01-22 16:30] wenottingham opened #5735 "expose K8S/OCP credentials for playbook use"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We have a bearer token credential type that is used for the container group feature.

There does not appear to be a reason it cannot be used for general playbook runs.

The `k8s` ansible module accepts `K8S_AUTH_HOST` and `K8S_AUTH_API_KEY` env vars.

[2020-01-22 16:32] appuk opened #5736 "Inventory Group Edit - the Edit/Cancel functionality does not work properly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
While on the Inventory group edit page, pressing the Edit or the Cancel button does not redirect to the Inventory Groups Details page.
Additionally:
1. On Editing the Inventory Group, the IG gets updated in the backend successfully but an "error" is
displayed at the bottom
2. On pressing Cancel, the Console displays the error: "Cannot read property 'id

[2020-01-22 16:33] wenottingham commented on #5711
Pinning to groups or hosts does not make sense - a playbook only runs on one instance group.

[2020-01-22 16:41] wenottingham commented on #5730
Credentials are delegated; playbooks can be run without access directly to the credentials, as a means to restrict their unauthorized use by people who don't otherwise have access to the credentials. While we accept what this means for credentials that have to be passed as env vars and/or extra vars, for ones that aren't passed that way, we would rather not *expand* that information leak into the

[2020-01-22 16:46] al-lac commented on #5711
I was just thinking about how Foreman / Satellite handles hosts in isolated environments. Here you can set the required capsule on a per host / group / network basis.
With the way it's currently implemented in awx you have to copy your template for every isolated environment that one has. And i know that you can set instance groups on inventories, but since you can only specify one per template it

[2020-01-22 16:49] wenottingham commented on #5711
Right, but what you're suggesting is to execute the playbook once on each instance group that may be used by the inventory, limited to those hosts. That can alter how the playbook runs, what gathered facts it uses, what conditionals it follows; it can't be done transparently.

[2020-01-22 17:01] al-lac commented on #5711
Maybe it can be solved similar to how job splicing works by creating a workflow with a job for each instance group. But i can see the problem here, yeah.

I would already be happy if we could just select more than one inventory per template like requested in #412. That way we could use a single template for internal and isolated environments.

[2020-01-22 17:12] #5235 closed, assigned to keithjgrant

[2020-01-22 18:12] appuk opened #5737 "VariablesDetail field: the updated value is not reflected after updating the variables field unless the page is refreshed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On InventoryEdit and InventoryGroupsEdit View, on editing the Variables field, the updated value does not show up in the Details page

##### STEPS TO REPRODUCE
Reproduced on Inventory and Inventory Groups page, but works fine on Hosts
1. go to the Edit page
2. change the variables field and press Save

##### EXPECTED RESULTS
The Details page should ref

[2020-01-22 18:22] gamuniz opened #5738 "Remove restriction that disallows assigning credentials to teams across Orgs."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently the only way to assign a team to a credential not in their Org is to temporarily assign that credential to the Org to which the team belongs, then remove the Org after adding a team.
It would be beneficial to allow superusers and org admins(assuming they've got permissions to both orgs) the ability to assign a team to a credential owned by

[2020-01-22 18:32] appuk commented on #5737
Looks like this is a duplicate of https://github.com/ansible/awx/issues/5502, hence closing

[2020-01-22 18:32] #5737 closed, assigned to marshmalien

[2020-01-22 20:07] VivaLaPanda opened #5741 "SSH Machine Credential Signed Certificate not calling add-key"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using SSH Signed Cert credential, my job fails to SSH to the server. I see similar issues in the log, but in all cases add-key gets called and then fails. In my case it's not apparent that the provided SSH Signed Key is being used at all.

##### ENVIRONMENT
* AWX version: 5.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.1
* Op

[2020-01-22 20:26] ryanpetrello commented on #5741
@VivaLaPanda you're encountering a bug that was fixed in a later version of AWX (so you'll need to upgrade to a newer version to fix it):

https://github.com/ansible/awx/issues/4139
https://github.com/ansible/awx/pull/4320

https://github.com/ansible/awx/blame/devel/CHANGELOG.md#L106

[2020-01-22 20:26] #5741 closed, assigned to nobody

[2020-01-22 20:36] andrewsav-bt commented on #1335
@ryanpetrello  So is there any place that have a list of these links for each release?

[2020-01-22 20:54] DonaldKallman opened #5743 "RFE: Define field for CyberArk AIM lookup"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Allow the user to define the field in the JSON response to be used for the username and password values.  This is a unique scenario to object types that do not map to the standard Content and UserName fields (like a cloud service).  For example, I want the value of Content for the password and the value of AWSAccessKeyID as the username from the belo

[2020-01-22 21:03] beeankha opened #5744 "More Helpful Error Message on api/v2/inventories Endpoint"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When trying to change a regular inventory into a "smart" inventory, the `PUT` and `PATCH` both error out (as they should), but the error message is not very informative.  Please see screenshots below for both PUT and PATCH errors:

<img width="1048" alt="PUTNotAllowed" src="https://user-images.githubusercontent.com/28930622/72933561-f3b98380-3d2f-11ea-

[2020-01-22 21:50] ryanpetrello commented on #1335
@andrewsav-datacom

https://github.com/ansible/awx/blob/devel/CHANGELOG.md

[2020-01-22 21:58] jamescassell commented on #1335
Awesome! Thanks for updating the changelog with historical mailing list posts!

[2020-01-22 22:24] kylecurtis-od commented on #5743
I believe this has to do with the tower config not handling two different credential types from the cyberark side.
In the scenario where the credential in the cyberark safe is, "Device Type: Operating System", making a call to the cyberkark 'password' api endpoint will work fine. However, if you make that same call to the cyberark api, and you want a cyberark stored account that is of the device t

[2020-01-22 23:41] adpavlov commented on #3054
I would actually call it a bug instead of feature idea:)
if 2 blocks lead to one, that usually means that last one depends on both previous steps.

[2020-01-23 03:51] jakemcdermott commented on #5743
You'll need to change how you're storing this data in Cyberark.

Tower will map _strings_ (returned by your secret management system) to input fields. It does not process or attempt to remove fields from strings that contain json.

Using the example above, If you want to map `Content` to a specific field tower, you'll need to store that value _on its own_ inside your Cyberark server and not as par

[2020-01-23 03:58] jakemcdermott commented on #5743
:man_facepalming: Actually, I see what you mean now. You're referring to this field: https://github.com/ansible/awx/blob/devel/awx/main/credential_plugins/aim.py#L100, which we use to get the secret string.

[2020-01-23 04:04] jakemcdermott commented on #5743
@DonaldKallman @kylecurtis-od This idea sounds very reasonable and a great way to improve the plugin. Thank you for suggesting it. It could be done by adding an optional field to [the plugin](https://github.com/ansible/awx/blob/devel/awx/main/credential_plugins/aim.py#L53), like you suggest. The default value for the field would need to remain as `Content` (for backwards compatibility).

Such a ch

[2020-01-23 13:05] chris93111 opened #5746 "delete inventory stay pending"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
the inventory stay in delete pending
filesystem full in postgresql do exception in delete request
https://github.com/ansible/awx/issues/3945 don't work with eternal or remote postgresql

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.5
* Operating System: redhat
* Web Browser: chrome / safari

#####

[2020-01-23 16:00] megabreit commented on #5501
I googled a bit for the error and tried to find how other people fixed this problem.
I created a working playbook by replacing "equalto" with "match". AWX 9.1.1 can be installed on OCP 3.11 from a RHEL 7 host with this fix.
I know that this is not exactly the same, but it's working. Maybe @wenottingham can judge whether or not this would be a "final" solution?

[2020-01-23 16:08] bendermIBM commented on #4700
Hey @matburt, @james-crowley and I would love to get involved in this process and help contribute code/doc where we can!

[2020-01-23 16:13] mrhockeymonkey commented on #739
To be honest I'm happy for this to be closed off as not needed. We have moved on and don't really require this feature.

[2020-01-23 16:22] julianbarnett commented on #5473
Confirming same issue here on Kubernetes v1.16.2 using awx web container 9.1.1

[2020-01-23 16:31] chris93111 commented on #2817
+1

[2020-01-23 16:55] kevincoakley commented on #5214
I had to manually upgrade the database in order to upgrade from 7.0.0 to 8.0.0+.

Here are the manual steps I ran:

Start the postgres-upgrade docker container with a bash shell.

[code]

Become the postgres user.

[code]

Initialize the postgresql 10 database. I did the initialization without the `-U awx` option because the next step kept failing because the `"database user \"awx\" is not the ins

[2020-01-23 17:01] megabreit commented on #5501
[code]

[2020-01-23 17:31] marshmalien commented on #4984
List of current Detail views:
- [x] Credential
- [x] Host
- [x] Inventory
- [x] InventoryGroup
- [x] Job
- [x] JobTemplate
- [x] Organization
- [x] Project
- [x] Team
- [x] User

[2020-01-23 18:21] #5727 closed, assigned to AlexSCorey

[2020-01-23 18:21] #739 closed, assigned to nobody

[2020-01-23 18:47] DonaldKallman commented on #5743
@jakemcdermott Apparently it's not as easy as anticipated and I am admittedly not great with Python.  Changing "return res.json()['Content']" to "return res.json()['AWSAccessKeyID']" still brought the value from Content over for both username and password.  I don't see anywhere else that is reading the value from the json response.

[2020-01-23 18:55] jmereaux commented on #5205
Same issue with version 9.1.1 of the image. Wasn’t it supposed to be fixed?

[2020-01-23 18:57] jmereaux commented on #5473
Any update on this issue?

[2020-01-23 19:24] ingvaldlorentzen commented on #5205
I think the main issue is that now the `nginx.conf` is generated from a Jinja template in the installation process.

If you're using a non-standard install process, you're probably gonna have to inject the `nignx.conf` file yourself. It's what I've done.

A simple `COPY nginx.conf /etc/nginx/nginx.conf` in a Dockerfile with the AWX image as the base does the trick.

This is the `nginx.conf` file I

[2020-01-23 19:24] dsesami commented on #5276
closing out as #5546 is separate.

[2020-01-23 19:24] #5276 closed, assigned to marshmalien, dsesami

[2020-01-23 19:53] AlexSCorey commented on #4515
The details of this issue have changed since this bug was originally filed.  Patternfly has added some functionality to their Select component so we can use that to address this issue.

[2020-01-23 20:35] appuk commented on #5736
Inventory Group Edit functionality is working as expected
the variables field is still not getting updated, but it is covered in this issue https://github.com/ansible/awx/issues/5502 , hence closing the issue.

[2020-01-23 20:35] #5736 closed, assigned to appuk

[2020-01-23 22:22] chris93111 commented on #5746
Inventory.objects.filter work only with awx user

thanks

[2020-01-23 22:22] #5746 closed, assigned to nobody

[2020-01-23 23:06] astateofmind01 opened #5755 "Add field to change inventory of job template in workflow."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

When adding jobs to Workflows would be great to add/edit/select the inventory to each step.

So if i have a playbook that i can run on 20 inventories i don't have to first create 20 jobs and add them in the workflow, i can just have one job template and add it with the inventory i need 20 times.

[2020-01-24 00:04] wenottingham commented on #5755
I feel like https://github.com/ansible/awx/issues/2941 is a better solution for this.

[2020-01-24 00:04] #5755 closed, assigned to nobody

[2020-01-24 02:06] magick93 opened #5756 "Adding venv_vars.yaml makes container fail to start"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Use of virtual envs for k8s/openshift, as described on https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md isnt working.

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: openshift
* Ansible version:  Same as what ships with AWX 9.1.1
* Operating System: Centos
* Web Browser: Firefox

##### STEPS TO REPRODUCE

1. Ansible AW

[2020-01-24 08:36] ThomasUllrich666 opened #5757 "Installation on a differen Database Schema"
##### ISSUE TYPE
Choose a database schema if you install AWX

##### SUMMARY
Add a inventory variable pg_schema to the Inventory config file and install the Porstgre Database under this schema. This will allow users how run multiple applications on the database to separate applications (like ansible awx) with the help of schemas

[2020-01-24 09:59] Giusepe92 commented on #5692
Yes

[2020-01-24 12:02] zaskan opened #5758 "Add a proxy configuration at project level"
##### ISSUE TYPE
 - Feature Idea

Add proxy configuration at project level for SCM.

##### SUMMARY

It could be useful in order to ease the SCM proxy configuration and also in order to support organizations having different proxies.

[2020-01-24 14:43] ryanpetrello commented on #5757
We're unlikely to support this.  AWX is intended to run under its own schema, which is managed by the AWX source tree itself and not customizable.

[2020-01-24 14:43] #5757 closed, assigned to nobody

[2020-01-24 14:57] linkeal opened #5759 "Git clone from a x509 secured git repository is not working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cloning a github repository which is secured with certificates does not work in the awx_task container

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker
* Ansible version:  2.7.8
* Operating System: Docker container base is CentOS. Host is SLES.
* Web Browser: Chrome

Git version (container): git version 2.18.1

##### STEPS TO REPROD

[2020-01-24 15:12] AlexSCorey opened #5760 "Skip Tags and Job Tags Open LabelSelect"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When you generate a new skip tag or job tag in a JobTemplate, and press enter to create the chip the dropdown for the LabelSelect also opens

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method:  docker for mac
* Ansible version:  2.10
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Go to a create or edit a Job Templ

[2020-01-24 15:35] wagfeliz opened #5761 "Cant copy mult files in windows to remote dir."
Hi,

I could not use the win_copy as follows, it seems to be not implemented since it cant understand file partners on src input :

     win_copy:
        src: "c:\temp\*.bkp"
        dest: \\192.168.1.1\bkp\

The only way I could do it was using an remote script, what is not clean.

There is any flag or similar command do the same effect ( windows remote ) ?

Regards,
Wagner.

[2020-01-24 16:11] wenottingham commented on #5761
Hi, this issue tracker is for issues in AWX itself. This looks like an Ansible usage question, and is better suited for one of our Ansible community communication channels: https://docs.ansible.com/ansible/latest/community/communication.html

[2020-01-24 16:11] #5761 closed, assigned to nobody

[2020-01-24 16:14] wenottingham commented on #5698
-> #5692

[2020-01-24 16:14] #5698 closed, assigned to nobody

[2020-01-24 16:15] #5730 closed, assigned to nobody

[2020-01-24 16:16] wenottingham commented on #5722
This will happen in a future build.

[2020-01-24 16:20] tutoGav commented on #5698
@wenottingham, you closed both issues, please keep this open

[2020-01-24 16:24] DonaldKallman commented on #5743
I actually don't see how this could work for any credentials unless the only field you want to retrieve is the password.  Probably makes sense for 95% of use cases.

[2020-01-24 18:04] kdelee commented on #5724
updated to `diff` because that's the real problem

must have been having C++ flash backs

[2020-01-24 18:04] wenottingham commented on #5759
Is this a self-signed cert, or do you have your local CA mapped into the container?

[2020-01-24 18:09] wenottingham commented on #5756
It looks like your container can't reach the internet at large (at least over the IPv6 address you got back from the mirror list)

[2020-01-24 18:12] wenottingham commented on #5731
closing as duplicate

[2020-01-24 18:12] #5731 closed, assigned to nobody

[2020-01-24 18:15] wenottingham commented on #5720
We would only override the vault_password_file configuration if AWX was putting vault passwords in a specific file; since that's not how AWX works, we must assume that any config item set in anslbie.cfg is intentional.

[2020-01-24 18:15] #5720 closed, assigned to nobody

[2020-01-24 18:17] wenottingham commented on #5704
Have you passed the CA as a volume mount with the installer?

[2020-01-24 18:19] wenottingham commented on #5682
Closing, please reopen if that's not the case.

[2020-01-24 18:19] #5682 closed, assigned to nobody

[2020-01-24 18:31] tumbl3w33d commented on #5720
Damn, I actually wanted to create this in the ansible core repo, not in AWX. Anyway, why would you close the issue without providing a solution? Did you understand the described scenario or should I try to explain it differently?

An attempt: there is no way how you can use this property `vault_password_file` in the `ansible.cfg` of a repository that you wanna use in AWX as well and that means you

[2020-01-24 19:09] wenottingham commented on #5720
I'm not sure what you mean. You should be able to use `vault_password_file` under AWX... as long as the file is available at playbook run time. We're actually trying to move away from transparently overriding config items as much as possible - we have to assume in the general case that if a setting is set, it is meant.

[2020-01-24 19:10] wenottingham commented on #5698
? #5692 remains open.

[2020-01-24 19:28] tumbl3w33d commented on #5720
That's the point - to exist there, it would need to be part of the repo (which cannot work, because if the secret is there, vault makes no sense) or "deployed" as part of the AWX installation, which makes it 1) hard to maintain and 2) accessible to any playbook. However, if I could ask AWX to create a file with the configured vault credential at playbook execution time, that would also work.

My v