[2020-01-24 20:00] fantashley commented on #5756
Can you test against this branch https://github.com/fantashley/awx/tree/support-proxy-venv and tell me if that fixes your issue?

It will set the environment variables `http_proxy` and `https_proxy` if they are defined as ansible variables, and yum should pick that up in CentOS 7.

[2020-01-24 20:37] falcon78921 opened #5763 "Configure Instance Groups on an Individual Host/Host Group Level"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per a customer's request, they would like to be able to configure instance groups on an individual host/host group level.

[2020-01-24 20:49] falcon78921 commented on #5763
See: https://github.com/ansible/awx/issues/5711#issuecomment-577271776

[2020-01-24 21:21] wenottingham opened #5764 "HTML escaping in workflow launch dialog"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Workflow template:
![Screenshot from 2020-01-24 16-20-13](https://user-images.githubusercontent.com/5208768/73104895-86d7f200-3ec5-11ea-90d7-2221d92f5bfa.png)

Launch dialog:
![Screenshot from 2020-01-24 16-20-25](https://user-images.githubusercontent.com/5208768/73104902-8b040f80-3ec5-11ea-98e6-e1a41a055cef.png)

##### ENVIRONMENT
* AWX version: curr

[2020-01-24 21:57] mviniciusleal commented on #20
+1

[2020-01-24 22:03] ryanpetrello opened #5765 "[Performance] Investigate performance characteristics of `settings.__getattr__` memcached access"
Every `conf.settings.__getattr__()` **everywhere** in **every** AWX process incurs a memcached round trip lookup.  This is fine for some use cases (within most HTTP requests), but for things like callback event processing where throughput is very high, these domain socket reads really add up (see: https://github.com/ansible/awx/pull/5762)

As an extension to this, every `logger.info()` (or `debug(

[2020-01-24 22:04] VivaLaPanda commented on #5741
Thanks, upgrading fixed it. Sorry for the spurious issue, I was having difficulties determining whether the issue was a problem with that version or something else.

[2020-01-24 22:05] ryanpetrello commented on #5765
cc @matburt @AlanCoding @chrismeyersfsu since we talked about this briefly

[2020-01-25 00:09] wenottingham commented on #5763
This would imply implicitly splitting playbook executions into multiple ansible-playbook calls, and we do not have plans to do this.

[2020-01-25 00:09] #5763 closed, assigned to nobody

[2020-01-25 00:26] tutoGav commented on #5698
Excuse me, my bad

[2020-01-25 20:01] ybizeul commented on #5214
@kevincoakley Great work and clear explanations.

I was able to pass 8.0.0 as well

Be careful to remove old pg data directory once the upgrade is confirmed and working or it'll try again with 9.1.1

[2020-01-25 20:07] ybizeul commented on #5214
Oh god... Can someone try a 9.1.1 update ?

[code]

[2020-01-27 01:47] magick93 commented on #5756
Hi @fantashley  - thanks, yes this helped.

I also had to add the following in order to get it work correctly - in particular, note the `--trusted-host` for the pip installs:

[code]

[2020-01-27 02:35] magick93 opened #5767 "Confusion about adding virtual envs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The [docs](https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md) are not clear on how to add a virtual env

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: openshift
* Ansible version:  Whatever ships with AWX 9.1.1
* Operating System: CentOs 7
* Web Browser: Firefox

##### STEPS TO REPRODUCE

I'm following the steps on htt

[2020-01-27 08:31] alancivita commented on #5248
Hello,
is there an ETA on this one?
thanks

[2020-01-27 13:44] CezaryZaborowski opened #5769 "AWX 9.1.1 Job stuck in running state"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
Hello.
**I have a playbook:**
- hosts: all
  become: yes

  **roles:**
    - apt-upgrade-and-reboot-if-required

**roles:
  tasks:**
  - name: Update and upgrade apt packages
    apt:
      upgrade: 'yes'
      update_cache: 'yes'
    when: update is undefined

  - name: Reboot system if required
    command: shutdown -r +

[2020-01-27 13:51] CezaryZaborowski commented on #5769
I also created another template which is using the same playbook and it acts the same way.

[2020-01-27 14:14] devops-42 opened #5770 "[AWX 9.1.1] Missing "which" command and link to /usr/bin/python"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - Installer

##### SUMMARY
In my playbooks I use the command

[code]

to check, where the python interpreter resides on the machine. In current AWX container (`awx_task`) the `which` command is missing. After adding it manually I checked again and found, that `which` cannot find any `python` binary within the standart $PATH. I need to

[2020-01-27 14:24] mabashian opened #5771 "Playbook field not shown in Job Template form for user with execute permissions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The playbook field is missing from the Job Template form when viewed by a user with only execute permissions on the JT.

<img width="1486" alt="Screen Shot 2020-01-27 at 9 22 36 AM" src="https://user-images.githubusercontent.com/9889020/73182228-a437d680-40e6-11ea-909b-2163d4512ccb.png">

The playbook field is available through the API though so I beli

[2020-01-27 15:54] msilmser opened #5774 "[RFE] Do not expose VMware credentials during runtime"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When using the dynamic inventory script for vmWare, the credentials are exposed in the runtime directory at `/tmp/awx_(job id)_mzy7mgdf/artifacts/(job_id)`. While this is only readable by root/awx and is deleted after the sync, we should mask these in job_env similar to AWS secret key.

[2020-01-27 16:17] CezaryZaborowski commented on #5769
Sorry. It is not an AWX issue, I was able to spot a VM which is making that problem by enablinch slices i template to split Jobs to single vm.
It might be Ansible issue because update works from shell, but I have to get some details first.
Closing ticket

[2020-01-27 16:17] #5769 closed, assigned to nobody

[2020-01-27 17:14] mkayontour commented on #3935
This statement can be applied also to version 9.1.1, the issue I found was that the project_update yaml uses TAGS and the job for the project uses only 1 tag and its **update_git** and not **install-roles** therefore no roles will be read and updated from the requirements.yml

I changed the tag to update git and now all repos are updating the roles perfectly.
[code]

Edit:

Nothing works, the role

[2020-01-27 17:23] AlexSCorey commented on #5760
Add on, when you press Enter anywhere on the JT form it opens/closes the LabelSelect.  It also will submit the form, given all the validation passes.

[2020-01-27 17:44] AlexSCorey opened #5775 "JT Form Throws Validation Warning Erroneously"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On a job template, when you click on a required field and then enter valid data for that field the jt throws a validation warning until you `onBlur` that field.
##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker for mac
* Ansible version:  2.10
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Add a JobTemplat

[2020-01-27 18:25] bhundven commented on #5371
@jcomito @shanemcd test that :)

[2020-01-27 19:32] matburt commented on #5765
For things that have a limited level of context like processing events we *could* use local in-memory memoization as a shortcut, without having to make major caching changes.

[2020-01-27 20:53] #4515 closed, assigned to AlexSCorey

[2020-01-27 21:34] AlexSCorey opened #5777 "Project JobTemplates Tab"
##### ISSUE TYPE
Add functionality for the Job Templates tab within a project.

##### SUMMARY
https://tower-mockups.testing.ansible.com/patternfly/projects/projects-templates/

[2020-01-27 21:35] AlexSCorey commented on #4426
backing out for now

[2020-01-27 21:44] wenottingham commented on #5774
What specifically do you not want exposed in `job_env`?

[2020-01-27 21:48] falcon78921 opened #5778 "Add the Ability to Use Survey Results As Job Template Prompt on Launch Values"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like to be able to pass survey results as job template prompt on launch values.

For example, an user may have a survey with a multiple-choice (multi-select) prompt, with a list of job tags. When the job template is executed, the survey will ask the user to select one or more options (e.g. job tags), which would the

[2020-01-28 02:26] magick93 commented on #5767
Closed as its now a OpenShift config challenge

[2020-01-28 02:26] #5767 closed, assigned to nobody

[2020-01-28 03:47] sugitk opened #5780 "Workflow extra_vars cannot handle jinja2 variables"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Workflow extra_vars cannot handle jinja2 variables

##### ENVIRONMENT
* AWX version: Tower 3.6.2
* Ansible version:  2.8.5, 2.9.2
* Operating System: RHEL 7.7
* Web Browser: Google Chrome 79.0.3945.130

##### STEPS TO REPRODUCE

Created a manual project with this playbook.
[code]

Next, created a job template using the above project.

And created a wo

[2020-01-28 08:52] dojones1 commented on #5528
Any progress on this? - I see the problem myself as I've written a role for deploying AWX but am now blocked on the LDAP configuration.

[2020-01-28 13:02] ryanpetrello commented on #5780
This is likely related to:

[2020-01-28 13:10] ryanpetrello commented on #5780
duplicate of https://github.com/ansible/awx/issues/1970

[2020-01-28 13:10] #5780 closed, assigned to nobody

[2020-01-28 13:42] beatcracker commented on #5638
It looks like `launch` command just doesn't accept `extra_vars` at all, only `create` does.

- `awx workflow_job_templates create --help`

[code]

- `awx workflow_job_templates launch --help`

[code]
[code]

[2020-01-28 14:07] Elyytscha commented on #5638
this is false, i'm talking about `job_templates` not `workflow_job_templates`

as you can see here, `job_templates` should support extra_vars

[code]

[2020-01-28 14:50] europ commented on #2462
I have the same problem here.

Tower does not use the same python for tasks, which are executed as `delegated_to: localhost` on host.

This can be fixed via workaround that requires to specify `ansible_python_interpreter: /path/to/your/python` in host variables for localhost.

[2020-01-28 16:30] #1970 closed, assigned to ryanpetrello

[2020-01-28 16:31] ryanpetrello commented on #5780
@sugitk,

After digging a bit deeper, this *is* intentional:

https://github.com/ansible/awx/pull/5783#discussion_r371835320

If you still want to do this (in spite of the security/RBAC implications), set `ALLOW_JINJA_IN_EXTRA_VARS="always"`.

[2020-01-28 16:32] ryanpetrello commented on #5528
@dojones1 I've merged https://github.com/ansible/awx/pull/5544, which will address this in the next release of AWX.

[2020-01-28 16:59] dsesami opened #5785 "Clicking the "Max Hosts" tooltip when creating a new organization enables the field"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. Go to Organizations > Create New Organization
2. Two tooltips are present, one for Max Hosts and one for Instance Groups
3. Clicking the Instance Groups tooltip does nothing. However, clicking the Max Hosts tooltip enables the corresponding text field

##### ENVIRONMENT
AWX Latest, Fedora, Google Chrome

##### EXPECTED RESULTS
Clicking the tooltip d

[2020-01-28 17:06] wilfil commented on #2817
+1

[2020-01-28 18:03] jrgoldfinemiddleton commented on #2240
Hi @AlanCoding, this bug is really painful and as you mentioned it would be an easy fix, can we bump the priority here?  It seems the issue you were blocked by previously has been resolved.  Thanks for your consideration.  :)

[2020-01-28 23:18] sugitk opened #5789 "suppressing long job output like `selective` stdout callback"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Web UI can fold/expand icon though, API cannot retrieve a partial job output.  Unused job output needs to be suppressed in advance.

[2020-01-28 23:37] lwierzch commented on #2240
+1, this issue is causing inconsistency between runs. It's been around for a while, would appreciate fixing it if it is indeed an easy fix.

[2020-01-29 00:13] sugitk commented on #5780
Thank you very much, I will tell the customer that it is intentional behavior with CVE-2018-1104.

[2020-01-29 02:06] jamesmarshall24 opened #5790 "LDAP Auth Does not Pick Up System Trust Store"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: All
* OS version: RHEL

##### STEPS TO REPRODUCE

1. Configure LDAPS in AWX LDAP auth configuration
2. On the server, add all cacerts and intermediaries in `/etc/pki/ca-trust/source/anchors`
3. Update the trust store with: `update-ca-trust`
4. Attempt to authenticate into AWX/Tower

##### EXPECTED RESULTS

LDAPS authen

[2020-01-29 03:52] AlanCoding commented on #5789
Specifically you mean https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/callback/selective.py, right?

Related https://github.com/ansible/ansible-runner/pull/387 and https://github.com/ansible/awx/issues/4092

[2020-01-29 04:13] sugitk commented on #5789
Yes, the customer wants to do the same behavior as the `selective` plugin in Tower.
I think it is very similar to the issue #4092.  This #5789 request is more flexible one.

[2020-01-29 07:17] evertmulder commented on #5756
@fantashley I also run into this issue as well. Are you planning to make a PR for this?

[2020-01-29 09:08] gthieleb commented on #5136
DUP of #3998

[2020-01-29 09:16] nuriel77 commented on #2240
I've applied a fix for now (using awx version 4.0.0), as we're having troubles with this issue too, and it seems to work for us.

If I am not mistaken, what is happening is that `_create_update_group_hosts` function in `"/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/main/management/commands/inventory_import.py"` adds items to be committed to the db `self._batch_add_m2m(...)`.

You will n

[2020-01-29 09:58] Saurabh-Thakre commented on #5689
@wenottingham No man

[2020-01-29 13:11] nixocio commented on #5081
Closed by https://github.com/ansible/tower-qa/commit/fdd5bd85d1b1beb82b4cc72da51e6bf4f864b7bf

[2020-01-29 13:11] #5081 closed, assigned to fosterseth, nixocio

[2020-01-29 13:37] adrianlzt opened #5791 "Unnecessary locking while installing roles"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Having a template linked with a project NOT marked for update on launch.

If this project have the file ``roles/requirements.yml`` it [is forced](https://github.com/ansible/awx/blob/42c45367a0f70156f9272df57e2aacd36e5935c3/awx/main/tasks.py#L1795) to run the update playbook.

In f64d0dde5 were introduced some tags to only do the roles install, avoiding

[2020-01-29 14:22] adrianlzt commented on #5791
And maybe the update project playbook could download the roles to the project dir.

Then, when that dir is copied to the tempdir, ansible-galaxy maybe could skip some of them because they have the required version and the task could run faster

[2020-01-29 14:30] benapetr opened #5792 "Mark template as favorite"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It would be great if individual users could mark some items (such as templates) as favorite, so they wouldn't need to repetitively look for them in template list. Probably applicable for other items than templates as well (inventories, projects)

[2020-01-29 14:51] #5136 closed, assigned to nobody

[2020-01-29 14:52] ryanpetrello commented on #5136
Closed, tracking this enhancement at https://github.com/ansible/awx/issues/3998

[2020-01-29 14:53] chriswortman commented on #2240
+1 for fixing this.   some of the roles I use utilize groupname[0] to select for running cluster commands.  run_once will not work due to cluster commands needing to be run on the same node.

[2020-01-29 14:58] ryanpetrello commented on #5792
Job Templates *do* have labels which you could use this way:

![Kapture 2020-01-29 at 9 57 34](https://user-images.githubusercontent.com/214912/73367659-d3cd1700-427d-11ea-9777-b043c511e66d.gif)

Also, the expanded list view shows labels:

![image](https://user-images.githubusercontent.com/214912/73367741-f3643f80-427d-11ea-948d-fccbd60f4104.png)

[2020-01-29 15:15] benapetr commented on #5792
but that only works if you can edit the template? this also make it "favorite" for everyone, not just you

[2020-01-29 15:43] unlikelyzero commented on #5502
We will be writing out the manual steps we performed and open up a PR to our cypress tests which links to a stub

[2020-01-29 16:22] AlanCoding commented on #5791
Thank you for your well-written arguments.

After. This is a complication. I want to voice my agreement that if the project update's `job_tags` do not include any `update_*` tag, then:
 - the folder copy could happen before the project playbook run
 - it could operate completely within the job's tmp dir
 - it would have no need to obtain the lock.

We want to do almost exactly that, issue https://

[2020-01-29 16:32] dsesami commented on #4951
Link works normally. Orgs with no teams also work normally.

[2020-01-29 16:32] #4951 closed, assigned to marshmalien, dsesami

[2020-01-29 16:47] dsesami commented on #5693
Sparkline works, appears to populate correctly, and links to pages normally.

[2020-01-29 16:47] #5693 closed, assigned to marshmalien, dsesami

[2020-01-29 16:47] wenottingham commented on #5792
This would need something like https://github.com/ansible/awx/issues/278 first  - we don't have user settings/preferences as a concept right now.

[2020-01-29 19:35] dsesami commented on #5631
Looks great!

[2020-01-29 19:35] #5631 closed, assigned to dsesami

[2020-01-29 19:40] dsesami commented on #5264
Context links work. Inventory host items work correctly upon creation _and_ edit. Validation is still functional on all fields.

[2020-01-29 19:40] #5264 closed, assigned to marshmalien, dsesami

[2020-01-29 19:45] dsesami opened #5794 "Text wrapping looks odd"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This is an inventory host details snippet:
![Screenshot from 2020-01-29 14-37-26](https://user-images.githubusercontent.com/19942822/73391305-ad22d680-42a5-11ea-834d-bbd53099876d.png)

Text wrapping looks a bit awkward when breaking it up by letter here. The immediate thought is to break lines by words, but this could be difficult for longer words. One

[2020-01-29 21:00] unlikelyzero commented on #5794
We should add test (stubs) for certain string lengths.
Test minimal, max, wrap, wrap+1

[2020-01-29 21:13] fantashley commented on #5756
@evertmulder yep, I will be able to make a PR by the end of this week. It would be great if you could both test the changes for me since I don't have a similar environment setup. I'll let you know once I've created it!

@magick93 sounds good, I will add in the `--trusted-host` parameters you provided. Thanks!

[2020-01-30 00:11] fantashley commented on #5756
I updated my branch https://github.com/fantashley/awx/tree/support-proxy-venv with the trusted host arguments if someone wants to give it a try!

[2020-01-30 00:44] gratchie commented on #371
We are paying Tower customer. We need this feature...

[2020-01-30 01:03] magick93 opened #5795 "system settings shows new venv but patching returns 'is not a valid virtualenv'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm going through the process of adding a venv as described on https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: openshift
* Ansible version:  whatever ships with 9.1.1
* Operating System: Centos 7 and ubuntu 18
* Web Browser: Firefox

##### STEPS TO REPRODUCE

1. Go throu

[2020-01-30 02:04] wenottingham commented on #5795
CUSTOM_VENV_PATHS is a toplevel path where venvs are expected to be located. It is not expected to be a virtual environment itself. You probably want your setting to be just /opt/custom-venvs/

[2020-01-30 02:08] magick93 commented on #5795
Hi @wenottingham

I'm not sure I understand correctly.

My venv is located at `/opt/custom-venvs/openshift-install-3.11`, and I can see this does exist on the `awx-web` container.

[2020-01-30 02:11] magick93 commented on #5795
Ah, ok - I was meant to run

`HTTP PATCH /api/v2/settings/system/ {'CUSTOM_VENV_PATHS': ["/opt/custom-venvs/"]}`

Not

`HTTP PATCH /api/v2/settings/system/ {'CUSTOM_VENV_PATHS': ["/opt/custom-venvs/openshift-install-3.11/"]}`

[2020-01-30 02:11] #5795 closed, assigned to nobody

[2020-01-30 08:09] zx1986 commented on #3119
not working in AWX 9.1.1 docker image ...

https://hub.docker.com/layers/ansible/awx_web/9.1.1/images/sha256-be0fd58076080f7870bb9a29b6f746389971bf09946b4164e818b7bef3195076
https://stackoverflow.com/questions/16736833/python-nameerror-name-file-is-not-defined

[2020-01-30 14:08] appuk commented on #5502
Verified the above bug on Inventory and Inventory group Edit page and it's working as expected.

Steps:
Go to Inventory/ Inventory Group Details page ---> Edit ---> Change something about the variables ---> Save ---> The updated variable is shows up in the Detail view.

Hence closing the issue.

[2020-01-30 14:08] #5502 closed, assigned to keithjgrant, appuk

[2020-01-30 14:23] appuk commented on #5268
Inventory Group Creation works correctly as expected, hence closing.

[2020-01-30 14:23] #5268 closed, assigned to appuk

[2020-01-30 14:24] appuk commented on #5269
Inventory Group Edit works as expected, verified the edit functionality on all the fields, hence closing the issue.

[2020-01-30 14:24] #5269 closed, assigned to appuk

[2020-01-30 16:43] appuk commented on #5271
Verified all the fields on Inventory Details page and created stubs for automating the tests.

[2020-01-30 16:43] #5271 closed, assigned to appuk

[2020-01-30 16:56] dsglaser opened #5797 "Scheduled Jobs should be able to be restored to a different server / new cluster"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Scheduled Jobs can be restored to the same machine that they started on, but if you are restoring to another machine or a new cluster, they do not get restored. I believe this is because they are keyed on template IDs. They should be able to be restored on a new machine.

[2020-01-30 18:17] wenottingham commented on #5797
What is the mechanism you are using for restoring them?

[2020-01-30 18:23] wenottingham opened #5798 "Have a user customizable banner for the installation"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Many users have different AWX deployments - either deployments for different users (network, storage) or different environments (dev, test, prod).

A user who is using multiple AWX deployments regularly does not have visual notification of "where" they are, which could lead to confusion and potentially launching automation in an unexpected location

[2020-01-30 18:51] dsglaser commented on #5797
I'm working off customer information, but they said they were doing a setup.sh backup/restore.

[2020-01-30 19:29] appuk opened #5799 "Team Edit - values do not get reflected unless the page is refreshed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After editing a Team, the old values persist on the Team details page and the updated values are only displayed after refreshing the page

##### STEPS TO REPRODUCE
1. Edit a Team
2. Save the changes
3. check the edited fields

##### EXPECTED RESULTS
The updated values should be displayed

##### ACTUAL RESULTS
Values do not get reflected unless the page

[2020-01-30 20:28] xding2020 opened #5800 "Cannot assign team admin role via UI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In Ansible Tower 3.5.x and later versions, when users are added to a team, there is no UI component/option to set users as team admin. However, calling API could still assign users with team admin roles (POST /api/v2/users/id/roles/).

Is there any option to assign user with team admin role via UI? Is the team admin role deprecated?

##### ENVIRONMENT

[2020-01-30 21:38] wenottingham commented on #5800
It's an option, but team admin only lets you add/remove users from the team. Is this a permission you need to use in practice outside of the org admin doing it?

[2020-01-30 22:56] testArtest commented on #5682
so, right now i have:
inventories
  - test
      - inventory.yml
      - group_vars
          - all.yml

And the variables defined in group_vars/all DO NOT get refreshed when i change them in the SCM. is there anyway to force them to update when i update the project they are sourced from?

I even deleted the variables on the details page of that inventory in tower and they didn't get repopulated a

[2020-01-31 00:55] xding2020 commented on #5800
@wenottingham We had the option to add a user to team as team admin via UI. Now it is removed without mentioned in the release note (or perhaps I missed it). Some of our tower users asked about the change (they cannot add team admin), which is why I submit this request.
If this change is desired, could we know the consideration behind this change?

[2020-01-31 09:35] evertmulder commented on #5756
Hi @fantashley. I just tested the proxy support and it works great. The proxy settings are added to the init container and the trusted-host settings are also added to the pip install. The thing missing is the `no_proxy` setting.

Tested on OKD 3.11

The final statefulset includes the following init-container:

[code]

The only thing missing is the `no_proxy` setting. If this setting could also be

[2020-01-31 11:02] gnuheidix commented on #20
That feature would be awesome to have.

[2020-01-31 13:08] tfmm opened #5803 "Slack notifications failing with "missing_scope""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
New setup, adding slack notifications, slack bot user has access to chat.write scope via Slack. Try to test notifications, get error "missing_scope".

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Ubuntu 18.04
* Web Browser: Chrome, but reproduces in all

##### STEPS TO REPROD

[2020-01-31 13:13] tfmm commented on #5803
Closing this, turns out it was some issue with the bot user on slack end, re-created from scratch, and it's fine now.

[2020-01-31 13:13] #5803 closed, assigned to nobody

[2020-01-31 13:19] benapetr commented on #5792
that would big enhancement as you could also create features such as custom dashboards which I would welcome too

[2020-01-31 14:59] dsglaser commented on #5797
Moved to [Tower issue queue #4110](https://github.com/ansible/tower/issues/4110) per request

[2020-01-31 14:59] #5797 closed, assigned to nobody

[2020-01-31 16:24] mdecalf commented on #5496
Hello,

Exactly same issue for me.

The max size of json playload returned by a query seem's to be limited at 82.51 KB

"SyntaxError: JSON.parse: unterminated string literal at line 1 column 84515 of the JSON data" when I explained the response of a query ex : /api/v2/jobs/***/job_events/?order_by=-counter&page=1&

It's not only on playbook or template but on all kind of resources

[2020-01-31 16:34] Gianlu opened #5807 "Extra vars per user"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Hello,
is it possible to add the setup on a set of extra vars in the user panel? When the user runs a template, the user's extra vars are merged with the job's extra vars. I would like it in order to use personal token for the interaction with our internal systems.

Thank you,

G.S.

[2020-01-31 18:20] blomquisg commented on #5791
@AlanCoding does your linked issue (#5518) cover this issue (i.e., should this be dup'd away)?  If not, what actually needs to be done here that's not covered in the other issue?

[2020-01-31 18:29] blomquisg commented on #5764
@wenottingham Do we need this in 3.7?  Sounds like this will be obsolete in 4.0 with pf.

[2020-01-31 20:31] marshmalien commented on #5799
Related https://github.com/ansible/awx/issues/5278

[2020-02-01 10:44] ohobby commented on #2206
+1

[2020-02-01 11:07] ohobby commented on #2495
same issue with added git token credentials

[2020-02-03 10:09] ghost opened #5811 "AWX Ansible debugging"
##### ISSUE TYPE
 - Debugging

##### SUMMARY

I need to have ability to run and debug application django web application that runs in docker container. There is link on it: https://github.com/ansible/awx I tryed to stop awx_web application from container and run start it from PyCharm IDE. Application starts, but I have default message: AWX is upgrading and after that I don't get login to account p

[2020-02-03 13:39] supaflyster commented on #5790
Hey, are you running update-ca-trust with `extract` option (i.e. update-ca-trust extract)?  We use same setup and it works fine.

[2020-02-03 14:20] #5799 closed, assigned to AlexSCorey

[2020-02-03 15:33] AlexSCorey opened #5813 "Workflow Job Template Add/Edit Form"
##### ISSUE TYPE
Add the work flow job template add and edit form.
##### SUMMARY
https://tower-mockups.testing.ansible.com/patternfly/templates/templates-workflows-add/
https://tower-mockups.testing.ansible.com/patternfly/templates/templates-workflows-edit/

[2020-02-03 15:35] AlexSCorey opened #5814 "Workflow Details View"
##### ISSUE TYPE
Add workflow details view

##### SUMMARY
https://tower-mockups.testing.ansible.com/patternfly/templates/templates-workflows-detail/

[2020-02-03 15:40] AlexSCorey commented on #4615
Removing myself to work on things of higher priority

[2020-02-03 16:17] ryanpetrello commented on #5756
Sounds like this can be closed once https://github.com/ansible/awx/pull/5805 merges - thanks @fantashley!

[2020-02-03 16:34] wenottingham commented on #5764
It can wait until the UI rewrite, but I wouldn't not take a patch that appeared.

[2020-02-03 16:40] #5756 closed, assigned to nobody

[2020-02-03 16:41] wenottingham commented on #5800
Mostly just that it's not a useful permission in practice. We had more confusion by users who thought it provided org-admin like privileges at a team level.

[2020-02-03 16:50] wenottingham commented on #5811
If you're looking to install and debug modified AWX, please use the development environment setup documented here: https://github.com/ansible/awx/blob/devel/CONTRIBUTING.md#setting-up-your-development-environment

The installer is intended for non-developer deployments.

[2020-02-03 16:50] #5811 closed, assigned to nobody

[2020-02-03 18:58] benthomasson opened #5816 "Automation Analytics: Obfuscate IP Addresses and Host Names"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Use a consistent mapping between customer local IP addresses and imaginary addresses when uploading data to Automation Analytics.     Do the same for customer local host names.   This can prevent leaking host name data by never uploading it to begin with.     This will require either storing that mapping in the database or use a deterministic heurist

[2020-02-03 20:18] ghost opened #5818 "Writing out a rendered j2 template to my roles directory fails; works when executing Playbook via CLI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When executing a j2 template rendering Playbook role from AWX, the Playbook runs without error, but the rendered file is never written out to the directory. If you run the Playbook from the CLI, it runs without error and will write out the file correctly.

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: Docker Compose
* Ansible version:  A

[2020-02-03 21:17] AlexSCorey opened #5819 "Support Prompt on Launch for Workflow Job Template"
##### ISSUE TYPE
Some fields in the Workflow Job Template Form need to support Prompt on Launch functionality.  See mock up below.
https://tower-mockups.testing.ansible.com/patternfly/templates/templates-workflows-add/
##### SUMMARY
Current ui supports Prompt on Launch for SCM Branch, Inventory, Variables, and Limit
related to #4967

[2020-02-03 21:19] kdelee opened #5820 "UI refers to creds for projects as SCM Credential but then no such type in Credential Types (is Source Control there)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Different names for the same thing makes it hard to figure out what to do

##### STEPS TO REPRODUCE

"I am making a project. Oh I need SCM Credential. Go to credential create form. Search SCM. sad, no SCM"

##### EXPECTED RESULTS

Whatever the project says I need to provide, I should be able to find in Credential create form

##### ACTUAL RESULTS

![S

[2020-02-04 01:37] jladdjr commented on #3509
Posted a PR for the foreman plugin that should give the plugin's output the same basic contents / structure as the script. With this change, I'm able to get identical output from the script and plugin.

https://github.com/ansible/ansible/pull/67070

[2020-02-04 07:09] krentiken commented on #5689
hi!
if the value of the variable is equal to "enabled", then the system is updated.

....
      - name: Include update system
        include: tasks/update_system.yml
        when: update_system == "enabled"
        tags:
        - update_system
....

    ---
      - name: Update all packages
        yum:
          name: "*"
          state: latest

      - name: Check for reboot hint
        shel

[2020-02-04 07:29] wiegandsh commented on #3935
We have exactly the same problem as @mkayontour.

Is this really a low priority bug?

[2020-02-04 14:30] ryanpetrello commented on #4020
cc @wenottingham @AlanCoding could you take a peek at this?

[2020-02-04 15:10] wenottingham commented on #4020
this is a dup of #5738

[2020-02-04 15:16] #4020 closed, assigned to nobody

[2020-02-04 15:19] kdelee commented on #5708
Verified this on downstream, won't take long to verify here but still need to do it

[2020-02-04 15:37] wenottingham commented on #5816
For Insights, this is done on the host that sends the data, so it's always consistent for that host.

As all the info for managed hosts comes from Tower itself, it would need a predictable obfuscation in Tower, or *maybe* just sending the primary key.

Obfuscating the Tower hostname/base URL would eliminate much of the value of notifications.

[2020-02-04 16:13] AlanCoding commented on #5474
Proposed method on top of the tower-cli removal PR: https://gist.github.com/AlanCoding/91af7a151be7f3ccb9c5d9c0fae7b5e4

[2020-02-04 18:04] AlanCoding commented on #5791
No, that doesn't fully cover this. This suggestion is much more nuanced.

If we do #5518, the need for _this_ will be greatly reduced. I'll adjust tags somewhat to reflect that. We _can_ reduce local locking from project syncs, but priority of it should be reconsidered after other improvements to roles/collections installs wrap up, and maybe scale testing will be relevant as well.

[2020-02-05 03:15] dvntstph opened #5821 "upgrade to AWX 9.1.1 Openstack inventories and modules start to fail"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Upgraded AWX from 7.0.0 to 9.1.1.
On previous release I was able to manage Openstack environment using AWX.
In 9.1.1 inventories in AWX using Openstack as inventory source fails to enumerate/parse.
Also observed other Openstack specific problems: ansible module os_server behaviour is no longer idempotent - fails in a playbook run if server already exi

[2020-02-05 10:28] rchincholkar opened #5822 "unable to log in to tower UI with dead external logging configuration"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
- Unable to log in to the Tower UI with dummy logging aggregate configuration.
- Unable to log in to tower UI with non-working external logging configuration.

##### ENVIRONMENT
* AWX version: 3.6.2-1
* AWX install method: linux
* Ansible version:  2.9.1
* Operating System: RHEL 7.7
* Web Browser: Chrome and Firefox

##### STEPS TO REPRODUCE
- Login to

[2020-02-05 14:14] ryanpetrello commented on #5821
looks related: https://github.com/ansible/ansible/issues/63894

[2020-02-05 14:15] ryanpetrello commented on #5821
related: https://github.com/openstack/openstacksdk/commit/9874fa81d7227b9ab41a5448bca55d1ac265f3e7

[2020-02-05 14:16] ryanpetrello commented on #5821
It looks like this was fixed in a newer version of `openstacksdk`.  I'm guessing the issue would go away if we updated:

https://github.com/ansible/awx/blob/devel/requirements/requirements_ansible.in#L64

to:

https://github.com/openstack/openstacksdk/releases/tag/0.37.0

[2020-02-05 14:16] ryanpetrello commented on #5821
@AlanCoding can you take a peek at this one as part of our recent dependency upgrades?

[2020-02-05 14:20] ryanpetrello commented on #5822
TCP loggers in AWX open sockets and call `.send()` synchronously (only the HTTP/S implementation uses a background threadpool), so I'm not surprised by this behavior.

This is just one symptom of our current logging implementation which we plan to address as part of our work in:

https://github.com/ansible/awx/issues/5155

[2020-02-05 15:11] Spredzy opened #5824 "RFE: Allow one to label nodes in the Workflow Visualizer"
##### ISSUE TYPE

 - Feature Idea

##### SUMMARY

![Screenshot_2020-02-05 Ansible Tower templates editWorkflowJobTemplate workflowMaker(2)](https://user-images.githubusercontent.com/1191411/73853830-c8f02480-4831-11ea-9301-eca918a4b709.png)

Current behavior is for node to display the Job Template name. Job Template can be generic enough to be used with different parameters. The current behavior l

[2020-02-05 15:17] andrew-landsverk-win opened #5825 "After Upgrade, Admin Password Needs To Be Reset"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I've noticed with my last two updates, to 9.1.0 and to 9.1.1, following the upgrade I need to open a console to awx-web and run `awx-manage changepassword admin` to fix my password. I am using the official instructions to provide a vars file with the `admin_password` key defined.

##### ENVIRONMENT
* AWX version: >= 9.1.0
* AWX install method: kubernet

[2020-02-05 15:17] fpjrh commented on #5528
@nixocio can you provide an update on progress?

[2020-02-05 15:29] n2aws opened #5826 "roles/requirements.yml not being honored (possible regression?)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running a job that uses roles/requirements.yml, it never appears to download the roles, but also doesn't show as "Skipped" in the logs.

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: kubernetes
* Ansible version:  2.8.5
* Operating System: N/A, official docker containers for kubernetes
* Web Browser: N/A, fails even for scheduled jo

[2020-02-05 16:19] n2aws commented on #5826
Update:  Tested without check mode, and observed the same behavior.  I also have manually run the "Project" manually,  and the SCM Update" behaves exactly the same. As such, I don't necessarily think that the "check mode" is related.

[2020-02-05 16:29] MarcusCaepio opened #5827 "Ansible 2.9.4 in AWX?"
Hi all,
on my host system, I already have Ansible 2.9.4 installed.
After writing a playbook with ios_vlans and importing it to AWX, I noticed, that AWX is still running Ansible 2.8.5, where ios_vlans is not implemented.
When will 2.9.x come to AWX or is there a way to manually update Ansible in AWX?

Cheers,
Marcus

[2020-02-05 16:39] AlanCoding commented on #5821
This looks like a _super_ simple request, but just need to get a grasp on all the changes we're getting.

version was released Oct 24, 2019. Prior one was June 13, 2019.

https://github.com/openstack/openstacksdk/commits/0.37.0/releasenotes/notes

These look pretty bug-related

[2020-02-05 16:52] shanemcd commented on #5827
Hello. The latest version of Ansible will be included when we build new images (the next release of AWX). While the next release is not currently scheduled, I'd imagine we'll put out something in the coming weeks. In the meantime you can either [build the images yourself](https://github.com/ansible/awx/blob/devel/INSTALL.md#official-vs-building-images), use [`custom_venv_dir`](https://github.com/a

[2020-02-05 16:52] #5827 closed, assigned to nobody

[2020-02-05 18:04] unlikelyzero commented on #5502
Added testcase stubs here https://github.com/ansible/tower-qa/pull/4635

[2020-02-05 18:09] appuk commented on #5267
Adding test stubs to cover the Group Deletion Scenarios here: https://github.com/ansible/awx/issues/5267

[2020-02-05 19:22] kdelee commented on #5155
- [x] verify we collect logs from rsyslog in sosreport https://github.com/ansible/awx/blob/b62c0c57cbb66eb2a8d1c802a756091b74c4819b/tools/sosreport/tower.py

[2020-02-05 21:06] zabandija123 commented on #2259
I ran into the same issue with Tower  3.5.2-1, I'm unsure if it would be reported here.
In my case, any organization member, whether it is an admin or not, can see all the system administrators and system auditors when listing organization's users, having the setting OFF.
Please let me know if you need further information or log detail.

[2020-02-05 22:31] paulbhart opened #5830 "using awx (client program 9.1.1) unable to associate label to job_template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
with the older tower-cli I could issue a command like ;

` tower-cli job_template associate_label --job-template "$name" --label ${label}`

With awx there is no `associate_label` action.  there is a simple `associate` but that only allows associating various notifications (start, success and failure) and credentials.

So unsure if there is a method usi

[2020-02-05 22:35] paulbhart commented on #5830
for the sake of completeness I also checked into using  `awx label` and both the `create`and `modify` actions for the `label` only allow options of `--name` and `--organization`, nothing to allow association of label to one or more job_templages

[2020-02-06 08:07] tatdatpham opened #5833 "Can't start AWX web, connection rabbitmq, postgres timeout"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker on centos8
* Ansible version:  2.9.3
* Operating System: Centos 8
* Web Browser: Chrome latest

##### STEPS TO REPRODUCE

Install awx follow command
[code]

All container is up
[code]

Docker network information
[code]

[code]
AWX_POSTGRES
[code]

AWX_RABBITMQ
[code]

##### EXPECTED R

[2020-02-06 09:33] zx1986 commented on #5473
It try to run nginx on 80 port without root permission, so it failed.

I ran the AWX web image in Kubernetes cluster with our helm chart,
I update the nginx.conf by using configMaps:
https://github.com/LarvataTW/helm-charts/blob/5b78cd1e4b2cf5f2df69412214278e7beb024dad/charts/awx/templates/configmap.yaml#L115

[2020-02-06 09:34] ghost commented on #5811
I took all the steps to configure the debug mode in awx in the container according to the link above. But, unfortunately, I did not see information about how you could bind the development environment (IDE Pycharm as example) to the container so that directly from it you could make your changes in the code and add modules.
Is it possible or awx application must be out of docker container with it's

[2020-02-06 10:38] ephracis opened #5834 "tower_job_launch does not set credential against AWX 9.1.1"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When using the module `awx.awx.tower_job_launch` using the collection `awx.awx:9.1.1` against AWX 9.1.1 the job does not get the correct credential. This worked previously in AWX 3.

This bug report was originally reported as ansible/ansible#67098 but since the tower/awx modules are moving, I am opening up a new bug report here.

##### ENVIRONMENT
* A

[2020-02-06 11:17] adrime92 opened #5835 "AWX opens connection against the database and does not close it"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX opens connection against the database and it does not close it which increase the number of connection on the db reaching the upper bound of allowed connections opened on the instance desencadenating awx failure.

##### ENVIRONMENT
* AWX version:  AWX 7.0.0.0
* AWX install method: kubernetes
* Ansible version: Ansible 2.8.4
* Operating System: Red

[2020-02-06 12:32] artazar commented on #5662
Data migration would still be nice, if there is a need to migrate AWX between different kinds of installations, e.g. from docker-compose based to Kubernetes. This migration utility sounds quite applicable for this use case, however this issue doesn't allow to use it.

The w/a for the issue is to create the organization and team(s) that are erroring out on dst, the rest of data seems to be migrated

[2020-02-06 12:48] ryanpetrello commented on #5835
@adrime92 can you provide some additional data about what's holding open the connections (what does it look like *before* you clean up the connections?)

[2020-02-06 12:49] ryanpetrello commented on #5834
cc @beeankha @john-westcott-iv

[2020-02-06 12:50] ryanpetrello commented on #5811
@denis-ovsyannikov AWX doesn't have any form of direct integration with PyCharm (or any other IDE).

[2020-02-06 12:51] ryanpetrello commented on #5833
Hey @tatdatpham,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-02-06 12:51] #5833 closed, assigned to nobody

[2020-02-06 15:08] ptoal opened #5839 "Add support for Webhooks from Gitea"
##### ISSUE TYPE
Add webhook support for [Gitea](https://gitea.io/en-us/)

##### SUMMARY
In addition to webhooks for Gitlab and Github, support the Gitea [Webhook](https://docs.gitea.io/en-us/webhooks/) format

[2020-02-06 15:08] lperrin-obs opened #5840 "Openstack inventory sources: openstack.yml not overwritten by source variables"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Openstack Inventory source with inventory plugin: The source variables are not overwritten by source variables

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  2.8.5
* Operating System:
* Web Browser: Firefox

##### STEPS TO REPRODUCE
Create an openstack

[2020-02-06 15:24] AlanCoding commented on #2259
What setting are you talking about? I know of this setting:

https://github.com/ansible/awx/blob/fd027f87a908fe6f624424dffc89f2e61896d27a/awx/main/conf.py#L38

That is not related to what you are doing. We allow ordinary users to see system admins and auditors

https://github.com/ansible/awx/blob/fd027f87a908fe6f624424dffc89f2e61896d27a/awx/main/access.py#L583-L592

and it is expected that you can

[2020-02-06 17:46] Throckmortra commented on #3940
Seeing this issue on 9.1.1

[2020-02-06 17:53] linkeal commented on #5692
We are hitting the exact same problem, also AWX 9.1.1. I somehow have the feeling that it is related to the fact that there is a "prompt on launch" checkbox missing in the inventory. At least I've also tried to create a workflow with an scm branch definition on launch which updates first the project and then the inventory and then executed the template and the same problem persists, that the proje

[2020-02-06 18:25] DenisMedeiros commented on #5473
That works indeed. The current workaround I am using is to mount a custom nginx.conf file. Another guy explained the same workaround here:

https://github.com/ansible/awx/issues/5205#issuecomment-577835138

However, the default nginx.conf file inside of the Docker image used to work in the previous versions (before the 9.0.0).  They changed that file and now we are required to overwrite it.

[2020-02-06 20:23] ryanpetrello commented on #5719
@wenottingham @kdelee I'm not convinced this actually works, and I'd like to reopen it and take another look.

[2020-02-06 20:59] rooftopcellist commented on #5155
@kdelee the rsyslog logs will be captured in `/var/log/supervisor/rsyslog.log`, which will already be picked up by the sosreport.

[2020-02-06 21:55] ryanpetrello commented on #5724
@shanemcd you have time to poke at this in the near future?  Been on my list, but just haven't gotten around to it.

[2020-02-06 22:05] ryanpetrello commented on #3940
@Throckmortra can you share the output of this command in the task container?

`$ supervisorctl -c /supervisor_task.conf status`

[2020-02-06 22:11] Throckmortra commented on #3940
[code]

I actually managed to fix this by indenting line
[code]
in settings.py

[2020-02-06 22:13] ryanpetrello commented on #3940
Sounds like there was a syntax error in your settings, then.  That would definitely explain why events weren't being processed.

[2020-02-06 22:19] Throckmortra commented on #3940
my apologies then

[2020-02-06 23:17] jrgoldfinemiddleton commented on #2240
@nuriel77 I've implemented your fix in version 9.0.1 as well.  I had to completely purge the AWX inventory and recreate it for the fix to apply.

Playbook we're running in AWX to check how each group is ordered:

[code]

This is a truly terrible bug.  I'm so disappointed that it has been around 1.5 years with no fix.  Predictable ordering of inventory hosts is one of the features advertised for An

[2020-02-07 04:44] rchincholkar commented on #5822
Appreciate your response, Ryan.
Is there any way or workaround to disable the LOG AGGREGATOR so that we can access tower UI?

[2020-02-07 05:31] ryanpetrello commented on #5822
@rchincholkar something like this would probably work if you can exec into one of the containers:

`$ echo "DELETE FROM conf_setting WHERE key='LOG_AGGREGATOR_ENABLED';" | awx-manage dbshell`

[2020-02-07 09:53] thadreez opened #5844 "Upgrade Ansible version shipped with awx_web image to 2.9.x"
##### ISSUE TYPE
 - Feature Idea
root@ubuntu:/# docker exec -it awx_web bash
bash-4.4# ansible --version
**ansible 2.8.5**
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/awx/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.6/site-packages/ansible
  executable location = /usr/bin/ansible
  python

[2020-02-07 13:23] ryanpetrello commented on #5844
duplicate of https://github.com/ansible/awx/issues/5827

[2020-02-07 13:23] #5844 closed, assigned to nobody

[2020-02-07 13:55] alebeta90 commented on #5051
Hi,

I had been configuring LDAP access and logged in with a user before setting `LDAP User Flags by Group` and then afterwards I decided to activate the option to flag by group, and the user is not getting the `is_superuser` permission.

My configuration looks like this

[code]

Don't know why I get the [], when I see Tower documnetation it does not suppose to appear. Don't know if it is normal.

[2020-02-07 15:21] egmar commented on #5826
We see this bug too, in fact I believe it appeared after support for collections was added. What we figured out is following:

- When running only project update, then roles/collections are not installed.
- When running a job template it triggers project update (project doesn't have this option enabled) and then the project update job is running in Run mode and respectively roles/collections are i

[2020-02-07 15:40] shanemcd commented on #5724
@ryanpetrello Just in case it isn't obvious, this runs in the context of the development image so adding it should be pretty trivial. I'll try to get a PR up sometime later today unless someone beats me to it.

[2020-02-07 18:06] wenottingham commented on #5840
cc @AlanCoding @jladdjr but I believe that certain default compatibility variables are automatically used - source variables are not automatically turned into plugin config variables.

[2020-02-07 18:09] wenottingham commented on #5826
As @egmar noted, we do this on the job template-triggered update that checks out the repository to use - are you looking at that update, or only at the update that updates the SCM revision?

[2020-02-07 18:13] ryanpetrello commented on #5818
Hey @nk9b,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-02-07 18:16] wenottingham commented on #5676
@msilmser do you have an update from the customer here?

[2020-02-07 19:00] ryanpetrello commented on #5770
@devops-42 this will be resolved in the next published version of AWX (see: https://github.com/ansible/awx/pull/5845)

[2020-02-07 19:00] #5770 closed, assigned to nobody

[2020-02-07 19:00] #5724 closed, assigned to nobody

[2020-02-07 19:02] ghost commented on #5818
Hi Ryan,

This is actually (what appears to be) a bug - behavior change with AWX that utilizes Python3 modules/libraries. I did find a workaround by delegating the task to the Docker host instead of localhost. I didn't have to do this when AWX relied on Python 2.7.

Is this proper behavior or are we really looking at a bug?

[2020-02-07 19:16] AlanCoding commented on #5840
Yes, that's exactly right. I think what @lperrin-obs wants is https://github.com/ansible/awx/issues/4306

[2020-02-07 19:21] ryanpetrello commented on #5840
Yea that sounds about right to me, marking this as a duplicate of https://github.com/ansible/awx/issues/4306

[2020-02-07 19:21] #5840 closed, assigned to nobody

[2020-02-07 20:19] AlanCoding commented on #5834
what version of tower-cli do you have installed? https://pypi.org/project/ansible-tower-cli/

only some of the most recent versions have fixes needed for this. Otherwise, we can expand out tests for `tower_job_launch` to confirm of deny. We still don't have any for that module specifically.

[2020-02-07 20:22] ryanpetrello commented on #5818
Hey @nk9b, it's possible this is a bug, and I misread it.  I'll reopen the issue and see if anybody in the community has any time to troubleshoot or further debug.

[2020-02-07 20:27] wenottingham commented on #5818
How are you referring to the paths for your template?
In recent versions of AWX, downloaded roles are not stored in the project directory, but instead in a side directory in order to avoid dirtying the SCM checkout.

[2020-02-07 21:28] ghost commented on #5818
My project directory (base_dir) is "/etc/ansible/dev"; this particular role is "(base_dir)/(project)/roles/(role name)/..."

In the Play, I'm setting the destination directory explicitly to the full path. If I **delegate_to localhost**, I get the following error snippet:

"msg": "Destination directory /etc/ansible/dev/ls-demo/compiled does not exist"

If I **delegate_to the Docker host**, I see th

[2020-02-07 22:04] generalpax opened #5849 "$HOME not set"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Installed AWX with the installer on k8s. SCM Project Update ends up with an error:

{
    "unreachable": true,
    "msg": "Authentication or permission failure. In some cases, you may have been able to authenticate and did not have permissions on the target directory. Consider changing the remote tmp path in ansible.cfg to a path rooted in \"/tmp\". Fa

[2020-02-08 09:54] ephracis commented on #5834
I was running 3.3.6 but I have upgraded to 3.3.8 now and will try again.

[2020-02-08 09:56] egmar commented on #5826
@wenottingham for us, main concern is downloading roles/collections on each job execution. It may cause unnecessary load on Galaxy or other locations (Github, Automation Hub). Moreover, it might lead to increased costs if Galaxy is using S3 as storage for collections, since they charge per request as well.

[2020-02-08 10:29] telefax commented on #2495
Stuck here too while trying to figure out how to use Azure Devops git repo.

AWX 9.1.0.0

[2020-02-08 12:01] ephracis commented on #5834
Yay! It worked! I also tried it with the "old" modules part of Ansible and they also worked as long as I have 3.3.8 installed.

[2020-02-08 12:01] #5834 closed, assigned to nobody

[2020-02-08 14:19] n2aws commented on #5826
@wenottingham In our case, it was the failing job templates that made us start looking into it.  So, it fails in the job template, and in the project scm update.

As @egmar noted, we too prefer not to have it to a role/collection update on each job execution.  In our case, some of our projects pull in large amounts of roles.. and doing that for each run would be prohibitively slow and costly.

For

[2020-02-09 14:20] #5371 closed, assigned to nobody

[2020-02-10 07:56] craph commented on #5064
I really want to investigate this issue.

Can you provide me some advise : where to search and how to debug it ?

Thank you very much.

This problem is really weird because my user is member of a team with Job Template admin role and if I check the response of the organizations endpoint I can see this :

[code]

May be user_capabilities is related to the user who have created the organization so i

[2020-02-10 09:17] akhilesh-bhople opened #5853 "win_lineinfile does not work from Ansible Tower"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: Tower 3.5.2
* AWX install method:
* Ansible version:  Ansible 2.8.2
* Operating System: CentOS Linux release 7.6
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

Running win_lineinfile module from a template in Ansible Tower fails to replace the lines in required file in windows, however running the same from an

[2020-02-10 09:32] craph commented on #5064
My user is the last line.
You can see the permissions for the project were I'm trying to add a label.
![image](https://user-images.githubusercontent.com/14820052/74137709-9018cc80-4bf0-11ea-9a2e-334a316fef92.png)

I'm the admin of the job template and have the team role "Job Template Admin".

[2020-02-10 10:48] fvzwieten commented on #5730
I found a workaround for this that I will document here so people might find this useful.
The machine credentials are available in environment variable ansible_user and ansible_password, but when using connection: local it will switch to user "awx" (when using awx/tower). So, to get the correct credentials when using connection: local I create a dummy host in a pre play without connection: local a

[2020-02-10 10:54] amarza-rh commented on #5800
I'd like to reopen such discussions.

Having USER/ADMIN permissions at a team level allows using Teams for self-service user management. i.e. this permits us handing over user management to just a small group of admins.

Perhaps this role can be named "TEAM ADMIN" to avoid confusion.

We needed self-service user management for some automation automation we built on top of Tower. Lacking this featu

[2020-02-10 12:25] craph commented on #5064
@ryanpetrello , @wenottingham , with little investigation I suppose that the error occured around here :
https://github.com/ansible/awx/blob/devel/awx/api/generics.py#L638

[code]

Then here : https://github.com/ansible/awx/blob/devel/awx/main/access.py#L115

[code]
Here are the logs from awx_web :
[code]

But now I'm unable to find the right place to see the relation between organization / team a

[2020-02-10 14:18] nixocio commented on #5528
Tests added.

[2020-02-10 14:18] #5528 closed, assigned to nixocio

[2020-02-10 14:24] nixocio commented on #5528
@fpjrh, completed. Missed your comment.

[2020-02-10 14:34] chuegel commented on #2688
I also look forward to see this implemented.

[2020-02-10 14:44] kdelee commented on #5141
@nixocio assigned you because I remember you working on something related w/ credentials

[2020-02-10 14:45] kdelee commented on #5141
it was this https://github.com/ansible/tower/issues/3882

[2020-02-10 14:52] kdelee commented on #5138
@russelljftw have you had a chance to try this out?

[2020-02-10 14:52] kdelee commented on #5138
@jakemcdermott do you have any suggestions for how to test this out?

[2020-02-10 14:57] chuegel opened #5854 "Map users in teams based on SAML attributes"
##### ISSUE TYPE
We are using Keycloak as an IDP and are looking for a way to map users groups to teams in awx/tower based on their saml attributes.

This are the attributes passed to awx/tower when logging in via sso:

[code]
On awx we have multiple teams configured e.g Network
##### SUMMARY

I couldn't find a way to map the groups to a particular team in awx
Ideally, all users belonging to g-AWX

[2020-02-10 15:27] tomaszov commented on #3641
+1, I have the same issue. Did anyone find any solution?

[2020-02-10 15:28] CWollinger opened #5855 "Support Vault credential at Ad Hoc command"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In the inventory there are different usernames and passwords stored encrypted for the connections. In the job template a vault credential is provided to decrypt at the job execution. This is not possible for Ad Hoc command. You can only use credential from the kind `Machine`.

It would be good to use other credentials types e.g. `Vault` for the Ad Ho

[2020-02-10 15:38] wenottingham commented on #5855
~There's no vault passed to ad-hoc commands, so why would the credential be useful?~

[2020-02-10 15:40] wenottingham commented on #5853
Hi, this repo is for bugs in AWX, if you are having issues with Ansible Tower please contact your Red Hat support representative.

[2020-02-10 15:40] #5853 closed, assigned to nobody

[2020-02-10 15:46] wenottingham commented on #5855
This is solely for vault-encrypted variables in inventory?

[2020-02-10 15:47] CWollinger commented on #5855
Yes, e.g. if you use encrypted `ansible_user` or `ansible_password` vars from inventory.

[2020-02-10 16:14] tomaszov commented on #3641
Finally after some experimenting, for me the following syntax worked:

ssh://git@mygitserver:mycustomport/myrepo.git

[2020-02-10 16:16] kdelee commented on #5821
Running inventory updates against a devstack that we use for testing, this works.

Going to close, please try this out @dvntstph and ping me if you have any trouble

[2020-02-10 16:16] #5821 closed, assigned to AlanCoding, kdelee

[2020-02-10 16:41] l3ender commented on #20
Given the demand for this (add our organization to the list), is there anything in process to add this as a feature? What would need to be done to help move it forward?

[2020-02-10 16:54] mabashian commented on #4942
Looks like this got addressed by https://github.com/ansible/awx/commit/25105d813d6ff313875c17f1cbda1998f83bdb3a.  Moving this over to needs_test.

[2020-02-10 16:55] mabashian commented on #4211
Closing this issue as it was addressed by v1 search

[2020-02-10 16:55] #4211 closed, assigned to nobody

[2020-02-10 16:57] mabashian commented on #4212
http://patternfly-react.surge.sh/documentation/react/components/spinner is now a thing.  We should probably be using that as the spinner.

[2020-02-10 17:00] mabashian commented on #4952
Looks like this got fixed a while back.  Moving over to needs_test.

[2020-02-10 17:01] mabashian commented on #4971
Closing - This is no longer relevant

[2020-02-10 17:01] #4971 closed, assigned to nobody

[2020-02-10 17:03] mabashian commented on #4958
The access tab has been hooked up in recent days.  Moving this over to needs_test.

[2020-02-10 17:05] mabashian commented on #4246
Duplicate of #5546

[2020-02-10 17:05] #4246 closed, assigned to nobody

[2020-02-10 17:13] mabashian commented on #4967
This issue should probably be worked on in conjunction with #5819

[2020-02-10 17:14] mabashian commented on #5819
This issue should probably be worked on in conjunction with #4967

[2020-02-10 17:19] wenottingham commented on #3103
See https://github.com/ansible/awx/pull/5846, this should respect AWX_TASK_ENV now.

[2020-02-10 18:07] mabashian opened #5857 "All Schedules List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This issue tracks work for building the list shown on `/#/schedules`.  It should be shown when the user clicks on this sidenav item:

<img width="169" alt="Screen Shot 2020-02-10 at 1 12 50 PM" src="https://user-images.githubusercontent.com/9889020/74177124-1e984880-4c07-11ea-8a78-23ae289bc8a7.png">

The list is populated by interacting with `/api/v2

[2020-02-10 18:27] unlikelyzero commented on #4984
@dsesami to review this afternoon

[2020-02-10 18:39] mabashian commented on #5857
This issue and https://github.com/ansible/awx/issues/4959 should probably be worked on by the same individual.

[2020-02-10 18:39] mabashian commented on #4959
This issue and https://github.com/ansible/awx/issues/5857 should probably be worked on by the same individual.

[2020-02-10 18:57] Throckmortra opened #5858 "$releasever is not set or available on image ansible/awx_task:9.1.1"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
$releasever is not set or available on image ansible/awx_task:9.1.1

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker on linux
* Ansible version:  2.9.3
* Operating System: Amazon Linux 2
* Web Browser:

##### STEPS TO REPRODUCE

yum update

##### EXPECTED RESULTS

yum updates successfully

##### ACTUAL RESULTS

Error: Failed to sync

[2020-02-10 19:30] mabashian opened #5859 "Job Template Schedule Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Things that should be included:
1) Fields:
    - Name
    - Description
    - Start Date
    - Start Time
    - Local Timezone
    - Repeat Frequency
        - This field is interesting as it should be an aggregation of several different fields.  The expectation here is that this field will describe how frequently the schedule will run and when it wi

[2020-02-10 19:42] Throckmortra commented on #5858
output of `python3 -c 'import dnf, pprint; db = dnf.dnf.Base(); pprint.pprint(db.conf.substitutions,width=1)'`

 'basearch': 'x86_64',
 'releasever': '8'}

[2020-02-10 19:53] dsesami opened #5860 "Tabbing in user creation form should skip over "unhide" buttons"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When tabbing in the new user form, we shouldn't hit the "unhide" views for passwords. Here is an example animation.

![ezgif-7-b9767f55ee9f](https://user-images.githubusercontent.com/19942822/74184519-ee57a680-4c14-11ea-8131-2b84d116a6c6.gif)

##### ENVIRONMENT
AWX: latest

[2020-02-10 19:56] dsesami commented on #5860
Closing as the tabbing needs to occur for accessibility reasons.

[2020-02-10 19:56] #5860 closed, assigned to nobody

[2020-02-10 20:03] appuk commented on #5719
Verified that the analytics is only gathered once per interval, hence closing:
[code]

[2020-02-10 20:03] #5719 closed, assigned to appuk

[2020-02-10 20:10] dsesami commented on #4984
Reviewed all delete buttons listed. all work as desired. :tada:

[2020-02-10 20:10] #4984 closed, assigned to marshmalien, dsesami

[2020-02-10 20:15] appuk commented on #5708
@ryanpetrello  I've setup the automation analytics credentials and enabled logging too, but I do not see any 'shipping analytics file' in the tower.log file
the analytics gather is working as expected, so not sure what's happening here

[2020-02-10 20:26] appuk commented on #5708
cc @kdelee @rooftopcellist ^

[2020-02-10 20:48] dsesami opened #5862 "All input group buttons should be moved to the right side of the text box."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See the following gif, where I tab through some items on the user page.
![ezgif-7-b9767f55ee9f](https://user-images.githubusercontent.com/19942822/74188484-81e0a580-4c1c-11ea-8fa0-a86d0775a8ed.gif)

When tabbing through, the "reveal password" buttons are encountered before the actual password fields. We'd like to be consistent, and patternfly input g

[2020-02-10 20:58] AlanCoding commented on #5789
I've taken https://github.com/ansible/ansible-runner/pull/387 out of draft status. The test addresses the selective callback specifically. After going back over the options, I see that this is possibly the most mature output reducing callback. There are still some interactive features that we cannot capture at the moment (the scrolling `...`). For the moment, I would like to not bother that such a

[2020-02-10 21:01] mabashian opened #5864 "Job Template Add Schedule Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Fields:

1) Name
2) Description (we don't show this in the old UI and I'm not sure why)
3) Start Date (date picker - as far as I know we don't have a component like this in the app currently)
4) Start Time (Three separate number inputs HH24:MM:SS)
5) Local Time Zone (Options for this dropdown come from `/api/v2/schedules/zoneinfo/`)
6) Repeat Freque

[2020-02-10 21:05] mabashian opened #5865 "Job Template Edit Schedule Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See #5864 for almost all of the details.

Link to mockups: https://tower-mockups.testing.ansible.com/patternfly/templates/templates-schedules-edit/

[2020-02-10 21:13] mabashian opened #5866 "Remove style overrides on Patternfly components and layouts"
##### ISSUE TYPE
 - Task

##### SUMMARY
We're moving away from our small style tweaks to stock Patternfly components in favor of using them out of the box.  This means that things like [app.scss](https://github.com/ansible/awx/blob/devel/awx/ui_next/src/app.scss) and [Chip.jsx](https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/Chip/Chip.jsx) have got to go.  This issue covers se

[2020-02-10 21:22] gamuniz opened #5867 "RFE "Related" Job Templates tab for Inventories and Credentials"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

It would be beneficial to see what job templates are using a specific inventory or credential. This could be used to gauge impact of deleting specific objects.

Add the job templates like in projects
![image](https://user-images.githubusercontent.com/18033113/74191447-95423f80-4c21-11ea-8ec8-0f2e45ab9fab.png)

[2020-02-10 23:26] #3899 closed, assigned to nobody

[2020-02-11 08:27] craph opened #5872 "How to use ui_next in AWX"
Hello,

I'm using AWX 9.1.1 and I would like to know how to use the new UI.

How can I switch from the current UI to the new one ?

Thank you very much.

Best regards,

[2020-02-11 08:49] craph opened #5873 "Unable to connect to postgres with pgadmin"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to connect to postgres (docker container) with pgadmin

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker
* Ansible version:  2.8.5
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Install pgadmin on your laptop and then try to connect to the docker postgres.

##### EXPECTED RESULTS

I want to be ab

[2020-02-11 09:11] jyj1993126 commented on #2240
+1 for fixing this
I use serial: 1, and the playbook relies on executing order

[2020-02-11 12:57] cfelder commented on #3998
It is obviously better to fix this in awx directly but there has already been some progress in a different project. I created a pull request ikke-t/awx_pod#1 for this project to support awx 9.1.1.

[2020-02-11 13:17] ryanpetrello commented on #5873
Hey @craph,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-02-11 13:17] #5873 closed, assigned to nobody

[2020-02-11 13:19] ryanpetrello commented on #5872
Hey @craph,

The new UI is still very much under active development, so I think you'll find some notable gaps in functionality.  That said, if you want give it a test drive, it really is coming along.

@jakemcdermott @mabashian do one of you have instructions available on how to do this?

[2020-02-11 13:19] #5872 closed, assigned to nobody

[2020-02-11 13:19] ryanpetrello commented on #5872
(closing because this isn't really a bug, more a question, but we can continue the conversation here)

[2020-02-11 13:53] craph commented on #5872
@ryanpetrello thank you for the update.

Yes I want to do some test :)

[2020-02-11 15:05] moonrail opened #5878 "Add Approval-Node-Handling to workflow.py"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
As approval nodes are a welcome addition to workflows in AWX they should be usable via awx-cli and Ansible module tower_workflow_template.

Currently awx-cli generates this output on getting a schema with at least one Approval-Node:

[code]

[2020-02-11 15:07] mabashian opened #5879 "Support all default credential types in credential forms"
##### SUMMARY
https://github.com/ansible/awx/issues/5274 and https://github.com/ansible/awx/issues/5275 are covering adding support for machine and scm credential types.

**Feel free to break this work up into pieces.  Some of these subforms are more complicated than others**

As noted in #5274 the intention at this time is to ignore credential plugin support (lookups on many of the fields).  That

[2020-02-11 15:23] jakemcdermott opened #5880 "Credential Plugins - add input source buttons to fields"
##### SUMMARY
With credential plugins, we have additional buttons on each field that can be used to link a field to an external source. This issue is for adding those buttons to the fields. This issue is primarily for look and feel and initial unit tests - the handlers for these buttons should be stubbed out and we'll implement the functionality separately.

<img width="1188" alt="cred_plugin_look

[2020-02-11 15:23] jakemcdermott commented on #5879
note: remove blocked from https://github.com/ansible/awx/issues/5880 when this is finished

[2020-02-11 15:28] jakemcdermott opened #5881 "Credential Plugins - external credential lookup and form prompt"
##### SUMMARY
With credential plugins, linking an input field to an external source involves a prompt with two steps.

- The prompt is opened by a specific "lookup" button on the individual input field, see https://github.com/ansible/awx/issues/5880
- The first step of the prompt is for selecting the _external credential_  to use as the input source for the field:
<img width="1435" alt="cred_plugi

[2020-02-11 15:29] jakemcdermott commented on #5880
Please remove blocked label from https://github.com/ansible/awx/issues/5881 when this lands.

[2020-02-11 15:36] ryanpetrello commented on #5708
@appuk,

It looks like this log line is set to a higher verbosity by default (`logger.debug`):

https://github.com/ansible/awx/blob/devel/awx/main/analytics/core.py#L156

...so I wouldn't expect it to show up in logs for production installs by default.

I'm guessing that in @benthomasson's log output in the issue description, he was probably running in an environment with higher log verbosity (per

[2020-02-11 15:40] mabashian commented on #5879
After #5274 and #5275 are done we want to transition away from building static subforms for credentials since we'll need to support both default and custom credential types.  Custom credential types _must_ be generated based on the response from `/api/v2/credential_types/:id`.  Inside that response there is an `inputs` key that looks something like:

[code]

Based on this JSON blob, we'll need to

[2020-02-11 15:41] AlexSCorey opened #5882 "API Provides credential_type for WFJTs"
##### ISSUE TYPE
Bug maybe?
##### SUMMARY
Missing information in the WFJT end point re: webhook credentials. JobTemplates end point provides credential type and kind information, but WFJT end point does not provide that info for webhook credentials.  It would be nice to have.

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method:  docker for mac
* Ansible version:  2.10
* Operating System:

[2020-02-11 15:47] jakemcdermott opened #5883 "Job status websocket / websocket storm updates"
##### SUMMARY
We're going to add some new behavior to the websocket subscription flow in the API and UI. The goal is to address the "websocket storm" issue.

[details](https://github.com/ansible/awx/pull/5968#issuecomment-591565513)

[2020-02-11 15:49] mabashian opened #5884 "All items checkbox gets selected after deleting an item from Project's JT list"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
![project_jt_delete](https://user-images.githubusercontent.com/9889020/74252682-fb7ba080-4cbb-11ea-812f-38fb6495280d.gif)

##### STEPS TO REPRODUCE
Have two JT's in the Project -> JT's list
Delete one of the JT's

##### EXPECTED RESULTS
No checkboxes checked

##### ACTUAL RESULTS
All items checkbox checked

[2020-02-11 15:49] jakemcdermott opened #5885 "job status websocket subscription utility"
##### SUMMARY
Create a nice abstraction, hook, utility, etc. for managing websocket subscriptions for job statuses in the new ui. This will be used to drive status icons and other behavior that depends on the status of running jobs.

More details will be added in the coming days as we work on planning for #5883

[2020-02-11 15:50] mabashian commented on #5884
This is an extremely low priority bug.  Let's not work on it until we get closer to a general release of UI Next

[2020-02-11 15:50] jakemcdermott opened #5886 "Handle job output websocket events in new ui"
##### SUMMARY
Will add more details soon.

[2020-02-11 15:52] jakemcdermott commented on #4209
Mike and I are breaking this work up into smaller issues:

https://github.com/ansible/awx/issues/5883
https://github.com/ansible/awx/issues/5885
https://github.com/ansible/awx/issues/5886

[2020-02-11 15:52] #4209 closed, assigned to nobody

[2020-02-11 15:55] mabashian opened #5888 "Project Schedules Related Tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1680" alt="Screen Shot 2020-02-11 at 10 52 05 AM" src="https://user-images.githubusercontent.com/9889020/74253057-91afc680-4cbc-11ea-88a3-8045e0fc65ac.png">

We'll need to support a few different things here:

1) The schedule list itself (should be able to re-use #4959 with a different endpoint)
2) Add schedule form (should be able to re-

[2020-02-11 16:06] mabashian commented on #5867
It'll be really easy for us to do this in UI Next

[2020-02-11 16:06] craph opened #5889 "Unable to build dev environment"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I'm unable to build the dev environment (following this documentation : https://github.com/ansible/awx/blob/devel/CONTRIBUTING.md#build-the-base-image to be able to debug and contribute to AWX project.

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker on windows
* Ansible version:  X.Y.Z
* Operating System: Windows 10
* Web Browser:

[2020-02-11 16:14] #5882 closed, assigned to nobody

[2020-02-11 16:15] ryanpetrello commented on #5889
@craph try grabbing the latest `devel` - what you're encountering is the result of a bug in the latest `virtualenv` Python package, which I just merged a fix for yesterday:

https://github.com/ansible/awx/pull/5868

[2020-02-11 16:15] #5889 closed, assigned to nobody

[2020-02-11 16:18] mabashian opened #5890 "JT Completed Jobs List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1490" alt="Screen Shot 2020-02-11 at 11 10 36 AM" src="https://user-images.githubusercontent.com/9889020/74254979-3a5f2580-4cbf-11ea-9b57-b04834290154.png">

This will share quite a bit with the component used on `/#/jobs` with a few exceptions.

1) The data comes from a different endpoint: `/api/v2/job_templates/:id/completed_jobs`
2) We

[2020-02-11 16:22] AlexSCorey opened #5891 "Refactor Credential Chip to display Credential Type name instead of Credential Kind"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Credential chip should display the credential type name instead of the credential kind before the colon
##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method:  docker for mac
* Ansible version:  2.10
* Operating System: Mojave
* Web Browser:Chrome

##### STEPS TO REPRODUCE

Go to a JT or WFJT with credentials.

##### EXPECTED RESULTS

Credential

[2020-02-11 16:25] mabashian opened #5892 "Inventory Completed Jobs List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

This will share quite a bit with the component used on `/#/jobs` with a few exceptions.

1) The data comes from a different endpoint: `/api/v2/inventories/:id/completed_jobs`
2) We don't need to show the type column (type will always be `Inventory Sync`)

Columns:

1) Status/Name of job.  Links to `/#/jobs/:id`
2) Finish time of job
3) Relaunch butt

[2020-02-11 16:27] mabashian opened #5893 "Jobs list completed timestamp shows epoch while job is running"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running:

<img width="1456" alt="Screen Shot 2020-02-11 at 11 26 07 AM" src="https://user-images.githubusercontent.com/9889020/74256516-75faef00-4cc1-11ea-93be-ad45c0a61ecb.png">

Completed:

<img width="1451" alt="Screen Shot 2020-02-11 at 11 26 18 AM" src="https://user-images.githubusercontent.com/9889020/74256538-7d21fd00-4cc1-11ea-83ed-a2e5da46fffa

[2020-02-11 16:36] jakemcdermott commented on #5867
Tags for these items can be easily a added to the templates list in ui_next. As of right now, a user will not be unaware of the potential impact of deleting a credential or inventory as we show warning prompts with this information prior to deletion:

![Screenshot from 2020-02-11 11-34-09](https://user-images.githubusercontent.com/9753817/74257327-aa22df80-4cc2-11ea-9041-fec5d372e6c9.png)
![Screen

[2020-02-11 16:38] kdelee commented on #5708
@ryanpetrello we did set the logging level to DEBUG to test in the 3.6.3 version and did see the logs

[2020-02-11 16:47] ryanpetrello commented on #5708
Also worth mentioning in case you're seeing different behavior across stable Tower versions:

If you change the `settings.LOG_AGGREGATOR_LEVEL = DEBUG` in the API/UI in older Towers (pre-3.6), the verbosity change doesn't take effect on the file system until *after* you restart Tower services.  The ability to toggle that setting and see logs start showing up _without_ service restarts is new behav

[2020-02-11 16:56] appuk commented on #5708
Yes @ryanpetrello , I did restart the tower service after changing the settings 🤔

[2020-02-11 17:03] mabashian opened #5895 "JT Survey List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
** Note that we should build a lot of these components in a generic way.  Workflow job templates have the exact same related tab.**

On initial load, the user should see an empty list.  The list will eventually represent the survey questions themselves.

<img width="1459" alt="Screen Shot 2020-02-11 at 11 44 03 AM" src="https://user-images.githubuser

[2020-02-11 17:29] dansou901 opened #5896 "search_path for templates not including dependent roles"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I've setup two roles. Role a contains just the templates, role b contains tasks. Role a is a dependency for role b. When I run role b from a playbook of an awx project, I except that a task from inside role b can access templates defined in role a without having to define the path to the template. According to official ansible documentation, this has t

[2020-02-11 18:16] mabashian opened #5899 "JT Survey Add Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Fields:

1) Question (mockup says Name but this is the field where the user will fill in the actual question text).
2) Description
3) Variable Name
4) Answer Type (this is a dropdown with the following options: Text, Textarea, Password, Multiple Choice (single select), Multiple Choice (multiple select), Integer, Float).

The following fields are show

[2020-02-11 18:17] mabashian opened #5900 "JT Survey Edit Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See https://github.com/ansible/awx/issues/5899 for most of the details.

As noted in https://github.com/ansible/awx/issues/5899 form submission here should directly interact with the survey_spec endpoint updating the question.

[2020-02-11 18:21] mabashian opened #5901 "Add support for surveys on WFJT"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

The hope is that we've built reusable components ^^ that can be dropped in on the WFJT survey related tab.

The only difference between these two areas is the endpoint that we'll be interacting with.

[2020-02-11 18:27] mabashian opened #5902 "WFJT Access Related Tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hook it up, should be like all the other access tabs.  See https://github.com/ansible/awx/blob/devel/awx/ui_next/src/screens/Template/Template.jsx#L180 as an example.  The only difference should be that we need to pass in the workflow job template api instance.

[2020-02-11 18:30] mabashian opened #5903 "WFJT Completed Jobs Related Tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See https://github.com/ansible/awx/issues/5892 and https://github.com/ansible/awx/issues/5890.

Same thing here except that the endpoint we interact with will be `/api/v2/workflow_job_templates/:id/completed_jobs`

[2020-02-11 18:33] mabashian opened #5904 "WFJT Notifications Related Tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hook it up.  https://github.com/ansible/awx/blob/devel/awx/ui_next/src/screens/Organization/Organization.jsx#L205 as reference.  Will need to pass in WorkflowJobTemplatesAPI as the model.

[2020-02-11 18:34] mabashian opened #5905 "WFJT Schedules Tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We'll need to support a few different things here:

1) The schedule list itself (should be able to re-use #4959 with a different endpoint)
2) Add schedule form (should be able to re-use #5864 with a different endpoint)
3) Edit schedule form (should be able to re-use #5865 with a different endpoint)
4) Schedule details view (should be able to re-use #

[2020-02-11 18:36] marshmalien opened #5906 "Job Results - Output Filter"
## Job Results - Header
Mockup: https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs-output/

* Add dropdown to filter output by status
* Add dropdown to filter output by verbosity level (this one will require further discussion)

<img width="1498" alt="Screen Shot 2020-02-11 at 1 34 50 PM" src="https://user-images.githubusercontent.com/15881645/74267124-7d2af880-4cd3-11ea-8e2e-e0c230372

[2020-02-11 18:37] marshmalien commented on #4221
Tracking output filters in: https://github.com/ansible/awx/issues/5906

[2020-02-11 18:38] mabashian opened #5907 "Host Facts Related Tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Link to mockup: https://tower-mockups.testing.ansible.com/patternfly/hosts/hosts-facts/

**Note that we're talking about both `/#/hosts/:id/facts` and `/#/inventories/:id/hosts/:id/facts`**

This tab is essentially a full page codemirror where the json/yaml from `/api/v2/hosts/:id/ansible_facts/` is displayed.

[2020-02-11 18:46] mabashian opened #5908 "Host Groups Related Tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
**Note that we're talking about `/#/hosts/:id/groups` and `/#/inventories/:id/hosts/:id/groups`**

This tab should list out the groups that this particular host belongs to.  It should also allow the user to add the host to an available group (add button + modal) as well as remove a host from a group.

Link to mockup: https://tower-mockups.testing.ans

[2020-02-11 19:21] elyezer commented on #5142
Did this in order to verify this one:

1) Updated the MAX_FORKS to 4 on the Jobs settings
2) Tried to set a job template max forks option to anything greater than 4. It provided the expected validation error.
3) Left the job template max forks set to 4 and updated the MAX_FORKS to 1 on the settings page.
4) Triggered the job template and, as expected, the following log message was printed:

[code]

[2020-02-11 19:21] #5142 closed, assigned to elyezer, jakemcdermott

[2020-02-11 19:58] kdelee commented on #5586
:/ I am using a fresh 3.6.3 AMI that I built and deployed today. I changed my browser local to french. Performing reproducer in gif creates same problem for me.

![400_french_admin](https://user-images.githubusercontent.com/29239279/74273758-f3812800-4cde-11ea-9bfd-2e319e8c206e.gif)

[2020-02-11 20:21] mabashian opened #5909 "Support prompting on JT Launch"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
**It might be a good idea to break this work up into pieces that correspond with the different steps in the wizard.**

When configuring a Job Template, the user can specify whether or not certain fields should be prompted for when the job is launched.  In the UI, we'll need to present these fields to the launching user in a wizard.

Here's a link to

[2020-02-11 20:24] elyezer commented on #2916
I was trying to verify this and need some guidance. The original issue states that AWX should support the new variables added to the `foreman.ini` and I tried to run an inventory sync with the following vars:

[code]

And I got proper prefix and didn't get the facts as expected but the `satellite6_want_ansible_ssh_host` seems not to be working. This is what the vars of a given host look like after

[2020-02-11 20:27] mabashian opened #5910 "Support prompting on WFJT Launch"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See #5909

Launching a WFJT is a bit different from launching a JT.  It has the possibility to display a subset of the steps to the launching user:

Note that the api provides us with a convenience endpoint: `/api/v2/workflow_job_templates/:id/launch/`.  This is where we should pull all of these flags from.

Potential Steps:

1) Inventory
    - This

[2020-02-11 20:29] jakemcdermott commented on #5586
@kdelee This was for devel. Would you like me to create a backport issue for this?

[2020-02-11 20:36] jakemcdermott commented on #5586
We added a new issue in a different repo for upcoming release verification.  We will use this issue for devel verification when it is time.

[2020-02-11 20:37] philipsd6 opened #5911 "Allow multiple instances of the same custom credential"
##### ISSUE TYPE
 - Allow multiple instances of the same custom credential to be used in the same playbook
##### SUMMARY
Currently, if we create a generic custom credential named "REST API Credential" that injects `api_username` and `api_password` and `api_base_url` into the extravars and/or environment, we can only use that to deal with _one_ API, because there can be only one extravar of `api_us

[2020-02-11 20:56] elyezer commented on #2916
I tried couple more times and I still don't see the `ansible_ssh_host` being set when `satellite6_want_ansible_ssh_host` is set to true on the inventory source:

![Screenshot from 2020-02-11 15-52-54](https://user-images.githubusercontent.com/48132/74278156-c20c5a80-4ce6-11ea-9dfa-fe86c85264f1.png)

Then after a successful inventory source sync the `ansible_ssh_host` is not present on the host's v

[2020-02-11 21:12] mabashian opened #5913 "Support prompting on workflow nodes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When a user selects a JT or WFJT with promptable fields while creating or editing a workflow node we want to give that user the ability to fill in the prompts right there in the wizard.  These fields have to be provided with the node and will not be prompted for at launch time.

There's a significant amount of overlap with #5909 and #5910 so hopefull

[2020-02-11 22:59] jakemcdermott commented on #5138
@kdelee yes

- [x] Verify no regressions have occurred with any of our tests that use the default (standard azure cloud) choice.
- [x] Verify all options show up correctly in the UI and API on a clean install and after running an upgrade on a system that already has one of these credentials created.
- [x] Create an azure keyvault credential using one of the new cloud options, link it to a machine

[2020-02-12 00:41] AlanCoding commented on #5150
Same as https://github.com/ansible/awx/issues/4306?

[2020-02-12 00:42] AlanCoding commented on #5149
Same as https://github.com/ansible/awx/issues/4720?

[2020-02-12 02:02] wenottingham commented on #4306
-> #5150

[2020-02-12 02:02] #4306 closed, assigned to nobody

[2020-02-12 02:37] AlanCoding commented on #5150
the main important discussion point I want to copy over from the other issue:

this will start the user out with a configuration that gives compatibility with existing behavior, which they can then modify at will

And this is all non-specific to collections. I don't see any tie-ins or conflicts.

[2020-02-12 03:18] wenottingham commented on #5149
Maybe, this is more if a user wants to use a custom plugin from a custom collection, not using a custom collection for our stock ones.

[2020-02-12 03:47] appuk commented on #3054
Tests PR merged, hence closing the issue

[2020-02-12 03:47] #3054 closed, assigned to chrismeyersfsu, appuk, rebeccahhh

[2020-02-12 03:59] AlanCoding commented on #5149
Since acba5306c69edc2493826b0bfad891702ff3ce53, you can use an inventory plugin from a custom collection if put in the collections requirements.yml. Whatever we do for sourcing collections for jobs should apply the same to inventory updates, yes. A similar statement might be made for ad hoc commands too, which is different from SCM inventory since there's no project involved, but collections-as-to

[2020-02-12 05:06] adpavlov commented on #3054
Please add link to commit/merge

[2020-02-12 07:50] egmar commented on #5854
Hi, for us it works with following in `SAML Team Attribute Mapping`:
[code]
Replace the values as needed. Also see https://docs.ansible.com/ansible-tower/latest/html/administration/ent_auth.html#saml-authentication-settings since it has some examples too.

[2020-02-12 08:50] cs35-owncloud opened #5915 "Upgrade from 9.1.1 to 9.2"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Upgrading AWX from 9.1.1 to 9.2 fails since the docker image for [awx_web](https://hub.docker.com/r/ansible/awx_web/tags) and [awx_task](https://hub.docker.com/r/ansible/awx_task/tags) do not exist. It seems it has happened a while ago as reported [here](https://github.com/ansible/awx/issues/3199). Maybe I was to fast to upgrade :s Could you publish th

[2020-02-12 10:06] rawstorage commented on #2495
Same Problem. Trying to patch with the API however getting error kind must be "scm"

    "kind": "github_token",
    "cloud": false,
    "kubernetes": false
}

When I look at the json detialing my saved credentials it's kind is github_token so this is the conflict..

[2020-02-12 11:10] ryanpetrello commented on #5915
Hey @cs35-owncloud,

We're publishing and uploading new images this morning.

[2020-02-12 11:10] #5915 closed, assigned to nobody

[2020-02-12 11:26] ryanpetrello commented on #3054
@adpavlov this feature is available in awx 9.2.0, which was just published.

Here's the PR:
https://github.com/ansible/awx/pull/5621

[2020-02-12 11:26] ryanpetrello commented on #5915
https://groups.google.com/forum/#!topic/awx-project/LL0SCbAsViw

[2020-02-12 11:35] medzin opened #5916 "Unable to use password only SSH authentication"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm unable to use AWX with hosts that have only password SSH authentication. Ansible fails to connect to them.

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: kubernetes
* Ansible version:  2.8.5
* Operating System: OS X
* Web Browser: Firefox

##### STEPS TO REPRODUCE

1. Create Machine credentials with only username and password.
2. Cre

[2020-02-12 11:45] adpavlov commented on #3054
Thanks!

[2020-02-12 11:58] craph commented on #5704
Hello @wenottingham ,

Can you provide me the link where this is explain. Should I have to pass the ROOT CA only or the ROOT CA + the intermediate CA too ?

If both, should I concatenate them in one file ?

Should restart the installation steps to do that ?

Thank you very much for your help.

Best regards,

[2020-02-12 12:24] dansou901 commented on #5896
This is still happening in AWX 9.2.0 with Ansible 2.9.3.

[2020-02-12 13:41] cs35-owncloud commented on #5915
Thanks, it works !
I guess I'll wait a bit longer before to upgrade now, the [release](https://github.com/ansible/awx/releases/tag/9.2.0) seemed to be fine though in github.

[2020-02-12 14:10] jakemcdermott commented on #2495
You added a git _hub_ token credential so that AWX can talk to _github_, the service, for things like webhooks. That is not the same thing as a generic scm credential for granting an automation system read access for your _git repository_.

No, not really. SCM credentials for projects, like the one you might make for _git_, need to work for generically _any_ git repository. The primary ways of pro

[2020-02-12 14:36] elyezer commented on #5586
Did the following to verify this:

1) Set Firefox to only suggest French as the language
2) Ensured AWX had two admin users and two organizations
3) Added both users to the Default organization
4) Added both users to the second organization

No issues where found when doing the above steps:

![issue-5586](https://user-images.githubusercontent.com/48132/74344783-182add80-4d7b-11ea-84e2-3b716b566a5a

[2020-02-12 14:36] #5586 closed, assigned to elyezer, jakemcdermott

[2020-02-12 14:53] chuegel commented on #5854
Hi, thanks I´ve figured that out but that will create new groups with the group name fetched from IDP (eg. g-AWX_Network). Since we have already a lot of groups with their specific permissions , it would make more sense for us to map those idp groups to existing groups in awx/tower.
Any hints?
Cheers

[2020-02-12 15:44] margani commented on #5825
Also if you are doing this using a script or in the CD pipeline which there is no interctivity, it's better to do the following, so it doesn't show any prompt.
[code]
or in the kubernetes:
[code]

[2020-02-12 15:46] mabashian commented on #5819
Marking this as blocked until #4967 lands

[2020-02-12 15:46] andrew-landsverk-win commented on #5825
I'm doing `kubectl` exec and opening a shell, then running `awx-manage`. However, the issue here is that upon upgrade, the existing `admin` user password is getting reset to something that it shouldn't be.

[2020-02-12 15:52] margani commented on #5825
Yes I know, I am facing the same issue, and I thought it would be helpful for people who get stuck like me.
I know it's not a solution but a workaround.

[2020-02-12 16:07] egmar commented on #5826
I've change the code to install roles/collections in project folder and only when they are not installed. They get synced (part I'm not fully sure about, but it works) into folder where job env is setup. From few tests I've ran it works correctly, though I've yet to test in isolated instance or container groups.
Now it's a question if AWX team wants to pursue this scenario, or perhaps there are ot

[2020-02-12 16:14] #5154 closed, assigned to fosterseth, squidboylan

[2020-02-12 16:52] agrisvv opened #5920 "awx cli exit code on job failure"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Need implement different exit code on Job or Workflow  status failure like it was with tower-cli.
It is hard to --monitor output in stream and get failure status

now workaround:
[code]

run failed job:
[code]
result:
[code]
expected other code:
[code]

[2020-02-12 17:47] ryanpetrello commented on #5920
@agrisvv this behavior is *different*, though I'm not entirely sure I agree with this in spirit.  An exit code of `0` suggests to me that the *launch* worked (not necessarily that the job succeeded/failed).

@AlanCoding what's your opinion on this?

[2020-02-12 18:04] elyezer commented on #5514
Did the following to verify this:

1) Created an inventory with about 4 hosts
2) Ran a job template that interacted with all the hosts
3) Checked if the runner related events had the host information present on the summary_fields. Also checked that the event fields `host` and `host_name` had the information set accordingly.

See below an example of the following event for one of the hosts:

[code]

[2020-02-12 18:04] #5514 closed, assigned to elyezer, ryanpetrello

[2020-02-12 18:35] ryanpetrello commented on #2916
@AlanCoding @jladdjr @jainnikhil30 any of you have any feedback or thoughts on this?  Sounds like this one maybe isn't squashed just yet?

[2020-02-12 18:39] dsesami commented on #4768
The decision on this was to not make this change in the angular UI, but it is a future item in the patternfly project. closing because of this.

[2020-02-12 18:39] #4768 closed, assigned to dsesami

[2020-02-12 18:41] dsesami commented on #4785
Attempted all permutations of dropdown options. None of them removed the dropdown functionality, and this is working as expected.

[2020-02-12 18:41] #4785 closed, assigned to jlmitch5, dsesami

[2020-02-12 18:41] AlanCoding commented on #5920
Launch with monitor is something I'd treat differently from just launch. We certainly need to give some reliable signal for people using the CLI in bash scripts or wherever. You don't want to grep the output. You could recommend a subsequent command to do a get for the job, do jq parse to get status. But to do that you'd need the job id, which is more difficult to get in a launch/monitor combinati

[2020-02-12 18:48] dsesami commented on #4952
Tried this with a few users and orgs. works great. :+1:

[2020-02-12 18:48] #4952 closed, assigned to dsesami

[2020-02-12 18:49] dsesami commented on #5785
Tried clicking the tooltip with both add and edit org views. Tooltips behave normally.

[2020-02-12 18:49] #5785 closed, assigned to marshmalien, dsesami

[2020-02-12 18:50] AlanCoding commented on #2916
Looking back at:

https://github.com/ansible/awx/issues/2916#issuecomment-584834026

Made me think, cross-referencing with:

https://github.com/ansible/ansible/blob/devel/contrib/inventory/foreman.py#L642

[code]

Indeed, it is true that those hostvars given do not have "ip" in them. It has ipv4 instead. So that speculates some possibilities... does this server have newer stuff that the script nee

[2020-02-12 18:57] ryanpetrello commented on #2916
That's what it is @AlanCoding, it's just a bug in the script:

![image](https://user-images.githubusercontent.com/214912/74367313-a2853880-4d9f-11ea-8810-c22686360199.png)

Honestly, there's probably not going to be much we can do about this outside of our upcoming move to the plugin.

[2020-02-12 18:58] ryanpetrello commented on #2916
This (hypothetical) diff to the script fixes it for me:

[code]

![image](https://user-images.githubusercontent.com/214912/74367389-c3e62480-4d9f-11ea-8670-0f69c34a3852.png)

[2020-02-12 19:01] ryanpetrello commented on #2916
@ares @sjha4 either of you have any thoughts on this?

[2020-02-12 19:03] unlikelyzero commented on #4768
@dsesami we've been adding the UI next flag to these

[2020-02-12 19:32] ryanpetrello commented on #5920
Okay, sounds fair.  I'll leave this in `enhancement`.

[2020-02-12 20:49] AlanCoding opened #5924 "Means of updating / launching all unified template types"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Filing issue for what's being done in https://github.com/ansible/awx/pull/5856

##### ADDITIONAL INFORMATION

The current proposal on the table is that for "updatable" resources, we will accept `state=updated`, and this will then assure existence with the given fields, and that an update has been performed.

[2020-02-12 21:01] nixocio commented on #5141
If I give a user "Credential Admin" I can created the Hashicorp Vault and test this. A user that is only a member can not make a credential to test. Is that the expected behaviour?

@ryanpetrello @jakemcdermott @AlanCoding can you confirm what user permission is supposed to be used here?

[2020-02-12 21:42] jakemcdermott commented on #5141
@nixocio You need _use_ permissions or better on a credential to use its test button.

![Screenshot from 2020-02-12 16-39-29](https://user-images.githubusercontent.com/9753817/74379751-58f41800-4db6-11ea-99f4-2287cfd6456e.png)

There is one exception - if you haven't _saved_ a credential (e.g: you're on the 'NEW CREDENTIAL' form of a hashivault credential and haven't clicked save yet), then only a

[2020-02-12 23:10] jladdjr commented on #5149
Think I assigned this to myself w/out realizing it was a 3.7 enhancement. I'm following the thread here, but will unassign myself for now. Want to make sure the plugin migration gets in first.

[2020-02-12 23:13] jladdjr commented on #2916
If that change makes sense to others, sounds good to me. I confirmed that @elyezer's instance doesn't have any instances with the `ip` field set. When I changed the snippet @ryanpetrello mentioned to `ipv4`, the hostvars were populated.

Echoing @ryanpetrello 's comment, with the script about to be replaced with the plugin, we should be thinking about that, too. If @ryanpetrello's change looks goo

[2020-02-13 01:34] sjha4 commented on #2916
@ryanpetrello : Although I don't have much context around this, the change in the snippet above looks good to me. :+1:

[2020-02-13 04:16] appuk commented on #5708
Couldn't directly verify the shipping of analytics bundle, although I did verify that the analytics data is being collected per interval and that multiple nodes don't try and send at once.
Based on the above note, closing the issue.

[2020-02-13 04:16] #5708 closed, assigned to appuk

[2020-02-13 08:01] toastbrotch commented on #2058
i'd love to see a proper hierarchy AND template-searches that can be saved.

[2020-02-13 10:38] IshwarKanse opened #5925 "Add support for Git with Kerberos authentication for SCM project."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We have a use case from a customer where they want to use Git with Kerberos authentication. We tested the following workaround which is working fine.

* Manually create a  ticket for the Kerberos user from the awx user on all the Tower nodes.
* Add a project on Tower with the SCM URL.without attaching any cred.
* Disable job isolation and run the pro

[2020-02-13 12:15] Elbje opened #5926 "Special variable "inventory_dir" is filled in incorrectly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The special variable "inventory_dir" has the wrong value according to the ansible docs.

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: kubernetes
* Ansible version:  2.8.5
* Operating System: MacOS 10.15.2
* Web Browser: Chrome

##### STEPS TO REPRODUCE

When using a project from GIT the inventory_dir is incorrect.
Steps to reproduce:
1.

[2020-02-13 14:04] ryanpetrello commented on #2916
@jladdjr if you want to turn this into a PR for the plugin, that would awesome.  Personally, I wouldn't bother with the script at this point given our plans to move away soon.

[2020-02-13 14:08] AlanCoding commented on #2916
Good find there, I agree with Ryan's comment, that should be patched in the plugin where you linked.

[2020-02-13 15:48] idelsink commented on #5722
So I had an issue regarding reaching a machine over IPv6. Apparently this has already been fixed, see https://github.com/ansible/ansible/issues/56258 but this does impede the use of AWX in a production setup. When is the expected release date of a new version of AWX with a new ansible runtime?

[2020-02-13 16:13] jlmitch5 opened #5929 "make checkbox fields consistent in ui_next"
there are some inconsistencies between the checkbox groups on the project and template forms

project

![Screen Shot 2020-02-13 at 10 58 17 AM](https://user-images.githubusercontent.com/1342624/74454342-bd17ea00-4e51-11ea-8876-55e67c33c3f4.png)

template

![Screen Shot 2020-02-13 at 10 58 06 AM](https://user-images.githubusercontent.com/1342624/74454362-c4d78e80-4e51-11ea-8ad6-9623d9e20779.png)

-

[2020-02-13 16:22] AlexSCorey opened #5930 "CredentialLookup not sending name value to CheckboxListItem"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
CheckboxListItem component requires a name value and CredentialLookup is not sending that data.  It results in a console error
##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker for mac
* Ansible version:  2.10
* Operating System: Mojave
* Web Browser:Chroms

##### STEPS TO REPRODUCE

Go to any form that uses the CredentialLookUp and c

[2020-02-13 16:33] benthomasson opened #5931 "Add workflow data for analytics"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In order to support workflow analytics on Automation Analytics we need additional data from Tower.    We may need a dump of the workflow relationship table in order to analyze root cause failures.

[2020-02-13 16:43] squidboylan commented on #5557
We now have a regression test for this which passes on devel.

[2020-02-13 16:43] #5557 closed, assigned to squidboylan

[2020-02-13 18:52] dsesami commented on #5658
This is significantly improved now with proper error handling as seen in #5842 . Thanks!

[2020-02-13 18:52] #5658 closed, assigned to keithjgrant

[2020-02-13 18:55] dsesami commented on #4240
Tested add and edit form validation on:
- [x] Jobs
- [x] Job Templates
- [x] Credentials
- [x] Projects
- [x] Inventories
- [x] Hosts
- [x] Organizations
- [x] Users
- [x] Teams

All appear normally and are also triggered by the save button when validation fails. This works very smoothly. Are there any other unimplemented resources we want to include in this ticket? Or will error handling fall und

[2020-02-13 19:15] artainis opened #5934 "AWX does not build on CentOS Stream"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.4
* Operating System: CentOS Stream
* Web Browser:

##### STEPS TO REPRODUCE

    ansible-playbook -i inventory install.yml -v

##### EXPECTED RESULTS

Successful build

##### ACTUAL RESULTS

TASK [image_build : Build sdist builder image] *************

[2020-02-13 19:30] dsesami commented on #4240
Confirmed with @jakemcdermott that we've done the scope of this ticket for now.

From Jake:

[2020-02-13 19:30] #4240 closed, assigned to keithjgrant, dsesami

[2020-02-13 19:37] wenottingham opened #5935 "custom facts can break fact cache"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
User-forwarded traceback:
[code]

User stated they were returning custom windows facts.

Assumption - this needs bulletproofed against arbitrary data structures in these namespaces.

##### ENVIRONMENT
* AWX version: current

[2020-02-13 19:51] jladdjr commented on #2916
@AlanCoding @ryanpetrello - patched ^

[2020-02-13 19:53] chrismeyersfsu commented on #5935
Steps to recreate (not sure if this is what the user did, but it's _a_ way to recreate).

* put `"hello world"` in `/etc/ansible/facts.d/insights.facts`
* run a job template with facts on

[2020-02-13 20:12] fvzwieten commented on #5935
I made a local.ps1 file from this template:
'{
"role":"{{ role }}"
}'

When executed in powershell console this output's:
{
"role":"webserver"
}

It gave this in :

=> /var/log/tower/task_system.log <==
2020-02-13 19:10:29,258 ERROR    awx.main.tasks job 909 (successful) Final run hook errored.
Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/main/

[2020-02-13 20:17] shanemcd commented on #5934
[code]

At first glance, this looks like a networking problem in your environment. This issue tracker is intended for bugs and enhancements for the AWX application itself. For help troubleshooting your setup, you can post on the [mailing list](https://groups.google.com/forum/#!forum/awx-project) or the [IRC channel](http://webchat.freenode.net/?channels=ansible-awx).

[2020-02-13 20:17] #5934 closed, assigned to nobody

[2020-02-13 20:51] artainis commented on #5934
Why is the task using a CentOS 7 repository even though I am on CentOS 8 Stream? I am able to ping the website and turned off firewalld while building the docker images. Pinging mirrorlist.centos.org works fine.

Are these yum commands running on the host or inside the docker containers?

[2020-02-13 21:04] donnelll commented on #19
Umm...going to ask this again since this is HUGE for us since we offer it as SAAS internally to our customers; "Any Update on this ?"

[2020-02-13 21:15] ryanpetrello commented on #19
@donnelll if there's progress made on this, you'll see it here.  Like any other feature or enhancement in open source software, it's a matter of time/priority, and finding somebody to put in the work.

[2020-02-13 21:25] ryanpetrello commented on #4209
@mabashian @jakemcdermott @rebeccahhh re the job list performance issue, I think we can make a *lot* of progress by just being smarter about the requests we make.

Here's an `m5.4xl` w/ 1M jobs and 1B+ job events:

<img width="646" alt="image" src="https://user-images.githubusercontent.com/214912/74479594-6a542780-4e7d-11ea-8c75-f18e6d3ebd24.png">

Note if we drill down *only* to job IDs we care a

[2020-02-13 21:49] wenottingham commented on #5722
9.2.0 was released just yesterday.

[2020-02-13 21:51] #5722 closed, assigned to nobody

[2020-02-13 21:56] wenottingham commented on #5925
Just to be clear: this is GSSAPI git+ssh, or a different connection method?

[2020-02-13 22:01] wenottingham commented on #5704
See the section in the installer inventory:
[code]

[2020-02-14 00:57] nakacya opened #5939 "upgrade does not end"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
upgrade does not end
I can't get past the upgrade screen

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.3
* Operating System: CentOS 7
* Web Browser:

##### STEPS TO REPRODUCE
cd /awx/installer
ansible-playbook -i inventory install.yml

Browser Open& Site Access

##### EXPECTED RESULTS

Display "lo

[2020-02-14 01:18] luckylittle opened #5940 "RFE: store config for awx cli"
##### ISSUE TYPE

 - Feature Idea (or maybe a Bug Report?)

##### SUMMARY

The previous version of `tower-cli` stored credentials and other configuration in `~/.tower-cli.cfg` by default. From my understanding, the replacement tool `awx` does not have anything like it (e.g. you need to export TOKEN and ingest this TOKEN to all of the subsequent commands).

##### ENVIRONMENT

* Tower CLI version: `

[2020-02-14 02:11] ryanpetrello commented on #5939
Sounds likely that something went wrong with your upgrade.

Can you run the following from the `awx_web` container?

`awx-manage migrate`

...and share the results?

[2020-02-14 02:31] nakacya commented on #5939
Thank you Comment @ryanpetrello

I,m tried it a `awx_web` container.
[code]

[2020-02-14 02:54] nakacya commented on #5939
I Try It

1:  postgres contaner login
2: `psql -U awx`
3: `alter table main_projectupdate drop column job_tags;`
4: `\q`
5: logout postgres container
7: login awx_web container
8: `awx-manage migrate`
display this
[code]
9: migration end
10: Browser login

[2020-02-14 08:13] benapetr opened #5941 "Rename jobs in workflow"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now if you put many same templates in the job workflow with different parameters, the name of jobs is same in tree and it's hard to figure out which one is which, it would be nice if you could give them some nickname in tree

<img width="456" alt="image" src="https://user-images.githubusercontent.com/1560121/74513120-2a875180-4f0a-11ea-9d69-adb

[2020-02-14 08:35] craph commented on #5704
Hello @wenottingham ,

This doesn't work for me.

Here is what I have :
![image](https://user-images.githubusercontent.com/14820052/74514054-26f4ca00-4f0c-11ea-8a65-394025003e51.png)

Here is my docker-compose.yml :
[code]

The folder `/root/certpki` contains my custom CA (ROOT and intermediate CA) + a pem file that contains the merge of ROOT and intermediate.

[code]

Here is the log :
[code]

An

[2020-02-14 09:36] dancn opened #5942 "sourced script inventory failure, no retry or useful info"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Update inventory fails for sourced script, without retry and without an useful message.

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker on linux
* Ansible version:  2.8.5

##### STEPS TO REPRODUCE

- Add a job template with an inventory source that uses a script sourced from a project with
the

[2020-02-14 13:18] craph commented on #5704
I have done some other tests.

Inside the awx_web container :
[code]
I was unable to do the same in awx_task container because openssl wasn't installed. After installing it with `dnf install openssl` I got the same result :
[code]

So I don't understand why it's not OK and I got this error message

[2020-02-14 13:25] sumkincpp commented on #5941
:+1:
Also, previously it was impossible to distinguish node names via API, which limited understanding of node place/context within current worklfow.

Might be relevant to #2032

[2020-02-14 13:29] craph commented on #5704
After installing python requests module, I have try to do :
`python3 -c 'import requests; requests.get("https://mattermost.mydomain.com/")'`

And I got the same error
`(Caused by SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:897)'),))`

[2020-02-14 14:32] ryanpetrello commented on #5939
@nakacya yea, I'm not totally sure what happened here, but it looks like your migration succeeded at this point and you should be good to go?

[2020-02-14 14:32] #5939 closed, assigned to nobody

[2020-02-14 14:33] chuegel commented on #5854
https://github.com/ansible/awx/issues/2688

[2020-02-14 14:55] Gorrah opened #5943 "AWX: A server error has occurred"
##### ISSUE TYPE
 - Install Issue

##### COMPONENT NAME
 - Installer

##### SUMMARY
After installing on CentOS 8, using Docker and docker compose, I'm getting an error when trying to load the webpage. Says "A server error has occurred." I looked into the logs in awx_task and found this error:
[code]
I tried allowing that port through the firewall on the CentOS 8 server, but it would stand to reaso

[2020-02-14 14:56] ryanpetrello commented on #5943
Hey @Gorrah,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-02-14 14:56] #5943 closed, assigned to nobody

[2020-02-14 15:17] Gorrah commented on #5943
@ryanpetrello Sorry about that. I thought I had seen troubleshooting issues posted here before. Thanks for pointing me in the right direction!

[2020-02-14 17:18] IshwarKanse commented on #5925
Yeah, its GSSAPI git+https.

[2020-02-14 17:23] parasharsingh8086 opened #5944 "Unable to install AWX in RHEL7 system: "Unable to load docker-compose. Try `pip install docker-compose`. Error: No module named compose""
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.7.8-1.el7ae.noarch
* Operating System: Red Hat Enterprise Linux
* Web Browser:

##### STEPS TO REPRODUCE

Installing Ansible with it's Playbook: ansible-playbook -i invent

[2020-02-14 18:01] ryanpetrello commented on #5944
Hey @parasharsingh8086,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-02-14 18:01] #5944 closed, assigned to nobody

[2020-02-14 18:04] ryanpetrello commented on #5941
duplicate of https://github.com/ansible/awx/issues/5824

[2020-02-14 18:04] #5941 closed, assigned to nobody

[2020-02-14 18:09] ryanpetrello commented on #5926
@Elbje

Is there more context of the error you're seeing here?  Perhaps more verbosity, or a traceback?

[2020-02-14 18:10] ryanpetrello commented on #5925
@wenottingham I'll let you decide where you want to place this.

[2020-02-14 18:14] ryanpetrello commented on #5916
@medzin this really feels like some sort of sshd misconfiguration - we've got a number of users that I know are using password-based SSH auth.  I'll take a peek and see if I can reproduce something like this.

[2020-02-14 18:17] ryanpetrello commented on #5896
@AlanCoding you have any ideas on this one?

[2020-02-14 18:19] ryanpetrello commented on #5883
@mabashian @jakemcdermott @rebeccahhh re the job list performance issue, I think we can make a *lot* of progress by just being smarter about the requests we make.

Here's an `m5.4xl` w/ 1M jobs and 1B+ job events:

<img width="646" alt="image" src="https://user-images.githubusercontent.com/214912/74479594-6a542780-4e7d-11ea-8c75-f18e6d3ebd24.png">

Note if we drill down *only* to job IDs we care a

[2020-02-14 18:21] ryanpetrello commented on #5878
Hey @moonrail,

This is a bug in the deprecated `tower-cli` tool:  https://github.com/ansible/tower-cli

We're unlikely to address this - you might want to consider moving to the new official AWX CLI:

https://groups.google.com/d/msg/awx-project/ZAlhpLMBzVw/TLvSW5cDBAAJ

[2020-02-14 18:21] #5878 closed, assigned to nobody

[2020-02-14 18:23] ryanpetrello commented on #5858
@shanemcd you have any ideas about what's up here?

[2020-02-14 18:24] ryanpetrello commented on #5854
duplicate of https://github.com/ansible/awx/issues/2688

[2020-02-14 18:24] #5854 closed, assigned to nobody

[2020-02-14 18:59] moonrail commented on #5878
Hi @ryanpetrello,

please note, that I do use the awx-cli, as visible in posted output.

Additionally I just upgraded to the current version of awx-cli and am still experiencing this issue:
[code]

So if this is related to old tower-cli, what am I doing wrong?

Edit:
If you mean, I should be using `awx` instead of `awx-cli`; what is the way to go to define Workflow-Schemata? In old `tower-cli` and

[2020-02-14 19:22] ryanpetrello commented on #5878
@moonrail,

You're using https://github.com/ansible/tower-cli.  The code in the traceback you provided is from that Python package:

https://github.com/ansible/tower-cli/blob/master/tower_cli/resources/workflow.py#L233

The official AWX CLI doesn't have support for exporting and importing a workflow schema - that work is being tracked here:

https://github.com/ansible/awx/issues/5146

[2020-02-14 20:11] AlanCoding commented on #5896
There are still multiple things you could be doing with this. My reading is that it is pulling role `a` as a dependency of role `b`, even as role `b` is sourced from git and not Galaxy itself.

Does the job you're running have the fact cache enabled? Can you give `job_env` as reported in `<host>/api/v2/jobs/N/`?

[2020-02-14 20:56] strawgate opened #5945 "Bulk Enable/Disable Hosts"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

Can enable/disable individual hosts but no way to bulk enable/disable pages of hosts

[2020-02-14 22:04] RylandDeGregory opened #5946 "tower_workflow_template does not accept a survey spec"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The tower_workflow_template module does not accept a survey specification (in JSON or YAML format).

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: Kubernetes 1.14.8
* Ansible version:  2.9.3
* Operating System: MacOS 10.15.1
* Web Browser: Chrome for MacOS 80.0.3987.100

##### STEPS TO REPRODUCE

* Create a Playbook for building a Workfl

[2020-02-14 22:32] Elbje commented on #5926
@ryanpetrello it is just a file not found error because the inventory_dir variable is filled in differently when running in awx. Running the playbook locally using Ansible (2.8.5) works fine because the inventory_dir variable is filled in correctly there. I use the inventory_dir variable to construct the rest of my paths (eg. Filepaths for files I want to copy form local to remote host)

Thanks fo

[2020-02-14 22:45] ilijamt opened #5947 "Cannot checkout ansible galaxy roles after upgrade to 9.2.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cannot check out the ansible galxy roles on a project run. Running this locally works. The roles are on a private git server, and the same SSH key that is used to checkout the project is also used to download the roles

Additional information: Killing the container **awx-celery** will make it work only the first run only. After that the error bellow fr

[2020-02-14 22:54] ilijamt commented on #5947
This is ran from inside the **awx-celery** pod

By finding the ssh-agent socket and running

[code]
Based on this the exported ssh key is correct.

[2020-02-15 01:21] RylandDeGregory commented on #5946
#### Update:

Tested on AWX 9.1.1 (Kubernetes) and AWX 7.0.1 (RPM on centOS 7). The same behavior was observed.

[2020-02-15 03:17] AlanCoding commented on #5947
If you still have access to that awx-celery pod, can you help further triage the issue by determining if the ansible-galaxy command succeeds or fails manually? You could run it like:

[code]

where you're using the same thing in your requirements.yml file

based on

https://github.com/ansible/awx/blob/e131e8c15127d7f994b8a25814a721308c74bccf/awx/playbooks/project_update.yml#L139

thanks

[2020-02-15 03:22] AlanCoding commented on #5942
Could you get the standard out of the project update referenced in that message? Type a modified version of this URL into your browser address bar:

[code]

[2020-02-15 10:40] ilijamt commented on #5947
I do have access to the awx-celery pod, so this is my test that I ran

Found the ssh-agent socket and added it
[code]

# From public repo:

[code]

# From private gitlab instance

[code]

[2020-02-15 14:15] ilijamt commented on #5947
@AlanCoding

1. Freshly stared container runs successfully the first time.
2. Next time it just hangs with
The authenticity of host 'git.<redacted>.com (176.9.x.x)' can't be established.
ECDSA key fingerprint is SHA256:qPurwghZ7CHDtzfDJ2JfNVfj8LEAnHpprxDy+3P23JY.

Modifying the awx/awx/playbooks/project_update.yml, by just adding **GIT_SSH_COMMAND: "ssh -o UserKnownHostsFile=/dev/null -o StrictHos

[2020-02-16 01:34] kawsark commented on #5076
@ryanpetrello @omgjlk Please see my updated hashivault.py which adds support for AppRole Authentication: [https://gist.github.com/kawsark/9d83c463cb9c82dc4fdb73f02c550b73](https://gist.github.com/kawsark/9d83c463cb9c82dc4fdb73f02c550b73)

Please let me know where to add 3 new fields to AWX GUI: Role ID, Secret ID and Authentication Method mount path. These are added to `base_inputs` in the above h

[2020-02-16 14:20] stoune commented on #4454
Sorry Guys, 2020 is here and Python 2.7 is officially retired.

[2020-02-16 15:29] unlikelyzero opened #5950 "[RFE] Jobs list view rendering changes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1141" alt="suggested jobs changes" src="https://user-images.githubusercontent.com/12446869/74607412-c352d400-50a6-11ea-8f4c-f0d070dd0254.png">

1. Align icons
2. Optimize padding between datetime and icons to improve the width available for job name
3. Ensure that left-aligned padding calculation doesn't allow for rows to adjust datetime.

[2020-02-16 18:12] unlikelyzero opened #5951 "Default WFViz zoom does not leave enough space for hoverover actions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
WFViz allows for hoverover actions on a node (edit, details, delete, etc). On the default zoom, the hoverover actions are obscured and rendered out of the browser window

##### ENVIRONMENT
* AWX version: 9.next
* Operating System: macOS Catalina
* Web Browser: Chrome 80

##### STEPS TO REPRODUCE
1. Open Workflow Viz on a WFJT with 2 Nodes
2. Open hover

[2020-02-16 19:13] unlikelyzero opened #5952 "Hoverover or selection of Node links in WFViz obscures nearby node links"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hoverover or selection of Node links in WFViz obscures nearby node links

##### ENVIRONMENT
* AWX version: 9.next
* Operating System: macOS Catalina
* Web Browser: Chrome 80

##### STEPS TO REPRODUCE
1. Create a WFJT with convergences
2. On the "fan out node", select the nearest node link.
Note that the node link selection obscures the other node links

[2020-02-16 19:43] unlikelyzero opened #5953 "WFViz 'Fit to Screen size' action doesn't include all nodes in certain scenarios"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
WFViz 'Fit to Screen size' action doesn't include all nodes in certain scenarios. Only one is described below in the repro steps

##### ENVIRONMENT
* AWX version: 9.next
* Operating System: macOS Catalina
* Web Browser: Chrome 80

##### STEPS TO REPRODUCE
1. Create a WFJT with 5 fan-out nodes off of the start
2. Open that WFJT in the WFViz.
3. Click th

[2020-02-16 21:25] kevev commented on #20
Yes please add this. We just implemented Ansible and are very dissapointed that this feature does not exist.

[2020-02-17 04:01] jutkarsh079 commented on #286
Can you create this feature by giving option to include a credential with a host in inventory itself. I think that will be much simplified and highly distributive.

[2020-02-17 08:35] ntlzthm8 opened #5954 "Build AWX from source"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Try to build a new awx image with custom UI

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker on linux
* Ansible version:  ansible 2.9.4
* Operating System: Centos 7
* Web Browser:

##### STEPS TO REPRODUCE

remove dockerhub_base=ansible from inventory
`ansible-playbook -i inventory install.yml`

##### EXPECTED RESULTS

working awx

[2020-02-17 08:49] mmallet-digipok commented on #5954
Hello,

I also faced that issue.  It seems that the `no-global-site-packages.txt` file is no longer used with at least python3.5.4+.

[2020-02-17 08:53] dancn commented on #5942
At the url you suggest I see:
[code]

I noticed that the jobs (scm update?) that are spawned (my guess) from an "inventory update" are not listed in the UI (I see a missing job id (X+1) in the list for every "inventory update" X ). Even when logged as admin.

[2020-02-17 09:19] clammers commented on #5947
Ran into same issue and mapped known_hosts file to docker container to fix issue with Host Key Checking

[2020-02-17 10:23] dansou901 commented on #5896
Just to clarify: I'm not using Galaxy at all, all my roles are sourced from my private GitLab server, which is working fine otherwise. Fact cache is disabled (use_fact_cache=false), job_env is:
[code]
I hope that helps you finding the root cause.
Regards,
dansou901

[2020-02-17 12:23] AlanCoding commented on #5896
Thanks, that disproved the only theory I had, but that's still helpful.

For cases with git-based roles, I really would like to see the structure of `roles/requirements.yml`, and in this case, I would like to know if the role `a` is listed there.

[2020-02-17 12:32] dansou901 commented on #5896
It's looking like this:
[code]
As you can see, role a is listed there.

[2020-02-17 12:33] AlanCoding commented on #5942
That's right, that it's not shown in the JOBS list in the UI. There should be a link from the job API details, and from the job UI page too.

[2020-02-17 12:35] dansou901 commented on #5896
In addition to that, before you ask: I'm using ssh based git cloning with an SCM Key without passphrase which is configured as deploy key in all Ansible related git repositories.

[2020-02-17 14:53] dancn commented on #5942
I saw in the setting the option "Run Project Updates With Higher Verbosity", this increase the verbosity for successful project update, but in our case the output is still empty.

A copy of to the parent ```https://your.awx.host.com/api/v2/project_updates/508/``` Follows.

Seems that the job go in timeout before any output happens. Is there a way to debug the job start?

[code]

[2020-02-17 15:37] jakemcdermott opened #5957 "build static files"
##### SUMMARY
Currently, the `ui_next` static files are never written to disk - they live in memory and are served from the development server. This issue is for extending the build tooling to produce static files that can be served from a non-development installation of awx.

[2020-02-17 15:40] jakemcdermott opened #5958 "Add ui_next static files to build / install process."
##### SUMMARY
- Integrate the new ui into existing build / install process.
- ~Current ui will still be the default, but new ui should be reachable after deploying / installing AWX.~

requires: https://github.com/ansible/awx/issues/5957

[2020-02-17 15:40] jakemcdermott commented on #5957
Please remove `blocked` label from https://github.com/ansible/awx/issues/5958 when this lands.

[2020-02-17 15:45] wenottingham commented on #202
In the intervening time we have rebased the entire OS underneath, and we do run dev env containers with SELinux enforcing on the host, not to mention OCP installs. Assuming this is fixed, please open a new issue if it reoccurs.

[2020-02-17 15:45] #202 closed, assigned to nobody

[2020-02-17 16:28] wenottingham commented on #4454
The base OS was changed to CentOS8, and python 3, a few releases ago.

[2020-02-17 16:28] #4454 closed, assigned to nobody

[2020-02-17 16:33] wenottingham commented on #5925
GSSAPI *https*? @IshwarKanse , Are you sure it's not cloning over ssh?

[2020-02-17 16:37] wenottingham commented on #5945
Subset of https://github.com/ansible/awx/issues/19

[2020-02-17 16:37] #5945 closed, assigned to nobody

[2020-02-17 17:29] dojones1 opened #5959 "command module has not applied the become: true flag"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Become flag on playbook and task does not appear to take effect. Command is run without sudo privileges

##### ENVIRONMENT
* AWX version: 9.2.0 (also seen on 9.1.0)
* AWX install method: docker on linux
* Ansible version:  2.9.3
* Operating System: Centos
* Web Browser: Chrome 80.0.3987.106

##### STEPS TO REPRODUCE

playbook.yml:
[code]

role_ca_certi

[2020-02-17 20:18] unlikelyzero opened #5960 "Wrong z-depth for 'Inventory Source' dropdown on Add/Edit WF Graph Node"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE
Wrong z-depth for 'Inventory Source' dropdown on Add/Edit WF Graph Node

##### EXPECTED RESULTS
Expect dropdown to be completely visible a

[2020-02-17 20:25] unlikelyzero opened #5962 "Chip Group has uneven padding when many tabs are used on filter"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Chip Group has uneven padding when many tabs are used on filter

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Open WFJT
2. Add or edit Node Modal
3. Select Inventory Source and select multiple filter sources

##### EXPECTED RESULTS
Even padding around entire chip group

##### ACTUAL RESULTS
uneven padding around chip group

####

[2020-02-17 20:30] unlikelyzero opened #5963 "Cannot select 'Manual' for 'Inventory Source Sync' or 'Project Sync' on WF Graph Add/Edit Modal"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cannot select 'Manual' 'Inventory Source Sync' on WF Graph Add/Edit Modal

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Open WF Graph Editor
2. Add / Edit node
3. Select Inventory Source Sync nodetype
4. Attempt to filter by 'Manual'
Note: Can filter by every other type

##### EXPECTED RESULTS
Can select 'Manual' source in the s

[2020-02-17 20:55] benthomasson opened #5964 "awx kit provides a bad error message"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When authentication fails awx kit gives a cryptic error message

##### ENVIRONMENT
* AWX version: devel
* AWX install method: mac
* Ansible version:  2.8.2
* Operating System: mac
* Web Browser: N/A

##### STEPS TO REPRODUCE

Attempt to login to awx with bad credentials.

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2020-02-17 21:08] n2aws commented on #5826
@egmar  You made mention of code changes regarding this issue.  Do you happen to have a commit hash, or a link so I can see the changes, and maybe test them in my environment to see if this issue is resolved?  I see that 9.2.0 was tagged, but nothing in the Changelog about this issue, so I'm assuming your code changes did not make it into that newly tagged version.

[2020-02-17 21:17] unlikelyzero opened #5966 "Unable to select a Project Sync 'git' type in WF Graph Add/Edit Node"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to select a Project Sync 'git' type in WF Graph Add/Edit Node

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Open WF Graph
2. Navigate to the Add Edit Node modal
3. Attempt to filter the list of 'Project Sync' to git type

##### EXPECTED RESULTS
List of Projects with git type

##### ACTUAL RESULTS
Nothing returned

##### A

[2020-02-17 21:20] unlikelyzero opened #5967 "Dropdown selector boxes are highlighted when selected which causes issues when two boxes are directly adjacent"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Dropdown selector boxes are highlighted when selected which causes issues when two boxes are directly adjacent.

<img width="420" alt="Screen Shot 2020-02-17 at 4 17 43 PM" src="https://user-images.githubusercontent.com/12446869/74687050-4eb09000-51a1-11ea-8f4e-1307d54217ac.png">

We should change this by adjusting the distance bewtween the filter se

[2020-02-17 21:32] jladdjr commented on #2916
The foreman plugin has been patched. When awx switches to using the plugin, it should pick up the correct behavior.

@kdelee - seems like we can close this now.

[2020-02-18 04:32] AlanCoding commented on #5924
worried this might get mis-construed. Better to say "means of _waiting_ for all of a unified type". Might be better to clear from the queue.

[2020-02-18 04:32] #5924 closed, assigned to nobody

[2020-02-18 04:37] AlanCoding commented on #5911
We have something similar with Vault credentials. In that case, uniqueness is dictated by being the Vault type and having a certain vault_id.

In your example, the uniqueness tuple would maybe be specific to the `prefix` value, or could be unique for all the input values. Depends on the specifics of the use case. If we did this, it would make sense to declare that uniqueness rule in the input conf

[2020-02-18 04:44] IshwarKanse commented on #5925
@wenottingham yeah, they are not using SSH. I've sent you a message on Slack with the details. The customer is also monitoring the RFE, if we want to get more details about their Kerberos implementation, we can ask him or I can get the details on the case.

[2020-02-18 04:45] AlanCoding opened #5969 "Obey new Ansible sanity rules: parameter-list-no-elements, invalid-ansiblemodule-schema"
##### ISSUE TYPE
 - CI failure

active with Ansible `devel` branch

##### SUMMARY
The recently-merged PR https://github.com/ansible/ansible/pull/66386 fails our modules in the AWX collection with

[code]

And the PR https://github.com/ansible/ansible/pull/65747 fails our modules with

[code]

[2020-02-18 08:48] mkayontour commented on #3935
We now moved from a flexible environment which made changes and role integration very easy back to one static repository with all roles inside the repo.

We used to have the requirements.yml in the roles directory, therefore we could manage, test and publish our code to several environments and in addition include roles from the galaxy if needed.

Right now, this is not possible anymore, we need t

[2020-02-18 09:32] dancn commented on #5942
Additional info, the git/http server does not log anything for a failed job like this one.
The real job is never started or has an early failure.

[2020-02-18 13:03] ryanpetrello opened #5970 "Address upcoming GitHub API deprecations"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
GitHub is deprecating certain types of API authentication:  https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/#authenticating-using-query-parameters

##### ENVIRONMENT
* AWX version: all
* AWX install method: all
* Ansible version:  all

##### STEPS TO REPRODUCE

At the very least, we'll need to update to the l

[2020-02-18 13:26] mickael1026 opened #5971 "SAML Service Provider Metadata URL return error Error parsing metadata. xmlParseEntityRef: no name"
##### ISSUE TYPE
 - SAML Service Provider Metadata URL return "Error parsing metadata. xmlParseEntityRef: no name, line 18, column 33 (<string>, line 18)"

##### SUMMARY
Do the SAML configuration, save it then try to reach the SAML Service Provider Metadata URL https://XXX/sso/metadata/saml/

Get an error Error parsing metadata. xmlParseEntityRef: no name, line 18, column 33 (<string>, line 18)

#

[2020-02-18 14:29] phbureau opened #5974 "Credential type : hashicorp vault doesn't appears into job template configuration"
Good afternoon,

I have a serious problem.

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have created a credential of type : " Hashicorp vault secret lookup"

![image](https://user-images.githubusercontent.com/43671480/74744532-b7137600-5262-11ea-9032-e45860e2f411.png)

It's fine until now.
When I try to add this credential into a job template, this type of credential doesn't appear. And so I c

[2020-02-18 14:36] ryanpetrello commented on #5974
Hey @phbureau,

This isn't how credential plugins like Hashicorp Vault are used.  Have a look at this documentation:

https://docs.ansible.com/ansible-tower/latest/html/userguide/credential_plugins.html#ug-credential-plugins
https://github.com/ansible/awx/blob/devel/docs/credentials/credential_plugins.md

[2020-02-18 14:36] #5974 closed, assigned to nobody

[2020-02-18 14:48] elyezer commented on #2916
@jladdjr is there a separate issue to track the switch to the plugin? I think it would be good to link here.

[2020-02-18 15:29] dsesami opened #5976 "Editing a Job Template does not save the currently selected playbook."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Updated recreate steps:

1. Set a project and JT. use the sample project.
2. Launch the JT (just to make sure sync happens)
3. Change the git repo on the project. Keep the same project, but change it from ansible-sample.git to test-playbooks.git or something.
4. Update the playbook dropdown on the JT form so that it uses a playbook from the new projec

[2020-02-18 15:35] AlexSCorey opened #5977 "Details Views Chip/ChipGroup should use PF Labels"
##### ISSUE TYPE

- Bug Report

##### SUMMARY
Currently in many details views we show chip and/or chip group to show things like credentials, organizations, and and other items that should link out to other resources.  We need to switch out those chips for PF Labels that link out to the resource they represent.  Currently patternfly does not have the concept for Label Groups, but we might be able

[2020-02-18 15:40] AlanCoding commented on #5942
You mean that the link there `/api/v2/project_updates/633/stdout/` shows nothing?

That is concerning. Could you share the details of the SCM credential you're using? I mean, what fields are shown in `inputs` in `/api/v2/credentials/12/`? And do you have unicode in any of the values there, or anything like that?

It's probably getting into the ansible-runner context, and could be hanging trying to

[2020-02-18 15:47] dsesami commented on #4221
Few things:

Plays, Tasks, and Hosts labels do not appear when the playbook is launched. I expected a "..." status. Is this intentional?
![Screenshot from 2020-02-18 10-22-43](https://user-images.githubusercontent.com/19942822/74749811-bb2a9e00-5238-11ea-9b81-6d86d64972b4.png)

The sparkline box is animating when the job is in progress, but it is still missing the above-mentioned fields.
![Screens

[2020-02-18 16:13] dsesami commented on #4221
Confirmed with @marshmalien that the above behavior is intentional. This may change with the websockets work, so it's something that should be followed up on. Once automation stubs are fleshed out for this item, I'll close it out.

[2020-02-18 16:35] dancn commented on #5942
Yes.

Well I am not sure about the encoding, but both username and password are a subset of ascii, it is a token like auth.

[code]

Feel free to point me to any log or command.

Thanks!

[2020-02-18 17:59] agit05 opened #5981 "Cannot run job template inside AWX"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am running AWX Docker setup and I just try to run a simple playbook: https://galaxy.ansible.com/dapiced/patch_update_yum/patch_update_yum

Which from the command line it runs perfectly, it does what it should, but when running it from a project within AWX it does not run.

##### ENVIRONMENT
* AWX version: 6.1.0.0
* AWX install method: docker on linux

[2020-02-18 17:59] ryanpetrello commented on #5981
Hey @agit05,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-02-18 17:59] #5981 closed, assigned to nobody

[2020-02-18 18:01] agit05 commented on #5981
@ryanpetrello but this is not for troubleshooting and AWS install, it is an about functionality that should have been there already, so this should go as feature enhancements and bugs to AWX itself.
Please review on this!

[2020-02-18 18:14] mabashian commented on #5760
Yea, the part where it submits the form is pretty aggravating.  Going to bump up the priority on this one.

[2020-02-18 19:37] ryanpetrello commented on #5981
@agit05 can you show a screenshot of the job output UI of the job that ran (incorrectly)?

[2020-02-18 19:37] unlikelyzero commented on #5958
Note: we should do some "light" QE on this outside of the scope of the cypress tests

[2020-02-18 19:38] kedark3 commented on #594
@FloThinksPi solution worked for me as well, I was trying to add project to my Ansible Tower that had submodule in it.

[2020-02-18 19:40] dsesami commented on #5976
After extended attempts to recreate the bug on a different project with @AlexSCorey , while both of us were observing the initial bug, an attempt to make a completely unrelated project made the bug go away. Since our best attempts could not recreate it, I'm closing this for now; however, if it reappears, let's re-open and try to figure out what's going on once more.

[2020-02-18 19:40] #5976 closed, assigned to nobody

[2020-02-18 21:20] #4221 closed, assigned to marshmalien, dsesami

[2020-02-18 21:28] AlexSCorey opened #5983 "List Navigation 404"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
List navigation error.
##### ENVIRONMENT
* AWX version: 2.10
* AWX install method:  docker for mac
* Ansible version:  9.2.1
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Go to a list and select either 5 or 10 items per page.  Navigate to the last page. Then select a number of items per page higher that what you selected o

[2020-02-18 22:15] AdamMorris23 opened #5984 "Handle Azure_RM Inventory and Credentials differently"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently in order to use an Azure-RM inventory you have to create an Azure-RM Credential giving it a subscription.  That credential can potentially see many subscriptions though. Then you create an inventory source which refers to that credential.

That inventory source appears to be limited to only looking at the credential's known subscription.

[2020-02-19 01:57] donomur opened #5985 "Kubernetes deployment not rendered correctly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When `openshift_host` is not defined, the k8s deployment template is not indented properly and fails to install.

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: k8s
* Ansible version:  2.9.0
* Operating System: Ubuntu Linux
* Web Browser: n/a

##### STEPS TO REPRODUCE

Perform a kubernetes installation without `openshift_host` defined.

#

[2020-02-19 04:24] JosephJHCho opened #5987 "JOB TYPE or VERBOSITY is not seen at job template detail view"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
UI bug. At job template detail view, one of items 'JOB TYPE' and 'VERBOSITY' is not seen. Just blank. After refresh, it shows or the other is not seen. For example, if JOB TYPE was not seen first, after refresh sometimes VERBOSITY is not seen.

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.3
* Oper

[2020-02-19 05:30] ilayaraja-p opened #5988 "Ansible-Router ACL Changes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API

##### SUMMARY
Router ACL Changes -
Ansible playbook Execution – While updating the below Router ACL changes in router, The playbook execution status was changed, but the changes are not replicated in Router and not getting any error message.
Please find the below changes.
Changes: If the existing rule sequence number is modified for ne

[2020-02-19 09:21] dojones1 commented on #5959
Found the issue. Had created the machine credentials with:
escalation method: sudo
escalation username: &lt;same as the credential name&gt;
escalation password: &lt;same as the default password&gt;

If I remove the escalation username, then the script works. Of course it is not obvious from the UI that I should only provide the password. However, AWX/ansible should still work if the escalation use

[2020-02-19 09:38] chirogocki commented on #2350
+1

[2020-02-19 09:54] agit05 commented on #5981
Please see below.
The same playbook issued from the command line runs correctly.

![PlaybookRun](https://user-images.githubusercontent.com/9692128/74822871-170f2880-5306-11ea-85e5-40ed88887529.PNG)

[2020-02-19 10:48] egmar commented on #5826
@n2aws see this commit https://github.com/egmar/awx/commit/6cc3b1ee458e32dab889579e21afef6ddfb33b84 it works in our setup, but i'm sure I missed some use cases.

[2020-02-19 13:38] philipsd6 commented on #5911
Yes, I agree. I know Vault credentials are treated "differently" internally, but from a user perspective, it doesn't make sense that I can use multiple Vault credentials, but only one REST API credential.

While we could make a credential unique based on all the input values, that makes it difficult for the end user to use, as the credential type would have to produce extravars/envvars that are un

[2020-02-19 14:03] mabashian opened #5990 "Translate START button in workflow visualizer/output"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="319" alt="Screen Shot 2020-02-19 at 8 51 27 AM" src="https://user-images.githubusercontent.com/9889020/74840504-1ae67f00-52f5-11ea-90b4-51af3e81932c.png">

This is a bit more tricky than just wrapping a string in `i18n._(t...)`.  Since the element that houses this text needs to be statically sized we need to know how much space the text w

[2020-02-19 14:07] mabashian opened #5991 "Hook up launch button on workflow visualizer"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="654" alt="Screen Shot 2020-02-19 at 9 05 36 AM" src="https://user-images.githubusercontent.com/9889020/74841706-191dbb00-52f7-11ea-886e-ff1c2d626d53.png">

This button is currently completely disabled.

This button should be enabled when:

1) The user has permissions to launch the wfjt
2) The workflow has no unsaved changes

Clicking the

[2020-02-19 14:10] mabashian opened #5992 "Hook up documentation button on workflow visualizer"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="309" alt="Screen Shot 2020-02-19 at 9 08 26 AM" src="https://user-images.githubusercontent.com/9889020/74841914-7e71ac00-52f7-11ea-80f8-5c0c01d4f46c.png">

This button should always be enabled and it should link the user out to https://docs.ansible.com/ansible-tower/latest/html/userguide/workflow_templates.html#ug-wf-editor (I think).  Cl

[2020-02-19 14:16] mabashian opened #5993 "Icon-only node types in workflow visualizer"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is something that came up in discussions with @marshmalien when talking about translating the node type letters:

<img width="188" alt="Screen Shot 2020-02-19 at 9 13 47 AM" src="https://user-images.githubusercontent.com/9889020/74842296-28e9cf00-52f8-11ea-8f9f-7acd5cd205f3.png">

If we mark these strings (`JT`, `W`, `I`, etc) for translation I'

[2020-02-19 14:20] mabashian opened #5994 "Zoom/pan workflow as nodes are added/removed"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When the workflow visualizer is initially loaded we zoom/pan the workflow to try to fit as much of it as possible on the screen.  In cases where you're first starting to build a workflow this means the workflow will be zoomed all the way in.  As new nodes are created, the user is force to zoom out/pan over to continue building.

To solve this problem

[2020-02-19 14:30] mabashian opened #5995 "Workflow node/link hover action mouse path"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="472" alt="Screen Shot 2020-02-19 at 9 22 37 AM" src="https://user-images.githubusercontent.com/9889020/74843299-b679ee80-52f9-11ea-9448-c64cf8b888f6.png">

In order to interact with the action menu of the node you have to keep your mouse inside the above bounds.

A mouse path like this won't work:

<img width="472" alt="Screen Shot 2020-0

[2020-02-19 14:30] AlanCoding commented on #5911
I think this is a perfectly good feature proposal, but I worry about the amount of work that it will take to get it right without disrupting other use cases. For _most_ purposes I truly do believe that people should only be able to use 1 credential of a type, and we prefer to keep that as the default behavior. It should certainly be an opt-in within the context of editing the credential type.

[2020-02-19 14:37] mabashian opened #5996 "Inventory should be removable on a JT"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We probably made it required initially because we didn't have the prompt on launch option in the form.  When this option becomes available we need to make the inventory removable.

The rule for inventory on JT is that either:

a) A default inventory is provided
or
b) Prompt on launch is checked

As a result, the user should be able to remove the select

[2020-02-19 15:06] mabashian opened #5997 "Hook up view node button in workflow visualizer"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="828" alt="Screen Shot 2020-02-19 at 9 56 38 AM" src="https://user-images.githubusercontent.com/9889020/74846234-25f1dd00-52fe-11ea-8cab-95285a567a5f.png">

I've got some of this working on https://github.com/mabashian/awx/tree/ui-next-workflows-w-details.

The idea here is that we want to give the user a snapshot of how the node is config

[2020-02-19 15:26] idelsink opened #5998 "ec2.py Dynamic inventory IPv6 support"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Our AWS infrastructure is IPv6 ready. All machines are IPv6 reachable and can be reached via SSH over IPv6. The ec2.py dynamic inventory does not generate IPv6 hosts. Is this something that can be added in the future or is this planned at some point?

[2020-02-19 17:44] wenottingham commented on #5988
This sounds like a playbook level issue, which should be discussed in the ansible-project google group, or on the Ansible issue tracker at https://github.com/ansible/ansible. This repo is for issues in AWX itself.

[2020-02-19 17:44] #5988 closed, assigned to nobody

[2020-02-19 17:45] wenottingham commented on #5987
Is this self-built, or using the stock image? Do you have a screenshot?

[2020-02-19 19:17] ryanpetrello commented on #5985
addressed by https://github.com/ansible/awx/pull/5986

[2020-02-19 19:17] #5985 closed, assigned to nobody

[2020-02-19 19:53] philipsd6 commented on #5911
Certainly it would be an opt-in behaviour -- if a user doesn't specify a prefix, then it's 1 credential of that type.

_Currently_ only AWX Admins have the ability to create Credential Types, but if all users could, the goal could be achieved by creating:

API1 Credential Type -> 1 credential for the API1
API2 Credential Type -> 1 credential for the API2

But then there would be a proliferation of

[2020-02-19 20:33] kdelee opened #6000 "Browsable API view very slow, seems to be the parser that formats the json that is crawling"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When viewing the browsable api via https://mytower.com/api/v2/jobs/, it is incredibly slow and my browser asks me if I want to keep waiting.

Viewing the data raw does not show this slow response, e.g. https://mytower.com/api/v2/jobs/?format=json

Waited over 2 min and still did not finish loading jobs (less than 100 jobs on tower)

![slow_browsable_a

[2020-02-19 21:03] appuk opened #6002 "Getting a 404 while trying to delete JTs in succession"
##### SUMMARY
After successfully deleting a Job Templates and trying to delete another JT, the list of JTs to delete also includes previously deleted JT, causing the delete to result into a 404

##### STEPS TO REPRODUCE

1. delete a JT
2. select another JT to delete
3. click on the delete button
4. you see the previously deleted JT in the list of JTs to delete
5. click "confirm delete"
6. a 404 is

[2020-02-19 21:04] unlikelyzero commented on #5814
Re-opening for QE

[2020-02-19 21:36] wenottingham commented on #5959
If it was the same username, it did what it was told - it ran it as the same user; I don't think there's a bug here. The escalation username is the username you want to sudo to.

[2020-02-19 21:36] #5959 closed, assigned to nobody

[2020-02-19 21:44] nixocio commented on #5141
Closed by https://github.com/ansible/tower-qa/pull/4707

[2020-02-19 21:44] #5141 closed, assigned to fosterseth, nixocio, jakemcdermott

[2020-02-20 00:11] magick93 opened #6004 "AWX, proxy and environment variables"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Basically same as described on https://github.com/ansible/awx/issues/1532

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: openshift
* Ansible version:  whatever version ships with 9.1.1
* Operating System: Centos
* Web Browser: FF

##### STEPS TO REPRODUCE

I have a project that uses a `requirement.yml` to fetch roles. This is failing as

[2020-02-20 02:12] JosephJHCho commented on #5987
![img1](https://user-images.githubusercontent.com/25745571/74894247-bfd68a00-53d1-11ea-9bce-f4456f66ce74.png)
![img2](https://user-images.githubusercontent.com/25745571/74894250-c36a1100-53d1-11ea-8e24-37b6b01c208f.png)
Two images are same template. And it is stock image not built.

[2020-02-20 02:34] IshwarKanse opened #6006 "Add support for JSON patch for the API"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently when updating a standalone field like AUTH_LDAP_ORGANIZATION_MAP, we have to provide the complete JSON document. With JSON patch we can express a sequence of operations to apply to a target JSON document.

[2020-02-20 05:45] zhucaipeng opened #6008 "The authenticity of host 'master (192.168.122.100)' can't be established."
##### ISSUE TYPE
 - AWX issue ask for help

##### SUMMARY
The authenticity of host 'master (192.168.122.100)' can't be established.
ECDSA key fingerprint is SHA256:EJ3pwgaDLM/kgNOmGQZ/0aHBzHq8LH9ATvVuHOtHGrM.
ECDSA key fingerprint is MD5:ea:e0:b8:a9:3a:1d:8b:c5:90:e3:33:45:46:ee:94:c6.
Are you sure you want to continue connecting (yes/no)

##### ENVIRONMENT
* AWX version: 3.6.2
* AWX install metho

[2020-02-20 05:55] zhucaipeng commented on #6008
remote user ansible is already configured to ssh without prompt password. Why still this issue happen ? Please give some advice to me. Thanks !

[2020-02-20 12:52] nicolasduminil opened #6009 "Ansible 2.6.2: playbook works when executed in CLI but not in AWX 1.0.7.2"
##### ISSUE TYPE
 - Playbook runs properly in CLI but raises fatal errors in AWX

##### SUMMARY
When running in AWX playbook raises the following fatal errors:
[code]

##### ENVIRONMENT
* AWX version: 1.0.7.2
* AWX install method: docker
* Ansible version:  2.6.2
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE
given the following inventory file:
[code]

I'm running the

[2020-02-20 12:52] dapiced commented on #6006
more info :

AWX or Tower need to accept The media type "application/json-patch+json"  not only "application/json" when we do a rest api http patch request

-----------
JSON Patch is part of RFC 6902. It is a standard designed to allow performing operations on JSON documents. JSON Patch can work with the HTTP PATCH method. It is useful to provide partial updates to JSON documents. The media type "

[2020-02-20 13:10] ryanpetrello commented on #6009
@nicolasduminil,

It looks like your Docker host can't reach any of the hosts in your inventory - could be a networking or DNS issue?

[code]

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install or Ansible configuration, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups

[2020-02-20 13:10] #6009 closed, assigned to nobody

[2020-02-20 13:12] ryanpetrello commented on #6008
Hey @zhucaipeng,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-02-20 13:12] #6008 closed, assigned to nobody

[2020-02-20 13:14] ryanpetrello commented on #5987
@JosephJHCho do you see any errors or warnings in the browser Developer Console?

cc @mabashian @jakemcdermott

[2020-02-20 13:24] ryanpetrello commented on #6004
@magick93,

Could you exec into one of your AWX containers and run this (and share the results)?

[code]

[2020-02-20 13:38] ryanpetrello opened #6010 "2097151k isn't enough for everyone (job event id overflow)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The primary key for `main_jobevent` (and other event tables) is an `int`, which can only handle _at most_ 2B+ events before overflowing:

https://www.postgresql.org/docs/9.1/datatype-numeric.html

[code]

##### STEPS TO REPRODUCE

Run very chatty playbooks very often across very many devices.

##### EXPECTED RESULTS

![cady-heron](https://media.giphy.

[2020-02-20 13:41] ryanpetrello commented on #6010
The most likely prescription here is to change this column to a `bigint`.  However, that comes with some questions:

- ~If you've already got hundreds of millions of rows, and we do this, how long does the `ALTER TABLE` take on modest hardware?~. **answer: too long**
- How much more disk space does this migration require when the indexes are recomputed?  Is it a reasonable amount/tradeoff?  Note t

[2020-02-20 13:45] sksaddamhussain opened #6011 "Unable to run install.yml playbook due to below error"
###Below is the error while attempting run the command 'ansible-playbook -i inventory install.yml'

ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path.

The error appears to have been in '/app1/setup/awx/installer/roles/local_docker/tasks/compose.yml': line 27, column 7, but may
be elsewhere in the file depending on the exact syntax problem.

[2020-02-20 13:50] ryanpetrello commented on #5590
I've done quite a bit of work on investigating this over the past several weeks, and I've come to the conclusion that *long term*, we may need to reconsider how we store and query this type of event data when we're talking about scaling beyond, say, a billion rows.  Here are some notes and observations that have come from spinning up single node installs with 1B+ rows.

The bottom line is that whe

[2020-02-20 13:52] ryanpetrello commented on #5590
In terms of *tangible* things we can accomplish in the near future, here are some ideas I've got:

1.  Investigate moving the primary key of these tables to a `bigint` so that customers with large amounts of events aren't overflowing the primary key (see: https://github.com/ansible/awx/issues/6010)

2. Profile and tune our cleanup job for performance for large-scale datasets.  If the advice we're

[2020-02-20 14:01] medzin commented on #5916
@ryanpetrello actually the problem was with `ansible.cfg` committed to the root of our Ansible mono repo. I didn't notice it and it was enforcing public key authentication option.

[2020-02-20 14:01] #5916 closed, assigned to ryanpetrello

[2020-02-20 14:19] ryanpetrello commented on #5916
Thanks for reporting back @medzin - glad you got it figured out!

[2020-02-20 14:22] ryanpetrello commented on #6011
What version of Ansible are you using to install?  Modern versions of AWX require 2.8 or greater.

https://github.com/ansible/awx/blob/devel/INSTALL.md#prerequisites

[2020-02-20 15:43] nicolasduminil commented on #6009
No, it cannot 'cause, as explained above, it works in CLI.

[2020-02-20 15:54] wenottingham commented on #6006
This is not supported by our current REST framework, and so is not planned at this time.

[2020-02-20 16:06] ryanpetrello commented on #6006
Yea, what @wenottingham said - the framework that we utilize for our API (Django REST Framework) doesn't currently have support for this, so we're unlikely to do this in the near term:

https://github.com/encode/django-rest-framework/issues/1924

[2020-02-20 16:06] #6006 closed, assigned to nobody

[2020-02-20 16:30] gamuniz commented on #5590
@ryanpetrello @matburt @wenottingham
In my opinion our customers are getting bigger and are targeting more devices than in the past. While I would like to say that data management is helping(it does somewhat) it really doesn't fix our issue. We have customers doing thousands of jobs a day and at that scale they're only able to keep a weeks worth of data. That to me is bad user experience when you

[2020-02-20 16:34] jbradberry commented on #5970
@ryanpetrello I _think_, if I'm reading this right, that it is not an issue for the webhook support.  We are using Basic Authentication with a personal access token.

[2020-02-20 17:55] sksaddamhussain commented on #6011
issue got fixed after updating ansible to latest Thanks @ryanpetrello

[2020-02-20 17:55] #6011 closed, assigned to nobody

[2020-02-20 18:25] dsesami commented on #5777
Clicking the job template hyperlink does not work correctly. It simply continues to append the URL after repeated clicks:

![Screenshot from 2020-02-20 13-24-27](https://user-images.githubusercontent.com/19942822/74966080-675cb800-53e4-11ea-8596-6a29580f5c56.png)

[2020-02-20 18:51] dsesami commented on #5777
https://github.com/ansible/awx/issues/6002 also occurs on this tab.

[2020-02-20 20:44] wenottingham commented on #3824
This needs to be considered in light of execution environments, and should be tackled there.

[2020-02-20 20:46] ryanpetrello commented on #6010
Okay, I tested this out today to see what altering this table might look like at scale.  This is an `m5.2xlarge` (so, 8 cores, 32GB of RAM), and a large, high-IOPS disk (which is a requirement with this scale of data anyways).

[code]

...and here's the migration I generated:

[code]

I ran `awx-manage sqlmigrate`, and got the raw SQL and ran it:

[code]

[code]

...I'm still waiting 90+ minutes l

[2020-02-20 20:48] magick93 commented on #6004
Hi @ryanpetrello

` print(ProjectUpdate.objects.get(pk=1537).result_stdout_text) ` doesnt return anything.

` print(ProjectUpdate.objects.get(pk=1537).job_env) ` returns:

[code]

[2020-02-20 20:52] ryanpetrello commented on #6004
@magick93,

I can see the environment variables being set in your `job_env` properly (I assume they're correct)?

[code]

Perhaps the `ansible-galaxy` command itself doesn't respect these?

https://github.com/ansible/awx/blob/devel/awx/playbooks/project_update.yml#L139

If that's the case, it's not likely to be a bug in AWX itself; all we can do is set these env vars in the pty we run the playbook

[2020-02-20 20:57] wenottingham commented on #4983
This can be addressed in the new UI framework.

[2020-02-20 20:57] magick93 commented on #6004
Git seems to be respecting these, as I have no problem pulling and updating projects in AWX.

Its only since I added a role and a requirements.yml that contains a `src` to a github repo that this problem occurred.

So I suspect the issue is more specifically related to ansible-galaxy.

[2020-02-20 20:58] wenottingham commented on #5012
This should be looked at for the new UI.

[2020-02-20 21:01] ryanpetrello commented on #6004
@magick93 have you tried lower-casing the env var names, e.g., `http_proxy`?

[2020-02-20 21:03] ryanpetrello commented on #6004
Also, all of this (for `ansible-galaxy`, at least) is going to depend on Python's support for these proxy vars, and I'm not certain that Python supports CIDR notation in `no_proxy` as you've specified in your example:

https://github.com/ansible/ansible/issues/52705#issuecomment-466496745

[2020-02-20 21:09] magick93 commented on #6004
I dont think this is the issue as I'm using both internal git (gitlab) and external github. And there is no issue updating projects from either source. Updating projects from the internally hosted gitlab is using the `no_proxy`.

I'll try with lowercase env var names....

[2020-02-20 21:13] ryanpetrello commented on #6004
Yea, this may just require some experimenting.  I can say with certainty based on your `job_env` that we're *setting* those env vars during the project update run; I can't speak to whether the underlying libraries _properly_ support them in the format you've specified, though.

[2020-02-20 21:15] ryanpetrello commented on #6004
If you really wanted to dig in and confirm there's not some bug in the way AWX sets the env vars, you could stick a `sleep` somewhere in the project update playbook:

https://github.com/ansible/awx/blob/devel/awx/playbooks/project_update.yml#L139

...and then when you run another update, exec into the container and look for the (sleeping) `ansible-playbook` process that's running `project_update.y

[2020-02-20 21:41] wenottingham commented on #3321
Moving to test/tackle in the context of the new UI

[2020-02-20 21:44] mabashian opened #6019 "Add tooltip support to VariablesField"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently missing.

<img width="1423" alt="Screen Shot 2020-02-20 at 4 43 17 PM" src="https://user-images.githubusercontent.com/9889020/74981385-2a062380-5400-11ea-944c-47ffc54eb37a.png">

[2020-02-20 21:46] mabashian opened #6020 "House workflow visualizer and output in PF Topology view"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
http://patternfly-react.surge.sh/documentation/react/components/topology

Not sure how this would fit but created an issue to track it.

Marking this as low priority for now since we already have a functioning workflow implementation.

[2020-02-20 22:06] ryanpetrello commented on #3827
@jladdjr if you're not tracking it already this is also something we can attempt to verify once we switch to the plugin

[2020-02-20 22:13] wenottingham commented on #3968
this looks like it landed

[2020-02-20 22:14] ryanpetrello commented on #2916
@elyezer @jladdjr probably this one?

https://github.com/ansible/awx/issues/3509

[2020-02-20 22:19] wenottingham commented on #3972
@jakemcdermott is this still a thing that may happen soon?

[2020-02-20 22:19] ryanpetrello commented on #3972
Spoke w/ @jakemcdermott, not a priority in the near term.

[2020-02-20 22:21] wenottingham commented on #4464
this should be addressed in the new UI

[2020-02-20 22:23] ryanpetrello commented on #4418
@AlanCoding @fosterseth I wonder if this is still applicable given our recent inventory task manager changes.

[2020-02-20 22:27] ryanpetrello commented on #4863
Duplicate of https://github.com/ansible/awx/issues/5146

[2020-02-20 22:27] #4863 closed, assigned to jbradberry

[2020-02-20 22:37] ryanpetrello commented on #5590
@matburt @wenottingham I think we should use this ticket to track "the 1B+ event problem", as discussed above.

[2020-02-21 00:30] JosephJHCho commented on #5987
Whether JOB TYPE and VERBOSITY is seen or not, there is always a warning and a info and no errors.
........
WARNING: Tried to load AngularJS more than once.  vendor.08d153df1a615982ffc7.js:24

[Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/.
send @ vendor.08d

[2020-02-21 03:55] jd2020x commented on #4901
Does anyone know how to get this plugin to return username and password within a playbook?
I am a newbie and I was not sure how to set the credential type and get the playbook to return the data from cyberark.
Really appreciate any help out there.
Thanks
Jd2020

[2020-02-21 07:08] craph commented on #5704
@wenottingham, @ryanpetrello, any news about custom CA  and CA trust dir issue ?

May be something like that should help : https://incognitjoe.github.io/adding-certs-to-requests.html

After reading some documentation, I found that by default, the Python ssl module uses the system CA certificate bundle - /etc/pki/tls/certs/ca-bundle.crt - shipped as part of the ca-certificates package.

Here is the

[2020-02-21 07:12] craph commented on #3010
Hi,

I think the issue is still there. I have open this issue and I don't know how to fix this properly. Please have a look here : https://github.com/ansible/awx/issues/5704

I'm trying to debug it to find a fix.

[2020-02-21 08:15] Ladas commented on #5931
- new collection added `workflow_job_template_nodes`
- new collection added `workflow_job_nodes`

[2020-02-21 09:54] jmereaux opened #6028 "The JSON payload received through webhook notifications has a null value for the friendly_name attribute"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The JSON payload received through webhook notifications has a null value for the ``friendly_name`` attribute.

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX install method: Kubernetes
* Ansible version:  2.8.5
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

- Create a WebHook notification
- Configure a job template to call the webhook noti

[2020-02-21 14:24] imareporter opened #6029 "If a Job is Relaunched, Add The Origin Job to /api/v2/jobs/<JOB_ID>/"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Seeing as `/api/v2/jobs/<JOB_ID>/relaunch/` relaunches the job by creating another job with the same _user_ prompts, I think it may be a good idea to add a `/api/v2/jobs/<JOB_ID>/parent/` endpoint.

The `/api/v2/jobs/<JOB_ID>/parent/` endpoint would only be valid on jobs that were "relaunched" via the API or UI. This would be exceptionally useful, e

[2020-02-21 14:45] fischerdr commented on #5617
I am starting to see this same problem. Has anyone else encounter this?
ENVIRONMENT

    AWX version: 9.2.0
    AWX install method: docker on linux
    Operating System: RHEL 7

[2020-02-21 16:06] benjdudas opened #6030 "[RFE] Allow use of vault encrypted variables in job template/workflow extra_vars"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Currently, there is not an option to pass vault encrypted vars to a job template/workflow  API as extra_vars. Encrypted vars will get interpreted as-is in the job. Placing these vars in the host/group vars of the inventory or within the project/playbook works as expected.

`Use Case Need`: Passing encrypted vars from Jenkins to the Job Template/Work

[2020-02-21 16:10] fosterseth commented on #4418
@ryanpetrello @AlanCoding This is still the behavior, even after the recent task manager changes.

If an inventory source update fails it will auto-fail the project update too, even if that project update already ran successfully. As a result -- other jobs that depended on that project update will also fail even if those jobs had nothing to do with the failed inventory source update.

I can see wh

[2020-02-21 16:21] ryanpetrello commented on #4418
@fosterseth sounds like an opportunity for a PR 😄

[2020-02-21 16:41] beeankha commented on #5383
This work is being done in the current AWX Collections conversion PR: https://github.com/ansible/awx/pull/5747

[2020-02-21 17:31] sksaddamhussain opened #6031 "unable to start containers due to interpreter issue"
Dear,

My deployment is being failed with below error.

TASK [local_docker : Start the containers] ******************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import the required Python library (Docker SDK for Python: docker (Python >= 2.7) or docker-py (Python 2.6)) on centos

[2020-02-21 18:04] ryanpetrello commented on #6031
Hey @sksaddamhussain,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-02-21 18:04] #6031 closed, assigned to nobody

[2020-02-21 18:12] wenottingham commented on #5998
@jladdjr is this covered in the ec2 inventory plugin?

[2020-02-21 18:17] wenottingham commented on #5971
Can you attach your full SAML configuration? (Please leave out any secrets).

[2020-02-21 18:27] wenottingham commented on #5926
AWX gathers inventory by connecting to the database to pull information on the imported inventory. There is not an inventory directory in this context; it will likely be set to a temporary directory where this inventory is pulled. You'll need to calculate this differently.

[2020-02-21 18:27] #5926 closed, assigned to nobody

[2020-02-21 18:29] wenottingham commented on #5826
This will eventually be covered as part of https://github.com/ansible/awx/issues/5518. As the SCM branch/tag/etc for a job is now promptable, we cannot save roles in the project directory itself.

[2020-02-21 18:29] #5826 closed, assigned to nobody

[2020-02-21 18:34] wenottingham commented on #4904
Targeting as part of new UI work

[2020-02-21 18:36] n2aws commented on #5518
I see this is labelled as an enhancement, but I think we should consider the current behavior in 9.1.0, 9.1.1, and 9.2.0 to be a "bug" as the change broke how roles/requirements.yml works, and several people have entire jobs that broke with this.

[2020-02-21 18:51] wenottingham commented on #4946
Please test this in the context of the new UI code.

[2020-02-21 18:52] mjallday commented on #2495
adding a source control credential using a deploy key for the repo is the best way to solve this.

here's a doc on generating and adding a deploy key to a git repo - https://developer.github.com/v3/guides/managing-deploy-keys/#deploy-keys

[2020-02-21 18:55] wenottingham commented on #5039
"If you change the organization of the project"

When we move organization to JTs, we weren't going to let you do this any more. So will this matter?

[2020-02-21 18:56] wenottingham commented on #5044
@fosterseth to be clear - is this fixed or not?

[2020-02-21 18:58] wenottingham commented on #5057
Moving to tackle with the new UI.

[2020-02-21 19:00] unlikelyzero commented on #4946
@wenottingham I'll go ahead and close this as it this could not affect the new application

[2020-02-21 19:00] #4946 closed, assigned to unlikelyzero

[2020-02-21 19:01] wenottingham commented on #5082
This will not be addressed until the new UI view.

[2020-02-21 19:05] jladdjr commented on #2916
Yep, that's it 👍

[2020-02-21 19:14] rawstorage commented on #2495
Thanks I'll try this soon

Sent from mobile device. Please excuse typos, autocorrect hates me.

________________________________
From: Marshall Jones <notifications@github.com>
Sent: Friday, February 21, 2020 6:52:04 PM
To: ansible/awx <awx@noreply.github.com>
Cc: Martin, Paul <Paule.Martin@dell.com>; Comment <comment@noreply.github.com>
Subject: Re: [ansible/awx] UI-Project-SCM Credentials: no cr

[2020-02-21 19:22] AlanCoding commented on #5039
^ good point

[2020-02-21 20:22] ryanpetrello commented on #5954
Can you all give `devel` a shot?  We recently merged some changes related to this that might address your issue.

[2020-02-21 20:23] AlanCoding commented on #6029
https://github.com/ansible/awx/issues/2399

[2020-02-21 21:21] fosterseth commented on #5044
@wenottingham yes this is fixed

I just double checked that my tests pass and that the filtering of hosts is correct.

I'll get someone on QE to recheck

[2020-02-21 21:25] ryanpetrello commented on #6029
Duplicate of https://github.com/ansible/awx/issues/2399

[2020-02-21 21:25] #6029 closed, assigned to nobody

[2020-02-22 00:30] one-t commented on #5138
This appears to be working as expected, waiting on confirmation from someone with access to one of these altclouds

[2020-02-22 18:14] onkarthg opened #6036 "dynamic ansible using CI/CD pipeline azure devops"
hello team
 i am trying to deploy Dynamic taging ansible using ci/cd pipeline when adding ansible agent in ci/cd pipeline and select dynamic ansible after that adding tag for installation of particular software there is no any option. i m adding the document which i follow let me know any one have the solution for this.

refernce link-
https://docs.microsoft.com/en-us/azure/ansible/ansible-manage-

[2020-02-23 13:45] ryanpetrello commented on #6036
Hey @onkarthg,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-02-23 13:45] #6036 closed, assigned to nobody

[2020-02-24 06:37] mickael1026 commented on #5971
[saml.txt](https://github.com/ansible/awx/files/4243336/saml.txt)

Here the saml config, I cut the x509cert parameter.

[2020-02-24 06:44] gitrajit commented on #553
Hi,
Is there any delivery date for "file upload in survey" feature?

[2020-02-24 08:40] craph commented on #5704
@wenottingham any news about my last comment regarding the idea of a PR ?

Thank you very much

[2020-02-24 09:24] mmallet-digipok opened #6039 "LDAPs: Error when trying to connect to LDAP server only supporting TLS1.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In our IT environment, the LDAP server only supports TLS1.0 ciphers. When configuring AWX 9.2.0 to use LDAPs, awx_web says the protocol is unsupported.

After a quick investigation, it seems that this behavior has been introduce with CentOS8 and can be easily fixed (see the additional information section).

I think however one should be able to select

[2020-02-24 10:32] mmallet-digipok commented on #5954
This weekend, I have been able to build the 9.2.0 (which includes the commit 0a990b272f664f39d46aafcd568e66b9ee509775 that pins the virtualenv version) w/o any errors. So I guess the regression is now fixed!

Thank you,

[2020-02-24 12:09] CoolZeroNL commented on #5303
Any progress on this issue?

[2020-02-24 13:11] russelljftw commented on #5138
We stood up a awx dev server recently and I'll try to test out the functionality in the next few days.  We've confirmed the option for the altcloud is in the portal, but haven't created a cred yet.

[2020-02-24 13:35] ryanpetrello commented on #6039
@mmallet-digipok,

TLS 1.0 is deprecated - many Linux distributions and browsers either no longer support it, or will stop supporting it soon.

We're very unlikely to add changes to the installer to support enabling TLS 1.0 in CentOS 8, because people *should* upgrade and move forward to better crypto.  That said, if this is still a setup you still need as you transition, it sounds like you're on

[2020-02-24 13:35] #6039 closed, assigned to nobody

[2020-02-24 13:40] ryanpetrello commented on #5954
@mmallet-digipok,

Thanks for reporting back - we'll probably be releasing a major version of awx in the coming weeks that will include this change (and some other notable changes).

[2020-02-24 13:40] #5954 closed, assigned to nobody

[2020-02-24 15:51] sonofalder opened #6041 "Enable/Disable Templates"
##### ISSUE TYPE
 - Add an option on the Template to have it enabled/disabled, this would also control anything that calls into the template i.e. schedules.

##### SUMMARY
Right now if someone calls into a template externally, there is no way to stop someone from running it. Ideally it would not only be cool to offer an option to either disable or enable a template, but would be cool to have an op

[2020-02-24 16:22] wenottingham commented on #5704
Does that change work for you? If so, it may be worth a PR.

[2020-02-24 16:28] sonofalder opened #6042 "Allow Concurrent Jobs With a Delay and Throttle"
##### ISSUE TYPE
 - In addition to allowing concurrent jobs to execute, provide an option to have a delay time between actual execution. Also offer an option to throttle a number of concurrent jobs. Only allow 5 jobs to be spawned from this template at any given time.

##### SUMMARY
The idea behind this would be to allow a job to execute or run at the same time, however it would force that if 10 r

[2020-02-24 16:41] sonofalder opened #6043 "Bleed and Queue Jobs"
##### ISSUE TYPE
 - Provide an option to queue incoming jobs for maintenance, or bleed them off, or kill them off and run them again once maintenance is done.

##### SUMMARY
Provide some kind of maintenance mode option wherein if we need to rebuild the pod for any reason it doesn't just fail all of the jobs running on the pod. This could be as simple as adding a feature in that takes everything an

[2020-02-24 16:44] piellick commented on #6039
hi @mmallet-digipok , i'm faced with same problem on redhat 8 and active directory. Is your workarounf working ? I have updated the role, kill the awx_web container and re-apply the playbook but now trouble with root cert .

`CONNECT_ERROR({'desc': 'Connect error', 'info': 'error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed (unable to get local issuer certificate)

[2020-02-24 18:52] Elyytscha opened #6045 "awx 9.2.0 does not use ansible.cfg provided by source repository"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
hangs permanently @ fetch galaxy roles from requierements.yml (with 9.0.2 it worked)

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker-compose
* Ansible version:  2.9+
* Operating System: Ubuntu 18.04
* Web Browser: Chrome

##### STEPS TO REPRODUCE

use requierements.yml with tower version 9.2.0
to see it failing
use requierements.ym

[2020-02-24 19:31] wklo commented on #5946
I found a workaround by patching the following file on your ansible host: PYTHON_LIB_DIR/site-packages/ansible/modules/web_infrastructure/ansible_tower/tower_workflow_template.py:
Change the following line contained in the argument_spec
from
    ` survey=dict(required=False)`
to
    `survey=dict(type='dict', required=False)`

Apparently, without the type='dict' specification, the survey input will

[2020-02-24 20:14] ryanpetrello commented on #5946
@wklo @beeankha sounds like an opportunity for a PR ^

[2020-02-25 02:46] AlanCoding commented on #6043
maintenance mode discussed previously here https://github.com/ansible/awx/issues/3009

[2020-02-25 05:59] marxangels commented on #683
Refer by [awx/settings/defaults.py](https://github.com/ansible/awx/blob/devel/awx/settings/defaults.py#L969)
[code]

[2020-02-25 09:45] alancivita opened #6047 "Awx not parsing properly a path set in vars"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - API
 - UI

##### SUMMARY

Awx seems to not parse properly a path set in vars
##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: kubernetes
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

I have a role to add ssh user keys, basically the role is like this:
- name: Add User SSH Keys
  authoriz

[2020-02-25 10:06] Elyytscha commented on #5638
i where idiot, if i would have read the --help carefully i would have noticed that its --extra_vars and not --extra-vars

[2020-02-25 10:06] #5638 closed, assigned to nobody

[2020-02-25 10:33] Gaby033 commented on #5214
Hello, thank you @kevincoakley for your step by step instructions. Unfortunately, I'm facing the same issue. I'm currently on AWX 6.1.0.0, i'm trying to upgrade to the latest available which is 9.2.0 currently.

Here are my steps :
[code]

Edit /root/awx/installer/inventory :
`postgres_data_dir=/root/upgradepostgres`

Edit /root/awx/installer/roles/local_docker/tasks/main.yml :
- name: Stop AWX be

[2020-02-25 12:20] alancivita commented on #6047
i've removed the inventory_dir: /var/lib/awx/projects/_6__alan/environments/test extra var to let awx use the /tmp/ version but i'm getting the same error but the file is definitely there

[2020-02-25 13:11] unlikelyzero opened #6048 "Some Installations of ui_next do not render anything in UI on MS Edge Classic and IE11"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In the bug bash, we set up a dev server to point to a remote tower api server. When a user of IE11 or Edge Classic attempts to load the page, they see nothing. No errors in the network or console logs.

This has a self signed cert pointed to a yolo'd tower with it's own cert.

This page loads in the chromium-based browsers and firefox.

##### ENVIRONME

[2020-02-25 13:22] alancivita commented on #6047
quick update, to make it work i had to change from
- {name: test-automation, uid: 1011, groups: [‘automation’, 'docker'], shell: /bin/bash, key_directory: '{{inventory_dir}}/../shared/public_keys/', state: present }

to

- {name: test-automation, uid: 1011, groups: [‘automation’, 'docker'], shell: /bin/bash, key_directory: '{{playbook_dir}}/../shared/public_keys/', state: present }

so basically i

[2020-02-25 14:14] AlanCoding commented on #6047
if you're trying to use `inventory_dir`, also see https://github.com/ansible/awx/issues/5926

[2020-02-25 14:15] unlikelyzero opened #6049 "Inventory Group Nested Hosts View errors with a 404"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I searched for implemented issues and couldn't find anything.

/inventories/inventory/*num*/groups/*num*/nested_hosts isn't loading in ui_next

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Create an Inventory Group with nested hosts
2. View the #/inventories/inventory/*num*/groups/*num*/nested_hosts page

##### EXPECTED RESULTS

[2020-02-25 14:35] unlikelyzero opened #6050 "[Feedback] Collapse mechanism on sidebar nav is disruptive"
##### SUMMARY

**WIP**

This is a collection of feedback from the bug bash.

"Sidebar is difficult to work with -- it shouldn’t have to be expanded since we’re using these items very regularly (especially resources, views, access)"

[2020-02-25 14:36] jakemcdermott commented on #6050
@unlikelyzero This is great feedback but it may be more actionable in one of the patternfly repos.

[2020-02-25 14:37] unlikelyzero commented on #6050
@jakemcdermott ok, let me label this is WIP and try to get some more structure to this

[2020-02-25 14:42] ryanpetrello commented on #5590
Even though I'm not ready to call this issue "solved" (because if we're talking about 1B+ event scale, there's a larger architectural conversation to have), I *do* think it's worth mentioning that I think this PR:

https://github.com/ansible/awx/pull/6032

...will introduce some drastic improvements for job event stdout views at large scale.

Specifically, see this comment of mine for details:

ht

[2020-02-25 14:49] unlikelyzero opened #6051 "Browser language settings shows translated strings randomly (with dev build)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Note: Translations aren't implemented but the app is i18n compatible. When we tested this, we did it with a dev build.

Translations appear randomly throughout the app.

##### ENVIRONMENT
* AWX version: 9.2

##### STEPS TO REPRODUCE
1. Set browser to japanese language
2. Navigate to user roles page

##### EXPECTED RESULTS
1. All or none translations

#

[2020-02-25 14:58] dsesami commented on #5777
since #6002 is part of a larger issue, and #6015 is resolved, I'm closing this out. Thanks for the work on this.

[2020-02-25 14:58] #5777 closed, assigned to dsesami, AlexSCorey

[2020-02-25 14:59] AlexSCorey opened #6052 "Convert JobTemplateForm hooks"
##### ISSUE TYPE
-bugFeature
##### SUMMARY
Workflow Job Template Form and Job Template Form need to be refactored using hooks.

[2020-02-25 15:51] unlikelyzero opened #6054 "Page will crash if viewing Org Permission page in specific scenarios"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
@dsesami updated w/ repro steps
Page will crash if viewing Org Permission page in specific scenario.

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Give a user Cred/Inventory/JT/Notification/Project/WF admin permissions (in other words, pretty much full permissions)
2. As this normal user, try to make a new project and try to cli

[2020-02-25 16:03] kevincoakley commented on #5214
@Gaby033 it is difficult to troubleshoot without access to the system. Instead of creating `/root/upgradepostgres`, I would just back up `/root/pgdocker/pgdata` and restore the directory if something goes wrong. The upgrade process shouldn't overwrite the files in `/root/pgdocker/pgdata`, the upgraded database files should be saved to `/root/pgdocker/pgdata/10`. Can you run the `psql` command and

[2020-02-25 16:07] unlikelyzero opened #6055 "Add user page has rendering issues on some browsers"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The Add User Page has rendering issues in some scenarios.
Note: I cannot reproduce this exactly

##### ENVIRONMENT
* AWX version: devel with 1d3bb97b0770e24fbabc64571379582ac671a255
* Operating System: MacOS Mojave
* Web Browser: Chrome Canary Version 82.0.4070.0 (Official Build)

##### STEPS TO REPRODUCE
TBD

##### EXPECTED RESULTS
1. Form fields to r

[2020-02-25 16:08] unlikelyzero commented on #6055
@appuk i can't seem to reproduce this on chrome canary. Can you try this again?

[2020-02-25 16:15] Gaby033 commented on #5214
Thank you for your fast answer @kevincoakley.

If I understood correctly, you wanted me to try the command "psql" right after the upgrade command (and before the exit). Here is the result :
[code]

I modified the docker command as you requested :
[code]

[2020-02-25 16:53] DidierTHEILLAC opened #6056 "Implement awx hosts associate/disassociate group functionality"
ISSUE TYPE
 - Feature Idea

SUMMARY
'tower-cli host' can associate/disassociate a group to/from a host
We should figure out a way to do the same with awx, the new official command-line client for AWX and Red Hat Ansible Tower

[2020-02-25 18:25] unlikelyzero opened #6057 "Hoverover tooltip for username hovers over the Info button (which uses the same icon as tooltip)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
More of a piece of usability feedback. Hoverover tooltip for username hovers over the Info button (which uses the same icon as tooltip)

"Scroll over the username in top right corner, and you see a weird tooltip named user"

##### ENVIRONMENT
* AWX version: 9.2

##### STEPS TO REPRODUCE
1. Log in and hover over the username in the top right

##### EXPE

[2020-02-25 18:45] mabashian commented on #5963
@wenottingham - was looking at this with Keith and we noticed that the UI is specifically filtering out `manual` inventory sources in the old UI.  Additionally, `manual` is not an option in the inventory source form.  Should we be filtering out `manual` inventory sources from the workflow node inventory sources list (`?not__source=`) here in the new UI?  If so, I think we could just get rid of thi

[2020-02-25 18:52] unlikelyzero commented on #6048
Pendo view of MS Edge
<img width="439" alt="Screen Shot 2020-02-25 at 1 52 00 PM" src="https://user-images.githubusercontent.com/12446869/75277472-111db980-57d6-11ea-936b-3da19fc1c113.png">

Note: cloud.redhat.com doesn't load on IE11 or Edge Classic

[2020-02-25 19:28] marshmalien commented on #4960
Duplicate: https://github.com/ansible/awx/issues/5890

[2020-02-25 19:28] #4960 closed, assigned to nobody

[2020-02-25 19:35] appuk commented on #4239
@keithjgrant I see the PR is merged, is this issue ready for needs_test ?

[2020-02-25 19:46] wenottingham commented on #5963
I feel like `manual` is a vestigial API artifact that maybe should be going away. cc @ryanpetrello @AlanCoding

[2020-02-25 20:01] sonofalder commented on #6043
Sorry accidentally clicked the wrong button. Did not mean to close this at all.

[2020-02-25 20:03] sonofalder commented on #6043
Hey AlanCoding, although I used the word maintenance mode here I don't think the previous person is asking for the same thing here. Disabling a pod is wonderful, however it kills everything running on it. My hopes are that we have an option of either migrating the existing jobs to a different pod, or to have an option that would slowly bleed the jobs from the pod until all jobs are done. That way

[2020-02-25 20:07] marshmalien opened #6061 "Add CompletedJob list to Host, InvHosts, and SmartInv views"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1339" alt="Screen Shot 2020-02-25 at 3 05 24 PM" src="https://user-images.githubusercontent.com/15881645/75283211-5f37ba80-57e0-11ea-9711-bfbb3532f9c6.png">

This issue tracks the addition of Completed Jobs tab to:
* Host
* Inventory Host
* Smart Inventory

Columns:
1) Status/Name of job.  Links to `/#/jobs/:id`
2) Finish time of job
3) R

[2020-02-25 20:17] philipsd6 commented on #5224
This problem also occurs when building the development image ([CONTRIBUTING.md#build-the-base-image](https://github.com/ansible/awx/blob/devel/CONTRIBUTING.md#build-the-base-image))

I will submit a PR to resolve the issue in the development Dockerfile as well.

[2020-02-25 20:17] kevincoakley commented on #5214
@Gaby033 Sorry, I forgot the postgres-upgrade:9.6-to-10 container doesn't have the postgresql server running, so the psql command won't connect unless you start the postgresql server.

I am not sure what issue you are running into, but it sounds like there is a path issue. I would review the `volumes` path for the `postgres` container in the docker-compose.yml file defined by `docker_compose_dir`

[2020-02-25 20:40] xTrekStorex commented on #5617
Similar issue here, just that my jobs never resume. Started occuring with the upgrade to 9.2.0 for me. The job that gets stuck is usually my main workflow that runs every 20 minutes. Sometimes its a subworkflow for job slicing. Clicking cancel in AWX web doesn't do anything.
After a restart of the awx_task container I can cancel the job in AWX web and the next ~6 runs (2 hours) run fine. Then it g

[2020-02-25 20:58] nkadel opened #6064 "Enforce python3 in "inventory" config file"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
RHEL 7 and similar systems pick up python2, which is very difficult to suppport, with "/usr/bin/env python" line in first line of "inventory" file.

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux, docker
* Ansible version:  2.9.3
* Operating System: CentOS 7.7
* Web Browser: Chrome

##### STEPS TO REPRODUCE
Install "docker

[2020-02-25 21:08] araghuraman123 opened #6065 "REST api job launch not setting requested credential"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When attempting to launch a job template over the REST api, the credential specified in the request is not getting set on the newly launched job.

##### ENVIRONMENT
* AWX version: 9.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Linux
* Web Browser: N/A

##### STEPS TO REPRODUCE

POST to the api/v2/job_templat

[2020-02-25 21:09] dsesami commented on #5405
The labels have been updated in tower/devel and appear normally.

[2020-02-25 21:09] dsesami commented on #5405
Reopening for docs. cc @tvo318

[2020-02-25 21:22] araghuraman123 commented on #6065
Additional Info -

Template in question has ask_credential_on_launch set to true. Attempting to launch with "credentials" as a list results in a "400 Bad Request" error. Samples -

(a) curl --silent --tlsv1.2 -f -k -H "Content-Type:application/json" -H "Accept:application/json" -XPOST -d '{"extra_vars":{"var1":"val1"}, "credentials":[4]}' --user "user1":"pwd1" "https://awx-dev.com/api/v2/job_templ