[2020-02-25 21:35] unlikelyzero opened #6066 "[Feedback] Hoverover tooltip actions become unusable when presenting"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This is an odd one, but when presenting, the hoverover tooltips become non-performant and almost unusable . I'm only filing this because I'm sure that this will be an issue when showing off the new UI in sales demos.

##### ENVIRONMENT
* AWX version: 9.next
* Operating System: fedora
* Web Browser: Chrome 80

##### STEPS TO REPRODUCE
1. Start bluejeans

[2020-02-25 21:35] wenottingham commented on #6065
[code]

This is the correct syntax, I've tested it on devel and it works for me.

[2020-02-25 21:39] unlikelyzero opened #6067 "[Feedback] Clicking on a tooltip should open text triggered by a hoverover action"
##### ISSUE TYPE
 - Bughancement

##### SUMMARY
[Feedback] Clicking on a tooltip should open text triggered by a hoverover action.

##### ENVIRONMENT
* AWX version: 9.next

##### EXPECTED RESULTS
Expect that when clicking on a tooltip icon, the tooltip text would appear instantly

##### ACTUAL RESULTS
Clicking on tooltip icon does not cause tooltip text to appear

[2020-02-25 21:48] unlikelyzero opened #6068 "Clicking on tooltip associated w/ boolean click box, selects check box"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Clicking on tooltip associated w/ boolean click box, selects check box.

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Find a tooltip with a boolean toggle like /#/templates/job_template/add (Advanced option Privilege Escalation)
2. Click on tooltip icon
Note that the boolean checkbox is selected

##### EXPECTED RESULTS
Clicking

[2020-02-25 21:53] unlikelyzero opened #6069 "[Feedback] Lots of white space on permission role wizard"
##### ISSUE TYPE
 - Bug Report / Feedback

##### SUMMARY
Feedback from the bug bash: "Do not love permission role wizard thing
Lots of whitespace on initial screen?"

##### ENVIRONMENT
* AWX version: 9.next

[2020-02-25 21:53] unlikelyzero commented on #6069
Will get further refinement here

[2020-02-25 22:00] unlikelyzero opened #6070 "Console error thrown on organization access page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Console error thrown on organization access page.

```react-dom.development.js:2460 Error: <filter> attribute width: Unexpected end of attribute. Expected length, "".```

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Navigate to /#/organizations/*num*/access

##### ADDITIONAL INFORMATION

[2020-02-25 22:12] unlikelyzero opened #6072 "[First Time User Feedback] New User Creation"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Issues or Feedback
"User creation is included under the Access menu but in my opinion, that is not where a user would expect to find it. I’d recommend moving the entire Access menu under the Administration menu"

Issues or Feedback
"The creation of a user ultimately requires it to be associated with an organization. However, if you don’t already have a

[2020-02-25 22:16] unlikelyzero opened #6073 "[Feedback] User should be able to type value in lookups"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A web ui user should not have to click on the magnifying glass icon in order to perform a lookup. Example: the Organization search field under the Create New User form only works if I click on the magnifying glass

In legacy awx, you could type the name of the resource

##### ENVIRONMENT
* AWX version: 9.next

##### ADDITIONAL INFORMATION
<img width="6

[2020-02-25 22:20] unlikelyzero opened #6074 "[Feedback] Default Dashboard behavior is jarring for first time users of MVP"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Because the dashboard is unimplemented with no placeholder, it is jaring for a first time user of the MVP. We should add a placeholder or something to inform the user that the view isn't built yet.

"Some Views are completely blank, such as Dashboard and My View. If my user doesn’t have access to view certain content, I’d posit that the least we could

[2020-02-25 22:31] tomdaley92 commented on #5323
I would like to give an example of a specific use-case that this feature might be able to solve. Just being able to access a webhook's payload from within a job/playbook would be a massively huge improvement.

First of all, I want to show my long-hauled appreciation for Ansible. I absolutely love it. Our team uses Ansible exclusively for almost all of our application configuration and deployments

[2020-02-25 22:34] ryanpetrello commented on #5617
@xTrekStorex any chance you could run this in the task container?

```awx-manage run_dispatcher --status```

...and report back what it prints?

[2020-02-26 00:57] AlanCoding commented on #5617
A bit of an extension on that question, if you already have shell. First run `awx-manage shell_plus` and then

[code]

you can copy and paste functions, so you can past that and hit enter twice.

next run

[code]

Expect it to take 20 seconds to run. This assures that we get a full cycle. If any entry returns True, then that indicates that this lock is not held up perpetually.

[2020-02-26 02:23] AlanCoding commented on #6043
If you disable it in the UI of AWX itself, I don't think it kills the jobs running on it, this is just a flag to have it decline new work. For instance groups in general that's how it should work IIRC.

[2020-02-26 03:06] AlanCoding commented on #5963
https://github.com/ansible/awx/blob/cfb633e8a643b0190fa07b6204b339a1d336cbb3/awx/main/migrations/_inventory_source.py#L8-L17

[2020-02-26 07:51] SWADESNA opened #6075 "Feature request: TPAM as external vault in Ansible Tower"
##### ISSUE TYPE
 - Feature Idea
##### COMPONENT
 - UI
##### SUMMARY

- Feature request to include integrations for **Total Privileged Access Management** (TPAM) as secret management system with Ansible Tower.
##### STEPS TO REPRODUCE
- No steps needed as it's a feature request.

[2020-02-26 08:52] xTrekStorex commented on #5617
[code]

[code]

If you need anything else I'd be happy to try things or post more logs etc.

[2020-02-26 09:17] xTrekStorex commented on #5617
I just tried killing the worker with the running job. From what I can see in AWX web this causes the next jobs in the workflow to spawn as pending but then gets stuck again once "run_task_manager" runs again:

[code]

FYI: I ran ` awx-manage run_dispatcher --reload` before that (which didn't have any effect on the issue - as expected) so that is why the other workers have new PIDs

Restarting the

[2020-02-26 10:18] blaisemichel opened #6078 "awx hangs after 48 hours"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
every 48 hours awx hang and all job are hangs in pending state

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method:docker on linux
*  Ansble version:  2.9.2
* Operating System: centos 7
* Web Browser:chrome

##### STEPS TO REPRODUCE

launch big job with elapsed time 20:00 and wait 48 hours

##### EXPECTED RESULTS

I expect awx run without hang

[2020-02-26 10:39] blaisemichel commented on #6078
[awx.zip](https://github.com/ansible/awx/files/4255052/awx.zip)
[awx1.zip](https://github.com/ansible/awx/files/4255053/awx1.zip)
[awx2.zip](https://github.com/ansible/awx/files/4255054/awx2.zip)
[awx3.zip](https://github.com/ansible/awx/files/4255055/awx3.zip)

rename awx1.zip awx.z01
rename awx2.zip awx.z02
rename awx3.zip awx.z03

[2020-02-26 10:45] blaisemichel commented on #6078
[sosreport-rgogbabteca01-awxhang-2020-02-26-mugqzxz.tar1.zip](https://github.com/ansible/awx/files/4255174/sosreport-rgogbabteca01-awxhang-2020-02-26-mugqzxz.tar1.zip)
[sosreport-rgogbabteca01-awxhang-2020-02-26-mugqzxz.tar2.zip](https://github.com/ansible/awx/files/4255176/sosreport-rgogbabteca01-awxhang-2020-02-26-mugqzxz.tar2.zip)
[sosreport-rgogbabteca01-awxhang-2020-02-26-mugqzxz.tar3.zip](ht

[2020-02-26 10:57] soniya20 commented on #5522
Hi @ryanpetrello,
 I have been working on a fix for this bug and have added a pop-up on modification of permissions of a user from Administrator to any other type. I have added the below conditional check in /awx_devel/awx/ui/client/src/users/edit/users-edit.controller.js
        if (user_obj.is_superuser === true && $scope.is_superuser === false )

Also, while investigating the bug I found that t

[2020-02-26 12:15] davidban77 opened #6079 "AWX CLI not giving correct rc when job fails with --monitor set"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hello!

I am testing the awx cli on my CI environment to launch jobs on AWX. First time using **awx cli** so I might be missing something but I was under the impression that if a launched a `job_template` with `--monitor` and this one failed, it was supposed to give an `rc != 0`, so it correctly shows it on the CI interface.

##### ENVIRONMENT
* AWX ve

[2020-02-26 12:33] ryanpetrello commented on #6079
duplicate of https://github.com/ansible/awx/issues/5920

[2020-02-26 12:33] #6079 closed, assigned to nobody

[2020-02-26 12:40] ryanpetrello commented on #5617
@xTrekStorex,

We're actively tracking what we think is a regression, and I think you're encountering a version of it.  The next time you see this, could you:

- Run `awx-manage run_dispatcher --status` and find the pid of the process stuck on `run_task_manager`. In your last comment, this pid would be `pid:64862`.
- Install and run either (or both) of these tools, and share the output of that pid

[2020-02-26 12:42] ryanpetrello commented on #6078
@blaisemichel I can't get your `.zip` archives to unpack.

[code]

I think what you're encountering is a duplicate of https://github.com/ansible/awx/issues/5617

If you don't mind, and if you can reproduce this again, check out these comments (starting here), and see if you can reproduce the same thing:

https://github.com/ansible/awx/issues/5617#issuecomment-591107161

If you *can* reproduce a si

[2020-02-26 12:42] #6078 closed, assigned to nobody

[2020-02-26 12:48] davidban77 commented on #5920
This is really helpful when working with CI systems that can use awx cli to run jobs

[2020-02-26 13:47] ryanpetrello commented on #5920
@davidban77 @agrisvv either of you willing to give this patch a shot?

https://github.com/ansible/awx/pull/6081

[2020-02-26 14:23] #5866 closed, assigned to appuk, marshmalien

[2020-02-26 14:29] ryanpetrello commented on #5617
@xTrekStorex,

Also, is there any way you could share with us what your workflow looks like?

[2020-02-26 14:36] appuk commented on #6002
I verified JT delete in succession and it is working as expected now.
Hence closing the issue.

[2020-02-26 14:36] #6002 closed, assigned to nobody

[2020-02-26 14:39] appuk commented on #6055
@unlikelyzero I tried this again on a fresh instance and still see the issue:
![Screen Shot 2020-02-26 at 9 38 23 AM](https://user-images.githubusercontent.com/11617351/75355019-df5f2e00-587b-11ea-802a-45f5304ba5f4.png)

let me know if you have any issues in reproducing this

[2020-02-26 14:42] unlikelyzero commented on #6055
@appuk great! which chrome and os version, exactly?

[2020-02-26 14:46] appuk commented on #6055
OS: MacOS Mojave
Browser: Chrome Canary Version 82.0.4070.0 (Official Build)

[2020-02-26 15:12] Gaby033 commented on #5214
I have checked the file :  ~/.awx/awxcompose/docker-compose.yml

[code]

It seems to be correct regarding the path. So the data loss is due to something else I think.

[2020-02-26 15:18] blaisemichel commented on #5617
[sosreport-rgogbabteca01-awxhang-2020-02-26-mugqzxz.tar.xz.zip.001.txt](https://github.com/ansible/awx/files/4256480/sosreport-rgogbabteca01-awxhang-2020-02-26-mugqzxz.tar.xz.zip.001.txt)
[sosreport-rgogbabteca01-awxhang-2020-02-26-mugqzxz.tar.xz.zip.002.txt](https://github.com/ansible/awx/files/4256481/sosreport-rgogbabteca01-awxhang-2020-02-26-mugqzxz.tar.xz.zip.002.txt)
[sosreport-rgogbabteca01

[2020-02-26 15:19] blaisemichel commented on #5617
[awx.dump.zip.001.txt](https://github.com/ansible/awx/files/4256499/awx.dump.zip.001.txt)
[awx.dump.zip.002.txt](https://github.com/ansible/awx/files/4256500/awx.dump.zip.002.txt)

remove .txt for extract i have the same problem and push to you my dumpdb

[2020-02-26 15:41] ryanpetrello commented on #5617
@blaisemichel,

If you're still encountering a hung install, could you run the commands referenced above and share the output?

https://github.com/ansible/awx/issues/5617#issuecomment-591107161
https://github.com/ansible/awx/issues/5617#issuecomment-591405762

[2020-02-26 15:43] unlikelyzero opened #6082 "[Feedback] Disable Save button until form validation errors are fixed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Disable Save button until form validation errors are fixed. If a user doesn't fill out a form correctly, they get visual feedback that they need correct fields with inline error text. *This becomes important on "long" forms like JTs where in-line error text may appear off screen.*

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Fi

[2020-02-26 15:44] unlikelyzero commented on #6082
@elyezer does this adequately capture your findings

[2020-02-26 15:48] agrisvv commented on #5920
Tested in bash script. Tested exit on some command failure in script. Bash exist status are 1 - OK
[code]
[code]
Tested from terminal and result are same exit code are 1 - OK
[code]
[code]

[2020-02-26 17:57] wenottingham commented on #6045
@AlanCoding is this the path override issue with in-project ansible.cfg?

[2020-02-26 17:58] wenottingham commented on #6042
What's the use case where this would be required?

[2020-02-26 17:58] davidban77 commented on #5920
Yep, can confirm as well - thanks!

[2020-02-26 18:00] wenottingham commented on #6056
see also https://github.com/ansible/awx/issues/5177

[2020-02-26 18:03] xTrekStorex commented on #5617
Will do as soon as it happens again. For now I encountered a different but maybe related issue of schedules not running anymore. I see a few schedulers waiting:

[code]

Running strace on any of them returns
`futex(0x5577f72e6060, FUTEX_WAIT_BITSET_PRIVATE|FUTEX_CLOCK_REALTIME, 0, NULL, 0xffffffff`

However I can run JTs manually for now.

[2020-02-26 18:04] jakemcdermott opened #6085 "Duplicate switches, buttons, etc. on hosts list"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
- sign in as an admin user
- create an inventory
- add a host to that inventory
- navigate to hosts list

##### EXPECTED RESULTS
One on/off toggle, one edit button.

##### ACTUAL RESULTS
![Screenshot from 2020-02-26 12-58-30](https://user-images.githubusercontent.com/9753817/75373496-6b7f4e80-5898-11ea-9deb-55fb2efc732f.png)

[2020-02-26 18:14] AlanCoding commented on #6045
Here's the first theory that came to my mind:

https://github.com/ansible/awx/blob/35d36a71c761687ee8cf2f965393d830503c8eaa/awx/playbooks/project_update.yml#L159-L161

We install `requirements.yml` from the folder `{{project_path}}/collections`. A really simple fix presents itself that we instead install `collections/requirements.yml` from `{{project_path}}`. That should pick up the `ansible.cfg`,

[2020-02-26 18:16] ryanpetrello commented on #5617
@xTrekStorex,

Any chance you could run:

`gdb -p <pid>` on one of those and share the output?

[2020-02-26 18:31] xTrekStorex commented on #5617
Sure can.

Maybe some context first:
I import our vCenter into inventory (via a modified version of the contrib script adding vCenter tags).
My workflow chains a vCenter sync and my JTs which each are limited to a host group generated from vCenter tags during import. That way I control basic & continuous Ansible deployments via vCenter instead of AWX. Each JT has an error handling path calling its

[2020-02-26 18:33] ryanpetrello commented on #5617
Is there a specific part of the workflow where you find it hangs?  Or does it tend to be random?

[2020-02-26 18:37] xTrekStorex commented on #5617
https://pastebin.com/9dab4iW3

Totally random, sometimes nginx, sometimes docker, sometimes common. Can't say I've ever seen it with a pending vCenter sync though.

[2020-02-26 18:37] jakemcdermott opened #6086 "Project form doesn't show organization when it is defined"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
- create an organization
- create a project that uses that organization
- open the edit form for the project

##### EXPECTED RESULTS
The project's organization should be shown as the current value on the `Organization` field.

##### ACTUAL RESULTS
The organization field is blank.

##### ADDITIONAL INFORMATION
![project_no_org](https://user-i

[2020-02-26 18:38] ryanpetrello commented on #5617
@xTrekStorex

Sorry, I gave slightly wrong instructions.

Once you get the `(gdb)` prompt, could you try running these commands (and sharing output):

`bt`
`py-bt`

Thank you so much 😄

[2020-02-26 19:25] xTrekStorex commented on #5617
Unfortunately `py-bt` doesn't work due to missing debuginfos for python.
`yum install python36-debug.x86_64` doesn't help and the official docs (https://wiki.python.org/moin/DebuggingWithGdb) with
[code]
fail with
[code]

`yum update` doesn't solve this either.

Here is the `bt` output though:  https://pastebin.com/wnkc9SQn

[2020-02-26 19:31] ryanpetrello commented on #5617
@xTrekStorex

Something like this might get you closer, depending on your platform:

`dnf debuginfo-install -y --enablerepo='base-debuginfo' python36`

[2020-02-26 19:41] dsesami opened #6089 "Organization fields (and similar fields) should respond to clicks on the field itself."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Here is an example of the field I'm discussing:
![Screenshot from 2020-02-26 14-28-13](https://user-images.githubusercontent.com/19942822/75380773-a2a82c80-58a5-11ea-892f-abf68456f137.png)

When you click the magnifying glass, a modal appears which lets you choose an organization from the list. Clicking the field itself, however, does not let you edit

[2020-02-26 19:54] johannes-cabal commented on #1731
@ryanpetrello currently I'm seeing that workflow limits are not being honored.

For example, I have 2 templates:
- Foo
- Bar

If I have no limit set on say "foo", but I set the limit at the workflow level, it still gathers facts on all hosts in that inventory source.

I haven't tested the prompt on launch to see if it's passed any differently, but defining specific host patterns don't seem to work

[2020-02-26 19:58] jakemcdermott commented on #6089
my opinionated and probably wrong list of possible approaches:

- short-term: open the modal when the input area is clicked

- long-term / never: debounced fuzzy search-by-name w/ selectable tags. I think this would be a lot of work, but awesome given how many lookups we have.

- a better idea if you have one

[2020-02-26 20:06] xTrekStorex commented on #5617
Unfortunately no
[code]

My platform is the `ansible/awx_task:9.2.0` image from docker hub, which apparently is based on CentOS 8. The host itself is running Debian 10 but even if I install `python3-dbg` and run gdb there on PIDs matching `awx-manage run_dispatcher` in the host namespace I don't get `py-bt`.

The missing debuginfo packages seem to be a common issue from what I can see on Google. A

[2020-02-26 20:07] ryanpetrello commented on #5617
After tinkering with an install for about an hour, I've reproduced something just like this, and here's what the Python trace looks like for me (mostly leaving this for my benefit):

[code]

[2020-02-26 20:22] metabsd commented on #5803
Where you find the information about what is the scope needed for that notification template ?
Thx!

[2020-02-26 20:59] dsesami opened #6091 "Modal for associating an inventory with a host does not save."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
1. Try to create a new host in the UI.
2. Try to select an associated inventory and click select.
![Screenshot from 2020-02-26 15-57-17](https://user-images.githubusercontent.com/19942822/75387126-d5a3ed80-58b0-11ea-9e29-4ddf006502bf.png)

##### ENVIRONMENT
* Operating System: Fedora 31
* Web Browser: Chrome

##### EXPECTED RESULTS
I can save + add an

[2020-02-26 21:00] dsesami commented on #6091
In addition, the validation error shows strange characters when exiting the modal:

![Screenshot from 2020-02-26 15-59-48](https://user-images.githubusercontent.com/19942822/75387263-100d8a80-58b1-11ea-833c-f3f219367087.png)

[2020-02-26 21:01] jlmitch5 opened #6092 "Update list select all to include dropdown with options"
A couple updates to the list toolbar:
- Utilize icon-based action buttons for add/delete
- Move multi-select checkbox to be based off of their bulk select demo (https://www.patternfly.org/v4/documentation/react/demos/bulkselecttable)

For bulk select, there is a slight difference, sense we only have two options, not a third select all (across pages) option, it didn't really make sense to make it a

[2020-02-26 21:11] unlikelyzero opened #6094 "[Feedback] Need additional visual feedback when a form field fails validation"
##### ISSUE TYPE
 - Enhancement

##### SUMMARY
Need additional visual feedback when a form field fails validation. At the moment, only un-animated, non-bold text is set inline with the problematic form fields.

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Enter an incorrect field entry on a JT and click save

##### EXPECTED RESULTS
It would be nice if the missing elements p

[2020-02-26 21:20] beeankha commented on #5383
PR https://github.com/ansible/awx/pull/5747 has been merged.  New logic in the `module_util` file (`tower_api.py`) contains logic to support true check mode, closing this issue!

[2020-02-26 21:20] #5383 closed, assigned to beeankha

[2020-02-26 21:21] unlikelyzero opened #6095 "Deleting a host gives a Not Found error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Deleting a host gives a Not Found error. It is bringing to the inventories page for some reason while it should bring you back to the host list page.

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Go to Resources > Host page
2. Create a host
3. After creating the host and being on the details page for that host, hit delete.

####

[2020-02-26 21:27] ryanpetrello commented on #5617
@xTrekStorex I'm having a lot of trouble reproducing this in a reliable fashion that allows me to observe and experiment with this issue, but it's a high priority to resolve it, and I have a **hunch** about what it might be related to in recent commit history.

Are you willing to apply a patch and run it for a day or so to see if your hanging issues go away?

If so, give this a whirl:

https://git

[2020-02-26 21:28] beeankha commented on #5969
New Ansible sanity rules are being complied with, closing this issue!

[2020-02-26 21:28] #5969 closed, assigned to nobody

[2020-02-26 21:31] AlanCoding commented on #3418
Is the specific concern the postgres max connections here?

If so, I put put up a pull request https://github.com/ansible/awx/pull/6096 where that at least gives the ability to configure this number so that max connections will not be maxed out. If you had the database configured for 1,000 connections, then 1,000/20 = 50 connections per node, so you would want a number lower than that.

[2020-02-26 21:32] unlikelyzero opened #6097 "[Feedback] Options information on details view(s) can be confusing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Options information for a project is confusing

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Add options to a Project like clean after checkout
2. View Project's Details view

##### EXPECTED RESULTS
nonfunky text

##### ACTUAL RESULTS
funky bulletpoints

##### ADDITIONAL INFORMATION

<img width="652" alt="Screen Shot 2020-02-26

[2020-02-26 21:38] xTrekStorex commented on #5617
Done. Will get back to you asap

[2020-02-26 21:46] elyezer commented on #5099
Did de following to verify this:

1) Created both a job template and a workflow job template
2) For each resource created on 1, edited the `webhook_service` field to `github`, then `gitlab` and finally to `""` (empty string). Everything succeeded as expected when using PUT requests.

Also did an OPTIONS request to both `/api/v2/job_templates/` and `/api/v2/workflow_job_templates` and the informati

[2020-02-26 21:46] #5099 closed, assigned to elyezer

[2020-02-26 22:05] ryanpetrello commented on #5617
For posterity, I very much suspect this is actually related to a bug in cpython itself (https://bugs.python.org/issue38884) that we've begun encountering due to this recent PR of mine:

https://github.com/ansible/awx/pull/5837

...which moved our periodic heartbeat code (when we removed celery a few weeks ago) to a thread (instead of a distinct process).  Details:

https://github.com/ansible/awx/p

[2020-02-26 22:14] mabashian opened #6098 "Convert JobTemplateForm.jsx to functional component"
##### ISSUE TYPE
 - Task

##### SUMMARY
So we can use hooks

![hook](https://user-images.githubusercontent.com/9889020/75393128-67185d00-58bb-11ea-84e2-1825a1245e1c.gif)

[2020-02-26 22:16] ryanpetrello commented on #5145
@beeankha @squidboylan so uh...we ready to `needs_test` or close this one 😄

[2020-02-26 22:17] ryanpetrello commented on #5474
@AlanCoding did this get into @beeankha's PR, or is there still work to do?

[2020-02-26 22:28] unlikelyzero opened #6099 "[Feedback] A JT generated from a Project 'Add Job' flow should pre-populate that project's values"
##### ISSUE TYPE
 - Enhancement

##### SUMMARY
Creating a Job Template from the Project’s Job Template tab should pre-populate the project. It would make more sense to have the Project pre-populated to the one where the create job template was triggered.

[2020-02-26 22:31] unlikelyzero opened #6100 "Unable to create a WFJT from a Project's Add Job Template tab"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Not able to create a Workflow Job Template from the Project’s Job Templates tab. Steps:

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE

1. Visit a project’s detail and click on the Job Templates tab
2. Try to add a new Workflow Template by pressing the `+` button
Note Workflow Not Found Error

##### EXPECTED RESULTS
Add WFJT Page

#

[2020-02-26 22:36] unlikelyzero opened #6101 "When Provisioning Callbacks checkbox is selected on JT Add/Edit Form, Host Config Key field is in a bad spot"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When Provisioning Callbacks checkbox is selected, Host Config Key field is in a bad spot

##### ENVIRONMENT
* AWX version: 9.next
* OS / Browser version: Ubuntu 18.04 + Firefox nightly

##### STEPS TO REPRODUCE
1. Navigate to JT Add/Edit Form
2. Select the Provision Callbacks checkbox
Note the location of the Host Config Key

##### EXPECTED RESULTS
Hos

[2020-02-26 22:39] unlikelyzero opened #6102 "[Feedback] User Form Name fields should prevent invalid entry (character limit)"
##### ISSUE TYPE
 - Bughancement

##### SUMMARY
Limiting users first name to 30 chars and last name to 150 chars (seems like possibly intended behavior but maybe bad behavior?)

##### ENVIRONMENT
* AWX version: 9.next

##### STEPS TO REPRODUCE
1. Go to User Add/Edit Form
2. Add more than 30 characters to an entry field
3. Save
Note error text

##### EXPECTED RESULTS
Not able to enter incorrect cha

[2020-02-26 22:42] unlikelyzero opened #6103 "At certain resolutions, JT Advanced Form elements render outside of background"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Job template options render outside of the “box” on small browsers

##### ENVIRONMENT
* AWX version: 9.next
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System: Ubuntu 18.04
* Web Browser: Firefox Nightly

##### STEPS TO REPRODUCE
1. Open JT Add/edit Form at a narrow wind

[2020-02-26 22:43] squidboylan commented on #5145
I think it makes sense to leave this open until all of the modules are ported

[2020-02-26 23:29] wenottingham commented on #1731
For a limit set at the workflow to apply to a child job template, that job template must allow for prompting limit on launch.

[2020-02-26 23:32] araghuraman123 commented on #6065
It appears the invocation needs to also list the credential ids that are already saved on the template. Only then does AWX accept any additional credential ids supplied at run-time. So, if the template already has credentials 5 and 6 saved on it, then the curl should be -

curl --silent --tlsv1.2 -f -k -H "Content-Type:application/json" -H "Accept:application/json" -XPOST -d '{"extra_vars":{"var1"

[2020-02-27 01:51] AlanCoding commented on #5474
Not done, it's a little riskier, but free to be attempted now with the refactor out of the way

[2020-02-27 02:52] araghuraman123 commented on #6065
Is this the expected behaviour? Or can this be remediated in future releases?

Expected result would be for runtime credential choices to be simply added to the saved credentials on the template. Rather than having to supply the whole bunch for every invocation.

[2020-02-27 03:03] wenottingham commented on #6065
Attempting to 'merge' makes it ambiguous, and removes the ability to override a credential on the template with no credential at all. (Note: this is only supported for non-machine credentials)

[2020-02-27 10:39] r1k0 opened #6105 "RFE: Need for survey type supporting YAML"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

We are an international company using Tower for network automation (RH contract).
We are in the process of pushing all our plays to templates in tower, we want to extensively use the survey feature to let users input data for specific variables. So far so good.

More precisely, we want to use survey to have list of dictionnaries as input variable fo

[2020-02-27 14:08] mabashian commented on #5819
Once the form work is merged this should be ready to go

[2020-02-27 14:23] jakemcdermott opened #6107 "Column staggering on unified jobs lists"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
- have a few jobs with varied permissions and job types

##### EXPECTED RESULTS
- columns are aligned

##### ACTUAL RESULTS
![Screenshot from 2020-02-27 09-21-12](https://user-images.githubusercontent.com/9753817/75453870-8efed380-5942-11ea-8618-ed32c404abbb.png)

[2020-02-27 14:27] amans-git commented on #5473
Same after upgrading from 8.0.0 to 9.2.0.
Any update ?

[2020-02-27 14:50] sonofalder commented on #6042
We run thousands of requests at a time in our environment. There have been cases where an endpoint (ex: Our Foreman Endpoints) hit a request limitation. We use Foreman to enable/disable traffic on our load balancers among a large sum of other things while doing builds/rebuilds. If we were to have an option to delay connections by milliseconds and have some way of limiting the amount of connections

[2020-02-27 15:36] jakemcdermott commented on #6102
This is working correctly.

The client doesn't validate first or last name length. The errors shown in the screenshots are from the API:

![Screenshot from 2020-02-27 10-35-33](https://user-images.githubusercontent.com/9753817/75459179-ffaaed80-594c-11ea-89d4-2672e1a2aacd.png)

[2020-02-27 15:37] dsesami commented on #6091
Confirmed that the associating an inventory from the hosts list now works correctly.

[2020-02-27 15:37] #6091 closed, assigned to mabashian, dsesami

[2020-02-27 15:50] wenottingham commented on #6042
I think for this the most we would do is a potential 'max_simultaneous' setting. Adding delays gets complicated when task scheduling, delegation to isolated notes, and capacity management comes into play.

[2020-02-27 17:03] ryanpetrello commented on #5617
@xTrekStorex I've done some testing on my end and am feeling good about my PR.  If I hear back from you in the coming days (that you're unable to reproduce with my patch), I'll probably merge https://github.com/ansible/awx/pull/6093 and incorporate it into the next AWX release.

[2020-02-27 17:34] unlikelyzero commented on #6102
@jakemcdermott i'll update the description to better describe the expected usability improvments

[2020-02-27 18:51] sonofalder commented on #6043
Interesting, I was testing this a few weeks ago and was not having things behave that way. I just tested it with using the simple pause module and did not have any issues. We are patching in our Openshift environment this week and early next week. We are going to swap priority over to our other data center. I am going to make it a point to put a few jobs out there and test when we cut things back

[2020-02-27 18:58] sonofalder commented on #6042
That definitely helps (max_simultaneous) a lot too. Reducing the amount of simultaneous connections still gives us a way of being able to add some kind of limitation. Obviously we would have to do some playing around with what works with our environment, but it would be a big step forward for what we are looking to do. Does the detail for a delay not get stored in a database that each pod can read

[2020-02-27 19:12] keithjgrant opened #6111 "Change search filter chips to show label rather than value"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In a search filter with a dropdown of options (e.g.: Inventory Source Sync in workflow node), the search options are defined by sets of values + labels. The labels show in the dropdown, but the values are shown in the selected chips.

For example, in the following screenshot, chips should read "Amazon EC2", "Manual", and "File, Directory, or Script":

[2020-02-27 19:40] jlmitch5 opened #6113 "Update relevant credential form fields from text area to file picker"
the File Picker component is slated for the early March release of PF-react.  Once it is released, we should update the text area based fields (private and public SSH key) to this component.

[2020-02-27 19:53] jlmitch5 commented on #6092
@wenottingham trying to figure out if this is wanted for 4.0.

Currently we utilize the textual-buttons, and a non-labeled checkbox.

The design is implemented in that branch, what is left is moving the various list to pass the correct props for being able to show the # selected label (current page size, and current selected size), as well as deleting the isAllSelected prop (as in that branch we n

[2020-02-27 20:06] wenottingham commented on #6092
If the icon-based buttons match both a) pre-PF Tower b) other PF apps, we should do that.

[2020-02-27 20:20] AechLyons commented on #2354
Also experiencing this AWX 9.2.0 (via docker deployment) with postgres database running on its own

[2020-02-27 20:21] AechLyons commented on #2354
I'll try restarting the awx_task container

[2020-02-27 22:00] xTrekStorex commented on #5617
I don't want to jinx it but in the past 24 hours I have **not** encountered the issue again.
Everything ran and keeps running, schedules work - no complaints.
I don't intend to switch back to the official Docker image anytime soon so I'll just leave your PR running.

What I noticed though is that workers seem to be recreated a lot more often now.
When I still encountered the issue the sent and fin

[2020-02-27 22:06] ryanpetrello commented on #5617
@xTrekStorex do you have something on a schedule that's running over, say, the weekend?

With the old 9.2.0 image, were you having trouble encountering the issue often (more than, say, once per day?)

I'm not ready to call this solved, but if you're convinced with a before/after, I'm likely to merge my PR early next week.

[2020-02-27 22:09] xTrekStorex commented on #5617
I encountered the issue every 2-6 hours.

There are no major changes planned for the weekend however my workflow runs continuously 24/7, every 20 minutes with a runtime of ~18 minutes to enforce configuration state (I moved to AWX from the Puppet world - it's a habit). So it will create and run plenty of jobs if that is what you're asking.

[2020-02-27 22:48] ryanpetrello commented on #5617
@xTrekStorex thanks for helping us test this, I'll check back in with you next week 👍

[2020-02-28 00:03] danielepesciallo opened #6118 "Feature: Add Gitea OAuth2"
##### ISSUE TYPE
 - Feature Idea
##### COMPONENT NAME
- UI
- API

##### SUMMARY
I think that can be a good idea add support for Gitea OAuth2 (exactly like GitHub or Google)

[2020-02-28 02:55] garamirseokim commented on #1229
**Request to add advanced schedule options in Tower**

SUMMARY
Some users are requesting one of below options in Tower.
1. cron-style timing configuration: Allow for cron-style detailed timing configuration
2. blackout option on Tower UI: Keep the current UI but have a global "blackout" window in which Ansible won't start new schedules.

ISSUE TYPE
Feature Idea

COMPONENT NAME
UI / API

ADDITIONAL

[2020-02-28 02:56] AlanCoding opened #6119 "Transient error in pre_run_hook when workflow spawns multiples of same JT"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Create a workflow that looks like this:

![Screen Shot 2020-02-27 at 9 53 53 PM](https://user-images.githubusercontent.com/1385596/755063

[2020-02-28 02:57] garamirseokim commented on #1229
**Request to add advanced schedule options in Tower**

SUMMARY
Some users are requesting one of below options in Tower.
1. cron-style timing configuration: Allow for cron-style detailed timing configuration
2. blackout option on Tower UI: Keep the current UI but have a global "blackout" window in which Ansible won't start new schedules.

ISSUE TYPE
Feature Idea

COMPONENT NAME
UI / API

ADDITIONAL

[2020-02-28 04:15] soniya20 commented on #5522
1.

[2020-02-28 14:04] Elyytscha opened #6122 "[CLI] add the ability to specify a description for tokens generated with `awx login`"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 9.0.2
* AWX install method: docker-compose
* Ansible version:  2.9+
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

use cli like the following:
`awx --conf.username user --conf.password password tokens create test --scope write --description "automated token generation" -k`

##### EXPECTED RESULTS

succes

[2020-02-28 14:47] Elyytscha commented on #6122
my current workaround is to use awx login and do delete every token with desc "Tower CLI" after ci/cd tower job has run but that means if someone has created an Oauth token via awx login by hand, the next ci/cd run will remove this token if ci/cd is triggered lokal with the users ad user which created first the token

[2020-02-28 15:29] ryanpetrello commented on #6122
Are you just trying to generate an OAuth2.0 token, given some username and password?

https://docs.ansible.com/ansible-tower/latest/html/towercli/authentication.html#generating-a-personal-access-token

[code]

[2020-02-28 15:29] ryanpetrello commented on #6122
[code]

[2020-02-28 15:46] Elyytscha commented on #6122
as i already said, awx login has no option to specify the description of the token

so i can hang up on description = "Tower CLI" because this is the description awx login is adding

but that means that if i remove the autogenerated OAuth Tokens after ci/cd finished the tower job, i will remove all OAuth Tokens for the user with description == "Tower CLI"

so if a user triggers a manual awx login

[2020-02-28 16:00] Elyytscha commented on #6122
what i do is basically the following:

[code]
so if i use awx login lokal to get a token
using this token to deploy via token method --> will work
if i deploy via username/password method --> will work
now all tokens with description "Tower CLI" will get removed
if i deploy now via token (like the first time) token is removed and deployment fails

thats why i want a method to issue a valid oauth t

[2020-02-28 16:01] marshmalien commented on #6070
Possibly related: https://github.com/patternfly/patternfly-react/pull/3758

[2020-02-28 16:03] ryanpetrello commented on #6122
Ah, so you just want to customize the description for the generated token?

[2020-02-28 16:04] Elyytscha commented on #6122
yep that would be a fix for my usecase, sorry for my bad first approach to explain the problem

but also a fix would be to make "awx tokens create" support --conf.username TEXT --conf.password TEXT

AND i wanted to point out that, maybe this behavior needs a rethink:
10x awx login will produce 10x a new Oauth token (to bruteforce // guess // hack 1 valid token from 10 is easier then to bruteforce

[2020-02-28 16:15] ryanpetrello commented on #6122
Generally speaking, we don't intend people to *constantly* run `awx login` and generate a new token; rather, it's better to use `awx login` *once* to generate (and store) a token, which you reuse.

I think this PR might give you what you need.  Mind giving it a shot?

https://github.com/ansible/awx/pull/6124

[2020-02-28 16:49] kdelee commented on #5155
@elyezer sounds like we might have problem about the `Test` button functionality w/ the logging -- @ghjm raised valid concerns

[2020-02-28 18:04] wenottingham commented on #1229
cron-type schedules are not planned.

[2020-02-28 18:08] ryanpetrello commented on #6118
duplicate of https://github.com/ansible/awx/issues/5839

[2020-02-28 18:09] ryanpetrello commented on #6118
Oh, I see, this is to add support for OAuth2.

[2020-02-28 18:18] jakemcdermott commented on #6065
The use case you're describing uses the no-longer-supported `credential` key. The example provided by @wenottingham would be the way to do this.

The replace vs merge behavior is by design and not something that is likely to change.

[2020-02-28 18:18] #6065 closed, assigned to nobody

[2020-02-28 18:33] jakemcdermott commented on #5971
Thanks for the info, moving this to needs_devel.

[2020-02-28 18:40] AlexSCorey opened #6126 "Organization Look up refactor"
##### ISSUE TYPE
-bug
##### SUMMARY
OrganizationLookup throws error

##### ENVIRONMENT
* AWX version: 2.9
* AWX install method:  docker for mac
* Ansible version:  9.2
* Operating System:Mojave
* Web Browser:Chrome

##### STEPS TO REPRODUCE
Go to WFJTDetails (when https://github.com/ansible/awx/pull/5841 merges) and click edit.

##### EXPECTED RESULTS
Expect the edit form to load with no errors in

[2020-02-28 18:49] blomquisg commented on #5822
related #5155

[2020-02-28 18:50] ryanpetrello commented on #5822
cc @elyezer this is something we could probably give a gut check once @rooftopcellist's work merges.

[2020-02-28 18:56] chey commented on #2982
We are using 9.2.0 and experiencing something like this. We have it pinned down to **Workflow Jobs** and **Scheduled Jobs** that are not sending notifications when using a Webhook.

[2020-02-28 19:05] blomquisg commented on #5571
@jladdjr check if this is fixed with your inventory plugin work

[2020-02-28 19:30] ryanpetrello commented on #4008
@AlanCoding is there actually any tangible work here besides "merge https://github.com/ansible/awx/issues/3903" ?

[2020-02-28 19:52] AlanCoding commented on #4008
No other work AFAIK. Recap of status:

 - in JT.organization work, uniqueness is loosened from `(name,)` to `(organization, name)`
 - in that PR, named URL grows an additional JT-specific shim to support old URLs
 - even so, we would have to yell about it loudly in release notes

[2020-02-28 19:57] jladdjr commented on #5571
Just ran through the steps to reproduce and I'm also finding that an inventory w/ two satellite inventory sources doesn't have the number of hosts I'd expect (a simple sum of the number of hosts returned by each inv. source). Digging to see what's going on. Wondering if this issue is specific to foreman or if it's a more general issue w/ awx inventories / inv. sources.

Note: In my testing, I used

[2020-02-28 21:24] jlmitch5 commented on #5480
After talking with @trahman73, we've decided to keep the same ux in terms of checking a new box will uncheck others with that vault ID.  We'll add the note "Note: You cannot select multiple vault credentials with the same vault ID.  Doing so will automatically deselect the other with the same vault ID." at the top of the modal in the info version of this https://www.patternfly.org/v4/documentation

[2020-02-28 21:44] squidboylan opened #6128 "AWX Collection user and role modules break when creating or updating an existing object"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
#### Collection
Updating an object without a `name` field breaks, which also breaks idempotency. Probably because of: https://github.com/ansible/awx/blob/devel/awx_collection/plugins/module_utils/tower_api.py#L534

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.4
* Operating System: ubuntu 18.04

##

[2020-02-29 14:19] sanderplug opened #6131 "AWX pods on minishift end up in CreateContainerConfigError"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I followed the instructions as documented here: https://opensource.com/article/18/10/how-run-awx-minishift on my Windows 10 (pro) laptop to install AWX. All minishift instructions were done in windows powershell. The Ansible installation was done in Ubuntu 18.04 onder WLS.

The postgress pod is starting normally. However the other pods do not start Cre

[2020-02-29 14:50] ryanpetrello commented on #6131
Hey @sanderplug,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-02-29 14:50] #6131 closed, assigned to nobody

[2020-03-01 16:58] amard33p commented on #3102
Got the same issue while creating a project using awx cli:

[code]

Although the project gets created successfully.

[2020-03-02 10:12] blaisemichel commented on #5617
hello after update of friday my awx is already hang

(InteractiveConsole)

...     import time
...     from awx.main.utils.pglock import advisory_lock
...     time.sleep(1)
...     with advisory_lock('task_manager_lock', wait=False) as acquired:
...         return acquired
...

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

[2020-03-02 12:18] r1k0 commented on #6105
meanwhile, we found a workaround.

We use the extravar box prompt in the template. We set it as:

[code]
When run, user gets prompted and can paste the data structure.

Still, it'd be good if one could use a list of dict as input for textarea survey without parsing it to yaml on the playbook side.

[2020-03-02 14:16] wbieniek opened #6132 "AWX 9.2 stops processing jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX stops processing/accepting new callback jobs,pending jobs grown to 5K in few hours. There is no running jobs.
We have 6K servers in AWX with callbacks configured to check back every 6 hours.
Only way to fix it is to delete all pending jobs and processing will start again for few hours, then stops again.

##### ENVIRONMENT
* AWX version: 9.2
* AWX i

[2020-03-02 14:20] ryanpetrello commented on #5617
@blaisemichel,

I've got a PR which I suspect will resolve this issue:

https://github.com/ansible/awx/pull/6093

@xTrekStorex,

Any updates on your end after a weekend of running periodic jobs?

[2020-03-02 14:21] wbieniek commented on #6132
We also have stage AWX 9.2 deployment on OpenShift with 2 pods and 60 hosts under management and we never experience any issues there.

[2020-03-02 14:21] ryanpetrello commented on #6132
Duplicate of https://github.com/ansible/awx/issues/5617

[2020-03-02 14:21] #6132 closed, assigned to nobody

[2020-03-02 14:22] ryanpetrello commented on #6132
@wbieniek,

If you're interested, I'm looking for people to check if https://github.com/ansible/awx/pull/6093 resolves the issue for them (a few people - including one in issue #5617 - have reported promising results).

[2020-03-02 15:07] xTrekStorex commented on #5617
All good. Not a single hung job.

[2020-03-02 15:08] fischerdr commented on #5617
All, is there a way to monitor the job stuck issue and restart the stuck task container?

[2020-03-02 16:05] wbieniek commented on #5617
You can monitor with API
https://"tower host URL"/api/v2/unified_jobs/?status=pending
not sure how to find out which pod has stucked container

[2020-03-02 16:53] mabashian commented on #5996
I went ahead and addressed this in #4967

[2020-03-02 17:02] mabashian commented on #5930
I _think_ that this must have gotten fixed somewhere along the way because I no longer see an error in the console when opening up credentials lookup(s).

[2020-03-02 17:06] elyezer commented on #3968
This has been around for quite some time and no issues on installing or upgrading related to the pip and setuptools upgrade has been raised.

I've done a recent install (last Friday) and no issues where found.

With that said we can consider this as being verified.

[2020-03-02 17:06] #3968 closed, assigned to elyezer, Spredzy, AlanCoding, fosterseth

[2020-03-02 18:39] xTrekStorex commented on #5617
@fischerdr Instead of an alert handler based workaround you could either apply the above mentioned patch manually like I did or downgrade to AWX 9.1.1 if that's an option for you until the fixed release becomes available

[2020-03-02 18:44] ryanpetrello commented on #5617
My recommendation would be what @xTrekStorex said - either apply the patch directly (it's just merged into `devel` a short while ago), or wait for the next release of AWX (I'm planning to cut a new minor release at some point in the next week with this fix).

I don't suspect that detecting and working around this bug is worth the effort, personally.

[2020-03-02 18:55] fischerdr commented on #5617
So 9.1.1 is ok to deploy, till new version is out?

[2020-03-02 18:56] ryanpetrello commented on #5617
@fischerdr to the best of my knowledge, this was a regression introduced in 9.2.0, and I've heard several people report that 9.1.1 doesn't suffer from this bug.

[2020-03-02 19:01] jamesmarshall24 opened #6134 "Remove fallback behavior when an IG is defined on JT or inventory"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

- Instance groups are required to be assigned to the node pool to delegate the ability to assign to other organization objects
- Due to how instance groups fallback for capacity from job template -> inventory -> organizations, any nodes which are out of capacity at any of these levels will inherit all nodes in the organization pool
- If you only add

[2020-03-02 19:50] linuxcube commented on #4855
I am encountering the same issue with 9.2.0...can someone provide some assistance on this issue.

[2020-03-02 20:08] mabashian commented on #5930
In order to trigger this there has to be at least one credential in the lookup.

[2020-03-02 20:10] mabashian commented on #5930
Planning to include a fix for this in #5841

[2020-03-02 20:12] FenixVale opened #6135 "Information Request - OS Support"
##### ISSUE TYPE
 - Information Request

##### SUMMARY
I haven't been able to find a definitive answer on this. Since AWX is just the upstream variant of Ansible Tower, I wanted to confirm whether AWX still supports Ubuntu as a distribution choice for deployment, despite Tower no longer supporting it.

I ask since CentOS was currently my choice for deploying, but has proven to be exceptionally mor

[2020-03-02 20:26] dsesami commented on #5996
conferred with @mabashian on this. There was a miscommunication, and this has not been implemented. bouncing back to needs_devel

[2020-03-02 20:40] jakemcdermott commented on #6135
AWX deployments run on docker or kubernetes so there isn't really a specific distro needed on the machine you deploy it to.

If you're using the [docker-compose](https://github.com/ansible/awx/blob/devel/INSTALL.md#docker-compose) installation method, just make sure the host meets all the pre-reqs listed in the documentation.

[2020-03-02 20:40] #6135 closed, assigned to nobody

[2020-03-02 21:02] linuxcube opened #6136 "AWX 9.2 - VMware dynamic inventory error on refresh"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running the vCenter dynamic inventory job to refresh the inventory objects within AWX and error occurs.

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.3
* Operating System: RHEL 7.7
* Web Browser: Chrome, Firefox, IE

##### STEPS TO REPRODUCE

When running Dynamic inventory job to update the v

[2020-03-03 10:14] mdobrzyn opened #6137 "AWX Grafana notification is not working"
##### ISSUE TYPE
 - AWX Grafana notification is not working

##### SUMMARY
The system is not able to send a notification to Grafana. Every time I receiving "Failed to start". Logs of awx_task container there are logs likes this:
- test notification

[code]

- notification from job

[code]

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Oper

[2020-03-03 10:17] nicolaibaralmueller opened #6138 "AWX 9.2 vmware_inventory.py TLS v1 not supported"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

It is not possible to connect to vmware vsphere (TLSv1) since at least AWX version 8.

TLSv1 needs to be enabled/supported!

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.5

##### ACTUAL RESULTS

Output when synching with vsphere:

(It complains about username or password but that is a wrong error

[2020-03-03 12:45] sravany616 opened #6139 "Instructions on using an isolated node issue"
##### ISSUE TYPE
 Please provide step by step procedure to configure isolated node as per "Instructions on using an isolated node" https://github.com/ansible/awx/tree/devel/tools/docker-isolated

##### SUMMARY
https://github.com/ansible/awx/tree/devel/tools/docker-isolated does not have proper procedure to configure isolated node which can understand by beginner. Please help with a documentation w

[2020-03-03 12:47] kakawait commented on #5617
I have the same exact issue.

What I did to patch my container:

1. Create folder `./patches/9.2.0` and add files from https://github.com/ansible/awx/pull/6093/files
2. Mount volume inside container using `docker-compose` `volumes` syntax
3. Override `command` to hook my how script before launching service

[code]

I just patched today, I'll see if it works with time

---

**Edit** Since I've patc

[2020-03-03 12:50] ghost opened #6140 "Ansible facts from AWX fact cache are flushed itself"
##### ISSUE TYPE
 - Ansible facts from AWX fact cache are flushed itself for many servers in inventory.

##### SUMMARY
We are using "ENABLE FACT CACHE" to cache facts for all servers in AWX inventory.
However we noticed twice that facts were no longer present for many servers but available for only few servers and our scheduled job starts failing.

##### ENVIRONMENT
* AWX version: 9.1.0
* AWX inst

[2020-03-03 14:03] ryanpetrello commented on #6139
@sravany616 containerized AWX installs don't support isolated node execution:

https://github.com/ansible/awx/issues/1207

[2020-03-03 14:03] #6139 closed, assigned to nobody

[2020-03-03 15:03] wenottingham commented on #6138
You'd likely need to set a crypto profile on the container image; you'd need to rebuild the image.

See https://github.com/ansible/awx/issues/6039 for a similar case.

[2020-03-03 15:03] #6138 closed, assigned to nobody

[2020-03-03 15:33] kdelee commented on #6122
works for me, closing

[2020-03-03 15:33] #6122 closed, assigned to kdelee

[2020-03-03 15:33] dsesami opened #6141 "Permalink to parent inventory on host details page is wrong"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Visit the host details page for any inventory host. Click the link to visit its parent inventory. The ID visited is that of the host, not of the inventory. For example, if the host is at `/#/hosts/10`, and the inventory is at `/#/inventories/inventory/42/details`, the hyperlink on the host details page takes you to `/#/inventories/inventory/10/details`

[2020-03-03 15:41] elyezer commented on #6082
Sorry for the delay but this capture it. Thank you @unlikelyzero

[2020-03-03 16:00] kdelee commented on #5920
This also works for me, closing!

[2020-03-03 16:00] #5920 closed, assigned to kdelee

[2020-03-03 17:18] marshmalien opened #6142 "Inventory Group Nested Hosts - Add New Host Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

* Create route and form for a new inventory group host
* Hook route up to inventory group host list "Add New Host" dropdown item
* Cancel navigates back to inventory group host list
* Save navigates to inventory host detail
* Error Handling
* I18n

Pathname: `/inventories/:inventory_type/:inventory_id/groups/:group_id/nested_hosts/add`
Breadcrumb: I

[2020-03-03 17:23] marshmalien opened #6143 "Inventory Group Nested Hosts - Associate Existing Host Modal"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Inventory Group Nested Host List:
* Show host association modal when a user clicks to add an existing host from dropdown
* Multi-select host list
* Save and Cancel returns user to inventory group host list view
* Error handling  - Alert modal?

Old UI for reference:
<img width="876" alt="Screen Shot 2020-03-03 at 12 21 16 PM" src="https://user-image

[2020-03-03 17:39] AlexSCorey commented on #6126
Turns out this issue was not really a bug. closing.

[2020-03-03 17:39] #6126 closed, assigned to AlexSCorey

[2020-03-03 17:52] ryanpetrello commented on #6137
@mdobrzyn thanks for reporting this - I've got a PR up that should address the issue:

https://github.com/ansible/awx/pull/6145

[2020-03-03 19:38] ryanpetrello commented on #5935
Needs to be `.fact`, not `.facts`.

[2020-03-03 20:26] marshmalien opened #6150 "Inventory Group Nested Hosts - Disassociate Host Button"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Inventory Group Nested Host list
* Hookup "Disassociate" host button to list toolbar
* UX is similar to deleting a list item
* Cancel and Disassociate should navigate you back to the inventory group host list
* Error handling

Old UX for reference
<img width="966" alt="Screen Shot 2020-03-03 at 3 24 09 PM" src="https://user-images.githubusercontent.

[2020-03-03 20:42] jakemcdermott opened #6151 "credential types can be missing from template credential multiselect"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
- Make a few custom credentials.
- Navigate to JT and look for missing cred types in the multicredential lookup.

In the example below, the vault credential type is missing.
![novault](https://user-images.githubusercontent.com/9753817/75817654-8a348800-5d65-11ea-8898-ea145c305a2d.gif)

[2020-03-03 21:34] kdelee commented on #6137
Set up grafana locally and pointed my awx to it, reproduced error on old version, and then updated to newest code that contains fixes and now able to test notifications and confirmed events arrive. Closing.

[2020-03-03 21:34] #6137 closed, assigned to ryanpetrello, kdelee

[2020-03-03 21:45] kdelee commented on #6137
I do want to mention there is the remote possibility that we could deploy grafana to k8s like we are doing for some services, and then we would need to integrate w/ grafana API to generate an api key and set up ability to verify the arrival of events. If that were ever to be desired, I estimate it would take several days to figure it all out.

[2020-03-03 21:55] emad-ramlawi opened #6153 "Show the actual ansible command being run"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hi, I tried to making Verbose level 5 to show more output, I wish to see the actual ansible command getting run and not just the output of it.

Many thanks.

[2020-03-03 22:04] ryanpetrello commented on #6153
Hey @emad-ramlawi,

The job output UI doesn't display this, but it's easy to view from the API itself:

`/api/v2/jobs/N/`

![image](https://user-images.githubusercontent.com/214912/75824144-fec0f400-5d70-11ea-8fee-374a2ff21878.png)

[2020-03-03 22:04] #6153 closed, assigned to nobody

[2020-03-03 22:47] ArpStorm1 commented on #3956
I ran into the same issue. In my case it was a permission problem - the installer tried to access some folders which it didn't has write permission. Setting the `custom_venv_dir ` and the `project_data_dir` to other folders fixed the problem

[2020-03-04 07:15] nicolaibaralmueller commented on #6138
Thanks. That solved the issue. I hope there will be an inventory setting for this in future releases.

[2020-03-04 07:56] Elyytscha commented on #6122
how do you ensure that an ldap user which got disabled yesterday is not able to use awx with a token he ingested last week?

the only safe way at the moment to ensure that the user has valid rights for using awx is to log him in via username // password in an ldap setup

(i tested the patch with a custom dockerfile which applys those changes via sed onto the dockerhub images, also works for me)

[2020-03-04 08:04] xTrekStorex commented on #5617
Just a little more feedback:
My awx_task container was recreated last night and the issue returned again shortly after. Patching the (new) container again fixes it - again.
I could build a fixed image or modify the image command like @kakawait did to patch it persistently but since a fixed release is coming I just do the following (in case someone just wants to try the patch without any extra volu

[2020-03-04 10:14] vvxxvvxx commented on #4675
The same issue happened in AWX 9.2.0.
[code]

but if using ansible-playbook to run the playbook which doesn't have the role defined/called, the playbook runs successfully.

the ansible.cfg can be read, but the roles_path defined in the ansible.cfg seems being ignored.

[2020-03-04 12:14] AlanCoding commented on #4675
^ check if you have a global config, which could mean you're hitting https://github.com/ansible/awx/pull/6038

[2020-03-04 13:06] amarza-rh commented on #578
Hi, are there any plans to pursue this?

[2020-03-04 13:15] sravany616 commented on #1207
Thanks for the update.
Can you please provide the documentation to install AWX that supports isolated node configuration.

[2020-03-04 13:15] sravany616 commented on #6139
Can you please provide the documentation to install AWX that supports isolated node configuration.

[2020-03-04 13:18] sravany616 opened #6157 "documentation to install AWX that supports isolated node configuration."
##### ISSUE TYPE
Can you please provide the documentation to install AWX that supports isolated node configuration. as this https://github.com/ansible/awx article does not supported isolated node. please you provide other documentation that supports isolated node.

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boo

[2020-03-04 13:29] rmanibus opened #6158 "HashiVault Token external credential"
##### ISSUE TYPE
 - Feature Idea

It would be useful to have an external credential able to create a hashicorp vault token type with specified capabilities and ttl.
This way we can have a master token in AWX and create short lived token to inject in playbook.

##### SUMMARY

[2020-03-04 14:09] rmanibus commented on #6158
see #6159

[2020-03-04 14:22] dsesami commented on #4243
I think this is is manifesting as a cycle where the user is stuck on the dashboard and it says "Unable to retrieve configuration" now. The possible only way to escape it is either manually logging out before responding to the modal, or just visiting /api and going through the api login.

[2020-03-04 14:26] dsesami opened #6160 "Resource lists labeling"
##### ISSUE TYPE
- Feature request

##### SUMMARY
For example, here is the projects list:
![Screenshot from 2020-03-04 09-14-58](https://user-images.githubusercontent.com/19942822/75888739-d6310c80-5df9-11ea-8342-ab48b6aa0918.png)

The git revision and SCM columns aren't terribly clear without previous knowledge of Git and AWX functionality. The information presented should be labeled or its purpo

[2020-03-04 15:17] dsesami opened #6162 "Webhook key and credential fields should be visible before creation."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, the webhook key and URL fields are available only when editing a form, and _after_ saving a new form. They're invisible otherwise. This was a somewhat confusing pattern with the old UI as well. It would be good to show what is populated beforehand, to bring it in line with the edit form.

For example, when editing a webhook, we receive thi

[2020-03-04 15:30] kdelee commented on #5822
This won't be fixed until https://github.com/ansible/awx/pull/6108 gets merged, so we have to validate in that branch

[2020-03-04 15:44] dsesami opened #6163 "Enable Webhook option in JT and WFJT forms should read "Enable Webhooks""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
See Title

##### STEPS TO REPRODUCE
1. Visit a Job Template or Workflow Job Template page
2. View the add and edit forms for each.

##### EXPECTED RESULTS
The option, as well as its corresponding tooltip and aria-label all read "Enable Webhooks", the plural form.

##### ACTUAL RESULTS
"Enable Webhook", without the "s".

[2020-03-04 15:48] #5813 closed, assigned to AlexSCorey

[2020-03-04 15:49] #5930 closed, assigned to AlexSCorey

[2020-03-04 16:14] linkeal commented on #5759
Yes it is self-signed and the CA is mapped into the container and also defined in the gitconfig.
I have now worked around the problem via `ssl_verify = false` in the gitconfig. Probably not even related to AWX but rather the docker base image and its components like git / ca-certificates etc.

[2020-03-04 16:14] #5759 closed, assigned to nobody

[2020-03-04 17:34] marshmalien opened #6164 "Swap custom CardActionsRow with PF ActionList component"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
To properly align and space the card action buttons, we apply style overrides by wrapping the buttons with CardActionsRow. PatternFly Core has a proposal for an ActionList component that we _could_ use to horizontally group action buttons in a Card, List, etc.

This is issue will require some investigation to see if the new component would serve our pu

[2020-03-04 19:22] ryanpetrello commented on #6139
@sravany616

There _are_ no instructions; it isn't supported in the AWX installer.

If we add support at some point, the work will be tracked at:

https://github.com/ansible/awx/issues/1207

[2020-03-04 19:23] ryanpetrello commented on #6157
https://github.com/ansible/awx/issues/6139#issuecomment-594771999

[2020-03-04 19:23] #6157 closed, assigned to nobody

[2020-03-04 19:33] msilmser opened #6165 "RFE: awx-cli job monitor command"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add a monitor parameter to the job resource with cli to be able to monitor currently running jobs. Currently, it is only possible to monitor a job a launch with the --monitor flag.

(similar to https://tower-cli.readthedocs.io/en/latest/api_ref/resources/job.html#tower_cli.resources.job.Resource.monitor)

[2020-03-04 19:37] kdelee commented on #4418
I used above examples to create two jobs that relied on the same project update, set to update on launch, but have two distinct inventories, one that always fails on update and another that always succeeds.

I worked through the reproducer as well as various other combinations of running the jobs and inventory and project updates.  In no case did I see a failing inventory update for JT Y that uses

[2020-03-04 19:37] #4418 closed, assigned to kdelee

[2020-03-04 20:39] wenottingham commented on #578
If work happens on this, it will appear here. Not planned for the very near term.

[2020-03-04 20:43] kedark3 commented on #5946
I am trying to work on creating survey for workflow as well, and I am not sure if I am using correct format, but it fails for me. Can provide more info if needed.  I am using Yaml format for survey spec.

[2020-03-04 20:48] kedark3 opened #6167 "`tower_workflow_template` module fails in parser for `extra vars`"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
While using `extra_vars` with `tower_workflow_template` module, it fails to parse the variables.

##### ENVIRONMENT
* Tower version: 3.6.2
* AWX install method:  linux using bundle
* Ansible version:  2.9.1 on Tower, 2.9.2 on my local system from where I run the playbook
* Operating System: not relevant I believe
* Web Browser: N/A

##### STEPS TO REPR

[2020-03-04 20:48] kedark3 commented on #6167
A possible fix that I tested and worked well for me was like this: https://github.com/ansible/tower-cli/pull/748

[2020-03-04 21:06] kedark3 opened #6168 "Using workflow within another workflow, results in `Deleted` Node - when using tower_workflow_template ansible module"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using a workflow within another workflow, results in `Deleted` Node - when using tower_workflow_template ansible module to create workflows on Ansible Tower.

##### ENVIRONMENT

* Tower version: 3.6.2
* AWX install method: linux using bundle
* Ansible version: 2.9.1 on Tower, 2.9.2 on my local system from where I run the playbook
* Operating System: no

[2020-03-04 21:24] beeankha commented on #5946
@kedark3 Yes if you could please provide more info, that's always helpful!

The `tower_workflow_template` module will be getting converted in the upcoming weeks to not rely on `tower-cli` logic (since `tower-cli` is being deprecated), so we'll be looking into this issue while that conversion takes place.

[2020-03-04 22:01] kdelee commented on #5044
Finally got back to this, thanks for the clarification. LGTM, did inventory sync and then applied the tag filter and selected overwrite options, saw that hosts not matching filter were removed, leaving only those that matched it. Good work.

[2020-03-04 22:01] #5044 closed, assigned to fosterseth, kdelee

[2020-03-04 22:21] kdelee commented on #5935
Tried this out with the host in question being localhost in the development environment. I am still running code before your fix and I'm not seeing the bug. Might need some help to reproduce

[2020-03-04 22:24] mabashian opened #6171 "Add Edit/Delete buttons to JT Schedule Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Link to mockups: https://tower-mockups.testing.ansible.com/patternfly/templates/templates-schedules-detail/

Decided to peel this out of https://github.com/ansible/awx/pull/6170 to make for smaller PRs

[2020-03-04 22:26] mabashian opened #6172 "Add Variables Field to Schedule Details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Link to mockups: https://tower-mockups.testing.ansible.com/patternfly/templates/templates-schedules-detail/

I peeled this out of https://github.com/ansible/awx/pull/6170 because I think it's going to require us to extend the codemirror components to support an initial value of `{}`.  I believe those components are currently expecting a string.  I di

[2020-03-04 22:36] mabashian opened #6173 "Repeat Frequency Field UX in Schedule Detail"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1361" alt="Screen Shot 2020-03-04 at 5 27 15 PM" src="https://user-images.githubusercontent.com/9889020/75928995-9d1a8b80-5e3d-11ea-9081-9f477bb66380.png">

For the sake of simplicity, rather than attempting to display all of these fields (we'd have to pull all of this out of rrule):

<img width="1485" alt="Screen Shot 2020-03-04 at 5 30

[2020-03-05 00:27] kedark3 commented on #5946
@beeankha thanks. Here's my code snippet of data I am passing on to the module:
[code]

Also do we have a timeline for changes you mentioned in your comment?

[2020-03-05 05:33] yagashiraevil commented on #3267
![image](https://user-images.githubusercontent.com/26820733/75951043-bcacc500-5ecc-11ea-966b-4cb04414b8a8.png)
I am getting this when runing on remote machine i just install awx 9.2

[2020-03-05 05:40] yagashiraevil opened #6175 "AWX 9.2 python 3.6 error"
##### ISSUE TYPE
 - Unable to run linux playbooks, geting this issue
![image](https://user-images.githubusercontent.com/26820733/75951128-f382db00-5ecc-11ea-9cf7-7f591e0e2835.png)

##### SUMMARY
Installed a new centos 7.7 machine with python 3 as default interpeter
[root@awx awxcompose]# alternatives --config python

There are 2 programs which provide 'python'.

  Selection    Command
------------

[2020-03-05 06:47] vvxxvvxx commented on #4675
Same error occurred even after updating the codes to the latest (#6038 included)...

[2020-03-05 12:00] LohitashwaIBM commented on #6075
Is there a tentative timeline by which this feature will be addressed ?

[2020-03-05 12:03] LohitashwaIBM opened #6177 "Ansible Tower to support Windows Edge Browser"
- Feature Idea
Support for Ansbile Tower with Windows Edge Browser.

##### SUMMARY
Several of our customers are using Windows Edge Browser and want support of Ansbile Tower with Windows Edge Browser. This feature request is for supporting Windows edge browser with Ansible Tower.

[2020-03-05 14:02] ryanpetrello commented on #6175
@yagashiraevil,

Could you copy and paste the full contents of the "Error Details" from your screenshot?

[2020-03-05 14:06] wenottingham commented on #6075
No one is working on this at this time.

[2020-03-05 14:08] wenottingham commented on #6177
This will be addressed in the new UI, where we will follow our upstream UI guidelines:
`PatternFly 4 supports the latest two versions of Edge, Safari, Firefox and Chrome.`

[2020-03-05 14:43] Ladas commented on #5931
@rooftopcellist @ryanpetrello I can do this one, I just need opinion from you:

To get the source_workflow_id (now workflow_job_id), we need to do join to job_nodes https://github.com/ansible/awx/blob/47383e05d639795fd23b90f463dd2154efa79870/awx/main/models/unified_jobs.py#L1161

The join might be quite expensive, since the job_nodes table can be quite big? So we can just send the job_nodes table

[2020-03-05 15:14] mooky31 opened #6180 "Unable to login behing NGINX reverse proxy"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I set up a NGINX HTTPS reverse proxy to securely access AWX.
I can't login : the UI says invalid username/password

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Debian buster
* Web Browser: Firefox 73.0.1
* Nginx 1.14.2

##### STEPS TO REPRODUCE

Install AWX with docker-compo

[2020-03-05 15:15] ryanpetrello commented on #5935
@kdelee have you turned on fact cache for a JT, and run something like `gather_facts.yml`?

[2020-03-05 15:17] ryanpetrello commented on #6168
Hey @kedark3,

This is almost certainly a bug in https://github.com/ansible/tower-cli, which is deprecated and not supported by the AWX team.

Due to the old CLI and modules' general state of disrepair, we're currently in the middle of writing an official collection to replace these modules with something that we *do* support, but we haven't come up with a solution to the `tower_workflow` `schema`

[2020-03-05 15:18] AlexSCorey opened #6181 "SurveyToolbar and Related Functionality"
##### ISSUE TYPE
-Feature
##### SUMMARY
Add a toolbar to the survey that allows the user to deleteAll, turn survey on and off, and routes the user to the add form.

[2020-03-05 15:19] AlexSCorey opened #6182 "Survey Sort Functionality"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Allow a user to change the survey question order.

[2020-03-05 15:22] AlexSCorey opened #6183 "Survey Preview Functionality"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add functionality for survey preview.
https://tower-mockups.testing.ansible.com/patternfly/templates/templates-survey-preview/

[2020-03-05 15:23] ryanpetrello commented on #6180
Hey @mooky31,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

I know we've got users that have successfully gotten this working with various versions of AWX, and our community is generally happy to provide pointers for troubleshooting this sort of thing.  If you need help troubleshooting an AWX install, try our mailing list or IRC channel instead:

http://webchat.

[2020-03-05 15:23] #6180 closed, assigned to nobody

[2020-03-05 15:55] marshmalien opened #6184 "Inventory host add form doesn't save"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory Host Add form does not save because it thinks the inventory lookup field is required

![bug](https://user-images.githubusercontent.com/15881645/75999126-cb48ab80-5ecf-11ea-9540-544c8c682086.gif)

##### STEPS TO REPRODUCE
* Fill out an Inventory Host Add form
* Save

##### EXPECTED RESULTS
* Form saves and navigates to detail view

##### ACTUA

[2020-03-05 16:01] jlmitch5 commented on #4959
The list has also been added to the WFJT, JT and Project tabs.

[2020-03-05 16:03] jlmitch5 commented on #5888
List has been added, we'll need to add add/edit once that is done.

[2020-03-05 16:03] jlmitch5 commented on #5905
List has been added, we'll need to add add/edit once that is done.

[2020-03-05 16:26] ryanpetrello commented on #6122
https://docs.ansible.com/ansible-tower/latest/html/administration/oauth2_token_auth.html

By default, AWX doesn't allow LDAP users to create tokens for this very reason;  if at all possible, you may want to consider managing explicit service accounts with tokens in your AWX install instead of user/pass auth.

[2020-03-05 16:39] keithjgrant opened #6189 "Convert item lists to Tables"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

We've had to do some careful custom CSS to keep the columns aligned in the data lists (e.g. JobsList, etc). In reality, this is tabular data and should probably be converted to use tables.

##### ADDITIONAL INFORMATION

~~PF Tables are not ready to do this yet. The current API is too cumbersome and not worth the work. Blocked by https://github.com/pat

[2020-03-05 17:13] kdelee commented on #5935
:astonished: ok did the fact cache step but failed on `gather_facts.yml` will try that

[2020-03-05 17:21] kdelee commented on #5935
:exclamation: recreated traceback in log:
[code]

Then updated to latest devel that contains your bug fix, upon running `gather_facts.yml` on same host that has the bad facts, do not see any kind of trace back and facts are stored normally.

Calling this verified. Not planning to automate this test case unless you all think this is high priority, ping if you do.

[2020-03-05 17:21] #5935 closed, assigned to ryanpetrello, kdelee

[2020-03-05 17:45] jakemcdermott opened #6191 "(WFJT | maybe others) tab switching reloads entire panel"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We're not loading / unloading the correct set of components when switching between tabs on some of our views. Best illustrated by comparison - see gifs below.

Regular JT:
![template_tab_load](https://user-images.githubusercontent.com/9753817/76010005-27b3c700-5ee0-11ea-90fc-339b0cd2e6bd.gif)

WFJT:
![wfjt_tab_load](https://user-images.githubuserconten

[2020-03-05 19:10] jsutton commented on #5704
@craph I just hit the same issue. I like the environment variable approach better than messing about with the certifi pem. Let me know if you need help testing.

[2020-03-05 19:14] #6184 closed, assigned to marshmalien

[2020-03-05 19:43] ryanpetrello commented on #5717
Confirmed, this is an API permissions bug that prevents normal users from ever doing a `POST /api/v2/schedules/`, not a bug in the CLI.  The issue looks like:

`OPTIONS /api/v2/schedules/` doesn't show `POST` if you have execute role on _at least_ one UJT.

[2020-03-05 19:59] AlanCoding commented on #6168
Still, I don't think that the API should have allowed adding a node that renders in this state. I would be interested to dissect what request is made and have the API handle client errors better.

[2020-03-05 20:37] bharatmv opened #6195 "(AWX with external postgres ), Web UI not working after installation - docker"
##### ISSUE TYPE
Web UI not working after trying to access the hostname url.
##### SUMMARY
So , I have installed AWX  and it is connected to an external DB which also on a RHEL 8 VM.
After installing the awx , I am trying to connect to the UI but it showing as the awx box refused to connect.

##### ENVIRONMENT
* AWX version: a
* AWX install method:  docker on linux
* Ansible version:  2.9.3
* Oper

[2020-03-05 20:43] squidboylan opened #6196 "Workflow Job Template Node verbosity option list has an invalid option"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:
* Operating System: Ubuntu 18.04
* Web Browser: Firefox Nightly

##### STEPS TO REPRODUCE

Navigate to `/api/v2/workflow_job_template_nodes/` and click the `OPTIONS` button. Then search for `verbosity`, the 3rd match is:
[code]

##### EXPECTED RESULTS

The

[2020-03-05 20:51] wenottingham commented on #6195
Hi, this just means the install can't talk to your database, it is likely an issue with your installation/inventory file.

This repo is for bugs in AWX itself; this is better discussed on the mailing list or IRC channel - see https://github.com/ansible/awx/#get-involved.

[2020-03-05 20:51] #6195 closed, assigned to nobody

[2020-03-05 21:18] kedark3 commented on #6168
@AlanCoding if you want to see it on my setup, ping me on Gchat or slack.

[2020-03-05 21:19] kdelee commented on #6196
may be best to add unit test coverage for this in awx if possible

@jbradberry was pointing out https://github.com/ansible/awx/pull/5536/files#diff-596536a0e5fde93944c40ae984189f0aR104 may have some faulty logic in it

[2020-03-05 21:40] kdelee commented on #3103
@ryanpetrello @wenottingham @one-t @elyezer

I'm not quite sure where to start on verifying this one. Can any of y'all flesh out some reproducer steps for what expected behavior and actual behavior was?

linking https://docs.ansible.com/ansible-tower/latest/html/userguide/insights.html here because I know at least that we will have to set up an insights credential, project, inventory and perhaps a

[2020-03-05 22:07] wenottingham commented on #3103
1) set up the insights integration on a tower
2) disconnect it from the public internet, make it use a proxy for that
3) see if adding the proxy definition to AWX_TASK_ENV makes it work

[2020-03-05 22:08] kdelee commented on #5717
@ryanpetrello I am trying this out locally, first w/ an org admin, and I notice if the org admin has at least one job template, it can see the `POST` in the options. But if it has a project or a inventory source that also have the ability to have schedules, does not see the `POST` option

[2020-03-05 22:37] Nightreaver opened #6198 "Question: add more AWX task instances to docker stack"
Hello

Im having a question. After I have successfully deployed AWX on a machine with docker, i wanted to increase the amount of TASK instances for that AWX setup.
I went to the compose folder, edited the docker-compose.yml and duplicated the "task" service.
I gave the container and the service a different name, saved an restarted the stack.

After login to AWX again I can see the additional task

[2020-03-05 23:49] ryanpetrello commented on #6198
Hey @Nightreaver,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-03-05 23:49] #6198 closed, assigned to nobody

[2020-03-06 02:12] bobmacks commented on #1284
+1 - So important to be resume from point of failure for large workflows with many nodes

[2020-03-06 04:46] yagashiraevil commented on #6175
@ryanpetrello
Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1275, in run self.pre_run_hook(self.instance, private_data_dir) File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1879, in pre_run_hook job.project.scm_type, job_revision File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tas

[2020-03-06 08:24] yagashiraevil commented on #6175
for what i have worked on it has to do something with GitPython submodule. https://github.com/ishepard/pydriller/issues/66. I removed .gitmodule from myproject and all got well.

[2020-03-06 10:04] anxstj opened #6199 "Job run fails with traceback if project update fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

If a Job fails to update its project (or project dependencies) then the error details will show a traceback as error message.

![grafik](https://user-images.githubusercontent.com/51952982/76071090-fb5a8200-5f95-11ea-8b97-5569540e9446.png)

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker
* Ansible version:  2.9.4
* Operating System:

[2020-03-06 11:48] Ladas opened #6200 "Use modified to check if job should be sent to analytics"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
It can take several hours for a job to go from pending to successful/failed state and we need to also send the job with a changed state, otherwise the analytics will be incorrect.

##### ENVIRONMENT
* AWX version: all

##### STEPS TO REPRODUCE

Have a long running job

##### EXPECTED RESULTS

Analytics should have the last state of the job present

###

[2020-03-06 11:48] Ladas commented on #6200
fixed by https://github.com/ansible/awx/pull/6179

[2020-03-06 11:48] Ladas commented on #6200
cc @rooftopcellist

[2020-03-06 11:51] Ladas opened #6201 "Send also workflows as part of unified jobs into analytics"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Workflows are not being sent to analytics (nor other types, e.g. workflow approvals)

Workflows do not have a record in main_job, therefore the JOIN
was ignoring those. We need to do LEFT JOIN to include also
workflows.

##### ENVIRONMENT
* AWX version: all

##### STEPS TO REPRODUCE

Send payload to analytics

##### EXPECTED RESULTS

Workflows and appr

[2020-03-06 11:52] Ladas commented on #6201
Fixed by:
https://github.com/ansible/awx/pull/6176 (sending workflows as part of unified jobs)
https://github.com/ansible/awx/pull/6204 (sending workflow nodes as separate .csv)

[2020-03-06 11:53] Ladas commented on #6201
cc @rooftopcellist

[2020-03-06 12:04] Ladas opened #6202 "Approval job missing started date and elapsed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
`workflowapproval` job under unified jobs has NULL `started` timestamp, leading to elapsed time 0

We need elapsed time in analytics, to be able to subtract the waiting from the real run time.

![Screenshot from 2020-03-06 12-57-51](https://user-images.githubusercontent.com/1737058/76082182-0cfa5480-5fab-11ea-8513-6fed5bc6911b.png)

##### ENVIRONMENT
*

[2020-03-06 12:05] Ladas commented on #6202
cc @rooftopcellist @wenottingham

[2020-03-06 12:24] jmarci opened #6203 "Smart Inventory Filter Key That Contains a Dot"
##### ISSUE TYPE
Smart Inventory Filter

##### SUMMARY
Issues building a Smart Inventory with a key that contains a dot(.).

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX  docker
* Ansible version:  2.8.8
* Operating System: CentOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Gathering services with service_facts module
  - name: populate service facts
    service_facts:
  },
  "docker.service"

[2020-03-06 12:48] Ladas commented on #5931
Implemented by https://github.com/ansible/awx/pull/6204

[2020-03-06 13:12] ryanpetrello commented on #6203
@chrismeyersfsu is there some workaround syntax for this?  I thought I remembered there being one, but I can't find any docs that call it out.

[2020-03-06 13:15] ryanpetrello commented on #6175
Interesting - glad you figured it out.

@AlanCoding this might be something that interests you - it looks like the `gitpython` we're using might have a bug working w/ certain clones that have submodules?

[2020-03-06 13:25] ryanpetrello commented on #5717
Good catch @kdelee.

Mind giving this PR a whirl?

https://github.com/ansible/awx/pull/6205

[2020-03-06 15:33] dsesami opened #6209 "Adding an approval node to an empty WFViz boots you back to the WFViz start page"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
1. Make an empty WFJT
2. Hit start on the WF visualizer, go through the modal to make an approval node with a basic name, click "Save"
##### EXPECTED RESULTS
The visualizer shows one node, an approval node.

##### ACTUAL RESULTS
The visualizer boots you back to the "Start" page for an empty WF.

[2020-03-06 15:36] Gaby033 commented on #5214
Hello @kevincoakley, would you have other leads in order to resolve this matter please ?
If you got some commands you want me to run, or if you need me to provide some logs, don't hesitate :)

Maybe the problem is because I'm upgrading from AWX 6.1.0 to 9.2.0 directly ?

Thank you !

[2020-03-06 15:47] mabashian opened #6210 "Incorrect form action button placement"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1451" alt="Screen Shot 2020-03-06 at 10 42 35 AM" src="https://user-images.githubusercontent.com/9889020/76098528-a1f35280-5f97-11ea-9791-eb4ab003300a.png">

Form buttons should be aligned left and on their own line like this:

<img width="1443" alt="Screen Shot 2020-03-06 at 10 46 54 AM" src="https://user-images.githubusercontent.com/98890

[2020-03-06 15:54] mwhite-ibm commented on #5094
This issue is also present in the Tower installer for Tower 3.6.3 (**OpenShift**).

The culprit appears to be [this](https://github.com/ansible/awx/blob/devel/installer/roles/kubernetes/tasks/main.yml#L261) line (for initial install) and [this](line) line (for updates beyond initial install). In our case, a `$` in the password caused the shell to think that a variable was present, and logging in w

[2020-03-06 16:07] squidboylan commented on #6196
This bug is fixed, can we close this or do we want to wait for some unit test coverage?

[2020-03-06 16:20] mvrk69 opened #6213 "Error running a job: DistutilsFileError: cannot copy tree /var/lib/awx/projects/XXX_Project"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Error Details
Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1275, in run self.pre_run_hook(self.instance, private_data_dir) File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1879, in pre_run_hook job.project.scm_type, job_revision File "/var/lib/awx/ve

[2020-03-06 16:29] wenottingham commented on #6213
What is your project layout ?

[2020-03-06 16:48] marshmalien opened #6214 "Swap input type=date element for PF Date Picker"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Tracking PF Issues
React: https://github.com/patternfly/patternfly-react/issues/2010
Core: https://github.com/patternfly/patternfly-next/issues/180

This issue is blocked until PF React component merges upstream

[2020-03-06 16:49] dusan-kenic commented on #4643
it seems like /tmp/awxcompose  was created by a previous AWX installation interfered

[2020-03-06 17:10] mvrk69 commented on #6213
Its a just a normal manual project, i pointed it to that playbook directory XXX_Project, and created a job template to run a test.yml playbook that is on that directory.

[2020-03-06 18:03] wenottingham commented on #6213
Are any parts of the path symlinks?

[2020-03-06 18:12] mvrk69 commented on #6213
no

[2020-03-06 18:24] wenottingham commented on #6136
key point of error:

psycopg2.errors.UniqueViolation: duplicate key value violates unique constraint "main_host_name_inventory_id_45aecd68_uniq"
DETAIL:  Key (name, inventory_id)=(fcebsdbdev01_clone, 3) already exists.

[2020-03-06 18:25] wenottingham commented on #6136
Can you paste your configuration for all sources for this inventory?

[2020-03-06 18:29] wenottingham commented on #6134
see also #5711 , #4292

[2020-03-06 18:30] ryanpetrello commented on #5835
Closing due to inactivity.

[2020-03-06 18:30] #5835 closed, assigned to nobody

[2020-03-06 18:36] linuxcube commented on #6136
I am not sure in your request, this is a basic source with "Vcenter server" and basic credentials define for the vcenter. Can you please be more detail on the ask? Thank you.

[2020-03-06 18:40] AlanCoding commented on #6175
There's been some movement, but not a whole lot around that bit of code:

https://github.com/gitpython-developers/GitPython/blob/3.0.5/git/objects/submodule/base.py#L1192

The [obvious issue](https://github.com/gitpython-developers/GitPython/pull/818) was supposed to be resolved in the version we have, particularly since they're on 9.2.0.

A full reproducer would be of interest. If it can only be

[2020-03-06 18:46] wenottingham commented on #6136
Is there only one source in the inventory? Are you using any filters? Do you have other inventories in the same organization talking to the same VCenter?

Essentially, we want to characterize when this may happen, because it works in our testing.

[2020-03-06 18:53] linuxcube commented on #6136
I think I get your question now,  there is only 1 source of inventory. I am not using filters in any way/shape/form.
I have other inventory define in the organization, but they are talking to RedHat satellite, and those do not experienced any issues with nightly syncing, only the vcenter one is experiencing this issue.

[2020-03-06 18:53] wenottingham commented on #6136
Which checkboxes (overwrite, overwrite vars, etc.) are set on the source?

[2020-03-06 20:07] kedark3 opened #6218 "tower_notifications forces to set username and password for email/irc notifications"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using `tower_notification` modules in my ansible playbooks, to create notification of `kind` - `email` or `irc`, it forces you to pass `username:''` and `password:''` for `email` and `password:''` for `irc`. This is inconsistent with what UI needs you to add.

##### ENVIRONMENT
* Tower version: 3.6.2
*AWX install method: linux using bundle
* Ansib

[2020-03-06 20:38] linuxcube commented on #6136
zero check boxes checked on the source for vcenter dynamic inventory

[2020-03-06 21:29] wenottingham commented on #6136
If you check 'overwrite', does it work?

[2020-03-06 21:34] AlanCoding commented on #6136
From a quick look at the inventory import code, I think we may be missing the 2nd part of this deadlock because https://github.com/Xof/django-pglocks/issues/21 causes the error to get swallowed. If we get a reproducer, we should start out by rearranging these context managers to give accurate tracebacks.

[2020-03-06 21:38] linuxcube commented on #6136
I just tried with overwrite....same outcome.

On Fri, Mar 6, 2020, 1:29 PM Bill Nottingham <notifications@github.com>
wrote:

[2020-03-06 21:47] linuxcube commented on #6136
Hi AlanCoding, please let me know how I can help and I will share what I have in the debug logs.

[2020-03-06 22:43] kawsark commented on #5076
PR: [https://github.com/ansible/awx/pull/6220](https://github.com/ansible/awx/pull/6220)
Testing steps: [https://github.com/kawsark/awx-approle-ansible](https://github.com/kawsark/awx-approle-ansible)

[2020-03-06 22:57] keithjgrant commented on #4961
Closing as duplicate of #5895

[2020-03-06 22:57] #4961 closed, assigned to nobody

[2020-03-07 03:27] AlanCoding commented on #6136
The most valuable information might be "what changed?" It would help to get some scale numbers on:

 - number of hosts in the inventory
 - number of groups
 - how many hosts or groups might have been added or removed since the last import?

We saw mention of `(name, inventory_id)=(fcebsdbdev01_clone, 3)` and `(name, inventory_id)=(srv01_clone, 3)`, does the _clone thing mean anything to you regard

[2020-03-07 03:35] linuxcube commented on #6136
Those hosts do exists in the inventory, should I remove them and resync the source?

[2020-03-07 03:51] AlanCoding commented on #6136
These questions might get a little weirder, but they could be helpful in building a reproducer.

Do the host variables have an entry under `config.instanceuuid`? That's not the same as another host without the _clone in its name, is it?

Also, I'm interested if it is truly recognized as a part of that inventory source. If you run `awx-manage shell_plus` on the server, you might be able to deduce t

[2020-03-07 18:12] henriavelabarbe commented on #20
I want to believe referencing inventory variables in a dropdown list should not be so difficult to implement.
That feature alone would help me a lot for my customer needs.

[2020-03-08 07:53] frsauvage opened #6222 "Is it legal to redistribute awx with a custom header and login logo ?"
Hi,
I just would like to know if I can change the loginheader and logo (top-left)  to redistribute awx in my global solution ?
Because in Apache license, it is written that trademarks should (may) be retain and I don't know exactly what it means as so many people change the logo apparently !
Thank,
Francine

[2020-03-08 08:03] sspreitzer opened #6223 "Add Kerberos Keytab Credential Type"
##### ISSUE TYPE
 - There should be a Kerberos Keytab Credential Type that should allow supplying a Kerberos Keytab file
- Authentication to Machines and SCMs could be able via that Keytab (OS independent)
- Access protocols able to handle Kerberos, should be able to utilize a Keytab. Eg. SSH, HTTP, etc..

##### SUMMARY
As of today Kerberos authentication is not managed by Ansible or AWX. There is

[2020-03-08 13:36] sspreitzer opened #6224 "Add LDAP inventory source"
##### ISSUE TYPE
- Add LDAP inventory source with capability of fine grained control about objects and attributes
- Follow RFC2307bis and implement nested groups

- Eg. use device or computer objects for hosts and groupOfNames for groups and group memberships

##### SUMMARY
Leveraging LDAP/Active Directory for device/computer discovery/inventory source

[2020-03-08 14:01] itcrowdsource commented on #4643
@nomoresecrets I can confirm that removing  '/tmp/awxcompose' is indeed the right solution for this issue.

[2020-03-08 14:32] mvrk69 commented on #6213
Is there any logs i can check and can provide to help check this problem?

/var/lib/awx/projects is a directory on the kubernetes node that hosts the AWX container,
was defined as volume for the container on the inventory file:

project_data_dir=/var/lib/awx/projects

[2020-03-09 08:35] vvxxvvxx commented on #515
Did you resolve the issue finally? I met the same issue when running playbook from AWX. It can't find the module from my custom venv, even though I've install the module already...

[2020-03-09 11:45] leosimony opened #6225 "ask_variables_on_launch issue on AWX"
##### ISSUE TYPE
ask_variables_on_launch is set to true still getting error as undefined variable.

##### SUMMARY
I have created a Job template via API and set the ask_variables_on_launch value to true. Though setting the value as true, playbook fails during execution, saying 'undefined variable'

##### ENVIRONMENT
* AWX version: 9.2.0
* Tower CLI 3.3.8
* API v2
* AWX install method: Installation

[2020-03-09 12:30] zaskan opened #6226 "Help text for "Paths to expose to isolated jobs" incomplete"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The help text for "PATHS TO EXPOSE TO ISOLATED JOBS" not mention that lines must be comma-separated.

##### ENVIRONMENT
*Every AWX versions

##### STEPS TO REPRODUCE

Click on the interrogation icon of "PATHS TO EXPOSE TO ISOLATED JOBS"

##### EXPECTED RESULTS
Text should be:

Enter one comma-separated path per line.

##### ACTUAL RESULTS

Text actuall

[2020-03-09 13:41] dsesami commented on #6191
I think I'm catching the same issue in the Hosts view. Click from the sidebar, choose hosts and pick one, try to switch tabs. The entire page seems to reload. Since this bug includes "(maybe others)", let's include it with this ticket.

WFJT view and all other views (credentials, JTs, etc.) work fine now, it seems.

[2020-03-09 14:14] dsesami commented on #6151
All custom and included credential types were visible on both add and edit forms on JTs.

[2020-03-09 14:14] #6151 closed, assigned to jakemcdermott, dsesami

[2020-03-09 14:22] dsesami commented on #6107
Staggering is removed, the page is aligned on varied types of jobs.
![Screenshot from 2020-03-09 10-22-13](https://user-images.githubusercontent.com/19942822/76221747-e842ee80-61ef-11ea-8c68-619015e7ad96.png)

[2020-03-09 14:22] #6107 closed, assigned to keithjgrant, dsesami

[2020-03-09 14:35] kdelee commented on #6196
@squidboylan when you verify the bug is fixed, you have power to close and remove `needs_test`

I do agree that perhaps we could do some unit test coverage for this. If you spend time figuring out how to do that, would be create to move alot of our coverage for OPTIONS type stuff to unit tests as CLI depends heavily on that and is easy AFAIK to do via unit tests.

FWIW I created a node using `null

[2020-03-09 14:35] #6196 closed, assigned to kdelee

[2020-03-09 14:37] dsesami commented on #6095
Deleting a host redirects you to the host lists page. Deleting a host while within the context of the inventory view redirects you to the hosts list for that inventory. :+1:

[2020-03-09 14:37] #6095 closed, assigned to keithjgrant, dsesami

[2020-03-09 14:44] kdelee commented on #5717
Now works w/ org admin as expected.

For a regular user with `use` on a project, I see `POST` as an option in `api/v2/schedules` OPTIONS but when I do a POST to the project that I have execute on, I get FORBIDDEN. What do you think of that?

[2020-03-09 14:44] AlanCoding commented on #6225
Some information that would be really valuable here:

1. What does the variable you passed look like? You don't have to give passwords (obviously), but is it a dictionary? What's its type and subtypes? Remove your passwords and put in "foo" and "bar" so we can see what the data structure is
2. Could you give us the YAML for this specific task? This looks related to templating the variable, which c

[2020-03-09 14:47] kdelee commented on #5717
Same story w/ regular user with `use` on an inventory source -- have `POST` in options to global schedules endpoint but can't post a schedule to an inventory I have use on. Is that normal?

[2020-03-09 14:48] kdelee commented on #5717
I guess part of me was thinking that creating a schedule to execute/run a resource is equivalent to using it "ad-hoc" therefore having `use` should allow you to run it....especially because this is the way it seems to work with job templates. (e.g. having EXECUTE allows me to add a schedule for it).

Wiling to be proven wrong

[2020-03-09 14:52] kdelee commented on #5717
All other cases are passing...so just have to decide what is right w/

normal user w/ use on Project
normal user w/ use on Inventory Source

[2020-03-09 14:52] unlikelyzero commented on #6095
tests added to https://github.com/ansible/tower-qa/pull/4806

[2020-03-09 14:57] dsesami commented on #6085
There is only one toggle and edit button and one toggle and edit button and one toggle and edit button. :laughing:

[2020-03-09 14:57] #6085 closed, assigned to marshmalien, dsesami

[2020-03-09 15:10] dsesami commented on #6049
Hosts page is blank and doesn't 404 when within a group. Note that adding hosts to this view remains unimplemented and is within the backlog: https://github.com/ansible/awx/issues/6143

[2020-03-09 15:10] #6049 closed, assigned to marshmalien, dsesami

[2020-03-09 15:14] marshmalien commented on #6049
The Inventory Group Host view has been broken up into the following smaller issues:
Add new host form: #6142
Associate existing host modal: #6143
Disassociate host modal: #6150

[2020-03-09 15:39] gundalow opened #6227 "awx Collection: Check for missing commits vs devel"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The "Big Migration" has now taken place.

As this collection already exists, we need to carefully check to see if any further commits went into devel since this repo was created.

Please check the contents of https://github.com/ansible-collection-migration/awx.awx/blob against https://github.com/ansible/awx/tree/devel/awx_collection

##### ENVIRONMENT

[2020-03-09 15:53] gundalow commented on #6227
Clarification:
* Please do a per-file level diff against every file in the ansible-collection-migration repo and this one
* Pay care to files added and removed.
* During the last two weeks there have been lots of fixes, especially around and tests, dependencies, and new collection features e.g. meta/action_groups.yml

[2020-03-09 16:36] jakemcdermott opened #6230 "Two job template schedules tabs"
##### SUMMARY

![Screenshot from 2020-03-09 12-35-17](https://user-images.githubusercontent.com/9753817/76236120-95befd80-6202-11ea-9127-bb34229730a8.png)

[2020-03-09 16:37] ryanpetrello commented on #5717
It doesn't look to me like Projects or Inventory Sources allowed creating schedules with _just_ "use" access *before* my recent changes.  Here's what I get with a `devel` I rolled back a week or so (excluding my recent PRs):

@AlanCoding @wenottingham are you aware of any exceptions to this?

Here's a project and inventory source with "use" access:

![image](https://user-images.githubusercontent.c

[2020-03-09 16:40] ryanpetrello commented on #5717
Yea, this sounds a pre-existing bug to me; I don't see how my recent changes would've affected that.

[2020-03-09 18:14] dsesami commented on #5963
"Manual" as an option was removed from the list successfully for all inventory sync views.

[2020-03-09 18:18] dsesami commented on #5480
Vault credentials with the same ID cannot be multi-selected. All other types, including vault credentials with a different ID, are able to be selected successfully. :+1:

[2020-03-09 18:18] #5480 closed, assigned to jlmitch5, dsesami

[2020-03-09 18:24] dsesami commented on #6141
This link works correctly now. There isn't a link for it when viewing within the context of an inventory, but that makes sense as it's redundant information in that space.

[2020-03-09 18:24] #6141 closed, assigned to marshmalien, dsesami

[2020-03-09 18:27] dsesami commented on #6210
One place where I still see this issue is editing users and teams (shrink your screen a bit to see it happen on teams, as it's not apparent when the screen is wide enough):

![Screenshot from 2020-03-09 14-25-40](https://user-images.githubusercontent.com/19942822/76245249-eab64000-6211-11ea-846b-774b113bd26d.png)

[2020-03-09 19:28] unlikelyzero commented on #5963
@dsesami did you remove the test stubs?

[2020-03-09 19:41] rebeccahhh commented on #5039
closing out since it won't be relevant

[2020-03-09 19:41] #5039 closed, assigned to rebeccahhh

[2020-03-09 20:18] wenottingham commented on #6224
This would need to be an inventory plugin in a Ansible Collection that could be leveraged.

[2020-03-09 20:34] tomdaley92 commented on #5323
Okay shorly after some playing around with it, I just found out that github event payloads are indeed transferred over into the job as `extra vars`, this was not clear to me before 👍

[2020-03-09 21:08] marshmalien commented on #6210
@dsesami approved and said feel free to close this issue. Closing!

[2020-03-09 21:08] #6210 closed, assigned to marshmalien

[2020-03-09 21:24] jakemcdermott commented on #6222
You'll want to change the logo. See: https://github.com/ansible/awx-logos/blob/master/TRADEMARKS.md

[2020-03-09 21:24] #6222 closed, assigned to nobody

[2020-03-10 03:33] AlanCoding commented on #6227
We need to carefully check to see if any further commits when into _ansible/ansible devel_ since this repo started hosting the collection?

Yes, some did, because some people merged stuff before I had the opportunity to close their PRs. Otherwise, we monitored the `tower` label and closed stuff.

https://github.com/ansible/ansible/pulls?q=is%3Apr+is%3Aopen+label%3Atower

Looking at the specific gi

[2020-03-10 05:18] kusalindika commented on #6213
I do face the same issue and cannot proceed. Please share if someone got a solution for this issue would be much appriciate

[2020-03-10 10:40] Grekkor commented on #5947
I ran into the same issue. This ought to be fixed right away.

[2020-03-10 11:52] piellick opened #6236 "Does AWX 9.2.0 include ansible 2.9"
Hello, no information about that on the latest build , someon could confirme the ansible engine version ?

thanks

[2020-03-10 12:06] wilf1rst commented on #5214
Hello All,

I was able to update from 6.0.1 to 9.2.0.

I perform the upgrade with the following steps to ensure I correct all problems as they come:
6.0.1 => 7.0.0 => 8.0.0 => 9.0.0 => 9.0.1 => 9.1.0 => 9.2.0

Here's what I encounter:

- I need to update my system to the latest release (using `yum update -y` as it's a CentOS 7.x server).

- I need to update all my packages installed throught pip (

[2020-03-10 12:08] clammers commented on #6236
[code]

[2020-03-10 12:09] ryanpetrello commented on #6236
Hey @piellick,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-03-10 12:09] #6236 closed, assigned to nobody

[2020-03-10 13:37] dsesami commented on #6191
The Hosts page is only loading tabs, and not doing a full reload. All other pages also appear to be displaying correct behavior now. :+1:

[2020-03-10 13:37] #6191 closed, assigned to jakemcdermott, dsesami

[2020-03-10 14:54] unlikelyzero commented on #5649
@mabashian do we have an issue for all User tabs on Organizations, Teams, Access, etc.

[2020-03-10 16:19] Gaby033 commented on #5214
Hello @wilf1rst, I have tried the commands you gave.

I was using Centos : 7.6.1810 went to : 7.7.1908
During the `pip list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1 | xargs -n1 pip install -U`
I had some errors with incompatibility between some packets.
The `ls` commands give the 2 correct paths just like you. However, I didn't get the error you got, so I didn't modified the `pg

[2020-03-10 16:23] wilf1rst commented on #5214
Despite the fact you didn't have the same error than me could you try to add the line in pga_hba.conf ?
The empty AWX is because you can't join the database due to restriction I think...

Please restart your container afterward using the docker-compose file in docker-compose folder:
`docker-compose stop` then `docker-compose up -d`

Edit:
Could you post the whole error log you have when you try to

[2020-03-10 16:43] kdelee commented on #5717
:question:  so does that mean you want to fix that behavior before we close this out?

[2020-03-10 16:44] ryanpetrello commented on #5717
Yep, I'd like to address it.  Just haven't had time yet.

[2020-03-10 16:47] Gaby033 commented on #5214
I have added the line inside : /root/pgdocker/10/data/pg_hba.conf.
Then
[code]
Went to the url, got the "awx upgrade" and then still the awx with the "demo project" and "demo inventory".

Inside the docker, /var/log/postgresql/ is empty. Where should I find the log ?

[2020-03-10 16:48] kdelee commented on #5717
ack

[2020-03-10 16:52] tgates81 commented on #5617
Any plans yet on a date for the next release that will include this fix?

[2020-03-10 17:01] Moumoutaru commented on #1747
It seems like this functionality has been added to AWX 8.0.0.0 and and probably before that by a few versions. That said, tags are not being saved for me.

[2020-03-10 17:10] wilf1rst commented on #5214
It really seems to me that your postgres container point on the wrong path on your filesystem.

Did you modify the installer/inventory.yml `postgres_data_dir` variable to point to your upgraded postgres folder ?

As for log can you post the result of the following command you run previously inside the tianon/postgres-upgrade container as you said you remember having an error:

[code]

If you can r

[2020-03-10 17:40] ryanpetrello commented on #5717
I _think_ this is actually working correctly @kdelee (cc @AlanCoding):

https://github.com/ansible/awx/pull/6240

[2020-03-10 18:17] appuk commented on #6202
I verified this on devel branch, and the workflow job has a non null started and a non zero elapsed fields.
Also added coverage in integration tests, hence closing.

[2020-03-10 18:17] #6202 closed, assigned to ryanpetrello, appuk

[2020-03-10 18:48] wbieniek opened #6243 "Job detail and job output stops updating"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
with it 24h after restart AWX stops updating output window

##### ENVIRONMENT
* AWX version: 9.1
* AWX install method: openshift
* Ansible version:  X.Y.Z
* Operating System:RH7
* Web Browser:Chrome

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

This only happens on busy AWX installation with 15 p

[2020-03-10 18:51] dsesami opened #6244 "Page Size toggle does not persist after a search"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When changing the page size (show 5, 10 items per page), the size resets to the default when a search is performed. This is inconsistent with the Angular UI and should persist.

##### STEPS TO REPRODUCE
Take any list, like credentials. Have it display like 5 items per page.
Perform a search

##### EXPECTED RESULTS
There are 5 items displayed per page.

[2020-03-10 18:55] jakemcdermott commented on #5689
This is currently behaving as designed. Your inputs will _not_ be saved until you commit them by advancing to the next page of the prompt. This may be unexpected for some, so it's certainly an enhancement we should do. We've also made a note of  it in the docs.

[2020-03-10 19:11] dsesami commented on #4239
@keithjgrant I found that this still occurs if we have more than one "page reset"

1. Create like 17 projects and use the 5 per page view for easy toggling
2. Go to the second page, delete all the items so it goes back to the first page
3. There should only be two pages available now. Go to the second page and delete all the items.

It will still 404 with the above scenario ^

[2020-03-10 19:17] mabashian commented on #5909
After some discussion with @jakemcdermott @wenottingham we want to explore giving the users the ability to move freely between steps without performing validation until the end.  This would mean that if step 1 was to select an inventory (required) and the user wanted to do something on step 2 first then they could.  At the end of the process we'd still need to be able to indicate to them that they

[2020-03-10 19:44] beeankha commented on #6128
This is now fixed for the `tower_user` module per PR https://github.com/ansible/awx/pull/6237.

`tower_role` is currently blocked from being converted off of `tower-cli`, but this issue will be addressed for that module once that conversion is unblocked.

[2020-03-10 19:44] #6128 closed, assigned to beeankha

[2020-03-10 20:05] kdelee commented on #5717
Got tests worked out, this is working for me now. Closing

[2020-03-10 20:05] #5717 closed, assigned to ryanpetrello, kdelee

[2020-03-10 20:30] ilijamt commented on #6045
I ran into the same issue fixed it according to this here
https://github.com/ansible/awx/issues/5947

[2020-03-10 20:32] dsesami opened #6247 "Job Template Form (and maybe other forms) don't wrap when given long lines of text"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Try to edit a Job Template at a smaller screen width.
Put a long string of text, maybe rife with typos, like:
[code]
This makes the form do this:
![Screenshot from 2020-03-10 16-23-53](https://user-images.githubusercontent.com/19942822/76356647-ac418380-62ec-11ea-81f5-3f61b3502cbb.png)

[2020-03-10 20:38] jakemcdermott commented on #5064
@craph

Can you please provide a _minimal_ test case that we could use to reproduce this bug starting from a completely clean environment?

What we're looking for is:

- Exact set of organizations, projects, inventories, credentials, and job template created
- The specific credential(s), project, and inventory associated to the JT.
- Team or organization membership of any test users
- All permissi

[2020-03-10 21:00] jakemcdermott commented on #5689
plan is to address this in the rewrite

[2020-03-10 21:10] lemmy04 commented on #5258
still the same here, 9.2.0

[2020-03-10 22:07] lemmy04 commented on #5258
now i removed everything except the database directory:

TASK [local_docker : Stop AWX before upgrading postgres] ***********************************************************************************************************************************************************
[DEPRECATION WARNING]: The 'docker_service' module has been renamed to 'docker_compose'.. This feature will be removed in version

[2020-03-10 22:22] kedark3 opened #6250 "Tower_inventory module fails to create smart inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When trying to use Tower_inventory module to create smart inventory, it fails with server error.

##### ENVIRONMENT

    * Tower version: 3.6.2
    * AWX install method: linux using bundle
    * Ansible version: 2.9.1 on Tower, 2.9.2 on my local system from where I run the playbook
    * Operating System: not relevant I believe
    * Web Browser: N/A

[2020-03-10 23:30] JonTheNiceGuy commented on #5177
If you've been bitten by this one too, consider this workaround (yes, it's messy, but yes, it appears to work)

[code]

[2020-03-11 00:48] chriskacerguis commented on #5473
I'm seeing this with 9.2.0

[2020-03-11 01:48] AlanCoding commented on #6250
[code]

👀

[2020-03-11 06:11] leosimony commented on #6225
Sorry for the delay. Please don't mind.

1. What does the variable you passed look like? You don't have to give passwords (obviously), but is it a dictionary? What's its type and subtypes? Remove your passwords and put in "foo" and "bar" so we can see what the data structure is

Since this is an adding user's playbook, the variable is just the username.

---
- name: user add
  hosts: all
  vars:

[2020-03-11 09:06] Gaby033 commented on #5214
@wilf1rst  Yes, I modified `installer/inventory.yml` setting : `postgres_data_dir="/root/pgdocker/pgdata/10"`

Here is the output of the commands :
[code]

[2020-03-11 09:52] wilf1rst commented on #5214
@Gaby033

Ok great so the upgrade seems to be ok.

So there's maybe a PATH issue with your new container.
Let's isolate the problem and ensure all paths are correct:

Could you post the result of:

- Volume source: `docker container inspect -f '{{ (index .Mounts 0).Source }}' awx_postgres`

example on my side:

[code]

- Volume destination: `docker container inspect -f '{{ (index .Mounts 0).Destin

[2020-03-11 10:02] lemmy04 commented on #5258
...so if i run the installer on a completely empty system, it works, but as soon as there's postgres data in place it fails.
So here's what I had to do to get a working awx 9.2.0 on my production system:

- install AWX 9.2.0 on a spare system (my laptop)
- stop all containers
- wipe out the database
- rsync the database of the 7.0.0 system on my production into the database path on my laptop
- sta

[2020-03-11 10:54] Gaby033 commented on #5214
Thank you for your fast answer @wilf1rst

The 1st time I run this command I got :
[code]

So I did :
[code]

and then I got :
/root/pgdocker/pgdata/10/10/data

The double 10/10 seems weird so :
rm -rf /root/pgdocker/10
and restarted the upgrade process, but no changes, I still end up with :
[code]

For reminder, here are the commands I use :
[code]

I didn't try your other commands yet, because I

[2020-03-11 11:10] Gaby033 commented on #5214
If it can be of any help :

The 2 following commands give same output as you :
[code]
This one seems really wrong :
[code]
A little bit different, owner : awx vs postgres for you.
[code]

[2020-03-11 13:50] jomach opened #6255 "Routable webhooks that only run on the changed resource"
- Feature Idea

SUMMARY

Add a new check box to templates that allows the template to run with if the underlying playbook get's updated. The big advantage of this approach would be we don't need to have a Jenkins job to do this.

Furthermore if we have 200 Playbooks that we want to trigger with CI/CD we need to create mapping lists or group change sets on Jenkins to be able to identify which playb

[2020-03-11 14:22] AlanCoding commented on #6225
I cannot understand why you are trying to do `name: "{{ item.it_user }}"`. All you need is `"{{ item }}"`

`it_user` is the variable name of the list, you correctly passed this to `with_items:`. The _elements_ in the loop (as in all such Ansible loops) are referenced by `item` unless you use some other loop control variable.

The multiselect provides a list of strings to the playbook. Your error i

[2020-03-11 14:22] #6225 closed, assigned to nobody

[2020-03-11 14:36] wenottingham commented on #6255
Webhooks. You can see downstream documentation here (https://docs.ansible.com/ansible-tower/latest/html/userguide/webhooks.html)

[2020-03-11 15:01] ryanpetrello commented on #2535
After talking with @rebeccahhh, it sounds like this is really just exposing an implementation detail of how we save credential secrets in a two-step process (first we save the credential to generate a primary key, then we *update* it to encrypt the secret value _using_ the primary key from the insert).

I'm not certain this is really worth addressing, because it would probably be fairly complicate

[2020-03-11 15:03] wenottingham commented on #2535
If it's matching the operations we currently make in the API, no, it's fine.

[2020-03-11 15:08] ryanpetrello commented on #2535
If @AlanCoding agrees with this, then, I'd say it would be better for @rebeccahhh to spend her time on other activity stream hit list items first.

[2020-03-11 15:13] wilf1rst commented on #5214
Ok so it's indeed a PATH problem with one of your command.

To get rid of the clusterfuck let's just recreate the postgres upgrade from scratch:

1. `/root/pgdocker/pgdata` is you actual postgres 9.6 folder it contain all your postgres data files

2.  Remove your `/root/pgdocker/pgdata/10/` folder

3.  Run the following command that @kevincoakley describe to upgrade postgres 9.6 to 10 let's just c

[2020-03-11 15:21] jomach commented on #6255
@wenottingham  from what I understood from webhooks is that on a change it will trigger a given workflow / playbook but there is not way to identify which playbook has actually changed. Assuming you have 50 playbooks on the repo and you only want to deploy the ones that changed. How do you do this with the webhook?

[2020-03-11 15:21] jomach commented on #6255
I'm missing the logic : Playbook a,b,c were changed from 100 playbooks. Triggering template a, template b, template c

[2020-03-11 16:19] wenottingham commented on #6255
The way to do that *now* is to parse the webhook payload, and have a master webhook receiver job that calls the appropriate automation. It's doable, but a bit messy.

[2020-03-11 16:20] wenottingham commented on #6255
@shanemcd has some ideas on how to potentially do this more generally in a CI framework, but we're not working on this right now. Editing title.

[2020-03-11 16:21] Gaby033 commented on #5214
Again, thank you very much @wilf1rst for your time.

I have also deleted this : `rm -rf /root/.awx/*`

As said in one of my previous post, I have modified this :
[code]
Step 3) was ok :
[code]
Step 4) also :
[code]

[code]
Still wrong :/
[code]
This one is ok, just like before.

/root/.awx/awxcompose/docker-compose.yml :
[code]
The volume isn't correct, I don't know why. I did the step 5) correctl

[2020-03-11 16:22] absynth76 opened #6258 "update notifications whitelist"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
One of the main deployment information is the tag and/or branch version, or the scm_branch parameter is not available through the job dictionary and so notifications cannot include that common field. Could you please add it to the JOB_FIELDS_WHITELIST  in notifications.yml? thank you.

[2020-03-11 17:06] jomach commented on #6255
The question is how can we find out which playbook to run when a commit happen on a repository. Not only on the playbook it self but the vars that relate to a playbook can change too

Another topic is that the current hooks implementation do not support a hosted github / bitbucket ... this is Probally another ticket. If you point me with ideas what to change I could came up with a pr

[2020-03-11 17:37] AlanCoding commented on #5177
This is my current leaning, because that's more similar to how it works in both the script inventory file format, and the conventional ini inventory file type.

It's also easier to mentally grok the dependency chain. I would rather create hosts and then groups, as opposed to create groups and then hosts. I don't want to consider in-loop creation of related resources, because that goes way out of s

[2020-03-11 17:38] AlexSCorey opened #6260 "Users Organization List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add the Organization List for Users.

[2020-03-11 17:41] AlexSCorey commented on #6182
handed this off to @keithjgrant

[2020-03-11 17:45] AlexSCorey commented on #6183
This is on hold until survey #5900 and #5899  are merged

[2020-03-11 17:57] AlanCoding commented on #6227
closing as resolved

[2020-03-11 17:57] #6227 closed, assigned to nobody

[2020-03-11 18:27] ryanpetrello commented on #5617
Hey @tgates81 (and others),

I'm planning to release a new version of AWX tomorrow that will address this issue:

https://github.com/ansible/awx/pull/6263/

[2020-03-11 19:40] leosimony commented on #6225
@AlanCoding I am really sorry for being so dumb to make that mistake and wasting your time. I was working on some other config like,

vars:
  db:
   - name: dbname1
   - name: dbname2

--Called this like "{{ item.name }}"

Keeping this in mind, I used the same on that playbook as well. I was so dumb to do that.

Thank you for pointing it out politely. Its working fine.

[2020-03-11 21:30] appuk opened #6267 "Email Notification - started date is displayed as null when the approval node needs review"
When an approval node needs review and an email notification is setup, the email body contains null started, when the started field is actually set in the api

Steps to reproduce:
1. Create a WFJT with approval node
2. associate it with Email notification template that will send notification on WF Approvals
3. launch the WFJT
4. wait for the email notification when the approval node needs review:

[2020-03-11 23:54] JosephJHCho commented on #5987
Just for your information. I have tested some other version.
AWX 7.0 was fine but AWX 8.0 have a same problem.

[2020-03-12 05:56] vvxxvvxx commented on #4149
@Turgon37  did you fix this issue already? I met the same issue that the playbook can't use my custom callback when running the playbook on AWX. even after I add the variables "ANSIBLE_CALLBACK_PLUGINS": "./plugins/callback" in Settings>Jobs. or change "ANSIBLE_CALLBACK_PLUGINS" to "AWX_ANSIBLE_CALLBACK_PLUGINS"... the result is the same, no callback is called when running the playbook on AWX.
But

[2020-03-12 10:09] JonTheNiceGuy opened #6269 "Release of 9.3.0 has not arrived at Dockerhub"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The release of 9.3.0 in the [VERSION](https://github.com/ansible/awx/blob/devel/VERSION) file does not correspond with the release of that [image on Dockerhub](https://hub.docker.com/r/ansible/awx_web/tags). This prevents the installer from completeing.

##### ENVIRONMENT
* AWX version: 9.3.0 intended
* AWX install method: docker on linux
* Ansible ver

[2020-03-12 10:35] wilf1rst commented on #5214
At this point I don't know why there's still a problem with your PATH.

But as you validate that the postgres 10 data is in the folder `/root/pgdocker/10` on your host you can:

- Stop the Database: `docker-compose stop postgres`

- change the postgres volume definition in your docker-compose.yml to:

[code]

- And restart postgres with: `docker-compose up -d postgres`

- Then check your log with

[2020-03-12 11:23] Gaby033 commented on #5214
Thank you @wilf1rst, I did that, and obtained the error :
`FATAL:  no pg_hba.conf entry for host "172.18.0.6", user "awx", database "awx", SSL off`
So I stopped the docker postgres, and added at the end of file /root/pgdocker/10/pg_hba.conf what you gave me :
`host all all all md5`
I relaunch the postgres, and got :
[code]

The web url is saying "upgrading AWX" but I think it's stuck.

[2020-03-12 13:20] ryanpetrello commented on #6269
Hey @JonTheNiceGuy,

I'm preparing the release this morning.

[2020-03-12 13:33] JonTheNiceGuy commented on #6269
Fab, thanks @ryanpetrello.

I know I likely hit the "bump" of that this morning because it hadn't flowed through yet, but is there some sort of process around getting the "VERSION" file not to be bumped until after the release is cut on dockerhub? It's not a huge issue, but it did cause some head scratching this morning :)

Alternatively, is it possible to have the installer script check dockerhub

[2020-03-12 13:37] ryanpetrello commented on #6269
Hey @JonTheNiceGuy,

Here's comes my spiel about how `devel` is by nature unstable, and that we *don't* build nightly Docker images.  If you're the type that's running `devel` for something, you should be building your own images 😉, because there are likely to be discrepancies between `HEAD` of this repository and the "latest" Docker image.

In any event, I expect to have the 9.3.0 image published

[2020-03-12 13:37] #6269 closed, assigned to nobody

[2020-03-12 13:38] DonRichards commented on #5258
Same here for Ubuntu 19

[2020-03-12 14:22] JonTheNiceGuy commented on #6269
Ah, to be fair, I hadn't really clocked that I was on `devel` ;) Yep, I'll switch to using tags from now on :)

[2020-03-12 14:46] AlanCoding opened #6270 "Support unified requirements.yml file roles/collections"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See: https://github.com/ansible/ansible/pull/67843

Right now, we install files

[code]

The first will install with `ansible-galaxy install`, the second will install with `ansible-galaxy collection install`.

That PR will allow installing _both types_ with `ansible-galaxy install`.

Assuming this is the final form that merges (there seems little dou

[2020-03-12 15:30] geerlingguy commented on #6270
For a unified file, why not `requirements.yml` in the root of the project folder?

[2020-03-12 15:58] wenottingham commented on #6270
Because that's not where anyone has put it before. I would not want to invent a new thing, especially since download-at-execution is a pardigm we'd like to move away from.

[2020-03-12 16:03] geerlingguy commented on #6270
That's where I've always put it—for any kind of project where you have to manage dependencies ([node.js `package.json`](https://nodejs.org/en/knowledge/getting-started/npm/what-is-the-file-package-json/), [php `composer.json`](https://getcomposer.org/doc/01-basic-usage.md#composer-json-project-setup), [ruby `Gemfile`](https://bundler.io/gemfile.html), [python pip `requirements.txt`](https://pip.re

[2020-03-12 16:10] nwerker opened #6272 "Installer wants to pull 9.3.0 Version of awx_web container"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I just installed a new AWX test instance and the install playbook threw an error while pulling the images from hub.docker because it wanted to pull version 9.3.0 of the awx_web container, which it obviously couldn't since it's not released yet. I changed the "dockerhub_version" variable in the inventory to 9.2.0 and everything was just fine but maybe c

[2020-03-12 16:13] AlanCoding commented on #6168
@kedark3 Could you try making the change

[code]

That is, `workflow` as opposed to `workflow_template`. Run it again and see if that gets you past it.

[2020-03-12 16:28] geerlingguy commented on #6270
I dislike that too; for most of my Ansible projects I just commit all the dependencies to the codebase so I don't have to rely on galaxy (or AH) to be up and reachable for all the role/collection installs.

For many systems, like composer, npm, etc., though, the `install` process is much quicker and the dependency manager can handle updating dependencies (e.g. if the version you have locally doesn

[2020-03-12 16:51] kedark3 commented on #6168
@AlanCoding yep that was it. If I use `workflow` in place of `workflow_template` it works. Is there any documentation about this that I was missing?

[2020-03-12 17:08] AlanCoding commented on #6168
@kedark3 if you could give a quick review to https://github.com/ansible/tower-cli/pull/750, I'll push it out.

[2020-03-12 17:33] ryanpetrello commented on #6272
duplicate of: https://github.com/ansible/awx/issues/6269

[2020-03-12 17:33] #6272 closed, assigned to nobody

[2020-03-12 17:35] kedark3 commented on #6168
@AlanCoding sure thing.

[2020-03-12 17:37] mdinwoodie opened #6274 "Request output of ping endpoint in XML format"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When running a curl command against the ping endpoint, the output cannot be requested in XML format. As a use-case, requesting the output in XML format would make it easier to filter data on a load balancer.

[2020-03-12 18:01] wenottingham commented on #6274
We are not going to add additional formatters that are not supported by our upstream REST library (django rest framework)

[2020-03-12 18:01] #6274 closed, assigned to nobody

[2020-03-12 19:48] wenottingham commented on #6270
The reason I refer to this as additive is that we have already shipped releases that pull from roles/requirements.yml and collections/requirements.yml. So any place else we look is net new, and we'd still have to support existing locations.

[2020-03-12 19:58] geerlingguy commented on #6270
@wenottingham - The one quibble I have with that is I'm presuming collections use is currently minimal (though I could be totally wrong there), so it's not a huge problem to deprecate that current pathing, and move to something different. Once Ansible (ACD/Platform/etc.) 2.10 is released a lot more people will be using collections from that point forward.

[2020-03-12 20:09] guliaka opened #6277 "VMware inventory timeout"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to parse /var/lib/awx/venv/awx/lib/python3.6/site-
packages/awx/plugins/inventory/vmware_inventory.py as an inventory source

##### ENVIRONMENT
* AWX version: 0.9.2
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operating System: RHEL 8
* Web Browser: Firefox/Chrome

##### STEPS TO REPRODUCE
Installed on RHEL8 with following s

[2020-03-12 20:10] wenottingham commented on #6270
Yes, but in that case we wouldn't be parsing this file at runtime anyway.

[2020-03-12 20:11] AlanCoding commented on #6168
Created https://github.com/ansible/awx/pull/6278 to put this to bed, which I am doing now.

[2020-03-12 20:11] #6168 closed, assigned to nobody

[2020-03-12 20:11] kedark3 opened #6279 "tower_role ansible module should support Workflow"
##### ISSUE TYPE
 - Tower_role(https://docs.ansible.com/ansible/latest/modules/tower_role_module.html) module does not support `workflows` it does support other objects like job_template, credentials, inventory, projects etc. I would

##### SUMMARY
If we add `workflow` support to this module it will be complete (at least in my perspective) to support setting permissions of all the objects one woul

[2020-03-12 21:13] ryanpetrello commented on #6277
Hey @guliaka,

Error's right there, look like you can't reach the host ^

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-03-12 21:13] #6277 closed, assigned to nobody

[2020-03-12 22:11] guliaka commented on #6277
I can reach vceneter from host where awx deployed but not from with in
awx_task container.

On Thu, Mar 12, 2020 at 2:14 PM Ryan Petrello <notifications@github.com>
wrote:

[2020-03-13 00:29] gitevanx opened #6280 "Error running job in instance container"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running a job in a container group the job returns with status error and a stack trace in the error details field.  The same Job runs perfectly when not run in a container group.

status: error
error details:  `Traceback (most recent call last): File "/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/main/tasks.py", line 1401, in run ident=str

[2020-03-13 00:32] jamesmarshall24 opened #6281 "Please Increase First Name Field to Support Greater than 30 Characters"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Increase the ability for both the UI and Django to accept first_name fields beyond 30 (similar to last_name which supports 150 characters).

[2020-03-13 11:57] DionJones615 opened #6282 "ERROR! Failed to update notifier. Field 'job_metadata' unavailable."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 7.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: Ubuntu
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Update notification text to include: {{ job_metadata }}
2. Click Save

##### EXPECTED RESULTS

Expected a JSON string to be returned in my notification as indicated here

[2020-03-13 15:06] appuk commented on #6267
The email notification now has a started time, hence closing the issue.

[code]

[2020-03-13 15:06] #6267 closed, assigned to ryanpetrello

[2020-03-13 16:57] ryanpetrello commented on #6167
@AlanCoding is this ready for `needs_test` or is there more work to do (I see a merged PR linked).

[2020-03-13 16:58] ryanpetrello commented on #6119
@AlanCoding is it fair to call this blocked, since we're waiting on a change to an upstream library (https://github.com/gitpython-developers/GitPython/pull/998)?

[2020-03-13 17:06] AlanCoding commented on #6119
Some more history on this:

The original flakiness was frequent flake, like 1 of 3 times.

This is flake that occurs under the same circumstances as that flake, but the actual 1-of-3 flake was due to a totally separate issue of mapping workflow job nodes to WFJT nodes.

This occurs with some yet-unknown lower probability. Low enough that I can't reliably test it via AWX workflow runs.

[2020-03-13 17:07] wenottingham commented on #6282
What type of notification is this?

I'd also try with 9.3.0 - we fixed some bugs here very recently (including what fields are actually available - some were advertised as being available that actually are not).

[2020-03-13 17:11] wenottingham commented on #6279
Would this be fixed with the conversion off of tower-cli?

[2020-03-13 17:15] wenottingham commented on #6243
Are you experiencing this in 9.3.0? We did fix some bugs in this area.

[2020-03-13 17:22] AlanCoding commented on #6279
The tower-cli role command works with workflows. This is an issue because the module parameters, DOCUMENTATION, and code had to be updated after tower-cli was updated, and updating the modules was very hard, because the act of merging was hard.

This isolated request is very trivial. Converting the modules is not trivial.

[2020-03-13 17:27] ilijamt commented on #5947
Same issue affects AWX 9.3.0

[2020-03-13 17:31] ilijamt commented on #5947
After adding to Settings > Jobs > Extra Environment Variables

[code]

This works without any modifications to the code.

[2020-03-13 17:42] keithjgrant commented on #4239
@dsesami I wasn't able to replicate the 404... 17 items should result in 4 pages though, not three, so maybe I followed something incorrectly?

[2020-03-13 18:00] dsesami commented on #4239
@keithjgrant after further investigation, this looks like it works now. I couldn't replicate the previous scenario yet. If it comes back, I'll re-open the bug. For now, we're good. Thanks!

[2020-03-13 18:00] #4239 closed, assigned to keithjgrant, dsesami

[2020-03-13 18:03] AlanCoding commented on #6167
no, this should be totally wrapped up.

Note for QE:

It was originally feared that this would break old use cases, where someone provides a JSON-formatted string. This is not the case, because Ansible core does generous duck typing, will recognize this case and parse it into a dict. The only case that we lose support for is where someone provides a list of dicts, which only ever worked due to a c

[2020-03-13 18:04] unlikelyzero commented on #6177
@LohitashwaIBM which version of Windows Edge

[2020-03-13 18:27] ryanpetrello commented on #6226
This confused me a bit, because it's not *actually* about "isolated jobs" (the feature where we execute jobs over SSH).  It means "paths exposed to *bwrap*".  That said, I don't really see what's wrong here.

In the 3.7 UI, it reads:

<img width="403" alt="image" src="https://user-images.githubusercontent.com/214912/76649083-4f390e00-6536-11ea-8984-fd5cd597060d.png">

If you save, it sends this in

[2020-03-13 18:46] jneedle commented on #5138
@russelljftw Did you ever get a chance to confirm this?

[2020-03-13 18:59] ryanpetrello commented on #6028
@jmereaux This variable is intended to be used as a description of what the job *is*.  I'm having trouble reproducing what you're describing in the latest version of AWX:

<img width="485" alt="image" src="https://user-images.githubusercontent.com/214912/76651409-dd16f800-653a-11ea-9617-987b7bf69874.png">

<img width="743" alt="image" src="https://user-images.githubusercontent.com/214912/76651305-

[2020-03-13 18:59] #6028 closed, assigned to ryanpetrello

[2020-03-13 19:41] jlmitch5 opened #6288 "Jobs List ID search should be number input based"
![Screen Shot 2020-03-13 at 3 40 16 PM](https://user-images.githubusercontent.com/1342624/76654268-02a70000-6541-11ea-9597-3a77b2f5512c.png)

This should be a number input, not text.  There's code there that should find ID in the integerFields of the QS_CONFIG, and used that to determine if it is a number-based search or not, but it seems like that is not working correctly right now.

[2020-03-13 20:13] mdinwoodie opened #6289 "Add tabs to sort through job templates based on Jenkins tags"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - UI

##### SUMMARY
Add tabs at the top of the job template list that are based on Jenkins tags to allow for easier navigation of job templates.

[2020-03-13 21:07] wenottingham commented on #6289
This is what labels are for, in general - you put the labels on the job template and you can then filter by labels.

Closing as a duplicate of https://github.com/ansible/awx/issues/2350 in general.

[2020-03-13 21:07] #6289 closed, assigned to nobody

[2020-03-13 21:32] jakemcdermott commented on #5386
ready for test once this actually merges: https://github.com/ansible/awx/pull/6261

[2020-03-13 21:55] ryanpetrello commented on #4541
This is almost certainly a duplicate of https://github.com/ansible/tower/issues/4176

[2020-03-13 21:55] ryanpetrello commented on #4541
@kovaxur if you're still interested in this, I have a pull request that I suspect may resolve the issue:

https://github.com/ansible/awx/pull/6290

[2020-03-13 21:55] ryanpetrello commented on #4541
For now, I'm going to close this, though, because it's definitely a duplicate.

[2020-03-13 21:55] #4541 closed, assigned to nobody

[2020-03-14 09:13] lemmy04 commented on #5258
yay. 9.3.0 is out. any bets for this to still be broken?

[2020-03-15 10:50] lemmy04 commented on #5258
at least 9.2.0 -> 9.3.0 worked fine...

[2020-03-15 10:54] shahidkarimi commented on #532
How this was fixed? @aabuhasna ?

[2020-03-16 02:32] MrBones757 opened #6293 "Auth Settings update 400 when no galaxy URL set & public disabled"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When public galaxy access is disabled, and no URL is specified, updated to LDAP auth retun 400 with no error reason.

Looking at devtools console in chrome leads to the following error:

vendor.08d153df1a615982ffc7.js:201 Possibly unhandled rejection: {"data":{"PRIMARY_GALAXY_URL":["A URL for Primary Galaxy must be defined before disabling public Galax

[2020-03-16 07:48] dansou901 commented on #5896
Bug is still present in 9.3.0

[2020-03-16 08:37] egmar commented on #6293
See https://github.com/ansible/awx/pull/5585 According to this PR, you should have at least public Galaxy enabled.

[2020-03-16 11:18] AlanCoding commented on #6293
There's a setting to disable role downloading completely (`AWX_ROLES_ENABLED`), is that what you want?

[2020-03-16 13:41] #6282 closed, assigned to nobody

[2020-03-16 14:24] LohitashwaIBM commented on #6177
I would say versions for all supported Edge browsers  or at the least n to n-2

[2020-03-16 17:03] meystel commented on #6281
I see the "priority:low" tag. Just to be clear, this is currently affecting 1% of my user base and this percentage is likely to grow with current shifts in staffing towards people with longer first names. Taking a low priority view of internationalization is akin to taking a low priority view of accessibility. Making people change their name just so they can login to a piece of software leaves use

[2020-03-16 17:08] ryanpetrello commented on #6281
To be clear, there's not a _lot_ we can do about this without resorting to some pretty hacky stuff in AWX - it's a limitation in an underlying software framework AWX is built on (Django):

https://github.com/django/django/blob/master/django/contrib/auth/models.py#L334

Django recently extended the size of the last name column:

https://code.djangoproject.com/ticket/26993

...but I don't see any ev

[2020-03-16 17:13] kdelee commented on #6226
@ryanpetrello @jakemcdermott are y'all saying this is a "NOTABUG"

[2020-03-16 17:18] #5883 closed, assigned to mabashian, squidboylan, rebeccahhh

[2020-03-16 17:38] ryanpetrello commented on #6226
That's my stance.  If somebody can come up with an explanation or reproducer of what I've got wrong, though, feel free to elaborate (cc @zaskan).

[2020-03-16 18:15] dsesami commented on #5386
Examples are now included within the tooltip.

[2020-03-16 18:15] #5386 closed, assigned to jakemcdermott, dsesami

[2020-03-16 18:22] dsesami opened #6298 "Typo in Japanese tooltip for adding hosts"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Go to Inventories -> Add a new host with the green plus button.
The tooltip has a typo:
![Screenshot from 2020-03-16 14-14-46](https://user-images.githubusercontent.com/19942822/76788332-1648a580-6791-11ea-9b9a-2a627cd6d286.png)

Context in english to help you spot the location:
![69465377-44b3f800-0d3e-11ea-9072-f6a5523c6f98](https://user-images.githu

[2020-03-16 18:37] dsesami commented on #4220
Sort appears to work for all variations. It should be noted that since we can sort by project and inventory, there needs to be some way of identifying these columns. That should possibly be part of future work. Closing this issue for now as its scope is in fact complete.

[2020-03-16 18:37] #4220 closed, assigned to mabashian, dsesami

[2020-03-16 18:42] dsesami opened #6300 "Sort-able information should be visible in resource lists"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Based off of #4220

There are a handful of ways we can sort the Template list:
- Name (Ascending/Descending)
- Modified (Ascending/Descending)
- Last Job Run (Ascending/Descending)
- Inventory (Ascending/Descending)
- Project (Ascending/Descending)
- Type

This is the view as it stands today:
![Screenshot from 2020-03-16 14-42-16](https://user-images

[2020-03-16 18:55] dsesami commented on #4227
All sort parameters appear to move normally and redirect to the first page upon new sorting. :+1:

[2020-03-16 18:55] #4227 closed, assigned to mabashian, dsesami

[2020-03-16 19:08] dsesami commented on #4958
Some issues:

- Adding a team to JT access does not work. Teams cannot be added in any form through the wizard.
- Deleting a user's permissions in the access tab when they only have 1 permission does not appear to work. There is no `x` button or otherwise to revoke access.

[2020-03-16 19:11] unlikelyzero commented on #6177
@LohitashwaIBM I need more details as Windows support is nuanced. Do you have a list of customers or users who you are targeting? Maybe Pendo or Google Analytics data?

I ask because there are two versions of MS Edge in the wild: Classic and Chromium. Classic has been used up until recently in enterprise environments and has no upgrade path to Chromium for enterprise users.

Chromium support is ea

[2020-03-16 19:23] dsesami commented on #4959
List pagination, toggles, and information all appears to work.

I do have one request: could something be done about the responsiveness here of the date/time of next runs:
![Screenshot from 2020-03-16 15-21-15](https://user-images.githubusercontent.com/19942822/76792729-0b464300-679a-11ea-8764-ae52a4db02d4.png)

[2020-03-16 19:29] dsesami commented on #4959
moving back to needs_devel after speaking with @jlmitch5 . the above comment is the last remaining issue I have with the feature, so once that's wrapped up I'll close it out.

[2020-03-16 19:47] squidboylan commented on #5171
https://github.com/ansible/awx/pull/6287 adds some integration tests to verify this works, those tests pass locally. If this is still an issue please reopen this issue with the following info: "OS, awx version, awx.awx collection version, ansible version, tower-cli version, and python version"

[2020-03-16 19:47] #5171 closed, assigned to squidboylan

[2020-03-16 20:03] dsesami commented on #4959
wrapping on names is also broken (long names go off the screen), but I think this is an issue with lists in general. @appuk is filing a related bug

[2020-03-16 20:14] squidboylan commented on #6250
tested by https://github.com/ansible/awx/pull/6297

[2020-03-16 20:14] #6250 closed, assigned to squidboylan

[2020-03-16 20:14] squidboylan commented on #6167
tested by https://github.com/ansible/awx/pull/6297

[2020-03-16 20:15] #6167 closed, assigned to AlanCoding, squidboylan

[2020-03-16 20:19] appuk opened #6302 "Wrapping on lists for long names does not seem to be in place"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
1. Create an inventory
2. Go to the hosts tab
3. Add a host with a really long name
4. Go to the Host List View

##### ADDITIONAL INFORMATION
Verified on Hosts and Schedules( generic issue for schedules: https://github.com/ansible/awx/issues/4959) , but need to check for all the pages

##### EXPECTED RESULTS
The name is wrapped properly

###

[2020-03-16 20:29] mrmibrown opened #6303 "Schedule a Job to run at specific time and date from survery"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Schedule a Job to run at specific time and date from survey

"When executing a Ansible Tower Job the survey prompt pop up.  I want to define a specific date and time to run this job once without creating a scheduler.
A team is only allowed to execute the job, but cannot/should not be able to create schedulers and at the same time they must be able to

[2020-03-16 21:44] wenottingham commented on #6303
In the meantime, you could have one job template that takes the time from a survey and creates a run-once schedule via the API.

[2020-03-16 21:59] meystel commented on #6281
The origin of this issue came through RedHat (paid) Support. The submitter of the RH case has no direct relationship with ansible core community nor, certainly, with Django. But would expect the vendor (RedHat) to take steps to ensure that all underlying software (including Django) is brought up to snuff. In other words, would expect RedHat to push Django to make the necessary change to the first

[2020-03-17 01:11] MrBones757 commented on #6293
Sorry for the misunderstanding, the issue here was more that the UI returned an error that made no sense.

It wasn't until i had a look at the error returned in the console that i knew what the actual issue was.
If the information is available in the console, it should be surfaced up in the 400 popup so that users know what the actual issue is?

I spent quite a while debugging my ldap config think

[2020-03-17 11:26] ryanpetrello commented on #6293
@jakemcdermott @mabashian can one of you find somebody to take a peek at this?  Thanks 😄

[2020-03-17 11:34] alancivita opened #6305 "Wait for management pod to start task OK even if the management pod hasn't started"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The Wait for management pod to start task is marked as OK even if the management pod hasn't started, therefore the next task "mirgrate database cannot be completed correctly.

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: kubernetes
* Ansible version:  2.9.5
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

I've ran the inst

[2020-03-17 11:41] ryanpetrello commented on #6281
see: https://code.djangoproject.com/ticket/31371#ticket
see: https://github.com/django/django/pull/12581

[2020-03-17 11:43] ryanpetrello commented on #6281
Marking this as `blocked` until it gets fixed upstream and until we can update to the latest version of Django (whatever version it lands in - most likely 3.1) cc @matburt @jbradberry

[2020-03-17 12:47] alancivita commented on #6305
Never mind, it worked fine on other envs

[2020-03-17 12:47] #6305 closed, assigned to nobody

[2020-03-17 13:19] JG127 opened #6306 "awx Docker images contain corrupt rpmdb"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When building a Docker image on top of the official AWX images it is impossible to run yum. There are errors about the rpm database being corrupted. The way it is corrupted makes it impossible to even rebuild the rpm database.

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: n/a
* Ansible version:  n/a
* Docker version: 19.03.8, build afac

[2020-03-17 14:12] de1ayer commented on #3897
Same error when I'm trying to cancel running job

No special symbols in any passwords

[2020-03-17 14:59] linkeal commented on #6255
I'd be also interested in a solution for this problem. Short summary of the problem is that we'd like to trigger exactly the playbook/AWX template that actually has changed in the last merge on master. We don't want to trigger all our AWX templates since we have a couple hundred.

Our current idea and approach is to write a custom python application that inspects the git diff, searches for var, ro

[2020-03-17 15:08] kdelee opened #6309 "POST to api/v2/inventories/<ID>/inventory_sources/ with id and name gets 201 created (should be 400)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I was trying to associate an inventory script with an inventory as an inventory source. When I did a POST to api/v2/inventories/<ID>/inventory_sources/ with id and name I got a 201 created (should be 400) and an inventory source object back. I then launched an inventory update and the following traceback was produced:

[code]

Seems like the bug is th

[2020-03-17 15:10] de1ayer commented on #3897
Update: after upgrading rabbitmq-server to 3.6.16 (by default was version 3.3.5) there are no more errors, jobs are cancelling smoothly.
I've found this workaround at issue https://github.com/MrMEEE/awx-build/issues/152#issuecomment-596389699

[2020-03-17 15:23] ryanpetrello commented on #5443
cc @MrMEEE in case you haven't seen this yet

also: https://groups.google.com/forum/#!topic/awx-project/lRnm2vB1oEQ

[2020-03-17 15:25] zaskan commented on #6226
Hi guys. Thanks so much for your help. I will try a call with the customer because I want to check it with him. I'll keep you updated.

[2020-03-17 15:27] elyezer commented on #5771
The playbook field is now visible as expected:

![Screenshot from 2020-03-17 11-24-24](https://user-images.githubusercontent.com/48132/76871863-fc1ad000-6841-11ea-8141-722421ec19f5.png)

In order to take the above screenshot I did the following:

1) Created a Job Template
2) Created a normal user
3) Set the `execute` permission for the Job Template created on 1 to the user created on 2.
4) Logged

[2020-03-17 15:27] #5771 closed, assigned to elyezer, jakemcdermott

[2020-03-17 15:27] appuk commented on #6150
Everything looks fine except for one issue I observed where the disassociate button goes out of the page:
<img width="1392" alt="Screen Shot 2020-03-17 at 11 22 42 AM" src="https://user-images.githubusercontent.com/11617351/76871950-1f457f80-6842-11ea-8c1f-8d2d1c5cfd84.png">
Although, it is a general wrapping issue across all the lists I opened the issue already: https://github.com/ansible/awx/iss

[2020-03-17 15:29] #6150 closed, assigned to appuk, marshmalien

[2020-03-17 15:30] ryanpetrello commented on #3897
@de1ayer (and others) for what it's worth, we're unlikely to address this given:

https://github.com/ansible/awx/issues/5443
https://groups.google.com/forum/#!topic/awx-project/lRnm2vB1oEQ

[2020-03-17 15:30] #3897 closed, assigned to nobody

[2020-03-17 15:44] appuk commented on #6142
verified the navigations, form and field validation and everything looks good, hence closing the issue

[2020-03-17 15:44] #6142 closed, assigned to appuk, marshmalien

[2020-03-17 16:48] AlanCoding commented on #3508
Firstly, this is blocked by the need to convert to collections, because ansible/ansible is no longer accepting patches, particularly not for 2.10, and even if we did a 2.9 backport, it needs to go in the collection first.

https://github.com/ansible/awx/pull/6283

Secondly, this is blocked by actually getting this patch in:

https://github.com/ansible-collections/vmware/pull/58

More patches may b

[2020-03-17 16:49] AlanCoding commented on #3508
Assuming those blockers are addressed, here is the branch for enablement:

https://github.com/ansible/awx/compare/devel...AlanCoding:vmware_plugin?expand=1

Other stuff needs to merge first before we can seriously consider this.

[2020-03-17 17:55] dsesami commented on #6226
based on the comments above, unassigning + moving to needs_info @ryanpetrello

[2020-03-17 18:38] kdelee commented on #6258
Works for us! Made notifications w/ this var and verified that it used to throw 400, but now it works.

[2020-03-17 18:38] #6258 closed, assigned to nixocio, kdelee

[2020-03-17 18:49] kdelee commented on #6280
This looks good, `continue` does the right thing and goes to next iteration, whereas `pass` was having us go on to https://github.com/ryanpetrello/awx/blob/b73e8d8a567cbb7206fcb08a8db9919de23b7eb2/awx/main/isolated/manager.py#L305 and reference `event_data` when that did not exist -- causing this error. I'm going to call this good as @nixocio have investigated and works for us

[2020-03-17 18:49] #6280 closed, assigned to ryanpetrello, nixocio, kdelee

[2020-03-17 19:15] AlanCoding commented on #5946
This is very similar to https://github.com/ansible/awx/pull/6186

👍 to that.

We've been making this exact kind of change in a ton of different modules. This is exactly what we want. This is needed with or without the tower-cli conversion.

[2020-03-17 19:26] mabashian commented on #6293
As soon as I toggle ALLOW ACCESS TO PUBLIC GALAXY off this is what the interface looks like:

<img width="1490" alt="Screen Shot 2020-03-17 at 3 11 32 PM" src="https://user-images.githubusercontent.com/9889020/76892857-b2da7880-6861-11ea-9a16-5d9024e726af.png">

When that toggle is clicked we're making a patch to `/api/v2/settings/all` with the payload:

`{"PUBLIC_GALAXY_ENABLED": false}`

The api

[2020-03-17 19:35] one-t commented on #4814
Just checking back @abdul-jabbar01 - let me know if this is still an issue.

Thanks!

[2020-03-17 19:54] AlexSCorey opened #6316 "Convert Template.jsx to hooks"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
convert template.jsx to hooks

[2020-03-17 19:55] AlexSCorey opened #6317 "Convert JT Form to formik hooks"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Switch to formik hooks for JT form.

[2020-03-17 22:56] stobias123 opened #6320 "Can't group VMWare hosts by tags"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I want to group vmware hosts by tags as described in new vmware inventory plugin. I cannot

##### ENVIRONMENT
* AWX version:  3.6.2
* AWX install method: operator
* Operating System: linux
* Web Browser: firefox

##### STEPS TO REPRODUCE

Try to add a vmware dynamic inventory and group by tags (not custom fields)

##### EXPECTED RESULTS

Groups, just l

[2020-03-17 22:59] stobias123 opened #6321 "Can't use vault credential with inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I followed the guide here -> https://docs.ansible.com/ansible/latest/scenario_guides/vmware_scenarios/vmware_inventory.html#using-vaulted-configuration-files

and encrypted my credentials with vault (the vmware credentials didn't work.)

I cannot use a vault credential to decrypt my inventory file.

##### ENVIRONMENT
* AWX version: 3.6.2
* AWX install

[2020-03-17 23:55] wenottingham commented on #6320
That is an ansible tower version. If you are having issues with Ansible Tower please contact your support rep.

(In any case, the VMware inventory plugin is not used at this time. See https://github.com/ansible/awx/issues/3508 for details)

[2020-03-17 23:55] #6320 closed, assigned to nobody

[2020-03-18 00:08] unlikelyzero commented on #6230
Won't directly address the issue but https://github.com/ansible/tower-qa/pull/4847

[2020-03-18 00:20] unlikelyzero commented on #5963
@dsesami https://github.com/ansible/tower-qa/pull/4848

[2020-03-18 01:27] AlanCoding opened #6324 "tower_role not idempotent"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Granting a user a role with the AWX collection twice gives changed twice

##### ENVIRONMENT
* AWX version: 9.3.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

passes

##### ACTUAL RESULTS

fails, both tasks report changed

##### ADDITIONAL INFORMATION

this is being refactored anyway, test again then

https://github.com/ansible/awx/pull/63

[2020-03-18 13:03] MrMEEE commented on #5443
@ryanpetrello Thanks for the heads-up.. I will follow this closely :)

[2020-03-18 13:10] ryanpetrello commented on #5443
@MrMEEE the biggest change is "install and configure Redis, not RabbitMQ".  Also, we lost a number of RabbitMQ toggle-ables in the installer.

You may be interested in any changes under `./installer` in the PR:

https://github.com/ansible/awx/pull/6034/files#diff-bfa9126dc8059138bf7554d741cb6a5d
https://github.com/ansible/awx/pull/6034/files#diff-fabe539e09ace3de67486bba9b5b3be6
https://github.com

[2020-03-18 13:45] ryanpetrello commented on #6281
@meystel,

I've contributed a patch to Django which extends the username column to 150 characters, and it was accepted and merged:

https://github.com/django/django/pull/12581#event-3140320765

At some point in the future after it's released, we'll update AWX to the next version of Django (3.1), and AWX will gain this support for longer first names.

[2020-03-18 13:48] ryanpetrello commented on #6281
Whoever stumbles upon this next: this issue is blocked until Django 3.1 is released, and we can upgrade to it.

[2020-03-18 13:53] benjaminhon commented on #4703
Hmm looks like this problem still persists in awx 9, is there a way to set recursive=false for git scum projects?

[2020-03-18 14:09] meystel commented on #6281
felixxm merged commit 5f8495a into django:master 6 hours ago. How quickly can awx pick up the change?

[2020-03-18 14:10] chris-p-martin opened #6328 "Roles not downloaded during project sync"
##### ISSUE TYPE
 - Role download setting on the system not honoured when running project sync

##### SUMMARY
When the "Enable role download" setting is enabled in the settings page of the Ansible AWX server, the project import process skips checking for requirements.yml and downloading of roles.

##### ENVIRONMENT
* AWX version: 9.0.1
* AWX install method: Docker on Linux
* Ansible version:  2.8.

[2020-03-18 14:29] meystel commented on #6281
Thank you very much!!!

[2020-03-18 15:03] dsesami commented on #5890
Completed Jobs list works great. Sorting, etc. etc. RBAC also appears to behave the way we want it to. :+1:

[2020-03-18 15:03] #5890 closed, assigned to marshmalien, dsesami

[2020-03-18 15:30] zaskan commented on #6226
Hi @dsesami @ryanpetrello. I just was in a call with the customer and I'm able to reproduce the problem.

As I can see, if you don't add the commas, Tower add them but put all the paths in the same line in the field. You need to refresh the browser to see it after save the changes.

[2020-03-18 15:41] kdelee commented on #3903
Notes for @tvo318

In Tower 3.7, Job Templates now have a read-only field that shows what organization they are affiliated with. They inherit this from the Project that provides the playbook for the Job Template. In situations where Job Templates have inventories and projects from different organizations, this changes the RBAC relationship subtly. For Job Templates created before migrating to Ansi

[2020-03-18 15:49] kdelee commented on #3903
First Y/N means had permission on prior version of awx/tower

Second Y/N means has permission after upgrade to new version of awx/tower on existing objects that were upgraded

Third Y/N means has permission on newly created resources in new version of awx/tower
Scope | Role Type | Can read JT | Can read activity stream for JT | Can Launch JT | Can edit JT | Add automated test for
-- | -- | -- | --

[2020-03-18 15:50] kdelee commented on #3903
closing as we are done verifying and regression tests merged

[2020-03-18 15:50] #3903 closed, assigned to jbradberry, AlanCoding, appuk, kdelee

[2020-03-18 15:50] wenottingham commented on #6328
Roles are downloaded when the project is checked out for execution, not when the project revision is synced.

[2020-03-18 15:52] egmar commented on #6328
It was also discussed here https://github.com/ansible/awx/issues/5826

[2020-03-18 15:58] kdelee commented on #4008
@tvo318 this is related to https://github.com/ansible/awx/issues/3903

I have some notes there about how this is impacted

[2020-03-18 15:58] #4008 closed, assigned to AlanCoding, appuk, kdelee

[2020-03-18 17:01] kdelee commented on #5617
As we were reproducing this on a regular basis on internal jobs and many upstream users as well, I am going to call this verified by the fact that it has been solved for all parties. Closing

[2020-03-18 17:01] #5617 closed, assigned to ryanpetrello, AlanCoding

[2020-03-18 17:20] appuk opened #6332 "Getting a 400 error when Credential Add/Edit has an invalid SSH Private Key field"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When a invalid SSH Private Key is specified, getting a 400 error instead of an error under the field that the value is invalid

##### STEPS TO REPRODUCE
1. Add/Edit a credential
2. select any of the credential type
2. Enter an invalid value for the SSH Private Key

##### EXPECTED RESULTS
It should say that the value is invalid under the field

##### AC

[2020-03-18 17:47] dsesami commented on #6209
this appears to have been fixed at some point since @marshmalien and I can't recreate it. Marking as closed unless it reappears.

[2020-03-18 17:47] #6209 closed, assigned to nobody

[2020-03-18 17:53] eperry commented on #5473
I just tried 9.3.0  and same issue for me

[code]

[2020-03-18 18:19] gitsowmiyaa commented on #6213
I am also stuck on the same issue. please help

[2020-03-18 18:22] dsesami commented on #5895
Some feedback:

- Lack of column labeling is really hurting here. There is no tooltip or intuitive information on the survey page. If we don't address that in this issue, we need to tackle it in a more systemic-manner.
- ~We do not have information about the name of the variable itself introduced.~ ignore this, it wasn't like this in the old UI either
- We do not have information about whether or

[2020-03-18 18:39] AlexSCorey commented on #5895
@dsesami I agree with the need for headings and with the select all button alignment.  I meant to create a "clean up" issue for the survey that would take all of this kind of feedback and address it at once, assuming doing so made sense.  I think we should also get insight from @trahman73 regarding how to show required items and if we want to show the headings?  Maybe that stuff will be shown in t

[2020-03-18 18:40] AlexSCorey opened #6333 "Survey List Clean up"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This issue is designed to be a place to address some small things within the survey list.

- [x] Make sure default passwords are hidden in the list!
![Screenshot from 2020-03-26 15-37-50](https://user-images.githubusercontent.com/19942822/77689567-40138080-6f78-11ea-981d-f09d3c1eb1a4.png)

- [x] Move the select all button to be aligned with the selec

[2020-03-18 18:49] dsesami commented on #5895
after speaking with @AlexSCorey we'll move most of the issues to the other ticket. For now, I'll move this back to needs_devel so he can tackle the wrapping issue.

[2020-03-18 19:01] #5963 closed, assigned to keithjgrant, dsesami

[2020-03-18 19:17] kdelee commented on #5138
Going to close as there have been no reported problems and changes seem sane

[2020-03-18 19:17] #5138 closed, assigned to jakemcdermott, one-t

[2020-03-18 19:41] dsesami commented on #6293
Verified that the LDAP settings can be changed without a 400, and that all the galaxy-related parameters POST successfully now. The form validation with the logic between a primary galaxy server URL and allowing access to public galaxy works.

[2020-03-18 19:41] #6293 closed, assigned to mabashian, dsesami

[2020-03-18 19:49] dsesami commented on #5987
Looks like the fields don't magically vanish. Seems to work. :+1:

[2020-03-18 19:49] #5987 closed, assigned to jakemcdermott

[2020-03-18 20:19] kdelee commented on #3103
@one-t @nixocio and I did this
1. set up squid proxy (see http://www.squid-cache.org/ )
2. Configured tower to use the squid proxy
3. set up insights rigamarole :expressionless:
4. test insights tab on hosts, show we get expected response from insights
5. turn off proxy, confirm we get error because can't reach out to it
6. turn it back on, confirm still works.

Closing!

[2020-03-18 20:19] #3103 closed, assigned to nixocio, one-t, kdelee

[2020-03-18 20:28] AlexSCorey commented on #5895
In speak with @trahman73 @dsesami we decided that the required item icon will not be rendered on the list but will be rendered in the preview.

[2020-03-18 21:14] nickjmv commented on #3751
@Ernst-LRZ, how did you modify the `/etc/nginx/nginx.conf` INSIDE the docker container? When I try to do this I get an unwritable file so I can't modify anything

[2020-03-18 23:33] elyezer commented on #5443
Extensive testing was done before merge to ensure the installation was working as expected and that replacing rabbitmq with redis would not introduce regressions.

With that said, we can consider this as being verified and any further polishing will be handled by separated issues (we already got some of those already opened).

[2020-03-18 23:33] #5443 closed, assigned to elyezer, chrismeyersfsu, kdelee

[2020-03-19 00:10] MrBones757 commented on #6293
Thanks for have a look at this guys! :)

[2020-03-19 02:10] #5002 closed, assigned to squidboylan

[2020-03-19 02:44] nonomato opened #6339 "in ansible tower ,File Exists Error on Jobs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
File Exists Error on  Jobs

##### ENVIRONMENT
* Ansible Tower version: 3.2.7
* Ansible version:  2.6.4
* Operating System: CentOS Linux release 7.5.1804
* Web Browser: chrome

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

Task run successfully

##### ACTUAL RESULTS

Bug appears randomly

In Ansible Tower Web UI:
Identity added: /tmp/awx_56471__MqKD

[2020-03-19 03:03] ryanpetrello commented on #6226
@zaskan,

Yea, based on https://github.com/ansible/awx/issues/6226#issuecomment-598856900, I'm not seeing an actual issue here, so I'm inclined to close this as `notabug`.  If you've got some evidence of a bug the customer is encountering, let us know and we can try to reproduce.

[2020-03-19 03:03] #6226 closed, assigned to ryanpetrello

[2020-03-19 12:02] ryanpetrello commented on #6339
@nonomato

This bug tracker is for reporting issues in the open source AWX project, not Red Hat Ansible Tower.  If you need help troubleshooting Ansible Tower, please reach out to Red Hat support.

[2020-03-19 12:02] #6339 closed, assigned to nobody

[2020-03-19 12:13] egmar opened #6340 "Jobs not running with external PostgreSQL database after PR #6034"
##### ISSUE TYPE
Jobs not running with external PostgreSQL database after PR https://github.com/ansible/awx/pull/6034

##### SUMMARY
Jobs not running with external PostgreSQL database after PR https://github.com/ansible/awx/pull/6034
I've found that the issue is in following code:
https://github.com/ansible/awx/blob/db7f0f9421853f2489ebb2f6b904202986dee99a/awx/main/dispatch/__init__.py#L72-L78

Re

[2020-03-19 12:15] ryanpetrello commented on #6340
Thanks for reporting, @egmar - could you open a PR with the `sslmode` change?

[2020-03-19 12:15] egmar commented on #6340
Yes, I can, the question is about other options
right now the code also have 'sslrootcert': '{{ ca_trust_bundle }}',

[2020-03-19 12:16] ryanpetrello commented on #6340
Yea, good point.  Let me chat w/ @chrismeyersfsu about this - maybe there's a better way to handle the connection from those args.

[2020-03-19 12:18] egmar commented on #6340
I've looked in docs and environment variables could be an option, see:
https://www.psycopg.org/docs/module.html?highlight=connect#psycopg2.connect

[2020-03-19 12:19] ryanpetrello commented on #6340
This might be better:

[code]

[2020-03-19 12:19] egmar commented on #6340
ok, let me open the PR then

[2020-03-19 12:35] artmakh opened #6342 "Virtualenv in Kubernetes deployment doesn't work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Error when applying
`curl -X PATCH 'https://admin:mypass@myurl/api/v2/organizations/my_org/' \
    -d '{"custom_virtualenv": "/opt/custom-venvs/my_env/"}'  -H 'Content-Type:application/json'`
`{"custom_virtualenv":["/opt/custom-venvs/my_env/ is not a valid virtualenv in /var/lib/awx/venv"]}`
##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method:

[2020-03-19 12:48] Grekkor commented on #223
Bump. Any news on this?
The issue was marked as closed but it is definitely not closed...

[2020-03-19 12:55] ryanpetrello commented on #6342
@fantashley you have any ideas here?

[2020-03-19 15:28] Gortex commented on #6213
Bump.  Same issue.

[2020-03-19 17:17] unlikelyzero opened #6349 "[WIP] Tower cluster will stop serving static UI content after running for 13 days"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In some scenarios, clustered tower will stop service static UI content after running for 13 days.

##### ENVIRONMENT
* AWX version: devel (3/5)
* AWX install method: yolo+devel
* Ansible version:  devel (3/5)
* Operating System: RHEL7.7

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2020-03-19 17:27] AlexSCorey opened #6351 "DataListCell doesn't wrap"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Most of our lists have a text wrapping issue.  Whoever picks up this issue will need to audit all of the lists and use the DataListCell component in `/components` to resolve a wrapping issue.  This has already been implemented in `SurveyList.jsx`

Once https://github.com/patternfly/patternfly-react/issues/3938 has been resolved this issue can be remove

[2020-03-19 17:38] marshmalien opened #6352 "Hosts aren't disassociating from Groups even when returning 204 success responses"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When disassociating inventory hosts from a group in bulk, the API returns a 204 success response but the hosts remain in the group. The UI could address this issue by enforcing a single disassociate at a time, or through disassociating the hosts sequentially. There is an API component to this because it shouldn't return a 204 success if it did not succ

[2020-03-19 19:23] donpatzone commented on #553
Hi,
another use case for the volatile password option would be for teams with multiple system administrators. With the current implementation it is possible for administrator A to relaunch the job of administrator B, whose credentials were passed as survey variables.
This would break the audit trail which is an important factor in high security environments

[2020-03-19 19:50] RylandDeGregory opened #6355 "tower_settings module "value" field does not accept comma"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Supplying a comma in the value field for tower_settings causes the module to fail with "Not a valid string."

The issue is only seen in the new AWX Collection module: https://galaxy.ansible.com/awx/awx

This is a regression from the old Tower-CLI module located at
`/site-packages/ansible/modules/web_infrastructure/ansible_tower/tower_settings.py`, whic

[2020-03-19 19:54] RylandDeGregory commented on #5946
Any ETA for this to be patched? Issue persists in the new collection and I've found another related bug today: https://github.com/ansible/awx/issues/6355

[2020-03-19 20:45] kedark3 commented on #6355
Interesting, I do not see the same issue. I haven't switched to Collections yet. But I am able to setup LDAP using tower_settings module just fine.

[2020-03-19 20:47] RylandDeGregory commented on #6355
It works fine using the built-in modules. I can configure every LDAP setting properly with them. The issue is the Collection.

[2020-03-19 22:34] patrickkpowell commented on #4278
I just had the same issue.  It was on a VM I had just deployed and my user credentials required a different sudo password than other systems.  Once I synced those up it worked.

[2020-03-20 01:07] ryan012880 opened #6357 "UI job logs has excess new line on each tasks"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In the UI each line in the task job log has an additional newline.

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker on linux
* Ansible version:  2.9.5
* Operating System: RHEL7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Launch a JT for multiple targets

##### EXPECTED RESULTS

<img width="797" alt="Screen Shot 2020-03-20 at 9

[2020-03-20 02:03] RogueRaider commented on #1179
This would make things easier for my team. Remembering host names and the specific syntax is too much to ask in our environment.

[2020-03-20 03:12] kusalindika commented on #6213
Hey guys,
I have convert my project into scm integrate with BitBucket. Then it work like a charm.
I know this is the not the way to address this issue. But till its become solved by the admins, I have done that way since I'm running out of time. If there's anything to clarify from that way, feel free to contact us.

[2020-03-20 03:16] AlanCoding commented on #6355
Could you test this workaround and report back

[code]

thanks!

[2020-03-20 07:41] impca commented on #1179
You can already do that by using the AWX api - https://docs.ansible.com/ansible-tower/3.2.5/html/towerapi/launch_jobtemplate.html (limit: A string that represents a comma-separated list of hosts or groups to operate on). Prepare the most commonly used jobs beforehand and your staff can then use them - launch via scripts or a webapp.

[2020-03-20 08:52] JosephJHCho opened #6359 "Searching keyword finds more than I expected at Templates menu"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Searching keyword finds more than I expected at Templates menu

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.3
* Operating System: Centos7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Create Job Templates with name prefix N_CAT01_ , R_CAT01_ and   T_CAT01_  serveral kinds.
2. Repeat 1. with

[2020-03-20 13:27] AlanCoding commented on #5946
I might just piggyback the fix onto https://github.com/ansible/awx/pull/6291, since that's establishing some basic test coverage in the neighborhood.

[2020-03-20 13:38] ryanpetrello commented on #6357
@ryan012880,

Are you running 9.3.0, or `devel` (with the new redis changes)?

[2020-03-20 13:50] RylandDeGregory commented on #6355
Hey @AlanCoding, thanks! That worked! I've found I had to update all of my LDAP commands using tower_settings...in various ways...although I do have to say, using native YAML data structures like dicts and lists rather than in-line JSON is much nicer!

It would be REALLY awesome if these new collection modules had some documentation that showed what all the changes and new expected values are :)

[2020-03-20 15:03] AlexSCorey commented on #6100
I cannot reproduce this bug and I think it may have been resolved already.  Putting it in needs test for confirmation.

[2020-03-20 15:06] AlexSCorey commented on #6052
this is a duplicate issue.  This is addressed in #6317

[2020-03-20 15:06] #6052 closed, assigned to AlexSCorey

[2020-03-20 15:13] Mordecaine commented on #2350
+1

[2020-03-20 15:15] nwerker commented on #2350
+1

[2020-03-20 15:21] rmeichsner commented on #2350
+1

[2020-03-20 15:30] ryanpetrello commented on #6357
I think this might be a change/regression in Ansible itself.  Here's a video that shows a difference in behavior between Ansible 2.9.0 and 2.9.6:

http://ryanpetrello.com/ansible-callback-bug.mp4

[2020-03-20 15:31] ryanpetrello commented on #6357
Here's what we're getting in Ansible 2.9.6 for a job that exhibits this behavior:

[code]

[2020-03-20 15:32] ryanpetrello commented on #6357
Here's what we're getting in Ansible 2.9.0 for a job that **does not** exhibit this behavior:

[code]

[2020-03-20 15:35] ryanpetrello commented on #6357
I think this change is responsible for the regression:

https://github.com/ansible/ansible/pull/65199/

If I install 2.9.6, I see the behavior.  If I edit my ansible 2.9.6 source code and undo that change, the problem goes away.

cc @samdoran

[2020-03-20 16:59] ryanpetrello commented on #6357
@ryan012880 I've opened a PR to roll back this change to ansible, in case you want to give it a whirl:

https://github.com/ansible/ansible/pull/68375

[2020-03-20 17:09] unlikelyzero commented on #6359
@JosephJHCho Hey! I just tried to reproduce this and cannot reproduce it unless I set the JT Description field to T_CAT10. The JT Search results includes the Description field as well.

Could that be the problem?

[2020-03-20 17:11] blomquisg commented on #6328
Works as expected

[2020-03-20 17:11] #6328 closed, assigned to nobody

[2020-03-20 17:12] blomquisg commented on #6324
@AlanCoding is this still blocked?  Are you actively working on it?

[2020-03-20 17:12] AlexSCorey opened #6362 "Can't Edit JT with no Inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Can't Edit JT with no Inventory but Inventory Prompt on Launch
##### ENVIRONMENT
* AWX version: 2.9
* AWX install method: docker for mac
* Ansible version:  9.2
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a JT with no inventory, but click the Prompt On Launch checkbox.
Go back and edit that inventory, but keep the

[2020-03-20 17:13] wenottingham commented on #6321
-> #4089

[2020-03-20 17:13] #6321 closed, assigned to nobody

[2020-03-20 17:19] AlanCoding commented on #6324
@blomquisg this is blocked by https://github.com/ansible/awx/issues/5145. It needs to be tested after that is done. It should not be worked on until after that module is refactored.

I will update status in that issue.

[2020-03-20 17:55] hs-hub-world opened #6365 "Fresh install Jobs not starting"
##### ISSUE TYPE
 - Bug Report
Just did a fresh install of AWX 9.3.0 and none of the JOBs are being triggered. Project, Jobs, Ad-hoc jobs any jobs.
after a few minutes it Times out with this error:

##### SUMMARY

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker on centos 7
* Ansible version:  2.9.6
* Operating System: Centos 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE
try

[2020-03-20 18:13] AlanCoding commented on #5145
Currently remaining:

[code]

Active PRs that would close out modules:

 - `tower_job_template` in progress - https://github.com/ansible/awx/pull/6353
 - `tower_workflow_template` getting close - https://github.com/ansible/awx/pull/6291
 - `tower_send` / `tower_receive` not functional yet - https://github.com/jbradberry/awx/pull/3

~These 4 modules~ The latter 3 modules are the ones that we would

[2020-03-20 18:20] #6298 closed, assigned to nobody

[2020-03-20 18:50] dsesami opened #6366 "[awx-pf] Can't edit job templates"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Tried to edit the name and description of a job template. It doesn't change when I click save.

Reproduction:
1. Make a job template
2. Try to edit various things about it. pretty straightforward. I don't see any 400s or anything, though feel free to poke around and see what you find.

[2020-03-20 19:04] AlanCoding opened #6367 "Support all unified job template actions (update, approve, etc.)"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now with the AWX collection, you can:

 - launch jobs
 - launch workflows

It should also be possible to take the corresponding action for all the other types:

 - update inventory sources
 - update projects
 - approve approval templates
 - launch system job templates (module does not exist)

Prior attempted implementation was https://github.co

[2020-03-20 19:09] john-westcott-iv commented on #5145
- `tower_label` in progress - #6361

[2020-03-20 19:16] #6316 closed, assigned to AlexSCorey

[2020-03-20 19:37] hs-hub-world commented on #6306
thanks, guys. Is there anything I can do at the moment to manually fix this to proceed forward. Or alternatively, is there a way for me to release an older version that includes the rabbitMQ -?  We are working on an ansible project and we have hit a dead end because of this ;(  Any assistance would be greatly appreciated.

Thank you
HS

[2020-03-20 19:41] hs-hub-world commented on #6365
Is there anything I can do at the moment to manually fix this to proceed forward. Or alternatively, is there a way for me to release an older version that includes the rabbitMQ -? We are working on an ansible project and we have hit a dead end because of this ;( Any assistance would be greatly appreciated.

Thank you
HS

[2020-03-20 19:52] #6332 closed, assigned to nobody

[2020-03-20 20:37] unlikelyzero commented on #6100
@AlexSCorey fixed!

[2020-03-20 20:37] #6100 closed, assigned to AlexSCorey

[2020-03-20 20:58] AlanCoding commented on #5177
demo

[code]

hit a bug with it, will put up new patch

[2020-03-20 21:55] geerlingguy commented on #6365
@hs-hub-world - 9.3.0 should not yet be using redis; it should still be on RabbitMQ. You can use the docker-compose or installer setup from https://github.com/ansible/awx/tree/9.3.0 instead of from `devel` to make sure you are using all the 9.3.0-compatible setup.

[2020-03-21 00:58] hs-hub-world commented on #6365
Hello @geerlingguy, well, looks like RabbitMQ has been removed from 9.3.0 after using this repo for the setup.  git clone --depth 50 https://github.com/ansible/awx.git
Not sure if this was done intentionally or by accident -?
in case anyone else runs into this issue.

![image](https://user-images.githubusercontent.com/20629911/77215867-c7be4280-6ad3-11ea-9351-ac8d55d56ff3.png)

Thanks,
HS

[2020-03-21 01:20] AlanCoding commented on #5145
- `tower_role` in progress https://github.com/ansible/awx/pull/6370

[2020-03-21 05:05] hs-hub-world commented on #6365
In case anyone is interested for a full bash script for Centos to install AWX by specifying the version to install you may find it here: https://devopskbpages.blogspot.com/2020/03/deploying-awx-on-centos-7.html

[2020-03-21 05:40] kusalindika commented on #6213
I share my configuration to avoid this error, if anyone needed,

1. For the AWX Project select SCM Type as Git from the drop box
2. Provide SCM URL that where your project's clone repository url, branch name and SCM credentials
3. For SCM Credentials you can use, key method with its credential type as Source Control - As in back-end you should allow the awx-web container key from whatever the sour

[2020-03-21 05:52] ryan012880 commented on #6357
running devel

[2020-03-21 05:53] ryan012880 commented on #6357
@ryanpetrello noted, thank you

[2020-03-21 11:32] alexshchur opened #6371 "Document connecting to websocket for 3rd parties"
##### ISSUE TYPE
I wasn't able to find any info on how do I connect to websocket. Only this issue: https://github.com/ansible/awx/issues/2468

I've tried to create a Websocket client with Nodejs and subscribe to jobs status changes with this payload:
[code]

but the messages just don't come from the server, although there're no error messages returned from it.

##### SUMMARY
It's not clear how to

[2020-03-21 12:38] MaartenMol commented on #6365
I always pull the versions from: https://github.com/ansible/awx/releases

Apparently I have been having the same issue, while a minute ago everything worked fine... How can we fix this?

@geerlingguy does the install book pull some file from latest github or something that may cause this?

[2020-03-21 14:37] ryanpetrello commented on #6365
Not sure what's going on here at first glance, but 9.3.0 is *definitely* still RabbitMQ.  Note the `amqp` lib in the screenshot @hs-hub-world posted:

<img src="https://user-images.githubusercontent.com/20629911/77186997-0a126000-6a91-11ea-803f-8017d8536abc.png" />

If you're attempting to deploy AWX from `devel`, it's **not** going to work with the official 9.3.0 image (which is what I suspect yo

[2020-03-21 14:39] #6365 closed, assigned to nobody

[2020-03-21 19:05] wilfil commented on #3267
I have the same problem after upgrading my tower to the latest version (3.6).

[2020-03-21 19:07] AlanCoding commented on #6119
got merged! We will be able to fix this with an upgrade before too long.

[2020-03-21 19:44] gstorme opened #6372 "project update error: invalid syntax (uuid.py, line 138)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Upgraded from 7.0.0 to 9.3.0.
Running a project update fails with this error:

ERROR! Unexpected Exception, this is probably a bug: invalid syntax (uuid.py, line 138)
the full traceback was:
Traceback (most recent call last):
  File "/usr/bin/ansible-playbook", line 92, in <module>
    mycli = getattr(__import__("ansible.cli.%s" % sub, fromlist=[myclas

[2020-03-21 20:02] hs-hub-world commented on #6365
Hi @ryanpetrello, just to be clear are you saying when I use the git clone command below that is downloading the 'devel' version -?
git clone --depth 50 **https://github.com/ansible/awx.git**
After that we just do ansible-playbook...

[code]

Thank you
HS

[2020-03-21 20:34] ryanpetrello commented on #6365
Yes.  The default branch of this git repo is `devel`.  If you want 9.3.0, use `git clone -b 9.3.0 ...`

[2020-03-21 21:51] tp199314 opened #6373 "API support for child jobs of a workflow job"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I was wondering if there is an API funktion or some kind of variable which contains the IDs of all "child jobs" of a workflow job.
Background of this question is:
I would like to pass diffrent credentials to some jobs inside the workflow. For this i would like to get all "child job id's", check the job template id of each job, and then if needed, pas

[2020-03-22 07:34] smilemare opened #6374 "the result formats from "windows" and "linux" using ansible "setup" module seems different"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I'm using ansible tower 3.6.2 for trial now.
When I using logging aggregator for outputing job result to ELK, I found that the result formats from "windows" and "linux" using ansible "setup" module seems different, so that elasticsearch couldn't index the result into the database.

the error as below:
[WARN ][logstash.outputs.elasticsearch][main] Coul

[2020-03-22 11:42] ryanpetrello commented on #6373
Hey @tp199314,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-03-22 11:42] #6373 closed, assigned to nobody

[2020-03-22 17:47] fantashley commented on #6342
I found that the System API endpoint seems to expect the parent directory of the custom virtual environments, rather than a path directly to the venv. If I update the system settings with `/opt/custom-venvs` instead of `/opt/custom-venvs/my_env`, it recognizes the virtual environment and will then display it at the `/api/v2/config/` endpoint:
[code]
Then the following patch to the organization wit

[2020-03-22 23:30] JosephJHCho commented on #6359
@unlikelyzero You gave me hint to try this. Description field is blank but playbook name has include that keyword. So If I changed the keyword "name:T_CAT10" then I works fine. Thanks.

[2020-03-23 00:34] #6359 closed, assigned to nobody

[2020-03-23 11:01] Bobbobboe opened #6376 "No instance groups after install"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After installing AWX using docker-compose and the provided installer there is no instance group tower in the webinterface.

##### ENVIRONMENT
* AWX version: 9.3.0
* AWX install method: docker on linux
* Ansible version:  2.9.6
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Install AWX using installer
2. Login to Webint

[2020-03-23 11:58] Bobbobboe commented on #6376
When I start a job it creates the tower Instance Group but without any Instances

[2020-03-23 12:03] Bobbobboe commented on #6376
After manually adding the AWX instance to the Instance Group and rebooting I get the following error:
[code]

[2020-03-23 13:21] smilemare commented on #6374
facts in json:

**windows host**
"ansible_interfaces": [
          {
            "default_gateway": null,
            "dns_domain": null,
            "macaddress": "00:21:00:A0:03:10",
            "connection_name": "VMware Network Adapter VMnet1",
            "interface_index": 18,
            "interface_name": "VMware Virtual Ethernet Adapter for VMnet1"
          },

**linux host**

"ansible_in

[2020-03-23 13:39] AlexSCorey commented on #6362
https://github.com/ansible/awx/pull/6368#pullrequestreview-379431124

[2020-03-23 13:39] #6362 closed, assigned to marshmalien, dsesami

[2020-03-23 13:39] AlexSCorey commented on #6366
https://github.com/ansible/awx/pull/6368#pullrequestreview-379431124

[2020-03-23 13:39] #6366 closed, assigned to marshmalien, dsesami, AlexSCorey

[2020-03-23 13:41] AlexSCorey commented on #6362
https://github.com/ansible/awx/pull/6368#pullrequestreview-379431124

[2020-03-23 14:17] ryanpetrello commented on #6374
@smilemare that fact data comes directly from Ansible (not AWX).  If you're seeing different data on different platforms, you might want to ask in the Ansible IRC or mailing list; this tracker is for bugs in AWX itself.

[2020-03-23 14:17] #6374 closed, assigned to nobody

[2020-03-23 14:19] AlexSCorey opened #6379 "Cannot remove Inventory from JobTemplate"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The user with 'use' permissions of higher should be able to remove an Inventory from a JT so long as Prompt on Launch is selected.
##### ENVIRONMENT
* AWX version: 2.90
* AWX install method: docker for mac
* Ansible version:  9.3
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Go to edit a job template that has an inventory

[2020-03-23 14:30] AlanCoding commented on #6324
The exact test from this issue is added in the PR to be merged, so this should be an easy close, but I'll leave that for probably @squidboylan to do

[2020-03-23 15:02] craph commented on #5064
@jakemcdermott Sure, here is the _mininal_ test case:

1. First I have clone AWX from github repo and awx-logo too

1. Create an organization : **MyOrganization**

1. Create a team : **MyTeam** linked to the Organization **MyOrganization**

1. The user is a user from LDAP. So Logout from Admin and connect once with the user.

1. Logout, then login back with the admin user

1. Link the user from LD

[2020-03-23 15:43] jakemcdermott opened #6380 "Host event type and reference errors when opening host details modal for some job events"
##### ISSUE TYPE
 - Bug Report

##### STEPS TO REPRODUCE
- Run a few job templates with various tasks and event types
- Click into the host details modal for each line

##### EXPECTED RESULTS
- The modal opens when an event is clickable

##### ACTUAL RESULTS
- Depending on the structure of the host event data for that line, errors due to missing fields can occur and prevent the modal from loading

[2020-03-23 16:17] AlexSCorey opened #6382 "Labels don't save on JT with not Inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 2.9
* AWX install method: docker for mac
* Ansible version:  9.3
* Operating System: Mojave
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a JT with not inventory, but prompt on launch selected for that inventory.  Adds labels to the JT
##### EXPECTED RESULTS

The template saves just fine.

##### ACTUAL RESULT

[2020-03-23 16:18] tp199314 opened #6383 "Options for notification templates not set when using frontend"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Options for notification templates are not set when using the frontend. When using the API there is no problem.

##### ENVIRONMENT
* AWX version: 9.2.0
* AWX install method: docker on linux
* Ansible version:  2.9.3
* Operating System: Ubuntu 18.04 (for AWX), Client is on Windows 10
* Web Browser: Chrome 80.0.3987.149

##### STEPS TO REPRODUCE

1. Choo

[2020-03-23 17:42] ryanpetrello commented on #6376
This sounds to me like your RabbitMQ node(s) is/are not up or are unreachable.

This issue tracker is for tracking feature enhancements and bugs to AWX itself.  If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2020-03-23 17:42] #6376 closed, assigned to nobody

[2020-03-23 17:47] ryanpetrello commented on #6372
@gstorme,

It looks like your ansible virtualenv has a package installed that doesn't work in python3, and is interfering with the built-in `uuid` library in modern Python versions (newer versions of AWX ship use python3 only, as python2 is now out of support).

https://pypi.org/project/uuid/#history

I'm not really certain what the point of this package is, or how it got installed on your system;

[2020-03-23 18:06] ryanpetrello commented on #6340
@egmar I'm gonna open this back up because I'd like to make a point to add some regression testing for this on our end (and the `needs_test` label on an open issue helps us track that work).

[2020-03-23 18:14] AlexSCorey commented on #6098
this is being addressed with #6317, #6384, and #6052

[2020-03-23 18:14] #6098 closed, assigned to nobody

[2020-03-23 18:16] AlexSCorey opened #6384 "Convert WFJT Form to formik hooks"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Use formik hooks

[2020-03-23 18:23] appuk commented on #5274
Verified the form and field validation, and everything is working as expected, hence closing the issue

[2020-03-23 18:23] #5274 closed, assigned to jlmitch5, appuk

[2020-03-23 18:24] appuk commented on #5275
Verified the edit form and everything is working as expected, hence closing

[2020-03-23 18:24] #5275 closed, assigned to jlmitch5, appuk

[2020-03-23 21:12] appuk commented on #6143
working as expected, hence closing the issue

[2020-03-23 21:12] #6143 closed, assigned to appuk, marshmalien

[2020-03-23 21:17] squidboylan commented on #6279
I'm closing this because we added an integration test in https://github.com/ansible/awx/pull/6304

[2020-03-23 21:17] #6279 closed, assigned to AlanCoding, beeankha

[2020-03-23 22:34] gstorme commented on #6372
My bad, we install a custom pip package which has uuid as a dependency and also got installed.
Should have checked that, we'll fix our package/code to be compatible with python3.
Thanks