[2022-02-09 09:15] xzy256 commented on #130
I got same error -- "Connection refused " when i run command. It's fuzzy,  Running a command success in centos8, but ubuntu-20.04 failed, I change `ssh_args` value refer as @innossh, it was success.
as if it's a bug.
ansible: 2.9.18
awx: 17.1.0

[2022-02-09 09:55] liviozanol commented on #11686
I'm installing it multiple times since yesterday and didn't had this problem...

[code]

Having another problem after installation.... Jobs don't get executed (in fact no instance group is running).... Downgraded to 19.5.0 and awx_devel 3.5.6. Gonna try right now...

Ubuntu 20.04.3 LT
5.4.0-91-generic #102-Ubuntu

[2022-02-09 10:49] liviozanol commented on #11686
Nope....

[code]

[EDIT]

Getting more info from logs on AWX container start, found this:

[code]

Seems like the script tries to get the hostname and use it to provision instance., but hostname command is not available at container O.S. It is safer to get this info from `/etc/hostname`... They should update this

Also this error: Error: open /etc/receptor/certs/ca.crt: no such file or directory,

[2022-02-09 10:57] ffirg commented on #1172
This is not something we're looking to implement. We suggest using an external user management system to achieve this.

[2022-02-09 10:57] #1172 closed, assigned to nobody

[2022-02-09 11:39] FedorRub commented on #11594
I do not have an ability to do that. I believe we need one of the mods to reopen the issue.

[2022-02-09 12:25] liviozanol opened #11706 "hostname shell command not available at awx container"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Shell `

[2022-02-09 12:50] #11543 closed, assigned to nixocio

[2022-02-09 12:55] nixocio opened #11707 "Remove some of the eslint-disable comments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There are several places in the code basis that we use - `eslint-disable` and certain rule, we need to verify which ones we should keep in place, and make changes accordingly.

This PR https://github.com/ansible/awx/pull/11568 added a couple more in order to speed up the react-scripts bump process.

[2022-02-09 14:01] nixocio opened #11708 "Bump node & npm to newer LTS version"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Bump node & npm to newer LTS version.

https://nodejs.org/en/about/releases/

[2022-02-09 14:02] nixocio opened #11709 "Run npm audit fix"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Run npm audit fix.

[2022-02-09 14:10] Jonathan-Caruana commented on #9926
@robinduerhager

Have you deployed your pods on default namespace? If not (like me i use "integration" namespace) i had to modify the exemple provide by @AleksejEgorov like that :

[code]

Regards,

[2022-02-09 16:26] TheOnion7 commented on #11613
I have exactly the same issue . I'm using AWX version 15.0.1. I then upgrade to AWX 19 and I still face the same issue. It seems to be an issue only for some hosts and not for others but I was not able to pinpoint why this is the case. Thank You.

[2022-02-09 17:49] #11709 closed, assigned to nixocio

[2022-02-09 18:45] tiagodread commented on #11532
Based on https://github.com/ansible/awx/pull/11653#issuecomment-1027250278 after having the health check for hop nodes, @AlexSCorey, maybe, we'll need to stop looking on `errors` field to look at `last_health_check` instead or other.

[2022-02-09 20:03] AlanCoding commented on #10213
Since this was filed we have added a lot more exception handling around this spot, we have a test for what is described, and expectations may change around this anyway.

[2022-02-09 20:03] #10213 closed, assigned to nobody

[2022-02-09 20:03] AlexSCorey opened #11712 "Use Select_related on mesh visualizer"
##### ISSUE TYPE
Use select_related on queries for mesh_vis end point.

##### SUMMARY

[2022-02-09 20:07] kialam opened #11713 "Can disassociate a hybrid node from Control Plane instance group"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

A user

[2022-02-09 20:10] e36Alex commented on #11686
Thanks for your reply, testing and analyzing!

Today i tried again with actual devel - but without success.
Any ideas how to get closer to the issue of missing permissions? (I am running the commands as root)

[2022-02-09 20:15] AlanCoding commented on #10364
I was chasing some history and this seems that it is still a problem. Not having permission to create pull secrets can hit this line:

https://github.com/ansible/awx/blob/5fdfd4114a455a6770aa81f06cc06884c174e84c/awx/main/scheduler/kubernetes.py#L119

The comment right below it says that it intends to let the job run...

https://github.com/ansible/awx/blob/5fdfd4114a455a6770aa81f06cc06884c174e84c/a

[2022-02-09 20:23] jbradberry commented on #11713
cc @AlanCoding @shanemcd

[2022-02-09 20:29] AlanCoding commented on #11713
@kialam is correct, someone can throw the logic in here:

https://github.com/ansible/awx/blob/709c439afc962b2526cb143813ba9623f69f5dfb/awx/api/views/__init__.py#L510-L514

This is a fast API fix. The control plane memberships should not be modified by the user, if any disagrees let me know. Putting it on-deck.

[2022-02-09 21:00] InnocentK commented on #11529
Resolved

[2022-02-09 21:00] #11529 closed, assigned to InnocentK

[2022-02-09 21:20] AlanCoding commented on #11532
For the UI purposes, a blank `errors` field should indicate the node is functional. Anything else in that field should indicate the node is not functional.

The function of a node depends on its type. We need to leverage the `errors` field here precisely because hop nodes don't run jobs and we `capacity` is intentionally 0.

From prior conversations, I thought the API might have already coded for

[2022-02-09 22:49] iv1111 commented on #11613
Hi, everyone. I'm using a standalone version of the ansible-runner and have the same problem.

`ssh-add /tmp/ansible-runner20220209-712921-1crfi4g/artifacts/result/ssh_key_data hangs indefinitely with no stdout and no stderr output.`

This is what ansible-runner does when one starts the playbook. Looks like ssh_key_data is a pipe and nothing gets read from it. On the other hand /tmp/ansible-runner

[2022-02-10 00:53] AlanCoding opened #11715 "Missing partition creation for some project update scenarios"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Sometimes the necessary partition for project update events (hourly) does not get created like it needs.

[code]

I do not have much information beyond that at this moment.

[2022-02-10 02:30] AlanCoding opened #11716 "Dispatcher restarts can leave some work units in a state that can't be cleaned"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Sometimes, a `receptorctl work list` will show a unit from a job which has been finished and deleted.

This appears to come from a dispatcher restart of some sort, where supervisor sends a sigterm signal so that the finalization code does not get called.

After that, if the job is deleted in relatively short order, then it falls through the cracks of o

[2022-02-10 09:59] MLegkovskis commented on #11502
Also having the same issue.

Ansible Tower version: 3.8.4
Operating System: RHEL 7.9
Python Version: 2.7

[2022-02-10 11:42] robinduerhager commented on #9926
Thank you for the hint @Jonathan-Caruana, didn't know about this. I will test it out immediately :)!

[2022-02-10 14:56] iv1111 commented on #11613
Similar issue: https://github.com/ansible/ansible-runner/issues/993

[2022-02-10 15:06] TheOnion7 commented on #11613
Hi guys,
I've fixed my problem. I hope it will be something similar for you . After we have looked for every possible causes, we found that Crowdstrike Falcon-Sensor pushed an update after Log4J vuln appeared and it disables the execution script which prevent the FIFO pipeline that ssh-key-data uses to get the credentials to AWX.

We only had to disable falcon-sensor with **systemctl stop falcon-s

[2022-02-10 15:11] AlanCoding commented on #11716
@fosterseth I don't see a concrete resolution to this unless we reap all units shown in `work list` which aren't in the job list. This might be disruptive to users if they try to launch jobs manually to test things. So let's weigh the options:

 - ignore that concern, if you manually launch a job as the awx user, it might get canceled because it's not tracked in the DB
 - add some kind of labeling

[2022-02-10 15:32] rebeccahhh commented on #9222
There is a theory that this may change with the in progress Django upgrade.
@jbradberry I believe recommended this wait until that's complete to recreate/resolve.

[2022-02-10 15:38] nixocio opened #11718 "Error on Instance Group List based on RBAC"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Error o

[2022-02-10 15:53] AlanCoding commented on #9222
Marked as blocked

[2022-02-10 16:42] nixocio opened #11721 "Review sidebar to Instances and Mesh visualizer based on RBAC"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Review sidebar to Instances and Mesh visualizer based on RBAC.

Basically we need to review what user profile should be able to see those items on the sidebar, and update accordingly.

I logged in as org admin, and it was displayed an empty list. That always will be empty. Suggestion to hide it.

This issue was raised during review of PR related to h

[2022-02-10 17:08] TyraelTLK opened #11722 "It's no more possible to add template nodes to a workflow without specifying the inventory"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I have

[2022-02-10 18:15] mabashian commented on #10281
Let's coordinate on the automated test coverage here and make sure we've got it covered somewhere

[2022-02-10 18:35] mabashian commented on #9215
Let's break this up by top-level routes and close this meta issue.

[2022-02-10 19:00] keithjgrant commented on #11361
This issue has been partially mitigated with #11312 and #11670 but not entirely solved.

Further work is being tracked in #11424, so I'm closing this in favor of that issue.

[2022-02-10 19:00] #11361 closed, assigned to nobody

[2022-02-10 19:17] nixocio commented on #10594
```npm outdated``` 02/10/2022

[code]

[2022-02-10 19:38] mabashian commented on #11396
http://patternfly-react.surge.sh/components/pagination looks like PF exposes a prop `ofWord` where we can pass in a translated version of `of`.

[2022-02-10 20:02] trahman73 commented on #11409
Here is an example empty state with specs...

Icon: fa-search (React icon: SearchIcon)
Icon color: #6A6E73 (--pf-global--Color--200)

We can update the text further if needed...

![image](https://user-images.githubusercontent.com/13351591/153487275-bb3cc6b9-9d74-4a73-8528-f136a8e3ca51.png)

[2022-02-10 20:21] mabashian commented on #11567
Leaving it up to whoever implements this to decide if they want to propagate this out to other fields or not.  If you decide not to, lets create a follow-up issue to track that work.

[2022-02-10 20:26] nixocio commented on #10594
We decide as team to follow a different approach for this dependency upgrade process.

[2022-02-10 20:26] #10594 closed, assigned to keithjgrant, tiagodread

[2022-02-10 20:32] kialam opened #11723 "Research: Migrating from Enzyme to React Testing Library"
The official React [docs](https://reactjs.org/docs/testing.html#tools) recommend using React Testing Library [RTL](https://testing-library.com/docs/react-testing-library/intro/). While we currently use Enzyme for our unit tests, it may be worth exploring a) if we want to migrate from Enzyme to RTL, and b) if a), then _how_ we should do this. Some considerations to note during this research phase:

[2022-02-10 20:40] akus062381 commented on #11409
@trahman73 I love this! Much nicer :-D

[2022-02-10 21:31] trahman73 commented on #11409
Thanks! @akus062381

[2022-02-11 14:58] jorgemarti commented on #9730
Ok, after asking a colleague and get a second pair of eyes, we found out that the credential had to be assigned to the Organization in the **Access** section, by editing the organization. Thanks for the tip.

[2022-02-11 18:09] nixocio opened #11729 "Add Deleted text to missing resources on Job Details page - Project and Inventory"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Add `De

[2022-02-11 18:13] rooftopcellist commented on #10238
@amolgautam25 Here are some notes of how to test this:

First, you'll need a k8s or openshift cluster and creds for it.

If memory serves, then you'll need to:
1. Create a k8s or openshift credential on Controller/AWX (can be your local dev instance) - see official tower/controller docs for how to do this
2. Create a ContainerGroup with that k8s credential specified
3. Create pull secret for a pri

[2022-02-11 18:41] InnocentK commented on #11633
Resolved in: https://github.com/ansible/awx/pull/11649

[2022-02-11 18:41] #11633 closed, assigned to InnocentK

[2022-02-11 19:14] #11721 closed, assigned to nobody

[2022-02-11 19:39] akus062381 opened #11730 "Unit test expansion- error handling in forms"
There is a lack of consistency in the test cases written to check and verify form error handling. This issue is to track work to improve this.

It would be nice if we minimally apply the test cases below to all CRUD forms (if not implemented yet):

- The user can not save a form if a required field is missing information
- Checking input data using [field validation table](https://www.softwaretest

[2022-02-11 19:47] marshmalien commented on #11626
Organization participation roles can’t be assigned to a team. A `user_only` flag was added to `object_roles` in this [PR](https://github.com/ansible/awx/pull/6438) to help the UI hide these roles. It looks like we’re not checking this flag before displaying roles in the User and Team Access wizard.

[code]

Note: We are handling this correctly in the Resource Role wizard. See [related issue](https

[2022-02-11 19:57] kialam commented on #11722
Per the docs `When launched, all job templates in the workflow that have ask_inventory_on_launch=true will use the workflow level inventory.` Looks like the wizard in the WF viz is not respecting the `ask_inventory_on_launch` boolean when asking for a inventory for a WF node.

[2022-02-11 20:51] kialam commented on #11722
Checking on 3.8, this has been the expected behavior and continues to be the way to create WF nodes in 4.0. To get around your issue you need to specify a default inventory before saving.

[2022-02-11 20:51] #11722 closed, assigned to nobody

[2022-02-11 21:37] shanemcd commented on #11706
Fixed in https://github.com/ansible/awx/pull/11616 but has not gone out in a release. Should happen sometime next week. In the meantime you can build from devel.

[2022-02-11 21:37] #11706 closed, assigned to nobody

[2022-02-11 21:42] shanemcd commented on #11604
Sorry for the confusion here. `ee_extra_volume_mounts` is for the EE inside the control plane, not the EEs launched by container groups. I've created a new issue here to rename that variable: https://github.com/ansible/awx-operator/issues/792

[2022-02-11 21:42] #11604 closed, assigned to nobody

[2022-02-11 21:46] shanemcd commented on #11603
Is this what you are looking for? https://github.com/ansible/awx-operator#trusting-a-custom-certificate-authority

[2022-02-12 02:34] AlanCoding opened #11733 "Project delete-on-update option may not be working correctly"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This output should probably never be allowed to happen:

![Screenshot from 2022-02-11 21-26-43](https://user-images.githubusercontent.com/1385596/153693269-b557c4ea-a5e2-42a1-9098-a17add800e41.png)

If the deletion was successful, then the git task should always be changed. Instead, it is "ok" - no change.

I suspect this is because the deletion task m

[2022-02-13 07:38] e1ectr0cut1e commented on #11603
No, it's not. I have stated **_Client_** Certificate support.

[2022-02-14 01:55] diptajeet opened #11736 "AWX "meta: reset_connection" issue"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I am fa

[2022-02-14 15:18] kdelee commented on #10694
https://github.com/ansible/awx/pull/11665 merged, some docs updates were added to https://github.com/ansible/awx/blob/devel/docs/capacity.md#impact-of-job-types-in-awx and https://github.com/ansible/awx/blob/devel/docs/capacity.md#selecting-the-right-settingsawx_control_node_task_impact

[2022-02-14 15:32] AlanCoding commented on #10694
If tests are passing in a day or two then this should be a pretty easy close.

[2022-02-14 15:34] #11017 closed, assigned to nixocio, akus062381

[2022-02-14 18:16] #11708 closed, assigned to nixocio

[2022-02-14 18:41] AlexSCorey opened #11738 "Trial"

[2022-02-14 19:13] AlanCoding commented on #11560
I have not had time to return to this to work on the revised proposal in https://github.com/ansible/ansible-runner/issues/983, so someone else could pick it up.

[2022-02-14 19:28] akus062381 opened #11739 "Removing JT Prompts after creating related schedule results in API errors when prompting edited schedule"
Steps to Reproduce:

1. Create a job template and enable inventory, credential, and extra vars to prompt on launch.
2. Within that JT, create a schedule. Before clicking Save, click Prompt and set the prompt values. Then save.
3. Go back to JT details screen and click edit. Uncheck the prompt on launch boxes for inventory and credential. Leave extra vars prompt on launch enabled.
4. Go back to the

[2022-02-14 19:36] AlexSCorey commented on #11738
this was a trial of a github feature.

[2022-02-14 19:36] #11738 closed, assigned to nobody

[2022-02-14 20:07] tiagodread opened #11740 "Instances endpoint returning different payload order when sort is applied"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

This is

[2022-02-14 20:36] nixocio opened #11741 "User list shows edit icon in the wrong location"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

User li

[2022-02-14 20:52] #11425 closed, assigned to AlexSCorey, akus062381

[2022-02-14 20:52] #11588 closed, assigned to tiagodread, AlexSCorey, akus062381

[2022-02-14 23:29] felipe4334 commented on #11484
@shanemcd Were you able to take a look at this?

[2022-02-15 00:55] InnocentK commented on #11634
Resolved

[2022-02-15 00:55] #11634 closed, assigned to InnocentK, AlexSCorey

[2022-02-15 07:00] spireob commented on #11594
Anything moved with this issue? Is there any possibility to reopen this one?

[2022-02-15 10:12] ffirg commented on #94
I'm closing this issue as we would not look to do anything through this mechanism. SSO as a platform feature in now under consideration for controller and would address all SSO needs.

[2022-02-15 10:12] #94 closed, assigned to nobody

[2022-02-15 10:32] ffirg commented on #6682
We are not going to implement this. The arguments for and against this idea are well documented above. Given it's not taken off to date and there isn't a great deal of demand for this feature, to save it hanging around, I'm closing it. Doing large scale inventory management should be done via other mechanisms - SCM etc. Implementing this idea could also introduce licensing questions and inventory

[2022-02-15 10:32] #6682 closed, assigned to nobody

[2022-02-15 12:57] anxstj opened #11743 "awx.awx.controller_api: failed to escape variables in extra_vars"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

The awx

[2022-02-15 13:34] tiagodread opened #11744 "TypeError: t.some is not a function while creating an instance group"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Trying

[2022-02-15 13:47] lotaris-xx commented on #6682
I understand, although given the new licensing methodology for AAP (total hosts automated), that piece no longer applies. I'll reach out to the TAM for the main customer that requested to this to let them know it won't be added. Now that we've generally solved the perf issues around thousands of instances of a single job differing only in the single-host inventory created before and then destroyed

[2022-02-15 15:07] TyraelTLK commented on #11611
I have the same issue for every host in a smart inventory:

TypeError: Cannot read properties of undefined (reading 'map') at dv (https://HIDDEN/static/js/main.7b1f208d.chunk.js:1:581426) at Zo (https://HIDDEN/static/js/2.97a1dff5.chunk.js:2:1419511) at Ss (https://HIDDEN/static/js/2.97a1dff5.chunk.js:2:1465741) at vl (https://HIDDEN/static/js/2.97a1dff5.chunk.js:2:1458468) at ml (https://HIDDEN/s

[2022-02-15 17:03] #11672 closed, assigned to tchellomello

[2022-02-15 19:12] #11640 closed, assigned to nobody

[2022-02-16 06:39] lyutian commented on #3773
+1

[2022-02-16 06:56] rooso commented on #20
+1 This would be an awesome and really needed feature

[2022-02-16 07:19] coudenysj commented on #11422
Are you sure this will be resolved in a future version?

I'm also seeing this error in our setup:

[code]

[2022-02-16 09:14] meng7even opened #11751 "awx17 版本，安装的时候出现报错。"
TASK [local_docker : Check for existing Postgres data (run from inside the container for access to file)] ***************************************************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "docker run --rm -v '/root/.awx/pgdocker:/var/lib/postgresql' centos:8 bash -c  \"[[ -f /var/lib/postgresql/10/data/PG_VERSION ]] && echo 'exists'\"\n", "delta":

[2022-02-16 09:14] meng7even commented on #11751
我使用的是离线环境，在docker  hub上已经将postgreSQL镜像上传本地了。

[2022-02-16 09:39] sooslaca commented on #11647
I'm wondering if anybody tested to see if the same BUG presents in 20.0.0 ?

[2022-02-16 14:04] lucas-benedito opened #11752 "Process tags added to UI that might contain unwanted characters when copying"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When setting the tags in a job template, sometimes the data on the clipboard contains unwanted characters like '\u200b'. When that happens, the UI does not show the empty character, however, this will skip this tag when referenced while running playbooks
`tags: (u'\u200bmy_playbook_tag')`

[2022-02-16 14:34] rumline opened #11753 "Calling Webhook from curl leaves webhook in non-working state"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

_No res

[2022-02-16 15:28] #11744 closed, assigned to tiagodread

[2022-02-16 15:48] ffirg commented on #2284
We are not looking to implement this feature. There are collections already around which can treat the tower/controller config as code.

[2022-02-16 15:48] #2284 closed, assigned to nobody

[2022-02-16 15:49] #9337 closed, assigned to nobody

[2022-02-16 15:53] ffirg commented on #6030
We are not going to be implementing this as is. Longer term we'd like to do some runtime vars plugin capability along these lines.

[2022-02-16 15:53] #6030 closed, assigned to nobody

[2022-02-16 19:01] AlexSCorey opened #11760 "Table Data items shift to the left"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

They sh

[2022-02-16 19:29] nixocio commented on #11741
Closing this one as dupe of https://github.com/ansible/awx/issues/11760

[2022-02-16 19:29] #11741 closed, assigned to nobody

[2022-02-16 21:00] bchristianv commented on #5016
I can confirm this problem still exists in AWX 19.5.1, as described by @aajisaka and @bluikko . What's interesting is that the task status contains `"changed": false` and `"rebooted": true`.

FWIW, I've run the AWX failing playbook locally, via the execution environment container used by the AWX job template, and it completes successfully.

[2022-02-16 21:21] e36Alex commented on #11686
Its still not running with actual devel - any ideas?

[2022-02-17 00:22] rezaa1 commented on #7859
Would be great feature +1
 We need to run workflow with the individual user and password due to security reason, and can't get that working,

[2022-02-17 00:29] kialam commented on #11607
cc @tiagodread @akus062381 ^ this is ready for QE

[2022-02-17 02:03] guliaka opened #11765 "Job output is not displayed fully"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Some li

[2022-02-17 06:39] diptajeet commented on #9747
Is there any updates on this? I am facing similar issues - No refresh of Job Outputs till its done forcefully using the browser. After reading several threads on similar issues, it seems that this issue is pertinent on most of the versions, not just on v18

[2022-02-17 07:31] coudenysj commented on #11422
I think the "fix" in #11750 won't be enough, because today I had a job that took 20 seconds:

[code]

Should the calling of `handle_success_and_failure_notifications` not be postponed after the `Event processing is finished for Job x`?

[2022-02-17 12:00] mick1627 commented on #11647
Same issue in 20.0.0

In the following graph you can see the CPU usage of the postgres rds database :

![image](https://user-images.githubusercontent.com/36628449/154476896-655aea7a-2d01-4add-93a6-99c84befd8ff.png)

At 11:40 one job template launch in 20.0.0
At 12:50 same job template launch in 19.5.0

[2022-02-17 12:27] Nold360 commented on #11390
Seems to be fixed in AWX 20.0.0

[2022-02-17 12:59] MWassim211 commented on #8310
I have the same issue, any solution for that ?

[2022-02-17 13:30] shanemcd commented on #11521
After looking at this again, it doesn't seem like an issue with AWX. If you are using AAP please open an issue in Jira and we can route this to the right people.

[2022-02-17 13:30] #11521 closed, assigned to nobody

[2022-02-17 13:51] shanemcd commented on #11564
Ok, I'm going to close this then. Thank you for the update and let us know if you need anything in the future.

[2022-02-17 13:51] #11564 closed, assigned to nobody

[2022-02-17 13:52] shanemcd commented on #11553
@ravindra-bhadti-cko Still waiting to hear back from you. We'll wait another week or so before we close this.

[2022-02-17 13:55] shanemcd commented on #11578
I dont think we'll be much help here. We're not seeing this on our machines and the development environment isn't supported for general use, as outlined in https://github.com/ansible/awx/blob/devel/INSTALL.md.

[2022-02-17 13:55] #11578 closed, assigned to nobody

[2022-02-17 13:58] shanemcd commented on #11631
Not sure about older versions. Please verify you are on the latest release. We're using CentOS Stream 9 as the base image and that should be up-to-date.

[2022-02-17 13:58] #11631 closed, assigned to nobody

[2022-02-17 13:58] shanemcd commented on #11644
@sugitk Still waiting to hear back from you here.

[2022-02-17 14:02] shanemcd commented on #11686
Please try the latest release or build from devel. This has been fixed.

[2022-02-17 14:02] #11686 closed, assigned to nobody

[2022-02-17 14:14] shanemcd commented on #11736
It looks like you are using an old version of AWX. We do not have the resources to support anything but the latest. Please upgrade.

I'm also not even sure this is an issue with AWX instead of Ansible itself.

If you are still seeing this after a) verifying the same playbook works locally and b) upgrading, please open a new issue.

[2022-02-17 14:14] #11736 closed, assigned to nobody

[2022-02-17 14:39] shanemcd commented on #11607
Moving to Needs Test...

[2022-02-17 14:51] shanemcd commented on #11751
Hello. We do not have resources to support older version of AWX. Please upgrade to the latest.

[2022-02-17 14:51] #11751 closed, assigned to nobody

[2022-02-17 15:01] meng7even commented on #11751
OK，Thanks！

[2022-02-17 15:11] marshmalien commented on #11586
If someone is willing to open up a PR to fix this issue, we will merge it.

[2022-02-17 15:14] marshmalien commented on #11593
Here are instructions: https://robermb.com/blog/geeks/change-default-logos-in-ansible-awx/

If someone would like to open up a PR to add these instructions, that would be great!

[2022-02-17 17:21] john-westcott-iv opened #11769 "Failed project sync causes job edit screen to fail with out error."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

If a jo

[2022-02-17 17:49] tiagodread commented on #11607
Verified

[2022-02-17 17:49] #11607 closed, assigned to rebeccahhh, tiagodread, AlexSCorey, akus062381

[2022-02-17 18:42] InnocentK opened #11770 "Notification Template View for a Job Template Admin"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

An erro

[2022-02-17 18:53] akus062381 opened #11771 "JT admin missing certain rights in Notifications tab inside the JT"
Issue: When a auditor user is given admin and execute rights to a particular JT, they have all abilities including editing, launching, and deleting the template.
However- inside the notifications tab, they cannot toggle a notification. I realize that if they were just a normal user, and not an auditor, that this tab wouldn't be visible at all.
But why not? Why can a normal user who is JT admin/exe

[2022-02-17 19:08] akus062381 opened #11773 "Auditor permissions when user is JT admin"
when logged in as an auditor who has admin rights to a specific JT, and then accessing the jobs tab of that particular JT, the Delete button is disabled and cannot be used. These should be hidden entirely, given the fact that the user (who is a system auditor but also has admin rights to the JT) cannot use those buttons. This follows other places in the UI where Add buttons, for example, will be h

[2022-02-17 19:15] akus062381 commented on #10415
@wenottingham so sorry, I never saw this note-

I just verified that this happens on the jobs tab of a job template. when the job is running, the state on the jobs tab shows running and doesn't update when the status actually changes. user has to navigate to jobs list to see real status

[2022-02-17 19:24] e36Alex opened #11774 "UI not reachable at docker installation"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

After a

[2022-02-17 19:40] InnocentK opened #11775 "Survey View of Job Template for System Auditor"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

1. When

[2022-02-17 19:54] asmith432 commented on #6727
@evoncken under Source Variables use the following:
[code]
Documentation for reference: https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_vm_inventory_inventory.html

[2022-02-17 21:09] nixocio commented on #11215
Hello,

If you need help troubleshooting or are looking for help using AWX, try our mailing list or IRC channel:

#ansible-awx on[ https://libera.chat/](https://libera.chat/)
https://groups.google.com/forum/#!forum/awx-project

[2022-02-17 21:09] #11215 closed, assigned to nobody

[2022-02-18 01:00] sugitk commented on #11644
@nixocio @shanemcd
Sorry for responding you too late.

When launching a JT (or a WFJT) with the `prompt on launch` option enabled, we can see the dialog to select an inventory from all that the user can read.

![スクリーンショット 2022-02-18 9 42 45](https://user-images.githubusercontent.com/2234991/154595784-8db94dd0-35fc-4799-81e4-d481cfe1cd6d.png)

However the customer requested to define a list in adva

[2022-02-18 07:27] jaiawasthi opened #11777 "Redis container erroring out after sometime and unable to launch jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

After i

[2022-02-18 08:36] proflanky commented on #7362
I am interested in implementing this too but can't find this feature available.
Role mapping and group claims would be a lifesaver.

[2022-02-18 09:16] Klaas- commented on #7362
@proflanky https://github.com/redhat-cop/tower_configuration/issues/263#issuecomment-1027965542

[2022-02-18 09:31] SitWatchCloudRise commented on #3986
Hello,
any progress on this one? We  have a similar issue when using the add_host module. We use it to dynamically add a new host to a existing group that is defined in our inventory group_vars.
AWX is adding the host to the group but the inventory group vars are not loaded dynamically.

Ansible version:
[code]
AWX version: **17.1.0**

We have tested the playbook on Ansible CLI and AWX, they are g

[2022-02-18 14:18] achebib commented on #10398
Did you get a solution for this?

[2022-02-18 15:33] MWassim211 commented on #237
is it possible to have the Tower_Workflow_Status ?

[2022-02-18 16:16] xenorites opened #11778 "Unable to filter by multiple Labels"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When at

[2022-02-18 16:23] mo-saeed opened #11779 "Upgrade AWX kit to latest version in Pypi"
the latest version of AWX kit in pypi is 19.4.0 https://pypi.org/project/awxkit/

can you please update it to latest version 20.0.0

Thanks

[2022-02-18 17:40] Michael-B-G commented on #1958
I just encountered a variation of this issue in Ansible 2.6.19 / Tower 3.5.2 , though with no projects rather than no inventories.  When one project was created, even with no inventories created, the problem went away.

[2022-02-18 20:01] keliansb commented on #10398
Unfortunately no...

[2022-02-19 12:03] adpavlov commented on #11774
same issue

[2022-02-21 09:12] CFSNM commented on #11413
The validation of this item is done here: https://github.com/ansible/tower-qa/pull/7195#issuecomment-1046633787

[2022-02-21 11:12] bdoublet91 commented on #10398
I didn't find a way for AWX, I have only one ansible.cfg in project root folder and I keep each ansible.cfg in playbook folder when I execute ansible in CLI.
AWX version 17.1.0

[2022-02-21 12:36] per-lind commented on #11765
I can see the same thing in the job log, some times it will not scroll at all.
Just upgraded to version 20.0.0 in the hope that it would get better, but it feels like it is happening even more often now.

![awx-1](https://user-images.githubusercontent.com/37022025/154955888-1c0fae05-4b2f-4580-bf54-a559953d4b48.png)
Can see lots of request going from the browser, requests get fired nonstop even wit

[2022-02-21 12:38] antony-with-no-h commented on #11687
Issue also occuring for me [edit: also on awx.awx 19.4.0]

[code]

My workaround is to run `awx.awx.group` twice

[2022-02-21 12:38] TekTekkers opened #11781 "Unable to create Manual SCM project on new Project on Ansible AWX"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hi All

[2022-02-21 13:05] AlanCoding commented on #237
^ wouldn't that always be "running" at the time the job started?

[2022-02-21 15:00] achebib commented on #10398
But let me explain the issue.
I have an autocontained folder where all the variables are there (included ansible.cfg) how can I parse that when it runs the playbook?

#playbooks
#└── roles
#    └── web
#        ├── README.md
#        ├── defaults
#        │   └── main.yml
#        ├── files
#        ├── handlers
#        │   └── main.yml
#        ├── meta
#        │   └── main.yml
#        ├── tas

[2022-02-21 15:13] bdoublet91 commented on #2354
Hi,
Maybe a up here

Happens sometimes when AWX container runs for a long time, no logs at all when I execute the jobs
The job starts, executes and finished successfully but no logs on UI and when I download the file ^^
![image](https://user-images.githubusercontent.com/57101863/154981730-2f1ae507-d723-45fd-bd1b-f6a27ac00f70.png)

Supervisorctl status get all process up
awx
[code]

awx_task
[code]

[2022-02-21 15:16] AlexSCorey opened #11786 "Allow <Detail/> to handle cases where there is no value"
##### ISSUE TYPE
Task

##### SUMMARY
Along the same lines of this PR https://github.com/ansible/awx/pull/11776 I think we should pass a key to <Detail/> so that it can handle whether it renders. Doing so would allow us to remove alot of `&& ( <Detail/>` phrases in our detail views and make those more readable.

[2022-02-21 16:28] liortamari commented on #10142
kubernetes auth method:
https://github.com/ansible/awx/pull/11787

[2022-02-21 21:34] InnocentK commented on #11611
Resolved

[2022-02-21 21:34] #11611 closed, assigned to nixocio, InnocentK

[2022-02-21 21:35] ffirg commented on #11036
This should be fixed via https://github.com/ansible/awx/issues/11640 so closing. Please re-open if still a problem.

[2022-02-21 21:35] #11036 closed, assigned to nobody

[2022-02-21 22:33] ffirg commented on #11781
Hi. This is repo is for bugs and feature tracking. Please head over to https://groups.google.com/g/awx-project and post your ask there and the community can help out. Thanks.

[2022-02-21 22:33] #11781 closed, assigned to nobody

[2022-02-22 13:19] Lakshmi-Patneedi opened #11789 "Hosts are not visible inside inventory groups, but hosts are present"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When i

[2022-02-22 15:42] nixocio commented on #11789
hey @Lakshmi-Patneedi, I verified the latest version of AWX, and this issue seems to be fixed.

<img width="1501" alt="image" src="https://user-images.githubusercontent.com/9053044/155166896-30924d18-98c4-47ae-9dbd-7a27cf8e07d5.png">

[2022-02-22 16:28] ndelaossar commented on #11701
Hey Guys,
Any recommendation about how can I fix this?

[2022-02-22 17:39] dirkallaert commented on #1179
+1

[2022-02-22 18:39] alisondudiak commented on #11526
#10694 still in test.

[2022-02-22 18:42] alisondudiak commented on #11526
This may take a sprint or 2 worth of work per Shane.

[2022-02-22 20:31] thedatabaseme commented on #11765
I made the discovery, that this is more likely to happen, when I have some `[WARNING]` in my Log output. For instance will lead the following warning to a non-viewable log output in my case.

[code]

When fixing the deprecation warning, all is shown well in the logs.

[2022-02-23 03:49] SitWatchCloudRise opened #11793 "AWX do not load group vars after add_host"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello,

[2022-02-23 05:05] guliaka commented on #11765
I don't think suppressing warnings is a good idea. They are needed to catch changes and update playbooks.

[2022-02-23 10:27] jonli662 opened #11795 "Organization as a column in the Templates view?"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Is it possible to add organization as a column in the Templates view in AWX?
Currently, we need to prefix all template names to easily separate ownership.

[2022-02-23 12:02] mightyBroccoli opened #11796 "automation pod checkout issue"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

My goal

[2022-02-23 12:52] azrdev commented on #9235
duplicate of #3348 ?

[2022-02-23 14:17] ghost commented on #6136
Same issue on AWX 12.0.0. In our case I think it's caused when we switch between two server clones in a blue/green deployment exercise. Removing the host from the inventory and resyncing fixes it until next time the server's public IP is flipped.

[2022-02-23 14:54] ffirg commented on #10787
we need to make sure that this fix covers both control and execution planes.

[2022-02-23 14:55] AlanCoding opened #11799 "Deprecate `managed_by_policy` field on instances"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I want to have this open for public comment, and eventual agenda...

The `Instance` model has a `managed_by_policy` field. While it's function is clear, it's not clear how it can ever obtain the non-default value of `False`. Rewording, there doesn't appear to be any case where an instance is not managed by policy. Perhaps it's possible from prior ver

[2022-02-23 16:09] unixsysadmin commented on #11779
Could this be related to https://github.com/ansible/awx/issues/11460 ?

[2022-02-23 16:29] AlanCoding commented on #11130
It would be really easy to deal with this along with:

https://github.com/ansible/awx/issues/11622

[2022-02-23 16:36] #11760 closed, assigned to InnocentK, AlexSCorey

[2022-02-23 17:23] guliaka commented on #11765
But it seems like some of the warning messages cause output to disappear.

[2022-02-23 17:56] thedatabaseme commented on #11765
That's what I meant.

[2022-02-24 01:27] chris93111 opened #11803 "job output no complete and appear on ERROR in UI Exceeded retries for reading stdout"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello

[2022-02-24 01:31] chris93111 commented on #10526
migrate to kubernetes

[2022-02-24 01:31] #10526 closed, assigned to nobody

[2022-02-24 05:41] Commifreak opened #11804 "[UI->WF Template] Loading animation cut-off on the left"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

WF temp

[2022-02-24 11:20] chris93111 commented on #11803
same error on 20.0.0

Exceeded retries for reading stdout

[code]

my ee for job execution is based on quay.io/ansible/ansible-runner:stable-2.9-latest

UPDATE:
with slice job it's ok
job with 8 hosts
<img width="807" alt="image" src="https://user-images.githubusercontent.com/27526373/155518113-16c555a5-a6d9-4412-b0a2-970c4d5f1ded.png">

with slice

<img width="807" alt="image" src="https://user-i

[2022-02-24 12:15] chris93111 commented on #11803
https://github.com/ansible/awx/issues/11338

[2022-02-24 12:27] chris93111 commented on #11338
Hi same problem in k3s, this is a real problem for us also

Rhel 8.4
Version:  0.1.0
RuntimeName:  containerd
RuntimeVersion:  v1.5.8-k3s1
RuntimeApiVersion:  v1alpha2
k3s 1.22

Fixed with kubelet --container-log-max-size

[2022-02-24 12:29] spireob opened #11805 "Playbooks terminated unexpectedly after 4 hours"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Playboo

[2022-02-24 13:43] chris93111 commented on #11803
fixed with kubelet --container-log-max-size

[2022-02-24 13:43] #11803 closed, assigned to nobody

[2022-02-24 13:57] e36Alex commented on #11774
No idea, anyone?

[2022-02-24 14:09] AlanCoding commented on #5765
This still isn't clicking for me. We _already have_ local caching on top of redis.

https://github.com/ansible/awx/blob/4e97492ed624eeb847c96e09d65478726eb81036/awx/conf/settings.py#L400

Granted, we don't use this local caching for most things.

https://github.com/ansible/awx/blob/4e97492ed624eeb847c96e09d65478726eb81036/awx/conf/settings.py#L34

So is this issue just saying "use a value other th

[2022-02-24 14:20] bpartin2009 opened #11806 "Too many symbolic links"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Install

[2022-02-24 15:04] AlanCoding commented on #5765
I'm putting this into the Needs Refinement bucket, because we want to collect more actionable performance-enhancing items.

If we changed the value from 0 to 5, that would be likely to fail a lot of integration tests... which is fine, we would just need to add some logic to be more patient in those tests.

We can also get a lot of use from Django Debug Toolbar, which will show the cache hits, we w

[2022-02-24 15:16] stanislav-zaprudskiy commented on #11803
We observe the same symptoms once in a while, both on 19.4 and 20.0. It is not reproducible however, and the same job just works fine on re-run. Also, the mentioned log entries show up regularly on AWX EE container regardless of whether there were problems with jobs or not. We also tried experimenting with forks (not slices), but had no any luck (even though it helped to fix some re-occurring case

[2022-02-24 15:20] AlexSCorey opened #11807 "Joboutput Search: Put Event Dropdown Options in Alpha Order"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The options pictured below are not in Alpha order and they should be.
![Screen Shot 2022-02-24 at 10 19 21 AM](https://user-images.githubusercontent.com/39280967/155553158-f1a71047-34c2-4a45-a5ee-0fab22e5ee81.png)

[2022-02-24 15:29] jogleasonjr commented on #11338
Using AKS and Terraform we were able to get enough headroom by specifying:

[code]

The [default](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/kubernetes_cluster_node_pool#container_log_max_size_mb), I believe, was 10MB.

[2022-02-24 16:02] chris93111 commented on #11803
@stanislav-zaprudskiy yes for me is based on size log, with many hosts and many tasks the log size is bigger,
my job is always fail without --container-log-max-size and if i split with slice it's work ( less hosts so smaller log size )
In my case is reproducible

[2022-02-24 17:16] adpavlov commented on #11774
it seems like you didn't complete [Clean and build the UI](https://github.com/ansible/awx/blob/devel/tools/docker-compose/README.md#clean-and-build-the-ui)

[2022-02-24 19:10] e36Alex commented on #11774
Thank you, in fact i missed this step!

This brings me to another question: can i build just the ui "standalone" on an existing ansible instance? i got already an ansible instance running directly in an lxc container.
The hole docker installation is an overhead at my environment.

[2022-02-25 07:33] WallsTalk commented on #4481
This would be an amazing enhancement for AT as-well. Even tho I understand the problematics of this.

[2022-02-25 08:12] al-lac opened #11810 "Cannot save Miscellaneous System Settings on 19.4.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I canno

[2022-02-25 10:02] chris93111 opened #11811 "main_projectupdateevent already exists"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello

[2022-02-25 12:50] mightyBroccoli commented on #11796
I found the issue.
When starting the job awx clones the repository with `depth=1` which truncates all of history into one grafted commit. Therefore git log is right about thinking that the change occurred there. This is really not intuitive. The automation pod get spun up and removed after completing its thing imho.

https://github.com/ansible/awx/blob/devel/awx/main/tasks/jobs.py#L1369

[2022-02-25 14:15] nixocio commented on #11810
hey @al-lac, I just tried to update a couple values of `Miscellaneous System settings` using the latest AWX version, and I was able to.  Can you upgrade to latest version and confirm that issue remains?

[2022-02-25 16:40] def1nity commented on #11338
Hey, I tried your suggestion but included--container-log-max-files=3 before I read that 5 is the default value...  And even though the daemonset pods failed to start with Crashloopback and I deleted them a couple of minutes later somehow the kubelet config file now looks like this:

[code]

Funny enough everything works exactly as before and as far as I can tell, nothing was removed, only the two

[2022-02-25 18:05] nixocio commented on #11811
hey @chris93111, could you add the full error traceback?

[2022-02-25 18:12] nixocio commented on #11806
Hey,

This is not the issue tracker for the downstream product, please, contact your Red Hat support contact.

They will help you to sort out this issue.

[2022-02-25 18:30] nixocio commented on #11793
hey @SitWatchCloudRise, can you clarify where your group_vars live relative to your inventory and playbook?

[2022-02-25 18:32] #11789 closed, assigned to nobody

[2022-02-25 18:36] nixocio commented on #11779
Thanks for reporting this issue.

Closing as duplicate of #11460

[2022-02-25 18:36] #11779 closed, assigned to nobody

[2022-02-25 18:41] nixocio commented on #11777
hey @jaiawasthi, We are just able to support the latest AWX version.

If you upgrade and still can see this error, please, send a message to mail list and we can re-open this issue.

[2022-02-25 18:41] #11777 closed, assigned to nobody

[2022-02-25 18:44] nixocio commented on #11774
Glad you figured out.

[2022-02-25 18:44] #11774 closed, assigned to nobody

[2022-02-25 18:49] nixocio commented on #11613
We heard that Crowdstrike has fixed this issue on their end.

[2022-02-25 18:49] #11613 closed, assigned to nobody

[2022-02-25 18:54] nixocio commented on #11553
We have not heard back from you in a while, if you still seen this issue, please, send a message to mail list.

[2022-02-25 18:54] #11553 closed, assigned to nobody

[2022-02-25 19:03] AlanCoding commented on #11542
Yeah, on openshift all jobs and inventory updates are intended to run as container group jobs. On the controlplane, only the controlplane EE should be used.

I'm following your train of thought here. The project files appear to not be there.

[2022-02-25 19:08] AlanCoding commented on #11623
Also reported in https://github.com/ansible/awx/issues/1997

[2022-02-25 19:55] SitWatchCloudRise commented on #11793
hey @nixocio,
the group_vars file au3 is located in **inventories/group_vars** folder. test.yml is the playbook file:
[code]
inside the ansible.cfg, it specifies that the inventory path is "inventories/":
[code]

[2022-02-25 20:02] chris93111 commented on #11811
Hi @nixocio , they are no trace back only error
<img width="1148" alt="image" src="https://user-images.githubusercontent.com/27526373/155787447-77776069-1ab7-40c6-af16-b6ad99013121.png">

[2022-02-25 20:21] AlanCoding commented on #11799
I was too hasty about this, as it could be editable in the API.

[2022-02-25 20:21] #11799 closed, assigned to nobody

[2022-02-25 20:33] AlanCoding commented on #11793
I see what's happening, but it's hard to imagine what we could do about it. A job in AWX runs against the inventory defined in the template, which exists in the database. That inventory is imported via the `ansible-inventory` CLI, which gives a snapshot of the inventory at the time the import happened. We're not saving the file structure of your inventory.

It's true that a complete redesign could

[2022-02-25 20:36] AlanCoding commented on #10610
Good points about the design of the functionality, a larger perspective about what users need is appropriate, and I wouldn't want to move on this without involving @ffirg

[2022-02-25 21:36] SitWatchCloudRise commented on #11793
Hi @AlanCoding, Thanks for your reply but disappointed. We expected that AWX could behave same as Ansible CLI in every aspects. Hopefully that could be solved in future release.

[2022-02-25 23:01] maveleo commented on #11542
In k8s the source sync is happening on a pod that does not have access to the projects location and for this reason it cannot work with a project synchronization
My workaround was to persist the projects and customise the pod that kubernettes spins up to run the source sync, basically I am mounting for that pod the same location used to store the projects directory.

[2022-02-26 09:50] felipe4334 commented on #11484
@shanemcd Any updated on this would be highly appreciated.

[2022-02-26 13:00] chris93111 commented on #11811
@nixocio found un result job
[code]

[2022-02-26 20:27] chris93111 opened #11814 "migration awx 15 > 20 performance degraded"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello

[2022-02-27 01:12] chris93111 commented on #11814
it 's caused by awx_web cpu limitation, I had to increase to 6 cpu limits vs 2 in Nomad with awx 15

<img width="1274" alt="image" src="https://user-images.githubusercontent.com/27526373/155864145-ebf7964f-7e1d-41bf-9ab3-c8a9ab069fbc.png">

[2022-02-27 01:12] #11814 closed, assigned to nobody

[2022-02-27 09:31] Bart97 commented on #11593
In comparison to the Kubernetes install process this approach feels much more like a hack. Maybe there's a better way?

[2022-02-28 05:21] fouram opened #11817 "LDAP Settings cannot be saved when changing LDAP Group Type"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When at

[2022-02-28 05:31] fouram commented on #11817
Update: I'm going through the menu and trying the different values one by one; one of them just worked. I'll make a list of which ones work and which ones fail. Possibly there are choices that are no longer valid to django that remain in the menu or something?

[2022-02-28 07:43] nicolaibaralmueller opened #11818 "Most of output is greyed out since upgrading to 20.0.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Output

[2022-02-28 08:52] stanislav-zaprudskiy commented on #11818
Is this a duplicate of https://github.com/ansible/awx/issues/11765?

[2022-02-28 09:02] nicolaibaralmueller commented on #11818
Somewhat, yes. But in my output is completely greyed out after a certain point.

[2022-02-28 13:59] CFSNM commented on #11413
PR merged. Closing it -...

[2022-02-28 13:59] #11413 closed, assigned to CFSNM, john-westcott-iv

[2022-02-28 15:17] AlanCoding opened #11821 "Data from `set_stats` not getting saved to job `artifacts` field as a flaky occurrence"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Sometim

[2022-02-28 15:28] radek-sprta commented on #11818
I have the same issue. But I am actually on 19.5.1.

[2022-02-28 15:52] AlexSCorey opened #11822 "[JobOutput Doc] Overview of Job Output Feature"
Overview of the feature/screen.  Summary of what it does/is

- Elapsed time / unfollow button
- Page up and page down buttons
- Unique qualities of the different job types.
         - Some don’t allow search by event data and thus Event is not an option in the drop down
         - Some don’t have expand, collapse
-Differences in the output from when a job is running and when a job is complete.

[2022-02-28 15:52] AlexSCorey opened #11823 "[JobOutput Doc] How Job Output works, generally"
- How output works generally.
- Explain the different state components
- Page up and page down and what’s happening in the background.

[2022-02-28 15:52] AlexSCorey opened #11824 "[JobOutput Doc] Different job types"
Different type of job events, and how they relate/interact with the state object

- Tasks
- plays
- events

[2022-02-28 15:52] AlexSCorey opened #11825 "[JobOutput Doc] Non-standard cases"
Explain non-standard cases

- When an event comes into the output that has a parent, but the parent hasn’t arrived yet.
- When an event that has children arrives in output, but the children are not present yet

[2022-02-28 15:52] AlexSCorey opened #11826 "[JobOutput Doc] Expand/Collapse a single job event"
Explanation of expand collapse a single event
- How it works and how it changes the state object

[2022-02-28 15:52] AlexSCorey opened #11827 "[JobOutput Doc] Expand/Collapse All"
Explanation of expand collapse all
- How it works and how it changes the state object

[2022-02-28 15:52] AlexSCorey opened #11828 "[JobOutput Doc] Search"
Search

- During job run
- After job run

[2022-02-28 19:19] ffirg commented on #10630
There is no change here to the original suggestion which is to use external logging to capture activity_stream events.

[2022-02-28 19:19] #10630 closed, assigned to nobody

[2022-02-28 21:28] chris93111 opened #11831 "SAML authentification remove always superuser privilege"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello

[2022-03-01 07:50] TigerC10 commented on #6666
+1 for my cloud load balancer (not configurable like nginx):
[code]

The cloud load balancer is setting `X-Forwarded-Proto` and is preserving the host name, but because it's hitting port 80 instead of 443 it appears that when this log line is output there's an attached port 80 to the URI.

EDIT:
Found this document (I made sure that `X-Forwarded-Port` is set correctly, but it doesn't seem to be he

[2022-03-01 20:19] ThomasADavis commented on #11338
Lucky for us, I've also setup ARA.  so when the log file rotates, ARA still has the complete job data..

[2022-03-01 20:59] InnocentK commented on #8674
Resolved

[2022-03-01 20:59] #8674 closed, assigned to keithjgrant, InnocentK

[2022-03-01 21:25] #11666 closed, assigned to nobody

[2022-03-02 02:40] ikhan2010 commented on #11740
@rebeccahhh are you still working on this?

[2022-03-02 11:06] sebypp commented on #9704
I'm experiencing the same issue for AWX 20.0.0.

[2022-03-02 16:16] robinduerhager commented on #8930
Hey, i've got the same problem with AWX 20.0.0.
It seems like awx-web is just doing an api call at the start and the end of the job. No `elapsed` variables are sent via the websockets. However, i do see real-time stdout Output after adding websocket support to my nginx-proxy-manager. Although, the Job Status and elapsed time does update when the job finishes (probably due to an api request happeni

[2022-03-02 16:19] ffirg commented on #9704
Works for me using 20.0.0
My SCM hosts file is the traditional ini style though. Imports, loads groups etc

[2022-03-02 16:33] #11712 closed, assigned to AlexSCorey

[2022-03-02 20:08] WebSpider commented on #11733
You seem to be correct, sir.
https://github.com/ansible/awx/blob/fb7c827bff6462120385be321f568ccc32364af6/awx/playbooks/project_update.yml#L28
does not seem to remove hidden files and/or directories

[2022-03-03 07:32] MrBones757 commented on #11818
Its actually a duplicate of this :) https://github.com/ansible/awx/issues/11647
We had the same symptoms and did some digging and this is what we came up with.

[2022-03-03 08:40] al-lac commented on #11810
Hey @nixocio! Updating to AWX 20.0.0 solved the issue. Thanks! :-)

[2022-03-03 08:40] #11810 closed, assigned to nobody

[2022-03-03 08:52] kymcharlesworth-srg commented on #8310
How are approvers expected to approve something when the notification email doesn't have any survey data? That's the same as handing a manager a form with nothing filled in and saying "sign this".

[2022-03-03 14:59] al-lac opened #11842 "HashiCorp Vault Signed SSH broken since update to 20.0.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

We used

[2022-03-03 15:22] mabashian commented on #11424
@apollo13 we've made some changes in this area of the application recently.  Do you mind checking the latest AWX release and seeing if this behavior persists?

[2022-03-03 18:36] mabashian commented on #11730
This one is probably a better candidate for integration tests

Other ones could be unit tested

[2022-03-03 18:47] marshmalien commented on #11615
This [line](https://github.com/ansible/awx/blob/devel/awx/ui/src/api/models/CredentialTypes.js#L10) is where we define the "acceptable kinds" of credential types:

[2022-03-03 19:05] kimbernator commented on #11818
Seeing the same issue on version 20

[2022-03-03 19:16] keithjgrant commented on #11068
Very closely related to #11409; I'm working on both together

[2022-03-03 21:04] AlanCoding commented on #10787
I have become confused - https://github.com/ansible/awx/pull/11844

[2022-03-04 01:09] sugitk commented on #1229
Another customer has reported regarding this RFE.

During the upgrade or maintenance, the customer requested that the scheduled jobs must not trigger any jobs.  It is better to specify a time window like cron, however a manual operation can be accepted at least.

[2022-03-04 06:48] nicolaibaralmueller commented on #11818
Thanks. This makes sense. We are hosting AWX in Azure and the VM (4vCores/16GiB) crashes periodically when many jobs are executed at the same time. Might need to downgrade to 19.4 again if this is not resolved asap.

[2022-03-04 07:07] alokispandey opened #11847 "Error while installing awx via helm3"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

 Hi,
I

[2022-03-04 08:14] nilsding commented on #11842
I looked a bit into it, and to me looks like the `shutil.rmtree(artifact_dir)` introduced in  #11472 inside `awx/main/tasks/receptor.py` is the culprit here... the cert file is still created inside the artifact dir, but it's deleted immediately afterwards.  Removing that `rmtree` call makes the jobs pass again

[2022-03-04 08:57] miantianlai opened #11848 "Unable to run playbook with ansible galaxy roles"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Can't u

[2022-03-04 12:30] chicoraf commented on #10211
I made a test in another k8s cluster, this time using docker, and the problem did not occur. Could this problem be related to containerd?

[2022-03-04 13:39] CFSNM commented on #11229
Validated from QE side

[2022-03-04 13:39] #11229 closed, assigned to CFSNM

[2022-03-04 15:09] AlexSCorey commented on #11848
We recommend that you build your own execution environment.  Please see the docs for [Ansible builder](https://ansible-builder.readthedocs.io/en/stable/)

[2022-03-04 15:09] #11848 closed, assigned to nobody

[2022-03-04 15:21] zx1986 commented on #2172
not work for me in 2022 :-(
can't find any setting about job isolation,
using awx-cli to check, only got `"AWX_ISOLATION_BASE_PATH": "/tmp"` and `"AWX_ISOLATION_SHOW_PATHS": []`

- AWX 19.1.0
- K8S
- awx operator

[2022-03-04 15:31] zx1986 commented on #9893
refs: https://github.com/ansible/awx/issues/2172#issuecomment-1059257230

[2022-03-04 15:39] zx1986 commented on #9893
another solution using `sshpass`:

[code]

[2022-03-04 15:43] #11806 closed, assigned to nobody

[2022-03-04 15:55] AlexSCorey commented on #11771
Check if this is an issue in the top level notifications list.

[2022-03-04 16:11] thenets commented on #10694
So far, looks stable. Closing it.

[2022-03-04 16:11] #10694 closed, assigned to thenets, rebeccahhh, kdelee

[2022-03-04 16:47] akus062381 commented on #8321
resolved

[2022-03-04 16:47] #8321 closed, assigned to marshmalien, akus062381

[2022-03-04 16:49] AlexSCorey commented on #10678
It would be really cool if we could add a flag to pass to the `npm test` command to dictate a specific in which to run tests...ie. I want to run all tests inside `/ProjectAdd`

[2022-03-04 17:06] akus062381 opened #11849 "UX for JT launched by schedule on Job List"
This issue is inspired by https://github.com/ansible/awx/issues/8321
and related to https://github.com/ansible/awx/pull/11792

Currently, when a JT is launched by a schedule, the expanded row of a job list looks like this:
![image](https://user-images.githubusercontent.com/63685497/156805472-912e3129-07d0-4b20-ba78-d49696d3f014.png)

And after the schedule is deleted it looks like:
![image](https:

[2022-03-04 17:11] chris93111 commented on #9594
Hi any update !? i have the same error with 100 job at same time in awx 20.0, i have try with the new params SYSTEM_TASK_ABS_MEM = 3 and SYSTEM_TASK_ABS_CPU = "3000mi" and is the same result

we try to migrate awx 15.0 to 20 and we didn't have this problem before (15 in docker 20 in kubernetes)

We also notice that during a heavy load of the platform I see that the playbooks are distributed in a n

[2022-03-04 17:17] apollo13 commented on #11424
@mabashian The output looks better now -- ie I no longer observe interleaving and duplicated outputs. What I do not see most of the times is the play recap.

[2022-03-04 19:03] InnocentK commented on #8460
Resolved

[2022-03-04 19:03] #8460 closed, assigned to nixocio, InnocentK

[2022-03-04 19:47] AlexSCorey commented on #11778
I created three job templates and each of them got a `job` label.  Indivudually each template got an individual label as well which was `temp1`, `temp2`, `temp3`.  When filter by `Label Name` using `job` and `temp` I got 0 results.  Should have gotten 1.
`api/v2/unified_jobs/?labels__name__icontains=job&labels__name__icontains=temp1&not__launch_type=sync&order_by=-finished&page=1&page_size=20`

Wh

[2022-03-04 20:05] chris93111 commented on #10211
@chicoraf try container-log-max-size=500Mi in kubelet arg see https://github.com/ansible/awx/issues/11338

[2022-03-04 21:41] AlanCoding commented on #11842
Yes, I am already aware of problems introduced by that `shutil.rmtree` as @nilsding and I suspect it is the issue here.

That messes things up for `node_type='hybrid'` nodes. In AWX, all nodes should be `node_type='control'`. Anyway, we need a condition to not run that block of code if it's running locally. I had that change in some PR but it got mixed in with other work and tied up.

[2022-03-05 02:26] miantianlai commented on #11848
@AlexSCorey
Why doesn't the default **AWX EE (latest)** and **Control Plane Execution Environment** work for that?
I found AWX support Ansible Galaxy for easy using: https://docs.ansible.com/ansible-tower/latest/html/userguide/projects.html#ansible-galaxy-support

[2022-03-05 15:34] dkolepp opened #11851 "License Module clarification of manifest parameter"
https://github.com/ansible/awx/blob/c6209df1e0c6247817747a17b01f3b65f756fdb1/awx_collection/plugins/modules/license.py#L25

The license module documentation does not make it clear that the manifest must exist on the remote machine.  Some note to indicate that the manifest must exist already on the host, would be beneficial.

Most other ansible modules assume that the files exist on the controller,

[2022-03-05 21:41] mjsalmi commented on #11765
I'm having this same issue with 20.0.0. Applying search terms (for example appending url with ?job_output.not__stdout__startswith=[WARNING]) makes the missing lines appear in stdout (even warnings I thought I was filtering out, maybe I just can't use this search properly)

[2022-03-05 23:12] chris93111 commented on #11831
with saml user attr is permanent
{
  "is_superuser_role": "awx_admins",
  "is_system_auditor_role": "awx_auditors"
}

[2022-03-05 23:12] #11831 closed, assigned to Zokormazo

[2022-03-07 06:24] sugitk commented on #3072
We have received another support case regarding the configuration of proxy settings for notifications.

Sometimes we ask customers to modify the `/etc/supervisord.conf` as per this KCS article though, I believe more easier way should be provided.

https://access.redhat.com/solutions/3023641

And also, I guess that the implementation of the notifications (awx/main/notifications/*.py) refers to the

[2022-03-07 06:40] garamirseokim opened #11852 "Need to support “LDAP authentication” with HashiCorp Vault Secret Lookup in Ansible Tower"
##### ISSUE TYPE
 - Feature Idea
Need to support “LDAP authentication” with HashiCorp Vault Secret Lookup in Ansible Tower

##### SUMMARY

Currently we do not support LDAP authentication with HashiCorp Vault Secret Lookup in Ansible Tower. It only supports approle & token.
However, we need add “LDAP authentication” with HashiCorp Vault Secret Lookup in Ansible Tower.
https://docs.ansible.com/ansib

[2022-03-07 06:46] garamirseokim commented on #11852
This request is for AAP2.1. Close this ticket accordingly.

[2022-03-07 06:46] #11852 closed, assigned to nobody

[2022-03-07 08:01] lucab85 commented on #5209
+1

[2022-03-07 08:21] al-lac commented on #11842
@AlanCoding good that this is known already. Hope we can get a fix into one of the next releases.

[2022-03-07 09:28] nicolaibaralmueller opened #11853 "AWX 19.4 survey facts takes precedence over set_fact in playbook"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

_No res

[2022-03-07 12:03] emulanob commented on #4539
Endorsing the two previous comments. The docs make you think it's possible to use `{{ job.extra_vars }}` but after some struggle and research I ended up here.
And while I understand the concerns with sensitive data expressed in this issue and https://github.com/ansible/awx/issues/2024, the fact that `job_metadata` contains the extra_vars is very confusing to me.

As a workaround I've been trying t

[2022-03-07 12:44] #11853 closed, assigned to nobody

[2022-03-07 13:06] yw5vruox7dr opened #11854 "Permission denied error when using awx-ee"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I got f

[2022-03-07 13:17] kurokobo commented on #11647
As mentioned in several other issues (#11765, #11818), the `[WARNING]` message in the playbook output may be the trigger of this issue. I've not digged into the code, but here is a minimal playbook to reproduce this issue for testing:

### Playbook

[code]

### Example output in `ansible-playbook`

![image](https://user-images.githubusercontent.com/2920259/157037857-0b6bfa91-8663-4161-a088-b17d1c7

[2022-03-07 13:32] #11854 closed, assigned to nobody

[2022-03-07 13:35] yw5vruox7dr commented on #11854
Seems that adding `USER 1000`fixed the problem.

[code]

But the plugin is still not found:
[code]
Created new issue: https://github.com/ansible/ansible-runner/issues/1017

[2022-03-07 15:47] CFSNM commented on #11740
Assigning myself for QE validation

[2022-03-07 16:19] keithjgrant commented on #10678
You can! (sort of). `npm test -- ProjectAdd` performs a string match for any tests with "ProjectAdd" in the path/filename and runs only those tests

[2022-03-07 16:35] akus062381 commented on #11626
this is fixed. just waiting for e2e tests before merging PR.

[2022-03-07 16:35] #11626 closed, assigned to marshmalien

[2022-03-07 17:51] tiagodread commented on #11461
@thenets Closing this issue, since I ended up verifying the backport PR to 4.1.1.

I ran the chatty_task playbook on a schedule to generate events and ran the Cleanup Job Details, after cancelling the job while running the dispatcher logs was
[code]

![image](https://user-images.githubusercontent.com/12464858/155004231-c147a41b-0e7c-437e-bf30-6da548d14e7d.png)

Last message on websocket connection

[2022-03-07 17:51] #11461 closed, assigned to thenets

[2022-03-07 20:50] chris93111 commented on #11818
hi same issue on 20.0.0

<img width="1172" alt="image" src="https://user-images.githubusercontent.com/27526373/157115614-685102db-e37e-4de5-8660-61d53e4928b3.png">

download output is complete is only on UI

with ?job_output.not__stdout__startswith=[WARNING] all output is appear

<img width="1076" alt="image" src="https://user-images.githubusercontent.com/27526373/157117104-adc05224-1d4a-4715-9d3d

[2022-03-07 20:50] MalfuncEddie commented on #11176
I have a similar use case. (posted on the mailing list)

I am currently using the api to see what playbooks are scheduled .
From this api call I get an inventory and if it is defined a limit. I thought given these 2 parameters it would be easy to get a list of hosts (via the api) that shows the hosts that match the limit and the inventory.

This seems quite hard. The only way (in theory) I think I

[2022-03-07 20:54] chris93111 commented on #11765
Hi i confirm with ?job_output.not__stdout__startswith=[WARNING] all output is appear

[2022-03-07 22:30] guliaka commented on #11765
Hi all,

Confirm that ?job_output.not__stdout__startswith=[WARNING] does the job. So it is all duplicate of #11647

[2022-03-08 03:39] climardo commented on #553
1,581 days later... still no bool

[2022-03-08 03:47] spsingh1982 commented on #553
lol, carlos, its high time you open code now and submit code :)

On Mon, Mar 7, 2022 at 9:39 PM Carlos Limardo ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2022-03-08 14:14] AlanCoding commented on #11842
@al-lac the linked PR may fix this, if you want to test it, that could speed up getting it merged.

@john-westcott-iv I'm considering how we can add test coverage for certs, and we discussed testing for the existence of keys with `ssh-add -l`, I'm wondering if that might contain certificate information which would allow for some easy regression coverage of this issue.

[2022-03-08 15:07] mabashian opened #11861 "Add help text popovers to /#/templates details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work.  If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields.  The help text matches up with the fields in the form.  We want to bring all the forms/details to parity in this regar

[2022-03-08 15:12] mabashian opened #11862 "Add help text popovers to /#/credentials details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work. If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields. The help text matches up with the fields in the form. We want to bring all the forms/details to parity in this regard.

[2022-03-08 15:17] mabashian opened #11863 "Add help text popovers to /#/projects details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work. If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields. The help text matches up with the fields in the form. We want to bring all the forms/details to parity in this regard.

[2022-03-08 15:28] sebypp commented on #9704
@ffirg , you are correct, it works on 20.0.0.

My issue was the '---' character in my netbox inventory file. Strangely enough, when executing ansible via CLI it worked fine, but not with AWX. I've fixed this and can confirm everything is working.

[2022-03-08 15:32] selkopb opened #11864 "DNS Resolution issue while playbook execution"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

_No res

[2022-03-08 15:42] mabashian opened #11866 "Add help text popovers to /#/inventories details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work. If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields. The help text matches up with the fields in the form. We want to bring all the forms/details to parity in this regard.

[2022-03-08 15:44] mabashian opened #11867 "Add help text popovers to /#/hosts details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work.  If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields.  The help text matches up with the fields in the form.  We want to bring all the forms/details to parity in this regar

[2022-03-08 15:47] mabashian opened #11868 "Add help text popovers to /#/organizations details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work.  If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields.  The help text matches up with the fields in the form.  We want to bring all the forms/details to parity in this regar

[2022-03-08 15:49] mabashian opened #11869 "Add help text popovers to /#/users details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work.  If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields.  The help text matches up with the fields in the form.  We want to bring all the forms/details to parity in this regar

[2022-03-08 15:52] mabashian opened #11870 "Add help text popovers to /#/credential_types details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work.  If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields.  The help text matches up with the fields in the form.  We want to bring all the forms/details to parity in this regar

[2022-03-08 15:56] mabashian opened #11871 "Add help text popovers to /#/notifications details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work.  If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields.  The help text matches up with the fields in the form.  We want to bring all the forms/details to parity in this regar

[2022-03-08 15:59] mabashian opened #11872 "Add help text popovers to /#/instance_groups details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work.  If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields.  The help text matches up with the fields in the form.  We want to bring all the forms/details to parity in this regar

[2022-03-08 16:03] mabashian opened #11873 "Add help text popovers to /#/applications details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work.  If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields.  The help text matches up with the fields in the form.  We want to bring all the forms/details to parity in this regar

[2022-03-08 16:05] mabashian opened #11874 "Add help text popovers to /#/execution_environments details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Spawned out of https://github.com/ansible/awx/issues/9215

See /#/settings for how this should work.  If you look the details view for a particular settings group you'll see help text popovers next to many (if not all) of the fields.  The help text matches up with the fields in the form.  We want to bring all the forms/details to parity in this regar

[2022-03-08 16:09] #9215 closed, assigned to tiagodread

[2022-03-08 17:08] john-westcott-iv commented on #10448
For the error:
`Role assignment failed: Bad Request (400) received - {'msg': "You cannot grant credential access to a user not in the credentials' organization"}.`
This is fixed by https://github.com/ansible/awx/pull/11845.

For the job template errors:
`Object import failed: Bad Request (400) received - {'playbook': ['Playbook not found for project.']}`
Is this job template based on an SCM projec

[2022-03-08 18:05] InnocentK commented on #10146
Resolved.

Note: We should probably add checks for this in our E2E tests

[2022-03-08 18:05] #10146 closed, assigned to marshmalien, InnocentK

[2022-03-08 19:14] ryanmerolle commented on #8930
@robinduerhager I can confirm I have the same issue with AWX 20.0.0

[2022-03-08 19:29] ryanmerolle commented on #11818
same here on 20.0.0

[2022-03-08 19:32] thenets commented on #11532
We will need to move this issue to `Needs Docs` once the tests are finished.
It's important to let the user know the differences between `hop` and `execution` instances behaviors.

For example, the UI uses the `error` field of `instances` endpoint to show the message to the user, instead of `execution` behavior that uses the `last_health_check` field.

The UI code that shows the `hop` node status

[2022-03-08 20:41] AlanCoding commented on #11532
I don't understand the language here.

If a control/hybrid/execution node has a problem, it should have text in the `errors` field, as well as a value of 0 for `capacity`.

Hop nodes should _always_ have a value of 0 for `capacity`. It has text in the `errors` field, then it is known to be non-functional, but this may or may not impact job functionality (because receptor could route around that no

[2022-03-08 21:04] feldsam commented on #1179
+1

[2022-03-08 21:47] InnocentK commented on #11532
I think this relates to the UI changes rather than the API changes.

In the UI the health status for control/hybrid/execution nodes comes from the health check function but the health status for hop nodes comes from the `errors` field.
I don't think this difference would be obvious to users and so it would be important to note in the documentation.

[2022-03-09 00:22] InnocentK opened #11877 "Hop Node Error Status Not Being Shown for Deleted Hop Node"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hop nod

[2022-03-09 00:22] InnocentK commented on #11877
This bug blocks the work from https://github.com/ansible/awx/issues/11532 to be verified

[2022-03-09 00:29] joeywashburn opened #11878 "Missing Job Output - Maybe related to failures or error message"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Stdout

[2022-03-09 00:34] joeywashburn commented on #11878
I just checked and I can see the stdout via the API.  Just as additional info

[2022-03-09 01:14] kurokobo commented on #11878
Seems duplicate of #11647, #11765, #11818

[2022-03-09 01:32] joeywashburn commented on #11878
Thanks, I did not find those when searching, but looking at them, I agree,
dupes

On Tue, Mar 8, 2022 at 5:14 PM kurokobo ***@***.***> wrote:

[2022-03-09 07:12] nicolaibaralmueller commented on #11818
Downgrading to AWX 19.4 resolved the AWX bug and Azure VM issue where the VM became unresponsive. This is a highly critical error.

[2022-03-09 07:35] amg-web opened #11879 "can not update 19.5 -> 20.0 Fatal glibc error: CPU does not support x86-64-v2"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

can not

[2022-03-09 09:42] sooslaca commented on #11647
I'm afraid to ask, but I'm asking anyway: anyone tried if same presents in 20.0.1 ?

[2022-03-09 12:19] kurokobo commented on #11647
@sooslaca
I've confirmed that this issue still exists in 20.0.1.

[2022-03-09 13:42] tiagodread commented on #11730
I agree, although we can unit test the 400 behaviour from API to simulate server side validation.

[2022-03-09 16:15] kurokobo commented on #11647
@keithjgrant
I'm tagging you because you seemed to have expertise about this area according to the PR #11312.
It's a bit difficult for me to dig into the code because I'm not familiar with React yet, but do you have any ideas on this issue?

[2022-03-09 16:45] john-westcott-iv opened #11881 "awxkit export/import should allow exporting of applications"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

[2022-03-09 17:08] john-westcott-iv opened #11883 "awxkit import/export rerun of scm project"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Given a

[2022-03-09 17:23] yw5vruox7dr opened #11884 ""Update Revision on Launch" not working if initial project is missing"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When us

[2022-03-09 17:25] MuriloChianfa commented on #3267
as @cippaciong say, im only put this `ansible_python_interpreter='/usr/bin/env python3'` in hosts without support of python-apt and runs prettrily,, very thx,

[2022-03-09 17:56] joeywashburn opened #11886 "User is created as Normal User when should be SuperUser/Admin"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
We have users that are in different domain that are not being added to Admin/Super User when logging in via LDAP.  They are in the correct group.  In addition they do get created and can get logged in, but are Normal User so the basics of LDAP are working.  It seems that maybe its order of operations, or group lookup is fa

[2022-03-09 20:00] chris93111 commented on #11647
i don't know if is realy a problem with Warning but with ?not__stdout="" the output is also good

[2022-03-10 00:53] rebeccahhh commented on #11740
an example in which status hasn't changed but I have disabled and re-enabled a node.
![image](https://user-images.githubusercontent.com/11764497/157565039-85f2874d-4acf-4c2f-beb9-5ba4fbab8c07.png)

![image](https://user-images.githubusercontent.com/11764497/157565229-06f966d1-2fbe-4b79-9e71-415087d876c6.png)

[2022-03-10 16:09] db0 commented on #8490
Very nice @MalfuncEddie . I've tweaked the injector to the following, which avoids having to use the lookup in the playbook

[code]

[2022-03-10 17:40] yw5vruox7dr opened #11888 "rsyslog.conf is missing at container startup"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Wenn sp

[2022-03-10 19:27] akus062381 commented on #11409
I triggered the e2e tests. I will merge once they finish

[2022-03-10 21:42] akus062381 opened #11891 "jobs settings edit form resulting in error"
this week, multiple ec2 builds have shown that the edit form for Job Settings is not working properly, showing this error:
![image](https://user-images.githubusercontent.com/63685497/157759447-a0f0dd0e-b0de-4cc5-a56d-6c926753e286.png)

Important: this only occurs in a production environment, not a development environment.

To reproduce:
Build ec2 off AWX devel
Go to settings
Click Job Settings
Cli

[2022-03-11 02:16] dlemons-redhat commented on #11499
@shanemcd bump from me, I'm trying to use this in a PoC right now for a customer.

[2022-03-11 03:05] dlemons-redhat commented on #11499
@AndreiBanaruTakeda @shanemcd you can use regex_replace with this as a workaround for now:
` rrule: "{{ query('awx.awx.tower_schedule_rrule', 'none', start_date=time) | regex_replace('^(?P<date>.+)FREQ=','\\g<date>RRULE:FREQ=')}}" `

[2022-03-11 11:49] nicolaibaralmueller opened #11892 "Inventory pending delete"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Deleted

[2022-03-11 11:59] elcidger commented on #11891
Facing the same issue on my self-hosted AWX instance on k3s:

![image](https://user-images.githubusercontent.com/53906625/157862621-c861bd43-553a-45b8-8be1-0fc0741af828.png)

Reproducing steps are the same as mentioned.

Environment:

k3s version v1.22.7+k3s1 (8432d7f2)
go version go1.16.10

Running on Ubuntu 20.04 LTS.

[2022-03-11 13:56] tiagodread opened #11893 "Failed to execute 'importScripts' on 'WorkerGlobalScope' while running cypress tests on mesh viz"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

After m

[2022-03-11 14:15] akus062381 commented on #11409
all set, PR merged

[2022-03-11 14:15] #11409 closed, assigned to keithjgrant, akus062381

[2022-03-11 14:30] AlexSCorey commented on #10678
I did not know that. Generally I've only been running either all the tests, or only 1 test at a time. Thanks for sharing @keithjgrant

[2022-03-11 15:01] jpmendes commented on #4643
Thanks. The best solution.

[2022-03-11 15:54] rchicoli commented on #10243
I am also having the same problem, for whom has admin permissions to AWX or Tower could allow the external LDAP users to create tokens. Mentioned by @thestevenbell

Sadly that is not my case and the internal policy is against it due to specific reasons.

Then I might want to Open a PR and hopefully it will be merged, as we are only extending the functionality of the Controller API calls in the mod

[2022-03-11 16:24] AlanCoding commented on #11891
Can we get this re-tested with the AWX PR #11896?

[2022-03-11 16:30] akus062381 commented on #11891
@AlanCoding I'll run tests now

[2022-03-11 16:34] InnocentK commented on #11877
This issue might be addressed by: https://github.com/ansible/awx/pull/11714
(Requiring further investigation)

[2022-03-11 18:08] amolgautam25 commented on #11892
There are two steps here:
--- Is there a way we can get those inventory updates out of the stuck state?
--- Figure out the Root cause for that and fix it

[2022-03-11 18:11] mabashian commented on #11892
Just out of curiosity - do these inventories have hosts with a large number of host facts?  We've seen behavior like this before where there are a large number of host facts and deleting the inventory hangs.

[2022-03-11 18:19] mabashian commented on #11886
Hey - any chance you could increase the logging threshold and report back the groups returned?

[2022-03-11 18:35] mabashian commented on #11878
Yea this is almost certainly covered in https://github.com/ansible/awx/issues/11647, https://github.com/ansible/awx/issues/11765, https://github.com/ansible/awx/issues/11818.  If not, please re-open.

[2022-03-11 18:35] #11878 closed, assigned to nobody

[2022-03-11 18:37] mabashian commented on #11818
Are there any errors reported in the browser console?  That would be helpful for troubleshooting if there is a bug client-side.

[2022-03-11 18:44] joeywashburn commented on #11886
Yes, I would be happy to.  Can you point me in the right direction of where
to bump it at

On Fri, Mar 11, 2022, 10:19 AM Michael Abashian ***@***.***>
wrote:

[2022-03-11 19:06] InnocentK commented on #11877
A proposed solution to this issue: https://github.com/ansible/awx/pull/11898

[2022-03-11 19:16] JamieSlome opened #11899 "Add SECURITY.md"
Hey there!

I belong to an open source security research community, and a member (@michaellrowley) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best p

[2022-03-11 20:22] akus062381 commented on #11891
we are good!

[2022-03-11 20:22] #11891 closed, assigned to nixocio

[2022-03-11 21:32] ryanmerolle commented on #11818
MS Edge (Version 98.0.1108.43 (Official build) (64-bit)) browser console logs:
[code]

[2022-03-11 21:59] keithjgrant commented on #11765
Does it seem to fix the issue when you apply _any_ search terms?

[2022-03-12 02:29] chris93111 commented on #11765
@keithjgrant yes just apply not__stdout="" fix the stdout for me

[2022-03-12 20:25] mjsalmi commented on #11765
@keithjgrant I can also confirm this. I also noticed that the output field seem to have extra grayed lines after job summary when filtering a "broken" job output with ?job_output.not__stdout="". This doesn't seem to occur with ?job_output.not__stdout__startswith filter.

[2022-03-13 19:12] AlanCoding commented on #11892
We really want to look for tracebacks from the delete_inventory task in the server logs for this type of issue.

[2022-03-14 01:58] joeywashburn commented on #11886
I was able to bump the logging and have the user login.  Basically it
saying the user is not found in the group, yet I can look in AD Users and
Computers and see the user is actually in the group.  So not sure if its
LDAP problem, an AWX problem, or a django problem.

On Fri, Mar 11, 2022 at 10:19 AM Michael Abashian ***@***.***>
wrote:

[2022-03-14 07:02] lucky-cmdb-code opened #11901 "[WARNING]: You are using the awx version of this collection but connecting to Red Hat Ansible Tower"
"response": {"json": {"count": 0, "next": null, "previous": null, "results": []}, "status_code": 200}, "total_results": 0}

[2022-03-14 13:23] akus062381 commented on #11729
tested. looks good!

[2022-03-14 13:23] #11729 closed, assigned to marshmalien, akus062381

[2022-03-14 14:08] nixocio commented on #11547
This seems to be a duplicated of https://github.com/ansible/awx/issues/11611

[2022-03-14 14:16] tiagodread commented on #11622
Added tests in 7300 to verify that Hop nodes can't be modified

[2022-03-14 14:43] tiagodread commented on #11893
Fixed by #11897, cypress now can access the topology view page successfully

[2022-03-14 14:43] #11893 closed, assigned to kialam, tiagodread

[2022-03-14 15:00] felipe4334 commented on #11484
@shanemcd how can I help on fixing this issue?

[2022-03-14 15:55] keithjgrant commented on #11765
@chris93111 Thanks. This confirms my suspicions. Performing a search disables the event nesting functionality (the expand/collapse arrows), so the page is more performant with a search filter applied.

The problem is likely caused by the UI trying to determine how events are nested in parent/child relationships. Most of the network traffic in the screenshot above (https://github.com/ansible/awx/is

[2022-03-14 17:12] yw5vruox7dr commented on #11391
We also encounter this problem since upgrading to awx 20.0.0

[code]
Credentials are correct. Connection is possible from task container.
The jobs are successfully executed but some of them end up in "Failed" state.

[2022-03-14 17:21] yw5vruox7dr opened #11903 "Worker failed to run task awx.main.tasks.system.purge_old_stdout_files"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

We see

[2022-03-14 17:35] AlanCoding commented on #8771
Currently relevant issue which is a part of this epic: https://github.com/ansible/awx/issues/11422

[2022-03-14 18:23] thenets commented on #11622
I still have the issue on the API side. I should not be able to patch `hop` instances on the following fields:
- capacity_adjustment
- enabled
- managed_by_policy

[2022-03-14 18:43] InnocentK commented on #11877
Note: We will need to create a new test scenario in the API integration test suite for QE to test this scenario as well as the scenario in #11898
There are technically two different scenarios here:

1. Disable the hop node (hop nodes cannot be disabled directly so disable the machine the node it is running on) and confirm that the errors field is populated
2. Re-do scenario 1 and then re-enable th

[2022-03-14 21:44] thenets commented on #11622
I reran tests. Probably was something off when the pipelines triggered, before some codebase change.
All passed.

[2022-03-14 21:44] #11622 closed, assigned to nixocio, tiagodread

[2022-03-15 09:01] unixsysadmin commented on #11460
Noticed that https://galaxy.ansible.com/awx/awx is now showing version 20.0.1, which matches the current AWX release.  Release pipeline now fixed?

[2022-03-15 10:30] lining-github opened #11907 "How to use a receptor deployed on a virtual host as the execution node of awx?"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
How to use a receptor deployed on a virtual host as the execution node of awx? There are not many documents available for this part. After I have failed many times, I want to know whether this can be supported in the new awx version ？

[2022-03-15 10:57] aimcod commented on #1179
+1 for this as well. Can't use the API to limit hosts. Job runs on all hosts in group.
What I have done is created a group for each host I add, then change the job to run on said group, then  run the job, but it is a bit convoluted and....clutterey

[2022-03-15 12:25] xbc1 opened #11908 "Dockerhub and Quay conflict latest tag"
Hi,
at my company we use a nexus server to proxy quay.io and hub.docker.com to pull Images.

There is a conflict because the ansible/awx:latest Image is located on Dockerhub and also Quay.
If I use the latest tag it pulls the one from Dockerhub.

Since the one on Dockerhub is in fact more than 1 year old and the one on Quay a few days old I would suggest to remove the latest Tag from Dockerhub.

-

[2022-03-15 13:07] toweransi commented on #371
I'd like to underscore the power of this requested feature in an enterprise with complex inventories.

For any dynamic or static inventory, if a host has a var for "application_name", that var can filter a smart inventory, and boom you have effectively targeted the hosts of that app. You can rapidly target/filter an application, then filter further with "environment", "division", and then filter f

[2022-03-15 13:14] gigi1983 commented on #371
ciao, we were able by ourself and no support to implement smart inventories basing on hostvariables. it works basically using regex on hostvars. the ui seems to do not support this but we implemented the creation of smart inventories using surveys.
For what I got....this is not intended to be given or supported in short time by developers.

[2022-03-15 13:28] gigi1983 commented on #371
as u got we had to develop (my company) by ourself because at least about me facts are useless. but in addition to the smartinventory kind of filter there are a lot at least about me issues related to the rbac model

[2022-03-15 13:40] AlanCoding commented on #11460
Correct, thanks for checking. Same with https://pypi.org/project/awxkit/#history. I believe the work was done in https://github.com/ansible/awx/pull/11834

Notifying @nixocio and @shanemcd here. Closing as fixed.

[2022-03-15 13:40] #11460 closed, assigned to nobody

[2022-03-15 13:46] AlanCoding commented on #11903
I don't expect any adverse consequences from this, but it would be valid to check for existence of the folder first.

[2022-03-15 13:50] shanemcd commented on #11899
Hello. We do have this:
![awx 2022-03-15 09-48-29](https://user-images.githubusercontent.com/773186/158392382-bdcf2983-8ab3-4292-8ec4-4e1ce4496d7f.png)

If someone wants to copy / paste the content from there into a new SECURITY.md, we'd be happy to approve and merge a PR.

[2022-03-15 14:01] JamieSlome commented on #11899
@shanemcd - sorted! 👍

#11909

[2022-03-15 14:04] JamieSlome commented on #11899
Just for reference, the report in question can be found [here](https://huntr.dev/bounties/506ffd90-d8bf-4942-873b-d611b13b44e6/). It is private and only accessible to maintainers with repository write permissions.

If you aren't happy to sign-up to the platform, (for permission verification), we will send the details to the elected security policy e-mail in any case (no sign-up required 👍).

[2022-03-15 14:39] shanemcd commented on #11899
Thanks. I've responded there with a comment.

[2022-03-15 14:39] #11899 closed, assigned to nobody

[2022-03-15 14:44] JamieSlome commented on #11899
Thanks, @shanemcd!

[2022-03-15 17:02] AlanCoding commented on #11877
These test cases would be very destructive. Yes, you could stop the receptor service on the hop node and this should get you what you want. These would also be very slow tests due to the poll intervals involved. I worry that would be impractical, as the time and reliability cost for the test suite may not be worth this coverage.

[2022-03-15 17:03] AlanCoding commented on #11877
I went ahead and merged the related fix.

[2022-03-15 17:09] M35a2 commented on #11847
i had a similar issue, turns out the redis and/or postgress cannot have special characters in the passwords. just a thought to check.

[2022-03-15 18:00] fosterseth commented on #11811
refinement note -- we may just need to put a try, catch and pass block around or in our `create_partition` call to prevent the job from error-ing out.

[2022-03-15 18:09] InnocentK commented on #11877
This is a really good point that I had not considered before so thanks for bringing it up.
For now QE will just plan to create a test plan for manual testing of this functionality and not add it to our automated testing so that we can avoid the potential slow down

[2022-03-15 18:22] tiagodread opened #11910 "Org admin can not operate on instance group associated with their org"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

This is

[2022-03-15 19:36] akus062381 commented on #10281
@AlexSCorey in testing this, I see that the filters do not clear properly- the job output screen does not refresh properly unless the user clicks the refresh button after clearing the filter(s).

To recreate:

Access the Demo Inventory. In addition to localhost, add two more hosts to this inventory.

Create a new job template and use this inventory, and choose the playbook
image

Run the job templ

[2022-03-15 19:46] sean-m-sullivan opened #11911 "Update workflow node aliasing to be seperate from the identifier"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
 - #10592 Added using the identifier as an alias in the Workflow job template visualizer.

However the Identifier has been setup to be used [as a unique ID](https://github.com/ansible/awx/blob/f99820a3913da47f073dbaca65797567be99bee6/awx_collection/plugins/modules/workflow_job_template_node.py#L124)
[code]
And with the previous UUID system they were

[2022-03-15 20:00] termlen0 commented on #11911
This is critical for controller config as code. The identifier is used for tying together the workflow nodes and having the identifier to use a different string than the JT name will make it easy to manage.

[2022-03-15 21:11] tiagodread commented on #11130
Fixed with the merge of #11839

[2022-03-15 21:11] #11130 closed, assigned to nixocio, tiagodread

[2022-03-15 21:12] tiagodread commented on #11718
Fixed with the merge of https://github.com/ansible/awx/pull/11839

[2022-03-15 21:12] #11718 closed, assigned to nixocio

[2022-03-15 23:42] rguhr commented on #11391
AWX 19.5.0 (& 20.0.0) is also affected.

Due to this bug jobs that have actually run successfully are marked as failed. This will trigger awx notifications for failed jobs. Most of our long-running (at least 38 minutes) system upgrade jobs run into this problem and alert us.

[2022-03-15 23:59] yw5vruox7dr commented on #11391
I'm worried the ticket with this major django/db bug may have gone down a bit.
@ryanpetrello @AlanCoding, @fosterseth, @shanemcd can you bring this up in an upcoming dev/prio meeting?

[2022-03-16 00:50] AlanCoding commented on #11391
This doesn't give enough information to definitively say, but I've been looking into other reports that could be the same thing.

I'm considering https://github.com/ansible/awx/pull/11905 as a blunt tool to cover all situations where postgres restarts or drops connections during long-running jobs.

These logs are red-herrings. It prints the stack trace but it continues. The ultimate error that fai

[2022-03-16 09:53] prinzpi opened #11922 ""Something went wrong" issue on Jobs Settings by trying to edit [worker-json.js not found]"
**ISSUE TYPE**
- Bug Report

**Components**
- UI

**SUMMARY**
By trying to edit the Jobs Settings (Settings -> Jobs Settings) I'm receiving the error message "Something went wrong".
![image](https://user-images.githubusercontent.com/12089703/158562848-6ff85700-e9bb-4a30-8dae-0ab5743a891a.png)

The Details also attached at the bottom. Anybody an idea what's happening here? By editing the other thin

[2022-03-16 12:29] muchafel commented on #11391
Possibly helpful, but I can reproduce that restarting the pods (i.e. recreation of pods) solves the problem temporarily. I somewhat suspect that this might be related to active/passive switches from postgres (?)

[2022-03-16 13:22] AlanCoding commented on #11911
This came up in https://github.com/ansible/awx/issues/2032, as a UI feature, and there was no resistance to the idea.

[2022-03-16 16:47] IPvSean commented on #11911
From reading the initial issue... the problem is not the alias (I want an alias), the problem is the alias IS the unique identifier for a node within a workflow.

So to summarize:
Yes, I would like an ALIAS for the visualization of jobs in the workflow visualizer.  Look how un-human friendly a workflow can be without an alias (this is my blog on ansible.com this week)->
![image](https://user-image

[2022-03-16 17:13] termlen0 commented on #11911
100% what @IPvSean said.

[2022-03-16 17:37] keithjgrant commented on #11647
@kurokobo Yeah, I'm looking into this one. At this point I think this has the same root cause as #11765... it looks like you saw my comment there

[2022-03-16 17:54] AlexSCorey opened #11912 "API request Errors are not cleaned up"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

On most

[2022-03-16 20:52] bobross419 commented on #11765
@keithjgrant After clearing out the warnings in my code, I also experienced this issue when I have duplicate imports.  I've tried all the variations of import, include, diff, including vars, dynamic task names, and no task names that I could think of.   The allow_duplicates params didn't make any difference either.

It presents similarly to the warnings issue, and it goes away with the same stdout

[2022-03-16 21:24] InnocentK commented on #11877
This has been resolved so closing. See above comments for followup

[2022-03-16 21:24] #11877 closed, assigned to InnocentK

[2022-03-17 08:53] spireob commented on #11805
Anything new in this topic?

[2022-03-17 11:23] aydinguven opened #11915 "Encrypted password in surveys show up as plaintext in Edit Order page."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

In the

[2022-03-17 12:46] joaodlf opened #11916 "Better notification control for "Source Control Update" jobs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

There was a time when "Source Control Update" jobs did not trigger notifications. I don't know when, recently or not, this was changed. As documented here:
https://docs.ansible.com/ansible-tower/latest/html/userguide/notifications.html

I believe this to be detrimental when there is no way to toggle these notifications off, without affecting the who

[2022-03-17 21:08] #9041 closed, assigned to keithjgrant, tiagodread

[2022-03-18 09:45] tobgen commented on #11879
@amg-web: My guess, its related to glibc 9.x require AVX-AES.
So its not really related to AWX, but I might be wrong ofc.

// T

[2022-03-18 10:21] kymcharlesworth-srg commented on #8310
Me too, this functionality needs to be included. Anyone have a workaround in the mean time?

[2022-03-18 12:56] thenets opened #11919 "CLI import command have wrong return code on error condition"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

The `aw

[2022-03-18 13:44] tiagodread commented on #11915
This is now fixed with the merge of #11917

[2022-03-18 13:44] #11915 closed, assigned to nixocio, tiagodread

[2022-03-18 13:49] vibinm commented on #10211
Just wanted to report this, I tried the latest version of AWX 20.0.1 and AWX-Operator 0.18.0 and the issue still persists.

OPERATOR_VERSION: 0.18.0
AWX_IMAGE: 20.0.1
AWX-EE_IMAGE: 0.6.0
External Database
K8s version: v1.20.2, calico

All jobs running more than two hours is showing as FAILED (in earlier version it was RUNNING not getting FAILED or SUCCESS), even though the playbook run is successf

[2022-03-18 14:16] chicoraf commented on #10211
@chris93111 , I found the solution just before your reply, problem solved! Thanks a lot!!

[2022-03-18 16:04] sIspravnikov commented on #3429
I double that. Big logs with multiline output is very hard to read.

[2022-03-18 17:17] AlanCoding commented on #11542
Considering if https://github.com/ansible/awx-operator/issues/796 is related to this issue, even though it's a different error.

[2022-03-18 17:29] nixocio commented on #11817
@fouram, please, add the network requests being made from the UI to the API.

[2022-03-18 17:31] john-westcott-iv commented on #11753
We track GUIDs of webhooks that have been run before and don't allow duplicate GUIDs to run additional jobs. For GitLab the GUID is a hash of the POST body to the endpoint: https://github.com/ansible/awx/blob/devel/awx/api/views/webhooks.py#L202
Try changing your payload slightly and you should be able to run the webhook again by using curl against the endpoint. Let us know if that works or not.

[2022-03-18 17:32] nixocio commented on #11847
Hi @alokispandey,

The package is supported by adwerx not us.

[2022-03-18 17:32] #11847 closed, assigned to nobody

[2022-03-18 17:36] nixocio commented on #11864
Hello @selkopb ,

This issue tracker is for tracking feature enhancements and bugs. This looks like an issue related to your environment.

If you need help troubleshooting or are looking for help using AWX, try our mailing list or IRC channel:

#ansible-awx on[ https://libera.chat/](https://libera.chat/)
https://groups.google.com/forum/#!forum/awx-project

[2022-03-18 17:36] #11864 closed, assigned to nobody

[2022-03-18 17:48] john-westcott-iv commented on #11851
It does not necessarily have to be on the remote machine; the file has to exist wherever the module is running from. For example, if your running ansible-playbook from host A against an inventory targeting host B and using the awx.awx.license module like:
[code]

Then the file would need to exist host B. However, if you delegate the task like:
[code]
Then ansible will be running on host A and look

[2022-03-18 17:56] AlanCoding commented on #11884
This error message "The project revision for this job template is unknown due to a failed update" is referencing the fact that a project update (triggered by `update_on_launch` in your case it looks like) failed. To know what happened, we need to look at the output of that project update.

[2022-03-18 18:41] yw5vruox7dr commented on #11884
@AlanCoding there is no output in the source control job.

job overview: https://i.imgur.com/T9Q74az.png
template job: https://i.imgur.com/dqzDIhh.png
source control job: https://i.imgur.com/D4h8V1Z.png

Between 7,8 and 9,10 I redeployed the awx instance.

[2022-03-18 18:55] InnocentK commented on #5867
Note: QE will need to add new E2E tests to cover this scenario

[2022-03-18 18:55] AlanCoding commented on #11884
Of course the _ideal_ is that the UI will find any relevant information, but it may not be doing this. In the `/api/v2/project_updates/N/` details, critical bits of information are often `status`, `job_explanation`, and `result_traceback`. If none of these are helpful, then there might be something that went _really_ wrong in the logs.

[2022-03-18 19:40] InnocentK commented on #11532
Confirmed as resolved

[2022-03-18 19:40] #11532 closed, assigned to thenets, InnocentK

[2022-03-18 19:49] yw5vruox7dr commented on #11884
No more useful information in these logs:

<details>
  <summary>API ouput for project update (Click to expand)</summary>

[code]
</details>

[code]

<details>
  <summary>Logs of task container (Click to expand)</summary>

[code]
  </details>

  <details>
  <summary>Logs of web container (Click to expand)</summary>

[code]
  </details>

[2022-03-18 20:24] yw5vruox7dr commented on #11884
It is working if you waiting long enough after a redeployment (I waited ~30 minutes, maybe the actual wait time is shorter). Probably a internal awx job that needs to run before you really can use awx.

Update: You have to wait at least 1:20 minutes before you should run any jobs.

[2022-03-18 20:36] #11884 closed, assigned to nobody

[2022-03-18 20:53] InnocentK commented on #5867
This has now been resolved

[2022-03-18 20:53] #5867 closed, assigned to nixocio, InnocentK

[2022-03-20 08:21] wiglaf1988 commented on #11922
same thing here in the job settings page,thanks for checking

TypeError: Cannot read properties of undefined (reading 'default') at gY (https://url/static/js/main.ac5f89fb.js:2:2990705) at oo (https://url/static/js/main.ac5f89fb.js:2:1270463) at Ks (https://url/static/js/main.ac5f89fb.js:2:1322763) at Ol (https://url/static/js/main.ac5f89fb.js:2:1310004) at Tl (https://url/static/js/main.ac5f89fb.

[2022-03-21 09:00] lutskevich commented on #11922
same issues
awx-operator version: 0.18.0
AWX 20.0.1

[2022-03-21 13:45] shanemcd commented on #5209
Just an update for folks. We are not ignoring your requests here, but we will not be adding this until Bitbucket handles the underlying issue on their end. I encourage you to weigh in on these related issues:

- https://jira.atlassian.com/browse/BCLOUD-14683
- https://jira.atlassian.com/browse/BCLOUD-12195

[2022-03-21 13:45] thenets opened #11926 "CLI import for existent `application` shouldn't return `stderr` content"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Try to

[2022-03-21 14:16] felipe4334 commented on #11594
I'm still having the same issue on mine [#11484](https://github.com/ansible/awx/issues/11484)
@shanemcd

[2022-03-21 19:38] akus062381 opened #11930 "Credential Search Filter- Request Ability to Filter by Type"
On the list of Credentials, the Type name is shown in the list next to each credential. However, a user cannot filter and just see Amazon Web Services, or Insights, or HashiCorp Vault Secret Lookup, for example. I think that this would be a helpful addition from a user experience perspective.

![image](https://user-images.githubusercontent.com/63685497/159350649-effa369b-ad68-43ff-a3f6-4b8c794afcf

[2022-03-22 00:05] chloepriceless opened #11931 "Relink the new job id into the Workflow Visualizer after you restarted a job whis is marked as failed"
Hi together,

i have a Feature Request for the Workflow Job/Template Visualizer stuff..
It would be nice, if you could relink the new job id into the Workflow Visualizer after you restarted a job whis is marked as failed.
Either restart the full Job or only the Failed hosts, it would be nice if we could see that the failed Job was "restared" and the new job id is linked tho this Workflow Job in th

[2022-03-22 02:13] rhessing commented on #5711
Wondering why it isn't possible to create a smart inventory that has an option to inherit the instance groups on a host basis from the other inventories where the smart inventory is based on? In my opinion, smart inventories would be the way to go for this issue...

[2022-03-22 07:58] zylpsrs commented on #11922
same issues
awx-operator version: 0.18.0
AWX 20.0.1

[2022-03-22 08:52] thenets commented on #11881
@john-westcott-iv this can be closed, right?

[2022-03-22 13:22] AlanCoding commented on #11422
Link https://github.com/ansible/awx/pull/11933

[2022-03-22 14:36] Tioborto commented on #11338
Any update about the resolution of this problem @shanemcd ? please

[2022-03-22 16:52] akus062381 opened #11935 "job output screen - clearing search results does not render expected results"
Related to https://github.com/ansible/awx/pull/11788 and https://github.com/ansible/awx/issues/10281

after the user performs a search in the job output screen, it does not refresh properly unless the user clicks the refresh button after clearing the filter(s).

![image](https://user-images.githubusercontent.com/63685497/159533052-6e2ab394-9c7f-45d4-bcb8-5777e6abeb54.png)

To recreate:

Access the

[2022-03-22 16:58] akus062381 opened #11936 "credential- Org required- inconsistency?"
There are 26 different types of credentials that can be created. Only one of these shows Organization as a required field in the Add form. All the others leave it as optional. Is this intentional? If not, can we have consistency across all the credential types?

[2022-03-22 18:36] AlexSCorey commented on #11935
![output](https://user-images.githubusercontent.com/39280967/159551878-380bab45-2a53-4d57-9fa6-bfa572e91d75.gif)

[2022-03-22 19:33] AlexSCorey commented on #11400
I believe that this is a PF issue where PF is overwriting our pluralization page title.  https://github.com/patternfly/patternfly-react/issues/7109

[2022-03-22 19:47] infra-monkey commented on #11615
I encountered this issue with "HashiCorp Vault Secret Lookup".
If I remember correctly, before (<17.0.0) it was possible to create the credential type and then add it to the job template. Now that this credential type is native, I would expect it to be allowed in job templates.

Is there something that changed that prevents allowing this type?

[2022-03-22 20:55] #11883 closed, assigned to thenets, john-westcott-iv

[2022-03-22 21:01] john-westcott-iv commented on #11690
For clarity, are you attempting to add a credential to a job launched through the API? If so, you should be able to do that by POSTing a JSON body to the `/api/v2/jobs/<job id>/launch/` endpoint with a body like:
[code]

Be sure that the prompt on launch option is selected for the credential field. Also, note that this needs to be a list of IDs, not names. If all you have is the name you will need

[2022-03-22 21:20] rebeccahhh commented on #11901
Hi @lucky-cmdb-code can you please give us a little more information about what you need so we can try to help you out?

If you're a customer using Ansible Controller (formerly Ansible Tower) the official place to get collections for Ansible Controller is Ansible Automation Hub: https://www.ansible.com/products/automation-hub?extIdCarryOver=true&sc_cid=701f2000001OH7YAAW

This warning is just lett

[2022-03-23 07:15] #11907 closed, assigned to nobody

[2022-03-23 11:45] kurokobo commented on #11922
This appears to be solved via #11896.

[2022-03-23 14:07] AlexSCorey commented on #11397
I am not able to reproduce this issue.

![Screen Shot 2022-03-23 at 10 07 17 AM](https://user-images.githubusercontent.com/39280967/159718329-1012f5f8-e932-45eb-bcbd-7b8467bc6bbb.png)

[2022-03-23 15:36] avalou opened #11942 "ERROR importing cache manifest from quay.io/awx/awx_devel:HEAD"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I am tr

[2022-03-23 16:17] zoullou opened #11943 "Target IG by hosts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hello,

I have hundred of server on one inventory and i want to launch a job template on all theses servers. But all server can't be joined by the same IG due to DMZ. So actually, i have to split my inventory into several inventory and associating specific IG (with severs in right DMZ location) to all inventory and i have to launch the same template

[2022-03-23 16:18] fosterseth commented on #11391
I found this discussion interesting. Hints that it could be a more broad wsgi issue https://forum.djangoproject.com/t/db-connection-closed-by-uwsgi-in-the-middle-of-handling-a-request/9875

@muchafel can you elaborate on the job failure a bit more? How long do the jobs run before hitting the error? have you noticed any relationship between numbers of jobs running simultaneously, or more generally

[2022-03-23 19:45] fosterseth commented on #11811
I can re-create this error with

[code]

[2022-03-23 20:41] nixocio commented on #11930
The API provides `"credential_type__search"` on the credentials endpoint.

[2022-03-23 21:08] ryanmerolle commented on #11818
@nicolaibaralmueller Any reason why you tried 19.4 and not 19.5?

[2022-03-24 06:04] shubhamranjan12 commented on #11786
Hello,
Can I work on this issue please ?

[2022-03-24 06:09] shubhamranjan12 commented on #11807
Can I work on this issue please?

[2022-03-24 06:27] Commifreak opened #11948 "Show `ansible` version inside `About` dialog"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The minikube env makes it "hard" to see the used ansible version. It would be great to show the ansible version used in the environment.

![grafik](https://user-images.githubusercontent.com/87267/159855600-068dee60-22b2-4a54-a568-c51cf5758a52.png)

[2022-03-24 07:29] rverhe opened #11949 "Multi cluster / nw segment / proxy support for AWX"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The challenge: We have multiple subdomains /network segments in our forest. With our compliancy rules, we cannot open ports like 22 and winrm between those segments. So in this case each segment will need a AWX Instance.

Is there already a way to make use of some kind of proxy?
Or is there a way to spin up AWX EE 's in each network segment?
Cannot f

[2022-03-24 07:31] nicolaibaralmueller commented on #11818
@ryanmerolle  19.4 was the last version I used which was ok.

[2022-03-24 09:11] JoelKle commented on #11531
Same for germany. A 24 hour format is the standard.
Would be great if we could select the format.

[2022-03-24 09:20] avalou commented on #11942
I resolved this issue by using a VM with needed cpu tags (AES & AVX).

[2022-03-24 09:20] #11942 closed, assigned to nobody

[2022-03-24 09:23] DaVince commented on #7917
Our organization consists of a lot of different teams who need to be assigned to their respective Organization, but only if they actually are a member of one of our four dedicated Ansible-related LDAP groups that determine access rights (read only/developer/team manager/sysadmin). The alternative for us is to add three of those groups for each of the teams, which is infeasible and clutters up the

[2022-03-24 10:06] jangel97 opened #11951 "ping shell command does not work"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello t

[2022-03-24 10:52] ffirg commented on #11951
bubblewrap protection, as designed. remove connection:local for it to work

[2022-03-24 10:52] #11951 closed, assigned to nobody

[2022-03-24 11:06] jangel97 commented on #11951
I suppose when control node becomes execution node (when setting `connection: local`), ansible-runner runs from the bubblewrap directory, which is chrooted and therefore there are more constraints.

[2022-03-24 13:12] nixocio commented on #11922
Thanks @kurokobo, this issue was indeed addressed by https://github.com/ansible/awx/pull/11896

[2022-03-24 14:53] Haagy commented on #9594
I do have the same issue when running jobs from outside awx with awx-cli in a container.

`podman run -it --rm my-repo/awx/cli:3.8.5 --conf.username jenkins --conf.token TOKEN projects update 123--monitor --format human --filter status` will keep running for ever while AWX shows the error message
* `Task was marked as running but was not present in the job queue, so it has been marked as failed.`

[2022-03-24 14:59] AlexSCorey commented on #11807
@shubhamranjan12 yes absolutely. Reach out if you need help!

[2022-03-24 15:21] al-lac commented on #5209
@shanemcd but what about Bitbucket Server and Datacenter? Support for Webhook Secrets is already implemented there. And it will probably take some time for atlassian to implement it in the cloud version. 😕

[2022-03-24 15:52] keithjgrant commented on #11647
@mick1627 Is this with the UI job output page open in browser, or not? It sounds like there may be a couple different issues at play in the comments in this discussion

[2022-03-24 16:04] mick1627 commented on #11647
Yes, exactly, it's with the UI job output page open in browser.

[2022-03-24 16:14] sean-m-sullivan opened #11954 "awx.awx.group option preserve hosts fails when there are no hosts."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

when us

[2022-03-24 16:16] ikke-t commented on #11954
Thanks for creating the issue. I verified now that the task works if I have the group and an existing host in the group.

So some error while doing it for a totally new group.

[2022-03-24 16:24] ikke-t commented on #11954
it works if the group is there but empty

[2022-03-24 16:25] ikke-t commented on #11954
so it fails only in the first ever run: there is no group.

[2022-03-24 16:39] ikke-t commented on #11954
just for reference, here are the steps after creating the vm

[code]

[2022-03-24 17:35] AlexSCorey opened #11959 "Update PF"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Update patternfly

[2022-03-24 17:48] AlanCoding opened #11960 "The dispatcher service fails to ever recover from a restart of the postgres pod"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

After t

[2022-03-24 17:49] shanemcd commented on #11960
Related:
- https://github.com/ansible/awx/pull/11955

[2022-03-24 18:25] shanemcd commented on #11391
We're approaching this from a couple different angles:

- https://github.com/ansible/awx/pull/11905
- https://github.com/ansible/awx/pull/11955

[2022-03-24 22:57] akus062381 commented on #11936
I checked 3.8.6, and i see that none of the credential types required an organization to be added. I am thinking that perhaps this requirement should be removed here? @nixocio?

This is the credential that requires an organization:
![image](https://user-images.githubusercontent.com/63685497/160023588-c487a0fa-40ed-4ee4-bf4c-4240d958bc5d.png)

[2022-03-25 02:03] shubhamranjan12 commented on #11807
Thank You @AlexSCorey, I just need a small clarification, This has to be fixed from the api, which populates the dropdown options.

[2022-03-25 07:15] alokispandey opened #11962 "executor failed running [/bin/sh -c cd /tmp && make requirements_awx]: exit code: 127"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I was f

[2022-03-25 08:30] martpp commented on #490
Addition: In the new AWX-Version (`20.0.1`) the `awx_task` container is now called `tools_awx_1` and the settings file is under `/etc/tower/conf.d/local_settings.py`.

[2022-03-25 09:20] infra-monkey commented on #11647
I confirm that when the output of the job fails to render, the cpu on my db goes crazy.
If I navigate to another page (ie: jobs) cpu comes back to normal on the db. If I go back to the job output, cpu ramps up

[2022-03-25 12:59] AlexSCorey commented on #11807
@shubhamranjan12 The actual query params come from the api, but on the ui side we use those to create our own strings which are rendered in the dropdown list.

[2022-03-25 13:14] nixocio commented on #11936
@akus062381, thanks for more details. I will try to understand this difference.

[2022-03-25 13:37] nixocio commented on #11936
@akus062381, the new UI aligned the required fields as per the API. If you attempt to create a new credential using the type of `Ansible Galaxy/Automation...` using only the API it will required to provide an Org.

![image](https://user-images.githubusercontent.com/9053044/160130674-67cc4553-6aea-462d-b8c0-a190b684f88d.png)

<img width="1187" alt="image" src="https://user-images.githubusercontent.

[2022-03-25 13:37] #11936 closed, assigned to nobody

[2022-03-25 15:54] metalcated commented on #1965
Yeah I would like this to exist as well... just tried doing this to simplify my code for creating users from AAP.

[2022-03-25 17:35] rebeccahhh commented on #11886
Hi @joeywashburn this sounds like a LDAP mapping issue. I think to help you out we'll need a little more info about the mapping that you have set up there. I understand that may not be something you can share but given our experience with other users checking that relationship is the best place to start.

[2022-03-25 17:46] rebeccahhh commented on #11908
hi @xbc1 we don't maintain Dockerhub anymore (which is why it's a year old). We should remove that. Thanks for the heads up.

[2022-03-25 17:48] #11922 closed, assigned to nobody

[2022-03-25 18:02] rebeccahhh commented on #11931
hi @red17x it's definitelys something we have discussed, but the way that workflows are designed would make this very difficult to do. As of now this is not something that we plan to do, but if that ever changes we will announce it on our mailing list. https://groups.google.com/g/awx-project

[2022-03-25 18:02] #11931 closed, assigned to nobody

[2022-03-26 01:14] ryanjhay047 opened #11966 "AWX There was a problem signing in. Please try again."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

After t

[2022-03-26 04:34] ikke-t opened #11967 "workflow limit does not limit"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Workflo

[2022-03-26 05:34] ikke-t commented on #11967
I tried it with simple ping test as task template. The first one had limit set to be prompted, and the other one didn't. The limit worked on the one that had it set.

It seems it applies limit to those tasks that had limit set to be queried.

However, then there is problem with workflow building. When you add task template with limit query to wf it prompts for the limit for the task. It doesn't se

[2022-03-28 07:46] Zeek3000 commented on #2166
I had the same problem with a git repository that had a submodule in it. Adding the submodule repository as a project seems to allow the other repository to sync properly.

[2022-03-28 12:43] daleroux commented on #371
Hi team, what's the status on this feature?

[2022-03-28 13:09] #11881 closed, assigned to thenets, john-westcott-iv

[2022-03-28 13:34] AlexSCorey commented on #11967
@ikke-t Can you elaborate a bit on where you set the limits?  It seems, that given your example you could have set it in 3 different places. 1) The Job template form (could be set, and/or prompt on launch) 2) The job template workflow form (could be set and/or prompt on launch) 3) On a particular node in the workflow visualizer that uses a job template that has the limit set, and/or has the limit

[2022-03-28 13:40] ikke-t commented on #11967
I set it in add workflow dialog.

Later on I tried it in different places to guess the logic. Seems that also inventory has such guess logic, it can be set in different places, and the workflow document doesn'texplain when is it applied and what takes precedence.

Add workflow is very frustrating experience as auch atm.

[2022-03-28 13:46] AlexSCorey commented on #11943
This might be something for us to consider in the future.  In the meantime I think you could:

- On the Job Template that you have to launch you could select Prompt on Launch for the inventory.  Then, create a workflow job template that uses that job template repeatedly, only with the different inventories specified when you create each workflow node and then launch the workflow.

I hope this is h

[2022-03-28 13:48] AlexSCorey commented on #11935
@keithjgrant I assigned you to this because you are doing some refactoring in this area.  Feel free to remove yourself.

[2022-03-28 14:10] AlexSCorey commented on #11967
@ikke-t

Did you set it using the CLI, or the UI?

[2022-03-28 14:12] #11930 closed, assigned to nixocio

[2022-03-28 14:27] ikke-t commented on #11967
GUI

[2022-03-28 14:28] ikke-t commented on #11967
My original issue above has link to documentation page of it. I followed that.

[2022-03-28 15:00] dkolepp commented on #11851
I can try this.  At a minimum, I suggest adding these two examples to the documentation, and add a better explanation of what is happening:
https://github.com/ansible/awx/blob/c6209df1e0c6247817747a17b01f3b65f756fdb1/awx_collection/plugins/modules/license.py#L39

I don't think this particular implementation is intuitive, so at the minimum, provide clear examples of these two use cases.

The use of

[2022-03-28 15:04] tiagodread commented on #11397
I was also unable to reproduce it.

[2022-03-28 15:04] #11397 closed, assigned to AlexSCorey

[2022-03-28 15:37] shanemcd commented on #11336
Is this the same as https://github.com/ansible/awx/issues/5692 ?

[2022-03-28 19:27] jtmelhorn commented on #11807
@AlexSCorey Would you like the options hard-coded in Alpha order, or would it be better to use a sorting function to fix this in case more options are added?

Adding `columns[1].options.sort((a,b) =>
  {
    return a[1].localeCompare(b[1]);
  });` sorts the drop-down, but it seems like it wouldn't be optimal to run that when the list can be manually updated.  It wouldn't be difficult to manually c

[2022-03-28 20:02] AlexSCorey commented on #11807
The list items are already hard coded so I don't think we need to be able to handle them dynamically.  The only case that I can see where that would be helpful is if we get the keys and values directly from the api.

[2022-03-28 21:05] akus062381 opened #11969 "Unit test expansion- organizations"
UI-QE met with UI devs and we went through the QE test stubs we had marked as possible unit test candidates. During the meeting, we were able to conclude that only one test case was missing from unit tests that should be in orgs .js files, and thus should be added:

- [ ] any selected check boxes are unselected when page location changes

[2022-03-28 21:34] kialam commented on #11203
I am able to zoom in on any page within the app with pinch to zoom gesture, not just on the workflow viz section.
![zoom](https://user-images.githubusercontent.com/2293210/160490908-0d2f20b5-af25-45e6-b55d-5f1999f1049c.gif)

As such, I _think_ this is a chrome browser pinch to zoom gesture thing rather than a bug.

[2022-03-29 09:22] xyko0 commented on #11879
Hello
I got the exact same problem trying to update with k3s on a Ubuntu 20.04 server (Proxmox)
Is there a solution to avoid this issue ?

[2022-03-29 13:43] akus062381 opened #11973 "[Meta] Unit Test Project- Move Eligible E2E Stubs to Create Missing Unit Tests"
Controller UI-QE is working together with Controller UI on this. We are looking at several stubs in the E2E test code base to see whether:
1. They already exist as unit tests and can be removed from E2E code base
2. They exist as unit tests but must still be integrated as an assertion into an existing E2E test

This will be a parent issue tracking related sub-issues.

UI-QE will lead the effort, a

[2022-03-29 14:07] jbradberry commented on #11811
Does this PR need to be backported?

[2022-03-29 14:39] hsahmed commented on #11056
Adding `use_fqcn = True` to class rhv in the file https://github.com/ansible/awx/blob/devel/awx/main/models/inventory.py fixes this issue:

[code]

[2022-03-29 14:46] dnguyen9 commented on #6807
@shanemcd @wenottingham Fact cache is used extensive for reporting purposes in our environment with  some inventories over 10K hosts.  A single job targetting 1 server with 'fact cache' enabled would generate about 2GB of facts from the database into the disk and memory. When we run multiple parallel jobs with fact cache enabled, we do eat up our memory and storage consumption pretty fast.

In our

[2022-03-29 16:33] dnguyen9 commented on #6807
From what I can tell, the database does a good job of storing our hosts table in memory and all subsequent calls are cached in memory so there wasn't a significant database penalty we saw. What we see as an issue are 1) the 2GB that we have to transfer between the DB and AWX node for each job that requires caching 2) the memory consumption since each job now holds a 2GB in memory as python diction

[2022-03-29 17:06] rebeccahhh commented on #11740
@CFSNM I'm writing API tests for this as well but the actual coding has been completed and can be tested.

[2022-03-29 17:10] #11807 closed, assigned to nobody

[2022-03-29 17:18] keithjgrant commented on #11818
closing as duplicate of #11765

[2022-03-29 17:18] #11818 closed, assigned to keithjgrant, akus062381

[2022-03-29 17:19] keithjgrant commented on #11647
closing as duplicate of #11765

[2022-03-29 17:19] #11647 closed, assigned to keithjgrant

[2022-03-29 17:21] keithjgrant commented on #11765
See also #11818 and #11647 for more discussion (closed as duplicates of this issue)

[2022-03-29 19:22] akus062381 commented on #11973
https://github.com/ansible/awx/issues/11969

[2022-03-29 20:26] akus062381 opened #11975 "Paginate modal view after modal cancel and reopen remains the same"
Situation:
User visits access tab inside of an Org, and goes to add a Team. The user paginates to the last page of the list of teams and then changes their mind, and clicks the cancel button.
Then they change their mind again and reopen the Add modal. They select Team. Instead of seeing the beginning of the list, like one would expect, the user is brought right back to the last page where they had

[2022-03-30 10:26] robinduerhager commented on #11765
I also wanted to confirm, that even appending the url just with `?job_output` leads to a functioning output in my case.
I tested out all workarounds provided in this thread. All workarounds provided behave the same way. Only excluding `?job_output...` leads to the censored output lines. The Animation displays the output according to using and not using the workarounds :).

![AWX_Output_Animation](

[2022-03-30 11:33] nicolaibaralmueller commented on #11892
No, not large. Maybe 10-20 lines. Did you delete the facts manually? Problem also is that the delete button is frozen. Can't click it again.

[2022-03-30 11:33] nicolaibaralmueller commented on #11892
How do I get those logs for the inv delete? @AlanCoding

[2022-03-30 12:54] tgoetheyn commented on #11521
hi @lshake ,
Did you manage to get this working?
I got the exact same problem.

If not, is there a Jira issue where I can follow the status?

[2022-03-30 13:01] Kori-San opened #11976 "[UI] ImportError: cannot import name 'soft_unicode' from 'markupsafe'"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello,

[2022-03-30 13:15] Kori-San commented on #11976
### Update :

I'm sorry, should've done that earlier but I've checked the version of 'markupsafe' inside of tools_awx_1 and it is in fact a version wich hasn't 'soft_unicode'.

![image](https://user-images.githubusercontent.com/62435513/160841258-09853235-aa03-4658-9050-d7de7e61c217.png)

### But know I'm wandering why is it pulling this version ?

### Temporary Fix you can use :
Enter this in '__

[2022-03-30 13:16] nixocio commented on #11959
The related PR was already merged.

[2022-03-30 13:16] #11959 closed, assigned to AlexSCorey

[2022-03-30 14:53] tgoetheyn commented on #11521
seems related to this issue: https://github.com/ansible/ansible-runner/issues/1024

[2022-03-30 15:43] jbradberry commented on #11976
I have reproduced this problem.  The issue is that, despite the pin of `markupsafe==1.1.1` in our requirements file, the setup.py file for jinja2 has a `install_requires=["MarkupSafe>=2.0"]`, which is apparently overriding that during install.  The markupsafe version has been bumped in devel as part of the Django upgrade, so I believe the next AWX release will fix the problem.

[2022-03-30 15:49] kladiv opened #11978 "AWX 19+: Schedule datepicker (calendar) strange behaviour: one day before"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello,

[2022-03-30 16:12] jbradberry commented on #11976
I should also point out that it is not just UI.  In my development environment, the awx tools container itself got caught in a loop of tracebacks.  I didn't even bother to try building the UI since the problem was already clearly expressing itself, and I was able (using `make docker-compose-test`) to get in and verify that a 2.x version of markupsafe was installed into the venv.

[2022-03-30 18:06] fosterseth commented on #11811
needs to be backported to 4.1 and 4.0

[2022-03-30 18:10] AlanCoding commented on #11892
you can grep the logs for "delete_inventory"

https://github.com/ansible/awx/blob/73e02e745aa3d76a43c75b25176bd9972cd82a26/awx/main/tasks/system.py#L796

It might have failed to run the task, or failed while in it. That will only happen once when the delete button was originally clicked. After that, the UI will be very annoying, not allowing you to try again.

[2022-03-30 20:07] AlanCoding opened #11982 "Cannot view some notification templates in UI"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I can v

[2022-03-30 20:21] AlanCoding commented on #11982
Same behavior if there is just 1 notification template in the system.

[2022-03-31 06:39] nicolaibaralmueller commented on #11892
Thx @AlanCoding. How do I grep the logs for "delete_inventory"?

[2022-03-31 08:09] Kori-San commented on #11976
Thanks for your answer and your tests!
Since the temporary fix described above works fine for now I'll use it while waiting for the next release.

Thanks again!

[2022-03-31 08:09] #11976 closed, assigned to nobody

[2022-03-31 11:22] anxstj opened #11984 "Filtering hosts by ansible facts doesn't work (anymore)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

The adv

[2022-03-31 13:13] nixocio commented on #11984
hey @anxstj, thanks for filing this issue. The ansible_facts search was updated.

Can you try selecting `ansible_facts` as key in the dropdown then adding the value that you want to search for in the value? For instance, search below was selected `ansible_facts` and value `ansible_distribution_release="Core"`.

<img width="1497" alt="image" src="https://user-images.githubusercontent.com/9053044/16

[2022-03-31 13:14] akus062381 commented on #5303
@shanemcd do you know if we can close this...?

[2022-03-31 13:15] akus062381 commented on #5303
https://github.com/ansible/awx/pull/11798

[2022-03-31 13:33] nixocio opened #11985 "Evaluate using host_filter when filtering/querying hosts to create smart inventory"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
@AlanCoding pointed out that the hosts endpoint also allows query using `host_filter`.

From the hosts endpoint

<img width="1203" alt="image" src="https://user-images.githubusercontent.com/9053044/161067053-e488c3b3-af9b-45ff-9374-2951d9be3569.png">

When we are querying/filtering hosts to display which ones match a specific search, we query the end

[2022-03-31 13:34] nixocio commented on #5513
May be related: https://github.com/ansible/awx/issues/11985

[2022-03-31 13:39] anxstj commented on #11984
Thanks, that works.

But adding two queries doesn't. Example:
`https://awx.example.com/#/hosts?host.host_filter=ansible_facts__ansible_distribution_major_version%3D%2211%22&host.host_filter=ansible_facts__ansible_distribution%3D%22Debian%22`
* key: ansible_facts; value: ansible_distribution_major_version="11"
* key: ansible_facts; value: ansible_distribution="Debian"

This results in:
[code]

[2022-03-31 13:44] nixocio commented on #11984
I believe search with multiple operators using ansible_facts is not yet implemented. ~There was an issue related. I will try to link here.~ I could not find a related issue.

[2022-03-31 13:58] nixocio commented on #11982
yeah, I was also able to recreate this one.

<img width="1323" alt="image" src="https://user-images.githubusercontent.com/9053044/161072870-63c1ca79-bc1e-4c16-b3df-272c2d21f3df.png">

[2022-03-31 14:53] okeyear opened #11986 "invalid argument "quay.io/awx/awx_devel:" for "-t, --tag" flag: invalid reference format"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When ex

[2022-03-31 14:58] chris93111 opened #11987 "Project status in jobs it's wrong"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hello

[2022-03-31 15:18] marshmalien commented on #11778
There is a way to filter by multiple labels in the current state of the UI, however we should make the search design more intuitively obvious. There are a couple of ways we could handle this. The first and simplest solution would be to add a hint via placeholder text whenever a user performs a fuzzy search on the labels key. A second and more complex solution would involve redesigning a portion of

[2022-03-31 15:55] AlanCoding commented on #11336
The title of #5692 is overly-broad, but the text is concerned with overlap with the `branch_override` feature. Respecting the overridden branch in inventory updates is expected to be controversial, and low priority in my book. I expect that the issue has attracted attention as users are assuming the broader scope.

This particular issue is outlining a very conservative plan, only concerned with in

[2022-03-31 16:35] #11203 closed, assigned to InnocentK, AlexSCorey

[2022-03-31 17:00] akus062381 commented on #11467
resolved

[2022-03-31 17:00] #11467 closed, assigned to AlexSCorey, akus062381

[2022-03-31 17:45] ammygill commented on #2240
+1 for this

[2022-03-31 18:22] AlanCoding commented on #10852
We removed auto-discovery entirely, so I'm closing this outright. FYI @jbradberry

[2022-03-31 18:22] #10852 closed, assigned to nobody

[2022-03-31 18:47] AlanCoding commented on #10678
Current numbers from https://github.com/ansible/awx/pull/11988

 - CI / api-test (pull_request) Successful in 7m
 - Label PR / Label PR (pull_request_target) Successful in 3s
 - CI / api-lint (pull_request) Successful in 1m
 - CI / api-swagger (pull_request) Successful in 4m
 - CI / awx-collection (pull_request) Successful in 2m
 - CI / api-schema (pull_request) Successful in 7m
 - CI / ui-lint (p

[2022-03-31 18:52] AlanCoding commented on #11423
Link https://github.com/ansible/awx/issues/7859

@ffirg we have added these workflow "prompt" fields one-by-one, and my argument is that it will take considerably less time to do a refactor where we have workflow prompts be at full parity with JT prompts.

[2022-03-31 18:55] AlanCoding commented on #11671
@kdelee did you fix this in your merges earlier this year?

[2022-03-31 18:56] AlanCoding commented on #11698
I really want to bump priority of this issue because it's such a clear problem with badly written save methods.

[2022-03-31 19:01] AlanCoding commented on #11888
Addressed by @shanemcd in https://github.com/ansible/awx/pull/11955

[2022-03-31 19:41] #8474 closed, assigned to marshmalien, akus062381

[2022-04-01 07:41] keliansb opened #11990 "Schedule not prompting for job or skip tags"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

When cr

[2022-04-01 11:50] chris93111 opened #11991 "project update hook fail with many jobs no playbook found"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hi

Wit

[2022-04-01 14:51] #11888 closed, assigned to shanemcd

[2022-04-01 15:48] cjsand opened #11992 "tower_inventory module throwing 'Connection refused' when controller_host not specified"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

_No res

[2022-04-01 17:06] john-westcott-iv opened #11994 "Display message for failed job with no events"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Recently we were troubleshooting an issue where a project update would start and then fail but no events were generated (because of how ansible runner was failing). The job event page would should the failed block with no output:
![image](https://user-images.githubusercontent.com/32551173/161309686-2cd59d7d-15f9-4191-9729-a86dfae75aba.png)

It would

[2022-04-01 17:07] AlanCoding commented on #11960
I felt very confident that PR 11955 addressed this, moving to Needs Test

[2022-04-01 17:23] fosterseth commented on #11987
@chris93111 what happens when you refresh the page, does the status change to failed on the job detail page?

also what does the `/api/v2/project_updates/{id}/` show for that project update? also what does `/api/v2/jobs/{id}/` for the job that was launched show?

[2022-04-01 17:35] fosterseth commented on #11978
Is the timezone of your local machine different from the one you are selecting (Europe/Rome)?

The detail page after saving may be converting the Rome time to your local time.

[2022-04-01 17:40] akus062381 commented on #11982
resolved

[2022-04-01 17:40] #11982 closed, assigned to nixocio, akus062381

[2022-04-01 17:47] akus062381 commented on #5303
confirmed with @john-westcott-iv, we are good to close this one

[2022-04-01 17:47] #5303 closed, assigned to Zokormazo, tvo318, sarabrajsingh, john-westcott-iv

[2022-04-01 17:58] fosterseth commented on #11967
refinement note: needs some discussion, and possibly move to unplanned

[2022-04-01 18:14] fosterseth commented on #11992
This is right. controller_host (or the controller_config_file) will need to be explicitly provided in this case https://docs.ansible.com/ansible/latest/collections/awx/awx/inventory_module.html#parameters

[2022-04-01 18:19] AlexSCorey opened #11995 "Failure to Delete workflow from Job List"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

It can

[2022-04-01 19:48] kladiv commented on #11978
Hi @fosterseth,
no it's not different.

Btw when a user select a Schedule date/time and a timezone, that selections should persist (and Detail page shows both timezone and date/time)

[2022-04-01 19:58] AlanCoding opened #11997 "[Scale] Introduce a single pattern for running periodic tasks in the _cluster_"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We have a few tasks that need to be ran on a periodic basis within the cluster. As the number of nodes in the cluster scales up, that becomes a problem because every node runs the periodic task on the same schedule. So the frequency of the task increases as the number of nodes increases. This increases overall system activity and network activity.

S

[2022-04-01 21:31] mabashian opened #11999 "Add help text popovers to /#/jobs details fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1384" alt="Screen Shot 2022-04-01 at 5 28 30 PM" src="https://user-images.githubusercontent.com/9889020/161343636-673336b7-36fc-4543-9cbb-e5ba599bf8e9.png">

None of the job details fields have help text popovers but I'm sure that many of them _could_.  I realized this when I was looking at https://github.com/ansible/awx/issues/346.  We c

[2022-04-01 21:33] mabashian commented on #346
part of this should be addressed by #11999

[2022-04-01 21:47] mabashian commented on #612
The second bullet is completed and is currently live in devel.  The other two have not been worked on.

[2022-04-02 11:03] costales opened #12000 "How to delete everything?"
Hi,

I would like to reset AWX to a fresh state (just as it's after installation, only Demo playbooks, etc), for study purposes. Is it possible?

Thanks in advance!

[2022-04-03 11:58] GuanRainy commented on #2495
perfect

[2022-04-04 07:55] lutin-malin commented on #11398
I'm also interested, use case is simply when you don't have access to source control to pull a project.
Thus spreading project is through a given artefact manager (let's say Nexus)
and AWX would get its project from a URL, pulling the project's archive stored in Nexus.

[2022-04-04 08:28] Jonathan-Caruana opened #12001 "DNS resolution works randomly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

_No res

[2022-04-04 12:35] perzizzle commented on #6807
I believe we are encountering this issue. We have ~6,500 hosts and noticed that if fact caching is enabled for a job template after launcing a job it would appear to spin for 1-2 minutes and then begin executing. If we disable fact caching, the jobs execute immediately.

[2022-04-04 13:48] gaugstein opened #12002 "Job template against dynamic inventory fails"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

A job t

[2022-04-04 16:01] Jonathan-Caruana commented on #12001
More details in verbose mode :

{
  "unreachable": true,
  "msg": "Failed to connect to the host via ssh: OpenSSH_8.0p1, OpenSSL 1.1.1k  FIPS 25 Mar 2021\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug3: /etc/ssh/ssh_config line 52: Including file /etc/ssh/ssh_config.d/05-redhat.conf depth 0\r\ndebug1: Reading configuration data /etc/ssh/ssh_config.d/05-redhat.conf\r\ndebug2: ch

[2022-04-04 17:03] akus062381 opened #12003 "Smart inventory for ansible_facts is not working as expected"
User tried the following searches, following are some searches and their results:
(first, change to Advanced search and key to ansible_facts)

1. Failed: ansible_facts__ansible_product_name=foo
2. Succeeded: ansible_product_name=foo
3. Failed: ansible_product_name=foo bar
4. Failed: ansible_product_name=”foo bar”
5. Failed: ansible_product_name=/”foo bar/’”
6. Failed: ansible_product_name=’foo bar

[2022-04-04 17:51] shanemcd commented on #12003
Is this the same as these?

- https://github.com/ansible/awx/issues/371
- https://github.com/ansible/awx/issues/8377

[2022-04-04 17:56] mabashian commented on #1506
Last updated is shown in the expanded row view so sorting by it would now be quite clunky.

[2022-04-04 17:56] #1506 closed, assigned to nobody

[2022-04-04 18:01] mabashian commented on #1524
There's no longer a max width on the custom logo, only a max height of 285px

[2022-04-04 18:01] #1524 closed, assigned to nobody

[2022-04-04 18:03] mabashian commented on #1697
#278 would probably be needed

[2022-04-04 18:17] mabashian commented on #1857
Not sure if this is possible without some help from the api

[2022-04-04 18:28] #2193 closed, assigned to nobody

[2022-04-04 18:35] mabashian commented on #2684
I believe this is a dupe of https://github.com/ansible/awx/issues/2421

[2022-04-04 18:35] #2684 closed, assigned to nobody

[2022-04-04 18:42] mabashian commented on #2912
I don't foresee a scenario where we pre-fill the inventory because inventory isn't a required field.  It could be prompted.  Playbook could be pre-filled though if there's only one available.

[2022-04-04 18:46] mabashian commented on #373
Closing in favor of the more generic https://github.com/ansible/awx/issues/3127

[2022-04-04 18:46] #373 closed, assigned to nobody

[2022-04-04 18:51] mabashian commented on #9235
Yes, dupe of #3348

[2022-04-04 18:51] #9235 closed, assigned to nobody

[2022-04-04 18:54] mabashian commented on #3436
<img width="1385" alt="Screen Shot 2022-04-04 at 2 53 28 PM" src="https://user-images.githubusercontent.com/9889020/161612349-c30de4c4-3f27-43b0-9008-0533e8abb292.png">

We've added this button to display the textarea in a larger window

[2022-04-04 18:54] #3436 closed, assigned to nobody

[2022-04-04 19:23] mabashian commented on #4867
We don't show this banner anymore and the logged in user seems to have the appropriate permissions to edit roles on the team so I'm gonna close this.

[2022-04-04 19:23] #4867 closed, assigned to nobody

[2022-04-04 19:24] #4947 closed, assigned to nobody

[2022-04-04 19:36] #6099 closed, assigned to nobody

[2022-04-04 19:39] mabashian commented on #6591
Dupe of https://github.com/ansible/awx/issues/1265

[2022-04-04 19:39] #6591 closed, assigned to nobody

[2022-04-04 20:08] akus062381 commented on #12003
https://github.com/ansible/awx/issues/7850
this issue will address 8-10 in the original issue

1-7 seems to be due to syntax issues or operator error. Closing this issue

[2022-04-04 20:08] #12003 closed, assigned to nobody

[2022-04-05 00:31] mabashian commented on #9074
We show the status differently now:

<img width="170" alt="Screen Shot 2022-04-04 at 8 31 27 PM" src="https://user-images.githubusercontent.com/9889020/161655257-85483308-a10a-4bb4-ba1d-bfbfb4b8ea4d.png">

I think we can close this

[2022-04-05 00:31] #9074 closed, assigned to nobody

[2022-04-05 07:29] MattW42 commented on #9501
I had the same issue as above.
Try specifying the namespace in the command.
In my case, I used "awx" as the installed namespace, and this command worked to get the secret.

`kubectl get secret --namespace awx awx-admin-password -o jsonpath="{.data.password}" | base64 --decode`

By default kubectl is looking in the 'default' namespace.
If your AWX install is in a different namespace you'll need to

[2022-04-05 10:16] YonatanGolick opened #12005 "Can't resolve module when using collection in manual SCM"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Hi guys

[2022-04-05 11:21] muldertbb commented on #12000
delete the .pgdocker dir and restart the awx.

[2022-04-05 14:06] DE110283 commented on #3769
+1

[2022-04-05 14:10] nixocio opened #12006 "Job details for Source Control Update shows inventory as deleted"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

Job det

[2022-04-05 15:44] mabashian commented on #9929
We don't show that nav when adding/editing an item anymore - closing

<img width="1670" alt="Screen Shot 2022-04-05 at 11 44 10 AM" src="https://user-images.githubusercontent.com/9889020/161793145-1485d127-5908-47c3-bce9-38afd6011e66.png">

[2022-04-05 15:44] #9929 closed, assigned to akus062381

[2022-04-05 15:48] mabashian commented on #10281
Looks like we created a follow up issue for https://github.com/ansible/awx/issues/10281#issuecomment-1068389526.  Can we close this @akus062381?

[2022-04-05 16:01] keithjgrant commented on #11629
#11944 is a big step in the right direction for performance on this page. It will take a little research to determine next steps

[2022-04-05 16:04] mabashian commented on #10419
Unfortunately the api doesn't allow for filtering the `unified_jobs` endpoint by `launched_by` at the moment.  If that were the case, this would become possible.

[2022-04-05 16:36] gitwrckd commented on #1179
+1

[2022-04-05 17:19] mabashian opened #12008 "Workflow job details shows erroneous fields"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

<img wi

[2022-04-05 17:28] nixocio commented on #12008
Very similar to https://github.com/ansible/awx/issues/12006

[2022-04-05 17:35] kialam opened #12010 "Research: Text matching for surveys"
##### SUMMARY

Related parent issue: #8097

Given: ~~API response is paginated~~, if a user has a survey question with over 200 choices, selecting from a single dropdown is tedious.

Research UX approaches to handle high number of paginated choices.

- Use type ahead?
- Debounce input value and query API for results?
- ??

[2022-04-05 17:48] akus062381 commented on #11713
resolved

[2022-04-05 17:48] #11713 closed, assigned to thenets, AlexSCorey, akus062381

[2022-04-05 17:49] john-westcott-iv commented on #12010
Option list items in survey specs are not currently paginated, they are a `\n` delineated field inside a json blob. Here is an example of a survey endpoint (`api/v2/job_templates/643/survey_spec/`) with a single choice list with 1000 items in it:

[code]

[2022-04-05 17:58] mabashian commented on #10976
@tvo318 I don't think we're going to take any actions here but this might be worth a line or two in the docs to explain this behavior and what the workaround is.

[2022-04-05 18:00] kialam commented on #12010
Nice, this simplifies things. I'll make changes to the original ticket - thanks for the correction @john-westcott-iv

[2022-04-05 18:00] mabashian commented on #11040
My view was removed some time ago

[2022-04-05 18:00] #11040 closed, assigned to nobody

[2022-04-05 18:01] mabashian commented on #11047
Judging by the comments here this looks like it can be closed

[2022-04-05 18:01] #11047 closed, assigned to nobody

[2022-04-05 18:05] mabashian commented on #11050
Unfortunately this isn't really how notifications work.  Notifications are defined on the organization level and can be toggled on/off for individual resources.  The only recourse we'd have at this point would be to give you a shortcut to creating a new notification from that list but you'd still have to go back and toggle it on.  I'll leave this open but I don't think we're likely to make this ch

[2022-04-05 18:31] mabashian commented on #11335
This would require #278

[2022-04-05 18:58] #1984 closed, assigned to nobody

[2022-04-05 18:58] #2246 closed, assigned to nobody

[2022-04-05 19:01] #2906 closed, assigned to nobody

[2022-04-05 19:01] #3142 closed, assigned to nobody

[2022-04-05 19:02] mabashian commented on #3364
Inventory scripts are gone

[2022-04-05 19:02] #3364 closed, assigned to nobody

[2022-04-05 19:04] #3687 closed, assigned to nobody

[2022-04-05 19:05] mabashian commented on #3699
Please re-open if this is still an issue on a more recent version of AWX

[2022-04-05 19:05] #3699 closed, assigned to nobody

[2022-04-05 19:12] mabashian commented on #3975
The UI was completely rewritten in 2020 and I believe this was addressed.  Please re-open if you still have concerns about a recent version of AWX.

[2022-04-05 19:12] #3975 closed, assigned to nobody

[2022-04-05 20:24] akus062381 opened #12011 "Only fetch child summary when job type is job"
This issue is a spin off from https://github.com/ansible/awx/pull/11944#pullrequestreview-932128826.
Due to being so close to code freeze, we decided to make this a separate issue to handle later.

Let's avoid calling this whenever the job.type is not job. The API returns a 404 response from /jobs/:id/job_events/children_summary whenever it is a project_update or system_job job.

![image](https://

[2022-04-05 20:43] akus062381 opened #12012 "Unit Test Expansion- Project List and Details View"
Meeting with Keith and Kia resulted in the following:
Create unit tests for:

- [ ] testing the row expand/collapse feature on Project List view
- [ ] testing functionality of the link to the last run job shown on the Project Details screen

[2022-04-05 20:54] #6397 closed, assigned to nobody

[2022-04-05 21:05] akus062381 opened #12013 "Unit test expansion- Project Schedules Tab"
This issue is coming as a result of meeting with Keith and Kia:

All standard unit tests are needed for Project schedules. This includes testing the schedule on/off toggle, as well as other unit tests that are normally written.

[2022-04-05 21:06] mabashian commented on #7373
It'd probably be cleaner to just have a checkbox on the schedule itself that says "Delete schedule after running" or something like that.  No need to create a whole new flow.  Seems like what you're asking for is an automated cleanup feature for schedules that will no longer run.  Perhaps this could be achieved with a system job that reaps schedules.

[2022-04-05 21:09] akus062381 opened #12014 "Unit Test Expansion- Inventory Groups Tab- Ad Hoc Command Wizard"
This issue is a result of meeting with Keith and Kia:

it regards the Ad Hoc Command wizard, reached by the following steps:

Go to inventory list. Click on an inventory.
Click on the Groups tab of the inventory.
Add a group.
Click the Run Command button. The wizard pops up.
Under module, there are several options. For each option that is selected, the information tooltip next to Arguments shows a

[2022-04-05 21:12] akus062381 opened #12015 "Research: Unit test expansion- verify JSON syntax in Variables Ace Editor"
Currently, there is a unit test to verify syntax for YAML in the variables ace editor.
There is no unit test for JSON syntax.
Research how difficult it would be to add this unit test.
If reasonable, add test.
If not, communicate with UI-QE so we can make sure we have coverage.

[2022-04-05 21:16] ForcedHero commented on #12001
I am having the same issue

[2022-04-05 21:35] mabashian commented on #8805
@yurtesen we've made a number of changes to the way the output works recently.  If this is still an issue please reopen.

[2022-04-05 21:35] #8805 closed, assigned to nobody

[2022-04-05 21:38] mabashian commented on #8827
yea #9281 addresses this

[2022-04-05 21:38] #8827 closed, assigned to nobody

[2022-04-05 21:43] mabashian commented on #9031
Now that execution environments are available I'd recommend going down that route to support this functionality.

[2022-04-05 21:43] #9031 closed, assigned to nobody

[2022-04-05 21:55] mabashian commented on #9525
I just tried this out in `devel` and wasn't reproducing the overwriting behavior.  Can you try in v20+?  If you're still seeing this behavior please reopen.

[2022-04-05 21:55] #9525 closed, assigned to nobody

[2022-04-05 22:03] mabashian commented on #10107
@samalv if this is still an issue please re-open

[2022-04-05 22:03] #10107 closed, assigned to nobody

[2022-04-05 22:05] mabashian commented on #10189
@jbradberry since that fix merged I'm gonna close this

[2022-04-05 22:05] #10189 closed, assigned to nobody

[2022-04-06 13:05] Jonathan-Caruana commented on #12001
@ForcedHero I will try to install an old version of AWX to see if this behaviour exist or not.

[2022-04-06 13:19] stoleas commented on #6682
A very large FSI customer referred me to this issue mid-2021 as something that they wish they had. I'm also working with another large institution who referred me here on 4/5/2022 as their orchestration engine will need this capability.

[2022-04-06 14:36] Jonathan-Caruana commented on #12001
tried with awx-operator 0.15.0 who it deployed AWX 19.5.0 and this issue is still there.

For now, i don't have any clue to how resolv this. I keep trying.

If @shanemcd or maybe @AlanCoding have any ideas :)

[2022-04-06 15:53] felipe4334 commented on #11484
@shanemcd please can you revisit this?

[2022-04-06 16:20] anasaizg commented on #3249
Hi

Just wanted to add that one of my customers has detected this as a need, too, and hasn't still be solved by AWX version 20. They are getting a password from a CyberArk vault and want it to be passed to the next job templates in a workflow, so the best solution would be to make a set_stats for it, because otherwise they will have to ask the vault for the password in every job template, which in

[2022-04-06 16:31] cjsand commented on #11992
Thanks @fosterseth for your response. I will work with the end user to test.

[2022-04-06 16:31] #11992 closed, assigned to nobody

[2022-04-06 16:37] kurokobo commented on #12001
I believe this is not AWX issue but totally your minikube/kubernetes/Docker/OS issue. AWX did nothing special about name resolution.

You should start investigation by digging into the pod and check resolv.conf inside the pod, DNS configuration for your Docker and your host OS.
Refer K8s guide: https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

[2022-04-06 17:15] InnocentK commented on #11765
Resolved

[2022-04-06 17:15] #11765 closed, assigned to keithjgrant, fosterseth, InnocentK, akus062381

[2022-04-06 18:10] kdelee commented on #11526
linking to  the pod deletion cost KEP-2255 which is what we need for autoscale DOWN https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2255-pod-cost

[2022-04-06 20:49] marshmalien opened #12018 "Lookup modal selection triggers form value changes before hitting "Save""
### Summary

The lookup modal updates the form field value any time the user selects a list item from within the modal. The form value _should_ only change after the user hits "Save". There appears to be some two-way binding at play here.

Known lookups affected: Organization, Project, Inventory, Execution Environment, Application, and Credential
Lookups not affected: Multi-Credentials and Instanc

[2022-04-06 20:49] mabashian commented on #10895
There have been a number of changes to this area of the codebase in the past 9 months.  Give it a try with v20 and if you're still seeing this behavior, reopen or create a new issue.

[2022-04-06 20:49] #10895 closed, assigned to nobody

[2022-04-06 21:47] sepiaops commented on #9151
This solved the issue for me too..

[2022-04-07 00:33] mabashian commented on #11357
It's not really the same thing but using labels sort of gets you there.  You could filter the list by a particular label to get the effect of a folder.

[2022-04-07 00:35] mabashian commented on #11390
@shanemcd can we close this one?

[2022-04-07 00:39] mabashian commented on #11419
@AlanCoding I see a linked PR here - can we close this one?

[2022-04-07 00:40] mabashian commented on #11419
Disregard - that was a dupe issue not a linked PR.  My mistake.

[2022-04-07 06:23] SergiuSofroni commented on #6213
Why this has to be created in both awx_web and awx_task??? This solved our issue on this matter, but it was not clear from beginning... We found this post after struggling with this for almost 3 days etc.. :|

[2022-04-07 09:17] Jonathan-Caruana commented on #12001
Hi @kurokobo

The local OS doesn't have any DNS resolution issue and i just followed the instruction to deploy awx app step by step without any modifications.

When in doubt I still tried to debug following the link you provided and nothing appear to be missing or missconfigured.

Regards

[2022-04-07 10:45] GBBMER1 commented on #7307
Same issue, anyone manage to solve this?

[2022-04-07 11:03] chris93111 commented on #11987
Hi @fosterseth, sorry for the response time, the api api/v2/project_updates/451799/ return is good the job is failed
[code]

and the api api/v2/jobs/451798/

[code]

i thinks the ui return the status of last update project /api/v2/project_updates/451548/
on api/v2/projects/12
[code]

[2022-04-07 11:51] shanemcd commented on #5209
We do not have a budget for purchasing licenses to test and support integrations with enterprise software. Maybe if Atlassian wanted to hook us up we could consider it? But I find it morally questionable they chose to withhold a critical security feature from their cloud-based offering.

[2022-04-07 13:22] kdelee opened #12019 "Consider task impact/resource requests for container group jobs on a per job basis"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Right now when a container group job is created, we generate a pod spec based on the pod spec in the ContainerGroup. All jobs get the same resource requests/limits as is defined on the ContainerGroup podspec regardless of the calculated "task_impact" of the job.

Users can try and work around this by creating different container groups with differen

[2022-04-07 14:18] mabashian commented on #11600
@tvo318 can we close this one?

[2022-04-07 14:22] #11657 closed, assigned to nobody

[2022-04-07 14:56] #11901 closed, assigned to nobody

[2022-04-07 15:14] mabashian commented on #12000
You'll probably have better luck with the mailing list or IRC for these types of questions.  Issues are reserved for tracking feature requests, bugs, etc.

[2022-04-07 15:14] #12000 closed, assigned to nobody

[2022-04-07 15:59] jbouse commented on #9567
I'm seeing similar `502` errors with AWX 20.1.0 but on the `job_events` page... Same `502` error just different URI. Tracing the `awx-web` container in the pod I see the following:

[code]

At the time of the error I was simply trying to load the output of a job that reported state of `Error`. In this particular case it's the `Playbook Run` from a `Workflow Job` where the workflow reports `Failed`

[2022-04-07 19:43] philipsd6 commented on #5209
Atlassian has (currently) only chosen to support IP allow lists, so at least they are supporting reducing the attack surface. I and others have encouraged Atlassian to support signed webhooks. But @shanemcd, I respectfully disagree with the decision here for BitBucket, for the following reasons:

1. BitBucket Server/DataCenter supports them -- and you can rely on me (and likely others here) to imp

[2022-04-07 22:47] akus062381 commented on #10281
@mabashian yes thank you!

[2022-04-07 22:47] #10281 closed, assigned to akus062381

[2022-04-08 07:29] #12001 closed, assigned to nobody

[2022-04-08 10:00] anxstj opened #12023 "ERROR! Invalid callback for stdout specified: awx_display"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Summary

I tried

[2022-04-08 11:53] shanemcd commented on #12023
I think you need a newer version of ansible-runner. Try going in and flipping your EE to "always" pull to see if it fixes your problem. And if you've built any custom EEs, make sure you are building on top of the latest image.

[2022-04-08 12:36] sllabymkcusicelcric opened #12024 "My not-so-great experience of working with awx"
This might be old. I haven't looked into awx for quite some time, and we are looking forward to moving to an entirely different solution.

And sorry for that, my list below might be a bit toxic, I can't really tell. I know there are a lot of people who are putting a lot of time into this (just like with any other project), and that there are probably reasons why it was this way.

I was basically l

[2022-04-08 13:37] anxstj commented on #12023
The controlplane queue was created with the start of the 20.1.0 AWX container as was the control plane execution environment which had quay.io/ansible/awx-ee:latest as image. And it pulled an image from yesterday (id 4ad3463f41ee). The same as the staging environment used.

[2022-04-08 14:20] shanemcd commented on #12024
Hi. I'm sorry to hear you've had a negative experience with AWX. I can see you are upset and I understand it can be frustrating when things dont work.

There's quite a lot to unpack here. First, for your upgrade problems. Versions 2 and 4 are several years old at this point. AWX is a fast moving project, and our team is small. We do not have the resources to test every permutation of possible upgr

[2022-04-08 14:20] #12024 closed, assigned to nobody

[2022-04-08 14:29] apiening opened #12025 "Unable to sync projects"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After a successful deployment, I can log into the AWX instance.
When I go to **Resources / Projects** and click on `Sync Project` for the `Demo Project` it fails after a while with the message:
**Failed to connect to github.com port 443: Connection timed out**

##### ENVIRONMENT
* AWX version: 20.1.0
* Operator version: 0.20.0
* Kubernetes version: v1.

[2022-04-08 14:34] shanemcd commented on #12025
Hmm. Maybe a docker networking issue? Not sure which container runtime is used in your k3s setup. I see this sometimes on my local system and fix it by restarting the docker service. FWIW I have not heard any other reports of this lately.

[2022-04-08 14:55] AlanCoding commented on #11338
Also see some good quality research in the ansible-runner issue https://github.com/ansible/ansible-runner/issues/998

This is particularly a problem for inventory updates that produce large inventories, because the archive of the artifacts necessarily has to be large, and the way that is sent requires precise byte alignment or else it won't work.

Trying to think of where / how a patch might be de

[2022-04-08 15:57] shanemcd commented on #5209
@philipsd6 Well thank you for being respectful about it. 😄  I am not sure how I missed your comment above, I apologize. I just looked in the bitbucket cloud documentation and do not see anything in the payload similar to `HTTP_X_GITLAB_TOKEN`. Did I miss something?

If you are willing to send a PR that implements your proposal we'll give it an honest review and consideration. We also have someone

[2022-04-08 16:50] philipsd6 commented on #5209
No @shanemcd, you definitely didn't miss anything! What I was saying was that one _could_ have the webhook url be `https://awx.mysite.net/api/v2/job_templates/1/bitbucket/?token=b0e37dd0-b759-11ec-b14b-bb12b88566fd` and then AWX would compare that token to the webhook key, same as it does for GitLab. That's obviously less user-friendly than we would like, but AFAIK is equally as secure as doing th

[2022-04-08 17:35] shanemcd commented on #12023
Did you try to set the EE to always? Just because you are using the latest tag does not mean it will always pull from the registry. The "latest" image on-disk may be old. This is not pulled internally by AWX, the image lives on the underlying nod.

[2022-04-08 17:36] akus062381 commented on #12002
Will you please provide the inventory source file?

[2022-04-08 17:37] shanemcd commented on #12023
Maybe also try `image_pull_policy: Always` at the CR level https://github.com/ansible/awx-operator#deploying-a-specific-version-of-awx

[2022-04-08 17:42] shanemcd commented on #11986
Hello,

What this tells me is that you dont have git installed, or there was some other issue when it tried to run that `git rev-parse` command.

This issue tracker is for tracking feature enhancements and bugs. If you need help troubleshooting or are looking for help using AWX, try our mailing list or IRC channel:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-p

[2022-04-08 17:42] #11986 closed, assigned to nobody

[2022-04-08 17:42] AlanCoding commented on #11948
This depends on which execution environment you use. Different jobs can use different Ansible versions.

[2022-04-08 17:42] #11984 closed, assigned to nobody

[2022-04-08 17:54] akus062381 commented on #11962
We aren't seeing this on the latest version of devel; it might have been an intermittent issue with the Cent-OS image. If you are still seeing this issue, please send a message to the mailing list and we can reopen this.
Reference:
#ansible-awx on[ https://libera.chat/](https://libera.chat/)
https://groups.google.com/forum/#!forum/awx-project

[2022-04-08 17:54] #11962 closed, assigned to nobody

[2022-04-08 18:00] #11948 closed, assigned to nobody

[2022-04-08 18:08] jbradberry commented on #6281
The Django upgrade has merged, and thus will roll out the door for the next release(s).

PR: https://github.com/ansible/awx/pull/11654

[2022-04-08 18:08] #6281 closed, assigned to nobody

[2022-04-08 18:09] john-westcott-iv commented on #12005
Right now, the processing of `collections/requirements.yml` happens only on a project sync. If you are using a manual project, there is no project sync happening. For now, for a manual project, you can either package up an execution environment which includes the collection you want and then run your job template with that execution environment. Or you can manually install the collection in the pr

[2022-04-08 18:15] akus062381 commented on #11778
@xenorites were you using advanced search for your original query?

[2022-04-08 18:32] nixocio commented on #11984
Here: https://github.com/ansible/awx/issues/7850

[2022-04-08 19:12] #12006 closed, assigned to nixocio, akus062381, jay-steurer

[2022-04-08 20:07] thenets opened #12027 "awxkit: Add functions to add/remove labels"
Would be nice to have functions to add/remove labels.
It's not simple to add and remove labels from other resources, like the `inventory`.

The current solution that I found requires the following steps:

[code]

I believe that we should have a very simple way to add and remove labels like this:

[code]

[2022-04-08 20:12] gaugstein commented on #12002
Here is the short version for testing:
[code]