[2022-08-18 18:04] TheRealHaoLiu opened #12690 "improve job launch failed error when due to content signature validation failure"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-08-18 18:04] TheRealHaoLiu opened #12691 "enable content signature validation for all SCM types"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-08-18 18:25] AlanCoding commented on #12645
Link WIP potential fix, or part of potential fix https://github.com/ansible/awx/pull/12653

[2022-08-19 08:14] zooterspin commented on #12193
Pretty new to Linux as well as awx! Just trying to setup a lab! AWX version is 21.4.0! I followed the procedure for local docker migration and I can see all containers up and running but cant login to the UI!
I am not sure what is the username and password, when I tried to use the one I had for version 17.1.0 it fails.
tools_awx_1     | 10.65.22.37 GET / - HTTP/1.1 200
tools_awx_1     | 10.65.22.3

[2022-08-19 08:56] mooky31 commented on #7010
Hello,

preserve_existing_groups et preserve_existing_hosts doesn't work if there are too many children, due to the API fragmeting responses.
This can be solved with:

[code]

[2022-08-19 11:09] PB1899 opened #12696 "Survey fields can't be updated on UI if created via the API"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Sur

[2022-08-19 17:34] jay-steurer commented on #12678
PR is merged. Verified by QE. Closing it

[2022-08-19 17:34] #12678 closed, assigned to TheRealHaoLiu, jay-steurer

[2022-08-19 18:14] keithjgrant commented on #6815
closing as duplicate of #12542

[2022-08-19 18:14] #6815 closed, assigned to keithjgrant

[2022-08-19 20:36] fosterseth commented on #12644
| This got us the exact offending query,

would you be able to get us that query? @fust

also wondering if same issue can be replicated by hitting the `api/v2/jobs/<jobid>/job_events/children_summary/` endpoint -- this endpoint will _attempt_ to load in some of the data for each event produced by that job. There is currently no cap on how much data it will attempt to load, and might be a cause of

[2022-08-22 10:40] Zokormazo opened #12710 "Worker failed to run task awx.main.scheduler.tasks.workflow_manager"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

wor

[2022-08-22 11:07] auracz commented on #11805
exactly same issue
![image](https://user-images.githubusercontent.com/77057370/185906995-121fe62f-6c8e-4109-852e-3993007ab4c1.png)

[2022-08-22 11:39] marcoatenway opened #12711 "ansible_check_mode not set in check mode"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

acc

[2022-08-22 13:16] aheath1992 opened #12712 "Jobs not acknowledging global timeout"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Job

[2022-08-22 14:07] #11450 closed, assigned to jay-steurer

[2022-08-22 18:35] AlexSCorey opened #12715 "Update PF to bring in new styling on dropdown"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

See

[2022-08-22 20:39] fosterseth commented on #12644
doing some local testing

1. start dev containers with 1 uwsgi process
2. create job with 2 million events
3. monitor uwsgi process memory usage using py_mem.py
4. hit the `api/v2/jobs/12/job_events/children_summary/` endpoint

I can see uwsgi process spike up to 1.9 Gb memory usage

So if you have large number of events for a job, and multiple users (or even a single user refreshing the job outpu

[2022-08-22 20:49] wtmthethird commented on #12644
We're seeing this same behavior with 21.2.0 as well, and also only on jobs that enter an "ERROR" state. Other jobs, even with large outputs/task, display correctly, albeit slowly.

However, a user viewing a job's output that is in an "ERROR" state crashes the awx-p-web container, I've seen 5gb+ be requested before it OOMs.

We're running in GKE, and we're using cloud sql. In the pgsql logs (we hav

[2022-08-22 23:39] snehalpdev commented on #7521
@Raghavsfeb03  I have the same issue with scheduling the job for the job templates that has survey questions enabled. I am using AWX 17.1.0. Is your issue resolved? if yes, can you share details please.

[2022-08-23 01:03] Raghavsfeb03 commented on #7521
Hi,
this bug is not fixed at all.
Try developing your own scripts to get the schedule enabled.

On Tue, Aug 23, 2022 at 5:10 AM snehalpdev ***@***.***> wrote:

[2022-08-23 05:48] fust commented on #12644
I've had to search for a bit to find the query, we haven't seen any of these issues as of late.
That might be because I've been hunting down and fixing all sorts of things to minimize the number of failing jobs.
As @wtmthethird stated it seems to be triggered on failed jobs alone.

The relevent part from the PostgreSQL log is this:
[code]

As you can see the uWSGI process crashes during retreival

[2022-08-23 06:49] 2and3makes23 commented on #12644
@fosterseth

We will try that as soon as we hit another error-state job.
Or, if you could shed some light on how to provoke a large amount of events in a playbook, we are happy to try that as well.

[2022-08-23 07:39] sevko21 commented on #12345
@solomonchu30 unfortunately I dont have a solution yet

[2022-08-23 09:06] azrdev commented on #12571
I also see these duplicate project syncs on AWX 21.1.

~~Moreover, the playbook run seems to use the synced code from the *wrong* one, i.e. without the overridden branch: I'm adding a requirements.yml to use the community.general collection  on my feature branch, which is correctly installed (only) in the hidden project sync, and the playbook fails with `couldn't resolve module/action`.~~

Edit: n

[2022-08-23 10:13] db0 opened #12720 "The inventory passed for the node of a workflow schema is ignored when using workflow_job_template."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-08-23 11:45] apollo13 commented on #8553
I am in the same situation as @zendritic. We have some custom plugins that gets some secret key via an environment variable (in this case SOPS_AGE_KEY from https://github.com/mozilla/sops) and would very much like to supply this via a credential with prompt on launch.

[2022-08-23 12:22] CFSNM commented on #12471
Validated from QE side.

[2022-08-23 12:22] #12471 closed, assigned to AlanCoding, CFSNM

[2022-08-23 18:38] mtward commented on #11605
This bug removed 80 hosts from a group causing configuration issues for our hosts.  Please consider correcting.  I am reproducing this accidentally and now on purpose with Ansible core 2.12.6, AWX  21.2.0, and the awx.awx collection 21.4.0

[2022-08-23 19:02] jay-steurer opened #12723 "Translate Strings OIDC Provider"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

We

[2022-08-24 14:08] john-westcott-iv commented on #6134
https://github.com/ansible/awx/pull/12728

[2022-08-24 14:36] rdancel001 opened #12729 "SAML Auth reverts "Admin" users to "Normal" users"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

_No

[2022-08-24 17:11] john-westcott-iv commented on #12729
Hello, this issue should have been addressed in v 21.4.0 with the commits from https://github.com/ansible/awx/pull/12522.
This introduced additional settings to the SAML user attribute map one of which is `remove_superusers`. Please try setting that too False and see if the system_admin flag stops being removed.

[2022-08-24 17:14] fosterseth commented on #12723
triage note: we should to check that these are being marked for translation

[2022-08-24 17:25] cfawcett82 opened #12730 "Add new optional variable to inventory_source called "update_on_project_launch" to match available UI options"
##### ISSUE TYPE
 - New or Enhanced Feature

##### COMPONENT NAME

 - Collection

##### SUMMARY
awx.awx.inventory_source is missing optional variable for "update on project update"

##### ENVIRONMENT
* AWX version: 21.4.0
* AWX install method: operator, developer environment
* AWX deployment target: openshift, kubernetes, minikube
* Operating System: rhel 8.6+
* Web Browser: chrome

##### STEPS TO

[2022-08-24 17:36] mabashian commented on #12712
@aheath1992 thanks for reporting this.  I see you mentioned Controller/AAP.  This bug tracker is for reporting issues in the open source AWX project, not Red Hat Ansible Controller/AAP. If you need help troubleshooting Controller/AAP, you should reach out to Red Hat support.

[2022-08-24 17:47] fosterseth commented on #12683
@klauserber how long does your system stay up before getting into this bad state? Do you see evidence that awx is connecting to db at all during this time?

[2022-08-24 17:51] mabashian commented on #12696
@PB1899  thanks for reporting this. I see you mentioned Controller/AAP. This bug tracker is for reporting issues in the open source AWX project, not Red Hat Ansible Controller/AAP. If you need help troubleshooting Controller/AAP, you should reach out to Red Hat support.

That being said - https://github.com/ansible/awx/pull/12038 should address this issue.

[2022-08-24 17:51] #12696 closed, assigned to nobody

[2022-08-24 17:52] mabashian commented on #12688
@aheath1992 thanks for reporting this. I see you mentioned Controller/AAP. This bug tracker is for reporting issues in the open source AWX project, not Red Hat Ansible Controller/AAP. If you need help troubleshooting Controller/AAP, you should reach out to Red Hat support.

[2022-08-24 17:52] #12688 closed, assigned to nobody

[2022-08-24 17:52] #12712 closed, assigned to nobody

[2022-08-24 17:55] aheath1992 commented on #12712
@mabashian Red Hat support and the Ansible/Automation platform product owners asked us to open issues in the upstream AWX project at this time.

[2022-08-24 17:55] aheath1992 commented on #12688
@mabashian Red Hat support and the Ansible/Automation platform product owners asked us to open issues in the upstream AWX project at this time.

[2022-08-24 18:00] fosterseth commented on #12675
want to make sure this isn't an issue before sending off for translations

[2022-08-24 18:08] rooftopcellist commented on #12675
We override it when called by translation automation.  So it hasn't really been an issue when pushing strings.  Here is a PR to fix the make target so it works out of the box.  The lang ref was just wrong.

https://github.com/ansible/awx/pull/12731

[2022-08-24 18:24] AlexSCorey commented on #12675
@TheRealHaoLiu This may be a make target to remove.  Sounds like tower-packaging doesn't use it.  I'm not aware of others that use it, but we'd want to confirm that before removing it.

[2022-08-24 19:36] jay-steurer commented on #12723
Strings are going to be updated in 3 weeks. A few strings are marked for translation. I will be tracking this issue to check the it in the future.

[2022-08-24 20:35] rooftopcellist commented on #12675
@AlexSCorey it is used here https://github.com/ansible/awx/blob/9f8b3948e1aad75620bec818f1965b1bb1acbf6e/tools/scripts/l18n/pre_translation.sh#L5

we need to keep the make target.

[2022-08-25 08:16] CC-Kuoying opened #12737 "Is it posibble install AWX on podman-compose?"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

_No

[2022-08-25 08:26] robb-82 commented on #6140
Hi - i'm seeing a similar issue.

We use custom Ansible facts to populate smart inventories in AWX. This works fine up to AWX 17.1.0, but facts seem to disappear (the smart inventories keep emptying) in any version since using K8s. Currently I have version 21.4.0.

I can run a job to collect facts, and the smart inventories look good. After what seems like a random time (sometimes minutes, other t

[2022-08-25 08:28] robb-82 commented on #6140
Fyi, this is also raised here: https://groups.google.com/g/awx-project/c/1y9D3euTXDU

[2022-08-25 14:15] djyasin commented on #12687
https://github.com/ansible/awx/pull/12695

[2022-08-25 14:20] TheRealHaoLiu opened #12739 "enable health check to be run for remote execution node on kube deployment"
## Summary
currently health check relies on the awx web process to be able to use receptorctl to connect to the receptor mesh to initiate a healthcheck for the remote execution node

in kubernetes deployment the receptor socket is not mounted into the awx-web container and health check will never be successful

while we work on allowing use to add remote execution node to the kubernetes deployment

[2022-08-25 16:31] shanemcd opened #12740 ""could not reach dispatcher" errors when canceling jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I n

[2022-08-25 17:06] shanemcd commented on #12740
It seems like this was problem introduced in https://github.com/ansible/awx/pull/12573

Here is what I've learned so far:

`get_autocommit` here returns `False`:

https://github.com/ansible/awx/blob/4fbf5e9e2f377ba2c419beb588c72eb26b77bf24/awx/main/dispatch/__init__.py#L34

But if you look at `self.conn.autocommit`, it returns `True`

So the first thing I tried was:

[code]

But that now causes:

[2022-08-25 17:08] mtward commented on #11605
Created https://github.com/ansible/awx/pull/12724 with the extremely simple fix proposed by [nunziolariviera] after testing it.

[2022-08-25 17:18] shanemcd commented on #12740
I put up that PR to revert the broken code ^

I get what you were trying to do there, but it seemed like it wasn't directly related to the thing you were trying to fix in https://github.com/ansible/awx/pull/12573. Can we go ahead and fix this bug and deal with the number of database connections in https://github.com/ansible/awx/pull/11745 or as a separate effort?

[2022-08-25 17:56] rooftopcellist commented on #12675
Fixed in linked PR.

[2022-08-25 17:56] #12675 closed, assigned to rooftopcellist

[2022-08-25 18:37] keithjgrant opened #12742 "Research: Evaluate PF Code Editor component"
##### ISSUE TYPE
 - New or Enhanced Feature

##### COMPONENT NAME
 - UI

##### SUMMARY

Patternfly has a new Code Editor component. Evaluate whether it meets all our needs and can be used in place of the current Ace Editor components.

[2022-08-25 19:20] kdelee opened #12743 "fix api/v2/metrics consumed capacity calcualtion to match how we do it elsewhere"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

We

[2022-08-26 01:47] venkatasykam commented on #12664
Any idea on this please?

[2022-08-26 05:00] sfhl opened #12746 "[21.x/22.x] long running Jobs, respectively jobs take forever to start execution"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

SIn

[2022-08-26 05:36] aniketpawar1305 opened #12747 "ModuleNotFoundError: No module named 'packaging' with latest docker image"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hel

[2022-08-26 06:49] tovoro commented on #11879
For me, changing Proxmox CPU to "Host" doesnt seem to help either. Does that mean my host CPU doesnt support this and I can stop trying to install AWX on that machine?

[2022-08-26 06:53] amg-web commented on #11879
@tovoro 19.5 should work

[2022-08-26 07:11] fust commented on #12644
@fosterseth
We had a job triggering this error today so I checked.
Unfortunately adding `?x=` to the job output still gives us the 502 error.

[2022-08-26 07:49] tovoro commented on #11879
Im sorry, I started again, checked out 0.19.0 and still get the same error..
Im on Debian 11 and follow [this guide](https://computingforgeeks.com/how-to-install-ansible-awx-on-debian-buster/) to install

[2022-08-26 09:28] amg-web commented on #11879
@tovoro which tag did you use for awx operator?
each awx operator version installs specific version of awx
tag of awx-oprator [0.16.1](https://github.com/ansible/awx-operator/releases/tag/0.16.1) is for awx 19.5

[2022-08-26 09:56] avalou opened #12748 ""scm_type" field missing in exported projects"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

So

[2022-08-26 10:02] jheinitz commented on #12644
We are running AWX version `21.1.0` and we see the memory footprint increasing. We are running all AWX on a single node k3s cluster and the 16GB memory was not enough. Looking forward to get a fix or workaround for this.

[2022-08-26 12:16] backaf commented on #11805
Same issue here. Upgraded to the latest AWX version this morning but it still occurs. Use case is running restic prune commands which take a long time to complete.

Env:
* on-prem k8s 1.23.5
* awx operator 0.28.0
* awx 21.5.0

[2022-08-26 14:42] danxg87 opened #12750 "Artifacts not being set/persisted from AWX job_template runs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-08-26 14:55] AlexSCorey opened #12752 "Schedule validation message not helpful"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Val

[2022-08-26 15:23] avalou commented on #12748
So I actually found the source of the issue, and a way to solve it.
Turns out the command `awx export` did not add the field `"scm_type": "git"` as it were supposed to. So I just added it via a Vim substitution to every projects in the file.
[code]

[2022-08-26 18:24] keithjgrant opened #12756 "Job output: clear "follow mode" flag on search"
##### ISSUE TYPE
 - Bug, Docs Fix or other nominal change

##### COMPONENT NAME
 - UI

##### SUMMARY
the job output screen sometimes jumps to the bottom of output when searching/clearing a search. This is probably due to the 'follow mode' flag being left on -- this flag should be cleared when the query params change

![cnO0PzoKD1](https://user-images.githubusercontent.com/410794/186968182-f2fca56f

[2022-08-27 06:52] relrod opened #12761 "[api] Confusing error when trying to sync project set to scm_type Manual"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Cre

[2022-08-28 10:44] MalfuncEddie commented on #12750
Hi,

I had a similar issue with facts/ inventory artifacts. It was (in my case) a wrong ansible-runner version. (check out https://github.com/ansible/ansible-runner/pull/1093)

[2022-08-28 20:59] sean-m-sullivan commented on #12720
Can you post the schema you are using with the inputs, would help to recreate this and figure it out.

[2022-08-29 05:26] klauserber commented on #12683
@fosterseth We have seen this several times after the System was up for a few days. We have only test workloads on the system at the Moment, about 50-100 Jobs per day.

[2022-08-29 08:38] jangel97 commented on #12662
Hi,
We are seeing this also for jobs. When this happens, the dispatcher reports that the job is running, the remote work unit exists and the container also exists on the exec node. But for some reason, the container is sitting there and not progressing, stdout remains the same for hours.
Any updates? Any information we can provide that could be helpful?
Kind regards,

[2022-08-29 08:38] ronrem opened #12763 "tower_workflow_job_template_node fails on extra_data option"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Wit

[2022-08-29 10:13] DaDenniX commented on #12685
Issue still present in 21.5.0

[2022-08-29 10:34] db0 commented on #12720
@sean-m-sullivan , I've already fixed it. See the linked PR.

[2022-08-29 11:32] azrdev opened #12764 "Launch Job: take previous Job-ID argument, pre-fill questions (esp. Survey) from previous Job"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-08-29 12:00] CC-Kuoying opened #12765 "Can awx/tools/docker-compose/inventory setting project_data_dir??"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I'd

[2022-08-29 14:04] sean-m-sullivan commented on #12720
Sorry, I think I missed that last night, going over this, I am not sure how I missed this in the previous iteration. Thanks.

[2022-08-29 14:40] jangel97 opened #12767 "Cant remove scm credential in project"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hi,

[2022-08-29 15:17] JERUSO opened #12768 "Error running playbook migrate.yml TASK [sources : Render Docker-Compose] 'execution_node_count' is undefined"
##### ISSUE TYPE

 - Bug, Docs Fix or other nominal change

##### COMPONENT NAME

 - API
 - UI
 - Collection
 - Docs
 - CLI
 - Other --> execute playbook migrate.yml

##### SUMMARY

Error to migrated AWX v17.x to 18.x

When executing the migrate.yml in the Render Docker-Compose task, the following error is presented.

TASK [sources : Render Docker-Compose] *****************************************

[2022-08-29 16:17] AlanCoding commented on #12740
It's fine generally, it just happens to conflict with certain things that we do. For task _notifiers_ there's no problem. For task _listeners_ we have reasons that it doesn't work for us:

 - The dispatcher main process listens for new tasks, but closes its db connection when forking, `self.pool.up()`. You obviously can't use the existing connection to listen persistently when you close it frequen

[2022-08-29 16:26] kerukulla commented on #12409
hello team, Can we have an update here please? if the issue is fixed or not?

[2022-08-29 19:33] shanemcd commented on #12740
This seems to conflict with what it says here: https://www.psycopg.org/docs/advanced.html?highlight=autocommit

"Because of the way sessions interact with notifications (see [NOTIFY](https://www.postgresql.org/docs/current/static/sql-notify.html) documentation), you should keep the connection in [autocommit](https://www.psycopg.org/docs/connection.html#connection.autocommit) mode if you wish to re

[2022-08-29 20:01] AlanCoding commented on #12740
Acknowledged about the warning, and I'm ok with this. Because our prior solution to this problem was to put the NOTIFY actions in Django on_commit methods, which was less timely than doing it in the transaction. For a demonstration case, say the task manager takes 1 minute to run. A job is dispatched at the 30 second mark. It would take 30 seconds before the NOTIFY is received by another client. T

[2022-08-29 20:18] AlanCoding opened #12776 "[Metrics&Observability] Track dispatcher metrics"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-08-29 20:26] AlanCoding opened #12777 "Reduce the number of dispatcher scale up/down events"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-08-29 20:38] AlanCoding commented on #12743
Closing as done right now because I don't think we need this to go through QE.

[2022-08-29 20:38] #12743 closed, assigned to nobody

[2022-08-30 04:19] AlekseiSaff opened #12782 "Can't edit node in workflow (getting an error "This field may not be blank")"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Aft

[2022-08-30 09:13] ronrem commented on #12763
Beside variable name `awx_hosts` I've tested with different other variable names, unfortunately with same result.

[2022-08-30 10:01] 2and3makes23 commented on #12644
@fosterseth
We have two Error-state jobs again (IDs: 161866, 161867), they derive from the same job template.

Like you I tried querying `.../api/v2/jobs/161867/job_events/children_summary` (same behavior for both jobs this morning):
[code]

**Update:** In the afternoon above query for both jobs worked while viewing respective job details `.../api/v2/jobs/161867` still produce a 502.

And I tried

[2022-08-30 12:31] MarcusCaepio opened #12783 "Cannot use community.general.icinga2 as inventory source with vaulted password"
##### ISSUE TYPE

 - Bug, Docs Fix or other nominal change

##### COMPONENT NAME

 - Collection
 - Other

##### SUMMARY
Hello all,
we are using the inventory community.general.icinga2 inventory – Icinga2 inventory as source for our dynamic inventory. As the inventory config is stored in a repo, we have vaulted the necessary password. On CLI it is no problem to use the inventory with '--ask-vault-p

[2022-08-30 12:40] apollo13 commented on #8553
It would not functionally equivalent because survey results are stored and not prompted for on job relaunch.

[2022-08-30 14:58] zyphermonkey commented on #2004
I added this to my indexers behind our HEC VIP and while not an ideal solution it does keep the host field from being used.

**props.conf**
[code]

[2022-08-31 07:34] obaranov commented on #12299
Validated from QE side. Added automated tests.

[2022-08-31 11:26] CWollinger commented on #12685
Same with AWX 19.4.0

[2022-08-31 12:19] jdmoralesp1 commented on #8490
Dear @MalfuncEddie , could you please show with images how you implement it, I'm new to ansible tower and I don't quite understand how to do what you show

[2022-08-31 14:41] basift opened #12792 "The ipaddr filter requires python's netaddr be installed on the ansible controller"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whi

[2022-08-31 14:45] Tioborto opened #12793 "UI crash - Error to see task stdout"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hel

[2022-08-31 15:14] djyasin commented on #12792
Hello. The problem you are reporting is with the EE, not the AWX container. The awx-ee contains the collections and dependencies needed for supported AWX features to function. Anything beyond that (like the community.general package) will require you to build your own EE. For information on how to do that, see https://ansible-builder.readthedocs.io/en/stable/

The Ansible Community is looking at b

[2022-08-31 15:32] mabashian commented on #12782
Steps to reproduce:

1. Create a JT that prompts for limit
2. Create a new workflow
3. Add a node that references the JT from step 1, provide a value for limit when prompted
4. Save the workflow
5. Edit the workflow
6. Edit the node from step 3
7. Change the limit
8. Save the workflow

<img width="578" alt="Screen Shot 2022-08-31 at 11 28 51 AM" src="https://user-images.githubusercontent.com/98890

[2022-08-31 15:42] djyasin commented on #12768
Hello,
The issue that you are describing pertains to a version of AWX that is no longer supported. Try upgrading to the latest version and let us know if that resolves your issue.

[2022-08-31 15:48] djyasin commented on #12765
Hello,
At this time we do not recommend using manual projects. Is there any particular reason that you are trying to use a manual project vs using the SCM projects?

If you'd like to proceed with manual projects, we would suggest referring to this persistent project directory.
You can look into using a persistent volume when deploying the awx spec file.
https://github.com/ansible/awx-operator#pers

[2022-08-31 15:53] AlanCoding commented on #12783
This is the case that is not supported, and tracked in the primary issue https://github.com/ansible/awx/issues/4089, but from what you said you are trying to do, the existing solution may work.

https://docs.ansible.com/ansible/latest/user_guide/vault.html

See the section "Encrypting individual variables with Ansible Vault", and specifically note "individual variables" as opposed to the next sect

[2022-08-31 16:05] MalfuncEddie commented on #8490
From the side menu bar

administration -> Credential Types --> add
input the fields (from my comment) Input configuration and Injector configuration

Resources -> credentials --> add

Credential Type --> set to the  Credential Type you created

insert the key and cert.

Finally in your template add the credential

[2022-08-31 16:46] jdmoralesp1 commented on #8490
@MalfuncEddie I already did what you say, I tested the certificates by executing from the console and they work when connecting to the remote windows computer, also add the vars to the playbook but when doing it from the ansible tower it throws me "certificate: both cert_pem and cert_key_pem must be specified for cert auth"

[2022-08-31 17:07] TheRealHaoLiu opened #12795 "helm installed in awx images"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

htt

[2022-08-31 17:41] AlanCoding commented on #4089
We need one single issue to track this RFE (and it will be this), but it should be more specific. This is to request that _vault credentials_ can be used _in inventory imports_ to decrypt _vars files_.

That final noun "files" is important - meaning files encrypted by `ansible-vault` as described in the section "Encrypting files with Ansible Vault" in the Ansible docs https://docs.ansible.com/ansi

[2022-08-31 17:59] AlanCoding commented on #4089
To explain my title change - I added "to process encrypted vault files" so that this captures the missing noun I described in my last comment. If the vault credential were to decrypt individual hostvars, that would be a risky anti-feature. Implementation-wise, I don't even know if decrypting is the right solution, it might be that we create a new storage location where we put the content and write

[2022-08-31 18:00] AlanCoding commented on #12234
I tried to add some clarifying details to https://github.com/ansible/awx/issues/4089, which should establish that, yes, it is referring to the same thing as this issue. That established, I will close this as a duplicate.

[2022-08-31 18:00] #12234 closed, assigned to nobody

[2022-08-31 18:14] TheRealHaoLiu commented on #12630
dupe

[2022-08-31 18:14] #12630 closed, assigned to nobody

[2022-08-31 18:43] MalfuncEddie commented on #8490
can you share your playbook?

[2022-08-31 19:27] wtmthethird commented on #12644
For what it's worth, it looks like at least some of our jobs that are entering ERROR'd state are a result of this: https://github.com/ansible/awx/issues/9961 -> https://github.com/ansible/awx/issues/11338. And then, when we try to view the log output, that's when the AWX web container starts to run away with all the memory and crash. So that might be one way to replicate this.

[2022-08-31 19:55] fosterseth opened #12799 "k8s - Add firewall rules to control node"
In k8s deployment, add firewall rules to prevent mesh network traffic from targeting control service on control nodes

Same as we do in AAP installer

[2022-08-31 19:56] jdmoralesp1 commented on #8490
@MalfuncEddie I already found my mistake, thank you very much for the disposition and help ;)

[2022-08-31 20:05] InnocentK commented on #12543
Resolved by https://github.com/ansible/awx/pull/12689

[2022-08-31 20:05] #12543 closed, assigned to keithjgrant, InnocentK

[2022-08-31 20:07] InnocentK commented on #12556
Resolved via option _b)_ (along with https://github.com/ansible/awx/issues/12543) by the work completed in https://github.com/ansible/awx/pull/12689

[2022-08-31 20:07] #12556 closed, assigned to keithjgrant, InnocentK

[2022-08-31 21:23] adpavlov commented on #12297
Issue still present in AWX 21.5.0

[2022-09-01 00:08] matburt opened #12802 "Token and Session Expiration never run after the first time"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Loo

[2022-09-01 06:19] fust commented on #12644
@wtmthethird At least for us it's unlikely that's the case.
We've increased the maximum log size to 500MB and we're not seeing the behaviour in #11338 on any job after that.
Why some jobs fail seems to be random, as well as why only failed jobs with large logs seem to produce this issue. They mostly chug along just fine but once in a while this problem occurs.

This makes it very hard to do any de

[2022-09-01 06:46] JERUSO commented on #12768
That's why I want to migrate to the recent version of AWX however I'm stuck in the process of executing the migrated.yml playbook... that's why I need support... please tell me what I should do...

[2022-09-01 06:54] Bchoudhury92 opened #12804 "Long running ansible playbook jobs on windows hosts are not working properly"
Hi Team,

I have a scenario where I am using Linux7 controller machine to install a patch on an windows 2016 server.
The patch manually takes 3-4 hours to complete. However, whenever I am running the patch from ansible playbook, the execution is not completing.
Similar patches with less runtime (say less than 20-30 mins) are completing successfully but the one with longer execution time is not com

[2022-09-01 07:54] MarcusCaepio commented on #12783
What about adding the icinga2 inventory plugin as dedicated source like the vcenter, which also is a community maintained inventory plugin?

[2022-09-01 13:49] AlanCoding opened #12811 "Browser console error when navigating to schedule for some management jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Som

[2022-09-01 14:03] danxg87 commented on #12750
We tried different runner versions (even built/ran 2.2.1 release) and that made no difference.

*Oddly enough (and I still can't believe this lol) flipping the job_template verbosity to DEBUG seemingly has FIXED the issue, so to speak. We have run close to 20x of our test workflow and artifacts persist as expected every time.

I wonder if the debug in the output somehow causes AWX background procs

[2022-09-01 18:20] mabashian commented on #12484
@djyasin what's the status on this one?  Is this still on your radar short term?

[2022-09-01 18:22] mabashian commented on #12590
@djyasin https://github.com/ansible/awx/issues/12484#issuecomment-1234629258 same question on this one.  Has the work on the api side been completed?

[2022-09-01 18:47] AlanCoding commented on #12802
Reopening to go through QE process

[2022-09-01 18:55] djyasin commented on #12484
Hi @mabashian! I am actually not 100% sure if we want this functionality based on the behavior changes in the API. I'm going to ping @TheRealHaoLiu here to confirm.

[2022-09-01 18:55] AlanCoding commented on #12811
This is the issue I mentioned when reviewing @matburt patch https://github.com/ansible/awx/pull/12803

It seems unlikely that users mucked with those schedules, since it's not really possible to do so in the UI.

[2022-09-02 06:14] #12711 closed, assigned to nobody

[2022-09-02 06:14] marcoatenway commented on #12711
seems to be a bug in the official elasticsearch role

[2022-09-02 06:56] ronrem commented on #12763
I'm one step further: within the `tower_job_template:` I've enabled the `ask_variables_on_launch: true` and it accepts my playbook.

But the top level variable `extra_vars: awx_hosts: "all"` in `tower_workflow_job_template:` is not overwritten by the `extra_data: awx_hosts: "PaloAltoPanos_Firewall"`in `tower_workflow_job_template_node:`. Is there a way to do that?

[2022-09-02 08:44] Remi-Mergen opened #12814 "Change template's instance group"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-02 10:03] anxstj opened #12815 "Direct links to AWX do not reroute the user after authentication"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

If

[2022-09-02 10:20] obaranov commented on #12225
Verified and added downstream tests: https://github.com/ansible/tower-qa/pull/7665

[2022-09-02 10:42] apollo13 commented on #4089
@AlanCoding Would skipping encrypted files be an option during inventory processing? This would allow to use encrypted files like suggested in ansible best practices and not expose the actual data outside of a playbook run.

[2022-09-02 12:01] furynick commented on #12254
I'm encountering the same type of problem with AWX 21.5.0 on kubeadm k8s cluster.
Tried several syntax without success.

[code]

I get hundreds of messages of type
[code]

With different syntax
[code]

I get other errors :
[code]

What is the right syntax to use LDAP authentication ?
How to enable Debug level ?

[2022-09-02 12:46] AlanCoding commented on #4089
Yes, I expect that would be the solution. But the file content would have to be stored somewhere in the database, and we'd need to figure out exactly how to prepare them for the job run.

[2022-09-02 12:50] apollo13 commented on #4089
Curious, why would the file contents have to be stored in the database? After all the playbook run has access to the project files. FWIW I'd love to have a mode where AWX doesn't store variables at all (and just imports hosts & groups because I guess that is really needed). Would that be an even "easier" option? Can I somehow help with regards to the later goal?

[2022-09-02 14:03] djyasin opened #12816 "AWX Collection Documentation Changes"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature Summary

[2022-09-02 18:26] AlanCoding opened #12821 "Allow running `awx-manage run_dispatcher` utility methods against other nodes"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-02 19:08] AlanCoding opened #12822 "Canceling a job can give wrong error message for related project sync"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

The

[2022-09-02 19:11] AlexSCorey opened #12824 "Update Instance Group Chips in Detail Views"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-02 20:04] akus062381 commented on #12691
looks good

[2022-09-02 20:04] #12691 closed, assigned to relrod, djyasin

[2022-09-02 20:19] AlanCoding commented on #12297
I think I have seen this myself recently, but still unclear of cause. It would be good if anyone could get receptorctl information after it happens, look up the work_unit from the API and in shell see `receptorctl work status <unit_id>`, which may require flipping the setting to not release work. That could be hard.

I've wondered if this might be hitting https://github.com/ansible/awx/pull/12089,

[2022-09-02 20:43] AlanCoding commented on #12297
I've lost the logs from the case I saw, but I believe it was due to running into the postgres max connection limit.

[2022-09-03 13:27] mihai-satmarean opened #12828 "project update fails because gitlab performs maintenance"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-03 13:27] mihai-satmarean commented on #12828
<img width="692" alt="Captură de ecran din 2022-09-03 la 15 18 06" src="https://user-images.githubusercontent.com/4729542/188272528-9684739b-e922-4ec3-9675-f4fb611a0115.png">

[2022-09-03 13:52] mihai-satmarean commented on #12828
possibly we could have an alternative git repo? for now is only possible to have one repository.

[2022-09-04 09:25] apollo13 opened #12829 "Allow disabling var plugins during inventory sync"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-04 12:43] venkatasykam commented on #12664
Anybody have any suggestions on this ??

[2022-09-05 13:29] xahys opened #12831 "Problems with awx install via docker | get blank page"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

1)

[2022-09-05 14:14] Cl0udius commented on #12254
Same error here with "ActiveDirectoryGroupType" on AWX 21.3.0.

[2022-09-06 11:57] CFSNM commented on #12612
We are blocked to test until https://issues.redhat.com/browse/AAP-5543 and https://github.com/ansible/tower/issues/6081 are done

[2022-09-06 15:25] AlanCoding commented on #12822
I was wrong, and it turns out this bug only happened when running with the branch https://github.com/ansible/awx/pull/11745

I've pushed a fix, and will close this issue.

[2022-09-06 15:25] #12822 closed, assigned to nobody

[2022-09-06 15:31] AlanCoding opened #12836 "Confusing error if a project sync is canceled before a job starts"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

If

[2022-09-06 17:16] tanujdevops commented on #1048
Hi @wwitzel3, I would like to take up this issue. Can you please assign it to me?

[2022-09-06 19:15] InnocentK commented on #12756
Resolved

[2022-09-06 19:15] #12756 closed, assigned to keithjgrant, InnocentK

[2022-09-06 20:19] AlanCoding commented on #12710
this should be resolved by https://github.com/ansible/awx/pull/12706

[2022-09-07 01:50] m-hoskin-unisa commented on #12681
Manually running the playbook within an EE container doesn't show the same behaviour:

ansible-playbook [core 2.12.5.post0]
  config file = None
  configured module search path = ['/home/runner/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.8/site-packages/ansible
  ansible collection location = /home/runner/.ansible/colle

[2022-09-07 08:14] dberardo-com commented on #1948
Could you please be more explicit? should we override the /etc/ansible/ansible.cfg file or just create a new one under the home folder of the aws user (which i believe being the /var/lib/awx folder?

---

update: i am using AWX 17

[2022-09-07 09:14] dberardo-com opened #12838 "Unable to enable core plugins"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I a

[2022-09-07 12:46] mabashian opened #12840 "Creating a new label that matches a subset of an existing label is not possible in UI"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I'm

[2022-09-07 12:48] mabashian commented on #12840
Of note: It appears we don't have this problem with job/skip tags so when looking at a fix that might be a good place to start.

[2022-09-07 13:48] leo8a opened #12841 "awxkit: awx cli inventory_sources create --credential accepts a unique string"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-07 15:00] shanemcd commented on #11910
This seems to be different from what's described in #6134. Going to reopen this.

[2022-09-07 15:12] Uquout7o opened #12843 "EE runner's inventory sync failed to parse because module 'lib' has no attribute 'X509_V_FLAG_CB_ISSUER_CHECK'"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Exa

[2022-09-07 17:28] fosterseth commented on #12831
In the awx directory, you will need to run `make clean-ui` followed by `make ui-devel` to build the UI static files. Let us know if that works

[2022-09-07 18:13] infamousjoeg opened #12846 "CyberArk Conjur Secret Lookup - Versioning Does Not Work"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-09-07 18:24] TheRealHaoLiu opened #12847 "fail to put node in deprovisioning state when removing from UI"
in feature-mesh-scaling feature branch
when attempting to remove instance via the UI i get a 301 error

[code]

[code]

[2022-09-07 18:44] thedatabaseme commented on #12843
Same issue starting as of today for me. It's probably an EE issue that is tracked here: https://github.com/ansible/awx-ee/issues/134

[2022-09-07 18:59] AlanCoding commented on #12829
The setting you mentioned could be set via the `vars_plugins_enabled` key in the `[defaults]` section of `ansible.cfg`.

https://github.com/ansible/ansible/blob/0de44804679461b8d898129068183d6da416e3a7/lib/ansible/config/base.yml#L1980

That could (in-principal) be checked into the project where the inventory lives (I think top-level). And I would like to get your thoughts on how well this would o

[2022-09-07 19:04] apollo13 commented on #12829
@AlanCoding we already do check in ansible.cfg :) The problem with your suggestion though is that not only `ansible-inventory` would ignore vars plugins but also the actual `ansible-playbook` run. I want/need to disable it only during inventory parsing otherwise the playbooks would basically have no variables at all. Does that make sense?

[2022-09-07 19:19] AlanCoding commented on #12829
It absolutely makes sense. If this could be specifically disabled for inventory syncs, that sounds like a fairly desirable outcome. We have this statically-defined dictionary which are environment variables applied to all inventory updates but not other job types.

https://github.com/ansible/awx/blob/e7c97923a305ffeb2bd06de84fcc8e69e164d589/awx/main/constants.py#L34-L41

This is not a setting whic

[2022-09-07 19:33] apollo13 commented on #12829
May I ask why you'd want this as default behavior?

Unless I misunderstood how AWX parses inventories and then run jobs I do not see how that would break something. What I understood so far (or at least thought that would be how AWX operates):

 * AWX creates an inventory from the inventory source (this currently includes hosts, groups and variables from the vars plugins)
 * When AWX runs a job it

[2022-09-07 19:50] apollo13 commented on #12829
As a sidenote:

Please don't, we are using our own variable plugins (via the commited ansible.cfg) in AWX that fetches data from elsewhere and overriding the vars plugins would break that flow.

[2022-09-07 19:52] AlanCoding commented on #12829
Only if the inventory and playbook are in the same directory. It's possible to put `host_vars/` and `group_vars/` next to the inventory. These get included in the output from `ansible-inventory` which was designed to include hostvars from vars plugins. So those get merged with general hostvars, and are part of the JSON data in the job's temporary inventory file you mention.

[2022-09-07 19:57] AlanCoding commented on #12829
Here's the stock Ansible vars plugin:

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/vars/host_group_vars.py

Unfortunately, it has a monolithic `get_vars` method, so a subclass can't easily override the behavior of loading variables for a single host or group (entity). We might still be able to monkey-patch the part that loads and parses the file. This would probably be `loade

[2022-09-07 19:58] apollo13 commented on #12829
I do not think this is correct. Using this minimal example repo: https://github.com/apollo13/ansible-test

and executing: `ansible-playbook -i inventory/inv.ini plays/test.yml` (play and inv directory are in different dirs, group_vars next to play) I get a successful run:

[code]

The second last paragraph in https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#organizing-host-a

[2022-09-07 23:09] m-hoskin-unisa commented on #12681
Have managed to resolve the issue, seems to be related to DNS within the Kubernetes cluster that was preventing kinit from resolving the KDC. For reference, to resolve the issue we did the following:

Added a config map with krb5.conf contents:
[code]

Updated the awx kubernetes config to load the krb5.conf content (may not be strictly required but we did do it so putting it here anyway).
[code]

[2022-09-08 00:21] matburt commented on #1048
No one is actively working on it. Just do the work and submit a PR

[2022-09-08 06:18] apollo13 commented on #12829
I just realized the following: We are using a playbook structure like this:
[code]
This way AWX inventory syncing will read the group_vars & host_vars.

If we instead were to use:
[code]
then AWX inventory syncing would have no vars to sync but the plays would still continue to work :)

[2022-09-08 06:47] bartowl commented on #11805
Same here. Does the apparent 4h limit affect the entire job template, or just a single task? Maybe using async tasks would be a way around here? What is bad is that the automation pod gets removed with all information what has happened, and the task container just throws EOF handler like with normal job end:
[code]
This does not differ from normal job termination due to task error. The thing is, t

[2022-09-08 07:13] #12690 closed, assigned to relrod, djyasin

[2022-09-08 07:33] Miggel75 commented on #12843
I have been able to solve this issue by downgrading the **cryptography** package in awx-ee to **37.0.2**.
I am using the docker-compose base installed awx and have performed the following as a workaround until the awx-ee image is fixed.
I really hope that the awx-ee images on quay will be tagged soon.

### In the tools_awx_1 container
[code]
### Then in another session to the tools_awx_1 container

[2022-09-08 09:19] leetecarey commented on #12843
Same Issue here 21.5.0

[2022-09-08 10:15] Uquout7o commented on #12843
As a workaround, now using novumrgi/awx-ee:stable as luhahn provided in issue #134 , had to configure it via the webGUI

[2022-09-08 10:38] relrod opened #12850 "[collection] `awx.awx.project` spams `/api/v2/project_updates/<id>/ endpoint` when `wait: True`"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-09-08 12:38] amirm-hrl commented on #12843
I can confirm this also effect the project updates (from git source) on both v21.0.0 and v21.5.0

[code]

[2022-09-08 12:59] Rakesh2904 opened #12852 "Unable to use machine credentials in a variable inside a task"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

_No

[2022-09-08 13:25] AlanCoding commented on #12829
You're second case is instructive, let's clarify the expectation where `inventory/host_vars/` are present...

[2022-09-08 14:21] s-hertel commented on #12829
Re: https://github.com/ansible/awx/issues/12829#issuecomment-1239769592

I'm not sure if this would be helpful, but ansible-core has a config option for determining whether vars plugins run after inventory or before tasks (or both). ansible-inventory ignores the option (removed in https://github.com/ansible/ansible/commit/c1f280ba6e4a1e5867720e8c8426bc451ad32126) since the default is to run vars p

[2022-09-08 14:37] matburt commented on #11605
verified

[2022-09-08 14:37] #11605 closed, assigned to nobody

[2022-09-08 14:46] cjreyn commented on #1179
+1

[2022-09-08 14:46] cjreyn commented on #2905
+1 for this

[2022-09-08 15:23] xahys commented on #12831
Hello, @fosterseth !
Thanks for feedback!

I have problems with Memory, but i dont know how much i need to allocate.
so, i set var "max-old-space-size" in Makefile from 6144 to 10240, and i have 16G on a system, but i take the same problems when i run "make ui-devel"

May i need to allocate in another place, but i dont know where.

[root@awx-linux awx]# make clean-ui
rm -rf node_modules
rm -rf awx

[2022-09-08 15:38] keithjgrant opened #12853 "Job output websocket events getting duplicated"
##### ISSUE TYPE
 - Bug, Docs Fix or other nominal change

##### COMPONENT NAME
 - UI

##### SUMMARY
When websocket events come to the UI out of order, the UI is duplicating some of them, producing duplicated output on the job output page during the job run.

[2022-09-08 16:50] udosoftschwarz opened #12854 "Inventory File Import Code Bugy"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

in

[2022-09-08 17:04] fosterseth commented on #12843
hi folks, the latest awx-ee image should now pin cryptography to 37.0.4 https://github.com/ansible/awx-ee/pull/136

Please retry with the latest image!

[2022-09-08 17:07] fosterseth commented on #12838
hi @dberardo-com you might play around with enabling certain plugins in your ansible.cfg, and place that ansible.cfg in the root of your scm project directory https://docs.ansible.com/ansible/latest/plugins/inventory.html#enabling-inventory-plugins

[2022-09-08 17:08] #12843 closed, assigned to nobody

[2022-09-08 17:24] fosterseth commented on #12828
| possibly we could have an alternative git repo

@mihai-satmarean You could set up a workflow pointing to two job templates (JT A based on repo 1, and JT B based on repo 2). Make JT B only run if JT A fails

[2022-09-08 19:50] deeco commented on #12117
why are these issues closed when the issue remains and people using workarounds from the official readme guides ?

[2022-09-08 19:52] deeco commented on #12843
checking

[2022-09-08 19:55] deeco commented on #12843
@fosterseth  How to set the AlwaysPullPolicy for ee image using Kustomize ? see in logs says already present on host so not pulling the latest from quay.io

https://github.com/ansible/awx-operator#user-content-basic-install

[code]

[2022-09-08 20:35] deeco commented on #12843
confirmed working with latest image, had to remove on host level to force it, is it possible to set to AlwaysPull ?

[2022-09-09 00:55] coreydeli commented on #12117
Technically the issue came back after being fixed. I would look into building your own honestly, I did it and it was very easy to do and solved this issue for us long term.

[2022-09-09 06:50] bar0n36 commented on #12831
I ran into the LDAP issue trying to build, and it appears to be resolved by #12796 .

[2022-09-09 06:54] dberardo-com commented on #12838
thanks for the answer. i have figured out that i have to place the setting `defaults.callback_whitelist` in the /etc/ansible/ansible.cfg file to enabled them (https://docs.ansible.com/ansible/2.9/reference_appendices/config.html#default-callback-whitelist). Is it possible to have a more selective configuration per job template instead of having to use a single global configuration file? Are config

[2022-09-09 07:23] relrod opened #12858 "[UI] "Run every" template string not interpolated when setting a JT/project schedule"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

See

[2022-09-09 15:23] AlexSCorey commented on #12858
This may not be a bug.  It may simple show up that way because the strings have not yet been compiled.
@keithjgrant can you confirm?

[2022-09-09 17:51] brando56894 opened #12862 "All of the flags for awx job_templates modify are missing in CentOS 7.x/Fedora 36"
##### ISSUE TYPE

 - Bug, Docs Fix or other nominal change

##### COMPONENT NAME

 - CLI

##### SUMMARY
All of the flags for **awx job_templates modify** are missing and the function itself doesn't appear to do anything when executed on CentOS 7.x or Fedora 36.

##### ENVIRONMENT
* AWX version: 3.8.6
* AWX install method: pip
* Operating System: Linux (CentOS 7.9 and Fedora 36)
* Web Browser: N/A

[2022-09-09 17:52] mihai-satmarean commented on #12828
@fosterseth thanks for an interesting approach. I will investigate that.

[2022-09-09 18:57] fosterseth commented on #12799
https://github.com/ansible/awx/pull/12856

[2022-09-09 19:03] fosterseth commented on #12799
manual testing locally,

log into execution node, try to connect to the control service of a control node
[code]

this properly fails due to firewall rules present on the control node.

[2022-09-09 19:40] fiftin commented on #989
Hi @colans

What did you choose, Semaphore or Rundeck and why?

[2022-09-09 19:42] fiftin commented on #989
Hi @Rocking80 How you solve the issue?

[2022-09-09 19:56] jay-steurer commented on #12802
Verified by QE. PR is merged. Closing it.

[2022-09-09 19:56] #12802 closed, assigned to jay-steurer

[2022-09-10 07:51] nishipy commented on #12761
Hi team. Can I work on this if none is doing it?
If I understand correctly, we need to fix around here.
https://github.com/ansible/awx/blob/e0b1274eee44bb47114b74c07c2ad5331f28cacf/awx_collection/plugins/modules/project_update.py#L114-L115

[2022-09-11 16:10] brunogomes011 commented on #5209
+1 for BitBucket

[2022-09-12 08:37] Rakesh2904 commented on #12852
Is there anyone who could shed some light on this please?

[2022-09-12 08:40] blaisemichel commented on #1845
+1

[2022-09-12 11:46] bartowl commented on #11805
Well, async tasks did not help at all... 4:01 and job template fails. Seems that the automation container gets just terminated, but I would not blame k8s for that, since there are many different distributions (i use k3d) and all fail precisely after 4h. My last job with async_status poll every 5 minutes terminated at exact 4:01:22 after 7 retries - could not perform next retry.... I will try to tr

[2022-09-12 13:14] bartowl commented on #11805
Hmm - I quess I found the reason - kubelet by default terminates streaming connections after 4h. Streaming automation pod logs is a streaming connection. See https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ and search for "--streaming-connection-idle-timeout". I once again checked all messages in this Issue, and everyone has a variant of k3s / k3d. This options seems to o

[2022-09-12 13:19] AlanCoding commented on #12829
I have a CLI demo of my preferred approach here:

https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/vault/file_vars

I need to further polish the new option being added to the vars plugin here. With that done, then I would add the plugin to the `awx/playbooks` folder here and enable it for inventory plugins. That can solve the problem immediately for AWX, but for long-term,

[2022-09-12 14:08] #12858 closed, assigned to nobody

[2022-09-12 14:36] colans commented on #989
@fiftin wrote:

I went with Rundeck because it doesn't only do Ansible (even though I'm only using Ansible so far), unlike Semaphore.  I've been really happy with Rundeck so far, and it does Web services (although Semphore may too; I have no idea).

[2022-09-12 20:26] AlanCoding opened #12867 "Slow queries trying to view related activity stream for objects as normal user"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

If

[2022-09-12 23:15] adpavlov commented on #11805
I would call you a genius:)
However, I set this timeout of k8s to 0 (meaning no timeout) in my k3s installation and pod survived 4 hours 27 minutes! But still resulted in Error...

[2022-09-13 01:53] kialam opened #12870 "Peers tab search bar does not work"
The search feature on the Instance > Peers tab does not seem to work. No network request is being made.

##### ISSUE TYPE

 - Bug, Docs Fix or other nominal change

##### COMPONENT NAME

 - UI

[2022-09-13 15:05] akus062381 opened #12876 "Users cannot select Inventory in workflows even if the user has admin Permissions on the workflow"
_Problem:_
Users cannot select Inventory in workflows even if the user has admin Permissions on the workflow.

_Steps to Reproduce:_

- Create a Workflow on the controller

- Create a user with the following roles:

    ###  Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Role
     ===================================
     Default&nbsp;&nbsp;&

[2022-09-14 07:29] shaaga commented on #9058
@jakemcdermott can you please share what is the fix? I am facing the same issue in AWX 17.1.0 with all job templates having a multiplechoice field, irrespective of whether it has choices defined or choices field is null?

[2022-09-14 07:36] shaaga opened #12879 "Jobs with a multiplechoice field in its survey spec do not launch in AWX 17.1.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Job

[2022-09-14 07:37] shaaga commented on #12879
Found a similar issue reporting the same issue on AWX 16.x, the issue is closed without the fix mentioned in it.
https://github.com/ansible/awx/issues/9058

[2022-09-14 08:56] bartowl commented on #11805
Sadly yes, as k3s with containerio backend seems to ignore this parameter and you would need to switch to docker backend somehow. I would also if I only knew how, and adding `--docker` to kubelet arguments what should do the trick does not give any usefull effect besides log entries that this is legacy and will be ignored (used `--kubelet-arg=docker@server:0` actually)
See also https://github.com/

[2022-09-14 09:03] adpavlov commented on #11805
I'm using docker backend actually and passed `--kubelet-arg=streaming-connection-idle-timeout=0` to k3s, but still no luck

[2022-09-14 09:22] Vesperino opened #12880 "AWX kubernetes awx-ee dont see new galaxy collection"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

[co

[2022-09-14 09:23] Vesperino commented on #12879
You should install with kubernetes ver 21+ doesn't have that issue

[2022-09-14 09:40] bartowl commented on #11805
@adpavlov I hope you do not confuse running k3s under docker as k3d, and docker backend mode for k3s. From what I have seen, when k3s is running in docker mode, all pods are created as docker containers and can be directly seen in docker ps output. I could not manage to get it to that point with k3d even after mounting docker socket in the k3d server container :/ But will keep trying :)

[2022-09-14 09:57] adpavlov commented on #11805
for sure I'm using k3s with `--docker` flag.

[code]

And snippet from `k3s.service`:

[code]

[2022-09-14 10:27] shaaga commented on #12879
Our deployment env uses docker-compose. Is it not possible to patch AWX v17 with the fix?

[2022-09-14 10:32] bartowl commented on #11805
that is bad, i hoped this will help as in https://github.com/containerd/cri/issues/1057#issue-414329803 but this post references actually kubernetes from version v1.10.13 which is looong time not valid anymore. The entire mentioned section seems to got rid, as in current version the kubelet.go looks totally different. Will look for other possible reasons.

[2022-09-14 10:37] ffirg commented on #12879
Fixed in https://github.com/ansible/awx/pull/12038

On Wed, 14 Sept 2022 at 11:27, SHALU AGARWAL ***@***.***>
wrote:

[2022-09-14 10:40] bartowl commented on #11805
kowever in the current version i find mentions of `streamingConnectionIdleTimeout` at many places, so this timeout should be configurable and not only docker-backend-specific, as this block vanished... (see https://github.com/kubernetes/kubernetes/blob/release-1.25/pkg/kubelet/kubelet.go#L499) and search for other occurences...
Will try instead of disabling it to double it. running now with stream

[2022-09-14 10:51] bartowl commented on #11805
Setting the timeout higher might however have a chance to work, as setting it to 0 causes it to be set to default 4h again: see https://github.com/kubernetes/kubernetes/blob/release-1.25/pkg/kubelet/apis/config/v1beta1/defaults.go#L116

[2022-09-14 10:54] Mrmel94 opened #12881 "'Error opening pod stream' or 'Stream error running pod' randomly on some jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hi

[2022-09-14 11:33] craph commented on #11098
Hello,

I have the same issue, in job I can't see the checkout of my branch.
Is it normal ?

[2022-09-14 11:53] craph opened #12883 "SCM branch override doesn't shown in sync job and revision shown is not the correct one"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

My

[2022-09-14 12:32] kladiv commented on #11805
@bartowl thanks for you tests.
Please keep us informed if `--kubelet-arg=streaming-connection-idle-timeout=<VERY_HIGH_VALUE>s` works

[2022-09-14 12:33] craph commented on #12883
Sorry I found the correct information in the details of the job template. I can see the correct revision here.
But I can't see the log of the checkout of the SCM Branch override

[2022-09-14 13:24] Vesperino commented on #12463
Try add galaxy credential to organization of project you have should fix it

[2022-09-14 13:25] #12880 closed, assigned to nobody

[2022-09-14 13:25] Vesperino commented on #12880
Need just add folder to project -> collections -> requirements.yaml
Then add to organization of project credentials for galaxy

[2022-09-14 14:07] adpavlov commented on #11805
I have weird results with `--kubelet-arg=streaming-connection-idle-timeout=0`

Following task checks date every 30 minutes and playbook resulted in error right after 4 hours

[code]

However, just `wait_for` task with 5 hours timeout was running exactly 5 hours, but again exited with error state

[code]

[2022-09-14 14:51] bartowl commented on #11805
![image](https://user-images.githubusercontent.com/12292174/190188215-3b877e88-cd65-4cc4-ab9d-9c17b0eb373f.png)
extending this to 28800s did not help, first interaction after 4h breaks the job. The 5 hours is just the first that happened after 4h...

[2022-09-14 15:13] AlanCoding commented on #12883
Would you say that this is the same issue as https://github.com/ansible/awx/issues/5692? It sounds like it might be the same issue, but this has a different angle on how it might be fixed.

If you are looking at a job that used a custom SCM branch, it should always have an associated project sync that checks out that particular branch. If you can't find the link in the UI, it should be at `/api/v2

[2022-09-14 15:15] djyasin commented on #12881
Hello,
We feel like we have seen this on our mailing list a few times in the past. You can view those instances here: https://groups.google.com/g/awx-project/search?q=error%20opening%20pod%20stream

Please let us know if any of those threads resolve this issue for you.

[2022-09-14 15:17] #12879 closed, assigned to nobody

[2022-09-14 15:24] djyasin commented on #12862
Hello,
We noticed you said you are running AWX version: 3.8.6. That particular version is a version of Controller. We would recommend that you reach out to Red Hat Support.

[2022-09-14 15:33] AlanCoding commented on #12854
There is an incredibly broad criteria for what can be a valid Ansible inventory file, which is why the discovered list will be so incomplete. You can manually enter in the location of your file in the UI and then hit enter, and it should accept it.

[2022-09-14 15:38] djyasin commented on #12852
Hello,
We would like to gather some more information from you. What   `ansible_winrm_transport` are you using to connect to your Windows machines?

[2022-09-14 15:42] djyasin commented on #12846
Hello,
Based on the version you have provided it sounds like you are using Controller, rather than AWX. We would recommend that you reach out to Red Hat support.

[2022-09-14 15:42] Rakesh2904 commented on #12852
I've tried Kerberos, NTLM and CredSSP, if this is what you meant

[2022-09-14 15:45] Rakesh2904 commented on #12852
This is how the actual play looks like

images.githubusercontent.com/109726454/190201256-18f80f94-cc28-4bcb-8cf7-311779665f5f.png)

[2022-09-14 15:48] Mrmel94 commented on #12881
Hi, thank you for your answer, but I already search in the mailing list for my problem, but I didn't found any solution. One of the solution is to upgrade k3s in the latest version, what I did, but the problem still there.

Thanks

[2022-09-14 15:49] djyasin commented on #12838
Hello,
To answer your question, we do not believe that this is configurable on a per job template instance.

Please consider contributing a PR for this following our contributing guidelines: https://github.com/ansible/awx/blob/devel/CONTRIBUTING.md

[2022-09-14 15:54] djyasin commented on #12831
Hello, this appears to be less of a bug report or feature request and more of a question. Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-09-14 16:05] djyasin commented on #12814
Hello, we'd love to help, but we need a little more information about the feature you are proposing. Currently, you can change instance groups on inventories and job templates.

Are you asking for some prompt on launch functionality or something different?

[2022-09-14 16:11] infamousjoeg commented on #12846
@djyasin,

You are correct, however this issue also persists in AWX.  I just happened to do my testing using Ansible Automation Platform.  Shall I modify the issue for AWX or open a new issue for it?

[2022-09-14 16:12] infamousjoeg commented on #12846
I should also note that I am not a customer of Red Hat, but a partner as I'm employed by CyberArk.  I'm happy to assist any way I can with resolving this issue.

[2022-09-14 19:05] jay-steurer commented on #12853
Verified by QE. PR merged. Closing it

[2022-09-14 19:05] #12853 closed, assigned to keithjgrant, akus062381

[2022-09-14 22:16] kurokobo commented on #11805
I have no idea if this is helpful since this issue can't be reproduced on my side and have not digged into deeper, but the containerd also has `stream_idle_timeout` with 4 hours as default: https://github.com/containerd/containerd/blob/main/docs/cri/config.md#full-configuration

[code]

If you're on K3s, you can see this:

[code]

You can modify this value by:

[code]

[code]

F.Y.I., In not K3s b

[2022-09-15 00:28] AdityaVishwekar commented on #12685
I'm experiencing the same issue.

[2022-09-15 06:15] shaaga commented on #12879
@djyasin please dont close incidents without the opener confirming prob is fixed.

I want to apply the patch in the https://github.com/ansible/awx/pull/12038 to AWX 17 but I cannot find the SurVeyQuestion* files in the awx_task container. Where are these files present?

[2022-09-15 06:52] bartowl commented on #11805
Thanks @kurokobo for sharing this information. In my setup indeed, despite running k3s server with `--kubelet-arg=streaming-connection-idle-timeout=28800s`, this value also is set to 4h:
[code]
But as far as I understand, this is a timeout, when no new line in pod logs is generated over a certain time.
My playbook uses either async_status to periodically poll for progress (therefore generates log

[2022-09-15 09:14] craph commented on #12883
I'm not sure if it's the same issue.
In my case, I have specified an SCM Branch override and I was surprised to not be able to see the name of the SCM Branch in the project sync that is run at the same time of the job template. The only place where I see informations related to my SCM branch override it's in the tab "details" of the Template job where I can see the correct revision of my SCM branc

[2022-09-15 14:47] whitej6 commented on #1967
Implemented via #12552 and is in release https://github.com/ansible/awx/releases/tag/21.5.0

[2022-09-15 17:22] fosterseth opened #12891 "add docs for scaling mesh"
write up docs / instructions for how to add an execution node for upstream users.

[2022-09-15 17:43] keithjgrant opened #12892 "POSTing schedule with no occurrences causes timeout"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-09-15 20:36] #12542 closed, assigned to keithjgrant, jay-steurer

[2022-09-16 09:22] Mrmel94 commented on #12782
Same issue here, a workaround is not edit the job in the wf but delete it and re-create it

[2022-09-16 09:42] marek1712 commented on #12793
I'm on 21.3.0 and see the same thing. Any update?

This is the simple task that makes the UI crash:
`  - name: "Display uptime - SSH"`
`    ios_command:`
`     commands:`
`      - show version | include uptime`
`    register: ssh_uptime`
`    when: ssh_enabled is succeeded`

[2022-09-16 09:56] bartowl commented on #11805
Ok, I have bad news - the 4h timeout is really hardcoded in kubelet. There is no way around it:
See: https://github.com/kubernetes/kubernetes/blob/v1.25.1/pkg/kubelet/server/server.go#L161
and https://github.com/kubernetes/kubernetes/issues/104595 and https://github.com/kubernetes/kubernetes/pull/104735/files

The only way to get over 4h is to implement retry mechanism in AWX. My python knowledge

[2022-09-16 12:31] MalfuncEddie commented on #12613
Sorry to go a bit of topic but are you sure?
if you do "awx hosts list --inventory 65 -f human" with a  filter it regexes the hosts and not apply the limit form cli?

a command like
awx hosts list --inventory 65 -f human --filter " inventory group"

does not return the hosts in a inventory group?

[2022-09-16 12:39] nicolasbouchard-ubi commented on #11805
Just to weight in, we have the exact same problem. We have a long-running task that poll an API to fetch the status of builds that can take more than 4 hours to complete.
![image](https://user-images.githubusercontent.com/112958784/190638669-593f4da6-0767-4607-892b-d854929e21c4.png)
![image](https://user-images.githubusercontent.com/112958784/190639554-52ce0f05-e038-4068-8e33-d83ed6fff7a4.png)

Th

[2022-09-16 16:32] AlekseiSaff commented on #12782
I'm just changing directly in DB

[2022-09-16 17:56] fosterseth commented on #12881
duplicate of https://github.com/ansible/awx/issues/12549

seems users are still experiencing this bug

[2022-09-16 20:18] adpavlov commented on #11805
This didn't help in k3s...

[2022-09-17 05:01] antuelle78 opened #12901 "K3s issue with Operator version 0.29.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-09-17 16:59] antuelle78 commented on #12901
Small update, I just noticed that even if the I set awx_version: 21.6.0 using operator 0.28.0.
The version of awx deployed is 21.5.0

[2022-09-18 06:32] erz4 commented on #12683
same happening here:
[code]

AWX version **21.2.0**
k8s deployment via the **awx-operator**
external DB of type AWS RDS with postgres (12.X)

our workload is 5,000-15,000 jobs per day and it happens to us once after something like 2 months

[2022-09-18 08:23] ericrv01 opened #12902 "recursive include_role executed first in a play"
##### ISSUE TYPE

 - Bug, Docs Fix or other nominal change

##### COMPONENT NAME

 - Other

##### SUMMARY

A play include a role, this role include another role.
When executing the play, the second role is called first, the the first one, and another time the second one.

##### ENVIRONMENT
* AWX version: 20.0.1
* AWX install method: operator, developer environment
* AWX deployment target: openshif

[2022-09-18 08:29] ericrv01 commented on #12902
May be a indication : it seems this is due to the fact I declared dependencies in meta/main.yml of roletest1.
If I remove it, it works as expected.

[2022-09-18 09:19] #12902 closed, assigned to nobody

[2022-09-18 09:20] ericrv01 commented on #12902
It seems it's the normal way of working, as described in the documentation

[2022-09-18 16:45] apollo13 commented on #12829
How would that be done without disabling other user defined vars plugins from `ansible.cfg`. Or is using custom vars plugins simply not supported?

Are you thinking about enabling this plugin by default? If yes I think it would need careful documentation around it because it introduces another set of issues. Assuming the alternative layout from https://docs.ansible.com/ansible/2.8/user_guide/playb

[2022-09-18 16:54] apollo13 commented on #12829
I see you wrote:

in https://github.com/ansible/ansible/pull/78765. I would like to ask what makes you think that those users want ansible-inventory to ignore vault variables (Not trying to attack here, I'd like to understand your thought process so we can reach a good solution)? Personally I think those users would probably just be as fine if variable gathering can be disabled completely. The end

[2022-09-19 13:26] doubletwist13 commented on #12901
I see the same issue in RHEL8.

[code]

Installing `RELEASE_TAG=0.28.0` works fine, but with `RELEASE_TAG=0.29.0`, the pod gets stuck in Init:CrashLoopBackOff state.

This happens both when doing a clean install per the process from https://computingforgeeks.com/install-and-configure-ansible-awx-on-centos/  or when doing an upgrade from 0.28.0 per the process at https://computingforgeeks.com/how-t

[2022-09-19 14:02] #12870 closed, assigned to AlexSCorey

[2022-09-19 14:03] #12847 closed, assigned to AlexSCorey

[2022-09-19 14:30] thenets commented on #12687
Tested.
cc: @InnocentK @jneedle

[2022-09-19 14:30] #12687 closed, assigned to thenets, lucab85, djyasin

[2022-09-19 14:30] thenets commented on #11695
Feature implemented. Tested.
cc: @InnocentK @jneedle

[2022-09-19 14:30] #11695 closed, assigned to thenets, lucab85, InnocentK

[2022-09-19 14:33] akus062381 opened #12903 "Issues found- New Mesh Viz"
In checking the feature-mesh-scaling branch, I found some issues to report:

- [ ] RBAC: For adding an instance, an unauthorized user can access the add form and the edit form by manipulating the url
- [ ] If a normal user logs into a Kubernetes instance, they should not be able to see the instances tab at all. Currently, they can see it in the left side menu and when the UI loads, it shows the us

[2022-09-19 14:33] InnocentK commented on #12589
Feature implemented and tested
cc: @thenets @jneedle

[2022-09-19 14:33] #12589 closed, assigned to thenets, lucab85, InnocentK, vedaperi

[2022-09-19 14:35] thenets commented on #12488
`ansible-sign` tested by @relrod (thank you, man!)
AWX was also tested.

cc: @InnocentK @jneedle

[2022-09-19 14:35] #12488 closed, assigned to relrod, thenets, lucab85

[2022-09-19 14:36] thenets commented on #12487
Implemented and tested.

cc: @InnocentK @jneedle

[2022-09-19 14:36] #12487 closed, assigned to thenets, lucab85, djyasin

[2022-09-19 14:42] thenets commented on #12482
Implemented and tested.

cc: @InnocentK @jneedle

[2022-09-19 14:42] #12482 closed, assigned to thenets, lucab85, TheRealHaoLiu, djyasin

[2022-09-19 14:50] thenets commented on #12485
@djyasin I believe we can change the description, because now we are supporting all the SCM (not only git).

[2022-09-19 14:51] thenets commented on #12485
The following tests are pending:
- The `awxkit` (CLI portion) must be reviewed and tested.

@relrod @djyasin @TheRealHaoLiu @jneedle

[2022-09-19 14:55] AlekseiSaff commented on #12782
21.6.0 still the same

[2022-09-19 15:46] etn-tech opened #12905 "Display SAML login icon for /api/login page"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-19 16:02] relrod commented on #12485
Done.

[2022-09-19 17:20] #12413 closed, assigned to AlexSCorey, jay-steurer

[2022-09-19 18:03] djyasin commented on #12816
Resolved in #12817

[2022-09-19 19:49] brando56894 commented on #12862
Unless I'm misunderstanding how awx-cli works, the Controller version shouldn't matter. The problem is with awx-cli, not the Controller.

[2022-09-19 19:56] CFSNM commented on #12612
Validated from QE side. Closing

[2022-09-19 19:56] #12612 closed, assigned to CFSNM, TheRealHaoLiu

[2022-09-19 19:57] CFSNM commented on #12610
Validated from QE side. Closing

[2022-09-19 19:57] #12610 closed, assigned to fosterseth, CFSNM, TheRealHaoLiu

[2022-09-19 19:57] CFSNM commented on #12739
Validated from QE side. Closing

[2022-09-19 19:57] #12739 closed, assigned to fosterseth, CFSNM

[2022-09-19 20:32] TheRealHaoLiu opened #12913 "splitting out receptor install bundle playbook and requirement to file to enable customization"
in the current implementation the install_receptor.yml playbook and inventory.yml are multi-line string in instance_install_bundle.py

in order to enable customization of the install bundle these file need to become external files to enable replacement of these files in runtime (by replacing the file)

these files need to be in the awx-web container

[2022-09-19 21:31] kurokobo commented on #12901
It's not an issue for AWX but for AWX Operator.
This should be discussed on https://github.com/ansible/awx-operator/issues/1055

[2022-09-20 06:28] MrBones757 commented on #11892
Hi All,

I have run into this error trying to delete a dynamic VMWARE Inventory:
Version: 19.5.0

As noted above, the inventories are in the pending delete stage.
These would have had a large number of facts per host as they were dynamically discovered by the VMware inventory plugin.

Stack Trace:
2022-09-20 06:18:24,392 ERROR    [2c422f3c33174c81953037e371ab8fb2] awx.main.tasks Database error del

[2022-09-20 06:36] MrBones757 commented on #11892
Using this:
https://github.com/ansible/awx/issues/3945#issuecomment-496582370

i was able to recover the inventory, and i will try to manually reduce the number of facts and then delete again

[2022-09-20 08:04] nicolaibaralmueller opened #12918 "Allow manual selection of inventory hosts and inventory groups at launch time"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-20 08:25] kerukulla commented on #12409
hello team, Can we have an update here please? we are running on an outdated AWX and we need to have the latest version deployed ASAP for the business continuity, hope you guys really understand the priority now. Please let us know what action do we need to take... Thanks

[2022-09-20 09:24] Remi-Mergen commented on #12814
Hey!

Yes I'm sorry, that was not very explicit.

I am currently on awx version 18.0.0 and I found no way to change the instance_group assigned to a template. In addition, a Boolean launch prompt function to select your instance_group is a good idea!

In the issue, I have just added a var called "--instance_group ID" and a quick description 🙂

[2022-09-20 13:48] Tioborto commented on #12277
All works fine since the upgrade to the version 21.5.0
Thank you for you help 👍

[2022-09-20 13:48] #12277 closed, assigned to nobody

[2022-09-20 13:48] Tioborto commented on #12793
Any help on this UI crash please ?

[2022-09-20 14:05] #8982 closed, assigned to nobody

[2022-09-20 14:18] mick1627 opened #12922 "job failed with binascii.Error: Incorrect padding error from time to time"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Fro

[2022-09-20 14:45] wiad commented on #11831
We ran into the same problem after updating to 21.6.0 from 19.4.

When I try to set the `SAML User Flags Attribute Mapping` field I get an error when saving:
`Expected a list of items but got type "str"`

With the following format I am able to save:
[code]
But no difference in behaviour - when logging in using SAML my superuser privileges are automatically revoked.
Am I missing something?

[2022-09-20 17:33] ronrem commented on #12763
All related to variable priorities.

[2022-09-20 17:33] #12763 closed, assigned to nobody

[2022-09-20 18:55] TheRealHaoLiu opened #12928 "split out non customer modifiable variable in the install bundle into a vars file"
in order to have a better user experience we would like to put all of the user modifiable variable variable of the playbook into a vars file for the instance install bundle

[2022-09-20 20:46] Zaephor opened #12930 "Workflow approval displays wrong variables in "Workflow job details" if multiple workflows are submitted"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-09-21 10:03] IAmAStealer opened #12931 "AWX Collection Schedule isn't finding"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-09-21 12:45] CFSNM commented on #12928
Assigning myself for QE

[2022-09-21 13:44] obaranov opened #12932 "Cannot relaunch a job with the prompted job_slice_count value"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-09-21 13:47] djyasin commented on #12484
This issue is no longer needed with our revised functionality.

[2022-09-21 13:47] #12484 closed, assigned to nobody

[2022-09-21 13:47] djyasin commented on #12590
This issue is no longer needed with our revised functionality.

[2022-09-21 13:47] #12590 closed, assigned to nobody

[2022-09-21 15:56] relrod opened #12934 "Project signing: Validate that GPG pubkey credential is valid pubkey and can be imported"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-21 16:53] TheRealHaoLiu opened #12936 "add validation for hostname field for the Instance object"
current hostname field for the instance table have no validation and this allows user to put invalidate value into the field

[2022-09-21 17:36] john-westcott-iv commented on #12918
Could you give us some more details around what you are trying to do with hosts/groups as survey questions?
We have a limit field that can be applied to a job template.

[2022-09-21 17:38] djyasin commented on #12901
Duplicate of https://github.com/ansible/awx-operator/issues/1055.

[2022-09-21 17:38] #12901 closed, assigned to nobody

[2022-09-21 17:53] djyasin commented on #12883
We believe that we have a fix incoming with the next release: https://github.com/ansible/awx/issues/12413

We would recommend trying it again once that release lands. Please let us know if this resolves the issue for you.

[2022-09-21 18:40] TheRealHaoLiu commented on #12936
`[a-z0-9]([-a-z0-9]*[a-z0-9])?` may be a good enough regex

[2022-09-21 22:10] fosterseth commented on #12931
having trouble reproducing this,
1. created org "sbf"
2. created projects "projA" and "projB"
3. created inventory "InvA" with source based on projB
4. create job template based on projA
5. All of those were assigned to org "sbf"

here is my playbook

[code]

runs fine

[code]

I'm using the docker based development environment, but I don't expect a difference on minikube for this.

Any suggestion

[2022-09-21 23:00] fosterseth commented on #12922
likely the pod running the job terminated unexpectedly, or receptor itself restarted while getting the stdout back from the pod.

was hoping to see a better error message on job_explanation

If you feel like spelunking a bit,

kubectl logs deploy/awx -c awx-ee | grep ERROR

any errors around the time the job ran?

for advanced debugging,

kubectl edit awx
under "spec" add this extra setting
[code]

[2022-09-22 06:05] ethemcemozkan commented on #11338
Any update about the resolution?

[2022-09-22 06:19] IAmAStealer commented on #12931
The error might be on my side.
But may I have some information about the user you are using ?

Edit: what is weird is that I can find the inventory / organization and so on within the API and I keep having the "cannot find" error with the collection.

[2022-09-22 06:31] mgorny opened #12938 "awxkit: TestOptions.test_actions_with_primary_key fails with Python 3.11"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-09-22 08:06] mick1627 commented on #12922
@fosterseth Thanks I updated extra setting to investigate for the next error.

[2022-09-22 08:41] IAmAStealer commented on #12931
Sorry to waste your time, I found my error, I forgot to specify the host.
I was looking too deep.

[2022-09-22 08:41] #12931 closed, assigned to nobody

[2022-09-22 09:53] wiad commented on #11831
What I really wanted was
[code]
i.e so user privileges set in UI is not revoked on SAML login.

After setting this everything works as expected.

[2022-09-22 11:27] john-westcott-iv opened #12939 "Alter capacity data for instance groups based on state."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-22 17:25] mani3887 commented on #9594
@chris93111 and @HOSTED-POWER : The calculation is based on the CPU and Memory. CPU is calculated based on the value we set in SYSTEM_TASK_ABS_CPU and memory is calculated is based on the value we set in SYSTEM_TASK_ABS_MEM. Based on this the min and max forks are calculated. So if we set the values in awx_task pod as:
          - name: SYSTEM_TASK_ABS_MEM
            value: 4Gi
          - name:

[2022-09-22 17:41] AlanCoding commented on #12829
In the demo/proposal I have, I have example CLI commands that use environment variables to set the vars plugin list. This would be impossible for the user to change, as it takes highest precedence, yes. However, this would only be enabled for inventory updates, not for job runs.

You mentioned the user scenario where inventory / playbook are co-located in the same folder. Yes, for _those_ users, i

[2022-09-22 20:40] ekartsonakis commented on #286
I have this case:
The goal is to ssh to a number of hosts using userX and ssh_priv_keyX. But in one task I want to clone a github repo using `ansible.builtin.git` module delegated to localhost (git@github.... which is ssh too) but using userY and ssh_priv_keyY.
Please note that localhost in this case is the execution environment and I don't want to set a permanent localhost inventory variable `ans

[2022-09-22 23:55] mickkael commented on #286
Only the "Machine" credential is unique per job. But you can pass another
set of credential from another type, you don't need a custom credential.
Then you can use the variable of this credential in your git command

On Fri, 23 Sep 2022, 04:41 Manolis Kartsonakis, ***@***.***>
wrote:

[2022-09-23 08:53] rooso commented on #12254
Hi all, found a workaround in another issues. This will not fix the UI error "Something went wrong..." but at least LDAP authentication is working properly 😃

https://github.com/ansible/awx-operator/issues/642
https://github.com/ansible/awx-operator/pull/961

Fix is merged but into `ansible:devel`, for now you can use the following configuration for Active Directory:
[code]

I'm using `NestedActiv

[2022-09-23 16:10] TheRealHaoLiu opened #12946 "improve waiting behavior for de-provisioning external remote execution node"
currently in our implementation, de-provisioning a node starts a task that will wait indefinitely for all of the jobs to drain from the node

we dont fully understand the negative path impact of this (if the job that's running is stuck)

this may potentially trigger some "timeout" causing the de-provisioning task to be reaped.

we might also want to introduce a mechanism for FORCE de-provisioning

[2022-09-23 18:37] shanemcd commented on #12677
@klauserber Are you still seeing this? If you look at `/api/v2/jobs/<id>` does `job_explanation` have anything in it?

[2022-09-23 19:31] fosterseth commented on #12644
@fust you could trigger a failed job by calling receptorctl work release on the work unit id

1. start the job and let it run, go the api/v2/jobs/jobid/ and look for work_unit_id, take note
2. `kubectl exec -it deploy/awx -c awx-ee -- bash` and run receptorctl --socket /var/run/awx-receptor/receptor.sock work release  work_unit_id

you could also probably just do a `kubectl delete pod` on the job

[2022-09-23 19:54] doubletwist13 commented on #11623
At the very least a toggle would be nice, (perhaps per-inventory source)  to allow for group_vars/all vars to be fully reloaded or something.

[2022-09-23 22:24] lerminou opened #12948 "migrate to AWX 29 migration are broken"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

upg

[2022-09-23 23:04] fosterseth commented on #12644
@wtmthethird
| Running the query on the database produces an ~11MB file. Also, we can see the query we run directly against the database in the logs as well, supporting the earlier question of why are only the ERROR'd jobs showing as queries against the DB?

wondering what the contents of the output is -- my guess is the `result_traceback` is a massive text blob? That would explain why you only se

[2022-09-24 03:09] fosterseth commented on #12644
@wtmthethird 's hint about the db tipped me off --  the sql they posted was essentially just a unified job record from the DB. The only field that _could_ be arbitrarily big is `result_traceback` since it just a text blob. That would also explain why successful jobs were small, as the result_traceback would be empty.

@fust and @wtmthethird also mentioned issue #11338 as a source of this problem,

[2022-09-24 15:48] andreasbourges commented on #12644
Hi,

...we hit a similar issue, that might have the same root cause. Initially reported on google groups (see https://groups.google.com/g/awx-project/c/BTQ51PblMaI for the full thread), I was asked to supply some output from the awx deployment in this github issue.

-> what does "/api/v2/jobs/id/job_events/children_summary" return for the failed job?

result:

{
  "children_summary": {
    "2": {

[2022-09-26 04:10] tanujdevops commented on #11313
Is this issue been resolved? I can't seem to find the README file which is being referenced in this issue.

[2022-09-26 06:25] johan-fk commented on #9027
I made the same misstake and specified a non existing branch. I feel that the error message could be improved.

[2022-09-26 07:18] howardjones commented on #11313
DATA_MIGRATION.md still points to a non-existent section of the README. The README no longer mentions upgrading at all. Is that "resolved"?
(as a user who now wants to upgrade, it doesn't feel resolved)

[2022-09-26 07:25] skydope69 commented on #11313
https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md.

Can you verify if this link is the correct one? If yes, should we add it to the README?

[2022-09-26 07:30] tanujdevops commented on #11313
https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md

Can you verify if this link is the correct one?
If yes, should we add it in the README file?

[2022-09-26 07:43] howardjones commented on #11313
I am talking about https://github.com/ansible/awx/blob/devel/DATA_MIGRATION.md

It doesn't really say anything useful if there is no upgrade information in the README, so I guess deleting it completely is the correct action?

[2022-09-26 07:51] tanujdevops commented on #11313
We could either add the upgrade information or we could just delete it.
We have two options.
I'm an undergraduate student and I'm just getting started with Open Source. I can help in completing tasks, but I don't think I'm qualified enough to take the decision of what the task should be :)

[2022-09-26 08:03] rmcatog commented on #2271
+1

[2022-09-26 14:12] ekartsonakis commented on #286
I agree but in my case, git push is done via a shell command since git module doesn't support push operations (and I don't want to mess with git_acp yet). So in other words I have 2 kinds of ssh (machine) connections in one playbook. For git module tasks, there is no way afaik to tell awx to use "GitHub Personal Access Token" either.

[2022-09-26 14:38] TheRealHaoLiu commented on #12936
this warrants additional discussion due to potential impact for existing install

FYI @sarabrajsingh

[2022-09-26 14:43] TheRealHaoLiu commented on #12946
@AlanCoding what do you think about the current behavior

[2022-09-26 14:49] TheRealHaoLiu commented on #12946
@AlanCoding agree that this can be address this issue post feature branch merge

[2022-09-26 16:01] mabashian commented on #11423
Addressed by https://github.com/ansible/awx/pull/12875

[2022-09-26 16:01] #11423 closed, assigned to mabashian, sarabrajsingh

[2022-09-26 16:12] AlanCoding commented on #5711
This was implemented in a recent merge https://github.com/ansible/awx/pull/12875

@john-westcott-iv @hesmithrh I'm confused about what to do this issue, but it should be either Needs Test or closed.

[2022-09-26 17:27] fosterseth commented on #12644
@andreasbourges thanks for this detailed information!

my current running hypothesis is that uwsgi blows up because the result_traceback on the failed/error job is enormous.

Can you verify that that job has result_traceback that has tons of text?

[2022-09-26 17:35] andreasbourges commented on #12644
Hmmm... how would I verify this?

[2022-09-26 17:48] fosterseth commented on #12644
@andreasbourges sorry should have said, this is a field on the api endpoint of the job

so just navigate to `api/v2/jobs/job_id`and look for "result_traceback" (it probably goes off the right side of the screen, which you can scroll to view)

[2022-09-26 18:15] andreasbourges commented on #12644
Hi,

.your assumption seems to be correct  - the result-traceback has a size of
15 MB (but is this enough to make uwsgi going nuts?). But what makes the job
failing without further notice? Is it the sheer size of the data (looks like
I receive the whole device configuration from nautobot for *each* of the ~
400 devices - might be the problem .)

Will have a look at this.

Thanks,

Andreas

[2022-09-26 18:50] AlanCoding commented on #12946
Yep, feature branch in, :+1: definitely want to take our time and address this properly.

I need to get some background information here - when you tell the system to de-provision a node, does it cancel the jobs on the instance? If not, I understand, but we need to consider the definition of "force" here.

Absent other information, I assume that the node we are de-provisioning can be communicated

[2022-09-26 20:46] kialam opened #12954 "Better handling of Health Checks"
Now that health check tasks are performed asynchronously, there is very little feedback that the user currently receives that the task is running or is completed (ws future-scoped). Here is a list of follow up action items to improve the UX flow:

1. New API field in the Instances model called `health_check_started` to track when a user has submitted a health check
2. UI will show a Pending Health

[2022-09-26 20:51] fosterseth commented on #12644
@andreasbourges the underlying issues seems to be container stdout log rotation, as described here https://github.com/ansible/awx/issues/11338. You need to make sure your environment has container max log size set to value that is sufficiently large. It should be larger than expected stdout of your ansible job

[2022-09-26 20:58] AlanCoding commented on #12946
Looking at this again

https://github.com/ansible/awx/blob/9c2185c68f25646f80fea5ce602540e7eb3f8e67/awx/main/tasks/receptor.py#L690

Confirming, this seems to have the intention to let the jobs follow their natural course until completion. So I would start with the idea of canceling them, and applying some appropriate follow-on wait steps.

[2022-09-26 21:27] AlexSCorey commented on #12903
I think the first item in the task list is sort of addressed [here ](https://github.com/ansible/awx/issues/7565) and since this issue is not isolated to instances or any mesh work I do not think it is a priority for 4.3

For the third item:
We no longer recognize a `Healthy` state on a node, but instead specify different states like those found [here](https://github.com/ansible/awx/blob/devel/awx/

[2022-09-26 21:49] refriedjello commented on #553
I too would love to see a boolean type variable available in Surveys. I'm currently figuring out the best work-around for it and having a native bool type would be very helpful.

[2022-09-27 01:22] climardo commented on #553
[code]
You can use multiple choice with 'true' and 'false' as possible choices. Note, the quotes are not necessary, the values are always read as strings. Then in all.yml or role/defaults/main.yml or similar, you can read that answer (`survey_input` above) with the `bool` filter to become a true boolean variable (`all_yml_var` above).

[2022-09-27 04:26] #6496 closed, assigned to nobody

[2022-09-27 05:08] itsrajatrai commented on #12905
Hi, I want to work on this ?

[2022-09-27 06:14] andreasbourges commented on #11338
Hi - trying to apply the mentioned workaround for k3s, too, but currently I'm unsure on where and how to apply the container-log-max-size configuration. Could you please give me a hint, where and how you deployed that?

Thanks,

Andreas

[2022-09-27 06:22] kurokobo commented on #11338
@andreasbourges
Modify `/etc/systemd/system/k3s.service` and restart K3s,

[code]

Or re-install K3s using script with specific arguments,

[code]

[2022-09-27 06:27] andreasbourges commented on #11338
Thanks a lot - this saves me *a lot* of time!

Highly appreciated!

[2022-09-27 06:54] nicolaibaralmueller opened #12956 "AWX 21.5.0 edit workflow results in failure to save"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

_No

[2022-09-27 08:20] it-pappa commented on #1999
I just found out it is not possible to have more then one group in regular inventorys and using source.

awx 17.0.1.
When trying to use inventory - Sourced from project i just found out it is not possible to add an inventory file with more then just one group.

[2022-09-27 08:42] anasaizg commented on #11338
Hi! I have been reading all your valuable information and tests for the last days, because we are facing the same issue. I just wanted to let you know that, in our case, changing the log configuration didn't solve it, so I'm afraid we have come to the wall of "4h maximum connection time" that is commented in this other issue:

https://github.com/ansible/awx/issues/11805#issuecomment-1249169747

[2022-09-27 08:48] shaaga opened #12957 "Jobs taking exceptionally long time after upgrading to AWX V17.1.0 from AWX v3.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Pre

[2022-09-27 08:52] andreasbourges commented on #11338
Hi,

 thanks for sharing your experience - I adjusted the amount of data
processed in the playbook (way too much information was gathered via an http
request to Autobot) *and* I adjusted the container-log size.

What I can tell is, that opening the output log from the aborted tasks,
still triggers the uwsgi consuming GBs of memory. We're hoping that
adjusting memory consumption will prevent the ta

[2022-09-27 09:02] nicolaibaralmueller commented on #12918
@john-westcott-iv

In my example I have a vmware inventory containing +20 hosts. At the moment hosts can either be targeted directly in the playbook as a group or with hostname. This is too static. It is also possible to create a survey parameter and feed the playbook with a custom hostname, but that can introduce errors in hostname.

It would be better to have a survey type that automatically pop

[2022-09-27 11:10] aimcod commented on #12506
I am able to consistently replicate this using awx-operator 0.29.0 and  AWX 21.6.0 on a Kubernetes K8 Cluster with an external postgres database.

Any job I run, if I want to see the json output of a task, I get this.
![image](https://user-images.githubusercontent.com/87487380/192510359-7d0c4dc1-685b-4f2f-bb01-0cf123a88377.png)

If I refresh the page, I can see the output of the task. Selecting an

[2022-09-27 13:06] #12636 closed, assigned to AlexSCorey

[2022-09-27 13:41] PaulVerhoeven1 opened #12958 "awx-manage generateschema: coreapi pip package is missing"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I j

[2022-09-27 15:30] akus062381 commented on #12876
fixed

[2022-09-27 15:30] #12876 closed, assigned to mabashian, akus062381

[2022-09-27 17:14] TheRealHaoLiu commented on #12946
so currently there are these cases we need to discuss
- waiting for the job to finish with intend of removing the node when no job is running (deprovisioning)
- canceling all job with intend of removing the node when all job are canceled (this is something that customer can manually do already)
- just delete i dont care about the currently running job just delete (forced removal)

[2022-09-27 18:40] HOSTED-POWER commented on #12881
Having the same issue, using k3s 1.24

[2022-09-27 20:00] kdelee opened #12965 "Make awx_status_total items always report a value (0 if none exist in a status)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-27 20:26] AlanCoding opened #12966 "Disable manual health check for control & hybrid nodes"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-28 06:49] JumpIfBelow opened #12970 "LDAP refuses valid URL because of host"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-09-28 08:31] lals1 commented on #12297
This issue started in our environment since a couple of day back and still persistent. Restarting AWX pod did work few days ago but now it seems to not making any difference as all jobs are resulting in ERROR state. Is this any workaround known?

[2022-09-28 12:43] emran119 opened #12972 "In AWX 15.0.0 when I click on completed jobs tab it gives Invalid search term entered. GET returned: 504 msg."
##### ISSUE TYPE

 - Bug, Docs Fix or other nominal change

##### COMPONENT NAME

 - UI

##### SUMMARY

In AWX 15.0.0 when I click on completed jobs tab it gives Invalid search term entered. GET returned: 504 msg.
And from couple of days this error has become frequent which makes using AWX almost unusable for me and my team. It sometimes throws the same error for other tabs but for completed job

[2022-09-28 12:47] scottharwell commented on #12881
Adding that this does appear to be a persistent issue on most modern versions of K3s.  I upgraded from `1.24` to `1.25` last evening, and the issue has persisted.

[code]

[code]

Like others, the issue appears to manifest when multiple slices, regardless of automation task, are running simultaneously despite plenty of available resources.  The issue occurs immediately upon container creation.

De

[2022-09-28 13:09] sarabrajsingh commented on #12936
unit tests for supporting:
- [x] ipv4
- [x] ipv6
- [x] simple hostname
- [x] hostnames with domains or subdomains

[2022-09-28 13:39] Rakesh2904 commented on #12852
Apparently I missed the basic step to use this feature, this helps but make sure there is no_logs: true is enabled

    - name: Gathering machine username and password
      no_log: true
      set_fact:
        machine_user: "{{ ansible_user }}"
        machine_password: "{{ ansible_password }}"

[2022-09-28 13:39] #12852 closed, assigned to nobody

[2022-09-28 13:48] AlanCoding commented on #3384
@sarabrajsingh thinking on this, I'm now leaning towards the idea that we should have a shared _serializer_ field class for this case, so it's not enforced on the model in any case.

[2022-09-28 15:05] fosterseth commented on #12972
Hello! thanks for including the screenshots, that is always helpful. This issue pertains to an older version of AWX that we don't support. Please try upgrading to the latest version and let us know if that resolves your issue.

[2022-09-28 15:05] #12972 closed, assigned to nobody

[2022-09-28 15:31] andreasbourges commented on #12644
Just to let you know - reducing the data received from the inventory and tune container log rotation made our jobs run stable again!

Thanks for your support!

[2022-09-28 15:43] fosterseth commented on #12938
need to do some investigation around this

[2022-09-28 15:45] fosterseth commented on #12938
@mgorny it appears we currently only test on 3.9 as part of our test matrix. Have you ran these against 3.9 by chance?

[2022-09-28 15:57] mgorny commented on #12938
Yes, up to 3.10 the tests pass (or at least passed at the time).

[2022-09-28 16:53] TheRealHaoLiu commented on #12936
conversation with @Zokormazo and @AlanCoding confirm that i is save to add this validation to the API serializer
and we should add it

FYI @jbradberry

[2022-09-28 17:23] AlanCoding commented on #12936
I also want to link https://github.com/ansible/awx/issues/3384, as it may involve effectively the same or similar logic.

[2022-09-28 18:02] #12965 closed, assigned to nobody

[2022-09-28 19:59] djyasin commented on #12970
Hello,
At this time there is a minimum of at least two characters for top-level domains. For more information, please see: https://www.icann.org/en/system/files/files/ua-factsheet-a4-17dec15-en.pdf

Please let us know if revising to two characters resolves this for you.

[2022-09-28 20:04] djyasin commented on #12957
Hello, this appears to be less of a bug report or feature request and more of a question. Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-09-28 21:31] TheRealHaoLiu commented on #12946
from @jbradberry
### deprovisioning
- remove the wait-loop that polls for job completion
- trigger the task from within the task manager's reaper logic
- make sure that the side-effect model saves happen in an appropriate place (I think the link states will have to move out of the task)
- make sure that the task manager accumulates the nodes in 'deprovisioning' state as well as 'ready' so that the

[2022-09-28 21:35] TheRealHaoLiu opened #12977 "provide option to cancel all jobs for a external execution instance when removing a instance from AWX"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-09-28 21:36] relrod commented on #9062
I believe this is fixed by #12950.

[2022-09-28 21:36] #9062 closed, assigned to relrod

[2022-09-28 22:45] keithjgrant commented on #12079
This is also blocked until we have a plan for migrating off Enzyme to RTL. One possible stopgap to use during migration is to run enzyme tests under React 17 but new tests and the app itself under react 18: https://medium.com/welldone-software/two-ways-to-run-tests-on-different-versions-of-the-same-library-f-e-react-17-react-16-afb7f861d1e9

[2022-09-29 02:40] fosterseth commented on #12881
can easily reproduce this on k3d, v1.24.4+k3s1

1. deploy AWX on k3d
2. launch a handful of demo jobs at once. A good number will fail with the error `Stream error running pod: stdin: error dialing backend: EOF, stdout: http2: response body closed`

error occurs when trying to pass stdin into pod using the spdy stream k8s option

https://github.com/ansible/receptor/blob/devel/pkg/workceptor/kubern

[2022-09-29 08:31] ecurti opened #12978 "AWX Applications - A server error has occured (errcode 500)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hel

[2022-09-29 08:41] ecurti commented on #12978
I've found a solution to this issue clearing "Applications" tables on awx database.

So I've deleted records for applications config in main table "main_oauth2application" but first related tables "main_oauth2accesstoken", "oauth2_provider_refreshtoken" only for the records affected.

I had to re-insert applications configuration but now works fine.

[2022-09-29 08:41] #12978 closed, assigned to nobody

[2022-09-29 14:47] stanislav-zaprudskiy commented on #12922
This could be https://github.com/ansible/ansible-runner/issues/998

[2022-09-29 20:07] fosterseth opened #12981 "Saving facts_cache performance enhancements"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-09-30 05:18] Murf opened #12982 "AWX connecting to RHEL host as root instead of username from credentials"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-09-30 07:41] shenxg13 opened #12983 "The jobs stuck on running and awx.main.commands.run_callback_receiver not called"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

The

[2022-09-30 14:53] deanso commented on #12506
@aimcod
I have the same issue (only on running jobs) but not on every task output. It appears to manifest if a task output has multiple lines (> 10).
If the jobs has ended, I don't get the error.
Currently using the same versions as you: operator 029.0 and awx 21.6.

Will be trying awx 20.x when I have some time.

[2022-09-30 15:49] aimcod commented on #12506
@deanso are you running awx on an external/remote database?

[2022-09-30 18:00] deanso commented on #12506
I have tested it today on internal postgres db pod on a k8s cluster. But I doubt it's a resourcing issue.

Also have another instance on an external RDS database, so I could try it on that instance next week.

[2022-09-30 18:45] itsrajatrai commented on #12905
@djyasin Is this issue still open ? I want to work on this issue. Can you Please assign this to me ?

[2022-09-30 19:33] 06seasparkle commented on #12506
Hi ,
we are experiencing the same error while scheculing inventory at AWX 21.6.1 version on docker-compose
can you help us,please ?

TypeError: Cannot read property 'ask_labels_on_launch' of undefined
TypeError: Cannot read property 'ask_labels_on_launch' of undefined
    at D9 (https://*****static/js/main.1b869fd4.js:2:2542040)
    at oo (https://******/static/js/main.1b869fd4.js:2:850659)
    at

[2022-10-01 00:16] whitej6 opened #12984 "Allow Granular Configuration Of Generic OIDC SSO Provider"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-02 09:07] mihai-satmarean opened #12990 "webhook notification cannot use the variables from the result"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

we

[2022-10-02 20:00] AlekseiSaff commented on #12956
https://github.com/ansible/awx/issues/12782

[2022-10-03 11:56] deanso commented on #12506
@aimcod , just tested this, but I have this issue also on an external RDS database.

[2022-10-03 13:10] #12710 closed, assigned to nobody

[2022-10-03 13:46] Quiwy opened #12991 "Workflow limit does not limit on AWX 21.6.0"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hi,

[2022-10-03 14:04] jbradberry commented on #12946
PR: https://github.com/ansible/awx/pull/12980

[2022-10-03 14:23] djyasin commented on #12905
Hi @therajatrai! This issue is absolutely still open and you may certainly work on it! I have gone ahead and assigned you as per your request.

[2022-10-03 14:59] JackelynOliveira commented on #2495
For whoever is wondering how to use GitHub Deploy Keys after generating them on GitHub, you can create a SCM credential and fill only the `SCM private key` field with the Deploy Key (more specifically the private key as the name of the field suggests - and the public one you set on GitHub only) and then the username and password fields can be left blank.

[2022-10-03 17:19] sylvain-de-fuster-maif commented on #11805
Hello,

As many here, we have the same behaviour on our side. (AWX 21.5.0 with k3s)
The informations given before don't give a good perspective for a quick resolution.

We have some issues in our migration tests but this one is on top.
We don't have a lot of long duration jobs but they are very important.

Is there anybody with a workaround for long duration tasks ? How do you proceed in the meant

[2022-10-03 18:58] fosterseth opened #12992 "scm_url doesn't allow [IPV6]:portnum format"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

IPv

[2022-10-03 23:19] keithjgrant opened #12994 "Fix missing job summary after watching job run"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Fol

[2022-10-04 03:41] Rocking80 commented on #989
Hi @fiftin , I used the old version of AWX, and exported the docker images then imported them on my envionment, it's complicated. So I am going to try Semaphore jhaesselbacher mentioned.

[2022-10-04 04:00] itsrajatrai commented on #12905
Thankyou @djyasin . I'll push a PR asap.

[2022-10-04 08:25] Ghost0shell opened #12999 "Pg_notify / Psycop : InvalidParameterValue: payload string too long"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I t

[2022-10-04 10:21] ghost commented on #12262
Hi,

I was hitting this exact same issue but was able to work around it with setting `policy_instance_percentage` to `null`.

E.g.
[code]

[2022-10-04 11:02] bartowl commented on #11805
The only workaround that worked for me was to create a workflow, and split the task in multiple jobs. It does not even require multiple job templates if you work smart with tags, marking some tasks with tag like step1, next with step2 and so on, and than include the same job template in workflow multiple times, each time with different tag. Passing variables between different steps can be realised

[2022-10-04 11:23] sylvain-de-fuster-maif commented on #11805
Thanks for your reply.
This is a very interesting workaround. We will experiment with that way and see if this is compatible and not too painful for our users's workcases.

[2022-10-04 11:24] jedla01 opened #13000 "controller_api support for 3Scale user_key in headers (or any custom headers)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-10-04 13:16] lucasteinke commented on #1491
I created a playbook with just the following:

[code]

But AWX, after starting the Job, complains that `ERROR! the playbook: playbooks/specific/test-playbook.yml could not be found`. What am I doing wrong here?

[2022-10-04 13:24] Sispheor commented on #11336
Hello there.
I'm coming after the battle as it has been already merged in dev.
But it seems that this is a regression. Who can do more can do less. The flag 'update_on_project_update' was very useful to keep the control on what we have in AWX and it was not confusing at all.
We'll now be full of useless logs about the sync on each job execution.
I guess that we'll now have to code something to exe

[2022-10-04 13:40] #12903 closed, assigned to AlexSCorey

[2022-10-04 14:02] stanislav-zaprudskiy commented on #12862
I observe the similar behavior with AWX `21.0.0` and `instance modify` sub-command. Testing against AWX `21.7.0` works, however. `awxkit` version `21.0.0` or `21.7.0` doesn't make much difference though.

[2022-10-04 14:31] AlekseiSaff commented on #12782
21.7.0 - resolved

[2022-10-04 14:56] djyasin commented on #12905
It's my pleasure! Thank you for contributing!

[2022-10-04 15:11] Uzzi commented on #11879
Hi, same problem with awx-oprator 0.30.0

[2022-10-04 16:09] AlanCoding commented on #12999
Thanks, this is a fantastic issue report. I was able to reproduce this behavior by the following steps:

 - Create a job template that allowed concurrent jobs, and had a related project with `update_on_launch` set
 - disabled all instances in my cluster
 - launched approx 242 jobs from that JT
 - re-enabled a control node

In my case the payload string was 8513 characters long. Here's what it look

[2022-10-04 16:44] antuelle78 opened #13002 "Unable to add schedule to inventory source"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-10-04 17:08] barzog commented on #11943
So, instead of running job in multiple instance groups where IG is based on host inventory hostvar we must manually create workflow for each job template and in each workflow we must add same job template but with different inventory value (IG is set on inventory level).
This kind of work is not error prone and disable single source of truth in git for inventory files (workflows are not getted fro

[2022-10-04 20:21] #12992 closed, assigned to relrod

[2022-10-04 21:04] AlanCoding commented on #12999
I'm not going to start working on this issue, because it doesn't appear to be a new regression, and I've love to see someone else take a stab at it.

In the general, it's hazardous to submit tasks through to the dispatcher with very large (or unbounded) data in kwargs. You can see that large list under `subtasks` included in the payload. Anyway we remove that from the call pattern (even to just ru

[2022-10-04 22:49] HOSTED-POWER commented on #12881
Any update on this? It's very severe if you suffer from it... :)

I fixed it for now by downgrading the whole kubernetes to 1.21 as suggested here: https://groups.google.com/g/awx-project/c/LKPpxPpXIAk

[2022-10-05 02:51] timmay54 opened #13003 "Documentation/Example for adding Isolated Node"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-05 03:03] AlanCoding commented on #12981
Related testing content

https://github.com/AlanCoding/utility-playbooks/tree/master/AWX12981

I wanted a fact with a randomized file so I that I could be sure that it changed with every run.

[2022-10-05 04:00] Murf commented on #12982
Updated to AWX 21.7 and still have the same issue.

This can also be explained as the following:

Here is my playbook, and the settings to use the machine credential username, yet it still does ssh as user=root

---
- name: Update Packages
  hosts: "{{ vm_inventory_group }}"
  become: yes
  become_method: sudo
  gather_facts: yes

  roles:
    - update_rhel_packages
  vars:
    machine:
      user

[2022-10-05 06:37] Ghost0shell commented on #12999
Hi @AlanCoding ,

Thanks for having worked on my report :) . It's a particular case who's happen in specific condition, but I hope a fix will come in a future release :)

[2022-10-05 07:11] DrBautze commented on #12241
Issue persists with 21.7.0. Any update on this?

[2022-10-05 07:17] nicolaibaralmueller commented on #12881
Upgrading to 21.7.0 on 1.25.2+k3s1 fixed the error for me.

[2022-10-05 09:00] stanislav-zaprudskiy commented on #12343
This could be https://github.com/ansible/ansible-runner/issues/998

[2022-10-05 09:08] stanislav-zaprudskiy commented on #12746
Upon start-up a job pod receives an associated project content over network. If you have a large project or bad network between AWX pods and job pods, streaming contents may be taking time.

[2022-10-05 09:09] stanislav-zaprudskiy commented on #12685
This could be https://github.com/ansible/ansible-runner/issues/998

[2022-10-05 13:46] CFSNM commented on #12913
Validated from QE side

[2022-10-05 13:46] #12913 closed, assigned to CFSNM

[2022-10-05 13:46] CFSNM commented on #12928
Validated from QE side

[2022-10-05 13:46] #12928 closed, assigned to CFSNM, TheRealHaoLiu

[2022-10-05 14:42] akira6592 opened #13004 "RFE: Make the value of a variable in a survey available in YAML in the inventory source"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-05 14:54] 06seasparkle commented on #13002
hi ,
do you have any solution suggestions ?
can we share us ?

[2022-10-05 15:18] thenets commented on #12485
I believe we can close it.

[2022-10-05 15:18] #12485 closed, assigned to relrod, thenets, lucab85

[2022-10-05 17:00] fosterseth commented on #12881
@HOSTED-POWER @nicolaibaralmueller

I have this upstream receptor PR that I am hoping addresses this issue https://github.com/ansible/receptor/pull/673

One thing I noticed when replicating this issue,

if I start my k3d services with

`k3d cluster create sbf`, I can't reproduce the problem

if I start my k3d services with

`k3d cluster create sbf -p "8043:30080@agent:0" --agents 2`

I do get the

[2022-10-05 17:23] fosterseth commented on #12991
sounds similar to https://github.com/ansible/awx/issues/8561

[2022-10-05 17:51] fosterseth commented on #12970
closing issue for now, please open a new one if you feel it is not resolved.

[2022-10-05 17:51] #12970 closed, assigned to nobody

[2022-10-05 17:53] fosterseth commented on #12958
@PaulVerhoeven1 were you able to resolve this?

what if you manually pip install `coreapi` and and re-run? they need to source the awx venv first

`source /var/lib/awx/venv/awx/bin/activate`

[2022-10-05 18:00] fosterseth commented on #12957
Thanks for detailing your issue. Unfortunately, we don't support v17 or v3 anymore, so we'll close the issue for now. Please feel free to open a thread on the mailing list, as linked above.

[2022-10-05 18:00] #12957 closed, assigned to nobody

[2022-10-05 18:17] djyasin commented on #13003
Hello,
We plan to have execution nodes available in an upcoming release. We would suggest that you upgrade to the newest version once available for this functionality.

[2022-10-05 18:25] djyasin commented on #12990
Hello, this appears to be less of a bug report or feature request and more of a question. Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-10-05 18:26] djyasin commented on #12982
Hello, this appears to be less of a bug report or feature request and more of a question. Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information on ways to connect with us.

[2022-10-05 18:37] kurokobo commented on #13003
The execution node seems to be available with 21.7.0 and there is a good documentation for this 😃
https://github.com/ansible/awx/blob/devel/docs/execution_nodes.md

[2022-10-05 21:37] ghost opened #13010 "Receptor installation playbook (use community.general.copr)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-05 22:19] Murf commented on #12982
@djyasin Sure I can do that, though i disagree with your classification. I look forward to being proven wrong.

[2022-10-06 01:57] #12936 closed, assigned to sarabrajsingh, CFSNM

[2022-10-06 06:52] nicolaibaralmueller commented on #12782
I can confirm. Issue resolved.

[2022-10-06 06:52] nicolaibaralmueller commented on #12956
Resolved with version 21.7.0

[2022-10-06 06:52] #12956 closed, assigned to nobody

[2022-10-06 07:16] ghost commented on #13010
I'm closing this since I've been thinking about this and I believe the whole installation can be improved. I will open a new feature request if I'm able to put all on paper.

[2022-10-06 07:16] #13010 closed, assigned to nobody

[2022-10-06 07:56] Sunidhi-Gaonkar1 opened #13011 "CI Enablement for Power Platform."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-06 13:41] #13002 closed, assigned to marshmalien

[2022-10-06 13:55] 06seasparkle commented on #13002
Hi ,

I could not understand the solution method.
How exactly do we do it?
can you explain more clearly?

BR
Hulya

From: Sarah Akus ***@***.***>
Sent: 6 Ekim 2022 Perşembe 16:42
To: ansible/awx ***@***.***>
Cc: HULYA KAYIKCI ***@***.***>; Comment ***@***.***>
Subject: [EXTERNAL]:Re: [ansible/awx] Unable to add schedule to inventory source (Issue #13002)

Closed #13002<https://ddei5-0-ctp.trendmic

[2022-10-06 13:57] akus062381 commented on #13002
@06seasparkle, a fix has been completed and will be included in our next release in November. Thank you!

[2022-10-06 17:47] AlanCoding commented on #6807
I put up a patch https://github.com/ansible/awx/pull/12998

The patch does this.

The patch does not do this.

It does not fix this, because the bottleneck there is probably disk interaction writing the facts. If it's the query, it's unlikely we can do much about it.

The patch does add a `.iterator()` so that hopefully, if it is taking a long time, it won't balloon memory to the extent mentioned

[2022-10-06 17:50] AlanCoding commented on #12981
This may be somewhat of a duplicate of https://github.com/ansible/awx/issues/6807

[2022-10-06 21:29] creativemind-pluto opened #13013 "AWX 21.4.0 - Job stays stuck in pending with no other jobs running"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

_No

[2022-10-07 08:01] MarcusCaepio commented on #553
+1 for bool in surveys

[2022-10-07 11:43] RogerSik opened #13014 "AWX SAML User Flags Attribute Mapping: Expect a list of elements"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I w

[2022-10-07 11:45] RogerSik commented on #13014
Same in SAML Organization Map:

![07_13-44-55](https://user-images.githubusercontent.com/165814/194545672-9150ec87-e4eb-49c9-b51a-af505d668eed.png)

[2022-10-07 14:18] akus062381 opened #13015 "Cached files allowing an inventory sync when the project sync failed"
When a user creates an inventory sync using a project taken from a repo that has somehow cached the inventory files in that repo, BUT the project sync had subsequently failed, the inventory sync is still allowed to be created against that project. The inventory sync, of course, fails because the project was not synced successfully, and the failure will cause user confusion if this occurs.

This on

[2022-10-07 17:34] mani3887 opened #13016 "Long running jobs go to failed state in AWX with the error "Job terminated due to timeout""
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Lon

[2022-10-07 18:36] mabashian commented on #12040
Closing this for now - we want to align with Patternfly's recommendations on the login screen.

[2022-10-07 18:36] #12040 closed, assigned to nobody

[2022-10-07 19:32] #10986 closed, assigned to fosterseth

[2022-10-07 19:47] AlanCoding opened #13017 "Race condition that can make jobs have "failed" status due to canceling it"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

In

[2022-10-07 20:04] kdelee opened #13019 "include node type in awx_instance_info and/or awx_instance_*_capacity metrics"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-08 01:11] gainskills commented on #12266
[code]
it solved the same issue, after rebuild awx docker-compose
[code]

_Originally posted by @SckyzO in https://github.com/ansible/awx/issues/12266#issuecomment-1188492218_

and the solution:

it works for me

[2022-10-08 01:31] kurokobo opened #13020 "Genrated certificate in install bundle for Execution node is valid only for 10 days"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

The

[2022-10-08 09:30] Decstasy commented on #553
That is a bad idea by my experience as described in the [2.8 Porting Guide](https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.8.html#module-option-conversion-to-string):

And further on:

Depending on the use case the author can cause involuntary problems. From my perspective to avoid any confusing problems by converting types, it's better to have a native booleans that will b

[2022-10-08 09:38] gainskills commented on #12266
the solution for me is (awx version: `21.7.0`)
- edit `tools/docker-compose/ansible/roles/sources/tasks/main.yml`
- search openssl
- add `-traditional` param to the command

[2022-10-08 10:08] climardo commented on #553
@Decstasy I don't think the solution that I provided is ideal, but I don't think that it's the same as what is referenced in your first quote. I believe that is referring to actually using 'true' (string) in your play and not what I suggested, which is casting a string to a boolean data type. It's also provided as an example in Ansible docs: https://docs.ansible.com/ansible/latest/user_guide/playb

[2022-10-08 13:39] TheRealHaoLiu commented on #13020
You are amazing

[2022-10-08 22:12] kurokobo commented on #13020
@TheRealHaoLiu
Thanks for commenting, I've create PR for this anyway.
Please feel free to reject that PR, if I'm on the wrong way or the PR for this should be made by member of ansible (or redhat) org to merge rapidly. Thanks! 😃

[2022-10-09 03:08] relrod commented on #13015
This behavior seems to depend on whether or not the Project has "Update revision on launch" set or not.

Here is what I think is happening after spending some time tracing bits and pieces of this code. I'm hoping maybe @AlanCoding can clear up anything I get wrong here.

If "Update revision on launch" is set on the project, when we trigger an inventory source update, we are actually launching _two

[2022-10-09 08:34] piaoxue1949 opened #13023 "Centos: Steam9 can't resolve the domain name, so it can't be installed with Docker"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-10-09 08:52] piaoxue1949 commented on #13023
[code]

![微信图片_20221009165101](https://user-images.githubusercontent.com/10650603/194747375-006fbecb-4b58-4d7e-86da-3dfaeb03e34f.png)

[2022-10-10 00:23] TheRealHaoLiu commented on #13020
Can I connect with you on LinkedIn I want to see if our community team can send u an angry potato plushy (if they can't I will do it)

[2022-10-10 00:24] #13020 closed, assigned to nobody

[2022-10-10 06:17] kurokobo commented on #13020
@TheRealHaoLiu
Thanks for merging PR! And of course yes, I've sent a request to you on LinkedIn :)

[2022-10-10 10:14] arcsurf commented on #11805
Hi adpavlov, before all, thank you for sharing your experience. I was wondering if maybe you get any workaround or answer. I keep trying but I can't find the solution. Now I'm using CRIO-O as container runtime, I see on other post that somebody tried with Docker runtime too and it didn't work. Thank you.

[2022-10-10 10:28] adpavlov commented on #11805
Unfortunately not. All proposed workarounds simply have no positive effect.
Probably @meis4h got some response from redhat support? I bet that SLA already violated:)

[2022-10-10 11:18] arcsurf commented on #11805
I'm sorry @adpavlov, Yes I was trying to ask to @meis4h. Maybe @meis4h got some from Redhat.

Thank you everyone.

[2022-10-10 12:30] shanemcd commented on #13023
I'm assuming something broke on the centos side of things. It should resolve itself, if it hasn't already. We can leave this issue open until someone confirms.

[2022-10-10 12:35] quentinbadoud commented on #7362
Any news about this? This feature would be much appreciated

[2022-10-10 12:59] bartowl commented on #11805
after looking more deeply into this issue, AWX uses [receptor](https://github.com/ansible/receptor)  to handle running k8s pods. It might be, that the fix that we need is either by calling receptor in a different way, or even the issue should be reported against receptor. In particular, receptor is being called from [run_until_complete](https://github.com/ansible/awx/blob/21.7.0/awx/main/tasks/rec

[2022-10-10 12:59] meis4h commented on #11805
@adpavlov @arcsurf sadly I don't have anything new to report from Red Hat. They said they also are tracking this internally and are working on a fix but there is no ETA since there is no SLA on bugs like this.

[2022-10-10 13:44] arcsurf commented on #11805
@meis4h :( Thank you for your answer. Let's keep looking for the solution. :)

[2022-10-10 13:54] mabashian opened #13024 "Don't split smart inventory variables help text up on separate lines"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-10-10 14:42] AlexSCorey commented on #12966
I believe this is already addressed in the UI

[2022-10-10 18:30] kdelee opened #13029 "all cluster nodes in development environment have the same UUID"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

All

[2022-10-10 21:57] brando56894 commented on #6056
Is there any movement on this? It's be 2.5 years....

[2022-10-10 22:38] kurokobo commented on #13023
@piaoxue1949
The latest `centos:stream9` works on my side.
If your issue persists after re-pulling the image, simply there might be issues around your Docker network and/or name resolution in contianers (and if so this is not AWX issue).

[code]

[2022-10-11 01:07] Murf commented on #12982
For anyone else who ever has this problem dont put this in the Inventory Yaml :(
username: root

[2022-10-11 01:07] #12982 closed, assigned to nobody

[2022-10-11 02:24] AlanCoding commented on #11336
Almost that. If you launch a job that uses an inventory that updates on launch, and it sources from a project that updates on launch, then the new expectation is that the project will update _then_ the inventory will update with the updated project state and _then_ the job will run with the updated inventory state. This was the primary use case of the old "update_on_project_update" but I'm interes

[2022-10-11 05:21] fosterseth commented on #12881
Receptor PR merged (see above) and should be fixed in `awx-ee:latest` as of today.

Redeploying AWX on your k8s clusters should trigger a download of the latest awx-ee image -- no AWX update will be needed to get the fix.

for those who were previously experiencing the bug, please let me know if this helps!

[2022-10-11 07:37] Mrmel94 commented on #12881
Hi @fosterseth thank you for your work ! But I'm using my own awx-EE which is built with ansible-builder. So I'm using this base image : quay.io/ansible/ansible-runner:latest

There is any solution for me to get the fix with this ?

Edit : In fact I just saw that awx-ee:latest also uses this image, and I think this line in the additional_build_steps: - COPY --from=quay.io/ansible/receptor:devel /u

[2022-10-11 07:59] vibinm commented on #10211
Hi,

Just wanted to ask whether the job status is showing correctly in the GUI
once it is completed. For me it shows "running" even though the job is
finished in the background and we need to cancel it to make it stop.

I see this problem even on the latest version, do we have any fix or
workaround for this?

Regards,
Vibin

On Sat, 5 Mar 2022, 01:35 chris93111, ***@***.***> wrote:

[2022-10-11 08:31] 06seasparkle commented on #13002
Hi ,

Can't we fix without updating the version?

From: Sarah Akus ***@***.***>
Sent: 6 Ekim 2022 Perşembe 16:57
To: ansible/awx ***@***.***>
Cc: HULYA KAYIKCI ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL]:Re: [ansible/awx] Unable to add schedule to inventory source (Issue #13002)

@06seasparkle<https://ddei5-0-ctp.trendmicro.com:443/wis/clicktime/v1/query?url=https%3a%2f%2fgithub.com%2f0

[2022-10-11 09:20] joeywashburn commented on #11886
With this new information I was able to find
https://github.com/ansible/awx/issues/3757

Looks like this has been reported before

On Fri, Mar 11, 2022 at 10:19 AM Michael Abashian ***@***.***>
wrote:

[2022-10-11 09:29] kurokobo commented on #12881
@Mrmel94
Just for your information, in my understanding the container that should use updated Receptor is not _the EE for your Job_, but _`awx-ee` container in AWX's Pod_.
If you don't use custom EE image for control plane, I think all you need to do is just make sure that Kubernetes pulls the new image for `awx-ee` container again. The way to achieve this depends on your `imagePullPolicy`.

[2022-10-11 09:36] adpavlov commented on #12881
I am building single image for both control plane EE and actual worker EE based on `quay.io/ansible/awx-ee:latest`. However, I started to face issue building it with ansible-builder like it described [in this question](https://serverfault.com/questions/1112486/awx-execution-environment-pip-error-resolutiontoodeep-2000000)

[2022-10-11 09:44] Sispheor commented on #11336
Ok so to keep the control on what is executed we need to uncheck "update_on_launch" from the project and then only start a sync of both project and inventory on demand.

[2022-10-11 12:01] aaronray opened #13032 "How to add isolated nodes on awx 21.7.0?"
##### ISSUE TYPE
 - Bug, Docs Fix or other nominal change

##### COMPONENT NAME
 - CLI

##### SUMMARY
I have tried to add an execution node with awx-manage tool, but the node started failed after a while.

##### ENVIRONMENT
* AWX version: 21.7.o
* AWX install method: operator
* AWX deployment target: kubernetes
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE
1.Enter aw

[2022-10-11 13:38] mabashian opened #13033 "Attempting to relaunch adhoc command that requires password throws error"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

![a

[2022-10-11 15:30] ArtsiomMusin opened #13036 "Collection awx.awx.tower_import is slow"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

tow

[2022-10-11 16:18] kialam opened #13038 "Topology view enabled/disabled node state resets when a user resizes browser window"
1. Enable/disable a node in the instances drawer in Topology view
2. Resize window.
3. Observe that the toggled node resets to its previous state

This behavior fixes itself on page refresh.

![Screen Shot 2022-10-12 at 7 48 44 AM](https://user-images.githubusercontent.com/2293210/195376531-fd290adc-28de-46d2-8c49-c65e3fb83fc9.png)
![node_enabed_resize](https://user-images.githubusercontent.com/22

[2022-10-11 16:38] Q-Hilbtec commented on #1999
Staggering that this is still an issue - this really seems like a core feature request and has been requested since 2018.

[2022-10-11 16:47] djyasin opened #13039 "Onboarding docs update"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-11 17:11] #13024 closed, assigned to mabashian

[2022-10-11 20:37] #13033 closed, assigned to mabashian, akus062381

[2022-10-11 21:45] kurokobo commented on #13032
There is a good guide to add execution node: https://github.com/ansible/awx/blob/devel/docs/execution_nodes.md

[2022-10-12 08:19] Tobias-Pe opened #13045 "Option to clear Variables on inventory level"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-12 08:22] Tobias-Pe commented on #5682
I see that this is not a Bug but an intended behavior because of manually added variables in awx.
In #13045 i suggest an opt-in to clear all variables before a sync, so us who disturbes this behavior have the option to always have mirrored variables in our inventories.

[2022-10-12 09:19] IAmAStealer opened #13046 "change authentication URL on docker registry credential"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-12 12:20] eschaarschmidt opened #13047 "TypeError: 'NoneType' object is not subscriptable when linking a workflow_job_template from another workflow_job_template"
##### ISSUE TYPE
 - Bug, Docs Fix or other nominal change

##### COMPONENT NAME
 - Collection

##### SUMMARY

We are using the awx ansible collection to create workflow templates in awx.
We want to trigger anouther workflow inside a awx.awx.workflow_job_template.
For this to be functional, we add

[code]

and then link it with:

  - name: name
    awx.awx.workflow_job_template_node:
      identifi

[2022-10-12 14:19] bschaeffer commented on #11338
Just want to say that increasing size before log rotation does not solve the problem. It just decreases the likelyhood that your run will take place or trigger a log rotation that causes the error. Its not a solution to this problem in any way.

[2022-10-12 14:29] msilmser commented on #12576
@keithjgrant hey keith, is this actively being worked on? looking at a possible backport for 2.1 if possible.

[2022-10-12 15:11] sarabrajsingh commented on #13047
hi @eschaarschmidt,

are you able to reproduce this error from within the application itself? we are trying to figure out if this potential bug is actually in `awx` or within `awx.collections`.

thanks,

AWX Team

[2022-10-12 15:17] AlanCoding commented on #12576
It is likely that in 2.1 the mechanism behind this was entirely different.

[2022-10-12 15:20] sarabrajsingh commented on #13046
hey @IAmAStealer,

You can modify the `authentication_url` in the API by modifying the `inputs.host` field.

##### example in the API:
[code]

could you try and add a `host` field to the call in the collections?

[code]

[2022-10-12 15:33] sarabrajsingh commented on #13036
hi @ArtsiomMusin,

how big is your import? how many objects are you trying to import?

seem like you're running tower. there is a LDAP issue in `tower` if you're using basic authentication which causes an excessive amount of database traffic, which could be slowing down your import.

please let us know,

AWX Team

[2022-10-12 15:34] sarabrajsingh commented on #13032
Hello, this appears to be less of a bug report or feature request and more of a question. Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-10-12 15:34] #13032 closed, assigned to nobody

[2022-10-12 15:38] #12954 closed, assigned to jbradberry, akus062381

[2022-10-12 15:39] AlanCoding commented on #13045
This sounds like the same thing articulated in this comment of a prior issue:

https://github.com/ansible/awx/issues/11623#issuecomment-1256616629

My hesitation is that _both_ behaviors (checkbox checked or not checked) are wrong, and it should be fixed properly.

My suggestion is that we track "all" variables on inventory source by adding a new field like `InventorySource.variables`. This should

[2022-10-12 15:47] andreasbourges commented on #11338
Hi Braden,

.I totally agree - this is a non-deterministic workaround, but in
combination with the reduction of the generated logs we're running fine so
far - not a single error since the change (before we had a chance of 50:50).
And in the absence of any alternatives, we are happy to have this one.

Do you know of any other ways to solve this?

Thanks,

Andreas

Von: Braden Schaeffer ***@***.***>

[2022-10-12 15:54] sarabrajsingh commented on #13016
hi @mani3887,

you might be running into job timeouts. could you please take a look at your `settings` API endpoint at `<YOUR AWX URI>/api/v2/settings/all/` and see if there are job timeouts that conflict with the runtime of your playbook? your pause + loop conditions will give a runtime of +60min.

Thanks,
AWX Team

[2022-10-12 16:03] sarabrajsingh commented on #13014
hi @RogerSik,

check out section 17 here - https://docs.ansible.com/automation-controller/latest/html/administration/ent_auth.html#saml-settings

specficially:
[code]

the `role` and `value` fields should be a list and not a string-type.

it seems like our documentation is out of date. we will take the appropriate steps to rectify that mistake on our end.

thanks,
AWX Team

[2022-10-12 16:03] jbradberry commented on #13019
There is also now a state field that may or may not be worthwhile to add to metrics as part of this work: https://github.com/ansible/awx/pull/12587

[2022-10-12 16:05] keithjgrant commented on #12576
@msilmser I just picked it up. trying today to reproduce/determine if it's still an issue

[2022-10-12 16:06] fosterseth opened #13049 "Update AWX SAML docs -- strings to lists"
https://github.com/ansible/awx/blob/devel/docs/auth/saml.md#example-saml-user-flags-attribute-mapping

these docs are inaccurate -- for example `"is_superuser_role": "awx_admins",` now expects a list

step 17 here describes it correctly https://docs.ansible.com/automation-controller/latest/html/administration/ent_auth.html#saml-settings

We need to update the docs with proper examples of how these

[2022-10-12 16:11] msilmser commented on #12576
@keithjgrant @AlanCoding thanks guys! ill follow here for updates.

[2022-10-12 19:24] #13038 closed, assigned to kialam, akus062381

[2022-10-12 19:52] IAmAStealer commented on #13046
Hello,

Thank for the information, is it possible to add this kind of information in the documentation then ?

[2022-10-12 22:27] instaclustr-oss commented on #7666
I came across a need for this today, would be great to have 'regex' field for text type questions. In the same wheelhouse I had to use the older awx-cli tool to modify a job_template survey_spec, in a script where i was otherwise using 'awx' command. I had a heck of a time setting up a survey, do people just use REST calls directly?

[2022-10-13 01:19] 0xbentang commented on #12506
Same error with awx-operator 0.29.0 and AWX 21.6.0 and internal postgres. Can we reopen this issue?

The error is very consistent. Refreshing the page works but it's very annoying

[2022-10-13 06:40] craph opened #13051 "AWX unable to find module or collection ?"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

ERR

[2022-10-13 06:59] craph opened #13052 "Display Ansible and Ansible collection version"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-10-13 07:16] anxstj opened #13053 "receptor: Error locating unit"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

My

[2022-10-13 07:20] #13046 closed, assigned to nobody

[2022-10-13 07:23] ArtsiomMusin commented on #13036
Hi @sarabrajsingh

I'm trying to import one object per one tower_import task:
[code]

The file content is:
[code]

So this is using tower token to run export/import. Also the playbook is executed directly on tower localhost and I assume the connection should be more or less fast.

awxkit is 18.0.0

[2022-10-13 08:33] ThomasCappe commented on #12221
UP ! I have the same problem .. I use Ansible Automation platform 2.2.1-1.

[2022-10-13 09:15] mahoutukaisali opened #13054 "RFE: Implement the phone call webhook notification by Twillio"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-10-13 09:17] mahoutukaisali commented on #13054
Here is the Twillio API to make phone calls.
https://www.twilio.com/docs/voice/make-calls?locale=en

[2022-10-13 09:35] Mrmel94 commented on #12881
Just for your information, in my understanding the container that should use updated Receptor is not the EE for your Job, but awx-ee container in AWX's Pod.
If you don't use custom EE image for control plane, I think all you need to do is just make sure that Kubernetes pulls the new image for awx-ee container again. The way to achieve this depends on your imagePullPolicy.

@kurokobo Yes I think yo

[2022-10-13 12:30] ArtsiomMusin opened #13055 "awx.awx.tower_export - does't it export multiple assets for one type of asset"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Thi

[2022-10-13 12:41] ArtsiomMusin opened #13056 "awx.awx.tower_export nothing exported on Ansible Automation Platform"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

tow

[2022-10-13 14:13] DE110283 commented on #12631
Any findings / solutions for this network request to https://registry.npmjs.org/yocto-queue/-/yocto-queue-0.1.0.tgz issue?

[2022-10-13 14:34] fobrice opened #13058 "In template survey, dotted variables are badly parsed"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hi,

[2022-10-13 15:21] keithjgrant opened #13059 "Gap in job output"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Gap

[2022-10-13 17:18] AlanCoding commented on #12740
Link fallout from the fix for this - https://github.com/ansible/awx/issues/13017

Not a huge deal, but needs some tweaking.

[2022-10-13 17:20] AlanCoding commented on #11306
@fosterseth since https://github.com/ansible/tower/issues/5943 is closed, are you good to close this?

[2022-10-13 17:21] fosterseth opened #13060 "Pin to specific receptor version"
there are 2 components to receptor -- receptor (on quay) and receptorctl (on pypi)

Currently awx-ee uses the devel version of receptor
AWX uses the 1.2.3 version of receptorctl

I'd rather see these 2 components in lock step

[2022-10-13 19:07] fosterseth commented on #11306
there are probably good ideas still buried here, but would need to be reevaluated (with a new write-up) given the newer context of the task manager.

We should close the ticket, but remember that it exists.

[2022-10-13 19:07] #11306 closed, assigned to nobody

[2022-10-13 22:29] emoshaya commented on #3582
@sujiar37 I'm having the same issue as you for azure ad oauth2.. I'm using the Object ID for the secret key. What did you do to fix it?

[2022-10-14 06:07] craph opened #13065 "AWX notification not working correctly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Aft

[2022-10-14 08:04] mani3887 commented on #13016
Thanks, I stepped on to this configuration change few days back, changed it and it worked as intended.

[2022-10-14 08:04] #13016 closed, assigned to nobody

[2022-10-14 10:43] PurpEE commented on #10151
We are currently seeing this in two instances after upgrading from 21.4 to 21.7.
We tried to cancel it, and also redeployed the whole deployment. It still always appears.

Canceling it produces this output in the web container:

[code]
ee-container gives (same output as ee-container of all other pods):
[code]

Manually trying to POST /api/v2/workflow_jobs/7136/cancel/ produces the same output as s

[2022-10-14 14:03] Quiwy commented on #12991
Thank you for your answer @fosterseth

I tried the different steps to reproduce :

And I can't reproduce the behavior of #8561. Maybe I'm making it the wrong way :thinking: .

In my case, the only important point is the "prompt on launch" of the job template.

If I try to summarize in a table :
| Limit on workflow template | Limit on job template |  "Prompt on launch" on job template checked | Act

[2022-10-14 14:36] nicolasbouchard-ubi commented on #11805
@bartowl
 Thanks for your workaround suggestion!

I already was aware of the polling feature in Ansible but I'm not sure if it can be used in my case, same for the workflow. Maybe other people are in the same situation, so I would like to dig for a workaround.

At the moment, I have a task which is using an until loop to query a REST API until the API return "state: finished".
[code]
How could suc

[2022-10-14 14:43] bartowl commented on #11805
@nicolasbouchard-ubi here it is not the task that takes long, as the task it self is retried multiple times. The same way with a long running task you would use async_status. The task itself finishes rather quickly but the until: condition is not met.
What you could do is - when you know, that this task will take at least 1h, split the job template at this place marking all tasks until this one wi

[2022-10-14 16:47] fosterseth commented on #13053
my hunch is that AWX is trying to release or cancel old receptor work units somewhere (check reaper code). Needs some investigation

[2022-10-14 17:43] grafra opened #13066 "building docker-compose fails when using podman"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Tri

[2022-10-14 17:49] fosterseth opened #13067 "Noisy receptor logs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Use

[2022-10-14 17:49] fosterseth commented on #13067
it's a receptor problem at its core, but more easily reproduced in awx.

[2022-10-14 18:41] IPvSean commented on #578
This is a really old thread but it got linked to me in an email.  If the ask is programmatic configuration as code, this is already possible.  You can even do it with this awesome collection that RH consulting has created and open sourced-> https://github.com/redhat-cop/controller_configuration

[2022-10-14 19:09] philipsd6 commented on #12530
In this (longish) comment I will address the 5 minute timeout issue in AKS only! (Not the log size issue, or the 4 hours timeout issue.)

As Microsoft partners, we have escalated this issue and engaged engineers to identify the root cause and discuss options. The issue relates to the method by which the Azure managed control plane is made available to the customer managed vnet containing the worke

[2022-10-14 20:58] kdelee commented on #2893
Given that https://github.com/ansible/ansible/pull/76438 was rejected, and Controller as it is does not really have a way of knowing how many hosts may match a filter -- AFAIK the filter is passed to ansible and doesn't apply until runtime of the job -- controller makes its decision about how many slices to create BEFORE the filter is applied. The only thing I think we could possibly do since we'v

[2022-10-14 21:39] kurokobo commented on #13065
@craph
Have you specified `Base URL of the service` in `Settings` > `Miscellaneous System settings`?
![image](https://user-images.githubusercontent.com/2920259/195947166-31bba2d7-d0a8-486d-a4c1-301548305f51.png)

BTW, I don't think it's a good idea to post the same issue in multiple repositories (https://github.com/ansible/awx/issues/13065 and https://github.com/ansible/awx-operator/issues/1085),

[2022-10-15 18:05] vandanaredhat commented on #2830
Hello @RylandDeGregory, @ryanpetrello,
Did the error got resolved ?
OSError: [Errno 101] Network is unreachable

[2022-10-17 04:50] sfhl commented on #12746
Hi there,
the projects are neither big nor are there network problems. An older awx version, which is running parrallel, performs much much better.

[2022-10-17 07:16] craph commented on #13065
@kurokobo Thank you very much for the update.
My issue was the `Base URL of the service` thank you very much for your help.

[2022-10-17 07:16] #13065 closed, assigned to nobody

[2022-10-17 07:41] Mrmel94 commented on #12881
Hi, just for your information, 5 days without any jobs with this error. I think your fix @fosterseth fixed the issue ! Thanks a lot !!

[2022-10-17 08:19] m-krs commented on #11903
Not ideal solution, but works for me
[code]

[2022-10-17 13:45] anxstj commented on #13053
I just found out that old podman instances are not cleaned up successfully. They stay as zombies on the system:
[code]
In the long run, this will cause trouble, e.g. the systemd MaxTasks limit will be reached:
[code]
Could this be related to https://github.com/ansible/receptor/issues/439 ? (Just an uneducated guess)

[2022-10-17 13:46] ArtsiomMusin commented on #13036
debugged that to see the root cause. It's slow in getting all objects for each endpoint
https://github.com/ansible/awx/blob/9f8b3948e1aad75620bec818f1965b1bb1acbf6e/awxkit/awxkit/api/pages/api.py#L389

it gets all objects for all types listed here
https://github.com/ansible/awx/blob/9f8b3948e1aad75620bec818f1965b1bb1acbf6e/awxkit/awxkit/api/pages/api.py#L15-L29

Since there might be a lot of objec

[2022-10-17 14:01] fosterseth commented on #12881
@Mrmel94 thanks for the feedback, that is helpful. Glad this took care of it :)

[2022-10-17 15:11] ratman commented on #1316
Is that an insider joke or what? Most people would not care if there wasn't any logo or something neutral or just an AWX logo, not this terrible potato. Do I really have to fork the repo just to get rid of it? That does not sound sane.

[2022-10-17 16:24] creativemind-pluto commented on #9594
Still seeing this issue on AWX 21.4.0 version. AWX is installed on K8s cluster
Task got completed but still on AWX UI portal it shows failed.

[code]

[2022-10-17 19:42] philipsd6 opened #13070 "Enable abstract Credential Types"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-18 12:22] Adrixop95 commented on #3450
Bump. Do you have any plans to implement better symlink support?

[2022-10-18 13:36] lucasvivian commented on #12881
I was having the same issue in my environment. After awx-ee update, it seems to have stopped. 3 days without error.

[2022-10-18 14:15] craph commented on #11518
After upgrading Crowdstrike version the problem is solved

[2022-10-18 14:15] #11518 closed, assigned to nobody

[2022-10-18 20:46] shanemcd commented on #12846
https://github.com/ansible/awx/pull/13071

[2022-10-18 21:13] CWollinger opened #13076 "German translation"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-19 05:40] creativemind-pluto commented on #9594
Any update on this issue? Please suggest.

[2022-10-19 06:01] joeyxworks commented on #12579
I have the same issue with module asa_acls on ansible version 2.13.5 when interacting with ASA5525

[2022-10-19 07:51] JSGUYOT opened #13077 "Choice of organization for lighter display"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-10-19 09:10] bitsky6 opened #13078 "stdout shows as double everything"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

<im

[2022-10-19 09:14] bitsky6 opened #13079 "stdout error during task gives error and to reload dashboard"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

<im

[2022-10-19 09:34] redtux commented on #8884
👋🏼 Hi, I am having the described issue on AWX v16, and wanted to ask whether there are plans to backport this patch.

I am seeing the issue on an Ubuntu 22.04 using Gnome with Chrome Version 106.0.5249.119 (Official Build) (64-bit) and English locale. Firefox and other browsers work fine.

[2022-10-19 14:02] AlanCoding commented on #12999
This should be fixed by https://github.com/ansible/awx/pull/13061, although it does a whole lot more than necessary for just this particular issue. Still, I'd prefer to just try and get that in.

[2022-10-19 14:03] darshanip commented on #12761
I've started working on this issue.

[2022-10-19 15:01] CFSNM commented on #12799
Verified from QE side

[2022-10-19 15:01] #12799 closed, assigned to fosterseth, CFSNM

[2022-10-19 15:17] bbaassssiiee commented on #12221
The automation hub only works as a registry when deployed to a host using a FQDN. Verify that the execution environment (a container image) is present in the hub, try to pull it to validate your credentials setup.

[2022-10-19 17:18] fosterseth commented on #13078
@keithjgrant I think is working on a fix for this and can link up PRs other issues to this one

[2022-10-19 17:36] fosterseth commented on #13066
@grafra sdb isn't really required to get things running, so you may just comment on this task, and also remove the sdb from the requirements file. sdb is just a debugging tool similar to pdb, which developers find helpful when debugging awx

[2022-10-19 17:42] fosterseth commented on #13058
note from triage: one open question is whether this is UI issue, or api, or both. Needs investigation

[2022-10-19 17:59] keithjgrant commented on #13078
@bitsky6 Something very similar was fixed in 21.6.0 (#12868), but if you're on 21.7.0 there could be something else happening here. A few questions:

* Are the line numbers duplicated on the left?
* Does this only happen while the job is running, or does also occur if you pull up a completed job? (i.e. open/refresh the page after job completion)
* Does it only happen for stdout?
* Is it consistent

[2022-10-20 05:57] bitsky6 commented on #13078
@keithjgrant
1. Yes the line numbers are duplicated on the left
2. It does happen only while job running
3. Everytime i re-run the job is the same

Refreshing the page or hot he relaod output button on top after the job is done makes 1 of the duplicates disappear

[2022-10-20 08:42] r0b1ndot commented on #12254
@rooso  thanks for the hint :)
setting the secret works but setting the group type to **ActiveDirectoryGroupType** which should work according to docs resulted in "**MemberDNGroupType**"

here are the settings i tried:

[code]

[2022-10-20 08:53] ArtsiomMusin opened #13084 "awxkit api: import_asserts cannot import schedules"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

imp

[2022-10-20 10:53] rooso commented on #12254
Hi @reyerdam, please take a closer look at my example. In my case I had to set `AUTH_LDAP_GROUP_TYPE` to the following:
[code]

[2022-10-20 11:07] r0b1ndot commented on #12254
Hi @rooso , thanks, i tried it also with the following:

[code]
also following the docs: https://django-auth-ldap.readthedocs.io/en/stable/reference.html#django_auth_ldap.config.ActiveDirectoryGroupType

but also that did not work as wished ;(

[2022-10-20 14:53] AlanCoding opened #13085 "Add explicit "localhost" to all jobs part of a sliced workflow job"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-20 18:39] AlanCoding commented on #2784
You should be able to click on the instance and get error text now. That's the hope.