[2019-09-30 15:14] rebeccahhh commented on #4452
The UI does not allow anything other than existing options to be the default choice in a survey, but the API does.

API:
![image](https://user-images.githubusercontent.com/11764497/65892202-e25cfd80-e373-11e9-8195-49c5f545bea5.png)

Posted in the API means the UI now shows:
![image](https://user-images.githubusercontent.com/11764497/65892284-00c2f900-e374-11e9-9c2c-54d38e0ccbed.png)

Upon trying t

[2019-09-30 15:47] unlikelyzero opened #4848 "Inert link for Container group on Job Results page"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
On Job Results Page, unable to open a Container group reflink for completed Job

##### ENVIRONMENT
* AWX version: 7.0.0-container-group

##### STEPS TO REPRODUCE
1. Launch a Job with a Container Group
2. On Job Result detail page for that launched job, click the container group link
Note: Inert

##### EXPECTED RESULTS
1. Nav to container group

##### A

[2019-09-30 15:53] AlanCoding commented on #4703
Thanks for the info. Could you give an updated traceback or project update stdout with this recent version that you just tested it with? That would help me narrow down the details of reproducing it.

[2019-09-30 16:10] mrwiora commented on #4703
sure :)

[code]
tried to format it a little bit....
note: a clone with the same key works perfectly for the affected repository including all submodules.

[2019-09-30 17:30] lunarthegrey opened #4852 "A server error has occurred (/migrations_notran)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

After installing AWX from devel when you visit the AWX web page it displays `Server Error` and `A server error has occurred.`

##### ENVIRONMENT
* AWX version: devel (7.0.0)
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: Debian 10 (Buster)
* Web Browser: Firefox 69.0.1

##### STEPS TO REPRODUCE

Run the installer f

[2019-09-30 17:48] AlanCoding commented on #4675
This issue is about Ansible ignoring `roles_path` entry in `ansible.cfg` file in the root of the project directory. If the relative path `roles/` adjacent to the playbook is not respected, that is a different matter. If you are seeing these roles ignored, I would appreciate any more information you have about the layout of your project, where the playbook is, where this folder is, and how the role

[2019-09-30 18:08] avs262 commented on #1207
+1

[2019-09-30 18:28] ryanpetrello commented on #4852
@lunarthegrey it looks to me like you're potentially using an image with an older version of Django (likely, you have an out of date container image with the wrong dependencies).  Likely you have a mismatch between that and the version of code you're deploying (see: https://github.com/ansible/awx/issues/3032, https://github.com/ansible/awx/issues/2967)

In any event, this issue tracker is for trac

[2019-09-30 19:09] ryanpetrello commented on #4739
`2019-09-14 09:34:11,259 ERROR    social 'NoneType' object has no attribute 'provider'.`

Whatever error that's masking, that's likely it.

[2019-09-30 19:10] ryanpetrello commented on #4739
Looks like this might be some sort of bug in the `social-auth` library itself.  This issue looks very similar:

https://github.com/omab/python-social-auth/issues/989

[2019-09-30 19:12] ryanpetrello commented on #4739
Maybe this is a bug/regression introduced in `social-auth-core` here?  https://github.com/ansible/awx/commit/859767029919a43b63ba9f32fe5f2264e27ffc45

[2019-09-30 19:45] mattch3wie opened #4855 "VMWare Sync: Uniq ID DB issue"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Restored VM's cause uniq id failure

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method:  docker on linux
* Ansible version:  2.8.3
* Operating System: Linux
* Web Browser: Chrome

##### STEPS TO REPRODUCE

When restoring a vm from a nightly backup image

##### EXPECTED RESULTS

postgres would be able to handle multiple key entries since vmwar

[2019-09-30 20:27] lunarthegrey commented on #4852
@ryanpetrello this is from a fresh install with no docker containers, images or volumes so it's not a migration. I did a `git clone` of the AWX repo and followed the install instructions. Can this be re-opened?

[2019-09-30 20:34] lunarthegrey commented on #4852
@ryanpetrello I read about those issues as well, unfortunately they're not relevant to the issue I'm running into. Since it's a clean install and I'm not using any strange variables in the inventory file.

[2019-09-30 20:41] lunarthegrey commented on #4852
To be more specific, I'm using exactly what https://github.com/ansible/awx/blob/devel/installer/inventory has, but I've changed passwords and the `postgres_data_dir` and `docker_compose_dir` directories. This tells me there may be something wrong with new and fresh AWX installs.

[2019-09-30 20:44] cdvv7788 commented on #286
@wenottingham can you please check if what I ask in ansible/ansible-runner#51 makes sense? It should be easy to setup, but need some kind of confirmation before proceeding.

[2019-09-30 20:54] doves99 opened #4858 ""Error pulling image postgres:9.6 - 500 Server Error: - AWX Install"
##### ISSUE TYPE
 - Cannot install AWX

##### SUMMARY

When i tried to install the awx, i am getting the following error

TASK [local_docker : Activate postgres container] ************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Error pulling image postgres:9.6 - 500 Server Error: Internal Server Error (\"Get https://registry-1.docker.io/v2/: net/h

[2019-09-30 21:03] lunarthegrey commented on #4852
This is the full play.

[code]

This is my full inventory file, I've just replaced the passwords with `test`.

[code]

[2019-09-30 21:06] ryanpetrello commented on #1731
Wanted to add a note here that we recently added support for WF prompting for `--limit`:

https://github.com/ansible/awx/pull/4369

[2019-09-30 21:12] ryanpetrello commented on #3836
@skatsaounis

I'd think a more appropriate resolution here would be to bump `proxy_buffer_size` from 4k to something notable higher (maybe 32k?)  Is that something you tried?  Keep in mind that you'll pay this additional cost per-connection, so this isn't likely the type of change we'd make across all AWX installs.

[2019-10-01 00:37] ryanpetrello commented on #4858
@doves99

`Error pulling image postgres:9.6 - 500 Server Error: Internal Server Error ("Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection`

This looks to me like a temporary issue pulling from `docker.io`, not a bug in AWX itself.

[2019-10-01 00:37] #4858 closed, assigned to nobody

[2019-10-01 03:43] colinengland opened #4860 "Unable to run 'awx-manage' after upgrade to awx 7.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After upgrade from 6.1.0.246 to unable to run awx-manage as not all the rh-python36 packages got installed.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: yum
* Ansible version:  2.8.4
* Operating System: Red Hat Enterprise Linux Server release 7.7
* Web Browser: N/A

##### STEPS TO REPRODUCE

Upgrade using steps on awx.wiki.

##### EXPE

[2019-10-01 08:53] msterckx opened #4861 "using ansible kubernetes module on ansible tower"
Hi,
Does anyone know if it's possible to use the ansible kubernetes module (k8s) on AWX?  I'm getting this error: _no module named kubernetes_.

regards,
Michel

[2019-10-01 11:17] skatsaounis commented on #3836
@ryanpetrello Thank you for coming back at this issue. I tried to increase both `proxy_buffer_size` and `uwsgi_buffer_size` and any combination between them. Unfortunately, the problem was there. I would like to provide another update on the issue which saved the situation for us but did not solve the problem.

As I was doing tests with fresh AWX installs with or without backup of my existing AWX

[2019-10-01 12:11] ryanpetrello commented on #3836
@skatsaounis thanks for the additional details - we'll see if we can reproduce something similar to this on our end.

[2019-10-01 12:12] ryanpetrello commented on #4861
Hey @msterckx,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-10-01 12:12] #4861 closed, assigned to nobody

[2019-10-01 12:31] gsakkar opened #4862 "How does the concurrency achieved in awx without parallel-ssh"
##### ISSUE TYPE
 Most of the Ansible default transport layer is openssh. is there any scope for using https://github.com/ParallelSSH/parallel-ssh

##### SUMMARY

 Most of the Ansible default transport layer is openssh. is there any scope for using https://github.com/ParallelSSH/parallel-ssh it has better performance compare to openssh

if you dont have plan to use parallelssh what is the defect s

[2019-10-01 12:33] #4294 closed, assigned to AlanCoding

[2019-10-01 12:35] ryanpetrello commented on #4862
@gsakkar,

This repository is unique to the Ansible AWX project.  If you've got questions about Ansible in general, check out the Ansible mailing list or IRC room:

https://groups.google.com/d/forum/ansible-project
`#ansible` on freenode

[2019-10-01 12:35] #4862 closed, assigned to nobody

[2019-10-01 13:21] mrwiora opened #4863 "AWX cli export/import feature"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I have to setup my awx towers automated by scripts - while I was using tower-cli up to version 6.0.1....
As tower-cli has been replaced by the integrated awx cli (what makes sense IMHO), I am missing a backup/restore option. At least I was unable to find any documentation/parameter to do so.

Did I miss something or is this not implemented yet and su

[2019-10-01 13:39] mrwiora commented on #4703
step backwards - it seems my described issue is introduced by using tower-cli to import a backup.json of credentials/jobs. A manually created test job resulted in a working environment - containing submodules. All affted guys can verify the behaviour with my sample instructions repository https://github.com/mwiora/awx-sample-repo-w-submodules

[2019-10-01 13:42] ryanpetrello commented on #4863
Hey @mwiora,

Implementing something like `tower-cli`'s backup/restore functionality is on our list; it's just a huge undertaking and we haven't gotten to it yet 😄.

In the meantime, `tower-cli` isn't _going_ anywhere - we're just not planning on updating it going forward beyond glaring issues (all new functionality will go in the new official AWX CLI).

[2019-10-01 13:55] mrwiora commented on #4863
the point is that we currently have issues on restoring objects (especially credentials and jobs) as mentioned in #4703 Otherwise I would leave it as it is....
Already with version 6.0.1 there is an api change that has not yet been implemented (importing credentials did not work any longer). So actually for a full automation solution at least - we - have to move to awx cli asap. I'll try to make f

[2019-10-01 14:30] ryanpetrello commented on #4863
@mwiora we haven't started working on this feature yet.

[2019-10-01 14:34] jean-christophe-manciot commented on #3935
@AlanCoding
I've tried to update the "**SETTINGS/JOBS/EXTRA ENVIRONMENT VARIABLES**" with:
[code]
It does not seem to change the verbosity of the runs.

Anyhow, with ```awx 7.0.0```, rerunning the project (which "DELETE ON UPDATE" the downloaded folder) makes the whole process regress as the roles are not downloaded anymore (while the playbooks are), as already reported [here](https://github.com/a

[2019-10-01 14:36] rebeccahhh opened #4866 "Extra newline not sanitized in 'edit' textarea for multiple choice survey answer options"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

A newline is being left in when a multiple choice survey answers list contains newlines.
Most are sanitized out, but the top one is left in the options for editing (although not the options when the survey is actually executed). This may or may not be related to #4192

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansi

[2019-10-01 14:47] AlanCoding commented on #3935
At this point, I think you would just have to add `-vvv` to the project_update.yml playbook to get more details. And it is expected that the project update will not download them. It is the project sync that is expected to install roles, which is linked to by a green (or red) orb in the job UI next to the project name.

What I'm thinking I can do is that I can make a version of this:

[code]

That

[2019-10-01 14:49] mrwiora commented on #4863
ok - thx!

[2019-10-01 15:08] jean-christophe-manciot commented on #3935
I'm not sure what difference you make between update & sync.
My previous action was to click on the circular icon "Get latest SCM revision" next to the project name which is supposed to resync the whole project:
![circular icon](https://user-images.githubusercontent.com/13176858/65974220-d739c880-e46c-11e9-995d-c2f4a4ffddd4.png)

[2019-10-01 15:13] jean-christophe-manciot commented on #3935
I can try to recreate a similar project from scratch & see what happens.
Downgrading to 6.1.0 creates some inconsistencies.

[2019-10-01 15:40] jean-christophe-manciot commented on #3935
- Cloning the project leads to the exact same issue.
- manually creating another project with the same settings leads to the exact same issue.

I have jumped into the ```awx_task``` container: I have located theproject_update.yml  playbook at /var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/playbooks/project_update.yml; but I don't know where/how it is called in order to add -vvv.

[2019-10-01 15:47] dsesami opened #4867 "Permissions notifications messages don't wrap"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Notifications for permissions management don't wrap, so they run off the screen:
![Screenshot from 2019-10-01 11-42-28](https://user-images.githubusercontent.com/19942822/65978051-020e2780-e441-11e9-9762-2e4269c911ae.png)

Note that if a similar dialog appears elsewhere, it'll need the fix as well.

##### ENVIRONMENT
* AWX version: latest
* Operating S

[2019-10-01 16:47] mabashian commented on #4192
I've got a PR up to address what I think is the root cause of this behavior. See: https://github.com/ansible/awx/pull/4869.  For those that do come across this before #4869 merges I believe a hard refresh of the page will alleviate the issue.

The easiest reproducer that I came across was:

1. Create a new personal access token (when you create the token, an Alert modal is shown with a key in it)

[2019-10-01 18:30] omgjlk opened #4870 "Add option for exit 0 on entity already existing when using awx cli to create"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I'd like to rely on some idempotence of the awx CLI for automating some setup of my AWX installs. In particular I have some automation to create credentials. I have to resort to the awx cli to create the credentials as they use a credential type that's not supported by the `tower_credential` module, and I also will need to make use of `credential_in

[2019-10-01 20:03] RyanW19 opened #4873 "Folder Structure/More Organised Projects and Job Templates"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
It would be great to have the ability to organise job templates, projects, inventories etc into folders, sub folders etc. This is more useful for the larger deployments/those with large numbers of projects for example. Not sure what other information to add as this is quite self-explanatory.

[2019-10-01 20:18] wenottingham commented on #4873
-> #2350

[2019-10-01 20:18] #4873 closed, assigned to nobody

[2019-10-01 20:24] RyanW19 commented on #2350
Any update on this feature? I've seen it's been open for exactly a year now and just wondering if it's on the todo or if theirs an ETA?

[2019-10-01 20:38] rebeccahhh commented on #2556
related to #4865

[2019-10-01 21:14] fosterseth commented on #4710
replicated the issue. Setting `REFRESH_TOKEN_EXPIRE_SECONDS` allows proper functioning of awx-manage `cleartokens` and `cleanup_tokens`

related to issue #3825 and the same solution here fixes that one.

temporary fix by modifying `OAUTH2_PROVIDER` in awx/settings/defaults.py to add the `REFRESH_TOKEN_EXPIRE_SECONDS` key

e.g.

[code]

I did not experience any UI issues after setting this key/valu

[2019-10-01 21:16] fosterseth commented on #3825
related to issue #4710

this is how to fix it https://github.com/ansible/awx/issues/4710#issuecomment-537233492

[2019-10-01 21:24] omgjlk opened #4874 "Support object reference by (unique) name globally"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

I would like to be able to refer to IDs of things by their unique names when possible, globally. It appears that some functions are able to use this, such as getting a credential:

[code]

But if I try to use that when creating a credential input source I get an error
[code]

Allowing the name to be used in one place but not another is pretty annoyi

[2019-10-02 00:31] bktechtalk commented on #308
I have integrated SAML with Anisble tower( Widows AD( LDAP) is federated with Azure AD and AD(LDAP) group is added in Azure AD for group claim) and I am to able get user authentication using SAML but unable to get authorization while mapping AD(LDAP) groups with teams in Ansible tower.

Let me how this can be done.

[2019-10-02 02:16] omgjlk opened #4876 "Adding vault KV backed machine credential and prompting for ssh key unlock process is awkward and painful"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The process to create and configure a machine credential programmatically is kind of awkward. As I understand it, one must:
- Create a Vault KV credential (must use awx cli, or curl directly)
- Create a machine credential with minimal data (name, kind, description, org, username) (can use `tower_credential`, awx cli, or curl directly)
- Update the mac

[2019-10-02 09:29] Xiol commented on #4750
We're also having this issue on 7.0.0 with a `roles/requirements.yml` file in place.

[code]

[2019-10-02 12:48] mrwiora opened #4879 "awxkit/awxkit/cli/docs - make documentation is broken (sphinx)"
##### ISSUE TYPE
 - Bug Report

##### ENVIRONMENT
* AWX version: 7.0.0 (d2a5af44)
* AWX install method: docker
* Ansible version:  X.Y.Z
* Operating System: debian 10 on hostsystem (latest updates applied)
* Web Browser:

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

a working documentation

##### ACTUAL RESULTS

a lot of sphings build issues:
[code]
and a note, that contents.rst is mi

[2019-10-02 13:18] ryanpetrello commented on #4879
You might want to get a newer `sphinx-build`?

[code]

I'm unable to reproduce this from a clean `git clone`:

[code]

<img width="545" alt="image" src="https://user-images.githubusercontent.com/214912/66047310-8b7f3180-e4f5-11e9-942d-eafa2ca0d58c.png">

[2019-10-02 13:19] ryanpetrello commented on #4879
Also, are you running this under python3?  That might be it (this is only intended to work in python3, not python2).

[2019-10-02 13:40] ryanpetrello commented on #4874
@omgjlk I think this is just a CLI bug, not an intentional design decision; I'll take a look soon.

[2019-10-02 13:56] ryanpetrello commented on #4710
@fosterseth would it make sense for _us_ to update this with a default for `REFRESH_TOKEN_EXPIRE_SECONDS`?

https://github.com/ansible/awx/blob/devel/awx/settings/defaults.py#L340

[2019-10-02 13:56] ryanpetrello commented on #3825
Would a change like this make sense?

https://github.com/ansible/awx/issues/4710#issuecomment-537504340

[2019-10-02 14:12] vrevelas commented on #4710
Thanks for picking this up all. Given that the front end allows admin users to set access token expiration times, I think it would make sense to allow allow admins to control the refresh token expiration time as well. Also, a default value of 60 seconds is certainly too low.

As far as I'm aware, OAuth generally recommends using short-lived access tokens, and longer-lived refresh tokens. For examp

[2019-10-02 14:45] AlanCoding commented on #3935
The sync happen in advance of a job run. There is a link in the UI for a job ran with the project, which is a green circle next to the name of the project. It is not expected that it will install galaxy requirements in a project update.

[2019-10-02 15:11] rooftopcellist commented on #4710
@vrevelas I agree that we should make the `REFRESH_TOKEN_EXPIRE_SECONDS` configurable in the UI as well, but I do not think we should lower the default value for `ACCESS_TOKEN_EXPIRE_SECONDS` as there are use cases for long-lived tokens as well (specifically personal access tokens which don't have refresh tokens) and some people may already rely on the "long-lived" default setting.

By making both

[2019-10-02 15:21] mrwiora commented on #4879
@ryanpetrello thx!

@ public - for those having the same issue...:
actually I'm running debian 10 and pip is separated from pip3 - executing all commands from readme with pip3 and python3 brings the expected results:
[code]
a crosscheck for the sphinx version shows:
[code]
so sphinx development for python2 has been stopped on version 1.8.5 while it is available on verison 2.2.0 on python3...

[2019-10-02 15:21] #4879 closed, assigned to nobody

[2019-10-02 15:35] vrevelas commented on #4710
That's fair enough. However I'd be wary of adding a default value for REFRESH_TOKEN_EXPIRE_SECONDS with no UI, as any users that rely on the current behaviour (refresh tokens never expire) will have their use-case broken with no recourse.

[2019-10-02 15:42] alex-mnt commented on #20
+1

[2019-10-02 16:40] yasahmed commented on #4643
i have the same issue !!

[2019-10-02 17:39] rooftopcellist opened #4884 "Different Expiration times for PAT & App tokens"
##### ISSUE TYPE
 - Enhancement/Feature

##### SUMMARY
More backstory here: https://github.com/ansible/awx/issues/2277

OAuth2 Token Expiration times should have different default values for personal access tokens (PAT) and application tokens as they are used in different ways.

Personal access tokens should be long-lived, if not infinite, as they don't have refresh tokens and are meant for person

[2019-10-02 17:52] itcrowdsource commented on #4643
@yasahmed did you try my solution? What docker version are you using?

[2019-10-02 18:04] rooftopcellist commented on #4710
Good point @vrevelas.  @fosterseth, let's hold off on merging https://github.com/ansible/awx/pull/4886 until the UI work is also complete.

[2019-10-02 18:05] ryanpetrello opened #4887 "Support attaching and detaching approval notifications to Workflow Job Templates and Organizations in the AWX CLI"
##### ISSUE TYPE
 - Feature Idea

[2019-10-02 18:08] kdelee commented on #2979
@rebeccahhh tried out https://github.com/ansible/awx/pull/4839 by creating an org admin, logging in as them, then creating another user in the org I am admin of, then I was able to delete them in UI.

Works for me, merge it!

[2019-10-02 18:11] dsesami opened #4889 "Scrolling on certain fields causes the value to change"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
All fields in the UI of this type (with the arrows) are responsive to mouse scroll events -- they probably shouldn't be.

![Screenshot from 2019-10-02 14-07-33](https://user-images.githubusercontent.com/19942822/66069849-34418700-e51e-11e9-9778-6076c03880fd.png)

Scrolling on this field makes the value go up and down -- it shouldn't do that.

##### ENV

[2019-10-02 18:16] ryanpetrello commented on #4710
^ WFM 👍

[2019-10-02 18:46] rebeccahhh commented on #2979
Merged

[2019-10-02 18:48] yasahmed commented on #4643
@itcrowdsource im using Docker version 17.03.1-ce-rc1, build 3476dbf in mac osx host

[2019-10-02 18:59] austlane opened #4891 "Workflow approvals API: Add "approved_by" field."
In the AWX API, there should be a field that includes the user that approved/denied the workflow execution.

[code]
Currently in this endpoint, there is an array called **summary_fields**, which contains the following objects:
- workflow_job_template
- workflow_job
- workflow_approval_template
- unified_job_template
- *created_by*
- user_capabilities
- source_workflow_job

I'd love to see a new fi

[2019-10-02 19:35] elyezer commented on #4478
Did the following to verify this:

1) Created a project to sync https://github.com/AlanCoding/utility-playbooks.git
2) Created a Vault credential with the password for the vault value
3) Created a job template to run https://github.com/AlanCoding/utility-playbooks/blob/master/set_vault_var.yml. Also added the Vault credential to the job template.
4) Ran the job template and no callback error was t

[2019-10-02 19:35] #4478 closed, assigned to nobody

[2019-10-02 19:39] dhoer commented on #4764
The work around for me was to set the when clause to false, since this service wasn't started yet.
https://github.com/ansible/awx/blob/70057bc0f26318cd516f5c05aa1d36f0570c577d/installer/roles/local_docker/tasks/main.yml#L29

The issues is because compose.yml has not run yet, so there is no compose directory.  https://github.com/ansible/awx/blob/70057bc0f26318cd516f5c05aa1d36f0570c577d/installer/ro

[2019-10-02 20:08] AlanCoding opened #4892 "Make AWX collection pass all the default sanity tests"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The Ansible sanity tests for `validate-modules` do not pass with the current version of the collection.

This commit should cover most of the errors:

https://github.com/ansible/ansible/commit/341eb8754e87676ccc1a44dec951b38c104e352d

We'll want to cherry-pick that.

But we also can't fully run the sanity tests because of https://github.com/ansible/a

[2019-10-02 21:31] alex-mnt commented on #2058
Hi guys any updates on this?

[2019-10-02 22:56] yasahmed opened #4894 "Relation "django_session" does not exist"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

when i try to start  ansible/awx_web container i got this error on log :

[code]
##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker for mac
* Ansible version:  2.8.4
* Operating System:Mac os
* Web Browser: chrome

##### STEPS TO REPRODUCE
` ansible-playbook -i inventory install.yml`

##### EXPECTED RESULTS

##### ACTUAL RESULTS
i got

[2019-10-03 00:35] omgjlk commented on #4876
Here is the example tasks I've come up with to deal with this:

[code]

[2019-10-03 01:17] omgjlk commented on #4874
I did some digging. It looks like awxkit is adding the `pk_or_name` functionality on `get`, `modify`, or `delete` methods instead of `build_detail_actions`. However since this is a `create` method, and the things which should take a `pk_or_name` are custom named, the function mapping never takes place.

I have no idea how to influence `build_detail_actions` how to properly attach the `pk_or_name`

[2019-10-03 07:45] darrenjones24 commented on #4761
I'm having the same issue with 7.0.0, which was working in 6.1.0
I'm not sure how helpful this is but, I found that editing the playbook so that it references the role relative to the play is working. Whereas a reference relative to the roles directory is not.

For example if the playbook says:  - system_config/local_sysadmin it's not working but it does when I put: - ../../roles/system_config/loc

[2019-10-03 08:54] jean-christophe-manciot commented on #3935
The "green circle next to the name of the project" is just a link to the job details.
I never used it to sync the project.

[2019-10-03 10:11] MrMEEE commented on #4750
I have a user from the AWX-RPM project that reports that the following fixes this issue, can anyone confirm?
"/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/awx/playbooks/project_update.yml":

Changing
        command: ansible-galaxy install -r requirements.yml -p {{roles_destination|quote}}
to:
        command: ansible-galaxy install -r requirements.yml -p {{roles_destination|default('.

[2019-10-03 10:12] #4159 closed, assigned to nobody

[2019-10-03 10:35] zx1986 commented on #4675
I got this issue too.
My roles is sitting in my project root in AWX.
But it shows:

[code]

I am expect it will look for roles in `/tmp/awx_88_wtn43n4z/project/roles`,
but it didn't :-(

AWX web 7.0.0
AWX task 7.0.0

[2019-10-03 10:53] hlavacek87 commented on #4675
Same problem, temporary workaround with soft link in git repository fixed the issue.

[2019-10-03 12:13] stherien commented on #4675
Could you describe the steps used for your temporary workaround ? How did you manage to create soft link in git repository ?

[2019-10-03 12:22] AlanCoding commented on #3935
It should be a link to the output of the project_update.yml playbook, which the server automatically runs, without action on your part.

[2019-10-03 12:29] AlanCoding commented on #4675
@zx1986 Could you give more information, specifically why it is expected to be looking in `/tmp/awx_88_wtn43n4z/project/roles`? Is that because of your settings in `ansible.cfg`? Or is it playbook-adjacent?

[2019-10-03 12:39] jean-christophe-manciot commented on #3935
"the output of the project_update.yml playbook" is included in the job details which have already been partially shown in a [previous post](https://github.com/ansible/awx/issues/3935#issuecomment-537065542); the full log is
[code]

[2019-10-03 12:44] hlavacek87 commented on #4675
@AlanCoding I have the same problem, ansible.cfg in project dir includes: "roles_path = ./ansible/roles" which is not where the playbooks are stored and this config is ignored by AWX.

@stherien git will handle standard ln -s, but you need to use relative paths, not absolute .. furthermore both roles dir and playbooks must be in the same repo:
`# ll plays_iaas/roles
lrwxrwxrwx. 1 root root 14 Sep

[2019-10-03 12:55] jean-christophe-manciot commented on #3935
There is **no job template nor workflow template** defined.
 The settings regarding the way the project is updated are:
![project update settings](https://user-images.githubusercontent.com/13176858/66128248-c2387300-e5ed-11e9-9881-9ef9d9f4f587.png)

[2019-10-03 12:57] jean-christophe-manciot commented on #3935
If you're looking for a complete log of the manual sync (which is part of its job details):
[code]

[2019-10-03 13:27] kdelee commented on #2979
Works for me!

[2019-10-03 13:27] #2979 closed, assigned to rebeccahhh, kdelee

[2019-10-03 13:36] AlanCoding commented on #3935
If there is no job template nor workflow template, then we are not going to know if the roles are installed correctly or not.

[2019-10-03 13:43] ryanpetrello commented on #4870
@omgjlk would something like this work?

https://github.com/ansible/awx/pull/4897

[2019-10-03 13:58] AlanCoding commented on #4675
My current reading right now is that:

https://github.com/ansible/awx/issues/4675#issuecomment-537888508

Is a different issue from the problem that most other comments here have reported. I may re-file this as a new issue, and I expect interplay with the ansible-runner package.

[2019-10-03 13:59] jean-christophe-manciot commented on #3935
Again, the project creation and sync are supposed to respectively download/sync the roles.

Please see for yourself with AWX 6.1.0  by creating a **project** which has the following characteristics:
[code]
1) Hitting the save button should download the project repository alongside the roles repository with an **incorrect roles tree**. There is no need to create any job/workflow template in this si

[2019-10-03 14:13] ssbarnea commented on #3956
Even after following steps mentioned by @konkolorado I am facing the same issue.

[2019-10-03 14:14] badstreff commented on #4675
@AlanCoding My current directory structure looks like the following

[code]
I believe throwing the roles adjacent to the main.yml playbook under the app folder would resolve the issue, however I would prefer they remain in the root

[2019-10-03 14:47] rmauc commented on #1668
I understand that Ansible Analytics can slice data by Organization now. Is there any plans to work on this RFE so that Tower log aggregation can do the same?
Thanks

[2019-10-03 15:03] AlanCoding commented on #4675
After looking further into it, I am trending toward thinking that the `roles` folder would have never worked _without_ the previously mentioned ansible.cfg (things like the working directory do not factor in).

[code]

in which case there's not some other issue related to this. Just what has already been established here.

[2019-10-03 15:23] ssbarnea commented on #3323
This is really a PITA, we are better-off if you just replace the input with a simple text, so we can copy it. This also adds to the frustration of getting `Authentication failed: The redirect_uri MUST match the registered callback URL for this application.` even if you copied the URL perfectly.

This is clearly AWX bug, cannot blame Firefox for it.

[2019-10-03 15:32] zx1986 commented on #4675
@AlanCoding  My `ansible.cfg` in my project repository is

[code]

`/tmp/awx_88_wtn43n4z/project/` is the AWX project I run with, I believe it was a random directory created by AWX task worker, and it was the root directory of the AWX project.

I use symbolic link as @hlavacek87 said, and it works.

[2019-10-03 16:05] AlanCoding commented on #4892
throwing out a branch here:

https://github.com/ansible/awx/compare/devel...AlanCoding:collection_sanity?expand=1

doesn't run yet, there are several problems here.

[2019-10-03 16:13] ryanpetrello commented on #4874
@omgjlk mind giving this a shot?

https://github.com/ansible/awx/pull/4899

[2019-10-03 16:28] bamason14 opened #4901 "CyberArk AIM Secret Lookup returns password as username"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have setup a Credential for CyberArk AIM Secret Lookup. When I attach this credential to a playbook, it uses the password as the username.

##### ENVIRONMENT
* AWX version: 7.0.0 also tested on 6.1.0 w/ Ansible 2.8.4
* AWX install method: awx-rpm
* Ansible version:  2.8.5
* Operating System: RHEL 7.7
* Web Browser: Google Chrome

##### STEPS TO REPRO

[2019-10-03 16:29] mrmibrown opened #4902 "Add pam2 support for secrets management"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add pam2 support for secret management so that centrify secrets can be imported into the AWX/Tower DB via the centrify API.

[2019-10-03 16:31] ryanpetrello commented on #4901
Can you share the output of `/api/v2/credential_input_sources/` ?

[2019-10-03 16:39] bamason14 commented on #4901
HTTP 200 OK
Allow: GET, POST, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept
X-API-Node: mmdawxl01.dev.mig.corp
X-API-Time: 0.013s

{
    "count": 1,
    "next": null,
    "previous": null,
    "results": [
        {
            "id": 1,
            "type": "credential_input_source",
            "url": "/api/v2/credential_input_sources/1/",
            "related": {
                "crea

[2019-10-03 16:52] ryanpetrello commented on #4901
So you're pulling a value from Cyberark using the query `Safe=P-HOST-WIN-ADM;Object=awxdns`.  Given the behavior you've described, this suggests to me that the query AWX is sending to Cyberark is returning a password value (which is likely a misconfiguration with your query, or the way you've saved the secret in CyberArk).

[2019-10-03 16:59] jakemcdermott commented on #4901
If I'm following this correctly you'd want to map the credential input to the ssh _password_ (not the username).

You'd want to specify the `awxdns` username manually by saving it directly to the credential. If you also need the username to be dynamic you'd need to store that as a completely separate "secret" and map it to the username input.

[2019-10-03 17:00] ryanpetrello commented on #4901
I think @jakemcdermott has guessed at your intent here - you *probably* want to update that credential input source in your screenshot so that `input_field_name` is `password` (not `username`).

[2019-10-03 17:01] bamason14 commented on #4901
When I call the CyberArk api directly this is the output:

{"Content":"xxxpasswordxxx","PolicyID":"P-COL-WIN-SRV","Name":"awxdns","SequenceID":"14","UserName":"awxdns","CPMStatus":"success","Folder":"Root","Safe":"P-HOST-WIN-ADM","Address":"domainname","LastSuccessVerification":"1570103186","LogonDomain":"DOMAIN","DeviceType":"Operating System","LastTask":"VerifyTask","RetriesCount":"-1","LastSucc

[2019-10-03 17:04] ryanpetrello commented on #4901
The AIM plugin pulls its value from the `Content` key in the HTTP response from AIM:

https://github.com/ansible/awx/blob/devel/awx/main/credential_plugins/aim.py#L100

[2019-10-03 17:12] bamason14 commented on #4901
Got it. I was able to make the change you suggested above and it works. The documentation on this was not very in-depth to describe this. I will close this issue.

[2019-10-03 17:12] #4901 closed, assigned to nobody

[2019-10-03 17:33] omgjlk commented on #4874
That seems to do the right thing in this case.

[2019-10-03 18:33] fosterseth commented on #4710
@vrevelas the API and UI pull requests related to this fix have now both been merged, so you should see the change in the latest devel branch. Thanks!

https://github.com/ansible/awx/pull/4886
https://github.com/ansible/awx/pull/4890

[2019-10-03 19:13] AlexSCorey commented on #4788
This has been addressed in this PR.

[2019-10-03 19:23] dsesami opened #4904 "Login failure on fresh installs under specific conditions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
This occurs when using CI container debug mode on a fresh install (see https://github.com/ansible/awx/tree/devel/awx/ui/test/e2e#ci-container-debugging) for details.

Essentially, when the E2E suite begins, a call with the GET here: https://github.com/ansible/awx/blob/devel/awx/ui/client/src/login/authenticationServices/authentication.service.js#L143 w

[2019-10-03 19:24] wenottingham commented on #1668
Not sure what is meant by that - the Analytics is done by gathering *all* the data, performing the associations, and then showing a view of the data that uses those associations. Log aggregators can do the same.

[2019-10-03 19:29] cherdt commented on #4445
FYI, similar behavior with AWX 7.0.0:

    [WARNING]: The value of the "source" option was determined to be "pull". Please set the "source" option explicitly. Autodetection will be removed in Ansible 2.12.

    failed: [localhost -> localhost] (item=7.0.0) => {"ansible_loop_var": "item", "changed": false, "item": "7.0.0", "msg": "Error pushing image 172.30.1.1:5000/awx/awx_web: Get https://172.30.

[2019-10-03 20:08] AlanCoding commented on #4675
Hmm... `roles_path = ./roles` versus `roles_path = roles`. The latter I have confidence about, and will use the "roles" directory relative _to the config file_. The working directory should probably be the project directory, so I expect that either solution should probably be the same, but either ansible-runner or Ansible could introduce further complications in its processing.

Adding another com

[2019-10-03 20:33] kdelee opened #4907 "inventory updates + project updates deployed to container groups don't report execution node"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

This is a known issue of https://github.com/ansible/awx/pull/4189 that will be resolved in follow up PR.

Inventory updates need to run on a Tower node, and this does happen even when "deployed" to a Container Group. The problem is, there is no way to figure out from API what tower node it was deployed to.

This is connected to the fact that there is

[2019-10-03 20:43] kdelee opened #4908 "adhoc commands run by container group don't cleanup job pod in k8s/openshift cluster"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

This is a known issue of #4189 that will be resolved in follow up PR.

Currently with the feature if you run an `ad_hoc_command` that gets deployed to a ContainerGroup, the job will run in a pod on the cluster but the pod is never cleaned up after the job runs or is canceled.

##### STEPS TO REPRODUCE

1) create a working Container Group
2) Create an

[2019-10-03 20:53] kdelee opened #4909 "when job deployed to container group fails to connect or loses connection, job status should be "ERROR""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

This is a known issue of #4189 that will be resolved in follow up PR.

When a job deployed to a container group fails after the pod has been deployed from never being able to connect (no rsync on container for example) or from losing connection (pod prematurely exits/is killed) the job gets failure state "failed" instead of "error", although error is

[2019-10-03 20:54] unlikelyzero commented on #4904
@wenottingham @mabashian note: this is currently our biggest painpoint in e2e as our most basic smoke tests are failing due to issue identified here. I believe we should tackle this in 3.6.0 as it might uncover larger issues with sporadic login or authentication failures.

Here is an example of another authentication failure which was never solved https://github.com/ansible/awx/issues/2447

[2019-10-03 21:08] kdelee opened #4910 "jobs still dispatched to container group even if ResourceQuota will cause them to be rejected + fail immediately"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

This is a known issue of #4189 that will be resolved in follow up PR.

_IF the user sets up the namespace that they use for the Container Group with a ResourceQuota_...

@one-t has confirmed that when a Container Group has exceeded capacity (e.g. has met its ResourceQuota) , jobs will still be sent to it because of lack of capacity calculation for Con

[2019-10-03 21:22] kdelee opened #4911 "need a reaper for hung/zombie job pods left by container groups"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

This is a known issue of #4189 that will be resolved in follow up PR.

If for some reason (Tower restart, network problems, etc) job pods get left running in the namespace provided by a ContainerGroup, there is currently no reaper to check on these jobs and clean them up. As a matter of due diligence, we should do this.

@shanemcd and @ryanpetrello

[2019-10-03 22:39] one-t opened #4912 "Need to be able to define controller for container groups"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Related: https://github.com/ansible/awx/issues/4907

Users should be able to choose a controller node/nodes for their container groups- this would cut down on the number of firewall exceptions they'd need to create to allow for containerized execution of jobs.

[2019-10-04 04:03] shweppsie commented on #3935
I'm seeing this same problem with awx 7.0.0.0 which I installed via the ansible docker method.
I have enabled role download but roles are never downloaded as far as I can tell.
![image](https://user-images.githubusercontent.com/68794/66180259-cd140600-e6c8-11e9-9bcf-aad8dc0b7db4.png)
[code]
I tried commenting out `when: roles_enabled|bool` but then `fetch galaxy roles from requirements.yml` task c

[2019-10-04 12:44] rmauc commented on #1668
Can you tell me  the data from which logger contains the Tower Organization - awx.analytics.activity_stream or awx.analytics.job_events?
Thanks

[2019-10-04 12:50] ryanpetrello commented on #3825
@rooftopcellist @fosterseth is this ready for `state:needs_test` ?

[2019-10-04 12:52] ryanpetrello commented on #3826
@wenottingham @one-t @jladdjr I know we split this out into multiple issues, but I'm placing this one in test, because https://github.com/ansible/awx/pull/4716 summarizes what we've committed to doing in the near term (and @one-t is actively working on verifying it).

We'll need to revisit the graphs/data collection aspects of this at a later date (especially as we decide how it relates to Automat

[2019-10-04 13:11] ryanpetrello commented on #4887
Here's what this currently looks like:

[code]

To do this correctly, we should add an `--approval_notification` flag to `workflow_job_template` *and* `organization` associate/disassociate.

Additionally, these flags should allow you to specify a primary key of a `NotificationTemplate` _or_ its name.

[2019-10-04 13:34] msilmser opened #4916 "Set `external_account` to be filterable in the API"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Allow the `external_account` field to be filtered via the API. This will allow admins to filter out a list of local users vs external users inside of Tower.

[2019-10-04 14:50] wenottingham commented on #1668
job_events  events have a record for the job id.
the job id has a creation event in the activity stream.
the job's organization is inherited from the job template's organization, which usually comes from the project. You may need additional API queries, or to chain additional filtering, to do this.

[2019-10-04 14:54] dolgovas opened #4918 "On standalone docker install use ssl"
When use docker install without docker-registry, ssl doesn't working

It can fix with some changes

[code]

[2019-10-04 15:18] ryanpetrello commented on #4635
I'm able to reproduce this failure by setting `AWX_TASK_ENV` and running an adhoc with `-m setup`:

![image](https://user-images.githubusercontent.com/214912/66219211-be155f80-e698-11e9-9f59-e73108f6593c.png)

![image](https://user-images.githubusercontent.com/214912/66219189-b48bf780-e698-11e9-91df-42783406997d.png)

[2019-10-04 15:21] ryanpetrello commented on #4635
This looks like it _might_ actually be a bug in Ansible itself, because I'm able to get down the point in time where we actually fork `ansible-playbook`, and it looks like we're passing the environment variable correctly:

![image](https://user-images.githubusercontent.com/214912/66219379-0e8cbd00-e699-11e9-8358-4547dd11dbb5.png)

[2019-10-04 15:26] ryanpetrello commented on #4635
Actually @v1dlak are you sure your timeout of 60s isn't _actually_ being respected by Ansible?  AWX is certainly passing it in as an env var (as the Ansible documentation suggests).

This screenshot you've referenced is just the `module_args` that were passed in (and you didn't specify any _as module args_, so the value of 10 in this context makes sense)

![](https://user-images.githubusercontent.

[2019-10-04 15:28] #4635 closed, assigned to ryanpetrello

[2019-10-04 15:37] fosterseth commented on #4739
I could not replicate this issue on the latest build

**Environment**
awx: 7.0.0

docker ps
![Screenshot from 2019-10-04 11-08-38](https://user-images.githubusercontent.com/8745776/66219430-282e0480-e699-11e9-96e0-4af7db9fc0e3.png)

**Steps to try to reproduce**
Login to a Microsoft Azure AD account and register an app
![Screenshot from 2019-10-04 11-23-38](https://user-images.githubusercontent.co

[2019-10-04 15:54] rmauc commented on #1668
Therein lies the problem Bill.. I am looking to slice the data in Splunk - so only have what is aggregated to it (no additional API queries unfortunately).
Not being able to extract data by organization in either stream is a problem we have had for quite sometime.

[2019-10-04 16:34] kdelee opened #4920 "traceback in logs related to inventory updates and workflows"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Seeing this traceback in logs of development container, still need to firm up exact reproduction steps. @ryanpetrello seemed to recognize traceback and probably knows what is up

##### STEPS TO REPRODUCE

Running a workflow with a number of nodes in it, seeing some significant delay in jobs running in workflow and looked into logs to investigate. Can

[2019-10-04 16:47] wenottingham commented on #4920
assuming this is fallout from https://github.com/ansible/awx/pull/4731

[2019-10-04 16:55] ryanpetrello commented on #4920
@wenottingham you'd be right; I'll take a look.

[2019-10-04 17:04] ryanpetrello commented on #4918
@dolvogas thanks for reporting, PRs are welcome.

[2019-10-04 17:04] #4918 closed, assigned to nobody

[2019-10-04 17:09] ryanpetrello commented on #4894
Hey @yasahmed,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-10-04 17:09] #4894 closed, assigned to nobody

[2019-10-04 17:20] ryanpetrello commented on #4840
Only downside is that this represents a backwards-incompatible API change.

@gamuniz are you saying we should remove this from the _list_ view?  We're probably not likely to remove it from the detail view.

[2019-10-04 17:23] wenottingham commented on #4840
I would note that we include extra_vars on the list view for both jobs and job templates, which is a similar source of unbounded data.

[2019-10-04 17:25] ryanpetrello commented on #4860
@colinengland not sure what's up here - sounds like you're using https://awx.wiki/installation?

You might want to reach out to folks maintaining that here: https://github.com/MrMEEE/awx-build/issues

[2019-10-04 17:25] #4860 closed, assigned to nobody

[2019-10-04 17:47] ryanpetrello commented on #4920
@kdelee you can easily reproduce this by running any workflow that contains an inventory update:

![image](https://user-images.githubusercontent.com/214912/66228453-764d0300-e6ad-11e9-8efb-1f0bde5065c7.png)

Whoops 😢

[2019-10-04 18:58] jbradberry commented on #4771
So it turns out that `AdHocCommandEventSerializer` (as well as `JobEventSerializer`) has logic that truncates the `stdout` fields down to `settings.EVENT_STDOUT_MAX_BYTES_DISPLAY` when accessing the event list endpoint, which is what the cli accesses.  The events detail endpoint as well as the special `stdout` endpoint are unaffected.

We almost certainly don't want the results coming from the cli

[2019-10-04 20:38] AlanCoding commented on #3935
That is correct, it is intended that roles are not downloaded in the project update. They will be installed before the job starts.

[2019-10-04 20:42] AlanCoding commented on #4761
With information from the last comment, I'm closing as duplicate of https://github.com/ansible/awx/issues/4675, which has a proposed patch.

[2019-10-04 20:42] #4761 closed, assigned to nobody

[2019-10-04 21:02] jladdjr opened #4923 "Update help text for perf stats"
see https://github.com/ansible/awx/pull/4716#discussion_r330187287

[2019-10-04 21:17] ryanpetrello commented on #4891
cc @beeankha

[2019-10-05 03:59] zx1986 commented on #3085
same issue with AWX 7.0.0

[2019-10-05 04:06] zx1986 commented on #3935
refs: https://docs.ansible.com/ansible-tower/latest/html/userguide/projects.html#ansible-galaxy-support

I got the same issue like @jean-christophe-manciot in AWX 7.0.0
Maybe this issue is relative to https://github.com/ansible/awx/issues/4675 ?
The path of `roles` missing with AWX.

[2019-10-05 04:16] zx1986 commented on #4675
My project structure is like:

[code]

[2019-10-05 16:38] AlanCoding opened #4925 "AWX collection inventory plugin not loading after install"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Installing `awx.awx` collection is not allowing the "tower" inventory plugin to be used.

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

This should put the beta content in your user co

[2019-10-06 10:55] adpavlov commented on #877
Same here with AWX 6.1.0
Though in yaml format EXTRA VARIABLES  page shows everything correct
[code]
During task execution it can't access var `DEVICE={{ servers[inventory_hostname].interface1 }}`

`"msg": "'ansible.utils.unsafe_proxy.AnsibleUnsafeText object' has no attribute u'server1'"`

Issue is almost 2 years old, are there any plans to fix it?

[2019-10-06 16:33] gamuniz commented on #4840
@ryanpetrello Yeah the list view is what we're currently using to populate the launch on prompt for inventories, having multiple job templates each prompting for inventories can cause several calls to inventories/ which loads all data as @wenottingham mentioned currently its unbounded data. If removing the variables causes incompatible api changes, perhaps changing the query used in prompts would

[2019-10-06 20:45] vrevelas commented on #4710
Thanks all!

I did some testing this weekend on daa6f35d02b8d542d8a9e31b85ad29a7d0a5aca3 and unfortunately the functionality is not working as expected. I set the values of "Refresh Token Expiration" and "Access Token Expiration" both to low values (60 seconds), but 2 minutes after issuing a token the management job to remove the expired access token continues to do nothing. Changing the value of

[2019-10-07 05:36] Joffrey54 opened #4926 "pwsh as executable for module shell doesn't work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
pwsh as executable for module shell doesn't work. For example, it reports "New-Credential : The term 'New-Credential' is not recognized as the name of a cmdlet,"

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker
* Ansible version:  2.8.5
* Operating System: CentOS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

[code]

##### EXPECTE

[2019-10-07 06:00] Joffrey54 commented on #4926
I think it's more a pwsh installation problem. Sorry

[2019-10-07 06:00] #4926 closed, assigned to nobody

[2019-10-07 14:30] #4247 closed, assigned to AlexSCorey

[2019-10-07 14:44] barrybritt-vertex commented on #4750
I can confirm this. I was using the containerized version and fixed by running:
`$> docker exec -it awx_task`
The path inside of the running container is:
`/var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/playbooks`
Updating the project-update.yml playbook to default to the cwd (as noted above) seems to resolve the issue.

[2019-10-07 15:27] jakemcdermott commented on #4749
https://github.com/ansible/awx/pull/4928

[2019-10-07 15:36] jakemcdermott commented on #4749
fix verified for users and teams:

![team_org_rbac_user_links](https://user-images.githubusercontent.com/9753817/66326273-adfabb80-e8f6-11e9-8b06-8bc343e7de6f.gif)

[2019-10-07 18:58] matburt commented on #4700
It looks like we have something underway here between RH and IBM, I think we should funnel this through that process.

[2019-10-07 18:58] #4700 closed, assigned to nobody

[2019-10-07 19:25] james-crowley commented on #4700
@matburt Do you mind emailing me about this internal process? I just want to make sure were on the same page.

My email is `James.Crowley@ibm.com`.

[2019-10-07 22:08] trabacct opened #4934 ""tower" instances die"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Count for "tower" instance_group shrinks from 3 to 1.  Jobs start failing.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: kubernetes
* Ansible version:  2.8.4
* Operating System: CentOS 7
* Web Browser: Firefox 69.0.1

##### STEPS TO REPRODUCE

Have 3 node k8s cluster installed using Kubespray v2.11.0 (kubectl version v1.15.3).   Increa

[2019-10-07 23:17] one-t commented on #4664
Confirmed that users can log in when these are not set

[2019-10-07 23:17] #4664 closed, assigned to one-t

[2019-10-07 23:24] one-t commented on #4848
Confirmed that there is now a link on the job results page and that it leads to the container group.

[2019-10-07 23:24] #4848 closed, assigned to AlexSCorey

[2019-10-07 23:43] one-t commented on #4739
Confirmed that I am able to log in, log out, log back in again successfully with azure ad auth. I also tested SLO (Single Log Out, where I log out of azure and re-auth when I try to sign in to tower) successfully.

[2019-10-07 23:43] #4739 closed, assigned to fosterseth

[2019-10-07 23:51] #1485 closed, assigned to shanemcd

[2019-10-08 00:21] kdelee commented on #4156
@sankat447 thanks for trying this out. That error is just ansible being loud, it is not actually an error (wish we could get it to look less scary, but that is a separate issue)

[2019-10-08 08:25] Spredzy opened #4936 "Project update fails with SVN and repo containing UTF-8 characters"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

The ansible subversion module does not handle repo containing UTF8 properly.
This is because no matter what your system locale environments are, the module will override them[1][2] and not honor them.

[code]

[1] https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/subversion.py#L264
[2] https://github.com/ansible/ansible

[2019-10-08 13:18] elyezer commented on #4708
I am now at:

[code]

And the page has been consistently being loaded in about 2.5~3 seconds. Since when the system had just a few jobs run. I will keep getting jobs run to check closer to the number mentioned in the issue description `606596` to check if we have loss of performance. I am running AWX on docker containers which is the same scenario as described by this issue.

![Screenshot from 201

[2019-10-08 15:05] mabashian commented on #4904
link https://github.com/ansible/awx/issues/4438

[2019-10-08 16:51] mageru commented on #1034
This worked for me

sudo -u postgres LD_LIBRARY_PATH=/opt/rh/rh-postgresql10/root/usr/lib64/:$LD_LIBRARY_PATH /opt/rh/rh-python36/root/usr/bin/awx-manage shell_plus

[code]

[2019-10-08 17:36] #4708 closed, assigned to elyezer, matburt, ryanpetrello, AlanCoding

[2019-10-08 17:47] mabashian commented on #4904
This one is quite tricky to reproduce.  I've been able to reproduce it once (maybe twice) over the past 24 hours.  When I was able to reproduce I noticed that the following error was being thrown to the console:

<img width="1043" alt="Screen Shot 2019-10-07 at 3 38 35 PM" src="https://user-images.githubusercontent.com/9889020/66419087-6c8b0e80-e9d1-11e9-9695-073181431796.png">

`Cannot read prope

[2019-10-08 17:48] elyezer commented on #4334
Did the following to verify:

1) Create an user and logged into the UI with it
2) Deleted the user over the API
3) Tried to navigate on the UI and I was brought to the loging page
4) Tried to loging with the deleted user and, as expected, was not able.

While doing all the steps above I was watching the logs and no stacktrace was shown. With that said we can close this one.

[2019-10-08 17:48] #4334 closed, assigned to elyezer, fosterseth

[2019-10-08 17:48] mabashian commented on #4438
@thoben we're tracking something very similar (if no identical) in #4904.  I'm glad you found a workaround.  If you do run in to this again would you mind taking a look at the browsers console and let us know if there are any errors in there?  Additionally I'd be curious to know what the response to `/api/v2/me` looks like.

[2019-10-08 18:02] elyezer commented on #4788
I did the following to verify this one:

1) Added a second instance group
2) Resized/zoomed the UI to see how it behaved. See below the screenshots:

![Screenshot from 2019-10-08 14-00-13](https://user-images.githubusercontent.com/48132/66420588-21262f80-e9d4-11e9-88f5-d32b618221de.png)

![Screenshot from 2019-10-08 14-00-25](https://user-images.githubusercontent.com/48132/66420589-21262f80-e9d4-1

[2019-10-08 18:02] #4788 closed, assigned to elyezer, AlexSCorey

[2019-10-08 18:16] elyezer commented on #4778
Did the following to verify:

1) Created a workflow job template with 3 nodes: jt, approval, jt.
2) Ran the workflow two times, the first one approved the approval node and on the second one the approval node was denied
3) Edited the workflow job template created on step 1 and deleted the approval node
4) Came back to the previous job runs and saw the following. The test for deleted and approved/d

[2019-10-08 18:16] #4778 closed, assigned to elyezer, mabashian

[2019-10-08 18:52] unlikelyzero opened #4940 "Container Group Form Tooltip is out of alignment"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Container Group Form Tooltip is out of alignment

##### ENVIRONMENT
* AWX version: 7.0.0

##### STEPS TO REPRODUCE

1. Click tooltip on container group form 'Name'

##### EXPECTED RESULTS

Tooltip aligned to the tooltip icon

##### ACTUAL RESULTS

slightly out of alignment
![Screen Shot 2019-10-08 at 2 45 03 PM](https://user-images.githubusercontent.co

[2019-10-08 18:54] appuk commented on #4749
The links are working as expected, Hence, closing the bug

[2019-10-08 18:54] #4749 closed, assigned to appuk

[2019-10-08 20:03] mabashian opened #4942 "Update template add button to account for workflow options"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Currently the template add button is hidden/shown based on the options response on `/api/v2/job_templates` _only_.  The button should be shown when the user can create a job template _or_ a workflow job template.  The options in the dropdown should also hidden/shown based on what the user has permission to do.  See this block https://github.com/ansible

[2019-10-08 20:12] mabashian commented on #4942
As part of this work we should add tests to confirm this behavior (see projects/orgs list tests after https://github.com/ansible/awx/pull/4929 merges)

[2019-10-08 21:01] Freeze commented on #1855
Still exists in 7.0.0.  Why is this closed?

[2019-10-08 21:38] unlikelyzero opened #4943 "System Auditor is unable to view Container Groups"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
System Auditor is unable to view Container Groups

##### ENVIRONMENT
* AWX version: 7.0.0

##### STEPS TO REPRODUCE
1. Create Container Group
2. Log in as System Auditor
3. Attempt to view a container group

##### EXPECTED RESULTS
Able to view container group like an instance group

##### ACTUAL RESULTS
Unable to view container group

##### ADDITIONAL

[2019-10-08 21:42] unlikelyzero opened #4944 "Doc Link to Container Group Tech Preview warning links to 'Instance Group' and not 'Container Group' doc"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Doc Link to Container Group Tech Preview warning links to 'Instance Group' and not 'Container Group' doc. Note: this may not be available to implement until documentation exists.

##### ENVIRONMENT
* AWX version: 7.0.0

##### STEPS TO REPRODUCE
1. Navigate to Container Group Form
2. Click on the Warning on Container Group Edit Form

##### EXPECTED RESU

[2019-10-08 21:53] squidboylan commented on #4874
WFM with awxkit/awx cli installed from devel. Closing the issue as this is fixed

[2019-10-08 21:53] #4874 closed, assigned to ryanpetrello, squidboylan, kdelee

[2019-10-08 22:15] unlikelyzero opened #4945 "Responsivity issues on WFJT Job Results Details View"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Responsivity issues on WFJT Job Results Details View

##### ENVIRONMENT
* AWX version: 7.0.0

##### STEPS TO REPRODUCE
1. View the WFJT Job Results Page at a narrow width

##### EXPECTED RESULTS
1. Job Results window to expand horizontally

##### ACTUAL RESULTS
1. Squishy

##### ADDITIONAL INFORMATION
![Screen Shot 2019-10-08 at 6 08 27 PM](https://use

[2019-10-08 22:18] unlikelyzero opened #4946 "[WIP] Page loadtimes can take 15 times longer under specific usage conditions"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Note: this ticket is WIP and needs more information and repro steps.

I experienced extremely slow page load performance while using the container groups feature on a recent build. After some time (maybe an hour) of testing the container groups feature, the page load performance was so poor that the session became unusable.

Notes:
- At first I thought

[2019-10-08 23:12] one-t commented on #4791
Confirmed that it's now possible to use a passphrase when pulling a private key using a credential lookup

[2019-10-08 23:12] #4791 closed, assigned to wenottingham, one-t

[2019-10-08 23:22] one-t commented on #4139
Confirmed that this is now fixed using the verification steps listed in a prior comment. (https://github.com/ansible/awx/issues/4139#issuecomment-510955154)

[2019-10-08 23:22] #4139 closed, assigned to one-t

[2019-10-09 02:04] Nascentes commented on #1898
This is still an ongoing issue, even in 7.0.0. @shivam99aa where did you change the hostname? Can you please provide details to those of us still hitting this issue?

Clean install of 7.0.0 with external postgres throw this over and over in the awx_task docker logs:

[code]

[2019-10-09 05:05] marshmalien opened #4947 "Adjust spacing between detail list columns"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Currently the detail list grid spacing is set to 20px. Per @trahman73, we should increase the detail list label + value column gap to 40px, and keep the spacing between the detail label and detail value at 20px. See image below for clarification.

This style change should affect every Detail view:
* Job Details
* Job Template Details
* Organization Det

[2019-10-09 08:26] Xaroth commented on #3462
This same issue also affects the job listing; when expanding the job listing to show more information, each completed job run (or new job being started) refreshes the listing, thus causing it to show it's default collapsed overview.

[2019-10-09 12:20] felipecafu95 commented on #1898
I "change" the container hostname in docker compose file, follow the example bellow
https://raw.githubusercontent.com/aka-cafu/ecs/master/awx/docker-compose-ecs.yml

[2019-10-09 13:10] ryanpetrello commented on #1898
This is likely a duplicate of https://github.com/ansible/awx/issues/4294

This should be resolved in the next major release of AWX, but in the meantime, you can try out this patch that landed in `devel`: https://github.com/ansible/awx/pull/4268

[2019-10-09 13:19] #4549 closed, assigned to mabashian

[2019-10-09 13:33] fpjrh commented on #4940
@unlikelyzero, it would appear to me that the misalignment might be a couple of pixels at most. Can you clarify the exact amount that you expect to see this tooltip realigned?

Thank you!

[2019-10-09 13:36] mabashian opened #4948 "Org teams empty list text references notifs instead of teams"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1680" alt="Screen Shot 2019-10-09 at 9 34 45 AM" src="https://user-images.githubusercontent.com/9889020/66486212-22a93380-ea78-11e9-857f-4be7751c3764.png">

`No Notifications Found` should be `No Teams Found` and `Please add Notifications to populate this list` should be `Please add Teams to populate this list`

[2019-10-09 13:40] #4936 closed, assigned to nobody

[2019-10-09 13:52] mabashian opened #4949 "Org related resources"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In the existing application there are number of related lists that can be accessed from the or list:

<img width="531" alt="Screen Shot 2019-10-09 at 9 41 19 AM" src="https://user-images.githubusercontent.com/9889020/66486660-0e196b00-ea79-11e9-9e92-2df8c81b91a3.png">

In list form:

Users - we have this already (Access tab)
Teams - we have this alre

[2019-10-09 14:00] mabashian opened #4950 "Hide max hosts field on org form"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Hide max hosts field on Organization Add and Edit Form when installation type is AWX.  Field only applies to licensed installations (i.e. Tower).

<img width="1467" alt="Screen Shot 2019-10-09 at 9 59 09 AM" src="https://user-images.githubusercontent.com/9889020/66488178-854ffe80-ea7b-11e9-8fe5-062f0bdf292e.png">

[2019-10-09 14:08] mabashian opened #4951 "Org team list links should point to team details"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Currently points to `/#/api/v2/teams/:id`

<img width="655" alt="Screen Shot 2019-10-09 at 10 06 57 AM" src="https://user-images.githubusercontent.com/9889020/66488861-abc26980-ea7c-11e9-9447-4f4a43eec10d.png">

[2019-10-09 14:10] unlikelyzero commented on #4940
![Screen Shot 2019-10-09 at 10 07 59 AM](https://user-images.githubusercontent.com/12446869/66488880-b1b84a80-ea7c-11e9-9e92-9776140dd532.png)

@fpjrh this is what it should look like. We wouldn't call out pixels in this class of defect because of how the alignment is calculated

[2019-10-09 14:12] mabashian opened #4952 "Org access user links should point to user details"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Currently pointing to `/#/api/v2/users/:id`

<img width="702" alt="Screen Shot 2019-10-09 at 10 12 21 AM" src="https://user-images.githubusercontent.com/9889020/66489264-4f137e80-ea7d-11e9-9672-5d9160805e7b.png">

[2019-10-09 14:13] fpjrh commented on #4940
@unlikelyzero, thank you!

[2019-10-09 14:19] mabashian opened #4953 "Link to instance group from org details when present"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
<img width="1481" alt="Screen Shot 2019-10-09 at 10 17 06 AM" src="https://user-images.githubusercontent.com/9889020/66489703-07d9bd80-ea7e-11e9-8e2d-c210560f30b3.png">

We don't currently do this in the existing application but with this new Details pattern I'm wondering if we should link out to all linkable resources like Instance Groups.

[2019-10-09 14:21] mabashian commented on #4953
Ping @trahman73 @wenottingham - thoughts on this pattern?  If we display related resources (instance groups, credentials, projects, etc) in the Details view for a particular item should we always provide a link to that resource?  It seems like it could be an easy win.

[2019-10-09 14:27] mabashian commented on #4950
Should also be hidden on the Org Details view:

<img width="1415" alt="Screen Shot 2019-10-09 at 10 26 52 AM" src="https://user-images.githubusercontent.com/9889020/66490551-550a5f00-ea7f-11e9-867d-c4330ee5637c.png">

[2019-10-09 14:27] beeankha commented on #4712
Closing this issue due to https://github.com/ansible/awx/pull/4933 being merged!

[2019-10-09 14:29] AlanCoding opened #4954 "Add a toggle to turn off/on https://galaxy.ansible.com/ as a fallback server"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In the current implementation of https://github.com/ansible/awx/pull/4589, you can change the "fallback" server in the file settings. But this isn't very accessible.

This issue is to add a toggle like "Use Galaxy Fallback", and it's it's checked, it will use the public galaxy in the server list at lower precedence than what's defined in the settings

[2019-10-09 14:33] #4237 closed, assigned to nobody

[2019-10-09 14:43] #4712 closed, assigned to beeankha

[2019-10-09 14:53] erics302 opened #4955 "when passing a blank extra-var: "Error: failed to parse some of the extra variables."
In ansible-playbook, I can pass a blank variable via cli. I am attempting the same when launching a job_template with tower-cli but get an error.

awxkit==7.0.0
[code]

[2019-10-09 14:54] mabashian opened #4956 "Link to project/inventory from JT details"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1482" alt="Screen Shot 2019-10-09 at 10 53 00 AM" src="https://user-images.githubusercontent.com/9889020/66492814-fe9f1f80-ea82-11e9-86c4-aad1b4ef3547.png">

We have details views for inventories and projects so might as well link to those things from this details view.  Note that the resource could be deleted.  If that's the case we should

[2019-10-09 14:56] mabashian opened #4958 "JT Access tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hook up JT Access related tab.  This tab shows who has roles on the JT and gives a user with proper permissions the ability to add/remove roles.

[2019-10-09 14:57] ryanpetrello commented on #4955
@erics302 the `tower-cli` tool is no longer actively maintained (and isn't part of AWX).  You may want to take a look at the official AWX CLI instead:

https://github.com/ansible/awx/tree/devel/awxkit/awxkit/cli

[2019-10-09 14:57] #4955 closed, assigned to nobody

[2019-10-09 14:57] mabashian opened #4959 "JT Schedules List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
There's a lot of overlap between this list and https://github.com/ansible/awx/issues/5857.  If we decide to include the Type column (which will always be Playbook Run in this case) then the two lists become even more similar.

The list is populated by interacting with `/api/v2/job_templates/:id/schedules`.

The list should have 5 (maybe 4) columns:

[2019-10-09 14:57] mabashian opened #4960 "JT Completed Jobs Tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is a placeholder - more details to come

[2019-10-09 14:58] mabashian opened #4961 "JT Survey tab"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This is a placeholder - more details to come

[2019-10-09 15:01] mabashian opened #4962 "Add Enable Webhook & corresponding fields to JT form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Existing JT form:

<img width="1481" alt="Screen Shot 2019-10-09 at 11 00 38 AM" src="https://user-images.githubusercontent.com/9889020/66493453-19be5f00-ea84-11e9-84b1-2597c29dffef.png">

[2019-10-09 15:01] erics302 opened #4963 "awx-cli - when passing a blank extra-var: "Error: failed to parse some of the extra variables."
In ansible-playbook, I can pass a blank variable via cli. I am attempting the same when launching a job_template with awx-cli but get an error.
I mistakenly pasted output from tower-cli in issue #4955, but the behavior exists identically in awx-cli as well.

awxkit==7.0.0

~$ awx-cli job launch -J my_template_name --extra-vars="foo=''"
Error: failed to parse some of the extra variables.
variables:

[2019-10-09 15:05] trahman73 commented on #4949
@mabashian We display Members and Teams in the current awx-pf list here:

https://tower-mockups.testing.ansible.com/patternfly/orgs/orgs/

I'm not sure how much use the rest of those links got on that view so I'm in favor of going with less and adding later if needed.

[2019-10-09 15:08] mabashian opened #4964 "JT save button enabled even when required fields empty"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1449" alt="Screen Shot 2019-10-09 at 11 07 37 AM" src="https://user-images.githubusercontent.com/9889020/66494039-06f85a00-ea85-11e9-88be-d8cba6934e28.png">

[2019-10-09 15:09] trahman73 commented on #4953
@mabashian Agreed, we should link to resources whenever possible. For text, we would just use a standard text link and for tags, we can just make them clickable without changing their appearance.

[2019-10-09 15:10] mabashian opened #4966 "JT Project should auto fill if user only has one to select"
##### ISSUE TYPE
 - Bug

##### SUMMARY
This is a feature of the existing application.  If I go to the JT form and only have access to one project that field will be automatically filled for me.

[2019-10-09 15:17] mabashian opened #4967 "Support prompt on launch options in JT form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Example:

<img width="470" alt="Screen Shot 2019-10-09 at 11 12 55 AM" src="https://user-images.githubusercontent.com/9889020/66494522-cb11c480-ea85-11e9-9f86-5fc845f3836c.png">

See mockups for more examples: https://tower-mockups.testing.ansible.com/patternfly/templates/templates-add/

Currently supported promptable fields:
ask_scm_branch_on_launch

[2019-10-09 15:23] ryanpetrello commented on #4963
`awx-cli` is just an alias for `tower-cli` (you're still using the deprecated tool):

https://github.com/ansible/tower-cli/blob/master/setup.py#L165

Please follow the instructions at https://github.com/ansible/awx/issues/4955

[2019-10-09 15:23] #4963 closed, assigned to nobody

[2019-10-09 15:30] #4234 closed, assigned to marshmalien

[2019-10-09 15:38] mabashian opened #4968 "Host Config Key field should be marked as required when provisioning callback checkbox checked"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
A few differences I noticed between the existing implementation of provisioning callbacks and the ui_next version.

1. Host Config Key should have a little * next to it to denote that it's required when the checkbox is checked.
~~2. With provisioning callbacks enabled, a successful save of the form doesn't show the old modal:~~

[2019-10-09 15:42] mabashian opened #4969 "Add copy support to all the places"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This can be broken down into smaller pieces but using this as a placeholder so we don't forget.  It's likely that copy will be a repeatable pattern in all the places so may be easy to knock out in one go.
Breaking this out into smaller issues
- [x] Add Copy Support for JT, WFJTs and Credentials #6862

- [x] Add Copy Support for Projects and Inventori

[2019-10-09 15:45] mabashian opened #4970 "Support expanded rows on Templates list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See https://tower-mockups.testing.ansible.com/patternfly/templates/templates-expand/ for mockups

[2019-10-09 15:50] trahman73 commented on #4968
@mabashian In current Tower, I believe the modal was necessary to point out the Host Config Key. Now that we have a Details view for ui-next, my opinion is that we no longer need the modal.

[2019-10-09 16:08] mabashian opened #4971 "Add static text to jobs list header denoting what sort order is"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Current implementation only shows a sort icon:
<img width="1442" alt="Screen Shot 2019-10-09 at 12 05 28 PM" src="https://user-images.githubusercontent.com/9889020/66499158-4165f500-ea8d-11e9-8ed3-364438e297dc.png">

Idea would be to show some static text next to that button like:

`Sort Order <b>Finished</b>`

or something like that to indicate that

[2019-10-09 16:10] mabashian opened #4972 "Add copy icon and functionality next to commonly copied fields"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This would require some thought but for places where users copy text out of fields we could help them out by providing a shortcut (copy icon) next to the field which would copy the value to their clipboard.

https://www.patternfly.org/v4/documentation/react/components/clipboardcopy/

[2019-10-09 16:24] AlanCoding commented on #4418
What update-on-launch options are selected for the projects & inventory sources mentioned in these steps?

[2019-10-09 16:33] ryanpetrello commented on #4887
I'm marking this as a bug, because we recently added this feature to AWX and the CLI doesn't support it.

[2019-10-09 16:56] ryanpetrello commented on #4904
This smells like the `/api/v2/me/` is returning an HTTP 401 to me for some reason.  This _might_ be a race in the UI login code?

I suspect that if we could see the HTTP response in situations like this, we'd get:

![image](https://user-images.githubusercontent.com/214912/66502882-264ab380-ea94-11e9-945a-beee28e87fa8.png)

[2019-10-09 17:04] ryanpetrello commented on #4891
This is going to involve, at a minimum:

1.  Adding a new related field to the `WorkflowApproval` object to track the user that approved or rejected it (including a migration to add the new column):

https://github.com/ansible/awx/blob/devel/awx/main/models/workflow.py#L672

Here's a similar field: https://github.com/ansible/awx/blob/devel/awx/main/models/base.py#L277

2.  When an approval node is

[2019-10-09 17:06] jakemcdermott opened #4973 "Switch default job tab to output"
##### ISSUE TYPE
 - Feature Idea

cc @trahman73 @mabashian

[2019-10-09 17:31] trahman73 commented on #4973
We also want the same behavior for Workflows. Default tab would be Workflow Run View.

[2019-10-09 17:45] mabashian commented on #4221
Adding a few things to this (I think most if not all of these things apply to the area above the output):

- add Failed badge count to the header area when count is greater than 0
- add Unreachable badge count to the header area when count is greater than 0
- add dropdown to filter output by status
- add dropdown to filter output by verbosity level (this one will require further discussion)

[2019-10-09 17:49] mabashian commented on #4904
The logs provided in #4438 confirm that `/api/v2/me` came back 401 in that case.  That seems much more likely than a 200 with empty `results`

[2019-10-09 17:50] mabashian opened #4975 "Show standard error in place of output if job fails before output generated"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add error state to output view when job fails before output is generated

[2019-10-09 17:53] mabashian opened #4976 "Add status icon to jobs list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Job status icon missing from rows in jobs list

<img width="1055" alt="Screen Shot 2019-10-09 at 1 52 56 PM" src="https://user-images.githubusercontent.com/9889020/66506902-31a1dd00-ea9c-11e9-9a89-23ad8a9ddf73.png">

[2019-10-09 17:55] mabashian opened #4977 "Support expanded rows on Jobs List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs-expand/ for details

[2019-10-09 18:14] mabashian opened #4978 "Add job id to rows in jobs list"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The job id should be added the name of the resource in the jobs list like so:

`482 - Mike's JT`

See the existing app/mockups for examples https://tower-mockups.testing.ansible.com/patternfly/jobs/jobs/

[2019-10-09 18:18] mabashian opened #4980 "Add rbac to job details delete button"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Delete button shown to system auditor - should be hidden.  We'll want to make sure that the user _can_ delete before we show that button:

<img width="1529" alt="Screen Shot 2019-10-09 at 2 17 19 PM" src="https://user-images.githubusercontent.com/9889020/66508666-8e52c700-ea9f-11e9-8699-157403085d1d.png">

Look at `summary_fields.user_capabilities.dele

[2019-10-09 18:40] keliansb commented on #4543
Any news about this issue ? Thanks

[2019-10-09 18:54] AlexSCorey commented on #4943
After investigating this a little bit it looks like a SystemAuditor does not have `OPTIONS.actions.PUT.pod_spec_override.default` coming back from the api,  which makes sense because this user can't update anything.

[2019-10-09 18:59] wenottingham opened #4982 "change UI websocket deadbanding from hardcoded 5 seconds to a config option"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Right now, when we get websocket updates, we band requires so that we only do a REST query to refresh data at most once every 5 seconds.  This should actually be a defined option that can be tweaked (5 seconds is a fine default).

[2019-10-09 19:00] wenottingham opened #4983 "adjust UI_LIVE_UPDATES_ENABLED to still allow job panel updates"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

In an extremely busy environment, sometimes a user will set UI_LIVE_UPDATES_ENABLED to False to avoid extra REST requests and load. However, in general, we still want live updates to the job status and output panel, even if this is set to false.

[2019-10-09 19:02] mabashian opened #4984 "Idea: Add delete button to all deletable details views"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We already have this on the job details but I actually think it's a great idea on the details view for other resources.  Now that we don't show the list under the form/details a user would need to navigate back to the list to delete a resource that they've inspected.  Upon successful delete we should navigate the user back to the list view for that p

[2019-10-09 19:04] AlanCoding commented on #4703
Thanks for the info. I'm going to put this in needs_test, because we should pursue testing with something exactly like your example.

[2019-10-09 19:19] mabashian opened #4985 "Remove close button from details views"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Don't need both the [x] and the close button.  Since the [x] is needed for the other related tabs lets keep that and remove the close button from the details views.

<img width="1491" alt="Screen Shot 2019-10-09 at 3 18 22 PM" src="https://user-images.githubusercontent.com/9889020/66512990-22289100-eaa8-11e9-9441-b400554a59bf.png">

Note that this bu

[2019-10-09 19:20] dsesami commented on #4192
Tried the repro scenario mentioned above, and attempted to break the multi-select. This appears to work correctly.

[2019-10-09 19:20] #4192 closed, assigned to mabashian, dsesami

[2019-10-09 19:37] mabashian opened #4986 "Project Add Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Hook it up!  Every project has the following fields:

- Name (input, required)
- Description (input)
- Organization (single select lookup, required)
- SCM Type (dropdown, required)

The "new" thing with this form is that it has a variable subform.  The subform fields vary based on the value of the scm type.  When no scm type is selected, the subform

[2019-10-09 19:39] mabashian opened #4987 "Project Edit Form"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
See #4986 for field specific details

[2019-10-09 19:42] dsesami commented on #4343
Tried it out and it looks like this was repaired along with #4192 with the PR here: https://github.com/ansible/awx/pull/4869. If there are further issues with multiline after incorporating the pull request linked above, please provide updated information.

[2019-10-09 19:42] #4343 closed, assigned to dsesami

[2019-10-09 19:58] ryanpetrello commented on #4710
@rooftopcellist @fosterseth

This isn't the first time DOT has hard-coded static settings imports in a way that broke things for us 😞.  Here's the _least_ gross way I can think of for resolving this:

[code]

![image](https://user-images.githubusercontent.com/214912/66515917-f3151e00-eaad-11e9-8874-4bbe2aaa6c55.png)

If we *do* add something like this,  let’s add a big comment explaining why we’ve

[2019-10-09 20:28] #4684 closed, assigned to keithjgrant

[2019-10-09 21:10] kdelee opened #4990 "unscheduleable jobs sent to container group are never cleaned up and jobs fail with timeout"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

If a job is sent to a container group, and there is no ResourceQuota specified, pods will be enqueued but potentially run into being `Unschedulable` and get stuck in "Pending" on the cluster.

Then jobs either fail with timeout on tower side, or if we attempt to cancel the job, the job gets canceled on tower but never taken out of queue on the contain

[2019-10-09 21:14] ryanpetrello commented on #4990
I think this is going to have to be handled as part of a more general pod reaper re: https://github.com/ansible/awx/issues/4911

[2019-10-09 21:26] puppetninja commented on #4852
I am running into this issue as well

[2019-10-09 21:27] puppetninja commented on #4852
And similarly, I installed it in a fresh environment using local_docker

[2019-10-09 21:37] puppetninja commented on #4852
I downgraded to the 4.0.0  release(also with a clean environment), and it worked again, so it should be something not right in the docker image distributed by ansible on dockerhub as the error is from the virtualenv inside the container

[2019-10-09 22:07] lunarthegrey commented on #4852
Thanks for reporting @PuppetNinja. I would like @ryanpetrello or someone on the Ansible team to reopen this issue.

[2019-10-09 22:18] shafi-khan opened #4993 "Add upper limits to memory and cpu for pods for Kubernetes deployments"
##### ISSUE TYPE
 - Presently, when following the documentation (https://github.com/ansible/awx/blob/devel/INSTALL.md#Kubernetes) to set up AWX in Kubernetes, there is a possibility of misconfiguration with respect to memory and cpu limits for the awx pods

##### SUMMARY

- According to the documentation linked above (https://github.com/ansible/awx/blob/devel/INSTALL.md#Kubernetes), to set up AWX

[2019-10-10 02:53] AlanCoding commented on #3819
Could you give us the response text from when this error was obtained? I'm not sure where to start looking right now.

[2019-10-10 02:55] AlanCoding commented on #3819
Without more information, I would close assuming this is covered by https://github.com/ansible/tower/issues/3479

[2019-10-10 03:05] AlanCoding commented on #4132
It would be consistent that this block of code is not entered for whatever reason in your particular case:

https://github.com/ansible/ansible/blob/77de663879bcf2f6ab82d5009b8a0b799814750b/contrib/inventory/azure_rm.py#L725-L731

We could see about testing if these are added for a generic Windows box in Azure.

[2019-10-10 10:56] achrafbouchiba commented on #280
i want to add a new item in the sidebar template , i want to know where is the file .html for this template

[2019-10-10 11:08] ondravondra commented on #4675
I used this workaround:

ansible-playbook-awx-workaround:
[code]
Dockerfile:
[code]

[2019-10-10 13:36] ervis-s opened #4996 "Problem adding my personal git repository as a SCM in AWX"
Hello Guys,
I have created a public Git repository: https://github.com/ervis-s/Ansible-Repository just as a source code management for my AWX.
The problem that I encounter is that when I create a project (in AWX) and afterwards I upload this project to a template I cannot see the playbook inside my repository.
However it works fine for other repositories like for example: https://github.com/ansibl

[2019-10-10 13:37] ryanpetrello commented on #4996
Hey @ervis-s,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-10-10 13:37] #4996 closed, assigned to nobody

[2019-10-10 13:53] jakemcdermott commented on #4726
https://github.com/ansible/awx/pull/4727

[2019-10-10 13:54] swiedernix opened #4997 "maintenance page / announcement"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I'd like to add annoucements (eg. planned downtimes for maintenance, updates, current limitations, .... ) to the awx login page to inform our users.

[2019-10-10 14:12] jakemcdermott commented on #4997
There's a `CUSTOM LOGIN INFO` field in settings->ui that should let you do this:

![Screenshot from 2019-10-10 10-10-50](https://user-images.githubusercontent.com/9753817/66576873-6ec2a980-eb46-11e9-972f-4d1a6999731a.png)

[2019-10-10 14:12] #4997 closed, assigned to nobody

[2019-10-10 14:15] #4973 closed, assigned to nobody

[2019-10-10 15:42] Nascentes commented on #1898
@aka-cafu - thank you. That did not fix it (as it was already defaulted to 'awx'), but I appreciate the clarification.

@ryanpetrello - Thank you! The patch you pointed me to for reaper.py resolved the issue! I was boggled as we really only have once instance. No k8 or anything. A fresh pull of 7.0.0 and the only modifications being external postgres vars in the inventory. Anyway, we are up and ru

[2019-10-10 16:09] keithjgrant commented on #4617
Probably best to wait for https://github.com/ansible/awx/pull/4992 to merge before starting work on this

[2019-10-10 16:50] kdelee commented on #4920
Tested out by running WF with inventory update and watching logs, works for me!

[2019-10-10 16:50] #4920 closed, assigned to ryanpetrello, kdelee

[2019-10-10 18:59] AlanCoding commented on #4891
I thought we planned to abuse the `created_by` field or something like that for exactly this purpose. After all, consider all other unified jobs:

![Screen Shot 2019-10-10 at 2 51 37 PM](https://user-images.githubusercontent.com/1385596/66597719-8bbea300-eb6d-11e9-8020-5ed00e8aa8ef.png)

The UI puts up a big "Launched By" field. The model has no such field. It is getting this from the `created_by`

[2019-10-10 19:01] ryanpetrello commented on #4891
@AlanCoding I...didn't know that's how `Launched By` worked :D.

I'm fine if we want to go down a similar path here cc @ghjm

[2019-10-10 19:03] ghjm commented on #4891
Yeah, that makes sense to me.  But in the summary fields in `api/v2/workflow_approvals`, we would still call it `modified_by`, right?  Since that's what the field "really" is in API-land?

[2019-10-10 19:07] ryanpetrello commented on #4891
I dunno, I'm kind of going back and forth the more I think about this.  Launching something is basically the _same action_ as creating it, so I see the argument for overloading that attribute in that context.

Approving or denying something has nothing to with creating it.  And I don't think we can lean on `modified_by` because it's *possible* something could edit the record at some point, and the

[2019-10-10 19:16] AlanCoding commented on #4891
Let me add, `modified_by` should automatically be detected and shown in summary fields. This is a separate subject from surfacing it as a top-level field. The UI has to use the data from summary_fields.

So, wherever the status swaps to approved, try saving the user to the modified_by field, and see what happens. The most important thing right now is that the approver shows in the UI... however it

[2019-10-10 19:26] kdelee commented on #3825
Did above steps and saw that all tokens were revoked and then cleaned up. Closing as fixed.

[2019-10-10 19:26] #3825 closed, assigned to fosterseth, kdelee

[2019-10-10 19:29] ryanpetrello commented on #4891
@AlanCoding yea, I just feel like overloading `modified_by` in this way is pretty opaque to anybody _other_ than us, and I'm arguing it doesn't really save us _that much_ versus adding a new explicit foreign key for this specific use case.

[2019-10-10 19:34] kdelee commented on #4710
When you do all do close this up, can you please provide some summary of
1) Problems + steps to reproduce
2) PRs made to implement changes
3) Any additional verification criteria

[2019-10-10 19:36] matburt commented on #4891
Lets add a specific field for the person who approved it or denied it. We're not going to abuse the created_by field and `modified` is subject to wiping out the change.

[2019-10-10 19:50] kdelee commented on #4703
@squidboylan this looks like something you might enjoy setting up

[2019-10-10 19:57] rooftopcellist commented on #4710
@kdelee
#### Token with incorrect `expires`
1. Set `ACCESS_TOKEN_EXPIRE_SECONDS`  in the UI/API
2. Make an application with the `password` grant_type and `confidential` --  keep the client_id & client_secret
3. Use the client_id & client_secret to post to the `api/o/token` endpoint to create a token

[code]

4. Observe that the token returned does not have the expiration value you specified in the

[2019-10-10 20:00] AlanCoding commented on #4542
I'm a little worried that the interpretation of the behavior might be wrong. Let me present two exhibits:

1. https://github.com/AlanCoding/utility-playbooks/blob/master/gce_lookup.yaml
2. https://github.com/ansible/test-playbooks/blob/master/cloud_modules/gce.yml

Item 1 is my attempt at reproducing this exact issue. Item 2 is a more generic example about using the gce modules.

I really don't th

[2019-10-10 20:52] appuk commented on #2862
Relevant PR: https://github.com/ansible/awx/pull/4436

[2019-10-10 20:52] #2862 closed, assigned to jbradberry, appuk

[2019-10-10 22:16] one-t commented on #4274
Verified that this has been fixed in 3.6

Steps to test:
1. Start vault in a container
2. generate a self-signed certificate
3. run nginx in another container as a proxy for vault, using this cert
4. create a credential lookup in awx
5. use the cert.pem in the CA field
6. test secret lookup

[2019-10-10 22:16] #4274 closed, assigned to one-t

[2019-10-10 23:44] elarrarte-d opened #4999 "ad-hoc commands not using custom ansible.cfg"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX ignores custom ansible.cfg in ad-hoc commands

##### ENVIRONMENT
* AWX version: 7.0.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.4
* Operating System: Ubuntu 18.04
* Web Browser: -

##### STEPS TO REPRODUCE

Select a host or group from the inventory, [run commands]

##### EXPECTED RESULTS

ansible.cfg with custom parameters loc

[2019-10-11 01:14] AlanCoding commented on #4999
ad hoc commands have no project associated with them. Commands are executed against the inventory. What project are you thinking of? For an SCM inventory or something?

[2019-10-11 05:24] Aech1977 commented on #2307
which would normally be no problem except the export import of the Postgres container DB.  I have yet to be able to restore the psql data dump.

[2019-10-11 08:45] Timoses opened #5000 "Allow custom Ansible project structures"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Since Ansible offers a lot of flexibility in the way that projects can be set up, it would be great if the `project_update.yml` would be exposed for user customization.

EDIT: As [stated](https://github.com/ansible/awx/issues/5000#issuecomment-541098848) `project_update.yml` is not the only place affected by this feature request.

Some examples why

[2019-10-11 10:20] ssaammoo commented on #3795
Hi @wenottingham
Is it always provided as extra var through the whole workflow ?
I assume I should be simply to use the var awx_user_name in any playbook within the workflow as it is extra var, but sometime I get undefined error variable.

Should I open a new bug for this ?

[2019-10-11 11:16] AlanCoding commented on #4485
https://github.com/ansible/awx/blob/08df2cad683ca2375ca53d484b6d5d4a8123035a/awx/main/conf.py#L29

https://github.com/ansible/awx/blob/4c697ae477d1043098746b89b9f78861abec43d6/awx/settings/defaults.py#L952

[2019-10-11 12:10] AlanCoding opened #5002 "Add custom_virtualenv to relevant Ansible modules in collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
This applies to these resources:

 - [x] tower_project
 - [x] tower_organization
 - [x] tower_job_template https://github.com/ansible/ansible/issues/60200
 - [x] tower_inventory_source https://github.com/ansible/ansible/issues/63381

An initial fix is put up at https://github.com/ansible/ansible/pull/61323, although with the inventory source.

We sho

[2019-10-11 12:53] AlanCoding opened #5003 "Allow tower_credential to accept a custom credential type"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
In the modules in the AWX collection, you can create a custom credential type, but you cannot create a credential of a specified custom credential type. This is a major pain point.

Prior fix attempts:

 - (cherry pick this) https://github.com/ansible/ansible/pull/56692
 - https://github.com/ansible/ansible/pull/54503

Prior issues:

 - https://githu

[2019-10-11 14:47] ervis-s opened #5005 "Different result from ansible command line and AWX template"
Hello everyone,

I am getting a different result when I execute a play in AWX from ansible command line.

Actually I am trying to clone a repository with git module in local. I attach the playbook image.
![Capture](https://user-images.githubusercontent.com/41151072/66660871-44f0ac00-ec46-11e9-90a8-2c72563506f2.JPG)

In AWX when I launch the template it seems all fine, but doesn't clone anything, i

[2019-10-11 14:48] kdelee commented on #4990
@ryanpetrello to give a bit more info:

recreated this again with the code from this PR just want to point out that UnSchedulable pods are `Pending` with the "problem" of being UnSchedulable so you have to look at more info than the "phase"

https://github.com/ansible/awx/pull/4922/files#r334029409

[2019-10-11 14:53] Timoses commented on #5000
I just found out that projects are copied (checked out with git) to `/tmp` directory and only the role requirements from `roles/requirements.yml` are used in `awx/main/tasks.py` (rendering all the `plays/<play>/requirements.yml` files as ignored).

This makes AWX quite unusable with custom Ansible project structures. Any way to circumvent this and simply "copy" the project path to the job temporar

[2019-10-11 14:56] wenottingham commented on #5000
If we start going down the road of managing execution environments, this wouldn't be done by hooking into project_update.yml; it would be done at a higher level.

[2019-10-11 14:57] wenottingham commented on #5005
This repo is for bugs in AWX; this sounds like a configuration issue that is best discussed on the mailing list or the IRC channel.

I suspect it's to do with how each playbook run uses its own /tmp directory.

[2019-10-11 14:57] #5005 closed, assigned to nobody

[2019-10-11 14:58] wenottingham commented on #3795
Yes, a new bug please.

[2019-10-11 15:22] Timoses commented on #5000
Thanks @wenottingham . I adjusted the issue title to better reflect the issue at hand.

[2019-10-11 17:14] ryanpetrello commented on #4801
@Ugly-Wan if you've got some more details after trying a different version of Ansible, let us know and we can reopen this.

[2019-10-11 17:14] #4801 closed, assigned to nobody

[2019-10-11 18:16] MirLach commented on #989
Ansible can run on non-Linux host. If AWX can be installed only as Docker container it means we cannot run it on different OSes where we are running Ansible. It's very sad. Not everybody is running on Linux.

[2019-10-11 18:41] elyezer commented on #4349
I tried to reproduce the issue on `awx: 7.0.0` but I was not able. Here is what I did:

1) Created 4 credentials
2) Created a job template with a default credential and marked prompt on launch
3) Created a workflow job template like the image below:

![Screenshot from 2019-10-11 14-32-25](https://user-images.githubusercontent.com/48132/66675754-fafeca80-ec33-11e9-95b5-cb63f4d38e13.png)

4) Left th

[2019-10-11 19:25] naren-ambati commented on #4349
@elyezer if we are using different credential for each workflow job and it succeeded, ----> yes this is what I used to look for.

Thanks you this will be unblocked for many.

[2019-10-11 19:48] rmauc commented on #1668
Hi Bill,
What is the likelihood of this being triaged?

[2019-10-11 20:21] wenottingham commented on #1668
If work happens, it will be linked off of this issue.

[2019-10-11 21:13] LukeShortCloud commented on #3998
It would be a lot easier to implement if we got the [podman_container module](https://github.com/ansible/ansible/issues/46362#issuecomment-540734152) upstreamed. :-)

[2019-10-12 09:56] merou commented on #4675
Just to clarify and for those struggling with this issue:
1/ In AWX 7.0.0 roles_path entry in `ansible.cfg` is not read.
2/ For people having a playbooks folder at the root.
3/ While waiting for an elegant solution (agree Tower parsing this config will lead to further issues)

`workaround` is have the roles inside the playbooks folder via a symlink:
`ln -s ../roles playbooks/roles`

[2019-10-12 16:52] AlanCoding commented on #4675
`ansible.cfg` is still read and other parameters you define in that file will take effect (now, while the patch is yet to land). This affects 2 parameters related to search paths for roles & collections, where the value in `ansible.cfg` is ignored.

And the patch will read the config file(s).

[2019-10-14 03:19] IshwarKanse opened #5007 "Add Prompt on Launch for Network Credential passwords and private key passphrase"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Network Credential currently doesn't have Prompt on Launch option for Password, Authorize Password and Private Key Passphrase.

![Screenshot from 2019-10-14 08-41-13](https://user-images.githubusercontent.com/10349173/66727856-59f45780-ee5f-11e9-8b5d-34b55a694cfb.png)

[2019-10-14 04:31] zx1986 commented on #223
Yes! you are so true! @JulienPalard
This is make no sense at all.

I am just need my group_vars in my inventories directory in the root of project.
Guest what?
Because I have lots of environments in inventories directory that need to separate in multiple group_vars directories!
I do want to mess up those group_vars(es), hosts_vars(es) with my playbooks!

@JulienPalard  you are not alone, so true .

[2019-10-14 10:10] riahc3 opened #5008 "Cannot see all playbooks in project base directory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I cannot see all the playbooks in /var/lib/awx/projects

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: Direct installation
* Ansible version:  2.8.5
* Operating System: CentOS 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

I setup a root folder and inside that root folder made different directories with

ansible-galaxy init test-role

[2019-10-14 10:25] riahc3 commented on #5008
Ive gone a step further:

Ive made a new project directing pointing to that directory. It shows me the test.yml and a main.yml but it didnt show me the main.yml it was talking about so I went ahead and renamed all the main.yml  .....and it still shows me there is a main.yml !!

[2019-10-14 11:34] Uzzi commented on #5008
I've same problem:
Local Project in /var/lib/awx/project have 3 old yml, I've add a new yml playbook but I don't see this new file in awx web interface

[2019-10-14 12:47] elyezer commented on #4349
@naren-ambati yes, I've clicked on the details link of each node from left to right and from top to bottom (when it apply) and the following are screenshots of the details of each one:

![Screenshot from 2019-10-14 08-42-23](https://user-images.githubusercontent.com/48132/66752120-adb27100-ee5e-11e9-93a2-0316ca7e318b.png)

![Screenshot from 2019-10-14 08-42-48](https://user-images.githubuserconten

[2019-10-14 12:47] #4349 closed, assigned to elyezer, mabashian

[2019-10-14 13:45] AlanCoding commented on #4485
I stand corrected, the default behavior is that activity stream entries are recorded for all the deletions, irrelevant of that setting. Clearly, that's what the hold up is.

[2019-10-14 14:06] gcgoncalves commented on #3956
I'm getting this error as well. A temporary workaround that has been working for me is to checkout commit 44907b33dc17b528dfd1d6dfa2c990c2d31d307a before installing. any commit more recent than this one will fail with unknown error on my installation attempts.

[2019-10-14 14:56] wenottingham commented on #5007
network creds are not the preferred mechanism in the current modules, so this is unlikely to change.

[2019-10-14 15:02] rebeccahhh commented on #4943
SystemAuditors only have GET access (as mentioned in previous comment) and we want to keep that access level from the API side.

[2019-10-14 15:12] mabashian opened #5010 "Remove close button from host details modal"
##### ISSUE TYPE
 - Task

##### SUMMARY
<img width="1456" alt="Screen Shot 2019-10-14 at 11 10 27 AM" src="https://user-images.githubusercontent.com/9889020/66762122-5965bc00-ee73-11e9-8f1c-0d418a6faa0c.png">

This is redundant with the [x] button in the upper right corner so lets remove it.

[2019-10-14 15:32] #4550 closed, assigned to keithjgrant

[2019-10-14 18:12] AlanCoding opened #5011 "Activity stream entry for ad hoc command creation has no links"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Ad hoc commands in the UI do not link to anything, but they should logically link to:

 - the ad hoc command itself
 - the inventory for the ad hoc command

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System: Mac OS
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Run an ad hoc command

[2019-10-14 20:08] elyezer commented on #4726
Step to verify:

1) Created a workflow job template with the prompt on launch checked for the extra vars
2) Created a new schedule for the previous workflow job template and the extra vars text area was presented.
3) Created another workflow job template without checking the prompt on launch for extra vars
4) Created a new schedule for the previous workflow job template and the extra vars text are

[2019-10-14 20:08] #4726 closed, assigned to elyezer, jakemcdermott

[2019-10-14 20:21] elyezer opened #5012 "RFE: Make easier to find which job template a schedule is related to"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Can't easily find from which workflow job template or job template a schedule is when multiple schedules exist with the same name. See the screenshot below:

![Screenshot from 2019-10-14 16-10-44](https://user-images.githubusercontent.com/48132/66780001-b9715800-ee9d-11e9-8102-b03a843c8954.png)

The `Every other minute` schedule exist for both workf

[2019-10-14 20:21] elyezer commented on #5012
After a second thought this is more like an enhancement rather than a bug

[2019-10-15 09:05] mkayontour commented on #4809
I can agree on both those issues, in our case we have multiple running jobs at 8:00 am til noon, in this time there's no chance of getting a free slot where there's no dependency blocking the job.

The main job running on 1200 hosts, sometimes one host starts hanging in a state where no timeout of Ansible seems to take care of (missing routes), then we immediately get a whole bunch of pending jobs

[2019-10-15 09:14] megakoresh commented on #3113
@AlanCoding With AWX 7.0.0 when selecting inventory source option as sourced from project, the file selector does not detect yaml file that references a custom inventory plugin (panorama). The directory structure is like this

- root
  - panos
    - inventories
      - panorama
        - inventory.yml <- this is the yml file with `plugin: panorama`
    - search-fw-rules.yml <- playbook
    - inven

[2019-10-15 09:35] execcr commented on #4643
I have the same problem, i cannot install AWX on Centos 7.

Latest Awx docker images (pulled from git today)
docker-ce installed from docker repository (https://download.docker.com/linux/centos/docker-ce.repo)
Docker version 19.03.3, build a872fc2f86
I've tried to delete all docker-ce packages with yum (and docker-py with pip) and reinstall everything but the error is the same

[2019-10-15 09:53] a-nanasov commented on #2973
I'm running playbook with ansible.cfg located in its root with the following option set:
gather_subset = !facter
However ansible still discovers and runs puppet facter when it is available.
My AWX version is 6.1.0

[2019-10-15 10:49] mkayontour opened #5014 "Jobs get scheduled after schedule time when awx stucks in that time"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Today we learned that AWX will schedule jobs after the initial schedule time. This happens when AWX isn't able to schedule any jobs (in our case no space left on device).

What did happen exactly: Over the night we had scheduled jobs which should update some production systems. A few hours before the disk space was full so AWX stopped working, no jobs

[2019-10-15 11:31] mkayontour commented on #4341
I recently found the issue why the jobs stucked. One route was missing in the configuration and Could connect to the server but waits endlessly for any answer.

Somehow the ansible task or job isn't affected by any timeout, so the job/task is running forever.

Should there be a timeout for not getting any answers from the "client"?

[2019-10-15 13:07] AlanCoding commented on #3113
`--playbook-dir` is the directory the inventory file is in.

https://github.com/ansible/awx/blob/806648af8963c9ac3fb6f13c239a62e89894aab4/awx/main/management/commands/inventory_import.py#L66-L68

https://github.com/ansible/awx/blob/806648af8963c9ac3fb6f13c239a62e89894aab4/awx/main/management/commands/inventory_import.py#L81

https://github.com/ansible/awx/blob/806648af8963c9ac3fb6f13c239a62e89894a

[2019-10-15 13:08] AlanCoding commented on #3113
That is https://github.com/ansible/awx/pull/4171

[2019-10-15 13:20] hiyokotaisa commented on #4418
@AlanCoding Thanks for the comment, Update on Launch is enabled on Project but it is disabled on Inventory Source

[2019-10-15 13:23] megakoresh commented on #3113
Well in my opinion the correct approach would be to let me specify this parameter myself.

I don't think this would work because there are multiple different folders in that repo each with their own inventories and playbooks and `ansible.cfg`. You would probably suggest that these be split into separate repositories, which would solve the issue, but all of those playbooks are used together by same

[2019-10-15 13:24] AlanCoding commented on #4809
Some fake numbers, consistent with the 2 reports we have here:

 - inventory update: 5 minutes
 - job run: 4 hours

We have 2 animals here - inventory updates and job runs. Ordered combinations of 2 items gives 4 distinct tuples.

### Inventory update submitted while job in progress

I see no reason to block this. The job generates a static version of the inventory before the Ansible subprocess st

[2019-10-15 13:30] AlanCoding commented on #3113
I don't see why your take away is splitting your stuff into separate repos.

Maybe you were looking at the wrong case from my examples. The case I intended to correspond to your scenario was

https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/plugins/config_path/inventory_dir

see `ansible.cfg`

[code]

This config would not get used by your playbook run itself, and it shoul

[2019-10-15 13:35] megakoresh commented on #3113
Oh that's how it works. I was looking at wrong example. Ok, I didn't even know you can apply ansible configuration this way. Allowing users to specify `playbook-dir` for sources still seems like a cleaner and more robust solution than some magical detection, but your example does solve this particular use-case.

So thanks!

[2019-10-15 13:40] AlanCoding commented on #2973
A solution for some other path settings is in the works https://github.com/ansible/awx/issues/4675, this won't be applied to `library` right away, but it's something that can be considered.

[2019-10-15 16:40] omgjlk commented on #4809
Is this not the toggle for `Enable Concurrent Jobs`? Decide on a template by template basis whether or not other templates should be allowed to run at the same time?

[2019-10-15 17:38] boomam commented on #4764
Seeing this same behavior/error myself.
Fresh install of Ubuntu 19.

Additionally, i had to specifically specify the python interpreter in the run playbook command in order to remove Python errors during the playbook run.
sudo ansible-playbook -i inventory install.yml -e ansible_python_interpreter=/usr/bin/python3

[2019-10-15 17:44] AlanCoding commented on #4809
That does make sense. That still leaves open the question of multiple JTs targeting the same inventory. I am liable to be wrong about any of these beliefs about existing behavior.

[2019-10-15 17:59] fosterseth commented on #2556
There is a fix for this downstream, and the changes will make its way to awx devel in the near future.

[2019-10-15 17:59] fosterseth commented on #4710
There is a fix for this downstream, and the changes will make its way to awx devel in the near future. @vrevelas

[2019-10-15 19:32] beeankha commented on #4781
Hi @garnser , thank you for filing this issue.

I've dug into this a bit and think this is a `400` (bad request) error vs a `401` auth error.  While trying to recreate the problem, I encountered some JSON syntax issues in the `node.json` example you provided.  Can you please re-try with your `node.json` file formatted like the example below?
[code]

POST-ing JSON info formatted in this way worked

[2019-10-15 19:42] n0guest commented on #989
@rharmonson, If they don't care enough, why not to create a repo for yourself? And later open it to collective changes (via PR)? At least we'd have unofficial documentation on "how to use AWX w/out Docker". It's better than nothing.

[2019-10-15 20:06] spsingh1982 commented on #553
Is there any delivery date for this feature?

[2019-10-16 00:26] rharmonson commented on #989
Valid suggestion and I have considered it.

It has been a year and four days since I offered to write the documentation. I wonder if folks have lost interest?

[2019-10-16 03:05] nakacya commented on #5008
Have you uncommented "#project_data_dir" in inventory?

Is the path of "project_data_dir = /var/lib/awx/projects" correct?

[2019-10-16 04:42] aajisaka opened #5016 "Reboot module fails by timeout"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Reboot module timeouts from AWX, but the same playbook run sucessfully from CLI.

##### ENVIRONMENT
* AWX version: 6.1.0
* AWX install method: docker compose
* Ansible version: 2.8.5 (Python version is upgraded to 3.6.8)
* Operating System: CentOS 7
* Web Browser: Google Chrome

##### STEPS TO REPRODUCE

Run a simple playbook from AWX as follows:
[code

[2019-10-16 05:41] Uzzi commented on #5008
Yes.
I've added an internal git repo too, and problem is the same

[2019-10-16 06:02] nakacya commented on #5008
hmmm
If you set “project baspath” and “playbook directory” in Project, it should appear in “playbook” of template

[2019-10-16 06:13] Uzzi commented on #5008
Ok:
in /var/lib/awx/projects mkdir TestDir
NEW PROJECT section see TestDir directory as manual project.
I've created test.yml in  /var/lib/awx/projects/TestDir
Now in NEW JOB TEMPLATE section in TestDir directory there isn't  test.yml

[2019-10-16 06:19] nakacya commented on #5008
Is "NEW PROJECT" selected for "Project" in NEW JOB TEMPLATE?

[2019-10-16 06:22] Uzzi commented on #5008
https://imgur.com/a/9a791Nb

[2019-10-16 07:03] nakacya commented on #5008
I'm Try Now
Is the code written in test.yml in the TestDir directory?
It doesn't seem to be enough if the file exists
<img width="1675" alt="スクリーンショット 2019-10-16 16 00 41" src="https://user-images.githubusercontent.com/1404766/66895765-7f838b80-f02e-11e9-80e1-628e8334e598.png">
<img width="1674" alt="スクリーンショット 2019-10-16 15 46 40" src="https://user-images.githubusercontent.com/1404766/66895766-801

[2019-10-16 07:11] Uzzi commented on #5008
/var/lib/awx/projects/TestDir$ ls
test.yml

[2019-10-16 07:30] nakacya commented on #5008
test.yml is a YAML?

[code]

<img width="1657" alt="スクリーンショット 2019-10-16 16 27 46" src="https://user-images.githubusercontent.com/1404766/66897422-f0787280-f031-11e9-94bc-715c617cb353.png">

[2019-10-16 08:48] Uzzi commented on #5008
Thanks, my test file have wrong syntax

[2019-10-16 11:55] mebuzz commented on #885
Has anybody gotten the AWX tower notification to work with MS teams?

[2019-10-16 12:12] RyanW19 commented on #2350
Is their any update on this yet? would be great to get this implemented

[2019-10-16 12:32] mebuzz commented on #885
@falencastro - Worked like a charm on AWX. Thank you

[2019-10-16 12:58] ryanpetrello commented on #4781
@garnser what @beeankha said - an HTTP 400 suggests that the data you've sent isn't valid JSON.  If you correct this and are still seeing issues, let us know.

[2019-10-16 12:58] #4781 closed, assigned to beeankha

[2019-10-16 13:47] riahc3 commented on #5008
Syntaxis is correct. Obviously, if it reads test.xml, I copy that,  chck permissions and rename it, it should get it too.

[2019-10-16 14:11] #4817 closed, assigned to keithjgrant

[2019-10-16 14:24] josemgom commented on #4675
Agree, is the only workaround that I see here until we have a solution.

[2019-10-16 15:01] ryanpetrello commented on #5014
Thanks for reporting this @mkayontour

At this moment in time, this is just how AWX's periodic scheduler works - it wakes up periodically and checks to see if any scheduled jobs are "past due" and it runs them.  It *does* have logic for avoiding duplicates (if you had a nightly job, and AWX was offline for three days, when it came back up, it would run *one*, not three jobs).

Changing this behavi

[2019-10-16 15:05] AlanCoding commented on #3113
Sorry, I think I was wrong in the suggestion. The playbook dir is set to the inventory directory, but `ansible.cfg` comes from the working directory and not the playbook directory. IIRC, working directory is the root of the project for inventory updates and jobs. So you could point to the directory with the inventory_plugins directory from that config file, but if that conflicts with some other us

[2019-10-16 15:07] boomam commented on #4764
@dhoer  can you clarify what variable you changed in more detail please?
I would like to test your workaround on the problem system i have here too.
Thanks!

[2019-10-16 16:06] megakoresh commented on #3113
Yes, it would conflict with basically any other use-case. And yes I haven't been able to get your suggestion to work. So my initial assumptions were correct.

It's very strange to me that AWX has this custom logic for problems which have for a long time been solved in the cli interface. I think ansible semaphore has a better architecture in that respect.

The purpose of AWX is to provide governanc

[2019-10-16 16:07] cgs-admin commented on #2951
AWX 4.0

I hit the same issue when trying to setup a webhook/notification for discord.

Discord requires an array but I can't save the json.

[2019-10-16 16:10] megakoresh opened #5019 "Allow specifying relative playbook directory path for inventory sources"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
As a follow up to [this discussion](https://github.com/ansible/awx/issues/3113#issuecomment-542775656), I think it makes sense to avoid having some kind of special logic to determine value for `--playbook-dir` option for inventory sources, when sourced from project, and simply allow users to put that value in relative to project root, same as you wou

[2019-10-16 16:16] AlanCoding commented on #5019
This is a duplicate specification, because the user selects the playbook when they create a job template. If the user has selected for the inventory to update on launch, then this would be theoretically possible to infer from the job template at the time of update.

That also implies that there are multiple different forms of inventory, depending on what playbook is using it. Practically speaking,

[2019-10-16 16:25] elarrarte-d commented on #4999
OK, from the documentation:
https://docs.ansible.com/ansible-tower/latest/html/administration/tipsandtricks.html

I 've misread that it 's only applied to ansible-playbook command (job templates).

So, then, is there any way of using a custom ansible.cfg for ad-hoc commands?

Thanks!

[2019-10-16 16:26] megakoresh commented on #5019
Sorry, I am not familiar with AWX internals. I thought inventory is separated in awx from playbook execution. In that first the inventory is updated and stored in a database, and then the playbook is run against whatever is in the database from the last update, not directly against what the inventory script/plugin return. Is that not the case?

[2019-10-16 17:26] AlanCoding commented on #4999
It's hard to apply a config specific to the inventory, or specific to that one ad hoc command (as in, I have no way to do this).

To set something globally, you can use the environment variables to set things. In the UI:

![Screen Shot 2019-10-16 at 1 21 16 PM](https://user-images.githubusercontent.com/1385596/66942842-f06b7900-f017-11e9-9d87-9fbcad22815f.png)

![Screen Shot 2019-10-16 at 1 21 34

[2019-10-16 17:36] ryanpetrello commented on #4999
@AlanCoding @elarrarte-despegar this is venturing into the realm of "how to use AWX" conversation (and this tracker is what we use to track bugs and enhancements), so I'm going to go ahead and close this.  Feel free to continue conversation here or on our mailing list.

[2019-10-16 17:36] #4999 closed, assigned to nobody

[2019-10-16 18:31] ryanpetrello commented on #5016
@aajisaka I'm able to reproduce something similar on a nightly install of AWX managing an inventory that contains a single RHEL8 host:

![image](https://user-images.githubusercontent.com/214912/66947882-aa1b1780-f021-11e9-8fef-4bd3571c1c91.png)

[2019-10-16 18:32] ryanpetrello commented on #5016
cc @samdoran

[2019-10-16 18:36] ryanpetrello commented on #5016
Ignore me above, I forgot to `ansible_become: true`:

![image](https://user-images.githubusercontent.com/214912/66948252-565cfe00-f022-11e9-8871-ce0e722b4563.png)

[2019-10-16 18:37] ryanpetrello commented on #5016
Yea, @aajisaka I'm having trouble reproducing this on the most recent version of AWX:

![image](https://user-images.githubusercontent.com/214912/66948323-7d1b3480-f022-11e9-9718-2a1e002b2fc6.png)

Are you sure your hosts aren't just periodically taking too long to reboot?

Given your description above (and verbose output), I'm not certain this is an AWX bug.  What OS are your managed hosts running

[2019-10-16 18:45] dominiquearpin opened #5021 "Limit in template doest work with dynamic inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When I use a dynamic inventory, the template limit doesnt work correctly.

If I use a static inventory, everything is working fine

##### ENVIRONMENT
* AWX version: 7.0.0.599-1.el7
* AWX install method: rpm from mrmeee
* Ansible version:
* Operating System: CentOS
* Web Browser: Firefox

##### STEPS TO REPRODUCE

Use a dynamic inventory in a template a

[2019-10-16 18:51] ryanpetrello commented on #4946
@unlikelyzero do you have any before/after numbers to quantity what exactly regressed here?  Is this really `priority:high` ?

(what do we need to get this out of WIP and quantify what's wrong and whether it belongs in 3.6.0?)

[2019-10-16 19:36] unlikelyzero commented on #4946
@ryanpetrello yes, the numbers are in the issue. It was taking 15x as long to load that page in Firefox.

I'll need time to further isolate the issue to get it out of WIP but I wouldn't take it out of 3.6.0. It's assigned to me.

For anyone who is interested in repro, I believe there is some sort of performance issue around isolated instance / container groups and the job results detail page.

[2019-10-16 20:13] ryanpetrello commented on #4400
As part of verifying this, we should confirm that you can install an older version of AWX, configure an AIM credential, and that post-upgrade, everything continues to work (with the name of the credential type changed).

[2019-10-16 20:58] kdelee opened #5022 "on instance detail, capacity slider broken and used capacity bar out of alignment"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The capacity slider is no longer a slider, but rather a round button with no slider. You can adjust it down, and it does apply, but after that it cannot be moved.

Additionally, the used capacity bar is out of alignment and sticking out of the row.

##### ENVIRONMENT
* AWX version: devel
* AWX install method: openshift, minishift, docker on linux, doc

[2019-10-16 22:56] elarrarte-d commented on #4999
Thanks!

[2019-10-16 23:11] keithjgrant commented on #4613
After wrestling with this for a while, I think this needs to wait for the PF `<Select>` to mature more. Here are some of the problems I ran into.

Our current version of patternfly-react:
* crashes if empty array of options is provided (can be worked around a bit)
* pressing Enter to select an option submits the whole form

After upgrading to latest patternfly-react:
* produces warning `<form> can

[2019-10-16 23:13] keithjgrant commented on #4613
The "latest patternfly-react" mentioned above refers to:

[code]

[2019-10-16 23:35] jamesmarshall24 opened #5023 "Multifactor Integration for Job and Workflow Launches"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Allow the ability to integrate MFA for job and workflow launches. The feature should force job templates to require MFA codes are input before the job/workflow can launch.

[2019-10-16 23:36] spsingh1982 commented on #19
Any update on this?

[2019-10-16 23:40] spsingh1982 commented on #3903
When is this coming in the release? Thanks in advance.

[2019-10-16 23:52] spsingh1982 commented on #5023
Much needed feature to avoid mistakes from operations users who are touching production networks. Some special flows have capability to take down whole running stack.

[2019-10-17 01:32] AlanCoding commented on #5019
The user should not have to think about this. You understand more than what can be expected from a general user, and the idea of an extra form input for playbook path involves the user jumping through extra hoops for reasons which are murky and confusing to most users.

Related fixes already going in involve actively managing the collection and roles path. Actively managing the inventory plugins p

[2019-10-17 01:49] wenottingham commented on #5023
MFA belongs on the login access (via SAML or otherwise). It is not planned to do this for launches.

If further confirmation is needed for delegated jobs, a workflow approval can be used; these were just added recently to AWX.

[2019-10-17 01:49] #5023 closed, assigned to nobody

[2019-10-17 02:51] aajisaka commented on #5016
Yes, it takes only < 1 min to reboot.

CentOS 7.7.

[2019-10-17 02:59] spsingh1982 commented on #5023
When is it getting released on Ansible Tower?

On Wed, Oct 16, 2019 at 8:49 PM Bill Nottingham <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-10-17 07:38] riahc3 opened #5025 "Connect via SSH to Netscaler?"
##### SUMMARY
Im attempting to connect directly thru SSH to the Netscaler

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
SSH

##### ANSIBLE VERSION
Ansible AWX 7.0.0
ansible 2.8.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Give me a message

##### ACTUAL RESULTS
Says it cannot connect

##### ADDITIONAL COMMENTS
I know there is a Netscaler module. I need this for other function

[2019-10-17 07:38] riahc3 commented on #5025
Further testing gives me this:

[code]

[2019-10-17 09:07] patrykk commented on #2688
Hi, do you have any plans to implement this functionality soon? We keep group names in the LDAP and we couldn't translate them directly to the team names.

[2019-10-17 09:44] dansou901 commented on #374
what about directly using postgres 12 which is also just released and the current lts?

[2019-10-17 09:45] dansou901 commented on #374
maybe also the title of this issue needs to be updated then...

[2019-10-17 11:20] Himani-relan commented on #4341
I am facing the same issue. AWX job is stuck from last 5 days at one particular task.

[2019-10-16 19:16:47,445: DEBUG/Process-1] publish awx.main.scheduler.tasks.run_task_manager(be39a158-3d83-475a-93ba-171cb78a8a00, queue=awx_private_queue)
2019-10-16 19:16:47,456 DEBUG    awx.main.dispatch delivered be39a158-3d83-475a-93ba-171cb78a8a00 to worker[11435] qsize 0
2019-10-16 19:16:47,456 DEBUG    a

[2019-10-17 11:21] Himani-relan commented on #4341
Could you please tell me which route was missing ?

[2019-10-17 11:46] LucaBernstein opened #5026 "Retrigger job with changed parameters"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
At the moment jobs can be easily retriggered using the button `Relaunch using the same parameters` in the job details and overview view (the 🚀  icon)

If a job failed it would be very convenient to be able to relaunch the job with **changed** parameters. Especially if the parameters were injected by a survey and a typo caused an error during executio

[2019-10-17 12:05] ryanpetrello commented on #5025
Hey @riahc3,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC room:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2019-10-17 12:05] #5025 closed, assigned to nobody

[2019-10-17 12:11] idelsink opened #5027 "awx-cli is missing the notification_template messages argument"
##### ISSUE TYPE
Add the ability to configure the custom messages using the awx-cli tool. (This should then be reflected in the ansible tower_notification module.

Example of the to be configured fields:
[code]

[2019-10-17 12:32] ryanpetrello commented on #5027
@idelsink how are you using it (it works for me):

<img width="1011" alt="image" src="https://user-images.githubusercontent.com/214912/67009036-c0c07d80-f0b8-11e9-91a3-e1ef4ac2534f.png">

[code]

Please try with the latest available version of awx.

[2019-10-17 12:34] ryanpetrello opened #5028 "500 Error when creating notification templates with bad message format"
[code]

<img width="932" alt="image" src="https://user-images.githubusercontent.com/214912/67009102-e2ba0000-f0b8-11e9-9346-816dea7ffa02.png">

[2019-10-17 12:39] ryanpetrello opened #5029 "Notification Templates UI doesn't always show custom messages"
[code]

<img width="877" alt="image" src="https://user-images.githubusercontent.com/214912/67009254-3fb5b600-f0b9-11e9-914c-184ed81c5e0e.png">

[2019-10-17 12:39] ryanpetrello commented on #5029
<img width="524" alt="image" src="https://user-images.githubusercontent.com/214912/67009424-9a4f1200-f0b9-11e9-84b6-1daed745f3d0.png">

[2019-10-17 12:49] #5027 closed, assigned to nobody

[2019-10-17 13:00] idelsink commented on #5027
Ah I see the issue. I've been using the `awx-cli` interface but this was not the interface I thought it was. This was an alias for the `tower-cli` command from the `ansible-tower-cli` package.

[2019-10-17 13:01] idelsink commented on #5027
However, should another issue be opened for the `messages` option in the `tower_notification` module?

[2019-10-17 13:02] ryanpetrello commented on #5027
@idelsink yep, go for it.  You should know that we're currently in the process of moving the Tower modules into an official collection instead, so we're a bit behind on feature enhancements like this one.

[2019-10-17 13:09] idelsink commented on #5027
Should I make it in the ansible or the awx repo?

[2019-10-17 13:45] AlanCoding opened #5030 "Activity stream entry for workflow schedule does not link"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
An activity stream entry for updating a schedule does not link to the schedule in the UI. The schedule does exist.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker for mac
* Ansible version:  N/A
* Operating System: Mac
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a schedule to run a workflow

disable this schedule

see t

[2019-10-17 13:46] dsesami commented on #4945
responsiveness on details page is significantly improved -- tried a few different size workflows to ensure that everything ran correctly and looks normal.

[2019-10-17 13:46] #4945 closed, assigned to marshmalien, dsesami

[2019-10-17 13:47] ryanpetrello commented on #5027
@idelsink this repo - thanks.  The new AWX collection lives here: https://github.com/ansible/awx/tree/devel/awx_collection

[2019-10-17 13:50] AlanCoding commented on #5019
Also, it doesn't make sense to add an input for the playbook path, but not add an input box for the config file path.

The config file is obtained from the directory where the user runs playbooks, but the plugin folders are obtained from the directory of the playbook. For either of these things, the user could fail to run their imports in AWX, and claim "but it worked on the CLI!"

The config file

[2019-10-17 13:57] dsesami commented on #4943
System auditors can view the container groups and instance groups normally now. Also, they only have read-only access.

[2019-10-17 13:57] #4943 closed, assigned to dsesami, AlexSCorey

[2019-10-17 13:58] msilmser opened #5031 "RFE: Add IP address to generics logger"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Customer would like to be able to view the IP address along with the username of the user logging into Tower.

[2019-10-17 14:07] kdelee commented on #4887
Works for me!

[2019-10-17 14:07] #4887 closed, assigned to beeankha, kdelee

[2019-10-17 14:11] kdelee commented on #4710
I have tested this and now we have it set up so we should catch regressions. Closing

[2019-10-17 14:16] #4710 closed, assigned to fosterseth, kdelee

[2019-10-17 14:24] rmauc commented on #5031
Thanks for filing this RFE

We need to be able to track users and their source IP for event monitoring.

We tried to ingest the Nginx access.log but it only logs the IP not the username (RH tell us that it is possible to update the Nginx config to include the headers, but this will also add the password to the log so not usable)

We require the updated generics logger as soon as possible

Many tha

[2019-10-17 14:25] kdelee commented on #4156
https://github.com/ansible/awx/commit/008fe42b4deb4bad93699142f21083e7b8ec0161 updated the script and it has been working for me in python 2 and 3. Going to close this, I encourage anyone that has participated in this thread to try this out and let me know if they still have problems.

[2019-10-17 14:25] #4156 closed, assigned to kdelee

[2019-10-17 14:37] kdelee commented on #4910
tried this out with the patch that came in here https://github.com/ansible/awx/commit/c7be94c2f275feb321ffe876cfb3aeb5b73f1802#diff-9d4ea1dd908b35fb92eaede4bd10bb46R1408

Works for me and we will catch it if it regresses

[2019-10-17 14:37] #4910 closed, assigned to ryanpetrello

[2019-10-17 14:59] dsesami commented on #4889
scrolling appears to function as intended now, not altering values that might mistakenly changed with scrolling.

[2019-10-17 14:59] #4889 closed, assigned to mabashian, dsesami

[2019-10-17 14:59] dsesami commented on #4846
![Screenshot from 2019-10-17 10-59-33](https://user-images.githubusercontent.com/19942822/67021160-36cedf80-f0cd-11e9-8f04-199098dd4dfd.png)
 Looks much better! thanks.

[2019-10-17 15:05] idelsink opened #5032 "tower_notification is missing the messages option"
##### ISSUE TYPE
The [`tower_notification`](https://docs.ansible.com/ansible/latest/modules/tower_notification_module.html) is missing the `awx` CLI `messages` argument.

##### SUMMARY
The [`tower_notification`](https://docs.ansible.com/ansible/latest/modules/tower_notification_module.html) should have the `messages` argument so that custom message templates can be added. I currently do this by ca

[2019-10-17 15:06] idelsink commented on #5027
I've created an issue, see issue https://github.com/ansible/awx/issues/5032

[2019-10-17 15:14] msilmser opened #5033 "RFE: Add a mechanism for listing only normal job runs"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, when you attempt to filter job types at the jobs menu in the UI by type, you can use the following searches:

`type:project_update`
`type:inventory_update`
`type:workflow_job`
`type:system_job`
`type:job`

There is currently no search to limit _only_ single job template runs as the `type:job` search displays all workflow, system, and singl

[2019-10-17 15:24] kdelee commented on #4400
@one-t putting you since you were subject matter expert for this, but @Spredzy says he can help if you need to delegate

[2019-10-17 15:39] megakoresh commented on #5019
@AlanCoding I think I may have to elaborate on my overall agenda here. I have been primarily responsible for taking AWX/Tower into use in a fairly big enterprise with lots of different technologies, the automation of which is going to be handled or is handled via Ansible. In such environment, as in any enterprise setting, I might imagine, the only way is to stick to best practices and follow conve

[2019-10-17 15:56] ryanpetrello commented on #4132
@AlanCoding It sounds like this is a problem specific to Windows machines (in terms of remaining issues we know about)?

[2019-10-17 16:13] zaskan opened #5034 "Logger enhacement"
##### ISSUE TYPE
 - Create new loggers in order to improve output for reporting

##### SUMMARY

**Customer suggestion**

- A new logger (eg: job_status) which send all information for a job summarized in one event with all necessary fields.

Another enhancement, more basic (in my point of view) is to implement useful fields in the job_event logger in the summarized field for all executed job :

-

[2019-10-17 16:17] matburt commented on #5023
It's also entirely possible to integrate MFA into your playbook itself and perform the checking at the playbook level. This is difficult to generalize at launch-time for Tower

[2019-10-17 16:19] wenottingham commented on #5034
This would be logging something which doesn't directly correspond to anything else in Tower, I'm not sure how this would fit off the top of my head.

[2019-10-17 16:31] ryanpetrello commented on #4341
If you're seeing this error, it means a new workflow job can't be started, because another is already running, and you've got the workflow set to *not* allow simultaneous runs.

Granted, this is likely happening because one of your previous workflow runs seems to be *stuck* in a `running` state (I'm assuming your workflow doesn't actually take several days to finish).

As @mkayontour alluded to:

[2019-10-17 17:51] AlanCoding commented on #5019
Addressing that option (an input for the playbook dir relative path) more seriously, I expect that we would want to re-use the playbook file selector. So it would probably look something like:

![Screen Shot 2019-10-17 at 1 45 54 PM](https://user-images.githubusercontent.com/1385596/67033866-9ab0d280-f0e4-11e9-955e-79455c71855f.png)

Obviously the tooltip would have to elaborate on what this does.

[2019-10-17 19:14] AlanCoding commented on #5033
Can confirm behavior. The UI issues request

`/api/v2/unified_jobs/?page_size=20&order_by=-finished&not__launch_type=sync&type__icontains=job`

There's definitely a problem with the `__icontains`, but don't know what problems this poses for the broader UI search paradigm.

[2019-10-17 19:23] ryanpetrello commented on #4908
Yep, I can reproduce this.

[2019-10-17 20:50] one-t commented on #4400
I haven't been able to find a clean upgrade path. I'll need to come back to this later after my patience has recovered

[2019-10-17 21:07] ryanpetrello commented on #4990
@kdelee I think this problem will be alleviated by https://github.com/ansible/tower/pull/3852 (jobs will still get marked as failed in Tower, but orphaned k8s pods won't be left behind)

[2019-10-18 07:13] craph commented on #3983
Hello,

I comment this issue because in the INSTALL.md file we can see that the SSL will be enable automatically if the parameter ssl_certificate if filled.

By default, with the official container, the nginx config file doesn't take the ssl config.

Please could you add it ? This should be by default.

Thank you.

Best regards,

[2019-10-18 07:45] craph opened #5036 "ssl_certificate not used in official container"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The `ssl_certificate` value is defined and uncommented in `inventory`, and it gets used correctly in the docker-compose.yml output file, but the awxweb container's `/etc/nginx/nginx.conf` file has no SSL declaration, resulting in HTTP access only.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.5
*

[2019-10-18 07:58] riahc3 opened #5037 "Failed command was: ( umask 77 && mkdir -p"
##### SUMMARY
Trying to connect via SSH and getting a error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Connection

##### ACTUAL RESULTS

[code]
/var/log/ns.log shows this exact same message as well.

[2019-10-18 08:21] zx1986 commented on #1632
2019/10/18  AWX 7.0.0 still not work with roles/requirements.yml :-(

[2019-10-18 08:31] zx1986 commented on #3085
Could AWX 7.0.0 cherry pick this?
https://github.com/ansible/awx/pull/3177/commits/5df384edd62fa4882a90c7adefd061455ba34a29#diff-f069d8ac794ad13606442d2194490282

[2019-10-18 08:46] idelsink opened #5038 "awx cli schedule command is missing the human friendly job_template option"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The awx cli `schedule` is missing the `--job_template` argument. This should take the friendly *name* of the Job template/workflow and not the identifier like `--unified_job_template` does.

Example:
[code]

[2019-10-18 12:04] ryanpetrello commented on #5038
@idelsink,

The CLI programmatically generates these flags from the actual fields you'd send to the HTTP API, and in this case, Schedules *do* have a relationship called `unified_job_template`.  Job Templates and WorkflowJobTemplates are _both_ examples of UnifiedJobTemplates (for that matter, so are Projects and InventorySources), which **is** a named top-level resource in our API - just one that

[2019-10-18 12:04] #5038 closed, assigned to nobody

[2019-10-18 13:42] raidlman commented on #3430
Hi @AlanCoding. Could you please clarifiy how the tags work?
I have multiple hosts in my resource group `my_rg`. One is tagged with `key=ansible,value=test`.
I thought specifying the following SOURCE VARIABLES would filter all hosts by this tag.

[code]

But instead of returning just the one host, no host is returened at all. If I remove `tags: "ansible:test"` all hosts in the resource group are r

[2019-10-18 13:48] #5028 closed, assigned to Spredzy

[2019-10-18 13:57] Vuader commented on #20
+1

[2019-10-18 15:18] keithjgrant commented on #4964
Are we sure we want to disable the submit button? With the current behavior, clicking it gives feedback to the user about which fields are invalid/missing. If it's disabled, it may not be immediately obvious why it's disabled.

[2019-10-18 15:24] AlanCoding opened #5039 "Outlier role association/disassociation activity stream entries when changed project's organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If you change the organization of the project, is shows changes in some roles, but not other roles.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  N/A
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Modify the organization of a project.

[2019-10-18 16:44] shanemcd commented on #5037
This sounds more like a troubleshooting session than a bug. Please go to the google group or IRC for help debugging your environment.

[2019-10-18 16:44] #5037 closed, assigned to nobody

[2019-10-18 16:45] shanemcd commented on #5036
It seems like you have already done most of the hard work. Can you open a PR?

[2019-10-18 16:49] shanemcd commented on #5021
Sounds like a bug with the RPM you're using, which isn't something we support. If you can reproduce in one of our supported environments please let us know.

[2019-10-18 16:49] #5021 closed, assigned to nobody

[2019-10-18 17:17] wenottingham commented on #5026
-> #2421

[2019-10-18 17:17] #5026 closed, assigned to nobody

[2019-10-18 17:27] #5007 closed, assigned to nobody

[2019-10-18 17:31] awithrow9 commented on #4944
@AlexSCorey is this ready for test?

[2019-10-18 17:33] awithrow9 commented on #4866
@rebeccahhh is this ready for test?  If so can you add the label?

[2019-10-18 17:35] rebeccahhh commented on #4866
@awithrow9 it hasn't been worked on, I only found and reported the bug. I can validate it's still present if needed.

[2019-10-18 17:43] awithrow9 commented on #4814
@one-t can you take a look?

[2019-10-18 17:46] kdelee commented on #4907
downstream fix work for me, going to wait to close this til it lands in devel

[2019-10-18 17:52] kdelee commented on #4908
downstream fix for this is working for me, will close when fix lands in awx/devel

[2019-10-18 18:00] ryanpetrello commented on #4866
@rebeccahhh I'm going to move the milestone, thanks.

[2019-10-18 18:05] one-t commented on #4814
Hi, @abdul-jabbar01 - can you provide the associated log entries for this failed login?

[2019-10-18 18:06] #4669 closed, assigned to keithjgrant

[2019-10-18 18:06] AlexSCorey commented on #4944
@awithrow9 Yep I put the needs test label on the PR instead of the issue. Should be ready now.

[2019-10-18 18:21] achhabr1 opened #5041 "ipv6 hosts not working with AWX Ansible container solution"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation

##### COMPONENT NAME

 - API
 - UI
 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### AD

[2019-10-18 18:22] achhabr1 commented on #5041
ansible-playbook 2.8.4
2
  config file = /etc/ansible/ansible.cfg
3
  configured module search path = [u'/var/lib/awx/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
4
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
5
  executable location = /usr/bin/ansible-playbook
6
  python version = 2.7.5 (default, Jun 20 2019, 20:27:34) [GCC 4.8.5 20150623 (Red H

[2019-10-18 18:23] achhabr1 commented on #5041
AWX version: AWX 7.0.0.0
AWX install method: docker on linux
Ansible version: 2.8.4
Operating System: MacOS
Web Browser: Safari

[2019-10-18 18:30] craph commented on #5036
Hi @shanemcd, PR open

[2019-10-18 20:29] beeankha commented on #4357
Tower emits logs for each each individual event coming back from `ansible`.  These are wrapped in a `JobEvent`, which are by default marked as `changed=False` until we observe the actual `changed: [...]` output.

As an example, below is a list of specific job events values from a successful Job Template run:

[code]

It appears that what's going on under the hood is that the default state of a job

[2019-10-18 20:40] squidboylan commented on #4925
I tested this with awx.awx version: 7.0.0 by adding the `awx` directory in https://github.com/squidboylan/Ansible-inventory-file-examples/tree/master/collections and installing the ansible devel branch, then running `ansible-inventory -i awx/tower.yml --list --playbook-dir=awx/` from that collections dir:

[code]

This seems to work as intended. Closing

[2019-10-18 20:40] #4925 closed, assigned to squidboylan

[2019-10-18 20:51] ryanpetrello commented on #4904
@mabashian are you still actively working on this?

[2019-10-18 20:51] kdelee commented on #4911
upstream fix works for me, will close when lands in devel

[2019-10-18 21:37] elyezer commented on #4891
I can confirm that the new field is now present, for example check the following response:

[code]

Mind the `"approved_or_denied_by": "/api/v2/users/1/"` related field.

[2019-10-18 21:37] #4891 closed, assigned to elyezer

[2019-10-21 11:49] AlanCoding opened #5044 "Fix tag filtering in azure inventory source"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Looks filtering hosts by tags is not working with azure inventory

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Here's an example from this comment:

https://github.com/ansible/awx/is

[2019-10-21 11:50] AlanCoding commented on #3430
Yeah it looks like you have a meaningful finding there. I made a new issue for this: https://github.com/ansible/awx/issues/5044, so we can triage it.

[2019-10-21 12:17] craph commented on #5036
Hi @shanemcd ,

How can I solve "awx-detect-schema-change : FAILURE in 9m 28s (non-voting)" about my PR ? is it a blocking point ?

Thank you.

Best regards,

[2019-10-21 13:24] #4357 closed, assigned to jbradberry, beeankha

[2019-10-21 14:01] AlanCoding opened #5045 "Module tower_credential parameter organization should not be required"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
the module `tower_organization` has a parameter `organization` which is required.

It should not be required, and the user can alternatively specify either user or team.

The module should either enforce that the user supplies 1 of the 3, or correctly surface API error messages to this effect.

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install metho

[2019-10-21 14:27] slemrmartin opened #5046 "Child WorkflowJob not started when Inventory on WorkflowJobTemplateNode"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have nested workflow templates, when I set Prompt on launch on child workflow template and set Inventory through "Prompt" in Workflow visualizer, then Launch is in Running state forever and Workflow job for child Workflow template doesn't exist (is probably deleted, because there is missing ID in list of Jobs)

##### ENVIRONMENT
* AWX version: Tower

[2019-10-21 14:59] shanemcd commented on #5046
Ping @AlanCoding

[2019-10-21 15:14] unlikelyzero opened #5048 "Execution Node is not displayed in UI in some scenarios"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Execution Node is not reflect on UI in some scenarios. Container Groups are shown on a JT, however localhost node execution is not. Execution_node information is available in the API Response on the Job output

##### ENVIRONMENT
* AWX version: 7.0.0

##### STEPS TO REPRODUCE
1. Launch a JT using a localhost execution node.
2. View JT Results Output aft

[2019-10-21 15:39] nakacya opened #5049 "Unable to register the first host / group / source"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

In the newly created inventory
Unable to register the first host / group / source

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: CentOS 7.7.1908

##### STEPS TO REPRODUCE

In the newly created inventory
Unable to register the first host / group / source

##### EXPECTED RESULT

[2019-10-21 15:47] ryanpetrello commented on #5049
@nakacya are you running 7.0.0 or `devel` (given my knowledge of what's causing this bug, I suspect you're running the latest - or a very recent - version of `devel`, not strictly 7.0.0)?

[2019-10-21 15:58] mabashian commented on #4846
Re-opening due to #3871.  We'll need to come up with a different way to solve this problem.

[2019-10-21 16:13] keithjgrant commented on #4846
The flexbox solution here should work, but we'll need to get rid of the `margin-bottom: -34px;` on `.List-actions` and adjust other padding/margins around it to get the spacing right.

The bug occurs because of the way two elements overlap with the negative margin—switching to flexbox affected the stacking behavior.

[2019-10-21 16:40] ryanpetrello commented on #5049
@nakacya this should be fixed via: https://github.com/ansible/tower/pull/3871

[2019-10-21 16:40] #5049 closed, assigned to nobody

[2019-10-21 17:20] mabashian commented on #5048
So I'm seeing these errors in the console for the job launched by a scheduled workflow:

<img width="1680" alt="Screen Shot 2019-10-21 at 1 19 36 PM" src="https://user-images.githubusercontent.com/9889020/67227600-8c74f600-f405-11e9-9b8a-51c51a5534ca.png">

[2019-10-21 17:31] falcon78921 opened #5051 "AWX Does Not Update User Object Permissions When LDAP User Flags By Group Is Removed"
##### ISSUE TYPE
 - Feature Request

##### SUMMARY

A user was wondering how AWX handles a change in LDAP Team Mapping (e.g. If the `is_superuser` mapping is removed, does AWX update the user objects?).

I observed the following:

If the `LDAP User Flags by Group` is removed, pre-existing users in AWX do not update according to the changes made.

##### STEPS TO REPRODUCE

1. Create a LDAP connecti

[2019-10-21 18:06] brennus390 opened #5052 "Unable to sync with Git after updating to 7"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Unable to sync with Git after updating to 7

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on Linux
* Ansible version:  2.8.5
* Operating System: RHEL 7
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Use the web UI to configure Git Source Control credentials
Use web UI to configure git repository under Projects

##### EXPECTED

[2019-10-21 18:25] mabashian opened #5054 "Add revision column to projects list"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Revision hash + copy button are missing from the projects list:

<img width="1680" alt="Screen Shot 2019-10-21 at 2 21 16 PM" src="https://user-images.githubusercontent.com/9889020/67231918-407a7f00-f40e-11e9-9aaa-79bb4ec11e24.png">

Copy button should copy the revision text to the users clipboard.  The copy button should have a tooltip that says: `C

[2019-10-21 18:53] elyezer commented on #5029
Steps to verify:

1) Created a new notification and edited the start message
2) Navigated away and back to the notification page and edited the same notification, the `customize message...` section was already expanded. Removed the custom message and edited back to the default value.
3) Navigated away and back to the notification page and edited the same notification, now the `customize message...

[2019-10-21 18:53] #5029 closed, assigned to elyezer, keithjgrant, jladdjr

[2019-10-21 18:55] mabashian commented on #5054
The ClipboardCopy component may be a bit more than we want/need for this feature.  It seems like that component is really geared towards inputs.  Maybe we can use the [ClipboardCopyButton](https://github.com/patternfly/patternfly-react/blob/master/packages/patternfly-4/react-core/src/components/ClipboardCopy/ClipboardCopyButton.tsx) component by itself?

[2019-10-21 18:57] marshmalien commented on #5048
To Reproduce:
* Create a Job Template
* Create a Workflow Template that launches the Job Template you just created
* Create a schedule that launches the Workflow Template you just created
* View details of job

Other Note:
Not only is the execution node detail missing, but many more job details failed to get created (instance group, environment, credential, extra variables, etc.)

[2019-10-21 18:58] unlikelyzero commented on #5048
@marshmalien did this ever work?

Verified in tower 3.5.0 that a user could see execution nodes on JTs launched by WFJTs launched by Schedules

[2019-10-21 19:02] beeankha opened #5055 "Text Alignment is Off for "MINUTES" Text On Scheduling Page"
##### ISSUE TYPE
 - Bug Report

##### ENVIRONMENT
* `awx: 7.0.0`
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a schedule for a Job Template, set `REPEATE FREQUENCY` to `Minute`.

Text alignment is off for the word `MINUTE` under the `FREQUENCY DETAIL` section, no matter how wide the browser window is:

<img width="369" alt="Screen Shot 2019-10-21 at 2 41 32 PM" src="https://user-images.

[2019-10-21 19:10] kdelee commented on #4909
upstream patch works for me, will catch if we have regressions. going to close for now

[2019-10-21 19:10] #4909 closed, assigned to ryanpetrello

[2019-10-21 19:12] kdelee commented on #4908
https://github.com/ansible/awx/pull/5047 brought in fixes, closing.

[2019-10-21 19:12] #4908 closed, assigned to ryanpetrello, kdelee

[2019-10-21 19:13] kdelee commented on #4907
https://github.com/ansible/awx/pull/5047 brought in fixes, closing

[2019-10-21 19:13] #4907 closed, assigned to ryanpetrello, kdelee

[2019-10-21 19:16] one-t commented on #4400
Tested on openshift

Steps:
1. Install in openshift
2. Set up a credential and job template using internal infrastructure
3. upgrade
4. Verify that the name is changed
5. Successfully run the job template with the lookup

This is working as expected

[2019-10-21 19:16] #4400 closed, assigned to ryanpetrello, one-t

[2019-10-21 19:18] ryanpetrello commented on #4946
Do you have any more details on this @unlikelyzero?  How readily reproducible is it?

[2019-10-21 19:38] AlanCoding commented on #4703
AWX 8.0.0 is out now. For any of the users who saw permission denied errors from the submodule clone, if you upgrade does this resolve it?

[2019-10-21 19:58] AlanCoding commented on #5046
I'm only testing with AWX devel branch for now, but I'm not able to reproduce this. I launch the outer workflow, and it runs all the way down to the JT, which winds up running with inventory2, because the workflow-level inventory will be applied at higher precedence than the node-level inventory.

### parent

![Screen Shot 2019-10-21 at 3 56 28 PM](https://user-images.githubusercontent.com/1385596

[2019-10-21 19:58] AlanCoding commented on #5046
The most useful thing we could probably get is the server logs from your particular case.

[2019-10-21 20:01] elyezer commented on #5031
Steps to verify:

1) Logged in
2) Checked the `/var/log/tower/tower.log`
3) Verified that the entry `2019-10-21 19:55:49,681 INFO     awx.api.generics User admin logged in from NN.NNN.NNN.NN` was present in the log and provided the IP address. (IP address redacted on the pasted log line)

With that we can consider this closed.

[2019-10-21 20:01] #5031 closed, assigned to elyezer

[2019-10-21 20:13] wenottingham opened #5057 "Fix "Launched By" for JTs in scheduled workflows"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Background issue for https://github.com/ansible/awx/issues/5048.

The UI includes a "Launched By" tag to denote how something was launched.
It is propagated by some combination of:
- created_by (for the launching user)
- related schedule (for scheduled jobs)

This means you get the following:
- JT launched manually: user who launched job
- JT launch

[2019-10-21 20:24] squidboylan commented on #4703
I have confirmed both the relative submodule and submodules requiring authentication work. I tested the submodule authentication with a repo that is public with a private submodule and a repo that is private with a private submodule.

[2019-10-21 20:24] #4703 closed, assigned to squidboylan

[2019-10-21 20:30] ryanpetrello commented on #3935
You all mind giving this a shot in the latest 8.0.0?

[2019-10-21 20:30] kdelee commented on #4911
https://github.com/ansible/awx/pull/5047 brought in the reaper, going to close this now

[2019-10-21 20:30] #4911 closed, assigned to ryanpetrello, kdelee

[2019-10-21 20:34] kdelee commented on #4990
fixes for https://github.com/ansible/awx/issues/4911 and https://github.com/ansible/awx/issues/4909 appear to have fixed this, going to poke a bit more

[2019-10-21 20:45] elyezer commented on #4944
I was able to verify that the warning link is updated to `https://docs.ansible.com/ansible-tower/latest/html/administration/external_execution_envs.html#container-group-considerations`. The page is currently giving a 404 as expected but the URL seems to be correct, so we can consider this as being verified.

[2019-10-21 20:45] #4944 closed, assigned to elyezer, tvo318, AlexSCorey

[2019-10-21 20:47] unlikelyzero commented on #4946
No update at this time

On Mon, Oct 21, 2019 at 3:19 PM Ryan Petrello <notifications@github.com>
wrote:

[2019-10-21 20:54] ryanpetrello commented on #4990
@kdelee says maybe his isn't fixed, so I'm going to take another look

[2019-10-21 20:58] kdelee commented on #4990
yeah, I was wrong...still same problem. stuck in `waiting`....

[2019-10-21 22:22] ryanpetrello commented on #5052
@brennus390 can you share the entire error message?

[2019-10-22 03:50] nakacya opened #5059 "Host cannot be registered with tower-cli"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The host cannot be registered with tower-cli.
However, json can be registered with the same account from RESTAPI UI

##### ENVIRONMENT
* AWX version: 8.0.0(devel)
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: CentOS 7.7.1908
* Web Browser:

##### STEPS TO REPRODUCE

run a `tower-cli host create -n 111.111.111.112

[2019-10-22 05:59] chandrukvr commented on #1618
Getting the same ERROR with new ansible version as well..

ERROR:  relation "django_migrations" does not exist at character 124
STATEMENT:  SELECT "django_migrations"."id", "django_migrations"."app", "django_migrations"."name", "django_migrations"."applied" FROM "django_migrations" WHERE ("django_migrations"."app" = 'main' AND NOT ("django_migrations"."name"::text LIKE '%squashed%')) ORDER BY "dja

[2019-10-22 07:52] josemgom commented on #4675
It seems that this issue has been fixed in AWX 8.0.0 which was released 14 hours ago.

If someone can confirm that it works fine now..

Author: Bill Nottingham <notting@splat.cc>
Date:   Thu Oct 10 15:08:20 2019 -0400

    Check the user's ansible.cfg for role/collection paths.

    There's no other way to add our new paths reliably without breaking things.

[2019-10-22 09:10] dagstuan opened #5060 "Specify extra environment variables for job template"
##### ISSUE TYPE
 - Feature Idea/Question

##### SUMMARY
Is there any way to currently specify extra environment variables for a job template? I can specify extra environment variables for all jobs under `Settings -> Jobs`, but I haven't been able to find any way of doing this only for a single job or job template. More specifically I would like to specify the `display_skipped_hosts`-setting for a

[2019-10-22 10:52] ryanpetrello commented on #5059
@nakacya https://github.com/ansible/tower-cli/ is deprecated, and not supported by the AWX maintainers.

Have a look at the new official AWX CLI:

https://github.com/ansible/awx/tree/devel/awxkit/awxkit/cli

[2019-10-22 10:52] #5059 closed, assigned to nobody

[2019-10-22 11:10] alancivita opened #5061 "AWX 8.0.0 Kubernetes deployment error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Awx deployment failing at task TASK [kubernetes : Apply Deployment]

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: kubernetes
* Ansible version:  2.8.4
* Operating System: MacOS Catalina/ Ubuntu 16.04
* Web Browser:

##### STEPS TO REPRODUCE

run the isntaller with ansible-playbook -i inventory install.yml
##### EXPECTED RESULTS

##### A

[2019-10-22 11:26] sky-joker opened #5062 "500 error occurs when Webhook is executed with SURVEY set in Template or Workflow"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If I set the URL of AWX Template or Workflow (SURVEY added) to GitHub Webhook and execute it, a 500 error will occur.

**Error Response Body**

[code]

If SURVEY is not added, no error will occur.

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.6
* Operating System: CentOS Linux release 7.7.1908 (Co

[2019-10-22 11:37] ryanpetrello commented on #5062
@sky-joker any chance you could share the contents of your awx logs (with a 500 error, you should see a verbose error, which should give us some clues about what's wrong).

[2019-10-22 11:39] ryanpetrello commented on #5061
@wanderboessenkool this looks might it could be related to your recent PR.

Any ideas?

https://github.com/ansible/awx/pull/5009

cc @shanemcd

[2019-10-22 11:40] nakacya commented on #5059
Thank you for the advice.

After using awx and awx-cli, I was able to register without problems.

The awx-cli config can use .tower_cli.cfg as it is. (as human type)

[2019-10-22 11:54] sky-joker commented on #5062
Hi, @ryanpetrello

The error log is as follows.

[code]

thanks

[2019-10-22 12:01] hluaces commented on #4675
@josemgom I've just updated to 8.0.0 and the issue seems to be solved.

As there seems to be a lot going on in this issue I'll give you some details on my use case to make sure that I'm not misunderstood.

I was using this folder structure:

[code]

My `roles_path` was set to `/etc/ansible/roles:/usr/share/ansible/roles:roles/`.

Upong trying to execute anything on the previous version roles could

[2019-10-22 12:06] ryanpetrello commented on #5062
@sky-joker any chance you could share the output of `/api/v2/job_templates/N/survey_spec/`

...where `N` is the ID of the job template where you've defined the survey?

[2019-10-22 12:17] HunterNyan commented on #5061
This looks very similar to the output I was getting in my logs as well which lead me to my pull request

[2019-10-22 12:27] craph opened #5064 "Unable to add labels on job template with admin permission"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When I am an Admin of a Job Template, I am unable to add labels to this job. I got a 403 (Forbidden) when I click on the save button

##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: CentOS 7.7.1908
* Web Browser: Google Chrome Version 77.0.3865.120 (Official Build) (64-bit)

##

[2019-10-22 12:27] alancivita commented on #5061
#5063 looks like fixed that issue!

[2019-10-22 12:43] ryanpetrello commented on #5062
Okay, I'm able to reproduce this by:

1.  Setting up a JobTemplate that has a survey with a "password" field (no default provided).
2.  Launching this JobTemplate using a GitHub webhook.

[2019-10-22 12:50] ryanpetrello commented on #5062
@sky-joker,

Any chance this diff helps for you?

[code]

[2019-10-22 12:51] sky-joker commented on #5062
Yes :)
The SURVEY I set is as follows.

[code]

[2019-10-22 13:04] ryanpetrello commented on #5062
I think something like this should help:

https://github.com/ansible/awx/issues/5062#issuecomment-544946330

I can put together a PR shortly.

[2019-10-22 13:11] sky-joker commented on #5062
Applying this patch(https://github.com/ansible/awx/issues/5062#issuecomment-544946330) resolved this issue :)
Thank you @ryanpetrello for quick and polite response!

[2019-10-22 13:31] ryanpetrello commented on #5061
This should only affect awx 8.0.0, so I'm going to close this once #5063 merges momentarily.

Thanks for the fix @HunterNyan!

[2019-10-22 13:40] #5061 closed, assigned to ryanpetrello

[2019-10-22 13:53] AlexSCorey opened #5065 "Lookup Component Refactor"
##### ISSUE TYPE
Bugprovement

##### SUMMARY
The Lookup component can be a bit buggy because it is a controlled component (parent component's state impacts it) as well as an uncontrolled component. This can result in buggy behavior.  The component should be refactored so that it is either controller or uncontrolled component.
##### ENVIRONMENT
* AWX version: 7.0.0
* AWX install method:docker for m

[2019-10-22 15:02] brennus390 commented on #5052
I will try to provide the whole message, but I have to first clean out any specific data. I do want to note, that this fails when using https to clone, but works with ssh-keys. I also tried manually cloning from the awx_task container but still got the failure.

[2019-10-22 15:06] brennus390 commented on #5052
{
    "stderr_lines": [
        "Cloning into '/var/lib/awx/projects/_8__playbook'...",
        "fatal: unable to access 'https://$encrypted$:$encrypted$@server.localdomain/ansible-playbook/playbook.git/': Invalid file descriptor"
    ],
    "cmd": "/usr/bin/git clone --origin origin 'https://$encrypted$:$encrypted$@server.localdomain/ansible-playbook/playbook.git' /var/lib/awx/projects/_8__playbo

[2019-10-22 16:30] kdelee commented on #2556
The test cases covered in https://github.com/ansible/awx/issues/4710#issuecomment-540759480 apply to this as well, so this is ready to close.

Please reach out of fixes are not working for you.

[2019-10-22 16:30] #2556 closed, assigned to fosterseth, kdelee

[2019-10-22 16:41] Nascentes commented on #1632
This issue is occurring for us, as well on v7.0.0, ansible v2.8.4.

Project tree pulled looks like:
[code]

Project update (with delete/clean options checked):
[code]

project_update.yml section (modified to fix #4750 and attempt at using --force)
[code]

Manual attempt:
[code]
(same result with --force; this works with no problem on our ansible-core node running v2.7.8)

requirements.yml content:

[2019-10-22 16:48] kdelee commented on #4675
I agree, just tried this out and it is fixed for me on latest awx. Going to close! Please try updating and confirm that it works for you.

[2019-10-22 16:48] #4675 closed, assigned to kdelee

[2019-10-22 16:57] Nascentes commented on #1632
@wenottingham Can you please reopen this and take another look? We also have "roles_enabled" enabled in our settings. #3177 is obviously not fixing this for people.

[2019-10-22 17:04] wenottingham commented on #5060
No, there is only the global setting at the moment.

[2019-10-22 17:15] Nascentes commented on #1632
Fixed it by changing project_update.yml:

FROM:
[code]

TO:
[code]

This successfully let ansible-galaxy detect and install requirements.yml roles.

I have no idea why this worked.

[2019-10-22 17:40] wenottingham commented on #1632
Roles are no longer checked out when updating a project, only when checking out a project for running against.

[2019-10-22 17:44] mabashian opened #5066 "Add edit button to Org list rows"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Edit button should appear on each row that the logged in user can edit (summary_fields.user_capabilities.edit)

[2019-10-22 17:45] Nascentes commented on #1632
Can you clarify this, please? I don't understand what this means.
With the configuration of my last comment, I went into the UI > Projects > <my_project> and hit sync and this pulled roles. This behavior seems contradictory to what you're saying here?

[2019-10-22 17:45] mabashian opened #5067 "Add edit button to Template list rows"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Edit button should appear on each row that the logged in user can edit (summary_fields.user_capabilities.edit)

[2019-10-22 17:45] mabashian opened #5068 "Add edit button to Project list rows"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Edit button should appear on each row that the logged in user can edit (summary_fields.user_capabilities.edit)

[2019-10-22 17:46] mabashian opened #5069 "Add edit button to Inventory list rows"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Edit button should appear on each row that the logged in user can edit (summary_fields.user_capabilities.edit)

[2019-10-22 17:49] mabashian opened #5070 "Support expanded rows on Projects List"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
https://tower-mockups.testing.ansible.com/patternfly/projects/projects-expand/

We'll need to evaluate other fields that may be relevant to the expanded version of the project row

[2019-10-22 18:14] AlanCoding opened #5071 "Allow specifying playbook directory via ansible.cfg in inventory imports"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When an inventory import is ran, the CLI option `--playbook-dir` is added to the `ansible-inventory` call with the directory that the inventory is in (or the directory itself if given a directory instead of a file).

Starting in Ansible 2.9, users can specify a custom playbook directory via the config.

https://github.com/ansible/ansible/blob/74f9816

[2019-10-22 18:31] wenottingham commented on #1632
Well, you also noted that you modified the playbooks and are running on an older release, so I can't be sure about which behavior you're seeing, but this was a change fully implemented in 8.0.

[2019-10-22 18:37] mabashian opened #5072 "Add inventory source status icon to inventory list rows"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I'm going to link to the old mockups since I don't think the inventory list has been mocked up for ui_next: https://tower-mockups.testing.ansible.com/mockups/inventories/inventories/

This issue is meant to track adding this icon:

<img width="351" alt="Screen Shot 2019-10-22 at 1 57 47 PM" src="https://user-images.githubusercontent.com/9889020/67315

[2019-10-22 18:47] keithjgrant commented on #4964
After some discussion, we've decided to keep the existing functionality as is. Closing this issue.

@trahman73:

[2019-10-22 18:47] #4964 closed, assigned to keithjgrant

[2019-10-22 18:47] elyezer commented on #4923
Help text for `AWX_RESOURCE_PROFILING_ENABLED` is updated as expected, see:

![Screenshot from 2019-10-22 14-32-13](https://user-images.githubusercontent.com/48132/67317990-dd095380-f4d8-11e9-81c8-59d0f237e9f4.png)

The other settings `AWX_RESOURCE_PROFILING_CPU_POLL_INTERVAL`, `AWX_RESOURCE_PROFILING_MEMORY_POLL_INTERVAL` and `AWX_RESOURCE_PROFILING_PID_POLL_INTERVAL` are not exposed on the UI bu

[2019-10-22 18:49] mabashian opened #5073 "Add sparkline to inventory list rows for jobs that recently ran against inventory"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The idea here is that we could replace this icon:

<img width="1486" alt="Screen Shot 2019-10-22 at 2 45 20 PM" src="https://user-images.githubusercontent.com/9889020/67319233-a8969700-f4da-11e9-9d0b-1d00639840e4.png">
<img width="1487" alt="Screen Shot 2019-10-22 at 2 45 26 PM" src="https://user-images.githubusercontent.com/9889020/67319235-a8969700

[2019-10-22 18:52] #4923 closed, assigned to elyezer, wenottingham

[2019-10-22 19:09] elyezer commented on #4954
The toggle is now present on the UI:

![Screenshot from 2019-10-22 14-52-54](https://user-images.githubusercontent.com/48132/67320047-b26cca00-f4db-11e9-970d-37124059af69.png)

To validate it was working was done the following:

1) Created a project to sync https://github.com/ansible/test-playbooks/tree/with_requirements
2) Created a job template to run the `use_debug_role.yml` playbook
3) Ran the

[2019-10-22 19:09] #4954 closed, assigned to elyezer

[2019-10-22 19:25] elyezer commented on #5022
In order to verify this the window was resized to be on different UI responsive breakpoints and then was tried to interact with the slider. The following screenshots demonstrate how the UI was presented, on all of them the slides was working as expected.

![Screenshot from 2019-10-22 15-20-01](https://user-images.githubusercontent.com/48132/67322956-cadee380-f4df-11e9-9a5f-60846e73edcb.png)

![Scr

[2019-10-22 19:25] #5022 closed, assigned to elyezer, AlexSCorey

[2019-10-22 19:51] AlanCoding commented on #5046
Got more details, and replicated.

PATCH `/api/v2/workflow_job_template_nodes/5/` where the workflow the node uses prompts for variables (probably applies equally to JT nodes).

[code]

Launch this, and 💥

It's not just this. That task manager is not completing, and therefore, not processing jobs.

[code]

[2019-10-22 20:05] Freeze commented on #1855
Just an update:  Still present in 8.0.0

[2019-10-22 20:32] dsesami commented on #5048
Tried a few permutations -- Job template alone, job template with workflow, and scheduled workflow, as well as a webhook trigger. No undefined values occur and everything looks correct.

[2019-10-22 20:32] #5048 closed, assigned to marshmalien

[2019-10-22 21:18] dhoer commented on #4764
I set line 29 to be `when: false`.

[2019-10-22 21:52] Nascentes commented on #1632
The behavior I'm seeing is identical to the behavior reported in this issue initially and that was also a much older release. This issue has been prevalent for over a year now. The behavior I'm seeing is that requirements.yml is _not_ reliably pulled.

Can you please clarify this statement?

When are they pulled? Because they are not being pulled on project update. They are not being pulled when a

[2019-10-22 22:18] Nascentes commented on #1632
In our fresh install of 8.0, to get it working, I just made the exact same change detailed in my prior comment here: https://github.com/ansible/awx/issues/1632#issuecomment-545064169

I also had to re-implement the fix for #4750 to change role destination to: `{{roles_destination|default('.')|quote}}`

And now roles are updating as expected. I don't know what the intended behavior is, but at least

[2019-10-22 22:39] boomam commented on #4764
Thanks for replying
What's the full line as that does not work for me sorry.

[2019-10-22 23:58] ryanpetrello commented on #4990
@one-t @kdelee @shanemcd I'm not sure I really understand why the current behavior is **wrong**, per-se, because as I understand the example you've cited, the pod is never actually entering the `Running` phase (and AWX just retries in a loop over and over, right?)

https://github.com/ansible/awx/pull/4922/files#r334029409

If the pod is in `Pending` with `reason: Unschedulable`, doesn't that sugge

[2019-10-23 00:13] ryanpetrello commented on #4990
@shanemcd

I think we might also consider lowering this default to something more reasonable:

[code]

5s * 100 retries is a _long_ time (over 8 minutes).   Maybe 12 retries would be better as a default (give k8s one minute, then move on?)

[2019-10-23 00:17] hiyokotaisa opened #5076 "[RFE] Allow Approle and LDAP/AD Auth Mechanisms for AWX/Hashicorp Vault Token Integration"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently, only static tokens are allowed as the inputs to integrate Hashicorp Vault with AWX.  Customer wants the following:

For Approle:
Input approle_id (which exists on the Hashicorp Vault side) in a Vault Signed SSH and Vault Secrets credential.  The resultant output of this will be the Secret Token being filled in and returned from the API cal

[2019-10-23 00:26] ryanpetrello commented on #4990
@kdelee @shanemcd @one-t I've opened a PR which I think is a reasonable approach and that matches my second idea in the comment above (in lieu of larger task manager changes we've talked about down the road to accommodate real instance group failover):

https://github.com/ansible/tower/pull/3884

[2019-10-23 02:51] IMOKURI commented on #4737
It seems fixed on 8.0.0. Thanks!

[2019-10-23 02:51] #4737 closed, assigned to nobody

[2019-10-23 06:42] nomoresecrets commented on #4643
same here, centos 7, docker ce 19.03.4 9013bf583a

[2019-10-23 06:46] nomoresecrets commented on #4643
fixed it by removing '/tmp/awxcompose'

[2019-10-23 07:46] fidanf commented on #4750
Still happens after 8.0.0 upgrade.

[2019-10-23 07:54] MrMEEE commented on #4750
@fidanf Did you try the workaround?

[2019-10-23 07:58] grahamn-gr opened #5077 "ansible/awx_rabbitmq:3.7.15 image doesn't exist"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
ansible/awx_rabbitmq:3.7.15 container image doesn't exist

This is referenced in this recent PR: https://github.com/ansible/awx/pull/5074/files#diff-88fadd046eb3187e4500687368abc149R33

Are we able to use the official 3.7.15 image (rabbitmq:3.7.15)?

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: openshift
* Ansible version:  2.8.6
* Oper

[2019-10-23 08:01] fidanf commented on #4750
Yes I did and it works. Basically nothing has changed between 7.0.0 and 8.0.0 regarding this issue.

[2019-10-23 08:02] MrMEEE commented on #4750
Cool.. I just did a pull request for the change

[2019-10-23 08:29] LucaBernstein opened #5079 "Change secret_key and re-encrypt credentials"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently it seems not possible to change the awx **secret_key** (from installer/inventory) to be able to change the credential encryption key - or is it possible?

Will this be supported in the future?

[2019-10-23 10:45] vCra opened #5080 "Inventory Source for Openstack does not have a region field"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When creating an Openstack Credential, no field is provided to specify the region of the cluster. This results in Openstack using the default cluster. Additionally, specifying a region_name in the source variables section of the inventory source page does not work.

##### ENVIRONMENT
* AWX version: 8.0.0.0 (but tried with 7.0.0.0 too)
* AWX install met

[2019-10-23 12:29] craph commented on #5036
Hi @shanemcd,

Please could you give me a feedback about the ansible/gate ? I don't know what I have to do about my PR.

Thank you very much.

Best regards,

[2019-10-23 12:43] Neurozone opened #5081 "Setting base url fail with error 400"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Whe have an internal dns with a domain like "org.les800"
when i'm trying to set the base url of the tower host with something like "tower.org.les800", it fail with an error 400 and url not valid

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: MrMee rpm
* Ansible version:  2.8.6
* Operating System: CentOS 7.7
* Web Browser: Chrome latest

[2019-10-23 12:44] shanemcd commented on #5036
Hello. That is done once it’s approved by a member of our organization. I have been catching up on some other things since returning from vacation. I will take a look, but it may be tomorrow before I can. Cursory review of the code seems fine, but I’d like to test it out first. Thank you much for the PR.

[2019-10-23 12:59] craph commented on #5036
Hello @shanemcd ,

Thank you very much for your reply. It was with pleasure for the PR 😃

Have a good day.

[2019-10-23 13:00] falcon78921 opened #5082 "When Specifying ignore_unreachable: yes in a Task, AWX Inventory Host View Should Reflect Unreachable Hosts as Successful"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When specifying `ignore_unreachable: yes` in a playbook task, any hosts that were unreachable at the time show as `unreachable` and `skipped`, but not `failed`.

However, when you look in the AWX host inventory view, hosts that were unreachable but didn't essentially fail show as failing:

![image](https://user-images.githubusercontent.com/25699347/

[2019-10-23 14:02] kdelee commented on #4990
@ryanpetrello

When I filed this I was basically thinking of this scenario:

Tower is saturated with jobs, all normal instances are currently at capacity
At this moment, the container group becomes a funnel for jobs, all pending jobs get directed to Tower
Then, capacity becomes available on normal instance groups, but all jobs are currently scheduled on container group and sitting around waiting f

[2019-10-23 14:33] ryanpetrello commented on #4990
Yea, at this point in time, I think it's too risky to introduce a change where we'd identify a saturated container group and move a job to a *different* instance group.  For that sort of change, we probably need to brainstorm on some task manager changes (and that is a bit to risky for me).  For it to be successful, it would also likely need to be driven by some sort of functionality where we coul

[2019-10-23 15:12] kdelee opened #5083 "if a container group is full, fall back to other instance/container group"
##### ISSUE TYPE
 - Feature Idea
Currently, in certain scenarios jobs can end up getting funneled to Container Groups because they always **seem** to have capacity from the Tower side. Due to this naive concept of capacity, jobs may get less-than-optimally sent to the ContainerGroup where they may end up waiting on resources, while meanwhile resources are free'd up in other instance groups or cont

[2019-10-23 15:12] kdelee commented on #4990
closing in favor of the RFE #5083

[2019-10-23 15:12] #4990 closed, assigned to ryanpetrello, kdelee

[2019-10-23 15:27] fosterseth commented on #4147
I was able to reproduce the 500 error. I can also confirm that @AlanCoding's suggestion does prevent a 500 error and the request goes through cleanly with a 201 response.

If we like this solution I'd be happy to open a PR with the change, or I can look for another solution to address Alan's concern.

[2019-10-23 16:26] #4976 closed, assigned to keithjgrant

[2019-10-23 16:26] #4617 closed, assigned to keithjgrant

[2019-10-23 16:26] ryanpetrello commented on #5079
Hey @LucaBernstein,

It's possible to _change_ the key, but AWX doesn't currently have any tooling to decrypt and re-encrypt your secrets for you.  It's possible we might add functionality to support something like this in the future.

[2019-10-23 18:10] dsesami commented on #4847
everything looks super clean here, thanks :100:

[2019-10-23 18:10] #4847 closed, assigned to elyezer, jladdjr, dsesami

[2019-10-23 18:20] jakemcdermott commented on #4946
I attempted to reproduce the slow behavior using ffox esr 68 last Wednesday, but didn't see anything out of the ordinary in terms of page load speed or performance.

![Screenshot from 2019-10-16 16-22-21](https://user-images.githubusercontent.com/9753817/67422281-207ac500-f5a0-11e9-82dc-f88507bacc88.png)

I've communicated my findings to @unlikelyzero, to my knowledge he still wants to spend time

[2019-10-23 18:42] AlanCoding commented on #3935
I have been looking more into the use of `src:`, because I want to add tests for it and more fully support it moving forward (and be prepared if collections adds something like it). Research of this topic leads me to:

https://galaxy.ansible.com/docs/using/installing.html#installing-multiple-roles-from-a-file

[code]

https://github.com/bennojoy/nginx

This repo has folders like `tasks` and `templ

[2019-10-24 07:13] zx1986 commented on #1632
@Nascentes so I need to edit project_update.yml to get this workaround?

1. docker exec -it awx_container bash
2. cd /var/lib/awx/venv/awx/lib64/python3.6/site-packages/awx/playbooks
3. vim project_update.yml

[code]

---

Do not have root access in awx container ...
crap ...

[2019-10-24 09:14] zaskan opened #5087 "Unsupported browser check and advertisement"
##### ISSUE TYPE
 - Add an unsupported browser advertisement if applies on Tower login screen

##### SUMMARY
A lot of our support cases are regarding the browser compatibility.
I would like to suggest to add this check before of logging on Tower.

Thanks.

[2019-10-24 10:56] idelsink opened #5088 "Allow the project's SCM Branch to be overridden from a workflow template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Workflow templates can specify the inventory, however I also would like it to override the project's branch (`SCM Branch`).

With this option I can have a generic flow of multiple job templates and specify the branch for all of the job templates. This adds the ability to only make 3 workflows for testing, staging and production and then reuse the sam

[2019-10-24 12:22] lamehost commented on #1083
+1

[2019-10-24 12:40] lopf opened #5089 "psql: local user with ID 1001 does not exist"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

`Task: Check if Postgres 9.6 is being used`

results in an error regarding `psql: local user with ID 1001 does not exist`

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: Kubernetes
* Ansible version: 2.7

##### STEPS TO REPRODUCE

Deploy PostgresSQL via chart postgresql-2.0.0  (PSQL version 10.5.0).

Run `install.yml`.

##### EXPECTED RE

[2019-10-24 13:49] #2839 closed, assigned to mabashian

[2019-10-24 13:55] Nascentes commented on #1632
@zx1986 That's what worked for me, at least. Odd that you don't have root access, though. Default build for me puts me into a root shell with 'docker exec -it awx_task bash' no problem.

If you can rebuild the containers (by re-running install.yml playbook after removing old containers), you could modify the project_update.yml file in the cloned repo at: ./awx/playbooks/project_update.yml

I have

[2019-10-24 14:12] msilmser opened #5091 "RFE: Adding custom links other than SUCCESS/FAILURE/ALWAYS"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Customer request:

Tower workflows are lacking a key feature of adding custom links. Today, user can only choose SUCCESS, FAILURE & ALWAYS. But there is no way to have custom defined links. Users want to define custom link name and build workflows using those links. If Job template output is 405, it should take branch A, if Job template output is 407

[2019-10-24 15:15] jean-christophe-manciot commented on #3935
@AlanCoding

Could you clarify this? What "job" are we talking about? Because neither the creation of the project nor  any project sync trigger the roles download.

IIUC, you expect a repository behind the ```- src:``` to hold a single role, is that correct?
If that's the case, my repository holds multiple roles as already described in the first post and in [the link](https://galaxy.ansible.com/do

[2019-10-24 15:23] devops-42 opened #5093 "[AWXKIT] Unable to provide extra_vars when launching workflow_job_template"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using the AWXKIT CLI tool `awx` it is not possible to provide extra parameters like `scm_branch` or `extra_vars` when launching a workflow_job_template.

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: docker on linux
* Ansible version:  2.7.10 (Client)
* Operating system: macOS Mojave

##### STEPS TO REPRODUCE

Installed AWX 8.0.0 and cre

[2019-10-24 15:24] jamesfreeman959 opened #5094 "Fresh install of AWX 8.0.0 - cannot authenticate with password defined in inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to authenticate with a fresh install of AWX 8.0.0 using password defined in inventory file - special characters in filename.

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.6
* Operating System: Ubuntu 18.04.3 Server
* Web Browser: Chrome on Windows 10

##### STEPS TO REPRODUCE

1. Build a fr

[2019-10-24 15:27] AlanCoding commented on #3935
I'm going to need a little more help with this. If your repository holds multiple roles, then that appears to be inconsistent with that documentation. In addition to the bennojoy/nginx example it gives:

 - specifying a tag on github or bitbucket
 - using a tar.gz file

In order to support multiple roles, there needs to be some specification or agreement about where to find them in the project. Th

[2019-10-24 15:55] jean-christophe-manciot commented on #1632
- I was able to get the roles downloaded with 6.1.0 out of the box, with another issue depicted [here](https://github.com/ansible/awx/issues/3935).
- since 7.0.0, including 8.0.0, it is not possible anymore.
I confirm that it is necessary to hack ```/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/playbooks/project_update.yml``` as root by only removing the line ```when: roles_enabled|bool```

[2019-10-24 17:10] pgozart opened #5096 "[RFE] Dynamically populate workflows with child job templates"
Please add dynamic aggregation/population of workflow surveys with the required answers from child job templates of the workflow.

[2019-10-24 17:28] pgozart opened #5097 "[RFE] Add "retries" to Tower Workflows"
Add the ability to easily run re-tries of jobs through workflows rather than having to program those into playbooks.

[2019-10-24 17:35] pgozart opened #5098 "[RFE] Logical task execution based on variables"
More so than just "on failure", "on success", and "always", please add logical execution of tasks for workflows.

An example of this would be “linux provision machine”, if vmware then “these playbooks” if amazon then “these playbooks” etc.

[2019-10-24 17:37] fosterseth commented on #4147
fixed and merged into awx devel #5084

[2019-10-24 17:49] AlanCoding opened #5099 "Default for webhook_service is not in field choices and not accepted"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The OPTIONS for job_templates is not self-consistent for the field `webhook_service`.

This breaks the `tower-cli send` command, assuming the data comes from the receive command. A hack is in progress for this, but it would be better to change behavior from API moving forward.

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: N/A
* Ansible

[2019-10-24 18:39] jpell958 opened #5100 "UNTIL module be modified to remove the "FAILED - RETRYING:" wording"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
We would like to see the "retrying" messages for the UNTIL module be modified to remove the "FAILED - RETRYING:" wording and replaced with "Condition not met - RETRYING:" (or something to that nature).

Using the word "failed" can be confusing as the task has not actually failed yet until it exhausts all the retries.  The message should reflect the f

[2019-10-24 19:05] wenottingham commented on #5088
It's there in 8.0.0.

[2019-10-24 19:05] #5088 closed, assigned to nobody

[2019-10-24 19:07] wenottingham commented on #5091
This can be done in the existing framework, although it requires some design on using success/fail along with the `fail` module to do so.

[2019-10-24 19:10] wenottingham commented on #5096
Maybe as an option, I don't see this being the default behavior. It would also need to rewire how this is passed, as you wouldn't pass the results to every job.

[2019-10-24 19:11] treyd commented on #4736
Has anyone successfully worked around the `pg_hba.conf` issue and gotten AWX to deploy on a local docker?  I've tried but now I'm getting messages about the `awx` and `postgres` databases not existing.

[2019-10-24 19:16] wenottingham commented on #5098
-> #5091

[2019-10-24 19:16] #5098 closed, assigned to nobody

[2019-10-24 19:18] wenottingham commented on #5100
This is not something AWX has any control over, this would need to be changed in Ansible itself. You'd need to file this at https://github.com/ansible/ansible/

[2019-10-24 19:18] #5100 closed, assigned to nobody

[2019-10-24 19:58] elyezer commented on #3819
I still see this issue, here are the steps to reproduce:

1) As the admin user create a job template that has a survey with an optional password field. Set the job template to run a playbook that will fail.
2) Create an user and set the execute permission to the previously created template.
3) As the user that has execute permission. Launch the job and it will fail.
4) Relaunch the job and select

[2019-10-24 20:44] mabashian opened #5106 "Show missing/deleted projects and inventories in JT details"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When looking at the details view of a JT with a deleted project and inventory the fields simply aren't present:

<img width="1530" alt="Screen Shot 2019-10-24 at 4 39 40 PM" src="https://user-images.githubusercontent.com/9889020/67523712-3d38fa80-f67d-11e9-87aa-550caa7a862a.png">

I'm wondering if we should instead show the fields and indicate that t

[2019-10-24 20:47] elyezer commented on #4485
I've synced an AWS account and got the following info message `Loaded 750 groups, 437 hosts`

Deleting the source I got the following time for deleting the groups:

[code]

And the following time for deleting the hosts:

[code]

Host deletion seems to be fine but group deleting seems to be having a poor performance still. I am trying to reproduce a much larger number of hosts and groups using inve

[2019-10-24 20:58] krleitch opened #5107 "awx_task log gives argument conversion issue after awx install with docker"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

After running the playbook command the docker containers are not properly installed.
Looking at the the awx_task container log gives the following

[code]
The discovered python interpreter is python 2.7.16
The commands are being ran in a python virtualenv with docker-compose installed

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: docke

[2019-10-24 21:01] KMFSousa commented on #5107
I've seen this issue too. Haven't been able to find a solution yet

[2019-10-24 21:44] elyezer commented on #4485
Using the following inventory script that generates one groups with 2000 hosts:

[code]

Here are the times for deleting groups and hosts respectively:

[code]

[2019-10-24 21:57] elyezer commented on #4485
Using the following inventory script that generates 1000 groups with one host on each:

[code]

Here are the times for deleting groups and hosts respectively:

[code]

[2019-10-24 21:59] elyezer commented on #4485
It seems that deleting groups are kind of expensive task still. Do we want to take a better look on it @AlanCoding @wenottingham ?

[2019-10-24 22:34] elyezer commented on #4750
I've pulled the changes for the fix aforementioned and did the following:

1) Created a project to sync https://github.com/ansible/test-playbooks.git and the `with_requirements_inventory` branch
2) Created a new source of type `Sourced from a Project` and selected the inventory file to be https://github.com/ansible/test-playbooks/blob/with_requirements_inventory/inventories/inventory.ini
3) Tried

[2019-10-24 23:36] wenottingham commented on #4485
What is the 'before' for these examples?

[2019-10-24 23:53] AlanCoding commented on #4485
Honestly, 6 seconds for 750/437 is markedly better than what I hoped for. I suspect that you'll see a higher penalty if you do them simultaneous, as the UI does. As much as twice that would match my own expectations.

My reference case was about 400 groups (same group-host ratio) from AWS, which was around the uWSGI timeout borderline. In that case, the timeout was flaky, sometimes it would happen

[2019-10-25 00:32] zx1986 commented on #1632
@jean-christophe-manciot thanks, I am running AWX with helm chart in Kubernetes.
what I got was:

[code]

@Nascentes thank you so much! I am trying to use configmaps to patch this monkey into my AWX 8.0.0

[2019-10-25 11:40] alancivita opened #5108 "k8s "create django super user if it does not exist" fails if DB migrations are not completed."
##### ISSUE TYPE
 - Deployment failure

##### SUMMARY

Deployment fails due to task "create django super user if it does not exist" failing because DB migration are not completed yet.

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: kubernetes
* Ansible version:  2.8.4
* Operating System: MacOS/Ubuntu
* Web Browser:

##### STEPS TO REPRODUCE

awx deployment on some kubernetes environm

[2019-10-25 12:30] msilmser opened #5109 "RFE: Expose database backup/restore from Tower"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Request to expose the backup/restore playbooks from the Tower UI.

[2019-10-25 12:35] mattch3wie opened #5110 "JOB TAGS and SKIP TAGS not being honored via "prompt on launch""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
User entered values for SKIP TAGS and JOB TAGS are not honored.

##### ENVIRONMENT
* AWX version: 8.0.0
* AWX install method: docker on linux
* Ansible version:  2.8.5
* Operating System: RHEL 7.6
* Web Browser: Chrome Version 78.0.3904.70 (Official Build) (64-bit)

##### STEPS TO REPRODUCE

Configure a template to have null or populated values in JOB