[2022-10-20 18:45] AlanCoding commented on #7521
There was another issue filed on this, and an updated fix landed in https://github.com/ansible/awx/pull/13035

Ping @mabashian FYI. I don't think we need to re-open this because it's solved now.

[2022-10-20 18:48] AlanCoding commented on #11892
Was anyone reporting this issue using a managed postgres database? Like the Azure offering.

[2022-10-20 19:06] AlanCoding commented on #13017
Notes:

 - This issue directly came from an integration test, so the lack of the original failure may be evidence to close
 - Technically, I don't see a strong reason to prioritize this for backports, so I'm not filing any issues to do that work, but I would not argue against it.

[2022-10-20 22:33] MrBones757 commented on #11892
Thanks for replying here.
Yes, the awx instance that I received this error on is using AWS RDS (HA active-passive) as it's backend db.

[2022-10-21 07:42] outjoker opened #13086 "Job template launch through AWX CLI is giving error - argparse.ArgumentError: argument --timeout: conflicting option string: --timeout"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Lau

[2022-10-21 10:31] uerceg commented on #6213
If they were, what would be a way to go?

[2022-10-21 11:46] bitsky6 opened #13087 "Modules not working"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hey

[2022-10-21 12:29] GiuffreLab opened #13088 "Machine Credentials for SSH connections to Juniper Devices will not pass Password field."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Mac

[2022-10-21 12:33] vibinm opened #13089 "AWX schedules not running as scheduled"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I'v

[2022-10-21 13:08] AlanCoding commented on #11892
We've had multiple similar reports of this type, and actually, https://github.com/ansible/awx/issues/709 was really good reading on the topic for me.

In your case, is it possible that the process which hit this was idle for a long time before hitting the error (not running much jobs before the error)? Some of the settings changes suggested there look really interesting, and maybe it could help yo

[2022-10-21 15:52] #11555 closed, assigned to AlexSCorey

[2022-10-21 21:56] bitsky6 commented on #13087
All working good, figured it out, it is not a bug.
Thanks Anyway!

[2022-10-21 21:56] #13087 closed, assigned to nobody

[2022-10-21 22:01] bitsky6 commented on #13051
You need to build your execution environement and include in the requerments which module you need.
Search for awx execution environment,  took me some time to figure it out also.

https://blog.devgenius.io/build-an-ansible-execution-environment-ansible-builder-command-line-tool-b05e35f402e8

[2022-10-24 17:55] yodatak opened #13096 "Documentation for install in docker-compose don't work"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

If

[2022-10-24 17:55] dustinmhorvath commented on #12991
I'm basically still running into the issues from https://github.com/ansible/awx/issues/9377. My experience is that limits surrounding workflows are EXTREMELY flaky and can't be trusted without copious testing.

I can do the following:
1. Create workflow with prompt-limit=yes, limit is empty
2. Add job template node with prompt-limit=yes, limit=someGroup
3. Verify workflow visualizer shows job temp

[2022-10-24 18:01] dustinmhorvath commented on #12991
Ultimately imo, this whole `limit: null` business needs to be completely abandoned, because it shows the user two different things, *hidden* from them, that behave wildly different, and arbitrarily. The way that `limit: ""` is interpreted should simply be extended to cover the existing use-cases, with a simple and straightforward description of how it behaves.

The previous issue on this topic !32

[2022-10-24 18:53] MallocArray opened #13098 "Unable to remove configured instance group with awx.awx.job_template"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

If

[2022-10-24 21:31] jakszk opened #13100 "LC_CTYPE: cannot change locale (C.UTF-8)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Aft

[2022-10-25 13:28] aaronray commented on #12891
Hi, Is execution nodes in AWX the same as the new feature automation mesh in Ansible Automation Platform 2.1?

[2022-10-25 13:50] AlexSCorey commented on #12752
based on the amount of work done on schedules and [this PR](https://github.com/ansible/awx/pull/13062/files) in particular I do not think this is a valid issue any longer.

[2022-10-25 13:50] #12752 closed, assigned to nobody

[2022-10-25 14:04] bschaeffer commented on #12811
@AlanCoding It is possible with the API though possibly https://docs.ansible.com/ansible/latest/collections/awx/awx/schedule_module.html

[2022-10-25 14:52] Bergdolt opened #13105 "Error on adding awx standalone execution node"
##### ISSUE TYPE

 - Bug, Docs Fix or other nominal change

##### COMPONENT NAME

 - AWX receptor

##### SUMMARY

In awx GUI after adding a new INstance, downlad
##### ENVIRONMENT
* AWX version: 21.7.0
* AWX install method: operator
* AWX deployment target: kubernetes,
* Operating System: Linux
* Web Browser: Edge

##### STEPS TO REPRODUCE
Follow intruction in: https://github.com/ansible/awx/blob/

[2022-10-25 17:36] harleylrn opened #13108 "Failed to connect to the host via ssh: Bad owner or permissions on /etc/crypto-policies/back-ends/openssh.config"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whi

[2022-10-25 18:56] harleylrn commented on #13108
Looks like I'm missed that the issue is on the EE and not on the AWX itself.

[2022-10-25 18:56] #13108 closed, assigned to nobody

[2022-10-25 19:24] AndyMcVey opened #13112 "Cascading/conditional menus for job template surveys"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-10-25 19:47] akus062381 opened #13113 "Activity stream- for advanced search, lookup type doesn't immediately change when key changes"
When a user is implementing the advanced search feature on the activity stream page, and they choose a key, the lookup type list automatically populates. If the user then changes the key and clicks on lookup type again, it hasn't changed to the new list of lookup types for that key. The user has to click click elsewhere on the screen and then click the lookup type dropdown a second time to see the

[2022-10-25 19:52] akus062381 opened #13115 "Activity stream- filter dropdown messes with CSS"
When a user visits the activity stream and clicks on the filterable dropdown in the top right, the CSS of the list itself is buggy- it becomes partially hidden.

To reproduce:

1. Visit activity stream.
2. In the top right of the UI, you'll notice a dropdown that says 'Dashboard (All activity)'. Click on this dropdown and change the filter to anything you choose.
3. Click on that dropdown again, a

[2022-10-25 20:08] RubyWanKenobi commented on #13087
Would you please share what was the solution in your case ?

[2022-10-25 20:21] bitsky6 commented on #13087
Found 2 ways to do it.
One is build your own environment executor with modules included and use that.

The other have a collections/requirements.yml with the modules to be installed on the root of your project, my case then gitsync will check on root and install them.

Then if you want also to be able to use the shortnames instead fcqn

Add collections paths in your playbook.

Ie. Collections:
- C

[2022-10-26 02:01] MrBones757 commented on #11892
Thanks for your reply here, i'll review the notes in #709 and get back to you - our awx instance is usually fairly busy, with a number of jobs running in parallel most of the time throughout the day, so its unlikely to be due to inactivity, though if system jobs like this use a different worker set, or pg connection it could be related.

I'm fairly sure that we arent using the keepalive settings s

[2022-10-26 03:37] fosterseth commented on #12881
@lucasvivian thank you for confirming that it is fixed!

[2022-10-26 03:39] fosterseth commented on #12644
we are attempting to address this issue here https://github.com/ansible/receptor/pull/683

[2022-10-26 05:58] kurokobo commented on #13105
The token for work signing is valid for 1 minute by default.
Ensure the time is in sync on your AWX and Execution Node.

[2022-10-26 06:25] manikantavasupalli opened #13116 "Unable to create storage account just after successful creation of resource group on azurecloud"
##### ISSUE TYPE
 - Bug

##### COMPONENT NAME
 - Collection

##### SUMMARY
We are trying to create an azure resource_group followed by the creation of a storage account within that resource group using the block as shown below. Block1 is able to create the resource group and block2 is failing to create the storage account. This part is working for more than a year now and we started getting this i

[2022-10-26 07:17] dr4Ke opened #13117 "New credentials type to provide VAULT_ADDR and VAULT_TOKEN env vars"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-26 07:20] Bergdolt commented on #13105
Thanks, you get it right!!!
 I corrected ntp config on AWX and execution node and now its status is "Ready"
Regards,

[2022-10-26 07:20] #13105 closed, assigned to nobody

[2022-10-26 08:10] dberardo-com commented on #8025
related to this issue. is it possible to cache package_facts and execute the check with/without cache conditionally? that would speed up plays

[2022-10-26 14:01] infamousjoeg opened #13119 "Update CyberArk Conjur Secrets Lookup branding"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Cur

[2022-10-26 14:17] infamousjoeg opened #13120 "Add Conjur Cloud support to CyberArk Conjur Secrets Lookup credential plugin"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Con

[2022-10-26 15:16] fosterseth commented on #13112
Hi, great suggestion! thank you
this same idea was proposed here too https://github.com/ansible/awx/issues/20
we'll close this one in favor of that issue, so please go ahead and +1 that issue and drop a comment

[2022-10-26 15:16] #13112 closed, assigned to nobody

[2022-10-26 15:37] fosterseth commented on #13096
try by setting `COMPOSE_TAG=devel make docker-compose`

does that work?

[2022-10-26 15:42] john-westcott-iv commented on #13098
`default(omit)` prevents the parameter (instance_group) from being passed into the module see https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#making-variables-optional. You were close with `''` but `instance_groups` requires a list, not a string. An empty list looks like `[]`. So to remove instance groups with the module you would do something like:
[code]

I'm assuming t

[2022-10-26 15:42] #13098 closed, assigned to nobody

[2022-10-26 15:44] fosterseth commented on #13089
can you copy and paste the rrule for this schedule (can be obtained via API)? thank you!

[2022-10-26 15:56] fosterseth commented on #13086
needs investigation for now

[2022-10-26 15:57] infamousjoeg opened #13122 "Update CyberArk AIM Central Credential Provider branding"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Cur

[2022-10-26 18:13] john-westcott-iv commented on #13086
@outjoker We recently added a [change to awxkit](https://github.com/ansible/awx/pull/12875/files#diff-a9bd7eb6b2412558016de55fd070193a8c6284ea82d5bc65c6b89d4295b37c1fR61) that might be causing this issue. Previously there was a `--timeout` option globally for all awx commands. In AWX itself we added a timeout option for job template prompts. Because of how awxkit works with the API we had to modif

[2022-10-26 19:20] ImNtReal opened #13123 "Jobs fail to create pods due to kubernetes api-service giving connection refused"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I s

[2022-10-26 21:45] fosterseth commented on #13100
i think the bigger problem is this part of the error message `sh: /usr/bin/python3: No such file or directory` -- can you confirm that /usr/bin/python3 exists on both the rhel machine and the ee (I can't tell if this error msg relates to ansible, or the command that is being executed on the rhel machine)

[2022-10-26 21:48] fosterseth commented on #13116
Hi @manikantavasupalli this sounds like an ansible module issue, not AWX. Can you please contact the azure collection maintainers with this same error message and see if they can guide you?

can you verify that the same playbook works with just ansible (not using awx)?

[2022-10-27 07:26] AndyMcVey commented on #13112
Sounds good, sorry, #20 didn't show up when I was searching for this, but exactly covers what I was asking for.

[2022-10-27 08:02] manikantavasupalli commented on #13116
Sure, will reach out to azure collection maintainers. Thanks @fosterseth
It's not related to AWX specifically, it's an ansible module-level issue or from the azure end.

[2022-10-27 08:07] manikantavasupalli commented on #13116
A workaround that we found is as below:

1. Create a dummy storage account on any new resource group in the same subscription manually (through the portal)
2. Now run the same ansible stuff

This time ansible code block was able to create a resource group and then a storage account inside the resource group.

[2022-10-27 08:45] anasaizg opened #13127 "SCM Projects: keep latest pulled version of code if sync fails"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-27 12:33] chris93111 commented on #12297
Hi i don't know if is the same issue , but i have 2 jobs finish in same time, with error and no logs, and short time

The output job is not complete

AWX 21.6.0

In awx logs they are nothing expect Job terminated due to error
[code]
Nothing in ansible-runner logs

<img width="581" alt="Capture d’écran 2022-10-27 à 14 30 34" src="https://user-images.githubusercontent.com/27526373/198285503-52d79c

[2022-10-27 14:41] emoruzzi commented on #13086
Also experiencing the same error, using the [latest awx release](https://github.com/ansible/awx/releases/tag/21.7.0).
[code]

[2022-10-27 15:16] john-westcott-iv commented on #13086
Where are you getting that version of awxkit from?
If you do a `pip install --upgrade awxkit==21.7.0` and get the version that matches with your awx version does it work?

[2022-10-27 15:43] emoruzzi commented on #13086
https://docs.ansible.com/ansible-tower/latest/html/towercli/usage.html#installation
`pip3 install --user https://releases.ansible.com/ansible-tower/cli/ansible-tower-cli-latest.tar.gz`

[2022-10-27 16:06] rmarzo commented on #11152
Any updates about this?
I have the same problem... I ran a job in awx ui , it worked with success; after 1 hour, I ran the SAME job with this failure:
  Type     Reason     Age                  From               Message
  ----     ------     ----                 ----               -------
  Normal   Scheduled  6m9s                 default-scheduler  Successfully assigned awx/automation-job-11-th6

[2022-10-27 16:07] emoruzzi commented on #13086
[code]

Using specific version works tho
[code]

[2022-10-27 19:04] #12761 closed, assigned to darshanip

[2022-10-27 19:23] thedoubl3j commented on #12816
think we are good to close this yeah @djyasin?

[2022-10-27 19:32] djyasin commented on #12816
Thank you, @thedoubl3j I will do that now!

[2022-10-27 19:32] #12816 closed, assigned to djyasin

[2022-10-27 20:43] jakszk commented on #13100
You are right. That was the main issue here. I made a soft link to match the python version on both ee and rhel vm. Many thanks for your help.

[2022-10-27 20:43] #13100 closed, assigned to nobody

[2022-10-28 09:31] Smixi opened #13130 "Error using AWXkit with Python 3.11 using conf in CLI."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

CLI

[2022-10-28 11:11] andreibrebene commented on #11879
Hello,

I have the same error when I am trying to run AWX 21.7.0 on docker.
The VM is a RedHat 8.6 running on VBox.
I run to check the CPU on VM and the return is "CPU supports x86-64-v1", is there any tweaks to make the CPU be artificialy x86-v64-v2 supported?

Edit: I solved this issue disabling from Windows features the "Microsoft Hypervisor Platform", for some reason my VM was seeing that the

[2022-10-28 15:27] lutskevich opened #13131 "Job failed if Job Slicing and Fact Storage enabled together"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Job

[2022-10-28 17:44] AlexSCorey commented on #13127
Thanks for submitting this issue.  Can you please share what version of awx you are using?

In the mean time you could copy your project, and update 1 of the 2 copies of the project.  Then, create another job template that uses the copied project.  Then, you could create a workflow that defaults to the job template with the latest sync, and if that job fails, the workflow would go onto the other j

[2022-10-28 17:50] akus062381 commented on #12677
Hi @klauserber!

Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication me

[2022-10-28 17:50] #12677 closed, assigned to nobody

[2022-10-28 17:53] akus062381 commented on #12681
Hi @m-hoskin-unisa,

Thanks for following up to let us know that you had found a resolution to this! If you feel led, please feel free to put a PR up to improve our docs in this area.

Thanks for contributing!

[2022-10-28 17:53] #12681 closed, assigned to nobody

[2022-10-28 18:03] akus062381 commented on #12729
Hi @rdancel001!

Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication me

[2022-10-28 18:03] #12729 closed, assigned to nobody

[2022-10-28 18:06] akus062381 commented on #12765
Hi @CC-Kuoying!

Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication me

[2022-10-28 18:06] #12765 closed, assigned to nobody

[2022-10-28 18:07] AlanCoding commented on #13131
I confirmed I can reproduce this error. Doing so requires modifying the setting `ANSIBLE_FACT_CACHE_TIMEOUT` to a value greater than zero, @relrod we may need to evaluate the extent of the fallout if this was introduced in https://github.com/ansible/awx/pull/12790 I think the root of the problem is that a slice will return a list, not a queryset.

I also confirmed that this is fixed in https://git

[2022-10-28 18:08] akus062381 commented on #12768
Hello @JERUSO, this appears to be less of a bug report or feature request and more of a question. Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-10-28 18:11] fosterseth commented on #12768
@JERUSO awx 18 no longer works with the older docker based deployment.

AWX 18+ uses the awx-operator, where the app will run on a k8s cluster. See github.com/ansible/awx-operator for documentation on that

if you need to migrate older data from a 17 deployment to 21.7.0, there are some instructions here https://github.com/ansible/awx-operator/blob/devel/docs/migration.md

please let us know if th

[2022-10-28 18:12] akus062381 commented on #12783
Hi @MarcusCaepio,

We only vendor certain modules within the EE that are very commonly used in order to keep the size of our execution environments small.

At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication methods listed in the page below:

https://github.com/ansible/awx/#get-involved

Tha

[2022-10-28 18:12] #12783 closed, assigned to nobody

[2022-10-28 18:17] akus062381 commented on #12792
Hi @basift,

Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication method

[2022-10-28 18:17] #12792 closed, assigned to nobody

[2022-10-28 18:19] akus062381 commented on #12793
Hi @Tioborto,

It appears that your work has resolved this issue, thanks so much for your contribution!
We are going to close this issue, and we look forward to seeing your name pop up here again!

[2022-10-28 18:19] #12793 closed, assigned to nobody

[2022-10-28 18:27] fosterseth commented on #12685
@AdityaVishwekar @DaDenniX @CWollinger

the log rotation issue is not the logs from the awx-task container, rather the automation-job* pod that the job itself is running in

you'll want to make sure your docker max container size is > how much this playbook is supposed to output

when this problem occurs, do you see the automation-job pod hanging out, or  does it get cleaned up?

AWX Team

[2022-10-28 18:28] akus062381 commented on #12814
Hi @Remi-Mergen,

The prompt-on-launch functionality for the instance group on a job template was added in the latest release.
Try upgrading to the latest version of AWX and let us know if that resolves your issue. We look forward to hearing from you!

[2022-10-28 18:28] #12814 closed, assigned to nobody

[2022-10-28 18:29] #12831 closed, assigned to nobody

[2022-10-28 18:29] #12838 closed, assigned to nobody

[2022-10-28 18:49] MallocArray commented on #13098
@john-westcott-iv Thank you.  That did work.  I even thought about that the night after I opened this issue but hadn't had a chance to try it out first.  Thank you for showing me the way.

[2022-10-28 19:12] AlexSCorey opened #13133 "Automate translation of AWX Documentation"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-10-28 20:36] thenets commented on #13133
When I worked on dados.gov.br which uses the ckan.org project, they used https://www.transifex.com/ to manage the translations.
I don't know if that works for documentation too but was a great tool.

I was related to a recent conversation I had with @Spredzy. I'll be very happy to help with the Brazilian Portuguese translation.

[2022-10-28 20:49] AdityaVishwekar commented on #12685
automation-job pod gets cleaned up. Where is the configuration to set docker container size for this pod?

[2022-10-28 20:59] anasaizg commented on #13127
Hi Alex! Thanks for your reply. We have two environments and we are running versions 15 and 21.0.0.

To avoid this, for the moment we are not synchronizing the projects automatically.

[2022-10-31 01:20] relrod commented on #13131
Yep. Per Django docs:

I did not realize that was a special case (but it makes sense since it probably can't do the step part as part of the query). Ugh. :(

[2022-10-31 01:21] relrod commented on #13131
Also, thanks for this report @lutskevich

[2022-10-31 15:20] Smixi commented on #13130
Related: #12938. I guess this is argparse. I will try to investigate if i have the time.

[2022-10-31 15:40] AlexSCorey opened #13135 "Update UI dependencies"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-10-31 16:32] AlexSCorey commented on #13127
@anasaizg I'm not sure I understand.

Are `15` and `21.0.0` the versions of awx you are running?

The steps I suggested above do require some manual work to keep track of the versions you want so that you have a fallback and so if you want to update the sync versions on a schedule it won't work.  However, if you want to run a job on a schedule are you are ok with using the same sync version until

[2022-10-31 16:36] SajanGone opened #13136 "Getting Failed to establish a new connection: [Errno 111] error while installing AWX cli on RHEL 7"
##### ISSUE TYPE

 - Breaking Change

##### COMPONENT NAME

 - CLI

##### SUMMARY

I am working on installing AWX CLI on "Red Hat Enterprise Linux Server release 7.9 (Maipo)". I am blindly following the documentation on the page "https://github.com/ansible/awx/blob/devel/INSTALL.md" as I am relatively very new to using Ansible and AWX.  Getting the following error when attempting to run the "make

[2022-10-31 16:39] anasaizg commented on #13127
Hi @AlexSCorey! yes, we have two environments, we had been using version 15 on both of them. We migrated one of them to version 21.0.0 but as we faced other issues (for instance, the reported problem with jobs that take longer than 4 hours) we have not migrated the other one yet.

I will try your suggestion for some of the projects that might need more frequent synchronizations, thanks!!

[2022-10-31 16:50] ArtsiomMusin opened #13137 "Inventory for schedules in inventory sources/job templates causes import to fail"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Thi

[2022-10-31 17:21] jbradberry commented on #13137
@ArtsiomMusin Can you please clarify this?

What is the involvement of 3.8.6 in all of this?  Version 4.2.1 is a version of Controller, which is the project formerly known as Tower.  The associated version of AAP for Controller 4.2.1 would be 2.2 something.

[2022-10-31 19:20] AlanCoding commented on #13127
This is a very coherent request to me, because it fits the data model and machinery that's happening under the hood.

Yes, there are some qualifiers to this. If you are on a clustered system, then the control node for the job may not have the source tree (or Galaxy content) available on it. If the SCM remote is down, then implementing this would turn one type of failure (a dependent job failure) i

[2022-10-31 19:29] ImNtReal commented on #13123
After digging in some more, I discovered that when I added my second and third control-plane nodes, they had kube-apiservice listening on the default 6443 instead of 443 which I defined when I created the cluster on the first node. After changing all references I could find from 6443 to 443 on the other two nodes, now, it seems all connection attempts from inside the cluster are returning "connect

[2022-10-31 19:51] ArtsiomMusin commented on #13137
yes, I just realized Tower is not related here. We just have Tower and AAP deployed on the same env. Anyway, we can ignore Tower.

For AAP, I took the version from here. Not very familiar 4.2.1 is the version of controller or AAP itself. Sorry for inaccuracy. :sweat_smile:
![image](https://user-images.githubusercontent.com/6213508/199097589-22424072-fc72-4ecd-88c5-bf94bd9b390b.png)

[2022-10-31 20:06] kdelee opened #13138 "can't run jobs on hosts with hostnames > 63 characters"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

We

[2022-11-01 01:13] TheRealHaoLiu commented on #13138
🤦‍♂️

[2022-11-01 02:54] chris93111 opened #13140 "Job with closed tunnel give error"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Hel

[2022-11-01 06:46] CodyGuo commented on #11657
DATABASE_PORT：“{{ pg_port | int }}”

[2022-11-01 12:46] itdove commented on #13138
This issue was raised while testing on gcp.
The registered instance name follow this format
[code]
We could reduce the size of the hardcoded part of that format but we can not apply limit on the gcp project name length and so the customer will always have the unfortunate possibility to reach that size limit.

[2022-11-01 15:29] AlanCoding commented on #13138
So similar to https://github.com/ansible/awx/issues/12999 in a way, but yet completely different.

[2022-11-01 15:51] AlanCoding commented on #13138
I am struggling to find docs around this. The message size limit was clearly spelled out in the pg_notify docs, but this... not so much. Poking around, the source of the value seems to be this:

https://github.com/postgres/postgres/blob/c30f54ad732ca5c8762bb68bbe0f51de9137dd72/src/interfaces/ecpg/include/sqlda-native.h#L8-L16

That appears to be a fairly general constraint on names in postgres, wh

[2022-11-01 16:34] kdelee commented on #13138
maybe we could do:
[code]
this requires that postgres be in utf-8 encoding, but I think we require that elsewhere

[2022-11-01 18:30] kdelee commented on #13138
possible work around for this is to register instances with aliases and have hosts be aware of these aliases somehow. Depends on how you are deploying, but you can for example register instances as `awx-1` and then add entry to `/etc/hosts` to the long hostname -- or better yet, internal IP. That said, it certainly is buggy that we let you register a hostname we can't use later

[2022-11-01 20:31] atalz163 commented on #9501
Hi! thanks for sharing this answer. i am getting "mysuperlongpassword" which is not decoded. i dont know where exactly i am doing wrong.

[2022-11-01 21:00] kialam opened #13147 "HostEvent Modal throws TypeError"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

_No

[2022-11-02 06:09] MrBones757 commented on #11892
Hi @AlanCoding

I have had a look at our current configuration and can report the following:
Similar delete tasks are working in one of our other instances / clusters that is running the latest version, but this database is significantly smaller (30,000 jobs vs 150,000) and only a few hundred hosts vs 1500 active, and probably 10,000+ deleted hosts (autoscaling, etc).

The SSL Mode is set to prefe

[2022-11-02 13:28] thg-adamdean opened #13149 "JWT Supported Authentication"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-02 14:32] anxstj opened #13152 "events are not deleted from _unpartitioned_* tables"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

The

[2022-11-02 17:13] AlexSCorey commented on #13149
@thg-adamdean Thanks for reaching out to us.  We plan on investigating this to see what we can do to address it.

[2022-11-02 17:38] AlexSCorey commented on #13136
@SajanGone `make clean html` is not necessary to install and use AWX CLI.  If that step is causing problems you can safely skip it.

[2022-11-02 17:38] #13136 closed, assigned to nobody

[2022-11-02 17:41] #13116 closed, assigned to nobody

[2022-11-02 17:48] ImNtReal commented on #13123
I gave up on running the apiserver on port 443. I redeployed with the default, 6443. Now, everything seems to be working.

[2022-11-02 17:48] #13123 closed, assigned to nobody

[2022-11-02 17:53] rooftopcellist commented on #13096
@yodatak if that didn't work for you, please open a new issue.  Thanks!

[2022-11-02 17:53] #13096 closed, assigned to nobody

[2022-11-02 17:56] rooftopcellist commented on #13089
@vibinm You can get the rrule by navigating to the browseable API here:

* `https://<your-awx>:8043/api/v2/schedules/<schedule-id>`

[2022-11-02 18:01] rooftopcellist commented on #13088
I think you may need to specify the ansible_connection for Juniper networking devices in your Inventory.  Try out these docs:
* https://docs.ansible.com/ansible/latest/network/user_guide/platform_junos.html#junos-os-platform-options
* https://www.juniper.net/documentation/us/en/software/junos-ansible/ansible/topics/topic-map/junos-ansible-connection-methods.html

You may need to specify this in th

[2022-11-03 15:51] gundalow opened #13155 "AWX Office Hours Agenda - Nov 8 2022"
# AWX Office Hours

## What

After a successful Contributor Summit in October, one of the bits of feedback we got was to host a regular time for the Automation Controller (AWX) Team to be available for your folks in the AWX Community, so we are happy to announce a new regular video meeting.

This kind of feedback loop is vital to the success of AWX and the AWX team wants to make it as easy as poss

[2022-11-03 15:54] gundalow commented on #13155
## First Meeting Intros

* Give folks the chance to say hi
* Say what we are hoping to achieve

[2022-11-03 15:55] gundalow commented on #13155
## Current AWX team projects

The Controller Team will give a high level (10 min) overview of what stuff is being worked on

[2022-11-03 15:56] gundalow commented on #13155
##  Community PR Review (20 min)

One of the best ways to share knowledge is via screen sharing code reviews. Bonus here is we get to see what the Community has been up to

[2022-11-03 18:08] tmichett opened #13156 "BUG - Collection: ansible.controller and Module: notification_template Not working Correctly"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

The

[2022-11-03 22:29] gurleenkaurmago commented on #5692
I faced similar issue when trying to run playbooks in Redhat Automation platform 2.2.1-1. the branch override option doesnt seem to work correctly... branch override option lets me choose a different branch in template from the one mentioned in project but it fails with the error .
 I dont know if this problem relates to the one being discussed here because of the version but if it helps someone..

[2022-11-03 22:35] infamousjoeg commented on #13155
#13121 & #13126 submitted for PR review (during office hours would be great). Each have one accepted review and are awaiting one more.

[2022-11-04 10:10] bentamircea commented on #11879
Hi,

I'm curious to know why is x86-v64-v2 a requirement in the first place? As someone mentioned above it might not be a AWX requirement but rather tools used around it to deploy. I'm trying to deploy it with docker but on build I'm getting the same. I've tried running an already built image and it gives the same error when starting.
I'm not as fortunate as some of the others, my CPU really does

[2022-11-04 10:25] andreibrebene commented on #11879
@bentamircea x86-64-v2 brings support (among other things) for vector instructions up to Streaming SIMD Extensions 4.2 (SSE4.2) and Supplemental Streaming SIMD Extensions 3 (SSSE3), the POPCNT instruction (useful for data analysis and bit-fiddling in some data structures), and CMPXCHG16B (a two-word compare-and-swap instruction useful for concurrent algorithms).

From RHEL 9 you must have a CPU th

[2022-11-04 12:49] bentamircea commented on #11879
@andreibrebene I'm running a Debian 11 on bare metal so no hypervisor settings to fiddle with.

UPDATE: the images are based on quay.io/centos/centos:stream9 so that's why the containers are failing with non v2 CPUs.

[2022-11-04 14:11] Sachinhebbar opened #13159 "AWX | JSON requests are being empty while passing as extra vars to Ansible API Tower"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

We

[2022-11-05 15:56] anttiah commented on #5692
Same issue here. I'm stuck with the branch specified in the project from which my inventory is sourced. I've tried all kinds of workarounds, like daisy-chaining two job templates in a workflow template, and changing `scm_branch` between those two jobs using `set_stats` module, but to no avail. History of the latter job shows that `scm_branch` was indeed set to correct value, but it had no effect.

[2022-11-06 18:18] SigntriggerLabs opened #13161 "Sleep 650 job throwing error within 5 minutes of its launch"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Wit

[2022-11-06 19:07] shanemcd commented on #13161
Hello - where is your Kubernetes running? Azure by chance? See https://github.com/ansible/awx/issues/12530#issuecomment-1279364075

In addition to the suggestions in that comment, we're also currently working on a PR to Receptor that _might_ help this https://github.com/ansible/receptor/pull/683

[2022-11-07 15:54] TheRealHaoLiu commented on #13155
discussion of various way that log stream from job pod disconnect and job fails

PR for resuming log stream when disconnected https://github.com/ansible/receptor/pull/683

[2022-11-07 16:45] TheRealHaoLiu commented on #13161
https://github.com/ansible/awx/issues/12530

this might be related

for context https://github.com/ansible/awx/issues/12530#issuecomment-1279364075

[2022-11-07 19:31] jay-steurer commented on #13084
Closing this since issue was fixed by merged PR.

[2022-11-07 19:31] #13084 closed, assigned to jbradberry, jay-steurer

[2022-11-07 19:33] sean-m-sullivan commented on #13155
submitting #13162 for PR review as well, update to the workflow module to match the updates to job templates api

[2022-11-07 22:00] jbradberry commented on #13152
@anxstj looking at the code involved, the first thing that comes to mind is that you might have a number of jobs in stuck in some of the non-completed states.  Can you run this command and show the results?

[code]

I can't entirely promise it is correct and not pathological in run time, since I don't have an instance with this table populated.

The second thing I wonder is if you get any output f

[2022-11-08 09:48] anxstj commented on #13152
Hello @jbradberry.

Thanks for looking into this.

[code]

There's nothing obvious in the cleanup_jobs:
[code]

We were affected by the issue fixed with https://github.com/ansible/awx/pull/12447. To workaround that issue we had to decrease the cleanup interval to 14 days. And changed it back to 120 days when the fix was applied. We haven't reached 120 days yet so the database is still growing.

Bu

[2022-11-08 13:10] vibinm commented on #13089
Sorry for the delay, please see the requested information.

"rrule": "DTSTART;TZID=Europe/Copenhagen:20221007T130000 RRULE:INTERVAL=1;FREQ=HOURLY RRULE:INTERVAL=1;FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR"

[2022-11-08 13:43] thg-jonnield opened #13165 "Support for receptor node to initiate the tunnel connection"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-08 13:48] thg-adamdean commented on #13149
Thanks @AlexSCorey , happy to be a test candidate here.

[2022-11-08 14:38] AlexSCorey opened #13167 "Orphaned Job Output Page Crash"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Pag

[2022-11-08 15:07] AlexSCorey commented on #13089
@vibinm I think you are missing a rule in your r rul piece.  It should look like `
"DTSTART;TZID=America/New_York:20221108T101500 RRULE:INTERVAL=1;FREQ=HOURLY RRULE:INTERVAL=1;FREQ=DAILY RRULE:INTERVAL=1;FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR"`
The form in the UI should be filled out like:
![Screen Shot 2022-11-08 at 10 06 21 AM](https://user-images.githubusercontent.com/39280967/200600510-990f60e1-ffb4

[2022-11-08 15:42] dnguyen9 opened #13169 "AWX Collections / credentials - do not override existing value when updating just one value in the inputs field"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-08 16:42] marcusjehrlander commented on #12579
I was having the same issue as @joeyxworks ,, cisco.asa.asa_acls module Ansible  2.13.5 increasing the persistent_connection timers in ansible.cfg fixed the issue.

[persistent_connection]
command_timeout = 3600
connect_timeout = 3600

[2022-11-08 18:03] jbradberry commented on #13152
@anxstj Ok a few more, try these out please.

Exact timestamp of the migration that did the event table partitioning:
[code]

Counts of the unpartitioned job events grouped by month:
[code]

Count of unpartitioned job events that are now missing a job:
[code]

[2022-11-08 18:09] ps566730 commented on #1889
I love how the installation instructions say to use this command **before** installation to automatically enable the RedHat software collection library for PostGres, but this is a post-installation module (or at least we assume).

"Since automation controller and automation hub are using a Software Collections version of PostgreSQL in 3.8, the rh-postgresql10 scl must be enabled in order to access

[2022-11-08 19:23] #13147 closed, assigned to kialam

[2022-11-08 20:22] jbradberry commented on #13130
PR: https://github.com/ansible/awx/pull/13174

[2022-11-08 20:22] jbradberry commented on #12938
PR: https://github.com/ansible/awx/pull/13174

[2022-11-09 07:37] jakubauskas commented on #12345
Hello,

this issue was closed without any solution. I am facing the same issue at the moment, using latest AWX operator release.

[WARNING]:  * Failed to parse /runner/inventory/foreman.yml with auto plugin:
HTTPSConnectionPool(host='foreman-pvh-ost.ost.iathh', port=443): Max retries
exceeded with url: /api/v2/status?page=1&per_page=250 (Caused by
SSLError(SSLCertVerificationError(1, '[SSL: CERTIF

[2022-11-09 09:03] augustinosusky opened #13175 "awx.awx collection has job_list module but not workflow_list module"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-11-09 13:40] vibinm commented on #13089
@AlexSCorey I tried your suggestion but the issue still exists.

"rrule": "DTSTART;TZID=Europe/Copenhagen:20221109T120000 RRULE:INTERVAL=10;FREQ=MINUTELY RRULE:INTERVAL=1;FREQ=DAILY RRULE:INTERVAL=1;FREQ=WEEKLY;BYDAY=TH"

![image](https://user-images.githubusercontent.com/46528234/200845098-6a0ea358-c334-43a9-b250-e8f27ae9a31b.png)

[2022-11-09 14:27] john-westcott-iv commented on #13169
Have you tried running this with `update_secrets` option in the module?

[code]

This should alter the behavior of the module to only attempt to update the password field if something else in the credential has changed.

[2022-11-09 15:27] dnguyen9 commented on #13169
I tried that against collection 21 on AWX 15 but  was not successful. I'll try again and report back with more details.

[2022-11-09 15:52] aimcod commented on #12978
On a similar note, for a brand new installation of 21.5.0,  also with an external postgres database, that was upgraded to 21.8.0 earlier today, the Applications page became unavailable.

I don't know if this upgrade caused it, a previous one, or something else, as i only noticed today.

My issue was generated by something in the activity stream table for activities
/api/v2/activity_stream/140/ and

[2022-11-09 16:51] djyasin commented on #13088
Hi!

Thank you very much for this issue. It means a lot to us that you have taken the time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without a response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication methods list

[2022-11-09 16:51] #13088 closed, assigned to nobody

[2022-11-09 16:53] GiuffreLab commented on #13088
Sorry, I had not had a chance to circle back.

The mentioned changes above had no effect on this issue.

I have not had a chance to update to the new version of AWX to see if something there inadvertently fixed it, but I'm guessing no, as this has been an issue for quite a few releases now.

Will update if I see a change.

[2022-11-09 16:57] #13086 closed, assigned to john-westcott-iv

[2022-11-09 17:04] fosterseth commented on #13165
Hi,

Thank you for pointing this out, we are aware of this limitation and have plans to make the TCP directionality configurable.

This is a feature that we are tracking internally through a larger RFE. We'll close this issue, but stay tuned for an announcement whenever this feature lands into AWX.

Seth

[2022-11-09 17:04] #13165 closed, assigned to nobody

[2022-11-09 17:05] fosterseth opened #13179 "make awxkit README more useful"
This page needs more information https://github.com/ansible/awx/tree/devel/awxkit

Maybe a link to pypi or a pip install example command

[2022-11-09 17:35] fosterseth commented on #13175
you can achieve this using the `awx.awx.controller_api` lookup plugin

for example,

[code]

`job_list` module is a legacy module before the collection was created, and was kept around for compatibility (and still works). The preferred way is to use the lookup plugin, which will work on all types of resources, not just jobs. This way, we don't have to create a separate module for each resource typ

[2022-11-09 18:01] djyasin commented on #13159
Hi, AWX 7.0 is an old version that we no longer support. This feature should be working on later AWX versions. Please try upgrading to the latest version and let us know if that resolves your issue. If it does not, please let us know. Note, you'll need to set ask_variables_on_launch to True on the job template in order to pass extra vars.

[2022-11-09 18:01] #13159 closed, assigned to nobody

[2022-11-09 18:37] jbradberry commented on #13130
PR has merged.

[2022-11-09 19:04] jbradberry commented on #13089
@vibinm The rrule `"DTSTART;TZID=Europe/Copenhagen:20221007T130000 RRULE:INTERVAL=1;FREQ=HOURLY;BYDAY=MO,TU,WE,TH,FR"` should do what you want it to do.  I am investigating to see if it is possible to construct in the UI.

[2022-11-09 19:16] jbradberry commented on #13089
Also works: `"DTSTART;TZID=Europe/Copenhagen:20221109T140000 RRULE:INTERVAL=1;FREQ=HOURLY EXRULE:INTERVAL=1;FREQ=HOURLY;BYDAY=SU,SA"`.

Both fail to be constructable using the UI.

[2022-11-09 20:27] ghost commented on #10648
@shanemcd I see the user of 1000, but:

[code]
Also the awx-operator issue linked above

[2022-11-09 20:29] jakubauskas commented on #13002
Same error still persists.

Inventories -> Selected inventory -> Sources - Select source -> Schedules -> Add

`TypeError: Cannot read properties of undefined (reading 'ask_labels_on_launch')
TypeError: Cannot read properties of undefined (reading 'ask_labels_on_launch')
    at L9 (http://app02-pvh-fr2.fr2.iathh/static/js/main.1acf4072.js:2:2544096)
    at oo (http://app02-pvh-fr2.fr2.iathh/static/

[2022-11-09 21:56] dnguyen9 commented on #13169
@john-westcott-iv

I did some digging and here are my finding
update_secrets param does not work in the following conditions:
1. The number of keys stored on AWX for that secrets is different than what is passed to the credential collection. You're doing a comparsion of the number of keys against an object in the database.  https://github.com/ansible/awx/blob/1f939aa25e4ca32fa8a37a469ac929fc73ff9b

[2022-11-09 22:20] ArtsiomMusin commented on #13056
After some tests I found that this issue is related to ansible version installed on AAP. Will update the issue after I get more details on exact versions for ansible, where it works and where it fails

[2022-11-10 02:58] Sachinhebbar commented on #13159
Hello Yasin,

Thank you so much for writing to me. I agree the version is outdated
however I have a clone of this production server and using as lab which is
perfectly working.

And as you mentioned ask_variables_on_launch is already set to true.

Do I need to make any modification where the  extra variables been captured
at the time of reception from a source system?

On Wed, 9 Nov 2022 at 7:01 P

[2022-11-10 04:42] tarmael commented on #9747
Same problem on Red Hat Automation Platform 2.2.1
No idea what version of AWX that's based on

[2022-11-10 06:56] SigntriggerLabs commented on #13161
@TheRealHaoLiu @shanemcd Thank you!! I'm running it on AKS, yes! The one you mentioned matches with issue pattern.
I don't see any workaround though to deal with it in settings anywhere on AKS or AWX-- one way I understood is to break the pause or sleep to less than 5 minutes. We had someone trying 15 mins before and now broken it into 4 minutes interval.
The Pause issue is sort of bypassed.

But

[2022-11-10 07:30] sai002707 commented on #857
Greetings,

I have installed ansible AWX in minik8s in Ubuntu OS. As the AWX is installed in pods, Config files are different from of dockers. when am trying to add projects using source control type as manual, Warning error as "There are no available playbook directories in /var/lib/awx/projects. Either that directory is empty, or all of the contents are already assigned to other projects. Create

[2022-11-10 08:14] vibinm commented on #13089
@jbradberry Thanks for your time and input. I tried this and can confirm it works as expected now but this has to be made possible via the UI as well because the actual schedule is different from what the UI say/show now.

"rrule": "DTSTART;TZID=Europe/Copenhagen:20221109T120000 RRULE:INTERVAL=10;FREQ=MINUTELY;BYDAY=FR"

![image](https://user-images.githubusercontent.com/46528234/201036723-dd68e9f

[2022-11-10 08:15] augustinosusky commented on #13175
Hello,
thank you very much for the clarification. I agree that a general module is much better then creating one module per API endpoint and have to address each API change in this collection as well.
Cheers,
Augustin

[2022-11-10 08:15] #13175 closed, assigned to nobody

[2022-11-10 09:27] azrdev commented on #12930
I do see the same problem on our AWX 21.1.0 installation

[2022-11-10 10:19] azrdev commented on #10447
this seems to be implemented in AWX 21.1.0 which allows to set `* message body`s

[2022-11-10 10:23] azrdev commented on #8310
Looks to me like a duplicate of
- #4539

[2022-11-10 13:14] dulanjanad commented on #12843
@deeco can you please elaborate on how you manage to fix this issue, wa are having the same issue on AWX. we have deployed AWX on K8S

[2022-11-10 13:47] lbr38 commented on #12297
Hello

I'm having the same error. Some jobs are finishing with error "Job terminated due to error" with incomplete output and no logs.

AWX 21.8.0 on k8s
CentOS7

[2022-11-10 18:22] #13119 closed, assigned to nobody

[2022-11-10 18:22] #13120 closed, assigned to nobody

[2022-11-10 18:54] #13015 closed, assigned to relrod, akus062381

[2022-11-10 19:23] TheRealHaoLiu opened #13183 "Proposal: Decouple Rsyslog from web and task subsystem"
## Proposal

### What

This is a proposal for the change in the rsyslog subsystem and its integration with AWX to allow decoupling of rsyslog configuration management from the web and task subsystems.

### Why

We are attempting to decouple the link between web container and task container within AWX. Decoupling the link between web and task containers will enable us to deploy and scale components

[2022-11-11 08:36] jadsy2107 commented on #11847
Having the same issue

[2022-11-11 08:36] jadsy2107 commented on #11847
Did you find a result ? Cant find anything on Google :O

[2022-11-11 08:55] azrdev commented on #8798
I'd suggest to simply use the notification template for successful jobs for testing purposes.

[2022-11-11 13:10] jay-steurer commented on #13131
Issue fixed. PR merged. Closing it.

[2022-11-11 13:10] #13131 closed, assigned to jay-steurer

[2022-11-11 16:12] anxstj commented on #13152
@jbradberry

here we go:

[code]

[code]

[code]

[2022-11-11 18:10] thedoubl3j opened #13186 "Deprecate tower_* and other modules inside of AWX collection"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

A f

[2022-11-11 19:14] jbradberry commented on #13152
@anxstj yep, every single one of those job events is orphaned, the jobs corresponding to them do not exist any more.  I'd recommend just deleting everything from the `_unpartitioned*` tables manually.

It's less clear why the cleanup_jobs task failed so badly, but we'll look into it.

[2022-11-11 19:19] jbradberry commented on #13152
TODO:

- [ ] adjust cleanup_jobs to remove events (particularly from the unpartitioned tables) without necessarily having to tie them to an existing job

[2022-11-11 22:54] keithjgrant opened #13189 "Job traceback breaks job output"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

If

[2022-11-14 05:39] sai002707 commented on #6213
Greetings mvrk69,

Am new to AWX and deployed using kubernetes, Please assist me.
Can you please mention path or folder-files in which we should add lines mentioned by you.

Thank you.

[2022-11-14 14:18] relrod opened #13191 "Tracking: Image build changes for rsyslog decoupling"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-14 14:21] relrod opened #13192 "Tracking: AWX code changes for rsyslog decoupling"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-15 07:53] omgololo commented on #12506
+1 here
Error definitely depends on the stdout's size - we are unable to open a specific message inside a very large stdout (thousands of llines) with debug verbosity. A device is being configured with a set of wi-fi commands, all in one block
In stdout it is seen as:
changed: [10.193.xx.xx] => {
    "changed": true,
    "invocation": {"
......
.....
And when we click on such a message to open it

[2022-11-15 14:36] mabashian opened #13193 "Add exact name filter to related field advanced search"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-15 16:09] AlanCoding commented on #13130
Minor note: I've marked this with the current release so that someone will get to it in the "Needs Test" queue.

[2022-11-15 16:22] AlanCoding commented on #13060
Could we just un-pin this? Because the receptor image points to the quay devel tag. At least devel / devel will get eventual consistency, even if there would be some churn near a release.

https://github.com/ansible/awx/blob/721e19e1c84c9e870fbaf09462dd0fd964c833b0/requirements/requirements.in#L49

Also, I see this in "Needs Review" but can't find any patches linked.

[2022-11-15 16:29] AlanCoding commented on #13039
Is this done? should the issue be closed?

[2022-11-15 16:33] djyasin commented on #13039
@AlanCoding I finished adding the contributing guide which was what this ticket was created for. I do still have some new outstanding additions, but I thought I'd make specific tickets for those as we work on them.

Would it be preferrable to just leave this open until then? I wasn't sure about this one since it's more difficult to determine when this is truly considered done.

[2022-11-15 16:43] AlanCoding commented on #12645
We should triage what to do about this. My changes to the canceling mechanism have kind of blew the prior approach out of the water. We could still add logic to process SIGTERM signal in the transmit phase, just the same as done in the processing phase. However, if that still doesn't address some forms of hangs. From experimentation and reading, I found that the old hang on `ssh_key_data` in the a

[2022-11-15 16:45] AlanCoding commented on #12966
@AlexSCorey can this issue be closed now? Your PR addressed both the UI and the API.

[2022-11-15 16:48] djyasin commented on #13039
"How to Contribute" and the onboarding section of these docs updated. Will create separate issues for future changes.

[2022-11-15 16:48] #13039 closed, assigned to djyasin

[2022-11-15 16:51] shanemcd commented on #12922
This _might_ have been fixed with https://github.com/ansible/ansible-runner/pull/1161

[2022-11-15 16:52] shanemcd commented on #12343
This might have been fixed with https://github.com/ansible/ansible-runner/pull/1161

[2022-11-15 16:55] evindunn opened #13195 "Execution node fails to parse inventory"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I'm

[2022-11-15 18:25] AlanCoding commented on #11560
I can no longer reproduce this issue. I have some related tests, I suggest that those be merged and this issue be closed.

[2022-11-15 18:37] AlanCoding commented on #6807
I'm going to close this in favor of https://github.com/ansible/awx/issues/12981

@ffirg you have made some comments that trended towards:

We could entertain ideas of that sort, but it's particularly challenging if this is meant to go through the receptor mesh and, as a consequence of that, get built into the ansible-runner transmit/worker/process contract. I'd just like to get another issue for t

[2022-11-15 18:37] #6807 closed, assigned to nobody

[2022-11-15 20:11] ugurserhattoy commented on #12241
Did you find any fix?
I tried adding these annotations to deployment yaml. Didn't work.
![image](https://user-images.githubusercontent.com/54373170/202015853-0a5b330f-7f49-44f5-9ab7-1cf76e5b7812.png)

[2022-11-15 20:30] fosterseth commented on #12685
This sounds like either the timeout issue or log rotation issue we are hoping to address with this PR https://github.com/ansible/receptor/pull/683

@AdityaVishwekar you can change the log rotation size with the docker config, see my comment here on how I did it with minikube, but other k8s clusters might be slightly different

https://github.com/ansible/awx/issues/12644#issuecomment-1256843038

[2022-11-15 20:37] akus062381 commented on #12768
Hi @JERUSO,
Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication methods

[2022-11-15 20:37] #12768 closed, assigned to nobody

[2022-11-15 20:38] adpavlov commented on #12241
Check related commit. For me it solved the issue

[2022-11-15 20:49] fosterseth commented on #12881
closing issue, as it seems to be solved in latest versions of awx.

[2022-11-15 20:49] #12881 closed, assigned to nobody

[2022-11-15 20:51] #12938 closed, assigned to nobody

[2022-11-15 20:52] akus062381 commented on #12958
Hi @PaulVerhoeven1,

Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communicatio

[2022-11-15 20:52] #12958 closed, assigned to sarabrajsingh

[2022-11-15 20:53] akus062381 commented on #12990
Hi @mihai-satmarean,
Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communicatio

[2022-11-15 20:53] #12990 closed, assigned to nobody

[2022-11-15 21:00] #13014 closed, assigned to nobody

[2022-11-15 21:26] kialam commented on #12506
@anxstj et al this may be resolved with this PR (https://github.com/ansible/awx/pull/13148). I am happy to re-open if someone can confirm that this is still an issue with the latest `devel`.

[2022-11-15 21:26] tvo318 commented on #11822
Docs work tracked via https://github.com/ansible/product-docs/issues/1727

[2022-11-15 21:30] djyasin commented on #12746
Hi @sfhl! We'd like to gather a bit more information from you.
In your UI, under "Execution Environments" you should see a field titled "Pull" with a drop-down menu. Is  "Always pull container before running" selected? If so, it may be causing the delay you are experiencing. That is because it will have to download the image every time.  We also wanted to inquire regarding the size of the project

[2022-11-15 21:31] fosterseth commented on #12664
at /api/v2/users, what does the `external_account` field say for both `VENKATajhdueijdbbxbdh` and `VENKAT` users?

[2022-11-16 06:26] mgorny commented on #12938
Thank you!

[2022-11-16 12:46] rbertol commented on #7560
Hey @icdatev, are you able to get a workaround for this issue? If yes, can you please share it with us?

[2022-11-16 13:08] lbr38 commented on #12297
I resolved my problem by increasing pod's max log size.

Edit kubelet config:

[code]

Add or edit **containerLogMaxSize** param and choose a new value (default is 10Mi):

[code]

Restart kubelet to take into account:

[code]

All failed jobs now work again.

[2022-11-16 13:48] rudesome commented on #12443
We are experience the same issue after upgrading from 21.0 to 21.8

[code]

[2022-11-16 14:39] AlexSCorey opened #13202 "Failed Form Validation Should Ensure Field is in View"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Som

[2022-11-16 14:51] rudesome commented on #12443
What i think is causing this issue is:

![alt text](https://i.imgur.com/pmJ5Q2q.png)

as soon as this pop ups all the clicks for showing detailed output in the job is giving the error.

I don't have the issue after clicking "Reload output" in the popup.
Why not reload the output automatically?

 i have this issue also while jobs are still running

[2022-11-16 17:47] ryanpetrello commented on #2830
Hey @RylandDeGregory @vandanaredhat, I'm no longer an active contributor to AWX - @shanemcd @AlanCoding may be able to provide some context/assistance.

[2022-11-16 18:16] djyasin commented on #13195
Hi @evindunn
We would like to gather a bit more information from you. Please get back to us with the following information:

How did you set up the execution node?

In your extra_settings, could you try setting `AWX_CLEANUP_PATHS = False` and then rerun that job.

Check the file permission on the execution node and the controller_node as well.

[2022-11-16 18:53] #13085 closed, assigned to nobody

[2022-11-16 18:53] djyasin commented on #13085
Closing per Alan.

[2022-11-16 18:57] kialam commented on #13079
@bitsky6 thanks for reporting this. The bug should be fixed by https://github.com/ansible/awx/pull/13148.

[2022-11-16 18:57] #13079 closed, assigned to nobody

[2022-11-16 19:03] djyasin commented on #13076
Hello @CWollinger at this time German translations are not supported. If you are an AAP user please contact your sales representative regarding this feature request.

[2022-11-16 19:07] shanemcd commented on #13076
Even though it's not yet supported this is a completely valid request. This can stay open until we do this (no ETA).

[2022-11-16 19:12] evindunn commented on #13195
@djyasin I added the execution node by ip in the web ui
![Screen Shot 2022-11-16 at 12 09 09 PM](https://user-images.githubusercontent.com/19595733/202271510-915dc65a-0718-4296-a997-e3de9a367d75.png)

Then downloaded the "Install Bundle" playbook & ran it against the host

![Screen Shot 2022-11-16 at 12 09 36 PM](https://user-images.githubusercontent.com/19595733/202271577-e3e3d9b1-3ebb-4025-ad17-

[2022-11-16 19:25] evindunn commented on #13195
Looks like the same result after adding `AWX_CLEANUP_PATHS`

[code]

[code]

Run job template:

![Screen Shot 2022-11-16 at 12 23 55 PM](https://user-images.githubusercontent.com/19595733/202274842-1bea8b8a-49d4-4a87-9d14-0c63399527a5.png)

Inventory sync on the controller works just fine btw

[2022-11-16 19:33] evindunn commented on #13195
Looks like the same result after adding `AWX_CLEANUP_PATHS`

[code]

[code]

[code]

Run job result:

![Screen Shot 2022-11-16 at 12 33 15 PM](https://user-images.githubusercontent.com/19595733/202276715-28889645-4e83-49e6-b399-58265a0abbdf.png)

Inventory sync on the controller works just fine btw

[2022-11-16 20:41] john-westcott-iv opened #13204 "Auto-pull libary source and licenses"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-11-16 22:47] rooftopcellist commented on #11805
I think this issue and the following issue are talking about the same bug:
* https://github.com/ansible/awx-operator/issues/622

@TheRealHaoLiu left a comment that may be of interest to those on this thread:
* https://github.com/ansible/awx-operator/issues/622#issuecomment-1317731544

[2022-11-17 01:05] shanemcd commented on #13204
This seems like it would be very error-prone. We'd need different code paths for the various packaging mechanisms (setup.py / pyproject.toml / setup.cfg). 🐉 🐉 🐉  Maybe a better approach would be to use the PyPi API:

[code]

I don't think we'd want to remove that test. The automation you're proposing here might break at some point in the future, someone might forget to check those files in, or som

[2022-11-17 06:26] Audrius13 opened #13205 "Custom awx operator images in helm chart"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-17 07:56] Audrius13 commented on #13205
wrong project

[2022-11-17 07:57] icdatev commented on #7560
@rbertol Our "workaround" is a automation, which recognizes the error and restarts the rsyslogd. That works good, the need of this is of course unsatisfying. The real problem is how rsyslogd reacts to 4xx errors. See also https://github.com/rsyslog/rsyslog/issues/4348#issuecomment-1011456060. On Red Hat 8 it is now fixed. Don't know about other distros.

[2022-11-17 08:29] avalou opened #13206 "awx-manage inventory_import does not handle overwrite option"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

_No

[2022-11-17 09:39] chen1i commented on #12266
adding -traditional is no use , I am deploying on Ubuntu 22.04
[code]

[2022-11-17 13:19] jay-steurer commented on #12981
Feature implemented. Closing it.

[2022-11-17 13:19] #12981 closed, assigned to AlanCoding, jay-steurer

[2022-11-17 13:24] DE110283 opened #13207 "Source Control Branch as drop down list"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-11-17 13:53] relrod commented on #13205
I see you've re-filed this in awx-operator. Closing this out :)

[2022-11-17 13:53] #13205 closed, assigned to nobody

[2022-11-17 14:06] mumohamm commented on #13195
I am also getting similar error. Execution node status is ready and jobs fail parsing inventory:

`Identity added: /runner/artifacts/26/ssh_key_data
[WARNING]:  * Failed to parse /runner/inventory/hosts with script plugin:
problem running /runner/inventory/hosts --list ([Errno 13] Permission denied:
'/runner/inventory/hosts')
[WARNING]:  * Failed to parse /runner/inventory/hosts with yaml plugin:

[2022-11-17 14:25] relrod commented on #13195
Hi - can you `tail -f` the audit log (`/var/log/audit/audit.log`) and see if there are any selinux denials that show up there if you try to launch a job? (Or if you're able, perhaps temporarily `setenforce 0` and see if the job is successful.)

I assume there is nothing fancy about the host system, like a mount with `noexec` set?

[2022-11-17 14:54] thedoubl3j commented on #13186
This will require the symlinks to be removed so this will not only be a deprecation but also the removal. however, the redirects in the plugin_routing still work so users will not experience any change aside from the warning message saying to move to the new module name.

[2022-11-17 15:13] #12966 closed, assigned to AlexSCorey

[2022-11-17 15:15] #12536 closed, assigned to TheRealHaoLiu, djyasin

[2022-11-17 15:15] #12481 closed, assigned to TheRealHaoLiu, djyasin

[2022-11-17 15:27] AlanCoding commented on #12932
I've said I'm going to write a test for this in the PR 12944, so assigning myself. That should cover this, and I will take it out of draft when that is ready.

[2022-11-17 15:41] john-westcott-iv commented on #13204
In `docs/license` we put the full license file in, not just the license type; I could be wrong but I don't think pypi provides that (it would be cool if it did so we didn't have to try and scrape from the tarballs). We can do some testing but I think the convention is to package the license into a `LICENSE` file in the tarball. There are def some exceptions as I've seen `LICENSE.rst` and there mig

[2022-11-17 16:11] #12576 closed, assigned to keithjgrant

[2022-11-17 16:54] evindunn commented on #13195
@relrod it's not selinux, but `/tmp` is mounted noexec and looks like receptor/podman/awx user are creating files in there

[code]

I'm guessing that's where the inventory script ends up being written & mounted into podman? Added this to awx's config but no luck yet

[code]

[2022-11-17 17:10] evindunn commented on #13195
Also tried

[code]

[code]

[code]

[code]

But no luck. Looks like `/tmp` is definitely where the ansible data is getting written though

[code]

[2022-11-17 18:47] relrod commented on #13195
@evindunn thanks so much for the info, it's super helpful. I'll try to get a repro and track this down.

[2022-11-18 12:30] azrdev commented on #10243
Can we rephrase this issue to sth like "awx collection requires right to create oauth2 token" ?

[2022-11-18 15:13] unbreakabl3 commented on #12075
I will vote for that feature as well. just got stuck with that now :(

[2022-11-18 15:35] #12824 closed, assigned to AlexSCorey, akus062381

[2022-11-18 15:59] sobedrinker42 commented on #5780
You can also use tower api to achieve the same thing that @hari-hud suggests

[code]

[2022-11-18 16:42] isuftin opened #13212 "awx workflow_job_templates modify unable to save extra vars as YAML"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

I'm

[2022-11-18 19:08] AlanCoding commented on #11943
I see some overlap with https://github.com/ansible/awx/issues/2941, in particular

I'm open to discussing solutions where the framing is that workflow (or other feature) _parameterization_ is insufficient for the purpose. Right now, I'm also very interested in re-working the design of smart inventory and sliced job features to be something more flexible, general, and coherent.

#### Sliced Jobs

W

[2022-11-18 19:34] mabashian commented on #12438
I'd personally swap "nodes" for "hosts" just to be consistent with the AWX language but that makes a lot of sense @AndreasDavour thanks for the suggestion.  This _should_ be a small code change so I've marked it as a `good first issue` if someone is looking to make a contribution.

[2022-11-18 19:41] mabashian commented on #12398
We should be able to close this once https://github.com/ansible/awx/pull/13198 merges

[2022-11-18 19:50] mabashian commented on #12977
Correct me if i'm wrong @TheRealHaoLiu but it seems like this would require api changes as well.  I'm going to add that label here as well.  Please remove it if that's not the case.

[2022-11-18 20:01] mabashian commented on #12571
Sync jobs launched in this fashion have always been filtered out of the jobs list: https://github.com/ansible/awx/blob/devel/awx/ui/src/components/JobList/JobList.js#L40

We could look at making changes to the interface that would allow a user to opt out of this filter if they wanted to see these types of sync jobs in the list.  I think for some users this would make the list extremely noisy so i'

[2022-11-18 20:38] thedoubl3j commented on #3988
The api work has been done but the UI work is still needed if I recall. removing my assignment

[2022-11-18 21:10] MallocArray opened #13216 "awx.awx.workflow_job_template parameter ask_tags_on_launch doesn't work"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

In

[2022-11-18 21:39] #12398 closed, assigned to nobody

[2022-11-19 18:11] AndreasDavour commented on #12438
Yeah, that swap makes a lot of sense!

[2022-11-20 10:19] mani3887 commented on #13155
Hi Folks,

Thanks for the AWX office hours. I went through the recording and other videos listed in Ansible AWX community. The videos were helpful in giving clarity of some of the designs followed in AWX. We are running AWX version 21.4 in AKS cluster. At our application we observe a below issue:
1. When AWX control pod restarts, it seems like it abandons the previous control pod's AWX EE pods, i.

[2022-11-20 17:33] teksupsm commented on #12316
I am unable to get ldap or ldaps working.  On the awx-web I can see that I have the certs present but still get the django certificate error.  If someone on this thread has it working could you please give me some insight into how to add this web_extra_env variable?  I am not clear on which yaml to modify.

[2022-11-20 22:31] rsindar opened #13217 "AWX doesn't send some email notifications"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

We

[2022-11-21 01:59] TechBrain64 commented on #6647
@MrBones757

Sir, why was the issue closed without any response to @TheUltimateAbsol inquiry? Here I am a year later very frustrated trying to get AWX authenticating with active directory domain accounts; which requires the configuration of /etc/krb5.conf file(s). But I'm unable to do so as no-one has clearly stated which pod/container requires editing; nor how to edit with root privileges.

[2022-11-21 05:12] sfhl commented on #12746
Hi @djyasin ,
There are two execution environments, `AWX EE (latest)` and `Control Plane Execution Environment`. For both of them `Missing` is displayed.
What exactly do you mean by `size of the project itself`?

[2022-11-21 05:53] SomiRavi commented on #857
If the volumes are already mounted, then simply restart the awx_web container to fix the SCM issue in the Web UI. Thanks @jmaric and @hkassaoui  for the hints.

[2022-11-21 11:41] oyerpes opened #13218 "Job Template Callback empty matching hosts"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [x] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Aft

[2022-11-21 12:51] ng-bsy commented on #5926
@wenottingham

Knowing all the internals and specifics of AWX...  could you specify, how we would do that exactly?
Did I overlook it in the documentation?
Surely it has been documented, as it's obviously not working in compliance with Ansible.
Thanks in advance.

[2022-11-21 14:01] azrdev opened #13219 "Survey API: allow putting/patching individual questions"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-21 14:07] azrdev commented on #12571
1. this would never add more than one extra sync job, correct? I would not consider that too noisy compared to the uselessness of sync jobs in general (if nothing is broken) which can be simply filtered away by looking only at job_type=playbook run
2. the real fix here would be to get rid of the sync job with the default branch, or is there a reason it's needed for?

[2022-11-21 14:17] bartowl commented on #12571
I would way if you can display details of both kind of sync jobs via proper URL they should show up in the list. I agree for a filter of job typoe - sync job vs playbook vs worhflow etc, but not having a way to list a job that may fail is a bit problematic. I mean for those who know it is not a problem to construct URL, but this is a bit messy... For me you can set also default filter to hide thos

[2022-11-21 17:52] #12782 closed, assigned to nobody

[2022-11-21 18:07] jay-steurer commented on #11560
Testing PR has been merged. Closing this now.

[2022-11-21 18:07] #11560 closed, assigned to jay-steurer

[2022-11-22 08:21] azrdev commented on #12883
Using branch override leads to two sync jobs being created, one with the default scm branch and a (hidden in the GUI) one with the override: https://github.com/ansible/awx/issues/12571

[2022-11-22 09:33] danielmorillas commented on #9926
Hey,

I've been experimented this issue too.
I could not find how to resolve the root issue but I found a partial solution that could help you for dev environments.
I updated the variable postgres_data_path to '/var/lib/postgresql/data/pgdata2'.

I first tried deleting the cluster but the issue continues. Did anyone find a better solution?

[2022-11-22 10:02] azrdev opened #13223 "JT cannot select playbooks missing in main branch when using branch overrides"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Whe

[2022-11-22 10:29] Ghost0shell opened #13224 "K8S / MAIN / RECEPTOR : Task killed trying opening receptor.conf in W mode"
##### ISSUE TYPE

Bug, Docs Fix or other nominal change

##### COMPONENT NAME
Backend

##### SUMMARY

In a kubernetes context , awx is trying to open the receptor conf file in write mode, which is in readonly mode due to infrastructure type.

##### ENVIRONMENT
* AWX version: 21.8.0
* AWX install method: operator
* AWX deployment target: kubernetes

##### STEPS TO REPRODUCE

upgrade to awx 21.8 or

[2022-11-22 14:55] gymzang commented on #9926
Hi guys.
I comment because people keep asking me how to solve it.
I just downgraded the version to 17.1.0. And I've been using it for a year without issues.

https://github.com/ansible/awx/releases
Of course, the current latest version is 21.9.0.
I see bug fixes and functional upgrades, However, it is being used well in 17.1.0 without any problems or functions.
Regards,

[2022-11-22 15:05] Ghost0shell commented on #13224
Answering myself :

i just understood the sense the new function : this one is mounting a new receptor file before starting to work. The problem is located on awx-operator who mount a receptor.conf configmap .

[2022-11-22 17:21] mateuszdrab commented on #12829
Just stumbled upon the issue with my relatively simple AWX deployment.
After getting some encrypted `group_vars` in place to deduplicate usage of some variables across my playbooks, I realized my inventory fails to update.
In my case, I'd rather not have the variables read into the groups, I want them to be read at runtime and that's why they're in a `group_vars` directory and not in the `hosts` f

[2022-11-22 20:58] etfeet opened #13226 "oidc soical login does not support group mapping"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

oid

[2022-11-23 08:39] barzog commented on #11943
As for me - looks great. Regarding smart inventory - we use that only for simplest job templates, because smart invs does not support group_vars (and groups from main inventory as well) as per issue: https://github.com/ansible/awx/issues/1999. If the proposed solutions will cover following workflow:
JT run with Smart Inv as host source (i.e. run job on all Ubuntu hosts) and when some of that hosts

[2022-11-23 10:12] Sergiodcm00 opened #13227 "AWX inventory not support vault strings"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Its

[2022-11-23 14:54] shaulbehr commented on #6535
I'm experiencing this bug in Tower 3.8.5.
Workaround: go to your project settings and change the branch, save, then revert and save again. This apparently makes some internals wake up and go get the latest version.

[2022-11-23 16:11] mooky31 commented on #12443
Same error here in 21.7

[2022-11-23 16:12] fosterseth commented on #13224
@Ghost0shell what version of awx operator are you using? you will need to be on 0.29.0 at least, if using >= 21.8 AWX

[2022-11-23 16:19] fosterseth commented on #13223
this was addressed with this PR https://github.com/ansible/awx/pull/13050

allows you to type in whatever playbook name you want in the playbook field on the job template

having to type in the name is a bit of a workaround, but at least you won't have to patch the API endpoint after creating the JT.

Please upgrade to AWX 21.9.0 and try out this change

[2022-11-23 16:31] keithjgrant commented on #12443
This sounds like it might be a duplicate of #13147, which just had a fix added in the last release. Does this still occur in 21.9?

[2022-11-23 16:33] fosterseth commented on #13216
needs investigation from a developer

[2022-11-23 16:37] fosterseth commented on #13212
|  they seem to come out as only JSON in the awx output.

Not sure what you mean by this, can you please provide a screenshot of this? thank you!

[2022-11-23 16:42] fosterseth commented on #13206
@avalou can you copy and paste your `/tmp/hosts` file? (redact any sensitive IPs)

[2022-11-23 17:19] fosterseth commented on #13161
|  job would fail randomly after executing for 1.5 hours or so

this sounds like log rotation issue -- this could be mitigated by increasing the max container log size in your k8s configuration, see this comment on how I did it on minikube and you can follow a similar solution

https://github.com/ansible/awx/issues/12644#issuecomment-1256843038

this also should be addressed with https://github.co

[2022-11-23 17:20] fosterseth commented on #13217
@rsindar do you have any timeouts set on the notification template?

do the emails eventually send, up to 30 minutes after the job is completed? Or just never send at all?

[2022-11-23 17:33] rsindar commented on #13217
No, there is no timeout set on the notification template.
I receive an email from this template if I use limit (3-5 hosts). And I dont't receive any emails if I do not use limit.

[2022-11-24 04:37] SigntriggerLabs commented on #13161
Hi @fosterseth Thank you for suggestion. However, I did more investigation and found the log rotation actually wasn't the roadblock for AWX job - but it's still the 5 minutes timeout somewhere (per earlier comments, Konnectivity module in AKS - which I'm still trying to find workaround for).
I used multiple methods to replicate the timeout issue and to see whether log rotation also was an issue:
1

[2022-11-24 08:16] azrdev opened #13228 "RFE: GUI for debugging failing notifications / output log"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-24 13:12] #13017 closed, assigned to AlanCoding

[2022-11-24 14:08] thg-adamdean commented on #12238
Did you guys get anywhere with this, @Moumoutaru , @GR360RY ?

We're hitting similar issues with an attempted automated deployment.

[2022-11-24 14:13] azrdev opened #13229 "AWX does not check SSH host keys"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Sin

[2022-11-24 14:47] stanislav-zaprudskiy commented on #12683
I observe the same behavior with AWX `21.7.0` using external PostgreSQL. In my case it happens when there is an interruption in PostgreSQL availability. But not every interruption results into such failure. The PostgreSQL is operated by https://github.com/zalando/postgres-operator, and simple `patronictl failover` is handled by AWX well, while a more complicated rolling restart of all DB servers d

[2022-11-24 15:04] SigntriggerLabs opened #13230 "Upgraded from 21.2 to 21.6 - getting following error in one of the management jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Don

[2022-11-24 16:47] mooky31 opened #13231 "awx.awx.group : preserve_existing_children doesn't work, only its alias preserve_existing_groups"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

awx

[2022-11-24 20:28] kurokobo commented on #13161
@deep7861
The fundamental solution is to wait for https://github.com/ansible/receptor/pull/683 to be merged and be available on awx-ee.
As a dirty hack for a short term workaround, but modifying `entrypoint` to force to echo logs periodicaly from EE (see https://github.com/ansible/awx/issues/12530#issuecomment-1192616101) seems to work.

[2022-11-25 04:39] BlassArun opened #13232 "Print inventory host details and play recap on notification mail"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-11-25 08:31] HOSTED-POWER commented on #9607
How can we delete group right now trough api? We try but don't seem to succeed.

[2022-11-25 13:01] VladoPortos commented on #8577
2 years later still the same issue :D I don't think we are getting this check box guys...

[2022-11-25 14:15] ChristianPicot commented on #10252
Hi guys! Have anybody been successful within this issue? It seems that @vrubiolo Rancher solution is not suitable because it aims Rancher to use it for the containers layer. I mean make Rancher deploy services and applications pulling from that registry. By the other hand this issue is an upper layer one. We need AWX in the application layer to trust this registry. The obvious solution would be ad

[2022-11-25 15:06] r0b1ndot opened #13233 "awx-cli bulk delete jobs"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-25 15:41] sshedmake commented on #3828
Added @Spredzy here

[2022-11-25 19:09] federico-manuel-trasande-kyndryl commented on #10252
I made it work for a TOWER deployment on OCP, using execution environment images from a private registry with self signed certs, I guess all I had to do was add the registry to the OCP's insecure registry list on the cluster configuration, so I guess that for K8 or K3 there is a manual way to do it. I may be wrong, because I did it a long time ago and can't remember for sure.

[2022-11-27 04:36] bmorris53 commented on #13232
I'd love this.  job_metadata is too much most of the time for an email notification and host_status_counts isn't enough information if I want to know which hosts failed a job.  Being able to just get the PLAY RECAP in an email notification would be amazing.  If someone already knows how to do this through the AWX notification structure, I am all ears.

[2022-11-28 04:59] sshedmake commented on #6858
Added @Spredzy here

[2022-11-28 05:00] sshedmake commented on #6799
Added @Spredzy here

[2022-11-28 13:21] janorn opened #13234 "AWX receptor issue with verifysignature."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Try

[2022-11-28 13:40] janorn commented on #13234
This is group_vars/all.yml from the node bundle:
[code]

[2022-11-28 15:10] davidgleiss opened #13235 "Ansible-Builder fails cause of awx.awx pip requirements"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

Bui

[2022-11-28 15:15] shanemcd commented on #13235
Hmmm. it looks like the most recent builds of awx-ee are working: https://github.com/ansible/awx-ee/actions/workflows/build-latest.yml. Do you have a reproducer? Please upload your ee definition and/or build context.

[2022-11-28 15:26] shanemcd commented on #13232
Related: https://github.com/ansible/awx/issues/12524

[2022-11-28 15:33] shanemcd commented on #13230
Does this still happen on the latest version (21.9.0)?

[2022-11-28 15:33] kovacs-andras commented on #12267
With GitLab the token equals to the password and use one of the following usernames:
- oauth2
- gitlab-ci-token

But I would consider to use a deploy token which can have a custom username too.
https://docs.gitlab.com/ee/user/project/deploy_tokens/index.html

[2022-11-28 16:35] AlanCoding commented on #13227
To be sure we understand the issue and categorize it correctly, do you mean that you are in the UI, in the host edit screen? In what way does it return that error? It is red text next to the field?

Has this ever worked for you before?

Yes, you have to change the vars format to JSON from YAML. There should be documentation in Ansible about this. This uses special keys in a sub-dictionary (as oppo

[2022-11-28 19:35] AlexSCorey opened #13237 "Add support for RRule string to be entered in schedule form in UI."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

Ne

[2022-11-28 19:43] AlexSCorey opened #13239 "RRule field exrule has been deprecated"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

The

[2022-11-28 20:41] john-westcott-iv opened #13240 "AWX Office Hours Agenda - Dec 13 2022"
# AWX Office Hours

## Proposed agenda based on topics
* Welcome @john-westcott-iv
* Gundalow monolog - Quick overview AAP moving to a central (shared) UI component. @gundalow
* Discussion: Helm development for AWX-Operator @miles-w-3
* Discussion: Solution for injecting complex extra vars @philipsd6
* Update: Add retry mechanism to handle intermittent connection issues with Kubernetes logging str

[2022-11-28 20:43] TheRealHaoLiu commented on #13240
## Add retry mechanism to handle intermittent connection issues with Kubernetes logging stream
https://github.com/ansible/receptor/pull/683

[2022-11-28 20:47] thedoubl3j opened #13241 ""make black" target doesn't actually fix something"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

the

[2022-11-28 20:47] TheRealHaoLiu commented on #13240
## Proposal: Decouple Rsyslog from web and task subsystem
https://github.com/ansible/awx/issues/13183

[2022-11-28 21:07] TheRealHaoLiu opened #13242 "AWX YouTube Channel Content Request"
With the recent creation of the AWX YouTube Channel https://www.youtube.com/@ansible-awx

We are looking for feedback on what kind of videos the community would like to see.

Create a comment to suggest the video and topics that you would like to see and 👍 if anything interest you.

If you would like to help us create content and receive a angry spuds plushy please contact us on Matrix: [#awx:ansi

[2022-11-28 21:08] TheRealHaoLiu commented on #13242
## Extending AWX with Container Group
What to use Container Group and how to use it

[2022-11-28 21:09] TheRealHaoLiu commented on #13240
## Call to action: AWX YouTube Channel Content Request
https://github.com/ansible/awx/issues/13242

[2022-11-28 21:15] TheRealHaoLiu commented on #13242
## Journey of a job through AWX
how does a job gets run through AWX from the button click to completion

[2022-11-28 21:16] relrod commented on #13242
## websockets infrastructure

How does AWX make use of websockets, and how will it do so going forward?

[2022-11-28 21:17] relrod commented on #13242
## project directory signing

Recent AWX introduced project directory signing with GPG and `ansible-sign` -- how do these work?

[2022-11-28 21:19] relrod commented on #13242
## awx collection (and maybe awxkit)

How does it work internally?

[2022-11-28 21:21] TheRealHaoLiu commented on #13242
## How to setup AWX development environment on Kubernetes
deploy and use AWX development environment on Kubernetes

[2022-11-28 21:21] rooftopcellist commented on #13242
## Basic Deployment and Configuration of AWX with AWX Operator

It might be useful for new users to have a basic deployment video that shows starting minikube or k8s, deploying the AAP Operator, and deploying AWX (with some custom configuration).

[2022-11-28 21:24] TheRealHaoLiu commented on #13242
## Automate against AWX with AWX collection and awxkit

[2022-11-28 22:14] ffirg commented on #13242
### How to install and run AWX on microshift

[2022-11-28 22:41] relrod commented on #13242
## "Weird" AWX usecases

I'd like to see some interesting/non-conventional ways people are using AWX to do cool things :) If we get a few, these could probably be a little series/playlist.

[2022-11-28 22:42] relrod commented on #13242
## UI tour behind the scenes

How is the UI put together? What would a new contributor need to know to hack on it?

[2022-11-28 22:48] relrod commented on #13241
I think this is because the pre-commit check runs `black` on against all changed files, without respect to files that `black` is told to ignore:

https://github.com/ansible/awx/blob/fcdff8bdfb6b041cde04c35453a57b843cfd290f/pre-commit.sh#L2-L9

And then we configure `black` to ignore `awx_collection`:

https://github.com/ansible/awx/blob/fcdff8bdfb6b041cde04c35453a57b843cfd290f/pyproject.toml#L5

[2022-11-28 23:18] Wobak commented on #13242
Hi,

A few ideas that come to mind:
- Creating custom EE for awx using ansible-builder with collections and/or roles
- Setting up A to Z project / template / inventory + source to do a "hello world" on localhost, but which shows the mechanics
- Scheduling jobs : what do they do, how do we run them, etc.

For each of these, having example repos or branches would be a great thing for people to fork

[2022-11-28 23:30] tperrindell commented on #13242
e.g. we're using Dell modules to go green and shutdown our servers at night with iDRAC shutdown, if that's something you consider "weird" :)

[2022-11-29 01:41] DLV1810 commented on #10341
Having just hit this issue myself, why can't the cleanup mgmt jobs look for this table and delete old records based on the retention time until its empty? - The logic should already be there from AAP 1.2 (Tower 3.8.6) just add task to the cleanup job and update the table names it references? eventually the table will have 0 records

2c isn't very desirable - as you're making the assumption everyon

[2022-11-29 07:45] davidgleiss commented on #13235
Nope, can't reproduce it anymore.

Sorry, I thought I figured it out.

[2022-11-29 07:45] #13235 closed, assigned to nobody

[2022-11-29 11:49] ecurti commented on #12530
@kurokobo thank you for your workaround. You saved me! :)

I can confirm that is working on AWX version 21.6.0 and AKS 1.23.12.

[2022-11-29 13:04] Cl0udius commented on #12999
Hi,

we also ran into this issue lately. If there is high pressure on the AWX instance, this can happen on a regular basis.
We expect our job count the rise in the future.
So it would be good to know if  https://github.com/ansible/awx/pull/13061 is the only way which will fix the issue or if there is some workaround here.
If there is just https://github.com/ansible/awx/pull/13061, the question whi

[2022-11-29 13:05] shanemcd commented on #4089
Related: https://github.com/ansible/awx/issues/2597

[2022-11-29 13:31] BlassArun commented on #13232
{{ failed.hosts }} is not working. Getting error **Failed to update notifier. Field 'failed' unavailable. **

[2022-11-29 14:07] sean-m-sullivan commented on #13242
@Wobak I will do this one, I am working on a Blog post and things around doing this
Creating custom EE for awx using ansible-builder with collections and/or roles

[2022-11-29 15:04] AlanCoding commented on #12999
No, I'm abandoning https://github.com/ansible/awx/pull/13061

We need a simple, targeted, fix. It's not a difficult fix, and I consider this medium/high priority.

[2022-11-29 15:37] john-westcott-iv opened #13244 "Upgrade lxml library"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

AWX

[2022-11-29 15:49] AlanCoding opened #13245 "Update docs for current task manager changes"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-29 19:00] AlanCoding commented on #2240
This is already reverse-linked, but I want to clearly link the Ansible core issue https://github.com/ansible/ansible/issues/73047, because my current testing shows that it _is_ a problem for this AWX issue in the original formulation of targeting the first host in a group, `docker[0]` given as the original example. Here is a scriptable reproducer for that issue:

https://github.com/AlanCoding/Ansi

[2022-11-29 20:22] djyasin opened #13248 "Update Internal Docs- Gcloud Environment Steps"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-29 20:25] djyasin opened #13249 "Update Internal Docs- YOLO Process"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Feature type

En

[2022-11-29 20:53] AlanCoding commented on #12829
In my last comment, I gave a [proposed solution](https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/vault/file_vars), which has a corresponding patch in Ansible core https://github.com/ansible/ansible/pull/78765

If Ansible core were to accept that patch (even in principal) then AWX could temporarily vendor the plugin and solve the problem... until all supported Ansible vers

[2022-11-29 21:00] AlanCoding commented on #2597
I would call this a duplicate of https://github.com/ansible/awx/issues/12829, but the confusion lies in the degree of aggressiveness of the solution.

 - disable all vault variables (prevents pass-through-to-job behavior) - this issue
 - disable processing of vars plugins (prevents loading _unencrypted_ variables in those files)
 - ignore vault decryption errors

Only the last option is something

[2022-11-29 21:17] AlanCoding commented on #13240
## Discussion: solution for smart inventory hostvars issue

https://github.com/ansible/awx/issues/371

https://github.com/ansible/awx/issues/1999

There are major technical reasons it's unlikely we'll fix both of those issues with updates to smart inventory. I am working on a proposal that we solve the problem via a new inventory type, https://github.com/ansible/awx/pull/13214, combined with a new

[2022-11-30 02:38] BlassArun commented on #12524
{{ failed.hosts }} is not working. Getting error **Failed to update notifier. Field 'failed' unavailable. **

[2022-11-30 08:58] oyerpes commented on #13218
No actual issue, missconfiguration from my side

[2022-11-30 08:58] #13218 closed, assigned to nobody

[2022-11-30 14:43] tanganellilore commented on #13234
@janorn I notice the sma behaviour.
I opened an issue on awx-operator repo (bug is on operator side, not AWX side)  and I propose a pull request to fix this issue:
[https://github.com/ansible/awx-operator/issues/1132](https://github.com/ansible/awx-operator/issues/1132)

@AlanCoding Can you help us to implement this on AWX-operator side?

Thanks

[2022-11-30 15:03] bcoca commented on #12829
I'm not sure the ask is matching the proposed solution, the ask is for avoiding all imports, the solution proposed only avoids vaulted imports.  For the former, its already been pointed out above that a solution exists, just use the env var to turn on/off the vars plugins as needed.

For the vault issue I still do not think the vars plugin is the correct place for this, but a global value to allow

[2022-11-30 16:06] AlanCoding commented on #12829
Turning off vars plugins will drop unrelated variables. That would work for _some_ users.

The user pain here is that they vault a _file_ in `group_vars/` or `host_vars/` and this makes imports unusable, because AWX does not provide vault secrets to `ansible-inventory`. There is a conflict of expectations because it otherwise passes through vault content like this:

[code]

That's independent of v

[2022-11-30 16:06] max-len opened #13251 "AWX CLI install doc not working"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I might not receive a timely response.

### Bug Summary

htt

[2022-11-30 17:55] bcoca commented on #12829
@AlanCoding I acknowledge there are several problems, but this ticket expresses one, you are solving another. I'm not saying all should not be solved. Speaking from a 'core' perspective, the ones expressed in this ticket (avoid importing vars plugin data) is already solvable via using the configuration.

The one you are expressing (deal with file vault errors on import)  can be solved in several w

[2022-11-30 18:29] djyasin commented on #13234
Hello,
Thank you for taking the time to bring this issue to our attention. We are actively investigating and will continue to post updates here.

[2022-11-30 18:51] djyasin commented on #13229
Hi @ffirg! Do you have any insight for a workaround for this instance?

[2022-11-30 20:43] ffirg commented on #13229
Perhaps have a centralised ~/ssh/known_hosts and use Job isolation paths to ensure this is mounted on every execution node?

From /etc/ssh/ssh_config  docs:
UserKnownHostsFile
Specifies a file to use for per-user known host key database instead of the default ~/.ssh/known_hosts

[2022-11-30 21:01] AlanCoding commented on #12829
It sounds like that would be the "perfect" solution, and may happen completely in core. I'm unclear if it can be done, so I haven't suggested it.

If you have a group "foo" with a "bar" variable with an encrypted value, then the JSON encoder builds the `...` dict if the data is `{"foo": {"vars": {"bar": ..., "other": "stuff"}}}`. But we're talking about top-level group variables that need to co-ex

[2022-11-30 21:42] bcoca commented on #12829
that option while possible, requires major updates to many subsystems.

[2022-11-30 21:49] stfnifllr commented on #12462
@jbradberry If this problem is an environmental issue, what should be changed in the environment to solve the problem?

[2022-11-30 21:52] cdelgehier commented on #12462
@stfnifllr  honestly i use operator on kube...this build never worked