[2021-03-11 18:32] akus062381 commented on #7595
Read what's listed and figure out if the current implementation is correct.

[2021-03-11 18:39] akus062381 commented on #4205
Make sure to test this on multiple pages, specifically, test on the following:
Dashboard default
Dashboard when there is a recurring job generating Websocket requests over and over. the session * should * keep restarting
Job Result Output page after a job is launched and completed- does timeout happen here?
Workflow Visualizer- it's a separate screen- does the session modal appear over this?
1 mod

[2021-03-11 19:19] unlikelyzero opened #9565 "[ui_next] Add testability to the schedules pages"
##### ISSUE TYPE
- Task

##### COMPONENT NAME
 - UI

##### SUMMARY
Add testability to the Schedules List and Schedules on Resource Lists

[2021-03-11 19:24] ryanpetrello commented on #9504
Yea, I think option #2 makes the most sense.  I don't know the full history of `awx-manage inventory_import` or how we've communicated its usage to customers (it **is** referenced as a supported thing in multiple locations in our docs), but I could see making an argument that this is an a-la-carte type of thing that people run by ssh'ing into a VM and manually doing it.

[2021-03-11 20:31] yagomarques commented on #9556
@jbradberry i did the same process, but this time i received other error.

[2021-03-11 20:32] yagomarques commented on #9556
@jbradberry i did the same steps, but this time i received other error.
[code]

I ran that directly on your branch(I build a machine pointing to its branch)

[2021-03-11 20:44] akus062381 opened #9567 "Session Timeout- Multiple Errors while Workflow Template is running active job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When session timeout modal appears while a Workflow Template is running a job- first time it appears, if user clicks continue, it continues. The second time it appears and user clicks continue, it looks like the job continues... and then all of a sudden, the user is logged out without a warning, and the screen that results is missing the box to enter u

[2021-03-11 20:49] akus062381 opened #9568 "[ui_next] Add testability to the Session Timeout modal"
TYPE
 - Task

SUMMARY
-Add testability to the Session timeout modal that pops up in the UI

[2021-03-11 21:16] akus062381 commented on #4205
Action items still needed to complete:

- Visual Test to cover this modal

- Network intercept to trigger this with a cy.clock

[2021-03-11 21:35] unlikelyzero commented on #9212
Might need to be a management job

[2021-03-11 23:14] jakemcdermott commented on #9567
This sounds like something was going very wrong w/ the backend. @akus062381 Can you try to reproduce this with a fresh install / refreshed dev instance?

[2021-03-12 00:27] akus062381 commented on #9567
@jakemcdermott I just "blew away" my local server and rebuilt everything. I was able to reproduce it.

[2021-03-12 00:46] one-t opened #9572 "Advanced search formatting in wizards"
When using an advanced filter in a wizard, the fields are shifted out of view with each option selected
![image](https://user-images.githubusercontent.com/28987580/110874406-885ea800-8288-11eb-9612-f234d5084561.png)
![image](https://user-images.githubusercontent.com/28987580/110874692-0fac1b80-8289-11eb-9fac-1e0291094c46.png)

Steps to reproduce:
1. Set a job template to prompt on launch for a res

[2021-03-12 00:54] branic opened #9573 "awx.awx.tower_job_template not limiting credential lookup to organization"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

It is possible to have two credentials with the same name in two different organizations. When a user has access to both organizations and uses the `awx.awx.tower_job_template` module to create a job template in one organization with the duplicated credential name the job template creation fails because two credentials are returned and only one is exp

[2021-03-12 02:31] #4476 closed, assigned to nobody

[2021-03-12 02:35] drmmarsunited commented on #7459
@Valien Did you happen to blog about this effort or write it up at all? I’m in the middle of research in an undertaking that fits this use case, and any pointers in the right direction would be phenomenal.

I’m 100% in favor of a generic configurable we hook within AWX/Tower, but until it’s there, I was thinking of the direct integration route, but haven’t ever gotten into customizing anything wit

[2021-03-12 03:14] Valien commented on #7459
@drmmarsunited  - Actually I have not. I changed jobs in February and no longer am working with Ansible and Jira, so something I don't have to worry about but still think that Tower would be great if it had generic webhook support for sure!

[2021-03-12 08:33] eschek87 opened #9574 "Ability to run job schedules only in time window"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

It would be nice to have the ability to run a job schedule only in a specific time window. Example:
Run job every hour, every day between 8 a.m. and 5 p.m. (and not outside that time window so that the first start is at 8 a.m. and the last job start at 5 p.m.)

[2021-03-12 13:22] thibveni commented on #9163
same issue here

[2021-03-12 16:55] one-t commented on #9572
duplicates https://github.com/ansible/awx/issues/7938

[2021-03-12 16:55] #9572 closed, assigned to nobody

[2021-03-12 17:17] blomquisg commented on #9321
If this problem still shows up, please reopen this issue.

[2021-03-12 17:17] #9321 closed, assigned to nobody

[2021-03-12 17:19] blomquisg commented on #9407
@tchellomello You wanna take a crack at this one?  https://github.com/ansible/awx/issues/9407#issuecomment-795981741

[2021-03-12 17:20] blomquisg commented on #9411
If you still have problems with this, please reopen this issue.

[2021-03-12 17:20] #9411 closed, assigned to nobody

[2021-03-12 17:54] jakemcdermott commented on #9545
:wave: This should be address in the next awx release.

(duplicate of https://github.com/ansible/awx/issues/9043, closing)

[2021-03-12 17:54] #9545 closed, assigned to nobody

[2021-03-12 18:16] blomquisg commented on #9573
@branic do you have a playbook that serves as a reproducer for this?

[2021-03-12 18:29] blomquisg commented on #9522
Dup of #9151

[2021-03-12 18:29] #9522 closed, assigned to nobody

[2021-03-12 18:55] jladdjr commented on #9547
Going to investigate ^, otherwise sounds like we can keep the migration in its current form

[2021-03-12 18:55] #9547 closed, assigned to jladdjr

[2021-03-12 19:09] yagomarques commented on #9556
I did the same steps after the new PR and **it's working!**
[code]
after, i did a get to check if the `execution_environments` was deleted.
get_result:
[code]

[2021-03-12 19:54] wenottingham commented on #9574
-> #1229

[2021-03-12 19:54] #9574 closed, assigned to nobody

[2021-03-12 20:13] kdelee commented on #7066
@rebeccahhh @shanemcd whats the status on this? I know at this point we can associate a credential with an EE, but I never got caught up on whether or not we are applying the credential to the actual container pull step

[2021-03-12 21:15] #9556 closed, assigned to yagomarques

[2021-03-13 02:16] jladdjr commented on #9547
`max(id)` => 34 seconds

[code]

`select id .. limit 1` => 3.5 minutes
[code]

[2021-03-13 02:19] jladdjr commented on #9547
`max(id)` => 17 seconds

[code]

`select id .. limit 1` => 6.6 seconds
[code]

[2021-03-13 02:21] jladdjr commented on #9547
So `select id .. limit 1` runs in about a third of the time as `max(id)`.

- [ ] Hopping off to help with kids, but will update the branch to use ^

[2021-03-15 00:51] markatdxb opened #9579 "Sign in credentials as extra vars"
##### ISSUE TYPE
 - Feature Idea
Use AWX sign in credentials as extra vars in playbooks

##### SUMMARY

I'm not sure if this is technically even possible but it would be great to have option to be able to use the user sign in credentials in playbooks. Basically I would login to AWX using my AD credentials and then those credentials could be used for delegation of some plays within the template

[2021-03-15 13:17] Spredzy commented on #9249
Closing because https://github.com/ansible/awx/pull/9302 has been closed.

[2021-03-15 13:17] #9249 closed, assigned to Spredzy

[2021-03-15 13:43] tiagodread opened #9582 "[ui_next] Add testability to the JT & WFJT form"
##### ISSUE TYPE
 - Task

##### SUMMARY
Add testability to the WFJT and JT forms, fields, buttons, modals

[2021-03-15 13:55] unlikelyzero commented on #5990
Note: please wait until translations before closing this issue

[2021-03-15 14:01] tiagodread commented on #8789
PR merged and tests in place.

[2021-03-15 14:01] #8789 closed, assigned to mabashian

[2021-03-15 14:01] nmajin opened #9583 "Global Configuration for Connection Variables"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Looking to manage groupings of variables in a global configuration that is managed by System Admins in Tower/AWX. For example, connection variables for Windows and Linux hosts, which currently are defined in every single playbook or every single inventory, duplicating the configuration of these variables.

A similar configuration for a shared configu

[2021-03-15 14:41] tiagodread commented on #7692
@AlexSCorey could you add ouiaID properties for testability before closing this issue? We can sync on it if you want

[2021-03-15 15:45] wenottingham commented on #9583
I don't think this is a correct pattern for doing this.
You end up in one of two scenarios:
- if the global settings cannot be overriden, a system administrator leaves the inventory admin no ability to "fix" their connection, which is changed by things that admin can't even see
- if the global settings *can* be overriden, the admin can't enforce anything here, and the benefit is lost

I don't thin

[2021-03-15 15:45] #9583 closed, assigned to nobody

[2021-03-15 15:47] ryanpetrello commented on #7066
`state:needs_devel` is accurate here (I don't think the work has started yet to hook the credential into the container pull step)

[2021-03-15 15:59] nmajin commented on #9583
I would say it really comes down to one scenario for my particular feature request where the global settings can be overridden; provide the flexibility like the extreme flexibility that is already in place with variable precedence today with ansible.

As a system admin, I would rather provide best practices and control the default configuration in one spot as opposed to rely on developers to do th

[2021-03-15 16:49] kevincoakley commented on #5214
I had this same issue when upgrading from 16.0.0 to 17.0.0.

My instructions in https://github.com/ansible/awx/issues/5214#issuecomment-577771419 also worked, I just had to change the version number from 9.6 & 10 to 10 & 12. I also had to copy the pg_hba.conf file from 10 to 12.

[2021-03-15 17:48] branic commented on #9573
@blomquisg here is a reproducer playbook.

[code]

[2021-03-15 17:56] jladdjr commented on #9260
@chrismeyersfsu is jumping in to help with awx partitioning. Reassigning. Let's catch up on all-things-partitioning whenever you have a sec.

[2021-03-15 18:20] AlexSCorey commented on #9455
perhaps @trahman73 can chime in here about how exactly to differentiate between the different team roles with the same name.  This can get complicated because a team can be assigned to a team, and the user could be given individual assignments on either team, as an example.  Other examples exist as well.

[2021-03-15 18:25] trahman73 commented on #9455
@AlexSCorey I think this came up before and we were possibly looking at adding more context when necessary via tooltip hover of the label.

[2021-03-15 18:27] branic commented on #9573
Although I haven't tested it I also suspect that this type of error would be generated if an inventory being added to the JT had the same name in two different organizations.

[2021-03-15 18:41] ghost commented on #7521
Having this same issue on AWX 17.1.0 - I just can't schedule a template that has a survey with required variables. The scheduler should let you specify the survey variables for that specific schedule.

[2021-03-15 18:53] spaldingd opened #9587 "AWX 18.0 - Admin user not created."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Whilst carrying out a fresh install as per the latest installation instructions (https://github.com/ansible/awx/blob/devel/INSTALL.md) it appears a super user account is not created.

##### ENVIRONMENT
* AWX version: 18.0
* AWX install method: Minikube & Operator (As per iinstallation instructions)
* Ansible version:  2.9.6
* Operating System: Ubuntu 2

[2021-03-15 19:18] ryanpetrello commented on #9587
Duplicate of https://github.com/ansible/awx/issues/9529, see: https://github.com/ansible/awx/issues/9529#issuecomment-794181490

[2021-03-15 19:18] #9587 closed, assigned to nobody

[2021-03-15 19:31] AlexSCorey commented on #9297
I believe this is an api bug because an options request to `/inventory_sources` does not return POST for a user that has inventory admin

[2021-03-15 21:15] wenottingham commented on #5034
This is not something we plan to do, for multiple reasons:
- annotating job events with this data would make processing events even slower, and make providing real-time storage more difficult. It's the most performance-sensitive part of the code, which is why we don't process that data heavily.
- for job_status, we'd look for more specific changes to activity stream, rather than creating a new log

[2021-03-15 21:15] #5034 closed, assigned to nobody

[2021-03-15 21:30] wenottingham commented on #9583
This speaks to why we'd be unlikely to do this. We are trying to minimize the reasons why playbooks may behave differently in AWX than outside of AWX (which is one of the motivators for our move to execution environments); having a free-form field that would apply to all jobs in this way works against this - the same playbook would behave differently based on where it's executed.

I know that AWX_

[2021-03-15 21:48] wenottingham commented on #9579
There's no connection that would allow for this, and it become unworkable once things such as scheduled jobs or workflows get in the mix.

[2021-03-15 21:48] #9579 closed, assigned to nobody

[2021-03-16 02:08] Im0 commented on #20
Enterprise / Tower user here who previously wished for this feature.

Use case:
- We wrote playbooks to upgrade network switches
- We wanted to maintain a list of approved switch images that could be used (in some form of a database or even behind an api)
- When triggering the job template / survey in tower, we wanted to present a list of approved images for the device type in question

[2021-03-16 05:09] dmatthewsbnd251 commented on #9552
Seeing the same on the latest devel:

![image](https://user-images.githubusercontent.com/1309594/111258864-2e494400-85f4-11eb-9502-2072ad38c7af.png)

[2021-03-16 06:56] #9413 closed, assigned to nobody

[2021-03-16 07:50] jainnikhil30 commented on #9342
@metabsd @sean-m-sullivan

I think this is expected behavior. You are probably looking to export the default Galaxy credential which gets created when you install awx/tower. Tower_export module will not export the "default" galaxy credential.

https://github.com/ansible/awx/blob/6aab88259a9b1812c0a32235f43b3d027b0437db/awxkit/awxkit/api/pages/api.py#L85

The default galaxy credential is "managed_b

[2021-03-16 10:08] AleksandrKls commented on #9552
@dmatthewsbnd251 what OS are you using?

[2021-03-16 12:50] AleksandrKls commented on #9552
@ryanpetrello Hello.Sorry to bother you, do you have any idea why this might be?

[2021-03-16 12:58] ryanpetrello commented on #9552
Nope - following the 17.1.0 instructions, I'm not seeing this on a fresh install.  I haven't tried on an Ubuntu machine, though (however, I'm not sure why that should matter).

[2021-03-16 13:21] kdelee commented on #8504
Docs have been updated, I believe that is the only resolution needed

[2021-03-16 13:21] #8504 closed, assigned to nobody

[2021-03-16 13:40] akus062381 commented on #7595
There is a Google doc where I have compiled everything, and specifies some issues discovered here.
This is in progress- will meet with Dev to determine which are bugs and which aren't, and file bug reports accordingly.

[2021-03-16 13:58] akus062381 commented on #2939
@unlikelyzero - I have taken care of this- see PR https://github.com/ansible/tower-qa/pull/6092

Closing this issue

[2021-03-16 13:58] #2939 closed, assigned to akus062381

[2021-03-16 14:30] AleksandrKls commented on #9552
I also installed on OS Debian 10 - the result is the same

[2021-03-16 14:31] #9087 closed, assigned to jakemcdermott

[2021-03-16 14:34] ghost commented on #9218
Still an issue in 17.1

[2021-03-16 14:45] nmajin commented on #9583
Thanks for the response, and I do understand to keep Ansible Engine and AWX/Tower in synch, that is a very valid point. I guess the `AWX_TASK_ENV` and the global configuration I noted that already exists in AWX/Tower is what continues to make me think that there should be something global for it. Is there anything in Ansible Engine globally (not on a project-by-project basis) such as ansible.cfg t

[2021-03-16 15:03] dmatthewsbnd251 commented on #9552
Centos 7.9 here

Sent from my iPhone

[2021-03-16 15:21] DiefBell opened #9591 "Can't Modify Settings Requiring Arrays using the CLI"
It seems that it is not possible to modify settings using the CLI if the setting is an array. If passing just a list of arguments it complains about extra arguments, but all forms of putting them into a list as a single argument lead to "invalid syntax" errors. Either this is a bug/missing functionality or the documentation needs updating to explain how to pass arrays to the CLI.

[2021-03-16 15:24] bendem commented on #106
Hitting this as well, we have a monorepo named `infra` in which we have a subfolder `ansible`. Previously, with svn, we could point an awx project to a subfolder of the repo, but we can't do the same with git. Would be neat if we could simply tell awx which subdirectory to use when creating a project.

[2021-03-16 15:26] DiefBell commented on #9591
By magically combining commas, backslashes and quotation marks I found the method:
`awx-cli setting modify AUTH_LDAP_GROU_SEARCH \"CN=dief,DC=bell,DC=com\",\"SCOPE_SUBTREE\",\"\(objectClass=group\)\"`

[2021-03-16 15:26] #9591 closed, assigned to nobody

[2021-03-16 15:50] #8905 closed, assigned to keithjgrant

[2021-03-16 15:58] ansiblejunky commented on #1794
I created a simple Ansible Role to change Ansible Tower into "dark mode". You can see screenshots and code on my Github repo [here](https://github.com/ansiblejunky/ansible_tower_dark_mode). I basically push a new CSS with overriding colors, styles, etc to produce the dark mode theme. Spent some time to try to get all of the screens and bips-and-bops worked out with the right colors. I am sure I mi

[2021-03-16 16:46] one-t opened #9592 "Unable to select non-global execution environments for organizations"
If you have an execution environment that has organizations assigned to it, you can't choose that EE from the UI when assigning EEs to an organization.

Steps to reproduce:
1. Create a new EE
  a. Use `quay.io/ansible/awx-ee` for the image
  b. assign it to an organzation
2. Navigate to that organization's page
3. Try to assign that new EE to the organization.

It won't show up in the list. I've v

[2021-03-16 18:09] akus062381 commented on #8669
Manually verified, testability verified, stubs added

[2021-03-16 18:09] #8669 closed, assigned to akus062381

[2021-03-16 18:49] wenottingham commented on #9583
I don't think so, but that is more a question for https://github.com/ansible/ansible, not AWX. I could see a feature in core Ansible where it sets certain defaults on the type of device connected to... the biggest question would be how it would know the device type to key this off of.

[2021-03-16 19:19] sean-m-sullivan commented on #9342
@jainnikhil30 we know it comes out under credentials as a credential, we were referring to Organizations,
it should show up here
[code]
and in credentials it would be:
[code]
Notice that org Foo_cred doesn't have foo galaxy under it.
however on page
https://localhost/api/v2/organizations/2/
[code]
is more of this on the output of tower export
[code]
 This last example compared to the first one I s

[2021-03-16 19:30] bdoublet91 opened #9594 "Task was marked as running in Tower but was not present in the job queue, so it has been marked as failed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Sometimes, I have some schedule jobs that failed on awx status job with no logs but the playbook ran on the server.
Here it's an update of the system like apt update && apt upgrade.

Sometimes the same schedules jobs succeeded with logs and all is ok

I get the following explanation
[code]

[code]

![image](https://user-images.githubusercontent.com/571

[2021-03-16 20:14] mabashian commented on #6519
Things that we should look at adding to the basic search dropdown:

Enabled

[2021-03-16 20:16] akus062381 commented on #7279
https://github.com/ansible/tower-qa/pull/6095

This PR addresses this issue.

[2021-03-16 20:16] #7279 closed, assigned to akus062381

[2021-03-16 20:17] mabashian commented on #6648
This will be addressed by https://github.com/ansible/awx/pull/9345

[2021-03-16 20:20] mabashian commented on #6707
OK lets take a look at the error response when we hit a 500.  If we can pull something useful out, lets show that.  If we cannot then lets not show the entire HTML blob and just indicate that the api responded with a 500.

[2021-03-16 20:24] mabashian commented on #6800
This string comes from this component: http://patternfly-react.surge.sh/components/pagination in the upstream PF repo.  I will open up an issue with them to see how we should proceed.

[2021-03-16 20:32] #7148 closed, assigned to nobody

[2021-03-16 20:34] mabashian commented on #7150
I think this is still valid.  We need to identify places where we allow the default PF `Next` text to be used and instead explicitly specify a next button text that we've marked for translation like we do here: https://github.com/ansible/awx/blob/d42f57d726c74d1f74c7114f522e15fc72d706a4/awx/ui_next/src/components/AddRole/AddResourceRole.jsx#L295

[2021-03-16 20:35] #7152 closed, assigned to nobody

[2021-03-16 20:36] #7153 closed, assigned to nobody

[2021-03-16 20:36] #7154 closed, assigned to nobody

[2021-03-16 20:37] #7158 closed, assigned to nobody

[2021-03-16 20:37] mabashian commented on #7160
Confirmed that this error is still unhandled

[2021-03-16 20:38] #7161 closed, assigned to nobody

[2021-03-16 20:38] #7162 closed, assigned to nobody

[2021-03-16 20:39] #7163 closed, assigned to nobody

[2021-03-16 20:52] mabashian commented on #7487
link #9127 <-related.  The same thing applies to IG's

[2021-03-16 20:58] mabashian commented on #7518
Lets look and see how we used to do this in the old UI and confirm whether or not this is possible.

[2021-03-16 21:54] keithjgrant commented on #8907
Yes, my PR should prevent this from happening. Is it worth adding additional handling to the page in case any pre-existing bad data gets fetched?

[2021-03-16 21:55] keithjgrant commented on #8176
Fixed with the new code editor component. See #9281 for details on keyboard controls

[2021-03-16 21:55] #8176 closed, assigned to keithjgrant

[2021-03-16 23:44] sugitk opened #9601 "All jobs in a Workflow Job Template should be expected to run in the same execution node"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Assume Ansible Tower/AWX has a cluster installation like node01, node02 and node03.
And we defined a workflow job template with the job node A -> B -> C.

When we run the WFJT, the job execution node is determined for each job node.   Hence the WFJT will be inconsistent situation because job A runs on the node01 and job B runs on the node02 and some

[2021-03-17 04:19] jainnikhil30 commented on #9342
@sean-m-sullivan

My bad, thanks for the clarification. I didn't notice it was organization. Yeah this seems like a bug !

[2021-03-17 07:27] jainnikhil30 commented on #9342
@sean-m-sullivan

I think I have a potential fix. With the fix:

[code]

[2021-03-17 07:32] sean-m-sullivan commented on #9342
Good start, but think it should be its own related. Because on post back in api, tower import,  for organizations, galaxy credentials is its own field, like in tower_organization module

Credentials as you listed wouldn't be associated as "the" galaxy credential in the org, just related Credentials in general

If you can point me to your code change for above, I'd be glad to digg into it and see a

[2021-03-17 08:14] sidrai33 commented on #532
why do i not see awx/install folder ?

[2021-03-17 08:15] sidrai33 commented on #532
can someone help here.. I am new to ansible... and cloned github.com/ansible/awx
but i dont see awx/install dir and install.yml file.

[2021-03-17 08:50] shahidkarimi commented on #532
@sidrai33 for this include_task issue, it worked for me when changed to include: "task.yml"

[2021-03-17 09:09] bendem commented on #9431
It's missing a `#` in the url.

[2021-03-17 10:03] LokiOfNorse opened #9602 "Documentation for Learners"
After some time of trying to install awx in multiple ways but most of them doesn't work.

I know this is not a bug and there is a other forums to get "support", but I think the documentation here in the awx project is all over the place and doesn't work for someone trying to learn awx and ansible.

There should be a standard documentation that point out every step and on which platform. No you can

[2021-03-17 11:56] bankinobi opened #9603 "awx.awx.tower_notification_template drops custom messages to defaults for non slack type templates"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Module updates custom messages only for "Slack" notification type. When any other type chosen (e.g. webhook), module drops custom messages to default values.

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: docker on linux
* Ansible version:  2.10.6

##### STEPS TO REPRODUCE

My task for notification templates:
[code]

Input data:
[code]

[2021-03-17 12:00] fabfabbar opened #9604 "unable to use ovirt-engine-sdk-python/pycurl in a virtual environment"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm unable to use ovirt-engine-sdk-python/pycurl in a virtual environment. Seems missing ```curl-config``` in docker image.
If I try to create venv in host docker machine ovirtsdk and pycurl are successfull installed but it does not work inside the container.

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: docker on linux
* Ansible versi

[2021-03-17 12:50] ryanpetrello commented on #532
@sidrai33 @shahidkarimi

`./installer` is gone from `devel` (and the next major version of AWX, which is not yet released):

https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/bCjSDn0eBQAJ

It still exists in the current stable version of AWX (17.1.0):

https://github.com/ansible/awx/tree/17.1.0/installer

[2021-03-17 14:16] LokiOfNorse commented on #9552
Same here happened on both Ubuntu 20.04 and CentOS 8

[2021-03-17 15:25] unlikelyzero commented on #6800
From the patternfly sync up. Can be passed as a prop http://patternfly-react.surge.sh/components/pagination/#props

This was only recently added.

[2021-03-17 16:21] AlexSCorey commented on #6648
@egmar

 I can see a use case for that as well.  I am going to break this use case out into an enhancement to be worked on later, but will address a more verbose warning, with counts, in #9345

[2021-03-17 16:23] AlexSCorey opened #9607 "[RFE] Support Promoting of Hosts /Groups when deleting an Inventory Source"
See https://github.com/ansible/awx/issues/6648#issuecomment-611139427
##### ISSUE TYPE
 - enhancement

##### SUMMARY
This could look like https://tower-mockups.testing.ansible.com/patternfly/inventories/inventories-groups-delete/

[2021-03-17 18:31] kchandan opened #9608 "Kubernetes Install - Job Pending Status"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I just installed AWX 17.1.0 for k8s using the helm method as mentioned in the install guide. The installation went fine, but post install, I am unable to run any job.Its showing as pending. I had similar issues with 17.0.1 and thought it might have been fixed in newer version.

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: Kubernetes (

[2021-03-17 18:38] tiagodread opened #9609 "Job template add/edit form duplicate requests"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The e2e test `can edit a job template` is failing because of the number of requests being made when the user access the Job template add or edit form

##### STEPS TO REPRODUCE

1. [Instal this chrome extension to help](https://chrome.google.com/webstore/detail/network-duplicates/pdaabiikfpfhfgiodfjfiobdmegjhnmo/related?hl=en)
2. Navigate to JT form (ad

[2021-03-17 18:58] abdel-ops opened #9610 "machine credential type disapeared in 17.0.1 version"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

[2021-03-17 19:04] abdel-ops commented on #9610
Hello
After i have installed awx in version 17.0.1 , i noticed that i the credential type 'Machine' don't appear anymore in the list of credential type list displayed when we want to create a new credential.
![image](https://user-images.githubusercontent.com/60286045/111523652-d1689d80-875b-11eb-9a43-bfc823d5c128.png)
is it been deprecated ?
thanks for your help

[2021-03-17 19:57] nixocio commented on #9609
Closing this one as duplicated issue of https://github.com/ansible/awx/issues/9534.

[2021-03-17 19:57] #9609 closed, assigned to nobody

[2021-03-17 20:38] #9307 closed, assigned to nixocio

[2021-03-17 20:56] kodewise opened #9611 "Missing AWX installer directory after cloning"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 17.1
* AWX install method: Linux
* Ansible version 2.9.6
* Operating System: Ubuntu 20.04
* Web Browser:

##### STEPS TO REPRODUCE

git clone https://github.com/ansible/awx.git
cd awx/installer/

##### EXPECTED RESULTS

After cloning the latest AWX git repository, I can no longer find the Installer directory, What happ

[2021-03-17 20:57] wenottingham commented on #9604
In general, it looks like libcurl-devel isn't in your image for some reason. (It is in the default Dockerfile, so it should be there.)

Regardless, we are moving away from python virtual environments, and won't be making changes here in that regard. See https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/1-Jh0fy3AgAJ

[2021-03-17 20:57] #9604 closed, assigned to nobody

[2021-03-17 20:59] ryanpetrello commented on #9611
Hey @kodewise,

`devel` is unstable, try the latest released version of AWX:

https://github.com/ansible/awx/releases/tag/17.1.0
https://github.com/ansible/awx/blob/17.1.0/INSTALL.md

`./installer` is going away in the next version of AWX:

https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/bCjSDn0eBQAJ
https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md

[2021-03-17 20:59] #9611 closed, assigned to nobody

[2021-03-17 20:59] wenottingham commented on #6800
@unlikelyzero @mabashian is this in the version we're currently using, or would we need a rebase for it?

[2021-03-17 21:03] wenottingham commented on #9601
This will not be implemented. Jobs are isolated from each other, and if artifacts need to be passed from job to job, it should be done via `set_stats` (in playbook/workflow) or via some other storage.

Future execution will be inside of containers which makes what is suggested completely impossible.

[2021-03-17 21:03] #9601 closed, assigned to nobody

[2021-03-17 21:27] #9250 closed, assigned to nixocio

[2021-03-17 21:57] Hoeze commented on #989
Would it be possible to distribute as conda-forge package, similar to ansible?
https://github.com/conda-forge/ansible-feedstock
That would have the same dependency advantages like Docker but would be more accessible.

[2021-03-18 07:21] fabfabbar commented on #9604
quite strange: image in use is ``` ansible/awx:17.1.0```.

Docker-compose file was generated by the command
[code]
"git-awx" is the path where I cloned awx repository. 17.1.0 tag was checkout of course.

Actually not using custom built images.

[2021-03-18 07:22] zurikus opened #9612 "Different behavior of ansible task on pure ansible and ansible plus AWX"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Could you please explain why there is different task execution behavior on pure ansible and ansible + AWX.
Pgbouncer packages (ver. 1.14) are already installed on server.

Ansible task:

[code]

Execution on pure ansible as expected:

[code]

Execution on ansible plus AWX:

[code]

##### ENVIRONMENT
* AWX version: 9.1.1
* AWX install method: docker-com

[2021-03-18 10:40] Hetti commented on #7145
I also just encountered this bug.
By editing a schedule, NaN is shown as date.
Browser: 86.0.1 (64-Bit) on Arch Linux
AWX 17.1.0

[2021-03-18 11:36] unlikelyzero commented on #9607
@AlexSCorey i think that this is an RFE and not necessarily required for feature parity, right?

[2021-03-18 12:53] AlexSCorey commented on #9607
@unlikelyzero yes, I wouldn't say that it needs to be in 4.0.

[2021-03-18 12:59] unlikelyzero commented on #9607
@AlexSCorey in that case, I'd file it as an `enhancement` so that it could be "promoted" to a feature

[2021-03-18 15:19] pushan9 opened #9614 "environmental variables"
In release 16.0.1, there is no option to set environmental variables

[2021-03-18 15:57] msilmser opened #9615 "RFE: Pass in sslcert and sslkey when required for Postgres connection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Certain database providers require sslkey and sslcert to be passed in to the psql command in order to connect (GCP for example). Although this is not something we test directly, several customers use cloud provided databases such as this in production. This could be solved by adding those options to the postgres.py file when required.

Example failin

[2021-03-18 17:22] kchandan commented on #9608
I was able to deploy the on a new cluster and run a template job.

[2021-03-18 17:22] #9608 closed, assigned to nobody

[2021-03-18 17:41] akus062381 commented on #8707
Manually checked and verified that this is functional.
testability also verified

[2021-03-18 17:41] #8707 closed, assigned to akus062381

[2021-03-18 17:48] chrismeyersfsu commented on #9039
PR https://github.com/jladdjr/awx/pull/18

[2021-03-18 17:49] khokarv commented on #9615
Without SSL on on GCP CloudSQL, tower installer works perfect to start with.

GCP CloudSQL being managed service, there is no control on DB config, which make sense for security and many other reasons.

All you get from them is an IP Address and 3 files once you enable SSL:

server-ca.pem
client-key.pem
client-cert.pem

GCP CloudSQL PostgreSQL need all 3 files:
psql "sslmode=verify-ca sslrootcert=

[2021-03-18 18:24] mabashian commented on #9495
See https://github.com/ansible/awx/pull/9208#issuecomment-802183668.  This can be closed when #9208 gets merged.

[2021-03-18 18:33] mabashian commented on #6440
Closing - I'm not sure that this is still relevant given the number of changes that have been made to this page.

[2021-03-18 18:33] #6440 closed, assigned to nobody

[2021-03-18 18:38] wenottingham commented on #9615
This isn't relevant to AWX. Closing.

[2021-03-18 18:38] #9615 closed, assigned to nobody

[2021-03-18 18:40] mabashian commented on #6800
Mmmmm yea i see where we can pass some strings in but I still see this one in their source code:  https://github.com/patternfly/patternfly-react/blob/master/packages/react-core/src/components/Pagination/Navigation.tsx#L207

Here's what they let us control:

[code]

So yea, as far as this one in particular goes I think we're still waiting on a solution from PF.

[2021-03-18 18:43] mabashian commented on #6857
PF does give us the ability to overwrite those chip strings with our own translated versions: http://patternfly-react.surge.sh/components/chip-group#chipgroup

The on/off looks like it's been marked: https://github.com/ansible/awx/blob/devel/awx/ui_next/src/components/PromptDetail/PromptDetail.jsx#L253

[2021-03-18 18:47] mabashian commented on #7254
I was mistaken about this component.  They do support a `description` prop that will render under the title.  I think this would be the perfect place for us to put the description of the launching resource (JT/WFJT/etc).

http://patternfly-react.surge.sh/components/wizard#wizard

[2021-03-18 20:07] akus062381 commented on #3934
@unlikelyzero since the Source tab no longer allows the user to add a source to an inventory, I believe this issue would no longer be relevant. Closing.

[2021-03-18 20:07] #3934 closed, assigned to akus062381

[2021-03-18 20:08] mabashian commented on #9510
See #9582

[2021-03-18 20:24] unlikelyzero commented on #9610
@abdel-ops which version did you upgrade from? Maybe it was an incomplete migration? I see it here:
![Screen Shot 2021-03-18 at 4 23 48 PM](https://user-images.githubusercontent.com/12446869/111692891-58725000-8806-11eb-8f89-ccbf6ea39bc3.png)

[2021-03-18 20:58] akus062381 commented on #8878
One unit test is existing
Stubs are present
Testability verified

[2021-03-18 20:58] akus062381 commented on #8878
Still need: visual test for Many Credentials added to a JT

[2021-03-18 21:05] akus062381 commented on #7548
This is taken care of and tests have been written and merged into the code

[2021-03-18 21:05] #7548 closed, assigned to akus062381

[2021-03-18 21:14] mabashian commented on #9582
@tiagodread @unlikelyzero @akus062381 @one-t there are a lot of _potential_ things that could have locators added to them on these forms.  It may be easier to work with a developer to identify what you all need specifically to avoid a bunch of back and forth.  Forms/fields will likely need data-cy's since ouia-id's aren't support on things like inputs and textareas.  Buttons and modals would have

[2021-03-18 21:16] unlikelyzero commented on #9582
@mabashian in this case, we have direct links in our codebase to the missing components in the form of //TBR stubs. We didn't expect you (or want y'all to) to get to these tasks before feature parity was completed and filed them as `priority:medium`

[2021-03-18 22:59] razbag opened #9620 "Value for 'DISK2_SIZE_GB' expected to be an integer."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I create survey which is **not** required and set it integer and then when I run my template and do not define value for that Prompt AWX will failed with this ERROR

POST /api/v2/job_templates/11/launch/ 400
Value for 'DISK2_SIZE_GB' expected to be an integer.

![image](https://user-images.githubusercontent.com/18428312/111708120-b6328680-885e-11eb-99

[2021-03-19 09:38] papillonyi opened #9621 "add custom script to inventory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - UI

##### SUMMARY
can't add custom script to inventory

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: k8s
* Ansible version:  2.9.18
* Operating System: linux
* Web Browser: chrome

##### STEPS TO REPRODUCE

when i try to add source to inventory and select custom script, the web show no thing, and i can't upload or write any

[2021-03-19 09:52] dimovstanimir commented on #9242
In version 17.1.0 the job output does not still update automatically but requires manual refresh.

Is this really so hard to be fixed?

[2021-03-19 11:05] swatinarvekar opened #9622 "[CLI] RFE: associate/dissociate instance groups to objects that use them."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently we have associate/dissociate for notifications and credentials on organizations.
Do not have this for instance groups.

**awx organizations associate**
[code]
(Similar to https://tower-cli.readthedocs.io/en/latest/api_ref/resources/organization.html#tower_cli.resources.organization.Resource.associate_ig)

[2021-03-19 11:58] unlikelyzero opened #9623 "[ui_next] Incorrect form validation on JT Create form after Project Lookup"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Incorrect form validation on JT Create form after Project Lookup

##### STEPS TO REPRODUCE
1. Create a New JT
2. Enter Name and Select Inventory
3. Select a project
Note: form validation under Project field. Disappears after selecting Playbook

##### EXPECTED RESULTS
1. No error text for selecting a Project after project selected

##### ACTUAL RESULTS

[2021-03-19 12:25] unlikelyzero opened #9624 "[ui_next] Job Output Elapsed timer is not functioning"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Job Output Elapsed timer is not functioning. Neither real-time output nor completed job output.

##### STEPS TO REPRODUCE
1. Run a JT to completion and view the output page.
Note: Elapsed Timer

1. Start a long-running JT and view the output page.
Note: Elapsed Timer

##### ADDITIONAL INFORMATION
![Screen Shot 2021-03-19 at 8 24 35 AM](https://user-ima

[2021-03-19 12:28] razbag commented on #9620
And please also check from browser console

Seems this is not working

If a non-text variable (input type) is marked as optional, and is not filled in, no survey extra_var is passed to the playbook.

**
![image](https://user-images.githubusercontent.com/18428312/111779839-0b5ab080-88d0-11eb-8a3a-2096c941e9f1.png)
**

[2021-03-19 13:45] ryanpetrello commented on #9622
duplicate of https://github.com/ansible/awx/issues/4698

[2021-03-19 13:45] #9622 closed, assigned to nobody

[2021-03-19 13:46] shenqinb-star opened #9625 "AWX doesn't appear to install collections automatically based on collections/requirements.yml"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX doesn't appear to install collections automatically based on collections/requirements.yml

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: Kubernetes
* Ansible version:  2.9.18
* Operating System:
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Create a AWX project and link to a git project with following structure:

/-playbook.yml

[2021-03-19 14:26] kdelee commented on #7066
@yagomarques @rebeccahhh some things to try out during development
- [x] verify we have ability to trust an insecure registry (e.g. disable tls verify). I'm guessing there should be a "tls verify" boolean on the registry credential
- [x] Verify we can pull from quay with username/token
- [x] verify we can pull from GCR with json file token (has a dummy username + big token that is actually a json

[2021-03-19 14:31] nixocio opened #9628 "Filter by container registry credential to be associated with EE"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Filter by container registry credential to be associated with EE

[2021-03-19 14:47] unlikelyzero opened #9629 "[ui_next] JT Edit Form's Playbook Typeahead does not have constrained height"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
JT Edit Form's Playbook Typeahead does not have constrained height. Renders beyond the length of the page

##### STEPS TO REPRODUCE
1. Navigate to JT Edit Form
2. Open Playbook Typeahead.
Note: 200 returned and renders offscreen

##### EXPECTED RESULTS
1. maxheight calculated to fit on page for our 1024x768 user before scrolling kicks in

##### ACTUAL

[2021-03-19 14:53] unlikelyzero opened #9630 "[ui_next] JT Edit Form's Playbook typeahead select does not close after playbook selected"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
 JT Edit Form's Playbook typeahead select does not collapse after playbook selected. This was fixed on the other typeahead components. This might be a dupe.

##### ENVIRONMENT
* AWX version: 03/19

##### STEPS TO REPRODUCE
1. Navigate to JT Add/Edit Form
2. Select a Playbook
Note: playbook select does not collapse after selection

##### EXPECTED RESULT

[2021-03-19 14:53] unlikelyzero commented on #9630
@AlexSCorey do you think you could fix this one really quick?

[2021-03-19 15:04] unlikelyzero opened #9631 "[ui_next] Cannot cancel job from Job/Details view"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cannot cancel job from Job/Details view. I believe that this existed in the classic experience. At the moment, the only place to cancel a job is from the job output view. Please update this title if the classic experience allowed the user to cancel jobs from other views

##### ENVIRONMENT
* AWX version: 03/19

##### STEPS TO REPRODUCE
1. Create a Long

[2021-03-19 15:06] unlikelyzero commented on #7657
@mabashian this was not completed as a part of https://github.com/ansible/awx/issues/8848

[2021-03-19 15:07] unlikelyzero commented on #9631
closing in favor of https://github.com/ansible/awx/issues/7657

[2021-03-19 15:07] #9631 closed, assigned to nobody

[2021-03-19 15:28] thijsvdn opened #9632 "awx.awx.tower_api returns incorrect results with 'return_all=true'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using the tower_api lookup plugin, 'return_all=true' will return incorrect results for certain page sizes or when page_size is not explicitly set.

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: docker on linux
* Ansible version:  2.9.18
* Operating System: Debian
* Web Browser: n/a

##### STEPS TO REPRODUCE

Create a large number o

[2021-03-19 15:56] ammygill opened #9633 "[RFE] Organisation should show the Teams permission in GUI once permission is assgin to the Team."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
On the organizations / {{myOrg}} / permissions view, there is no indications that team has any permission; only users are listed. I can see the "team roles" column with roles for users that are members of the team but otherwise, no indication. I think both users and teams should be listed in the permissions view

[2021-03-19 16:28] kdelee commented on #7066
https://www.projectatomic.io/blog/2018/05/podman-tls/ may be of interest for reading

[2021-03-19 17:00] hendersonreed commented on #7066
For setting up the galaxy_ng dev environment, there's a setup guide [here](https://github.com/ansible/galaxy_ng/wiki/Development-Setup). If you have any questions or problems, feel free to reach out about it!

[2021-03-19 17:08] ryanpetrello commented on #9633
I think this is just a misconception - @mabashian can you comment on this?

[2021-03-19 17:09] ryanpetrello commented on #9632
@john-westcott-iv @beeankha @sean-m-sullivan,

Can one of you take a peek at this?  It looks like it might be a bug in the collection.

[2021-03-19 17:10] ryanpetrello commented on #9632
@jainnikhil30 @tchellomello this may be one of your radar as well 👀

[2021-03-19 17:12] ryanpetrello commented on #9628
Additionally, at the API level, we want to make sure that *only* container registry credentials can be associated with an EE cc @rebeccahhh

[2021-03-19 17:12] mabashian commented on #9633
Yea this is a list of users and what they're roles are.  The API does not return the data in the way you're describing.  If you want to see the team roles you'll have to go to `#/teams/:id/roles`

[2021-03-19 17:12] #9633 closed, assigned to nobody

[2021-03-19 17:13] tiagodread opened #9635 "[Meta issue] Credentials bugs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
While verifying https://github.com/ansible/awx/pull/9368 I've found a couple of things happening on devel:

- [x] 1. Using external secret management system display the component Ace editor wrong
![image](https://user-images.githubusercontent.com/12464858/111816196-50c0b300-88bb-11eb-9097-a3d90d22903c.png)

**Steps to reproduce:**

1. Create a credenti

[2021-03-19 17:14] ryanpetrello commented on #9625
@shenqinb-star usually this means that your Organization doesn't have a credential defined pointed at Ansible Galaxy.  Can you share your Organization's "edit" view?

[2021-03-19 17:15] ryanpetrello commented on #9621
Hey @papillonyi,

This view is being removed in the next major version of AWX - in the meantime, this UI is just busted.

More generally, we've deprecated and are removing this feature - instead, define custom inventory scripts in your SCM/Project.

[2021-03-19 17:15] #9621 closed, assigned to nobody

[2021-03-19 17:16] ryanpetrello commented on #9620
cc @mabashian I think this is a duplicate of another issue

[2021-03-19 17:17] mabashian commented on #9620
Same bug as https://github.com/ansible/awx/issues/9176

[2021-03-19 17:17] #9620 closed, assigned to nobody

[2021-03-19 17:18] #9614 closed, assigned to nobody

[2021-03-19 17:18] wenottingham commented on #9614
There is AWX_TASK_ENV in settings, let us know if that doesn't work for you.

[2021-03-19 17:20] ryanpetrello commented on #9612
Hey @zurikus,

I'm not sure what's going on here, but AWX itself shouldn't be doing anything to change the content of your playbooks - my gut says there's probably something environment-specific going on here.  Just in case, giving this a shot on a newer version of AWX?

[2021-03-19 17:23] ryanpetrello commented on #9603
@beeankha @john-westcott-iv @sean-m-sullivan any of you able to reproduce this, or have any ideas about what might be up?

[2021-03-19 17:25] ryanpetrello commented on #9594
Hey @bdoublet91,

Would you give this a shot on a newer version of AWX?  Generally this type of issue means a playbook unexpectedly exited during execution, but it could be a bug in AWX itself that's been addressed since 15.0.1 was released.

[2021-03-19 17:39] ryanpetrello commented on #9475
Hey @CatchKarthik,

The current K8S installer is going to be removed very soon in favor of https://github.com/ansible/awx-operator.  When AWX is released (soon), could you give this a whirl over there and report back?  Thanks.

[2021-03-19 17:39] #9475 closed, assigned to nobody

[2021-03-19 18:10] nixocio opened #9636 "Editing a credential for moment will display the id of credential type"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Editing a credential for moment will display the id of credential type, then display the proper name.

https://user-images.githubusercontent.com/9053044/111824737-f6285680-88bc-11eb-8b28-4693aeb125d1.mov

[2021-03-19 18:58] tiagodread commented on #7256
We had a failure related to this change, which I'll be working on before we close the issue

[2021-03-19 19:13] akus062381 commented on #4532
Tested with success:
-Assign user1 admin access to a specific inventory inside org1
-Create org2 with user2 and assign user2 to a team1
-Team1 gets specific role access in org1

All of these displayed and behaved as expected, no bugs found, but this issue ticket addresses something that the devs are working on clarifying:
https://github.com/ansible/awx/issues/9455

[2021-03-19 19:13] #4532 closed, assigned to akus062381

[2021-03-19 19:19] tiagodread commented on #7256
Fixed, closing

[2021-03-19 19:19] #7256 closed, assigned to mabashian

[2021-03-19 19:52] bdoublet91 commented on #9594
I will be able to do the test next week with awx 17.0.1 I think.
I'm not sure about unexpectedly exited because 80% of the time, it's succeed. I will add a task to write logs on my server with this playbook to checkout what it's going on. I will update this issue next week

[2021-03-19 19:53] akus062381 commented on #9361
@ghjm I'd like to chat with you about this if you're available next week

[2021-03-19 19:59] ghjm commented on #9361
Sure @akus062381, I'm happy to chat about it

[2021-03-19 20:39] tiagodread opened #9640 "Workflow job output page 404"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Trying to launch a workflow job:
![image](https://user-images.githubusercontent.com/12464858/111839590-c9366c80-88d9-11eb-9519-73c5666bfbb1.png)

##### STEPS TO REPRODUCE

1. Create a JT
2. Create a Workflow using this JT
3. Launch the Workflow

##### EXPECTED RESULTS

Job output page properly rendered

##### ACTUAL RESULTS

404

Stopped working on htt

[2021-03-19 20:46] imareporter opened #9641 "Add Ability to Disable Certain Django Authentication Backends"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Per an user's request, they would like the ability to disable certain Django authentication backends via the UI (e.g. Only allow SAML users the ability to login; prohibit all over users, even if they exist in another backend).

See: https://docs.djangoproject.com/en/3.1/topics/auth/customizing/#specifying-authentication-backends

[2021-03-19 20:49] wenottingham commented on #9641
Closing as duplicate.

[2021-03-19 20:49] #9641 closed, assigned to nobody

[2021-03-19 20:50] wenottingham commented on #9641
-> #4553

[2021-03-20 14:26] VladoPortos commented on #3348
Can confirm its gone :-/

[2021-03-20 18:38] LokiOfNorse opened #9643 "Missing Management Jobs GUI"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Missing Management Jobs in the tab: "Management Jobs" while the jobs are running in schedules and jobs.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: Virtual Environment / Docker
* Ansible version:  latest
* Operating System: Ubuntu 20.04
* Web Browser: Firefox (Apple m1 machine)
* Other: Worked on earlier versions of awx.

##### STEPS

[2021-03-21 01:19] jakemcdermott commented on #9643
:wave: It'll be included in the upcoming awx release

[2021-03-21 01:19] #9643 closed, assigned to nobody

[2021-03-21 11:40] joaogl commented on #9364
I still have the same issue, I've tried to deploy this in a new K3S cluster using both version 0.6.0 and devel of the awx-operator.
I tried this https://github.com/ansible/awx/issues/9401#issuecomment-785886272 as well as a range of different versions for thw awx including 17.1.0.

Also tried downgrading redis to 6.0 same issue.

I can see really no error logs on the containers:

**Redis logs:**

[2021-03-21 12:21] kfiresmith commented on #9602
I think the problem here is one of priorities and incentives.
IBM/Red Hat provide AWX as a development codebaase for downstream Ansible Tower.  They are not doing this to give folks a free & easy alternative to Ansible Tower.  They expect learners to use the free 10-host Ansible Tower license for learning and demoing Tower, not AWX, so there is an incentive to not make AWX easy to deploy and lifec

[2021-03-22 01:33] shenqinb-star commented on #9625
@ryanpetrello, thanks for your replay. I'm new to AWX/Ansible, I didn't setup any credentials for my organization. but I don't think credentials is needed to install collections from official galaxy repo https://galaxy.ansible.com. I'm able to install the collections via running `ansible-galaxy collection install -r requirements.yml` manually.

[2021-03-22 01:47] shenqinb-star commented on #9625
if credentials is required, would please guide me how to setup credentials for official galaxy repo https://galaxy.ansible.com. many thanks!

[2021-03-22 05:16] phillogic opened #9644 "AWX isolated node setup should be able to support any ssh user and not restricted to the user under which "awx" is installed"
##### ISSUE TYPE
 - when registering isolated nodes we should be able to override the user used to ssh into them.

##### SUMMARY
Today when when we run the following commands
[code]

we cannot specify the ssh user that will be required to connect to the hostname.
When the commands execute they use the operating system user  under which awx is running.
This means if there is a special ssh config en

[2021-03-22 09:33] Davidffry opened #9645 "Workflow approvals shows blank page when delete user"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Workflow approvals blank page when delete user

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible version:  2.9.17
* Operating System: Debian
* Web Browser: All

##### STEPS TO REPRODUCE

launch or approve many wokflow on workflow page
Delete the user from the workflow come from

##### EXPECTED RESULTS

let the app

[2021-03-22 11:18] NicoWde commented on #5711
we currently ran into the very same issue, as the customer of @blaira89

[2021-03-22 11:45] 16g commented on #8696
any updates?

[2021-03-22 12:57] #9640 closed, assigned to mabashian

[2021-03-22 13:30] tiagodread commented on #9458
I can't reproduce this bug anymore, closing this issue

[2021-03-22 13:30] #9458 closed, assigned to mabashian

[2021-03-22 13:31] tiagodread commented on #8921
PR already merged, verified #8921 (comment) and #8921 (comment) did some exploratory testing around this feature and worked as expect.

[2021-03-22 13:31] #8921 closed, assigned to mabashian

[2021-03-22 14:06] #9485 closed, assigned to AlexSCorey

[2021-03-22 14:06] #9319 closed, assigned to AlexSCorey

[2021-03-22 14:06] #7516 closed, assigned to AlexSCorey

[2021-03-22 14:27] velzend commented on #8696
I have no updates...

I am still using the Busybox container to share the REDIS socket file across containers.

@16g  are you facing the same issue?

[2021-03-22 14:30] dbseoane commented on #1855
This is still happening in the 17.1.0 version.
Neither ldap_group_user_attr or member_attr is permited, even shown in the defaults (are shown when you empty the field).

[2021-03-22 15:25] #9373 closed, assigned to AlexSCorey

[2021-03-22 15:26] aem12f commented on #2354
I have upgraded to latest awx tag: 17.1.0, using local_docker installation, and still am experiencing this issue

[2021-03-22 15:28] wenottingham commented on #9644
This isn't something that will change in AWX, as ssh as the connection plane for execution nodes will be going away. See #5151

[2021-03-22 15:28] #9644 closed, assigned to nobody

[2021-03-22 15:34] jpell958 commented on #8553
We would like this functionality also. The reason not to use a survey or extra-var is that the password would be exposed in the log.  There should be a way to create credential types that have encrypted fields that are prompted during lunch

[2021-03-22 16:16] ammygill opened #9651 "[RFE] Add import time for inventory object imported from an inventory source to the UI. This inventory import time would be listed by the hostname in the hosts list under an inventory source view."
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
it would be really nice to see the time next to a host record on the import to see "when" the last time a host record was updated (especially useful for when an overwrite of vars happens) so that one can tell when a host has been updated last and whether some timed event like a specific workflow happened before or after a host update happened and the

[2021-03-22 18:13] hjkatz commented on #9380
We're running into the exact same bug with Ansible 2.9 and AWX 17. Could we re-open this ticket?

[2021-03-22 18:28] redallen commented on #6800
Currently you can pass a custom `toggleTemplate` to Pagination to format the "2 of 4 pages" using props from [ToggleTemplate](https://github.com/patternfly/patternfly-react/blob/master/packages/react-core/src/components/Pagination/ToggleTemplate.tsx):
![image](https://user-images.githubusercontent.com/47335686/112039131-1143d200-8b1a-11eb-8d8a-9c836fc6ce5c.png)

The accessible label @mabashian men

[2021-03-22 19:06] mili988 commented on #5453
+1 same issue here, after update from 12.x to latest (17.1.0).

We use awx workflows where some of the templates have "az" shell commands. The funny thing is that there are 3 templates that fire az commands via shell (two of them work after the update) and one does not. awx is a docker container..
Before updating everything worked without problems...

![image](https://user-images.githubusercontent

[2021-03-22 19:39] #9592 closed, assigned to nixocio

[2021-03-22 20:00] dburns-vistra opened #9657 "Ansible AWX and Okta SAML"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 15.0.1
* AWX install method: docker on linux
* Ansible version:  2.9
* Operating System: Amazon Linux 2
* Web Browser: Chrome

##### STEPS TO REPRODUCE

I get the information from my Security Dept for Okta SAML SSO integration.  I put in the information into AWX as documented.  I get the S at the bottom of the screen,

[2021-03-22 20:12] ryanpetrello commented on #9657
Hey @dburns-vistra,

This issue tracker is for tracking feature enhancements and bugs to AWX itself, not for help troubleshooting issues.

Unfortunately, we have to limit this because of limited volunteer time to respond to issues - If you need help troubleshooting an AWX install, the options are our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.goo

[2021-03-22 20:12] #9657 closed, assigned to nobody

[2021-03-22 20:14] ryanpetrello commented on #9657
@one-t @jakemcdermott et al, any of you know of any endemic issues in AWX 15.x that would affect SAML login integration support across the board (and which could've been addressed in newer versions of AWX?)

[2021-03-22 20:20] dburns-vistra commented on #9657
Ryan, I may have emailed you before when I was trying to point out some documentation stuff.

I am not really trying to get support, I have tried to go down the community group.

I don’t own the Okta piece that is in another group.  I did do all the steps in the Ansible Tower documentation, to no avail.  I reached out the community, all I basically got was it should work.

I will be happy to work

[2021-03-22 20:23] jakemcdermott commented on #7602
@nixocio I think this may be resolved with @rooftopcellist 's pr. Can you take a look?

[2021-03-22 20:27] ryanpetrello commented on #9657
Hey @dburns-vistra,

Yep, I remember updating the developer docs recently.  Unfortunately, I don't know much about configuring SAML, so I can't really help personally.  If you do uncover whatever the issue is (I _suspect_ it's probably a misconfigured URL or somesuch?), I'd be glad to review a pull request with documentation.  Also, if you've found some error in Red Hat's documentation, I can prob

[2021-03-22 20:29] marshmalien commented on #7632
PF provides an option to align modals to the top instead of center: https://www.patternfly.org/v4/components/modal/#top-aligned

[2021-03-22 20:38] wenottingham commented on #8211
Closed, no longer relevant.

[2021-03-22 20:38] #8211 closed, assigned to nobody

[2021-03-22 20:44] marshmalien commented on #8241
To expand on this, on the last page of the wizard the "OK" button is initialized as enabled which is how the user is able to save credentials before validation. We probably should initialize the "OK" button as disabled to prevent button mashing.

[2021-03-22 20:56] wenottingham commented on #8811
Closing, tracking elsewhere.

[2021-03-22 20:56] #8811 closed, assigned to nobody

[2021-03-22 20:59] wenottingham commented on #8898
-> #8898

[2021-03-22 20:59] #8898 closed, assigned to nobody

[2021-03-22 21:15] nixocio commented on #7602
@jakemcdermott yeah, I started with a clean slate - I removed all files from `awx/awx/ui_next/src/locales`.

After `npm run start`.
[code]

[2021-03-22 21:26] wenottingham commented on #8898
Er, -> #6094

[2021-03-22 23:17] mrmibrown opened #9658 "Trigger influxdb measurement upon notification event"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
The new Tower notification should be able to add a data point to an Influxdb measurement upon a Tower event. It must be able to post multiple tags and multiple values to the time series database.

This will prove to be a powerful enhancement which can significantly complement the Grafana notification.

[2021-03-23 02:24] jakemcdermott commented on #9420
Yep, this was fixed in a later version. Please upgrade and give it a try - thank you!

[2021-03-23 02:24] #9420 closed, assigned to nobody

[2021-03-23 03:06] phillogic commented on #9644
Thanks @wenottingham. Looking forward to that feature!

[2021-03-23 07:35] anujbansal31 opened #9660 "User still see previous session info upon click on new job link"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 14.0.0
* AWX install method: openshift on linux
* Ansible version:
* Operating System: Linux
* Web Browser: Chrome, MicroSoft Edge

##### STEPS TO REPRODUCE

1. Login on AWX url.
2. Browse/open anything such Users, Jobs or any playbook.
3. Logout explicitly or automatic logout after session expire.
4. Click on awx link

[2021-03-23 07:38] anujbansal31 commented on #9660
I am using SSO with SAML and LDAP authentication. AWX should forget the user's old session detail once they logged out.

If AWX will not keep old session detail, then it will open the new link directly.

[2021-03-23 08:53] egmar commented on #9657
I'd suggest installing this extension https://chrome.google.com/webstore/detail/saml-tracer/mpdajninpobndbfcldcmbpnnbhibjmch?hl=en and see where SAML flow fails. Also, when opening `https://<awxhost>/sso/metadata/saml/` validate if `Location` in `md:AssertionConsumerService` is with `https`

[2021-03-23 09:45] DeLoWaN opened #9661 "Add the boto profile concept to AWX"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I wanted to setup AWX with my project. In my aws_ec2 inventory plugin, I specified a boto_profile var since I have multiple ones configured locally.

Problem is, AWX does not provide a way to specify what boto profile to feed. Instead, it [feeds only the env var](https://docs.ansible.com/ansible-tower/latest/html/userguide/credentials.html#amazon-web-s

[2021-03-23 12:07] mcappadonna commented on #4539
Any news on this? We've the same issue here with AWX 11.1.0. I trying to create a custom notification message for Email with this template as the "Error Message Body":

[code]

results in the GUI error "Failed to update notifier. Field 'inventory' unavailable".

<img width="638" alt="awx_gui_error" src="https://user-images.githubusercontent.com/3114870/112143809-b02f0380-8bd8-11eb-850d-17eedc8aefb

[2021-03-23 12:16] jakemcdermott commented on #9660
:wave:
Hello. Thanks for creating this issue. This bug has been addressed in a more recent version of AWX: https://github.com/ansible/awx/pull/8299

This should be fixed by updating to a later version of AWX (16.0.1+).

[2021-03-23 12:16] #9660 closed, assigned to nobody

[2021-03-23 13:09] jainnikhil30 opened #9663 "Toggling is_system_auditor & is_superuser from True to False Doesn't Work with tower_user module"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When attempting to toggle is_system_auditor or is_superuser from true to false using tower_user, Ansible does not report a changed status, nor does the action commit in the backend.

##### ENVIRONMENT
* AWX version: 17.0.0
* Ansible version:  2.9.18

##### STEPS TO REPRODUCE

1.) Create a Normal User.
2.) Attempt to change the is_system_auditor or is_s

[2021-03-23 13:10] jainnikhil30 commented on #9663
Fixed with PR: https://github.com/ansible/awx/pull/9558

[2021-03-23 13:11] zurikus commented on #9612
Playbook is the same, but behavior of execution is different.
At this moment as workaround I switched my playbook to exact versions of packages to avoid this issue.

[code]

I'm not able to test on latest version of AWX.
I provided code example, I will really appreciate if you can do that yourself.
If you are unable to do that as well, we can close this issue.

[2021-03-23 13:28] jainnikhil30 opened #9665 "The project_update job takes a long time to finish when a project directory is too large"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The project_update job takes a long time to finish when a project directory is too large

##### ENVIRONMENT
* AWX version: 17.0.1
* Ansible version:  2.9.18

##### STEPS TO REPRODUCE

1.) Create a repository on GitHub, you can use https://github.com/sugitk/ansible-largefile
2.) Create a git project referring to it
3.) Run project sync

##### EXPECTED R

[2021-03-23 13:28] jainnikhil30 commented on #9665
fixed with PR: https://github.com/ansible/awx/pull/9627

[2021-03-23 13:44] hjkatz commented on #9380
As a note for future readers, we discovered that inside our execution environment (container group/Docker image in our case) the `python` executable was not linked to `python3`, so `$ python3` was a valid command, but `$ python` was not. A simple symlink fixed our inventory parsing.

[2021-03-23 14:20] tiagodread commented on #9308
This can be safely closed when #9656 land on devel.

[2021-03-23 14:23] dburns-vistra commented on #9657
With that tracer I see some errors.  Would you be able to assist Egor?

Thank you
Daniel

Daniel R. Burns |Lead Cloud Platform Engineer – Platform Services |[A picture containing clock  Description automatically generated] | CFB #2273| Phone: 214-812-2277<tel:+1(214)%20812-2277>|Mobile: 469-298-8917<tel:+1(469)298-8917>|Email: ***@***.******@***.***>

Please direct all issues and requests to Servi

[2021-03-23 14:29] akus062381 commented on #9456
fixed

[2021-03-23 14:29] #9456 closed, assigned to AlexSCorey

[2021-03-23 14:29] akus062381 commented on #9466
fixed

[2021-03-23 14:29] #9466 closed, assigned to AlexSCorey

[2021-03-23 15:30] akus062381 commented on #3366
opening an issue, testability needs to be added.
https://github.com/ansible/awx/issues/9667

[2021-03-23 15:30] #3366 closed, assigned to akus062381

[2021-03-23 15:30] akus062381 commented on #3366
I have verified that this issue has been resolved.

[2021-03-23 15:33] akus062381 opened #9667 "[ui_next] Add testability- Workflow Visualizer Node Tab"
ISSUE TYPE
Task

SUMMARY
This task ticket tracks the work to add testability to the Workflow Visualizer Tab in the templates resource.

[2021-03-23 15:45] akus062381 commented on #4063
this issue is fixed, working on finalizing a test. see https://github.com/ansible/tower-qa/pull/6114

[2021-03-23 15:45] #4063 closed, assigned to akus062381

[2021-03-23 15:51] akus062381 commented on #2951
I verified that this has been fixed
Also verified testability

[2021-03-23 15:51] #2951 closed, assigned to akus062381

[2021-03-23 17:51] john-westcott-iv commented on #9532
@wenottingham can you confirm that API changes will only happen in major versions? Or could the API change from 17.1 to 17.2?

[2021-03-23 17:57] wenottingham commented on #9532
It shouldn't change from 17.1 to 17.2 if we're following semantic versioning right.

[2021-03-23 18:43] ryanpetrello commented on #9361
Hey @ghjm,

@akus062381 and I spent some time trying to reproduce this, and I think we're seeing the same thing:

[code]

![image](https://user-images.githubusercontent.com/214912/112200832-022a5600-8be6-11eb-8abf-a2bbaeb28e9a.png)

[2021-03-23 18:50] ryanpetrello commented on #9361
cc @jakemcdermott I *think* this might actually be a bug in the way the UI saves multi-line inputs like private keys.  What do you think?

[2021-03-23 19:00] phemmer commented on #9501
So AWX 18 is released and this is still an issue.

I tried deploying with quay.io/ansible/awx:18.0.0 and https://github.com/ansible/awx-operator/blob/693ce5a17ecb44c00264cea66922c5621ec1592e/deploy/awx-operator.yaml and I still get:

[code]

And the container is fully up and loading in the browser.

[2021-03-23 19:01] jladdjr commented on #4539
https://github.com/ansible/awx/pull/9668 ensures that the data that is included in `job_metadata` is surfaced under `job.extra_vars` as well.

[2021-03-23 19:04] jladdjr commented on #4539
If we decide to merge ^, we should update the list of supported NT fields to include `extra_vars`:
https://docs.ansible.com/ansible-tower/3.8.2/html/installandreference/notification_parameters_supported.html#ir-notifications-reference

[2021-03-23 19:06] ryanpetrello commented on #9361
@ghjm I don't think the issue is that the pasted value the UI sends has incorrect newlines, I think it's that it doesn't end with a newline.  When I reproduced this above, I noticed that the file laid down by AWX looked correct, but that SSH didn't like it unless I added newline to the end of the private key.  This diff fixes the problem for me in `devel`, does it fix it for you?

[code]

[2021-03-23 19:09] lachesis opened #9669 "Cannot save Miscellaneous System Settings on new cluster"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I cannot save my changes to the Miscellaneous System settings of a newly created AWX Tower install. I receive no UI feedback but the network tab shows `{"CUSTOM_VENV_PATHS":["Expected list of strings but got <class 'str'> instead."]}`. I have not attempted to set up custom venvs, nor can I find that setting in the UI.

##### ENVIRONMENT
* AWX version:

[2021-03-23 19:12] akus062381 commented on #5011
Applicable stubs have been added. I am putting this back to needs_devel because these changes have not been implemented per the original issue details.

[2021-03-23 19:23] kuznetsovkk commented on #9242
Is it fixed in 18.0.0?

[2021-03-23 19:33] ryanpetrello commented on #9361
For what it's worth, the code for injecting SSH (Machine) credentials does something similar ☝️

https://github.com/ansible/awx/blob/2799d09d5531542154cd82e645a99700a0e0e95d/awx/main/tasks.py#L973-L976

cc @jakemcdermott @chrismeyersfsu @AlanCoding

[2021-03-23 19:41] akus062381 commented on #2949
all set.

[2021-03-23 19:41] #2949 closed, assigned to akus062381

[2021-03-23 19:46] wenottingham commented on #9361
ssh-agent requires a trailing newline on openssh format keys that it doesn't on non-openssh format keys. Why? Who knows.

https://github.com/ansible/ansible-runner/issues/544#issuecomment-719004397

[2021-03-23 20:00] james-crowley commented on #2502
@ryanpetrello I think this can be closed due to #7607

[2021-03-23 20:33] ghjm commented on #9361
Yes, that patch fixes it for me @ryanpetrello @akus062381.  Or just putting a blank line after the key.

[2021-03-23 20:35] akus062381 commented on #7914
@AlexSCorey can you please help me with this? I am unable to reproduce.

[2021-03-23 20:55] ryanpetrello commented on #9361
Thanks @ghjm, I'll open up a PR.

[2021-03-23 22:19] nicosalvadore commented on #9602
Yep I agree, the docker-compose method was quite easy to install and upgrade as new versions were released.
I understand that it was too much work to maintain for the small AWX team.

Maybe the community could come together and propose an alternative installation process still based on docker-compose. I really don't know the process behind the scenes and the work that it would need though, I guess

[2021-03-24 00:48] gaia opened #9672 "What is the path to serve the app from?"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX home page displays html source code OR is not functional. migrated/upgraded from 17.x on Docker for Windows with WSL

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: docker?
* Ansible version:  2.9.6
* Operating System: Ubuntu 20.04.2 LTS (under Windows 10, WSL2)
* Web Browser: doesn't make a difference

##### STEPS TO REPRODUCE

afte

[2021-03-24 02:03] avgKol commented on #9625
@shenqinb-star  I have the same error . Did you find out what needs to be fixed here to install the collections and requirements ?

[2021-03-24 02:19] jborean93 commented on #9434
There could be a few reasons why this is happening, my guess is either

* Cert validation issues
* Tower only offers TLS 1.2+ which can cause issues out of the box on some Windows PowerShell setups

The error message is a cause of `Set-StrictMode -Version 2` where invalid properties are now an error and the catch block could catch all sorts of exceptions, e.g. ones without a `Response`.

I've subm

[2021-03-24 07:58] 4F2E4A2E commented on #490
Thanks to this post, I was able to pass the config in the following way:

* Install the awx cli
[code]

* Get a token https://awx/#/applications
[code]

[2021-03-24 09:08] igramic opened #9674 "awx.awx.tower_organization is not working in 18.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running
  awx.awx.tower_organization:
    name: "{{ inventory_hostname  }}"
    custom_virtualenv: "{{ venv_name }}"
    tower_oauthtoken: "{{ tower_token }}"
    state: present
    tower_host: "{{ tower_url }}"
There is parameter error
"Unsupported parameters for (awx.awx.tower_organization) module: custom_virtualenv Supported parameters include:

[2021-03-24 12:22] jainnikhil30 commented on #7133
similar old RFE here: https://github.com/ansible/awx/issues/1846

[2021-03-24 12:32] ghost commented on #9552
Same for me on latest devel 18.0.0 with the given install instructions. (clean install)

Ubuntu 18.04.5 LTS

[2021-03-24 12:55] ryanpetrello commented on #9674
Hey @igramic,

`custom_virtualenv` is no longer a supported parameter for this module, because Custom Virtual Environment support was removed in 18.0.0.  You'll need to update your playbook usage to remove this parameter.

[2021-03-24 12:55] #9674 closed, assigned to nobody

[2021-03-24 12:56] lemmy04 opened #9675 "Running 18.0.0 in local docker with migrated data from 17.1.0: migration script didn't wait long enough for postgres to start"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I tried to migrate the database from my docker based 17.1.0 AWX instance into the news 18.0 following the instructions in https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md but at the end of the play this happened:

TASK [migrate : Restore to new postgres container] ****************************************************

[2021-03-24 13:02] ryanpetrello commented on #9602
@nicosalvadore,

You can still install AWX using docker-compose, there just aren't official images published:

https://github.com/ansible/awx/tree/devel/tools/docker-compose

[code]

[2021-03-24 13:07] #2502 closed, assigned to nobody

[2021-03-24 13:12] AlexSCorey commented on #7914
@akus062381 @unlikelyzero I believe this issue has been resolved. Based on my testing just now, and Mike's image above it have been resolved.  I am closing this now.

[2021-03-24 13:12] #7914 closed, assigned to akus062381

[2021-03-24 13:18] AlexSCorey opened #9676 "When Prompt on Launch Content Error is closed, the Prompt on Launch Modal Open"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Force a content Error on a job template that has a prompt on launch.

##### STEPS TO REPRODUCE

For a content Error on a prompt on launch job template.  A content Error is rendered inside a modal. Close the modal
https://github.com/ansible/awx/issues/7914#issuecomment-773422343

##### EXPECTED RESULTS

Just the template list is rendered
##### ACTUAL RE

[2021-03-24 13:19] sean-m-sullivan commented on #9573
So Tower allows admin users, or users of two orgs to use credentials from both orgs in a single job template, Job templates technically inherit their orgs from their project. In this situation this is an expected behavior, as the modules are built to reflect the options available in the api, and we don't have a way at the moment to support a cred+org lookup in a job template.

This issue has been

[2021-03-24 13:20] lemmy04 opened #9677 "Regression: Running 18.0.0 on docker: no obvious way to use own certificate instead of the self signed one"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I've installed 18.0.0 with migrated data from 17.1.0 in docker as described in https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md.
Accessing the tower url on my test host gives me certificate warnings, and since my local intranet uses HSTS I can't add an exception - hence no tests.

##### ENVIRONMENT
* AWX version: 18

[2021-03-24 13:24] dannyvanderaa commented on #9610
Same issue here, seems to be for all Tower managed credential types. For example i am also missing source control

[2021-03-24 13:26] lemmy04 commented on #9672
Did you follow the migration instructions on https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md?

I had the same thing, until i ran the last step - the "docker exec..." one. Also: #9675 - you might have to actually run the migration play twice.

[2021-03-24 13:44] shanemcd commented on #9672
The steps for building the UI are documented here: https://github.com/ansible/awx/tree/devel/tools/docker-compose#clean-and-build-ui

[2021-03-24 13:44] #9672 closed, assigned to nobody

[2021-03-24 14:02] lemmy04 opened #9678 "18.0.0: changing the logo in settings changes it only on the login page but not in the page headers"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I've put my own logo in the settings, but that only changes the logo on the login page, not in the page headers

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.19

##### STEPS TO REPRODUCE

- Create a png file (with transparency)
- upload it to AWX in the UI settings
- save settings

##### EXPECTED

[2021-03-24 14:03] nicosalvadore commented on #9602
@ryanpetrello Thank you for your insight, I've read the new docs a second time and I guess it should indeed be okay for most of us with tiny deployment.

[2021-03-24 14:06] lemmy04 opened #9679 "Question: does AWX really need over a hundred open ports now?"
##### ISSUE TYPE

 - Documentation

##### COMPONENT NAME

 - Installer

##### SUMMARY
After installing AWX 18.0.0 in docker I see over a hundred forwarded ports. No explanation in the documentation what these are needed for, and if the number could be reduced.

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: docker on linux

##### STEPS TO REPRODUCE

Install AWX in docker as describe

[2021-03-24 14:10] lemmy04 opened #9680 "AWX is listening on 0.0.0.0 when the docs say localhost"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When installing AWX < 18.0.0 in a local docker setup it was possible to specify the listen address. This is not possible anymore (or not documented).
Also: AWX is listening on 0.0.0.0 instead of 127.0.0.1 as it says in the docs.

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.19

##### STEPS TO RE

[2021-03-24 14:13] akus062381 opened #9681 "[ui_next] Add testability- Filter by Job Type/Status In Dashboard and Jobs List"
ISSUE TYPE
Task

SUMMARY
This task ticket tracks the work to add testability to the filter by Job Type/Status In the Dashboard Recent Jobs List and the Jobs Tab.

[2021-03-24 14:21] sean-m-sullivan commented on #9603
So Notifications are counterintuitive and require trial and error to get them working. Add to that ansible doesn't like passing strings with double curly brackets in them because they think they are variables. AND tower wants the messages to be in a json dict format. So this is what I found works, what it looks like is that tower is rejecting your values and then just not giving an error message,

[2021-03-24 14:23] akus062381 commented on #5033
- [ ] Verified that this has been implemented in the new UI
- [ ] Stubs have been added- refer to https://github.com/ansible/tower-qa/pull/6123
- [ ] Manual tests performed
- [ ] Testability needs improvement- see https://github.com/ansible/awx/issues/9681

[2021-03-24 14:23] #5033 closed, assigned to akus062381

[2021-03-24 14:26] ryanpetrello commented on #9679
duplicate of https://github.com/ansible/awx/issues/9680

[2021-03-24 14:26] #9679 closed, assigned to nobody

[2021-03-24 14:27] shanemcd commented on #9679
Our development environment uses these ports for the `sdb` debugger we use.

It sounds like you are trying to use the development environment in a production scenario, which is not advised.

[2021-03-24 14:28] ryanpetrello commented on #9680
Hey @lemmy04,

The docker-compose method outlined at https://github.com/ansible/awx/tree/devel/tools/docker-compose is an environment the AWX maintainers also use as a development environment, and (by default) it exposes a port range used by an interactive debugger we utilize.  We could maybe come up with a way to turn off this behavior by default.

[2021-03-24 14:29] shanemcd commented on #9680
Personal opinion: I dont like the idea of us trying to make our development environment more friendly for people trying to use it in production. Don't do that.

[2021-03-24 14:31] ryanpetrello commented on #9680
@lemmy04,

If you want to change the behavior in your environment, the file you'll want to modify is here:

https://github.com/ansible/awx/blob/devel/tools/docker-compose/ansible/roles/sources/templates/docker-compose.yml.j2

[2021-03-24 14:31] #9680 closed, assigned to nobody

[2021-03-24 14:34] ryanpetrello commented on #9602
@nicosalvadore,

Yes, the docker-compose has always been something we've only recommended for a minimal deployment for testing AWX - it's what most of the maintainers run on their laptops for development purposes.

It's not (and never will be) intended for production environments.

[2021-03-24 14:36] AlexSCorey commented on #9676
Actually looks like the contentError within the prompt on launch workflow might be dead code. We can probably remove it.

[2021-03-24 14:37] shanemcd commented on #9677
I could see us merging a PR for this, but I do not consider this a regression. The development environment was not intended to be a drop-in replacement for the local docker installer. If you are looking for a more complete solution, you should use the awx-operator.

[2021-03-24 14:37] #9677 closed, assigned to nobody

[2021-03-24 14:38] lemmy04 commented on #9679
oh that's what they are for... ok thanks

[2021-03-24 14:38] jakemcdermott commented on #9678
:wave:

The custom login logo setting is currently only for the login page. To change the header logo, you need to use a different asset repo when building the container image.

That said, I agree that this behavior isn't ideal. It'd be a lot more convenient if all of the logos, images, etc. could be customized in the same place and without necessarily having to do a rebuild or reinstall.

[2021-03-24 14:54] lemmy04 commented on #9678
So it's basically back to the way it was when we had to build the images to use our own ssl certificates? what repo is that, or how can I create my own?

[2021-03-24 14:57] jakemcdermott commented on #9361
This all seems vaguely familiar. I think we've encountered a bug like this before but in a different context.

[2021-03-24 14:59] shanemcd commented on #9678
You can see how that works here: https://github.com/ansible/awx/blob/f06141eb00a6e5f454d023437cd5ce0969332d65/tools/ansible/roles/image_build/tasks/main.yml#L7-L12

The awx-logos directory is expected to be next to `awx`

[2021-03-24 15:01] jakemcdermott commented on #9361
Oh, yep :sweat_smile: see bill's [comment](https://github.com/ansible/awx/issues/9361#issuecomment-805186043)

Looks like we'll add in the newline. Another option could be validating the input data before saving but modifying it automatically before running seems nicer and more convenient.

@ryanpetrello @akus062381 Just to confirm my understanding so far:

Is the ui unexpectedly deleting the newl

[2021-03-24 15:09] ryanpetrello commented on #9678
Hey @lemmy04,

It sounds like @jakemcdermott's comment addresses the matter brought up in *this* issue.

Since I've seen you comment on and file a few issues now, and you seem bothered by a number of recent changes, I'd like to point out that:

- Many of the breaking changes you've noticed were announced to the community at Ansible Fest last fall, and on our public mailing list.
- AWX 18.0.0 is a

[2021-03-24 15:19] ryanpetrello commented on #9625
You all want to make sure you see something like this on your Organization:

<img width="908" alt="image" src="https://user-images.githubusercontent.com/214912/112335563-ba153d00-8c92-11eb-9580-9662e5ec3429.png">

(...that a credential is defined here that points at galaxy.ansible.com):

<img width="1281" alt="image" src="https://user-images.githubusercontent.com/214912/112335643-ca2d1c80-8c92-11e

[2021-03-24 15:29] ryanpetrello commented on #9361
I don't think we *need* UI work here.  The data could come in from other clients too.  We've got precedent on auto-fixing this folks on the backend in other places:

https://github.com/ansible/awx/issues/9361#issuecomment-805176002

If you *want* to push a commit to my PR, though, go for it 😄

[2021-03-24 15:32] gaia commented on #9672
I did complete the last step. I completed all the steps*. **I am only asking WHICH PATH do i run the server from - can I pls get a straight answer to that?** It can't be that I have to run `docker exec tools_awx_1 make clean-ui ui-devel` every time I want to start the server, especially since the purpose is to do away with docker.

*Had to run some things twice (for example, step 2 hangs bc the sc

[2021-03-24 16:07] avgKol commented on #9625
Thanks @ryanpetrello  . Do we also need to run these inside the awx-task container ?
[code]

I am following the steps in this [post](http://blog.networktocode.com/post/kubernetes-collection-ansible) to run Kubernetes tasks in AWX.

[2021-03-24 16:47] prantikb opened #9685 "Running Ad-hoc command through shell module is not executing against all given hosts"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running an ad-hoc command (e.g. hostname) using the shell module against an inventory's hosts, it seems the command is executing only against a single host. However, the command is running properly when ran as tasks within a playbook.

e.g. running hostname using the shell module as an ad-hoc command against 192.168.100.112 and 192.168.100.113 is

[2021-03-24 17:20] akus062381 opened #9687 "[ui_next] Add Testability to Details tab of a Credential that uses a secret external source"
Type: Task

Purpose: To track the addition of testability for the details tab of a credential that uses a secret external source.

[2021-03-24 17:20] branic commented on #9573
@sean-m-sullivan I didn't realize that IDs could be used directly with the modules instead of the names. I'll give that a try.

[2021-03-24 17:22] akus062381 commented on #7127
Manually tested.
Testability needed - see https://github.com/ansible/awx/issues/9687
Stubs added for coverage- see https://github.com/ansible/tower-qa/pull/6124

[2021-03-24 17:22] #7127 closed, assigned to akus062381

[2021-03-24 17:48] #5057 closed, assigned to amolgautam25, marshmalien, yagomarques, masbahnana

[2021-03-24 19:01] nixocio commented on #7602
@jakemcdermott, based on the above I consider this issue verified. Closing.

[2021-03-24 19:01] #7602 closed, assigned to nobody

[2021-03-24 19:11] akus062381 commented on #2521
I just tested this, at first it worked,  but then I started getting the following error when logged in as the read-only user (see below for further description of why this error is popping up and how it might be adjusted to provide more helpful information to the user):

![image](https://user-images.githubusercontent.com/63685497/112369928-27d16100-8cb3-11eb-8492-60528678c8fc.png)

Putting back in

[2021-03-24 19:22] akus062381 commented on #2521
Observations:
1) This has been fixed and implemented in the new UI.
2) If a WF Vizualizer has multiple nodes in it, a read-only user must be given read-only access to each different type of node in order to view the information about that node. For example- in the above screenshot, the read-only user was given read-only access to abash-workflow, and when they click the "i", they see the informatio

[2021-03-24 21:04] tiagodread commented on #9487
Fixed

[2021-03-24 21:04] #9487 closed, assigned to nixocio

[2021-03-24 21:51] lemmy04 commented on #9678
There's a mailinglist? Gotta subscribe to that, where can I find it?

And I wouldn't call my home network a production environment, it's just that my testbed here doesn't have the ressources to run minishift.

Would AWX run inside K3S on a raspberry pi 4b? 4 Cores, 8Gig memory...

[2021-03-24 22:10] ryanpetrello commented on #9678
Hey @lemmy04,

The AWX mailing list is available at: https://groups.google.com/g/awx-project

That's fair - we have a lot of users that rely on the Docker-based deployment for DIY and tinkering on side projects, so it sounds like it is a better fit for your use case.  Just know that the recent changes we made to this install method *are* a breaking change (signified by the major version number cha

[2021-03-25 02:40] gaia commented on #9672
this is what i get after i finish the 3rd step:
![image](https://user-images.githubusercontent.com/87547/112410556-9a086c80-8cd8-11eb-8a70-469067f78e49.png)

if i cloned awx to `~/awx`, where do I serve the app from? I've been trying every path, and I either get a login screen with a little angry cartoon on it, or i get the

[code]

let me say it again, though IDK if this is to blame: I am using W

[2021-03-25 05:56] menjaben opened #9692 "Windows collection not included in default EE"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
(Apologies if "Bug Report" is not the best description of this issue)

Hello, I'm probably one of very few who will have this issue, but it seems the default awx-ee image installed with 18.0.0 does not contain the ansible.windows collection. I've tried (and failed) to build a custom EE using ansible-builder and listin

[2021-03-25 06:08] Commifreak opened #9693 "[18.0.0] Upgrade question: Migrations from Docker are not using minikube...?"
##### SUMMARY
New installs use minikube. As I can read and see, upgrades/migratiosn from docker are not ending in minikube, am I right? I thought the docker installs are ending up migrating and using minikube?

[2021-03-25 06:30] lemmy04 commented on #9678
I can totally understand the reasoning behind it...

[2021-03-25 06:50] suryarao67 commented on #8505
Thanks @ryanpetrello
Is it possible to get some sample failure log printed to stderr please?

[2021-03-25 09:36] lemmy04 commented on #9672
- are you running WSL1 or WSL2?
- which linux distro are you using inside WSL?
- can that WSL session run linux containers?

[2021-03-25 10:06] roddick-mark opened #9694 "[17.0.1] - Multiple choice survey fields are auto populated with the first item in the dropdown list"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Multiple choice survey fields are auto populated with the first item in the dropdown list.
Before the UI change if the default value was blank, the field wasn't auto populated. This made it easier to see what questions you have answered and what you have not.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux
* Ansible versi

[2021-03-25 11:23] dhoppe opened #9695 "Wrong prefix for Docker volumes"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The Ansible playbook ```migrate.yml``` creates Docker volumes with the prefix ```tools_```. However, when the command ```make docker-compose``` is executed, Docker volumes with the prefix ```sources_``` are created.

##### ENVIRONMENT

* AWX version: 18.0.0
* AWX install method: docker for mac
* Ansible version:  2.10.7
* Operating System: macOS Catal

[2021-03-25 12:15] mabashian commented on #9610
@abdel-ops @dannyvanderaa do you all have some custom credential types?  If so, how many?

[2021-03-25 12:56] dannyvanderaa commented on #9610
@mabashian , yes I have Custom Credential Types, 16 :)

[2021-03-25 12:56] bergmannf commented on #9253
When using the newest version of the AWX operator it is already deploying the new support for execution environments, but those are not correctly syncing the inventory sources either (it seems to be a path issue though) - might this be related to this new model?

More information is here https://github.com/ansible/awx-operator/issues/146 - as I am very uncertain if this is related to the EE model

[2021-03-25 12:59] AlexSCorey commented on #9676
QE can you confirm whether there is a way to trigger a content Error before the modal opens?

[2021-03-25 13:05] ryanpetrello commented on #8505
@suryarao67

Here's an example of what this looks like in older versions of AWX.  I made a change in AWX >= 18.0.0 to make it a little *less* verbose:

https://github.com/ansible/awx/pull/9452#issuecomment-791558081

[2021-03-25 13:09] ryanpetrello commented on #9693
Hey @Commifreak,

There isn't a migration path from Docker -> minikube.

17.x users who were deploying with Docker should follow these instructions to continue to deploy to Docker:
https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md
https://github.com/ansible/awx/tree/devel/tools/docker-compose

minikube is recommended for AWX users who want to deploy the AWX oper

[2021-03-25 13:09] #9693 closed, assigned to nobody

[2021-03-25 13:29] chrismeyersfsu commented on #9361
I think this is a problem for the saml certs also.

[2021-03-25 13:30] akus062381 commented on #4745
Manually verified this has been fixed

[2021-03-25 13:30] akus062381 commented on #5689
Per @unlikelyzero, just execute and stub out.

[2021-03-25 13:48] Commifreak commented on #9693
I was curious about the line saying `If you are migrating data from a Local Docker installation (17.0.1 and prior) to AWX 18.0 or higher, you can migrate your data to the development environment via the migrate.yml playbook.`

And: `AWX can also alternatively be installed and run in Docker, but this install path is only recommended for development/test-oriented deployments, and has no official pub

[2021-03-25 13:48] tiagodread commented on #9189
Tests in place

[2021-03-25 13:48] #9189 closed, assigned to nixocio

[2021-03-25 13:48] abdel-ops opened #9698 "error when i try to use a developped collection"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker on linux, docker for mac, boot2docker
* Ansible version:  2.10.7
* Operating System: Linux centos
* Web Browser:

##### STEPS TO REPRODUCE

developp collection ,

##### EXPECTED RESULTS

use lookup plugins

##### ACTUAL RESULTS
collection loaded but the playbook doesn't found the plu

[2021-03-25 14:27] ryanpetrello commented on #9693
@Commifreak,

Yep, we don't recommend Docker-based deployment for production oriented deployments (instead we recommend people deploy to K8S).

[2021-03-25 14:34] Commifreak commented on #9693
Is there any way then to migrate from docker to it?

[2021-03-25 14:35] tiagodread commented on #9190
@one-t could we close this issue?

[2021-03-25 14:36] tiagodread commented on #9308
Closing

[2021-03-25 14:36] #9308 closed, assigned to nixocio

[2021-03-25 14:38] shanemcd commented on #9693
@Commifreak No automated or documented way. You could try hacking through it yourself with pg_dump / pg_restore.

[2021-03-25 14:50] tiagodread opened #9700 "Use the EE associated with WF as a fallback for WF nodes"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Today, if you add an EE to the workflow and leave the JT node EE empty and launch the workflow, each JT node will be using the EE global default not the same as specified on WF level.

[2021-03-25 14:55] lukasertl opened #9701 "Inventory file dropdown adds slash to filename"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Creating an inventory - Sourced from a project.  The dropdown for the inventory file actually shows the correct file (and others), but if I choose it there's a slash added to the end of the filename.  The same thing happens if I freely type a filename into the textbox.

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: openshift (using AWX

[2021-03-25 15:01] tiagodread commented on #9700
Duple of https://github.com/ansible/awx/issues/9560

[2021-03-25 15:01] #9700 closed, assigned to nobody

[2021-03-25 15:01] tech2734 commented on #5209
I am running into more and more clients that are using Bitbucket and have a pretty clear need for this functionality. Please reconsider supporting it. I would help out with testing as well. thanks.

[2021-03-25 15:06] kladiv commented on #9701
+1 same issue

[2021-03-25 15:08] ryanpetrello commented on #9693
Yep, what @shanemcd said - you could *probably* make a backup of the database, install a new AWX on Minikube, and restore the database dump.  But there's no automated tooling that I know of to do this today.

[2021-03-25 15:17] akus062381 opened #9702 "[ui-next] Add testability for JT survey prompt on launch modal"
Testability needs to be added for the modal that appears when a JT has a survey and the user is prompted for variables on launch:
![image](https://user-images.githubusercontent.com/63685497/112496924-84885680-8d5b-11eb-84fa-29483f81c3ad.png)
![image](https://user-images.githubusercontent.com/63685497/112496965-8c47fb00-8d5b-11eb-81ff-edbe4b7b1019.png)

[2021-03-25 15:17] akus062381 commented on #5689
Coverage added: https://github.com/ansible/tower-qa/pull/6131
Testability issue added: https://github.com/ansible/awx/issues/9702

[2021-03-25 15:17] #5689 closed, assigned to akus062381

[2021-03-25 15:23] #9190 closed, assigned to nixocio

[2021-03-25 15:31] kladiv opened #9704 "AWX 18.0.0: Inventory Source from a Project not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Inventory Source from a Project seems not work in AWX 18.0.0

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: AWX Operator
* Operating System: Ubuntu 20.04 + k3s v1.20.0+k3s2 (Kubernetes)
* EE: Default EE (built-in in AWX 18.0.0)

##### STEPS TO REPRODUCE

1. Add an SCM Project in AWX + sync the project
2. Add an Inventory in AWX
3. Add I

[2021-03-25 15:54] #4745 closed, assigned to akus062381

[2021-03-25 15:59] kladiv commented on #9253
Same issue https://github.com/ansible/awx/issues/9704

[2021-03-25 16:21] shanemcd commented on #9704
cc @AlanCoding

[2021-03-25 16:31] Commifreak commented on #9693
Okay, thanks. Since the pg db contains everything AWX need (settings, keys etc) this should probably work, right?

if yes and Iam able to do it, I tell the steps here.

[2021-03-25 16:46] kdelee commented on #9704
@yagomarques could you try and reproduce this? Ping me if you need help

[2021-03-25 16:47] shanemcd commented on #9704
Since we are not seeing this in our nightly tests, this might be specific to running in k8s.

[2021-03-25 16:50] MaximilianMeister commented on #9704
:+1: Same issue here, and yes, it's in Kubernetes

[2021-03-25 16:54] gaia commented on #9672
![image](https://user-images.githubusercontent.com/87547/112506464-0623b880-8d4b-11eb-809f-73aaba9de9cd.png)

Minikube on WSL is funky. It seems that kubernetes will be easier as there is an official method to enable them:
https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/

I got kubernetes working

![image](https://user-images.githubusercontent.com/87547/112516749

[2021-03-25 16:55] ManuelPerrot commented on #9704
Same issue here using Kubernetes.
It checks in `/runner/project/inventory/`
While the project is actually in `/var/lib/awx/projects/`

[2021-03-25 17:04] ryanpetrello commented on #9472
@elyezer I think we should be able to close this once https://github.com/ansible/awx/pull/9697/ merges.

[2021-03-25 17:41] ryanpetrello commented on #9693
One thing you'll want to make sure you copy *before* upgrading is the "secret key" value that's used to encrypt/decrypt secret values.  In Docker 17.x, this value is set in your inventory file: https://github.com/ansible/awx/blob/17.1.0/installer/inventory#L116

[2021-03-25 17:44] gmarsay commented on #9704
Same issue here using Kubernetes.

[2021-03-25 17:46] james-crowley commented on #9693
@ryanpetrello On a related note, moving from 17.X to 18.0, I noticed the `task` container is no longer in the deployment. Did you guys changes this feature?

Looking at the dev docker-compose file for 18.0 there is no mention of the task container. I tried digging through the operator as well to see what containers are getting deployed.

[2021-03-25 17:51] ryanpetrello commented on #9693
@james-crowley yep, in the base 18.x `docker-compose` deployment, all of the Tower services run in just one container.  PostgreSQL and Redis run in their own:

[code]

[2021-03-25 17:56] lorenzgith commented on #8994
Also in 18.0.0!!

[2021-03-25 17:58] lorenzgith commented on #9242
Nope

[2021-03-25 18:02] james-crowley commented on #9693
@ryanpetrello When deploying it via the operator I assume its pretty much the same thing expect postgres might be pulled out for OCP.

What was the task container original there for? Database migrations/setting up default users?

I did notice the task script was still in the 18.0 docker-compose folders. I got a PR coming in to fix some multi-arch issues with the moving of files for 17.X to 18.0. D

[2021-03-25 18:11] philipsd6 opened #9709 "Enable use of a cookiejar by awxkit"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
2FA is required for accessing the network where our AWX is located. If the MFA portal is navigated through the browser, then we have a session token in the browser cookiejar and can access the AWX UI or API browser, log in, and use it. In order to use the AWXKIT CLI, we would need to access that cookiejar.

So I request that the awx cli add support f

[2021-03-25 18:14] john-westcott-iv commented on #9632
@ryanpetrello This looks like it might be an issue with the API. I created 100 schedules against a job template and if I go to /api/v2/job_templates/9/schedules/?page_size=1 I get one job back with let's say ID 25. Hitting the next link also gives me back ID 25.

[2021-03-25 18:47] shanemcd commented on #9693
The web / task containers are still separate when running on k8s. The development environment just shoves everything in a monolithic container because it was originally designed to mimic a VM. We have another development environment that mimics a k8s install: https://github.com/ansible/awx/blob/devel/docs/development/minikube.md

[2021-03-25 18:49] ryanpetrello commented on #9693
Yep ☝️

[2021-03-25 20:23] dugs951 opened #9712 "NO Inventory"
I download the Version 18 but i dont have installer and inventory.
How i can Upgrade from 17.1 to 18?

Tnx

[2021-03-25 20:24] akus062381 commented on #4205
visual test added

[2021-03-25 20:24] #4205 closed, assigned to akus062381

[2021-03-25 20:37] shanemcd commented on #9712
The old installer directory has been removed. Check out the changelog, which contains info about the new install options: https://github.com/ansible/awx/blob/devel/CHANGELOG.md#1800-march-23-2021

[2021-03-25 20:37] #9712 closed, assigned to nobody

[2021-03-25 20:39] shanemcd commented on #9695
Merging your PR. Thanks.

[2021-03-25 20:39] #9695 closed, assigned to nobody

[2021-03-25 20:59] shanemcd commented on #9704
Hi all. I've recreated the issue and I'm looking at it now.

[2021-03-26 02:36] phemmer opened #9714 "Unable to cancel job - method POST not allowed"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I had an inventory sync job that was stuck. Upon trying to cancel it, I got an error saying `Method "POST" not allowed`

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: minishift
* Ansible version:
* Operating System: Debian 10
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Get a stuck job?
2. Try to cancel job.

##### EXPECTED RESUL

[2021-03-26 07:34] shenqinb-star commented on #9625
@ryanpetrello , it works after adding Galaxy credential to our Organization. thanks a lot.

[2021-03-26 07:43] balonik opened #9715 "Clarify what it means for project updates to have a default execution environment"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Execution environment is not used when executing (manual) project sync.

Project sync is an Ansible Playbook run as well, it is expected to honor the Execution Environment setting?

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: AWX Operator
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

Change th

[2021-03-26 07:58] balonik opened #9716 "Execution Environment defined on resources doesn't work with Container Groups"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
It should be possible to override Execution Environment by setting the appropriate settings in Project or Template definition.
In case Instance Group settings is modified to have a different default worker image like this

[code]

The image `my_custom_awx-ee:latest` is ALWAYS used for Jobs runs ignoring the Execution Environment settings in Project and

[2021-03-26 08:10] balonik commented on #9704
I am not sure if it's related, but I am not able to run any Job in Kubernetes deployment.
All jobs fail with

[code]

[2021-03-26 08:50] thijsvdn commented on #9632
@john-westcott-iv, I agree that it indeed seems to be a problem in the API. A page size of 1 misbehaves when using the awx.awx.tower_api, but seems to work fine for me when calling /api/v2/job_templates/129/schedules/?page_size=1 and subsequent pages using a REST client.

With a page size of 2 however, things also break down for the latter scenario (68 items in total):

page 1:
#1 = **id 239**
#2

[2021-03-26 08:59] sugimoccos commented on #286
When I want to execute job template toward windows and linux inventory, I have to use credential for linux and group_vars credential with plain text for windows host.
That is not good for me.

I guess splitting job template and executing via workflow is the workaround, but it's really bad.

[2021-03-26 10:21] stefanpinter commented on #9540
@ryanpetrello
Hi! I cloned 18.0 now and I have the same problem. I guess it is because it can't start a container called "awx" because there is already a container called "awx_tools_1" that is listening on 8013...

[2021-03-26 10:31] stefanpinter opened #9717 "Reopen please: Migrating Data from Local Docker - Not connecting to awx:8013"
@ryanpetrello
Hi! I cloned 18.0 now and I have the same problem. I guess it is because it can't start a container called "awx" because there is already a container called "awx_tools_1" that is listening on 8013...

_Originally posted by @stefanpinter in https://github.com/ansible/awx/issues/9540#issuecomment-808099539_

[2021-03-26 12:32] nicolaibaralmueller opened #9718 "AWX 18.0.0 cannot connect to host awx:8013 ssl"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

make docker-compose results in the error `WARNING  [-] awx.main.wsbroadcast Connection from awx_1 to awx failed: 'Cannot connect to host awx:8013 ssl:False [Connect call failed ('192.168.1.86', 8013)]'`

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install docker on linux
* Ansible version:  2.10.1
* Operating System: Centos 7.9.2009
* Python version

[2021-03-26 13:10] shanemcd commented on #9715
This is by design. There is an EE inside of the control plane pod used for Project Updates. Some projects can be really big, and the overhead of cloning them inside of a remote EE and streaming the project back to the control plane would be a major performance impact. You can override the EE used inside of the control plane by supplying `tower_ee_image` on your CR like this: https://github.com/ans

[2021-03-26 13:11] john-westcott-iv commented on #9632
It does seem inconsistent across the API end points. For example, we do test the pagination with page_size = 1 against users but it we also have a fairly low number of users. So it could be a combination of data size, page size and end point. https://github.com/ansible/awx/blob/6aff5d9b5a1d8f882bf6660f07a6cbc5bc0e98e1/awx_collection/tests/integration/targets/tower_lookup_api_plugin/tasks/main.yml#

[2021-03-26 13:14] shanemcd commented on #9715
I just noticed that we _are_ allowing you to provide an EE in the UI for Projects. This is a bug. Will discuss with the team.

[2021-03-26 13:20] thijsvdn commented on #9632
What also doesn't help is that the expected number of objects is returned, so even with a large number of users a test like `length() >= 3` would have missed this one.

[2021-03-26 13:22] ryanpetrello commented on #9540
Hey @stefanpinter,

I'm guessing your install is probably just still busted from the migration on the 17.1.0 upgrade and something in the database might need to be adjusted to get back to normal.

Can you share:

[code]

[2021-03-26 13:22] ryanpetrello commented on #9717
see: https://github.com/ansible/awx/issues/9540#issuecomment-808210417

[2021-03-26 13:22] #9717 closed, assigned to nobody

[2021-03-26 13:25] ryanpetrello commented on #9625
@avgKol,

I'm not sure why that blog article suggests you need to manually install `openshift`; it should already be available in the default virtual environment in recent versions of AWX (https://github.com/ansible/awx/blob/17.1.0/requirements/requirements_ansible.txt#L79)

[2021-03-26 13:27] shanemcd commented on #9716
Ah... It looks like we're always using the EE defined in the Container Group definition. We need to override the `image` field when an EE is returned via our resolving logic. Thanks for opening this.

[2021-03-26 13:27] john-westcott-iv commented on #9632
For anyone in the API team who picks this up, here are steps to replicate. Modify this playbook for your tower host, tower use and tower password and put in a job template ID that exists in your environment:
[code]

Once you have 100 schedules go to /api/v2/job_templates/<job id>/schedules?page_size=1  and note the ID returned. Click on the next link and you should get the same ID on that page.

Y

[2021-03-26 13:40] abdel-ops commented on #9610
For me it noticed that i loose machine and source control credential type after i performed an import  with awx cli command (awx --import) from awx 6.0.0 to 17.0.1

[2021-03-26 13:41] #8878 closed, assigned to akus062381

[2021-03-26 13:46] nixocio opened #9719 "Remove EE field from Project screen"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Remove EE field from Project screen.

See: https://github.com/ansible/awx/issues/9715
Also: https://github.com/ansible/awx/issues/9189

[2021-03-26 13:52] stefanpinter commented on #9540
@ryanpetrello
Hey!
Actually I reverted to a snapshot that I created before trying the update back then so it should be clean...

CONTAINER ID   IMAGE                                              COMMAND                  CREATED          STATUS                      PORTS

[2021-03-26 13:58] ryanpetrello commented on #9540
You'll probably want to delete that old `awx` instance in the database.  Try this?

[code]

[2021-03-26 14:03] ckozler commented on #1815
This is still an issue here too

[2021-03-26 14:06] shanemcd commented on #1815
Custom virtual environments have been removed as of 18.0.0. See changelog for details. https://github.com/ansible/awx/blob/devel/CHANGELOG.md#1800-march-23-2021

[2021-03-26 14:09] stefanpinter commented on #9540
@ryanpetrello ok i did, it stopped  with the messages 👍  but it is doing this now for 10 minutes already... is this okay? it keeps repeating...

awx_1_1     | 2021-03-26 14:06:57,958 DEBUG    [b42e55b5] awx.main.scheduler Finishing Scheduler
awx_1_1     | DEBUG 2021/03/26 14:07:02 Sending service advertisement: &{awx_1 control 2021-03-26 14:07:02.513776337 +0000 UTC m=+1146.811909029 1 map[] []}
a

[2021-03-26 14:13] ryanpetrello commented on #9540
Are you sure you're on 18.x, and not 17.x?  We lowered the default verbosity of these messages quite awhile ago cc @jbradberry

What does this report?

`~ awx-manage --version`

[2021-03-26 14:17] stefanpinter commented on #9540
@ryanpetrello  oh shi... yes, somehow it is the wrong checkout now... i'll revert to my new snapshot and will try again

[2021-03-26 14:18] ckozler commented on #1815
I am a little confused. Its documented that installation for docker containers should be done with operator but that page says to use docker-compose. Which is the more supported / correct method for installation of awx in containers and/or kube to also leverage this new functionality which deprecates custom venv? Additionally, wouldn't the documentation on the ansible website be updated before suc

[2021-03-26 14:26] stefanpinter commented on #9540
@ryanpetrello
now i get this when running the playbook, oh no?!
< TASK [migrate : Start dev env database container] >
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Configuration error - The Compose file '/root/awx/tools/docker-compose/ansible/../_sources/docker-compose.yml' is invalid because:\nvolumes.awx_db value Additional properties are not allowed ('name' was unexpected)\nvolumes.

[2021-03-26 14:27] matburt commented on #9540
@stefanpinter You need to update docker-compose now. Sorry about that :(

[2021-03-26 14:28] shanemcd commented on #1815
@ckozler The documentation on the Ansible website is for Tower, which is a paid product derived from this free project. Yes, those docs will be updated before any of this stuff lands in a Tower release. The changelog I linked to contains a bunch of information and helpful links, you just gotta read it.

[2021-03-26 14:31] ckozler commented on #1815
@shanemcd  fair point. Can you please tell me which is the RH/Ansible preferred method for deploying AWX? Operator or docker-compose? I am asking on this thread specifically because it will drive how I redeploy my AWX installation since I have wasted 2 days trying to get venv to work and would like to have the most correct version/method installed

[2021-03-26 14:32] ryanpetrello commented on #1815
@ckozler,

https://github.com/ansible/awx/blob/devel/INSTALL.md#installing-awx

[2021-03-26 14:41] ryanpetrello commented on #9540
@matburt do you know what version of `docker-compose` is required for whatever changed here (so we can update the requirements?)

[2021-03-26 14:46] nixocio commented on #9714
I believe this issue was addressed in the last couple of days. Fix present on devel.  See: https://github.com/ansible/awx/pull/9659

[2021-03-26 14:50] stefanpinter commented on #9540
@matburt  @ryanpetrello  at least i can say that 1.28.6 does work and 1.25 does not :)

[2021-03-26 15:05] stefanpinter commented on #9540
@ryanpetrello  ok i deleted the old instance again:
awx-manage deprovision_instance --hostname awx

bash-4.4# awx-manage dbshell
psql (12.5)
Type "help" for help.

awx=# SELECT * FROM main_instance;
 id |                 uuid                 | hostname |            created            |           modified            | capacity | version | last_isolated_ch
eck | capacity_adjustment | cpu |   memory

[2021-03-26 15:18] stefanpinter commented on #9540
CONTAINER ID   IMAGE                         COMMAND                  CREATED          STATUS                      PORTS                                                                                                                                                              NAMES
d1d13965c06e   quay.io/awx/awx_devel:devel   "/entrypoint.sh laun…"   19 minutes ago   Up 19 minutes               0

[2021-03-26 16:00] ryanpetrello commented on #9540
You shouldn't have to?

Are playbooks running?

[2021-03-26 16:26] masbahnana commented on #9518
all tests are passing.

[2021-03-26 16:27] akus062381 commented on #9510
Need delete button locator added on JT Details page

[2021-03-26 16:30] masbahnana commented on #9518
all tests are passing.

[2021-03-26 16:41] stefanpinter commented on #9540
no, just "make docker-compose"

but really, what is this doing? don't we need both instances anyways? the one you recommended me to delete is my 17.0.1 docker installation and the newer one (awx_1) is the instance that the make is built and the data has to be  transfered from one to the other somehow?

[2021-03-26 16:46] kdelee commented on #9504
This is working now! Closing. thanks

[2021-03-26 16:46] #9504 closed, assigned to shanemcd, kdelee

[2021-03-26 16:56] shanemcd commented on #9718
Seems like might be a dupe of https://github.com/ansible/awx/issues/9540?

[2021-03-26 16:59] tiagodread commented on #9669
#9653 fixed this bug

[2021-03-26 16:59] #9669 closed, assigned to nixocio

[2021-03-26 16:59] stefanpinter commented on #9540
also this happens, don't know if there is a connection:
make docker-compose
...
Creating network "_sources_default" with the default driver
Creating tools_postgres_1 ... error
Creating tools_redis_1    ...

ERROR: for tools_postgres_1  Cannot create container for service postgres: Conflict. The container name "/tools_postgres_1" is already in use by container "1Creating tools_redis_1    ... done

[2021-03-26 17:09] #9088 closed, assigned to nixocio

[2021-03-26 17:11] #9718 closed, assigned to nobody

[2021-03-26 17:12] stefanpinter commented on #9540
@ryanpetrello  can this issue be opened?

[2021-03-26 17:13] shanemcd commented on #9714
Should be fixed in the PR mentioned above, and will be in the next version of AWX.

[2021-03-26 17:13] #9714 closed, assigned to nobody

[2021-03-26 17:18] ryanpetrello commented on #9698
Hey @abdel-ops,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-03-26 17:18] #9698 closed, assigned to nobody

[2021-03-26 17:29] shanemcd commented on #9685
@prantikb Would it be possible for you to pop open the network tab in your dev tools and paste the payload for the POST to `/api/v2/ad_hoc_commands`

[2021-03-26 17:33] ryanpetrello commented on #9612
Hey @zurikus,

I suspect there's something environmental responsible for this.  If you're still encountering this issue in the latest AWX and can't provide some reproducible steps, let us know.

[2021-03-26 17:33] #9612 closed, assigned to nobody

[2021-03-26 17:35] ryanpetrello commented on #9610
@abdel-ops did you *upgrade* directly from 6.0.0 to 17.0.1?

[2021-03-26 17:36] ryanpetrello commented on #9610
I'm not sure how `awx --import` could get your install into this state, because the `Machine` credential shouldn't be deletable from the API.  I suspect you followed an upgrade path across multiple versions that we just haven't tested, and are encountering some sort of bug.

[2021-03-26 17:52] abdel-ops commented on #9698
Hello, thanks for the answer
the goal from my issue is to mention that i when i use awx 17.0.1 to launch plugin from a collection not in core ansible, it doesn't work as it suppose to be.
i thought that it's awx bug .

[2021-03-26 17:53] ryanpetrello commented on #4448
@beeankha removed this awhile ago:

https://github.com/ansible/awx/pull/7075

[2021-03-26 17:53] #4448 closed, assigned to nobody

[2021-03-26 17:56] ryanpetrello commented on #2521
@jakemcdermott any thoughts on this one?

[2021-03-26 18:03] jakemcdermott commented on #3972
Closing - the related code is no longer around

[2021-03-26 18:03] #3972 closed, assigned to nobody

[2021-03-26 18:04] ryanpetrello commented on #5380
This is fairly esoteric; we're unlikely to address this in the very near future.

[2021-03-26 18:10] ryanpetrello commented on #5583
@kdelee I put this in `needs_test`; is that accurate?

[2021-03-26 18:10] prantikb commented on #9685
@shanemcd Sure. Have copied the request payload below. Please let me know if this is what you are looking for.

`{"credential":3,"limit":"192.168.100.112, 192.168.100.113","module_args":"hostname","verbosity":"0","forks":0,"diff_mode":false,"become_enabled":"","module_name":"shell","extra_vars":"---","job_type":"run"}`

[2021-03-26 18:16] ryanpetrello commented on #6270
It looks to me like a fix for this got merged in https://github.com/ansible/awx/pull/8312, so I'm closing this.

[2021-03-26 18:16] #6270 closed, assigned to nobody

[2021-03-26 18:20] ryanpetrello commented on #6478
What @nitzmahone said, if this is something we want to support by default, it belongs in the default execution environment that we ship.

[2021-03-26 18:23] #6770 closed, assigned to nobody

[2021-03-26 18:29] kdelee commented on #5583
Verified by tests that now expect multiple entries

[2021-03-26 18:29] #5583 closed, assigned to fosterseth

[2021-03-26 18:30] kdelee commented on #7060
Verified by extensive use of this feature.
Thanks @yagomarques and @shebangbash and @elyezer for all their work on this along with the developers

[2021-03-26 18:30] #7060 closed, assigned to nobody

[2021-03-26 18:37] ryanpetrello commented on #7388
Hey @unbreakabl3,

Are you still encountering this on newer versions of AWX?

[2021-03-26 18:45] kdelee commented on #7057
The schema has been defined and adopted, and is used in production of the default execution environment which has been validated. Any specific enhancements or bugs will be filed in seperate issues

[2021-03-26 18:45] #7057 closed, assigned to AlanCoding, beeankha, kdelee

[2021-03-26 18:56] #8629 closed, assigned to chrismeyersfsu

[2021-03-26 18:59] ryanpetrello commented on #8740
@shanemcd @rebeccahhh I looked at the checklist items above, and I *think* we've either addressed, or *are* addressing everything in this list (as part of planned work in other filed tickets).

Should we close this?

[2021-03-26 19:01] ryanpetrello commented on #8808
@shanemcd I think this is closable, so I've closed it:

[code]

[2021-03-26 19:01] #8808 closed, assigned to fosterseth

[2021-03-26 19:03] ryanpetrello commented on #9020
Closing, cc @kdelee @fosterseth

[2021-03-26 19:03] #9020 closed, assigned to nobody

[2021-03-26 19:03] ryanpetrello commented on #9019
Closing, cc @kdelee @fosterseth

[2021-03-26 19:03] ryanpetrello commented on #9012
Closing, cc @kdelee @fosterseth

[2021-03-26 19:03] #9012 closed, assigned to Zokormazo, fosterseth

[2021-03-26 19:04] ryanpetrello commented on #9021
We didn't get to this in our first pass on https://github.com/ansible/awx/issues/8629

[2021-03-26 19:04] ryanpetrello commented on #9022
We didn't get to this in our first pass on https://github.com/ansible/awx/issues/8629

[2021-03-26 19:04] ryanpetrello commented on #9023
We didn't get to this in our first pass on https://github.com/ansible/awx/issues/8629

[2021-03-26 19:04] ryanpetrello commented on #9024
We didn't get to this in our first pass on https://github.com/ansible/awx/issues/8629

[2021-03-26 19:04] ryanpetrello commented on #9025
We didn't get to this in our first pass on https://github.com/ansible/awx/issues/8629

[2021-03-26 19:06] ryanpetrello commented on #9146
Hey @csamarajeewa,

👋 The latest version of AWX (18.0.0) no longer uses virtualenvs (see: https://github.com/ansible/awx/issues/5157)

[2021-03-26 19:06] #9146 closed, assigned to rebeccahhh

[2021-03-26 19:21] LokiOfNorse commented on #9602
@ryanpetrello i dont think its been clear that all should be installed in virtual environment in The docks. The docks Are written by really good people, but they Are not understandable for people that is not that good

[2021-03-26 19:23] ryanpetrello commented on #8637
@fosterseth do you think this could be related to your recent bug fix?

[2021-03-26 19:55] nixocio opened #9723 "Add screen to represent EE unified job templates endpoint"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Add screen to represent EE unified job templates endpoint.

See:
![image (12)](https://user-images.githubusercontent.com/9053044/112685919-9c3f0800-8e4b-11eb-938d-d5471de4cc7c.png)

[2021-03-26 20:00] kdelee commented on #9329
This is working as expected, thanks!

[code]

[2021-03-26 20:00] #9329 closed, assigned to ryanpetrello

[2021-03-26 20:17] kdelee commented on #8505
@ryanpetrello can you provide some thoughts on any verification you are looking for on this feature?

[2021-03-26 20:17] kdelee commented on #9472
Closing as obsoleted by https://github.com/ansible/awx/pull/9697

[2021-03-26 20:17] #9472 closed, assigned to nobody

[2021-03-26 20:31] kdelee commented on #9532
This is well covered in tests inside the collection, closing
https://github.com/ansible/awx/blob/devel/awx_collection/test/awx/test_module_utils.py

[2021-03-26 20:31] #9532 closed, assigned to beeankha

[2021-03-26 20:45] ryanpetrello commented on #8505
1.  Enable external logging.
2. Manually stop rsyslogd via `supervisorctl stop ...`
3. Do something that emits a log (log out/in).
4. Verify that a reasonable error (describing that rsyslogd is offline) shows up in AWX logs in (both K8S and non-K8S installs) that includes the "missed" error message.

[2021-03-26 22:07] athomsonitrs commented on #2350
+1

[2021-03-27 14:12] nickjmv opened #9727 "Slack private channel (channel_not_found)"
I'm trying to add the Slack notification via the new Slack apps way. When trying this on public channels it is working as expected. While trying this on a private channel I get the following error in my awx_task container:

`2021-03-27 14:07:11,709 ERROR    awx.main.tasks Send Notification Failed Slack Notification unable to send it-infra: Tower Notification Test 36 https://awx.myorgurl.com (chann

[2021-03-27 18:29] TheSecMaven commented on #286
@saurabh02 but if it can be managed using the API, then it becomes easier. I think this issue is intended to enable the functionality, and offer the ability to manage it via the API so that the issue you described doesn't become unmanageable.

[2021-03-27 18:57] gauravshankarcan commented on #9704
cant seem to use this feature

[2021-03-28 11:50] larueli commented on #9701
I had the same issue on a fresh AWX 18.

The fact is the "runner" is choosig the wrong folder.

When i ran into the issue desribed above, I used the api to edit manually the value and remove the trailing slash.
You can do it easily by opening the dev perspective in firefox and the network tab before hitting the save button while editing a inventory source, click the save button, check the put oper

[2021-03-28 20:31] pmanno commented on #8429
Hi,

Any update on this? I can't seem to find any info in the docs on it.

Also, I want to parameterize the requirements.yml file of the project, so I can update the project branch and all referenced roles. Should be able to just set

version: {{ scm_revision} }  in requirements.yml for that, right?

Thanks,
Paul

[2021-03-29 02:22] sean-m-sullivan commented on #7010
Was checking up on this, This has been solved by the above merge.

[2021-03-29 03:32] crouthamela opened #9728 "Password from install procedure does not work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Password retrieved during install procedure does not work when attempting to login to web interface.

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: minikube
* Ansible version:  2.9.19
* Operating System: Debian 10
* Web Browser: Chrome

##### STEPS TO REPRODUCE

1. Follow install procedure from INSTALL.md
2. Perform the password retriev

[2021-03-29 04:03] sean-m-sullivan commented on #8349
@nesanton Put in a PR to do this when wait is called on the project_update, because that is the situation where the user would be "waiting" on the result to get the information back, otherwise we assume it is changed.

In terms of Inventory Update, last_updated is updated every time a sync is run, regardless if it updated hosts or not. Modified only keep track of when values on the inventory sourc

[2021-03-29 06:44] ronjarrell opened #9730 "[17.1.0] awx will not read and process requirements.yml"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I set up a 17.1.0 server using a repo that previous worked in 10.0.0.  Awx pulls the right repo associated with the project.  If I get into the docker container and look in /var/lib/awx/projects/_10__my_project I find the contents of the repo.  Repo includes a "roles" directory, which is there.  In the "roles' directory is a requirements.yml file (whi

[2021-03-29 07:38] nesanton commented on #8349
Or perhaps propose to change the behavior of last_updated.

[2021-03-29 09:28] abcqwertz commented on #9730
Hi,
I had the same problem on the same version. Did you generate preload data? If not, the installer won't generate the default Ansible Galaxy API token. To solve that I created a new credential of type ``Ansible Galaxy/Automation Hub API Token`` and the Galaxy Server URL ``https://galaxy.ansible.com``. Assign this credential to your organization. After that I was able to download roles and collec

[2021-03-29 09:42] Commifreak opened #9731 "[18 / minikube] Experiences and documentation..."
##### ISSUE TYPE

 - Documentation

I dont know if seomeone is interested in the following text or if Iam just did something the wrong way, maybe someone could just some feedback on my thoughts.

I use ansible since version <10 via docker-compose. Just like many of us, I believe? Since AWX 18, it is not longer supported for prod-environments, as I read. So I decided to switch to the fancy new mini

[2021-03-29 09:58] bdoublet91 commented on #9594
Some news,
I have tested with awx 17.1.0 and get no problems about job failed. All schedule jobs worked. I would also test it in 18.0.0 because some bug was fixed but I didn't see the breaking change about data migration and I just broke up my database. Fortunately, I did backup so I will redeploy in version 17.1.0 and migrate to 18.0.0 and check if ti works.

[2021-03-29 09:59] bdoublet91 commented on #9165
Ok I will deploy awx 18.0.0, test and type a feedback

[2021-03-29 10:58] dannyvanderaa commented on #9610
I upgraded from 15.0.1 to 17.1.0.
Can i do something to support you, to get this solved?

[2021-03-29 11:52] Commifreak commented on #9693
Okay,

I have now the new instance running. I did not used the guide here because I dont know if it is applicable: https://github.com/ansible/awx-operator/blob/devel/docs/migration.md - is it applicable? The old pg_db runs inside a docker on another server, would this work when I publish the ports from docker?

I tried pg_dump/pg_restore. The dump succeded but theres an issue before I want to try

[2021-03-29 12:41] Commifreak commented on #9693
Okay, I got it working.

First, I modified my old awx-postgre container to publish its port 5432 to 0.0.0.0 (Host). That worked. Details on how to do this are available if required.

Then, I used the migrate way from Operator (https://github.com/ansible/awx-operator/blob/devel/docs/migration.md) and ended up with a myawx.yml like this:

[code]

With this, the operator connected to the old pgsql, c

[2021-03-29 12:47] shanemcd commented on #9730
You say `requirements.txt` multiple times, but did you mean `requirements.yml`?

[2021-03-29 12:48] shanemcd commented on #9731
Hello,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-03-29 12:48] #9731 closed, assigned to nobody

[2021-03-29 13:55] larueli commented on #9704
Same issue, you have to set the full path to your project inventory using the inventory source API.

More info here  : https://github.com/ansible/awx/issues/9701#issuecomment-808885957

[2021-03-29 14:02] shanemcd commented on #9701
@larueli Nice hacking. Another tip for you... if you just visit `/api/v2` in your browser, you can do all of this much easier than working in the network tab.

[2021-03-29 14:14] shanemcd opened #9733 "AWX in K8s: Permission denied error when syncing inventory from project"
I ran into this when debugging https://github.com/ansible/awx/issues/9704

[code]

[2021-03-29 14:38] dimovstanimir opened #9734 "Not able to execute playbooks with the latest version of AWX(18.0.0) with minikube"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am not able to execute playbooks successfully with AWX release 18.0.0

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: minikube
* Ansible version:  2.9.13
* Operating System: Ubuntu
* Web Browser: ALL

![image](https://user-images.githubusercontent.com/29769671/112853306-62713a00-90b5-11eb-8afd-ea37372994c8.png)

The same playbook worke

[2021-03-29 14:43] shanemcd commented on #9734
The default Execution Environment is using Ansible 2.11. The module you are trying to use has been moved into a collection.

You need to build a custom Execution Environment that contains https://galaxy.ansible.com/chocolatey/chocolatey.

For steps on building a custom EE, see https://ansible-builder.readthedocs.io/en/latest/index.html

... or you can build your EE on top of 2.9 using quay.io/ansi

[2021-03-29 14:43] #9734 closed, assigned to nobody

[2021-03-29 15:57] unlikelyzero opened #9736 "Pendo configuration is missing from the Settings / User Interface page"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Pendo configuration is missing from the Settings / User Interface page
![Screen Shot 2021-03-29 at 11 56 50 AM](https://user-images.githubusercontent.com/12446869/112864496-dd226100-9085-11eb-8811-b3ad12c6893b.png)

[2021-03-29 16:50] shanemcd opened #9740 "Inventory Updates: replace "Environment" with "Execution Environment""
<img width="921" alt="Ansible AWX 2021-03-29 12-49-11" src="https://user-images.githubusercontent.com/773186/112871403-3b9f0d80-908d-11eb-95fe-435f107c8ce1.png">

[2021-03-29 17:17] #9733 closed, assigned to nobody

[2021-03-29 18:08] shanemcd commented on #9740
This was my fault. I was using an old build of the UI.

[2021-03-29 18:08] #9740 closed, assigned to nixocio

[2021-03-29 18:30] ronjarrell commented on #9730
Yea, sorry, late night brain failure.  The file is definitely requirements.yml, and I updated the original comments

[2021-03-29 18:32] ronjarrell commented on #9730
Thanks for the hint, there are 2 galaxy roles in there that I'll keep this in mind for.  The other dozen or so I just references to github.com repos of our that aren't on galaxy.  I don't think this is the same problem, because I hunted down the source to project_update.yml that awx is running, and that code around line 162 is literally just checking to see if the file requirements.yml or the file

[2021-03-29 18:50] fosterseth commented on #8637
@ryanpetrello yes I believe this is related, and should be fixed with my PR

[2021-03-29 19:03] #9632 closed, assigned to beeankha

[2021-03-29 19:40] beeankha commented on #9632
@thijsvdn Please let me know if this issue is still happening; we just merged in https://github.com/ansible/awx/pull/9738, which hopefully fixed this from the API side.

[2021-03-29 20:31] dimatha commented on #9704
Similar issue when using VMware inventory. Running in K8s via operator. Version 18.0.0. The command runs just fine in the container isolated dir (and the env vars are set accordingly from the json payload):

/tmp/pdd_wrapper_33_b65zji3y/awx_33_zi5340pu$ ansible-inventory -i ./vmware_vm_inventory.yml  --graph -vvvv

The error when triggered from the UI:

`ansible-inventory [core 2.11.0b3.post0]
  c

[2021-03-29 21:31] tiagodread commented on #8171
We can close this when the awx and test PR land

[2021-03-29 21:42] #8171 closed, assigned to nixocio

[2021-03-29 23:21] donald-talbert989 commented on #9610
We are on 17.1.0 and upgraded from 15.0.1 too. I believe this issue may not be related to the upgrade path though. I believe its a pagination issue related to the number of credential types present on the instance.  It seems the new UI is not parsing all of the pages of the `/api/v2/credential_types` endpoint (See screenshot).

![image](https://user-images.githubusercontent.com/81595827/112912307-

[2021-03-30 06:00] quasd commented on #9610
Quick dirty fix, change PAGE_SIZE 25 -> 50
/var/lib/awx/venv/awx/lib/python3.6/site-packages/awx/settings/defaults.py
[code]

[2021-03-30 07:23] dannyvanderaa commented on #9610
Unfortenately this didn't solve this issue.
Still can't choose credential types like machine and source control, when adding credentials

[2021-03-30 07:35] quasd commented on #9610
Did you restart the service/docker? And ofc the 50 limit might have to be higher if you have more credential types. If on docker this needs to be changed inside awx_web

[2021-03-30 08:24] dimatha opened #9746 "AWX 18.0.0: Inventory Source VMware vCenter doesn't work"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: kubernetes via awx operator 0.7.0
* Ansible version:  2.11.0b3.post0
* Operating System:

##### STEPS TO REPRODUCE

1. Add an Inventory in AWX
2. Add Inventory Source as VMware vCenter + set appropriate credentials
3. Sync the inventory

##### EXPECTED RESULTS

Inventory synced from VMware

[2021-03-30 09:11] dannyvanderaa commented on #9610
Restart of the docker did the trick (forgot that).
Hopefully this gets a permanent fix in a new release.

[2021-03-30 11:40] unlikelyzero commented on #9701
This has been updated in our tests

[2021-03-30 11:40] #9701 closed, assigned to nobody

[2021-03-30 11:54] unlikelyzero commented on #9431
this has been fixed in the latest release!

[2021-03-30 11:54] #9431 closed, assigned to nobody

[2021-03-30 12:00] neszt commented on #7442
Vote +1 to include it.

It is annoying that because of such a small basic package, a manual solution has to be found during deployment.

[2021-03-30 12:42] dimovstanimir opened #9747 "Job output not refreshing automatically in AWX 18.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Job output not refreshing automatically in AWX 18.0.0. I need to manually hit F5 or refresh from the browser so I could see what is happening during the job execution.

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: minikube
* Ansible version:  2.9.13
* Operating System: Ubuntu 20.04 LTS
* Web Browser: ALL

[2021-03-30 14:00] larrybg opened #9750 "Management Job "Cleanup Job Details" fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Management Job "Cleanup Job Details" fails

##### ENVIRONMENT
* AWX version: 15.0.0
* AWX install method: docker on linux
* Ansible version:  2.9.13
* Operating System: Mac
* Web Browser: Chrome

##### STEPS TO REPRODUCE

Run maintenance job

##### EXPECTED RESULTS
Removes job's history and shrinks database size

##### ACTUAL RESULTS

Job is failing

#

[2021-03-30 14:15] TheUltimateAbsol commented on #6647
Hi, I stumbled across this issue and there's some things I don't understand...

@wenottingham How do I do per-playbook kinit? I can't seem to find any documentation on this and this is the first I've heard of it. Everything in the ansible-tower docs specify a krb5.conf file somehow in the container.

@jborean93 I was under the assumption that krb5.conf MUST be specified in order for kerberos to fu

[2021-03-30 14:50] james-crowley opened #9751 "Rsyslog Fails to Start due to Conflicting PID"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
While bring up a docker-compose instance, rsyslog fails to start. The task container tries to restart the service but it keeps crashing over and over again. Thus causing the service to enter a fatal state.

##### ENVIRONMENT
* AWX version: 17.1.0
* AWX install method: Docker-Compose on Linux
* Ansible version:  N/A
* Operating System: Ubuntu 20.04
* We

[2021-03-30 15:37] nixocio opened #9752 "Remove isolated and controller nodes from the UI"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Remove isolated and controller nodes to be shown on the UI.

See: https://github.com/ansible/awx/issues/8740

[2021-03-30 16:48] lerminou opened #9753 "Provide some documentation to run AWX-EE with custom ssh config"
##### ISSUE TYPE
 - Documentation Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: minikube
* Ansible version:  X.Y.Z
* Operating System: redhat 8.3
* Web Browser:

##### STEPS TO REPRODUCE

To configure a running environment with a custom ssh key, there is some tasks not documented:

Here is a solution if needed
We need to mount the SSH config directory int

[2021-03-30 16:53] shanemcd commented on #9753
Hi. Is there a reason you can't use a Machine Credential? This definitely isn't a pattern we want to encourage others to follow.

[2021-03-30 16:55] beeankha commented on #9573
Hi @branic , have you had success using the IDs vs names (or the lookup plugin)?

[2021-03-30 17:00] #9416 closed, assigned to nixocio

[2021-03-30 17:05] tiagodread commented on #9432
This was fixed.

[2021-03-30 17:05] #9432 closed, assigned to nobody

[2021-03-30 17:13] lerminou commented on #9753
In my case I need to override some SSH options for some machines
for example: `PubkeyAcceptedKeyTypes=+ssh-dss` and more.
Can i configure the ssh config through machineCredentials

We also have some proxyCommand some hosts or a bastion with PaSSHport for some other

[2021-03-30 17:20] shanemcd commented on #9753
Oh ok. Thanks for the info. That makes sense. No, I don't think you can do that. That would be useful though.

[2021-03-30 17:50] lerminou commented on #9753
In the machine credentials object, can I use multiples credentials in 1 job ?
If I use multiples types of connections for multiples hosts in my inventory at the same time in my job with the configuration above (except the dss in sshd_config),
How AWX knows which credential is needed per host ?

my title wasn't very explicit, fixed

[2021-03-30 17:56] kdelee commented on #5157
this is all covered in builder features

the above are all covered in builder features

done

???

done

done

I think we can close this issue as it has been broken up into other issues

[2021-03-30 17:56] #5157 closed, assigned to unlikelyzero, tiagodread, yagomarques, kdelee

[2021-03-30 19:22] rchaud commented on #8409
@dvzuykov  Do you have an example of the changes you made? I am running into this issue as well.

[2021-03-30 19:59] tiagodread commented on #9723
PR merged and test in place

[2021-03-30 19:59] #9723 closed, assigned to nixocio

[2021-03-30 20:09] kdelee commented on #8507
@shanemcd is this resolved by moving to the operator?

[2021-03-30 20:13] shanemcd commented on #8507
Looks we're still using `extensions/v1beta1` there too: https://github.com/ansible/awx-operator/blob/51e384292c15e0c6d8eaf89c3d0d6afd41fd8b94/roles/installer/templates/tower_ingress.yaml.j2#L3

[2021-03-30 20:27] dugs951 opened #9757 "Installation"
HI,
where i can found manual how install awx 18.0 on Ubuntu 20.04?
I never install minikube and it not working anymore.

[2021-03-30 20:31] shanemcd commented on #9757
For a quick guide: https://github.com/ansible/awx/blob/devel/INSTALL.md

More comprehensive information can be found at: https://github.com/ansible/awx-operator

If you need additional help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-03-30 20:31] #9757 closed, assigned to nobody

[2021-03-30 21:26] ghost opened #9760 "AWX 18.0 Installation"
##### COMPONENT NAME

 - Installer

##### SUMMARY

##### ENVIRONMENT
* AWX version: 18.0
* AWX install method: mnikube
* Ansible version:  2.9.18
* Operating System: Centos 7
* Web Browser: --

##### STEPS TO REPRODUCE
I have never used minikube.
Deployment hangs on "ImagePullBackOff" after following the installation guide.

##### ADDITIONAL INFORMATION

My server had AWX 16.0 on it, and I removed

[2021-03-30 22:11] mikeycmccarthy commented on #9674
We've just experienced this, slightly different module (tower_job_template). The issue was our side with people not pinning their version numbers in their requirements file so it looked like it suddenly broke but actually they had pulled in 18.x without realising.

Out of interest is there anywhere where the dropping of custom_virtualenv is mentioned in the 18.x release? I'm guessing it relates to

[2021-03-30 22:25] unlikelyzero commented on #6800
@redallen will this be made available in the next release?

[2021-03-31 05:31] smithlabs commented on #9267
Did this work for you in AWX or just Ansible? I'm running into issues where it is saying not a valid inventory source. Would love to ask you more about it on a private Slack/Discord.

[2021-03-31 06:00] dvzuykov commented on #8409
@chinochao I modified config map "awx-config", key "awx_settings".
It's should have such line:
REMOTE_HOST_HEADERS = ['HTTP_X_FORWARDED_FOR', 'HTTP_X_ORIGINAL_FORWARDED_FOR']

And after redeploying you will able to see these headers in settings of AWX:
![image](https://user-images.githubusercontent.com/64420176/113097398-7de85c00-91ff-11eb-9381-006a94764125.png)

[2021-03-31 06:26] KazimierzKurz opened #9761 "Installation from packages/ no containers"
ISSUE TYPE

    Documentation

COMPONENT NAME

    Installer

SUMMARY

As supply chain attacks are common this days, installation by "downloading containers" with unknown dependencies and creator motivation is no longer option. In production environment all pieces of software should be reviewed, and using docker or kubernetes platform for such central tool like Ansible store is a thread making att

[2021-03-31 07:17] brskq commented on #9267
@smithlabs It works in both AWX and Ansible. I'm only reachable through https://element.io/. Send me your username and I'll message you.

![ansible_awx-15](https://user-images.githubusercontent.com/64258427/113105425-16c3ab00-91f1-11eb-98aa-bd5f207cdedb.png)

[2021-03-31 07:41] egmar commented on #9761
You can build your own image with `make Dockerfile` followed by `docker build`. The template for Dockerfile is in https://github.com/ansible/awx/blob/devel/tools/ansible/roles/dockerfile/templates/Dockerfile.j2 and you can review everything is used there.

[2021-03-31 07:53] KazimierzKurz commented on #9761
While it is clear we we can do it as this, it is still no documentation nor procedure.
Using docker is useful, but due to security consideration, not accessible for everyone.
I appreciate Your answer, but it is not resolution of the problem - it still installs components not related to AWX itself like helm, kubernetes etc making enormous attack space, and what is even worse, having to deploy such

[2021-03-31 08:16] dperez-sct commented on #2012
@stclark-incomm do you have progress with this?

[2021-03-31 08:42] KazimierzKurz commented on #9761
Maybe this is an answer - https://awx.wiki/installation

[2021-03-31 08:59] abcqwertz opened #9762 "Host_vars and group_vars from different sources are not merged together in one inventory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am trying to merge multiple inventory sources together in one inventory. The sync of hosts and groups works fine but variables are not merged.
The host vm01.testing.local should have an additional variable „hostvar2“ which is coming from the project. The variable is not merged to the host, as you can see in the variables I get in the AWX-web-ui:
[cod

[2021-03-31 10:47] lerminou opened #9763 "AWX18 git inventory from project fails to import"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

inventory no more get imported in AWX

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: minikube
* Ansible version:  X.Y.Z
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

create a project and create an inventory from this project and try to sync it

was OK in AWX 17.1.0 before the upgrade

##### EXPECTED RESULTS

inventory i

[2021-03-31 11:01] mcharanrm opened #9764 "[API] /api/v2/jobs/<job-id>/ is not showing elapsed time of a job"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
`/api/v2/jobs/<job-id>/` is not showing elapsed time of a job on it successful completion. I can see `elpased` value is incrementing while job execution is in progress. But after completing its execution, `elapsed` value is showing as 0.

##### ENVIRONMENT
* AWX version: 4.0.0
* Ansible version:  2.9.18

##### STEPS TO REPRODUCE

Launch a demo job temp

[2021-03-31 11:26] mcharanrm opened #9765 "[Latest nightly build, 4.0.0] Jobs are stuck in running state for long duration"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

On 4.0.0, we can see that jobs been stuck in running state for long period of time. This is something unusual because the same jobs were running smoothly without any issue on 3.8.2.

##### ENVIRONMENT
* AWX version: 4.0.0
* Ansible version:  2.9.18
* Operating System: RHEL8.2

##### STEPS TO REPRODUCE

Create vm's using libvirt and install latest nigh

[2021-03-31 12:34] redallen commented on #6800
It's available in the current prerelease:
[code]
 and will be in the next release.

[2021-03-31 13:02] shanemcd commented on #9763
Dupe of https://github.com/ansible/awx/issues/9704

[2021-03-31 13:02] #9763 closed, assigned to nobody

[2021-03-31 13:03] #9765 closed, assigned to nobody

[2021-03-31 13:07] mcharanrm commented on #9765
sorry my bad, this issue goes to downstream version.

[2021-03-31 13:10] shanemcd commented on #9761
We have no plans to provide a non-containerized solution for AWX.

[2021-03-31 13:10] #9761 closed, assigned to nobody

[2021-03-31 13:10] peterloeffler commented on #9552
Same on CentOS 8 Steam

[2021-03-31 13:12] shanemcd commented on #9760
@ILDev Can you provide the output of:

[code]

[2021-03-31 13:14] shanemcd commented on #9751
@james-crowley The old docker-compose installer has been removed and is not something we will be providing fixes / updates for. Can you reproduce this on AWX 18?

[2021-03-31 13:17] chofstede opened #9766 "AWX 18 Docker-Installation (dev) broken"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX docker-compose-build fails

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: docker
* Operating System: Debian Linux

##### STEPS TO REPRODUCE

$ git clone -b 18.0.0 https://github.com/ansible/awx.git
$ cd awx
$ make docker-compose-build

##### EXPECTED RESULTS

Docker Images are built

##### ACTUAL RESULTS

[code]

[2021-03-31 13:28] ghost commented on #9760
@shanemcd , Thanks for responding.
Attaching the output :
[log.txt](https://github.com/ansible/awx/files/6236866/log.txt)

Additionally, I tried to deploy AWX on a new virtual machine, the installation worked out great, but minikube's IP address is inaccessible from other hosts (Makes sense) , How can I get access from other hosts to AWX's UI?

[2021-03-31 13:46] james-crowley commented on #9751
@shanemcd I did see the removal of the local-docker install. But I happen to look at AWX the day before your AWX 18.0 release :joy: .

As for testing the issue on AWX 18, do you want me to build the containers and use the dev environment? At the moment I do not have an OCP cluster spun up.

I can try to hack something together but I guess I see your point. If it is an issue with docker's volumes v

[2021-03-31 13:54] lassiniemisto opened #9767 "Saving in miscellaneous system settings screen fails due to invalid json formatting in 18.0.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Cannot save miscellaneous system settings. Hidden settings json item CUSTOM_VENV_PATHS seems to be incorrectly stringified although it is an array.

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: AKS with AWX operator,
* Ansible version:  ?
* Operating System:
* Web Browser: Chrome

##### STEPS TO REPRODUCE

(Install fresh AWX with defau

[2021-03-31 13:59] lerminou opened #9768 "AWX18 awx-ee doesn't load collection"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: minikube
* Ansible version:  2.11
* Operating System:
* Web Browser:

##### STEPS TO REPRODUCE

My project contains a a file collections/requirements.yml
During the project synchro the collection is loaded in AWX

When I launch a job:
ERROR! couldn't resolve module/action 'pam_limits'. This

[2021-03-31 14:00] shanemcd commented on #9760
@ILDev that looks like the logs for the operator itself. Did you attach the wrong thing?

[2021-03-31 14:01] #9767 closed, assigned to nobody

[2021-03-31 14:01] lassiniemisto commented on #9767
Duplicate of https://github.com/ansible/awx/issues/9669

[2021-03-31 14:07] ghost commented on #9760
@shanemcd  , Sorry about that, attaching the right one:

[log .txt](https://github.com/ansible/awx/files/6237160/log.txt)

[2021-03-31 14:18] chrismeyersfsu opened #9769 "EE RBAC violation when EE org changes"
##### STEPS TO REPRODUCE

* Create two orgs "Org 1" and "Org 2"
* Create a global EE
* Create a JT in "Org 1"
* Assign the global EE to the JT
* Change the EE, assign "Org 2" to the EE
* Run the JT

##### EXPECTED RESULTS

* For the JT to fail to launch because the associated EE is in a different Org than the JT or maybe for the JT to use the default EE since it doesn't have permission to the expl

[2021-03-31 14:27] mcharanrm commented on #9764
sorry my bad, this issue goes to downstream version.

[2021-03-31 14:27] #9764 closed, assigned to nobody

[2021-03-31 14:30] unlikelyzero commented on #9752
note: this is blocked until job settings related to isolated nodes are updated from the API

[2021-03-31 14:34] AleksandrKls commented on #9552
@ryanpetrello It looks like a massive problem

[2021-03-31 14:36] nixocio opened #9770 "Organization should be used to filter EE related to certain resources"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Organization should be used to filter EE related to certain resources. For instance, the JT EE lookup should show all EE - globally available ones + the ones associated with the Organization that the JT is associated as well. Right now that is not the case.

[2021-03-31 14:36] stclark-incomm commented on #2012
@dperez-sct I apologize I missed adding my change to this. Now that AWX is using an operator to install it is something I will have to revisit to see if this problem is still relevant.

[2021-03-31 15:04] shanemcd commented on #9760
Hmm...

[code]

Maybe it was a blip, either with Quay or Kubernetes itself? Can you try

[code]

and see if it sorts itself out?

[2021-03-31 15:19] stanislaspiron opened #9771 "custom Credential types with extra_vars injector not working"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: microk8s via awx operator
* Ansible version:  version provided in AWX 18.0.0
* Operating System: ubuntu 20.04
* Web Browser: firefox

##### STEPS TO REPRODUCE

Create a simple user/ password credential type:
Input configuration
[code]

Injector:
[code]

use it in a template (I tried with my

[2021-03-31 15:29] jakemcdermott commented on #9769
+1

[2021-03-31 15:42] jakemcdermott commented on #9747
Hello. Thanks for creating this issue.

I haven't been successful at reproducing this on devel:

![job_refresh](https://user-images.githubusercontent.com/9753817/113171835-df1b2a00-9215-11eb-9ba2-f7ee72427035.gif)

Do you see any websocket events in the network tab? And are sockets generally working in other places, like on job and project lists where the status icons are supposed to update?

[2021-03-31 15:49] jakemcdermott opened #9772 "Job output paginator can make requests to page 0 of job_events endpoint, resulting in unhandled 404"
It's possible for the job output paginator to produce a request to page 0, which returns an unhandled 404:

![Screenshot from 2021-03-31 11-48-29](https://user-images.githubusercontent.com/9753817/113173073-0b837600-9217-11eb-9962-eccdd4e1785f.png)

[2021-03-31 15:50] rchaud commented on #8409
@soulbrat @dvzuykov Do you guys have any input in how it can be for this setup?

Client -> LBaaS -> K8s Ingress -> AWX/Nginx container.

AWX/Nginx container is the awx container running nginx proxying to the application uswgi.

[2021-03-31 16:06] AlanCoding commented on #7775
@wenottingham are we thinking about any migration solution for this?

[2021-03-31 16:29] smithlabs commented on #9267
@brskq
Awesome. smithlabs on Element.

[2021-03-31 16:58] ghost commented on #9760
Still getting errors :
  **Warning  Failed     69s (x2 over 6m31s)  kubelet            Failed to pull image "quay.io/ansible/awx-ee": rpc error: code = Unknown desc = context canceled
  **Warning  Failed     69s (x2 over 6m31s)  kubelet            Error: ErrImagePull**
  **Warning  Failed     53s (x2 over 68s)    kubelet            Error: ImagePullBackOff****
  Normal   BackOff    53s (x2 over 68s

[2021-03-31 17:40] shanemcd commented on #9760
It might be a little tricky using Minikube but you could do it. I sometimes use SSH port forwarding too.

But those solutions are rather hacky. I would recommend following the instructions at https://github.com/ansible/awx-operator and deploying the AWX Operator into a real Kubernetes / OpenShift cluster with proper ingress configured.

To continue debugging your current issue, maybe try running `

[2021-03-31 17:40] shanemcd commented on #9760
I am going to close this since it doesn't seem like a bug in AWX itself. If you need more help or just want to chat, feel free to join us on IRC or on our mailing list:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-03-31 17:40] #9760 closed, assigned to nobody

[2021-03-31 18:31] chinochao commented on #8409
Actually, nvm, HTTP_X_FORWARDED_FOR, HTTP_TRUE_CLIENT_IP, REMOTE_ADDR, REMOTE_HOST seems to work for me. However, the issue is that Login failed for user xxxxxx does seems to have a different IP, but it seems to be related to the way the code is written.

https://github.com/ansible/awx/blob/9a61c4368784c421e47551e4175020ced116f56e/awx/api/generics.py#L104

[2021-03-31 19:09] tiagodread commented on #9772
PR already merged, verified locally and no requests happenning to page 0 anymore.

[2021-03-31 19:09] #9772 closed, assigned to jakemcdermott

[2021-03-31 20:56] michaeltcoelho commented on #9473
PR https://github.com/ansible/tower-qa/pull/6172

[2021-03-31 21:08] donald-talbert989 commented on #9610
Thanks for the temporary workaround @quasd . Changing the value to 50 and restarting the docker container worked.

[2021-03-31 22:33] unlikelyzero opened #9778 "[ui_next] Add edit button to workflow job output page"
##### ISSUE TYPE
 - Enhancement

##### SUMMARY
I was working with constructing a complicated workflow and needed two tabs open to make quick adjustments to the layout of a workflow from the workflow output page. A simple workflow viz editor button would have saved me some steps.

<img width="1037" alt="Screen Shot 2021-03-31 at 6 31 53 PM" src="https://user-images.githubusercontent.com/12446869/11

[2021-04-01 06:59] dimovstanimir commented on #9747
If you have some long playbook to be executed such as mines where I have playbooks taking more than 20 minutes I am only seeing blank output windows until the playbook has finished. So I am waiting around 20 minutes to see the whole log output in a second. Isn't it possible to see all the steps while they are executed and not wait for when the whole playbook has been finished so I would be able to

[2021-04-01 07:03] dimovstanimir commented on #9734
Thanks @shanemcd but I am wondering why would Ansible make this step to make our lives harder. Now I have to go and learn from now on how should I be able to adapt to their changes and start thinking of how to build my playbooks from now on in a new way. Why do people tend to break things that are working perfectly? :(

[2021-04-01 07:18] lemmy04 opened #9784 "AWX 18.0.0: Provide documentation about how to migrate an existing "local docker" install into a K9S-Based 18.0.0"
##### ISSUE TYPE
 - Documentation request

##### SUMMARY
There are no instructions provided about how would one migrate an existing "local docker" setup into a new AWX 18.0.0 setup.

##### ENVIRONMENT
* AWX version: Migration from 17.1.0 to 18.0.0
* AWX install method: mixed: 17.1.0 is "local docker", 18.0.0 is inside K9S with the AWX operator

[2021-04-01 08:03] tigattack commented on #9766
Also seeing this issue.

[2021-04-01 08:35] fabfabbar commented on #9604
for completeness this seems working but I write here as-is and so **ymmv**:

[code]

[2021-04-01 09:01] tigattack opened #9785 "Cannot sync Git project"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I am unable to clone ("sync") GitHub repos configured in SCM projects in AWX.
When attempting to sync, I see the following error:
[code]
I've been testing with https://github.com/ansible/tower-example.

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: docker (compose) on linux
* Ansible version: Host: 2.10.7, AWX: Unknown
* Operating Syst

[2021-04-01 09:45] ivan-1989 commented on #20
+1

[2021-04-01 12:17] Lejooohn commented on #9784
Ya agree it's should be good if an accurate documentation can be existed because i'm on the same situation (from local docker in 17.1.0) and i don't know how to migrate step-by-step without data lost.

Regards,

[2021-04-01 13:10] dimovstanimir commented on #9734
@shanemcd I created the file execution-environment.yml
dimov@vmeuwansm01:~/test_ee$ **cat execution-environment.yml**
**---
version: 1
dependencies:
  galaxy: requirements.yml**

and I also created the file requirements.yml

dimov@vmeuwansm01:~/test_ee$ **cat requirements.yml**
collections:
- name: chocolatey.chocolatey

but when I try to build the EE I am getting the below error.

dimov@vmeuwansm

[2021-04-01 15:14] pmanno opened #9787 "Notification Template - Parameterized Target URL"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Trying to use AWX to call back to TeamCity to finish agentless builds.  The callback URL must include an AWX extra_var.  Would like a way to template the Target URL so it could contain the passed in build number.  For example:

http://<teamcity.url>/app/rest/builds/id:<build_id>/log

Would also be great if the basic auth credentials could be templat

[2021-04-01 15:27] shanemcd commented on #9785
The development environment commits some sins in order to run Podman inside of docker. This works on _most_ machines, but I have seen this error pop up a few times and haven't been able to reproduce or identify a fix. If possible, I strongly recommend you to use the AWX Operator.

[2021-04-01 15:29] shanemcd commented on #9766
Sorry about this. A as a workaround, you can remove ` --cache-from=gcr.io/ansible-tower-engineering/awx_devel:HEAD` from the Makefile. A new release should be out sometime next week that will resolve this.

[2021-04-01 15:39] unlikelyzero commented on #7657
This needs to be updated in our tests

[2021-04-01 16:22] kdelee opened #9788 "Add ability to set instance groups on a job template in the tower_job_template module in the collection"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Right now to associate an instance group with a JT there is no way to do it from the `tower_job_template` module.

Only way I've figured out how to do it is with a `uri` module task after creating the job template, and this is not necessarily as nice as I'd like because it is not really able to ensure that this is the only instance group set and is

[2021-04-01 16:29] Rylon commented on #9602
I have a similar problem with the current version. Previously, upgrading AWX has been painful and fragile, so we've avoided doing it. I decided to finally look at the latest version and have a go at upgrading only to find the recommended approach is to use AWX Operator to deploy to Kubernetes.

We're not using Kubernetes, so this is not an option for us. Looking at the compose approach it seems to

[2021-04-01 16:30] #9473 closed, assigned to michaeltcoelho, beeankha

[2021-04-01 16:40] sean-m-sullivan commented on #9788
should be an association that we can add to our many association we have.

[2021-04-01 16:54] shanemcd commented on #9602
Hi folks. Thank you for the feedback.

AWX is a free project, with no guarantee of stability. While we have a lot of users, our team is fairly small and we simply do not have the resources to produce and maintain comprehensive documentation for the upstream community.

That being said, this is an open source project and you are free to contribute in areas you feel is lacking.

If you are unable to

[2021-04-01 16:54] #9602 closed, assigned to nobody

[2021-04-01 21:48] JAndritsch commented on #8884
Edit: My problem was that I needed to run `npm run extract-strings` and then `npm run compile-strings` before `npm run build`.

I'm currently seeing this issue on 17.0.1.

My browser is set to English. The fix from the merge above appears in this version of the code. When I run the UI in development mode via `npm start`, translations work fine. However, when I create a production bundle via `npm r

[2021-04-02 00:53] wenottingham commented on #7775
If practical: dump the script to the local filesystem somewhere just as a reference. No migration of sources; they will fail to update on upgrade.

[2021-04-02 02:11] ronjarrell commented on #9730
Any thoughts how to track this down?  My first thought is that there's a variable set wrong and project_update.yml is looking at the wrong base dir.  I know I had to use the api to set the location of my inventory file because when I went to the inventory file pulldown it only listed the files in the root, and wouldn't let me type in "inventories/projectname" which is the inventory directory for t

[2021-04-02 08:55] dangoncalves opened #9789 "Customizing playbook-dir"
##### ISSUE TYPE
 - Be able to customize playbook-dir for end-user

##### SUMMARY
Assuming we have the following tree
[code]

With the following content for some_plugins.yml
[code]

If I create an inventory inside awx using some_plugins.yml as source, I have this error:
[code]

If I go verifying the job_args in the api, I have this:
[code]
What is interesting here is that the `--playbook-dir` flag

[2021-04-02 14:10] minsis opened #9790 "Configure individual nodes in a cluster for mutli-datacenter setup"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
When you have a cluster in multiple datacenters you should be able to configure each node's settings individually. Maybe not all settings need to be this way but things like logging, authentication, and optionally database maybe a few others should be.

As an example we have 3 nodes in our cluster all in different datacenters, but for auth it all poi

[2021-04-02 14:10] stanislaspiron commented on #9716
I had the same issue. I used the following workaround :

I created a new instance group with:

[code]
then, in the template, I define this instance group.

[2021-04-02 16:37] unlikelyzero opened #9791 "[ui_next] Add All/Any workflow viz indication to Workflow Viz Legend/Key"
##### ISSUE TYPE
 - Enhancement

##### SUMMARY
Users viewing a workflow Viz may not understand what Any/All means. At the moment, it's only described within the tooltip of the edit node wizard.

We should update the legend/key to describe what 'All' means.

<img width="237" alt="Screen Shot 2021-03-31 at 6 21 27 PM" src="https://user-images.githubusercontent.com/12446869/113435104-276e4f80-93b0-11

[2021-04-02 16:44] unlikelyzero opened #9792 "[ui_next] Highlight links to a node when hovering over a node in workflow viz"
##### ISSUE TYPE
 - Feature

##### SUMMARY
While testing complicated workflows, it became difficult to determine which workflow node's links were connected to other nodes. Example here:

<img width="818" alt="Screen Shot 2021-03-31 at 2 56 55 PM" src="https://user-images.githubusercontent.com/12446869/113435595-21c53980-93b1-11eb-899b-891e84b66f1e.png">

It would be great if we added the ability t

[2021-04-02 16:47] unlikelyzero opened #9793 "[ui_next] Approval Node Min and Seconds are not properly formatted on workflow viz node editor wizard"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
<img width="1125" alt="Screen Shot 2021-03-31 at 2 41 11 PM" src="https://user-images.githubusercontent.com/12446869/113435788-82547680-93b1-11eb-8761-c81c46162bc1.png">

[2021-04-02 17:06] unlikelyzero opened #9795 "[ui_next] Many websocket connections created and maintained while navigating through app"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Note: this was on a yolo'd instance -- not a local dev build.

Many websocket connections created while navigating through app. This is normally the case when using 'Disable cache' on chrome, but appears with that option disabled.

Some appear to be duplicated.
On the Workflow Job Output page, I've seen up to 4 active connections.

##### ENVIRONMENT
*

[2021-04-02 17:12] unlikelyzero opened #9796 "[ui_next] Z-depth of node link can be masked in certain scenarios. Prevents link modification"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Z-depth of node link can be masked in certain scenarios. Prevents link modification

<img width="818" alt="Screen Shot 2021-03-31 at 2 56 55 PM" src="https://user-images.githubusercontent.com/12446869/113437698-170ca380-93b5-11eb-8baa-065f450604c1.png">

[2021-04-02 18:52] abcqwertz commented on #9730
According to the tower docs (https://docs.ansible.com/ansible-tower/latest/html/userguide/projects.html) this command is executed, when syncing projects with requirments:
[code]
Can you try that and paste the output here? Also how does your requirements.yml file look like?
For myself I only use collections from Ansible Galaxy in a folder collections/requirements.yml, which works fine.

[2021-04-02 19:15] jamesmarshall24 opened #9798 "Add Logging or Indicator when Facts Cache is Cleared"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Add an indicator in Tower activity stream or in logging when fact caching for a host is cleared.

The meta module does not appear to be logged at all in the job_events endpoint, so there is no way to tell when they were cleared unless you confirm facts list is empty at the same time as checking `ansible_facts_modified` for the host. Otherwise, there

[2021-04-02 23:28] wardcomm opened #9799 "you can not add a new schedule for template [ no add available]"
you can not add a new schedule for template [ no add available]

[2021-04-03 12:40] OneHappyForever commented on #9768
How did you fix it? I have the same error.

[2021-04-03 13:24] lerminou commented on #9768
The same way as my other bug here :
https://github.com/ansible/awx/issues/9753
In the UI > instance groups > tower : modify the default pod definition
Mount a volume with my local collections...

[2021-04-03 13:51] OneHappyForever opened #9801 "AWX 18.0 cannot process Collections"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm running a playbook that requires community.general. I've added it in the collections/requirements.yml, and when pulling from the github image, it successfully downloads the collection. However, when running the template, it fails:

 ERROR! couldn't resolve module/action 'community.general.make'. This often indicates a misspelling, missing collectio

[2021-04-03 13:58] OneHappyForever commented on #9768
I see.

I'm trying to figure out how to write the config. Do you have an example for this particular case (not SSH)?

Also, shouldn't AWX fix this issue with the requirements file failing?

[2021-04-03 14:56] lerminou commented on #9768
Yes it's just a workaround and I hope a real fix for this

Here is my working copy

On your host :
[code]

On the UI definition
[code]

[2021-04-03 17:25] banshee091 commented on #9801
Have the same problem. Tried already building a custom execution enviroment, still failed while running.

[2021-04-03 19:29] LokiOfNorse opened #9805 "Inventory Handling"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Groups:
Not able to create universal groups or to add more then on inventory to one group.
Can not create group to add hosts

Smart Inventory:
Doesnt work.

##### ENVIRONMENT
* AWX version: 17.0.1
* AWX install method: docker in virtual environment
* Ansible version:  2.9
* Operating System: Ubuntu 20.04
* Web Browser: Firefox and Safari

##### STEPS T

[2021-04-03 19:32] LokiOfNorse commented on #9805
Inventory Groups is ok. (I misunderstood this).
Issue just regards Smart Inventory.

[2021-04-03 19:54] lerminou commented on #9801
Workaround available here: https://github.com/ansible/awx/issues/9768

[2021-04-03 20:58] shanemcd commented on #9801
This should be fixed in a release sometime early-mid next week.

[2021-04-03 21:40] stanislaspiron commented on #9768
You can build your own ee image with ansible-builder

Following link describe how I did

https://github.com/stanislaspiron/microk8s_awx/blob/main/EE/ansible-ee-building.md

[2021-04-04 04:28] ronjarrell commented on #9730
The problem is we never get *to* trying the ansible-galaxy command because it swears the requirements.yml file isn't there.  The debug snippet above is from project_update.yml, the code in question is below:
[code]

It's looking to see if there's a requirements.yml or a requiremens.yaml file, and if so, ansible-galaxy them.  It's registering false for both, despite the fact that if I go to /var/li

[2021-04-04 21:51] smithlabs commented on #9267
@brskq
Hi, not sure if you got the previous reply. I'd still like to connect with you on Element. My username on there is smithlabs.

Thanks

[2021-04-04 22:19] BrandonALXEllisSS opened #9806 "irc.freenode.net changed to webchat.freenode.net, add this to README."
Please change all mentions of irc.freenode.net to webchat.freenode.net in the README since it appeared to have moved

[2021-04-04 23:00] BrandonALXEllisSS opened #9807 "Need a way to auto-generate krb5.conf on Kubernetes deployments"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

As far as I can tell, there are no parameters in the 17.1 install playbook or 18.0 operator that allow you to configure the kinit realm information (set in the krb5.conf file) without rebuilding the image to include a krb5.conf file. (If there is a way to set this information, please let me know).

The closest thing I could think of is editing the c

[2021-04-05 00:31] someconservator opened #9808 "how to use this minikube-awx?"
Ok, I installed awx on the minikube using the provided tutorial. Now I have it running in a container with a cni podman local IP address accessible from the local server. And I can look at this using my local browser. Nice! And what to do next? What is the recommended way to get access from/to other servers? Especially when awx starts with different cni addresses each time. Do I need to log into t

[2021-04-05 09:43] minyor commented on #9704
Can someone share an instructions as to how to install AWX 17.1.0 through operator or sources, docker or any method really, so that one can install stable bug-less version of AWX and use it, whilest latest is being fixed?
Help please?
I would really appreciate it..

[2021-04-05 14:00] AlexSCorey commented on #9799
@wardcomm f you are filing a bug please use the bug template so that we can better understand and solve the problem.
 https://github.com/ansible/awx/issues/new?assignees=&labels=&template=bug_report.md

[2021-04-05 14:09] jlmitch5 commented on #7669
This has been verified cc @unlikelyzero

[2021-04-05 14:09] #7669 closed, assigned to jlmitch5

[2021-04-05 15:05] wenottingham commented on #9805
-> #1999

[2021-04-05 15:05] #9805 closed, assigned to nobody

[2021-04-05 15:06] wenottingham commented on #9808
This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

http://webchat.freenode.net/?channels=ansible-awx
https://groups.google.com/forum/#!forum/awx-project

[2021-04-05 15:06] #9808 closed, assigned to nobody

[2021-04-05 15:09] wenottingham commented on #9798
This is already logged:

https://github.com/ansible/awx/blob/devel/awx/main/models/jobs.py#L894

Activity stream is the wrong place for this (you don't want 10000 entries for a large inventory

[2021-04-05 15:15] gforster commented on #2684
this would be a massive benefit to the end user and for debugging as mentioned

[2021-04-05 15:38] tiagodread commented on #9770
PR merged, test in place, closing this.

[2021-04-05 15:38] #9770 closed, assigned to nixocio

[2021-04-05 15:44] tiagodread commented on #9207
@one-t can we close this? I think this was tested here https://github.com/ansible/awx/pull/9570 right?

[2021-04-05 15:45] wenottingham commented on #9806
See https://github.com/ansible/awx/pull/9811, this is fixed in the head of the repo now.

[2021-04-05 15:45] #9806 closed, assigned to nobody

[2021-04-05 16:25] Gortex opened #9812 "GCP Dynamic Inventory"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

 - UI

##### SUMMARY

It would appear I am unable to tell the GCP Dynamic Inventory to use another instance IP address / NIC via source / extra variables.  This means that the dynamic inventory wants to use the external IP instead of the internal IP address, and ultimately fails connectivity tests.

I can solve this problem in the AWS dynami

[2021-04-05 16:33] unlikelyzero commented on #5990
tested and coverage added

[2021-04-05 16:33] #5990 closed, assigned to nobody

[2021-04-05 16:43] jamesmarshall24 commented on #9798
@wenottingham
Looks like this just goes to an external logger through the log aggregator? I'm not seeing an indicator of facts being cleared in the k8s/ocp logs at all.

[2021-04-05 16:49] wenottingham commented on #9798
Correct, it goes to the external logger under 'system tracking' category.

[2021-04-05 18:22] renat473 commented on #4675
When the job and release it saves everything in the tmp and in the dest parameter it puts the full path next to the dest
ends up being like this "dest": "/ tmp / awx_47__hm6f5ms / project / opt / backup_pfsense"
when the correct one would be "this": "/ opt / backup pfsense"

[2021-04-05 18:23] renat473 opened #9816 "AWX Execute Playbook temp directory no save file"
When the job and release it saves everything in the tmp and in the dest parameter it puts the full path next to the dest
ends up being like this "dest": "/ tmp / awx_47__hm6f5ms / project / opt / backup_pfsense"
when the correct one would be "this": "/ opt / backup pfsense"

##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* AWX install method: openshift, minis

[2021-04-05 18:54] wenottingham commented on #9816
This is not a bug, playbooks run in a private namespace (and in AWX 18, their own container).

[2021-04-05 18:54] #9816 closed, assigned to nobody

[2021-04-05 19:06] ghost commented on #9784
Same situation here

[2021-04-05 19:34] jakemcdermott opened #9817 "CSP violation errors on job details and job settings views"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
- dev environment, `make ui-devel`, port `8043`

##### STEPS TO REPRODUCE
- run `make ui-devel` to create a production bundle of the ui
- using port `8043` in the dev environment, navigate to the job details panel of a job template run or go to the job settings page

##### EXPECTED RESULTS
- no CSP errors in console

##### ACTUAL RES

[2021-04-05 19:58] jakemcdermott commented on #9795
@unlikelyzero nice find :+1:

When you get a moment, can you share details on how to specifically verify this / what was indicating to you that there were multiple connections?

[2021-04-05 20:01] jakemcdermott commented on #9799
@wardcomm Not sure how to reproduce. Adding a schedule to a template seems to work fine when I tried:

![add_schedule](https://user-images.githubusercontent.com/9753817/113620311-27788480-9628-11eb-8ebb-e393e16e43f6.gif)

[2021-04-05 20:10] #9207 closed, assigned to nobody

[2021-04-05 20:19] someconservator commented on #9808
Yes, it’s a question of the popularity of your application and the number of users who are interested in it, and not passed by. The tower is expensive, this is not working. Well, why waste time about him? There will be a lot of people who think so, especially if there are competitors. Instead, the team can add a couple, another paragraphs to the manual. But whatever you like, of course. usually pe

[2021-04-05 20:39] shanemcd commented on #9807
Going to close this in favor of the issue referenced above ^

[2021-04-05 20:39] #9807 closed, assigned to nobody

[2021-04-05 20:41] shanemcd commented on #9753
Going to close this issue in favor of https://github.com/ansible/awx-operator/issues/175

[2021-04-05 20:41] #9753 closed, assigned to nobody

[2021-04-06 09:09] dimovstanimir commented on #9734
@shanemcd Is there a way to work with the latest Ansible AWX 18.0.0 but without the Execution Environments as it seems too complicated for me?

[2021-04-06 13:50] localsnet commented on #9766
Hi. I've built it but with second attempt. Containers strated, but in browser see:
[code]
I can't troubleshooting because Docker way become very complicated, I feel like AWX force us  cancel this way in favor K8S, but it ovekill for me to learn new technology and load my server  with it... Pity.

[2021-04-06 13:54] shanemcd commented on #9766
@localsnet Did you read the docs? https://github.com/ansible/awx/blob/devel/tools/docker-compose/README.md#clean-and-build-ui

[2021-04-06 14:26] localsnet commented on #9766
@shanemcd you right I missed next steps, thank you.
But after a while when I ran
`docker exec tools_awx_1 make clean-ui ui-devel`
I got this
[code]
Stopped containers run again and repeated, but result the same.

[2021-04-06 14:32] localsnet commented on #9766
Ok, for now I stay with old release.

[2021-04-06 14:33] nixocio commented on #9323
This issue was already addressed.

[2021-04-06 14:33] #9323 closed, assigned to nixocio

[2021-04-06 17:24] ryanpetrello commented on #9610
@jakemcdermott do you have any ideas here?  The suggested fix above makes me wonder if the UI has a bug that doesn't properly page through all credential types.

[2021-04-06 17:32] ryanpetrello commented on #9624
duplicate of https://github.com/ansible/tower/issues/4922

[2021-04-06 17:32] #9624 closed, assigned to nobody

[2021-04-06 17:44] unlikelyzero commented on #9795
To summarize (and expand in the future):
- Functionality is not impaired
- Multiple websockets connections are initialized on pages which use websockets. All but one are closed on a page refresh or page navigation.
- Job Output pages appear to leave connections open
- Some of the websocket connections appear to be exactly duplicated (potentially from useEffect hook duplication).

Further explorati

[2021-04-06 17:50] unlikelyzero commented on #9610
@ryanpetrello that's the issue OR these users are not system admin users and we're pulling the wrong RBAC endpoint.

In our tests, we only have 5-10 credentials at a given time OR we mock out 200+

[2021-04-06 17:55] unlikelyzero commented on #8428
We will need to add 2-3 checks for href links to the cypress tests.

1. for ansible core
2. for a context-specific guide like workflow viz
3. for a generic doc link

[2021-04-06 18:05] nixocio commented on #7777
After feedback from @shanemcd, it was decided to use the same implementation details from the old ui.

[2021-04-06 18:58] AlanCoding commented on #7775
@jbradberry what should expectations be for import/export where a user made use of custom inventory scripts in a prior version?

[2021-04-06 19:02] shelkro commented on #2350
+1 please add this feature.

[2021-04-06 19:24] msilmser opened #9823 "Allow playbooks to be called in job templates directly from collections"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Currently playbooks can be called from collections via includes or imports. However, some customers may have a desire to call playbooks inside of downloaded collections directly from the job template menu.

[2021-04-06 20:03] dburns-vistra opened #9826 "Documentation for existing Kubernetes and external DB"
##### ISSUE TYPE
 - Bug Report - Docs

##### SUMMARY
Assistance for using an existing Kubernetes and external DB

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: kubernetes
* Ansible version:  2.9.x?
* Operating System:AWS Linux2
* Web Browser:Chrome

##### STEPS TO REPRODUCE

I plan to spin up an EKS cluster and Postgres SQL AWS RDS

##### EXPECTED RESULTS

I don't plan to install M

[2021-04-06 20:05] shanemcd commented on #9826
This is documented here: https://github.com/ansible/awx-operator#external-postgresql-service

[2021-04-06 20:05] #9826 closed, assigned to nobody

[2021-04-06 20:17] jakemcdermott commented on #9036
@hjkatz

Would you say that the rest of this issue is covered by #9128? If so we'll close this one and focus our efforts on #9128

[2021-04-06 20:20] jakemcdermott commented on #9058
"It's fixed" - john

[2021-04-06 20:20] #9058 closed, assigned to nobody

[2021-04-06 20:24] jakemcdermott commented on #9115
Additional notes on expected behavior - The auto-redirect should only kick-in when there is exactly one SSO provider configured. If there is more than one then we don't redirect

[2021-04-06 20:25] jakemcdermott commented on #9126
Also:

"Sign in"
"Login"

(Should pick one, or at least not show both on the same page)

[2021-04-06 20:32] marshmalien commented on #9127
There is a pattern in the multi-credential lookup modal where we show a help banner when a user selects "Vault" credentials. We should show a similar banner telling the user that "order matters" in the new UX.
<img width="1109" alt="Screen Shot 2021-04-06 at 4 28 47 PM" src="https://user-images.githubusercontent.com/15881645/113774532-6a545e00-96f5-11eb-9bae-6b5fcaf28e0f.png">

[2021-04-06 20:32] jakemcdermott commented on #9795
^ Plan is to verify and then we can scope further

[2021-04-06 20:36] wenottingham commented on #9823
Given execution environments, I'm not sure this is the right way to solve this - it probably needs a higher level concept.

[2021-04-06 20:40] tiagodread commented on #7603
@one-t can we close this?

[2021-04-06 20:45] MrAmbiG commented on #4166
For those who want to have a quick running awx on your kubernetes, just use the awx operator which will do the job but unfortunately it won't allow us to install a specific version of awx.
It is so unfortunate that @redhat @ibm  has made it so unnecessarily difficult for those who want try their flagship devops/automation product. There are a lot of helm charts which install much complicated syste

[2021-04-06 20:46] tiagodread commented on #9109
The pull option was already added on UI

[2021-04-06 20:46] #9109 closed, assigned to nobody

[2021-04-06 20:48] #7603 closed, assigned to mabashian

[2021-04-06 20:52] tiagodread commented on #9817
I can't see these CSP errors in console anymore

[2021-04-06 20:52] #9817 closed, assigned to nobody

[2021-04-06 20:56] unlikelyzero commented on #9795
When visiting a running install:

[code]

[code]

When navigating between pages and logging out:
[code]

[2021-04-06 20:58] tiagodread commented on #6663
Verified that:

sys admin still can create wfjt without org
wfjt org field is required for org admins

[2021-04-06 20:58] #6663 closed, assigned to nobody

[2021-04-06 21:00] unlikelyzero commented on #8769
coverage added

[2021-04-06 21:00] #8769 closed, assigned to nobody

[2021-04-06 21:33] tiagodread commented on #9187
Verified that the user can only delete finished jobs 👍🏽

[2021-04-06 21:33] #9187 closed, assigned to nixocio

[2021-04-06 21:35] hjkatz commented on #9036
@jakemcdermott Yeah I think it's covered. In a broader sense I think @AlanCoding has a grander view for how to help fix the RBAC and permissions system in AWX. His comment here enlightened me greatly to the underlying structural constraints: https://github.com/ansible/awx/issues/9128#issuecomment-765649920

[2021-04-06 21:35] #9036 closed, assigned to nixocio

[2021-04-06 22:30] pmanno opened #9828 "Parameterize Version in Requirements.yml"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I have a base project with all my playbooks.  In that repo I have a roles/requirements.yml file that references all my custom roles. Everything is on the master branch at the moment. Now I want to support branching in my ansible roles.  I would love it if I could just pass in a branch name to the main project sync and have that branch name apply not

[2021-04-07 07:24] lemmy04 opened #9829 "AWX 18.0.0 in Kubernetes: ansible version is not shown (not detected)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX 18.0.0 deployed in K3s with the operator, "Info->About" shows "ansible version: unknown"

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: kubernetes (k3s) using the awx operator
* Ansible version:  unknown (see above)
* Operating System: K3s running on debian buster
* Web Browser: Firefox 87

##### STEPS TO REPRODUCE
deploy AWX 18 in

[2021-04-07 07:30] lemmy04 opened #9830 "Branding issue: AWX 18 in K3s uses the awx icons and logos everywhere except "info->about""
##### ISSUE TYPE
 - Bug Report (branding)

##### SUMMARY
When I look at "Info->About" I see the "angry potato" logo instead of the AWX logo

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: K3s using awx-operator
* Ansible version:  unknown (see #9829)
* Operating System: K3s on debian buster
* Web Browser: Firefox 87

##### STEPS TO REPRODUCE

Deploy AWX 18.0.0 on K3s using the awx o

[2021-04-07 08:37] But4ler opened #9831 "Web interface doesn't refresh automatically job progress"
##### ISSUE TYPE
Bug Report

##### SUMMARY
I don't have real time job logs like in the previous version we had (v11)

a refresh of the page is necessary, the tasks already executed, but not the one in progress and the following ones.

##### ENVIRONMENT
AWX version: 17.1.0
AWX install method: kuberntes
Web Browser: chrome and firefox

##### STEPS TO REPRODUCE
It can happen when submitting any jobs.

[2021-04-07 08:44] alankuras opened #9832 "Add the support for workflow job templates in tower_schedule module"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

awx.awx.tower_schedule doesn't support the workflow job template, while the API supports that :
https://docs.ansible.com/ansible-tower/latest/html/towerapi/api_ref.html#/Workflow_Job_Templates/Workflow_Job_Templates_workflow_job_templates_schedules_create

[2021-04-07 10:14] dperez-sct opened #9833 "18.0.0 Inventory with Satellite 6 don't sync"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Trying to sync Satellite 6.8.4 inventory to AWX 18.0.0 fail.
With 17.1.0 works without problem

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: openshift
* Ansible version:  ansible-inventory [core 2.11.0b3.post0]?
* Operating System: Openshift 4

##### STEPS TO REPRODUCE

Create Satellite credentials
Create a inventory
Create a Source us

[2021-04-07 10:53] fabfabbar commented on #9831
+1

[2021-04-07 11:21] lemmy04 opened #9834 "AWX 18.0.0 - telegram module is missing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
the telegram ansible module is missing in AWX 18

##### ENVIRONMENT
* AWX version: 18.0.0
* AWX install method: k3s, awx-operator
* Ansible version:  unknown, see #9829
* Operating System: debian buster
* Web Browser: Firefox 87

##### STEPS TO REPRODUCE

A tried and trusted playbook of mine fails to execute from within AWX 18, it used to work fine in

[2021-04-07 11:22] lemmy04 commented on #9834
Actually, ad-hoc commands fail as well:

[code]

[2021-04-07 11:30] ryanpetrello commented on #9829
Hey @lemmy04,

This should be addressed in the next version of AWX:

https://github.com/ansible/awx/pull/9697

It'll actually be addressed by no longer displaying this information, because as of AWX 18, there's no longer a "global" version of ansible installed under the hood - it's dependent on the Execution Environment used on the job, and it's only available inside of the container(s) where play

[2021-04-07 11:30] #9829 closed, assigned to nobody

[2021-04-07 12:55] lucab85 commented on #9434
I confirm that with #9673 solves the issue.
I was able to test the reproducer on Windows 2012 and Windows 2016 machines and this is the output after #9673:
[code]
The connection was successful after the first try on Windows 2012 and Windows 2016 machines.

[2021-04-07 13:04] banshee091 commented on #9768
After trying to get a custom EE to run, this fixed my problem. For now: If you try to use a custom EE, you will need to pull it in your instance-group. This might be intentional, but I thought you should be able to pull containers through the EE-Settings, without changing the instance-group.
Anyway: Thanks a lot!

[2021-04-07 13:10] shanemcd commented on #9834
This module has been moved out of Ansible and into a collection: https://docs.ansible.com/ansible/latest/collections/community/general/telegram_module.html

You will need to create a requirements.yml in your project to pull this in, or build your own EE.

[2021-04-07 13:10] #9834 closed, assigned to nobody

[2021-04-07 13:13] shanemcd commented on #9801
Seems like a dupe of https://github.com/ansible/awx/issues/9768.

[2021-04-07 13:13] #9801 closed, assigned to nobody

[2021-04-07 13:14] shanemcd commented on #9768
This should be fixed in a release coming out **today**.

**Note** that if you have customized your pod spec you will need to revert to the default and build on top of that. The major change is the removal of this part:

[code]

[2021-04-07 13:18] #9434 closed, assigned to nobody

[2021-04-07 13:28] lemmy04 commented on #9829
that makes sense. would there be a way to inspect the different EE's for the versions of ansible inside?

[2021-04-07 13:40] ryanpetrello commented on #9829
AWX doesn't proactively do this and report it in the API, but it's something we could maybe do as an enhancement somewhere down the line.

[2021-04-07 13:41] ryanpetrello commented on #9434
Thanks @lucab85!

[2021-04-07 14:57] jbradberry commented on #7775
@AlanCoding to my best recollection, inventory scripts are not even supported in awx-cli import/export.  Do we care enough about these things to leave an API endpoint active (and marked as deprecated) for a release cycle, and make them available to export?  I'm thinking that the answer is probably 'no', but if we do, I don't imagine it would be difficult to support the export.

[2021-04-07 15:09] diogoattall opened #9837 "AWX - Manual Projects"
Hi,

I have installed AWX following the documentation in https://github.com/ansible/awx/blob/devel/INSTALL.md, so with docker + minikube.

I'm trying to setup the awx according to my current ansible environment, but I'm facing an issue regarding manual projects.

When I try to create new projects and select Source Control Credential Type as Manual, it doesn't allow me to select playbook directory:

[2021-04-07 15:14] shanemcd commented on #9837
A PR for this just merged and should be out in a release later today: https://github.com/ansible/awx-operator/pull/177

Even then, if you're just creating those files on the host and expecting them to show up inside of your Kubernetes pods, that won't work. You will need to do something like:

[code]

[2021-04-07 15:14] #9837 closed, assigned to nobody

[2021-04-07 15:24] MrAmbiG opened #9838 "Pin down awx version via awx operator"
##### ISSUE TYPE
 - Feature Idea
Please let us mention or pin down the awx version in the awx CRD or via operator. Currently I believe by default it deploy 18.x but what if tomorrow another newer version comes and the operator always deploys the latest, which might break our code running on awx 18 to break on 19 or later.
##### SUMMARY

[2021-04-07 15:28] shanemcd commented on #9838
See https://github.com/ansible/awx-operator/issues/182

[2021-04-07 15:28] #9838 closed, assigned to nobody

[2021-04-07 15:34] jakemcdermott commented on #9830
@unlikelyzero This relates to branding, so I'm re-assigning the original priority of `high`

[2021-04-07 15:35] jakemcdermott commented on #9831
:wave: Hello This should be resolved in the latest version (18.0.0+). Can you try it there?

[2021-04-07 15:40] unlikelyzero commented on #9830
Got it. I have been using severity=priority but that makes more sense

[2021-04-07 16:00] wnukadrian commented on #9552
Any update?

[2021-04-07 16:10] dsmaugy commented on #9704
Doing this allows me to create the inventory source, but it seems like running any job on that inventory still fails:
[code]

Looks like [@balonik ](https://github.com/ansible/awx/issues/9704#issuecomment-808024403) came across the same problem.

[2021-04-07 16:15] beeankha commented on #8604
PR https://github.com/ansible/awx/pull/9804 takes care of `tower_inventory`, `tower_job_template` and `tower_organization` modules and has been merged! :tada:

[2021-04-07 17:53] tiagodread opened #9842 "Help link on PageHeaderToolBar duple //"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Help link on PageHeaderToolBar duple //
related to this change https://github.com/ansible/awx/pull/9815

##### STEPS TO REPRODUCE

1. Click on help link on toolbar